[2017-02-22 06:50] #11593 closed

[2017-02-22 06:53] CyrusNajmabadi commented on #17239
For the reasons i gave in my post :)   The System.Type may not have come from a CSharpSyntaxTree.  It may contain contents that might not even be expressible in C#.

As i said, you can "generate the *approximate* source code".   Technically Roslyn has some support for this.  It's how we provide, for example, the go-to-definition support for Metadata-Types.  However, it's very basic.  For example,

[2017-02-22 06:58] CyrusNajmabadi commented on #17239
Here's a simple example: In IL you might have a member marked as "FamANDAssem".  i.e. it's both "protected *AND* internal" not the standard C# "protected (*OR*) internal".  How would you represent this code in a CSharpSyntaxTree?

[2017-02-22 07:05] HamedFathi commented on #17239
@CyrusNajmabadi , You right.

The way might be enough for me Can you show me (a blog post, an article, a snippet code) How can I use roslyn for getting this **approximate source code** ?

thanks for your clarification

[2017-02-22 07:11] CyrusNajmabadi commented on #17239
[SyntaxGenerator](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs) is the primary API for doing this sort of thing.

[2017-02-22 08:17] TheOtherSamP commented on #11773
@CodeSingularity It may perhaps be possible, though I suspect it would be tricky. I'm no expert on these matters, but I think a change would have to be made to how type names are typically stored, though I'm not sure. I also don't know if this would necessarily be a backwards compatibility breaking change.

If the constraint were implicit, then addressing `Animal` where it was implicitly `Animal<T

[2017-02-22 08:22] chucker opened #17296 "C#7 change in behavior: can no longer mix comparison operator with bitwise operator"
**Version Used**:
This issue occurs in VS Enterprise 2017 RC 15.0.0-RC.4+26206.0 (with presumably C# 7). It does not occur in 14.0.25341.01 Update 3 (C# 6).

**Steps to Reproduce**:

1. Use the following code:

[code]

2. Paste it into a Visual Studio 2015 C# project.
3. Also paste it into a Visual Studio 2017 RC project.

**Expected Behavior**:

Both should behave identically, or at least explain

[2017-02-22 08:32] 0xd4d opened #17297 "No warning if there's an assignment to the same variable with a throw expression on the right hand side of a null-coalescing operator"
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

[code]

**Expected Behavior**:

If the right hand side is a throw expression, I expect `warning CS1717: Assignment made to same variable; did you mean to assign something else?` or a similar warning.

**Actual Behavior**:

No warning.

[2017-02-22 08:33] TheOtherSamP commented on #11773
I need to think about this more before I commit to anything, but I'm not so sure that this should only be applicable to abstract classes anymore. It may also work on unsealed classes, allowing you to pass that class itself as the type. To give an example

[code]

Ahh, I see now why I disallowed this before. I think this would be useful were it possible (if it's not a child, `TSelf` would be `SomeB

[2017-02-22 08:46] alrz commented on #17297
It's not just `throw`, ?? operator doesn't do that at all. Probably belongs to warning waves.

[2017-02-22 08:51] 0xd4d commented on #17297
This issue is only about throws on the right hand side. It's new in C#7 and thus wouldn't need a warning wave. Also, I expect many people to convert the old `if(x) throw new Y() x=x` with `x=x??throw new Y()`, and when they do, they won't get a warning.

[2017-02-22 09:20] Thaina commented on #9932
@HaloFour

I think compiler could workaround this issue by transpiling nullable method without constraint to be 2 method. So we might not need to wait for CLR

[code]

The only downside is, if we have multiple nullable parameter it will need to generate 2^n method while transpiling

[2017-02-22 10:53] miloush commented on #17296
Note that if you use constant number instead of name it works, that itself isn't good. Introducing local constant fix for example would break it. Except it is already broken - if you try to put a constant number there and introduce local const for it, the renaming refactoring marks it as a conflict.

[2017-02-22 10:58] miloush commented on #17279
@generateui could you give couple of "useful Unicode symbols" you would like to use as symbol names?

While I am all for Unicode support the current rules seem quite reasonable to me (at least in the context you are discussing). I would definitely keep the math operators unavailable for the case if custom operators would be introduced in the future.

Also note that fixing #13474 will extend the va

[2017-02-22 11:07] miloush commented on #17275
Also see #16053 for discussion and the current behavior.

This is the same issue as `tn` case mentioned there. Not the `MF` case though.

[2017-02-22 12:02] AdamSpeight2008 commented on #16130
[Ported to VBLang](https://github.com/dotnet/vblang/issues/20)

[2017-02-22 12:02] #16130 closed

[2017-02-22 12:05] AdamSpeight2008 commented on #15628
[Ported to VBLang](https://github.com/dotnet/vblang/issues/21)

[2017-02-22 12:05] #15628 closed

[2017-02-22 12:08] AdamSpeight2008 commented on #14604
[(Ported to VBLang)](https://github.com/dotnet/vblang/issues/22)

[2017-02-22 12:08] #14604 closed

[2017-02-22 12:10] AdamSpeight2008 commented on #15458
[(Ported to VBLang)](https://github.com/dotnet/vblang/issues/23)

[2017-02-22 12:10] #15458 closed

[2017-02-22 12:12] AdamSpeight2008 commented on #13440
[(Ported to VBLang)](https://github.com/dotnet/vblang/issues/24)

[2017-02-22 12:12] #13440 closed

[2017-02-22 12:15] AdamSpeight2008 commented on #13167
[Duplicate]( https://github.com/dotnet/vblang/issues/21)

[2017-02-22 12:15] #13167 closed

[2017-02-22 12:16] AdamSpeight2008 commented on #13283
[Ported to VBLang](https://github.com/dotnet/vblang/issues/25)

[2017-02-22 12:16] #13283 closed

[2017-02-22 12:18] AdamSpeight2008 commented on #12971
[Ported to VBLang](https://github.com/dotnet/vblang/issues/26)

[2017-02-22 12:18] #12971 closed

[2017-02-22 12:21] AdamSpeight2008 commented on #11767
[Ported to VBLang](https://github.com/dotnet/vblang/issues/27)

[2017-02-22 12:21] #11767 closed

[2017-02-22 12:24] AdamSpeight2008 commented on #11165
[Ported to VBLang](https://github.com/dotnet/roslyn/issues/11165)

[2017-02-22 12:24] #11165 closed

[2017-02-22 12:50] 0xd4d commented on #17296
Perhaps this was fixed by #16834 ?

[2017-02-22 13:05] AdamSpeight2008 commented on #10293
[Ported to VBLang ](https://github.com/dotnet/vblang/issues/29)

[2017-02-22 13:32] Evangelink opened #17300 "Always true conditions in SyntaxPath.cs"
**Version Used**: master
**Steps to Reproduce**:

1. [L73](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Utilities/SyntaxPath.cs#L73)
2. [L102](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Utilities/SyntaxPath.cs#L102)
3. [L116](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Utilities/SyntaxPath.cs#L116)

**What's

[2017-02-22 15:46] #11958 closed

[2017-02-22 16:20] Pilchie commented on #17300
Want to take a look and clean this up some?

[2017-02-22 16:37] philippe-lavoie commented on #15559
Thanks, glad it's being looked at. It's always unsettling when you need to accrue technological debt and can't leverage the latest supported version of a library. Roslyn and VSIX should easily worked together as VSIX is a perfect candidate for Roslyn. I think the same thing for Analaysis and CodeFix packages.

[2017-02-22 17:19] jaredpar commented on #16998
Likely.  What you're seeing right now though is the code in an intermediate state.  I began a transition from a loose model (missing ref is okay) to a strict model (missing ref is assumed wrong until verified).  Until this hits a steady state I didn't want to break builds when refs were missing. I also got held back due to the RTW lock down.  Now that we're out of lock down though I'm going to be

[2017-02-22 17:20] jaredpar commented on #12137
@jasonmalinowski the title is accurate.  Part of our build is hard coded to VS 2015.

[2017-02-22 17:21] jaredpar commented on #6546
Yep.

[2017-02-22 17:21] #6546 closed

[2017-02-22 17:32] #11740 closed

[2017-02-22 17:33] gafter commented on #11740
Moved to https://github.com/dotnet/csharplang/issues/166

[2017-02-22 17:55] jasonmalinowski commented on #15559
It is possible to do use a higher version, the challenge is Visual Studio has some complicated rules about how it finds assemblies. In your VSIX you could add a few extra lines and tell it "find this newer System.Collections.Immutable over here" and it'll work, but how to do that isn't obvious unless you know how to do that.

[2017-02-22 18:00] jasonmalinowski commented on #16998
@jaredpar Sounds good. Tracking on Infrastructure backlogs now.

[2017-02-22 18:01] jasonmalinowski commented on #12137
It does work with Dev15 though (if only by luck). :smile:

[2017-02-22 18:09] gafter commented on #17297
No further features are being added to C# 7.

Can you please explain to me why an investment in this feature would be valuable to our customers?

[2017-02-22 18:10] #17296 closed

[2017-02-22 18:49] Shadetheartist commented on #8237
I am also feeling this issue. Also using the latest VS 2017 Community RC.

[2017-02-22 19:22] jaredpar commented on #12137
@jasonmalinowski try moving our machines to Dev15 only.  It will fail guaranteed due ot the fact we hard code Dev14 uses.

[2017-02-22 19:34] tannergooding commented on #12137
@jaredpar, It won't fail (and doesn't, as is indicated by the passing open VSI tests, which build and run on machines which only contain Dev15).

[2017-02-22 19:36] jaredpar commented on #12137
@tannergooding

Please refer to this line:

https://github.com/dotnet/roslyn/blob/master/src/Tools/MicroBuild/cibuild.cmd#L9

I stand by my earlier statement

[2017-02-22 19:38] jaredpar commented on #12137
Note you can also look at the description Lucian provided in the initial bug report which details exactly where we hard code our references.

I'm really unsure what the confusion is here.

Is it why the hard coded reference exists?  That is to prevent us from accidentally updating to Dev15 only until we resolve other infrastructure issues.

[2017-02-22 19:38] tannergooding commented on #12137
That is the `MicroBuild` script, which does not always run with each invocation of `cibuild.cmd` (the issue title is explicitly calling out the later, not the former).

The MicroBuild script will currently fail if invoked. But `cibuild` WRT to building Roslyn.sln or running the Unit Tests or open Integration tests will succeed and is currently doing so in PR.

[2017-02-22 19:44] jaredpar commented on #12137
There are two cibuild.cmd scripts checked into our repo.  I explicitly linked to one of them which is alwsay run on the Microbuild leg.  Did you read the link I posted?

So we agree.  Moving to Dev15 can't happen because we've hard code references to Dev14?

That is not the topic of this bug.

[2017-02-22 19:49] tannergooding commented on #12137
Yes it is. This bug was created before the MicroBuild script existed. The bug could be used to track MicroBuild as well, but when it was created there was no secondary script.

[2017-02-22 20:23] jaredpar commented on #12137
The bug says

This is true.  I have demonstrated this by providing a link.  I am presently working on fixing this, and the other ramifications to our infrastructure.

The fact that the hard coding has migrated to a new instance of cibuild.cmd I don't find that signficant.  If you do please feel free to edit the bug.

[2017-02-22 20:28] pranavkm opened #17304 "Setting csharp_style_throw_expression to false doesn't seem to work"
**Version Used**:  VS 15.0.0+26208.0.d15rel

**Steps to Reproduce**:

1. Create a new project
2. Either thru a .editorconfig file or through the VS UI make using throw expressions an error (`csharp_style_throw_expression = false:error` or the UI below).
3. Add a throw expression in the code. I used the code snippet from https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-sett

[2017-02-22 20:29] TheOtherSamP commented on #11773
I've reformatted, edited, and tidied this up, and moved it over into the new repo at https://github.com/dotnet/csharplang/issues/169. Any further discussion should probably take place there, so I'm closing this for now.

[2017-02-22 20:29] #11773 closed

[2017-02-22 20:29] pranavkm commented on #17304
Let me know if this is the wrong repo. I saw some editorconfig specific code being checked in here, so I assumed this was the right place.

[2017-02-22 20:39] kelltrick opened #17305 "Deadlock in VS while unloading project at OnDocumentContextUpdated"
**Version Used**: d15rel/15.0.26221.0, Roslyn commit: 38afa69825db300e58aa6416dbb2c14ab340da7f

**Steps to Reproduce**:
(this seems to be very intermittant and probably not reproduce, please see attached dump)
1. Open solution with several projects and several open files
2. Close VS

**Expected Behavior**:
VS exits

**Actual Behavior**:
VS freezes at "Unloading project 6 of 31: [Project Name]"

**

[2017-02-22 20:42] doktrova opened #17306 "Proposal: Make brackets optional on empty bodied constructor overloads."
As the title states is it possible to make the brackets optional on constructors with no body.

For example

[code]

[2017-02-22 20:49] Pilchie commented on #17304
This is the right repo.  Thanks for the report.

[2017-02-22 20:50] Pilchie commented on #17305
@dpoeschl can you take a look?  This looks like an issue that we thought we had addressed in that build already.

[2017-02-22 20:53] rynowak commented on #12770
We recently ran into the issue that documentation isn't available in OOP. This would be nice to have for Razor/TagHelpers

[2017-02-22 20:53] AdamSpeight2008 commented on #17306
Proposals for C# language features are now being issued in [dotnet/csharplang](https://github.com/dotnet/csharplang)

[2017-02-22 20:57] AArnott commented on #16612
I hit this today too

[2017-02-22 21:01] mavasani commented on #16612
@AArnott do you have a dump/repro?

[2017-02-22 21:09] kuhlenh opened #17307 "Tuple style isn't recognized in interpolated strings"
If I have a string.Format with tuples and their implicit names, I correctly get the Suggestion dots (as configured in my EditorConfig) letting me know to use the explicit tuple name:

![image](https://cloud.githubusercontent.com/assets/1402694/23232252/6798d350-f8ff-11e6-88f9-801e106bd307.png)
![image](https://cloud.githubusercontent.com/assets/1402694/23232417/09d11894-f900-11e6-97ce-1c45d8753004

[2017-02-22 21:18] AArnott commented on #16612
No dump or repro. I was just building and fixing build errors in the IDE when it happened. All I have is the VsProjectFault error file which I suppose doesn't add much (if any) detail to what you already have.

[2017-02-22 21:35] #16962 closed

[2017-02-22 22:44] CyrusNajmabadi opened #17309 "ChangeSignature applicability span is far too large."
![image](https://cloud.githubusercontent.com/assets/4564579/23236251/5bcbd514-f90d-11e6-9487-33ce36cf89dd.png)

[2017-02-22 23:01] ctaggart commented on #5654
I essentially proposed a flavor of [this in F# suggestions](https://github.com/fsharp/fslang-suggestions/issues/542), but building on the awesome dotnet core nuget integration. It would seriously [help with Azure Functions](https://github.com/Azure/azure-webjobs-sdk-script/issues/1226). I think it is time to look at this again. cc @tmat @filipw

[2017-02-22 23:25] Drawaes opened #17310 "Readonly Structs vs Classes have dangerous inconsistency - failed spin lock"
**Version Used**: Any

**Steps to Reproduce**:

1. Create private readonly Spinlock _lock;
2. take a lock

**Expected Behavior**:
That the code is protected by the lock... or the compiler throws an error

**Actual Behavior**:
struct is copied and lock is taken on the copy no compiler warning

This seems like it should either not compile or should work. Because the readonly struct is copied the loc

[2017-02-22 23:47] CyrusNajmabadi commented on #15878
Likely a bug in: MemberAccessExpressionSyntaxExtensions.GetExpressionOfMemberAccessExpression.

[2017-02-22 23:48] CyrusNajmabadi commented on #15878
Hey Ravi, can you look if this is a bug in our extension method?  i.e. are we finding the wrong "implicif expression" that is being dotted off of?  If so, this is our bug.  Otherwise, if we have the right 'implicit expression', then this should go back to the compiler with some detailed info as to what incorrect information is being returned.

[2017-02-22 23:56] Joe4evr commented on #9932
I'm gonna reiterate what I suggested on the [csharplang repo](https://github.com/dotnet/csharplang/issues/11#issuecomment-279355631).

[code]

[2017-02-23 00:02] Joe4evr commented on #17300
Couldn't the whole expression for all those cases just be `if (_trackKinds && /*other condition*/)`?

[2017-02-23 00:03] AlekseyTs commented on #16177
@yizhang82 Could you recommend an alternative way to enable the scenario that wouldn't affect the output of tlbexp as that is known to break existing build environments?

[2017-02-23 00:22] HaloFour commented on #9932
@Joe4evr

The problem is that it's likely that the developer did not intend for `ints.FirstOrDefault()` to return `0` if the collection is empty.  Rather they wanted it to return `null`.

[2017-02-23 00:43] jcouv commented on #13155
One scenario was mentioned in LDM about this:
[code]
We'd want this to work, since the same code without tuples works: `T x = M(); if (t == null) ...;`

[2017-02-23 00:46] #12052 closed

[2017-02-23 00:56] yaakov-h opened #17313 "IDE won't load check-in policy, creates new registry node"
Forgive me if this is the wrong place for this issue, but I'm really not sure where to file this one.

After creating a custom TFS Check-In Policy (referencing `Microsoft.TeamFoundationServer.ExtendedClient` from Nuget and implementing a subclass of `PolicyBase`) and adding the assembly location to the Windows Registry, Visual Studio doesn't read it's own configuration registry and creates a new o

[2017-02-23 01:00] Pilchie commented on #17313
Please file on https://connect.microsoft.com.  Checkin Policies are unrelated to the Roslyn project.

[2017-02-23 01:00] #17313 closed

[2017-02-23 01:10] Pilchie commented on #17309
See also #1905, #8205, and #8333.

[2017-02-23 02:26] tmat commented on #17165
I've got a dump and a repro solution: %internal_share%\public\tomat\Bugs\17165

[2017-02-23 02:31] tmat commented on #17165
Repro: sync to branch https://github.com/tmat/symreader-converter/tree/ExtractMethodCrashRepro
Open src\Microsoft.DiaSymReader.Converter\PdbConverterPortableToWindows.cs
Select code in
[code]

[2017-02-23 03:02] jwooley commented on #15691
Confirmed that using the installer's "Individual Features" and selecting the "Code Map" option enables this feature again.
![image](https://cloud.githubusercontent.com/assets/365256/23243072/823996ae-f94a-11e6-86de-6a4c210a895e.png)

[2017-02-23 03:46] Joe4evr commented on #9932
If the developer wanted a "null" for an empty list of ints, they could've used an `IEnumerable<int?>` instead (in which case, the compiler *would* warn against a potential null dereference, even if `Nullable<T>` is just a compiler sleight of hand).

Also, I used `FirstOrDefault()` as the example there because that's what the design doc for nullable reference types uses as an example of "wat do?" T

[2017-02-23 04:16] heejaechang commented on #16859
fix is now in.

[2017-02-23 04:16] #16859 closed

[2017-02-23 06:45] jcouv commented on #17235
Didn't manage to repro. I suspect this was due to bad hive setup.

[2017-02-23 06:45] #17235 closed

[2017-02-23 09:13] idilov commented on #12196
I believe Joshua meant "infer". I'd like to do exactly what HaloFour suggested but I cannot find how to do it.
Please post a link to a resource explaining how to capture injectee using standard asp.net core di.

[2017-02-23 09:19] #1905 closed

[2017-02-23 09:19] #8333 closed

[2017-02-23 09:19] #17309 closed

[2017-02-23 09:51] Evangelink commented on #17300
Current:
`if (!_trackKinds || (_trackKinds && child.RawKind == kind))`

So I would say:
`if (!_trackKinds || child.RawKind == kind)`

So for all cases:
`if (!_trackKinds || /* other condition */)`

[2017-02-23 10:03] CyrusNajmabadi commented on #17300
@Evangelink Would like you to just submit a PR to fix this up?

[2017-02-23 10:04] Evangelink commented on #17300
Yep will do!

[2017-02-23 10:15] dmitriyse commented on #9482
This feature will help me to build configuration subsystem with compact override syntax. I am missing it.
[code]

[2017-02-23 11:46] Synopt opened #17321 "Visual Studio crashes when attempting to match a tuple using var and then filter on the newly declared variable"
**Version Used**: VisualStudio/15.0.0-RC.4+26206.0

**Steps to Reproduce**:

1. Start with:

[code]

2. Change `(int x, int y)` to `(var x, int y)` on line 9.

**Expected Behavior**: Visual Studio not to crash

**Actual Behavior**: Visual Studio crashes

[2017-02-23 11:48] poizan42 commented on #17212
Quote from [MSDN](https://msdn.microsoft.com/en-us/library/7h9bszxx(v=vs.110).aspx):

It seems wrong for Roslyn generated code to not follow the official guidelines even if it's not technically part of a spec.

[2017-02-23 11:54] jskeet commented on #17212
@poizan42: Do you mean in the dynamic case?

[2017-02-23 12:01] poizan42 commented on #17212
@jskeet Yes where it throws RuntimeBinderException - the static case is just a compile time error, that's fine as there isn't any point in a comparison that is always false anyways.

[2017-02-23 12:07] jskeet commented on #17212
@poizan42: I'd say there's a design tension here. The *normal* behaviour of dynamic binding is that if there'd be a compile-time error, and exception is thrown. But I agree that it's unfortunate in this particular case, where the "error" could really have been a warning instead - and is in other cases, such as `if ("" is int[])`.

I don't think this should be changed for *just* delegates though -

[2017-02-23 13:17] marek-safar opened #17322 "CS0281 error message has less details than native compiler"
**Version Used**: 2.0.0.61404

**Steps to Reproduce**:

Compile attached dll with the code as following

`csc /out:cs0281.exe cs0281.cs -r:CSFriendAssembly-lib.dll`

cs0281.cs
[code]

**Expected Behavior**:

Previous versions of C# compiler reported

`CSFriendAssembly-lib.dll: error CS0281: Friend access was granted to 'cs0281,PublicKey=0024000004800000940000000602000000240000525341310004000011000

[2017-02-23 13:19] marek-safar commented on #17322
[CSFriendAssembly-lib.dll.zip](https://github.com/dotnet/roslyn/files/796513/CSFriendAssembly-lib.dll.zip)

[2017-02-23 13:30] miloush opened #17324 "Edit and Continue does not pick up null conditional operator on return"
**Version Used**: 2.0.0.61413

**Steps to Reproduce**:
[code]
1. Start debugging.
2. Hit F11 3 times so that you end up in the Main method after ReturnNull has evaluated.
3. Change the line to `ReturnNull()?.Split();`
4. Hit F10

**Expected Behavior**: the null conditional operator to be applied and the execution continues without exception with `tokens` being `null`

**Actual Behavior**: NullRefe

[2017-02-23 17:07] jaredpar opened #17325 "SyntaxVisualizerExtension is building with warnings"
Look at a any Microbuild build log and you will see the following:

This isn't being caught because Microbuild doesn't have the post processing step to fail builds on MSBuild warnings.  That's only done on the unit test legs.  Hence it's going unnoticed.

The underlying issue is this particular reference in project.json:

[code]

The remainder of the project is referencing this DLL at version 14.0

[2017-02-23 17:55] axel-habermaier commented on #2901
I would expect to get ``bool.operator |(bool, bool)`` similar to how user-defined operators already work today. That's also what you said back on CodePlex.

[2017-02-23 18:30] Pilchie commented on #17325
We don't support VS2013 anymore, so I would guess updating to 14.0 is fine.

[2017-02-23 18:32] jaredpar commented on #17325
Everything else in that project targets 14.0 so it should be fine.

The problem is there is no actual 14.0 package for ComponentModelHost.  Need to create one for us to reference.

[2017-02-23 18:47] rchande commented on #17269
@CyrusNajmabadi Do you know what you did to get into that state?

[2017-02-23 18:48] mavasani commented on #16535
@gafter @srivatsn Do you think this is feasible for 15.1 timeframe? The idea is to probably add a new compiler switch to control treat warn as error separately for analyzer diagnostics versus compiler diagnostics. Customer is saying this issue is blocking them from moving from FxCop to FxCop based Roslyn analyzers.

[2017-02-23 19:02] skosterin88 opened #17329 "Error while executing msbuild /v:m /m Roslyn.sln"
**Version Used**:
I use Visual Studio 2015 Community Edition Update 3 on Windows 7 x64.
**Steps to Reproduce**:

1. As it was said in the instruction file "Building, Debugging, and Testing on Windows.md", I ran Restore.cmd before building.
2. I ran msbuild /v:m /m Roslyn.sln from the command prompt opened from the Roslyn directory.

**Expected Behavior**:
As far as I understand, the solution shoul

[2017-02-23 19:14] Pilchie commented on #17300
Fixed by #17323.

[2017-02-23 19:14] #17300 closed

[2017-02-23 19:17] #17063 closed

[2017-02-23 19:17] rchande commented on #17234
This should be fixed now.

[2017-02-23 19:17] #17234 closed

[2017-02-23 19:21] Pilchie commented on #17329
Are you on an HP machine?  It sounds like something is setting the `Platform` environment variable and msbuild is picking up on that.

Please check your environment and make sure that `Platform` is not set.

[2017-02-23 19:56] #9261 closed

[2017-02-23 20:09] CyrusNajmabadi commented on #17307
This appears to be an IOperation bug.  We never get called back for the FieldReferenceExpressions inside the interpolated string.

Tagging @ManishJayaswal .  Manish, can you assign this appropriately to someone who can fix this issue?

[2017-02-23 20:15] skosterin88 commented on #17329
OK, I deleted that environment variable. There is no such error. But I forgot to mention: when I run Restore.cmd from the command line, I get the following error:

System.Management.Automation.RuntimeException: The variable '$_' cannot be retrieved because it has not been set.
at System.Management.Automation.VariableDereferenceNode.GetVariable(ExecutionContext context)
at System.Management.Automat

[2017-02-23 20:16] Pilchie commented on #17329
@jaredpar ?

[2017-02-23 20:31] jaredpar commented on #17329
Do you know which script is producing that error?

It's possible we've taken a dependncy on a new feature of powershell that wasn't present in Windows 7 here.

[2017-02-23 20:31] #13840 closed

[2017-02-23 20:31] #13915 closed

[2017-02-23 20:31] #14882 closed

[2017-02-23 20:44] jmarolf commented on #15978
@bkoelman I'll verify that only the user dlls are deployed to the VSIX.  CopyLocal should be set so that the user does not deploy roslyn dependencies with their VSIX.

[2017-02-23 21:18] skosterin88 commented on #17329
So this happens just because I am working under Windows 7, right? And I should upgrade to Win8 or higher? No other ways to solve the problem?

[2017-02-23 21:22] jaredpar commented on #17329
Possibly.  That's why I'm curious to know if the output says which script failed.  If I know which script it is I can take a deeper look and see if there is any newer syntax there which may be at fault.

Depends.  Powershell versions are per-OS.  Each version has little quirks and it's very easy to accidentally take a dependency on one of these quirks in our scripts.  If it's a simple quirk I'd be

[2017-02-23 22:36] #17274 closed

[2017-02-23 22:58] jcouv commented on #16565
It looks like this was fixed for C#, but not VB. Can you confirm?

[2017-02-23 23:04] #17217 closed

[2017-02-23 23:05] jnm2 commented on #16159
Yay, more abuse of tuples :D https://github.com/mcintyre321/OneOf/issues/14

[2017-02-23 23:17] mavasani commented on #5343
Marking as Urgency soon, we have got large number of feedback requests about this.

[2017-02-23 23:20] CyrusNajmabadi commented on #17028
Mitigated with https://github.com/dotnet/roslyn/pull/17264

[2017-02-23 23:20] #17028 closed

[2017-02-23 23:27] CyrusNajmabadi opened #17336 "Assert in object writing for VB decimal literals"
---------------------------
Assertion Failed: Abort=Quit, Retry=Debug, Ignore=Continue
---------------------------
Enum should not be written with WriteValue.  Write them as ints instead.

   at Roslyn.Utilities.ObjectWriter.WriteValue(Object value)

   at Microsoft.CodeAnalysis.VisualBasic.Syntax.InternalSyntax.DecimalLiteralTokenSyntax.WriteTo(ObjectWriter writer)

   at Microsoft.CodeAnalysis.G

[2017-02-23 23:27] gafter commented on #2136
The list of features for C# 7 can be found [here in the csharplang repo](https://github.com/dotnet/csharplang/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Proposal+champion%22+milestone%3A7.0).

We're using that repository for language proposals and discussion now.

[2017-02-23 23:27] #2136 closed

[2017-02-23 23:28] NetMage commented on #10552
In the past it seems like the main arguments against adding this could all be applied to local functions as well, so now that they are included I would vote yes (obviously in C# 8 at this point) if there were formal voting.

[2017-02-23 23:31] mavasani commented on #16612
Another report: https://github.com/dotnet/roslyn-project-system/issues/1608

[2017-02-23 23:33] CyrusNajmabadi commented on #17336
@jmarolf You recently did a similar for for XmlTokens right?  Woudl this be a <1 min fix for you?

[2017-02-23 23:36] #12061 closed

[2017-02-23 23:50] jcouv opened #17338 "TypeHelpers.IsMscorlib should also check for object type"
From discussion https://github.com/dotnet/roslyn/pull/17192#pullrequestreview-23606064, two conditions are required to identify mscorlib: it should not reference other assemblies and it should contain the type `object`.

[code]

FYI @cston

[2017-02-24 00:06] 333fred opened #17341 "`this` keyword is not shown in intellisense in expression-bodied get/set"
**Version Used**: d15rel/26220.01

**Steps to Reproduce**:

1. Create a simple class:
[code]
2. Create a property:
[code]

**Expected Behavior**: Intellisense shows the `this` keyword when in the getter expression body.

**Actual Behavior**: `this` keyword is not shown. It is shown correctly if you have a fully expression-bodied property, such as `public bool TestProperty => this.testField;`.

[2017-02-24 00:06] 333fred commented on #17341
@Pilchie.

[2017-02-24 00:24] jmarolf opened #17342 "ITextBufferExtensions.GetFeatureOnOffOption does not get per-document options."
ITextBufferExtensions.GetFeatureOnOffOption does not get per-document options. it only gets the workspace ones.  This means that anything that calls this to see if an option is set will not correctly react to editor config (such as `OrganizeDocumentCommandHandler` for sort usings).

[2017-02-24 00:38] #17336 closed

[2017-02-24 01:15] SLaks opened #17344 "Rename doesn't resolve conflict between static & instance methods"
**Version Used**: 2017 RC

[code]

Rename `GetHashCode` to `ToString`.

### Expected

[code]

### Actual
Unresolvable conflict.

[2017-02-24 01:31] #17171 closed

[2017-02-24 01:34] #13898 closed

[2017-02-24 02:48] eyalsk opened #17345 "Weird build errors only when compiling from VS"
**Version Used**: Microsoft Visual Studio Community 2017 RC (15.0.26206.0 D15REL)

When I compile through the command-line I get the expected errors:

[code]

But when I compile through Visual Studio I get loads of errors that I didn't expect to get and I'm not sure why I'm getting them:

[code]

[code]

[code]

I tried to do the following things to solve it but it didn't help.

1. Close VS.
2. De

[2017-02-24 02:56] CyrusNajmabadi commented on #17345
@eyalsk Do you have a PR/git commit you can point to so we can try to repro ths locally?

[2017-02-24 03:20] eyalsk commented on #17345
@CyrusNajmabadi Do you want me to make a new PR for this or push it to the existing one?

[2017-02-24 03:48] eyalsk commented on #17345
@CyrusNajmabadi made a new [PR](https://github.com/dotnet/roslyn/pull/17346).

[2017-02-24 06:26] jasonmalinowski commented on #17329
FYI this is a dupe of #15667 which has more info. I'll leave this open though so we keep the conversation going here to get more info.

[2017-02-24 06:26] cston commented on #17338
`IsMscorlib()` is not used and can be removed. The one reference in `IsMscorlibType()` is commented out and the comment to re-enable the check is probably unnecessary as well.

[2017-02-24 07:01] npolyak opened #17348 "Is it possible to build Roslyn with VS 2017 RC?"
This is not an issue, just a question.

You do not provide instructions for building Roslyn under VS 2017 RC.

[2017-02-24 07:50] eyalsk commented on #17348
@npolyak The following [instructions](https://github.com/dotnet/roslyn/blob/master/docs/contributing/Building,%20Debugging,%20and%20Testing%20on%20Windows.md#getting-the-code) should cover this.

Did you try to build it? are you getting any errors?

[2017-02-24 11:41] miloush opened #17353 "IDE0025 use expression body quick fix removes new lines when it shouldn't"
**Version Used**:  2.0.0.61413

**Steps to Reproduce**:
[code]
1a. Go to first `get` line and invoke the quick fix.
(1b. Invoke it on the whole document.)

**Expected Behavior**:
[code]
resp.
[code]

**Actual Behavior**:
[code]
resp.
[code]

Similar issue different analyzer #16676

[2017-02-24 13:52] huoyaoyuan opened #17355 "IDE: incorrect renaming behavior for parameter of local function"
**Version Used**:
VS 2017 RC4 26206.0
**Steps to Reproduce**:

1. Example code:
[code]
2. Press Ctrl+R, Ctrl+R on the 2 positions of `x`.

**Expected Behavior**:
`x` can be renamed.
**Actual Behavior**:
`x` in parameter: alert "Can't rename this item."
`x` in expression body: can rename, but claiming conflict.

[2017-02-24 14:04] dbeuchler opened #17356 "Remove string.Format() if nameof() is used"
For some strings it is usefull to use the `nameof()`-Operator but the resulting `string.Format()` is not really needed.

**Exsample**
Exceptions can be defined like this:
`throw new InvalidCastException($"The type cannot be casted to {nameof(IMyInterface)}");`

**Version Used**: Visual Studio 2015 Update 3, .NET Framework 4.5.2

**Expected Behavior**:
The compiler should remove the `string.Format(

[2017-02-24 14:54] JosefPihrt opened #17357 "Code fix for CS0029, CS0266 "Change return type ..." should not be suggested for overriding members and interface implementations"
**Version Used**: Visual Studio 2017 RC 15.0.0-RC4+26206.0

**Code to Reproduce**:
[code]

[2017-02-24 15:09] JosefPihrt opened #17358 "Code fix for CS1503 "Cast to '...'" should use minimal possible type syntax"
**Version Used**: Visual Studio 2017 RC 15.0.0-RC4+26206.0

**Code to Reproduce**:
[code]

**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

* It also seems that leading trivia is not preserved.

[2017-02-24 15:18] svick commented on #17356
This is a duplicate of https://github.com/dotnet/roslyn/issues/11259.

[2017-02-24 15:34] #17356 closed

[2017-02-24 16:12] AdamSpeight2008 commented on #17348
@npolyak Yes, I'm currently using VS 2017 RC.
An issue sometime occurs we changing branches, so sometime I delete the build folder and nuget folder. Then `restore.cmd`, `build` and then `build and test`. before opening in VS

[2017-02-24 16:17] miloush commented on #17309
Also see #15980

[2017-02-24 16:32] tmat opened #17359 "CSharpInteractive.ForEachStatement integration test failed"
https://ci.dot.net/job/dotnet_roslyn/job/dev15.0.x/job/windows_debug_vs-integration_prtest/7/

[code]

[2017-02-24 16:57] npolyak commented on #17348
Answering eyalsk - I have not tried building it in VS2017 - the only reason I am not switching to it is because I was not sure if one can build Roslyn in it.

Thanks Adam. I assume I do not have to install Roslyn Insider extension for VS2017, right?

[2017-02-24 17:02] eyalsk commented on #17348
@npolyak Ahh.. okay, well, you should because you can build Roslyn on it.

No you don't need to install the extension.

[2017-02-24 17:12] 0xd4d opened #17360 "Go To Definition fails "Cannot navigate to the symbol under the caret""
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

- Create a new .NET Framework 4.6 Console App and add this code

[code]

- Press F12 @ `Dictionary` (should work)

- Add a new .NET Framework 4.6 Class Library

- Add a reference to the new class library

- Add a project.json to the Console App project

[code]

- Close solution and reopen it

- Move caret to `Dictionary` and press F12

**Expec

[2017-02-24 17:21] 0xd4d commented on #17353
Probably same as #16386 (and #17119)

[2017-02-24 17:30] JosefPihrt opened #17361 ""Generate class ... in new file" does not preserve banner at the top of the file"
**Version Used**: Visual Studio 2017 RC 15.0.0-RC4+26206.0

**Code to Reproduce**:
[code]

**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

[2017-02-24 18:45] jcouv commented on #17157
Fixed by https://github.com/dotnet/roslyn/pull/17192 (this let the EE and Interactive handle the duplicate ValueTuple type and pick the one from the app instead of the one from mscorlib).
I expect the fix to make it into 15.3 (summer timeframe, based on my understanding).

There will also be a follow-up to have GAC type unification, so the compiler workaround isn't needed (targeting desktop 4.7.1

[2017-02-24 18:45] #17157 closed

[2017-02-24 18:49] Pilchie commented on #17359
Also https://ci.dot.net/job/dotnet_roslyn/job/dev15.0.x/job/windows_debug_vs-integration_prtest/7/ and

[2017-02-24 18:50] Pilchie commented on #17359
Oops, wrong button, mean to cancel :)

[2017-02-24 18:50] miloush opened #17367 "Committing autocomplete for directives does not trigger indenting"
**Version Used**: 2.0.0.61413

**Actual Behavior**:
1. At the very beginning of line, type `#region`. Note that as soon as you type `n` the directive is indented.
2. Now try again, but hit enter on the `#region` entry in the autocomplete list. Note that formatting is not triggered this time. Similar with `#endregion`.

**Expected Behavior**:
The two methods to be equivalent - both should indent.

[2017-02-24 19:00] Pilchie commented on #17358
This fix is not provided by Roslyn.

[2017-02-24 19:00] #17358 closed

[2017-02-24 19:00] Pilchie commented on #17357
This fix is not provided by Roslyn.

[2017-02-24 19:00] #17357 closed

[2017-02-24 19:05] #11964 closed

[2017-02-24 19:12] AlekseyTs commented on #16783
I can repro in RTW. No repro in master, looks like it is fixed already. At least should add a test.

[2017-02-24 20:01] CyrusNajmabadi commented on #15980
I'll fix this.

[2017-02-24 20:01] #17147 closed

[2017-02-24 20:13] dpoeschl opened #17368 "NullRef in ReplaceMethodWithPropertyCodeRefactoringProvider in VB"
No clue how to repro, but I got the failure info bar on the following code:

[code]

[code]

See also: https://developercommunity.visualstudio.com/content/problem/25196/replacemethodwithpropertycoderefactoringprovider-e.html

[2017-02-24 20:16] gafter opened #17369 "OutOfMemoryException parsing string interpolation"
From https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?id=385179&_a=edit and https://developercommunity.visualstudio.com/content/problem/19285/outofmemoryexception.html

[code]

[2017-02-24 20:20] #17348 closed

[2017-02-24 20:30] jcouv commented on #17157
Yes. At this point RTM has a very high bar for accepting fixes (crashes and such). So this fix didn't make it into RTM. Sorry about that.

[2017-02-24 20:33] npolyak commented on #17348
I would add a note on your GITHUB page about building with VS 2017 RC before closing this issue.

[2017-02-24 20:36] filipw commented on #9139
@jnm2

C# scripts have supported extension methods for a while. This is a valid script for example:

[code]

[2017-02-24 20:36] filipw commented on #9139
here is the PR https://github.com/dotnet/roslyn/pull/3472

[2017-02-24 20:46] jnm2 commented on #9139
Hmm... thanks for the heads up. The most recent version of Roslyn that Cake uses is `1.0.0-rc2`, so that's why I'm still getting CS1106.

[2017-02-24 20:47] #8257 closed

[2017-02-24 20:55] filipw commented on #9139
that's the last version that supported .NET 4.5. it's also almost 2 years old, with 2.0.0 going RTM soon and 2.0.0-rc4 being the latest

[2017-02-24 21:04] filipw commented on #13482
This can be closed following the implementation of https://github.com/dotnet/roslyn/issues/16489

[2017-02-24 21:13] jmarolf opened #17371 "Should not offer to inline variables within constructor initializers, field initializers, or property initializers"
In the following code `value` will be suggested as inline-able

[code]

However in-lining will produce the following error:

Severity | Code | Description
------------ | -------------  | -------------
Error | CS8200 | Out variable and pattern variable declarations are not allowed within constructor initializers, field initializers, or property initializers.

[2017-02-24 21:29] #16731 closed

[2017-02-24 21:34] OmarTawfik commented on #9019
Update: we don't have a repro anymore, but I believe it is a duplicate of #14688.
I'll re-open if we find more info.

[2017-02-24 21:34] #9019 closed

[2017-02-24 21:37] tmat opened #17373 "VS very slow when working in CodeAnalysis proj in Roslyn.sln"
Version: build 26209.1 d15rel

Perf trace:

%internal_share%\mlangfs1\public\tomat\Bugs\17373

[2017-02-24 21:41] filipw commented on #12046
This can also be closed following  https://github.com/dotnet/roslyn/issues/16489

[2017-02-24 21:53] dpoeschl commented on #17093
Everything appears to be good here. Closing.

[2017-02-24 21:53] #17093 closed

[2017-02-24 21:54] rchande commented on #10661
@jcouv @dpoeschl The fix for this is now merged.

[2017-02-24 22:14] #16820 closed

[2017-02-24 22:15] JosefPihrt commented on #17357
Oh, I did not realize that I have installed third-party package that provides fixes for "CS...." diagnostics. My apologies for creating this irrelevant issue.

[2017-02-24 22:19] jcouv commented on #10661
Nice. Thanks!

[2017-02-24 22:47] jasonmalinowski commented on #9314
Reactivating while a bug exists.

[2017-02-24 22:59] #17342 closed

[2017-02-24 23:01] gafter opened #17377 "SemanticModel.GetTypeInfo(decl) doesn't work for an erroneous declaration expression in global code"
The following test (in `OutVarTests.cs`) does not pass because `GetTypeInfo(decl)` returns `null` for the (erroneous) declaration of `x1`.

[code]

[2017-02-24 23:03] filipw commented on #1543
Can be closed following the merge of https://github.com/dotnet/roslyn/issues/16489

[2017-02-24 23:03] #1543 closed

[2017-02-24 23:11] richardtallent opened #17378 "Proposal: Default-or-Empty Coalesce operator "???""
Rather than having to write this:

[code]

It might be nice to do this instead:
[code]

The same idea could be used to coalesce value types if their default value is an invalid value:

[code]

Coalescing a numeric type's default 0 value would also be possible, though there may be fewer use cases where a 0 value is invalid and should be overridden. But for strings especially, I think there's a stro

[2017-02-24 23:16] gafter commented on #17377
`GetTypeInfo` returns `null` instead of returning a `TypeInfo` with an error type named `var`.

[2017-02-24 23:22] gafter commented on #17321
This is caused by the Extract Method refactoring, which is attempting to extract a declaration expression into a new method. The syntax tree that it builds is incorrect; it is a syntax tree that the parser would never build. So I'm reassigning this to the IDE team.

Having said that, I'll make the compiler more resilient to this situation.

[2017-02-25 00:47] gafter opened #17381 "Intermittent test failure of Microsoft.CodeAnalysis.VisualBasic.CommandLine.UnitTests.ErrorLoggerTests.AnalyzerDiagnosticsWithAndWithoutLocation"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_unit32_prtest/2677/testReport/junit/Microsoft.CodeAnalysis.VisualBasic.CommandLine.UnitTests/ErrorLoggerTests/AnalyzerDiagnosticsWithAndWithoutLocation/

Microsoft.CodeAnalysis.VisualBasic.CommandLine.UnitTests.ErrorLoggerTests.AnalyzerDiagnosticsWithAndWithoutLocation (from Roslyn.Compilers.VisualBasic.CommandLine.UnitTests)

Faili

[2017-02-25 01:15] #9314 closed

[2017-02-25 01:30] justcla commented on #13594
Can you please remove the "Resolution-Not Reproducible"?
See repro steps at the top of the thread. Thanks.

[2017-02-25 02:12] #12046 closed

[2017-02-25 05:51] chrisaut commented on #13336
sorry to bump this @TyOverby , but since you have unassigned yourself, does that mean public performance reporting is no longer on the table?

[2017-02-25 08:39] paulomorgado commented on #17157
At least, make that noticeable in the release notes and release a script to fix .rsp files.

[2017-02-25 10:09] perjahn commented on #12046
Probably a typo, must have meant VS17. But anyway, I assume this will be included in the future somehow? Maybe by #16489?

[2017-02-25 12:59] miloush opened #17383 "Pasting multiline text into XML comments should make it comments"
**Version Used**: 2.0.0.61422

**Steps to Reproduce**:
[code]
Paste multiline text.

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

[2017-02-25 14:28] viceroypenguin commented on #16934
@CyrusNajmabadi - I've completed this here: https://github.com/viceroypenguin/roslyn/commit/87a335c0b7b6e4edf168fac45ab1a04f3a535a31

I branched off master because I couldn't find the branch `post-dev15`.  I'll be happy to rebase before submitting a PR.

[2017-02-25 18:12] miloush opened #17384 "Autocompletion list misses params for indexers"
**Version Used**: 2.0.0.61413

**Steps to Reproduce**:
[code]
**Expected Behavior**: `params` to be in the autocompletion list

**Actual Behavior**: Not there.

[2017-02-25 19:42] gafter commented on #17378
Language feature proposals are now discussed in [dotnet/csharplang](https://github.com/dotnet/csharplang).

[2017-02-25 19:42] #17378 closed

[2017-02-25 21:30] stevedesmond-ca opened #17385 "Build fails on Ubuntu 16.04"
**Version Used**: master

**Steps to Reproduce**:

1. build from source using Ubuntu 16.04

**Expected Behavior**:
Build succeeds

**Actual Behavior**:
[code]

Incoming PR to fix this.

[2017-02-25 21:37] CyrusNajmabadi commented on #16934
Looks good.  Just submit a PR and we'll review and merge it in.  Thanks!

[2017-02-25 22:40] CyrusNajmabadi commented on #17384
If this is legal C# code, then PRs welcome.

[2017-02-25 22:42] miloush commented on #17384
Compiles and runs just fine.

[2017-02-25 22:54] #17345 closed

[2017-02-26 00:15] ctaggart commented on #12759
I built two dotnet tools that are wrapped by msbuild nuget packages. The combination works really well. It makes it easy to test, develop, and extend.

## SourceLink v2 is Feature Compete
I just released it to the NuGet Gallery. Please try it out! There are no known bugs, but not a ton of docs. It really isn't very hard though. Have a look at:

https://github.com/ctaggart/SourceLink

There is also

[2017-02-26 04:14] CyrusNajmabadi opened #17393 "BasicChangeSignatureDialog.VerifyCodeRefactoringOffered fails on jenkins"

[2017-02-26 05:25] jamesqo opened #17395 "binary operators with first null-conditional operand generate better code than if the null-conditional is the second"
See [TryRoslyn](http://tryroslyn.azurewebsites.net/#b:master/f:>ilr/K4Zwlgdg5gBAygTxAFwKYFsDcAoUlaIoYB0AImAIZQQD2KYAxiDtgA7ABGANozA1xRAgYAYWwBvbDGkx23XgDcaYACYwAsgEYAFAEopMyTOMwUAJ3ynkZmAF4YEYFy44TMsADMY28wH5iADKo0MgAFjAAfDAADLow4jAAvgbSycYpspw8DDBKqhoATHoZRm5WFtDldg5OLhnGnt5+gcFQYZH2sfFJGWkyGXLZucpq6gDMxcalbuaW5tWOzq5ljdrRMAA85f5BIaFxCX2pGQNZiiMaACyThvUys5Xz9ot1ZTCr6xv2zbtt+91HHqJIA==); in a Rele

[2017-02-26 05:46] jnm2 commented on #16159
This thread made it into http://mustoverride.com/tuples_conversions/!

[2017-02-26 05:56] iam3yal opened #17396 "Refactoring: Simplify name incorrectly applies the wrong fix"
**Version Used**: Microsoft Visual Studio Community 2017 RC (15.0.26206.0 D15REL)

**File:** AbstractSymbolCompletionProvider.cs (339,76)

In this [PR](https://github.com/dotnet/roslyn/pull/17250) Visual Studio suggests to simplify the name inside the tuple but instead it removes it completely:

[code]

Should be simplified into this:

[code]

But instead Visual Studio simplifies it into this:

[c

[2017-02-26 07:44] jmarolf opened #17397 "Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpInteractive.ForStatement Is Flakey"
Failed in [this](https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/446) run

[code]

[2017-02-26 07:49] jmarolf opened #17398 "Roslyn.VisualStudio.IntegrationTests.VisualBasic.BasicChangeSignatureDialog.VerifyCodeRefactoringOffered Is Flakey"
Failed in [this](https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/434) run

[code]

[2017-02-26 08:31] jmarolf opened #17399 "VSSDK1081 occurs on ConvertToConditional sample"
Occured in [this](https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/436) run:

[code]

[2017-02-26 08:48] simondel opened #17400 "CodeAnalysis v2 release notes"
Hi! Where can I find the release notes for the latest (preview) version of the CodeAnalysis v2 packages like [Microsoft.CodeAnalysis](https://www.nuget.org/packages/Microsoft.CodeAnalysis/2.0.0-rc4) and [Microsoft.CodeAnalysis.CSharp](https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/2.0.0-rc4)?

I'm writing a mutation testing framework for .NET (more info: https://mutationtesting.net a

[2017-02-26 12:40] shaggygi opened #17401 "System.Reflection.ReflectionTypeLoadException when calling Microsoft.CodeAnalysis.MSBuild.MSBuildWorkspace.Create().OpenProjectAsync"
**Version Used**:
Visual Studio 2017 RC4
Microsoft.CodeAnalysis NuGet package 2.0.0-rc4

**Steps to Reproduce**:

1. Create new WPF app (.NET 4.6.1)
2. Add CodeAnalysis package from NuGet
3. Add code (I did within an async Button Click event.
[code]
4. Run/debug code.

**Expected Behavior**:
Should be able to load a Project object.

**Actual Behavior**:
Get the following error.

System.Reflection.

[2017-02-26 14:54] 0xd4d commented on #17401
I couldn't repro this. What's the result of the `LoaderExceptions` property? (see the `Message` above)

[2017-02-26 16:39] gafter commented on #17395
/cc @VSadov

[2017-02-26 16:42] gafter commented on #17400
/cc @jaredpar

[2017-02-26 16:54] Drawaes commented on #17310
Got caught by this again today, readonly GCHandles never show as deallocated when free is called for the same reason

[2017-02-26 16:57] Drawaes commented on #17310
https://gist.github.com/Drawaes/84704a1a8ce8eb9e3bca6ef364d8beb2

Simple example to repo the behavior

[2017-02-26 17:41] jamesqo opened #17402 "Nested lambda functions with the same parameter names generates an incorrect error"
[code]

This generates the following error at the second call to `QueueUserWorkItem`, saying that it conflicts with another *type* parameter:

[code]

[TryRoslyn repro](http://tryroslyn.azurewebsites.net/#b:master/f:>ilr/K4Zwlgdg5gBAygTxAFwKYFsDcAoUlaIoYB0AKgBYBOqAhgCb47YAOwARgDZgDGM3HNECBgBhGAG9sMaTFaceMFDWQKAbgHswdGABkAPKTjrglbqgB8ACgCUUmZJmOYqmpRiHjp1DAC8MZAjMqOoAZpYeJmbWOI4AvnbSCbLsXLwaWjAAsjZ

[2017-02-26 20:38] abock opened #17403 "Script compilations created from a previous compilation have incorrect return type"
We are now finally able to use the Roslyn 2.0 NuGet for Xamarin Workbooks, which means I can finally leverage my work for [supporting compilations against a target (not host) corlib](https://github.com/dotnet/roslyn/pull/8507).

Unfortunately the tests I wrote for that fix were not extensive enough to catch an issue where subsequent compilations result in an implicit reference to host corlib and n

[2017-02-26 21:01] ctaggart commented on #12759
If ya'll would like to add source link support to Roslyn itself instead of just source server support, you will need to upgrade from project.json to the new dotnet csproj format. Then you do something similar to what I demonstrated here: cc @jaredpar

https://github.com/aspnet/EntityFramework/pull/7726

Docs revised: https://github.com/ctaggart/SourceLink

[2017-02-26 21:07] tmat commented on #12759
@ctaggart Thanks. We can't switch Roslyn to Portable PDBs yet as we don't have symbol server support. We are working on a solution for that.
I'm gonna try source link on dotnet/symreader-converter repo though.

[2017-02-26 21:21] ctaggart commented on #12759
@tmat The plan is to allow Portable PDB files to be packaged in the nupkg files. I understand ya'll may have unique requirements. Would you mind sharing why you need a symbol server instead?

Let me know how things work out for symreader-converter.

We now need a story for private repository support.

[2017-02-26 21:41] CyrusNajmabadi commented on #17310
Seems like an appropriate place for warning waves.

[2017-02-26 21:43] tmat commented on #12759
@ctaggart It's not "instead" it's rather "as well". Having Portable PDBs in the nupkg is step 1, but that doesn't address all scenarios. For example, when we are debugging a VS crash dump the debugger needs to find from the PDB IDs stored in that .dmp file the PDBs somehow. For Windows PDBs it does so thru symsrv protocol. We are currently figuring out that the best approach is for Portable PDBs.

[2017-02-26 21:47] gafter commented on #17402
Fixed in https://github.com/dotnet/roslyn/pull/17248

[2017-02-26 21:47] #17402 closed

[2017-02-26 21:55] tmat commented on #12759
That's certainly an issue that needs to be addressed. One option is to add support for authentication to source link feature. @caslan @gregg-miskelly to comment on this.

Another option for the package author is to embed sources into Portable PDB instead of using source link. Source embedding is supported with VS 2017. Although the sources are compressed in the PDB it makes it bigger.

If NuGet su

[2017-02-26 21:57] CyrusNajmabadi commented on #17183
Not repro for me:

![image](https://cloud.githubusercontent.com/assets/4564579/23344106/75376dee-fc2b-11e6-8a95-3cd068e7f8f3.png)

[2017-02-26 21:57] CyrusNajmabadi commented on #17183
Do you have an example where this happens?  @mavasani Do you know of any issues with 'Fix all' that would prevent it working?

[2017-02-26 21:58] CyrusNajmabadi commented on #17139
No.  I'm not sure what would be going on here.  If you're able to provide a repro project, please let me know!

[2017-02-26 21:58] #17139 closed

[2017-02-26 22:00] CyrusNajmabadi commented on #17119
Fixed with https://github.com/dotnet/roslyn/pull/16987

Converting the accessor produces this now:

![image](https://cloud.githubusercontent.com/assets/4564579/23344129/c7ec3fe2-fc2b-11e6-8426-dbca37419684.png)

For methods i get:

![Uploading image.png…]()

[2017-02-26 22:00] #17119 closed

[2017-02-26 22:10] ctaggart commented on #12759
For private repository support, I was thinking of a couple of different options:

### 1. say what is support in the sourcelink.json
[code]

### 2. register source link support auth providers
An extension in Visual Studio would register that it can provide authentication for `raw.githubusercontent.com`.

[2017-02-26 22:36] tmat commented on #17324
This should rather report a rude edit that a partially evaluated statement can't be updated.

[2017-02-26 22:45] tmat commented on #6159
Re Pdb2Xml:
- We can make it run on CoreCLR, but only on Windows. So I'm not sure if there is much value for that.
- I'm going to move it to http://github/symreader-converter repo soon(ish).

Re: Fake sign
- I don't think we have it in Roslyn anymore.

Re: Generators
- I believe they are running on CoreCLR already.

[2017-02-26 22:49] tmat commented on #12759
@ctaggart I'm not familiar with github auth but we need to be careful to only include information in the PDB that's unlikely to change. It would be unfortunate if a change in github policy broke all existing PDBs.

[2017-02-26 23:19] CyrusNajmabadi commented on #16980
@dpoeschl

I think this is by design.  Expression-bodied properties are only available for get-only properties.  These are get/set properties, so we're not going to use an expression body.

This looks like a bug.  Will try to fix this.

[2017-02-26 23:44] miloush commented on #17324
Well, that would kind of make the experience worse, because currently you are can set next statement before and run it again after the edit...

[2017-02-27 01:08] shaggygi commented on #17401
I tried this in VS 2015 with similar results.  I looked in the View Detail dialog.  @0xd4d Were you asking for the data under the LoaderExceptions?  It shows the following, does that help?

[System.Exception {System.IO.FileNotFoundException}]
{"Could not load file or assembly 'Microsoft.Build, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The syste

[2017-02-27 01:17] shaggygi commented on #17401
OK, it looks like I got it to work, but had to download a few other NuGet packages.

Microsoft.Build
Microsoft.Build.Framework
Microsoft.Build.Tasks.Core

I guess my question now is why would these already be included or not pulled down when getting Microsoft.CodeAnalysis?  Is it because of VS RC and RC packages?

[2017-02-27 01:23] CyrusNajmabadi commented on #16280
@Pilchie What do you think we should do with this?  I'm leaning toward wanting to preserve the current behavior as it might be desirable for the user.

[2017-02-27 01:27] CyrusNajmabadi commented on #16934
Fixed with https://github.com/dotnet/roslyn/pull/17387

[2017-02-27 01:27] #16934 closed

[2017-02-27 01:40] davkean opened #17409 "Different compilation errors between the command-line and Visual Studio"
_From @eyalsk on February 25, 2017 22:53_

**Version Used**: Microsoft Visual Studio Community 2017 RC (15.0.26206.0 D15REL)

When I compile through the command-line I get the expected errors:

[code]

But when I compile through Visual Studio I get loads of additional errors that are unrelated to the problems I need to fix in the code, here are few examples of the errors I got:

[code]

[code]

[c

[2017-02-27 02:13] CyrusNajmabadi commented on #17409
Is this not the issue where building in VS doesn't stop when it hits an error?  Thus leading to much cascading of errors?  If so, who is the best team to address this?  AFAIK, Roslyn doesn't control that behavior, it's something baked into VS.

[2017-02-27 02:15] davkean commented on #17409
Apart from the last error (which is occurring because the XAML page is open) the last errors are all because of Roslyn.

[2017-02-27 02:17] CyrusNajmabadi commented on #17409
But the last errors are happening because we're being asked to compile projects whose dependencies did not build.    If you tried to compile the projects form the command line, but didn't include those dependencies, wouldn't you get the same errors?  You just don't normally get this from the command line because the compiling of a dependency chain stops when one of hte dependent projects fails to

[2017-02-27 02:28] CyrusNajmabadi commented on #17409
Here's a simple example.  I made a basic solution with a console app and a class library.  I made the console app reference the class library.  I then added an error to the class library.  when i try to build from VS i get:

[code]

Note how VS decided to build the console app, even though the dependencies didn't build.

However, when i do this from the command line, i only get:

[code]

I don't k

[2017-02-27 02:29] CyrusNajmabadi commented on #17409
Note: there's an extension to help out here: https://marketplace.visualstudio.com/items?itemName=EinarEgilsson.StopOnFirstBuildError

But it seems like it would be good if VS's build system just behaved the same way as MSBuild.

[2017-02-27 02:30] CyrusNajmabadi commented on #17355
Tagging @agocke

[2017-02-27 02:35] CyrusNajmabadi commented on #17355
Note: this fails even with a normal block-body for local functions.
Note: FindRefs fails on the local-function parameter, but succeeds on a reference within the local function parameter.
Note: the same issue occurs for type parameters of the local function.

This is surprising that this was missed.  Rename/FAR are part of the test matrix for IDE features.

Tagigng @dotnet/roslyn-ide

[2017-02-27 07:36] tcostin commented on #16177
In increasing order of complexity:

1. Change [ComImport] to work on value types (a significant change, but at a glance it shouldn't break anything to remove a type restriction from the attribute's possible targets). It also "makes sense" intuitively, since these value types really do originate from COM :)

2. If that's not possible, invent a new attribute that serves the equivalent purpose. It ca

[2017-02-27 10:15] MovGP0 commented on #1938
instead of
[code]
you should use [MoreLINQ](https://github.com/morelinq) and [Command Query Separation (CQS)](https://martinfowler.com/bliki/CommandQuerySeparation.html) and write it like this:
[code]

[2017-02-27 11:32] NiklasRaab opened #17416 "c# conditional operator without else"
Please provide support for conditional operator without an else. For example:

`string returnValue = someBool ? "this is a return value"`

At the moment you have to write:
`string returnValue = someBool ? "this is a return value" : string.Empty`

It would be small but nice 👍

[2017-02-27 11:48] aluanhaddad commented on #1938
@MovGP0 you mean to get

[code]
I've tried it, added it to many projects, but I do not like how it feels as compared to `foreach`. Basically, I always end up wanting to write a chainable version of it, like `Observable.Do`, and here be dragons.

Also, that assumes you only need to support method syntax. I prefer query syntax where available, but I like both.

[2017-02-27 12:11] MovGP0 commented on #1938
@aluanhaddad doesn't really matter which syntax you use, as long as you stick to CQS. Using another syntax only means that you have more lines of code to type:
[code]

[2017-02-27 13:02] eyalsk commented on #17416
@NiklasRaab You should propose language features at the [CSharpLang](https://github.com/dotnet/csharplang/issues) repo.

[2017-02-27 13:55] bondsbw commented on #1938
@MovGP0 That depends on the syntax; several examples here would have reduced the number of lines.

[2017-02-27 15:09] NiklasRaab commented on #17416
Sorry, i will close this. Thank you!

[2017-02-27 15:09] #17416 closed

[2017-02-27 16:13] svick opened #17417 "Inaccurate error message for return type of async method"
**Version Used**: VS2017RC (VisualStudio/15.0.0-RC.4+26206.0)

**Steps to Reproduce**:

Create a new .Net Framework Class Library with the following code:

[code]

**Actual Behavior**: An error message that says:

This is inaccurate, because task-like types (like `ValueTask<T>`) can be returned from `async` methods in C# 7.0.

**Expected Behavior**: An error message that includes task-like types,

[2017-02-27 16:38] wdolek opened #17418 "Analyzer 'System.Runtime.Analyzers.CSharpTestForEmptyStringsUsingStringLengthAnalyzer' threw an exception of type 'System.NullReferenceException'"
Getting Warning when building solution in Visual Studio (see below).

No such warning listed when running:
`msbuild /p:RunCodeAnalysis=true`

I couldn't figure out how to grab whole stack trace, error message points only to project and not to exact file where analyzer fails.

**Version Used**:
- `System.Runtime.Analyzers` `1.1.0`
- Visual Studio 2015, Update 3

**Steps to Reproduce**:

0. <having

[2017-02-27 16:43] Pilchie commented on #17418
I think this should probably be over at https://github.com/dotnet/roslyn-analyzers.

[2017-02-27 16:44] Pilchie commented on #17399
@AlexEyler Looks like another case of the build targets running into problems in our CI runs.

[2017-02-27 16:44] Pilchie commented on #17399
Tagging @jaredpar, @jasonmalinowski, @tannergooding too.

[2017-02-27 16:53] jaredpar commented on #17399
Is there a need to deploy samples as a part of the CI runs?

[2017-02-27 16:54] Pilchie commented on #17399
Good point, and no, I don't think they should ever be deployed in CI runs.

[2017-02-27 17:15] #17403 closed

[2017-02-27 17:31] bokova commented on #12181
This might help, then again might not:
I tried to deploy to a windows phone 8 (lumia denim) using VS Community 2015. VS crashed each time I tried to deploy. Looks like the phone needed a special update. VS didn't prompt me to update, neither did the phone. What worked was running the "Windows phone developer power tools" utility that came along with VS/windows phone 8.1 SDK. There I tried to conne

[2017-02-27 17:38] mihailik commented on #13146
Was it ever fixed?

Could it be related to 4.5.2 / 4.6 versioning?

We're getting it on Visual Studio 2015 + Roslyn, with MSDN subscription for whole of the team. If you need anything specific to investigate please get back and we'll pass it on.

What exactly is System.Reflection.Metadata, and how is it loaded? Please at least give a bit more context how to investigate the issue (if you can't solv

[2017-02-27 17:41] tmat commented on #13146
I'll take a look today at https://github.com/ivatih/Pad

[2017-02-27 17:42] gregg-miskelly commented on #12759
RE: auth - our tentative plan was to handle \<not found | unauthorized | forbidden | etc> status codes and allow the user to authenticate and/or user a credential store where the user can somehow associate credentials with a URL. Though we haven't had the chance to get back and prototype this yet.

[2017-02-27 17:49] AlexEyler commented on #17399
I have a bug on my plate to improve this error message (so it includes the exception message at least) - usually it comes as a result of a file being in use while we're trying to overwrite it via the Unzip method, but I'm not sure in this case.

[2017-02-27 18:09] Pilchie commented on #17398
Duplicate of #17393

[2017-02-27 18:09] #17398 closed

[2017-02-27 18:19] #17239 closed

[2017-02-27 18:21] Pilchie commented on #17341
`base` is also missing.  Should probably do a pass through the keyword recommenders and see what makes sense to offer there that might be missing.

[2017-02-27 18:23] Pilchie commented on #17353
@CyrusNajmabadi can you confirm this is fixed now?

[2017-02-27 18:24] Pilchie commented on #17355
Can you see if the FAR failure is a semantic model API issue and move to the compiler if so?

[2017-02-27 18:32] Pilchie commented on #17360
I'm unable to reproduce this, but I wonder if it's related to the issue that @tmat saw in Roslyn.sln?  Some facade issue with types being forwarded maybe?

[2017-02-27 18:40] omajid opened #17421 "Roslyn should use Microsoft.DotNet.PlatformAbstractions to compute the RID"
**Version Used**:

    $ git branch -v
    * master 8c36b15 Merge pull request #17376 from heejaechang/solutionCrawlerOnOOP

**Steps to Reproduce**:

    $ grep  BaseNuGetRuntimeIdentifier Makefile
    MSBUILD_ADDITIONALARGS := $(MSBUILD_ADDITIONALARGS) /p:BaseNuGetRuntimeIdentifier=$(shell . /etc/os-release && echo $$ID.$$VERSION_ID)
    MSBUILD_ADDITIONALARGS := $(MSBUILD_ADDITIONALARGS) /p:Base

[2017-02-27 19:12] Pilchie commented on #17361
This seems like a decent heuristic to me.  What do you think @kuhlenh @DustinCampbell @CyrusNajmabadi?

[2017-02-27 19:18] Pilchie commented on #17367
I thought this was a dupe, but I couldn't find it with some looking.  @CyrusNajmabadi @rchande does it look familiar to you guys?

[2017-02-27 19:19] DustinCampbell commented on #17361
Sounds good to me.

[2017-02-27 19:20] Pilchie commented on #17368
Any ideas here?

[2017-02-27 19:21] Pilchie commented on #17371
I'm surprised this restriction applies in lambdas in initializers, but if it does, we should not off here.

[2017-02-27 19:23] brettfo commented on #16237
I've moved our build retainer tool to use Azure KeyVault for secrets management.  Other tools still need to be converted.

[2017-02-27 19:23] CyrusNajmabadi commented on #17361
Seems reasonable-ish.

[2017-02-27 19:25] CyrusNajmabadi commented on #17367
I swear there was one assigned to me.  But i can't find it at all.

[2017-02-27 19:26] CyrusNajmabadi commented on #8451
Fixed with https://github.com/dotnet/roslyn/pull/15118

[2017-02-27 19:26] #8451 closed

[2017-02-27 19:27] Pilchie commented on #17401
Yes, this is related to https://github.com/dotnet/roslyn/issues/15056, but we should probably add dependencies to our packages now.  Tagging @mattwar

[2017-02-27 19:29] Pilchie commented on #17373
Can you take a look at the trace and see if you can identify what is up?

[2017-02-27 19:29] CyrusNajmabadi commented on #17371
@dotnet/roslyn-compiler @gafter Is the above error expected?  I would have thought an out-var in a lambda in a field would be acceptable.

[2017-02-27 19:30] tmat commented on #13146
I'm not seeing any issues. I opened the solution, built, run the app. I only saw some XAML errors like:
[code]

[2017-02-27 19:30] AdamSpeight2008 commented on #17417
I remember this being brought up before, even being implemented.

[2017-02-27 19:33] #15980 closed

[2017-02-27 19:42] shaggygi commented on #17401
Thank you

[2017-02-27 20:09] OmarTawfik opened #17423 "Workspaces should never parse command line options, but call into Compiler API"
Example: [CompilationOptionsConversion](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharp/Portable/Utilities/CompilationOptionsConversion.cs)
Used in: [CSharpProjectShim](https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShim.cs#L259)

All such uses in the project shim should be replaced by calling into the compiler API.
The c

[2017-02-27 20:36] jasonmalinowski commented on #17421
@jaredpar @agocke Any reason we can't easily move?

[2017-02-27 20:43] tannergooding commented on #17421
@jasonmalinowski, does the package in question use RuntimeInformation, which is hardcoded and does not work with Mono?

[2017-02-27 20:45] jasonmalinowski commented on #17421
@tannergooding You assume I know anything about this. :-)

[2017-02-27 20:50] tannergooding commented on #17421
Well looking at the source code, it is consuming RuntimeInformation at the base level.

So my concern is that this won't work properly if the wrong RuntimeInformation assembly gets copied to the output folder.

[2017-02-27 20:53] jcouv opened #17426 "Annoying auto-completion when typing local function with generic return"
Try typing `IEnumerable<T> Local<T>() { }`.
You will end up with `IEnumerable<TaiwanCalendar>` instead.

FYI @agocke @CyrusNajmabadi

[2017-02-27 20:57] jcouv commented on #17426
Related scenario. After declaring the local function, try typing some code before the local function. For example:
[code]

[2017-02-27 22:03] Pilchie opened #17430 "Need an integration test for lightweight solution load."

[2017-02-27 22:24] jasonmalinowski commented on #17423
@OmarTawfik You implied you're already working on this as a part of some other work you're working on?

[2017-02-27 22:32] jasonmalinowski opened #17432 "Update PublicAPI.txt files for APIs shipping in 2.0.0"
It's time to update these for all the new APIs. The update should happen in dev15.0.x so we don't make mistakes in those branches.

[2017-02-27 23:20] ctaggart commented on #12759
@gregg-miskelly That would be perfect! Can't wait. I need this for our repositories at work. When GitHub returns a `404 not found`, it would pop open the credentials dialog, then try again. /cc @shiftkey @haacked @kzu @cloudRoutine @ryangribble

@tmat I agree that we should put the auth info in the source link json.

[2017-02-27 23:37] JosefPihrt commented on #17275
I would propose to take camel-cased identifiers into consideration. This could improve developer
productivity when typing local variable name (or parameter name).

A simple rule could be applied:

1. **aB...**
2. **a...B...**

Current behavior:

![camelcase](https://cloud.githubusercontent.com/assets/11931318/23384824/c2dbf430-fd4c-11e6-83c9-634b1a12808d.png)

[2017-02-28 00:11] mavasani commented on #5343
@dpoeschl I investigated this further and have a working fix. I am going to grab this bug from you and request a PR review from you :)

[2017-02-28 00:21] #16801 closed

[2017-02-28 00:21] #17198 closed

[2017-02-28 01:09] VSadov commented on #17395
The reason is that
[code]
is emitted as

[code]

I.E. operators trailing after a null-conditional operand can be executed under the same null-check

Same optimization might be possible if operands are reversed and the left operand is not a null-conditional, but would be more tricky. Especially if the other operand (not the null-conditional one) has sideeffects.

[2017-02-28 02:19] JosephWoodward opened #17439 "Question: Workspace for new csproj format"
Hi,

I've been working on a [Visual Studio Code extension that makes heavy use](https://github.com/JosephWoodward/VSCodeILViewer/blob/6bf641d58d51c177c2420e764d44ec982c07942e/src/IlViewer.Core/WorkspaceManager.cs#L13) of a `ProjectJsonWorkspace` to load dependencies which lives within the `Microsoft.DotNet.ProjectModel.Workspaces` package, however with .NET Core now using MSBuild this workspace be

[2017-02-28 02:44] ellismg commented on #17421
I think the goal of the code in the Makefile is to get the RID for the current platform so it can be passed to msbuild.  One other options would be do use `dotnet` to tell us the RID of the current platform:

`dotnet --info | grep "RID:" | awk '{split($2,r,"-"); print r[1]}'`

When run on my ubuntu 14.04 machine, that prints:

`ubuntu.14.04`

When run on RHEL today it will print something like "rh

[2017-02-28 02:52] OmarTawfik commented on #17423
I'm doing a small fix there in `features/readonly-ref` branch.
I believe this issue for tracking the larger work item, which might require API changes, as the compiler command line parser might not expose the appropriate methods yet.

[2017-02-28 03:38] gafter commented on #1938
@MovGP0 How do I `break`, `continue`, etc?

[2017-02-28 03:59] sujaysarma opened #17441 "Code Structure - Extend behavior to other structure components like paranthesis"
I love the way VS automatically draws lines between the open and close { curly braces } in the c# editor. Can you get it to do exactly the same thing for ( parenthesis ) as well ? When function calls have a number of parameters or you are anonymizing and nesting calls, things start to get really messy even 2 levels deep. The dotted line thing that the IDE does would be great to have.

@CyrusNajmab

[2017-02-28 04:35] AdamSpeight2008 commented on #17441
I think there a couple of extensions on the VSGallery that do rainbow braces.

[2017-02-28 04:43] AlekseyTs commented on #17293
I think https://github.com/dotnet/roslyn/pull/17014 is going to address this.

[2017-02-28 04:47] AlekseyTs commented on #17355
Could be fixed by https://github.com/dotnet/roslyn/pull/16789.

[2017-02-28 05:15] gafter commented on #17426
I'm not sure how this can be fixed, since there is no way to know it is a local function when `T` is being typed. @CyrusNajmabadi what do you think we should do about this?
/cc @agocke

[2017-02-28 05:17] CyrusNajmabadi commented on #17426
We solved this for regular methods by just putting "T" in the completion list when it could be the return type of a method.  We'll likely have to do the same for local functions.

[2017-02-28 05:32] ivatih commented on #13146
Yes, this now work, because I removed part of the project with this issue. I had to quickly pass project. But the issue has not been resolved, may be I can reproduce problem!? My apologies.

[2017-02-28 06:22] sujaysarma commented on #17441
@AdamSpeight2008 The idea is that the IDE does this natively. Also, see my note above. The item was filed after discussion with the team.

[2017-02-28 08:14] MovGP0 commented on #1938
@gafter by putting the query into a separate (extension) method, which returns an `IEnumerable`, and using `yield`/`break`/`continue` statements in an `foreach` loop there.

Do you have a code example?

[2017-02-28 09:08] aelij commented on #12046
@perjahn I think it will be included in VS 2017.

[2017-02-28 09:17] filipw commented on #12046
As a public Roslyn API it missed the VS 2017 cut for 2.0.0 and will come in next release (2.1.0).
For `csi.exe` specifically there is an open PR here https://github.com/dotnet/roslyn/pull/17379

[2017-02-28 09:56] TonyValenti commented on #1938
Related to "How do I break or continue?" I think it is worth deciding what the return value from "do" is.  Is a linq statement with "do" a statement or an expression?

My preference is that "do" act like either an Action<> or a Func<> and return either:
IEnumerable<T> when "yield returns/Yield Breaks" are used in the DO.
T or Void when "Return or Breaks".

Here are a few different ways the syntax

[2017-02-28 10:02] stephenmartindale commented on #17201
This is related, but I'm really not sure where to ask. Is there some way to disable `IDE0032`? It's a preference of code style and there seems to be no option in Visual Studio to turn this one off - it isn't in the code-style property pages.

[2017-02-28 10:26] MovGP0 commented on #1938
@TonyValenti  That `from ... do` syntax merges the Query with the Command (and thus violates the CQS principle), and in many cases is more to write. I find it cleaner this way:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-02-28 12:28] bondsbw commented on #1938
@MovGP0 There may always be a great debate about whether query syntax is better than method chaining, but this proposal is to make query syntax better for those who prefer it. (Though I would love to see a `ForEach(...)` method ship in the BCL.)

Besides, I don't think executing two statements directly in succession (in the same block of code) is really any more/less compliant with the spirit of C

[2017-02-28 12:55] MagnusMikkelsen commented on #12607
@Pilchie LangVersion tag is not present in the .csproj file - in the gui it says Language Version: default

[2017-02-28 14:55] jnm2 commented on #1938
@bondsbw You're completely right. I wasn't going to say anything but the CQS thing is being taken way out of context in my opinion.

[2017-02-28 15:58] mihailik opened #17452 "[wiki] Building Testing and Debugging"
# [Building Testing and Debugging](https://github.com/dotnet/roslyn/wiki/Building%20Testing%20and%20Debugging)
^^^

that wiki page has dead references for VS2015 build instructions

![roslyn-issue-wiki](https://cloud.githubusercontent.com/assets/4041967/23412960/3297c236-fdcf-11e6-93c9-1894dbd45f90.png)

For VS2015 the branch name is `microupdate`, but the links to "Instructions to build on...(Win

[2017-02-28 16:02] akarpov89 opened #17453 "Compiler crash when compiling element access to by-reference local array"
**Version Used**:
Master branch @ February 14

**Steps to Reproduce**:
Compile the following code:

[code]

**Expected Behavior**:
Compiler successfully compiles the code or emits a syntax error that array initializer expression isn't allowed in ref expression. I lean towards the latter because such construct looks weird, most probably won't be used and doesn't give much value.

**Actual Behavior*

[2017-02-28 16:16] #9539 closed

[2017-02-28 16:33] mihailik commented on #16710
Why not try and call `42.Equals` directly (where possible), avoding boxing?

[2017-02-28 17:13] andras-ferencz opened #17454 "System.ValueTuple does not serialize properly."
this works fine:
`new BinaryFormatter().Serialize(File.Create(Path.GetTempFileName()), new System.Tuple<int, int>(0,0));`

this throws "is not marked as serializable":
`new BinaryFormatter().Serialize(File.Create(Path.GetTempFileName()), (lat: 0, lon: 0));`

In WebAPI: `
[Route("api/geocoords/usa/zipcodes/{zip}")]
public (double lat, double lon) GetZipCoords(int zip) => (0, 0);
`
returns: `{"Item1

[2017-02-28 17:18] andras-ferencz opened #17455 "System.ValueTuple causes a StackOverflow when used in a large Dictionary."
When using the new System.ValueTuple in a large Dictionary, I receive a stack overflow exception where as I do not with System.Tuple.

`Dictionary<int, (double lat, double lon)> zipcodes = new Dictionary<int, (double lat, double lon)>() {{123,(18.180555,-66.749961)} };` works fine just for reference.

[geocoords_stackoverflow.cs.txt](https://github.com/dotnet/roslyn/files/807590/geocoords_stackove

[2017-02-28 18:18] RichiCoder1 commented on #17454
That second issue sounds like a short coming of Json.Net, which handles JSON serialization and deserialization for Web API. I'd create an issue there. You do have to remember that the "friendly" names are largely just compiler magic.

[2017-02-28 18:31] Pilchie commented on #17201
Unfortunately, no, that one isn't configurable right now, though I agree that it should be.

[2017-02-28 18:34] tmat opened #17456 "Umbrella issue to track all known VS SDK issues"
- [ ] "ExternalSettingsManager::GetScopePaths failed to initialize PkgDefManager "
https://ci.dot.net/job/dotnet_roslyn/job/dev16/job/windows_release_vs-integration/2

- [ ] System.IO.IOException: The process cannot access the file 'C:\USERS\DOTNET-BOT\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\15.0_DD22E32EROSLYNDEV\EXTENSIONS\Microsoft\Roslyn Language Services for Visual Studio 15\42.42.42.42424\exten

[2017-02-28 18:38] #17305 closed

[2017-02-28 18:39] dpoeschl commented on #17085
Fixed by https://github.com/dotnet/roslyn/pull/17372

[2017-02-28 18:39] #17085 closed

[2017-02-28 18:43] tmat commented on #17456
@jasonmalinowski @Pilchie @tannergooding @jaredpar @Michael-Eng @AlexEyler @tinaschrepfer

If you are aware of an existing VSO bug tracking an issue listed above that doesn't have a link to VSO, please add the link.

[2017-02-28 19:13] AdamSpeight2008 opened #17457 "[Question] MinValue and MaxValue."
This is going to read like a dumb question, but I need confirmation.
Are the `MinValue` and `MaxValue` of the types that specify there bit width. eg `Int32` going to change?
If never then I / we, can in same test cases use the text `2147483647`, rather than `Int32.MaxValue.ToString`

[2017-02-28 19:21] KirillOsenkov opened #17458 "NullReferenceException in SyntaxFactory.ParseStatement()"
**Version Used**:
NuGet Microsoft.CodeAnalysis 2.0.0-rc4

**Steps to Reproduce**:

1. New C# console app, install Microsoft.CodeAnalysis package version 2.0.0-rc4
2. Program.cs method body: `SyntaxFactory.ParseStatement("private");`

**Expected Behavior**:
Does not crash

**Actual Behavior**:
NullReferenceException:

[code]

This is because here we don't check the node for null:
http://source.rosl

[2017-02-28 19:26] gafter commented on #17455
@jcouv FYI

[2017-02-28 19:26] rchande commented on #17373
@tmat Were you using NavigateTo? This looks like another instance of the "bad typing lag in NavigateTo" bug that I've been investigating.

[2017-02-28 19:27] gafter commented on #17454
@jcouv

[2017-02-28 19:27] rchande commented on #17373
@tmat You also have something allocating lots of
` Type Entry[Microsoft.Cci.ISignature,System.Collections.Generic.KeyValuePair`2[System.Reflection.Metadata.BlobHandle,System.Collections.Immutable.ImmutableArray`1[System.Byte]]][]
`
PerfView says those stacks are broken--do you know if you have any extensions installed that could have caused that?

[2017-02-28 19:29] gafter commented on #17457
Those APIs are not part of Roslyn.

[2017-02-28 19:29] #17457 closed

[2017-02-28 19:31] AdamSpeight2008 commented on #17457
Yes I know there not part of Roslyn, but we use those constants in unit-tests.

[2017-02-28 19:58] jcouv commented on #17454
Regarding the first part ("is not marked as serializable" error):
`System.ValueTuple` initially shipped without the serializable annotation. This was recently added to the various implementations (mscorlib, coreCLR, coreRT, xamarin) following issue https://github.com/dotnet/corefx/issues/15229. This should work once those implementations ship and you upgrade your target group.
As a demonstration,

[2017-02-28 20:00] VSadov commented on #17453
Should not compile.    `{1,2,3}` is not a variable.

[2017-02-28 20:33] gafter commented on #1938
The proposed construct is intended to be a statement form.

[2017-02-28 20:41] jmarolf commented on #17457
This would be a question for the https://github.com/dotnet/corefx repo.

[2017-02-28 21:11] jmarolf opened #17460 "VSSDK "There was a problem checking to see if the profile was setup""
On latest RTM build I get the following error
[code]

[2017-02-28 21:21] gafter commented on #17455
@andras-ferencz Those links appear to point to empty documents.

[2017-02-28 21:25] jcouv commented on #17454
@andras-ferencz I will close this issue as by design.
The first part was fixed and will become available as the frameworks ship.
The second part could be discussed with Json.Net, but I expect it cannot be fixed because tuple element names don't exist at runtime.

Feel free to ping me or re-open if this doesn't make sense.

[2017-02-28 21:25] #17454 closed

[2017-02-28 21:29] jcouv commented on #17455
I'm able to see the repro file. The code causing stack overflow looks like this:

[code]

[2017-02-28 21:46] mattwar commented on #15603
I think the problem is that the workspace package includes the desktop dll and the dependency on Elfie and Esent.

[2017-02-28 21:57] AlekseyTs opened #17462 "We might want to revisit SemanticModel behavior around type syntax for a DeclarationExpression based on ParenthesizedVariableDesignation"
Today if the type syntax is ```var``` (like in ```var (x1, (x2, x3))```), we don't return anything from GetSymbolInfo\GetTypeInfo for that syntax. @gafter argues that this is somewhat inconsistent by comparison with other forms of type syntax. Also, in incorrect programs, we do lookup var and bind it to a type in the enclosing scope. The semantic model behavior here does not agree with the binding

[2017-02-28 22:10] AlekseyTs opened #17463 "We should make sure we have adequate test coverage for SemanticModel.GetConversion around DeclarationExpressions"
For example, what does the API return for the declaration ```int z``` in ```(long x, long y) = (int z, int w);```.

[2017-02-28 22:25] twsouthwick opened #17464 "Adding a new project in VS with EnvDTE.Solution2.AddFromFile(string) doesn't raise Workspace.WorkspaceChanged event"
**Version Used**:
15.0.26228.0

**Steps to Reproduce**:

1. Create a project
2. Remove it from the solution (but it's still on disk)
3. Run the following code in VS:

[code]

where `_workspace` is of type `VisualStudioWorkspace`.

**Expected Behavior**:

The `WorkspaceChanged` event gets called and the `TaskCompletionSource` gets set. This was the behavior until I upgraded to this build today.

**

[2017-02-28 22:39] Pilchie commented on #17460
Tag @AlexEyler

[2017-02-28 22:48] AlexEyler commented on #17460
That's a new one - setting up a repro now. I'm assuming this was during build of Roslyn.sln?

[2017-02-28 23:00] anurse opened #17470 ""Make Method Async" Code fix does not recognize ValueTask as Task-like."
**Version Used**: VS 2017 15.0.0+26228.0.d15rel

**Steps to Reproduce** (in VS 2017):

1.  Create a method that returns `ValueTask<T>` but is **not** marked `async`
2. Add an `await` expression to the method. Observe that it is squiggled because the method is not `async`
3. Ctrl+. and activate the "Make method async" code fix

**Expected Behavior**: The `async` keyword is added to the method, but

[2017-02-28 23:43] mavasani opened #17474 "InvalidCastException at Microsoft.CodeAnalysis.CSharp.ExtractMethod.CSharpSelectionResult.StatementResult.GetContainingScopeType"
**Version Used**:
D15Rel 26226.0

**Steps to Reproduce**:
1. Restore, build and open Roslyn.sln
2. Open source file: `\src\EditorFeatures\Core\Implementation\Classification\SemanticClassificationBufferTaggerProvider.Tagger.cs` and enter the following code at end of the file:
[code]
3. Select text `throw new NotImplementedException();` in the add or remove handler.

Got the following exception in t

[2017-02-28 23:46] jcouv commented on #10586
Duplicate of https://github.com/dotnet/roslyn/issues/16565

[2017-02-28 23:46] #10586 closed

[2017-02-28 23:57] AlexEyler commented on #17460
@jmarolf hmm, I couldn't repro. Here are the steps I took:
1. Install latest build of RTM on Win10.
1. Clone Roslyn repo.
1. Open Visual Studio and close it (this sets up the profile for the non-root suffixed instance - I don't think it matters but I want to be explicit).
1. From developer command prompt, run `Restore.cmd`
1. From developer command prompt, run `msbuild /v:m /m Roslyn.sln`

Is ther

[2017-03-01 00:07] jcouv commented on #13976
Duplicate of https://github.com/dotnet/roslyn/issues/11803

[2017-03-01 00:07] #13976 closed

[2017-03-01 00:10] vladima opened #17475 "Provide a way to remove results returned via IStreamingFindUsagesPresenter"
*per offline discussion with @CyrusNajmabadi*

problematic TypeScript scenario: after running `FindReferences` and getting results that include data from some file `a.ts` user can edit the code (i.e. delete import statement) in a way that `a.ts` is no longer part of the project so TypeScript project system will remove this file from the project. However result that references this file will still

[2017-03-01 00:50] VSadov commented on #17261
added examples to the bug

[2017-03-01 01:04] gafter commented on #17463
To be clear, I did not request test coverage here. I requested that you reflect your concern with a new issue.

[2017-03-01 01:10] brettfo commented on #12187
Everything works correctly as per:
- [`$(RoslynFileVersionBase)`](https://github.com/dotnet/roslyn/blob/master/build/Targets/Versions.props#L13) set to 2.1.1.
- Full signed build completed.
- VS insertion tool against this build was correct (using standard values).
- Full VS validation build installed and runtime is correct (e.g., IDE features work as expected).
- Installed VS component is 2.1.1 a

[2017-03-01 01:10] #12187 closed

[2017-03-01 01:25] gafter commented on #17455
I've been working my way through these geocoordinate positions, and so far I've found three gold bars buried after checking the first five locations, in one case barely escaping an angry farmer with a shotgun. One was in the alley behind a house (in a loosely filled pothole), one was dangerously close to a highway, and one was in the middle of a shooting range near a police academy. Can I please g

[2017-03-01 02:34] jcouv opened #17478 "Crash with `default as C`"
It's probably good to also test `default as T` where `T` is an open type.

[code]

[code]

[2017-03-01 04:19] AlekseyTs commented on #17463
@gafter

I think we don't know if there is an issue here or not. Is it possible that you were thinking about this issue https://github.com/dotnet/roslyn/issues/17462 instead?

[2017-03-01 07:54] akarpov89 commented on #17453
I've just found that changing
[code]
to
[code]
causes another crash:
[code]

[2017-03-01 07:56] jmarolf commented on #17460
@AlexEyler sorry, I cleaned my nuget cache and that fixed the issue.

[2017-03-01 09:52] alrz opened #17479 "Suggest to use throw expression with a discard"
Currently there is a code action that suggests to use throw expression only if the target is being assigned

This could be done even if it's not being assigned,
[code]
->
[code]

[2017-03-01 11:29] svick commented on #17479
I don't think assignment should be suggested when there is nothing to assign, just because the code is slightly shorter.

[2017-03-01 11:41] alrz commented on #17479
Exactly. Note that not everybody likes even the existing suggestion; you should opt-in anyways, so I don't see why we should not do this for everybody.

PS: Only if we could use `??` as an statement .. .

[2017-03-01 18:21] jcouv opened #17495 "Add VB project settings and DTE API to control Language Version"
C# projects include a settings drop-down for Language Version (pictured below). But VB projects don't have a corresponding drop-down with the list of VB versions.

From the compiler usage information, the current list looks like this:
[code]

In particular, the VB Language Version drop-down should expose two options: "default" and "latest" (with friendly labels).

![image](https://cloud.githubuser

[2017-03-01 18:37] jcouv commented on #17495
From discussion with the team, we don't need to do this now, as the coming quarterly release will only have a point release for C#, but not VB.

[2017-03-01 19:00] dpoeschl opened #17496 "Port ChangeSignature dialog tests"
Disabling them because I changed some things that break the old tests. Using this to track those disablings.

[2017-03-01 19:01] AlekseyTs commented on #17371
The error is a known bug, fixed in https://github.com/dotnet/roslyn/pull/17101.

[2017-03-01 19:18] #16361 closed

[2017-03-01 19:48] AdamSpeight2008 commented on #17173
Why was using the type `Version` ruled out ?

[2017-03-01 19:58] CyrusNajmabadi opened #17498 "SyntaxTree diffing algorithm performs very poorly (leading to Fix-All scenarios being broken)."
The code-action fix-all engine works by having each registered action perform it's fix, getting the diff of that fix against the original document, and then trying to merge together all those diffs.

As such, for fix-all to work properly, the diffs produced by the diffing algorithm need to be small and reasonably accurate.  Otherwise, if the diffs are large they will end up looking like overlappin

[2017-03-01 20:00] CyrusNajmabadi commented on #17498
Here are the files to diff.

[Files.zip](https://github.com/dotnet/roslyn/files/811887/Files.zip)

Issue can be reproduced with the following code:

[code]

[2017-03-01 20:21] VSadov commented on #17453
Added the other scenario as well.

Thanks for reporting these!!!

[2017-03-01 20:28] twsouthwick commented on #17464
@jasonmalinowski Could your change in commit d2f3957f34760926e2b8e05b8a85d47347413d4f be related to this?

[2017-03-01 20:28] jcouv commented on #17173
@AdamSpeight2008 [Which type `Version`](http://source.roslyn.io/#q=version) do you mean?

[2017-03-01 20:41] AdamSpeight2008 commented on #17173
@jcouv [System.Version](https://msdn.microsoft.com/en-us/library/system.version(v=vs.110).aspx)

[2017-03-01 20:49] jcouv commented on #17173
@AdamSpeight2008 The compiler already uses `LanguageVersion`. It is part of the public API and we cannot change to a different type without breaking backwards compatibility of multiple APIs (regardless of merits of another type, which I did not investigate).

[2017-03-01 21:16] Ross-Esmond opened #17500 "Make the FormatAsync methods in the Workspaces (portable) projects Formatter class public."
The Formatter class has a few FormatAsync methods for formatting individual nodes. Each of these methods are marked internal but have a public synchronous method exposing them. This creates some problems though because the .WaitAndGetResult call used throws an exception if called from a background thread. Which prevents unit tests that need to format individual nodes from accessing the api.

[2017-03-01 21:17] jasonmalinowski commented on #17452
Oh goodness that page was out of date. It's less bad now. :smile:

[2017-03-01 21:17] #17452 closed

[2017-03-01 21:20] jasonmalinowski commented on #17329
@jaredpar Do we need any additional info from @skosterin88 here?

[2017-03-01 21:30] jaredpar commented on #17329
Yes

[2017-03-01 21:46] #12778 closed

[2017-03-01 22:00] #7093 closed

[2017-03-01 22:36] tmeschter opened #17503 "NullReferenceException in VB ReplaceMethodWithPropertyCodeRefactoringProvider"
**Version Used**: D15Rel 26223.01

**Steps to Reproduce**:

1. Create a new VB class library
2. Inside `Class1` add the following:
[code]
3. In the body of `Method` type `sub<space>`
4. Wait a moment

**Expected Behavior**:

No errors occur

**Actual Behavior**:

A yellow info bar pops up stating "'ReplaceMethodWithPropertyCodeRefactoringProvider' has encountered an error and has been disabled." a

[2017-03-01 22:40] #17453 closed

[2017-03-01 22:49] Suchiman commented on #17395
@VSadov i think you've confused issue ids in the commit closing this

[2017-03-01 22:59] #5028 closed

[2017-03-02 01:16] 0xd4d commented on #17275
How about this one, happens if you have added `using System.ComponentModel;` :

![completion](https://cloud.githubusercontent.com/assets/1060731/23488429/d6d9d08c-feec-11e6-8e95-27b8b677cba9.png)

`ArgumentNullException` is a better match, and also happens to be exactly what I wanted.

[2017-03-02 01:39] gafter commented on #5028
@CyrusNajmabadi Thanks for doing this. You are awesome.

[2017-03-02 01:41] jgleaton commented on #17329
I'm on Windows 7 as well.

For me it is download-nuget.ps1.

[2017-03-02 02:30] Pilchie opened #17506 "RIT.exe outputs a list directly instead of its contents"
Was running an insertion and saw this in the output:

[code]

Note the `System.Collections.Generic.List`1[System.String]`, which is probably intended to be the contents.

[2017-03-02 02:42] abhijitparkhi1983 opened #17507 "SemanticModel: GetSymbolInfo/GetDeclaredSymbol returns null for System.Drawing.Font"
**Version Used**: 1.3.1

**Steps to Reproduce**:
** Code **:
`var semanticModel = document.GetSemanticModelAsync().Result //Where document is Microsoft.CodeAnalysis.Document`

Using the above **semanticModel**, we are trying to find the **full qualified path** of the **Font** type declared: `private Font font;`

The way we use **semanticModel** to get the **full qualified path** is like below:
[co

[2017-03-02 04:26] binki commented on #114
@dmitriyse A class desiring such “only start the disposable once” behavior could just return the same `Task` in subsequent calls to `IAsyncDisposable.DisposeAsync()`. I can sort of see how it might be easier to consume what you wrote, but I think the original proposal makes some good decisions:

1. An interface with just `Task DisposeAsync();` is simpler to implement. It only has one member.
2. Th

[2017-03-02 04:59] OmarTawfik opened #17508 "CSharpEventHookup tests are failing"
Example: https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p2_prtest/489/artifact/

This is blocking https://github.com/dotnet/roslyn-internal/pull/1632.
I've found several occurrences of this timeout in multiple open PRs.

[2017-03-02 04:59] OmarTawfik commented on #17508
@dotnet/roslyn-infrastructure @tmat

[2017-03-02 09:18] molinch commented on #13897
What is the "right" way to fire and forget a Task?

In our app we did a helper:
[code]
Such a change would break our code.

[2017-03-02 09:52] fanoI commented on #13735
So what is the fate of this proposal?

For Cosmos will be really important to have the possibility to embed X# (x86 assembler) inside C# look what we have to do now:

https://github.com/CosmosOS/Cosmos/blob/master/source/Cosmos.IL2CPU/Plugs/Assemblers/Array/ArrayGetLengthAsm.cs

while instead with this proposal we could "simply" do:

[code]

I think that to not put too much burden on this the lang

[2017-03-02 10:04] vasily-kirichenko opened #17511 "NavigateToItemProvider.CacheFileNames consumes 100% of a CPU core in background thread"
After editing (F#) code for some time, switching branches, etc., VS starts to consume ~25% CPU:

![image](https://cloud.githubusercontent.com/assets/873919/23502156/d66711d6-ff47-11e6-82fa-692675cac7cb.png)

It can do it forever (I was watching VS in this state for about 20 minutes, then restarted it).

dotTrace shows this (~1 minute snapshot):

![image](https://cloud.githubusercontent.com/assets/

[2017-03-02 11:41] dmitriyse commented on #114
Hi! Yes, returning the same Task from AsyncDispose is a good and possible idea. And I also share your reasons. But one case is not covered by Task DisposeAsync(). You cannot get Task and not query disposing.
So task in this case works as event. You can subscribe on this task even no Dispose been started.
In the original proposal:
"Task DisposeAsync()" method is only way to get Task. So you will al

[2017-03-02 11:58] dmitriyse commented on #114
I think requirement to have "dispose finished" Task-event (while don't do dispose) is not so rare . And if IAsyncDisposable will not support this case than some third party libraries will add additional contract IAsyncDisposableEx "with blackjack and hookers". Possibly it;s a reasonable solution to have IAsyncDisposableEx inherited from IAsyncDisposable with DisposedTask property, because "async u

[2017-03-02 14:00] Logerfo commented on #13367
I like this one. Also, why does try/catch/finally scopes need to be explicit, unlike other expressions?

[2017-03-02 14:03] benaadams commented on #13897
@molinch something like?
[code]

[2017-03-02 14:27] molinch commented on #13897
Thanks @benaadams
Will ```ContinueWith``` behave normally with Promises tasks?

[2017-03-02 16:17] cston commented on #15887
Fixed in https://github.com/dotnet/roslyn/commit/e2e8eac24697532166ae076931f626057d9ce36b

[2017-03-02 16:17] #15887 closed

[2017-03-02 16:27] jaredpar commented on #17329
Hmm, the only use of `$_` in the script is in the catch block.  Hence it seems there is another error and then the script is throwing trying to print the error.  Can you try removing the try / catch and see if it prints the real error?

On higher note: that script is **very** basic.  If Windows 7 Powershell can't handle it, I'm not sure how it's going to handle the rest of our scripts which have m

[2017-03-02 16:56] Pilchie commented on #17507
Can you check your `Compilation` for Diagnostics?  I suspect that references are not configured properly on it.

[2017-03-02 17:15] Pilchie commented on #17439
Tagging @DustinCampbell and @mattwar

We haven't done the work to make `MSBuildWorkspace` work properly with the new MSBuild cross-platform.  In the meantime, you might look at what [omnisharp](https://github.com/omnisharp/omnisharp-roslyn) does to populate it's workspace.

[2017-03-02 17:20] Pilchie commented on #17474
Likely we just forgot add/remove handlers altogether :(

[2017-03-02 17:22] Pilchie commented on #17479
This doesn't seem like the sort of suggestion we would build into the product, but feel free to write as an extension analyzer/fixer.

[2017-03-02 17:22] #17479 closed

[2017-03-02 17:23] Pilchie commented on #17479
@kuhlenh @DustinCampbell @CyrusNajmabadi any disagreement here?

[2017-03-02 17:26] Pilchie commented on #17500
Can you take a look and see if we should just expose the async versions?

[2017-03-02 17:28] Pilchie commented on #17511
The FileNameProvider is a core VS component.  Tagging @olegtk - can you help us route this?

[2017-03-02 17:39] dmitriyse commented on #114
Please also consider to support this scenario https://github.com/dotnet/csharplang/issues/216

Possible way is:
[code]

[2017-03-02 17:49] mattwar commented on #17498
The repro test is bad because it is based on two separately parsed files.  The syntax differ is based on recognizing the same green node instances. Nodes that are just similar have a much smaller correlation.

[2017-03-02 18:00] tmat opened #17512 "ArgumentOutOfRangeException from Microsoft.CodeAnalysis.SymbolKey.TypeParameterOrdinalSymbolKey.Resolve"
VS d15rel 26228.0

The exception is swallowed and a dialog reports a nondescript error.

Stack trace:

[code]

Memory dump:

%internal_share%\public\tomat\Bugs\17512

[2017-03-02 18:00] jasonmalinowski commented on #17464
@twsouthwick: that change would only control eventing for the MiscellaneousFilesWorkspace I'd believe.

[2017-03-02 18:06] jasonmalinowski commented on #17329
Is it worth getting one of our CI queues using Windows 7? Given it's a supported platform of Visual Studio we probably should be doing that anyways...

[2017-03-02 18:11] olegtk commented on #17511
Please file an internal bug for the editor team. @vasily-kirichenko, any repro steps? If you can still repro it, please grab a memory dump and etl traces. Thanks!

[2017-03-02 18:15] Ross-Esmond commented on #17500
That seems like the best option to me. There's specifically four methods that are being exposed by synchronous methods. The only issue I found is that it triggers [warning RS0026](https://github.com/dotnet/roslyn/blob/master/docs/Adding%20Optional%20Parameters%20in%20Public%20API.md), but that seems to be related to issue #16564. I've gone over all the methods and there's no room for ambiguity or

[2017-03-02 18:23] jaredpar commented on #17329
There is a difference between our supported and development platforms even though they have significant overlap.  It's not a requirement that we test all supported platforms in our development phase, just that we test them at some point.  Our product is tested on less common OS like Windows 7 are tested regularly, just not in CI.

Thinking about this though I think there are a couple paths forward

[2017-03-02 18:36] tmat opened #17514 "Better signature help when calling a method taking a tuple"
In the following scenario the signature help isn't useful:

![image](https://cloud.githubusercontent.com/assets/41759/23521461/ef94a844-ff33-11e6-8409-8e537fc198d6.png)

I would like to see the target type of the tuple, not the one I'm typing.

[2017-03-02 19:10] mattwar commented on #17500
These particular methods are not supposed to be asynchronous at all. They seem to be a sync now based on work that I assume HeeJae did to make portions of the format engine work in parallel.

[2017-03-02 19:26] Ross-Esmond commented on #17500
The particular issue I ran into is that WaitAndGetResult breaks unit tests. So refactoring the Format methods code to be natively synchronous would also fix my problem.

[2017-03-02 19:30] dviljoen commented on #2790
I'm experiencing this issue intermittently.  This issue is closed.  Does that mean it was fixed?
My environment:
Microsoft Visual Studio Professional 2015
Version 14.0.25431.01 Update 3
Microsoft .NET Framework
Version 4.6.01055

Installed Version: Professional

Microsoft Visual Studio Tools for Applications 2015   00322-50051-00059-AA251
Microsoft Visual Studio Tools for Applications 2015

Visual

[2017-03-02 19:31] jaredpar opened #17517 "NuGet packages need to be updated for Net Standard / App 2.0"
The collection of base Roslyn NuGet packages need to be updated for Net Standard / App 2.0.

Today they contain entries for only Net Standard 1.3.  That means during a build operation for Roslyn in a Net Standard 2.0 enviroment the following will occur:

- Net Standard 1.3 packages will be resolved and downloaded by NuGet
- The build process will see the duplicate libraries and choose the Net Stan

[2017-03-02 19:36] Unknown6656 commented on #13735
@fanoI I think this should definitely be re-opened in csharplang

[2017-03-02 19:37] mattwar commented on #17500
I was implying that they are incorrectly being implemented as async methods, when they should not be. I don't think exposing the incorrect signatures that should be undone would be wise.

[2017-03-02 20:29] CyrusNajmabadi commented on #17479
I agree on not doing this.  Generating an assign just so you can use a ?? seems not great.

[2017-03-02 20:30] Ross-Esmond commented on #17500
I understand. Making it public can't be reversed, so if the async method is undesirable then it's not an option. It sounds like my issue report is just inherently flawed. The specific problem that does exists though is a mismatch between what WaitAndGetResult expects and how the Format methods work. In WaitAndGetResult there is an error that unit tests will always trigger with a comment saying

Bu

[2017-03-02 20:31] CyrusNajmabadi commented on #17498
That's a serious problem then :)  As this is what ends up getting used during Fix-All and this is how Document.GetTextChangesAsync works.  Perhaps we should only do the tree diffing if we can verify that they came from trees that have an incremental parsing relationship?   i.e. any time we create a new fresh tree, we give it an ID. Then, if we incrementally parse, we use that same ID.  Then, we on

[2017-03-02 20:37] Pilchie commented on #17500
Tagging @CyrusNajmabadi.  IIRC - there is a "WaitAndGetResult_AllowFromBackgroundThread" (or similar).  should we just be using that instead in this case?

[2017-03-02 20:41] CyrusNajmabadi commented on #17500
@Pilchie As this is part of a library *probably*.  We can't go willy nill asserting things like that for public APIs.  It's a shame though as that assert is good for catching badly behaving Rolsyn code.

We should also just make the async API public.

The issue here is that we believed, earlier, that APIs like this could just synchronous, and that all asynchrony would be at the Document level.  Ho

[2017-03-02 20:44] tmat opened #17518 "Bogus error CS0170 reported for deconstruction in foreach loop"
Sync to PR https://github.com/dotnet/roslyn/pull/17519.

Inline variable ```t``` in [code](https://github.com/dotnet/roslyn/pull/17519/commits/6e534740daff0c5462e3c6bc74aa09b72cabf534?diff=split#diff-9236a68bf1a2701b994b2d9d86eece83R242):

[code]

like so:
[code]

Build Compilers.sln

Actual:
[code]

Expected:
No errors.

Unfortunately, I was not able to extract a simpler repro.

[2017-03-02 20:44] CyrusNajmabadi commented on #17500
Actually, scratch that.  This assert only happens in debug.  @Ross-Esmond Are you referencing debug versions of Roslyn?

[2017-03-02 20:48] Ross-Esmond commented on #17500
Yes. I'm using the source code and I have several edits so I never thought to change it. I guess I could just turn off the debug flag. That would definitely fix the error.

[2017-03-02 21:05] #5343 closed

[2017-03-02 21:15] tmat commented on #17498
The core diffing algorithm doesn't rely on reusing syntax nodes. It should be possible to change the alg customization to do value comparison of nodes.

[2017-03-02 21:18] mattwar commented on #17498
When you call GetChanges on a SourceText that did not derive from the older source text argument, you just get one change referencing the entire span. There is no attempt to actual diff the text. Likewise, with document.GetChanges, it uses the SourceText's changes if they exist and are not just the entire document, otherwise it attempts to make a quick best effort with the syntax trees. The assump

[2017-03-02 21:21] mattwar commented on #17498
It is possible that we could switch to use the tree diffing code that @tmat added, but it may bust the perf tests.

[2017-03-02 21:42] CyrusNajmabadi commented on #17498
The problem is then that we simply cannot use this API for FixAll.  I personally don't think that's a great situation to be in.

This isn't borne out by the code.  You can have a few local edits (which is the case i have above), and still get terrible diffs.  This is because the code assumes that it can get back to the original SourceTexts for each Document and then get the changes off of that.  I

[2017-03-02 21:42] tmat commented on #17498
Oh, I thought the tree diff code is already being used :).
Yes, the alg is O(N^2). EnC does multi-level diffing: declaration level, method body level, lambda level. In each case only nodes on the level (declarations, statements in the method, statements in the lambda, respectively) are being considered.

[2017-03-02 21:47] CyrusNajmabadi commented on #17498
Before doing that, i would propose the following:

1. We only do tree diffing if we can validate (in some manner) that these trees are incrementally related.  I outlined a way we could do that above.
2. If we cannot do tree diffing we fall back to SourceText diffing.
3. If that immediately returns a single 'full span changed' result we then try to import the IDocumentDifferenceService and we reque

[2017-03-02 21:48] #16602 closed

[2017-03-02 22:12] #17281 closed

[2017-03-02 22:13] dmitriyse commented on #159
Immutability annotation can be applied also to a method arguments. For example if argument is R/W collection, then
[code]
immutable keywork will inform developer and compiler that R/W collection will never change
So it's sort of static code analysis in the compile time.
The same proposal as for not-nullable referenced types.
See also
https://github.com/dotnet/csharplang/issues/219#issuecomment-283

[2017-03-02 22:16] mattwar commented on #17498
@CyrusNajmabadi I thought you said you were getting a bad result even when they are incrementally related.  Maybe we should examine that problem first.

[2017-03-02 22:34] Pilchie commented on #17511
Created "Bug 390244:NavigateToItemProvider.CacheFileNames consumes 100% of a CPU core in background thread"

[2017-03-02 22:34] #17511 closed

[2017-03-02 22:50] jgleaton commented on #17329
I commented out the try/catch, but the error makes even less sense :/
![image](https://cloud.githubusercontent.com/assets/3639415/23530036/9daadeea-ff65-11e6-807c-bcd9ca3c328d.png)

The only ways I managed to get past this was either comment-out the set-strictmode:
`...`
`#set-strictmode -version 2.0`
`...`
\- or \-
comment out the param syntax:
`#param (`
`#    [string]$nugetVersion = $(throw "Ne

[2017-03-02 23:26] jcouv commented on #14109
@jaredpar asked what is the `gcc` behavior for comparison:
[code]

[2017-03-02 23:39] TyOverby commented on #14109
rustc behavior

[code]

[2017-03-02 23:42] TKharaishvili opened #17525 "Insufficient intellisense assistance on some generic methods"
I'm using VS community 2015 update 3 and C# 6

Let's discuss the following method signature:

[code]

During the invocation, at the time of typing the second parameter

[code]

intellisense has trouble figuring out what the type of `x` is and doesn't display it's members. Only by the time the programmer gets to the 3rd parameter the type information becomes available.

This only takes place for mo

[2017-03-02 23:46] alinapopa opened #17526 "Attempting to create a SyntaxToken of kind VisualBasic.SyntaxKind.IdentifierToken throws ArgumentOutOfRangeException"
Is there a way to create a SyntaxToken of type VisualBasic.SyntaxKind.IdentifierToken?

**Version Used**:
Microsoft.CodeAnalysis 2.0.0-rc3
**Steps to Reproduce**:
using Microsoft.CodeAnalysis.VisualBasic;
var token = SyntaxFactory.Token(SyntaxKind.IdentifierToken, text);
**Expected Behavior**:
Returns a SyntaxToken
**Actual Behavior**:
Throws ArgumentOutOfRangeException

In src\Compilers\VisualBas

[2017-03-03 01:25] tmat commented on #14109
The sha is stored in AssemblyInformationVersion so we can print out that version string with ```csc /version```.

[2017-03-03 01:51] tmat commented on #17518
@agocke FYI - this is the issue I mentioned earlier today.

[2017-03-03 01:52] gafter commented on #17369
I've asked the reported to provide a problematic source file.

[2017-03-03 01:55] tmat commented on #17518
/cc @gafter @jcouv

[2017-03-03 02:17] tmat commented on #12759
I think at this point we can close this issue as we have and end-to-end solution with Source Link.

[2017-03-03 02:17] #12759 closed

[2017-03-03 02:26] ctaggart commented on #12759
@tmat I welcome contributions. https://github.com/ctaggart/SourceLink/wiki/Contributing
I made `dotnet sourcelink` and `dotnet sourcelink-git` separate for a reason. Ideally, others would be created.

[2017-03-03 02:28] tmat commented on #12759
@ctaggart Cool. I was just curious. Didn't expect you'd write support for all source control systems out there.

[2017-03-03 02:34] abhijitparkhi1983 commented on #17507
Hello Pilchie,

Wanted to know if this is what you are suggesting:
[code]
Do you want me to check out on the **diagnosticDetails** data?

[2017-03-03 02:36] Pilchie commented on #17507
Yes, but I would look at all diagnostics, not just DeclarationDiagnotics.

[2017-03-03 03:05] twsouthwick commented on #17464
Ok - didn't realize that was a different workspace.

This issue seems to be more far reaching than I first thought. I created a simple VSIX that just imported VisualStudioWorkspace and I'm seeing that not all projects get loaded in my VisualStudioWorkspace. I have  a project with 3 projects (1 CS Winforms, 1 CS console, and 1 VB Winforms) and only one is showing up as available in the Workspace.Cu

[2017-03-03 03:13] jcouv commented on #17518
Sounds like https://github.com/dotnet/roslyn/pull/16318 (fixed in RC3)
FYI @VSadov

[2017-03-03 04:46] CyrusNajmabadi commented on #17498
"even when they are incrementally related".  They are incrementally related, but that does not mean that the old text or old tree are available.  As such:

[code]

may test two completely parsed trees against each other.

[2017-03-03 05:17] jaredpar commented on #14109
The rust model seems pretty reasonable here by attaching it as a part of the version number scheme.

[2017-03-03 05:42] abhijitparkhi1983 commented on #17507
I tried to infer the data from all the possible Diagnostics option available like below:

[code]
But none of the above gives me any insight to the references.
So I tried to check for all the referenced assemblies using following code:

`sementicModel.Compilation.References`

The references along with other references shows a reference to System.Drawing dll:

**Assembly Path='Reference Assemblies\M

[2017-03-03 06:06] jcouv commented on #14109
Here's what I get on an official build with FileVersionInfo.GetVersionInfo(filePath):

![image](https://cloud.githubusercontent.com/assets/12466233/23540131/5b3ed096-ff94-11e6-81fd-96fea55590c5.png)

The first part of the `ProductVersion` seems to come from `$(NuGetPerBuildPreReleaseVersion)` in `GenerateAssemblyInfo.targets`. One solution is to parse out the portion after "Commit Hash:".

[2017-03-03 06:32] #13888 closed

[2017-03-03 06:38] abhijitparkhi1983 commented on #17507
Yes, in one of the projects where i am using **Font** type, I dont see any assembly included in the **sementicModel.Compilation.References**.

Infact the **sementicModel.Compilation.References** collection is empty which is very strange because the corresponding project in which the current Document is present has assembly reference to many assemblies including **System.Drawing**.

In such cases w

[2017-03-03 07:57] adamralph commented on #13888
:tada:

[2017-03-03 07:59] vasily-kirichenko opened #17527 "VS crashes when a F# file is being added"
VS 2017 RC4 + VisualFSharpOpenSource.vsix built from current master.
Add a `*.fs` file.
VS crashes:

[code]
Dump is here https://drive.google.com/open?id=0B8HLQUKik9VtaXJTY29WMzNOUXM

[2017-03-03 08:02] adamralph commented on #13888
https://twitter.com/adamralph/status/837573323223609346

[2017-03-03 08:04] forki commented on #13888
One question about syntax coloring. In visualfsharp we noticed that a change in the string literal of a #r and #load triggers reparsing of the script in the ide and intellisense works as expected, but syntax recoloing is not triggered. @vasily-kirichenko and myself believe that a change in a string literal is maybe handled differently by roslyn. Probably in order to be faster in coloring.

[2017-03-03 08:06] forki commented on #13888
Here is a video of what I described:

![colors](https://cloud.githubusercontent.com/assets/57396/23543063/b18efbcc-fff0-11e6-9910-cee1c3052438.gif)

[2017-03-03 08:07] tmat commented on #13888
@KevinRansom

[2017-03-03 08:09] forki commented on #13888
@tmat we believe this is a roslyn issue. VisualF# doesn't do much intersting stuff here. Will try to reproduce in C#.

[2017-03-03 08:16] vasily-kirichenko commented on #13888
@forki it's our problem.

[2017-03-03 08:17] forki commented on #13888
ok. then forget what I wrote ;-)

[2017-03-03 08:22] vasily-kirichenko commented on #13888
@forki see https://github.com/Microsoft/visualfsharp/issues/2520

[2017-03-03 11:03] fanoI commented on #13735
@AdamSobieski as you are the one that opened the issue here is better that are you to re-open it in csharplang!

[2017-03-03 12:20] forki commented on #13888
Ok @vasily-kirichenko fixed it. Sorry for the noise

[2017-03-03 14:50] JosephWoodward commented on #17439
Alright, thank you very much @Pilchie, I've already spoken with @DustinCampbell about it who was very helpful, I just wanted to exhaust all options before I start investigating how to build a custom workspace (which is how OmniSharp do it).

[2017-03-03 14:51] #17439 closed

[2017-03-03 15:54] #16494 closed

[2017-03-03 17:23] Pilchie commented on #17525
@jaredpar @gafter is this one of the already seen/fixed type inference in lambda scenarios?

[2017-03-03 17:27] rchande opened #17531 "Add a VSI test covering IDocumentNavigationService provisional tab options"
Basically, we need a test that does checks analogous to https://github.com/dotnet/roslyn-internal/blob/master/Closed/Hosting/RoslynTaoActions/IntegrationTests/CSharpNavigateTo.xml#L38.

[2017-03-03 18:06] TyOverby opened #17533 "Add Ubuntu 16.* to CI infrastructure"
From https://github.com/dotnet/roslyn/pull/17386

[2017-03-03 18:13] jasonmalinowski commented on #17464
@twsouthwick I bet you're seeing the issue @Pilchie fixed in #17335. As a check, if you open one of the .cs files in one of the projects that isn't in the ProjectIds collection, do you then see the ProjectId added? The bug is we failed to completely populate it in all cases.

Email me privately if you want to confirm which builds have this bug.

[2017-03-03 18:31] TyOverby commented on #17533
Looks like we already have 16.4 machines: https://ci.dot.net/label/ubuntu1604-20170216/search/?q=ubuntu16

[2017-03-03 19:16] jasonmalinowski commented on #17508
Looks like the issue was the machine image problem, which has been rectified.

[2017-03-03 19:18] AdamSpeight2008 opened #17536 "[Master] Restore and Build issues."
**Restore**
[code]
----------------------------------------------
**Build**
[code]

[2017-03-03 19:44] jasonmalinowski commented on #17536
The errors during the restore implies you didn't have the Visual Studio SDK installed, or you weren't building from a Visual Studio command prompt.

[2017-03-03 19:55] AdamSpeight2008 commented on #17536
@jasonmalinowski I always use Admin Dev Cmd Prompt when restoring / building / testing Roslyn

[2017-03-03 20:16] skosterin88 commented on #17329
Well... I have made the changes pointed by @jgleaton and the solution has been built without errors.

[2017-03-03 20:44] jasonmalinowski commented on #17506
@brettfo some low hanging fruit.

[2017-03-03 20:48] jasonmalinowski commented on #12352
Moving off of infrastructure: let's get the test ported to the new infrastructure and we'll see if it still fails.

[2017-03-03 20:49] jasonmalinowski commented on #11544
Moving back to 2.0, as we have one more case to fix before we ship our 2.0 NuGets.

[2017-03-03 20:52] #9344 closed

[2017-03-03 20:55] TyOverby commented on #17533
cc @mmitche @jaredpar @dotnet/roslyn-infrastructure

[2017-03-03 21:05] jasonmalinowski commented on #12116
Reactivating while we get this documented.

[2017-03-03 21:08] mmitche commented on #17533
Yep should be quite easy to add 16* runs

[2017-03-03 21:20] AdamSpeight2008 commented on #17536
@jasonmalinowski Same after a repair of VS
![vsinstallation](https://cloud.githubusercontent.com/assets/900107/23569434/2fa147de-0057-11e7-84f3-1908dadf6e9a.jpg)
Could the restore / build be looking in the wrong location?

[2017-03-03 21:27] brettfo opened #17538 "Fix usage of Experimental/InstalledByMSI flags in *.vsixmanifest files."
**TRACKIING**

To prevent the Roslyn components from appear in Tools -> Extensions and Updates and to prevent them from being marked as Experimental, the [`Experimental="true"`](https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Setup/source.extension.vsixmanifest#L9) flag (as well as `InstalledByMSI="true"`) need to be figured out.

[2017-03-03 21:32] gregg-miskelly opened #17539 "Breakpoints do not work correctly in portable PDB EnC in unchanged methods"
**Version Used**: d15rel 26221.0

**Summary**
When using portable PDBs + EnC, if breakpoints are set in unedited methods, the line deltas aren't being applied. So the symbol reader seems to return the old line numbers causing breakpoints to be set on the wrong line (or not bind at all if the is no associated code with this bogus line number). This issue doesn't repo if using Windows PDBs.

**Steps

[2017-03-03 21:34] jasonmalinowski commented on #17536
Hmm. @tannergooding, ideas?

(also, build is going to fail catastrophically if restore doesn't work. There's no point in even trying to look at build.)

[2017-03-03 21:37] AdamSpeight2008 commented on #17536
I'm currently testing a newly created branch directly from the roslyn repo. To see if it is an issue with my local gitrepo

[2017-03-03 21:44] #17506 closed

[2017-03-03 21:52] AdamSpeight2008 commented on #17536
Must have been a local issue with my repo as it works now.

[2017-03-03 21:52] #17536 closed

[2017-03-03 22:27] jasonmalinowski commented on #9096
We don't think this bug is actionable anymore.

[2017-03-03 22:27] #9096 closed

[2017-03-03 22:45] heejaechang commented on #16545
@ardalis is this still repro after this fix? (https://github.com/dotnet/roslyn/pull/17071) which should be in the lastest dev15 build? can you try the latest?

[2017-03-03 22:49] heejaechang commented on #16411
@gafter is solution reloaded or something between build?

[2017-03-03 22:55] jmarolf commented on #10436
Still relevant.  We need to exclude already signed binaries that exist in the external apis folder so we don't try to sign them twice.

[2017-03-03 23:22] controlflow opened #17542 "Compiler crash: something is wrong with the decision tree for switch statement patterns"
**Version Used**:

`master` branch @ March 4

**Steps to Reproduce**:

Compile the following code:

[code]

**Expected Behavior**:

Successful compilation

**Actual Behavior**:

[code]

[2017-03-03 23:27] alrz commented on #17542
Looks like https://github.com/dotnet/roslyn/issues/16876

[2017-03-03 23:29] gafter commented on #17525
Yes, this works like a champ in VS2017.

[2017-03-03 23:29] #17525 closed

[2017-03-03 23:39] gafter commented on #17542
Yes, this is a dup. I will see if I can get a fix included in an update sooner than the next quarterly update.

[2017-03-03 23:39] #17542 closed

[2017-03-03 23:41] gafter commented on #17539
/cc @tmat

[2017-03-03 23:58] heejaechang opened #17545 "consider changing designer attribute to be project analyzer"
designer attribute scanner is semantic analyzer, so it might be better if we implement it as project analyzer rather than document analyzer to reduce churn.

[2017-03-04 00:07] twsouthwick commented on #17464
Yup - that is the behavior I see. I'll go ahead and close this and if it ends up still repro'ing after the fix is available, I'll reopen it.

[2017-03-04 00:07] #17464 closed

[2017-03-04 00:28] AlekseyTs opened #17548 "It looks like an interesting code path in MakeIsDeclarationPattern has absolutely no test coverage."
https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs#L182

in ```BoundExpression MakeIsDeclarationPattern(SyntaxNode syntax, BoundExpression loweredInput, BoundExpression loweredTarget, bool requiresNullTest)```
[code]

I think we should have a unit-test covering the body of the ```if```, including a scenario when SpecialMember

[2017-03-04 01:40] #16612 closed

[2017-03-04 05:40] AdamSobieski commented on #13735
https://github.com/dotnet/csharplang/issues/226

[2017-03-04 08:23] gafter commented on #17548
Most likely dead code given the restricted pattern forms we support. Will check and remove if so.

[2017-03-04 13:51] gulshan commented on #16072
I want to wait for rolling out of ADT in C# and further discussion should happen on csharplang repo.

[2017-03-04 13:51] #16072 closed

[2017-03-04 13:54] gulshan commented on #16049
Closing this now. Further discussion should happen in csharplang repo.

[2017-03-04 13:54] #16049 closed

[2017-03-04 16:58] gafter commented on #17321
OK, the compiler has been changed so that it will not not crash when the IDE does this. But the IDE should not be producing such bad trees. Assigning to the IDE team.

[2017-03-04 19:56] skosterin88 commented on #17384
Is "params" keyword allowed in the indexer definition? I thought that it is not.

[2017-03-04 23:46] #17089 closed

[2017-03-05 08:13] be5invis opened #17559 "Integrate Algebraic Subtyping to endow Roslyn with better type inference"
Thesis : https://www.cl.cam.ac.uk/~sd601/thesis.pdf
A shorter one : http://www.cl.cam.ac.uk/~sd601/papers/mlsub-preprint.pdf

[2017-03-05 09:43] damageboy commented on #10378
Hi All,
I've recently taken some time to "Make C# Benchmark Great Again" by creating a [new C# version](https://github.com/damageboy/shame) of the [k-nucleotide](https://benchmarksgame.alioth.debian.org/u64q/performance.php?test=knucleotide) that beats the [old](https://benchmarksgame.alioth.debian.org/u64q/program.php?test=knucleotide&lang=csharpcore&id=6) version by a factor of 2 and should prob

[2017-03-05 15:11] JosefPihrt opened #17560 "RenameAnnotation does not activate rename mode (when added to type parameter of local function)"
**Version Used**: Visual Studio 2017 RC 15.0.0-RC4+26206.0

I created a simple refactoring that adds type parameter to a local function.

I added **RenameAnnotation** to **T** identifier.

Problem is that Visual Studio does not activate rename mode after the refactoring is applied.

**Code to Reproduce**:
[code]

[2017-03-05 18:31] richlander opened #17561 "NuGet file is not correctly licensed"
This NuGet publish file is not correctly licensed. I'd normally jut fix that myself (it's easy) but I'm guessing that other repos are choosing different approaches and don't have this challenge.

https://github.com/dotnet/roslyn/blob/master/src/Setup/NuGet/NuGetPackagePublishing.psm1

/cc @gafter @jaredpar @terrajobst @weshaggard

[2017-03-05 20:39] 0xd4d opened #17562 "Implement Abstract Class adds default(int?) instead of null to nullable parameters"
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

[code]

Go to `class D` and hit `Ctrl+.` + `Enter`

**Expected Behavior**:

`int? j = null`
`T? i = null`

**Actual Behavior**:

`int? j = default(int?)`
`T? i = default(T?)`

[code]

[2017-03-06 00:37] CyrusNajmabadi commented on #17500
Ok.  So, here's what i think i'd like moving forward:

1. We should expose the async versions.  After all, just exposing sync methods that block on async can be very bad for the threadpool.
2. We should deprecate the sync versions.  People should really move to the async ones.  If people need sync functionality they can always choose to do the blocking themselves instead of it being out of their c

[2017-03-06 00:59] jasonmalinowski opened #17566 "Create a build queue that runs our tests on Windows 7"
We've ran into a few cases where we are running our builds on Windows 7 has failed because we accidentally use newer PowerShell features. Having a queue would catch these sorts of things.

Right now this would be a bit of a pain because we'd have to maintain special images with Visual Studio builds, but once we move to a standard image we might get this more or less for free.

[2017-03-06 01:22] richlander opened #17567 "Add Oct 21, 2013 design notes to GitHub"
Add a link for this comment or delete

https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Compiler/Compiler.cs#L769

/cc @gafter

[2017-03-06 02:35] abhijitparkhi1983 opened #17569 "SemanticModel.Compilation.References returns empty list on Deployment Server"
**Version Used**: 1.3.1

**Steps to Reproduce**:

1. Environment in which the code works:
      - Developers Machine with
      - Microsoft Visual Studios 2015 Community Version installed
      - NET Framework 4.6.1
      - Roslyn Version 1.3.1
      - Code which works and returns required list of Referenced assemblies:
[code]
2. Environment/Server machine where the above code does not work:

[2017-03-06 02:39] Pilchie commented on #17569
Likely you are missing the Reference assemblies, which are installed by various things that VS depends on, including: The build tools, the Portable Class Library references, other SDKs.

Compile time references are generally different than runtime references, so you need to ensure that the compile-time dependencies are installed.

Also, you haven't specified where you are getting a `document` from

[2017-03-06 03:10] davkean opened #17570 "VS crash in VisualStudioProjectTracker.GetOrCreateProjectFromArgumentsAndReferences"
_From @AArnott on March 6, 2017 3:4_

d15rel 26228.00
I have lightweight solution load turned on.
This crashed twice in a row (2 out of 2 attempts)

[code]

Crashes with:

[code]

_Copied from original issue: dotnet/roslyn-project-system#1678_

[2017-03-06 03:10] davkean commented on #17570
_From @AArnott on March 6, 2017 3:7_

Repro project (in case the contents of .vs or some other folder are interesting)
[pinvoke.zip](https://github.com/dotnet/roslyn-project-system/files/820067/pinvoke.zip)

[2017-03-06 03:13] AArnott commented on #17570
Note the repro disappeared after I ran `git clean -fdx :/` and turned off lightweight solution load. So please turn that on, and possibly use the .zip file I included in the repro.

[2017-03-06 03:54] gafter commented on #17567
@MadsTorgersen Where are the 2013-10-21 design notes?

[2017-03-06 03:55] gafter commented on #17559
Language design feature requests should be submitted to the https://github.com/dotnet/csharplang repo. This repo is for the implementation of the language specified there.

[2017-03-06 03:55] #17559 closed

[2017-03-06 05:14] abhijitparkhi1983 commented on #17569
Thanks for a quick reply @Pilchie .

Yes I am getting the **Document** using **MSBuildWorkspace**. I am opening the **Solution** using **OpenSolutionAsync** and then iterating through all the **Projects** from Solution and then  through all the **Documents** of a Project.

I missed to mention that we have also installed the **Microsoft Build Tools 2015**  on the server machine.

I belived that wit

[2017-03-06 05:24] tmat commented on #17566
We might also want to consider including a machine with the latest .NET Framework build before it releases.

[2017-03-06 05:46] #5474 closed

[2017-03-06 07:49] OmarTawfik commented on #17508
@jasonmalinowski still hapenning:
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p2_prtest/519/

[2017-03-06 09:54] weitzhandler commented on #216
Would be nice. Although space feels less C#ish, I still vote for spaces, I mean can it go wrong as long as we're expecting a `;`?

[2017-03-06 10:08] weitzhandler opened #17571 "Allow comparison of type parameteres"
**Version Used**:
C# 7

I'm sorry if this has been discussed before, I was unable to find it.
Anyway, I'd love to be able to compare type parameters like so:

    var isPerson = T is Person;

or in `switch` statements:

    public IEnumerable<T> GetCollection<T>()
    {
      switch (T)
      {
        case Manager:
          return Context.Managers;
        case Person:
          return Context.P

[2017-03-06 10:18] aluanhaddad commented on #13367
@Logerfo maybe because we should all use braces 😛

[2017-03-06 10:54] alrz commented on #13367
@Logerfo https://github.com/dotnet/roslyn/issues/16093#issuecomment-269090384

[2017-03-06 10:56] alrz commented on #17571
#8194

[2017-03-06 12:52] TessenR opened #17572 "VS crashes when typing valid deconstructing declaration"
Uncomment the second line in the following code to crash VS 2017 RC4

[code]

This is rather unfortunate as this could be a start of some valid syntax construct as demonstrated by the first line.

![vscrash](https://cloud.githubusercontent.com/assets/5566206/23610749/ccc10304-0284-11e7-8e97-9756c5c8ada3.gif)

[2017-03-06 13:01] alrz commented on #17572
[code]

[2017-03-06 13:03] weitzhandler commented on #17571
I wouldn't say my suggestion equals to yours, but I'll close this one since I'm happy with the other one too.
Mine was that you can treat a type declaration (i.e. `T` from type parameter directly without having to get its type.

[2017-03-06 13:03] #17571 closed

[2017-03-06 13:04] weitzhandler commented on #8194
A compelling feature I cross a lot into. I'd love to see this implemented.

[2017-03-06 13:14] alrz commented on #17571
That wouldn't be possible because `switch` accepts an expression not a type. #8114 does not propose any syntax changes as the parser is already capable of parsing typeof in case clauses.

[2017-03-06 13:27] majocha commented on #17527
I believe it's a recent bug in VisualFSharp.
`AddSourceFile` was being called twice with the same path.
Sorry for this.

[2017-03-06 15:46] Pilchie commented on #17569
Just to clarify - installing .NE 4.6.1 provides *no* reference assemblies, it only provides runtime implementation assemblies.  To get portable library reference assemblies, you should install something like: https://www.microsoft.com/en-us/download/details.aspx?id=40727

Yes.  You need to install whatever SDK/installer the solution you are trying to analyze depends on. However, that is specific t

[2017-03-06 15:51] Pilchie commented on #17570
Thanks @AArnott This an issue we've seen in Watson but haven't figured out yet.  It's definitely related to lightweight solution load.  I'll take a look as soon as I get a chance.

[2017-03-06 16:12] #17569 closed

[2017-03-06 16:51] paulomorgado commented on #216
@weitzhandler, I think that changing C# 7 and Visual Studio for tomorrow is, most probably, out of the question. 😄

[2017-03-06 16:54] alrz commented on #216
so
[code]
is actually just ten?

[2017-03-06 17:19] AArnott commented on #17570
Awesome. I hope my repro helps you understand the Watson reports.

[2017-03-06 17:20] Pilchie commented on #17201
I think the right thing here would be to add a warning annotation when we detect a `StructLayout`.

[2017-03-06 17:28] weitzhandler commented on #216
Lol...
Could be limited to single space, I'm fine with no separation at all.
And separation is only useful in binary/hex.

[2017-03-06 17:31] paulomorgado commented on #216
@alrz, that's no worst than

    var a = 1______________________________________________________________________________________________________________________________________________________________________________________________________________________________________0;

The greater issue here is that, in this particular case and only in this particular case, space is a special case for white

[2017-03-06 17:35] alrz commented on #216
@paulomorgado

No, the space is worst because it's invisible. In your example it's impossible to overlook the zero because the literal goes on and on. and on.

[2017-03-06 17:35] weitzhandler commented on #216
Only a single space makes sense (surely no line breaks :rage:). `_` is definitely more C#ish anyway.
And separation only make sense in binary/hex.

[2017-03-06 17:37] alrz commented on #216
@weitzhandler No it doesn't. C# doesn't mind how many spaces you are using between tokens *at all*.

[2017-03-06 17:38] weitzhandler commented on #216
We should keep the discussion [here](https://github.com/dotnet/csharplang/issues/65).

[2017-03-06 18:27] TyOverby opened #17573 "Add linux release builds"

[2017-03-06 18:56] dpoeschl commented on #17496
Fixed with https://github.com/dotnet/roslyn/pull/17505

[2017-03-06 18:56] #17496 closed

[2017-03-06 18:57] dpoeschl commented on #16601
Ported to new test framework, appears fixed in https://github.com/dotnet/roslyn/pull/17505

[2017-03-06 18:57] #16601 closed

[2017-03-06 18:57] alinapopa commented on #17526
@gafter That looks like a bug not just a question. Is there a reason for SyntaxKind.IdentifierToken to be out of range when creating a token?

[2017-03-06 18:59] #17533 closed

[2017-03-06 19:04] stevedesmond-ca commented on #17385
Fixed via #17386

[2017-03-06 19:04] #17385 closed

[2017-03-06 19:11] gafter commented on #17526
@alinapopa I don't know what text was passed to that API. Was it the text of a valid identifier name?

[2017-03-06 19:24] Pilchie commented on #17570
I'm unable to repro from your zip file, though I also suspect I don't have all the right dependencies installed.  I get these errors:

[code]

Plus 48 copies of:
[code]

[2017-03-06 19:51] AArnott commented on #17570
The NuGet resolve errors are NuGet/Home#4753 and can be ignored as far as I can tell.

The GenerateCodeFromAttributes error can be fixed by installing [MSBuild 2015](https://www.microsoft.com/en-us/download/details.aspx?id=48159). I don't know if that's significant to the repro though.

Or if it would be helpful I can allow someone to remote into my laptop to study the repro there.

[2017-03-06 20:14] gafter commented on #216
@weitzhandler I think you mean discussion has moved [here](https://github.com/dotnet/csharplang/issues/55).

[2017-03-06 21:35] gafter commented on #17526
This appears to be due to the following implementing code:

[code]

[2017-03-06 21:58] miloush commented on #17384
I don't see a reason why it shouldn't, it's just a syntactic sugar for regular method. And I run into this in a real scenario.

By the way, C# 5.0 specification, 10.9 Indexers

And §10.6.1 of course allows them

Sounds explicitly allowed to me and could be breaking to forbid it at this moment.

[2017-03-06 21:59] CyrusNajmabadi commented on #17384
It should def be allowed.  PRs welcome.

[2017-03-06 23:11] cston opened #17576 "Review uses of SyntaxNode.Location.SourceTree"
Review uses of `SyntaxNode.Location.SourceTree` since `SourceTree` may be `null` for syntax used with speculative `SemanticModel`.

See #17544.

[2017-03-06 23:14] heejaechang commented on #16411
hmm.. I can't repro this. @gafter do you have some idea on how this happened? otherwise, I don't think this bug is actionable.

[2017-03-06 23:17] alinapopa commented on #17526
Yes, exactly. The exception is thrown no matter what text is passed in.

[2017-03-06 23:29] #17475 closed

[2017-03-06 23:44] heejaechang commented on #4919
@kuhlenh I am thinking changing id we report for fixer, will that be a problem? @olegtk are you guys ready on new API reporting data as string if its our LB?

[2017-03-06 23:46] AlekseyTs commented on #3825
It is hard to say definitively whether the behavior of GetSymbolInfo is expected in the scenario or not, because the repro is incomplete. We don't know if the binding of ObjectCreationExpressionSyntax succeeds or fails, but that is important. If it succeeds, GetSymbolInfor should return a symbol for the constructor used. If it fails, then the symbol should be null and CandidateSymbols should not b

[2017-03-06 23:49] kuhlenh commented on #4919
@heejaechang if we can report it as a string and use the actual name, I am 100% on board.

fyi @CyrusNajmabadi

[2017-03-06 23:49] AdamSpeight2008 commented on #17526
That's because you're passing in as the first argument `SyntaxKind.IdentifierToken`, which isn't on the list of valid kinds inside of `VerifySyntaxKindOfToken`. Hence defaults to the  `Case Else` and thus throws the exception.

[2017-03-06 23:58] AdamSpeight2008 commented on #17526
@alinapopa  Have you tried using `[this function](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Syntax/SyntaxNodeFactories.vb#L301)`?

[2017-03-07 00:32] dsplaisted opened #17581 "Update Windows dev instructions for VS 2017"
The Windows [developing instructions](https://github.com/dotnet/roslyn/blob/e6a6812d32fb8e04cd20c7ff95782c30fba20132/docs/contributing/Building%2C%20Debugging%2C%20and%20Testing%20on%20Windows.md) refer to VS 2015 with Update 3.  However, the wiki indicates that VS 2017 is the current version to be used.  The getting started instructions should be updated.

[2017-03-07 00:33] dsplaisted commented on #17581
@jasonmalinowski I'm not sure if this counts as an infrastructure issue or not, so feel free to re-label as necessary.

[2017-03-07 00:37] dsplaisted commented on #17581
This line can probably also be removed, as the relevant bug has been closed:

[2017-03-07 00:42] dsplaisted commented on #17581
OK, looks like a command-line build may still be necessary before opening the solution in VS:

etc.

[2017-03-07 00:43] #16451 closed

[2017-03-07 00:44] AdamSpeight2008 commented on #17581
I've had to do that prior to opening VS when switching branches, that could from earlier in the tree.

[2017-03-07 00:57] #3825 closed

[2017-03-07 01:04] #109 closed

[2017-03-07 01:07] paulomorgado commented on #216
@alrz, Visual Studio can make white space visible. But I still think that would be the least of the problems.

[2017-03-07 01:15] #14777 closed

[2017-03-07 01:29] playsomethingsaxman opened #17582 ""var" infers the left side, why not use "new()" to infer the right?"
In a code scope we could infer type from the left side and use:

`var x = new ConcurrentDictionary<int, Queue<int>>();`

But inside a class the same thing would likely be stretched out to:

`private ConcurrentDictionary<int, Queue<int>> _x = new ConcurrentDictionary<int, Queue<int>>();`

Is there anything stopping us from inferring from the right side? For instance if I use a type-less constructor

[2017-03-07 02:11] alinapopa commented on #17526
@AdamSpeight2008 you don't have to explain the code, my point is why `SyntaxKind.IdentifierToken` is not on the list of valid kinds when creating a SyntaxToken.
Using Identifier() works, thanks!

[2017-03-07 02:31] CyrusNajmabadi opened #17584 "Expose IsNonGenericTaskType and IsGenericTaskReturningAsync in some manner."
Currently the IDE has to try to determine if a type is a 'TaskLike' and if some async methods are task-returning.  This is done with a pretty weak heuristic that is not in sync with how the compiler figures things out.

The relevant poor IDE method is here: https://github.com/dotnet/roslyn/blob/da666f3cb1b8a9229bbec2c5ebc737aa7777c5bf/src/Features/Core/Portable/MakeMethodAsynchronous/AbstractMakeM

[2017-03-07 02:32] #17470 closed

[2017-03-07 03:01] anurse commented on #17470
Thanks for the fix!

[2017-03-07 03:46] gafter commented on #17576
Alternatively, implement a non-null `SourceTree` for every syntax node, as we had planned.

[2017-03-07 03:48] gafter commented on #17582
Language proposals go in the https://github.com/dotnet/csharplang repository, where you will already find [a feature request that is being tracked by the language design group](https://github.com/dotnet/csharplang/issues/100) for this feature.

[2017-03-07 03:48] #17582 closed

[2017-03-07 04:42] jasonmalinowski commented on #17508
Ah, sure enough. @Pilchie can we have somebody look at this? It looks like we have a dump I've placed in \\mlangfs1\public\jasonmal\Dumps\Roslyn\17508 that shows some sort of a hang in the editor laying something out in quick info, but I'm really not sure what to make of it...

[2017-03-07 06:30] olegtk commented on #4919
We were meant to file a bug on that, but I'd suggest you do so as partner team request weighs more.

[2017-03-07 11:56] robcthegeek commented on #12918
Just lost 20+ mins having this exact same issue. @ryanlederman's [comment](https://github.com/dotnet/roslyn/issues/12918#issuecomment-263938253) gave _exactly_ what was needed to resolve. Thanks!

[2017-03-07 14:49] castrojr913 commented on #8217
@dharanesh03 @hanssens the same thing :(. I couldn't compile the project

[2017-03-07 16:44] tmat commented on #8217
The original issue is about using Roslyn emit APIs to produce a binary and a PDB on OS X. The answer to that is:

That's related but different issue from not being able to build a .csproj on OS X/Linux.
@castrojr913 @dharanesh03 What is the version of the compiler and IDE you're using?

[2017-03-07 16:46] SolderedMushroom opened #17585 "Extra tab inserted below comment"
I realize the following might be a VS editor issue. However, I vaguely remember seeing this reported in the Roslyn repo a while ago, and I also vaguely remember it was supposed to have been fixed for VS2017. If I'm imagining all of that, and/or this is not the correct place for this bug, feel free to close the issue.

**Version Used**:

Enterprise 2017 (15.0.0-RTW+26228.4)

**Steps to Reproduce**:

[2017-03-07 17:02] Pilchie commented on #17508
@olegtk / @rchande can you guys take a look?

[2017-03-07 17:30] mavasani commented on #6894
@jinujoseph I am going to create separate issues for each language feature/IOperation API group for which we need to add unit tests. I am going to change this issue to a story and add check boxes for each of these issues.

[2017-03-07 17:34] Korporal opened #17586 "Consider yes/no as a additional aliases for true/false"
This is a suggestion.

The convention "true" and "false" to represent boolean true and boolean false are simply conventions and not always the most expressive terms.

Consider the readability here:

    if (DoesParentNodeMatch(a,b,) == true)

    if (DoesParentNodeMatch(a,b,) == yes)

The fact is that in ordinary language we rarely resort to using "true" or "false" but rather "yes" and "no".

Tony

[2017-03-07 17:39] Pilchie commented on #17585
Duplicate of https://github.com/dotnet/roslyn/issues/3321

[2017-03-07 17:39] #17585 closed

[2017-03-07 17:46] mavasani opened #17587 "[IExpression] IOperation unit tests for invocation arguments"
- [x] IArgument
- [x] IOmmittedArgumentExpression

Arguments can be present in 3 different binding contexts, all of which need unit tests. See implementation for [IHasArgumentExpression.ArgumentsInParameterOrder](http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/IExpression.cs,98f791614f6140c3,references)
   1. BoundCall
   2. BoundIndexerAccess
   3. BoundObjectCreationExpression

Refer

[2017-03-07 17:47] SolderedMushroom commented on #17585
@Pilchie Thanks. I see it was filed two years ago, no wonder my recollection was so foggy.

[2017-03-07 17:54] mavasani opened #17588 "[IExpression] IOperation unit tests for expressions with arguments"
- [x] IInvocationExpression
- [x] IObjectCreationExpression

Also add unit tests for delegate creation expression with explicit receiver (a parameter reference, for example)

Related to https://github.com/dotnet/roslyn/issues/17587

Refer to the [OverloadResolutionTests](http://source.roslyn.io/#q=OverloadResolutionTests)

[2017-03-07 17:56] dman2306 commented on #17586
It can cause many breaking changes. What if I have variables called `yes` and `no`? Even worse, imagine this contrite example, what if I already have:
`bool yes = false, no = true;`

Your addition would completely reverse the logic of my code. C# is not English. I don't think we need to try to turn it into English.

[2017-03-07 18:00] gafter commented on #17257
Operators, constructors, and destructors don't work properly.

[2017-03-07 18:00] mavasani opened #17589 "[IExpression] IOperation unit tests for element reference expressions"
- [ ] IArrayElementReferenceExpression
- [ ] IPointerIndirectionReferenceExpression
- [x] ILocalReferenceExpression
- [x] IParameterReferenceExpression
- [x] IInstanceReferenceExpression
- [x] IMemberReferenceExpression
- [x] IFieldReferenceExpression
- [x] IPropertyReferenceExpression
- [x] IEventReferenceExpression
- [x] ILateBoundMemberReferenceExpression

We should probably break these into se

[2017-03-07 18:07] mavasani opened #17590 "[IExpression] IOperation unit tests for conversions"
- [ ] IConversionExpression

These can be present in the following binding contexts:
1. Implicit conversions
2. C# `as` operator
3. VB `Trycast`, `DirectCast` operators

Look at implementations of IConversionExpression for reference: http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/IExpression.cs,d05cbef4ee3aa239,references

[2017-03-07 18:27] mavasani opened #17591 "[IExpression] IOperation unit tests for unary operators"
- [x] IUnaryOperatorExpression
- [x] IAddressOfExpression
- [x] IAwaitExpression

Need to write tests to verify all [UnaryOperatorKind](http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/IExpression.cs,ca10f7d1b0fa7a99,references) values.

[2017-03-07 18:30] mavasani opened #17592 "[IExpression] IOperation unit tests for binary operators"
- [x] IBinaryOperatorExpression
- [x] IAssignmentExpression
- [x] ICompoundAssignmentExpression
- [x] IEventAssignmentExpression
- [x] IConditionalAccessExpression
- [x] IConditionalAccessInstanceExpression
- [x] INullCoalescingExpression
- [x] IIsTypeExpression
- [x] ISizeOfExpression
- [x] ITypeOfExpression

Need to write tests to verify all [BinaryOperatorKind](http://source.roslyn.io/#Microsof

[2017-03-07 18:32] mavasani opened #17593 "[IExpression] IOperation unit tests for lambda expressions"
- [x] ILambdaExpression
- [x] IUnboundLambdaExpression

[2017-03-07 18:35] mavasani opened #17595 "[IExpression] IOperation unit tests for symbol initializer expressions"
- [ ] IFieldInitializer
- [ ] IPropertyInitializer
- [ ] IParameterInitializer

[2017-03-07 18:39] mavasani opened #17596 "[IExpression] IOperation unit tests for array related expressions"
- [ ] IArrayCreationExpression
- [ ] IArrayInitializer

[2017-03-07 18:50] mavasani opened #17597 "[IExpression] IOperation unit tests for miscellaneous expressions"
- [x] ILiteralExpression
- [x] IParenthesizedExpression
- [x] IDefaultValueExpression
- [x] ITypeParameterObjectCreationExpression
- [ ] IPlaceholderExpression

[2017-03-07 18:52] mavasani opened #17598 "[IExpression] IOperation unit tests for invalid expressions"
- [ ] IInvalidExpression

We will need to test all possible bad expression/error scenarios across all the different possible expression kinds for completeness.

[2017-03-07 18:56] mavasani opened #17599 "[IStatement] IOperation unit tests for variable declarations"
- [ ] IVariableDeclarationStatement
- [ ] IVariableDeclaration

[2017-03-07 18:59] mavasani opened #17600 "[IStatement] IOperation unit tests for switch statement"
- [ ] ISwitchStatement
- [ ] ISwitchCase
- [ ] ICaseClause (ISingleValueCaseClause for C# and VB; IRelationalCaseClause and IRangeCaseClause for VB only)

[2017-03-07 19:00] mavasani opened #17601 "[IStatement] IOperation unit tests for if statement"
- [ ] IIfStatement

[2017-03-07 19:03] mavasani opened #17602 "[IStatement] IOperation unit tests for loop statements"
Different kinds of ILoopStatement

- [x] IWhileUntilLoopStatement (while loop, do while loop)
- [x] IForLoopStatement (IForWhileUntilLoopStatement)
- [x] IForEachLoopStatement (IForWhileUntilLoopStatement)

[2017-03-07 19:05] 0xd4d commented on #17586
I don't like this idea, but if you really need it today, you can do it today:

[code]

[2017-03-07 19:06] mavasani opened #17603 "[IStatement] IOperation unit tests for branching statements"
- [ ] ILabeledStatement
- [ ] IBranchStatement (validate for different BranchKinds: continue, goto, break)
- [ ] IReturnStatement

[2017-03-07 19:09] mavasani opened #17604 "[IStatement] IOperation unit tests for try/catch/finally statements"
- [ ] ITryStatement
- [ ] ICatchClause

[2017-03-07 19:12] mavasani opened #17605 "[IStatement] IOperation unit tests for language specific statement kinds"
1. Visual Basic
- [ ] IWithStatement
- [ ] IStopStatement
- [ ] IEndStatement

2. CSharp
- [ ] IFixedStatement

[2017-03-07 19:14] mavasani opened #17606 "[IStatement] IOperation unit tests for miscellaneous statements"
- [x] IBlockStatement
- [x] IExpressionStatement
- [x] IEmptyStatement
- [x] IThrowStatement
- [x] ILockStatement
- [ ] IUsingStatement

[2017-03-07 19:15] mavasani opened #17607 "[IStatement] IOperation unit tests for invalid statements"
- [x] IInvalidStatement

We need to test all possible cases where binding different statements can end up as an invalid statement.

[2017-03-07 19:19] #17562 closed

[2017-03-07 19:48] gafter commented on #216
Discussion for this feature [has been moved here](https://github.com/dotnet/csharplang/issues/55).

[2017-03-07 19:48] #216 closed

[2017-03-07 19:48] Korporal commented on #17586
Yes, I guess its too late to consider this now - would have been neat though!
Thanks

[2017-03-07 19:53] #17586 closed

[2017-03-07 19:56] #17548 closed

[2017-03-07 19:57] Korporal commented on #16733
So current suggestion is to take steps to ensure that ordering by MetadataToken becomes guaranteed to equate to lexical (declaration) order. Many believe this to be true today and so if it is in fact true, take steps to ensure it remains true going forward.

This may be a simpler change than adding support for ordering,

[2017-03-07 20:03] Ross-Esmond commented on #17500
Sounds fine to me. As long as you saw @mattwar's first comment.

[2017-03-07 20:07] Korporal opened #17608 "Suggestion: find all references for constants/literals"
I'd like to see Visual Studio's "Find all references" include support for literals/constants.

Currently we can't do this easily and must do a brute force text search (Find in files).

So if we have some code:

    string srchLabel = "AllCategories";

We could select the string constant and find all other references to that string in the solution.

I did post this suggestion recently but can't rec

[2017-03-07 20:14] Korporal commented on #17310
The example you refer to does not use any kind of lock, am I missing something?

[2017-03-07 20:18] Korporal opened #17609 "Bug - remove unused usings"
Try this,

Write some simple code that compiles but use Int rather than int etc. Then hover mouse over the usings and you'll see it is happy to remove "System" (if there are no other uses of it).

However doing that and committing the code can cause build errors because Int, etc are defined in System and it should not consider System safe to remove if the code contains any of these type aliases.

[2017-03-07 20:44] heejaechang commented on #4919
@olegtk what is the path to file a bug?

[2017-03-07 20:57] olegtk commented on #4919
DevDiv\VS Platform\VS IDE\Editor\LightBulb

[2017-03-07 20:59] #17191 closed

[2017-03-07 21:13] TyOverby commented on #17070
Closed in https://github.com/dotnet/roslyn/pull/17074

[2017-03-07 21:13] #17070 closed

[2017-03-07 21:38] dman2306 commented on #17609
Well there is no `Int`, I assume you mean `Int32` or some other version of it? It is working fine for me. As soon as I add an `Int32` in VS2017, `using System` is no longer flagged as unused. Please provide code the reproduces the issue?

[2017-03-07 21:39] Korporal commented on #17609
Maybe its VS 2015 - Id need to check

[2017-03-07 21:39] CyrusNajmabadi commented on #17609
@Korporal Can you please provide a simple repro for this?

[2017-03-07 21:42] dman2306 commented on #17609
@Korporal Decimal works correctly in 2015 and 2017. Please provide code that reproduces the problem.

[2017-03-07 21:44] Korporal commented on #17609
Folks sorry for confusion, let me dig out the pull request in our system that dealt with this and get a repro sample, dont want to waste your time. (If I recall the type was a appearing as a method return type).

[2017-03-07 21:53] heejaechang commented on #13641
looks like ETA is going away.

[2017-03-07 21:53] #13641 closed

[2017-03-07 21:54] agocke commented on #17293
Fixed by #17014

[2017-03-07 21:54] #17293 closed

[2017-03-07 21:57] heejaechang commented on #16545
if this doesn't repro any more, I will close it as not repro.

[2017-03-07 22:02] simonbuchan commented on #16195
@gafter Did you find a design note or something about this? It's quite surprising that `(T)e` errors in the case where the type of `e` and `T` are known to share a base, but I suppose it doesn't come up often enough to warrant the spec + compiler special-casing it.

[2017-03-07 22:22] #17257 closed

[2017-03-07 22:24] heejaechang commented on #16411
I am going to close this, without repro step, not much i can do. please re-open if it happens again.

[2017-03-07 22:24] #16411 closed

[2017-03-07 22:50] jcouv opened #17612 "[Work items] Refining ref assemblies"
Ref assemblies should have the minimum amount of stuff to preserve the compile-time behavior of consumers. Some metadata should not be emitted in ref assemblies and some diagnostics should not affect emitting ref assemblies.

## C# 7.1 scope

- [ ] Integrate into various build systems
    - [ ] MSBuild and Project System
    - [x] Domino
    - [ ] Windows build
         - [ ] Do they need to extra

[2017-03-07 22:55] AArnott opened #17613 "SkipCompilerExecution and ProvideCommandLineArgs should be set before calling the CompileDesignTime target"
**Version Used**:

VS 2017 RTW (dev15rtwsvc 26228.04)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

No errors in error list

**Actual Behavior**:

3 errors in error list:

SkipCompilerExecution and ProvideCommandLineArgs should be set before calling the CompileDesignTime target
C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Microsoft\VisualStudio\Managed\Microsof

[2017-03-07 22:55] AArnott commented on #17613
This doesn't always repro. But it's one of many issues I've run into when converting the PInvoke.sln to the new .NET SDK project type.

[2017-03-07 23:17] AArnott opened #17614 "Hundreds of false errors in .NET SDK solution with multi-targeting projects"
**Version Used**:

VS 2017 RTW (dev15rtwsvc 26228.04)

**Steps to Reproduce**:

Disable NuGet package restore in the IDE to workaround https://github.com/NuGet/Home/issues/4764

[code]

Open BCrypt.cs (from the BCrypt project).
Opening Hid.cs and other files also does this.

**Expected Behavior**:

No errors

**Actual Behavior**:

The error list is full of false errors.

![image](https://cloud.git

[2017-03-07 23:45] jmarolf commented on #17608
@Korporal you are in luck: https://github.com/dotnet/roslyn/pull/17048 @CyrusNajmabadi already this feature 3 weeks ago

[2017-03-07 23:47] CyrusNajmabadi commented on #17608
As @jmarolf mentioned, this was done with https://github.com/dotnet/roslyn/pull/17048.  Cheers!

[2017-03-07 23:47] #17608 closed

[2017-03-07 23:58] AArnott opened #17616 "Bulk fix for RS0016: DeclarePublicAPIAnalyzer is broken"
#### Analyzer package

Roslyn.Diagnostics.Analyzers

#### Analyzer

RS0016: DeclarePublicAPIAnalyzer

#### Repro steps

[code]

Open source files from the `Windows.Core` project.
Pick one of the many warnings squigglies and set the caret there. Apply an auto fix, and select that you want to fix all issues in the document, project, or solution.

#### Expected behavior

The `PublicAPI.*.txt` file is

[2017-03-08 00:06] agocke commented on #14559
No longer repros in 2.0 RTM

[2017-03-08 00:06] #14559 closed

[2017-03-08 00:11] sab39 commented on #15899
This issue talks about using tuples like Constant patterns, but I noticed that tuple types are broken even as type patterns, as in
[code]
Is this a bug or is it deliberately not supported?

[2017-03-08 00:38] CyrusNajmabadi commented on #17612
I have a lot of thoughts on this.  Should we use this issue to track things, or should we create a new one?  Thanks!

[2017-03-08 02:28] jcouv commented on #17612
Nice. Feel free to edit the description (first post), adding details. If possible, describe as pass/fail scenarios that we can check off.

[2017-03-08 03:44] ardalis commented on #16545
I haven't seen it since January. I think you can probably close the issue and if I encounter it again I will reopen it or file a new issue.

[2017-03-08 05:37] Thaina commented on #10299
I think  this would enable my proposal

https://github.com/dotnet/roslyn/issues/16958

[2017-03-08 06:39] #16545 closed

[2017-03-08 08:42] davkean opened #17621 "Can't generate field/property when left hand-side matches the name of another name in scope"
1. Code:

[code]

2. Drop lightbulb on the left hand side of the assignment

**Expected:** To be able to generate field/property
**Actual:** Cannot generate field/property

![image](https://cloud.githubusercontent.com/assets/1103906/23696446/c95a8f00-0437-11e7-9360-83588c9a558e.png)

If I change the property to be something else such as Stringed, then I get:

![image](https://cloud.githubuserconte

[2017-03-08 08:42] davkean commented on #17621
tag @CyrusNajmabadi

[2017-03-08 08:47] davkean commented on #17621
raised by https://twitter.com/khellang/status/839241370015518720. @khellang

[2017-03-08 08:59] khellang commented on #17621
Also, semi-related; generate a getter-only auto prop. Is that on the table? Couldn't find an issue.

[2017-03-08 09:02] davkean commented on #17621
Yeah, I'd probably expect an option for that. File another bug.

[2017-03-08 09:10] davkean commented on #17614
I think we'll probably want to take first look at this. I'll move it, and reopen if it's not us.

[2017-03-08 09:11] davkean commented on #17614
This issue was moved to dotnet/roslyn-project-system#1696

[2017-03-08 09:11] #17614 closed

[2017-03-08 09:12] khellang opened #17622 "Option to generate a getter-only auto property"
**Steps to Reproduce**:

1. Code:

[code]

2. Drop lightbulb on the left hand side of the assignment

**Expected Behavior**:

Provide an option to generate a getter-only auto property. Preferably as the first option.

**Actual Behavior**:

Options to generate:

1. Auto property
2. Field
3. Readonly field
4. Local

![image](https://cloud.githubusercontent.com/assets/582487/23697195/1adabb1c-03e7-11

[2017-03-08 09:12] khellang commented on #17622
Raised by request in #17621

[2017-03-08 09:54] alrz commented on #17622
Also it would be nice to put "generate" code actions into separate sub menus for fields and properties.

[2017-03-08 10:20] Tornhoof opened #17623 "IDE0031: Null check can be simplified used on Expression is not valid"
**Version Used**:
Visual Studio 2017 RTM (Visual Studio/15-RTW+26228.4)
**Steps to Reproduce**:

1. Have an Expression Lambda method with a nullable check in it
2. VS 2017 suggests using IDE0031 (Null check can be simplified)
3. Auto apply fix as suggested by VS 2017 (Null type propagation)

**Expected Behavior**:
IDE0031 is not suggested
**Actual Behavior**:
IDE0031 is suggested and results in br

[2017-03-08 10:36] Tornhoof opened #17624 "IDE0018: Variable Declaration can be mistakenly inlined on do while loop"
**Version Used**:
Visual Studio 2017 RTM (Visual Studio/15-RTW+26228.4)
**Steps to Reproduce**:

1. Have a do while loop with a method with an out parameter and using the out parameter after the do while
2. Use the suggested IDE0018 fix to inline variable (available on mouseover over string token)

**Expected Behavior**:
IDE0018 is not suggested

**Actual Behavior**:
IDE0018 is suggested and appli

[2017-03-08 11:35] wanton7 opened #17625 "Intellisense doesn't show local variables when < smaller than is used with List Count property"
**Version Used**:
Visual Studio 2017

**Steps to Reproduce**:

1. Open Visual Studio 2017
2. Create C# console project
3. Try to do following
var bar = 1;
var foo = new List<int>();
if (foo.Count < bar)

**Expected Behavior**:
When you do press < then b from keyboard you would expect bar to show up in intellisense.

**Actual Behavior**:
Local variables are not shown by intellisense.
If you change

[2017-03-08 12:10] Yassseeen opened #17626 "Parser Bug"
**Version Used**:

**Steps to Reproduce**:

After upgrading to VS 2017 I got the following error from this code (which has always been working perfectly)

byte[] HexStringToByteArray(string hex)
    {
        if (hex.Length % 2 == 1)
            throw new Exception("The binary key cannot have an odd number of digits");

        byte[] arr = new byte[hex.Length >> 1];

        for (int i = 0; i < h

[2017-03-08 12:59] alrz opened #17627 "Analyzer to flag not implemented exception as warning/error"
If you use "implement abstract class" or similar code actions, you might forget to implement members. If an analyzer flag those cases the program will refuse to compile if there exist some unimplemented members.

[2017-03-08 13:00] alrz commented on #17627
Do we want this as a build-in analyzer?

[2017-03-08 13:19] DavidArno commented on #17626
Pasting that code into VS2017 gives a clue as to what's going on. It reformats the "error" line to:
[code]
in other words, Roslyn v2 is parsing `i<hex.Length>>1` as a generic type being tested as greater than 1.

[2017-03-08 15:43] SLaks commented on #17626
This works on `master`: http://tryroslyn.azurewebsites.net/#b:master/K4Zwlgdg5gBAygTxAFwKYFsDcBYAUAB2ACMAbMAYxnJIEMQQYBhGAbzxg5gDcB7MAExgBZABSRkAbQC6MABaoAHgEpWedpwBmPAE4wxEZDDAwAvDAAMmIzAA8cxQDoAMqmjJZMAHyeYARisA1AFgKgD0oTAAotraOkYQMO5gDGQQqOocbLicMAC+MBl5ari5QA==

[2017-03-08 16:39] 0xd4d commented on #17626
This was probably fixed by #16834

[2017-03-08 16:41] Korporal commented on #17609
I'm closing this, I must have misdiagnosed this a few weeks ago when I stumbled upon something, you guys are quite right and I can't repro, I'm closing.

[2017-03-08 16:41] #17609 closed

[2017-03-08 16:46] 0xd4d commented on #17625
Same as #17258 ?

[2017-03-08 17:08] tmm360 commented on #4351
Any news on https://github.com/dotnet/roslyn/issues/4351#issuecomment-129926809? I'm having this issue on VS 2017 RTM.

[2017-03-08 17:21] TMox commented on #16200
Just installed 2017. I didn't realize for a while I had to install a pre-release update to Microsoft.Net.Compilers, but that fixed my errors. I also had to change web.config manually to "/langversion:7" (was 6).

[2017-03-08 17:30] jcouv commented on #17612
@CyrusNajmabadi I would further encourage you to suggest more tests on the open PR https://github.com/dotnet/roslyn/pull/17558
Those tests will be a spec of some kind (for scenarios that we'll want to track and fix with the present issue).

[2017-03-08 17:31] Pilchie commented on #17613
@davkean / @natidea - should this be migrated to project system?

[2017-03-08 17:35] mjcheetham commented on #17572
Repos also for me in VS2017 RTW (15.0.0-RTW+26228.4).

In addition, VS _also_ crashes if you type a single slash `/` character either above or below the nested tuple statements.. even the one which doesn't crash.

[code]

This crash doesn't display the "Program has stopped working" dialog. `devenv.exe` just stops.

If you try a second slash quickly enough (as if to type a comment `//`) then it doe

[2017-03-08 17:41] SolderedMushroom commented on #17460
But one issue remains: "setup" is a noun; in this error message it ought to be "set up."

[2017-03-08 17:49] mjcheetham commented on #17572
<details>
  <summary>Stack trace</summary>
<pre>
System.InvalidOperationException: This program location is thought to be unreachable.
   at Microsoft.CodeAnalysis.CSharp.Binder.BindDeconstructionVariable(TypeSymbol declType, SingleVariableDesignationSyntax designation, CSharpSyntaxNode syntax, DiagnosticBag diagnostics)
   at Microsoft.CodeAnalysis.CSharp.Binder.BindDeclarationVariables(TypeSymbo

[2017-03-08 18:27] Pilchie commented on #17503
Dupe of #17368.

[2017-03-08 18:27] #17503 closed

[2017-03-08 18:28] roji commented on #12625
This looks really really nice, but... I can't see a way to pass the `/embed` switch to csc via the new csproj (nor can I see a way to pass extra args to csc...)...

[2017-03-08 18:33] tannergooding opened #17631 "The BasicFindReferences.FindReferencesToSharedField and .FindReferencesToLocals integration tests are flaky."
Most runs are failing with:
[code]

[2017-03-08 18:33] tannergooding commented on #17631
FYI. @tmeschter

[2017-03-08 18:48] #4958 closed

[2017-03-08 19:06] jasonmalinowski commented on #17626
(for those following along at home, this originated from a [StackOverflow question](http://stackoverflow.com/questions/42669193/vs-2017-bug-or-new-features))

[2017-03-08 19:25] #17460 closed

[2017-03-08 19:28] CyrusNajmabadi commented on #17621
Yup.  Standard problem of us moving onto compiler diagnostics.  Should be not that difficult to fix.  Ideally IOperation will make this better.

[2017-03-08 20:24] gafter commented on #17626
This is fixed by #16834.

[2017-03-08 20:24] #17626 closed

[2017-03-08 20:25] gafter commented on #17626
See also #17135, #17296

[2017-03-08 21:07] OmarTawfik opened #17634 "RemotingException : Requested Service not found in Integration tests"
Tests fail randomly because of that:

1. https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/932/testReport/junit/Roslyn.VisualStudio.IntegrationTests.VisualBasic/CSharpChangeSignatureDialog/VerifyReorderParameters/
2. https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/934/testReport/junit/Roslyn.VisualStudio.IntegrationT

[2017-03-08 21:10] alrz commented on #17627
@Pilchie Area-Analyzers means that this shouldn't be included in Roslyn?

[2017-03-08 21:10] Pilchie commented on #17623
Is this a dupe of something that we fixed already?

[2017-03-08 21:11] Pilchie commented on #17624
I think this same issue was just reported on the Developer Community forum too?

[2017-03-08 21:12] Pilchie commented on #17625
Yes, this is a dupe.

[2017-03-08 21:12] #17625 closed

[2017-03-08 21:14] OmarTawfik commented on #17634
@dotnet/roslyn-infrastructure

[2017-03-08 21:14] Pilchie commented on #17627
Not necessarily - it's just a matter of which sub-team here should look at it next.

[2017-03-08 21:16] OmarTawfik commented on #17634
@heejaechang might this be related to OOP? trying to run them locally sometimes succeed.

[2017-03-08 21:17] jasonmalinowski commented on #17634
@tannergooding, @tmeschter, @dotnet/roslyn-ide, any ideas?

[2017-03-08 21:32] CyrusNajmabadi opened #17635 "Crash in MemberSemanticModel.GetForEachStatementInfo"
[code]

[2017-03-08 21:33] heejaechang commented on #17634
@jasonmalinowski I think this is new VSI test issue (new VSI remoting to out of proc VS instance issue)

[2017-03-08 21:36] CyrusNajmabadi commented on #17635
Test for this is in CSharpInlineDeclarationTests.TestInLoops3.

That test is going in as part of: https://github.com/dotnet/roslyn/pull/17636

[2017-03-08 21:38] Pilchie commented on #17042
Sadly, I don't think this will meet a 15.1 bar.

[2017-03-08 21:38] #17042 closed

[2017-03-08 21:38] Pilchie commented on #17269
Any repro info here, or should this be closed as inactionable?

[2017-03-08 21:44] 0ndrej commented on #9382
This issue is still present in Visual Studio 2017!!! You did not touched this since it was reported more than year ago!

[2017-03-08 21:53] KirillOsenkov opened #17637 "Microsoft.CodeAnalysis.CSharp.SyntaxFactory.XmlNameAttribute(string) is not checking for null"
**Version Used**:
2.0.0-rc4

**Steps to Reproduce**:

Compile and run this code:

[code]

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

[2017-03-08 21:57] natidea commented on #17613
This issue was moved to dotnet/roslyn-project-system#1707

[2017-03-08 21:57] #17613 closed

[2017-03-08 22:12] CyrusNajmabadi commented on #17622
Generate code actions will be placed into separate sub menus if we have too many items to show.  They actually are generated as sub-items by the fixer.  we just actually elevate the nested items to tp-level items if there are not that many items to show.

[2017-03-08 22:13] CyrusNajmabadi commented on #17622
@DustinCampbell @Pilchie . I'm leaning toward *always* generating an auto-prop if you're in the constructor.  Do you have any issue with the default just becoming that?  I think i'd prefer that over having "generate property" and "generate auto-property" in the same list.

What do you think?

[2017-03-08 22:14] CyrusNajmabadi commented on #17371
Given that this was just an error in the compiler, I'm just going to close this as desirable behavior.

[2017-03-08 22:14] #17371 closed

[2017-03-08 22:15] CyrusNajmabadi commented on #17353
Yup.  This is fixed.

[2017-03-08 22:15] #17353 closed

[2017-03-08 22:17] Pilchie commented on #17622
My ideal would be that generate always generates an autoproperty (if on a langver high enough to support it), and that we offer a refactoring on auto-properties to convert to a full property and introduce a backing field.

[2017-03-08 22:25] #17624 closed

[2017-03-08 22:29] CyrusNajmabadi commented on #17355
THe issue with parameters no longer reproes.  However, this still reproes for local-function type parameters.  Looking.

[2017-03-08 22:38] CyrusNajmabadi commented on #17355
The type parameters are an issue with teh compiler.  SemanticModel.GetDeclaredSymbol on a local-function's TypeParameters returns null.

Tagging @agocke

[2017-03-08 22:51] OmarTawfik commented on #17634
@heejaechang is someone looking into it? this is blocking all? PRs to master.

[2017-03-08 23:02] heejaechang commented on #17634
@OmarTawfik @Pilchie I dont think this is OOP thing. it is new VSI remoting. I dont know anything about it.

[2017-03-08 23:14] UnoSD opened #17639 "Runtime BindingFailure for .NET Framework 4.6.1 project referencing .NET Standard 1.4"
**Version Used**:

- Project A: .NET 4.6.1
- Project B: .NET Standard 1.4 csproj
- VS2017

**Steps to Reproduce**:

1. Add some dependencies to .NET Standard project (E.G. System.IO.Filesystem.Primitives, System.Security.Crypyography.Primitives and others).
2. Reference .NET Standard project from .NET Framework project.
3. Build and run.

The result is a `Managed Debugging Assistant 'BindingFailur

[2017-03-08 23:43] dpoeschl opened #17640 "CSharpChangeSignatureDialog.VerifyReorderParameters is failing"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/968/testReport/junit/Roslyn.VisualStudio.IntegrationTests.VisualBasic/CSharpChangeSignatureDialog/VerifyReorderParameters/
https://ci.dot.net/job/dotnet_roslyn/job/dev16/job/windows_release_vs-integration_prtest/24/

[2017-03-08 23:52] jcouv commented on #7141
I'm now tracking work items in https://github.com/dotnet/roslyn/issues/17173.
Closing this issue as duplicate.

[2017-03-08 23:52] #7141 closed

[2017-03-09 00:01] #17623 closed

[2017-03-09 01:08] Pilchie opened #17643 "Generate Constructor/GetHashCode/Equals should not show autoproperty backing fields"
[code]

Invoke Generate constructor from members at `$$`.

[2017-03-09 01:10] Pilchie opened #17644 "`Generate Both` is confusing"
We have the option to `Generate Both` for both a `GetHashCode` and `Equals`, but it's confusing what "both" refers to if you have no selection and other things in the list (particularly since it comes before the items it refers to).

[2017-03-09 01:11] CyrusNajmabadi commented on #17644
Can you give a picture?  It should be:

[code]

[2017-03-09 01:12] Pilchie opened #17645 "Design questions for Generate Equals/GetHashCode"
- [ ] Should we support generating only one - it's not a good practice to encourage.
- [x] Should we also generate `operator ==`/`operator !=`?
- [x] Should we add IEquatable<T> support for people?

@kuhlenh / @DustinCampbell / @CyrusNajmabadi - thoughts?

[2017-03-09 01:14] Pilchie opened #17646 "Generate Equals/GetHashCode should use framework helpers if available"
@jcouv and @MadsTorgersen tell me that we added helpers to testing equality and calculating/combining hash codes for members to the framework to support the compiler doing it.

We should test the framework and use them instead of hardcoding strange constants and stuff into the user's code if they invoke Generate Equals/GetHashCode.

[2017-03-09 01:15] CyrusNajmabadi commented on #17646
Unfortunately, the framework helpers are internal.

[2017-03-09 01:16] Pilchie commented on #17646
I thought the compiler generated code to call them?  How does it do that if they are internal?

[2017-03-09 01:17] CyrusNajmabadi commented on #17646
THey're called directly inside ValueTuple.  Which lives in a layer that has access to them.

Anonymous types do not call the helpers (as they're in your own assembly).  As such they emit the same code directly that i'm emitting.

[2017-03-09 01:19] Pilchie commented on #17646
😿 @terrajobst - can we think about making those helpers accessible in some mythical future framework?

[2017-03-09 01:23] CyrusNajmabadi commented on #17646
Specifically, this would be about exposing: https://github.com/dotnet/corefx/blob/8f824ba00f5656436f7063da49fb0ac94eff8566/src/Common/src/System/Numerics/Hashing/HashHelpers.cs

[2017-03-09 01:37] Pilchie commented on #17644
I can't repro now, but I thought I saw that on Friday when I was playing with it :-/

[2017-03-09 01:39] CyrusNajmabadi commented on #17644
yeah... that would be pretty crazy.  Given that it's a single provider just generating a list of 3 items.

Also, there's need for just "GetHashCode".  i.e. you have a type that already had .Equals in it.  In this case we can just offer to generate just 'GetHashCode' for you.

So, i think the experience should likely be.

1. Empty file.  Offer: Generate-Equals and Generate-Equals-and-GetHashCode
2.

[2017-03-09 01:45] gafter commented on #16306
No longer tracked by VSO.

[2017-03-09 01:45] gafter commented on #17635
Dup of #16306

[2017-03-09 01:45] #17635 closed

[2017-03-09 01:49] gafter commented on #16306
See also #10604

[2017-03-09 03:04] terrajobst commented on #17646
We have a proposal for it here:

https://github.com/dotnet/corefx/issues/14354

[2017-03-09 03:22] ryanseghers commented on #4096
I had a lot of trouble finding the "Code Refactoring (VSIX)" template, until I noticed the "when the framework dropdown is set to .NET Framework 4.6" above. By default for me it is set to 4.5.2 and so I didn't see that template until I changed to 4.6.

[2017-03-09 03:42] davkean commented on #16247
Where is the internal bug filed for this? I'm still seeing it.

[2017-03-09 03:54] CyrusNajmabadi opened #17648 "Offer a new 'Generate overrides' fix that offers a dialog with overridable members."
Fix would be made available between members (like 'Generate GetHashCode').  It would offer the Pick-Members dialog with applicable overridable members.

The benefit of this is that you could generate many overrides at once instead of having to do each one at a time.

[2017-03-09 03:54] CyrusNajmabadi opened #17649 ""Pick Members" dialog should have a search/filter box."
Recommended by @terrajobst

I think this would be a good idea.  Esp. as we use this dialog for more purposes.  i.e. https://github.com/dotnet/roslyn/issues/17648

[2017-03-09 03:55] CyrusNajmabadi commented on #17648
Recommended by @terrajobst .  Seems like a really nice feature.

[2017-03-09 03:56] CyrusNajmabadi commented on #16306
Please enable CSharpInlineDeclarationTests.TestInLoops3 when this is fixed.

[2017-03-09 03:58] CyrusNajmabadi opened #17650 "Would be useful to have a feature that implements IEquatable<T> and/or ==/!= for a type."
This likely should play along with the existing Generate-Equals feature.

[2017-03-09 04:41] AdamSpeight2008 commented on #17650
Related Topic #2149

[2017-03-09 04:42] CyrusNajmabadi commented on #17650
@AdamSpeight2008 how are these related?  thanks!

[2017-03-09 04:46] AdamSpeight2008 commented on #17650
@CyrusNajmabadi
In the linked issue I proposed `==` and `!=` (in VB `=` and `<>`) for type, to enable using `Select Case` matching over types. But because that aspect of Roslyn is PCL it wasn't supported.

[2017-03-09 04:53] AdamSpeight2008 commented on #17637
Maybe we should review the `SyntaxFactories` as there are likely other cases where should check against `null`

[2017-03-09 06:24] davkean commented on #15762
I'm still hitting this in RTM:

I'm in a Resources.Designer file (in https://github.com/dotnet/roslyn-project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/VSResources.Designer.cs#L12) and we have Errors turned on for unused namespaces and I'm getting the following:

[code]

[2017-03-09 06:25] davkean commented on #15762
However, I can suppress it inline (which is pointless given that's a generated file). I cannot use the Lightbulb however.

[2017-03-09 06:38] nguerrera commented on #17639
This is tracked by https://github.com/NuGet/Home/issues/4488. Currently, the referencing project has to use PackageReference for transitive dependencies to flow. See discussion for workaround involving a dummy package reference.

[2017-03-09 06:38] #17639 closed

[2017-03-09 06:47] #14109 closed

[2017-03-09 06:49] jcouv commented on #14109
Logo and version were updated to include a shortened SHA:
[code]

[2017-03-09 07:30] heejaechang commented on #15762
@davkean I think LB never shows up in generated file @mavasani ?

[2017-03-09 07:31] heejaechang commented on #15762
for ide diagnostic being show up, looks like ide analyzer is not configured to not reporting diagnostics on generated file. @dotnet/roslyn-ide

[2017-03-09 09:34] davkean opened #17656 "Fix when a interface starting with 'I' isn't prefixed with an 'I' is a bit silly"
This looks a bit silly:

[code]

[code]

The fix changes it to:

[code]

Clearly the fix in this case is add an "I" to the name:

[code]

[2017-03-09 09:53] GerjanOnline opened #17658 "Editorconfig: dotnet_sort_system_directives_first not working"
**Version Used**:
Microsoft Visual Studio Enterprise 2017
Version 15.0.26228.4 D15RTWSVC
Microsoft .NET Framework
Version 4.6.01055

Installed Version: Enterprise

Productivity Power Tools 2017

![image](https://cloud.githubusercontent.com/assets/1153419/23744700/89a28b6e-04b5-11e7-9ec4-06b3e3c065ee.png)

**Steps to Reproduce**:

1.  Add .editorconfig file to solution (which creates a Solution fol

[2017-03-09 11:22] GerjanOnline opened #17660 "Editorconfig not working for .config files"
**Version Used**:
Microsoft Visual Studio Enterprise 2017
Version 15.0.26228.4 D15RTWSVC
Microsoft .NET Framework
Version 4.6.01055

**Steps to Reproduce**:

1.  Create ASP.NET MVC 5 project (Full fx) with an Web.config file
2.  Add an .editorconfig file to the solution
3.  Add the following setting:

[code]

4. Press CTRL + K, CTRL + D

**Expected Behavior**:
The web.config should be formatted wi

[2017-03-09 11:29] snerks opened #17661 "NetCore Console App - "Fix All Occurrences in Document/Project/Solution" does nothing"
**Version Used**:
Microsoft Visual Studio Community 2017
Version 15.0.26228.4 D15RTWSVC
Microsoft .NET Framework
Version 4.6.01055

Windows 7 SP1 - 64 bit.

Installed Version: Community

**Steps to Reproduce**:

Launch VS2017 Community RTW
Select `File/New`
Select `Visual C#/.NET Core/Console App (.NET Core)`
Add a class (e.g. `Another.cs`)

VS2017 creates the file with the content (see below).

N

[2017-03-09 12:35] JustinPealing commented on #12360
Just come across this same issue, however when I set UseSharedCompilation to "true" my build fails when it encounters a C# 6 feature (e.g `nameof`). Leaving this property un-set fixes the build, except it starts taking ~twice as long again.

I'm referencing v 1.3.2 of the Microsoft.Net.Compilers package and I'm setting the property using the "MSBuild Arguments" property in my XAML build process.

[2017-03-09 13:35] RandyBuchholz opened #17662 "typeof((tuple)) Incomplete"
### Description
Getting the type of a tuple using typeof() does not function completely. (VS2017/C#7)
`Type tupletype = typeof(int One, int Two);` does not bring One, and Two into the DeclaredFields collection. They come over as Item1, Item2. This is limiting in some scenarios.

### Example
Currently, you can create a limited "Pseudo Type" using tuples. You can't "new" a tuple, but you can create

[2017-03-09 14:05] RandyBuchholz opened #17663 "Extension Methods for Tuple Type?"
VS2017/C#7
### Description
You can write an extension method on a specific tuple, but what about on all tuples?
[code]
`var ans = (1, 1).TupleExtension();`  Seems to work fine for all cases of (int, int). The use may be limited, and it gets messy to use many of these.

What about extensions on all tuples?
[code]
This would be helpful for writing things like conversions - `.ToSomething()`.

`public

[2017-03-09 14:20] DavidArno commented on #17663
You just have to make it a generic extension method:
[code]

[2017-03-09 14:40] daniel-white commented on #5806
IMO a literal that looks like an ECMAScript would be awesome. Using string literals even with the `@` prefix it adds many symbols that aren't relevant to the pattern.

[2017-03-09 14:49] DavidArno commented on #17662
It's unclear what you are trying to achieve here. Firstly,
[code]
is the same as saying:
[code]
The `(x, y)` syntax, and the names `x` and `y` are just compiler sugar placed over those `ValueTuple` types.
[code]
is the same as saying:
[code]

But it's unclear why you are doing this anyway. You can "new" tuples, with names other than `Item1` etc, just use the `()` syntax:
[code]

[2017-03-09 15:02] weltkante commented on #17650
Clarifying: the linked issue is about adding ==/!= to the `System.Type` class (the ==/!= operators aren't defined on `System.Type` for PCL projects). Can't tell if that is related to this issue at all.

[2017-03-09 15:17] jaredpar commented on #12360
@JustinPealing can you post the errors that you are seeing?

[2017-03-09 15:31] RandyBuchholz commented on #17663
I'm trying to go the other way, and avoid the "Of course, you'll need one per each type of tuple".

Making an extension on a specific/generic signature works fine (and it doesn't seem necessary to make it a generic). What I am looking for is a way to write an extension that shows up on all tuples. Something like
`public static string TupleExtension( this (()) tuple) => ...` which would then be ava

[2017-03-09 16:15] DavidArno commented on #17663
The nearest you could get to that would be to have the extension method extend `ITupleInternal`, which all `ValueTuple<...>` types implement ... but you can't as `ITupleInternal` (as its name suggests) is marked as `internal`.

So unfortunately, "Of course, you'll need one per each type of tuple" remains a contraint on what you want to achieve.

[2017-03-09 16:18] RandyBuchholz commented on #17663
That's for the thorough explanation, David!

[2017-03-09 16:18] #17663 closed

[2017-03-09 16:54] Pilchie commented on #15762
@CyrusNajmabadi Can you take a look?  I thought this was addressed in https://github.com/dotnet/roslyn/pull/16703?

[2017-03-09 17:11] Pilchie commented on #17660
Tagging @olegtk, since this is not a roslyn content type.  @GerjanOnline Can you try closing and re-opening the `.config` file after adding/modifying the `.editorconfig` file?  I think we don't react to file changes properly.

Alternatively, it's possible that the xml language service caches these values at load time, and doesn't work with editorconfig at all?

[2017-03-09 17:20] Pilchie commented on #17658
Tagging @kuhlenh, @olegtk, @jasonmalinowski, @markw-t

The settings in Tools\Options should be saved to your VS account, and roamed.  The overall design of EditorConfig is a supersedes model though, so if you have an editorconfig file, it should honored *instead* of the values in Tools\Options.

In this case, when you open a .cs file, do you see a message in the status bar at the bottom indicating

[2017-03-09 17:20] RandyBuchholz commented on #17662
Sorry if I wasn't clear. I added a use case about the issue/item that may have confused this.

What I see as a "defect" is that typeof(tuple) doesn't retain the names of the elements. Your explanation helps understand why. I see that it is the de-sugaring of the tuple syntax that looses the name info, and that is why it doesn't work. But shouldn't it work?

As you said, we are doing `var t = typeo

[2017-03-09 17:30] markw-t commented on #17658
As @Pilchie notes,  the design of .editorconfig is that it supersedes your local tools\options values, because your codebase's conventions (as expressed in the file) are of a higher priority than your personal preferences. You should see a notification in the status bar whenever you open a file under the control of .editorconfig, if the .editorconfig file applies. One further thing to note is that

[2017-03-09 17:35] kuhlenh commented on #17658
@Pilchie: @GerjanOnline has found a bug that is for Sort System Directives first only. That specific setting doesn't get applied for some reason. I thought I had filed that bug already, but I can't seem to find it...

[2017-03-09 17:36] Pilchie commented on #17634
@dpoeschl: Do you have another bug tracking this already?

[2017-03-09 17:38] gafter commented on #17662
Two issues here.

First, the syntax `typeof(int x, int y)` isn't valid, because `int x, int y` isn't a type. The type here would be the same thing with parens around it, so with one pair of parens part of the `typeof` syntax, and one pair part of the tuple type, you should be writing `typeof((int x, int y))`.

Second, the purpose of `typeof` is to give you access to the `System.Type` object corres

[2017-03-09 17:38] #17662 closed

[2017-03-09 17:38] Pilchie commented on #17646
Moving to Unknown to consume these when the Fx supports it.

[2017-03-09 17:40] Pilchie commented on #17649
I agree though I think it's less important than some other work.

[2017-03-09 18:00] tmat opened #17666 "Integrate csi to dotnet cli"
Execute a script:
[code]

Start C# REPL:
[code]

Similarly F# and VB scripts.

[2017-03-09 18:01] tmat commented on #17666
See also https://github.com/fsharp/fslang-design/issues/167

[2017-03-09 18:13] filipw commented on #17666
might be worth a look https://github.com/filipw/dotnet-script

[2017-03-09 18:46] jasonmalinowski commented on #13186
And again: https://devdiv.visualstudio.com/DevDiv/_build?buildId=605723&tab=ms.vss-test-web.test-result-details&_a=summary. @Pilchie and @dpoeschl can we get the test disabled or looked at?

[2017-03-09 18:51] wyckster commented on #12202
Seems to occur if you just rename a windows forms file.

[2017-03-09 18:52] #4112 closed

[2017-03-09 18:56] #4682 closed

[2017-03-09 19:01] jaredpar commented on #5431
There is currently not a reasonable path forward for this to happen.  Closing this out.  Can revisit if circumstances change in the future.

[2017-03-09 19:01] #5431 closed

[2017-03-09 19:07] mozzis commented on #45
I can add that even the fully qualified overload does not work when documenting C++/CLR functions. The result in HTML docs is just `<span class="nolink">OverloadMethod</span>` where "OverloadMethod" is the name of the overloaded method you are trying to cross-reference.

[2017-03-09 19:11] jaredpar commented on #12523
Closing and letting #9209 track the issue.

[2017-03-09 19:11] #12523 closed

[2017-03-09 19:13] olegtk commented on #17660
As noted in [VS 2017 Release Notes](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes#KIeditoride), editorconfig is not supported yet in XML files.
This is because language services typically need to update their formatters as described [here](https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options) and XML language service hasn't done that work y

[2017-03-09 19:18] FlavioSCardoso opened #17667 "IDE0006 Error encountered while loading the project"
**Version Used**: VS Pro 14.0.25431.01

**Steps to Reproduce**:

1. File, New Project, Cross-Platform, Blank Xml App (Xamarin.Forms.Portable)

**Expected Behavior**:
Can't get error information as described on inner instructions or in https://github.com/dotnet/roslyn/wiki/Diagnosing-Project-System-Build-Errors

**Actual Behavior**:
Get the folowing Warning:	IDE0006	Error encountered while loading

[2017-03-09 19:24] jaredpar commented on #9370
Closing as this is a known breaking change.

[2017-03-09 19:24] #9370 closed

[2017-03-09 19:28] TyOverby commented on #13987
Not true.  CSC.exe is running in 64 bit mode

[2017-03-09 19:28] #13987 closed

[2017-03-09 19:34] jaredpar commented on #10858
I'm currently leaning towards won't fix on this.  My logic is that, within reason, adding the `/deterministic` argument to the compiler should only observably change the inherently non-deterministic parts of the produced PE: MVID, PDB ID and time stamp.

Fixing this issue would introduce a new observable behavior: partial class ordering.  That's not a big difference but is observable.

Instead of

[2017-03-09 19:39] tannergooding commented on #10858
I think we should preserve the inputs as given to us and push on other tools to give them to us deterministically.

[2017-03-09 20:01] zezba9000 opened #17669 "C# 7 Out variables inconstant scoping with flow control qualifiers"
**Version Used**:
C# 7 (VS 2017)

**Steps to Reproduce**:
if (Foo(out int i))
{
    i.ToString();// valid scope
}

i.ToString();// 'i' can be used outside of the 'if' scope block?

**Expected Behavior**:
'i' should only live in the if's scope.

Just like any flow control qualifier such as 'for' or 'while' the scope of variables should start within the '()' brackets. Otherwise this is just syntax s

[2017-03-09 20:17] jaredpar commented on #10915
Let's just document this.

[2017-03-09 20:22] Pilchie commented on #17660
@GerjanOnline can you report this through the `Send Feedback` tool in Visual Studio so that it appears on https://developercommunity.visualstudio.com and other users can vote for it.

[2017-03-09 20:22] #17660 closed

[2017-03-09 20:25] jaredpar commented on #11188
@nguerrera  What value gets added here if we remove this?  The longer term POR is to switch to the Net Standard 1.3 / 2.0 meta package.  At that point we'd get this included anyways as an available reference.  Hence not sure of the value of removing it now.

[2017-03-09 20:30] #11351 closed

[2017-03-09 20:32] VSadov commented on #10852
Tuple supports all kind of conversions now. - implicit/explicit/literal/user-defined conversions.

As a more detailed write up of what is how supported, this can be used: http://mustoverride.com/tuples_conversions/

[2017-03-09 20:32] jaredpar commented on #11352
There seem to be two cases here to consider:

1. The metadata is malformed and is causing an OOM
1. The compiler server is low on memory and hence a valid image is causing an OOM

In practice we haven't seen 1 very much, if at all.  I don't see it as a motivating factor for this bug.

It seems unlikely that 2 is an issue in practice as we run the server in 64 bit mode by default.  Hence hard to se

[2017-03-09 20:32] #11352 closed

[2017-03-09 20:33] tmat commented on #17666
Thanks for the pointer @filipw. Do you think we could get rid of the extra verb "script".  It doesn't add much value since we know it's script from the extension.

[2017-03-09 20:34] #11503 closed

[2017-03-09 20:40] jaredpar commented on #11763
Closing based on discussion.

[2017-03-09 20:40] #11763 closed

[2017-03-09 20:44] jaredpar commented on #11925
Cannot repro in VS 2017

[2017-03-09 20:44] #11925 closed

[2017-03-09 20:46] #12524 closed

[2017-03-09 20:51] jaredpar commented on #11942
I do not think this is the appropriate approach to the problem here.  It changes our build throughput behavior for all scenarios vs. the specific one being addressed here.  That's not an acceptable trade off for the compiler where throughput is our overriding goal.

If VS decides this is a scenario worth addressing then it should be launching MSBuild in a different mode, perhaps at lower priority,

[2017-03-09 20:55] jaredpar commented on #12285
Note the right repo for PEVerify bugs.

[2017-03-09 20:55] #12285 closed

[2017-03-09 20:57] filipw commented on #17666
The current extensibility around dotnet CLI forces you to have some verb, if you want `dotnet.exe` to pick up your extension - there is a good article here http://mattwarren.org/2016/10/03/Adding-a-verb-to-the-dotnet-CLI-tooling/.

That particular tool was created as a .NET Core app with a name `dotnet-script`, and as such, dotnet driver sees it as `script`. I think skipping it would require chang

[2017-03-09 21:06] jaredpar commented on #12702
Unfortunately the notion of generated code is generally a heuristic instead of a solid item.  There are too many attributes / conventions to account for.  That makes it harder for us to change compiler behavior based on it.

Additionally there is a very simple work around for generators who explicitly don't want this warning.  Simply generate the following into the code file:

[code]