[2019-04-17 21:56] benaadams commented on #26567
👍

[2019-04-17 21:59] AlekseyTs opened #35075 "Incorrect result type is inferred for a conditional access when a type parameter is constrained to a `Nullable<T>` type"
[code]

Observed:
[code]

The IL uses a ```Nullable<U>``` which is a nullable type:
[code]

[2019-04-17 21:59] AlekseyTs commented on #35075
There is a similar issue with VB:
[code]

[2019-04-17 22:00] jaredpar commented on #26567
I think this is the right approach. The compiler essentially needs a declaration from the runtime that it does not support `Thread.Abort`. The absence of the API in the set of referenced assemblies is not enough because the compiler has to consider the possibility it's being presented with a reference API that is different than the implementation API.

[2019-04-17 22:01] sharwell opened #35076 "Migrate F# IVTs to the external access pattern"
We are planning to remove IVT access to dotnet/roslyn from the following assemblies for 16.2 Preview 1:

* FSharp.Editor
* FSharp.LanguageService

These assemblies should be updated to operate correctly without IVT access to roslyn, or use an External Access assembly for all access to Roslyn internals. I will be assisting in the creation of the External Access layer if necessary for these componen

[2019-04-17 22:02] AlekseyTs commented on #34723
And then? Where the logic breaks down? What value confuses IDE layer at the end and what would we expect to get instead?

[2019-04-17 22:05] sharwell opened #35077 "Migrate TypeScript IVTs to the External Access pattern"
We are planning to remove IVT access to dotnet/roslyn from the following assemblies

* Microsoft.CodeAnalysis.TypeScript.EditorFeatures
* Microsoft.VisualStudio.LanguageServices.TypeScript
* Roslyn.Services.Editor.TypeScript.UnitTests

These assemblies should be updated to operate correctly without IVT access to roslyn, or use an External Access assembly for all access to Roslyn internals. I will

[2019-04-17 22:12] YairHalberstadt commented on #34723
The type returned is `M1<oblivious string>` whereas the original type is `M1<non-nullable string>`

Because we don't compare type annotations equality in `SubstitutedMethodSymbol.Equals`, they're considered equal. If we change it, then the following case fails to warn, even though it shouldn't, since the speculative node is oblivious:

[code]

[2019-04-17 22:18] sharwell opened #35078 "Migrate unit testing features to External Access pattern"
We are planning to remove IVT access to dotnet/roslyn from the following assemblies for 16.2 Preview 1:

* Microsoft.CodeAnalysis.LiveUnitTesting.BuildManager
* Microsoft.CodeAnalysis.LiveUnitTesting.BuildManager.UnitTests
* Microsoft.CodeAnalysis.LiveUnitTesting.Orchestrator
* Microsoft.CodeAnalysis.LiveUnitTesting.Orchestrator.UnitTests
* Microsoft.CodeAnalysis.LiveUnitTesting.Test.Utilities
* M

[2019-04-17 22:18] AlekseyTs commented on #34723
What API is used to get that? ```TryGetSpeculativeSemanticModel``` simply returns a SemanticModel.

I am missing something here. It looks like the code uses ```TypeCompareKind.ConsiderEverything2``` option, I would expect the difference in nullable annotation to be significant, i.e. not equal.

[2019-04-17 22:22] sharwell opened #35079 "Migrate Razor features to the External Access pattern"

[2019-04-17 22:29] sharwell opened #35080 "Migrate legacy code analysis assemblies to the External Access pattern"
We are planning to remove IVT access to dotnet/roslyn from the following assemblies for 16.2 Preview 1:

* CodeAnalysis
* ManagedSourceCodeAnalysis
* StanCore

These assemblies should be updated to operate correctly without IVT access to roslyn, or use an External Access assembly for all access to Roslyn internals. I will be assisting in the creation of the External Access layer if necessary for t

[2019-04-17 22:34] sharwell opened #35081 "Migrate internal testing IVTs to the External Access pattern"
We are planning to remove IVT access to dotnet/roslyn from the following assemblies for 16.2 Preview 1:

* Microsoft.Test.Apex.VisualStudio
* ~~Microsoft.VisualStudio.Completion.Tests~~ Moved to #35495
* Microsoft.VisualStudio.ErrorList.UnitTests
* Roslyn.VisualStudio.Closed.UnitTests

These assemblies should be updated to operate correctly without IVT access to roslyn, or use an External Access a

[2019-04-17 22:35] ryzngard commented on #34984
@agocke or @jcouv

This looks like it was introdueced with [this commit](https://github.com/dotnet/roslyn/commit/9160b423#diff-61c14d55196186c0f71024c92e5a382fR11), and [ConversionKindExtensions.IsImplicitConversion](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/Semantics/Conversions/ConversionKindExtensions.cs,0ef5d29e09dff81e) needs to be updated to also handle `ConversionKind.Un

[2019-04-17 22:40] agocke commented on #35081
Can you provide a little more detail here?

[2019-04-17 22:59] AlekseyTs opened #35083 "SubstitutedMethodSymbol.Equals doesn't compare top level nullable annotations for type arguments"
[code]

Note the ```TODO:``` comment

[2019-04-17 22:59] sharwell opened #35084 "Migrate IntelliTrace IVTs to the External Access pattern"
We are planning to remove IVT access to dotnet/roslyn from the following assembly for 16.2 Preview 1:

* Microsoft.VisualStudio.ProductionBreakpoints.CodeAnalysis

This assembly should be updated to operate correctly without IVT access to roslyn, or use an External Access assembly for all access to Roslyn internals. I will be assisting in the creation of the External Access layer if necessary for

[2019-04-17 23:01] AlekseyTs commented on #34723
Opened https://github.com/dotnet/roslyn/issues/35083 for the ```SubstitutedMethodSymbol.Equals``` implementation. However, I am pretty sure fixing that would likely be insufficient for the IDE scenario.

[2019-04-17 23:02] sharwell opened #35085 "Migrate ExternalDependencyServices to the External Access pattern"
Covers **Microsoft.VisualStudio.LanguageServices.ExternalDependencyServices**.

[2019-04-17 23:05] sharwell opened #35086 "Migrate CodeLens IVTs to the External Access pattern"
We are planning to remove IVT access to dotnet/roslyn from the following assemblies for 16.2 Preview 1:

* Microsoft.VisualStudio.CodeSense.ReferencesProvider
* Microsoft.VisualStudio.CodeSense.Roslyn
* Microsoft.VisualStudio.CodeSense.TestsProvider

These assemblies should be updated to operate correctly without IVT access to roslyn, or use an External Access assembly for all access to Roslyn int

[2019-04-17 23:13] sharwell opened #35090 "Verify removal of Scripting.Desktop IVT"
I can't find any indication that **Microsoft.CodeAnalysis.Scripting.Desktop** ever existed. If this is the case, we should remove the IVTs to it.

[2019-04-17 23:17] AlekseyTs commented on #33276
Confirmed, an addition of a ```class``` constraint to the override resolves the issue. The unit-test would look like this:
[code]

[2019-04-17 23:20] AlekseyTs commented on #34843
@gafter If you are working on this issue, please assign it to yourself.

[2019-04-17 23:29] sharwell opened #35091 "Verify removal of Microsoft.CodeAnalysis.Editor.UI.Wpf IVT"
I can't find any indication the IVT for **Microsoft.CodeAnalysis.Editor.UI.Wpf** was ever used. This IVT should be removed if not needed.

[2019-04-17 23:42] yyjdelete commented on #34980
@gafter Seems relate to the new code path introduced in #25995(Pattern Matching)

[2019-04-17 23:44] jcouv commented on #34984
I agree. Assigned to Neal, but feel free to take the issue back if you prefer, since you've already done the investigation.

[2019-04-17 23:49] AlekseyTs commented on #31676
This should be already fixed. Here is a unit-test to add:
[code]

[2019-04-17 23:54] #29847 closed

[2019-04-17 23:54] #34798 closed

[2019-04-18 00:21] jcouv commented on #34321
It does. From my observations above, Jon said it's likely a MEF issue, so he'll take next steps of investigation.

[2019-04-18 00:25] ryzngard commented on #34984
I'll take it, it should be simple enough

[2019-04-18 00:36] 333fred commented on #35037
Also, to be clear, I don't think intra-expression speculation is achievable with the analysis structure, so we'll have to have an extremely compelling scenario to attempt to do the work here.

[2019-04-18 00:40] 333fred commented on #35032
There are a few things that I mean here:

1. Declaration patterns need to have the declared variable nullability recorded.
2. In error scenarios, we can have constant patterns with non-constant patterns. Those should either be "analyzed" to record information or should be set to not null, as we deem appropriate.
3. In general, we should go through what information can be retrieved from the various

[2019-04-18 00:42] ivanbasov opened #35096 "VisualBasic semantic model does not recognize overloads at chained queries"
[code]

VB displays the following diagnostic
`BC36532	Nested function does not have the same signature as delegate 'Func(Of String, Activity, Object)'.	`

Then, if place caret after F and you type CTRL+J, it would provide completion for object not for ICollection<>.

Compare with C#

[code]

C# provides
`CS1061	'ICollection<Activity>' does not contain a definition for 'F' and no accessible extensi

[2019-04-18 00:44] ivanbasov commented on #35096
Related to https://github.com/dotnet/roslyn/pull/35067

[2019-04-18 00:44] ivanbasov commented on #35096
@AlekseyTs , could you please take a look?

[2019-04-18 01:03] jp2masa commented on #25182
This should have been closed by #25186, right?

[2019-04-18 01:16] sharwell opened #35098 "Remove old Microsoft.VisualStudio.InteractiveServices project and IVTs"

[2019-04-18 01:18] sharwell opened #35099 "Migrate Xamarin IVTs to the External Access pattern"
We are planning to remove IVT access to dotnet/roslyn from the following assembly for 16.2 Preview 1:

* Xamarin.Ide

This assembly should be updated to operate correctly without IVT access to roslyn, or use an External Access assembly for all access to Roslyn internals. I will be assisting in the creation of the External Access layer if necessary for these components.

[2019-04-18 01:47] ivanbasov opened #35100 "Semantic model returns a single candidate symbol for chained queries and generic vs non-generic overloads"
[code]
`c` before $$ can be either Activity or ICollection<Activity>. One can replace $$ with `Task `or with `First()`. Both are valid. However, intellisense is provided for `First() `and other collection methods. `Task `is not available in intellisense.

This happens because C# semantic model provides just a single candidate for the method symbol.

[2019-04-18 01:57] sharwell opened #35101 "Migrate ALM IVTs to the External Access pattern"
Applies to **Microsoft.VisualStudio.Alm.Shared.CodeAnalysisClient**.

[2019-04-18 01:57] ivanbasov commented on #35100
Actually, VB has the same issue but returned the other overload in the case. Here is code for VB:

[code]

[2019-04-18 01:57] sharwell opened #35102 "Revoke IVTs to unit tests in dotnet/roslyn-analyzers"

[2019-04-18 02:09] ivanbasov commented on #35100
This breaks some scenarios covered in https://github.com/dotnet/roslyn/pull/35067

[2019-04-18 02:18] CyrusNajmabadi commented on #35028
@VBAndCs please provide a repo of the issue you are running into.

[2019-04-18 03:13] pjc0247 commented on #34951
If you think `roslyn` is a compiler __platform__, would be great to add more flexibility without modifying and re-compiling original sources.

[2019-04-18 03:31] gafter commented on #34843
I am not working on anything until the middle of next week.

[2019-04-18 06:44] YairHalberstadt commented on #34723
We use `SemanticModel.GetSymbolInfo(SyntaxNode node, CancellationToken cancellationToken = default(CancellationToken)).Symbol` on the speculative model, with `IdentifierNameSyntax M1`.

[2019-04-18 08:04] YairHalberstadt commented on #34753
@sharwell

In an discussion with @CyrusNajmabadi, we concluded it's not entirely clear what the correct behaviour should be here. The purpose of Inline Temporary Variable is to replace all usages of a reference with it's declaration. It is not a semantically preserving operation.

So It could be argued that actually the correct behaviour here is to end up with any of:

[code]
or

[code]
or

[code]

[2019-04-18 08:07] CyrusNajmabadi commented on #34753
I support this wholeheartedly.  The feature already supports merging when possible.  Seems very reasonable for it to understand this pattern and consider the decl/assignment to be mergeable, giving the form @sharwell wants.

[2019-04-18 08:29] xmarshal opened #35104 "Cross assembly analysis support"
its important for null check helpers for example
https://github.com/dotnet/roslyn-analyzers/issues/2215

[2019-04-18 10:06] VBAndCs commented on #35028
@CyrusNajmabadi
I tried, but can't reproduce this issue in a test sample. The editor doesn't change the casing of literal keywords even they appear in blue color red!
Maybe this is an exotic case related to my zml parser that contains a lot of vb keywords as a literals. I did all I can to prevent it from happining again by using constants, so, my original code has changed and can't reproduce the s

[2019-04-18 10:35] Dreamescaper commented on #7053
@genlu
Found minor issue with type completions. Used sort text (`"~{0}~{1}"`) makes type with shorter name go after longer one, e.g. now 'SomeTypeWithLongerName' < 'SomeType'.
Probably smth like `"~{0} {1}"` or `"~{0}!{1}"` should be used.

[2019-04-18 11:28] ghost opened #35105 "C# Wrong label indentation (after if without braces)"
**Version Used**: 16.0.1
MSVS Community 2019

**Steps to Reproduce**:

[code]
^ED (reformat)

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2019-04-18 11:35] #35102 closed

[2019-04-18 12:58] JohnGalt1717 commented on #34912
Some more information:

If I use SDK 2.2.106 it builds fine.

If I use SDK 2.2.203 it fails with the above and this detail when using dotnet.exe to build it:   Unexpected value 'Beq' of type 'System.Reflection.Metadata.ILOpCode'

The machine is a brand new Windows 10 machine fully patched with ONLY VS.net 2019 on it. I installed 2.2.106 manually from dot.net to test.

Hopefully that issolates the

[2019-04-18 13:31] JohnGalt1717 commented on #34912
And, even using .106 with VS.net 2019 you still get the same error.

[2019-04-18 13:57] VBAndCs commented on #35028
I can think of one reason:
Sometimes when I open the project with number of code files opened, VB compiler takes too long time to check the syntax errors and other type errors. I reported before that when I run the app at this time while it contains a bug, the run fails but the error list is empty! But all of this doesn't prevent the editor from formatting the code. Hence, if in this state I delet

[2019-04-18 14:18] mgoertz-msft commented on #35069
@sharwell, Microsoft.VisualStudio.LanguageServices.Xaml is an external access assembly - in fact it was the very first one. It does not give access to the internals of Roslyn but rather only access to the internals of this access assembly. It was created exactly for this purpose so that we don't need IVT access to Roslyn.

[2019-04-18 14:47] TeamBrett commented on #30115
I have just started seeing this error and it is only occurring when I have a call to `HasData` as part of the model creation.

[2019-04-18 14:48] gafter commented on #35032
Declaration patterns do not permit a nullable annotation.

[2019-04-18 15:12] sharwell commented on #35069
@mgoertz-msft Yes, once the assembly is updated to match the External Access assembly naming conventions it will stop getting flagged by Build Boss.

[2019-04-18 15:22] jasonmalinowski commented on #35101
This can be merged with the CodeSense one -- the assembly name doesn't make it obvious but this is a part of CodeSense.

[2019-04-18 16:46] CreateAndInject opened #35108 "Step Into and Step Over can't break with closure。"
**Version Used**: VS2017&VS2017 can't break, VS2010&VS2015 can.

**Steps to Reproduce**:

1.
[code]
2. F10 / F11

**Expected Behavior**: VS break in the first `{`

**Actual Behavior**: VS can't break, and show "test" in the console.

[2019-04-18 16:57] DanielSchuessler commented on #29319
FWIW, I also just stumbled over this in the wild. I was very puzzled about the fact that the compiler allowed me to use a local var of my `XlCellValue` struct without initialization. (It's a struct with a single field `readonly object value` which is part of an API ensuring that the value can only be of types produced/accepted by the Excel COM API (`Range.Value` etc.)).

Thanks @svick for the `<Fe

[2019-04-18 17:01] CreateAndInject opened #35109 "Can't find the solution in the recent documents."
**Version Used**: 16.0.1

**Steps to Reproduce**:

1. Lock VS2019 to the taskbar.
2. Open VS2019, create a solution named `MyTest`, then close VS2019.
3. Right click VS2019 icon in the taskbar, there's no `MyTest.sln`

[2019-04-18 17:03] sharwell commented on #35101
Thanks, I will combine them in a follow-up PR.

[2019-04-18 17:05] sharwell commented on #35101
Duplicate of #35086

[2019-04-18 17:05] #35101 closed

[2019-04-18 17:23] CyrusNajmabadi commented on #35028
Without a repro, there's no real way to make a code change here as tehre's no way to actually validate any change would solve this issue.

That sounds like a different bug.  Feel free to either file it, or add whatever information is necessary to the bug you filed to help get it resolved.

@VBAndCs You have been told several times how you can report issues with performance to the Roslyn team.  Ple

[2019-04-18 17:26] CyrusNajmabadi commented on #35109
@CreateAndInject Ths is not a roslyn issue.  Can you please report a problem here, then close this issue out?

![image](https://user-images.githubusercontent.com/4564579/56379349-63f51080-61c4-11e9-89eb-a9548bbc741f.png)

Thanks!

[2019-04-18 17:26] 333fred commented on #35032
@gafter I agree with that in correct code, but we need to verify what happens if I were to type `x is string? s`.

[2019-04-18 17:27] paul1956 commented on #26053
This is really ugly and leads to errors, I would like if this could be fixed even if an explicit line continuation was required. Once 16.1 is released I would like to attempt to address at least for the explicit line continuation but I believe that was already rejected. It might help in the short term to include @KathleenDollard explanation (or a link) in the error message.

[2019-04-18 17:29] AlekseyTs commented on #35096
For me the very first item in the completion list is ```ICollection(Of Activity).Add```. Is this not what would you expect? Please clarify expectations and rational behind them.

[2019-04-18 17:30] sharwell commented on #34987
This error was caused by #34945.

The pull request introduced [FSharpContentTypeLanguageService](https://github.com/dotnet/roslyn/blob/d4b17e6e662c733b0035294d3c8ec4f4f16c5dc7/src/Tools/ExternalAccess/FSharp/Editor/FSharpContentTypeLanguageService.cs) which resulted in two copies of this service in the MEF catalog.

[2019-04-18 17:32] CreateAndInject commented on #35109
But there's no problem in VS2010--VS2017.
So, I think it's a bug of VS2019.

[2019-04-18 17:36] jmarolf commented on #35109
@CreateAndInject this is likely in problem in visual studio itself not the .NET compilers or their language services.  The correct place to file this bug is thru "Report a Problem"

[2019-04-18 17:51] vatsalyaagrawal commented on #35104
@mavasani is this a duplicate?

[2019-04-18 17:54] tmat commented on #35108
It works for me in a .NET Framework console app:
![image](https://user-images.githubusercontent.com/41759/56380905-44f87d80-61c8-11e9-90f0-0cb6d1469a51.png)

Can you share the entire project where this does not work?

[2019-04-18 17:57] sharwell commented on #35063
Based on the review of #34441, the current recommended resolution for this situation is to add the following statement as the first line of your `ClassInitialize` method:

[code]

[2019-04-18 17:59] mavasani commented on #35104
No, this is not a duplicate. This is a request to allow whole program analysis in Roslyn, where a method invokes methods from different projects and/or reference assemblies. Our current analysis support in analyzers is limited to the same compilation.

[2019-04-18 18:00] vatsalyaagrawal commented on #35045
@ivanbasov is this a regression?

[2019-04-18 18:00] CreateAndInject commented on #35108
I test again, there's no problem in .net 4
So, please use .net 3.5

[2019-04-18 18:13] tmat commented on #35108
I have changed the target framework to 3.5 and it still works.

[2019-04-18 18:15] tmat commented on #35071
I think these can be removed.

[2019-04-18 18:40] CreateAndInject commented on #35108
Do you checked `Use Managed Compatibility Mode`? If that, please unchecked.
If not, I will find more computers to test it.

[2019-04-18 18:54] VBAndCs commented on #35028
I have done that here:
https://developercommunity.visualstudio.com/content/problem/516485/vs-2019-editor-always-encounters-an-unrecoverable.html

[2019-04-18 19:01] heejaechang opened #35111 "rename Microsoft.VisualStudio.CodeAnalysis.CodeLens to Microsoft.VisualStudio.LanguageServices.CodeLens"
our pattern is not mixing VisualStudio and CodeAnalysis

[2019-04-18 19:07] CyrusNajmabadi commented on #35028
@VBAndCs That doesn't contain the information being asked for.  That's an issue where you ran into an unrecoverable error.  If you're reporting slowness (as per ` (the compiler, the debugger, or what ever) is slow.`), then please follow the instructions here: https://github.com/dotnet/roslyn/wiki/Reporting-Visual-Studio-crashes-and-performance-issues

[2019-04-18 19:18] AmadeusW commented on #35045
Yes, this is a bug in the Editor where we don't correctly recycle the control.

[2019-04-18 19:24] AceHack commented on #996
Any update?

[2019-04-18 19:28] CyrusNajmabadi commented on #996
@AceHack This has no one assigned to it.  So no.

[2019-04-18 19:53] genlu commented on #7053
@Dreamescaper Ah, I see. Will fix. Thanks!

[2019-04-18 19:58] tannergooding opened #35113 "Compiler is emitting `IsReadOnlyAttribute` for getter only auto properties when not targeting 8.0"
The compiler is currently emitting `IsReadOnlyAttribute` on getter only auto properties even when the langversion is not 8.0.

This lead to failures in the GenAPI tool which generates a reference source file based on a given implementation assembly: https://github.com/dotnet/arcade/issues/2555

This should be reviewed and determined whether it is desirable (in which case tools should be updated) o

[2019-04-18 19:58] tannergooding commented on #35113
CC. @RikkiGibson, @jaredpar

[2019-04-18 20:00] WenningQiu commented on #30248
I just ran into a similar issue with DataContractAttribute. Adding a reference to "System.Runtime.dll" in addition to typeof(DataContractAttribute).Assembly.Location appears to help.

@abrunetta

[2019-04-18 20:00] tannergooding commented on #35113
As a note, I'm going to be updating GenAPI, in either case, to workaround this. I can understand the desire to have this emitted since it should be harmless outside the decompilation/recompilation scenario (which probably isn't officially supported anyways) and it allows more code to elide hidden copies where possible.

[2019-04-18 20:03] tannergooding opened #35114 "Compiler is emitting `IsReadOnlyAttribute` for getter only auto properties of readonly structs."
The compiler is currently emitting `IsReadOnlyAttribute` on getter only auto properties of a readonly struct.

While this is harmless, it unnecessarily increases metadata size and could likely be stripped given that it isn't emitted for other members (such as methods) and the readonly-ness can be detected from the attribute on the struct.

Also see: https://sharplab.io/#v2:C4LglgNgPgAgDAAhgRgNwFgB

[2019-04-18 20:03] tannergooding commented on #35114
CC. @RikkiGibson, @jaredpar

[2019-04-18 20:25] ivanbasov commented on #35045
Thank you, @AmadeusW ! Moved to https://devdiv.visualstudio.com/DevDiv/_workitems/edit/850412

[2019-04-18 20:25] #35045 closed

[2019-04-18 20:39] CreateAndInject opened #35115 "Can't view overloads by down arrow in watch window."
**Version Used**: VS2017&VS2019

**Steps to Reproduce**:

1. Type `int.Parse(` in watch window
2. Press down arrow

**Expected Behavior**: View different overloads

**Actual Behavior**: Cursor runs to next line.

[2019-04-18 20:43] #31676 closed

[2019-04-18 20:43] #33276 closed

[2019-04-18 20:48] CreateAndInject commented on #23134
@sharwell Do you make mistake? I mean in watch window not code window.
VS2019 16.0.2 doesn't resolve this issue.

[2019-04-18 21:01] tannergooding opened #35117 "Compiler currently gives `error CS0034` when calling a nullable aware generic API from a non-nullable aware generic API"
The following code currently fails to compile with `error CS0034: Operator '|' is ambiguous on operands of type 'Vector<T>' and 'Vector<T>'`.

[code]

[2019-04-18 21:01] tannergooding commented on #35117
CC. @cston, @gafter, @dotnet/nullablefc

[2019-04-18 21:02] tannergooding commented on #35117
This is currently impacting https://github.com/dotnet/corefx/pull/37003 and @marek-safar also hit this for mono.

[2019-04-18 21:20] vsfeedback opened #35118 "LINQ converter Query Syntax to/from Method Syntax"
<p>Hello!</p><p>As new feature to convert &quot;foreach&quot; to LINQ it's amazin, a fast converter from a LINQ syntax to another can be very usefull for fast refactor.</p><p>Thanks</p>

_This issue has been moved from https://developercommunity.visualstudio.com/content/idea/533556/linq-converter-query-syntax-tofrom-method-syntax.html
VSTS ticketId: 847753_
_These are the original issue comments:_

[2019-04-18 21:26] AmadeusW commented on #35045
this will be fixed in VS2019 16.1 preview 3

[2019-04-18 21:27] pranavkm opened #35119 "Compiler does not preserve EmbeddedResource.LogicalName with back-slashes on xplat"
`EmbeddedResource` item in MSBuild has a `LogicalName` property that allows specifying what the name of a resource would be once embedded in to the compiled assembly. Consider the following:

[code]

On Windows, compiling a project with these resources preserves the LogicalName. Here's what ILSpy says when I inspect the assembly:

![image](https://user-images.githubusercontent.com/174281/56391817-

[2019-04-18 21:32] marek-safar commented on #35117
Impacted Mono version is at https://github.com/mono/mono/pull/14125

[2019-04-18 21:43] kendrahavens commented on #24129
Request on developer community for namespace formatting option as well as class formatting option: https://developercommunity.visualstudio.com/content/idea/537886/option-to-disable-indentation-of-namespace-and-cla.html

[code]
would turn into:

[code]

....
Personally, I do think this option allows users to eliminate a ton of unused whitespace.

[2019-04-18 21:50] jcouv commented on #34708
We're dropping the special `cancellationToken` variable approach in favor of the `[DefaultCancellation]` token.

[2019-04-18 21:50] #34708 closed

[2019-04-18 21:53] jcouv commented on #34709
We're dropping this approach (special `cancellationToken` variable) in favor of the `[DefaultCancellation]` attribute.

[2019-04-18 21:53] #34709 closed

[2019-04-18 22:47] 333fred commented on #34667
This was fixed in https://github.com/dotnet/roslyn/pull/34926. Adding a test to verify.

[2019-04-18 22:51] mazhou-msft commented on #35045
Sounds good, thanks for the fast tracking :)

[2019-04-18 22:52] sharwell opened #35123 "FailFast attempting to show light bulb in integration tests"
https://dev.azure.com/dnceng/public/_build/results?buildId=160903

[code]

[2019-04-18 22:55] danmosemsft commented on #35119
Roslyn seems to be appending the value as a string, not a path:
`commandLine.AppendSwitchIfNotNull("/resource:", Resources, new string[] { "LogicalName", "Access" });` --> `AppendSwitchIfNotNull` -> `AppendTextWithQuoting` -> MSBuild `AppendQuotedTextToBuffer` -> etc.

My bet is the flip is happening when the TaskItem is constructed on the way into the task:

https://github.com/Microsoft/msbuild/b

[2019-04-18 22:56] genlu opened #35124 "Generic type name from Import completion should be language specific"
Right now, generic types are always displayed in C# even when completion is invoked in VB code.
i.e. `Foo<>` instead of `Foo(Of ...)`

[2019-04-18 23:19] ivanbasov commented on #35096
Please note the issue happens with the partial match scenario. `c.F` should already be typed and should not have an active completion. Then, need to put caret after `c.F` and press CTRL+J. Here is the scenario of the issue. I see only member of `object` in the case.

[2019-04-18 23:29] chborl opened #35126 "Don't complete statement when typing semicolon in char literal that is in delimiter"
**Version Used**:

**Steps to Reproduce**:

1.  In the editor, insert the following code and type a semicolon where the $$ is
`void Main(string[]args)
    {
        Method('$$')
    }`

**Expected Behavior**:
`Method(';$$')`

**Actual Behavior**:
`Method('');$$`

[2019-04-18 23:49] #34268 closed

[2019-04-19 00:07] ivanbasov commented on #31892
It seems that the current contract means that `GetCompletionContextAsync `should not be called twice for the same session. If the contract changes, we should revise not just the current issue but other potential ones as well. Therefore, we should keep using `AddProperty` to be sure that the contract is still valid.

[2019-04-19 00:07] #31892 closed

[2019-04-19 00:10] jaredpar commented on #35114
Agree we should not be doing this as it’s redundant.

[2019-04-19 00:17] ivanbasov commented on #33470
Could not reproduce the issue with VS 2019.1 Preview 2
![else](https://user-images.githubusercontent.com/5455484/56398504-c1f21a00-61fd-11e9-8899-58e13cd85197.gif)

[2019-04-19 00:17] #33470 closed

[2019-04-19 00:32] safern opened #35131 "Deconstruct KeyValuePair failing with nullable warning"
We have the following `KeyValuePair` struct:

[code]

Then we create a `Dictionary<string, ResourceManager>` which in its `Enumerator` returns a `KeyValuePair<string, ResourceManager>`. We should be able to use this as follows:

[code]

We get a warning in the foreach loop: `shared\System\Resources\ResourceManager.cs(307,26): error CS8619: Nullability of reference types in value of type 'KeyValueP

[2019-04-19 01:09] gafter commented on #35032
You will get a syntax error that the : of your ?: expression is missing.

-Neal
________________________________
From: Fred Silberberg <notifications@github.com>
Sent: Thursday, April 18, 2019 10:27:12 AM
To: dotnet/roslyn
Cc: Neal Gafter; Mention
Subject: Re: [dotnet/roslyn] NullableWalker's result recording for patterns needs to be updated (#35032)

@gafter<https://nam06.safelinks.protection.out

[2019-04-19 02:40] #34987 closed

[2019-04-19 02:51] #30086 closed

[2019-04-19 02:51] #33766 closed

[2019-04-19 05:31] CreateAndInject commented on #35108
@tmat I asked some people, so many people can reproduce this bug, only one can not.
Could you test it in another computer?

[2019-04-19 05:48] vinaychandra opened #35142 "Using range operator causes InvalidProgramException"
# Issue Title

Using range operator causes InvalidProgramException in the latest dotnet core preview

# General

Donet Core Version: 3 Preview 4
Visual Studio: 16.0.2

Running an MsTest v2 that targets netcore3.0 which tests another netcore3.0 library that uses the new range operator causes an `InvalidProgramException`

Example code used in the library:
`var index = query[0..^1] + (char)(query[^1]

[2019-04-19 13:08] #35064 closed

[2019-04-19 13:23] sharwell opened #35135 "New refactoring: Make local function static"
This refactoring would add the `static` modifier to a local function, and automatically add parameters to the local function for each item previously captured by the function.

[2019-04-19 13:26] sharwell opened #35136 "Code fix for CS8421: Pass 'item' as an argument"
**Version Used**: Visual Studio 2019 version 16.0

🔗 Related to #35135

**Steps to Reproduce**:

[code]

**Expected Behavior**:

* CS8421: A static local function cannot contain a reference to 'x'.
* A code fix is presented which offers to explicitly pass `x` as an argument.

**Actual Behavior**:

The error is reported, but the code fix must be applied manually.

[2019-04-19 13:31] sharwell opened #35137 "Constructor for VisualStudioWorkspaceDiagnosticAnalyzerProviderService should not have thread affinity"
**Version Used**: 7d1eef24fc5139c359986120b2660eb9d474e3d8

MEF parts should not have thread affinity in their constructors. Currently the constructor for `VisualStudioWorkspaceDiagnosticAnalyzerProviderService` depends on the main thread.

🔗 This is related to #35138 and should probably be fixed at the same time

[2019-04-19 13:33] sharwell opened #35138 "VisualStudioWorkspaceDiagnosticAnalyzerProviderService should fail gracefully"
**Version Used**: 7d1eef24fc5139c359986120b2660eb9d474e3d8

Currently a failure in the constructor causes Visual Studio to crash. #34454 reduces but does not eliminate the chances of this occurring. This implementation should be updated to throw an exception from `GetHostDiagnosticAnalyzerPackages()` rather than crash the process in the constructor.

:link: Identified during review of #34454
:link

[2019-04-19 14:09] Dreamescaper commented on #7053
Found another usability issue.
For some reason it tends to pre-select import completions over regular one.
![image](https://user-images.githubusercontent.com/17177729/56427836-ee716900-62c5-11e9-92a7-b2d03e09fad0.png)

[2019-04-19 14:21] sharwell opened #35139 "Find References results should distinguish direct and indirect references"
See discussion in #34617.

Currently Find All References on a named type returns references to both the type itself and references to the constructor(s). In this and similar cases, the `FinderLocation` should indicate whether the location is a direct reference to the symbol passed to Find All References, or to a related symbol.

The Find All References presenter should be updated to not show refer

[2019-04-19 15:10] abadyl commented on #22219
To have less memory consumption you should use **script.CreateDelegate**()

`var script = CSharpScript.Create<int>("X*Y", globalsType: typeof(Globals));
ScriptRunner<int> runner = script.CreateDelegate();`

The delegate doesn’t hold compilation resources (syntax trees, etc.) alive.
https://github.com/dotnet/roslyn/wiki/Scripting-API-Samples#-create-a-delegate-to-a-script

**Workaround:**
if you wi

[2019-04-19 15:35] RikkiGibson commented on #34960
Thanks for having a look--I'll add the tag back once I get the referenced changes merged in :)

[2019-04-19 16:18] #35011 closed

[2019-04-19 16:28] tmat commented on #35108
Can you share the project file?

[2019-04-19 16:33] KathleenDollard commented on #26053
@paul1956

I need some clarification here. Are you requesting a change to how #if works (probably breaking) or a specific error message that you'd like us to look at?

[2019-04-19 16:38] jcouv opened #35140 "`#error version` should display product version"
The compiler version in Core 3 preview 4 shows as '3.100.19.20907 (01f3eb10)' when I include `#error version` in the code of a simple console app.

But when I look at the Roslyn commit 01f3eb10
https://github.com/dotnet/roslyn/blob/01f3eb103049e2c93e0516c7d50908031deaca74/eng/Versions.props
I see that the version number should be 3.1.0 beta2 or something.

When I look at the binary "C:\Program Fil

[2019-04-19 16:49] CreateAndInject commented on #35108
[StepOverTest.zip](https://github.com/dotnet/roslyn/files/3098752/StepOverTest.zip)

[2019-04-19 16:51] CyrusNajmabadi commented on #7053
Great catch @Dreamescaper .  Def something we'll want to look into improving @genlu .  Completion items rules have a match priority.  We might want to make these negative to indicate they have less priority than a match with any normal (`0`) item.

[2019-04-19 16:57] CyrusNajmabadi commented on #35139
I'm not sure i agree.  The API is much clearer (IMO) at least when it's a mapping from:

Symbol1 -> to direct reference locations to symbol1.
RelatedSymbol1 -> to direct reference locations of RelatedSymbol1
RelatedSymbol2 -> to direct reference locations of RelatedSymbol2
...

I don't think we should have:

Symbol -> to direct and related symbol locations

For 'related symbol locations' we should

[2019-04-19 17:27] agocke commented on #35140
I don't see how we could do this given: 1) don't people depend on the current behavior? and 2) informational version is rarely set.

[2019-04-19 17:46] tannergooding commented on #35117
Also CC. @jaredpar

[2019-04-19 17:53] jcouv commented on #35140
@agocke `#error version` is not documented/supported, so it can be changed. It is primarily useful for troubleshooting, so it should display the information that is most useful for that goal.

[2019-04-19 17:55] jcouv commented on #35140
Could you clarify what you mean by "informational version is rarely set"?

If that is the case, we can always implement a fallback strategy (prefer the product version, otherwise fall back to file version).

[2019-04-19 17:56] agocke commented on #35140
Ah, never mind, I'm dumb, the only purpose is to print *the compilers* version, not the code being built. This is fine then.

[2019-04-19 17:57] agocke commented on #35142
@terrajobst Did the compiler I inserted into `buildtools` and `arcade` flow into .net core yet?

[2019-04-19 17:59] agocke commented on #35142
I can't reproduce this on Roslyn master: https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEAMACFBGA3AWACgUAmDAYSIG8iM6sBmLbANiwBYMBZCASwDsAFAEpa9GoXpTuggEQRgAY1nCCk+gF8xdFExxsUnLoJyYAjgFdEAT1Hq6E6fQBuEBBn5wAHjACS/ABNvDABeDEsbAG00ADoYgD1sAF0MAGoMQUUACzdhQQiEa0jElPTsVW1pHABOQU8ffyCvCvsMLUJ2on4IMDgoAAcIRThmakr0ZhiAJQt+GF5emPIAezB+3gAbRABlRGdeYag1KV0MBDgIAOX+DesMWAQLRRgMRuCQV4BRSwgYBS2ADxvLwAPkqjicGH6CF4rng

[2019-04-19 18:13] #33179 closed

[2019-04-19 18:29] terrajobst commented on #35142
Not sure. @joperezr or @wtgodbe would know. However, given a customer reported this I'm pretty sure it's the Preview 3 or 4 compiler. Sounds like the new compiler no longer has the bug. Might still be worth root causing though. It could be that the new thing binds differently and doesn't exhibit this behavior for built-in types.

[2019-04-19 18:34] wtgodbe commented on #35142
@agocke can you link me the commits where you inserted the new compiler into buildtools/arcade? I can check if those changes have flowed into core.

[2019-04-19 19:13] tannergooding opened #35146 "Compiler doesn't take readonly members into account for span safety rules"
The language currently disallows you from passing a `Span<T>` to an instance method of a ref struct, unless that ref struct is also `readonly` or an `in` extension method.

The compiler should presumably also take into consideration whether a given member is itself `readonly` on a mutable instance struct and allow that as well.

For reference: https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDYB8ACAG

[2019-04-19 19:13] tannergooding commented on #35146
CC. @RikkiGibson, @jaredpar

[2019-04-19 19:16] tannergooding commented on #35146
Rikki suggested I also tag @VSadov, offline.

[2019-04-19 19:25] safern opened #35147 "Generic constraints doesn't respect nullable annotations when contraint is a base type constraint"
**Version Used**:
latest from master in sharplab.

**Steps to Reproduce**:
[code]

This correctly emmits a `NullableAttribute(2)` in the generic parameter.

However if I do:
[code]

This will not even generate a `NullableAttribute` into the generic param.

https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+BiAdgVwBtCJhC4ACOXU8gWACgABABgqYEYBuR19jgCw8GvAMzsATBQDCFAN6MKS9uKYCKAWQA8AFQB8ACh0UIASgoB3ABa

[2019-04-19 19:42] agocke commented on #35142
PR was https://github.com/dotnet/arcade/pull/2536, I'm still trying to figure out what build has this bug

[2019-04-19 19:44] cston commented on #35147
cc @AlekseyTs

[2019-04-19 20:11] dotpaul opened #35149 "Analyzer driver invokes compilation end action twice when calling Compilation.GetAnalyzerDiagnosticsAsync() and .GetAllDiagnosticsAsync()"
**Version Used**: Microsoft.CodeAnalysis.dll 2.9.0

**Steps to Reproduce**:

1. Create an analyzer that registers a compilation end action callback.
2. Run that analyzer via CompilationWithAnalyzers.GetAnalyzerDiagnosticsAsync() and CompilationWithAnalyzers.GetAllDiagnosticsAsync().

For an example, see DoNotUseInsecureDeserializerJavaScriptSerializerWithSimpleTypeResolver.cs and DiagnosticExtensi

[2019-04-19 21:10] #35083 closed

[2019-04-19 21:10] wtgodbe commented on #35142
That Arcade fix has been in CoreFx since https://github.com/dotnet/corefx/pull/36997

[2019-04-19 21:17] #35027 closed

[2019-04-19 21:19] AlekseyTs commented on #35147
That is by design, the attribute goes on the constraint type as for any annotations on the constraint types.

[2019-04-19 21:20] #35147 closed

[2019-04-19 21:27] 333fred opened #35151 "Reinfer GetEnumerator type based on input type."
[code]

This test should have warnings on the `foreach`s indicated. In addition to the `GetEnumerator` reinference, this also exposes that when we do the visit of the `foreach` expression, we need to explicitly remove implicit conversions from the expression and call `ApplyConversion` ourselves.

[2019-04-19 21:45] AArnott commented on #34558
Yes, a net472 targeted was added in 2.0.167.

[2019-04-19 21:50] danmosemsft commented on #35119
cc @rainersigwald since he is familiar with the codepaths that apply `FileUtilities.FixFilePath`

[2019-04-19 21:50] safern commented on #35147
But I still don't see it in the constraint type. I don't understand how this is by design?

[code]

This generates:
[code]

However
[code]

Produces:
[code]

In the second example I see `M<[Nullable(2)] T>` in the generic parameter type, but not int the constraint either.

[2019-04-19 21:51] danmosemsft commented on #35119
Or simpler still someone could just break in the debugger. I was only having a quick scan of the sources..

[2019-04-19 22:03] rainersigwald commented on #35119
Off the top of my head I thought we _didn't_ apply slash ~guessing~ correction to metadata. But that is a likely culprit here.

And it doesn't look like we do it immediately. I added

[code]

to the repro project, and get

[code]

[2019-04-19 22:06] JoeRobich opened #35152 "StackAllocSpanExpressionsTests.ConversionFromPointerStackAlloc_UserDefined_Explicit Failed"
Linux coreclr - [Test Logs](https://dev.azure.com/dnceng/public/_build/results?buildId=161907&view=ms.vss-test-web.build-test-results-tab) - attempt 1

[code]

[2019-04-19 22:41] #33852 closed

[2019-04-19 22:55] chborl opened #35156 "📝Convert method in Complete Statement to Iterative"
📝 File a follow-up issue to convert this method from recursive to iterative. We don't want to trigger a stack overflow when semicolon is typed within very very very very deeply nested parentheses.

_Originally posted by @sharwell in https://github.com/dotnet/roslyn/pull/35024_

[2019-04-19 23:00] AlekseyTs commented on #35147
What tool are you using to examine metadata? I will not be surprised if the decompiler that you are using is  not de-compiling them correctly back into C#. In C# attributes cannot be applied to constraint types, in metadata they can be.

For this C# code:
[code]

Here is ILDasm output:
[code]

Note the NullableAttribute listed at the very end, that is the one applied to to the constraint type, to

[2019-04-19 23:01] 333fred opened #35157 "Typeless tuples hit debug assert in nullable walker"
[code]

Hits this:
<details>

[code]

</details>

[2019-04-19 23:02] 333fred commented on #35157
When fixing, also unskip `TestUntypedTuple` in IDE tests.

[2019-04-19 23:32] jcouv opened #35159 "Warn if `[EnumeratorCancellation]` is specified on two parameters?"
`static async System.Collections.Generic.IAsyncEnumerable<int> Iter(int value, [DefaultCancellation] CancellationToken token1, [DefaultCancellation] CancellationToken token2)`

Relates to https://github.com/dotnet/roslyn/pull/35121 (PR implementing the attribute)

Relates to https://github.com/dotnet/roslyn/issues/24037 (umbrella for async-streams)

[2019-04-19 23:38] genlu opened #35160 "Need a long term solution for caching VS completion items"
Right now, import completion uses CWT to cache VS completion items to avoid repeated allocations. But we will need to better understand how effective this approach is and decide if there's a better alternative.

[2019-04-19 23:48] DorCoMaNdO commented on #22615
Happened to come across another instance of "IDE1008", caused by a constructor overload - List<T>(IEnumerable<T> collection).
List<T>() and List<T>(int capacity) do not reproduce this.

[2019-04-20 00:45] genlu commented on #7053
@CyrusNajmabadi Making the match priority for import items lower probably wouldn't help in this particular case, I think the reason that the import item is considered a better match is because it doesn't have the `<>` suffix, [CompareMatch](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Completion/CompletionHelper.cs,214) uses the entire display text which includes the suffix.

[2019-04-20 00:49] genlu opened #35163 "pre-selection should favor in-scope symbols"
From [feedback](https://github.com/dotnet/roslyn/issues/7053#issuecomment-484907098)

It seems the reason unimport one is favored in this case is because it's considered a better match based on current algorithm (which takes suffix "<>" in to account as well)

[2019-04-20 00:50] genlu commented on #7053
@Dreamescaper I have created a bug to track this #35163

[2019-04-20 01:15] CyrusNajmabadi commented on #7053
That seems strange to me.  We likely need to rethink some of the logic here :)

[2019-04-20 01:29] tmat commented on #35108
Thanks. I can reproduce now.

[2019-04-20 04:18] JamesNK opened #35164 "Turning off all rules and then enabling desired rules"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

Example: v2.9.2

#### Repro steps

1. Add package reference
1. Copy contents of `AllRulesDisabled.ruleset` to local file and reference from csproj
1. Compile

#### Expected behavior

No code analysis warnings because they're all disabled

####

[2019-04-20 06:08] CreateAndInject commented on #35108
Why can you reproduce now, but couldn't before?
1.Your project is different from my uploaded project
2.You reproduce it in another computer
Why?

[2019-04-20 08:13] paul1956 commented on #26053
Both, I will look into a prototype of #if using Explicit Line Continuation because I don't think it would be any more of a breaking change then comments after Explicit Line Continuation and if it is no lose to other resources. Until then (or forever) a much clearer error message is needed. Possibly just a new landing page when someone gets the error explaining what you posted https://github.com/do

[2019-04-20 08:51] VBAndCs commented on #35028
I faced a similar issue just now:
I use this string in a test method1:
[code]

I added a new test method2 in the class, and ran the tests, but the test method 2 failed. When I checked it, I found that this part of the string literal has changed by adding a space before `EvenItems`
`<p class=" + Qt + " EvenItems" + Qt + ">item.Name</p>`
and the same for:
`<p class=" + Qt + " OddItems" + Qt + ">item

[2019-04-20 08:54] VBAndCs commented on #35028
This the whole class if it can help you. Some xml literals may be badly formated. They were OK but the editor did that!
[code]

[2019-04-20 09:00] VBAndCs commented on #35028
Note:
The problem may happened after I added this:
[code]

using the literal 'integer' may be a common case with the previous issue!

[2019-04-20 12:35] #34407 closed

[2019-04-20 17:53] CyrusNajmabadi commented on #35028
@VBAndCs please put your enormous codeblocks either behind a `<details>` tag, or put them in a gist somewhere or on github.  You've made it nearly impossible to use this github page now.

[2019-04-20 17:54] CyrusNajmabadi commented on #35028
I am unable to repro anything here.  What are you explicit repro steps for how you ran into a problem?

[2019-04-20 18:47] jcouv opened #35165 "Confirm/clarify rules for `[EnumeratorCancellation]` in OHI scenarios"
What are the implications with OHI and the cancellation token decision? Consider the case where I use the attribute on an abstract member or interface. Does that …
- Require the implementor to have the attribute?
- Does the compiler consult the definition or implementation when deciding how to handle the parameter?
- If the attribute has no effect on abstract methods, then do we issue a warning wh

[2019-04-20 18:48] jcouv opened #35166 "Warn if `CancellationToken` parameter of async-iterator lacks `[EnumeratorCancellation]`?"
Relates to https://github.com/dotnet/roslyn/issues/24037 (umbrella for async-streams)

[2019-04-20 20:42] JamesNK commented on #35164
You may have found a different bug. I get warnings even after reopening VS, and when building from the command line.

Repo: [Class1.zip](https://github.com/dotnet/roslyn/files/3100580/Class1.zip)

[code]

![image](https://user-images.githubusercontent.com/303201/56462093-2507ca80-6411-11e9-8311-c0b2c7036468.png)

[2019-04-20 21:10] VBAndCs commented on #35028
I put the link put it is a few hours plder than the file of the issue.. Try to write some new method in the middle of this file, using the same shape of other test methods (defind xml literal and som string litersl that represents the result.. Use some vb keywords as values of attrs in xml literals. This is all what I did but I can't tell what exactly triggered this action. If I know it wouldn't b

[2019-04-20 21:25] CyrusNajmabadi commented on #35028
I can't repro this.

[2019-04-20 21:26] CyrusNajmabadi commented on #35028
Roslyn has no options to disable language features from scanning/parsing.  Even if you set the language version to a point prior to when these were supported, the scanner/parser will stil understand them, you will just get an error that the feature isn't allowed.

[2019-04-20 21:27] CyrusNajmabadi commented on #35028
Roslyn hasn't experienced this issue ourselves.  And i don't believe we've heard this from other devs working in parsing projects.  Perhaps it's something about your particular setup. However, without a repro, there is no way to tell.

[2019-04-20 21:29] CyrusNajmabadi commented on #35028
Maybe i'm misunderstanding, but that seems much worse.  It's much clearer to have:

[code]

instead of

[code]

That's why VB added multi-line strings in the first place.

[2019-04-20 21:38] maca88 opened #35167 "SymbolFinder.FindReferencesAsync returns incorrect result in certain scenarios"
By having the following projects:
- `NHibernate.Caches.Common`
	PackageReferences: `NHibernate`
- `NHibernate.Caches.StackExchangeRedis`
	PackageReferences: `StackExchange.Redis`, `NHibernate`
	ProjectReferences: `NHibernate.Caches.Common`

`SymbolFinder.FindReferencesAsync` will return partial results for types that are defined in `NHibernate` package and also for their derived types located in `

[2019-04-20 21:40] VBAndCs commented on #35028
Maybe there are only few folks who are writing such a parser in VB.net code!
I write code in this app daily, and I ran into the issue twice in a few days. I can't ask you to do so, but you should try to imagine what can cause this in worst case scenarios.

A worst appearance is better that wasting time in fixing these random changes once and twice and maybe more. I am searching for a remedy here n

[2019-04-20 21:41] paul1956 commented on #35028
Maybe a simple refactoring to convert multiline literals to some other format (single line, XML) and back is the solution. I would find that useful I have run into different people using different methods and having 1 method in a project would be clean.

[2019-04-20 21:44] CyrusNajmabadi commented on #35028
I've certainly written lots of code like that. I haven't run into what you're running into.  Can you provide *repro steps* to show where the problem is?

1. It would take just a few minutes to write a tool to do this using roslyn.
2. i have no idea why this wouldn't work for testing purposes.

[2019-04-20 21:45] CyrusNajmabadi commented on #35028
@paul1956 Sure.  If you or @VBAndCs want to provide such a refactoring, that might be nice to have.  I'm happy to review it if you do this.

[2019-04-20 21:49] VBAndCs commented on #35028
In testing I want to be able to see the text in place, and quickly change it as the code changes. Maybe after I finish developing the project, I an move all literals away.

[2019-04-20 22:04] CyrusNajmabadi commented on #35028
You can easily do that in a resource file.  They're just xml.  So have the file open, and edit in place.  I do this all the time with resources in the roslyn codebase.

[2019-04-20 22:06] CyrusNajmabadi commented on #35028
At this point, without a repro, i'm not sure what can be done with this issue.  @VBAndCs can you close it out?  If you want to contribute any features here i'm happy to take a look.  However, i haven't been able to see any problems in the editor in this space, and you haven't been able to show how you ran into it.  Given that you can't even force hte issue to happen to you, it doesn't sound like s

[2019-04-20 22:13] VBAndCs commented on #35028
@paul1956
Changing string format will not solve the problem as long as the editor is looking for the matching qoute across all the file, so that writing any starting quote in any part of the file can mess up all next code lines, regardless of how string literals are formated.

[2019-04-20 22:20] VBAndCs commented on #35028
@CyrusNajmabadi
This issue is about a repeatedly `random error`, so, I can't tell you how to reproduce it. You have the code that have the issue, and you know how the editor works, so you can try to figure out how this issue happens. I don't think it is a good thing to close this issue. I expect I will see more of this soon, and I may notice the trigger. Also, other can have this issue, while movi

[2019-04-20 22:30] CyrusNajmabadi commented on #35028
@VBAndCs I cannot repro this.  what is your repro that shows that you can "mess up all next lines" by doing this?  For all i know, this is due to some plugin or something else you're doing.

[2019-04-20 22:34] CyrusNajmabadi commented on #35028
So, how do you know it's roslyn that's doing this?

I have tried.  I can't figure anything out that would cause this.  Everything i try locally (including deleting random quotes, or adding random quotes, or change code and editing around things), doens't repro any problems.

Nothing changed here.  VB added this back in VS2015.

1. you haven't identified that roslyn is actually the problem here.
2.

[2019-04-21 00:44] VBAndCs commented on #35028
@CyrusNajmabadi
The last issue is not about quotes only, as there is an additional literal: the xml literal. Adding or removing spaces around `<' and '\>` in string literals indicates the editor tries to format it as xml literals! My code has two kinds of literals, and each of them can be embedded in the other for the sake of parsing, code generation, and testing! Add to this they both can contain

[2019-04-21 01:08] CyrusNajmabadi commented on #35028
I have tried this.  I cannot repro what you are saying.

I have tried this.  I cannot repro what you are seeing.

It definitely was.  We've written tons of tests for both C# and VB *using* the VB editor.  This includes lots of combnations of strings/xml-literals/etc. *inside* pieces of VB code.  Many many thousands of tests have been written this way.

[2019-04-21 01:20] VBAndCs commented on #35028
I caught one:
1. Paste this sub:
[code]

2. change `</zml>' to `<p></p>` Note that the editor with show an eeror in the string literal under `< 30`.

3. Now, any action will reformat the string literal. Put the caret between the <p></p> and press enter. This will reformat the string literals not only in the current sub, but until the end of the file!

[2019-04-21 03:56] CyrusNajmabadi commented on #35028
This is not true.  I was able to replace `</zml> with `<p></p>` and then complete the `</zml>` thus ending the xml snippet.

If you don't actually end the snippet then of course VB will think the remainder is part of the XML.  That's how xml works after all :)

I would recommend finishing your incomplete constructs.

Note: if you don't want automatic pretty-listing of code, i already showed how yo

[2019-04-21 09:08] VBAndCs commented on #35028
This is a bad design for xml literals. This issue can aways happen when editing an xml literal suxh as pasting a part of a kiteral then starting to complete it, or mistakenly selecting the end tag with a previous part and deleting... etc.
Disabling the editor formating is not a solution or you can say it is a zero slution for equations as in mathematics.
As I discussed above about the innocent str

[2019-04-21 16:38] CyrusNajmabadi commented on #35028
Why is it not a solution?

You can def contribute a fix here if you want :-)

[2019-04-21 16:40] CyrusNajmabadi commented on #35028
I think that's what it does. The problem is that you have contents in your xml that actually look like code.

[2019-04-21 16:43] jaredpar commented on #35113
No idea what scenario you're referring to here.

I agree we probably shouldn't emit this unless you're on C# 8.0 though. Well at least 7.2. There is nothing wrong with us emitting new attributes to existing code patterns as long as it doesn't affect the success of compilations.

The problem I'm actually worried about is PEVerify. The compiler will emit PEVerify compatible code, to the best of its

[2019-04-21 16:48] tannergooding commented on #35113
Scenarios like GenAPI which generate code files based on existing IL assemblies and then recompile those files.

This "bug" was found in ASP.NET since they compile their implementations targeting C# 7 something and then run GenAPI to build their reference sources for compiling the reference assemblies.

I dont think this is a scenario the compiler generally cares about though.

[2019-04-21 16:50] jaredpar commented on #35113
Correct 😄

[2019-04-21 18:57] joshlang opened #35168 "Nullable reference types + Anonymous objects ... a couple rough edges"
Check this out:

    string x = "";

    // This creates no warnings, but intellisense shows "a" as type "string?"
    x = new { a = "x" }.a;

    // This creates a warning
    x = new[] { new { a = "x" } }[0].a;

    // This creates a warning (the cast doesn't work)
    x = new[] { new { a = (string)"x" } }[0].a;

There's a few similar open issues, but I'm not expert enough to know if there's a c

[2019-04-21 22:09] KathleenDollard commented on #26053
If we look at this too generally, there may be issues. If we look at the single question of attributes in #If, there might not be breaking changes. For example, I don't think we want to allow the #If anywhere in the declaration after the attribute.

[2019-04-22 01:59] paul1956 commented on #26053
Completely agree, I want to allow just what is below and not even for every case I have seen some multi-part attributes used in tests that I don't understand well enough yet. I think they are attributes that have attributes as parameters and I don't want to split them (yet or ever).
[code]

[2019-04-22 09:40] Dreamescaper opened #35172 "Committing import completions corrupts Razor cshtml files"
**Version Used**:
dev16.1-preview2 (after PR for import completions by @genlu )

**Steps to Reproduce**:

1. Open cshtml file
2. Type @, invoke intellisense
3. Select and commit any import completion item

**Expected Behavior**:
a) Razor import directive added to current document
or
b) Import completions are disabled for cshtml files

**Actual Behavior**:
Text is removed at random position. Docume

[2019-04-22 13:58] savpek opened #35173 "Allow setting/updating DefaultNamespace for project at workspace"
I tried to make omnisharp-roslyn to support new SyncNamespace refactoring (https://github.com/dotnet/roslyn/pull/30920). However method https://github.com/dotnet/roslyn/blob/c421f1249d1c2ba94e7703037ec49b4341f3b9f4/src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs#L315 is internal. Is there other means to set default namespace for project at workspace?

Omnisharp-roslyn issue https://git

[2019-04-22 15:18] KathleenDollard commented on #26053
I'm also wondering about weird attribute combinations. I don't know whether we could restrict it to all attributes or none, both technically and in providing the right functionality. What I mean is allowing

[code]

but not

[code]

[2019-04-22 15:45] jasonmalinowski commented on #28524
Removing form IDE design review because this has already been designed.

[2019-04-22 16:04] jasonmalinowski commented on #33164
@mavasani @sharwell This is marked as "needs design review", but it's unclear to me what the questions are.

[2019-04-22 16:24] mavasani commented on #33164
I think we already discussed this at the design meeting, and given we have an implementation already in the analyzers repo (part of FxCop analyzers package), we had decided to resolve this one as external.

[2019-04-22 16:26] jasonmalinowski commented on #33164
@mavasani So you think this work item just wasn't updated?

[2019-04-22 16:27] mavasani commented on #33164
Yes, I believe so. I am not sure if Sam had anything else to add from his notes.

[2019-04-22 16:34] mavasani commented on #34636
Note that we have had pretty similar requests in the past. For example, see https://github.com/dotnet/roslyn/issues/11097#issuecomment-217972294. The first requested item in that comment is a more generic request of passing in all non-source files in the project as additional files, so scenarios such as analysis of xaml files, resx files, web.config files, etc. work by default for corresponding an

[2019-04-22 16:39] mavasani commented on #34636
Note that we have also had requests to expose the MSBuild properties for the project so analysis can be configured based on the runtime values of these properties. Basically, this current issue only seems to be requesting project files as additional files from the perspective of _code fixes_, but we have had numerous requests for the same functionality in the past from the perspective of _analyzer

[2019-04-22 16:42] VaporiZed commented on #25977
In VS2019(Pre) the problem can be solved by using (white)spaces between the left and the right part.
So instead of importing "sc=System.ComponentModel" write "sc = System.ComponentModel". That worked for me. In our community we also saw, that "sc=System.ComponentModel" makes sc irrelevant at all. It's like importing "System.ComponentModel" without the "sc"-alias.

[2019-04-22 16:42] #29972 closed

[2019-04-22 16:42] #34667 closed

[2019-04-22 17:21] genlu commented on #35172
@heejaechang We probably need to disable this in Razor doc.

[2019-04-22 17:41] bcronce commented on #33411
I was doing some prototyping on a system where I needed a uniqueness guarantee, but didn't really care about crypto. I found a pure native implementation of Blake2 from their official site that out performed the .Net SHA1 for me.

Blake2 was a SHA3 finalist and only lost because it's more difficult to make in hardware, but it's really fast in software. It was made by the best cryptographers in the

[2019-04-22 18:02] amcasey opened #35174 "Suggestion: Suppress AsyncStateMachineAttribute in metadata-as-source"
Repros in 15.6, so not a regression.

[code]

It is not very helpful to see `AsyncStateMachineAttribute` in the metadata-as-source view since it's an implementation detail and exposes mangled names that should not be depended upon.

[2019-04-22 18:55] cston commented on #35131
cc @chsienki

[2019-04-22 19:04] jcouv commented on #35166
Decision in LDM (4/22/2019) is to warn on parameter with type `CancellationToken` if no parameter has the `[EnumeratorCancellation]`.
So `async IAsyncEnumerable<int> M([EnumeratorCancellation] CancellationToken token1, CancellationToken token2)` produces no warning on `token2.

[2019-04-22 19:05] jcouv commented on #35165
Decision in LDM (4/22/2019) is is to produce a warning if the `[EnumeratorCancellation]` token is specified where it has no effect, such as in an abstract method declaration.

[2019-04-22 19:05] jcouv commented on #35159
Decision in LDM (4/22/2019) is is to not produce a diagnostic in such scenario. We do not need to introduce an arbitrary restriction.

[2019-04-22 19:16] cartermp opened #35178 "IntelliSense suggests GetType on a span, but it won't compile"
**Version Used**:

* VS 2019 16.0.1
* C# Tools   3.0.0-beta4-19170-01+1deafee3682da88bf07d1c18521a99f47446cee8

**Steps to Reproduce**:

[code]

**Expected Behavior**:

**Actual Behavior**:

Suggests `GetType()`

![image](https://user-images.githubusercontent.com/6309070/56519667-7e4a2980-64f7-11e9-8e04-e490d313c5c1.png)

And this results in a compile error:

![image](https://user-images.githubuse

[2019-04-22 19:24] gafter opened #35179 "Implied type parameter constraint of a partial method vs nullable context"
This issue relates to the implementation of the LDM resolution for https://github.com/dotnet/csharplang/issues/2450 as discussed in the 2019-04-22 LDM and documented at https://github.com/dotnet/csharplang/blob/master/meetings/2019/LDM-2019-04-22.md#implied-constraint-for-a-type-parameter-of-a-partial

For a partial type, the constraints (implied or explicit) for the various parts of a partial mus

[2019-04-22 19:28] kendrahavens opened #35180 "Offer codefixes on selections"
## Scenario
Codefixes often don't show if code is selected as opposed to only having your cursor placed within a word.
*  **5 out of the 11 users struggled with this in user studies.**
* One user **only** ever double-clicked when clicking around the editor. This means he saw fewer codefixes since double clicking always selects the word and we don't show available codefixes in the context. Some use

[2019-04-22 20:13] RikkiGibson commented on #35146
When I first heard this I thought it was related to https://github.com/dotnet/roslyn/issues/34487 but it looks like spilling is not involved. So the fix shouldn't be too complicated.

[2019-04-22 20:23] agocke commented on #35011
This has been fixed and should appear in VS updates as they come out.

[2019-04-22 20:36] jcouv commented on #34412
FYI @AlekseyTs

[2019-04-22 20:41] mavasani commented on #32705
Tagging @heejaechang

I believe [this type](http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/CodeFixes/CodeFixService.ProjectCodeFixProvider.cs,17) needs to be extended to extend to work for CodeRefactorings, currently it only detects CodeFixes. Additionally, the CodeRefactoringService needs to be extended to compute per-project refactorings, just like the CodeFixServi

[2019-04-22 21:11] jcouv commented on #35073
An alternative approach that we're converging on (in email thread) is to use an invocation to some well-known or well-recognizable empty method as a marker. This is effectively a no-op for the runtime, and would allow the debugger to reliably detect the `catch` handler  for an `async Task` method.

[2019-04-22 21:18] jcouv commented on #35174
We should probably do the same for [`AsyncIteratorStateMachineAttribute`](https://github.com/dotnet/roslyn/commit/d3d10fba7f860dd7951566ea1b5122f4a003e080) and `IteratorStateMachineAttribute` as well.

[2019-04-22 21:39] vsfeedback opened #35187 "IntelliSense does not insert parentheses at the end of suggested method."
VSF_TYPE_MARKDOWNFor example I have some variable &quot;list&quot; of IList&lt;T&gt; type.
When I type &quot;list.&quot; IntelliSense suggest a &quot;Find&quot; method, then I press Enter key and then I get only &quot;list.Find&quot;, but not expected &quot;list.Find();&quot; . So then I have to add parentheses by myself. How can I fix this behaviour?

I am currently using VS 2019 Community with n

[2019-04-22 21:40] vsfeedback opened #35188 "InteliSence character c# not match japanese"
<p>VSF_TYPE_MARKDOWNWhen Japanese is used for C # variable names and method names, Intellisense only responds with a forward match.</p><p>In Visual studio 2013, it worked correctly.
This phenomenon occurs in Visual studio 2015 and later, including Visual studio 2019.</p><p>```
            //It works normally.
            int EnglishVariable = 0;
            //Typing &quot;vari&quot; causes Intelli

[2019-04-22 21:43] wanton7 opened #35190 "nullable reference non-nullability ignored on interface method call"
**Version Used**:
.NET Core 3.0 preview 4

**Steps to Reproduce**:
Using Microsoft Orleans 2.3
[code]

**Expected Behavior**:
Calling SayHello method would produce some sort of nullability warning because HelloRequest.Value is nullable reference type and SayHello parameter is non-nullable.

**Actual Behavior**:
No warning and it seems that even just calling `var value = await _grainFactory.GetGrai

[2019-04-22 21:50] kendrahavens commented on #34877
I've opened the issue on [developer community here](https://developercommunity.visualstudio.com/idea/542570/go-to-member-see-all-members-even-if-you-type-noth.html).

[2019-04-22 22:07] paul1956 commented on #26053
The _ would be required after each attribuate (missing _ currently is the error you get when you try doing it), that said I have not seen real cases for the second example where <something> is part of a multipart attribute connected to  <WebMethod(CacheDuration:=86400)>. I am not sure if C# even supports, but right now I can't remember where I had seen that pattern except that it was part of a tes

[2019-04-22 22:12] chuckries commented on #35108
@CreateAndInject thanks for reporting this. Are you sure this wasn't an issue in VS 2015? I tried the project that you sent and the debugger failed to stop at the opening brace of Main in 2015 as well.

[2019-04-22 22:57] davidwrighton commented on #25182
Yes, this is fixed.

[2019-04-22 22:57] #25182 closed

[2019-04-22 23:00] jcouv commented on #35190
@wanton7 Could you refine your code sample to make it standalone (ie. not depend on external types)?

I suspect what you are encountering is that the type returned from `_grainFactory.GetGrain<IHello>(0)` has "oblivious/unknown" nullability because it comes from an unannotated library.
As a side note, we're working on IDE support for nullability, which should make it easier to understand and troub

[2019-04-22 23:02] jcouv commented on #35187
Note: there are some scenarios where the parens probably should not be inserted. For instance when typing `Action a = list.Find;`.

[2019-04-22 23:03] jaredpar commented on #34872
Note: this is not a regression in C# 8.0, it's actually been around since at least 7.3

https://sharplab.io/#v2:D4AQDABCCMDcCwAoEBmKAmCBhCBvJEhUaIALBALIAUAlHgUQL5LOJIiZYA8AKgHxJ8iIsSjQAbBACWAWwAOAGykBjKQBcIAezkBTAE4BDNZr3ZefKjwhq6AXj4QAdjoDuZ/rQTCiDQnL1SAG5GOmKSZJTQtHgQrCL+QSFhZpoARgBWOspqDhTotL703oQAkCAA7JGehayMQA

[2019-04-22 23:55] amirhosseinbk opened #35192 "Source decomipler shows the signature only"
**Version Used**:
2017
**Steps to Reproduce**:

Enable Navigation to decompiled sources in Visual studio for C# and then try to navigate to the source code of CloudQueue.AddMessageAsync this would only show the signature of the method rather than its implementation details

**Expected Behavior**:
Resharper would navigate to a decompiled version of DLL and show the details of the function and it is

[2019-04-23 00:58] genlu commented on #35172
@rynowak I'm not familiar with Razor pages. Does it make sense in this scenario to complete with fully qualified type name instead of disable this feature?

[2019-04-23 01:07] rynowak commented on #35172
I think that would be better than the feature not working. I'd like to find a path to support features like this.

[2019-04-23 01:12] genlu commented on #35172
@rynowak OK, thanks for confirming.

@heejaechang Is there's anyway to tell if we are in a razor page at Feature layer? `ITextBufferSupportsFeatureService` is only available in EditorFeature.

[2019-04-23 01:49] kendrahavens commented on #24963
+1 Internal feedback

[2019-04-23 02:07] kendrahavens commented on #33532
Another internal note: go to implementation should also offer opening a separate window if there are multiple options to navigate to.

[2019-04-23 02:14] kzu commented on #34636
This issue is not about automatically passing in anything, just the ability of a nuget-provided anayzer to also provide its own targets that can (optionally, fully opt-in) pass themselves whichever project files it needs and have the infrastructure support editing and saving them, since even the code action preview window is already working just fine. A "tiny" enabler, if you will, that does not r

[2019-04-23 02:34] amat27 opened #35195 "Make call hierarchy more compact"
**Version Used**:
VS 2019 16.0.1
**Steps to Reproduce**:
Use "Call Hierarchy" function on a method

**Expected Behavior**:
Get a compact view of all possible callers. Below is what ReSharper provides:
![rsch](https://user-images.githubusercontent.com/5901497/56548646-3092f700-65b3-11e9-93cd-4fc66bd7a566.png)

**Actual Behavior**:
A more cumbersome call hierarchy view for the almost same content:
!

[2019-04-23 05:34] vinaychandra opened #35196 "Navigate to Decompiled Sources should also generate PDB if it doesn't exist"
The navigate to decompiled sources decompile most scenarios but are not much helpful while debugging. Enable autogeneration of PDB files (or provide an option similar to ReSharper) for decompiled source code so that breakpoints within decompiled sources work

[2019-04-23 06:39] onyxmaster commented on #24237
Could this be implemented and configured using an option in .editorconfig? Autogenerating code increases productivity (and I'm talking not only about this specific code fix, but also about auto-generated constructors), yet if one wants to enforce the `is null`/`is object` pattern for `null` checks in the codebase, it just won't work.
P.S. https://twitter.com/jaredpar/status/1115019017297596416 @ja

[2019-04-23 06:42] wanton7 commented on #35190
Tried to make a minimal sample but couldn't get problem to appear. Then tried to make minimal sample from my project. Couldn't get problem to appear but still my full project had this problem. Then deleted .vs,  bin and obj folders and rebuild project and problem disappeared. Closing this.

[2019-04-23 06:42] #35190 closed

[2019-04-23 07:19] canton7 commented on #35142
Related: #34209 and #34840, fixed by #33679?

[2019-04-23 07:43] CreateAndInject commented on #35108
@chuckries When I open this issue, I don't notice the framework version, my test in vs2015 is .net 4.x, so I say there's no issue in VS2015.

Then @tmat told me he can't reproduce this issue. so I test more, and found this issue can only occur in .net 2.0-3.5, but this time I just test it in VS2017/2019.

Just now, I tested it in VS2015, It still has this issue like 2017/2019.

[2019-04-23 08:08] wanton7 opened #35203 "IDE0059 false positive"
**Version Used**:
Visual Studio 2019 16.02 and .NET Core 3.0 preview4

**Steps to Reproduce**:

[code]
Will produce IDE0059 Value assigned to 'globalImage' is never used

**Expected Behavior**:
No IDE0059
**Actual Behavior**:
IDE0059

[2019-04-23 08:09] davkean opened #35204 "[Regression] Errors that reported during build become stale if reported before "IntelliSense" category"
I cannot repro this in 15.9, but cannot tell if that's because it doesn't repro or because its faster.

I'm running into this a lot in the large solution I'm working in.

**Version Used**:
Version 16.1.0 [28728.66.d16.1stg]
Version 16.1.0 Preview 2.0 [28817.7.d16.1]

**Steps to Reproduce**:

1. Extract attached solution ([ClassLibrary1.zip](https://github.com/dotnet/roslyn/files/3106503/ClassLibra

[2019-04-23 08:13] davkean commented on #35204
tag @heejaechang

[2019-04-23 08:17] davkean commented on #35204
This is what I'm experiencing in real solutions, everyone of these errors is "stale":

![image](https://user-images.githubusercontent.com/1103906/56565551-031a6d80-65f4-11e9-87e0-105ff222c993.png)

[2019-04-23 08:22] jinujoseph commented on #35111
closed via #35132

[2019-04-23 08:22] #35111 closed

[2019-04-23 08:26] #34983 closed

[2019-04-23 08:26] #35126 closed

[2019-04-23 08:28] #34734 closed

[2019-04-23 08:30] #33953 closed

[2019-04-23 11:50] YairHalberstadt commented on #33963
I'm happy to give this a go.

[2019-04-23 14:24] yyjdelete commented on #34980
See another case with a bit different code, but the same stacktrace.
https://developercommunity.visualstudio.com/content/problem/527046/crash-with-c-73-when-writing-switch-on-a-generic-v.html
[code]

[2019-04-23 15:47] gafter commented on #34980
/cc @agocke

[2019-04-23 16:43] jasonmalinowski commented on #34636
So the expectation is you just bundle a .target in the NuGet in the build/ folder like anything else, and use that to add yourself to the build. That's usable for you, correct?

[2019-04-23 17:00] vsfeedback opened #35208 "Generate Constructor"
<p>When I use Ctrl+dot, and use the Generate Constructor option, it always creates a <strong>public</strong> constructor. I think this should create a <strong>protected</strong> constructor when the class is abstract.</p><p>public abstract class Example</p><p>{</p><p>     // Ctrl + dot here and select Generate constructor</p><p>}</p>

_This issue has been moved from https://developercommunity.visu

[2019-04-23 17:03] CyrusNajmabadi commented on #35208
This was fixed here: https://github.com/dotnet/roslyn/pull/25866

[2019-04-23 17:17] jasonmalinowski commented on #34837
@dibarbet Did you discover this as a root problem of some other issue?

[2019-04-23 17:24] #30081 closed

[2019-04-23 17:26] dibarbet commented on #34837
@jasonmalinowski I discovered this while trying to write some unit tests:
For some LSP work, I needed to change the file path of a document in a test to be a valid URI path.  I attempted to use ```.WithDocumentFilePath``` to do this.  The code I was trying to test calls ```GetDocumentIdsWithFilePath``` which did not return anything when called with the file path passed to ```WithDocumentFilePath``

[2019-04-23 17:28] AlekseyTs commented on #34412
I do not think this matters for value types because annotations for them are meaningless.

[2019-04-23 17:30] jcouv commented on #34759
Please let us know when the decision is firm and we'll start executing on it (probably for 16.2). I'm not sure who all needs to be involved (probably a thread including LDM would be good).

[2019-04-23 17:30] jasonmalinowski commented on #34837
@dibarbet: OK, I didn't want to move it out of 16.1 for triage purposes until I had a reason. Thanks!

[2019-04-23 17:34] AlekseyTs commented on #34412
Note that we can add a compensating code to public API implementation to always return ```Oblivious``` for non-nullable value types even from source. We don't want to do that for internal implementation in order to avoid checking for value types too early.

[2019-04-23 17:53] genlu commented on #7053
Since the change for type only import completion was merged, I'm closing this long running issue. #35059 and #35060 are used to track the remaining feature work. Feel free to comment on this issue or open new issues if you have any feedback for this feature. Thanks!

[2019-04-23 17:53] #7053 closed

[2019-04-23 18:02] onovotny commented on #35059
What is the priority on this, from a R# compete perspective, I can't fully move away from it without this.

[2019-04-23 18:12] genlu commented on #35059
I will start working on this very soon, once the existing usability issues for type import completion are fixed.

[2019-04-23 18:20] genlu commented on #35172
@rynowak Also, is it possible to add usings to a Razor document?

[2019-04-23 18:31] kzu commented on #34636
Yes, absolutely!

[2019-04-23 18:32] kzu commented on #34636
Not saying the experience can be made easier/more intuitive down the road, just saying I'd rather have something that works sooner, even if it requires a bit of work on my part, than waiting longer for something that will at most save me from a .targets (which I already have in most cases anyway).

[2019-04-23 18:39] jasonmalinowski commented on #34636
@kzu: so you can already do that today: in your NuGet package you can add a .targets or .props inside a build/ folder, and that can add things to AdditionalFiles and NuGet will include that in the build. You don't need anything from us. The only thing you don't already have here is us not crashing once you do it.

[2019-04-23 18:41] jasonmalinowski commented on #35164
@JamesNK @mavasani with both of your repos, what types of C# projects were you using? Were you using .csproj projects that list the individual files (i.e. "old style") or the newer kind i.e. "SDK style"? It looks like this will work fine in old style projects but it seems our handling of the newer style is missing some logic around rulesets.

[2019-04-23 18:43] JamesNK commented on #35164
SDK style

[2019-04-23 18:43] mavasani commented on #35164
Me too...

[2019-04-23 19:01] stephentoub commented on #23268
@jcouv, I assume this will also include interfaces? e.g. today this currently warns:
[code]
but we should remove that warning.

[2019-04-23 19:02] CyrusNajmabadi commented on #33963
Sorry @YairHalberstadt .  I didn't see your comment.  I've opened up a fix for this myself.

[2019-04-23 19:04] YairHalberstadt commented on #33963
@cyrusNajmabadi
No problem. I haven't even started yet.

[2019-04-23 19:43] jcouv commented on #23268
@stephentoub Yes, that scenario should also work. It should be covered by @agocke's PR. We'll make sure that it's validated.

[2019-04-23 19:45] stephentoub commented on #23268
Terrific. Thanks.

[2019-04-23 19:48] heejaechang opened #35216 "preprocessor colorization is off"
repro.

open ContainedDocument.cs

![image](https://user-images.githubusercontent.com/1333179/56611162-00a11f00-65c6-11e9-814c-fc5a73ad03ea.png)

looks like preprocessor is not colorized correctly.

[2019-04-23 19:51] YairHalberstadt commented on #33284
This should be legal once https://github.com/dotnet/csharplang/issues/2460 is implemented, so it may not be worth doing the fix.

[2019-04-23 20:01] 333fred commented on #34412
I don't think that's the correct solution. If we want to compensate I'd rather always return `NotNull`.

[2019-04-23 20:03] #35034 closed

[2019-04-23 20:22] dibarbet commented on #33298
Resolved in https://github.com/dotnet/roslyn/pull/34066

[2019-04-23 20:22] #33298 closed

[2019-04-23 20:23] jasonmalinowski commented on #35164
Alright, thanks @JamesNK and @mavasani for the clean repros, got a fix out now for it.

[2019-04-23 20:27] 333fred commented on #35037
@heejaechang or @mavasani, ping for comments?

[2019-04-23 20:41] mavasani commented on #35037
AFAIK our IDE usages of speculative models don't try to identify diagnostics in speculated code, just the semantics of nodes being speculated. Given that speculative semantic model essentially just inserts a new binder in the binder chain at the point of speculation, I am presuming those will continue working fine in code with nullable types.

By the way, I think that all the speculative semantic

[2019-04-23 20:42] #30003 closed

[2019-04-23 20:45] ryzngard commented on #34723
Looks related to #35031

[2019-04-23 20:46] YairHalberstadt commented on #33250
Fix in https://github.com/dotnet/roslyn/pull/35220

[2019-04-23 21:02] gafter commented on #34018
LDM has approved not having nullable inferences flow from inside a finally block to the code following the finally block.

[2019-04-23 21:09] rynowak commented on #35172
Not using the C# using syntax, it's `@using BlahBlah` in Razor. We don't currently have any API contract with Roslyn that allows this to work.

[2019-04-23 21:13] tmat opened #35221 "Semicolon terminating a field declaration misplaced when typed"
**Version Used**:
![image](https://user-images.githubusercontent.com/41759/56616102-824a7a00-65d1-11e9-8958-5b124f763a06.png)

**Steps to Reproduce**:

Place caret in the below code as indicated by `|` and type `;`.

[code]

**Expected Behavior**:

[code]

**Actual Behavior**:

The semicolon is written to the buffer after the `[Obsolete]` attribute.

[code]

[2019-04-23 21:25] CyrusNajmabadi commented on #35221
Looks like dupe of https://github.com/dotnet/roslyn/issues/34983

[2019-04-23 21:27] 333fred opened #35222 "Completion is incorrect for lambda parameters"
[code]

Invoking completion here brings up the members of `Action<Program>`, not the members of `Program`, rendering completion completely useless. cc @ivanbasov.

[2019-04-23 21:37] 333fred commented on #35222
Likely a dup of https://github.com/dotnet/roslyn/issues/35027

[2019-04-23 21:37] ivanbasov commented on #35222
Should be fixed with https://github.com/dotnet/roslyn/pull/35067 but I will double check.

[2019-04-23 21:42] ivanbasov commented on #35222
Verified. Fixed with #35067
![image](https://user-images.githubusercontent.com/5455484/56617953-0f8fcd80-65d6-11e9-9afe-93c3d38b1492.png)

[2019-04-23 21:42] #35222 closed

[2019-04-23 21:46] #24237 closed

[2019-04-23 21:46] #33963 closed

[2019-04-23 21:51] JoeRobich commented on #27179
Implemented in https://github.com/dotnet/roslyn/pull/35009

[2019-04-23 21:51] #27179 closed

[2019-04-23 21:52] sharwell commented on #35221
Duplicate of #34983

[2019-04-23 21:52] #35221 closed

[2019-04-23 22:04] shubham26S opened #35223 "Analyzer 'Microsoft.NetCore.Analyzers.Runtime.DisposableFieldsShouldBeDisposed' threw an exception of type 'System.NullReferenceException'"
**Version Used**:
2.9.2
**Steps to Reproduce**:

0. Use .Net standard 2.0
1. Inherit IDisposable interface
2. Implement Dispose() and Dispose(Boolean) methods

**Expected Behavior**:
No error
**Actual Behavior**:
Error	AD0001	Analyzer 'Microsoft.NetCore.Analyzers.Runtime.DisposableFieldsShouldBeDisposed' threw an exception of type 'System.NullReferenceException' with message 'Object reference not

[2019-04-23 22:17] genlu opened #35224 "Code Cleanup having trouble with switch expression"
See the screenshot from Roslyn source below. The switch expression is flagged for IDE0055, but click "Run code clean up" in VS doesn't do anything.

[code]

![image](https://user-images.githubusercontent.com/788783/56619457-6b5c5580-65da-11e9-9f40-526553c5863d.png)
http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/MoveToNamespace/AbstractMoveToNamespaceCodeAction.cs,49

[2019-04-23 22:43] heejaechang opened #35226 "null exception on Microsoft.CodeAnalysis.CSharp.Symbols.MemberSignatureComparer.HaveSameReturnTypes(Symbol member1, TypeMap typeMap1, Symbol member2, TypeMap typeMap2, TypeCompareKind typeComparison)"
sorry, I dont have anything more than the callstack.

...

04/23/2019 15:29:26 : Error : Microsoft.CodeAnalysis.Remote.CodeAnalysisService (8091) : Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.CodeAnalysis.CSharp.Symbols.MemberSignatureComparer.HaveSameReturnTypes(Symbol member1, TypeMap typeMap1, Symbol member2, TypeMap typeMap2,

[2019-04-23 22:51] jasonmalinowski commented on #34943
We discussed this in the IDE design meeting and came to the conclusion that we'll treat this the same way (more or less) like we do lambdas. There, we enter a soft-select when you're potentially passing a lambda to a method. We'll also enter a soft-select if:

1. You're at a location where you might be writing a range, i.e. you're at a parameter that takes a range. (This is the same style of check

[2019-04-23 22:52] jasonmalinowski commented on #34877
The design review generally agreed we should do this, but since we'd have to ask the editor team for additional work we should wait for additional votes before scheduling the work.

[2019-04-23 22:53] jasonmalinowski commented on #34636
This was also looked at during design review: I had some questions about whether or not we needed to do this specific value centrally, but since you can add this in a NuGet package today there's no problems there. At this point this is just a bug we need to fix so it doesn't get all crashy.

[2019-04-23 22:54] jasonmalinowski commented on #32705
Removing Design Review tag because the belief was this wasn't really a design problem and more just a code problem that needs to be fixed.

[2019-04-23 22:59] jasonmalinowski commented on #34127
@333fred: so the thing with "wrap expression" was it'll wrap on the operator your caret was on. Was that something you were aware of? (We're asking because it wasn't obvious to many of us either.)

@CyrusNajmabadi: should we just remove the == from wrapping in this case? It was unclear to us whether this is by design or just a bug.

[2019-04-23 23:01] CyrusNajmabadi commented on #34127
I'd be ok with that.  Tough to imagine it's what people want.  Maybe a design review to go through all the ops to see which make sense and which don't.

[2019-04-23 23:04] jasonmalinowski commented on #34127
We did chat through it, and there were some cases like if you are trying to write `if (foo2.Bar.Baz.Qux.Quux == foo2.Bar.Baz.Qux.Quux)` and want them to align. We just mostly realized we weren't entirely sure what design already existed here to be confident enough we can change it.

[2019-04-23 23:25] CyrusNajmabadi commented on #34127
Well, the current design is primarily: wrap around the operator the user picked, allowing wrapping as long as you're still hitting operators of the same type (i.e. precedence). That seemed like a reasonable heuristic.  However, i can tehre being desire to take a different approach here.  i.e. it seems like it woud be fine to keep walking up binary expressoins (remember about patterns too!) and the

[2019-04-23 23:39] agocke opened #35227 "Support nullable variance in interface implementation"
Essentially, the work from  #23268 and #30958, but for interface implementation.

[2019-04-23 23:47] heejaechang commented on #35204
is it only happen right after solution opened? my guess is build error came in even before we have assigned document id to the file path. so roslyn think the error doesn't belong to current solution and that's probably why it didn't de-dup it with live error.

but, I need to take a look to be sure.

[2019-04-23 23:48] davkean commented on #35204
No I can repro if the solution is open for a long time.

[2019-04-23 23:49] genlu commented on #33560
Closed sicne we are unable to repro this issue. Please reopen and provide us more information on how to repro if you are still seeing it.

[2019-04-23 23:51] heejaechang commented on #35204
alright, let me take a look.

[2019-04-24 00:06] ryzngard commented on #21662
@AlekseyTs  can you take a look at this? It looks like the `[DateTime]` escaped named parameter for the tuple is being treated as a namedtype by the semantic model.

[This commit](https://github.com/ryzngard/roslyn/commit/caada1eb044032e470ba3b236cefc4e6303d36b6#diff-f1a332a11236a139580d8ec1757215bcR1301) has a test I concocted that shows the symbol information being the namedtype `System.DateTime

[2019-04-24 00:12] AlekseyTs commented on #21662
CC @jcouv

[2019-04-24 00:31] jcouv commented on #21662
I didn't quite follow. The test has: `Assert.Null(dateTimeNameInfo.Symbol)`. Does the test in this commit fail? If yes, then let's move to the compiler area.

[2019-04-24 00:36] ryzngard commented on #21662
Yes, the test fails

[code]

[2019-04-24 02:38] walterlv opened #35232 "Method which returns nested Awaitable do not warn developers to write multiple awaits."
**Version Used**:
Visual Studio 2019

**Steps to Reproduce**:

Assume that we have a method that returns nested awaitables:

[code]

If developers forget to await it, C# language will warn the developers to add an `await` keyboard:

[code]

But if we add one `await`, the C# language will not warn the developers to add another required `await` keyword:

[code]

The correct usage is:

[code]

I thin

[2019-04-24 02:39] walterlv commented on #35232
This issue is moved from https://github.com/dotnet/csharplang/issues/2464 to here.

[2019-04-24 05:15] kameko opened #35233 "Implicit class-local object field for lock statement"
**Version Used**: C# 7

I use the `lock` statement a fair bit, and I find it very redundant that for every single time I have used it, across the span of years, I have, in all cases, had to write exactly one read-only object field in every class I use it with, and then reference that object as the object to lock on, only inside the class it was defined. I've never needed more than one object, I've

[2019-04-24 05:16] Nytrodyne commented on #35208
I don't believe that #25866 addresses the same issue, because it will declare a public constructor if the abstract class is public. In my opinion, all constructors in an abstract class should be protected by default, making the contract clearer to type designers.

[2019-04-24 05:42] benaadams commented on #35233
Can add `[MethodImpl(MethodImplOptions.Synchronized)]` to the methods instead?

[2019-04-24 05:47] kameko commented on #35233
That doesn't work the same way (synchronizes the entire method instead of only lock-critical parts which is almost always awful for performance), I also recall someone official (I think a blog post from a microsoft employee) that it's a bad idea and might even be deprecated. Although the latter isn't even an issue really, the former issue of not being able to choose where your locking code is and

[2019-04-24 07:22] YairHalberstadt commented on #34774
Fix at https://github.com/dotnet/roslyn/pull/35234

[2019-04-24 08:48] sonnemaf commented on #23792
@RikkiGibson

I have just installed VS2019 Preview 2 and update the NuGet packages to the latest (preview) versions. I can still not find the IsReadOnly property on ITypeSymbol. Can you tell me what I'm doing wrong?

![image](https://user-images.githubusercontent.com/9335559/56645420-ee82b780-667d-11e9-9869-bc83821d236d.png)

I have the following NuGet packages in my Analyzer project.

[code]

Tha

[2019-04-24 12:03] HaloFour commented on #35232
I'd hope that this isn't a terribly common situation, but it seems reasonable to want a warning on an expression that would result in an awaitable, even if that expression is already `await`ing.  Although, given anything could be awaitable this seems like it could result in some spurious warnings.  For example, let's say you make `DateTime` awaitable (not suggesting you do this, but it's possible)

[2019-04-24 12:06] walterlv commented on #35232
@HaloFour I posted some code that nested awaitable commonly be created by different types of awaitables, such as WPF GUI application.

[code]

[2019-04-24 12:21] HaloFour commented on #35232
I see, so your use case isn't even the `Task<Task<T>>` situation, it's `DispatcherOperation<Task<T>>`.  It does seem a little weird that WPF doesn't supply an overload that would work better for this case, although honestly I don't see why you need `Dispatcher.InvokeAsync` at all to invoke an async method.  Why not just invoke the async method directly?

[2019-04-24 12:48] LeroyK commented on #31957
I am running into this issue as well. This expression compiles in VS2017 15.9.11, but fails to compile in VS 2019 16.1 Preview 2:
[code]

[2019-04-24 12:57] walterlv commented on #35232
@HaloFour `async` methods do not mean that all code is asynchronous. In fact, the code before the first await is run synchronously. We use `Dispatcher.InvokeAsync` to dispatch it to other timings of the UI.

[2019-04-24 13:22] jcouv commented on #34710
Subsumed by https://github.com/dotnet/roslyn/issues/35166

[2019-04-24 13:22] #34710 closed

[2019-04-24 13:58] pzprovi commented on #18425
Visual Studio 2019

![image](https://user-images.githubusercontent.com/34093281/56665149-2d326500-66b2-11e9-989f-9ac12ec60659.png)

[2019-04-24 14:04] kzu commented on #34636
Exactly! 💯

[2019-04-24 14:05] kzu commented on #34636
So, should this be labelled as a bug rather than a feature request then?

[2019-04-24 16:31] JoeRobich commented on #34954
This is duplicate of https://github.com/dotnet/roslyn/issues/34307 and should be fixed in 16.1 preview2 by https://github.com/dotnet/roslyn/pull/34315

[2019-04-24 16:31] #34954 closed

[2019-04-24 16:39] rchande opened #35236 "Namespace completion won't trigger between dots"
[code]

Intellisense doesn't trigger on ctrl-space at $$ unless a character is typed, eg:
![image](https://user-images.githubusercontent.com/3751401/56677205-dc504b80-6674-11e9-9c9a-0f7944f5e1d5.png)

[2019-04-24 16:48] MisinformedDNA commented on #25548
I never thought about this, but I like it. I'm always cleaning up my code by deleting the namespace qualifier, and then triggering the refactoring so it adds the using statement. This would reduce the keystrokes needed to accomplish this.

[2019-04-24 16:56] 333fred commented on #35037
@mavasani the question isn't about diagnostics. The question is about what the public API will return for nullability information. The question is, if you were to call `GetTypeInfo` on the inner call to `c.F`, would we need to be able to return precise information about the nullability of the property? For reference, the full code with speculative replacement would be this:
[code]

[2019-04-24 16:58] 333fred commented on #34127
Nope, I had no expectation that this was the case, and the revelation, while surprising, does make some about of sense. Not sure how to communicate that more clearly though.

[2019-04-24 17:18] MisinformedDNA opened #35237 ""Introduce 'using' statement" causes compilation error"
**Version Used**: VS 16.0.0, .NET Core 2.1

**Steps to Reproduce**:

1. Add the following code

[code]

2. Go to the first line and type Ctrl+.
3. Select "Introduce 'using' statement"

**Expected Behavior**:

Code continues to compile after refactor.

[code]

**Actual Behavior**:

The refactor causes a compiler error.

[code]

[2019-04-24 17:31] jasonmalinowski commented on #34636
@kzu: indeed.

[2019-04-24 17:39] CyrusNajmabadi commented on #35237
tagging @jnm2.  It's def an interesting case.  I think we coudl do the additional analysis to see which variables are going to be wrapped, and to continue extending the scope to enclose their references as appropriate.

[2019-04-24 17:43] jasonmalinowski commented on #35037
@333fred I think it has to; the speculative semantic model is always created by replacing a top-level statement, right? So even if we want to speculate deep down, we still have to replace higher up.

[2019-04-24 17:48] jnm2 commented on #35237
@CyrusNajmabadi There was some discussion on what it should do at https://github.com/dotnet/roslyn/pull/30106#issuecomment-427688516. I was thinking along these lines. @Neme12 thought it should do this:

[code]

It seems like a safe rule of thumb that any time a disposable appears in a variable declaration's initializer, the disposable's lifespan should be extended to include the lifespan of that

[2019-04-24 17:52] CyrusNajmabadi commented on #35237
I'd much prefer the expected behavior of https://github.com/dotnet/roslyn/issues/35237#issue-436814352.

If we were to do the splitting, i would think that woudl be a *secondary* fix option for this feature.  i.e. fix-1 would be to extend the range of the using.  fix-2 would be to keep it narrow, but break the dependent variable+initializers.  That said, i don't really think fix-2 needs to be offe

[2019-04-24 17:54] jasonmalinowski commented on #35037
Actually a bit of a deeper thought thinking about what @ryzngard was running into yesterday....

Is your concern that the nullable analysis has to run in general, or that figuring out how to wire up the result of GetTypeInfo is tricky becaues it means lining things back up? Because consider if you had MyExtension being a generic extension a la `T MyExtension(this T arg1, ...)`, and then had someth

[2019-04-24 17:56] #34047 closed

[2019-04-24 17:56] #33854 closed

[2019-04-24 17:57] heejaechang commented on #31302
still working on

[2019-04-24 17:57] heejaechang commented on #35204
looks like a dup of http://bung/#/DevDiv/search/table?q=CID%3DDevDiv.813153

[2019-04-24 17:59] heejaechang commented on #18277
we don't support rename on cshtml file. we are working on to support it though. just not yet.

[2019-04-24 18:05] RikkiGibson commented on #23792
Roslyn version 3.2.0 corresponds to VS 16.1 preview2. So if you update your CSharp.CodeAnalysis packages to that you should start seeing it.

[2019-04-24 18:13] Suchiman commented on #18277
@heejaechang ehhh? are you suggesting i was halluzinating that this worked? What doesn't work yet, is renaming in closed files. Renaming works (usually, that's why this issue) in cshtml files that are opened in the editor.

[2019-04-24 18:13] Eilon opened #35239 "Remove unnecessary parantheses is confused by nullable types"
**Steps to Reproduce**:

1. Create a .NET Standard 2.0 class library (though other project types should have the same issue)
2. Add this code to the class:
[code]
3. VS offers to remove "unnecessary parentheses":
![image](https://user-images.githubusercontent.com/202643/56683114-c5642600-6681-11e9-9c74-da5ab3b8d396.png)
4. If you accept the suggestion, it generates invalid C# code:
![image](https:

[2019-04-24 18:33] terrajobst opened #35243 "Naming of naming styles should reflect their casing"
**Version Used**:

Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.1.0 Preview 3.0 [28823.117.d16.1]
VisualStudio.16.IntPreview/16.1.0-pre.3.0+28823.117.d16.1
Microsoft .NET Framework
Version 4.8.03752

**Steps to Reproduce**:

1. Ctrl Q
2. Type 'C# naming'
3. Enter
4. Open the drop down "Required Style" for any entry

**Expected Behavior**:

Finding the following entries:

* `Pasca

[2019-04-24 18:41] RikkiGibson commented on #23792
Looks like this version isn't on NuGet yet. I would expect 3.1.0-beta2-final to get added there very soon.

For the immediate term you can try including this MyGet version in your project: https://dotnet.myget.org/feed/roslyn/package/nuget/Microsoft.CodeAnalysis.CSharp.Workspaces/3.1.0-beta2-19223-12

[2019-04-24 18:50] mkrtich-m commented on #35243
Will there be support for `snake_case` ?

[2019-04-24 18:50] #35113 closed

[2019-04-24 19:04] Suchiman commented on #18277
I hope this didn't read offensive but i'm a bit baffled, i've been renaming things in razor files since... i dunno, before roslyn, where you still had modal dialoges for renames.

[2019-04-24 19:26] terrajobst commented on #35243
I think this might violate good taste :-)

[2019-04-24 19:29] benaadams commented on #35243
Alas `kebab-case` isn't valid C#

[2019-04-24 19:38] mkrtich-m commented on #35243
To be honest lot of public APIs are using `snake_case` in their JSON objects and it's much easier to maintain C# POCO in `snake_case` for those APIs.

[2019-04-24 19:39] #35096 closed

[2019-04-24 19:47] terrajobst commented on #35243
That's fair, although I'd rather configure a JSON.NET casing strategy than making my C# POCOs look weird.

Hypothetically, if you had that casing option, how would you configure the system thought? There are no namespace / attribute filters. Presumably, you don't want to apply this convention everywhere.

[2019-04-24 19:55] mkrtich-m commented on #35243
I was thinking that naming can be tied to particular project. Not sure though if it's possible at the moment.
Anyway I was able to create custom `snake_case` :)

![image](https://user-images.githubusercontent.com/4062518/56689555-5c90a400-66a9-11e9-83e2-3f569edb68b4.png)

[2019-04-24 20:02] poke commented on #35243
Alternative to the original suggestion, I think adding an example after the name would also work very well:

- “Pascal case (`HttpClient`)”
- “Camel case (`httpClient`)”

This would probably be a bit more in line with the other option there.

[2019-04-24 20:04] mkrtich-m commented on #35243
The main dropdown called `Capitalization` which is responsible for styling already has correct styling or its values. The issue is with the titles of default naming styles which come with Visual Studio installation.

![image](https://user-images.githubusercontent.com/4062518/56690067-957d4880-66aa-11e9-9855-db4182896986.png)

[2019-04-24 20:21] poke commented on #35243
Mentioning that drop down, it does appear a bit inconsistent that the first two options refer to the general style names (pascal case and camel case), while the lower three options are descriptions of what they do.

We could have the first two be “All words capitalized” and “All words except first capitalized” respectively to match with the others; although I do think that it is useful to keep the

[2019-04-24 20:38] 333fred commented on #35037
So, I had been assuming this wasn't the case, as the internal API just takes a SyntaxNode and a position. But the public versions are more restrictive in the types of things that you can pass in, which makes my question significantly easier and much more straightforward to answer. The issue we were going to run into is needing to stop nullable analysis in the middle of an expression, but it sounds

[2019-04-24 21:03] vsfeedback opened #35246 "VS2019 syntax highlight (C#) - methods aren't colorized within nameof()"
VSF_TYPE_MARKDOWNWithin a class, when referencing a local method using `nameof()`, it isn't colorized according to Fonts and Colors rule for “User Members - Methods”. Method's declaration and its calls are correctly colorized.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/529390/vs2019-syntax-highlight-c-methods-arent-colorized.html
VSTS ticketId: 845

[2019-04-24 21:04] mavasani commented on #35037
Ah yes, SemanticModel.TryGetSpeculativeModel only allows you to pass in top level executable block syntax nodes, so we should be fine!

[2019-04-24 21:48] AlekseyTs commented on #35227
Should probably cover partial methods too.

[2019-04-24 22:17] KirillOsenkov opened #35250 "XmlDocComments recalculated too many times during diagnostic computation"
**Version Used**:
Dev16 RTM

**Steps to Reproduce**:

1. New C# console app
2. Add an XML doc comment via ///
3. Attach debugger to VS and enable break on first-chance XmlException
4. Make XML invalid, say add a `&` character

**Expected Behavior**:
Should have or two first-chance exceptions, not more than say 5

**Actual Behavior**:
It is thrown over 170 times, which indicates to me that Roslyn i

[2019-04-24 23:46] jasonmalinowski commented on #35037
OK, my worry was one way I could have read your concern is that we might do a higher level replacement but then ask about some node deep inside of it, but I guess that wasn't your concern. Great!

[2019-04-25 00:18] #35204 closed

[2019-04-25 00:18] poke opened #35253 "When renaming something to ~Attribute, Visual Studio shows an extra “Attribute” at the end"
**Version Used**: Visual Studio 16.1.0 Preview 2.0
**Steps to Reproduce**:

1. Press <kbd>Ctrl + R, R</kbd> to rename a member.
2. Rename the member so that its name ends with `Attribute`

**Expected Behavior**:
Visual Studio should preview the new name correctly.

**Actual Behavior**:
Visual Studio previews the new name with another “Attribute” at the end of the name. This extra “Attribute” is no

[2019-04-25 00:37] HaloFour commented on #35232
@walterlv

Of course, but it's a little weird for the synchronous component of the async method to do anything that might block, so dispatching that to a separate thread seems unnecessary.  I also don't know what WPF's Dispatcher gets you over using TPL which might get you an API a little more suited for async methods.

I'm just curious because this seems like a very specific case.  In all of the

[2019-04-25 00:42] chborl commented on #34747
Verified this is fixed in 16.1 Preview 2

[2019-04-25 00:42] #34747 closed

[2019-04-25 01:25] RikkiGibson commented on #23792
FYI 3.1.0-beta2-final is now available. Thanks @JoeRobich.

https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp.Workspaces/3.1.0-beta2-final

[2019-04-25 05:32] #29965 closed

[2019-04-25 07:53] Tragetaschen commented on #34830
Frankly, I don't agree with that milestone change. The analyzer is broken and the net effect is that the Warning tab in VS' Error List is entirely useless. I think this issue (or any other resulting in AD0001) deserves more or less immediate fixing.

[2019-04-25 10:36] firdacz opened #35258 "C# Formatter ignores 'ignore spaces' options in enum"
**Version Used**:
16.0.2 (Community 2019)

**Steps to Reproduce**:

	class TestClass
	{
		void Test()
		{
			var x   = 1;
			var y   = 1  +  2;
		}
		enum E
		{
			One     = 0x01,
			Two     = 0x02,
			Three   = 0x04,
		}
	}

^ED (with ignore spaces option)

**Expected Behavior**:

Do nothing.

**Actual Behavior**:

[code]
As you can see, the vars did not change (I have both *ignore spaces* turned

[2019-04-25 12:26] TessenR opened #35260 "Visual studio inserts semicolon that I type at wrong position"
**Version Used**:

[code]

**Steps to Reproduce**:

Type semicolon after `return z.c{here}` in the code below:

[code]

**Expected Behavior**:
The semicolon is inserted at the caret position resulting in the line `return z.c;)));`

**Actual Behavior**:
The semicolon is inserted after the closing parentheses resulting in the line `return z.c)));;`. Ctrl+z just removes the so I can only place it her

[2019-04-25 13:32] VasilievSerg opened #35261 "'NullReferenceException' occurs when getting 'Microsoft.CodeAnalysis.TypeInfo'"
When using `Microsoft.CodeAnalysis` libraries, I faced a problem that when calling `GetTypeInfo` (extension method for `SemanticModel`), `NullReferenceException` occurs. The node for which a character is requested – `ConstantPatternSyntax`.

The used version is Microsoft.CodeAnalysis: **3.0.19.17001**

Stack trace:
[code]

It also seems like the problem is reproduced in Visual Studio.

Visual Stud

[2019-04-25 14:16] miloush commented on #35187
Others include event handlers, nameof, xml documentation etc.

Similar with semicolon - apart from the examples above, you don't want it to be inserted when it's an argument to a method or LINQ query for example.

Might be worth pointing out that the autocompletion can also committed by `(`, not only the Enter key. If the automatic brace completion is on, it will insert `list.Find()` which is almo

[2019-04-25 16:26] gafter commented on #34980
This appears to be addressed in #35249

[2019-04-25 16:33] gafter commented on #34412
@333fred You mean `NotAnnotated`?

[2019-04-25 16:41] gafter opened #35263 "Update spec for enhanced using"
We appear to have two specifications for enhanced using: one at https://github.com/dotnet/roslyn/blob/master/docs/features/enhanced-using.md and one at https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/using.md .  The one in `csharplang` should contain the latest language specification.  If it does not, please update it.

[2019-04-25 17:02] genlu commented on #35172
@rynowak This seems to be a similar issue caused by attempting to add an import in Razor file.

https://developercommunity.visualstudio.com/content/problem/514087/problem-in-namespace-refactor.html?childToView=546711#comment-546711

[2019-04-25 18:23] jcouv commented on #34980
This also showed up in Watson (https://devdiv.visualstudio.com/DevDiv/_workitems/edit/294570). Let's see if we can get the fix in for 16.1 as well. Thanks

[2019-04-25 18:36] #33776 closed

[2019-04-25 19:21] 333fred commented on #34412
Yes, `NotAnnotated`.

[2019-04-25 19:22] gafter commented on #35075
Before making a change to the compiler, we need to check if there needs to be a corresponding change to the language specification in `csharplang`.  If there does need to be a change (and I suspect there does) then it needs to be made there in coordination with any compiler change.

[2019-04-25 20:09] #34646 closed

[2019-04-25 20:29] ldy985 commented on #34912
We are having a similar issue. I have reduced the code as much as possible here:
[ClassLibrary1.zip](https://github.com/dotnet/roslyn/files/3118762/ClassLibrary1.zip)

[2019-04-25 20:38] TessenR opened #35274 "Roslyn does not warn about mismatching nullability in method group conversions unless qualifier type is specified explicitly"
**Version Used**:

Branch master (25 Apr 2019)
Latest commit 95f137 by Gen Lu:
Merge pull request #35245 from genlu/FixMockExpService

Fix mock experiment service

**Steps to Reproduce**:

Compile and run the following code:
[code]

https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAgrgOyQExAagB8BiTdAG3ImHLgAI5NraBYAKAAEAGOjgRgDc7dhwBMdAMIAeACoA+dgG92dXgGY6COBBwB7TOQCedGXQBmASzjkcQtivWSAFKZgBKOgF455qza90

[2019-04-25 21:07] ryzngard commented on #21662
@jcouv  moving to Area-Compilers

[2019-04-25 21:15] mavasani commented on #34830
I think the fix here is just changing the values of fields of [this enum](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/CodeStyle/UnusedParametersPreference.cs,11) to start from 0.

[2019-04-25 21:19] TessenR opened #35275 "Roslyn does not take anonymous types' properties' nullability into account when inferring type arguments"
**Version Used**:

Branch master (25 Apr 2019)
Latest commit 95f137 by Gen Lu:
Merge pull request #35245 from genlu/FixMockExpService

Fix mock experiment service

**Steps to Reproduce**:

[code]

**Expected Behavior**:
No warnings.

**Actual Behavior**:
`warning CS8602: Dereference of a possibly null reference.` is reported for `z.A.ToString()`;

**Notes**
The compiler knows that variable `x` con

[2019-04-25 22:25] rp0m commented on #3705
100% behind this. Having to add `<auto-generated />` everywhere is a problem, especially if there are specific folders that we want to ignore (e.g. EF migrations)

[2019-04-25 22:37] ryzngard commented on #23382
@nnpcYvIVl , @svick , @JVimes

I've tried to reproduce this issue with 16.1 preview 2 with no success. I've used the following code, where `[|` and `|]` indicate my cursor selection, beginning to end respectively.

[code]

I also tried with the below

[code]

Can you verify this still reproducs in the latest preview? Or, if able, tell me the exact selection you have that reproduces using a screens

[2019-04-25 23:04] agocke opened #35278 "Switch expression crashes compiler in expression-bodied member"
https://developercommunity.visualstudio.com/content/problem/475479/visual-studio-2019-rc-cant-compile-c-80-switch-exp.html

This code fails with an assert in CheckValEscape. Looks like switch expressions are not handled.

[code]

[2019-04-25 23:04] agocke commented on #35278
cc @gafter

[2019-04-25 23:58] davkean commented on #35204
Thanks for looking into this quickly @heejaechang!

[2019-04-26 00:30] #34980 closed

[2019-04-26 00:48] JoeRobich commented on #35246
Duplicate of https://github.com/dotnet/roslyn/issues/35246
Fixed by https://github.com/dotnet/roslyn/pull/35247

[2019-04-26 00:48] #35246 closed

[2019-04-26 02:40] #35166 closed

[2019-04-26 02:40] #35165 closed

[2019-04-26 02:41] #34774 closed

[2019-04-26 02:53] dibarbet opened #35285 "Comment selection throws argument exception inside javascript in cshtml files."
When attempting to comment or uncomment a javascript part of a cshtml file, an exception is thrown.
[code]

The span is commented, but the selection is unable to be set and the cursor goes missing until the file is re-opened.

[2019-04-26 02:53] jcouv commented on #35261
Tagging @agocke
This is likely related to an issue he just fixed (PR https://github.com/dotnet/roslyn/pull/35249)

[2019-04-26 06:32] AdamSpeight2008 commented on #21662
@jcouv This is related to #29233.
Approach is this, if the identifier is followed by a member qualifier `. ? ! ` and is a keyword that is unescaped. Mark it an error, but continue as if was a valid identifier. This allows the rest of the expression / statement to be parsed relatively correctly. As well the option to have code fix to escape the keyword. _I've tried this in a fork of mine, has few t

[2019-04-26 12:49] Logerfo commented on #27837
Why didn't this get any attention? Even the Windows Forms designer uses no accessibility modifiers for partial classes (`.designer.cs`). It's intriguing that there is no option to match the IDE code generator style itself.

[2019-04-26 13:11] sonnemaf commented on #23792
Thanks a lot. It just tested the 3.1.0-beta2-final. It works great.

[2019-04-26 13:39] nnpcYvIVl commented on #23382
@ryzngard To reproduce select just the i instead of i = 0.

I can reproduce it in 16.0.2 but don't have the preview version to test.

![Untitled](https://user-images.githubusercontent.com/8421414/56811598-b5be1c00-67fe-11e9-8ceb-377098206df7.png)

[2019-04-26 14:09] ViktorHofer opened #35290 "Various non-deterministic empty symbol compiler errors"
1. error CS0648: '' is a type not supported by the language
https://github.com/dotnet/corefx/pull/37141#issuecomment-486340227

2. error CS4001: Cannot await ''
https://dnceng.visualstudio.com/internal/_build/results?buildId=170149&view=logs&jobId=7b614801-ed38-51b7-97d8-b2f3e799aa24&taskId=82d75caa-41ea-59a8-35f3-0486fa4f1cf4&lineStart=1551&lineEnd=1552&colStart=1&colEnd=1

3. System\Collections\

[2019-04-26 15:33] jasonmalinowski opened #35292 "Deadlock during shutdown of interactive window"
**Version Used**: VisualStudio.16.Preview/16.1.0-pre.2.0+28822.285

**Steps to Reproduce**: Happened a few times when closing VS with the C# interactive window open.

**Expected Behavior**: It to not hang.

Dump file: `\\mlangfs1\public\jasonmal\Dumps\Roslyn\35292`. Note: there are two dump files of InteractiveHost.exe; one is the one associated with the hung process, one is associated with the de

[2019-04-26 15:41] jasonmalinowski commented on #35292
FYI to @jinujoseph and @tmat. I think I hit this once and then also hit it maybe a second time after taking the dump. Did we change anything here recently? I didn't think so...

[2019-04-26 15:57] tmat commented on #35292
Recently no. @ivanbasov fixed output synchronization issues on shutdown a while ago.

[2019-04-26 16:04] jaredpar commented on #33320
Thanks for filing this issue.

Curious why do you believe this is an issue in the compiler server itself? The .NET ecosystem makes heavy use of both the server and conditional compilation today and we haven't seen this issue pop up. That's because every project which is multi-targeted has conditional compilation attached to it and implicitly uses the compiler server.

A multi-targeted project woul

[2019-04-26 16:05] jasonmalinowski commented on #35292
Something must not be fixed then. 😦

[2019-04-26 17:20] Izikiel commented on #7178
This is still happening, any news on when/if it's going to be fixed?
As others have said, for big projects where you want to try stuff fast C# interactive becomes useless.

[2019-04-26 17:35] gafter commented on #34993
We need to tighten the assertions in `AreCloseEnough` to ensure that we're actually always returning the same type, not error if one is null or ignoring certain types.  Here's why.

Suppose some expression `e` results in an error type in initial binding but a non-error in the nullable walker.  Then the expression `(e, 1)` has a distinct non-error type in initial binding and in the nullable walker.

[2019-04-26 18:10] AdamSpeight2008 opened #35293 "Make MSBuild be a child process of the command window."
When a I run the `build` or `Test` command from the Developer Command Window, it create multiple processes of `MSBuild.exe` (32), it wouldn't be so bad if they were child process of the command window. Then at least when I close the window, it would in turn terminate them.
I have either manually terminate them, or use a kill command.

Is there any arguments that can be add to the `Build` and `Test

[2019-04-26 18:35] gafter commented on #34158
I disagree with the issue as described.  The reference to `x` in the initializer is indeed an error as seen from the initial binder, and should be represented by an error type.  There is no type that could possibly be computed in the initial binder for the type of `x` that would be correct other than an error type.  That's because the type for `x` in the initializer must be computed before the typ

[2019-04-26 18:49] #34842 closed

[2019-04-26 18:49] #34855 closed

[2019-04-26 18:56] gafter commented on #35233
If this is a language suggestion, please move it to `csharplang`.  I doubt we would do it because it would increase storage allocation without the user seeing where the storage came from.

If this is an IDE suggestion, we can label it as such.  Which is it?

[2019-04-26 18:59] ryzngard commented on #23382
@nnpcYvIVl  perfect, I have a repro now! Thanks for the quick follow up

[2019-04-26 19:19] ryzngard commented on #23382
I've confirmed this repros in 16.0.2, but no longer repros in 16.1 preview 3. There's a number of bug fixes that went in for ExtractMethod, so it may have been fixed from one of those.

Feel free to re-open or file a new bug if you're still seeing issues after updating to 16.1. Thanks again for providing feedback

[2019-04-26 19:19] #23382 closed

[2019-04-26 19:56] gafter opened #35295 "Incorrect computed nullability for dynamic operations"
Nullability warnings are (possibly) expected where indicated, but missing.

[code]

We may need the LDM to confirm the expected behavior.

[2019-04-26 20:08] gafter commented on #35295
Given https://github.com/dotnet/csharplang/blob/master/meetings/2019/LDM-2019-04-03.md#nullability-of-return-type-of-dynamic-static-invocations it appears that the behavior is by design.

[2019-04-26 20:08] #35295 closed

[2019-04-26 20:10] vsfeedback opened #35296 "Visual Studio reports incorrect type for nullable reference type when using `var`"
VSF_TYPE_MARKDOWNVisual Studio 2019 Preview, C# 8.0 beta, .NET Core 3.0 preview of some kind. Nullable reference types enabled through `&lt;NullableContextOptions&gt;enable&lt;/NullableContextOptions&gt;` in the `.csproj`.

For this code snippet:

[code]

Visual Studio, on mouse hover over `t`, reports the type of `t` as `Type` and not `Type?`.

As far as I can tell, this is incorrect. `t` is of t

[2019-04-26 20:11] vsfeedback opened #35297 "using C# 8 range in debugger does not work"
VSF_TYPE_MARKDOWNWhen I use a C# 8 range in the debugger is reports &quot;The debugger is unable to evaluate this expression&quot;

For example:

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/506062/using-c-8-range-in-debugger-does-not-work.html
VSTS ticketId: 827697_
_These are the original issue comments:_

Visual Studio Feedback System on 3/

[2019-04-26 20:11] #29894 closed

[2019-04-26 20:21] vsfeedback opened #35298 "error CS0019: Operator '==' cannot be applied to operands of type 'KeyValuePair<ulong, string>' and 'KeyValuePair<ulong, string>'"
VSF_TYPE_MARKDOWNpublic class StringColumnActor : IStringColumnActor
    {
        private readonly AsyncGate _gate = new AsyncGate();

        // TODO: replace with persistent storage
        private readonly IDictionary&lt;ulong, string&gt; _valueDictionary = new Dictionary&lt;ulong, string&gt;();

        public StringColumnActor()
        {

        }

        public async Task&lt;ulong&gt; Ge

[2019-04-26 20:21] agocke commented on #35298
FYI @jaredpar This looks like it may be a breaking change

[2019-04-26 20:22] agocke commented on #35298
Simplied code:

[code]

[2019-04-26 20:24] #34094 closed

[2019-04-26 20:39] RikkiGibson commented on #23792
Excellent. I'll consider this issue resolved. Feel free to reopen if you have any issues with this API.

[2019-04-26 20:39] #23792 closed

[2019-04-26 20:42] RikkiGibson commented on #35260
Is this possibly related to #34666?

It would be useful if you could let us know if the issue still occurs in dev16.1-preview2 @TessenR.

[2019-04-26 21:26] ivanbasov opened #35301 "completion: CTRL+Space is not applicable in Delete/Backspace triggered session"
Both old and new completions.
Start with

[code]

Intellisense TriggerOnDelete should be ON
SendBackspace
SendCommitIfUnique

**Expected**
No active completion session
`s.Length` is in the current line

**Actual**
Active completion session
`s.Lengt` is in the current line

[2019-04-26 21:36] gafter opened #35302 "Lambdas in array initializers not checked in nullable walker"
Lambda expressions in an array initializer are not checked against the new target type of the lambda expression.  Instead, the type from initial binding is used, and (improperly) feeds into inference.

[code]

There may be similar issues in method type inference, `?:`, switch expressions, etc.

[2019-04-26 22:03] gafter opened #35304 "Duplicate nullable diagnostics for lambdas in switch expression"
Tests like `CheckLambdaInSwitchExpression_01` show that we produce duplicate diagnostics for lambdas in switch expressions.  That's because we don't use placeholders like we do for other expressions where we infer a common type.  However, we don't get the inference correct for lambdas, so that placeholder approach probably won't work.  See also https://github.com/dotnet/roslyn/issues/35302

[2019-04-26 22:04] gafter commented on #35302
A couple of tests are skipped on this issue.

[2019-04-26 23:30] #35164 closed

[2019-04-27 00:28] sandreenko commented on #35290
I saw this error in CoreCLR ci: [link](https://dev.azure.com/dnceng/public/_build/results?buildId=171047)->Test Pri1 Linux x64 checked Job->Build tests->scroll down:
[RoundCurrentDirectionScalar.Double.cs(217,26): error CS1503: Argument 1: cannot convert from '' to 'void*' [/__w/1/s/tests/src/JIT/HardwareIntrinsics/X86/Sse41/Sse41_ro.csproj]](url)

The test last update was 24 days ago and it has n

[2019-04-27 02:06] davidsh commented on #35290
I was an error during my PR: https://github.com/dotnet/corefx/pull/37238
https://dev.azure.com/dnceng/public/_build/results?buildId=171147
![image](https://user-images.githubusercontent.com/7684835/56843495-73282e00-6856-11e9-88a0-b3784752125e.png)

[2019-04-27 04:19] kceiw opened #35317 "Roslyn’s function name resolver should support DkmBaseDebugMonitorId.TimeTravelTraceInterop"
The function breakpoint isn't set to TimeTravelTraceInterop because of this issue https://devdiv.visualstudio.com/DevDiv/_workitems/edit/824993

[2019-04-27 07:24] #35285 closed

[2019-04-27 11:21] stephentoub commented on #35290
@jaredpar, @agocke, @jcouv, any idea what's going on here? This just recently started plaguing corefx.

[2019-04-27 12:10] canton7 opened #35319 "Suboptimal codegen for conditional access on readonly unconstrained generic field"
This is minor. It does not cause incorrect behavior, but it does cause generated code to be larger than it needs to be in some cases.

**Version Used**:

Master (26 April 2019)

**Steps to Reproduce**:

[code]

Look at the emitted IL for `PrintRo`.

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+ABADAAmwEYBuAWAChsBmQgJnwDEB7ZgHgBUA+Sgb0vyD8ABwQBLAG4R4+BHAgpmAOwA2AT3wdZzchSEjxUmVoQB3Xf

[2019-04-27 13:38] canton7 commented on #35298
Isn't the simplified code just

[code]

And, unless I'm missing something, isn't this just because `KeyValuePair<TKey, TValue>` doesn't define a `==` operator?

[2019-04-27 13:48] canton7 commented on #35203
This is correct, I think?

The diagnostic is raised against the line `GlobalImage globalImage = null;`, which is a redundant assignment because the `null` is replaced (just writing `GlobalImage globalImage;` here is fine, because it's definitely assigned below). Indeed, doing the quick fix takes off the `= null`.

[2019-04-27 14:50] jcouv commented on #35290
Some basic observations:
The various diagnostics have one thing in common: they are reporting empty type names.
The code in this last error is `var set = new HashSet<Color>(ColorTable.Colors.Values);` ([ColorConverter.cs](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/Drawing/ColorConverter.cs)) and here is [ColorTable.cs](https://github.com/dotnet/

[2019-04-27 18:28] 333fred commented on #34158
@gafter that's fine, but if that's the resolution we want then we need to update the nullable walker, as VisitLocal assumes that the boundnode and the symbol for the local have the same type currently.

[2019-04-27 18:41] pkulikov opened #35320 "Possible NullReferenceException in AbstractConvertForToForEachCodeRefactoringProvider.cs"
If `collectionType.Type` is really null, then the consequent check throws.

https://github.com/dotnet/roslyn/blob/a8b934866f7a3c51d3034025cb8d150de9b6d0bf/src/Features/Core/Portable/ConvertForToForEach/AbstractConvertForToForEachCodeRefactoringProvider.cs#L136-L140

Source: one of the issues found in #34725

[2019-04-27 18:49] pkulikov opened #35321 "Possible NullReferenceException in TextViewWindow_InProc.cs"
When the exception message is formatted, `action.DisplayText` throws because `action` is null?

https://github.com/dotnet/roslyn/blob/a8b934866f7a3c51d3034025cb8d150de9b6d0bf/src/VisualStudio/IntegrationTest/TestUtilities/InProcess/TextViewWindow_InProc.cs#L380-L385

Source: one of the issues found in #34725

[2019-04-27 19:11] pkulikov opened #35322 "Possible NullReferenceException in ObjectFormatterHelpers.cs"
When `type` is null, the first operand of `||` evaluates to `false`. That means the second operand is evaluated. The second operand of the `||` operator is `targetTypeName != null && type.FullName == targetTypeName`. If `targetTypeName` is not null, `type.FullName` would throw.

https://github.com/dotnet/roslyn/blob/a8b934866f7a3c51d3034025cb8d150de9b6d0bf/src/Scripting/Core/Hosting/ObjectFormatte

[2019-04-27 19:43] sharwell commented on #35320
:memo: this should be caught by nullable reference types

[2019-04-27 20:38] #35233 closed

[2019-04-27 20:39] gafter commented on #35233
Will reopen when we hear what the intent is: language or IDE suggestion.

[2019-04-27 22:28] danielcrenna commented on #32022
@terrajobst is that mail thread accessible via mailing list, or internal only?

[2019-04-28 10:14] kameko commented on #35233
Sorry, it is a language suggestion, I was not aware of the csharplang repo. I'll repost it there. You can close this.

[2019-04-28 13:40] jaredpar commented on #35290
Do we have a binary log of any of the failures? That would help differentiate if the compiler is giving different output for same input or if there is a tool further up the chain which is giving us different input

[2019-04-28 16:34] terrajobst commented on #32022
We generally don’t have discussions without lawyers in public, so internal only. However, we’ll of course publicize the result. As I said, there is no secret here: we intend to align licenses between source code and binary whenever possible. It’s harder to do when the binary includes different kind of source code (licensed under different OSS licenses or including proprietary code). However, I’m n

[2019-04-28 16:56] Korporal opened #35324 "BUG: TypeLoadException generated using 3.2.0-beta1-19227-04"
**3.2.0-beta1-19227-04**:

**Create console app that references the type**:  `Item`

This was found using VS 2019 (16.0.2) in which I added the beta compiler nuget packages to my solution/projects and set C# build to 8.0 (beta).

I've created a simple way to repro this, the actual code that led to this crash is more involved (e.g. the actual code dynamically computes the `T*` pointer here it just

[2019-04-28 17:26] jcouv commented on #35159
We're likely to re-visit this if we want the `[EnumeratorCancellation]` attribute to combine tokens.

[2019-04-28 17:49] danielcrenna commented on #32022
Thanks for the clarification, I appreciate it.

[2019-04-28 17:53] TannerBragg commented on #4655
Any progress or update?

[2019-04-28 18:54] mmihaly commented on #17218
I found the last trace of the local suppression at this time in the history:
https://github.com/dotnet/roslyn/tree/4dfefe7b49c33d1d078494d52a84b16772158b11

I've brought that implementation (with some adaptations) into a fork of the master branch. It's working, however there are two things still to be done:
* create unit tests (existing unit tests are not affected by the changes)
* translate the t

[2019-04-28 19:49] sharwell commented on #17218
This would be the easiest approach 👍

[2019-04-28 20:23] ViktorHofer commented on #35290
Yes, please find the binary logs in the results tab of each build. Just make sure to pick the right leg.

[2019-04-29 01:29] NMSAzulX commented on #28009
Will this problem be solved?   In .net core 3.0

[2019-04-29 01:31] NMSAzulX commented on #28009
source :  #27783

[2019-04-29 08:29] canton7 opened #35332 "Incorrect behaviour on conditional access to generic field where the generic type is a Nullable<T>"
**Version Used**:

Master (27 April 2019)

**Steps to Reproduce**:

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAgrgOwD4AEAMABLgIwDcAsAFC4DMxJAbMQEwMDshA3tYX8fVLNcAFkIBZCAEtMACgCU3XvxXj0MCMAA2cAMowMAYxgB+QgDMpcLQBNCAXkKY4AdwnrNO/UZgLKVFVUPbT0DdGMzAAcIBAgwBydXdw0Q73DfeX9A/gA3GMJIhBl4BATnNwAFIswSgB41FK8wiIA+WUtrG0zlbMLixAA6KuLZBDhzApi47oDsguqSoYXR8cnYsBmVAF9qHapqOlZCYZrEWoAVFuoeKgB

[2019-04-29 12:44] wizzardmr42 commented on #25977
This is very annoying as in VS2017 it gives errors if the aliases do have spaces

[2019-04-29 13:23] miloush commented on #30901
Hm, I have just hit this on VisualStudio.16.Preview/16.1.0-pre.2.0+28822.285 (when choosing "this project"), is it possible there has been a regression?

[2019-04-29 14:35] TessenR opened #35334 "Roslyn incorrectly ignores nullability specified in explicit cast when a user defined conversion is used"
**Version Used**:

[code]

**Steps to Reproduce**:

Compile the following code:
[code]

https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+BiAdgVwBtCJhC4ACOXU8gWACgABAJgoGFGBvRiipgMz8AjADYqAD3gJcFAJZgADoTkBjOTAoB7RYggwtCCgBEAFOwqqAlAG5GAX0aNWJ7r34AWCgFlh5y1buPAx8fABuEEYoFAC8FKbGAPxWlnYhoSgAdAAqWgDKMAhyuADmprYU7o4M9kA

**Expected Behavior**:
`CS8602: Dereference of a possibly null reference.` reporte

[2019-04-29 14:49] sharwell commented on #32061
@gafter @jaredpar We would like to provide editor support for XML documentation comments on local functions. These comments would not be included in the XML file produced during a build. Can you provide an interpretation of the C# language per https://github.com/dotnet/roslyn/issues/32061#issuecomment-451683423 to determine whether this is allowed?

[2019-04-29 16:11] jasonmalinowski opened #35335 "SnapshotSerializationTests.cs seems to be duplicating logic from SolutionCreator.cs"
While chatting with @heejaechang we noticed that SnapshotSerializationTests.cs has a helper GetSolutionAsync that reconstructs a solution from a remotable data service. If you squint a bit, that's also what SolutionCreator.cs is doing, but there's just not a shared interface for both of them to be using. This should be unified so we're not maintaining that logic twice, and also so then we get addi

[2019-04-29 16:42] pierceboggan opened #35337 "Refactor-to-New-Namespace doesn't work for C# types that are associated with XAML"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.1.0 Preview 3.0 [28824.287.d16.1]
VisualStudio.16.IntPreview/16.1.0-pre.3.0+28824.287.d16.1
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Enterprise

Visual C++ 2019   00435-60000-00000-AA045
Microsoft Visual C++ 2019

Application Insights Tools for Visual Studio Package   9.0.20307.1
Application Insi

[2019-04-29 16:44] pierceboggan opened #35338 "Refactor > Rename applies to C# type, but not references in XAML"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.1.0 Preview 3.0 [28824.287.d16.1]
VisualStudio.16.IntPreview/16.1.0-pre.3.0+28824.287.d16.1
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Enterprise

Visual C++ 2019   00435-60000-00000-AA045
Microsoft Visual C++ 2019

Application Insights Tools for Visual Studio Package   9.0.20307.1
Application Insi

[2019-04-29 16:46] pierceboggan opened #35339 "Refactor > Rename doesn't update references to that type in XAML"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.1.0 Preview 3.0 [28824.287.d16.1]
VisualStudio.16.IntPreview/16.1.0-pre.3.0+28824.287.d16.1
Microsoft .NET Framework
Version 4.8.03752

Installed Version: Enterprise

Visual C++ 2019   00435-60000-00000-AA045
Microsoft Visual C++ 2019

Application Insights Tools for Visual Studio Package   9.0.20307.1
Application Insi

[2019-04-29 16:49] Gnbrkm41 opened #35340 "Possible false-positive IDE0004 redundant cast warning"
**Version Used**:
VS 2019 16.0.2
**Steps to Reproduce**:

[code]

**Expected Behavior**:
No suggestion should be made regarding the removal of casting, as it would lead to recursion.

**Actual Behavior**:
![image](https://user-images.githubusercontent.com/42944058/56912283-de683f00-6aa6-11e9-8380-bb47a5364f19.png)

Suggestion is made to remove the cast.

[2019-04-29 16:52] AlekseyTs commented on #32061
CC @agocke

[2019-04-29 16:53] jnm2 commented on #35237
In the next few weeks it would be unfair for me to carve out time for this from my other OSS commitments, but I'd be interested in fixing it at some point if no one else gets there first.

[2019-04-29 16:55] agocke commented on #32061
The language does not allow doc-comments on local functions.

[2019-04-29 17:37] vsfeedback opened #35342 "Invalid "Add parameter" suggestion"
VSF_TYPE_MARKDOWN1. Create new .net core console app project;
2. Paste the following code:

[code]

3. Change the `Foo(b);` to `Foo(b, 1);` in `Main`;
4. `Foo` call gets the red squiggly;
5. Right click red squiggly and pick &quot;Quick actions and refactorings&quot;;
6. Pick the &quot;Add parameter to 'Program.Foo(A)'&quot;;
7. Notice that `Foo(A a)` became `Foo(B b, A a)`, which is incorrect and

[2019-04-29 18:03] jaredpar commented on #35290
@ViktorHofer

Looked into these and here are my findings:

1. The binary logs are available but they don't capture the build error. Made sure to have attempt set to 1 but the binary file has a successful compilation for attempt 1. Wonder if they just have only logs from the latest attempt which is why I can't see the error here. Buidl error by itself isn't enough to make progress here.
2. The bina

[2019-04-29 18:20] vsfeedback opened #35345 "Saving .aspx files slow"
VSF_TYPE_MARKDOWNSaving an smallish (300 front, 400 loc code behind) .aspx control takes seconds vs the second or two for VS 2017.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/470148/saving-aspx-files-slow.html
VSTS ticketId: 802507_
_These are the original issue comments:_

Visual Studio Feedback System on 2/26/2019, 08:55 PM (61 days ago): <p>We ha

[2019-04-29 18:23] sharwell commented on #35345
The majority of time spent saving in the performance trace attached to the feedback issue is in `SymbolDisplay.ToDisplayParts`. Specifically, when `SymbolDisplayVisitor.VisitNamedType` calls `SourceMemberContainerTypeSymbol.GetEmittedNamespaceName`, the original syntax tree may be required for the result causing slow loads of the syntax trees from temporary storage. The symbol display performance

[2019-04-29 18:44] vsfeedback opened #35346 "brace matching wrong"
brace matching is not always working correctly.
if I click next to the opening brace it highlights the correct closing one.
If I click on the closing brace, it might highlight a wrong opening one. I get that behaviour if I click in between two adjacent closing brackets

for example, I get the wrong opening brace highlighted if I click between the two closing braces
b(())

or between the )) here:
o

[2019-04-29 18:44] jinujoseph commented on #35346
Notes from @chborl
I couldn't repro this issue by placing a zero width caret in various places on the line of code, but I did see it when selecting a brace character.

If you select a single brace character either from the beginning to the end of the character's span, or from the end to the beginning (basically selecting it backwards) you get a different matching brace highlighted.  This is becaus

[2019-04-29 19:09] #31830 closed

[2019-04-29 19:14] CyrusNajmabadi commented on #35340
This is by design.  Any individual cast can be removed without changing the overload.  Hence why all are gray (since you might want to choose any of them to remove).  However, if you remove two of them, the third will become required and will not be marked as removable anymore.  i.e.:

![image](https://user-images.githubusercontent.com/4564579/56920528-4bb0ab80-6a78-11e9-884c-c4a70e106608.png)

No

[2019-04-29 19:16] CyrusNajmabadi commented on #35346
It should probably not use the start/end, but just use that character.  i.e. if i select a `(` in some large expression, then we would want ot use the *start* of that guy.  But if you select `)` then we shoudl use the end.

[2019-04-29 19:27] Gnbrkm41 commented on #35340
Right, thanks for clarification!

[2019-04-29 19:27] #35340 closed

[2019-04-29 19:30] Korporal commented on #35324
This may be of interest to @tannergooding and @RikkiGibson since it seems related to issue https://github.com/dotnet/roslyn/issues/31439 which was a recent bug fix.

[2019-04-29 19:38] #30229 closed

[2019-04-29 19:38] #35179 closed

[2019-04-29 19:56] #34371 closed

[2019-04-29 20:03] VaporiZed commented on #25977
Hm. In VS2017 (Ver. 15.9.11) I have neither problems with whitespaces nor without, as you can see in my attachment.
![Namespaces](https://user-images.githubusercontent.com/49878115/56923323-8fcc9c00-6aca-11e9-8a54-9c65fd479b3b.png)

[2019-04-29 20:43] #30939 closed

[2019-04-29 20:46] kendrahavens commented on #6763
Additional external ask: https://developercommunity.visualstudio.com/content/idea/540381/add-c-project-feature-to-remove-unused-references.html

[2019-04-29 20:51] #30069 closed

[2019-04-29 21:23] JoeRobich opened #35348 "Apply ngen optimization for CodeLens assembly when training exists"
Applying ngen optimization was commented our for code lens because builds were failing due to incomplete training data.

https://github.com/dotnet/roslyn/tree/dev/jorobich/apply-codelens-optprof

[2019-04-29 21:34] jnm2 commented on #6671
@gafter Something to move to csharplang?

[2019-04-29 21:44] chsienki opened #35349 "Deconstruction nullability warnings should be clearer"
See `Deconstruction_ExtensionMethod_03` in NullableReferenceTypesTests.cs

We report ```warning CS8604: Possible null reference argument for parameter 'p' in 'void E.Deconstruct<object, object>(Pair<object, object> p, out object t, out object u)'``` for a deconstruction with a nullable `this` parameter.

See `Deconstruction_20`  in NullableReferenceTypesTests.cs

We report `warning CS8602: Derefer

[2019-04-29 22:22] jcouv opened #35350 "Allow attributes on local function parameters"
From discussion in LDM today (4/29/2019), this would help with async-iterator local functions that want to use `[EnumeratorCancellation]`.

We should also test other attributes:
- `[DoesNotReturn]`
- `[DoesNotReturnIf(bool)]`
- `[Disallow/Allow/Maybe/NotNull]`
- `[Maybe/NotNullWhen(bool)]`
- `[Obsolete]`
- ...

FYI @agocke

[2019-04-29 22:56] heejaechang opened #35352 "NFW in introduce variable. top 2 from 15.9"
[code]

...

https://features.vsdata.io/investigatefault?mt=MAC_ADDRESS_HASHES&et=FAULT&sd=2019-03-29&ed=2019-04-28&pn=vs&fn=ide/vbcs/nonfatalwatson&en=nonfatalwatson&fh=bcfbe09d-ba6b-44c6-a257-e56ab226236d&bl=d15.9$15.9.28307.586$15.9.11$visualstudio.15.release&bl=d15.9$15.9.28307.557$15.9.10$visualstudio.15.release&bl=d15.9$15.9.28307.518$15.9.9$visualstudio.15.release&bl=d15.9$15.9.28307.481$15

[2019-04-29 23:04] heejaechang opened #35353 "NFW on document navigation service - top 3 on 15.9"
Microsoft.VisualStudio.LanguageServices.Implementation.VisualStudioDocumentNavigationService.CanNavigateToSpan(Workspace,DocumentId,TextSpan)

https://features.vsdata.io/investigatefault?mt=MAC_ADDRESS_HASHES&et=FAULT&sd=2019-03-29&ed=2019-04-28&pn=vs&fn=ide/vbcs/nonfatalwatson&en=nonfatalwatson&fh=64b8d182-a17b-9bfd-493d-ed4a737d2b2d&bl=d15.9$15.9.28307.586$15.9.11$visualstudio.15.release&bl=d15.

[2019-04-29 23:09] stephentoub commented on #35290
FYI, just happened again here:
https://dev.azure.com/dnceng/public/_build/results?buildId=172881&view=logs&jobId=2d8d410d-ec68-5b66-b034-32972d3a2938
[code]
This was on Linux.

[2019-04-29 23:29] LeeMSilver commented on #31868
Same problem here. Note that this was originally reported on 7/20/2017 - close to 2 years ago. I fully realize man-power has to be allocated carefully, but this seems to me to be a fairly simple to fix - especially as the option works for Fields and only fails for Locals.

[2019-04-29 23:33] #34299 closed

[2019-04-29 23:35] #34018 closed

[2019-04-30 00:02] jcouv commented on #35290
Thinking about this over the weekend, there is one area that changed in Roslyn 3.0 and feels suspicious in light of this issue.

Considering an example: before Roslyn 3.0, a `FieldSymbol` used to have a `TypeSymbol lazyType` field (with `TypeSymbol` being a reference type). We would do:
[code]

With the introduction of nullability annotations, this pattern changed. `FieldSymbol` now has a `TypeWit

[2019-04-30 00:20] stephentoub commented on #35290
It's definitely suspicious.  I don't know the codebase, but I just browsed around a little.  Notice that in InterlockedInitialize, _nullableAnnotation is being set prior to the interlockeds and prior to _defaultType being set.  Further. IsDefault will then start returning false if _nullableAnnotation was set to non-zero, and that'll happen prior to _defaultType being set.  Then code like:
http://s

[2019-04-30 00:29] ivanbasov commented on #35292
This is a new deadlock. The one we fixed before happened in `InteractiveHost.RemoteService`.

The current one is between `InteractiveHost` and `InteractiveWindow`. Both have own lock guards and both can call each other. In the situation, each of them set own lock and called another one (different threads and different methods: `Close/Dispose` vs `Write`). Each called method waited for another host

[2019-04-30 00:36] bichuga opened #35357 "AdditionalFiles is empty in CompilationStartAnalysisContext.Options.AdditionalFiles but correct in SyntaxNodeAnalysisContext.Options.AdditionalFiles"
**Version Used**:
Microsoft CodeAnalysis 2.8
Visual Studio 2019 Preview 2

**Description**
AdditionalFiles is empty on a CompilationStartAction but is correctly populated on a SyntaxNodeAction. This prevents users from taking action which require AdditionalFiles at compilation start.

**Steps to Reproduce**:

1. Create an analyzer which registers a CompilationStartAction

        public override v

[2019-04-30 00:37] #33257 closed

[2019-04-30 00:37] #35151 closed

[2019-04-30 01:34] KirillOsenkov commented on #24061
Yes, this bug no longer applies since the options have changed significantly.

[2019-04-30 01:34] #24061 closed

[2019-04-30 02:10] vsfeedback opened #35358 "Crash trying to unload project from large solution"
**Build filed on** : 15.7.27612.0
**Priority** : 1

I have a large (~400 project) solution and I've been experimenting with manually unloading projects (by right-clicking and saying unload in the solution explorer) as an alternative to the Funnel extension that no longer works in VS 2017. Some projects unload no problem. Others take a really long time, or never finish unloading, or crash. I'm atta

[2019-04-30 04:01] ivanbasov commented on #35292
@jinujoseph I'd suggest to target fix for 16.2.

[2019-04-30 04:10] davkean commented on #35358
Adding context:
@sharwell said:

@heejaechang said:

[2019-04-30 04:12] davkean commented on #35357
Is this a SDK-based project? This might because design-time build hasn't finished which then pushes this to Roslyn.

[2019-04-30 04:15] davkean opened #35360 "[Regression] Unloading a project/solution crashes Visual Studio if there is pending Roslyn work"
This was introduced in https://github.com/dotnet/roslyn/pull/34785.

Visual Studio is crashing on me if I close a Solution before Roslyn has finished analyzing the project for Designer attributes via DesignerAttributeIncrementalAnalyzer.

[code]

[2019-04-30 04:16] davkean commented on #35360
This work should be tied to the lifetime of the project, and should be cancelled if the project is unloaded.

[2019-04-30 04:16] davkean commented on #35360
tag @heejaechang

[2019-04-30 05:36] bichuga commented on #35357
Nope, just a vanilla project.

On Mon, Apr 29, 2019 at 9:13 PM David Kean <notifications@github.com> wrote:

[2019-04-30 07:40] VBAndCs commented on #34816
So, is this a bug to be or not? If it is a bug, is there a plane to be fixed?
Please, I need this feature back ASAP. Is there any workaround?

[2019-04-30 08:29] wizzardmr42 commented on #25977
oh, it might only be a problem in earlier versions

[2019-04-30 08:29] jimmyheaddon opened #35361 "C# compiler should report CS0121 consistently between VS2017 and VS2019, when ambiguous call is detected in named method syntax"
**Version Used**: VS2017 Enterprise (15.9.11) and VS2019 Enterprise (16.0.2)

**Steps to Reproduce**:

1. Create a .NET Standard 2.0 class library
2. Reference NuGet package System.Threading.Task.Dataflow v4.9.0
3. Replace `Class1.cs` contents with

[code]
4. Compile in VS2017 Enterprise
5. Compile in VS2019 Enterprise
6. VS2017 will have thrown a CS0121 compilation exception, whereas VS2019 won't

[2019-04-30 09:49] jimmyheaddon commented on #35361
If it's useful, I've saved off the build Output (diagnostic verbosity) for both VS2017 and VS2019, which I can provide.  I've opted not to attach them publicly, as they contain personal and potential sensitive organisation information.

[2019-04-30 13:50] Korporal commented on #35324
This is present also in latest: 3.2.0-beta1-19229-02

[2019-04-30 14:21] Korporal opened #35363 "Ongoing IDE error messages in VS 2019 for valid code."
**Version Used**:  3.2.0-beta1-19229-02

**Steps to Reproduce**:

1. Create a generic class where `T` is constrained as `unmanaged`
2. Invoke methods on class using a truly `unmanaged struct`

**Expected Behavior**: The code is legal and compiles so the IDE should not report errors.

**Actual Behavior**: Errors are reported in the IDE when editing and when building (but the output window says clea

[2019-04-30 14:26] jmarolf commented on #34816
I believe this is "by design" in that we intentionally didn't add this feature in 2015 for the 1.0 release of roslyn because we wanted to see how many people missed it.

There is no workaround, the feature is not implemented

[2019-04-30 15:06] sharwell commented on #19030
Also reported here:

🔗 https://developercommunity.visualstudio.com/content/problem/549315/visual-studio-1602-c-code-style-formatting-spacing.html
🔗 https://developercommunity.visualstudio.com/content/problem/549337/visual-studio-1602-editor-keep-tabs-option-inserts.html

[2019-04-30 15:37] ViktorHofer commented on #35290
Right the title was misleading, this is not MacOS/RedHat specific.

[2019-04-30 15:58] cston opened #35365 "Incorrect warnings with deconstruction in `foreach`"
[code]
[code]

[2019-04-30 16:52] CyrusNajmabadi commented on #31868
@LeeMSilver Would you be interested in contributing a fix? Roslyn is open source after all :)

[2019-04-30 16:57] VBAndCs commented on #34816
This issue is not XML literal specific. Intelligence also ignores xsd schemas used to verify xml documents oppened in xml editor. Html also has the same issue with xsd schemas defined in  package/schemes folder in Vs folder. And maybe more. There could be many reports about this but in other places of. Net.
So, this is a wide spread issue related to roslyn and vs, and I don not think it was intend

[2019-04-30 16:57] CyrusNajmabadi commented on #35363
@Korporal I do not see the behavior you're talking about:

![image](https://user-images.githubusercontent.com/4564579/56979271-3f872580-6b2e-11e9-8c59-8731ba79492b.png)

![image](https://user-images.githubusercontent.com/4564579/56979301-4f9f0500-6b2e-11e9-84d1-b928faead048.png)

![image](https://user-images.githubusercontent.com/4564579/56979317-5cbbf400-6b2e-11e9-97b0-0caae616e0a8.png)

Can you

[2019-04-30 16:59] maca88 commented on #35167
After some debugging I find out that `NHibernate` assembly was resolved two times, which produces duplicate symbols that causes the mentioned issue. Internally, `SymbolFinder.FindImplementationsAsync` finds symbols in both assemblies but are filtered before returing them by using `SymbolAndProjectIdComparer.SymbolEquivalenceInstance`, which removes the "correct" symbols in this case:
https://githu

[2019-04-30 16:59] #35167 closed

[2019-04-30 17:03] Korporal commented on #35363
@CyrusNajmabadi - Sure, away from office just now will try to clarify later today.

[2019-04-30 17:04] CyrusNajmabadi commented on #34816
Roslyn doesn't power the xml editor or html editor.

Please file an suggestion here if you would like this to be supported.  The Xml and Html editor teams can decide if they want to invest in this:

![image](https://user-images.githubusercontent.com/4564579/56979687-3c406980-6b2f-11e9-9087-525eaf3cb70d.png)

I would be happy to work with you to provide such an extensibility model.  I can point you

[2019-04-30 17:16] cston commented on #35365
Duplicate of https://github.com/dotnet/roslyn/issues/35131.

[2019-04-30 17:16] #35365 closed

[2019-04-30 17:20] #35278 closed

[2019-04-30 17:22] #33006 closed

[2019-04-30 17:39] VBAndCs commented on #34816
@CyrusNajmabadi

I am not requesting a new features. Documentations state that theses are already working features but they are not! The xml editor successfully uses the XSD schema to validate the xml file, but doesn't offer tag and attributes names in auto complete. It seems as a general issue in intellisense, and should be addressed by the team who is programming the "Intellisense Provider / Eng

[2019-04-30 17:55] svick commented on #35361
I believe this is the expected behavior. What happens is:

1. C# 7.3 introduced "Improved overload candidates" (https://github.com/dotnet/csharplang/issues/98), which means code like yours that didn't previously compile does compile now.
2. Latest updates of both major versions of VS support C# 7.3, but the default for VS 2017 is still C# 7.0.

This is why your code compiles in VS 2019 (because th

[2019-04-30 17:57] jimmyheaddon commented on #35361
Thanks for the quick response @svick, I hadn't considered that!  I'm happy to close this, if you're confident it's expected behaviour? :)

[2019-04-30 18:00] agocke commented on #33320
@mrvoohe I just ran this sample 100 times and didn't see a failure. One thing I noticed: I had to fix up the code to call `dotnet` instead of the exe path and pass `csc.dll` as a parameter. How are you hosting the compiler in your build process?

[2019-04-30 18:17] 333fred commented on #35296
Dupe of https://github.com/dotnet/roslyn/issues/35296.

[2019-04-30 18:29] #35296 closed

[2019-04-30 18:35] #29956 closed

[2019-04-30 18:44] gafter opened #35366 "Warn using Begin/End Invoke targeting a runtime that doesn’t support the methods"
See https://github.com/Microsoft/dotnet-blog/pull/319

Wonder if this should be a candidate for warning waves. Essentially when you use Begin / End Invoke and we are targeting a runtime that doesn’t support the methods.

/cc @jaredpar @jcouv @MadsTorgersen @richlander

[2019-04-30 18:47] jmarolf commented on #34816
Unfortunately that team is not on github. As @CyrusNajmabadi says filing a feedback item is the fastest way to get this fixed. If you reply on here with a link to the feedback item I can make sure the right teams see it.

[2019-04-30 19:09] ivanbasov commented on #35301
This is a follow up for https://github.com/dotnet/roslyn/pull/35310. It seems there is no need to fix it in 16.1. The issue is not a regression and happened long ago.

[2019-04-30 19:10] gafter commented on #35334
/cc @cston I think you were looking at conversions.

[2019-04-30 19:20] CyrusNajmabadi commented on #34816
This is not the roslyn team, as i already stated.  If you want these teams to fix these issues please follow the steps i listed above.

No.  But i'm happy to help walk you through how this could work.  Feel free to reach out on gitter.im if you do want to try adding support for this.

[2019-04-30 19:22] gafter commented on #35298
@canton7 is correct.  The compiler is correct.  `KeyValuePair<TKey, TValue>` does not define any `operator ==`.

[2019-04-30 19:22] #35298 closed

[2019-04-30 19:26] RikkiGibson commented on #35324
Will have a look. Is there any additional error info contained in the exception?

[2019-04-30 19:29] ivanbasov commented on #33862
Fixed with https://github.com/dotnet/roslyn/pull/34729

[2019-04-30 19:29] #33862 closed

[2019-04-30 19:50] mavasani commented on #35357
@bichuga I am unable to repro your issue. I have attached the Analyzer project, [Analyzer1.zip](https://github.com/dotnet/roslyn/files/3132894/Analyzer1.zip), that I created with your repro steps and the target analysis solution, [ClassLibrary16.zip](https://github.com/dotnet/roslyn/files/3132895/ClassLibrary16.zip), with 2 projects:
1. SDK-style netstandard C# class library
2. csproj based .NETFr

[2019-04-30 19:57] RikkiGibson commented on #35324
Actually I find that even the following program gets TypeLoadException:
[code]

But this one *does not*:
[code]

[2019-04-30 20:04] RikkiGibson commented on #35324
It appears this is a known issue noted in dotnet/coreclr#20220

[2019-04-30 20:11] mwpowellhtx opened #35371 "Ctor Initializer normalization is inconsistent with neighboring areas like class decl lists"
I present the issue by contrast, when I specify a class declaration without trivia then request ``.NormalizeWhitespace()``, I get something like this for a class declaration, which is what I would expect, focus on the colon normalization:

[code]

However, when I generate a constructor, the constructor initializer does not normalize quite like I would expect, we get this:

[code]

The behavior is

[2019-04-30 20:22] ivanbasov commented on #34089
Fixed with https://github.com/dotnet/roslyn/pull/34095

[2019-04-30 20:22] #34089 closed

[2019-04-30 20:36] jinujoseph commented on #33345
fixed via https://github.com/dotnet/roslyn/pull/33643

[2019-04-30 20:36] #33345 closed

[2019-04-30 20:46] tmat opened #35372 "SolutionEventsBatchScopeCreator._isSubscribedToSolutionEvents is always false"
Dead code:

https://github.com/dotnet/roslyn/blob/defeca5d0e44915fc978cfd93d3de2e4a6d0dbf4/src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/SolutionEventsBatchScopeCreator.cs#L109-L125

[2019-04-30 20:51] tmat commented on #35372
@jasonmalinowski

[2019-04-30 20:56] gafter opened #35374 "Remove CSharpCompilation.WithAdditionalFeatures"
Compilation.Features is, by design, supposed to be the a copy of the Features of all of the syntax trees, which are supposed to be the same as each other.  This is checked when the compilation is created.  If they are not the same, we throw `throw new ArgumentException(CodeAnalysisResources.InconsistentSyntaxTreeFeature, nameof(trees))`.

The recently introduced (nonpublic) method `CSharpCompilati

[2019-04-30 21:02] gafter commented on #35374
It is only used in one place:

[code]

But nullable analysis does not require a feature flag.  All of this is therefore dead code and can be removed.

[2019-04-30 21:13] dpoeschl commented on #29361
@tmeschter @CyrusNajmabadi If I understand correctly... we do want to localize these strings in Roslyn, and I have confirmed that Cyrus has indeed localized them with appropriate comments. So I think we're done here.

[2019-04-30 21:13] #29361 closed

[2019-04-30 21:22] CyrusNajmabadi commented on #29361
@dpoeschl Not quite.  The core concern here is the loc burden and deviations between roslyn's loc, and msdn's loc.

i.e. i copied the english parts of msdn into roslyn.  The roslyn loc people likely loc'ed in as best they could.  but msdn's loc people will have done the same.  There's nothing really ensuring that hte roslyn loc matches well with the msdn loc.

That said... this probably isn't impo

[2019-04-30 21:37] tmat opened #35376 "Remove custom entry point finder from Microsoft.VisualStudio.LanguageServices.Implementation.ProjectSystem.AbstractEntryPointFinder"
Use `Compilation.GetEntryPoint` instead.

Also, use `IEntryPointFinderService` MEF component in `ICSharpProjectSite.GetValidStartupClasses` `IVbCompilerProject.GetEntryPointsList` and move the MEF component to Features.

Update the interface to take a ProjectId instead of a symbol. So that `GetValidStartupClasses` and `GetEntryPointsList` do not access symbols directly.

[2019-04-30 21:46] tmat commented on #35376
The current implementation seems to be out-of-date and not support `async Main`.

[2019-04-30 21:50] gafter commented on #35374
/cc @333fred

[2019-04-30 22:19] chborl opened #35377 "Refactor WrappingFormattingRule.cs to add suppression operation based on option"
Currently, we are adding all suppression rules first and then removing some suppressions based on option.

Per comments posted by @heejaechang in https://github.com/dotnet/roslyn/pull/34959, we should change the code to instead add suppression options based on option.

[2019-04-30 22:26] tmat opened #35378 "Design new interface between Project System and Roslyn"
#### WIP Proposal

Project System:

[code]

Roslyn:
[code]

[2019-04-30 22:26] tmat commented on #35378
@panopticoncentral Looks reasonable?

[2019-04-30 22:53] jcouv opened #35381 "`SourcePropertySymbol` constructor sometimes sets the property twice"
In some error scenarios (bad overrides) we set the type of the property a second time.
The problem is that the first type matters (it causes side-effects) which are not undone when the type is set the second time.

See the constructor for `SourcePropertySymbol`:
[code]

[2019-04-30 23:11] 333fred commented on #35374
I changed the title to reflect removing this API. Currently, to get information out of the semantic model you must set this feature flag, this bug will track removing the API when this is no longer true.

[2019-04-30 23:26] ivanbasov commented on #4474
Could not reproduce with current bits 16.0.3.
Here is my sample code:
[code]

tried both Ctrl+J and completion on insertion on $$. Both work fine.

[2019-04-30 23:26] #4474 closed

[2019-04-30 23:41] CyrusNajmabadi commented on #35371
@mwpowellhtx You can use the roslyn workspace formatter (not the same as NormalizeWhitespace) to better handle formatting and to more closely align with how people format in VS.  That API is available here:

https://github.com/dotnet/roslyn/blob/bc1540c4ccf2f07e4b6a3641675b74c85ac29a7a/src/Workspaces/Core/Portable/Formatting/Formatter.cs#L160

[2019-04-30 23:41] CyrusNajmabadi commented on #35371
No.  The point of normalization is to remove any sort of policy.  That way it gets *normalized* to one uniform form.

[2019-04-30 23:44] CyrusNajmabadi commented on #35371
@mwpowellhtx If you would like to contribute a fix here, you can find the requisite code at: https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Syntax/SyntaxNormalizer.cs

That said, it will take time for that to go through and be released in a form you can then use.  You can use [Formatter](https://github.com/dotnet/roslyn/blob/bc1540c4ccf2f07e4b6a3641675b74c85ac29a7a/src/

[2019-04-30 23:54] bichuga commented on #35357
@mavasani I discovered that this bug repros only on the first time opening a project. If you close your solution and reopen, additionalfiles is populated properly for CompilationStart. I've updated the repro steps to reflect.

[2019-04-30 23:57] mwpowellhtx commented on #35371
@CyrusNajmabadi Nice try, but I do not have the bandwidth beyond observing the bug and reporting the issue.

[2019-05-01 00:05] CyrusNajmabadi commented on #35371
This is likely the code to fix:

https://github.com/dotnet/roslyn/blob/bc1540c4ccf2f07e4b6a3641675b74c85ac29a7a/src/Compilers/CSharp/Portable/Syntax/SyntaxNormalizer.cs#L391-L398

You could potentially do the PR entirely on github.  Note that you'll have a couple of tests to fixup here:
https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs

[2019-05-01 00:20] RikkiGibson commented on #35114
Just checking my understanding:

- We *do* want to emit the metadata where the `readonly` keyword was specified on the member in source.
- We specifically want to *elide* the `IsReadOnlyAttribute` for a struct instance auto-getter when it's contained within a readonly struct and no `readonly` keyword is present on the member.

[2019-05-01 00:29] LeeMSilver commented on #31868
Cyrus: Since the apparent cause is conflicting options I believe the problem is in VS and not in Roslyn.

[2019-05-01 00:34] 333fred commented on #35046
`GetTypeInfo` will need to note the consequences of suppressions on expressions. See https://github.com/dotnet/roslyn/issues/32661.

[2019-05-01 00:48] CyrusNajmabadi commented on #31868
@LeeMSilver Seems unlikely here... all this woudl fall under the Roslyn umbrella unless i've missed something.

[2019-05-01 01:38] tmat opened #35386 "Refactor Code Model for OOP"
Split the implementation into two parts - one that only operates on Roslyn syntax and semantic nodes and is VS independent, and the other that constructs code model objects from `SyntaxNodeKey`. Move the former to OOP and communicate with VS using `SyntaxNodeKey`.

[2019-05-01 02:42] xwlantian opened #35387 "Intellisense for the Is pattern match"
Using `is` pattern matching expression is a convenient way to check not null and define a new local variable:
[code]
It would be nice if there is a intellisense for the type `List<int>` after typing the space after `is` since the type of the variable `list` is already known. In the case of left side of `is` is a expression, the intellisense could be even more helpful to infer the return type of th

[2019-05-01 03:16] heejaechang opened #35388 "check whether existing analyzer that return true for OpenFileOnly is returning right value"
some have concerns that some analyzers return wrong value for OpenFileOnly (http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/IBuiltInAnalyzer.cs,28)

so someone should go through all our analyzers to check whether they return correct value.

[2019-05-01 03:44] tannergooding commented on #35114
I don't see the need to ever emit it directly for members of a readonly struct. The attribute on the struct itself already indicates that all instance members are themselves readonly, so including it in metadata on individual members of a readonly struct (even if manually specified in source) is effectively just bloat.

That is in comparison to readonly members of mutable structs, where the keywor

[2019-05-01 06:40] CyrusNajmabadi commented on #35387
it's much nicer and simpler to just write that as:

[code]

Now you can do the null check without having to repeat the type name redundantly.

I bring this up because my expectation is that the vast majority of cases, the type after the 'is' will not be the type of the expression, it will be some other subtype/interface.  And for the one case you wrote, the recommendation woudl be to not use that

[2019-05-01 11:34] InRedikaWB opened #35389 "Nulalble enum constraint"
**Version Used**:
C# 7.3 (on Framework 4.7.2 and Core 2.2)

**Steps to Reproduce**:
1. Create a project, set C# version to 7.3
2. Declare method
[code]

**Expected Behavior**:
Method which works only with Nullable enums

**Actual Behavior**:
**CS8627** - A nullable type parameter must be known to be a value type or non-nullable reference type. Consider adding a 'class', 'struct', or type constrain

[2019-05-01 12:36] xwlantian commented on #35387
Thanks, I didn't know `{}` expression and it looks like only in vs2019. Since `is` doesn't have any intellisense right now, maybe `{}` or the left expression type can be a good candidate for that.

[2019-05-01 13:16] davkean commented on #27010
Just as a reminder this was never resolved, this has not worked on my machine for over a year. I have various versions of Visual Studio installed and this feature works in none of them.

[2019-05-01 13:26] AdamSpeight2008 opened #35392 "Test Method not catching an exception, thus not producing a result."
This thrown exception at [DesktopRuntimeEnviroment.cs#L245](https://github.com/dotnet/roslyn/blob/8b154a48f7e867747599a04f5e2481f4956011c8/src/Test/Utilities/Portable/Platform/Desktop/DesktopRuntimeEnvironment.cs#L245) can cause the method `CompileAndVerify` to not produce a result at all. I'd expect all exceptions to be caught with these methods.

Note: True this result is due to *(me)* producing

[2019-05-01 13:33] jmarolf commented on #27010
I was looking at something on @mikadumont 's machine and this codefix did not show up there either. @sharwell can you confirm this feature working via telemetry? The nuget index may just be too far out of date.

[2019-05-01 13:40] canton7 commented on #35332
Of course, if we *don't* hit the path for reference types when `T` is a `Nullable<X>`, then things like `field?.ToString()` won't work. This is because `Nullable<X>.ToString()` returns `""` if it doesn't have a value, but if we box it to `null` and then call `?.ToString()`, we'll get `null`. Same for `.Equals`.

However, the constraints of:

1. Field must only be read once, and must not be overwri

[2019-05-01 13:41] onovotny opened #35393 "IntelliSense window is incorrectly sized"
**Version Used**: latest

**Steps to Reproduce**:
Turn on the experimenal intellisense completion feature. Type `new X`

**Expected Behavior**:
IntelliSense dialog is sized correctly

**Actual Behavior**:
Dialog is too narrow until you scroll, then it resizes correctly. Initially it cuts off the namespaces. My display is set at 200% display scaling.

![image](https://user-images.githubusercontent.

[2019-05-01 13:43] davkean commented on #35393
tag @genlu @olegtk Is this Roslyn or editor?

[2019-05-01 14:01] davkean commented on #27010
I debugged into this. This is because my NuGet.org source was named "NuGet" and not "nuget.org", switching back to nuget.org resolved this:

![image](https://user-images.githubusercontent.com/1103906/57020649-44062800-6c6d-11e9-8c2e-f5009b057fae.png)

There has to be a better way to find the data that matches that source.

[2019-05-01 14:37] Korporal commented on #35324
@RikkiGibson - I got the impression when looking at this that the compiler may be assuming that structs which contain references of any form to themselves are invalid as structs are laid out as values not references to value and this clearly leads to infinite recursion.

Of course exposing only a `ref T` and `T*` are quite different but the above assumption (if present) might be deeply ingrained i

[2019-05-01 14:48] jmarolf commented on #27010
Yeah, we should just key off of the source URL, not the name, that is too brittle

[2019-05-01 14:49] jmarolf commented on #27010
I'll confirm this is what happened on @mikadumont 's machine but it seems likely since all the repos in dotnet mess with the default package source

[2019-05-01 14:50] jmarolf commented on #27010
@davkean can you change the repro steps now that we know whats going on?

[2019-05-01 14:59] vsfeedback opened #35394 "NullReferenceException in CodeElementCache when the .cs extension is exported from an extension"
When I create a VS extension that exports a content type for the .cs extension, VS crashes when a .cs file is opened. The crash is in Microsoft.VisualStudio.CodeSense.Roslyn.CodeElementCache.

Extension code:

[code]

Full extension project is in an attachment.

Exception stack trace:

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/347756/nullre

[2019-05-01 15:01] sharwell commented on #35394
Tentatively marking this as **Won't Fix**, as this is not a scenario we would plan to build tests and maintain support for. I will update with a final conclusion following the design review.

[2019-05-01 15:15] olegtk commented on #35393
@AmadeusW

[2019-05-01 16:08] jmarolf commented on #27010
It was easier to just fix this over breakfast: https://github.com/dotnet/roslyn/pull/35397

[2019-05-01 16:18] verelpode commented on #25676
Likewise the problem also occurs when accessing struct members via a `ref readonly` local variable:

[code]

[code]

[2019-05-01 16:57] vsfeedback opened #35400 "Bold font doesn't work on static class names"
VSF_TYPE_MARKDOWNWhen I set bold font on `User Types - Classes` option, it affects only non-static class names.

What is expected: It affects all class names, static and non-static. This behavior was in VS2017, now it is broken.

I've also noticed a new option -- `Symbol - static`. But it doesn't help me since it makes names of static members bold. However, I want to have class names bold, but the

[2019-05-01 17:00] #35290 closed

[2019-05-01 17:03] wanton7 commented on #35203
@canton7 no it's not working as expected because it's returning IDE0059 "Value assigned to 'globalImage' is never used" that means `globalImage` variable is never used, but it is used. If it was working as expected it would return something else like "null assigment is unnecessary".

[2019-05-01 17:10] dpoeschl commented on #32533
Same thing again but a different individual test, `GenerateMethodUsingTypeConstraint_3BaseTypeConstraints_CommonDerivedNestedType`, in https://dev.azure.com/dnceng/public/_build/results?buildId=175043

[2019-05-01 17:33] vsfeedback opened #35402 "Intellisense on lambdas as method arguments in Visual Studio 2019 is not working"
VSF_TYPE_MARKDOWN
[code]

The intellisense popup when dotting opt in the above example, is the intellisense for the action delegate and not the IOption parameter.

Doing the following works fine

`Action<IOption> act = opt => opt. Something();`

So it's only when used as a parameter for a method call that the problem exists.

_This issue has been moved from https://developercommunity.visualstudio.

[2019-05-01 17:47] jinujoseph commented on #35322
cc @tmat

[2019-05-01 17:55] jinujoseph commented on #35118
https://github.com/dotnet/roslyn/pull/24759

[2019-05-01 18:00] nkolev92 opened #35404 "IPackageInstallerService queries the source for NuGet, for what purpose?"
Follow up to https://github.com/dotnet/roslyn/pull/35364.

The service that recommends packages based on the APIs used queries nuget for the sources enabled?

What's the purpose of this?
Does it query the sources on its own, or is it used to simply pass them back to nuget when calling the IVSPackageInstaller/IVSPackageInstaller2 APIs.

@sharwell

[2019-05-01 18:00] canton7 commented on #35203
@wanton7 it highlighted the line `GlobalImage globalImage = null;`, and said "*value* assigned to 'globalImage' is never used". It didn't say that the `globalImage` variable is never used, it said that the value assigned on that line (i.e. the `null`) is never used.

Are you saying that you would like to change the message from "value assigned to 'globalImage' is never used" to something like "ass

[2019-05-01 18:01] genlu commented on #35173
@jasonmalinowski Should we expose default namespace as a public API?

[2019-05-01 18:02] sharwell commented on #35187
Tentatively marking this as **By Design**. I will update this with the final conclusion after the design review meeting.

[2019-05-01 18:05] jinujoseph commented on #35188
cc @tmeschter

[2019-05-01 18:09] jinujoseph commented on #35196
cc @tmat

[2019-05-01 18:26] wanton7 commented on #35203
@canton7 You are right! I'm not an English speaker and I read it like it's `globalImage` variable is never used. Closing this because it's probably working as intended.

[2019-05-01 18:30] jinujoseph commented on #35260
@chborl can you validate if this is already fixed

[2019-05-01 18:31] jinujoseph commented on #35297
cc @tmat

[2019-05-01 18:33] sharwell commented on #35404
@CyrusNajmabadi Can you give an overview of what we use the `PackageSources` property for?

[2019-05-01 18:41] ivanbasov commented on #35402
It is a duplicate of https://github.com/dotnet/roslyn/issues/35027. Should be fixed with https://github.com/dotnet/roslyn/pull/35067 in 16.1 Preview 3. Please let me know if there are any issue with it.

[2019-05-01 18:41] #35402 closed

[2019-05-01 18:45] krwq opened #35406 "Nullable: Cannot use a type without a warning - constraint always fails"
**Version Used**:
sharplab with master (Apr 30)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

No warnings.

**Actual Behavior**:

2 Warnings:

[code]

Sorry for the title but it's hard to write a sentence from above repro

cc: @dotnet/nullablefc

[2019-05-01 18:49] jinujoseph commented on #35224
Duplicate of #34962

[2019-05-01 18:49] #35224 closed

[2019-05-01 18:51] jasonmalinowski commented on #35357
@bichuga Are you not seeing a later CompilationStartAction that does have it? The repro steps as written are not really testing the right thing: when a project is loading it's perfectly "normal" to see files missing while we still load project information. Because collecting everything is expensive, we do that as asynchronously as possible.

[2019-05-01 19:02] chborl commented on #35260
This is a new issue.  The parser thinks this is an argument list, so complete statement is trying to place the semicolon at the end of the statement.
![image](https://user-images.githubusercontent.com/25776963/57036368-f22bb680-6c08-11e9-9219-308353b46835.png)

[2019-05-01 19:14] mavasani commented on #35203
@wanton7 @canton7 Thanks for all the comments in the issue. We have got few more VS feedback issues opened where people got confused with the message and thought it was flagging an unnecessary variable as opposed to unnecessary value assignment. I am going to re-open this issue to track improving the message. Possibly something like "Remove unnecessary assignment to '{0}'" OR "Assignment to '{0}'

[2019-05-01 19:16] mavasani commented on #35203
Also note that IDE0059 will also be raised for unnecessary out variables. For e.g.

[code]

Are the new suggested messages fine for this case as well?

[2019-05-01 19:19] mavasani commented on #35357
I agree with @jasonmalinowski here. The expectation for analyzer execution in IDE is to see deterministic behavior after the project/solution loading etc. has come to a steady state.

[2019-05-01 19:51] gafter opened #35408 "Remove "safeonly" options for nullable ref types feature"
At LDM today we decided to remove the "safe only" options (that are essentially the same as the enabled option with CS8600 disabled).  We'll write something telling people how and why to control CS8600 separately.

[2019-05-01 19:52] jasonmalinowski commented on #35357
And there may be a bug here too as we generally shouldn't be starting IDE analyzers until after we do have the design time build because there isn't much of a point of running them. But if a design-time build entirely failed, we still wouldn't have them and would run analyzers anyways.

[2019-05-01 19:53] tmat opened #35409 "CSharp_FixupSpanDuringResolvableConflict_NeedsEscaping failed in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=175271&view=logs

[2019-05-01 21:13] jmarolf commented on #35404
So we have an index of all the types in the to 1,000 most downloaded nuget packages on nuget.org.  Theoretically when the feature was written we thought about including other nuget sources or allowing users to index their own but that isn't done yet.

My understanding is that we only wanted to offer to add nuget packages if:
1. The user is actually using nuget.org to get their packages (several re

[2019-05-01 21:27] gafter opened #35412 "Return original and suppressed nullability for `!` operator"
Currently, when you `SemanticModel.GetTypeInfo` an expression `e!`, the resulting `Nullability` and `ConvertedNullability` are both `NotNull`.  However, it would be possible for us to return the "original" nullability, so that for example in an expression such as `null!` we return `MayBeNull` for the original nullability and `NotNull` for the converted nullability.

See also https://github.com/dot

[2019-05-01 21:47] vsfeedback opened #35413 "Parallel.ForEach double tab snippet is wrong"
VSF_TYPE_MARKDOWNIn Visual Studio 2019, open a CSharp project.
In a .cs file, type **Parallel.ForE**, then, the autocompletion will show you &quot;Parallel.Foreach&quot; and suggest you to press the Tab key twice to insert the snippet.

However, if you press Tab twice, the snippet is the &quot;foreach&quot; snippet and not the &quot;Parallel.ForEach&quot; snippet.

_This issue has been moved from

[2019-05-01 21:58] vsfeedback opened #35415 ""Use Auto Property" should not fade fields as unnecessary"
VSF_TYPE_MARKDOWNIf a field is only set in the constructor and accessed in a property declared with an arrow, then the field higlight will be the same as for unused fields; however, using a real getter which access the field does indeed display the correct syntax highlighting.

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/530412/incorrect-synt

[2019-05-01 22:09] davkean commented on #35357
In the repro, both the analyzer and additional file are added at the same time to Roslyn in the same batch, @jasonmalinowski why wouldn't the analyzer see this?

[2019-05-01 22:21] vsfeedback opened #35416 "Hebrew Character handling in Visual Studio 2019"
VSF_TYPE_MARKDOWNHey support,

I was making a console application in visual studio and wanted to use some unicode characters.
After inserting the (ﬡ) 'Hebrew Litter Wide Alef' (U+FB21) in the Console.WriteLine(&quot;ﬡ&quot;); method, I wasn't able to remove the character when I wanted to. This may be related to the right-left reading of the alphabet in other languages.

Kind regards,

Carlos Schip

[2019-05-01 22:25] Tape-Worm opened #35417 "Getting IDE0008 while casting to an obvious type"
**Version Used**:
Visual Studio 2019 16.0.3
.NET 4.7.2

**Steps to Reproduce**:
I have this code `var id = (ulong?)reader.ReadAsDecimal();` and it's giving me an IDE0008 warning.  This is not at all right as I can clearly see that the casted type will be a nullable ulong.

**Expected Behavior**:
I should not be getting IDE0008

**Actual Behavior**:
I'm getting IDE0008

[2019-05-01 22:32] canton7 commented on #35203
Personally I'd say something like "Value is written to '{0}' which is never read, or is overwritten before being read".

I think I'd try and avoid the word "assignment" in the active sense, since it's a little unclear in the context of out variable assignments ("but I'm not assigning anything to it: I'm just passing it to a method"). Using the passive seems to make it a bit clearer: "is assigned t

[2019-05-01 22:37] vsfeedback opened #35419 "Tool Tips reporting erronious information"
VSF_TYPE_MARKDOWNTool Tips is reporting that a type variable with the same name as a class is the class.

Example code:
[code]

Tool tips is showing that for this line: `public override int Method&lt;Record&gt;(Record input)` 'Record' is the class Record and not a type variable called 'Record', which is confusing. If things were as the tool tips is reporting than this line: `Console.WriteLine(thin

[2019-05-01 22:43] vsfeedback opened #35420 "No add reference option"
No add reference option appears after right-click reference

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/498243/no-add-reference-option.html
VSTS ticketId: 823203_
_These are the original issue comments:_

Visual Studio Feedback System on 3/19/2019, 11:51 PM (42 days ago): <p>We have directed your feedback to the appropriate engineering team for furt

[2019-05-01 22:52] VBAndCs commented on #34816
@jmarolf

Here it is:
https://developercommunity.visualstudio.com/content/problem/554115/intellisense-ignores-xsd-schema-definitions.html

Thanks.

[2019-05-01 23:10] gafter commented on #35416
I tried this and the backspace key did remove the character (even though the character appears to the right of the cursor).  I also tried hitting the left arrow key and hitting the delete character, and that worked too.

[2019-05-01 23:10] vsfeedback opened #35424 "Visual Studio 2019: in Console App cannot use unicode \u8377 or \u20B9"
VSF_TYPE_MARKDOWNit gives me console. Writeline(&quot;\u8377&quot;); gives result: ?

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/540833/visual-studio-2019-in-console-app-cannot-use-unico.html
VSTS ticketId: 852172_
_These are the original issue comments:_

Visual Studio Feedback System on 4/22/2019, 01:24 AM (9 days ago): <p>We have directed your fe

[2019-05-01 23:36] ryzngard commented on #35337
Expanding notes from investigation: It seems that all partial types with multiple definitions (which is likely all of them) currently don't work. The underlying check is [ContainsPartialTypeWithMultipleDeclarationsAsync](https://github.com/dotnet/roslyn/blob/336cd2dc8c38bee22c835be7a07acb17e7cc5c05/src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs)

[2019-05-01 23:56] bichuga commented on #35357
All CompilationStartActions for the lifetime of VS will have empty AdditionalFiles collection until you close and reopen VS.

[2019-05-02 00:07] jasonmalinowski commented on #35357
@davkean I guess until you say that now I couldn't assume that, since that's an implementation detail you're entitled to change.

OK, _that's_ the confirmation I wanted. That's....funky.

[2019-05-02 00:14] gafter opened #35428 "Add nullable annotations to Roslyn CodeAnalysis public APIs"
We should place proper nullable annotations on the public APIs of the compilers.

(Though possibly not on the APIs that have sources in VB)

[2019-05-02 00:30] onovotny opened #35429 "False "remove unused fields" & methods from XAML events"
**Version Used**: latest

**Steps to Reproduce**:

1. Clone https://github.com/NuGetPackageExplorer/NuGetPackageExplorer
2. Look at the information roslyn detects

**Expected Behavior**:
It should not have suggestions for removing unused parameters from event handlers where the signature matters. It also misses one event entirely and sees it as unused.

**Actual Behavior**:
![image](https://user-i

[2019-05-02 00:33] njannink opened #35430 "Improved invert generic arguments to generic 'extension' methods"
In my project we are using quite some fluent api's and it would be nice if the compiler / language can partly invert generic parameters based on passed arguments. This to make code better readable.

[code]

[2019-05-02 00:41] davkean commented on #35357
I think it's a good assumption that if Analyzer and AdditionalFiles are added at exactly the same time, either via a NuGet package or via a manual edit, then we can guarantee that Roslyn sees them at the same time. It would be up to Roslyn after that to make sure it appears in Options.AdditionalFiles at the same time as the analyzer is instantiated.

If the AdditionalFiles or the Analyzer are adde

[2019-05-02 01:09] jherby2k opened #35431 "False CA2000"
**Version Used**: 2.9.2

**Steps to Reproduce**:

Minimum repro (referencing Microsoft.PowerShell.SDK):

[code]

**Expected Behavior**:

No warning. The runspace is disposed with the ModuleFixture.

**Actual Behavior**:

CA2000 warning on `RunspaceFactory.CreateRunspace(state)`.

[2019-05-02 01:13] jcouv opened #35432 "Change msbuild property to "Nullable""
From LDM today (5/1/2019), we landed on `Nullable` rather than `NullableContextOptions` or `NullableReferenceTypes`.
The property should be a string, since it will accept "enable", "disable" and a couple other values.

Tagging @KathleenDollard @rainersigwald to confirm the name is okay in the msbuild ecosystem.

[2019-05-02 01:16] CyrusNajmabadi commented on #35404
That's correct. Originally the partners involved here wanted other package sources to be involved. Also, the user might not actually be using nuget.org.  So we query the list of packages

[2019-05-02 01:26] jherby2k commented on #35431
Oops wrong repo.

[2019-05-02 01:26] #35431 closed

[2019-05-02 02:03] heejaechang commented on #35388
@jinujoseph why is it assigned to me? I have no idea why some analyzers decide to return true for OpenFileOnly.

each author of analyzers should answer what made them to return true for OpenFileOnly?

do you want me to add all ide people to write here why they choose and not choose to return "false" for OpenFileOnly flag?

[2019-05-02 02:04] vsfeedback opened #35435 "VS 15.9.7 InvalidOperationException Unexpected Null"
Occured in VS 15.9.7

While typing in the IDE I got the follow error: ExtractMethodCodeRefactoringProvider encountered an error and has been disabled. Here is the stacktrace:

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/464228/vs-1597-invalidoperationexception-unexpected-null.html
VSTS ticketId: 796901_
_These are the original issue comments:

[2019-05-02 02:13] jcouv commented on #20418
All remaining possible work items are tracked as individual issues. We don't need this umbrella anymore.

[2019-05-02 02:13] #20418 closed

[2019-05-02 02:50] stephentoub opened #35436 ""go to definition" generated from metadata renders [NullableAttribute]"
**Version Used**:
16.1.0 Preview 2.0 [28822.285.d16.1

**Steps to Reproduce**:
Create an assembly that uses nullable annotations.  Then reference that assembly from a project, use a symbol from it, and go to definition.  Rather than seeing nullable annotations, the compiler-generated attributes show up:
![image](https://user-images.githubusercontent.com/2642209/57054586-6dba5180-6c63-11e9-96c9-bb9

[2019-05-02 02:56] sharwell opened #35437 "Proposal: symbol group equivalence optimization for simplifier"
The following hypothesis might be usable for optimizing the simplifier:

@jaredpar @gafter can you evaluate this hypothesis for correctness with respect to C# and VB?

[2019-05-02 03:01] sharwell opened #35438 "Proposal: member of type optimization for simplifier"
The following hypothesis might be usable for optimizing the simplifier:

@jaredpar @gafter can you evaluate this hypothesis for correctness with respect to C# and VB?

[2019-05-02 03:13] CyrusNajmabadi commented on #35388
@heejaechang You can reach out to the respective people to help them figure it out.  it's possible that the analyzer authors won't know and will need your help and assistance to figure out what the right thing is to to here.  You're the best to lead this effort as you know this API the best and understand the implications of what changes here will cause.

[2019-05-02 03:21] CyrusNajmabadi commented on #35419
I don't repro this at all.  The tooltip is correct:

![image](https://user-images.githubusercontent.com/4564579/57055198-a7cd2880-6c4e-11e9-8acd-c720a4f54a46.png)

[2019-05-02 03:56] epsitec commented on #35415
The code snippet should read:

[code]

[2019-05-02 04:18] CyrusNajmabadi commented on #35415
@epsitec Both are correctly faded out for me:

![image](https://user-images.githubusercontent.com/4564579/57056321-9ab43780-6c56-11e9-9228-1b1396b2b274.png)

The reason they're faded out is because both can be replaced with an auto-property.  i.e.:

![image](https://user-images.githubusercontent.com/4564579/57056326-a7d12680-6c56-11e9-9a93-0676fb464c68.png)

That's what invoking the suggested fix

[2019-05-02 05:15] epsitec commented on #35415
Indeed, the latest version of VS 2019 16.0.3 I just installed fixes the issue with the different colorization of `a` and `b`. Now both have the same colorization and the implementation of property `A` using `=>` is properly recognized as referring to `a`. It was not the case with the previous versions.

[2019-05-02 05:23] sharwell commented on #35388
New analyzers are not to use this. Existing analyzers should be migrated off of it.

[2019-05-02 05:27] sharwell commented on #35415
Per a recent design review, we decided to not fade situations like this. Fading should only be used in cases where we believe a true statement is "if you delete this code without other changes, things will not break".

[2019-05-02 05:31] sharwell commented on #30660
Design review conclusion:

1. Update the AD0001 implementation to report scenario-specific information to help with narrowing down the cause. Examples for some types of analyzer callbacks can be seen in [vs-threading](https://github.com/Microsoft/vs-threading/blob/f7230a9fc3599f5e00817c1a6d30691d80916fb4/src/Microsoft.VisualStudio.Threading.Analyzers/Utils.cs#L26-L81).
2. Further update the AD0001

[2019-05-02 05:35] sharwell commented on #27144
Design review conclusion:

We would accept a pull request implementing a new pair of refactorings to move a field initialization from the definition to a constructor, or vice-versa. This is straightforward for static fields, but instance fields need to make sure and handle multiple constructor scenarios. When moving the initialization from inline to an instance constructor, it would be acceptable

[2019-05-02 05:39] sharwell commented on #27213
Design review conclusion: fading was used for unnecessary code and also for discoverability, but we believe the noise from this mixed usage has become problematic. Fading should only be used for cases where deleting the faded code will not break the code. This diagnostic should be updated to not fade code, other diagnostics will be evaluated against this rule as needed.

[2019-05-02 05:42] sharwell commented on #35415
Per https://github.com/dotnet/roslyn/issues/27213#issuecomment-488558419, I'm marking this as a bug, up-for-grabs, and changing the title for clarity. The specific code that incorrectly applies fading is here:

https://github.com/dotnet/roslyn/blob/e051790e791e0ca6ed36404db17307bea868306e/src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyAnalyzer.cs#L331-L337

[2019-05-02 06:42] CyrusNajmabadi commented on #35415
@sharwell fair enough.   At the time we thought it was acceptable.  But it seems reasonable that it would just have the `...` as a normal indicator that there is something reasonable to be done here.

[2019-05-02 09:36] KernelLeak opened #35440 ""Initialize Interactive with Project" should also hook up app.config/web.config of the project"
**Version Used**: Visual Studio 2019 16.0.3

**Steps to Reproduce**:

1. Run "Initialized Interactive with Project" from a web application with connection strings in the web.config
2. Instantiate a EF6 DbContext
3. Try using it

**Expected Behavior**:

The connection strings from the web.config of the project I ran "Initialize Interactive with Project" on are used.

**Actual Behavior**:
[code]

[2019-05-02 12:33] SammyROCK commented on #35011
Is there any actual application for this?

[2019-05-02 15:18] dkmiller opened #35443 "Switch expressions cannot infer shared type"
**Version Used**:
Visual Studio Version 16.0.3 + dotnet core 3.0.100-preview3-010431

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Given the signature of `Foo`, the compiler should be able to infer that the return type of the `switch` expression is `object`.

**Actual Behavior**:

The compiler returns error

If I add a cast to `object` in any of the cases in the `switch` statement (e.g

[2019-05-02 15:45] jnm2 opened #35444 "`for (;;)` should not be reformatted as `for (; ; )`"
**Version Used**: 16.0.3

This has bugged me way back in VS2017 or earlier. I tend to use `while (true)` now, but touching codebases (mine or others') with `for (;;)` is a pain.

Moving @CyrusNajmabadi's [comment](https://github.com/dotnet/csharplang/issues/2475#issuecomment-487769142):

@sharwell's [comment](https://github.com/dotnet/csharplang/issues/2475#issuecomment-487775162):

[2019-05-02 15:47] CyrusNajmabadi commented on #35444
If he happy for us to land on one form between VSAnd SCA.  I don't care which wins :-)

[2019-05-02 15:49] jnm2 commented on #35444
Would it be safe to request that whitespace is never added or removed when empty?

[2019-05-02 16:49] jinujoseph commented on #35393
moved [over](https://devdiv.visualstudio.com/DevDiv/_queries/edit/864717/?triage=true)

[2019-05-02 16:49] #35393 closed

[2019-05-02 17:17] mwpowellhtx opened #35446 "Code generation involving some literals does not work correctly"
For instance, I want to generate something like:

[code]

What we do with ``value`` is really beside the point. The point is the ``double`` literal ``d`` is dropped from the ``Literal`` specification. As is the ``f`` if I wanted to specify a ``float`` literal.

There are ``double`` and ``float`` versions of ``Microsoft.CodeAnalysis.CSharp.SyntaxFactory.Literal``, right? i.e.

[code]

By contrast,

[2019-05-02 17:34] CyrusNajmabadi commented on #35446
can you supply a fully repro of your code?

[2019-05-02 17:40] jasonmalinowski commented on #35438
In VB, if T is a module, then it's automatically imported into anything that imports the containing namespace. Not hard to adjust your rules, but nonetheless a special case.

[2019-05-02 17:43] CyrusNajmabadi commented on #35446
I can't repro this.  The behavior seems to be working as intended.  If a literal has the right type by default, then no suffix is added.  i.e. if you generate a double or a normal int, then no suffix is added.  If you want a literal whose natural type doesn't match the type you passed in, then a suffix is added.  i.e. Floats will have `F` added (since the natural type would be `double`) and longs

[2019-05-02 17:43] mwpowellhtx commented on #35446
@CyrusNajmabadi No, but I can show you the generated code:

[code]

Based on the [Protocol Buffers v2](https://developers.google.com/protocol-buffers/docs/reference/proto2-spec):

[code]

[2019-05-02 17:45] CyrusNajmabadi commented on #35446
The generated code isn't useful to me here :)  I need to see waht you're actually doing to generate it :D   We can take this to gitter if you want.

However, based on what you've said, you can address this the appropriate way by calling `Literal(value.ToString("R", CultureInfo.InvariantCulture) + "D", value)`

[2019-05-02 17:46] mwpowellhtx commented on #35446
Literally generated by:

[code]

Where ``x.Value`` is ``double`` from ``IVariant<double>``.

[2019-05-02 17:48] mwpowellhtx commented on #35446
@CyrusNajmabadi I disagree, it is useful. It shows you that the result is not generating given the expected ``double`` literal outcome.

So, to be clear, this is a stop-gap workaround:

[2019-05-02 17:48] CyrusNajmabadi commented on #35446
The behavior looks correct to me.  There are two things you can do here.  The first, as mentioned above, is to call the appropriate overload of Literal that allows you to specify exactly what you want for the text.

The second is to use SyntaxGenerator which is the nicer user-facing (i.e. "less-raw") approach to syntax generation.  It will always place a 'D' after a double for example.

[2019-05-02 17:50] mwpowellhtx commented on #35446
I read that to mean there is a potential refactor from ``SyntaxGenerator`` to the "raw" bits that should potentially happen there. I'll have a look at ``SyntaxGenerator`` in the mean time, thank you.