[2017-11-16 13:34] HaloFour commented on #23205
Also, this has come up before in some other proposals but I don't see it mentioned in the ones linked, but it would be nice to support the range syntax as a pattern, too:

[code]

[2017-11-16 13:54] alrz commented on #23205
I don't know what would it take to support that. From the links, only int and long are considered.

[2017-11-16 14:15] HaloFour commented on #23205
@alrz

True, and if it's limited to just those types that is fine, but it would be nice if the operator support could be extended to any comparable type.  I'm more making the case to allow the range syntax to be used in patterns.  The supported types should be a separate conversation altogether.

[2017-11-16 14:18] Droni opened #23218 "Two CodeProviders have same names"
**Version Used**: 15.4.4

[code]

[code]

[2017-11-16 14:21] alrz commented on #23205
It's easily practical in patterns -- you won't be able to pass it around so it doesn't need an underlying type. But for range literals there is obviously a need for a data structure.

[2017-11-16 14:33] HaloFour commented on #23205
@alrz

Definitely.  Could be as simple as:

[code]

Consider it just spaghetti against the wall, and I wouldn't want it to slow/derail the conversation about integral ranges, but I think it's worth having the conversation.

[2017-11-16 14:36] sharwell commented on #23218
@Droni Is this a problem? If so, can you describe the impact?

[2017-11-16 14:37] alrz commented on #23205
@HaloFour  `IComparable` isn't really enough here, for this to be generic, we'll need generic numeric operations. I think this is another use case that could be fed into the traits proposal.

[2017-11-16 14:39] HaloFour commented on #23205
@alrz

That's true, you'd need that support to handle any enumeration.  But the structure could still be used for comparing values.  Anyway, that's a conversation that can be shelved until later.

[2017-11-16 14:50] Droni commented on #23218
@sharwell it is a not a big problem, we have corrected this behavior on our side. But I think you have automated tests for this situation. We use the provider's name to identify duplicates, and delete if such provider is provided by our extension. In this case we can determine by the type fullname, but I think automated test cases should helps to exclude this situation in the future.

[2017-11-16 14:52] Droni commented on #23218
Also, "Extract Method Code Action Provider" is not good name for converting to the string interpolation :)

[2017-11-16 15:00] bkoelman opened #23219 "IOperation missing IsExpression / IsStatement"
**Version Used**:
master

Recently `IsExpression` and `IsStatement` were removed from `IOperation` in https://github.com/dotnet/roslyn/commit/a289e370526a0051e83f8c75a6e1844d34b3498e. I've been trying to upgrade [my existing analyzer pack](https://github.com/bkoelman/CSharpGuidelinesAnalyzer), which contains about 40 analyzers, half of them using `IOperation`.

I have not yet found a way to fix an

[2017-11-16 15:06] mavasani commented on #23219
Adding @dotnet/analyzer-ioperation @DustinCampbell @tmat @jinujoseph @AlekseyTs @cston

I presume the revert was done as part of https://github.com/dotnet/roslyn/pull/22774, where we decided not to expose `IOperation.IsExpression` and `IOperation.IsStatement` until we receive customer requests. 15.5 is probably at a very high bar to enable this, but something to surely consider for 15.6

[2017-11-16 15:08] mavasani commented on #23219
Probably related to https://github.com/dotnet/roslyn/issues/23152?

[2017-11-16 16:45] gafter commented on #23205
[code]

[2017-11-16 16:51] alrz commented on #23205
I'd say a range shouldn't be pattern compatible with `object`, only numeric types. so an error in both cases is the least harmful result and removes a lot of these edge cases.

[2017-11-16 17:08] axdiamond opened #23221 "Cannot use a lambda expression as an argument to a dynamically dispatched operation without first casting it to a delegate or expression tree type."
**Version Used**:
 .NET Framework 4.5.2
Tested in both C# 6 and 7, with both VS 2015 and 2017, respectively.

**Steps to Reproduce**:
Here is the problem code.

    static void Main()
    {
        dynamic dynamicString = "123";
        var parsedInt = int.Parse(dynamicString);
        TestMethod(parsedInt).Select(o => o);
    }

    static List<int> TestMethod(int id)
    {
        return new Lis

[2017-11-16 17:26] HaloFour commented on #23221
Using a `dynamic` anywhere in an expression causes the entire expression to become dynamic and the result is always a `dynamic`.

Using `var` the inferred type of `parsedInt` is `dynamic`.  When you change the type to be explicitly `int` you are adding an implicit dynamic cast.

[2017-11-16 17:28] HaloFour commented on #23221
Also note that the call to `int.Parse` isn't done statically by the compiler.  The compiler emits the type token for `System.Int32` and then looks up and invokes the method by name using the `CSharp.RuntimeBinder`.  Since the method is static and known at compile time the compiler will at least provide static type checking, though.

[2017-11-16 17:34] tmeschter commented on #23190
As a first step in dealing with this and #23191 I'm going to make it possible for us to always opt-in to the Microsoft.Net.SDK approach.

[2017-11-16 17:35] axdiamond commented on #23221
Interesting, Do you have resources for learning more about how the compiler handles dynamic? Or the type system in general?

[2017-11-16 18:09] AlekseyTs commented on #23219
A simple heuristic that statements are usually immediate children of blocks and expressions aren't might be sufficient. Of course, children of complex statements 'if', loops, etc might need to be specially recognized too.

[2017-11-16 18:11] gafter opened #23222 "Open issues in recursive pattern-matching implementation"
This is an umbrella issue to track individual issues reported during code review of the recursive pattern-matching implementation, each of which needs to be fixed in some subsequent PR.

- [x] The dag construction is recursive. That means that (1) it builds a tree, not a dag (2) that tree can be exponential in size in realistic scenarios, and (3) the compiler's call stack can overflow in realistic

[2017-11-16 18:16] mavasani commented on #23219
You can also check for IOperation.Type. Should be null for statements and initializers and non-null for expressions (except for expressions with ConstantValue null).

[2017-11-16 18:54] AlekseyTs opened #23223 "An InvalidCastException is thrown when a name of range variable conflicts with another range variable"
[code]

Observed:
[code]

[2017-11-16 19:45] HaloFour commented on #23221
I don't know of anything comprehensive.  The [C# Language Specification](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#dynamic-binding) probably gets into it a bit but is probably a dry read.  I found [this site](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/types/using-type-dynamic) which does explain the behavior above:

[2017-11-16 20:38] #22641 closed

[2017-11-16 20:53] tmeschter commented on #23193
Actually, while there may be problems due to `WriteCodeFragment` not escaping the code, the issue blocking localization in the dotnet/roslyn repo is different and more fundamental.

The `CoreGenerateSatelliteAssemblies` task always calls csc.exe to build the satellite assembly, but it generates a source file with the various assembly attributes (`AssemblyFileVerionAttribute`, etc.) _using the lang

[2017-11-16 21:00] zaytsev-victor commented on #23150
@sharwell I want to take it. I have a fix for this issue, but I found one problem with this refactoring.
This code:
[code]
is changed to
[code]
which is incorrect (local function parameter should have default value).
I fixed this issue too, but it works if we have declaration of this delegate in source code.
If the delegate comes from library (*.dll) refactoring produces the following code:
[code]

[2017-11-16 21:03] tmeschter commented on #23193
I've filed issue https://github.com/dotnet/sdk/issues/1748 against dotnet/SDK. We'll use this issue to track adoption of a version of the SDK with the fix (when available) in the dotnet/roslyn repo.

[2017-11-16 21:15] #23192 closed

[2017-11-16 21:29] jasonmalinowski commented on #23189
So I can pull out ImageCatalog at least, unfortunately ImageMoniker is exposed as a public type out of EditorFeatures:

https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/Core/Tags/IImageMonikerService.cs

So I can't do much about that right now.

[2017-11-16 21:47] 333fred opened #23226 "IOperation does not ignore BoundSequencePointWithSpan"
Given the following code:
[code]

When an OperationBlockAnalyzer is called back, the destructor has been rewritten into this form (https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.cs#L514):
[code]
`CreateOperation` for the `BoundSequencePointWithSpan` returns a `NoneOperation`, which is then filtered out by `CreateBoundBlockOperation`. I thi

[2017-11-16 22:06] bladeoflight16 commented on #22469
I'd like to propose an alternative solution.

The *main* problem with Remove and Sort is that it removes the **default, stock `using`s** that are included in the default class templates. As the original request says, the reason for avoiding the Remove and Sort command is that it removes these.

So instead of bringing back the Sort only command, could Remove and Sort be modified to leave those `usi

[2017-11-16 22:07] tmeschter opened #23227 "CoreResGen task fails on various *Test projects"
After working around/fixing other issues (#23190, #23191, https://github.com/dotnet/sdk/issues/1748, etc.) we then run into errors in the `CoreResGen` task of CodeAnalysisTest.csproj, CSharpCommandLineTest.csproj, BasicCommandListTest.vbproj, and others. For example:

[code]

It is not immediately clear what is going on, but my first thought is that we shouldn't be generating .xlf files for these

[2017-11-16 22:20] KirillOsenkov commented on #23189
Ouch, if this is a public API then yeah, it's problematic. In the future we can think about embedding the interop type, not sure if it would be a breaking change.

For now, just removing ImageCatalog would be nice, if possible.

[2017-11-16 22:42] kuhlenh opened #23229 "dotnet_style_require_accessibility_modifiers is stuck as "hidden" diagnostic"
If I have this editorconfig:

[code]

violations will appear as "Hidden" not Errors...however, it will pick up on the modifier order I set (just not the severity).

[2017-11-16 23:34] KirillOsenkov opened #23230 "Investigate MS.CA.EditorFeatures.dll usage of Microsoft.VisualStudio.Language.Intellisense.ITelemetryDiagnosticID`1'"
MS.CA.EditorFeatures.dll uses `Microsoft.VisualStudio.Language.Intellisense.ITelemetryDiagnosticID`1'` which requires a reference to MS.VS.Language.IntelliSense.dll, which in turn brings more references that are undesired in VSMac.

Is there anything we can do to remove that reference?

[2017-11-16 23:37] gundermanc commented on #22776
@dpoeschl I have a 100% consistent repro in the VS editor code base as well. I suspect that you're right and this is based on the .editorconfig we're using.

[2017-11-17 00:02] kasper3 commented on #8210
Couldn't find any reference to a pull-request, could you provide one?

Reference to this issue in pull request would be great when that happens. Must be interesting to see work done that took about 23 months. :trollface:

[2017-11-17 00:04] jaredpar commented on #8210
Here is the PR that merged this into the post-dev15.5-contrib branch. This is "master" for our dev15.6 work.

https://github.com/dotnet/roslyn/pull/23061

[2017-11-17 00:04] #8210 closed

[2017-11-17 00:08] nguerrera commented on #8210
👏

[2017-11-17 00:08] AlekseyTs opened #23232 "An InvalidCastException is thrown for an ambiguous user-defined short-circuiting operator"
[code]

Observed:
[code]

[2017-11-17 00:43] pdelvo commented on #22804
I was going to fix this but it looks like this PR: #23028 already fixed the issue.

[2017-11-17 01:07] CyrusNajmabadi commented on #23150
Getting the explicit value from delegateType.DelegateInvokeMethod.Parameters should work for both source and metadata.  Shouldn't it?

[2017-11-17 02:03] CyrusNajmabadi commented on #23217
I use this feature.  :-/  I was even showing someone this feature today as being useful for their own work.

Sure.  But if you enable that other feature, then this feature does work, and is useful.

This makes it sound as if the feature does not work.  That's not the case.  It sounds like there may be an issue improving how it works with certain type of trivia.  But that's the case for many of our

[2017-11-17 02:12] vsfeedback opened #23234 "Structure guide lines not working"
Structure Guide Lines don't appear where they should for one section of one C# code module.  The code compiles without error, and I can use &quot;Ctrl + }&quot; to jump between open and close braces, so I know I don't have a mis-match of { and }'s.  I do get 5 levels of Structure Guide Lines, but starting with an:

[code]

they stop, all the way until the closing brace associated with the else blo

[2017-11-17 02:12] CyrusNajmabadi commented on #23217
Note: the issue reported by andrew seems to be something new related to shared projects.  The analyzer/fix runs on a document, but something higher up the stack seems to be upset about hte change made to only that document.  It's unclear to me why this isn't an issue with more fixers that just fixup a single document that happens to be in a shared location.

Regardless, if we were to disable (inst

[2017-11-17 02:20] CyrusNajmabadi commented on #23217
Note: i'm a little dismayed to see we're not considering just doing the work necessary to make this appear normally.  We had many discussions with the analyzer team about these sorts of features being very valuable and wanting to make them possible.  Did nothing viable come of that?

[2017-11-17 02:33] sharwell commented on #23217
@CyrusNajmabadi Disabling the analyzer is only an interim solution. I'm comfortable with it as an interim solution since it's not visible to many users under normal scenarios. Long-term I would love for this to work, however I would place both the .editorconfig work and the analyzer performance validation scenarios above it in priority.

For analyzers that ship in the box, I would expect a near "b

[2017-11-17 02:42] jinujoseph commented on #23026
also tracked   [link](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/526044)

[2017-11-17 02:46] sharwell commented on #23229
@kuhlenh It should read `always`, or `always:error` (not sure specifically which).

[2017-11-17 03:17] CyrusNajmabadi commented on #23217
Note: i'm working on making this no longer a compilation-end-action

[2017-11-17 03:21] sharwell commented on #23215
@CyrusNajmabadi From your comment in #23217 it sounds like you are working on this.

[2017-11-17 03:59] AdamSpeight2008 commented on #23205
I think the Range operator should produce a structure that is just to values. So that the checking, if value is within (inclusive upper and lower bounds) is then lowered to a simple` (ch >= 'A') & (ch <='Z')`, rather as an enumerable this enumerated to test is a value is present.
[code]

It can implement IEnumerable, secondarily.
[code]

[2017-11-17 04:01] kentcb commented on #4068
This is hella confusing. I arrived here with a similar problem: my `RegisterSymbolAction` is running, but not my `RegisterCompilationEndAction`. Moreover, the advice about enabling FSA does not seem relevant anymore because there's no such option in my VS2017 15.4.4 installation:

![image](https://user-images.githubusercontent.com/1901832/32928820-e80c5882-cba3-11e7-8309-bf2f6a973511.png)

Can any

[2017-11-17 04:03] jcouv commented on #22978
You can control where the build process output the intermediate and final files. A quick search yielded [some of the MSBuild properties](https://stackoverflow.com/a/9724626/172315) you can set to that effect.
It's not obvious that using a RAM disk will provide any observable benefit, especially compared to an SSD. Do let us know if you get good results.

[2017-11-17 04:05] jcouv commented on #23013
You can control your build process by editing the project files using the various properties offered by msbuild.

[2017-11-17 04:06] jcouv commented on #23112
@jinujoseph Could you help route this issue? Thanks

[2017-11-17 04:22] kentcb commented on #4068
Here is the analyzer in question: https://github.com/code-heroes-pty-ltd/CodeHeroes.CodeAnalysis.Style/blob/feature/2358/Src/Analyzers/ClassAnalyzer.cs

I cannot for the life of me understand why my `RegisterCompilationEndAction` is not called. All other actions are called fine. And the unit tests all work fine, too, suggesting the problem is only within the context of a VS session.

[2017-11-17 04:26] sandeepchads commented on #23026
​Hi Robert, I apologize for the issue you are facing. I acknowledge that CodeLens does not handle renames very well however looking at the other work on our backlog, we are unable to prioritize this request now. We will keep tracking this issue and will let you know if we prioritize it in future. I apologize for the inconvenience.

[2017-11-17 04:28] jcouv commented on #22505
I verified that the fix isn't offered in 15.4.1.
I'll go ahead and close the issue. Thanks

[2017-11-17 04:28] #22505 closed

[2017-11-17 04:33] AlekseyTs opened #23236 "It looks like VisualBasicOperationFactory.CreateBoundUserDefinedShortCircuitingOperatorOperation drops left operand conversions for success cases"

[2017-11-17 04:47] jcouv commented on #20543
@sharwell I haven't seen this either. Is this still a problem?

[2017-11-17 04:49] jcouv commented on #20526
Can this be closed?

[2017-11-17 04:58] CyrusNajmabadi commented on #23217
I've addressed several of the problems here: https://github.com/dotnet/roslyn/pull/23237

[2017-11-17 05:09] jcouv commented on #8138
F12 on BoundExpression declaration currently returns 3 results, including the one in BoundNodes.xml.Generated.cs, which I think is correct.
Good to close?

[2017-11-17 05:16] jcouv commented on #18899
@mavasani This issue is in 15.5, but isn't assigned. Can you help triage/route?

[2017-11-17 05:19] VSadov commented on #15290
Fixed in https://github.com/dotnet/roslyn/pull/22985

[2017-11-17 05:19] #15290 closed

[2017-11-17 05:26] CyrusNajmabadi commented on #23217
I don't know how you're coming to that assessment.  Linked files have never been an area with a lot of attention.  Practically none of our analyzers have any tests for that particular case.  Up till now, they've all just assumed that they could make changes to the solution and anything realted to linked-files would be hidden from them.  I don't see why encountering a single issue here with that sc

[2017-11-17 07:13] jinujoseph commented on #18899
cc @sharwell

[2017-11-17 07:49] jcouv commented on #18898
Where issues opened for those in the repo for unit.perf?

[2017-11-17 07:59] mkrueger opened #23239 "CodeAction GetChangedSolution broken ?"
Happens in vs4mac.

action.GetChangedSolutionAsync is missing post processing in the generated code - GetChangedSolutionInternalAsync(true, token); is doing the wrong thing for us. Are we doing something wrong ?

VSTS: https://devdiv.visualstudio.com/DevDiv/_workitems?id=518783&fullScreen=true&_a=edit

This fixes it for us:
https://github.com/mono/monodevelop/pull/3359

[2017-11-17 08:41] bkoelman commented on #23219
Thanks for the suggestions, will try them at a later time.

I wonder though whether checking for `IOperation.Type` being `null` would work for assignment statements like:
[code]
because they (used to?) surface as an `IExpressionStatement`.

Also I'm thinking to use reflection, if possible. Future versions of my analyzer can then probe at runtime for the to-be-added-back properties and fallback to

[2017-11-17 09:00] zaytsev-victor commented on #23150
@CyrusNajmabadi it works but as you can see in example above it returns ```null``` instead of ```default```

[2017-11-17 09:10] jcouv commented on #20189
That's no longer a problem, since we use embedded symbols for local builds.
Closing

[2017-11-17 09:10] #20189 closed

[2017-11-17 10:43] slluis commented on #23051
Any update on this? this bug is blocking the merge of an important branch in VS for Mac.

[2017-11-17 11:23] framgeld commented on #23167
15.5 Preview 4 corrects the C# compiler issues when using local functions. A workaround of adding the Microsoft.Net.Compilers v2.2.0 NuGet package did not work in my case (although it worked in other cases for us).

Unfortunately, unless 15.5 fixes https://github.com/dotnet/roslyn/issues/22776 also (which is currently slated for a fix in 15.7!), we are stuck between a rock and a hard place. We can

[2017-11-17 11:46] stephentoub commented on #15290
Thanks!

[2017-11-17 12:14] heejaechang commented on #4068
@kentcb here is the location of the option.
![image](https://user-images.githubusercontent.com/1333179/32946778-b22d5e06-cb4d-11e7-8b42-e3271fac3df1.png)

since various analyzer has various perf characteristic, it is not authors decision what kind of analyzers runs, it is users decision. CompilationEndAction analyzer only run if user choose to opt in to use expensive analyzer with the above option

[2017-11-17 12:29] heejaechang commented on #23026
@jinujoseph this is not the part we own. I think we need to contact code lens team to find out who owns this part?

[2017-11-17 13:20] heejaechang opened #23242 "VS mark winform files wrong if OOP is killed"
repro steps

1. open winform solution in VS
2. find ServiceHub.RoslynCodeAnalysis32.exe from task list and kill it
3. change winform file.
4. close solution

expected:
nothing changed

actual:
winform file is changed to normal file

[2017-11-17 13:34] spottedmahn commented on #22545
Related User Voice Request: [Find All assignments](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/6210373-find-all-assignments)

[2017-11-17 14:08] HaloFour commented on #22545
@CyrusNajmabadi

It's alright, but it's not great.  When grouping by definition you can see the constructor invocations but they're all separate from one another.  And it looks like any static member invocation or similar use bubbles up the top of the list above the constructors, so you'd likely have to dig through that first.

[2017-11-17 14:14] heejaechang opened #23245 "change Workspace.LogTestMessage not to create string when not needed"
currently it looks like Workspace.LogTestMessage create string up front and then thrown away in most of cases. since it is diagnostic message, it should only be created when it is actually needed rather than create and throw away most of time.

[2017-11-17 14:18] sharwell commented on #21550
In theory this is fine. In practice it causes silent behavior changes in tests which can (and have) led to false positives (test passes even though the feature under test is broken). When StyleCop Analyzers adopted this approach, I believe there were more than 100 unintended errors found in inputs.

[2017-11-17 14:21] sharwell commented on #20543
I haven't seen this recently.

[2017-11-17 14:21] #20543 closed

[2017-11-17 14:32] heejaechang opened #23247 "move compiler diagnostic analyzer back to IDE side"
currently we have this in compiler side.
http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/CompilerDiagnosticAnalyzer.cs,10

at the time, reasoning was that we shouldn't treat compiler diagnostic analyzer (which let IDE shows compiler errors) any special than third party diagnostic analyzer.

which is already not true, we special case compiler diagnostic analyzer all over in the I

[2017-11-17 14:32] heejaechang commented on #23247
tagging @jinujoseph @mavasani

[2017-11-17 14:33] heejaechang commented on #23247
related to https://github.com/dotnet/roslyn/pull/23246

as one of full experience we want to do when project is failed to load successfully.

[2017-11-17 14:45] jnm2 opened #23248 "Safe-cast-and-throw analyzer"
Sometimes writing new code, sometimes refactoring (negate if condition etc), I end up with this:

[code]

I keep forgetting that I really prefer this:

[code]

I would love for this to be suggested with a code fix out of the box. If this seems good to you, willing to contribute.

[2017-11-17 14:57] sharwell commented on #22015
@tmat I'm reopening this. Exceptions represent a special case in flow control which result in leaving a method. We don't need the general ability to set breakpoints in subexpressions, but we *need* the ability to set breakpoints on a throw expression.

[2017-11-17 15:00] sharwell commented on #23248
:memo: Right now I'm not too eager to add this due to #22015. I would be curious to see how common the pattern is though.

💭 We'd likely want to handle the related form as well:

[code]

[2017-11-17 15:06] jnm2 opened #23250 "'Use var' should not be suggested when explicit type is not redundant"
VS 15.5 Preview 4

[code]

Roslyn suggests that you replace `ConsoleColor` with `var`, but specifying the type explicitly is actually necessary or the generic type argument for `Enum.TryParse<>` can't be inferred.

[2017-11-17 15:09] sharwell commented on #23247
❓ Will this cause `CompilationWithAnalyzers.GetAllDiagnosticsAsync` to stop returning diagnostics representing compilation warnings/errors?

[2017-11-17 15:11] sharwell commented on #23250
Already fixed in #23135 in response to https://github.com/dotnet/roslyn/pull/23135#discussion_r150430010.

[2017-11-17 15:11] #23250 closed

[2017-11-17 15:13] jnm2 commented on #23248
I can only speak for myself but it would gain value for me without waiting for #22015 and it's an increasingly common pattern in the code I work with. Expanding to detect the related form would also be nice.

[2017-11-17 15:29] jnm2 commented on #11489
`null`, <kbd>Ctrl</kbd>+<kbd>Space</kbd>
<kbd>Ctrl</kbd>+<kbd>Space</kbd>, <kbd>n</kbd>, <kbd>Space</kbd>

Both of these just totally made my day, but they are not at all discoverable. During organic usage, `null` was never offered. I had to start by coming here to ask for `<see langword="`, and searching existing issues, and reading through a bunch of comments. I didn't know <kbd>Ctrl</kbd>+<kbd>

[2017-11-17 16:25] jinujoseph commented on #23026
@sandeepchads i am closing this as dupe of [link](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/526044)

[2017-11-17 16:25] #23026 closed

[2017-11-17 16:31] jnm2 opened #23251 "Converting setter to block body leaves set keyword on getter line"
VS 15.5p4, apologies if there's an existing issue I failed to locate.

I frequently have code like this:

[code]

And need to add code to the setter, so I use the block body code action. This results in:

[code]

I would expect `set` to be on its own line.

[2017-11-17 16:56] kuhlenh commented on #23229
@sharwell @CyrusNajmabadi is there a reason we didn't follow the "true:error" paradigm? What am I missing here?

[2017-11-17 17:02] sharwell commented on #23229
@kuhlenh It has more than two options. 😄

https://github.com/dotnet/roslyn/blob/160c4098fa90cff36fadad616eab2ae967ad2563/src/Workspaces/Core/Portable/CodeStyle/AccessibilityModifiersRequired.cs#L8-L15

[2017-11-17 17:02] #22952 closed

[2017-11-17 17:07] bkoelman commented on #21550
Yes I agree. I did something similar for the roslyn-analyzers repo in the
past, which revealed numerous unintended compile errors in tests. A few of
them were so broken that I couldn't even figure out why they were created.

[2017-11-17 17:14] gafter commented on #23205
I don't think anyone had considered the possibility that we would test for inclusion in a range by enumerating the elements and testing against each one. Thank you for that perspective.

[2017-11-17 17:22] jaredpar commented on #21725
@agocke I believe u have already fixed this. If so please confirm and close this out.

[2017-11-17 17:24] jaredpar commented on #21157
Should be fixed no;w.

[2017-11-17 17:24] #21157 closed

[2017-11-17 17:24] jaredpar commented on #20945
This is fixed now.

[2017-11-17 17:24] #20945 closed

[2017-11-17 17:24] jaredpar commented on #20932
@agocke fixed this.

[2017-11-17 17:24] #20932 closed

[2017-11-17 17:24] #18896 closed

[2017-11-17 17:25] jaredpar commented on #18753
Fixed a while back.

[2017-11-17 17:25] #18288 closed

[2017-11-17 17:25] #16737 closed

[2017-11-17 17:25] #16465 closed

[2017-11-17 17:37] #20244 closed

[2017-11-17 17:37] #21665 closed

[2017-11-17 17:37] #22507 closed

[2017-11-17 17:37] #17038 closed

[2017-11-17 17:37] #19831 closed

[2017-11-17 17:37] #22926 closed

[2017-11-17 18:08] 333fred commented on #23219
Unfortunately, there's no way that this will make it into 15.5, 15.6 is the earliest we can hope for here. @jinujoseph for triage.

ISimpleAssignmentOperation, used as you showed above, is still inside an IExpressionStatementOperation. The ExprStatement has a Type of null, and the ISimpleAssignmentOperation has a type of bool.

[2017-11-17 18:53] tmat opened #23254 "Follow up: update to newer Microsoft.NET.Test.Sdk once https://github.com/Microsoft/vstest/issues/373 is fixed"
See https://github.com/dotnet/roslyn/pull/23253

[2017-11-17 18:55] gafter commented on #23111
As @ektrah explained, the contents are intentional, and appropriate given that they occur in a section that instructs readers how to apply the license to their own projects.

[2017-11-17 18:55] #23111 closed

[2017-11-17 19:01] CyrusNajmabadi commented on #23150
That's fine.  That's how most of our features work afaik.  for example:

[code]

Implement-interface here will pick 'null' not 'default'.

[2017-11-17 19:02] CyrusNajmabadi commented on #23051
I don't think anyone has even started looking at this :)  Why is this blocking a merge of a branch?  While definitely a bug, it seems not major, and something that only affects incremental matches of fuzzy searches.

[2017-11-17 19:04] CyrusNajmabadi commented on #21550
I would like to see actual data on the counts here.

[2017-11-17 19:04] alrz commented on #23205
Re range literals:

There is a high chance that one wants a range beyond `int` and `long`. Like `char`. To not require a separate `Range` type for each, I propose we use the generalized `foreach` support (https://github.com/dotnet/csharplang/issues/1085).
[code]
This decouples the enumeration logic so that it can be extended with arbitrary types.

Traits are probably the best way to model this. Fo

[2017-11-17 19:05] CyrusNajmabadi commented on #21550
Note: i think it would be fine if a test had to declare any errors *introduced* by the fix.  That's part of its behavior after all.

[2017-11-17 19:17] bkoelman commented on #21550
For counts, see https://github.com/dotnet/roslyn-analyzers/pull/1040.

[2017-11-17 19:19] bkoelman commented on #23219
@333fred Thanks for the clarification.

[2017-11-17 19:20] tmeschter commented on #23194
To fix this the XliffTasks are going to be updated to take the GUID into account, but only where necessary.

[2017-11-17 19:22] khyperia commented on #23205
@alrz Re: extension methods, that seems like a great idea! It also meshes really nicely with this great way to declare Range creation overloads for custom types (right now it seems kind of clunky to me):

https://twitter.com/lambdageek/status/931562022159781888

My only worry would be compiler performance - I forget how fast extension method lookup is.

[2017-11-17 19:29] agocke opened #23255 "The compiler server should be support on Mono and non-Windows platforms"
Right now the net46 version of the compiler server assumes it's running on Windows. We should port over the logic we have in the .NET Core version of the compiler server to support running on Mono on non-Windows platforms.

[2017-11-17 19:30] agocke commented on #23255
cc @jaredpar @khyperia

[2017-11-17 19:30] jinujoseph opened #23256 "Change IDE diagnostic reporting for closed files to match the compiler and stop at the first pass (keeping open files reporting errors from all phases so that users can fix errors in any order)."
refer https://github.com/dotnet/roslyn/pull/23246

[2017-11-17 19:32] agocke commented on #23255
I think the most important piece here is doing a security review with Mono's implementation of NamedPipe streams.

[2017-11-17 19:32] CyrusNajmabadi opened #23257 "Use-Auto-Property may need updating for struct-types fields used with ref-this extensions methods."
See https://github.com/dotnet/roslyn/pull/23237#discussion_r151765012

[2017-11-17 19:33] tmeschter commented on #23190
Change to MSBuild to enable opt-in: https://github.com/Microsoft/msbuild/pull/2726

[2017-11-17 19:33] tmeschter commented on #23191
Change to MSBuild to enable opting in to the Microsoft.NET.Sdk approach: https://github.com/Microsoft/msbuild/pull/2726

[2017-11-17 19:33] jaredpar commented on #23255
Which of the following is our goal here:

1. Have the .Net Core version of the server running on Mono
1. Have the Desktop version running on Mono.

[2017-11-17 19:34] jinujoseph opened #23258 "Reduce the number of errors reported when there is no standard library to handle the case of a project missing all references better."
refer https://github.com/dotnet/roslyn/pull/23246

[2017-11-17 19:34] agocke commented on #23255
(2). Mono is an implementation of Desktop, so we should support the desktop target framework version running on Mono, just like we support the desktop version of `csc` running on mono.

[2017-11-17 19:37] CyrusNajmabadi commented on #21550
That seems pretty low.

And, as i mentioned in my original statement.  The errors present before the fix is run aren't part of the design of these features.  It's testing an unrelated part of the system.

Now, I am ok with collecting hte errors prior to the fix being run to determine if any errors were added/changed.  That user facing behavior is caused by the feature, and should be captured (in a

[2017-11-17 19:40] mavasani commented on #23247
@heejaechang We currently also have special performance hooks in the analyzer driver for compiler analyzer: http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/AnalyzerManager.cs,166. How will we tackle these?

[2017-11-17 19:41] CyrusNajmabadi commented on #22469
I would prefer to not do that.  If htat happens, then we'll just hear people complaining "i said 'remove unused usings' and the usings weren't removed!" :)

This is a very strong reason for us to support intellisense for items outside of hte namespaces in scope :)

--

That said, i think adding back "sort usings" would be fine.  I would just not put it in the context menu.  Consider the 'Edit | In

[2017-11-17 19:45] CyrusNajmabadi commented on #23234
Do you have an example file that demonstrates the issue.  Note: Structure-Guides are syntactic.  So we'd only need hte file, and not the rest of the project the file belongs to.

[2017-11-17 19:45] fordth opened #23259 "Dealing with un-annotated library APIs"
Visual Studio 2017 15.5
Latest BETA version of C# Nullable references

**Steps to Reproduce**:

[code]

**Expected Behavior**:
The program should execute without an issue.

**Actual Behavior**:
The compiler is stating the following issue with name?.ToUpper() "Possible null reference argument", however nullable value types are ok as expected.
![issue](https://user-images.githubusercontent.com/10094

[2017-11-17 19:47] sharwell commented on #23259
@dotnet/roslyn-compiler We're going to need an issue for every comment we get that's a case involving lack of nullability annotations in reference assemblies.

[2017-11-17 19:48] jnm2 opened #23260 "Intellisense should offer extension methods that require adding a using directive"
VS 15.5p4.

This is among my top most common uses of ReSharper's intellisense. (I have a goal of being able to use vanilla VS one day.)

Given the following definitions in some other file or library:
[code]

If I am dotting off an expression of type `IEnumerable<X>` and there is currently no using statement to bring the extension method into scope, I want intellisense to offer `Operation() (using

[2017-11-17 19:49] fordth commented on #23259
Ok, I think I understand the problem now just from your comment.

[2017-11-17 19:51] CyrusNajmabadi commented on #23239
That's by design.  If you need the post processing, you should call: GetOperationsAsync

[2017-11-17 19:52] sharwell commented on #23258
:memo: I'm specifically interested in seeing CS0518 do two things:

1. Within a file, only report the first case for any particular missing type
2. Prevent the reporting of other semantic errors

[2017-11-17 19:54] CyrusNajmabadi commented on #23248
I think it woudl be a fine fix to add.  It would fit in with a lot of hte other fixes we've added around ??

[2017-11-17 19:56] CyrusNajmabadi commented on #22015
i agree with sam.  It seems like we just need this on throw-expressions.  I'm curious what level of hte stack would be blocking this.  Is it just the IDE side?  Or are we not creating hte right PDB information in order to actually do this properly in the debugger?

[2017-11-17 19:58] agocke opened #23261 "Cleanup some technical debt in data flow analysis"
There are two things I would like to do:

* Rename DataFlowPass to DefiniteAssignmentPass and AbstractFlowPass to DataFlowPass. DataFlowPass is actually a specific implementation of lattice data flow implementing definite assignment. AbstractFlowPass is the abstract class representing generalized lattice data flow.

* Move use-analysis out of DataFlowPass entirely. The most confusing thing about u

[2017-11-17 19:58] agocke commented on #23261
cc @VSadov @gafter

[2017-11-17 20:10] ShekharGupta1988 commented on #3720
Hi, Looks like CreateDelegate method is still not available in the latest version ( >= 2.4)?
I am looking to invoke a method described inside a script by the host application.
Any other way to achieve this?

This is very much similar to your existing test:

public void TestCreateMethodDelegate()
        {
            // create a delegate to a method declared in the script
            var state = C

[2017-11-17 20:13] agocke commented on #21725
Yes, I fixed this by updating to a new version of the Microsoft.NETCore.Compilers package.

[2017-11-17 20:13] #21725 closed

[2017-11-17 20:17] sharwell commented on #23234
@CyrusNajmabadi Here's a cropped image:

![image](https://user-images.githubusercontent.com/1408396/32967111-fea1fcf2-cba1-11e7-9de9-915609c39f32.png)

[2017-11-17 20:21] CyrusNajmabadi commented on #23234
Super wacky.  Do we have a repro of the code involved here?

[2017-11-17 20:22] #21692 closed

[2017-11-17 20:26] CyrusNajmabadi commented on #22015
I'd be surprised if the jit cared.  There's no actual difference at the IL/jit level for throw expressions/statements right?  i mean, we're just going to convert "x ?? throw y" into:

[code]

as far as the rest of the system is concerned.

Right?

[2017-11-17 21:05] #21907 closed

[2017-11-17 21:14] jcouv commented on #23259
@sharwell We can use this one (updated the title).

[2017-11-17 21:16] jcouv commented on #23259
Just to clarify this is by-design for current prototype of "nullable reference types" feature, but it is something that we're monitoring and think we may need to further address.

[2017-11-17 21:17] khyperia commented on #23255
This is very related to my intention when creating this PR: https://github.com/dotnet/roslyn/pull/23117

I would imagine that when we support mono, we should visit each use site of `CoreClrShim.IsRunningOnCoreClr` and determine if it's a "just coreclr thing, not mono" or "coreclr and mono both".

For example:

* We probably want to do Desktop-y things in most places (because as @agocke said, mono

[2017-11-17 21:17] tmat commented on #22015
@CyrusNajmabadi The stack might not be empty:

[code]

[2017-11-17 21:18] jcouv commented on #23258
Relates to https://github.com/dotnet/roslyn/issues/16810 (compiler could use System.Object as canary).

[2017-11-17 21:43] 333fred opened #23263 "Inconsistency in getters that just throw"
[code]
[code]
[code]
[code]

These two need to be unified. @dotnet/analyzer-ioperation @AlekseyTs.

[2017-11-17 21:49] AlekseyTs commented on #23263
I disagree. Statements should be mapped to statements and expressions should be mapped to expressions.

However, an IExpressionStaement is probably better than a IReturnOperation for an expression bodied case.

[2017-11-17 22:09] mavasani commented on #23263
Tagging @AnthonyDGreen

A related issue with similar differences: https://github.com/dotnet/roslyn/issues/23152.
I tend to agree with Fred in both these issues. Both of these are identical semantically, but we have different operation trees, primarily to enable users to map distinct syntax nodes to distinct operations. I really wish we supported different modes for GetOperation where in:
1. Mode 1

[2017-11-17 22:15] AlekseyTs commented on #23263
Yes, both of them have equivalent run-time result. However, it is not a goal of the current API to provide some kind of unified canonical view on programs written by using different language constructs. The goal is to expose semantics, i.e. the meaning of programs.

[2017-11-17 22:31] sharwell commented on #23259
Cases I've hit so far:

* `Delegate.CreateDelegate` for a static method
* Trying to compare a `Type` with `null` using operator `==`
* Trying to compare an object with `null` using `ReferenceEquals`
* Invoking a method using `MethodInfo.Invoke` and passing an explicit null to avoid creating an array for empty arguments

[2017-11-17 22:32] mavasani commented on #23263
I agree that we finalized this as the goal of the current API and tree shape and from that viewpoint your stance is correct. I am also not arguing about usefulness of current GetOperation API semantics and tree shapes, these are useful for anyone interested in mapping syntax to semantics and reasoning about it. However, from the view of an analyzer author, I think mode 2 is more useful as I don't

[2017-11-17 22:33] #23184 closed

[2017-11-17 22:35] gafter commented on #12214
The error will be

`error CS8361: A conditional expression cannot be used directly in a string interpolation because the ':' ends the interpolation. Parenthesize the conditional expression.`

[2017-11-17 22:38] VSadov commented on #22872
I have tried to order remaining unimplemented error IDs from https://github.com/dotnet/corert/blob/master/src/ILVerify/src/VerifierError.cs

I do not have a lot of insight if some are easier to implement than others within existing infrastructure. I just looked at possibility to see particular violations as a result of some compiler bug.
In that sense some errors could be more "useful" than others

[2017-11-17 22:50] gafter commented on #18606
I'm closing this. @jcouv, do you want issues for additional possible tests?

[2017-11-17 22:50] #18606 closed

[2017-11-17 22:51] gafter commented on #18612
I'm closing this. @jcouv, do you want issues for additional proposed tests?

[2017-11-17 22:51] #18612 closed

[2017-11-17 22:59] gafter commented on #23261
I believe "code quality improvement" is for improvement in the quality of the generated code.

[2017-11-17 22:59] CyrusNajmabadi commented on #22015
I don't quite understand.  Isn't that just:

[code]
?

[2017-11-17 22:59] oledid commented on #98
This issue was recently discussed on reddit, in `/r/csharp`. [Link](https://www.reddit.com/r/csharp/comments/7devpn/c_may_finally_be_getting_local_readonly_variables/)

[2017-11-17 23:01] gafter commented on #19622
"Code Quality Improvement" is for improving the quality of generated code.

[2017-11-17 23:02] gafter commented on #17839
"Code Quality Improvement" is for improvements to the quality of the generated code.

[2017-11-17 23:17] tmat commented on #22015
No, we don't do stack spilling.

[code]
class C
{
   static string F(string a, string b, string c) => a;

   public static void Main()
   {
      string a = "1";
      string b = "2";
      string c = "3";

      F(
         a ?? throw new Exception(),
         b ?? throw new Exception(),
         c ?? throw new Exception()
      );
   }
}
[code]
IL_0000:  nop
  IL_0001:  ldstr      "1"
  IL_0006:

[2017-11-17 23:44] #23242 closed

[2017-11-18 00:05] jmarolf commented on #22469
I think this is the real answer.  If we suggest items in intellisense irrespective of usings in a file the user no longer misses features if they remove unused usings optimistically.

[2017-11-18 00:07] #23189 closed

[2017-11-18 00:11] kuhlenh commented on #23229
@sharwell I thought for expression-bodied methods (when we allow single line) that we have true/false, but we also just have different options there...

https://github.com/dotnet/roslyn/blob/160c4098fa90cff36fadad616eab2ae967ad2563/src/Workspaces/Core/Portable/CodeStyle/ExpressionBodyPreference.cs

[2017-11-18 00:13] jmarolf commented on #23229
I think this should *also*, at lest, support `false` as a substitute for `Never`.

[2017-11-18 00:52] tmat commented on #3720
@ShekharGupta1988 Do you have a script that defines multiple methods?

[2017-11-18 03:36] kentcb commented on #4068
@heejaechang Thanks for the reply, and enabling that option does indeed allow my compilation end action to trigger (though it's not hitting my breakpoint at the moment, which is strange).

However, I have comments/questions:

1. All the docs I could find point me to the wrong place in the options. Unless I missed it, it would be good to update this.
2. I've been using analyzers for years and had n

[2017-11-18 03:58] CyrusNajmabadi commented on #23229
We support true/false in that case for back compat reasons.  i.e. we used to only have two values (and so we had a bool), but we moved to a tri-state.  For back compat, we still support people coding against the old values.

dotnet_style_require_accessibility_modifiers never was a bool.  It's always been a multi-state.  So there was no back-compat requirement.

[2017-11-18 04:05] CyrusNajmabadi commented on #23229
Seems reasonable.  In general, if possible, if tri-state+ options have a meaningful all/none state, we could always map true/false to those.

[2017-11-18 07:11] jcouv opened #23266 "Build fails on missing generated files"
I'm getting such errors occasionally. Re-building once or twice resolves the issue.
I'm still trying to get a binary log of this.

[code]
Tagging @jasonmalinowski

[2017-11-18 08:06] paul1956 commented on #23106
@mavasani Could anything we did cause me to be unable to hit a breakpoint. Whenever I run my application all breakpoint are yellow in the breakpoint window and I don't see my modules loaded in the modules window. I have reinstalled Visual Studio and restored my project from a know working version of a couple of weeks ago.

[2017-11-18 08:12] Therzok commented on #23051
Well, that means we will never get results for incremental searches as typing into a searchbar _is_ an incremental search

[2017-11-18 08:25] Therzok commented on #23051
Code that breaks due to this https://github.com/mono/monodevelop/commit/9be2b153d223356457951dafe83f58ee656f949d

[2017-11-18 10:46] slluis commented on #23051
VS for Mac has a search bar that uses incremental search. We are in the process of replacing several services by what Roslyn provides. The problem is that we have to do it all at once, since otherwise we would duplicate type information in memory (for our services and for Roslyn). This bug breaks global search, which is a core feature of VS for Mac, and this is holding back the integration of seve

[2017-11-18 10:57] Therzok commented on #23051
Specifically, AbstractNavigateToSearchService is called with filters that grow: 'p' -> 'pr' -> 'pro' -> etc. -> 'property', so that breaks us. Our searchbar uses fuzzy searching

[2017-11-18 11:52] sharwell opened #23267 "Wrapper methods and nullable reference types"
**Version Used**: Preview 11152017

**Steps to Reproduce**:

The following code:

[code]

**Expected Behavior**:

A clear way to update the code to use nullable reference types without the "frustration" operator (`!`).

**Actual Behavior**:

The original code reports a warning when `expEnum` is initialized to null. If the initialization is removed, the use site reports an error that `expEnum` migh

[2017-11-18 11:57] sharwell commented on #23259
`string.IsNullOrEmpty` rapidly moving up my list...

[2017-11-18 12:07] sharwell opened #23268 "Covariant return types with respect to nullable reference types"
**Version Used**: Preview 11152017

**Steps to Reproduce**:

[code]

**Expected Behavior**:

No warning is reported.

**Actual Behavior**:

CS8609 is reported for `B.GetData()`.

----
Update (jcouv, 3/29/2019): as part of this, if I do `b.GetData().ToString()`, there should be no warning. Confirmed with Mads.

[2017-11-18 12:22] sharwell opened #23269 "Add Argument Name does not escape keywords"
**Version Used**: 15.5 Preview 4

**Steps to Reproduce**:

1. Use the following code:

[code]

1. Use the **Add argument name 'object'** refactoring on the second argument to `BeginInvoke`

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2017-11-18 13:48] sharwell opened #23270 "Nullability flow analysis ignores dereferences"
**Version Used**: 11152017

**Steps to Reproduce**:

[code]

**Expected Behavior**:

One warning is reported (first call to `ToString`).

**Actual Behavior**:

Two warnings are reported. However, there is no way for this code to reach the second `obj.ToString()` if `obj` is null.

[2017-11-18 14:28] rik-smeets commented on #22884
Thank you for sharing your points of view. I understand where this default is coming from now. Also, in the meantime, I've heard that work is being done by one of your teams into analyzing C# projects on GitHub as part of creating a default .editorconfig file in Visual Studio, which is great.

Awaiting that, this discussion got me thinking: why not simply offer both field creation options to the u

[2017-11-18 15:33] jnm2 commented on #23248
How much sign-off do I need to start implementing?

[2017-11-18 15:54] svick commented on #12214
@gafter If the error message suggests a way to fix it, should the compiler also include a code fix that can do it automatically?

[2017-11-18 16:30] jmarolf commented on #23248
curious what @Pilchie and @jinujoseph's opinions are, but in general we like codefies that promote new language features.

[2017-11-18 16:48] jnm2 opened #23271 "Quick action to initialize field or property from constructors"
(Following the pattern of reporting my most essential quick actions with the goal of being able to use vanilla VS one day.)

When I start a new class or struct, I'll often write out fields and properties with the desired modifiers and accessors. When I'm done, I'll either generate a constructor initializing all of them, or I'll add them to all constructors one by one in the order I want, potential

[2017-11-18 17:18] jnm2 commented on #23248
If this would end up exacerbating real end users' debugging issues in the short term I'm happy to wait for the debugging experience to be improved too.

[2017-11-18 17:56] sharwell opened #23272 "Crash while typing using nullable reference types preview"
**Version Used**: Preview 11152017

[code]

The crash occurred twice while typing to replace the following lines:

https://github.com/Microsoft/perfview/blob/118f6bc000c9aaaa5e80f98e03fdfedf754b1790/src/FastSerialization/GrowableArray.cs#L359-L360

with this:

[code]

working in the following order:

1. Add `?` to array
2. Type the `EmptyArray` field definition
3. Add the `private` accessibility m

[2017-11-18 21:07] schovanec commented on #23043
It is possible that @MhdTlb is trying to build the solution in the released version of VS2017? I had issues with that myself as the SDK version that ships with it seems to be too old. I installed the preview version and everything builds fine in that.

I'm looking for somewhere to get started as well so if @MhdTlb can't get it building I can take a stab at this.

[2017-11-18 22:02] alrz opened #23274 "Method name for a public method has been changed"
From https://github.com/dotnet/roslyn/pull/22472
[code]
/cc @gafter

[2017-11-18 23:16] Tragetaschen commented on #23259
This is going to get interesting...

- Static properties via reflection:
[code]
- `new Timer(callback, null, -1, -1)`. `callback`s object parameter inherits the nullability of the second parameter

[2017-11-18 23:22] CyrusNajmabadi commented on #23051
1. This will only break for the fuzzy searching type of matching.
2. It will only break *if* the previous fuzzy match was more restrictive than the next fuzzy match.  i.e. if you have My, and then type MyProp this will still find all of the items that My would have found.

Where this is a problem is if there is not enough 'strength' in the smaller search string to match something, but typing more

[2017-11-18 23:22] gafter commented on #23274
This was intentional

[2017-11-18 23:23] CyrusNajmabadi commented on #23051
Why not just postpone this part.  It's going to take time for this to be fixed on the roslyn side anyways.  You could merge in all the rest of the changes, but keep yoru current search system.

[2017-11-18 23:24] alrz commented on #23274
This is breaking if someone use a named argument for that (discovered during a PR off of an older commit).

[2017-11-18 23:34] CyrusNajmabadi commented on #23051
I think i've found the problem.  The issue is how the fuzzy matcher works in Roslyn.  Specifically, we have these lines of code:

https://github.com/dotnet/roslyn/blob/715aa4a630246eceda0adf4683ed22cb7be70890/src/Workspaces/Core/Portable/Utilities/SpellChecker.cs#L176-L184

The idea here is that we actually both shut off the fuzzy matching if the user has not typed enough text.  i.e.:
1.  typing '

[2017-11-18 23:37] jcouv commented on #23266
Some additional data points:
After getting this error in VS, I tried building from the command-line hoping to repro there and capture some logs. But the command-line build passed.
However, when I went back to VS and tried building again, I got another set of errors (copied below). Building from VS again didn't produce no errors after that.

[code]

[2017-11-18 23:40] CyrusNajmabadi commented on #23051
Hrmm.  even that won't be sufficient.  We end up bottoming out on an edit distance calculation.  That edit distance algorithm immediately terminates if it can see the cost will be more than the potential threshold we've set (either 1 or 2 edits).   i.e. Pro will never match CropDuster (since it would take 7 edits to change).  But PropDuster would match.

Fundamentally, as long as the fuzzy match s

[2017-11-18 23:48] CyrusNajmabadi commented on #22884
I don't like that approach simply because it pushes so many choices in the user's face and clutters up an experience that we've actually worked *super hard* to streamline down.  I don't have any pictures of this anymore, but you could routinely see tens of items in the list.  It was horribly cluttered and overloading.

Instead, we strongly want to give the "right" fix and allow users to change thi

[2017-11-18 23:50] CyrusNajmabadi commented on #23248
I don't think you have to wait.  we've already shipped features that push user code toward ```... ?? throw```.  And there's been little (if any) feedback that this was undesirable (at least not for the debugging impact).  So i would not be dissuaded from continuing down this path.

[2017-11-19 00:06] Tragetaschen opened #23275 "Return null from async/await function"
**Version Used**:
11152017

**Steps to Reproduce**:

[code]

**Expected Behavior**:

The "return type" is declared to be possibly `null` (`object?`), so there shouldn't be a warning.

**Actual Behavior**:
There's a warning.

[2017-11-19 00:14] CyrusNajmabadi commented on #23275
Can you specify if you're using any sort of special branch of Roslyn or the language for this?  "object?" is not legal in C# up through 7.2, but i'm guessing you're trying out a branch with nullable-reference-types support.

If so, please let us know which branch you're using.  Thanks!

[2017-11-19 00:22] CyrusNajmabadi commented on #23267
I agree.  Ideally, the compiler will also warn (now) or in the future for unnecessary !s.  !s can then be the bit of syntax to help migrate code forwward . Then as it is fixed up, our tooling can get rid of it from places it is no longer necessary.

[2017-11-19 00:23] CyrusNajmabadi commented on #12214
PRs welcome @svick :)

[2017-11-19 00:28] CyrusNajmabadi commented on #23271
@jnm you can currently do this:

1. Generate constructor flexibly:
![image](https://user-images.githubusercontent.com/4564579/32986045-15506016-cc7d-11e7-96bb-8010df4c1a0c.png)

![image](https://user-images.githubusercontent.com/4564579/32986049-243716d8-cc7d-11e7-9e0b-8bd7d2975239.png)

2. Select the fields you care about directly and create a constructor from them.

![image](https://user-images.

[2017-11-19 01:37] ShekharGupta1988 commented on #3720
Hi @tmat - Yes. The script file would have multiple methods and host needs to execute one of those methods based on certain conditions.

[2017-11-19 01:42] gafter commented on #20375
We are considering adding a range pattern, e.g. `(num is '0'..'9')`. If we do that, we would generate "optimized" code for the range pattern from the start.

[2017-11-19 01:53] gafter commented on #23274
Yes, we know. Hopefully it is not too burdensome to adjust the client.

[2017-11-19 02:34] tmat commented on #3720
You can work around the lack of CreateDelegate by creating delegates directly in the script:

[code]

[2017-11-19 02:50] jmarolf commented on #23275
11152017 I believe does refer to the preview of the nullable refs listed here: https://github.com/dotnet/csharplang/wiki/Nullable-Reference-Types-Preview

[2017-11-19 03:00] tmat commented on #23145
@KarloX2 Pretty much impossible to do reliably (Thread.Abort does not guarantee that the thread terminates). Besides implementing calls to another AppDomain is pretty much the same as communication with a process.

[2017-11-19 03:44] tmat commented on #22953
Seems like a bug in reference binding: we are creating a PEAssembly symbol for the containing assembly twice (once for each submission).

[2017-11-19 04:36] jcouv opened #23277 "Running Editor tests prints out unnecessary outputs"
This is probably an issue with how loggers are removed or registered.

[code]

Tagging @jasonmalinowski

[2017-11-19 05:03] jcouv commented on #17684
I'm taking a stab at this (PR https://github.com/dotnet/roslyn/pull/23276, WIP)

[2017-11-19 06:39] jnm2 commented on #23271
I wonder why (2) wasn't showing up for me? Obviously that covers part of my ask.

As to (4), that's only covering one direction. If I write the field or property first amd then want to add it to all constructors, I'm out of luck. This is exactly the kind of thing I need fleshed out.

[2017-11-19 07:18] Tragetaschen commented on #23275
Yes, that's the one

[2017-11-19 08:30] jinujoseph commented on #23248
Agree with @CyrusNajmabadi  here, don't see a reason to hold the work till the debugging experience improves, If this will provide value add and promote new language features, sounds good to me.

[2017-11-19 08:39] Tragetaschen opened #23278 "Adding a dammit operator can hang Visual Studio"
**Version Used**:
VS 15.5 Preview 4 with the Nullable Reference Types Preview 11152017

**Steps to Reproduce**:
[code]
When you add a `!` after callback in `Timer`'s constructor VS hangs / crashes.

[2017-11-19 08:50] Tragetaschen commented on #23259
This one probably deserves a separate comment: The `[Required]` annotation for model binding in ASP.NET (Core) and model validation.

Typically, you have a model class
[code]
and a controller action
[code]

[2017-11-19 09:01] framgeld commented on #22469
+1 for reintroduction of "Sort Usings". Not all classes require the "System", "System.Linq", etc namespaces that are added by default and I find myself removing them if they are not required.

[2017-11-19 09:38] vsfeedback opened #23279 "System.NullReferenceException: Object reference not set to an instance of an object. at Microsoft.CodeAnalysis.FindSymbols.DependentProjectsFinder"
Visual Studio is crashing when I click on an interface member name in a C# file.  I have a solution with two F# projects and one C# project.

I've just recentaly re-installed Visual Studio to try and resolve this issue, but it does not seem to have worked.  It seemed to be OK before I configured the F# nightly, but it is hard to know for sure.

If I open the C# file and then click on the member, V

[2017-11-19 09:39] jinujoseph commented on #23279
Application: devenv.exe
Framework Version: v4.0.30319
Description: The application requested process termination through System.Environment.FailFast(string message).
Message: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.CodeAnalysis.FindSymbols.DependentProjectsFinder.<AddNonSubmissionDependentProjectsAsync>d__12.MoveNext()
--- End of stack t

[2017-11-19 10:37] Therzok commented on #23051
@CyrusNajmabadi This part is integrated in one go, because we already have a cache of DeclaredSymbolInfo on our side. The incremental analyser for SyntaxTreeIndex would duplicate all that information in memory, which really takes a lot.

I was the one who suggested the optimisation. Our matcher would still match results in that case, I assumed that the roslyn matcher would too, but I made the wron

[2017-11-19 13:06] ak98 commented on #7364
Getting the Unexpected null error now. After installing DevExpress CodeRush.  Error goes away when the CodeRush Extension is disabled.
![snip_20171120000024](https://user-images.githubusercontent.com/1764360/32990914-ea11f612-cd85-11e7-9ce7-11e5701ee604.png)

[2017-11-19 18:05] EricGriffith opened #23280 "Provide a formatting option to control new lines between accessors in a property"
When a property has both getters and setters that are not expression bodies, it's currently possible to format it like this using both `NewLinesForBracesInProperties` and `NewLinesForBracesInAccessors`:

[code]
Ideally, there should be an option like `NewLinesBetweenAccessors` that would allow the new line between the get and set accessor to be removed like this:

[code]

It is a common code style

[2017-11-19 19:23] #22884 closed

[2017-11-19 19:47] sharwell opened #23281 "Nullable reference types bias towards use of 'var'"
**Version Used**: Preview 11152017

I have observed several cases where changing the return type of a member results in cascading updates through the code. In many cases, local variables declared to hold the result of invoking these members were already properly used, and the only reason why an update was required is the local variable was declared using the type name rather than using `var`.

It

[2017-11-19 19:50] samsmithnz commented on #16856
There is one more minor issue here: this picks up with code coverage as an untested block. As it's an auto-generated class, you can't add an attribute to ignore code coverage. Not sure the correct way to add this as an issue. Is someone able to assist! I'd love to be more involved in this community.

[2017-11-19 20:10] sharwell commented on #23280
💭 This is another case where hierarchical options would be helpful. At the top, you could have a setting "Blank line between members", and child options to override the behavior of the top-level settings for specific situations, such as accessors.

[2017-11-19 20:19] tmat commented on #16856
I'll just reiterate my point: this is a hack and should be removed.
@livarcocc

[2017-11-19 21:45] alrz commented on #23280
part of https://github.com/dotnet/roslyn/issues/18186

[2017-11-19 21:53] CyrusNajmabadi commented on #23271
Were you selecting the field(s)?

[2017-11-19 22:00] CyrusNajmabadi commented on #23271
No you're not.   You can select all the fields you want to make a constructor out of.  If they match an existing constructor, we'll offer to add the new fields to the end of it.  For example:

![image](https://user-images.githubusercontent.com/4564579/32995982-6dadb376-cd31-11e7-9842-d6eb02263b18.png)

Note how many permutations there already are for this sort of case.  We already support making a

[2017-11-19 22:02] CyrusNajmabadi commented on #23271
Note:

Currently, several of htese features require you to make a selection.  That makes sense for when you have multiple fields/props you want to consider.  But it's worth us taking a look at if we should at least offer some of these if your caret is just on a single constructor, even without a selection.

[2017-11-19 22:05] CyrusNajmabadi commented on #23051
Same for us :)

We havne't felt the need for that optimization since the searches are fast, and easily cancelled.  But it's something interesting to consider.

So it's your fault! :D

Interesting.  How do you avoid the problem of a single character "matching the world" (and thus consuming tons of memory and excess CPU)?  And if it doesn't "match the world" then i don't see how your fuzzy matching

[2017-11-19 22:07] CyrusNajmabadi commented on #23051
Anyways, it sounds like:

Is the way to go, at least in the short term.  @sharwell, @Pilchie @jinujoseph so this can be appropriately triaged given the integration blocking nature of the issue.

BTW, if something is integration blocking, plz let us know asap.  Otherwise, it will very likely be deprioritized against other critical work.

[2017-11-19 22:31] Pilchie commented on #23260
Part of https://github.com/dotnet/roslyn/issues/7053

[2017-11-19 23:59] AceCoderLaura commented on #23119
I can't move my reference to the website project because the code that utilises the nuget package is in a separate c# project. What do I do?

I can delete the line out of the .props file but then the error comes back after restoring my nugets.

[2017-11-20 00:04] AceCoderLaura commented on #23119
This error happens without fail if the build is initiated at the command line. In Visual Studio it's only intermittent. So this leaves all my automated build processes unable to complete successfully.

[2017-11-20 01:34] AlekseyTs opened #23282 "Unexpected IOperation tree for recursive RaiseEvent"
[code]

Expected: IRaiseEventOperation rather than IInvalidOperation node
Microsoft.CodeAnalysis.Operations.VisualBasicOperationFactory.CreateBoundRaiseEventStatementOperation(BoundRaiseEventStatement boundRaiseEventStatement) shouldn't assert in debug build.

[2017-11-20 01:35] AlekseyTs commented on #23282
Should also test recursive AddHandler/RemoveHandler statements, see Microsoft.CodeAnalysis.VisualBasic.UnitTests.BindingErrorTests.BC41998WRN_RecursiveAddHandlerCall for example.

[2017-11-20 01:43] jnm2 commented on #23271
Ah... making a selection is the missing link here. That's not discoverable when you've never been made aware that making a selection (wider than zero) has an effect on the quick actions listed.

I do have a strong preference for a behavior at selection length 0 to be consistent with the behavior as the length approaches the limit 0.

You keep saying this even after showing me that something alread

[2017-11-20 02:04] AlekseyTs opened #23283 "IOperation factory throws System.InvalidOperationException for an Option statement inside a method body"
[code]

Observed:
[code]

[2017-11-20 02:37] AlekseyTs commented on #23282
See Microsoft.CodeAnalysis.VisualBasic.UnitTests.CodeGenEvents.SimpleRaiseHandlerWithBlockEvent for additional test scenarios.

[2017-11-20 04:33] jcouv commented on #23281
FYI @cston

[2017-11-20 05:14] ShekharGupta1988 commented on #3720
@tmat - thanks for the work around :)

[2017-11-20 05:46] alrz commented on #23271
I had also trouble discovering this untill I asked around about it. selection is not the first thing that comes to mind. I think we should have a code generation context menu item that appears in the class body when selection length is zero. once you select "generate constructor" we then show select member dialog with the member at the caret position preselected.

[2017-11-20 05:56] Therzok commented on #23051
@CyrusNajmabadi we pay the costs differently. On the initial search, we pull all the document information into memory - keeping a cache of DeclaredSymbolInfos. Then, we pay no cost of allocation for single character, since we only allocate one pattern matcher that does not allocate too much on matching/ranking.

http://source.monodevelop.com/#MonoDevelop.CSharpBinding/MonoDevelop.CSharp/ProjectSea

[2017-11-20 09:30] Pzixel opened #23289 "Allow collection to be implicitely casted to IReadOnlyCollection<T>"
Currently we have a wonderful feature that allows to treat `Foo[]` as `IEnumerable<IFoo>`. However, using `IEnumerable<T>` provides several limits as it could be a query and user may be sad because of it.

We currently have a suitable interface `IReadOnlyCollection<T>` which is basically `IEnumerable<T>` + `Count` property.

Now we can write following:
[code]
I'd like this being also possible:
[co

[2017-11-20 10:04] KarloX2 commented on #23145
Ok, thank you for your comments!

[2017-11-20 10:04] #23145 closed

[2017-11-20 10:35] ashmind commented on #23289
This is currently possible though?

https://sharplab.io/#v2:C4LgTgrgdgPgAgBgARwIwG4CwAoRLUAsW2OcAzEgJZTACmYAZgIYDGtSAkgGID2PSAbwC+pCnABMSXvxCdpgkSVxjJaAOyCcSbSgocASrSYATAPJQANgE8AwjwsXaLYJR5QAPNz4A+JAHFaYGkAZwAKAEokAF5fAKC+AEEwMCYrCOIASAAHMEoANyY6KT4AbQBdf0DpJJS0yJikKFoAd3LBRpbingikIXQkLR1B7XJ8ADYUAnwADh6BYZ1tJub8NQiAOjiQjY4oYKynYHSFxSEgA

[2017-11-20 10:47] Pzixel commented on #23289
I immediatly regret that I didn't check it yet another time before asking. Thank you for your time.

[2017-11-20 10:47] #23289 closed

[2017-11-20 11:07] cmeeren commented on #21891
The bug appears to be a duplicate of https://github.com/Microsoft/visualfsharp/issues/3056 which contains more information. It appears there's a very simple Roslyn/VS fix (https://github.com/Microsoft/visualfsharp/issues/3056#issuecomment-343449101).

[2017-11-20 11:46] cmeeren commented on #21891
And by the way, templates are still missing from latest nightly (15.4.1.17111702).

[2017-11-20 12:09] andrey-messi opened #23290 ""csc.exe" exited with code -2146232797"
**Version Used**: vs2017 version 15.4.4

**Case 1**

**Steps to Reproduce**:

1. Try compile this code:
[code]

**Expected Behavior**: Successfully compiled

**Actual Behavior**: COMPILE ERROR -- "csc.exe" exited with code -2146232797

**Case 2**

**Steps to Reproduce**:

1. Get code from case 1 and change a call to Func3(a) with a call to Func3(1)
Code with this change is shown below, try compile

[2017-11-20 12:32] MaStr11 commented on #23290
A test with [sharplab.io](http://sharplab.io) reveals that this compiles with the current master branch but fails with the *default* compiler.

[2017-11-20 13:02] andrey-messi opened #23291 "Incorrect line is shown when error has been found"
I'm not sure this bug is related to Roslyn as a compiler (more chances that it relates to a code analyzer), but I've found this bug simultaneously when I've found a bug in a compiler (see https://github.com/dotnet/roslyn/issues/23290  )

**Version Used**: vs2017 version 15.4.4

**Steps to Reproduce**:

1. Copy and paste this code in VS-editor:
`using System;
namespace Ns
{
    internal static clas

[2017-11-20 13:09] HaloFour commented on #23291
The error is in the correct place.  You're allowed to reference an uninitialized variable from within a local function, but you're not allowed to invoke that local function until those variables are initialized.

[2017-11-20 13:09] waswat commented on #7364
Same issue in 15.4.4 when using f2 to rename variables

![devenv_2017-11-20_13-52-52](https://user-images.githubusercontent.com/33481584/33019326-1d2808a6-cdfa-11e7-9bcd-0103fc16b266.png)

Might have something to do with going into sleep mode and returning from that?

Works fine after restarting VS.

[2017-11-20 13:15] andrey-messi commented on #23291
@HaloFour  you are right. I just added a string
            notInitializedX = 1;
just before call to Func3(); and it then compiled.

[2017-11-20 13:16] #23291 closed

[2017-11-20 13:39] #20855 closed

[2017-11-20 13:39] #23215 closed

[2017-11-20 13:39] #23216 closed

[2017-11-20 13:39] #23217 closed

[2017-11-20 15:30] jltjohanlindqvist opened #23293 "Visual Studio Installer middle mouse click on release notes creates a second instance of the application"
**Version Used**:
Visual Studio Installer 1.12.111.1002

**Steps to Reproduce**:
1. Open Visual Studio Installer.
2. Press the Release Notes below Visual Studio Professional 2017 using the middle mouse button instead of left mouse button.
3. Another instance of Visual Studio installer is opened that if closed will close both instances.

**Expected Behavior**:
The same behavior as if you press usin

[2017-11-20 15:55] jnm2 opened #23294 ""Go to file member" keyboard shortcut"
(Following the pattern of reporting my most essential quick actions with the goal of being able to use vanilla VS one day. I think I messed up the order– this is my no. 1 priority.)

I'm estimating a minimum of fifty times a full workday that I used to use ReSharper's <kbd>Alt</kbd>+<kbd>\\</kbd> 'Go to file member' feature. It was great: I could press those keys and type part of the name and pres

[2017-11-20 16:17] marlonfsolis opened #23295 "Error when using entity framework"
**Version Used**: 2.4.0.6221601

**Steps to Reproduce**:

1. Use entity framework to call an stored procedure in a method (context.Database.ExecuteSqlCommand(sqlQuery, parameters);)
2. Call that method in the interactive window
3. Error happend

**Expected Behavior**: Result back.

**Actual Behavior**: Error:
No connection string named 'ConnectionName' could be found in the application config file

[2017-11-20 16:19] alrz opened #23296 "Access is denied: 'Microsoft.CodeAnalysis.Remote.RemoteHostClient'"
**Version Used**: 15.3.2

**Steps to Reproduce**:

1. Open VisualStudioSetup.Next.csproj
2. Start Debugging or Start Without Debugging
3. Open a ConsoleApp project

**Actual Behavior**:

After a couple of seconds an exception is thrown.
[code]

[2017-11-20 16:20] jcouv opened #23297 "ExtractLocal crash when fixing all"
Try running ExtractLocal on `builder.Builder` (fix all) on the following code (added to `roslyn\src\editorfeatures\test2\findreferences\findreferencestests.vb`).

[code]
[code]

[code]

[2017-11-20 16:39] jcouv opened #23299 "Analyzer to make `in` explicit at call sites"
You can pass `in` parameters explicitly or implicitly. A number of folks have expressed interest in requiring that `in` be explicit (see discussion in https://github.com/dotnet/csharplang/issues/945).
An analyzer could help with that. It should be configurable via option.

@jinujoseph @kuhlenh for triage.

Tagging @VSadov @OmarTawfik as FYI

[2017-11-20 17:30] gafter opened #23301 "Nullable Reference Types Preview won't install"
@rolandh commented on [Sun Nov 19 2017](https://github.com/dotnet/csharplang/issues/1120)

I get the following stack trace when trying to install the nullable reference types preview on Windows 10 x64 with VS 2017 Enteroprise installed

https://github.com/dotnet/csharplang/wiki/Nullable-Reference-Types-Preview#installation-instructions

---

@jcouv commented on [Sun Nov 19 2017](https://github.com

[2017-11-20 18:28] #23194 closed

[2017-11-20 18:52] jasonmalinowski commented on #23266
@jcouv Typically if I've seen this there was some build failure earlier on, and this was just downstream failures.

[2017-11-20 19:08] svick opened #23303 "Why are local functions sometimes unnecessarily emited as internal?"
Local functions are logically private, so I think the emitted IL should reflect that, but it usually doesn't.

Here is what the emitted code currently looks like, depending on the closure of the local function:

1. [If the local function has no closure, it is emitted as `internal`, when it could be `private`:](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEBMACAwgWAFADe+GJGKALBgLIAUAlMaUXqa2ZQDYD2Axh

[2017-11-20 19:19] jnm2 opened #23305 "Quick action to convert concatenation to interpolation"
(Following the pattern of reporting my most frequent ReSharper quick actions with the goal of being able to use vanilla VS one day.)

If I <kbd>Ctrl</kbd>+<kbd>.</kbd> on this expression:

[code]

I would like to have the quick action 'Convert concatenation to interpolation' which replaces with this expression:

[code]

[2017-11-20 19:25] jnm2 opened #23306 "Quick action to convert if to ternary"
(Following the pattern of reporting my most frequent ReSharper quick actions with the goal of being able to use vanilla VS one day.)

If I <kbd>Ctrl</kbd>+<kbd>.</kbd> on the keyword `if`:

[code]

I would like to have the quick action 'Use ternary' which replaces with this:

[code]

I also use the reverse.

[2017-11-20 19:25] alrz opened #23307 "Show captures when hovering over local functions and lambda arrow"
Since capture lists are rejected as a language feature I think the next logical step is an IDE feature.

[2017-11-20 19:59] CyrusNajmabadi commented on #23271
I would be ok with that.  Tagging @kuhlenh since she is the lightbulb whisperer.

[2017-11-20 20:06] reaction1989 commented on #15685
@Pilchie Is here something left i can help with?

[2017-11-20 20:08] jnm2 opened #23308 "Creating field from ctor param should be offered higher than creating property"
I'd like to be able to <kbd>Ctrl</kbd>+<kbd>.</kbd>, <kbd>Enter</kbd> to create and initialize fields and only have to use arrow keys for creating public properties:

![image](https://user-images.githubusercontent.com/8040367/33038932-4bc720a2-ce04-11e7-9b4b-cb0c37118966.png)

[2017-11-20 20:09] reaction1989 commented on #14979
@Pilchie There is a margin
![image](https://user-images.githubusercontent.com/873751/33039062-02b6b49e-ce37-11e7-9ddd-ce00a6b82b4f.png)

Or do you mean another one?

[2017-11-20 20:24] CyrusNajmabadi commented on #23218
I wouldn't close this.  This def seems worth fixing.  @Droni Would you like to make a PR?  If not, i can do this.

[2017-11-20 20:25] jcouv commented on #23266
There was no other error listed in the output, and retrying works. So it could be that an early build step silently failed.
If that's the case, then there are two problems: why was it silent, and why did that early step fail at all?

[2017-11-20 20:40] CyrusNajmabadi commented on #23294
@sharwell can you direct this to Mark and Daofa?

[2017-11-20 20:42] mavasani opened #23309 "Missing operation callbacks in attributes"
We currently do not make any operation callbacks for attributes, causing lot of false positives for operation block analyzers.

[2017-11-20 20:43] CyrusNajmabadi commented on #23305
Doesn't that feature already exist?

![image](https://user-images.githubusercontent.com/4564579/33040596-65f59724-cdf0-11e7-8b49-90e81a04b004.png)

[2017-11-20 20:44] CyrusNajmabadi commented on #23305
BTW: please keep filing these.

1. We want to know what you feel like you're missing.
2. Sometimes we have the feature, but it's not as discoverable or as intuitive as you'd like.

Knowing about these issues def helps us improve the experience.

Also paging @kuhlenh

[2017-11-20 20:46] CyrusNajmabadi commented on #23306
@dotnet/roslyn-ide I would be willing to implement this.  Also paging @alrz

One thing that held me off from this in the past was concerns about multiline statements and not producing good results.  But if this is just a refactoring, it can always just be a helpful speedup tool.

Also, while we use the ?: pattern that @jnm2 shows heavily in roslyn, i know that lots of people put ?: at the end of t

[2017-11-20 20:47] CyrusNajmabadi commented on #23307
This is a great idea.  Paging @jcouv as he seems to love exposing compiler innards in the IDE.

[2017-11-20 20:50] CyrusNajmabadi commented on #23308
This is fundamentally a personal preference.  Some people use fields a lot.  Some people use properties.  I did an analysis and found that properties win out.

Now, one thing we should do is have the code action respect hte current format in your file.  i.e. if the previous parameter was assigned to a field, then the next parameter should offer 'fields' over properties.  I thought i implemented it

[2017-11-20 20:57] jnm2 commented on #23305
Okay, I will. Maybe there's also a reason I keep removing and readding the 'add null check' parameter quick action from my list of todo requests. As far as foggy memory serves, it's there maybe 25% of the time that I expect it to be.

I finally found it. I'm used to sitting on the `+` operator to do it. I didn't realize it would make a difference to start from a text literal. Also, this is weird.

[2017-11-20 20:57] sharwell commented on #23306
Maybe, for now let's not add the formatting option. The beginning of the line is preferable for operators as it improves the ability of readers to quickly see what operations are taking place.

[2017-11-20 21:00] jcouv commented on #23307
I love the idea.
@CyrusNajmabadi I don't know how to do those kinds of popups yet. Do you think this would be an extension of QuickInfo, or a new kind of popup?

[2017-11-20 21:01] jnm2 commented on #23308
Public is more common than private? If statistics back that up, I guess I'll believe it. :D I'm used to using the most restrictive visibility by default and would expect that to be subtly encouraged as a good programming practice.

[2017-11-20 21:06] jnm2 commented on #23306
Yeah, I didn't make it clear that my ask isn't about formatting per se. If the choice is non-binary or feels inherently unbalanced, or one of the lines is much longer than the other, I usually switch to formatting this way:

[code]

But I'm used to customizing formatting all the time.

[2017-11-20 21:09] CyrusNajmabadi commented on #23305
Great suggestion.  We should do that.

I imagine this was partly done for efficiency.  If you have a text-literal, the analyzer has a known place to start from and can avoid having to analyze *the world*.

Also, i think it's far more likely and common for people to want to convert expressions with literal text into interpolations.  i.e. they'll have:

[code]

versus making a string with concatenat

[2017-11-20 21:14] CyrusNajmabadi commented on #23307
It would be an extension of quickinfo.  Basically, i think you'd want to modify "ISymbolDisplayService" to support adding this information for the symbol display for a local function or lambda.

Note: this should be easy for local functions, but a little more work will need to be done for lambdas.  that's because AbstractSemanticQuickInfoProvider.BindTokenAsync probably doesn't even work on a => f

[2017-11-20 21:15] jnm2 commented on #23305
Like I said, it might be one of a series of lines of code with an interpolated string in that position. But if it means analyzing the world for `+` operators where one operand ends up with the expression type of `string`, and that's infeasible to make performant, I don't think I'll miss it. Someone can always file an issue later.

[2017-11-20 21:17] CyrusNajmabadi commented on #23308
Sure.  As i mentioned, i think it's fine if this feature were updated to:

1. respect the code around it when working on multiple parameters.
2. prioritize the last thing the user did when invoked on a new constructor.

i.e. if you just had a type and did "generate field from parameter" and you then go to a new type, then we should prioritize 'generate field' above 'generate property'.

Note: PRs

[2017-11-20 21:18] CyrusNajmabadi commented on #23308
On the topic of PRs: i'm happy to help walk you through things here if you haven't make code changes to roslyn before.

[2017-11-20 21:19] CyrusNajmabadi commented on #23306
I think that's reasonable.  At the very worst, this just means hte feature isn't great for some people.  But for others, it would be fantastic.

as with the other issues @jnm2, PRs welcome here. :)

[2017-11-20 21:20] jnm2 commented on #23308
Right now I'm trying to figure out whether or not my muscle memory would appreciate the order switching the way you're planning...

Heard, also much appreciated. I have some fires to put out at NUnit for a while but a roslyn contribution is something I'd like to do eventually.

[2017-11-20 21:24] Pilchie commented on #15685
@reaction1989 Sure!  The pages under CodeStyle/Formatting have a similar split, but still aren't separately resizable:

They start at http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices.Implementation/Options/OptionPreviewControl.xaml,fabe6f0788435e69 I think.

[2017-11-20 21:25] CyrusNajmabadi commented on #23308
We have a few places where we do this already, and generally things just work amazingly and ones brain doesn't even realize it's happening.  Life just works properly.

For example, completion *heavily* uses MRU to weight things, and will often be picking different items based on what you've recently typed.  this allows you to type less, while still getting the "right" results.  Of course, if you a

[2017-11-20 21:26] CyrusNajmabadi commented on #23308
Sounds good.  UNfortunately, getting setup the first time is usually the hardest.  But once up and running, making changes, testing them, and submitting PRs can be done really efficiently :)

[2017-11-20 21:26] alrz commented on #23307
It would nice if we give visual clue if a local function/lambda is capturing anything at all. Heap allocation viewer extension underlines function name/lambda arrow if there is a closure..

Further, this could go hand in hand with https://github.com/dotnet/roslyn/issues/3976 if we also make capture variable distinguishable with a different coloring (bringing this up since it's been three years and

[2017-11-20 21:27] #23232 closed

[2017-11-20 21:28] Pilchie commented on #14979
I'll defer to @dpoeschl on this.

[2017-11-20 21:28] #23223 closed

[2017-11-20 21:29] #23203 closed

[2017-11-20 21:32] CyrusNajmabadi commented on #23307
I would add that request to #3976.  Thanks!

[2017-11-20 21:36] alrz commented on #23306
I think formatting issues comes down to the question "where to break?" Relates to https://github.com/dotnet/roslyn/issues/18282

[2017-11-20 21:45] alrz opened #23310 "Refactoring: Convert lambda to local function"
[code]
->
[code]
Probably best to wait for https://github.com/dotnet/roslyn/pull/6642 to land, otherwise this causes to generate suboptimal code.

[2017-11-20 21:54] CyrusNajmabadi commented on #23310
You can already do this in two steps:

1. Select the lambda and say "introduce local variable".  When done, you will be on the name of hte local variable.
2. Bring up the lightbulb and say "Use local function."

![image](https://user-images.githubusercontent.com/4564579/33043408-39c7cdfc-cdfa-11e7-8fcd-50633cce75e3.png)

![image](https://user-images.githubusercontent.com/4564579/33043419-4419f672-

[2017-11-20 21:58] alrz commented on #23310
The painful part is selecting the whole lambda which can get long. Would be nice if we suggest "introduce local variable" for the expression node that we're immediately touching (selection length is zero), so simply running on `[||]=>` could have the same effect.

[2017-11-20 22:08] CyrusNajmabadi commented on #23310
Sure.  I would be ok with that change.  note: if you did that, i think that refactoring should have low priority.

[2017-11-20 22:09] CyrusNajmabadi commented on #23310
I think this is the function you'd have to update:

https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State.cs#L186-L190

[2017-11-20 22:10] kuhlenh opened #23313 "Combine csharp and visualbasic rule for "prefer_inferred_tuple_names" to just "dotnet""
We have the following rules:

[code]

Is there a reason we chose to split C# and VB into separate rules as opposed to having a single `dotnet_prefer_inferred_tuple_names`  and `dotnet_prefer_inferred_tuple_names` rule?

[2017-11-20 22:11] kuhlenh commented on #23313
@CyrusNajmabadi -- do you remember why you had these as separate by language?

[2017-11-20 22:39] CyrusNajmabadi commented on #23313
I believe @jcouv wrote that feature.  Likely he copied from something else and no one caught it during review.

[2017-11-20 23:49] #23283 closed

[2017-11-21 00:17] yaakov-h commented on #23301
I had this same issue on a machine with VS2017 15.4.4 **and** VS2017 15.5 Preview installed... which according to the release notes, is not yet supported.

It installs fine into a VM that only has VS2017 15.5 Preview installed.

[2017-11-21 00:31] yaakov-h commented on #23259
Here's what I've found in just a few hours of trying to compile some of my code with the preview:

* Trying to compare an `Assembly` with operator `==`
* `string.Format` with a nullable reference in the params array
* `PropertyInfo.GetValue(object, null)`
* All of the `TryParse` methods (`Guid`, `int`, etc.)
* `Type.GetType(string, null, typeResolverFunc, bool)`
* `ThreadPool.RegisterWaitForSingle

[2017-11-21 00:39] yaakov-h commented on #23268
Did you mean `abstract class A` and `class B : A`?

[2017-11-21 00:57] VladimirReshetnikov opened #23319 "C# compiler allows unsafe conversions from method groups to delegates with mismatching `in` modifier"
**Version Used**:
Version 15.5.0 Preview 4.0
VisualStudio.15.Preview/15.5.0-pre.4.0+27110.0

Visual C# 2017   00369-60000-00001-AA127
Microsoft Visual C# 2017

C# 7.2

**Steps to Reproduce**:

Compile and run:

[code]

**Expected Behavior**:
A compile-time error.

**Actual Behavior**:
The program compiles successfully, but fails at runtime:

   at Program.F(DateTime& x) in Program.cs:line 7

[2017-11-21 01:16] smitpatel opened #23320 "Null check can be simplified produces code with compilation error"
[code]

In above code, VS suggests that null check can be simplified.
![image](https://user-images.githubusercontent.com/1528107/33049724-3d68d098-ce16-11e7-9225-0ce67f7a4252.png)

But after applying the code fix using VS
![image](https://user-images.githubusercontent.com/1528107/33049752-56c0c302-ce16-11e7-924d-778ca015b8f3.png)

**Actual Behavior**:
Error message:
1>Program.cs(15,32,15,40): erro

[2017-11-21 01:43] ivanbasov opened #23322 "Compiler does not warn on unused locals on joined assignments"
**Code example**
[code]
**Expected**
Provides a diagnostic that 'a' is unused

**Actual**
No diagnostics

roslyn-analyzers uses compiler warnings as a source of unused locals diagnostics

[2017-11-21 02:01] jinujoseph commented on #23294
@lineralpha

[2017-11-21 02:21] TonyValenti commented on #23205
What if we supported this syntax for open/closed:

[code]

[2017-11-21 02:42] HaloFour commented on #23205
@TonyValenti

I don't like the idea that `x` and `(x)` would mean two different things, nor that brackets would have a significant meaning outside of an indexer where ranges are most likely to be found.

[2017-11-21 02:49] lostllama commented on #22699
I'd argue that it shouldn't generated a protected constructor if the class is _public_. What's the point in generating a constructor that you can't use?

[2017-11-21 03:02] terrajobst commented on #22699
One could argue that if there are other constructors you might not want to expose the constructor as public. But if the class is sealed, protected is definitely not sensible.

That being said, I'd also be happy if the fixer would emit pubic constructors unless the class is abstract as that's what most people probably want. However, I think the visibility of the class is relevant.

[2017-11-21 04:20] CyrusNajmabadi commented on #23205
That could be significantly difficult for editors to match these up.

[2017-11-21 04:27] Droni commented on #23218
@CyrusNajmabadi sure. I thought, since there is no answer, then the problem is not interesting. I have reopened this ticket.

[2017-11-21 06:23] gafter opened #23323 "Would like code fix that fixes conditional expression in an interpolation"
See https://github.com/dotnet/roslyn/issues/12214#issuecomment-345451129

When an interpolation in an interpolated string contains a conditional expression, the colon is considered to be a delimiter that begins the format string. Thus the conditional expression will be a syntax error. We give a nice syntax error that is specific to this situation. It would be nice to have a code fixer that impleme

[2017-11-21 06:24] gafter commented on #12214
@svick @CyrusNajmabadi Created issue #23323 to track the suggested code fix.

[2017-11-21 07:19] CyrusNajmabadi commented on #23323
Ping: @sharwell

[2017-11-21 07:20] AlekseyTs opened #23324 "Possibly unexpected shape of IOperation tree for an array initializer."
For statement:
[code]

IOperation tree for the initializer value looks like this:
[code]

Note that dimension sizes are zeros, but the top level array initializer  contains one element.

[2017-11-21 07:34] huoyaoyuan commented on #23303
The code you're showing are generating `internal static` instead of `private static`.
I think the modifier should be determined by in which class to generate the function. `internal` should be only used when generating a closure class.

[2017-11-21 07:38] AlekseyTs opened #23325 "ICoalesceOperation doesn't expose conversions applied to the Value operand."
[code]

[2017-11-21 07:39] mdeggies commented on #8280
The setting 'Use the legacy c# and VB expression evaluators' is checked and grayed out for me in VS 2017. Any idea why?

[2017-11-21 07:49] jcouv commented on #23319
Tagging @VSadov

[2017-11-21 07:53] jcouv commented on #23303
Tagging @agocke
Btw, Andy, I looked in roslyn and csharplang repos for documentation on local functions and found little more than grammar.

[2017-11-21 07:57] jcouv commented on #23293
Thanks for reporting this.
The best way to file this issue would be to use the "report an issue" button in the installer itself.
The Roslyn repo is dedicated to the compiler and IDE integrations (language services, analyzers, ...).

[2017-11-21 07:59] jcouv commented on #23290
Assigning to @agocke to confirm this was indeed fixed by the 15.5 redesign of local function internals.

[2017-11-21 08:05] jcouv commented on #23296
@heejaechang Could you help route/triage this issue?

[2017-11-21 08:11] jltjohanlindqvist commented on #23293
Ah, my bad. I tried googling for the installer on github but couldn't find
it, obviously I should've checked the client itself. Will report it there.
Thanks.

On Tue, Nov 21, 2017, 08:57 Julien Couvreur <notifications@github.com>
wrote:

[2017-11-21 08:51] #20134 closed

[2017-11-21 10:57] alrz commented on #23322
write is considered as a "use". what you want is "value assigned is not used in any execution path" warning from R#. that just doesn't exist in C# compiler out-of-the-box.

[2017-11-21 12:02] sharwell commented on #23323
This is a great idea 👍

[2017-11-21 12:05] sharwell opened #23326 "Review compiler errors/warnings to identify candidates for code fixes"
We should enumerate all current diagnostics (errors/warnings) produced by the C# and VB compilers, and identify candidates for code fixes.

Filed in response to #23323, but definitely not the only time it's come up for me.

@gafter @kuhlenh

[2017-11-21 12:08] sharwell commented on #23293
@jltjohanlindqvist It may be unrelated but I got a good laugh out of it anyway. 😆 Thanks for taking time to report this so it can be fixed.

[2017-11-21 12:08] #23293 closed

[2017-11-21 12:52] AdamSpeight2008 commented on #23326
Sounds like a good candidate for `Up for Grabs` Community contributions. Especially if reward targeted.

The great big C# and VB fixer upper challenge.

[2017-11-21 12:59] AdamSpeight2008 commented on #23205
@TonyValenti @CyrusNajmabadi
It would be possible if we had different operators `[[` `[(`. `)]`, `]]`. note these are single operators not operator pairs.
[code]

[2017-11-21 13:57] benaadams opened #23327 "Reference types can be passed `in`"
**Version Used**:

7.2

**Steps to Reproduce**:

[code]

**Expected Behavior**:

1. Either doesn't compile (is a de-optimization as its a double dereference; for no benefit)

2. Or prevents `.Value` being assigned (as per `struct`)

If 2. then it should stay as reference passed by-value but just be a compiler check; rather than reference passed by-reference.

**Actual Behavior**:

Compiles fine; p

[2017-11-21 14:26] vsfeedback opened #23328 "Multiple line cursor inserting spaces for only last selected line when pasting items"
When you select multiple lines and paste some text without a space, the laste line you selected autoformats with an extra space character while the other lines are ignored. This is especially annoying if you try any type something after pasting because the first character in the non-autoformatted lines is replaced by default. I expect either all the lines get auto formatted or none of the lines ge

[2017-11-21 14:35] mikedn commented on #23327
In theory it's not without benefit. Perhaps `Thing` can actually take advantage of the fact that the object reference stored in `c` can somehow change and it can read the updated reference. Though in practice such a use case it's likely to be extremely rare, not to mention rather weird...

Also, this applies to primitive types as well. There's little reason to pass an `int` using `in`.

That would

[2017-11-21 14:36] vsfeedback opened #23329 "Inserting new preprocessor directives or pasting changes the indentation of other preproccessor directives at the same level in a file"
When you start to insert a new preprocessor directive, the editor moves other preprocessor directives in your code around. This affects other directives at the same level in the file (before and after), and not just previous related directives (such as #region/#endregion and #if/#endif).

The style formatting rules aren't precise enough to allow for the indentation rules I want on my directives (e

[2017-11-21 14:46] sharwell commented on #22745
Case 4 is a duplicate of #18354.

💭 Cases 3 and 6 seem to be a failure of the IDE to know what PascalCase is.

[2017-11-21 14:49] MaximRouiller opened #23330 "Red squiggle indicating missing semicolon is at the wrong position"
**Version Used**: Visual Studio 15.4.3

**Steps to Reproduce**:

Using this piece of code:
[code]
1. Remove semicolon at line with the `CloudQueueMessage` (line 8)
2. Squiggle is at end of line 8.
3. Remove semicolon at line 3. Squiggle is at line 3.
4. Add back the semicolon at line 3.

**Expected Behavior**:

Squiggle should go back to line 8 after the last `)`

![image](https://user-images.gith

[2017-11-21 14:50] MaximRouiller commented on #23330
The actual minimum reproducible code can be further reduced to this:

[code]

[2017-11-21 15:12] benaadams commented on #23327
So you can do this?

[code]
And output
[code]
That's terrifyingly leaky...

[2017-11-21 15:14] sharwell opened #23331 "Generate a linear serializer for compilation units"
Currently the green tree is serialized using `ObjectWriter` and operates on `IObjectWritable`.

https://github.com/dotnet/roslyn/blob/93819e3d61e077f3498143456a2818589c7bcca4/src/Compilers/Core/Portable/Syntax/GreenNode.cs#L17

Performance would be improved if a linear (not recursive descent) serializer were generated based on a closed-world understanding of the tree structure.

* Many virtual cal

[2017-11-21 15:23] benaadams commented on #23327
I suppose it is doing what it says...

Maybe it just needs a "wtf are you doing" warning squiggle

[2017-11-21 15:23] #23327 closed

[2017-11-21 15:24] mikedn commented on #23327
It certainly is and I can't think of a real world example that would justify using `in` this way. I'm just not sure the lack of good cases warrants disallowing use of `in` with reference types. `ref` is a rather exotic feature of the language. `ref readonly` even more so. So let these features be usable in exotic ways.

Anyway, the more I look at this the more convinced I am that the issue is the

[2017-11-21 15:31] benaadams opened #23332 "Warnings for `in`/`readonly ref`"
Primitive value-types that will be passed by register (`byte`, `short`, `int`, etc) should generate a warning when passed as `in` as passing by readonly reference in the common case is likely a deoptimization error (dereference vs register)

Reference-types should generate a warning when passed as `in` as passing by readonly reference in the common case is likely a deoptimization error (double der

[2017-11-21 15:38] benaadams commented on #23327
I can only see it being useful in a multi-threaded scenario; except it doesn't have the guarantees needed for that...

[2017-11-21 15:59] sharwell commented on #15003
The core editor already resolved this for the base settings. Reopening this issue to fix the Roslyn side.

[2017-11-21 16:04] Pilchie commented on #23329
Dupe of https://github.com/dotnet/roslyn/issues/2487?

[2017-11-21 16:55] jnm2 commented on #23327
Sure it's not useful but it's there for completeness with `out`. Is it worth breaking the symmetry by adding a special case to warn for it?

[2017-11-21 16:57] mikedn commented on #23327
Judging by the confusion it seems to cause I'd say that it's worth it.

[2017-11-21 16:59] kuhlenh commented on #23313
@jcouv do you remember your thinking here? just wondering if I should hold off documenting this if we believe each pair of rules should be combined under a single "dotnet" rule...

[2017-11-21 16:59] jnm2 commented on #23327
Who's confused? `in`, `ref`, `out`... it seems so straightforward to me.

[2017-11-21 17:03] mikedn commented on #23327
Some examples:
https://github.com/dotnet/csharplang/issues/1126
https://github.com/dotnet/corefx/issues/25355

[2017-11-21 17:09] jnm2 commented on #23327
Hmm... I'd say that's just people forgetting that `in` is byref, which is just as likely to be confusing to them when talking about value types. So the warning wouldn't address the actual problem. I think this is more an education thing/David just seeing what he was hoping to see. I doubt people will actually forget `in` is byref in the long run. Especially if we end up with `readonly` locals and

[2017-11-21 17:09] jcouv commented on #23313
I don't have a preference either way. I either followed what was done for other preferences, or I was given some feedback to do per-language option.
I'm happy to merge them if you'd like. Let me know.

[2017-11-21 17:19] VladimirReshetnikov opened #23333 "Cannot declare extension method with `in this` parameter whose type is a type parameter with `struct` constraint"
**Version Used**:

Version 15.5.0 Preview 4.0
VisualStudio.15.Preview/15.5.0-pre.4.0+27110.0

Visual C# 2017 00369-60000-00001-AA127
Microsoft Visual C# 2017

C# 7.2

**Steps to Reproduce**:

Try to compile:

[code]
**Actual Behavior**:
error CS8338: The first parameter of an 'in' extension method 'IsEqual' must be a value type.

**Expected Behavior**:
I am not sure this error is by design. Althou

[2017-11-21 17:21] kuhlenh commented on #23313
@AnthonyDGreen do you feel a C# and VB developer would have different preferences for inferred tuple element naming and anonymous type member naming?

[2017-11-21 17:26] tmat commented on #8280
@tommcdon Any idea why it would that be?

[2017-11-21 17:31] mikedn commented on #23327
That's true but the current implementation still looks like it's asking for trouble without providing significant benefits. There is a combination of factors that I think make `in` rather special when compared to the existing `ref` and `out`:
* Not requiring `in` at the call site like ref/out do
* Allowing passing literal arguments to `in` parameters by creating temporaries
* The rather ambiguous

[2017-11-21 17:54] mavasani opened #23334 "Code cleanup in CSharpDeclarationComputer/VisualBasicDeclarationComputer"
See https://github.com/dotnet/roslyn/pull/23318#discussion_r152330798

[2017-11-21 17:57] mavasani commented on #23334
Also check if we can remove the shared projects for these types as we are likely not using them in IDE projects anymore. See https://github.com/dotnet/roslyn/pull/23318#discussion_r152339915

[2017-11-21 17:57] alrz commented on #22699
I think we should just have another analyzer to flag  `protected` and `sealed` if the type is `sealed`.

IMO the only thing that code generation features should follow is naming conventions, style preference, etc

[2017-11-21 18:18] plnelson commented on #8280
The option is grayed out if the debugger is already running.  You'll have to stop debugging first.  If it's still grayed out, try closing all VS instances and change the option before loading a solution.

[2017-11-21 18:32] VladimirReshetnikov opened #23335 "No compile-time errors/warnings, but the program fails with TypeLoadException at runtime"
**Version Used**:

Version 15.5.0 Preview 4.0
VisualStudio.15.Preview/15.5.0-pre.4.0+27110.0

Visual C# 2017 00369-60000-00001-AA127
Microsoft Visual C# 2017

C# 7.2

**Steps to Reproduce**:

Compile and run:

[code]

**Actual Behavior**:
No compile-time errors or warnings, but the program fails at runtime:

**Expected Behavior**:
Earlier versions of the C# compiler used to issue the following com

[2017-11-21 18:35] gafter commented on #23062
@AdamSpeight2008 No, it hasn't been in 2 released versions of the language.

[2017-11-21 18:39] #23282 closed

[2017-11-21 18:42] kuhlenh opened #23336 "EditorConfig Naming : type_parameter is typed to namespace?"
Was working on building out some naming conventions and realized that something fishy is going on with the symbols `type_parameter` and `namespace`. `namespace` doesn't seem to be a recognized symbol and rules defined for `type_parameters` run on namespace symbols (rather than parameters).

[code]

[2017-11-21 18:43] tmeschter commented on #23227
I'm planning on dealing with this by simply disabling XliffTasks for any project that doesn't produce shipping bits (e.g. `<NonShipping>true</NonShipping>`).

[2017-11-21 18:45] #23227 closed

[2017-11-21 18:50] VladimirReshetnikov opened #23338 "Unnecessary defensive copy of an `in` parameter is created, whose type is nullable readonly struct"
**Version Used**:

Version 15.5.0 Preview 4.0
VisualStudio.15.Preview/15.5.0-pre.4.0+27110.0

Visual C# 2017 00369-60000-00001-AA127
Microsoft Visual C# 2017

C# 7.2

**Steps to Reproduce**:

Compile and inspect IL:
[code]
**Actual Behavior**:
The `in` parameter `x` in the method  `Foo` is copied to a compiler-generated local before `GetValueOrDefault()` is invoked.

**Expected Behavior**:
This co

[2017-11-21 19:08] Drake103 opened #23340 "default keyword does not generate same IL code as default(T) in case of nullable argument"
**Version Used**:
C# 7.1

**Steps to Reproduce**:

1.  Create function with `bool? someFlag = default` parameter.

**Expected Behavior**:
Parameter is `null` when not passed (as for `default(bool?)`)

**Actual Behavior**:
Parameter is false by default.

Sample project:
[DefaultBehavior.zip](https://github.com/dotnet/roslyn/files/1492614/DefaultBehavior.zip)
---
`public void HandleDefaultBool(bool?

[2017-11-21 19:26] #22619 closed

[2017-11-21 19:44] HaloFour commented on #23340
This is a bug and it should be fixed in the 7.2 release of the language:

#22578

[2017-11-21 19:49] CyrusNajmabadi commented on #23205
We can't have those.  Because [( is already two tokens today.  Necessary for things like ```this[(x + y)]```

[2017-11-21 19:49] ivanbasov commented on #22921
@VSadov, we synced offline regarding the issue. There can be an option to solve it on the compiler side and use a new diagnostics code for unused lambda. I'm re-opening the issue, in case if it can be proceeded on the compiler side. Could you please review it once again?

[2017-11-21 19:52] Drake103 commented on #23340
Thank you, somehow I could not find it using filter.

[2017-11-21 19:52] #23340 closed

[2017-11-21 19:52] gafter opened #23342 "Upgrade language version fixer fails to update the correct program configuration"
I have a project with the following source in it

[code]

The compiler complains

`error CS8107: Feature 'default literal' is not available in C# 7.0. Please use language version 7.1 or greater.`

control-. offers to update to language version `7.1` or `latest`. I accept its update to `latest`, but the error remains.

Looking at the project file, it updated the wrong section. My program configurat

[2017-11-21 20:08] sharwell commented on #23268
@yaakov-h Yes 😊

[2017-11-21 20:14] CyrusNajmabadi commented on #23330
Fascinating.  @gafter It looks like the IDE is just reporting the character given by the compiler (though i'm not 100% sure of that).  Could this be an incremental bug?

Note: the easiest repro i have is as follows:

First, to see the expected case, just compile/paste the following code:

[code]

Here, the error is correctly reported at the end of the second ```new object()```.   Now, to repro the

[2017-11-21 20:26] gafter commented on #23330
Looks like an issue with the incremental parser.

[2017-11-21 20:38] MaximRouiller commented on #23330
w00t! I found an unreported bug! 😄

[2017-11-21 20:41] MaximRouiller commented on #23330
@gafter feel free to rename the issue to something more technical than *red squiggles*.

[2017-11-21 20:57] AArnott commented on #22784
FWIW the way I "fix" this in my code is syntax like this:

[code]

[2017-11-21 21:16] CyrusNajmabadi commented on #23205
I'd much rather have an 'in' operator than using == to relate a scaler to a range of values.

[2017-11-21 21:51] VladimirReshetnikov opened #23345 "Dynamic invocation of a method with `in` parameter compiles successfully, but fails with RuntimeBinderException at runtime"
**Version Used**:

Version 15.5.0 Preview 4.0
VisualStudio.15.Preview/15.5.0-pre.4.0+27110.0

Visual C# 2017 00369-60000-00001-AA127
Microsoft Visual C# 2017

C# 7.2

**Steps to Reproduce**:

Compile and run:
[code]
**Actual Behavior**:
The program compiles without errors, but fails at runtime:

   at CallSite.Target(Closure , CallSite , Type , Object )
   at System.Dynamic.UpdateDelegates.UpdateA

[2017-11-21 22:02] gafter commented on #23330
@MaximRouiller I like *red squiggles*.

[2017-11-21 22:04] gafter commented on #23205
@CyrusNajmabadi I'm hoping that operator will be `is`, e.g. `var IsInAtoZ = ch is 'A'..'Z';`

[2017-11-21 22:08] CyrusNajmabadi commented on #23205
Hrmm... personally, not a fan (maybe it would grow on me...).  "in" seems so perfect. it's already a keyword.  And it expresses so well the concept here.  Any reason to prefer 'is' over 'in'?

[2017-11-21 22:09] CyrusNajmabadi commented on #23330
Congrats.  I highly respect your ability to notice something so subtle!

[2017-11-21 22:25] gafter commented on #23205
@CyrusNajmabadi Yes, because I'd like it to work everywhere a pattern is permitted, not just in a simple test in an expression, e.g. I'd like to permit `case 'A'..'Z':`, and in recursive patterns.

[2017-11-21 22:27] mavasani opened #23346 "Handle attribute operation blocks for symbol kinds for which we have do not make callbacks to symbol analyzers"
Currently, we make symbol callbacks to analyzers for following symbol kinds: namespaces, named types, methods, properties, events and fields. This is driven completely by compiler's event queue, which generates symbol declared events only for these symbol kinds. This in turn causes various issues for operation/code block analyzers:

1. There is no place to expose the operation blocks for parameter

[2017-11-21 22:33] CyrusNajmabadi commented on #23205
I guess i'm not seeing why you would not be able to do that if you used 'in' as the keyword for the specific binary op test.  i.e. you could have "x in y..z" as well as: ```switch (x) { ... case y..z:```.  They're complimentary afaict.

[2017-11-21 22:38] mavasani opened #23347 "Investigate duplicate computation for statement/block syntax nodes in VisualBasicDeclarationComputer"
We handle SyntaxKind.XXXBlock and SyntaxKind.XXXStatement in [VisualBasicDeclarationComputer,ComputeDeclarationsCore](http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic/VisualBasicDeclarationComputer.vb,f473aef1e47a8451,references). This was done to handle cases where we can called with either the block or statement node. We need to double check if both code paths are still possible, and

[2017-11-21 22:43] gafter commented on #23335
Dup of https://github.com/dotnet/roslyn/issues/20624
Is actually a bug in core reference assembly
https://github.com/dotnet/corefx/issues/25251

[2017-11-21 22:43] #23335 closed

[2017-11-21 22:46] bladeoflight16 commented on #22469
@CyrusNajmabadi

I'm not sold on this. I could easily see this resulting in a *lot* of clutter in the auto-complete.

[2017-11-21 22:48] mavasani opened #23348 "Expose attributes operation blocks for attributes on type parameters"
Follow up for https://github.com/dotnet/roslyn/pull/23318#discussion_r152411734

[2017-11-21 22:50] mavasani opened #23349 "Expose attributes operation blocks for attributes on local functions"
See https://github.com/dotnet/roslyn/pull/23318#issuecomment-346175947

[2017-11-21 23:06] alrz commented on #23205
I think that's because `case` and `is` both accept patterns so if have a range pattern it's expected to work in both. Excluding it just in `is` would complicates the grammar.

[2017-11-21 23:10] CyrusNajmabadi commented on #22469
1. We could always expose things through a different gesture.  "Symbols in scope" and "All symbols"
2. We have ways to filter the list already (i.e. filter to classes/properties/locals/etc.)  This could tie into that.
3. FWIW, the auto-complete list is already *OMGHUEG*.  I did some checks of how large the list was in some of my projects when doing some perf tests for completion, and it was *well

[2017-11-21 23:14] CyrusNajmabadi commented on #23205
Enh.  It can be fine gramatically, but disallowed semantically.  Like i said above, i have no problem iwth it in a case, or in a recursive pattern.  We could totally just disallow "is a..z", and just tell the user "use 'in'".  I agree it's not the most consistent *from a language perspective*.  But it does fit the actual terminology of 'is' and 'in'.  i.e. 'is' feels like the way to test a scaler

[2017-11-21 23:16] CyrusNajmabadi commented on #23205
BTW, my original question *has* been answered:

Specifically, the reason is so that this construct can just be a pattern that immediately slots in to all the other places we have patterns today.  IMO, while this is convenient, it's not the best choice for the language or end user.  I think it would be fine to allow it to be a pattern, but go for a special syntax that fits more cleanly with the sem

[2017-11-21 23:21] alrz commented on #23205
I'd say we should have used `e as var x` instead of `e is var x` for the exact same reason, plus, it doesn't return a boolean, just an alternative for https://github.com/dotnet/csharplang/issues/973, but it's a consequence of `var x` being a pattern and nobody bothered to disallow it in an `is` expression.

[2017-11-21 23:25] CyrusNajmabadi commented on #23205
That's fair.  But at least there it was scaler->scaler so i didn't mind much.  For ```e is {} x``` it makes sense to me.  Effective "*is* the computed value of 'e' null or not?  if not, then put that value into x".  Since there is no actual check with ```e is var x``` i agree that 'is' is a bit wonky.  But i personally think 'is' for ranges is wayyyy wonkier :)

[2017-11-21 23:43] mavasani opened #23350 "Expose attributes operation blocks for attributes on IncompleteMemberSyntax"
See https://github.com/dotnet/roslyn/pull/23318#issuecomment-346175174

[2017-11-21 23:43] VSadov commented on #23338
Nullable and many other simple structs are becoming `readonly`.
See for example https://github.com/dotnet/corefx/pull/24997

We could treat it as `readonly` regardless of decorations. We do in several places already.

[2017-11-21 23:45] mavasani commented on #23334
Further cleanup suggestion: use DirectCast instead of CType at bunch of places in select case statement. See https://github.com/dotnet/roslyn/pull/23318#discussion_r152415180

[2017-11-21 23:52] justcla commented on #23294
Good feedback @jnm2. Thanks very much.

[2017-11-22 00:28] AlekseyTs opened #23351 "Invalid IL is emitted for a conditional access of off a constrained generic type parameter"
Compile and run the following program:
[code]

**Observed:**
[code]

Also, PEVerify fails
[code]

**Expected:**
[code]
PEVerify succeeds.

[2017-11-22 00:31] AlekseyTs commented on #23351
The workaround is to explicitly cast the receiver to the type of the constraint:
[code]

[2017-11-22 00:40] HaloFour commented on #23205
Shrug, I personally think that `if (x is 0...10)` reads pretty nicely, and it fits in so easily with the rest of the pattern matching syntax without any special accommodations.  It would be immediately applicable with recursive patterns, e.g. `if (pt is Point(0...10, var x))` or `if (person is Student { Gpa is 3.0...4.0 })`.

[2017-11-22 00:40] jasonmalinowski opened #23352 "ExtractMethodCodeRefactoringProvider threw exception"
No repro here, was in the middle of other refactorings and have no idea what I did:

[code]

[2017-11-22 00:46] mavasani commented on #23348
Actually, I am going to address this in #23318 itself.

[2017-11-22 00:46] #23348 closed

[2017-11-22 01:16] CyrusNajmabadi commented on #23205
It's likely a personal preference issue.

To me, that reads "if 'x' is the range 0-10", not, "if x is in the range of 0 to 10".

I would be fine with 0..10 being a pattern and working fine for the recursive case of "Point(0...10, var x)", and i think it would read fine to say ```if (person is Student { Gpa in 3.0...4.0 })```

--

Note, i'm warning to "is" being used.  i think i need to change from

[2017-11-22 01:29] justcla commented on #23294
We have a command to GoToMember (default shortcut Ctrl1,Ctrl+M).
And we have a filter for "Current Document" (Ctrl+Alt+C).
But we have no command for activating GoToMember with the CurrentDocument filter on.

So, instead, you have to activate both commands separately (once you've established the state of the Current Document) - and then remember to turn off the Current Document filter when you're

[2017-11-22 01:31] justcla commented on #23294
This could be implemented as a separate GoTo filter button. Just like the "File" or "Line" button, the Current Document filter would be disabled as it does not apply.

[2017-11-22 01:33] justcla commented on #23294
Our default shortcut for this should be Alt+\, which is currently not bound to anything in the default mapping scheme.

[2017-11-22 02:38] rolandh commented on #23301
Copying Microsoft.VisualStudio.Threading.dll version 15.5.11.35176  into tools\vsixexpinstaller fixes the crash.

[2017-11-22 03:02] jcouv opened #23354 "Duplicate completions offered while working on compiler tests"
For instance, try typing `ConvertedType` again in ` TupleImplicitNullableAndCustomConversionsWithTypelessTuple`.

![image](https://user-images.githubusercontent.com/12466233/33107872-173f1ae8-ceee-11e7-86d2-4773dea58c7d.png)

![image](https://user-images.githubusercontent.com/12466233/33107878-201e0b2e-ceee-11e7-855f-7c934687fb2c.png)

Note: not all completions appear to be duplicated (`GetHashCod

[2017-11-22 03:14] AdamSpeight2008 commented on #23205
It does also read to "x is the range 0 to 10".

[2017-11-22 03:26] AdamSpeight2008 commented on #23205
Using `in` to mean `is in the following range`, as it used in Linq Query Expressions.
[code]

[2017-11-22 03:27] TonyValenti commented on #23205
I think for “in the range” we should use IN and not IS.

It would be really nice if there was an IN keyword that would basically do
a “Contains”.  If you have an array or collection it would operate as
normal or If you have the range, it could do the math comparison.

On Tue, Nov 21, 2017 at 9:14 PM Adam Speight <notifications@github.com>
wrote:

--
Tony Valenti

[2017-11-22 04:05] rikimaru0345 commented on #23205
Since `is` has generally been used to type-check I'm really used to it being used that way.

`var x = i in 1..10` should check if `i` is inside the range
and
`var x = i is 1..10` should check if `i` is a range that goes from 1 to 10

Everything else would be pretty confusing. Am I missing something?

[2017-11-22 05:56] paul1956 opened #23355 "Tests using MSBuildWorkspace in TestProject are failing"
**Version Used**:
15.5
**Steps to Reproduce**:
[code]
1. Add Nuget Packages
[code]
2. Run the test above

**Expected Behavior**:
The test prints the names of all the projects (up to BasicAnalyzers ) and  the names of the Documents in the BasicAnalyzers project
**Actual Behavior**:
No documents are loaded, the project names are printed as expected
Errors like below for every project and if I try to

[2017-11-22 06:23] crozone commented on #23205
Hey all, chiming in from the reddit thread [here](https://www.reddit.com/r/csharp/comments/7ekicz/ranges_planned_for_c_73/).

1. Can ranges ever be descending? I.e. given the range `[x..y]`, can there ever be x > y?

This would be useful when iterating, since you could have something like:

[code]

and have the `foreach` loop iterate from 5 down to 1. However, this makes very little sense for spec

[2017-11-22 06:26] VSadov opened #23358 "Optimize implicit casts from string literals to ReadOnlySpan<char>"
If possible, we should just point to the underlying data of the string.

Ideally there is a helper that takes a string token or something like that - to avoid directly dealing with pointers, which us formally unsafe.

realted to: https://github.com/dotnet/corefx/issues/25413

[2017-11-22 06:44] CyrusNajmabadi commented on #23354
That's terrifying. Most of all because there is literally code in the completion list to merge duplicates:

https://github.com/dotnet/roslyn/blob/9c22296f406d8a970b2d422c1992c22fc09d439a/src/Features/Core/Portable/Completion/CompletionServiceWithProviders.cs#L369-L378

[2017-11-22 07:06] jcouv commented on #23342
This is likely a problem in the project system layer. The code fix just sets `CSharpProjectConfigurationProperties3.LanguageVersion`.

The strange thing is I thought that API had the [opposite problem](https://github.com/dotnet/project-system/issues/2732), namely it would make too many insertions (producing verbose project XML files).

@gafter What version of VS are you using?

Tagging @davkean

[2017-11-22 07:09] jcouv commented on #23332
Tagging @VSadov

[2017-11-22 08:05] jcouv commented on #8138
The issue no longer seems to repro. I'll go ahead and close.

[2017-11-22 08:05] #8138 closed

[2017-11-22 08:23] bkoelman commented on #23219
The `.Type` check works for all except `IThrowOperation`, because its expression form also returns `null` for its Type. I'll use Syntax in that case then.

[2017-11-22 09:19] MaStr11 commented on #23355
In the [gitter chat](https://gitter.im/dotnet/roslyn) @CyrusNajmabadi ask a related question two days ago:

Reply by @tannergooding

Maybe 15.5 Preview is required since a few days but I can't tell for sure.

[2017-11-22 14:00] sharwell commented on #23259
@yaakov-h You can use `x is null`.

[2017-11-22 14:03] IdeaHunter commented on #23259
Unit tests affected as well
Assert.IsNotNull // <= throws exception

[2017-11-22 14:26] Entroper commented on #23205
Just want to throw in my 2 cents regarding `..` vs. `...` vs. other proposals.

The `...` operator is the first thing that occurred to me.  And I immediately disliked it, because of similarity to `==` and `===` in JS, which causes no end of headaches.  Yes, it seems easy enough, but just look at how often it's done wrong in practice.

IMO, `0..10` without any prior knowledge looks like it's suppos

[2017-11-22 15:44] gafter commented on #23342
This is using the daily preview

[2017-11-22 16:21] MaximRouiller commented on #23330
@CyrusNajmabadi Yet my wife wonders how I can lose my keys in my house while I had them in my hands 5 minutes ago.

![Where are the damn keys!?](https://media.giphy.com/media/l0HlDDNlJYDuE7r1e/giphy.gif)

[2017-11-22 16:29] 333fred commented on #23219
@bkoelman you can check `Parent` for that.

[2017-11-22 16:33] YohDeadfall commented on #23205
@gafter Please link https://github.com/dotnet/corefx/issues/25220 too. This is the `Range<T>` API proposal.

[2017-11-22 17:43] AArnott commented on #22776
My repro is also in a repro that has [an .editorconfig file](https://github.com/AArnott/Nerdbank.GitVersioning/blob/master/src/.editorconfig).

[2017-11-22 18:19] sharwell commented on #23294
@jnm2 Would you expect <kbd>Alt</kbd>+<kbd>\</kbd> to also show *types* in the current document, or just members?

[2017-11-22 18:35] gafter commented on #20015
I expect it is likely we will want to forbid patterns of the form `default`, to reduce confusion when we introduce the switch expression in the future. As such, I think it would be counterproductive to fix this.

[2017-11-22 18:38] jnm2 commented on #23294
@sharwell I don't know offhand. My mental model (who knows it it's correct) is that nested types *are* members but I usually move even those to their own file. I can see how it makes the most intuitive sense to consider all names defined in the file to be 'file members' loosely speaking. I can check on ReSharper's behavior if you like.

[2017-11-22 18:44] alrz commented on #20015
Nothing about `is default` is confusing, this is just to make it consistent with itself (this is the only case that is not permitted). switch statement already produce a warning for the direct use (but not `(default)`, for instance). I think switch expression could follow the same rule, to be not confused with the "default" case.

[2017-11-22 18:47] sharwell commented on #20015
💭 I would expect both of the cases in the original example to behave like this:

[code]

[2017-11-22 18:49] #23309 closed

[2017-11-22 18:51] jcouv commented on #20015
I'll move to csharplang, since currently by design.

[2017-11-22 18:52] jcouv commented on #20015
Issue moved to [dotnet/csharplang #1135](https://github.com/dotnet/csharplang/issues/1135) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-22 18:52] #20015 closed

[2017-11-22 19:34] #22690 closed

[2017-11-22 20:14] jcouv commented on #23062
This should probably be assigned to Neal.
Do we have a plan?

[2017-11-22 20:30] bkoelman commented on #23219
I ran into another case: `IVariableDeclarationOperation.Type` is null when used in expression form. For example:
[code]

[2017-11-22 20:48] VSadov commented on #23333
Unlike with actual value types, any use of  generic `x` inside the method will have to be through interface members.
Interface members are all formally mutating, so every use will have to make a copy.

Allowing generic  `in this T` can only lead user on a wrong path - you would do it to save a copy at the call site, but indirectly introduce multiple copies inside the method.

`in this T` is always

[2017-11-22 20:49] #23333 closed

[2017-11-22 21:25] benaadams commented on #23333
If this is invalid
[code]
Why would this be ok?
[code]

[2017-11-22 22:01] ericmutta commented on #22059
Hi @dpoeschl it's been a while. Any chance this bug could be assigned to a near-future milestone? It is causing me a lot of grief :(

[2017-11-22 22:02] AlekseyTs opened #23362 "Consider if there is a benefit in porting ```private bool IsRef(BoundExpression receiver)``` to VB"
See https://github.com/dotnet/roslyn/pull/23359#discussion_r152680146

From @VSadov
When receiver is known to be a reference type CallVirt is better than ConstrainedCallVirt because the result would be the same but the second requires a reference. I.E. if you have a value on the left, you would need to store it into a temp and push a ref to that temp.

C# is even more aggressive here with use of C

[2017-11-22 22:03] #23351 closed

[2017-11-22 22:04] sharwell commented on #22059
@ericmutta We've been busy with other changes, but if a pull request from the community comes in to fix this we'll try to get it merged in the earliest release allowed.

[2017-11-22 22:07] gafter commented on #23062
@jcouv It is up to @AnthonyDGreen and @jaredpar, who are aware.

[2017-11-22 22:11] VSadov commented on #23332
There are cases where having an `in` parameter typed as reference type makes sense.
Like ```Volatile.Read(in object variable)```

In general it is indeed not very useful, but there would be a need for a whitelist of few reasonable uses.
I could be a good idea for an analyzer.

[2017-11-22 22:15] benaadams commented on #23332
But they could be #pragma'd as valid?

[2017-11-22 22:25] VSadov commented on #23319
Good catch!!
Will have to fix.

[2017-11-22 22:34] ericmutta commented on #22059
Hi @sharwell I understand totally, many thanks for following up!

I am waiting for the performance of the project system to improve (@Pilchie and @CyrusNajmabadi  said something about it being in transition in [#21339](https://github.com/dotnet/roslyn/issues/21339))...then I will take a stab at some of these bugs myself because the pain is real :-)

[2017-11-23 00:06] jasonmalinowski commented on #22602
This suspiciously has gone away.

[2017-11-23 00:06] #22602 closed

[2017-11-23 00:07] jasonmalinowski commented on #22060
@paul1956 Oops, sorry for missing your reply. (I hate GitHub notifications.)

Did you resolve the issue? If not, what type of NuGet was this with? packages.config or project.json or something else?

[2017-11-23 00:08] #21873 closed

[2017-11-23 00:08] jasonmalinowski commented on #21873
Closing for now -- since this is a servicing branch it's not really maintained unless we *really* need it. But let me know if you're still seeing issues.

[2017-11-23 00:46] #23269 closed

[2017-11-23 00:47] #23150 closed

[2017-11-23 00:48] paul1956 commented on #22060
@jasonmalinowski I have a packages,config file in Test project director or but no project.json files in my solution. My Test.vbproj file also has package references like below. But i am having all kinds of issues with files not found at run time like above in Test and VSIX projects. They work in code refactoring projects.
[code]
For example in my VSIX project which does not have a package.config t

[2017-11-23 01:21] paul1956 commented on #23355
@CyrusNajmabadi  Just to be clear, MSBuildWorkspace is currently broken until I install 15.5 (preview) and once I upgrade to 15.5 the above program should just work? FYI I have tried installing the test into the current Roslyn-Master project and the error changes to
[code]
or
[code]

[2017-11-23 03:03] weitzhandler opened #23366 "Visual Studio interactive window doesn't show exception types."
**Version Used**: VS 15.4.4

**Steps to Reproduce**:

1. Open up C# Interactive
2. Type `throw new InvalidOperationException("An exception occurred.");`
3. Only the exception message is printed, but there is no information on what type of exception was thrown.

**Expected Behavior**:
Please include the exception type when printing an exception in the interactive window.

[2017-11-23 03:12] VladimirReshetnikov commented on #23338
Making `System.Nullable<T>` a readonly struct would be a breaking change. Consider the following program:

[code]

If `System.Nullable<T>` were a readonly struct, both lines would print `0`.

The constructed type `System.Nullable<S>` can only be optimized as a readonly struct if the value type `S` is itself readonly.

[2017-11-23 03:22] VladimirReshetnikov commented on #23333
@VSadov, thanks, I agree with your reasoning. It might be a good idea to have `where T : readonly struct, IComparable<T>` constraints one day.

[2017-11-23 06:31] jcouv commented on #23366
Tagging @tmat

[2017-11-23 06:46] jcouv commented on #19186
Quick update: from discussions following the issue I mentioned above, that PR is snowballed. The existing refactoring would need to be removed and the code migrated into the new codefix.

[2017-11-23 06:49] jcouv commented on #22125
What is the expected/spec'ed behavior?

[2017-11-23 07:42] paul1956 opened #23367 "VB ErrorBC32089 on valid code or invalid code with no error"
**Version Used**:
15.4.4
**Steps to Reproduce**:
[code]
**Expected Behavior**:
The code above should be invalid no matter the state of Option Infer or the commented code should be valid in both cases.
**Actual Behavior**:
It is only valid with Option Infer On  and no As Clause, there is no way to make the code valid with Option Infer Off or by adding the As Clause.

[2017-11-23 10:46] alrz commented on #15685
I can already do this though

![resize](https://user-images.githubusercontent.com/3105979/33169161-d4556202-d058-11e7-8e9b-91fede257511.png)

[2017-11-23 11:23] YohDeadfall commented on #23205
I've already posted an API proposal about `Range` implementation, but unfortunately it wasn't linked to the issue until yesterday.

## Range\<T\> instead of Range and LongRange

At first I think that would be better to have a generic one instead `Range`, `LongRange`, etc. Why so? Because ranges can be used not only for spans and integers, but also for math computations. So there are two new types

[2017-11-23 12:18] zaytsev-victor commented on #23016
@sharwell It is probably a duplicate of #22776

[2017-11-23 12:35] zaytsev-victor commented on #23016
the problem  that in 15.4 version value of ```memberReference.Instance``` [here](https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/QualifyMemberAccess/AbstractQualifyMemberAccessDiagnosticAnalyzer.cs#L65) was ```null```. But in 15.5 it has a value.

[2017-11-23 12:44] jaredpar opened #23368 "Incorrect suggestion for object initialization simplification"
Consider the following code:

[code]

Given this code the IDE will add the suggestion IDE0017, object initialization can be simplified, on the `IExample e` line. The suggested fix is the following:

[code]

This results in code that won't compile. The name `Name` is only legal through the type `IExample` but the fix causes `Name` to be evaluated in the context of `C` instead.

[2017-11-23 13:06] alrz commented on #14203
I figured it should.

[2017-11-23 16:02] gafter commented on #23205
@CyrusNajmabadi what if `in` were part of the pattern?

- `if (ch is in ‘a’..’z’)`
- `case in ‘a’..’z’:`
- `case Point(in 0..10, var y)`
- `ch switch (in ‘a’..’z’ => Letter, in ‘0’..’9’ => Digit, _ => Other)`

[2017-11-23 16:21] kuhlenh commented on #22469
My proposal would be to leave Sort Usings out of the Editor Context Menu but add it back as a command so that users can give it a keybinding and use it. (Remove and Sort usings was used by at least an order of magnitude more than Sort Usings, so I can't justify putting Sort Usings back in the menu that we're trying so hard to shorten).

I agree that when we add unimported types to completion that

[2017-11-23 17:10] VladimirReshetnikov opened #23369 "void-returning method calls should not be allowed as arguments in __arglist(...)"
**Version Used**:
Version 15.5.0 Preview 4.0
VisualStudio.15.Preview/15.5.0-pre.4.0+27110.0

Visual C# 2017 00369-60000-00001-AA127
Microsoft Visual C# 2017

C# 7.2

**Steps to Reproduce**:

[code]

The second line should be a compile-time error rather than a runtime exception.

[2017-11-23 18:37] YohDeadfall commented on #23205
I've added support for `null` values (https://github.com/dotnet/corefxlab/pull/1859/commits/02a8d039db3cab90b03a40fd96e791af58441c24). So now `Range<T>` works even for `Nullable<T>`, but it treats `null` as an special value. Therefore `Contains(null)` will return `false` always.

It's possible to support any kind of ranges (close, open, half-open with inclusive start or end), but I'm not sure that

[2017-11-23 20:27] CyrusNajmabadi commented on #23368
@sharwell Good option for community contrib.

[2017-11-23 21:31] jcouv commented on #23295
@marlonfsolis My initial reaction is there is a problem with your config file. I'd recommend you discuss this on stackoverflow, or on the Entity Framework [repo](https://github.com/aspnet/EntityFramework6) (if you think there is really a bug with EF).
It does not look like there is a problem with the compiler or tooling around it.

[2017-11-23 21:32] #23239 closed

[2017-11-23 21:49] jcouv commented on #6743
Is this still an issue, or can it be closed?

[2017-11-24 00:28] JamesNK commented on #23205
Will the C# syntax support an expression as the to/from?

[code]

[2017-11-24 00:38] crozone commented on #23205
@JamesNK I imagine that would get translated by the compiler to `var range = new Range<int>(0, staff.Count - 1);

[2017-11-24 14:11] YohDeadfall commented on #23205
@gafter Why simply not `if (ch in ‘a’..’z’)`?

[2017-11-24 15:08] sharwell commented on #22059
@ericmutta The latest master branch *should* be in a reasonably good state for performance, as long as you are using one of the more recent 15.4 or 15.5 Preview releases. If you have the ability to install 15.5 Preview as a second copy of Visual Studio, this is the approach I would recommend for performance.

[2017-11-24 15:37] gafter commented on #23205
@YohDeadfall asked and answered.

[2017-11-24 16:11] YohDeadfall commented on #23205
@gafter Yep, my mistake. Rereading the thread helped me.

[2017-11-24 16:49] YohDeadfall commented on #23205
I thought a bit more about ranges. Making them inclusive makes sense for most types because it's intuitive as @CyrusNajmabadi said. So it isn't a very good idea to use `null`s to include maximum values because of castings from `T?` to `T`, performance and syntax. Also it would allow to use `IComparable<T>` constraint on `T` and would allow to include `null` as an regular value which is important w

[2017-11-24 17:28] TonyValenti commented on #23205
Perhaps instead of a base class it should be an interface with a few
implementations. I agree with you on Time and it would also be Nice if it
was possible to combine ranges. For example:
Var ranges = Range.combine(0..9, 11..21,30..37);
And still use “is in” for pattern matching and such. Also, as an interface,
 we can allow the implementor to handle what operations like “contains” and
“get enumer

[2017-11-24 18:01] jnm2 commented on #23271
Another problem with the current selection logic is that no actions show up if the starting or ending line is partially selected or if you select all the whitespace back to the prior line which is what I do al lthe time because it's faster. For example, skipping `a` to generate a constructor for `b` and `c`:

[code]

[2017-11-24 19:06] ericmutta commented on #22059
Many thanks for the tip...I have 15.4 right now and will take look at the preview 👍

[2017-11-24 20:20] jnm2 opened #23373 "Ambiguous type reference should suggest adding a using alias"
(Following the pattern of reporting my most frequent ReSharper quick actions with the goal of being able to use vanilla VS one day.)

Most times that I have an ambiguous type reference I don't want to resolve it by fully qualifying. It can appear many files in a file. My resolution of choice is to add `using TypeName = The.Namespace.I.Want.TypeName`.

[2017-11-24 21:18] #21236 closed

[2017-11-24 21:44] jcouv commented on #20229
@jamesqo I wasn't able to repro. Please try again on recent setup and re-open the issue with details if the problem still exists. Thanks

[2017-11-24 21:44] #20229 closed

[2017-11-24 21:58] jcouv commented on #23163
@AlekseyTs I think this is a duplicate of an issue you recently fixed with PR https://github.com/dotnet/roslyn/pull/23359.
Could you confirm and close? Thanks

[2017-11-24 22:05] CyrusNajmabadi commented on #23271
PRs welcome :)

[2017-11-24 22:11] CyrusNajmabadi commented on #23373
Interesting.  Seems reasonable.  Def would probably need an option to control that.

PRs welcome.

[2017-11-24 22:13] CyrusNajmabadi commented on #22784
Interesting.  Definitely subtle though.  Once of those cases where precedence isn't super clear.  For example, i initially read that as: ```(await obj?.Something()) ?? Task.CompletedTask```, which would have still null ref'ed.  It's not obvious that it parses as ```await (obj.SomethingMethodAsync() ?? Task.CompletedTask)```.

[2017-11-24 22:25] AArnott commented on #22784
Agreed. I've gotten used to it, but I'd love to see a better solution.

[2017-11-24 22:30] jcouv commented on #22648
Closing as duplicate of #22813

[2017-11-24 22:30] #22648 closed

[2017-11-24 22:43] jcouv commented on #8095
Removing `Blocked` tag, since I see that #7683 was merged.

[2017-11-24 23:03] Pilchie commented on #15685
That's the CodeStyle\General page, not the formatting pages underneath there (Spacing, Wrapping, etc).

[2017-11-25 15:01] duncanawoods commented on #7364
Getting this multiple times a day - 15.4.2.

Large .net core project, fresh install. Have to restart visual studio.

Also get the IDE exiting rename mode by itself while typing.

[2017-11-25 15:01] sharwell commented on #22367
@06needhamt thank you!

[2017-11-25 15:01] #22367 closed

[2017-11-25 15:19] alrz opened #23374 "Handle user-defined operators in 'use pattern-matching' analyzer"
From https://github.com/dotnet/roslyn/pull/20246#discussion_r152680679

/cc @sharwell

[2017-11-25 15:26] alrz opened #23375 "Offer 'use pattern-matching' quick action in more places"
From https://github.com/dotnet/roslyn/pull/20240#discussion_r149683893 and https://github.com/dotnet/roslyn/pull/20240#discussion_r149165887

Currently we only support a leftmost condition in a limited set of statements. We could expand this to support "expressions" more generally.

/cc @sharwell

[2017-11-25 17:12] sharwell commented on #22786
@lineralpha The cursor bug is a conflict between `UrlMouseHandler` and `GoToDefMouseHandler`, which are not part of this repository. These handlers need to be able to handle overlapping tags regardless of the decision made for the handling of literals.

[2017-11-25 17:15] sharwell commented on #22786
To reduce confusion, I'm closing this issue as a duplicate of #23030. Specifically note:

* The decision on whether or not Ctrl+Click for Go To Definition works on literals in code is a Roslyn decision (and is the focus of #23030)
* The handling of overlapping tags (e.g. `IUrlTag` and `INavigableSymbol`) is an editor issue unrelated to Roslyn

[2017-11-25 17:18] sharwell commented on #23030
I don't see why we would treat literals for this feature any differently than we treat literals for other features:

* Literals are the same as identifiers for Go To Definition
* Literals are the same as identifiers for Peek Definition
* Literals are the same as identifiers for Find References
* Literals are the same as identifiers for Quick Info

I think we can treat this issue as a "learning cur

[2017-11-25 18:42] WrongBit commented on #12214
Any expression, unary or sixnary, have to be completely parsed in interpolation string as a whole expression, NOT to intersecting with any "formatting" characters. It's just stupid - introduce feature to SIMPLIFY our life and make it so abstract/clumsy that it become UNUSABLE. What organ you use to think, team?? Just keep in your student head: $"... {a ? b : c}..." MUST WORK. Period. No excuses, n

[2017-11-25 22:43] gafter commented on #12214
@WrongBit can you please draft the language specification you prefer we use for the feature?

[2017-11-26 07:30] jrusbatch opened #23378 "Using __arglist with `out var` causes Visual Studio to crash"
**Version Used**: 15.4.4 and 15.5.0 Preview 4

**Steps to Reproduce**:

1. Create a new console application targeting .NET Framework v4.7.1
2. Replace the entire contents of `Program.cs` with the following:
[code]
3. Remove a single `/` from line 7.

**Expected Behavior**: Visual Studio should not crash.

**Actual Behavior**: Visual Studio crashes. Below is the stack trace from debugging an instan

[2017-11-26 14:37] alrz opened #23379 "Pattern variable scope doesn't leak out of else if"
Is this by design?
[code]
Intuitively, `else` here should be insignificant since `if` body's endpoint is unreachable.

Another example:
[code]
IMO the presence of `else` shouldn't affect scope of variables.

[2017-11-26 14:39] alrz commented on #23379
Imagine an IDE feature for removing redundant `else` keywords, this is a painful edge case to handle.

/cc @controlflow

[2017-11-26 14:42] shaggygi commented on #17401
Still get this with VS15.5 Preview 4.  Must reference the following Nugets...

Microsoft.Build
Microsoft.Build.Framework
Microsoft.Build.Tasks.Core

[2017-11-26 15:14] sharwell opened #23380 "Assertion failure (unreported ERR_MemGroupInExpressionTree)"
The following assertion failed when using the AnalyzerRunner on Orchard.sln.

https://github.com/dotnet/roslyn/blob/1096194309547507cb3f1b8d2fcc3074c8432bab/src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs#L574

Roslyn version: dotnet/roslyn@715aa4a630246eceda0adf4683ed22cb7be70890
Orchard version: OrchardCMS/Orchard@698791aed2d8e146e77331528c6d38860c3fc90f
MSBuild version

[2017-11-26 18:43] jcouv commented on #23379
I think that's by design.

See option 3 (which was picked) in notes: https://github.com/dotnet/csharplang/blob/master/meetings/2016/LDM-2016-07-15.md
In summary is that expression variables are scoped to the nearest enclosing statement or embedded statement.

Tagging @gafter @AlekseyTs Do we have any documentation for latest **state** of scopes? It seems like we have many deltas documented.

For i

[2017-11-26 19:12] alrz commented on #23379
I see, so I think this is the consequence of these two rules

1. variables in `if` condition *only* spill to the `else` block (example 1)
2. every embedded-statement maintains its own scope (example 2)

(1) is desirable but (2) could be more specific. Ideally, non-block embedded-statements should have shared their scope with their parents, then the first example would work with or without `else` a

[2017-11-26 19:26] ewilansky commented on #21783
Also confirmed this behavior in Visual Studio for Mac (version 7.2.2 (build 11). To fix it in this IDE:

- Right-click <code>YourProject</code>, click <code>Options</code>
- Click <code>Build > General</code>
- Change <code>Language Options > C# Language Version</code> to Version 7.1

[2017-11-26 20:04] alrz commented on #23205
No that looks like a `ref readonly` argument 😄

[2017-11-26 20:20] CyrusNajmabadi commented on #23379
[code]

is equivalent to:

[code]

So 'var' is in scope.  But when you remove the final else, you transform it to:

[code]

And, of course, it isn't.

It was a very intentional decision by the LDM that scoping behave in a consistent way *regardless* of whether or not you included blocks for your embedded statements.  I strongly pushed for this with the argument that *up until now* using a block fo

[2017-11-26 20:22] CyrusNajmabadi commented on #23379
Yup.  But the reason is that you're jumping scopes.  previously your else was attached to hte most nested if.  Now it jumps out to the block it is on.  These scopes may have variables in them.

Sometimes hte language makes some types of refactorings hard.  Too bad, so sad for us :)

[2017-11-26 20:44] alrz commented on #23379
Yeah, so sad for us.

[2017-11-26 20:44] #23379 closed

[2017-11-26 23:22] davkean commented on #23342
The project system should update whatever configuration you set `CSharpProjectConfigurationProperties.LanguageVersion` on @jcouv. Point me to the fixer?

[2017-11-26 23:55] Pilchie opened #23381 "IDE0009: Add 'this' or 'Me' qualification fires on object initializer."
**Version Used**:
VS 2017 15.5 P4

**Steps to Reproduce**:

1. Enable the option to qualify field references with `this`.
2. Paste this code:
[code]

**Expected Behavior**:
No diagnostic.

**Actual Behavior**:
A diagnostic is offered, and applying the fix breaks the code.

[2017-11-27 02:01] vsfeedback opened #23382 "ExtractMethod: unable to cast object of type to type"
While typing in C# code editor I got a header bar. I clicked &quot;Enable&quot; and it appears many times. Here is the stack trace:

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/148945/unable-to-cast-object-of-type-to-type.html
VSTS ticketId: 523810_
_These are the original issue comments:_
(no comments)
_These are the original issue solutions

[2017-11-27 02:15] jinujoseph commented on #22955
also reported at [link](https://developercommunity.visualstudio.com/content/problem/149777/renaming-c-attributes-adds-an-additional-attribute.html)

[2017-11-27 05:25] jcouv commented on #23342
Here's the fixer: https://github.com/dotnet/roslyn/blob/master/src/Features/CSharp/Portable/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs

The PR, for related files: https://github.com/dotnet/roslyn/pull/17435

[2017-11-27 05:40] davkean commented on #23342
I can reproduce this. Not an expert in DTE usage but usage looks correct; https://github.com/dotnet/roslyn/pull/17435/files#diff-cbb8610d7833d8bed4af13328decbaebR308.

I'll move it over to us.

[2017-11-27 05:41] davkean commented on #23342
This issue was moved to dotnet/project-system#2985

[2017-11-27 08:01] vsfeedback opened #23386 "CS1628 error text should also mention local functions"
CS1628 error text does not mention local functions

Example:

[code]

Gives error: CS1628	Cannot use ref or out parameter 'x' inside an anonymous method, lambda expression, or query expression

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/152736/cs1628-error-text-should-also-mention-local-functi.html
VSTS ticketId: 527092_
_These are the original issu

[2017-11-27 08:38] vsfeedback opened #23387 "IDE editor inserts extra '#endif' when applying IDE0018 "Variable declaration can be inlined""
The following C# class has an unusual `#if` statement which causes the suggested replacement IDE0018 to fail when applied:

[code]

When applying the suggestion "Variable declaration can be inlined," the editor incorrectly replaces the last two lines with an extra `#endif` statement which (obviously) prevents the file from compiling:

Here is the incorrect result after the "Quick actions and refac

[2017-11-27 08:39] jinujoseph commented on #23387
related https://github.com/dotnet/roslyn/issues/22881

[2017-11-27 09:21] vsfeedback opened #23388 "tuple Intellisense [very trivial]"
[code]

With Intellisense, if you select `x` or `y` in either their declaration or the `MyOtherFunc()` call, then all instances get highlighted including in the tuple -- as desired.

If you select `x` or `y` inside the tuple, the other instances don't highlight.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/155654/tuple-intellisense-very-trivial.html

[2017-11-27 09:22] jinujoseph commented on #23388
cc / @jcouv

[2017-11-27 09:47] vsfeedback opened #23389 "folded comment with cref removes spacing after the reference term."
If i have a comment like this ...

[code]

When i fold the comment, the space between 'BodyPart' and 'that is removed. So the folded comment looks like this ..

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/155566/folded-comment-with-cref-removes-spacing-after-the.html
VSTS ticketId: 529532_
_These are the original issue comments:_
(no comments

[2017-11-27 09:59] zaytsev-victor commented on #22776
@sharwell @Pilchie Since it is very annoying regression is there a chance that it will be fixed in 15.5?
It is will be a blocker for any team which use 'Qualify member access' rule.

[2017-11-27 11:14] vsfeedback opened #23391 "Editorconfig : Can't exclude const fields"
If a editorconfig with naming rules which defines that all privat fields should begin with an underscore and casing should be camel case.

I also define constants have to be uppercase.

The problem is, that VS shows me a warning because my private const does not begin with an underscore.

EditorConfig:

# General naming convention
[*.{cs,vb}]

# internal and private fields should be _camelCase
dot

[2017-11-27 11:20] sharwell commented on #23391
:memo: It does not appear that there is any way to order naming rules via .editorconfig. The [naming style parser](https://github.com/dotnet/roslyn/blob/b4006aa257d30a8fcef926444b79063ca57ba6df/src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser.cs#L78-L84) operates on `AllRawConventions`, which is an unordered dictionary. The values come from `ICodingConventionsSn

[2017-11-27 11:30] AdamSpeight2008 commented on #23205
If we are looking at extending this feature to VB also my I suggest `xx To yy`
[code]
As it aligns to existing usages, `For Loop`, and `Case 0 To 10`.

[2017-11-27 12:07] sharwell opened #23392 "Language version upgrade suggests using the language version 'latest'"
**Version Used**: 15.5 Preview 4

**Steps to Reproduce**:

1. Define a ref struct
2. Use the code fix to upgrade the project

**Expected Behavior**:

1. A code fix is provided to upgrade the project to either language version '7.2' *or* to the latest language version
2. Applying the code fix adds the property `<LangVersion>7.2</LangVersion>`

**Actual Behavior**:

1. A code fix is provided to upgr

[2017-11-27 12:30] sharwell commented on #23389
Duplicate of #20679

[2017-11-27 12:30] #23389 closed

[2017-11-27 12:30] jmarolf commented on #23391
@dpoeschl for fact checking...

I do not believe we have the concept of rule hierarchy anymore in the *naming style engine* even if there was a way to express it in the parser.

In the snippet below `camel_case_for_private_internal_fields` applies and cannot be overridden by any other nameing style rule.
[code]

To fix this we will first need to implement the concept of rule hierarchies and then p

[2017-11-27 12:37] sharwell commented on #23373
I agree with PRs welcome. I would recommend the initial implementation not include an option unless it goes through a design meeting an one is deemed necessary. I would certainly be pushing against it.

[2017-11-27 13:52] MaStr11 opened #23394 "Proposal: Support QuickInfo and GotoDefinition in LINQ query syntax"
Implementation started #23049 (This proposal is extracted from the discussion there. Remarks by @sharwell are incorporated)

Objective: Enhance the support for GotoDefinition and QuickInfo for [LINQ query syntax](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions#query-expressions) by exposing the underlying transformations (QuickInfo and GotoDefin

[2017-11-27 14:36] JonHanna commented on #19722
I've recently submitted dotnet/corefx#25523 which would make Microsoft.CSharp honour `private protected` rather than treat it as the same as `internal`. I don't know if this affects roslyn's side of things at all, but it may be of interest to some here.

[2017-11-27 16:02] Pilchie commented on #22776
Looks like https://github.com/dotnet/roslyn/issues/23381 is a dupe of this.

[2017-11-27 16:02] Pilchie commented on #23381
Dupe of https://github.com/dotnet/roslyn/issues/22776...

[2017-11-27 17:38] ericmutta opened #23396 "Code metrics should be calculated for portable class libraries."
**Version Used**:

Visual Studio Community 2017 v15.4.4

**Steps to Reproduce**:

1. Create a solution consisting of one Windows console application project and one portable class library targeting .NET Standard 2.0 (the library can be in VB or C# - it doesn't matter)

2. Go click the menu item: Analyze > Calculate Code Metrics > For Solution.

**Expected Behavior**:

The Code Metrics Results wind

[2017-11-27 18:01] jinujoseph commented on #23381
closing as dupe of #22776

[2017-11-27 18:01] #23381 closed

[2017-11-27 18:08] ericmutta opened #23399 "Improve error messages for portable class libraries created when NuGet is disabled."
**Version Used**:

Visual Studio Community 2017 v15.4.4

**Steps to Reproduce**:

Under Tools > Options > NuGet Package Manager > General, make sure `Allow NuGet to download missing packages` is NOT checked:

![vs_nuget_disabled](https://user-images.githubusercontent.com/20465797/33280731-19cf1482-d3b4-11e7-9088-677d99475a70.png)

Now create a new solution with a portable class library targeting .

[2017-11-27 18:13] 333fred opened #23400 "IVariableDeclarationOperation.Type is null when used in Expression form"
https://github.com/dotnet/roslyn/issues/23219#issuecomment-346465070. /cc @bkoelman.

[2017-11-27 18:13] 333fred commented on #23219
This seems like an actual bug. Filed https://github.com/dotnet/roslyn/issues/23400.

[2017-11-27 18:20] AlekseyTs commented on #23400
That is correct behavior. The IVariableDeclarationOperation is not an expression, never represents a value and shouldn't have type.

[2017-11-27 18:32] bkoelman commented on #23219
Eventually I came up with the following. Is this correct?

[code]

[2017-11-27 18:33] YohDeadfall commented on #23205
@TonyValenti Classes and interfaces would lead to heap allocations, so struct should be used. But combining of ranges is possible.

[code]

[2017-11-27 18:47] jmarolf commented on #23391
There are two rules: one that applies to private fields and one that applies to const fields.  The rule engine does not have a way for one rule to completely override another.  Instead it applies them in order.  The behavior is by-design right @dpoeschl? or is there something I'm missing?

[2017-11-27 19:33] gsantopaolo opened #23401 "ExtractMethod: Weird VS 2017 15.4.4 behaviour"
While developing C# with 2017 15.4.4 i got an error message never seen before:
![image](https://user-images.githubusercontent.com/9937149/33285114-a2ea8bc8-d3b1-11e7-861a-3e9c89f4ae84.png)
And here is the stack trace copied from the popup message
### _System.InvalidOperationException : Unexpected false
   at Roslyn.Utilities.Contract.ThrowIfFalse(Boolean condition,String message)
   at Microsoft.C

[2017-11-27 19:48] filipw opened #23402 "Make CSharpCommandLineParser.ScriptRunner public"
**Version Used**:
2.4.0

**Steps to Reproduce**:

1. Go to `CSharpCommandLineParser` type

**Expected Behavior**:

`CSharpCommandLineParser.ScriptRunner` is public.

**Actual Behavior**:

`CSharpCommandLineParser.ScriptRunner` is internal. Only `CSharpCommandLineParser.Default` is public.

<hr>

We'd like to use `CSharpCommandLineParser.ScriptRunner` in OmniSharp to support user-defined `.rsp` fil

[2017-11-27 19:51] svick opened #23403 "SyntaxFactory.Literal(double) sometimes doesn't create double literals"
**Version Used**: Microsoft.CodeAnalysis.CSharp 2.4.0

**Steps to Reproduce**:

Use `SyntaxFactory.Literal` to create literals for the same integer with different types:

[code]

**Expected Behavior**: Each overload of `SyntaxFactory.Literal` preserves the type of its argument.

**Actual Behavior**: The `SyntaxFactory.Literal(double)` overload creates an `int` literal; the output of the above code

[2017-11-27 19:54] CyrusNajmabadi commented on #23392
It seems weird that we need to do this.  Even if this is a 'best practice', it's just an option that a user can take if they so desire.  If we think it's 'less good' than picking an actual specific version, then we could just put it lower in the list right?

[2017-11-27 19:57] svick commented on #23403
One possible way to fix this would be to force `SyntaxFactory.Literal(double)` to always include the suffix. I believe doing that would mean changing the code from:

https://github.com/dotnet/roslyn/blob/f449fd78b19a0871d5ed97c472824b99127db2d9/src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs#L504

to:

[code]

[2017-11-27 19:58] gundermanc commented on #22328
Agreed, I think they do this because the IBlockTag.Type is not set to PredefinedStructureTypes.Nonstructural. IIRC VB using blocks can be indented, so this was done to ensure that they receive indent guides.

[2017-11-27 19:59] agocke commented on #22921
Could someone detail what the compiler action would be here? Providing a warning here would have to meet a very high compat bar.

[2017-11-27 20:00] sharwell commented on #23391
@jmarolf The underlying API does not expose the property order, so there is no way to apply them in order.

[2017-11-27 20:07] CyrusNajmabadi commented on #23403
Are you sure it creates an int literal?  I imagine the 'Value' property of hte literal is actually the 'double' 42.  It's just that '42' is a totally valid representation for that double.

[2017-11-27 20:11] gundermanc commented on #16395
Hi all, lmk if I can assist with this issue. I've debugged into it and the problem is that that the Roslyn block tags treat the 'if' in else if as the start of the block's header span, so, the structure guide is aligned to there.

IBlockTag is now deprecated in favor of IStructureTag, which supports setting the horizontal alignment of the guide explicitly via a HorizontalAnchor SnapshotPoint. As l

[2017-11-27 20:13] svick commented on #23403
@CyrusNajmabadi

Yes, `Value` returns the `double`.

In that case, isn't `42` also a valid representation for the other types? Why do those use a suffix?

Also, it might be valid reprenation for `double` in cases like `double d = 42;`, but not for `var x = 42;`.

[2017-11-27 20:15] CyrusNajmabadi commented on #23403
Ah, i see what you mean.  i suppose that's fair.   :)

[2017-11-27 20:15] CyrusNajmabadi commented on #23403
Another option (perhaps more idiomatic), would be to emit as 42.0.

[2017-11-27 20:26] CyrusNajmabadi commented on #21164
Note: your codecracker link isn't setup properly.  It goes to https://github.com/dotnet/roslyn/issues/url

[2017-11-27 20:31] CyrusNajmabadi commented on #23392
Note: i don't really have a horse in this race.  If this option is truly felt to be universally bad, then sure, don't offer it.  However, from my own experience working on a few different projects (including small team projects), some teams are absolutely fine picking 'latest' and having that work well for them.  As an individual, i know i'm ok with this.

[2017-11-27 20:40] jinujoseph commented on #23402
cc @DustinCampbell

[2017-11-27 20:50] jcouv commented on #23399
Relates to https://github.com/dotnet/roslyn/issues/16810

[2017-11-27 20:55] bkoelman commented on #23219
It's still unclear to me how to see that `int j = 0` is an expression and `int k = 4` is a statement. They both have:
- `operation.Type` == `null`
- `operation.Parent` is of type `IForLoopOperation` (not `IBlockOperation`, because `{ }` are missing)
- `.Syntax` does not tell the difference either.

[code]

[2017-11-27 20:56] jcouv commented on #23392
This is not a bug (it's by design). The compiler and project files allow "default" and "latest", so I don't see why the IDE should be more restrictive.

[2017-11-27 21:02] jcouv commented on #23388
Relates to https://github.com/dotnet/roslyn/issues/20115 (we need a dual view of tuples for FindUsages and GoToDefinition).

[2017-11-27 21:12] sharwell commented on #23392
@jcouv The compiler and project files allow many things that are not directly exposed in the UI. Sometimes this is a case where we just haven't completed the work, while other times it's an effort to make the UI a "pit of success" for users. This situation falls into the latter case since users are in two groups:

* Users for whom LangVersion=latest is a reasonable choice: These users do not need

[2017-11-27 21:16] jmarolf commented on #23391
The user is asking for `constant_fields_should_be_upper_case` to override `camel_case_for_private_internal_fields` in the case where we have a private const field.  Both `constant_fields_should_be_upper_case` and `camel_case_for_private_internal_fields` apply here so there would *first* nned to be logic that naming styles can over-rule one another according to some spec, then we can add the APIs n

[2017-11-27 21:16] dpoeschl commented on #23391
The _idea_ was that they would be applied in order, similar to how they are when configured from the UI. If that _were_ working (or if it's working by coincidence somehow), then the original post should place the rule for constant fields above the rule for other fields (most specific first).

[2017-11-27 21:17] CyrusNajmabadi commented on #23392
Not necessarily.  They could be in that state because that's how the project was originally created.  Then, when they hit the first language feature that needs an upgrade, they have an easy way to say "yes i want that, and i always want to be on the latest so i don't have to opt into the new language feature."

[2017-11-27 21:18] CyrusNajmabadi commented on #23392
Yes.  But these users are not hurt by being given the *option* here.  If we feel like this option isn't the best option, we can deprioritize it.  But i don't see the need to actually hide/remove it.

[2017-11-27 21:20] dpoeschl commented on #23391
Ignoring .editorconfig for a second, the super original implementation of this had a full tree of rules, with sub-rules and overrides and etc. We decided it was an easier mental model to just have a flat list that applies in order. You can put your more specific rules first and "mimic" overriding that way. We couldn't think of any scenarios that wouldn't work in this new, flat, paradigm.

Now, @sh

[2017-11-27 21:25] AlekseyTs commented on #23219
```int j = 0``` is neither an expression, nor a statement, it is a declaration, which is a part of the ```for```. That can be detected by checking if the node is the Body of the loop.

[2017-11-27 21:27] sharwell commented on #23392
I am opposed to complicating the naturally-discoverable user interface with options that only apply to experimental or hypothetical scenarios, or otherwise negatively impact the scalability of the product with respect to the maintainability of large code bases. The alternative approaches for setting the language version are not excessively difficult, and most importantly, are readily understood by

[2017-11-27 21:30] jmarolf commented on #23391
Alright, I discussed this scenario with @dpoeschl and I was wrong.  This scenario will work today if you reverse the ordering of naming style declarations such that `constant_fields_should_be_upper_case` comes before `camel_case_for_private_internal_fields`.  The question is:  how is the user supposed to know that?

[2017-11-27 21:31] DustinCampbell commented on #23402
also, cc @tmat

[2017-11-27 21:32] CyrusNajmabadi commented on #23392
That's not hypothetical :)  That's the default config for VS.  It's hypothetical that people would have manually moved out of that state to get things to 'latest'.

The question, to me, is what sorts of users we have who will get these 'upgrade' notifications, and what sort of upgrade approaches are reasonable.  Right now, 'latest' seems reasonable for a set of users, as does supplying a specific

[2017-11-27 21:35] CyrusNajmabadi commented on #23392
I don't see why these 'team projects' mean that we can't offer the choice to people (or teams) for whom this is an acceptable option.

It's like saying that when you choose some sort of project dependency, you must specify a nuget/go/npm version explicitly.  Yes, for some projects that's an absolute must and hte only acceptable path.  But for others, it's completely fine to have loose versioning a

[2017-11-27 22:12] AlekseyTs commented on #23163
Yes, already fixed by that PR.

[2017-11-27 22:12] #23163 closed

[2017-11-27 22:18] davkean opened #23404 "Link for NETCompilerPlatformSDK should not be version-specific"
_From @jcouv on November 27, 2017 22:13_

Repro:

1. Go to: File | New Project | Extensibility | Dowload the .NET Compiler Platform SDK
2. Click on "Download the .NET Compiler Platform SDK"
3. Click on the Download button

![image](https://user-images.githubusercontent.com/12466233/33292019-a1f81800-d37c-11e7-8165-14153c4c2ce4.png)
![image](https://user-images.githubusercontent.com/12466233/332920

[2017-11-27 22:18] davkean commented on #23404
tag @jmarolf

[2017-11-27 22:20] jcouv commented on #23392
Discussed with Neal and we'd be ok to remove "default" and "latest" from options offered by the code fixer.

[2017-11-27 22:21] davkean commented on #1890
Stale and no longer occurs.

[2017-11-27 22:21] #1890 closed

[2017-11-27 22:22] davkean commented on #9067
This issue was moved to dotnet/project-system#2990

[2017-11-27 22:22] #9067 closed

[2017-11-27 22:23] davkean commented on #22013
This issue was moved to dotnet/project-system#2991

[2017-11-27 22:23] #22013 closed

[2017-11-27 22:28] davkean commented on #22014
This issue was moved to dotnet/project-system#2992

[2017-11-27 22:28] #22014 closed

[2017-11-27 22:28] CyrusNajmabadi commented on #23392
Works for me.  As @sharwell has pointed out.  It's not that onerous to have to manually make the change to opt into latest.  At the very worst, a user just sees more upgrade offers as they use new language features.  In a way, that's good as it becomes clear to them that they're explicitly takign a dependency on a new language version.

[2017-11-27 22:29] jcouv commented on #22921
@agocke I think there should be a warning here.
If you agree and the only concern is compat, then we should keep the issue open and attach it to warning waves issue.

[2017-11-27 22:29] CyrusNajmabadi commented on #23392
Objections withdrawn :)

[2017-11-27 22:29] davkean commented on #9382
This issue was moved to dotnet/project-system#2993

[2017-11-27 22:29] #9382 closed

[2017-11-27 22:29] jmarolf commented on #23404
We not longer ship this breadcrumb template as of 15.5

[2017-11-27 22:29] #23404 closed

[2017-11-27 22:42] #23100 closed

[2017-11-27 22:47] DustinCampbell commented on #23402
@tmat : Should we rename this to `Script` and make it public?

[2017-11-27 22:48] DustinCampbell commented on #23402
If there's no reason not to, I'll submit a PR.

[2017-11-27 22:53] CyrusNajmabadi commented on #22328
it was intentional when i did it.  :)

[2017-11-27 22:54] CyrusNajmabadi commented on #22328
VB has to be top level.  But C# can be indented.  But that wasn't really why tey got indent guides.  I gave them indent guides since they're conceptually thought of as being grouped all together and so the dotted line helped convey that.

Of course, if we think this isn't valuable/helpful we can remove.   But it made sense to me at the time.

[2017-11-27 22:56] CyrusNajmabadi commented on #16395
I can try to make this change.

[2017-11-27 22:58] tmat commented on #23402
@DustinCampbell Sounds good. Do you think ```Script``` is better than ```ScriptRunner```? It's not a parser for script arguments. It's a parser for csi, which runs the script.

[2017-11-27 23:01] CyrusNajmabadi commented on #16395
I'd much rather this not be a heuristic, but rather something the language can explicitly opt into.  To do that, we would have to add a field to https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/Structure/BlockSpan.cs stating where the span would start/stop.  It would be optional and would default to whatever BlockSpan.TextSpan was.

For the block in an 'if' in an 'else', the

[2017-11-27 23:03] CyrusNajmabadi commented on #16395
I'm also worried about more cases than this.  For example, VB xml literals, or people who have lambdas with blocks that are indented, etc. etc...

[2017-11-27 23:03] CyrusNajmabadi commented on #16395
Out of curiosity, if the problem can be solved this way, then why not have that be the default of hte horizontal anchor point is not specified?

[2017-11-27 23:13] mattscheffer opened #23406 "CA1823 warning disappears after navigation"
Ported from https://github.com/dotnet/roslyn-analyzers/issues/1410

**Version Used**:
D15rel 27123.00
**Steps to Reproduce**:
1. Clone https://github.com/shadowsocks/shadowsocks-windows
2. Install Microsoft.CodeAnalysis.FxCopAnalyzers 2.6.0-beta1-62322-01 from https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62322-01#
3. Enable CA1810 f

[2017-11-27 23:17] DustinCampbell commented on #23402
I'm not sure I understand the difference. After all, it's a command-line parser. How would `CSharpCommandLineParser.Script` be representative of anything other than Roslyn's command-line script runner?

[2017-11-27 23:18] mattscheffer opened #23407 "CA1801 false positives which disappear when you navigate to them via error list"
Ported from https://github.com/dotnet/roslyn-analyzers/issues/1408

#### Build
D15rel 27123.00

#### Repro steps

1. Open https://github.com/shadowsocks/shadowsocks-windows
2. Install Microsoft.CodeAnalysis.FxCopAnalyzers 2.6.0-beta1-62322-01 to the solution from https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62322-01#
3. Enable CA180

[2017-11-27 23:24] agocke commented on #22921
@jcouv I suppose, although I'd prefer that we have a commitment to warning waves for a specific release rather than pushing this down the line.

[2017-11-27 23:35] VSadov commented on #23338
readonly `T` does not really help.  `ToString` can, in theory, just do `this = null`

We can special-case the special methods like `GetValueOrDefault` though.
They are not mutating and only make sense if they are nonmutating.

[2017-11-27 23:55] VSadov commented on #23166
the parameters should be removed

[2017-11-28 00:05] jcouv commented on #22921
@agocke We're targeting warning waves to release along with C# 8.0.

[2017-11-28 00:14] mavasani commented on #23166
Thanks, I can do this as part of my change to remove all unused parameter references in Roslyn (coming soon). I hope to enable this rule by default in Roslyn after the cleanup.

[2017-11-28 00:18] VSadov commented on #23166
I already have it as a part of another fix, but if yours goes in first, that would be fine too.

[2017-11-28 00:32] heejaechang commented on #23296
@alrz is this still repro? and there was some changes on VS.Next, you probably want to use latest VS (15.5) and make sure you delete RoslynDev hive and start fresh.

[2017-11-28 00:33] tmat commented on #23402
It's subtle - the command line arguments passed to the runner: ```/u:System.Data copy_data.csx /database Foo /out D:\Temp``` vs. just those passed to the script ```/database Foo /out D:\Temp```. No big deal. ```Script``` is fine too.

[2017-11-28 00:39] alrz commented on #22921
Probably a duplicate of https://github.com/dotnet/roslyn/issues/15695

[2017-11-28 00:43] Joe4evr commented on #23020
Yes, but that's also a security measure. In light of that, should this really be changed without seeing *any* talk of security being considered?

[2017-11-28 00:54] mavasani opened #23410 "SyntaxGenerator.WithModifiers is not adding NotOverridable modifier for VB method"
**Version Used**:
MS.CA 2.6.0-beta3

**Steps to Reproduce**:

1. Enlist in https://github.com/dotnet/roslyn-analyzers repo
2. Run unit test `Microsoft.CodeAnalysis.Analyzers.UnitTests.FixAnalyzers.VisualBasic_VerifyFix_NonSealedType` and verify the code fix failure.

**Expected Behavior**:
Generated method has `NotOverridable` modifier

**Actual Behavior**:
SyntaxGenerator.WithModifiers is not add

[2017-11-28 01:03] VladimirReshetnikov commented on #23338
@VSadov Sorry, I did not quite understand your comment. I get an error when I try to assign to `this` in an instance method of a `readonly struct`:
[code]
Tested on master branch at https://sharplab.io

[2017-11-28 01:15] gafter opened #23413 "VB's anonymous types have a GetHashCode method that doesn't work correctly."
**Version Used**:

Latest

**Steps to Reproduce**:

1. Compile and run code below

**Expected Behavior**:

Print the same number twice

**Actual Behavior**:

Prints different numbers

[code]

[2017-11-28 01:21] HaloFour commented on #23413
This is the expected behavior.  VB.NET's anonymous type members are mutable by default and don't participate in the identity of the type *unless* they are marked with the `Key` keyword.  In your example an implementation of `GetHashCode` isn't even emitted as there are no `Key` members.

However, change your example to this:

[code]

And it works as expected.

[2017-11-28 01:22] filipw commented on #23402
@tmat while we are at it, would it also be possible to pass globals object type via args/rsp too? this would offer excellent flexibility. All other compiler options seem to be there

[2017-11-28 01:26] VSadov commented on #23338
@VladimirReshetnikov - it was about the outer `Nullable<T>.ToString()` - the containing struct is not readonly and can allow mutations even if inner `value` has readonly type.

[2017-11-28 01:28] gafter commented on #23413
@HaloFour Thanks!

[2017-11-28 01:28] #23413 closed

[2017-11-28 01:28] tmat commented on #23402
@filipw That's rather unrelated feature request. Feel free to file another issue.

[2017-11-28 01:48] gafter commented on #19722
The test plan is used to gate integration of the feature. The feature is complete and integrated, so closing this.

[2017-11-28 01:48] #19722 closed

[2017-11-28 03:51] jcouv commented on #23399
I'll go ahead and close as duplicate of #16810. We'll reduce the number of errors in such cases, and try to improve the error message ("are you missing a reference to mscorlib, or forgot to restore the NuGet packages?").

[2017-11-28 03:51] #23399 closed

[2017-11-28 03:52] ericmutta commented on #23399
@jcouv many thanks for following up, sounds good 👍

[2017-11-28 05:35] jcouv commented on #23127
I walked through this and the present logic in `BindUnaryOperatorCore` makes sense. The observed behavior is reasonable.

Binding `-1` means binding an unary operator on an expression with an error type. Without `System.Int32`, `1` is an error.
To avoid producing cascading errors (cannot bind the unary operator onto an expression with errors), the binding for `-1` is cut short. So the computation

[2017-11-28 05:35] #23127 closed

[2017-11-28 06:13] jaredpar commented on #1445
These tests have been disabled for 1.5 years now. Lets take a look at this in 15.6. If it's easy to fix then lets do so. Otherwise lets delete the tests.

[2017-11-28 07:45] jcouv commented on #21727
Thanks for reporting this.

I'll need to investigate more. There is a problem decoding tuple element names (` DecodeTupleTypesInternal`) in the second compilation. The encoding and decoding don't agree and I'm not yet sure which one is wrong.

Here's the repro I have so far:
[code]

[2017-11-28 08:36] heejaechang commented on #4068
tagging @jinujoseph @kuhlenh for @kentcb feedback.

"All the docs I could find point me to the wrong place in the options. Unless I missed it, it would be good to update **this**.", can you be more specific on "this"?

"I would think that always enabling full solution analysis is the way to go", we had that on by default and got a lot of feedbacks to turn it off. that is why it is off by default n

[2017-11-28 08:56] jcouv commented on #18079
I'm having trouble to repro this. Could you try again on recent VS and let me know if you still see the issue?

I used the following code in a simple project and built. The Error List (Build + IntelliSense) shows no errors.
[code]

[2017-11-28 09:22] NSentinel commented on #18079
Right now in Version 15.4.4 issue already gone so I'll close it.

Thank you!

---
Microsoft Visual Studio Enterprise 2017
Version 15.4.4
VisualStudio.15.Release/15.4.4+27004.2009
Microsoft .NET Framework
Version 4.7.02558

[2017-11-28 09:22] #18079 closed

[2017-11-28 09:24] filipw opened #23421 "[Feature Request] Allow script globals object type to be passed via .rsp file"
**Version Used**:
2.4.0

**Expected Behavior**:

When using an `.rsp` file with `csi`, I'd like to be able to set/pass globals object type into the script runner. I'd imagine something like:

[code]

The type could be searched for in the current load context, or there could be an additional configuration parameter for providing the path to the globals assembly.

**Actual Behavior**:

It is not pos

[2017-11-28 10:10] davidfowl opened #23422 "Unexpected value 'NullCoalescingOperator expression of System.Span<byte> type' of type 'System.String'"
**Version Used**:
![image](https://user-images.githubusercontent.com/95136/33313758-71ffab54-d3e0-11e7-916d-b428514f369a.png)

**Steps to Reproduce**:

[code]

**Expected Behavior**:
No Crash

**Actual Behavior**:
Crash

[code]

/cc @VSadov

[2017-11-28 11:46] alrz commented on #23296
Doesn't repro on 15.5 Preview 3 with roslyn's master. Closing.

[2017-11-28 11:46] #23296 closed

[2017-11-28 12:09] svick commented on #23020
@Joe4evr

First, even if randomized hash codes for anonymous types were required for security, I don't think it should cause non-deterministic builds when `/deterministic` is enabled. Instead, some approach that achieves both should be used (e.g. randomization using `new Random().Next()`).

Second, as far as I know, randomized string hash codes are used to defend against this attack:

1. The attac

[2017-11-28 12:27] Therzok opened #23424 "Allocations caused by SQLitePCL.raw database loading"
**Version Used**:
2.6.0-vs-for-mac-62303-01

**Steps to Reproduce**:

1. Use the defautl SQLitePersistentStorage
2. Wait for it to load
3. Observe that 64MB are coming in from SQLitePCL.util.to_utf8

https://gist.github.com/Therzok/9ca7f361caaf0308640fa7b03da3ec8b

**Expected Behavior**:
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces.Desktop/Workspace/SQLite/Interop/SqlConnection.cs,21

[2017-11-28 12:47] sharwell commented on #23424
:memo: This is a limitation in the API of SQLitePCL.raw.

[2017-11-28 12:57] Therzok opened #23425 "MultiDictionary ValueSet enumerator boxing"
**Version Used**:
2.6.0-vs-for-mac-62303-01

**Steps to Reproduce**:

1. Use the standard SQLitePersistentStorage
2. Observe allocations due to boxed enumerator on flushing writes

[code]

**Expected Behavior**:
The enumerator should not end up boxed. ArrayBuilder goes via the IEnumerable code-path which ends up boxing the enumerator.

**Actual Behavior**:
Enumerator is boxed.

[2017-11-28 13:01] alrz opened #23426 "Analyzer to flag a non-public class if it is not marked as sealed"

[2017-11-28 13:04] deni35 commented on #6362
I'm getting ```Found conflicts between different versions of the same dependent assembly that could not be resolved``` when installing Microsoft.VisualStudio.LanguageServices on 4.7.1 project. On 4.6.2 there is no this warning.

A part of output:
[code]
I don't understand what's wrong here.

[2017-11-28 13:08] benaadams commented on #23426
Only relevant if it has overridden methods?

[2017-11-28 13:13] alrz commented on #23426
@benaadams Why? In my experience, sealed types generally have better `isinst` performance so I think this should be applied regardless of the presence of overriden methods.

[2017-11-28 13:18] alrz commented on #23426
@benaadams Only relevant if only if it hasn't any derived class.

Further, we could use an option to produce warning if (public) types are not explicitly as non-sealed (with an attribute).

[2017-11-28 13:28] Therzok commented on #23425
This becomes the top hitter in allocations while typing due to `DiagnosticIncrementalAnalyzer` kicking off flushing writes.

[code]

[2017-11-28 13:29] Therzok commented on #23424
[code]

This becomes the 2nd heaviest hitter in allocations while typing.

[2017-11-28 13:31] benaadams commented on #23426
Basically you are saying classes should always be sealed by default?

Non-sealed classes are very useful to side-car data which you can't do with composition; e.g. pass type to api, which then api passes elsewhere to get the data back out - without creating a global(ish) dictionary on with the object as key.

If you are using ` isinst` its a direct example of side-carring data on the `object` type

[2017-11-28 13:37] alrz commented on #23426
This is what I'm trying to say:

[code]
Note: this is an IDE request.

[2017-11-28 13:41] Therzok opened #23427 "SourceLocation huge allocations while typing"
**Version Used**:
2.6.0-vs-for-mac-62303-01

**Steps to Reproduce**:

1. Load a solution
2. Wait for AnalyzerDriver to kick in
3. Probably this is caused to be such a pain point due to `ClrHeapAllocationAnalyzer`

[code]

**Expected Behavior**:

**Actual Behavior**:
Two problems:
* This method allocates SourceLocation regardless of whether the `isInGeneratedCode` callback uses it or not.
* All the

[2017-11-28 13:59] sharwell commented on #23427
This is showing up heavy in AnalyzerRunner as well.

[2017-11-28 14:07] sharwell commented on #23425
:memo: We need to figure out why this is showing up more expensive for vs-for-mac than it is for vs. I want to rule out the possibility of unintentional API misuse.

[2017-11-28 14:15] Suchiman commented on #23392
@sharwell

Nit: it actually is exposed in the UI :trollface:
![Advanced Build Settings](http://csharpcorner.mindcrackerinc.netdna-cdn.com/article/c-sharp-7-2-new-features-with-visual-studio-2017/Images/image015.png)

[2017-11-28 14:22] Thealexbarney commented on #23020
From what I see, the possibility of an attack at the runtime of the compiled anonymous type should be the same as it was before. The only difference would be consistent seed values for the generated `GetHashCode` method when compiled multiple times .

On the Roslyn side, the hash is computed on-demand and not cached, and the result used to generate a value that's immediately added to a `BoundExpre

[2017-11-28 14:38] alrz commented on #14400
I observed that if you add a "read" afterwards it appears in the `DataFlowsOut`
[code]
Is that the intended behavior?

[2017-11-28 14:42] Therzok commented on #23425
https://github.com/mono/monodevelop/pull/2684/files?w=1
https://github.com/mono/monodevelop/pull/3347/files?w=1

These are the two integration PRs. Relevant bits are persistent storage registration and the solution crawler registration in 2684 and the way the diagnostic engine is used is 3347.

[2017-11-28 15:18] sharwell commented on #23392
@Suchiman That's the setting described in the footnote of the original post, above.

[2017-11-28 15:18] Therzok commented on #23425
This happens on initial load.

[2017-11-28 15:38] DustinCampbell commented on #23402
@tmat : I get the difference now, thanks! I think `Script` is probably fine though since the class is named `CSharpCommandLineParser`. I'll go ahead and submit a PR.

[2017-11-28 15:39] filipw commented on #23402
Thanks! 🎉

[2017-11-28 17:10] mavasani commented on #4919
@heejaechang @olegtk Is this implemented? Can you please share the external bug ID? We would like to clean up the fixers in roslyn-analyzers repo once this is done.

[2017-11-28 17:27] gafter commented on #20127
The test plan is a gate on integrating a feature. Since this feature has been integrated, closing this test plan.

[2017-11-28 17:43] Therzok commented on #23424
https://github.com/ericsink/SQLitePCL.raw/commit/210c28f96be1c5b712d7fca41664d5facbffec9a

When this is released, we can switch to caching the byte arrays.

[2017-11-28 18:04] jasonmalinowski opened #23432 "Pasted C# source copied out of Visual Studio doesn't have semantic classification"
**Version Used**: 27126.0.d15.6
**Steps to Reproduce**:

1. Create a new C# project.
2. Copy some source code that has semantic classification in it.
3. Paste it in to Word.

**Expected Behavior**: The semantic classification comes along. Syntactic classification does.
**Actual Behavior**: It doesn't.

[2017-11-28 18:05] gafter commented on #23020
I would like to thank @svick and @Thealexbarney for addressing the issue raised by @Joe4evr by talking about security 😉

[2017-11-28 18:18] jcouv commented on #20127
That doesn't seem right. Checking 18 out of 161 defeats the purpose and seems like a joke.

If I were to choose two items to push on, I'd ask to consolidate the docs for this feature and bullets for the test plan (to act as a reminder when working on next feature).

[2017-11-28 18:25] KrzysztofCwalina opened #23433 "Error clarity: Cannot pass stack allocated spans to instance methods on ref struct"
**Version Used**:
7.2

**Steps to Reproduce**:
[code]
**Expected Behavior**:
The program should compile fine (possibly with some modifications/annotations.

**Actual Behavior**:
Error	CS8350	This combination of arguments to 'Foo.Bar(Span<byte>)' is disallowed because it may expose variables referenced by parameter 'buffer' outside of their declaration scope	ConsoleApp5	C:\Users\Krzysztof\Documents

[2017-11-28 18:49] VSadov commented on #23422
Using members that return ref-like types with `?.` should be an error since the result type would be `T?` which is invalid for ref-likes.

It is likely we had this bug for a long time since the same reasoning apply to `TypedReference`.

VB might have this bug as well.

[2017-11-28 19:37] dpoeschl commented on #14979
The code specifies a margin of `0,0,3,0` (https://github.com/dotnet/roslyn/commit/d668ede61a377c1e8692ff3dd3372432dc6ab74c#diff-6641b061f04581b881c351f58c563872) and I see the margin the same way @reaction1989 does. Looks good to me, but we can reopen if someone can point to a current build where it looks bad. Thanks again for your work on this @reaction1989!

[2017-11-28 19:37] #14979 closed

[2017-11-28 19:44] VladimirReshetnikov commented on #23338
But we can assume the implementation of `Nullable<T>.ToString()` is known and is not going to change, right?

[2017-11-28 20:02] heejaechang opened #23436 "Null ref on GetTrackingLineColumn"
variable misuse ML model tool found a null ref bug on https://github.com/dotnet/roslyn/blob/b4006aa257d30a8fcef926444b79063ca57ba6df/src/VisualStudio/Core/Def/Implementation/TableDataSource/AbstractTableEntriesSnapshot.cs#L165

basically, wrong snapshot is given, and null ref exception will be thrown.

[2017-11-28 20:21] CyrusNajmabadi commented on #23424
How obnoxious.

[2017-11-28 20:24] gafter commented on #20127
@jcouv While I agree, we integrated before the developer identified tests for these bullet items, and no tests have ever been identified for those bullets. We did not follow the defined process for feature development (i.e. test plan checked off before feature integrated). But that is, in practice, what we did.

I'll reopen and assign to the developer to enact your suggestion.

[2017-11-28 20:36] CyrusNajmabadi commented on #4068
That's because users, in general, do not know what options there are.  And, more importantly, users can't identify that a feature is *not* there if it has been turned off by default.  Say we added a bunch of refactorings, and then had them off by default.  Would we be surprised that we heard almost no feedback from people saying "hey... you should turn these on!"   Of course not.  Users wouldn't e

[2017-11-28 20:41] CyrusNajmabadi commented on #23426
I see.  It sounds like you want a suggestion that says to mark a class as sealed iff:

1. it has private accessibility.
2. it is not subclassed within the assembly.

If so, that seems reasonable.  Sounds like it would go in the roslyn-analyzers repo though.

Note: afaict, there is no way to do this with the current analyzer system.  You'd need a CompilationEndAction so you could ensure that there

[2017-11-28 20:42] heejaechang commented on #4068
@CyrusNajmabadi but it as on by default for almost 1 year. and then turned off by default. if a refactoring was on by default for 1 year and then removed and if no body ask "hey whether that refactoring go?", then that refactoring is probably not used much.

[2017-11-28 20:45] CyrusNajmabadi commented on #23427
I can take a stab at thsi.

[2017-11-28 20:48] CyrusNajmabadi commented on #23425
Ugh.  ValueSet has a struct enumerator.  But we're boxing it due to calling AddRange on the immutable array builder.  Easy enough to fix.  Really unfortunate though.

[2017-11-28 20:48] mavasani commented on #4068
How about we report a special IDE-only per-project Location.None diagnostic when the IDE driver notices that user has at least one enabled analyzer with a CompilationEndAction, but FSA is turned off? The hyperlink/description for the diagnostic can point to help URL to turn on FSA (as we cannot have a code fix for no-location diagnostic). It should have minimal perf-impact and makes FSA discoverab

[2017-11-28 20:51] heejaechang commented on #4068
I think if we decide to do this, I would just make active project to run compilation end analyzer as we have planned before. it is just getting delayed again and again since there is no big push from users. we do have BIG push from users to not turn FSA on.

[2017-11-28 20:55] Therzok commented on #23424
There's also allocations from `sqlite3_bind_text` but not as many. Probably worth looking into that too later

[2017-11-28 21:02] mavasani commented on #4068
I think the push was only to not have it on by *default*. For users that are silently affected (projects with manually installed analyzers that have CompilationEndAction that is silently never executed), giving this diagnostic would be valuable and I think we have already got feedback for this multiple times. We have never got to implementing it because we have an easy workaround to share to the u

[2017-11-28 21:11] heejaechang commented on #4068
but that diagnostic gives only option between FSA on or off. and it does more than compilation end analyzer. I think our previous plan is better. running compilation end analyer for active or opened file projects.

[2017-11-28 21:12] heejaechang commented on #4068
"I think we have already got feedback for this multiple times", all feedback I was involved in was from author not users. all start from I am implementing xxx, and it never get called.

[2017-11-28 21:15] mavasani commented on #4068
However, it will have performance/RPS impact correct? If not, that option would be the best. @sharwell should probably be looped in.

Yes, probably because the users felt the analyzer ran fully on their code, and their code is clean on all analysis and hence never reported issues.

[2017-11-28 21:16] CyrusNajmabadi commented on #23424
that one would be harder as that's how we actually push strings into sqlite.  In that case i don't know how we could avoid the allocation. :(

Note: one option might be if sqlite had an API that took a byte[] and length.  We could then pool the byte arrays and convert our strings into them.  But i don't believe sqlite currently has that (but i could be mistaken).

[2017-11-28 21:17] CyrusNajmabadi commented on #4068
Right.  How are users going to complain if they've never had the features to begin with.  And they don't have the features to begin with because authors are blocked from implementing them.

[2017-11-28 21:18] CyrusNajmabadi commented on #4068
Basically, imagine if we had 20 actual features using this.  And we'd had it on for a year.  Would we have seen people notice if it went away?  Almost certainly.  However, i think we only ever had one feature using this.  And it was only on for a very short time (not even a year) before we disabled this again.  So how many people would actually know that this had happened?

[2017-11-28 21:21] heejaechang commented on #4068
for this kind of thing, we have A/B testing. no reason to argue or speculate. we can start A/B testing on perf impact, usage increase and then decide what to do.

[2017-11-28 21:27] CyrusNajmabadi commented on #23424
Note: we already do work to deal with blob allocations.  We read into pooled byte[]s that are added back to the pool.  However, the pool has a cap and we will allocate if we go past that. It would be worth trying to find out why we're having so much traffic here that we're blowing past our pool cap.

[2017-11-28 21:29] CyrusNajmabadi commented on #23424
So, for the byte[] pool (for blob reading) we will use a pooled byte[] if the size of data is <= 4k.  And we will allow up to 1K pooled byte[]s to be in flight at a time.  In other words, we allow for around 4 MB of pooled data for blob reading.

So either we're reading lots of blobs larger than 4k.  Or we're reading so many *simultaneously* that we're going past the 1k limit.  Both sound like thi

[2017-11-28 21:29] Therzok commented on #23424
These are the solution stats:
http://source.monodevelop.com/i.txt
`storage.ide` is around 30MB in size.

[2017-11-28 21:31] CyrusNajmabadi commented on #23424
That's a totally reasonable size.  We shoudl add some instrumentation to figure out what's causing hte excess blob allocations.

[2017-11-28 21:34] VSadov commented on #23338
or we can assume that implementation of `Nullable<T>.ToString()` is not known and can change at any time.
For once I do not know what Mono or micro-framework or any other implementation do.
If I were to implement `ToString`, I would easily make it incompatible. What it does is not at all intuitive or obvious.

In reality only `HasValue` and `Value` are documented in ECMA. It makes sense to special

[2017-11-28 23:09] kentcb commented on #4068
I appreciate the discourse here, people, and can understand the competing desires.

This wasn't really addressed. I mean, given that the whole point of disabling FSA was to improve perf, isn't it kinda crazy that it actually results in _more_ wasted work?

[2017-11-28 23:20] masonwheeler opened #23446 "Unable to build on Ubuntu"
**Version Used**:
Git HEAD

**Steps to Reproduce**:

[code]

**Expected Behavior**:
This should build

**Actual Behavior**:

[code]
and so on.

[2017-11-28 23:26] #16657 closed

[2017-11-28 23:31] lhfiedler opened #23447 "Completion Service gives crappy results ...."
**Version Used**:  2.4

**Steps to Reproduce**:  Code Below

[code]

**Expected Behavior**:
list should contain method names on a string object- i.e. .Equals, EndsWith, Length, etc ..
**Actual Behavior**:
"async,await,base,bool,byte,char,checked,const,decimal,default,do,double,dynamic,false,float,for,foreach,global,goto,if,int,lock,long,nameof,new,null,object,ref,return,sbyte,short,sizeof,string,s

[2017-11-28 23:38] sharwell opened #23449 "UI delay after solution load when registering workspace"
**Version Used**: Multiple versions

PerfWatson is reporting a frequent UI delay occurring after solution load. The blamed cause is `RegisterWorkspaceHostAsync`:

https://github.com/dotnet/roslyn/blob/7a92f356512e23eeaba5743012df7b68a4619d1f/src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs#L140

This method ends up invoking the following asynchronous method, and then b

[2017-11-28 23:39] sharwell commented on #23449
@CyrusNajmabadi This is the next highest priority issue if you were looking for something to make a big impact.

[2017-11-29 00:01] CyrusNajmabadi commented on #23449
Sorry, i have no clue on how to make this better (without asyncifying a lot of the core workspace layers).  I think @jasonmalinowski had some ideas on what to do here.  Good luck! :)

--

Note: another option might be to make the above fire-and-forget, or to allow it to happen later during a real async portion of the workspace.  However, IIRC, that would take non-trivial work to support on the Rem

[2017-11-29 00:15] jinujoseph commented on #23406
related to #23407

[2017-11-29 00:15] jasonmalinowski commented on #23449
It turns out that the remote thing never actually cared about the results of computing the state -- it was just using this as a way to get an event which could have been done much more cheaply.

In either case, this bug is a dupe of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/527587 which is assigned to me. This code is all getting burned down as a part of the project system interaction

[2017-11-29 00:21] CyrusNajmabadi commented on #23449
:fire: 🕺

[2017-11-29 00:22] jasonmalinowski commented on #23449
(note, made previous post that wasn't entirely correct.)

There's no reason to block VS for this -- fire it off asynchronously, and block other requests for a remote solution on it. There you have the proper async hooks.

Note that the remote workspace isn't actually using the host stuff to get workspace data -- it's just using this as an overly expensive way to be told what the solution directory