[2016-02-25 20:39] DavidArno commented on #9005
@HaloFour,

I agree it is unfortunate that this proposal ended up as a long debate over `out` parameters. It's highly disingenuous of you though to attempt to lay the blame for that at my feet. Others could have looked up for themselves as to why a growing number of people view such things as a bad idea. Instead, they chose to ask me here and I answered them.

[2016-02-25 20:48] manixrock commented on #9134
This seems to me to be a self-or-copy problem. For example if you have a class `Vector` and you want to add methods like `Add(Vector vector)`, `Multiply(double value)`, etc. should they change the current vector (and maybe return it too), or should they return a modified copy of the vector?

Both are useful and used often. Modifying the vector is necessary for performance reasons (instead of creat

[2016-02-25 20:53] jaredpar commented on #9184
This looks like a real failure.

[2016-02-25 20:55] jaredpar commented on #9184
Assigning to @tmat.  The determinism job started failing after this commit was merged and has not passed since.

https://github.com/dotnet/roslyn/commit/7472f832971c4a1a3c658ce4291c01b665e2595a

[2016-02-25 20:56] HaloFour commented on #9005
@DavidArno

Considering that you trotted out the "code smell" argument regarding `out` parameters and continued to hammer how "fundamentally flawed" they are despite multiple comments regarding their irrelevance to this proposal you may want to reconsider the "disingenuity" of your argument.

An editorial blog post by you does not signify an authoritative consensus on the subject.  That said I don

[2016-02-25 20:59] jaredpar commented on #9179
I think we should close for now and see if this comes up again.  With archiving and the logic @jasonmalinowski is adding it should let us look into this next time it happens.

[2016-02-25 20:59] #9179 closed

[2016-02-25 21:02] bondsbw commented on #9120
Subclassing implies the superset enum could be substituted in all locations that the base enum is allowed.  This isn't really a goal of enums today, so third party libraries would at best fallback to a default behavior and many would just crash or end up in an undefined state.

Supersets via discriminated union would not allow substitution, so I favor that mechanism over subclassing enums.

[2016-02-25 21:08] Phrohdoh commented on #6183
Rereading this proposal I've realized it is the equivalent of [Rust's `Some(m) => m`](https://doc.rust-lang.org/std/option/#examples) assignment for the enclosing statement, please correct me if I am wrong about that.

If that is the case then awesome, I think C# could benefit a lot from this.

This would allow us to stop creating trash variables for each `TryParse` and would also close the scope

[2016-02-25 21:08] bondsbw commented on #9132
I think this line would fail to compile:
[code]
because `IAnimal` has no member named `Paws`.

[2016-02-25 21:09] otawfik-ms opened #9191 "Default BraceMatching errors out if syntax trees are not supported in the document"
The implementation of AbstractBraceMatcher.FindBracesAsync() tries to get the syntax root from the document in order to find the matching brace (token). For languages other than C#/VB, it calls Document.GetSyntaxRootAsync() which returns null because Document.SupportsSyntaxTree is false. In turn, FindBracesAsync() throws a null exception and the VS hive shuts down.

Roslyn should:

1. Log the appr

[2016-02-25 21:10] tmat commented on #9184
Could you extract 2 dlls that are supposed to be the same but aren't and share them somewhere?

[2016-02-25 21:16] jaredpar commented on #9184
http://dotnet-ci.cloudapp.net/job/roslyn_stabil_determinism/35/artifact/Binaries/determinism.zip

The determinism job actually extracts the binaries that changed and puts them, the originals and the deterministic diagnostic file for each of them into a zip when it sees a failure.

[2016-02-25 21:18] tmat commented on #9184
Thanks

[2016-02-25 21:19] jaredpar commented on #9184
@tmat please let me know if other information could have been included in the zip that makes it easier to track down this bug.  The idea here is to make it as simple as possible to look into these bugs by putting the relevant data in the zip.

[2016-02-25 21:29] Pilchie opened #9194 "Find References and rename should find references in closed .aspx and .cshtml pages"
Prior to VS 2015, when Find all references or rename was invoked in a Web Site project, we would find references in .aspx and .cshtml.  However, because of the way the language service interacts with the web project system, doing this was very expensive - we basically had to invisibly open each page in VS before doing the operation.

We never brought that forward to Web Application projects becaus

[2016-02-25 21:32] agocke opened #9195 "[Test Failure] No identified problem in prtest/win/dbg/eta on PR #9130"
PR: [#9130](https://github.com/dotnet/roslyn/pull/9130) *Always use an absolute path for keyfile with public sign* by @agocke
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/4337/

It looks like restore is failing?

[2016-02-25 21:34] HaloFour commented on #9103
@manixrock

C# isn't a whitespace sensitive language which makes that syntax quite ambiguous.

[code]

[2016-02-25 21:35] bondsbw commented on #9132
I'm not sure what this really helps.  Is this
[code]
better than this which is supported in C# 6?
[code]
Granted, I fudged a bit and assumed `IAnimal.Legs` is getter-only.  (But also to be fair, you never defined `adaptee.Walk()`.)

I could also do something like the following for method adaptation:
[code]

[2016-02-25 21:36] tmat opened #9196 "Convert error messages to resource strings"
Changes made after resource freeze for U2 use plain strings. Move these strings to resources.

See https://github.com/dotnet/roslyn/pull/9168

[2016-02-25 21:37] series0ne opened #9197 "Short hand use of nameof (name of current method/class)"
Do you think it would be possible (_this is a feature request_) to have a short hand syntax for `nameof` in future?

**Example:**

[code]

**Explanation:**
1. Since `nameof();` has empty parenthesis, it is scoped to it's parent, in this case `MyLovelyMethod`.
2. `nameof(this);` would refer to it's container at the class/struct level, in this case `MyLovelyClass`.

**Rationale:**

Well overall it c

[2016-02-25 21:38] davkean commented on #9195
Due of https://github.com/dotnet/roslyn/issues/9159

[2016-02-25 21:38] #9195 closed

[2016-02-25 21:38] agocke opened #9198 "Fix cascading diagnostics in when using invalid crypto options with PublicSign"
For instance, see `PublicSignWithRelativeKeyPath` in `CompilationAPITests.vb`.

There are two errors:
[code]

In this case, only the first error is really necessary. This is true for almost any set of incompatible crypto options with public sign, including using CryptoKeyContainer or any set of mutually incompatible options.

See https://github.com/dotnet/roslyn/pull/9130 for the full set of diagn

[2016-02-25 21:46] Pilchie opened #9199 "Support Cross Language navigation and refactoring"
- [ ] Find References and rename should find references in closed .aspx and .cshtml pages (#9194)
- [ ] Goto Definition F# to C# and Vice Versa (#8105)
- [ ] HTML in a .cshtml file in a section that is marked as unnecessary, does not get faded out (#12284)
- [ ] Grey out ToString() calls in a razor render action (#12893)
- [ ] Codelens does not work well in Websites (#1758)

[2016-02-25 22:09] manixrock commented on #9041
Perhaps allow methods to behave more like method-events with before and after events?

[code]

Or maybe even:

[code]

This would insure the base method remains unchanged and is callable, but still allows code to be wrapped around it without worrying whether the root method is called.

Events could even be chained in successive descendants so they can specify where in the call tree the call should

[2016-02-25 22:09] jaredpar commented on #9153
Did you mean for this to be in update 2?  Seems like an update 3 issue.

[2016-02-25 22:10] jaredpar commented on #9150
Did you mean for this to be in update 2?  Seems like an update 3 item.

[2016-02-25 22:11] jaredpar commented on #7477
Didn't we merge the PR that fixed this already?

[2016-02-25 22:14] #6986 closed

[2016-02-25 22:15] jaredpar commented on #7446
What is the status of this bug?  It is labeled as fixed in December and reassigned for perf work.  No updates since then.

Moving out of update 2 as this doesn't seem to be relevant here.

[2016-02-25 22:17] mavasani commented on #7446
I think @KevinH-MS already confirmed perf was fine again with a follow up change - he can probably confirm and close this out.

[2016-02-25 22:18] #9058 closed

[2016-02-25 22:18] #9052 closed

[2016-02-25 22:19] tmat commented on #4575
Fixed by https://github.com/dotnet/roslyn/commit/d43d4780d54276738fe970897e4cf1cd1c58059d

[2016-02-25 22:19] #4575 closed

[2016-02-25 22:21] #9057 closed

[2016-02-25 22:24] agocke commented on #9153
Update 3. We can't modify resources, so better error messages aren't really possible.

[2016-02-25 22:32] heejaechang commented on #9096
this type http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/TableDataSource/Suppression/SuppressionStateColumnFilterDefinition.cs,864e6572d6838d17 require http://index/#Microsoft.VisualStudio.Shell.14.0/TableControl/Internal/EntryFilterDefinition.cs,1ea91d02fdc28ff9 as exchange type.

[2016-02-25 22:34] gafter commented on #8178
@jaredpar Assigning to you as you have the PR in ask mode.

[2016-02-25 22:39] alrz commented on #9197
#7031

[2016-02-25 22:41] genlu opened #9202 "Put IOperation behind a feature flag"

[2016-02-25 22:42] rchande opened #9203 "Rename tracking is noticeably faster than inline rename"
I've noticed several instances where renaming a parameter through rename tracking is massively faster than inline rename. Rename tracking commits almost instantly while inline rename spends a lot of time at "computing rename information" after I hit enter.

[2016-02-25 22:57] heejaechang opened #9206 "re-enable SuppressionStateColumnFilterDefinition"
once this issue is fixed - https://github.com/dotnet/roslyn/issues/9096, re-enable the filter.

see https://github.com/dotnet/roslyn/pull/9201 for reason why we disabled it.

[2016-02-25 23:02] gafter opened #9207 "Should the compiler produce syntax trees for features that are not enabled?"
When the language version is set, for example, to version 6, and we encounter the syntax for a language feature not present until version 7, we give an error in the parser. However, the question remains what parse tree should we build? If we build a parse tree that was designed for the new feature, we could possibly "break" analyzers that were not designed to handle them.

@jaredpar @AlekseyTs

[2016-02-25 23:18] Unknown6656 commented on #9134
@HaloFour, @DavidArno  : I know the `alias`-instruction and I know that writing nested classes is not very good - but what if you have 'nested' properties and not nested classes? (I have to agree that my example was a bit crappy)

@manixrock: good point - I did not think about that .... that does indeed render my `.=`-operator uselessly.....

[2016-02-25 23:24] Unknown6656 commented on #9134
_EDIT:_ with nested properties I mean the following: You want to edit a property of an type instance, which itself is called by an property etc. <br/>e.g.:

	public class MyControl : Control
		public Control Parent { set; get; }
		public IEnumerable<int> ExampleList { set; get; }

and you want to change the list order _(or whatever else)_ of the 50th parent of the mycontrol-instance:

	MyControl c

[2016-02-25 23:25] #9110 closed

[2016-02-25 23:35] Unknown6656 opened #9209 "[Proposal] Add an `LARGE_ADDRESS_AWARE` switch to the .NET compiler"
I sometimes write applications and/or libraries which need the `LARGE_ADDRESS_AWARE`-flag set. I usually solve this by calling `editbin.exe` as postbuild-event.

Would be an good idea to add a corresponding switch directly to the C#/F#/.... compiler?
It would have the following pros:
- one could save a few miliseconds/seconds of compilation time and postbuild-event calls
- it is easier to use for

[2016-02-25 23:36] gafter opened #9210 "Scope of pattern variables in join clause"
The expression in a `join` clause, i.e. *e* in `... join x in e ...`, does *not* turn into a lambda body. This expression needs to define a scope for any pattern variables that are declared in that expression. The scope of those pattern variables does not extend outside that expression.

[2016-02-25 23:47] tannergooding commented on #8767
These targets no longer exist in Update 1, and were replaced with the 'ubuntu-14.04' and 'osx.10.10' targets (and IIRC, there are were changes that couldn't happen because we are still referencing the legacy targets). The other work had already been done (remove 'win7-anycpu'), but it was reverted due to a series of other issues we were seeing.

I don't know if we have any documentation covering w

[2016-02-25 23:47] jods4 opened #9212 "Suggestion: optimize codegen for "simple" string interpolation"
String interpolation simplicity and clearness makes it very attractive for formatting text.
In fact, at my company I've seen it used for things as trivial as `var greeting = $"Hello {name}"`, which admittedly is only slightly nicer than `"Hello " + name`.

The thing is: it doesn't have the same performance characteristics. Currently C# converts an interpolated string into a `string.Format("Hello {

[2016-02-25 23:48] agocke commented on #8767
Don't bother trying to change the Mono toolset. Aside from being risky, I'm trying to get rid of it entirely, so it's not productive work.

[2016-02-25 23:50] tannergooding commented on #8767
@agocke, thanks for the update. @davkean, it sounds like this should wait for the removal of the mono toolset and then we can update the targets more easily (should just be removing the legacy runtime entries at that point).

[2016-02-25 23:50] HaloFour commented on #9134
@Unknown6656

Or you could assign the next-to-last result from the properties to a temporary variable:

[code]

[2016-02-25 23:54] davkean commented on #8767
@agocke Is there a bug tracking Mono removal?

[2016-02-25 23:54] dfkeenan commented on #3538
Pushed back to 1.3 :cry:

Is there any info on what/how this is going to be exposed?  Even code in a branch or something would be interesting to look at.

[2016-02-26 00:00] gafter commented on #9109
Seems to be working with the latest bits. @CyrusNajmabadi please verify.

[2016-02-26 00:00] #9109 closed

[2016-02-26 00:01] gafter commented on #9092
By "QuickInfo" do you mean the popup widow when the mouse cursor hovers over the name?

[2016-02-26 00:02] #8808 closed

[2016-02-26 00:03] CyrusNajmabadi commented on #9092
Yes.

[2016-02-26 00:08] alrz commented on #9212
Related: #194.

[2016-02-26 00:10] DerpMcDerp commented on #9120
Read the proposal more closely. It's about "superclassing" enums rather than "subclassing" them i.e. the "base" can be assigned to "derived" rather than the other way around (the polar opposite of how subclassing works). It can't lead to any crashes since it's guaranteed to be a subset.

[2016-02-26 00:13] dpoeschl opened #9215 "[Test Failure] No identified problem in prtest/win/dbg/eta on PR #9213"
PR: [#9213](https://github.com/dotnet/roslyn/pull/9213) *Replace dynamic invocation of EnumerateExpansionsAsync with direct calls* by @dpoeschl
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/4379/

**Issue 1: No identified problem**
No problems were identified. If you know why this problem occurred, please add a suitable Cause for it.

From the console log:
[code]

[2016-02-26 00:16] davkean commented on #9215
https://github.com/dotnet/roslyn-internal/pull/594

[2016-02-26 00:16] #9215 closed

[2016-02-26 00:17] tmat commented on #9176
Fixed by https://github.com/dotnet/roslyn/commit/31b600d92b17a47750bd42ff7062bd95d16ef0ae

[2016-02-26 00:17] #9176 closed

[2016-02-26 00:23] jods4 commented on #9212
Sorry about that, I did a search for issues about "interpolation", not sure how I missed this one.

Apparently the idea was dismissed, I will read why later on.

[2016-02-26 00:25] agocke commented on #8767
@davkean https://github.com/dotnet/roslyn/issues/7139

[2016-02-26 00:27] davkean commented on #8767
This is blocked on #7139.

[2016-02-26 00:58] aluanhaddad commented on #9005
Back on topic:
A really nice aspect of this proposal is how it allows existing types to be augmented for integration with patterns. For example an extension operator ```is``` could be defined to match ```List<T>``` with ```ImmutableList<T>``` transparently.

[2016-02-26 01:43] jods4 commented on #9212
I read the other thread and @bbarry seemed to have made the argument that led to closing the issue.

I think not all arguments were convincing. Let me recap some of that thread objections.

First, keep in mind that we could choose to draw the line between what is optimized and what falls back to simpler codegen anywhere we want to. Most interpolations I see in code at work are basic: few parameter

[2016-02-26 01:51] jmarolf commented on #9117
Fixed by https://github.com/dotnet/roslyn/pull/9118

[2016-02-26 01:51] #9117 closed

[2016-02-26 02:32] dfkeenan opened #9219 "Completion window closes immediately when editing .cshtml files"
Hi,

I keep getting an issue where the code completion windows closes almost immediately without being able to make a selection when editing the code blocks in .cshtml files.  I have not tested this with other web files .vbhtml, .aspx etc.

I have not been able to reproduce it in a simple test application.  Could size of project/solution be a factor?

I have tried:
- Invalid syntax in a .cs file
-

[2016-02-26 02:52] bondsbw commented on #9120
@DerpMcDerp  The colon `:` inheritance operator is used to subclass, not superclass.  Reversing that relationship for `enum` is quite confusing; someone used to C# would assume they could substitute `TypeCodeEx` for any `TypeCode`.  I suggest reworking that aspect of the proposal.

[2016-02-26 02:59] CyrusNajmabadi commented on #9191
By design :)

The idea is for other languages to implement the IXXXLanguageServices (like IBraceMatcher).  Not to derive from AbstractXXXService.  The abstract types exist just to share similar logic between VB and C#.

[2016-02-26 03:31] davkean opened #9220 "Figure out a way to have deployment + vsix projects that don't require an assembly to be generated"
We have lots of "DotNotUse" assemblies generated from deployment and vsix  projects - we do this, so that we don't bypass the project system up-to-date checks. We should figure out a way to avoid that.

[2016-02-26 03:53] Licshee commented on #8713
Calling to getter & setter methods is what @lachbaer asked for, public static field is what I missed, but I just checked #850 and believe it can work in a way, just my example was wrong, I need to perfect it.

During the perfection I find my idea is now more of #850, then I'm going discuss this under #850.
Thank you for your opinion.

[2016-02-26 04:05] davkean opened #9221 "ObjectFormatterTests.StackTrace_Dynamic failing in stabilization"
http://dotnet-ci.cloudapp.net/job/roslyn_stabil_win_rel_unit64/137/testReport/Microsoft.CodeAnalysis.CSharp.Scripting.Hosting.UnitTests/ObjectFormatterTests/StackTrace_Dynamic/

Failed
Microsoft.CodeAnalysis.CSharp.Scripting.Hosting.UnitTests.ObjectFormatterTests.StackTrace_Dynamic (from Microsoft.CodeAnalysis.CSharp.Scripting.UnitTests)

Failing for the past 2 builds (Since Failed#136 )
Took 37 m

[2016-02-26 04:12] davkean commented on #4442
We don't ship the samples - so there's no need to sign them.

[2016-02-26 04:12] #4442 closed

[2016-02-26 04:17] davkean commented on #9221
This looks like it regressed by: https://github.com/dotnet/roslyn/pull/9193

[2016-02-26 04:18] davkean commented on #9221
This is only happening in release builds. tag @tmat

[2016-02-26 04:20] AlekseyTs commented on #9210
I disagree with this. Given that
[code]

e2 should share scope with the scope that contains entire query expression, similar to e1.

[2016-02-26 04:21] davkean opened #9222 "Add a PR job that runs release builds"
We've had 3 regressions checked into the tree in the past two weeks that have only happened in release builds. We should switch one of the debug jobs (either x86 or x64) - to a release build to catch these.

[2016-02-26 04:23] davkean commented on #9222
If we've already got dynamic pooling up by this point, maybe we should just add another job.

[2016-02-26 04:24] davkean commented on #8859
This has been resolved by: https://github.com/dotnet/roslyn/pull/8943

[2016-02-26 04:24] #8859 closed

[2016-02-26 04:28] gafter commented on #9210
@AlekseyTs Sounds good to me. I like your proposed scope rule here.

[2016-02-26 04:41] davkean opened #9223 "Microsoft.CodeAnalysis.CSharp.UnitTests.Symbols.AnonymousTypesSymbolTests.AnonymousTypeSymbol_Simple_Threadsafety failure on Linux"
PR: [#files](https://github.com/dotnet/roslyn/pull/9200/files) *Use var codestyle updates* by @balajikris
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_lin_dbg_unit32/4363/

**1 Test Failures:**
Microsoft.CodeAnalysis.CSharp.UnitTests.Symbols.AnonymousTypesSymbolTests.AnonymousTypeSymbol_Simple_Threadsafety

**Issue 1: Test Failures**
There were test failures, see Test Results above.

[2016-02-26 05:06] davkean commented on #7014
We agree and we're on the way there. Jenkins is now using dynamic pooling to fire up VMs on demand. We're not, however, planning on isolating VMs on a per test run basis. It's costs too much time - 10 minutes to fire up a VM to run a 10 (with Jared's changes) -> 30 minute test run is too long.

[2016-02-26 05:06] davkean commented on #9182
Dup of https://github.com/dotnet/roslyn/issues/7014

[2016-02-26 05:09] davkean commented on #7793
Have you seen this since? I haven't, closing for now, and I'll watch out for more failures.

[2016-02-26 05:09] #7793 closed

[2016-02-26 05:11] gafter commented on #9092
OK, this looks fixed today. @CyrusNajmabadi please verify.

[2016-02-26 05:11] #9092 closed

[2016-02-26 05:16] dpoeschl commented on #7440
Fix merged into stabilization. Closing.

[2016-02-26 05:16] #7440 closed

[2016-02-26 05:24] davkean opened #9224 "Create a job that enables devs to make cross-cutting changes between Roslyn and internal"

[2016-02-26 05:31] davkean commented on #6974
Tanner, do you think there is there ever going to a way to do this?

[2016-02-26 05:32] davkean commented on #6974
I have noticed that it's less of a problem now, in fact, haven't seen it in months.

[2016-02-26 05:33] davkean commented on #6167
None of these have failed recently, no point tracking this anymore.

[2016-02-26 05:33] #6167 closed

[2016-02-26 05:34] davkean commented on #7601
We're

[2016-02-26 05:34] #7601 closed

[2016-02-26 05:39] davkean commented on #5913
Resolved with: https://github.com/dotnet/roslyn/commit/efd3c5d6038e932a77a89fcc99dabaeffbbdc1f1

[2016-02-26 05:39] #5913 closed

[2016-02-26 05:54] tmat commented on #9221
That's a new test. Not a regression. Will take a look.

[2016-02-26 05:55] davkean commented on #9221
Thanks!

[2016-02-26 05:58] davkean opened #9227 "Merge bot is not automatically running VSI or eta jobs"
Our merge bot is not running VSI or ETA jobs. It should.

It looks like it doesn't have permission to run ETA or VSI - I suspect that's because it's not in the Microsoft team.
- [X] Add 'dotnet' to orgWhitelist in groovy scripts: `orgWhitelist(['Microsoft', 'dotnet'])`
- [X] Add 'dotnet' to http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_eta/ job which doesn't have a groovy script

[2016-02-26 06:01] davkean commented on #5283
Moving to performance.

[2016-02-26 06:04] davkean commented on #6771
Dupe of https://github.com/dotnet/roslyn/issues/8975

[2016-02-26 06:04] #6771 closed

[2016-02-26 06:06] davkean commented on #6348
Dupe of https://github.com/dotnet/roslyn/issues/6407

[2016-02-26 06:06] #6348 closed

[2016-02-26 06:06] davkean commented on #6259
Dupe of https://github.com/dotnet/roslyn/issues/6407

[2016-02-26 06:06] #6259 closed

[2016-02-26 06:07] davkean commented on #6180
I'm not going to fix this - doesn't seem like anyone cares. I've heard zero feedback around this.

[2016-02-26 06:07] #6180 closed

[2016-02-26 06:08] davkean commented on #6166
No point tracking these anymore - going to track them as individual bugs.

[2016-02-26 06:08] #6166 closed

[2016-02-26 06:10] bkoelman opened #9228 "ImportAdderService adds duplicate namespace import when already exists"
A user of my analyzer [reported](https://github.com/bkoelman/ResharperCodeContractNullability/issues/16) duplicate namespace insertion.

I have created a simplified repro:
1. Download the [target solution](https://github.com/imanushin/ColorsMagic)
2. Run the next console application, which dumps the duplication to console:

[code]

[2016-02-26 06:56] #8809 closed

[2016-02-26 06:58] #9210 closed

[2016-02-26 07:24] #9113 closed

[2016-02-26 07:24] #9114 closed

[2016-02-26 08:06] JoshVarty commented on #8962
I should preface this by saying I've never used the CLR APIs before, so I'm probably doing a lot of things wrong, but I've cobbled together an example based on the `mdbg.exe` sample debugger code.

You can see my work so far [here](https://github.com/JoshVarty/MinimalDebuggerForEnC/blob/39a3854d3989c34ead8ed68883efb73350fc9e12/MinimalDebuggerForEnC/Program.cs#L26-L61).

I am trying to attach my de

[2016-02-26 08:24] lachbaer commented on #9041
@manixrock
[code]
One inheritance paradigm of C# (and most other OOP languages) is that only the parent can be called not the grandparent.
[code]
Apart from the point that this could aready be done with the `On...` protected calling scheme the signature `public void BaseMethod {` would introduce a *property* to the compiler.

I don't think this is the way to go.

I guess, the most compliant way to

[2016-02-26 08:28] Unknown6656 commented on #9134
@HaloFour Yes of course - you are right....
Well this renders indeed the need for a `.=`-operator into nothingness :smile:

[2016-02-26 08:28] #9134 closed

[2016-02-26 08:33] gafter opened #9231 "No Property name completion in a complex pattern"
In the following code, we should be offered name completion (the names `Left` and `Right`) at the $, but we are not.

[code]

[2016-02-26 08:46] alrz commented on #9178
I think there is is no reason to actually differentiate between required and optional partials. Currently, partial method requirements (`private`, `void`, no `out` params) ensure that they can be safely removed in the call site if they weren't implemented. So, under this proposal if any of those conditions were not satisfied, you would need to implement the partial and the compiler produces an err

[2016-02-26 08:56] gafter commented on #9212
@jods4
`$"{1}"` is defined as a call to `string.Format("{0}", 1)`. The spec for `string.Format` defines this as equivalent to `string.Format(CultureInfo.CurrentCulture, "{0}", 1)`, which is defined as equivalent to

`(CultureInfo.CurrentCulture as ICustomFormatter)?.Format(null, 1, CultureInfo.CurrentCulture) ?? (1 is IFormattable) ? (1 as IFormattable).ToString(CultureInfo.CurrentCulture) : 1.ToS

[2016-02-26 09:33] fubar-coder opened #9232 "Roslyn C# fails while trying to convert CancellationToken to long"
The Roslyn C# compiler fails to compile the following source code:

[code]

Error messages:
[code]

project.json:
[code]

The problem doesn't seem to exist for the "net451" platform, just for dnxcore50 and dotnet5.5.

I compiled it from Visual Studio 2015 using `dnx-clr-win-x86.1.0.0-rc1-update1`.

[2016-02-26 09:54] #8894 closed

[2016-02-26 09:56] gafter commented on #8985
Really? A language proposal to save one character?

[2016-02-26 10:33] jods4 commented on #9212
@gafter I was unaware that all formatting operations look whether `CurrentCulture` is a `ICustomFormatter` before doing anything else. At least I learned something, not sure I'll ever use it though ;)

This is indeed a roadblock for generating efficient formatting code.

Idea: given that almost all code runs with the built-in `CultureInfo` and those do not implement `ICustomFormatter` the compiler

[2016-02-26 10:54] lachbaer commented on #8985
In VS2015 this already works for me, just typing `{` on the same line as the declaration puts me the `}` directly on the same line, nicely formatted.

I also think, the short semicolon terminated declaration should only be for external and abstract declarations. Indeed when you *redefine* the accessibility of a constructor - as the word says - you *define* something, not just *declare* it. A defin

[2016-02-26 11:25] dsaf commented on #8985
I guess it's not worth it :).

[2016-02-26 11:25] #8985 closed

[2016-02-26 11:27] antonssonj commented on #7862
Hi,
I’m thinking of grabbing this item, is it still up for grabs? It could save me some time implementing an internal API that uses a lot of IoC and has the compiler generating xml documentation files.

I have made some tests and think it could be implemented like this.
- Add `inheritdoc `as a recommended tag to get completion when writing comments.
- Add a new property `bool Inheritdoc` to the `D

[2016-02-26 13:07] alrz opened #9234 "Proposal: this parameter"
It's quite common to set class members directly from method parameters specifically to write fluent APIs.`this` parameters would ease that procedure. For example,

[code]

All writable fields and properties would be allowed to be used in the parameter place.

Default values also would work just fine by translating them to optional arguments.

[code]

You could define your `is` operator using `this

[2016-02-26 13:48] jasonwilliams200OK commented on #8767
FWIW, @mellinoe has done similar work in CoreFX repo: https://github.com/dotnet/corefx/pull/5905 (remove Mono dependency) and https://github.com/dotnet/corefx/pull/6077 (remove build dependency on PCL reference assemblies).

[2016-02-26 14:39] mharthoorn commented on #9132
bondsbw:

You are correct, I fixed it.

[2016-02-26 14:46] leppie commented on #9212
@jods4 A good example is using the currency formatter.

[2016-02-26 14:49] atifaziz commented on #9176
@tmat Thank you for fixing this so promptly. :+1:

[2016-02-26 14:57] abpiskunov opened #9235 "[nuget add using] Don't duplicate suggestions for xproj in U2"
In U2 WTE bits can not be modified and thus if Roslyn's feature will be on in U2 we would have 2 suggestions for missing packages in xproj projects.

To avoid that roslyn might check for project Capabilities property for xproj  (IVsHierarchy) and see if "SupportsMissingPackageSuggestions" is present.

If it is not, then DON't show nuget suggestions.

If it is - show (in this case it would mean tha

[2016-02-26 15:02] svick commented on #9232
This is not an error in Roslyn. For some reason the overload for the method you're calling is missing in `dotnet` and `portable` versions of the package (but they do include other `CancellationToken` overloads). To me, this looks like a bug in package and you should report it to its owners.

For reference, [here is a list of all overloads of the method per platform](https://gist.github.com/svick/c

[2016-02-26 15:05] jods4 commented on #9212
@leppie can you elaborate? I'm curious and not sure what you refer to.

[2016-02-26 15:12] leppie commented on #9212
@jods4 `$"{100.0:C2}"`

[2016-02-26 15:18] jods4 commented on #9212
Oh sure. I use those all the time (numbers and dates mostly).
And they can convert to `(100.0).ToString("C2")`.
This works because `double` implicitly implements `IFormattable` and this doesn't require boxing.

The feature I didn't know about was that `string.Format` and co. will first look at `CultureInfo.CurrentCulture` to see if it implements `ICustomFormatter`. And I checked on my machine, you

[2016-02-26 15:19] fubar-coder commented on #9232
Ok, thanks and sorry for the inconvenience.

[2016-02-26 15:19] #9232 closed

[2016-02-26 15:21] leppie commented on #9212
It could take a fast path for string args though if it does not do that already.

[2016-02-26 15:31] jods4 commented on #9212
@leppie
Amazingly @gafter wrote that according to the specs even strings without specified format have to go through `ICustomFormatter` if there is one.

I'm kind of wondering what a proper usage of that feature would be. I mean: if you want to override formatting for a class you don't have control of (so can't implement `IFormattable`), you can always pass your own `IFormatProvider` to the `strin

[2016-02-26 15:34] sayedihashimi opened #9236 "When you add using with Ctrl + . sometimes the using directive is not in correct order #400"
Moved from https://github.com/aspnet/Tooling/issues/400 originally posted by @ivaylokenov

If you have documentation summary on the class, and add new using with Ctrl + . operation, sometimes you may receive the following result:

[code]

Documentation is not on a new line and the usings may not be sorted. Sometimes it is working, sometimes it does not and I am not quite sure on which conditions i

[2016-02-26 15:37] leppie commented on #9212
@jods4 `is` is pretty cheap check, so I guess it does not hurt much.

[2016-02-26 15:42] leppie commented on #9212
@jods4 Also such optimizations might even be performed by the JIT, or at least it could hint that way.

[2016-02-26 15:46] davkean commented on #9235
That would cause this to light-down for all the projects. No C#/VB project (except xproj) provides that capability.

[2016-02-26 16:13] abpiskunov commented on #9235
Yes, you would need to check for capability only when project is xproj and ignore for all others.

[2016-02-26 16:47] natidea opened #9237 "CSharp.Scripting...ObjectFormatterTests Failing"
`Microsoft.CodeAnalysis.CSharp.Scripting.Hosting.UnitTests.ObjectFormatterTests.StackTrace_Dynamic` started failing in X64 Rolling Build (roslyn_stabil_win_rel_unit64) following the merge of this PR:
https://github.com/dotnet/roslyn/pull/9193

http://dotnet-ci.cloudapp.net/job/roslyn_stabil_win_rel_unit64/136/

@tmat @dotnet/roslyn-infrastructure

[2016-02-26 16:48] natidea commented on #9237
@tmat could you take a look?

[2016-02-26 16:49] davkean commented on #9237
Dupe of #9221

[2016-02-26 16:49] #9237 closed

[2016-02-26 16:58] davkean commented on #9159
There's not a lot we can do about this, as it's a NuGet issue.

[2016-02-26 16:59] jods4 opened #9238 "VS IDE: outlining should collapse expression-bodied members"
Lambda members are meant to be short like so:

[code]

But I sometimes see slightly longer ones in our codebases, such as these ones:

[code]

The problem with those is that VS code editor does not collapse code like it does for members with "normal" bodies.

To navigate or get an overview of a class I like to collapse everything to definitions but with those in the way it now becomes less readabl

[2016-02-26 17:12] DustinCampbell commented on #9191
This is by design per Cyrus's comment.

[2016-02-26 17:12] #9191 closed

[2016-02-26 17:16] DustinCampbell commented on #9219
@brettfo, we've seen lots of feedback about this problem coming through the VS Feedback channels as well. We need to get a repro and solve it.

[2016-02-26 17:18] DustinCampbell commented on #9228
@jmarolf, could you work with @bkoelman on the fix to this issue?

[2016-02-26 17:35] alrz commented on #9212
@leppie On the other hand, you'd have no idea there is a type check when you use string interpolation. kind of wtf.

[2016-02-26 17:36] manixrock commented on #9103
@HaloFour C# isn't really whitespace insensitive. For example `1234.ToString()` is a valid expression, while `1234 .ToString()` is not (notice the space before the dot).

The `..` operator should not be nestable so there's only even one level of it, so any subsequent usages of `..` will apply to the same expression as the previous one, eliminating any ambiguity.

So this:

[code]
is equivalent to

[2016-02-26 17:43] Pilchie commented on #7862
Yes, it's still up for grabs, and we'd love it if you are interested in taking it on.  @DustinCampbell, @dpoeschl, and I had a quick chat about how we think it might work this morning.

I'm going to assign the issue to @dpoeschl to work with you on the design.  It's too late to include this in VS 2015 Update 2, but if things come together, we'd love to include it in the next VS Update after that!

[2016-02-26 17:43] manixrock commented on #8947
HaloFour pointed out a need for clarification for when the `..` operator is used without whitespace. For example, let's consider the following expression:

[code]

First, the `..` operator should not be nestable, so multiple usages of it will always apply to the first expression.

Second, C# is not whitespace insensitive. For example `1234.ToString()` is a valid expression, while `1234 .ToString()

[2016-02-26 17:43] bbarry commented on #9212
https://github.com/dotnet/roslyn/pull/6738

In the pull request I initially submitted for this I reached the conclusion that a few helper methods added to the BCL would ultimately save a few instructions worth of time but that this would require an effort across multiple projects both open and closed all to make the compiler more complex.

[2016-02-26 17:47] davkean commented on #9030
I'm going to mark this as no repro, I'm not seeing this in recent builds.

[2016-02-26 17:47] #9030 closed

[2016-02-26 18:01] manixrock commented on #9041
@lachbaer what about:

[code]

The two extra code blocks would be able to access the argument `int dice`, and both return `void`.

[2016-02-26 18:07] davkean opened #9241 "BasicVenus.xml (BasicVenus.Script Block: Commit and Smart Indent On Moving out of current line) failed"
PR: [#9239](https://github.com/dotnet/roslyn/pull/9239) *Upgrade to NuGet to 3.4.0.665 to fix #9159* by @davkean
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p1/348/

**1 Test Failures:**
BasicVenus.Script Block: Commit and Smart Indent On Moving out of current line

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

BasicVenus.xml

[2016-02-26 18:09] Pilchie opened #9242 "InstallDogfood doesn't work with Update 2 installed"
After installing Update 2 CTP, trying to run install dogfood results in:

Looks like we need some new binding redirects?

[2016-02-26 18:09] Pilchie commented on #9242
Tag @davkean

[2016-02-26 18:12] davkean opened #9243 "We should have a single VSIX that installs "Roslyn""
Currently, we have the following VSIX:
[code]

We should combine this in a single VSIX that can be installed to install Roslyn.

[2016-02-26 18:12] davkean commented on #9243
Then we can talk about publishing to the gallery and enabling customers to opt into weekly/monthly builds, etc.

[2016-02-26 18:16] jaredpar opened #9244 "Consider pattern matching for extract method scenarios"
As a part of fixing #9104 for preview pattern matching is being blanket excluded from extract method.  For RTM though we should be looking at this and considering what valid extractions could be done an pattern expressions.

[2016-02-26 18:19] HaloFour commented on #8947
@manixrock

Replying here since the other issue is closed.

What defines a "level"?  The top-most expression?  If you couldn't use this operator within an existing expression that would kill much of the use of it.  Otherwise this seems like just a very hobbled form of `with`.

Incorrect.  The following is perfectly legal C#, although the formatter in VS will fight you.

[code]

[2016-02-26 18:21] davkean opened #9245 "Story: Roslyn developers can install, dogfood and develop on Update 2"
- [ ] [InstallDogfood works](https://github.com/dotnet/roslyn/issues/9242)
- [ ] Jenkins has Windows images with Update 2

[2016-02-26 18:24] HaloFour commented on #9041
No C# changes are necessary, this entire proposal can be solved through an analyzer possibly combined with an attribute that can hint to the analyzer whether not calling the base member should be a warning, an error or ignored.

[2016-02-26 18:31] jods4 commented on #9212
@bbarry Interesting to see the PR as I now can see this is where most of the discussion about this issue has taken place.

Like you (judging by your comments), I feel sad that C# introduces clean, attractive new features that devs quickly adopt (and are sometimes suggested by refactoring tools such as Resharper) to later find out that in perf. critical code you should avoid them (e.g. the Kestrel

[2016-02-26 18:31] tmat opened #9247 "WPF exception during AppDomain exit"
http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/4417/

[code]

[2016-02-26 18:34] agocke commented on #8767
@jasonwilliams200OK I believe we need to target PCL profile7...

[2016-02-26 18:36] tmat commented on #9221
I have disabled the test for now. This might be a bug in the CLR or the compiler need to investigate.

[2016-02-26 19:02] #8775 closed

[2016-02-26 19:06] #9159 closed

[2016-02-26 19:10] tmat opened #9249 "TestSimpleInstanceProperty_VisualBasicToCSharp failed"
[code]

[2016-02-26 19:24] CyrusNajmabadi commented on #9236
Do you have an actual repro.  What was hte code before this change?  Which using is the one that you added?  What code did you have inside MyMVC that you used to trigger 'add using' on?

[2016-02-26 19:28] CyrusNajmabadi commented on #7862
I personally don't think we need something like "inheritdoc".
I think that the IDE should just have a good experience around symbols that don't have doc comments on them.  In that case, we simply go look and see if there's a doc comment on higher symbol.  We then present this in the UI in a nice way.  i.e. we say 'here's some doc comments.  but they actually came from this other symbol."

[2016-02-26 20:07] jaredpar opened #9252 "Release branches should remove myget feeds"
All uses of `myget.org` should be removed from our [Nuget.config](https://github.com/dotnet/roslyn/blob/master/NuGet.Config) file.  Packages can be deleted from `myget.org` at any time hence using those feeds compromises our ability to do historical builds of our releases.

[2016-02-26 20:08] jaredpar opened #9253 "Release branches should remove pre-release packages"
Before releasing we need to verify that we have no more pre-release packages in our stabilization branch.  There is at least one package right now that is pre-release: System.Reflection.Metadata.

[2016-02-26 20:09] jaredpar commented on #9252
Note: we should be careful to re-add `myget.org` in the master branch once the change to remove them flows stabilization -> master.  Or even better we should consider adding `Nuget.stabilization.config` so this gets done on a permanent basis.

[2016-02-26 20:29] davkean commented on #9252
Agreed. Let's make NuGet.config branch specific.

[2016-02-26 20:53] #7477 closed

[2016-02-26 20:53] #9045 closed

[2016-02-26 20:53] #9050 closed

[2016-02-26 20:54] bondsbw commented on #9234
I assume the return type `this` works similar to proposal #155 or #311?

I'm not sure what happens here:

[code]

What is the type of `x`?  Is it `A` or `B`?  I would think `B` is the better interpretation but I haven't thought it through.

[2016-02-26 21:02] bondsbw commented on #9234
And on that same note, assuming `x` is of type `B` above, it might be nice to be able to return a different base type or interface type (some fluent syntax depends on chaining different interfaces to enforce an order of invocations).

[code]

[2016-02-26 21:02] genlu opened #9254 "Unexpected value 'ExitPropertyStatement' in `VisualBasic.MemberSemanticModel`"
Can be repro'd in
[code]

Here's call stack:
[code]

[2016-02-26 21:02] gafter opened #9255 "Need detailed spec for name lookup of property in a property pattern"
Given code such as

[code]

We need precise lookup rules for `SomeProperty`. What if we find more than one? Do we ignore indexed properties to resolve?

[2016-02-26 21:04] jmarolf opened #9256 "NavigateTo Search text in solution explorer"
Searched in NavigateTo after opening solution.  NavigateTo Session was dismissed but the search term was visible somewhere else...

![image](https://cloud.githubusercontent.com/assets/9797472/13365316/2e897378-dc89-11e5-9b23-c7547493fe41.png)

[2016-02-26 21:09] alrz commented on #9234
@bondsbw Those proposals may be applied for convenience but the focus here is on `this` parameters; however, to my understanding, if it's intended to be `B` in your example, perhaps the method should be defined as `virtual` and use covariant return types (#357)?

Your second example is making it complicated. If any other type other than "self" is desired I think it's better for the method to be de

[2016-02-26 21:10] dpoeschl commented on #7862
@CyrusNajmabadi We discussed the tooling ecosystem that makes a Roslyn implementation of `inheritdoc` useful. Additionally, we can do the good IDE experience for both cases with inheritdoc (which we would honor) and without (using a heuristic). `inheritdoc` would take precedence over the heuristic in the IDE. Does that dual approach to handle both existing tooling and IDE experiences sound good to

[2016-02-26 21:25] bondsbw commented on #9234
@alrz

Under that solution, the `x` above would have been of type `A`, and to make it type `B` would require an override:
[code]
I suppose that's better than not having #357 but it seems a bit redundant anyway.

[2016-02-26 21:32] alrz commented on #9234
@bondsbw This discussion probably belongs to #311 but making `this` return type automagically work with inheritance is not part of that proposal either.

[2016-02-26 21:32] bondsbw commented on #9234
Then the equivalent would be:

[code]

I like taking advantage of the shorthand.

[2016-02-26 21:33] alrz commented on #9234
@bondsbw This discussion probably belongs to #311 but making `this` return type automagically work with inheritance is not part of that proposal either.

PS: Or even `=> this` would just work for that matter.

[2016-02-26 21:48] bondsbw commented on #9234
@alrz

Right, that's one reason I didn't discuss it there (yet), seems like it is more concerned with the type being returned than the fact that it is actually returning `this`.

True, although I wonder if there could be any value in the compiler knowing for certain that the returned object is the same object?  Perhaps static analysis and stack management could be improved in some cases?

[2016-02-26 21:58] davkean commented on #9235
Capabilities need to be agreed upon by all project owners, they are not designed to be have reverse defaults based on your project type.

I would rather see a simple property in the targets file that opts into this for xproj, and then we remove this in the future, and we sniff it via IVsBuildPropertyStorage.

[2016-02-26 22:07] tmat opened #9257 "RenameMoveNextInCSCauseConflictInForEach failed"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_unit64/669/

[code]

[2016-02-26 22:26] gafter opened #9258 "Please preserve order of subexpression visiting in PatternVariableFinder"
See https://github.com/dotnet/roslyn/pull/9216/files#r54207731

/cc @AlekseyTs

[2016-02-26 22:32] AlekseyTs commented on #9258
The order of visiting is important because it affects which declaration is considered to be a duplicate in case their names are matched. This in turn affects error location and the result of binding of an identifier matching the name. The current behavior is inconsistent with the way local declarations are handled, for example.

[2016-02-26 22:47] rchande opened #9260 "Completion: preselect based on names"
This is a logical extension of target type preselection. `y` should be preselected below based on the name. In the current implementation `x` is.

[code]

[2016-02-26 22:47] rchande commented on #9260
FYI @CyrusNajmabadi

[2016-02-26 22:56] gafter opened #9261 "default(SymbolInfo) versus SymbolInfo.None in C#'s SemanticModel implementation"
In the C# compiler's semantic model implementations, we have a number of places where we return `SymbolInfo.None`, and a number of places where we return `default(SymbolInfo)`. We should probably rationalize these to a single pattern unless there is a reason to be different.

/cc @AlekseyTs

[2016-02-26 23:01] jmarolf opened #9262 "[Test Failure] <description> in prtest/win/vsi/p0 on PR #9259"
PR: [#9259](https://github.com/dotnet/roslyn/pull/9259) *Fix devenv /build and devenv /upgrade* by @jmarolf
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p0/344/

Nuget restore failed

[2016-02-26 23:12] srivatsn commented on #9174
Need to keep in 1.2 to fix the crash.

[2016-02-26 23:28] jmarolf commented on #6863
hit in https://github.com/dotnet/roslyn/pull/9259
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p2/357/

[2016-02-26 23:53] srivatsn commented on #8187
It sounds weird to have RegisterOperationBlockAction return multiple blocks and if this is a concern only for some corner cases then can we instead have a single block and property called AdditionalBlocks for the corner cases?

[2016-02-27 00:02] agocke opened #9263 "GenerateMethodCrossLanguageTests.GenerateMethodUsingTypeConstraint_SingleNamedType test is flaky"
See build http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4411/

[2016-02-27 00:24] CyrusNajmabadi commented on #7862
@dpoeschl Yup.  That sounds good.

[2016-02-27 00:33] #9129 closed

[2016-02-27 03:15] davkean commented on #9262
Dupe of https://github.com/dotnet/roslyn/issues/9159.

We never ported this to stabilization. I will if it's stable over the weekend.

[2016-02-27 03:15] #9262 closed

[2016-02-27 03:15] davkean commented on #9159
This should be resolved by the new version of NuGet we checked.

[2016-02-27 04:25] gafter opened #9269 "Need more IDE tests for pattern-matching scenarios"
It would be good to have many more unit tests for IDE scenarios involving the pattern-matching language feature.

[2016-02-27 07:03] genlu opened #9270 "Add IOperation feature flag"
Revert changes made in #10627 .

[2016-02-27 07:14] manixrock commented on #8947
@HeloFour by "the first expression" I mean the first expression on which the first `..` is used.

Regarding the whitespace issue I was incorrect. However we can use paranthesis to cover both use cases:

[code]

The operator is usable with any existing expression.

[code]

[2016-02-27 07:49] manixrock commented on #8947
I wonder if the operator could somehow be used to create shorter lambdas. For example `..Bar` without any further assignment would translate to `a => a.Bar`.

This could be used for easier to read Linq queries:

[code]

[2016-02-27 16:29] Eirenarch opened #9273 "Proposal: Extend the Query Comprehension Syntax with Take and Skip support"
First of all I would like to apologize for lacking the skills for a quality proposal possibly with a prototype implementation but it seems to me that more competent people haven't thought about this issue so I decided to propose it.

I like the LINQ query comprehension a lot and I do believe that it greatly improves the readability compared to the equivalent extension methods/lambda based code. Ho

[2016-02-27 19:01] HaloFour commented on #9273
Kind of covered by #100 although that proposal is a bit more general purpose.  Notably VB.NET has always had `Skip` and `Take` LINQ clauses.

[2016-02-27 19:15] Eirenarch commented on #9273
Oh you are right. Strange that this proposal wasn't in the top result when I did the search.

[2016-02-27 19:18] Eirenarch commented on #100
Adding terminating operators as keywords is probably not a good idea because there are too many of them. Single, SingleOrDefault, SingleAsync, SingleOrDefaultAsync, First, FirstOrDefault, FirstAsync, FirstOrDefaultAsync, Count, CountAsync, ToList, ToListAsync, ToDictionary, ToDictionaryAsync, ToArray, ToArrayAsync... where does it end?

On the other hand I think it is a very good idea to support n

[2016-02-27 21:33] antonssonj commented on #7862
Great, so what’s the next step? Did your quick chat about how it might work differ a lot from my suggestion? Otherwise I could continue to work from my tests. I guess there will be a lot of details to discuss.

[2016-02-27 22:33] jcouv opened #9274 ""No input sources" error in BasicAnalyzers.Vsix project"
When I build the master branch with `msbuild /v:m /m BuildAndTest.proj`, I get the following error:

vbc : error BC2008: no input sources specified [d:\repos\roslyn2\src\Samples\VisualBasic\Analyzers\BasicAnalyzers\BasicAnalyzers.Vsix\BasicAnalyzers.Vsix.vbproj]

[2016-02-28 01:43] jmarolf opened #9275 "[Test Failure] Individual TAO Test Failure in prtest/win/dbg/eta on PR #9259"
PR: [#9259](https://github.com/dotnet/roslyn/pull/9259) *Fix devenv /build and devenv /upgrade* by @jmarolf
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/4470/

**1 Test Failures:**
CSharpReplIntellisense.4) Verify completion list for #load members

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

CSharpReplIntellisense.xml

MESSAGE:
The process ca

[2016-02-28 01:45] jmarolf opened #9276 "[Test Failure] Test Failures in prtest/win/dbg/unit64 on PR #9259"
PR: [#9259](https://github.com/dotnet/roslyn/pull/9259) *Fix devenv /build and devenv /upgrade* by @jmarolf
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4444/

**1 Test Failures:**
Microsoft.CodeAnalysis.Editor.UnitTests.Rename.VisualBasic.ImplicitReferenceConflictTests.RenameMoveNextInCSCauseConflictInForEach

**Issue 1: Test Failures**
There were test failures, see Tes

[2016-02-28 02:04] gafter opened #9277 "Region analysis APIs versus pattern matching"
In an expression such as `(o is int i)` the region analysis APIs should say that `i` is assigned inside, but is not *always assigned* inside. If the pattern is irrefutable (i.e. cannot fail to match), then the variables are *always assigned* inside. That will cause those APIs to interact properly with *extract method*. We need tests for these situations and possibly fixes in the compiler to ensure

[2016-02-28 02:11] gafter opened #9278 "In C# binder, suggest using UnknownResultType instead of CreateErrorType()"
In the C# binders, we currently use `CreateErrorType()` to create an error type during error recovery. However, we have a cached singleton error type we could use instead called `ErrorType.UnknownResultType`. Consider refactoring the former to the latter throughout the compiler.

(Thanks to @AlekseyTs [for observing this](https://github.com/dotnet/roslyn/pull/9233#discussion_r54292590))

[2016-02-28 02:14] gafter commented on #9278
The reason *not* to do this is that `UnknownResultType` is not merely an error type. Its identity is used throughout the compilers as a flag to indicate that a type stored in an internal variable has not been computed yet. For example

[code]

[2016-02-28 02:14] #9278 closed

[2016-02-28 02:38] tmat commented on #8969
@davkean Moved to Area-Interactive.

[2016-02-28 02:39] tmat commented on #8968
@davkean Moved to Area-Interactive.

[2016-02-28 07:57] dmytrolypai commented on #8318
Hi! I am trying to implement this and there are a couple of questions I would like to ask.
1. Should it autocomplete arrows only inside typeof? It probably could be useful outside as well, but then it might be inconsistent with other completions, like method calls (see second question).
2. Maybe it should insert only one arrow? This probably would make for a better typing experience, since one wou

[2016-02-28 09:18] ivaylokenov commented on #9236
@CyrusNajmabadi I do not have repro currently as the issue occurs quite "randomly". If I see it again, I will copy the code here so you can investigate.

[2016-02-28 11:00] ivaylokenov commented on #9236
@CyrusNajmabadi Found one.

Initial code - `IMemoryCache` is not recognised:
[code]

I run Ctrl + . to add` IMemoryCache`'s using. Result is (new line is not added after usings):
[code]

I add another dependency - for example `ISession`. Everyting works fine (although new line is not added again):
[code]

However, if I first add `ISession` and then `IMemoryCache`, result is this one:
[code]

[2016-02-28 11:06] dmytrolypai commented on #8623
Hi! I would like to try to fix this.
It is pretty funny, actually, and has to do with the ordering between ">" and "," :)
The main problem is writing a test, I think, but probably that discussion is for a pull request.

[2016-02-28 11:20] Giftednewt commented on #9236
@ivaylokenov @CyrusNajmabadi
Based on that repo it looks like a dupe of #5499

[2016-02-28 16:14] #9104 closed

[2016-02-28 19:34] lachbaer commented on #9234
I don't think that
[code]
is good, because declarations without a body (only semicolon) should stay declarations, that are defined elsewhere. But in this case you *define* the method `WithName` and therefore a body should be mandatory.

How about declaring it with the property?
[code]
Access modifiers and visibility will be same for both, property and method. For anything that deviates from this,

[2016-02-28 19:44] alrz commented on #9234
@lachebaer If that is not good I'd rather stick to the first form. Your example make it only useful for fluent APIs and dictates `With*` convention which doesn't apply everywhere. I don't think combining two declarations into one would be preferrable at all. Note that fluent APIs are one of the use cases for this and it might be useful in other situations as well.

[2016-02-28 19:59] lachbaer commented on #9132
@bondsbw The intend, as far as I understand, is to decorate the *third party* class `Cat` with that interface. So he cannot directly put `Cat : IAnimal`, because he has no access to the source code.

But wouldn't this be acceptable, in respect to the code overhead?
[code]
It's only 2 lines more.

[2016-02-28 20:04] lachbaer commented on #9234
@alrz It does not dictate `With*`, the `WithName` is an arbitrary identifier.

[2016-02-28 20:06] lachbaer commented on #9234
And if it gets anyhow complexer, isn't it better to have an explicitly defined method for it anyhow?

[2016-02-28 20:10] Mylan719 opened #9281 "Navigating symbol definition API"
Hi,
I would like to ask for some API similar to GoToDefinitionHelpers, or for GoToDefinitionHelpers to be public.
My goal is to be able to be able to use "Go to definition" feature in my visual studio 2015 extension that would have the same behavior in my markup as it has in C#/VB code.  Or is there any better piece of API to use for navigating when I only know an ISymbol from semantic model?

[2016-02-28 20:26] alrz commented on #9234
@lachbaer

This doesn't eliminate the method declaration, you still need to write it, but with `this` parameters you define a parameter that will be initialized with the argument value when the method is called. I should probably remove the last example; I think that's the source of confusion here.

[2016-02-28 20:39] lachbaer commented on #9234
@alrz So, the only addition you actually propose is the addition of `this.XXX` in the parameters section of a method definition to call the setter of `XXX`? Neat idea, because it would make the expression body syntax possible and you can actually return anything you want.

And also I think that `... => this;` is pretty verbose and unterstandable already. No need for any further abbrevation IMO.

[2016-02-28 21:48] basoundr opened #9282 "Do not trigger SyntaxDiagnostic analysis in a project for a Metadata Reference change"
This is in reference to the Memory Allocation regression issue that we saw in Dev14 Update which was caused by running Syntax Diagnostics on all closed files of a project whose Metadata Reference got modified.

[2016-02-28 21:57] gafter opened #9283 "Internationalize diagnostics for pattern-matching"
The diagnostics for pattern-matching are not currently internationalized properly. That should be done, at the latest when the specs on the relevant errors are clear enough that they are stable.

[2016-02-28 22:01] gafter opened #9284 "SymbolInfo for bad property in a property pattern should contain candidate symbols"
The `SymbolInfo` returned when there is a bad property in a property pattern (e.g. because it is ambiguous, inaccessible, `static`, etc) should contain any properties that are (improperly) referenced.

See, for example, the test `AmbiguousNamedProperty` in `PatternMatchingTests`.

[2016-02-28 22:03] gafter commented on #9284
/cc @AlekseyTs

[2016-02-28 23:50] davkean commented on #8623
@dmytrolypai Sure, feel free to pick it. It sounds like, from what you are saying, that we're doing an order based on the full name including generic arguments - that sounds incorrect.

[2016-02-29 01:51] bkoelman commented on #9228
The target solution (step 1) does not currently build, because of a broken assembly reference. After applying [this fix](https://github.com/imanushin/ColorsMagic/pull/1), repro works.

[2016-02-29 06:00] bondsbw commented on #9132
@lachbaer Good point, I forgot that was the goal.

#124 is also similar to this idea.

[2016-02-29 06:22] JohnHamby commented on #8187
I was confused during the triage meeting. This issue isn't the reason for having multiple code blocks in OperationBlockStartAnalysisContext and OperationBlockAnalysisContext.

[2016-02-29 06:35] weshaggard commented on #8210
@agocke I'm a little unclear what you are suggesting. Are you suggesting you cannot repro it or that we are just missing an extra flag we need to pass? Even if there is an extra property that isn't getting set it seems like the error message should be improved.

[2016-02-29 06:36] JohnHamby commented on #9254
MemberSemanticModel.IsStandaloneStatement was missing entries for ExitPropertyStatement and ExitOperationStatement.

[2016-02-29 06:39] JohnHamby commented on #9015
I'm already adding some entries for other statements, so I can take this one.

[2016-02-29 07:28] agocke opened #9288 "Provide better error message for failing to full-sign in csc/vbc on coreclr"
Right now the error message is just a pinvoke failure (`CSC : error CS7027: Error signing output with public key from file '.../corefx/Tools/Open.snk' -- Cannot marshal 'return value': Invalid managed`).

[2016-02-29 07:31] agocke commented on #8210
@weshaggard You're right about the error message -- I've filed https://github.com/dotnet/roslyn/issues/9288 to address that.

As to this bug, I understood this to be an issue with public sign -- full signing is not currently supported on coreclr. Did you want to re-categorize as a feature request?

[2016-02-29 07:35] weshaggard commented on #8210
Yes we should re-categorize it as a feature request because it is something I think we need to support.

[2016-02-29 07:43] agocke commented on #8210
@weshaggard Do you have a corefx bug we can follow? :) Roslyn currently PInvokes to the CLR for signing support and we'll continue to either use a CLR or CoreFX signing utility for full signing.

[2016-02-29 07:45] tmat commented on #8210
Re full signing - we have discussed this already. @jkotas wrote a prototype. I think we can productize that code in the new PE writer.

[2016-02-29 11:03] mharthoorn commented on #9132
@lachbaer:

The benefit would not be primarily in terms of saving two lines in defining the adapter. It would be about separation of concerns and the benefit for _using_ the adapter.

Imagine you have a series of objects which you know can all 'walk'. Some of them implement IAnimal and some of them don't. Like the Cat from above.

Compare the use of a regular adapter, where you must test and insta

[2016-02-29 12:35] adamante opened #9290 "Crash/empty item list in Locals window when quantity of elements inside a collection changes"
Steps to reproduce:

1. Create any collection (List, Queue, Stack, etc.)
2. Add a few items to it
3. Remove an item from the collection (set a breakpoint on this instruction)
4. Run
5. When you hit a breakpoint, expand the collection in Locals window
6. Take a step over (F10)
7. Collection will collapse in Locals window, try to expand it again.

From that moment, VS either crashes or the collectio

[2016-02-29 14:26] #9071 closed

[2016-02-29 14:26] #9078 closed

[2016-02-29 14:26] #9075 closed

[2016-02-29 14:29] #3240 closed

[2016-02-29 16:39] rchande commented on #8318
Hi @dmytrolypai!

Let's start by only changing the behavior in typeof.
This may be tricky to implement. Ideally, the second brace would be tracked by brace completion so that committing the list and then typing backspace would remove both arrow.
Furthermore, if we always insert the braces, we need to have the caret move between them (otherwise typing the type parameters will be really awkward).

T

[2016-02-29 16:46] bkoelman opened #9292 "NuGet package dependencies broken in analyzer project template"
Adding packages to a new Analyzer project always fails (see below). Only after updating all Microsoft.\* packages to newest versions, new packages can be added. But that breaks backwards compatibility (running from VS2015 without SP1).

Repro steps:
1. Create new project from template Extensibility > Analyzer with Code Fix (NuGet + VSIX)
2. From Package Manager Console, type: `install-package log4

[2016-02-29 17:10] DustinCampbell commented on #9281
Hi @Mylan719, if your extension is in Visual Studio 2015, you should be able to MEF import `VisualStudioWorkspace` from the [Microsoft.VisualStudio.LanguageServices package](http://www.nuget.org/packages/Microsoft.VisualStudio.LanguageServices/1.1.1). That has a [TryGoToDefinition API](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/ProjectSystem/VisualStudioWorkspa

[2016-02-29 17:12] DustinCampbell commented on #9276
Hmmm... seems like we've already seen this.

[2016-02-29 17:14] DustinCampbell commented on #9276
Probably related to #9151

[2016-02-29 17:16] DustinCampbell commented on #9256
@jmarolf -- I'm confused. Did you use Navigate To, or the Solution Explorer to search? Navigate To shouldn't be changing the solution node.

[2016-02-29 17:35] dmytrolypai commented on #8623
@davkean Yes, AbstractCompletionService.cs:201 (`totalItems.Sort()`) is where it goes out of order, which boils down to `CompletionItem`'s `CompareTo`, which uses the `SortText` property. That one is set just to symbol's text by the `CrefCompletionProvider`.

It would still need to look (somehow) at all the generic arguments to decide that the ones with the smaller number of them should go first,

[2016-02-29 17:37] davkean commented on #8623
@rchande Do you have some recommendations here?

[2016-02-29 17:39] miloush commented on #2837
Running Update 2 CTP (25008) and still,
[code]
gets wrapped as
[code]
Is that a different issue? This one is not triggered by autocomplete.

[2016-02-29 17:39] SLaks commented on #8318
I think this should apply both in and out of `typeof`.

Method names don't insert parentheses (partly) because method groups can also be used without parentheses.
However, a generic typename can never be used without arrows (except in `nameof`), so I think they should always be inserted.

And, yes; you should only insert the closing arrow if it works with brace completion.

[2016-02-29 17:40] rchande commented on #8623
@dmytrolypai--that sounds like the right fix. Can you elaborate on your testing problems?

[2016-02-29 17:44] rchande commented on #8623
Also, instead of depending on the sort order of the names of the type parameters, I imagine you could use the metadataname (ie "Action`1").

[2016-02-29 17:46] davkean commented on #8623
You can't rely on the metadata name; Action`2 and Action`10 would be ordered incorrectly.

[2016-02-29 17:55] CyrusNajmabadi commented on #2837
This is a different issue.

[2016-02-29 17:56] rchande commented on #8623
We also can't use "whitespace and identifier character strings with type parameter names either":

`genericType ztypeparameter` would be sorted after `generictype atypeparameter btypeparameter`.

[2016-02-29 17:57] DustinCampbell commented on #8623
Note that we have pretty specific comparison logic for signatures in sig help. Can we leverage that somehow? https://github.com/dotnet/roslyn/blob/a4e375b95953e471660e9686a46893c97db70b0e/src/Workspaces/Core/Portable/Shared/Utilities/SignatureComparer.cs

[2016-02-29 17:58] miloush commented on #2837
OK, is that being tracked or should I create it?

[2016-02-29 18:13] CyrusNajmabadi commented on #2837
You shoudl create it.

[2016-02-29 18:38] dmytrolypai commented on #8623
@rchande About the testing: as I mentioned in the previous comment, I tried to do it in `CrefCompletionProviderTests`, but that turned out to be too early, since the order becomes broken later (`... ModelComputer -> AbstractCompletionService.GetCompletionListAsync -> AbstractCompletionService.MergeAndPruneCompletionLists`). I don't seem to find existing tests on those levels.

[2016-02-29 18:41] rchande commented on #8623
Ah. We test those [here](http://source.roslyn.io/#Roslyn.Services.Editor.UnitTests2/IntelliSense/CSharpCompletionCommandHandlerTests.vb,bdbfa8b430fd4d61)

[2016-02-29 18:41] Mylan719 commented on #9281
Thank you for answer, this seems to be the "Better piece of API" I was looking for. ;)
Originaly I thought that if there is `Renamer`, `Formater`, `SymbolFinder` etc.. I should be looking for some static helper to do the trick. Also I studied what `GoToDefinitionCommandHandler` uses aand apparently that set me on a wrong track.
 It is sometimes hard to find something that does what i need :)

[2016-02-29 18:44] dmytrolypai commented on #8623
Oh, VB, did not see that coming. I have never written a line of VB before, maybe it is time :) Thanks!

[2016-02-29 18:51] dmytrolypai commented on #8318
From what I've seen so far: it should be easier to implement this for everything, rather than for just `typeof`. There is only `AbstractSyntaxContext` nearby, which does not have the stuff about `typeof`. I guess, it should be common for both C# and VB and the latter does not have `typeof`?
Just inserting one arrow should not be hard to do, I think it is just pushing down things from http://source

[2016-02-29 19:00] lachbaer commented on #9132
@mharthoorn
I wonder if this can be done with an 'abstract' interface
[code]
When you use an *abstract interface* the compiler can check at compile time if the handed class instance implements all of the methods, events and properties of it. You can then pass any class that fits.

In case of your cat you have to define an additional adapter anyway, to make her paws legs. I think it would be better

[2016-02-29 19:01] #8810 closed

[2016-02-29 19:02] DustinCampbell commented on #9281
@Mylan719 -- yes, there's certainly a large API surface area! :smile: This particular API is on `VisualStudioWorkspace` because it is host-dependent on Visual Studio. It satisfies all of the functionality of Go to Definition inside Visual Studio, such as navigating to metadata-as-source (or even Object Browser in VB), populating the Find Results window when their are many symbols, etc. This is the

[2016-02-29 19:02] #9281 closed

[2016-02-29 19:12] gafter commented on #9234
I don't understand the relationship between the proposed declaration form and why it is useful either at the declaration site or at the use site. Is this all about saving a line of code?

This is vaguely similar to a feature being considered as part of records; see the attached presentation pages 8-10.

[2016-02-24 Simple Records.pptx](https://github.com/dotnet/roslyn/files/151580/2016-02-24.Simpl

[2016-02-29 19:27] lachbaer opened #9297 "Proposal: Abstract interface"
During discussing #9132 I had the idea to propose `abstract interface`
[code]
When you use an *abstract interface* the compiler can check at compile time if the handed class instance implements all of the methods, events and properties of it. You can then pass any class that fits.
[code]
In case of a cat that has paws instead of legs I think it would be better to stick with the current standard an

[2016-02-29 19:28] CyrusNajmabadi opened #9298 "[Test Failure] Test Failures in prtest/win/dbg/unit32 on PR #9163"
PR: [#9163](https://github.com/dotnet/roslyn/pull/9163) *Mark methods as Obsolete.* by @CyrusNajmabadi
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/4473/

**1 Test Failures:**
Microsoft.CodeAnalysis.Editor.UnitTests.Rename.RenameEngineTests.RenameMergedNamespaceAcrossProjects
Microsoft.CodeAnalysis.Editor.UnitTests.Rename.RenameEngineTests+VisualBasicConflicts.Bug529989_

[2016-02-29 19:28] davkean opened #9299 "[Test Failure] Test Failures in prtest/win/dbg/unit64 on PR #9268"
PR: [#9268](https://github.com/dotnet/roslyn/pull/9268) *Dont add IndentOperation for Broken BracketedArgumentList* by @Pilchie
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4433/

**2 Test Failures:**
Microsoft.CodeAnalysis.Editor.UnitTests.Rename.RenameEngineTests+VisualBasicConflicts.Bug529989_RenameCSharpIdentifierToInvalidVBIdentifier
Microsoft.CodeAnalysis.Editor.Un

[2016-02-29 19:29] davkean commented on #9299
Dupe of https://github.com/dotnet/roslyn/issues/9298

[2016-02-29 19:29] #9299 closed

[2016-02-29 19:30] davkean commented on #9298
Failure here as well: https://github.com/dotnet/roslyn/issues/9299

[2016-02-29 19:34] zoukyle opened #9300 "Visual Studio is missing the word completion function"
I have Edit.CompleteWord associated with Alt + /.
Basically I think VS is missing the work completion function in the comment section. http://eclipsebook.in/c-cpp-development/editing-code/code-completion/

For example, if I have a long variable name, ThisIsATestVariable. If I type ThisIs and press Alt + /, it should autocomplete the variable name instead of typing the full name. If there are multi

[2016-02-29 19:43] tmat commented on #9184
Fixed by https://github.com/dotnet/roslyn/commit/7bb0b4ea56dd7cc08f89830bd049e96aaa7e7f89

[2016-02-29 19:43] #9184 closed

[2016-02-29 19:49] alrz commented on #9234
@gafter That feature is about the ability to use `this.XXX` in the default value place for optional arguments, this would allow `this.XXX` *instead* of a parameter; If used for a regular method, yes, it saves a line of code but to be able to use positional deconstruction for non-record types one might define an `is` operator to explicitly specify bounded properties for pattern variables, e.g.
[cod

[2016-02-29 19:58] jaredpar commented on #7610
I've seen another occurrence of this:

http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4505/

Based on the console it seems like a test in the following is hanging / asserting: Roslyn.Services.Editor.CSharp.UnitTests.dll.  Is there a new bug tracking this or should I reactivate this one?

[2016-02-29 20:00] gafter commented on #9297
I think proposing a concrete syntax for a different issue is best done inside that issue's discussion thread. Closing as a dup of #9132.

[2016-02-29 20:00] #9297 closed

[2016-02-29 20:04] gafter commented on #9132
This is quite similar to #7844.

[2016-02-29 20:04] alrz commented on #9132
@lachbaer Since #9297 is closed,

You *must* derive from an `abstract` class to be able to instantiate, how is that consistent? And what it has to do with the compiler "checking" the object to see if it implements all the methods? And if it satisfy those methods, what IL should be emitted? Are you suggesting that the compiler should implicitly implement those interfaces for the static type of the

[2016-02-29 20:15] lachbaer commented on #9132
@alrz

True, I expressed myself wrong. I meant as you cannot instaciate abstract classes it should not be possible to directly use abstract interfaces. But after a moment of thought this doesn't make any sense. An abstract interface should be usable like an ordinary interface.

No. The compiler just checks if all methods, etc. that are defined in that interface, are also present in the class, thou

[2016-02-29 20:39] VSadov opened #9303 "add tests for ?. and generic receivers"
Per CR for https://github.com/dotnet/roslyn/pull/9287

Consider adding test scenarios for ?.  operator for receivers that are:
- constructed instance of `T` say `C1<Stream>`
- constructed instance of `T` where the value is still generic: `C1<U>`

[2016-02-29 20:43] #8598 closed

[2016-02-29 20:54] JohnHamby commented on #8849
One might argue that the Left, Right, and Call properties of BoundUserDefinedBinaryOperator should also be made not to throw, but I'll cover this in the IOperation implementation.

[2016-02-29 20:57] HaloFour commented on #9132
@lachbaer

Exactly what does the compiler do at that point, though?  The type still wouldn't implement the interface or have the necessary vtable slots filled to be treated as that interface.  The best that the compiler could do is to emit a proxy implementation that delegates the members but you couldn't cast that back to the original type.

[2016-02-29 21:03] alrz commented on #9132
@HaloFour That could work (probably what #7844 suggests?), cast back can be addressed by a conversion operator, but I'm not sure how is that any good.

[2016-02-29 21:07] amcasey opened #9306 "[Obsolete] not reported for op_True and op_False"
[code]

`&&` should report that `op_False` is obsolete (as in dev12)
`||` should report that `op_True` is obsolete (as in dev12)
`if` correctly reports that `op_True` is obsolete.

[2016-02-29 21:07] amcasey commented on #9306
FYI @jaredpar for triaging.

[2016-02-29 21:09] HaloFour commented on #9132
@alrz

But that only works if the compiler detects the operator and explicitly calls it.  To the CLR the types are still incompatible and the `isinst` and `castclass` opcodes will fail.  This is particularly a problem with generics constrained by this "interface" as the compiler couldn't emit calls to conversion operator methods.

[2016-02-29 21:13] lachbaer commented on #9132
But isn't this a general problem of this proposal? After all we're talking about applying a code contract to a class that does not directly implements the interface in question.

[2016-02-29 21:21] alrz commented on #9132
@HaloFour on the other hand, why would you want to cast it, the proxy, back? You want an interface view of it, this cast isn't safe generally, right?

The proxy generation doesn't seem right though, I'd perfer somethig like #8127 to explictly state that which implementations are plugged to which classes.

[2016-02-29 21:35] amcasey commented on #9306
FYI @genlu, who ran into this issue.

[2016-02-29 21:37] dmytrolypai commented on #8623
@rchande I certainly agree that using "whitespace and identifier character strings with type parameter names" is not entirely correct, but on the other hand, if someone has a generic type with `<A, B>` and `<B>`, well, it is probably quite OK if they come in that order. I would say that this issue is (only) annoying for types like `Action`/`Tuple` with gazillion overloads that all have a pretty re

[2016-02-29 21:42] TyOverby opened #9308 "Cross-language tests are flaky"
This is a master-bug for #9181 and #9151

Rename Engine tests are flaky.

* [RenamingCompilerGeneratedDelegateTypeForEventCascadesBackToEvent](http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4234/testReport/junit/Microsoft.CodeAnalysis.Editor.UnitTests.Rename/RenameEngineTests/RenamingCompilerGeneratedDelegateTypeForEventCascadesBackToEvent_1/)
* [RenameMoveNextInVBToUpperCaseOnlyCa

[2016-02-29 21:42] AlekseyTs commented on #8849
@JohnHamby If you feel that it is appropriate to adjust implementation of Left, Right and Call, go for it. IOperation implementation introduced the usage of these API in error scenarios, before that there was no requirement for these API to be resilient to erroneous trees. It is fine to change requirements for the APIs and adjust their implementation accordingly, but it is unreasonable to expect t

[2016-02-29 21:44] TyOverby commented on #9308
@davkean @jasonmalinowski

[2016-02-29 21:47] genlu opened #9309 "Operator False(C#) and IsFalse(VB) are not generated as IOperation"
For example, `x` in the expression `x && y` inthe following C# code should be equivalent to `x.IsFalse()`, but it's not generate as an operation.

[code]

Here's VB code for this issue:

[code]

[2016-02-29 21:58] IllidanS4 commented on #227
Just want to add that adding a "!" type decoration would probably be best done via an optional modifier (modopt in CIL). This needs better reflection for optional and required modifiers, which .NET kinda lacks.

[2016-02-29 22:07] lgolding commented on #4592
@RalfKoban @bkoelman

This is a duplicate of (or at least, it has the same root cause as) #3898. Once that's fixed, this one will automatically be fixed too. So that's the issue you'll want to track.

[2016-02-29 22:07] #4592 closed

[2016-02-29 22:12] srivatsn opened #9311 "Should the analyzer template projects use the devDependency property?"
See https://github.com/code-cracker/code-cracker/issues/706 for a scenario where this will be useful.

The documentation for this property is here  -https://docs.nuget.org/create/nuspec-reference, for your reference?

We should try out this property to see if there's any downside to it and if not, add it to the nuspec for the default analyzer template.

[2016-02-29 22:14] AlekseyTs commented on #9284
The diagnostic should also be adjusted to better reflect the reason for the failure.
We should consider reusing the code that is used to bind members in object member initializers, I think it makes sure the errors are accurate and all appropriate information is available to SemanticModel.

[2016-02-29 22:20] genlu commented on #8824
Move to 1.3 since this doesn't crash the compiler.

[2016-02-29 22:22] gafter commented on #9069
This is not reproducible in the latest bits from future (probably thanks to jaredpar)

[2016-02-29 22:22] #9069 closed

[2016-02-29 22:23] gafter commented on #9076
This is not reproducible in the latest bits from future.

[2016-02-29 22:23] #9076 closed

[2016-02-29 22:24] #7098 closed

[2016-02-29 22:30] gafter commented on #9089
@cyrus It appears many code actions are broken in future. When I try (control-.) to get code actions for

[code]

I get an exception

![image](https://cloud.githubusercontent.com/assets/3804346/13411219/d70b7fd2-def0-11e5-80aa-a18d07732a39.png)

resulting in an error in VS

![image](https://cloud.githubusercontent.com/assets/3804346/13411234/e65fbc32-def0-11e5-8e45-da7f7fa1fa56.png)

The same thin

[2016-02-29 22:34] gafter commented on #9089
OK, I rebuilt and restarted the VS from the `future` branch, and it now works, offering to generate the type.

[2016-02-29 23:05] vbcodec opened #9313 "VB enum matching issues"
Two errors with matching using enums (VS 2015 update 1)

        Public Enum e1
            o1
            o2
        End Enum

        Public Enum e2
            o3
            o4
        End Enum

        Public Sub s1(e1 As e1, p1 As String)
        End Sub

        Public Sub s1(s1 As String, p1 As String)
        End Sub

        Public Sub s2(e2 As e2, p2 As String)
        End Sub

[2016-02-29 23:26] genlu commented on #9018
Reassigned to @JohnHamby since this is basically a subset of #8849.

[2016-02-29 23:27] jmarolf opened #9314 "Roslyn Insertion Tool needs to mark inserted build as "Keep Indefinitely""
The Roslyn Insertion Tool should keep track of all the PRs that it creates and mark the associated builds as "Keep Indefinitely" if it detects that they have been merged in.

[2016-02-29 23:28] #9254 closed

[2016-02-29 23:28] jmarolf opened #9315 "Roslyn Insertion Tool should support inserting System.Reflection.Metadata, System.DiasymReader, and System.Collections.Immutable"
Currently there are inserted manually on an ad-hoc basis

[2016-02-29 23:29] #9015 closed

[2016-02-29 23:46] genlu opened #9316 "Test `AddProjectReferenceBetweenMixedLanguages1` is flaky"
[code]

@dotnet/roslyn-infrastructure

[2016-02-29 23:54] TheOpenDevProject opened #9317 "Visual Studio 2015 MergeTool Crashes VS"
When trying to use VisualStudio with git as the mergetool visual studio crashes with the following error message.

![image](https://cloud.githubusercontent.com/assets/6072108/13412937/d5e1cc42-df9a-11e5-9810-252b87982c10.png)

Steps to reproduce:

1. Initiate merge of branch (A) -> branch (B) through git bash `git merge master`

2. With Visual Studio 2015 set as the default mergetool for the proje

[2016-03-01 00:02] gafter commented on #9089
No, it does not work when the patterns feature is enabled.

[2016-03-01 00:03] TyOverby opened #9320 "Regression in CSharp Scripting unit tests"
The master branch has failing unit tests in CSharp Scripting

http://dotnet-ci.cloudapp.net/view/Roslyn/job/roslyn_master_win_rel_unit64/879/console

[2016-03-01 00:11] tmat commented on #9320
The test has been disabled in stabilization. Once the commit is ported this should be resolved.

[2016-03-01 00:22] HaloFour commented on #9313
Both error with `Option Strict On`.

Seems that with `s1` it fails because there are multiple implicit conversions that could be performed and it can't/won't automatically select any of them.

[code]

And `s2` doesn't fail because, with `Option Strict` disabled, VB.NET allows for implicit conversion between enum types.

[2016-03-01 00:26] amcasey opened #9323 "Make the Proprietary Test Resources portable"
I have a portable project with this project.json:

[code]

When I try to add a nuget reference to the proprietary test resources, I get `Microsoft.CodeAnalysis.Test.Resources.Proprietary 1.1.0-beta1-20150824-02 is not compatible with .NETPlatform,Version=v5.0`.

Also, the proprietary test resources haven't been converted to use project.json and TestUtilities.csproj references them as a binary, rat

[2016-03-01 00:28] amcasey commented on #9323
FYI @agocke

[2016-03-01 00:50] jmarolf opened #9325 "cshtml sometimes passes in position that is out of bounds"
PR https://github.com/dotnet/roslyn/pull/9279 was added to get more telemetry on this scenario

example stack:

[code]

[2016-03-01 01:43] MadsTorgersen opened #9330 "C# Design Notes - catch up edition, Feb 29, 2016 (deconstruction and immutable object creation)"
# C# Language Design Notes Feb 29, 2016
## Catch up edition (deconstruction and immutable object creation)

Over the past couple of months various design activities took place that weren't documented in design notes. The following is a summary of the state of design regarding positional deconstruction, with-expressions and object initializers for immutable types.

# Philosophy

We agree on the fol

[2016-03-01 01:56] gafter opened #9331 "Remove ConditionalWeakTable from the compilers"
Conditional weak tables are expensive - they incur a cost at every garbage-collection. But a fair number of them were added to the compilers when IOperation was integrated. They are mostly used to simulate extra fields on bound trees. There is no need to do that, as bound nodes are already transient. Any ConditionalWeakTables used to simulate extra fields on bound nodes can be replaced by ordinary

[2016-03-01 01:56] gafter commented on #9331
/cc @JohnHamby

[2016-03-01 02:14] HaloFour commented on #9330
:+1: for design notes!

[2016-03-01 02:54] MgSam commented on #9330
I second HaloFour's sentiment.

I'll echo my thoughts about positional decomposition from the other thread- I think its a step in the wrong direction. It makes the code harder to read and understand without using Intellisense. With Autocomplete, the cost of having to type property names is tiny, so why avoid it?

Are record types still on the table for C# 7.0? I notice your Person example doesn't

[2016-03-01 03:15] tmat opened #9335 "TestImplicitCacheMonitoring failed"
http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4576/testReport/junit/Microsoft.CodeAnalysis.Editor.UnitTests.Workspaces/ProjectCacheHostServiceFactoryTests/TestImplicitCacheMonitoring/

MESSAGE:
Assert.False() Failure\r\nExpected: False\r\nActual: True
+++++++++++++++++++
STACK TRACE:
at Microsoft.CodeAnalysis.Editor.UnitTests.Workspaces.ProjectCacheHostServiceFactoryTests.TestImpl

[2016-03-01 04:24] chrisaut commented on #9330
I just don't understand what this gives us:
[code]
over specifying the property names, other than saving a few keystrokes, at the, IMO, huge cost of much less readability by introducing what just seems like compiler magic where everytime I have to look up the types ctor (or GetValues method) to understand what the code is doing.
Why can this not be something like
[code]
or even clearer IMO
[code]

[2016-03-01 04:30] ManishJayaswal commented on #3929
@tmat @tannergooding what validation needs to happen here? Can we close this issue?

[2016-03-01 04:34] ManishJayaswal commented on #5428
this is fixed.

[2016-03-01 04:34] #5428 closed

[2016-03-01 04:52] ManishJayaswal commented on #5598
@KevinH-MS do we just need to validate that this works now and then close this issue?

[2016-03-01 04:53] ashleydavis commented on #5598
Visual Studio 2015 now comes with C# Interactive window. So this isn't an issue at all for me.

[2016-03-01 04:53] #5598 closed

[2016-03-01 04:57] ManishJayaswal commented on #6884
@drognanar Closing this as this is now implemented.

[2016-03-01 04:57] #6884 closed

[2016-03-01 04:58] ManishJayaswal commented on #6888
@drognanar Closing this as this is now implemented.

[2016-03-01 04:58] #6888 closed

[2016-03-01 05:10] ManishJayaswal commented on #5308
@tmat is any known work remaining here?

[2016-03-01 05:11] ManishJayaswal commented on #4688
@drognanar can this be closed now?

[2016-03-01 05:14] ManishJayaswal commented on #7648
@drognanar Can this issue be close now?

[2016-03-01 05:27] KevinH-MS commented on #8873
I would suggest that it's OK to have "surprising" results in a minority of cases if the 90+% case works as expected.  Today, the 90% case isn't working, and the work-around is tedious (especially if I have multiple scripts open in VS that don't live in the same directory).  I believe that appending the script directory to the list of resolver paths is a reasonable solution.  By default, this is th

[2016-03-01 06:16] weshaggard opened #9338 "Break dependency on System.Runtime.Serialization.Json"
I'm investigating dependencies for .NET Core redist and noticed that the Roslyn libraries depend on System.Runtime.Serialization.Json (https://github.com/dotnet/roslyn/blob/0cee35cc375cf6a9c105b116eed776700b9f138e/src/Interactive/CsiCore/csi.rsp#L16) and the only place I see it used in the Roslyn libraries is at https://github.com/dotnet/roslyn/blob/fbae6b4d879149b42880fa2e7793ac85349f8ba8/src/Com

[2016-03-01 06:29] JohnHamby commented on #9331
I had assumed that adding fields to bound nodes was forbidden. If adding real fields is OK, then all of the CWTs added for IOperation can be eliminated.

[2016-03-01 06:52] aelij commented on #8188
Hey @jaredpar, could you please point me to the MyGet feed where this package is published? I'm currently using the nightly feed and apparently older versions of packages don't stay there for long... :) Thanks!

[2016-03-01 07:16] genlu commented on #9257
Here's another hit:
http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4581/

[2016-03-01 08:21] ErikSchierboom commented on #9330
First, let me say that I love all three suggested features. However, as @chrisaut, I also feel this needs some polishing. The positional deconstruction is a bit hard to read IMHO. I feel that this is due to the fact that positional deconstruction is of course, based on the positions of the parameters. However, that is not something that I keep in my head most of the time. Why not make things more

[2016-03-01 08:22] lachbaer commented on #9234
It doesn't feel right to me to violate the syntax of the method arguments. I somehow expect it to be *ref/out type identifier*.

As far as I understood your PPTX the new records match much of this proposal, except for 3 points:
- "Withers" restrict Name to 'With'
- Immutable, 'With' returns a new instance -> overhead
- Because immutable, no setting of mutable instance properties

For me the questi

[2016-03-01 08:35] dadhi commented on #9330
How is the proposed deconstruction is different from?

    if ((p as Person)?.FirstName == "Mickey")

[2016-03-01 08:39] maloo commented on #9330
Please don't do positional deconstruction. C# has always been easy to read and reason about. Like defining ref/out. The "initializer syntax" is so much easier to understand and require no extra magic. Or at least show an example where positional deconstruction would be a better option.

[2016-03-01 08:50] lachbaer opened #9339 "Calls to auto properties get_ and set_ methods"
When accessing auto-properties within the same class, the emitted IL calls the corresponding get_ and set_ methods (VS2015U1) . Wouldn't it be more performant to access the backing field directly, at least in the same class and ancestor classes, as long as they are in the same assembly?

As I could see the newly proposed features for C# 7 make extensive use of auto properies (e.g. simple records).

[2016-03-01 08:59] davidfowl commented on #9338
+1!

[2016-03-01 09:08] axel-habermaier commented on #9339
The JIT compiler will inline those calls, so at least performance-wise, there should be no difference.

[2016-03-01 09:29] omariom commented on #9330
[code]
That will generate a lot of traffic to StackOverflow :)

[2016-03-01 09:38] omariom commented on #9330
I like `if (p is Person where FirstName == "Mickey")` but it will confuse LINQ quieries.

What about this?
[code]

[2016-03-01 09:40] ErikSchierboom commented on #9330
@omariom Not bad at all!

[2016-03-01 10:07] chrisaut commented on #9330
[code]
I like this one the most, it's very C#ish and crystal clear what it does IMO.

[2016-03-01 10:17] jcdickinson commented on #9330
@omariom when do we get this `&&` operator? It's seems very useful!

On a serious note your expression syntax example is a specialization of #254, albeit an interesting and useful one.

[2016-03-01 11:11] changbowen opened #9341 "Errors inside VB lambda expression in Visual Studio 2015 not recognized"
Back in VS2013 the VB compiler seems to be able to recognize errors inside a lambda expression. While in VS2015 it just won't recognize the sub as a valid expression. This makes code writing much harder.
Some screenshots:

In VS2013:
[![Visual Studio 2013][1]][1]

In VS2015:
[![Visual Studio 2015][2]][2]

Looks like the problem only resides in VB compiler.
Feedback on connect.microsoft.com: [https

[2016-03-01 11:31] HaloFour commented on #9330
@chrisaut

Such a syntax is already proposed (#206) and would work on any existing type:

[code]

The positional construction, matching and deconstruction is a feature of records.  The purpose of these additional proposals is to bring some of that functionality to existing types.

[2016-03-01 11:54] HaloFour commented on #9339
Read-only auto-properties already do this in the constructor, but that's because they are required to since the backing field is `readonly`.  It would be possible to have the compiler directly set the backing field elsewhere in the same class for normal auto-properties, but as @axel-habermaier mentioned there'd be no performance benefit since the JIT will certainly inline those method calls.  If t

[2016-03-01 12:03] DavidArno commented on #9132
I agree with @grafter that this really is the same thing as proposed for [#7844](https://github.com/dotnet/roslyn/issues/7844). To work properly, it would require changes to the CLR and would have to be something that is checked/applied at runtime; not at compile-time. If/when the CLR team plan to support structural/duck typing, then a discussion could be had on how to add it to C#. Until then, it

[2016-03-01 12:26] nirvinm commented on #9330
This seems to have more clarity.

[code]

[2016-03-01 12:53] heejaechang commented on #9047
changes are both in unshipped.txt, do we still need to maintain bin compact?

[2016-03-01 12:59] alrz commented on #9330
@HaloFour I think you're refering to `let` syntax, because there is no such guard for `is` operator and a logical AND would do.

[2016-03-01 13:06] alrz commented on #9234
I'll note that `With` method facilitates `with` expressions and has nothing to do with this proposal which intends to be used in fluent APIs.

[2016-03-01 13:10] mharthoorn commented on #9132
The main difference between an interface adapter and structural typing is that the latter is a form of duck typing, wich can create loopholes in your type system. Consider the example from  #7844 with a different class signature:
[code]

Wich is unproblematic with an explicit mapping.
[code]

[2016-03-01 13:13] HaloFour commented on #9330
@alrz Ah you're right, the proposal does specifically mention `when` as a part of `switch`, `match` and `let`.  So yes, normal Boolean operators would apply instead.  I'll update my comment.

[2016-03-01 13:21] DavidArno commented on #9132
@maartenba,

[code]
seems incomplete. You aren't specifying either the type name for the adapter, or what it adapts. Surely it would have to be, eg:

[code]

Which, whilst it's nice syntactic sugar for:

[code]

it doesn't really save much typing and surely opens up a can of worms of little details around constructors, injecting the `_adaptee` instance versus creating it within the class etc?

[2016-03-01 13:22] alrz commented on #9330
I don't understand why people are freaking out of the syntax in its most basic form; did you guys ever heard of the word "pattern"? And suggestions involving `where` and `with` are all ambiguous. :confused:

[2016-03-01 13:23] maartenba commented on #9132
I think you mean @mharthoorn :)

[2016-03-01 13:25] lachbaer commented on #9339
Ok, if the JIT is that smart :-) Just saw it while analysing IL code

[2016-03-01 13:29] lachbaer commented on #8713
After some time of thought I think that this proposal is of no need. Indeed properties should only be lightweight in the first place. Everything that gets more complicated should stay verbose and implemented manually, so that other readers can comprehend what is going on.

I nevertheless leave this topic open in case anyone else wants put hut his two cents to it ;-)

[2016-03-01 13:30] mharthoorn commented on #9132
@DavidArno, I think you are failing to understand my proposal.
I am not proposing a class. I am proposing an adapter, which can not be instantiated. See my initial text. In other words, we are definitely *not* talking about syntactic sugar here.

You should read the followoing

as:

[2016-03-01 13:32] mharthoorn commented on #9132
If it helps, the syntax could be:
[code]

[2016-03-01 13:35] lachbaer commented on #9041
@HaloFour is probably right, that an analyser would be better than some static code syntax.

But after all I would like to have a `base(arguments);` call made possible, that calls the corresponding base method with the same signature. In my eyes this makes reading easier and saves from hard to find issues when refactoring the code.

Also what objects about appending the method signature with base?

[2016-03-01 13:36] DavidArno commented on #9132
@maartenba,

I *might* have done... :)

[2016-03-01 13:38] HaloFour commented on #9132
@mharthoorn

How exactly do you see this "adapter" syntax being implemented?  For the CLR to be satisfied you will be required to provide an instance of some type that implements the "adapted" interface.  You'd need to provide a proxy.  Why wouldn't the "adapter" type be that proxy?

[2016-03-01 13:38] lachbaer commented on #9234
@alrz A 'wither' is for `with` expressions, but will return a new (immutable) object. To extend this to mutable objects that return itself would be wonderful, in respect to this proposal.

[2016-03-01 13:52] mharthoorn commented on #9132
@HaloFour, I can very well imagine that the CLR has problems with it, so @DavidArno might be right that it needs a change to the CLR.

My guess any solution would rather involve extension methods and / or makes use of the explicit interface mechanism. Because having a proxy probably creates a cascade of new problems.

[2016-03-01 13:53] orthoxerox commented on #9330
I agree with the rest of the peanut gallery that silent automatic decomposition based on constructors is a bad idea. I'd rather use property patterns or implement an extension method to deconstruct existing classes. New classes could get a primary constructor with restricted semantics for those cases when records aren't complex enough.

[2016-03-01 13:58] dsaf commented on #9330
{
  ...
  public abstract Person With(string firstName, string lastName);
  ...

{
  ...
  public void Person GetValues(out string firstName, out string lastName);

Shouldn't these be new (extension) operators instead? I don't know how to explain it, but it feels wrong tying language constructs to type members without a more explicit contract. Somehow the ```IEnumerable``` - ```select``` and ```Ta

[2016-03-01 14:04] HaloFour commented on #9330
@dsaf

As operators or as extension methods they couldn't be `virtual` and it's largely necessary for them to be `virtual` so that derived types can correctly copy over the properties that aren't specified in the signature:

[code]

[2016-03-01 14:19] jaredpar commented on #8188
@aelij the nightly feed is where we are publishing this at the moment.  Packages do rotate out of there every 10 days or so.  There isn't a feed where this is stored long term at the moment.

[2016-03-01 14:31] jaredpar commented on #9047
@heejaechang that is an accident of timing.  Those files got updated to the correct values after we shipped but before you made this change.  Hence it only appeared to be unshipped when you made the change.

[2016-03-01 14:35] aelij commented on #8188
Ah, too bad. I guess I'll have to make do. Hacking this package is essential for [RoslynPad](https://github.com/aelij/RoslynPad) ;)

[2016-03-01 14:57] omariom commented on #9330
@chrisaut

I meant this case:
[code]

Even if it don't confuse the compiler it will confuses me )

[2016-03-01 15:43] KathleenDollard commented on #9330
Could the team explain the perceived value of positional decomposition?

Initial knee-jerk response - For #$@#$ sake don't do that!

We can fine tune syntax, but just write that puppy out with our archetypal point example. Any two ints or bools, much less three or four. OMG!

The rest is coming along very nicely :)

[2016-03-01 15:54] dsaf commented on #9330
@HaloFour Understood, thanks!

[2016-03-01 15:58] JiriZidek commented on #9330
1) Object initializer for immutables - maybe optional parameters in constructor (similarily as in Attribute declaration) is enough ?
`var p = new Person( LastName: "Taylor");`
In general I guess that implicit constructor for each public property can be generated using the very same parameter names, so it would be enough just to indicate in class declaration, that such constructor shoud exist - why

[2016-03-01 16:05] jedidja commented on #7082
We have exactly the same problem. Even after closing a project, VS CPU usage will continue to be high and memory usage often climbs to 2GB. It's bad enough that this happens while working on a solution when it's open but unexplainable that it happens after closing it.

[2016-03-01 16:11] alrz commented on #9330
It's not just positional decomposition that depends on case-insensitive name comparison, immutable object initializers also do that.

new Person { FirstName = "Mickey", LastName = "Mouse" }
new Person("Mickey", "Mouse")
[code]
So it explicitly states that which parameters correspond to which properties.

I think this can be done for constructors too, but since they actually initialize a new object

[2016-03-01 16:52] tannergooding commented on #3929
@ManishJayaswal, I believe we just need a test that produces a portable pdb and validates that: `new MetadataReader().GetBlobReader().ReadDateTime().Kind == DateTimeKind.Utc`

I'm working on adding such a test to `Roslyn.Compilers.CSharp.Emit.UnitTests` now.

[2016-03-01 16:56] davkean commented on #9338
What's a replacement in the .NET core redist?

[2016-03-01 16:57] davkean commented on #9338
Ah, I see, we're only using it for escaping - we're writing our own JSON.

[2016-03-01 17:01] davkean commented on #6613
I'm going to close this out - while we might see this catch some issues, the perf savings (we're down to a 30 second restore on build machines) greatly outway any issues we have here.

[2016-03-01 17:01] #6613 closed

[2016-03-01 17:13] davkean opened #9344 "Move to simplier method for turning on warning as error"
@AArnott has a simpler method for turning on warning as error in builds rather than parsing the entire output, see: https://github.com/AArnott/pinvoke/commit/65f04e9ed8a00d73e40fdd0085d2c1426de78a21.

We should use it.

[2016-03-01 17:23] CyrusNajmabadi commented on #8777
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:23] #8777 closed

[2016-03-01 17:24] CyrusNajmabadi commented on #8771
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:24] #8771 closed

[2016-03-01 17:24] CyrusNajmabadi commented on #8705
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:24] #8705 closed

[2016-03-01 17:24] CyrusNajmabadi commented on #8693
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:24] #8693 closed

[2016-03-01 17:25] CyrusNajmabadi commented on #8687
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:25] #8687 closed

[2016-03-01 17:25] CyrusNajmabadi commented on #8686
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:25] #8686 closed

[2016-03-01 17:25] CyrusNajmabadi commented on #8683
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:25] #8683 closed

[2016-03-01 17:25] CyrusNajmabadi commented on #8682
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:25] #8682 closed

[2016-03-01 17:26] Pilchie commented on #9256
Either way, I think should be filed in VSTS for the platform team.

[2016-03-01 17:26] CyrusNajmabadi commented on #8679
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:26] #8679 closed

[2016-03-01 17:26] CyrusNajmabadi commented on #8678
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:26] #8678 closed

[2016-03-01 17:26] CyrusNajmabadi commented on #8571
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:26] #8571 closed

[2016-03-01 17:26] davkean opened #9345 "Unify our CI builds between open and closed"
Open and closed have different entry points for build, which leads to changes occuring on one side, but not the other.

Open has CIBuild.cmd.
Closed has BuildAndTest.cmd.

We should unify the entry points and builds, so when we are doing the same thing (such as building, it's exactly the same on both sides).

[2016-03-01 17:27] CyrusNajmabadi commented on #9054
Fixed with https://github.com/dotnet/roslyn/issues/9163

[2016-03-01 17:27] #9054 closed

[2016-03-01 17:27] CyrusNajmabadi commented on #8681
Fixed with https://github.com/dotnet/roslyn/commit/d08826231c2dd02678c546bc2d5e0584677f27ef

[2016-03-01 17:27] #8681 closed

[2016-03-01 17:28] Pilchie commented on #9260
Added to #7056.

[2016-03-01 17:48] #9320 closed

[2016-03-01 17:50] Pilchie commented on #9335
Can you take a look at this?

[2016-03-01 18:27] Pilchie commented on #4936
@brettfo Can you confirm that this is the same?  If so, should we add some FAR specific tests here too?

[2016-03-01 18:32] Pilchie commented on #8685
Moving to 1.3 for the spell checker feature.

[2016-03-01 18:33] Pilchie commented on #8691
Does this still repro now that you have a global undo?

[2016-03-01 18:35] Pilchie commented on #8709
Moving to unknown for now.  Let's wait and see what feedback we get here.

[2016-03-01 18:36] amcasey commented on #6884
@drognanar Can you please confirm that any TODOs tagged with this bug number have been addressed (probably just skipped tests)?

[2016-03-01 18:36] amcasey commented on #6888
@drognanar Can you please confirm that any TODOs tagged with this bug number have been addressed (probably just skipped tests)?

[2016-03-01 18:37] Pilchie commented on #8730
Moving to 1.3.

[2016-03-01 18:41] jaredpar commented on #9269
How is this going?  We need to validate this for the upcoming release.

[2016-03-01 18:46] gafter commented on #9330
This "summary" exposes a debate that we've been having in the LDM: whether or not we should use name-matching (across distinct APIs) to drive language features, and in particular to get positional behavior. This summary describes the situation with the assumption that we *should*. The other side is that *we should not*.

- Provide actual APIs to call at runtime when the language feature is used
-

[2016-03-01 18:52] kuhlenh opened #9346 "In "Navigate To" have smarter support for camelcase searching"
Here is an example:

1) I'm looking for "IntroduceVariableResult", but I don't remember the full name. I do know that it follows the pattern "IVR"
2) I use `Ctrl+,` to activate Navigate To and I type in "IVR"
3) This is what I now see:
![image](https://cloud.githubusercontent.com/assets/1402694/13437839/24bf6c5c-df9b-11e5-9c34-c9be85e9c0d4.png)
4) After a fair bit of scrolling, I see "IIntroduceVa

[2016-03-01 19:03] brettfo opened #9349 "[Test Failure] Test Failures in prtest/win/dbg/unit32 on PR #9208"
PR: [#9208](https://github.com/dotnet/roslyn/pull/9208) *don't assume all reference spans in an inline rename session are projected into the current view* by @brettfo
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/4598/

**1 Test Failures:**
Microsoft.CodeAnalysis.Editor.UnitTests.Rename.RenameEngineTests.RenamingCompilerGeneratedDelegateTypeForEventCascadesBackToEvent_1

[2016-03-01 19:04] jaredpar commented on #9344
I think we still have to parse this file though.  The warnings have to be transformed into a form that Jenkins will flag as an error.

[2016-03-01 19:04] brettfo commented on #9349
Could be related to my PR.  Assigning myself and investigating.

[2016-03-01 19:05] davkean commented on #9344
:+1:

[2016-03-01 19:09] davkean commented on #9349
Could be a dupe of https://github.com/dotnet/roslyn/issues/9298.

[2016-03-01 19:13] brettfo commented on #4936
My fix for #4973 doesn't fix this issue, but it is most definitely related since the root cause of both failures is a type from a desktop assembly inheriting from a type in a portable one.  Given my context on the other issue I'll look at this now since I expect it to be a simple fix.

[2016-03-01 19:13] HaloFour commented on #9330
@gafter

I tend to agree.  If the compiler is going to allow record shorthand for non-record types I'd prefer it be through the same conventions established for record types.  If a typical C# record generates a `With` method and/or a `GetValues` method which are used for "withers" or deconstruction respectively then I could see those features being enabled for CLR types that expose those same meth

[2016-03-01 19:14] balajikris commented on #4936
Thanks @brettfo .. Just saw your change and was about to ask you to see if you can take it, thanks again.

[2016-03-01 19:22] CyrusNajmabadi commented on #8691
Yes, it still reproes.  Currently there is no way to have a failure in one operation "roll tings back".

All my global undo stuff did was make it so you could undo both the "using" and hte nuget-install in one action.

[2016-03-01 19:23] gafter opened #9351 "Cannot use inline rename to change the name of a local function parameter"
(on the future branch)

[2016-03-01 19:29] jasonmalinowski commented on #9181
Closing in favor of the master bug.

[2016-03-01 19:29] #9181 closed

[2016-03-01 19:29] alrz commented on #9330
Couldn't agree more :arrow_up: :+1:

As for "object initializers for immutable objects" I don't think that it will be any useful in presence of record types, considering that you still need to declare the constructor. Also, if the class requirements go beyond of a record, it woudn't make sense to provide the same syntax for deconstruction out of the box.

[2016-03-01 19:29] gafter opened #9352 "Generate quick action does not offer to generate local function"
In the future branch.

[2016-03-01 19:30] jasonmalinowski commented on #9151
Closing in favor of main tracking bug #9308.

[2016-03-01 19:30] #9151 closed

[2016-03-01 19:30] jasonmalinowski commented on #9298
Closing in favor of #9308.

[2016-03-01 19:30] #9298 closed

[2016-03-01 19:31] jasonmalinowski commented on #9349
Closing in favor of #9308

[2016-03-01 19:31] #9349 closed

[2016-03-01 19:31] drognanar opened #9354 "[Test Failure] Vsi interactive tests fail in prtest/win/vsi/p3 on PR #9272"
PR: [#9272](https://github.com/dotnet/roslyn/pull/9272) *Merge stabilization into master* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p3/363/

[2016-03-01 19:33] davkean opened #9355 "GenerateMethodCrossLanguageTests.TestSimpleInstanceMethod_VisualBasicToCSharp failing in stabilization"
http://dotnet-ci.cloudapp.net/job/roslyn_stabil_win_dbg_unit64/160/

Microsoft.CodeAnalysis.Editor.UnitTests.Diagnostics.GenerateMethod.GenerateMethodCrossLanguageTests.TestSimpleInstanceMethod_VisualBasicToCSharp (from Roslyn.Services.Editor.UnitTests2)

Failing for the past 1 build (Since Failed#160 )
Took 0.85 sec.
add description
Stacktrace

MESSAGE:
System.NullReferenceException : Object refe

[2016-03-01 19:36] dmytrolypai commented on #8623
I created a pull request #9356 for what I had so far.

[2016-03-01 19:56] gafter commented on #9090
@CyrusNajmabadi I could use your help with this, please.

[2016-03-01 19:57] Pilchie opened #9357 "Suspicious error recovery in parser"
Given code:

[code]

The `(userInput == "Y")` is parsed as an argument in a `BracketedArgumentList` with both brackets missing, which seems odd.

From #9268

[2016-03-01 20:04] alrz commented on #9234
On the second thought, `this` parameters can hamper the readability of the method parameters like using in the middle of the parameter list and for fluent API, as @gafter said, it just saves a line of code.

However I think the ability to use `this` parameter with `out` can be helpful to provide positional deconstruction for non-record types.
[code]
Alhough, this woudn't be the case if they chose

[2016-03-01 20:06] isaacabraham commented on #9330
Positional deconstruction for tuples, yes. For records / named fields - no.

[2016-03-01 20:33] TyOverby commented on #8966
The checklist right now:

## Getting caught up on existing pull requests
* [ ] Roslyn
    * [x]  merge master -> future
    * [ ] merge stabilization -> master
* [ ] Roslyn Internal
    * [ ]  merge master -> future
    * [x] merge stabilization -> master

## Getting up to date another round of automated pull requests
* [ ] Roslyn
    * [ ] merge master -> future
    * [ ] merge stabilization -> m

[2016-03-01 20:43] Pilchie opened #9361 "[Test Failure] Unobserved OperationCancelledException in prtest/win/dbg/eta on PR #616"
PR: [#616](https://github.com/dotnet/roslyn-internal/pull/616) *Reference VS MEF Via NuGet* by @Pilchie
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_eta/677/

[code]

[2016-03-01 20:57] jasonmalinowski commented on #9257
Closing against parent bug #9308.

[2016-03-01 20:57] #9257 closed

[2016-03-01 21:02] vbcodec commented on #9313
@HaloFour
But these possible conversion should be limited only to second parameter, while first is stated explicitly.
As for second case, there should be implicit conversion from digits, numeric variables, strings, etc, bot not from other enum, despite it can be easily interpreted as integer. Other enum have different meaning, and such calls are probably wrong design / logic./ typing errors

[2016-03-01 21:10] nguerrera commented on #9338
@mavasani

[2016-03-01 21:16] CyrusNajmabadi opened #9365 "[Test Failure] Visual Studio Timed Out in prtest/win/vsi/p3 on PR #9353"
PR: [#9353](https://github.com/dotnet/roslyn/pull/9353) *Pop up a dialog when we're unable to install/uninstall a nuget package.* by @CyrusNajmabadi
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p3/385/

**Issue 1: Visual Studio Timed Out**
Visual Studio Timed Out

Timeout when running CSharpWinforms.

[2016-03-01 21:17] genlu opened #9366 "Test `CSharpIntellisense.Dismiss on Select All` is flaky"
Here's an instance of the failure
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/4637/

[code]

@dotnet/roslyn-infrastructure

Bounty

[2016-03-01 21:18] nguerrera commented on #9338
I wanted to remove it (hence the comment, which is mine), but I didn't want to do it as part of the refactoring and risk regressing the bug fix that had brought in that dependency. We'll need good tests for escaping including surrogate pairs, etc. etc.

https://github.com/dotnet/corefx/tree/master/src/System.Text.Encodings.Web might help here, but I suspsect I can't depend on that either though ma

[2016-03-01 21:19] heejaechang opened #9367 "[Test Failure] Test Failures in prtest/win/dbg/unit64 on PR #files - TestNamedType_InDependentProjectVBRefsCSharp"
this failures looks like not related to my change.

PR: [#files](https://github.com/dotnet/roslyn/pull/9360/files) ** by @
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4637/

**1 Test Failures:**
Microsoft.CodeAnalysis.Editor.UnitTests.FindReferences.FindReferencesTests.TestNamedType_InDependentProjectVBRefsCSharp

**Issue 1: Test Failures**
There were test failures, see

[2016-03-01 21:26] genlu commented on #9174
The crash is fixed by #9310. Moving this to 1.3 to keep track implemention of missing operators in VB.

[2016-03-01 21:29] srivatsn commented on #9158
This bug is part of PR #9017 which is the bug to fix thousands of issues in error list. This is a change in the VS shell code needed to avoid using reflection in PR #9017 and hence was filed separately. Removing retriage label and keeping in 1.2 since the PR has already been approved for 1.2.

[2016-03-01 21:30] HaloFour commented on #9313
@vbcodec

Seems that the overload resolution of the compiler disagrees with you and as long as you're willing to coerce some arguments that you're also willing to coerce them all.

Perhaps, but at the end of the day an `enum` is still just a number.

These issues are resolved by simply enabled `Option Strict On`, which in my opinion should be a requirement to be allowed to program in VB.NET at all

[2016-03-01 21:30] heejaechang opened #9368 "remove custom non-fatal watson we copied from debugger and use new VS non-fatal watson service from VSTelemetry"
VS telemetry team added non-fatal watson API. we should use the official one now.

here are information.
...
Slide deck with usage and screen shots of results from Watson back end:
https://microsoft.sharepoint.com/teams/DD_VSIDE/_layouts/15/guestaccess.aspx?guestaccesstoken=ZHkOerS2x0BLlDmFptyEVs7qWFIO6Gi8m8%2f3RDNC0iA%3d&docid=2_1a46ba081d1764857bd481af8de6d8dec

Spec with sample code is here.
ht

[2016-03-01 21:51] CyrusNajmabadi commented on #7051
Fixed with https://github.com/dotnet/roslyn/pull/9296

[2016-03-01 21:51] #7051 closed

[2016-03-01 21:59] davkean opened #9369 "Stabilization has stopped published nuget packages to myget"
[code]

We need to figure this out - was it switching off in the build definition?

[2016-03-01 22:02] jakeswenson commented on #9330
I love all of this.
Would you be able to use named arguments in positional deconstruction? (named deconstruction?)

[code]

[2016-03-01 22:16] yaakov-h opened #9370 "Overload resolution requires additional assembly references in VS2015 Update 2 CTP"
**Version Used**:
Visual Studio 2015 Update 2 CTP

**Steps to Reproduce**:
1. Attempt to call a method with two similar overloads, where one is defined and one requires an additional assembly reference
2. Compile the project

**Expected Behavior**:
The project compiles.

**Actual Behavior**:
The project fails to compile with error CS0012.

**Regression Notes**:
This worked in:
- Visual Studio 2013

[2016-03-01 22:19] gafter opened #9371 "Revise syntax trees for property patterns to look "like" object initializers"
Please revise the syntax trees for "property patterns" in the pattern-matching branch `features/patterns` so that it is similar to the way object initializers are represented. This will simplify the implementation of IDE features.

/cc @jaredpar @CyrusNajmabadi @AlekseyTs

[2016-03-01 22:25] CyrusNajmabadi commented on #8688
This has been fixed to the extent of our ability on the Roslyn side.

There is still a general issue *independent* of the 'add nuget reference' smart tag.  Specifically, if you manually delete a reference from the project view, then nuget still considers the nuget package installed.

[2016-03-01 22:25] #8688 closed

[2016-03-01 22:26] CyrusNajmabadi commented on #8692
This has been fixed.  We only offer this feature if you have the "nuget.org" package source selected.

[2016-03-01 22:26] #8692 closed

[2016-03-01 22:29] TheOpenDevProject commented on #9317
@Pilchie sorry about that I was directed to this issue tracker and figured that it was being used for rosyln and everything dotnet related including VS

[2016-03-01 22:31] Pilchie commented on #6628
Fixed by #9350.

[2016-03-01 22:31] #6628 closed

[2016-03-01 22:33] gafter opened #9372 "ref extension methods for value types"
In VB one can have an extension method whose "receiver" is a ref parameter. It would be nice to make that work in C# as well.

[2016-03-01 22:34] gafter commented on #9372
/cc @MadsTorgersen @VSadov

[2016-03-01 22:52] gafter opened #9375 "[Umbrella] Pattern-matching work checklist"
The work list for pattern-matching has moved to https://github.com/dotnet/roslyn/blob/features/patterns/docs/features/patterns.work.md

[2016-03-01 22:54] svick commented on #9372
This is a duplicate of #165.

[2016-03-01 22:56] CyrusNajmabadi commented on #9149
3 issues:

1. We're messing with muscle memory by putting this  'add using' at the top of the list.  This is currently fixed.
2. We shouldn't add a using which is irrelevant.
3. We should just enable the C# spell checker.

[2016-03-01 23:15] #9372 closed

[2016-03-01 23:25] davkean opened #9377 "Move Coby from manually configured jobs -> generated jobs"
Coby are still using manually configured jobs. We should move them to fully generated jobs via groovy scripts to match the rest of the teams on Jenkins.

[2016-03-01 23:26] davkean commented on #9377
They are also using build-workflows, which we should figure out why and if can't just move them to normal jobs.

[2016-03-01 23:41] davkean commented on #9370
A simple repro:

1. Create a new Console Application
2. Add a reference to C:\Program Files (x86)\Reference Assemblies\Microsoft\MSBuild\v14.0\Microsoft.Build.Utilities.Core.dll
3.

[code]

It compiles for me in VS 2015 Update 1.

[2016-03-01 23:53] jmarolf commented on #9263
Duplicate of https://github.com/dotnet/roslyn/issues/9308

[2016-03-01 23:53] #9263 closed

[2016-03-02 00:04] davkean commented on #8747
We hit this again, http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/4643/consoleFull#-195473607061aefe2b-268e-4e71-8c03-11b4c0acbfbc.

@Pilchie This is marked Urgency-Now, which is supposed to mean Pri0 drop everything - but hasn't been updated in 11 days. Is the priority correct?

[2016-03-02 00:08] davkean commented on #7825
And against: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4629/consoleFull#-5984853535fabbf33-db14-4d24-b37d-77f64eb92e7a

[2016-03-02 00:11] davkean opened #9379 "Replace all usage of packages.config with project.json"
We still have projects with packages.config, which causes us issues when we upgrade dependencies as they are hardcoded and do not flow from parent projects.

We should replace all usage of packages.config -> project.json in internal projects.

[2016-03-02 00:31] davkean opened #9381 "NuGet packages have dependencies on packages that aren't on NuGet"
[Microsoft.CodeAnalysis.Common](http://www.nuget.org/packages/Microsoft.CodeAnalysis.Common/1.2.0-beta1-20160202-02) has a dependency on package, System.Reflection.Metadata 1.2.0-rc3-23721, that does not exist on NuGet

[2016-03-02 00:38] Andrew-MSFT opened #9382 "Simplified build optimizes binary when debugging Unit Tests"
**Version Used**: VS 2015 Update 1

**Steps to Reproduce**:
1. Turn on simplified build (turn off "Show advanced build configurations" in Tools -> Options)
2. Create a VB console application
3. Add a unit test project and put a breakpoint in the generated test
4. Right click on the test in the test explorer and choose debug

**Expected Behavior**:
Breakpoint is hit

**Actual Behavior**:
Breakpoint

[2016-03-02 00:39] AndrewBrianHall opened #9383 "Change VB profile to enable "Warn if no user code on launch" by default"
In VS 2015 the debugger turned off the option to suppress JIT optimizations by default when debugging managed code.  If the user attempts to debug something where any project in their solution is optimized and Just My Code is enabled (meaning symbols won't load) we warn the user if "Warn if no user code on launch" is enabled.

However, the VB profile has this off by default, meaning users who find

[2016-03-02 00:52] HaloFour commented on #9330
@jakeswenson

Why wouldn't property patterns be sufficient for that purpose?

[code]

[2016-03-02 00:59] paulomorgado commented on #9330
@HaloFour, operators would inded kill the chance of having virtual methods. But extension methdos wouldn't. Pretty much like LINQ - operators can translate to either instance methods or extension methods.

@MadsTorgersen, @gafter, What's the use case of this?

    public abstract Person With(string firstName = this.FirstName, string lastName = this.LastName);

Isn't this opening a can of worms?

W

[2016-03-02 01:03] HaloFour commented on #9330
@paulomorgado

Extension methods have the exact same problem that operators do, the dispatch is determined at compile time and not at run time based on the actual type of the instance.  In my example above the variable is `Person`, not `Student`, so any extension method it would resolve would be for `this Person`, not `this Student`.

[2016-03-02 01:07] paulomorgado commented on #9330
@HaloFour, you can put the extension methods in any extension class you want to and virtual methods would still be possible.

The exact same thing happens with LINQ. Not all enumerables are alike.

[2016-03-02 01:14] CyrusNajmabadi opened #9385 "[Test Failure] Individual TAO Test Failure in prtest/win/vsi/p3 on PR #9378"
PR: [#9378](https://github.com/dotnet/roslyn/pull/9378) *Improve the Generate-Variable code-actions menu experience.* by @CyrusNajmabadi
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p3/391/

**1 Test Failures:**
CSharpReplClassification.1) Verify color of some tokens

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

CSharpReplClassification.xml

[2016-03-02 01:18] HaloFour commented on #9330
@paulomorgado You could, but that only works based on the type of the variable since that's the only thing that the compiler knows.  This is very different from virtual methods where the dispatch is determined at runtime based on the exact type:

[code]

vs.

[code]

If `Person` or an extension method for `Person` performs the "wither" the `Grade` property will most certainly be lost and the retur

[2016-03-02 01:21] CyrusNajmabadi commented on #8690
Fixed with https://github.com/dotnet/roslyn/pull/9353

[2016-03-02 01:21] #8690 closed

[2016-03-02 01:24] mythz commented on #9330
## Positional deconstruction

I struggle to see how this feature justifies the complexity and new concepts it would add to C#.  In just 1-line we're introducing `is` against a constructor, using a constructor without new, and the yet-seen-before wildcard in C#:

[code]

What are all these new concepts saving us from writing, this?

[code]

Which is even less readable than above as you'll need to e

[2016-03-02 01:31] amcasey opened #9387 "Package downgrade warning in master build"
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p2/404/consoleFull

`WARNING: Detected package downgrade: System.Reflection.Metadata from 1.2.0-rc3-23811 to 1.2.0-rc2-23826`

[2016-03-02 01:31] amcasey commented on #9387
FYI @tmat @davkean

[2016-03-02 01:43] MadsTorgersen commented on #9330
@mythz To be clear, these are features that are in support of pattern matching, and of immutable objects that we expect to have more and more of with the help of the records feature. I realize I posted them a bit out of context here, and I should have made that more clear. Over the coming days there'll be notes on those other features, to help evaluate in context.

You're seeing the sausage get ma

[2016-03-02 01:47] HaloFour commented on #9330
@mythz

The wildcards proposed for pattern matching are nothing like the wildcards in Java, the latter involving generics and variance.  And even Java's wildcards aren't *that* bad, they express the variance in a pretty clever way and because you can express them at the variable and parameter level you have much more freedom than you do in .NET.  Java's real problem is that the generic type infere

[2016-03-02 01:59] tmat commented on #9387
We can't find a merge in Open that corresponds to a merge in Internal: https://github.com/dotnet/roslyn-internal/commit/b3033a8465b57236a394366bd1947f0bd389c08d

[2016-03-02 02:00] tmat commented on #9387
@drognanar

[2016-03-02 02:18] tmat commented on #9387
Seems like change dotnet/roslyn-internal@b3033a8 should be reverted.

[2016-03-02 02:57] gafter commented on #9330
Josh's comments were regarding the addition of closures/lambda expressions to Java, which he opposed starting in 2006-2007 when I proposed them (he continued to oppose them even as a member of the JSR, preferring something based on inner classes). But lambdas seem to have worked out brilliantly for Java.

As it turns out, both @MadsTorgersen and I (@gafter) can claim some responsibility for Java's

[2016-03-02 03:02] gafter commented on #9330
@HaloFour wrote

You're welcome.

We won't do that.

[2016-03-02 03:04] mrchief opened #9390 "Nuget Package should not add relative paths in csproj imports"
**Version Used**: Microsoft.CodeDom.Providers.DotNetCompilerPlatform v1.0.1

**Steps to Reproduce**:

1. Add MVC 4 project (or anything that uses csproj files)
2. Add the Microsoft.CodeDom.Providers.DotNetCompilerPlatform Nuget package
3. Open csproj file after package install

**Expected Behavior**:
Instead of adding package imports via relative paths like `..\packages\Microsoft.Net.Compilers.1.1

[2016-03-02 03:12] #8360 closed

[2016-03-02 04:54] davkean opened #9392 "Test Failure: CSharpReplClassification.1) Verify color of some tokens (from (empty))"
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p3/393/

[2016-03-02 05:12] diryboy commented on #9357
I wonder what was the process that had the code ended up like this.

[2016-03-02 05:15] balajikris commented on #8747
sorry, looking at it. i sorta have a fix but working on make it nicer.

[2016-03-02 05:42] CyrusNajmabadi opened #9394 "[Test Failure] Test Failures in prtest/win/dbg/unit32 on PR #9389"
PR: [#9389](https://github.com/dotnet/roslyn/pull/9389) *Fix issue where we weren't offering 'generate variable'* by @CyrusNajmabadi
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/4700/

**1 Test Failures:**
Microsoft.CodeAnalysis.Editor.UnitTests.FindReferences.FindReferencesTests.TestNamedType_CaseSensitivity

**Issue 1: Test Failures**
There were test failures, see Test

[2016-03-02 05:43] CyrusNajmabadi commented on #9394
Tagging @jasonmalinowski and @jmarolf who were looking at flakeyness like this.

[2016-03-02 05:44] #8230 closed

[2016-03-02 05:48] CyrusNajmabadi commented on #7573
Fixed with: https://github.com/dotnet/roslyn/pull/9296

[2016-03-02 05:48] #7573 closed

[2016-03-02 05:50] CyrusNajmabadi commented on #7505
Kevin, can you see if this still reproes with the revert reverted.  We'd really like to put this back to where it was.

[2016-03-02 06:03] davkean opened #9395 "Project System: Better retargeting when targeting pack isn't installed"
In the old project system, when a project opens and it's targeting pack isn't installed you get the following:

![image](https://cloud.githubusercontent.com/assets/1103906/13451978/8e3c219a-dff8-11e5-9d81-0512785ce12b.png)

The problem with this dialog is that you get this prompt for every project that has this problem (100 projects, 100 prompts). Instead, we should make use of the VS retargeting

[2016-03-02 06:07] JoshVarty commented on #8962
I've made more progress and I can start/stop program execution. I've just been trying to figure out this issue with the `AccessViolationException` and I had a question I hoped you could help me with @tmat.

I'm using Roslyn's tests to generate metadata and IL diffs for:

[code]

and

[code]

(Changing the `1` to `2` in `Console.WriteLine())

I notice that I get different metadata deltas on each ru

[2016-03-02 06:21] davkean commented on #9387
Agreed, however, given on Windows we now only use NuGet restore, we should just delete project.lock.json.

[2016-03-02 06:22] davkean commented on #9387
Hmm, but that commit only touches project.lock.json, restore will overwrite them - so it's project.json that's probably incorrect.

[2016-03-02 06:42] gafter commented on #9269
@CyrusNajmabadi has been doing testing and IDE fixes under #9068, and I'm working on design changes or bug fixes where needed. I'm currently working on a design change (#9371) needed to simplify the IDE work for #9231 and #9090.

You could ask this at our daily standup :wink:

[2016-03-02 06:46] jaredpar commented on #9269
Before we make changes we need to lock in the IDE behavior that we've already fixed.  Changing the design before adding tests opens the possibility of regression.

[2016-03-02 06:50] jaredpar commented on #9223
Closing for now.  Hard to tell if this is a Mono issue or a real compiler bug.  Given it only repros on Linux and we aren't running this test anymore (hasn't been ported to CoreCLR) there isn't much action to take.

This should start running again in a few weeks when we finish porting to CoreCLR.  If it shows up again there we'll dive into this and see what's going on.

[2016-03-02 06:50] #9223 closed

[2016-03-02 07:52] paulomorgado commented on #9330
@HaloFour, using extension methods does not forbide the use of virtual methods. Again: LINQ.

Inside the extension method you can also have logic to handle the correct types at runtime:

    public static class PersonExtensions
    {
        public static string Test(this Person person)
        {
            if (person is Student)
            {
                return "Student";
            }

[2016-03-02 08:07] DavidArno commented on #9330
Of the three features, the With-expressions are the obvious biggest gain, as they simplify the creation of new immutable references/values. However, regarding,

the ideas behind `With` methods seem highly inelegant. Another option would simply to be to restrict this feature to sealed types. Whilst this would limit its use in existing types, it would fit well with records (assuming they will be syn

[2016-03-02 08:34] DavidArno commented on #9330
I'm pleased to read @MadsTorgersen's comments that more design notes, around other language features, are coming soon. It will help to put the ideas in this note into perspective. Plus, as many of us are keen to know what's happening with tuples, discriminated unions, records and pattern matching, this will help. I'm particularly concerned by my reading of @gafter's remark in [#9375](https://githu

[2016-03-02 09:18] lachbaer commented on #9234
@alrz In Python tuples really feel comfortable ;-) What shortcomings do tupels have?

But I don't feel comfortable with having no parameter identifier for the code block. As well, providing `out this.Left` would mean to wrap the body in a kinda `finally` block, so that the out parameters are assigned when leaving the block anywhere.

[2016-03-02 09:28] lachbaer commented on #8364
I just have another idea in mind, regarding the return value of a setter for semi-auto-properties.
[code]
* So, the expression body `=> ...;` syntax *expects* a return value that is assigned to the field.
* A block body `{ ... }` syntax does not expect a return value.

* In regular properties expression body and block body both don't return a value in the setter.
* Semi-auto-properties provide the

[2016-03-02 12:18] HaloFour commented on #9330
@paulomorgado

Neither of those strategies are virtual methods, they are type-based dispatch and they are both completely locked to the types explicitly built into the implementation.  It would be impossible to add derived types in other assemblies and to "override" those extension methods, regardless of the dispatch strategy.

This is a problem with "wither" methods and non-sealed types in genera

[2016-03-02 12:50] bkoelman commented on #9292
Repros on Update2 CTP.
Tagging @jmarolf as we worked on these templates in the past.

[2016-03-02 13:09] lachbaer commented on #9330
Question: will the immutable objects be also possible with `struct` s? (a bit like Javas Valhalla project?)

[2016-03-02 14:04] madskristensen commented on #9317
@TheOpenDevProject A bug was introduced in the ASP.NET 5 RC1 tooling that caused this. The workaround is simple and is described [here](https://blogs.msdn.microsoft.com/webdev/2016/01/12/visual-studio-keeps-showing-suggested-extensions/). The issue has been fixed and will be in the next update to the ASP.NET 5/Core tooling

[2016-03-02 14:12] Mylan719 opened #9397 "Providing consistent behavior for Rename operation in custom files"
Hi,
I am working on Visual Studio 2015 extension.
Is there any API that would let me use the renaming/refactoring dialog like in Code Editor, but inside my custom markup files?
I know there is `Renamer` class for renaming symbols in roslyn workspace.
But I would like to make use of renaming In my custom markup files.
So I quess I need to rename symbols in my markup by myself, then use `Renamer` he

[2016-03-02 14:35] jmarolf commented on #9292
Looks like Microsoft.CodeAnalysis.Common.1.0.0 was authored wrong.  it required the analyzers to match exactly.
[code]

A workaround on your side would be to downgrade `Microsoft.CodeAnalysis.Analyzers` to version 1.0.0, though you will still have the problem that log4net is not compatible with Profile7

@srivatsn could we release  `Microsoft.CodeAnalysis.Common.1.0.1` that was the same except tha

[2016-03-02 14:41] Vannevelj opened #9398 "Intellisense suggests an overridden property twice when used as attribute argument"
**Version Used**:
VS2015 Update 1

**Steps to Reproduce**:

1. Create new solution
2. Add the following attribute definitions:

[code]

3. Add `[Derived()]` attribute to something

4. Place caret inside the empty brackets and press <kbd>ctrl</kbd> + <kbd>space</kbd>

**Expected Behavior**:

The `Name` property shows up once.

**Actual Behavior**:

The `Name` property shows up twice.

![image](http

[2016-03-02 14:49] Vannevelj opened #9399 "Intellisense shouldn't suggest a property already used as an attribute argument"
**Version Used**:
VS2015 Update 1

**Steps to Reproduce**:

1. Create a new solution
2. Add the following attribute definition:

[code]

3. Use the attribute somewhere

[code]

4. Add a comma behind `"test"` and press <kbd>ctrl</kbd> + <kbd>space</kbd>

**Expected Behavior**:

Only `Age` shows up.

**Actual Behavior**:

Both `Name` and `Age` show up.

![image](https://cloud.githubusercontent.com/a

[2016-03-02 15:24] Pilchie commented on #9317
Also - don't worry about the fact that you reported here.  There are a bunch of repos, and it's tough to figure out the boundaries.  We're happy to get things to the right spot.

[2016-03-02 15:49] Pilchie opened #9400 "IDE crash binding Handles clause with erroneous WithEvents declaration"
**Version Used**:
VS2015 Update 2 CTP

**Steps to Reproduce**:

1. Create a VB project
2. Select all text and paste the code below

[code]

**Actual Behavior**:
Crash.  Callstack:
[code]

[2016-03-02 15:54] jaredpar commented on #9400
@cston please take a look a this.

[2016-03-02 15:57] Pilchie commented on #9399
Does this repro without Resharper?  They provide their own CompletionList that replaces ours.

[2016-03-02 16:01] Pilchie commented on #9385
Dupe of #9392

[2016-03-02 16:01] #9385 closed

[2016-03-02 16:02] Vannevelj commented on #9399
Huh. It's been so long since I haven't used Resharper that I thought this was the normal completion list. You're right, without Resharper it works. Then I guess this and my other issue can be discarded.

[2016-03-02 16:02] #9399 closed

[2016-03-02 16:03] Vannevelj commented on #9398
Turns out it was because of Resharper so this is something for them to fix.

[2016-03-02 16:03] #9398 closed

[2016-03-02 16:23] Pilchie commented on #9382
Can you take a look and help route?  If you "F5", it is supposed to do an implicit config switch back to debug for the build portion.  Maybe the UnitTest code needs to do something similar?

[2016-03-02 16:50] davkean commented on #9377
@mmitche fixed this.

[2016-03-02 17:10] MadsTorgersen commented on #9330
@gafter and others: I did not intend for this summary to imply that we agree to do this with name matching. That is an open debate. For both with-expressions and positional deconstruction I listed the alternatives we discussed. I apologize if you feel I didn't give fair treatment to that side.

I realized after posting (and upon seeing some of the negative comments on using name matching) that I d

[2016-03-02 17:19] p-e-timoshenko opened #9407 "[Bug] Interpolated strings in attributes"
**Version Used**: CS 6

**Steps to Reproduce**:
[code]

[2016-03-02 17:28] tmat opened #9408 "Test_ConflictingParameterNames1 failed"
http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4670/

[code]

[2016-03-02 17:34] amcasey opened #9409 "BasicVenus: Command Edit.Undo was not available after retrying for a timeout of 60000ms"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p1/157/artifact/Open/Binaries/Release/VSIntegrationTestLogs/BasicVenus.html

`Scenario: Bug 531271: Line commit shouldn't crash doing undo/redo`

[2016-03-02 17:41] tmat commented on #9387
There is a change in Closed/EnC/CSharp/Test/project.json as well

[2016-03-02 17:46] davkean commented on #9387
@tmat Should the tree be build against RC2 or RC3 of metadata?

[2016-03-02 18:02] tmat commented on #9387
RC2 in stabilization. RC3 was in master. The change to RC2 should be integrated to master in both open and closed at once.

[2016-03-02 18:06] davkean commented on #9387
How is this supposed to work on the VS insertion side? How are we supposed to know to roll back metadata? Are we supposed to always update it?

[2016-03-02 18:09] AdamSpeight2008 commented on #9407
I don't think this is a bug, the string interpolation is seen as a function call. Wither it consists of constants only arguments, has no barring on how is treated by the compiler.

[2016-03-02 18:20] tmat commented on #9387
Let's take it offline. I'll stop by later.

[2016-03-02 18:38] MadsTorgersen opened #9411 "Proposal: Tuple-based construction and deconstruction of immutable types"
# Tuple-based construction and deconstruction of immutable types

In #9330 I listed some of the recent alternatives we've explored for API patterns in support of immutable object initializers, with-expressions and positional deconstruction in C#.

Here is an alternative approach to these patterns, involving a variant of the builder pattern based on tuples.
## The builder pattern and tuples

The bu

[2016-03-02 18:40] MadsTorgersen commented on #9330
I wrote up #9411 as an alternative way to implement these patterns, based on using tuples and the builder pattern. I wrote it as a proposal rather than design notes, because we haven't had the same degree of discussion of it on the language design team yet.

Would love your input.

[2016-03-02 18:46] jaredpar opened #9412 "Flaky IDE Suites"
The following suites failed on a PR that didn't change any product code:

- Microsoft.CodeAnalysis.Editor.UnitTests.Rename.RenameEngineTests.RenamingEventCascadesToCSUsingEventHandlerDelegate
- Microsoft.CodeAnalysis.Editor.UnitTests.Diagnostics.GenerateVariable.GenerateVariableCrossLanguageTests.TestSimpleInstanceProperty_VisualBasicToCSharp

Relevant PR: https://github.com/dotnet/roslyn/pull/940

[2016-03-02 18:48] gafter commented on #9269
I believe there are IDE tests for everything that has been fixed.

[2016-03-02 18:51] jaredpar commented on #9269
Where are the IDE regression tests for the bugs fixed here?

https://github.com/dotnet/roslyn/pull/9233

[2016-03-02 18:54] balajikris commented on #8747
I've added better logging to diagnose this issue. as such there is nothing more to do until it fails again, closing.

[2016-03-02 18:54] #8747 closed

[2016-03-02 18:55] jasonmalinowski commented on #9355
Duping against tracking bug of #9308.

[2016-03-02 18:55] #9355 closed

[2016-03-02 18:56] #9127 closed

[2016-03-02 18:56] #9025 closed

[2016-03-02 19:00] jasonmalinowski commented on #9394
Yep, this is another case where cross-language find references didn't work. Duping against parent bug #9308.

[2016-03-02 19:00] #9394 closed

[2016-03-02 19:06] copernicus365 commented on #155
@gafter I'm sorry to see you say "We do not expect to do what this requests," but then you say "but we are considering covariant return types #357."

But as @sharwell [wrote](https://github.com/dotnet/roslyn/issues/357#issuecomment-173091915): "I also notice that it appears that you are confusing this issue with #155. However, covariant return types are a completely different proposal from the spe

[2016-03-02 19:12] amcasey opened #9414 "future-stabilization is producing binaries with the wrong version number"
Actual: 1.3.0-beta1
Expected: 2.0.0-beta1 (as in future)

[2016-03-02 19:12] amcasey commented on #9414
FYI @davkean

[2016-03-02 19:19] dominicpease commented on #9411
Is positional deconstruction pretty much set in stone? It was in #9330 as well, and I can't say I like it as applied to class instances. I understand it for tuples (which might not have any other option, and is I assume the driving force?), but it seems like it builds fragile and obscure relationships into a design, and perhaps unnecessarily.

For example, what if we went the other direction, and

[2016-03-02 19:21] balajikris opened #9415 "Infra: screenshots and test output logs are missing from Integration runs."
crux of the issue is the artifacts directory is missing the following 2 subdirectories:
- Open\Binaries\Debug\Screenshots\
- Open\Binaries\Debug\ETAIntegrationTestLogs\

Both of these are necessary for investigating IDE test failures, as they capture screenshots of the process when the failure occurred and the detailed logs themselves. Per @davkean, we filter files by extension and we might be ski

[2016-03-02 19:25] balajikris commented on #9366
hindered by #9415.

[2016-03-02 19:27] balajikris commented on #9415
also note that the corresponding location for VS runs would be `Debug\VSIntegrationTestLogs` or so.

[2016-03-02 19:31] MadsTorgersen commented on #9411
@dominicpease Nothing is set in stone. For pattern matching we do intend for there to be a name-based equivalent. Currently the envisioned syntax is:

[code]
The only thing positional matching (for anything but tuples) adds over that is brevity. There's a strong tradition for positional matching in languages that do have pattern matching, but we could certainly live without it.

What you see is us

[2016-03-02 19:35] alrz commented on #9411
Apparently these features depend on "mutable tuples" I thought mutability is not being considered at this point at least, and who wants mutable tuples?

public Person((string FirstName, string LastName) builder) { ... }
[code]
I don't see why all this trouble just to use an alternative way of creating an object that is not meant to be created that way.

public Person With((string FirstName, string

[2016-03-02 19:39] MadsTorgersen commented on #9330
@DavidArno Nothing is set in stone. Our current plan of record is that pattern matching will be integrating into existing language constructs (is-expressions and switch statements) _as well as_ a new expression form which we call a match expression.

As we experiment with things, those plans may change. We may choose to add patterns in _more_ places (for instance, let-statements have been proposed

[2016-03-02 19:40] #8774 closed

[2016-03-02 19:41] #8829 closed

[2016-03-02 19:42] JohnHamby commented on #8848
Power is now handled. Any remaining unhandled operators will not cause crashes. We still need an audit to ensure that all operators are handled.

[2016-03-02 19:43] #8849 closed

[2016-03-02 19:43] #9018 closed

[2016-03-02 19:46] HaloFour commented on #155
@copernicus365

How don't covariant returns solve the issue described in this proposal?  You would be permitted to override and return the current type as well as returning `this`.  All this proposal gives you in addition is a much more narrow scope, particularly since it doesn't account for fluent APIs over immutable types, which is a pattern that the team has expressed interest in encouraging.

[2016-03-02 19:51] CyrusNajmabadi commented on #9330
@mythz I think in small cases, there is only marginal value.  The real benefit comes when you can do much more "matching" in a single expression.  A canonical example of that would be where you're trying to actually match a complex tree structure.  Patterns already make this cleaner.  Furthermore, if we want to both match *and* be able to then use the sub-pieces that have been matched, then patter

[2016-03-02 20:02] dominicpease commented on #9411
@MadsTorgersen Let me preface this by saying that despite my counter-suggestions I am leery of jumping too quickly to new syntax to solve problems. However, I do think an operator-based method could work at least as well as the positional deconstruction proposal, even with records and completely hand-written tuple-like classes; and especially in those cases I'd rather see it done with an explicit

[2016-03-02 20:04] balajikris commented on #9366
Note that this is a focus sensitive scenario, without screenshots there isn't much to tell.

[2016-03-02 20:04] CyrusNajmabadi commented on #9330
@MgSam > With Autocomplete, the cost of having to type property names is tiny, so why avoid it?

I'm not certain i personally agree with that.  Take the possible C# 7.0 examples i listed above.  Haivng to write the name increases the size of hte pattern from 84 to 191 chars.  That's more than twice the size, and makes it nearly impossible to fit cleanly in a single line (or even on a few lines).

[2016-03-02 20:15] mythz commented on #9330
@CyrusNajmabadi Not sure if there is a "compiler writer bias" with this feature, but I can't recall many times in the last decade where I've thought there was enough friction that would justify needing a new "foreign" language feature.

The complex match expression looks fragile (and IMO not particularly readable) where I'd expect it would be hard to workout why an arbitrary data graph doesn't mat

[2016-03-02 20:15] mburbea commented on #9411
@MadsTorgersen , personally at least in the examples displayed I find myself leaning towards the following
[code]
From a perspective of readability it is terse, and does not add too much extra complexity. The `is` pattern matching that allows assignment is perfect.

However, this syntax is a bit odd to look at especially based on how people decide to format it.
[code]
I don't really like using `is

[2016-03-02 20:25] CyrusNajmabadi commented on #9330
There was never much friction with null checking either.  And yet, the addition of ```?.``` is still wonderful for just smoothing out all those little bumps :)

Really?  Why?

That approach is nearly 3x longer than the simple positional form.  While i don't believe language features shoudl be decided solely based on their terseness, i do believe that we should strive for simpler ways to express co

[2016-03-02 20:32] FunctionalFirst commented on #9330
@mythz

F# has had positional deconstruction for more than a decade (since v1.0) and I've never once heard these complaints. It's seen, almost universally, as a win in productivity and expressiveness.

[2016-03-02 20:33] MgSam commented on #9330
@CyrusNajmabadi I take your point about positional construction vs deconstruction, but let's not forget, positional construction as we know it now has existed in programming languages for 40 years, and when it was designed the size of your code was a very real concern, so named arguments were infeasible. Not to mention IDE tooling was non-existent. C# 1.0 - 3.0 inherited this legacy; it's not like

[2016-03-02 20:33] jaredpar commented on #9073
Reopen pending unit tests.

[2016-03-02 20:33] jaredpar commented on #9080
Reopen pending unit tests.

[2016-03-02 20:33] jaredpar commented on #9079
Reopen pending unit tests.

[2016-03-02 20:34] jaredpar commented on #9072
Reopen pending unit tests.

[2016-03-02 20:34] CyrusNajmabadi commented on #9330
@mgsam  > I take your point about positional construction vs deconstruction, but let's not forget, positional construction as we know it now has existed in programming languages for 40 years

So has positional deconstruction :)

[2016-03-02 20:39] MgSam commented on #9330
@CyrusNajmabadi Yes but it's not a breaking change to leave it out of C# 7.0.

[2016-03-02 20:41] CyrusNajmabadi commented on #9330
And this is where we disagree.  I don't think it's my place to prescribe to people that there is no reason to ever not be using named arguments.  I think it's totally up to the consumer to make the decision.  As you can see from Roslyn itself, the *vast* majority of our code does not use named arguments.  Indeed, we use it sparingly in the places where we think it adds readability.   :)

I think t

[2016-03-02 20:44] amcasey commented on #9392
`Command Edit.SelectionCancel was not available after retrying for a timeout of 60000ms`

If the run didn't include https://github.com/dotnet/roslyn/commit/91046030f19a8e8ff5efd5d6b9d768374c6f0023, then this failure is expected.

[2016-03-02 20:47] mythz commented on #9330
Because it would force our brains to match the nested data graph with the complex nested match expression in a single pass. I believe source code should optimized for read/skim-ability where the less times we need to use our head as a calculator and memory bank, the better - there are much better places we could be spending our limited complexity budget on. To give more context about this I believ

[2016-03-02 20:48] CyrusNajmabadi commented on #9330
@MgSam That doesn't really contradict what i saying :)

Positional construction has existed for decades.  So has positional deconstruction.

C# had positional construction no one seemed to mind.  And we even added named construction later (ostensibly for COM, but i actually think it's useful all the time).

"positional" is extremely natural in C#.  It's everywhere.  Look at 99.9% of all method cal

[2016-03-02 20:49] amcasey commented on #9392
The PR for my fix was run 39**2**, so 393 almost certainly didn't have the fix.  All subsequent runs have passed (394-397).

[2016-03-02 20:49] #9392 closed

[2016-03-02 20:50] amcasey commented on #9392
FWIW, the original bug was https://github.com/dotnet/roslyn/issues/9354.

[2016-03-02 20:51] HaloFour commented on #9330
@FunctionalFirst

Notably the identifier pattern is only really applicable to discriminated unions and active patterns which have a positional definition to them.  Arguably the record syntax proposed for C# has more in common with an F# active pattern with a single partition so position matching/deconstruction makes sense there.

[2016-03-02 20:53] CyrusNajmabadi commented on #9330
This is literally the world today for C# en masse :)

The language has survived *great* to this point despite having positional parameters.  Many other languages which *only* have positional parameters have worked out fine.  Many modern *recent* languages have come out, been quite popular, and still only have positional forms.   :)

Positional does not actually seem to be a great detriment to read

[2016-03-02 20:55] MgSam commented on #9330
@CyrusNajmabadi

C# makes many choices to restrict what the developer can do. "Pit of quality" and all that. If a developer wants a free-for-all language where every feature under the sun has been added and you can dig yourself into an inescapable hole at the drop of a hat they can use C++.

I also don't think that because MS's style internal style guidelines have allowed or disallowed something m

[2016-03-02 20:58] antonssonj commented on #7862
@dpoeschl I have expanded my tests and have implemented the most common cases. I have some thoughts that would be good to get some feedback on.
- This feature is pretty big, should it be divided in different Pull Requests?
 - Completion for the inheritdoc comment
 - An Analyser that fix CS1591, (Best way that I have found to fix the original issue)
 - Implementation of inheritdoc and heuristic in

[2016-03-02 21:03] CyrusNajmabadi commented on #9330
It's hte decision of the greater community.  The coding style you are espousing has not been adopted by the community at large.  You seem to be arguing: I want C# to be used in this manner.  And because of that, i don't like that you're adding this feature.

I'm arguing: the C# community has shown exactly how they use this language.  As such, this feature makes sense given how people actually use

[2016-03-02 21:11] DixonD-git opened #9417 "Assembly.DefinedTypes crashes on Microsoft.CodeAnalysis.Scripting assembly on .Net 4.6.1"
See the stacktrace below:
[code]
The `LoadersExceptions` contains the following exception:
[code]

[2016-03-02 21:12] bbarry commented on #9330
I think these are comparable samples:

    //deconstruction syntax
    if (tree is Node(Black, var x, var a, Node(Red, var y, var b, Node(Red, var z, var c, var d))))) {
        return new Node(Red, y, new Node(Black, x, a, b), new Node (Black, z, c, d));
    }

    //property pattern syntax
    if (tree is Node {
        Color is Black,
        Val is var x,
        Left is var a,
        Right i

[2016-03-02 21:25] heejaechang commented on #9316
@srivatsn @Pilchie is this update 2 bug or regular bug?

[2016-03-02 21:25] heejaechang commented on #9249
@srivatsn @Pilchie is this update 2 bug or regular bug?

[2016-03-02 21:25] #9047 closed

[2016-03-02 21:25] heejaechang commented on #7441
@srivatsn @Pilchie is this update 2 bug or regular bug?

[2016-03-02 21:29] Pilchie commented on #9249
In general, we'd like to drive down flakiness in tests for 1.2 if possible, since it improves our ability to validate the release.

In this particular case, this is likely the same issue that @jasonmalinowski is already investigating

[2016-03-02 21:29] Pilchie commented on #9316
In general, we'd like to drive down flakiness in tests for 1.2 if possible, since it improves our ability to validate the release.

In this particular case, this is likely the same issue that @jasonmalinowski is already investigating

[2016-03-02 21:29] Pilchie commented on #7441
In general, we'd like to drive down flakiness in tests for 1.2 if possible, since it improves our ability to validate the release.

[2016-03-02 21:29] CyrusNajmabadi commented on #9330
It's not a goal.  But it's a benefit.

To me, the goal is to give users flexible approaches to use patterns in their own code with reasonably knobs for their own domain wrt expressiveness/terseness/etc.

We went through a similar thing (with similar debates) in the linq timeframe for query expressions.  Technically you don't need them.  Indeed, they just rewrite themselves into standard method cal

[2016-03-02 21:31] gafter opened #9418 "Crash in SimpleCodeStyleOption.FromXElement"
[code]
There is a bug in the first line when `element.Attribute("IsChecked")` is null; it throws a `NullReferenceException`.

[2016-03-02 21:33] maloo commented on #9330
@CyrusNajmabadi

Context, readability and the ability to reason about code. When looking at a piece of code you want to understand what it does quickly. Construction is easy, new Foo(a, b, c) will give you a Foo object and a, b, c is not that important to understand the flow of the code. Similar for invocation, you can DoThatThing(x, y, z) and understand that it will "do that thing". The function

[2016-03-02 21:33] CyrusNajmabadi commented on #9330
Then feel free to use that syntax :)

None of my arguments state that that syntax should not be offered or available to people who want to use it.  If it's the best for you *terrific*.  That's why we have several forms for whatever feels best.

[2016-03-02 21:40] shmao commented on #9390
Thanks for submitting the issue. I've copied the information to our internal bug database for tracking the issue. We will consider to fix this in the next release.

[2016-03-02 21:41] CyrusNajmabadi commented on #9330
Er... why is it not important?  All the same reasons people gave before seem to apply here.  What is 'a'?  Is it correct at the first argument?  How can i tell just from reading the code?  What about 'b' and 'c'?  As mgsam stated:

"I know nearly every time I write a method call where I've elided named arguments, the next time I look at that code again I've already forgotten what each parameter is

[2016-03-02 21:43] HaloFour commented on #9330
It's interesting how much of this seems to be arguing against pattern matching in general and not of positional deconstruction.  I wonder if that's due to the unfamiliar syntax or just the limited examples that have been demonstrated which could almost as easily be handled by type checks and null-coalescing.  I think some of the blame also falls on the limited subset of patterns that have been pro

[2016-03-02 21:43] MgSam commented on #9330
@CyrusNajmabadi

If a feature exists you can be guaranteed people are going to use it. Positional arguments already exist. Let's face the facts. Most developers don't spend a whole lot of time thinking about writing easy to read, provable correct code. That's why you guys have to design C# as a "pit of quality"; to save developers from their own human fallibility. Just because a feature is widely

[2016-03-02 21:45] balajikris commented on #9418
when this would happen. that the xelement retreived from persisted storage does not have the element type i'm looking for?
theory: when there is nothing from persisted storage.. clean hives and starting VS for the first time ?

[2016-03-02 21:50] CyrusNajmabadi commented on #9330
These are just LDM notes.  They're just exposing the current stuff we're discussing.  Nothing is finalized.  It is not intended to completely cover all cases.  We find that it's much easier to do language design if we bite things off work on it a while, and move forward.  Trying to solve the entire space all at once is usually not a great way to do things.

There are many things we are considering

[2016-03-02 21:50] gafter commented on #9418
See dump in `\\mlangfs1\public\ngafter\9418.dmp`

[2016-03-02 21:52] AlekseyTs commented on #8816
All relevant scenarios should be covered now.

[2016-03-02 21:52] #8816 closed

[2016-03-02 21:58] CyrusNajmabadi commented on #9330
And yet, pretty universal :)

Indeed, just above you, you have another people claiming that it's totally clear to do "new Foo(a, b, c)".

I get that it contains less information than the named form.  I do not question or argue against that.  My point is simple that programming languages have nearly all universally been able to work with that limitation without serious problem across time and acros

[2016-03-02 21:58] HaloFour commented on #9330
@CyrusNajmabadi

Of course, and the spec does drop hints at some of those missing patterns.  Although the conversation around and/or patterns hasn't been particularly positive (which is a shame, I honestly think those two would be a massive benefit).  But if people aren't that familiar with pattern matching in other languages (and honestly, that includes myself) then not seeing how it applies in m

[2016-03-02 21:59] cston commented on #9400
Fixed in https://github.com/dotnet/roslyn/commit/31c9a9314b6ae00c6dd5998ba831543d0b89d58f

[2016-03-02 21:59] #9400 closed

[2016-03-02 22:07] CyrusNajmabadi commented on #9330
That's completely fair, and certainly is something we're considering.

So do we.  We're definitely considering ideas where this is possible.

That said, the open discussion is how things work for the literally millions of lines of existing code that exists out there.  One option is to say "you can't use patterns with it unless the API author opts in, or you go and add those extensions to light it

[2016-03-02 22:15] HaloFour commented on #9330
@CyrusNajmabadi

I don't disagree, but automatically "lighting up" positional deconstruction via case-modulo constructor/property correlation seems quite flimsy and assumes that there may be relationships between them at all.  It's quite common for the shape of the constructor and the shape of the properties to be wholly or partially unrelated.  It's also common for the constructor arguments to be

[2016-03-02 22:24] miloush commented on #9313
Also note that C# allows to unbox enum type into its underlying type or any other enum type (with the same underlying type), which was even explicitly stated in CLI specification until version 3. This looks consistent with that behaviour.

[2016-03-02 22:38] HaloFour commented on #9407
See #9212 and #194

In short, since interpolation involves the current culture which could be a custom `ICustomFormatter` even if your only interpolating constants the result is not predictable and must be evaluated at run time.

[2016-03-02 22:38] KathleenDollard commented on #9330
“It's also common for the constructor arguments to be transformed prior to being exposed through properties”

Doesn’t that present a problem for both named and positional deconstruction?

[2016-03-02 22:39] CyrusNajmabadi commented on #9330
Yup!

We'll definitely only want hookup if we think the amount of true positives is sufficient and hte amount of false positives is acceptable low.  i.e. the same approach we took for collection initializers.

Personally, i would take a somewhat conservative approach.  I.e. the match should  be very easy to explain.  As a starting point it might just be something like: the matching property much e

[2016-03-02 22:44] HaloFour commented on #9330
@KathleenDollard

I don't believe so, property patterns use the property names directly so it should be more clear that the pattern is applied to the property values.

[2016-03-02 22:47] CyrusNajmabadi commented on #9330
@KathleenDollard

Not for named deconstruction.  With named deconstruction, you are stating which properties you care about.

For positional it *may* present a problem *depending* on how you implement positional deconstruction.  For positional deconstruction that *only* involves some sort of "automatic/implicit" matching, then it would be problematic.  However, we're of the position that we'd alwa

[2016-03-02 22:53] davkean commented on #9414
tag @agocke.

[2016-03-02 22:56] balajikris opened #9421 "Codestyle tools options parent node reads 'An error occurred loading this property page' when opening it."
**Version Used**:
Latest `future` branch

**Steps to Reproduce**:

1. build locally, open VS
2. open new C# project
3. tools - options - text editor - C# - codestyle
4. The root node for codestyles seems to be busted, whereas its child nodes all seem to be okay..

**Actual Behavior**:

![image](https://cloud.githubusercontent.com/assets/4213867/13478593/981b198a-e086-11e5-84e2-8dc66149f645.png)

!

[2016-03-02 22:57] balajikris commented on #9421
@dpoeschl -- I think you'd know something about this, since you restructured this sub-tree?

[2016-03-02 22:58] alrz commented on #9407
Followig those proposals, I think a culture independent form of string interpolation might be useful in these situations when a simple concat is enough.

[2016-03-02 23:05] dpoeschl commented on #9421
@balajikris Yeah, I suspect this happens when you have Update 1 or prior in Program Files, with future installed into your hive. If we care about this scenario (temporarily), then we should see if it can be remedied with some guid alterations in csharppackage. This could possibly make the "error occurred" messages go away, but you'd still have the duplicate Formatting node. Alternatively I could p

[2016-03-02 23:07] bbarry commented on #9411
The mutable tuple issue is easily bypassed:

The expression

    new Person { FirstName = "Mickey", LastName = "Mouse" }

Gets generated as

    var _1 = "Mickey"; //necessary to do these in order to
    var _2 = "Mouse";  //preserve evaluation order of initializer
    var _builder = new ValueTuple<string, string>(_1, _2);
    new Person(_builder)

[2016-03-02 23:09] balajikris commented on #9421
ooh that. thanks for clarifying. If that's what is going on here, I don't think I care, personally. However, it may be useful to publish instructions as we may keep running into this while we're also actively working with the options page.

[2016-03-02 23:09] AlekseyTs opened #9422 "PreciseAbstractFlowPass doesn't override visit for BoundMatchCase and BoundConstantPattern nodes"
If the visit methods can be called, they should be overridden and should visit constituent BoundExpressions as appropriate (either as a condition or as an RValue). Failing to properly visit constituent BoundExpressions can result in a NullReferenceExpression because we might run into conditional state when we don't expect to be in a conditional state.

If we don't expect the visit methods to be ev

[2016-03-02 23:12] alrz commented on #9411
@bbarry What about this one.

var builder = p.GetValues();
builder.FirstName = "Minnie";
...
p.With(builder);
[code]
But does it worth the trouble?

[2016-03-02 23:34] Pilchie commented on #5139
Re-activating, because I reverted the change for a test failure.

[2016-03-02 23:47] TheOpenDevProject commented on #9317
@Pilchie @madskristensen Understood will await for the update to be released. Ill close the issue since it has been fixed in a newer version.

[2016-03-02 23:47] #9317 closed

[2016-03-02 23:54] KirillOsenkov opened #9424 "Creating an InterpolatedStringTextToken via C# Syntax API"
I'm continuing to update Roslyn Quoter (http://roslynquoter.azurewebsites.net) and ran into some difficulties generating code that creates $"" string literals.

What code should Roslyn Quoter generate to produce C# code such as $"a", $@"b", $"c{foo}", etc?

I don't see SyntaxFactory.InterpolatedStringTextToken() for C# (although there seems to be one for VB).

Could it be another case where the pa

[2016-03-03 00:01] bbarry commented on #9411
The expression

    p with { FirstName = "Minney" }

Gets generated as:

    var _deconstruct = p.GetValues();
    var _FirstName = "Minnie";
    var _builder = new ValueTuple<string, string>(_FirstName, _deconstruct.Item2);
    p.With(_builder);

Very straightforward codegen.

--

My question would be if

    p with { FirstName = "Minney", LastName = "Monster" }

can be optimized (the compiler kn

[2016-03-03 00:02] miloush opened #9425 "try/catch does not stay on single line"
Following #2837, Update 2 CTP (25008).

EDIT: To reproduce, there must be further code after the block.

Settings to reproduce:
C# > Formatting > Wrapping > Leave block on single line `on` (on by default)
C# > Automatic brace completion `off` (newly on by default)

[code]
gets wrapped as
[code]
(the same with `break;` `return;` etc. and finally block)

With _Leave block on single line_ on, expecte

[2016-03-03 00:31] alrz commented on #9234
@lachbaer I'm not against tuples overall, I just don't think that they are a good fit in this context. See [#9005 comment](https://github.com/dotnet/roslyn/issues/9005#issuecomment-187211338) and the comment before that.

[2016-03-03 00:35] alrz commented on #9234
This would be useful only if you want to just assign the parameter to a property/field. Otherwise you should consider regular parameters of course.

Exceptions are the still the case when you use regular parameters, I expect that properties which throw are considered as "not matched" and the pattern would be failed, though, I don't know if this is covered in the draft spec.

[2016-03-03 00:47] alrz commented on #9411
@bbarry OK, consider a class with one property. You'll need to return a oneple from `GetValues` then? And the idea of passing `GetValues` return value to `With` is not safe. You must remember to change both at the same time. At first I thought utilizing tuples would be a nice for this scenario, but there will be some shortcomings.  See #9005 for discussion.

[2016-03-03 00:49] jmarolf opened #9428 "Make VSI tests less noisy by not asserting the contents of the code actions list"
We have a lot of tests that assert the exact ordering and contents of the code actions list.

[code]

We should change this to just be

[code]

[2016-03-03 00:59] HaloFour commented on #9411
@mburbea

Per 5.2 of the pattern matching spec (so far):

        constant-expression

So the comparisons are pretty limited.  I also don't believe that constant patterns (or any simple patterns) are permitted to be used in simple `is` expressions, so `if (x is "Foo")` would not be legal.

[2016-03-03 01:10] Thaina commented on #155
@HaloFour The main issue that covariant need to overridden unlike fluent

We only need to have all class return itself after doing some logic. But then we need to tell every child class to override one by one just to return itself. That's more junk code

I don't see why covariant return is better than fluent. Fluent is far more compact to solve what we really need. One problem is we may not want i

[2016-03-03 01:10] alrz commented on #9411
@HaloFour Per [`abeed948`](https://github.com/dotnet/roslyn/blob/abeed948e9c0c3b764cdd63c06e0b16df5fcb1df/src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs#L93-L94) so far.

[2016-03-03 01:14] gafter opened #9430 "Compiler crash with match expressions in lambda analysis."
When trying to compile this code

[code]

I get this crash

![image](https://cloud.githubusercontent.com/assets/3804346/13476455/c6dc686e-e07c-11e5-8f61-2aeaafa69050.png)

[2016-03-03 01:47] HaloFour commented on #155
@Thaina

This proposal is much too limited, even for fluent APIs.  It limits the API to a single verb and encourages mutability.  How many fluent APIs actually follow that model?  Few in my experience.  JQuery doesn't, it returns new instances containing the new state of the operation or selection.  LINQ doesn't, it always returns a new `IEnumerable<T>` wrapping the target with the new operation.

[2016-03-03 01:51] gafter commented on #9330
@HaloFour

Your concern is the crux of an issue we're struggling with right now. I happen to agree with you, but the issue isn't settled.

We are considering `GetValues` as an _alternative_ to the currently specified `operator is`, in part because one can provide it as an extension method without adding too much machinery to the language.

[2016-03-03 01:55] HaloFour commented on #9330
@gafter

While that does make sense it seems a bit redundant to have two very similar bits of syntax, one to deal with just destructuring and the other to deal with matching and destructuring.

[2016-03-03 02:00] gafter commented on #7881
@lachbaer We discussed this at the LDM today, and we are supportive of this, but we'd prefer to support all relevant contexts when we do this. In particular, we'd like to add constructors and destructors to the list of things that can have => bodies. Are you motivated to do that?

[2016-03-03 02:04] HaloFour commented on #7881
@gafter

Should both forms of read-only properties be supported?

[code]

[2016-03-03 02:06] ufcpp commented on #9411
I don't like the approach which needs extra methods like `GetValues` and `With`. I always struggle to reduce binary size of our apps. These methods may increase the size.

[2016-03-03 02:20] AnthonyDGreen commented on #9424
I believe you can just call SyntaxFactory.Token(SyntaxTriviaList, SyntaxKind, String, String, SyntaxTriviaList) method.

[2016-03-03 02:25] bbarry commented on #9411
I'm not sure what you are meaning by this.

I'm not sure tuples cannot be used here, but I am pretty sure mutability is not an issue.

Given:

[code]

One could write extension methods `GetValues` and `With` such that `deconstruction-pattern` and `with-expression` syntax elements can be compiled into working code.

Since `GetValues` return type is used here in these examples, one must write succes

[2016-03-03 02:33] markhurd commented on #9407
And that was the first method relating to string interpolation I added to my LinqPad extensions:

[code]

But it's still clearly not a constant expression.

[2016-03-03 02:36] alrz commented on #9411
I meant this code,

var builder = p.GetValues();
builder.FirstName = "Minnie";
...
p.With(builder);
[code]
[code]

[2016-03-03 05:28] gafter commented on #7881
@HaloFour Yes.

[2016-03-03 05:32] gafter commented on #9330
@HaloFour Active patterns would be driven by a `static GetValues` method that has a `bool` return type and a non-`out` first parameter. "Ordinary" patterns would be an instance `void GetValues` method. Both are independently valuable because they have different static semantics for computing whether or not a set of patterns is complete (the former can return `false`, but the latter cannot). Also,

[2016-03-03 05:53] chrisaut commented on #9411
I strongly agree with this, please don't use "is" in this way, == is exactly the same length and makes it clear what code is being generated.

Can I call code like this
[code]

or is it only strictly "is" (whatever that actually generates)?

[2016-03-03 05:57] gafter commented on #9097
@CyrusNajmabadi Can you please give me a hint where to start working on this?

[2016-03-03 06:09] leppie opened #9441 "IDE C# formatter indentation issue after a comment"
Say you have this
[code]

VS2015 Update 1

[2016-03-03 06:09] alrz commented on #357
Would it be possible to return a constrained generic type instead of a concrete type?
[code]

[2016-03-03 06:14] alrz commented on #9411
@chrisaut Perhaps you're looking for #8457.

[2016-03-03 06:15] leppie commented on #8456
@jskeet This happens when constrained too.

This also happens with a class with explicit layout.

[2016-03-03 06:17] CyrusNajmabadi commented on #9097
I did a search for SyntaxKind.ColonToken and found these interesting locations:

[code]

I would personally start with some of these :)

[2016-03-03 06:18] leppie commented on #8456
This also fails in the following scenario, even though the size can be reliably determined:
[code]

Maybe a runtime issue?

[2016-03-03 06:26] gafter commented on #9072
Fixed in features/patterns.

[2016-03-03 06:26] #9072 closed

[2016-03-03 06:27] srivatsn commented on #8104
Closing this issue per @gafter's suggestion.

[2016-03-03 06:27] #8104 closed

[2016-03-03 06:27] leppie commented on #9131
This is a scoping issue, the following works fine (and is a workaround for now):
[code]

[2016-03-03 06:30] leppie commented on #9131
Also seems to emit a whole lot of extra 'nonsense' for `switch` on nullable.

http://tryroslyn.azurewebsites.net/#f:r/K4Zwlgdg5gBAygTxAFwKYFsDcAoADsAIwBswBjGUogQxBBgGEYBvbFK5MmANwHswATGAFkqkABQBKbCxiyYIAO5hkpABYwxEVApiRkAfklS5zbCZP9UAMyrAiyAFxnzsmS/NcqAJ10wAvDAALABMOO7mAGLAEKQAPHoAfDBW/hoS/klgYeFyBF6oVADW2S4Avs6y5aWlQAA=

[2016-03-03 06:42] gafter commented on #9269
Closing this as we have separate bugs for each item to be tested.

[2016-03-03 06:42] #9269 closed

[2016-03-03 06:58] leppie commented on #9131
Managed to get the smallest difference.

`switch((int?)null)` fails
`switch((int?)0)` works

[2016-03-03 07:12] leppie commented on #9131
Looking at the IL:
[code]
`IL_0011` and `IL_0016` is in the wrong place. Should either be at `IL_001f` or at the start.

[2016-03-03 07:23] gafter commented on #9097
OK, I got it fixed (hand-verified), but I don't see any tests for auto-formatting on the `:` of a `case` that I can learn from to write a test for this case. Do we have any tests for that? If not, what would be the most similar test to what I need?

[2016-03-03 07:28] lachbaer commented on #7881
@gafter I'll have a look at it. What else contexts are missing? `using`, `lock`?

For ctor and dtor I don't see that many use cases, but to be consistent over the language it would make sense.

[2016-03-03 07:34] gafter commented on #9097
Ah, found what I needed (`FormattingEngineTests.ColonInSwitchCase`)

[2016-03-03 08:16] lachbaer commented on #9234
I just saw in the Roslyn future code, that there are some error messages related to passing properties by ref. Haven't inspected it fully yet.

[2016-03-03 09:15] axel-habermaier commented on #9330
What I don't get is why all of a sudden _all_ types should be compatible with positional pattern matching automatically even though they were never designed for that. @CyrusNajmabadi's tree example, in particular, does not explain that at all: The tree type would probably be defined as a record anyway, in which case positional destruction of course make sense (as long as you're used to pattern mat

[2016-03-03 09:28] isaacabraham commented on #9330
Positional matching in F# (if I'm thinking about the same thing everyone else is) only works for tuples. For records i.e. data structures with *named fields*, you must match by name. So positional matching for tuples looks like this: -

[code]

With records it's somewhat different: -

[code]

I personally can't imagine how it would look to have positional matching over a named structure - it's too

[2016-03-03 09:40] JiriZidek commented on #9330
This would be a nightmare - someone just reorders props in class in some 3rd party library, and your code compiles, but does not work...
Especially in Pocos, where a bunch of "string" props is quite offten - this would happen on regular basis.
After reading the discussion I'm getting a feeling that anything "automatic" that does not happen locally (within current block or current method) would be

[2016-03-03 09:43] marxidad commented on #9330
Why not just stuff the properties into the constructor's parameter list? There was a similar proposal during the C# 6.0 design, with primary constructors.

    public class Person
    {
        public Person(public string FirstName, public string LastName)
        {
        }
    }

The actual, generated parameter names would be normalized so that the first letter is lower-cased, and custom attrib

[2016-03-03 09:51] isaacabraham commented on #9330
That's why in F# it's common to avoid using tuples with "simple" types like strings or ints, particularly when over public contract or as arguments / outputs of a function e.g. imagine the following situation: -

[code]

now imagine the implementer of ```getCustomerIdAndOrderId()``` flips the two around: ```getOrderIdAndCustomerId()```. Whoops - now your whole program is kaput, except the compiler

[2016-03-03 09:55] JiriZidek commented on #9330
Yes, explicit type aliases - I loved them in TurboPascal & love them now in TypeScript...

type OrderId = OrderId of int

Missing them in C# :-) - a bit off-topic.

[2016-03-03 10:08] bkoelman commented on #9292
@jmarolf Thanks for looking into this. The suggested workaround brings me back to https://github.com/dotnet/roslyn/issues/7276. It breaks the build, so that's not an option.

[2016-03-03 10:11] isaacabraham commented on #9330
@JiriZidek it's not type aliases - it's a completely different type. Type Aliases don't give you any protection - you can still mix CustomerId and OrderId as aliases. Single case DUs (wrapper types from above) are proper nominal types with a constructor for the fields etc..

[2016-03-03 10:43] lachbaer commented on #7881
I added
[code]
to `BaseMethodDeclarationSyntax`, because as far as I could see, all derived nodes now support the ArrowExpressionClauseSyntax.

[2016-03-03 10:44] DavidArno commented on #9411
I want to :+1: @alrz here with his comment:

I read "Tuples are proposed in #347 and are one of our top features for C# 7. They will be **mutable structs**" (emphasis mine) and pretty much gave up in despair. Please, please, please do not implement tuples as mutable types.

[2016-03-03 10:50] DavidArno commented on #9330
@MadsTorgersen

To mind my, you have the priorities back to front. Pattern matching is a functional feature and thus is primarily geared toward expressions, not `void` statements. Thus, implementing match expressions should be the priority and adding it to `switch` should be the lower priority activity.

I would consider records, tuples, ADTs/discriminated unions and match *expressions* as a "all

[2016-03-03 12:16] nicebug commented on #1891
+1

[2016-03-03 12:17] HaloFour commented on #9330
@gafter

While I understand that using ordinary methods to perform this requires less changes to the language I seriously hope you guys do consider an operator.  A normal method, particularly one with a generic name like `GetValues`, will end up cluttering up types and Intellisense in all of the wrong places.  There are already several examples of BCL classes with either static or instance `GetVal

[2016-03-03 12:48] TonyValenti commented on #9330
I was reading over all of these threads and I had a few thoughts I wanted to share:

It seems as though positional deconstruction and pattern matching go hand in hand.

I've used both in academia before.  It was fun because it let me express things more concisely _when I wrote the code_ but I absolutely hated it when I was looking at someone else's code because I had to wrap my brain around even m

[2016-03-03 13:12] HaloFour commented on #9411
@DavidArno @alrz

Per the next part of the same spec:

[2016-03-03 13:16] DavidArno commented on #9411
@HaloFour,

I don't follow what the phrase "If a reference to the tuple is readonly then the tuple is readonly". If tuples are structs, then they are values, not references! Guess I've missed something...

[2016-03-03 13:17] HaloFour commented on #9411
@DavidArno

I know, I noticed that too.  I assume that they used "reference" as a bad term for any of fields, locals and parameters.

[2016-03-03 13:23] HaloFour commented on #9411
@chrisaut Per the pattern matching spec you couldn't use an arbitrary expression as a subpattern to be used within a property pattern.  So, with pattern matching, you'd have the following:

[code]

[2016-03-03 13:27] Drauka commented on #7082
To further build the case for some investigation into this issue, I would add that we have the same issue in our dev team. Memory consumption increases to over 2.5Gb causing visual studio to become unresponsive to the point where the only option is to restart.

[2016-03-03 14:27] KathleenDollard commented on #9330
I chatted with @bjoeris about this last night. He's a polyglot geek and deep into Haskell. He misunderstood the positional syntax initially, then hated it.

If we want to do that, can we use curlies instead of parens on the positional syntax?

Of course I don't want the positional syntax at all, but the property name used to indicate any comparisons made.

[2016-03-03 16:03] copernicus365 commented on #155
@HaloFour, thanks for the response.

How is this going to work in the case of a ButtonBase class which has a number of Button classes that inherit from it, or a TooltipBase class which has a few or more Tooltip classes that implement it? Even worse a HtmlWidget class which ButtonBase and TooltipBase and all of their Buttons and Tooltip controls inherit from (this is true for my scenario, lots of b

[2016-03-03 16:11] lachbaer commented on #7881
@gafter Mission accomplished. :-) I'm going to examine the tests and clean up the code to push.

[2016-03-03 16:17] DustinCampbell commented on #9441
This is a duplicate of #3321.

[2016-03-03 16:17] #9441 closed

[2016-03-03 16:19] bbarry commented on #9330
I think the most straightforward way to do this would be with some sort of `Option<T>` struct:

    public struct Option<T> {
      private T _value;
      public bool HasValue { get; private set; }

      public T Value
      {
        get { return _value; }
        set
        {
          _value = value;
          HasValue = true;
        }
      }
    }

And a contextual keyword applicable to m

[2016-03-03 16:20] DustinCampbell commented on #9428
We should keep the *ability* to test ordering though. Ordering is important to Code Actions to keep user muscle memory from breaking and we need tests to ensure that we don't regress that.

[2016-03-03 16:21] copernicus365 commented on #155
Just a quick note, both LINQ and JQuery are all about sequences. Fluent APIs are by no means just about sequences, as indeed never the case in my fluent library. Sure, it could be for other fluent libraries, but I hope we can think first of all about single instances. The functionality is to be able to keep acting on a type, like for instance (StringBuilder): `sb.AppendLine("Hello").AppendLine("Wo

[2016-03-03 16:21] DustinCampbell commented on #9425
This looks like more fall out of the change to format in the presence of parse errors in VS 2015.

[2016-03-03 16:36] leppie commented on #9441
Sorry :)

[2016-03-03 16:47] leppie commented on #3321
sub

[2016-03-03 16:47] gafter commented on #9097
Fixed in [dotnet:features/patterns](https://github.com/dotnet/roslyn/tree/features/patterns) via #9443.

[2016-03-03 16:47] #9097 closed

[2016-03-03 16:51] gafter commented on #9073
Fixed in features/patterns via #9439.

[2016-03-03 16:51] #9073 closed

[2016-03-03 16:52] gafter commented on #9079
Fixed in features/patterns via #9440.

[2016-03-03 16:52] #9079 closed

[2016-03-03 16:53] gafter commented on #9080
Fixed in features/patterns via #9440.

[2016-03-03 16:53] #9080 closed

[2016-03-03 17:05] DustinCampbell commented on #9408
@jasonmalinowski is this a dupe of the other cross language test failures that you're looking at?

[2016-03-03 17:07] bondsbw commented on #9411
I also vote against using `is`.

`equals` is already a contextual keyword that has this same meaning in other contexts.
[code]
seems more consistent.

But frankly, I don't care for either.  I understand why `equals` is needed in LINQ, so that the full `join` clause can be executed at the target SQL instance, but I'm not sure I see its purpose here other than to introduce a new language element for

[2016-03-03 17:08] DustinCampbell commented on #8866
@brettfo -- is this a dupe of issue #9241?

[2016-03-03 17:11] DustinCampbell commented on #9412
@jasonmalinowski, we believe the first is a dupe of stuff you're already looking at and the second is a dupe of a bug introduced by another change that @Pilchie already reverted.

[2016-03-03 17:15] DustinCampbell commented on #9421
Resolving as won't fix. Could you validate that this works right on a clean machine?

[2016-03-03 17:19] DustinCampbell commented on #9428
Per @Pilchie's comment on #630 (which I agree with), let's work on deterministically getting the NuGet cache.

[2016-03-03 17:19] #9428 closed

[2016-03-03 17:20] #9421 closed

[2016-03-03 17:52] gafter commented on #7881
@lachbaer We have no interest in adding `=>` as a kind of replacement for a statement generally. Only for method bodies. Which is exactly what you've done, thank you very much.

[2016-03-03 17:59] jasonmalinowski commented on #9412
Dupe against #9308.

[2016-03-03 17:59] #9412 closed

[2016-03-03 18:00] tannergooding opened #9445 "All Integration Tests fail with RPC error."
Currently on `dci-win-rbld-6` (currently offline so @dotnet/roslyn-infrastructure can investigate further), attempting to run the integration tests causes all of them to fail with an RPC error.

The issue can be fixed by manually running `devenv.exe /rootSuffix RoslynDev`; however, the issue needs to be further debugged so we understand what is causing `StartTargetAction` to fail.

[2016-03-03 18:05] brettfo commented on #8866
Yes this is the same issue.  Closing this in favor of the other since I already have a PR out to make diagnosing the issue easier (see dotnet/roslyn-internal#626).

[2016-03-03 18:05] #8866 closed

[2016-03-03 18:18] HaloFour commented on #155
@copernicus365

You'd be required to re-override the methods.  There's nothing about the CLR or C# type systems which would allow for methods to be automagickally covariant in the way that you describe.  At *best* the C# compiler could put an attribute on the method to note that it *should* return the same type (or instance) as the instance on which it is called, but nothing could enforce that and

[2016-03-03 18:24] HaloFour commented on #9411
@bondsbw

That might make sense specifically with constant patterns, but what if the subpattern is another form of pattern?  Especially another form of type pattern which is already an extension of the `is` operator?

[code]

[2016-03-03 18:26] dpoeschl commented on #9421
@balajikris For testing this out on a machine with VS 2015 Update 1 or prior installed:

1. Navigate to `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\Roslyn\Language Services`
2. Make backup copies of `Microsoft.VisualStudio.LanguageService.CSharp.pkgdef` and `Microsoft.VisualStudio.LanguageServices.VisualBasic.pkgdef`
3. In both of the `Microsoft.Visu

[2016-03-03 18:43] alrz commented on #9178
Following #6953 I think it would be nice to not require `partial` on every member so,
[code]
Should be perfectly valid. Also access modifiers are "merged" just like for `partial class` meaning that either it should be the same in every part or it can be omitted in the `partial` declarations. But, obviously, only one of them can have a body. However, this woudn't be true for auto implemented proper

[2016-03-03 18:44] davkean opened #9451 "Add a determinism PR job that can be triggered"
There's no way to trigger determinism via a PR, we should add one, but not turn it on by default:

- [ ] Add determinism PR job via https://github.com/dotnet/roslyn/blob/master/netci.groovy
- [ ] Update stashpop defaults to list it as a available job

[2016-03-03 18:48] AlekseyTs opened #9452 "Need to get LDM approval for design change around scope of pattern variables declared within a constructor initializer"
The current spec says that the scope of pattern variables declared within a constructor initializer includes both the initializer and the constructor's body. However, it feels that extending the scope to the constructor's body provides no to little benefit to a developer. The reason is that, with exception of some trivial patters that can be statically proven to always match, the locals will not b

[2016-03-03 18:49] gafter opened #9453 "Allow throw expression on right of && and ||"
The LDM requested the following change to `throw-expression` in the [spec](https://github.com/dotnet/roslyn/blob/future/docs/features/patterns.md) and implementation:

Add to the contexts in which it is allowed:
- the right-hand side of `&&` and `||`
- the target of an explicit cast

Note that the current spec *already supports* a throw expression as the body of an expression-bodied lambda or meth

[2016-03-03 18:56] leppie commented on #9453
So will `throw` always be considered a an expression now? Is the 'assumed' type anything?

[2016-03-03 18:59] TyOverby opened #9454 "ETA test SplitFile is flaky"
Failures:

http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/4748/

[2016-03-03 19:05] bondsbw commented on #9411
@HaloFour
Sure, `is` makes sense for those patterns.  It is a synonym for the concept "has type of".

But I'm not sure if I can buy that `FirstName` has type of `"Mickey"`, that doesn't make much sense to me.

[2016-03-03 19:06] balajikris commented on #9421
verified that the above instructions fix the problem and that the problem resurfaces if the fix is rolled back.

[2016-03-03 19:08] miloush commented on #9425
So it is actually relevant to #2837. It's the same for if/else blocks.

[2016-03-03 19:11] alrz commented on #9411
`equals` makes sense for `join` because each side turns to a lambda but if you're going to special case it in patterns I prefer #8457. Not particularly related to this proposal though.

[2016-03-03 19:14] alrz commented on #9411
@bondsbw `FirstName is "Mickey"` is the consequence of overloading `is` with pattern-matching capabilities and `"Mickey"` being a *constant-pattern*. I agree that it doesn't feel right in this particular context.

[2016-03-03 19:17] bondsbw commented on #9411
@alrz Agreed.

So what would be the impact if `is` does not work with constant patterns, in general?  Is it just a simple question of preference?

[2016-03-03 19:27] alrz commented on #8457
@bondsbw Commenting in the related thread.

As currently specified `is` outside of property patterns doesn't accept constant patterns, per this proposal I expect something like this could be allowed in property subpatterns.

&emsp;*identifier* `<` *shift-expression*
&emsp;*identifier* `>` *shift-expression*
&emsp;*identifier* `<=` *shift-expression*
&emsp;*identifier* `>=` *shift-expression*
&emsp

[2016-03-03 19:29] HaloFour commented on #9411
@alrz @bondsbw Probably a conversation for #206 and not here.  While I think it might read better I think it would also be weird if different patterns used different verbs.

[code]

[2016-03-03 19:29] bondsbw commented on #9411
I mean, I can deal with the idea that `is` has evolved to pattern matching instead of just type matching.  But just as I don't like the fact that `join` only blesses equality (with merit), this seems to be doing the same (without merit).  I'm not sure the best solution but I like where #8457 is going.

[2016-03-03 19:38] balajikris commented on #9418
just a fallout from changing serialization format #9337 . won't happen on boxes that didn't have old data. and in the future, we can check serialization version which was encoded in #9337. All said, I'm still putting in a guard, just to protect against possibly corrupt data.

[2016-03-03 19:40] bondsbw commented on #8457
@alrz Those could definitely help, but I'm not sure if I would be comfortable with having those as subpatterns without allowing the full breadth of expression syntax, such as what @HaloFour mentioned:

[code]

Also could there be alternative ways to accomplish the same goals?  Such as
[code]

Forgive me if this is already covered in pattern matching, I get lost on some of those larger threads wher