[2018-02-13 19:14] rainersigwald commented on #24736
@jaredpar The bug appears to be in the task. Proposed #24812 as a fix; I think this bug should be reactivated and the MSBuild bug closed as a dupe.

[2018-02-13 19:17] VSadov commented on #24775
The bug has been fixed in Core FX. The fix is also tagged as “netfx-port-consider”.

Note that .NET FX has different release cadence and different bar for fixes, and that also depends on version/milestone. It is hard to tell at the moment when the fix will be ported.

[2018-02-13 19:22] jcouv commented on #24780
I'll move the issue over to corefx

[2018-02-13 19:22] #24780 closed

[2018-02-13 19:22] jcouv commented on #24780
Issue moved to [dotnet/corefx #27098](https://github.com/dotnet/corefx/issues/27098) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-13 19:25] jinujoseph commented on #24780
thanks @jcouv

[2018-02-13 19:26] Sergio0694 commented on #24776
@jaredpar I've got a partial repro here - it doesn't reproduce that same error, but for some reason every single time I open it Visual Studio doesn't last a single minute before crashing.

Hope this helps! 😄

[NeuralNetworkDotNetReproV1.zip](https://github.com/dotnet/roslyn/files/1721322/NeuralNetworkDotNetReproV1.zip)

[2018-02-13 19:27] jcouv commented on #24807
FYI @agocke

[2018-02-13 19:31] Neme12 commented on #24807
Can I take care of this?

[2018-02-13 19:33] krwq opened #24814 "Static array of static arrays enumeration causes NRE"
Not sure if this is compiler or some other component so putting here for now for triage. If this is not meant to work then at least compiler error or warning would be useful.
Switching field order (ab in the end) fixes the problem.

**Version Used**:

Also repros on full framework (.NET 4.7.02556 / VS Enterprise 15.6.0 Preview 5.0 [27409.1.d15.6])

[code]

**Steps to Reproduce**:

[code]

**Expect

[2018-02-13 19:43] VSadov opened #24815 "Make dynamic understand new language features."
This is an umbrella bug for all the issues related to **dynamic** is not being on parity with static compiler one way or another.

The reality is that while static version of the language is implemented here in https://github.com/dotnet/roslyn , the run-time behavior of the `dynamic` requires more.

The behavior of `dynamic` is implemented mostly in the dynamic binder which is a run-time component

[2018-02-13 20:06] jinujoseph commented on #24811
cc @DustinCampbell

[2018-02-13 20:19] JieCarolHu commented on #23890
I tested on build 27411 and the issue seems fixed already. The completion windows shows and works properly. No errors or exceptions after I press Up key >10 times.
@miloush @davkean Could you please update to the latest build and try again? Thanks!

![image](https://user-images.githubusercontent.com/17056651/36171135-4b753478-10b6-11e8-9c8c-c5dff3afdad1.png)

[2018-02-13 20:34] jcouv commented on #24807
@Neme12 Absolutely. Go for it!
You can enter the rabbit hole from `InlineTemporaryTests.cs` or `IntroduceVariableTests.cs` and go from there.

[2018-02-13 20:52] pakrym opened #24816 "csc.runtimeconfig.json is not correctly generated and is broken by additional deps light-up"
In Azure AppService ASP.NET Core ligthup scenario we bring additional deps and runtime store for 2.1-* runtime and set `DOTNET_ADDITIONAL_DEPS/ASPNETCORE_HOSTINGSTARTUPASSEMBLIES` environment variables that affect all dotnet processes

`csc.runtimeconfig.json` has TFM set to `netcoreapp2.0` but shared framework version `2.1.0-preview1-26116-04` which causes additional deps file to be resolved from

[2018-02-13 20:56] eerhardt commented on #24816
Who generates the `csc.runtimeconfig.json`?  Is it hard-coded to `tfm: netcoreapp2.0`?  If so, and you are targeting netcoreapp2.1, it should be updated.

If the dotnet/sdk generated an invalid runtimeconfig.json, then we have larger issues.

[2018-02-13 20:57] Suchiman commented on #21756
No longer reproduces in VS15.6 preview 4, probably duplicated by #24184

[2018-02-13 20:57] #21756 closed

[2018-02-13 20:58] CyrusNajmabadi commented on #24814
This is by design.

[code]

When you create 'ab' you're making an array of length 2, and putting the values of 'a' and 'b' into slot 0 and 1 of that array.  At that array creation point 'a' and 'b' do not have values, and thus are null.  so 'ab'  is an array of length 2 with 'null' values in every position.

If you want this to work, put the defintions of 'a' and 'b' above the definition of 'ab'.

[2018-02-13 21:00] CyrusNajmabadi commented on #24807
@dpoeschl Was this a failure in our test matrix approach?  Or did these features predate the test-matrix system entirely?

[2018-02-13 21:02] OmarTawfik commented on #24776
Seeing if I can get a smaller repro now.

[2018-02-13 21:03] Neme12 commented on #24807
There's a lot of tests in pairs like `TestIntroduceFieldInExpressionBodiedProperty` and `TestIntroduceLocalInExpressionBodiedProperty` in the code. I'm adding more for getters & setters & event add remove accessors & void vs non void methods & constructors & destructors & local functions, so there's going to be a lot of it. Do I still need to write a field version for each one as well, even though

[2018-02-13 21:07] CyrusNajmabadi commented on #24807
It depends.  Do you feel like there is a reasonable chance that one test could break while the other woudl stay functioning?  If so, add the test.  If you feel like any break would cause all of them to fail, then there's no need for the extra tests.

[2018-02-13 21:19] OmarTawfik commented on #24776
Attached the root cause to the issue (please see the top message). It is an unexpected value in escape rules.
cc @VSadov

[2018-02-13 21:28] #24810 closed

[2018-02-13 21:37] llyons commented on #21627
We have the same issue and have the following nuget packages in play for our solution.

  <package id="Autofac" version="4.6.2" targetFramework="net461" />
  <package id="Autofac.WebApi2" version="4.1.0" targetFramework="net461" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net451" />
  <package id

[2018-02-13 21:48] krwq commented on #24814
@CyrusNajmabadi I know the workaround (I included it in the issue) - my request was to add a warning/error about this if this is by design

[2018-02-13 21:55] CyrusNajmabadi commented on #24814
Definitely by design.  A warning would be breaking as there can be code out there that depends on this behavior.  Why would writing to a static field after that field has been captured be bad?  Code may absolutely to this :)

Now, if you still want a warning here, i would suggest writing your own analyzer that checks for this sort of thing and lets you know if you consider it a bad coding pattern

[2018-02-13 21:57] Jinhuafei commented on #21627
@llyons Can you provide more details about the issue? The vbcscompiler.exe under bin\Roslyn is only used when you precompile your web app and it is copied to the web app folder. You CI server reuses one folder for a web app? And also the default idle time of vbcscompiler.exe is 10 secs. If it's not short enough for you, you can change it through environment variable VBCSCOMPILER_TTL. (unit is seco

[2018-02-13 22:17] #24185 closed

[2018-02-13 22:25] tmat commented on #24815
Can we move the binder to a separate package, so that each app can carry their own? We might need to rename the DLL to avoid loading the one in .NET Framework.

[2018-02-13 22:50] Neme12 commented on #24807
@jcouv

how is this related to inline temporary?

[2018-02-13 22:59] jcouv commented on #24807
There are two scenarios described in this issue. One is inline temporary and the other is [introduce variable](https://github.com/dotnet/roslyn/issues/24807#issuecomment-365285086).
The two tests files I named are where I would add repros and start the investigation from.

[2018-02-13 23:03] Neme12 commented on #24807
@jcouv I'm sorry I don't understand what's the scenario with inline temporary? The issue only describes a problem with "introduce local". Are you saying inline temporary should convert the method back to an expression body? It currently doesn't do that.

[2018-02-13 23:04] #14444 closed

[2018-02-13 23:06] sharwell commented on #22399
@Pilchie we should see some improvements in this metric as a secondary outcome of analyzer driver performance work in 15.6. Most of the performance improvements shipped in Preview 4, but a few (and notably #23519) shipped after.

[2018-02-13 23:17] JieCarolHu commented on #23030
@isc30 Could you start working on this issue as we haven't heard back from @dwalleck
Thanks!

[2018-02-13 23:22] llyons commented on #21627
Hi Jinhuafei,   I am not sure what additional information you might need.

Our CI build process pulls down the code, performs an MSBUILD on the solution file which spawns a version of VBCSCompiler.   10 minutes later when the next build runs and does a github pull or clone of the repo on top of the same folder structure, it fails to complete because files are locked.  So it does always reuse the s

[2018-02-13 23:41] jcouv commented on #24807
@Neme12 My bad :-)
I incorrectly read OP (thought it related to inline temporary).

[2018-02-13 23:44] Sergio0694 commented on #24776
@OmarTawfik Sure, glad I could help! 😄

[2018-02-14 02:08] sharwell commented on #23030
@isc30 If your default operating system language is something other than en-US, then than is *currently* expected, but we are working to fix it. It should still be possible to run individual tests from Test Explorer in Visual Studio 2017 version 15.6 Preview 4 and newer.

[2018-02-14 02:16] pakrym commented on #24816
/cc @jaredpar this affects preview1 release.

[2018-02-14 02:27] vsfeedback opened #24823 "Add CamelHumps selection similar to that of resharper"
ReSharper has a CamelHumps option which lets you select segments of text based on the casing. Using Ctrl+Shift + left or right will select segments of CamelCasedText instead of the entire thing. I'd really like to see visual studio support this out of the box.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/46440/add-camelhumps-selection-similar-to-that

[2018-02-14 02:29] jaredpar commented on #24816
This behavior is by design. The 2.1 runtime is supposed to automatically roll 2.0 apps to 2.1. Until such a time that it's implemented the hosting components of Roslyn, such as CLI, simply overwrite our config file to have 2.1.

[2018-02-14 02:29] #24816 closed

[2018-02-14 03:01] davkean commented on #23890
@JieCarolHu I can still repro this on VisualStudio.15.IntPreview/15.6.0-pre.5.0+27411.0.d15.6 with same stack:
[code]

[2018-02-14 03:04] davkean commented on #23890
Be sure to follow the repro instructions exactly, my screen shot was a little wrong - notice I'm at the top of the completion window. I've updated the screen shot.

[2018-02-14 04:17] cartermp opened #24825 "Rename buffers are slow in the F# editor in a .NET Core SDK project"
**Version Used**:

VS 15.6 Preview 4

**Steps to Reproduce**:

Code:

[code]

Rename on `validateQuery` and type fast-ish. Then do it again.

**Expected Behavior**:

All buffers in the editor change as I type.

**Actual Behavior**:

Severe lag:

![rename-buffer-slow](https://user-images.githubusercontent.com/6309070/36187567-f369d8f2-10fa-11e8-9b1d-c22140a3c07b.gif)

[2018-02-14 05:42] ranuka2 commented on #23048
Thank you @jcouv for the information.

[2018-02-14 06:05] jcouv opened #24826 "[Feature request] Offer completion when defining a variable that is already used but squiggled"
I've run into this situation a few times, where I use a non-existing variable first, and then want to define it. When typing that definition, IntelliSense doesn't help typing the same identifier.

![image](https://user-images.githubusercontent.com/12466233/36189680-bf107864-1108-11e8-84d7-cfc8bde98881.png)

This could be extended to offer variable identifiers that already exist elsewhere in the co

[2018-02-14 06:47] jcouv commented on #24566
It seems feasible, although would probably incur some overhead (we'd want to save object references for the arguments, rather than their string representations as we do today).

From quick discussion with @AlekseyTs and @gafter, we could expose a new array of objects from `Diagnostic` (or maybe some of its sub-classes). Some of those objects would be amenable to pretty-printing (we'd add an interf

[2018-02-14 07:06] #24805 closed

[2018-02-14 07:08] jcouv commented on #24814
Tagging @gafter Is this something we'd want to consider for warning wave, or should we close as by-design?

[2018-02-14 07:09] jcouv commented on #24784
Sounds like the issue is resolved. I'll go ahead and close.
Feel free to re-open if not the case.

[2018-02-14 07:09] #24784 closed

[2018-02-14 07:31] jcouv commented on #24413
Relates to https://github.com/dotnet/roslyn/issues/16529

[2018-02-14 07:34] paul1956 opened #24827 "Can we get NormalizeWhiteSpace that Preserves LineFeeds"
**Version Used**:
All
**Steps to Reproduce**:
1. Add extra EndOfLine Trivia or Put EndOfLIne Trivia after OperandTokens
2. Call NormalizeWhiteSpace
3. This is specifically for VB but it may apply to all languages

**Desired Behavior**:
The EndOfLine Trivia is preserved
**Actual Behavior**:
All unrequired EndOfLine Trivia are removed

Today I need to call NormalizeWhiteSpace for indenting and addin

[2018-02-14 07:37] CyrusNajmabadi commented on #24826
I think this just goes into the category of "intelliSense should be able to complete any word written in your project anywhere".  There's no need for it to just be completing a missing identifier.  if you had written:

[code]

We should be able to complete out to 'someIdentifier' here.

[2018-02-14 07:40] CyrusNajmabadi commented on #24827
Why not Normalize, then do a pass where you put in linefeeds where you want them?

If you want more flexible behavior, why not use the formatting functionality exposed through the workspace layer?

[2018-02-14 08:13] astolpmann opened #24835 "ErrorLog and suppressed errors lead to error in csc.dll"
**Version Used**:
[code]

**Steps to Reproduce**:

1. ``PS E:\Projekte\!Test\ErrorLogTest> dotnet new console``
2. ``PS E:\Projekte\!Test\ErrorLogTest> dotnet add package Microsoft.CodeAnalysis.FxCopAnalyzers``

3. Disable CA1801 using ``#pragma warning disable CA1801``:
[code]
4. Build the project treating warnings as errors and log analysis report to report.json
``dotnet build /p:TreatWarningsAs

[2018-02-14 08:34] paul1956 commented on #24827
I can't do the first because I am adding the CRLF while visiting node in the tree and don't know I am done or where to call it. I will look into the second option, any pointer would be helpful.

[2018-02-14 08:49] CyrusNajmabadi commented on #24827
WHy not just do a post pass once you have your 'near' final tree.  i.e. once you call .NormalizeWhitespace, why not just mutate that resultant tree to add newlines where you want them?

https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Formatting/Formatter.cs

This is the API the IDE uses to do all formatting for C# and VB documents.

[2018-02-14 09:20] heejaechang opened #24836 "Consider removing SessionWithSolution so that we can make connection truely stateless"
right now, we have this
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Remote/RemoteHostSessionHelpers.cs,376af83bf115084c

that has
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Remote/RemoteHostClient.cs,110

just to remove Solution from each call. not sure whether that's worth it since it just makes things complex since connection becomes stateful.

we might consider ju

[2018-02-14 09:40] paul1956 commented on #24827
Maybe I don't understand something. I have a Tree A with EndOfLine Trivia everywhere I want it but few spaces. I have Tree B after calling NormalizeWhiteSpace, it has all the pretty formatting but missing my CRLF's and the leading white space after my CRLF's. Is there a way to match the nodes, add the missing EndOfLine and the correct leading whitespace Trivia producing Tree C? I am adding the CRL

[2018-02-14 09:50] CyrusNajmabadi commented on #24827
you could always add annotations to the nodes so you could find those same nodes afterwards and then re-add the crlfs back to them.

Right now you are using NormalizeWhitespace.  One of the core concepts about NormalizeWhitespace is that it normalizes.  Effectively, it takes in all input and produces a totally normalized form.  If you want behavior that is different from that then you should eithe

[2018-02-14 09:52] heejaechang opened #24837 "use Dispose/Disposing pattern in Connection"
RemoteHostClient.Connection. use Dispose/Disposing pattern.

[2018-02-14 10:49] #19792 closed

[2018-02-14 13:05] #21563 closed

[2018-02-14 14:01] Diaskhan commented on #16846
This coment could fix you're  issue ???
https://github.com/dotnet/roslyn/issues/22905#issuecomment-342468835

Actually, i'am to working on solution that could create class model, generate migrations, and all source code will compile to assembly ! Its not simple as i thoght !

Could U share a project, I wanna see how u're solution is constructed !

[2018-02-14 14:11] blitterGitter opened #24839 "Scripting not working on Server - Method not found exception"
**Version Used**:
2.6.1

**Steps to Reproduce**:

1. Create a VisualStudio Solution with Template SharePoint Empty Project
2. Add a Visual Webpart to the Project and insert a CSharpScript-Snippet to be run or evaluated to the Page_load.Method

**Expected Behavior**:
it should run (as it does with version 1.3.2)

**Actual Behavior**:
Error thrown - Method not found: 'System.Collections.Immutable.Im

[2018-02-14 16:00] eerhardt commented on #24816
The issue is the mismatch of `tfm: netcoreapp2.0` and `"framework/version": 2.1.0-xxx`.  These two versions should be aligned, if I'm not mistaken.

/cc @steveharter @livarcocc

[2018-02-14 16:03] jaredpar commented on #24816
The 2.1 runtime should allow for apps that target 2.0 to silently roll forward. That is the design we're operating on.

If it's not the design then csc will literally have to multi-target for every runtime that exists going forward. That's not a sensible design.

[2018-02-14 16:09] eerhardt commented on #24816
@steveharter - have you given thought to how the store and additional-deps features will work in the roll forward case?

@jaredpar - so what you are saying is that when roll-forward comes in (which I think it is already in the latest 2.1 builds), then the CLI will no longer need to overwrite the `csc.runtimeconfig.json` file.  So the file should always look like:

[code]

(Note the framework/versi

[2018-02-14 16:13] jaredpar commented on #24816
I'm less familiar with the runtimeconfig.json file format so can't speak with confidence to what it will look like. But my understanding is we will be able to build apps with a TF of netcoreapp2.0 and have them run on any 2.X runtime.

[2018-02-14 16:27] kuhlenh commented on #24566
One thing I've been wanting to do is add the 'error icon' into the hover Quick Info to make the error message stand out more. If we were to colorize the error message without adding this, it would be extremely difficult to locate the error message inside the Quick Info.

@markw-t owns Quick Info and the Error List and can chime in more.

[2018-02-14 17:32] MkazemAkhgary opened #24841 "Unexpected overload used for completion in incomplete code"
**Version Used**:  15.5.5

**Steps to Reproduce**:

write this class

    public class Test<TKey, TValue>
    {
        public void AddOrUpdate(TKey key, TValue value, Func<(TKey key, TValue newValue, TValue oldValue), TValue> updateFunction)
        {
        }

        public void AddOrUpdate(TKey key, Func<TKey, TValue> addFunction, Func<(TKey key, TValue oldValue), TValue> updateFunction)

[2018-02-14 17:48] Jinhuafei commented on #21627
Thanks for the details. You can consider to use VBCSCOMPILER_TTL environment variable to reduce the TTL of VBCSCompiler.exe.

[2018-02-14 18:11] #24714 closed

[2018-02-14 18:13] jinujoseph commented on #7364
Fix available in 15.6. Preview6 +

[2018-02-14 18:13] #7364 closed

[2018-02-14 19:28] JieCarolHu commented on #23890
Thanks, I am able to repro it now :)
I need to keep on pressing the Up key until the highlight reaches the very top space in the completion window. I will look into it.

[2018-02-14 19:53] pakrym commented on #24816
Reopened on CLI: https://github.com/dotnet/cli/issues/8613

[2018-02-14 20:26] miloush opened #24844 "Typing does not produce any out of BMP characters during rename session"
**Version Used**: 15.6 Preview 5 / 2.7.0.62608

**Steps to Reproduce**:

1. Enable Gothic input language
2. Create a new console application.
3. Enter renaming session, e.g. press F2 to rename the Program class name.
4. Type using the Gothic keyboard.

**Expected Behavior**: Typing renames the class.

**Actual Behavior**: Nothing happening.

Might be related to #24845

[2018-02-14 20:42] jasonmalinowski commented on #24155
#24748 merged.

[2018-02-14 20:42] #24155 closed

[2018-02-14 20:47] #20382 closed

[2018-02-14 20:48] #17393 closed

[2018-02-14 20:49] jcouv commented on #24791
Fix is going into 15.7

[2018-02-14 20:49] #24791 closed

[2018-02-14 20:53] miloush opened #24845 "Document encoding can throw in SourceTextStream.Read"
**Version Used**: 15.6 Preview 4 /  2.7.0.62604

Cannot reproduce this one reliably. However, http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis/Text/SourceTextStream.cs,34 seems to use the document's encoding if available, but that encoding can throw in `Convert|http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis/Text/SourceTextStream.cs,104].` Either

[code]

[2018-02-14 21:28] miloush commented on #24845
[code]

Faulting application name: devenv.exe, version: 15.6.27406.0, time stamp: 0x5a79a3d6
Faulting module name: unknown, version: 0.0.0.0, time stamp: 0x00000000
Exception code: 0x80131623
Fault offset: 0x1971d11a
Faulting process ID: 0x364
Faulting application start time: 0x01d3a5a21d3fa6d0
Faulting application path: C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\Common7\IDE

[2018-02-14 21:28] miloush commented on #24845
[code]
Faulting application name: devenv.exe, version: 15.6.27406.0, time stamp: 0x5a79a3d6
Faulting module name: unknown, version: 0.0.0.0, time stamp: 0x00000000
Exception code: 0x80131623
Fault offset: 0x188827ba
Faulting process ID: 0x4ddc
Faulting application start time: 0x01d3a5d181de9191
Faulting application path: C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\Common7\IDE

[2018-02-14 21:32] TIHan opened #24846 "Flaky Test - TestRegionCompletionCommitFormatting"
```Microsoft.CodeAnalysis.Editor.UnitTests.IntelliSense.CSharpCompletionCommandHandlerTests_Projections.TestRegionCompletionCommitFormatting [FAIL]```

Projections.TestRegionCompletionCommitFormatting is skipped because it is flaky.

[2018-02-14 21:43] #24262 closed

[2018-02-14 21:59] TIHan opened #24850 "Flaky Test - Skipped PasteCommandWithOutInteractiveFormat test"
```Microsoft.CodeAnalysis.Editor.UnitTests.InteractivePaste.InteractivePasteCommandhandlerTests.PasteCommandWithOutInteractiveFormat [FAIL]```

PasteCommandWithOutInteractiveFormat test is being skipped.

[2018-02-14 22:33] llyons commented on #21627
Hi Jinhuafei,   if the default is 10 seconds and it never unloads itself, I am not sure how changing the environment variable would help.  We had to use a taskkill statement in another step of the build process to get around this.   This is a problem for people who build software using a build system like jenkins or bamboo or teamcity.

[2018-02-14 22:50] Jinhuafei commented on #21627
Codedom provider uses the following logic to set TTL of VBCSCompiler(code is [here](https://github.com/aspnet/RoslynCodeDomProvider/blob/master/src/Microsoft.CodeDom.Providers.DotNetCompilerPlatform/Util/CompilationSettings.cs)).
1. if there is VBCSCOMPILER_TTL environment variable and it's an integer, it will just use this value
2. if there is DEV_ENVIRONMENT or IN_DEBUG_MODE environment variable

[2018-02-14 23:07] #24035 closed

[2018-02-14 23:07] #17646 closed

[2018-02-14 23:29] jcouv opened #24853 "Introduce Local: multiple unnecessary casts generated and also not grayed out"
This came up while working on Roslyn test `RefReadOnlyIsWrittenToMetadata_SameAssembly_Method` in PR https://github.com/dotnet/roslyn/pull/24492

Select `((PEModuleSymbol)module)` and invoke "Introduce Local" for all occurrences. The generated code is peppered with unnecessary casts.

![image](https://user-images.githubusercontent.com/12466233/36233488-2d56c87c-119b-11e8-8bfa-efc31eaf2134.png)

![

[2018-02-14 23:59] #20355 closed

[2018-02-14 23:59] #21329 closed

[2018-02-15 00:03] kuhlenh opened #24856 "Ctrl+Alt+Click for Go To Implementation"
Several developers have asked us to extend Ctrl+Click for Go To Definition to work for Go To Implementation. They are expecting "Ctrl+Alt+Click" to take them to Implementations.

[2018-02-15 00:40] ryanbrandenburg commented on #23846
It's hard to know what to do to create a smaller repro since this fails pretty rarely. I've set a machine to infinitely build aspnet/Logging so see if that won't reproduce it. In the mean time I'll see about making our machines produce dumps.

[2018-02-15 01:13] danmosemsft commented on #23846
Note there are two symptoms here (255 on Windows and 139 on Linux) and I do not see evidence that they are the same root cause. For 255, hopefully  #23743 will help.

[2018-02-15 01:20] gafter opened #24865 "Compiler does not detect exhaustive bool switch"
Reported by @HaloFour in https://github.com/dotnet/csharplang/issues/1054#issuecomment-365797468

The compiler does not determine `b` to be definitely assigned unless you also have `default` case which assigns `b`:

[code]

That's clearly exhaustive.

[2018-02-15 01:38] HaloFour commented on #24865
The situation is the same with enums:

[code]

Yes, technically one could argue that a match against an enum can't be exhaustive given that the enums value technically could be some arbitrary integer that doesn't match to one of its members but I seem to recall a conversation on this repo somewhere where the compiler wouldn't consider those cases.  I'll try to scan for such a conversation and link

[2018-02-15 01:47] HaloFour commented on #24865
I might be thinking of this conversation:  #11438

In which case it was explicitly decided that matching `true` and `false` of a `bool` would be considered exhaustive but not with `enum`.  Still something that I think is worth exploring in the future.

[2018-02-15 02:36] jnm2 commented on #24865
Just bringing [this](https://github.com/dotnet/csharplang/issues/544#issuecomment-300179855) back up again to find out what the compiler will do. If the compiler considered `true`, `false` to be complete, theoretically I could access uninitialized memory depending on the runtime?

[code]

Or would the implementation of the switch then change to be like `if` (non-zero check)?

[code]

[2018-02-15 03:13] sharwell commented on #24749
Do you have a link to a Jenkins run where this failed?

[2018-02-15 03:25] jnm2 commented on #24865
@tannergooding Does it? It's possible to store more than 8 bits in a `byte` memory location?

[2018-02-15 03:26] jnm2 commented on #24865
@tannergooding Does it? It's possible to store more than 8 bits in a `byte` memory location?

I would expect this to show up in the wild  in combination with interop.

[2018-02-15 03:40] tannergooding commented on #24865
A `byte` is always 1-byte in memory. It is possible for it to be larger in register, and it is possible for additional padding bytes to surround it, but reading those padding bytes would be a bug since they could be arbitrary values.

[2018-02-15 04:17] MelbourneDeveloper commented on #24630
What's worse is that it's looking for the DLL in a different spot every time I try to compile. Today, in two separate instances of our app it was looking for the DLL in two totally separate places:

C:\Windows\system32\config\systemprofile\AppData\Local\assembly\dl3\B5N7J6PK.VEP\R05DGG64.W7A\3fb27b74\9364362e_23a5d301\System.Runtime.dll
C:\Windows\system32\config\systemprofile\AppData\Local\assemb

[2018-02-15 07:16] mkrueger opened #24868 "Completion after using keyword should be in suggestion mode"
If I type using, completion comes up with a list of namespaces. However, it's in completion mode. If I try to type an alias (e.g. using BF = System.Reflection.BindingFlags) it interferes with me typing the alias. It should be in suggestion mode.

[2018-02-15 07:18] #24868 closed

[2018-02-15 07:44] CyrusNajmabadi commented on #24868
it is.  But ```<space>``` should not complete the item.  so if you type "using BF =" it should to the right thing.

[2018-02-15 07:55] mkrueger commented on #24868
I need to investigate that - seems we've a bug on our side.

However VS.NET suffers a bit from that as well:

type
using en<space>

it ends up as

using enum

Howver typing using sy =  works it's not completed as using system. In VS4Mac it currently ends up as 'using system' so it's something we need to fix on our side. However the original bug is still an issue in some cases.

[2018-02-15 09:52] skleg commented on #23887
I'm running VS.2015 version 15.5.6 with VB.Net and have the same issue with renaming when VS crashes.
It happens when I'm typing a new name of a property/class and there is already a same property/class in the project.
Say I have two properties:

_BigDog
BigCat_

And now I want to rename _BigDog_ to _BigCatfish_. I select BigDog and start typing:

_BigCat_

Here VS freezes and crashes after a whil

[2018-02-15 10:00] sergeykorolevsky commented on #17085
I've faced this issue with last VS2017 version 15.5.6, OS - Win8.1

[2018-02-15 13:35] alrz commented on #24488
@gafter How would you imagine we can make this work? maybe we could define regions on a statement range (what we do today) but include/limit usage positions to be returned for FlowsIn etc.

[2018-02-15 13:49] sharwell commented on #23074
:link: Also seen here: https://developercommunity.visualstudio.com/content/problem/196749/servicehubhostclr-high-cpu-usage.html

[2018-02-15 16:36] cston opened #24869 "StackOverflowException reporting error in overload resolution"
Compile:
[code]

[2018-02-15 17:19] jcouv commented on #24869
The repeating portion of the stack:
[code]

I couldn't see the entry point because VS truncates the stack.

[2018-02-15 17:23] jcouv commented on #24841
Tagging @gafter for advisement

[2018-02-15 18:58] gafter commented on #24865
The code generated for a pattern-match on a boolean constant like `true` or `false` will be like the code we produce for an `if` statement. We test for zero (or non-zero). We don't bother testing both of them; if one fails, the compiler "knows" the other will succeed. So sneaky `bool` values won't do anything "wrong".

We have previously decided that enumerating the values of types other than `boo

[2018-02-15 19:00] gafter commented on #11438
In the future, I will be using the term exhaustive/exhaustiveness instead of complete/completeness for this aspect of pattern-matching.

[2018-02-15 19:16] CyrusNajmabadi commented on #24868
Yup.  This ties into how roslyn completion items can individually customize the 'commit' characters.  Not sure if this data is contained in the info sent over to VS4mac.

[2018-02-15 19:23] jcouv commented on #24869
Found the top of the stack (first call to compiler):
[code]

[2018-02-15 19:37] cston commented on #24869
The same exception is hit with simple command line compile: `csc -t:library program.cs`

[2018-02-15 19:38] prasad12k opened #24871 "Run .Ruleset files using .build files+vs2017"
# Run .Ruleset files using .build files
How to use code analysis in vs2017 to create .ruleset file.Have to create manually or any tool available.
How to create .ruleset file having  .net libraries  (custom rulesets) and include ruleset file in .build file.
Build the solution in command prompt (Vs2017)
we have support to run rulseet files using .build files ?
or
Any tools to run ruleset file while

[2018-02-15 19:38] heejaechang commented on #24836
also, when we do, consider renaming KeepAliveSession to StatefulSession

[2018-02-15 19:43] jcouv commented on #24869
Thanks. This works as a repro:
[code]

[2018-02-15 20:10] AdamSpeight2008 opened #24872 "Accept License Terms?"
Is there an approved set of license terms that have to be accepted? Before the user can install a roslyn derived compiler VSIX? That is one that is non-official release, or still experimental.

So the we (Microsoft and releasee) can't accept liability for any loses from using it.

[2018-02-15 20:20] rainersigwald commented on #19128
Folks that are seeing problems on VSTS: what [hosted agent queue](https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/hosted) are you running under? You should select **Hosted VS2017** to use MSBuild 15.

[2018-02-15 20:30] agocke commented on #22891
This appears to have been fixed by #24393

[2018-02-15 20:30] #22891 closed

[2018-02-15 20:48] gafter commented on #24872
The code is licensed under the [Apache 2.0 license](https://github.com/dotnet/roslyn/blob/master/License.txt). "Installing" is a kind of copying that would not be permitted unless the recipient is relying on the terms of the license.

[2018-02-15 20:48] #24872 closed

[2018-02-15 20:50] dwalleck commented on #23030
@sharwell @JieCarolHu Sorry about the communication blackout. Picking up a new task with a newborn was bad planning on my part :-) If there's any other first timers issues in the future, I'd definitely be interested in picking one up

[2018-02-15 20:55] VSadov opened #24873 "IsSafeForReordering forwards unboxing conversion to the underlying operand. Is that correct?"
Technically unboxing is not sideeffects-free, since it can throw.

Same goes for other explicit conversions. If they can throw, are they not reorderable regardless of the operand?

[2018-02-15 21:36] halter73 commented on #24137
@natemcmaster @agocke Do either of you know what version of the dotnet SDK was fixed in? I'm still seeing this issue when building Kestrel's dev branch on a mac.

[code]

[code]

[2018-02-15 21:40] VSadov opened #24874 "Ref reassignment should propagate `readonly` as proposed."
- if LHS is readonly, the whole expression is readonly

It looks like the logic above is NYI.

Example:

[code]

[2018-02-15 21:42] natemcmaster commented on #24137
@halter73 try updating kestrel to the latest build tools by running `build.sh -u`. We upgraded the SDK in build tools a few days ago, but that change won't propagate automatically to kestrel until Sunday.

[2018-02-15 21:43] VSadov commented on #24874
CC: @agocke

[2018-02-15 21:44] heejaechang opened #24875 "take advantage of Trackspan of ITextImage that are used as underlying implementation of SnapshotSourceText"
currently, in a lot of places, we move back and forth between roslyn SourceText to Editor ITextSnapshot just to move some span around between snapshots.

if we make SourceText to be able to do so (even for internal only), we probably can remove many places where we need to find Editor ITextSnapshot from SourceText.

[2018-02-15 21:45] heejaechang commented on #24875
related to this - https://github.com/dotnet/roslyn/pull/24849

[2018-02-15 22:05] halter73 commented on #24137
@natemcmaster That did the trick. Thanks.

[2018-02-15 22:15] kuhlenh opened #24877 "Categorize References by Read/Write"
The C++ team has this in their Find All References, where users can filter to see only read/write usages.

Relates to https://github.com/dotnet/roslyn/issues/903.

[2018-02-15 22:23] kuhlenh opened #24878 "Go To All : Include Go To Recent Files"
Prioritize recent/open files in Go To All because most of the time developers are working in the same set of files. This will also probably help with "perceived performance".

[2018-02-15 22:45] davidcsguitar commented on #21627
Install "Microsoft.Net.Compilers" with Manage Nuget Package

![image](https://user-images.githubusercontent.com/11466709/36285032-aa9877de-126f-11e8-9d15-04a696ff575b.png)

[2018-02-15 22:53] taori opened #24879 "Is pattern matching not supposed to be used like this?"
**Version Used**:
C# 7.1

**Steps to Reproduce**:

![grafik](https://user-images.githubusercontent.com/5545184/36285095-9770926e-12aa-11e8-9419-cff6171f0ef5.png)

**Expected Behavior**:
no initializer error
**Actual Behavior**:
initializer error

A workaround is to rename variables on the end of it with another pattern matching expression, which is obviously rather ugly. Could pattern matching be

[2018-02-15 23:01] steveharter commented on #24816
Anything more specifically?

The additional-deps is processed after the app's deps file, but before the framework deps, so any additional-deps entries will "win" over framework entries by default. However, pending completion of https://github.com/dotnet/core-setup/issues/3546 for 2.1, if a minor roll-forward has occurred on a framework, then the framework may win pending AssemblyVersion\FileVersio

[2018-02-15 23:07] gafter commented on #24879
No, it is not supposed to be used like this.

A pattern variable is only _definitely assigned_ when the pattern matches. Since you're using the pattern variable `activateFeedbackPage` outside of the `if` statement where the pattern-matching operation occurs, it might not be definitely assigned where you use it.

[2018-02-15 23:09] gafter commented on #24879
Moving to csharplang to be considered there.

[2018-02-15 23:09] gafter commented on #24879
Issue moved to [dotnet/csharplang #1326](https://github.com/dotnet/csharplang/issues/1326) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-15 23:09] #24879 closed

[2018-02-15 23:16] eerhardt commented on #24816
Specifically this exact issue.  The app says `tfm: netcoreapp2.0` and `framework/version: 2.0.0`.  But only a `netcoreapp2.1` store and the `2.1` shared framework are installed on the machine.  If additional-deps are passed, these additional dependencies won't be found because there is no `netcoreapp2.0` store on the machine.

[2018-02-15 23:22] kuhlenh opened #24880 "Offer variable name suggestions in a Rename session"
We currently offer "smart" variable name suggestions while you are typing, but we don't do it when you are renaming...

[2018-02-15 23:38] ciaphas01 opened #24881 "VisualBasicSyntaxTree.ParseText with SourceCodeKind.Script option does not always parse Dim statements correctly"
**Version Used**:
v2.6.1 of all NuGet packages

**Steps to Reproduce**:

1. `
 SyntaxTree scriptTree = VisualBasicSyntaxTree.ParseText("Dim foo As Integer = 4", new VisualBasicParseOptions(kind: SourceCodeKind.Script));
`
2. Examine the resulting tree by standard methods

**Expected Behavior**:

Expected the SyntaxNode representing the Dim statement to be a LocalDeclarationSyntax

**Actual Behavio

[2018-02-15 23:44] jcouv commented on #20343
I suspect this is already fixed. I tried in Docker (using those [instructions](https://github.com/dotnet/sdk/issues/1686)) using the `dotnet` that is installed as part of Roslyn build infrastructure.

The following command succeeded and produced `Bar.exe` and `Bar.pdb` files:
`./Binaries/Tools/dotnet/dotnet ./Binaries/Tools/dotnet/sdk/2.2.0-preview1-007622/Roslyn/bincore/csc.dll /debug+ Bar.cs  /r

[2018-02-16 00:34] jcouv commented on #24835
@astolpmann I wasn't able to repro.
Would you mind retrying from your side, maybe with a newer version of `dotnet` to see if you still get the problem?

When running the `build` command, I'm getting:
[code]

Some theories:
- maybe you were affected by a bug where `dotnet` only reported `csc.dll" exited with code 1` but didn't print the compiler diagnostics. I think that bug was fixed recently.
- m

[2018-02-16 00:51] gafter commented on #24865
To work around this (#24865) bug in the compiler, add `when true` to one of the branches of your switch.

[2018-02-16 01:34] jasonmalinowski commented on #23074
FYI that #24883 _might_ fix this bug. Not sure. I am seeing debug asserts in linked file editing scenarios, and that might point to missync issues causing this bug. Somebody would have to give a better chance at reproing this in linked file cases.

[2018-02-16 05:25] AArnott opened #24885 "Analyzer packages are hard to create and do right"
Properly packaging up analyzers is not automatic. .NET SDK projects that contain analyzers pack themselves with the analyzer assembly in the lib folder instead of the `analyzers\cs` folder. Fixing this requires suppressing default lib folder placement then writing a custom target to output the right set of assemblies. Care is required to properly suppress all (or most) package dependencies includi

[2018-02-16 05:34] VSadov commented on #24806
a nasty little bug ...

[2018-02-16 05:36] VSadov commented on #24806
There are many interesting ways for it to appear. Some not related to `in` parameters at all.

For example:
[code]

[2018-02-16 05:49] davkean opened #24886 "Find All References should give a better message when not invoked on a symbol"
I thought FAR was broken every 1 out of 10 searches because it stated:

![image](https://user-images.githubusercontent.com/1103906/36295075-1dd7750a-1339-11e8-9aa0-71d7cd1a1ef8.png)

Turns out, 1 out of 10 searches I miss the symbol and do a FAR on whitespace, and it shows the above.

Other commands give a better indication that haven't chosen a symbol, FAR should do the same thing.

[2018-02-16 06:07] VSadov commented on #24806
There are only two cases where it is possible to pass an RValue "by reference" in C#.
(Actually there are 4, but the cases with `ref dynamic` and omitted `ref` in COM are not interesting since the argument still has a value semantics)

The interesting cases are:
- a receiver of a struct/generic call, which always existed, and now
- an ordinary byval argument that ends up passed to an `in` paramete

[2018-02-16 06:23] jcouv commented on #24881
I believe that's expected. Tagging @AlekseyTs @tmat to confirm.

[2018-02-16 07:38] SteamUpdate opened #24887 "Compiler ignore `new` keyword for properties"
**Version Used**:
All libs are 2.6.0.0:
Microsoft.CodeAnalysis
Microsoft.CodeAnalysis.CSharp
Microsoft.CodeAnalysis.CSharp.Workspaces

**Steps to Reproduce**:

1. Write some code, for example:
[code]
2. Compile this code with Roslyn:
[code]
`result.Success` return `true`
3. Decompilate `Test.dll` (I use dotPeek)

**Expected Behavior**:
I want to see this code:
[code]
**Actual Behavior**:
But i see

[2018-02-16 07:54] MkazemAkhgary opened #24888 "Much slower debugger whith conditional break points"
I'm not sure if this is the right place.

I'm wondering why breakpoints with condition are much slower than normal breakpoints or no breakpoints.

If I put no breakpoint and run my program it takes about 1 second to finish. If I put conditional break point it takes 5 seconds to reach that break point.

 obviously doing nothing is faster than doing something. but a simple condition like `p >= 75700

[2018-02-16 08:09] ciaphas01 commented on #24881
Thanks @jcouv (and thanks for adding the tags, I don't know my way around GitHub at all).

To add context, I was attempting to allow the body of a function (well, sub) to be inserted at runtime, as an attempt at making a runtime VB scripting API simplar to what Microsoft provides for C# in Microsoft.CodeAnalysis.CSharp.Scripting. I don't have the code with me here, but the basic idea was I would h

[2018-02-16 09:06] MkazemAkhgary opened #24896 "Convert var to explicit type name."
light bulb to convert `var` to explicit type name and vice versa would be useful. (similar in resharper)

[2018-02-16 09:23] Joe4evr commented on #24896
This already exists if you configure your Code Style to "Prefer explicit type".
![](https://i.imgur.com/0JNZefW.png)
![](https://i.imgur.com/psQZ9WU.png)

[2018-02-16 10:01] MkazemAkhgary commented on #24896
Oh, I see. thanks for sharing it.

[2018-02-16 10:03] CyrusNajmabadi commented on #24856
What does it mean to "inline" the result? Does that mean "use the peek window"?

[2018-02-16 10:06] MkazemAkhgary commented on #24896
@Joe4evr It was good if it was available as lightbulb. because I only prefer to do this in some cases not always. putting it in suggestion mode is better than error :)

Although I can hide suggestions by clicking on suggestion in "error list" view.

[2018-02-16 10:13] CyrusNajmabadi commented on #24888
A conditional breakpoint still causes the program to break each time it is hit.  Then the debugger has to go and evaluate the state of the program against the condition you specified.  That condition needs to be go through the entire debugger evaluation system, which involves coordinating between the debugger (shared across languages) and specific language providers (i assume C# in this case).  Th

[2018-02-16 10:21] CyrusNajmabadi commented on #24896
In general we do this as a pair of features.  A CodeFix for when your code doesn't fit your specified coding style, and a CodeRefactoring to still allow you to go in the other-direction when that suits you.  We do that, for example, with "use expression body":

![image](https://user-images.githubusercontent.com/4564579/36303149-f6c37adc-12bf-11e8-8a27-e86b63223715.png)

![image](https://user-image

[2018-02-16 10:57] Joe4evr commented on #24896
That's why there are 3 separate options to configure your style just how you like it.

~~Setting the severity to anything higher than `None` should make it an option in the light bulb.~~
Actually, I can't seem to get even get the diagnostic to come up if it's not on `Error`. @CyrusNajmabadi Bug report?

[2018-02-16 12:09] MkazemAkhgary commented on #24888
@CyrusNajmabadi  Hmm, makes sense but.. cant this be done better?

I know I know. it doesn't sound easy to describe that process, let alone optimizing it! but It would be great.

since I have nothing to propose about how to optimize this process Ill close this issue.

[2018-02-16 12:16] MkazemAkhgary commented on #24888
@CyrusNajmabadi

Oh, just recalled something!

I find putting if statement in actual code and putting simple breakpoint (not conditional) will be a lot faster. as fast as running the program I say.

Cant debugger change the compiled code in runtime? I guess simple conditions that can be written at compile time can be optimized in this way. for example

[code]

change the compiled code into

[code]

[2018-02-16 12:47] astolpmann commented on #24835
I would like to do that but can't find the 2.2.0-preview1-007622 (or any 2.2.0) version anywhere. If you can provide me a link i will try it.

[2018-02-16 13:09] Burtch commented on #23391
I'm running into a similar issue. Perhaps you could add in the ability to say "dotnet_naming_symbols.constant_fields.required_modifiers = !const" or !readonly in my case. I want a rule to apply to any private member that ISN'T a readonly, (which would be _camelCase) and then for public or private readonly just apply a different rule, which would be (PascalCase)

I have the rules in order of most s

[2018-02-16 13:18] isc30 commented on #23030
Thanks @dwalleck , then I´m officially working on it! (managed to get all tests -1 passing)

[2018-02-16 15:34] AArnott opened #24898 "Support .editorconfig option for"
The [.editorconfig doc for newline settings](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference#newline) is lacking any option for complying with [SA1128](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1128.md) (constructor initializers should be placed on their own line). Can one be added so that generated constructors (w

[2018-02-16 15:35] AArnott commented on #24898
CC: @sharwell

[2018-02-16 15:53] mavasani opened #24899 "Latest Microsoft.CodeAnalysis nupkg still contains version 1.1.0 of Microsoft.CodeAnalysis.Analyzers"
**Version Used**: 2.6.1

**Steps to Reproduce**:

1. Install Microsoft.CodeAnalysis version 2.6.1 as a NuGet package reference to a C# console app
2. Check the version of Microsoft.CodeAnalysis.Analyzers that comes along with the package

OR
1. Create a new Analyzer with Code Fix project
2. Upgrade the Microsoft.CodeAnalysis.CSharp.Workspaces NuGet reference to 2.6.1
3. Check the version of Micros

[2018-02-16 15:54] mavasani commented on #24899
@jasonmalinowski @jinujoseph @dotnet/roslyn-infrastructure I can fix this if someone can point me to the location of the nuspec where we configure this.

[2018-02-16 16:07] gafter commented on #24881
We do not currently support the script kind for parsing VB.

[2018-02-16 16:10] HaloFour commented on #24887
Sounds like a problem with dotPeek and the source that it generates from IL.  IIRC the `new` keyword doesn't generate anything in IL, it just allows for the developer to be explicit with their shadowing.  The IL would be identical in both cases.

[2018-02-16 16:14] sharwell commented on #24887
@HaloFour hit the nail on the head here 👍

[2018-02-16 16:14] #24887 closed

[2018-02-16 16:18] sharwell commented on #24898
:+1:

[2018-02-16 16:20] HaloFour commented on #24887
The `this.Test` recursion issue would also be a bug in dotPeek.  The compiler emits the appropriate IL:

[code]

As for the `FileNotFoundException`, it's hard to gauge the cause of that but I would suggest that the assembly that you're generating is not in the probing paths for this console application.

[2018-02-16 16:40] steveharter commented on #24816
Issue dotnet/core-setup#3461 will handle the store-to-framework redirects. However that work is not yet started, although next week I should have an update. It may entail a mapping of package\version to a specific framework\version (Microsoft.AspNetCore.All\2.1.0).

[2018-02-16 16:43] AArnott commented on #24898
Tip for @sharwell: if you thumbs up on the issue itself, we can more easily count the aggregate of "votes". :)

[2018-02-16 16:44] svick commented on #24888
Isn't that what Edit and Continue does? Couldn't that machinery be used for this?

Even if it didn't work in all cases (since Edit and Continue has its limitations and since debugger expressions are not the same as C# expressions), I think that making conditional breakpoints significantly faster in the common case could be worth it.

[2018-02-16 17:18] pakrym commented on #24816
@steveharter possible issue here is not about store to framework redirects, it's about a situation where app targeting `netcoreapp2.0` and shared runtime `2.0.x` gets rolled to `2.1.x` and picks up `2.1.x` additional deps, but `tfm` isn't rolled and it still picks up old `netcoreapp2.0` runtime store that doesn't have required packages.

[2018-02-16 17:22] jinujoseph commented on #24888
cc @tmat

[2018-02-16 18:09] jcouv commented on #24835
I'm getting the same behavior on windows as I did on linux (ie. didn't repro).

[code]
[code]

To install a 2.1 preview version of CLI, see installers [here](https://github.com/dotnet/cli#installers-and-binaries).

[2018-02-16 18:27] svick commented on #24899
`Microsoft.CodeAnalysis.Analyzers` is a direct dependency of `Microsoft.CodeAnalysis.Common` (which is a direct or indirect dependency of other Roslyn packages, including `Microsoft.CodeAnalysis`).

So I think the relevant nuspec line is:

https://github.com/dotnet/roslyn/blob/3678d5345745f1853607afedbf0efcbaec04aaac/src/NuGet/Microsoft.CodeAnalysis.Common.nuspec#L18

And the line to fix then woul

[2018-02-16 18:29] steveharter commented on #24816
@pakrym

Is the sample csc.runtimeconfig.json in the issue description above correct? Should framework version be targeting 2.0.0 instead of 2.1.0-preview*?

How is %DOTNET_ADDITIONAL_DEPS% set, and what is it set to?

[2018-02-16 18:38] astolpmann commented on #24835
Im now on another machine with the new version (2.1.300-preview2-008210). Same result.

[code]

[code]

[2018-02-16 18:41] pakrym commented on #24816
@steveharter it's not correct and it will get fixed, but we are now supporting rolling the minor of shared runtime so the situation like this could happen even when runtime config points to `2.0` of everything.

`DOTNET_ADDITIONAL_DEPS` is set by AspNet Core Site Extension for Azure AppServices (https://azure.microsoft.com/en-us/blog/writing-a-site-extension-for-azure-websites/)

https://github.co

[2018-02-16 18:51] jcouv commented on #24835
I tried again on a fresh machine and I'm now able to repro! Thanks for the help troubleshooting.
Stay tuned.

[2018-02-16 18:51] astolpmann commented on #24835
I think it is actually you who isn't using the correct version and having problems with: dotnet/roslyn-analyzers#1331

As you are using
Microsoft (R) Build Engine version 15.5.178.35674 for .NET Core
vs mine
Microsoft (R) Build Engine version 15.6.81.24225 for .NET Core

[2018-02-16 18:52] jcouv commented on #24725
From observation, the current behavior is that `default` is disallowed as an operand for `==` and `!=`, except if a user-defined `==` or `!=` exists for the other operand.

[2018-02-16 18:53] sharwell commented on #9346
💭 This may be fixed by #24191

[2018-02-16 18:59] jinujoseph commented on #9346
@chborl Can you pls validate this

[2018-02-16 19:06] jcouv commented on #24835
On the machine where I can repro, I am using the same version as you. Copied the output below.

But something else is strange: On the machine where I can repro, the problem disappears the second time I run the `build` command. This is consistent with every new project I create, and doing `dotnet clean` brings the repro back...

[code]
[code]

[2018-02-16 19:17] jcouv commented on #20383
GoToDefinition can [now ](https://github.com/dotnet/roslyn/pull/22963) be invoked on the keyword `override`, and it will take you to the overridden method on the right base class.

As for finding which interface a certain method implements, this was discussed by the IDE team, but I don't know if a decision was made (@jinujoseph @kuhlenh would know).
The solution of using GoToDefinition doesn't wor

[2018-02-16 19:18] astolpmann commented on #24835
Yes, this also happens for me. This is probably because the project isn't actually build the second time you call "build" as the first time already created the assembly in the obj directory. So the error happens after the actual build and before copying the files to the bin directory.

[2018-02-16 19:39] steveharter commented on #24816
Since the app is targeting tfm=`netcoreapp2.0`, we try to load those first. We don't "roll-forward" on store + tfm (currently, and no plans to do so AFAIK).

I assume the store doesn't contain the `netcoreapp2.0` packages that you want to use. If so, then the store-to-framework redirect pending feature should handle that.

Does the store contain the `netcoreapp2.1` packages that you want to use? N

[2018-02-16 19:49] jcouv commented on #24835
I've narrowed down the problem a bit. The error behind `error MSB6006: "csc.dll" exited with code 1.` is `error CS2001: Source file 'C:\Users\jcouv\source\issues\cli3\obj\Debug\netcoreapp2.1\cli3.AssemblyInfo.cs' could not be found.`.

The way I arrive at this is `dotnet clean`, then `dotnet build /p:TreatWarningsAsErrors=true /p:ErrorLog=report.json /bl` (to produce a binary log). From the binary

[2018-02-16 19:57] jcouv commented on #20343
Assigned to @tmat for confirmation and closing (I think this was already fixed).

[2018-02-16 20:00] steveharter commented on #24816
FWIW if we need to support "roll-forward" on tfm, we would need to add the tfm entry to netcoreapp's runtimeconfig.json (and add that file), and then use that instead of the app's tfm entry. We'd have to discuss cases when the full framework chain has different entries for tfm (aspnet, netcoreapp) although netcoreapp, being the lowest level framework, should always have the highest tfm.

[2018-02-16 20:08] jcouv commented on #22663
After investigating another CLI issue, I think there are two problems here:
1. CLI doesn't print the diagnostics from the compiler (I believe that issue is tracked by https://github.com/dotnet/roslyn/issues/24736 and a fix is in the works)
2. the compilation fails for some reason

Here are some steps to see the reason for the compilation failing:
1. run the problematic `build` command, but add the

[2018-02-16 20:24] rainersigwald commented on #24835
@jcouv The symptoms here don't match #24736 -- the errors don't appear in the log and don't appear when building with `/p:UseSharedCompilation=false`.

`dotnet clean` will delete the `.AssemblyInfo.cs` file, so running the compiler directly after doing a clean isn't a good repro for the problem. I did similar to you with some changes:

* set `MSBUILDPRESERVETOOLTEMPFILES=1` to keep the .rsp file f

[2018-02-16 20:54] AlekseyTs opened #24900 "No IOperation node returned for an ArrowExpressionClauseSyntax, which is PropertyDeclarationSyntax.ExpressionBody, in erroneous scenarios."
[code]

[2018-02-16 20:55] AlekseyTs commented on #24900
CC @dotnet/analyzer-ioperation

[2018-02-16 21:52] 333fred commented on #24900
@AlekseyTs dupe of https://github.com/dotnet/roslyn/issues/24650?

[2018-02-16 21:55] AlekseyTs commented on #24900
No. That one is about local functions.

[2018-02-16 21:57] tmat commented on #24885
The main problem here is that NuGet doesn't know what an analyzer package is -- NuGet Pack task doesn't have any switch to build analyzer package.

We do also have a [custom script](https://github.com/dotnet/roslyn-analyzers/blob/master/build/GenerateAnalyzerNuspec.csx) that generates the nuspec file and [custom target](https://github.com/dotnet/roslyn-analyzers/blob/master/build/GenerateAnalyzerN

[2018-02-16 21:58] tmat commented on #24885
@rrelyea @diverdan92

[2018-02-16 22:10] jcouv commented on #24835
Thanks @rainersigwald for the clarification.
I'm debugging through the compiler and getting the following diagnostics:
![image](https://user-images.githubusercontent.com/12466233/36330572-0892ee32-131f-11e8-9d56-d7b2fc677b8b.png)
The one that is an error (and therefore failing the compilation) is CA1801 which comes from an analyzer.

I'm still investigating why the errors are not getting printed o

[2018-02-16 22:51] jcouv commented on #24835
I've identified the problem (a compiler issue indeed) and am working on a fix. Thanks for your help and patience.

[2018-02-16 23:16] smitpatel commented on #23846
I am seeing `error MSB6006: "csc.dll" exited with code 139. ` consistently.
[code]

It is Ubuntu 16.04 machine. The error only happens when run through teamcity CI. I tried running the same commands by logging into the machine but it does not give error. It passes on windows too.

Repo trying to build https://github.com/aspnet/EntityFrameworkCore
run command - "./build.sh /p:Configuration=Release`

[2018-02-16 23:46] vsfeedback opened #24905 "Find All References not working with var"
Find All References done on a class name does not return usages of this class if var is used instead of the class name.

In this example, Find All References done on the class name in the class definition (first line) finds the line 13 where class name is used (TestObject o2 = GetTestObject()) but not the line 12 where var is used (var o1 = GetTestObject())

public class TestObject
{
}

private Te

[2018-02-16 23:59] vsfeedback opened #24906 "Extract Method with Local Function"
I selected some code that contained a local function to extract the method.

It created the method without arguments.

For example...

string user = &quot;Mark&quot;;

// Start swipe

&lt;A block with some statements using user&gt;

&lt;A local void function, also with arguments, called from the block above&gt;

// End swipe

Created...

NewMethod() instead of

NewMethod(user)

_This issue has bee

[2018-02-17 00:18] halter73 commented on #24601
@VSadov You're comments seem to contradict this. If the struct constraint doesn't resolve to the reification of the method thereby removing the interface call and associated copy, why doesn't it?

[2018-02-17 00:19] vsfeedback opened #24907 "Wrong "Format document" for C# code with inconsistent line endings"
When file has inconsistent line endings, &quot;Format document&quot; does not work as expected. It adds empty lines to c# code.

Please see attached file. It is using CR+LF but in comment element there is only LF ending.

Open file in VS2015 or VS2017, ignore &quot;Inconsistent file ending&quot; warning if it pops up (or better disable this option before) and use Ctrl+K,D command (or Format docume

[2018-02-17 00:44] AArnott commented on #24885
I've added a couple more issues with analyzer packaging to the description.

Yes, I know NuGet *pack* doesn't know. But evidently something knows enough about it to customize how _installing_ analyzer packages should do, since that has a very different result. But regardless of nuget knowing what packing is doing, .targets can be written to make it do it right (as each analyzer author eventually f

[2018-02-17 00:44] jcouv commented on #24835
PR for fix is in review (https://github.com/dotnet/roslyn/pull/24908)

[2018-02-17 00:52] VSadov commented on #24601
@halter73 - the problem is not in the interface dispatch.
The problem is that the methods on the interface have no way to say "I will not mutate the instance".

Compiler must assume that interface members will mutate receivers. We do pass the receiver by reference to the call, so they certainly can.
If the variable is readonly - and "in" parameter is readonly, C# compiler must make a local copy be

[2018-02-17 00:58] halter73 commented on #24601
That makes sense. Thanks for the explanation.

[2018-02-17 01:00] noahfalk commented on #23846
I would start by collecting a dump when the process crashes. Linux has some built-in support to do this via ulimit (https://stackoverflow.com/questions/2919378/how-to-enable-core-dump-in-my-linux-c-program) but the exact details vary a bit by distro.

@mikem8361 added some minidump support to the runtime that is consistent across distros, but I don't recall what the environment variable was to tur

[2018-02-17 01:04] mikem8361 commented on #23846
The doc on linux core dump generation is here: https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md

mikem

From: Noah Falk <notifications@github.com>
Sent: Friday, February 16, 2018 5:01 PM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: Mike McLaughlin <mikem@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn] Intermittent

[2018-02-17 01:19] tmat commented on #24888
Yes, it could do EnC in some cases. As a workaround you can also do that yourself and change the code while debugging instead of adding a conditional break-point. The benefit of the debugger doing it automatically is that you wouldn't need to remember to undo the change once you are done debugging.

[2018-02-17 01:25] tmat commented on #24885
@AArnott Except for to make it actually work for arbitrary analyzers we would need to reimplement NuGet's logic for determining dependencies. It would be better done in NuGet Pack.

[2018-02-17 02:55] jnm2 commented on #23996
Can someone confirm whether this is per spec or a bug?

[2018-02-17 04:37] isc30 commented on #23030
I managed to fix it. Some of the tests I introduced aren't working as expected:

* TestCSharpLiteralGoToDefinition
* TestCSharpStringLiteralGoToDefinition
* TestVisualBasicLiteralGoToDefinition
* TestVisualBasicStringLiteralGoToDefinition

I need some assistance to know if I'm going in the proper direction and some clue about why those tests are failing (with manual testing the cases are working w

[2018-02-17 06:27] HamedFathi commented on #16846
@Diaskhan

See my repository [RoslynExtension](https://github.com/HamedFathi/RoslynExtension) and

[2018-02-17 06:52] #16846 closed

[2018-02-17 07:41] WillFM commented on #1013
ping.

[2018-02-17 10:13] jmarolf commented on #24885
Sounds like we need to do the following:
- Change the templates on https://github.com/dotnet/roslyn-sdk so that they create separate projects for analyzers and codefixers
-  Add analyzers to https://github.com/dotnet/roslyn-analyzers/tree/master/src/Microsoft.CodeAnalysis.Analyzers that warn when you reference the workspace layer from an analyzer.

@AArnott i you agree I'll move this issue to http

[2018-02-17 10:15] jmarolf commented on #24899
@mavasani We can configure https://github.com/dotnet/roslyn-sdk to install the newest roslyn analyzer packages.

[2018-02-17 10:47] m93a commented on #21604
A walkaround is to double-build the project – once for production, targetting .NET Standard, and the other time for Interactive, targetting a concrete .NET Framework. Then you can load the built dlls using the `#r` directive. But it's so annoying that most of the time it's not worth it and it's better to copy-paste the code right into the Interactive console 😕 Not a great victory for .NET Standard

[2018-02-17 12:12] SteamUpdate commented on #24887
@HaloFour yea, you was right, it's really bug of dotPeek. I use ILSpy for decompilation this dll and see correct code. But bug of dotPeek reproduced only with assembly witch compiled with code from first comment.
If I write same code in Visual Studio (2013\2015\2017) and build it, decompilation with dotPeek display a corrent code.
Build with dotnet.exe and next decompilation returns same result.

[2018-02-17 12:37] kasper3 opened #24912 "Find and Replace to overwrite previous value of "Look at these file types""
This is a bug from last decade, since VS 2010 days https://stackoverflow.com/questions/9504728/vs2010-look-at-these-file-types-option-keeps-resetting-to-previous-value

* Open an SLN in VS
* Find and Replace (Shift+Ctrl+F)
* Type in key to search
* In `Look at these file types` under `Find Options`, enter *.xml

Hit enter to get results. Close VS and open it again.
Next time when you Find All, `*.

[2018-02-17 13:27] Diaskhan commented on #16846
![image](https://user-images.githubusercontent.com/15046677/36341444-7d8529fe-1418-11e8-8a9f-1085e0c9fc7f.png)

1.HamedFathi i have question, ure tryig to create RepositoryModel ?
2.If yes Maybe we unite our forces ???

[2018-02-17 14:03] HamedFathi commented on #16846
@Diaskhan

Unfortunately, I have no idea about it. no experience  :(

[2018-02-17 14:07] steveharter commented on #24816
@pakrym are the assets in the store from ASP.NET or are you placing your own assets there?

[2018-02-17 15:29] AArnott commented on #24885
@jmarolf  I wasn't even aware of the project templates. Where can I find those in pre-compiled form? The source for it looks like it already embodies much of what I was asking for. That's great.

Yes, your proposal for closing the gap between them and what I'm asking for here by moving issues around sounds good. But what about the other issues like targeting multiple versions of Roslyn?

[2018-02-17 16:00] pakrym commented on #24816
@steveharter This is the site extension I'm talking about: https://dotnet.myget.org/feed/aspnetcore-release/package/nuget/Microsoft.AspNetCore.AzureAppServices.SiteExtension

[2018-02-17 16:02] #24885 closed

[2018-02-17 16:02] jmarolf commented on #24885
Issue moved to [dotnet/roslyn-sdk #105](https://github.com/dotnet/roslyn-sdk/issues/105) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-17 16:06] jmarolf commented on #24885
@AArnott from the VS installer choose **".NET Compiler Platform SDK"** to get the templates and the syntax visualizer

![image](https://user-images.githubusercontent.com/9797472/36342870-64e59e38-13b9-11e8-9dd8-81282f9554ac.png)

[2018-02-17 21:47] qmfrederik commented on #24124
FWIW, I just hit a build error with a very similar exception. This was with SDK 2.1.300-preview2-008012

[code]

[2018-02-17 23:54] CyrusNajmabadi opened #24919 "Allow collapsing of large, multi-line string literals."
Title is self explanatory :)  I have some large constant strings in my file.  It's unfortunate i can't collapse them like any other large construct.

Tnx!

[2018-02-18 00:06] agocke commented on #23996
cc @tmat

Scripting basically has its own design, so I have no idea what the expected behavior of any C# language feature is in scripting.

[2018-02-18 00:22] jnm2 commented on #23996
If I submitted a PR (don't laugh 😜) would you take it?

[2018-02-18 00:45] CyrusNajmabadi commented on #24905
Yes.  this is expected behavior.  You did not reference the type name, so it's not a reference :)

Consider these cases:

[code]

If 'var' is a reference here because hte 'type' is referenced as the result of 'GetFoo()' then why would we not also have a reference here:

[code]

In both cases there is a temporary value.  And both temps have the type "Foo".  Just one temp is named ('f') and the othe

[2018-02-18 00:46] CyrusNajmabadi commented on #24912
@olegtk Can you route this appropriately to the editor?

[2018-02-18 00:59] CyrusNajmabadi commented on #24898
Note: we'd need to add support for this in the formatting engine.  we don't have this concept in roslyn currently at all.

[2018-02-18 02:11] tmat commented on #21604
The new project system doesn't support this command yet. It does not matter whether the library targets .NET Standard (`<TargetFramework>netstandard20</TargetFramework>`) or .NET Framework (`<TargetFramework>net46</TargetFramework>`).

I do not have a problem referencing netstandard2.0 library "manually" in VS 2017 Update 6 Preview 6 like so:

![image](https://user-images.githubusercontent.com/417

[2018-02-18 02:23] sebastienros commented on #24124
I will try again on my side with the latest build, probably on Tuesday.
Unless someone looking at this issue is willing to try to repro the issue
with the project I linked to.

On Feb 17, 2018 1:48 PM, "Frederik Carlier" <notifications@github.com>
wrote:

[2018-02-18 02:24] benaadams commented on #24652
[`ceq`](https://msdn.microsoft.com/en-us/library/system.reflection.emit.opcodes.ceq%28v=vs.110%29.aspx) says 0 and 1

[2018-02-18 02:36] tmat commented on #19433
@vmu Can you try with Update 6 Preview 6? It works for me on that version:

![image](https://user-images.githubusercontent.com/41759/36347654-75efdfce-1411-11e8-80ae-aae7c6830557.png)

[2018-02-18 03:00] tmat commented on #23996
@jnm2 Absolutely.

[2018-02-18 04:06] jnm2 commented on #23996
@tmat When you say 'script variables,' do you mean this?

[code]

[2018-02-18 04:08] jnm2 commented on #23996
Ah, found it:

[code]

[2018-02-18 05:01] jnm2 commented on #23996
I've traced the problem this far.

Because `currentMember` (the local function) has `IsStatic` = `true`, the receiver is determined to be `null`.

https://github.com/dotnet/roslyn/blob/467c216fa6e49b85c2bff58721115b0263f5f402/src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs#L1676-L1678

Which causes this code to report `CS0120: An object reference is required for the non-static field, me

[2018-02-18 05:05] jnm2 commented on #23996
So the question is, why is LocalFunctionSymbol considered to be static?

https://github.com/dotnet/roslyn/blob/467c216fa6e49b85c2bff58721115b0263f5f402/src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs#L45-L48

[2018-02-18 05:10] jnm2 commented on #23996
Removing `DeclarationModifiers.Static` causes script globals and script methods to become accessible from local functions, but not script variables.

[2018-02-18 05:15] jnm2 commented on #23996
Removing `DeclarationModifiers.Static` seems to be the entire fix.

[2018-02-18 05:24] jnm2 commented on #23996
3 existing tests begin failing which may shed some light.

[2018-02-18 05:30] jnm2 commented on #23996
99 existing tests begin failing which may shed some light.

[2018-02-18 05:49] jnm2 commented on #23996
Different tack. With an ordinary class, a local function can access an instance property because `member.ContainingType` matches `currentType`. The problem in scripting is that `member.ContainingType` is the globals type or a previous submission type, while `currentType` is the current submission type. This feels warmer:

https://github.com/dotnet/roslyn/blob/467c216fa6e49b85c2bff58721115b0263f5f4

[2018-02-18 06:06] jnm2 commented on #23996
Either local functions need to be conditionally static (seems the more complex guess) or `TryBindInteractiveReceiver` should not always require a non-static `currentMember`.

[2018-02-18 06:19] jnm2 commented on #23996
Yikes! It would appear that the existing code is pretty emphatic about not working with static methods, which local functions apparently are.

https://github.com/dotnet/roslyn/blob/467c216fa6e49b85c2bff58721115b0263f5f402/src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PreviousSubmissionReference.cs#L16

[2018-02-18 07:32] jnm2 commented on #23996
Got it!

[2018-02-18 07:43] jnm2 commented on #23996
@tmat PR is up! https://github.com/dotnet/roslyn/pull/24921

[2018-02-18 14:49] OmarTawfik commented on #24776
I'll take this one.

[2018-02-18 16:32] MohammadHamdyGhanem commented on #2930
I suggest another syntax to local functions to be unnested #1329

[2018-02-18 16:34] MohammadHamdyGhanem commented on #259
I suggest another syntax to local functions to be unnested #1329#1329, Fixed an errant bad line ending

[2018-02-18 19:33] aluanhaddad commented on #24877
This would be great to have.

[2018-02-18 20:41] MaStr11 commented on #24877
Also  related #22545

[2018-02-18 20:54] jasminbe opened #24922 "I my doing my project in asp.net using c#"
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2018-02-18 20:57] jnm2 commented on #22545
This is why I reinstalled ReSharper again the other day.

[2018-02-18 21:49] CyrusNajmabadi commented on #22545
We have the information in our FindRefs API.  It's here:
https://github.com/dotnet/roslyn/blob/d4dab355b96955aca5b4b0ebf6282575fad78ba8/src/Workspaces/Core/Portable/FindSymbols/ReferenceLocation.cs#L42

@jnm2 Want to just hook it up to the UI?

[2018-02-18 23:25] nehmebilal opened #24923 "MSBuildWorkspace.OpenProjectAsync cannot resolve $(Configuration) correctly"
**Version Used**: 2.6.1

**Steps to Reproduce**:

1. Use `MSBuildWorkspace.OpenProjectAsync` to open a ProjectA that references a ProjectB dll using a hint path as follows:
[code]
2. Make sure to build in Release **only**.

**Expected Behavior**:
The types in ProjectB to load correctly.

**Actual Behavior**:
The types in ProjectB are unavailable.

Replacing `$(Configuration)` with `Release` fixes

[2018-02-19 01:05] jnm2 commented on #22545
Where's the UI source?

[2018-02-19 01:11] CyrusNajmabadi commented on #22545
https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Core/Def/Implementation/FindReferences/StreamingFindUsagesPresenter.cs

[2018-02-19 01:13] CyrusNajmabadi commented on #22545
Let me know if you have any questions.  Gitter or here work for me.

[2018-02-19 01:40] elachlan commented on #22759
Received the error again highlighting some code in a broken "with" block:

[code]

[code]

[2018-02-19 03:12] CyrusNajmabadi commented on #22759
Can you provide the source code you had when this happened?

[2018-02-19 03:19] elachlan commented on #22759
I highlighted everything below Asset_TextEdit to delete it after removing the starting "With". It seems reliably reproducible.

[code]

[2018-02-19 05:28] davkean commented on #15762
This is still occurring, still get warnings in designer files that can never be fixed:

![image](https://user-images.githubusercontent.com/1103906/36363510-d48582ba-1591-11e8-81b7-555d50431420.png)

[2018-02-19 05:35] Diaskhan commented on #16846
There One man already maded generation EF model via Fluent Api.
https://github.com/dr-noise/PolyGen

But the problem, that enterpise system must have a GUI configurator !
If we unite our forces, we could do opensource GUI generator for EF models,and other users will give-it thanks to us,
after what Maybe we could added it to  https://github.com/thangchung/awesome-dotnet-core

Hamed what do think a

[2018-02-19 05:53] Diaskhan commented on #16846
I have already maded SPA client. Another step is generate comilable model for, and generation assembly !

[2018-02-19 05:57] sharwell commented on #15762
@davkean IDE0005 is produced by the compiler and cannot be suppressed in generated code. This diagnostic is unusable at error severity, which is why it remained blocked in dotnet/roslyn#23695.

[2018-02-19 05:58] sharwell commented on #15762
More specifically, CS8019 is produced by the compiler, and IDE0005 is just produced wherever it's reported by the compiler so the fade out feature works.

[2018-02-19 05:59] davkean commented on #15762
@sharwell I'm not sure what that means.

[2018-02-19 06:03] yaakov-h commented on #24653
@CyrusNajmabadi Any idea why differenceService would be null in the repro above?

![image](https://user-images.githubusercontent.com/426009/36364188-ba73fb04-1596-11e8-88a2-b7a856894e14.png)

[2018-02-19 06:41] sujaysarma commented on #7053
This one seems to have been implemented. @Pilchie I have emailed you about this a few minutes ago. It works in Microsoft (R) Roslyn C# Compiler version 2.7.0.62608.

[2018-02-19 07:09] mkrueger commented on #24868
y sure - but it doesn't work for all items in vs.net in that case - "en"<space> should not complete to 'enum' -but it does.

[2018-02-19 08:12] jcouv commented on #24922
Please describe an issue with repro step and re-open the issue then.
In the meanwhile, I'll close. Thanks

[2018-02-19 08:12] #24922 closed

[2018-02-19 08:14] jcouv commented on #24869
Fix was merged for 15.7

[2018-02-19 08:14] #24869 closed

[2018-02-19 10:12] qmfrederik commented on #24124
PS - I can confirm the issue goes away after rolling back to 007522.

[2018-02-19 10:53] HamedFathi commented on #16846
@Diaskhan

Sorry, I have no time. I am working on [AureliaToolbelt](https://github.com/aurelia-toolbelt/aurelia-toolbelt). I can not help you.

[2018-02-19 11:03] guidobouman commented on #18219
#18210 is on milestone 15.8, should this not be there as well?

[2018-02-19 12:55] jnm2 commented on #22545
Cool! It's on my list.

[2018-02-19 13:56] BrzVlad opened #24932 "Crash on arm/arm64 with mono due to missing memory barriers"
**Version Used**:

2.6.0. Doesn't matter

**Steps to Reproduce**:

I've seen random roslyn crashes / compilation errors with mono ever since switching to it for building the BCL (on arm/arm64 linuxes)
For reproduction you just need to build mono, but the bug is extremely evasive. I have reliably reproduced it on a scaleway.com arm64 vm and also on a compulab utilite2. I can provide access to a mac

[2018-02-19 14:00] onovotny commented on #7053
@sujaysarma what exactly works and in what version of VS?

[2018-02-19 14:13] sujaysarma commented on #7053
This feature.

Recognizing keywords from unreferenced libraries,
Doing that lexically (through spelling-mistakes and all)
Providing the suggestion to add the appropriate Nuget package / assembly / using statement as required

I dont know the version it was first implemented in. I noticed it in Roslyn C# Compiler v2.7.0.62608 (as shipped with VS 2017 15.6.0 Preview 5.0.)

[2018-02-19 14:17] onovotny commented on #7053
Suggesting types in NuGet packages has been there for a while. The feature here is to have types from referenced assemblies, but not yet in scope, appear in the IntelliSense and have the using statement automatically added. That has not been implemented yet, AFAIK. It's not about the quick-fix after you finish typing the symbol.

[2018-02-19 14:24] sujaysarma commented on #7053
@onovotny My comment is not in reference to the discussion you've been having here, I am referencing something a discussion I had with @Pilchie on email.

[2018-02-19 14:48] marek-safar commented on #24932
@jaredpar who owns this code?

[2018-02-19 15:34] jaredpar commented on #24932
@marek-safar this is owned by the compiler. Will let @gafter, @tmat, @VSadov comment on this.

[2018-02-19 15:40] akoeplinger commented on #24932
Making `_firstItem` volatile fixes it:

[code]

[2018-02-19 16:22] jaredpar commented on #23846
@noahfalk is this being actively looked into? Beginning to think we need to take an escrow change to 15.6 to stop using the multi-core JIT. There doesn't seem to be any progress here, this change definitely seems like a multi-core JIT issue, and we're getting close to releasing the first compiler that depends on it.

[2018-02-19 16:29] OmarTawfik opened #24933 "*"
**bug recalled**

[2018-02-19 16:30] OmarTawfik commented on #24933
cc @dotnet/roslyn-ide

[2018-02-19 16:34] #24933 closed

[2018-02-19 17:52] VSadov commented on #24932
The reusing thread will have to do Interlocked.CompareExchange to check out the instance. That is a full fence.
If the pool did not syncronize, it would be broken on any platform.

Volitile may effect timing. It could get pretty expensive on ARM.

My guess, it is a race somewhere else and making things slower “fix” them.

[2018-02-19 18:11] VSadov commented on #24932
Reference write should be a “release” anyways. Interlocked is used here because of object uniqueness.

If reference writes to heap are not releases, a lot of things would be broken.

Roslyn assumes CLR2.0 memory model. - at least tries to, since we test on x86/64 only, we cant be sure it there are no accidental strong ordering dependencies.

It could be one of those.

Or just a race which we do no

[2018-02-19 18:13] StingyJack commented on #18631
This is slightly anecdotal, but a few years ago I was working out a code generator for types derived from an existing SQL database, including constants for fields, dataset/table schema builders, POCO<-> DataRow, etc. There were >1500 tables, and CRUD procs for each, along with a few hundred other procs/views/functions/etc, and different things would generate into their own files.  (Before anyone s

[2018-02-19 18:36] BrzVlad commented on #24932
@vsadov It doesn't matter if the reusing thread does a CAS and adds a memory barrier, since the memory barrier orders only on the calling thread. The stores on the thread that released the object can still be committed in any order.

[2018-02-19 18:48] craiggeil commented on #18669
Little disappointed that Microsoft hid this setting under Help of all places. It belongs in Options.

[2018-02-19 20:47] VSadov commented on #24932
One of the best explanation of CLR2.0 memory ordering that I know is http://joeduffyblog.com/2007/11/10/clr-20-memory-model/

It does not mention threads. In that model fence is a fence and effects are global.

It does, however, mention that the description is a practical rationalization of the actual implementation and it is unclear whether Mono provides the same guarantees.
So there is a chance

[2018-02-19 20:49] VSadov commented on #24932
It still seems more likely that we just have an ordinary race somewhere...

[2018-02-19 21:15] CyrusNajmabadi commented on #18669
@craiggeil Please file feedback as per https://github.com/dotnet/roslyn/issues/18669#issuecomment-293959272

That way the platform team will see this and can consider doing something about it.  This is the repo for C#/VB and has no relation to the platform's windowing code.  Thanks!

[2018-02-19 22:03] sharwell commented on #15762
@davkean Your image shows IDE0005 with severity Error. The only supported severity for IDE0005 is Hidden. You should restore the severity of the warning to its default value, and the issue you described will go away.

If you want the ability to change the severity of IDE0005, you should file a new issue for that.

[2018-02-19 22:09] davkean commented on #15762
Really confused. A few releases ago I changed this to an error.

This sounds like all IDE0005 errors will go away which is not want I want. I just don't want this warning to show in generated files.

[2018-02-19 22:52] CyrusNajmabadi commented on #24653
Nope.  no clue.  someone will have to debug. There should always be a differencing service.

[2018-02-19 22:53] CyrusNajmabadi commented on #24868
Yup.  Looks like a bug with the snippet-provider.  It needs to adopt this logic as well.

[2018-02-19 23:00] CyrusNajmabadi commented on #18631
I don't believe there are hard limits on any of these.  It's just that very few parts of the system are designed to scale to those extremes.  And all you need is a single piece of code in the entire stack that doesn't scale, and you can have a major negative effect on large swaths of the experience.  For example, if incremental parsing doesn't work well here, then any edits will incur a huge cost

[2018-02-19 23:03] CyrusNajmabadi commented on #18631
You can use https://github.com/dotnet/roslyn/wiki/Reporting-Visual-Studio-crashes-and-performance-issues to report perf issues.

Thanks!

[2018-02-19 23:25] AlekseyTs opened #24936 "It looks like SemanticModel.GetMemberGroup always return an empty set for a ConstructorInitializerSyntax"
Expected:
Perhaps should return a group of constructors?

[2018-02-19 23:46] MelbourneDeveloper commented on #24630
My guess is that the tool is creating a temp folder, taking a stab at copying System.Runtime.dll in to it, and then trying to reference it. But, when it tries to reference it, it realizes that it is not where it thought it put it. Perhaps this is a permissions problem. Roslyn should not be putting temp files in these locations though. You need admin privileges to get at this folder. But, I am runn

[2018-02-20 00:03] CyrusNajmabadi opened #24938 "Strange IOperation tree for single-statement lambda."
I've got the following lambda:

[code]

The IOperation tree here is not quite what i expected. Specifically, the IAnonymousFunctionOperation has a body with *two* operations in it.  One operation is the ExpxressionStatement corresponding to Console.WriteLine();.  The second is an Implicit ReturnStatement.

is that expected?  Seems very strange to me that there's any sort of return statement placed

[2018-02-20 00:03] CyrusNajmabadi commented on #24938
Tagging @333fred

[2018-02-20 02:08] gafter commented on #24938
The lambda does _implicitly_ return to the caller at the end, because that's the way the language works. I'll bet the return statement says that it was implicit?

[2018-02-20 02:08] jnm2 commented on #22545
@CyrusNajmabadi So what I really want is more accurate behavior like we've been used to (not to make a big deal of it) with ReSharper. If I ask for all references of a property or event, I want all references of that property or event. If I ask for all references of an accessor method, I only want results for that accessor.

<img src="https://user-images.githubusercontent.com/8040367/36404177-418f

[2018-02-20 02:47] CyrusNajmabadi commented on #24938
:)

[2018-02-20 02:50] CyrusNajmabadi commented on #22545
One way this would work IMO, would be to actually not have the properties, or references to it.  Instead, just cascade between the accessors and give results corresponding to both.  You would always get all of them.  but if you only wanted one you would just not collapse the getters (or setters) group.

[2018-02-20 03:00] CyrusNajmabadi commented on #22545
Actually, probably scratch that suggestion.  this is similar to how we do NamedTypes vs. Constructors.  If you search for the named-type, you get all references (including references to them in consturctor calls).  but if you do a FAR for a constructor, you just find references to that constructor.

So we should likely do the same here.  THe property should cascade to the accessors.  The accessor

[2018-02-20 04:41] 333fred commented on #24938
@CyrusNajmabadi while I don't believe we've documented it anywhere, this is consistent across all different forms of lambdas (C# & VB single and multiline). I do agree that it seems a little weird (we don't have implicit returns for void functions in C# after all), but it is correct. We could probably add a remark to the IAnonymousFunctionOperation API that says that in non-dataflow contexts, ther

[2018-02-20 09:26] abhijitparkhi1983 opened #24939 "Insufficient memory to continue the execution of the program."
**Version Used**:
2.6.1

**Steps to Reproduce**:

1. We are using Roslyn for opening .csproj using following code:
[code]
2. We call the **Run** method above in a foreach loop where we run around 100's of .csproj one by one.
3. But we randomly get following exception on line  **workspace.OpenProjectAsync(projectPath).Result;**

[code]

**Expected Behavior**:
The exception should not come and the p

[2018-02-20 10:18] MaStr11 commented on #23579
The installation instructions are still out of date. I opened a PR to copy the documentation from the roslyn wiki pages to the new roslyn SDK repo dotnet/roslyn-sdk#108. The wiki still needs to be updated to either reflect the new installation instructions or to point to the new home of the visualizer.

[2018-02-20 10:24] wpsmmb opened #24940 "Roslyn compiler is copied to root directory"
**Version Used**:
1.0.6, 1.0.7, 1.0.8

**Steps to Reproduce**:
Use the compiler in a non ASP.NET project to compile dynamic assemblies as follow:
[code]

**Expected Behavior**:
Roslyn files will be located in subfolder of the project.

**Actual Behavior**:
The compiler is copied to 'C:\bin\roslyn' or if the solution is located on drive D the files are copied to 'D:\bin\roslyn'.

[2018-02-20 11:40] svick commented on #22589
This looks like a duplicate of https://github.com/dotnet/roslyn/issues/20777.

[2018-02-20 11:54] noahfalk commented on #23846
@jaredpar - If you want to be safer I would disable multicore-jit for now - I can't promise an imminent resolution to this issue(s). I agree that the mac stacktrace mentioned above is strongly suggestive of multi-core JIT issue. No data has been provided about the windows issue so I really can't say if it is the same thing or a completely different failure.

At this point I am awaiting either a du

[2018-02-20 12:20] svick opened #24941 "Unnecessary closure allocation when only one variable is captured"
Consider [this code](https://sharplab.io/#v2:D4AQDABCCMDcCwAoJMBsUBMEDCSDeSERU06IArADwCWAdgC4DaAugHwQCy0AFHU8xAAeAZwCUhYgUTEZUAOwRuoiAF52IhNOIBfCUT0kyVPi3YcMvBiyFiDU2cRAKRAOgCSAEwCmDavQCemjK6WvqhhhAmAp4+9H7+3PQAFtTCkVYCIspqNpraQA):

[code]

Both `M1` and `M2` return a delegate that returns the passed-in `xs` object. The difference is that `M1` additionally allocates a closure object, even though `

[2018-02-20 12:59] superriva opened #24942 "MSB6006: "RunCsc" exited with code 131."
**Version Used**:
[code]
[code]

**Steps to Reproduce**:

1. git clone https://github.com/dotnet/roslyn.git
2. cd roslyn
3. ./build/scripts/restore.sh
4. dotnet build Compilers.sln

**Expected Behavior**:
STEP 4 without any errors.

**Actual Behavior**:
STEP 4 with errors:
[code]

[2018-02-20 14:01] svick commented on #23743
I think this is related to https://github.com/dotnet/roslyn/issues/21814.

[2018-02-20 14:37] ghost opened #24943 "Proposal: Add local functions names to the navigation list"
Proposal: Add local functions names to the navigation list
If there is a local function defined as this:
[code]
it can appear in the code editor's upper navigation list with the name foo1.foo2
If the local function foo2 is defined inside the constructor of a class Class1, then it should appear with the name Class1.foo2
If it's defined inside the setter or the getter of a property named Property1,

[2018-02-20 14:41] ghost opened #24944 "Proposal: Add new filters to the IntelliSense members list"
IntelliSense allow to filter the members list by choosing to view or hide fields, properties, methods, and events.
These filters are not enough. I suggest to add more filters:
-	Inherited: to show or hide inherited members.. It's useful specially with controls and custom controls, where the number of inherited members are huge.
-	Protected: to show or hide inherited members.. It's useful specially

[2018-02-20 14:54] Logerfo commented on #3082
Stumbled into this today, that's really confusing. Thank you @lgolding for providing a solution, helped a lot!

[2018-02-20 15:51] jaredpar commented on #23743
@svick agree. Going to dupe that one against this.

[2018-02-20 15:51] jaredpar commented on #21814
Looks like this is tracking the same issue as #23743

[2018-02-20 15:51] #21814 closed

[2018-02-20 15:59] abdelkader27 commented on #24691
Hi,

I'm getting the same issue. is there any information if this issue will be fixed.

thanks,

Abdelkader.

[2018-02-20 16:02] jaredpar commented on #23846
@noahfalk is there an issue on coreclr tracking this problem? This is likely going to need to be tracked at the .NET Core level given its impact on perf.

[2018-02-20 16:05] gafter commented on #24941
@VSadov @agocke How hard do you think it would be to implement this improvement to our code gen strategy?

[2018-02-20 20:06] sharwell opened #24946 "Avoid using the same text for refactorings and code fixes"
Multiple users have mentioned that it's confusing when refactorings and fixes for diagnostics have the same wording. In several cases, the refactorings go the opposite way of the preferred code style (e.g. if the preferred style is expression-bodied, we still offer a one-off refactoring to use block-bodied). The refactoring wording is "Use block body for methods", which is the same wording as you

[2018-02-20 20:21] gafter commented on #20600
Fixed in https://github.com/dotnet/roslyn/pull/24761 for dev15.7.x.

[2018-02-20 20:21] #20600 closed

[2018-02-20 20:32] 333fred commented on #24938
In a recent design meeting, we decided that in dataflow contexts, we'd replace anonymous function nodes with something similar to `ICFGAnonymousFunctionOperation`, which is a container for another CFG.

[2018-02-20 20:53] VSadov opened #24947 "Improve error descriptiveness when `fixed` statement cannot be applied."
We give fairly generic errors when RHS is not pinnable or when the pattern method has the right name, but is not of the shape that we want.

  <data name="ERR_ExprCannotBeFixed" xml:space="preserve">
    <value>The given expression cannot be used in a fixed statement</value>
  </data>
  <data name="ERR_FixableHelperDoesNotFitThePattern" xml:space="preserve">
    <value>The method '{0}' does not me

[2018-02-20 21:07] pieandcakes opened #24949 "Question about Building on Windows"
In reading https://github.com/dotnet/roslyn/blob/master/docs/contributing/Building,%20Debugging,%20and%20Testing%20on%20Windows.md, should I be able to, on Windows, do just `enlist`, `restore`, `build` or do I need to install Visual Studio and the other dependencies? My goal is to just do command line build of Roslyn

[2018-02-20 21:23] lorienpatt commented on #24073
I am also having this issue

[2018-02-20 22:03] noahfalk commented on #23846
@jaredpar  Added #16456

[2018-02-20 22:18] dpoeschl opened #24956 "Event hookup popup dismisses after space"
Type in C#: `Console.CancelKeyPress +=`

You'll get the "Press Tab to insert the handler" popup, but press space and the popup disappears. This is a regression in 15.6 with the editor quick info changes.

[2018-02-20 22:19] dpoeschl commented on #24956
FYI: @gundermanc -- should I make a VSO bug for this as well?

[2018-02-20 22:34] jcouv commented on #22227
Tagging @KathleenDollard

[2018-02-20 22:37] jcouv commented on #19505
Tagging @KathleenDollard

[2018-02-20 22:44] gundermanc commented on #24956
@dpoeschl by any chance have you tried this scenario in 15.7 and 15.8 bits? I've addressed some existing issues for these milestones already.

[2018-02-20 23:13] jcouv commented on #24949
Yes. You should be able to enlist, restore and build without Visual Studio installed.

Re-open the issue and let me know if that doesn't work for any reason.
I'll close the issue as answered in the meanwhile.

[2018-02-20 23:13] #24949 closed

[2018-02-20 23:15] smitpatel opened #24958 "CA1822: Mark Member as static does not provide a code fix"
**Version Used**:
[code]
**Steps to Reproduce**:

.NET Core Console App in Visual studio
[code]
VS suggests that Method Sum can be made static but there is no associated codefix for it. Change signature dialogue box does not give option to add static either.
![image](https://user-images.githubusercontent.com/1528107/36454329-41d1d300-1650-11e8-8cd8-d1ba658d508f.png)
![image](https://user-images.gi

[2018-02-20 23:16] jcouv commented on #24942
@superriva
Would you be able to run the `dotnet build` with `/bl` command and share the resulting `msbuild.binlog` (binary log file) by attaching it to the issue? Thanks

[2018-02-20 23:23] jcouv commented on #24939
@abhijitparkhi1983 Could you share the repro project that contains this code? (clean it, zip it and attach it to this issue)
Thanks

[2018-02-20 23:26] jcouv commented on #24923
@jinujoseph Does IDE team or project-system team own `MSBuildWorkspace`?

[2018-02-20 23:33] jcouv commented on #23542
I don't fully understand the root cause, but there is a common problem with this scenario which people have solved by adding binding redirects to their app.config.
You may want to give [this](https://github.com/dotnet/roslyn/issues/24308#issuecomment-362362524) a try.

Tagging @DustinCampbell in case he has insights on the specific error you reported.

[2018-02-20 23:43] jhinder opened #24959 "Type parameter T should not appear in Intellisense completion list in non-generic types"
**Version Used**: 2.6.0.62329 (VS 15.5.6), 2.7.0.62608 (VS 15.6 Preview 5)

**Steps to Reproduce**:

1. Create a new non-generic class.
2. Type the letter `T` inside the class definition.

[code]

**Expected Behavior**:
The first accessible keyword/snippet/type starting with T (e.g. `Task`) is selected in the Intellisense completion list, similar to how it works with all other letters (h -> `HashS

[2018-02-20 23:44] jhinder opened #24960 "Type parameters named T should have "T in classname<T>" tooltip in Intellisense completion list"
**Version Used**: 2.6.0.62329 (VS 15.5.6), 2.7.0.62608 (VS 15.6 Preview 5)

**Steps to Reproduce**:

1. Copy the class definition below into a C# source file.
2. Invoke Intellisense completion at the two marked locations.

[code]

**Expected Behavior**:
About one second after invoking Intellisense, a tooltip reading "T in TestClass<T, T2>" (or "T2 in TestClass<T, T2>", respectively) should appear

[2018-02-20 23:53] pieandcakes commented on #24949
@jcouv I don't know if this was the same for a dev15.6 branch but that's what I did and I'm getting errors that it is missing System libraries. I ended up installing VS and the SDKs and such to get it to work.

I'll set up a machine and see if I can get you the actual errors. This was on a clean Win 10 machine with nothing else installed.

[2018-02-21 00:09] kuhlenh opened #24963 "Provide spell checker on comments/identifiers"
A spell-checker is important because of the accessibility aspects (dyslexia, ESL) as well as the FXCop parity. We want to offer spell-checking support for:
- Identifiers (FXCop parity with public identifiers)
- XML doc comments
- Comments
- Strings

[2018-02-21 00:25] AlekseyTs opened #24964 "Unexpected error about inability to locate canonical definition for a NoPia local type when different core libraries are involved"
[code]

Expected:
Actual:
                // (6,9): error CS1748: Cannot find the interop type that matches the embedded interop type 'Test'. Are you missing an assembly reference?
                //         UsePia1.M1();
                Diagnostic(ErrorCode.ERR_NoCanonicalView, "UsePia1.M1").WithArguments("Test").WithLocation(6, 9)
Diff:
++>                 Diagnostic(ErrorCode.ERR_NoCanonicalVie

[2018-02-21 00:38] gafter commented on #19829
Dup of #22835. (Deferring to the more recent assignment).

[2018-02-21 00:38] #19829 closed

[2018-02-21 00:39] gafter commented on #22835
See #22835 for additional details and repro.

See also #24247 for a related proposed change.

[2018-02-21 01:46] jinujoseph commented on #24923
IDE team owns it .
cc @DustinCampbell

[2018-02-21 01:51] gundermanc commented on #24956
@dpoeschl I've looked into this a bit more. It looks like my changes did break this behavior, but I'm honestly puzzled as to why it was done this way in the first place instead.

The Roslyn code responsible for this behavior is changing private IDE state via reflection and using that to keep the tip open. We could fix this from our side by investigating what implementation details changed and tryi

[2018-02-21 02:38] gundermanc commented on #24956
I'd suggest #24434 as the correct fix to this issue.

[2018-02-21 03:32] davkean opened #24967 "ExtractMethodCodeRefactoringProvider threw "System.InvalidOperationException : Failed to compare two elements in the array""
Was editing something in this code, I'm not sure what caused it:

[code]

Resulted in:

[code]

I do not know what the repro is.

[2018-02-21 07:03] superriva commented on #24942
@jcouv

Yes.

part1.zip -> msbuild.zip.001
part2.zip -> msbuild.zip.002
part3.zip -> msbuild.zip.003
msbuild.zip.001 + msbuild.zip.002 + msbuild.zip.003 -> msbuild.zip -> msbuild.binlog

[part2.zip](https://github.com/dotnet/roslyn/files/1743088/part2.zip)
[part3.zip](https://github.com/dotnet/roslyn/files/1743089/part3.zip)
[part1.zip](https://github.com/dotnet/roslyn/files/1743090/part1.zip)

[2018-02-21 07:10] superriva commented on #24942
Is it possible to have prebuild binaries of roslyn? Like dotnet-sdk\dotnet-runtime.

[2018-02-21 07:24] jcouv commented on #24942
Binaries of Roslyn are available as nuget packages.
https://github.com/dotnet/roslyn/wiki/NuGet-packages

[2018-02-21 11:29] wpsmmb commented on #24940
@jcouv Here you can find a sample project (VS 2017 - 15.5.7, .NET 4.5.1)
https://github.com/wpsmmb/RoslynIssue24940

[2018-02-21 11:38] wpsmmb commented on #24940
Same with target framework .NET 4.7.1 and Microsoft.Net.Compilers v2.6.1

[2018-02-21 12:37] MaceWindu opened #24973 "Expressions validation could be wrong"
I think it will be closed as by design, but I just want to rise this issue here.

Looks like compiler use the same validation logic in Expression code as in regular code which could lead to situations where it produce warnings, which are valid in C# in general but wrong for specific Expression query provider.

Let's use following example:
[code]
For IEnumerable<T> source it is completely valid to

[2018-02-21 13:45] yphuangms opened #24974 "Microsoft.AspNetCore.Server.Kestrel.Core 2.0.1 cause .NET Native compiler crash (Internal compiler error: Object reference not set to an instance of an object)"
**Development Tool**:
Visual Studio 2017 (update 15.5.4)

**Issue Description**:
Fail to build UWP app in release mode if there's dependency to Microsoft.AspNetCore.Server.Kestrel.Core 2.0.1.
Since this library is one of the dependency to many other nuget packages, it blocks developer to create UWP apps for commercial use (since .Net Native is only required when generating app package for store ap

[2018-02-21 14:26] lcsondes opened #24975 "Arrays of tuples don't work with `is`"
I was directed here from https://github.com/dotnet/csharplang/issues/1334

**Version Used**:

VBCSCompiler.exe is 2.6.0.62329, not sure if that's the version you're interested in

**Steps to Reproduce**:

Compile this:

    using System;
    class A
    {
        void Test()
        {
            (object, object)[] a = new (object, object)[1]; // This line has no errors
            var b = a as (o

[2018-02-21 14:33] andre-f-paggi commented on #8877
Still facing this problem

[2018-02-21 14:45] mavasani commented on #8877
@sucaritas @andre-f-paggi We have changed the suppression design for VS-only `IDEXXXX` diagnostics to account for some performance regressions. See details [here](https://github.com/dotnet/roslyn/pull/23794#issue-158489792). In short, you can now suppress these diagnostics only via explicit suppression in the ruleset file or specifying `/nowarn:<ID>` on the compiler command line. Please let us kno

[2018-02-21 14:54] mavasani commented on #15762
This is a bug in the `AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer`. It's [Initialize](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer.cs,73) method does not configure how to deal with generated code. It should be invoking `context.ConfigureGeneratedCodeAnalysis(GeneratedCodeAnalysisFlags.None);` to ensure t

[2018-02-21 15:02] mavasani commented on #15762
Filed https://github.com/dotnet/roslyn-analyzers/issues/1592, which would have caught this issue.

[2018-02-21 15:07] sharwell commented on #15762
@mavasani We likely still want fading of unnecessary imports to work in generated code, so this will need to be modified further to separate the unnecessary code diagnostic from the diagnostic that triggers a code fix.

[2018-02-21 15:08] mavasani commented on #15762
It seems https://github.com/dotnet/roslyn/pull/16703/files handled this case for bunch of analyzers, but missed this one (and potentially some others?). We should really implement dotnet/roslyn-analyzers#1592 to ensure this is correctly implemented and never regressed.

[2018-02-21 15:19] mavasani commented on #15762
Ah, I presume that is the reason @CyrusNajmabadi didn't do so in https://github.com/dotnet/roslyn/pull/16703.

I agree with @sharwell - we need to split this into two diagnostics, a hidden non-configurable diagnostic for fading/code fix and another user facing configurable diagnostic. The analyzer should explicitly configure generated code analysis so it can run and report diagnostics on generated

[2018-02-21 15:25] bordecal opened #24976 "Auto-generated AssemblyInfo files in obj directory should be ignored by analyzers under full solution analysis"
**Version Used**:
Visual Studio 2017 Enterprise (15.5.7)

**Steps to Reproduce**:

1. Create a Visual Studio solution with SDK-style C# project(s) that are configured with rule CS8019 enabled.
2. Build the solution without full solution analysis enabled.
3. Enable [full solution analysis](https://docs.microsoft.com/en-us/visualstudio/code-quality/how-to-enable-and-disable-full-solution-analysis-fo

[2018-02-21 15:44] andrew-vandenbrink commented on #22859
Any workaround for this?

[2018-02-21 16:04] jaredpar commented on #24814
Closing as "by Design"

[2018-02-21 16:04] #24814 closed

[2018-02-21 16:05] jaredpar commented on #24775
Thanks for the feedback. This is covered by our umbrella `dynamic` for new language features issue.

https://github.com/dotnet/roslyn/issues/24815

[2018-02-21 16:05] #24775 closed

[2018-02-21 16:07] jaredpar commented on #24942
@superriva this looks like a bit of an old CLI build. Can you try a more recent build and see if the problem still exists?

[2018-02-21 16:44] andre-f-paggi commented on #8877
Thanks for the response!

When I search for the code IDE1003, it does not show on the list.

![image](https://user-images.githubusercontent.com/8538938/36493037-5df45cac-170d-11e8-9e38-7df3a599fdaf.png)

[2018-02-21 16:51] jcouv commented on #24975
I think this is currently by-design (tuple types are not allowed in pattern matching).
I'll let @gafter confirm and elaborate on plans.

[2018-02-21 16:53] jcouv commented on #24974
@MichalStrehovsky This looks like a crash in the .NET Native toolset. Please advise.

[2018-02-21 16:55] jcouv commented on #24973
I'll let @VSadov comment.

[2018-02-21 16:59] lcsondes commented on #24975
@svick noticed on the other issue that this is not itself a tuple, but a type that contains a tuple. `a is List<(object, object)>` compiles.

[2018-02-21 16:59] mavasani commented on #8877
Interesting, that should work, I will investigate. Meanwhile, can you manually edit the ruleset to add the entry?

[2018-02-21 17:20] andre-f-paggi commented on #8877
It worked now! Thank you very much!

[2018-02-21 17:27] alrz commented on #24975
true. `new (int, int)[]{}` also compiles, whereas `new (int,int)` doesn't.

[2018-02-21 17:41] superriva commented on #24942
@jaredpar
When I try to build with other version sdk then installation script try to download "2.2.0-preview1-007622" sdk. I think it's due to global.json.

[code]
So, I have to set up "2.2.0-preview1-007622" sdk that installation script downloads nothing. And have got errors.

So, I set up "2.2.0-preview1-008004" sdk and changed global.json to
[code]
And have got errors:
[code]

Now, I see newer

[2018-02-21 17:42] dpoeschl commented on #24956
Yes, agreed on all counts, except this means we're shipping 15.6 in a state where `+=<space>` no longer shows the popup, which may make users think the feature is unavailable. I was certainly surprised when it wasn't there and thought it was broken. I filed this to track the "oops, what do we do for 15.6 now" problem.

The good news (maybe?) is that the state machine is still running even though t

[2018-02-21 18:06] jaredpar commented on #24942
@superriva ah sorry. Missed you were trying to build our repository.

Are you running as root here?

[2018-02-21 18:14] mavasani commented on #11750
@jinujoseph @kuhlenh @heejaechang I think we cannot ignore this issue anymore - can we please bring up this issue at the next design meeting? We are adding lot of compilation end analyzers in FxCopAnalyzers and current semantics of full solution analysis off make for an extremely confusing behavior for users, and analyzers seem busted. See https://github.com/dotnet/roslyn-analyzers/issues/1559#iss

[2018-02-21 18:18] gundermanc commented on #24956
Definitely undesirable. FWIW, I think the difference in behavior is that the old quick info was getting this _dismiss-quick-info-on-text-change_ behavior from the ShimQuickInfoController, which is a shim from 1st gen to 2nd gen quick info that isn't supposed to be running in the non-1st gen scenario.

When I redesigned quick info, I added explicit dismissal behavior to the actual quick info implem

[2018-02-21 18:31] dpoeschl commented on #24956
FYI @jinujoseph, sounds like we can't fix this in 15.6 without us adopting #24434 or @gundermanc doing a workaround, and it's probably too late for either of those changes to get through...

[2018-02-21 19:39] superriva commented on #24942
@jaredpar , yes as root. Is it really important?

[2018-02-21 19:47] CyrusNajmabadi commented on #11750
Do all these analyzers run OOP?  If so, would they really cause RPS regressions?  All this stuff should be running at low pri in another process right?

Also, we may def want to consider putting these in an 'end of hte line' category.  i.e. don't put in some long 30 second to rnu them.  but run them after all the other normal priority work that need to happen.  That way it happens in a timely mann

[2018-02-21 21:08] jcouv commented on #24975
@alrz That last example (`new (int, int)()`) is by-design. The language provides a specific way of instantiating tuple types.
Here are the LDM notes on such instantiation (not much details, but makes the decision explicit): https://github.com/dotnet/csharplang/blob/master/meetings/2016/LDM-2016-10-18.md#use-of-tuples-in-new

[2018-02-21 21:18] jaredpar commented on #24942
@superriva hopefully it's not important. However given how frequently we run this command today without error I'm looking for anything to dig into as possible cause.

[2018-02-21 21:48] tomrus88 opened #24978 "VS 2017 freeze/crash"
**Version Used**:
VS 2017 15.5.7
**Steps to Reproduce**:

1. Create new C# project
2. Paste following code into one of *.cs source files
`
unsafe struct X
{
    public X*[] Y;
}
`
3. See VS freeze and crash from stack overflow in Microsoft.CodeAnalysis.CSharp.ni.dll

**Expected Behavior**:
VS should not crash.
**Actual Behavior**:
VS freezes and crashes.

[2018-02-22 00:43] #24964 closed

[2018-02-22 04:09] vivekkjain opened #24982 "C# 7.1 Build failing on Build Server."
**Version Used**:
Visual Studio 2017 15.5.4

Used C# 7.1 feature. Building fine on local machine using Visual Studio 2017 15.5.4

I have set language version to 7.1 explicitly still its failing .

**error CS8314: An expression of type 'Employee<T>' cannot be handled by a pattern of type 'Company' in C# 7.0. Please use language version 7.1 or greater. [D:\BuildAgent\work\936e0f87a6\MyShop\Events.cs

[2018-02-22 04:59] aluanhaddad commented on #24781
@kalaninja this is perplexing.

Note that if you change
[code]
to
[code]
The code compiles, as does
[code]
It seems that the argument names must be in sync or return type inference fails. I thought tuple names were toothless so I'm very confused.

[2018-02-22 05:11] VSadov opened #24983 "Testplan for stackalloc initializers"
I have added a testplan for stackalloc initializers.

Normally we would just create an issue with checkboxes, but I think issues are not all-editable, while docs can be changed in PRs.

Let me know if there is a better way.

The doc is - https://github.com/dotnet/roslyn/blob/features/stackalloc-init/docs/compilers/CSharp/testplans/stackalloc_initializers.md

[2018-02-22 05:14] VSadov commented on #24983
FYI:@jcouv, @alrz

[2018-02-22 06:37] jcouv commented on #24982
I'm not familiar with build server, but from the compiler error this is a C# compiler that supports C# 7.1 (at least), but it got passed a language version that is `7.0` or `default`.

So the question is why did the compiler get passed this language version, instead of the one you expect.
If you're using msbuild for your build, then you can collect a log (I'd suggest a structured/binary log, using

[2018-02-22 06:47] jcouv commented on #24978
Confirmed to repro in 15.6 preview 1.1. I captured a stack trace from the crash and the repeating portion of the stack (copied below) matches an issue that I coincidentally [just fixed](https://github.com/dotnet/roslyn/pull/24876) for 15.7.

I'll verify this scenario was indeed fixed.

[code]

[2018-02-22 07:04] jcouv commented on #24978
Never mind, I accidentally debugged the wrong dump file. Here's the repeating portion of stack trace for this overflow:

[code]

[2018-02-22 07:09] #24959 closed

[2018-02-22 07:18] #24736 closed

[2018-02-22 08:07] OmarTawfik opened #24990 "Enable disabled tests after mono runtime bug is fixed"
Because of this bug: https://github.com/mono/mono/issues/6936
A few tests in the C# compiler code base were limited to CLR only. They should be re-enabled after we take in the fixed mono version.

[2018-02-22 08:28] agocke commented on #24941
I think I would want to see perf measurements comparing the two methods.

Basically, the difference here is that the value itself is the receiver type, instead of a class containing the receiver type as a field. I'm not totally convinced the JIT is going to generate great IL for this.

Overall, I'd say it's not a simple optimization, but if it brings big wins it may be worth doing.

[2018-02-22 08:45] agocke commented on #24941
Thinking about this more, we would still need to validate that there's no mutation to avoid hoisting. I think this would be dependent on https://github.com/dotnet/roslyn/issues/20777

[2018-02-22 09:44] MaceWindu commented on #24973
Well, after giving it some thoughts, I think it is not a big issue, as you can always add some no-op (for query builder) wrappers, which will make compiler calm down. So you can close it if you don't plan any changes in this area.

[2018-02-22 11:30] abhijitparkhi1983 opened #24991 "System.AggregateException: One or more errors occurred. ---> System.ArgumentException: An item with the same key has already been added."
**Version Used**:
2.6.1

**Steps to Reproduce**:

1. We are using Roslyn for opening .csproj using following code:
[code]
2. When we run the above code for a specific .csproj, we get an exception while executing code `Compilation compilation = currentProject.GetCompilationAsync().Result;`:

**System.AggregateException: One or more errors occurred. ---> System.ArgumentException: An item with the sa

[2018-02-22 13:18] MkazemAkhgary opened #24992 "Wrong suggestion by intellisense, "using directive is unnecessary" but its not!"
Quick action thinks that using statement is useless, and will suggest to clean it up (and will do so if I perform full clean up).

If you remove that using statement, documentation becomes invalid.

![wrong suggestion](https://user-images.githubusercontent.com/15255162/36540484-c9b49d7a-17ef-11e8-90b9-7b979784c773.JPG)

---

**Tested Version : 15.5.5**

[2018-02-22 14:08] MkazemAkhgary opened #24993 "Terrible code completion suggestion for implementing interface explicitly."
**Version Used**: 15.5.5

**Steps to Reproduce**:

Suppose I have a class and an interface. this class has implemented all interface members except one (or a few).

    public interface IInterface
    {
        void DoFoo();
        void DoBar();
    }

    public class MyClass : IInterface
    {
        public void DoFoo()
        {
        }
    }

This class is missing a member. Quick action wo

[2018-02-22 14:12] Suchiman commented on #23175
I've also stumbled upon this today.

**Version used**: 15.6.0 Preview 5.0
[code]

**Repro**:
[code]
Select the textspan between `$$` and it will immediately show that an error has been encountered (no need to `CTRL + .`)

[2018-02-22 14:44] bojingo commented on #21783
"C# latest" being the default can be problematic because as soon as a new version of C# comes out doesn't mean all your build agents and such are immediately updated accordingly. The intent of the setting is to prevent people from using new features before they are ready for it. It just should be at the project level instead of specific build configuration level. (think of the settings in the proj

[2018-02-22 15:40] sharwell commented on #24992
Duplicate of #2773

[2018-02-22 15:40] #24992 closed

[2018-02-22 15:42] sharwell commented on #1279
Duplicate of #2773

[2018-02-22 15:42] #1279 closed

[2018-02-22 15:49] svick commented on #24941
@agocke

[I created a simple microbenchmark for this using Benchmark.net.](https://gist.github.com/svick/1dd12c4eb054b568bc1c1652ef452159) The results are:

|                        Method |     Mean |     Error |    StdDev |  Gen 0 | Allocated |
|------------------------------ |---------:|----------:|----------:|-------:|----------:|
|          CreateDelegateLambda | 36.74 ns | 0.7785 ns | 0.9268

[2018-02-22 16:07] mirsaeedi opened #24994 "Detecting Framework Related Anti-patterns using Roslyn"
I want to develop an analyzer to automatically identify entity framework related antipatterns. For example, the following is an example of loading redundant columns.

[code]

[code]

As you can see we are loading all columns while we are using only the Name column. Could you please help how can I identify such patterns by employing CFG and DFG graphs? Is it possible to detect these kinda patterns

[2018-02-22 16:30] MkazemAkhgary commented on #2773
wow, I didn't expect to see this issue is raised since 2015, I thought it should be a minor fix.

[2018-02-22 17:13] agocke commented on #24941
Thanks! That's what I was looking for.

[2018-02-22 17:54] gundermanc opened #24996 "LightBulb menu item sort is inconsistent with lightbulb severity icons"
**Version Used**:
Visual Studio 15.7 (d15.7stg)

**Steps to reproduce:**
See 'Explanation'

**Expected behavior:**
LightBulb menu items are sorted by severity so that 'error' fixes come before 'suggestions' which come before 'refactorings'. Doing so ensures that the most relevant fix is always at the top of the menu so that it is easily discoverable and so that pressing Ctrl+. followed by enter is

[2018-02-22 17:58] sharwell commented on #2773
@MkazemAkhgary It was actually originally filed 25 July 2014, before Roslyn was even on GitHub. 😁

[2018-02-22 18:01] gundermanc opened #24997 "'Spell-check' LightBulb action name is confusing"
**Version Used**:
Visual Studio 2017 15.7 (d15.7stg)

**Explanation:**
'Spell-check' action name in LightBulb sounds like it is intended to parse the entire document looking for grammar + spelling errors in comments when it actually corrects typos in member names to the closest known member name.

It should be renamed something akin to 'Correct typo in [typed name]' to be more clear

![image](http

[2018-02-22 18:07] jnm2 commented on #2773
@MkazemAkhgary Do you want to see how far you get implementing it?

[2018-02-22 18:09] gundermanc opened #24998 "Roslyn lightbulb actions should have a distinct 'code generating fix' action category"
**Version Used**:
Visual Studio 15.7stg

**Explanation:**
This bug is a companion work item that in conjunction with #24996 should improve the sorting + icons for LightBulb actions.

A subset of the existing lightbulb fixes are currently categorized as ‘errorfixes’, and though they do in-fact fix compiler errors, I think that they rarely fix the user’s omissions or mistakes and are more of a means

[2018-02-22 18:13] MkazemAkhgary commented on #2773
@jnm2 is that a threat? 😸

[2018-02-22 18:14] jnm2 commented on #2773
@MkazemAkhgary Don't give me ideas 😋

[2018-02-22 18:20] MkazemAkhgary commented on #2773
I was just a little surprised, but I guess I'm cool :)

[2018-02-22 18:23] jnm2 commented on #2773
Seriously, surprised at what? I'm genuinely asking whether you want to get involved. @CyrusNajmabadi  and @sharwell and others would would give you plenty of support.

[2018-02-22 18:26] MkazemAkhgary commented on #2773
Oh, I thought that's a sarcasm, my apologize.

yes, I would like to see where to start, like some references where I should look into. I will spare some time for that.

[2018-02-22 18:31] Pilchie commented on #2773
The basic problem is that for performance, the compiler doesn't bother parsing and binding xml documentation comments if you aren't going to generate an xml doc comment file.

Without the compiler having done the binding, the IDE feature doesn't recognize that the using is required.

[2018-02-22 18:35] jasonmalinowski commented on #23074
Going to close this believing that #24883 is the right fix for it.

[2018-02-22 18:35] #23074 closed

[2018-02-22 18:35] jnm2 commented on #2773
@Pilchie Have perf mitigations been considered? What about only binding comments in scopes with unused using directives?

[2018-02-22 18:38] MkazemAkhgary commented on #2773
if generating a file looks expensive, why not keeping it memory? then if option for generating doc file is enabled also store that as a file.

[2018-02-22 18:43] Pilchie commented on #2773
@jnm2: That's an interesting possibility, though it means binding those documents twice.  The way unused usings works, is that the compiler basically tracks what usings get touched as it binds things.

To do what you propose, we'd first need to bind the whole document as is, determine that a using was unused, and then bind it again including xml doc comments to see if it was *still* unused.

@Mkaz

[2018-02-22 18:48] MkazemAkhgary commented on #2773
bear with my Ignorant, but it seems like intellisense is already parsing the docs? like the way its displayed, highlighted. how does that work?

well intellisense and compiler are two separate components but can you somehow make this connection? like if there is `cref` usage (or other similar references) then somehow tell compiler to do the parsing and binding.

[2018-02-22 18:48] jnm2 commented on #2773
@Pilchie A lite-diagnostic mode was the next thing I was going to suggest. =) Can you flesh that out enough for a community member to start implementation?

[2018-02-22 18:52] jnm2 commented on #2773
@MkazemAkhgary Yes, the IDE always parses the syntax. What it doesn't always do is bind the syntax to a semantic model (which is needed to determine whether a `using` is really used). It only does the latter if you are outputting an XML doc file.

[2018-02-22 18:54] sharwell commented on #2773
In performance traces I've seen for users that have doc comments enabled, the majority of the performance impact is emitting the XML file itself. Restricting the operation to only binding should not cause observable problems.

[2018-02-22 18:56] jnm2 commented on #2773
Full diagnostics would actually be great, thinking of a long-standing peeve of mine. People end up putting invalid crefs in projects that don't output an XML file.

[2018-02-22 19:00] sharwell commented on #24998
❓ When you set up this example, which of the following did you do?

1. Type `ITetBuffer`
1. Type `ITextBuffer`, and then change it to `ITetBuffer`

For the second case, the change to existing code is detected as an intentional rename operation which is why Rename is offered at the top of the suggestions menu.

[2018-02-22 19:07] gundermanc commented on #24998
I don't remember the exact sequence of events, I may have changed it after the fact.

Either way, I still think that we should distinguish code generating fixes from the trivial error fixes. In this case, 'spell check' seems to be a more likely solution to the problem than 'generate type'.

[2018-02-22 19:12] Bunderant commented on #2487
It's inconvenient, but as a workaround, just get into the habit of triggering an "undo" after each time you type a # character. The reformatting gets applied as a separate event in the undo/redo stack, so your formatting will return to normal, keeping the # you typed in. Works for me on Visual Studio Community for Mac, at least. Hopefully this saves some of you some irritation.

[2018-02-22 19:26] gafter commented on #24781
This is almost certainly a bug.

[2018-02-22 19:44] CyrusNajmabadi commented on #2773
This sounds good to me.  It feels like we could accomplish this by augmenting CompilationOptions so that Xml handling is not just on/off.  instead there would be separate knobs for binding vs emit (with emit implying binding).  IDE would always set at least the 'bind' flag.  The 'emit' flag would be set if that was how things were specified in the proj file.

--

There is an interesting wrinkle to

[2018-02-22 19:46] Pilchie commented on #2773
@jnm2 - I'm not familiar enough with the compiler code to answer that.  @jaredpar / @jcouv - who knows the most about xml doc comment stuff these days?

[2018-02-22 19:47] Pilchie commented on #2773
@CyrusNajmabadi We already have the `Parse` and `Diagnose` options.  We need another option somewhere in between, or to update the meaning of `Parse` based on the assumption that the IDE is the only one that ever uses it.

[2018-02-22 19:51] ygoe commented on #2487
@Bunderant You can even reuse that habit to work around the broken forced auto-formatting of .cshtml Razor view files. I see a pattern here in Visual Studio: Always undo everything that's automatically changed for you to prevent damage. And it makes me sad.

[2018-02-22 19:52] CyrusNajmabadi commented on #2773
Ah, gotcha!   Yes, that would make sense.  Having 'Parse' take on new meaning is somewhat distasteful to me.  Esp as 'Parse' is so clear, and maybe other clients want that behavior to stay the same.  Having a 'Bind' (or 'Analyze' or some other good name) option added to the enum makes sense as a way to bridge between the behaviors.  Diagnose would imply 'Bind' (as it implies 'Parse' already).  'Bi

[2018-02-22 19:55] sharwell commented on #2773
I would love for the default to change so documentation comments are bound by the compiler but associated warnings (e.g. CS1591) have severity None. This would allow analyzers to operate without having to warn users to turn on these comments.

[2018-02-22 19:59] CyrusNajmabadi commented on #2773
That's an even better idea!
You're right.  I hadn't considered that the lack of diagnostics jsut means we're punting other problems down the road.  We should have diagnostics.  But having them have None severity makes sense for the user who is saying "do not emit", but who still wants IDE features to work well in doc comments.

[2018-02-22 20:02] jnm2 commented on #2773
The times I've run into this, the people who caused the invalid crefs would want to know and fix them and were surprised that they weren't checked.
I really want squiggles at the most visible level that back-compat will allow.

[2018-02-22 20:06] Pilchie commented on #2773
+1 to @CyrusNajmabadi's suggestion.

@jnm2 - we could consider an IDE option to show suggestions/infos/etc, even if the compiler wouldn't emit on build.  Tagging @kuhlenh for that.

[2018-02-22 20:10] sharwell commented on #2773
The warning severity can always be altered. In theory a .editorconfig setting could set the severity for all such warnings about existing comments, but leave warnings about *missing* comments hidden (e.g. CS1573, CS1591).

[2018-02-22 20:11] jnm2 commented on #2773
I would wish for errors in the IDE even if the compiler can't report anything. I believe it's highly surprising to people whenever crefs are not validated.

It's really a shame that we have to assume warnings-as-errors folks are people who, in a seeming contradiction, _wouldn't_ actually want to see build failures when they upgrade their compiler. I interpret the setting as asking for pedantic mod

[2018-02-22 20:48] MkazemAkhgary commented on #24993
@sharwell please check this out. looks like this can be fixed very easily. maybe as simple as filtering a list.

[2018-02-22 21:46] olegtk commented on #24912
The trick is to clear it with ```*.*``` instead :) @jinujoseph please route this to the editor.

[2018-02-22 21:54] jasonmalinowski commented on #21358
There seems to be at least two bugs here:

First, when you try transferring from csproj.dll project to the netstandard project, we run

https://github.com/dotnet/roslyn/blob/4ff14c4bb0068909831dde2650d73c5bf708a4e6/src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs#L918-L925

which correctly updates the netstandard project to point to the (one and only) target of i

[2018-02-22 22:31] jinujoseph commented on #24912
routed to editor [link](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/571078)

[2018-02-22 22:31] #24912 closed

[2018-02-22 22:54] davkean opened #25003 ""Resolve using" doesn't respect "Separate using directives groups""
![image](https://user-images.githubusercontent.com/1103906/36568834-8b2be438-187f-11e8-82c1-47a3741e710d.png)

Resolve using doesn't respect the "Separate using directives groups"

[code]

Expected:

[code]

Actual:

[code]

[2018-02-22 23:30] cston opened #25004 "OverloadResolutionPerfTests should be RELEASE only"
`OverloadResolutionPerfTests` should be `RELEASE` only to avoid overhead of additional asserts, etc.

[2018-02-23 00:44] jcouv commented on #24835
Fix merged for 15.7.

[2018-02-23 00:44] #24835 closed

[2018-02-23 00:48] davkean opened #25006 "Decompiler should be smarter around constants"
The following:

[code]

gets decompiled to:

[code]

Similar to other decompilers, we should be smarter around replacing magic "literals" with their appropriate constants.

[2018-02-23 00:50] davkean opened #25007 "Decompiler doesn't respect my code style settings"
The decompiler isn't respecting any of my settngs, including TABs vs spaces, whether members should be prefix with "this.", etc:

![image](https://user-images.githubusercontent.com/1103906/36572392-a64d52c8-188f-11e8-9911-0d5dfe3e8fbc.png)

[2018-02-23 01:03] jasonmalinowski commented on #23186
@olegtk So what's the state of the art here now? As a part of the command handler stuff is some of this is public now, right?

[2018-02-23 01:04] davkean opened #25009 "Entering a new line in the middle of <typeparam/> element incorrectly causes CodeSense to think it's encountered a new method"
Really hard to explain, but after entering a new line in the following causes CodeSense to think its encountered a new method and show its bar for a second:

![typeparam](https://user-images.githubusercontent.com/1103906/36572701-628c95d8-1891-11e8-950d-f83e5f955ef2.gif)

Enter new line in the following:

[code]

This doesn't happen anywhere else.

[2018-02-23 01:07] jasonmalinowski commented on #10547
Not sure I remember enough of the context here.

[2018-02-23 01:07] #10547 closed

[2018-02-23 01:34] alrz commented on #23175
Do we have a tracking issue for this one?
[code]

[2018-02-23 02:04] HaloFour commented on #25006
Would the decompiler look for any constants in scope that happen to match that literal?  How would it disambiguate if there is more than one?

[2018-02-23 03:57] jcouv commented on #24991
Tagging @DustinCampbell

[2018-02-23 04:36] jnm2 opened #25010 "Reformatting does not consistently indent comment and succeeding statement"
15.5.7 without ReSharper enabled

To repro, start with something like the following in the editor:

[code]

Select the last semicolon (line 12) and retype it to trigger reformatting. Result:

[code]

[2018-02-23 06:16] BADF00D commented on #21444
I have the same problem.
* Visual Studio 15.4.3
* Microsoft.CodeAnalysis.CSharp.Workspaces 1.0.1

[2018-02-23 07:11] sharwell commented on #19994
@jcouv I cannot find an issue describing the long-term behavior of fields of structs. Analysis in #19067 and other analyzers aimed at detecting misuse of mutable value types requires that reference assemblies contain private fields. I'm planning to proceed as though these fields will continue to not be stripped, as changes to this behavior would cause substantial downstream limitations.

[2018-02-23 08:16] superriva commented on #24942
@jaredpar
Unfortunately, same errors for unprivileged user:

[code]

[code]

May be my server memory is small? I have only 4Gb. Could I run build in 1 thread? How could I do that?

[2018-02-23 09:16] JosefPihrt commented on #24967
maybe a duplicate of #23175

[2018-02-23 09:16] mkrueger opened #25017 "[Completion] Need a way to add to override completion"
The override completion provider is exclusive howver that exclusive model prevents adding to the override completion list.

However our users are used to a feature where they could virtually override members that are not virtual.
See the VSTS issue https://devdiv.visualstudio.com/DevDiv/_workitems/edit/564610

[2018-02-23 09:32] davkean commented on #24967
@JosefPihrt Yep, I agree, closing in lieu of it.

[2018-02-23 09:32] #24967 closed

[2018-02-23 09:33] davkean commented on #23175
Also hit this: https://github.com/dotnet/roslyn/issues/24967.

@alrz Please file a new bug for that.

[2018-02-23 09:38] KlausLoeffelmann opened #25018 "VB: Debugger Bug when using type Date Properties in Classes in .NET Core Projects"
This is tested with 15.5.6 and with 15.6.5.

1. Create a new Visual Basic .NET Core Command Line App.
2. Insert this Code:

[code]

**Expected Behavior**:
Debugger should display the values of t, when you hover over the variable.

**Actual Behavior**:
Debugger displays '?' instead for each value.

![image](https://user-images.githubusercontent.com/9663150/36587481-99b9ab7e-1885-11e8-8326-a8650283d

[2018-02-23 09:53] CyrusNajmabadi commented on #25006
@HaloFour Roslyn already has some smarts here.  Namely it looks in the *Type* for that value for any constants matching the value.  If it finds any, it will use them.  As such, it will replace constants with things like int.MaxValue, double.Infinity, etc. etc.

This is the behavior you would get previously with the normal 'metadata as source' feature.

[2018-02-23 10:26] thomaslevesque opened #25019 "Definite assignment bug with out parameter of type CancellationToken"
**Version Used**: v2.6.1.62414 (according to csc.exe)

**Steps to Reproduce**:

1. Write this code:
[code]
2. Compile

**Expected Behavior**:
Compilation should fail with CS0177 because the `cancellationToken` out parameter is never assigned.

**Actual Behavior**:
It compiles without error.

Interestingly, I can only reproduce the issue with a parameter of type `CancellationToken`. With any other

[2018-02-23 10:31] thomaslevesque commented on #25019
In fact, I can easily reproduce it with a custom struct:

[code]

[2018-02-23 14:15] svick commented on #25019
This looks like a duplicate of https://github.com/dotnet/roslyn/issues/24493.

To sum up, the compiler allows you to not assign the `out` parameter if it's *an empty `struct`*. There was a bug that meant that `struct`s in reference assemblies didn't contain their private fields, so the compiler treated them as empty. This has been fixed, but the fixed reference assemblies probably aren't published

[2018-02-23 14:50] asser-dk opened #25020 "Unable to resolve `WithAttributeLists()` extension method"
I hope this is just an extremely stupid question but it's been buggering me all day.

I'm making my first code fix provider which (in my head) should be fairly simple. Add an attribute to a given member. I've found several resources on how to make this type of provider, however; all of them use an extension method called `Microsoft.CodeAnalysis.CSharp.Syntax.MemberDeclarationSyntaxExtensions.WithA

[2018-02-23 15:01] thomaslevesque commented on #25019
I was not aware of this, thanks!

Indeed it's a duplicate, I'll close it.

[2018-02-23 15:01] #25019 closed

[2018-02-23 15:13] Tragetaschen opened #25021 "Invalid "Remove Unnecessary Cast" suggestion when casting an IntPtr to a pointer"
**Version Used**:
VS 15.6 Preview 5.0

**Steps to Reproduce**:
[code]

**Expected Behavior**:
No suggestion to remove the cast

**Actual Behavior**:
VS suggests to remove the cast to `long*`. However as the preview of the code change already shows, that results in a compile time error: IntPtr doesn't support indexing.

If you add another pair of (redundant) parentheses, the suggestion disappears:

[2018-02-23 15:58] jaredpar commented on #24942
Thanks for checking that. I'm actually going to be moving us to a new CLI version today or Monday. Our current one is very out of date. If it still repros under that then we're going to get some CoreClr developers involved here. This is very unlikely to be an issue with the compiler given we run just fine on every other OS here. Seems likely to be runtime related.

[2018-02-23 16:26] sharwell commented on #24548
I just observed this during a particularly bad VB editing experience. Allocations were 1.37GB over 20 seconds (60% of total).

[2018-02-23 17:06] jcouv commented on #19994
@sharwell If a struct only contains private fields, it is safe to assume that in a ref assembly it will always contain at least one private field (but maybe not all).
If you b think stripping *any* private field is a problem, let me know.

[2018-02-23 18:06] nguerrera commented on #24591
Link to https://github.com/dotnet/announcements/issues/57

[2018-02-23 18:25] cezarypiatek commented on #3082
So how to deal with scenario when complete replacement is required? I've described my problem in details here https://stackoverflow.com/questions/48953387/replace-single-assignment-statement-with-multiple-statements-with-roslyn

[2018-02-23 18:29] jcouv commented on #25021
Tagging @sharwell who's looking into another problem with detecting necessary vs. unnecessary casts (https://github.com/dotnet/roslyn/issues/24853)

[2018-02-23 18:42] jcouv opened #25024 "Lifetime of locals introduced for discards is wrong (too short)"
In short, if you do `ref int i = ref M(out _);` it is possible for the local to reference the discard outside of the discard's lifetime. Another scenario is `M(out _).N()` where `M` returns a ref to its parameter.

I'll let @VSadov add details.

[2018-02-23 19:12] benaadams opened #25025 "`this ref` struct extension shouldn't be considered overload for class type"
[code]
[code]
Both calls are ambiguous even though only one can apply to each type due to `ref this` and `struct` and `class` constraints
[code]

I assume the methods don't actually collide because adding types makes them happy
[code]

Whereas reversing the type params causes both to error (for opposite reasons)
[code]
[code]

So is it really ambiguous?

/cc @VSadov

[2018-02-23 20:49] jcouv commented on #25025
Tagging @OmarTawfik as well

[2018-02-23 20:50] jcouv commented on #25025
Also @gafter, I wonder if your recent change on improving the candidates for overload resolution (https://github.com/dotnet/roslyn/pull/24756) would affect this.

[2018-02-23 22:58] ivanbasov commented on #25018
I reproduced the issue. It disappears if remove the Date property. As I see, it generates a diagnostic here: [Binder_Expressions.vb,2494](http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic/Binding/Binder_Expressions.vb,2494)

@AlekseyTs, could you please take a look?

[2018-02-24 00:18] jcouv opened #25028 "Fix `GetStackAllocConversion` and remove `Binder.CheckFeatureAvailability` method"
During overload resolution or conversion classification, we use use-site diagnostics to report problems with symbols that might affect the correctness of result.
`GetStackAllocConversion` should not be putting language-version-related diagnostics as use-site diagnostics since there was nothing wrong with symbols. Also, we don't want language version to affect the result of the binding (including c

[2018-02-24 01:02] CyrusNajmabadi commented on #24996
LightBulb menu items are sorted by severity so that 'error' fixes come before 'suggestions' which come before 'refactorings'. Doing so ensures that the most relevant fix is always at the top of the menu so that it is easily discoverable and so that pressing Ctrl+. followed by enter is more likely to give the user a solution to the most 'problem' on the line.

Sorting is not relative to severity bu

[2018-02-24 01:03] CyrusNajmabadi commented on #24996
I would be ok with this.

[2018-02-24 01:04] CyrusNajmabadi commented on #24996
This def feels like an issue with the lightbulb (and it's line-based nature). If put my caret on the faded code, and i bring up the lightbulb, then i'll want to be addressing the thing that is under my caret.

[2018-02-24 01:06] CyrusNajmabadi commented on #24996
I do not agree with your assessment of the "typical developer inner loop".  i.e.

The point of the inner loop is that *all* of these things are happening.  You've now defined "two loops":

1. get it running
2. get the style right

But hte point of the inner loop is that it's just one loop.  I may be making style changes as i also deal with compiler issues.  Indeed, that's how i normally operate 10

[2018-02-24 01:08] CyrusNajmabadi commented on #24997
I'd like to see the numbers on how many times people rename using the ligthtbulb vs how many times they fix spelling.  @kuhlenh can you provide?

[2018-02-24 01:08] CyrusNajmabadi commented on #24997
Note: i do like the "fix typo" suggestion.

[2018-02-24 01:10] CyrusNajmabadi commented on #24998
What is the difference between the code-generation that happens when you add a using, vs the code-generation that happens when you generate somethign else? :)

Can you break down the set of features that would go in the "Error fixes: trivial fixes, such as add using, spell check," category?  In other words, what else goes there other than add-using and 'spell-check'?  I ask because it will help me

[2018-02-24 01:13] CyrusNajmabadi commented on #24993
this is very much by design.  We used to have "implement explicitly" do what you wanted, but we got a lot of feedback that that's exactly *not* what people wanted.  They wanted "implement explicitly to make sure there was an explicit impl for all members".

"implement interface" is thus the: do the minimal work to make sure i'm implementing things.  "Implement interface explicitly" is the: make su

[2018-02-24 01:14] CyrusNajmabadi commented on #25010
@dotnet/roslyn-ide According to @jnm2 this is also a regression.  It's pretty bad, and looks like soemthing that should be fixed asap.

[2018-02-24 01:15] CyrusNajmabadi commented on #24548
@sharwell What is the callstack that is leading into this?  I'd like to know which feature is using the NameGenerator here.  Thanks!

[2018-02-24 01:42] jnm2 commented on #25010
Sorry, that was a miscommunication. I meant to say it seems like I have seen this pretty far back.

[2018-02-24 01:49] gundermanc commented on #24996
I usually try and fix compiler errors on the line before addressing style on that line. Maybe the typical loop is to actually fix errors on a line, fix style on a line, rinse and repeat. Either way, I'd expect fixing the errors in a particular context (maybe the line) to usually take precedence over what I'd consider to be elective actions (suggestions, refactors).

You make a great point that I a

[2018-02-24 01:51] gundermanc commented on #24996
If nothing else, adding visual treatment to the lightbulb menu for different categories would be a good visual aid.

[2018-02-24 01:56] gundermanc commented on #24997
TBH, I've never discovered the Rename (outside the context of Ctrl+R, Ctrl+R inline rename) or the 'Spell-check' issue until I was looking really closely at the lightbulb so I'd be concerned that the numbers may reflect their relative discoverability rather than their value.

👍

[2018-02-24 02:16] gundermanc commented on #24998
Fair, I've been struggling to determine what the distinguishing trait should be. It's an issue of 'I know them when I see them' :)

Here's what I'm thinking:

- *Error Fixes:* Make a small isolated change that if applied to otherwise correct code would return the code to a compile-able and runnable state *and* doesn't perform sweeping refactors *and* addresses a developer's minor mistake, omission

[2018-02-24 03:24] CyrusNajmabadi commented on #24998
What means "GenerateType" sufficiently "sweeping" vs GenerateLocal?  Where does GenerateMethod sit?

What is a "sweeping refactor[ing]" :) ?

[2018-02-24 05:00] gundermanc commented on #24998
'GenerateType' doesn't fit in 'error fix' under my proposed change not because it is a sweeping refactoring but because it breaks the second and third condition of 'error fix' membership:

- It doesn't return code to a runnable state
- It doesn't address a minor mistake or omission
- 'generate type' generates a class-skeleton which has to be fleshed out by the developer before the code is runnable

[2018-02-24 05:47] sharwell commented on #24548
@CyrusNajmabadi Here's the backtrace:

![image](https://user-images.githubusercontent.com/1408396/36626192-e366bc1c-18f3-11e8-93fa-d7d978262db6.png)

[2018-02-24 05:54] AArnott opened #25030 "Task<T>.ContinueWith produces sensible completion list, but then compiler error"
**Version Used**: 15.6.27422.00

**Steps to Reproduce**:

Create a C# console app with this code:

[code]

**Expected Behavior**:

This compiles successfully. `task` is a `Task<int>` and `ContinueWith` supplies a `Task<int>` as the first parameter to the delegate I pass in. This is what the language service completion list suggests.

**Actual Behavior**:

Although the completion list shows that `R

[2018-02-24 06:29] AlekseyTs commented on #25018
@ivanbasov What diagnostics is created, for what syntax? Could you create an EE unit-test with the repro?

[2018-02-24 07:42] KlausLoeffelmann commented on #25018
If this is relevant: Keep in mind that this only happens in .NET Core; in classic .NET everything works fine.

[2018-02-24 07:51] CyrusNajmabadi commented on #24548
Talked with @sharwell on gitter.  The primary issue is that IntroduceVariable currently actually *executes* the code action it produces during the GetRefactoringsAsync phase.  The reason for this, afaict, is as follows:

1. Because of venus, some parts of the user's code will 'hidden'.
2. IntroVariable doesn't want to introduce fields/constants into those hidden areas.
3. So it runs the fix, and t

[2018-02-24 07:54] CyrusNajmabadi commented on #24998
I think this is making a *big* assumption.  For example, it's making the assumption that the user most likely wants to perform the most trivial fix.  That's not at all clear to me that that's what they will want.

[2018-02-24 07:55] CyrusNajmabadi commented on #24998
Sure it does. :)

And, for the EnC developer, it fits into the loop of: generate code, f5, edit when exception is hit, rinse/repeat.

That's circular :)   What makes it minor?

(sorry, i'm being pedantic because i think it will help flesh out categories here).

[2018-02-24 08:53] MkazemAkhgary commented on #24993
@CyrusNajmabadi

When I get error, this lightbulb comes _in regard to that error_. so I do expect that to solve the related problem, not to solve another problem.

![inkedwrong suggestion 3_li](https://user-images.githubusercontent.com/15255162/36627737-9756a102-195c-11e8-9a07-cec19b398dfc.jpg)

_if that's the case_, then you should show us a lightbulb always when clicking on the interface not whe

[2018-02-24 09:14] CyrusNajmabadi commented on #24993
The problem is that you're not implementing the interface.  The decision on the part of the fix is how to address that.  It's not just to add the method that the diagnostic says is missing.  If it did only that, you'd still have a problem the moment you're missing any more than one member.

up till now, you're the first person to have asked for this.  We made the options in roslyn match what we sa

[2018-02-24 09:15] CyrusNajmabadi commented on #24993
1. why would you want this?  That still hasn't been explained.
2. It is *hugely* unlikely that we would add an option that just implements a single member from an interface.  It's such a marginal case that isn't worth cluttering up the UI to offer.

[2018-02-24 09:27] MkazemAkhgary commented on #24993
1. Because im lazy :)
2. Ok :(

[2018-02-24 09:32] CyrusNajmabadi commented on #24993
Not a good reason :)    If you want one-off features that help your specific use cases, then def invest in writing code-analyzers.  They're great for this purpose :)

[2018-02-24 12:17] svick commented on #23352
I can reproduce this with the code from [one of the Developer Community issues](https://developercommunity.visualstudio.com/content/problem/158219/extractmethodcoderefactoringprovider-encountered-a-11.html):

[code]

If you select the three lines in the method body, the exception is thrown.

[2018-02-24 14:05] OmarTawfik commented on #25028
I'll take this one.

[2018-02-24 15:51] Neme12 opened #25036 "Async keyword not highlighted on local functions"
Repro:
[code]
Click on first `async` - both `async` and corresponding `await` is highlighted.
Click on second `async` - nothing is highlighted.

[2018-02-24 15:51] Neme12 commented on #25036
I'm working on this.

[2018-02-24 18:49] alrz opened #25038 "Span<RefStruct> is permitted through an implicitly-typed variable"
**Version Used**: https://github.com/dotnet/roslyn/commit/37e71921d2f539854ec3a5ebd45cdda5a1a5eccf head of `features/compilers`

**Steps to Reproduce**:

[code]

**Expected Behavior**: error in both cases

**Actual Behavior**: error only if `S` is spelt out

[2018-02-24 18:49] alrz commented on #25038
/cc @VSadov

[2018-02-24 18:55] alrz commented on #23175
Alright, it's already filed here: https://github.com/dotnet/roslyn/issues/23352

[2018-02-24 19:24] sharwell commented on #24993
@MkazemAkhgary I tend to agree with the conclusion, but I'm not quite ready to simply dismiss the idea. I'm going to reopen it so a couple more eyes are on the issue and see if there's anything here to tweak as an improvement.

[2018-02-24 19:25] svick commented on #2773
@sharwell

I thought it would be interesting to test this, so I created [a Benchmark.Net benchmark for this](https://gist.github.com/svick/d6f73009dd90db4d562e44ac549d2c96). The benchmark compiles the largest C# project with documentation comments I had sitting around, `Microsoft.CodeAnalysis.CSharp`, using the Roslyn API. It compares the different `DocumentationMode`s and also what effect does em

[2018-02-24 19:25] sharwell commented on #24993
@dpoeschl I'm thinking there may be a way to include interface names in member completion so it's easier to add an explicitly implemented member, similar to how `override` assists with other members.

[2018-02-24 19:28] sharwell commented on #2773
@svick are you able to test this on tunnelvisionlabs/dotnet-threading?

[2018-02-24 19:42] VSadov commented on #25038
I think the second case is where it is a pointer for compat reasons.

What is the type of y ?

[2018-02-24 19:47] alrz commented on #25038
[code]
is actually emitted. See the example in [sharplab](https://sharplab.io/#v2:EYLgZgpghgLgrgJwgZwLTJgg9gOwOY5QC2EANDCAJYA2APgAIAMABPQIwDcAsAFBJjNmGBHADGMZgGUA3gF9e9AMzM4OZFEisATMwDCzab0HH6AFmYBZABTNgWLNWajSUoQEoDR494BuUBMwAHswAvE4A/BhQogDWUNTUWKKCkgDaWgC6IFGx8YnJaWwZ3Dze8jyyQA=).

AFAIK stackalloc only returns a pointer when it's directly in a local decl initializer.

[2018-02-24 20:11] VSadov commented on #25038
A bug then :)

[2018-02-24 20:11] Neme12 opened #25039 "Bugs in SwitchStatementHighlighter"
#### 1. It highlights unrelated goto statements

[code]
Click on switch. Second goto is highlighted. It shouldn't be.

#### 2. It doesn't highlight nested break/goto statements.
[code]
Click on switch. Top-level break/goto get highlighted, but not those inside the if statement.

[2018-02-24 20:12] Neme12 commented on #25039
I'm working on both.

[2018-02-24 20:18] Neme12 commented on #25039
I came across this weird test:
https://github.com/dotnet/roslyn/blob/6847f1e5a909395aae9456e8f366cbf4deb86b69/src/EditorFeatures/CSharpTest/KeywordHighlighting/SwitchStatementHighlighterTests.cs#L467-L482

1. what is this?! some sort of internal database?
2. how was this ever a bug? this test supports the existing (wrong) behavior of highlighting unrelated goto

[2018-02-24 20:23] alrz commented on #25038
I *really* wished we hadn't change stackalloc default type based on the context it's being used. as far as I know the motivating example was that in a ternary we didn't want to cast either of operands to Span,
[code]
And that stackalloc in local decl initializers already produce a pointer
[code]
So we changed the default type to Span anywhere except for the above case.

We could address the proble

[2018-02-24 20:44] CyrusNajmabadi commented on #25039
Many tests predate the move from Roslyn to open source.  Many even predate C#/Vb being written in managed code :)

Tests are not just used to validate good behavior.  They also record current behavior so that you are notified if that behavior changes.  That ensures that changes don't happen without people realizing it.  If the change is for the better, great.  If not, it means more dev work needs

[2018-02-24 20:56] Neme12 commented on #25039
can someone tell me something about "Bug3483" then and what the purpose of that test is?

@CyrusNajmabadi the test has a "bug" in its name so presumably it fixed a previous "bug" at some point in the past when that `goto` keyword didn't use to be highlighted. But not highlighting seems like the correct behavior to me and I can't think of a reason why that would have been a bug and why it should be

[2018-02-24 21:03] CyrusNajmabadi commented on #25039
The code is broken (i.e. is in the middle of being written).  As such, someone made a call as to what behavior you should see when you encounter that.  The test simply codifies that behavior so it doesn't change unintentionally.  If there is a good reason for change, then that's fine.

[2018-02-25 03:15] AlekseyTs commented on #25018
Also, it would be helpful if we could get a mini-dump with memory taken at the time when the error is reported.

[2018-02-25 04:29] #20083 closed

[2018-02-25 04:30] #20084 closed

[2018-02-25 04:31] #24497 closed

[2018-02-25 05:59] jcouv commented on #25030
Having a look

[2018-02-25 07:34] ashmind commented on #22289
@jasonmalinowski I think I managed to reproduce this on local -- got a memdump. How should I send you the link to it? (uploaded to mega.nz) Don't want to post memory dumps in public, just in case.

[2018-02-25 09:46] jinujoseph commented on #25010
Tried this in latest 15.6 and not seeing the any issue, @chborl can you repro and see whats going on here

[2018-02-25 12:39] jnm2 commented on #25010
It reproed in 15.6.0-p5 too.

[2018-02-25 12:42] jnm2 commented on #25010
Just verified, this reproes in 16.5.0-p6. Make sure you tab out the statement to match my initial example. When you paste, Visual Studio removes the extra indentation.

[2018-02-25 15:08] Neme12 commented on #25039
Also, we should probably highlight `when` given that it's highlighted in catch clauses.

[2018-02-25 17:56] sharwell opened #25041 "CoreCompile does not consider imported rulesets as inputs"
The `CoreCompile` target considers the main ruleset file for a compilation as an input, so changes to the file will cause the build output to change:

https://github.com/dotnet/roslyn/blob/aa683ac4ec4c6ce746776a2a316309fe6a7d1740/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L29

However, ruleset files are allowed to import other ruleset files:

https://github.com/dotnet/roslyn/blob

[2018-02-25 18:51] Neme12 opened #25043 "Assertion failure in ControlFlowPass.IntersectWith with local function inside switch statement"
1. Checkout master & run a debug build of VisualStudioSetup.Next
2. Paste the following code:
[code]
3. Select the line with `switch (true)` or any line inside the switch statement. This repros most consistently when selecting the whole line by clicking in the left margin in VS.

This is what I get:
![image](https://user-images.githubusercontent.com/11444821/36645188-474f4a6a-1a65-11e8-9e7f-08ae26

[2018-02-25 19:24] alrz opened #25044 ""duplicated attribute" errors with a clean build"
A bunch of "duplicated attributes" error with a clean build off of `features/compiler`
[code]
Anyone else hitting this?

[2018-02-25 19:27] jcouv commented on #25030
So, here's what's happening: there are many overloads of `ContinueWith` which take different sets of parameters and parameter types. None of them takes a single parameter to which a lambda of two parameters (`t` and `s`) could convert to.
From multiple bad overloads (each would have some diagnostics), we have heuristics to decide the one to display. In this case, the overload that comes closest an

[2018-02-25 19:35] Therzok commented on #23424
@CyrusNajmabadi @sharwell https://github.com/ericsink/SQLitePCL.raw/issues/183#issuecomment-347560982

1.1.10 has added API for caching this, might be worth looking at?

[2018-02-25 19:38] alrz commented on #25044
`dotnet build` also produces the following,
[code]

[2018-02-25 19:47] alrz commented on #25044
went ahead and cleared the nuget cache. will comment if it resolves the error.

[2018-02-25 20:32] CyrusNajmabadi commented on #23424
Considering how many blobs we read, it seems like it could be really nice.  Would you like to make a PR for this?

[2018-02-25 20:38] Therzok commented on #23424
Yes, definitely.

[2018-02-25 20:39] jcouv commented on #25043
Tagging @gafter

[2018-02-25 21:26] jcouv commented on #14131
Looks like this was fixed already (see screenshot from 15.6 preview 6):
![image](https://user-images.githubusercontent.com/12466233/36646652-56c7068a-1a2f-11e8-937e-bf0e50c1485a.png)

[2018-02-25 21:26] #14131 closed

[2018-02-25 21:58] jcouv commented on #23254
Adding note to document current workaround to display line numbers in stacktraces:
1. Install 4.7.2
2. Modify "C:\Windows\Microsoft.NET\Framework\v4.0.30319\Config\machine.config" to add the `AppContextSwitchOverrides` flag:
[code]

@tmat Where does the plan stand (short-term and long-term) to avoid this pain?

[2018-02-25 23:23] TobyIntranel opened #25048 "Naming conventions not applying correctly particularly camel_case doesn't lower case letters after the first"
**Version Used**:
Visual Studio 2017 - 15.5.7
.NET Framework 4.7.02556

**Steps to Reproduce**:

1. Add the following to .editorconfig
[code]
2. Add `private const int DELAY_HOURS = 24;` to a class.
3. Use the visual studio suggested potential fix.

**Expected Behavior**:
DELAY_HOURS => _delayHours

**Actual Behavior**:
DELAY_HOURS => _dELAY_HOURS

[2018-02-25 23:25] tmat commented on #23254
@noahfalk

[2018-02-25 23:26] tmat commented on #23254
At this point I think we should follow up with XUnit, NUnit and mstest to add this flag to their respective App.config files.

[2018-02-26 00:30] jaredpar opened #25049 "Need to update xunit configuration for CoreClr"
Our xunit configuration is all done via app.config. This file is not considered when running our tests on CoreClr. This causes a number of assemblies to be un-runnable on CoreClr as they require settings like disabling parallel test collection execution.

[2018-02-26 01:04] davkean opened #25051 "Pressing SHIFT+ENTER in Immediate window crashes editor"
1. Put cursor at $$$ and press `SHIFT+ENTER`:

[code]

[code]

[2018-02-26 05:39] abhijitparkhi1983 commented on #24939
Sorry @jcouv , i wont be able to share a repro project because its a IP code.
It will be helpful if  I can get few pointers

[2018-02-26 05:41] abhijitparkhi1983 commented on #24991
@DustinCampbell it will be helpful if you can help me with this issue. Its a kind of high priority blocker for me. It will be really very helpful if you can guide me.

[2018-02-26 09:14] isc30 commented on #17261
In case no newcomer wants this one, I can take care

[2018-02-26 09:17] #24827 closed

[2018-02-26 09:46] CyrusNajmabadi commented on #17261
Do you mean:

[code]

Instead of

[code]

?

It seems odd to use & as i thought it was not short-circuiting.  Why do the second part of the check if the first has already failed?

[2018-02-26 10:01] CyrusNajmabadi commented on #17261
Hrmm.  i don't repro this locally. The IL i see generated seems to be of the form:

[code]

[2018-02-26 12:12] AlexRadch opened #25052 "Compile recursive iterators to sub-linear time complexity code. Now it is compiled to quadratic time complexity code."
Compile recursive iterators to sub-linear time complexity code. Now it is compiled to quadratic time complexity code.

**Any version**:

Recursive iterations code is compiled to quadratic time complexity code.

**Steps to Reproduce**:

1. Write sub-linear time recursive code. For example next code:
[code]
**Expected Behavior**:

Sub-linear time complexity.

**Actual Behavior**:

Quadratic time com

[2018-02-26 15:27] svick commented on #25052
It's not clear to me how exactly would the translation work. For example, consider this code:

[code]

How would translate it to use your Hyperloop?

[2018-02-26 15:54] AlexRadch commented on #25052
@svick Now my `Hyperloop` implementation does not support loops with side effects like in your code but it can be extended to support such code. I will make support of code with side effects and show translation of your code.

[2018-02-26 16:23] AlexRadch commented on #25052
@svick I added support of code with side effects in `Hyperloop` class.

So next code
[code]

can be translated to next code:
[code]

So only the loop part:
[code]
Translated to
[code]

all other code is the same.

[2018-02-26 17:30] alrz commented on #25044
Well it didn't. so, any idea what has happened?

[2018-02-26 17:32] KrisVandermotten opened #25054 "Compilation analyzer behaving incorrectly"
**Version Used**:

- Visual Studio 15.5.6
- Microsoft.CodeAnalysis.CSharp.Workspaces 2.4.0

**Steps to Reproduce**:

Consider this analyzer:
[code]
Install it in Visual Studio as a vsix.

Open a solution with multiple projects. Open one C# source file.
Make sure that "Full Solution Analysis" is turned on.

**Expected Behavior**:

One diagnostic is reported per project, showing the number of classe

[2018-02-26 17:34] kuhlenh opened #25055 "Go To All (Ctrl+T) : Save filters"
A couple of customers have expressed confusion that Go To All does not save your filters. The customer scenario is they want to find a type most of the time without having to use the query syntax each time.

- Note: we do have keyboard shortcuts for each category (though their keyboard shortcuts aren't as nice as "Ctrl+T")

[2018-02-26 17:50] KrisVandermotten commented on #25052
See also #15 and https://www.researchgate.net/publication/228625370_Iterators_revisited_Proof_rules_and_implementation

[2018-02-26 17:58] kuhlenh commented on #24224
I have some more concrete info here:
- let's confirm that code snippets use the code styles configured in Tools>Options or .editorconfig (e.g., 'var' preferences)
- in the 'foreach' snippet, we cycle through: type of element, name of element, enumerable. We may be able to offer a better experience by starting at the enumerable (allowing IntelliSense to work for the rest).
- we can integrate our "s

[2018-02-26 18:28] 333fred commented on #24754
Failed again: https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/dev15.7.x-vs-deps/job/windows_debug_unit64/38/

[2018-02-26 18:33] 333fred commented on #24754
This appears to be the same failure, the reflection in DoEvents is failing.

[2018-02-26 18:33] 333fred commented on #24749
Likely a dupe of https://github.com/dotnet/roslyn/issues/24754.

[2018-02-26 18:36] 333fred commented on #24749
@jinujoseph I'm not sure who on the IDE team would be best to look at this, but this call: https://github.com/dotnet/roslyn/blob/6847f1e5a909395aae9456e8f366cbf4deb86b69/src/EditorFeatures/TestUtilities/DispatcherExtensions.cs#L10, has started failing on a number of IDE tests in the 15.7.x-vs-deps branch.

[2018-02-26 18:39] 333fred commented on #21708
Another failue: https://ci.dot.net/job/dotnet_roslyn/job/master-vs-deps/job/windows_debug_unit64_prtest/209/.

[2018-02-26 18:41] tannergooding commented on #25044
@alrz, do you have multiple `GeneratedAssemblyInfo_42.42.42.42424.cs` files being passed into the compilation?

[2018-02-26 18:48] alrz commented on #25044
I have 57 instances of `GeneratedAssemblyInfo_42.42.42.42424.cs` file generated (by `restore.cmd`) for some projects in `binaries/obj/<project>/debug` path with this identical content:
[code]
not sure if all of them are passed at once to the compilation. I tried `build.cmd` and `dotnet build Compilers.sln`.

[2018-02-26 18:49] 333fred opened #25057 "Add whether IPropertyReferenceOperation is a get or a set"
As stated. Currently, you have to walk the parent hierarchy and there are a number of cases. We should add a property to IPropertyReferenceOperation for getting this info.

/cc @AArnott.

[2018-02-26 18:49] 333fred commented on #25057
@dotnet/analyzer-ioperation.

[2018-02-26 18:52] tannergooding commented on #25044
Right, there should be one per project.

I was wondering if you had more than one being passed into any given project, which might cause an error like the above.

If you do `build.cmd -binaryLog` it should produce a binary log which would help in the investigation (https://github.com/Microsoft/msbuild/wiki/Binary-Log).

[2018-02-26 18:52] CyrusNajmabadi commented on #17261
Gotcha.  Then that makes a lot of sense!

[2018-02-26 18:58] jinujoseph commented on #24749
@333fred can you point to a recent Jenkins Run where this has failed pls

[2018-02-26 19:00] CyrusNajmabadi commented on #25057
What is it if you have it in a nameof? :)

Note: this is relevant as we likely want to do something similar for FindReferences (i.e. bucketing property references by usage).  So having common naming/patterns here would be useful.  Tagging @jnm2 who was looking at teh FAR side of things.

[2018-02-26 19:07] AArnott commented on #25057
Neither! I currently have a special case to handle that today by recognizing the special `nameof` method. But I'd rather we not have to hack that. I want to know which accessor is _invoked_. If neither are invoked, I need to know that too.

[2018-02-26 19:07] AArnott commented on #25057
Can we get this in the semantic model as well as the IOperation for those of us who aren't using operations?

[2018-02-26 19:09] AArnott commented on #25057
FYI I've hit this requirement for several analyzers. My latest need is for VSTHRD010, and my workaround is here: https://github.com/Microsoft/vs-threading/pull/220

[2018-02-26 19:16] jasonmalinowski commented on #22289
@ashmind Email me a link. My work email is listed in my GitHub profile.

[2018-02-26 19:17] CyrusNajmabadi commented on #25057
Agreed.  I think i'd like there to be a clear enum of cases delineating all the types of reference you might have for a property/field.  There's:

1.  Read.   ```Console.WriteLine(x.Prop)```
2. Written.   ```x.Prop = 4```
3. ByName.   ```nameof(x.Prop)```
4. ByRef (maybe?).    ```ref int i = ref x.Prop``` (if we ever get ref properties).

(note: names not final).

[2018-02-26 19:21] Neme12 commented on #25057
@CyrusNajmabadi why not just 2 properties for whether the getter is invoked and whether the setter is invoked?

in case of `x.Prop++`, both would be true

[2018-02-26 19:22] jnm2 commented on #25057
If it's not a property-specific enum, get/set/nameof/ref makes sense for fields. Get/set/nameof makes sense for properties. Add/remove/raise/nameof makes sense for events.

[2018-02-26 19:23] alrz commented on #25044
Yup. `obj\x64\Debug\netcoreapp2.0\CSharpErrorFactsGenerator.AssemblyInfo.cs` and `D:\dotnet\roslyn\Binaries\Obj\CSharpErrorFactsGenerator\Debug\GeneratedAssemblyInfo_42.42.42.42424.cs` are both fed into the compilation (for instance). I guess it's not intended?

[2018-02-26 19:23] Neme12 commented on #25057
@jnm what if the getter returns by ref and then you do `x.Prop = 5;` which invokes the getter? I think there are two different questions here:
1. which is invoked? getter? setter? both? none?
2. let's say the getter is invoked. is it used as a read/write (same questions as for fields)?

[2018-02-26 19:29] 333fred commented on #24749
@jinujoseph there were `DoEvents` related failures in these:
https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/dev15.7.x-vs-deps/job/windows_debug_unit64/38/
https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/dev15.7.x-vs-deps/job/windows_release_unit64/40/
https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/master-vs-deps/job/windows_release_unit64/81/

[2018-02-26 19:30] ashmind commented on #22289
@jasonmalinowski Thanks, sent.

[2018-02-26 19:36] heejaechang commented on #15762
I am not against fading things out or showing squiggles in generated files but curious on why people wants it? is it for people who authors generators?

for 99.9% people who uses VS, generated files are something they probably won't see at all. so consuming any resource for it (except one absolutely required such as building/semantic information) seems all waste. especially since generated files t

[2018-02-26 19:38] jnm2 commented on #25057
@Neme12 There's no concept of a ref accessor yet, so that's why properties would seem to need get/set/nameof.

But I'm starting to think this doesn't generalize well and should be specific to properties with a bool for each accessor.

ReferenceKind could have Read, Write, ReadAndWrite, Nameof, Cref. If this question ever came up for events, how would we handle add vs remove vs raise?

[2018-02-26 19:39] CyrusNajmabadi commented on #25057
So, for nameof, that would be "neither are invoked"?

[2018-02-26 19:40] Neme12 commented on #25057
@CyrusNajmabadi yes

[2018-02-26 19:40] CyrusNajmabadi commented on #25057
I would be ok with that.

Also note that we'd want this to be sufficiently generalized to work for any roslyn language.

[2018-02-26 19:40] heejaechang commented on #15762
I think I remember we talked about security related diagnostics we want to show in generated files. I still not 100% sure why?  but I guess people want to use that diagnostics to decide what generator to consume? or again, it is targeting those people who author generators? we probably need to gather some telemetry data but all that sounds like less than 1% people who we can solve by providing sim

[2018-02-26 19:41] jasonmalinowski commented on #22289
@ashmind Got it, thanks. Will try to look today or tomorrow.

[2018-02-26 19:43] Neme12 commented on #25057
then how come this code compiles?:
[code]

[2018-02-26 19:50] Neme12 commented on #25057
@CyrusNajmabadi
As I said, because of ref, I think there should be at least 3 separate properties:
- 2 booleans for whether getter & setter is invoked
- ReferenceKind which would be an enum of: read/write/ref/nameof

ReferenceKind could be exactly the same as for fields
we need this because you can modify the value through the getter thanks to ref, so just asking IsGetterUsed may not be what you w

[2018-02-26 20:01] jnm2 commented on #25057
@Neme12 That's a ref-returning `get` accessor. A ref accessor would [look like this](https://github.com/dotnet/csharplang/issues/1235), if it existed (not convinced it should).

[2018-02-26 20:04] zarenner commented on #24224
I'd like code snippets to be able to guess expected generic types, similar to e.g. [this](https://joseoncode.com/2011/01/10/another-resharper-livetemplate-for-moq-it-isanyt) simple ReSharper live template example that automatically figures out T when emitting a Moq It.IsAny&lt;T&gt;() snippet.

[2018-02-26 20:05] heejaechang commented on #11750
we already had discussion over this and
"Change semantics of full solution analysis off to mean active project + open files instead of just open files. This may likely cause RPS regression though as FSA is off by default for C#, so we would need performance sign off here."

this was the decision.

this is the issue tracking that work. it just has been pushed out. I guess we now need to actually do

[2018-02-26 20:06] Neme12 commented on #25057
@jnm2 alright then. I was talking about ref-returning get accessors all along.

[2018-02-26 20:06] AArnott commented on #25057
I think this is in line with the foregoing proposals but just to emphasize for the case of ref properties: when a ref property's getter is accessed and assigned to, that's still a *getter invocation* not a setter invocation. That's important because I need to know which accessor will be executed -- not whether this is a semantic write or read.
But adding more properties to express the semantics of

[2018-02-26 20:09] Neme12 commented on #25057
@AArnott that's why I think both should be exposed (IsGetter & IsSetter and ReferenceKind) because you may want to ask different questions depending on what you need.

[2018-02-26 20:11] CyrusNajmabadi commented on #25057
Yes.  that seems reasonable to me.  And i'm glad we've had this discussion, esp. as @jnm2 spent a couple of hours on this a few days before.

--

Back to @333fred .  I think we should really do what @AArnott recommended here: Can we get this in the semantic model as well as the IOperation for those of us who aren't using operations?

This really does seem like something core that the language shou

[2018-02-26 20:16] CyrusNajmabadi commented on #25057
Maybe something like:

[code]

?

[2018-02-26 20:17] Neme12 commented on #25057
@CyrusNajmabadi how does this expose getter/setter invocations?

[2018-02-26 20:17] 333fred commented on #25057
Definitely seems reasonable to me.

[2018-02-26 20:18] jnm2 commented on #25057
@CyrusNajmabadi What ReferenceKinds should we use for `x.Prop++` and `<see cref="X.Prop"/>`?

[2018-02-26 20:18] CyrusNajmabadi commented on #25057
Through the ```ImmutableArray<ISymbol> ReferencedSymbols { get; }``` array.  If you have "this.Prop", then asking for all the ReferencedSymbols on .Prop would give you 1-many results.

[2018-02-26 20:19] CyrusNajmabadi commented on #25057
```Read | Write```

[2018-02-26 20:20] jnm2 commented on #25057
Oh, so it's a flags enum. What would `Read | Name` indicate?

[2018-02-26 20:20] Neme12 commented on #25057
@CyrusNajmabadi so it would return the getter method symbol? for x.Prop++ it would return getter & setter symbols?

[2018-02-26 20:20] CyrusNajmabadi commented on #25057
Maybe 'other' :D

Or "normal".

[2018-02-26 20:20] CyrusNajmabadi commented on #25057
I'm not sure htat would ever happen.  "Name" would effectively be "nameof" which doens't seem to have any overlap with the other type of references.

[2018-02-26 20:21] jnm2 commented on #25057
@CyrusNajmabadi For cref, `ReferenceKind.Trivia`?

[2018-02-26 20:21] CyrusNajmabadi commented on #25057
Maybe...

[2018-02-26 20:21] Neme12 commented on #25057
ReferenceKind.Name seems fine for cref too

[2018-02-26 20:22] jnm2 commented on #25057
If we started needing to differentiate event accessors, would we just add ReferenceKind.Add, Remove and Raise?

[2018-02-26 20:22] Neme12 commented on #25057
@CyrusNajmabadi does ReferencedSymbols return getter &setter symbols or the property symbol?

[2018-02-26 20:23] CyrusNajmabadi commented on #25057
It might just be that it is:

[code]

Where 'none' means 'neither a read nor a write'.  So both nameof and crefs are both just 'None'.

[2018-02-26 20:24] Neme12 commented on #25057
I think ReferenceKind should be pure semantic read/write, NOT getter/setter invocations. Getter/setter/add/remove invocations should be exposed separately. If you have a ref-returning getter and assign to it, ReferenceKind should be Write, but there should be a separate property telling you that only the getter is invoked.

[2018-02-26 20:24] CyrusNajmabadi commented on #25057
It returns whatever was actually referenced there.  In my head it could be:

1. just the property.  For example, in a cref/nameof context.
2. the property and the getter.  When just doing ```console.log(x.Prop)```
3. the property and the setter.  When just doing ```x.Prop = 1;```
4. the property, getter and setter, when just doing ```x.Prop++```

Note: for 2-3 i could be convinced that we could js

[2018-02-26 20:25] CyrusNajmabadi commented on #25057
Yes.  That's how I expected the API i outlined above to work.

[2018-02-26 20:25] Neme12 commented on #25057
Therefore you don't need add/remove in ReferenceKind. That would be a question for referenced symbols.

[2018-02-26 20:26] jnm2 commented on #25057
@CyrusNajmabadi What if you care about differentiating reading through the ref vs storing the ref somewhere to read and write later?

[2018-02-26 20:27] CyrusNajmabadi commented on #25057
Agreed.  ReferenceKind, currently, would just be read/write.  if you had ```this.ev += ...``` then GetSymbolReferenceInfo on ```.ev``` woudl return the "add" accessor, with 'None' as the ReferenceKind.

[2018-02-26 20:27] CyrusNajmabadi commented on #25057
Cna you give a full code example of what you mean?

[2018-02-26 20:28] jnm2 commented on #25057
Arguably, add and remove could map to Write and raise could map to Read.

[2018-02-26 20:28] Neme12 commented on #25057
@CyrusNajmabadi is there an easy way to find out that the symbol is the getter? I'm still thinking if there shoud be a PropertySymbolReferenceInfo : SymbolReferenceInfo which would tell you IsGetterInvocation, IsSetterInvocation + the same for events

[2018-02-26 20:30] CyrusNajmabadi commented on #25057
```GetSymbolReferenceInfo(node).ReferencedSymbols.Any(IsGetter)```

You could put that behind an extension if you want.  The core idea though would be that the API woudl be sufficient to reveal that to you in the data you got back.

Right now, it's very hard to tell. You have to know all the syntactic forms of C# (and several semantic forms of VB).  Furthermore, 'ref' throws a big wrench into thin

[2018-02-26 20:30] Neme12 commented on #25057
@jnm2 has a good point. There should also be ReferenceKind.Ref for when you do:
`var y = x.Property` where Property has a ref getter.

[2018-02-26 20:30] CyrusNajmabadi commented on #25057
I'm not sure i like that.  :)

[2018-02-26 20:30] CyrusNajmabadi commented on #25057
var y = x.Property where Property has a ref getter.

I would be fine with that :)

[2018-02-26 20:31] Neme12 commented on #25057
@jnm2  no it shouldn't because read/write is a very different question than getter/setter invocations because of ref semantics as we've discussed.

[2018-02-26 20:31] gafter commented on #25043
@agocke Could you please have a look? Note: repro required running a debug build of VisualStudioSetup.Next from the master branch.

[2018-02-26 20:32] CyrusNajmabadi commented on #25057
Are we simulating a gitter convo in the most inefficient way possible? :D

[2018-02-26 20:33] jnm2 commented on #25057
[code]

[2018-02-26 20:34] CyrusNajmabadi commented on #25057
Currently the LS treats "ref" as "i will make the most conservative guess as to what's going on.  In other words, if you do "Foo(ref bar)" then we will assume that 'bar' is both a read and a write (as both may happen).  Similarly, "Foo(out bar)" is just treated as a write, as that's the only thing guaranteed to happen (which is odd, since under the covers 'bar' may be read, by VB for example).

I

[2018-02-26 20:34] gafter commented on #25043
Never mind, I'll look at this, as it may be related to https://github.com/dotnet/roslyn/commit/2dfc006a536bebeedc115e5f1a6ba9b03ef42214#diff-f98023b8b3249fce7398e0d6cf920d32

[2018-02-26 20:35] CyrusNajmabadi commented on #25057
[code]

This def feels like a Read to me :)  Can you convince me otherwise?

[2018-02-26 20:35] jnm2 commented on #25057
It's two reads, or rather a get and a dereference.

[2018-02-26 20:35] CyrusNajmabadi commented on #25057
[code]

The first usage is a read.  The second usage is a write.

If you had:

[code]

Then i could accept the first usage as ReferenceKind.TakeReference (or .Ref, or whatever).

[2018-02-26 20:36] Neme12 commented on #25057
@jnm2  yes but calling a getter isn't a read. you can find out whether it's the getter that's called from ReferencedSymbols. it's really only a read

[2018-02-26 20:37] jnm2 commented on #25057
@Neme12 If getting an int from `int Prop` is a read, getting a `ref int` from a `ref int Prop` is the exact same read.

[2018-02-26 20:37] Neme12 commented on #25057
personally i think ref shouldn't be treated as read+write because the value isn't actually being read or written at all at that point

[2018-02-26 20:37] CyrusNajmabadi commented on #25057
[code]

Could be a read, or could be a write.  Currently the LS treats this conservatively as a read/write.  But the more i see these examples, the more i think it's valuable to have a specific ReferenceKind to represent this.

I think "Read" should mean "an actual read of the value happened here"  "Write" shoudl mean "an actual write happneed", and "Ref (name TBD)" means "a reference was taken to

[2018-02-26 20:37] jnm2 commented on #25057
I agree. I'd like to treat it as a third category because a ref is the ability to read and write at any point in the future—far more significant than a single write.

[2018-02-26 20:39] Neme12 commented on #25057
@jnm2 you can't tell whether it's a read/write just knowing it's calling the getter. it's calling the getter, it's not actually a read until you read from it (eg by storing it in a variable) or taking a ref - then it would be ReferenceKind.Ref etc

[2018-02-26 20:40] CyrusNajmabadi commented on #25057
Yes.  I think that's appropriate.  So, do we have:

[code]

?

[2018-02-26 20:40] jnm2 commented on #25057
@CyrusNajmabadi  ReferenceKind.Ref and ReadonlyRef: I mean sure. At this point, why not have a ReferenceKind.Trivia?

@Neme12 Depends how you look at it.

[2018-02-26 20:43] CyrusNajmabadi commented on #25057
1. Because that seems trivially syntactic to me.
2. Because that doesn't feel like a language-oriented view of things.
3. Because references really are about values of symbols and how you use them.  I'd much rather have a catch-all 'none' which is basically saying: you're not even using the value in any form.  Your question doesn't even make sense.  Do something else :)

[2018-02-26 20:43] Neme12 commented on #25057
@CyrusNajmabadi  looks good. but I think I would prefer Ref as opposed to Reference given that the whole enum is called 'Reference'Kind, so you have the whole enum having Reference in its name and also Reference as two possible values with these usages meaning different things.

[2018-02-26 20:43] CyrusNajmabadi commented on #25057
(Note: i dont' feel strongly about this.  but i do think that such a model makes the most sense. to me at least :)).

[2018-02-26 20:44] CyrusNajmabadi commented on #25057
Yeah.  Naming TBD :)   I'm just trying to convey the core concepts.

[2018-02-26 20:44] jnm2 commented on #25057
I'm happy so far.

[2018-02-26 20:47] jnm2 commented on #25057
Semantically it still seems the most consistent. Is this reference causing a change or just making use of what's there?

[2018-02-26 20:49] Neme12 commented on #25057
with events it seems like semantically it should be read/write, even though it might not be true. But I guess that's the same problem as with properties - we have no way of knowing what you're doing in the setter, so even if it's empty, we should report setter usage as write.

[2018-02-26 20:50] CyrusNajmabadi commented on #25057
so, delegates are weird.  in that both += and -= can be viewed with different tyeps of read/writes.  i.e. due to how delegate invocation lists can work and whatnot.  I think it's much clearer that the ReferencedSymbols list just says: you references .add, or .remove, or .raise :)

[2018-02-26 20:50] CyrusNajmabadi commented on #25057
Basically, wit properties you *need* the ReferenceKind enum to make it clear how things are being used *regardless* of which accessors you are getting.  With events, the ReferenceKind enum doesn't seem to serve any purpose because all the info you need is in the ReferencedSymbols list.

Right?

[2018-02-26 20:50] Neme12 commented on #25057
@CyrusNajmabadi  yes of course - but the question is what should ReferenceKind be for events?

[2018-02-26 20:50] jnm2 commented on #25057
@CyrusNajmabadi If the UI exposes this enum as a column to filter, `ReferencedSymbols` does me no good. Same thing applies to crefs if I'm looking for them.

[2018-02-26 20:51] CyrusNajmabadi commented on #25057
None is fine with me.

[2018-02-26 20:51] CyrusNajmabadi commented on #25057
The UI has no relation to this.  This is the underlying symbolic data model.  How we present that to users is an entirely different question :)

[2018-02-26 20:52] Neme12 commented on #25057
I think if we're using +=, it should be read|write because it's in that assignment position (just as with properties).

[2018-02-26 20:52] jnm2 commented on #25057
So why bother with ReferenceKind at all, if we aren't interpreting anything? Basically to figure out if there is a ref taken but not immediately used?

[2018-02-26 20:54] Neme12 commented on #25057
@jnm2 what do you mean by "we aren't interpreting anything"? ReferenceKind seems really useful as getter invocations won't tell you everything. as to which one of these should be exposed in the UI, I don't know. but that's not what we're discussing

[2018-02-26 20:55] CyrusNajmabadi commented on #25057
I have no objection to representing += and -= for C# as "read|write" for both.  Vb likely needs something for the RaiseEvent statement.

[2018-02-26 20:55] jnm2 commented on #25057
Same thing if I'm looking for nameof vs cref. If we don't expose that here, how will that ever be possible?

[2018-02-26 20:55] Neme12 commented on #25057
@jnm2 that's really easy from the syntax though

[2018-02-26 20:56] CyrusNajmabadi commented on #25057
To me, that's trivially determinable syntactically.  Note: i'm not hugely opposed to having these be in the referencekind.  but i wanted the core set to be the things that are realllllllly hard to tell.

[2018-02-26 20:57] CyrusNajmabadi commented on #25057
For example, here's why references are very hard for properties.  Consider this case in VB:

[code]

What type of reference is 'Bar'?  It's really hard to tell.

[2018-02-26 20:59] jnm2 commented on #25057
Makes sense. So if you see ReferenceKind.Read, you know that either 1) a non-ref getter was used or 2) a ref getter was used and the ref was immediately read. You can distinquish which by looking for the getter in the ReferencedSymbols and checking the return type.

[2018-02-26 21:01] jnm2 commented on #25057
What about method group references vs calls, and named type references vs constructor calls?

[2018-02-26 21:02] CyrusNajmabadi commented on #25057
Yaay for real-time brainstorming sessions!

[2018-02-26 21:17] AlekseyTs opened #25062 "Unexpected BranchKind is used for 'Exit Sub' statement"
See a repro scenario in https://github.com/dotnet/roslyn/issues/23780.
Examine an IOperation node corresponding to 'Exit Sub' statement.
[code]

Observed:
BranchKind.Break

Expected:
Perhaps BranchKind.GoTo, or a special new kind, but definitely not a BranchKind.Break

[2018-02-26 21:18] AlekseyTs commented on #25062
CC @dotnet/analyzer-ioperation

[2018-02-26 21:38] CyrusNajmabadi commented on #25057
@Neme12 @jnm2 and i discussed this more in gitter.  We've landed here as where we think the codeanalysis API should go:

First, we think there should be:

[code]

This member is very similar to GetMemberGroup, but returns the set of accessors invoked at a particular location of code.  The intent would be that you could call it on any node that GetSymbolInfo gave you back an IPropertySymbol/IEventS

[2018-02-26 21:41] agocke opened #25063 "CSharpUseImplicitTypeDiagnosticAnalyzer crashes on `ref var`"
Sample code:

[code]

This causes the CSharpUseImplicitTypeDiagnosticAnalyzer to crash due to a null ref exception.

[2018-02-26 21:45] ciaphas01 opened #25068 "Semantic analysis of CSharpScript compilation & syntax tree failing"
**Version Used**:
- VS2017 Community Edition with latest updates
- Latest versions of all required NuGet packages

**Steps to Reproduce**:
[code]
**Expected Behavior**:
`variableSymbol` and `variableDecl` should contain results on the variable declaration symbol, or `diag`/`declDiag` should tell me if something is wrong.

**Actual Behavior**:
all four variables at the bottom of the above code frag

[2018-02-26 21:56] CyrusNajmabadi commented on #25057
Note: another formalization of ReferenceKind that i would be ok with would be:

[code]

Then you would have the following cases:

code | Read | Write | Ref
-- | -- | -- | --
```nameof(x)```| | |
```Write(x.Prop)``` | ✔️  | |
```x.Prop = 1``` | | ✔️ |
```x.Prop++``` | ✔️ | ✔️ | |
```Foo(x.Prop)``` where ```void Foo(in T v)``` | ✔️ | | ✔️
```Foo(out x.Prop)``` | | ✔️  | ✔️
```Foo(ref x.Prop)``` | ✔️

[2018-02-26 22:01] alrz commented on #25044
Those files are both autogenerated. is this a bug or something's wrong with a config somewhere?
/cc @tannergooding @jaredpar

[2018-02-26 22:07] tannergooding commented on #25044
Yeah, I imagine the sdk assembly info isn't turned off for that project.

[2018-02-26 22:18] CyrusNajmabadi commented on #25057
Talking it over, i do not like this approach.  As i would like "Read" and "Write" to truly mean "teh value was read or written".  That will likely be much more intuitive to users.  As such, the table would better (IMO) as:

code | Read | Write | ReadableRef | WritableRef
-- | -- | -- | -- | --
```nameof(x)```| | | |
```Foo(x.Prop)``` | ✔️  | | |
```x.Prop = 1``` | | ✔️ | |
```x.Prop++``` | ✔️ | ✔️

[2018-02-26 22:18] jnm2 commented on #25057
I sort of prefer the usability and intuitiveness of bool `IsRead`, `IsWrite`, `IsReadableReference`, `IsWritableReference` versus an enum which can have meaningless states.

[2018-02-26 22:23] jnm2 commented on #25057
Came back to edit my suggestion to `Is*ableRef`, then saw you did the same for the enum. 👍

[2018-02-26 22:24] CyrusNajmabadi commented on #25068
VariableDeclarationSyntax refers to the entire declaration . i.e.:    `int i, j, k`.  So asking what 'declared symbol' you get from that has no meaning in C#.  You need to get the individual "VariableDeclarat**or**"s, and ask for GetDeclaredSymbol on those.

[2018-02-26 22:40] ciaphas01 commented on #25068
Blast, I knew even before writing this that I would miss something that simple. Apologies for using the Issues tracker like a troubleshooter, now I know what I need to do to continue. Thank you for your help, @CyrusNajmabadi

[2018-02-26 22:40] #25068 closed

[2018-02-26 22:43] AArnott commented on #25057
@CyrusNajmabadi  in [this comment](https://github.com/dotnet/roslyn/issues/25057#issuecomment-368671095) I'm not clear as to the `ref prop = 5` case since I don't see that listed. A ref property getter that is assigned to is invoking the getter, yet appears as an lvalue. So what would its row on this matrix be?

[2018-02-26 22:47] Neme12 commented on #25057
@AArnott you mean `prop = 5` with a ref-returning getter? `ReferenceKind` would be `Write` and `GetAccessors` would contain the getter

[2018-02-26 22:49] CyrusNajmabadi commented on #25057
[code]

[2018-02-26 22:52] CyrusNajmabadi commented on #25057
For C#, 'readable/writable refs' would only come into play if you were in:

1. a ref-expression/ref-argument
2. an out-argument
3. an argument to a method with an 'in' parameter.

For VB, it would be in the cases where you passed something to a 'byref' parameter, though vb would never expose anything that was just "WritableReference".  For references VB would always be "ReadableReference or Writab

[2018-02-26 22:55] AArnott commented on #25057
Yes, I suspect you're right on all counts. I don't know the whole `ref return` et. al new features as well. But your answers satisfy me.

[2018-02-26 23:37] jasonmalinowski commented on #25044
@jcouv Didn't you run into this too?

[2018-02-26 23:37] DustinCampbell commented on #24923
@nehmebilal: Could you provide the full project? Most projects created with Visual Studio contain the following line:

[code]

So, if `Configuration` isn't specified, it gets set to `Debug` by MSBuild. You can control the set of properties used by `MSBuildWorkspace` by specifying them in the `Create(...)` method. For example:

[code]

Does that help?

[2018-02-27 00:44] jasonmalinowski commented on #22289
@ashmind Ah, so yeah, so there's some bug in our GetTextChanges function between two snapshots of changed text:

[code]

...is an isolated repo. @dpoeschl looks like you can 'enjoy' some really gnarly span manipulation code from here.

[2018-02-27 00:58] VSadov commented on #25025
https://github.com/dotnet/roslyn/pull/24756 should address this. The overload candidate that has no chance of succeeding due to constraints will be dropped from the list before it goes into resolution.

It does not matter how the type parameter that does not satisfy constraints was specified/inferred - from ordinary parameter or from `this` of an extension.

[2018-02-27 01:02] CyrusNajmabadi commented on #25057
Note: @333fred We've talked about it a bit more, and we think the name "ReferenceKind" and "GetReferenceKind" is a bit of a misnomer.  Basically, you're talking about how some value (possibly an lvalue or rvalue) is being used.

So maybe it should be something more like:

[code]

This is the exact same as before, just making it clear it operates on any value, and tells you how you're using it.  Fo

[2018-02-27 01:04] VSadov commented on #25025
@benaadams - you can try your stuff in sharplab.io . Th e`features/compiler` branch has the feature.

https://sharplab.io/#v2:EYLgZgpghgLgrgJwgZwLQGMD2BbADgSwBsIEAfAAQAYACcgRgG4BYAKCtroDoAVCADxjMWrcgGYOANloAmagGFqrAN6tqa2uPpTyAFmoB1BPhgQAPNwBCcMJASHjJADTVuAPlXrPAChgALfMguVjYk9iYI1MDWtmFOLgDaALrUyJiI6BAAlB6eagDuviQQQdGhRuHUIDLOAJLBMeUk5u4sueoAvK4GjTV4hOb1ZQ4Izm5eSGCRpXaNIylpCBmZQp45GpK0erED07Fzbmve

[2018-02-27 01:37] gafter opened #25073 "Test plan for ExpressionVariables"
This is a test plan for the work in https://github.com/dotnet/roslyn/tree/features/ExpressionVariables
The championed proposal is at https://github.com/dotnet/csharplang/issues/32
The proposal is at https://github.com/dotnet/csharplang/blob/master/proposals/expression-variables-in-initializers.md

Tests for many of the following probably predate this feature's implementation:
- [x] Test that an ex

[2018-02-27 02:10] jinujoseph commented on #24774
@heejaechang  closing this issue

[2018-02-27 02:10] #24774 closed

[2018-02-27 03:03] tmat commented on #25073
EnC logic needs to be updated to handle these variables, the new scopes, and closures capturing such variables. Changes and corresponding tests will be needed in both the compiler and the IDE.
@ivanbasov @jinujoseph

[2018-02-27 03:20] MelbourneDeveloper commented on #24630
Hello...

[2018-02-27 04:18] AlexRadch commented on #25052
@KrisVandermotten I think here https://github.com/AlexRadch/YieldForEachDN I implemented the same ideas as in https://www.researchgate.net/publication/228625370_Iterators_revisited_Proof_rules_and_implementation/.
I think my implementation is more optimal by memory and by performance and with more clear code transformations.

[2018-02-27 06:00] sharwell commented on #24749
@333fred thanks, I've flagged all three as exempt from deletion policy until they are investigated

[2018-02-27 06:35] nehmebilal commented on #24923
Yes! That makes sense and should fix the issue, thanks.

[2018-02-27 06:35] #24923 closed

[2018-02-27 09:02] eduard-malakhov opened #25080 "[Question] Should compiler allow code that uses a random interface type as variable type in foreach statement?"
**Version Used**: 2.4.0.62225

**Steps to Reproduce**:

I am not sure if this is by design or a bug. Here's the code, please see comments inside.

    namespace ConsoleApp1
    {
        class SomeType { }

        class DifferentType { }

        interface SomeRandomInterface { }

        class Program
        {
            static void Main(string[] args)
            {
                SomeType[]

[2018-02-27 09:21] Therzok commented on #25080
I think a simple case would be:
[code]

Having elements of DerivedType in the collection will make it not throw a runtime exception.

[2018-02-27 09:22] Therzok commented on #25080
If you seal `SomeType`, it'll correctly report a compiler error.

[2018-02-27 09:25] Joe4evr commented on #25080
I have brought this up before (#20314) and it is by design. I later suggested an analyzer be made to catch these cases (dotnet/roslyn-analyzers#1494).

[2018-02-27 09:52] eduard-malakhov commented on #25080
@Therzok you're right I thought of that too, but strictly speaking it won't throw if *all* items in the collection are of type  `DerivedType` in which case you'd most likely have a collection of `DerivedType` not its base type. The whole idea of working with items in a collection via some base type is that you expect that the actual type of the element may be different which means that the above `

[2018-02-27 09:54] eduard-malakhov commented on #25080
Thank you @Joe4evr, I was not able to find that issue myself.

[2018-02-27 10:02] eduard-malakhov commented on #25080
I still sounds counter intuitive to me. I don't see how the above code is semantically different from the following

    for (int i = 0; i < arrayOfSomeType.Length; i++)
    {
        SomeRandomInterface item = arrayOfSomeType[i];
    }

However, in the latter case the compiler would produce an error because implicit casts are forbidden (which is one of the key requirements to ensure type safety -

[2018-02-27 10:05] AdamSpeight2008 opened #25081 "Weirdness With CTRL, String and Mouse"
**Version Used**:
[code]
**Steps to Reproduce**:

1.  Hold `CTRL` whist text carat is inside a text string.
2.  Move mouse over text string.
3. Acting as if it is a URL

**Expected Behavior**:
do nothing

**Actual Behavior**:
![weirdnessvside](https://user-images.githubusercontent.com/900107/36722360-3d0f75b6-1ba5-11e8-87b0-cb1deb4e2519.png)

[2018-02-27 10:12] Joe4evr commented on #25080
As I speculated over in the Analyzer thread, it likely has to do with C# not having generic collections in its first release, so anything that iterates over a non-generic `IEnumerable` only gets something of type `object`. You can then while you're iterating using `foreach` specify the type that you expect and then the compiler inserts that cast on your behalf.

[2018-02-27 10:27] eduard-malakhov commented on #25080
Yeah, the old non-generic collections used to be a complete PITA but what's even worse, so many years later we still have to deal with the consequences. I wish we haven't come up with generic collections supporting the non-generic `IEnumerable`. Introducing an explicit `Cast<>` to support iterating over non-generic collections would have been much safer.