[2017-09-14 22:36] mattscheffer opened #22128 "Typing in C# interactive hangs vs"
**Version Used**:
D15Prerel 26913.3007. Workloads used were .NET Desktop Development, Extension Development, .NET Core
**Steps to Reproduce**:

1. Open VS.
2. Open the C# Interactive window
3. Start typing. Type something like string.

**Expected Behavior**:
Able to type, intellisense works here.
**Actual Behavior**:
VS Hangs. Intellisense never activates.

**Call Stack**
[code]

[2017-09-14 22:37] mavasani opened #22129 "OperationKind.XXXCaseClause and enum CaseKind have duplication"
We decided in an earlier design meeting that we will have a single `OperationKind.CaseClause` for all case clauses, with a separate CaseKind enum to differentiate different kind of case clauses.

[2017-09-14 22:38] VSadov opened #22130 "Check if "in" parameters introduce any new behavior for flow analysis"
This may have effect on refactoring.

At very least should be no crashes while extracting methods.

[2017-09-14 22:38] AdamSpeight2008 opened #22131 "SyntaxGenerator Tools should throw exceptions."
The current implementation of the SyntaxGenerator Tools when it expectations are not met,
Rather that putting a "dummy" value, that is silent and allow the generation of the syntax, bounds etc to continue.
Those dummy values are only causing problems rather down the line, when doing a build of Roslyn compiler. At which time useful information, that could aid in debugging the errors have be lost.

[2017-09-14 22:42] #21371 closed

[2017-09-14 22:46] VSadov opened #22132 "Overloading on in/byval should cause an error"
The following seems to not result in an error, but should:

[code]

We should also add tests to make sure we select the correct overload, also in case of in situation of ambiguity (because of inheritance or extension methods)

[2017-09-14 23:00] VSadov commented on #17287
Remaining items are covered by individual bugs and testplan.

[2017-09-14 23:00] #17287 closed

[2017-09-14 23:16] VSadov commented on #22048
lets add a test if does not exist already

[2017-09-14 23:19] VSadov commented on #22045
This is tracked by thr Unshipped.txt

[2017-09-14 23:19] #22045 closed

[2017-09-14 23:23] VSadov commented on #21977
Anyone can implement this externally from the information we provide.

[2017-09-14 23:23] #21977 closed

[2017-09-14 23:25] VSadov commented on #21976
Will come to thins once anyone needs this. Closing for now.

[2017-09-14 23:25] #21976 closed

[2017-09-14 23:33] tannergooding commented on #22132
@VSadov, why would that cause an error (I'm guessing a language design decision)?

I would expect a user is allowed to differentiate by `Foo(in 5)` (or `Foo(ref 5)` or `Foo(ref readonly 5)`) vs `Foo(5)`.

This makes adding `ref readonly` overloads, where you only had byval overloads previously, a breaking change.

This is a bit confusing, because users are allowed to add a `ref` overload and have

[2017-09-14 23:58] mavasani commented on #21385
Verified we are in sync with master

Verified we are in sync with master

Verified we are in sync with master

[2017-09-15 00:27] mavasani commented on #20114
Fixed with https://github.com/dotnet/roslyn/pull/21711

[2017-09-15 00:27] mavasani commented on #20122
Fixed with https://github.com/dotnet/roslyn/pull/21711

[2017-09-15 00:27] #20122 closed

[2017-09-15 00:42] Korporal opened #22136 "Support more flexible new( ) generic type constraint"
Is there anything fundamental preventing the new( ) constraint from being enhanced to include a set of types?

e.g.

[code]
and so on. The benefits are plain but I do not know if there is some deep linguistics reason why we only have new ( ).

Thanks

[2017-09-15 01:18] justcla commented on #10272
Scenario:
It’s possible that I have just added a Util file to my project – copied from another project.
When I first open the file, many of the references are invalid or missing.
I apply to the command to fix all usings.
If there are no ambiguities, it adds all required usings to the top of the file.
If there are ambiguities (either multiple options, or no valid option), it steps the user through

[2017-09-15 01:18] justcla commented on #10272
Suggestion: Scope to Current Document only.

[2017-09-15 01:19] dezsiszabi commented on #21754
@jasonmalinowski Yes, it's a very minor change. I already tested in on my computer and it works for me. Can I submit the PR?

[2017-09-15 01:55] danroth27 commented on #10272
The shortcut everyone uses to organize and add missing imports in Java is ctrl-shift-O. The request here is for the same feature for C#.

[2017-09-15 02:07] gafter commented on #22125
Here is a simple repro of the issue:

[code]

[2017-09-15 02:17] DustinCampbell commented on #10272
Specifically Ctrl+shift+O? I think that's a global VS "open project" shortcut

[2017-09-15 02:19] gafter commented on #22136
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-09-15 02:19] #22136 closed

[2017-09-15 02:21] gafter commented on #22126
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-09-15 02:21] #22126 closed

[2017-09-15 02:23] gafter commented on #22103
This is a dup of https://github.com/dotnet/roslyn/issues/15759

[2017-09-15 02:24] gafter commented on #22127
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-09-15 02:24] #22127 closed

[2017-09-15 02:31] gafter commented on #22131
I would prefer that the syntax generator print a nice error message.

[2017-09-15 02:45] gafter commented on #7971
The compilers have not been hardened against broken metadata. This should be fixed in the context of a (hypothetical) effort to harden the compilers against different kinds of broken metadata.

[2017-09-15 02:46] gafter commented on #9323
@agocke @jaredpar What is the next step for this issue? What milestone should we assign it to?

[2017-09-15 02:56] gafter commented on #11637
I loaded your project and I don't see any errors, so there are no errors that disappear when the dummy method is added.

Please provide a repro and reopen.

[2017-09-15 02:56] #11637 closed

[2017-09-15 03:00] gafter commented on #13360
Is this reproducible with a recent VS2017?

[2017-09-15 04:14] danroth27 commented on #10272
The point is not the specific keyboard shortcut, but the functionality it provides.

[2017-09-15 04:16] DustinCampbell commented on #10272
Of course. I just wanted to clarify what you meant.

[2017-09-15 05:12] jasonmalinowski commented on #21754
@dezsiszabi Of course! Go right ahead. :-)

[2017-09-15 05:22] justcla commented on #10272
In IntelliJ, the shortcut is Ctrl+Alt+O to organize imports.
They use Alt+Enter to import missing usings (one by one). But unlike other refactorings, this one pops up pro-actively as a suggestion.

[2017-09-15 07:22] zaytsev-victor commented on #22097
@dpoeschl could you please provide me instruction how to enable this functionality?

[2017-09-15 07:53] Kashkavya commented on #15556
remove <system.codedom>
		<compilers>
.....................
   </compilers></system.codedom>

[2017-09-15 08:59] alrz commented on #22125
Related: https://github.com/dotnet/roslyn/issues/20015

[2017-09-15 15:13] Pilchie commented on #22097
Tagging @rchande who implemented the original code.

[2017-09-15 15:57] jcouv commented on #22128
FYI @tmat

[2017-09-15 16:59] dpoeschl commented on #21891
@brettfo Can you confirm this doesn't repro on Update 4 and close out if so?

[2017-09-15 17:47] VisualMelon commented on #22106
I am distressed to read that calling code will not have to explicitly decorate arguments with `ref readonly` modifiers. Even if the situations where `ref readonly` is applicable are closer to ByVal than `ref`, the semantics are not the same (if generally the same, and not an issue in simple situations).

Without explicit decoration, any code that takes a `ref readonly` return with 'in' parameters

[2017-09-15 18:06] gafter commented on #20015
According to the language specification, a value of type `int?` is not a constant.

[2017-09-15 18:15] dpoeschl opened #22146 "Convert auto property to full property fails for partial types across multiple files"
**Version Used**: Latest master as of this posting

**Steps to Reproduce**:

1. Two C# files:

Program.cs:
[code]

Program2.cs:
[code]

2. Try `Convert to full property` on both of the properties.

**Expected Behavior**: Both work

**Actual Behavior**: One works, one throws an exception in the InfoBar:

[code]

[2017-09-15 18:53] gafter commented on #22086
The C# language makes it an error to apply `ConditionalAttribute` to an interface method. VB permits it but ignores it. I recommend we either respect the attribute, or warn about the application of the attribute in an interface. It is probably too late to make it an error.

[2017-09-15 19:04] ericmutta commented on #22086
Just out of curiosity...why is the attribute not honoured/allowed? Is there a technical reason?

[2017-09-15 19:06] gafter commented on #22027
@svick I don't think so. This crashes for me on the latest internal build.

[2017-09-15 19:32] gafter commented on #21781
/cc @tmat FYI

[2017-09-15 19:34] gafter commented on #21781
Placed in the 16.0 milestone for triage for that future release.

[2017-09-15 19:36] gafter commented on #21787
Issue moved to [dotnet/csharplang #911](https://github.com/dotnet/csharplang/issues/911) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-15 19:36] #21787 closed

[2017-09-15 19:38] gafter commented on #21804
Whether we do this sooner vs later/never depends on the amount of work required. Therefore tagging this as "Investigation Required".

[2017-09-15 19:41] gafter commented on #14524
This would likely be fixed as a side-effect of the changes proposed for https://github.com/dotnet/roslyn/issues/20648

[2017-09-15 19:41] gafter commented on #21805
Yes, this would likely be fixed as a side-effect of the changes proposed for #20648

[2017-09-15 19:43] rchande commented on #22097
@zaytsev-victor It's available in preview builds of Visual Studio 15.4.

[2017-09-15 19:54] gafter commented on #21814
@jaredpar Do you think it is reasonable to aim to do this (have the compiler build task print detailed exception info when the compiler crashes) in the 15.5 timeframe?

[2017-09-15 19:56] gafter commented on #21950
@agocke Could you please assign a release to this, if you agree it is something we should aim to do?

[2017-09-15 19:57] zaytsev-victor commented on #22097
@rchande thanks. Do you have any ideas why it doesn't work when debugging roslyn project with VS 15.4 Preview 2.

[2017-09-15 20:06] #20029 closed

[2017-09-15 20:16] rchande commented on #22097
@zaytsev-victor Does it specifically only not work while debugging? That may be intentional so as not to interfere with the debugger. I can follow up with the Visual Studio Editor team if having it disabled during debugging is annoying.

[2017-09-15 20:20] zaytsev-victor commented on #22097
@rchande yes, only on new instance of VS while debugging roslyn project. On instance where roslyn project is opened it works fine.

[2017-09-15 20:24] rchande commented on #22097
@zaytsev-victor Ah, so you're saying that it doesn't work in the F5'd instance while debugging. Does it work in your F5'd instance if you detach the debugger? (The feature has been ported to master: https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/Core/NavigableSymbols/NavigableSymbolService.cs) so I can't think of any reason why it shouldn't work in your F5 instance)

[2017-09-15 20:24] TessenR opened #22150 "'Extract method' refactoring breaks compilation if there are local functions"
**Version Used**:

Microsoft Visual Studio Professional 2017
Version 15.3.0
VisualStudio.15.Release/15.3.0+26730.3
Microsoft .NET Framework
Version 4.7.02046

**Steps to Reproduce**:

Use 'extract method' refactoring in the code below:
[code]

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

There are also other cases where the refactoring breaks code because there is no way to actual

[2017-09-15 20:32] mavasani commented on #21385
Fixed with https://github.com/dotnet/roslyn/pull/22135

[2017-09-15 20:32] #21385 closed

[2017-09-15 20:35] VSadov commented on #22132
Right now there is no way to guide overload resolution at the call site.
You cannot do `Foo(ref readonly 42)`. I can see this as a possibility in the future, but I still would not guess what syntax woudl be for operators - ` ref readonly 42  + ref readonly 42` ?

Anyways, as it is currently would not be possible to call either of the overloads, we will disallow such situations. Once/if it is possi

[2017-09-15 20:38] svick commented on #22027
@gafter That's weird. It compiles fine for me with locally compiled csc from latest master (266f5b9), and also on [2 weeks old build on SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+ABATAAmwEYB2AWACgBvS4gNkIBZCiAOACmIAYBtAXXwQEAcygBKSjQqV8AXxnYAzPgD2wAFZwAxjHwAVOLAAyKrRAA2AMQB27NZp34AltYAOEivin4fPmAgBPGV8vYJDfADchfCgEfABefGs4AHdVDW0YdjEAbjDwwhIYhDzPAp9sZhMzcyJs/PDvcvCouK0VVwCE5zdS5vDq

[2017-09-15 20:48] zaytsev-victor commented on #22097
@rchande with detached debugger it doesn't work as well

[2017-09-15 20:53] #21543 closed

[2017-09-15 20:53] #21645 closed

[2017-09-15 20:53] #21811 closed

[2017-09-15 20:53] rchande commented on #22097
@zaytsev-victor Can you try setting a breakpoint in the file I mentioned earlier and see if anything happens? Also, can you make sure your dev instance has the feature enabled in Tools Options?
![image](https://user-images.githubusercontent.com/3751401/30502978-4f21f44a-9a1d-11e7-9145-0771ac240bc8.png)

[2017-09-15 21:00] zaytsev-victor commented on #22097
@rchande , sorry.
It seems I'm using too old master, because I have problems with running test on fresh master.

[2017-09-15 21:06] rchande commented on #22097
@zaytsev-victor What's preventing you from moving forward?

[2017-09-15 21:09] jaredpar commented on #21814
yes definitely.

[2017-09-15 21:09] zaytsev-victor commented on #22097
@rchande I have a lot of exceptions 'Could not load file or assembly 'System.Security.Cryptography.Algorithms, Version=4.1.0.0' when running tests.

[2017-09-15 21:25] rchande commented on #22097
@zaytsev-victor Have you tried `git clean -xdf`ing?

[2017-09-15 21:38] jcouv commented on #22150
FYI @agocke

[2017-09-15 22:22] cston opened #22152 "[Work items] Nullable reference types"
**Preview 2:**
- [ ] Intellisense (@333fred)
  - [ ] Public API
  - [ ] Display inferred nullability of variables, fields, properties, type arguments
  - [ ] _Should we display some hint about oblivious vs. non-null?_
- [x] Nullable Specification (Mads)
- [ ] `#nullable`
  - [x] binding (no more scoped context) https://github.com/dotnet/roslyn/pull/31607
  - [x] `#pragma warning nullable (enable|d

[2017-09-15 22:35] #20114 closed

[2017-09-15 22:58] rchande commented on #21837
@diryboy it looks like this already works:
![image](https://user-images.githubusercontent.com/3751401/30506180-b0347698-9a2e-11e7-8f28-59fb176d7683.png)

Can you share an example where it does not?

[2017-09-15 23:24] #18601 closed

[2017-09-15 23:34] mavasani commented on #22129
Fixed with https://github.com/dotnet/roslyn/pull/22133

[2017-09-15 23:34] #22129 closed

[2017-09-16 00:46] kingces95 commented on #22091
@heejaechang Thanks for your help. If I rebuild from a clean VM then I no longer reproduce this issue. So now I'm working on getting my DEV VM setup. If I can't get it working I'll re-open!

[2017-09-16 01:01] gafter commented on #22086
@ericmutta No idea.

[2017-09-16 01:29] ericmutta commented on #22086
@gafter that's good news then, it means VB can go ahead and honour it since it already permits its application on interface methods 👍

For some context on why someone might want this (see code I gave earlier above):

I have a tracing interface used to write debugging information. In unattended test sessions I want tracing output to go to a file. In interactive test sessions I want tracing output t

[2017-09-16 01:32] kingces95 opened #22156 "First Touch Test Failure/Debugger.Break"
I expected master, as of the time of writing to restore, build, and test without failure. I actually observe the test run failing. I'm running Windows 10 VM in Parallels on a MacBookPro.

![image](https://user-images.githubusercontent.com/4120386/30508007-fa8e5be2-9a5a-11e7-9646-304cfb6888ff.png)

The gaurd page warning comes from `csrss`. So that's weird. Instead, I attach to the console test run

[2017-09-16 01:33] jasonmalinowski commented on #22091
@kingces95 Going to reactivate this as I still want to look at that dump you provided to better understand what went wrong here. Happy you got worked around...but you shouldn't have to do that!

[2017-09-16 03:29] kingces95 commented on #22091
@jasonmalinowski Thanks. I would have re-opened anyway; While it doesn't reproduce if I start from a clean Windows 10, it does reproduce on my development machine where I first observed the failure.

I need a way to clear out the corrupted state from the previous private hive launches.

The following command is, apparently, insufficient:

The latest exception is:

![image](https://user-images.gith

[2017-09-16 03:46] kingces95 commented on #22091
@heejaechang @jasonmalinowski Can we create a script that resets the experimental Roslyn hive? After all, the reason we have an isolate hive is because we expect it to become corrupt. So it only makes sense to provide a way to reset it should that happen.

[2017-09-16 04:41] jcouv commented on #22156
@kingces95 Thanks for raising this issue (very clear bug report).
I'll fix asap.

[2017-09-16 10:13] bkoelman opened #22159 "Question: is there a NuGet feed for latest IOperation changes?"
I'd like to try out the latest changes to the `IOperation` API. I think they are in the features/ioperation branch.

Is there a NuGet feed I can reference or do I need to build that branch from source? I've tried that in the past, but got into signing/versioning issues that prevented me to reference the output assemblies.

[2017-09-16 13:07] alrz commented on #19430
this also happens when an obsolete method implicitly implements an interface member. The warning is lost after type substitution (could be detected at the call-site)

[code]

[2017-09-16 16:49] jcouv opened #22160 "Compiler invariant: the members of a type should be contained by that type"
I'd like to start documenting invariants and, if possible, implement them as assertions.

In this case, I'd propose adding to the `GetMembers` method that for each of the returned members, we can check the `ContainingType` matches `this`.

FYI @cston @gafter since this relates to a recent thread.

[2017-09-16 20:30] gafter commented on #22160
I'm OK with this, but where exactly are you proposing to place the assertions?

[2017-09-17 00:43] jcouv commented on #22160
I need to look into it. I was thinking of creating a helper method and invoking it in the various GetMembers (or maybe MakeMembers) implementations.

[2017-09-17 02:23] VSadov commented on #21952
fixed in https://github.com/dotnet/roslyn/pull/22157

[2017-09-17 02:23] #21952 closed

[2017-09-17 12:05] ronelm2000 opened #22161 "C# Compiler does not accept ?? operator of operands GenericParameterType and throw expression"
**Version Used**:  Visual Studio 2017 Community with .NET Core 2.0 SDK
**Steps to Reproduce**:
1. Create a project; Ensure .NET Core 2.0 is installed, and the project is built on .NET Framework 4.7.
2. Type this code in any Class File.
[code]
3. You can make dummy interfaces for IScreen and IGUIEntity. [Optional]

**Expected Behavior**: This will work. The first statement worked since I'm utilizin

[2017-09-17 12:14] svick commented on #22161
Can `TIScreen` be a `struct`? If not, then changing the constraint to `where TIScreen : class, IScreen` will allow you to use the `??` operator.

[2017-09-17 12:16] ronelm2000 commented on #22161
Wait, can structs implement interfaces? If so, that's a total miss on my part.

[2017-09-17 12:45] svick commented on #22161
[Yes, they can.](https://sharplab.io/#v2:C4LgTgrgdgPgAgBgARwIwG4CwAoHBLKYAUzADMBDAYyKQEkcBvHJFlAFiQFkAKASi2wBfHDgDOwSJWBIAykhB1GzVnADM7LnyQBeAHwpUATm4AiGQDpOSPAFsADgBsiNooVF1LJ/jmG5scACYDAHYlbFYDADYNNAAOPmUWJnCI1gA3cjAkd20kKCIAd1k+AVTWUUsSpAB6aqQAEzwwIikkSnIHB0TU2msdbNKy60r+GrqCYjIqGnbO7u6IuA4AYQB7KHEwcgIieoAeABVdbgOkYF4kAoALEhpThV69M5H0Flq29c3t/Pq2jq6UmUFqw1hsJN9dtxRN5AUhfIIgA=)

[2017-09-17 17:26] ektrah commented on #22106
After prototyping a bit with `in`/`ref readonly` in the last couple of days I find myself wanting "pass an argument by-reference but the reference is read-only" more often than "pass an argument by-value more efficiently by actually passing it by-readonly-reference under the hood".

Would it maybe make sense to have both? `ref readonly` exactly like `ref` (including variables, etc.) but read-only,

[2017-09-17 18:03] VisualMelon commented on #22106
That's an interesting idea...

If `in` could only then be passed as `in` internally and can't be returned by reference, then there would indeed be reduced risk at the call-site, mostly relegated to the method itself (which may end up changing the value by side-effect as in [the example given](https://github.com/dotnet/csharplang/blob/master/proposals/readonly-ref.md#aliasing-behavior-in-general));

[2017-09-18 01:57] ronelm2000 commented on #22161
Thanks. ?? should honestly work with both structs and classes (where ?? always resolves to never return the right-side operand) but that's a different thing.

Closed.

[2017-09-18 04:01] ewbi commented on #18277
Not sure if appropriate to add here, but wanted to note that these exceptions aren't just triggered by refactor-based renames of Razor C# elements, as described in the OP, but also with renames of JavaScript elements appearing in <script/> tags in the Razor view.  The refactor knows which to change (it finds and highlights all the references) and will even preview them post-change, but when Applie

[2017-09-18 05:55] diryboy commented on #21837
Thanks for checking. In your screenshot, I also expect `g` on the list, as there could be multiple out variables of the same type.

I tried VS15.4 preview 2 but I did not see any suggested names. Perhaps this was added to a more recent version of VS?

[2017-09-18 10:19] JustinMinnaar commented on #21657
Yes, I've encountered this problem too.

[2017-09-18 16:34] dpoeschl commented on #21789
Yes, it does seem like a regression from the issue/PR you point out.

[2017-09-18 17:02] dpoeschl commented on #21941
Using a preview of 15.4 and this has indeed been fixed.

[2017-09-18 17:04] rchande opened #22167 "ExtractMethodCodeRefactoringProvider encountered an error"
[code]

Not sure what I was doing to cause this

[2017-09-18 17:09] dpoeschl commented on #21960
I don't see the same thing happening in other contexts, like `var x = (int?)default;`.  However, there is a weird parentheses simplification problem happening in other contexts too. Removing the unnecessary cast in `var str = ""; if (str == (string)default) { }` leaves the remaining `(default)` in parentheses.

[2017-09-18 17:12] dpoeschl commented on #21961
Closing for now. Please re-open if you're able to gather more information.

[2017-09-18 17:12] #21961 closed

[2017-09-18 17:14] dpoeschl commented on #21964
@Pilchie Should this be handled by IDE or Interactive? Seems like an Interactive thing to me. What do you think? Can I update the labels?

[2017-09-18 17:20] Pilchie commented on #21964
I wasn't sure, which is why I tagged both. @jinujoseph @tmat what do you think?

[2017-09-18 17:22] dpoeschl commented on #22059
I've re-titled and re-worded your post a bit. The feature with the dotted outlines and the lightbulb entry for renaming is called "Rename Tracking." The "Rename..." thing in the context menu is "Inline Rename.", so I fixed up the names of those features throughout.

Inline Rename does work in this case, as you've pointed out. You don't _have_ to use the mouse. Depending on your keyboard settings,

[2017-09-18 17:30] jinujoseph commented on #21964
Sounds interactive to me , i have updated the label .

[2017-09-18 17:30] chborl commented on #18267
Fixed with https://github.com/dotnet/roslyn/pull/21199

[2017-09-18 17:32] JohanLarsson opened #22168 "Formatter.FormatAsync does not seem to do anything."
**Version Used**:
Different

**Steps to Reproduce**:

[code]

Prints:

[code]

**Expected Behavior**:

I expected the formatter to format `public sealedclass Foo`, chances are I used it wrong. Writing this issue any way in case it is a repro for a real bug.

[2017-09-18 17:33] jinujoseph commented on #22124
closed via #22018

[2017-09-18 17:33] #22124 closed

[2017-09-18 17:47] msfreed commented on #18706
I experience the same thing

[2017-09-18 17:56] ericmutta commented on #22059
@dpoeschl many thanks for the clarification. I was referring to "rename tracking" as "inline rename" because unlike the "Rename..." action in the context menu, it doesn't show any exta UI like this:

![vs_rename_ui](https://user-images.githubusercontent.com/20465797/30556482-ac179266-9cb3-11e7-9eea-d0463a608d64.png)

[2017-09-18 17:56] sharwell commented on #18706
@solidrock @StefanOssendorf @msfreed Please consider submitting a performance trace using the Report a Problem tool. These traces allow us to pinpoint the features most affecting performance in your individual use cases. We also use the traces as concrete evidence of end-user gains from performance improvements, in some cases even allowing us to prioritize work that was previously on the backlog.

[2017-09-18 18:06] dpoeschl opened #22170 "Putting the cursor on on a variable in a tuple doesn't highlight uses"
Ported from https://developercommunity.visualstudio.com/content/problem/113440/putting-the-curson-on-a-variable-in-a-tuple-doesnt.html

Define a C# method that returns a variable in a tuple:

public (int a, int b) Func()
{
var A = 1;
var B = 2;

Console.WriteLine(A+B);

return (A, B);
}

Put the cursor between the return statement's "B" and ")"

Expected: this is a use of variable "B" so all uses

[2017-09-18 18:08] #22156 closed

[2017-09-18 18:13] #21812 closed

[2017-09-18 18:16] dpoeschl opened #22171 "Creating new file does not respect .editorconfig tab setting"
Ported from https://developercommunity.visualstudio.com/content/problem/114359/creating-new-file-does-not-respect-editorconfig-ta.html

Also :link: [Formatting Code when adding Item](https://developercommunity.visualstudio.com/content/problem/169501/formatting-code-when-adding-item.html)

Also :link: [Formatting of init class after adding new class library into project](https://developercommunity.

[2017-09-18 18:19] dpoeschl commented on #22011
Correct, appears to be fixed in 15.4 for me.

[2017-09-18 18:28] jcouv opened #22172 "Tracking: Issue with serialiable flag on ValueTuple in 4.7.1"
Viktor Hofer reported an issue, but I don't know what is the status. Opening this issue so that I don't forget to follow up.

[2017-09-18 18:35] kingces95 commented on #22156
@Jcouv Could you please link to the PR that fixes this issue?

[2017-09-18 18:42] heejaechang opened #22174 "update IOperationTreeVerifier to log syntax kind, IsImplicit, Parent"
right now, test verifier just output syntaxnode.ToString() and not kind, also doesn't output IsImplicit or parent at all.

we need kind for syntax since some node point to same text but different node kind. IsImplicit and Parent were new API we added but not updated test verifier to log those.

[2017-09-18 18:43] heejaechang commented on #22174
see this - https://github.com/dotnet/roslyn/pull/21857#pullrequestreview-62912132

[2017-09-18 18:43] heejaechang commented on #21330
dupe of this - https://github.com/dotnet/roslyn/issues/22174

[2017-09-18 18:43] heejaechang commented on #22174
closing since it is dupe

[2017-09-18 18:43] #22174 closed

[2017-09-18 18:49] jcouv commented on #22156
Fixed by #22158

[2017-09-18 19:02] DustinCampbell commented on #21960
I'm thinking about poaching this if that's OK.

[2017-09-18 19:02] heejaechang opened #22175 "these tests in OutVarTests call GetOperation with unsupported nodes and expect valid IOperation"
Microsoft.CodeAnalysis.CSharp.UnitTests.OutVarTests.Scope_DeclaratorArguments_10 FAILED:
Microsoft.CodeAnalysis.CSharp.UnitTests.OutVarTests.Scope_DeclaratorArguments_05 FAILED:
Microsoft.CodeAnalysis.CSharp.UnitTests.OutVarTests.Scope_DeclaratorArguments_13 FAILED:
Microsoft.CodeAnalysis.CSharp.UnitTests.OutVarTests.Scope_DeclaratorArguments_09 FAILED:
Microsoft.CodeAnalysis.CSharp.UnitTests.OutV

[2017-09-18 19:12] heejaechang opened #22176 "see whether we can improve VB GetOperation perf"
Both C# and VB uses GetBindingRoot to get scope where GetOperation will bind to find Operation user is asking.

even though two uses same name GetBindingRoot, its implementation is slightly different. C# finds smallest statement which contains node user is asking. but VB it finds smallest statement that is not under lambda.

so, VB might bind larger scope than C# for GetOperation. we should see wh

[2017-09-18 19:16] sharwell commented on #21960
@DustinCampbell Everything assigned to me but marked **up-for-grabs** is poachable 👍

[2017-09-18 19:18] DustinCampbell commented on #21960
snatched away

[2017-09-18 19:54] jasonmalinowski commented on #22159
There isn't a feed, but #22173 is now an active PR merging into master. We anticipate it'll merge today or tomorrow.

[2017-09-18 19:54] jasonmalinowski commented on #22072
@tannergooding Would you be willing to do such updating?

[2017-09-18 19:55] zaytsev-victor commented on #22096
Tested on latest master branch.
![img](https://i.gyazo.com/f503f1e2956d2746a77aa1b573a441d4.gif)

[2017-09-18 19:56] zaytsev-victor commented on #22097
@rchande thanks. It works.

[2017-09-18 19:56] nguerrera commented on #21814
@jaredpar Is there something that can be set in msbuild to bump the csc.exe verbosity without bumping the entire build to /v:diag, which spews a ton of other stuff to the console?

[2017-09-18 19:57] tannergooding commented on #22072
Its on a backlog of things to do when/if I have time, but I don't think I have it to do right now (have bugs in project-system to fix).

[2017-09-18 20:06] dpoeschl commented on #22059
(I don't remember hitting the close button, but it's reopened now. Oops.)

[2017-09-18 20:14] jasonmalinowski commented on #11634
Since this wasn't the first time we've had this question: #22178 is out to formally state the requirement.

[2017-09-18 20:21] jaredpar commented on #21814
i was imagining no msbuild work here. Rather we just wrap our main method with try catch and print from there.

[2017-09-18 20:41] heejaechang opened #22179 "Decide whether we should use highest bound node or lowest bound node to bind statement or root in GetOperation"
right now, we use highest bound node for both C# and VB so that we get larger operation tree and then search the tree given node to be conservative. but since we only return explicit operation, it might be just wasting since explicit operation with same syntax node is most likely always lowest one.

we should investigate a bit more and change it to lowest bound node.

[2017-09-18 20:46] heejaechang opened #22180 "we need to decide order how we search operation from operation tree"
right now, we traverse tree in preorder and return first IOperation that is explicit and point to same syntax node as the given node to GetOperation.

we probably need to decide exact order on how we search the given node in GetOperation.

...

we also need to decide order, IOperation.Children returns and IOperation.Decendants() returns.

[2017-09-18 20:47] DustinCampbell opened #22181 "AbstractCodeActionOrUserDiagnosticTest.TestMissingInRegularAndScriptAsync(...) forcibly sets ParseOptions to null"
This helper looks like so:

[code]

So, if it's used to test a code action which targets a C# 7.1 language feature, the parse options that the test would set on the `TestParameters` get thrown away. It looks like we need to refactor how parse options get passed into tests. `GetScriptOptions()` above should operate on the existing parse options, not create new parse options.

[2017-09-18 20:58] heejaechang commented on #22180
related to https://github.com/dotnet/roslyn/pull/21857

[2017-09-18 20:58] heejaechang commented on #22179
related to #21857

[2017-09-18 21:16] heejaechang commented on #22180
related to #22020

[2017-09-18 21:17] heejaechang commented on #22020
@AlekseyTs visitor simply iterates operation returned by Children to visit sub trees.

[2017-09-18 21:48] jcouv commented on #22172
It was a test issue and Viktor said it will resolve itself. Closing

[2017-09-18 21:48] #22172 closed

[2017-09-18 22:02] DustinCampbell commented on #21960
FWIW, the problem is specific to the switch expression. The code that detects whether a cast can be removed considers the "outer" type of the cast expression -- that is, the type of the context that the cast expression is contained within. For a switch statement expression, that should be null, as in "no type". However, the redundant cast detection code does something a [bit cheesy](https://github

[2017-09-18 22:10] jinujoseph commented on #22180
@dotnet/analyzer-ioperation , tagging for discussion to take it for design meeting

[2017-09-18 22:44] DustinCampbell commented on #21960
Sigh... this whole mess needs rewritten. :-S

[2017-09-18 23:07] kingces95 opened #22183 "Script to Reset Roslyn Experimental Instance"
I expect that after a fix has been submitted to correct a bug which corrupts the Roslyn VS 2017 experimental instance (see https://github.com/dotnet/roslyn/issues/22091), that there will exist a script contributors can run to reset their experimental instances to a clean state. And in so doing, when they sync, rebuild and deploy with the fix, then the experimental instance will launch.

Actually,

[2017-09-18 23:09] kingces95 commented on #22091
Oh, but if you still wanna look at the dump then we'll leave it open.

[2017-09-18 23:47] kentcb opened #22184 "csharp_prefer_simple_default_expression has faulty heuristic"
**Version Used**:

VS Enterprise 2017 15.3.4

**Steps to Reproduce**:

1. Add `csharp_prefer_simple_default_expression` to your .editorconfig with a value of `true:error`
2. Add the statement `object i = default(int)` to your code.

**Expected Behavior**:

No error should be triggered, since the target type (`object`) is more general than the type specified to `default`.

**Actual Behavior**:

An

[2017-09-19 00:03] heejaechang commented on #18697
I believe this is now fixed in master.

[2017-09-19 00:03] #18697 closed

[2017-09-19 00:48] kingces95 commented on #22183
From the web:

Via [CreateExpInstance /Reset /VSInstance=12.0 /RootSuffix=Exp](https://www.codeproject.com/Tips/832362/Resetting-the-Visual-Studio-Experimental-Instance)
Via [VS plugin](https://marketplace.visualstudio.com/items?itemName=BenDeveloper.ResetExperimentalInstance)
Via [Daniel Cazzulino's Blog](http://blogs.clariusconsulting.net/kzu/resetting-visual-studio-experimental-instance-to-its-

[2017-09-19 01:15] #21748 closed

[2017-09-19 02:35] jcouv opened #22186 "Roslyn test projects should not produce ref assemblies"
Producing ref assemblies adds a little cost. Assuming that we only have terminal test projects, we should be able to dispense with that.
We should only produce ref assemblies for non-terminal projects.

[2017-09-19 04:11] kingces95 commented on #21899
If I could reset the experimental instance (see https://github.com/dotnet/roslyn/issues/22183) then I think I'd be able to launch VS and create a project in my Mac > Parallels > Win10 environment.

[2017-09-19 04:11] #21899 closed

[2017-09-19 07:31] StefanOssendorf commented on #18706
@sharwell Here is my report: https://developercommunity.visualstudio.com/content/problem/115469/disabled-codelens-high-cpu-servicehubroslyncodeana-1.html

[2017-09-19 09:11] b0urb4k1 opened #22190 "InternalsVisibleTo attribute not evaluated in MsBuildWorkspace"
I setup this repository to reproduce my problem.
https://github.com/b0urb4k1/RoslynProblem

**Expected Behavior**:
I expect that when i open the solution to be able to find internal interfaces from friend assemblies.

**Actual Behavior**:
I get a error CS0122: 'InternalEntryBase' is inaccessible due to its protection level.

Although it compiles and the InternalsVisibleTo attribute is set.
I read

[2017-09-19 09:56] #22159 closed

[2017-09-19 11:07] 4creators opened #22191 "Update Developing a Language Feature documentation"
Due to decision of moving proposal and discussion of new C# and VB language features to dotnet/csharplang and dotnet/vblang repos respectively it would be very helpful if documentation on [Developing a Language Feature](https://github.com/dotnet/roslyn/blob/master/docs/contributing/Developing%20a%20Language%20Feature.md) would be updated to account for new workflow.

I have personally hit that pro

[2017-09-19 12:35] mavasani opened #22193 "Revisit use of BoundTreeRewriterWithStackGuard in VisualBasicOperationFactory_QueryLambdaRewriter.vb"
See https://github.com/dotnet/roslyn/pull/21356#discussion_r139535884

[2017-09-19 13:01] wldevries opened #22194 "Incorrect type inference when combining nullable structs with extension methods"
**Version Used**:
Roslyn included in VS Pro 15.3.4

**Steps to Reproduce**:

Compile the following short program:
[code]

**Expected Behavior**:
The program compiles fine

**Actual Behavior**:
The compiler outputs an error CS0266. The compiler incorrectly determines that `v2` should be of type `Option<float>?`

[2017-09-19 13:29] sharwell commented on #21941
@WilhelmZapiain so far we've been unable to reproduce this in 15.3.4 and 15.4 Preview. If you are still encountering this, can you post a more complete example, e.g. a complete file which demonstrates this issue?

[2017-09-19 13:29] mavasani commented on #21277
I think we need to retain the `CatchType` for cases where no exception local is specified, say `catch(Exception) { ... }`. I recall we decided to remove this field as we thought we can use `IOperation.Type` field to hold the catch type - @dotnet/analyzer-ioperation does this sound reasonable or do we think `ICatchClause.Type` should always be null as it is not an expression, in which case we shoul

[2017-09-19 14:23] Pilchie commented on #22183
Tagging @jasonmalinowski in this issue too.

[2017-09-19 14:42] mavasani commented on #21277
Another missing piece here: If catch filter declares a local, we do not expose it anywhere. For example:

[code]

I think we may need to create either create a new `ICatchClauseFilter` which exposes the filter expression and locals OR we need to expose `FilterLocals` on `ICatchClause`.

[2017-09-19 14:42] mavasani commented on #21277
@jinujoseph Let us bring this issue to discussion on Thursday.

[2017-09-19 14:47] sharwell commented on #18706
@StefanOssendorf Thank you for making those reports. I saw that you submitted 5 reports total. So far only one showed up in the internal system (which I have now analyzed and replied to). I'm working with an internal team to figure why the other 4 were delayed getting to me.

[2017-09-19 15:31] 333fred commented on #21277
Could we create a discard variable for that case? It feels to me like it would be better to have a standard pattern for getting the type here, so we don't trip up users with this.

[2017-09-19 16:07] StefanOssendorf commented on #18706
@sharwell You're welcome :) But I have submitted only one report (and got 4 confirmation mails).

[2017-09-19 17:15] khyperia commented on #20345
Flaked in https://github.com/dotnet/roslyn/pull/22142 as well. [`windows_release_unit32_prtest`](https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_unit32_prtest/9558/)

[2017-09-19 17:16] khyperia commented on #20370
Failed in https://github.com/dotnet/roslyn/pull/22142 . [`windows_release_unit64_prtest`](https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_unit64_prtest/9593)

[2017-09-19 17:17] jcouv opened #22195 "Perf.Tests project builds an un-necessary assembly"
From discussion with Jared, having a project that only copies content is difficult and brittle. Can we move those content files to another project, and delete this project?

[code]

[2017-09-19 17:25] 333fred opened #22196 "[IOperation] Single Line Lambda Expressions have an extra block statement"
[code]
[code]
[code]
[code]

Note the extra IBlockStatement in the single line version. This should not be there.

[2017-09-19 17:27] VSadov opened #22197 "ref ternary must match val-escapes on its branches (not ref escapes)"
The spec and implementation need to be updated. The following should fail

[code]

[2017-09-19 17:53] VSadov opened #22198 "We should not "poison" old-style stack-only structs such as TypedReference"
Types like TypedReference are semantically ref-structs and can be formally made ref-structs.
There are also technical advantages for them to be ref-structs - they can share implementation and JIT validation details with Span.

However, making a struct `ref struct` implies "poisoning" and poisoning these type can be compat breaking if old compiler (like pre 7.2 C#) is used.
Since the types existed

[2017-09-19 17:54] VSadov commented on #22198
CC: @jaredpar  @jkotas

[2017-09-19 18:21] 333fred commented on #22196
FYI @dotnet/analyzer-ioperation @jinujoseph for triage.

[2017-09-19 19:11] nguerrera commented on #21814
@jaredpar I was asking something different: Is there a workaround with currently shipped bits other other than msbuild /v:normal or /v:diag? One which causes the stack trace to be dumped on compiler crash without otherwise making the entire build more verbose?

[2017-09-19 19:17] 333fred opened #22200 "[IOperation] Handling duplicate array access receivers"
Given the following code:
[code]

We run into a parent pointer issue with the initializer for `a`. The compiler deduplicates the `Expression` of the 2 `BoundArrayAccess` nodes created for `[0]` and `[1]`. This means that [here](https://github.com/dotnet/roslyn/blob/features/ioperation/src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs#L1009), when we create the `IArrayElementRefere

[2017-09-19 20:02] mavasani commented on #21277
@333fred I found another VB subtlety which would mean we need a richer API. VB allows you to reference an existing non-static local or parameter in the catch statement instead of declaring a new local. Following is legal:

[code]

So basically, we can have any of 3 different things in the clause:

1. Local declaration (C# and VB)
2. Type expression (C#)
3. Local or Parameter reference expression (

[2017-09-19 20:10] jcouv commented on #18333
I started a page to explain the [versions of packages](https://github.com/dotnet/roslyn/wiki/NuGet-packages).
In this case, 1.3.2 means Visual Studio 2015 update 3 (C# 6.0), while 2.0.1 means Visual Studio 2017 version 15.0 (C# 7.0).

The language features added in C# 7.0 are documented in the [language history](https://github.com/dotnet/csharplang/blob/master/Language-Version-History.md), and now

[2017-09-19 20:13] jcouv commented on #6971
Is this issue still relevant?

[2017-09-19 20:27] mavasani commented on #21277
How about:

[code]

[2017-09-19 20:36] heejaechang opened #22204 "use new telemetry PII API so that we dont need to do custom hash for PII info"
see this for more info

https://wiki.vsdata.io/event_telemetry_properties#complex_properties_and_pii

[2017-09-19 21:05] OmarTawfik opened #22206 "EE escape analysis crashes when compiling lambdas"
Code:

[code]

Put a breakpoint after `int x = 0` in `Main()`, and F5. When it hits, evaluate the expression `M(() => ref x)`.

**Expectation:**  error CS8168: Cannot return local 'x' by reference because it is not a ref local
**Actual:** compiler crashes because `RefEscapeScope` is not implemented for EE symbols.

**Suggestion**: Both `RefEscapeScope` and `ValEscapeScope` should be abstracted and

[2017-09-19 21:05] OmarTawfik commented on #22206
cc @VSadov

[2017-09-19 21:07] OmarTawfik commented on #22132
@VSadov should we move this to `15.later`?

[2017-09-19 21:48] heejaechang opened #22208 "IOperation statement inserted when it is not needed"
see this comment (https://github.com/dotnet/roslyn/pull/21857/files#r139825112)

basically, what is happening is that in some cases such as IVariableDeclarationStatement or ExpressionStatement, it gets inserted into IOperation tree when it is not actually needed.

we need to decide whether we want to get rid of it or add it for all cases.

[2017-09-19 23:00] mavasani commented on #21277
I have a PR out with the proposed API: https://github.com/dotnet/roslyn/pull/22210/files#diff-3ba5ed996be2c590467f9f33f8f676d3

[2017-09-19 23:01] dpoeschl commented on #22073
This doesn't repro. Feel free to reopen if you can provide repro steps.

[2017-09-19 23:01] #22073 closed

[2017-09-19 23:02] jhudsoncedaron commented on #16810
I would really like to know any scenario where you can build non-static classes without System.Object resolving at all. Trying to locate the error that caused System.Runtime to not resolve over so many errors that it eats up the scroll up buffer is obnoxious.

[2017-09-19 23:30] kentcb opened #22212 "dotnet_style_qualification_for_property has faulty heuristic"
**Version Used**:

VS Enterprise 2017 15.3.4

**Steps to Reproduce**:

1. Add `dotnet_style_qualification_for_property` to your .editorconfig with a value of `true:error`
2. Add an instance property called `Foo`
3. Add a statement to a static member that uses the `nameof` operator against `Foo`

**Expected Behavior**:

No error triggered.

**Actual Behavior**:

Error is triggered because `Foo` is

[2017-09-19 23:48] AlekseyTs commented on #20380
Looks fixed to me:
[code]

[2017-09-19 23:48] #20380 closed

[2017-09-20 00:07] VSadov opened #22213 "Consider adding slow span binary to tests and test agains that"
We can switch all tests to the actual span or only some subset.

For the most part we only care about APIs exposed, so we do not strictly need to test with actual span.

[2017-09-20 00:12] AlekseyTs commented on #21197
Here is how the API is defined:
[code]

I do not believe there is a ```ObjectCollectionInitializerSyntax``` anywhere in the repro scenario. The VB code is using an array literal, which is represented by ```CollectionInitializerSyntax```, but no ```Add``` method is used in this case. Note, that, even when ```CollectionInitializerSyntax``` is part of an ```ObjectCollectionInitializerSyntax```, the `

[2017-09-20 00:12] #21197 closed

[2017-09-20 01:32] KirillOsenkov opened #22214 "Document how to turn on diagnostic analyzers for a custom workspace"
**Version Used**:
8f02e04893

**Steps to Reproduce**:

1. Have a custom workspace of type "Foo"
2. Try to enable diagnostic tagger for the documents in the workspace

**Expected Behavior**:
There should be docs on how to do that.

**Actual Behavior**:
Here are the steps I've discovered to make it work:

1. Register a Solution Crawler
2. Implement and export an IWorkspaceDiagnosticAnalyzerProviderS

[2017-09-20 01:34] AlekseyTs commented on #16968
It looks like the problem is present in the native compiler as well.

[2017-09-20 01:34] KirillOsenkov opened #22215 "Redesign how workspace kinds work"
Having a single string as a workspace kind has limitations. Instead, if workspaces could have multiple kinds, such as "tags", one could export workspace services targeting tags, and not specific workspace kinds.

There should be an M:N relationship allowing all combination between workspace services and workspaces. Case in point: this service is only exported for 3 specific workspaces and if you'r

[2017-09-20 08:13] Therzok commented on #22214
It's pretty much hardcoded in to have a Host kind workspace and Workspaces.Desktop included in composition.

[2017-09-20 11:40] wldevries commented on #22194
This is probably not a bug. If `stats` is `null` the elvis operator returns `null` and `ToOption()` is never called. This matches with the type `Option<float>?` the compiler expects.

[2017-09-20 11:45] #22194 closed

[2017-09-20 12:04] tomthoros opened #22219 "CSharpScript seemingly excessive memory usage"
**Version Used**: 2.3.0.0

I have an application that creates and pre-compiles a number of scripts.
For me though, it seems that ~39 scripts is the limit where compilation will fail with an OOM exception.

[code]

My `scriptOptions` contains 1 assembly reference and 2 imports.
Each script compilation consumes roughly over 50mb.

Releasing the references to these scripts allows the gc to free up me

[2017-09-20 12:44] ektrah commented on #22106
@VSadov Can you share what's the level of maturity of the span spec? Is feedback like the one above helpful or is the design already finalized? https://github.com/dotnet/csharplang/issues/666 is a bit vague on the current status.

[2017-09-20 14:12] Pilchie commented on #22215
There should be an inheritance type relationship (at least, I thought that was the original design).  @DustinCampbell (or even @mattwar) - care to chime in?

[2017-09-20 15:15] DustinCampbell commented on #22215
There's no inheritance relationship. There are predefined [service layers](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Workspace/Host/Mef/ServiceLayer.cs), e.g. "Editor", "Host". Or, you can use a custom kind that will supersede the layers.

The ExportIncrementalAnalyzerProvider is kind of orthogonal to the workspace kind ask. This is a specialized attribute that shou

[2017-09-20 16:29] KirillOsenkov commented on #22215
I kind of like how CPS declares Capabilities - maybe we could use something like this here.

[2017-09-20 16:44] DustinCampbell commented on #22215
I haven't applied too much thought to the problem, but I'm not sure how to do that in a non-breaking way. Also, I'm not certain of the user scenario. The particular case pointed to here is something that needs fixing IMO, and it's kind of specific to those who have IVT access.

[2017-09-20 16:59] KirillOsenkov commented on #22215
Right. I'm sure that with some effort it'd be possible to come up with something that preserves existing workspace behavior by default, but also asks if the workspace supports "the new way" and if yes, do the new thing.

[2017-09-20 17:17] mrkaspa commented on #9793
Love that too

[2017-09-20 17:22] jeremymeng commented on #21197
@AlekseyTs is there a way to get symbol info for the expression `{1, 2, 3}` in `Dim y = {1, 2, 3}`?

[2017-09-20 17:23] mavasani commented on #21289
This is done

[2017-09-20 17:23] #21289 closed

[2017-09-20 17:38] AlekseyTs commented on #21197
What symbol would you expect to get?

[2017-09-20 17:47] mavasani opened #22224 "Re-enable failing tests TestParentOperations and TestClone"
These tests are being disabled as part of https://github.com/dotnet/roslyn/pull/21356, but should get fixed with change in the way GetOperation works: https://github.com/dotnet/roslyn/pull/21857.

[2017-09-20 18:43] Imisnew2 opened #22227 ".NET Core 2.0: BC35000: Requested operation is not available -- For To loop with Object counter."
**Version Used**:
`dotnet --info` output:
.NET Command Line Tools (2.0.0)

Product Information:
 Version:            2.0.0
 Commit SHA-1 hash:  cdcd1928c9

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.0.0/

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.0
  Build    : e8b886

[2017-09-20 18:46] mattwar commented on #22215
The Workspace kind is only used by the workspace to match it up with kind specific services.  It's entirely possible (and easy to do) to expand to a list of kinds.  However, now you might need another heuristic to disambiguate between multiple services that match the workspace, which one do you pick?  Maybe the order they are specified in is the order of preference?

I also remember there were som

[2017-09-20 18:55] heejaechang opened #22228 "MethodGroup being used in error case"
see this test - IForEachLoopStatement_BadElementType

[code]

this gives this result

[code]

here this code where x is missing type
 bool b = **!x.Equals(null)**;

bound to bound group and becomes this
 Instance Receiver: IOperation:  (OperationKind.None) (Syntax: **'x.Equals'**)

we want to take a look whether this is right or wrong.

[2017-09-20 19:03] heejaechang commented on #22228
see this comment (https://github.com/dotnet/roslyn/pull/21857/files#r140058393)

[2017-09-20 19:12] heejaechang opened #22229 "IsImplicit for multiple operation nodes with same syntax"
we want to make sure there is only one explicit IOperation when multiple IOperations are pointing to same syntax node.

right now, we have case such as this (https://github.com/dotnet/roslyn/pull/21857#pullrequestreview-64081939 or https://github.com/dotnet/roslyn/pull/21857#issuecomment-330950924) where InvalidExpression is pointing to same syntax node as its child. or ExpressionStatement pointin

[2017-09-20 20:02] jeremymeng commented on #21197
I remember originally I was trying to get the type of the expression, but now I don't think I need that anymore. Also I should use `GetTypeInfo()` for that. So it's all good. Thanks!

[2017-09-20 20:37] mavasani opened #22230 "Flaky test failure PersistentService_Solution_WriteReadSameInstance"
See https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_unit32_prtest/9632/testReport/junit/Microsoft.CodeAnalysis.UnitTests.WorkspaceServices/SQLitePersistentStorageTests/PersistentService_Solution_WriteReadSameInstance/

[code]

[2017-09-20 20:52] OmarTawfik commented on #22132
@VSadov do we have a decision on this? should we move this to `15.later`?

[2017-09-20 21:08] jcouv commented on #22191
FYI @gafter

[2017-09-20 21:27] jcouv commented on #18220
@VSadov If this wasn't done already, do you want to take care of this in your PR merging to master, or after you merge to master?

[2017-09-20 21:30] #22003 closed

[2017-09-20 21:30] mavasani commented on #21296
Should be fixed with https://github.com/dotnet/roslyn/pull/22222

[2017-09-20 21:30] #21296 closed

[2017-09-20 21:48] heejaechang opened #22233 "preserve receiver even in error case where static method or event is called"
see this (https://github.com/dotnet/roslyn/pull/21857#pullrequestreview-64104549) and this (https://github.com/dotnet/roslyn/pull/21857#pullrequestreview-64105067)

right now, when static call or event reference is off instance, we drop that info. people believe we should preserve that info.

[2017-09-20 22:11] jcouv commented on #17455
I'm able to repro this. The program compiles fine, but it overflows when run.

The strange thing is that decompiling the static constructor shows that it only expects to use very little stack (`.maxstack 4`):

[code]

[2017-09-20 22:21] mavasani commented on #17838
Removing the Urgency-Now label and marking as 15.later - we have basic support for translated query expressions now, which matches our v1 scope. Keeping this issue open to track richer query APIs for v2.

[2017-09-20 22:53] jcouv commented on #21231
@xyting Thanks for reporting this.

PR with fix is pending review.

[2017-09-20 23:14] jcouv commented on #17455
From discussion with @VSadov, we think the IL is correct and does not mandate much stack usage. So this issue is most likely caused by JIT behavior. I will move the issue to the coreCLR repo.

[2017-09-20 23:14] #17455 closed

[2017-09-20 23:14] jcouv commented on #17455
Issue moved to [dotnet/coreclr #14103](https://github.com/dotnet/coreclr/issues/14103) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-20 23:19] jsschultz opened #22235 "Roslyn EE not handling expected Microsoft.MetadataReader.AssemblyResolutionFailureException when minidump debugging"
**Version Used**: 2.06.0.62030

**Steps to Reproduce**:

1. For me, I am debugging a heap dump of Visual Studio. You can message me for more details, if you like.
2. While deump debugging, I am inspecting managed heap objects and viewing them using the quickwatch window when I encounter several blank rows.
3. Debugging VS with VS, I see several expected exceptions being thrown from the debugger, b

[2017-09-20 23:29] jinujoseph commented on #8916
this has been done via https://github.com/dotnet/roslyn/pull/21711

[2017-09-20 23:29] #8916 closed

[2017-09-21 00:20] VSadov opened #22237 "Bogus assert in EnsureIsReadOnlyAttributeExists"
I saw the assert once while trying to rename a "ref readonly" parameter in CoreFxLab solution.
The assert is ignorable and I could not reproduce it again.

== Update:
It seems it can also be cause by solution crawler.

The assert is benign and seems bogus.

The following code calls into the helper when attribute is already already known to be needed that bit is "frozen".

[code]

Either should not

[2017-09-21 00:31] VSadov opened #22238 "Extract interface loses "ref readonly" on parameters and returns"
parameters become an ordinary `ref`, returns become ordinary byval returns.

[2017-09-21 00:44] VSadov opened #22239 "Change Signature does not show "ref readonly" modifier on parameters"
The Change Signature  shows  other modifiers like "out" but not "ref readonly" - not sure if it does not understand it or because it simply does not fit. There is no much space in that UI.

[2017-09-21 01:11] VSadov opened #22240 "Add Accessibility modifier removes "ref" from a ref struct"
Invoke Refactor/Add Accessibility modifiers on

[code]
The dialog offers adding "private", but also offers to remove "ref"

[2017-09-21 01:17] VSadov opened #22241 "Replace lambda with local function loses "ref readonly""
[code]

Replace dd with a local function using IDE. - loses "ref readonly"

[2017-09-21 01:22] VSadov opened #22242 "Implement Interface loses "ref readonly""
Implement interface refactoring loses "ref readonly" on parameters.

Inherit from abstract class does this too.

[2017-09-21 01:34] xyting commented on #21231
@jcouv Good news.

[2017-09-21 03:34] jcouv commented on #21579
@scegg The compiler APIs already allow doing this. For example, consider this [test](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs#L282) (`ConstraintAttributesAreNotSharedAcrossTypeRefs`) which compiles a snippet of C# in memory, emits the assembly to a bit array in memory, then uses that as a reference for a second compilation.
Look at the

[2017-09-21 03:39] jcouv commented on #19327
FYI @AlekseyTs since he was looking in that area for another fix.

[2017-09-21 03:44] scegg commented on #21579
@jcouv Thanks for your reply.
But I guess I doesn't get your point.

A case for demo:
One user need to compile a part of C# code using Roslyn.
class Demo
{
  public Extreme MyProperty {get;set;}
}

Extreme is defined in another assembly, which is generated by another project in memory (only have an assembly object, but no PE-image, nor filename), and loaded into this app domain already.
The user c

[2017-09-21 04:11] jcouv commented on #21488
@yaakov-h Could you zip and share your project? I was not able to repro either. Thanks

[2017-09-21 04:14] #20496 closed

[2017-09-21 04:14] #22197 closed

[2017-09-21 04:49] jcouv opened #22244 "Remove PROTOTYPE markers from "private protected" feature"
It looks like some PROTOTYPE markers made it through when the feature was merged.

https://github.com/dotnet/roslyn/blame/9da689b5e705672c050bbac63bccd896ba4aefbb/src/VisualStudio/CSharp/Impl/CodeModel/CSharpCodeModelService.cs#L1041

https://github.com/dotnet/roslyn/blob/9da689b5e705672c050bbac63bccd896ba4aefbb/src/VisualStudio/VisualBasic/Impl/CodeModel/VisualBasicCodeModelService.vb#L1425

[2017-09-21 06:53] jjanuszkiewicz commented on #21580
It's been 4 weeks - is there any update on this? This is a really serious regression in VS 15.3 - it is simply unusable for our team now.

[2017-09-21 11:20] karczk opened #22249 "Instance/static method compile error"
**Steps to Reproduce**:

[code]

**Expected Behavior**:
Should compile, there is only one instance method and string is an object.

**Actual Behavior**:
Does not compile:

[2017-09-21 11:30] vedun-z commented on #16979
I have the same issue on mono 5.0.1-5.2.0 with Roslyn 2.2.0-2.3.2:
[code]

Is it another bug in mono runtime?

[2017-09-21 14:46] mavasani opened #22251 "CodeBlock and OperationBlock analyzer actions for parameter initializers"
Current implementation of the analyzer driver clubs makes a single code block/operation block callback for a symbol with parameters, wherein the callback contains a list of executable code blocks containing the symbol's primarily executable code block (e.g. method body) and executable code block for each parameter initializer.

IOperation design discussion on this led us to believe that we should

[2017-09-21 14:50] mavasani opened #22252 "CodeBlock and OperationBlock analysis contexts should expose all owning symbols"
VB allows field declarations to share same initializer, which means that a code block/operation block can have multiple owning symbols. We currently expose a single owning symbol, but we should allow analyzers to get all owning symbols for a block contenxt. This functionality would be needed by an existing Roslyn analyzer if we implement https://github.com/dotnet/roslyn/issues/21293 and remove the

[2017-09-21 14:51] mavasani commented on #21293
Filed https://github.com/dotnet/roslyn/issues/22251 to track work for `Don't get multiple codeblocks at a time`. This issue now just tracks removal of these APIs.

Filed https://github.com/dotnet/roslyn/issues/22252 to track for exposing all owning symbols from a context.

This issue now only tracks removal of the ISymbolAnalyzer APIs.

[2017-09-21 15:47] jnm2 commented on #13735
This issue should be closed since you moved it to dotnet/csharplang#226.

[2017-09-21 16:05] mavasani commented on #22224
@heejaechang already took care of this.

[2017-09-21 16:05] #22224 closed

[2017-09-21 16:08] jcouv opened #22253 "Completion on `out` in local function impedes with typing"
I tried to add an out parameter to a local function and Intellisense forced a completion of a type name instead of `out`.

![image](https://user-images.githubusercontent.com/12466233/30706186-79bb6e1e-9eac-11e7-8d4a-d80452857185.png)

FYI @agocke @Pilchie for triage

[2017-09-21 16:41] rchande opened #22254 "Explicit tuple name simplification not offered"
[code]
There's no lightbulb offering to remove the explicit tuple name. It does show up for anonymous types though...

[2017-09-21 16:41] rchande commented on #22254
cc @jcouv

[2017-09-21 16:42] rchande commented on #22254
![image](https://user-images.githubusercontent.com/3751401/30707673-2054be3e-9eb1-11e7-881c-1b21236cdcdb.png)
anon gets faded but the tuple doesn't

[2017-09-21 17:22] MichaelPuckett2 opened #22256 "Auto Functions - Suggestion"
**7.1 suggested for 7.2 or later**:

**Allow a function to auto declare and return a value.**:

**Existing format example:**

        public bool Navigate(Type sourcePageType)
        {
            var success = false;
            if (Application.Current is INavigate navigator)
            {
                success = navigator.Navigate(sourcePageType);

                if (success)

[2017-09-21 17:28] #13735 closed

[2017-09-21 17:38] mavasani commented on #21293
We would like to bring this up again for discussion.

1. The current initializer API shape already has good amount of unit tests for both C# and VB
2. The current API shape looks reasonable and exposes a richer API (pending official approval)
3. The language specs already mention initializers as executable code (for example see https://github.com/dotnet/csharplang/blob/0bffa700dba61735c79fdee7f189

[2017-09-21 17:47] #16968 closed

[2017-09-21 17:57] OmarTawfik commented on #22237
Actually, the Debug is true, and it indicates that we're trying to generate IsReadOnly attributes when it is too late, or too early. There is an underlying bug there. Looking into it.

[2017-09-21 18:00] ektrah opened #22257 "CLI: Task failed because "" was not found."
**Version Used**:

* Microsoft.NETCore.Compilers --version 2.6.0-beta1-62119-06

2.6.0-beta1-62107-06 with `InitialTargets="MakeCompilerScriptsExecutable"` [removed](https://github.com/dotnet/roslyn/issues/21970) exhibits the same problem. The last working version seems to be 2.6.0-beta1-62106-06.

**Steps to Reproduce**:

1. docker run -it --rm microsoft/dotnet:2.0-sdk
2. mkdir ~/project
3. cd ~/

[2017-09-21 18:00] mavasani commented on #21292
I dug a bit more and it seems we generate this Operation node only for *error* cases in *VB* where you have an extra `,` for an optional argument. For example, see here: http://source.roslyn.io/#Roslyn.Compilers.VisualBasic.Semantic.UnitTests/IOperation/IOperationTests_IArgument.vb,715

For similar error case in C#, we generate an IArgument with underlying IInvalidExpression:
[code]

For valid cod

[2017-09-21 18:12] jcouv commented on #19741
From discussion with @VSadov this behavior is by default. When calling `ReplaceNode` you get a new "floating" node (ie. not attached to any `SyntaxTree`).
If you ask for its `SyntaxTree`, we could have returned `null`, but for some reason that I do not know, we chose to make a dummy tree on the spot. That seems convenient in some common cases, but seems confusing and error-prone too... We probably

[2017-09-21 18:24] dpoeschl commented on #22256
Hi @MichaelPuckett2, this feature request would probably make more sense over on https://github.com/dotnet/csharplang/issues

[2017-09-21 18:27] dpoeschl commented on #22249
This sounds more like a feature request for the language, since the error message is pretty clear that this is not expected to work. Feel free to port to https://github.com/dotnet/csharplang/issues if you'd like to propose a change to the language.

[2017-09-21 18:30] dpoeschl commented on #22228
@heejaechang Should this be on Analyzers or Compilers?

[2017-09-21 18:31] mavasani commented on #22208
Just to add some more context. For loop initializers are represented as `SeparatedSytnaxList<ExpressionSyntax` in syntax, but the C# binder converts it into list of bound ExpressionStatements (see [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/Binder_Statements.cs,8ae9da7738784dd5,references).

I agree with @AlekseyTs that we should be consistent in the IOperation tree repres

[2017-09-21 18:31] benknoble opened #22259 "Path names with spaces fail in build/scripts/obtain_dotnet.sh"
**Version Used**:
[code]

**Steps to Reproduce**:

1. Clone `roslyn` into a directory with spaces in the path (e.g. `/Volumes/G-DRIVE ev RaW SSD/Home/roslyn`)
2. Run `./build/scripts/obtain_dotnet.sh` to obtain dotnet-CLI in order to build roslyn

**Expected Behavior**:

The pathname is handled accordingly.

**Actual Behavior**:

[code]

**Possible Solution**

Line 25 reads:
[code]

There are othe

[2017-09-21 18:32] benknoble commented on #22259
N.B. I am happy to work on a fix/PR, but would like community input first.

[2017-09-21 18:47] heejaechang commented on #22228
analyzer.

[2017-09-21 18:49] khyperia commented on #22257
I'm pretty sure this is fixed in master, by a crazy coincidence. The problem was (I think) that this PR https://github.com/dotnet/roslyn/pull/21673 `build/NuGetAdditionalFiles/Microsoft.NETCore.Compilers.props` removed the overrides for CscToolPath. However, the merge of `ref readonly` https://github.com/dotnet/roslyn/commit/b23943ed6da7c9542c0a213fde102feab0a11bb6 brought in those lines again. Th

[2017-09-21 19:12] jamesqo opened #22260 "[Question] How to use EditorFeatures code in my own C# text editor?"
Hi! I'm building my own text editor app in C#, which I plan to eventually make a C# IDE. I want it to have a rich feature set for manipulating/refactorings for C#, but I don't want to reinvent the wheel. I see that there are lots of such refactorings already implemented at [`src/EditorFeatures/CSharp`](https://github.com/dotnet/roslyn/tree/master/src/EditorFeatures/CSharp). How do I adapt the code

[2017-09-21 19:27] khyperia commented on #22259
You are welcome to fix up the scripts to improve them and make them more resilient to issues like these, but [it is a known and widespread issue Roslyn doesn't support paths with spaces](https://github.com/dotnet/roslyn/issues/20929). (e.g. many tests improperly quote paths)

A full fix for this issue would be a very large change, and would need to incorporate infrastructure to validate we don't r

[2017-09-21 19:28] VSadov opened #22261 "Extra conversion inserted in an expression tree"
This is likely a result of the fix for https://github.com/dotnet/roslyn/issues/4471 which was about the absence of such conversion nodes in general.

Now there is a smaller case where a conversion is unexpected.

[code]

One workaround is to add 'class' to the template part (change where TInterface : IFoo to where TInterface : class, IFoo)  ,  but ideally compiler should not insert this cast.

[2017-09-21 19:28] heejaechang commented on #22208
weird thing about those statements is that IOperation point to non statement syntax node when IOperation itself is a statement.

[2017-09-21 19:31] khyperia commented on #22259
Also note that I am currently trying to clean up our Linux story - for example, [this PR](https://github.com/dotnet/roslyn/pull/22145) that tried to clean up `tests.sh` a bit. I plan on creating a bash style guide, similar to our [powershell style guide](https://github.com/dotnet/roslyn/blob/master/docs/contributing/Powershell%20Guidelines.md). I would welcome feedback on that when I find the time

[2017-09-21 19:37] OmarTawfik commented on #22238
Root cause: classes in `src/Workspaces/CSharp/Portable/CodeGeneration` don't use compiler helpers to generate refness of signatures, but instead do independent checks. Need to look deeper into that.

[2017-09-21 19:37] OmarTawfik commented on #22239
Root cause: classes in `src/Workspaces/CSharp/Portable/CodeGeneration` don't use compiler helpers to generate refness of signatures, but instead do independent checks. Need to look deeper into that.

[2017-09-21 19:37] OmarTawfik commented on #22240
Root cause: classes in `src/Workspaces/CSharp/Portable/CodeGeneration` don't use compiler helpers to generate refness of signatures, but instead do independent checks. Need to look deeper into that.

[2017-09-21 19:38] OmarTawfik commented on #22241
Root cause: classes in `src/Workspaces/CSharp/Portable/CodeGeneration` don't use compiler helpers to generate refness of signatures, but instead do independent checks. Need to look deeper into that.

[2017-09-21 19:38] OmarTawfik commented on #22242
Root cause: classes in `src/Workspaces/CSharp/Portable/CodeGeneration` don't use compiler helpers to generate refness of signatures, but instead do independent checks. Need to look deeper into that.

[2017-09-21 19:39] dpoeschl commented on #22254
Your language version needs to be set to 7.1 to see this feature. Can you double check that and report back? Thanks!

[2017-09-21 19:43] dpoeschl commented on #22253
The `OutKeywordRecommender` doesn't seem to be kicking in here. Can you take a look?

[2017-09-21 19:59] dpoeschl commented on #18142
Major triage: moving out.

@abhijitparkhi1983 are you still having problems here?

@DustinCampbell should we reassign this?

[2017-09-21 20:02] dpoeschl commented on #18208
Moving .editorconfig work to 15.later

[2017-09-21 20:03] dpoeschl commented on #18210
Moving .editorconfig work to 15.later.

[2017-09-21 20:03] dpoeschl commented on #18217
Moving .editorconfig work to 15.later.

[2017-09-21 20:03] dpoeschl commented on #18218
Moving .editorconfig work to 15.later.

[2017-09-21 20:04] dpoeschl commented on #18219
Moving .editorconfig work to 15.later.

[2017-09-21 20:05] mavasani commented on #21451
@jinujoseph I will do this change after we have updated the dumper to show IsImplicit.

[2017-09-21 20:12] jcouv commented on #19845
It looks like the problem comes from `DataFlowPass.VisitPropertyAccess`, where `Binder.AccessingAutoPropertyFromConstructor` is called, but `this.currentMethodOrLambda` is `null`.

I think we'd want to pass `base._member` (which will be the field `C.Y` in this example) when not in method or lambda, but it's not accessible.

@agocke Do you have any thoughts how to fix this?

[code]

[2017-09-21 20:14] jnm2 opened #22262 "UTF8-no-BOM causes diff window to display erroneous encoding warning"
VS 15.3.5, iirc started in VS15.3.0

It happens with both Git and TFVC so it seems to be related to the diff tool itself.
It's not specific to .editorconfig, though `charset = utf-8` certainly exacerbates the existing problem.

Repro:

1. Save a file as UTF8 without BOM and commit to source control.
2. Make a change to the file and resave.
3. View the diff.

It erroneously shows this message at th

[2017-09-21 20:15] jnm2 commented on #22262
Let me test it with Git to see if it's TFS-specific.

[2017-09-21 20:17] jcouv commented on #21574
Updated the packages to point to https://aka.ms/roslyn-packages for more information, including versioning and compiler features. We should continue to accumulate documentation there to answer such questions.

This fix will affect the next wave of packages that we publish (the 2.6-beta1 packages that we should publish in the next few weeks).

[2017-09-21 20:17] #21574 closed

[2017-09-21 20:19] jnm2 commented on #22262
It happens with Git and also it's not specific to editorconfig, though `charset = utf-8` certainly exacerbates the existing problem.

[2017-09-21 20:24] OmarTawfik opened #22264 "Verify ref-readonly metadata and API are imported/used correctly from ref-assemblies"
Part of test plan #19216

Verify:
* Methods
* Properties
* Indexers
* Delegates
* R Extension Methods
* RR Extension Methods

[2017-09-21 20:28] jnm2 commented on #22262
I also suspect an issue that would be specific to .editorconfig where I'm debugging into opening a new tab and the source doesn't match the original, seemingly at random. In this codebase there are a good number of files that aren't yet utf8-no-bom. I'll have to see if that's reproducible.

[2017-09-21 20:28] mavasani opened #22265 "Remove IArrayCreationExpression.ElementType"
See https://github.com/dotnet/roslyn/pull/18154/files#r108744337

[2017-09-21 20:30] kuhlenh commented on #18342
Hey all, I updated the documentation this August here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference. This is the complete official list for 15.3.

[2017-09-21 20:34] jcouv opened #22266 "CSharpConvertIfToSwitchCodeRefactoringProvider crashes in some Roslyn code"
In `SymbolExtensions.CheckUnsafeModifier`, click on `if`. I get the yellow band for analyzer crash with stacktrace which I copied below.

[code]

[code]

[2017-09-21 21:18] OmarTawfik opened #22267 "Should we offer a fixer to change "readonly ref" to "ref readonly"?"

[2017-09-21 21:27] alrz commented on #22267
isn't it a (potentially) different thing? in that case, suggesting to "fix" it makes less sense.

[2017-09-21 21:27] #20353 closed

[2017-09-21 21:32] OmarTawfik opened #22270 "Deconstruct method with ref readonly parameter produces invalid messages"
[code]

Errors:
[code]

The first two errors are not valid here.

[2017-09-21 21:34] jcouv opened #22271 "Is it correct for local function symbols to default their accessibility to private and static?"
From our discussion.
Is this visible through the semantic model APIs? Should this rather be an implementation detail of how we emit?

[code]

[2017-09-21 21:49] sharwell opened #22272 "CompletesTrackingOperation should not dispose of EmptyAsyncToken"
**Version Used**: 15.3

:memo: Observed 18,000 scheduled tasks in a work queue in a "low memory" heap dump submitted for analysis.

When `TaskExtensions.CompletesTrackingOperation` is called with `EmptyAsyncToken.Instance`, it should not attempt to dispose of the token. The `Dispose()` method is empty, and scheduling the operation has substantial overhead.

[2017-09-21 22:01] OmarTawfik opened #22273 "Implementing an task-like type with ref readonly in builder type"
Part of test plan #19216

[2017-09-21 22:02] sharwell opened #22274 "WorkCoordinator.Reanalyze should avoid duplicate scheduling"
**Version Used**: 15.3

:memo: Observed 18,000 scheduled operations during analysis of a heap dump provided for a "low memory" condition. The `HashSet<DiagnosticId>` instances required to queue the requested analysis operations accounted for nearly 1GiB of memory overhead.

`WorkCoordinator.Reanalyze` schedules analysis operations on sets of documents:

https://github.com/dotnet/roslyn/blob/c83a39

[2017-09-21 22:23] jinujoseph opened #22276 "Adding better Diagnostics logging for FxCop"

[2017-09-21 22:49] heejaechang commented on #22019
Consider for v2

[2017-09-21 22:52] heejaechang commented on #21737
Lets keep the current API, after confirm C# never returns this operator kind.

[2017-09-21 23:00] heejaechang commented on #22274
thank you. wondering who is asking to re-analyze that many documents...

[2017-09-21 23:01] sharwell commented on #22274
It appears that ~120 documents were open in the editor at the time. When you change tabs, it requests a new analysis of all open documents.

[2017-09-21 23:02] heejaechang commented on #22274
@sharwell hmmm changing tabs shouldn't re-request. and re-analyze is not something such action would cause it. some external outside of solution crawler must explicitly ask for re-analysis.

[2017-09-21 23:05] heejaechang commented on #22274
so build can cause re-analyze all open files it looks like.

[2017-09-21 23:06] sharwell commented on #22274
Does LUT trigger this path after edits?

[2017-09-21 23:09] heejaechang commented on #22274
I dont think so. enc also can cause it for all documents that contains rude edits.

[2017-09-21 23:14] mavasani commented on #22276
@jinujoseph We should port this bug to VSO - we track all FXCop bugs there.

[2017-09-21 23:21] sharwell commented on #22274
Let me know if there's anything in the heap you want me to look for specifically.

[2017-09-21 23:24] mavasani commented on #22208
Design time decision: add back variable declaration statement for loop declaration part and all other cases where more than one variable can be declared simultaneously.

[2017-09-21 23:25] VSadov opened #22277 "Microsoft.CodeAnalysis.Editor.UnitTests.Structure.StructureTaggerTests.CSharpOutliningTagger_RegionIsNotDefinition seems to be flakey"
It was seen failing windows_debug_unit32_prtest in https://github.com/dotnet/roslyn/pull/22275 , which could not possibly cause this kind of failure.

[2017-09-21 23:26] mavasani commented on #22200
Design decision: Need more information.

Try to find out if we can identify specific kind of bound nodes that are re-used and if so handle this specially in the operation factory. If not, we can also consider fixing the binder for this specific case to not re-use bound nodes.

[2017-09-21 23:28] mavasani commented on #22180
Design decision: : Ensure Children are returned in **evaluation order**, not the *lexical order*. We should try to find cases where evaluation orders differ in languages for same construct, and bring such cases back for discussion to confirm the selected approach.

[2017-09-21 23:28] jinujoseph commented on #22276
vso id: 498184 , keeping this open to tag with developer community

[2017-09-21 23:30] mavasani commented on #22069
Design Decision: This seems like the correct invariant to maintain. We should bring back more specific cases where it cannot be satisfied or there is no easy decision about which node should be marked Explicit.

[2017-09-21 23:31] mavasani commented on #22069
However, this work is blocked on us ensuring that IsImplicit is shown in test baseline by the dumper. Tag @jinujoseph

[2017-09-21 23:32] mavasani commented on #22028
Design decision: Lets try to get IVariableDeclaration for all cases as these are logically variable declarations. Note this should not be IVariableDeclarationStatement, but just an IVariableDeclaration as we can declare one variable at max.

[2017-09-21 23:32] mattscheffer opened #22278 "'is' keyword can be converted to "see langword" tag when it is already part of a "see langword" tag"
**Version Used**:
VSUML 26920.4001
**Steps to Reproduce**:
1.  Create a new VB console app
2. At the start of the file, above module, add summary comments. Inside them add the text: "test 1 is"
3. Select 'is' in the comment, open up quick actions and choose "`Use <see langword= "is"/>`
4. Select is from inside the resulting see tag, and open up quick actions again. As you can see you can make a se

[2017-09-21 23:32] mattscheffer commented on #22278
@rchande

[2017-09-21 23:33] mavasani commented on #22020
Design Decision: Use evaluation order.

[2017-09-21 23:34] mavasani commented on #21737
Confirmed that C# never uses this OperatorKind.

[2017-09-21 23:34] #21737 closed

[2017-09-21 23:36] mavasani commented on #21277
Design Decision: Have both `ITypeSymbol ExceptionType` and `IOperation ExceptionDeclarationOrExpression` fields. `ExceptionType` should always be non-null and populated for all cases. `ExceptionDeclarationOrExpression` can be null, IVariableDeclaration or ILocalReferenceExpression or IParameterReferenceExpression or IInvalidExpression.

[2017-09-21 23:38] mavasani opened #22279 "API review for IUsingStatement"
We should merge the `Declaration` and `Value` into a single field. The OperationKind of this field will tell the user whether it is a variable declaration or an expression.

http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/IUsingStatement.cs,afcaf33ff8626c1b

[2017-09-21 23:40] mavasani commented on #21292
Design Decision:

1. Test late binding scenarios with omitted arguments and verify if we generate these nodes - if so, bring it back to the design discussion
2. If not, remove the IOmittedArgumentExpression API and expose the node as OperationKind.None

[2017-09-21 23:41] mavasani commented on #18722
Design Decision: For v1 use the simple approach of exposing IInvalidExpression with BoundMethodGroup and children expressions - change C# binder or operation factory. For v2, we can add IInvalidInvocationExpression and possible more IInvalidXXX nodes for property access, object creation, etc.

[2017-09-21 23:42] mavasani commented on #22265
Design Decision: Remove redundant `ElementType`, you can get the element type from looking at the underlying ArrayTypeSymbol exposed by `IOperation.Type`

[2017-09-21 23:44] mavasani commented on #22193
Design Decision: For v1, throw the CLR exception for insufficient stack instead of the internal one. For v2, investigate if we can change local rewriter to not re-use bound nodes.

[2017-09-21 23:54] #22198 closed

[2017-09-21 23:56] mattscheffer opened #22280 "Add file banner doesn't work cross-language"
**Version Used**:
Vsuml 26920.4001

The new feature add file banner doesn't allow you to use 'add file banner' for files of a different language than the original project.
**Steps to Reproduce**:
1. Create a new VB console app.
2. Add 2 CSharp class files, and add appropriate references/packages to compile them
3. Add a comment at the top of one of the CSharp class files like //test
4. Go to the s

[2017-09-21 23:56] mattscheffer commented on #22280
@rchande

[2017-09-22 00:26] OmarTawfik opened #22282 "Operators returning a readonly reference in IL"
Related to test plan #19216

It appears that the current version accepts operators that return by ref (when read from IL).
Should we be accepting ref-readonly returns as well?

[2017-09-22 00:30] OmarTawfik opened #22283 "Tests for readonly references overload hiding, inheritance, resolution, and generic type inference."
### Related to test plan #19216:
Tests need to be added for hiding/overriding/inheriting, and make sure that compiler differentiates between ref/ref-readonly/out/none.

### Merged from #18172:
Once we are able to make calls with "ref readonly" parameters, generic type inference involving "ref readonly" will be testable. The feature may not require any additional changes and work similarly to regul

[2017-09-22 01:18] Supermaxman commented on #20380
@AlekseyTs This issue was still present for me in the listed version 15.2.
I am seeing this fixed now that I am using the following version:

[code]

Looks good in 15.3.5. Thanks!

[2017-09-22 01:51] OmarTawfik commented on #19216
@jcouv about this part:

```ref readonly string M(ref readonly string s = "hello") { return ref s; }.```
Same with value type. (gives a unsafe-to-escape diagnostic)

The current design doesn't prohibit such scenario. Can you explain?

[2017-09-22 02:16] jcouv commented on #22267
At this point `readonly ref` isn't used. Until it does, a fix makes sense.

[2017-09-22 03:05] jcouv commented on #411
The command-line options are now documented:
- [csc.exe command-line options](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/)
- [vbc.exe command-line options](https://docs.microsoft.com/en-us/dotnet/visual-basic/reference/command-line-compiler/)

[2017-09-22 03:11] jcouv commented on #21500
FYI @cston

[2017-09-22 03:34] jcouv commented on #20255
Is this still planned for 15.5?

[2017-09-22 04:04] justinvp commented on #12810
Should this be closed now that the JIT optimizes `Enum.HasFlag`?

https://github.com/dotnet/coreclr/issues/5626
https://github.com/dotnet/coreclr/pull/13748

[2017-09-22 09:39] ashmind opened #22289 "ArgumentOutOfRangeException in CompletionService.GetCompletionsAsync"
**Version Used**:
2.3.2

**Steps to Reproduce**:
Unfortunately I don't know how to isolate this. This is something I see in logs of my Roslyn-based project, and I wasn't able to reproduce it locally (however I consistently see it in logs).

I hope you might be able to guess something from the stack trace, or suggest a way to get more information about this.

Stack trace (cleaned up from Applicatio

[2017-09-22 11:49] liushuanggang opened #22290 "Get warning after update all dependencies for package Microsoft.CodeAnalysis on Visual Studio 2017"
**Version Used**:
Visual Studio version 2017 15.3.5  &  Package Microsoft.CodeAnalysis version 2.3.2
**Steps to Reproduce**:

1. Create a new Windows Forms project (Target framework .net 4.6.1).
2. Install the package Microsoft.CodeAnalysis version 2.3.2.
3. After installation complete, switch to Updates tab on NuGet Package Manager UI, then select all packages that need to be upgraded.  (Select a

[2017-09-22 11:58] sharwell commented on #9209
This is already implemented:

https://github.com/dotnet/roslyn/blob/0846ba67968d5bec15f5119b99849497ff987f49/src/Compilers/Core/Portable/Compilation/Compilation.cs#L1644-L1646

* Use **X86** platform to get a binary that runs as a 32-bit image and is not large address aware
* Use **Any CPU**+**Prefer32Bit** to get a binary that runs as a 32-bit image and is large address aware

[2017-09-22 13:16] gafter commented on #19741
The design of the trees is such that every node is part of some tree. We create a tree lazily if we do not have any hint where to get options from.

Having said that, this is a bug. We have tree options that we should be preserving into the new tree in this case.

[2017-09-22 14:28] AArnott commented on #9209
Thanks, @sharwell. That's a very simple workaround.

How does it work when you're compiling for .NET Native though, where one *must* choose a CPU architecture rather than "any cpu"?

[2017-09-22 15:03] tannergooding commented on #9209
I agree, there should be a way to explicitly set these PE header flags as part of the compilation.

[2017-09-22 15:05] sharwell commented on #9209
@AArnott never used .NET Native. Sounds like a bug should be filed there to work with Any CPU outputs.

[2017-09-22 15:16] tannergooding commented on #9209
@sharwell, it also seems like a bug that you cannot set LAA for explicit x86, but it magically gets set for AnyCPU/Prefer32Bit.

There are native libraries you could potentially be interoping with that are not LAA, and will fail with that assumption.

There are also cases where you are explicitly targeting x86 because AnyCPU is invalid (explicit x86 prevents the binary from being loaded in a 64-bi

[2017-09-22 15:20] AArnott commented on #9209
I'm not sure if .NET Native has a bug or not. I was just wondering about that scenario.

+1 to @tannergooding's points. We compile with x86 sometimes because we know we'll be loading x86 native binaries, so x64 is *not* an option. The compiler/build knows this and will actually emit warnings if we reference x86 assemblies while targeting AnyCPU ourselves. So yes, there should be a way to require x

[2017-09-22 15:57] #21485 closed

[2017-09-22 16:08] jcouv opened #22292 "CLI: namespace error on fresh VB project"
Repro:

1. `mkdir 22227-cli-vb`
2. `cd 22227-cli-vb`
3. `dotnet new console --language=vb`
4. `dotnet build` produces the namespace error below

[code]

[code]

Relates to https://github.com/dotnet/roslyn/issues/22227

[2017-09-22 16:14] jcouv commented on #22227
From discussion with Jared, adding the package should not be needed.

When I repro without the `Microsoft.VisualBasic` package, I see that the `.nuget\packages\microsoft.netcore.app\2.0.0\ref\netcoreapp2.0\Microsoft.VisualBasic.dll` assembly is properly referenced and as far as I can tell it contains the required API.
I'll debug the compiler to see why that API was rejected.

[2017-09-22 17:18] dimaaan opened #22293 "'GenerateTypeCodeFixProvider' encountered an error and has been disabled"
**Version Used**:
Visual Studio Community 2017 v15.3.5

**Steps to Reproduce**:

1. File -> New -> Windows Classic Desktop Console App (.NET Framework) targeting .NET Framework 3.0
2. In Program.cs paste:
[code]
3. Over `new Task(Display)` choose 'Show potential fixes'

**Expected Behavior**:
'Show potential fixes' should suggest me to update to .NET Framework 4+ to use Task or didn't appears at a

[2017-09-22 17:44] rchande commented on #22167
The issue is that an Extract method variable style Key has 7 bits (128) possibilities but the matrix of styles that we create only has 69 values...

[2017-09-22 17:47] rchande commented on #22167
@dpoeschl At this point it's not possible to figure out what entry we missed--I'm going to close this.

[2017-09-22 17:47] #22167 closed

[2017-09-22 17:49] dpoeschl commented on #9382
@Pilchie @jasonmalinowski Can you help me understand why this is an IDE bug?

[2017-09-22 17:58] jasonmalinowski commented on #9382
@dpoeschl I don't think it's an IDE bug, @Pilchie just wanted me to route. Could be a test team bug or project system bug...not sure.

[2017-09-22 17:59] dpoeschl commented on #9382
@davkean Can you help us route this issue? See Jason's comment above. Thanks!

[2017-09-22 18:10] dpoeschl opened #22294 "Provide option to disable declaration completion name suggestions"
Feedback issues:
https://developercommunity.visualstudio.com/content/problem/115612/need-opt-out-setting-for-new-suggest-variable-name.html
https://developercommunity.visualstudio.com/content/problem/92721/please-provide-an-option-to-disable-the-new-intell.html

[2017-09-22 18:30] sharwell commented on #22294
@dpoeschl We should reach out to these users and gather feedback regarding how our suggestions are currently differing from what they want, which we can aggregate into a proposal for a feature that better meets the needs of a wider and varying audience.

[2017-09-22 18:35] 0ndrej commented on #9382
You set some option in IDE, you set breakpoint in IDE, no breakpoint is hit in IDE. What category of bug is this? If you need more info I will do whatever is needed to fix that.

[2017-09-22 18:54] OmarTawfik commented on #22130
Appears to be. Filed #22206

[2017-09-22 19:06] OmarTawfik commented on #17285
Replaced by test plan #19216 and covered by #22284

[2017-09-22 19:06] #17285 closed

[2017-09-22 19:24] Mitch-Connor commented on #22294
@sharwell My problem with the suggestions had to do with their interaction with snippets (as did several other commenters from what I saw). Specifically when using a multi-part snippet, the normal method of jumping to the next replacement parameter is pressing TAB, which with name suggestions (or intellisense in general) is taken as confirmation that the suggestion is desired. This effectively mea

[2017-09-22 19:42] rchande commented on #22294
@Mitch-Connor We are currently working on a change that disables name completion while snippets are active, which should address (1) for you. Apart from interfering with navigation between snippet fields, is name completion causing any specific problems for you?

[2017-09-22 19:44] bennbenson commented on #22294
@sharwell For me, it interrupts my typing most when I use tab to skip past the closing parenthesis using automatic brace completion.  The problem is simply that it inserts the **outlined**-but-not-selected item when pressing tab.  I believe that's the same reason that snippets are no longer behaving as expected.

Ideally, I'd never see the suggestion list again.  It's just noise to me.  I type fas

[2017-09-22 19:45] bennbenson commented on #22294
@rchande Please consider my suggestion so people can still use the feature when snippets are active *if they want*.

[2017-09-22 19:59] rchande commented on #22294
@bennbenson Thanks for pointing out that interaction between completion and automatic brace completion. I didn't realize that pressing tab to advance past the close brace was a feature. I assume you're hitting that while typing a parameter list? Name completion is already set to deliberately only insert text on tab, but clearly that doesn't help with the case you mentioned.o

[2017-09-22 20:17] jasonmalinowski commented on #22259
@khyperia If we were spaces-in-paths clean we could easily have our CI system start checking out the stuff to validate in a path with spaces. Won't break then!

[2017-09-22 20:17] jasonmalinowski commented on #22259
But yeah, even though we have problems @benknoble PRs are definitely accepted to make things better.

[2017-09-22 20:20] jcouv commented on #22227
Looking at the command-line options to `vbc.exe`, there is not only a reference to `.nuget\packages\microsoft.netcore.app\2.0.0\ref\netcoreapp2.0\Microsoft.VisualBasic.dll`, there is also a `/vbruntime*` flag.
That indicates that the VB core runtime will be used (so supporting types for operations that require late binding, like object loop, are not included).

When I run the same command without

[2017-09-22 20:24] am11 commented on #22292
Does vb.exe by design considers the directory name to be the root namespace unless we explicitly add normalized name in `<RootNamespace>_22227_cli_vb</RootNamespace>` in vbproj?

csc doesn't seem to rely on dirname, even when there is no namespace in the program, actual dirname has invalid (hyphen) character and `<RootNamespace>` is set to `22227-cli-vb` (with same invalid chars) in csproj.

If it

[2017-09-22 20:25] AnthonyDGreen commented on #6941
Ran into this bug while Bing-ing something else, but...

The previous behavior was a bug. The early-bound behavior of CByte and all numeric conversions is governed by the integer overflow checking flag (as it should be). It is an explicit design principle that moving between late-bound and early-bound shouldn't (generally) change behavior or semantics. It was always a bug that the run-time convers

[2017-09-22 20:27] bennbenson commented on #22294
@rchande Yes.  It only works if the cursor is right next to the tracked parenthesis but that's usually the case for me, having just typed the name of the last parameter.

Again, the first item is not selected, just outlined (like the focus rectangle in GDI-based controls), so I would expect that tab would not insert the item, but it does.  That's the core of my frustration.  If I press an arrow ke

[2017-09-22 20:33] jcouv commented on #8537
Ran into this when fixing another bug recently. The test below fails on Linux.

From discussion with Andy, it is not obvious that `NormalizeWhitespace` should just the line terminator from environment/OS.
Most likely we'd want some kind of heuristic that looks at the line terminators in the rest of the file (in the case of a refactoring).

[code]

[2017-09-22 20:39] VSadov commented on #22132
It is not officially confirmed, but otherwise nearly decided to allow this kind of overloading, even when it is not callable (if common, we can introduce disambiguating syntax at call site in the future).

[2017-09-22 20:42] VSadov commented on #22282
Should not allow it. In the past we did not allow operators that we could not declare.

[2017-09-22 20:44] jcouv commented on #22292
It looks like the problem is not with `vbc.exe`, but with the arguments it receives. If the `vbproj` file is named A, then there is a `/rootnamespace:A` command-line option.

I'll move the issue to the CLI repo.

[2017-09-22 20:45] jcouv commented on #22292
Issue moved to [dotnet/cli #7704](https://github.com/dotnet/cli/issues/7704) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-22 20:45] #22292 closed

[2017-09-22 20:49] AnthonyDGreen commented on #22227
@Imisnew2,

Thanks for reporting this. It looks like a consequence of the decision to support only the embedded VB runtime (the most portable VB runtime) for v1 of .NET Core support. The version of the VB runtime that is included in the .NET Framework is monolithic and has a lot of dependencies on the full framework and Windows. We're investigating now how to refactor the desktop VB runtime in suc

[2017-09-22 21:12] CyrusNajmabadi commented on #8537
An important part of NormalizeWhitespace (to me) is that it's 100% consistent.  It should not have any behavior that varies per platform.  If we want, we can configure it's behavior based on arguments passed to it.  For example, it can have a default newline, but we could also allow the caller to pass in the newline to use.

[2017-09-22 21:13] CyrusNajmabadi commented on #8537
Why?  Nothing about that test is OS specific.  On any OS the file contents should be exactly the same (i.e. we should not be translating source file line endings) and so the behavior and results should be consistent no matter which OS we're on.

[2017-09-22 21:25] heejaechang opened #22297 "IArgument doesn't expose info on out or ref"
see this comment (https://github.com/dotnet/roslyn/pull/22296#pullrequestreview-64701100)

and see IArgument (http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/IArgument.cs,496d7934dca044dd)

basically, user needs to get that info from either IParameter (callsite) or Syntax (caller) to see whether ref or out is used.

[2017-09-22 21:27] benknoble commented on #22259
Hopefully I'll put something together over the weekend and get it out to y'all to review

[2017-09-22 21:29] heejaechang opened #22298 "put better syntax node for implicitly created param array"
see this comment (https://github.com/dotnet/roslyn/pull/22296#discussion_r140598569)

basically, binder created implicit array for params parameters. and we put whole expression as syntax node for the synthesized array.

not sure whether that is best node to assign for the synthesized array.

[2017-09-22 21:30] mavasani opened #22299 "GetOperation returns null for CatchFilterClauseSyntax and FinallyClauseSyntax"
See unit tests `TryCatch_GetOperationForCatchFilterClause` and `TryCatch_GetOperationForFinallyClause` added in https://github.com/dotnet/roslyn/pull/22210

It seems the operation tree has nodes mapping to the underlying expression of the CatchFilterClauseSyntax  and block of the FinallyClauseSyntax, but I would except these two syntax nodes also to map the underlying catch filter expression and f

[2017-09-22 21:36] agocke opened #22300 "Should you be able to take readonly refs to literals?"
For instance, `ref readonly int x = ref 42;`. This is currently prohibited. Should it be?

[2017-09-22 21:37] mavasani opened #22301 "API to expose locals declared in catch block"
We need to expose this API. See test `TryCatch_CatchFilterWithLocalDeclaration` in the PR here: https://github.com/dotnet/roslyn/pull/22210/files#diff-86f74ac187f645e9c3f76409a6fac779R512.

We can either expose Locals off ICatchClause or define a new ICatchClauseFilter node with Locals and underlying filter expression.

[2017-09-22 21:40] gafter commented on #6941
@jaredpar I suspect this was closed in error. The previous (broken) behavior was not either documented or fixed. We should do one or the other before this issue is closed. Please correct me if I misunderstand the status.

[2017-09-22 22:16] jcouv commented on #8537
I didn't repro locally yet, but my guess is that when you build the test source on Linux, the multi-string literal ends up with Linux-style line terminators. Since `NormalizeWhitespace` outputs Windows-style terminators, the assert fails.

[code]

[2017-09-22 22:19] mavasani commented on #22299
This also seems to be true in VB for identifier name in catch declaration. See test `Microsoft.CodeAnalysis.VisualBasic.UnitTests.Semantics.IOperationTests.TryCatch_GetOperationForCatchExceptionDeclaration` added in #22210

[2017-09-22 22:31] CyrusNajmabadi commented on #8537
=-o

That indicates that our source is getting translated when unpacked on linux.  That seems bad :)

[2017-09-22 22:31] Mitch-Connor commented on #22294
@rchande Nope, snippet fields are the only place where I personally have encountered an issue with them, but like you I had no idea about the feature @bennbenson mentioned. I'd also agree that I have no problem with the name suggestion popup showing up in snippets, it should just require explicit selection before tab inserts them.

[2017-09-22 22:32] CyrusNajmabadi commented on #8537
If our source is going to be different on different platforms, our test validation code should probably be updated to account for it (i.e. doing it's own platform specific normalization).

[2017-09-22 22:32] CyrusNajmabadi commented on #8537
In other words, we shoudl not be changing product code to deal with the fact that our test files are actually different on different platforms.  If that's how we want to do things, our test code itself should handle the fallout.

[2017-09-22 22:37] sharwell commented on #22294
My entire team did not know this existed. 😆

@Mitch-Connor @bennbenson Thank you both for taking time to explain everything. We were already on the same page for providing an option, but hopefully we can use the additional details to craft an experience that's *even better*.

[2017-09-22 23:07] tannergooding commented on #8537
By default, files are converted to and commited as \n in Git.
Git for Windows will, by default, automatically convert those back to \r\n on checkout.
Linux, by default, will checkout "as-is" (this is generally the \n form that it is automatically converted to on checkin).

https://help.github.com/articles/dealing-with-line-endings/ goes over this briefly, but there are tons of other blog posts/art

[2017-09-22 23:17] CyrusNajmabadi commented on #8537
We can trivially configure out git repository to not do that.  That would be desirable here as this is test input code.  i.e. we are testing how our own APIs deal with certain inputs.  If those inputs change on different platforms, then our tests are changing what they're actually testing.

If we think this is desirable, then our test infrastructure itself should be resilient to this.  i.e. be con

[2017-09-23 00:11] sharwell opened #22302 "SqlConnection.Finalize can cause crashes"
**Version Used**: Builds as new as 15.0.26730.15

:link: Internal issue: [DevDiv 490079](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/490079)

**Steps to Reproduce**:

Unknown

**Expected Behavior**:

`SqlConnection` instances are not finalized.

**Actual Behavior**:

`SqlConnection.Finalize()` is getting called on an unknown code path, resulting in a crash.

:memo: This was supposed to

[2017-09-23 00:37] #21231 closed

[2017-09-23 01:46] vlavrnic commented on #22290
After repeating steps from answer to Stackoverflow [question](https://stackoverflow.com/questions/46349993/visual-studio-2017-communnity-incorrectly-updates-roslyn-scripting) I may confirm that if we update these two packages first and than the rest, there is no yellow triangles in reference list. However, after cleaning and rebuilding solution a number of warnings appears (see attached text file)

[2017-09-23 02:14] jcouv commented on #21484
@TonyValenti Thanks for the details. I was able to repro.

[2017-09-23 03:04] vlavrnic commented on #22290
Here (see attached file)
[Github - 22290 - Error 01.txt](https://github.com/dotnet/roslyn/files/1326245/Github.-.22290.-.Error.01.txt)
is possible example of impact of removing _assemblyBinding._ This occurs during script execution with application produced with VS 2017. Same application produced with VS 2015 works correctly.

[2017-09-23 03:39] vlavrnic commented on #22290
After testing with more complex solution built with VS 2017 that is using scripting I did not have any problems. However, we should have in mind that this is basic testing only.

[2017-09-23 04:17] WilhelmZapiain commented on #21941
I am still seeing it and just upgraded Visual Studio.

Using 15.3.5
Steps to reproduce:

1.  Create new Console App C#
2. Go to Project Properties/Build/Advanced and change Language version to `C# latest minor version (latest)`
3. Typing the following code shows up IDE0034

[code]

[2017-09-23 09:28] yaakov-h commented on #21488
@jcouv unfortunately I haven't been able to re-repro either, even on the same machine.

It could have been an intermittent or environmental bug, but I have absolutely no idea what could have caused that so reliably in the 10 minutes it took me to put this bug report together, and then not at all since.

I blame cosmic rays.

[2017-09-23 13:39] SharePointRadi commented on #8237
An issue for me too, intellisense doesn't work for .Include(p => p.AccessIdentifiers).ThenInclude(p=>p.**Identity**)

Looking forward to a fix as it lost me quite some time.

[2017-09-23 14:10] 4creators opened #22304 "When merge window for v15.5 will close? (const parameters)"
Couple of weeks ago decision has been taken to implement [Intel hardware intrinsics](). This feature spans several repos and during design review [@jaredpar indicated](https://github.com/dotnet/apireviews/blob/master/2017/08-15-Intel%20Intrinsics/README.md#c-language-feature-requiring-parameters-to-be-literals) that there is a possibility to provide compiler support for enforcing passing compile t

[2017-09-23 14:16] matkoch commented on #19978
@matkoch

[2017-09-23 14:44] jcouv commented on #21488
@yaakov-h Are you still on the same version? Chances are this was fixed by an update.
I'll go ahead and close the issue. Feel free to reopen if you run into this again. Thanks

[2017-09-23 14:44] #21488 closed

[2017-09-23 14:59] LYP951018 commented on #17666
What's the status of this?

[2017-09-23 17:46] VSadov opened #22305 "Ensure that all statements that indirectly imply assignments of values are supported in escape analysis"
Ensure that all statements that imply assignments of values (like foreach loop implies assignment to an iteration variable) are doing escape analysis.

We may not have many. Foreach could be the only one that can ever see ref-like values due to other restrictions.

However we should make sure nothing is missing.

[2017-09-23 18:22] benaadams commented on #20127
For ref reassignment will this work with non ref structs; e.g. array elements

Pattern I've wanted to express (poor pseudo code):

[code]

You can do the general reassignment in the loop body (by the ref being local to loop); however then you need to pass the int indexer out and do a second array lookup to work with it; when you have already found the `ref` in the loop.

[2017-09-23 19:49] gafter commented on #20127
@benaadams Yes, once we add support for ref reassignment that would work. But we are not adding ref reassignment in 7.2.

[2017-09-23 20:06] gafter commented on #20127
I've added a championed proposal for ref reassignment. https://github.com/dotnet/csharplang/issues/933

[2017-09-24 03:11] VSadov opened #22306 "Allow taking an unmanaged pointer off readonly lvalues"
Historically we require that lvalue is writable before allowing taking a pointer.

That does not make a lot of sense. While there are ways to "cast away" readonliness, why is that even required before "casting away" most of the type system safeguards?

I think it is just an artifact of old implementation strategy that internally combined "lvalue" and "writeable".
Now that these concepts are proper

[2017-09-24 05:29] sharwell commented on #22304
Is there a reason this cannot be implemented as an analyzer? It seems the current analyzer APIs would allow an implementation without even waiting for 15.5.

[2017-09-24 14:10] davidbuckleyni opened #22308 "Visual Studio 2017 (26430.16) Release T4 Scaffolding crashing on model"
**Version Used**:

**Steps to Reproduce**:

1. Weird issue when trying to compile the following model

`
    public class basketheader

    {
        [Key]
        public int id { get; set; }

        public int orderId { get; set; }

        public string title { get; set; }

        public string description { get; set; }

        public string emailBasket { get; set; }

        public decimal b

[2017-09-24 14:11] bcreswell commented on #22294
I think its great that more features around style suggestions and naming suggestions are being added. I know there are plenty of users that appreciate them. Also am completely ok with fact that they get turned on by default.

But personally i find it annoying when it is suggesting i do something one way or another. Most of these features i have found settings to turn them off (after extensive goog

[2017-09-24 14:13] davidbuckleyni commented on #22308
![applicationframehost_2017-09-24_15-13-20](https://user-images.githubusercontent.com/5619229/30783450-ef9e6470-a13a-11e7-925d-ff27402210ef.png)
Dialog showing cant modify or update

[2017-09-24 14:19] davidbuckleyni commented on #22308
Also get this when i donwloaded the exe
![image](https://user-images.githubusercontent.com/5619229/30783493-b89edeae-a13b-11e7-92dc-bb3919e96c9b.png)

[2017-09-24 14:19] davidbuckleyni commented on #22308
[dd_client_20170924151736.log](https://github.com/dotnet/roslyn/files/1327374/dd_client_20170924151736.log)

Log file

[2017-09-24 14:38] Ronmenator commented on #17920
The important thing to note is that it is not random processes, but following the path of dependencies. By trying to stop the process that holds the previous, you find the one that would allow the source process to be removed. In this case, the ServiceHub.RoslynCodeAnalysisService32 code was being blocked by windows itself.

I wish I could say that it was a once off, but unfortunately, this happen

[2017-09-24 16:41] AArnott commented on #17920
It may be unique to this process, and you may be right that this process does something it shouldn't. But IMO it is the Windows kernel's job to guard against unruly processes, and a non-elevated shouldn't be allowed to prevent Windows from rebooting.

[2017-09-24 19:32] fdradmin commented on #21324
Hi - same issue here...when debugging an if(false) statement followed immediately by a local function declaration, the debugger appears to step into the if(false) statement's body.  The code isn't executed, but even seeing the debugger step into the statement body is alarming and resulted in some wasted time before I realized what was going on.  I've created a simple repro, along with a 30 second

[2017-09-24 21:11] jcouv commented on #22304
@4creators For the compiler, we're focused on fixing bugs and polishing 15.5 features. So, no, we will not accept or work on a new feature at this stage in 15.5.
The next window is C# 7.3, which should be Visual Studio 2017 version 15.8 (subject to changes).

I see that you wrote up a language feature proposal (thanks!). I don't recall this being discussed in LDM. I'm tagging this issue for LDM di

[2017-09-24 21:18] jcouv commented on #21324
Thanks for the details. I'll investigate in the coming week.
It does look like a sequence point issue (code executes fine, but debugger makes it seem like some un-executed code was reached).
May relate to https://github.com/dotnet/roslyn/issues/17076 (another sequence point issue with `if` statements, that I've not yet been able to isolate)

[2017-09-24 21:34] AlexeiScherbakov commented on #19978
I have same problem with latest NuGet packages:
Microsoft.Build - 15.3.409
Microsoft.Build.Tasks.Core - 15.3.409
Microsoft.CodeAnalysis - 2.3.2

MsBuildWorkspace diagnostic message:
Msbuild failed when processing the file '*.csproj' with message: Не удалось загрузить файл или сборку "System.Threading.Tasks.Dataflow, Version=4.5.24.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" либо одну из и

[2017-09-25 09:09] benjamin-hodgson opened #22312 "Delegates aren't cached for lambda expressions inside recursive local functions"
**Version Used**: C# 7.1 (.NET Core SDK v2.0.0

**Steps to Reproduce**:

Given the following tree type:

[code]

Here's an extension method to rebuild a tree with different items:

[code]

I'm using a recursive local function `Go` to minimise stack usage and avoid repeating the null checks as I iterate through the tree.

**Expected Behavior**:

The generated IL for `Go` should cache the `child =>

[2017-09-25 10:41] sharwell commented on #21941
@WilhelmZapiain Thank you, that was sufficient for me to reproduce the issue in both 15.3.4 and 15.4 Preview 2.

[2017-09-25 11:19] akash3456 opened #22313 "On projects which use .net 4.6 with the roslyn compiler"
Is there a specific setting that is needed when compiling .net 4.6 projects when deploying them as an msi.

it seems by default the roslyn folder is missing when deployment has begun. across both web and console. ?

[2017-09-25 13:02] copa017 commented on #22266
Here it crashes too on
[code]
(both variables are simple 'int')

[2017-09-25 14:50] mavasani opened #22315 "Array type defaults to int[] for invalid implicitly typed array creation"
See C# semantic unit test `ArrayCreationWithInitializerErrorCase_ImplicitlyTypedWithoutInitializer` and comment: https://github.com/dotnet/roslyn/pull/18154#discussion_r140616960

[2017-09-25 15:06] #22007 closed

[2017-09-25 15:16] benknoble commented on #22259
Do we have test coverage for a change covering something like this? It's possible I've been overzealous and quoted something that shouldn't have been quoted, and would like to know if I'm breaking something.

[2017-09-25 15:16] Pilchie commented on #22294
Doh! @DustinCampbell and I knew this exsited, and @balajikris too...

[2017-09-25 15:24] benknoble commented on #22259
Currently I'm now having this problem
[code]

Since the `pwd = /Volumes/G-DRIVE ev RaW SSD/Home/roslyn`, something in the download/installer now fails with spaces and tries to create `/Volumes/G-Drive/...` which doesn't make sense.

[2017-09-25 15:39] dpoeschl commented on #22289
@ashmind Thanks for the report. What's the actual behavioral effect this is having on your project? Is something crashing? Is completion just not returning the right thing?

[2017-09-25 15:40] dpoeschl commented on #22308
@davidbuckleyni Thanks for the report! I don't believe this is Roslyn-related. Can you please file your feedback through the "Report a Problem" mechanism in VS so it can get routed to the correct place internally? Thanks!

[2017-09-25 15:40] #22308 closed

[2017-09-25 15:43] khyperia commented on #22259
We have no validation that the build works on a path with spaces, but we do have validation that the build works in a path without spaces :) - so if CI passes, you likely didn't break anything.

Unfortunately, that script is not owned by Roslyn. I believe the script referenced by `https://dot.net/v1/dotnet-install.sh` is [this script](https://github.com/dotnet/cli/blob/master/scripts/obtain/dotnet

[2017-09-25 15:45] dpoeschl commented on #22280
I'm not sure if this is a bug or a feature request. I feel like having it work cross-project at all might be iffy, because maybe not all projects have/want the same header.

[2017-09-25 15:46] rchande commented on #22278
Great find, @mattscheffer

[2017-09-25 15:58] dpoeschl commented on #22262
Hi @jnm2, this sounds like a VS problem, not a Roslyn problem. Do you think Roslyn is getting involved in this somehow? If not, please use the Report a Problem mechanism in VS (upper right corner) so we can get this routed to the correct team. Thanks! Optimistically closing this one, but let me know if you'd like it reopened.

[2017-09-25 15:58] #22262 closed

[2017-09-25 15:59] dpoeschl commented on #22313
Not sure where to route this. Giving to the compilers team as a first step.

[2017-09-25 16:02] dpoeschl commented on #22168
Does it work if you do `.WithAdditionalAnnotations(Formatter.Annotation)` on the node you want formatted?

[2017-09-25 16:02] mavasani commented on #14592
Another failure: https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_unit64_prtest/9748/testReport/junit/Microsoft.CodeAnalysis.Editor.UnitTests.Workspaces/ProjectCacheHostServiceFactoryTests/TestImplicitCacheMonitoring/

[2017-09-25 16:04] dpoeschl commented on #22280
@kuhlenh What do you think the behavior should be here?

[2017-09-25 16:06] dpoeschl commented on #21799
@jasonmalinowski Any idea what might be going on here?

[2017-09-25 16:08] JohanLarsson commented on #22168
Does the repro code not compile? Sorry about that if so.
For the question: I had `.WithAdditionalAnnotations(Formatter.Annotation)` but could not get the formatted output.

[2017-09-25 16:10] kingces95 commented on #22183
@heejaechang I tried to delete the directories listed in https://github.com/dotnet/roslyn/issues/22091 but that issue still reproduces. Is there any chance you could roll a script that nukes all the roslyn directories and registry keys? That way contributors would know whether it's a corrupt install or due to some other environmental issue on their machine...

[2017-09-25 16:14] kuhlenh commented on #22051
Looks like it might be a dupe of this one: https://github.com/dotnet/roslyn/issues/20977

[2017-09-25 16:17] dpoeschl commented on #22168
Ahh, okay. You're formatting an entire document, so just get rid of the `Formatter.Annotation` argument to `Formatter.FormatAsync` -- that is, `var formatted = await Formatter.FormatAsync(simplifiedDoc, cancellationToken: cancellationToken).ConfigureAwait(false);` -- Does that work for you?

[2017-09-25 16:21] sharwell commented on #22280
:memo: This feature only looks at files in the same directory as the file you are adding the header to.

[2017-09-25 16:34] jsschultz opened #22316 "Function breakpoints not resolved on module load when no symbols loaded"
**Version Used**:
2.06.0.62031

**Steps to Reproduce**:

1. Create new Console App and add Console.WriteLine("Hello World");
2. Create function breakpoint "WriteLine"
3. F5

**Expected Behavior**:
Function breakpoint binds and hits.

**Actual Behavior**:
Function breakpoint does not bind. This behavior makes it impossible to debug modules when loaded and symbols are not available (or not desired t

[2017-09-25 16:42] jsschultz commented on #22316
Looks like this undesirable behavior was introduced in PR [15269](https://github.com/dotnet/roslyn/pull/15269).

I debugged [FunctionResolver.cs ](https://github.com/dotnet/roslyn/pull/15269/files#diff-fc4049f42c40d65252eec78ca824eab0) and, under the debugger, forced execution past the check for symbols loaded ([Line 79](https://github.com/cston/roslyn/blob/e141cb3b270ae28041ae8d6dad70f3ef498b28ba

[2017-09-25 16:47] cston opened #22317 "Assert failure in ConversionsBase.IsValidExtensionMethodThisArgConversion()"
Compile with `DEBUG` build of `csc.exe`:
[code]

[2017-09-25 16:53] jasonmalinowski commented on #21799
@dpoeschl It looks like that message might be thrown by the .NET configuration API if it can't figure out which executable it should be reading the app.config for. But who is reading it now that wasn't before I'd have to dig.

[2017-09-25 17:22] wli3 commented on #22051
@kuhlenh it is on different level. This issue if for push variable to method parameter, and #20977 is for push field to constructor. Underlying implementation might be the same but is it different from user point of view

[2017-09-25 17:36] 4creators commented on #22304
@jcouv @sharwell  Thanks for information. It makes me less worry about time frame for implementing any of the chosen solution for the const feature as C# 7.3 as I understand is at least a couple months away.

[2017-09-25 17:39] #21723 closed

[2017-09-25 17:42] mhlavacek commented on #22294
As one of the users to responded to the issues linked above, I wanted to throw my feedback in here as well.

I agree that the naming suggestions should be something a user can turn on or off.  I can't think of a time I would ever want my IDE to suggest a variable name for me because the name that I choose will have cohesion to whatever class or method I am declaring it in.

More often or not, when

[2017-09-25 18:08] dpoeschl commented on #3225
Another example: https://developercommunity.visualstudio.com/content/problem/118919/find-all-references-misses-some-references.html

[2017-09-25 18:28] jnm2 commented on #22262
@dpoeschl I thought it was an editorconfig thing at first, but you're right; it wouldn't be Roslyn. Thanks!

[2017-09-25 18:39] TyOverby opened #22319 "IOperation Rebaselining tool has been silently removing the BOM from test source files"
In Roslyn, our files start with the UTF8 BOM.  The IOperation Rebaselining tool has been silently removing it from the files that it touches.

See: https://github.com/dotnet/roslyn/pull/22263#discussion_r140848226

Since we don't know which files have had their BOM stripped, the effected files need to be found and fixed.

[2017-09-25 18:39] TyOverby commented on #22319
CC @mavasani @khyperia @dotnet/roslyn-compiler

[2017-09-25 18:41] mavasani commented on #22319
FYI - this is a test only issue. @333fred easy way to fix all test files which have any IOperation unit test?

[2017-09-25 19:13] sharwell commented on #22319
I used a script as described in #20541 to convert everything initially.

[2017-09-25 19:18] jcouv opened #22322 "Allow modifiers on types in any order (partial, ref, readonly)"
From LDM discussion today, this is something we could do after 7.2.

FYI @gafter @VSadov @OmarTawfik

[2017-09-25 19:19] jcouv commented on #19808
LDM answered "no".
@VSadov @OmarTawfik I'll close this issue, as this is the behavior that is implemented.

There is also a follow-up to allow modifiers in any order (https://github.com/dotnet/roslyn/issues/22322).

[2017-09-25 19:19] #19808 closed

[2017-09-25 19:20] jcouv commented on #19792
From LDM today, this is a design decision for the compiler to make.

[2017-09-25 19:21] jcouv commented on #22282
From LDM today, we should not allow it in metadata, since we won't support it in the language in 7.2. This needs to be done in such a way that it could be added later.

[2017-09-25 19:22] jcouv commented on #21973
From LDM today, the attribute provided by the user in source should win.

[2017-09-25 19:22] khyperia commented on #22319
https://github.com/khyperia/roslyn/commit/9fe9c17e7ed5704fa4535af0f804f93134d65b29

I can submit a PR with this if wanted.

Command was `find . -type f \( -name '*.cs' -o -name '*.vb' \) -print0 | xargs -0 sed -i '1s/^\(\xef\xbb\xbf\)\?/\xef\xbb\xbf/'`

[2017-09-25 19:25] zaytsev-victor commented on #21941
Can't reproduce on the latest master.
![img](https://i.gyazo.com/28129c26406f96b904e6ec18469ebdb8.png)

[2017-09-25 19:27] AdamSpeight2008 commented on #22315
Should it default to `Object[]`?

[2017-09-25 19:28] #22272 closed

[2017-09-25 19:29] dpoeschl commented on #22253
Smaller standalone repro:

[code]

[2017-09-25 19:33] sharwell commented on #21941
@zaytsev-victor Awesome 😆

@WilhelmZapiain Let's look at this again after 15.5 Preview 1 comes out. If it's fixed in master today then we can expect it will already be fixed for you starting with that preview.

[2017-09-25 19:34] sharwell commented on #21941
For now I'm marking this as **blocked** on the release of 15.5 Preview 1, unless someone feels like going through code to figure out exactly where it got fixed. 😁

[2017-09-25 19:40] JohanLarsson commented on #22168
Yes, removing the `Formatter.Annotation` made it format the document. Do you have a link to relevant docs for this?

[2017-09-25 19:56] dpoeschl opened #22324 "AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.IsStringConcat Null Reference Info Bar"
From: https://developercommunity.visualstudio.com/content/problem/117219/microsoftcodeanalysisconverttointerpolatedstringab.html

[code]

[2017-09-25 19:59] dpoeschl opened #22325 "IDE0016 Null check can be simplified, suggested fix changes order of operations"
From https://developercommunity.visualstudio.com/content/problem/118012/ide0016-null-check-can-be-simplified-suggested-fix.html

![image](https://user-images.githubusercontent.com/235241/30828103-581f6c18-a1f1-11e7-9114-498a0dd089ba.png)

The refactoring turns the top code into the bottom code, causing `DoSomething` to be called when it wouldn't have been called normally.

[2017-09-25 20:06] dpoeschl commented on #22325
Note also that you can disable this analyzer by changing the setting at Tools | Options | Text Editor | C# | Code Style | General | 'null' checking: | Prefer throw-expression. You can set the severity to "None" or change the Preference to "No."

[2017-09-25 20:12] jcouv opened #22326 "Ref assemblies: Output window should make it clear whether a project was compiled"
With minimal verbosity, the VS Output window shows a line like `10>CSharpCompilerSemanticTest -> ...\Roslyn.Compilers.CSharp.Semantic.UnitTests.dll` when a project is built.
This indicates that msbuild was invoked. But it is not apparent whether this was a full compile+deploy, as opposed to just a deploy.
This is misleading and lets users think that ref assemblies did not shorten the build process

[2017-09-25 20:24] DustinCampbell commented on #22168
I realize that you're looking for something a bit more, and that we could do much, much better with documentation. However, the XML doc comment does have some of this information:

[code]

Note the documentation for the `annotation` parameter above.

[2017-09-25 20:25] TyOverby opened #22327 "Remove StrongNameProviderTests.cs/VirtualizedStrongnameProvider"
With some changes, this can be changed to use the VirtualizedStrongNameFileSystem and a regular PortableStrongNameProvider instance.

[2017-09-25 20:27] dpoeschl commented on #22168
The code is working now, so I'm going to close this. If there's a specific problem with the documentation, let's file and track that separately. Thanks!

[2017-09-25 20:27] #22168 closed

[2017-09-25 20:27] dpoeschl opened #22328 "Indent Guides show up between using directives"
**Version Used**: 15.3

From: https://developercommunity.visualstudio.com/content/problem/116286/indent-guides-are-misplaced-on-using-directives.html

![image](https://user-images.githubusercontent.com/235241/30829163-f1eb2564-a1f4-11e7-8ed6-a0a25f55dbe9.png)

Notice the indent guide

[2017-09-25 20:30] dpoeschl commented on #22328
Seems incorrect to me.

[2017-09-25 20:48] DustinCampbell commented on #22260
@jamesqo: The editor features layer takes a dependency on the Visual Studio text buffer and editor APIs.

[2017-09-25 21:01] AlekseyTs opened #22329 "Unexpected type argument inference failure"
[code]

Expected:
Successful compilation and execution.

Observed:
[code]

The behavior at least goes back to the native compiler.

[2017-09-25 21:36] dpoeschl commented on #22294
See also: https://developercommunity.visualstudio.com/content/problem/116474/recent-intellisense-update-attempts-to-auto-comple.html

[2017-09-25 21:49] gafter commented on #11420
Moved to https://github.com/dotnet/csharplang/issues/93

[2017-09-25 21:49] #11420 closed

[2017-09-25 22:01] gafter commented on #22271
The alternative would be for the `ISymbol` API to return `Accessibility.NotApplicable`. I presume the API currently reports `Private`.

[2017-09-25 22:03] #22161 closed

[2017-09-25 22:05] gafter commented on #22095
The proposed warning could be perceived as a breaking change, and a user-unfriendly one at that.

[2017-09-25 22:08] gafter commented on #21766
The compiler doesn't have a concept of positions between characters. Its concept is positions on characters. In this case, the character is the close curly brace, which is not considered "within" the scope of the type. We might improve things by changing that.

[2017-09-25 22:15] gafter commented on #21432
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-09-25 22:16] gafter commented on #21432
Issue moved to [dotnet/csharplang #939](https://github.com/dotnet/csharplang/issues/939) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-25 22:16] #21432 closed

[2017-09-25 22:17] OmarTawfik commented on #22282
We should add tests to disallow using it as an operator (`a + b`) or directly by name (`op_Addition`).
Side test: are we able today to call IL ref returning operators by name from metadata?

[2017-09-25 22:18] gafter commented on #21323
The Roslyn compilers don't do anything special with inlining. This sounds like a JIT bug in the runtime.

[2017-09-25 22:39] #22319 closed

[2017-09-25 22:39] 333fred commented on #22319
Fixed by #22323. Thanks @khyperia!

[2017-09-25 23:02] gafter commented on #20724
The error type is reported in this situation because of the conflicting declaration of a variable of the same name in the speculative code and in the method it is speculated to be inside of. That is expected behavior.

[2017-09-25 23:03] gafter commented on #20724
It is possible we could relax that diagnostic, but I am afraid that might break other scenarios.

[2017-09-25 23:10] CyrusNajmabadi commented on #20724
An alternative is that instead of relaxing the diagnostic, we instead change the following:

Presumably this is happening because of some 'bad' bit floating upwards from the ```obj is Class1 @class```.  Perhaps, instead of having the bad bit float upwards, we can have the binder be more resilient here.  i.e. even though there is a duplicate error for @class, the binder can see that both locals are

[2017-09-25 23:11] gafter commented on #20724
Yes, that is possible.

[2017-09-25 23:12] CyrusNajmabadi commented on #20724
Cool :)

[2017-09-25 23:15] gafter opened #22331 "Compiler code is not updated when Syntax.xml or BoundNodes.xml are changed"
And there are no comments in those files giving instructions on what to do when you edit them.

(you have to run `build\scripts\generate-compiler-code.cmd`)

[2017-09-25 23:15] gafter commented on #22331
There do not appear to be corresponding scripts to permit building (from source) on Linux.

[2017-09-25 23:25] #17596 closed

[2017-09-25 23:26] #22265 closed

[2017-09-25 23:43] dpoeschl commented on #16395
Possible duplicate case: https://developercommunity.visualstudio.com/content/problem/115785/bracket-dotted-line-detects-wrong-scope-when-first.html

[2017-09-25 23:49] livarcocc opened #22332 "'dotnet build' produces no useful error messages"
_From @shinmai on August 30, 2017 10:19_

## Steps to reproduce
create a new project with `dotnet new console`
break project by making Program.cs unbuildable
execute `dotnet build`

## Expected  behavior
Useful error message referencing source file names and line numbers.

## Actual behavior
error message is basically "it didn't work"

[code]

## Environment data
`dotnet --info` output:

_Copied f

[2017-09-25 23:49] livarcocc commented on #22332
_From @omajid on August 30, 2017 13:20_

Can you elaborate on this? How exactly did you break it?

It looks like some specific cases lead to that in error. In other cases, I see fairly useful error messages. For example, if I remove one opening brace `{`, I see an error like:

    Microsoft (R) Build Engine version 15.3.409.57025 for .NET Core
    Copyright (C) Microsoft Corporation. All rights re

[2017-09-25 23:49] livarcocc commented on #22332
_From @shinmai on August 30, 2017 15:9_

No matter what kind of error I introduce, the only output I get is
`C:\Program Files\dotnet\sdk\2.0.0\Roslyn\Microsoft.CSharp.Core.targets(84,5): error MSB6006: "C:\Program Files\dotnet\sdk\2.0.0\Roslyn\RunCsc.cmd" exited with code 1. [C:\_prj\a2\a2.csproj]`

[2017-09-25 23:49] livarcocc commented on #22332
_From @svick on August 30, 2017 15:36_

What is the output of `dotnet build /v:n`?

[2017-09-25 23:49] livarcocc commented on #22332
_From @nguerrera on August 31, 2017 5:46_

@shinmai Can you also post the contents of Program.cs and a2.csproj?

[2017-09-25 23:49] livarcocc commented on #22332
_From @shinmai on August 31, 2017 8:33_

Not much more helpful, but [longer](https://pastebin.com/JGtGCvmV).

Oh, sure.

Program.cs:
[code]

a2.csproj (a1 is identical, I was just testing with two projects side by side):
[code]

Both are untouched from what `dotnet new console` generates, aside from the intentional error to try and coax an useful error message from `dotnet build`.

I should note,

[2017-09-25 23:49] livarcocc commented on #22332
_From @dasMulli on August 31, 2017 9:26_

Those errors won't log on `/v:n` but only on `/v:diag` AFAIK.

It does not repro on my machine though:
[code]

[2017-09-25 23:49] livarcocc commented on #22332
_From @nguerrera on August 31, 2017 12:57_

Please share the output of `dotnet build /v:diag`

[2017-09-25 23:49] livarcocc commented on #22332
_From @wli3 on September 13, 2017 19:53_

Hi @shinmai are you still seeing this problem?

[2017-09-25 23:49] livarcocc commented on #22332
_From @anavarro9731 on September 16, 2017 20:46_

I have the same issue. Works on my dev machine but fails on VSTS Build.
C:\Program Files\dotnet\sdk\2.0.0\Roslyn\Microsoft.CSharp.Core.targets(84,5): error MSB6006: "C:\Program Files\dotnet\sdk\2.0.0\Roslyn\RunCsc.cmd" exited with code -2146232797. [D:\a\1\s\XXXXXXX.csproj]
    0 Warning(s)
    1 Error(s)
Time Elapsed 00:00:43.52

[2017-09-25 23:49] livarcocc commented on #22332
_From @nguerrera on September 18, 2017 19:52_

Error code -2146232797 is 0x80131623 == COR_E_FAILFAST.

@anavarro9731 Are you able to bump the verbosity, e.g. `dotnet build /v:diag` in the VSTS build so that we can find the stack trace in order to get closer to the root cause.

[2017-09-25 23:49] livarcocc commented on #22332
_From @anavarro9731 on September 23, 2017 15:6_

@nguerrera I have tracked down the problem, it is related to the scoping of variables in one class. In particular how variables declared at method-level scope are accessed by local functions within that method. Changing the structure of the code to pass the method-level variable to the local functions via an argument rather than having them access t

[2017-09-25 23:49] livarcocc commented on #22332
@jaredpar it feels like we should move this issue to roslyn.

[2017-09-25 23:49] livarcocc commented on #22332
_From @anavarro9731 on September 23, 2017 18:3_

before we found the offending code we used the fix here:
https://developercommunity.visualstudio.com/content/problem/94629/error-msb6006-cscexe-exited-with-code-2146232797.html
which i suspect may be the same issue...

[2017-09-25 23:49] livarcocc commented on #22332
_From @svick on September 23, 2017 19:38_

@anavarro9731 That description makes it sound like https://github.com/dotnet/roslyn/issues/19033. But if you have a repro, it might still make sense to open an issue on Roslyn, to make sure it's indeed the same issue.

[2017-09-25 23:49] livarcocc commented on #22332
Moving this to Roslyn for now to see if it is indeed a duplicate. If this is something that needs to be addressed in the CLI, please re-activate.

[2017-09-26 00:01] AdamSpeight2008 commented on #22331
Could we also have a wiki page / documentation on the grammar used in them? So that if implementing new nodes, what is expected. As is is *(for me)* a bit of trial and error, suck it and see experimentation to get something to at least build and compile.

[2017-09-26 00:06] AnthonyDGreen opened #22333 "Sprint 123 Summary"
# C#/VB Compiler Team
@jaredpar | @MadsTorgersen | @AnthonyDGreen

**C# 7.2 features are done (15.5)**

* Ref readonly, readonly struct, ref extensions
* Stackalloc spans
* Non-trailing named arguments (also in VB)
* Private protected
* Refactoring on closure conversions

**C# 8.0 (work-in-progress)**

* Nullable reference types
* Default interface implementation

# F# Update
@KevinRansom | @carte

[2017-09-26 00:14] AnthonyDGreen opened #22334 "Sprint Summary Notifications"
Subscribe to this issue if you want to be notified as soon as a new [Sprint Summary](https://github.com/dotnet/roslyn/issues?q=is%3Aissue+is%3Aopen+label%3A%22Sprint+Summary%22) is posted. This issue provided as a courtesy to those who don't follow every new issue in the repo and just want the summaries.

[2017-09-26 00:16] AnthonyDGreen commented on #22334
[Sprint 123 Summary](https://github.com/dotnet/roslyn/issues/22333) posted.

[2017-09-26 02:26] dpoeschl commented on #18600
Looks like it's happening in 15.3.4

https://developercommunity.visualstudio.com/content/problem/113806/extractmethodcoderefactoringprovider-encountered-a-10.html

[2017-09-26 06:41] mungojam commented on #22095
That's true, but it seems like the runtime dangers make it worth fixing
somehow. I guess there are some valid times that you'd want to hide the
warning as a developer if you were referencing a meta package that just
brings in other packages.

Or is there another solution? How about when checking bindings when
building the top level application? I thought that it used to do that.

On Mon, 25 Sep 20

[2017-09-26 07:04] mungojam commented on #22095
Happy to help with the clarity aspect of the issue. It's a very real issue for us as we have a large number of internal packages that sometimes go 4 levels deep in the tree. I'm reluctant to migrate them to .net standard if it might lead to runtime exceptions creeping in later on if we refactor our 'Package B's in future.

We'd happily add an msbuild flag to make it strict about directly consuming

[2017-09-26 07:09] jcouv opened #22338 "Implement safe-to-escape rules for foreach and deconstructions"
Started on personal branch `value-escape`

[2017-09-26 07:22] abhijitparkhi1983 commented on #18142
@dpoeschl

We still have this issue with the said versions. Its not applicable for the latest version though.

[2017-09-26 08:16] onyxmaster opened #22339 "Frequent SQLite operations when loading analysis data lead to unnecessary amount of syscalls"
**Version Used**:
Released with VS2017 15.3.5, also custom-built from dev15.5.x

**Description**:

Consider a moderately large solution (our solution has ~160 projects, Roslyn one will do as an example).
I'm no expert in Roslyn internals, so this is more of a cargo cult performance research, but please bear with me.
Some time after solution is loaded, the `DiagnosticIncrementalAnalyzer` attempts t

[2017-09-26 09:15] Ahmed-Raouf commented on #20118
Try to Enabel .Net Framwork Source Stepping.
Debug => Options => General

[2017-09-26 11:05] ashmind commented on #22289
@dpoeschl  The exception is propagated out of `GetCompletionsAsync` -- I cut off my code from the stack trace, but it goes up to the top-level exception handler. Unfortunately the way Application Insights log it is a bit confusing, but my understanding is that user gets an error instead of completion (unless I handle it).

[2017-09-26 12:08] sharwell opened #22341 "Signature info should use named arguments for selection, but not filtering"
**Version Used**: 15.4 Preview 2

**Steps to Reproduce**:

Invoke signature info at the `$$` location in the following code:

[code]

**Expected Behavior**:

1. Signature info shows two overloads
2. The overload selected by default is `Api(string y)`

**Actual Behavior**:

Signature Info only shows one overload. This has a negative impact on API discoverability for users attempting to learn APIs v

[2017-09-26 12:14] sharwell opened #22342 "Suggested names not provided for tuple elements in generic type arguments"
**Version Used**: 15.4 Preview 2

**Steps to Reproduce**:

1. Type the following as a local variable declaration

[code]

**Expected Behavior**:

A suggested name is provided for `task` and `cancellationToken`.

**Actual Behavior**:

Suggested names are not provided.

:memo: Note that if you declare a local variable of a tuple type which is *not* a generic type argument, tuple names are provided.

[2017-09-26 12:24] sharwell opened #22343 "Incorrect completion when adding an argument to an async lambda"
**Version Used**: 15.4 Preview 2

**Steps to Reproduce**:

1. Start with the following local variable declaration:

[code]

1. After `object`, type `, CancellationToken` to add a second parameter to the delegate
2. Before `obj`, type `(`
3. After `obj`, type `, ct)`

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

:memo: `ctor` is added via a snippet expansion.

[2017-09-26 12:30] mungojam commented on #22095
I've been thinking about this some more. I think the change that has effectively happened is that the published API of PackB is no longer just the classes methods that it has, but also the packages that it depends on.

We currently stick rigidly to semantic versioning, which protects us from MissingMethodExceptions. If there is no change in the new world, we need to make sure we always updated the

[2017-09-26 15:07] Pilchie commented on #22339
Tagging @heejaechang and @sharwell

Also @CyrusNajmabadi if he wants to take a look at this and the PR.

[2017-09-26 17:03] danmosemsft opened #22344 "Avoid String.Format when interpolated strings are statically known"
**Version Used**:
2.0.2-vspre-006949

**Steps to Reproduce**:
using System;
public class C {
    public void M(string arg) {
       var knownStatically = "boz";
       Console.WriteLine($"{nameof(arg)} baz {knownStatically}");
    }
}
[live repro](
https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDZICYgNQA+AAgAwAERAjANwCwAUEQMwUBMZAwmQN4Nn8UWRACxkAsgAoq5CAgDmASh58BAgG6yyAawB2AewDuOgMowIMNAGMIGDAE8yAX

[2017-09-26 17:12] TyOverby opened #22345 "Microsoft.CodeAnalysis.Editor.UnitTests.Structure.CSharpOutliningTagger_RegionIsDefinition is flakey"
https://ci.dot.net/job/dotnet_roslyn/job/features_strongname/job/windows_release_unit64_prtest/71/console

[2017-09-26 17:25] tannergooding commented on #17732
This was updated manually for the time being.

Further investigation is required to ensure the tool is working properly as well.

[2017-09-26 17:40] #21297 closed

[2017-09-26 17:40] #22004 closed

[2017-09-26 17:44] jinujoseph commented on #8913
@333fred good to close this ?

[2017-09-26 18:04] dpoeschl commented on #22343
No builder when the lambda is async and the close parenthesis is missing.

[2017-09-26 18:12] dpoeschl commented on #22293
I was unable to reproduce this locally, but I might have missed something. @chborl, can you try it out?

[2017-09-26 18:14] dpoeschl commented on #22289
@rchande Any clues what might be going wrong here in the attribute completion code?

[2017-09-26 18:17] rchande commented on #22254
Works with lang version set to 7.1

[2017-09-26 18:17] #22254 closed

[2017-09-26 18:18] rchande opened #22347 "Tuple name simplification botches formatting"
With language version 7.1, use the "simplify tuple name" feature to simplify the "a" member below:
[code]
Note that the tuple is not reformatted afterwards leading to an extra space between the open paren and "a":
[code]

[2017-09-26 18:18] dpoeschl commented on #22060
@jasonmalinowski Any idea what's going wrong here?

[2017-09-26 18:19] dpoeschl commented on #22347
FYI @jcouv -- I thought formatting was working here? Do you have pending work here (/do you want to take it), or should the IDE team take this?

[2017-09-26 18:21] rchande commented on #22289
@ashmind From the inner exception you posted it looks like something's going wrong in your Workspace that's preventing incremental parsing from working. If you can provide one, a dump would be helpful in figuring out what's happening.

[2017-09-26 18:24] rchande commented on #22289
I don't think this is specific to Attribute name completion. Rather, it is the first provider that runs, and it starts by attempting to get an up-to-date SyntaxTree for the document .http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/Completion/CSharpCompletionService.cs,28

[2017-09-26 18:31] #14796 closed

[2017-09-26 19:06] DustinCampbell commented on #16301
I'm working on this now

[2017-09-26 19:44] jcouv commented on #22347
I'm happy to take it. My guess is that the trivia between `a:` and `a` is carried over.
My understanding of the general refactoring logic is that we do a formatting pass on rewritten nodes, is that right?

[2017-09-26 19:48] VSadov opened #22349 "Find a way, if possible, and test escape analysis for query expressions."
- when queryable expression is a ref-like struct
- when iteration variable is a ref-like struct

It could be that it is not possible due to various requirements of the query pattern, but we should try.

[2017-09-26 19:58] VSadov commented on #22057
- no longer relevant. The scenario is gone.

[2017-09-26 19:58] #22057 closed

[2017-09-26 20:27] dpoeschl commented on #21997
Thanks for the bug report @CliffChapman. I agree with your arguments and your expectations seem correct to me. Tagging @kuhlenh for additional opinions on how we should proceed from here.

[2017-09-26 20:35] dpoeschl commented on #21758
I remember having this discussion with @balajikris when the feature was implemented. I think we agreed this part could be better, but didn't have a great implementation in mind at the time. It'd be great to see the cref cases split up, though.

[2017-09-26 20:37] gafter commented on #20641
Not sure why we should care about IL size. Do you find there to be a significant performance difference between the two?

[2017-09-26 20:40] dpoeschl commented on #21886
@chborl For now, we should probably bail if we can't get the WorkspaceAnalyzerOptions.
@ashmind Is this the only one you're encountering problems with?

[2017-09-26 20:48] #20583 closed

[2017-09-26 20:50] #22077 closed

[2017-09-26 20:50] #22080 closed

[2017-09-26 20:54] dpoeschl commented on #1737
Fixed by https://github.com/dotnet/roslyn/pull/19083

[2017-09-26 20:54] #1737 closed

[2017-09-26 20:54] balajikris commented on #21758
I think I found the [discussion ](https://github.com/dotnet/roslyn/pull/13132#r75972783) on the original PR as well. I talk about a bug but it seems I had forgotten to record the bug id :\ Not sure this helps though :)

[2017-09-26 20:55] VSadov commented on #22079
fixed in https://github.com/dotnet/roslyn/pull/22303

[2017-09-26 20:55] #22079 closed

[2017-09-26 20:55] Cellivar commented on #21997
I tagged her in person a few hours ago at Ignite, I believe her comment was "Woah thats weird!"

The `none` option for the built_in_types rule that I mentioned would preserve backwards compatibility of how people have their current setups working while still allowing that particular rule to be dropped in cases like my own.

[2017-09-26 20:59] kingces95 commented on #22183
@jasonmalinowski Any chance this gets scheduled? If not, happy to close it out.

[2017-09-26 21:04] dpoeschl commented on #16827
It appears to work for me. @mavasani Can you reopen if this still repros for you?

![image](https://user-images.githubusercontent.com/235241/30884227-a8f75c0e-a2c3-11e7-9f17-76a4376aeef1.png)

[2017-09-26 21:04] #16827 closed

[2017-09-26 21:05] Therzok opened #22351 "Publishing of Microsoft.CodeAnalysis.Remote*"
**Version Used**:
2.3.2

**Steps to Reproduce**:

1. See that no Microsoft.CodeAnalysis.Remote code is published on NuGet.

**Expected Behavior**:
It should be.

**Actual Behavior**:
It is not. We're investigating implemented RemoteWorkspace support in VS4Mac in 15.6, and we need a starting point. Offering the groundwork supplied by RemoteWorkspace and ServiceHub would allow us to reuse a lot of c

[2017-09-26 21:05] Therzok commented on #22351
cc @Pilchie @jaredpar @jasonmalinowski @heejaechang

[2017-09-26 21:06] Therzok commented on #22351
Also, cc @slluis @mhutch

[2017-09-26 21:13] #18342 closed

[2017-09-26 21:15] VSadov commented on #22306
I think this would be a cheap change - both technically and conceptually. It would also smooth some edges around use of readonly variables (i.e. ReadOnlySpan indexer and the like) and unsafe code.

If possible this would be beneficial in 15.5

[2017-09-26 21:17] VSadov commented on #21826
It is a very corner case scenario though.

[2017-09-26 21:25] jasonmalinowski commented on #22183
@kingces95 Nope, leave it open. Even if we can't get it scheduled soon it's something that we'd want to keep on the backlog so it can be. We're just juggling a few other fires right now.

[2017-09-26 21:26] dpoeschl commented on #18817
Unfortunately, we need to move this editorconfig work to the next foundation update.

[2017-09-26 21:26] dpoeschl commented on #18818
Unfortunately, we need to move this editorconfig work to the next foundation update.

[2017-09-26 21:28] dpoeschl commented on #18849
@olegtk @davkean Has this still been happening? Do we know of any other feedback or fixes since this was last discussed?

[2017-09-26 21:32] dpoeschl commented on #18881
@jasonmalinowski What was your idea here? We could possibly load balance the fixing if you can explain what your idea was.

[2017-09-26 21:33] dpoeschl commented on #19030
Unfortunately not getting to this editorconfig work in 15.5, but we will target the next foundation update.

[2017-09-26 21:33] dpoeschl commented on #19032
Unfortunately not getting to this editorconfig work in 15.5, but we will target the next foundation update.

[2017-09-26 21:34] dpoeschl commented on #19161
Unfortunately not getting to this editorconfig work in 15.5, but we will target the next foundation update.

[2017-09-26 21:34] dpoeschl commented on #19186
@jcouv What's the status of this one? I thought you had it almost working.

[2017-09-26 21:35] dpoeschl commented on #19355
Unfortunately not getting to this editorconfig work in 15.5, but we will target the next foundation update.

[2017-09-26 21:35] stephentoub commented on #20641
Because larger IL means larger assemblies to load / read from disk?

Because larger IL means more IL for the JIT to churn through?

Because larger IL often results in more generated asm (which it does by a small amount in this case)?

Are you suggesting we don't factor in IL size / quality when evaluating the IL generated by the C# compiler?

[2017-09-26 21:36] olegtk commented on #18849
no, we haven't seen any other feedback like this.

[2017-09-26 21:42] paul1956 opened #22352 "ForEachStatementInfo.ElementType Returns Nothing"
**Version Used**:
VS 15.3.5, VisualBasicCodeAalysis 2.3.2
**Steps to Reproduce**:

1 Set AnyString to any string for example "123abc"
2. Get. ForEachStatementInfo for "For Each ch in AnyString
3. Get ForEachStatementInfo .ElementType

**Expected Behavior**:
It would contain the type of the elements Char in this case
**Actual Behavior**:
it returns Nothing
There are many other cases were this happe

[2017-09-26 21:46] dpoeschl commented on #19685
See https://github.com/dotnet/roslyn/pull/22113 as well

[2017-09-26 21:51] jcouv commented on #19186
One issue remains in the PR (how the new codefix interacts with the existing refactoring). I should be able to merge by next week (in time for 15.5 preview 2).

[2017-09-26 21:53] AlekseyTs commented on #19327
I think this quote from the spec explains the behavior: "The expression must be classified as a value and is **evaluated once**, upon entry into the block."

[2017-09-26 21:53] dpoeschl commented on #19968
@Pilchie What happened with the PR here?

[2017-09-26 21:54] #19327 closed

[2017-09-26 22:04] DustinCampbell commented on #16301
MSBuildWorkspace tests should be working now.

[2017-09-26 22:08] #16177 closed

[2017-09-26 22:26] gafter commented on #22322
I think this belongs in `csharplang`.

[2017-09-26 22:28] Pilchie commented on #19968
It's only partially complete.  More work still needs to happen :-/

[2017-09-26 22:29] dpoeschl commented on #19685
Should be fixed by https://github.com/dotnet/roslyn/pull/22113

[2017-09-26 22:29] #19685 closed

[2017-09-26 22:32] dpoeschl commented on #20259
The platform fix isn't scheduled until a future release.

[2017-09-26 22:34] dpoeschl commented on #20255
I hope so. @Pilchie?

[2017-09-26 22:37] jcouv commented on #22322
I opened this as a compiler issue because LDM made that decision yesterday (we're ok proceeding with compiler work).

[2017-09-26 22:40] Pilchie commented on #20255
I think it's too late for the change now, but we should make as early as possible in 15.6.  Note that a part of this was tied to enabling navigation features in OOP by default to trade some VM

[2017-09-26 23:07] davkean commented on #18849
I still see it occasionally on 15.3.

[2017-09-26 23:20] yaakov-h opened #22360 "Inconsistency in CS0220 with bit shifting"
**Version Used**:

Assumed Roslyn 2.3 - Visual Studio 2017 v15.3.5, .NET Core SDK 2.0

**Steps to Reproduce**:

1. Attempt to compile the following code:

[code]

**Expected Behavior**:

All four enum values result in `error CS0220: The operation overflows at compile time in checked mode`

**Actual Behavior**:

Only the final two enum values (`DoesOverflow1` and `DoesOverflow2`) result in CS0220.

[2017-09-26 23:23] sys27 commented on #22293
@dpoeschl I can reproduce it every time (VS Community 15.3.5) and only if you click 'Show potential fixes' on `new Task`, but `Task task =` works (VS throw the exception, when it is trying to build code preview).

It throws the exception, because `IFieldSymbol.Type` is null and `FieldGenerator.GenerateFieldDeclaration` calls the `GenerateTypeSyntax()` on null object (FieldGenerator.cs@104).

Maybe

[2017-09-26 23:34] #18220 closed

[2017-09-26 23:40] jcouv opened #22361 "Out vars should get their safe-to-escape scope from their declaring expression"
From discussion with Neal and Vlad, declaration expressions should not contribute to the check of mixing on invocations. Instead, once the val escape of the invocation is determined (ignoring such declaration expressions), the val escape should be set onto those declaration expressions.

This is not critical to address in 15.5, as it should not be a breaking change (it will open up one of the usag

[2017-09-26 23:42] #21769 closed

[2017-09-26 23:50] #21935 closed

[2017-09-26 23:58] 333fred opened #22362 "GetOperation inconsistency with VariableDeclaratorSyntax in VB"
In VB, whether or not `GetOperation` will work with a `VariableDeclaratorSyntax` depends on whether or nod the variable declaration is in the form of `As New`. In this case it works successfully:

[code]

In this case, it returns Nothing:

[code]

This is because of how `GetVariableDeclarationStatementVariables` works, http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic/Operations/VisualBa

[2017-09-27 00:22] jasonmalinowski commented on #22060
@paul1956 Just to make sure I've got the context here, this is an error coming from the test? Can you share the project file for ProjectName.Test and the packages.config or project.json if you have one?

[2017-09-27 01:20] sharwell commented on #22344
This appears to be a duplicate of #6122 and/or #4678.

[2017-09-27 02:39] vlavrnic commented on #22290
It seems that this workaround, at the end, does not work. After couple of days not working on a solution, warning messages reappear again. Biggest change was update of _Azure Functions and Web Jobs Tools_. What is interesting is the fact that not all projects (that are using scripting) within solution are affected. Clean and rebuild and later using application does not produce any error but, I am

[2017-09-27 03:56] gafter commented on #11886
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-09-27 03:56] #11886 closed

[2017-09-27 03:56] gafter commented on #438
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-09-27 03:56] #438 closed

[2017-09-27 04:17] #12864 closed

[2017-09-27 06:14] alrz commented on #20641
I think the root issue is the additional locals generated for the type switch. `source` doesn't need to be captured in a local because it's a parameter and is not changing between reads. I'm not even sure we are using locals for the other two, we could just use the pattern variable directly.

[2017-09-27 07:19] knocte opened #22365 "No warning "The variable 'foo' is assigned but its value is never used." reported"
**Version Used**: (The one that comes with Visual Studio 15.1 (26403.7 release))

**Steps to Reproduce**:

1. Write the following class in a file:
[code]
2. Compile it.

**Expected Behavior**:
Should give warning "The variable 'foo' is assigned but its value is never used."
**Actual Behavior**:
No warning is given.

(If assignment is changed from `Int32.Parse("1")` to any instant value, e.g. `1`,

[2017-09-27 09:13] ektrah commented on #22257
I can confirm that 2.6.0-beta1-62126-01 works.

I'm not sure if the `chmod +x` is necessary, so I guess either `InitialTargets="MakeCompilerScriptsExecutable"` should be added back or the `MakeCompilerScriptsExecutable` target be removed.

[2017-09-27 09:19] ashmind commented on #21886
@dpoeschl Yes, that's the only one. Though I needed `CSharpRemoveUnnecessaryImportsDiagnosticAnalyzer` from #16644, so I created `WorkspaceAnalyzerOptions` with reflection and now I don't have this problem either.

Would be great if it didn't require reflection though.

[2017-09-27 09:21] MaStr11 opened #22366 "Compiler error CS0308 is generated for inaccessible member"
**Version Used**:

VS 15.3.4

**Steps to Reproduce**:

[code]

**Expected Behavior**:

CS0122 for `M1<int>`
'Base.M1()' is inaccessible due to its protection level

**Actual Behavior**:

CS0308 for `M1<int>`
The non-generic type-or-method 'Base.M1(int)' cannot be used with type arguments.

[2017-09-27 09:21] ashmind commented on #22289
@rchande Is there a method to dump the `Workspace` state, or do you mean full process dump?

[2017-09-27 11:10] sharwell opened #22367 "Go To Definition fails to navigate to metadata"
**Version Used**: 15.4 Preview 2

**Steps to Reproduce**:

1. Open Roslyn.sln
2. Open AdditionalText.cs
3. Click on `string` or `CancellationToken`
4. Use one of the following commands
    1. Press <kbd>F12</kbd> or use **Go To Definition** from the editor context menu
    2. Press <kbd>Alt</kbd>+<kbd>F12</kbd> or use **Peek Definition** from the editor context menu

**Expected Behavior**:

* Foll

[2017-09-27 11:17] sharwell commented on #22366
:memo: This is the same behavior that occurred in Visual Studio 2013 (pre-Roslyn).

[2017-09-27 14:24] msbasanth opened #22368 "Unable to use Roslyn v2.3.0 built analyzers in visual Studio 2017 v15.3.5."
Hi,

**Version Used**:
Microsoft.CodeAnalysis - v2.3.0
Visual Studio 2017 v15.3.5

**Steps to Reproduce**:

1. Installed .Net Core 2.0 SDK so that we can work with .Net Standard v2.0 in Visual Studio 2017.
2. Created a .Net Standard project. It created in new  csproj structure with <TargetFramework>netstandard2.0</TargetFramework>
3. I added reference to Microsoft.CodeAnalysis v2.3.0
4. Created an

[2017-09-27 14:54] AlexBar commented on #12363
Resharper has such behavior by default from very beginning. It automatically adds "()" and "<>()" (for generics) and put cursor between braces.
It's really sad that vs2017 doesn't have such option.

[2017-09-27 15:12] orthoxerox opened #22369 "Misleading BC37234 when compiling a .Net Framework VB project via dotnet CLI with a missing reference to Microsoft.VisualBasic"
**Version Used**:
dotnet cli 2.0
.net 4.6.1 targeting pack

**Steps to Reproduce**:

1. Create a new VB project `dotnet new console -lang VB`
2. Change target framework type to `net461`
3. Add `Dim X : X.Y` to `Program.vb`
4. Try running `dotnet build`

**Expected Behavior**:
An error message about a missing reference to Microsoft.VisualBasic is shown

**Actual Behavior**:

"error BC37234: Late bi

[2017-09-27 15:44] tannergooding commented on #22344
I thought it was determine by @gafter this couldn't be done due to the possibility of custom runtimes and/or custom cultures.

That being said, this is one of the many optimizations that I wish we had a "please make this assumption and optimize appropriately" switch for.

I think last time it was brought up, it was mentioned that a general-purpose, post-compilation, IL optimization tool would be a

[2017-09-27 15:47] stephentoub commented on #22344
In this case, the const in question is a string; culture would not affect that (string.ToString() is string, regardless of culture).  And a custom runtime?  We're seriously concerned about a runtime that implements string.Format to have different results than does .NET Framework, .NET Core, and Mono?

[2017-09-27 15:51] tannergooding commented on #22344
@stephentoub, it isn't calling `string.ToString()` though. It is calling `string.ToString(IFormattable)` which can be affected by Culture (however, on netfx, netcore, and mono all just behaves the same as `string.ToString()`).

That's what has come up on several proposals and issues. Due to the existence of custom runtimes, there are several optimizations and or assumptions that cannot be made.

[2017-09-27 15:52] tannergooding commented on #22344
I don't necessarily agree with it, its just what has been stated time and time again.

[2017-09-27 15:54] stephentoub commented on #22344
No, that's my point... there is no formatting be done as part of ToString, regardless of overload... ToString on a string just returns that string, regardless of culture.

And especially in this case, I think that's irrelevant.  We're shooting ourselves in the feet by taking such a stance.

I realize you're just the messenger...

[2017-09-27 16:45] rchande commented on #22289
@ashmind @jasonmalinowski has a tool that can extract workspace state from Visual Studio. I'm not sure if any components therein can be repurposed for use in other hosts. A full process dump would be ideal, yes.

[2017-09-27 16:53] jcouv opened #22372 "Attribute serialization doesn't track source indices for params"
The logic that prepares values for attribute serialization, in the proper order, keeps track of where the value came from in source.
To do so, it uses source indices.
When a default value is used, there is no source indice, so `-1` is used.
Currently, for params parameters, `-1` is also used. But we should be able to track something better for those too (ie. not `-1`).

See `GetRewrittenAttributeC

[2017-09-27 17:33] jasonmalinowski commented on #22289
Yeah, the tool I have isn't really suitable for this. I think we have some other WinDBG extensions that _might_ help? But yes, process dump is what we'd need. 😦

[2017-09-27 17:38] agocke opened #22373 "TestExecuteInInteractiveWithDefines sometimes hangs"
See https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_unit64_prtest/9841/

[2017-09-27 18:46] BretJohnson opened #22375 "Enhance rename functionality, renaming related items"
**Version Used**: VS 2017 15.4 P2

**Steps to Reproduce**:

1. Rename a class or other type

**Expected Behavior**:
I'd love to see VS behave more like ReSharper, where renaming a type also:
- Renames the source file automatically, if the file name matched the previous class name
- Prompts to remove related symbols, like for variables who are named the same, or similar to, the type name

**Actual

[2017-09-27 19:37] rchande opened #22376 "Performance telemetry for completion"
Need a VS telemetry event for completion that includes time from session triggered to request to editor to show popup (the editor can't implement this because our computation is async)

[2017-09-27 19:38] rchande opened #22377 "Performance telemetry for "fix all""
We need to augment the existing lightbulb to telemetry to account for invocations of "fix all". This may be a little tricky because fix all currently triggers the "preview changes" dialog, which requires user input in order to continue. It might be worth breaking this up into time to show preview changes and time to apply the fix after "apply" is clicked.

[2017-09-27 19:54] Pilchie commented on #22376
Ideally, we would include the async time until the editor *draws* the list, since they defer that to below user interaction.

Can this be added for 15.5 P2?

[2017-09-27 19:56] Pilchie commented on #22377
Can this be added for 15.5 P2?

[2017-09-27 20:01] jcouv opened #22378 "Invocation on ref ternary with one readonly and one writable branch should copy"
The current behavior is that the invocation will make a copy only in one of the two cases.
LDM decided today that it should not have such special behavior.

FYI @VSadov

[2017-09-27 20:03] jcouv opened #22379 "Parse "ref" before "partial" in "ref partial struct""
Currently, the parser expects "partial ref struct". But from LDM discussion, we'd like to treat `ref` more like a modifier in this context, and possibly allow it in any order in the bag of modifiers.
In the meantime, we can open the door for this later change by parsing "ref partial struct".

[2017-09-27 20:03] jcouv commented on #22379
FYI @VSadov

[2017-09-27 20:09] jcouv opened #22380 "Adopt 15.5 compiler"
Because of build-from-source constraints, the branches producing 15.5 compiler should not use a 15.5 toolset. But as soon as we start working on a branch for next version, we should adopt the 15.5 toolset compiler.

[2017-09-27 20:15] jcouv opened #22381 "Use `in` for parameters and arguments"
From LDM discussion today:

1) **parameters should be declared with `in` instead of `ref readonly`**

2) plain method call with consider both byval and `in` candidates, and continue producing an error if ambiguity
3) `in` at call site guarantees the `in` candidate is picked and no copy is made
4) async spilling should never make a copy if `in` (an error should be produced in this case)

This bug i

[2017-09-27 20:56] jcouv opened #22382 "Allow deconstruction without ValueTuple type"
From discussion with Neal and Mads today, it would be nice if `(x, y) = (1, 2);` didn't require the `System.ValueTuple` types.

Presently, the only deconstruction where `ValueTuple` is not referenced is when the right-hand-side is a non-tuple expression and the result of the deconstruction-assignment expression is not used (see https://github.com/dotnet/roslyn/issues/18629).

One difficulty with t

[2017-09-27 20:57] #22259 closed

[2017-09-27 21:22] 333fred commented on #22196
@heejaechang that's not a single-line lambda, it's a multi-line lambda. See my first example.

[2017-09-27 21:35] danmosemsft commented on #22344
This means we should scan for a new antipattern in code reviews, which I wasn't previously aware of. I would not have expected lines like this, even in release to allocate a StringBuilder even when the condition is false.
[code]

[2017-09-27 21:56] OmarTawfik opened #22385 "Generate Property CodeAction should know about ref-readonly-ness"
After `in` is implemented at call-site, the IDE will be able to know if it was in a ref-readonly context or not, therefore, it can generate a property with that `RefKind`.
This means that `GenerateVariableCodeAction` should accept a `RefKind` in the constructor, and not just `bool _returnsByRef`. Also, the following test should pass if added to `GenerateVariableTests.cs`:

[code]

cc @VSadov

[2017-09-27 22:02] stephentoub commented on #22344
I consider any use of string interpolation forbidden in corefx on any code paths where we might care about perf.  They're fine in asserts, in exceptions, etc., but this issue aside, they're far from cheap.

It's using string.Format.  And string.Format uses StringBuilderCache, which will allocate a StringBuilder if it doesn't already have one.

[2017-09-27 22:10] beflint commented on #21340
Am using VS2015 Update 3 to create new ASP.NET MVC 5 project.  Default "Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.7" package was included.
Could not publish.   Resolved publish problem by uninstalling 1.0.7 and re-installing 1.0.5 version.

[2017-09-27 22:11] jeremymeng opened #22386 "#error in Miscellaneous files results in squiggles and error in Error List window"
**Version Used**: VS 2017

**Steps to Reproduce**:

1. open a C# file outside of a project that builds fine so it is put in Miscellaneous Files project
2. past the following code into the file
[code]

**Expected Behavior**:
No squiggles for the 'error' line, as we don't show errors for other lines with error (e.g., `Unknown T`)

**Actual Behavior**:
Squiggle for 'error' line, and an error for it i

[2017-09-27 22:22] jinujoseph commented on #22233
Error Scenario

[2017-09-27 22:23] jinujoseph commented on #22228
Error Scenario

[2017-09-27 22:29] jinujoseph commented on #22028
@heejaechang can you take a look at this similar to forloop

[2017-09-27 22:30] #21828 closed

[2017-09-27 22:35] jinujoseph commented on #21142
@heejaechang  good to close this ?

[2017-09-27 22:36] jinujoseph commented on #19794
we just need to add test to confirm this along with #17600

[2017-09-27 22:38] jinujoseph commented on #18405
closed via getoperation() work

[2017-09-27 22:38] #18405 closed

[2017-09-27 22:39] jinujoseph commented on #18068
@heejaechang , good to close this ?

[2017-09-27 22:40] jinujoseph commented on #18063
@heejaechang  good to close this ? we have test for this right?

[2017-09-27 22:40] jinujoseph commented on #18062
@heejaechang good to close this ?

[2017-09-27 22:41] jinujoseph commented on #18042
@heejaechang good to close this ? we have tests for this ?

[2017-09-27 22:44] Pilchie commented on #22386
Miscellaneous files *do* show syntax errors, just not semantic ones.

[2017-09-27 22:44] jinujoseph commented on #17861
delete this enum http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Compilation/CSharpSemanticModel.cs,cb181c146ad48a0e it's not been used and close this issue

[2017-09-27 22:45] jinujoseph commented on #17813
This won't be an issue any more once we merge #21293

[2017-09-27 22:49] #11748 closed

[2017-09-27 22:54] jeremymeng commented on #22386
Ah that make sense.  Thanks @Pilchie!  Closing.

[2017-09-27 22:54] #22386 closed

[2017-09-27 22:56] jinujoseph commented on #22180
dupe of https://github.com/dotnet/roslyn/issues/22020

[2017-09-27 22:56] #22180 closed

[2017-09-27 22:58] jinujoseph commented on #22179
@heejaechang can you confirm this and add a assert and invariant document

[2017-09-27 22:59] #22103 closed

[2017-09-27 23:02] jinujoseph commented on #22069
this is dupe of https://github.com/dotnet/roslyn/issues/22229

[2017-09-27 23:02] #22069 closed

[2017-09-27 23:10] jinujoseph commented on #21238
@mavasani  can you check if this can be closed

[2017-09-27 23:15] jinujoseph commented on #17998
this should be fixed as per our new design forloops

[2017-09-27 23:15] #17998 closed

[2017-09-27 23:16] #9188 closed

[2017-09-27 23:17] jinujoseph commented on #8917
@333fred did we do this ?

[2017-09-27 23:18] #21827 closed

[2017-09-27 23:20] jinujoseph commented on #17917
@333fred , can you check if this is fixed

[2017-09-27 23:23] jinujoseph commented on #17605
This is done

[2017-09-27 23:23] #17605 closed

[2017-09-27 23:24] VSadov commented on #22106
This has been discussed in LDM. The actionable changes were logged as separate issues.

[2017-09-27 23:24] #17604 closed

[2017-09-27 23:24] #22106 closed

[2017-09-27 23:24] #17603 closed

[2017-09-27 23:25] #17593 closed

[2017-09-27 23:25] #17592 closed

[2017-09-27 23:25] #17591 closed

[2017-09-27 23:26] jinujoseph commented on #17589
seperate bugs to track the unfinished ones

[2017-09-27 23:26] #17589 closed

[2017-09-27 23:27] #17587 closed

[2017-09-27 23:28] VSadov commented on #22132
It is confirmed with LDM to be ok.

[2017-09-27 23:28] #22132 closed

[2017-09-27 23:28] #14767 closed

[2017-09-27 23:28] jinujoseph commented on #14767
This is done

[2017-09-27 23:31] heejaechang commented on #21142
yes. I think cloning issue is tracked by other issue.

[2017-09-27 23:31] #21142 closed

[2017-09-27 23:31] jinujoseph commented on #21068
we are handleing this per case bases ...so closing this

[2017-09-27 23:31] #21068 closed

[2017-09-27 23:32] heejaechang commented on #18068
yes. should be fixed now.

[2017-09-27 23:32] #18068 closed

[2017-09-27 23:32] tannergooding commented on #22132
@VSadov, do you have a link to the design notes?

[2017-09-27 23:33] heejaechang commented on #18063
@jinujoseph  this should be fixed now. but not sure whether there is a test or not.

[2017-09-27 23:33] jinujoseph commented on #18066
we have individual items tracking

[2017-09-27 23:33] #18066 closed

[2017-09-27 23:34] heejaechang commented on #18062
@jinujoseph  this should be fixed now but not sure whether there is a test or not. also, I saw bunch of some skipped tests, those might be fixed now.

[2017-09-27 23:35] heejaechang commented on #18042
@jinujoseph this should be fixed now, but not sure whether there is a test or not.

[2017-09-27 23:50] VSadov opened #22387 "Use `in` for arguments"
From LDM discussion today:
1) parameters should be declared with `in` instead of `ref readonly`

2) **plain method call with consider both byval and `in` candidates, and continue producing an error if ambiguity**
3) **`in` at call site guarantees the `in` candidate is picked and no copy is made**
4) **async spilling should never make a copy if `in` (an error should be produced in this case)**

Thi

[2017-09-28 00:14] OmarTawfik commented on #22237
Cannot repro still. Will reassign/triage if there is a repro in the future.

[2017-09-28 00:16] gafter commented on #20641
The compiler does not perform flow analysis to perform optimizations, such as avoiding copying when reading a variable that the compiler could, theoretically, determine is not written between the reads. We do that only in the most limited of local contexts during emit.

The additional temporary variables that occur in the switch statement serve two purposes: there is a contract with edit-and-conti

[2017-09-28 00:17] OmarTawfik commented on #21981
@VSadov quote:
`We should remove the special-casing when before shipping to not set a compat precedent where annotations are unnecessary on span types.`
The change we discussed involving converting them into well known types. Did we consider removing the special casing as well and reading attributes from metadata instead? this will obviously fail on libraries built by older compilers.

[2017-09-28 00:27] paul1956 commented on #22352
@jcouv do you need a list of all the places I found where this doesn't work? In addition to the list above If forEachStatement.Expression.Type is an ArrayType you also get nothing, there are more.

[2017-09-28 00:32] gafter commented on #13403
Issue moved to [dotnet/vblang #169](https://github.com/dotnet/vblang/issues/169) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-28 00:32] #13403 closed

[2017-09-28 00:44] heejaechang commented on #22196
that looks like vb lambda binder's behavior.
http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic/Binding/Binder_Lambda.vb,475

those are marked as compiler generated as well.

and we are simply converting it to IOperation as it is.

not sure whether we need to change binder or change ioperation or leave it as it is.

tagging @jinujoseph  and @AlekseyTs

[2017-09-28 01:01] #22238 closed

[2017-09-28 01:01] #22239 closed

[2017-09-28 01:01] #22240 closed

[2017-09-28 01:01] #22241 closed

[2017-09-28 01:01] #22242 closed

[2017-09-28 01:34] #21515 closed

[2017-09-28 02:31] jcouv commented on #22352
Let me start with those two and see if there is a common cause. If it feels like each scenario needs to be addressed separately, I'll ask you to list scenarios you ran into. Thanks

[2017-09-28 03:13] jcouv commented on #22375
FYI @kuhlenh @Pilchie

[2017-09-28 03:43] MelbourneDeveloper commented on #13152
This is still a problem. Even the latest versions of Visual Studio 2017. Do people even care about code rules working?

[2017-09-28 04:11] kuhlenh commented on #22375
We currently allow you to "sync type and file name" as a separate quick action (via `Ctrl+.`). I agree this is a case where we can start to couple code actions together.

The rename for related symbols is interesting...I've only heard one other person mention it before. I can definitely see how this would be a huge productivity booster (especially now that we have smart variable naming based off t

[2017-09-28 04:30] jcouv commented on #21484
Fix pending review.

[2017-09-28 04:53] philippe-lavoie opened #22392 "MSBuildWorkspace can't open a VS2017 project (.Net Framework or .NetStandard)"
**Version Used**:
VS2017  15.3.4 and 15.4 preview
**Steps to Reproduce**:

1.  Compile the following code inside a new project "TestWorkspace.csproj" targeting .net 47
2. add reference to Microsoft.Build.Tasks and Microsoft.CodeAnalysis.CSharp.Workspaces

You can target a command line project or a unit test one. Can't get this to work in either cases.

**Expected Behavior**:
The number of document

[2017-09-28 06:17] #22378 closed

[2017-09-28 07:14] jinujoseph commented on #22196
If marked as compiler generated then i think we are good for now leaving this as is. @AlekseyTs  let me know if you think otherwise.

[2017-09-28 07:23] jinujoseph opened #22395 "[Ioperation] Verify and add tests for ..."
- [ ] https://github.com/dotnet/roslyn/issues/18042#issuecomment-332685154
- [ ] https://github.com/dotnet/roslyn/issues/18062#issuecomment-332684941
- [ ] https://github.com/dotnet/roslyn/issues/18062#issuecomment-332684941

[2017-09-28 07:24] jinujoseph commented on #18042
test tracked separately

[2017-09-28 07:24] #18042 closed

[2017-09-28 07:25] jinujoseph commented on #18062
test task tracked seperately

[2017-09-28 07:25] #18062 closed

[2017-09-28 07:26] jinujoseph commented on #18063
test task tracked separately

[2017-09-28 07:26] #18063 closed

[2017-09-28 09:20] alrz commented on #22387
1 is the exact opposite of a recent PR to remove `in` syntax! I guess it's because of 3, right? Is 3 mandatory from now on?

[2017-09-28 09:57] kamenlitchev commented on #21301
Happens in latest VS (15.3.5). How do I get Watson dump? I only get dialog that crash report was generated as ActivityLog.xml

[2017-09-28 12:04] mungojam commented on #22095
I can how it's tricky to resolve my issue since people would expect that if PackB returns a class from PackA, you wouldn't want to have to add an explicit package reference to PackA to be able to read the classes properties or use its methods.

Perhaps it's something that tools like resharper can pick up on, if you are constructing a class or calling a static method from a package that you don't e

[2017-09-28 14:00] koilBhupat opened #22397 "Warnings for a *.dll file in CSharpCompilation.Create() results in removal of its alias in 'using' directives in the generated dll."
On generating dll using Create() for the class file below, results in ignorance of the '**using static Org.BouncyCastle.Asn1.X509.KeyUsage**' directive. For this referenced dll, warning was thrown while compilation was done.

using ATEBase;
using Common.Utilities;
using Common.AccessRequest;
using Common.Asn1Objects;
using Common.Asn1Objects.SecurityCredentials;
using Common.Asn1Objects.SecurityCr

[2017-09-28 14:03] ulln commented on #16088
If we could use a special whitespace character for alignment, VS could ignore this character completely when auto-formatting.

There are several unicode characters we could use:
https://en.wikipedia.org/wiki/Whitespace_character

For example:
U+00A0 (NO-BREAK SPACE) or U+2007 (FIGURE SPACE)

I think it would solve the alignment and formatting problems since VS should display it as normal space but

[2017-09-28 14:58] sharwell opened #22398 "High allocations in ProcessMultilineComment (TODO comment processing)"
**Version Used**: 15.3

:link: Derived from information in [this developer community](https://developercommunity.visualstudio.com/content/problem/95966/vs-2017-153-high-cpu-usage-for-a-long-period-of-ti.html) feedback by @FransBouma.

**Steps to Reproduce**:

1. Open a solution with a large number of comments

**Expected Behavior**:

The TODO comment processor avoids duplicating all strings to the

[2017-09-28 14:59] VSadov commented on #22387
Yes, indirectly, this is because of 3.

No, not mandatory. "in" at call site means "only resolve to 'in' and no copies please".
Not specifying "in" means "I do not care - byval or in - just make a call"

[2017-09-28 15:09] VSadov commented on #22387
Examples:

M(in int x) {...}

int x = 42;
M(in x);      // ok and guaranteed no-copy

byte b = 3;
M(in b)      // error

M(in 5);     // error

// all ok, will copy when necessary
M(x);
M(b);
M(await SomeAsync());
M(42);

[2017-09-28 15:21] Pilchie opened #22399 "Improve "Time to lightbulb menu""
**Version Used**:
Visual Studio 2017 version 15.3

**Steps to Reproduce**:
1. Display the lightbulb menu

**Expected Behavior**:
Menu displayed in < 500ms

**Actual Behavior**:
For the last week:
P75 of all events: 117ms
P95 of all events: 567ms
(6.1% of events had a time outside of goal)

P75 of User's worst: 725ms
P95 of User's worst: 1933ms
(40.9% of users had a time outside of goal)

[2017-09-28 15:24] kuhlenh commented on #20255
@pilchie @dpoeschl I didn't think the OOP work was verified as successful yet, was it? I have lots of CPU issues running it on my machine...

[2017-09-28 15:31] alrz commented on #21962
Could be rewritten as `switch (node?.Kind() ?? goto breakLabel)` but we don't have that luxury yet.

[2017-09-28 15:31] Pilchie commented on #22399
Tagging @sharwell and @dpoeschl

[2017-09-28 15:44] Pilchie commented on #22392
Tagging @DustinCampbell.

[2017-09-28 15:47] Pilchie commented on #22369
@livarcocc - sounds like this should go to https://github.com/dotnet/cli to get the reference added to `Microsoft.VisualBasic.dll` on net461?

[2017-09-28 15:48] Pilchie commented on #22368
Try targeting netstandard 1.3 instead of 2.0, or else making sure that you list all of the netstandard 2.0 dependencies as analyzer assemblies.

@jmarolf @jinujoseph @mavasani

[2017-09-28 15:54] alrz commented on #22387
So theoretically it would be possible to allow overloading by `in` and `ref`?
[code]
But it's forbidden with `ref readonly` now.

[2017-09-28 16:00] tannergooding commented on #22387
@VSadov, it still seems "bad" that you can only disambiguate on `in`.

That is, if you have `MyMethod(MyStruct myStruct)` and you add `MyMethod(in MyStruct myStruct)`, users who recompile will be forced to upgrade to `MyMethod(in MyStruct myStruct)` and the previous overload `MyMethod(MyStruct myStruct)` will not be callable.

It essentially makes adding a `ref readonly` overload a forced breaking

[2017-09-28 16:06] tannergooding commented on #22387
I think there is a sort-of disconnect here on making this feature easy to use and allowing existing code to upgrade to it.

Not requiring the user to specify "in" when the case is not ambiguous makes it easy to use in entirely new code. However, due to requirements/desire to not introduce breaking changes to existing libraries, this also means that people consuming things like CoreFX will be havin

[2017-09-28 16:07] tannergooding commented on #22387
CC @jcouv, @jaredpar for the above comment

[2017-09-28 16:13] 4creators commented on #22387
IMO choice of `in` instead of `ref readonly` is very confusing. From perspective of many developers, particularly those with many other languages experience `in` means passing parameter by value whereas `ref readonly` self defines it's action.

[2017-09-28 16:16] Jinhuafei commented on #21340
@beflint Would you please share more details? If possible, please share the publish msbuild log.

[2017-09-28 16:17] 4creators commented on #22381
IMO counter intuitive and counterproductive. Pls respect developers past experience and education and do not break intuitive meaning of keywords.

[2017-09-28 16:21] HaloFour commented on #22387
Doesn't this (and the corresponding meeting notes) belong over on csharplang rather than here?

[2017-09-28 16:21] tannergooding commented on #22381
I also commented this here: https://github.com/dotnet/roslyn/issues/22387#issuecomment-332884879

[2017-09-28 16:27] VSadov commented on #22387
It is possible to overload on byval/in.

In many cases it would be possible to direct overload resolution towards the desired target using "in", named arguments, static calls (when extension method), etc.
Not having to name _all_ named arguments after the first one in 7.2 makes it an especially easy option.

It would not be a recommended pattern though - just like overloading on byval/ref - not re

[2017-09-28 16:35] VSadov commented on #22387
@HaloFour csharplang will definitely have notes. This is just a workitem to track necessary adjustments in the implementation.

[2017-09-28 16:36] tannergooding commented on #22387
@VSadov, I am explicitly talking about the case where:
* Today a user is consuming `MyMethod(MyStruct val)` from v1 of MyLibrary.
* I want to take advantage of `ref readonly`, but do not want to break back-compat in v2 of my library

I cannot add `MyMethod(in MyStruct val)` because this **forces** users to upgrade and explicitly specify `in` at all callsites. They have no mechanism of staying on t

[2017-09-28 17:13] HaloFour opened #22401 "Proposal: Offer to Implement Interfaces or Abstract Class from within type body"
I think it would be nice if the Quick Actions for implementing interfaces and abstract classes would be available when the caret is within the type body, along with "Generate overrides...".  This would remove the need to navigate back to either the type name or the implemented interfaces in order to use this quick action.

Optionally take a page from IntelliJ and if the current type hasn't impleme

[2017-09-28 17:13] jcouv commented on #22387
It's probably better to wait for Mads to publish notes to csharplang. The roslyn repo issues on this are just capturing action items that came out of last meeting.

@tannergooding The upgrade scenario you're concerned about for libraries was discussed. If this proves to be a problem, the language may introduce a tie-breaker that prefers byval parameters.
So instead of getting an error when there i

[2017-09-28 17:22] tannergooding commented on #22387
Thanks! I'm probably going to post on @MadsTorgersen notes when they go up, but I feel like having the tiebreaker from the start will be required, for CoreFX, if nothing else.

[2017-09-28 17:26] AlekseyTs commented on #22196
Do we have a test covering this scenario? Also, it would be good to have a test for
[code]

Are IOperation trees different, modulo the syntax differences?

[2017-09-28 17:32] agocke commented on #22300
The answer from the most recent LDM (9/27) was "no".

[2017-09-28 17:32] #22300 closed

[2017-09-28 17:39] AlekseyTs commented on #22196
I looked at the binder's code and think we should adjust it, which will be relatively safe and easy to do. @heejaechang We can talk offline in more details.

[2017-09-28 17:40] jcouv opened #22402 "Add method name to listing of breakpoints"
The current listing of breakpoints shows filename and location, as well as details about the breakpoint.
When you have multiple breakpoints in the same file (as shown below), it would be useful to have method names in the listing too.

![image](https://user-images.githubusercontent.com/12466233/30981291-cd5a94be-a438-11e7-9aec-116a2cb50a76.png)

[2017-09-28 17:42] tannergooding commented on #22300
@agocke, was the "no" in response to `Should you be able to take readonly refs to literals?` (the post title) or to `This is currently prohibited. Should it be?` (the question in the first comment)?

[2017-09-28 17:55] jasonmalinowski commented on #18881
The solution explorer does recognize a "compiler generated" flag that it filters out, which we could set in this case. This flag was also set by the old providers, so I wanted to check what the old logic was to make sure that providing this wasn't going to break lots of things.

[2017-09-28 18:05] 333fred commented on #8917
Not yet.

[2017-09-28 18:10] #21801 closed

[2017-09-28 18:12] chborl commented on #22253
Issue fixed by #17447 which was merged into master with #22050.
Tests added in #22388

[2017-09-28 18:14] 333fred commented on #22196
We have some tests that indirectly see this, I saw it when I was creating tests for IDelegateCreationExpression. To my knowledge, however, we don't have tests that target this specifically.

[2017-09-28 18:18] mavasani commented on #21293
**Update:** I tried implementing the API removal and noted one big breaking change to existing code block syntax analyzers, which would likely prevent us from removing these APIs.

Current implementation of code block analyzer callbacks returns the `EqualsValueSyntax` node for all field/property/parameter initializers. If we end up not having any IOperation for these initalizer equals value node,

[2017-09-28 18:25] dpoeschl commented on #22401
We definitely try to be cautious about where we should quick actions to avoid being noisy. Tagging @kuhlenh on that part.

[2017-09-28 18:25] jcouv commented on #21973
This is the current implementation of the compiler. Closing the issue.

[2017-09-28 18:25] #21973 closed

[2017-09-28 18:26] jcouv commented on #19792
From discussion with Omar and Vlad, we'll load metadata strictly: require modreq in metadata, where the compiler would emit it.

[2017-09-28 18:26] #22253 closed

[2017-09-28 18:29] dpoeschl commented on #22377
Putting these on @jinujoseph 's radar as well.

[2017-09-28 18:29] dpoeschl commented on #22376
Putting these on @jinujoseph 's radar as well.

[2017-09-28 18:43] alrz commented on #22402
And perhaps the breakpoint line itself in case you have multiple breakpoints in a method.

[2017-09-28 19:22] agocke commented on #22300
Response to the title. No readonly refs to literals. You'll have to declare a local, then declare a readonly ref to the local.

[2017-09-28 19:59] gafter commented on #22365
This warning isn't required by the language, so I understand you to be asking "Why" it behaves this way.

[2017-09-28 20:14] gafter commented on #22365
The answer can be found at https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs#L559-L581 :

                    // A local variable that is written to is considered to also be read,
                    // unless the written value is always a constant. The reasons for this
                    // unusual behavior are:
                    //

[2017-09-28 20:14] #22365 closed

[2017-09-28 20:16] #20210 closed

[2017-09-28 20:31] 333fred commented on #17917
This issue does appear to be fixed. However, we now have an issue where we're not appropriately creating the nested `IVariableDeclaration`s that go under the Using. Current tree for the above UsingStatementSyntax:

[code]

[2017-09-28 20:35] 333fred commented on #22279
As part of this, VB needs to be adjusted. Given the following sample code:
[code]

Getting the IOperation for the UsingStatementSyntax returns
[code]

This is because the ResourceList that we create from in https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb#L254 is composed of BoundLocalDeclarations, which we don't hand

[2017-09-28 20:36] 333fred commented on #17917
Tracking that issue with https://github.com/dotnet/roslyn/issues/22279.

[2017-09-28 20:36] #17917 closed

[2017-09-28 20:43] gafter opened #22406 "No mapping for `private protected` in EnvDTE.vsCMAccess"
In `Roslyn\src\VisualStudio\VisualBasic\Impl\CodeModel\VisualBasicCodeModelService.vb`, we have

[code]

Also, in `Roslyn\src\VisualStudio\CSharp\Impl\CodeModel\CSharpCodeModelService.cs`, we have

[code]

I am deleting the `PROTOTYPE` comments, and filing this bug to track the fact that there may be work here if and when `EnvDTE` supports the protected mode `Accessibility.ProtectedAndInternal`

[2017-09-28 21:02] OmarTawfik commented on #19792
@jcouv are we ok with having this in `15.later`? should it be done in `15.5`?

[2017-09-28 21:02] OmarTawfik commented on #22282
@jcouv are we ok with having this in `15.later`? should it be done in `15.5`?

[2017-09-28 21:16] beflint commented on #21340
VS2015 Publish/Build Output in "detailed format".

[publish-build.log.txt](https://github.com/dotnet/roslyn/files/1342366/publish-build.log.txt)

[2017-09-28 21:51] jcouv commented on #22282
From our discussion, let's keep this in 15.later for now, and go through un-assigned 15.5 ref readonly issues first.

[2017-09-28 21:51] jcouv commented on #19792
Same for this one. From our discussion, let's keep this in 15.later for now, and go through un-assigned 15.5 ref readonly issues first.

[2017-09-28 22:00] heejaechang commented on #21185
@jinujoseph why is this bug assigned to me? shouldn't it go to compiler team? this is general compiler bug looks like?

[2017-09-28 22:02] heejaechang commented on #20533
I believe this is now resolved.

[2017-09-28 22:02] #20533 closed

[2017-09-28 22:06] heejaechang commented on #20101
I am closing this. if it repro, let me know.

[2017-09-28 22:06] jinujoseph commented on #21185
we already removed the PROTOTYPE , closing this in flavor of #21020

[2017-09-28 22:06] #21185 closed

[2017-09-28 22:06] heejaechang commented on #18135
it is all gone now.

[2017-09-28 22:06] #18135 closed

[2017-09-28 22:07] jcouv commented on #22267
Based on latest LDM decision, this is no longer relevant. Closing

[2017-09-28 22:07] #22267 closed

[2017-09-28 22:07] heejaechang commented on #22395
this also related to https://github.com/dotnet/roslyn/issues/18061

[2017-09-28 22:07] heejaechang commented on #18061
this is dupe

[2017-09-28 22:07] #18061 closed

[2017-09-28 22:12] jcouv commented on #22306
Assigning to Vlad, since he already has a fix.

[2017-09-28 22:25] mavasani opened #22409 "Missing IOperation node for parameter reference in VB for error case"
See VB test `ArrayElementReferenceError_SyntaxErrorInIndexer_DeeplyNestedParameterReference` in PR [TBD]

[2017-09-28 23:11] mavasani commented on #22409
Doesn't repro on latest bits after merge.

[2017-09-28 23:11] #22409 closed

[2017-09-28 23:33] jcouv opened #22411 "Offer codefix for `var x = stackalloc ...`"
There would be two fixes offered:
- use `Span` type
- use pointer type

We could go further and have the compiler produce a warning for `var x = stackalloc ...` ("this doesn't mean what you think") as part of a warning wave.

[2017-09-29 00:43] thauk-copperleaf opened #22415 "Using Roslyn to analyze a .NET Framework project with .NET Core"
I am trying to analyze a .NET Framework project with Roslyn using .NET Core and an EAP build of Rider.

I can compile the solution/project using Rider successfully.

Using Roslyn and a .NET Core project, I am able to create a workspace, add the .NET Framework solution, and find the project I wish to analyze.

# Problem 1

The step `var compilationResult = compilation.GetCompilationAsync().Result`

[2017-09-29 02:09] #20741 closed

[2017-09-29 02:10] ChristopherHaws opened #22416 "Awaiting methods or delegates cause code completion to fail when the invocation expression is an identifier name"
In editors that use Roslyn (Visual Studio, VSCode, LINQPad, etc), code completion fails when invoked prior to an awaited `InvocationExpressionSyntax` who's expression is an `IdentifierNameSyntax`.

**Version Used**:
Visual Studio Enterprise 2017 15.4.0 Preview 3.0
Visual Studio Enterprise 2017 15.3.5
VSCode 1.17.0-insider
LINQPad 5.23.03

**Steps to Reproduce**:
1. Create a new class library (.NET

[2017-09-29 02:55] ArsenShnurkov opened #22418 "Document is not available"
here - https://github.com/dotnet/roslyn/blob/999e20ef5189b54d59339d37c77fdf0e429233bb/src/Compilers/Core/MSBuildTask/Csc.cs#L261
this document is mentioned
http://devdiv/spectool/Documents/Whidbey/VCSharp/Design%20Time/M3%20DCRs/DCR%20Assembly%20aliases.doc
but it is unavailable

[2017-09-29 03:02] jcouv commented on #22273
I took a plain implementation of a task-like type builder and sprinkled `ref readonly` in a number of places.
In a couple of places (`MyTask.GetAwaiter`, `MyTaskBuilder.Create`, `SetResult`, `SetException`), I got errors.
But in the places with comments, I got no emit diagnostics, which I found surprising. I didn't try executing the code, since the methods have dummy implementations.

What do you

[2017-09-29 04:02] asyncawaitmvvm commented on #22381
If we can chase useless dead-ends like a compiler switch for nullable references (what next, nullable nullables?), we can make provision to keep our CS teachers from having to tell students that **ref readonly** is the logical opposite of **out**. **ref readonly** tells you nothing of the direction that the readonly behavior applies; so much for the "intuitive meaning of keywords".

Considering th