[2020-08-26 17:26] RikkiGibson opened #47156 "AsyncIteratorWithParameter test failure"
CI run: https://dev.azure.com/dnceng/public/_build/results?buildId=786889&view=ms.vss-test-web.build-test-results-tab&runId=24799158&resultId=102610&paneView=debug

Error message:

[code]

It appears that an exception was thrown when executing the code compiled in the test. /cc @jcouv

[2020-08-26 17:31] jcouv commented on #47156
@jaredpar, I recall you mentioned a flaky issue with async-streams recently due to our set of referenced assemblies. Does it look the same?

[2020-08-26 18:42] #47092 closed

[2020-08-26 18:42] #47093 closed

[2020-08-26 18:56] siegfriedpammer opened #47158 "Roslyn formatter should offer an option to enforce a maximum number of columns per line"
One feature I am missing in Visual Studio is being able to automatically enforce a maximum line length. That is, if a line of code is too long, it automatically gets broken up into multiple lines. I often find myself writing very long lines of code (up to 200 columns). However, I don't want to have to think about arranging and breaking up the code. This bad habit is enforced through very large mon

[2020-08-26 19:03] sharwell commented on #47158
I've seen many implementations of this feature for many languages, with many different sets of options and behaviors. Across them, there has only been one universal constant: the result of using the feature is always worse than just turning it off. While I believe it is possible to implement a line-break feature that works well, finding a novel implementation to produce this result in practice is

[2020-08-26 19:07] sharwell commented on #47158
Note that the use of tabs for indentation and spaces for alignment is not currently supported by the Roslyn formatter, but is covered by https://github.com/dotnet/roslyn/issues/24031#issuecomment-444067640.

[2020-08-26 19:37] allisonchou commented on #46681
Hit again: https://dev.azure.com/dnceng/public/_build/results?buildId=788764&view=ms.vss-test-web.build-test-results-tab&runId=24876832&resultId=202071&paneView=debug

[2020-08-26 20:05] bordecal opened #47160 "Severity applied via bulk configuration should be reflected in analyzer icon and properties in Visual Studio UI"
**Version Used**:
Visual Studio 16.7.2

**Steps to Reproduce**:

1. Create a solution with an `.editorconfig` file and a project configured to use at least one Roslyn analyzer package that contains bulk configurable rule(s).
2. Add a bulk configuration for error severity to `.editorconfig` that should change the effective severity of at least one rule (e.g.: `dotnet_analyzer_diagnostic.severity =

[2020-08-26 20:36] mavasani commented on #47160
@bordecal Nice points, thanks. I will work on fixing this inconsistency.

[2020-08-26 20:40] mavasani commented on #47068
Sorry, I meant any operation that has implicit conditional logic should be converted into lowered/simpler operations without implicit conditional logic. All conditional code should be part of control flow branch condition, not within any operation in the basic block itself.

[2020-08-26 20:42] mavasani commented on #46933
We decided that a better approach here is to change the IDE analyzer execution to not operate in presence of cancellation, instead use fresh CompilationWithAnalyzers instance. We already implemented this in https://github.com/dotnet/roslyn/pull/47150, so analyzer authors can ignore state corruption or duplicate callbacks in presence of cancellation for all practical purposes.

[2020-08-26 20:42] #46933 closed

[2020-08-26 20:43] mavasani commented on #47103
After some more offline discussion, identified that this was by design to maintain consistency with SymbolStart and Symbol callbacks.

[2020-08-26 20:43] #47103 closed

[2020-08-26 20:44] mavasani commented on #46516
@jmarolf Can you please update this issue with our final plan of action for CodeStyle package in SDK/NuGet package?

[2020-08-26 20:45] andrewlock commented on #44210
Thanks for taking a look @jaredpar🙂 That description would make sense given what I'm seeing, namely that I can't reference anything created by source generators in the Blazor library, but the final assembly _does_ contain the source generator output.

[2020-08-26 20:47] Youssef1313 opened #47163 "IDE0041 shows inaccurate title"
![image](https://user-images.githubusercontent.com/31348972/91355015-da107b00-e7ed-11ea-8a3f-53189f1b86e0.png)

The title says: "Use 'is null' check". It neither uses the new C# 9 "is not null", or "is null"

[2020-08-26 20:48] RikkiGibson commented on #46449
We believe the observed behavior is expected. Type inference via a 'ref' will propagate an oblivious type. Being in a nullable context doesn't give us grounds to assume what we expect to be read out of the 'ref' or what is allowed to be written in to the 'ref'.

[2020-08-26 20:48] #46449 closed

[2020-08-26 20:48] #46831 closed

[2020-08-26 20:59] Youssef1313 commented on #47154
@gewarren, You may want to consider this for the new fundamentals section.

[2020-08-26 21:03] TessenR commented on #46449
@RikkiGibson Could you please explain why the same logic isn't applied to byvalue arguments? There's no reason to assume non-nullable state in the following example as well yet Roslyn does that:
[code]

It's the fact that Roslyn treats oblivious as non-nullable in every other scenario that made me think there's something off about the current behavior

[2020-08-26 21:06] #44129 closed

[2020-08-26 21:33] Unknown6656 opened #47164 "`"csc.exe" exited with code -2146232797.` using Version 5.0.100-preview.8.20417.9"
**Version Used**:
 - MS Build Engine 16.8.0-preview-20414-02+a55ce4fbb
 - .NET Core SDK 5.0.100-preview.8.20417.9

**Steps to Reproduce**:
This may be reproducable by cloning https://github.com/Unknown6656/Unknown6656.Core and trying to build the project `/Unknown6656.Core/Unknown6656.Core.csproj` using the .NET Core SDK version 5.0.100-preview.8.20417.9

**Expected Behavior**:
No crash of `csc.ex

[2020-08-26 21:51] RikkiGibson commented on #45571
Very likely solved by #46953

[2020-08-26 22:24] sharwell opened #47167 "Assignment of lambda to delegate fails for value type with generic NRT"
**Version Used**: 3.8.0-2.20408.4

**Steps to Reproduce**:

[code]

**Expected Behavior**:

No warnings.

**Actual Behavior**:

[2020-08-26 22:26] RikkiGibson commented on #45571
It's not :smile:

[2020-08-26 22:37] jaredpar commented on #44210
@andrewlock

Can you grab a binary log of that build and upload it somewhere I can access? Essentially just add `/bl` to your `dotnet build` command it will produce an `msbuild.binlog` file. That will be enough for me to verify that is what is going on here.

[2020-08-26 22:40] andrewlock commented on #44210
Thanks @jaredpar. This is the log for the Web project in this small poc: https://github.com/andrewlock/blazor-with-source-generators-poc

[msbuild.zip](https://github.com/dotnet/roslyn/files/5133022/msbuild.zip)

[2020-08-26 23:00] chsienki commented on #44210
Thanks @andrewlock, looking now

[2020-08-26 23:03] chsienki commented on #44210
Looks like the razor targets aren't passing the generators at all during compilation: https://github.com/aspnet/Razor/blob/5439cfe540084edd673b7ed626f2ec9cf3f13b18/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Component.targets#L172

I'll open an issue with them about it.

[2020-08-26 23:06] chsienki commented on #44210
It looks like blazor isn't passing the analyzers to the compiler at all: https://github.com/dotnet/aspnetcore/blob/4e01bbe4cfeb8d63cf5ac40fcf1a6a7c77c7e911/src/Razor/Microsoft.NET.Sdk.Razor/src/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Component.targets#L185

I'll open an issue with them about it.

[2020-08-26 23:09] chsienki commented on #47027
I beleive this is the same problem as https://github.com/dotnet/roslyn/issues/44210 / https://github.com/dotnet/aspnetcore/issues/24526

[2020-08-26 23:35] jaredpar commented on #47027
Closing as a dupe (almost certaintly the same issue)

[2020-08-26 23:35] #47027 closed

[2020-08-26 23:35] RikkiGibson commented on #46044
Do we aspire to get this warning into .NET 5?

[2020-08-26 23:38] jcouv commented on #46044
@RikkiGibson Yes, although it's probably not a blocker (we could do it in a following warning wave)

[2020-08-26 23:48] jaredpar commented on #44210
Closing as the issue is in the razor tooling side, not the compiler. Will let the issue over their track the fix (which is in PR).

Thanks @andrewlock for the awesome repro here! Made it really easy to see the issue.

[2020-08-26 23:48] #44210 closed

[2020-08-27 00:12] RebeccaVH opened #47172 "Compiler message should be silent if an explicit type variable is correctly assigned a LINQ generic type result"
Description
Currently the compiler message list includes prompts to
	use 'var' rather than explicit type
when assigning a LINQ query result for a generic type (ToList() returning List<T>, ToDictionary() returning Dictionary<T, K>).

Expected behavior: this should not be prompted or be the reverse with compiler message prompting to
	use 'explicit type' rather than var
when assigning a LINQ query re

[2020-08-27 00:40] sharwell commented on #47172
Duplicate of #29657

[2020-08-27 00:40] #47172 closed

[2020-08-27 01:47] gafter commented on #47068
Property patterns imply that each of the named properties must match its corresponding pattern. You could consider that an implicit conditional logical "and" just as much as the new explicit "and" keyword.  So why is one a problem and the other is not a problem?

Since there is no order of operations defined for these patterns, how do you suggest it be lowered? How do you suggest it be lowered whe

[2020-08-27 02:41] sharwell opened #47173 "InvalidCastException in Binder.BindSimpleProgram crashes Roslyn OOP"
**Version Used**: 16.8 Preview 2

[code]

[2020-08-27 04:16] YairHalberstadt opened #47174 "Only base positional Record parameters shown as used"
**Version Used**: visual studio 16.8 preview 2

**Steps to Reproduce**:

[code]

**Expected Behavior**:
both `I` and `S` are shown as used.

**Actual Behavior**:
IDE0060:
Remove unused parameter 'S' if it is not part of a shipped public API

[2020-08-27 04:24] YairHalberstadt opened #47175 "Fix name violation for record parameters does not update usages"
**Version Used**: VS 16.8 preview 2

**Steps to Reproduce**:

[code]

has diagnostic:

IDE1006: Naming rule violation: These words must begin with upper case characters:

The provided code fix does not update usages leading to the non compiling code:

[code]

[2020-08-27 04:27] jmarolf commented on #47147
I believe the issue here is that the intermediate project that the WPF build creates is not passing the source generators to the compiler.

@jaredpar and @chsienki do you agree?

[2020-08-27 04:46] jmarolf commented on #47158
related to https://github.com/dotnet/roslyn/issues/15406 and https://github.com/dotnet/format/issues/246

[2020-08-27 04:47] chsienki commented on #47147
The issue is that the WPF intermediate build clears the analyzers collection as a way of disabling analyzers from running. This obviously wipes out the generators too, so we need to update the WPF targets to use the new 'SkipAnalyzers' option instead. See: https://github.com/dotnet/roslyn/pull/46669

I think there is an issue for this WPF + generators problem somewhere already, but can't find it r

[2020-08-27 05:08] jmarolf commented on #47158
So enforcing a _hard limit_ on line length is not actually possible in the language due to:

- existing indentation rules: what if the user is 20 levels of indentation deep and therefore goes over the desired column width? Basically anywhere enforcing a column limit would violate another style rule we would need to decide who take precedence
- literals (especially string literals): while we could

[2020-08-27 05:10] #45158 closed

[2020-08-27 05:20] sharwell commented on #47158
@jmarolf I thought there was a duplicate but I couldn't find it. Can you copy your proposal to #15406?

[2020-08-27 05:20] sharwell commented on #47158
Duplicate of #15406

[2020-08-27 05:20] #47158 closed

[2020-08-27 05:21] siegfriedpammer commented on #47158
For me, there is no need to modify single tokens/literals. If a single token + indentation exceeds the column limit, I would expect the formatter to break after that token. The only exception would be semicolons, these should be kept on the same line as the last token.

I like your proposal a lot. Thank you!

[2020-08-27 05:37] jcouv commented on #47144
xml doc work for records is tracked in https://github.com/dotnet/roslyn/issues/44571
That includes a summary of the plan (we'll allow `<param>` on the record type to carry over to the primary constructor parameters).

[2020-08-27 05:44] andrewlock commented on #44210
Brilliant, thanks @jaredpar and @chsienki , appreciate it! ♥️

[2020-08-27 06:05] 333fred commented on #47144
Duplicate of #44571. I'll add a note to that issue to make sure we consider this warning, but we should have 1 issue tracking this.

[2020-08-27 06:05] #47144 closed

[2020-08-27 06:06] 333fred commented on #44571
Make sure that CS1591 (missing XML comments) is not reported for these carry-overs.

[2020-08-27 06:50] VaporiZed commented on #47153
Just a litte remark: the return type f the created function is correct, if I write
`If Not Foo() Then Bar`, but it's still a little bit annoying to do that.

[2020-08-27 07:10] Alvin-Seville opened #47181 "Wrong property value obtained by member access operator in C# in .NET Core"
**Version Used**: .NET Core 3.1

**Steps to Reproduce**:
Here the code which is executed with .NET Core 3.1:
[code]

**Expected Behavior**:
1 in output.

**Actual Behavior**:
Output is some random number.

![image](https://user-images.githubusercontent.com/42812113/91408743-f6221580-e809-11ea-85f6-2d6d18a8b697.png)

I've checked it out in [Repl.it](https://repl.it/@AlvinSeville19/NET-Example-Unman

[2020-08-27 07:24] CyrusNajmabadi commented on #47153
@VaporiZed would you be interested in contributing a fix here?

[2020-08-27 07:36] KiwiJaune commented on #36412
It would have been a pleasure but I have no knowledge in the roslyn code and I will have no idea where to look for the bug.

[2020-08-27 07:59] jmarolf commented on #15406
So enforcing a _hard limit_ on line length is not actually possible in the language due to:

- existing indentation rules: what if the user is 20 levels of indentation deep and therefore goes over the desired column width? Basically anywhere enforcing a column limit would violate another style rule we would need to decide who take precedence
- literals (especially string literals): while we could

[2020-08-27 08:04] snebjorn commented on #15406
I feel these concerns have already been solved by prettier to a satisfactory degree

You can play around with it here https://prettier.io/playground/ (no it doesn't work with C#)

[2020-08-27 08:41] Youssef1313 opened #47182 "[Infra] Show dotnet-install progress"
On an average internet connection, running Restore.cmd will take a relatively large time to download the required version of the .NET SDK.

[code]

I think it's a better experience of a progress or something is shown.

https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/write-progress?view=powershell-7, this might be relevant.

[2020-08-27 08:45] Tragetaschen opened #47183 "IDE0057: Invalid code fix with string.Substring and null-conditional operator"
**Version Used**:
16.8.0 Preview 2.0

**Steps to Reproduce**:
[code]

**Expected Behavior**:
[code]

**Actual Behavior**:
The code fix generates invalid code:
[code]
Note that the `.Substring` is still there.

![image](https://user-images.githubusercontent.com/1947968/91418395-5ccb2180-e852-11ea-8e6b-5db5b1979b15.png)

[2020-08-27 09:07] Youssef1313 commented on #47183
I think it should be triggered, but produces `arg?[42..]`

[2020-08-27 09:23] juanperezADD commented on #26142
Any update? Same problem. We need to embed XML documentation file in assembly.

[2020-08-27 10:17] siegfriedpammer commented on #15406
For me, there is no need to modify single tokens/literals. If a single token + indentation exceeds the column limit, I would expect the formatter to break after that token. The only exception would be semicolons, these should be kept on the same line as the last token.

I like your proposal a lot. Thank you!

[2020-08-27 11:17] bert2 commented on #39707
@CyrusNajmabadi do you know if Roslyn offers a way of getting the `ISymbol` for a `MethodInfo`?

[2020-08-27 11:21] allisonchou opened #47185 "Flaky test - DiagnosticsClassificationTaggerProviderTests.Test_FadingSpans"
Failing build: https://dev.azure.com/dnceng/public/_build/results?buildId=789701&view=ms.vss-test-web.build-test-results-tab&runId=24915754&resultId=162982&paneView=debug
PR: https://github.com/dotnet/roslyn/pull/47177/checks?check_run_id=1035019716

Maybe related to #46950?

Error message:
[code]

Stack trace:
[code]

[2020-08-27 11:57] Therzok commented on #26142
One thing to mention is that embedded resources are not compressed, so it's possible that embedding a zipped documentation file could reduce the disk footprint of the result.

[2020-08-27 12:28] jez9999 commented on #20426
@Pilchie Is there actually a rule for multiple blank lines in StyleCop.Analyzers?  I can't see one.

[2020-08-27 12:39] vladshestel commented on #47164
Had the same issue with SDK `5.0.100-preview.8.20417.9`.

Seems like `C# 8` `switch` pattern-matching with property pattern **and** `when` clause leads to the compilation error.
I have an example program which compiles with `5.0.100-preview.7.20366.6` sdk version and fails with preview 8.
[code]

Seems like problem with @gafter changes inside [SwitchExpressionBinder.cs](https://github.com/dotnet/r

[2020-08-27 13:01] bert2 commented on #17401
Just hit the same issue when trying to create an `MSBuildWorkspace` in an MSTest. Loading of `System.Threading.Tasks.Extensions` failed.

  HResult=0x80131602
  Message=Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.
  Source=mscorlib
  StackTrace:
   at System.Reflection.RuntimeModule.GetTypes(RuntimeModule module)
   at System.Refle

[2020-08-27 13:03] costin-zaharia-sonarsource opened #47187 "System.AccessViolationException when calling FindImplementationForInterfaceMember"
**Versions Used**:
.Net: 5.0.100-preview.8.20417.9

**Steps to Reproduce**:

After we upgraded our build pipeline to use **.Net 5.0.100-preview.8.20417.9** instead of **5.0.100-preview.7.20366.6** the following exception (thrown by one of our analyzers) is intermittently failing the build:

[code]

Source code: https://github.com/SonarSource/sonar-dotnet/blob/734df7968037387faade9353c7aedd1a77c010

[2020-08-27 13:42] bordecal commented on #47160
@mavasani  Thank you!

[2020-08-27 14:16] redodin2 commented on #37468
Looks like an extension method lost the context. However, you can use query syntax
`public static IEnumerable<T> WhereNotNull<T>(this IEnumerable<T?> that) where T : class => from item in that where item != null select item;`

[2020-08-27 15:23] sharwell opened #47188 "Outlining tag calculation should not block document open"
Currently, outlining tags are synchronously computed during document open. This calculation is not always fast, and will hang the editor for some files. Outlining tags should be asynchronously computed to avoid delays in presenting a file.

🔗 Originally reported at https://developercommunity.visualstudio.com/content/problem/466998/vs-1597-ide-hang.html

Stack trace taken during a UI delay:

[code]

[2020-08-27 15:25] tannergooding commented on #44110
Nothing known to be blocking on my end.

[2020-08-27 15:33] Youssef1313 opened #47189 "[Analyzer Suggestion] Use target-typed new to simplify fields initialization"
**Brief description:**

Use "target-typed new", the new C# 9 feature, to simplify fields initialization

**Languages applicable:**

C#

**Code example that the analyzer should report:**

[code]

The "AnotherClass" part after "new" should be faded as unnecessary and the codefix should remove it.

**Additional information:**

Applicable for C# 9 and later only.

[2020-08-27 15:37] sharwell commented on #47189
Duplicate of #46700

[2020-08-27 15:37] #47189 closed

[2020-08-27 15:40] sharwell commented on #46700
My proposal:

* Always offer this diagnostic where available for fields
* Always offer this diagnostic where available for local variables and the 'use var' configuration for the line does not indicate that implicit types are preferred
* Offer a refactoring where available for local variables when the diagnostic is not reported, but place the refactoring at lower priority than the "Use implicit ty

[2020-08-27 15:42] sharwell commented on #47185
@allisonchou the build above is an older branch than the fix for #46950. I believe this one is already fixed.

[2020-08-27 15:55] TessenR opened #47190 "Roslyn fails to track identity conversion in tuple casts while tracking nullable conversions"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile the following code
[code]

**Expected Behavior**:
No warnings.

**Actual Behavior**:
False warnings in `F2` and `F3`

Roslyn is able to track values through implicit nullable conversions combined with identity conversions (no warnings in `F1`) but not for the simple identity conversion

[2020-08-27 16:16] Pilchie commented on #20426
Original Stylecop *did* have one. @sharwell - do you know if it is part of StyleCop.Analyzers too?

[2020-08-27 16:26] vsfeedback opened #47191 "csc.exe exited with code -2146232797. Null reference exception in CSharp.SpillSequenceSpiller.Spill"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1163821/cscexe-exited-with-code-2146232797-null-reference.html)._

---
[severity:I'm unable to use this version of Visual Studio] [regression] [worked-in:16.6.5]
Project build fails in multiple modules (large project) since upgrading to either 16.7.1 and 16.7.2. Uninstallin

[2020-08-27 16:29] cston commented on #44724
Unfortunately fixing this bug would be a breaking change.

[2020-08-27 16:29] #44724 closed

[2020-08-27 16:29] sharwell commented on #20426
It's [SA1507](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1507.md)

[2020-08-27 16:33] CyrusNajmabadi commented on #36412
This would be the file of interest:
https://github.com/dotnet/roslyn/blob/master/src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicTypeInferenceService.TypeInferrer.vb

:-)

[2020-08-27 16:48] chasewallis commented on #46593
I was never able to get the jit debugger working, so I have no idea where the problem may lie. I can't give you source code, but if you have any suggestions on how to determine the problem, I'm willing to help out wherever I can.

[2020-08-27 17:05] jez9999 commented on #20426
Thanks

[2020-08-27 17:55] #47185 closed

[2020-08-27 18:02] CyrusNajmabadi commented on #47188
@olegtk can you move this to editor.  This is a limitation of the API the editor uses to call into us (synchronous) so that it can collapse outlining spans teh same way they were collapsed when the user closed the IDE.  I believe when we've tried to do this asynchonously in the past, it hasn't worked because we run into:

1. editor collapses to previous spans in the SUO.
2. editor queries for curr

[2020-08-27 18:04] sharwell commented on #47188
@CyrusNajmabadi We have the side issue that it takes more than 5 minutes for Roslyn to compute outlining tags for the source file in this report, so moving async means the document opens, but there will never actually be any outlining.

[2020-08-27 18:05] CyrusNajmabadi commented on #47188
Yes.  i'm guessing based on the stack that a huge list of items (plus GetPreviousToken) is just hitting some of worst-case syntax-tree-navigation problems.

We may need to consider capping what we outline when the number of items is too large.  Do you have the original file this happened on?

[2020-08-27 18:13] CyrusNajmabadi commented on #46700
What about users who want a diagnostic to use `new()` for cases like `Foo(new Dictionary<string, int>())`?

[2020-08-27 18:15] CyrusNajmabadi commented on #47140
@olegtk @gundermanc does the VS editor api for completion allow for strikethrough?

[2020-08-27 18:17] CyrusNajmabadi commented on #47155
We likely have to go find the method again after an edit, and in the case of multiple matching methods find a differnet one.  In general, this is such a corner case i don't think this needs to be fixed.  If it is fixed, I would only want to accept the code if it didn't substantially increase the complexity of the feature. i.e. a couple-line fix here would be acceptable.  Having to write several do

[2020-08-27 18:25] sharwell commented on #47140
Duplicate of #26488

[2020-08-27 18:25] #47140 closed

[2020-08-27 18:28] jmarolf commented on #15406
@snebjorn prettier focuses on formatting in a single style for javascript. Whatever this formatting becomes it will need to interact with the many formatting options that already exist today for C#. I do not know how comparable to two situations are.

[2020-08-27 18:33] gundermanc commented on #26488
To answer @CyrusNajmabadi's question from the previous thread, yes, VS's completion is able to present strikethrough text encoded using the unicode facilities for strikethrough, however, typing the regular text didn't match the strikethrough version from the completion list when I tried it.

My guess is that you could probably get the desired behavior using the right combination of [CompletionItem

[2020-08-27 18:34] vsfeedback opened #47193 "C# Intellisense: include enum values when type is known even if enum name is not entered"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1163084/c-intellisense-include-enum-values-when-type-is-kn.html)._

---
For an argument position where VS knows I am typing an enum value of a specific type (say `FileAccess`), currently to get Intellisense to show the options for the values of that enum, I have to type the na

[2020-08-27 18:35] vsfeedback opened #47194 "Edit and Continue silently fails if custom PathMap is defined"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/idea/1164519/edit-and-continue-silently-fails-if-custom-pathmap.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
This isn't technically a problem with Visual Studio itself but rather a consequence of configuring the project in such a way that causes Visual Studio to behave

[2020-08-27 18:47] Unknown6656 commented on #47164
@vladshestel Thank you for tracking the issue down!
Do you think it might be this line: https://github.com/dotnet/roslyn/blob/06c2acecbc9771e8e0cf96d7cf07aa7d76dc7dac/src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs#L101...L102 ?

[2020-08-27 18:51] RikkiGibson commented on #46593
It may help to configure your system to capture a crash dump when the compiler crashes. If you are able to open up the crash dump in VS and see what code was being analyzed at the point the crash occurred, it might help you construct a reproducer. Please see https://github.com/dotnet/roslyn/blob/92f024ab986153902d5aa15a2d079ccd28dd673d/docs/wiki/Troubleshooting-tips.md.

[2020-08-27 19:02] cston commented on #46044
From offline discussion, if possible we should use the existing warning, CS8600, and report warnings for these cases when using `/langversion:9`, rather than using a new warning id and a warning wave.

[2020-08-27 19:07] olegtk commented on #47140
no such support, but great idea. There is a way to provide additional icons (called attribute icons), I think you use those to indicate when a completion item is not available in some project targets. But I agree it would be nice to add strikethrough support. Any other presentation variants you would like to have? Please create a suggestion bug for the editor, @jinujoseph
Thanks!

[2020-08-27 19:28] olegtk commented on #47188
Great catch, this is one of the known sources of delays on file open. I reactivated the ticket and moved it to the editor. Feel free to close this issue.

[2020-08-27 19:32] sharwell commented on #47188
@CyrusNajmabadi Yeah I'm going to try and add a benchmark for the scenario

[2020-08-27 19:46] chrisaut commented on #47155
Is it really a corner case though? I've ran into it 5 times yesterday.

I'm adding some async functionality, and I start by copying the the sync version, call into async counterparts in its implementation, add an await there and and hit `Make async`. In theory this is much faster than manually updating the method signature.

If it's hard to fix then fine I guess, I would have thought it knows whic

[2020-08-27 19:48] Youssef1313 opened #47197 "IDE0044 (Add readonly modifier) false positive"
**UPDATED:**

https://github.com/dotnet/roslyn/blob/eb26ee3cd1a65a26bda647685ff3a1624218143b/src/Compilers/VisualBasic/Portable/Symbols/Source/OverrideHidingHelper.vb#L584-L586

IDE0044 shouldn't have been reported in this case. (See https://github.com/dotnet/roslyn/issues/47197#issuecomment-808784569)

[2020-08-27 19:53] Youssef1313 opened #47198 ""Expression is a value and therefore cannot be the target of an assignment." after adding ReadOnly"
**Steps to Reproduce**:

https://github.com/dotnet/roslyn/pull/47196

**Expected Behavior**:

No compile errors.

**Actual Behavior**:

The CI fails with:

Note: If this is not a compiler bug, then it should be an IDE0044 bug. But I don't see any reason that ReadOnly isn't allowed.

This was detected in #47148

cc: @sharwell

[2020-08-27 20:01] jcouv commented on #46044
If/when we decide to move ahead with investigation (what's the impact on roslyn/VS/runtime), we should remember to let LDM know.

[2020-08-27 20:18] vsfeedback opened #47200 "Update IntelliSense tooltips to show actual type of alias"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1163451/update-intellisense-tooltips-to-show-actual-type-o.html)._

---
[code]

Hovering over `grault` in the above snippet will show "Corge"; it would be more useful if it showed the actual type name behind the alias, with an annotation to indicate that it's an alias, i.e. so

[2020-08-27 20:21] vsfeedback opened #47201 "About Visual Studio 2019 version 16.6.3"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1111836/about-visual-studio-2019-version-1663.html)._

---
<p>Return the text color of class and function like the previous version, this all white text is very confusing!</p>

---
### Original Comments

#### Feedback Bot on 7/13/2020, 10:50 PM:

Thank you for taking the time

[2020-08-27 20:23] mikadumont commented on #47201
@JoeRobich

[2020-08-27 20:34] CyrusNajmabadi commented on #47188
Def a good idea.  i imagine we're fine most of hte time, but pathological stuff (which collection iniitalizer often hit) may be killing us.

Note: we may want to rethink the impl here in the first place.  i.e. instead of outlining the initializer expr itself (which tehn needs to walk backward (expensive) to find spans.  We walk teh owner of the initializer, which can then just linerally walk the c

[2020-08-27 21:11] jmarolf commented on #46753
the wiki has been removed there should now only be once source of info on this topice

[2020-08-27 21:11] #46753 closed

[2020-08-27 21:16] Youssef1313 commented on #46988
My suggestion to fix this would be:

- Keep `!_CSharpKeyword` as is for the "logical not" operator.
- Change the null-forgiving from `!_CSharpKeyword` to `Null-Forgiving_CSharpKeyword` (or something similar).

@davidwengier What do you think?

[2020-08-27 21:35] Kungitoo commented on #31161
Hey! I'm trying to repro this bug on master Commit hash:	f09c4b76a42616dd04ee9aef5510d1a3082e35ab
 and on my local Version 16.7.2 whichever Roslyn that is and it doesn't seem to repro

[2020-08-27 22:27] jasonmalinowski opened #47207 "Completion can be triggered in Metadata as Source and Generated Source files"
If you open either a Metadata as Source file or a file from a source generator, you can trigger the completion list:

![image](https://user-images.githubusercontent.com/201340/91501111-cad70f00-e879-11ea-95da-80b6facd1a52.png)

[2020-08-27 22:33] jasonmalinowski opened #47208 "Generators generating inconsistent line endings shows a warning if the file is open"

[2020-08-27 22:34] jasonmalinowski opened #47210 "Metadata as Source files and source generated files let you copy the file path to the temporary file"
We should disable Copy Full Path and Open Containing Folder.

[2020-08-27 22:36] #47089 closed

[2020-08-27 22:44] jasonmalinowski opened #47211 "Change the file name that source generators write into the PDB"
Currently the filename that is written into the PDB for a source generated file is an underscore-delimited combination of:

1. The MVID of the module containing the source generator itself.
2. The name of the source generator.
3. The hint file (suffixed with .cs if necessary.)

This creates a few issues for the IDE, since we need to match this naming convention to make the debugger work:

1. The M

[2020-08-27 22:48] jasonmalinowski opened #47212 "Source generator temporary files don't get deleted"

[2020-08-27 22:54] dibarbet opened #47214 "Diagnostics in razor files are mapped incorrectly"
Currently using 16.8preview 2 with latest roslyn master bits

Moving diagnostics to OOP breaks diagnostics in razor files (when using the non-LSP powered razor editor).  The cause of the issue is the following:
https://github.com/dotnet/roslyn/blob/31ebe4954e5455e630acb1e8445ecb742c678753/src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs#L470-L475

In the OOP scenario, the IWorkspaceVenus

[2020-08-27 22:54] CyrusNajmabadi commented on #47155
For you it sounds like no, because of how you are producing one method from another.  I don't really have any reason to think this sort of approach is widespread.  Put another way, you're the only one to ever report this :)

The problem is that these sorts of features often perform a "series of changes" to a document/tree/symbol.  And after each edit they have to go "find" the "original" node they

[2020-08-27 22:56] CyrusNajmabadi commented on #15406
Small point:

That's not what i woudl expect.   I would expect to break *before* teh column *except* in the case that breaking before would put the token on the same column as the line it was on (and thus would still be in the same problematic state).  i.e. we should only cross the column as a last resort.

[2020-08-27 22:58] CyrusNajmabadi commented on #26488
When you are bolding items, you look at the display text though right?  so we would lose bolding here, right?

Note: my preference would be to *not* have the language set strikethrough, but instead expose a boolean stating if this is deprecated/obsolete.  Then, the platform would apply the styling and could do the right thing for all clients in a consistent fashion.  Would that make sense for you

[2020-08-27 23:01] jasonmalinowski opened #47215 "Source generated files should show the read only lock icon in the tab"

[2020-08-27 23:09] CyrusNajmabadi commented on #47181
You make a node on the stack, and then return a pointer to it.  Your stack goes away when `Create` returns, leaving the pointer pointing at... well... somewhere.  This is undefined behavior and you cannot expect any particular result to be returned.

[2020-08-27 23:09] #47181 closed

[2020-08-27 23:10] CyrusNajmabadi commented on #47183
@Youssef1313 's desired behavior is correct.  That's what we should be generating.

[2020-08-27 23:13] CyrusNajmabadi commented on #47210
fwiw, i often find behavior like that super aggravating.

[2020-08-27 23:13] davidwengier commented on #46988
Your proposal makes sense to me :+1:

Out of an abundance of caution I'd probably just use `nullForgiving_CSharpKeyword` since the service seems to have issues with the minus sign in other cases, and ultimately the actual F1 keywords are implementation details anyway.

[2020-08-27 23:17] #46986 closed

[2020-08-27 23:19] gafter commented on #47164
@RikkiGibson @jcouv Here is another crash in recent pattern-matching changes.  I suspect this does not affect 16.7.

[2020-08-27 23:20] jcouv commented on #43292
@chsienki I don't know what you think, but suspect that fixing this will be rather involved. Moving out to 16.9.

[2020-08-27 23:24] jcouv commented on #44735
@RikkiGibson Was this fixed by your recent change for nullability in delegate conversion (https://github.com/dotnet/roslyn/pull/46953) ?

[2020-08-27 23:38] jasonmalinowski commented on #47210
@CyrusNajmabadi What do you mean? Do you have a scenario for keeping the commands?

[2020-08-27 23:38] jcouv commented on #46899
Re-opening. The original issue reported in this issue is related to `EmitExpressionCore` in `FunctionPointerLoad` case (not to `BasicBlock.ShortenBranches`).
Tagging @333fred in case this issue rings a bell.

I have to say I'm surprised by the lack of a managed exception...

[code]

[2020-08-27 23:38] cristianosuzuki77 opened #47219 "[loc][query] translation question."
String Resource ID | 0; "Name_is_not_a_valid_0_identifier"
-- | --
Source String | Name is not a valid {0} identifier.
Subtenant | dotnet_roslyn
Source Control Link |  
Filename | VisualStudio\Core\Def\xlf\ServicesVSResources.xlf
Question | Please clarify the placeholder.

[2020-08-28 00:41] mavasani commented on #41411
I have seen it bunch of times in my performance traces when I see ServiceHub.RoslynCodeAnalysisService burning CPU. I think we should talk with the partner team(s) that uses this telemetry, make it opt-in for now (opted into telemetry + `BackgroundAnalysisScope` is set to `EntireSolution`) and think of an alternate long term approach to collect telemetry without using so much machine resources.

[2020-08-28 00:42] mavasani commented on #41411
Tagging @jinujoseph @CyrusNajmabadi

[2020-08-28 00:44] jrmoreno1 commented on #44724
It was a breaking change when it switched from a compiler error to not, not sure how it is a breaking change to fix a bug so that the code meets the spec.  It won’t compile, but it’s not supposed to.

[2020-08-28 00:46] Alvin-Seville commented on #47181
@CyrusNajmabadi, thanks for the answer. Could you tell me how to fix my code?

[2020-08-28 01:24] cston opened #47221 "Unexpected warning passing nullable argument to annotated indexer"
A.cs:
[code]
B.cs:
[code]

Compile:
[code]
Result:
[code]

[2020-08-28 01:25] cston commented on #47221
cc @jcouv, @eerhardt

[2020-08-28 01:25] 333fred commented on #46899
That doesn't look like anything I recognize. Are you sure that it's actually related to emitting a function pointer load? There are no function pointers in the linked repo project.

[2020-08-28 02:42] jcouv commented on #47221
After we get that fixed, let's confirm whether this MetadataAsSource test starts working. If not, we'll want to file an IDE issue.

[code]

[2020-08-28 02:53] eerhardt commented on #47221
BTW - when I was try to repro this issue myself, VS was constantly crashing on:

[code]

and trying to get intellisense to pop up on the end of the `return` line.

[2020-08-28 03:09] cston commented on #47221
@eerhardt, the IDE crash might be https://github.com/dotnet/roslyn/issues/46622.

[2020-08-28 03:43] jcouv commented on #46899
Spent some time investigation. It reproes with `C:\Program Files (x86)\Microsoft Visual Studio\2019\PublicPreview\MSBuild\Current\Bin\Roslyn\csc.exe` (which are version 3.8.0-1.20378.6 (226c0c3f)). But it does not repro with version 3.8.0-2.20418.7 (0276b9b7) or with local bits.

I'll close the issue back.

[code]

[2020-08-28 03:43] #46899 closed

[2020-08-28 05:05] jcouv commented on #46954
Notes from investigation (will update):
- I'm able to repro even with latest compiler bits. Using a debug version (`.\Build.cmd -Configuration Debug -deployExtensions -launch` to deploy debug compiler) is convenient as it pops up the assertion prompt (offering to attach a debugger).
- We're getting into `VisitConditionalOperatorCore` with `node.Type` being null. This means we hit the assertion in

[2020-08-28 05:38] RikkiGibson commented on #44735
This was not fixed. Details and proposed fix are outlined in https://github.com/dotnet/roslyn/issues/44735#issuecomment-675768560

[2020-08-28 06:20] Youssef1313 commented on #47181
@Alvin-Seville I think you can try returning tge node itself instead of a pointer.
and anyway, I wouldn't use unsafe code without a good reason.

[2020-08-28 07:06] VaporiZed commented on #47153
Well, I am the one who reported this issue. If I would know how to fix it, I would do it. But I'm just a little hobby programmer who likes to give feedback about occured issues.

[2020-08-28 07:25] CyrusNajmabadi commented on #47181
I would change Node to be a class, and I would remove the pointer part. :-)

[2020-08-28 07:26] CyrusNajmabadi commented on #47153
@VaporiZed Sure:-). If you change your mind, let us know. I can walk you through making the pr and getting the girls in :-)

[2020-08-28 07:59] Youssef1313 opened #47225 "Field doesn't need to be volatile"
IDE0044 suggests the field to be readonly, which can't be used together with volatile.

https://github.com/dotnet/roslyn/blob/3dc15320d76662294a8544522340823b371efc5c/src/Scripting/CoreTestUtilities/ObjectFormatterFixtures/MockDesktopSpinLock.cs#L18

It seems reasonable that volatile can be omitted. The field is only set in the constructor. How can multiple threads modify it?

[2020-08-28 08:09] chrarnoldus opened #47226 "Unexpected CS8602 in nested lambda expression"
**Version Used**:

5.0.100-preview.8.20417.9

**Steps to Reproduce**:

Build the following (simplified) program using `dotnet build`, targeting `net5.0`:

[code]
**Expected Behavior**:

No warning, since there is no way `s` can be `null`.

**Actual Behavior**:

"warning CS8602: Dereference of a possibly null reference." at the line indicated

[2020-08-28 08:36] Youssef1313 commented on #47123
https://github.com/dotnet/roslyn/blob/59d8cd7c8d872e35edf45e65fb20c38f5d0c3ffd/src/VisualStudio/IntegrationTest/TestUtilities/InProcess/InteractiveWindow_InProc.cs#L28

Can just increasing the timeout a little bit fixes the problem?

[2020-08-28 08:46] bert2 commented on #17401
I could resolve the above problem by adding an `app.config` with the following binding redirect to my test project:

[code]

[2020-08-28 09:11] VaporiZed commented on #47153
Well, sounds great. I surely can benefit from learning how to fix those kind of issues by myself and support the community.

[2020-08-28 10:49] Marv51 commented on #47147
Please consider documenting the lack of WPF support somewhere, cause I "just doesn't work" but without any error. It took me quite a while to figure out what was the issue here and even in hindsight I couldn't find any warning.

[2020-08-28 11:00] davkean opened #47228 "No (obvious) way to enforce a file header with a block comment"
**Version Used**:
Version 16.8.0 Preview 3.0 [30427.246.main]

I'm in a code base with a block comment header. According to the spec it seems like it was thought, but it's very unobvious how to make that work: https://github.com/dotnet/roslyn/issues/33012 and https://docs.microsoft.com/en-us/visualstudio/ide/reference/add-file-header?view=vs-2019 don't indicate how to support his.

**Steps to Repr

[2020-08-28 11:21] davkean commented on #27186
Note, there is now precedencefor this, given: https://github.com/dotnet/roslyn/pull/46744.

[2020-08-28 11:47] Youssef1313 commented on #47074
`dotnet-install: Adding to current process PATH: `/opt/code/.dotnet`. Note: This change will be visible only when sourcing script.`

I don't understand this "Note", but just pointing to it as it might be related to the issue.

[2020-08-28 11:51] Youssef1313 commented on #47074
See https://github.com/dotnet/sdk/issues/6368

[2020-08-28 12:10] Unknown6656 commented on #47164
@gafter It affects Visual Studio Preview 2019 Version 16.7.2 -- that is the version I used to compile the mentioned code with.
..... or does "16.7" refer to a version prior to 16.7.2? If so, then you are correct: it does not affect 16.7.1 and 16.7.0

[2020-08-28 12:37] sergeyQx opened #47230 "Visual Studio crashes"
**Version Used**:
Microsoft Visual Studio Professional 2019 Preview
Version 16.8.0 Preview 2.0

**Steps to Reproduce**:

1. Add the attached file to a newly created C# project
2. open the file
3. type { in line 152 just before the existing brace

**Expected Behavior**:
Brace appears in the editor

**Actual Behavior**:
Visual Studio crashes

[2020-08-28 12:39] sergeyQx commented on #47230
The attachment
[repro.zip](https://github.com/dotnet/roslyn/files/5142061/repro.zip)

[2020-08-28 12:40] sergeyQx commented on #47230
Stacktrace of the crash:

Microsoft.VisualStudio.LanguageServices.dll!Microsoft.CodeAnalysis.ErrorReporting.WatsonReporter.ReportFatal(System.Exception exception)	Unknown
 	Microsoft.CodeAnalysis.Workspaces.dll!Microsoft.CodeAnalysis.ErrorReporting.FatalError.Report(System.Exception exception, System.Action<System.Exception> handler) Line 273	C#

 	[Resuming Async Method]
 	Microsoft.CodeAnalysis.

[2020-08-28 13:05] snebjorn commented on #15406
Sorry I mistook this as the https://github.com/dotnet/format repo

[2020-08-28 13:35] jmarolf commented on #15406
@snebjorn no problem. Part of this discussion is trying to define what to goals are and how they differ from what other successful formatters do.

[2020-08-28 14:53] mavasani commented on #47068
In that case, even that is a problem for CFG clients. Basically, the contract for CFG is no operations inside basic block with implicit conditional logic. Having such operations makes it impossible for CFG clients to do regular dataflow analysis where operations such as merge only happen at the start of basic blocks with multiple predecessors.

We should follow the approach used by @AlekseyTs when

[2020-08-28 14:53] EamonNerbonne commented on #47226
(this is a regression, there's no warning in stable)

[2020-08-28 14:59] runfoapp[bot] opened #47231 "Test failures: Microsoft.CodeAnalysis.CompilerServer.UnitTests.NamedPipeClientConnectionHostTests.EndListenClosesQueuedConnections"
|Build|Kind|Run Name|
|---|---|---|
|[791688](https://dev.azure.com/dnceng/public/_build/results?buildId=791688)|[PR 47148](https://github.com/dotnet/roslyn/pull/47148)|Windows Desktop Spanish|
|[791605](https://dev.azure.com/dnceng/public/_build/results?buildId=791605)|Rolling|Windows Desktop Spanish|
|[791582](https://dev.azure.com/dnceng/public/_build/results?buildId=791582)|Rolling|Windows Des

[2020-08-28 14:59] jaredpar commented on #47231
Looks like this is hitting a null ref during the test.

[2020-08-28 15:11] runfoapp[bot] opened #47233 "Test failures: Microsoft.CodeAnalysis.CompilerServer.UnitTests.NamedPipeClientConnectionHostTests.EndListenClosesQueuedConnections"
|Build|Kind|Run Name|
|---|---|---|
|[791688](https://dev.azure.com/dnceng/public/_build/results?buildId=791688)|[PR 47148](https://github.com/dotnet/roslyn/pull/47148)|Windows Desktop Spanish|
|[791605](https://dev.azure.com/dnceng/public/_build/results?buildId=791605)|Rolling|Windows Desktop Spanish|
|[791582](https://dev.azure.com/dnceng/public/_build/results?buildId=791582)|Rolling|Windows Des

[2020-08-28 15:13] Youssef1313 commented on #47233
Ah sorry :smile:
I was playing with runfo.azurewebsites.net and created this. Duplicate of #47231

[2020-08-28 15:19] sharwell commented on #47233
Duplicate of #47231

[2020-08-28 15:19] #47233 closed

[2020-08-28 15:20] sharwell commented on #47231
@jaredpar it would be nice if we had a column for target branch, and commit hash which was head of target branch at the time of the build.

[2020-08-28 15:26] jaredpar commented on #47231
That is fairly easy to add. Tracking here https://github.com/jaredpar/devops-util/issues/16

[2020-08-28 15:57] sharwell commented on #46503
There are two cases we looked at specifically in the context of target-typed completion:

1. Static fields or properties of the type
    * `ImmutableArray<int>.Empty` produces a value of type `ImmutableArray<int>`
2. Static generic methods of a non-generic type with the same name, where the generic method arguments match the generic type arguments
    * `ImmutableArray.Create<int>()` produces a va

[2020-08-28 16:06] sharwell opened #47234 "IncrementallyParse fails for certain text changes"
**Version Used**: 16.8 IntPreview 3

**Steps to Reproduce**:

🔗 [AB#1180669](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1180669)
🔗 [AB#1193786](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1193786)
🔗 [AB#1216814](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1216814)
🔗 [AB#12170

[2020-08-28 16:18] cston commented on #44724
Visual Basic programs written recently (and compiled with the Roslyn compiler) may be using type characters incorrectly but without errors. If we fix this bug, we'll start reporting errors for those programs.

[2020-08-28 16:22] cston commented on #46622
This no longer repros with a more recent build.

[2020-08-28 16:36] vsfeedback opened #47235 "Move to Next or Previous Highlighted Reference hotkeys work unreliable in C# editor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1163962/move-to-next-or-previous-highlighted-reference-hot.html)._

---
In C# code editor when the caret is sitting on an identifier, pressing to "Ctrl+Shift+Up" or "Ctrl+Shift+Down" usually moves the caret to a next or a previous reference.

But when the caret is not sitti

[2020-08-28 16:48] mavasani opened #47236 "Duplicate code fixes offered for IDE0082 (convert typeof to nameof)"
**Version Used**: Latest 16.8 dogfood build

![image](https://user-images.githubusercontent.com/10605811/91592431-68325180-e913-11ea-8543-6a0bc6193ee7.png)

[2020-08-28 16:51] CyrusNajmabadi commented on #47153
Terrific!  The most likely files to look at here are:

https://github.com/dotnet/roslyn/blob/master/src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicTypeInferenceService.TypeInferrer.vb

And tests can go here:

https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/VisualBasicTest/TypeInferrer/TypeInferrerTests.vb

@jmarolf do you know where th

[2020-08-28 16:51] vsfeedback opened #47237 "Braces indentation, closing bracket for anonymous methods indented incorrectly."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1164657/braces-indentation-closing-bracket-for-anonymous-m.html)._

---
[severity:I'm frustrated, but able to complete my work]
Automatic formatting messes up the code indentation and it has to be fixed manually.

In Visual Studio options.
Text Editor -> C# -> Code Style ->

[2020-08-28 16:56] eerhardt commented on #39802
@jcouv @cston - I think this is going to be a pretty big issue in .NET 5 now that `XElement` is fully annotated. The most common way to make an XElement is to pass in a string to the ctor. But XElement's ctor takes an XName, which has an implicit op from string. Now any dev who has nullable enabled will get a warning when creating an `XElement` this way:

![image](https://user-images.githubusercon

[2020-08-28 17:05] Youssef1313 opened #47238 "[Question] What's the proper way to get KindText for a SyntaxNode"
The approach I know to do that is call `.Kind()` extension method, then call `.ToString()`.
The problem with that is there are 2 `Kind` extension method, one for C# and one for VB.

Is there other way instead of checking the language first, then call the appropriate .Kind method given that I want the Text at the end?

If there is no way currently, consider this issue as an API proposal.

[2020-08-28 17:13] Youssef1313 commented on #47238
Probably this is what I want:

https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Syntax/SyntaxNodeOrToken.cs#L73

But it's private.

[2020-08-28 17:18] jcouv commented on #39802
Moving issue up to 16.8.

[2020-08-28 17:19] Scottj1s commented on #46017
@jaredpar It presents a false negative.  I can try to address a NETSDK11130 by removing ReferencePath items, and [_BlockWinMDsOnUnsupportedTFMs](https://github.com/dotnet/sdk/blob/b44dc9f392a4e89975d72907c5d35baefee30716/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.targets#L931) will no longer trigger an error.  But csc will still receive the winmd references, creating a potential

[2020-08-28 17:28] vsfeedback opened #47239 "Latest Analyzer Template Project has several issues"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1164009/latest-analyzer-template-project-has-several-issue.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
There are some minor issues in the template that should be cleaned up (missing editorConfig, missing AnalyzerReleases.( Un)shipped.md), Missing ReadO

[2020-08-28 17:29] Youssef1313 commented on #47236
The resource with the value `Convert 'GetType' to 'NameOf'` is only used in the VB code fix provider. Very strange to see this title offered for C#.

[2020-08-28 17:42] RikkiGibson commented on #46536
The fix for this bug will be available in a 16.7 patch release. Thanks again for reporting.

[2020-08-28 17:42] #46536 closed

[2020-08-28 17:51] jaredpar commented on #46017
Still not sure how this is a bug in the csc task though. Our MSBuild API is to use this item group as our input for references. This is a design done in collaboration with MSBuild to ensure we get the proper benefits from reference assemblies at build times. Moving to `@(ReferencePath)` would explicitly go against that design.

It sounds like another target updating the incorrect item group here a

[2020-08-28 18:06] mavasani commented on #47214
@dibarbet Would it be possible to write a unit test/integration test for this? I'll work towards fixing this, but I can't guaranteed me/someone else will break this again soon :-)

[2020-08-28 18:11] Scottj1s commented on #46017
There's nothing wrong with the csc task, but with the _BlockWinMDsOnUnsupportedTFMs target

[2020-08-28 18:13] Scottj1s commented on #46017
that may not have been clear in my description.  The _BlockWinMDsOnUnsupportedTFMs is targeting the wrong item (ReferencePath) *because* the csc task refers to ReferencePathWithRefAssemblies

[2020-08-28 18:17] RikkiGibson commented on #47164
It is assumed to mean the latest 16.7 patch release, currently 16.7.2.

It is surprising that 16.7.1 could present a different behavior than 16.7.2 here--we don't believe that any compiler changes related to this area went in between those releases.

[2020-08-28 18:32] dibarbet commented on #47214
I was looking at it yesterday afternoon.
For integration tests it's a little difficult as I think I would have to introduce razor projects into the integration test stuff.  Unit tests are a little difficult as well as I would need to setup the projection buffers.  @jasonmalinowski do you know if there is a place where we setup projection buffers in unit tests that I could re-use?

[2020-08-28 18:38] slepmog commented on #44724
Isn't that the correct behaviour? I'm pretty certain that bugs in the C++ compiler are routinely fixed, and when it causes broken code to stop compiling, it is seen as a most useful outcome.

[2020-08-28 20:29] Youssef1313 opened #47243 "Possible documentation bug in naming conventions"
https://github.com/dotnet/roslyn/blob/fa7eeddaf2052dcfee4c75c68f9039c723245737/src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/EditorConfigNamingStyleParserTests.cs#L289

https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-naming-conventions?view=vs-2019

The doc states:

However, from the code above, it seems like the correct value is **local_functions**, not **local_function**.

[2020-08-28 20:32] matthew-a-thomas commented on #40341
@tmat It looks like you recently closed #4788 with this comment:

How does that impact this issue?

[2020-08-28 21:13] CyrusNajmabadi commented on #44724
Correct behavior is secondary to back compat.  We could, however, consider re-enabling this in warning wave.  @cston would this fit into that category?

[2020-08-28 21:14] Youssef1313 commented on #46988
@davidwengier I'll work on it and avoid the minus sign, but actually, the problem seems to be something other than that.

- https://msdn.microsoft.com/query/dev16.query?appId=Dev16IDEF1&l=EN-US&k=k(await_CSharpKeyword);k(DevLang-csharp)&rd=true (Works)
- https://msdn.microsoft.com/query/dev16.query?appId=Dev16IDEF1&l=EN-US&k=k(-_CSharpKeyword);k(DevLang-csharp)&rd=true (Started working suddenly af

[2020-08-28 21:14] CyrusNajmabadi commented on #47238
There is no way to do this.  At the common layer the Kind is just an int.  To get the appropriate name (which is language specific) you need each language's view over that int, mapping it to the requisite enum value.

[2020-08-28 21:14] #47238 closed

[2020-08-28 21:16] Youssef1313 commented on #47238
Isn't exposing KindText in SyntaxNodeOrToken just fixes that?

[2020-08-28 21:17] #47090 closed

[2020-08-28 21:24] CyrusNajmabadi commented on #47238
That would involve a public API change.  The "proper way" to get this information today is to make the .Kind() call at the VB/C# layer and ToString that.

[2020-08-28 21:24] CyrusNajmabadi commented on #47238
If you would like to drive this as a proposal, i would recommend opening it as a separate issue :)

[2020-08-28 21:30] Youssef1313 opened #47247 "[API Proposal] Expose KindText in SyntaxNodeOrToken"
I think it's useful to expose the private property `KindText` to be public:

https://github.com/dotnet/roslyn/blob/e704ca635bd6de70a0250e34c4567c7a28fa9f6d/src/Compilers/Core/Portable/Syntax/SyntaxNodeOrToken.cs#L73-L89

It will make things much much easier to get the KindText without worrying about the language and having to handle the same thing twice.

Related to #47238

[2020-08-28 21:33] Youssef1313 commented on #47238
@CyrusNajmabadi Thanks. I opened a separate issue.

[2020-08-28 22:39] runfoapp[bot] opened #47250 "Test failures: Microsoft.CodeAnalysis.CompilerServer.UnitTests.NamedPipeClientConnectionHostTests.EndListenClosesQueuedConnections"
|Build|Kind|Run Name|
|---|---|---|
|[792182](https://dev.azure.com/dnceng/public/_build/results?buildId=792182)|[PR 47232](https://github.com/dotnet/roslyn/pull/47232)|Windows Desktop Spanish|
|[790443](https://dev.azure.com/dnceng/public/_build/results?buildId=790443)|[PR 47192](https://github.com/dotnet/roslyn/pull/47192)|Windows CoreClr Release|
|[790415](https://dev.azure.com/dnceng/public/_b

[2020-08-28 22:40] sharwell commented on #46681
Duplicate of #47231

[2020-08-28 22:40] #46681 closed

[2020-08-28 22:40] sharwell commented on #47250
Duplicate of #47231

[2020-08-28 22:40] #47250 closed

[2020-08-28 22:44] sharwell commented on #47243
I believe `local_function` is correct:

https://github.com/dotnet/roslyn/blob/a8d63c614ee85146079fe96b701c742228963657/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_SymbolSpec.cs#L131-L133

[2020-08-28 22:46] #47243 closed

[2020-08-28 22:54] Youssef1313 commented on #47243
@sharwell Then that line I referenced of the unit test should be wrong?

[2020-08-28 22:56] sharwell commented on #47243
That part is a name key. It can be any identifier, including `local_functions`. The part that matters is the value, which is `"local_function"` on the right.

[2020-08-28 22:59] Youssef1313 commented on #47243
@sharwell Ahh, I mixed things. Thought this list is for what comes after `dotnet_naming_symbols.` not the `=` :smile:
Sorry for that.

[2020-08-28 23:22] sharwell commented on #47243
No problem!

[2020-08-28 23:44] mavasani commented on #47214
Thanks, I have create a PR with product fix: https://github.com/dotnet/roslyn/pull/47253. Let me know if you'd like me to open a test issue to track adding some tests in this space.

[2020-08-28 23:51] RikkiGibson commented on #46718
To minimize the churn, diagnostics given at the implicit return point should continue to be given at the constructor signature, but diagnostics given at explicit returns should be given at the return syntax.

[2020-08-28 23:56] vamuzumd opened #82727 "Unable to find documentation on some enum values like PointMemberAccessExpression"
Have been looking around the exact meaning/usage of the enum PointMemberAccessExpression, but could not find any in docs. Would be great to provide a doc pointer link to each of these enums.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae9f0fbc-3a19-ed1d-7c80-582113d4bb3e
* Version Independent ID: d5bba7fd-d91c-228e-

[2020-08-28 23:57] dibarbet opened #47254 "Add tests for local diagnostics"
There were a couple issues with razor diagnostics we caused inadvertently.  We should add tests for these scenarios:
See https://github.com/dotnet/roslyn/issues/47214

[2020-08-28 23:57] sharwell commented on #47228
File headers look only at the comment content, not the form. The code fix will generate headers with line comments, but allow the use of either line comments or block comments. A bunch of tests for this can be seen here:
https://github.com/dotnet/roslyn/blob/a8d63c614ee85146079fe96b701c742228963657/src/Analyzers/CSharp/Tests/FileHeaders/FileHeaderTests.cs

[2020-08-28 23:57] dibarbet commented on #47214
@mavasani filed https://github.com/dotnet/roslyn/issues/47254 for me

[2020-08-28 23:57] sharwell commented on #47228
Tentatively marking this as **By Design**, but will update following design review.

[2020-08-29 02:37] jasonmalinowski opened #47255 "Get the CSharpSourceGenerators integration test passing"
For some reason it always fails in CI, and always passes locally. This is a tracking bug to resolve that obvious conundrum.

[2020-08-29 03:44] #44804 closed

[2020-08-29 04:49] #47214 closed

[2020-08-29 05:57] jaredpar commented on #46017
@Scottj1s gotcha. Thanks for the clarification. Moving to SDK as this is one of their targets.

[2020-08-29 06:03] jaredpar commented on #47156
No this is different than the issue that I was referring to. That reproduces with assembly load errors when executing the program.

[2020-08-29 09:38] JuDelCo commented on #36930
Hi, I have tried `#pragma warning disable format` and indeed it disables code formatting what is great. But after the region I want to disable format on, if I use `#pragma warning restore format` it doesn't work, is ignored by the code formatter so the entire document is unformatted, not only the specific part of code I need.

I'm using VSCode 1.48.2 with the C# Extension 1.23.0 in Linux PopOS 20.

[2020-08-29 11:34] Unknown6656 commented on #47164
In the meantime, is it possible to target an older .NET5 preview without having to re-install Visual Studio to an older version?
I have `5.0.100-preview.8.20417.9` and `5.0.100-preview.7.20366.6` installed.
Can I target the preview7-version specifically using `<TargetFramework>...</TargetFramework>`? Otherwise, .NET5 becomes pretty much unusable with the current installation of Visual Studio.
_(I

[2020-08-29 15:21] JL-Manning commented on #19257
I used GerjanOnline's solution and it worked for me also!!!

[2020-08-29 15:40] #47221 closed

[2020-08-29 16:22] miloush commented on #13887
Got this in 16.8.0 Preview 2.0 after typing `(int)char.` into C# Interactive

[2020-08-29 18:12] sharwell commented on #36930
@JuDelCo can you file a new bug report for the specific case with a code sample?
Thanks! 😄

[2020-08-29 19:09] svick commented on #39707
@bert2  Do you already have a `Compilation` that contains the members you're interested in? If not, Roslyn might not be the best way of achieving your goals.

If you do, something like the following method should work for simple cases:

[code]

[2020-08-29 19:10] Youssef1313 opened #47258 "Incorrect XML summary doc"
https://github.com/dotnet/roslyn/blob/45d9c6059a210124283a8b4dfcc4601335bfd383/src/Compilers/VisualBasic/Portable/Syntax/SyntaxKind.vb#L714-L718

"TryPart" in the previous snippet is outdated. See:

https://github.com/dotnet/roslyn/blob/45d9c6059a210124283a8b4dfcc4601335bfd383/src/Compilers/VisualBasic/Portable/Syntax/SyntaxKind.vb#L700

[2020-08-29 20:30] Youssef1313 opened #47261 "CI doesn't validate changes pushed to master"
Ok, I think I don't know the terminologies very well. But here is the thing:

1. Two PRs,  "A" and "B", are created from master.
1. PR "B" got merged to master.
1. The branch of PR "A" builds successfully on its own. But it won't build successfully when merged with master because of changes introduced in PR "B". However, the CI passes for PR "A", and errors are only discovered after merging to mas

[2020-08-29 20:38] Zannick commented on #41825
Filing user here, confirming it still reproduces in VS2019 16.7.1 and including my versions below in case further verification is needed.

<details>
<summary>Versions</summary>

[code]
</details>

[2020-08-29 22:13] RikkiGibson commented on #47075
This was fixed in #47127 and is expected to ship in a patch release for VS 16.7 and .NET Core 3.1.4xx. Thank you for reporting.

[2020-08-29 22:13] #47075 closed

[2020-08-29 23:19] RikkiGibson commented on #47164
You can override the version of the compiler that gets used for builds by following these instructions: https://github.com/dotnet/roslyn/blob/master/docs/compilers/Compiler%20Toolset%20NuPkgs.md

[2020-08-29 23:52] cston commented on #46494
Similar issues occur with `dynamic` and with tuples with element names. For instance:
A.cs:
[code]
B.cs:
[code]
C.cs:
[code]
Compile:
[code]
Result:
[code]

[2020-08-30 01:17] sharwell commented on #47261
This is a timing issue. If the build for A starts before B gets merged, its results can be stale even though success is reported.

[2020-08-30 09:52] Unknown6656 commented on #47164
@RikkiGibson Thanks a lot!!

[2020-08-30 11:31] Youssef1313 commented on #47261
@sharwell Ah I see. Thanks a lot!

[2020-08-30 11:31] #47261 closed

[2020-08-30 12:42] benaadams opened #47266 "Readme links go to non-accessible wiki"
Most of the "Get started" section. and also "How to Contribute"

[2020-08-30 14:36] ChadJessup opened #47267 "CS0508 not triggering in net 5 preview-8, which allows runtime TypeLoadException errors"
Sorry if this is the incorrect repo, hard to know where this bug report should go..

### Description
In net 5 preview 7 CS0508 - 'Type 1': return type must be 'Type 2' to match overridden member 'Member Name' would prevent compilation. But in preview 8 this builds just fine, and during runtime a TypeLoadException is thrown that is very difficult to troubleshoot.

This top-level program demonstrate

[2020-08-30 15:02] am11 commented on #47267
Yes. Problem here is with the non-virtual field/property/method returning derived type in base, in the _presence_ of covariant overrides is failing to load the derived type (directly or indirectly). A more stripped repro with direct load:

[code]

cc @janvorli, maybe it is something tracked by https://github.com/dotnet/runtime/issues/37265?

[2020-08-30 15:03] am11 commented on #47267
I think this belongs to runtime repo @jeffschwMSFT.

[2020-08-30 16:33] AArnott opened #47268 "CS1584, CS1658 from `inheritdoc cref` when referencing method with value tuple parameter"
When `<inheritdoc cref="..."/>` refers to a member with a parameter whose type is a ValueTuple intrinsic, the completion list will help select the member while typing the cref attribute's value, but then C# will emit several warnings around the xml being invalid and the member not being found.

[Repro on SharpLab.io](https://sharplab.io/#v2:C4LghgzsA0AmIGoA+ABATARgLACgUGYACdQgYUIG9dCbCB6BwgHgAcwAn

[2020-08-30 16:35] AArnott commented on #47268
Spelling out `ValueTuple<int,int>` solves the C# syntax and binding warnings, but it fails to actually inherit the xml doc for the named parameter.

[2020-08-30 17:12] mavasani opened #47269 "Decide on the bar for IDE suggestions and refactorings offered for code style (IDE analyzers) and quality (CA analyzers)"
Starting with .NET5 SDK, both code style (IDE analyzers) and code quality analyzer (CA analyzers) packages are installed with the .NET SDK, which makes the user experience consistent inside Visual Studio for .NET users:
   - .NET users will get code style and code quality suggestions/refactorings by default when targeting .net5 or later.
   - Any CA or IDE diagnostic ID set to warning/error in edi

[2020-08-30 18:09] PathogenDavid commented on #47266
The wiki was removed recently (https://github.com/dotnet/roslyn/issues/46753#issuecomment-682193302) since it was redundant to the docs/wiki folder

I've created #47270 to fix the URLs in the readme.

[2020-08-30 18:51] gafter commented on #47267
This appears to be a runtime issue. The program looks correct but the runtime blows up.

[2020-08-30 19:09] gafter commented on #46658
Since this is requesting a language change, transferring to `csharplang`.

[2020-08-30 19:12] gafter commented on #46864
@jcouv I suspect that this order of evaluation is specified.

[2020-08-30 19:28] gafter commented on #45165
Since the running program does the right thing, this is more likely a debugger problem, or a problem with the debug info produced by the compiler.

[2020-08-30 23:13] CyrusNajmabadi commented on #47269
I'd like to tweak:

Almost all our analyzers can hit *some* false positives. The bar we've had here is that we have a reasonable belief that these false positives should be very rare and unlikely to matter in reasonably written programs.

As an example, many of our analyzers assume that a property call is idempotent.  Calling it one time versus many should have no effect on almost all reasonably w

[2020-08-31 00:11] #47266 closed

[2020-08-31 00:25] Zannick commented on #41825
I have just had this happen with another feature: `coalescing assignment`. As jaredpar said, the IDE should not offer the suggestion when the feature is not supported by the language version.

[2020-08-31 01:19] reflectronic opened #47272 "Diagnostic for conflicting constructor declarations refer to the conflicting member as '.ctor'"
**Version Used**: 3.7.0-6.20418.4 (9b878f99)

**Steps to Reproduce**:
Define a type with conflicting constructor signatures:
[code]
**Expected Behavior**:
An error which says "Type 'C' already defines a constructor with the same parameter types"

**Actual Behavior**:
error CS0111: Type 'C' already defines a member called '.ctor' with the same parameter types

This compiler diagnostic seems to have

[2020-08-31 01:28] jmarolf commented on #47219
It is the name of the programming language for which this name is not a valid identifier.

Examples would be

- `Name is not a valid C# identifier.`
- `Name is not a valid Visual Basic identifier.`

[2020-08-31 01:45] jcouv commented on #46954
@gafter I've added a simple test above which allows unconverted conditional nodes to reach NullableWalker when determining the return type (with nullability) of an unbound lambda.
Maybe we can chat that week to confirm if it's the right approach to fix this, but I'm thinking we'll just need to handle such nodes in NullableWalker (adding logic to `VisitConversion` in particular).

[2020-08-31 02:14] mavasani commented on #47269
@CyrusNajmabadi I agree with your stance. I think it is reasonable to err on the side of some false positives when majority of users/scenarios get benefit from the suggestions/refactorings. We need to be little more cautious for false positives from code quality suggestions with `...`, but I would have no concerns with hidden diagnostic analyzers and refactorings to have lower bar for false positi

[2020-08-31 03:48] RobinHood70 opened #47273 "Move to Namespace sometimes turns unrelated references into nested namespaces in XAML"
**Version Used**: 3.7.0-6.20412.3 (d3c3a44a)

**Steps to Reproduce**:

1. Create a .NET Core WPF app.
2. Create standard models, viewmodels, and views.
3. Use the "Move to Namespace" feature to move a class from, for example, Models to ViewModels.

**Expected Behavior**: The class will be moved into the new namespace and all references updated appropriately.

**Actual Behavior**: In XAML files, un

[2020-08-31 07:15] CyrusNajmabadi commented on #41825
@Zannick please file an issue on that so we can resolve it.  thanks :)

[2020-08-31 07:18] devsko opened #47275 "Build failure when referencing a source generator project"
**Version Used**:
5.0.100-preview.8.20417.9

**Steps to Reproduce**:

1.  Add a new project to the [source generator sample](https://github.com/dotnet/roslyn-sdk/tree/master/samples/CSharp/SourceGenerators)
2. Add `<ProjectReference Include="..\SourceGeneratorSamples\SourceGeneratorSamples.csproj" />`

**Expected Behavior**:
Build of the added project succeeds and the source generator is available

[2020-08-31 07:41] davkean commented on #47228
Consider this bug a request to change the design so that the code fix can generate block comments.

[2020-08-31 10:13] Denis535 opened #47276 "How to change internal options (disable access checks)?"
I'm doing something like architecture overview for third party library. And I need to make list of all (public and non-public) types from that library. Of course I could use string literals for non-public types but it's horrible (( **So, I need to disable access checks.**

Roslyn has options (`MetadataImportOptions.All`, `BinderFlags.IgnoreAccessibility`) to allow it but `BinderFlags` is internal.

[2020-08-31 10:17] drewnoakes opened #47277 "Introduce local mangles formatting"
**Version Used**: 3.6.0-beta1-20111-10

**Steps to Reproduce**:

Seen in the CPS solution

1. Code:

[code]
2. Select `Array.Empty<string>()`
3. Invoke "Introduce local"

**Expected Behavior**:

Code formatted correctly:

[code]

**Actual Behavior**:

Generated code has strange formatting.

[code]

[2020-08-31 10:49] svick opened #47278 "NormalizeWhitespace causes error on XML comments"
**Version Used**: 3.7.0

**Steps to Reproduce**:

Run the following code:

[code]

**Expected Behavior**:

No errors.

**Actual Behavior**:

It seems the call to `NormalizeWhitespace()` somehow turns the tree into a shape that is not supported by `DocumentationCommentCompiler`.

The exception stack trace is:

[code]

[2020-08-31 11:02] alrz opened #47279 "/warn should not accept values greater than the max level supported"
[The current design](https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/Warnversion%20Warning%20Waves.md) suggests to use `9999` or basically any arbitrary value greater than maximum supported level to denote "latest".

This has a consequence of depending directly on the current compiler version and the fact that any value could be used might get confusing.

For instance `7` means

[2020-08-31 11:06] alrz commented on #47279
One possible argument here is that we want an older compiler "just work" with any warn level and possibly fewer produced warnings. But I really don't think that's a good scenario to support when we consider how confusing it could get.

[2020-08-31 11:19] NextTurn commented on #47279
There is now [`<AnalysisLevel>latest</AnalysisLevel>`](https://devblogs.microsoft.com/dotnet/automatically-find-latent-bugs-in-your-code-with-net-5/).

[2020-08-31 11:26] alrz commented on #47279
Yeah I think that is what I'm looking for. Thanks.

[2020-08-31 11:26] #47279 closed

[2020-08-31 12:44] svick commented on #47276
An approach that worked for me was to use the `IgnoresAccessChecksToAttribute` mentioned in the PR you linked to through [aelij/IgnoresAccessChecksToGenerator](https://github.com/aelij/IgnoresAccessChecksToGenerator).

[2020-08-31 12:54] kevinchalet commented on #46494
@cston I wonder if the bug fixed in your PR could also explain why this snippet returns a `CS0453` error when using unconstrained `T?` (with `/LangVersion=preview`):

[code]

[code]

[2020-08-31 13:30] YairHalberstadt opened #47280 "Poor diagnostic for out discards in lang version 6"
**Version Used**: VS 16.8 preview 2

**Steps to Reproduce**:

Set LangVersion to 6 and compile the following:

[code]

**Expected Behavior**: error : Feature 'discard arguments' is not available in C# 6. Please use language version 7.0 or greater.

**Actual Behavior**: error CS8059: Feature 'tuples' is not available in C# 6. Please use language version 7.0 or greater.

[2020-08-31 15:27] nschuessler commented on #4919
@heejaechang  where can the logs for the fixers be found?

[2020-08-31 15:42] Youssef1313 commented on #47272
I think the fix should be straight forward here. I'll work on it.

[2020-08-31 15:45] sharwell commented on #47275
The most likely cause of this error is an incorrectly formed `<ProjectReference>` element. A reference to a source generator in the same solution needs to have this form:

[code]

The `SetTargetFramework` attribute _can_ be omitted if the project using the source generator is netstandard2.0 or newer, but it's often easiest to just include it.

[2020-08-31 15:50] Youssef1313 commented on #47272
@333fred the fix should be done for both instance constructors (`.ctor`) and static constructors (`..ctor`) right?

[2020-08-31 15:52] sharwell commented on #47276
Duplicate of #20870

[2020-08-31 15:52] #47276 closed

[2020-08-31 15:53] sharwell commented on #47276
@Denis535 the language team reviewed this request a couple years ago and determined that this feature will not be directly supported by the C# language. Notes were provided in a link from https://github.com/dotnet/roslyn/pull/20870#issuecomment-351493055.

[2020-08-31 16:05] devsko commented on #47275
Thanks for looking at this.
The kind of reference you mentioned works fine for actually generating code, but I'm trying to reference the project (not just the source generator) from a unit test. I thought a "normal" `ProjectReerence` should work.
(Absolutely not blocking for me)

[2020-08-31 16:12] Zannick commented on #41825
I figured it's the same underlying issue here, of suggestions not taking into account the language version. If you're sure, though, I'll file a separate issue for that.

[2020-08-31 16:15] RikkiGibson commented on #47272
it feels like the point where we give CS0111 diagnostics should be adjusted to use a more appropriate method of converting the symbol to string. It shouldn't be necessary to directly check if the symbol is a constructor or static constructor for example.

[2020-08-31 16:15] RikkiGibson commented on #47272
There might be a minimal SymbolDisplayOptions or something like that which should be used in order to minimize test churn when making this change.

[2020-08-31 16:20] Youssef1313 commented on #47272
@RikkiGibson The fix I worked on was to introduce two separate new errors. Because, the part "with the same parameter types" isn't applicable to static ctors.
So, even if we converted the symbol to a more neat form other than ".ctor" and ".cctor", the message won't be great.

[2020-08-31 16:21] sharwell commented on #47275
Is the problem fixed if you add the attribute `PrivateAssets="all"` to the `<ProjectReference>` form I showed above?

[2020-08-31 16:27] devsko commented on #47275
The build succeeds but the assembly is not referenced thus I cannot test the classes in the generator project.

[2020-08-31 16:28] devsko commented on #47275
`PrivateAssests="all"` has no effect on this behavior.

[2020-08-31 16:39] vsfeedback opened #47286 "Tab Button Problem After Sentence "Exit For""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1167702/tab-button-problem-after-sentence-exit-for.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
When I type Exit For and press the button Tab in order to write a comment, it appears as below:
Exit For index = 1 To 10

Next

But What I wanted was:
Exit F

[2020-08-31 16:40] vsfeedback opened #47287 "Code fix 'convert to method' can generate invalid code"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1167701/code-fix-convert-to-method-can-generate-invalid-co.html)._

---
When converting a local function, which has one or more optional parameters AND references one or more local variables, to a method, the result will be invalid in the following situations:
- If the loca

[2020-08-31 16:40] vsfeedback opened #47288 "False Positive Warning for IDE0079 Remove Unneccessary Suppression"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1167673/false-positive-warning-for-ide0079-remove-unnecces.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice] [regression] [worked-in:16.7]
I use the SuppressMessageAttribute to suppress certain Resharper warnings.  Visual Studio 2019 16.8.0 preview 2 is inco

[2020-08-31 16:42] RikkiGibson commented on #47024
Will close this out now, feel free to follow up here if you have questions.

[2020-08-31 16:42] #47024 closed

[2020-08-31 16:45] RikkiGibson commented on #44244
I can't reproduce this in a compiler built from e7bad77. I think we have fixed the bug. Thank you for reporting.

[2020-08-31 16:45] #44244 closed

[2020-08-31 16:48] vsfeedback opened #47289 "IntelliSense does not work for target-typed "new" expression (C# 9)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1167506/intellisense-does-not-work-for-target-typed-new-ex.html)._

---
[severity:I'm frustrated, but able to complete my work]
When I'm using new target-typed *new* expression, I don't get IntelliSense for all the properties the object has.
Say, I have a simple class:
[cod

[2020-08-31 16:51] RikkiGibson commented on #44735
I think this is a duplicate of #44174.

[2020-08-31 16:51] #44735 closed

[2020-08-31 16:51] RikkiGibson commented on #44174
Proposed fix outlined in https://github.com/dotnet/roslyn/issues/44735#issuecomment-675768560

[2020-08-31 16:56] RikkiGibson opened #47291 "Pure null check in binary operator doesn't affect 'else' branch"
**Version Used**: e7bad77

**Steps to Reproduce**: [SharpLab link](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+BiAdgVwBtCJhC4ACOXU8gWACgABAZgqYCYKBhCgb0YUh7NkwAsFALIAKJgEYADBQhJ2iisACU/QcL0BLAGYVpECvqgUCxCgDJbG85euFNuvUIEMPwgL7uPOEIoOAC9Lx8fCAA6ABUAewBlGAR9XABzaU0AbgoAejyKAHcIBFw09LDI4DiklIqs3IKKKAALeKIUYtLcVWB8GAoUeLgoXAByGCqhf29ImITk1IzG/MKSsorpjVqlhpy17s2MgNnfIA===)

[code]

I don't know w

[2020-08-31 16:58] sharwell commented on #47275
Ah, we don't currently have a mechanism for unit testing the source generator code itself.

[2020-08-31 17:03] CptWesley opened #47292 "Source generators can't access binary files"
As far as I can see, source generators only have access to files specified as `AdditionalFiles`. However, this means that binary files can't be used for generating code. Adding a binary file as an `AdditionalFiles` will result in a `CS2015` error. I've personally had some use cases for generating source code based on binary files, so I'm curious if this was intended, or alternatively, if I missed

[2020-08-31 17:03] pgovind commented on #47024
Apologies, I was bust with .NET 5 stuff. If this is by design, I agree that this can be closed!

[2020-08-31 17:09] devsko commented on #47275
I understand that referencing a project with source generator in any other way than just for generating code is currently not possible - at least when it self references other packages. Right?
I can live with that but think it should be mentioned somewhere ;)

[2020-08-31 17:19] Youssef1313 commented on #47280
The error is in:

https://github.com/dotnet/roslyn/blob/e704ca635bd6de70a0250e34c4567c7a28fa9f6d/src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs#L1449-L1452

I can't find an appropriate MessageID

The only existing MessageID related to discards is:

https://github.com/dotnet/roslyn/blob/e98d42c80ffcc45aebb4917b593b165aea6252ac/src/Compilers/CSharp/Portable/Errors/MessageID.cs#L191

I do

[2020-08-31 17:19] CyrusNajmabadi commented on #41825
It's not the same underlying issue :)   Each feature is separate and would need their own fixes to address the problem.  For example, i'm surrpised you're having an issue with Compound-Coalesce as we have an explicit version check in it here:

https://github.com/dotnet/roslyn/blob/eb0581d3b8df8ac819c092eb026b273fe74c1b54/src/Analyzers/Core/Analyzers/UseCompoundAssignment/AbstractUseCompoundAssignm

[2020-08-31 17:45] Youssef1313 commented on #47289
Duplicate of #46397

[2020-08-31 17:46] Youssef1313 commented on #47291
Interesting bug. Any idea where I should start debugging if I want to give it a try?

[2020-08-31 18:13] RikkiGibson commented on #47291
Check [`NullableWalker.LearnFromNullTest`](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs#L3801) (I think) and [`NullableWalker.VisitBinaryOperatorChildren`](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs#L3384). I would debug and add a watch for `this`, step through, and see how i

[2020-08-31 18:15] Youssef1313 commented on #47291
Will give it a try

[2020-08-31 18:26] smitpatel opened #47304 "Requiring references to dependency after upgrading to preview8 SDK"
Source code: https://github.com/dotnet/efcore/

We use Microsoft.Azure.Cosmos version 3.12.0 in one of our package we ship. It was building fine with preview7 SDK.
When we upgraded to preview8 SDK, we started getting compile time error.

Looking at the package `Microsoft.Azure.Cosmos.Direct` it is implementation detail of `Microsoft.Azure.Cosmos` and not supposed to be consumed directly. Further,

[2020-08-31 18:27] Pilchie commented on #47304
In general, these transitive references may be required by the compiler whenever they are *seen* by the compiler, even if they aren't directly used.  (The example I remember best is if the compiler considers an overload that contains the type, even if it isn't used).

[2020-08-31 18:36] alrz commented on #44539
That would not cover one hundred percent of cases, consider this:

[code]
Sounds like we should complain if there is no definitive state on the parameter on exit point, and if there is, then we can decide what is correct in which case the stacked scenario becomes interesting.

[code]

[2020-08-31 18:49] cston commented on #46494
That is a distinct issue. When explicitly implementing (or overriding) a generic method with type parameter `T`, the compiler treats `T?` in the overridden method signature as `Nullable<T>` unless the overridden method includes an explicit type parameter constraint. That is for compatibility with code written before nullable reference type support was added in C#8.

The C#8 compiler allows an expl

[2020-08-31 18:59] RikkiGibson commented on #44539
I'm not sure what this means. In our analysis, the state of such a parameter at any point is either maybe-null or not-null. I don't think there's anything we can do about a scenario like this:

[code]

Our analysis is not able to distinguish the above scenario from one like the following:

[code]

That is, we don't know if the parameter has a maybe-null state because the argument is sometimes null

[2020-08-31 18:59] mavasani commented on #46687
@genlu @sharwell I have tagged this to be discussed at today's meeting so @genlu can be unblocked here. @tmat Would you be able to attend the design meeting today?

[2020-08-31 19:00] sharwell opened #47306 "Remove Humanizer from set of build analyzers"
Once the code style layer is updated to a version that includes #47297, the workaround in commit 73b5cb4a9a505cc7c685270246ad338918c6981c is no longer needed. The following changes should be made:

1. The explicit inclusion of **Humanizer.dll** as an analyzer should be removed
1. The `<PackageDownload>` line for **Humanizer.Core** should be removed

[2020-08-31 19:00] sharwell commented on #47306
This should be possible once 16.8 Preview 3 is publicly released.

[2020-08-31 19:20] jasonmalinowski commented on #47215
Comment from @davidwengier on how this is done elsewhere: https://github.com/dotnet/roslyn/pull/46949#discussion_r479585978

[2020-08-31 19:21] 333fred opened #47308 "Obsolete diagnostics not reported for delegate creation"
[code]

[2020-08-31 19:31] RikkiGibson commented on #47234
Is it possible the failing scenario is related to https://github.com/dotnet/roslyn/pull/39258#discussion_r336746816?

[2020-08-31 19:51] cston commented on #43334
@fitdev, thanks for reporting this issue.

It looks like this issue was fixed in https://github.com/dotnet/roslyn/pull/43181.

[2020-08-31 19:52] #43334 closed

[2020-08-31 19:54] CyrusNajmabadi commented on #47234
Quite possibly.  Note: i'm not sure why this is assigned to me.  Does compiler want to look at this, as i would expect this API to fall under the SourceText API.

[2020-08-31 19:55] CyrusNajmabadi commented on #47289
Closing as dupe of https://github.com/dotnet/roslyn/issues/46397.  Thanks :)

[2020-08-31 19:55] #47289 closed

[2020-08-31 20:36] JoeRobich commented on #47269
@mavasani What if we had an analyzer runner that ran at very low priority in the background and would collect diagnostics for the unconfigured style and quality analyzers. If there was a significant density of diagnostics reported for an analyzer then perhaps, we could pop up and say, "📎 - It looks like so and so analyzer could make your code more readable/higher quality. Would you like more infor

[2020-08-31 20:52] mavasani commented on #47046
@bordecal I have pushed a PR to add a note to the docs section. It should be live in a day or two.

[2020-08-31 20:57] Denis535 commented on #47276
@sharwell I think this is not a duplicate. [20870](https://github.com/dotnet/roslyn/pull/20870) was pull request. My issue is question how to do it (or something) without direct Roslyn support.

Can you tell how can I use `Microsoft.CodeAnalysis.BuildTasks.Csc` in my project? I honestly don't understand how to import it to my project.

[2020-08-31 21:03] CyrusNajmabadi commented on #46503
From teh design meeting.  We generally think that target typed completion should see the type being target typed.  If that type (generic or not) contains statics members that return values whoe type is complimentary (i.e. is the same type, or has an (implicit/identity?) conversion to the type), then we should show those members in the list.

So, for example, if did:

[code]

Then `CSharpParseOptio

[2020-08-31 21:05] Cosifne commented on #47269
Conclusion of the design meeting:
This a complex issue and we may need to have:
1. Make more classifications & more potential UI changes to handle this.
2. Have more clearly user story & doc.

Overall we need to have separate meeting to discuss it each case. I

[2020-08-31 21:06] #44761 closed

[2020-08-31 21:06] #44893 closed

[2020-08-31 21:07] CyrusNajmabadi commented on #46700
Design conclusion.  While thsi case is interesting, it is orthogonal to the cases @sharwell covers above.  As such, we can continue with his plan without impacting this.  We will wait to see if there is enough feedback from users that they care about the less-explicit target-typing cases to warrant us supporting a diagnostic/fix to find and update those as well.  Note: if there is user interest, w

[2020-08-31 21:08] Cosifne commented on #47269
@mavasani
Since this will need more discussion I will not move it to completed and put it under 'Needs update'

[2020-08-31 21:11] terrajobst opened #47310 "The compiler should include the URL in the command line output"
For diagnostics that have a URL (e.g. the new obsolete attribute or custom analyzers) the compiler should include the URL when printing messages. This is especially useful on the command line or when troubleshooting CI failures.

We just got more customer feedback (from internal teams) that they didn't find the IDE's rendition of the URL discoverable, which I previously raised as well (#42103). Ad

[2020-08-31 21:22] mavasani commented on #47269
@JoeRobich Your idea seems to match @vatsalyaagrawal's ideas about doing offline/background analysis with disabled by default analyzers and somehow surface those results to the users as a discoverability point. I think that is a very nice idea and compliments this space and we are going to try out things in that space.

[2020-08-31 21:25] Cosifne commented on #47228
Design meeting conclusion:
If the file header template parses it as a comment valid in the target language treat it as verbatim instead of just text content.

[2020-08-31 21:29] Cosifne commented on #47005
Design meeting conclusion:
1. We will not bring the old behavior back. VB.Net is not VB 6.
2. We have the intension to have a different 'focus mode' for PM to design. This mode will bring the benefits of the old feature in a more modern way.

[2020-08-31 21:39] CyrusNajmabadi commented on #47005
3. we may also consider a "collapse all but this method" option to outlining.

[2020-08-31 22:17] Cosifne commented on #46503
Another point from the design meeting:
Do we want fully qualified member in the completion, or we put the type and require user to hit dot?
We want to both.

[2020-08-31 22:31] RikkiGibson commented on #47292
@chsienki @jasonmalinowski this feels slightly odd, should the compiler care whether or not a user's AdditionalFile is in a binary format or not?

[2020-08-31 22:58] #45723 closed

[2020-08-31 23:05] dibarbet commented on #44359
Resolving, now that the content type is C# this is no longer applicable.

[2020-08-31 23:05] #44359 closed

[2020-08-31 23:29] dibarbet commented on #43545
resolved by c#_Lsp content type removal

[2020-08-31 23:29] #43545 closed

[2020-08-31 23:42] RikkiGibson commented on #40975
Will solve at the same time as #40818

[2020-08-31 23:56] #47272 closed

[2020-09-01 00:11] jaredpar commented on #47310
What URL are you speaking about here?

[2020-09-01 00:18] GrabYourPitchforks commented on #47310
The optional URL that's associated with the `ObsoleteAttribute`. See for instance:

https://github.com/dotnet/runtime/blob/407f8f7a4ea707b94a6a8b8fef19e47f9033e898/src/libraries/System.Threading.Thread/ref/System.Threading.Thread.cs#L53-L54

[2020-09-01 00:22] Zannick opened #47317 "VS2019 suggests null-coalescing operator rejected by compiler"
**Version Used**: 16.7.2

<details>
<summary>Full Versions</summary>

[code]
</details>

**Steps to Reproduce**:

Case 1:
Code includes nullable object and the `??` operator used to instantiate the object once:
[code]
VS suggests IDE0074 to change getter to `{ return enums ??= new List<Type>(); }`

Case 2:
Write invalid code using the `??` operator on non-nullable types.
[code]
VS reports `CS0019:

[2020-09-01 00:26] CyrusNajmabadi commented on #47317
I don't see why not.  The code is invalid before.  It remains equally invalid after.  In general we don't limit our features in invalid code, since invalid cod is the *norm* during editing sessions.  For all we know, you're going to change it to an `int?` later.  But we don't want to force you to have to make that change first before offering the simplification that would valid for `x ?? (x = ...)

[2020-09-01 00:27] vsfeedback opened #47318 "Pressing tab should take me out of the parenthesis after invoking a method"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1167645/pressing-tab-should-take-me-out-of-the-parenthesis.html)._

---
<p>[severity:I’m somewhat annoyed. A fix would be nice]<br>
Please take a look at the attached videos for a clear explaination.</p><p><strong>Current behavior:</strong></p><p>When writing a method name

[2020-09-01 00:30] CyrusNajmabadi commented on #47317
@dotnet/roslyn-compiler  @333fred do you know why trying to use `??=` results in:

[code]

I would have thought this feature was well out of preview.

[2020-09-01 00:31] CyrusNajmabadi commented on #47317
Oh, nevermind.  User is on an old version of VS.  This was fixed with https://github.com/dotnet/roslyn/pull/44798.  Closing out :)

[2020-09-01 00:31] #47317 closed

[2020-09-01 00:34] CyrusNajmabadi commented on #47317
Just to be clear on this point.  Code transformations are not expected or intended to just fix errors.  They are often to help people manipulate code *regardless* of the current error state.  This falls into that category.  If you have `x ?? (x = y)` we offer to covert that to `x ??= y`.  We do that when the current code is legal and the transformation does not change semantics.  And we offer it w

[2020-09-01 00:35] CyrusNajmabadi commented on #47292
I would expect so.  Don't we expose this through Document/SourceText.  These are *string* oriented abstractions.  That's why they need encodings and whatnot.  We'd need an entirely new binary abstraction for roslyn (through the entire stack) to support this.

[2020-09-01 00:36] Zannick commented on #47317
Good point, thanks. :)

Haha, and I even updated to the latest first! :p

Thanks!

[2020-09-01 00:38] mikadumont commented on #47318
Below are two options we can look into:

1. Change the behavior so the completion list won't open if the method accepts no argument.
2. Change the IntelliSense behavior when something is soft selected and press tab it wont commit the word but bring the cursor outside the invocation. (keep in mind there won't be a way to commit soft selected items except with a mouse)

[2020-09-01 01:09] JoeRobich commented on #46235
Fixed in https://github.com/dotnet/roslyn/pull/47130

[2020-09-01 01:09] #46235 closed

[2020-09-01 01:33] MichaRotstein opened #47613 "record Equals/GetHashCode - use CompilerGenerated attribute"
Is there a reason why the compiler generated Equals and GetHashCode for C# 9 records are not annotated with [CompilerGenerated] ?

Can this be added ?

[2020-09-01 02:31] RikkiGibson commented on #47317
The fix #44798 should be in latest VS 16.7, going by:

[code]

i.e. our VS 16.7 release branch contains the commit 6b3ce16

[2020-09-01 03:43] davkean opened #47322 "Navigating back and forth between documents quickly NullRefs"
**Version Used**:
Version 16.8.0 Preview 3.0 [30431.102.main]

**Steps to Reproduce**:

1.  No repro, but it happens a few times a day when I quickly switch between documents using Back and Forth on my mouse

**Expected Behavior**:

[code]

[2020-09-01 05:36] davkean opened #47323 "When the CodeAnalysis service hub disappears the IDE becomes unusable with no indication of what went wrong"
**Version Used**:
Version 16.8.0 Preview 3.0 [30431.102.main]
Logs: [61651F3E-ManagedLanguage.IDE.RemoteHostClient-34884-z51jey5n-1.zip](https://github.com/dotnet/roslyn/files/5154135/61651F3E-ManagedLanguage.IDE.RemoteHostClient-34884-z51jey5n-1.zip)

My Visual Studio become pretty usable and I had no idea what was wrong, things I experienced:

1) Errors stopped being populated in the Error List

[2020-09-01 05:39] #46821 closed

[2020-09-01 05:44] Speeedy01 opened #47324 "OpenSolutionAsync fails with IBuildEngine7 could not be loaded"
**Version Used**:
Visual Studio 16.7.0
"Microsoft.Build" version="16.6.0"
"Microsoft.Build.Engine" version="16.6.0"
"Microsoft.Build.Framework" version="16.6.0"
"Microsoft.Build.Locator" version="1.2.6"
"Microsoft.CodeAnalysis" version="3.7.0"

**Steps to Reproduce**:

Use: [ReportError.zip](https://github.com/dotnet/roslyn/files/5154137/ReportError.zip)

1. The main code:
[code]
2.  Foo1 is a sol

[2020-09-01 06:09] davkean opened #47328 "Completion support for conditional constants"
By default, legacy and SDK-based projects provide "built-in" conditional constants that are given to projects by default.

In legacy, this was easier to remember as it was "DEBUG" or "RELEASE".
In SDK-based projects, this is much harder to remember as there are more.  For example if you are targeting .NET Framework 4.5, you get: `NETFRAMEWORK`; `NET45`; `DEBUG` (Debug) and `NETFRAMEWORK`; `NET45`;

[2020-09-01 06:32] encrypt0r commented on #47318
Hi, following Gen Lu's workaround fixed the issue.

Note: The checkbox was NOT selected, it was in third state (null)

[2020-09-01 07:59] jinujoseph commented on #47140
Suggestion bug tracked [here ](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1192226)

[2020-09-01 08:53] afbarksd opened #47329 ""Internal error in the Basic compiler" and Some Stepping Not Working"
I have been using Visual Studio 2017 for years in a large solution.  Today, for the first time, the Immediate window started showing "Internal error in the Basic compiler" some of the time when I tried to evaluate or modify variables.  Also, I was able to step into only some of the code.  One DLL into which I have stepped many times no longer allows it.  I tried cleaning the solution, deleting the

[2020-09-01 09:07] afbarksd commented on #47329
"Use the legacy C# and VB expression evaluators" would not allow me to set the values of variables nor have any effect on my being unable to step into code into which I stepped yesterday.

[2020-09-01 09:45] alrz commented on #44539
I think what I mean by that is that we branch on `p` state somewhere because the contract itself implies that we're checking `p` for null or not-null at some point. (however this will be an exception in stacked scenarios and where we return the arg itself).

Not quite sure if that's feasible to do but that first example is pretty much "doing something wrong" if not all of them.

[2020-09-01 10:14] Youssef1313 commented on #47291
I put a break-point in the first line of `VisitBinaryOperatorChildren`, but it wasn't hit at all.

[2020-09-01 10:56] Gavin-Williams opened #47331 "" is a type not supported by the language"
VS19: Version 16.8.0 Preview 2.1
.Net:  5.0.100-preview.8.20417.9

**Steps to Reproduce**:

1. I'm trying to build somebodies project (TerraFX) in VS. This is one of a few bugs being reported.

**Expected Behavior**:

No errors, other's are not reporting this issue.

**Actual Behavior**:

I get some errors - with this error being one of them...

1. " is a type not supported by the language
2. Cann

[2020-09-01 10:57] Gavin-Williams commented on #47331
That's how github formats code snippets from VS sorry.

[2020-09-01 13:24] ItsVeryWindy opened #47333 "analyzer with code fix template tests not passing"
**Version Used**:
Visual Studio 16.7.2

**Steps to Reproduce**:

1. Create new code fix using the analyzer with code fix template (C#)
2. Build and run tests

**Expected Behavior**:
All tests to pass
**Actual Behavior**:
Method2 test fails with
[code]

Not quite sure why this is happening, when debugging, it appears to be hitting the analyzer twice, first on line 11 and it finds the same symbol on

[2020-09-01 14:26] holc-tkomp commented on #45510
(SDK Preview 8 + VS Pro 16.8 Preview 2.0)

This works fine now for `net5.0` target framework, but if trying to target any of the `net461`, `net472`, `net48`, `netcoreapp2.1`, `netcoreapp3.1`, `netstandard2.0`, `netstandard2.1` error will still be thrown.

If dummy class is added, the other tfms works fine.

[2020-09-01 14:53] CyrusNajmabadi commented on #47329
@afbarksd can you provide us with a repro solution and a set of steps to reproduce the problem?

[2020-09-01 15:20] kevinchalet commented on #46494
@cston thanks for the detailed explanation! I must admit it was rather confusing as hell, but it's now much clearer 😃

[2020-09-01 16:16] Mrnikbobjeff opened #47335 "System.InvalidOperationException: This program location is thought to be unreachable in Binder.BindInitializerExpression"
**Version Used**:

**Steps to Reproduce**:

1. Clone [this analyzer source](https://github.com/Mrnikbobjeff/ParamsInLoopAnalyzer)
2. Run the ObjectParamsCall_SingleFix test case
3. See output

**Expected Behavior**:
The new syntax root should be used
**Actual Behavior**:
System.InvalidOperationException is thrown for unreachable code in Binder.BindInitializerExpression

Stack Trace:
    Binder.Bin

[2020-09-01 16:30] sharwell commented on #47318
Note that <kbd>Tab</kbd> is often not the most efficient way to step over parentheses in these cases, and it's likely that the use of <kbd>Tab</kbd> will continue to interfere with future features. Other options include:

* Typing <kbd>)</kbd> to type over the `)`
* Typing <kbd>;</kbd> to step outside the `)` _and_ insert the final `;`
* Typing <kbd>Shift</kbd>+<kbd>Enter</kbd> to behave like <kbd

[2020-09-01 16:37] RikkiGibson commented on #47291
Weird, maybe there's actually a different code path for `&&`. Given that I would break on [`ReportPossibleNullReceiverIfNeeded`](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs#L9084) and check the call stack, or if even that fails break on [`DiagnosticBag.Add`](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Diagno

[2020-09-01 17:07] cston commented on #46494
@kevinchalet, thanks for the feedback. Yes, the error is confusing. We'll look at improving the error message for these cases: see https://github.com/dotnet/roslyn/issues/46458.

[2020-09-01 17:34] afbarksd commented on #47329
Thanks for responding.  By "repro solution" do you mean an SLN file and accompanying code files that demonstrate the problems?  I might be able to do that if the problems occur in a new solution.  I'll try to do this if you answer affirmatively.  (As I wrote, the problems are occurring consistently in parts of the solution on which I am working but do not occur in all parts.  I cannot provide that

[2020-09-01 17:42] #46843 closed

[2020-09-01 17:46] ryzngard opened #47338 "Debug.Assert hitting in SemanticClassificationCacheIncrementalAnalyzer"
[code]

VS Build: Version 16.8.0 Preview 3.0 [30431.218.main]
Roslyn Commit Hash: 5c2cacb26035caaf4f36da78195453747c5559b7

[2020-09-01 17:47] ryzngard commented on #47338
If we want to continue to track hits on this we should convert to telemetry (such as NFE). Feel free to follow up with me on how we can track this

[2020-09-01 17:56] Youssef1313 opened #47340 "VB preferred modifiers order is inconsistent with C#"
Partial is set to be the first modifier in visual_basic_preferred_modifier_order

Opening per https://github.com/dotnet/roslyn/pull/47148#discussion_r481325911

[2020-09-01 17:59] CyrusNajmabadi opened #47341 "OOP doesn't synchronize non-C#/VB projects/documents."
Found while investigating a crash when a .js/.ts file is added to an asp.net project.

We make an oop call to ask about a specific document (in this case, a .ts file).  OOP tehn synchronizes with VS.  However, it has the following code in it:

https://github.com/dotnet/roslyn/blob/4341aaf7891193045e196c29ff42f674ebc0e84e/src/Workspaces/Remote/Core/AbstractAssetProvider.cs#L52-L57

This checks expl

[2020-09-01 18:06] sharwell commented on #47340
It is not a goal for the preferred modifiers in VB to be consistent with C#. It is only a goal that the modifiers in VB adhere to the defaults that a VB developer would expect in the complete absence of C#.

[2020-09-01 18:09] Youssef1313 commented on #47340
@sharwell In that case, partial also doesn't feel good to become first.
I think the main concern here is whether to accept this breaking change or not, right?

[2020-09-01 18:13] aolszowka commented on #40763
I believe we are encountering the same issue.

I can trigger OoM Consistently on a large solution if I do not build it outside of Visual Studio first. We are on Visual Studio 2019 Enterprise 16.7.2.

I have multiple Heap Dumps that I have uploaded to OneDrive and can provide them to you @tmat I would add a private comment on the linked Developer Community page with a link to the OneDrive but its l

[2020-09-01 18:33] Youssef1313 commented on #47328
Should this also show the defined constants in `<DefineConstants>` in *csproj* file?
or only a hard-coded set of values?

[2020-09-01 19:27] alohaninja commented on #41315
Was occurring for me in 16.6.3 - seems to be fixed now in 16.7.2

[2020-09-01 19:42] sharwell commented on #47340
I'm not a VB developer so I'm not sure what the expected default order is.

Whether or not we like the default value, the order we use for dotnet/roslyn should be explicitly set in .editorconfig.

[2020-09-01 20:34] RikkiGibson opened #47344 "Record parameters of generic types should give safety warnings on default values"
**Version Used**: e7bad77

**Steps to Reproduce**:

[code]

**Expected Behavior**: A safety warning is given on the implicit assignment to the synthesized property `Rec1<T>.t`.

**Actual Behavior**: No warnings are given.

**Remarks**:

Once we implement non-safety warnings for unconstrained generics in C# 9 we will be halfway there, but to handle this scenario correctly we need to figure out how

[2020-09-01 20:35] RikkiGibson commented on #47344
I expect to be able to solve this at the same time as #40818

[2020-09-01 20:56] ElectricErger commented on #26817
# Reproduction of Issue
Reproduced:

- Create an analyser (DiagnosticAnalyzer only, do not include an associated CodeFixProvider)
- Customize it to address a unique issue
- Add the analyser to a project that triggers the Diagnostic.
When the section comes into view, the error/warning/message disappears from IntelliSense.

Resolved:

Add an associated CodeFixProvider handle to the DiagnosticAnalyze

[2020-09-01 20:57] Youssef1313 opened #47345 "Ensure diagnostics from build are hookued up to the descriptor properties"
Ah, so CA1724 is a CompilationEndAction: https://github.com/dotnet/roslyn-analyzers/blob/889acde2cf6e09530ce0d6a8315324643d4af72f/src/NetAnalyzers/Core/Microsoft.CodeQuality.Analyzers/ApiDesignGuidelines/TypeNamesShouldNotMatchNamespaces.cs#L80

It will never run on live analysis, only on build, so it is the issue I initially thought. This will need a Roslyn feature request to ensure diagnostics f

[2020-09-01 21:13] Youssef1313 opened #47346 "Nullable warning isn't emitted when passing default to a struct parameter"
Repro:

[code]

The previous example throws NullReferenceException.

I think any struct containing a non-nullable reference type should have a warning when it takes the value "default".

[2020-09-01 21:18] #47231 closed

[2020-09-01 21:42] sharwell commented on #47346
This is blocked on the concept of non-defaultable value types being part of the language.

[2020-09-01 21:42] dibarbet commented on #44350
Closing as external https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1133651

[2020-09-01 21:42] #44350 closed

[2020-09-01 21:48] Youssef1313 commented on #47346
@sharwell Can you provide more info on that please?

[2020-09-01 21:48] sharwell commented on #26817
For the specific case where a diagnostic is reported by a Compilation End analyzer _and_ Full Solution Analysis is disabled, I'm not sure what the current expected behavior is. For other cases, this issue should be fixed by 16.8 Preview 3.

/cc @mavasani for FSA expectations

[2020-09-01 21:49] sharwell commented on #47346
https://github.com/dotnet/csharplang/issues/99#issuecomment-601792573

[2020-09-01 21:55] gafter commented on #46488
The latest decision is recorded in https://github.com/dotnet/csharplang/blob/master/meetings/2020/LDM-2020-07-20.md#private-fields-in-structs-with-skiplocalsinit and requires we run the strong version of analysis when the method is marked `SkipLocalsInit`.

[2020-09-01 22:07] gafter commented on #47068
@AlekseyTs Would you please work with @333fred and @mavasani to decide whether pattern-matching should be lowered in the CFG or not?

[2020-09-01 22:22] RikkiGibson commented on #43399
I think I can solve this at the same time as #40818

[2020-09-01 22:43] RikkiGibson commented on #32844
We are closer in 16.8 but I think this won't be quite right until parameter default values are part of the bound tree (we can visit the bound default value simply as an expression, and then check assignment of the "lowered" constant value to the parameter).

[2020-09-01 22:48] dibarbet opened #47347 "Remove dependency on IVsXMLMemberIndexService for quick info"
https://github.com/dotnet/roslyn/blob/9625a14e7405d7a3ea1dc77957d5293850b69cc8/src/VisualStudio/Core/Def/Implementation/DocumentationComments/VisualStudioDocumentationProvider.cs#L47

To be able to move quick info OOP, we need to remove the dependency on the IVsXMLMemberIndexService for metadata references.  The editor team is also planning on either deprecating this package or re-writing in manag

[2020-09-01 23:01] RikkiGibson opened #47348 "DefaultParameterArgument value can't be suppressed"
**Version Used**: e7bad77

**Steps to Reproduce**:

[code]

**Expected Behavior**: No warnings

**Actual Behavior**: error CS8017: The parameter has multiple distinct default values.

Related to #43399

[2020-09-01 23:36] Pilchie opened #47350 "Analyzers should be invoked only in a single phase when compiling Razor projects"
### Analyzer

**Diagnostic ID**: RS0016: `Symbol '{0}' is not part of the declared API.`

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.PublicApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers)

**Version**: v3.3.0 (Latest)

### Describe the bug

Razor projects have a two phase compile, where a project is compiled once, then that is used to gen

[2020-09-01 23:48] mavasani opened #47351 "NRE in Microsoft.CodeAnalysis.CSharp.Symbols.TypeSymbol.MakeExplicitInterfaceImplementationMap"
I haven't had luck getting a repro with a debugger attached, but the I don't think the root cause is in the analyzer.

To repro, I've had to run `build.cmd`, touch src\System.Windows.Forms.Primitives\src\System.Windows.Forms.Primitives.csproj, then `build.cmd` again. If I just invoke dotnet.exe exec ...\csc.dll @args.txt, no luck for me. Nor with adding another analyzer just to add a Debugger.Laun

[2020-09-01 23:49] mavasani commented on #47351
Tagging @RussKie

[2020-09-01 23:51] RikkiGibson opened #47352 "Parameter default values should be accessible from bound nodes and/or symbols"
Related to https://github.com/dotnet/roslyn/pull/47171#discussion_r477744390

Basically, the "true" default values for optional parameters depend on a variety of factors, including the call site and attributes used on the parameter. Many of these factors aren't resolved until lowering of a call. It feels like nullable analysis among other things could be more accurate if the following changes were

[2020-09-02 00:47] paul1956 commented on #47340
This is what Roslyn and WinForms use and I think most VB developers would be happy with.
[code]

[2020-09-02 01:04] mavasani commented on #26817
Compilation end actions for analyzers are executed only if Full solution analysis is enabled. So, in the default VS mode (Full solution analysis is disabled), these compilation end actions are never executed in live analysis. These are essentially build only diagnostics.

[2020-09-02 01:42] Gavin-Williams commented on #47331
The project was updated to support v8 of the .Net 5 preview. That has fixed this issue.

[2020-09-02 01:42] #47331 closed

[2020-09-02 02:17] #38256 closed

[2020-09-02 06:10] YairHalberstadt opened #47357 "Rename record results in extremely odd behavior"
**Version Used**: VS 16.8 preview 2

**Steps to Reproduce**:

When renaming a record in visual studio, it replaces the parameter list with a duplicate of the record name:

![rename-record](https://user-images.githubusercontent.com/29174528/91938108-0b141280-ecfc-11ea-980d-257a9d45a9fe.gif)

[2020-09-02 06:48] sharwell commented on #26817
@mavasani it's also possible to trigger the Compilation End actions via the Run Code Analysis command in Solution Explorer

[2020-09-02 06:50] Youssef1313 commented on #47340
If Partial is preferred to be at first in VB, then I think we shouldn't override that in editorconfig

[2020-09-02 08:20] huoyaoyuan commented on #47357
Also hit this in 16.8P1. Forgot to open an issue for this.

[2020-09-02 09:19] Youssef1313 commented on #47346
Is that feature planned to be in C# 10? or no plans on it yet?

[2020-09-02 09:22] devsko commented on #47275
@sharwell
Adding `IncludeRuntimeDependency="false"` fixes the issue. The `GetDependencyTargetPaths` target in `SourceGeneratorSamples.csproj` should look like this. Everything works as expected and the generator project can be referenced by other projects like any other project.

[code]

[2020-09-02 09:22] #47275 closed

[2020-09-02 09:32] svick opened #47363 "NormalizeWhitespace breaks XML attributes in comments"
**Version Used**: 3.7.0

**Steps to Reproduce**:

Run the following code:

[code]

**Expected Behavior**:

No warnings.

**Actual Behavior**:

This seems to happen because `NormalizeWhitespace()` changes the code to:

[code]

Notice how there is no space before the `source` attribute, which is invalid XML.

Also, when running this code under a Debug build of the compiler on .Net Core, the followin

[2020-09-02 09:52] Youssef1313 commented on #47310
I may take this one.
But just to make sure I'm getting things correctly, is the fix like the following:

1. If UrlFormat is null or empty, keep the current behavior.
1. Otherwise, use a new error/warning message that shows the extra information using `string.Format(UrlFormat, DiagnosticId)`.

[2020-09-02 10:30] Youssef1313 commented on #46397
IntelliSense works for me in VS 2019 16.7.2

![image](https://user-images.githubusercontent.com/31348972/91970495-04939400-ed18-11ea-91ba-77a13b2ea552.png)

Has this been fixed by some PR?

[2020-09-02 11:09] allisonchou commented on #45815
Hit again here: https://dev.azure.com/dnceng/public/_build/results?buildId=798299

[2020-09-02 11:20] Youssef1313 opened #47364 "Signature help should use SymbolDisplayMiscellaneousOptions.AllowDefaultLiteral"
![image](https://user-images.githubusercontent.com/31348972/91974969-f301ba80-ed1e-11ea-9a08-816ef436baf1.png)

It's less noisy if IntelliSense just shows `default` instead of `default(CancellationToken)`.

[2020-09-02 11:27] chrarnoldus opened #47365 "IDE0047 false positive in dynamic expression"
**Version Used**:

Microsoft Visual Studio Enterprise 2019
Version 16.7.2, 16.8.0 Preview 2.1

**Steps to Reproduce**:

Enter the following code in the code editor:

[code]

**Expected Behavior**:

No suggestion.

**Actual Behavior**:

IDE0047 is reported suggesting removal of the parentheses. This is a false positive, because doing so changes the meaning of the code (`s11` is printed instead of `

[2020-09-02 11:37] Youssef1313 opened #47366 "Internal code comments are put in triple-slash doc comments"
https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.syntaxnode.findnode?view=roslyn-dotnet

I don't believe such a comment should be a doc comment.

There will probably be more occurrences of this. At least, I'd search with `///.+?TODO` regex in the repo to detect some of these issues.

[2020-09-02 11:54] Mrnikbobjeff commented on #47335
[This codefix provider](https://github.com/Mrnikbobjeff/ExtractToFieldAnalyzer) in the code fix unit test also triggers this behaviour

[2020-09-02 13:08] Youssef1313 opened #47371 "Visual Studio: Cannot access a disposed object"
![CannotAccessADisposedObject](https://user-images.githubusercontent.com/31348972/91987199-0bc59c80-ed2e-11ea-8dc8-bad37453cf4e.gif)

I don't have a clear repro steps on this :-(

It happened when I switched between branches from the the command line. The branches had different files in a project file, so VS asked to reload the project. After reloading, the problem in the GIF happened.

[2020-09-02 13:33] Youssef1313 commented on #47365
I believe the bug is in this part:

https://github.com/dotnet/roslyn/blob/2b12b9f3b8fe8895694280648b523bc4fd95211f/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ParenthesizedExpressionSyntaxExtensions.cs#L13-L75

Probably this method should special-case the "dynamic" case and just return false for that case.

[2020-09-02 14:14] denis-troller opened #47374 "Cdbl() does not work as expected"
**Version Used**:
Visual Studio 2019 v16.7.2 (Net Framework 7.4.2 / NetStandard 2.0 / NetCore 3.1)

**Steps to Reproduce**:

1. Create a NetStandard 2.0 class library project
1. Create a class A that implements IConvertible and returns double as its typecode
2. Create a method that returns Object and returns an instance of class A
3. Call Cdbl() on the object returned by previous method

**Expecte

[2020-09-02 15:04] Youssef1313 opened #47376 "[Feature Request]: Highlight TODO comments"
It would be nice if TODO comments are highlighted in a different color. If this is accepted, I'll be glad to implement this, but will need a starting point on how this should be done.

[2020-09-02 15:18] Happypig375 opened #47378 "Operator overloading of concrete IDictionary, IReadOnlyDictionary and both is inconsistent depending on whether the type arguments of the interfaces are concrete"
**Version Used**: latest master (e7bad77)

**Steps to Reproduce**:
https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAgrgOwD4AEAMABLgIwAsA3ALABQuAzMQEyEDChA3rYT8Y6QDZiZQgFkAFAEkAIgEsAxjFkB7TBAQBPADyl8SYiXwA+QgA8AlIQC8J0gDpSATnEAiEi/PUavPgaG4RCUkAJTgIABMAeUwAGw05RRU1TR1DfV0TC2tbEgcSZxcmDy8fBj9hMS0AFSNxKrNLAHcAC0Q4QnqQQhkFJVV1bV10wyN9ELCo2PjepIHUvQNjbIM8gvpi7l4ywQrRJmqAaTgNfSqANQgY9DhansT+lKqjk46Lq5uG5fsnV

[2020-09-02 15:34] mavasani opened #47379 "AD0001 in PlatformCompatibilityAnalyzer"
[code]

@mavasani The build showing this error after updating. Is it a roslyn-analyzers bug given that it doesn't happen before updating?

_Originally posted by @Youssef1313 in https://github.com/dotnet/roslyn/pull/47375#issuecomment-685801130_

[2020-09-02 15:37] CyrusNajmabadi commented on #47357
@jinujoseph Who is doing the ide test pass for records?

[2020-09-02 15:38] CyrusNajmabadi commented on #47340
`partial` has always been sorted first in VB every since that keyword was added.

[2020-09-02 15:41] CyrusNajmabadi commented on #47340
I think we should close this out. The order is inconsistent, but that's an intentional design choice based on the history of the languages. C# even required that partial not be reorderable, while vb allowed it. Vb also auto formatted this since the beginning. This naturally led to the different common styles for each language's ecosystems that we  are respecting. To me, there is no issue here.

[2020-09-02 16:37] akarpov89 opened #47380 "Simple Program: Synthesized simple program entry point must take nullable context into account"
**Version Used**:
Compiler version: '3.8.0-ci (<developer build>)'. Language version: preview.
Branch: master
Latest commit e7bad77

**Steps to Reproduce**:
Compile the following program:

[code]

**Expected Behavior**:
[code]
**Actual Behavior**:
Entry point isn't annotated with `[System.Runtime.CompilerServices.NullableContext(1)]`:

[code]

[2020-09-02 16:40] sharwell commented on #47366
The documentation comment allows the comment to be validated for `cref` accuracy, and also work with features like Find All References. You can use a `<devdoc>` element instead of `<remarks>` if you don't want the documentation to appear in public API documentation, but non-public APIs can use `<remarks>` for anything that might be useful from Quick Info.

[2020-09-02 16:42] sharwell commented on #47364
This was claimed to be fixed by #33056 for the 16.1 release.

[2020-09-02 16:47] sharwell commented on #47376
Duplicate of #25619

[2020-09-02 16:47] #47376 closed

[2020-09-02 16:48] jcouv opened #47381 "Brace completion on target-typed-new introduces a new line"
I intend to type `C c = new() { ... };` but a newline gets introduced, which is pretty annoying.

![target-typed-new-completion](https://user-images.githubusercontent.com/12466233/92012450-4e24b480-ed01-11ea-9478-5186a212b780.gif)

Relates to https://github.com/dotnet/roslyn/issues/46397

[2020-09-02 16:49] Youssef1313 commented on #47376
@sharwell The other issue is closed, is this tracked internally?

[2020-09-02 16:58] sharwell commented on #47376
Yes there is an internal tracking bug.

/cc @olegtk for another report of this feature request

[2020-09-02 17:04] svick commented on #47378
The output can't be 3, [if you comment out the first two `M2`s](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAgrgOwD4AEAMABLgIwAsA3ALABQuAzMQEyEDChA3rYT8Y6QDZiZQgFkAFAEkAIgEsAxjFkB7TBAQBPADyl8SYiXwA+QgA8AlIQC8J0gDpSATnEAiEi/PUavPgaG4RCUkAJTgIABMAeUwAGw05RRU1TR1DfV0TC2tbEgcSZxcmDy8fBj9hMS0AFSNxKrNLAHcAC0Q4QnqQQhkFJVV1bV10wyN9ELCo2PjepIHUvQNjbIM8gvpi7l4Aei2ywQrRJmqAaTgNfSqANQgY9DhansT+lKrT847r2/uG5fsn

[2020-09-02 17:05] terrajobst commented on #47310
It's not just about the URL of `ObsoleteAttribute`, it should apply to any diagnostic raised by analyzers as well, as they have a [URL property too](http://sourceroslyn.io/#Microsoft.CodeAnalysis/Diagnostic/DiagnosticDescriptor.cs,4a0a00cc5df1dbb4,references).

[2020-09-02 17:30] tamlin-mike opened #47382 ""Introduce Local" refactoring hard-coded to use CRLF"
https://github.com/dotnet/roslyn/blob/4602d5d227f19c59665deb3583d7c2abfe8e8611/src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService_IntroduceLocal.cs#L56

**Expected Behavior**: Refactoring following EOL convention of document.

**Actual Behavior**: Refactoring is hard-coded to introduce CRLF, turning LF-only documents into "MIXED" EOL sequence.

The referenced code was ju

[2020-09-02 17:43] Youssef1313 commented on #47382
Looks like this is common.

https://github.com/dotnet/roslyn/blob/4981a9848e7503c0dae7490883fae97cc20fdcb5/src/Features/CSharp/Portable/DocumentationComments/DocCommentConverter.cs#L60

https://github.com/dotnet/roslyn/blob/a06a8373abc1a9ab1574ae17f671bbce9f0d499e/src/Analyzers/CSharp/CodeFixes/UseObjectInitializer/UseInitializerHelpers.cs#L15-L16

https://github.com/dotnet/roslyn/blob/abe7a8a4146

[2020-09-02 17:59] safern commented on #46575
@RikkiGibson and @jaredpar  just FYI aspnet/extensions is hitting this as well:

[code]

[2020-09-02 18:15] alrz commented on #47381
Yup. The PR is up https://github.com/dotnet/roslyn/pull/47383, need feedback on test coverage.

[2020-09-02 18:21] jasonmalinowski opened #47384 ".editorconfig diagnostic suppressions don't apply to source-generated files"
The failures in https://github.com/dotnet/roslyn/pull/47252 demonstrate this, I think. We have this set in our .editorconfig:

https://github.com/dotnet/roslyn/blob/4602d5d227f19c59665deb3583d7c2abfe8e8611/.editorconfig#L221-L222

When we had the file checked in explicitly, then I'm guessing this took effect; when it's converted to source generator output, we're now getting warnings from the sourc

[2020-09-02 18:27] chsienki commented on #44116
Fixed as of https://github.com/dotnet/roslyn/commit/5ae370f7fe2db1fba4ed94d89ab2fae3b975114d

[2020-09-02 18:27] #44116 closed

[2020-09-02 18:39] sharwell commented on #47384
This particular rule should be in a global .editorconfig.

[2020-09-02 19:05] Youssef1313 opened #47385 "[Question] csproj's DefineConstants"
https://github.com/dotnet/roslyn/blob/2f510ce51a222f618e85a5084683ea41d1a70db2/src/CodeStyle/Core/Tests/Microsoft.CodeAnalysis.CodeStyle.UnitTestUtilities.csproj#L8

https://github.com/dotnet/roslyn/blob/5d8e2beae1da0c2d789d92b57cac9ff900aa529f/src/ExpressionEvaluator/Core/Source/ResultProvider/NetFX20/ResultProvider.NetFX20.csproj#L8

Are both `,` and `;` supported? or one of the above is buggy?

[2020-09-02 19:24] cristianosuzuki77 opened #47386 "[loc][query] Assistance with translation"
**Version Used**:

**Steps to Reproduce**:

String Resource ID | 0; "IDS_Return"
-- | --
Source String | return
Subtenant | dotnet_roslyn
Source Control Link |  
Filename | Compilers\CSharp\Portable\xlf\CSharpResources.xlf
Question | Please, could you confirm if "return" can be translated in this case? If yes, could you confirm if it is a verb or a noun?

**Expected Behavior**:

**Actual Behavior*

[2020-09-02 19:26] gafter opened #47387 "VB should emit PreserveBaseOverridesAttribute on methods with methodimpl for a class override"
If and when the VB compiler produces a methodimpl entry for an override of a class method (see `OverrideHidingHelper.RequiresExplicitOverride(implementingMethod)`), it should also produce the attribute `PreserveBaseOverridesAttribute` on the method. This is per recent runtime specification changes (see https://github.com/dotnet/runtime/blob/master/docs/design/features/covariant-return-methods.md),

[2020-09-02 19:30] Youssef1313 commented on #47386
Here is a full statement (as an example only) where this resource is used:

I *think* it's okay if it's translated.

[2020-09-02 19:51] jcouv commented on #45900
FYI @CyrusNajmabadi

[2020-09-02 19:54] jcouv commented on #44510
This specific scenario seems to work now:
![image](https://user-images.githubusercontent.com/12466233/92030075-5f7aba80-ed1b-11ea-8159-6b1a2874a7ee.png)

[2020-09-02 19:55] jcouv commented on #44559
Tagging @CyrusNajmabadi Let's consider for 16.8.

[2020-09-02 19:57] jcouv commented on #44558
From discussion with @CyrusNajmabadi, let's take a stab for 16.8, otherwise push to 16.9.

[2020-09-02 20:14] ajaybhargavb opened #48573 "Razor LSP: Bad completion experience when typing numbers"
![intcompletion](https://user-images.githubusercontent.com/1579269/92031876-2728ab80-ed1e-11ea-86db-4090bdbf5021.gif)

[2020-09-02 20:16] jcouv commented on #45961
Duplicate of https://github.com/dotnet/roslyn/issues/44558

[2020-09-02 20:16] #45961 closed

[2020-09-02 20:19] jcouv commented on #44558
Assigned to @allisonchou since the duplicate issue had been assigned to her.
This may require new semantic model APIs to be able to update the base list (change signature on `Base` should update `record Derived(int i) : Base(...);`.
We should verify that callers are updated (`new Person(....)`), but we expect that to just work.

[2020-09-02 20:21] jcouv commented on #46985
The name of the record is also not correctly classified:
![image](https://user-images.githubusercontent.com/12466233/92032534-32c8a200-ed1f-11ea-8c3e-7392fa146f2f.png)

[2020-09-02 20:25] jcouv commented on #47042
Let's confirm whether this is an IDE or compiler (parsing) issue.

[2020-09-02 20:41] jcouv commented on #45317
`data` properties were dropped from C# 9 and not yet implemented.

[2020-09-02 20:41] #45317 closed

[2020-09-02 20:42] panopticoncentral opened #47390 "Disable reference conversion during Solution Close operations"
This is a tracking bug for the work to disable P2P -> assembly reference conversion when closing a project during solution close (since obviously all projects are going to be closed). Thanks for the fast turnaround!

[2020-09-02 21:20] sharwell commented on #47385
Both are supported. `,` is documented as correct, but `;` is more common in practice. I prefer to use the documented separator, but best policy here is to leave them as they are found.

[2020-09-02 21:20] #47385 closed

[2020-09-02 21:24] sharwell commented on #47382
The high-level issue here is #19306. `ElasticCarriageReturnLineFeed` (as opposed to `CarriageReturnLineFeed`) should be updated by the formatter during code fix post-processing to follow the correct line endings. For this particular case, the use of `ElasticCarriageReturnLineFeed` is correct but the formatter is either not being used by the feature or is not correctly detecting/converting the line

[2020-09-02 21:24] Youssef1313 opened #47392 "Potential optimization for `is ""`"
Based on the current master in sharplab:

https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEDMACFAmDBhAWACgBvYjCrTYAexoBsMBZAChuACs4BjGDADwCU5SmSKUJWAOwCMASygYAREoDcIigF9imoA==

The following:

[code]

is compiled as:

[code]

It's a bit more performant if `return text == ""` is `text.Length == 0`.
That would be a special-casing for this, which I'm unsure if it's acceptable to the compiler team or not.

[2020-09-02 21:33] sharwell commented on #47286
This is caused by the snippet engine handling the <kbd>Tab</kbd> key after the text `for`. Tentatively marking this as **By Design** but will update following design review.

[2020-09-02 21:39] jinujoseph commented on #47135
cc @ryzngard

[2020-09-02 21:40] jinujoseph commented on #47142
cc @CyrusNajmabadi

[2020-09-02 21:41] jinujoseph commented on #47143
cc @CyrusNajmabadi

[2020-09-02 21:41] sharwell commented on #47143
Duplicate of #47142

[2020-09-02 21:41] #47143 closed

[2020-09-02 21:53] JoeRobich commented on #47201
Fixed in https://github.com/dotnet/roslyn/pull/47320. We simplified and removed a faulty heuristic which was setting the configured ColorScheme to VS2017.

[2020-09-02 21:53] #47201 closed

[2020-09-02 22:08] paul1956 commented on #10214
This issue impacts new VB Templates in Microsoft Visual Studio Community 2019 Preview
Version 16.8.0 Preview 2.1. VB analyzer template needs code cleanup (polish) #598.

[2020-09-02 22:09] RikkiGibson commented on #46575
The latest compilers from the VS 16.8 channel should not have this issue. Is there a PR which updates the roslyn dependency for that repo?

[2020-09-02 22:12] safern commented on #46575
Yes, we're updating it to the same version as dotnet/runtime.

[2020-09-02 22:13] jaredpar commented on #47386
In this context "return" is an adjective on "type".

[2020-09-02 22:14] vsfeedback opened #47393 "Find All References does not find implicitly typed usage"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1169933/find-all-references-does-not-find-implicitly-typed.html)._

---
When using Find All References on a type (specifically a class), my expectation is that this will list all code where the type is used. If the type is used implicitly, by being inferred by the compiler,

[2020-09-02 22:14] jaredpar commented on #47384
Can you elaborate on the context in which you see this rule: when building on the command line, when opening the synthensized file in the IDE, etc ...?

[2020-09-02 22:18] vsfeedback opened #47394 "Interface extension method not found by VS"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1170704/interface-extension-method-not-found-by-vs.html)._

---
[severity:Other]
Hi

It's legal in c# to define an extension method for an interface. A class implementing this interface must be able to call that method. Strangely, this works properly for `this. CallExtensio

[2020-09-02 22:22] jaredpar commented on #47378
This behavior is by design. The issue here is that C# doesn't support this type of inference. Here is a more concise sample that shows the problem:

[code]

The language rules don't allow the inference of `TElement` here through the relationship defined in the constraint. Hence the method `M` is essentially uncallable without explicitly specifying the generic arguments. The same is the case with t

[2020-09-02 22:22] #47378 closed

[2020-09-02 22:32] RikkiGibson commented on #46575
Could you please link the PR?

[2020-09-02 22:34] safern commented on #46575
This is one: https://github.com/dotnet/aspnetcore/pull/25545

@Anipik do you have the one for extensions?

[2020-09-02 22:36] Youssef1313 commented on #47394
This behavior is *probably* correct. Extension methods are meant to be called on an instance of their first parameter, which in this case is `this`. An alternative to call the extension method in this case will be `ISampleExtension.GetSomething(this);` (which is uncommon to be used in C#, but it's valid).

[2020-09-02 22:38] mikadumont opened #47396 "VS2019 doesn’t want to respect my solution’s .editorconfig’s C# tab settings when it auto formats code"
Direct customer ask copying here:

o	I generated the .editorconfig initially using the IntelliCode generator, then changed the indent style to tabs
o	When I type the ‘}’ character and it ends up auto formatting to try and place my cursor in between the {} on a empty line. I have to Ctrl Z to get out of the auto formatting
o	When I use refactoring suggestions, like converting a switch statement to

[2020-09-02 23:16] RikkiGibson commented on #46575
That is surprising and unfortunate. We didn't think that the bug would reproduce for compilers that do not contain #44447. It might be necessary, unfortunately, to take a later compiler which includes #47007, the earliest of which is 3.8.0-3.20421.3

[2020-09-02 23:20] carlossanlop opened #47399 "Misleading type error with implicit operator in generic type, from generic argument type to that generic type, when the generic argument is an interface"
---
**Issue moved from dotnet/core#3939**
- Please respond to @markonius.

---

_From @markonius on Sunday, December 1, 2019 7:16:44 PM_

Fedora 31, dotnet 3.0.100

When using an implicit operator from a type variable `T` to a concrete type, if the type argument is an interface, a misleading error is shown: `Cannot implicitly convert type 'SomeType' to 'SomeGeneric<SomeType>'. An explicit conversi

[2020-09-02 23:20] CyrusNajmabadi commented on #47399
I moved this to Roslyn.  Issues with error messages are under the purview of the compiler, not the language itself.  Thanks!

[2020-09-02 23:21] safern commented on #46575
FYI: @dougbu in case you don't want to downgrade

[2020-09-02 23:27] CyrusNajmabadi commented on #47394
Closing out as this behavior is correct as per the language specification.  Extension methods are only found when accessed off of an explicit receiver.  i.e. `foo.Extension()`.  an implicit receiver (like an implicit `this`) does not count.

Customer can propose a language change at dotnet/csharplang if they would like that behavior to be supported.

[2020-09-02 23:27] #47394 closed

[2020-09-02 23:36] CyrusNajmabadi commented on #47347
i wouldn't mind this being avialble through IServiceBroker.  IT would certainly be something at least Roslyn/F# would want to That said, all we probably really need is

[2020-09-02 23:44] #47390 closed

[2020-09-02 23:47] dougbu commented on #46575
(I hope to get dotnet/aspnetcore#25545 in as soon as I hear from my co-workers about the macOS timeouts we're also hitting and that I'm changing there. But, we can follow up later if necessary and I may not hear back today.)

Choosing a newer version of Microsoft.Net.Compilers.Toolset and leaving it unpinned in aspnetcore and aspnetcore-tooling is our current plan for the master branches now that

[2020-09-02 23:50] CyrusNajmabadi commented on #47392
That feels like a runtime optimziation to make.  `text == ""` is totally idiomatic and should be jittable to whatever the fastest string check is we can muster.  @jkotas thoughts?  Should this move to jit?

[2020-09-02 23:55] CyrusNajmabadi commented on #47393
This is currently the design of FindReferences.  There are no known approaches we can take here that can provide results while also meeting our objectives around performance of the feature.

[2020-09-02 23:59] CyrusNajmabadi commented on #47210
there have been several times when i've navigated or copied these.  for example, for use in other tools.  i don't like when my toolsm make me copy the text out of this, put into a new file that i have to save, just to use it with something else.

[2020-09-02 23:59] safern commented on #46575
Since we don't need a compiler feature in runtime or extensions I don't think we will put up an update just to get a "newer" compiler in RC1/2 however we can do it in runtime or arcade master to dog food

[2020-09-03 01:26] #44208 closed

[2020-09-03 01:32] jkotas commented on #47392
This is a special case of https://github.com/dotnet/runtime/issues/33338 .

[2020-09-03 01:41] #40818 closed

[2020-09-03 01:41] #40975 closed

[2020-09-03 01:41] #47344 closed

[2020-09-03 01:41] #43399 closed

[2020-09-03 01:46] davkean opened #47408 "Solution Crawler should suspend operations during solution close"
In https://github.com/dotnet/roslyn/pull/47359, we suspended turning project references -> binary references during solution close.

@sharwell had a further suggestion:

This bug is representing that suggestion.

[2020-09-03 01:47] allisonchou opened #47410 "Flaky test - TestConcurrentGetAnalyzerDiagnostics_SymbolStartAnalyzer"
Microsoft.CodeAnalysis.CSharp.UnitTests.GetDiagnosticsTests.TestConcurrentGetAnalyzerDiagnostics_SymbolStartAnalyzer

Failing build: https://dev.azure.com/dnceng/public/_build/results?buildId=799524&view=results
(I've also seen this test fail a few times over the last few days.)

Error:
[code]

Stack trace:
[code]

[2020-09-03 01:48] davkean commented on #47408
tag @mavasani

[2020-09-03 02:41] chsienki commented on #47384
I think this is essentially a dupe of https://github.com/dotnet/roslyn/issues/44223

We're not parsing the generated files according the the editorconfig settings

[2020-09-03 02:54] chsienki commented on #47384
Oh, hang on. Yeah this is _sort of_ by design I think. The generated files essentially live outside of the source tree completely (I mean, in memory they might not even have a path), so normal editor config rules are never going to match them.

We *could* make `[*]` match them, but that'd technically be against the editoroconfig spec, becuase that really means 'everything in this dir, recursively'

[2020-09-03 03:25] gafter commented on #46593
Repro [here](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+sEFcDGMABAPK7wICwAUAN41GNE4HEDKDT91TvRAAgEYAbAIAsRALIAKIQAYiARwCUnPkW7r1bZkQC8RAHZwA7kTbTlAbjVbGQgHQBhAPaGoLgDZwHAdQQAlvDSUMwmQfgAFrZ2mnZatEQACiBEgkQAvkQmkXCGRhBgcC4AZtIAisr6Bor6AHxpSDHxjIkpRABMmfWdTTwtfAD6PQDMfQOZ1s2MGTTTRAGGxEk9gjb9M3MbAiMLS0Tlq+uz1EA==):

[code]

[2020-09-03 04:45] Dogwei opened #47411 "(CSharpScript + linq + await) will compile errors!"
**Version Used**:

Rolsyn: 3.7.0
.NET Core: 3.1

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Compile normally!

**Actual Behavior**:

Compile error!

[2020-09-03 04:46] Dogwei commented on #47411
![微信截图_20200903124553](https://user-images.githubusercontent.com/14845492/92072268-71c02b80-ede3-11ea-957b-43956c0fbe0a.png)

[2020-09-03 05:17] loic-sharma commented on #43331
Hello, going forward this index will be updated by the nuget.org team. If you have any problems, please create an issue on our GitHub account: https://github.com/nuget/nugetgallery

[2020-09-03 05:19] tmat commented on #47347
Are doc comments any different from other indexes we have? Couldn't our OOP metadata reference cache also provide XML doc comments? Not sure why would an editor need to implement this. Doesn't seem to be related to the editor at all.

[2020-09-03 05:21] #43331 closed

[2020-09-03 05:37] tamlin-mike commented on #47382
@sharwell From the name **CarriageReturnLineFeed** it seems logically impossible to me that it could ever emit anything else than MS-DOS EOL sequence CRLF. Perhaps identifiers with such names should be renamed **Newline**?

If compat is an issue to the point you can't remove that (and other?) identifier(s), just introduce a new property with semantically correct name, as opposed to character-corre

[2020-09-03 05:42] sharwell commented on #47382
@tamlin-mike The key in the name is "elastic", which means the token has a content hint but allows for whitespace adjustment by the formatter as part of final application of a change. CRLF is the most common line ending, so `ElasticCarriageReturnLineFeed` is the mechanism by which we represent the most common scenario while allowing for variations without the need for _every single code transforma

[2020-09-03 08:43] bipinacellere opened #47413 "RegisterCompilationEndAction not getting called"
**Version Used**:
3.7.0

**Steps to Reproduce**:

1. Using Visual Studios 2019 16.7.2 version.
2. Following code :

[code]
**Expected Behavior**:
AnalyzeCompilationEnd method should be called after Compilation End.

**Actual Behavior**:
AnalyzeCompilationEnd is never called.

[2020-09-03 08:55] vchirikov commented on #37876
Faced the same problem, workaround with global .editorconfig doesn't work :(
A workaround is to use`<NoWarn>` :(

[2020-09-03 09:29] b-straub opened #47414 "Microsoft.CodeAnalysis.Common dependency warning"
**Version Used**:

Microsoft Visual Studio Community 2019 Preview
Version 16.8.0 Preview 2.0

.Net 5.0.100-preview.8.20417.9
Microsoft.CodeAnalysis.Common 3.8.0-2.final

**Steps to Reproduce**:

1. Build a project using Microsoft.CodeAnalysis.Common

**Expected Behavior**:

No Build Warning

**Actual Behavior**:

warning NU1603: Microsoft.CodeAnalysis.Common 3.8.0-2.final depends on System.Collect

[2020-09-03 10:41] johnallers commented on #38697
Doesn't seem like this is an issue anymore now that the wiki has been moved to the docs folder (#41157).

[2020-09-03 11:12] CreateAndInject opened #47415 "BringIntoView doesn't work from the CodeLens if the document is closed."
**Version Used**: 16.7.2

**Steps to Reproduce**:

1. Create a Console Application with the following 2 files:

Program.cs:
[code]

Class1.cs:
[code]
2. Click `2 references` of method `Class1.Test` in CodeLens and click `Dock Popup`
3. Close All Tabs
4. DoubleClick `Class1.Test();` in CodeLens

**Expected Behavior**: `Class1.Test();` is in the vision when open the document

**Actual Behavior**:`Cl

[2020-09-03 12:09] Youssef1313 commented on #24076
Is this something you want to fix?

[2020-09-03 12:19] spottedmahn commented on #38697
Great!

New wiki page location: https://github.com/dotnet/roslyn/blob/master/docs/wiki/Building-Testing-and-Debugging.md

Works, thanks!

[2020-09-03 12:19] #38697 closed

[2020-09-03 12:38] Thaval opened #47419 "No documents in projects"
**Version Used**:
3.7 (Microsoft.CodeAnalysis)
**Steps to Reproduce**:

1. Create a solution
2. Add some projects  (.NET Core: Console, WPF, XUnit Test) to it and some CSharp/XAML files to the projects
3. Create another project into the solution and load the complete solution using roslyn
4. Iterate over projects and check the HasDocument and DocumentIds.
5. Verify the HasDocument = false and Docu

[2020-09-03 13:39] huoyaoyuan commented on #39253
Even on older language/framework, `ReferenceEquals(other, null)` still gives better performance with readability.

[2020-09-03 13:58] mavasani commented on #37876
@vchirikov I have verified that the issue is now resolved in internal 16.8 Preview3 dogood builds with recent global analyzer config changes from @chsienki. Attaching the modified class library from the issue description with a global analyzer config instead of a ruleset and it does the same job.
[ClassLibrary28.zip](https://github.com/dotnet/roslyn/files/5169078/ClassLibrary28.zip)

[2020-09-03 13:58] #37876 closed

[2020-09-03 15:51] CyrusNajmabadi commented on #24076
We weighs need to decide if vb was getting warning waves first. :-)

[2020-09-03 15:54] mavasani commented on #47061
Duplicate of https://github.com/dotnet/roslyn/issues/47410

[2020-09-03 15:54] #47061 closed

[2020-09-03 16:03] sharwell commented on #47382
This may have been enough to change the name of the identifier back in the Roslyn 1.x timeframe (Visual Studio 2015), but at this point we have a stable public API so the best we can realistically do is educate on the expected behavior given the names that already exist.

More C# source files use CRLF than use LF. Therefore, when `ElasticCarriageReturnLineFeed` gets formatted, it is more likely to

[2020-09-03 16:13] CyrusNajmabadi commented on #47382
That's because that is the undisputable fact of it :-)

Our trees are concrete (not abstract) syntax trees. That means every character must be accounted for explicitly. When we add some sort of "new line" that actually must explicitly contain the characters that represent it.

*However*, we then transform that tree through a series of passes. For example, a formatting pass that will adjust new cod

[2020-09-03 16:18] CyrusNajmabadi commented on #47382
EmitLiteralIdentifierSequenceForXCoordFollowedByYCoordFollowedByZCoord,
expecting it to emit "XYZ", but when executed it emits "ABC"? To me, that would be a "WTF?" head scratcher.

This isn't an accurate analogy here.

This is more like you call EmiyXYZ, but then there's a transformation pass that says NormalizeXyzToAbc. The code you generate is what you asked it to be. But that's just at one part

[2020-09-03 16:57] jasonmalinowski commented on #47384
So what happens if we change the behavior and say that a global .editorconfig has rules outside a glob that are global, but the globs still otherwise apply normally? In other words, it only controls the interpretation of the stuff outside a glob. I recognize there's an intent here to somehow let the global ones also apply globs to absolute files, but is that a common scenario? or, at least more co

[2020-09-03 18:35] #46623 closed

[2020-09-03 18:38] Youssef1313 commented on #40015
@gafter @CyrusNajmabadi Is this still an issue?
These tests seem to exist un-skipped in master.

[2020-09-03 18:45] RikkiGibson commented on #43795
We'd like to add IDE feature buddies as assignees to the feature test plan. Since I am lead to believe you are the buddy for this feature I'm going to add you as an assignee even though the issue is closed @CyrusNajmabadi. /cc @jinujoseph

[2020-09-03 18:48] Youssef1313 commented on #32029
@gafter I cannot find these tests.

[2020-09-03 19:13] #46494 closed

[2020-09-03 19:40] RikkiGibson opened #47423 "Disallow use of 'async' in unsafe contexts"
It appears to be allowed in the language to combine the 'async' and 'unsafe' modifiers in a method signature:

[code]

Note that:
- Parameters or returns of pointer types are not permitted inside this method.
- Locals of pointer types are permitted inside this method.
- 'await' is not permitted in an unsafe context, so we can't use it inside this method.

This method will always give a warning or

[2020-09-03 19:48] RikkiGibson commented on #47423
Tagging @jmarolf

[2020-09-03 20:10] rolan18 commented on #39682
I was able to get it working by adding the following to the project file:
[code]
I'm not going to claim that I know if every property is necessary, but this will put the dlls from the package into your analyzers folder in the nupkg.

[2020-09-03 20:22] #46847 closed

[2020-09-03 20:23] chsienki commented on #46158
We've added an overload in an upcoming release that takes a string, and doesn't require encoding, as well as throwing an exception much earlier if you provide a source text without encoding.

[2020-09-03 20:23] #46158 closed

[2020-09-03 20:24] chsienki commented on #46084
This was implemented as part of https://github.com/dotnet/roslyn/pull/46804

[2020-09-03 20:24] #46084 closed

[2020-09-03 20:29] chsienki commented on #47384
I think the design of global editor configs is sound, and makes sense for what it was designed for. I think that generated files not matching regular editorconfigs is the real issue here.

Global configs get merged at read-time. We take all the global configs and merge them into a single 'root-less' config. How would globs work then? We'd need to somehow know the roots of the constituent parts. Ab

[2020-09-03 20:30] jaredpar commented on #47191
With Mark's help (thank you!) we were able to track down a repro for this problem.

[code]

The key is that we're doing an update on a nested `struct` field where the container is stack. The spilling of that is causing the crash to occur

[2020-09-03 20:38] gafter commented on #21659
This is already implemented in C# 9 at warning level 5. See CS8073 in https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/Warnversion%20Warning%20Waves.md

[2020-09-03 20:38] #21659 closed

[2020-09-03 20:40] jnm2 opened #47424 "NRE in CSharpRemoveUnnecessaryCastDiagnosticAnalyzer at VisitConditionalOperatorCore"
**Version Used**: 16.8.0-p2.1

[code]

[2020-09-03 20:53] gafter commented on #41821
Closing as a dup of https://github.com/dotnet/roslyn/issues/20648

[2020-09-03 20:53] #41821 closed

[2020-09-03 20:56] gafter commented on #42378
It was a decision very early in the C# language to depart from languages like Java that include exceptions in method contracts. It is something we're unlikely to revisit. However, I'm moving this issue to the language design repository in case there is further discussion.

[2020-09-03 20:58] jnm2 commented on #47424
Updated with a repro that is as minimal as I could think of for now.

[2020-09-03 21:02] gafter commented on #45941
We have dropped the proposed `/warnversion` flag. We are simply adding new values to the existing `/warn` flag. The first "new" value will be "5" in C# 9. However, the `/warn` flag permits passing higher values now if you want to accept future warning "waves".

[2020-09-03 21:02] #45941 closed

[2020-09-03 21:03] jasonmalinowski commented on #47384
I guess my thought was the globs are just still treated as globs relative to the position of the .editorconfig; basically the only thing is is_global impacts the interpretation of stuff prior to the globs and that's it.

[2020-09-03 21:08] mavasani commented on #47384
@jasonmalinowski just to confirm:

1. Did you make sure to add `is_global = true` to the config file?
2. Are you using the latest compiler bits after https://github.com/dotnet/roslyn/pull/45871 was merged? That PR fixed a bunch of issues related to respecting diagnostic configurations in global config.

[2020-09-03 21:29] Pilchie opened #47427 "Suppress with attribute adds a blank line between members with xml doc comments"
**Version Used**:
Version 16.8.0 Preview 3.0 [30431.218.main]

**Steps to Reproduce**:

[code]

Try to suppress the `unused` parameter.

**Expected Behavior**:
The attribute is added.

**Actual Behavior**:
The attribute is added, and an extra blank line is added between x and Method.

[2020-09-03 21:33] CyrusNajmabadi commented on #47347
Only in teh sense that one team owns teh ideal of locating hte xml doc comments and parsing them and exposign them from a nice api.  i.e. i wouldn't mind someone else owning it, that's all :)

We certainly could take ownership of it.  I'd just prefer not to :)

[2020-09-03 21:36] BillWagner commented on #47381
Related: I'm not getting intellisense on init-only properties inside the brackets.  Example:

[code]

Start typing:

[code]

Intellisense doesn't suggest `Location` as a completion.

[2020-09-03 21:37] #18209 closed

[2020-09-03 22:24] PathogenDavid opened #47430 "Intellisense does not work within a with initializer block when the record is a generic type"
**Version Used**:

Visual Studio 16.8.0 Preview 2.1
.NET SDK 5.0.100-preview.8.20417.9
Compiler version: '3.8.0-2.20418.7 (0276b9b7)'. Language version: 9.0.

**Steps to Reproduce**:

With the following code with the cursor at `$$`, invoke Intellisense:

[code]

**Expected Behavior**:

Intellisense suggests the `Name` property.

**Actual Behavior**:

Intellisense gets confused and gives generic re

[2020-09-03 22:28] PathogenDavid commented on #47430
When the record is not a generic type, it works fine:

![image](https://user-images.githubusercontent.com/278957/92179558-849a2680-ee0a-11ea-9319-23e16d7db83e.png)

(`AnotherProperty` only exists so that Intellisense shows the dropdown. Without it, Intellisense inserts `Name` since it's the only candidate.)

[2020-09-03 22:31] vsfeedback opened #47431 "Avoid BadImageFormatException with compile-time checking"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1100556/avoid-badimageformatexception-with-compile-time-ch.html)._

---
It seems like it would be possible to perform a compile-time check of referenced DLLs to ensure the CPU architectures are compatible. As it stands now, if an x64 process attempts to call an x86 DLL (or vic

[2020-09-03 22:32] vsfeedback opened #47432 "Adobe Indesign Object Model"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/idea/1093959/adobe-indesign-object-model.html)._

---
Is it possible to Import the Adobe InDesign Object Model?

I would like to be able to develop Adobe InDesign VBScripts in Visual Studio.

---
### Original Comments

#### Feedback Bot on 6/28/2020, 00:18 AM:

We have converted this feedb

[2020-09-03 22:34] kevinchalet commented on #46494
@cston thanks a lot for fixing it. Question: the PR mentions the "Next" milestone while this ticket indicates "16.8". Do we know for sure when the fix will ship?

[2020-09-03 22:36] vsfeedback opened #47433 "Intellisense warning: Not all code paths return a value. I think it shouldnot show the warning in my code snippet."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/874987/intellisense-warning-not-all-code-paths-return-a-v.html)._

---
I have a code snippet:

enum E
{
	A, B, C
}

class Test
{
	int Method(E e)
	{
		switch (e)
		{
			case E.A: return 0;
			case E.B: return 1;
			case E.C: return 2;
		}
	}
}

There will be an error at "Metho

[2020-09-03 22:36] vsfeedback opened #47434 "Need new Editor Error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/965027/need-new-editor-error.html)._

---
In C#, the compiler allows and builds :

[code]
in a object that has a Name string property and StartTime datetime property.
Here is what someone on my team should have coded:

[code]

Can you give an error at edit time and prevent com

[2020-09-03 22:39] vsfeedback opened #47435 "StackOverflowException on self reference"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1096900/stackoverflowexception-on-self-reference.html)._

---
I made a silly error and was surprised that the compiler didn't catch it.  I self-referenced a class and it crashed with a StackOverflowException.  It was actually kinda hard to find because the class doesn't get in

[2020-09-03 22:42] vsfeedback opened #47436 "When implementing an interface, methods should already have "inheritdoc""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1018415/when-implementing-an-interface-methods-should-alre.html)._

---
When I implement an interface in a new class and ask VS to implement the missing methods, I would hope VS would also see which ones have comments and automatically add "/// <inheritdoc/>" at the top of tho

[2020-09-03 22:43] vsfeedback opened #47437 "Allow Signature Help API documentation's URL to be clickable"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/883579/allow-api-documentations-url-to-be-clickable.html)._

---
<p>An image would explain it better here:</p><p><a href="https://developercommunityapi.westus.cloudapp.azure.com/storage/attachments/113587-read.png"> Image:113587-read.png</a><br>I would like to be able to click

[2020-09-03 22:44] PathogenDavid opened #47438 "Object initializer block for `with` statement on record is not indented correctly in an expression-bodied method"
**Version Used**:

Visual Studio 16.8.0 Preview 2.1
.NET SDK 5.0.100-preview.8.20417.9
Compiler version: '3.8.0-2.20418.7 (0276b9b7)'. Language version: 9.0.

**Steps to Reproduce**:

1. Write an expression-bodied member that uses `with` on a record type:

[code]

2. Let the document auto-format or you manually invoke it by running Code Cleanup or with Edit > Advanced > Format Document

**Expected

[2020-09-03 22:45] vsfeedback opened #47439 "Allow to read and update an xlsx file"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1025683/allow-to-read-and-update-an-xlsx-file.html)._

---
<p>I want to read and update an xlsx file in Community with Visual Basic.</p>

---
### Original Comments

#### Feedback Bot on 5/11/2020, 10:44 PM:

Thank you for taking the time to provide your suggestion.  We will do

[2020-09-03 22:46] vsfeedback opened #47440 "Auto fix semicolon missing issue"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1110520/auto-fix-semicolon-missing-issue.html)._

---
<p>If the compiler detect there is a semicolon missing in line {N}, It should add a semicolon itself, currently it gives error.</p> <p><strong>CS1002 ; expected<br></strong></p><p></p><p><br><strong></strong></p>

---
### O

[2020-09-03 22:48] vsfeedback opened #47441 "Convert to Full Property with option for Backing Variable or MyBase"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/899217/convert-to-full-property-with-option-for-backing-v.html)._

---
Visual Basic 2019
When converting to Full Property give the user a choice of using the MyBase property or a separate Backing Variable.

[code]
Convert to

[code]
vs

[code]

---
### Original Comments
(no co

[2020-09-03 22:50] PathogenDavid opened #47442 "Object initializer block for target-typed new is not indented correctly in an expression-bodied method"
**Version Used**:

Visual Studio 16.8.0 Preview 2.1
.NET SDK 5.0.100-preview.8.20417.9
Compiler version: '3.8.0-2.20418.7 (0276b9b7)'. Language version: 9.0.

**Steps to Reproduce**:

1. Write an expression-bodied member that uses target-typed new and an object initializer:

[code]

2. Let the document auto-format or you manually invoke it by running Code Cleanup or with Edit > Advanced > Format D

[2020-09-03 22:57] vsfeedback opened #47443 "Quick Watch: Find Field"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/952510/quick-watch-find-field.html)._

---
<p>The quick watch window should have a find field feature.</p> <p>It should work as a filter system, filtering out all fields which don't match the quick find criteria (as in stricmp).</p>

---
### Original Comments

#### Feedback Bo

[2020-09-03 22:59] vsfeedback opened #47444 "Unobtrusive Inline Parameter Name Hints (like Rider)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1016703/unobtrusive-inline-parameter-name-hints-like-rider.html)._

---
<p>Would be great to have unobtrusive inline parameter name hints shown in VS as an alternative to C# named parameters (which are too obtrusive and create clutter). Would be great if these could be turned

[2020-09-03 23:00] PathogenDavid opened #47445 "CodeLens doesn't work on records"
**Version Used**:

Visual Studio 16.8.0 Preview 2.1
.NET SDK 5.0.100-preview.8.20417.9
Compiler version: '3.8.0-2.20418.7 (0276b9b7)'. Language version: 9.0.

**Steps to Reproduce**:

Enter the following code:

[code]

**Expected Behavior**:

Code Lens shows number of references above `PersonRecord` and `PersonRecord.Name`.

**Actual Behavior**:

Code Lens is missing for record type and its member

[2020-09-03 23:00] dibarbet opened #47446 "Debugging latest master fails to load MS.VS.LanguageServer.Protocol.dll"
On

https://github.com/dotnet/roslyn/blob/d602c498ab42c2657c36c67c8c00690c5a70f71f/src/VisualStudio/Core/Def/Implementation/LanguageClient/AbstractLanguageServerClient.cs#L80-L81

[code]

This seems to only occur during debugging as I am attempting to load a different version of this assembly than the one inserted into VS.

### Pkgdef in the hive
The locally built extension pkgdef contains the fol

[2020-09-03 23:04] PathogenDavid commented on #47444
This was recently added and can be activating in Visual Studio 2019 preview by going to Tools > Options > Text Editor > C# > Advanced > Editor Help and enabling "Display inline parameter name hints (experimental)":

![image](https://user-images.githubusercontent.com/278957/92181868-e4470080-ee0f-11ea-909e-be419ef640e7.png)

[2020-09-03 23:15] PathogenDavid commented on #47439
You can already do this with VB.NET through Excel automation: https://docs.microsoft.com/en-us/previous-versions/office/troubleshoot/office-developer/automate-excel-from-visual-basic-net

There's also various libraries out there that can do it without Excel automation. I think I used [EPPlus](https://epplussoftware.com/) back in the day.

Regardless though, this isn't on-topic for this repo.

[2020-09-03 23:19] paulozaffari commented on #47443
This is also needed for C++.

[2020-09-03 23:20] PathogenDavid commented on #47435
This isn't something that's a problem from a language perspective, it's a problem with whatever dependency injection framework Joel is using.

[2020-09-03 23:22] PathogenDavid commented on #47434
There's nothing illegal about having a method named `Override`. The compiler can't guess that the developer actually meant to override `ToString`.

[2020-09-03 23:26] PathogenDavid commented on #47433
This method will not always return a value because you can coerce arbitrary integers to be enums. For example:

[code]

The solution you can use today is to do something sensible when an invalid enum value is provided:

[code]

There is a language feature proposal tentatively scheduled for C#10 to add closed enums to the language, which act more like you expect: https://github.com/dotnet/csharplan

[2020-09-03 23:33] CyrusNajmabadi commented on #47434
No.  That code is totally legal, and there's nothing wrong with calling a method 'Override'.  I can't see anything even undesirable or wrong about it.  I'm not sure what rule we could even have that woudl flag this sort of case.

[2020-09-03 23:33] #47434 closed

[2020-09-03 23:35] CyrusNajmabadi commented on #47433
Closing out as by design as per the language.  Feel free to track/vote on the linked language issue on closed-enum sets if that interests you.

[2020-09-03 23:35] #47433 closed

[2020-09-03 23:37] CyrusNajmabadi commented on #47413
Do you not get the call when running in the IDE?  Or do you not get it when running from teh command line?  If teh IDE, this is by design if "full solution analysis" is off.

[2020-09-03 23:42] CyrusNajmabadi commented on #47438
@jcouv I would consider this necessary for 16.8

[2020-09-03 23:44] CyrusNajmabadi commented on #47440
In general, i would be hesitant about doing this sort of thing automatically (as it could interfere with typing and be generally aggravating).  I'm also hesitant about having a quick-fix for is as it's going to be much slower to invoke the quickfix than to just type the semicolon itself.

[2020-09-03 23:45] CyrusNajmabadi commented on #47441
This seems like a very rare case, and likely not something we need to update this feature for.

[2020-09-03 23:45] CyrusNajmabadi commented on #47442
@jcouv

[2020-09-03 23:46] CyrusNajmabadi commented on #47445
@jcouv  Not critical.  @jinujoseph who owns codelens now?

[2020-09-03 23:47] CyrusNajmabadi commented on #47444
Feature is now available

[2020-09-03 23:47] #47444 closed

[2020-09-03 23:47] PathogenDavid commented on #47432
This isn't really something that'd be in-scope for the runtime and definitely not the compiler. That being said:

As far as I'm aware, the only official avenues for automating the Adobe Suite is with the built-in VBScript or JavaScript scripting or via the [C++ SDK](https://www.adobe.com/devnet/indesign/sdk.html).

Historically you could [automate Photoshop with .NET via a COM interface](https://w

[2020-09-04 00:01] gafter commented on #45906
We've dropped `/warnversion`. There is only `/warn` now. A value of 5 indicates the first warning wave.

[2020-09-04 00:01] #45906 closed

[2020-09-04 00:04] gafter commented on #35686
I've tagged this as a "Code Gen Quality" issue, but it is not clear to me that this would improve things more often than it would make things worse.

[2020-09-04 00:08] sharwell commented on #47413
Duplicate of #11750

[2020-09-04 00:13] sharwell commented on #47436
Methods which implement an interface member automatically inherit documentation (i.e. they have an implicit `<inheritdoc/>` if no other comment is provided) starting with version 16.4.

[2020-09-04 00:13] sharwell commented on #47436
Duplicate of #7862

[2020-09-04 00:13] #47436 closed

[2020-09-04 00:13] sharwell commented on #47436
📝 See https://github.com/dotnet/roslyn/issues/7862#issuecomment-570670412 for an example screenshot

[2020-09-04 00:14] sharwell commented on #47440
Duplicate of #30238

[2020-09-04 00:14] #47440 closed

[2020-09-04 00:20] sharwell commented on #47437
This is a request for _Signature Help_ to support hyperlink navigation for `<see href>` and `<a href>`, the same way that _Quick Info_ already does.

[2020-09-04 00:21] sharwell commented on #47445
There are two components to CodeLens: a tagger implemented in devdiv (internal) code, and a references provider implemented here in dotnet/roslyn. Both will need to be updated to report tags and information for the new syntax.

[2020-09-04 00:22] RikkiGibson commented on #47187
This is likely related to #46575. You may be able to work around it by adding a reference to a recent nightly Microsoft.Net.Compilers.Toolset (see [documentation](https://github.com/dotnet/roslyn/blob/master/docs/wiki/NuGet-packages.md)).

[2020-09-04 00:22] PathogenDavid commented on #47431
You should get a warning from both MSBuild and the compiler when you attempt to reference an x86 assembly from an x64 one:

I believe this has been a feature for quite some time.

[2020-09-04 00:24] sharwell commented on #47441
I don't understand the difference here. Are the semantics between these two forms identical? If not, which of the proposed output forms has the same semantics as the original code?

[2020-09-04 00:33] RikkiGibson commented on #46788
Is this something you fixed @cston?

[2020-09-04 00:59] tmat opened #47447 "Go to Implementation should show containing type for nested types"
**Version Used**:
Version 16.8.0 Preview 3.0 [30427.284.main]

**Steps to Reproduce**:

Invoke "Go To Implementation" on `NestedType` and `M`.

[code]

**Actual Behavior**:

![image](https://user-images.githubusercontent.com/41759/92187579-03915e00-ee0f-11ea-9057-81f75ef11086.png)

![image](https://user-images.githubusercontent.com/41759/92187585-08eea880-ee0f-11ea-83ff-0e0fb419d1c0.png)

**Expect

[2020-09-04 01:01] vamuzumd commented on #4412
I am facing the same issue when trying to remove 'Message' IdentifierNode from the ex?.GetBaseException.Message expression.

The stack trace is as follows:-

'parent.RemoveNode(messageNode, SyntaxRemoveOptions.KeepExteriorTrivia)' threw an exception of type 'System.ArgumentNullException'

at Microsoft.CodeAnalysis.CSharp.SyntaxFactory.MemberAccessExpression(SyntaxKind kind, ExpressionSyntax expres

[2020-09-04 01:10] tmat commented on #47347
I think we do own the XML doc comments and everything about them. The editor should mostly only own client components. This is a server component. I don't think our servers should be calling to the client to retrieve XML doc comments. We need to have them on the server somewhere.

[2020-09-04 01:15] tmat opened #47448 "Mark `public` modifier on interface methods as unnecessary"
**Version Used**:
Version 16.8.0 Preview 3.0 [30427.284.main]

**Steps to Reproduce**:

[code]

**Expected Behavior**:

`public` is marked as unnecessary.

**Actual Behavior**:

[2020-09-04 01:24] RikkiGibson commented on #46805
It's worth noting that "blind" use of the ConstantValue here could result in us failing to respect suppressions.

[2020-09-04 01:31] CyrusNajmabadi commented on #47347
Sorry, my position may have been ambiguous.  I didn't mean we should call into the client.  I meant we should have a shared library here that does the work of finding hte right xml doc and parsing/indexing it.  THat shared lib can be used by us and F# and any component that needs the same.

We can totally run that in our server, but i'm in favor of this being shared and available (and ideally not

[2020-09-04 01:41] CyrusNajmabadi commented on #47448
we acutally have a setting for this: dotnet_style_require_accessibility_modifiers:for_non_interface_members.

We created the setting with the knowledge that DIM was coming, but i don't think it was ever hooked up to work.  We should df impl it.  If the value is not set to 'always' we should def also fade out.

[2020-09-04 01:46] CyrusNajmabadi commented on #4412
There is nothing to "fix" here, outside of throwing a more clear exception.  What you are trying to do is illegal.  A member-access-expression (i.e. `expr.b`) is required to have a non-null left and non-null right.  You cannot remove either side without causing an invariant exception (which manifests here as an argumentnullexception).

If you want to convert the above to `ex?.GetbaseException.`, t

[2020-09-04 01:54] parxal opened #47449 "CSharpSyntaxTree.ParseText not returning MethodDeclarationSyntax"
**3.7.0**:

**Steps to Reproduce**:

[code]
**Expected Behavior**:
methodDeclarationSyntax should have a value. It works on 3.6.0 and older versions.
**Actual Behavior**:
methodDeclarationSyntax is null.

[2020-09-04 02:09] jcouv commented on #47442
This should be fixed via https://github.com/dotnet/roslyn/pull/47383 (thanks @alrz)

[2020-09-04 02:10] jcouv commented on #47442
Hum, I misread. This may not be fixed by that PR. Keeping the issue open.

[2020-09-04 02:30] PathogenDavid commented on #47442
If it does, I don't think it's doing so intentionally. Definitely glad to see those two issues fixed though!

[2020-09-04 04:41] kornman00 commented on #47396
Here is another example of VS2019 not only ignoring my .editorconfig, on top of it also formating using \n, when the entire file is \r\n (as can be seen at the bottom, from the document I have open behind this window). If I were to apply this "fix formatting"* then I'd have MIXED line endings, which I would only get a warning and fix prompt the NEXT time I opened the document

* I'm not sure what

[2020-09-04 05:10] vsfeedback opened #47451 "Sort properties of a class through the solution manager and apply to the project code."
_This issue has a corresponding [ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/973605/sort-properties-of-a-class-through-the-solution-ma.html). Please vote and comment there to make sure your voice is heard._

---
Create a drop-down menu after multiple selection of items to sort properties of a class through the Solution Explorer, immediately applying chan

[2020-09-04 07:18] costin-zaharia-sonarsource commented on #47187
Thanks @RikkiGibson. We will probably wait until RC1 is published and try to use that.

[2020-09-04 07:40] tamlin-mike opened #47455 "Compiler Deficiency: ConditionalAttribute not allowed for local functions"
**Version Used**:
Whatever comes with VS 16.7.2.

**Steps to Reproduce**:

1. Create a class. Let's call it `C`.
2. Create a method in `C`. Let's call it `method1`.
3. Create a local function in `method1`. Let's call it `method2`.
4. Decorate `method1` with `[Conditional("DEBUG")]`.
4.1 Note how this produces no errors (given correct `using`'s).
5. Decorate `method2` with `[Conditional("DEBUG")]`.

[2020-09-04 09:01] allisonchou commented on #45815
Hit again here: https://dev.azure.com/dnceng/public/_build/results?buildId=801732
I've noticed this test failing semi-regularly - @RikkiGibson is there someone on the compiler team that we could contact about taking a look at this?

[2020-09-04 09:31] AndrewAdov commented on #32481
It looks like on the latest Version 16.8.0 Preview 2.1 problem is not reproduced anymore. I think the issue can be closed.

[2020-09-04 11:33] Youssef1313 commented on #47449
This behavioral change could be very related to the new top-level statements feature.
You need to have a class wrapping the method to get MethodDeclarationSyntax as a child of ClassDeclarationSyntax.

[2020-09-04 11:53] Youssef1313 opened #47457 "Does CSharpDeclarationComparer and NamedTypeGenerator need to account for Records?"
Currently, they don't handle records. I'm unsure if they need to handle records or not?

https://github.com/dotnet/roslyn/blob/b61d9d2863eebfc76b032e5f8fcd0a918fb27147/src/Workspaces/CSharp/Portable/CodeGeneration/CSharpDeclarationComparer.cs

https://github.com/dotnet/roslyn/blob/a37aeb14c5608c3c213a6bc9ce0f9bc0b4c9fa10/src/Workspaces/CSharp/Portable/CodeGeneration/NamedTypeGenerator.cs

Also, CS

[2020-09-04 11:53] #46604 closed

[2020-09-04 15:00] ValorMorgan commented on #36913
**Bump**
Has there been any new developments on this?  I see the conversation trailed off around November, 2019 with a remark in February.  It seems there's also a lot of duplicate issues pointing back to this one.

[2020-09-04 15:34] PathogenDavid commented on #47455
[This is currently by-design](https://github.com/dotnet/csharplang/blob/ac14d87c16f28535299060d510fb4f647029a765/proposals/csharp-9.0/local-function-attributes.md):

(Emphasis mine.)

There [was a brief discussion of this](https://github.com/dotnet/csharplang/pull/3198#discussion_r393952497) when the spec was reviewed. It sounds like there's some concern with how conditional capturing local functi

[2020-09-04 15:35] madelson commented on #26567
We're running into this on a .NET Framework app (not with a recursive method but with just a "pretty deep" call stack of async methods).

It seems like manually forcing some asynchrony in the exception handling can help, for example:

[code]

@stephentoub Does it make sense that this would circumvent the issue? Any other advice for working around this?

[2020-09-04 15:49] RikkiGibson commented on #45815
@dotnet/roslyn-compiler perhaps we should lower the threshold on 64-bit debug and release.

[2020-09-04 16:09] CyrusNajmabadi commented on #36913
We took this to a design meeting and decided in the design and behavior we want here. The issue is currently 'up for grabs' for anyone to fix, although @tiesmaster Expressed interest in doing that work.

We would take a well written pr that implements the design specified. Thanks!

[2020-09-04 16:15] CyrusNajmabadi commented on #47455
Closing out as by design. If you would like the design to be changed please create a proposal at dotnet/csharplang. Thanks!

[2020-09-04 16:15] #47455 closed

[2020-09-04 16:24] jcouv commented on #45815
@RikkiGibson I agree.
Let's keep an issue open afterwards to understand why this would introduce flakiness.

[2020-09-04 16:35] cston commented on #46788
@sidney-pauly, thanks for reporting and providing a repro. This issue has been fixed recently in https://github.com/dotnet/roslyn/pull/47251.

[2020-09-04 16:35] #46788 closed

[2020-09-04 16:45] vsfeedback opened #47460 "VS incorrectly handles Checked name in if statement"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1173359/vs-incorrectly-handles-checked-name-in-if-statemen.html)._

---
If you have C# class Foo with Checked property and you type

[code]
and press Tab key after you selected Checked from suggestion list then VS incorrectly changes this fragment to
[code]
Expected behavio

[2020-09-04 17:35] ChristophWeigert commented on #6763
Any update on this one?

[2020-09-04 17:41] #47442 closed

[2020-09-04 17:44] jnm2 commented on #36715
I just hit this in a library project, https://github.com/mikeobrien/HidLibrary/tree/master/src/HidLibrary.

[code]

[2020-09-04 17:46] PathogenDavid commented on #47442
Thanks @alrz!

[2020-09-04 17:53] 333fred opened #47463 "Conditional Local Functions are considered unused"
[code]

This reproes when compiling for release mode.

[2020-09-04 17:57] stephentoub commented on #26567
Yup. That's the main workaround (other than using .NET Core, where this should no longer manifest).

[2020-09-04 18:28] dibarbet commented on #47446
Fix here - https://devdiv.visualstudio.com/DevDiv/_git/TypeScript-VS/pullrequest/272662?_a=overview

This was caused by TS having a pkgdef codebase defined for 16.8.5.21822 that pointed to a 16.8.52.10791 dll.  So when VS merged the pkgdef files, it thought Roslyn's codebase entry for 16.8.5.21822 was a duplicate and dropped it.  However the existing codebase entry for 16.8.5.21822 (from TS) point

[2020-09-04 18:30] Youssef1313 commented on #47463
@333fred, Should the release build *never* reports this warning for local methods attributed with Conditional("DEBUG") even if they really unused, and leave this warning for the debug build instead? Or both debug and release warnings should be consistent?

[2020-09-04 18:30] dibarbet commented on #47446
Resolving as external.  The fix will be inserted on Tuesday.

Current workarounds are
1.  Don't upgrade to the latest main if yours is working, or use 16.8p2
2.  Modify the codebases for MS.VS.LanguageServer.Protocol and Protocol.Extensions inside `"vs_install_dir\Common7\IDE\CommonExtensions\Microsoft\TypeScript\TypeScriptVisualStudio.pkgdef"` to specify 16.8.52.10791 as the version instead of 16

[2020-09-04 18:30] #47446 closed

[2020-09-04 18:39] RikkiGibson commented on #47463
The presence or absence of this warning should be unaffected by configuration.

One similar scenario where I think the warning *should* depend on configuration (please check my understanding @333fred):

[code]

I expect this to warn in release mode.

[2020-09-04 19:41] alrz opened #47465 "Refactoring: inline method group"
<sub>Moved from https://github.com/dotnet/roslyn/pull/46509</sub>

[code]
->
[code]
cc @Cosifne

[2020-09-04 19:44] ChainReactive commented on #36913
Hey @tiesmaster, are you still up for it?  Otherwise, how about the product owners take care of it?

[2020-09-04 20:00] Youssef1313 commented on #47463
@RikkiGibson I was thinking of just checking the attribute, but it seems this isn't the desired behavior :smile:

I gave the code for this a very quick read, and I *think* the following line isn't hit for the local function:

https://github.com/dotnet/roslyn/blob/851ecc5737e8ac3d8b337113e8a36a4db3ef9666/src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs#L563

But I'm unaware of how f

[2020-09-04 20:01] CyrusNajmabadi commented on #36913
@ChainReactive We haven't heard from @tiesmaster  in some time.  Would you be interested in taking a look and contributing a PR here?

[2020-09-04 20:01] CyrusNajmabadi commented on #47432
Not in scope for Roslyn.  Consider perhaps asking on Stack Overflow.  Thanks!

[2020-09-04 20:01] #47432 closed

[2020-09-04 20:02] Youssef1313 commented on #47463
Note: this is a breaking change if fixed, you *may* want to include this in a warning wave.

[2020-09-04 20:02] CyrusNajmabadi commented on #47437
@sharwell do we own that UI, or is it platform?  We can redirect if it's the latter.

[2020-09-04 20:04] ChainReactive commented on #36913
@CyrusNajmabadi Sorry, I'm too busy working on my own products.  I can't afford spending the time it'd take to learn Roslyn and contribute to it.  Seems it'd be best if the product owners took responsibility.

[2020-09-04 20:04] CyrusNajmabadi commented on #47447
Interesting idea.  I think we currently defer to SymbolDisplay on this.  So we'd need some way for it to know to include this information here when spitting out the declaration text for a symbol (i.e. how it looks in decl for, not in reference form).

[2020-09-04 20:05] CyrusNajmabadi commented on #32481
Closing out as the original reporter says this is no longer an issue.  Unfortunately, the video is missing, so i cannot validate the original case myself.

[2020-09-04 20:05] #32481 closed

[2020-09-04 20:06] CyrusNajmabadi commented on #32481
Thanks for the info @AndrewAdov

[2020-09-04 20:07] RikkiGibson commented on #47463
It's not clear to me what's breaking about this change, since it removes warnings.

[2020-09-04 20:07] CyrusNajmabadi commented on #47449
This is by design.  when you call ParseText, you are parsing the input the same way the parser would parse a complete file.  IN that case, this is not a method declaration (which can only exist inside a type).

To parse just a method decl, without needing to surround with anything, call SyntaxFactory.ParseMemberDeclaration.

[2020-09-04 20:07] #47449 closed

[2020-09-04 20:08] RikkiGibson commented on #47463
I think the fix to this bug is to ensure that the appropriate analysis pass adds the local function to the set of used local functions, regardless of the presence of any ConditionalAttribute, etc.

[2020-09-04 20:08] #47457 closed

[2020-09-04 20:11] Youssef1313 commented on #47463
Ah very sorry. I mixed this with other thing I was thinking of. (was thinking of suggesting a similar warning for normal methods).

[2020-09-04 20:11] CyrusNajmabadi commented on #36913
We have responsibility for many issues.  This is not more important than all the issues currently assigned to everyone currently.  As this is a low impact issue, it likely won't get fixed until current critical work is done, or unless someone wants to take their spare time to fix it.   :)

I'm happy to take my spare time to try to help you learn this :)  We have many external contributers already,

[2020-09-04 20:16] RikkiGibson commented on #47463
Absolutely not, we're glad you're here.

[2020-09-04 20:17] ChainReactive commented on #36913
Thanks for the explanation.

There was a time in my life.... but not now.  Good luck!

[2020-09-04 20:29] cston commented on #46494
@kevinchalet, ideally the fix will be included in 16.8. I believe the actual milestone will be updated in the PR when we branch for the release that contains the fix.

[2020-09-04 20:32] kevinchalet commented on #46494
@cston fantastic! Thanks again.

[2020-09-04 21:20] mavasani commented on #44133
This is done - https://github.com/dotnet/roslyn/blob/master/docs/features/source-generators.cookbook.md#consume-msbuild-properties-and-metadata

[2020-09-04 21:20] #44133 closed

[2020-09-04 21:32] mavasani commented on #47350
@Pilchie so I believe the fix here needs to go into Razor targets files - during the first phase of the compile, you should explicitly disable diagnostic analyzers by setting `RunAnalyzers` MSBuild property to `true`. This will skip diagnostic analyzers, while still executing source generators. The second phase with final compilation will respect user's setting for `RunAnalyzers` to decide whether

[2020-09-04 21:32] 333fred opened #47467 "GetDeclaredSymbol in top-level statements"
This test crashes:

[code]

[code]

[2020-09-04 21:49] tmat opened #47469 "Follow up on fire & forget in EditAndContinueSaveFileCommandHandler.OnSourceFileUpdatedAsync"
- what happens with exceptions here? does this trigger the unhandled exception codepaths?
 this pattern will not work for integrationtests/asyncwaiters. this should likely take in the appropriate integration test IAsyncListener stuff and have that be threaded through here. that way you could actually write an integration test that saves, then waits for EnC work to finish, then validates the result

[2020-09-04 21:52] sharwell commented on #36913
@tiesmaster @ChainReactive @CyrusNajmabadi I was the one supposed to finalize #39396 for merge. I'll update it now so this should already be fixed.

[2020-09-04 22:18] sharwell opened #47470 "Avoid reporting IDE0059 when CS0168 will be reported"
The following code produces IDE0059 and CS0168 for the local variable `ex`:

[code]

It would be better if IDE0059 was not reported for the specific subset of cases where CS0168 is already going to be reported.

[2020-09-04 22:19] gafter opened #47471 "Find All References infinitely searches when Unity project Assembly-CSharp has a circular reference through assembly AOTGenerated"
This issue tracks the bug report at https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1192910 (Microsoft-internal)

Apparently the compiler is going through a very slow path (which may include allocations) in `ReuseAssemblySymbols` when the project contains an indirect circular reference. 5GB allocations within code that doesn't accept a cancellation token (entry point is `CSharpCompilation.Comm

[2020-09-04 22:51] Youssef1313 commented on #47463
The problem seems to be here:

https://github.com/dotnet/roslyn/blob/768f4761b3948d9033579a394ae1156a5592eaf7/src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs#L1171

The documentation for CallsAreOmitted explicitly says that it must return true if the condition isn't true in the source file.

So, the behavior for CallsAreOmitted is correct. But it's not the correct method we need to

[2020-09-04 23:14] Pilchie commented on #47350
@pranavkm - should we move this aspnetcore to adjust the targets?

[2020-09-04 23:18] #46593 closed

[2020-09-04 23:20] #47164 closed

[2020-09-05 00:32] dibarbet opened #47478 "Generated razor document text is not registered with a workspace"
For a generated razor document backing an open razor document, roundtripping from document -> source text -> document (using GetOpenDocumentInCurrentContextWithChanges) fails because the source text of the generated razor file is associated with a Workspace_Registration with a null workspace.  This is because generated razor documents never go through the workspace Open APIs as they are not truly

[2020-09-05 01:38] dotMorten opened #47481 "For non-annotated APIs please assume reference types returned could be null"
**Version Used**: netcoreapp3.1 / VS16.7.2

**Steps to Reproduce**:
1. Create a .NET Core WPF project (which isn't null-annotated).
2. Create a ContentPresenter.
3. Access the ContentPresenter.Content property and use it without a null-check. For example: `var stringValue = new ContentPresenter().Content.ToString();`
4. Notice that no nullabilty warning is presented. This despite intellisense lite

[2020-09-05 02:31] #47366 closed

[2020-09-05 03:30] #42941 closed

[2020-09-05 04:29] BaileyFirman commented on #47277
Hi there @sharwell , I haven't contributed before but I'd like to give this one a go is that okay?

[2020-09-05 05:09] CyrusNajmabadi commented on #47277
@BaileyFirman yup. Go ahead!

[2020-09-05 08:04] Youssef1313 opened #47485 "BadImageFormatException when running RoslynDeployment"
### Repro steps:

1. https://github.com/dotnet/roslyn/pull/47369/commits/7741c76af7549f0c2cffd90158a0637bf2d7a827 (Currently, the latest commit in my PR, https://github.com/dotnet/roslyn/pull/47369. My PR only adds an analyzer and codefix provider, so the changes seem to be unrelated to the exception, correct me if wrong please)
2. Open Roslyn.sln
3. F5 to run RoslynDeployment
4. Create new projec

[2020-09-05 09:25] Youssef1313 commented on #47423
@RikkiGibson Is this ready to be implemented or needs to be discussed first?

[2020-09-05 09:47] Youssef1313 commented on #46720
@RikkiGibson The test doesn't pass on the VM I have.

So, it doesn't seem to be a CI-only issue.

If you re-run it locally on your machine and it still passes. I'll be glad to give you access to my VM if that will help fix that issue.

[2020-09-05 10:36] nschuessler commented on #46942
Have an [active PR](https://github.com/dotnet/roslyn/pull/47486) for this issue.

[2020-09-05 10:57] Youssef1313 commented on #44330
I see the comments are discussing this as an analyzer. However, the issue is marked as a warning wave.

Will this be implemented in the IDE-side or Compilers-side?

@CyrusNajmabadi @mavasani @gafter

[2020-09-05 11:13] Youssef1313 commented on #46720
Actually I just realized that I can only repro the test failure under  5.0.0-preview.8.20407.11, but not 4.7.1.

So the situation is:

- `4.7.0` Test pass locally and in CI
- `4.7.1` Test pass locally, but not in CI
-  `5.0.0-preview.8.20407.11` Test doesn't pass locally, and doesn't pass in CI.

[2020-09-05 11:18] dgrunwald opened #47487 "Incorrect IL generated for function pointer call with `in` parameter"
**Version Used**: Visual Studio 2019 16.8.0 Preview 2.1

**Steps to Reproduce**:
[code]

**Expected Behavior**:
`b = 2147483647, c = a`

**Actual Behavior**:
[code]

The IL code passes `int.MaxValue` directly, when it should be passing the address of a temporary.

[code]

Note: removing the `ref char c` parameter causes the `in int b` parameter to be passed correctly.

[2020-09-05 12:00] mcetkovsky opened #47488 "Warning CS8073's message is confusing"
As per a [blog post](https://devblogs.microsoft.com/dotnet/automatically-find-latent-bugs-in-your-code-with-net-5), .NET 5 introduces new warning message `CS8073`.

The following code from the blog post:

[code]

will produce the following warning after upgrading Analysis Level to 5 as per the blog post:

[code]

Personally, I would be quite confused by the part `of type ‘DateTime?’` as there is n

[2020-09-05 12:57] Youssef1313 commented on #30196
I think I have seen an issue before about having all strict warnings in warning wave. In that case, this issue will be automatically fixed as part of this and there is no need to explicitly add a warning wave for this. Can someone confirm if that's correct?

[2020-09-05 12:59] Youssef1313 commented on #23178
Duplicate of https://github.com/dotnet/roslyn/issues/30196

[2020-09-05 13:53] BhaaLseN commented on #47419
I usually see this when I create a .NET Core project and attempt to analyze a .NET Framework project (mainly ones that contains WPF projects). But from your description it seems to be the same result for different inputs (which in the end likely have a similar cause I'm guessing).

Is your other solution in step 3. also .NET Core?

[2020-09-05 15:07] Thaval commented on #47419
I added a .NET Framework project to check if it can be loaded or not. The diagnostics tell me:

MSBuild-Error "C:\Users\davaa\source\repos\Davaaron.WPFManager\Davaaron.WPFManager.NETFramework\Davaaron.WPFManager.NETFramework.csproj"
The imported project "C:\Users\davaaron\source\repos\Davaaron.WPFManager\Davaaron.RoslynWrapper\bin\Debug\netcoreapp3.1\Microsoft.CSharp.targets" was not found. Confir

[2020-09-05 15:26] SingleAccretion commented on #47488
I would simplify the message to this:
[code]

[2020-09-05 16:33] CyrusNajmabadi commented on #44330
There design have even been established. As I pointed out in my posts, a type parameter may not be used explicitly, but may still be viral w to the correct behavior of the component.

[2020-09-05 20:33] lellid opened #47490 "Nullability analysis in constructor - no warning if autoproperty assigned to itself"
**16.8.0preview2.1 / net5.0preview8**:

**Steps to Reproduce**:

No error or warning is issued if in the constructor property `A` is assigned to itself (in this case it was a typo- silly me!):
[code]
If `A` would be a field instead of an autoproperty, a warning is issued (but not about nullability).

But consider the next example:

[code]

Again no error or warning, even if `A` and `B` are fields!

[2020-09-05 21:53] #30794 closed

[2020-09-05 22:17] Youssef1313 commented on #47128
@CyrusNajmabadi @jnm2
Probably by design?

#38821 mentions nameof(nint) as valid based on my understanding.

@jcouv Can you confirm if nint is intentionally allowed in nameof?

[2020-09-05 22:27] gafter commented on #30196
Closing as a dup of https://github.com/dotnet/roslyn/issues/45744. This warning is included in C# 9 if you use /warn:5 (the first warning wave)

[2020-09-05 22:27] #30196 closed

[2020-09-05 23:56] davkean commented on #47215
Here's what we do with project content items: https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/Tree/PackageContentProjectTreePropertiesProvider.cs#L14.

CPS has a built in way to automatically open these as "read-only".

[2020-09-06 00:01] #43802 closed

[2020-09-06 01:53] ryzngard commented on #47322
@jinujoseph  we should consider this for 16.8. I filed an internal bug with tracking details for telemetry https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1197657

[2020-09-06 03:44] jcouv commented on #47128
`nameof(int)` is disallowed, so I would expect the same for `nameof(nint)` when it binds to the native integer type (as opposed to a local variable named "nint").

[2020-09-06 04:10] CyrusNajmabadi commented on #46258
Mitigated with https://github.com/dotnet/roslyn/pull/47339 and fixed with https://github.com/dotnet/roslyn/pull/47343

[2020-09-06 04:10] #46258 closed

[2020-09-06 04:12] CyrusNajmabadi commented on #45668
The issue with TryRehydrateAsync was fixed with https://github.com/dotnet/roslyn/pull/47343

[2020-09-06 04:12] #45668 closed

[2020-09-06 04:13] CyrusNajmabadi commented on #40964
Fixed with https://github.com/dotnet/roslyn/pull/43752

[2020-09-06 04:13] #40964 closed

[2020-09-06 04:52] BaileyFirman commented on #47277
Hi @CyrusNajmabadi I did manage to work out a fix but it's to much of a hack right now to make a PR I feel.
[My Fix so far](https://github.com/dotnet/roslyn/compare/master...BaileyFirman:baileyfirman/47277).
I think the issue is in `CSharpIntroduceVariableService_IntroduceLocal.cs` around the check to see if the block {}'s are on the same line (L56). If they aren't on the same line a newLineCarrag

[2020-09-06 07:45] huoyaoyuan commented on #47445
What do you plan for codelens on properties that's only declared in primary constructor? Are they not being able to work with?

[2020-09-06 08:45] Youssef1313 opened #47496 "Outdated/incorrect XML doc on private method"
https://github.com/dotnet/roslyn/blob/e43555357f58252dc623b285aa62a1894d09afe8/src/Compilers/CSharp/Portable/Parser/LanguageParser.cs#L4683-L4700

The comment says it returns "true if not contextual". However, it returns "true" for nint and nuint which are contextual.

Changing the behavior to match documentation breaks tests (https://github.com/dotnet/roslyn/pull/47495).

[2020-09-06 12:30] abdonkasengo opened #47499 "WebApplicationError CS1061 'int' does not contain a definition for 'Visible' and no extension method 'Visible' accepting a first argument of type 'int' could be found (are you missing a using directive or an assembly reference?)"
[code]

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'int' does not contain a definition for 'Visible' and no extension method 'Visible' accepting a first argument of type 'int' could be found (are you missing a using directive or an assembly reference?)	WebApplicationHello	C:\Users\user\OneDrive\awd mrjoel\WebApplicationHello\WebApplicationHello\Default.aspx.cs	21	Ac

[2020-09-06 12:40] Youssef1313 commented on #47499
The error is correct. You defined the variable `Imagecamera` of type `int`, and `int` doesn't contain a definition of "Visible".
It seems like the type of `Imagecamera` should have been something else other than "int".

[2020-09-06 13:35] miloush commented on #47481
Your intellisense screenshot does not really correspond to your repro code, the `Content` could have been assigned before from a source that is known to be not null. The "default is null" is coming from the documentation, the compiler does not know anything about that. I am not saying you are wrong but maybe a more self-contained bit of code would help to understand what's wrong.