[2017-05-08 20:17] tmat opened #19350 "Integration test CSharpCodeActions.FastDoubleInvoke failed"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/3895/artifact/Binaries/Debug/UnitTests/VisualStudioIntegrationTests/xUnitResults/Roslyn.VisualStudio.IntegrationTests.dll.out.log

[code]

[2017-05-08 20:28] jskeet commented on #17968
Like @kentcb, I'm in the world of "I already have a project, I just want to load and analyze it."
(In fact I'd like to mess with the syntax trees of some source files and remove some statements, then save to a new filename, but that can come later.)

I'm able to load a project into an MSBuildWorkspace (`workspace.OpenProjectAsync`) but the result never has any documents, and the compilation retrie

[2017-05-08 20:31] Pilchie commented on #19288
Sorry - MyGet feed was intended to be a link, I've edited it inline.  You need to add a NuGet.config file that adds the (feed url)[https://dotnet.myget.org/F/roslyn/api/v3/index.json], similar to the one in Roslyn's repo [here](https://github.com/dotnet/roslyn/blob/master/NuGet.Config).

I expect that the problem is that your server doesn't have the SDK's your project depends on installed (Visual

[2017-05-08 20:33] #16562 closed

[2017-05-08 20:40] #19193 closed

[2017-05-08 20:40] #19235 closed

[2017-05-08 20:41] #19309 closed

[2017-05-08 20:41] #17962 closed

[2017-05-08 20:42] jcouv commented on #17962
Fixed by #18416

[2017-05-08 20:44] DustinCampbell commented on #17968
@jskeet: I *think* it's possible, but I haven't investigated what's required to make it work. There are a number of challenges that MSBuild 15 and VS 2017 bring to the table:

1. Using MSBuildWorkspace in a .NET Core app may only work for a particular set of projects because the targets, tasks, Sdks, etc. required by a particular project may not work on CoreCLR.
2. Getting MSBuildWorkspace to loca

[2017-05-08 20:53] jskeet commented on #17968
@DustinCampbell: For the minute, I'm going to experiment with an old-school MSBuild project - that way I can at least attack my Roslyn-ignorance. Once I understand a bit more about how it's *meant* to fit together, I can try on a .NET Core project again...

[2017-05-08 21:07] DustinCampbell commented on #17968
Note that there are two pivots here: what sort of application you are using MSBuildWorkspace within (.NET Core or .NET Framework) and what sort project you're trying to analyze (.NET Core or .NET Framework).

[2017-05-08 21:14] tmat commented on #19216
@OmarTawfik Thanks!

[2017-05-08 21:22] jskeet commented on #17968
Ack. I don't mind being restricted to doing it from a full Framework application, but I'd like to analyze a Core project. No idea what others want though :)

[2017-05-08 21:23] jinujoseph commented on #18155
**Design Team Decision**

It was decided that when we have compiler generated or Implicitly computed by compiler , we will set IsImplicit flag to true. It was also decided not to expose the option for Analyzer authors to specify if they want explicit or not. We can add that in future based on ask and scenarios.

[2017-05-08 21:24] mattscheffer opened #19351 "Creating C# WPF apps crash VS with ArgumentNullException"
**Version Used**:
VSUML 26507.1
**Steps to Reproduce**:
1. Install VS with .NET Desktop Development
2. Create a new C# WPF App

**Expected Behavior**:
Project creates successfully and you are able to work on it.
**Actual Behavior**:
Project creates followed by crashing VS.

Exception:
[code]

[2017-05-08 21:26] DustinCampbell commented on #17968
Using MSBuildWorkspace from a full Framework application does not restrict you from analyzing .NET Core projects. However, using MSBuildWorkspace from a .NET Core application _may_ restrict you from analyzing full Framework projects.

[2017-05-08 21:26] jcouv opened #19352 "PdbReader crashes on simple assembly from .NET Standard 1.0 project with tuples"
ILSpy crashes with this error:
[code]

Note that if I delete the PDB file, ILSpy can load the assembly just fine.

Here are the binaries causing the problem (dll and pdb):
[repro.zip](https://github.com/dotnet/roslyn/files/984883/repro.zip)

You can also repro with those steps:
1. Create a new solution with a .NET Standard 1.0 console project
2. Add latest ValueTuple package from myget (https://do

[2017-05-08 21:27] mavasani commented on #8347
Dupe of https://github.com/dotnet/roslyn/issues/8884#issue-134680222.

Will be fixed by https://github.com/dotnet/roslyn/pull/19307

[2017-05-08 21:27] #8347 closed

[2017-05-08 21:27] #19106 closed

[2017-05-08 21:27] tmat commented on #19352
A known bug in ILSpy. They need to update to the latest build of Cecil.

[2017-05-08 21:35] jcouv commented on #19352
Thanks

[2017-05-08 21:35] #19352 closed

[2017-05-08 21:36] jcouv commented on #19352
Found the ILSpy issue: https://github.com/icsharpcode/ILSpy/issues/789

[2017-05-08 21:43] tmat commented on #10683
Fixed by https://github.com/dotnet/roslyn/pull/19167.

[2017-05-08 21:43] #10683 closed

[2017-05-08 21:57] mavasani commented on #19344
@heejaechang I have merged the conflict resolution PR and skipped a bunch of bugs in VB with this bug ID. Please revert the skipped tag when fixing this. Thanks.

[2017-05-08 21:59] heejaechang commented on #19344
Will do.

  *   heejae

From: Manish Vasani [mailto:notifications@github.com]
Sent: Monday, May 8, 2017 2:57 PM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: HeeJae Chang <Heejae.Chang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn] Semantic break introduced by VBOperationFactory refactoring (#19344)

@heejaechang<https://na01.safelinks.protection.outlook.com/

[2017-05-08 22:15] davkean opened #19354 "NullReference during rebuild while reporting an error"
_From @jviau on May 5, 2017 19:16_

I was rebuilding a my solution and I received an NFE report. This was a one-off error and I am unable to reproduce it since. Opening on this repo since `LanguageServiceErrorListProvider` is owned by you. If you find this is a CPS issue please send back to me.

Solution:
- .netcore app targeting .netstandard1.5;net45
- .netcore xunit test app targeting .netcoreap

[2017-05-08 22:15] davkean commented on #19354
@jviau What build is this?

[2017-05-08 22:15] davkean commented on #19354
_From @jviau on May 8, 2017 19:41_

Ah right, suppose that is helpful haha.

Int-Preview channel, build 26502.1-Preview

[2017-05-08 22:16] davkean commented on #19354
@heejaechang Is your fix for this in the build above?

[2017-05-08 22:20] heejaechang commented on #19354
this was my fix - http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/TaskList/ProjectExternalErrorReporter.cs,50

but it says NRE, so not sure whether it is same thing or a bit before my fix. dump would help us here to determine.

[2017-05-08 22:38] jasonmalinowski opened #19355 ".editorconfig discovery isn't correctly ordered in some cases"
Right now the build task isn't returning the correct ordering if you had a directory structure roughly like:

.editorconfig
a\\.editorconfig
b\\.editorconfig

[2017-05-08 23:15] jinujoseph commented on #15562
We can verify this only after 15.3 ships

[2017-05-09 01:02] #19239 closed

[2017-05-09 01:10] HaloFour opened #19359 "Newline Formatting Options for unsafe Block"
**Version Used**:

Visual Studio 15.1 (26403.7)

**Steps to Reproduce**:

1. Uncheck all new line options for braces
1. Add the following code:

[code]

**Expected Behavior**:

The `unsafe` block to have the open brace on the same line as the keyword:

[code]

**Actual Behavior**:

A new line is inserted between the `unsafe` keyword and the opening brace:

[code]

There isn't a section specific fo

[2017-05-09 01:16] CyrusNajmabadi commented on #19359
PRs welcome.

[2017-05-09 01:51] #18994 closed

[2017-05-09 01:51] jcouv commented on #18994
Fixed by #19335

[2017-05-09 02:21] sharwell commented on #19359
:memo: I would have expected this option to control it (i.e. no new option should be needed for it):

![image](https://cloud.githubusercontent.com/assets/1408396/25833029/348f7c64-3434-11e7-8155-137df8813eed.png)

[2017-05-09 02:30] sharwell commented on #19354
1. It seems possible for `_workspace.GetHostProject(_projectId)` to return null, but the conditions in which this could occur are not clear to me.
1. There is a race condition in that method, where if a document is removed from a project at the same time as a diagnostic is getting reported for it, then `hostProject.ContainsFile(bstrFileName)` could return true followed by `hostProject.GetCurrentDo

[2017-05-09 02:37] jviau commented on #19354
@heejaechang unfortunately I can't get a dump file as I can't reproduce it. Probably a very rare race condition as @sharwell mentions.

@sharwell I was rebuilding the solution, no direct interaction with files besides that. It is possible an automatic nuget restore was running in the background though. I believe I had the directory open in vscode also, which can trigger nuget restores itself.

[2017-05-09 02:46] gulshan commented on #1580
Shouldn't this be moved to the csharplang repo now?

[2017-05-09 03:30] jcouv commented on #18612
Another scenario from Jason:

[2017-05-09 06:04] MRatnam commented on #19248
Ok thanks I'll chase that option up.

[2017-05-09 08:06] pompomJuice opened #19364 "You must add a reference to assembly 'System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."
**Version Used**:

[code]

**Steps to Reproduce**:

1. Just try to use `CSharpScript.RunAsync` with code that contains IEnumerable

**Expected Behavior**:

**IT WORKS! PROFIT**

**Actual Behavior**:

`Get multi datasource encountered an error Osprey.Pro.Common.OspreyException`1[Osprey.Pro.Api.ApiExceptions]: Get multi datasource encountered an error ---> Osprey.Pro.Common.OspreyException`1[Osprey.

[2017-05-09 13:42] jskeet commented on #17968
I can't get MSBuildWorkspace to work at all in a .NET Core application at the moment - but this snippet is working in a `net46` console app loading an "old school" class library csproj, but not loading a .NET Core csproj:

[code]

It doesn't throw any exceptions when loading the project - it just doesn't have any documents, and if I call `GetCompilationAsync` the compilation doesn't have any synta

[2017-05-09 13:52] DustinCampbell commented on #17968
It sounds to me like tasks/targets aren't being run properly. I believe @mattwar added a way to get MSBuild failures when opening a project or solution. Maybe check the `MSBuildWorkspace.Diagnostics` property?

[2017-05-09 13:57] jskeet commented on #17968
Nothing in `workspace.Diagnostics`, no... and it may be relevant that it *has* worked out the other project that the library I'm analyzing requires. (I'm analyzing `NodaTime.Demo.csproj`, which has a project reference to `NodaTime.csproj`; that dependency is present in the loaded project.)

I didn't mean to derail this issue though - if it's likely to be helpful to anyone else, I'm definitely happ

[2017-05-09 14:11] GerjanOnline commented on #19257
I just had the exact same problem. Enabling ` Use Managed Compatibility Mode` and  `Use the legacy C# and VB expression evaluators` "fixed" it

[2017-05-09 14:23] Pilchie commented on #17968
Note that you'll need to use the 2.3-* packages from our [MyGet feed](https://dotnet.myget.org/gallery/roslyn) for the `Diagnostics` events to be hooked up.  It happened after our most recently released packages were frozen.

[2017-05-09 14:31] jskeet commented on #17968
Ooh, I got all excited - but using 2.3.0-beta2-61709-08 for the `Microsoft.CodeAnalysis.*` packages doesn't help. Will put all of this into a small self-contained test - it'll be much easier to share that way. Back in 10 mins :)

[2017-05-09 14:45] jskeet commented on #17968
And of course, trying to come up with the repro, I've got different results. This time I've got both diagnostics as a failure *and* documents. Trying to work out what's different...

[2017-05-09 14:47] Pilchie commented on #19359
@CyrusNajmabadi already fixed this for 15.3 as part of https://github.com/dotnet/roslyn/pull/16842.

[2017-05-09 14:47] #19359 closed

[2017-05-09 14:54] jskeet commented on #17968
Okay, definite progress: my project has multiple target frameworks. If I specify a framework when creating the workspace, I get the same diagnostics (and documents) as for my smaller sample project:

[code]

Now I need to work out how to solve those diagnostics of course:

C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\Roslyn\Microsoft.CSharp.Core.targets: (71, 5):

[2017-05-09 14:58] DustinCampbell commented on #17968
Ah yes, if you have multiple TFMs you'll need to set the one you want MSBuild to use. It's kind of like setting the Configuration (which MSBuildWorkspace already sets).

[2017-05-09 14:59] jskeet commented on #17968
Hooray - solved. I just needed to add

[code]

That doesn't solve analyzing *from* a .NET Core application, but at least it shows analyzing *of* a .NET Core library working. Yay. Thanks very much as always - I owe you beer :)

[2017-05-09 15:00] DustinCampbell commented on #17968
Here's the mess that we do some of this in OmniSharp: https://github.com/OmniSharp/omnisharp-roslyn/blob/dev/src/OmniSharp.MSBuild/ProjectFile/ProjectFileInfo.cs#L120-L142.

[2017-05-09 15:14] Pilchie commented on #19330
Please collect a trace so that it can be investigated.

[2017-05-09 15:14] #19330 closed

[2017-05-09 16:20] tmat commented on #19364
What version of Roslyn are you using? What arguments do you pass to ```CSharpScript.RunAsync```, specifically the script options?

[2017-05-09 16:59] pompomJuice commented on #19364
![image](https://cloud.githubusercontent.com/assets/1815319/25862479/7b10e556-34e8-11e7-8df0-86583cd7ca49.png)

[code]

[2017-05-09 17:54] tmat commented on #19364
I think this doesn't work because http://source.roslyn.io/#Microsoft.CodeAnalysis.Scripting/Hosting/Resolvers/RuntimeMetadataReferenceResolver.cs,180 doesn't work on Mono. We'll need a Mono-specific version of the code.

[2017-05-09 18:25] Pilchie commented on #19248
I get a 404 when I try to access the OneDrive link you sent to me :-/

[2017-05-09 18:30] jmarolf opened #19367 "re-enable Option Strict in the props files"
related: https://github.com/dotnet/roslyn/pull/19331

[2017-05-09 18:43] sharwell opened #19368 "Handle special edge case in simplification"
**Version Used**: Master with #19258 merged

A test already exists for this case, but was disabled as part of #19258. This behavior impacts both automatic simplification scenarios (running the simplifier as part of code formatting) as well as the simplication cases detected through an analyzer.

⚠️ When working on a correction to this, be careful not to regress on the performance benefits provided

[2017-05-09 19:11] CyrusNajmabadi commented on #13594
Hey Ravi, here's a repro for this:

[code]

Cursor is before the BLABLA part.  Hitting ctrl-space produces:

![image](https://cloud.githubusercontent.com/assets/4564579/25868112/99e211fe-34b0-11e7-8198-7030417c1c59.png)

[2017-05-09 19:38] jasonmalinowski commented on #19209
Test is disabled, moving to interactive to actually fix the test.

[2017-05-09 19:40] jairbubbles commented on #19131
@jkotas I quickly tested a self contained .NET Core application but the compilation time was worse than with .NET framework. Are assemblies supposed to be native?

[2017-05-09 19:41] heejaechang commented on #19354
@sharwell I believe all these are happening on UI thread. but without repro or dump, hard to say.

[2017-05-09 20:23] DustinCampbell opened #19369 "Convert base / Insert digit separators refactorings are not available when the caret is at the end of a numeric literal"
**Version Used**: Latest magma-hot bits

**Steps to Reproduce**:

[code]

1. Place editor caret between `2` and `;`
2. Press <kbd>Ctrl</kbd>+<kbd>.</kbd>

**Expected Behavior**: 'Convert base' and 'Insert digit separators' refactorings should be available.

**Actual Behavior**: They're not.

[2017-05-09 20:53] tmat commented on #19209
@ivanbasov Please take a look.

[2017-05-09 21:09] gafter commented on #1580
@gulshan There are no language changes proposed here.

[2017-05-09 21:11] bkoelman opened #19371 "API replacement for named arguments in IOperation"
**Version Used**:
master branch

As discussed in https://github.com/dotnet/roslyn/issues/8813:

Because I have an [existing analyzer](https://github.com/bkoelman/CSharpGuidelinesAnalyzer/blob/master/src/CSharpGuidelinesAnalyzer/CSharpGuidelinesAnalyzer/Rules/Maintainability/AvoidUsingNamedArgumentsAnalyzer.cs) that depends on `ArgumentKind.Named`, I tried to use syntax instead. However I failed to

[2017-05-09 21:11] redknightlois opened #19372 "Local Functions do not support attributes"
**Version Used**:
C# 7 on Visual Studio 2017

**Steps to Reproduce**:

[code]

**Expected Behavior**:
Signal the JIT to inline the function for performance. (I know that recursive functions will not inline, I just copied the function from the blog  post detailing local functions and stamped the attribute in there).

**Actual Behavior**:
Does not compile

cc @Pilchie

[2017-05-09 21:12] bkoelman commented on #19371
tagging @AlekseyTs @genlu @mavasani @CyrusNajmabadi @jinujoseph

[2017-05-09 21:53] emdelaney opened #19373 "The .editorconfig setting dotnet_style_qualification_for_method = true does not appear to work."
**Version Used**: Roslyn Language Services 2.1.0.6152004 / Latest Visual Studio 2017

**Steps to Reproduce**:

1. In the latest version of Visual Studio 2017, open a solution with an .editorconfig file (I based my file on the Roslyn .editorconfig file, as seen here: https://github.com/dotnet/roslyn/blob/master/.editorconfig ).
2. Set the following property in the .editorconfig file: `dotnet_style_

[2017-05-09 22:14] mavasani opened #19375 "Unexpected IAssignmentExpression in an object initializer"
See https://github.com/dotnet/roslyn/pull/19278#discussion_r115615008

[2017-05-09 22:16] genlu commented on #19371
`IArgument.Syntax` returning the syntax for the expression instead of the entire argument is a known bug, which should be fixed soon. The goal is you would be able to get the corresponding `ArgumentSyntax` for explicit arguments (for default values and empty param array, `Syntax` will give you entire invocation I believe).

[2017-05-09 22:23] jnm2 opened #19376 "Go to All and Find All References deduplication improvements"
<sup>Moving the conversation @NickCraver started [from Twitter](https://twitter.com/Nick_Craver/status/861718011409039361) at @davkean's request.</sup>

VS2017's Go to All and Find All References duplicates items for each platform or framework you're building against. If you build for six platforms, every member shows up six times but takes you to exactly the same point in the same document. It's

[2017-05-09 22:27] khyperia commented on #18555
Duplicate of #14900

[2017-05-09 22:27] #18555 closed

[2017-05-09 22:30] NickCraver commented on #19376
Related here, there' a search bug I noticed in capturing these. Note what happens I enter `T` right after a `<` in the search, certainly not expected behavior:

<img width="478" alt="screen shot 2017-05-08 at 19 23 32" src="https://cloud.githubusercontent.com/assets/454813/25875385/20345e9a-34e5-11e7-9440-2db4296e6a03.png">

...with a `T` goes to:

<img width="474" alt="screen shot 2017-05-08 at 1

[2017-05-09 22:30] jnm2 commented on #19376
@NickCraver My guess is separate issue.

[2017-05-09 22:33] #18115 closed

[2017-05-09 22:37] CyrusNajmabadi opened #19377 ""use throw expression" doesn't check that the "if check" surrounding the 'throw' has nothing but the 'throw' in it."
Reported by David Sterling.

[2017-05-09 23:04] jkotas commented on #19131
dotnet cli does not have integration with crossgen for standalone apps yet, unfortunately: https://github.com/dotnet/sdk/issues/593

You can workaround it by running crossgen directly on the output of `dotnet publish -c Release`. Here is a small .bat file that should do the trick:

https://gist.github.com/jkotas/d6b5d9584137252d2351c47471c41ef1

[2017-05-09 23:40] gafter commented on #17121
@jaredpar As far as I know the editorconfig file is not used by the compiler. It may be used by analyzers, as may other files, but we have an umbrella documentation for files used by analyzers.

So I think this work item is complete. Please reopen if you have something specific you believe should be added to the docs.

[2017-05-09 23:49] CyrusNajmabadi commented on #19376
PRs welcome

[2017-05-09 23:51] CyrusNajmabadi commented on #19376
We don't support any sort of special syntax for generic types.  Note that we're also moving our pattern matching code down to the platform layer (so all managed languages in VS could use it).  As such, it gets even more difficult to put in support for matching all the sorts of special constructs that could be different across languages.

[2017-05-09 23:55] jnm2 commented on #19376
@CyrusNajmabadi

It's literally a matter of matching the text of the items that show up in the list. Instead of just indexing the name, you could index the display text.

[2017-05-09 23:57] NickCraver commented on #19376
That's unfortunate, searching for a generic is a **very** common case here. A specific usage, or <T>, etc. Reverting to text find for all those cases really is very frustrating since I can see the results just down the list...but a text find is often faster than going through it.

I'm unfamiliar with VS tooling, really not a good use of my time (compared to libs for the community), but I hope some

[2017-05-09 23:59] jnm2 commented on #19376
@NickCraver This is definitely two separate issues though.

[2017-05-10 00:00] NickCraver commented on #19376
@jnm2 yeah totally fair - I'll at least file this out, un momento.

[2017-05-10 00:00] jnm2 commented on #19376
@NickCraver loop me in please? I have an idea that I'll add.

[2017-05-10 00:02] jnm2 commented on #19376
I added this issue to my PR wishlist, so maybe I'll get around to this in a year if no one beats me to it. 😝

[2017-05-10 00:04] NickCraver opened #19380 "GoToAll for Generics doesn't find results, e.g. "Query<T" does not find "Query<T>""
**Version Used**: 15.1 (26403.7)

**Steps to Reproduce**:

1. Open Dapper Solution ([repo link](https://github.com/StackExchange/Dapper/tree/4915071380d3f9a4c44f5257927a09facc847ab3))
2. Edit.GoToAll (I have it as `Ctrl+T`)
3. Type `Query<`
4. Observe results
5. Add `T`

**Expected Behavior**:
`Query<T>` is found as a result, which was clearly in the list in step 4, pictured here:

<img width="478

[2017-05-10 00:05] NickCraver commented on #19380
Context info from @CyrusNajmabadi in #19376:

[2017-05-10 00:05] NickCraver commented on #19376
Filed as an issue in https://github.com/dotnet/roslyn/issues/19380

[2017-05-10 00:15] jnm2 commented on #19380
It's possible to index the display text for every consuming language, but I can see why you'd want to avoid that because you'd have to index the same thing in multiple syntaxes.

What about simply adding a Go to Text capability to Go to All? That would pick up the `ClassName<T` search quite easily. In almost all cases, you'll be typing what you want to jump to in the same language that it was writ

[2017-05-10 00:19] CyrusNajmabadi commented on #19380
That would certainly be nice.  It would be something VS would have to supply (like they do for 'nav-to' wrt to checking the pattern against filenames).

[2017-05-10 00:23] CyrusNajmabadi commented on #19376
It's really not that simple :)

(trust me, i've written and rewritten this system several times).  For one thing we don't want symbols to be generated when producing the index.  So we don't have a context of 'DisplayText'.

Furthermore, this gets deeply complex due to the fact that different languages have different symbolic representations for these things.  For example, say you wrote the type in

[2017-05-10 00:31] Pilchie commented on #19332
I love this idea, and it relates to the work in https://github.com/dotnet/roslyn/pull/18966.

Tagging @kuhlenh and @DustinCampbell too for thoughts.

[2017-05-10 00:33] Pilchie commented on #19347
Tagging @heejaechang and @jinujoseph about this request.

[2017-05-10 00:37] Pilchie commented on #19351
Fixed yesterday in https://github.com/dotnet/roslyn/pull/19357.

[2017-05-10 02:41] Pilchie commented on #19369
@alrz - interested in another one?

[2017-05-10 03:03] Pilchie commented on #19248
Got the dump file, and it does indeed look like the same issue.  From the event log above, it was crashing [here](https://github.com/dotnet/roslyn/blob/version-1.3.1/src/VisualStudio/Core/Def/Implementation/ProjectSystem/MiscellaneousFilesWorkspace.cs#L218), but the dump is crashing on the previous [line](https://github.com/dotnet/roslyn/blob/version-1.3.1/src/VisualStudio/Core/Def/Implementation/

[2017-05-10 04:18] AlekseyTs opened #19382 "A combination of discard with arglist crashes compiler"
[code]

{"Unexpected value 'DiscardExpression' of type 'Microsoft.CodeAnalysis.CSharp.BoundKind'"}

 	Microsoft.CodeAnalysis.CSharp.dll!Microsoft.CodeAnalysis.CSharp.CodeGen.CodeGenerator.EmitExpression(Microsoft.CodeAnalysis.CSharp.BoundExpression expression, bool used) Line 56	C#
 	Microsoft.CodeAnalysis.CSharp.dll!Microsoft.CodeAnalysis.CSharp.CodeGen.CodeGenerator.EmitAddressOfTempClone(Micros

[2017-05-10 05:16] MRatnam commented on #19248
Thanks for confirmation. I'll chase up with support.

[2017-05-10 05:31] alrz commented on #19332
Also F12 on the decl itself should go to usages.

[2017-05-10 05:37] AlekseyTs opened #19383 "It looks like LocalRewriter.BuildParamsArray doesn't handle a case of bad or missing int type."
[code]

[2017-05-10 06:16] AlekseyTs commented on #19383
Similar issue in GetDefaultParameterValue?
[code]

[2017-05-10 08:46] bkoelman commented on #19371
Thanks for your explanation.

Will this fix and the API changes be in the next VS update? I know that `IOperation` is still experimental, though I would like to try and keep my analyzers working as good as possible.

The changes in the features/IOperation branch will ship somewhere after that, right?

I'm very happy to see lots of efforts to make `IOperation` better! Keep up the good work ;)

[2017-05-10 09:25] pompomJuice commented on #19364
Solved it with:

` assemblies.Add(Assembly.Load("System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a")); //System.Runtime`

Let that be a lesson not to overcomplexify

[2017-05-10 09:33] abhijitparkhi1983 opened #19386 "How to check if a Class or a Method is a Partial Class or Partial Method"
**Version Used**:
2.0.1

**Steps to Reproduce**:

1. For any Partial Class/Method, the corresponding **ClassDeclarationSyntax** node or **MethodDeclarationSyntax** node data does not give any information if the given class is Partial class/method.
2. We dont get this information even from any property of **INamedTypeSymbol** for Class or **IMethodSymbol** for Method.
3. We can get this information

[2017-05-10 11:16] mkrueger opened #19387 "Shared project model"
I got this bug report:

----

Added a second class in same .cs file.

namespace stuff
{
class1 { }
class2 { }
}

When adding additional class in same .cs file, VS4Mac suggested moving class2 it’s own file. Instead of creating new class2.cs in existing file’s project (in this case the shared code project of the Xamarin Forms project), it moved to iOS specific project.
----

Basicaly the MoveTypeToF

[2017-05-10 11:19] jaredpar commented on #17121
It's an active feature and the design isn't fully closed out.

[2017-05-10 12:13] breyed opened #19388 "Debugger doesn't show captured variable within type-matched switch"
When debugging a function created within a switch/case block that matches based on type, you can't view the value of captured variables in the debugger.

Repro:

[code]

Put a breakpoint on the line `return ae;` and try to inspect the value of `ae`. In Visual Studio 2017, you can't view its value in Autos, Locals, or any Watch window. This error appears:

[2017-05-10 13:59] srivatsn opened #19389 "Renaming an open file causes it end up in the MiscProject"
_From @davkean on May 2, 2017 4:5_

Dev15 Preview 1:

1. File -> New -> Console App (.NET Core)
2. In Solution Explorer, rename Program.cs -> Program1.cs
3. Notice that it ends up in Misc:

![image](https://cloud.githubusercontent.com/assets/1103906/25603591/65528600-2f40-11e7-87fd-34fc106903f9.png)

_Copied from original issue: dotnet/project-system#2102_

[2017-05-10 13:59] srivatsn commented on #19389
_From @davkean on May 2, 2017 4:9_

Note, this appears to be have been caused by: https://github.com/dotnet/project-system/pull/1841. It looks like Roslyn expects that the file has been renaming in the running document table by the time we tell them about the file. This isn't case anymore, it looks like publishing the tree used to do that.

[2017-05-10 13:59] srivatsn commented on #19389
_From @CyrusNajmabadi on May 8, 2017 19:17_

This is definitely super annoying (and a pretty bad regression).

[2017-05-10 14:01] srivatsn commented on #19389
@jasonmalinowski said in an email:

If that’s “expected” by the current code this is just a bug and nothing more. Honestly it might mean there’s a legitimate bug outside CPS scenarios too we need to look at.

My half-seriously-named Fundamental Rule of Project System Interaction is whenever we’re being told about a project/document/event that is ordered relative to some other event (in this case,

[2017-05-10 14:13] scottlurowist commented on #19288
_I expect that the problem is that your server doesn't have the SDK's your project depends on installed (Visual Studio installs them as prerequisites)._

This does not explain why the tool runs successfully on the same build agent for one solution, but not another. It seems to me that BOTH solutions for different products would not work.

I can't look at this until the weekend. I have deadlines at

[2017-05-10 14:29] Pilchie commented on #19288
Do the two solutions have different dependencies?

[2017-05-10 15:30] ThomasKramer commented on #19182
I just ran into the same issue, here is a small sample to reproduce the crash:

[code]

[2017-05-10 15:42] diryboy commented on #18614
I think the code is in `src\VisualStudio\Core\Impl\Options\OptionPreviewControl.xaml`? The ServicesVisualStudioImpl project.

[2017-05-10 16:01] diryboy commented on #18614
OK, I fixed this in my local build, will make a PR.

[2017-05-10 16:12] jinujoseph commented on #18155
@bkoelman i have updated the comments to clarify.

[2017-05-10 16:25] gafter commented on #17121
@jaredpar This issue says that "Compiler does not take all inputs into account for determinism". As far as I know that is not true; it does take all inputs into account. This is not an open design issue, it is a bug report.

If there is another feature that impacts determinism under active development, please open a specific issue against the team doing that development to make sure the team takes

[2017-05-10 17:05] heejaechang commented on #19347
it is a bit hard since that delay is shared by every one. not just F#.

[2017-05-10 17:15] #18596 closed

[2017-05-10 17:38] OmarTawfik opened #19393 "Intermittent VSI test failures"
There is some flakiness in the following builds:

https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/view/Official%20Builds/job/dev16/job/windows_vsi_p1/57/
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/view/Official%20Builds/job/master/job/windows_vsi_p2/885/

These succeeded after retrying the job. Example for the error:

[code]

[2017-05-10 17:48] OmarTawfik opened #19394 "Compiler crashes when a user defined struct is used as a well known attribute synthesized by the compiler"
Example test:

[code]

However, the compiler crashes with the following:

[code]

[2017-05-10 17:48] OmarTawfik commented on #19394
cc @AlekseyTs

[2017-05-10 17:55] OmarTawfik opened #19395 "Compiler uses user-defined well known members as attributes even though the containing type doesn't satisfy Attribute requirements"
Example code:

[code]

Compiler will use that type even though it does not inherit `System.Attribute`.
Also, it is the same case when inheriting `System.Object` directly.

[2017-05-10 17:55] OmarTawfik commented on #19395
cc @AlekseyTs

[2017-05-10 18:06] ivanbasov commented on #19393
@OmarTawfik , thank you for reporting this!
I could not find logs you quoted under links provided. I have found configuration errors but not integration test specific error or logs. Could you please provide more specific links?

As far as I understand from the logs quoted, this happens with Tao tests. We are in the process of migrating from Tao tests (roslyn-internal) to xUnit tests (roslyn). It w

[2017-05-10 18:17] OmarTawfik commented on #19393
@ivanbasov Check the console tab of the failure. For example:
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/view/Official%20Builds/job/dev16/job/windows_vsi_p1/57/console

[code]

[2017-05-10 18:22] #17155 closed

[2017-05-10 18:23] TyOverby opened #19397 "Test DiagnosticDescription diff algorithm"
ref: https://github.com/dotnet/roslyn/pull/19353

[2017-05-10 18:27] ivanbasov commented on #19393
Thank you, @OmarTawfik !
The test failed in the quote is BasicProjectSystem.xml. As I see, it is not related with interactive. So, I removed this label.
@roslyn-ide, please triage the migration of the test.

[2017-05-10 18:28] CyrusNajmabadi commented on #19347
We can certainly make it configurable on a per-feature basis.

[2017-05-10 18:43] orthoxerox commented on #18733
Fixed in `master`

[2017-05-10 18:43] #18733 closed

[2017-05-10 18:53] Pilchie commented on #19393
Tagging @srivatsn for the project system issue.

[2017-05-10 18:58] binki commented on #19182
I think this, or at least the repro posted by @ThomasKramer , is the same as/similar to my repro. It might be some compounded issue of generics and nested blocks and automatic escalation of `ref struct` style inlines to delegates with instances:

[code]

My call stack does not look identical, though:

[code]

[2017-05-10 18:58] cston opened #19398 "InvalidCastException lowering deconstruction conversion"
[code]
`System.InvalidCastException` in `LocalRewriter.GetRightParts`: `Unable to cast object of type 'Microsoft.CodeAnalysis.CSharp.BoundLocal' to type 'Microsoft.CodeAnalysis.CSharp.BoundTupleExpression'.`

[2017-05-10 19:00] Pilchie commented on #19380
Tagging @kuhlenh and @markw-t to see this too.

[2017-05-10 19:03] Pilchie commented on #19376
The FAR issue is already tracked as https://github.com/dotnet/roslyn/issues/16587.  I'm going to close this as a dupe, but update the original issue to point out that it affects Go To as well.

[2017-05-10 19:03] #19376 closed

[2017-05-10 19:06] Pilchie commented on #16587
See also #19376 which shows how the same issue impacts Go To as well.

[2017-05-10 19:08] orthoxerox opened #19399 "Generated source files are not regenerated before CodeAnalysis projects are built."
**Version Used**: master HEAD

**Steps to Reproduce**:

1. Change Syntax.xml or BoundNodes.xml
2. Build Roslyn
3. Try using new nodes

**Expected Behavior**: new nodes are available as types

**Actual Behavior**: new nodes are not available as types

[2017-05-10 19:11] CyrusNajmabadi commented on #16587
Good examples of how this could look.

Right now we have:

![image](https://cloud.githubusercontent.com/assets/4564579/25916533/cb8ae86a-3579-11e7-80fa-16d9fb2698ea.png)

It would be nice to have:

![image](https://cloud.githubusercontent.com/assets/4564579/25916542/d3a7a0ba-3579-11e7-9e18-9911e7fbe737.png)

[2017-05-10 19:17] ivanbasov commented on #19209
Looking into logs, I think that the test mentioned failed due to a VS failure after the previous test. We have an issue for tracking this #18293. This means that with disabling this test, another test running next to the current one can become flaky.

I will take a look at this when considering #18293.

Tagging @jmarolf and @tannergooding who may have more ideas.

[2017-05-10 19:33] CyrusNajmabadi commented on #19240
Improved things a bit here: https://github.com/dotnet/roslyn/pull/19291

I'm happy with this overall.  if you find yourself wanting more heuristicy improvements, let us know!

[2017-05-10 19:33] #19240 closed

[2017-05-10 19:36] bkoelman commented on #18155
Thanks

[2017-05-10 19:50] jcouv opened #19403 "Ref assemblies produced by refout have more types than that produced by refonly"
Because the refout scenario binds method bodies (to emit the primary assembly), additional types and references are pulled in. For instance, anonymous types, closures, NoPia embedded types.

[2017-05-10 19:58] Logerfo opened #19404 "Missing AccessorDeclarationSyntax.ExpressionBody"
I'm creating an `CodeFixProvider` for an analyzer and stepped on the following issue:

According to the [source ](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Generated/Syntax.xml.Internal.Generated.cs,22db92ca60784def), `AccessorDeclarationSyntax.ExpressionBody` is `public`. I can see that property through VS watch, but I can't access it through my normal code ('AccessorDeclarationSnyta

[2017-05-10 20:33] IlyaBiryukov opened #19405 "InvalidOperationException: Sequence contains more than one matching element at Microsoft.VisualStudio.LanguageServices.Implementation.ProjectSystem.AbstractProject.TryGetCurrentMetadataReference()"
**Version Used**:
MS.VS.LanguageService.Implementation.dll: 2.03.0.61612
VS: vsuvscore 26503.00

**Steps to Reproduce**:

1. Clone and init Roslyn solution
2. Open it in VS and enable Light Weight Solution load
3. Save, close and restart VS
4. Open Roslyn solution again

**Expected Behavior**:
No error messages loading the solution

**Actual Behavior**:
Intermittently an error dialog pops up. It p

[2017-05-10 20:42] tamlin-mike commented on #18614
@diryboy It was as simple as moving "TextBlock" in XAML? If so, no wonder I didn't grok it! I grepped the src (*.cs). If this fixes it: For you, the cake is no lie (ref. the game Portal).

[2017-05-10 20:59] huizhonglong opened #19407 "DeferredProjectWorkspaceService needs update to do the filtering on IVsSolutionWorkspaceService.GetManagedCommandLineInfoAsync()"
IVsSolutionWorkspaceService.GetManagedCommandLineInfoAsync() used to return a dictionary with only valid intellisense data (CommandLineArgs and TargetPath not null or emtpy); the key is the full project path.

For 15.3 Preview 2, we've made the change to return the ManagedCommandLineInfo for all projects in the solution, so that when Roslyn calls this API, it can filter and act upon the projects t

[2017-05-10 21:04] lachbaer commented on #10154
My 5 cents: parts of the record type could be automatically implemented by interfaces, if requested by the user with the `auto` keyword. Otherwise it is a POCO.
[code]
The standard `object` method overrides should always be created automatically, as should the `operator is`.

[2017-05-10 21:15] lachbaer commented on #10154
I've got to explain the advantages of my previous suggestion. You can incrementally add functionality to the record types when the compiler and framework evolves. The record types are downward compatible, because the user can cast them to the necessary interface.

To ease with the available interfaces, there can be a summarizing interface, like 'IRecordTypeBase' that implements basic functionality

[2017-05-10 21:17] mattscheffer commented on #19351
@Pilchie Wasn't this pushed to VSUML? I just upgraded to the latest build which contains 20170509.8 and i'm still seeing the crash.

[2017-05-10 21:47] rchande opened #19409 "Naming suggestions after out var"
![image](https://cloud.githubusercontent.com/assets/3751401/25922844/9466918e-358f-11e7-95dc-4f9d41255217.png)

[2017-05-10 21:47] rchande commented on #19409
cc @CyrusNajmabadi

[2017-05-10 21:55] sharwell commented on #19409
I marked this as **Bug** instead of **Feature Request** since it's so clear what the expected behavior needs to be and was just a minor oversight when implementing the feature originally.

[2017-05-10 22:02] TyOverby opened #19410 "VS Crashes when F5ing Roslyn.sln"
This is when opening a console application in the newly spawned VS.

[code]

[2017-05-10 22:02] heejaechang commented on #2311
probably now we will move to checksum rather than version for persistence.

[2017-05-10 22:10] khyperia commented on #16821
Update while exploring this issue to fix it:

The problem is more general than originally reported as. All default values of parameters in local functions are not marked as used:

[code]

This is because `SourceComplexParameterSymbol` does not hold on to the bound expression for the default value. It binds the expression, extracts its constant value, and immediately drops the bound expression. Thi

[2017-05-10 22:32] austinv900 commented on #17367
Same issue

[2017-05-10 22:34] CyrusNajmabadi commented on #17367
This is because the indent system looks for the actual key to be typed to be "n".  This is clearly broken and hte indent system should likely listen for tab/enter/completion-commands, shoudl call through to completion so that completion commits, and then should indent accordingly.

[2017-05-10 22:34] CyrusNajmabadi commented on #17367
PRs welcome.

[2017-05-10 22:45] CyrusNajmabadi opened #19412 "Need general IDE integration test that adds a bad piece of metadata so we can ensure that all metadata related features are resilient."
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2017-05-10 22:58] AArnott opened #19415 "DCR: Roslyn should throttle parallelizable work and not flood the threadpool"
I've learned from @CyrusNajmabadi that Roslyn tends to flood the threadpool with Tasks whenever highly parallelizable work needs to be done. This is bad for the rest of the application because (for example) if you have several seconds' worth of work in the ThreadPool's queue, any more urgent request for the Threadpool that is added to the queue has to wait several seconds before getting attention.

[2017-05-10 23:03] CyrusNajmabadi commented on #19415
This is going to be a problem no matter what.  Any component/extension/module/whatever may be using the threadpool in precisely this manner.  Indeed, it's the purpose of the the threadpool.  To efficiently allow you to get high throughput with the work you need that is not latency dependent.

If you need latency (i.e. because you're on the UI thread), then the threadpool is not an appropriate plac

[2017-05-10 23:12] AArnott commented on #19415
Yes, any VS extension can ruin the experience for the rest of VS. But that's not a good reason for Roslyn to do the same.

The purpose of the threadpool is so folks can schedule CPU work on another thread without paying the costs of spinning up a thread. It also minimizes the cost of maintaining too many dedicated threads where a dedicated thread is not required.

I suspect @stephentoub can offer

[2017-05-10 23:17] CyrusNajmabadi commented on #19415
This should not be ruining the experience for the rest of VS.  AFAICT the threadpool has never given any sort of latency guarantees.  When you schedule work in it there is no expectation that your work will happen any time soon.  It's simply a place for BG threads to churn on tasks and whatnot.  I've never seen a single piece of documentation in VS that says that its inappropriate to use the threa

[2017-05-10 23:24] CyrusNajmabadi commented on #19415
Tagging @Pilchie

[2017-05-10 23:50] AArnott commented on #19415
In VS Platform we have dealt with threadpool exhaustion for years and yes, we even recently [publicly documented the problem](https://github.com/Microsoft/vs-threading/blob/master/doc/threadpool_starvation.md). Most of this documentation has been around for years, and we tend to point people at it as we identify offenders who flood the threadpool. Most of the time we see it, it's because folks are

[2017-05-10 23:52] CyrusNajmabadi commented on #19415
The caution is about what you can observe if you use SetMinThreads and set the value too high.  We're not doing that.

[2017-05-10 23:56] Pilchie commented on #19351
Should have been I think.  @tmeschter ?

[2017-05-10 23:57] CyrusNajmabadi commented on #19415
It shouldn't be.  Again, the threadpool is not, and has not been a resource for latency sensitive purposes.  That's why, for example, it mentioned "You require a thread to have a particular priority".  Effectively, when you're using the threadpool, you're saying i'm ok with my work being done in cooperation with everyone else using it.  As you have stated, it's a shared resource.

If you have a ci

[2017-05-10 23:59] AArnott commented on #19415
Yes, I guess that's true. But the rest of the caution is true even if you omit the first sentence, because scheduling too many tasks at once makes most of them appear slow.

[2017-05-10 23:59] CyrusNajmabadi commented on #19415
Note: here's what your own documentation says:

That's how we do things.  :)

[2017-05-11 00:00] AArnott commented on #19415
As I said before, that doc was written with the starvation cause we've seen so far being folks who *block* threads. You're one of the first teams to simply flood the queue, so we didn't talk about that directly.

[2017-05-11 00:03] Pilchie commented on #19415
I don't actually see how making fewer, longer running tasks would actually make the situation any better (modulo the small per-task overhead).  As long as the tasks are yielding their threads instead of blocking, I don't see a problem here.

@stephentoub - what are your thoughts on this sort of practice?

[2017-05-11 00:03] AArnott commented on #19415
Where is your documentation to back that up?

The threadpool has lower latency than creating a dedicated thread, when the threadpool is available.

[2017-05-11 00:03] CyrusNajmabadi commented on #19415
A task is not meant to be 'fast'.  It is meant to represent 'asynchronous' work.  i.e. work that may take a *large* amount of time, precisely because of any number of factors may be impacting it.  The point of tasks is to be able to say "i want this work to happen, and i accept that it may take time" and to design the rest of your system appropriately.  For example, for a feature like FAR, we know

[2017-05-11 00:03] Pilchie commented on #19351
And @jasonmalinowski who I think did this insertion.

[2017-05-11 00:04] AArnott commented on #19415
@Pilchie I'm not asking for bigger tasks. I'm not asking to throttle the *number* of tasks. I'm asking that you throttle the rate at which you add tasks to the threadpool queue. And the reason that makes the situation *heaps* better is that with a shorter threadpool queue, any individual scheduled task completes more quickly. And when the task is necessary for high priority work (like the user is

[2017-05-11 00:05] CyrusNajmabadi commented on #19415
It's the reverse.  The Task and Threadpool APIs do not given any latency guarantees.  Without guarantees, you should not expect them to behave in this manner.

I mean, the entire basis of Task is that is represents async work.  The point of it was to allow you to say "this may take some unknown amount of time, go do it, and allow me to resume once you are complete".  If you need it to represent bo

[2017-05-11 00:08] CyrusNajmabadi commented on #19415
I don't see how that helps.  So we throttle the rate that we add tasks.  But we still add the tasks, and the TPL still runs our tasks before your high-pri task.  You're still not going to run for a while.

Note: the documentation you *did* link to said precisely this:

*When Not to Use Thread Pool Threads*

If you need priority work, then the recommendation is to not use the threadpool and to use

[2017-05-11 00:09] AArnott commented on #19415
Thank you for that.

Neither does the UI thread. The windows kernel is not (typically) a real-time scheduler. So guarantees are rarely written down. Nevertheless, much more code in VS is (thankfully) being written to be async where possible now. But blocking the UI thread on some of this work is still sometimes necessary. And if you have a background operation going in Roslyn and VS wants to updat

[2017-05-11 00:18] AArnott commented on #19415
Cyrus, we're reading the same docs and interpreting them differently. I'm OK with that, but I don't have more time to spend right now trying to find more documentation to back this up.

What I can tell you with authority though is that what you're doing is unhealthy for VS. I haven't seen UI delays in VS that we've pinned to Roslyn's flooding the threadpool because as I've said, identifying thread

[2017-05-11 00:22] CyrusNajmabadi commented on #19415
Do you have a suggestion on how we could do this?  Roslyn is dozens of components across several languages.   It's unclear to me how we would actually coordinate things such that the rate at which tasks were added to the threadpool was throttled.

Tagging @jasonmalinowski

[2017-05-11 01:01] AArnott commented on #19415
I'd be happy to suggest options. My initial issue section has several suggestions of resources .NET offers that can help you. The most relevant since we're focused on the threadpool here is [ConcurrentExclusiveSchedulerPair](https://msdn.microsoft.com/en-us/library/system.threading.tasks.concurrentexclusiveschedulerpair(v=vs.110).aspx), which should keep your scenario running just as fast, while s

[2017-05-11 01:07] jramsay opened #19420 "VS2017 AppCrash when typing in a JS script block in HTML (Microsoft.CodeAnalysis.SQLite.SQLitePersistentStorage.<BulkPopulateProjectIdsWorker)"
**Version Used**:
vsujslt (26510.01) RPS Lab Machine

**Steps to Reproduce**:

1. Opened the Umbraco project that the RPS run uses
2. Opened HTMLPage1.html
3. Typed: <script>var test = "test"; test. <script>

**Actual Behavior**:
VS AppCrash
![appcrash](https://cloud.githubusercontent.com/assets/8161247/25927535/72c24eb2-35ab-11e7-919d-acf34d301304.jpg)

**Call stack**:

Faulting application name:

[2017-05-11 01:10] VSadov opened #19421 "Expose "[readonly] ref structs" in the semantic info and symbol display"
After working with actual ref structs, I am convinced that `ref` must be surfaced in the symbol display.

When chasing through an escape violation, it would be useful to know which types are ref structs and which are not.

Also consider  "readonly". It may be useful too, but also longer...

[2017-05-11 01:10] CyrusNajmabadi commented on #19415
We do not bound anything.  :) We create tasks *everywhere*.    Everything, afaict, is unbounded.  Note: as mentioned previously, we're also a disparate set of components.  Would the ConcurrentExclusiveSchedulerPair ensure throttling across all our components?  or will you just get several dozen throttled components, which still end up putting so much onto the threadpool, that any of your tasks sti

[2017-05-11 01:12] VSadov opened #19422 "Embed IsByRefLikeAttribute similarly to IsReadOnly"

[2017-05-11 01:13] VSadov opened #19423 "Emit [Obsolete] attributes for ref structs as described in the proposal"

[2017-05-11 01:35] jnm2 commented on #16587
Thanks for moving this. Don't know why I typed netstandard instead of netstandard20 or something, but too much effort to fix it now. 😄

[2017-05-11 01:49] Pilchie commented on #19415
Also, doesn't this fall apart at the first set of awaits, which will allow new tasks to start, and then await, but all the continuations will just end up on the thread pool anyway?

[2017-05-11 02:48] AArnott opened #19425 "15.3 Preview breaks build with System.Runtime version mismatches"
_From @AArnott on May 10, 2017 20:18_

Building in a 15.2 VS Developer Prompt works fine, but when building in a 15.3 Preview prompt, I get lots of errors like this:

[code]

### Repro steps

[code]

If you get other errors, you might run the "init" script in the root of the repo and try to build again.

MSBuild that is broken: 15.3.118.39484
MSBuild that works: 15.1.1012.6693

_Copied from origin

[2017-05-11 02:48] AArnott commented on #19425
_From @AndyGerlicher on May 10, 2017 23:4_

Is this a compiler error? Or is the input somehow changing after you upgrade to 15.3?

[2017-05-11 02:48] AArnott commented on #19425
The input is not changing. I have one enlistment and two VS command windows open. One works, one doesn't.

[2017-05-11 02:48] AArnott commented on #19425
Good point about it being a compiler error. The differences between the compiler command line are essentially this:

[code]

So CS1701 is an error in the build output, even though both switches include nowarn for 1701. although interestingly, 15.2 specifies it twice whereas 15.3 only specifies it once.
So I guess this looks like a compiler bug rather than an msbuild one. I'll move it.

[2017-05-11 03:14] davkean commented on #19228
This behavior is quite annoying, see the following where I'm trying to type `IProjectVersionedValue{T}` but it results in `IProjectVersionedValue{Task}` even though that's not legal in XML docs.

![xmldocuments](https://cloud.githubusercontent.com/assets/1103906/25930786/95cefb9e-364b-11e7-9d28-82477cd7bb0b.gif)

[2017-05-11 04:03] jasonmalinowski commented on #19415
I admit I don't see how ConcurrentExclusiveSchedulerPair helps. Either:

1. It reduces the number of simultaneous tasks we're scheduling to the thread pool, which means we're increasing latency of our own features (which is bad.)
2. It doesn't reduce the number of simultaneous tasks we're scheduling, so it does nothing (which doesn't address @AArnott's concern.)

I would be curious to understand t

[2017-05-11 04:11] jcouv commented on #19245
I'm running into the problem occasionally as well.
Building from the command-line seems to do the right thing (include the CommitHash attribute) and fix the situation.
When this problem occurs, the CSharp and VB CodeAnalysis assemblies has other attributes I expect (like AssemblyFileVersion), but is missing the commit hash one.

[2017-05-11 04:11] jasonmalinowski commented on #19351
@mattscheffer Can you provide a dump? Dumps always make the mysterious clear.

[2017-05-11 04:59] AlekseyTs commented on #19395
We match well-known types by name and well-known members by container and signature. As long as these criteria satisfied, we assume the type/member fulfills the contract, after all these are documented APIs with well-defined contract. We do not check base types, etc. because that is not part of metadata that we emit. Technically, at runtime the type/member could be OK. We have to draw a line somew

[2017-05-11 05:01] AlekseyTs commented on #19394
Related to #19395.

[2017-05-11 05:28] binki commented on #19415
If the UI needs to run some task of its own and needs it to be run earlier than later, shouldn’t it be using a dedicated thread pool instead of trusting that the shared one will be responsive?

[2017-05-11 05:32] shyamnamboodiripad opened #19427 "Microsoft.CodeAnalysis.UnitTests.SolutionTests.TestGetRecoveredTextAsync is flaky"
This test failed in the following CI run -
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_unit64_prtest/6120/
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_unit64_prtest/6120/testReport/junit/Microsoft.CodeAnalysis.UnitTests/SolutionTests/TestGetRecoveredTextAsync/

Failure was as follows -
[code]

[2017-05-11 05:37] AArnott commented on #19415
@CyrusNajmabadi said:

Understandable. Creating tasks is normally fine, as the threadpool can usually keep up with relatively low latency. It becomes a problem when you have a loop that generates a lot of tasks which is sure to outrun the threadpool with just a single generator of tasks.

You have control over that by who shares your instance of `ConcurrentExclusiveSchedulerPair`. Each instance ma

[2017-05-11 05:47] #19280 closed

[2017-05-11 05:53] jasonmalinowski commented on #19415
This isn't a pattern we (intentionally) do in Roslyn -- it's more common that we'll have 10 features all trying to process a syntax tree in their own way vs. something in a loop generating work. But that's not to say we don't have some isolated places that do a Parallel.For that we've terribly screwed up before and totally killed the thread pool...badly!

[2017-05-11 05:57] jasonmalinowski commented on #19415
(previous comment I made retracted and deleted. I forgot about some other things we do.)

[2017-05-11 05:59] AArnott commented on #19415
Then perhaps this isn't as big of an issue as I feared. :) It would be interesting for folks familiar with the code to suggest potential problem areas, and to get that VS monitoring system set up to call out when and if it ever is a problem to catch the rest.

[2017-05-11 06:07] CyrusNajmabadi commented on #19415
I think only the Compiler and Formatter actually use the actual Parallel.For API.  But we certainly have tons of concurrent tasks processing and producing new tasks all over the place.

As mentioned earlier, we're a loosely coupled set of components.  And all often work independently in response to the the environment (and other triggers) to do work.  Take, for example, 'Tagging'.  We have many di

[2017-05-11 06:16] AArnott commented on #19415
I think that API has a throttle built in. I could be wrong though.

I didn't get to analyze the ETL myself. I'd be very interested in it. The part that you shared shows the high CPU waste from contention in writing to a single stream concurrently and in creating connections. I believe both of those can be resolved. Was there a lot of other CPU overhead in the transmission as well?

BTW, I just whi

[2017-05-11 06:23] CyrusNajmabadi commented on #19415
Our ConfigureAwait policy (simplified) is "everything ConfigureAwait(false), unless it must return back to the calling SyncContext". This is explicit precisely because Roslyn itself acts as a library, and we do not want to impact a caller SyncContext.

I just checked and we have roughly 30 ConfigureAwait(true) calls, and more than 100x ConfigureAwait(false) calls.  So 99% is ConfigureAwait(false).

[2017-05-11 06:24] CyrusNajmabadi commented on #19415
Sorry, i just meant 'transmission' in the sense of 'this happened during sending data.  If that's all in writing data to the stream, then that's all i meant.  We did not consider that simply writing our data to the stream would incur this sort of CPU overhead in highly concurrent scenarios.

[2017-05-11 06:27] AArnott commented on #19415
Neither did I. I'm sorely disappointed that `SemaphoreSlim.WaitAsync` is so expensive in concurrent scenarios where you might want to use a semaphore in the first place. I am considering replacing `AsyncSemaphore` implementation to not depend on `SemaphoreSlim`. But that won't likely make it for 15.3.

[2017-05-11 09:00] alrz opened #19430 "No warning for use of an obsolete constructor as a constructor-constrained type parameter"
**Version Used**: current

**Steps to Reproduce**:
[code]
**Expected Behavior**: warning: C() is obsolete

**Actual Behavior**: no warnings

Related to warning waves

[2017-05-11 09:10] alrz commented on #19386
True. you could define an extension method on `ClassDeclarationSyntax` for it. Also I think this information is not available for symbols since partial-ness compiles away once the parts are merged and turned to a single symbol.

[2017-05-11 10:11] singhsarab commented on #19263
@panopticoncentral
Yes, mapping “+” to “.” in the test indicator code would work, but I am not sure if that is the right thing to do.

String values for C# fully qualified names use “+” between classes. Even while getting the type by string, we need to pass the name appropriately Type.GetType("Namespace.OuterClass+NestedClass").
[MSDN Reference](https://msdn.microsoft.com/en-us/library/yfsftwz6(v=

[2017-05-11 11:14] hickford commented on #18170
Same problem with `restore.cmd`

I'm using Windows 7.

[2017-05-11 11:19] abubakarm commented on #18170
@hickford did you install Windows Management Framework 4.0, google for it, install and restart machine and try again, this should work.

[2017-05-11 13:09] Logerfo commented on #19404
I was able to find (or not) an `ArrowExpressionClauseSyntax` through `SyntaxNode.ChildNodes()`, but still, why does `ExpressionBody` appear on VS watch but my code can't see it?

[2017-05-11 14:07] pawchen opened #19431 "Cache delegate for non-capturing local functions when caching delegates for static methods"
This issue is created in respond to https://github.com/dotnet/roslyn/pull/6642#issuecomment-300571520

Currently #6642 avoids local functions completely, as local functions all appears `IsStatic` but they could capture things. When it makes into a feature branch, consider support them like non-capturing lambda.

Also need to consider what to do when the delegate type involves generic parameters fr

[2017-05-11 14:24] stephentoub commented on #19415
Long thread... reading through it and responding as I go... sorry if I respond to something that's later addressed :smile:

It won't.  The thread pool's thread-management heuristics work best for smaller rather than larger work items.  That's for a few reasons:
- The hill-climbing algorithm does sampling every N items that complete, at which point it may experiment with adding/removing a thread to

[2017-05-11 14:44] AArnott commented on #19415
Thanks so much for wading through this long thread, @stephentoub, and for your comments. Yes, I was proposing throttling as a fairness scheme.

@CyrusNajmabadi has an ETL with the evidence. A screenshot is available here in the bug he filed here:
https://github.com/Microsoft/vs-streamjsonrpc/issues/37

I fully support that. I haven't yet looked at the code in `SemaphoreSlim` to see if it's doing s

[2017-05-11 14:47] AArnott commented on #19415
Although thinking about it a bit more, fixing `SemaphoreSlim` being great, it might not alleviate our need to abandon it for now, unless .NET Framework takes the fix and ships a servicing release soon enough that we don't have to alleviate the pain another way in the meantime.

[2017-05-11 14:53] stephentoub commented on #19415
That first trace shows the contention in Monitor, not specifically SemaphoreSlim.  Unless you're planning to build a lock-free semaphore, I expect you'd hit similar contention in any sync primitive you implemented that utilized Monitor.  But I'd still suggest looking at what could be done in SemaphoreSlim:
- Maybe locks are being held for longer than they need to be, and code could be restructured

[2017-05-11 14:58] AArnott commented on #19415
I've had similar thoughts. I've never written a semaphore before, but I figured at least if I constrain the case to capacity=1, that a lock-free mechanism is likely possible. And for most cases I use `SemaphoreSlim`, it's with capacity=1 and used to "lock" async code.

But yes, restructuring to lock for less time or lock fewer times would be very interesting too. I just took a look at the code and

[2017-05-11 15:46] vmu opened #19433 "Failure to execute C# 7 pattern matching in C# Interactive"
**Version Used**:
Visual Studio 2017 26430.4
**Steps to Reproduce**:

1.  Execute the following code in the C# Interactive

[code]
**Expected Behavior**:
No error
**Actual Behavior**:
error CS7038: Failed to emit module 'ℛ*426e8d8f-15ac-4792-87cb-0eb3e222c86c#1-0'.

[2017-05-11 15:50] vmu commented on #19433
I've run into a problem when executing code containing pattern matching in C# Interactive.
It fails both for `if ` patterns and for `switch` patterns.
When executing the code I get this error message.
`error CS7038: Failed to emit module`
The same code runs and compiles fine using the regular compile-execute cycle. It only fails within C# interactive.
I've noticed that it only fails when I assign

[2017-05-11 15:51] cston opened #19434 "Cast of (int, int) to (byte, byte)? results in incorrect value"
[code]
Result: `(1, 0)`

[2017-05-11 16:07] TyOverby opened #19435 "Test Async Main with obsolete main and obsolete class"

[2017-05-11 16:17] khyperia commented on #16454
Due to #16821. Closing this issue and using the other one to track this issue (fix implemented, PR shortly).

[2017-05-11 16:17] #16454 closed

[2017-05-11 16:17] #19225 closed

[2017-05-11 16:40] Pilchie commented on #19399
Tagging @jaredpar who just changed it to be this way.

[2017-05-11 16:43] Pilchie commented on #19405
@srivatsn or @davkean - is this anything you've heard of?

[2017-05-11 17:06] jaredpar commented on #19399
This behavior is by design.

The old approach of generating files as a part of the build had a number of downsides for development:

1. Complicated our code editing story.  To open Roslyn.sln you first had to build Roslyn.sln, or at least the subset which contained our generator projects.
1. Made dump debugging difficult because we couldn't use gitlink on our generated files.
1. Unnecessarily incr

[2017-05-11 17:06] #19399 closed

[2017-05-11 17:06] twsouthwick opened #19437 "Make method async code fix on inner method applies async on wrong method"
**Version Used**:
VS 2017.2

**Steps to Reproduce**:

1. Use the following code
2. Invoke code fixer on line with `await Task.CompletedTask`

[code]

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2017-05-11 17:08] #19377 closed

[2017-05-11 17:09] NoelAbrahams opened #19438 "Visual Studio 2017 Crashes when attempting to expand ASP.Net Web Application project"
**Version Used**:

Visual Studio Community 2017 Preview (2) Version 15.3 (26507.0-Preview)

**Steps to Reproduce**:

1. File -> New -> Project > ASP.Net Web Application (.NET Framework) > Empty project.
2. Right click on the project and add new JavaScript file.
3. Close the solution.
4. Reopen the solution.
5. Double click on the project "WebApplication1".
6. VS Crashes.

**Expected Behavior**:
 V

[2017-05-11 17:17] CyrusNajmabadi commented on #19415
Unfortunately, i've checked our codebase rgd ConfigureAwait.  We require every task to be ConfigureAwait'ed.  And there is a >99:1 ration of ConfigureAwait(false) to ConfigureAwait(true).  We did this as Roslyn is intended to be used as a library, and there were definite issues in the past with people calling into us, and our tasks getting scheduled onto their SyncContexts.

[2017-05-11 17:19] cston opened #19439 "Add TypeSymbol.IsMissingMetadataType property"
Add `TypeSymbol.IsMissingMetadataType` property and use that property instead of `type is MissingMetadataTypeSymbol`.

[2017-05-11 17:34] CyrusNajmabadi commented on #19415
My primary concern is:

1. Roslyn itself is 'many entities scheduling work'.
2. The code that plugs into us is also composed of many entities scheduling work.
3. The rest of VS is filled with many other entities scheduling work.

A fairness scheme seems undermined by the issue that we'll still end up with lots of work going into the queue, and the UI thread effectively being at the mercy of this i

[2017-05-11 17:49] jasonmalinowski commented on #19367
@jmarolf @jaredpar Being somewhat out of the loop on this one, where do I need to route it?

[2017-05-11 17:52] jmarolf commented on #19367
Fixed with https://github.com/dotnet/roslyn/pull/19390

[2017-05-11 17:52] #19367 closed

[2017-05-11 17:59] binki commented on #19415
@CyrusNajmabadi When you set the concurrent scheduler to ProcessorCount, are you keeping the ThreadPool.MinNumber at 2×ProcessorCount? I don’t know how the thread pool works, so the following is conjecture: if the idle threads are first in line for the next job and a busy thread finishes its work and, when looking for more work, gets in line *behind* one of those previously idle threads, maybe it’

[2017-05-11 18:00] NoelAbrahams commented on #19438
To add some extra info:

* If the project is already expanded when the solution is closed, then after reloading the solution, everything works as normal.
* If the project was collapsed when the solution is closed, then after reloading the solution, double-clicking on the project causes the crash reported above.
* If instead of double-clicking, the rotating triangle is used, then there is no crash;

[2017-05-11 18:08] ivanbasov commented on #18035
Resolved with #19381. Reused something like "build and get error count"

[2017-05-11 18:08] #18035 closed

[2017-05-11 18:11] ivanbasov commented on #19303
Verified that the fix should be done on the ENC side not on the compilers side. Compilers provide various options to match types strongly or weakly. ENC should:
1. generate right instance of types not depending on the generation]
2. use the right option to match types between generations

[2017-05-11 18:30] ivanbasov commented on #16689
Fixed by https://github.com/dotnet/roslyn-internal/pull/1838 and https://github.com/dotnet/roslyn/pull/19381

[2017-05-11 18:30] #16689 closed

[2017-05-11 18:41] SolderedMushroom commented on #16587
@CyrusNajmabadi Super late, but can you explain this comment?

How could one be referencing CFoo's implementation of MFoo through an interface, if CFoo doesn't implement any interfaces?

[2017-05-11 18:44] CyrusNajmabadi commented on #16587
@SolderedMushroom C# allows for implicit bridged interface methods . So you can write the following:

[code]

This is totally legal, and C.MFoo is now effectively the interface implementation of IFoo.MFoo because of D.

[2017-05-11 18:46] ivanbasov opened #19441 "some EditAndContinue integration tests are flakey"
**Version Used**:

**Steps to Reproduce**:

https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/4014/
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/4036/
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/3990/

1. Roslyn.VisualStudio.IntegrationTests.VisualBasic.BasicEditAndConti

[2017-05-11 18:47] CyrusNajmabadi commented on #16587
Note: i want to seperate out the concepts of 'completeness of results' versus 'presentation of results'.  I think results need to be complete.  If we say something isn't referenced at all, and yet, there's a real runtime codepath that can hit it, then people are not going to be happy.

But, at the same time, we *totally* get that the overall presentation gets extremely clunky and overwrought in ve

[2017-05-11 19:03] jcouv opened #19443 "Use dev15.3 compiler as toolset and change Roslyn projects to use "latest" language version"
FYI @CyrusNajmabadi

[2017-05-11 20:33] jcouv commented on #19437
FYI @agocke (relates to local functions)

[2017-05-11 20:34] tmat commented on #18697
Me too. Crash dump: %internal_share%\public\tomat\Bugs\18697

[2017-05-11 20:35] jcouv commented on #19431
FYI @agocke (relates to local functions)

[2017-05-11 20:38] jcouv commented on #19430
Relates to warning waves https://github.com/dotnet/roslyn/issues/1580
@cston Can you comment on whether this would be desirable behavior for Obsolete?

[2017-05-11 20:47] CyrusNajmabadi commented on #18697
Tagging @sharwell

[2017-05-11 20:51] jcouv commented on #19404
@Logerfo,
Could you confirm the fully-qualified type name that you can see in the QuickWatch window? There are two kinds of `AccessorDeclarationSyntax` (one is internal and the other is public). I expect you should only see the public type, but I just want to confirm.

[2017-05-11 20:58] CyrusNajmabadi commented on #19386
Do you care if hte symbol was *declared* partial?  Or actually has multiple partial types.  For example, you might have:

[code]

Do you want C and D to report that they're partial?  Or just D?

If the former, then you can do this just by checking the modifiers of these class declarations.
If you only care about the latter, then just get the ```INamedTypeSymbol``` for the type, and check. ```ISymb

[2017-05-11 20:58] #19386 closed

[2017-05-11 21:25] alrz opened #19449 "How to correct MSBuildSDKsPath"
The `MSBuildSDKsPath` points to MSBuild installation folder while SDK is in `%programfiles%\dotnet\sdk\1.0.4\Sdks\Microsoft.NET.Sdk\Sdk`. How can I correct this?

[2017-05-11 21:35] alrz commented on #19449
copy/past folder worked but I don't know where I messed it up.

[2017-05-11 21:35] #19449 closed

[2017-05-11 21:51] AArnott commented on #19415
@CyrusNajmabadi Just FYI we should *not* change the threadpool min size in VS. If that is the right thing to do (and we're open to discuss if you want), we should do it within VS Platform rather than have individual extensions/components of VS setting/resetting it since it's a shared resource.

I set my concurrency level to 2xProcessorCount in my demo because that seemed to give a good balance bet

[2017-05-11 22:27] CyrusNajmabadi commented on #19420
Fixed with https://github.com/dotnet/roslyn/pull/19446

[2017-05-11 22:27] #19420 closed

[2017-05-11 23:39] jasonmalinowski commented on #13561
Oh, hey, turns out it's dotnet/project-system#2160 that I filed after investigating. :smile:

[2017-05-11 23:39] #13561 closed

[2017-05-11 23:40] #19172 closed

[2017-05-11 23:41] CyrusNajmabadi opened #19451 ""Prefer block" option should have a third option "prefer no-braces when inner statement is single line""
i.e. some people want:

[code]

But would never want

[code]

[2017-05-11 23:53] Pilchie commented on #19438
@tmeschter: You're already looking at this right?  Can you port to the project-system repo?

[2017-05-11 23:54] Pilchie commented on #19393
Ping @srivatsn

[2017-05-12 00:05] Pilchie commented on #19427
Is this a dupe of something you already have?

[2017-05-12 00:06] Pilchie commented on #19437
I have a vague feeling that this might be a dupe - @sharwell can you take a look?

[2017-05-12 00:11] Pilchie commented on #19405
@IlyaBiryukov - can you try to get a dump when this is thrown?

[2017-05-12 00:14] davkean commented on #19405
No, but from code inspection I can see how this is possible, it could occur basically when you add two references that end up resolving to the same path. I see legacy handles this, we don't.

In regards to this, I would want whatever behavior we get via command-line when this happens.

[2017-05-12 00:41] #19434 closed

[2017-05-12 02:38] srivatsn commented on #19393
This issue was moved to dotnet/project-system#2162

[2017-05-12 02:38] #19393 closed

[2017-05-12 03:50] Thaina opened #19453 "Any profiler command line argument?"
I don't know it exist or not but I have seen mono have `--profile=log` command line argument. Did the roslyn have any easy profiling log?

I wish I could log at least all the method call instead of going in every method and put `Console.WriteLine(stackTrace)` manually

[2017-05-12 06:10] jcouv commented on #15378
From chat with @marek-safar, it sounds like for Mono and VS for Mac to refresh their version of the compiler package requires some work beyond updating a version number (the desktop packages are used and massaged, and MVIDs for specific binaries get baked in the product to workaround some problems).

It sounds like there is an ask to fix our existing packages, or maybe a new for a new one (I'm not

[2017-05-12 11:05] davkean opened #19456 "Can't resolve namespace on generic type within assignment"
1. Attempt to resolve the type between the $ -> $

[code]

Expected: To resolve to a System.Collections.Immutable
Actual:

![image](https://cloud.githubusercontent.com/assets/1103906/25995633/a2423394-3756-11e7-93ff-047a4e736720.png)

[2017-05-12 11:17] jaredpar commented on #19425
This is not an issue in the compiler.  The warning behavior here is unchanged as are our targets.  It appears to either be a core MSBuild targets issue or related to the new SDK targets.

[2017-05-12 11:17] #19425 closed

[2017-05-12 12:01] NoelAbrahams opened #19457 "Highlight in code file is sticky when navigating from output or find-results windows"
**Version Used**:
Visual Studio Community 2017 Preview (2) Version 15.3 (26507.0-Preview)

**Steps to Reproduce**:

1. Control+shift+f and find in files for something, e.g FooBar.
2. In the find results window double-click the item in order to located it in the solution.
3. This opens up the target code file and highlights the selected item.
4. Click anywhere else in the code file.

**Expected Beh

[2017-05-12 12:26] Logerfo commented on #19404
@jcouv QuickWatch shows the following expression:
`(new System.Linq.SystemCore_EnumerableDebugView<Microsoft.CodeAnalysis.CSharp.Syntax.AccessorDeclarationSyntax>(declaration.AccessorList.Accessors).Items[0]).ExpressionBody`
So, to answer your question: `Microsoft.CodeAnalysis.CSharp.Syntax.AccessorDeclarationSyntax`

[2017-05-12 12:44] marek-safar commented on #15378
The underlying problem is that roslyn tools nuget (which distributes csc) is specific to .net 4.6. I don't know if it's possible to make tools inside nuget multi-platform but probably not right now.

[2017-05-12 13:15] sharwell commented on #19437
This is a duplicate of #14133. The fix has already been merged, but I missed the cutoff for 15.3 preview 1. It will be in whatever the next release after that is.

[2017-05-12 13:15] #19437 closed

[2017-05-12 14:26] scottlurowist commented on #19288
I don't know to which dependencies you refer.

All I know is that the EXACT SAME MSBuildWorkspace code works reliably with one product / solution, and another product / solution does not work reliably. MSBuildWorkspace does not reliably  find the  documents / files for projects that are part of the solution that does not work.

Since I am trying to analyze code for a product at my job, I cannot po

[2017-05-12 14:50] deimastep opened #19458 "Compiler breaks when constant name is the same as type name"
**Version Used**: VS 2017 version 15.2 release 26430.4

**Steps to Reproduce**:

1. Start build this code in .Net Core console project "Test"
[code]

**Expected Behavior**:
Should be compiled.
If I remove `const` everything is fine:
[code]

**Actual Behavior**:
Compiler just emits message:
`CSC : error CS7038: Failed to emit module 'Test'.`

[2017-05-12 15:16] NoelAbrahams commented on #19457
It's possible this was caused by the "Match Margin" Power tool extension. I'm no longer getting this behaviour. Will reopen if it comes back.

[2017-05-12 15:16] #19457 closed

[2017-05-12 15:52] NoelAbrahams commented on #19438
I've now started getting this after reloading following a crash:

![image](https://cloud.githubusercontent.com/assets/1106823/26006145/4bd5fdba-3733-11e7-8d97-f393af9af0f2.png)

Should this issue be moved to the TypeScript repo?

[2017-05-12 15:54] sharwell opened #19459 "Suggest using method group references instead of explicitly-cached delegates"
A new IDE analyzer should be created to support #5835 (#6642). When it detects patterns like the ones in #19419, it should suggest replacing the cached delegate with a method group reference.

[2017-05-12 16:04] tmeschter commented on #19438
@Pilchie @NoelAbrahams There have been a couple of related issues; off hand I can't tell if this is one of those or a new one.

The fix will most likely need to be on the Roslyn side, so I'd like to keep it here for now.

[2017-05-12 16:31] khyperia commented on #16783
Test add was already happened #16784, and was unskipped in #19120.

[2017-05-12 16:31] #16783 closed

[2017-05-12 16:47] jcouv commented on #19103
Along with this change, it would probably be good to find a way to unittest this Task in the Roslyn repo (it will make it easier to review/accept the PR).

My testing strategy so far was manual, following these steps and then trying various scenarios:
- build the project in `build\Toolset` (this puts all the MSBuild and Roslyn binaries in `.nuget/packages/roslyntools.msbuild/0.2.0-alpha/tools/msbu

[2017-05-12 16:50] jcouv commented on #12402
I think it's unlikely we'll end up doing this. Closing.

[2017-05-12 16:52] jcouv commented on #18844
While I'm in there, I'll add a test for Cyrus's similar scenario (which is likely fixed already): https://github.com/dotnet/roslyn/issues/17076

[2017-05-12 17:30] jcouv commented on #15378
Adding @agocke who is currently working on a [NETCore-targeted Compilers NuGet package](https://github.com/dotnet/roslyn/pull/19190) (it would be a separate package, not merged with desktop one).
@marek-safar Would that meet the needs of your scenario?

[2017-05-12 17:36] jcouv commented on #19404
Thanks for the clarification. This is indeed the public `AccessorDeclarationSyntax`, so I have no idea why the property would give you an error for missing member `ExpressionBody`.

@gafter Do you have some clue how to approach this issue? I'm grasping at straws.

@Logerfo If you don't mind, another "straw" that may be worth checking is the version of the CodeAnalysis and CodeAnalysis.CSharp that

[2017-05-12 17:52] lachbaer opened #19460 "Question: where to highlight new keywords?"
I'm currently prototyping an `isnot` operator. Intellisense and code completion work, but where can I make that keyword being highlighted like the other keywords?

[2017-05-12 17:53] jcouv opened #19461 "ExtractMethod refactoring doesn't work properly when selection includes a local function"
In the code below, select everything inside method `M`, except the local declaration for `y`, and trigger the refactoring.
![image](https://cloud.githubusercontent.com/assets/12466233/26010240/ff1f9f76-3700-11e7-9fce-0a0d1f053773.png)
The result is incorrect code:
![image](https://cloud.githubusercontent.com/assets/12466233/26010281/25692c10-3701-11e7-9ba5-d7ba2ba52647.png)

Reported via https://d

[2017-05-12 17:54] jcouv commented on #19461
FYI @agocke @Pilchie

[2017-05-12 17:58] concubicycle commented on #4068
@heejaechang I copy pasted code from a unit test I found.. What steps did you take to get this to work? I still can't get it to work. I create a new VISX project, add an analyzer, and add an analyzer asset.

[2017-05-12 18:03] jcouv commented on #17934
@marek-safar This issue was fixed by #18724, in dev15.3. Please escalate to Jared if this is not a sufficient servicing approach.

[2017-05-12 18:04] IlyaBiryukov commented on #19405
@Pilchie the dump is in \\vspfs3\public\ilbiryuk\RoslynSequenceBug

[2017-05-12 18:25] IlyaBiryukov opened #19462 "VS crash with NullReferenceException at IncrementalAnalyzer.<UpdateReferenceAsync> on Roslyn solution"
**Version Used**:
VS: vsuvscore 26510.01
Roslyn: 2.03.0.61709

**Steps to Reproduce**:

1. Clone and init Roslyn, master branch
2. Open solution in VS, in LSL mode
3. Wait for a couple of seconds

**Expected Behavior**:
VS does not crash

**Actual Behavior**:
VS crashes with _NullReferenceException_

**Crash Dump**
in ```\\vspfs3\public\ilbiryuk\RoslynCrash```

**Stack trace:**
[code]

**Callstack

[2017-05-12 18:26] JoshVarty opened #19463 "Quick Fix does not work for some CS0229 "Ambiguity between xxx and xxx""
**Version Used**: 15.3 (26508.5-Preview)

**Steps to Reproduce**:

1. New C# Solution
2. Use following code:
[code]

3. Hover over `x.Count` with the mouse and choose "Show Potential Fixes"

**Expected Behavior**:

Either:
- Quick fixes are shown
or
- If a quick fix is not possible, the option is not shown.

**Actual Behavior**:
- Clicking the "Show Potential Fixes" action link does nothing.

![im

[2017-05-12 18:29] KirillOsenkov opened #19464 "Hot path method is not checking CancellationToken"
This method shows up on top of profile traces for us:
http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/AnalysisState.cs,7a73fd2caadcfc67

We notice it doesn't check its cancellation token. It'd be nice to insert a few checks inside the loop so that it bails fast when the work is cancelled.

[2017-05-12 18:32] Logerfo commented on #19404
@jcouv what window is that?

I don't know if this is relevant, but here's the thing with versions: as soon as I created the analyzer solution, nuget packages were outdated. `Common` and `CSharp` both are 1.0.1, but 2.1.0 is available. However, I can't update them:

So I thought "what if I bump the .NET version?". Then I went to the analyzer project properties > targeting > change > .NET 4.6 > OK:

[2017-05-12 18:43] heejaechang commented on #4068
I didn't do anything special. I created class library, put your code, add code analysis nuget package, added the dll as analyzer in a project. that's it.

[2017-05-12 18:54] jcouv commented on #19404
I see. The fact that CodeAnalysis was 1.0.1 likely explains why `ExpressionBody` was not available.
The 2.0 compiler requires .NET 4.6, so you are on the right track.

As far as the project and nuget issue, I'm not sure. @sharwell may be able to assist.

[2017-05-12 18:57] Logerfo commented on #19404
@jcouv if it is a version problem, why does the property shows up in the QuickWatch? Shouldn't it use the same version I've used to compile the analyzer?

[2017-05-12 19:13] Pilchie commented on #19460
See: http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Workspaces/Classification/ClassificationHelpers.cs,24.

[2017-05-12 19:13] #19460 closed

[2017-05-12 19:14] jcouv commented on #17612
Small CSI script for manual checking of assembly timestamps, for later use:
[code]

[2017-05-12 19:23] Pilchie commented on #19456
Seems strange that there is no compiler diagnostic there. In your screenshot, `ImmutableDictionary` is colored, but `IIMutableDictionary` isn't.  what namespaces are each in, since it isn't in your sample.  I expect the  the problem is that until you put a `(` or a `.` after the last `>`, the compiler is parsing this as a set of comparisons :/

[2017-05-12 19:25] Pilchie commented on #19462
@CyrusNajmabadi is this the issue you fixed yesterday?

[2017-05-12 19:41] CyrusNajmabadi commented on #19456
I'm cure the compiler is parsing

[code]

As the following:

"var added = ImmutableDictionary < string"

then, the comma separates out another *local variable*.  i.e. it's as if you wrote:

"var x = x < y, z = 0"

So "IImmutableDictionary" now becomes the name of the second variable.  And then the parser goes completely off the rails at that point.

I think i may be able to help things out here.

[2017-05-12 19:46] IlyaBiryukov commented on #19462
If there is a workaround, private bits, or I can build and patch myself, please let me know. This issue is blocking verification of another bug fix I have for LSL. Thanks.

[2017-05-12 19:55] jcouv commented on #19404
I don't think the QuickWatch window respects accessibility (it even shows private fields, for instance). It's possible the property existed, but was not yet public.
To be completely sure what is going on, you'd want to find the filepath for CodeAnalysis binaries (as shown above in Modules window), open the CodeAnalysis.CSharp binary in `ildasm` or `ILSpy` and check the accessibility the property h

[2017-05-12 20:09] jeremymeng opened #19465 "Completion list should prefer variables instead of type when typing all lower-case"
**Version Used**:

**Steps to Reproduce**:

1. paste the code into a C# file

[code]
2. follow the instructions in comments to type code

**Expected Behavior**:
variable syntaxNode is pre-selected in the completion list

**Actual Behavior**:
the type SyntaxNode is preselected

I often find myself completing a type name at places where variable name is expected. If I want the type name I can get it

[2017-05-12 20:23] Logerfo commented on #19404
[code]
@jcouv  Does that mean anything to you? Seems like hieroglyph for me

[2017-05-12 20:59] lachbaer commented on #19460
Thank you! That helped. 😃

[2017-05-12 21:11] jcouv commented on #19404
Yes, `public` is the key there.

Looking up the thread, I see something weird. It seems you're not trying to access `ExpressionBody` on a `AccessorDeclarationSyntax`, but on a `SystemCore_EnumerableDebugView<...>`:
`(new System.Linq.SystemCore_EnumerableDebugView<Microsoft.CodeAnalysis.CSharp.Syntax.AccessorDeclarationSyntax>(declaration.AccessorList.Accessors).Items[0]).ExpressionBody`

What is t

[2017-05-12 21:21] mattscheffer commented on #19351
Provided dump via email. Can send again if needed. Reopening bug as this is still crashing VS in vsuml

[2017-05-12 21:27] lachbaer opened #19471 "'IsReservedKeyword' does not allow newly added keywords"
[code]
I have added the `IsnotKeyword` (with some space to `ImplicitKeyword`) and it wasn't highlighted in the IDE, because `IsReservedKeyword` stopps the validation at `ImplicitKeyword`.

If all keywords up to `YieldKeyword` are standard keywords, shouldn't the method rather be
[code]

For now I have adapted it to end at `SyntaxKind.IsnotKeyword`, but with the next keyword being introduced a furt

[2017-05-12 21:28] lachbaer commented on #19471
Just saw, same for
[code]

[2017-05-12 21:32] CyrusNajmabadi commented on #19456
@Pilchie Fixing this requires a change in the parser.  Given that this is just a diminished experience, and a not a crash or anything like that, I'm not sure we could get it in with the compiler's bar for 15.3.  What do you and @jaredpar think?

[2017-05-12 21:35] CyrusNajmabadi commented on #19463
This doesn't repro for me locally.  I only see:

[2017-05-12 21:47] stevozilik commented on #2060
+1 for the The null-coalescing operators such as a?.b, a?[b]
Would help with mocking/testing EF queries

[2017-05-12 21:59] jnm2 commented on #2060
Wow, two years. Is there any part of this proposal that is up for grabs in case someone comes by who has time?

[2017-05-12 21:59] CyrusNajmabadi commented on #19463
Not repro.  please reopen if you see this in vsuml.

[2017-05-12 21:59] #19463 closed

[2017-05-12 22:00] CyrusNajmabadi commented on #19462
Fixed with https://github.com/dotnet/roslyn/pull/19408.

You'll have to upgrade the version of Roslyn you use.

[2017-05-12 22:00] #19462 closed

[2017-05-12 22:10] CyrusNajmabadi commented on #19351
Need link to the dump to investigate.

[2017-05-12 22:15] CyrusNajmabadi commented on #19351
Your dump doesn't seem to match the stack trace above.  The dump crashes here:

[code]

Which is an issue that @heejaechang is fixing here: https://github.com/dotnet/roslyn/pull/19466

[2017-05-12 22:19] CyrusNajmabadi commented on #19351
Resolving as dupe of https://devdiv.visualstudio.com/DevDiv/_workitems?id=433730&_a=edit

[2017-05-12 22:19] #19351 closed

[2017-05-12 22:43] Pilchie commented on #19456
@CyrusNajmabadi did you notice that I put it in the 1`5.later` milestone already? 😄

[2017-05-12 22:50] Pilchie commented on #19288
The issue is the project type (WPF, PCL, WEB, etc), plus exactly what version of the .net framework things target.  MSBuild needs to import specific target files for specific project types/sdks.  Some of those are installed by Visual Studio, and my guess is that your VM and build server are missing the ones you need.

[2017-05-12 22:51] davkean commented on #19471
I don't work on the compiler, but `Yield` is a context keyword, ie it only gets parsed a keyword based on the context, ie `yield return`, `yield break`. `IsReservedKeyword` is likely indicating keywords that always get parsed as a keyword regardless of the context, putting Yield that in that would be incorrect.

[2017-05-12 22:55] lachbaer commented on #19471
@davkean `yield`'s not in it. The condition is 'less than' not 'less or equal than'.

[2017-05-12 22:57] CyrusNajmabadi commented on #19456
Nope.  I only say "Pilchie added this to the 15.3 milestone 4 hours ago"  :)

[2017-05-12 23:05] davkean commented on #19471
Ah, I understand your issue - you are saying "make the comparison against Yield" to avoid needing to update the next time there's a new keyword. Understood, I'll let the compiler team answer this, but there hasn't been a new non-contextual keyword for a long while (maybe v1)....

[2017-05-12 23:11] lachbaer commented on #19471
At least not since Roslyn started.

[2017-05-12 23:47] ivanbasov commented on #8724
Attempted to migrate the test to xUnit. Still see the same issue. That is, I can reproduce it locally without any frameworks. It is not caused by Tao. It seems to be a regression in VB compiler services.

Here is a repro scenario:
1. Create a VB console application with the code.
[code]
2. Start debugging up to the breakpoint.
3. Type `?(Function(val) (val + val))(1)` in the immediate window.
**Ex

[2017-05-13 00:05] davkean opened #19476 "Format does not remove unneeded spaces in XML tags"
1. Autoformat the following:

[code]

Expected (notice the whitespace removal within the paramref element):

[code]

Actual: It's not formatted.

[2017-05-13 00:33] cston commented on #8724
Is `Microsoft.VisualBasic.dll` referenced by the compiled exe? If there are no references to that assembly in the exe, the assembly may not be available at debug time.

[2017-05-13 00:36] ivanbasov commented on #8724
One can get the following message

Trying to add a reference to it.

[2017-05-13 00:50] genlu commented on #19382
Based on instructions of @AlekseyTs, I made a fix for this in #19237 Commit: https://github.com/dotnet/roslyn/pull/19237/commits/aab579e6873e62974c63c1c9277931509d4f8488

[2017-05-13 05:40] marek-safar commented on #17934
@jcouv @jaredpar I don't know what is in a scope for 15.3 for roslyn but we need this as a fix for dev15.2 and I guess it'd be odd to patch dev15.2 with 15.3 preview.

[2017-05-13 05:42] marek-safar commented on #15378
I don't think so as that package will be again netcore specific and won't run on Mono out of box.

[2017-05-13 07:25] jcouv commented on #18612
Here are [my notes](https://gist.github.com/jcouv/4c05a3917a8e5a2c5f7e196374fa7036) for the test plan's checklist.

[2017-05-13 07:35] jcouv commented on #19453
@Thaina
Could you clarify what the problem you're trying to solve?

Although I have not used a profiler in a while, I can see a number of them when searching for ".NET profiler". The kind of instrumentation you describe can be done at runtime (when assemblies are loaded), without help from the compiler.

[2017-05-13 07:39] Thaina commented on #19453
@jcouv What I have found is ANT and Resharper. It overkill and overprice for me who just want to log all method call (I can analyze it myself). So I think common profiler like that should just supported in `dotnet` cli itself

At I said. mono support it

[2017-05-13 07:46] jcouv commented on #17934
@marek-safar 15.3 includes [C# 7.1](https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md) (async Main, default literal, inferred tuple names, ref assemblies, pattern-matching with generic types) and all the bug fixes since 15.0. Less than 5 compiler bugs met the bar for 15.1 or 15.2.

As for pulling this fix into 15.2, I'll let @jaredpar comment. I'm not sure where that

[2017-05-13 07:52] mikedn commented on #19453
Apparently you're confusing mono with mcs and Roslyn.

That would have horrible performance and will provide skewed numbers. Use a real profiler, VS Community Edition has one built in that supports both sampling and instrumentation modes.

[2017-05-13 07:57] Thaina commented on #19453
@mikedn I'm not sure but isn't the ability to make logs out all method call in the program would be dome by compiler configuration? At least `dotnet` support `dotnet test` so wasn't `--profile` should be in the same place?

I use visual studio for mac in macso. No profiler command in that place. If you have a way to profile dotnet core on macos please tell me

If I don't forced to use macos in my

[2017-05-13 08:12] mikedn commented on #19453
In .NET (and likely any other similar runtime/JIT based technology - JVM, Node.JS etc.) providing profiling support is the job of the runtime, not the job of managed compilers.

Maybe. But I don't see any pieces of `dotnet` in this repository. Pretty much the same way you won't find any pieces of test runner used by `dotnet test` in this repository.

That's unfortunate but that doesn't mean that i

[2017-05-13 08:19] Thaina commented on #19453
@mikedn `dotnet` is just a cli wrapping around `roslyn` isn't it?

[2017-05-13 08:40] mikedn commented on #19453
Roslyn, the C# compiler, happens to be one tool the dotnet cli invokes but I wouldn't call dotnet a wrapper around Roslyn because of that. AFAIK it doesn't even call the C# compiler directly, it uses MSBuild. And it does other things that have nothing to do with Roslyn - restoring/creating packages, running tests, running the assembly produced by Roslyn etc.

Having a `dotnet profile` command migh

[2017-05-13 08:43] Thaina commented on #19453
Thank you for your explanation

[2017-05-13 09:40] ufcpp opened #19479 "Proposal: generate XML doc comments with "Create and initialize property" Quick Action"
**Version Used**:

Visual Studio 2017 Update 3 (26510.0-Preview)

**Steps to Reproduce**:

1. Set "XML documentation file" option on
2. Apply "Create and initialize property" Quick Action

**Expected Behavior**:

I'd like the C# compiler to generate XML doc comments on the constructor:

[code]

especially a line `<param name="x"><see cref="X"/></param>`.

**Actual Behavior**:

![image](https://clo

[2017-05-13 15:22] jaredpar commented on #17934
The 15.2 release is hard escrow at the moment.   Getting this in for 15.2 seems very unlikely due to where we are in the release, the components involved and the size of the fix.  If this is critical for 15.2 we need to begin escalating internally to the directors.

[2017-05-13 16:57] raboud opened #19480 "Exception when trying to get a property access modifier of an getter or setter with no access modifier where the accessor is a expression-bodied member"
**Version Used**:
15.2(26430.6)
**Steps to Reproduce**:

1.  Input

[code]

2.
via EnvDTE

call

[code]

for that class

**Expected Behavior**:
would expect to get vsCMAccessPublic

**Actual Behavior**:

[code]

[2017-05-13 22:14] KirillOsenkov opened #19482 "No completion when typing break after case with pattern matching"
**Version Used**:
VS 2017 Update 2

**Steps to Reproduce**:

In a C# file, paste this code:

[code]

Type break where the $$ is.

**Expected Behavior**:
Completion offering "break".

**Actual Behavior**:
No completion.

[2017-05-14 05:10] jcouv commented on #14217
I thought of an analogous situation with out vars:
[code]

[2017-05-14 05:37] jcouv commented on #13385
Issue moved to [dotnet/csharplang #578](https://github.com/dotnet/csharplang/issues/578) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-14 05:37] #13385 closed

[2017-05-14 05:37] jcouv commented on #13385
Moved the discussion to csharplang repo.

[2017-05-14 05:39] jcouv commented on #13155
I'll close this issue from the compiler repo. The discussion was moved to csharplang repo: https://github.com/dotnet/csharplang/issues/190

[2017-05-14 05:39] #13155 closed

[2017-05-14 05:52] jcouv commented on #16543
What if we simply refined the second diagnostic to "No **suitable** Deconstruct instance or extension method was found for type 'object[]', with 3 out parameters."?

[2017-05-14 07:11] alrz commented on #16543
That'd be similar to `CS1986`.

[2017-05-14 07:33] lachbaer opened #19484 "How to generate Operations.xml.Generated.cs?"
I need to alter Operations.xml.Generated.cs, but I don't find a corresponding XML file and generator in the repo. Can I do the changes manually?

[2017-05-14 07:55] avifatal commented on #19343
Here is a better video: https://www.screencast.com/t/jDyL4K3JUxYD

[2017-05-14 08:38] CyrusNajmabadi opened #19485 "We should have an analyzer that sees "(x: x, y: y)" offers to simplify to "(x, y)"."
It will need to only be on for C# 7.1 and above.

[2017-05-14 09:13] AdamSpeight2008 commented on #19485
Would it affect subsequent usages of the named items of the tuple? Ie the `x:` and `y:` parts.

[2017-05-14 09:48] CyrusNajmabadi commented on #19485
I'm not sure what you mean :)

[2017-05-14 12:05] AdamSpeight2008 commented on #19485
@CyrusNajmabadi
For example.
[code]

[2017-05-14 14:48] ysmoradi opened #19488 "ShadowCopyAnalyzerAssemblyLoader is loading older version of my assembly"
**Version Used:**
 Visual Studio 2015 & Visual Studio 2017 » Roslyn 1.3 & 2.0

**Steps to Reproduce:**
I've developed some codes result into following files: MyCodes.Core.dll (Simple C# Library class) + MyCodes.VSExtension.vsix (VSPackage Extension) + MyCodes.Analyzer.dll (Roslyn Analyzer Nuget Package.

Both Analyzer & Extension are reusing MyCodes.Core.dll. Version of all are the same, for examp

[2017-05-14 15:19] scottlurowist commented on #19288
I am writing an analyzer for unit tests. These are simple DLL project types.

I shall investigate the project files for the unit test project that fails. I do know it was not created with VS 2015. It may have been created with VS 2012. But, I do not work on that product.

Thanks!
Scott

[2017-05-14 15:41] sharwell commented on #19465
I lean in favor of your expected behavior, though I think I draw a different conclusion regarding the expected rule (the reason why `syntaxNode` should be preferred). Either one of the following two disambiguation rules in completion selection would have led to the desired outcome. It is not clear to me which of the two would be "better".

1. `syntaxn` only deviates in case from `syntaxN` by one c

[2017-05-14 15:50] sharwell commented on #19471
@lachbaer For each of the many keywords added in recent versions of the language, extreme care was taken to ensure people using that name as an identifier would not be broken during an upgrade scenario. Reserved keywords are keywords which are not allowed be be used for any other purpose in the language unless they are escaped. If, for example, you added `isnot` to the list of reserved keywords, a

[2017-05-14 15:50] #19471 closed

[2017-05-14 15:53] sharwell commented on #19476
❓ Does the formatter currently touch XML comments at all?

[2017-05-14 16:08] jcouv commented on #19245
Ty suggested this may be related to building from detached HEAD branch. I'm not convinced, but I'll keep an eye out.

[2017-05-14 16:35] lachbaer commented on #19471
@sharwell Thanks, I have updated the keyword to be contextual. Nevertheless the same problem occurs in the method `GetContextualKeywordKinds`:
[code]
I have updated `WhenKeyword` to `IsnotKeyword` .

If this is not by design then feel free to reopen 😄

[2017-05-14 17:33] sharwell commented on #19471
@lachbaer I don't have enough familiarity to answer that last question. I could reopen but you'll probably get a faster answer if you open a new issue specifically for `GetContextualKeywordKinds` since your new question would be more specific than this long thread.

[2017-05-14 17:39] sharwell commented on #19485
@AdamSpeight2008 No. This is a new feature (C# 7.1) allowing the names to be inferred from the initialization:
https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.1/infer-tuple-names.md

[2017-05-14 17:50] sharwell commented on #19488
It sounds like you have a Visual Studio extension installed which uses **MyCodes.Core**. Is the version of the extension which is currently installed using the same version of **MyCodes.Core** as the project you are trying to build?

There are two main options which would allow your scenario to work:

1. Give **MyCodes.Analyzer** a strong name, and make sure to update the AssemblyVersion for **MyC

[2017-05-14 17:52] sharwell commented on #19464
@KirillOsenkov Can you describe an activity that I can do to measure this? For example, were the profile traces taken during project load, or during typing, or perhaps something else?

[2017-05-14 17:54] #19453 closed

[2017-05-14 17:55] sharwell commented on #19443
This will break external contributor scenarios prior to 15.3 shipping. I may not hurt to update the toolset, but we can't change the language version yet.

[2017-05-14 17:58] ysmoradi commented on #19488
@sharwell thanks, I'm gonna test strongly named deployment approach.

[2017-05-14 17:58] ysmoradi commented on #19488
@sharwell thanks, I'm gonna test strongly named deployment approach.

[2017-05-14 17:59] lachbaer opened #19491 "'GetContextualKeywordKinds' does not allow newly added keywords"
I have added a new contextual keyword `isnot`. The method `GetContextualKeywordKinds` at `WhenKeyword`.

[code]

I have updated `WhenKeyword` to `IsnotKeyword` and put it to the end of the contextual keyword list with an appropriate new ID.

Shouldn't it be rather `i < ElifKeyword` so that it must not be adapted every time a new keyword is added?

[2017-05-14 18:05] sharwell commented on #19430
@alrz It appears you carefully crafted your example to really minimize the amount of code required to demonstrate the problem. However, there's a slight problem which turns out to have a big impact and highlights an edge case - the use of `C<C<T>>` appears inside a method which is marked obsolete. Warnings for obsolete methods are not reported when the use is itself enclosed in a construct which i

[2017-05-14 18:50] KirillOsenkov commented on #19464
CC @Therzok

[2017-05-14 18:58] alrz commented on #19430
@sharwell yeah, thanks! I'll update the example; just couldn't help it to not write it that way 😄

[2017-05-14 19:02] Melab opened #19492 "How is this built on Linux?"
The document for cross platform compilation mentions prebuilt tools, but doesn't give a link to them. So, how do I build this on Linux?

[2017-05-14 20:28] CyrusNajmabadi commented on #19476
PRs welcome.

[2017-05-14 20:32] CyrusNajmabadi commented on #19491
Feel free to make that change and submit it as a PR.  :)

[2017-05-14 20:32] #19491 closed

[2017-05-14 20:33] CyrusNajmabadi commented on #19482
Dupe of https://github.com/dotnet/roslyn/issues/15348

[2017-05-14 20:33] #19482 closed

[2017-05-14 20:37] sharwell opened #19493 "MemoryMappedInfo cleanup delays Visual Studio shutdown"
**tl;dr:** We create instances of `MemoryMappedInfo` (and its nested types). These types are disposable and have finalizers, but in some cases we do not explicitly dispose of instances. The large number of instances created for some user scenarios combined with non-deterministic cleanup resulted in a measurable (~50ms) increase in the time it takes to close Visual Studio for some scenarios.

What

[2017-05-14 20:51] jcouv commented on #19443
If we don't dogfood new languages features before release, nobody else will. So I'd favor ironing out problems so that we can go ahead with dogfood.

What kind of break(s) do you expect from updating the language version and using the new language features?

[2017-05-14 20:56] sharwell commented on #19430
@alrz Can you bring back the original example as well since it will be important to include it as a test case if we implement this feature?

[2017-05-14 21:05] jcouv commented on #17076
@CyrusNajmabadi If you let me know the test and method to repro, I can verify. But I'm pretty confident this is fixed in master branch.
I'll close.

[2017-05-14 21:08] CyrusNajmabadi commented on #17076
This is in AbstractAddParameterCodeFixProvider.  The code runs when you do something like"

"new MyType(too, many, arguments, supplied)".

[2017-05-14 21:08] CyrusNajmabadi commented on #17076
You'd be able to try this out by running the AddParameterTests tests.

[2017-05-14 21:35] sharwell opened #19496 "Crash when generating event"
**Version Used**: 15.1

**Steps to Reproduce**:

1. Add the following code to a VB source file:

[code]

2. From the Type dropdown, select **(ExampleClass Events)**
3. From the Member dropdown, select **ExampleEvent**

**Expected Behavior**:

Do not crash.

**Actual Behavior**:

Visual Studio crashes (will provide more details upon request, but this was a trivially easy reproducer when I tried pre

[2017-05-14 21:51] sharwell opened #19497 "Incorrect refactoring results when using local functions"
**Version Used**: 15.0

Originally reported by [Mike Heckenbach](https://developercommunity.visualstudio.com/content/problem/38579/certain-quick-actions-create-incorrect-modificatio.html):

This is closely related to, but does not appear to be a duplicate of, #18347.

[2017-05-14 22:02] sharwell opened #19498 "Incorrect simplification of MyClass for overridable members"
**Version Used**: 15.2

**Steps to Reproduce**:

1. Declare the following in Visual Basic

[code]

2. Go to the line containing `MyClass.Test()`

**Expected Behavior**:

No simplification is offered to convert the call to just `Test()`. Such a conversion would change the behavior of the code per the [following language](https://github.com/dotnet/vblang/blob/master/spec/expressions.md#member-access

[2017-05-14 22:05] jcouv commented on #19245
I investigated this further and it does seem related to building a detached HEAD branch.

[2017-05-15 01:58] jmarolf commented on #19492
@Melab make should download them.  Are you following the directions [here](https://github.com/dotnet/roslyn/blob/master/docs/infrastructure/cross-platform.md)?

[2017-05-15 03:30] jawilliam opened #19500 "NormalizeWhitespace invocation never returns"
**Version Used**: 1.3.1.0

**Steps to Reproduce**:

1. I have the following code

[code]

2.  When `fileVersion.Content.SourceCode` contains the code below:

[code]

**Expected Behavior**: I expect that the second line (the `NormalizeWhitespace` invocation) returns the normalized source code, but

**Actual Behavior**: s just enter in some sort of "deadlock" because it never returns back any result

[2017-05-15 08:11] danmendonca opened #19503 "Project.AdditionalDocuments is empty after acepting a refactor that Adds an Additional Document."
**Version Used**:
1.3.2
**Steps to Reproduce**:

1. In Visual Studio 2017, write a code refactor that generates na AdditionalDocument and add it to the a Project through Project.AddAdditionalDocument(string, SourceText,, Folders)
2. Though the Visual Studio Instance now has the AdditionalDocument visible in the solution explorer, if you get the instance of the modified Project, property Additional

[2017-05-15 08:14] torgabor opened #19504 "DataFlowAnalysis fails on local functions"
**Version Used**:
2.1.0.0
**Steps to Reproduce**:

Using the following code:

[code]
localResult.Succeeded will be false.
Replacing the local function with a lambda expression yields correct analysis.
Compilation finished without errors
Calling the val() or consuming its result makes no difference.

[2017-05-15 08:53] mgravell opened #19505 "Reboot build chain codegen"
There have been lots of thoughts of compilation extensibility points for .NET, including "[dnx compile modules](https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx.Compilation.CSharp.Abstractions/ICompileModule.cs)", "[roslyn generators](https://github.com/dotnet/roslyn/blob/master/docs/features/generators.md)", etc. The reality is: due to various factors including complexity, changing needs

[2017-05-15 09:37] mgravell commented on #19505
Ideal scenario for me as a library author:

1. consumer adds nuget packages and knows nothing about the voodoo
2. then a miracle occurs
3. assembly with code injected / mutated by the tool is ejected

![then a miracle occurs](http://i.imgur.com/HrcEq7J.png)

The "compile modules" work is presumably a good starting point for a minimal viable product of step 2.

[2017-05-15 10:04] alrz commented on #19504
https://github.com/dotnet/roslyn/issues/14214

[2017-05-15 11:04] torgabor commented on #19504
Sorry, for creating a duplicate, I didn't notice the previous issue.  Should I close this now, or should this remain open till the original is resolved?

[2017-05-15 11:05] ReubenBond commented on #19505
Another for the list of uses for codegen is RPC proxies & stubs, like the `GrainReference`s & `IGrainMethodInvoker`s we have in [dotnet/orleans](https://github.com/dotnet/orleans).

Currently, we use a mix of IL and Roslyn, but Roslyn code is much easier to maintain and debug. IL code is a necessary last resort, used for generating serializers/copiers for inaccessible types and fields & optimizing

[2017-05-15 11:20] alrz commented on #19504
This is a dup of #14214 as the issue is being tracked there, so you can close this one.

[2017-05-15 11:37] mgravell commented on #19505
@ReubenBond  great example; and indeed your IL code looks very familiar - very comparable to protobuf-net's emit stage. Just a tip: [`roslynquoter`](https://roslynquoter.azurewebsites.net/) is great if you want to figure out the Roslyn code needed for a particular scenario.

[2017-05-15 11:37] sharwell commented on #19503
This bit me as well while working on StyleCop Analyzers. It appears to be a duplicate of #4655.

[2017-05-15 11:37] #19503 closed

[2017-05-15 11:38] #19504 closed

[2017-05-15 11:42] Logerfo commented on #19404
CS1061	'AccessorDeclarationSyntax' does not contain a definition for 'ExpressionBody' and no extension method 'ExpressionBody' accepting a first argument of type 'AccessorDeclarationSyntax' could be found (are you missing a using directive or an assembly reference?)

[2017-05-15 11:49] ReubenBond commented on #19505
I used Roslyn quoter in the beginning, and now LINQPad or VS with their syntax tree displays if I ever need it. It's a verbose API, but it's fine. Consuming syntax trees is harder than generating them, I feel, but maybe I just don't have enough experience with that aspect of roslyn yet. It feels stringly compared to using reflection on compiled code.

[2017-05-15 12:07] sharwell commented on #19505
For me, (source) code generation tools can be grouped into two categories:

1. Those that can represent the generated code strictly as a set of new (generated) files added to the build, without altering the effective content of any non-generated source files in the project
1. Those that alter code defined in non-generated code, e.g. Code Contracts' handling of `Contract.Requires<TException>` (this

[2017-05-15 12:50] vbfox commented on #19505
I think a good example of working Codegen with IDE support in the current .Net environment is F# type providers.

They cover only **1.** of @sharwell classification but they already exists today and work relatively well in the IDEs (one of their currently missing feature is accessing types from the same compilation but there's an [RFC](https://github.com/fsharp/fslang-design/blob/master/RFCs/FS-10

[2017-05-15 13:08] sharwell commented on #19404
Assembly binding redirection is used to make your analyzers operate against the most recent known version at runtime.

* If you compile against the same version as the IDE uses, you'll have a version match
* If you compile against an older version than the IDE uses, you'll see the newer version at runtime (and while debugging). The API you see when you compile will be a subset of the API that actu

[2017-05-15 13:13] mgravell commented on #19505
@sharwell  I strongly suspect that "1" would fulfil the 80%+ case - and quite possibly the 98% case if we consider `partial class` etc. Frankly, that would be a great place to start. It is conceptually similar to what `CodeGeneration.Roslyn` does - but the point here would be to formalize something in this area, rather than workarounds, hacks, etc.

[2017-05-15 13:20] sharwell commented on #19505
@mgravell Suppose [Antlr4.net40.targets](https://github.com/tunnelvisionlabs/antlr4cs/blob/master/runtime/CSharp/Antlr4BuildTasks/Antlr4.net40.targets) worked on both MSBuild for desktop and MSBuild for .NET Core (cross platform). The overall behavior of the file could be modified for a different tool, e.g. a Roslyn-based tool, which gets plugged in where [`Antlr4ClassGenerationTask`](https://gith

[2017-05-15 13:25] mgravell commented on #19505
@sharwell  I don't really know enough about that tool to offer an opinion. If it would work in a x-plat, x-tooling way that allows me to get extra code into the build, then I guess "probably"?

[2017-05-15 13:32] sharwell commented on #19505
@mgravell It should be possible. You could cover several scenarios from the start by writing your MSBuild task against the new .NET Standard builds of the MSBuild APIs. You could then expand on that support by multi-targeting the build task (to .NET Standard plus MSBuild 14 to cover Visual Studio 2015), and updating the targets file to reference the correct task. The build task is just a wrapper t

[2017-05-15 14:01] manchas commented on #17183
I have this issue reported somewhere else (https://developercommunity.visualstudio.com/content/problem/24592/fix-all-ocurrences-in-project-failling-with-black.html). There, it was closed as a duplicate by @sharwell.
The difference between this issue and mine is that I don't have a single dotNet Core project in my solution, 100% of my 153 projects are targeting framework 4.6.1, and I was still seei

[2017-05-15 14:13] mgravell commented on #19505
oh god, I'm going to have to learn how to "do" msbuild, aren't I...

[2017-05-15 14:14] mkrueger opened #19506 "Completion Enum insertion"
[code]

Would be nice if FooBar.Foo and FooBar.Bar would be in the completion list. Makes things easier to type.

[2017-05-15 14:14] sharwell commented on #17183
@manchas Thank you for the update. It sounds like we do already have an issue for this, but I linked to the wrong one. I'm hoping we have all these related issues fixed soon!

I'm glad you found a workaround, though it highlights the importance of fixing this (since .editorconfig simply isn't working for you). :smile:

[2017-05-15 14:23] sharwell commented on #19505
@mgravell You were already working on IL code generation without API assistance, how bad could it be? :trollface:

In all seriousness though, start with the .targets file I linked and the .props file next to it.

1. Replace everything `Antlr4` with some other name
2. Remove properties not related to your use, such as Java vendor
3. Remove the `AvailableItemName` lines and the `ItemDefinitionGroup`

[2017-05-15 14:27] sharwell commented on #19506
@CyrusNajmabadi @Pilchie Is this something was considered and rejected in the past, or is it new? At first glance, seems like a good idea to me.

[2017-05-15 14:36] Therzok commented on #19464
This is while typing (in VS for Mac), which queries diagnosers using engine v1.

[2017-05-15 14:54] Logerfo commented on #19404
@sharwell Thanks for replying. Am I supposed to wait until VS RTM gets this to-be-merged PR then?

[2017-05-15 15:33] davidfowl commented on #19505
@sharwell that requires a "double compile" no? Which is pretty sucky. What you want is to be handed a roslyn compilation so that tools can just look at that VS rewriting that boilerplate in every build task that needs the same compilation.

[2017-05-15 15:40] sharwell commented on #19505
@davidfowl It does (require two "core compilations"), but maybe it's not a problem. The C# compilation core is often only a minority of the overall build time, and the code generation component could reuse much of the same information that is already getting computed for the main build (e.g. the location of references).

[2017-05-15 15:42] davidfowl commented on #19505
@sharwell That seems unfortunate (I know emit takes up more time than making the compilation itself). We do 99% of the work with analyzers already, that's why this feels like such a PITA.

[2017-05-15 15:43] znakeeye opened #19507 "Use 'Throw' expression causes erroneous code"
**Version Used**: 15.2 (26430.4)

**Steps to Reproduce**:

[code]

**Error CS0019 Operator '??' cannot be applied to operands of type 'T' and '\<throw expression>'**

**However, if I add a constraint on T in my class it works:**

[code]

**Expected Behavior**:
The "Use Throw expression" command should not be available or it should complain about the type. Maybe suggest adding the "where"-constrain

[2017-05-15 15:44] jaredpar commented on #19505
Don't think this needs to be challenged.  Everyone involved with the generators features agrees on this.  Else we wouldn't have spent so much time on it.

One of the bigger issues is scenarios.  There is only a limited amount of time we can spend on language features.  Even features with known advantages and well thought out designs get put on the back burner because of more immediate needs.

Take

[2017-05-15 15:45] sharwell commented on #19505
@davidfowl Note that I wouldn't say this is optimal, and small overhead definitely adds up over time and in combination with other things. My real hope from this is it unblocks users who need this functionality in the short term by providing a very reliable and tolerably-performing path to a desired outcome, and then use those results to start being *very* specific about the goals of compiler-inte

[2017-05-15 15:50] davidfowl commented on #19505
@sharwell How does it affect incremental builds? Do you have any experience running multiple code generators in the same project?

[2017-05-15 15:54] sharwell commented on #19505
The approach I'm using for ANTLR 4 works seamlessly with incremental builds, including incremental clean (a change which causes output files to be renamed will delete previous outputs during incremental build).

No, but the order can be defined in MSBuild. By default, all generators run before the compilation step but are otherwise unordered relative to each other. If you have a code generator whi

[2017-05-15 16:03] Pilchie commented on #18600
Also reported in https://developercommunity.visualstudio.com/content/problem/56279/extractmethodecoderefactoringprovider-encountered.html

[2017-05-15 16:04] Pilchie commented on #16587
Also reported in https://developercommunity.visualstudio.com/content/problem/56296/c-find-all-references-finds-same-thing-twice.html

[2017-05-15 16:08] danmendonca commented on #4655
The workaround of this issue for what I am understanding (the above mentioned), depends on knowing the file name from the beginning. Has someone found another way? I guess this is low in the priority list.

[2017-05-15 16:33] Pilchie commented on #19506
That's basically what VB does.  C# just preselects `FooBar` so that typing `.` is enough to get you to the members.  There is not real reason that C# doesn't flatten the list except that it historically never has.

[2017-05-15 16:59] sharwell commented on #19507
It appears our analyzer is ignoring the rule described in #17754.

[2017-05-15 17:18] jcouv commented on #19443
@sharwell Discussed this with Jared. He agrees we should move forward.

There are two options (both for internal and external contributors):
- do nothing: then some contributors may notice red squiggles on new syntax (in the few places they will be introduced) that won't actually block their build.
- contributors can install Roslyn nightlies (I have posted Kevin's [nightlies instructions](https://

[2017-05-15 17:30] #18493 closed

[2017-05-15 17:52] Pilchie commented on #14030
Taking this back, since @panopticoncentral likely won't have a chance to get to it soon.

[2017-05-15 17:54] myblindy commented on #19182
I have no generic nested functions, so it might be a different issue that you guys found here.

[2017-05-15 18:29] sharwell commented on #19404
@Logerfo That PR is a third-party project trying to accomplish what you are trying to accomplish (update from using 1.x Roslyn to using 2.x Roslyn). Presumably, if you take the same steps in your project as demonstrated in that PR, you will be able to start working with the Roslyn 2.x API.

[2017-05-15 19:03] jcouv commented on #18737
@MichalStrehovsky just checked in the .NET Native short-term fix. Thanks!
Michal, let me know if I should file a follow-up issue to undo this (moving to long-term solution).

@WilliamABradley Thanks for reporting the problem.
I'll go ahead and close OP as fixed. The fix will ship with Visual Studio 2017 version 15.3.

[2017-05-15 19:03] #18737 closed

[2017-05-15 19:11] MichalStrehovsky commented on #18737
No need to follow up. There are two fixes:

1. Our mainline branch has the full fix (https://github.com/dotnet/corert/commit/b5b11ab9fd71022377bbfeadc0cf6ae4178ef757). It will ship in the next .NET Native major release.
2. The short-term fix was checked in to the .NET Native 1.6 servicing branch and will ship soon-ish. The exact scheduling and versioning to be announced later.

[2017-05-15 19:20] binki commented on #19182
@myblindy What do you think about this minimal repro I built up from your code? Maybe I’m wrong in thinking that this error has to do with precisely generics. Are you sure that you haven’t referenced local variables from an outer scope or tried to create a lambda within the scope of your local function? The line you gave itself doesn’t create an error for me, but if I carefully construct a program

[2017-05-15 19:28] binki commented on #19182
@myblindy

btw, you can use [fences](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to escape inline backticks.

[2017-05-15 19:29] tmat opened #19512 "Microsoft.CodeAnalysis.UnitTests.LoggingTests.TestAllocationPooling failed in CI"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_unit64_prtest/6298/testReport/junit/Microsoft.CodeAnalysis.UnitTests/LoggingTests/TestAllocationPooling/

[code]

[2017-05-15 19:51] jeremymeng commented on #19465
Is `syntaxNode` offered when I start the declaration with `SyntaxNode` in VS 15.3? If I use `var syntaxNode = new SyntaxNode();` it won't help then. Also the completed type name in ` new SyntaxNode()` would be the most recently used one.

[2017-05-15 19:51] alrz opened #19513 "Assign default literal to a deconstruction"
**Version Used**: master

**Steps to Reproduce**:

[code]
**Expected Behavior**: compile with no error.

**Actual Behavior**: error CS8131: Deconstruct assignment requires an expression with a type on the right-hand-side.

[2017-05-15 19:51] alrz commented on #19513
@jcouv Can this be special cased? [would come in handy sometime](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.cs,07114598e8759e4e).

[2017-05-15 20:10] KevinH-MS opened #19514 "By default, cannot hit breakpoints in UTF-8 files with no BOM..."
**Steps to Reproduce**:

1.  Create a new C# Console Appliction
2.  Open Program.cs in a hex editor and remove the BOM
3.  Place a breakpoint in void Main
4.  F5

**Expected Behavior**:
Breakpoint is hit

**Actual Behavior**:
Breakpoint is not hit unless you select the option to allow source to differ from original version

[2017-05-15 20:11] KevinH-MS commented on #19514
I'm not sure if this is an issue in Roslyn, but opening here, because I heard from @tannergooding that we may have made some changes here to allow debugging files that had "insignificant" whitespace changes.

[2017-05-15 20:13] heejaechang opened #19515 "VS uses CPU while user is not actively working on VS"
while user is idle, Roslyn is spinning CPU. we should reduce as much as possible on VS side and do that on OOP side.

[2017-05-15 20:15] tannergooding commented on #19514
Tagging @tmat. I believe the changes were going to be around newline, so I don't think that should be impacting this.

[2017-05-15 20:19] CyrusNajmabadi commented on #19515
Do you have a trace that shows where the CPU time is spent?

[2017-05-15 20:19] IlyaBiryukov opened #19517 "NullReferenceException at SolutionExplorer.HierarchyItemToProjectIdMap.TryGetProjectId"
**Version Used**:
VS: vsuvscore 62510.01
Roslyn: 2.03.0.61709, commit c4b1692

**Steps to Reproduce**:

1. Create a C# Desktop class library project
2. Add a C# console application project to the solution
3. Enable Lightweight solution load mode
4. Save the solution, restart VS, load the solution
5. Expand console app project node in Solution Explorer

**Expected Behavior**:
The project items are

[2017-05-15 20:20] jcouv commented on #19513
Issue moved to [dotnet/csharplang #583](https://github.com/dotnet/csharplang/issues/583) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-15 20:20] #19513 closed

[2017-05-15 20:23] heejaechang commented on #19515
I opened this bug because I needed a bug for PR. this is about what andrew said about making too much connection to service hub.

[2017-05-15 20:27] Pilchie opened #19518 "Changing Naming styles in Tools\Options doesn't trigger re-analysis"
**Version Used**:
2.3.0.6171503

**Steps to Reproduce**:

1. Add a naming rule that private fields should be `_camelCased`.
2. Add a private *static* field named `s_camelCased`
3. Observe a suggestion smudge.
4. Go to tools options and add a rule for private static fields.  Make sure it is above the rule from 1 in the list.
5. Press OK.

**Expected Behavior**:
The smudge should go away.

**Actual

[2017-05-15 20:33] gafter commented on #1226
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-05-15 20:33] #1226 closed

[2017-05-15 20:41] IlyaBiryukov commented on #19517
Here is the same exception thrown when I try to expand the project node in Solution Explorer:
[code]

[2017-05-15 20:44] IlyaBiryukov commented on #19517
Please note that this is pretty much blocking LSL in vsuvscore and 15.3
I've resolved [DevDiv 433949](https://devdiv.visualstudio.com/DevDiv/Connected%20Experience/_workitems?id=433949&_a=edit&triage=true) as external to this issue.

[2017-05-15 20:59] Pilchie commented on #19517
@tmeschter Looks like a dupe?

[2017-05-15 21:04] tmeschter commented on #19517
@Pilchie No, probably not. It looks like `AbstractProject.Hierarchy` is returning null which I _guess_ makes sense since DPL basically bypasses the project system entirely.

[2017-05-15 21:04] Pilchie commented on #19465
Let's consider tweaking this in the future.

[2017-05-15 21:15] Pilchie commented on #19480
@DustinCampbell / @CyrusNajmabadi we fixed `GetStartPoint()` for these right, but we don't support `Access`?

[2017-05-15 21:16] jviau commented on #19354
I ran into this again following these steps, (but it only happened once).

1. New .netcore console app.
2. Edit csproj, change TargetFramework=netcoreapp2.0 to TargetFrameworks=netcoreapp1.1;net46
3. __don't save__ the project file
4. Run the console app, triggering the project file to save (triggering a reload) and attempt to build at the same time.
5. Received the NFE, a project reload dialog, a

[2017-05-15 21:20] Pilchie commented on #19496
Callstack (always helpful for triaging):

[code]

[2017-05-15 21:25] Pilchie commented on #19497
Tagging @agocke

[2017-05-15 21:28] Pilchie commented on #19507
Already fixed for 15.3 as part of https://github.com/dotnet/roslyn/pull/18178.

[2017-05-15 21:28] gafter commented on #19403
And we should do work *in the future* to reduce the scope of those differences.

[2017-05-15 21:29] jcouv opened #19523 "Compact C# 7.1 error codes"
Although I compacted the bottom of this list, I just noticed that a gap is left between 8210 and 8300.

[code]

[2017-05-15 21:29] #19507 closed

[2017-05-15 21:34] gafter commented on #19372
This is a language feature proposal, so any work on this would have to be coordinated with corrseponding work in the `csharplang` repo.

[2017-05-15 21:44] gafter commented on #19327
@AnthonyDGreen Can you please comment on this?

[2017-05-15 21:50] vbcodec opened #19524 "VB SyncLock error ?"
[code]

Function WriteError is called by single background thread, while AddError by other working thread(s)
Calling WriteErrors throw (sometimes) exception:

[code]

[2017-05-15 21:53] raboud commented on #19480
I have the fix and a unit test....just haven't done the check in and pull request.

[2017-05-15 21:56] jcouv commented on #17076
The problem still repro'es. I'll test again with PR #18844.

[2017-05-15 21:56] Pilchie commented on #19480
Fantastic - I'll pull this into 15.3 then.  Looking forward to the contribution.

[2017-05-15 21:58] tmat commented on #19514
It doesn't seem to repor on the latest build: 26510.0-Preview d15rel (dogfood channel), Roslyn 2.3.0.6171503

[2017-05-15 21:59] gafter commented on #19308
Whether or not this is an optimization depends on your CLR implementation. The "optimized" code contains a duplicate evaluation of the input and an unboxing cast.

[2017-05-15 22:08] alrz commented on #19308
I think this should work just like `e is int x` (latest revision) so it may store the expression if necessary. and the generated IL contains a `isinst` and `unbox` just like it does today.

[2017-05-15 22:10] ivanbasov opened #19526 "Microsoft.VisualBasic.dll is not loaded by code typed in the immediate window"
Attempted to migrate the test to xUnit. Still see the same issue. That is, I can reproduce it locally without any frameworks. It is not caused by Tao. It seems to be a regression in VB compiler services.

Here is a repro scenario:
1. Create a VB console application with the code.
[code]
2. Start debugging up to the breakpoint.
3. Type `?(Function(val) (val + val))(1)` in the immediate window.
**Ex

[2017-05-15 22:16] ivanbasov opened #19527 "Migration BasicExpressionEvaluator.EvaluateSimpleExpressionsDTEE integraiton test requires the immeidate window in the DTE API"
The Tao test (EvaluateSimpleExpressionsDTEE) involves an immediate window checks that work differently with Watches or with DTE.Debugger.CheckExpression calls. So, it seems incorrect to migrate the test to xUnit now.

Tagging @dotnet/roslyn-ide

Created based on https://github.com/dotnet/roslyn/issues/8724. Will migrate all other tests  from https://github.com/dotnet/roslyn/issues/8724 and resolve

[2017-05-15 22:24] raboud commented on #19480
Pull request is in #19528...I hope I did it correctly

[2017-05-15 22:33] CyrusNajmabadi opened #19530 "CSharpNavigateTo.NavigateTo is flakey."
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/4219/consoleFull#9716893042d31e50d-1517-49fc-92b3-2ca637122019

      Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpNavigateTo.NavigateTo [FAIL]

VB test has also been disabled.

[2017-05-15 22:39] KevinH-MS commented on #19514
I checked out d15prerel 26515.1, and you're right, it doesn't seem to repro any more.  Closing...

[2017-05-15 22:39] #19514 closed

[2017-05-15 22:40] KevinH-MS commented on #19514
FYI @genlu, since I know you were hitting this too.  If you upgrade to the latest VS, the issue should go away.

[2017-05-15 22:45] #19041 closed

[2017-05-15 23:21] #18957 closed

[2017-05-15 23:21] #18958 closed

[2017-05-16 00:04] ncapito commented on #8217
Didn't fix it for me.  Same error.

[2017-05-16 00:32] gafter commented on #14295
This appears to be fixed in master. Adding tests.

[2017-05-16 00:54] miloush opened #19542 "UriFormatException in GetHelpLink"
**Version Used**: 26510.0

**Steps to Reproduce**:
Just put any non-BMP character anywhere inappropriately -  e.g.
[code]
(just the character on its own in a file does the trick too)

**Actual Behavior**:
A message box with editor extension exception:
[code]

**Expected Behavior**:
No message boxes, i.e. ~~either~~ encode URL first ~~or tolerate UriFormatExceptions~~ (there are likely more ways to

[2017-05-16 01:22] jasonmalinowski opened #19545 "Remove hack in build/Targets/Imports.targets working around project system additional files support"
dotnet/project-system#2160 was hacked around in #19477. We should revert that PR once the underlying bug is fixed and we're dogfooding an appropriate build.

[2017-05-16 01:33] CyrusNajmabadi commented on #19506
It would be fine with me.  Ideally VB and C# would be able to emulate each other here, and there would be an option to specify the type of behavior you want.  My muscle memory is such that i just expect to type "space-dot-membername", so as long as you don't break that, i'm fine :)

[2017-05-16 01:42] CyrusNajmabadi commented on #16083
I'm not sure what to do here.   If we can provide some sort of service that can effectively answer this question, then that would be great.  But i don't know how to make that service myself.

[2017-05-16 01:44] CyrusNajmabadi commented on #17304
Over to Kasey for a design on this.

[2017-05-16 01:46] CyrusNajmabadi commented on #15760
Assigning to heejae.  I don't think there's anything actionable i can do here.

[2017-05-16 01:46] CyrusNajmabadi commented on #15760
Any perf delays would need to be fixed in teh analyzer engine.

[2017-05-16 01:50] CyrusNajmabadi commented on #14911
Closing as Kasey and I seem to like the clear previews shown on the codestyle stuff i did :)

[2017-05-16 01:50] #14911 closed

[2017-05-16 01:52] CyrusNajmabadi commented on #15461
Fixed with https://github.com/dotnet/roslyn/pull/18227

[2017-05-16 01:52] #15461 closed

[2017-05-16 01:52] dsyme opened #19547 "ProjectExternalErrorReporter can't be used by F#"
#### ProjectExternalErrorReporter can't be used by F# because it requires a CompilerDiagnosticsAnalyzer (and we don't have one of those)

In the Visual F# IDE Tools, we are trying to use Roslyn to report both document (intellisense) and compiler (build) error messages.    We already do the former.  If we use Roslyn for both, we expect we will solve our [error message unification regressions](https

[2017-05-16 01:55] CyrusNajmabadi commented on #17622
This has been fixed, and is now the default:

![image](https://cloud.githubusercontent.com/assets/4564579/26086536/1b1c93a4-39a0-11e7-9809-53eadfc41648.png)

[2017-05-16 01:55] #17622 closed

[2017-05-16 01:57] dsyme commented on #19547
Separately, while poking around, I found this code which looks unfriendly to F# and multi-language use of Roslyn in general: https://github.com/dotnet/roslyn/blob/0d6f96aa4bd85f4c616c616e0a79e41adf2283c2/src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs#L92

        public static bool IsCompilerAnalyzer(this DiagnosticAnalyzer analyzer)
        {
            // TODO: find better way.

[2017-05-16 06:33] khellang commented on #17622
Thanks, @CyrusNajmabadi! :heart:

[2017-05-16 06:48] #15348 closed

[2017-05-16 07:08] lachbaer opened #19552 "IDE adds @ to my new keyword"
I have added `isnot` keyword and made changes to the classification. But when typing this code:
[code]
after the opening paren' IntelliSense suggest to write `@isnot`, though identifier `isnot` without the `@` is fine. I cannot the heck find out where this comes from. Can anybody give me a hint?

[2017-05-16 08:36] PawelAndruszkiewicz opened #19553 "NullReferenceException in WorkspaceMetadataFileReferenceResolver.Equals(WorkspaceMetadataFileReferenceResolver)"
**Version Used**:
 Microsoft.CodeAnalysis.Workspaces 2.1.0.61520

**Steps to Reproduce**:
[code]

Run the sample application passing a full path to csproj.

**Expected Behavior**:
Sample application should not throw an exception.

**Actual Behavior**:
Sample application throws an exception in line `compilation = compilation.WithOptions(options);`:

[code]

[2017-05-16 08:51] alrz commented on #19552
I think this kind of questions are better to be asked in [the Roslyn's gitter channel](https://gitter.im/dotnet/roslyn), no?

[2017-05-16 08:53] lachbaer commented on #19484
Does anyone has a preliminary answer?

[2017-05-16 08:56] lachbaer commented on #19552
@alrz Good idea, didn't know that place. I have asked that question over there, too, and will close here as soon as I got a resolving answer.

[2017-05-16 09:02] CyrusNajmabadi commented on #19484
IOPeration is currently being developed.  If you want to make any changes, just edit the file directly.  However, it's likely that that work may just be blown away as @heejaechang and others continue work in this area.

What are you trying to do?

[2017-05-16 09:14] lachbaer commented on #19552
@CyrusNajmabadi wrote on https://gitter.im/dotnet/roslyn:

I think it's StringExtensions.EscapeIdentifier
Which is called from CompletionUtilities.GetInsertionText

@CyrusNajmabadi Thank you very much! ❤️ Found it :-) My issue has been resolved, `isnot` residue from the times where it put it to the reserved keywords.

[2017-05-16 09:14] #19552 closed

[2017-05-16 09:18] lachbaer commented on #19484
@CyrusNajmabadi
[code]

[2017-05-16 09:21] lachbaer commented on #19484
Little side node: I added `IIsnotTypeExpression.cs` to the project, without errors(!), but the project does not include the type, so that the interface inheritance above does not resolve. I had this resolved by closing IDE, cleaning and rebuilding, but nevertheless it keeps occuring from time to time. Can this be a bug?

[2017-05-16 10:10] davkean commented on #19389
Do we plan on making progress on this week?

[2017-05-16 13:28] AdamSpeight2008 commented on #19547
@dsyme That looks like a good candidate to be overridable method on a base class maybe `DiagnosicAnalyzer` or lower.

[2017-05-16 13:53] ILAgent opened #19554 "Tuple deconstruction crashes VS 2017 ide"
**Version Used**:
VS 2017 (15.2 , 26430.6)

[code]

**Steps to Reproduce**:

[code]
When I'm wrinting
` (var firstSecs, var lastSec) = tuple;`
IDE crashes

**Expected Behavior**:

Don't crash obiviously

**Actual Behavior**:

Crash !

[2017-05-16 14:18] SirDuke opened #19555 "VS 2017 crashed on rename suggestion"
**Version Used**:
Microsoft Visual Studio Enterprise 2017
Version 15.2 (26430.6) Release
VisualStudio.15.Release/15.2.0+26430.6

**Steps to Reproduce**:

1. Source code:
[code]
2. set cursor before "y" in "out var y", remove one symbol "y" and type symbol "_" (single underscore)
3. wait until rename marker appears and press "Ctrl + ."
4. Rename popup menu appears suggestion to rename "y" to "_" an

[2017-05-16 14:18] SirDuke commented on #19555
Debugger catches next exception before crash:

StackTrace	"   at Microsoft.CodeAnalysis.CSharp.Binder.CheckFeatureAvailability(Location location, MessageID feature, DiagnosticBag diagnostics)\r\n   at Microsoft.CodeAnalysis.CSharp.Binder.FallBackOnDiscard(IdentifierNameSyntax node, DiagnosticBag diagnostics)\r\n   at Microsoft.CodeAnalysis.CSharp.Binder.BindIdentifier(SimpleNameSyntax node, Boolea

[2017-05-16 14:20] redknightlois commented on #19372
@gafter Looks more like missing syntax / bug than a feature proposal. Local functions do not behave consistently with the rest of the language without attribute support.

[2017-05-16 14:24] brunoamancio commented on #17229
I have VS 2017 version 15.2 (26430.6) and the issue is still present.

[2017-05-16 14:53] brunoamancio commented on #19180
@jcouv  Is there any release date scheduled?

[2017-05-16 15:14] jcouv commented on #17229
@brunoamancio Yes, the fix will only be available in Visual Studio 2017 version 15.3.

[2017-05-16 15:46] AdamSpeight2008 opened #19556 "Master Unit Test Failures"
**Version Used**:
`Master` at [commit](https://github.com/dotnet/roslyn/commit/2a2bbd4a6e261eed76c2153689d98759934b664c)

**Steps` to Reproduce**:
In VS Dev Cmd Prompt run the following commands
1. Restore (No Issues)
2. Build (No Issues)
3. Test (Lots of Unit Test Failures)

**Expected Behavior**:
No Test Failures

**Actual Behavior**:
See [Gist](https://gist.github.com/AdamSpeight2008/536cfda21f

[2017-05-16 15:54] louthy opened #19557 "Type inference issue?"
.NET Compiler Platform: 2.0.0.6140902

I have been running into this issue for a while now, and I am wondering whether this is just a bug that nobody has noticed, or a missing feature of Roslyn (to which I need to raise a proposal in csharplang).

First if I create a function that does partial application
[code]
And a simple function to add two ints.
[code]
And then try to partially apply by passi

[2017-05-16 16:04] Pilchie commented on #18818
Assigning to @kuhlenh to drive to a decision here, and so that it's out of my triage query.

[2017-05-16 16:05] Pilchie commented on #19547
@heejaechang can you help out here?

[2017-05-16 16:10] Pilchie commented on #19555
@jcouv - looks like another dupe.

[2017-05-16 16:13] AdamSpeight2008 commented on #19556
@Pilchie I suspect this most likely is an issue with AV software on my side. Just report issue just in case it isn't.

[2017-05-16 16:14] Pilchie commented on #19517
@tmeschter - did you look at this enough to know what the fix is, or do you want me to take a look at it?

[2017-05-16 16:16] jcouv commented on #19555
@SirDuke Thanks for reporting this. This is a known issue (https://github.com/dotnet/roslyn/issues/17229) for which the fix will ship in Visual Studio 2017 version 15.3. Sorry for the inconvenience.

[2017-05-16 16:16] #19555 closed

[2017-05-16 16:39] Pilchie commented on #19554
Hi @ILAgent.  I'm not able to reproduce this with the latest builds.  It's possible that we've fixed it, but to confirm, can you can a look in your Event viewer for any events from ".NET Runtime" that would include the callstack of the crash?

[2017-05-16 16:43] tmeschter commented on #19517
@Pilchie I know what the fix is--we just need to check that the `Hierarchy` property isn't null before accessing it. If it is null we can ignore the project as it definitely won't be the one we're looking for.

[2017-05-16 16:52] Pilchie commented on #19530
Can you take a look?  You're probably the most familiar with Navigate To right now.

[2017-05-16 16:54] Pilchie commented on #19553
@PawelAndruszkiewicz care to supply a PR?  It's likely a simple oversight in the implementation of `WorkspaceMetadataFileReferenceResolver.Equals`

[2017-05-16 17:46] AdamSpeight2008 commented on #19245
See #19556 also

[2017-05-16 18:01] jcouv commented on #19556
I'm investigating the NRE's in C# and VB CommandLine tests (#19245).

[2017-05-16 18:18] heejaechang commented on #19547
ya. it was never designed to be used in this way. let me look around and get back.

does F# support third party DiagnosticAnalyzer? no right?

[2017-05-16 18:28] alrz commented on #19557
https://github.com/dotnet/roslyn/issues/16824#issuecomment-276177025

[2017-05-16 18:33] 333fred opened #19558 "Flaky Test: Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpNavigationBar.VerifyNavBar2"
Seems like this could be a test framework issue, occurred on one of my prs where it didn't fail previously, and the newly pushed commits reordered an if statement in a section of code that wasn't run by this test.

I say framework issue because this test checking to see if `C` and `S` are in the nav bar, and they appear to be in the nav bar from the screenshot.

**Screen Shot**:
![image](https://c

[2017-05-16 18:42] tmat commented on #18161
This issue is not specific to interactive. Repro in regular .cs file:

![image](https://cloud.githubusercontent.com/assets/41759/26122525/b070f7a6-3a2c-11e7-92aa-4afeeef9df54.png)

[code]

[2017-05-16 18:42] tmat commented on #18161
@jaredpar FYI

[2017-05-16 18:57] heejaechang commented on #19547
@dsyme can you try this? https://github.com/dotnet/roslyn/pull/19561 to see whether this fix your issue?

[2017-05-16 19:12] #19212 closed

[2017-05-16 19:13] #18970 closed

[2017-05-16 19:26] myblindy commented on #19182
@binki it does reference variables from an outer scope inside the same function, but no lambdas further reference the local function. It's really tricky to reproduce and I haven't been able to outside the production code base.

By all means though, the cases you guys presented should absolutely be fixed too! For all I know fixing those will fix my issues too :)

[2017-05-16 19:46] heejaechang commented on #19484
sorry. the generator is not in yet. for now, if you want, you can add one manually along with the interfaces.

I am wondering whether what you are seeing is just timing issue or actual functional issue. when it happens again next time, can you close all opened documents, and only open the file that shows the error? and see whether it gets removed?

[2017-05-16 20:06] #19557 closed

[2017-05-16 20:19] twsouthwick opened #19565 "Change Signature crashes with long VB Sub"
**Version Used**:

VS 15.1 & 15.2

**Steps to Reproduce**:

[code]

Use 'Change signature' tool to move `plngHandle` to be the second parameter.

**Expected Behavior**:

Change signature works fine

**Actual Behavior**:

[code]

[2017-05-16 20:19] binki commented on #19182
@myblindy

To be nit-picky, do you use lambdas at all in the scope where the local function is? The lambdas don’t have to reference the function but rather some variable in the inner scope. E.g., a linq query referencing a variable in a condition/select expression, lambda passed to another method call?

It’d be great if you could build a more complete repro from your own code, then maybe we can se

[2017-05-16 20:24] dsyme commented on #19547
Yes it does, see https://github.com/Microsoft/visualfsharp/blob/ce473ddab307c1bbbf027207badf086e71a238ff/vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs#L25

[2017-05-16 20:27] heejaechang commented on #19547
@dsyme I didn't mean that as third party analyzer. for me, that is still 1st party analyzer.

[2017-05-16 20:28] dsyme commented on #19547
Ah I see.  Then correct - no 3rd party.

[2017-05-16 20:43] jmarolf commented on #19505
@mgravell What is the experience you want for:

1. Build/Compilation
2. Debugging
3. Browsing Generated Source

With code gen?  There are many other problems to solve but I don't understand which position you are taking.  Do you want something similar to roslyn generators or do have something else in mind?

[2017-05-16 21:20] svick opened #19568 "InvalidProgramException caused by when (false) exception filter"
**Version Used**: master

**Steps to Reproduce**:

[Try to run the following code](https://tryroslyn.azurewebsites.net/#b:master/f:%3Easmr/K4Zwlgdg5gBAygTxAFwKYFsDcBYAUHgYwBsBDEEGAYTwG88YGYAHYAIyLAJhROU5gBuAezAATGAFkSkABQBKeozq5GqmMgBOCRWpjLdu5AAsNQgO4wIqCwFEAHgVRM+QiPJwqDAXx1qCvAiMYMyNUCBgZADMSIhBUBU9dfW9fH1wvIA=):

[code]

**Expected Behavior**: Program crashes due to unhandled `Exception`.

**A

[2017-05-16 21:21] jaredpar commented on #15049
@gafter is this important for 15.3 or can we push off to 15.6?

[2017-05-16 21:24] #19517 closed

[2017-05-16 21:26] jaredpar commented on #17750
Thanks for reporting.  Looks like a dupe of https://github.com/dotnet/roslyn/pull/19281

[2017-05-16 21:26] #17750 closed

[2017-05-16 21:56] Korporal opened #19569 "Convert string to Func?"
This is more of a question than an issue, and is similar to these questions:

http://stackoverflow.com/questions/10655761/convert-string-into-func

How could one approach this today, with the current capabilities of roslyn?

[2017-05-16 22:06] sharwell opened #19570 "Use larger memory mapped files for temporary storage"
**Version Used**: 15.2

We can reduce the number of `MemoryMappedFile` instances getting disposed (a time-consuming process) by creating larger instances and using each memory mapped file as the storage for multiple temporary files. This will improve upon the performance gains already realized in #19522.

Currently files are created to match the specific size needed for each file in the solution.

[2017-05-16 22:34] svick commented on #19569
You can use Roslyn scripting. For example, using the code from the SO question:

[code]

This requires the `Microsoft.CodeAnalysis.CSharp.Scripting` package.

[2017-05-16 23:08] davkean opened #19572 "Guidelines annoyingly "move" with the caret modifying a type declaration"
Guidelines are moving with the caret when modifying a type declaration, which is a little annoying:

![lines](https://cloud.githubusercontent.com/assets/1103906/26131940/47e36106-3ae0-11e7-85c0-79cd621e179b.gif)

[2017-05-17 01:03] davkean opened #19574 "Naming suggestions should pluralize for collection types"
For example in the following, I'd want "GetEvaluationHandlers":

![image](https://cloud.githubusercontent.com/assets/1103906/26134225/6d6faa50-3af0-11e7-958a-e910ea31b929.png)

[2017-05-17 02:45] sharwell commented on #19568
Thank you for taking the time to report this. You are correct that this is a bug; it's a duplicate of #18678 which I've been watching recently. :smile:

[2017-05-17 02:45] #19568 closed

[2017-05-17 04:15] davkean opened #19575 "Attempting to resolve a using on certain generic declarations are favoring their non-generic equivalents"
[code]

**Expected:** To be only offered to resolve the generic version
**Actual:** Get both generic and non-generic:

![image](https://cloud.githubusercontent.com/assets/1103906/26138242/01732730-3b0b-11e7-987e-6062c469ce5d.png)

[2017-05-17 04:17] davkean commented on #19575
This is annoying because I usually blindly accept the first one if I know it's a type that exists.

[2017-05-17 04:19] davkean commented on #19575
I'm guessing this is due to the way that compiler parses this - as once I've added the using the rest of the ide thinks this this is `System.Collections.IEnumerable`  instead of `System.Collections.IEnumerable<string>`:
![image](https://cloud.githubusercontent.com/assets/1103906/26138332/cbb611c4-3b0b-11e7-9962-1769f5cb19e9.png)

[2017-05-17 04:41] davkean opened #19577 "Add a code fix for an unresolved name that adds a parameter"
I have the following:

[code]

For `evaluationHandlers` and `commandLineHandlers`, I can generate fields, properties and locals, but no option to generate parameters. It would be great if there was a way to do this.

![image](https://cloud.githubusercontent.com/assets/1103906/26138786/f2485e5c-3b0e-11e7-8066-af482c250fab.png)

[2017-05-17 06:07] mkrueger opened #19578 ""Rename" refactor does not work on tuple fields"
Got a bug report:
-----------
Refactoring of a tuple, does not update the tuple values:

[code]

Refactoring `rune` above to a new name does not update the code below.
-----------
My use case was:

[code]

Got an exception on rename:

[code]

[2017-05-17 06:11] fsacer commented on #19553
Added the null check.

[2017-05-17 06:17] PawelAndruszkiewicz commented on #19553
@Pilchie PR would require an approval from my employer and it would take some time.

@fsacer Thanks :)

[2017-05-17 08:10] ILAgent commented on #19554
Hi ! Unfortunatelly, I've not found appropriate events.  But it looks like https://github.com/dotnet/roslyn/issues/18674 and https://github.com/dotnet/roslyn/issues/17572 which were fixed in 15.3.
Waiting for update...

[2017-05-17 08:47] davidfowl opened #19583 "Add glyph for deprecated members in intellisense dropdown"
Today when you use a deprecated API the intellisense shows it as deprecated:

![image](https://cloud.githubusercontent.com/assets/95136/26145823/c2806cf8-3aa2-11e7-9267-9a1978c2ffbe.png)

It would be nice if we showed that the member was deprecated via a glyph in the intellisense dropdown.

[2017-05-17 09:10] davkean opened #19584 "ExtractMethodCodeRefactoringProvider crashes with System.InvalidOperationException : Unexpected false"
1. Highlight "evaluationRuleNames" below:

[code]

[code]

[2017-05-17 10:55] svick commented on #19568
@sharwell Thanks. I searched for `InvalidProgramException` and didn't find anything. Guess I should have been more thorough. 🙂

[2017-05-17 11:42] AlexanderTaeschner commented on #17183
For me the following is reproducible with Community 2017 Version 15.2 (26430.6) and the following settings:
Options > Text Editor > C# > Advanced > Select "Enable full solution analysis"
Options > Text Editor > C# > Code Style: Prefer 'var' for all three types; severity 'Suggestion'

1. Create new Project: Visual C# > Windows Classic Desktop > Console App (.NET Framework); .NET Framework 4.5.2
2.

[2017-05-17 12:18] sharwell commented on #19568
@svick It's fine. I'd rather see a duplicate than miss out on something. Plus we've had cases where someone included details in the duplicate (and yours is quite detailed here) which were essential to solving the bug.

[2017-05-17 12:20] sharwell commented on #19584
❓ In your example, isn't `builder` already an `ImmutableArray` (i.e., one you could return without calling `MoveToImmutable`)?

[2017-05-17 12:23] sharwell commented on #19577
❓ What happens for callers?

❓ What happens if the method overrides a base method?

❓ What happens if the method implements an interface method? Perhaps explicitly?

[2017-05-17 12:28] sharwell commented on #19578
💭 I see other past bugs related to renaming tuple elements, but none that I can claim is a duplicate of this. Seems the current status of this feature is it's known to not work and *supposed* to show a dialog telling you so, but seems you saw a crash instead.

[2017-05-17 12:53] sharwell commented on #19554
@ILAgent Thank you for taking a look. 😄

[2017-05-17 13:41] tmds opened #19586 "SyntaxGenerator: support generating tuples"
I haven't found how to generate tuples using the SyntaxGenerator. Is this supported?

[2017-05-17 14:35] SolderedMushroom commented on #19575
Definitely seems like a bug, since merely adding `new` before that makes Intellisense realize it's a generic.

[2017-05-17 14:50] myblindy commented on #19182
@binki

Yeah, that I do.

I'll try what you suggested, though my method right now has 1018 lines. It might take a while until I get something small enough to be useful.

[2017-05-17 14:56] Logerfo commented on #19404
@sharwell Well, I tried, but couldn't manage to do that. Should I expect anything from the IDE to be released? A migration tool or project creation with the lastest roslyn version?

[2017-05-17 14:58] Pilchie commented on #19554
Tagging @jcouv too - does this look like a dupe?

Also @ILAgent The first 15.3 build is in the preview channel now, which you can install side-by-side with the released version to give it a try and see.  Check out https://www.visualstudio.com/vs/preview/ for details.

[2017-05-17 15:02] Pilchie commented on #19415
@AArnott How do you feel about:

1. Posting the notes from our in-person meeting yesterday here for external people to see
2. Closing this issue, and we'll file individual issues for the problematic areas we identify as a result of that diagnostics we're planning on adding from that meeting

?

[2017-05-17 15:05] Pilchie commented on #19553
@PawelAndruszkiewicz Understood (but maybe start talking to your employer so you are all set next time 😉).

@fsacer Indeed, thanks - I'll review that now.

[2017-05-17 15:54] tom-dudley commented on #16535
I would also be keen on having this behaviour. We would like to be able to utilise the `Warning` severity level for analyzer rules but to have non-analyzer warnings (csc and msbuild warnings) treated as errors.

- Turning on `TreatWarningsAsErrors` means we can't try out new rules by giving them the `Warning` action since they will fail the build.
- Turning off `TreatWarningsAsErrors` means csc an

[2017-05-17 16:10] #19263 closed

[2017-05-17 16:32] Pilchie opened #19587 "Lightbulbs should work in Razor files"
Currently we have all of our lightbulbs disabled in cshtml/vbhtml files.  We should work with the web team to enable them.  Note that some of them (like "Add Using"), might need us to call special APIs to change the razor part of the page.

[2017-05-17 16:45] #19554 closed

[2017-05-17 16:49] Pilchie commented on #19572
@CyrusNajmabadi Is this an issue on the Roslyn side, or the platform?  Tracking spans have the wrong trackingmode?

[2017-05-17 16:50] Pilchie commented on #19574
Dupe of https://github.com/dotnet/roslyn/issues/17987

[2017-05-17 16:50] #19574 closed

[2017-05-17 16:51] Pilchie commented on #19575
Want to see if we can do something better here too?

[2017-05-17 16:52] Pilchie commented on #19577
When we used to have "Promote Local", it would require an initialized local, and it would update callers to pass the initialized value (even though it might introduce errors in those locations).

[2017-05-17 16:55] Pilchie commented on #19578
@jcouv or @dpoeschl do you know the expected current state here?

[2017-05-17 16:56] Pilchie commented on #19583
Tagging @kuhlenh and @markw-t.  I wonder if we could re-use the warning glyph for when something isn't available in all heads here (potentially with a different glyph).

[2017-05-17 16:57] Pilchie commented on #19584
@davkean You filed this two weeks ago :)

Dupe of https://github.com/dotnet/roslyn/issues/19136

[2017-05-17 16:58] kuhlenh commented on #19583
@Pilchie @markw-t -- yes! Ideally, we can nicely group our intellisense glyph changes together (different glyph for the smart variable name suggestions).

[2017-05-17 16:59] Pilchie commented on #19586
@CyrusNajmabadi is this possible already?

[2017-05-17 17:01] jcouv commented on #19578
Two things:
- `var j = (int rune, int value);` is not valid code. Was that produced by the refactoring, or was that code you tried to refactor?
- renaming tuple element names is currently blocked (see https://github.com/dotnet/roslyn/issues/14115)

[2017-05-17 17:01] #19584 closed

[2017-05-17 17:31] gafter commented on #18948
This is not reproducible in master. Adding a regression test.

[2017-05-17 17:31] markw-t commented on #19583
I seem to recall that something similar was proposed for shared project cases. Seems a good idea to make the icon show the deprecation too, I agree.

[2017-05-17 18:28] myblindy commented on #19182
@binki Ok I managed to create a short repro of another instance of the error. The initial instance I mentioned is impossible, too much code.

The project file is here: https://1drv.ms/u/s!AuW49h7benqig68vpKe1of3KG87x7w (Microsoft OneDrive link, dropbox is blocked at work). It's short enough to just paste below, just make sure you add the `CsvHelper` and `System.ValueTuple` Nuget packages:

[code]

[2017-05-17 18:31] srivatsn commented on #19547
As part of this can we also fix https://github.com/dotnet/roslyn/blob/38afa69825db300e58aa6416dbb2c14ab340da7f/src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProjectFactory.cs#L76

We seem to have hacked in an extra overload for F# instead of the original one working for F# as well.

[2017-05-17 18:36] srivatsn commented on #19547
Because of this the F# CPS projectsystem passes in null for the ProjectExternalErrorReporter today - https://github.com/dotnet/project-system/blob/360a009390105ad50695ae595ddb62dbd56b87b3/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/LanguageServices/UnconfiguredProjectContextProvider.cs#L278

[2017-05-17 19:07] CyrusNajmabadi commented on #19575
This is likely fixed with the work i've already done.

@SolderedMushroom this is because this scenario is highly ambiguous (it could be a type or an expression) the presence or absence of certain tokens helps the compiler 'lock on' to the more appropriate interpretation.  Note, any changes here may potentially regress behavior in other scenarios as the user *may* actually want to be typing an expr

[2017-05-17 19:08] CyrusNajmabadi commented on #19575
Possible dupe of: https://github.com/dotnet/roslyn/pull/19467

[2017-05-17 19:09] AArnott commented on #19415
Sure:

**Meeting minutes**
In attendance: @Pilchie, @sharwell, @jasonmalinowski, @CyrusNajmabadi, @BertanAygun, @aarnott

* There are no known cases of UI delays that come from Roslyn flooding the threadpool queue, although identifying such would be very difficult given our tooling limitations today.
* Roslyn team believes there are several places in their code that may introduce unbounded threadp

[2017-05-17 19:09] #19415 closed

[2017-05-17 19:09] CyrusNajmabadi commented on #19586
A tuple type, or a tuple expression?  The former may be possible with SyntaxGenerator.TypeExpression.  The latter is likely not possible.

PRs welcome.

[2017-05-17 19:23] gafter commented on #19372
@redknightlois One could make exactly the same argument because local variables do not support attributes but fields do.

[Our spec for local functions](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.0/local-functions.md) simply does not include attributes in the syntax. Whether it should or should not be that way would be a discussion worth taking to the [`csharplang`](https:

[2017-05-17 19:23] genlu opened #19591 "Consider doing constant folding for default parameter value conversion"
See this comment for context: https://github.com/dotnet/roslyn/pull/19237#discussion_r116844901

[2017-05-17 19:39] jaredpar opened #19592 "Remove pdb path feature flag"
This work item tracks the removal of the feature flag `pdb-path-determinism`.  This feature flag was a place holder for having a long term solution around the embedded pdb path be deterministic across different soucre enlistments.  This can now be achieved with the `/pathmap` option and hence the feature flag should be removed.

Deferring removal until a major release to avoid breaking any depende

[2017-05-17 20:02] CyrusNajmabadi commented on #19572
Tagging @gundermanc

[2017-05-17 20:03] tmds commented on #19586
@CyrusNajmabadi How can a tuple type be generated using TypeExpression?

[2017-05-17 20:04] CyrusNajmabadi commented on #19586
Probably can't be.  Feel free to submit a PR to make this possible.  If you do, please include VB as well.  Thanks!

in the meantime, you can just use SyntaxFactory.XXX instead.

[2017-05-17 20:05] #15677 closed

[2017-05-17 20:05] mavasani commented on #15677
Enabled with https://github.com/dotnet/roslyn-internal/pull/1841

[2017-05-17 20:05] mavasani commented on #15681
Enabled with https://github.com/dotnet/roslyn-internal/pull/1841

[2017-05-17 20:05] #15681 closed

[2017-05-17 20:05] mavasani commented on #15682
Enabled with https://github.com/dotnet/roslyn-internal/pull/1841

[2017-05-17 20:06] #15682 closed

[2017-05-17 20:06] mavasani commented on #18900
@rchande Is this done? Can you checkin the document into our repo and close the issue?

[2017-05-17 20:09] redknightlois commented on #19372
Makes sense.

[2017-05-17 20:40] binki commented on #19182
Thanks! I’ve managed to pare it down (by removing custom classes) to:

[code]

I think (but don’t know enough to prove) that the underlying cause is the same, something with the nested scopes and the compiler doing optimized `ref struct` style captures versus lambda object captures. All of these repros require a lambda capturing a variable in the inner block and a local method accessing two variab

[2017-05-17 21:17] heejaechang commented on #19547
@srivatsn which one are you talking to? and can you be more specific on what you want?

[2017-05-17 21:32] #19175 closed

[2017-05-17 21:37] binki commented on #19033
The repro can be made more minimal:

[code]

I think this is the same as #19182 as the pared down repro exhibits the same features: lambda accessing inner scope of a block (`B` is in inner scope of the `{}`), local method referencing variables outside of the enclosing block (`n`) and variables inside the block (`B` via lambda?).

[2017-05-17 21:53] CyrusNajmabadi opened #19597 "Building during project load seems to wait until the entire project loads before building."
A common pattern for me is to open VS, go to a project, right-click, and say "build".  Previously, this would start the build for that project immediately.  Now it waits for my entire project to load.  As loading projects now takes minutes, this slows me down enormously.

This is a regression from RTM.

[2017-05-17 22:15] binki commented on #18814
I can reduce the repro to

[code]

and it looks a lot like #19182 .

[2017-05-17 22:18] #18844 closed

[2017-05-17 22:29] davkean commented on #19577
TBH, I don't mind if it introduces broken code - and then I'll individual go and modify the callers.

[2017-05-17 22:35] davkean commented on #19584
@Pilchie Hmm, forgot about that - the repro is slightly different though.

@sharwell I was rewriting the method and hadn't finished - that array used to be a builder.

[2017-05-17 22:37] davkean commented on #19597
Should you file this against project-system? By wait for the entire project to load, do you mean "wait for the entire solution to load?"

[2017-05-17 22:38] CyrusNajmabadi commented on #19597
Yes.

Who owns building? Is it the project system?

[2017-05-17 22:39] davkean commented on #19597
Yes, we own it. I'll move it.

[2017-05-17 22:40] davkean commented on #19597
This issue was moved to dotnet/project-system#2210

[2017-05-17 22:40] #19597 closed

[2017-05-17 22:56] CyrusNajmabadi commented on #19530
Assigning to Ravi.  The port from the previous test seems to have made this flakey.

[2017-05-17 22:56] jcouv opened #19600 "Suggestion: analyzer for catching parameter name changes in overrides"
[code]

As we discussed today in LDM, the language allows it, but except for some rare cases (names which cannot be spoken in C#, from PE produced by other languages), users generally expect the names to match.
Sounds like the job for an analyzer.

@CyrusNajmabadi FYI

[2017-05-17 22:57] heejaechang commented on #18522
@Pilchie is dump gone or lab is down?

[2017-05-17 22:59] mavasani commented on #18522
@heejaechang - I can repro the high memory usage consistently by trying it locally. With Roslyn.sln loaded, just switch branches between master and VS2017 tag for one or two times and the ensure you reload the solution in VS when prompted. The memory usage reaches close to 2 GB very quickly.

[2017-05-17 23:02] #13482 closed

[2017-05-17 23:21] CyrusNajmabadi opened #19601 "We should have a CodeStyle setting that recommends "is null" instead of "ReferenceEquals(..., null)""

[2017-05-17 23:24] sharwell commented on #19601
:question: Should it apply to `x == null` as well?

[2017-05-17 23:25] CyrusNajmabadi commented on #19601
Don't think so.  That seems nice and succint.

[2017-05-17 23:27] CyrusNajmabadi opened #19602 "Well known extensions should likely not camel-case match in Nav to."
If i write a filename like "MockSymWriter.cs" in NavigateTo, we likely should not be trying to match "cs" against symbols in the MockSymWriter type.

[2017-05-17 23:29] sharwell commented on #19600
Related issues:

* DotNetAnalyzers/StyleCopAnalyzers#2015
* dotnet/roslyn-analyzers#911
* DotNetAnalyzers/StyleCopAnalyzers#1949

**tl;dr:** This was proposed (@sharwell) and implemented (@pdelvo) for StyleCop Analyzers, and then one of our other developers (@vweijsters) implemented the equivalent rule CA1725 for roslyn-analyzers and it's already merged.

[2017-05-17 23:29] #19600 closed

[2017-05-17 23:33] jcouv commented on #19600
Thanks 👍

[2017-05-17 23:38] CyrusNajmabadi commented on #19530
Looking at the code, it's definitely a race condition in the test.  The test invokes:

            VisualStudio.Editor.InvokeNavigateTo("FirstMethod");

This calls to invoke 'go to', and then types, and then waits for the async tasks of Roslyn's navto implementation to complete.  However, there's nothing htat ensures that the async tasks of Roslyn's navto implementation have even started.  i.e. th

[2017-05-17 23:38] genlu opened #19603 "Clean up bound nodes modified for IOperation purpose"
We have modified C# `BoundCall`,  `BoundObjectCreationExpression` and `BoundIndexerAccess` to provide necessary data for deriving argument operations. We should try to clean this up once moved to @heejaechang's operation factory model.

[2017-05-17 23:44] CyrusNajmabadi opened #19604 "OOM with memory mapped files"
[code]

[2017-05-17 23:45] CyrusNajmabadi commented on #19604
I have a dump, but the site outages are making it hard to upload.

[2017-05-17 23:46] gafter opened #19605 "Insert platform type CallerArgumentExpressionAttribute"
Please work with the BCL teams to proactively insert `CallerArgumentExpressionAttribute` into the appropriate libraries so that we can have the *[caller argument expression](https://github.com/dotnet/csharplang/issues/287)* feature light up as soon as we are able to implement it.

[2017-05-17 23:47] sharwell commented on #19604
:arrow_right: `MemoryMappedInfo.CreateWritableStream` needs to be updated to handle this `IOException` in the same way `CreateReadableStream` handles it.

[2017-05-17 23:54] heejaechang commented on #18522
@mavasani thank you. I am looking.

[2017-05-18 00:27] CyrusNajmabadi opened #19608 "Crash in WPF in VS"
[code]

[2017-05-18 00:28] CyrusNajmabadi commented on #19608
Have dump file.  Will upload when infrastructure comes back up.

[2017-05-18 00:59] VSadov opened #19609 "Array element assignment behaves differently depending if the RHS is awaited or not"
if the RHS is awaited we throw IndexOutOfRange _before_ evaluating the RHS,
if the RHS is not awaited we throw IndexOutOfRange _after_ evaluating the RHS,

The difference is subtle and I wonder if it is expected.

Repro:

The following outputs:
[code]

[code]

[2017-05-18 01:21] jinujoseph commented on #19344
closed via #19406

[2017-05-18 01:21] #19344 closed

[2017-05-18 03:01] jcouv opened #19610 "Update LangVersion for Roslyn VB projects to 15.3 or 15.5"
When I tried, the Ubuntu CI builds failed with: `error BC2014: the value '15.3' is invalid for option 'langversion' `
This suggests that the .NET Core build may not be using the package specified by `MicrosoftNetCompilersnetcoreVersion`.

FYI @agocke

[2017-05-18 03:18] sharwell commented on #19601
Some people may prefer `x is null` over `x == null` since it's a teeny bit faster in the case where the static type of `x` provides a custom `operator ==`.

[2017-05-18 03:41] analogrelay opened #19611 "Generate Constructor code fix copies attributes, even those inaccessible in the derived class"
**Version Used**:
[code]

**Steps to Reproduce**:

1. Create a new C# project (any kind)
2. Add a new class
3. Insert the following code

[code]

4. Ctrl-. on the `Base` symbol in the line containing `public class Derived : Base`
5. Select `Generate constructor 'Dervied(foo)'.`

**Expected Behavior**: The constructor is generated successfully, without the `[Bar]` attribute and no errors are introd

[2017-05-18 05:02] eriawan commented on #17009
Hmm... strange. On VS 2015 U3, works fine.

I'll try to dive deeper on VS 2017 Workflow. I'm using VS 2017.2.

[2017-05-18 05:18] JosefPihrt opened #19612 "Proposal: Select parameter in "Change signature" dialog based on cursor position."
I would propose to preselect parameter in "Change signature" dialog based on cursor position in text editor. This would allow to faster remove/reorder parameters.

[2017-05-18 05:22] eriawan commented on #17009
@jasonmalinowski , the branch that you described doesn't exist anymore.

Could you help me to give more info on which branch that has this link (quoted above) that you have provided?

[2017-05-18 05:24] josefpihrt opened #19613 "Refactoring "Move type to ..." breaks preprocessor directives"
**Version Used**: Visual Studio 2017 15.2.0+26430.6

**Code to Reproduce**:
[code]
**Actual Behavior**:
[code]

[2017-05-18 07:21] davidfowl opened #19616 "Compiler error message CS1983 should describe that the type isn't TaskLike instead of saying it's not Task or Task<T>"
**Version Used**:

C# 7

**Steps to Reproduce**:

[code]

**Expected Behavior**:

An error describing why `MyTaskLike` isn't being detected as returnable from an async method. E.g.

Couldn't find `MyTaskLike.CreateAsyncMethodBuilder`.

**Actual Behavior**:

The return type of an async method must be void, Task or Task<T>

PS: `ValueTask<T>` also works.

[2017-05-18 07:34] davidfowl commented on #19616
Stack overflow to the rescue http://stackoverflow.com/questions/42721979/in-c7-how-can-i-roll-my-own-task-like-type-to-use-with-async

[2017-05-18 08:13] TKilFree opened #19617 "C# compiler should not crash on discards in expressions"
**Version Used**:  C# 7.0

**Steps to Reproduce**:

1. Try to compile the following:
[code]

**Expected Behavior**:
The above code should presumably be roughly equivalent to:

[code]
which compiles fine.

**Actual Behavior**:

The compiler crashes with the following message:
"Microsoft.CSharp.Core.targets(71, 5): [MSB6006] "csc.exe" exited with code -2146232797."

[2017-05-18 08:48] Rcomian commented on #19617
Can confirm this crashes for me too:

[2017-05-18 12:17] eriawan commented on #17009
Hi @jasonmalinowski ,

In VS 2015 Update 3, the workflow works:

![image](https://cloud.githubusercontent.com/assets/8773147/26195119/eab49364-3be4-11e7-81ea-f817d0ecfc4f.png)

Unfortunately, if I use microsite branch, VS 2015 is broken. I got this exception:

![image](https://cloud.githubusercontent.com/assets/8773147/26201562/d2036e94-3bfd-11e7-8684-d11c16b56e02.png)

This is the stack trace:

[

[2017-05-18 12:40] MaStr11 commented on #18978
I would like to fix this. I started my work [here](https://github.com/MaStr11/roslyn/commit/5d36b856f8f1c872f988bed0b29c4113599de316). (The only change by now was the removal of [this check](https://github.com/MaStr11/roslyn/commit/5d36b856f8f1c872f988bed0b29c4113599de316#diff-6f8f267309a989ee1a5a92a703afe42bL164). All the other differences are caused by the changed indentation.) I also added a te

[2017-05-18 12:42] eriawan commented on #17009
@jasonmalinowski after further debugging, I found these facts:

- The document object above (in my previous post) will always be null because the workspace (screenshot below) will always returns null.
- the object that return the workspaceregistration fails to get the workspace, although looking at the key value of `s_bufferToWorkspaceRegistrationMap` has this list of key-value pair, and only one

[2017-05-18 12:47] sharwell commented on #18978
@MaStr11 Go ahead and submit a pull request when you get to a point you think it's complete. 👍

[2017-05-18 12:52] GerjanOnline opened #19618 "Relation between ruleset, editorconfig rules and VS Code Style"
Can somebody explain me what the vision/direction is regarding rulesets, editorconfig rules and VS Code Styles for C# projects?

1. Rulesets
![image](https://cloud.githubusercontent.com/assets/1153419/26202738/ce18470c-3bd8-11e7-849c-4094b2abadb7.png)

2. Editor config
![image](https://cloud.githubusercontent.com/assets/1153419/26202656/80168c6c-3bd8-11e7-84c7-db3a18e37243.png)

3. VS Code Style
!

[2017-05-18 13:37] sharwell commented on #19618
The information I'm adding here is based on the designs we're planning to implement, but some items may not be working *right now*. It is also subject to change based on user feedback / problems / etc.

They basically don't, since none of the three can directly reference the existence of any other of the three.

For any given setting, it is taken from the first of the following in which it is avai

[2017-05-18 13:43] sharwell commented on #19611
💭 Interesting. The biggest place where I've found copying attributes valuable is things like `[Nullable]` or `[NotNull]`. Accessibility does seem to be a reasonable limiting item for this functionality.

We've been treating cases like this as bugs and working to fix them (small things matter too 🙂). If you file a separate issue, it's likely this will get resolved in a shorter amount of time 👍

[2017-05-18 13:48] winifix commented on #18669
Same issue ETA on Fix?

[2017-05-18 13:55] sharwell commented on #19616
@davidfowl See also [Async Task Types in C#](https://github.com/dotnet/roslyn/blob/master/docs/features/task-types.md).

[2017-05-18 13:58] sharwell commented on #19616
💭 It's a bit hard to decide how I think this should go because of competing goals:

* The current messaging is simpler, and since `Task`/`Task<T>` are still the most generally-applicable types for applications to use, the current message is probably the shortest path to the right solution for almost all users.
* The current messaging does not help users who *do* want to use alternative types, and

[2017-05-18 14:00] sharwell commented on #19613
:memo: We had to deal with this for StyleCop Analyzers, and believe we found a rather clever solution in the end.

[2017-05-18 14:09] sharwell commented on #19602
Is this causing a specific problem? My concern here is it sounds like you may be trying to fix a *selection* bug by changing the way *filtering* works.

[2017-05-18 14:51] #10428 closed

[2017-05-18 15:09] whoisj commented on #18669
https://developercommunity.visualstudio.com/content/problem/51581/solution-explorer-does-not-remain-pinned-after-clo.html

[2017-05-18 15:59] Pilchie commented on #19618
Tagging @kuhlenh too.

[2017-05-18 16:52] cston opened #19622 "Replace ConversionsBase.IsValidExtensionMethodThisArgConversion with an assert"
`ConversionsBase.IsValidExtensionMethodThisArgConversion` should be unnecessary since `ClassifyImplicitExtensionMethodThisArgConversion` should only return valid conversions.

Consider replacing `IsValidExtensionMethodThisArgConversion` with an assert.

[2017-05-18 16:56] Pilchie commented on #19608
Is this happening when you're debugging?  What happens if you disable the options around XAML debugging at Tools\Options\Debugger\General:

![image](https://cloud.githubusercontent.com/assets/312835/26214188/4ee8170a-3bb0-11e7-859e-125b4fa72af3.png)

[2017-05-18 17:15] #19369 closed

[2017-05-18 17:25] #18273 closed

[2017-05-18 17:36] jaredpar commented on #19556
Fixed by this PR

https://github.com/dotnet/roslyn/pull/19593

[2017-05-18 17:37] jaredpar commented on #19245
Sholud be fixed by this PR

https://github.com/dotnet/roslyn/pull/19593

[2017-05-18 17:37] #19245 closed

[2017-05-18 17:40] davidfowl commented on #19616
Fair point but the compiler is inconsistent here. Take for example awating something arbitrary:

[code]

[2017-05-18 17:49] Pilchie commented on #19611
I believe we have the same issue with Implement interface/Abstract base class too.

[2017-05-18 17:51] Pilchie commented on #19611
Also, I think the presence of `Attribute` is because simplification fails because we fail to bind with no errors.  In other words, I'm not sure it's an issue for attributes that *are* accessible.

[2017-05-18 17:52] Spongman opened #19625 "cannot watch Object IDs in the watch window"
1. debug
2. add a watch
3. make an "Object Id" for the watch
4. add a watch for "$9" to the watch window => "Error CS0103: The name '$9' does not exist...", great.
5. add a watch for "$1" to the watch window => "**Internal error in the expression evaluator**"

[code]

[2017-05-18 17:54] Pilchie commented on #19612
That sounds like a nice little tweak.  Care to submit a PR for it?

[2017-05-18 17:54] #18549 closed

[2017-05-18 17:54] #8566 closed

[2017-05-18 17:54] #7960 closed

[2017-05-18 17:55] #8813 closed

[2017-05-18 17:55] #8786 closed

[2017-05-18 18:00] genlu commented on #19371
Yes, the changes in IOperation branch will ship after next VS update, and this fix will be part of that.

[2017-05-18 18:01] jinujoseph commented on #19382
Closed via #19237

[2017-05-18 18:01] #19382 closed

[2017-05-18 18:06] srivatsn opened #19626 "LastDesignTimeBuildSucceeded=false causes errors to shutdown for all but open files"
Project system set LastDesignTimeBuildSucceeded=false when designtime build fails to let the LS know that the information that LS has is incomplete. In that case we shutoff reporting errors because they are likely wrong but we don't do that for open files.

After some internal discussion, this is the proposal:

If LastDesignTimeBuildSucceeded=false then

1.	We still get syntax errors from the comp

[2017-05-18 18:13] VSadov commented on #19182
The issue described looks the same as in https://github.com/dotnet/roslyn/issues/16895
It seems to be fixed in master branch and will be included in the next release/update of the compiler.

It is indeed related to a combination of lambda capturing and locals function.

One easy way to confirm whether the issue is fixed is via trying your sample on the  "TryRoslyn" website:

https://sharplab.io/

[2017-05-18 18:13] #19182 closed

[2017-05-18 18:25] Pilchie commented on #19613
This was fixed already for 15.3 (I think by https://github.com/dotnet/roslyn/pull/16300 - @CyrusNajmabadi does that look right), though it leaves the `#region` and removes it's indentation, which could be better.

[2017-05-18 18:26] Pilchie commented on #19613
@sharwell That's actually how this is implemented as well :)

[2017-05-18 18:31] gafter commented on #18678
Fixed in #19294

[2017-05-18 18:31] #18678 closed

[2017-05-18 18:46] jinujoseph commented on #9177
Design discussion here  https://github.com/dotnet/roslyn/issues/18818

[2017-05-18 18:50] anurse commented on #19611
If we agree that suppressing attributes that aren't accessible in the derived class is sufficient, I think I'm willing to send a PR. I've spiked it out and it's not too deep in the system :).

[2017-05-18 18:54] jinujoseph commented on #18593
refer https://github.com/dotnet/roslyn/pull/19019

[2017-05-18 18:55] anurse commented on #19611
My initial (tested manually but no automated tests) inexperienced attempt at fixing the problem: https://github.com/dotnet/roslyn/compare/master...anurse:anurse/19611-inaccessible-attribute-in-constructor-param

[2017-05-18 18:57] AlekseyTs commented on #19382
@jcouv FYI

[2017-05-18 18:59] jinujoseph commented on #7969
closed via #19237

[2017-05-18 18:59] #7969 closed

[2017-05-18 19:01] heejaechang commented on #18593
I added explicit FailFast rather than Contract.False to get better dump. try use latest drop and let me know if it happens again. for now. not enough info to know why that situation has happened.

[2017-05-18 19:09] #9813 closed

[2017-05-18 19:19] jcouv commented on #19556
The root cause is still not understood. We should leave the unittests to have strong assumption that CommitHash should be there. If CommitHash is missing, there is a problem with our build system or IDE build.
Re-opening.

[2017-05-18 19:31] cston opened #19627 "Invalid Expression tree with tuple conversion"
[code]
Expected: Compile error:
[code]
Actual: Runtime error
[code]

[2017-05-18 19:33] jcouv commented on #19627
FYI @VSadov

[2017-05-18 19:45] sharwell commented on #19626
@srivatsn I am on board with this proposal too. I'd like to provide specific guidance for analyzer authors related to this:

1. What is the fastest way to tell if a `SyntaxTree` (or `SyntaxNode`) has syntax errors? (Make it easy to fail fast for analyzers that don't want to support error scenarios)
2. What is the fastest way to tell if a `SyntaxTree` (or `SyntaxNode`) has semantic errors from the

[2017-05-18 19:51] CyrusNajmabadi commented on #19601
But if you have a custom ```operator==``` we do not want to change your code.  Because that would be changing semantics :)     This would definitely be important for types that return 'true' for ```==null``` in their operator, but which would return false if you used ```is null```

[2017-05-18 19:56] jaredpar commented on #19556
Turns out I was just getting lucky on my box :(

[2017-05-18 19:57] jcouv commented on #19382
Thanks! 👍

[2017-05-18 20:02] Korporal commented on #16733
Can anyone tell me - which repo should I discuss this in, its been closed in two places:
https://github.com/dotnet/core/issues/469

Is this Roslyn repo - the ideal and best place??

[2017-05-18 20:04] CyrusNajmabadi commented on #19608
This happens just while i'm using the product.

[2017-05-18 20:05] Korporal opened #19628 "Reflection - Lexical Ordering"
Hi

I'd like to reopen this issue please:

https://github.com/dotnet/roslyn/issues/16733

It became closed I think over growing confusion as to whether this was a compiler or CLR issue.

Thx

[2017-05-18 20:05] Pilchie commented on #19608
Regardless, this needs to be filed internally, as it's not a Roslyn issue, so we can't route it appropriately here.

[2017-05-18 20:06] CyrusNajmabadi commented on #19602
Yes.  It's causing poor results to show up in the UI.  I would prefer to not present them as they just end up being confusing, and it means it's something the user has to sidestep while the proper results come in.

[2017-05-18 20:10] Pilchie commented on #19611
Looks reasonable to me - care toturn it into a PR and add a test?

[2017-05-18 20:10] CyrusNajmabadi opened #19629 "'Live analyzers' check crashses."
[code]

[2017-05-18 20:11] CyrusNajmabadi commented on #19629
Tagging @333fred @jinujoseph

[2017-05-18 20:13] mavasani opened #19630 "IOperation tree shape for empty string interpolation"
See https://github.com/dotnet/roslyn/pull/19590#pullrequestreview-39039200

Test `InterpolatedStringExpression_Empty` generates an Interpolation String Expression Operation with no parts. It should probably have one part.

[2017-05-18 20:17] CyrusNajmabadi commented on #19608
I don't know where i would file this internally.  Can you advise?

[2017-05-18 20:19] heejaechang commented on #18522
found 2 issues.

1. Solution is leaking through NavigateTo. it doesn't happen all the time, but looks like sometime happens, but couldn't find exact repro which cause this to happen.

dump is here \\hechang7\public and here is gcroot. @amadeusw is taking a look.

037c13e0 (pinned handle)
    -> 04af1468 System.Object[]
    -> 03cbd290 System.Collections.Generic.Dictionary`2[[System.Reflection.Asse

[2017-05-18 20:19] CyrusNajmabadi commented on #19611
Note: we don't generally do this sort of filtering because it's not clear what your end intent is.  For example, you may be generating into a location where the type does not exist, or where the type is nto accessible.  But perhaps when that happens your preference will be to then reference the type in some way, or make it accessible enough in the destination location.

I've done this myself many

[2017-05-18 20:22] heejaechang commented on #18522
for roslyn.sln, each reload cause about 200MB leak.

[2017-05-18 20:22] mavasani commented on #18522
Tagging @srivatsn @lifengl for the CPS leak.

[2017-05-18 20:22] Pilchie commented on #19611
@CyrusNajmabadi that's fair if the original type is from source, but if it's a metadata reference, I think it's safe to assume that the user doesn't have the ability to access it.

[2017-05-18 20:23] heejaechang commented on #18522
I believe @tmeschter is already tracking CPS leak. @tmeschter can you let me know the bug number so that I can dup it to the bug?

[2017-05-18 20:27] CyrusNajmabadi commented on #19611
Well, the example was from source :)

If this was metadata then i think i woudl be ok with the filtering.  Note (for @anurse) a VB type used from C# will appear as metadata by defualt (and vice versa).  But we have helpers to determine if the type is actually from source or not.  You can use SymbolFinder.FindSourceDefinitionAsync

[2017-05-18 20:29] mavasani commented on #19629
I think this is blocking the VSI queue, marking urgency now.

[2017-05-18 20:29] CyrusNajmabadi commented on #19629
Fred is out.  I will disable this codepath for now.

[2017-05-18 20:30] jinujoseph commented on #19629
@heejaechang is looking in the meanwhile

[2017-05-18 20:30] CyrusNajmabadi commented on #19608
I meant: where in that repo.  I don't know where to file bugs that i don't know hte area path for.

[2017-05-18 20:38] CyrusNajmabadi commented on #19629
Oh.  I have a fix available now to unblock people.  It disables the feature currently.  I'd like us to send that in while Heejae can work on a proper fix.

Heejae, we likely just need to make the options persistence layer 'long' or 'DateTime' aware.

[2017-05-18 20:52] CyrusNajmabadi commented on #19613
Yeah.  This was fixed.  But clearly the fix could use some work.  If anyone wants to fix up the formatting, that would be totally great.

[2017-05-18 20:52] heejaechang commented on #18522
adding @olegtk analysis for issue 1

...
I quickly looked if it’s related to my recent changes, but not, this is an older issue. Seems like a leak indeed though.
My theory is that NavigateToListBox subscribes to NavigateToAutomationFocusManager (which is a dependency property of NavigateToWindow), but doesn’t unsubscribe in some scenarios. That keeps NavigateToListBox (and Roslyn objects) alive.
N

[2017-05-18 21:19] heejaechang commented on #19547
@dsyme I need some kind of confirmation the fix I made is what you want. otherwise, can't checkin.

[2017-05-18 21:21] heejaechang commented on #18697
should be fixed with https://github.com/dotnet/roslyn/pull/19311

[2017-05-18 21:21] heejaechang commented on #19410
should be fixed with https://github.com/dotnet/roslyn/pull/19311

[2017-05-18 21:21] #19410 closed

[2017-05-18 21:22] heejaechang commented on #18522
dupe of https://github.com/dotnet/roslyn/issues/18522

[2017-05-18 21:26] heejaechang commented on #18522
@Pilchie @olegtk @tmeschter who should I give bug to? Oleg or tom?

[2017-05-18 21:29] olegtk commented on #18522
That strongly looks like a platform bug so route it to the editor team.

[2017-05-18 21:39] heejaechang commented on #18522
opened vso bug - https://devdiv.visualstudio.com/DevDiv/_workitems/edit/437875

[2017-05-18 21:40] heejaechang commented on #18522
now we have 2 separate bugs to track 2 issues found. closing this bug.

[2017-05-18 21:40] #18522 closed

[2017-05-18 21:50] CyrusNajmabadi commented on #19608
Closing in favor of https://devdiv.visualstudio.com/DevDiv/_workitems?id=437889&fullScreen=false&_a=edit

[2017-05-18 21:50] #19608 closed

[2017-05-18 21:51] gundermanc commented on #19572
This looks like it might be an editor side issue. I'll take a look.

[2017-05-18 21:53] CyrusNajmabadi commented on #19572
Thanks!   I don't think Roslyn has anything involved here.  We just give the raw spans.  We don't do anything with tracking spans ourselves afaict.

[2017-05-18 22:04] #19629 closed

[2017-05-18 22:05] davkean commented on #18593
I think I have  a dump of this. I run into this a couple of times a week.

Sent from my Windows 10 phone

From: Heejae Chang<mailto:notifications@github.com>
Sent: Friday, May 19, 2017 5:02 AM
To: dotnet/roslyn<mailto:roslyn@noreply.github.com>
Cc: David Kean<mailto:David.Kean@microsoft.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [dotnet/roslyn] Visual Studio crashed in Incremental

[2017-05-18 22:16] heejaechang commented on #18593
@davkean nice, can you give me the dump?

[2017-05-18 22:31] VSadov opened #19635 "VS crashes in UpdateReferenceAsync after 5-10 min of use when VSIX from a readonly-ref branch is installed"
After I have installed a recently built VSIX from readonly-ref branch, VS is nearly unusable.  I have about 5-10 min to do work before VS crashes with ThrowIfTrue.

To repro -
1) install VSIX from
https://dotnet.myget.org/feed/roslyn/package/vsix/0b48e25b-9903-4d8b-ad39-d4cca196e3c7/2.3.0.6171701
2) open Roslyn.sln
3) wait for solution load. it varies, but could take a bit of time.
4) after soluti

[2017-05-18 22:34] alrz commented on #19628
It's not closed? and you literally opened an issue to open another issue? so meta.

[2017-05-18 22:38] Pilchie commented on #19635
@CyrusNajmabadi fixed this in `master` on Tuesday.

[2017-05-18 22:45] #15704 closed

[2017-05-18 22:46] VSadov commented on #19635
@Pilchie - is there a workaround?  I have tried disabling solution crawler, other features,... it only delays the crash :-/

[2017-05-18 22:47] Pilchie commented on #19635
merge master into your branch?

[2017-05-18 22:48] davkean commented on #18593
@heejaechang Before I do that (it takes me an entire day to upload to internet speed) - will a dump with the existing code (without a FailFast) be good enough?

[2017-05-18 22:50] heejaechang commented on #18593
no. that already lost context. I need a dump at the location where it is happening.

[2017-05-18 22:59] heejaechang commented on #19626
analyzer author can't access the flag. they just need to make their analyzers works with error cases.

[2017-05-18 23:01] CyrusNajmabadi commented on #19626
How does the user know that they're in this state?  Note: i mean the user using VS.  Not the person authoring an analyzer/fix.

[2017-05-18 23:08] heejaechang commented on #19626
they get some kind of errors in error list. I dont believe they get errors for all cases though.

[2017-05-18 23:10] CyrusNajmabadi commented on #19626
Any time we change behavior, but give no user visible indication, then that is effectively a bug.  As far as the user will be concerned, their IDE will not be working an they won't know why.  We'll get bug reports (as we have numerous examples of) and it will be enormously difficult to root cause what is actually happening.

We already made that mistake once.  Please, if you're going to change any

[2017-05-18 23:12] heejaechang commented on #19626
@srivatsn I guess it is your call. I prepared PR that does what you guys are asking.

[2017-05-18 23:15] CyrusNajmabadi commented on #19626
For some perspective: the last time we did this, it took 13 months between the introduction of the 'fix' and our discovery that it was the issue that was leading to so many people reporting that 'fix all' was not working.  Silent behavior change not only can hurt users, but it absolutely negatively affects our own ability to diagnose and address real problems that are hitting customers.

[2017-05-18 23:17] #18459 closed

[2017-05-18 23:27] CyrusNajmabadi commented on #19626
Was there a meeting/discussion about this?  Can i get any notes or info on this?  As this affects IDE scenarios, i'd def like to be in the loop on this.  Thanks!

[2017-05-18 23:33] davkean commented on #18593
Then my dump won't help.

[2017-05-18 23:41] Pilchie opened #19639 "Completion shows snippets after using"
**Version Used**:
ba0cefe70bad6c0094a148b033386773243323fa

**Steps to Reproduce**:

At the top of a C# file, type `using T = System.Threading.Tasks.Task;` to declare an alias

**Expected Behavior**:
I get that.

**Actual Behavior**:
snippets are in completion after `using `, and commit on space to `testc` 😦

[2017-05-19 00:03] Joe4evr commented on #19601
But it wouldn't work for nullable value types because `Nullable<T>` is itself a struct.

[2017-05-19 00:39] nguerrera opened #19640 "Warnings CS1701 and CS1702 should be removed"
These warnings assume that runtime behavior that only holds on full .NET framework: that you need to supply "policy" to bind a ref to a lower assembly to a higher version. This means that the warnings have to be disabled when targeting other .NET platforms

Furthermore, even when targeting .NET Framework, msbuild will also warn and so removing these warnings doesn't prevent our greater build ecosy

[2017-05-19 00:40] nguerrera commented on #5501
I think the warning should be removed altogether #19640

[2017-05-19 00:51] lifengl commented on #18522
the second issue should be fixed by Jacob in the 15.3 preview 2.

[2017-05-19 00:56] MatthieuMEZIL opened #19641 "[Suggestion]Create a new assignment operator to have many assignments in one statement"
Today, there are many pieces of code like this:
[code]

To avoid to repeat the instance. and to avoid to use many statements, we can create some fluent api methods.
e.g.
[code]

I think this would be nice to have an operator (.= for example) that allows us to use something like object initializer outside the constructor.
e.g.
[code]

[2017-05-19 01:05] tmat commented on #16733
Roslyn repo is fine.

[2017-05-19 01:44] davkean opened #19643 "Missing CS7036 ("Missing argument") when the result ends up an element of a tuple"
I added a new "project" parameter to AdditionalFilesItemHandler's constructor:

[code]

I have usage consuming it here:
[code]

**Expected:**
[code]

**Actual:**
[code]

[2017-05-19 01:49] davkean commented on #19643
Looks like the lambda throw is off, if I simplify to this:

[code]
Then I get what I expect:

[code]

[2017-05-19 04:05] jcouv opened #19645 "Resolve conflict between GenerateAssemblyInfo And GenerateAssemblyInfo file targets"
The new SDK has a target "GenerateAssemblyInfo" which writes to the same file (`GeneratedAssemblyInfoFile`) as our "GenerateAssemblyInfoFile" target.

In the linked PR (below), I'm disabling the SDK target. But we should consider whether the two can be reconciled and our target possibly removed.

FYI @jasonmalinowski

[2017-05-19 04:23] #17991 closed

[2017-05-19 04:24] jcouv commented on #19523
Closing per PR feedback.
FYI @AlekseyTs

[2017-05-19 04:24] #19523 closed

[2017-05-19 04:32] gafter opened #19647 "Please eliminate some unused parameters in pattern-matching implementation"
See https://github.com/gafter/roslyn/pull/21 for a suggested code improvement to be done after 15.3.