[2018-09-25 18:32] CyrusNajmabadi commented on #18722
Thanks!

[2018-09-25 18:36] lostmsu opened #30130 "Can we have an option to not report IDE0009 (this. prefix) when a member starts with underscore?"
**Version Used**: 15.8

**Steps to Reproduce**:
[code]

**Expected Behavior**:
IDE0009 not reported based on a setting (probably better have it not report by default), that allows skipping `this.` if member starts with '_'

**Actual Behavior**:
IDE0009 is reported

**Rationale**
There're two common guidelines for accessing instance members: make it clear with `this.` or prefix their names with '_'

[2018-09-25 18:38] gafter opened #30131 "Compiler crash on implicitly scoped using inside try block"
See repro [HERE](https://sharplab.io/#v2:EYLgZgpghgLgrgJwgZwLQQHYAsoYMYQAmqcyAlhgOYA+AAgAwAEtAjANwCwAULQMzMAmRgGFG3AN7dG05v1oAWRgFkAFAEoxXGY3Hap2mTAQBPTQZmSt5gw0YA3KAkZRGAXkYYIAd0YARMsgADgD2yFDAADYQ6pxW5gC++uZ4sHhYjCoAogAeBIEwZMEYakkGltY2LACcKgBEAMpQhB7BXrVqsRWJcYzdej2BCGQOMBCCfgEhYZEQIIwAkv5BoeFROqXafMyKS1PRGuJ9Mt3xQA=).

[2018-09-25 19:08] gafter commented on #30127
See also https://github.com/dotnet/roslyn/issues/23207

[2018-09-25 19:08] CyrusNajmabadi commented on #30130
@lostmsu Why not turn off the rule that says:

![image](https://user-images.githubusercontent.com/4564579/46036918-9ec61880-c0bb-11e8-908e-efcb52426fbe.png)

?

If you name your fields with `_`, then there's little need for the 'this' rule for them since the naming makes it clear that it's a field.

[2018-09-25 19:14] jcouv commented on #30127
Closing this as dupe of #23207 then. Thanks

[2018-09-25 19:17] lostmsu commented on #30130
@CyrusNajmabadi it makes sense for projects, that have mixed style to mandate `this.` for any field, whose name does not start with '_'

[2018-09-25 19:29] sharwell commented on #30130
You can have multiple .editorconfig files in your solution by placing them in the project directory. Roslyn uses this to handle some style differences between the compiler projects and the rest.

[2018-09-25 19:31] jaredpar commented on #30005
MSBuild followup issue https://github.com/Microsoft/msbuild/issues/3788

[2018-09-25 19:34] lostmsu commented on #30130
@sharwell that assumes, that older projects must have all old code, and all new code to be isolated per-file, which is impractical for large codebases.

[2018-09-25 19:36] CyrusNajmabadi commented on #30130
@lostmsu Would you be willing to come over to gitter to chat?  I'd like to understand your use case a bit more, and it might be easier to just talk about it instead of having to asynchronously go back and forth :)

[2018-09-25 20:30] dpoeschl opened #30133 "Address signature change of CommonCompletionUtilities.GetWordSpan that broke an internal consumer"
See [this change](https://github.com/dotnet/roslyn/pull/29447/files#diff-1be1969f251b6e01f671985101baacc1R24). Changing that signature broke an internal consumer.

- We could add that overload back
- The added parameter has a default value, so I think that consumer could just recompile.

I'd prefer we add the overload back.

[2018-09-25 20:45] gafter commented on #29855
In flow analysis, there are no split states ("when true" and "when false") as a result of the binary operators, with the exception of `&&` and `||`.  This is by design.  One can imagine relaxing that for the nullable analysis, especially given that this analysis is not intended to be precise.  However, we do expect the analysis to be specified, and it isn't clear that there is sufficient benefit t

[2018-09-25 21:07] jcouv commented on #29987
FYI, the fix missed the window for 15.8.5, but is scheduled as part of 15.8.6. Sorry for the wait.

[2018-09-25 21:11] #29368 closed

[2018-09-25 22:02] funcylambda commented on #29922
@ryzngard - Are you still planning to take this? If not I'm happy to have a look tomorrow! :)

[2018-09-25 22:03] gafter opened #30135 "Broken tests in features/recursive-patterns branch"
The following tests are skipped in the `features/recursive-patterns` branch because they fail.

In `Workspaces\CSharpTest\EmbeddedLanguages\VirtualChars\CSharpVirtualCharServiceTests.cs`:
- `TestReverseInterpolatedVerbatimString`

[2018-09-25 22:16] MisinformedDNA commented on #3705
In the meantime, I added `// <auto-generated>Blah blah blah</auto-generated>` to the top of some of my *.cs files, but I'm still getting analyzer warnings. I thought this was supposed to work, no?

[2018-09-25 22:30] Cosifne commented on #25145
Hello Cyrus, do you know how to create a dialog using Rolsyn's API? It should be similar to the one when user want extract interface. I see the code there it implements ILanguage Interface but it is an empty interface. Could you explain its logic more clearly?

[2018-09-25 22:35] CyrusNajmabadi commented on #25145
@Cosifne Sorry, i'm unfamiliar with any interface called "ILanguage".  Can you point me at an example on github/dotnet/roslyn?

My recommendation would be to start with an existing dialog and try to go from there.  That will help give you a sense of how you need to structure the xaml/code-behind/resources, and other things involved in a dialog.

As an example, you could use the [PickMembers](https

[2018-09-25 22:38] CyrusNajmabadi commented on #30126
I don't think we've ever had an option for this.  Given that, i would say it's probably better to just have code follow the pattern that VS has been spitting out since forever.  This keeps code more consistent and prevents unnecessary community bifurcation.

[2018-09-25 22:43] Cosifne commented on #25145
My bad, it is called ILanguageService. Sample is here [https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/ExtractInterface/AbstractExtractInterfaceService.cs](AbstractExtractInterfaceService)

[2018-09-25 23:01] Neme12 commented on #30012
Is there any chance that issues that have a PR submitted for them would be at least a little prioritized over some other issues that aren't likely to get any attention?

[2018-09-25 23:03] CyrusNajmabadi commented on #25145
Hi @Cosifne ILanguageService is a *very* important part of how Roslyn internally works.  You can think of Roslyn as being a *mostly* language neutral framework for languages to plug into and light up (i.e. we currently support C#/VB/F#/TypeScript/JavaScript, and even some bits of xaml).  Because of this, the core parts of Roslny can't really depend on how those individual languages work (because t

[2018-09-25 23:06] Neme12 commented on #30012
I'm not asking for prioritization over features that the team is interested in or has prioritized. My point: there is a lot of open issues, suggestions & requests that won't likely be implemented unless an external contributor takes the work because it is not a priority for the team. This issue might fall in that category too (that's not up to me to determine), but I'm asking whether from this gro

[2018-09-25 23:08] CyrusNajmabadi commented on #25145
ALso, i'm routinely on gitter.  You might want to reach me over there as it will be easier to chat back and forth quickly, isntead of requiring lots of time to pass between each message.  Up to you if you want to do that :)

[2018-09-25 23:14] Cosifne commented on #25145
Thanks, I will first read the code first and reach you out on gitter when I am feel confused

[2018-09-26 00:59] davidwrighton commented on #29680
@RunDevelopment There isn't a particular reference for the differences between the .NET type system and the C# type system that I'm aware of. Sorry. But for the detail on what is convertible... See Section I.8.7 of partition one of the ECMA 335 standard. https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf

In particular, Rules 5,6 and 7 of Section I.8.7.1 and the definition

[2018-09-26 08:37] kg opened #30139 "Current first build instructions appear to be incorrect"
**Version Used**: master (33ced53f1f)

**Steps to Reproduce**:

1. Pull latest roslyn
2. ```./build.sh --build --test --restore```

**Actual Behavior**:

Got errors about dotnet SDK compatibility, which is expected I guess? I assume the requirement was bumped, so I need to install the new one:

[code]

Followed the suggested dotnet SDK install instructions from that website, and got dotnet SDK 2.1

[2018-09-26 08:50] kg commented on #30139
The root cause of this might be that obtain_dotnet.sh is missing a ```set -e```, because it seems like if I manually install ```curl``` i can build and run tests. Is that expected?

[2018-09-26 09:07] jmarolf commented on #30139
tagging @jaredpar

[2018-09-26 10:46] Hjorthen commented on #4068
@heejaechang Do you know if there is a way to simplify attaching to this external process? I am currently making it wait for a debugger using
[code]
from the beginning of the CompilationAction callback, then attaching to it. I am just curious if there is a better way.

[2018-09-26 10:48] RunDevelopment commented on #29680
@davidwrighton Thank you!

I'm going to close this issue now as it is not a bug.

[2018-09-26 10:48] #29680 closed

[2018-09-26 10:58] SylwesterZarebski commented on #23667
Error is still in 15.8.4. Is there any roadmap to fix it?

[2018-09-26 12:59] Neme12 commented on #19090
@sharwell Is this fixed with #25151?

[2018-09-26 14:18] jaredpar commented on #23667
@SylwesterZarebski this bug is currently targeted at 16.0 for the earliest fix.

[2018-09-26 14:41] TahirAhmadov commented on #115
I think `readonly` is much better than `let`. `let` is meaningless in this context, and other than LINQ usage (I prefer methods-based LINQ anyway), it reminds of other, older languages. `readonly` on the other hand is very to the point, you can read the code and it's obvious what it's intended to mean. Also, `readonly` is already used for class fields with similar semantics. In fact, there is not

[2018-09-26 14:42] jaredpar commented on #30139
Yes that definitely seems like an oversight.

Yes. When I wrote those docs I just assumed that `curl` was available. Let me correct to make that explicit.

[2018-09-26 14:43] jaredpar commented on #30139
Yes. The global.json configuration is exact. There is no way presently for us to say "at least 2.1.3" or we would specify that.

[2018-09-26 14:53] jshunia commented on #29581
I am requesting that this item be reopened.  With the 'always_for_clarity' option, the following code triggers the suggestion:

`int a = (x * y) / z;`

I understand that the parenthesis above do not change the order of operations, as the '*' and '/' operators have the same precedence, however, I prefer them for clarity when jumping between operators.  I suggest that when IDE0047 is set to 'always_

[2018-09-26 15:00] cston opened #30140 "Track nullable state from ??="
[code]
[code]

[2018-09-26 15:18] cston opened #30141 "Test warning suppression operator `!` in IOperation and CFG"
Add `IOperation` unit tests for `!` operator.

[2018-09-26 16:21] cston opened #30143 "NullableAttribute constructor parameter should be stored in a field"

[2018-09-26 16:25] cston opened #30144 "Additional tests for injecting NonNullTypesAttribute"
Additional tests for injecting `NonNullTypesAttribute`:
- Test emitting netmodule.
- Test script.

[2018-09-26 16:27] cston opened #30145 "Verify emitted nullability with partial declaration mismatch"
See `NullableReferenceTypesTests.PartialMethods_01`.

[2018-09-26 17:45] CyrusNajmabadi commented on #29581
You can get this behavior by setting this value:

![image](https://user-images.githubusercontent.com/4564579/46098274-dfd03280-c178-11e8-97bc-fb74cdc39f3a.png)

As you can see, with that setting, you get no suggestion prompts here:

![image](https://user-images.githubusercontent.com/4564579/46098364-13ab5800-c179-11e8-8054-a8d63466dc3b.png)

You are offered to still fix it if you bring up the ligh

[2018-09-26 18:29] binki commented on #115
@TahirAhmadov I agree with you that defining `let` as equivalent to `readonly var` is confusing. For older languages, I myself only konw of BASIC which had a `LET` statement which actually mutated a variable (though it was not a declaration itself). For modern languages which those coming to C# would know, modern JavaScript uses [`let`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refer

[2018-09-26 18:35] Hjorthen commented on #4068
I did not realize it was opened with the solution. That simplifies things, thanks! 👍

[2018-09-26 19:37] cston opened #30150 "Test inferred nullability of `var` locals rather than nullability from initial binding"
See `NullableReferenceTypesTests.VerifyVarLocal` and `NullableReferenceTypesTests.VerifyOutVar`.

[2018-09-26 19:53] cston opened #30151 "Suppression in array initializer"
There should be no warning for `b`:
[code]

[jcouv update:] Please also verify the scenario in https://github.com/dotnet/roslyn/issues/30376 and close if ok.

[2018-09-26 20:14] #30139 closed

[2018-09-26 20:24] jaredpar opened #30152 "Strong name test infrastructure broken on Unix"
Our code for testing strong name signatures is broken on Unix. It appears to be a combination of bad windows paths and placing items into disk locations that aren't valid.

[2018-09-26 20:39] vdevappa commented on #21783
This does not work if you just want to set it to latest. The solution is to provide the msbuild argument as shown here: https://stackoverflow.com/questions/48050676/how-do-i-set-csc-langversion-when-building-in-vsts

[2018-09-26 20:59] ivanbasov opened #30153 "Editor Completion - Partners - Debugger - Support completion in debugger"
1. Roslyn does not provide any items when ‘$’ is the first char typed. The user experience would be a lot better if all items would be present but filtered out
2. Even if our “$...” items are in the completion list they are not scrolled to or filtered correctly. Ex. Start a session by typing x, then backspace, then $

[2018-09-26 23:11] jasonmalinowski opened #30159 "ReplaceTypeParameterBasedOnTypeConstraintVisitor.cs incorrectly uses WaitAndGetResult"
https://github.com/dotnet/roslyn/blob/863af8bef91c9568f5b2636763767eb52fb1772f/src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.ReplaceTypeParameterBasedOnTypeConstraintVisitor.cs#L102-L103

These lines are using WaitAndGetResult, but this can be called on a background thread in various code fixes. Because it's on a background thread, the assert that says you shouldn't call tha

[2018-09-26 23:14] taspeotis commented on #21783
@vdevappa According the second comment to the answer (which links [here](https://github.com/dotnet/roslyn/issues/24000#issuecomment-354882800)), the problem was that `LangVersion` was only set for the debug configuration. See [here](https://github.com/dotnet/roslyn/issues/21783#issuecomment-327395016) for how to set `LangVersion` for all configurations.

[2018-09-26 23:15] CyrusNajmabadi commented on #30159
You've summed it up fine :)   Feel free to make it not a visitor.  If it's too obnoxious to reimplement that visiting logic in async form, then feel free to use WaitAndGetResult_CanCallOnBackground .  Either are reasonable choices to me depending on how much effort you want to put in :)

[2018-09-26 23:19] vdevappa commented on #21783
Yes and that does not work. Mine was already set similar to that.

[2018-09-26 23:36] jasonmalinowski commented on #30159
@CyrusNajmabadi I think my main concern is I can't figure out what this is actually doing. :smile:

[2018-09-27 00:04] CyrusNajmabadi commented on #30159
oh. lol.  looking.

[2018-09-27 00:05] CyrusNajmabadi commented on #30159
oh god... i remember this.  i didn't write it, but i remeber it was for some crazy generate-method case, or something like that.  basically, it was generating code into a location that couldn't reference something from the original location... and hten it decided "let me see if i can go find some sort of type i coudl jam in here to make it legal".

Easiest thing to do is disable this and see waht

[2018-09-27 00:13] jcouv commented on #30099
From follow-up discussion with @davkean, it turns out that project-system already implements a pattern like this for some other properties. The only difference is that the last case would create an `AssemblyInfo.cs` file (since none exists).
In this design, the code fixer can just ask the project-system to enable NonNullTypes and project-system will handle the different cases and fall back.

[2018-09-27 00:17] jaredpar commented on #30044
Thanks for providing that. The binaries in that folder are correct. I examined both the versions and compiled some applications that should excercise the code path that was failing. So that still points to something specific to your machine.

One thought: can you check and see if there are any assemblies that start with the name Microsoft.CodeAnalysis in the GAC?

[2018-09-27 00:23] jaredpar opened #30160 "Expression tree tests depend on desktop types"
Many of our expression tree tests depend on having the exact expression tree types and members present on desktop. This means the tests can't run correctly on Mono / CoreClr. Need to fix this.

[2018-09-27 01:17] jnm2 commented on #16442
Would you close the issue, please, since all language design issues have migrated to https://github.com/dotnet/csharplang?

[2018-09-27 01:17] ryzngard commented on #29922
Sure, I'll get a PR up soon :) I have the changes locally

[2018-09-27 01:17] jnm2 commented on #9139
Would you close the issue, please, since all language design issues have migrated to https://github.com/dotnet/csharplang?

[2018-09-27 01:59] JieCarolHu opened #30163 "need to get disabled diagnosicId from .editorconfig for Ctrl+E,C"
Ctrl+E,C does code fix for all the diagnosic Ids right now. will need to get an enabled or disabled diagnosic Ids from .editorconfig and only use these Ids.

[2018-09-27 02:01] JieCarolHu opened #30165 "Implement Code cleanup menu for document/project/solution"

[2018-09-27 05:09] #9139 closed

[2018-09-27 08:30] #30091 closed

[2018-09-27 11:14] MilKAOS commented on #30044
There is a Microsoft.CodeAnalysis folder in the GAC but the folder is empty. Should I remove the folder?
![image](https://user-images.githubusercontent.com/18283597/46142368-0bc1e580-c257-11e8-96db-934d3a448a3b.png)

[2018-09-27 11:45] jechter commented on #29747
So, because I get asked about this issue multiple times a week at the moment, I decided to take a look myself.

I looked at the Roslyn code, and came up with the patch below to make it return the correct error code. Now, obviously, I don't have a clue about the Roslyn code base, and this is probably a bad, hackish way of fixing it. Basically, what it does is to make `Imports.LookupSymbolInUsings`

[2018-09-27 12:10] MilKAOS commented on #30044
In between I installed DebugDiag to get more crash information. You can find two detailed crash logs attached. Maybe that helps a little bit.

My workflow for both crahshes:
1. I started VS 2017.
2. I opened the console solution I created earlier via the Startup screen.
3. I run the build. (The errors were shown.)
4. I closed VS 2017.

[devenv__PID__244__Date__09_27_2018__Time_02_03_10PM__547__Log

[2018-09-27 13:05] IhorHolovatsky commented on #20118
I had the same issue,

as a hotfix, I moved my big string to file, and wrote logic to load string from file

[2018-09-27 16:06] mariasm75 opened #30168 "Feature requests - Goto file members: prepopulating result panel, 'ctor' search string for declared conctructors"
Hi,
I think prepopulating the result list would be really nice similarly to 'Goto recent files'. Many times I recognize the required name more easily on a list than I recall it. If there are a bunch of members, the first 50-100 items would be enough.
It would be also a nice help if typing 'ctor' would list the constructors.
Thanks

[2018-09-27 17:09] genlu commented on #14341
**Proposed design for V1 (C#)**

This will be triggered when cursor is moved to the namespace declaration, or first member declaration if everything in the document is declared in global namespace. It tries to match current declared namespace with the document's path, based on `rootnamespace` property defined the project file. If no such property is defined, global namespace is then used as root n

[2018-09-27 17:29] jinujoseph commented on #30168
cc @olegtk

[2018-09-27 17:38] olegtk commented on #30168
good idea, route it to us

[2018-09-27 17:46] jaredpar opened #30169 "PDB Emit not working on Mono"
There are a number of tests where PDBs are not being emitted on Mono for no obvious reason.

[2018-09-27 17:52] #29092 closed

[2018-09-27 17:55] #16442 closed

[2018-09-27 20:35] mavasani commented on #30015
@heejaechang Can you see if the servicehub logs here help: https://ci.dot.net/job/dotnet_roslyn/job/dev16.0.x/job/windows_debug_vs-integration/18/artifact/Binaries/Temp/servicehub/logs/

[2018-09-27 20:38] heejaechang commented on #30015
@mavasani it has client (VS) side log saying something threw, but no log from server (OOP) side which tells me what has thrown.

[2018-09-27 20:40] heejaechang commented on #30015
are we keeping all logs? or only some logs? if the exception is thrown before our code ran in OOP, then it will be only saved in servicehub side log, but not our side. but it will show up in VS side since that doesn't care what part has failed as long as servicehub side failed.

[2018-09-27 20:44] Neme12 commented on #24877
@mavasani I don't think 3. is a design issue, it seems to me like it is a correctness issue. If the design meeting concludes that there should be any changes for that that deviate from the language spec, I would hope that that those changes are added to the FAR code together with consuming ValueUsageInfo rather than ValueUsageInfo itself.

[2018-09-27 20:48] Neme12 commented on #24877
All other features that depend on ValueUsageInfo definitely need the correct language interpretation. For example, converting a variable to readonly can happen if all references are read or readable ref, and it is important that method calls on structs are marked as read/write ref, because the variable cannot be readonly (would change semantics), and method calls on readonly structs are readable r

[2018-09-27 20:54] mavasani commented on #30015
@heejaechang I believe we only have client side logs, but probably someone from @dotnet/roslyn-infrastructure can confirm.

[2018-09-27 20:56] mavasani commented on #30015
By the way, I am unable to repro this failure locally, even when run in batch with other integration tests.

[2018-09-27 21:05] AlekseyTs opened #30171 "Binders used by SemanticModel are not guaranteed to use proper NonNullTypes context"
[code]

Right now Binder.NonNullTypesContext is driven by the Binder.ContainingMember, which is not always set by Microsoft.CodeAnalysis.CSharp.BinderFactory to what would be necessary to properly reflect the NonNullTypes context. Often, this behavior of the BinderFactory is driven by the intent to avoid creating symbols for members and looking up members whenever possible, which helps IDE perform

[2018-09-27 21:06] jbevain opened #30172 "Programmatic suppression of warnings"
Serialization frameworks and tools embedding .NET Core or Mono often set the value of fields or call methods outside of user code.

This leads the IDE to show warning about unused code while the user of the framework knows the fields and methods are going to be used. One example of this scenario is Unity. A typical game object will look like this:

[code]

In that case:

* the value of the field s

[2018-09-27 21:14] #4586 closed

[2018-09-27 21:26] phillijw commented on #24013
Still occurring in VS 15.8.5. Not even sure how to figure out what version of roslyn it uses

[2018-09-27 21:35] jirikopecky opened #30174 "MSBuildWorkspace is not honoring Configuration property for project references"
**Version Used**: 2.9.0

**Steps to Reproduce**:

1. Have project with project references, build it in Release configuration and make sure no Debug binaries are present
2. Create MSBuildWorkspace with property Configuration set to Release
3. Set LoadMetadataForReferencedProjects to true
4. Open project that have project reference using OpenProjectAsync
5. Try get compilation using GetCompilationAs

[2018-09-27 21:46] mavasani opened #30175 "Operation.None generated for VB ReDim statement/clause"
This is the root cause of https://github.com/dotnet/roslyn/issues/29373. MakeFieldReadOnly analyzer attempts to analyze read/writes using IOperation API, but does not correctly identify the write for ReDim, causing a false report.

[2018-09-27 21:46] mavasani commented on #29373
The root cause is lack of IOperation support for Redim statement in VB: https://github.com/dotnet/roslyn/issues/30175

[2018-09-27 21:58] AlekseyTs opened #30177 "Unexpected or possibly confusing WRN_UninitializedNonNullableField warning"
[code]

It feels to me that ```T``` has oblivious nullability because it is declared in ```[NonNullTypes(false)]``` context. I am not sure that it is appropriate to report WRN_UninitializedNonNullableField in this case. Even if we think that a warning about feild being uninitialized is appropriate in this case, the wording "Non-nullable field" is quite confusing, because the field is not non-nulla

[2018-09-27 22:06] #29927 closed

[2018-09-27 22:11] Neme12 commented on #30175
Can IOperation just show the method call it compiles to?  :smile:

[2018-09-27 22:12] AlekseyTs opened #30178 "Generic type substitution machinery "drops" non-nullable nature of types"
[code]

[2018-09-27 22:19] agocke commented on #29747
@jechter I would start by creating a PR. It will be easier to leave comments and it'll also see if your change passes tests.

[2018-09-27 22:31] dpoeschl opened #30179 "Editor Completion - Partners - TS - `DismissIfLastCharacterDeleted` support"
Isn't working for them.

[2018-09-27 22:32] dpoeschl opened #30180 "Editor Completion - Partners - TS - `WithDefaultCommitCharacters` behaving incorrectly"
Link to code available in email

[2018-09-27 22:35] dpoeschl opened #30181 "Editor Completion - Partners - TS - `GetChangeAsync` isn’t being called on commit"
`It seems like GetChangeAsync isn’t being called when I commit a completion, so we’re not getting our custom behavior such as adding import statements at the top of the file when an import is committed.`

[2018-09-27 22:35] dpoeschl commented on #30181
Very probable dupe of https://github.com/dotnet/roslyn/issues/27429

[2018-09-27 22:37] dpoeschl opened #30182 "Editor Completion - Partners - TS - "Exception and assert when completing inside import path""
Tracking issue in email. We think it's the use of an older editor binary:

[2018-09-27 22:38] dpoeschl opened #30183 "Editor Completion - Partners - F# - non blocking scenarios"

[2018-09-27 22:40] dpoeschl opened #30184 "Editor Completion - Partners - Debugger - Consistent nullref in EditorAsyncCompletionItemManager.UpdateCompletionListAsync"
Tracking email

[2018-09-27 22:40] dpoeschl opened #30185 "Editor Completion - Partners - Debugger - Roslyn does not provide any items when ‘$’ is the first char typed"

[2018-09-27 22:42] dpoeschl commented on #30185
Actually, closing as dupe of https://github.com/dotnet/roslyn/issues/30153

[2018-09-27 22:42] #30185 closed

[2018-09-27 22:42] dpoeschl commented on #30153
There's much further discussion in the email thread.

[2018-09-27 22:46] dpoeschl opened #30186 "Editor Completion - Partner Signoff - F# Scenarios"
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2018-09-27 22:46] dpoeschl opened #30187 "Editor Completion - Partner Signoff - IntelliCode Scenarios"
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2018-09-27 22:48] dpoeschl opened #30188 "Editor Completion - Partner Signoff - Razor - Completion not firing"
Originally discussed in https://github.com/dotnet/roslyn/issues/27534

[2018-09-27 22:48] dpoeschl commented on #27534
Using this issue to track the signoff, and https://github.com/dotnet/roslyn/issues/30188 to track the specific bug above.

[2018-09-27 22:49] dpoeschl opened #30189 "Editor Completion - Partner Signoff - TS - Verify `BlockForCompletionItems` works"

[2018-09-27 22:52] dpoeschl opened #30190 "Editor Completion - Partner Signoff - IntelliCode - Investigate telemetry concerns"

[2018-09-27 22:52] dpoeschl commented on #30190
Possible dupe of https://github.com/dotnet/roslyn/issues/27429

[2018-09-27 22:55] #21348 closed

[2018-09-27 22:56] tmat commented on #30172
@mavasani We should discuss this feature request at analyzer design meeting.

[2018-09-27 22:59] Neme12 commented on #30172
Since `field` is modified from outside, why not make it public to make that clear that that is possible, even though it's not necessary?

[2018-09-27 23:02] Neme12 commented on #30172
Yes, this may be an established pattern in the respect areas so users that are familiar will know how this works. But still, from a readability standpoint, I think making these public would be nicer.

[2018-09-27 23:11] dpoeschl opened #30191 "Editor Completion - Retest feature flag"

[2018-09-27 23:19] gafter opened #30192 "[Strict] Remove support for enum `operator -(int, enum)`"
The native compiler had a bug by which it supports subtraction of an enum from its underlying type.  We duplicated that bug in Roslyn not because any user noticed or requested that support, but because we worried they might.  In strict mode, we do not support that operator.

Consider removing support for that operator.

[2018-09-27 23:27] gafter opened #30193 "[Strict] Warn for `lock(null)`"
The C# compiler permits `lock (null) {}` without an error or warning. In strict mode it is an error.

Consider making this a warning in a warning wave.

[2018-09-27 23:27] dpoeschl commented on #30182
@ivanbasov to check if we're sending the null instead of string.Empty

[2018-09-27 23:32] gafter opened #30194 "[Strict] Do not ignore private reference fields of structs for definite assignment"
In Dev12 the C# compiler ignored private fields of reference type in a value type imported from metadata when computing definite assignment.  Roslyn duplicates that bug for compatibility.  In "strict" mode we do not duplicate that bug.

Consider enabling this bug to be fixed in the first warning wave.

[2018-09-27 23:35] gafter opened #30195 "[Strict] Diagnose an attempt to lock on a type parameter"
For compatibility with older compilers, the Roslyn C# compiler permits the following method without a diagnostic

[code]

In "strict" mode we produce an error that the lock statement requires a reference type.

Consider adding a warning or error in a warning wave for this situation.

[2018-09-27 23:36] dpoeschl commented on #29110
Would Roslyn implementing the presenter be sufficient here?

[2018-09-27 23:36] jaredpar commented on #30127
Closing based on last comment. Let me know if you meant to keep this ope.

[2018-09-27 23:36] #30127 closed

[2018-09-27 23:45] gafter opened #30196 "[Strict] Diagnose `structValue == null`"
Given a user-defined type that overloads operator `==` and `!=`

[code]

The Roslyn compiler does not diagnose the following code:

[code]

In "strict" mode the compiler warns about these tests.

Please add this warning to a warning wave.

[2018-09-27 23:51] gafter opened #30197 "[Strict] Do not permit initializing a static readonly field in a static ctor of a different type instantiation"
The following code is permitted by Roslyn but produces code that does not verify:

[code]

This is correctly diagnosed as an error in "strict" mode.

Please diagnose this in a warning wave.

[2018-09-27 23:55] gafter opened #30198 "[Strict] Diagnose type test of a static type"
Roslyn permits a type test of a static type, failing to diagnose the following:

[code]

This is correctly diagnosed as an error in "strict" mode.

Please diagnose this in a warning wave.

[2018-09-27 23:58] ivanbasov commented on #30182
@dpoeschl , @AmadeusW . we really send null. replacing this with string.Empty

[2018-09-27 23:58] #30182 closed

[2018-09-28 00:04] gafter opened #30201 "[Strict] Diagnose meaningless `ref` on a method group"
The native compiler used to accept the following code, and Roslyn follows suit:

[code]

We correctly diagnose the error in "strict" mode.  See also #2249.

Please diagnose this issue in a warning wave.

[2018-09-28 00:13] #367 closed

[2018-09-28 05:37] #30005 closed

[2018-09-28 06:08] jaredpar opened #30204 "Tests incorrectly depend on mscorlib"
There are a number of tests which depend on the corelib assembly being named mscorlib. This is blocking them from being moved to CoreClr and Mono. These could likely be migrated to run in those environments with a little bit of work.

[2018-09-28 06:50] onnetavinash opened #30205 "Msbuild failed while opening a VS2010 solution with Different Platform version (x86 and Any CPU)"
**Version Used**:
Visual Studio 2017 using C# Stand Alone Code Analyzer tool to load VS2010 VB Solution.
**Steps to Reproduce**:

1. Crate a VB Project which has library reference of different platform version. Like In my case, I have all my project library in Any CPU where as my 3rd Party Library in x86.
2. Crate a Stand Alone Code Analysis Tool in C# language and try to open VB Project  in Step

[2018-09-28 08:40] adimosh opened #30206 "IDE0009 reported on collection initializers with unqualifiable items"
**Version Used**:
Visual Studio 2017 15.8
Visual Studio 2017 15.7

**Steps to Reproduce**:

1. Declare a collection and use the collection initializer syntax
2. Ensure that the collection is populated with unqualifiable items, for example, a collection of types initialized with multiple lines of typeof(SomeType), or a collection of constant values.

This works for both simple collection initialize

[2018-09-28 09:59] lorcanmooney opened #30207 "Bad cast in IntroduceVariableCodeRefactoringProvider"
[code]

[2018-09-28 10:05] wachulski opened #30208 "`Convert to full property` refactoring generates colliding field names that leads to CS0542"
**Version Used**:  15.8.5

**Steps to Reproduce**:

1. Create a C# project, add `.editorconfig`

[code]
2. In a CS file:
[code]
3. Put the caret on `Stranger` property
4. Fire `Convert to full property` refactoring

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

This is related to making refactoring consistent as described by https://github.com/dotnet/roslyn/pull/28013

[2018-09-28 11:14] jhinder opened #30210 "CodeLens does not appear on conversion operators"
**Version Used**: VS 15.8.5 (Roslyn 2.9.0.63208)

**Steps to Reproduce**:

1. Create a type with a conversion operator.

**Expected Behavior**: CodeLens appears for the operator, like with all other operators.

**Actual Behavior**: CodeLens does not appear for the operator.

![struct-operator](https://user-images.githubusercontent.com/823398/46204954-4ee78b80-c31f-11e8-9cab-53b01b156e36.PNG)

[2018-09-28 15:34] jaredpar opened #30212 "Parse tree round tripping broken on Linux"
The `CodeGenCapturing` suites are failing on Linux intermittently with the following stack trace:

[code]

This suggests that our parsing round trip is broken. Given the failure is intermittent and only so far on Linux it suggests a threading code in our parse cache logic. Still looking for a Windows repro.

[2018-09-28 17:02] msbasanth opened #30213 "How to clear the global state (static cache) used across analyzer instances"
**Version Used**:
v2.6.0

**Steps to Reproduce**:

1. I have two analyzers sharing state or a cache across analyzer instances using a global/single instance of the cache.
2. It works fine as we could retrieve the items using unique key for msbuild process. Currently using Platform+OptimizationLevel which we assumed to be unique for a msbuild instance.
3. Later understood that msbuild instance is r

[2018-09-28 17:04] AlekseyTs opened #30214 "Use of generic type parameters declared in ```[NonNullTypes(false)]``` context should not cause any "nullable" diagnostics on use"
[code]

Expected: No diagnostics.
Note that none is reported for references to F4 field.
Also note that none is reported in M4 method which differs from M3 only by the fact that generic type inference is involved vs. the same type arguments are provided explicitly.

[2018-09-28 17:31] AlekseyTs commented on #30214
Here is another scenario, which I think is the same issue:
[code]

Expected: No diagnostics

[2018-09-28 17:32] jcouv opened #30215 "Should `NonNullTypes` be constructed from single enum parameter?"
Currently, the attribute stores two bits of information:
- a bool for interpreting un-annotated reference types as `non-null` rather than `null-oblivious`
- a bool for disabling the flow analysis warnings

We discussed allowing more options for controlling the warnings.
Also, some combinations of options don't make sense `[NonNullTypes(false, Warnings = true)]`.

[2018-09-28 17:35] AmadeusW opened #30216 "Roslyn crashes VS dev16 when opening any solution"
**Version Used**: vs 16.0 28127.4002.master

**Steps to Reproduce**:

1. Create or open any C# solution

**Expected Behavior**:
Solution opens

**Actual Behavior**:
Visual Studio immediately closes

**Top of stack trace in the fatal error handler**
[code]

**Relevant stack trace with the exception**
[code]

**Crash dump**
"\\AMADEUS\dmp\devenv roslyn crash.dmp"

[2018-09-28 17:40] Neme12 commented on #5338
@CyrusNajmabadi the test you added shows the behavior marked as **Actual result**, not **Expected result**

[2018-09-28 17:40] Neme12 commented on #5338
@sharwell Can you please reopen this (if I understand this correctly)?

[2018-09-28 18:30] mavasani commented on #29373
I have a PR out to fix this and add IOperation support: https://github.com/dotnet/roslyn/pull/30217

[2018-09-28 18:37] Neme12 commented on #5338
@jinujoseph Can you please reopen this?

[2018-09-28 19:15] ivanbasov commented on #30097
@AmadeusW
I have added a new test: TestMRUKeepsTwoRecentlyUsedItems
It shows that the new implementation alters 'Ma' and 'm:'.  The expected value is 'Ma(m:(Ma(m:('. The current version passes the test.

[2018-09-28 19:29] rchande opened #30218 "CoreClrShim static field initializers can throw"
While experimenting with using scripting on Blazor we noticed that this f[ield initializer](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Shared/CoreClrShim.cs#L28) throws under Blazor (which is mono webassembly). This is preventing us from using scripting.
cc @jaredpar

[2018-09-28 19:32] mavasani commented on #20253
This is complete.

[2018-09-28 19:32] #20253 closed

[2018-09-28 19:45] Neme12 opened #30219 "Odd inconsistency between GetSymbolInfo of invocation and its argument"
[code]

There are 2 overloads of `GetOrAdd`:
1.  where the second parameter is of type `Func<JToken, object>`
![image](https://user-images.githubusercontent.com/11444821/46230158-01dbd780-c368-11e8-8f7a-31efd7bba346.png)
2. where the second parameter is of type `Func<Type, Func<JToken, object>>`
![image](https://user-images.githubusercontent.com/11444821/46230189-1ddf7900-c368-11e8-9403-093a8c1fac

[2018-09-28 19:46] jaredpar commented on #30218
What is the exception in Blazor? Is it a `NullReferenceException`?

[2018-09-28 19:53] Neme12 commented on #30219
@gafter @jcouv Is this the expected behavior?

[2018-09-28 20:13] AlekseyTs opened #30220 "Missing WRN_NullabilityMismatchInTypeParameterConstraint warning when a non-nullable type parameter used as a constraint is declared in a different NonNullTypes context"
[code]

Expected WRN_NullabilityMismatchInTypeParameterConstraint warnings for: ```B<T1?> b1;``` and ```A<T1>.B<T1?> d1;```.

[2018-09-28 20:45] jaredpar commented on #30044
Can you use `gacutil` to see if it believes any copies are installed into the GAC? That would be the more definitive method.

[2018-09-28 20:47] j3parker commented on #3249
Any recent thoughts on this?

[2018-09-28 21:34] jaredpar opened #30223 "Make BinderFlags public"
The compiler currently has an IVT into the interactive layer and soon to the EditorFeatures.Wpf layer. This violates our principle of keeping the editor and compiler portions communicating via the public API surface area only. We should fix this ASAP to ensure that the `internal` usage doesn't spread any further.

[2018-09-28 21:37] olegtk commented on #27198
CC @justcla

On the editor level we always wanted such a command (mainly because it's very popular and VS for Mac has it already), but obviously it's language specific.
We can take on driving some unification design/discussion and defining a command, but each language would have to implement it.

[2018-09-28 21:51] Neme12 opened #30224 "Restore.cmd keeps downloading dotnet SDK that is already installed"
Restore.cmd wasn't working for me in the `features/compiler` branch (which requires .NET Core SDK 2.1.300-rtm-008866) because I always got the following result - the script kept trying to download the sdk, even though I knew it was already installed (this is a little frustrating experience as you can imagine).
[code]

I kept digging into the scripts and found Ensure-DotnetSdk which contains the in

[2018-09-28 21:51] Neme12 commented on #30224
tagging @jaredpar

[2018-09-28 21:58] jaredpar commented on #30224
The goal of build.ps1 is to keep the Roslyn experience as simple as possible. The repository is built by a wide range of users and across a wide range of environments. This includes installing any SDKs, tools or runtimes that we need in order to build. Not doing this by default would break a large number of scenarios.

This is an odd duck case. Typically we never want to require an SDK + a runtime

[2018-09-28 22:01] Neme12 commented on #30224
Ok but I spent a whole day trying to find out what's wrong 😞 Couldn't there be a better experience in case this happens again than seeing a dotnet sdk being downloaded that is already installed?

I though there was something wrong with my dotnet instalaltion and reinstalled all sdks 2 times, tried repairs, messing with environment variables, deleting all folders and caches... There must be a bette

[2018-09-28 22:03] Neme12 commented on #30224
Couldn't the script then also download the correct runtime if it doesn't exist, and only download the sdk if it's the sdk itself that doesn't exist, not the runtime?

[2018-09-28 22:09] Neme12 commented on #30224
Then reason I didn't let it just download, extract and use that version is because I was getting path too long errors.

[2018-09-28 22:20] justcla commented on #27198
Can we please re-label this issue: Add command for ToggleLineComment?

[2018-09-28 22:27] justcla commented on #27198
There are two keys concepts behind ToggleLineComment.
1. A single shortcut (easy to remember, easy to use) that can be used to comment or uncomment the code.
2. It applies LINE comments to every line that's part of the selection.

Additionally, there should be an option (on by default) to move down to the next line after invoking ToggleLineComment with no selection. This enables users to press it

[2018-09-28 22:28] justcla commented on #27198
There is an example implementation of this in HotCommands

[2018-09-28 22:29] jaredpar commented on #30224
If we have to do a runtime / SDK split again I'll likely look into this.

What OS are you on? One thing we've been tossing around a bit is whether or not to move past `MAX_PATH` for our infrastructure. Today we're pretty careful to keep our max file path (src + binaries directory) around the low 200s to avoid problems for contributors. If you're hitting it though it may invalidate our assumptions

[2018-09-28 22:34] Neme12 commented on #30224
winver says `Windows 10 Version 1803 (OS Build 17134.285)`

My repo folder is `C:\Users\neme1\Source\Repos\roslyn` (the default for cloning in Visual Studio) and I was hitting long path errors deep inside the extracted dotnet sdk inside Binaries.

[2018-09-28 22:35] dpoeschl opened #30226 "IDE Test Pass for Nullable Reference Types"
- :white_check_mark: = Tested & Approved (possibly with linked bugs)
- :x: = Merge blocking
- :construction: = Non-blocking bugs
- :ok: = Issue has been fixed
- :free: = No expected impact
- :question: = Open question

<a name="testfootnote1"><sup>1</sup></a> Feature updated by compiler team, with appropriate unit tests.

<a name="testfootnote2"><sup>2</sup></a> Feature requires more complete test

[2018-09-28 22:39] justcla commented on #27198
Yeah, I had the extension read XML files, just so we could more easily open the files in an XML editor for pretty printing. Go with XML if you can.

[2018-09-28 23:23] AlekseyTs opened #30227 "Investigate impact of allowing and emitting explicit ```object``` constraint for a type parameter on interop with VB"
There was at least one negative impact caught by unit-tests. There still can be other effects.

Because of this change the following unit test got broken:
[code]

In order to mitigate this, a change was made to implementation of MethodSignatureComparer.AreConstraintTypesSubset for VB. In particular, now it simply ignores an explicit ```object```  constraint, the same way C# implementation does.

N

[2018-09-28 23:32] AlekseyTs opened #30229 "Make sure nullability mismatch in constraints specified in different partial declarations (types/methods) are properly detected and reported."
Need to decide whether mismatch should result in an error or a warning, and, if in a warning, then what should be emitted and used for the purpose of the nullable analysis.
Also, should decide if mismatch with oblivious is significant.

[2018-09-29 00:37] gafter commented on #30195
Dup of #12649

[2018-09-29 00:37] #30195 closed

[2018-09-29 00:45] gafter opened #30231 "[Strict] Diagnose precedence error with query expression"
The following statement should be a syntax error because the query expression appears at the wrong precedence:

[code]

We correctly diagnose this error in "strict" more.

Please add this to a warning wave (possibly as an error?)

[2018-09-29 07:33] olgierdd commented on #26505
I have the same issue on ROCK64 V2 4G RAM. I can build project, run dotnet restore. When I run dotnet run for console application I am getting: /home/rock64/dotnet/sdk/2.1.402/Roslyn/Microsoft.CSharp.Core.targets(52,5): error MSB6006: "csc.dll" exited with code 139. [/home/rock64/dev/myApp/myApp.csproj]

The build failed. Please fix the build errors and run again.

[2018-09-29 09:29] janwilmans commented on #27198
Would that not be confusing? as depending on what is selected, the command should do a ToggleLineComment or a ToggleBlockComment ?

[2018-09-29 09:40] janwilmans commented on #27198
@dpoeschl if there was a command called ToggleCommentSelection (instead of separate commands UncommentSelection/CommentSelection) I think that would be an acceptable compromise.

[2018-09-29 10:03] janwilmans commented on #27198
different proposal, what is 'selecting text' would be the first chord ?
![image](https://user-images.githubusercontent.com/5933444/46244465-b1e42b80-c3ce-11e8-8253-361957c21823.png)

That way the user can decide how this behavior works and it would not be tied to a language.
It would still depend on the availability of Edit.ToggleComment for each language. (in which I would vote to add it in C++ :

[2018-09-29 10:06] MilKAOS commented on #30044
[code]

Attached is also the complete GAC list. But there is nothing which I could relate to CodeAnalysis.
[output.txt](https://github.com/dotnet/roslyn/files/2430515/output.txt)

[2018-09-29 14:51] Olivia-Blundell commented on #26505
[code]

Ubuntu 16.04 AARCH64

[2018-09-29 15:58] Neme12 opened #30232 "Inferred type in async expression lambda does not unwrap Task"
[code]

If I choose to generate a field in the first lambda, its type will be int. If I do the same inside the second one, the type of the field will be `Task<int>`, which is wrong.

(very similar to #27647)

[2018-09-29 15:59] Neme12 commented on #30232
I am working on a fix.

[2018-09-29 15:59] Neme12 commented on #27647
I am working on a fix.

[2018-09-29 16:54] Zshazz commented on #23581
My apologies for asking a question on an old issue, but I have recently run into this on VS Professional 15.8.5. I see that it should have been addressed in 15.7. Is that accurate? If so, there may have been a regression.

The following code still has suggestions for IDE0041 in all places (including the original repro above):
[code]

[2018-09-29 17:02] JurjenBiewenga commented on #29264
I'd like to take a stab at this one.

[2018-09-29 18:46] justcla commented on #27198
I find current behaviour confusing and limiting. With two separate commands, a user can chose whether to comment the lines (with // at the beginning of each line) or comment the selection (with /* */ around the selection).

The way it is today, to toggle line comment on a single line today, a user needs to clear the current selection, otherwise they just get the selected text commented with block

[2018-09-29 18:50] justcla commented on #27198
Perhaps ToggleBlockComment might be better understood as ToggleSelectionComment, with ToggleLineComment being the partner.
One pays attention to the selection boundaries, the other acts on all lines spanned by the selection.

[2018-09-29 18:54] janwilmans commented on #27198
I'd like to chat/talk, are you on skype ? I'm 'janwilmans'

[2018-09-29 19:45] janwilmans commented on #27198
After a chat with @justcla I think we are in complete agreement that toggling comments should be handled just like toggling 'bold' or 'italic', so there should be a command ToggleSelectionComment.
(and he's btw a wonderful engineer everybody should listen too ! and he totally did not tell me to say that)

While exchanging our viewpoints we actually found that depending on what your current selecti

[2018-09-29 19:53] janwilmans commented on #27198
And then the way this is invoked is through a single ToggleSelectionComment command.

[2018-09-29 19:55] janwilmans opened #30234 "Add defining chord sequences based on text being selected"
![image](https://user-images.githubusercontent.com/5933444/46249964-80488000-c421-11e8-9e2b-0ce45a642b02.png)

The idea is, a command gets run if and only if text (any text) is selected and a key is press while the text is selected.

[2018-09-29 20:06] justcla commented on #27198
Thanks @janwilmans.

Yes, one command to toggle the selection (ie. ToggleSelectionComment)
and a separate command to toggle the line/s (ie. ToggleLineComment).

Is that how you understand it?

Shortcuts:
The most basic shortcut, (Ctrl+/) should be assigned to ToggleLineComment, as this is the one most people want most often.
ToggleSelectionComment could be assigned Ctrl+Shift+/. The beauty of this

[2018-09-29 20:17] Neme12 opened #30235 "Inferred type not working for yield return in local function"
[code]
If I choose to generate a field in the method, its type will be `int`. If I do the same inside the local function, the type of the field will be `object`, which is wrong.

[2018-09-29 20:17] Neme12 commented on #30235
⌛️ I am working on a fix.

[2018-09-29 22:41] #29390 closed

[2018-09-29 22:41] jcouv commented on #29390
Merged for 16.0 preview 2.

[2018-09-30 00:02] Neme12 commented on #5338
@jinujoseph I originally marked my PR as fixing this, but my fix was incorrect, so I removed it from that PR and won't be fixing this (at least not that PR, it already fixes a bunch of other issues). I'm sorry for the confusion. Would you please remove the '"Working" tag? Thanks.

[2018-09-30 04:32] vectorix opened #30237 "Will nulllable reference type optimize away null reference checks?"
This is a question, not a request. With the new C# feature for nullable reference, if a reference is not nullable, will the compiler/JIT optimize away null reference checks when accessing it (to improve performance)?

Thanks

[2018-09-30 09:59] svick commented on #30237
As I understand it, no, it will not, because it's a compiler-only feature. From the point of view of the runtime, all reference types are still nullable, so it will still have to perform null reference checks.

Also non-nullable reference types are not 100 % guaranteed to be not null. If you use `null` where it's not allowed, [you only get a warning, not an error](https://sharplab.io/#v2:EYLgZgpgh

[2018-09-30 15:36] Neme12 opened #30238 "Code fix for CS1002: "; expected""
I'd like a code fix that inserts the semicolon for me.

[2018-09-30 16:01] Neme12 opened #30239 "Formatting option for space after //"
I was encouraged by @sharwell's feature request in #30089, so I'm creating one of my own. :smile:

After typing `//` for a block comment and an alphanumeric character, I'd like a single space inserted before that character, so that my `//` and text are never touching.

**Steps to Reproduce:**

Type a new character inside the comment (`|` indicates caret position)
[code]
**Expected behavior**
[code

[2018-09-30 16:22] #26262 closed, assigned to nobody

[2018-09-30 16:40] Neme12 opened #30240 ""Make field readonly" should not fire if the field is a non-readonly struct and there are invocations on it"
"Make field readonly" should not be offered on a field whose type is a non-readonly struct if there are any invocations or property accesses to the field. Doing so is very dangerous because it silently changes semantics from invoking a method on the original field to invoking it on a copy. Example of bad behavior:

[code]

This program prints 1, but if we make the field readonly, it prints 0.

[2018-09-30 17:02] jcouv commented on #30219
@Neme12 Thanks for the detailed issue report. I tried transferring it to a unittest, but I didn't quite manage to repro. Specifically, `GetSymbolInfo` on the lambda parameter gave me no type.
I tried a simpler repro, and then also one with `ConcurrentDictionary`, but behavior was the same.

[code]

[2018-09-30 17:02] Neme12 commented on #30240
@sharwell I see you went with the solution of not offering MakeFieldReadonly, when the struct is mutable. That not only misses some scenarios where the field *could* be converted to readonly even though its mutable (because there are no writes and no invocations), but it is also wrong, as you can see in the example above. Any method in a struct can directly assign to `this` unless it is a readonly

[2018-09-30 17:32] Neme12 commented on #30219
@jcouv I'm sorry, it was actually `GetDeclaredInfo` on the parameter, not `GetSymbolInfo` (I only checked this with the syntax visualizer which doesn't distinguish these and forgot that this is a declaration 😕 ). Thanks for trying to investigate this.

[2018-09-30 17:43] sharwell commented on #30240
@Neme12 Is this currently broken somewhere? The following test is supposed to be verifying this case already:

https://github.com/dotnet/roslyn/blob/6dc2858f4a96abbaf955d572c127782c450b137a/src/EditorFeatures/CSharpTest/MakeFieldReadonly/MakeFieldReadonlyTests.cs#L848-L860

[2018-09-30 17:44] Neme12 commented on #30240
@sharwell Can you please take a look at my example in the issue? The key component is the assignment to `this`.

[2018-09-30 17:45] sharwell commented on #30240
@Neme12 Yep, I saw the commentary after I posted 👍

[2018-09-30 17:48] sharwell commented on #30240
This will fix the false positive mentioned, but it's going to cause a bunch of new false negatives. I'm a bit torn here; I need to figure out the prevalence of assignments to `this` in structs that have all-readonly fields. Perhaps an alternate solution is to report a diagnostic for assignments to `this` outside the constructor if the structure matches the readonly struct pattern.

[2018-09-30 17:49] Neme12 commented on #30240
Can you please show an example?

If the feature used information from ValueUsageInfo (and it showed proper results on all invocations and all usages) then everything should work.

[2018-09-30 17:51] sharwell commented on #30240
All immutable structs that compile against C# prior to the introduction of `readonly struct` and use fluent syntax for transforming the struct will fall into this category.

[2018-09-30 17:51] Neme12 commented on #30240
Now that we have readonly structs, I don't see a reason for this. There should instead be an analyzer to suggest making a struct readonly if all fields are readonly and there are no assignments to `this` inside it.

[2018-09-30 17:53] Neme12 commented on #30240
Yes, but we absolutely cannot know whether the implementation mutates the struct or not. There shouldn't be an analyzer out-of-the-box that suggests something that seems so innocent but can change the behavior.

[2018-09-30 17:53] janwilmans commented on #27198
There is one part where I'm not sure we are in agreement, when I use ToggleSelectionComment and I happen to have exactly a series of whole lines selected, I would want to the do a ToggleLineComment instead. That way you effectively never have to use ToggleLineComment if you don't want to.

[2018-09-30 18:02] Neme12 commented on #30240
If Roslyn shipped with an analyzer+code fix to make structs readonly, the false negatives would be increasingly less and less of a problem in the future.

[2018-09-30 20:30] jcouv commented on #30219
No worries. Thanks for the clarification.

Below is the repro-as-unittest. I agree it does seem odd.

Digging into this, I found that the selection of an overload for binding of error recovery case has little to do with the order of candidates from overload resolution. That selection is done by the method `GuessBestBoundLambda` (copied below, called from `CreateBadCall`) which selects the overload

[2018-09-30 21:12] jcouv commented on #30219
Hum, there's a problem with the approach I was thinking about (tweaking `CreateBadCall` to sort candidates with guess from lambda error recovery).
What if we have an invocation with two bad lambdas?
Both lambdas/arguments will be sorted independently (inside `BuildArgumentsForErrorRecovery`), and it's possible their top choice won't agree. Then it's unclear what should be the top choice for the in

[2018-09-30 21:17] Neme12 commented on #30219
Hm, I see. I didn't know that's the way the compiler works. It seems a bit odd to me that the binding of individual arguments could actually come from different overloads. I would expect there would be a single overload picked (for example to have the minimum sum of diagnostics in all lambdas in the invocation) and then every argument would have to bind to one parameter from that overload . :( Thi

[2018-09-30 21:31] MaStr11 commented on #30238
The fix should also support [CS1003](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs1003), [CS1513](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs1513), [CS1043](https://docs.microsoft.com/de-de/dotnet/csharp/misc/cs1043) and maybe other related compiler errors.

[2018-09-30 21:34] Neme12 commented on #30240
Also, what would be the appropriate solution to fix this diagnostics? Make the fields not readonly? But then I would get the "Make field readonly" diagnostic :smile: This seems a lot like the suggestion to not use readonly for arrays. The language has well-defined semantics here, and I would prefer to use readonly whenever possible, even if the struct makes assignments to `this`.

[2018-09-30 21:45] Neme12 commented on #30238
Thanks for the link. Is that supposed to be kept as an updated list of compiler diagnostics and issues or code fixes for them? if so, it would be nice for this to exist somewhere in Roslyn where anyone could contribute to that.

[2018-09-30 21:46] Neme12 commented on #30238
That spreadsheet is very nice, but I think it might be a good idea to make a textual form of this or something that people can contribute to.

[2018-09-30 21:48] Neme12 commented on #23326
@sharwell That list is very nice, but it's a bit empty. Do you think it would be a good idea to put that somewhere in the Roslyn repo as a markdown file so that anyone could contribute to it, either by linking to an issue they created or a code fix?

[2018-10-01 05:28] gauravagarwal28 commented on #26505
@olgierdd and @Olivia-Blundell

Please provide log your issue at:
https://github.com/dotnet/coreclr/issues/19578

This is the coreclr repo of dotnet. The issue is still open. You may find a better response there.

[2018-10-01 06:28] rollerozau commented on #4588
problem for me was code written since last compiled. I cut it out and program compiled ok, I then pasted bits of it back until it gave me the error again, deleted this code then rewrote the bit i deleted and everything went back to normal. Dont know if his will work for everyone and slightly time consuming as you have to cut and paste a bit to find the problem lines

[2018-10-01 07:31] jinujoseph commented on #29264
Sure @JurjenBiewenga , go for it.

[2018-10-01 07:46] jinujoseph commented on #30226
cc @richaverma1  for info

[2018-10-01 07:48] #29752 closed

[2018-10-01 07:48] #29753 closed

[2018-10-01 08:37] jinujoseph commented on #30168
[moved ](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/694550)to Editor Team

[2018-10-01 08:37] #30168 closed

[2018-10-01 08:52] MaStr11 commented on #30238
I went through the excel sheet and this is what I came up with. The fixer can be made to support these error codes:

Error | Error code | Errortext
-- | -- | --
ERR_SemicolonExpected | CS1002 | ; expected
ERR_CloseParenExpected | CS1026 | ) expected
ERR_RbraceExpected | CS1513 | } expected
ERR_LbraceExpected | CS1514 | { expected
ERR_InExpected | CS1515 | 'in' expected
ERR_ExpectedContextualKeywor

[2018-10-01 08:56] Neme12 commented on #30238
You're right. In my opinion, these should be quite low in priority so you would only get them at the top if you have no other errors. For example:
[code]
Here you'd like to hit Ctrl+. and generate method `Foo` even though you don' have a semicolon yet.

[2018-10-01 10:19] busyscout commented on #29923
There should be an option "Disable" or "None" in Severity to skip this check. Take a look how it's done e.g. in Jet Brains Resharper.

[2018-10-01 11:15] arveduil commented on #29951
I would like to fix it, any hints for beginners?

[2018-10-01 15:28] rchande commented on #30218
@jaredpar Yes.

[2018-10-01 16:54] jaredpar commented on #30044
Hmm. I'm going to ask around about this. I'm pretty much at a loss as to what is going on here. It's very certainly a machine state issue as I can run the binaries locally and produce binaries (as well as go through other tests to look for consistency issues). But given that it's across four machines that's particularly odd. I've eliminated all the other items that I would suspect being a problem

[2018-10-01 16:56] jinujoseph commented on #29951
cc @jcouv , @tmat

[2018-10-01 16:59] jaredpar commented on #30044
@MilKAOS one idea that popped up. Have you tried running `csc.exe` on a simple "Hello World" style application directly? That would isolate out potential issues in your build setup.

[2018-10-01 17:24] caslan opened #30247 "Editor Completion - Show private members in the completion set for the debugger EE windows"
Debugger EE windows (Watch / Locals / Autos / Immediate) can evaluate and display the value of private members, so it would be good to show them in the completion set.

[2018-10-01 18:51] 0xd4d commented on #29951
This can be closed and moved, it's not a Roslyn bug, it's a bug in the .NET debugger.

A `DebuggerValueTypeSlot` is created and its `m_dict` has two keys (fields) but instead of field type `System.String`, it's `System.__Canon`.

Field passed to GetField(): `System.String Item1`

Field stored in m_dict: `System.__Canon Item1`

The dictionary lookup fails.

[2018-10-01 18:53] mavasani commented on #29434
Fixed with https://github.com/dotnet/roslyn/pull/30173

[2018-10-01 18:53] #29434 closed

[2018-10-01 18:58] abrunetta opened #30248 "Custom Attribute type is always ErrorType in NetCore"
**Version Used**: Microsoft.CodeAnalysis.CSharp 2.9.0

**Steps to Reproduce**:

1. Create a NetCore assembly with a Custom Attribute in it, named `MyCustomAttribute`, inheriting `Attribute` and using `AttributeUsage=Method`.
2. Create a NetCore assembly referencing _CodeAnalysis.CSharp 2.9.0_ to try to get the type of the attributes of a method. Add the first assembly as a `MetadataReference` of t

[2018-10-01 19:38] CyrusNajmabadi commented on #30239
This feels too aggressive to me.  But i'd be ok with it if there were an option here.  I personally do `//whatever` a lot, and so i don't like the idea that that would be updated across all code-bases.

[2018-10-01 19:41] CyrusNajmabadi commented on #30219
I'm not sure the IDE makes many assumptions here.  The general idea is: welp... it's error code, so the candidates are best effort.  we'll just use them to inform some info, with the hope that it's somewhat reasonable in practice across enough scenarios.

[2018-10-01 19:42] CyrusNajmabadi commented on #30240
Agreed.  I'd be willing to accept the feature not being perfect, but being *good enough* for the vast majority of coding patterns out there.

[2018-10-01 19:45] CyrusNajmabadi commented on #30240
We have lots of analyzers that will change behavior in circumstances considered so non-common that it's not worth blocking things for.  Features like 'rename' (which also has one of hte highest correctness bars out there) also have some pathological cases where it will get things wrong.

It's a non-goal for analyzers to be perfect, or to be 100% certain that they will not change behavior in *any*

[2018-10-01 20:28] kzu commented on #15974
So, to chime in super late @DustinCampbell, regarding [your comment](https://github.com/dotnet/roslyn/issues/15974#issuecomment-277445143) on allowing completion providers via nugets, is that something we support already? /cc @Pilchie

Thanks!

[2018-10-01 20:33] jcouv commented on #29951
Thanks @0xd4d for the bug report and analysis. I have filed an [internal issue](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/694770) on the debugger.
I'll go ahead and close this roslyn issue.

[2018-10-01 20:33] #29951 closed

[2018-10-01 20:44] ivanbasov opened #30249 "MinimalTestExportProvider.GetEditorAssemblyCatalog returns an internal service TestExperimentationServiceInternal"
in code review  (https://github.com/dotnet/roslyn/pull/29016) @jasonmalinowski  wronte:

We should remove the internal service from the output of the public method.

[2018-10-01 20:45] jaredpar commented on #30207
Looks like an IDE issue. The exception is occuring in the compiler but it appears to be due to `CSharpIntroduceVariableService.Rewriter.Visit` substituting a parenthesized node for a simple name in a context that doesn't allow it.

[2018-10-01 20:46] jaredpar commented on #30237
@svick is correct. This will not optimize away null checks.

[2018-10-01 20:46] #30237 closed

[2018-10-01 20:47] jaredpar commented on #30248
What diagnostics are reported here?

Also what references are you providing to the compilation?

[2018-10-01 21:16] AlekseyTs commented on #30214
LDM confirmed today that no diagnostics should be reported for scenarios mentioned above.

[2018-10-01 21:47] ivanbasov opened #30250 "VisualBasicCompletionCommandHandlerTests.TestNumberDismissesCompletion(completionImplementation: Modern) is flaky"

[2018-10-01 21:51] creationw commented on #19205
I had the exactly same result. Waiting Visual Studio team to address this issue.

[2018-10-01 21:58] Pilchie commented on #15974
+ @jinujoseph for completion.

[2018-10-01 22:11] heejaechang commented on #19205
@creationw the process run as low priority to do solution wide features. so it is expected to use high CPU if machine is Idle.

if you don't like high CPU usages, you should turn off those solution wide features that are expensive to run such as code lens, live unit testing, source based test discovery, full solution analysis.

if you believe the process still uses a lot of CPU time even after you

[2018-10-01 22:33] genlu commented on #14341
It's the latter - the namespace name declaration in that file is updated to have the new name

[2018-10-01 23:10] justcla commented on #27198
Then don't use ToggleSelectionComment. Use ToggleLineComment instead.

Generally, you'd always use ToggleLineComment, and only use ToggleSelectionComment when you want to comment a selection.

To have a command do line comment sometimes and block comment other times would be confusing (as you demonstrated in your example above).

[2018-10-01 23:12] Neme12 commented on #30219
@CyrusNajmabadi As you can see in this bug: #5338, some features do. The generated argument comes from a different overload than the return type. In this case, it happens to actually work out anyway but generally this could very easily introduce incorrect code.

[2018-10-01 23:36] Neme12 commented on #26266
Are there any updates on this?

[2018-10-02 00:14] jinujoseph commented on #26266
@Neme12 what update are you looking for. We are currently following this progress, where community PR are assigned out to one of the buddies and we work together to get it in on time.
Pls bring forward if there are any concerns.

[2018-10-02 00:50] jinujoseph commented on #30207
cc @CyrusNajmabadi

[2018-10-02 02:11] shyamnamboodiripad opened #30256 "Missing dependencies for some packages on myget feed"
I was trying to update Roslyn dependencies for LUT repo to this version - [2.11.0-beta1-63328-08-7e9abcc2](https://dotnet.myget.org/feed/roslyn/package/nuget/Microsoft.CodeAnalysis/2.11.0-beta1-63328-08-7e9abcc2)

However I am running into some errors like below when I build after this update. The [Microsoft.VisualStudio.IntegrationTest.Utilities](https://dotnet.myget.org/feed/roslyn/package/nuget

[2018-10-02 02:33] CyrusNajmabadi commented on #30219
I have no doubt that it has come up.  But my point was that by and large we don't care (and individual case notwithstanding).

The bar for IDE features is far lower than that :)  As per our conversations in the past, the goal is to do a *good* job in the *majority* of common cases.  It's not to do a perfect job in all cases.

[2018-10-02 02:38] CyrusNajmabadi commented on #3249
@j3parker It's safe to assume that if there hasn't been any further discussion or links here then nothing really had changed.  IMO, this is not a bug.  It's an intrinsic way the Compilation/SemanticModel apis work.  Barring any major shifts in thinking here, the right way to deal with this would be to add the appropriate references to the compilation, then ask semantic model questions.  Thanks!

[2018-10-02 03:24] jcouv opened #30257 "Confirm whether obsolete DisposeAsync should be reported"
[code]

[2018-10-02 03:27] jcouv opened #30258 "Convert/deconstruct in async-foreach only if TryGetNext succeeded"
Should also cover nested deconstruction (with `Deconstruct` and with tuples).

[code]

[2018-10-02 05:08] jcouv opened #30260 "DisposeAsync of async-iterator method should execute required `finally` blocks"

[2018-10-02 05:10] mkrueger opened #30261 "Possible format document issue"
We got following feedback for vs.net for mac (same behavior than vs.net):

https://developercommunity.visualstudio.com/content/problem/343595/autoformatting-doesnt-fix-indentation.html

I too think that format document should be a bit more intrusive here and hard correct indenting levels.

[2018-10-02 08:14] Chris2011 commented on #8379
FYI, I switched from JavaCC to ANTLR4.

[2018-10-02 11:52] sharwell commented on #13313
Tentatively marking as **Won't Fix**, but will leave it open until I can get feedback from a design review meeting.

[2018-10-02 11:54] sharwell commented on #16088
For the purpose of the design review outcome, this is a duplicate of #28729. I will follow up there with next steps.

[2018-10-02 12:03] sharwell commented on #28729
Following a design review, we decided to initially pursue this indirectly by investigating a new API that allows the formatting operations in the IDE to be replaced by an extension. The primary concerns with direct approaches were the following:

* Column formatting is highly subjective, and options face a [last mile](https://en.wikipedia.org/wiki/Last_mile) scaling problem.
* The current formatti

[2018-10-02 12:18] sharwell commented on #29677
This went to a design review, and seems like a reasonable improvement. The preferred implementation would follow the rough design of other similar situations:

* Prefer to offer the diagnostic, even in cases where a change to the signature would break the code (e.g. the method implements an interface method before the change, but does not implement the interface method after the change).
* Add thi

[2018-10-02 12:38] sharwell commented on #30240
This went to a design meeting yesterday. We decided to proceed with an interim solution, which may be adjusted in the future for increased accuracy. The primary motivating concerns were the following:

1. `readonly struct` is preferred, but is so new that most existing source code and libraries do not use it extensively. We should encourage a move in this direction over time.
2. The situation lead

[2018-10-02 12:44] sharwell commented on #30240
This is technically correct, however we do push for a very high correctness bar. This applies especially to cases like this bug, where most professional C# developers will not understand why this bug can occur or why `readonly` can change program behavior. Incorrect application of this code fix for the relevant scenarios is likely to go undetected indefinitely, and would be extremely difficult to

[2018-10-02 13:04] sharwell opened #30262 "Verify Make Field Readonly is not reported for assignment to this"
A test should be added to verify "Make Field Readonly" is not reported if an assignment to `this` occurs outside the constructor of a struct.

For example, in the following code, no suggestion should be provided to mark `S.Value` as `readonly`.

[code]

[2018-10-02 13:05] sharwell opened #30263 "Report a diagnostic for assignment to this with readonly fields"
This is related to #30240 and #30262.

A diagnostic should be reported if an assignment to `this` appears outside the constructor of a `struct` when the type contains one or more fields marked `readonly`.

[2018-10-02 13:06] sharwell commented on #30240
Closing as **Won't Fix** in favor of the interim solution provided by #30262 and #30263.

[2018-10-02 13:06] #30240 closed

[2018-10-02 13:20] CyrusNajmabadi commented on #30261
This is *very* intentional.  Indentation is super personal, and many different projects use different indentation strategies for code.

Up until there are ways for users to be very explicit about what indentation approaches they want (including 'do not touch'), format-document shouldn't really do anything here because it *will* disastrously upset many customers who now find their carefully indente

[2018-10-02 13:41] sharwell opened #30264 "AD0001 should not be reported for expected cancellation"
**Version Used**: 15.9 Preview 2

**Steps to Reproduce**:

1. Write a `SyntaxNode` analyzer
2. In the analyzer, call `context.CancellationToken.ThrowIfCancellationRequested()`

**Expected Behavior**:

In cancellation scenarios, the IDE silently stops analysis and continues execution.

**Actual Behavior**:

The IDE reports AD0001 for the analyzer throwing an exception. Here is an example:

[code]

[2018-10-02 13:59] mavasani commented on #30264
Interesting we do seem to handle cancellation in the exception filter before reporting AD0001: http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/AnalyzerExecutor.cs,1411. Need to investigate how the cancellation token passed to the context is different from the one help by the driver.

[2018-10-02 14:19] AArnott commented on #30264
This is because we wrap `OperationCanceledException` along with all other exceptions thrown from analyzers in an `Exception` that gives much more context about where the error occurred so that such error reports are more actionable.
We didn't mean to or need to wrap OCE in particular, but we hadn't had a special case to let that slip through. We fixed this in https://github.com/Microsoft/vs-thread

[2018-10-02 14:42] jnm2 commented on #29677
Here's an example of behavior I'd expect:

[code]

[2018-10-02 14:50] sharwell commented on #29677
@jnm2 Thanks, updated the list of edge cases to include `null`

[2018-10-02 14:56] Neme12 commented on #29677
Additionaly, if the async method already returns ValueTask<T> or some other task-like, I would expect the code fix to keep it and only change the type argument, as opposed to replacing it with Task.

[2018-10-02 14:59] jnm2 commented on #29677
Right, the generic type shouldn't change. Also:

[code]

[2018-10-02 15:01] jnm2 commented on #29677
And:

[code]

[2018-10-02 15:16] Neme12 commented on #23581
@sharwell I see it too. Can you reopen this?

[2018-10-02 15:16] MaStr11 commented on #29677
and

In a related code fix #22314 *AddParameterCodeFixProvider: Add support for method invocations.* we offer two options for his problem (*fix this method only* or *fix this and all related methods*). My first thought was to do the same here. I haven't heard of a *completing the current refactoring-assisted operation* dialog before. It would be nice to get a description because #22314 is likely a

[2018-10-02 16:51] svick opened #30267 "Should documentation be updated with info about the RoslynDeployment project?"
As far as I can tell from https://github.com/dotnet/roslyn/pull/28016, the RoslynDeployent project (originally called just "Roslyn") should be the default when running a custom build of Roslyn. But the article [Building, Debugging and Testing on Windows](https://github.com/dotnet/roslyn/blob/master/docs/contributing/Building%2C%20Debugging%2C%20and%20Testing%20on%20Windows.md#trying-your-changes-i

[2018-10-02 17:28] jcouv opened #30268 "WinForms generated code warns about uninitialized fields"
This was reported recently by a preview user on .NET Core 3, and also previously (by Pilchie).

![winforms](https://user-images.githubusercontent.com/12466233/46365599-dd188600-c62d-11e8-90a0-40c9fe9fcb38.png)

[2018-10-02 17:32] jcouv commented on #25998
Fixed in https://github.com/dotnet/roslyn/pull/30243

[2018-10-02 17:32] #25998 closed

[2018-10-02 17:39] dpoeschl commented on #15974
@kzu No, that ability does not exist today. The only way to do this currently is the mechanisms Dustin described earlier (VS: export as `[ExportCompletionProvider]`; Omnisharp: [more complicated as Dustin explained](https://github.com/dotnet/roslyn/issues/15974#issuecomment-277435347)).

I don't see an active issue for this... If this is something you think you'd make use of, please file an issue

[2018-10-02 17:39] mavasani opened #30269 "Changes to GetValueUsageInfo for invocations on structs"
See comments from @Neme12: https://github.com/dotnet/roslyn/pull/30155#issuecomment-425120266 and https://github.com/dotnet/roslyn/pull/30155#issuecomment-425128179

We need to do the following test work as part of this change:
1. Add unit tests for all analyzers consuming this API ([current references](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Extensions/OperationExtensions.cs,ad

[2018-10-02 17:49] jcouv commented on #24037
Notes on testing the feature in dev hive:
- add a reference to NuGet package `System.Threading.Tasks.Extensions` (I've used `4.5.1`)
- add the following code to provide types (including `IAsyncEnumerable<T>` and `ManualResetValueTaskSourceLogic<T>`:

[code]

[2018-10-02 17:57] sirgru commented on #14853
How does the TypeScript-style initialization not have the same problem as the Strict version of this proposal? It will force the property/field name into the same name as argument. It just puts it in the unexpected place (the c-tor).

I've also seen this syntax in the dotnet/csharplang#804 propsal:

[code]
which I will not comment on.

For the record, I don't support this proposal any more. I don'

[2018-10-02 18:08] kzu opened #30270 "Allow CompletionProviders via nuget package's Analyzers"
Currently, you need a VS extension to provide one. Since a completion provider might provide completion to an accompanying library, it might be more useful to ship it together with the library via a nuget package, just like the analyzers and code fixes can.

See https://github.com/dotnet/roslyn/issues/15974#issuecomment-426364738

[2018-10-02 18:08] kzu commented on #15974
Done, thanks! https://github.com/dotnet/roslyn/issues/30270

[2018-10-02 18:45] sharwell opened #30271 "Fix failure to dispose 'scope' after failure to dispose 'connection'"
In the following code, an exception during the call to `connection.Dispose` will result in `scope` not getting disposed. This eventually leads to an exception in the finalizer of `PinnedRemotableDataScope`.

https://github.com/dotnet/roslyn/blob/1f082e40860963edcd81d1567069aae924d9369f/src/Workspaces/Core/Portable/Remote/RemoteHostSessionHelpers.cs#L43-L46

:link: https://devdiv.visualstudio.com/D

[2018-10-02 18:47] CyrusNajmabadi commented on #14853
Because, in JavaScript, it's common for those names to match.  So the common pattern is supported by the simple code snippet.  That's different from .Net where the 99.9% naming case for the two ends up making them *not* match.

[2018-10-02 18:57] tmat commented on #30256
Will be addressed by https://github.com/dotnet/roslyn/pull/30273

[2018-10-02 19:09] jcouv commented on #29987
15.8.6 was just released. I may not be able to confirm the fix this afternoon. If anyone here does try, please share your result. Thanks!

[2018-10-02 19:14] heejaechang commented on #30271
yep. thank you for the analysis. I will take a look.

[2018-10-02 19:17] gafter commented on #10690
The language doesn't work this way any longer.

[2018-10-02 19:17] #10690 closed

[2018-10-02 19:30] janwilmans commented on #27198
Anyway, the most important thing is probably to at least have the consistency that is missing now, ctrl-k, c and ctrl-k,u behave different now depend on what is selected. If we could clean that up by adding just ToggleSelectionComment and ToggleLineComment would make me very happy.

[2018-10-02 19:47] jcouv commented on #29987
Awesome. Thanks @Suchiman for confirming.

[2018-10-02 20:06] alrz commented on #26947
Maybe same for `static`, `abstract`, `sealed`, etc for types and methods?

[2018-10-02 20:06] CyrusNajmabadi commented on #27198
Note: i'm finding htis conversation *super* confusing to keep track of.  If any work happens here, it would be great if it could take the approach of listing out example inputs, the command executed, and what the exact output expected should be.  Thanks!

[2018-10-02 20:10] janwilmans commented on #27198
Right, I will try to be crisp:

![image](https://user-images.githubusercontent.com/5933444/46249943-2f388c00-c421-11e8-87fe-7c2823834e0a.png)

ToggleSelectionComment turns this into:

![image](https://user-images.githubusercontent.com/5933444/46249922-e8e32d00-c420-11e8-85c5-63de16cd7a84.png)

and:

![image](https://user-images.githubusercontent.com/5933444/46249929-fc8e9380-c420-11e8-864d-05cda0b

[2018-10-02 20:14] CyrusNajmabadi commented on #27198
I'd definitely like examples that crispify how selectiosn matter (especially for ToggleCommentSelection).  Your example is super weird in that the selection starts inside the comment and spreads outside of it.  I'm not sure what i would expect 'toggleselection' to do if invoked on htat again :)

[2018-10-02 20:15] janwilmans commented on #27198
Sorry, that screenshot is based on the current behaviour which is admittedly weird. I will correct that using paint :)

[2018-10-02 20:32] CyrusNajmabadi commented on #27198
Usually it's good to use ``~~`` markers if they're very old.  If you mean stuff you just wrote, feel free to edit :)  The problem generally arises if someone has already quoted you and whatnot.  If that hasn't happened, no biggy.  And, evne if it has happened, it's probably ok too :D

[2018-10-02 20:44] gafter commented on #30223
@jaredpar said elsewhere:

[2018-10-02 20:44] gafter commented on #30223
I agree.  I propose we add a (bool) compilation option specifically for “compilation at runtime” that would do this.

[2018-10-02 20:48] sirgru commented on #14853
I know, I was referring to implementing TypeScript-style initialization in C#.

[2018-10-02 21:49] jcouv opened #30275 "Async-Streams: GetAsyncEnumerator should produce new instances when needed"
Using similar logic as regular async methods (ie. checking the state and the threadID), we can decide whether the current state machine can be used or re-used, or if we need to instantiate/initialize a new one.

[2018-10-02 22:49] Neme12 commented on #17214
@jcouv It looks like they are all merged now into the `RoslynDeployment` project which is now also set as the startup project by default. Do you think this issue can be closed?

[2018-10-02 22:53] ivanbasov opened #30276 "make CommitManager language neutral"
1. No need to use IFeaturesCustomCommitCompletionProvider
2. "custom" commits should be called for all providers
3. borrow "rollback" from the old code and remove deletion of currentBufferSpan
4. make CommitManager language neutral
`document.Project.Language == LanguageNames.VisualBasic `
should not be there because this code can be called by extensions like TypeScript.

[2018-10-02 23:00] ivanbasov opened #30277 "completion customCommit: add a telemetry event if delete and replace spans overlap"

[2018-10-02 23:09] heejaechang commented on #23382
@nnpcYvIVl can you share repro steps? that can make things more faster.

[2018-10-02 23:32] jcouv commented on #17214
Yup. Let's close. Thanks

[2018-10-02 23:32] #17214 closed

[2018-10-02 23:36] 333fred opened #30278 "Failed pattern match makes variable become nullable"
_From @Suchiman on October 2, 2018 23:24_

**Version**: 15.8.6 using latest 09/11/18 nullable reference types preview

In the following code, the presence of the `if (ex is ArgumentException)` will make `ex` become analyzed as nullable in the else branch
[code]

_Copied from original issue: dotnet/csharplang#1904_

[2018-10-02 23:37] 333fred commented on #30278
/cc @cston @jcouv

[2018-10-02 23:41] jcouv opened #30279 "Should compiler diagnostics include nullability?"
For example:
[code]

This would affect the default for symbol display options.
The current plan is that only warnings related to nullability feature would include nullability.

[2018-10-02 23:45] jcouv commented on #30278
Yes. That's a known issue :-(
We should be able to fix that before the next preview. https://github.com/dotnet/roslyn/issues/29318
Closing as duplicate.

[2018-10-02 23:47] Suchiman commented on #30278
@jcouv it's not tracked as known issue on the wiki page

[2018-10-03 00:01] jcouv commented on #30278
Good point. I'll add a note. Thanks

[2018-10-03 00:13] gafter opened #30282 "Add APIs to get symbols from patterns..."
We need APIs to get the symbol corresponding to a pattern:
1. For a `DeconstructionPatternClauseSyntax`, the `Deconstruct` method
   `public IMethodSymbol GetPatternSymbol(DeconstructionPatternClauseSyntax)`

Also consider possibly adding APIs
1. For a `SubpatternSyntax` of a `PropertyPatternClauseSyntax`, the property or field
1. For a `SubpatternSyntax` of a `DeconstructionPatternClauseSyntax`,

[2018-10-03 01:09] #30278 closed

[2018-10-03 02:41] nnpcYvIVl commented on #23382
@heejaechang
[code]
Select i in the assignment and press <kbd>CTRL</kbd>+<kbd>.</kbd> to cause "ExtractMethodCodeRefactoringProvider encountered an error and has been disabled".

[2018-10-03 07:33] Neme12 commented on #23581
cc @MaStr11

[2018-10-03 10:58] Neme12 commented on #23581
You're right, I just checked and this is fixed in master. Although it's a little weird that the code fix title says "Use 'is null' check". In my opinion it should say "Use '== null' check".

![image](https://user-images.githubusercontent.com/11444821/46406406-b597eb00-c70b-11e8-9183-172fc16e5377.png)

I'm assuming that the language feature would only be enabled for C# 8. If that's the case, this l

[2018-10-03 11:37] Mike-EEE opened #30284 "Compiler Should Emit More Efficient IL When Involving Readonly Structs with Nullable<T> Properties"
**Version Used**: Latest in Visual Studio 15.8.6

**Steps to Reproduce**:

Sample code:

[code]

**Expected Behavior**:

Expected behavior (in my view, at least) is to use the minimal amount of code and enjoy the same performance benefits.  That is, it is _generally_  intuitive (yes, there are exceptions 😅) to expect less code = better performance.

**Actual Behavior**:

In this case, it seems tha

[2018-10-03 11:51] leandroklein commented on #12363
That will help a lot!

[2018-10-03 12:13] MaStr11 commented on #23581
Thanks for checking, that it is fixed in master. I couldn't check it myself because I have trouble getting my Roslyn experimental hive working (once more).

That's right. I think we did so because this is temporary until C# 8 is released and it's an edge case that doesn't come up that often. The title already distinguishes between `is null` and `not is null` and could be extended to also support `

[2018-10-03 12:16] couven92 opened #30285 ".NET Compiler Platform SDK not usable on Visual Studio 2017"
**Version Used**:
.NET Compiler Platform SDK, version `2.0.0.6140902` (Marketplace Item Name: [`VisualStudioProductTeam.NETCompilerPlatformSDK`](https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.NETCompilerPlatformSDK))

Visual Studio 2017 Community `15.8.6`

**Steps to Reproduce**:

1. Download the .NET Compiler Platform SDK from [Marketplace](https://marketplace.visuals

[2018-10-03 12:19] couven92 commented on #30285
The issue is also present in Visual Studio Community 2017 Preview, version `15.9.0 Preview 3.0`

[2018-10-03 12:35] svick commented on #30285
I believe that in VS 2017, you're not supposed to use that extension. Instead, you should install the SDK using the VS installer.

I think the description of the extension should be updated to explain that.

[2018-10-03 12:50] Neme12 commented on #23581
It is "sort of" temporary. C# 7 will not change and many users will (as always) continue using projects that have to support building in VS 2017, or even 2015 and avoid using C# 8 for a few years. It would be nice if the title was fixed, because this special case is not going to get removed any time soon.

[2018-10-03 13:06] MaStr11 commented on #29677
WIP: My current list of compiler error candidates. I will finish this list later.

### [cs0127](https://docs.microsoft.com/de-de/dotnet/csharp/misc/cs0127) Since 'function' returns void, a return keyword must not be followed by an object expression

[code]
Applies to: return

### [cs0029](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0029) Cannot implicitly

[2018-10-03 13:40] sharwell commented on #30285
Duplicate of dotnet/roslyn-sdk#80

[2018-10-03 13:40] #30285 closed

[2018-10-03 14:54] cston opened #30287 "Nullability mismatch reported for delegate parameter of extension method"
[code]
[code]

[2018-10-03 15:10] jaredpar commented on #30223
"compilation at runtime" is the scenario though, not the behavior. Shouldn't the flag express the behavior here? Was thinking something along the lines of "PreferNonCorLibraryTypes".

[2018-10-03 15:16] sharwell commented on #23581
Closing this as the original bug was still fixed as described. Regressions can be opened as a new issue.

[2018-10-03 15:19] sharwell commented on #23581
I believe this would need a check for the `LangVersion` property of the project, but that's pretty normal by now.

Based on this, I don't *think* we need to create a new issue, but we can if people want.

[2018-10-03 15:22] stijnherreman opened #30288 "Incorrect "Add 'this.'" diagnostic for collection initializers"
**Version Used**: 15.8.6

**Steps to Reproduce**:

Create a new .NET Standard Class Library project.

Add the following `.editorconfig` file:

[code]

Add the following `Class1.cs` file:

[code]

**Expected Behavior**: No IDE0009 error.

**Actual Behavior**: An IDE0009 error is listed for the `new Foo() { Bar = "bar" }` line in the collection initializer.

![image](https://user-images.githubuserco

[2018-10-03 15:30] stijnherreman commented on #30288
Duplicate of #29413.

[2018-10-03 15:30] #30288 closed

[2018-10-03 15:50] DustinCampbell commented on #29780
This is due to https://github.com/Microsoft/MSBuildLocator/issues/16. The issue here is that the WPF build task creates an AppDomain to run the MarkupCompiler in. However, the MSBuildLocator never has an opportunity to hook up an AssemblyResolve event on that new AppDomain, so the `Microsoft.Build.*` assemblies fail to be found within that AppDomain. The workaround is to set the `AlwaysCompileMark

[2018-10-03 15:50] #29780 closed

[2018-10-03 15:54] DustinCampbell commented on #29435
This was an intentional source break. We felt that this was acceptable because a source breaking change was already introduced by moving MSBuildWorkspace to a new assembly and NuGet package that could not be type-forwarded to.

[2018-10-03 15:54] #29435 closed

[2018-10-03 15:58] DustinCampbell commented on #29121
To use `MSBuildWorkspace`, you must provide an instance of MSBuild that it can use. Unfortunately, with MSBuild 15.0, the MSBuild assemblies are no longer included in the GAC. So, you must either include all of the `Microsoft.Build.*` assemblies with your application, or use the `Microsoft.Build.Locator` package to find an instance of MSBuild on the current machine. For an example, see the project

[2018-10-03 15:59] #29121 closed

[2018-10-03 15:59] sharwell commented on #30288
Duplicate of #28509

[2018-10-03 16:15] DustinCampbell commented on #29096
From the bug repro, it looks like this is a bug for Buildalyzer and not MSBuildWorkspace, is that correct?

With MSBuildWorkspace in Roslyn 2.9, you must provide MSBuild and the full MSBuild toolset yourself. The problem is that, with MSBuild 15.0, the MSBuild assemblies are no longer included in the GAC, which means that you need to include the parts of the MSBuild toolset with your application o

[2018-10-03 16:16] DustinCampbell commented on #25314
@jinujoseph, you assigned this to me, but I don't know much about `VisualStudioWorkspace`. Should this be redirected to @jasonmalinowski?

[2018-10-03 16:19] CyrusNajmabadi commented on #23581
I'm fine with this case having a slightly incorrect title.  :)

[2018-10-03 16:19] DustinCampbell commented on #29436
@Ziriax : Making a version of MSBuildWorkspace prior to 2.9 work with VS 2017 is a bit tricky. I think your workaround is probably the right one. However, I don't think this is really an MSBuildWorkspace issue that we can solve.

[2018-10-03 16:19] #29436 closed

[2018-10-03 16:34] CyrusNajmabadi commented on #23581
It works for me in master.  So things seem fine :)

[2018-10-03 16:39] jaredpar opened #30289 "Tests incorrectly depend on Windows paths"
A number of tests incorrectly depend on Windows style paths. This blocks the test execution on Linux. These tests should be converted to run on all operating systems.

Note: there are tests out there which use windows style paths to test windows behavior. They should not be tagged with this issue. This issue is reserved for tests which could be made to work with some effort.

[2018-10-03 16:57] DustinCampbell commented on #29992
@doorman02 : If you've moved over to using the `Microsoft.Build.Locator` as suggested in that Stack Overflow post, then yes, that is the correct solution.

[2018-10-03 17:10] olmobrutall opened #30291 "Slow Compile with Analyzers"
I'm distributing a Signum Framework a git submodule ([example application](https://github.com/signumsoftware/southwind)) and instead of distributing a Roslyn Analyzer as a Nuget package, I'm just [pointing to a dll](https://github.com/signumsoftware/southwind/blob/master/Southwind.Entities/Southwind.Entities.csproj#L85) stored in the source code.

In .Net Framework that was working OK, but now mig

[2018-10-03 18:38] jaykrell commented on #29428
https://github.com/dotnet/coreclr/blob/master/src/vm/reflectioninvocation.cpp#L2055
vs.
https://github.com/mono/mono/blob/master/mono/metadata/icall.c#L1021

[2018-10-03 18:50] CyrusNajmabadi commented on #28729
@sharwell I started looking into this.  But i need some help from @dotnet/roslyn-ide or @heejaechang .  Basically, i could not figure out where in the stack of the formatting engine either:
1. explicit code to handle alignment would fit.
2. an extensibility point could be added that would run at teh appropriate time to be able to handle this sort of thing.

I'd be happy to work on this and contrib

[2018-10-03 18:59] CyrusNajmabadi commented on #28729
Basically, my hope had been that i could effectively register syntax-kind (of syntax-node) actions, that could then process the tree at some point (similar to how we register actions for analyzers).  However, this didn't really work well because different actions needs to see the results of other formatting steps.

Some features seemed to need to be bottom up.  Others top-down.  And, running forma

[2018-10-03 19:33] Ziriax commented on #29436
With VS15.8.5, another workaround is needed, you need to import the `System.Threading.Tasks.Dataflow` package.

[2018-10-03 19:34] DustinCampbell commented on #29122
I'll take a look. MSBuildWorkspace is supposed to lift any unresolved metadata references to project references.

[2018-10-03 19:34] dpoeschl opened #30293 "`ubuntu_16_debug_prtest` failing merge to `dev16.0.x-vs-deps` with "Too many compiler server connection failures""
`ubuntu_16_debug_prtest` failures so far:

On PR https://github.com/dotnet/roslyn/pull/30292:
- https://ci.dot.net/job/dotnet_roslyn/job/dev16.0.x-vs-deps/job/ubuntu_16_debug_prtest/26/
- https://ci.dot.net/job/dotnet_roslyn/job/dev16.0.x-vs-deps/job/ubuntu_16_debug_prtest/27/

[code]

[2018-10-03 19:36] dpoeschl commented on #30293
@jaredpar I don't see any other existing bugs for this, is it known? Can someone take a look at this now since it's blocking the merge of @jasonmalinowski's fix for lab/ml? Also, can we merge this particular change without this leg passing?

[2018-10-03 20:02] heejaechang commented on #28729
in the design meeting, we choose to go after different route than expanding our formatting engine to support this since this is just one of thing people want us to support but there are many others people want for their liking.

we will pursue a way to plug in their own formatter on IDE which will run when we used to run. they will be able to just delegate work to ours if they see they don't care

[2018-10-03 20:08] heejaechang commented on #28729
if we do this ourselves, doing it 1 pass will be too hard. I would just make it 2 passes where first pass does the formatting it does now, and then second pass, finding those groups, and find base position to align tokens, and have adjust space operations to move base token to right place, and have alignment operations to align all tokens to the base token.

that should get us to the result mentio

[2018-10-03 20:14] jasonmalinowski opened #30294 "Compiler assemblies in the Compiler VSIX are no longer being ngened"
It seems the ngen metadata for the Compiler VSIX isn't being applied correctly, which means vbcscompiler.exe itself and System.Reflection.Metadata aren't being ngened. This is causing a moderate RPS regression.

[2018-10-03 20:37] CyrusNajmabadi commented on #28729
What do you mean by 'greps our formatting results'?

[2018-10-03 20:42] heejaechang commented on #28729
so, the brainstorm was, we provide a way for custom formatter to get results of previous formatters (let's say we let them to chain formatter), the result could be just a new tree with span or something.

and work on it.

formatter is just special form of code transformation. so at the end, everything is just code transformation with certain restrictions.

what we brainstormed is basically piping

[2018-10-03 20:42] CyrusNajmabadi commented on #28729
Can you explain a bit more what you mean by this?

[2018-10-03 20:44] CyrusNajmabadi commented on #28729
What 'previous formatters' are you referring to here?  The existing operations we already apply?  Or do you mean the outputs of other 3rd party formatting extensions?

[2018-10-03 20:45] heejaechang commented on #28729
think about code cleanup, whatever result of all previous code cleanup made on the tree given.

[2018-10-03 20:45] CyrusNajmabadi commented on #28729
This is a bit on the vague side :)  i'm trying to get a more concrete idea of what i would be doing.  i.e. where in teh existing formatting stack you envision this, and what sort of shape you would want this to have.  Once we have that nailed down, we can consider if such an approach would be sufficient for effectively providing a 'column-alignment' formatting extension.

[2018-10-03 20:47] CyrusNajmabadi commented on #28729
I don't know what this means: "whatever result of all previous code cleanup made on the tree given."

Do you mean hte syntax-tree itself?  the new root?  the set of edits?  the document?  Can you dive in a little deeper to get a bit of clarity here?  Thanks!

[2018-10-03 20:50] janwilmans commented on #27198
Btw, why is this a /roslyn thing? how is this part of the compiler and not the IDE?
Asking because I also have a proposal for filtering of the output-pane, should I create an issue here?

[2018-10-03 20:55] CyrusNajmabadi commented on #27198
Roslyn *is* the IDE as well.  Not just hte compiler.

[2018-10-03 21:00] tomakita commented on #17974
It's not clear from reading through this issue (or maybe I missed it) -- is .NET Standard support for MSBuildWorkspace something that's planned?

[2018-10-03 21:00] janwilmans commented on #27198
Ok, I did not know, that makes sense then :)

[2018-10-03 21:02] gafter commented on #30219
To answer the original questions...

Yes, that is an unreasonable assumption simply because things don't work that way. We try to find a best parameter type on a parameter-by-parameter basis. We used to do things based on the first candidate, and we found that resulted in really bad error recovery for many situations. See https://github.com/dotnet/roslyn/issues/11619 and the PRS that it references

[2018-10-03 21:07] Neme12 commented on #30219
Ok, thanks.

[2018-10-03 21:07] #30219 closed

[2018-10-03 21:09] heejaechang commented on #28729
okay. let me try to tell you what we talked. again, I am not trying to fight or argue with you. I am really trying to tell you what we talked in the meeting. if the way I say is hard for you to follow, let me tag @sharwell to give you clear idea in a way you can understand.

okay, so we talked about not just this particular bug, but how we can open up formatting to users so that they can plug in f

[2018-10-03 21:15] gafter commented on #8379
We did a lot of work to write a parser that people wanting to parse C# can use.  We didn't do it by producing a grammar and using some kind of tool, but rather we wrote it by hand.  We do not plan to attempt to do it another way and hope to get a parser that behaves identically to the one in Roslyn.  We only intend to maintain one parser.

[2018-10-03 21:15] #8379 closed

[2018-10-03 21:20] CyrusNajmabadi commented on #28729
I didn't htink you were :)  I was just trying to get clarity as this is something i'd be interested in working on.  However, i just don't understand enough yet to really know how to go about doing that :)

[2018-10-03 21:28] heejaechang commented on #28729
if you can tell me what you understood or imagined, then I can say whether you understood or not and figure out what part I need to explain again.

I am not sure what I can do with just I still don't have clear idea or understand.

otherwise, it will be me just repeating myself without going anywhere.

[2018-10-03 21:30] CyrusNajmabadi commented on #28729
A major question i have is:

1. do we consider the extension points as just transforming a tree-to-a-tree?  or
2. do we consider them as providing things like 'spacing operations' or 'alignment operations'

For either of those.  Do we think that we would basically run each extension in order (with some sort of ordering across all of them)?

[2018-10-03 21:43] #28011 closed

[2018-10-03 22:01] CyrusNajmabadi commented on #17684
PR is here: https://github.com/dotnet/roslyn/pull/28231
and went into the 16.0 milestone.  So i would imagine it will be in an upcoming 16.0 release.  Cheers!

[2018-10-03 22:11] ericmutta opened #30296 "VB: "Change signature" refactoring dialog should show modifiers in VB syntax."
**Version Used**:

Visual Studio Community 2017 v15.8.5

**Steps to Reproduce**:

Type the following code upon which we will invoke the `change signature` refactoring:

[code]

Place the caret on the `Blah` method name and select `change signature` from the actions menu:

![vs_changesig_1](https://user-images.githubusercontent.com/20465797/46441792-41dbf980-c770-11e8-9338-03c4368eeab1.png)

The `c

[2018-10-03 22:11] jcouv opened #30297 "Can/should `is` operator update null-state in false case?"
[code]

There are variants of this scenario with `string!` and `string~`. The question is whether we should learn in both branches, or whether we should treat one branch as unreachable.

Relates to https://github.com/dotnet/roslyn/pull/30283

[2018-10-03 22:14] jcouv commented on #29318
Fix for false warning is merged (will be available in dev16 preview1 at the latest)

Filed follow-up issue for refining analysis (https://github.com/dotnet/roslyn/issues/30297)

[2018-10-03 22:14] #29318 closed

[2018-10-03 22:48] stephentoub opened #30298 "Bug with ternary ref assignment"
**Version Used**:
Visual C# Compiler version 2.10.0.0 (750236a7)

**Steps to Reproduce**:

Compile with `csc /langversion:latest test.cs`
[code]

**Expected Behavior**:

Outputs:
[code]
due to x.Left being set to y.

**Actual Behavior**:

Outputs:
[code]
empty lines, with x.Left remaining null.

If I instead change:
[code]
to be:
[code]
then it behaves as expected.

[2018-10-03 22:51] ManishJayaswal opened #30299 "Regenerate OptProf training data and apply it to binaries befrore preview 1 ships"

[2018-10-03 22:52] ericmutta commented on #26663
Hi @CyrusNajmabadi I finally figured out what's causing this issue!

Install the awesome [CodeRush extension](https://marketplace.visualstudio.com/items?itemName=DevExpress.CodeRushforRoslyn) if you are not already using it.

Type this code into any VB project (the actual code doesn't matter, we just need something to invoke the `reorder parameters` refactoring on):

[code]

Now make sure the two

[2018-10-03 22:52] jcouv commented on #17684
My understanding is this change will first be visible in dev16 preview 2.

[2018-10-03 22:54] heejaechang commented on #28729
my understanding is we do (1) rather than exposing formatting engine's detail.

[2018-10-03 22:55] CyrusNajmabadi commented on #26663
Good to know :)  Perhaps this issue coudl be filed with CodeRush?

[2018-10-03 22:57] jnm2 commented on #17684
😱 Is Preview 1 out and about yet?

[2018-10-03 22:58] CyrusNajmabadi commented on #28729
Ok thanks!  I'll see what i can whip up.  I think it will be necessary then to have a way for people to export formatters which can then be named and ordered.  That way we can have a reliable way of pulling these in and executing them in a deterministic order once our actual formatting is complete.

Formatter would then basically get the tree and be allowed to party on it.  I'm not sure if we woul

[2018-10-03 23:01] jinujoseph commented on #17684
yes it will be part of 16.0.Preview2

[2018-10-03 23:02] stephentoub commented on #30298
Why is the ref needed both before flag and before each side?

[2018-10-03 23:02] ericmutta commented on #26663
Sure thing! Shame they have no github presence, but I guess I can just link back to this issue when using their issue tracker :+1:

PS: the issue is very likely to be caused by the extension itself because attempting the same steps in a C# project produces the same behaviour as in the VB project, making Rosyln probably innocent in all this :)

[2018-10-03 23:03] #30298 closed

[2018-10-03 23:12] alrz commented on #30298
I think `b? ref x : ref y` is actually the same as `b? x : y` except that it becomes an L-value. So in any case we should `ref` the conditional to get a reference of the result. `M(ref b? ref x : ref y)` etc.

[2018-10-03 23:12] #24877 closed

[2018-10-03 23:14] Neme12 commented on #30298
I'm not completely sure... you'd have to ask someone from @dotnet/roslyn-compiler (try tagging them, it doesn't work if I do it as an outside contributor).

The way I understand it, the ref after the `=` is part of the assignment operator, not part of the expression , and it makes this a "ref assignment". The ref on each side od ?: makes this a ref conditional expression. Now a ref conditional can

[2018-10-03 23:19] amcasey opened #30300 "Misplaced indent guides"
**Version Used**: 2.10.0-beta2-63318-05+750236a7562d8fd0d5efe311c52ae0703093165f

🔗 Also filed as [AB#1302761](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1302761)

**Steps to Reproduce**:

[code]
**Actual Behavior**:

![image](https://user-images.githubusercontent.com/10508071/46444683-f30a7180-c727-11e8-8da0-0d6daa765b6a.png)

Seems likely to be related t

[2018-10-03 23:27] heejaechang commented on #28729
so, current formatter can align tokens. what it can't do right now is 2 things

1. it doesn't know which token should be base token other tokens must be aligned to
2. it doesn't know what tokens go into this "other tokens"

the AlignTokensOperation we currently has was introduced with parameters alignment in mind, not the one we have on this issue.

so, base token and other tokens were assumed to

[2018-10-03 23:41] 333fred commented on #29948
Manual Testing Notes:

1. Formatting - Verify spacing around, no spacing inside
2. Indentation - Typing Enter in an unfinished statement indents the next line
3. GoToDef/Impl/FAR - Verify doesn't break
4. Find References on LHS shows as read/write /cc @mavasani
5. Colorization - verify is colored as punctuation
6. Extract Method/Introduce Variable - Verify nothing is offered
7. Inline Temp - Verif

[2018-10-04 00:02] mavasani commented on #29836
@AlekseyTs @333fred @jinujoseph @heejaechang @gafter I found the test for the lambda case. Invocation myDelegate2 is the one where getting CFG fails.

[code]

[2018-10-04 00:08] tmat commented on #30223
We should revisit if we still need this. I think this was a problem in early .NET Core FX. Might not be a problem anymore for 2.0+.

[2018-10-04 00:10] #30294 closed

[2018-10-04 00:57] AmadeusW commented on #30097
What's the desired behavior from the user point of view? Shouldn't the test be the absolute truth (and therefore fail)?

[2018-10-04 01:03] jaredpar opened #30303 "Scripting has issues resolving types on Mono"
When executed a number of tests are printing out extra error messages of the form:

The errors also include `int`.

[2018-10-04 01:17] jaredpar opened #30304 "Relative base path loading not working in scripting on Mono"
The test ReferenceDirective_RelativeToBaseParent fails with the following error:

[code]

[2018-10-04 01:22] heejaechang opened #30306 "improve Sqlite reading perf"
Current implementation of sqlite persistent storage always read full data before returning stream.

but the way we use this data is almost always checking some header from it and drop the stream if data is out of date.

we can either change the persistent interface to have some kind of version stuff to make this pattern more official and more efficient by not reading unnecessary blobs or make sqli

[2018-10-04 01:51] CyrusNajmabadi commented on #29948
1. Need completion to show up on the right side if this is an enum type.
2. if someone is generating a method on the left or right side, it should figure out the right type.

[2018-10-04 03:13] CyrusNajmabadi commented on #30306
This would be a good idea, but has serious implications that need to be considered.  I avoided this initially because of the semantics of sqlite around streaming and blobs.  Namely, the only safe way to read a blob is in a transaction.  otherwise, you can fail while doing it if something else writes to that blob.  So, if we returned a stream we'd have two choices:

1. not be in a transaction, but

[2018-10-04 03:44] zezba9000 opened #30307 "Rolsyn 2.9.0 very broken or is it me?"
**Version Used**: Works in 2.8.2 but broken in 2.9.0

**Steps to Reproduce**:
NOTE: Two bugs here.

1. Update this proj on GitHub to 2.9.0: https://github.com/zezba9000/CSharpTranspiler
2. Install other missing packages: Microsoft.CodeAnalysis.Workspaces.MSBuild & Microsoft.Build.Runtime
3. Put a break-point on line 29 in file "CSharpTranspiler/Program.cs"
4. Run "CSharpTranspiler" proj and you wi

[2018-10-04 04:15] heejaechang commented on #30306
sure, we can make TryReadStreamAsync(key, predicate, cancellation) so predicate can say true or false to return stream where predicate is basically getting the version/checksum parts.

so, creating SqlStream or something that internally hold onto transaction and SqlConnection to lazily read blob is too hard to implement? transaction can go away when the SqlStream is closed or disposed.

[2018-10-04 04:17] CyrusNajmabadi commented on #30306
it's not hard.  It's just very very very dangerous :)   You're now basically making it so that some external client of hte persistence service can totally muck up the persistence service itself.

For example: remember that issue that Sam had to fix, where we were holding a connectin open across an async call?  Now you'd have to worry about that sort of thing *externally* as well as *internally* to

[2018-10-04 04:30] CyrusNajmabadi commented on #30306
Not exactly.  I'm saying: in order ot read data safely from sqlite, you need to be in a transaction.  And transactions are not cheap and should not be held open for arbitrarily long periods of time.  It's very intentional and specific that we hold transactions only as long as necessary in the current impl.

The approach of running an arbitrary predicate while having a transaction open means we may

[2018-10-04 04:31] heejaechang commented on #30306
Task<bool> WriteStreamAsync(Document document, string name, Checksum checksum, Stream stream, CancellationToken cancellationToken = default);

this force everyone to use checksum. I told you already several times that not every consumer of persistent service uses checksum. so it only works for those but nobody else.

that's why I thought the predicate. if having code there is a problem, we can mak

[2018-10-04 04:34] CyrusNajmabadi commented on #30306
No it doesn't.  You'd only use checksums if you used those overloads.  The existing overloads would sill work fine.

Existing consumers that don't use checksums can still use the existing surface area that doesn't need/require checksums.

Right.  But, like i tried to explain, the predicate approach is concerning because it means running *arbitrary* code while holding what is effectively a giant lo

[2018-10-04 04:36] heejaechang commented on #30306
I guess where I dont agree is where db is expensive so all its data must be copied over as soon as possible and connection must be closed as soon as possible.

that's usually no no for db. especially for select. you do select which get you a cursor in the db. and you read only data you need and move to next row as you process rather than copy everything over so that you can let the connection go.

[2018-10-04 04:41] heejaechang commented on #30306
but I want all of the persistent service consumers to use a new pattern as well so that they don't need to read whole data just to check versions.

...

if predicate is the problem, we can provide a certain number of predefined implementations that we know it is safe to run inside.

[2018-10-04 04:42] CyrusNajmabadi commented on #30306
If they're jsut checking versions... they can use the form i just specified.  i.e. there can be a small blob of data that is the checksum/version and which can easily be read independently of the main bulk of hte data...

[2018-10-04 04:42] CyrusNajmabadi commented on #30306
I'm not sure what this means.  Can you clarify?

[2018-10-04 04:44] CyrusNajmabadi commented on #30306
Sorry, i think you may have taken 'Checksum' very literally. What i meant was: an auxiliary column that can store a smaller blob of information.  This can be read/written very quickly, and can be used to determine if the larger blob of information is needed.  THat's why i simply wrote it as:

[code]

By 'checksum' i just meant: it's the way clients can read/write info to *check* if 'data' is valid

[2018-10-04 04:50] heejaechang commented on #30306
I am fine having checksum/version specific column, what I am not sure is on the API signature. it can't be checksum type since then, no other types of version can be used.

...

VersionChecker which has Check(Stream ...)

and we have predefined implementation such as ChecksumChecker, VersionChecker and etc. VersionChecker's ctor is private so no one outside can create one. and it has

VersionCheck

[2018-10-04 04:50] CyrusNajmabadi commented on #30306
This doesn't apply here.  Sqlite is fine for things like normal selects.  Where this gets tricky is *specifically* blob reading.  You either can do the approach where you have fast-select reading of blobs *but* you run the risk of the blob becoming unreadable underneath you.  *Or* you put hte blob reading in the transaction, but keeping that transaction open has significant implications for perf,

[2018-10-04 04:51] sharwell commented on #30306
⚠️ We should not proceed with an implementation of this issue prior to defining an objective way to measure the performance under well-defined real-world scenarios. See #23583 and #26778 for examples. All changes should be supported by differential measurements, and `[PerformanceSensitive]` applied in cases where the performance improvements don't have automated regression tests.

[2018-10-04 04:52] CyrusNajmabadi commented on #30306
It would literally just be a stream/byte[]/something-that-represents-a-blob :)

The way you've described VersionChecker seems fine to me.  It's an another indirection around the blob.  But i wouldn't have a problem with that.

[2018-10-04 04:52] heejaechang commented on #30306
okay, let's not dig into whether holding transaction long time is okay or not. since we already know it is an issue with sqlite we have.

and yes. if the Checksum is not THE checksum, I am okay. having that will prevent us from reading bunch of unnecessary bits from sqlite and through away.

[2018-10-04 04:54] CyrusNajmabadi commented on #30306
Agreed.  That would be fine with me.  I'm also in agreement with what @sharwell mentioned.  Though, this should be pretty easy to measure with some simple perf markers.  An easy test would be:

1. open roslyn.sln, allow indices to get up to date.
2. close roslyn.sln.
3. switch to some fairly different branch.
4. reopen roslyn.  see costs of index checking.

We can do the above both before/after ht

[2018-10-04 04:58] heejaechang commented on #30306
sure, manual testing is fine, but not doing until automated test seems to excessive.

...

for manual testing, it doesn't even need to switch to other branch. all we need to do is open solution, make sure everything wirtten, close solution and reopen exact same solution.

for indexing, since it sees all data is there, it will simply not do anything and move on.

[2018-10-04 05:08] sharwell commented on #30306
Automated tests are not required; often they are either impossible or impractical. However, these cases should still have regression prevention in the form of clearly-articulated impact on a manual test that reproduces the issue.

Once you have the test plan, make sure to create a new issue with complete steps including:

* The target project(s) involved (include commit hashes for any non-Roslyn p

[2018-10-04 05:08] CyrusNajmabadi commented on #30306
Aside:

A few things to address there.

1. the connections don't need to be closed as soon as possible.  Indeed, we try very hard to *not* close connections and to pool them as much as possible.  We *do* need ot be careful to not hold onto connections such that as threads come in, they keep getting a new connection since all the pooled connections are currently in use by a thread.
2. for *most* th

[2018-10-04 05:10] CyrusNajmabadi commented on #30306
That would def be an important case (probably the most important case) to consider.  It's the common case where the data is unchanged, and will likely show the most benefit.

I wanted to also test the less common, but also important case.  i.e. a lot of data has changed and now we have to do the reading of the checksums *and* of the blobs.

[2018-10-04 08:34] Chris2011 commented on #8379
@gafter so as I understand you right, I can forget to use the ANTLR version until someone will update this one from the official, handwritten one from you/your team, right? That handwitten lexer/parser whatever is your own format and similar to roslyn?

So that means, more or less, I have to use roslyn (however) or the LSP (if syntax highlighting is possible) to get the full features of newest C#,

[2018-10-04 09:08] hyzx86 commented on #26505
I  have the same problem ,my project run on androd Linux Deploy

Welcome to Ubuntu 16.04 LTS (GNU/Linux 4.9.65-perf+ armv8l)

 * Documentation:  https://help.ubuntu.com/
Ubuntu 16.04 LTS [running via Linux Deploy]
Last login: Thu Oct  4 13:24:51 2018 from 127.0.0.1
root@localhost:~#

build error:

Restore completed in 63.74 ms for /home/android/gitCodes/myGit/OrchardCore/test/OrchardCore.Tests.Pag

[2018-10-04 12:37] jnm2 commented on #16154
Fyi, work has started on stack-allocated objects. https://github.com/dotnet/coreclr/pull/20251

[2018-10-04 14:03] flamz3d opened #30308 "Multiple framework versions"
Roslyn Version 2.6+

How can I compile an application which references the 4.0 framework, but also references a DLL that itself references the 2.0 framework?

I get errors when emitting, such as:
`"System.Object" is declared in an assembly that is not referenced.`

I tried hacking a MetaDataReferenceResolver, and resolving mscorlib 2.0 manually, but I still get the reference errors when emitting.

[2018-10-04 14:13] Neme12 commented on #30269
Actually no, it doesn't, ref extension methods are only allowed on structs... don't listen to me :smile:

[2018-10-04 14:18] sharwell opened #30309 "Debug integration test assertion in symbol end verification"
Excuse the blurry image. MS Teams hangs if I try to view, copy, or save a non-blurry one.

![image](https://user-images.githubusercontent.com/1408396/46480269-8094a280-c7b6-11e8-84a1-054c98784602.png)

[2018-10-04 15:19] KristianJakubik commented on #30263
Hi, I would like to work on this, if it is possible.

[2018-10-04 15:20] cston opened #30310 "`is` pattern resets inferred nullability"
[code]
[code]

[2018-10-04 15:33] sharwell commented on #30263
@KristianJakubik that would be awesome! Since this seems more related to code *quality* than code *style*, it would likely follow the new pattern used by @mavasani for the dead code analyzer. This analyzer is much less complex though.

The code fix would remove `readonly` from all instance fields of the type. I'm getting pulled onto some other tasks in parallel, so if I miss a question from you fe

[2018-10-04 15:37] DustinCampbell commented on #29810
FWIW, so long as your build server is using VS 2017, the MSBuild locator will *probably* work with it (unless the version is very, very old). I'd aim for VS 2017 >= 15.6, but say, 15.3, would probably work.

[2018-10-04 16:10] DustinCampbell commented on #29122
I can reproduce the issue using the provided test project (thanks!) and the Solution Explorer sample.

[2018-10-04 16:41] CyrusNajmabadi commented on #30306
Yes, there were a few reasons at the time.  The documentation and communication around this has likely been lost.  A major reason was to be able to control lifetimes, pooling and *most critically* allocations.  There was also no need or want for rich ORM/entity functionality.  Indeed, the goal was to strip out effectively anything unnecessary, since the is all effectively a key/value store.

Basic

[2018-10-04 16:52] heejaechang commented on #30306
but that also brings in bunch of code we need to maintain? where Sysmte.Data.Sqlite is maintained by Sqlite team itself and updated as new version of Sqlite is released? that seems to be able to reduce us code to maintain?

also, SystemData.Sqlite is open source, so if allocation or any other performance is an issue, we could contribute to the System.Data.Sqlite to improve those?

anyway, okay. I

[2018-10-04 16:58] mavasani commented on #22545
I believe the primary request here has been addressed by https://github.com/dotnet/roslyn/pull/30155.

![image](https://user-images.githubusercontent.com/10605811/46490084-dd468c00-c7bb-11e8-9a39-5d46aeca53fd.png)

New FAR column allows classification, sorting, filtering, etc. by reference kind (this will show up in Dev16 Preview2)

@HaloFour Does this meet your request?

[2018-10-04 17:01] DustinCampbell commented on #29122
I think I see the issue. The problem is that the `<OutputPath/>` property in both `ClassLibrary1.vbproj` and `ClassLibrary2.vbproj` is only set when the `Platform` is `x86`. However, the project sets `Platform` to `AnyCPU` if hasn't already been set elsewhere, so `MSBuildWorkspace` is assuming `AnyCPU`. I can see a similar issue in Visual Studio if I first delete the `.vs` folder from the root of

[2018-10-04 17:03] DustinCampbell commented on #29122
Unfortunately, `MSBuildWorkspace` doesn't know how to handle the highly-undocumented information in the file `TestVB2.suo` in the `.vs` folder, which is where the previously selected Configuration and Platform are stored.

[2018-10-04 17:04] HaloFour commented on #22545
@mavasani

That looks really nice and solves most of my use cases!

[2018-10-04 17:30] CyrusNajmabadi commented on #8379
The handwritten lexer/parser *is* Roslyn :)

The format is just a C# module that lexes/parses and produces the SyntaxTree that powers the Roslyn compilers/IDEs.

You can use this directly as just a library.  Or you can access to higher level versions of this through projects like OmniSharp.  Or you can get it by using hte LSP and calling into some existing server that already hosts this stuff.

My

[2018-10-04 17:32] heejaechang commented on #30306
System.Data.Sqlite supports .Net standard so, I think it is as portable as us since we are also .net standard portable.

I dont know, I looked System.Data.Sqlite and its API was consistent with other SQL apis .net has (since I guess it implements common interface) and familiar.

is using bare-bone actually brought in big perf win?

[2018-10-04 17:40] CyrusNajmabadi commented on #30306
Also, to put it in perspective, the entire amount of 'glue' code we use here is ~200 lines (not counting things like comments).  it's really basic, and just ensures very clear semantics around how we're using the underlying API.

The majority of that is just in SqlStatement which exposes a very slim wrapper around sqlite3_stmt and makes it easy to pool and use the fnuctionality we need, and in Sql

[2018-10-04 17:50] CyrusNajmabadi commented on #30306
I would ask differently.  What is the value in using it when VS already uses sqlitepcl, and that library works *great* for our needs?  It's a very simple and easy to use library.  it's good enough for projects like the *AzureSDK*: https://www.nuget.org/packages/Microsoft.Azure.Mobile.Client.SQLiteStore.  The sqlitepcl bundle has millions more downloads than the system.data.sqlite lib.  etc. etc. e

[2018-10-04 17:51] jinujoseph commented on #22545
@jnm2 does #30155 addresses your requirement

[2018-10-04 18:05] heejaechang commented on #30306
so, I shouldn't even ask about it? I don't get why asking about the decision is forbidden.

the reason I asked was, I saw the System.Data.Sqlite and Microsoft.Data.Sqlite and interface was familiar to me with many APIs I have used before for any SQL work in .NET

I looked your code, I can't say whether it is right or wrong since it requires me to read all Sqlite documentation to read the code. it

[2018-10-04 18:11] heejaechang commented on #30306
using standard APIs brings in many benefits I believe. it first removes learning curve for new people to use it.  it gives lower hurdle for people to use Sql on other places directly rather than through IPersistentService.

it lets us to replace SQL engine to other one if we find better one or VS start to support SQL natively? and etc.

I am not saying so we need to change. I dont think I ever sug

[2018-10-04 18:13] heejaechang commented on #30306
I guess that is the problem then, since it happened so long ago, not many people know why it happened that way. then, question naturally come up since people doesn't know about the history.

[2018-10-04 19:03] CyrusNajmabadi commented on #30306
Sqlite is a standard API. It's one of the most widespread sql APIs in existence.  Its api is available on every mainstream platform, as well as mobile, desktop, etc. etc.  It's effectively universally supported and well known. That's one of the reasons we (and the rest of VS) picked it :)

I don't see how that is changed by using sqlitepcl...

That's why this is all abstracted underneath IPersiste

[2018-10-04 19:06] jcouv opened #30314 "ExtractMethod isn't aware of nullability"
![image](https://user-images.githubusercontent.com/12466233/46496799-c7da5d80-c7cd-11e8-96c7-2ba3df9bb67d.png)

FYI @dpoeschl

Note this can only be fixed once the compiler exposes public APIs for nullability of expressions (see [workitems list](https://github.com/dotnet/roslyn/issues/22152))

[2018-10-04 19:09] CyrusNajmabadi commented on #30306
It happened this way because sqlitepcl is a suitable and effective library for accessing sqlite :)   It's very good at what it does, and is extremely popular (tens of millions of usages across all the versions it offers).  It's good enough that other MS teams (like Azure and VS) use it :)

Basically, as i've stated, if you want something else to be used, there would be a need to show why that alte

[2018-10-04 19:12] CyrusNajmabadi commented on #30306
I think this decision is only like 2 years old (maybe 3)...  :)

I feel like i've given a wealth of on why this was an appropriate pick.  However, despite that, it *feels* like there is pushback happening here on this decision.  That's the part i'm not getting.   It's unclear to me what information i could provide that would satisfy this line of questioning, as all the information provided so far

[2018-10-04 19:14] jcouv opened #30315 "ChangeSignature isn't aware of nullability"
1. The popup dialog doesn't display nullability annotations (`?`).
2. Changing the order of parameters on a signature involving nullability causes a crash.

![image](https://user-images.githubusercontent.com/12466233/46497221-d2492700-c7ce-11e8-921d-af8617290154.png)

FYI @dpoeschl

[2018-10-04 19:17] jcouv opened #30316 "GenerateType isn't aware of nullability"
The refactoring is successful, but nullability annotations (`?`) are missing in the generated code.

Note: this screenshot doesn't actually demonstrate the bug, since `x2` and `y2` are both non-null at that point in the code.

![image](https://user-images.githubusercontent.com/12466233/46497440-674c2000-c7cf-11e8-85ae-1806bcb7e056.png)

FYI @dpoeschl

[2018-10-04 19:21] jcouv opened #30317 "OverrideCompletion isn't aware of nullability"
1. The completion list doesn't show nullability annotations (`?`) in the signature
2. The generated code also lacks nullability annotations in the signature

Update: from discussion with C# and corefx folks on 3/29/2019, we think that override completion should always change the return type to be non-nullable. For example, if you make an override for `object.ToString()`, the completion should be `

[2018-10-04 19:23] jcouv opened #30318 "IntroduceLocal isn't aware of nullability"
![image](https://user-images.githubusercontent.com/12466233/46497754-518b2a80-c7d0-11e8-8344-6caca66b2a91.png)

[2018-10-04 19:26] jcouv opened #30319 "GenerateMethod isn't aware of nullability"
Also covers GenerateConstructor

![image](https://user-images.githubusercontent.com/12466233/46497884-a5960f00-c7d0-11e8-8df8-cbfada727a74.png)

![image](https://user-images.githubusercontent.com/12466233/46498365-12f66f80-c7d2-11e8-8634-5bbc01c3fde8.png)

FYI @dpoeschl

[2018-10-04 19:28] jcouv opened #30320 "EncapsulateField isn't aware of nullability"
![image](https://user-images.githubusercontent.com/12466233/46497973-f3127c00-c7d0-11e8-9c2e-7b4afecaf311.png)

FYI @dpoeschl

[2018-10-04 19:31] jaredpar opened #30321 "Tests need to use dotnet when launching csc on CoreClr / Mono"
Tests assume they can just execute `csc` which is true on Windows Desktop. It is not true on Mono / CoreClr. In those cases need to use the host to launch.

[2018-10-04 19:32] jcouv opened #30322 "UseLocalFunction isn't aware of nullability"
![image](https://user-images.githubusercontent.com/12466233/46498119-5ef4e480-c7d1-11e8-8050-c237235b9a43.png)

FYI @dpoeschl

[2018-10-04 19:32] heejaechang commented on #30306
so that is the reason I was asking about System.Data.Sqlite since it is abstraction over Sqlite so that It can be used in place where people use any .net SQL data abstraction.

I dont and I dont think people who consume SQL want to know details on Sqlite. they just want to consume it as they would consume any .NET SQL.

[2018-10-04 19:33] jcouv opened #30323 "GenerateField isn't aware of nullability"
Also covers GenerateField, and GenerateProperty.

![image](https://user-images.githubusercontent.com/12466233/46498224-ad09e800-c7d1-11e8-9783-c34aaa19997b.png)

FYI @dpoeschl

[2018-10-04 19:38] jcouv opened #30324 "ImplementInterface isn't aware of nullability"
Also covers ImplementAbstractClass

![image](https://user-images.githubusercontent.com/12466233/46498457-5650de00-c7d2-11e8-9743-30cf44a67d19.png)

![image](https://user-images.githubusercontent.com/12466233/46498531-8f894e00-c7d2-11e8-8c0f-520bd4bc6bfa.png)

FYI @dpoeschl

[2018-10-04 19:41] jcouv opened #30325 "MakeMethodAsync isn't aware of nullability"
![image](https://user-images.githubusercontent.com/12466233/46498620-d2e3bc80-c7d2-11e8-8fe2-6d7a267eb24d.png)

FYI @dpoeschl

[2018-10-04 19:44] CyrusNajmabadi commented on #30306
System.Data.Sqlite does not give you that.  You still need to understand all this stuff.  For example, if what you're doing would cause a 'LOCKED' or 'BUSY' error.  Or how you need to properly open a connection to the DB.   Or how you need to manage threading/lifetimes.  Look at the chm docs for system.data.sqlite.  They are quite involved and they require that you understand deeply all the implic

[2018-10-04 19:46] jcouv opened #30326 "PeekDefinition doesn't seem to work with nullability"
When I invoked PeekDefinition (`alt+F12`) on a simple method, the inline popup appeared, but not contents got displayed (only a spinner animation).

![peek-definition](https://user-images.githubusercontent.com/12466233/46498832-5dc4b700-c7d3-11e8-84f1-769b09e5e117.gif)

FYI @dpoeschl

[2018-10-04 19:49] heejaechang commented on #30306
if it requires such detail on db implementation, then, it might not that good one to use...

people uses SQL so that they can do simple stuff simple.

[2018-10-04 19:54] jcouv opened #30327 "MetadataAsSource isn't aware of nullability"
The output from MetadataAsSource is lacking nullability annotations (`?`).
The `[Nullable]` attribute is displayed, instead of the `?` in the proper location(s).

![image](https://user-images.githubusercontent.com/12466233/46499305-9022e400-c7d4-11e8-9298-b0f49d681304.png)

Note: we need to display `#nullable enable/disable` which can be tricky

FYI @dpoeschl

[2018-10-04 19:56] jnm2 commented on #22545
@jinujoseph tl;dr yes.

https://github.com/dotnet/roslyn/pull/28231 addresses what I was asking for in this thread, summarized in the pictures here: https://github.com/dotnet/roslyn/issues/22545#issuecomment-366847223. That's for when I know I want the getter or the setter and nothing else.

https://github.com/dotnet/roslyn/pull/30155 addresses rarer (but just as cool) scenarios: field usages, and

[2018-10-04 19:58] jnm2 commented on #22545
@mavasani Super unimportant, but is `NameOnly` going to show up pascal cased in the final UI?

[2018-10-04 20:03] CyrusNajmabadi commented on #30306
I"m not sure what that means.  As far as i know, there is no sql api out there that divorces you from having to understand and carefully consider all the ramifications of the APIs.  To use sql effectively, you need to understand this stuff, and you need to do things judiciously.  The parameters used to create the DB are important.  How you partition your tables, indices and queries is important.

[2018-10-04 20:06] mavasani commented on #22545
This is how it has been checked in, but we can surely make a change if it seems appropriate.

[2018-10-04 20:10] jinujoseph commented on #22545
Thanks for the confirmation @jnm2
I will go-ahead and close this issue (refer #28231 & #30155 )
If there are more improvements to be made on top of the current experience , pls feel free to file an issue

[2018-10-04 20:10] #22545 closed

[2018-10-04 20:14] jnm2 commented on #22545
@mavasani It seems like a leaking implementation detail ("look, we used an enum"). I think the style guide for UI elements is sentence casing.

(**UI text** section in https://docs.microsoft.com/style-guide/text-formatting/formatting-common-text-elements, sections in https://docs.microsoft.com/style-guide/procedures-instructions/formatting-text-in-instructions.)

[2018-10-04 20:15] heejaechang commented on #30306
what I meant was, when I use sql before in any other db I listed before as long as I understand sql.

when I do create/select/update/delete through sql, I didn't need to care something like ah, will db in lock mode so I can't issue this command now? am I holding connection more than 5 seconds too expensive and etc. should the transaction be avoided in this situation since it can bring down the who

[2018-10-04 20:19] CyrusNajmabadi commented on #22545
@jnm2 is right. this should be one of:

1. 'Name'
2. 'Name only'
3. 'Name Only'

it def should not be NameOnly :)

[2018-10-04 20:21] jaredpar opened #30328 "Code page behavior different on CoreClr / Mono"
CoreClr / Mono have different code page behavior that blocks some tests.

[2018-10-04 20:28] jnm2 commented on #22545
\*I pay attention now that your PR is closed (sorry about that 😳)

[2018-10-04 20:33] CyrusNajmabadi commented on #30306
You do need to care about this.  Or, you were in an environment where problems here were not an issue for your business needs.  Understanding the implications of your DB choices is something pretty much anyone needs ot understand in real production scenarios.  Different DBs have wildly different characteristics, and what may work well in one, may be a significant issue in another.  There are entir

[2018-10-04 20:33] jinujoseph commented on #22545
@jnm2 no worries , we can address this as a follow-up PR

[2018-10-04 20:48] CyrusNajmabadi commented on #30314
This somewhat worries me.  Is each feature going to have to know about these types?  That seems... not good.  Shouldn't this just fall out, just like any other type change (like adding tuples)?

[2018-10-04 20:50] CyrusNajmabadi commented on #30315
That's concerning.  What's the crash? Does that indicate some change in behavior in existing APIs that is not compatible with previous contracts?

[2018-10-04 20:52] CyrusNajmabadi commented on #30316
Julien, how is this expected to work?  What is the type of the 'x2' local?  Is it `string?` (because that's how it was declared), or is it `string`, because flow analysis determined it is never null?

if the former, is this just a matter of SyntaxGenerator needing to be updated to just put in the question?  If it's the latter, is this actually a bug? Seems fine that this would generate 'string' if

[2018-10-04 20:55] CyrusNajmabadi commented on #30323
@jcouv have pinged you over at gitter about this.

[2018-10-04 21:54] DustinCampbell commented on #29122
I have a fix for this that introduces a fallback when a project reference cannot be resolved to a metadata reference because a project's information is incomplete.

[2018-10-04 22:53] jcouv commented on #30316
My expectation the latter: we should use the null-state of the expression (rather than declared nullability for the few expressions where that is applicable). For example, generating `M` from `M(MakeArray(nullableString))` should generate `void M(string?[] x)`.

The reason why is because you're generating from a point where we see that your passing `null`, so the generated API should accept `null`

[2018-10-04 23:04] CyrusNajmabadi commented on #30316
Ok agreed.  In that case, isn't this working correctly?  both x2 and y2 are non-null thanks to flow analysis.  x2 is assigned a non-null string, and y2 is assigned x2, so it would be non-null.  So we shuld generate the type without nullability annotations...

[2018-10-04 23:05] CyrusNajmabadi commented on #30316
another concern i just realized.  should we be taking [NonNull] annotations into account?  i.e. if you're in a type that has this annotation, and we generate a new type, should we add this attribute to it?

[2018-10-04 23:54] jcouv commented on #30316
Your correct, I made a mistake in this example (the `!` on `null` makes it non-null).
Yes, we'll have to deal with context. As a side-note, the context is going to switch to using some form of directive syntax (`#nonnull` or some such), which may further complicate refactorings.

[2018-10-05 02:07] ericmutta commented on #30296
@AdamSpeight2008 (and @CyrusNajmabadi) thanks in advance for working through this! :+1: :+1:

[2018-10-05 09:42] valery-petrov opened #30337 "MetadataImageReference._metadata must be disposed"
**Version Used**: c7bb120cf467627012f19c762553875f7e7b5c50 (latest master)

**Steps to Reproduce**:

Create several scripts using CSharp.Scripting

**Expected Behavior**:
_metadata is disposed via Dispose() rather than via finalizer

**Actual Behavior**:
![image](https://user-images.githubusercontent.com/40487664/46528078-8ca66000-c89b-11e8-90cd-49499555cbc7.png)
A lot of objects are waiting for t

[2018-10-05 09:47] effyteva commented on #7673
Almost 3 years since the proposal,
Perhaps it's time to take care of this?
Assembly/Class/Method attributes could save tons of hassle.
There's a Fody addin for that https://github.com/Fody/ConfigureAwait, which we haven't tried, as we prefer a native solution, as modifying the IL doesn't seem like a reliable solution for us.

[2018-10-05 11:54] SDavydkin commented on #16535
Dear team,

I've reported this problem via premium support on March 2017 for VS 2015.
For some period of time support promised including fix into the upcoming VS update.
Now is October 2017 and VS is 15.8.x but issue still is open.
Do you have any realistic ETA on it now?

Thanks,
Sergey Davydkin
Epicor Software Corporation

[2018-10-05 14:57] jaredpar commented on #30337
CC @tmat

[2018-10-05 15:00] jaredpar commented on #30308
This requires a bit more information. It's unclear exactly what is going wrong here. Can you provide the code which is currently failing?

If you have a working solution here then the easiest thing to do is replicate the exact setup in Roslyn. Grab a detailed log from MSBuild and examine the CSC invocation. Replicating those arguments via the API will produce the same result.

[2018-10-05 15:01] jaredpar commented on #30307
Can you give us the full exception information here including the stack trace?

Can you you post the contents of app.config? Guessing this is binding redirect related.

[2018-10-05 15:42] jaredpar commented on #30267
Yes that should be changed. It appears to be a bit out of date.

[2018-10-05 15:51] Mike-EEE commented on #30284
Gooooood point, @jaredpar.  I happened to have found this while trying out the `readonly struct` magic and apparently conflated my ensuing performance angst with it.  😁  FWIW, it was suggested that I post this issue here based on the conversation with the person who answered the question on StackOverflow.  Their impression was that this is a compiler issue, but I am, of course, cool with wherever

[2018-10-05 15:53] MilKAOS commented on #30044
@jaredpar Yes, your description is absolutely correct.

Maybe the behavior is better visible in the crash dump logs I attached earlier.  Because it contains the start of Visual Studio and the crash. Is something missing at the startup of Visual Studio, is something used which shouldn't be used (.NET framework issues)? We are confused as well.

And it is not only our four development machines (whic

[2018-10-05 15:55] DustinCampbell commented on #28062
Hey gang -- this is *still* flaky and failing in October. Is this going to get looked at? If not, it needs to be disabled to avoid randomizing the team.

[2018-10-05 15:56] jaredpar commented on #30284
It's never a compiler bug ... except for the cases where it's a compiler bug 😉

In this case it looks like a runtime issue though. The IL here is correct in both cases and logically equivalent. Weird that they would optimize one case better than the other.

[2018-10-05 16:15] Mike-EEE commented on #30284
I do have to admit I am a bit [out of my element here](https://i.imgur.com/Q81RPrp.gif).  When you say coreclr/runtime, are you saying/suggesting that this is JIT-related, by chance?  I am trying to rectify the difference here of basically being told the opposite of what the answer on StackOverflow was.  Not that I should doubt you, of course.  You do work on the thing, after all. 😆

Again, this i

[2018-10-05 16:31] jaredpar commented on #30284
No worries. Performance is often confusing. Particularly in complex systems.

The part of the analysis which blames C# is wrong. I will follow up.

[2018-10-05 16:32] ericmutta commented on #26663
The CodeRush guys have [fixed this issue](https://www.devexpress.com/Support/Center/Question/Details/T678197/invoking-the-reorder-paramaters-refactoring-disables-the-editor-s-reference-keyword) so I am closing this.

[2018-10-05 16:32] #26663 closed

[2018-10-05 16:36] jaredpar commented on #30044
Can you do a build from Visual Studio then and grab a binary log when csc crashes? This extension will help with the generation of the log files.

https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSystemTools

[2018-10-05 16:58] CyrusNajmabadi commented on #26663
Glad it was figured out! :)

[2018-10-05 17:05] Neme12 opened #30339 "Missing completion for `ref` and `in` after `this`"
[code]

Expected behavior: both `ref` and `in` are in the completion list.
Actual behavior: none of them are.

[2018-10-05 17:35] jaredpar commented on #30044
Do you have JustMock installed on your machines? If so is there a correlation with the broken machines and the ones that have that installed?

[2018-10-05 17:43] jasonmalinowski opened #30341 "Roslyn setup packages are passing .pkgdefs as things to ngen"
From the ngen logs:

[2018-10-05 17:50] MilKAOS commented on #30044
@jaredpar Yes, we actually have and it is of course on all these machines.
I just tried by uninstalling JustMock on my machine and now the builds work. It really seems to be the problem, thank you very much!

[2018-10-05 17:52] jaredpar commented on #30044
Glad that was the issue. Profilers can have tricksy behavior like this.

Thanks for providing the binlog. That was the key to figuring this out!

[2018-10-05 17:55] #30044 closed

[2018-10-05 18:15] Mike-EEE commented on #30284
Awesome.  Thank you so much @jaredpar for taking some time to help a perf newb out.  I really appreciate it and it means a lot to me, 5,000 issues strong. 😂

[2018-10-05 18:29] hikeeba commented on #30206
I am seeing this actually add the `this.` prefix when the whole statement is on one line and it breaks the build.

[2018-10-05 19:33] jcouv commented on #29150
The PR for project-system is in review. I'll go ahead and close this tracking issue.

[2018-10-05 19:33] #29150 closed

[2018-10-05 20:38] tmat commented on #30341
I think this due to VS SDK design and should probably be fixed there.  Applying `<Ngen>` metadata on `<ProjectReference>` in VSIX projects will make all outputs produced by the project NGEN'd. VS SDK could probably only apply the Ngen metadata to items that have .dlls/.exe extension.

[2018-10-05 20:40] #30090 closed

[2018-10-05 20:53] CyrusNajmabadi commented on #7673
If there's a working solution... why not use it? :)   Is there actually something nonreliable here?

[2018-10-05 20:57] jaredpar commented on #30223
@tmat what would I need to validate this? Just delete it, run tests and if they pass we're good to go?

[2018-10-05 21:03] tmat commented on #7673
@CyrusNajmabadi I have yet to see an IL Rewriter that correctly preserves debugging information. Also EnC won't work if you IL rewrite compiler outputs. I generally do not recommend using IL rewriters.

[2018-10-05 21:12] CyrusNajmabadi commented on #7673
It's seems like a particularly onerous restriction to eliminate this entire class of tools.  It basically means that all of that functionality must always be built into the compiler.  That seems unfortunate.

[2018-10-05 21:16] tmat commented on #7673
Generators would address that.

[2018-10-05 21:16] mavasani commented on #30015
Another failing editorconfig test: [ApplyEditorConfigAndFormatDocument](https://ci.dot.net/job/dotnet_roslyn/job/dev16.0.x/job/windows_release_vs-integration_prtest/109/testReport/junit/Roslyn.VisualStudio.IntegrationTests.CSharp/CSharpFormatting/ApplyEditorConfigAndFormatDocument/)

[2018-10-05 21:27] heejaechang commented on #28062
alright, looks like another waiter not disposed thing?

[2018-10-05 21:32] jinujoseph commented on #30114
@jnm2 dupe of https://github.com/dotnet/roslyn/issues/29347 ?

[2018-10-05 21:53] jinujoseph commented on #30206
This looks same as the fix we took in 15.9 [link](https://github.com/dotnet/roslyn/pull/29449)
Let us know if you think otherwise

[2018-10-05 21:53] #30206 closed

[2018-10-05 21:53] jcouv commented on #30258
No longer relevant after API change.
The tests in https://github.com/dotnet/roslyn/pull/30280 now show proper behavior.
Closing

[2018-10-05 21:53] #30258 closed

[2018-10-05 21:57] jinujoseph commented on #30210
@heejaechang  this expected ?

[2018-10-05 22:05] jnm2 commented on #30114
@jinujoseph It doesn't look like #29347 covers `||`, only `&&`.

[2018-10-05 22:29] mavasani commented on #16535
Tagging @jcouv as we discussed the possible design for this today morning:

1. Enhance `/warnaserror` switch to take arguments which are diagnostic ID prefixes, such as say `/warnaserror:CS*` or `/warnaserror:BC*` or some such format which indicates that all warning diagnostics whose ID starts with that prefix need to be escalated to errors. This will also allow customized configuration per analyz

[2018-10-05 23:14] heejaechang commented on #30210
I don't know. but since we don't provide "Find All References" on those operators (explicit and implicit), we probably don't provide on for code lens?

@mavasani worked on this FAR recently, do you have an idea? since code lens sit on top of FAR, if FAR doesn't support it, then code lens probably won't as well.

[2018-10-05 23:16] heejaechang commented on #30210
FAR not supporting those implict or explicit operator, not sure whether this is by design or just a bug.
tagging @dotnet/roslyn-ide

anyway, looks like right now, it is not supported.

[2018-10-05 23:20] mavasani commented on #30210
@CyrusNajmabadi might now as well. I believe the finder is [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/FindSymbols/FindReferences/Finders/OperatorSymbolReferenceFinder.cs,12)

[2018-10-05 23:34] CyrusNajmabadi commented on #30210
That only finds normal operators.  We don't have any way to index or find things like implicit conversions (since our indices are syntactic).

[2018-10-05 23:52] heejaechang commented on #30210
yep. the normal operator works fine. it is implicit/explicit operator that don't work right now. so, I guess this is by design for now. and we could open an issue as feature request. @jinujoseph ?

[2018-10-05 23:59] heejaechang commented on #30216
@jinujoseph
this is same issue as the MEF. if we see this
Message:          Request locate failed with message: Cannot find service module info file '*/roslynRemoteHost.servicehub.service.json'

we should just give this to MEF team.

[2018-10-06 00:28] jasonmalinowski opened #30349 "Passing null into (CSharp|VisualBasic)CommandLineParser.Parse as a base directory gives invalid key paths"
If you pass in null as a base directory to our CommandLineParsers.Parse, they add that null into the KeyFileSearchPaths (which is invalid). It's unclear to me if that's a bug (and it shouldn't add them), or I shouldn't be calling with null in the first place.

[2018-10-06 01:31] #30296 closed

[2018-10-06 01:31] heejaechang commented on #30296
fixed by the PR above

[2018-10-06 06:36] davidroth commented on #7673
Agree with @tmat: IL rewriters come with significant downsides:
 - big impact on build performance (ex. In one of our projects we are using fody.propertychanged. It takes 15 seconds on each build to IL rewrite our assemblies).

- Metadata issues: Problems with debugging, expression evaluators, and non functional ENC.

[2018-10-06 08:14] raffaeler commented on #29878
Referencing the reference assemblies from a separate location resolved my issue. Thanks

[2018-10-06 08:14] #29878 closed

[2018-10-06 08:30] SDavydkin commented on #16535
1. Why just don't reuse already existing CodeAnalysisTreatWarningsAsErrors property from "MSBuild\Microsoft\VisualStudio\v15.0\CodeAnalysis\Microsoft.CodeAnalysis.Targets" file? AFAIR FxCopCmd.exe-related task uses it. It is not accessible via UI, but this approach is compatible with already existing behaviors.

2. VS UI exposes only part of 'treat-warnings-as-error' related settings. There is yet

[2018-10-06 09:06] SDavydkin commented on #16535
In general, The 'good enough' solution is to add 'All compiler warnings' radio-button. In combination with WarningsNotAsErrors (even without UI support of it) it covers most of the needs. And it looks like the less invasive change.

[2018-10-06 12:08] Neme12 opened #30351 "UseAutoProperty in VB not offered when property is readonly and the field is written to"
[code]

**Expected behavior:** I can use "Use auto property" on the field and get:
[code]

**Actual behavior:** "Use auto property" is not offered

This *does* work for the equivalent C# code:
[code]
gets converted to
[code]

[2018-10-06 14:13] Ollhax commented on #27483
Just want to add another case here. I'm working on a Entity Component System and I'm trying to hide the component data layout behind a readonly ref struct. Code:

[code]

[2018-10-06 14:53] ericmutta commented on #30296
@heejaechang @jinujoseph many thanks for pushing this to completion :+1:

[2018-10-06 15:58] Neme12 opened #30352 "OrderModifiers should say it fixes CS0267 (The 'partial' modifier can only appear immediately before 'class', 'struct', 'interface', or 'void')"
OrderModifiers can currently fix CS0267 (The 'partial' modifier can only appear immediately before 'class', 'struct', 'interface', or 'void'):
[code]
to
[code]
but it doesn't say so using `FixableDiagnosticIds`. This means there is no error-bulb and the fix isn't discoverable. Adding it might also have other benefits such as proper prioritization of this fix (but I'm not sure where this would have

[2018-10-06 16:50] Neme12 commented on #24225
I really like the way it turned out, with just the method name being faded out 🎉 It didn't occur to me as an option.

[2018-10-06 17:01] Neme12 opened #30354 "Fade out unused parameters"
I think it would be a good addition to dead code analysis to fade out unused parameters on private methods, as well as parameters that are never read (similar to the current diagnostics for fields & properties).

Tagging @mavasani

[2018-10-06 17:05] Neme12 commented on #30354
Actually this could even be extended to all internal methods (that are not an override, implementation, abstract or virtual) since the analysis would still only have to cover the method body.

[2018-10-06 17:59] rik-smeets commented on #16981
@Pilchie: @kuhlenh may be a dreamer, but she's not the only one. I also have dreams of tweaking the available span for this particular refactoring.

As part of #Hacktoberfest, I've started working on this. If all goes well, I expect to be able to open a pull request tomorrow.

[2018-10-06 19:36] Therzok commented on #30354
What about this?

https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeQuality.Analyzers/Core/Maintainability/ReviewUnusedParameters.cs

[2018-10-06 20:27] mavasani commented on #30354
I am actually prototyping this now 😊. I am going to start with fading dead assignments to locals and parameters based on values assigned that are never read on any control flow path (based on dataflow analysis). This can be extended to find parameters whose initial value is never used by assuming they are assigned at start of code block execution. I hope to have a PR within a week or two.

[2018-10-06 20:36] mavasani commented on #30354
I am thinking of an editorconfig option that allows users to configure how to deal with unused values: explicitly assign to a discard OR explicitly assign to a local variable that is never read on any control path, with the former being the default setting. This also enables fading expression statements that drop a computed value, so the user intend is more clear (yes I want to ignore the expressi

[2018-10-06 21:06] Neme12 commented on #30354
@Therzok Thanks, I didn't know about that one (but it's much less usable since it requires adding a NuGet package to the project - I'd like this as a general code quality analyzer I can see on all code I work on, regardless of whether I control it).

[2018-10-06 21:10] Neme12 commented on #30354
That sounds interesting, althought I'm not sure if such a code style is necessary, we should probably try to nudge users to standardize on one thing (probably a discard) and only if there's push back add other options. But of course that's up to the design review team, not me.

[2018-10-07 09:17] vsfeedback opened #30357 "Crach VS2017 craches when insert code with twice use one name out variable"
<pre>crashtestconsoleapp.zip

class Program
    {
        static void Main(string[] args)
        {
            var int_string = &quot;123&quot;;
            // Replace &quot;0&quot; to &quot;int.TryParse(int_string, out var i) ? i : default(int)&quot;
            new TestData(int_string, 0) { Number = int.TryParse(int_string, out var i) ? i : default(int) };
        }

        struct TestData

[2018-10-07 09:49] vsfeedback opened #30358 "Microsoft.CodeAnalysis.CSharp throw an System.IO.FileNotFoundException when anything from the namespace is called"
Visual Studio 15.8.2

Steps:
Create new Solution: TestSln
Create a project: Console (.net framework 4.7.2)
Create a project: Library (.net standard 2.0)
Console -&gt; Add Reference -&gt; Library
Library -&gt; Install NuGet package 'Microsoft.CodeAnalysis.CSharp' 2.9.0

Library -&gt; Class1.cs -&gt;
&quot;using System;

namespace Library
{
    public static class TestClass
    {
        public stat

[2018-10-07 09:54] jinujoseph commented on #30358
Related [here](https://developercommunity.visualstudio.com/content/problem/336527/microsoftcodeanalysissharp-version-290-cannot-find.html)

[2018-10-07 10:15] jinujoseph commented on #23451
reported at [link](https://developercommunity.visualstudio.com/content/problem/344691/microsoft-code-analysis-problem.html)

[2018-10-07 13:16] Neme12 commented on #25557
I'm going to consider this fixed as part of #30359 and file another issue for a code fix to use another literal (such as 0 or null - as described in the error message).

[2018-10-07 13:17] Neme12 opened #30360 "Add code fix to use another literal for CS8313, CS8363 A default literal 'default' is not valid as a case constant / pattern."
Related to #25557 but instead of a code fix to use a default expression, there should also be a code fix to use another literal (such as 0 or null), as described in the error message.

[2018-10-07 13:44] svick commented on #30357
Here is an even smaller repro:

[code]

This code causes a StackOverflowException in a release-mode compiler. In a debug-mode compiler, it triggers this assert (used to "detect infinite recursion in type inference"):

https://github.com/dotnet/roslyn/blob/1f082e40860963edcd81d1567069aae924d9369f/src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs#L292

The repeating part of the stack

[2018-10-07 16:40] alrz commented on #30360
Could we make this a fix that compute some constant to the actual value?
[code]

[2018-10-07 16:41] Neme12 commented on #30360
@alrz That's a good idea for a refactoring, but please file that as a separate issue. This is specifically a code fix for the compiler error you get when you have a default literal (so there isn't even much to compute here) in the wrong place.

[2018-10-07 16:50] Neme12 commented on #30360
On another note, I think `default` *is* the actual value. So I like your refactoring proposal to inline constants, but I don't think it should be available on a default literal. Instead, there would be a separate refactoring to convert between a default literal and another literal (e.g. 0 or null), in both directions.

[2018-10-07 17:02] jcouv opened #30362 "Finalize design and implementation of IOperation and CFG for async-streams feature"
See tests linking to this issue. The current behavior:
- doesn't reveal that a `using` or `foreach` as `await
- doesn't show that `MoveNextAsync()` or `DisposeAsync()` are awaited
- references `IDisposable` instead of `IAsyncDisposable`

[2018-10-07 17:10] Pilchie commented on #16981
Awesome.  Tagging @jinujoseph and @sharwell too.

[2018-10-07 18:32] sharwell commented on #30015
@jinujoseph On the schedule, this is the most important test. It must be fixed/enabled/passing for preview 1.

[2018-10-07 23:09] CyrusNajmabadi commented on #30354
Note: this exists in TypeScript, but is overly aggressive.  It tells me about unread parameters taht i can't do anything about (i.e. because my method is an implementation of some required interface method).  As with other 'unnecessary' features, can we only do this for code we're certain the user can safely modify.  Thanks!

[2018-10-07 23:10] Neme12 commented on #30354
@CyrusNajmabadi Of course that's a concern, that's why I said:

there may very well be other cases I'm not aware of. I just didn't mention these with private methods because none of them apply to private methods.

[2018-10-08 01:49] mavasani commented on #30015
Note that the test passes consistently locally, even when executed multiple times in isolation or with other tests. We probably need to enable service hub logging on Jenkins to find what is causing the crash.

[2018-10-08 06:47] jinujoseph commented on #30015
@heejaechang , is it possible to add more logging to capture whats happening here.

[2018-10-08 07:16] Neme12 commented on #26027
@jcouv @gafter Can you please relabel this as Area-IDE instead of Area-Compilers, and if you feel the default literal should have a null type, please make a separate issue?

The original issue says

and I'd like to consider that fixes as part of #30364. The compiler issue here is mostly unrelated because if it was fixed, there would be QuickInfo for neither the default or a null literal, not both

[2018-10-08 07:37] msbasanth commented on #30213
Thanks @mavasani for pointing to CompilationStartAnalysisContext.TryGetValue that should fit our scenario.

Cloud you please point me to some link or documentation which explains about the life time of the compilation and also the life time of analyzer instance.

[2018-10-08 09:03] toasteur opened #30367 "publish fail on vs2015 generation (visual itself and tfs with a vs2015 agent) on compilers version > 2.4"
**Version Used**:
v2.8.2, v2.9.0
**Steps to Reproduce**:

1. create a new web application in vs2015 (i tried webform or mvc, same behavior)
2. update compilers nuget to last versions (Microsoft.CodeDom.Providers.DotNetCompilerPlatform and Microsoft.Net.Compilers)
3. try to publish the website to webdeploy package

**Expected Behavior**:
build succeed and publish succeed.
**Actual Behavior**:
build

[2018-10-08 14:58] jaredpar commented on #16535
This is essentially adding glob matching to our warning specification. Probably both in the compiler, editorconfig and the like. Is that really what we want here? If the ask is just for the compiler supported warnings then maybe just use the word "compiler" or something that is likewise definitive?

[2018-10-08 14:58] jaredpar commented on #16535
cc @agocke

[2018-10-08 15:05] cston opened #30369 "Nullability mismatch reported for overridden generic method"
[code]
[code]

[2018-10-08 15:13] jaredpar commented on #30367
Thanks for taking the time to report this. This looks like an issue in the DotNetCompilerPlatform package hence the issue should be filed at https://github.com/aspnet/RoslynCodeDomProvider

[2018-10-08 15:13] #30367 closed

[2018-10-08 15:14] Pilchie opened #30370 "Object Browser does not display different icons for static versus non-static members"
_From @verelpode on October 4, 2018 16:45_

Hello, the Object Browser window is wonderfully useful (I use it every day), but it would be better if it displayed different icons for **static** members (including static methods, static properties, etc).  See screenshots following.

The problem is that currently we're forced to individually click on each member before we can see whether it is static o

[2018-10-08 15:14] Pilchie opened #30371 "Object Browser displays incorrect objects/members, and is painfully slow"
_From @verelpode on October 4, 2018 16:24_

Hello, the Object Browser window is very useful -- I love it and I thank everyone who ever worked on it, because I use it multiple times every day I work.  However, some reliability and speed improvements would be very much appreciated.  Sometimes it displays incorrect objects/members (see screenshot).  It replaces the correct object/member with some oth

[2018-10-08 15:14] Pilchie commented on #30371
_From @verelpode on October 4, 2018 17:2_

Example of the speed problem:  I chose `Browse: All Components` then I searched for the word "**updated**".  When the search completed, I immediately clicked the button to clear the search, which caused another delay.  The total time was **21 seconds**!  During these 21 seconds, Visual Studio was totally unresponsive to mouse clicks etc (the search is not

[2018-10-08 15:18] Pilchie opened #30372 "Switching Build and Build+Intellisense in Errors shows outdated errors in the list"
_From @abpiskunov on September 19, 2018 21:40_

Repro:

1. Set Build+Intellisense in Error list filter.
2. Have a project with some build errors and some intellisense only errors
3. Build and see all errors in the ErrorList
4. Fix some build errors and wait for them to disappear from Error List
5. Then switch to Build Only in the filter

Actual result:

Old error count and errors are back to error

[2018-10-08 15:18] Pilchie commented on #30372
_From @davkean on September 19, 2018 23:12_

@heejaechang

That's by design - `Build Only` shows the builds errors from the last build, regardless if you've fixed them (Error List behavior since v1). If you want live reporting, that's the `Build + IntelliSense` category.

[2018-10-08 15:18] Pilchie commented on #30372
Ping @heejaechang - any more thoughts here?

[2018-10-08 15:19] Pilchie commented on #30372
Moved to Roslyn, since that's what populates the error list for "IntelliSense"

[2018-10-08 15:27] dpoeschl opened #30373 "Test failure - `CodeGenNullCoalescingAssignmentTests.IndexerLvalue` on `Linux_Test mono`"
Logs: https://dnceng.visualstudio.com/public/_build/results?buildId=28178&view=logs

Failure:

[code]

[2018-10-08 15:30] Pilchie commented on #30371
No problem - there are definitely a lot of repos, and you shouldn't *have* to know how everything is split up :)

[2018-10-08 15:49] mavasani commented on #16535
Yes, that is the ask, but having a prefix based support allows users to even configure specific analyzer package diagnostics. For example, if someone had both StyleCop analyzers and FxCop analyzers installed, it is likely they want to keep style based diagnostics as a suggestion and code quality based FxCop diagnostics as errors, and a command line such as `/warnsaserror:CS* /warnaserror:CA*` can

[2018-10-08 15:57] JoeRobich opened #30374 "ubuntu_16_debug_prtest failed with Segmentation Fault"
coreapp2.0/Microsoft.CodeAnalysis.CSharp.Emit.UnitTests.dll failed with Segmentation fault

build logs: https://ci.dot.net/job/dotnet_roslyn/job/dev16.0.x/job/ubuntu_16_debug_prtest/115/

[code]

[2018-10-08 15:58] mavasani commented on #16535
@SDavydkin Can you expand on your proposal? Note that the default behavior for `TreatWarningsAsErrors` by itself (without any arguments) should still stay the same, i.e. it should still escalate all compiler and analyzer warnings to errors.

That seems like a separate request to provide a mechanism/switch to skip analyzer execution during compilation. You can workaround this by using the [approach

[2018-10-08 16:06] jaredpar commented on #30374
Closing a a dupe of https://github.com/dotnet/roslyn/issues/29940

[2018-10-08 16:06] #30374 closed

[2018-10-08 16:11] SDavydkin commented on #16535
@mavasani In general, current behavior with TreatWarningsAsErrors applied to analyzers was a breaking change since originally (VS 2015 and FxCopCmd) it was applied only to compiler warnings. Analyzers warnings were controlled by CodeAnalysisTreatWarningsAsErrors setting. But it is history already.

Regarding a possible approach. If CodeAnalysisTreatWarningsAsErrors property value is not specified

[2018-10-08 16:34] jaredpar commented on #30349
The code base generally seems to explicitly support `null` as a valid value for `baseDirectory` in the called functions.  For example it eventually gets passed to `ResloveRelativePath` which explicitly allows `null`. Hence the bug seems to be unconditionally adding it to `KeyFileSearchPaths`.

[2018-10-08 16:36] alrz opened #30375 "Add 'Current Member' scope for fix-all code action"
Currently it's not possible to apply a fix only to the **current member's block**,

![image](https://user-images.githubusercontent.com/3105979/46621573-aa422680-cb34-11e8-8f28-2fccf53e93eb.png)

It's useful when you want to modify a limited portion of the code rather than the whole "Document".

[2018-10-08 16:39] alrz commented on #30375
With this, the "preview" dialog would be less useful (actually I never use it because I can always review changes from git diff). Would be nice to make "Preview changes" here a checkbox so we can opt-out.

[2018-10-08 16:40] SDavydkin commented on #16535
I clearly understand the difference between FxCopCmd and Roslyn-based analyzers. But what you've described is the only difference in implementation. Both tools have an identical goal - analyze 'code' and provide recommendations. Actually, Roslyn-based analyzers can be treated as a replacement of the FxCopCmd. So, I'm pretty sure that that missing support of an analog of CodeAnalysisTreatWarningsAs

[2018-10-08 16:44] jaredpar commented on #29252
This amounts to adding a new option to the compiler: `sdkPath`.  This is already an option to the compiler at an API level, just not at the command line one.

It does create one ambiguity: does the command line win over the value passed to the API? The answer seems to be yes given we have symetry with `baseDirectory` here and the command line parameter wins out in that case.

[2018-10-08 16:48] dpoeschl commented on #30373
Failed again in the same PR: https://dnceng.visualstudio.com/public/_build/results?buildId=28201&view=logs

[2018-10-08 16:51] jaredpar commented on #27642
This work is completed now.

[2018-10-08 16:51] #27642 closed

[2018-10-08 16:55] Craigfis commented on #29987
It won't install on 15.9.0 preview 3 for me.

[2018-10-08 16:58] jcouv commented on #29987
@Craigfis The nullable preview installer only installs on an RTM version of VS. 15.8.6 is recommended at the moment (latest RTM bits).

[2018-10-08 17:35] tmat commented on #30172
We have a similar problem in ASP.NET web apps. `Application_Start` is marked as unused:

![image](https://user-images.githubusercontent.com/41759/46624509-d4b8c300-cae5-11e8-8c0a-4b1df4d2bec3.png)

[2018-10-08 17:38] mavasani commented on #30172
@tmat Can you file a separate IDE issue for it? IDE0051 should handle this case specially to avoid reporting diagnostics here (and probably also xaml cases).

[2018-10-08 17:55] CyrusNajmabadi commented on #30354
I wasn't trying to imply you didn't say it :)  I was just throwing my hat into the convo to emphasize I thought this was a very important part to get right, since i've experienced first-hand how it can be annoying otherwise :)

[2018-10-08 18:31] cston opened #30376 "`!` should suppress conversion warnings"
[code]
[code]

[2018-10-08 18:34] #27716 closed

[2018-10-08 18:39] tmat opened #30377 "IDE0051 should not be reported for certain methods"
In ASP.NET web app `Application_Start` is marked as unused:

![image](https://user-images.githubusercontent.com/41759/46624509-d4b8c300-cae5-11e8-8c0a-4b1df4d2bec3.png)

[2018-10-08 18:40] tmat commented on #30172
https://github.com/dotnet/roslyn/issues/30377

[2018-10-08 18:56] peterwald opened #30378 "Crash in VS Editor when viewing interpolated string with format specifiers"
**Version Used**:

**Steps to Reproduce**:

1. Open a source file containing the following line of code:
[code]

**Expected Behavior**:
View source code with syntax highlighting.

**Actual Behavior**:

VS crashes and restarts.

Crashes at this location: https://github.com/dotnet/roslyn/blob/fe80f83075d723eddd6e26582c75f27f242c69c4/src/Workspaces/CSharp/Portable/EmbeddedLanguages/VirtualChars/CShar

[2018-10-08 18:57] peterwald commented on #30378
/cc @jasonmalinowski, @dpoeschl

[2018-10-08 18:57] Neme12 commented on #30378
Tagging @CyrusNajmabadi (this is inside virtual char service)

[2018-10-08 19:01] jasonmalinowski commented on #30378
@CyrusNajmabadi (or whoever) if you're able to manage a fix please target it at dev16.0.x.

[2018-10-08 19:02] CyrusNajmabadi commented on #30377
What designates this function as something used by ASP?  Is it simply convention?

[2018-10-08 19:03] CyrusNajmabadi commented on #30378
Will do.

[2018-10-08 19:20] CyrusNajmabadi commented on #30378
@jasonmalinowski Fix available.

[2018-10-08 19:26] jcouv commented on #30376
Relates to https://github.com/dotnet/roslyn/issues/29642 (! operator should suppress warning for nested nullability mismatch)

[2018-10-08 20:01] JosefPihrt opened #30382 "MSBuildWorkspace.OpenSolutionAsync throws ArgumentException"
**Version Used**: 2.9.0

**Steps to Reproduce**:

1. Clone https://github.com/dotnet/BenchmarkDotNet

1. Create new console app and run

[code]
[code]

Build passes in Visual Studio.

I observed similar behavior with https://github.com/Fody/PropertyChanged.

[2018-10-08 20:15] Neme12 opened #30384 "Type for default literal not inferred in C# 7.0"
It seems the type for a default literal is not correctly inferred when using C# 7.0 or lower. In these cases:
[code]
[code]
[code]
[code]
calling `GetTypeInfo().ConvertedType` on the default literal results in an error type. This works as expected (returns `int` type) when using C# 7.1. Some simple cases work in C# 7.0 too such as `int i = default;` and `switch (0) { case default: };` (both return

[2018-10-08 20:21] Neme12 commented on #19871
Could we please get a property in the error message that would say which feature the error targets? It would be helpful for a certain kind of code fixes which look for this error to find usages of a language feature that cannot be used in the current language version and offer to convert it to something that does exist in this version (for example an out-var into a declared variable). These fixes

[2018-10-08 20:32] jcouv opened #30385 "OverrideCompletion crashes IDE on property without accessors"
[code]

Similar scenario to `CommitProducesExpressionBodyProperties` but with zero accessors.

[2018-10-08 20:54] jcouv commented on #29735
This was resolved by making sure that the `AsyncVoidMethodBuilder` is marked as complete when we dispose the state machine.

[2018-10-08 20:54] #29735 closed

[2018-10-08 20:59] jcouv commented on #27651
Fixed by https://github.com/dotnet/roslyn/pull/28218

[2018-10-08 20:59] #27651 closed

[2018-10-08 21:44] dpoeschl opened #30386 "Test failure: `CodeGen.DestructorTests.DestructorOverridesNonDestructor` on `Linux_Test mono` queue"
See https://dnceng.visualstudio.com/public/_build/results?buildId=28328&view=logs from https://github.com/dotnet/roslyn/pull/30046#issuecomment-427988290

[code]

[2018-10-08 22:45] bording commented on #29289
Work has begun!

https://github.com/libgit2/libgit2sharp.nativebinaries/pull/77
https://github.com/libgit2/libgit2sharp/pull/1618

[2018-10-08 23:00] tmat commented on #29289
Very nice!

[2018-10-09 01:15] jinujoseph commented on #29353
Fixed via https://github.com/dotnet/roslyn/pull/29374
Thanks @carlos-quintero

[2018-10-09 01:15] #29353 closed

[2018-10-09 01:37] #30277 closed

[2018-10-09 02:01] #24518 closed

[2018-10-09 02:01] #29371 closed

[2018-10-09 02:01] #27703 closed

[2018-10-09 02:48] zezba9000 commented on #30307
Error message

Stack Trace

App.config
[code]

package.config
[code]

[2018-10-09 02:53] zezba9000 commented on #30307
Also pushed up a Roslyn Update branch: https://github.com/zezba9000/CSharpTranspiler/tree/RoslynUpdate

RoslynUpdate (2.9.0) = broken
master (2.8.2) = working

[2018-10-09 02:54] ericmutta opened #30390 "VB: Multiple refactoring providers crash when invoking rename refactoring on lambda parameter."
**Version Used**:

Visual Studio Community 2017 v15.8.5

**Steps to Reproduce**:

Type in the following code:

[code]

Next we want to rename the parameter `foo` in the lambda function passed in the call to `Run(...)` so it becomes `food`. Put the caret at the end of `foo` add the `d`. The rename tracking rectangle is activated and the lightbulb is shown:

![vs_rename_crash_1](https://user-images.

[2018-10-09 02:58] ericmutta commented on #30390
An extra bit of detail: those providers do NOT crash if you do the rename by right-clicking on `foo` and choosing `Rename...` to bring up the rename dialog.

[2018-10-09 05:55] Neme12 commented on #30390
duplicate of #29333?

[2018-10-09 09:32] alatas commented on #29938
@dpoeschl @CyrusNajmabadi
I created a new pull request #30391. I changed and test the lines we discussed before. And I also reviewed the Turkish related tests. I added new ones and synced all of them between C# and VB. Some older tests were only added to C#, not VB.

It's now working as expected in Turkish culture settings.

[2018-10-09 10:07] Neme12 commented on #29938
I think @alatas is saying that the fact that completion uses current culture for comparison is the problem, because the vast majority of APIs (and all language constructs) are in English, so you'd expect English rules to apply to it. Is that correct?

[2018-10-09 13:39] qwertie commented on #21669
.NET has always needed, and lacked, a way to limit memory usage of "sandboxed" code.

[2018-10-09 14:37] mavasani commented on #29836
**Design Decision:**

1. Expose `ControlFlowGraph.Parent` property, which will be non-null for local function/anonymous function flow graphs and null otherwise.
2. Expose extension methods on `ControlFlowGraph` that walk up the parent chain to find a local function/anonymous function flow graph.

Additionally, we should expose `ControlFlowGraph.OwningSymbol` (or `ControlFlowGraph.ContainingSymbol`

[2018-10-09 14:40] mavasani opened #30394 "Expose IOperation.OwningSymbol and/or ControlFlowGraph.OwningSymbol"
See https://github.com/dotnet/roslyn/issues/29836#issuecomment-428217925

_Additionally, we should expose `ControlFlowGraph.OwningSymbol` (or `ControlFlowGraph.ContainingSymbol`) property for exposing the symbol owning the executable code block/original operation for the control flow graph. This is not as trivial as other two items as our `ControlFlowGraph.Create` APIs only provide the root operat

[2018-10-09 14:41] mavasani commented on #29836
Filed https://github.com/dotnet/roslyn/issues/30394: _Expose IOperation.OwningSymbol and/or ControlFlowGraph.OwningSymbol_

[2018-10-09 16:28] sharwell commented on #30372
Tentatively marking this **By Design**. Will update with details and results following a design review.

[2018-10-09 16:29] jaredpar commented on #30307
CC @DustinCampbell as it appears to be a workspace issue

[2018-10-09 16:38] sharwell commented on #30300
@olegtk We had a bug to replace our current block structure tagger with a new API, but now I can't remember the name of the new API or find the Roslyn bug suggesting we update. Can you give us a hint? :smile:

[2018-10-09 16:48] CyrusNajmabadi commented on #25795
@jnm2 I wouldn't be opposed to a new issue asking that we have a new light-bulb that pops up the dialog, even when you have a selection.  I also wouldn't be opposed to a PR to that effect from you :D

[2018-10-09 16:50] olegtk commented on #30300
@gundermanc

[2018-10-09 16:55] gundermanc commented on #30300
This is related to #24067 and #16395, both of which can be fixed by #26445. Essentially we just need Roslyn to switch over to the IStructureTag API and correctly implement all members.

Today, Roslyn gives us incorrect spans and we do a best effort guess at what you want. IIRC Cyrus had an ask to change the behavior of the API to make your side easier.

[2018-10-09 16:56] jnm2 opened #30396 "Member selection generates Equals without dialog and without respecting defaults"
VS 15.8.6

It's not useful to me (or ideal for anyone) to put everything in `Equals(object)` and skip generating the typed `Equals`. Either the fix should respect the last used defaults in the dialog and generate both (and equality operators), or the fix should simply show the dialog.

![nodialog](https://user-images.githubusercontent.com/8040367/46677664-0f3b6200-cbb1-11e8-83a9-c7d2f93ffab5.gif)

[2018-10-09 16:57] jnm2 commented on #25795
https://github.com/dotnet/roslyn/issues/30396 It might happen.

[2018-10-09 16:59] gafter commented on #29938
String matching should *not* use the invariant culture. That culture has bugs that will never be fixed because it is, *ahem*, invariant.

See `https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/CaseInsensitiveComparison.cs` for one correct approach.

[2018-10-09 17:25] amcasey opened #30397 "Incorrect IDE0052 (assigned but never read)"
**Version Used**: 2.11.0-beta1-63403-02+32efa2bf484f009a1c8809d782fdaec3b58b937e

**Steps to Reproduce**:

[code]

**Expected Behavior**: No diagnostics

**Actual Behavior**: `IDE0052: Private member 'C.counter' can be removed as the value assigned to it is never read.`

[2018-10-09 17:32] amcasey commented on #30397
The comment makes it seem like this case was explicitly considered and should not be producing the diagnostic: https://github.com/dotnet/roslyn/blob/6ebb41d4aa7cfcc55d3e1d67914a3de13adc1b00/src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs#L205

[2018-10-09 17:47] amcasey commented on #30397
Looks like `memberReference.Parent.Parent?.Type == null` is true so the usage is downgraded from `ReadWrite` to `Write`.

[2018-10-09 17:47] amcasey commented on #30397
FYI @mavasani

[2018-10-09 17:50] mavasani commented on #30397
Thanks, thought had a test covering this... Will fix it soon.

[2018-10-09 18:27] mavasani commented on #30397
Likely a conversion is in play here..

[2018-10-09 19:03] sharwell commented on #30012
@Neme12 Assuming you are talking about design priority, I agree. This will show up for us nicely if we label the issue as in-review (which I'll do now for the ones you pointed out).

[2018-10-09 19:09] CyrusNajmabadi commented on #30300
Yes.  This should be done at the editor level.  The issue here is that the structure line is inherently a view-oriented construct.  i.e. it's dependent on things like "how big is a tab, versus how big are spaces".  I recall coming up with a heuristic the editor coudl apply that worked for 100% of all C#/VB/JS/TS cases.  So it would be great if that were taken.

IIRC, it was simply taking the left-

[2018-10-09 19:13] CyrusNajmabadi commented on #30396
I don't believe either of the above are good choices.  A more appropriate fix would be to offer "Generate 'Equals'..." as a third option, which then opens the dialog with the right members selected based on the user's selection.

[2018-10-09 19:14] Neme12 commented on #30012
@sharwell I'm sorry, I think there was a misunderstanding. I mentioned #28762 and #24786 as examples of issues that aren't in review and don't need to be prioritized (as opposed to this one).

[2018-10-09 20:04] heejaechang commented on #30015
@jinujoseph I don't know much on our integration test env. where do I need to look to see how I can copy over logs to some place in jenkins? and where should I copy it over?

[2018-10-09 20:07] mavasani commented on #30397
I can repro the issue, and the test case is also validating the same scenario. However, it seems `TestMissingInRegularAndScriptAsync` only validates no code actions are offered. I will fix the infrastructure, verify the tests fail, and then fix the analyzer to get the tests passing again.

Thanks @amcasey, your report was helpful!

[2018-10-09 20:23] JoeRobich opened #30403 "ubuntu_16_debug_prtest fails with No test report(s) were files found"
Logs: https://ci.dot.net/job/dotnet_roslyn/job/dev16.0.x/job/ubuntu_16_debug_prtest/157/

[code]

[2018-10-09 20:35] heejaechang commented on #30216
@AmadeusW hi. can you set this on VS developer command prompt
SERVICEHUBTRACELEVEL=ALL

and then run vs from the command prompt

and try to repro the issue and send us logs from %temp%\servicehub\logs ?

[2018-10-09 20:37] jinujoseph commented on #30216
Thanks @heejaechang
@AmadeusW looped you with right team over mail. Feel free to followup there

[2018-10-09 20:37] #30216 closed

[2018-10-09 21:34] jaredpar commented on #28062
another hit https://dnceng.visualstudio.com/public/_build/results?buildId=28686&view=logs

[2018-10-09 21:56] jaredpar commented on #30403
The error is this line

This is an error in the CLI. CC @nguerrera

[2018-10-09 22:13] RikkiGibson commented on #29656
The example in the description above hits a Debug.Assert in the emitter.

http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/CodeGen/EmitStatement.cs,730

[2018-10-09 22:38] #16214 closed

[2018-10-09 23:31] mavasani commented on #29836
The analysis is conservative to only track values for lambdas declared in current method, and makes the PointsTo value as unknown if the reference can be assigned outside the current method. You are correct that a fully precise interprocedural analysis would need to link back to the method that defines the lambda and get its flow graph from it.

[2018-10-10 00:47] shyamnamboodiripad opened #30420 "Solution crawler does not tell analyzer (registered via ISolutionCrawlerRegistrationService) about all versions of a document"
**Version Used**: Recent build from lab/d16.0stg

**Steps to Reproduce**:

1. Create machine with recent 16.0 build
2. Clone bugrepro branch in testimpact repo: https://github.com/dotnet/testimpact/tree/bugrepro
3. Run “build -sbd -skiptest” from root of the repo
4. Copy down \\<internal share>\public\<my folder>\Repros\SolutionCrawlerBug\Tests
5. Delete .vs folder for the solution before each rep

[2018-10-10 00:47] shyamnamboodiripad commented on #30420
FYI @heejaechang assigning to you

[2018-10-10 02:07] jcouv commented on #29656
@RikkiGibson I just realized that I've fixed this issue already (in a feature branch which I'm about to merge back to trunk). Sorry about that.
I'll go ahead and close.

[2018-10-10 02:07] #29656 closed

[2018-10-10 02:09] jcouv commented on #29656
If you're curious the fix is here: https://github.com/dotnet/roslyn/pull/29741/files#diff-ae5907044cfb4d86b6675da5718d9aafR217

[2018-10-10 03:15] jcouv opened #30423 "Error List re-orders and scrolls after selecting one entry"
I'm fixing a number of build errors following a merge. I'm looking at the error list, scrolling to the top and double-clicking on the first entry.

I expect the list to stay put, as I will want to fix the second entry next.
The errors at the bottom of the list are not interesting to me, as they are just "Metadata file could not be found" produced by dependent projects (they are not the root cause

[2018-10-10 06:33] MyNameIsHidden commented on #22294
Need separate check-box to disable any "auto popups" = windows that appears automatically when user moves cursor over the code, or does left-button click on the piece of souce code.
Actual case:
Variable with missprint symbol is typed and marked underline.
Select incorrect word by mouse.
Actual result:
Cascade of useless and annoing windows and popup-menus appears.
Pressing key (on keyboard) cause

[2018-10-10 06:33] jcouv commented on #30315
The crash shows an `InvalidOperationException` with `WaitAndGetResult cannot be called from a thread pool thread.`. That doesn't look related to nullability.
This is on 15.9 preview 1.

@dpoeschl Does this look familiar by any chance?

[code]

[2018-10-10 06:52] CyrusNajmabadi commented on #22294
Pressing key (on keyboard) causes choosing of useless menu items that trashes source code.

@MyNameIsHidden Can you provide a screenshot/gif showing what you're referring to?  Thanks!

[2018-10-10 06:57] jinujoseph commented on #29264
thanks @JurjenBiewenga

[2018-10-10 06:57] #29264 closed

[2018-10-10 07:45] #26027 closed

[2018-10-10 08:12] MyNameIsHidden commented on #22294
Sure. Here you go.
<img width="720" alt="screen shot 2018-10-10 at 11 05 08 am" src="https://user-images.githubusercontent.com/43049224/46721890-dec0fa00-cc7c-11e8-9d4b-74beb47820af.png">

[2018-10-10 08:24] JohanLarsson opened #30426 "Expose IsByRefLikeType on INameTypeSymbol"
Useful information that I don't know how to dig out using existing API.

[2018-10-10 08:25] JohanLarsson opened #30427 "Expose IsManagedType on INameTypeSymbol"
Useful information that I don't know how to dig out using existing API.

[2018-10-10 08:29] CyrusNajmabadi commented on #22294
@MyNameIsHidden What editor are you using?

[2018-10-10 08:33] JohanLarsson commented on #30427
Use case is in https://github.com/DotNetAnalyzers/ReflectionAnalyzers where we want to check:

[code]

[2018-10-10 08:33] MyNameIsHidden commented on #22294
Well. I'm terebly sorry... It seems that google followed me to wrong community forum.
I use Visual Studio **for Mac**.
Deleting my posts...
Sorry for bothering

[2018-10-10 08:34] JohanLarsson commented on #30426
Use case is in https://github.com/DotNetAnalyzers/ReflectionAnalyzers where we want to check:

[code]

[2018-10-10 08:35] CyrusNajmabadi commented on #30426
That use case doesn't seem to have any ref-structs.  Nor does it explain why it's important to know if it's a ref-struct.

[2018-10-10 08:36] CyrusNajmabadi commented on #22294
:)  Good luck!

[2018-10-10 08:37] CyrusNajmabadi commented on #30427
Same comment as your other bug.  What is the analyzer trying to do, and what information is the new API needed for.  THanks!

[2018-10-10 08:43] JohanLarsson commented on #30427
The goal of the analyzer is to produce a warning if `MakeGenericType` is called with types that do not satisfy the constraints on the type parameter.
It would give us a chance to find & fix issues that would be runtime errors at compiletime.

[2018-10-10 08:45] JohanLarsson commented on #30426
The goal of the analyzer is to produce warnings when `MakeGenericType` is called with illegal type parameters that would be runtime errors. I just checked and this call does not throw at runtime so it is not a good example for motivation :)

[2018-10-10 08:48] CyrusNajmabadi commented on #30427
Definitely seems like something reasonable to expose. Or perhaps .IsUnamanaged.   @gafter Do you have any thoughts around exposing this? Any concerns?  It seems like a pretty simple and basic API that already exists on TypeSymbol.  This woudl just be exposing it through ITypeSymbol.  Thanks!

[2018-10-10 09:34] Ifn00b opened #30428 "Improve Go To Last Edit Location"
**Version Used**:  15.8.6

**Steps to Reproduce**: ç

Execute command  "Go To Last Edit Location"

**Expected Behavior**:
if i execute multiple time the command  "Go To Last Edit Location" should navigate over all historical.
(How work "Navigate Backward")

**Actual Behavior**:
It only supports one level of history

[2018-10-10 10:00] Przemyslaw-W opened #30429 "Project.FilePath is null for Project class instance created for Word 2013 or 2016 VSTO AddIn"
**Version Used**:
15.8.6

**Steps to Reproduce**:

1. Create new Word 2013 or 2016 VSTO AddIn c# project
2. Obtain roslyn Project class instance for this newly created project

**Expected Behavior**:
Project.FilePath should contain correct data

**Actual Behavior**:
Project.FilePath is null

[2018-10-10 12:36] Neme12 commented on #30384
There is a similar issue here. `GetConstantValue` isn't working either for default literals in C# 7.0, even in simple cases. For example:
[code]
Calling `GetConstantValue` on the default literal returns no value. This is blocking work on another feature (converting `default` to another literal). Please let me know if this is unrelated and I should file a separate issue. Thanks.

[2018-10-10 12:44] sharwell commented on #22294
@MyNameIsHidden Visual Studio for Mac uses several features from this repository, so it's not necessarily the wrong place to file it. We work in a whole bunch of places so it's easy for users to get them mixed up. If something ends up in the wrong place we can help get it moved too. 😄

[2018-10-10 15:24] cston opened #30432 "Report nullability warning for best common type mismatch with `ref`"
The following lambda and conditional operator expressions should result in nullability mismatch warnings:
[code]

[2018-10-10 15:41] cston opened #30433 "Describe handling of nullability in type inference"
Update `docs/features/nullable-reference-types.md`.

[2018-10-10 18:36] #30352 closed

[2018-10-10 19:46] #30349 closed

[2018-10-10 20:15] dpoeschl commented on #30315
Yeah, seems unrelated. Probably need to do something like https://github.com/dotnet/roslyn/pull/29484 here as well

[2018-10-10 20:16] dpoeschl commented on #30315
Should have emphasized the "seems". It's reproing in this scenario for you?

[2018-10-10 20:21] jcouv commented on #30315
Yes, I repro'ed this on two machines (work and home). Both with 15.9.
In one case I used the async-streams branch as-is, in the other case I used a merge of dev16.0.x into the async-streams branch (this is where the stacktrace was taken from).
I will try again this afternoon with plain dev16.0.x for comparison.

[2018-10-10 20:54] gundermanc commented on #30300
Filed a bug for this ask for D16 P2. I'll update the thread once we have the behavior changed. I _think_ that the migration to IStructureTag doesn't need to block on this change. Without it, you should get similar behavior to what is there today, albeit with correct tooltips in VS.

[2018-10-10 21:02] CyrusNajmabadi commented on #30300
What do you mean by "with correct tooltips in VS"?
Thanks!

[2018-10-10 21:04] CyrusNajmabadi commented on #30300
@gundermanc ^

[2018-10-10 21:05] gundermanc commented on #30300
Typo... correct tooltips in VB.

[2018-10-10 21:08] gafter commented on #30427
I can't think of any problems exposing it.

[2018-10-10 21:30] CyrusNajmabadi commented on #30300
Sorry... i feel like i'm dense.  What is the relation between VB and this issue?  THanks @gundermanc

[2018-10-10 21:36] gundermanc commented on #30300
#24067, #16395, and #26445 are all bugs that are caused by Roslyn returning incorrect spans to the IBlockTag API. Returning correct spans in IStructureTag can fix all of these issues, even without an editor side change to assume the GuideLineHorizontalAnchor as the left-most endpoint of the span.

[2018-10-10 21:43] CyrusNajmabadi commented on #30300
Could you explain what you mean by the "correct spans"?  From my recollection of past convos, the idea of what was a 'correct span' was inherently what was difficult as languages generally do not have an understanding of this information in order to answer that question.

For example, the 'correct span' ends up changing depending on things like *ui settings arond how big a tab is*.  However, langu

[2018-10-10 21:45] CyrusNajmabadi commented on #30300
Or are you saying: if roslyn literally took the existing IBlockTag info from today and instead just returned it in IStructureTag, things would just work?  If so, i'm happy to make that change.

[2018-10-10 21:52] CyrusNajmabadi commented on #30300
Ok.  trying this out.  will report back soon on effectiveness.

[2018-10-10 21:59] gundermanc commented on #30300
#24067 can be fixed using IStructureTag or IBlockTag so long as you give us the spans we expect. 'StatementSpan' should be the header of the block ( `if (cond)`), but Roslyn currently gives us the entire span of the block (from 'i' to '}'). I believe that this will also fix #16395 but it has been a while since I looked.

This issue can be fixed by editor or by Roslyn by picking a different horizon

[2018-10-10 22:06] CyrusNajmabadi commented on #30300
Because that's the conceptual thing being collapsed.  It's also so we can show useful stuff on hover like:

![image](https://user-images.githubusercontent.com/4564579/46768679-03799980-cc9e-11e8-8cb5-d3d59fdbf919.png)

[2018-10-10 22:06] agocke opened #30436 "EvaluationContext.CompileExpression used in expression compiler can't override language version"
Right now most of the expression compiler tests use EvalationContext.CompileExpression to run tests simulating the EE. It appears that this method uses a hardcoded parse options value with a language version of `Latest`, which is problematic for C# 8.0 features since the `Latest` language version is actually C# 7.3.

It's possible this may even apply to the EE product, since this helper may also b

[2018-10-10 22:06] CyrusNajmabadi commented on #30300
Switching impl doesn't seem to have helped.  I still get this:

![image](https://user-images.githubusercontent.com/4564579/46768707-1b511d80-cc9e-11e8-9816-97215df135b0.png)

[2018-10-10 22:36] CyrusNajmabadi commented on #30300
I also tried manually tweaking this (for that `new Node(`) case above.  i changed the header span to stop being from `new to }` and made it from `new` to the start of the outlining span.  But i still get:

![image](https://user-images.githubusercontent.com/4564579/46769880-08404c80-cca2-11e8-8b26-956e26916c22.png)

It's unclear to me what the language is even supposed to be computing here for thes