[2015-05-27 01:03] mavasani commented on #3030
@heejaechang I think we may want to allow different versions as different references, especially given 2 different projects might be referencing these separate versions (that seems like the most common real user scenario, correct?). Does the assert cause any bad behavior, or is it benign? If it is the latter, we may want to move this to 1.1.

[2015-05-27 01:10] heejaechang commented on #3030
@mavasani I think, regardless of the id issue, we want to fix this. so, now if there is any change in AssemblyIdentity we will consider two references to two different ones then. I am fine with it as long as that is what we expects.

[2015-05-27 01:11] chrisaut commented on #2981
@svick interesting, but this does not seem to work for me (VS2015 RC)
[code]
Compiler informs me:
[code]
Is this something that Rx brings in maybe? In any case we agree that it's probably not the right approach to tackle this annoyance.

@AdamSpeight2008 thanks I see. Even if you could get that to work automatically, this would be like java: type erasure :-) I don't think it's a proper solution ei

[2015-05-27 01:22] svick commented on #2981
@chrisaut

Yes, it is. `IObservable` is nigh useless without Rx, so I didn't consider anyone would be using `IObservable` without Rx.

[2015-05-27 01:44] aluanhaddad commented on #2970
For the first example proposed:
In terms of LINQ to Objects the current semantics of the join clause are that it does not enumerate the right sequence for each item in the left sequence. Instead it produces the keys used in the equals clause a single time for each sequence and correlates items accordingly. This has two nice properties:
1. It improves performance when items only need to be correlat

[2015-05-27 02:38] whoisj commented on #101
@JohnnyBravo75 given that events are subscription base, I suggest that they always use weak references. In fact, at the moment, I'm having trouble coming up with a reason they should not.

[2015-05-27 03:00] mavasani commented on #2914
@ManishJayaswal @srivatsn @JohnHamby I think we need this for 1.0 to ensure correct and functional stateful analyzers.

[2015-05-27 03:18] aluanhaddad commented on #158
This would be very useful. I would very much like to be able to combine Delegate instances in a typesafe manner.

[2015-05-27 04:30] dotMorten commented on #101
Events should definitely not default to weak. As pointer out higher up that would break a lot of existing code - the more obvious one anonymous delegates:
[code]

[2015-05-27 05:31] KalitaAlexey opened #3109 "[Proposal] Scoped variable (With keyword)"
Sometimes I need to use some object in two lines, but I don't want to pollute scope.
Example
[code]
I'd like to write
[code]

[2015-05-27 06:28] Joe4evr commented on #3109
Dupe of #951.

[2015-05-27 06:51] balajikris opened #3110 "Improve Introduce Variable support in Conditional Access Expressions"
From discussions at https://github.com/dotnet/roslyn/pull/2414/

@balajikris wrote:
|F(New C)?.F(New C)|]?.F(New C) is an invalid selection. The selection cannot be represented as a single expression in the syntax tree. They are two invocation expressions under two different parent conditional access expressions. Introduce variable does not expand selection, so, in this case, the selection is just

[2015-05-27 07:02] erik-kallen commented on #3109
You can do that today

    IEnumerable<IModel> models = <...>;
    View view = new View();
    {
        var model = models.First();
        view.Position = new Point(model.Position.X, model.Position.Y / 2);
    }

[2015-05-27 07:26] balajikris commented on #2671
similar to #2667, the first part of the issue doesn't repro. the second part of the issue is intact. At first guess it feels like an issue with simplification. Looking further.

[2015-05-27 08:57] KalitaAlexey commented on #3109
@erik-kallen I know. But this may be misunderstanding. Someone may see
[code]

[2015-05-27 09:03] xprzemekw commented on #3078
@jasonmalinowski I have created a dump and 7zipped it, it is avilable here: https://github.com/xprzemekw/misc/blob/master/MemoryDump.7z

BTW: In 64bits world processing completes eating ~3.2GB.

[2015-05-27 09:22] ulrichb commented on #3024
@pharring We don't know. Roslyn 1.0.0-rc2 was the first version where we used `ImportAdder`/`Simplifier`/`Formatter` for bigger files and observed the performance hit within our application.

[2015-05-27 09:26] heejaechang opened #3111 "make sure internally we only use DiagnosticData not Diagnostic and only use Diagnostic when we communicate exteranlly"
it looks like at some point we changed our code fixer side to use Diagnostic not DiagnosticData internally. due to that, fixer side lost all the association between Diagnostic and Workspace.

not sure why it is changed to Diagnostic. initially it should have used DiagnosticData.

@shyamnamboodiripad or @mavasani might know why we changed. but we should move back it to use DiagnosticData so that we

[2015-05-27 11:53] davidroth commented on #2905
@kuhlenh

Cool, the first draft looks very good.

Some feedback:

**General feedback**
It would be great if the "planned" and "additional info" columns could be completed.  If a features is currently unsupported, it would be interesting to see if it may be added in the future of what would be needed to implement it.

**Add and modify async/await expressions:**

There are some limitations which are

[2015-05-27 12:13] KrisVandermotten commented on #2930
The discussion about whether lambda's are sufficient for the proposed use cases seems rather strange to me, as one of those use cases is an iterator method that validates its arguments. We need *some* kind of new capability there.

As I understand it, the proposed syntax would be something like:

    public static IEnumerable<int> NumbersUpTo(int n)
    {
        if (n < 0) throw new ArgumentOutOf

[2015-05-27 12:24] HaloFour commented on #3109
This proposal doesn't add anything new to the language.  Yet another method of introducing scope is extraneous, especially since absolutely nothing special is happening or being done with the `model` variable.

[2015-05-27 13:46] #3109 closed

[2015-05-27 14:55] tmeschter commented on #3098
@dpoeschl Do you know what build of VS you were using, and what build of Roslyn (if you changed it)?

[2015-05-27 15:23] Pilchie commented on #2583
I did verify the above.  You could also try it with a standalone app that used our NuGet packages from MyGet, or with a standalone app build against your outputs.  You don't *need* to be in VS for this part to work.

[2015-05-27 15:30] danielcweber commented on #261
As a proof of concept (and also to get some insight into Roslyn), I started implementing async iterators [here](https://github.com/danielcweber/roslyn/tree/AddAsyncIteratorSupport). On this branch, the compiler is able to compile this file (called AsyncIterators.cs)

    using System;
    using System.Collections.Generic;
    using System.Diagnostics.Contracts;
    using System.IO;
    using Syste

[2015-05-27 15:37] scalablecory commented on #261
@danielcweber Great job!

[2015-05-27 15:38] bkoelman commented on #2583
Good to know, thanks!

[2015-05-27 15:59] whoisj commented on #101
@dotMorten ahh and there's the example that I wasn't coming up with. Thanks for that.

Anonymous delegates aside, having event references be weak by default brings a lot of benefits. Perhaps the compiler could smart and helpful enough to track anonymous delegates as strong references - though that seems like a lot of book keeping for the GC to be doing.

Still, I stand by my assertion that weak re

[2015-05-27 16:19] davunderscorei opened #3116 "GetAnalyzerDiagnosticsAsync returns nothing if a DiagnosticAnalyzer has an empty Initialize"
Given the following code

    private static async Task<ImmutableArray<Diagnostic>> GetDiagnosticsAsync(
        Project project,
        ImmutableArray<DiagnosticAnalyzer> analyzers)
    {
        var compilation = await project.GetCompilationAsync();
        var withAnalyzers = compilation.WithAnalyzers(analyzers);
        var diagnostics = await withAnalyzers.GetAnalyzerDiagnosticsAsync();

[2015-05-27 16:30] gafter commented on #3082
I'm not sure what would be an appropriate resolution. Do you think the API documentation should be improved?

[2015-05-27 16:35] ljw1004 commented on #2863
This isn't right...

(0) The bottom line is that ImmediateWindow should be binding to the same thing that the compiler binds to. There's nothing about this case that justifies a divergence. And at compile-time, ResourceDictionary.First does bind to the extension method.

(2) There isn't a method called ResourceDictionary.First.

(3) ResourceDictionary implements IIterable in winmd terms, but this

[2015-05-27 16:44] lgolding commented on #3082
I think that a more verbose error message on the exception would help. Something to the effect of "you can't pass an arbitrary token as the first argument. The token has to be a member of a SyntaxTokenList."

[2015-05-27 17:07] jaredpar commented on #3101
Could you add a bit of context on this?  In particular what scenario is blocked by our current method of signing?

[2015-05-27 17:18] dpoeschl commented on #3098
I think I was using the current team basedrop + Main-Signed-Release 20150525.2.

[2015-05-27 17:38] whoisj commented on #158
:+1:

[2015-05-27 17:46] srivatsn commented on #3116
I believe @mavasani just fixed this. Manish, can you make sure?

[2015-05-27 17:53] mavasani commented on #3116
Yes, this is fixed in the stabilization branch with https://github.com/dotnet/roslyn/commit/96bbb86dd1f216cef0d7a8500b063b76c6b7366b

I don't think it has yet been ported back to master.

[2015-05-27 17:55] HaloFour commented on #261
@danielcweber

Awesome job.  I like how you reused Ix's `IAsyncEnumerable`.  I wonder if Roslyn would eventually also support that interface as well as a BCL-provided one.

I had been wondering that myself.  One potential solution might be to have the iterator method accept (require?) a `CancellationToken` argument and the generated state machine would effectively "merge" the two tokens together i

[2015-05-27 18:18] jasonmalinowski commented on #3078
So this doesn't look like a leak of any MSBuild structures itself -- I see lots of objects in memory but most of them are unrooted. @xprzemekw's stack though might actually be pointing to the problem instead of an unlucky victim though: there's several thousand ModuleMetadatas in memory. Assuming your solution isn't referencing 2000 unique DLLs (seems unlikely :smile:), there must be some broken c

[2015-05-27 18:21] rchande commented on #3086
@Pilchie @DustinCampbell I fixed this and actually broke a test asserting the behavior. Do you remember why we did this?

[code]

[2015-05-27 18:23] ljw1004 commented on #3086
@rchande I wonder if there are two separate issues?

(1) In "non color-color" cases it should NOT show constants.
(2) In "color color" cases it SHOULD show constants.

I wonder if the intentional change from Dev12 was to fix (1), but it accidentally threw out (2) as well?

[2015-05-27 18:27] balajikris commented on #2671
This scenario appears to work. The generated code is error free. The call keyword is introduced in the line immediately next to the inlined variable declaration, to avoid breaking parsing in some cases (internal bug 529694).

[2015-05-27 18:52] scalablecory commented on #261
I'd almost like a syntax sort of like this:
    IAsyncEnumerable<int> GetSequence() with token
    {
        if(token.IsCancellationRequested)

But that may be too extreme of a change...

[2015-05-27 19:00] AnthonyDGreen commented on #2238
@HugoRoss,

FWIW, VB actually requires nested types in interfaces. Consider this scenario:

[code]

In Visual Basic, when you declare an event ```E``` with an inline signature the compiler implicitly declares a delegate nested in the same type with that signature and the name ```EEventHandler```. That's the behavior for events declared in classes, structures, or interfaces. So the above definition

[2015-05-27 19:09] #3020 closed

[2015-05-27 19:12] gafter opened #3118 "Want an analyzer that prevents calling virtual methods from the constructor."
We should have an analyzer that prevents calling virtual methods from the constructor. That is a very dangerous programming practice because you may be invoking a method on a partially constructed object.

That might not catch all cases (e.g. you could still call a non-virtual method that calls a virtual method, and it would not be diagnosed.), but it would be useful even if imperfect. Or perhaps

[2015-05-27 19:23] AlekseyTs commented on #2867
@gafter Please verify.

[2015-05-27 19:23] #2867 closed

[2015-05-27 19:38] danielcweber commented on #261
@HaloFour what's the BCL-provided interface for async iterators?
@scalablecory I also thought about having a variable (eg. named "ct") implicitly in scope, like "this" is also implicitly in scope. Of course, you may not have a parameter with that name but I guess that would be tolerable.

[2015-05-27 19:43] mattwar opened #3119 "VB auto complete does not add missng THEN after ElseIf"
This does work for If and #If

[2015-05-27 19:45] jakesays commented on #3101
I cannot create an unsigned build due to the RoslynInternalKey being set, even with SignAssembly = false. The internals visible to files are still created with RoslynInternalKey, which obviously doesnt work. With this fix that becomes a non issue, and creating unsigned builds is easy.

[2015-05-27 19:46] jasonmalinowski commented on #3078
@Pilchie, it looks like we need a cache here. Quickly adding one wouldn't be too terribly difficult. Want to reconsider the milestone?

[2015-05-27 19:47] srivatsn commented on #3118
This is a FxCop rule CA2214 and we've already reimplemented it in Roslyn [here](https://github.com/dotnet/roslyn/blob/master/src/Diagnostics/FxCop/Core/Usage/CA2214DiagnosticAnalyzer.cs)

[2015-05-27 19:47] #2907 closed

[2015-05-27 19:48] mattwar commented on #2779
@JoshVarty Do you have any new information?

[2015-05-27 19:52] HaloFour commented on #261
@danielcweber

There isn't one.  I am under the assumption that the feature would depend upon such an interface being added to the BCL as to not require a project to take a hard dependency on Ix-Async.  Even if the feature is convention-driven and would work with Ix-Async I would expect an identical-looking interface to be added to the BCL.

[2015-05-27 19:53] Pilchie commented on #3086
@ljw1004 is right (though it applies to all `Shared` members, not just constants).

[2015-05-27 19:54] jaredpar commented on #3101
@jakesays but why do you need unsigned assemblies in the first place?

[2015-05-27 19:56] tmeschter commented on #2920
I favor option 3.

[2015-05-27 19:57] rchande commented on #3086
@Pilchie @ljw1004 Sounds good, I'll make sure both cases work.

[2015-05-27 19:59] jakesays commented on #3101
For custom builds. I need access to internal functionality, and dealing with signing is a real pain in the butt (not to mention being completely unnecessary in certain use cases.)

[2015-05-27 20:06] jaredpar commented on #3101
Ah okay.  So the scenario is that you are consuming Roslyn from an unsigned location and want access to internal types.  This is failing because `InternalsVisibleTo` from signed to unsigned doesn't work (both sides must be signed or unsigned).  Is that the scenario?

[2015-05-27 20:07] mavasani commented on #2920
@tmeschter I tried out number 3 my making a local change, and the msbuild task still bails out and reports nothing. It does the below:

1. Tries to parse the line/column info: http://source.roslyn.io/#Microsoft.Build.Tasks.CodeAnalysis/Vbc.cs,733. If it fails, it logs the text as is.

2. Otherwise, if the parsed line has error/warning tag, it assumes VB diagnostics either have no line and column i

[2015-05-27 20:09] mavasani commented on #3027
Fixed with https://github.com/dotnet/roslyn/commit/b041933a34ec47aef5f71894777f40639429d5a3

[2015-05-27 20:09] #3027 closed

[2015-05-27 20:26] amcasey commented on #599
I'm going to give this a shot.

[2015-05-27 20:40] jakesays commented on #3101
Basically, yes. The issue I'm addressing here is, with `<RoslynInternalKey/>` populated and `SignAssembly=false`, the roslyn build fails, because the `InternalsVisibleTo` attributes are generated with the contents of the internal key. Since the 'visible to' signatures no longer match, nothing is actually made visible.

[2015-05-27 20:50] MatthieuMEZIL opened #3123 "Proposal: Namespace resolution could be improved"
This code does not compile

[code]
Error	CS0234	The type or namespace name 'C1' does not exist in the namespace 'N1.N2' (are you missing an assembly reference?)

We can use `class C2 : global::N2.C1` to fix the error.

However, I think that because the type C1 does not exist in N1.N2 namespace, the compiler should be able to determine that it should use N2.C1 instead (which can be done without bre

[2015-05-27 21:00] dsyme commented on #261
I believe the only truly systematic and consistent approach is to have the MoveNext operation on the AsyncIterator accept the Cancellation token.

That is, the natural and systematic translation to make any method M asynchronous is as follows: "any operation `M` generating result `R` translates to an async method `M` taking a cancellation token `CT` and giving result `Task<R>`".

Altering the scop

[2015-05-27 21:12] lgolding opened #3125 "On VS startup, squiggles appear but error list is empty"
Repro:

1. In my main instance of VS, I press F5 to debug my analyzers assembly.
The sandbox instance of VS appears.

1. In the sandbox instance, I open a test solution that contains a source file that demonstrates the issues my analyzers detect. I open the source file.
The green squiggles appear, and the issues appear in the error list.

1. In the sandbox instance, I uninstall the "Analyzers1" VS

[2015-05-27 22:03] #2671 closed

[2015-05-27 22:14] mattwar commented on #2837
This is exactly what @miloush claims.  We go ahead and format the line on the typing of the ';' key, and the formatting engine has a rule that keeps the block on the same line if it is already on the same line, except is sees it as broken across two lines because the matching brace is on the next line (according to the parser).  The reason this worked in prior VS was that we did not do any formatt

[2015-05-27 22:15] Jake456 commented on #3091
I resolved this by enabling nuget.org (https://www.nuget.org/api/v2/) in the package sources list.

[2015-05-27 22:15] #3091 closed

[2015-05-27 22:15] HaloFour commented on #261
Of course, and that is to be expected.  The question is how to expose that token in the iterator.

But these sequences themselves also represent an asynchronous operation which can potentially be cancelled as a whole, such as a single HTTP call which is returning a stream of data asynchronously which is parsed into a sequence of elements.  You'd need a reliable mechanism to convey cancellation to

[2015-05-27 22:22] gafter commented on #158
Unfortunately this proposal does not accomplish that. These type parameters do not have an operator to combine them, and the proposal does not show how such a thing might be implemented.

[2015-05-27 22:27] agocke commented on #2920
Since we've narrowed down the cause and solution to diagnostic reporting, assigning to analyzers for triage.

[2015-05-27 22:46] Pilchie commented on #2824
I've been looking at this, and I *think* that putting:

[code]

into your properties *should* work, but doesn't seem to on my RC VM.  Running msbuild on the command line with those seems to correctly `ImplicitlyExpandDesignTimeFacades` according to my diagnostic log.

Having trouble debugging the actual msbuild workspace code to figure out what's up, but will keep looking.

[2015-05-27 22:54] HaloFour commented on #158
@gafter

Given that the delegate "operators" in C# are pure syntax candy and unrelated to actual operators couldn't the compiler emit the same code if those operators are used with instances of the generic type constrained to `System.Delegate`?

You're right that this proposal doesn't cover this and I don't think it really has to.  With the limitation removed I think that it would open the door to

[2015-05-27 23:03] #1031 closed

[2015-05-27 23:10] dpoeschl commented on #1031
@ilmax Thanks again for reporting this. We no longer crash, but the rename result will be a solution where the rename has basically failed. Getting this failure information out of the rename call is part of https://github.com/dotnet/roslyn/issues/197, which is not yet implemented, so for now continue to avoid passing in dotted names.

[2015-05-27 23:14] paulomorgado commented on #261
@HaloFour, when would you need to cancel MoveNext without canceling whte whole iteration and vice versa?

[2015-05-27 23:31] dpoeschl opened #3133 "Enum preselection fails in collection initializers"
[code]

Delete the `DayOfWeek.Monday` in both examples and invoke completion.

**Expected**: Both cases show `DayOfWeek.Monday` (and other choices) in the completion list.
**Actual**: The `List(Of DayOfWeek)` case fails.

[2015-05-27 23:32] dpoeschl commented on #3133
Found during work on #3074, related to internal TFS bug 529480

[2015-05-27 23:49] jakesays commented on #3101
Closed because things are working as-is.

[2015-05-27 23:49] #3101 closed

[2015-05-27 23:56] gafter commented on #2549
@VSadov Please verify this fix.

[2015-05-28 00:00] #2667 closed

[2015-05-28 00:53] jasonmalinowski commented on #1890
So testing with a small project, if there's only references missing, the design time build doesn't fail. But if there's any inclusion of props or targets, the NuGet-inserted bits that fail the build when the .targets or .props are missing completely fail the design time build. Since Roslyn consumes the toolset compiler in each of our projects, this breaks it.

@yishaigalatzer: did something change

[2015-05-28 01:03] HaloFour commented on #261
@paulomorgado Probably not.  At best canceling the `MoveNext` operation would leave the sequence in an indeterminate state.  But I do think that we'll want a simple cancellation mechanism that unifies the three that exist in the async sequence pattern:

1. `CancellationToken` passed to the async iterator function.
1. `CancellationToken` passed to the `IAsyncEnumerator.MoveNext` method.
1. The `IDi

[2015-05-28 01:38] miloush commented on #2837
Not attempting to do formatting in the presence of parse errors sounds quite reasonable to me. In general I have to say that the IDE now feels rather aggressive (and the written code less 'stable') whenever there are parse errors.

[2015-05-28 02:00] dhusemann commented on #3091
@Jake456 since vs2015 will have nuget v3. should it also build from v3, ??

[2015-05-28 03:45] Jake456 commented on #3091
IMO it should. (To clarify, currently it doesn't.)

It seems like a broader comparability issue between Nuget's command line tool and the v3 API.
Various commands (like list & restore) no longer work; The api responds with `Bad Request (400)`.

I'm not a Nuget expert, but I think this can be solved by overriding the Machin's config in the solution's config, enabling the mentioned package source. (

[2015-05-28 04:21] mattwar commented on #2824
I think you meant "BuildingInsideVisualStudio"

[2015-05-28 04:33] mavasani commented on #3116
It has now been ported to master.

[2015-05-28 04:33] #3116 closed

[2015-05-28 05:09] qrli commented on #2930
I am also in the camp that improving other features may solve it better than introducing local functions.

It is largely duplicate with lambda, in syntax. Whether a delegate is created can be optimization detail. E.g. in many script languages, e.g. JavaScript, Python, Lua, `function f() {}` and `var f = () => {}` are basically the same thing. So it is better to improve the lambda syntax, and there

[2015-05-28 05:15] yishaigalatzer commented on #1890
Nothing that I know of. Does this behave differently if you open the project in visual studio 2013?

[2015-05-28 06:47] danielcweber commented on #261
@HaloFour: By "the async iterator explicitly accepts one as an argument" you mean the method that returns `IAsyncEnumerable&lt;>` and contains `yield return` statements having a parameter of type `CancellationToken`? Or do you mean that the `GetEnumerator` method of `IAsyncEnumerable` should take a `CancellationToken` ?

[2015-05-28 07:57] davunderscorei commented on #3116
<3 open source.

[2015-05-28 08:21] paulomorgado commented on #261
We have to take in account that there are two sides to an enumerable: the producer and the consumer.

Although most developers will be consumers, ease of production will benefit all. So, language support for creating asynchronous enumerators will have it's own value.

We also have to take in account that some types might be both synchronous and asynchornous enumerables. I don't think the existing

[2015-05-28 13:33] breyed commented on #2974
Good syntax is often a detailed and subtle endeavor, which is why I focused on just noting the issue. Prompted by @HaloFour's comment, I've given this some thought and would offer the following lightweight syntax. I'd have to dig through the C# spec to get the precise grammatical terminology, but this should give you the gist.

* An indented line following a namespace, type, or controls block head

[2015-05-28 14:04] ulrichb commented on #3
Is it also planned to publish source packages to symbolsource.org (like [ASP.NET MVC](https://www.symbolsource.org/Public/Metadata/NuGet/Project/Microsoft.AspNet.Mvc))?

[2015-05-28 14:25] HaloFour commented on #2974
@breyed That's about what I expected.  You *don't* want C#.  You want another language.  Those languages already exist so I imagine that your problem is the inability to find jobs for those languages.

The semi-colon elimination proposal was already brought up.  Again, C# was not designed for this, and the sheer volume of breaking changes and ambiguities (and the *massive* effort that would be inv

[2015-05-28 14:49] breyed commented on #2974
@HaloFour Recall that I suggest having two syntaxes, the existing syntax ("verbose") and a new syntax ("lightweight"). This would ensure no breaking changes. F# was successful with this approach. Ambiguity is another matter. Can you think of an example in which the proposed lightweight syntax would be ambiguous? And speaking examples, I'd love to see an example of a comma-based constitutional cour

[2015-05-28 14:59] HaloFour commented on #2974
@breyed I continue to contend that you suggest having two languages.

Try Googling "supreme court guns comma", the resulting articles/blogs/thesis/etc. are an interesting read.  Makes you wonder what Congreſ* was thinking.

\* How "Congress" was spelled in 1789, as appears in the Bill of Rights.

[2015-05-28 15:20] HaloFour commented on #261
@danielcweber The method that uses `yield return`, etc.  That's likely the only method the consumer will be calling directly and passing arbitrary arguments.

@paulomorgado Rescanning the thread it doesn't appear that any modifications to `foreach` to consume async sequences has been discussed yet.  I do expect that some syntax changes would be required to make that happen and maybe there is room

[2015-05-28 15:35] scalablecory commented on #261
@HaloFour The sequence is cold at the point where you call the generator method. This is not an appropriate place to pass a cancellation token.

GetEnumerator() could work, but it's not exactly in line with existing practice. Right now, just about everywhere in .NET, you pass in a token to the method that does the actual work, not to some encompassing factory instance.

MoveNext() is the most in l

[2015-05-28 15:47] Inspyro opened #3140 "Formatter does not work correctly in conjunction with the SyntaxFactory for multiline xml doc comments"
Hi, after some hours of debugging I found a potential **bug** i *Roslyn*. When a *PropertyDeclaration* is generated with the *SyntaxFactory* a trailing whitespace with width 0 is automatically added.
When the leading trivia of the next member is a *multiline xml doc comment*, it gets formatted wrong by the *Formatter*, because it is apparently confused by the *trailing whitespace*. When the traili

[2015-05-28 15:48] HaloFour commented on #261
@scalablecory I know, it's just the only place where the consumer would normally explicitly pass any arguments and the only place where iterator methods can accept arguments.  Anything beyond that is going to require some fun syntax candy for both the consumer and the producer.

The consumer is probably relatively simple.  We'll probably end up with something similar to what @paulomorgado suggeste

[2015-05-28 16:04] pharring opened #3142 "PERF: Reduce frequency of pipe polling in compiler server scenarios"
In the compiler server scenario, each client "pokes" the pipe 10 times a second to check for early disconnections.
The server also pokes the pipe 10 times a second to check for client disconnections.
In a multi-proc build scenario, as the number of clients rises, the pipe will be "poked" more and more often. That seems too aggressive.
The intent of polling so quickly was to catch disconnects as so

[2015-05-28 16:38] Pilchie commented on #2505
Apparently VB had this feature in VS 2013, and we never implemented it in Roslyn. :frowning:

[2015-05-28 16:45] Pilchie commented on #2824
Yes, I did mean that, but it doesn't help either :frowning:

[2015-05-28 17:14] Pilchie commented on #3119
Oops :frowning:.  Let's bring this back.

[2015-05-28 17:46] cston commented on #2863
The EE binds to the (private) method ResourceDictionary.First rather than Enumerable.First since the EE ignores accessibility. This is consistent with the legacy EE.

However with the repro steps, not all modules are loaded to allow the legacy EE to bind ResourceDictionary.First initially. Change the repro the following instead and use the legacy EE to see the same behavior as the new EE.

[2015-05-28 17:49] JoshVarty commented on #2779
Sorry, I didn't have the binding redirects. I'm going to test with them later today and let you know.

[2015-05-28 18:05] kbirger commented on #347
It seems like this would require you to write conversions through operator overloading. It seems unclean to have to do a runtime check on whether or not the target type is "property-only", moreover you would still have to execute the constructor, so you wouldn't be able to guarantee that two objects created via ctor(x,y) are identical.

However, if we think of this not as casting but as creation s

[2015-05-28 18:06] ManishJayaswal commented on #3118
Closing since we have implemented this rule already.

[2015-05-28 18:06] #3118 closed

[2015-05-28 18:19] #1181 closed

[2015-05-28 18:23] MadsTorgersen opened #3147 "Wrong result of 'introduce local' for interpolated string target typed to FormattableString"
[code]
(Needs .NET 4.6 for availability of `FormattableString`).

Select `$""`, and control-dot to "Introduce local".

The result:

[code]

With a red squiggle under `(FormattableString)v`. This is wrong. The extraction should have been:

[code]

So that the interpolated string continues to be correctly target typed to `FormattableString`.

[2015-05-28 18:47] SebastianStehle opened #3149 "Csc2.exe crashs with code -1073741819"
Hi, I am running Visual Studio 2015 RC with windows 10 in hyper-v on a windows 8.1 host system.

I started developing an universal app and it worked fine, but suddenly the compiler starts crashing with error code -1073741819 on several projects (even when I create a new application, doesnt matter which kind of application), even after restarting the virtual machine. The build output shows the deta

[2015-05-28 18:48] heejaechang commented on #3033
done

[2015-05-28 18:48] #3033 closed

[2015-05-28 18:49] heejaechang commented on #3030
done

[2015-05-28 18:49] #3030 closed

[2015-05-28 19:09] amcasey commented on #599
Back to @dpoeschl  for verification.

[2015-05-28 19:09] #599 closed

[2015-05-28 19:18] #2352 closed

[2015-05-28 20:16] rchande commented on #2876
@heejaechang in @tmat's trace/dump, it looks like FAR and Solution Crawler are both serializing tons of trees, so he spends like 80% of the trace time in the GC. How hard do you think it would be to suspend Solution Crawler during FAR?

[2015-05-28 20:20] Pilchie commented on #2904
Unfortunately, without any more information we're not going to be able to do more here, though this looks similar to an error @joshvarty mentioned.

[2015-05-28 20:20] #2904 closed

[2015-05-28 20:40] jaredpar commented on #3149
Thanks for reporting this.  We will take a look at it.

[2015-05-28 21:05] heejaechang opened #3155 "Log Global Operation name in etw"
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Notification/GlobalOperationNotificationService.cs,f2ede41bb677ea23

pug logging here.

[2015-05-28 21:58] ljw1004 commented on #2863
Dang!

[2015-05-28 21:58] #2863 closed

[2015-05-28 22:29] agocke commented on #2854
FYI I have just finished testing the changes from #3081 and the associated TFS shelveset by performing a fake insertion using master bits, which already had these changes, into a local branch. I then built then VS from the branch, installed it on a blank VM, and verified that a console app 1) built and 2) properly interacted with the IDE, specifically that C#/VB files were not classified as Misc f

[2015-05-28 22:42] AnthonyDGreen commented on #2067
@halivingston,

Sorry for the slow reply. This isn't the case. Take this example:

[code]
In this example both operands are converted from their actual types to their base types, neither of which is the result type of the expression. And the expression itself is being converted to yet another type. Because when dealing with overloaded operators the result type needn't match either of the types of

[2015-05-28 22:44] #2067 closed

[2015-05-28 22:45] AnthonyDGreen commented on #2032
Given that it doesn't apply to all derivatives of BaseMethodDeclarationSyntax adding this would seem inappropriate.

[2015-05-28 22:45] #2032 closed

[2015-05-28 22:50] AnthonyDGreen commented on #1983
I've added a link to this issue to our index in the compiler spec to be ported into markdown with the other known breaking changes.

**-ADG**

[2015-05-28 22:50] #1983 closed

[2015-05-28 22:55] AnthonyDGreen commented on #1503
I'm not entirely sure why the "<_Type_> <_Identifier_>" portion isn't a variable declarator (perhaps because it lacks an initializer?) but that would be a fix to consider. In any event we wouldn't use an IdentifierNameSyntax node, we reserve that node for references. We may be able to make the change to use a declarator node in 1.1 so I'm moving to that milestone.

[2015-05-28 23:05] daking2014 opened #3159 "Samples and Walkthroughs->Getting Started->Semantic Analysis"
On the Samples and Walkthroughs page, the Getting Started: Semantic Analysis walkthrough, says to create a C# Roslyn Console Application project by going File-> New-> Project -> Visual C# -> Roslyn -> Console Application. However, I don’t have a Rosyln option under Visual C#.

[2015-05-28 23:05] agocke commented on #2857
* Customer scenario - The customer wishes to use the compiler server by using a NuGet package. Currently they are forced to use csc2/vbc2 which are not intended to ship as 1.0 or be supported in the future. Instead, the NuGet package should bundle the build task for compiler server interaction.
* Fix description - (Note: fix in TFS internal review) Include the build task in NuGet authoring and rem

[2015-05-28 23:36] ljw1004 opened #3161 "VB quickfix "insert missing cast" doesn't work and lacks preview - regression from VS2013"
Here's a screenshot. There is a quickfix offering to "Insert Missing Cast". However performing the quickfix doesn't make any fixes to my file. Additionally, there is no inline preview of what the fix will look like, and clicking on the "Preview Changes" link shows no changes.
![fails-to-cast](https://cloud.githubusercontent.com/assets/3316258/7873440/3e137e24-0557-11e5-8685-c53a677b9ab7.png)
Note

[2015-05-28 23:39] ljw1004 opened #3163 "VB incorrectly offers a "cast is redundant" quickfix - it's not redundant!"
Look at this screenshot. My CType operator is faded out because of a quickfix to "remove unnecessary cast".
![cast-redundant](https://cloud.githubusercontent.com/assets/3316258/7873493/f02a9a02-0557-11e5-9f6e-ce51113d2dc5.png)
But the cast is necessary! And indeed removing the cast will result in a compile-time error, as the preview shows!

Here's full source code for the repro.

[code]

[2015-05-28 23:40] ljw1004 commented on #3161
This bug might be related to #3163 (where, if you insert the missing cast, then it tells me that the cast was redundant!)

[2015-05-28 23:43] ljw1004 opened #3164 "Suggestion: C# should offer a QuickAction to insert explicit cast, like the error message says"
Look at this screenshot. The C# compiler is smart enough to know that an explicit conversion exists, and suggests that maybe I'm missing a cast. So it should offer a QuickAction to do this (like VB does).
![why-no-quickfix](https://cloud.githubusercontent.com/assets/3316258/7873548/883acc0e-0558-11e5-8c4e-a0fc681f5fea.png)

Full source code for the repro:

[code]

[2015-05-28 23:44] zooba opened #3165 "Interactive window should use ImageMonikers instead of PNG"
Currently there's a resource PNG file providing toolbar images for the interactive window. Assuming VS 2015 is the only target for this, it should switch to specifying image monikers in the .vsct file instead.

[2015-05-29 00:06] amcasey opened #3166 "Can we move the Workspaces layer to .NET 4.6?"
Does anyone have a scenario where they need to use Roslyn and 4.5.2 is available but 4.6 is not?  It would be nice if we could use `Array.Empty` and update `AsyncLazy` to use a non-throwing API.

[2015-05-29 00:06] amcasey commented on #3166
FYI @pharring @jasonmalinowski

[2015-05-29 00:07] amcasey commented on #3166
Related to #628.

[2015-05-29 00:57] amcasey opened #3167 "StackOverflowException in AbstractTypeParameterChecker"
...while checking EmbeddedTypesManagers TEmbeddedTypesManager type parameter (which is constrained to EmbeddedTypesManager).

http://source.roslyn.io/#Microsoft.CodeAnalysis/Emit/NoPia/EmbeddedTypesManager.cs,59199726cf1d929b

Impact is limited since we (effectively) only check type parameters in asserts (i.e. Release builds are unaffected).

[2015-05-29 00:57] amcasey commented on #3167
FYI @cston

[2015-05-29 00:57] amcasey commented on #3167
Dump at %mymachine%\Dumps\stackoverflow20150528.dmp

[2015-05-29 03:04] JoshVarty commented on #2779
(Disclaimer: I've never really worked with binding redirects before, so let me know if I'm doing anything wrong)

@mattwar I've added the following to my `app.config` and double-checked that my `*.exe.config` also contains it. (I'm testing using a ConsoleApplication)
[code]

Even with the binding redirect, I still get `error CS1703` complaining about multiple identical assemblies.

@Pilchie As VS2

[2015-05-29 03:04] AlekseyTs commented on #3149
@SebastianStehle, you mention everything worked fine at the beginning. If you create a similar brand new VM, does compiler fail on it in the same way? Did you install updates or any other software before the compiler started failing?

[2015-05-29 03:05] JoshVarty commented on #2824
You mention it doesn't work on your RC VM. Does it work on later builds?

[2015-05-29 03:08] JoshVarty commented on #3166
I'm using the Workspaces stuff with people who have only installed VS2013. I believe this means I can only assume they've got up to .Net 4.5.1 installed. (I'm basing this on: https://msdn.microsoft.com/en-ca/vstudio/dn250998.aspx)

I think OzCode is supporting VS2013 as well.

[2015-05-29 03:29] Pilchie commented on #2824
No, I broke it worse with the "fix" to the other PCL bugs. :frowning: I'm going to address that, and then see what happens on recent builds.

[2015-05-29 03:33] Pilchie commented on #2779
Tag @jasonmalinowski who has done more with Pkgdefs than me.  A hunch though is that the Pkgdefs approach only adds entries, and doesn't work if devenv.exe.config already has them, which VS2013 does :(

[2015-05-29 03:36] tmat commented on #3090
Fixed by https://github.com/dotnet/roslyn/commit/18f61a5712f5706c766a21f41b0cf03c2225d4b2

[2015-05-29 03:36] #3090 closed

[2015-05-29 03:38] dpoeschl commented on #2994
Still working on testing out the combined changes.

[2015-05-29 03:47] pharring commented on #3166
@JoshVarty Thanks for the info. Note that, as of PR #1632 (March 30th), your users will need to have 4.5.2 installed. Most users should already have 4.5.2 because it was pushed out via Windows Update earlier this year.

Note that this is tagged for milestone 1.1, so we're definitely not changing it for VS 2015 RTM (stabilization branch)
We anticipate that 4.6 will be pushed out via Windows Update,

[2015-05-29 04:07] AdamSpeight2008 opened #3169 "Add Grammars To Documentation"
Would it be possible to add the language grammars for C# and VB.net to the available documentation?

[2015-05-29 04:11] JoshVarty commented on #3166
@pharring Did #1632 make it into RC? (I see it was made before some RC commits, but I don't know how to track down whether or not it was actually merged in)

If you guys are confident that 4.6 will be pushed out via Windows update by the time 1.1 releases, switching now sounds reasonable to me. :)

[2015-05-29 04:28] gafter commented on #1503
@AnthonyDGreen how would we make that change without affecting all clients of the syntax tree API.

[2015-05-29 07:06] orthoxerox opened #3171 "Partial function application and function chaining"
Let's say I have a (deliberately useless) function:

[code]

I can use it to create a function that adds 5:

[code]

I cannot use type inference or define it inline:

[code]

However, what I would really want is a way to create chainable inline definitions:

[code]

Unfortunately, underscore has been a valid identifier since C# 1.0, so we cannot use this wonderful syntax. Pattern matching is proba

[2015-05-29 07:47] SebastianStehle commented on #3149
@AlekseyTs I had no chance to create a new VM yet, will do it today (because I have no other chance to get it working). As far as I remember I installed no updates. I was just in the progress of refactoring my code and then it happened, 5 minutes before the build worked fine.

[2015-05-29 09:00] jasonwilliams200OK commented on #3166
**`git bisect`** is the answer:

man page: https://www.kernel.org/pub/software/scm/git/docs/git-bisect.html
How to use git bisect: http://stackoverflow.com/q/4713088
In-action example: https://github.com/sass/libsass/issues/1216#issuecomment-102664393

PS: git is more than *just* a source-control. It is like a whole Operating System! :computer:

[2015-05-29 11:08] jogibear9988 commented on #957
Does anyone look at this issue then? If it has nothing todo with rosly, why does it work when we use the unfixed Code and compile with VS2013 compiler?

[2015-05-29 13:06] HaloFour commented on #3171
I think that you're still going to run into the problem of lack of inference of the return type.  The issue isn't figuring out the signature of the function, it's figuring out which compatible delegate type to use.  Even if it could figure that out to some arbitrary delegate since delegates don't have structural equivalence if you then have to pass that delegate to a method that accepts a differen

[2015-05-29 14:04] orthoxerox commented on #3171
No, they are not exactly equal, four and hahahaha are an int and a string, respectively.

I agree that lack of delegate type inference and structural equality is a hurdle for the implementation of this feature, but F# compiler has seemingly managed to jump over it.

[2015-05-29 14:07] orthoxerox commented on #3171
Actually, I've made a mistake, the line with `hahahaha` shouldn't compile because `WriteLine` returns `void`, not `string`.

[2015-05-29 14:22] Pilchie commented on #3159
The templates have moved to the Extensibility node in the new project dialog.  That one is now called "Standalone Code Analysis Project".

Tag @AnthonyDGreen  and @jmarolf

[2015-05-29 14:45] pharring commented on #3166
It should be noted that the main Workspaces assembly, Microsoft.CodeAnalysis.Workspaces.dll, is portable and so targets the portable framework 4.5. There's a strong desire to move that to CoreCLR 4.6, along with the rest of the compiler layer, when that framework becomes available.

The desktop assembly, Microsoft.CodeAnalysis.Workspaces.Desktop.dll (containing MSBuildWorkspace, primarily), curren

[2015-05-29 14:47] Pilchie commented on #3164
One problem with providing a fix for this error is that the C# compiler emits any time an explicit conversion *may* exist (e.g. converting an unsealed type to an interface), and a large majority of the time, inserting the cast will just cause a runtime error.

[2015-05-29 14:49] Pilchie commented on #3164
In order to fix this, we should first teach the compiler to report distinct errors between:

1. There is *definitely* a valid conversion.
2. There *may* be a conversion, if a derived type happened to implement the interface.

and only offer a fix for the first one.

[2015-05-29 14:54] breyed commented on #2974
Braces in Razor are a pain if you're trying to keep the newlines tidy in your output HTML. For example, the following leaves an extra blank line before the table close tag.

    <table>
        @foreach (var item in list) {
            <tr>
                <td>item.Name</td>
                <td>item.Description</td>
            </tr>
        }
    </table>

What if we could drop the braces?

    <

[2015-05-29 14:54] cston opened #3174 "EE: Ignore private members from native winmd assemblies"
The only private members in native winmd assemblies should be methods hidden by projections, that are unlikely to be invoked directly in the EE. See #2863.

[2015-05-29 15:03] jaredpar commented on #957
@jogibear9988 I did look at this sample and I could find nothing that appeared to be a Roslyn issue in it.  I looked through the code in question, some of the generated outputs and nothing seemed to be amiss.  It appears to be a change in the XAML infrastructure which was causing it.

[2015-05-29 15:12] pharring commented on #3166
Confirmed: The change to 4.5.2 did NOT make it into Dev14 RC.

[2015-05-29 15:48] jogibear9988 commented on #957
but the error happens not when compiled with 2013, and happens when compiled with 2015 on the same machine with the same dotnet framework installed!

[2015-05-29 16:20] VSadov commented on #957
@jogibear9988 - If you are still able to reproduce the scenario on your machine, could you collect IL (using ILDasm or ILSpy  tools) for the unfixed VersionedAssemblyResourceDictionary method in as it is compiled by the 2013 and 2015?

[2015-05-29 16:58] pharring opened #3177 "File.Exists check for named pipe causes EndOfStreamException in compiler server"
In BuildClient.cs, we use File.Exists to check for the existence of a named pipe.
See: https://github.com/dotnet/roslyn/blob/34241b100258f437794450fd57b0fdad8a12e5fe/src/Compilers/Core/MSBuildTask/BuildClient.cs#L326

It turns out that this causes an EndOfStreamException to be raised in the server because zero bytes are read from the pipe.

As we've discussed offline, we should be able to try and

[2015-05-29 17:00] jaredpar commented on #3166
The POR is to move Workspaces and below to 4.6 in the future branch at some point very soon after RTM.  I don't think we can move it to 4.6 in master due to the potentially for breaking customers.

[2015-05-29 17:12] AdamSpeight2008 commented on #3169
Asking because I can only seem to find VB11 and C#5

[2015-05-29 17:13] amcasey commented on #3167
Repro: Open Watson bucket 94564898447, dump 8bf3da2c-9007-446c-bb34-5840e81ffc73, stack frame 5 (in EmbeddedTypesManager).

[2015-05-29 17:20] monoman opened #3178 "Mistyping in the wiki"
@jaredpar

There is a subtitle as "Compiler Pipeline Functonal Areas", which makes the correct link "Compiler Pipeline Functional Areas" in the TOC not work.

In the Roslyn Overview page: https://github.com/dotnet/roslyn/wiki/Roslyn-Overview#compiler-pipeline-functonal-areas

[2015-05-29 17:52] wschae commented on #3090
Verified using {1.0 (stable)-Signed-Release}\20150528.2

[2015-05-29 17:52] gafter commented on #3178
Fixed.

[2015-05-29 17:52] #3178 closed

[2015-05-29 17:55] RobJellinghaus opened #3179 "Need to print all inner exception details on source file read failure"

[2015-05-29 18:22] gafter commented on #3169
We're still investigating how best to ship the language specifications.

[2015-05-29 18:43] gafter commented on #3179
Can we please have a bar check from shiproom? If this passes the bar a fix will be prepared for this milestone based on the strategy described above.

**User scenario**: some compiler failures (e.g. due to missing files) result in unhelpful or incomprehensible errors.

**Fix Description**: Provide more information from the underlying exceptions by digging through inner exceptions.

/cc @ManishJaya

[2015-05-29 18:52] RobJellinghaus commented on #3179
Note that this strategy might well be applicable in many other places; I just cite this one as one specific actual instance we directly experienced.  In our case, we were missing dependencies from the local CLR environment, specifically including System.Text.Encoding.Extensions.dll, without which no text file could be opened by Roslyn.  After getting that dll in the right place, we hit the same is

[2015-05-29 18:59] GeirGrusom commented on #2974
Razor can just convert everything between `@(` and `)`, @{ and } without caring about white space at all. The expressions inside, is verbatim valid C#. With a white space aware language it's not that simple any more.

I would also like to mention that mixing tabs and spaces, or getting the number of spaces wrong, either by copy-paste or poor merge conflict resolution, can introduce bugs in the cod

[2015-05-29 19:19] KevinH-MS commented on #210
Finally got to look at this today...  It appears we need to be using xunit 2.0.0 in order for this to work.  I'll try to see if there's still a good reason we need to be on 1.9.2.

[2015-05-29 19:22] jasonmalinowski commented on #2779
I can't recommend the pkgdef approach. The VS binding redirect merger does have some logic to deal with more than one redirect, but given that the project systems themselves have to interact with MSBuild you're putting the product in a very unsupported state.

As much as it pains me to say this, have you tried some sort of AppDomain approach? There you can control your own binding redirects indepe

[2015-05-29 19:24] dpoeschl commented on #3068
[Summarizing offline discussions]

The files in the App_Code folder are marked with Build Action = "Compile", which means they will be included in the project assembly in VS and in assembly built at runtime by ASP.Net, so the two contexts in the navbar is not unexpected, and this reproduces with your project in VS2013 Update4.

When we switch these files to Build Action = "Content", then we still

[2015-05-29 19:30] #3068 closed

[2015-05-29 19:36] KevinH-MS commented on #210
Actually, I take that back.  The problem is not that we use xunit 1.9.2, it's that we target .NET 4.6 (and that isn't one of the supported frameworks for xunit.runner.visualstudio 2.0.0).  Trying a pre-release version instead...

[2015-05-29 19:58] heejaechang opened #3182 "Move from PerfWatson to VSTelemetryActivity"
PerfWatson is retiring. move our code in PerfWatson to VS and use VSTelemetryActivity to log our performance matrix.

[2015-05-29 20:28] HaloFour commented on #3171
Hm, so it's really just an alternate syntax for method invocation?  That doesn't seem particularly useful.  Granted, sometimes nested invocations can be a little inside-out, but that's the common paradigm with structured and object-oriented languages.  What reason would there be to include this additional syntax other than to make C# smell more like F# or Scala or whatever?

[2015-05-29 20:29] KevinH-MS commented on #210
Hmmm...it's not that either...  CSharpVisualStudioTests targets 4.6 and works fine "as-is" with xunit.runner.visualstudio 2.0.0.  Continuing to dig...

[2015-05-29 20:33] HaloFour commented on #2974
If you're obsessed with whitespace-clean HTML out of Razor your code is going to look awful regardless.  Even in that "lightweight" example your table will be double-indented, and because you forced the indentation to mean something you can't even manually avoid that by reducing the indentation of the tags (something you *can* do with braces).

Thankfully, HTML scope is not white-space sensitive.

[2015-05-29 21:15] MattGertz commented on #2857
MoreInfo 5/29 by ML Shiproom.

[2015-05-29 21:15] KevinH-MS commented on #1977
Fixed by 7a469d30e0e3942cf228ab8810d817d3a52da8c0

[2015-05-29 21:15] #1977 closed

[2015-05-29 21:16] pnelsonmsft commented on #2547
An aspect of this bug was fixed in the debugger (changeset 1473415).  The debugger was assuming that SystemCore_EnumerableDebugView lived in System.Core.dll.  The fix removed that assumption.  The error message appears to be coming from Roslyn, however.

[2015-05-29 21:20] mavasani commented on #248
Fixed with https://github.com/dotnet/roslyn/commit/0154c37128a115c9433849978ac4d1256e6d024a

[2015-05-29 21:20] #248 closed

[2015-05-29 21:24] DustinCampbell commented on #3147
Fixed with PR #3158

[2015-05-29 21:24] #3147 closed

[2015-05-29 21:24] amcasey commented on #2916
I tried the templates under both Web and Cloud, just in case they were different.

[2015-05-29 21:26] #44 closed

[2015-05-29 21:28] amcasey commented on #2774
Now reports an appropriate diagnostic: ```Diagnostic(ERRID.ERR_MissingRuntimeHelper, "z").WithArguments("Microsoft.VisualBasic.CompilerServices.Conversions.ToString").WithLocation(10, 28)```

Verified in master after integration from stabilization.

[2015-05-29 21:32] whoisj commented on #2974
@HaloFour :+1:

[2015-05-29 21:33] KevinH-MS commented on #2547
Thanks!  I'll take a look.

[2015-05-29 21:48] #3078 closed

[2015-05-29 21:50] mattwar commented on #2779
I've not merge the app domain solution as it has trouble with running unit tests and other memory leaky behavior.

[2015-05-29 22:25] DustinCampbell opened #3187 "Implement CodeModel2.DotNetNameFromLanguageSpecific and CodeModel2.LanguageSpecificNameFromDotNet"
Prior to Roslyn, the ```EnvDTE80.CodeModel2``` interface was implemented by VB Code Model, but not the C# Code Model. It was assumed that, because only one language implemented this interface, that it wasn't widely used. Unfortunately, it seems that two members (```CodeModel2.DotNetNameFromLanguageSpecific``` and ```CodeModel2.LanguageSpecificNameFromDotNet```) are needed to correctly display info

[2015-05-29 22:35] danfma commented on #2974
Hey @breyed!

While I like a lot of the language constructions in F#, I still prefer the C#. I agree with you that could be a lightweight syntax mode, but we have to remind that C# inherits a lot from C, C++, Java and others and I don't think that it should change.

By the way, I'm not from a country of English language, so I am writing in poor English here! ;)

I still prefer the brackets in C#.

[2015-05-29 22:47] ManishJayaswal commented on #3094
Adding a watch on these object IDs don't work either so the user will need to know to type $1 which is not a great experience.

[2015-05-29 23:14] agocke commented on #2857
Resolved with CS 1479511 into Main and 1479522 into stable

[2015-05-29 23:14] #2857 closed

[2015-05-29 23:15] amcasey opened #3188 "Reuse anonymous types from the current module"
We should reuse anonymous types from the module containing the current frame so that new instances can be used interchangeably with existing instances.

See ```ExpressionCompilerTests.EvaluateExistingAnonymousType_2```.

[2015-05-29 23:57] KevinH-MS commented on #3094
Potential fix:  8641a39e129d7128bd3d7d00b46e09c8b2e1c106

Working on a solution that involves changing VIL to add the '$' so the EE can just pass it through...

[2015-05-30 00:16] int19h commented on #114
Something that might be of interest, esp. the rationale for various decisions:

https://www.python.org/dev/peps/pep-0492/#asynchronous-context-managers-and-async-with

[2015-05-30 00:57] tmat opened #3192 "EncHoistedLocalInfo doesn't handle equality of nested anonymous types"
```PEModuleBuilder.Translate``` doesn’t seem to handle nested anonymous types (such as ```new { A = new { B = 1 } }``` correctly.

It does replace the outer public anonymous symbol with an implementation symbol:

[code]

but the resulting symbol still has public anonymous type as its type argument.

It’s causing trouble for EnC (test ```EditAndContinueStateMachineTests.HoistedAnonymousTypes_Nested

[2015-05-30 00:57] tmat commented on #3192
@AlekseyTs

[2015-05-30 04:22] Joe4evr commented on #2974
Or [Code Golf](http://codegolf.stackexchange.com/).

[2015-05-30 04:34] JoshVarty opened #3193 "No Intellisense inside nameof when working with generics"
Noticed this today in RC.

Repro:

 1. New ConsoleApplication
 2. Replace Main with following

[code]
 3. Observe no Intellisense on `first.` inside of `nameof`

Also occurs in `foreach` loops. (Where I first noticed it)

[2015-05-30 11:20] orthoxerox commented on #3171
It's more suitable when your program is better represented as a chain of functions. Yes, extension methods serve the same purpose (by replacing nested calls with a chain of methods), but `|>` and inline partially applied functions will work on all functions (and constructors and expressions of all kind), not just those with a `this` parameter.

[2015-05-30 11:38] Vannevelj commented on #3005
Is there any workaround available in the meantime or for those on RC2? I'm encountering an issue where the analyzers work but no code fixes show up and memory consumption skyrockets to 100%. I've had this behaviour before and it was solved after fixing exceptions thrown from analyzers but contrary to then, I now don't have any error messages.

[2015-05-30 13:31] Stmated opened #3194 "Cannot use dictionary-based ExpandoObject as 'globals' parameter for Script.Run()"
How to reproduce:

[code]

Gives error message:
`The name 'b' does not exist in the current context`

Is there another, recommended way of giving a dynamically built object as the globals parameter to the script?

[2015-05-30 13:48] HaloFour commented on #3171
aka, it's more suitable for functional languages.  C# is not one of those.  As you demonstrated it already doesn't work with `void` methods, and as such it cannot work with setters and many mutating methods.  For any scenario where it does work there is an existing syntax which is not more verbose.  You have to deal with these implicitly defined tokens representing the return values and "chained"

[2015-05-30 14:57] mattwar commented on #2974
Forget C, what about [Whitespace](http://en.wikipedia.org/wiki/Whitespace_(programming_language)) itself?

[2015-05-30 15:50] kasajian commented on #2974
I prefer moving the language forward such that braces become used less often, by introduction more functional constructs in the language.

[2015-05-30 16:36] ycrumeyrolle opened #3195 "CompilationUnitSyntax.NormalizeWhitespace() produce incorrect formatting with parameters attributes"
When a method has attributes on parameters like `[NotNullAttribute]`, calling `CompilationUnitSyntax.NormalizeWhitespace()` will produce a new line after the parameter.

Original code
[code]

Code after `CompilationUnitSyntax.NormalizeWhitespace()`
[code]

[2015-05-30 17:45] ManishJayaswal commented on #3094
@KevinH-MS  @cston . Change on EE side looks pretty straight fwd so either solution is fine. If we pursue VIL change then it should be tested E2E before checking in change from either side.

[2015-05-30 23:52] v-andrew commented on #3171
```Func<int,int> add5 = y=>Add(y, 5); ``` is not just little verbose. It is frightening to a people who are not used to ```Func``` and ```Action```
```var add5 = y=>Add(y, 5);``` and ```var nine = (y=>Add(y, 5))(3);``` change partial methods from possible to everyday feature.

[2015-05-31 00:25] HaloFour commented on #3171
@v-andrew

I would agree that inference of delegate types for lambda expressions would be quite useful.  The issue, as mentioned above, being that there is not one delegate type for a given signature so the compiler has no idea what type to make the variable.  If the compiler guessed (or just used `Action<>` or `Func<>`) and if that variable is then passed as an argument to a method that accepts a

[2015-05-31 00:25] Stmated commented on #3194
The cause of this not being supported can be found in https://github.com/dotnet/roslyn/blob/03e30451ce7eb518e364b5806c524623424103e4/src/Scripting/Core/ScriptVariables.cs#L98 where it finds the fields and properties of the given instance and converts it into a map of script variables.

If this could check if the object is an IDictionary<String, Object> object, then my scenario could be supported q

[2015-05-31 00:51] AlekseyTs commented on #3192
It is not supposed to translate type arguments, they are going to be translated when Cci.IGenericTypeInstanceReference.GetGenericArguments is called. This is how all generic instantiations are handled.

[2015-05-31 01:04] Vannevelj opened #3199 "Implementing IEquatable<T> offers a "Make uppercase" code fix"
I forked the repo, started a new debugging session and implemented the following code:

    class Program : IEquatable<Program>
    {
        static void Main(string[] args)
        {
        }

        public bool Equals(Program other)
        {
            throw new NotImplementedException();
        }
    }

This shows a strange warning + code fix advising me to change `Program` to `PROGRAM`. A

[2015-05-31 01:08] tmat commented on #2999
Seems like a bug in the debugger (tracked internally as 1180288). We can implement a workaround - emit extra nop instruction following all try-catch blocks. Although the change is small in the compiler 100s of tests would need to be updated. It would be better to fix the root cause in the debugger.

[2015-05-31 01:18] tmat commented on #3194
@Stmated Thanks for letting us know that this feature is important for you. Currently the ability to use a dynamic object as a host object is not supported. We have it on backlog.

BTW, the spot you identified is not the only place that would need to implement support for dynamic variables.

[2015-05-31 01:21] AlekseyTs commented on #3192
Note that translation translates symbols to interfaces. There is no guarantee you get a Symbol implementing the interface back. Even if you do, casting back to Symbol and interrogating Symbol's APIs is likely inappropriate, doing this often "erases" translation.

[2015-05-31 01:23] tmat commented on #3192
Reopening since tests associated with this issue are skipped. We'll need to change the symbol matcher to fix the EnC issues.

[2015-05-31 02:22] tmat commented on #3192
@AlekseyTs The problem is that we have to map current type to the type in the previous compilation. The mapping logic actually works with CCI interfaces (not with symbols). It assumes that it can compare type references by calling ITypeReference.Equals and GetHashCode. That doesn't work though if the type is just partially translated.

[2015-05-31 02:28] sharwell commented on #3199
:laughing: I can't wait to see where this goes.

[2015-05-31 06:33] KalitaAlexey opened #3200 "[Proposal] Assignment readonly members from methods called from constructor"
Sometimes when a class has many members and calculation of first value for each member is hard. Code in constructor may be hard to maintenance and to understand.
[code]
Instead it may be written like
[code]

[2015-05-31 10:19] tsasioglu opened #3201 "Wiki FAQ link broken"
FAQ.md line 28 is broken around the "var".

Should be "    \* \[How do I get type info for a variable in a declaration, with inferred ('var') or explicit variable type\]\(#how-do-i-get-type-info-for-a-variable-in-a-declaration-with-inferred-var-or-explicit-variable-type\)"

(Is there any approved workflow to contribute to the wiki (a la http://stackoverflow.com/questions/10642928/how-to-pull-reque

[2015-05-31 11:21] svick commented on #3200
1. I would find it really confusing if I tried calling a normal-looking method from some other method and my code suddenly stopped compiling. I think that such methods should be marked with some kind of annotation (a keyword or at least an attribute).
2. How would such code compile to IL? If you used the straightforward approach, where a `readonly` field in C# is compiled to an `intionly` field in

[2015-05-31 11:35] breyed commented on #2974
This question of whether to avoid the repetition of braces isn't a question of parsing difficulty; it's about productivity and readability. Just as Razor can, as @GeirGrusom said, convert everything between `@(`/`)` and `@{`/`}` in C# verbose syntax without caring about whitespace (except in quotes and the newline following `//`), using a C# lightweight syntax, Razor can just as easy convert every

[2015-05-31 11:54] KalitaAlexey commented on #3200
@svick Keyword - is good. Let the compiler inline this methods

[2015-05-31 12:03] HaloFour commented on #2974
*Features* yes, grammar no.  You're not proposing any new features.  All you're proposing is that C# become Python, or F#, or some other language simply because *you prefer* that grammar.  It provides **NO** benefit to the language or the developers.  It doesn't make programming in C# any less verbose.  All it will possibly do is make the C# language **REALLY** confusing because it is two language

[2015-05-31 12:07] KalitaAlexey opened #3202 "[Proposal] Readonly method parameter as a way to optimize value passing"
Let's consider method

[code]

On call arg contains copy of passed argument.
Let's consider adding modifier `readonly` to parameter.

[code]

Now arg may contain reference
Like it was called

[code]

It is a optimization and it is preventing misunderstanding methods which accept ref parameters just for not copying

I determine some rules those method must fit:
- It cannot assign any properties of

[2015-05-31 12:21] Joe4evr commented on #3202
Already listed in #2136, making this a dupe of #115.

[2015-05-31 12:41] breyed commented on #2974
A grammar contraction *is* a feature. Auto-property initializers are an example of such a feature; it removes verbosity. An indent-based structure is similar in eliminating braces and lines of code at no cost to expressiveness. It differs in that it is alternative (not additional) syntax. That doesn't make it confusing, however. It's just a choice. F# offers this kind of choice and hasn't experien

[2015-05-31 12:56] HaloFour commented on #2974
It's not a contraction.  You can't possibly eliminate more than a single
printable character.  It's an additional syntax for the sake of being an
additional syntax.  It is useless, extraneous and would lead to only
confusion and error.
On May 31, 2015 8:41 AM, "Edward Brey" <notifications@github.com> wrote:

[2015-05-31 13:41] SLaks opened #3203 "TextStructureNavigator doesn't recognize string literals"
Double-clicking (or Ctrl+Clicking) the opening quote of a string literal token (any of the three kinds) should select the entire literal.

This is a regression from 2013.

[2015-05-31 14:46] sharwell commented on #2974
@breyed You are conveniently ignoring my explanation that even if you ignore the difficulty of updating the specification, parser, and IDE functionality to handle the "lightweight" syntax, it is a net reduction in ergonomic efficiency compared to the current language. If Visual Studio did not provide auto-formatting capabilities of the form required for my claims to hold, then my statements would

[2015-05-31 15:02] Vannevelj commented on #3199
Well, this is embarrassing. Apparently the VS instance that's started when debugging, has extensions that aren't shown in the extension list of the working VS instance. I completely forgot that this is the default example for an analyzer project.

[2015-05-31 15:02] #3199 closed

[2015-05-31 15:08] sharwell commented on #3199
And here I was hoping for an RC "Easter Egg". :smile:

[2015-05-31 15:27] whoisj commented on #3200
I'm still on bored with using const to prefix methods that keep no references, modify no local or global variables, and only operate on constants and the arguments supplied. Calling these from constructors should be allowed.

[2015-05-31 16:38] SLaks opened #3204 "Crash when pasting multiple tokens into a namespace rename"
Source:

[code]

Enter rename for `A`, then paste `A.B`.

'Microsoft.CodeAnalysis.CSharp.Syntax.QualifiedNameSyntax' to type 'Microsoft.CodeAnalysis.CSharp.Syntax.IdentifierNameSyntax'.

[code]

[2015-05-31 17:00] SLaks commented on #3204
This appears to be from http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Workspaces/Rename/CSharpRenameRewriterLanguageService.cs,584

[2015-05-31 17:59] stevozilik opened #3205 "ISymbol.GetDocumentationCommentXml() is empty when the symbol belongs to Script global type"
Hi,

I'm working with CShartScript. The ScriptOptions contain reference to my assembly and DocumentationProvider instance. If the script has a global type configured (Script.WithGlobalsType(...)), the symbols belonging to this don't use the DocumentationProvider at all, it is ignored. Without using 'WithGlobalsType' the ISymbol.GetDocumentationCommentXml() returns correct value (using the provided

[2015-05-31 18:23] Joe4evr commented on #3200
:+1: I recently ran into this, where I couldn't compute the value of an anonymous type's member through a method, forcing me to manually inline it into a really long expression (the result works, but isn't pretty). The ability to mark a method to conform to what @whoisj just summed up would help a great deal, although I'm not quite 100% sold on using `const` (but also not completely opposed).

[2015-05-31 18:55] mattwar commented on #3199
That would be the code fix that offers to convert your identifiers into Hungarian notation.

[2015-05-31 19:35] Pilchie commented on #3204
@dpoeschl Just checked in a fix for this a couple of days ago.

[2015-05-31 19:36] Pilchie commented on #3204
Duplicate of #1031.

[2015-05-31 19:36] #3204 closed

[2015-05-31 19:39] Pilchie commented on #3193
Not actually generics related.  Dupe of #1663, which is already fixed.

[2015-05-31 19:39] #3193 closed

[2015-05-31 20:43] HaloFour commented on #3200
I'm not sure that I like the idea of having C# syntax to define a method that isn't really a method at all.

In these cases I usually write a `static` method that accepts whichever fields I want to initialize as `out` parameters.  That could be unwieldy for a lot of readonly fields but it otherwise works pretty well, and it's frankly something I rarely feel the need to do.

[2015-05-31 20:54] HaloFour commented on #3202
The one really big loophole with this is that value types can have self-mutating methods, which look and are invoked just like any other normal method.  If the variable is a reference to a value type invoking such a method would modify the value type.

[code]

[2015-05-31 21:13] whoisj commented on #115
Let me start by espousing my love for this entire concept. The more we can place intent into the code, the less likely we are to create bugs, the easier it is to share/consume code, and the more verification we can push upstream to the compiler. All good things.

`const`'ness is always a delicate matter to design properly. The `const` keyword in C was great in its day, but the languages derived fr

[2015-05-31 21:19] HaloFour commented on #115
As mentioned on #3202, the one issue with `readonly ref` when it comes to value types is that I don't think that there is any mechanism that would allow for the compiler to prevent calls to mutating methods.  To the compiler they look like any other method defined on the value type.

[code]

[2015-05-31 21:19] whoisj commented on #115
Lastly, I'd bring up the idea of a `writable` keyword to allow partial undoing of `readonly`. There's plenty of times when I'd like to make a reference `readonly` but can't because current conventions are too strict.

Example, if for some reason (this is an actual use case for me currently) I need a fixed length dictionary where the keys of the dictionary are fixed (none should be removed or added

[2015-05-31 21:26] HaloFour commented on #115
@whoisj I don't see how your property definition implies a "read-only" dictionary.  That seems to imply that the C# compiler would know a great deal more about the intent of the generic type arguments than it does.  At best, the C# compiler could try to enforce that any parameter or return value of `TKey` would be a `readonly Control`, preventing use of property setters, but not much else.  And si

[2015-05-31 21:36] whoisj commented on #115
@HaloFour hmm... I suppose you have a point.

It would be great if there was a way to create an `IReadOnlyDictionary<TKey, TValue>` where the `TValue` was writable without the need to produce a new type completely. Thoughts?

[2015-05-31 21:41] whoisj commented on #3202
@HaloFour I do think the `this` reference methods receive when executing would need to acquire a transitive `readonly` attribute. Being transitive, the `readonly` would apply to all members of `this` thus causing a compilation error -- assuming the compiler could safely know that the methods did or did not modify the object.

To make this work, we may need the concept of `const` methods, or method

[2015-05-31 21:48] HaloFour commented on #3202
@whoisj The CLR has no concept of those things and they would represent breaking changes.  As of now, a value type can define mutating methods and to the caller they look like any other value type instance method.  The C# compiler has no idea that `Point.Offset` happens to change the value, the only way it could figure that out would be to decompile the method (recursively) to try to determine tha

[2015-05-31 22:10] whoisj commented on #3202
@haloFour hence my suggestion about const methods.

[2015-05-31 22:53] pgrefviau opened #3207 "Consider making EffectiveTypeNoUseSiteDiagnostics public"
The [EffectiveTypeNoUseSiteDiagnostics](http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.CSharp/Symbols/TypeSymbol.cs,246) property on the [TypeSymbol](http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.CSharp/Symbols/TypeSymbol.cs#21) class seems like an incredibly useful, powerful and already existing thing to have when dealing with type parameters, since there is no real other n

[2015-06-01 00:02] balajikris commented on #1758
Observation: Dev12 seems to filter out references from .cshtml files.

[2015-06-01 00:21] #2048 closed

[2015-06-01 02:13] whoisj opened #3208 "Make Getting sizeof(T) where T : struct Possible"
I took often find myself writing long lists of methods (like below) where I'm reading the bits of stack values for things like hashing, serialization, encryption, etc. because I'm unable to acquire `sizeof(T)` even `when T : struct` which I I find fairly frustrating.

[code]

Ideally the `sizeof(...)` operator would work on generics so long as the type being measured is guaranteed to be a value ty

[2015-06-01 02:13] knat opened #3209 "C# extensibility and metaprogramming experiment"
Hi, I'd like to show my efforts in this area.
Metah.W(MW) is a C#-derived metaprogramming language for Windows Workflow Foundation 4.5. It provides an alternative way of composing activities to the WF designer.
Screenshots:
![preview](https://cloud.githubusercontent.com/assets/10220052/7905195/9e6a0346-0846-11e5-9fd0-39af87317164.png)
![preview2](https://cloud.githubusercontent.com/assets/10220052

[2015-06-01 02:18] whoisj opened #3210 "Making Declaration of T* where T : struct Possible"
It should be possible to create unsafe pointers to generic types so long as said types are value types (ala `where T : struct`). I find myself today writting code like the following for every type of value type I want to support (and there are many)

[code]

Meaning I have a dozen methods or more, when a single method should be sufficient. If `T*` where possible when `T : struct` I could construct

[2015-06-01 02:22] HaloFour commented on #3202
@whoisj Which is an interesting idea but in order to actually work would require implementation and enforcement at the CLR level, as well as retrofitting across the entire BCL.

[2015-06-01 02:30] HaloFour commented on #3210
A struct isn't necessarily blittable or of a predictable size.  If the struct contains a reference or native integer it will have different size at runtime.  C# also doesn't specify a default pack leaving it up to the runtime.   Both `sizeof(T)` and all pointer arithmetic must be able to calculate byte offsets at compile time and embed those offsets into the IL.

[2015-06-01 02:32] HaloFour commented on #3210
Some of the same concerns were covered in #126.

[2015-06-01 02:54] whoisj commented on #3210
Interesting. Would be nice if there were a way to signal that a struct is friendly to unsafe usage and then use that signal in generics for this kinds of issues listed above.

[2015-06-01 02:55] whoisj commented on #3202
@HaloFour would it not be just a new CLR feature?

[2015-06-01 03:31] eamodio opened #3211 "Changing the value of a nullable value type with the VS2015 debugger fails"
Hi,

Not sure if this is really the right place to report this, but I'm guessing it might be - if not please direct me to where ever it should be reported.

I have included a super-simple C# program which can be used to exhibit the behavior.

[code]
Can download the project here: https://www.dropbox.com/s/9bhj4g2ddhcrr3w/VS2015-debug.zip?dl=0

To reproduce the issue, run the program and at the bre

[2015-06-01 03:55] tmat commented on #3211
@eamodio Yes, this is the right place to report these issues. Thanks for doing so. I can confirm that the current behavior is incorrect.

[code]

[2015-06-01 04:52] levidrain commented on #2238
Are nested interfaces that different from static methods on interfaces (at least from a design perspective)?  Neither are CLS compliant, but that's not preventing static methods from being considered.
As for their usefulness, I can think of lots of cases.  Especially, when generics are considered.
[code]
Assuming the code above, I could reference the specific closed inner type
[code]
Without neste

[2015-06-01 12:36] petterek opened #3213 "Remove node fails in Visual Basic."
Fails while generating preview.

    <ExportCodeRefactoringProvider(LanguageNames.VisualBasic, Name:=NameOf(MoveClassToFileCodeRefactoringProvider)), [Shared]>
    Friend Class MoveClassToFileCodeRefactoringProvider
    Inherits CodeRefactoringProvider

    Public NotOverridable Overrides Async Function ComputeRefactoringsAsync(context As CodeRefactoringContext) As Task
        ' TODO: Replace the

[2015-06-01 13:07] ig-sinicyn commented on #3076
Dup, #2205 ?

[2015-06-01 13:29] mavasani commented on #2949
Fixed with https://github.com/dotnet/roslyn/commit/61e73457dca6e4aa897404133bd6875d5bbd1cbe

[2015-06-01 13:29] #2949 closed

[2015-06-01 13:42] mkosieradzki opened #3214 "Breaking change: CTP3, please make CreateSubmission public again"
I have been using CTP2 version of Roslyn in following scenario:
1. I was parsing syntax tree as Interactive
2. Compiling and computing semantic model using CreateSubmission
3. Translating SyntaxTree (using computed SemanticModel) to System.Linq.Expressions. (Applying my own "symbol access restrictions" as a security layer, preventing all "imperative" constructs).

Great points about this:
1. Syste

[2015-06-01 14:02] zuraff opened #3215 "Migrate MakeConstCS sample to be based off analyzer + codefix template project"
Hi,
I struggle to run/debug MakeConstCS sample in VS2015 RC for some time already.
My steps were:
-> Checkout roslyn code-base (branch releases/VS2015RC)
-> Change references of project MakeConstCS to pick dlls from
    C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\PrivateAssemblies\*.dll
   (instead of private build of Roslyn)
-> Open roslyn\src\Samples\Samples.sln
-> Set MakeCo

[2015-06-01 14:03] monoman opened #3216 "Seems like the wiki page 'Building Testing and Debugging' needs a small correction"
Tried to follow the Getting the code instructions in https://github.com/dotnet/roslyn/wiki/Building%20Testing%20and%20Debugging

I could not make RoslynLight.sln compile in the VS2015RC unless I first got into the command line and did:

    nuget restore Roslyn.sln

So

## Getting the code

1. Clone https://github.com/dotnet/roslyn
2. Open RoslynLight.sln

should be

## Getting the code

1. Clone

[2015-06-01 14:48] v-andrew commented on #3171
I'll be quite happy with partial functions been a syntax sugar on top of Func and Action .
And let it be interchangeable just like in linq where you can use fluent-style API with extension methods or SQL like queries.

[2015-06-01 15:08] NickCraver opened #3217 ""Language features" wiki should also list once available then cut features"
The language features page, here: https://github.com/dotnet/roslyn/wiki/Languages-features-in-C%23-6-and-VB-14 lists all of the features currently on the table for C#6. What it doesn't mention are **removed** features for this release.

For example, I was just trying to use inline `out` parameters and despite reading up on C# 6 quite a bit, had no clue they were removed. I think what Microsoft is

[2015-06-01 15:43] matijagrcic commented on #3217
@NickCraver If it helps you can look at C# 7 Work List of Features https://github.com/dotnet/roslyn/issues/2136 where declaration expressions https://github.com/dotnet/roslyn/issues/254 are under Unbucketed section of the list. I agree that it would be more useful if features that were dropped from the table were marked as dropped and not removed.

[2015-06-01 16:07] rchande commented on #44
Merged into stabilization with #3186.

[2015-06-01 16:09] rchande commented on #2876
HeeJae is working on something that fixes this. @heejaechang can you close this once your change is in stabilization?

[2015-06-01 16:34] sharwell opened #3218 "Clarification of Task handling from CodeFixProvider.RegisterCodeFixesAsync"
Currently the [documentation for `CodeFixProvider.RegisterCodeFixesAsync`](https://github.com/dotnet/roslyn/blob/e2ae515bfb8ede1cd2b6727082d7cc8673b07c08/src/Workspaces/Core/Portable/CodeFixes/CodeFixProvider.cs#L19-L26) does not explicitly state certain restrictions in the way the caller handles the returned `Task` instances. In particular, two pieces of information would be very valuable if incl

[2015-06-01 16:44] AlekseyTs commented on #3192
@tmat Let's discuss this offline

[2015-06-01 16:50] stephentoub commented on #3218
FWIW, in the vast, vast majority of cases, Dispose is a nop on completed Tasks such that Task instances may continue to be used even after they're Disposed.  The only exception to this is the IAsyncResult.AsyncWaitHandle property, which won't work after disposal.

And in general, code never needs to Dispose of Tasks:
http://blogs.msdn.com/b/pfxteam/archive/2012/03/25/10287435.aspx

[2015-06-01 16:52] cston commented on #3211
Opened internal bug 1180851.

[2015-06-01 16:52] MulleDK19 commented on #365
This is NOT fixed. Any extension method defined in C++/CLI, with or without assembly-level extension attribute, will not be found by Roslyn. Both C# and VB.NET is affected.

[2015-06-01 17:03] MulleDK19 opened #3220 "Roslyn compiler still doesn't recognize extension methods from libraries written in C++/CLI"
#365

This is NOT fixed. Any extension method defined in C++/CLI, with or without assembly-level extension attribute, will not be found by Roslyn. Both C# and VB.NET is affected.

Tested using VS 2015 RC.

Test case: http://treesoft.dk/temp/MethodExtensionBug.zip

[2015-06-01 17:35] tmat commented on #3214
@mkosieradzki CreateSubmission is coming back. We have temporarily made it internal for VS2015 RTM as a part of public API surface cleanup - since the implementation is not finished we don't want to expose it as public API that can't be changed in future.

[2015-06-01 17:46] ManishJayaswal commented on #2999
Workaround is to put a BP on Console.Writeline

[2015-06-01 17:55] svick commented on #3012
I wonder how close could you get using just a library. For example, I could imagine something like:

[code]

where the extension method `AsDuckInterface<T>()` would create a wrapper class that implements the interface `T` and forwards the implementation to the given object.

[2015-06-01 18:10] rcook commented on #3096
Here's another example of (I believe) the same issue:

[code]

In order to force Roslyn to resolve overloads with error, we're forced to give each of the `MyMethod` methods unique names as follows:

[code]

[2015-06-01 18:51] gafter commented on #3220
#365 is not listed as fixed in milestone 1.0-rc1 or 1.0-rc2. It is listed as fixed in 1.0-stable, which is VS 2015 RTM. That is not the version you tested with.

[2015-06-01 18:52] gafter commented on #3220
Your test file at http://treesoft.dk/temp/MethodExtensionBug.zip does not exist.

[2015-06-01 18:53] Pilchie opened #3225 "Find All Refs: Re-add cascading from constructors to types"
(Inspired by VS Send-a-smile feedback).

Early in Roslyn, we stopped cascading from constructors to types in FAR to reduce noise if all you were looking for was the constructor.

However, now that we have hierarchical FAR with the references to the type and constructor grouped differently, we should re-add the cascading

[2015-06-01 18:59] heejaechang commented on #2876
#2986

it should be fixed if root cause was this

[2015-06-01 18:59] #2876 closed

[2015-06-01 19:00] heejaechang commented on #2876
done

From: Ravi Chande [mailto:notifications@github.com]
Sent: Monday, June 1, 2015 9:10 AM
To: dotnet/roslyn
Cc: HeeJae Chang
Subject: Re: [roslyn] VS unresponsive during FAR (#2876)

HeeJae is working on something that fixes this. @heejaechang<https://github.com/heejaechang> can you close this once your change is in stabilization?

—
Reply to this email directly or view it on GitHub<https://git

[2015-06-01 19:08] mkosieradzki commented on #3214
@tmat Phew! Thanks for your response! I was kinda scared, when I installed CTP3 today from Nightly build and core API I am depedning on has dissappeared ;).

I assume that my scenario is supported and expression parsing as interactive (which currently throw NotSupportedException) is coming back as well - or any other way to deal with such a scenario.

I fully understand and agree with your point.

[2015-06-01 19:12] AdamSpeight2008 opened #3226 "[perf] SyntaxListBuilder + SyntaxListBuilder."
# SyntaxListBuilder + SyntaxListBuilder

Say we want to add the contents of one [SyntaxListBuilder](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Syntax/SyntaxListBuilder.vb) to other.
We have to iterate through a each item, add it to target. eg
[code]
[Source](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb#L792)

[2015-06-01 19:34] tmat commented on #3214
@mkosieradzki "parsing as interactive" is also coming back.

[2015-06-01 19:41] Joe4evr commented on #3202
@HaloFour

It could easily test this without decompiling, could it not?
[code]

[2015-06-01 19:52] jerhon commented on #3225
Just for informational purposes, here's my use case that triggered the send-a-smile.

I was implementing a custom protocol in code in which each request in the protocol has a class associated with it.  I tag the request classes with a attribute in order to be able to reflect over them and construct the appropriate request/response object for the request/response code.  IE: a factory pattern workin

[2015-06-01 20:01] MulleDK19 commented on #3220
Link should work now.

This issue is stated to be fixed by #2506, but the issue isn't that it doesn't work without an assembly-level extension attribute, the issue is that it doesn't work regardless of whether there's an assembly-level extension attribute.

[2015-06-01 20:25] dpoeschl commented on #2352
@brettfo - Can you verify this for me?

[2015-06-01 20:33] dpoeschl commented on #1031
@brettfo Can you verify this?

[2015-06-01 20:47] cston commented on #3062
@pdelvo I am unable to repro this issue with recent builds. (In the Immediate Window, sizeof returns 1, as does hovering over the "sizeof" expression in the editor.) What build of VS are you using to repro? Thanks.

[2015-06-01 20:49] cston commented on #3062
@pdelvo I am unable to repro this issue with recent builds. (In the Immediate Window, sizeof returns 1, as does hovering over the "sizeof" expression in the editor.) Is there more to the repro that I might be missing?

[2015-06-01 20:49] amcasey opened #3231 "Check in CapturedVariableRewriter.RewriteParameter is too tight"
There's an exception for transparent identifiers, but it should actually be for all parameters with anonymous types.  It can happen in regular code - e.g. if you step into a lambda iterating over an enumerable of anonymous type instances.

Consequences: No locals when such a parameter is present.

[2015-06-01 20:51] amcasey commented on #3231
```GeneratedNames.GetKind(symbol.Name) != GeneratedNameKind.TransparentIdentifier``` should be ```typeNameKind != GeneratedNameKind.AnonymousType```.

VB is similar.

[2015-06-01 20:54] HaloFour commented on #3202
Adding runtime checks to assert would require making a copy of the value
type to compare and completely nullify any performance benefit of using
`ref`.

On Mon, Jun 1, 2015, 3:41 PM Joe4evr <notifications@github.com> wrote:

[2015-06-01 21:01] Suchiman commented on #3012
@svick there's one in case you're wondering ;) https://github.com/ekonbenefits/impromptu-interface

[2015-06-01 21:01] amcasey commented on #3231
I've manually verified the one-line fix in C#.

VB turns out to be unaffected because the condition is expressed differently.

[2015-06-01 21:15] KevinH-MS commented on #2547
I think it's ok if the error message text is wrong in the event that we do show it (we're just surfacing the compiler error message).  However, we shouldn't be seeing the error to begin with.

I'll add System.Linq to the places that we optimistically add System.Core on error today.

[2015-06-01 21:21] amcasey opened #3233 "Assert in CSharpSymbolMatcher.MatchSymbols.TryFindAnonymousType"
%mymachine%\dumps\AnonType20150601.dmp
%mymachine%\dumps\AnonType20150601.zip

[code]

1. Do a bunch of stuff.
1. Run to ```result.ToString()```.
1. Change ```a.Length``` to ```a.Length + 1```.
1. Set next statement to ```var result = ...``` (might actually happen before previous step)
1. Step.

[2015-06-01 21:23] pharring commented on #1248
Indeed, memory analysis of a snapshot indicates most of the memory is due to diagnostics (over a million of them). The file doesn't contain errors, but when opened stand-alone, outside the context of a project, there are missing types. It's generated code, and there are thousands of array initializers referencing missing types.

[2015-06-01 21:24] amcasey commented on #3233
Also, it looks like if you stop on ```var first = ...``` and change ```Length = a.Length``` to ```a.Length + 1```, result is nulled out and you get a null-ref exception when you step again.

[2015-06-01 21:25] gafter commented on #3220
The problem is that you named your extension method `IsValid` but you tried to use it with the name `Exists`.

That "fix" (actually, re-introduction of an old compiler bug) only applied to C#. VB requires the assembly-level attribute as it always did.

[2015-06-01 21:33] amcasey commented on #3233
Confirmed: run to ```var first``` and then add ```+ 1``` to the length.  Stepping results in ```ArgumentNullException``` and ```result``` is null in the Locals window.

[2015-06-01 21:48] mavasani commented on #2920
Fixed with https://github.com/dotnet/roslyn/commit/6f0a9a0ac6f100c9a2c624b3643ee4cb49f53b0e

[2015-06-01 21:48] #2920 closed

[2015-06-01 21:56] jogibear9988 commented on #957
Compiled with Roslyn:

![bildschirmfoto 2015-06-01 um 23 52 05](https://cloud.githubusercontent.com/assets/364896/7924216/c50e5132-08b9-11e5-846e-b59796614387.png)

Compiled with VS2013

![bildschirmfoto 2015-06-01 um 23 55 24](https://cloud.githubusercontent.com/assets/364896/7924228/dc50848c-08b9-11e5-98cc-56030b702d3a.png)

[2015-06-01 21:57] amcasey opened #3234 "Inconsistent active statement"
1. Console app with code below.
1. Breakpoint on ```t.Value.ToString()```.
1. Run to breakpoint.
1. After current line, add
[code]
1. Double click on the active statement in the Call Stack window.  Goes to the second copy.
1. Rename ```r``` in the first copy.  Rude Edit, suggesting the first copy is active.

[code]

[2015-06-01 21:59] jogibear9988 commented on #957
For me it looks the same...

But I don't see a issue why the Code works when compiled with VS2013...

Maybe you can send the issue to the WPF/XAML Team?

[2015-06-01 22:01] amcasey commented on #3234
I should probably mention that, when you actually step, you step to the first copy.  Presumably, that means that the Call Stack window is wrong (out of date?).

[2015-06-01 22:02] balajikris commented on #1907
The help query is still the same as of today [query](https://msdn.microsoft.com/query/dev14.query?appId=Dev14IDEF1&l=EN-US&k=k(System.DateTime.ToString);k(TargetFrameworkMoniker-.NETFramework,Version%3Dv4.6);k(DevLang-csharp)&rd=true) but it does navigate to the correct documentation today.

Query: https://msdn.microsoft.com/query/dev14.query?appId=Dev14IDEF1&l=EN-US&k=k(System.DateTime.ToString);

[2015-06-01 22:03] Pilchie commented on #3203
Can you take a look at this?  Shouldn't it have been addressed by #945.

[2015-06-01 22:04] Pilchie commented on #3195
The purpose of `NormalizeWhitespace` is to ensure that code *parses*.  Anyway, we will look at improving this after 1.0.

[2015-06-01 22:05] Pilchie commented on #3195
If you want nicely formatted code, you should try using `SyntaxFormatter`.

[2015-06-01 22:10] srivatsn commented on #3161
If this is the same as #3163, please resolve this as dupe.

[2015-06-01 22:12] balajikris commented on #1907
Implementation wise, I think Roslyn does not get generate the whole query string. We implement [IVsLanguageContextProvider.UpdateLanguageContext](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/LanguageService/AbstractLanguageService%25602.IVsLanguageContextProvider.cs,0e5e624735979891) and set the `devlang` attribute appropriately. So, some other Visual studio comp

[2015-06-01 22:12] pdelvo commented on #3062
Thats weird. I just tried it again and Im able to repro it consistently. Maybe it is already fixed post rc? I uploaded a repro projec to https://github.com/pdelvo/RoslynRepro3062.

![repro](https://cloud.githubusercontent.com/assets/1710209/7924503/02776444-08bc-11e5-9b88-f8944d42d311.PNG)

[2015-06-01 22:14] CyrusNajmabadi opened #3235 "TypeScript would like a way to know if two Documents have the same SourceText content."
TypeScript would like a way to know if two Documents have the same SourceText content.

The TypeScript-VS component works by grabbing the contents of Documents and passing them over to a JSEngine where are actual LS live and does its work.  When the "Script-Side LS" runs, it calls back to the managed side saying "Here are the 'versions' of the documents i have.  If anything has changed on the Mana

[2015-06-01 22:14] CyrusNajmabadi commented on #3235
@vladima   @heejaechang   @tmat   To consider.

[2015-06-01 22:23] mavasani commented on #2864
Fixed with https://github.com/dotnet/roslyn/commit/1d61936dd919d7748457334bf67c0bac96ce126c

[2015-06-01 22:23] #2864 closed

[2015-06-01 22:27] balajikris commented on #1907
On closer inspection, it does navigate to the incorrect page, but only if the target framework is set to ".Net Framework 4.5". It works correctly for every other framework version from 2 to 4.6.

[2015-06-01 22:29] heejaechang commented on #3235
@dpoeschl David, is linked file actually point to 2 different SourceText or same one? version is stored in VersionAndText so we might need to do something still, but probably easier if it shares same SourceText.

[2015-06-01 22:31] ljw1004 opened #3238 "VB codespit for "Implement Interface" fails to add "Overloads" modifier where necessary"
Look at the kind of bad codespit I get:

![vb-implements](https://cloud.githubusercontent.com/assets/3316258/7924771/008f9b22-0873-11e5-9299-2cd1c2c4b1d0.png)

REPRO: (1) Start with this class

[code]

(2) Add an "Implements IFormattable" clause and press Enter to perform the "Implement Interface" quickfix:

[code]

What I expect: it should spit it out as `Public Overloads Function ToString`.

Wha

[2015-06-01 22:33] Pilchie commented on #1907
Does our code set the TFM, or should this bug be moved elsewhere?

[2015-06-01 22:34] NickCraver commented on #3217
@matijagrcic Thanks! That is a very helpful list that's not at all easy found via google. I'd add to this discussion that linking to the working set of features for the next version (or the final in another wiki I assume, once it's RTM) would be helpful on [the features wiki](https://github.com/dotnet/roslyn/wiki/Languages-features-in-C%23-6-and-VB-14) as well.

I am assuming here that all of thes

[2015-06-01 22:36] balajikris commented on #1907
so far i didn't find a place in roslyn source that sets it. But I also don't yet know who sets it, I'm looking through to find which component would set it.

[2015-06-01 22:37] SLaks commented on #3203
I tried this on the RC build, and it didn't work.

I don't see any code there to differentiate between Ctrl+Right and double-click (I don't even know how that's supposed to work)

[2015-06-01 22:38] Pilchie commented on #3203
Tagging @jasonmalinowski who has also looked at the text structure navigator code.

[2015-06-01 22:38] ljw1004 opened #3239 "C# code generated for "Implement Interface" adds in using statements that I clearly didn't want"
Look at this codespit for "Implement Interface" in C#:
![cs-codespit](https://cloud.githubusercontent.com/assets/3316258/7924849/a246ed4e-0873-11e5-9a8e-b647ac3fcb4c.png)

I wrote out `System.IFormattable`. From this, the IDE should understand that I _wanted_ to explicitly qualify this type.

But the IDE chooses to add a "using" clause so that the parameters of the "ToString" method it spits out d

[2015-06-01 22:46] pharring commented on #1248
A quick experiment shows that we can keep a cap on the memory by limiting the maximum size of a DiagnosticBag. Semantic classification still takes several minutes to complete, but at least memory usage stays reasonable. However, @gafter points out that this would affect determinism since diagnostics are emitted in parallel. We might be able to do something special for array initializers, method bo

[2015-06-01 22:47] agocke opened #3240 "Expand the scope of catching PE writing exceptions to all of PE writing"
PR #3237 introduces a try/catch that is meant to catch issues when getting the input stream while signing the output file.

This is too narrow in scope -- we should catch all errors in PE writing and surface a diagnostic. We're not doing it now because we cannot add an understandable localized error message for the diagnostic.

[2015-06-01 22:51] CyrusNajmabadi commented on #3235
Note: this is not actually a 'linked file'.  These are just two Documents that have the same FilePath.  We're using ```DocumentProvider.TryGetDocumentForFile``` to get the Document.  Not sure how to use that API to get a 'linked file' (let alone if a linked file would solve the VersionStamp problem in the first place).

[2015-06-01 22:51] agocke opened #3241 "Language icon nondeterministically switches between C# and VB when in a C# file in the CSharpCompilerEmitTest project"
When I open any C# file in the CSharpCompilerEmitTest project and click around the file, the language icon at the top of the file will often show VB, not C#. There doesn't seem to be a clear pattern to when it will be VB or C#, but it often settles on VB. See the following image for an example:

![languageicon](https://cloud.githubusercontent.com/assets/515774/7925086/eebe4c10-0875-11e5-8ad9-ff6a6

[2015-06-01 22:53] balajikris commented on #1907
Not entirely sure what's the issue here, but its something to do with determining online vs offline help string.

GetHelpUrl() in env\msenv\vsbrowse\hlpextsrvc.cpp

[code]

[2015-06-01 22:55] balajikris commented on #1907
@Pilchie - any idea which team i should file a bug for?

[2015-06-01 23:04] brettfo commented on #3203
To properly fix this, we need to be able to differentiate between keyboard (Ctrl+Right) and mouse (double-click) like @SLaks suggested.  We really need the code to look like this:

[code]

But unfortunately, that information is lost 7 frames above Roslyn in the editor code and the entry point to us is exactly the same.  What did we do to differentiate the two selection types in VS2013?

[2015-06-01 23:05] heejaechang opened #3244 "improve GetPrevious/GetNextToken performance"
look devdiv # [1089540 ](https://vstfdevdiv/DevDiv2/DevDiv/_workitems/edit/1089540)for more detail.

GetNextToken takes 40% of time (of several minutes)

[2015-06-01 23:06] Pilchie commented on #3203
In VS 2013, we didn't implement an ITextStructureNavigator. We used the old IVsTextFilter.GetWordExtent. Maybe we (or the editor) had more info in that codepath.

[2015-06-01 23:17] ljw1004 commented on #3199
And you thought that "ALL-UPPERCASE" menus in VS2013 were over by now. Oh no. They were just the beginning :)

[2015-06-01 23:17] jmarolf commented on #3026
fixed with internal changeset 1480632. Larry, can you verify this?

[2015-06-01 23:17] #3026 closed

[2015-06-01 23:17] jasonmalinowski commented on #3203
Based upon what I remember from when I last looked at the code in my cave while feasting on dinosaur meat, this only "worked" because when asked for the word extent for the position before the leading " in a string it returned the span of the entire token. @brettfo what do we return in that specific case right now?

(I also wasn't convinced this was a feature and not a bug in the first place.)

[2015-06-01 23:19] MulleDK19 commented on #3220
Weird. I could have sworn I quadruple checked the test case. I even copied the extension method from my actual project directly where it's called Exists().

Well, better a broken test case than a broken compiler.

Thanks.

[2015-06-01 23:19] dpoeschl commented on #3235
From the roslyn perspective, documents are "linked" if they share the same file path, and they share the same SourceTextContainer (TextBufferContainer) / SourceText when open. (You can construct a Solution that contains two "linked" Documents with different contents. This may be useful during larger refactorings, etc. When the Solution is applied back to the Workspace, then the changes are merged.

[2015-06-01 23:41] AlekseyTs commented on #2780
Thanks again for taking the time to post this issue.  After a lot of internal discussion we decided to not fix this particular issue.  The main factors we considered were the following:

1.	This is a bug in the constant optimization phase of the old compiler.  It was never the intended behavior of the language.
2.	This bug does not occur for every use of CDate(CStr(Nothing)) but instead for an und

[2015-06-01 23:41] #2780 closed

[2015-06-01 23:43] lgolding commented on #3026
Verified, with the one change we discussed (setting $username$ as default for <authors>).

[2015-06-02 00:05] brettfo commented on #3203
Currently we return the span of the opening quote character, and that's what's required to make keyboard navigation work.  If we return the span of the whole string then Ctrl+Right will move the cursor to after the closing quote, which is partly what I fixed in #945.

[2015-06-02 00:12] jasonmalinowski commented on #3203
But I suspect Ctrl+Right also did that in VS2013 as well?

[2015-06-02 00:17] SLaks commented on #3203
I'm reasonably certain that VS2013 did distinguish between Ctrl+Right and double-clicking the quote.

[2015-06-02 00:19] paulomorgado commented on #3012
No! I want __dynamic__ with everything that comes with it, plus static typing.

[2015-06-02 00:23] gafter commented on #2116
@AlekseyTs Can you please verify this?

[2015-06-02 00:38] gafter commented on #2909
@AlekseyTs Please verify.

[2015-06-02 00:42] CyrusNajmabadi commented on #3235
@dpoeschl

I don't believe hte SourceTextContainer would be the same in our scenario.  These are files on disk.  Looking through the roslyn code, it doesn't look like they get the same container.  Should they?

[2015-06-02 00:47] amcasey commented on #3061
Confirmed that the new links are live.

[2015-06-02 00:53] amcasey commented on #2652
The internal bug has been closed.

[2015-06-02 00:54] dhusemann commented on #3217
Announcement on Codeplex before the move to Github.  https://roslyn.codeplex.com/discussions/568820

[2015-06-02 00:55] mattwar commented on #3213
VB is trickier to get right since there are both xxxStatementSyntax nodes and xxxBlockSyntax nodes. You cannot remove a xxxStatementSyntax node if it's part of a xxxBlockSyntax, you have to remove the xxxBlockSyntax node instead.

[2015-06-02 00:59] amcasey commented on #2464
The links seem to work.

[2015-06-02 01:01] mavasani commented on #2920
Assigning back to @jaredpar to verify once we have a new toolset with the fix.

[2015-06-02 01:04] mavasani commented on #2410
@JohnHamby you may want to verify this or request Sri/Manish to assign it to the correct member to verify and close.

[2015-06-02 01:05] mavasani commented on #248
@JohnHamby you may want to verify this or ask Sri/Manish to assign it to someone else to verify and close.

[2015-06-02 01:07] mavasani commented on #320
@srivatsn Probably want to someone to thoroughly test our batch fixer's merge algorithm.

[2015-06-02 01:10] NickCraver commented on #3217
@dhusemann oh I have found that *now*, my point is that it is extremely hard to find. It's really not far off from "read through the mailing list" in terms of discoverability. If there are canonical sources (e.g. the wikis, which are at the top level) - they should reflect such major changes. The hope is that a Google query for "C# 6 Features" (for which this Wiki is currently number 5 for me and

[2015-06-02 01:12] mattwar commented on #3213
You will need to remove the ClassBlockSyntax node.

[2015-06-02 01:20] mattwar commented on #3235
Only if the host has done something to make them the same. I believe this may be true in VS workspace for open documents, since the is only ever one text buffer for linked documents. Otherwise I would expect it is not true in general.

[2015-06-02 01:28] AdamSpeight2008 commented on #3244
GetNextToken definition in [source](https://github.com/dotnet/roslyn/blob/8771786e5a80e9d27ffb40702f5cca558ca6fabb/src/Compilers/Core/Portable/Syntax/SyntaxToken.cs#L575)

[2015-06-02 01:51] CyrusNajmabadi commented on #3235
Ok.  That matches my expectation as well.  Anyone have any other ideas on how to address this issue?  Otherwise, i'd definitely push for exposing GetChecksum.

[2015-06-02 02:27] tmat commented on #3233
The root cause is the same as #3168. The problem occurs in pretty common query scenario, so moving #3168 to RTM.

[2015-06-02 02:27] #3233 closed

[2015-06-02 03:21] heejaechang commented on #3244
for the same file in the bug, smart indenter on "}" in array initializer also spends most of its time on GetNextToken. (16 seconds in my machine)

[2015-06-02 03:58] KalitaAlexey commented on #3202
Rule is going to help
•It cannot pass this parameter to methods as not-readonly parameter

[2015-06-02 06:10] Joe4evr commented on #3202
Who said anything about doing the checking at runtime? I meant it should run the check in the background during design time, and emit an error if it failed.

[2015-06-02 06:16] petterek commented on #3213
OK.. I will try it out

[2015-06-02 06:21] Sebazzz commented on #3064
Isn't it an option to lower the language version or am I missing the point?

[2015-06-02 06:26] petterek commented on #3213
That worked  :+1: Thank you very much

[2015-06-02 06:26] #3213 closed

[2015-06-02 07:10] orthoxerox commented on #3171
Even fluent-style LINQ will benefit from this proposal. Instead of writing

`foo.Where(f=>f==bar).Select(f=>f.Qux)`

you will be able to write

`foo.Where(@==bar).Select(@.Qux)`

or whatever sigil we will end up with.

[2015-06-02 07:47] russpowers opened #3248 "Proposal: Compiler Plugins (with working implementation)"
Hi everyone, I've been working on an experiment with Roslyn that I'd like to share.  I've always thought that Roslyn would be great for compile-time metaprogramming, but it generally seems to be pretty far down on the priority list.  I'd like to try to change that.  Using ideas from ASP.NET DNX's `ICompileModule`, I have created a way to write compiler plugins that transform `Compilation` objects

[2015-06-02 07:49] KalitaAlexey commented on #3202
@Joe4evr Do you suggest call function and then compare original object and object after method call?
It will lead to bugs with very little possibility, when method behavior depends not just on parameter but also on another external or internal factors.

[2015-06-02 08:17] jantheman commented on #3064
@Sebazzz: You don't necessarily want to lower the language version, LINQ for example works fine without generics.

[2015-06-02 08:19] miloush commented on #3064
@Sebazzz: You don't necessarily want to lower the language version, for example LINQ works fine without generics.

[2015-06-02 09:13] Joe4evr commented on #3202
@KalitaAlexey Something like that. Though what kinds of factors would alter how a method behaves, exactly?

[2015-06-02 09:13] axel-habermaier commented on #3210
I agree that generic pointers and ``sizeof`` would definitely be very nice to have in certain situations. Note that a generic ``sizeof`` _is_ supported by the runtime already, it's just not exposed by C#.

@HaloFour: True, but the compiler knows these things at compile-time already. So it can always check whether the struct can be used in such a context. On the other hand, the runtime would also h

[2015-06-02 09:23] Inspyro opened #3249 "Transitive references are not considered by Roslyns Semantic model?"
Assume the following project layout:
*ProjectA* declares a custom attribute
*ProjectB* references *ProjectA* and uses the custom attribute on *ClassA*
*ProjectC* references *ProjectB* and uses *ClassA* in *ClassB*

Now we want get the *AttributeData* (compiled version of the custom attribute) by using the semantic model of *ProjectC*, however we only get an **ErrorType** as long as *ProjectC* does

[2015-06-02 10:52] davidroth commented on #3248
Hi, nice work - thanks for sharing :)
Maybe you can use #line directive pre-processor directives to improve debugging the processed assemblies but I am not sure if you can add them with SyntaxFactory.

Some infos for line pre-processor directives: http://blogs.msdn.com/b/abhinaba/archive/2005/10/10/479016.aspx

One question regarding the CscToolPath: Does this mean that VS 2015 will start an addit

[2015-06-02 11:32] sgjsakura opened #3251 "[Proposal] lazy expression and evaluating only-once"
# Background

In practice, "Evaluate while First Access" is a common requirement in library and application developement, especially in property design. A common simple design model for this requirement may like:

[code]

However this method is not perfect because:
1. It's not thread-safe.
2. It requires an explicit field decleration.
3. the comparion with `null` is not safe. (The method may also

[2015-06-02 11:36] KalitaAlexey commented on #3202
@Joe4evr I am wrong. We don't need any checks, because if parameter passes to a method as not readonly, then this parameter will be copied as before

[code]

[2015-06-02 12:36] HaloFour commented on #3210
@axel-habermaier

The compiler is capable of figuring out this specific information if you're using a specific struct, yes.  But when using generics it's not possible for the compiler to determine if generic type parameter is safe at compile time, let alone calculate the byte offsets that must be emitted directly into the IL of the generic method body.

[2015-06-02 12:39] HaloFour commented on #3202
@Joe4evr Through what mechanism?  The compiler doesn't execute your code as it is being compiled, and even if it could it could only do so in the simplest of scenarios.  Short of CLR-enforced "pure" methods there is no way to guard against the struct being modified by its own method.

[2015-06-02 12:47] axel-habermaier commented on #3210
@HaloFour: Ah, now I see the problem. I originally assumed that the proposal added an additional generic constraint to indicate that ``sizeof(T)`` and ``T*`` must be valid for the actual struct substituted for ``T``. Since it doesn't, you're absolutely right. As far as I remember, there were several other proposals that suggested to add such a constraint.

[2015-06-02 14:12] bbarry commented on #3251
duplicate? #524

[2015-06-02 14:21] sgjsakura commented on #3251
@bbarry Seems duplicated in some aspect but lazy expression will be more flexible for lazy property.

P.S. I've searched the word 'lazy' for issues but found nothing :-(

[2015-06-02 14:32] DeirhX opened #3252 "csc2.exe ends with NRE ArgumentNullException. Possible file sharing violation?"
Out of nowhere, my every attempt to compile a specific .NET project ended with following exception. However, Debug configuration still worked and this was happening only to Release. I also tried to change the output path to avoid possible sharing violation but it didn't help.
In the end, the thing that helped was to close another instance of VS 2012RC that had a dump open
referencing this project'

[2015-06-02 15:09] dsaf commented on #3209
It looks like a very impressive effort, but the project's GitHub home page is enormous. I am personally not going to read it all despite my love of metaprogramming and workflows/actor model. Do you want to post a short syntax-specific technical description here? It would be great to describe how it  applies to Roslyn, as I doubt there will be many people interested in WWF here.

PS: if there was a

[2015-06-02 15:25] #3086 closed

[2015-06-02 15:30] bondsbw commented on #2718
I prefer Dart's ```..``` syntax over ```|>```, which is used for a different purpose in F# (forward pipe).  I think ```|>``` would be more confusing for people using both languages.

Also I think this can have a problem with ambiguity.  How would the following be interpreted?
[code]
would it be the same as:
[code]
or the same as:
[code]

Dart's syntax fixes this I believe, because the operator "di

[2015-06-02 15:43] KalitaAlexey opened #3254 "[Bug] Wrong suggested code-fix"
[code]
![untitled](https://cloud.githubusercontent.com/assets/11215191/7940074/6a57e1dc-0903-11e5-9c21-584f58d46cf8.png)

[2015-06-02 15:46] KalitaAlexey opened #3255 "[Proposal] Generic constraint - specific type"
[code]

[2015-06-02 15:54] whoisj commented on #3210
@axel-habermaier, @HaloFour an added constraint would be ideal here. I'll happily update the suggestion. What would be a good name for the constraint? Perhaps something like `where T: ISafeUnsafe` or `where T : unsafe struct` which implies a compiler verified contract that only non-managed fields are members of the struct?

[2015-06-02 16:00] axel-habermaier commented on #3210
@whoisj: I don't like ``where T : ISafeUnsafe``, as that looks like the type is required to implement some interface. ``where T : unsafe struct`` is better, but it's not (necessarily) the struct that is unsafe, but the way it is used. In another thread (here on GitHub or back on CodePlex) someone suggested ``where T : blittable``, which from the technical perspective might be the best choice; but

[2015-06-02 16:02] HaloFour commented on #3210
You would need some kind of new constraint, as well as some mechanism in the CLR to actually care about and enforce that the struct is predictably blittable.  But that doesn't solve the issue of indexing where the generated IL for the method needs to know the exact byte offsets and there is no way that the compiler can know the size of any given generic struct at compile time.

[2015-06-02 16:04] whoisj commented on #3210
@axel-habermaier I honestly do not know if the CLR understand this concept specifically, though one would assume it would have to otherwise I could grab an unsafe pointer to a struct with managed types in it via IL. I like the `where T : blittable`. I come from a graphic background and while I usually think of blitting as moving pixels, it really is a perfect match. For now, I'll update the sugges

[2015-06-02 16:06] whoisj commented on #3208
Updated based on the conversation happening in #3210

[2015-06-02 16:29] HaloFour commented on #3210
@whoisj

It's only the C# compiler that attempts to enforce this.  The CLR doesn't know and doesn't care.  It will happily let you index into an arbitrary offset, even out of bounds or with unpredictable types.  The verifier stops bothering attempting to ensure correctness as soon as you break out the pointers.

[2015-06-02 16:42] axel-habermaier commented on #3210
@HaloFour: When would the exact byte offsets be required? You can't access any fields of the struct anyway in a generic context.

[2015-06-02 16:50] mavasani commented on #2914
Moving this to 1.0, please let me know if you disagree. Probably @JohnHamby would want to take this up. John, let me know if you need any helping hand here..

[2015-06-02 16:51] Pilchie opened #3256 "Formatting: New line setting is not observed inside switch statement"
From http://connect.microsoft.com/VisualStudio/feedback/details/1391330/new-line-setting-is-not-observed-inside-switch-statement

1. Uncheck all New Line options in Tools->Settings->Text Editor->C#->Formatting->New Line

If one has following C# code:

[code]

and does auto-format (Ctrl+K, Ctrl+F), following formatting will occur:

[code]

As none of the new line settings is checked, I would expect

[2015-06-02 16:59] Pilchie opened #3257 "Formatting: space after "delegate" in anonymous methods doesn't respect the "Space between method call and opening parenthesis" option"
From: http://connect.microsoft.com/VisualStudio/feedback/details/1391351/inline-delegate-call-should-not-have-space

Assume following code fragment:

[code]

In Visual Studio 2012 auto-formatting (Ctrl+K, Ctrl+F) would keep this formatting. In Visual Studio 2015 auto-format changes code to:

[code]

Do notice extra space after delegate keyword.
I would expect auto-format to behave as in Visual Stu

[2015-06-02 17:00] whoisj commented on #3255
:+1: I've wanted this for years. Better if it can be a list of types. Perhaps with some rollup types like `integral` meaning `byte, sybyte, int, long, uint, ulong, float, double'.

[2015-06-02 17:03] whoisj opened #3258 "[Proposal] Generic Constraint: enum"
It would be ideal if generics could be written as the following (use-case provided):
[code]

[2015-06-02 17:07] agocke commented on #3006
Fixed by 1475881 and 1476984 in TFS.

[2015-06-02 17:07] #3006 closed

[2015-06-02 17:13] HaloFour commented on #3210
@axel-habermaier

Running through some tests it actually looks like the compiler is willing to break out the `sizeof` IL instruction in many cases when using a custom value type which it then uses to calculate the offset at run time, which might make that issue moot.  Although it's arguable whether the compiler should permit the use of arbitrary value types in such contexts if the size may change

[2015-06-02 17:15] HaloFour commented on #3258
Dupe of #262.

[2015-06-02 17:19] MattGertz commented on #3092
Rejected 6/2 by ML Shiproom.

[2015-06-02 17:23] jasonmalinowski commented on #3235
Exposing GetChecksum seems reasonable. @tmat, was there any particular reason other than "nobody needs it yet" it wasn't made public?

[2015-06-02 17:25] KalitaAlexey commented on #3255
This is one of main purposes for what people want templates in C#

[2015-06-02 17:25] amcasey commented on #1436
Adding label so it shows up in the to-verify query.

[2015-06-02 17:26] HaloFour commented on #3255
This would require some changes to the CLR as currently it's not legal to have multiple non-interface type constraints.  The number of use cases might be fairly small as the IL for the method needs to be identical regardless of what the generic type arguments might be.  Assume the following:

[code]

That could be legal since the IL for handling `double` and `int` are the same, but you couldn't ad

[2015-06-02 17:26] amcasey commented on #1300
Verified: the test is unskipped.

[2015-06-02 17:31] whoisj commented on #3210
Yay, that's fantastic and good to know when I'm pushing for performance. :balloon: Do wish the compiler wouldn't get in the way here. Once I've stated `unsafe` I understand the implications, now stop holding my hand! :smirk:

"Arguable"? If the developer has explicitly said `unsafe` let them run without the training wheels. :skull:

[2015-06-02 17:33] whoisj commented on #3255
@HaloFour I'd love compile-time templates! Somebody should post a proposal up :wink:

[2015-06-02 17:34] KalitaAlexey commented on #3255
@HaloFour I want to this work like generics work. Let all what is used be instantiated on use.
Or if it require CLR support let method
[code]
will be expanded on compile-time to
[code]

And then will be used appropriate version.
Let it will be shortcut now. And then add CLR support.
I'd love to use it

[2015-06-02 17:37] Inspyro commented on #3249
The above example **throws** in the trace assert, as it *cannot* find the *AttributeConstructor* (it only finds an ErrorType for someAttribute)

[2015-06-02 17:39] HaloFour commented on #3210
Hence, "arguable".  Clearly the language designers didn't think that `unsafe` meant carte blanche otherwise you'd probably already be able to do these things.  I assume that they would have expected you to jump from "unsafe" to "unmanaged" in those cases.

[2015-06-02 17:48] whoisj commented on #3210
The problem with "unmanaged" is it requires marshalling and back again, otherwise I would. :disappointed:

I do understand the implications, and reasoning. It's just unfortunate that I often find myself thinking: we'd be a lot more productive in C#, too bad it's slow for this kind of stuff. With more lax `unsafe` restrictions, it would less often be trade off of developer productivity vs program p

[2015-06-02 17:59] mavasani opened #3260 "Implement extension method rewrite for Expanding within conditional access expressions"
https://github.com/dotnet/roslyn/pull/3250 implements a defensive fix to bail out on extension method rewrite (`RewriteExtensionMethodInvocation`) if it is within a conditional access expression.

We should replace this defensive fix with actually performing the extension method rewrite. See skipped tests:
1. `CSharp_ExpandExtensionMethodInConditionalAccessExpression`
2. `CSharp_ExpandExtensionMet

[2015-06-02 18:21] russpowers commented on #2205
I've written a working implementation of Roslyn compiler plugins similar to this, along with attribute macros as described.  Take a look at #3248.

[2015-06-02 18:34] amcasey commented on #807
Adding label to make this appear in the to-verify query.

[2015-06-02 18:43] amcasey commented on #263
I misread, #215 is not a dup.

[2015-06-02 18:49] amcasey commented on #2770
Adding label so this will be included in the to-verify query.

[2015-06-02 19:02] amcasey commented on #2604
Adding label to include this in the to-verify query.

[2015-06-02 19:20] amcasey commented on #2898
Seems like this requires some sort of closure, so adding "Bug".

[2015-06-02 20:00] balajikris commented on #1907
Filed internal bug 1181750 for the Shell team. Closing this bug as External.

[2015-06-02 20:00] #1907 closed

[2015-06-02 20:09] CyrusNajmabadi commented on #3235
@jasonmalinowski

It's actually not hard for us to call into the runtime to get a hash for the contents of the source text.   The most painful part is getting a Stream for the SourceText.  Right now we have a copy of SourceTextStream that we're using.  But it's super ugly to have a copy of all that complex code.  If SourceText exposed something like "GetStream" on itself then that would also be go

[2015-06-02 20:13] jasonmalinowski commented on #3235
Well, you have to be very careful here: "getting the source text and getting the bytes from it" is not a well-defined operation once you have fun with encodings. Realize that the checksum of the byte stream on disk doesn't uniquely ensure text, only the pair of (checksum, encoding) is.

You'd still want to use GetChecksum anyways since in VS there's special-case handling (or should be) where we ca

[2015-06-02 20:16] amcasey commented on #2894
Is any verification required @Srivatsn?

[2015-06-02 20:21] mavasani commented on #2894
I think this one was by design.

[2015-06-02 20:22] mattwar commented on #3235
Can you just use SourceText.ContentEquals?  It already compares the checksums (if they exist) as a short circuit to comparing actual text.

[2015-06-02 20:39] rchande commented on #1287
While it is the principle that text to the left shouldn't affect completion, in this case the missing close brace really does change the meaning of the code. We'd like to do something about this, but don't have a great solution for now. Moving out to the "1.1" milestone.

[2015-06-02 20:40] tmeschter commented on #3098
This can happen when you have multiple `<Rule>` elements with the same ID and set the severity to "Default" in the Solution Explorer. Having multiple elements with the same ID is legal, and likely to happen with former FxCop rules--you'll end up with one copy under the "Microsoft.Analyzers.ManagedCodeAnalysis" analyzer (from FxCop) and one under "Microsoft.AnalyzerPowerPack.CSharp" (from a Roslyn-

[2015-06-02 20:51] CyrusNajmabadi commented on #3235
@mattwar We don't have the old source text.  Furthermore, what we do have is on our *script* side (i.e. on a JS engine on the JS heap).  Asking if the contents are the same would involve getting the entire text, and moving it from one engine to the other (either from JS to .Net or vice-versa).  This would be extremely expensive and would not scale.

Hence why we want a 'token' to indicate if the f

[2015-06-02 20:52] CyrusNajmabadi commented on #3235
@jasonmalinowski Oh, we agree.  That's why we'd like Roslyn to provide the stream/checksum.  We'd like you guys to worry about those niggling issues.  I wasn't aware of the fact that VS does checksums as well.  In that case, we'd def like the Checksum route :)

[2015-06-02 21:05] cston commented on #3062
I am able to repro this with an earlier build, so it appears to have been fixed recently. Thanks.

[2015-06-02 21:07] #3062 closed

[2015-06-02 21:13] russpowers commented on #3248
Thanks!  I didn't know about the #line directive, I will try it out.  The CscToolPath causes a single VBCSCompiler.exe to start up when you first compile (which takes a couple of seconds), but it reuses that for subsequent builds.

[2015-06-02 21:37] dpoeschl commented on #2994
Fixed by https://github.com/dotnet/roslyn/pull/3227

[2015-06-02 21:37] #2994 closed

[2015-06-02 21:50] Pilchie commented on #3241
I believe VB is the default value in some error cases in this codepath.

[2015-06-02 21:53] Pilchie commented on #3238
Keeping in 1.0, since this produces code with an error.

[2015-06-02 22:36] pharring commented on #1248
For calls into GetSymbolInfo, we can use a "Null" DiagnosticBag for binding. This keeps a lid on the memory allocations for this scenario. I imagine it will also improve any analyzers that call GetSymbolInfo.

[2015-06-02 22:36] pharring commented on #1248
Given the risk analysis and the limited impact, now that I understand the bug and the potential fix, this can be moved to the 1.1 milestone.

[2015-06-02 22:46] gafter opened #3270 "CompilationOptions.Features is unintentionally part of the "public" API"
See https://github.com/dotnet/roslyn/blob/stabilization/src/Compilers/Core/Portable/Compilation/CompilationOptions.cs#L190

The property `CompilationOptions.Features` is part of the "public" API because it is `protected internal`, even though there is no supported way to use or extend it outside Roslyn. We discovered recently that it has the "wrong" type for its internal uses.

Please remove this

[2015-06-02 22:55] #3092 closed

[2015-06-02 23:34] #3220 closed

[2015-06-02 23:57] AdamSpeight2008 commented on #1248
Would I help to do a two stage approach?
Read first without diagnostics, so that the code can be quickly be displayed in the IDE
Then asynchronously rescan with diagnostics.

[2015-06-03 00:01] gafter commented on #3252
The compiler should report a nice diagnostic when its output file cannot be written because it is locked by another process.

[2015-06-03 00:20] jaredpar commented on #3270
The method `CommonWithFeatures` should be removed as well.

[2015-06-03 00:25] amcasey opened #3272 "Watch for anonymous type member has invalid syntax"
[code]

1. Run to breakpoint
1. Expand ```outer``` and then ```C``` in the Locals window
1. Add watch on ```B```.

Expected: Expression that evaluates to value of ```Outer.C.B```.
Actual: ```((<>f__AnonymousType0<int, int>)outer.C).A	(1,3): error CS1525: Invalid expression term '<'```

Note: Dev12 emits the same watch expression but is able to compile it.

[2015-06-03 00:26] amcasey commented on #3272
@cston I vaguely recall that the lexer once accepted such identifiers in debugger mode.  Do you remember if/why we pulled that out?

[2015-06-03 00:50] gafter commented on #3252
The compiler appears to have fixed this issue since the version you are reporting against.

See
https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Compilation/Compilation.cs#L1652-L1657
and
https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Compilation/Compilation.cs#L1709-L1713

[2015-06-03 00:53] #3252 closed

[2015-06-03 01:35] gafter commented on #3270
None of the "common" APIs should be publicly visible

-Neal

On Jun 2, 2015, at 5:20 PM, Jared Parsons <notifications@github.com<mailto:notifications@github.com>> wrote:

The method CommonWithFeatures should be removed as well.

-
Reply to this email directly or view it on GitHub<https://github.com/dotnet/roslyn/issues/3270#issuecomment-108138104>.

[2015-06-03 03:02] cston commented on #3272
Removed in 7683a0a74 since we weren't aware of a scenario where it was needed.

[2015-06-03 03:18] jmarolf commented on #3161
Duplicate of #3163

[2015-06-03 03:18] #3161 closed

[2015-06-03 03:58] #2639 closed

[2015-06-03 04:16] myermian opened #3275 "Feature Request: Support a single return with multiple types."
I was writing a method that was originally returning an ```IEnumerable<int>```, but then I reached the point that I also needed to ensure that the type I return implements ```INotifyCollectionChanged```. I realized that my options were the following:

1. Create an interface that implements both of those interfaces, then return that type instead. This wasn't good because types such as ```Observable

[2015-06-03 04:39] knat commented on #3209
I think there are two ways of extending C# syantx and implementing metaprogramming:
1. Modify the Roslyn source code. Pros: product quality. Cons: (very) hard for those who are not in Redmond, because it will take hundreds (maybe thousands) hours to fully understand the Roslyn source code.
2. Use ANTLR to implement an almost complete C# parser, so you can extend C# syntax easily. Then use roslyn a

[2015-06-03 04:59] pharring commented on #1248
To fix this bug we don't need two stages. The diagnostics are going to be ignored anyway. The fix I have in mind doesn't improve the elapsed time much, unfortunately, but it does dramatically reduce the memory used.
To be clear, though, the file is displayed and syntactically classified. The user can interact with the file. What takes a long time is semantic classification and that's because, bein

[2015-06-03 05:01] tmat commented on #3272
I don't think we should parse such expression. Couldn't we produce an Object Id for the instance? $n would then be typed to the runtime type.

[2015-06-03 05:41] KalitaAlexey commented on #3275
https://github.com/dotnet/roslyn/issues/2146 will be good for your purpose

[2015-06-03 05:46] JoshVarty commented on #2779
We currently can't do an AppDomain approach as I still get the following error when not running in VS:

[code]

I'm thinking we'll eventually move to an AppDomain approach soon, though.

[2015-06-03 06:06] tmat opened #3276 "EE doesn't display value of a local variable of an anonymous type declared in lambda"
Place breakpoint as indicated, F5, F10, F10, evaluate z. The value shown is null.

[code]

[2015-06-03 08:33] nosami opened #3277 "Consider making IHostDiagnosticAnalyzerPackageProvider public"
.... and `HostDiagnosticAnalyzerPackage` so that OmniSharp could provide global analyzers in a similar fashion to VS's vsix analyzer packages.

http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.Features/Diagnostics/IWorkspaceDiagnosticAnalyzerProviderService.cs,3afe074625cf41cc

[2015-06-03 13:45] jaredpar commented on #3272
IIRC that expression was only parsable in the watch window because of the exact scenario that @amcasey laid out here.  The intent was not to support users directly writing out the type.

[2015-06-03 14:35] rmnblm opened #3278 "Removing leading/trailing brackets"
I'm trying to get the body of a method (without leading and trailing braces). Either the `ToString()` method on the BlockSyntax object is not working nor both methods `WithoutLeadingTrivia()` and `WithoutTrailingTrivia()`. When debugging, both properties `HasLeadingTrivia`and `HasTrailingTrivia`are `true`.

Am I doing something wrong?

    var syntaxTree = CSharpSyntaxTree.ParseText(code);
    var

[2015-06-03 14:38] Pilchie commented on #3277
Tag @DustinCampbell

[2015-06-03 14:40] Pilchie commented on #3278
Braces are not considered trivia - they are actually tokens that are syntactically important to the structure of the code.

Trivia is for things that are ignored by the lexer and parser - whitespace, comments and preprocessor directives for example.

[2015-06-03 14:40] #3278 closed

[2015-06-03 14:41] rmnblm commented on #3278
And how can I effectively remove leading and trailing brackets (tokens)?

[2015-06-03 14:43] whoisj commented on #3278
`.Trim('{','}')`?

[2015-06-03 14:49] Pilchie commented on #3278
From the string, or from the tree?  What is the larger task you are trying to accomplish?

[2015-06-03 14:54] rmnblm commented on #3278
@whoisj It's not that easy what I'm trying to accomplish.
@Pilchie My task is the following: I'm trying to read the body of a method

    public string DoSomething() {
        return string.Empty;
    }

What I want is the body `return string.Empty;` w/o any leading or trailing brackets, tabs, whitespaces and so on. Of course I can do `.ToString().Trim('{', '}').Trim();`to remove everything. This

[2015-06-03 14:56] rmnblm commented on #3278
I'm doing the replacement of the body with following code snippet

    var oldBody = method.Body;
    var newBody = SyntaxFactory.Block(SyntaxFactory.ParseStatement(bodyString))
        .WithOpenBraceToken(oldBody.OpenBraceToken)
        .WithCloseBraceToken(oldBody.CloseBraceToken);

[2015-06-03 14:57] lgolding opened #3279 "Instructions for automatically deploying .nupkg are out of date"
The instructions in the ReadMe.txt file in the "Analyzer with Code Fix (NuGet + VSIX)" project template say that if you want to automatically deploy the .nupkg file to your local feed, you should edit the "Post-build event command line" box in the project properties. But since #3026 was fixed, the project file in the template doesn't use a post-build event; it uses an AfterBuild target. You have t

[2015-06-03 15:02] cston commented on #3272
I agree with @tmat that we should not parse the syntax, in part because that would limit future additions to the language. If we can't produce an object id easily, could we disable "Add Watch" for these cases insted?

[2015-06-03 15:03] cston commented on #3272
I agree with @tmat that we should not parse the syntax, in part because that would limit future additions to the language. If we can't produce an object id easily, could we disable "Add Watch" for these cases instead?

[2015-06-03 15:08] Pilchie commented on #3278
Where is this code running?  Do you have access to the `Workspace` layer?  If so, you should follow your re-write with a call to the `Microsoft.CodeAnalysis.Formatting.Formatter` to fix that sort of issue.

Alternatively, you don't create a new Block, instead use [`BlockSyntax.WithStatements`](http://source.roslyn.io/Microsoft.CodeAnalysis.CSharp/a.html#7600b1e7619ed3e2)

Note: Unfortunately trivi

[2015-06-03 15:21] rmnblm commented on #3278
I'm already formatting the code with a Formatter

    var cw = MSBuildWorkspace.Create();
    cw.Options.WithChangedOption(CSharpFormattingOptions.IndentBraces, true);
    cw.Options.WithChangedOption(CSharpFormattingOptions.IndentBlock, true);
    cw.Options.WithChangedOption(CSharpFormattingOptions.NewLinesForBracesInMethods, true);
    cw.Options.WithChangedOption(CSharpFormattingOptions.NewLin

[2015-06-03 15:29] Pilchie commented on #3278
`SyntaxList` is an immutable type.  `Add` returns a new list with the changes, but the original list is not modified.

Same thing with your option changes above.  They aren't affecting the options object you are passing in, they return a new `OptionSet` with the value changed.

[2015-06-03 16:03] KalitaAlexey opened #3281 "[Proposal] typeof as C++11 decltype"
Sometimes I want to write something like

[code]

or

[code]

Let's on compilation real type will be substituted

[code]

or

[code]

[2015-06-03 16:16] cston commented on #2639
See https://github.com/dotnet/roslyn/pull/3282 for fix in stabilization branch.

[2015-06-03 16:38] KevinH-MS commented on #3272
Returning null or string.Empty for the full name in these cases (effectively disabling "Add Watch") would seem reasonable to me, although I'm not sure it's a significantly better user experience than what we have today.  I'd vote for:  "make it work with object ids or just leave it as is..."

[2015-06-03 16:40] jaredpar commented on #2569
:+1:

CC @gafter, @agocke, @VSadov, @mattwar

[2015-06-03 16:45] jaredpar commented on #3272
Curious: under what circumstances is the full named queried for today?  In the old EE it would be called for every single object displayed (and many which weren't actually visible to the user).

If that's the case in the newer EE then I'm not sure how "Add Watch" could work.  The code would be forced to create an object ID for every anonymous type expansion.  Seems like that could get a bit large

[2015-06-03 16:49] KevinH-MS commented on #3272
We only get called for the objects being displayed, but that's a good point.  The object id approach may lead to considerable bloat, because object ids don't normally go away when the object is out of scope.

We've avoided putting special syntax in the full name thus far, but that's another approach worth considering.

[2015-06-03 16:50] amcasey commented on #3272
I'm not sure the EE has a way to trigger Add Watch - I believe that's handled by the debugger UI.

I seem to recall that there are already nodes that don't support Add Watch, so there's probably an existing mechanism.

[2015-06-03 17:29] gafter commented on #2569
I suspect you intended to :+1: the PR?

[2015-06-03 17:44] rmnblm commented on #3278
You're right. I always forgot that they're immutable types. I'm getting closer to what I want.
The only problem I now have is that when parsing a multiline body.

    public string DoSomething()
    {
        string t = string.Empty;
        string s = string.Empty;
        return t;
    }

After replacing the body, the `.ToString()`method returns

    public string DoSomething()
    {
        str

[2015-06-03 17:47] jaredpar commented on #2569
@gafter ha, yeah :(

[2015-06-03 18:13] gafter opened #3283 "Refactor /features options and flags"
The features options should be parse options only. A compilation should check that the features specified on all of its supplied parse trees are consistent. A compilation's features can then be taken from any of the underlying parse trees.

In order to do this, features-related data should be removed from `CompilationOptions` and its subclasses. Tests that use those should set the parse options in

[2015-06-03 18:14] amcasey opened #3284 "VB FAR appears to be case-sensitive for anonymous type property names"
FAR on the ```.A``` in ```x``` finds the ```.A``` in y but not the ```.a``` in ```z```.
FAR on the ```.a``` in ```z``` doesn't find the ones in ```x``` or ```y```.

[code]

[2015-06-03 18:15] amcasey commented on #3284
The semantic model returns symbols that are .Equals but not identical.

[code]

[2015-06-03 18:29] dimaaan commented on #3281
Use type aliases for that.
`using MyList =IReadOnlyList<int>`

[2015-06-03 18:59] KalitaAlexey commented on #3281
@dimaaan I know about aliases, but more clear way will be to use typeof.

[2015-06-03 19:53] amcasey commented on #3276
Investigating.

[2015-06-03 19:55] rchande commented on #716
The Editor team is looking at this (in closed VS source).

[2015-06-03 19:55] #716 closed

[2015-06-03 19:55] dimaaan commented on #3281
@KalitaAlexey More clear way to do what?
Could you provide an example where decltype can give some profit.
What i see is:
1. that code harder to understand (we have to check `values` type to get ctor paratemer type)
2. It don't makes code shorted
3. changing type of `values` can lead to unexpected behavior when method is overridden.
4. it does not save us from refactoring, when type is changed

[2015-06-03 19:56] Pilchie opened #3285 "VB: When changing the type of a property, the type of it's setter should be updated automatically"
[code]

In the code above, change the type of the property from `String` to `Integer`
## Expected

The type of the value parameter in the set accessor should bee updated to match.
## Actual

It's not.
## Note

This is a regression from VS2013 :frowning:

[2015-06-03 19:58] lgolding commented on #2695
Can't verify this yet because the fwlink hasn't yet been updated.

[2015-06-03 19:59] rchande commented on #2313
No module load issues in the rolling IDE builds--closing.

[2015-06-03 19:59] #2313 closed

[2015-06-03 19:59] amcasey commented on #3276
This feels like a caching bug.  From the Immediate window:

[code]

[2015-06-03 20:00] amcasey commented on #3276
Actually, it appears that the ```z.Z``` evaluation is unnecessary.  Just evaluating ```z``` twice in a row yields a value the second time.

[2015-06-03 20:04] amcasey commented on #3276
For both evaluations of ```z```, the expression compiler emits

[code]

[2015-06-03 20:04] lgolding commented on #2815
I verified that the Roslyn SDK.vsix file is renamed, and that the title in the Extensions and Updates dialog is not ".NET Compiler Platform SDK".

There is still an issue because the description of that VSIX suggests that it includes the Syntax Visualizer, which tempted me to uninstall the (separate) Syntax Visualizer VSIX, because I thought I had two of them now. Do you want to change the wording

[2015-06-03 20:13] DustinCampbell commented on #3187
Upon investigation, it appears that this bug isn't correct. The problem doesn't appear to be caused by the DotNetNameFromLanguageSpecific API not being implemented.

[2015-06-03 20:13] #3187 closed

[2015-06-03 20:16] amcasey commented on #3276
Per @pnelsonmsft, this was internal bug 1176566 and has already been fixed.

[2015-06-03 20:16] #3276 closed

[2015-06-03 20:17] hivanov commented on #2060
I probably think the Expression Trees have the following huge weaknesses:
1. Not reclaimable by GC. Expression.Compile() and friends tend to eat up your memory, thus a special caching logic is needed all the time;
2. Not suitable for writing types -- only static methods are supported. This is probably pain number one. Even if you could compile them into Type methods, the generated methods are stil

[2015-06-03 20:23] amcasey commented on #3272
I'll see what it would take to disable Add Watch.

[2015-06-03 20:33] mavasani commented on #3254
Fixed with https://github.com/dotnet/roslyn/commit/b24605c8b021a8f9854b80ae2eb9e50bb633bc67

[2015-06-03 20:33] #3254 closed

[2015-06-03 20:34] mavasani commented on #3254
Assigned to @jmarolf for verifying, though he already buddy tested the fix.

[2015-06-03 20:50] lgolding commented on #1899
This is partly fixed. When you hover over the first undefined symbol on the line, it displays the correct diagnostic, and it offers only one fix:

![1899-lgolding-1](https://cloud.githubusercontent.com/assets/11762653/7970971/771048f8-09f6-11e5-8c70-dbda77d85f78.png)

The fix works correctly. When you hover over the second undefined symbol, it again displays the correct diagnostic:

![1899-lgoldin

[2015-06-03 21:02] jaredpar opened #3287 "Public API checker should ignore protected members on uninheritable types"
This concerns APIs which are `protected` on `public` types which can't be inherited from by customers.  In particular:

- Types which are `sealed`
- Types whose constructors are all `internal` or `private`

For such types the effective accessibility to customers is `internal`.  We should be free to modify, delete, etc ... those members post RTM.  The Public API checker should be updated to reflect

[2015-06-03 21:04] HaloFour commented on #3281
I agree.  This doesn't appear to solve anything that aliasing doesn't already solve.  You example is doubly confusing since you have both a field and a parameter named `values` so the `typeof` expression seems circularly referential.

[2015-06-03 21:19] jasonwilliams200OK commented on #17
According to [Concepts TS](https://github.com/cplusplus/concepts-ts/blob/master/html/concepts.pdf), C++17 will probably bring the concept of <kbd>Abbreviated Function Template</kbd>. The syntax looks like:

[code]

Note that the second parameter constraints the type to "of certain kind of container", i.e. `vector` in this case.

There is a related discussion here to explore interesting facts / ide

[2015-06-03 21:22] jaredpar commented on #3270
Issue #3287 tracks this now.

[2015-06-03 21:22] #3270 closed

[2015-06-03 21:25] gafter commented on #3287
@tmeschter I'll work on this unless you've already started.

[2015-06-03 21:35] tmeschter commented on #3287
@gafter You are welcome to pick this up.

[2015-06-03 21:48] RonNewcomb commented on #2133
Any sort of Find or Search or Parse op should always return a nullable, because returning null is how it signifies nothing could be found.

public T? FirstOrDefault<T>(this IEnumerable<T> src)

I think the ? or ! appellation should be able to be put on T to ensure/modify the inputted type to have/lack nullability. Attributes are verbose and clunky.

[2015-06-03 21:50] jmarolf commented on #2941
{AnalyzerName}\DiagnosticAnalyzer.vb, lines 8-12: Fields Title, MessageFormat, Description and Category can be made private.
{AnalyzerName}\DiagnosticAnalyzer.vb, line 13: Rule field can be made readonly and private.

I am not marking private because it can be useful to have tests verify these values.  If the analyzer author wishes them to be private they may do so

[2015-06-03 21:51] amcasey commented on #3272
Looks like we just need to set FullName to null to suppress the action.  Maybe we could bail out of the FullName computation if we see a mangled name and then just return null.

[2015-06-03 21:56] AdamSpeight2008 opened #3289 "Meaning of FAR"
Dumb question I know what does it mean?
My guess would be (Feature / Function) As Regressed

[2015-06-03 21:58] ljw1004 opened #3290 "VB intellisense fails to show dot-completion-list after array literal"
[code]

Repro: position your cursor where the caret is, and press "dot"

WHAT I EXPECT: It should show a load of members in the intellisense drop-down list, e.g. .Concat, .Length, .CopyTo, .ToList.

WHAT I GET: no intellisense completion list at all.

[2015-06-03 21:59] jaredpar commented on #3289
Find All References

[2015-06-03 21:59] #3289 closed

[2015-06-03 22:04] nmoschkin opened #3291 "Weird comment coloring on #region's"
At least in Visual Basic, if you have a comment after #End Region ... in Visual Studio 2013, these comments next to collapsed regions would be green like normal comments.  Now they're white, in VS 2015...

![issue_image1](https://cloud.githubusercontent.com/assets/5912337/7972496/94e51b12-0a12-11e5-8083-3b0d0a9c9764.png)

[2015-06-03 22:05] RonNewcomb opened #3292 "C# compiles enums in lambda expressions differently; consequence of overload resolution improvements?"
While trying out the Visual Studio 2015 RC, I received a run-time error on previously working code. Given the lambda  (x => x.CustomerStatusID == CustomerStatuses.Active) which was passed to a function as an Expression<>, the debugger shows a difference in the expression tree. Formerly it compiled as this:

.Lambda #Lambda1<System.Func`2[Services.DataClasses.CustomerDC,System.Boolean]>(Services.Da

[2015-06-03 22:24] AdamSpeight2008 commented on #3169
@gafter
I working on creating text file of just the grammars as based on the two `*.doc` that ship with VS2015RC. If I were to make the publicly available I think it is only appropriate to the include copyright / license and attribution within them. I don't know what license etc (will cover it).

Another option is to have another Git Repo `dotnet/roslyn grammars/` to which I could submit a PR to.

[2015-06-03 22:34] AdamSpeight2008 commented on #3291
Is there any in the `Options / Fonts and Colors` that match that style?

[2015-06-03 22:35] AdamSpeight2008 commented on #3287
What is the equivalent in VB?

[2015-06-03 22:36] mattwar commented on #2509
I'm looking for more clarification on the extent of the expected behavior.

[2015-06-03 22:36] #3035 closed

[2015-06-03 22:46] ljw1004 opened #3293 "VB wrong indent for statements inside a Select Case (if there's a subsequent Case and the current Case has more than one line of code)"
[code]

Repro: position your caret as indicated and press Enter

WHAT I EXPECT: on the new line, it should by default indent me to line up with the preceding "Console"

WHAT I GET: actually it indents me to line up with the "Case"

The indentation is fixed up by the pretty-lister when I type in my new line of code and press Enter.

Note: this bug only manifests if there is a subsequent Case statem

[2015-06-03 23:03] AdamSpeight2008 commented on #2509
@mattwar My suspect would `NormaliseWhitespace` not respecting the options.

[2015-06-03 23:13] mattwar commented on #2509
NormalizeWhitespace doesn't respect any options.  It's purpose is to make the tree round trip correctly into text and back into a similar tree. It's formatting behavior is hardcoded.

This bug is about experience of VB source file while editing in VS.  NormalizeWhitespace is not used for this.

[2015-06-03 23:33] lgolding commented on #2940
As we discussed: Make Title/MessageFormat/Description/Category/Rule private.

[2015-06-03 23:33] lgolding commented on #2941
As we discussed: Make Title/MessageFormat/Description/Category/Rule Private.

[2015-06-03 23:42] gafter commented on #3287
@AdamSpeight2008 It is a common base class for both the C# and VB APIs.

[2015-06-03 23:50] tmat opened #3295 "EnC could skip next statement when active statement is commented out"
Internally tracked as 1171881.

Repro:
F5, comment out "Stop" statement, F10:

[code]

The debugger skips "Console.WriteLine(1)" and ends up stopping on "Console.WriteLine(2)".

[2015-06-04 00:01] agocke commented on #2854
Insertion finished and committed this as 1482365.

[2015-06-04 00:01] #2854 closed

[2015-06-04 00:08] gafter commented on #3287
Or rather, the analyzer is language-independent.

[2015-06-04 00:27] KevinH-MS commented on #2547
I have a partial fix at 3f2f749305349b5220e7ee17c97b2328d4f5a1e4, but this is blocked by DevDiv 1182590 (the fix is not worth checking in without the corresponding fix in VIL).

[2015-06-04 00:49] amcasey commented on #3272
That works.  I'll fix both languages and add tests.

[2015-06-04 01:24] tmat opened #3299 "EE: Assertion failed in Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.CompilationContext.GetDisplayClassVariables"
1) Run to breakpoint as indicated.
2) Change the first yield statement from ```yield return d;``` to ```yield return d.ToString();```
3) F10 and evaluate d

[code]

[code]

[2015-06-04 01:49] einsteinsci commented on #1426
Perhaps a new definition of the `continue` keyword would work, using `continue` to explicitly fall-through, without the cringe-worthy feeling of reading and/or writing a `goto`:

[code]

[2015-06-04 01:54] HaloFour commented on #1426
@einsteinsci The `continue` keyword already means something if the `switch` statement occurs within a `for`, `while` or `do` loop.

[2015-06-04 01:59] einsteinsci commented on #1426
@HaloFour Ah. I knew it already had a meaning, but did not realize it would break existing code, by jumping to the next `case`, instead of the beginning of the loop. I guess the whole `unsafe switch` syntax will probably be the best option here then.

[2015-06-04 02:10] amcasey commented on #3272
Snag: We don't consistently null-check parent FullNames.  I haven't seen it fail yet, but I wouldn't be surprised if it did.

[2015-06-04 02:38] ljw1004 opened #3300 "VB "simplify name" greys out entire method in cases where it should only grey out generic type parameters"
![vb-grey2](https://cloud.githubusercontent.com/assets/3316258/7975856/13448910-0a28-11e5-9493-7e199eed00fc.png)

What I expect: it should only grey out the generic type parameter `(Of String)` and `(Of Integer)`

What I get: it actually greys out the method name Select as well.

(Note that C# gets this right. Note that, despite the incorrect grey span, the quickfix does the right thing in both ca

[2015-06-04 02:47] mattwar commented on #3284
We should never be comparing symbols by identity.  It is common for SemanticModel to return different instances for symbols declared within method bodies.

[2015-06-04 03:00] myermian commented on #3275
Good to know that the feature suggestion is out there already.

I was not advocating the exact syntax, I was advocating the *behavior*, as I specifically said:

"Also, keep in mind that I am **not** advocating for the example syntax as the required syntax. The syntax itself is not the important part (it is just an example of a possible way to convey the feature); the important part is the feature/

[2015-06-04 03:00] #3275 closed

[2015-06-04 05:03] #3098 closed

[2015-06-04 05:27] gafter commented on #3275
Covariant returns are proposed for C# 7, and that would also solve this.

[2015-06-04 11:45] HaloFour commented on #17
@jasonwilliams200OK  That still generates multiple permutations of the function at compile time based on every combination of argument types at invocation, no?

[2015-06-04 11:47] jasonwilliams200OK commented on #17
Yes, but I think it happens at compile time no?

[2015-06-04 12:13] mikedn commented on #17
Yes and that's why this kind of stuff is problematic in the .NET world were you don't include headers but reference assemblies. C++17 concepts are derived from traditional C++ templates and attempt to solve some of their problems but also inherit some of their problems (if you consider the use of headers a problem).

[2015-06-04 12:48] dsaf commented on #3209
That is quite impressive, but if I was still using WWF I would prefer an internal DSL instead. Yes, it would mean losing expressivity and fitting a new paradigm into a general-purpose language, but transport language (C#) familiarity and deep IDE support are hard to beat.

My experience in a similar situation:

1) Implemented an external DSL based on XML transport - bad idea, but I am a fan of XAM

[2015-06-04 12:52] dsaf commented on #3209
Hopefully C# 8 gets some metaprogramming features #2136.

[2015-06-04 13:12] radioman opened #3303 "VS2015RC, Unhandled exception/crash in Microsoft.CodeAnalysis.Workspaces.dll"
**Reduced Repro**

[code]

**Original Report**

Unhandled exception/crash in Microsoft.CodeAnalysis.Workspaces.dll
version: 1.00.0.50411
original location: C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\PrivateAssemblies\Microsoft.CodeAnalysis.Workspaces.dll

i cant find F:\Builds\6272\Roslyn\Dev14RC-Signed-Release\src\Open\src\Workspaces\Core\Portable\obj\Release\Microsoft.CodeAn

[2015-06-04 14:28] dsaf opened #3304 "[Proposal] Allow explicit declaration of anonymous types (in local collections)"
C# thrives on being a multi-paradigm language. One of those paradigms is the imperative one, which is useful in some scenarios depending on personal preferences.

However it seems that there are some discrepencies between general feature availability in imperative and functional paradigms in C#.

One of such features is anonymous types. While it is easily possible to create a list of anonymous ins

[2015-06-04 15:01] HaloFour commented on #3304
Taking constructs added to the language in order to facilitate the functional aspects and forcing them into the imperative syntax doesn't make a lot of sense.  There was an imperative solution to that problem long before anonymous types and type inference were added to the language.  I think allowing for type inference to be driven by a potential eventual usage is opening an error-prone and confus

[2015-06-04 15:18] dimaaan commented on #3304
Agree with @HaloFour
Moreover: if functional way is more suitable, why you dont want to use it?

[2015-06-04 15:18] dsaf commented on #3304
@HaloFour I don't insist on class-level inference, since it will be covered by language-level tuples. Method-scoped anonymous type inference is already present, it's just not consistent.

[2015-06-04 15:20] dsaf commented on #3304
@dimaaan I never said that. I use different approaches based on the problem at hand. Cramming everything into LINQ is not always a good idea.

[2015-06-04 15:29] dimaaan commented on #3304
@dsaf  looks at following code

[code]

[2015-06-04 15:45] dsaf commented on #3304
@dimaaan This is not how anonymous types generally work.

Consider the following example demonstrating your code rewritten using today's C#:

[code]

[2015-06-04 15:48] HaloFour commented on #3304
@dsaf

Only based on the immediate usage.  Given assignments are right-to-left the compiler already knows the exact type at the point of inference.  This would require that the compiler not know the type until some indeterminate point.

*Only* because the compiler already knows the type based on the assignment to `list`.  Without that the compiler can't determine the type of `list` until it hits o

[2015-06-04 15:58] dsaf commented on #3304
@HaloFour I am inclined to agree now, after some consideration. Can you think of any other alternative?

How about this:

[code]

vs

[code]

It does look more and more like tuples though...

[2015-06-04 16:14] dimaaan commented on #3304
Looks better now

[2015-06-04 16:18] HaloFour commented on #3304
@dimaaan That might work in Java due to type-erasure, but it suffers from the same exact problem at above in C# because the type of the generic type parameter isn't known and it must be known in order to complete the type and instantiate it.  There is no `System.Collections.Generic.List` in the BCL.

[2015-06-04 16:21] dsaf commented on #3304
@HaloFour Well, a language-level ```list``` support is being considered, that might help, though it would push this change implementation into C# 8.

[2015-06-04 16:25] mburbea commented on #3304
Technically if you care about the potential allocations, you could write a helper
[code]
This is awful but at least then you're not instantiating the object. The compiler will simplify that method invocation as `CreateListForAnonymous(null)`, and the jitter will inline it to the same as a direct call to new `List<anonymous object>`.

[2015-06-04 16:33] HaloFour commented on #3304
@dsaf IIRC that's just C# syntax specifically related to creating `System.Collections.Generic.List` from literal expressions.  The limitations/behaviors wouldn't change, just some of the syntax.

[2015-06-04 16:43] dsaf commented on #3304
@HaloFour true, but surely compiler can emit ```System.Collections.Generic.List<AnonymousClass123>```?

[2015-06-04 16:46] dsaf commented on #3304
@mburbea I am more worried about readability than performance, but yes that is a clever trick. It would be nice to avoid having to create new adhoc classes or using library-level tuples when writing local imperative code.

[2015-06-04 16:52] HaloFour commented on #3304
@dsaf That it can, when it knows what `AnonymousClass123` is.  Which brings us back to the first problem.  :grinning:

It amazes me how much unreadable mess developers are willing to write in order to avoid even the slightest boilerplate.  A nested tuple/class is infinitely more readable.  Messy tricks of inference should be avoided wherever possible.  If the intention cannot *immediately* be unde

[2015-06-04 16:58] lgolding commented on #931
Verified as fixed.

[2015-06-04 17:03] dimaaan commented on #3304
@dsaf  @HaloFour  Guys, thats my fault. First version of my last comment was `new List()`, because github eat some text.

But IMHO LINQ is more readable than `var list = new List< new {int Id, string Name} >();`.
That request may have some academic value, but useless in real world.

[2015-06-04 17:08] dimaaan commented on #3304
I mean this feature increase complexity of language, but gives no profit

[2015-06-04 17:17] lgolding commented on #629
Assigning to Sri since he already has 2013 installed.

[2015-06-04 17:20] lgolding commented on #50
It no longer removes the comment but it does add a line break. This is probably the right behavior per formatting conventions:

[code]

[2015-06-04 17:27] lgolding commented on #50
Verified as fixed.

[2015-06-04 17:31] jaredpar commented on #2866
Assigned to @agocke for verification

[2015-06-04 17:43] natidea commented on #1289
Menu has been relocated. Menu name is still "Add Analyzer" not "Add Analyzer Reference"

[2015-06-04 17:49] amcasey opened #3309 "Assert in AnonymousTypeManager.CheckSourceLocationSeen"
Evaluate ```false ? new { X = 1 } : null``` in the Immediate window (while debugging C#).

[2015-06-04 17:49] amcasey commented on #3309
[code]

[2015-06-04 17:50] amcasey commented on #3309
%mymachine%\dumps\encbuddy20150604.dmp

[2015-06-04 17:55] ljw1004 opened #3311 ""Suppress" codefix should never be shown more than once per line per diagnostic-id"
Look at this screenshot. I have an analyzer which happens to report diagnostic ID "UWP001" twice on this line, in two separate spans:
![suppresstwice](https://cloud.githubusercontent.com/assets/3316258/7990717/c944b760-0aa7-11e5-8bba-5cebb1c1e48c.png)

WHAT I EXPECT: The "suppress" quickfix should only be offered once for this diagnostic-ID. That's because all three of the fixes (use Disable pragm

[2015-06-04 17:58] amcasey commented on #3309
It happens when you evaluate ```false ? new { Head = (string)null, Tail = (dynamic)null } : null``` in the immediate window, but not when you evaluate the same expression with ```true``` in place of ```false```.  That makes me think that it has to do with unreachable code.

[2015-06-04 18:01] amcasey commented on #3309
Code gen throws a NRE (since the template has no name) so it's not entirely benign.  I suspect we're attempting to emit the unreachable code.

[2015-06-04 18:06] srivatsn commented on #293
There is a test validating this now.

[2015-06-04 18:09] jasonmalinowski commented on #2767
Turns out I've fixed this in pull request #3298.

[2015-06-04 18:15] jasonmalinowski commented on #3303
I believe we've already fixed this through reports from Windows Error Reporting. @dpoeschl, does this look familiar?

[2015-06-04 18:16] gafter commented on #3169
@AdamSpeight2008 You'll have to consult with your own lawyer for legal advice on what part of the VS2015RC documentation you can copy, make derivative works of, and publish. I am not aware of any permission grant in those documents that would allow you to do what you're suggesting, but even if I were, I am not a lawyer (and even if I were, I'm not *your* lawyer).

However we are investigating re-r

[2015-06-04 18:17] svick commented on #3304
@dsaf I view the proposed C# 7 tuples as pretty much a replacement for anonymous types (I doubt a language designed from scratch would have both). Is there any reason why you couldn't use a tuple instead of an anonymous type here?

You mention that tuples are "library-level". Is there anything specific about them that makes them unsuitable at a method level?

[2015-06-04 18:29] gafter commented on #2133
@RonNewcomb That would change the type of the existing `FirstOrDefault` return type, for example when `T` is `int` it would change from `int` to `int?`.

[2015-06-04 18:38] mavasani commented on #2593
Fixed with https://github.com/dotnet/roslyn/commit/b770795f046fa7c8561b1a57a447f754a17c2a0d

[2015-06-04 18:38] #2593 closed

[2015-06-04 18:39] mavasani commented on #2593
Assigning to @tmeschter to verify close this issue, as he has already buddy tested this fix.

[2015-06-04 18:56] ljw1004 opened #3312 "Request: don't show so many built-in esoteric code actions"
Look at this picture.
![toomanyactions](https://cloud.githubusercontent.com/assets/3316258/7991910/7e6827e6-0ab0-11e5-8206-0a82ec3b6fa0.jpg)
I have just a simple problem (copied+pasted the method from one file to another, which is lacking the necessary Imports statement). But it gives me EIGHTEEN quick actions to choose from! One of them (the first) is obviously correct. The others are just noise,

[2015-06-04 18:56] mburbea commented on #3304
if c#7 tuples are `struct` type, there are the usual pitfalls of structs to consider and thus they can have different performance considerations. Putting a struct of multiple object references, on the stack and copying it when pulling it out can have disastrous considerations, when a class would not have those issues.

[2015-06-04 19:00] pharring commented on #2790
Verified by looking at the latest performance traces. I see exactly one instance of the compiler server process as expected.

[2015-06-04 19:01] ljw1004 commented on #3312
I think that the Roslyn team should hold off from solving this through some general-purpose public framework/infrastructure for submenus.

Instead Microsoft should just set its own house in order first. Make sure the built-in code-actions that it provides are clear, and no more confusing that competitors. Make sure the right usability testing has been done. And in the first instance just have thir

[2015-06-04 19:05] dpoeschl commented on #3303
@radioman Thanks for reporting this. This happened to you during Extract Method? Does it happen all the time when you Extract Method, or just sometimes? Can you share a piece of code where Extract Method reliably causes this?

It looks very similar to #2352, but Extract Method would not construct the situation described in the reduced repro of that bug. I wouldn't be surprised if there were some s

[2015-06-04 19:24] gafter commented on #3309
I wonder if this has anything to do with the fact that you're not running the flow-analysis phases before code generation.

[2015-06-04 19:37] jmarolf commented on #3163
Fixed by #3274

[2015-06-04 19:37] #3163 closed

[2015-06-04 19:45] DustinCampbell opened #3313 "Clean up Code Model lifetime management"
See PR #3286.

[2015-06-04 19:46] svick commented on #3304
@mburbea Yes, they are `structs` (see #347). I don't think what you're describing would be a common case. And for uncommon cases, I think it's okay to make you use a named type to achieve better performance.

[2015-06-04 19:49] amcasey commented on #3309
Offline, @gafter raised the excellent point that the emitter is probably not visiting the unreachable subexpression, but rather the type of the whole expression (which is determined by the unreachable expression).  It would be interesting to compare the EE's behavior with what the compiler does for

[code]

[2015-06-04 19:54] gafter commented on #2974
@sharwell You are conflating Visual Studio (the IDE product) with C# (the programming language). I see that a lot, and it bothers me. We should consider them separate, especially now that C# is being made more portable.

[2015-06-04 20:11] natidea commented on #1579
I've tried various scenarios, including adding ruleset as solution item, and linking it in various projects. No errors observed, though I did notice that ruleset was not always opened in 'All' context (#1787)

[2015-06-04 20:13] #3072 closed

[2015-06-04 20:18] gafter commented on #3123
When resolving a type name `X.Y`, the language specifies that first the name `X` is resolved, and then `Y` is resolved as a member of `X`. That works well for extension methods; the type of the left-hand-side is first determined, and then the meaning of the method name may look in more than one place, but we never reconsider the meaning of the left-hand-side.

However, this requests that we recons

[2015-06-04 20:18] #3123 closed

[2015-06-04 20:20] gafter commented on #3123
@MadsTorgersen Please reopen if you disagree.

[2015-06-04 20:21] jmarolf opened #3314 "Analyzers installed via nuget cannot be removed except through nuget"
If I install an analyzer through nuget, then click "Remove Analyzer" from right-clicking on the analyzer reference node, it is removed from the project but nuget still lists it as installed.  If I then ask nuget to uninstall the package I get an error:

Attempting to gather dependencies information for package 'Microsoft.AnalyzerPowerPack.1.0.0' with respect to project targeting '.NETFramework, Ve

[2015-06-04 20:28] #3258 closed

[2015-06-04 20:38] mavasani opened #3315 "Inline temp for an array literal with anonymous types in the initializer doesn't work"
Inline temp local `linked` below:

[code]

**Got:**
![inlinetempbug](https://cloud.githubusercontent.com/assets/10605811/7993952/b4fb81e6-0abe-11e5-9c2b-54876761f734.png)

Seems like a bug in the Expander.

/cc @amcasey Thanks for reporting this issue!

[2015-06-04 20:40] mattwar commented on #3235
We can expose the checksum we have.  Its an ImmutableArray<byte>.  The problem is that this API will throw if Encoding is null, which happens with source texts that did not originate from a disk file.  The same is true for the stream over SourceText.  I don't think this will make a happy public API experience.

[2015-06-04 20:44] amcasey opened #3316 "RenameRewriter infinite loop in bad code"
Rename ```p``` (e.g. to ```q```).

[code]

[2015-06-04 20:45] amcasey commented on #3316
In debug builds, there's an assert from the RenameRewriter about not expecting to be in a ```CType``` expression.  I'm not sure why an exception being thrown results in a retry.

[2015-06-04 20:45] amcasey commented on #3316
FYI @rchande @dpoeschl

[2015-06-04 20:47] amcasey commented on #3315
Alternatively, extract a local for ```{1, 2, 3}```.

[2015-06-04 20:50] amcasey commented on #3316
Incidentally, the bad code arose as a result of #3315.

[2015-06-04 20:54] mavasani commented on #3315
Andrew pointed another issue: If we go ahead and apply the refactoring, even in presence of conflicts, an assert is fired about "Code action introduced error in error free code". We should probably guard the assert [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/CodeActions/CodeActionEditHandlerService.cs,182) to be invoked only for non-conflict code action app

[2015-06-04 20:54] CyrusNajmabadi commented on #3235
What about changing it to TryGetChecksum?

[2015-06-04 20:59] lgolding commented on #2650
Verified as fixed.

[2015-06-04 21:00] MgSam commented on #2974
@gafter I don't think *any* language should be considered separately from the IDEs available for it in 2015. No one is writing C# in Notepad, so why should language design behave as if that is the case?

[2015-06-04 21:01] dpoeschl commented on #3315
@mavasani - That's a debug-only assert so we notice when the fix applied turns code without errors into code with errors, which is what happened here. Seems like it's working as designed.

For the original issue, does expand/reduce generally not know what to do with anonymous types?

[2015-06-04 21:02] RichiCoder1 commented on #2974
I would point out that while C# isn't being written in Notepad, it's increasingly being written in Atom, VS Code, Vim, and may others, especially thanks to the efforts of the OmniSharp team. VS may still be the premier editor for C#, but it's no longer the only by far.

[2015-06-04 21:05] mattwar opened #3318 "The NormalizeSyntax API should let you specify the type of EOL to use."
The NormalizeSyntax API already lets you specify the whitespace to use for each indentation level.  It should also let you specify the end-of-line whitespace, as opposed to always using CRLF.

[2015-06-04 21:13] MgSam commented on #2974
@RichiCoder1 Totally true. However- any IDE worth anything should be providing some degree of auto-formatting of code.

I'd also point out that until and unless there is data that a large number of users are writing in other tools, VS should remain the overwhelming experience to consider when doing C# language design. It's nice that the language is now open-source, but that shouldn't mean that the

[2015-06-04 21:13] mavasani commented on #3315
@dpoeschl Agreed, but the assert might be less noisy if not fired for cases where the refactoring already detected conflicts and user decided to ignore them.

@srivatsn Might have more context about your question regarding anonymous types in expand/reduce.

[2015-06-04 21:19] khyperia commented on #3283
Resolved by the above PR.

[2015-06-04 21:19] #3283 closed

[2015-06-04 21:20] amcasey opened #3320 "Assert in AbstractTypeParameterChecker"
I moused over some occurrence of T2 in this code:

[code]

[2015-06-04 21:20] amcasey commented on #3320
FYI @cston

[2015-06-04 21:21] amcasey commented on #3320
Mousing over ```C3``` in its declaration seems to work.

[2015-06-04 21:22] amcasey commented on #3320
Impact appears to be that the data tip doesn't appear, though it's hard to say since focus is lost.

[2015-06-04 21:27] sharwell commented on #2974
@gafter Yes and no. The specific functionality of Visual Studio required to support my argument is implemented in Roslyn components which are not strictly tied to Visual Studio. While I don't know of another editor implementing them in precisely the same way, the barrier to do so is not nearly as high as it once was.

[2015-06-04 21:28] pharring opened #3321 "C# smart indenting after single-line comment and a newline"
Type the following into a new C# class library:

[code]

Place the caret at the end of the single-line comment (where the $ is).
Press Enter twice

Result:
After the first enter, auto-indent aligns the caret with the comment and private field. After the 2nd Enter, it indents another 4 chars.

Expect:
The indent should stay at 4 chars

This feels like a recent regression.

[2015-06-04 21:29] pharring commented on #3321
This is with InstallDogfood bits from 20150603.2

[2015-06-04 21:30] mattwar commented on #3235
That's possible, if a little clumsy.

[2015-06-04 21:35] lgolding opened #3322 "Deprecate GetSymbolInfo and add identical but renamed GetReferencedSymbolInfo"
I consistently make the mistake of calling `GetSymbolInfo` on a method declaration when I should have called `GetDeclaredSymbol`. The name `GetSymbolInfo` doesn't warn me away from using it on declarations -- IOW, the name doesn't tell me to use it only on references.

I suggest you deprecate `GetSymbolInfo` and add `GetDeclaredSymbol` (which can just call `GetSymbolInfo`). The message of the now-

[2015-06-04 21:39] pharring commented on #3321
It's a regression from Dev12, but apparently it's been there for a while. It repros in ETA as far back as 20150205.1

[2015-06-04 21:42] paulomorgado commented on #3123
I don't think this kind of backtracking would be hard to do.

But de compile time cost of the compiled code would be potentially higher than the cost of implementing it in the compiler.

The example hides the complexity and memory needs by providing a use case of a depth of just 2. What if it as 3? Or 4? Or 10?

[2015-06-04 21:47] wschae opened #3323 "Assert Failed: CSharp.LexicalOrderSymbolComparer.Compare(Symbol x, Symbol y)"
Assert Failed at Compilation\LexicalOrderSymbolComparer.cs

        public int Compare(Symbol x, Symbol y)
        {
            int comparison;
            if (x == y)
            {
                return 0;
            }

            var xSortKey = x.GetLexicalSortKey();
            var ySortKey = y.GetLexicalSortKey();

            comparison = LexicalSortKey.Compare(xSortKey, ySortKey);

[2015-06-04 21:58] #3231 closed

[2015-06-04 21:58] MatthieuMEZIL commented on #3123
@paulomorgado : I'm not sure that the namespace depth changes a lot the complexity but I completely agree with the fact that it won't be hard to implement but it could make the compiler really slower which is not good.
However, I think that we could imagine an analyzer with code fix (adding global::) for this.

[2015-06-04 22:03] gafter opened #3324 "Remove Analyzer menu item doesn't do anything"
To reproduce:

Open the RoslynLight solution in Visual Studio.

In the Solution Explorer, open up

Compilers -> CSharp -> CSharpCodeAnalysis -> References -> Analyzers

Note that there are two analyzers listed: Roslyn.Diagnostics.Analyzers and Roslyn.Diagnostics.Analyzers.CSharp.

Right-click one of these to bring up the context menu. Select "Remove".

Nothing happens. Not even a message.

[2015-06-04 22:03] RonNewcomb commented on #2133
@gafter Correct, which would fix the bug in FirstOrDefault() in which success and failure look identical:

            var i = new int[5] {13, 65, 0, 5, 99 };
            var foo = i.FirstOrDefault(x => x == 0);
            Console.WriteLine(foo);

[2015-06-04 22:14] HaloFour commented on #2133
@RonNewcomb Is it a bug if it was intentionally designed that way?  I don't think so.  The "default" value of an `int` is `0`, so to have the method return `0` seems entirely appropriate.

You can't have a single `FirstOrDefault` method that can return `null` for both `struct` or `class` due to conflicting constraints.  You also cannot have overloaded `FirstOrDefault` methods that differ only by c

[2015-06-04 22:25] eamodio commented on #3211
@ManishJayaswal curiously what does the Blocked label mean? (Or is there a legend/descriptions of the labels somewhere?)

[2015-06-04 22:27] jmarolf commented on #3279
Closed with internal Changeset 1483043

[2015-06-04 22:27] #3279 closed

[2015-06-04 22:28] jmarolf commented on #2941
Fixed with internal changeset 1483043

[2015-06-04 22:28] #2941 closed

[2015-06-04 22:28] jmarolf commented on #2940
Fixed with internal changeset 1483043

[2015-06-04 22:28] #2940 closed

[2015-06-04 22:29] jmarolf commented on #2815
Fixed with internal changeset 1483043

[2015-06-04 22:29] #2815 closed

[2015-06-04 22:31] RonNewcomb commented on #2133
@HaloFour   I'm aware *why* it works that way, and that it is true for all value types, and that it is self-consistent in its own way.  But within the larger context of this discussion about non-nullables + generics and the possibility of taking T or T! but returning T? to avoid issues with the non-existence of default(T!), I maintain that allowing attaching the ? or ! to T is not only a good idea

[2015-06-04 22:34] tmat commented on #2476
Fixed by fb3b7665838bfb932ca9843a1bba01e069d40129

[2015-06-04 22:36] tmat commented on #2476
@gafter Could you verify? I heard you're currently handling some other public API surface fixes.

[2015-06-04 22:39] tmat commented on #2476
Reopening. Compiler should be clean, but we have more public fields in Workspace layer.

[2015-06-04 22:39] gafter opened #3325 "Remove copyrights from .il files"
There are lots of .il files for tests in our repository which contain lines like

[code]

This is the disassembler's copyright, not the copyright on the .il files, even though it appears to be asserting copyight over the contents of the file. These copyright headers should either be removed or replaced with appropriate open-source copyights. In the meantime the disassembler is being fixed to stop

[2015-06-04 22:44] whoisj commented on #2974
I would say, as I understand it: C# is developed and compiled with Roysln, which comes with facilities to format code. Therefore any argument about various IDE is moot and off point. Since the compiler service itself supports code formatting, the existence of code formatting utilities is always available. Therefore code formatting should not be considered part of the equation for evaluating if C#

[2015-06-04 22:45] HaloFour commented on #2133
@RonNewcomb As non-nullable reference types are effectively going to boil down to little more than attribute-driven analytics we're not going to gain the ability to treat them differently at the CLR level.  A method won't be able to generically declare that it returns both a nullable reference type as a nullable value type, only that it returns a generic type.

The other issues are really corefx c

[2015-06-04 22:47] gafter opened #3327 "Remove binary files from the repository"
We have a number of binary files in our repository that simply don't belong there. In many cases we have a binary .ddl sitting alongside the source file it was compiled from. In those cases the binary should be removed and the build updated to produce the binary by compiling the source. If we need binary files as resources for tests, they should be moved to a separate nuget outside of version cont

[2015-06-04 22:49] lgolding commented on #2658
Verified as fixed.

[2015-06-04 22:51] gafter commented on #3327
@KevinRansom

[2015-06-04 22:51] gafter commented on #3325
@KevinRansom FYI

[2015-06-04 22:52] bondsbw commented on #2930
@KrisVandermotten By the time you got to either of the two changes in ```NumbersUpTo```, I don't really see the benefit at all.  Unless I'm mistaken, the result is identical to simply removing the new syntax:

[code]
Same for async:
[code]

Unless I'm mistaken, the only difference is in name scoping.  But that can be taken care of in both instances by just the curly braces, not even needing the ad

[2015-06-04 22:52] whoisj commented on #3327
:+1: :heart_eyes:

Next we consider use of LFS for the rest of the binaries?

[2015-06-04 22:55] ManishJayaswal commented on #3211
@eamodio We need a fix for this on the debugger side ( which is not open source) and we have an internal bug tracking that. Once that is resolved we will update this issue.
We use the blocked tag for our bookkeeping indicating that it is not actionable yet.

[2015-06-04 22:55] HaloFour commented on #2974
I agree, enough code editors with even basic support for C# have brace completion and auto-formatting.

But besides that, I think that altering the syntax in such a way doesn't make sense.  It's in effect rewriting the language spec, and for no benefit other than to make it *feel* like another language.

You're also stuck with two bad choices:

1. Make this a compiler option, in which case the com

[2015-06-04 23:01] whoisj commented on #2974
I do feel a bit like this issue is like asking that English speakers stop conjugating "be". Doing so is technically wasteful of mental facilities, but not doing is makes communication significantly more difficult as people are forced to adapt; and there's a huge existing library of content using the old style.

[2015-06-04 23:08] pnelsonmsft commented on #3211
The fix is currently targeted for Update 1

[2015-06-04 23:11] HaloFour commented on #2974
@whoisj If you want to stop conjugating verbs you learn an Eastern language like Chinese, Japanese, Thai, Vietnamese, etc.  You don't change English.  :grinning:

[2015-06-04 23:16] tmat commented on #3327
I'm not sure if there is much gain from removing these. Since they are immutable and already in git history removing them doesn't save any space.

[2015-06-04 23:35] OJacot-Descombes commented on #3255
The real problem here are not the generic constraints, but the lack of a common numeric base type or an interface definining the basic arithmetical operations.

[2015-06-04 23:44] HaloFour commented on #2930
@bondsbw

Actually they are quite different.  The two methods as you have written them do not perform argument validation as you might expect.

In the first case, the iterator, *none* of the function body is executed until the caller calls `MoveNext` on the enumerator.  This can result in the validation exception being thrown quite far away from where the validating method is called.  If you passe

[2015-06-04 23:45] paulomorgado commented on #3123
@MatthieuMEZIL, in order for this to work, you have to treat every namespace segment as a unit. And the same for nested classes and nested members, or it would be confusing for the user.

Although it would not be the hardest thing to code in Roslyn, it would definitely make it considerably slower depending on the source code.

[2015-06-04 23:46] gafter commented on #3327
@KevinH-MS FYI

[2015-06-04 23:50] HaloFour commented on #3255
Either would require heap allocations and virtual calls instead of using
the proper (and infinitely simpler but type dependent) IL opcodes.  In
theory the JIT could figure that out and emit optimized native code.

On Thu, Jun 4, 2015, 7:36 PM OJacot-Descombes <notifications@github.com>
wrote:

[2015-06-04 23:53] bondsbw opened #3330 "[Proposal] Improving scenarios that break backwards compatibility"
# Problem
Backwards compatibility is a big deal for any language design team.  The language needs to evolve, but the team never wants to break existing code.

C# has become better every version.  The number of good ideas seems to be endless, but many of them suffer from backwards compatibility.  For example, #1303 proposes fixing the "billion dollar mistake":
[code]
But it is impossible to enforce

[2015-06-05 00:38] HaloFour commented on #3330
Breaking compatibility is a non-starter.  It's all too easy to find instances where language designers have attempted to reboot and break compatibility between major versions only to find the decision reviled and no willingness to adopt the breaking changes.

The inability to "fix" "non-nullable reference types" has little to do with C#.  It's not a problem of syntax, it's a problem of the fact th

[2015-06-05 00:40] AdamSpeight2008 commented on #3169
My goal is to have the language grammar itself accessible via api
[code]

[2015-06-05 01:03] natidea commented on #2310
The rules list 'Intellisense' as the source

[2015-06-05 01:53] bondsbw commented on #3330
@HaloFour, thank you for your feedback.

Nullability is just an example case for breaking backwards compatibility, one of many posed in comments here, on CodePlex, and elsewhere.  Plus I don't want to immediately assume that CLR changes are out of scope for some unnamed, unplanned future release.

(Sorry for the original post... I wrote "mutability" everywhere I meant "nullability".)

[2015-06-05 02:12] bondsbw commented on #2930
@HaloFour  I see, I didn't consider that syntax to have the same semantics as an embedded lambda.

The ```async```/```iterator``` syntax now reminds me of the anonymous ```delegate``` syntax without parameters (or, when the parameters exist but are unused).  If we go that route I think I would like to see that syntax extended beyond local functions.

[2015-06-05 02:19] bondsbw commented on #2930
And then I'd like to see iterator methods with this syntax, for completeness:

[code]
which would be identical to

[code]

[2015-06-05 03:04] ygc369 opened #3334 "Can roslyn compile ios and android apps?"
I hope roslyn itself has the ability to compile ios and android apps written by C# without Xamarin which is too expensive. If we can develop ios and android apps using C# and free version of Visual Studio under Windows OS, it would be very good. If Microsoft can't buy Xamarin and make it free, it should consider developing a similar software which is free to use.

[2015-06-05 05:13] jasonwilliams200OK commented on #2844
@akoeplinger, the bugfix you mentioned, by any chance it was fixed with [mono-4.0.1.44](https://github.com/mono/mono/releases/tag/mono-4.0.1.44)?

@ajensenwaud, can you try building with latest mono release version? Note that the Linux Instructions in wiki is recently updated: https://github.com/dotnet/roslyn/wiki/Linux-Instructions.

inviting @josteink and @saper.

[2015-06-05 05:52] Jake456 opened #3336 "Formatter doesn't work with empty workspace"
The following doesn't format the code. Tried also with AdHocWrkspace to no avail.

            var tree = CSharpSyntaxTree.ParseText(code);
            var ws = MSBuildWorkspace.Create();
            var root = Formatter.Format(tree.GetRoot(), ws);
            code = root.ToString();

Tried with latest version (6df49c669c3364326830d6156f4ef95221b60c24).

[2015-06-05 06:01] svick commented on #2930
@bondsbw I think it would be really confusing if the declared return type of a method (here `int`) was different from the actual return type (`IEnumerable<int>`). And it doesn't increase consistency, `async` methods have to explicitly declare that they return `Task<T>`.

Also, how would you specify that the method returns `IEnumerator<int>` using your proposed syntax?

[2015-06-05 06:39] saper commented on #2844
This is https://bugzilla.xamarin.com/show_bug.cgi?id=30171 and it is fixed in 4.0.1.44

I have managed to compile C# compiler! it only does not work :)

[2015-06-05 06:53] radioman commented on #3303
VS2015RC crash if the extract method name contains already existing method name without hitting enter, meaning if you do a lot of refactoring and you type similar name and it has a match, yeah, good luck with that.. ;/ please fix in release

// program.cs
namespace ConsoleApplication1
{
    public struct Test
    {
        public int a;
        public int b;
    }

    partial class Program
    {

[2015-06-05 06:56] mpaladin opened #3337 "errorlog JSON output should escape backslashes"
JSON format requires backslashes to be escaped, I noticed that errorlog JSON output contains unescaped backslashes, i.e. issue location uris containing Windows absolute paths.

[2015-06-05 07:32] jasonwilliams200OK commented on #2844
@saper, thanks for the update! Were you also able to compile VB compiler in addition to C# (csc && vbc)?

Yes we are advancing one step at a time! :smiley:
Now lets figure out how to fix the next caveat. Fighting for build systems is sometimes frustrating but at the same time, quite exciting.. :ski:

[2015-06-05 07:53] saper commented on #2844
Next stop: #1102 (it hangs on `csc.exe` etc.)

[2015-06-05 08:02] dbolkensteyn commented on #3337
see https://github.com/dotnet/roslyn/blob/f4a6ccd27889960179b14193b5f999c228ee631a/src/Compilers/Core/Desktop/CommandLine/ErrorLogger.cs#L275

[2015-06-05 08:27] dsaf commented on #3304
@svick When I said library-level I meant today's ```Tuple<int, string>```, when I said language-level I meant tomorrow's ```(int, string)```. Yes, I could use language-level tuples, but @mburbea is correct about performance and also there is a possibility that anonymous types will allow subtyping and interfacing.

[2015-06-05 08:41] paulomorgado commented on #3330
If you break backward compatibility, you might as well throw it all away and start all over again.

And as @HaloFour states, there's nothing the language can do about non nullable reference types. Once and if the CLR solves this, than the language can leverage it - in a non backward compatibility way, obviously.

[2015-06-05 09:23] SolalPirelli commented on #3330
The only major language that broke backwards compatibility is Python. That did *not* turn out well.

[2015-06-05 13:03] HaloFour commented on #2930
The only reason that async methods ended up requiring an `async` keyword was that there are scenarios in which attempting to determine the contextual usage of the `await` keyword would be ambiguous.  Adding `async` to the method signature tells the compiler that `await` cannot be used as a type or variable name within the method and eliminates that source of ambiguity.  Iterators, which were added

[2015-06-05 13:16] GeirGrusom commented on #3334
It can compile binaries that can be used by Xamarin, but that is not enough. For Android Xamarin also builds Java libraries for .NET, and for iOS it compiles the Mono binary into native code for the iOS platform (as generating code in runtime is forbidden on iOS by the developer license).

So no, you can't build iOS or Android applications with Roslyn, because a C# compiler is not all you need.

[2015-06-05 13:39] bondsbw commented on #3330
Keep in mind that I'm not suggesting a huge Python-style break.  I'm suggesting two things:

1. An F# ```#light```-like syntax to tweak the syntax of the *current file only*.
2. The ability to change the entire project to use that syntax without needing the preprocessor directive on each file, e,g. ```#csharp8```, for groups of changes.

Another thing, not all backwards compatibility breaks are in

[2015-06-05 13:45] bondsbw commented on #2930
Good points.

[2015-06-05 14:59] mattwar commented on #3336
I believe that overload is only working on ranges identifies by formatter annotations that you don't have any of.  Try the overload that takes a span and give it the tree's full span.

[2015-06-05 15:11] mattwar commented on #3336
Can you give an example of source text this is not formatting?

[2015-06-05 15:40] Jake456 commented on #3336
namespace N1
                {

                enum E { A, b, C }

                public class C1
                {
                public   object P1 {get;set;}
                }

                }

The indentations/spaces aren't corrected.

[2015-06-05 15:42] rchande commented on #3086
@ljw1004 Could you verify this?

[2015-06-05 15:46] rchande commented on #2869
Opened an editor bug.

[2015-06-05 15:48] rchande commented on #2623
Please verify, @dpoeschl.

[2015-06-05 15:50] rchande commented on #44
@Pilchie Can you verify this?

[2015-06-05 15:57] HaloFour commented on #3330
@bondsbw

I don't see why any directives like that would be necessary and I would argue that they do little but make the language more confusing.  The language thus far has been quite good at preventing any new feature from breaking existing syntax through careful application of contextual keywords.  Code written in C# 1.0 with class names or variable names of `var`, `yield`, `async`, `await`, etc

[2015-06-05 15:59] RonNewcomb commented on #2133
@HaloFour I don't know what to do with your reply. The article specifically floats the idea of allowing attaching ? to T.  I brought examples how that's useful outside of non-nullables as well.

[2015-06-05 16:05] cston commented on #3309
This is an uncommon scenario (evaluating a null instance of an anonymous type), and the resulting NullReferenceException is caught by the debugger which reports "Internal error in the expression evaluator."

[2015-06-05 16:09] HaloFour commented on #2133
@RonNewcomb From the meeting notes it looks like it would affect reference types only.  When calling `FirstOrDefault` with `IEnumerable<string!>` the return type would be interpreted as a `string?`.  But that would be strictly compiler candy, and it would only apply to reference types.  `FirstOrDefault` with `IEnumerable<int>` can't return an `int?` or change the semantics of how that existing met

[2015-06-05 16:50] nosami commented on #572
I have the signed dll that comes with VS packaged on a personal myget feed. Am I allowed to distribute this while waiting for the official feed?

[2015-06-05 16:54] dpoeschl commented on #3303
Thanks for the repro. It looks like the fix to #2352 will need to be updated to take partial types into account. Let's consider for 1.0 (stable).

[2015-06-05 17:03] tmat commented on #3295
Fixed by 044c1692fe14002184f4d43d99bccd374c3a5317

[2015-06-05 17:22] mattwar commented on #3336
I tried this and it succeeds:

[code]

[2015-06-05 17:50] rchande commented on #3086
Verified.

[2015-06-05 18:07] Jake456 commented on #3336
Weird, I tried your snippet, and I get `NotSupportedException`:

    Additional information: The language 'C#' is not supported.

at `HostWorkspaceServices.GetLanguageServices()`.

Perhaps you have some uncommitted modifications which address this?

[2015-06-05 18:23] tmat opened #3341 "Remove unnecessary symbol translation steps in compiler emitter and clean up CCI emit interfaces"

[2015-06-05 18:28] #3192 closed

[2015-06-05 18:39] cston commented on #3299
@tmat Are you still able to repro this?

[2015-06-05 19:04] ghost opened #3342 "Should it be possible to use getter-only auto-properties to explicitly implement an interface property?"
Someone at Stack Overflow suggested I raise an issue here.

If I have an interface implementation like this:

[code]

And I wanted to implement it explicitly using the new C# 6 getter-only auto-properties:

[code]

I was expecting this to work, since I am assigning a value in the constrcutor. It seems the compiler is not happy with the cast, though. The error can be seen as a comment in the code,

[2015-06-05 19:08] Pilchie commented on #3336
You need to make sure that `Microsoft.CodeAnalysis.Workspaces.CSharp.dll` is deployed beside `Microsoft.CodeAnalysis.Workspaces.dll` so that it can find C# support.

[2015-06-05 19:11] Pilchie commented on #3318
Note - the change in PR #3329 breaks API compat.

[2015-06-05 19:11] Jake456 commented on #3336
Adding the dll solved the issue, thanks.

[2015-06-05 19:11] #3336 closed

[2015-06-05 19:12] gafter commented on #2133
@RonNewcomb We're not going to propose making incompatible breaking changes to existing APIs as part of this feature. The method `FirstOrDefault` has well-defined and well-documented semantics that, while it might not match your use cases, are perfectly well suited to many existing use cases and code bases. We want to ensure that, as we extend the type system, we can annotate existing APIs in such

[2015-06-05 19:20] Pilchie commented on #3291
Interesting.  The classification is correct while the region is expanded, which leads me to believe that this might be a bug in the editor where it doesn't ask for the classification at the end of the line after an elision buffer.

@AdamSpeight2008 It appears that it is not being classified at all, and therefore picking up the "Text" color.

[2015-06-05 19:21] kush2207 commented on #3342
Is this really an issue? I'd expect it to error out. Given the fact property is getter-only property in the interface.

If you allow it to flow through, then this would be violation on the interface contract. I can understand contextually you are suggesting that it should work (since you are in the constructor).