[2016-10-21 23:11] #14591 closed

[2016-10-21 23:18] jeremymeng opened #14676 "completion after new<SPACE> inserts unnecessary namespace when commit using '('"
**Version Used**: VS 2015 update 3

**Steps to Reproduce**:
1. paste the following code into a C# code file

[code]
1. put caret after "new" then type <SPACE>
2. after completion list comes up, type '('

**Expected Behavior**:
`ClassA()` inserted

**Actual Behavior**:
sometimes `A.ClassA()` is inserted. then quick fix offers to simplify the namespace part.

If it does not repro, try delete A then

[2016-10-22 00:17] Kaelum commented on #14651
@gafter: That is an inaccurate statement.  If the scope didn't leak, the "problem" would not exist.

[2016-10-22 02:11] JosefPihrt opened #14681 ""Inline temporary variable" does not replace all references"
**Steps to Reproduce**:

[code]

**Result**

[code]

**Expected Behavior**:
All references should be replaced.
**Actual Behavior**:
Only second reference is replaced.

[2016-10-22 02:35] josefpihrt opened #14682 "Refactoring "Generate class in new file" creates file in wrong folder"
**Steps to Reproduce**:
1. I have project **Foo**.
2. In that project I have a folder with the same name.
3. In that folder I have a file with the following content:

[code]

**Bar** is unknown identifier.

When I use "Generate class 'Bar' in new file", the file is placed in project folder but It should be placed in folder 'Foo'.

This error occurs when a project and a folder have the same name.

[2016-10-22 02:59] tamlin-mike commented on #14651
Previously I was thinking "Well, to prevent leaking, just wrap it in curly braces". Then comes @Kaelum with a voice of sanity and an example (many thanks for it) displaying "Whooops, that won't work!".

I wonder (just brainstorming here): Could it become "cleaner" if instead allowing a statement to not end in ';', but have a following {} (where introduced variables would be "live", but not after c

[2016-10-22 03:10] tamlin-mike commented on #14547
@eyalsk
The reason for a new keyword would be to make it easier for everyone (perhaps esp. maintainers, or simply just viewers, of code using the construct) to understand it.
A "namespacegroup" would in my mind be pretty much like a C/C++ header file _only_ including other headers. It would be a single specific purpose.

With a standing out keyword, it would not provide any risk of surprises (this

[2016-10-22 03:40] tamlin-mike commented on #12939
@Kaelum: Having spent some time letting this issue sink in, I think we're on the same page. Your final statement stands out, to the point I repeat it, in hopes someone in the group defining the language takes this to heart:

"As it stands, the rules are so convoluted, and polluted, its going to be impossible to know what variables are in scope."

Whether or not that is correct (though currently it

[2016-10-22 03:54] eyalsk commented on #14547
@tamlin-mike I'm not quite sure what surprises you think you may run into?

The IDE can help by displaying the using statements it _imports_, including the file where the group is defined inside a tooltip and finally it can color it differently so people would know it's not a regular using statement.

Not to mention that namespacegroup doesn't make sense because it can also contain static classes

[2016-10-22 04:03] tamlin-mike commented on #14547
@Eylask: The point I was trying to make was that that the keyword would make it stand out (even without a "fancy" IDE - think: looking at the code in Notepad).

I willingly admit, I haven't given this the amount of thought it probably deserve, but I'm still quite convinced this feature deserves a keyword of its own (and that it _only_ is used to introduce namespaces - nothing else).

Perhaps my vi

[2016-10-22 04:33] eyalsk commented on #14547
@tamlin-mike maybe, that's for the design team to decide iff this feature will ever make it.. haha.. :)

[2016-10-22 05:58] cston opened #14683 "Microsoft.CodeAnalysis.VisualBasic.SymbolDisplay.ToDisplayString() does not include ByRef for C# ParameterSymbols"
`Microsoft.CodeAnalysis.VisualBasic.SymbolDisplay.ToDisplayString()` returns `F(Integer)` rather than `F(ByRef Integer)` for:
[code]
See `Microsoft.CodeAnalysis.VisualBasic.UnitTests.SymbolDisplayTests.RefReturn`.

[2016-10-22 06:01] cston opened #14684 "Microsoft.CodeAnalysis.VisualBasic.SymbolDisplay.ToDisplayString() returns "this[]" for C# indexer"
`Microsoft.CodeAnalysis.VisualBasic.SymbolDisplay.ToDisplayString()` returns `ReadOnly this[](Integer) As Integer` rather than `ReadOnly Item(Integer) As Integer` for:
[code]
See `Microsoft.CodeAnalysis.VisualBasic.UnitTests.SymbolDisplayTests.RefReturn`.

[2016-10-22 07:05] qrli commented on #14651
Regarding the scoping rule, my understanding is both choices have examples which do not make sense. They are both wrong to some extent. That's why there is long discussion and flipflop. The design team has to make a compromise in the end.

So raising up a counter example will help not flip the decision again. And you example can be workaround by using `switch` expression, which looks less critical

[2016-10-22 09:10] Opiumtm commented on #6788
@CyrusNajmabadi

Some words about OOP design published by Microsoft itself:
[Constructor design guidelines by Microsoft ](https://msdn.microsoft.com/en-us/library/ms229060%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396)

[2016-10-22 09:32] alrz commented on #6788
I think all the disagreement arises when we want to _reuse_ constructor's syntax (both in declaration and usage) to provide a syntactic sugar to ease such initialization process. However, I'd argue that it is *part* of the construction so it'd be valid to write it in the same place. But, thinking about "extension everything" where you can (probably) define extension constructors. In that case, an

[2016-10-22 13:44] OndrejPetrzilka commented on #118
I'm testing ref locals and I've encountered following limitation. I declare variable `ref int` as reference to first element in array. How can I change where this variable points? Let's say I want to change it to point to fourth element, but it's not possible? (see my attempts below)

[code]

[2016-10-22 14:20] axel-habermaier commented on #118
@OndrejPetrzilka: AFAIK, that's unsupported. You can't reassign references in C++ either.

[2016-10-22 14:32] #13980 closed

[2016-10-22 15:16] jaredpar opened #14685 "Consider BuildClient.GetTempPath on non-Windows"
The function `BuildClient.GetTempPath` is used to calculate a temporary path for the compiler to use in server scenarios.  Today this is used only for signing but in theory could be used for other functions in the future.

The implementation is very windows specific today which is okay as we only do full signing on Windows.  For RTM we need to consider other OS and lock down this implementation.

[2016-10-22 15:18] jaredpar opened #14686 "Update Protocol version for Compiler Server"
The protocol is changing a bit in 2.0 and hence the protocol should be updated or deleted entirely.

[2016-10-22 16:06] miloush opened #14687 "Quick fix for CS0650 (bad array declarator)"
Would be nice if CS0650 had a quick fix available, changing

[code]

into

[code]

[2016-10-22 16:07] Kaelum commented on #14651
@qrli
There wasn't any public RFC discussions prior to this absolutely ridiculous change, which is not only a serious breaking change, but it is the biggest breaking change that has ever been made to any C based language.  By not questioning the decision, and just accepting it, we would be negligent in our duties to ensure that changes like this do not continue to happen.  What we had previously d

[2016-10-22 16:40] eyalsk commented on #6788
@Opiumtm Guideline are not mandatory and the word CONSIDER should at least tell you that much.

1. Async construction requires you to do "some work" before the object can be initialized and used just by nature of things.

2. These guidelines probably refer to the synchronous version.

[2016-10-22 17:09] HaloFour commented on #6788
How would the following asynchronous constructor be implemented by the compiler?  Would it even be allowed?

[code]

And if we're going to play the "we can make the CLR do anything we want" game, exactly what CLR changes do you proposal to enable the above scenario?

[2016-10-22 17:35] eyalsk commented on #6788
@HaloFour, @CyrusNajmabadi did say that this is part of the challenge to make these scenario work but if the problem is too complex to solve then in my opinion, there's should be some restriction on chaining and inheritance at first, personally, don't feel comfortable with it, simply because I don't know how it's going to be implemented.

[2016-10-22 17:39] mavasani commented on #14584
I looked at this more closely and it seems the DefaultCoreLibReference cannot be exposed (and is not the right thing to expose) because VB compiler has additional logic in ResolveMetadataReferences to decide whether or not the implicit core lib reference is added.

So basically, this needs to be handled by the specific project systems. For this specific issue, the DPL loading code here needs to it

[2016-10-22 18:31] gafter commented on #14651
Not true. In code such as `if (i is int j || M(j))` precisely the same "problem" occurs, and it occurs under either set of scope rules.

@Kaelum Can you please provide a specific example of code that used to compile, and now either does not compile, or has different behavior?

[2016-10-22 19:15] CyrusNajmabadi commented on #6788
None of that is about OOP design.

1. It's the Framework Design Guidelines.
2. They're guidelines.  You'll note that the part that you quoted was a 'consider' not a rule.
3. These guidelines are not set in stone.  What made sense 10-20 years ago can and is reconsidered as development patterns change and new user and framework requirement come about.

[2016-10-22 19:26] CyrusNajmabadi commented on #6788
We are precisely *not* playing that game.  What is being said is that that question is not relevant to the question of if this is a good language choice or not.  There are many paths forward, but it all starts here:

1. This is a good language change.
2. This is a not a good language change.

If we decide on '2' we can save ourselves the trouble of even having to worry about things like "how will

[2016-10-22 19:40] HaloFour commented on #6788
@CyrusNajmabadi

Indeed, which doesn't invalidate anything I've said.  It's not like they only apply to Microsoft's own framework code.  They apply to any library code targeting the .NET framework so that said libraries provide a consistent experience for developers.

Of course.  This isn't a religion.  There are always reasons to *consider* not adhering those the guidelines, but those are general

[2016-10-22 20:02] CyrusNajmabadi commented on #6788
It was in reference to this: "Some words about OOP design published by Microsoft itself:"  It's not a document on OOP.  It's a document on what the framework people felt was appropriate at that time.

It also wasn't meant to invalidate anything you said.  I was speaking purely to @Opiumtm comment :)

[2016-10-22 20:08] CyrusNajmabadi commented on #6788
There is a fundamental disagreement here.  I personally see nothing abusive about how this would be used in the normal case.

Note that the same stance was held on several features that we've shipped that many now love.  For example, 'var' being useful for nearly all types was considered by some to a design that "would primarily exist to enable abuse".  There was strong pushback that it only be al

[2016-10-22 20:13] eyalsk commented on #6788
@HaloFour

That's an assumption because if anything it's probably going to be abused just as much as any other language feature.

I have a friend that is self-taught and never even took an introduction to Java and Computer Science course or any other course and learnt C# all by himself and looking at his code just gives me shivers and he's not alone, there are many people, even these who come from

[2016-10-22 20:54] Opiumtm commented on #6788
@CyrusNajmabadi

Constructors are *often* used for bulk construction of objects. They're also often used in the complex dependent initialization of object. It's why constructors should be as fast as possible. Typical data model or view model or XAML view constructs tremendous amount of objects on the fly. So, slowly performing constructor in the 3-rd party code would make life seriously worse. .NE

[2016-10-22 21:16] CyrusNajmabadi commented on #6788
Your initial statements don't support your claim.  With this logic it would be hard to provide *any* feaures.  I could say something like "code is used all over the place.  so it needs to be as fast as possible.  So linq should be provided."   Performance is a case by case thing.  For whatever code you're writing, you should use the right tools for the given requirements you have.  If this is an i

[2016-10-22 21:24] Kaelum commented on #12939
I don't know how you can make that statement, as "j" would only be in scope for the `then` block of the `if` statement under the previous proposed set of rules.  Whereas it is in scope at the `if` statement level under the current proposed set of rules.  That is a very glaring difference.

Yes I can, and I am so glad that you asked this exact question, but first, we need to go back a bit to look a

[2016-10-22 21:33] Opiumtm commented on #6788
@CyrusNajmabadi

No, it isn't so false as in general (most cases) plain construction of object on heap is very cheap. I haven't developed real-time scenarios much on .NET (developed in native languages like C and Delphi but it's a different story). Major performance bottleneck in general purpose .NET app is an invoke of certain external system (files, databases, network) or COM/.NET interop (issue

[2016-10-22 21:33] CyrusNajmabadi commented on #6788
I just want to address this more clearly

This is just untrue.  Roslyn, for example, uses async heavily for things like long running, CPU-bound, operations.  We use async because we want to represent this computation in a composable manner, and Tasks+asynchrony give us that in spades.  I can take computationally complex work, express it as asynchronous tasks, and use the great composability of the

[2016-10-22 21:33] eyalsk commented on #6788
@Opiumtm

Really? I'm not sure where you got this idea from but it's wrong.

[2016-10-22 21:35] CyrusNajmabadi commented on #6788
It's false because you made a blanket claim.  A counter-example trivially proves it to not be true.  Note it's not even a speculative counter example.  Literally Roslyn has been spending man years on addressing the real and significant costs with object creation.  A vast amount of work we're doing for VS15 relate the costs of the language/runtime here and have commensurate work costs to try to dea

[2016-10-22 21:42] Opiumtm commented on #6788
@eyalsk

Really? Do you know how .NET memory management works?
It indeed create objects on top of the heap as there is no reason to search for the unused memory hole in heap as .NET garbage collector can move objects in memory to compact and defragment  heap. One exception of this rule is so called "large object heap" which indeed can be fragmented and where search for suitable space is performed

[2016-10-22 21:44] CyrusNajmabadi commented on #6788
Again, to be clear: if you think of async as something only for IO, or that  "Things are made async particularly because they're slow", then you're missing the point of async.  Async is *good* for those cases because async is a language feature that describes *work*. That's why the types you work with in async codebases typically uses words like "Task" or "Future" or "Promise".  Because they are g

[2016-10-22 21:51] CyrusNajmabadi commented on #6788
I can't speak for @eyalsk , but i can say that i'm extremely familiar with this topic.  Including having read a large portion of the code here.

However, let's go back to what you actually said:

This is simply untrue.  I already pointed out precisely why.  And i pointed out why Roslyn itself has had to invest *man years* (likely man decades at this point) to deal with the fact that the above is n

[2016-10-22 21:51] eyalsk commented on #6788
@Opiumtm

I don't get this, I mean you claim that something isn't false but at the same time you make the assumption that you can allocate as many objects as you want? if you want the program to be as slow as a turtle and freeze often then _maybe_ you're right; otherwise, I don't think so.

@Opiumtm Geez!, thanks for the education, lol...

I really not sure how this relates to anything you've said

[2016-10-22 21:52] Kaelum commented on #12939
Additionally, this will also happen:

[code]

This is just a simplification, but I have code that simply will not be able to use this feature with the current scoping rules.  Change the above to a `DBNull` test on a database record that has 30+ columns.  That is what this "nice to have feature" is supposed to help with, but you can't use it with these scoping rules.  So, I so have to ask, why are

[2016-10-22 22:02] CyrusNajmabadi commented on #6788
The overall point "that performance is something to be considerate about", is totally reasonable.  However, i want to remind people that the point of the language is to provide users with appropriate tools  that they can exploit effectively when and where it is appropriate.  Nearly every one of the features we've provides come with some level of developer-productivity vs. runtime efficiency tradeo

[2016-10-22 22:08] Opiumtm commented on #6788
@CyrusNajmabadi

Of course, I know that async is used not only for I/O. You mentioned CPU-intensive operations probably invoked on different thread and awaited elsewhere. But it doesn't much different from I/O as those CPU-intensive tasks are rather slow and would lead to visible performance degradation on UI.

Well, and I'm just curious about "huge work to reduce allocations in Roslyn". I certain

[2016-10-22 22:15] Kaelum commented on #14651
I don't know how you can make that statement, as "j" would only be in scope for the `then` block of the `if` statement under the previous proposed set of rules.  Whereas it is in scope at the `if` statement level under the current proposed set of rules.  That is a very glaring difference.

Yes I can, and I am so glad that you asked this exact question, but first, we need to go back a bit to look a

[2016-10-22 22:24] CyrusNajmabadi commented on #6788
No, that's not the case.  Again, the purpose is to abstract over work.  These CPU tasks can still be fast, or not lead to UI degradation, but which still are thigns that we want to represent as tasks.  That's precisely so we can abstract over the work and compose it in interesting and effective fashions.  THe IDE, for example, routinely uses what we call 'task queues' to process independent items

[2016-10-22 22:43] Kaelum commented on #14651
@gafter: I don't know how you can make that statement, as "j" would only be in scope for the `then` block of the `if` statement under the previous proposed set of rules.  Whereas it is in scope at the `if` statement level under the current proposed set of rules.  That is a very glaring difference.

@gafter: Yes I can, and I am so glad that you asked this exact question, but first, we need to go ba

[2016-10-22 23:31] jaredpar opened #14688 "Optional value in VB operator causes crash"
Consider the following code:

[code]

This will cause an exception and VS crash.  I believe it's illegal for optional to be in operators.  Either way though this should not crash VS.

[2016-10-22 23:54] Opiumtm commented on #6788
@CyrusNajmabadi

Maybe after experience with C++ (just to mention over 8 hours compilation of C++ project on build server, it's not my project, but our team is responsible for this build server maintenance) and Eclipse IDE  I'm just have different scale of measuring what "bad performance" word is really meaning 😄 Some time ago I myself have developed in C++ on Eclipse and I can tell you, Visual St

[2016-10-23 00:07] eyalsk commented on #6788
@Opiumtm Yeah, Eclipse is pretty annoying but then again it's completely free. :)

It all depends on the size of the project, I myself work on medium size projects and it's okay but some people work on large codebases that might be impossible for them.

[2016-10-23 00:09] Kaelum commented on #14651
And one more thing.  I don't know if the previous set of rules allowed this, but it would be in line with existing scoping:

[code]

Again, this is very useful, but not absolutely required.  However, this would not be possible under the currently proposed scoping rules.

[2016-10-23 00:25] Kaelum commented on #14651
BTW, if someone truly wants `i` to be in scope at the `if` level, what is stopping them from doing this?

[code]

The `is int i` would only create the variable `i` if it doesn't already exist.  Maybe @MadsTorgersen should weight in on this.

[2016-10-23 00:43] HaloFour commented on #6788
@CyrusNajmabadi

I know, and we definitely don't need to rehash this here yet again.  😁

I think that we have way more than enough material here to form an opinion as to whether or not this is a "good idea".  Probably more than any other proposal, aside maybe method contracts, which does have implementation details.  This proposal needs to go somewhere.

I fully agree, `async` is significantly mor

[2016-10-23 01:29] gafter commented on #14651
@Kaelum None of your examples appear to be legal C# 6. You said there was a breaking change. Where is the C# 6 code that has changed behavior?

I can make that statement as the problem occurs in the argument to the call to `M` in the condition of the `if`. It occurs under either set of scoping rules.

[2016-10-23 01:39] Kaelum commented on #14651
@gafter, I have stated my position.  If you don't understand my position, there is nothing more to say.

If that is true, then you and @MadsTorgersen need to talk, as that is not his definition. See https://github.com/dotnet/roslyn/issues/12939#issuecomment-238362061 for this definition.

[2016-10-23 01:46] Kaelum commented on #14651
@gafter, I have stated my position.  If you don't understand my position, there is nothing more to say.

I just took another look at your code.  How is that code even valid? `M(j)` could never work, as `j` when never be initialized.

[2016-10-23 01:49] CyrusNajmabadi commented on #6788
Honest question... why?  I'm just not seeing the problem here.  Say someone performs a DB query in an async constructor, why should that bother me?  How is it any worse than them instantiating the object and then performing the async db work in a method i call immediately after.  In other words, if the code is going to async call a DB anyways, then:

[code]

I'm honestly not getting it.  :)

I'm g

[2016-10-23 01:50] eyalsk commented on #6788
@HaloFour

Can you name another language feature of C# which inherently violates a design guideline for that language? People may abuse inheritance or the like, but the very use of such isn't abuse.

Okay, so let's define the word "abuse" what do you mean by that? do you mean that there's some hidden implications like performance? deadlocks? memory leaks?

The word `static` comes to mind.

Some pe

[2016-10-23 02:01] CyrusNajmabadi commented on #6788
Which design guideline is this violating?  We've seen people point to "consider"s.   Those are general suggestions meant to help steer things in teh common case.  But they're not meant to be universal.

Literally the reason you have things like "avoid" and "do not" in the design guidelines is because there is a language feature that can be abused.  Every single one of them exists because we have s

[2016-10-23 02:05] HaloFour commented on #6788
@CyrusNajmabadi

https://en.wikipedia.org/wiki/Separation_of_concerns

Indeed not, that's just a happy coincidence.  Not cramming constructors full of fallible logic, that's the "more correct".

https://en.wikipedia.org/wiki/Separation_of_concerns (yes, duplicated intentionally)

How long before they say "DO NOT use asynchronous constructors"?  😉

@eyalsk

Doing the Wrong Thing™.  Sometimes it hap

[2016-10-23 02:11] CyrusNajmabadi commented on #6788
1. How is moving that "fallible logic" to a method any better for that program?
2. I'm not seeing the connection between async and fallible.

[2016-10-23 02:16] HaloFour commented on #6788
@CyrusNajmabadi

Separates the concerns making it easier to test and maintain the components individually.

`async` is primarily I/O driven and inherently fallible.  You describe a fairly uncommon use case.

I swear, it feels like this entire proposal is a broken record.

[2016-10-23 02:35] CyrusNajmabadi commented on #6788
It seems harder as i now have multiple independent states that i have to consider my object being in.

I see nothing about async that makes it inherently fallible.  At least, no more so than any other piece of code.  Yes, IO is likely fallible.  But people can do synchronous IO in constructors today and neither the language nor framework stops you.

Well we have been successfully driving to unders

[2016-10-23 02:40] rrelyea commented on #14673
@rohit21agrawal worked with Lifeng and got unblocked.
can be closed now.

[2016-10-23 02:40] CyrusNajmabadi commented on #6788
I don't understand your argument.  The .net guidelines were pointed to as a reason not to do this.  But they don't actually support that claim.  Is the argument now: they could tell people to avoid this in the future, thus we shouldn't do it?

I mean, that's always a possibility.  We'll certainly run this by the Fx guys.  But it's like saying "don't do async iterators because there's a possibility

[2016-10-23 02:43] Kaelum commented on #12939
@MadsTorgersen, there is an "Option 4":

Revert the rules to the previously proposed set and allow the developer to decide if they want the functionality that is being proposed here, by simply doing the following:

[code]

By simply declaring `i` before the `if` statement, you end up with the exact functionality that is being proposed, and the declaration is not being HIDDEN inside the `if` statem

[2016-10-23 02:44] CyrusNajmabadi commented on #6788
A large part of that are the continued assertions that asynchronous construction is, on its face, a bad idea.  Several people have tried to pry out why people think that is.  Arguments have fared from:

1. it's bad OO. - not supported by actual evidence.
2. it's not commonly done elsewhere.  - not an argument we support as it would have limited us from doing many valuable language features in the

[2016-10-23 02:57] CyrusNajmabadi commented on #6788
I don't see how that's the case.  Say i have the following:

[code]

How is that easier to test than:

class C {
    public async C(...) {
        async logic ...
        ...
        async logic ...
    }
}
[code]

I'm not at all seeing how that is simpler.

I don't know what this means.  It's harder for me as a developer to maintain a constructor and initializer method separately.  I mean, just c

[2016-10-23 03:43] HaloFour commented on #6788
@CyrusNajmabadi

How do you come to that conclusion?  If you have an instance then it's valid.

The types of tasks encapsulated by `async` are inherently fallible, because:

Indeed, but the guidelines tell you that it's a bad idea.  So does any programming text written for any OOP language.

If by that you mean, "guidelines shmidelines, I'll do whatever I damned well please and rewrite the rules a

[2016-10-23 03:45] HaloFour commented on #6788
Again, I'm waiting for any motion on the "how".  Take my [example above](https://github.com/dotnet/roslyn/issues/6788#issuecomment-255540834) and show how it could be implemented.

[2016-10-23 04:16] gafter commented on #14651
In that code, M is never called except when j is definitely assigned.

[2016-10-23 04:22] Kaelum commented on #14651
@gafter, you used || not &&.

If you intended to use &&, and your statements stand, then your definition of the rules is completely different from @MadsTorgersen's definition of the rules as seen at https://github.com/dotnet/roslyn/issues/12939#issuecomment-238362061.

[2016-10-23 04:37] jaredpar opened #14689 "Select from namespace doesn't issue error"
Consider the following code:

[code]

This code is invalid and fails to compile.  The error though is the emit catch all "failed to emit".  That means the compiler is issuing an error earlier and not surfacing it.  In larger programs that makes the problem very difficult to track down.  Need to correct this.

[2016-10-23 04:38] jaredpar commented on #14689
Note that it's possible this error has already been fixed.  I tried the repro on VS2015U3 but not on Dev15 yet.

[2016-10-23 04:45] #14673 closed

[2016-10-23 06:46] CyrusNajmabadi commented on #6788
No.  We've actually looked at the guidelines that have been pointed to.  They do not support the claims being put forth in this conversation.

That's a fundamental disagreement (and C# has been written not in that spirit).  C# believes that a constructor can do more than is necessary for the instantiation of the object.  That's why it allow for things like validation, and any amount of additional

[2016-10-23 06:49] CyrusNajmabadi commented on #6788
See the discussion above on why that discussion is inappropriate at this juncture :)

[2016-10-23 06:55] CyrusNajmabadi commented on #6788
I didn't say you couldn't do it.  I said it's harder to maintain.  I now have two seperate concerns i have to maintain, when i want only one.  And i now have inserted two symbols into my symbol tables that are available to other constructs in my system*.

The same as how code was harder to maintain when we didn't allow 'await' in a catch or finally block.  The same as how code is harder to write t

[2016-10-23 07:58] qrli commented on #14651
@Kaelum Your examples are not good examples. I understand there is scary legacy code which has very long functions, but we are talking about new language features which will only be used in new code. When you try to use the new feature in legacy code, you will also do some refactor to extract some sub functions to simplify the beast. So it is not a problem to reuse short variable names.

[code]
No

[2016-10-23 08:22] robinsedlaczek opened #14690 "Code documentation of class InteractiveScriptGlobals not complete"
**Version Used**:
1.3.2

**Steps to Reproduce**:
1. Review documentation of class InteractiveScriptGlobals.
2. Hosts should implement these globals in order to reach standardized hosts.
3. Review documentation of properties of the class.

**Expected Behavior**:
Would be helpful if host developers know the exact meaning of the properties (e.g. ReferencePaths, SourcePaths). It's really minor, but ma

[2016-10-23 09:36] alrz commented on #6788
@CyrusNajmabadi Just a quick question here. does it matter? because you won't be able to construct an invalid object anyways.
[code]
You might even decide to make the constructor public in case the data does not have to be populated asynchronously. However, I'd agree that this is not always the case, and async constructors could reduce the code needed to do the job, but you should also consider th

[2016-10-23 09:37] alrz commented on #6788
@CyrusNajmabadi Just a quick question here. does it matter? because you won't be able to construct an invalid object anyways.
[code]
You might even decide to make the constructor public in case the data does not have to be populated asynchronously. However, I'd agree that this is not always the case, and async constructors could reduce the code needed to do the job, but you should also consider th

[2016-10-23 09:37] alrz commented on #6788
@CyrusNajmabadi Just a quick question here. does it matter? because you won't be able to construct an invalid object anyways.
[code]
You might even decide to make the constructor public in case the data does not have to be populated asynchronously. However, I'd agree that this is not always the case, and async constructors could reduce the code needed to do the job, but you should also consider th

[2016-10-23 10:03] Opiumtm commented on #6788
And again I say you. Just don't re-use existing constructor syntax and don't name it "constructor" and fundamental disagreement here would magically evaporate. Just invent new (more broad) concept of language supported object factories with tasty syntactic sugar to avoid boilerplate code. And leave constructors as them defined currently unhurted and relatively low-level concept which would remain

[2016-10-23 10:43] vbcodec opened #14691 "Proposal: Derived types in arguments of polymorphic functions"
[code]

Casting to Cat is bit uncomfortable, so better is to write

[code]

Probably CLR won't allow to use different type as arguments, and such function must be compiled to

[code]

[2016-10-23 12:22] OndrejPetrzilka commented on #4793
I'm would prefer test similar to this:

`handler.Target.GetType().HasAttribute<CompilerGeneratedClosure>()`

It can be attribute, it can be member/flag of `CompilerGeneratedAttribute`, it doesn't really matter as long as it can be checked. On Debug, I use similar test as mentioned above to detect when I accidentally pass closure instead of anonymous function.

[2016-10-23 12:30] svick commented on #14691
I don't think it's a good idea to silently make a method call throw an exception. Also, such methods would violate Liskov substitution principle (the L in SOLID), I don't think a language feature should help you with that.

[2016-10-23 13:10] HaloFour commented on #6788
@CyrusNajmabadi

That's *you're* opinion.  *My* opinion is that you fundamentally don't understand why the guideline was written as such and that you fundamentally don't understand OOP best practices.

Other OOP languages aren't written any differently.  The guidelines and practices are derived from the study of the usage of said languages to write successful software.  Literally everything you've

[2016-10-23 13:29] HaloFour commented on #14691
I agree with @svick, I think that having the derived type narrow the contract would lead to unexpected errors.

Now if you wanted to inverse the relationship and allow for contravariance of the arguments then I think that does make sense and would be supportable in the sam manner as covariant return types.  But I don't think that this would be a particularly common use case nor does it require a l

[2016-10-23 14:23] eyalsk commented on #6788
@Opiumtm

It might evaporate and the disagreement will shift to elsewhere.

It's uncertain that introducing another concept will solve all problems and the point here is to make it look like a normal constructor.

Introducing new concept is irrelevant to this discussion.

I'm not sure what it is that you don't understand but the CLR and the language are two different distinct entities and whether

[2016-10-23 14:53] eyalsk commented on #6788
@HaloFour

So just because some of us got different ideas and opinions it makes us clueless about it?

It's the same argument with liberals and conservatives, only it doesn't have to be cut and dry or about being wrong or right but merely different point of view.

I agree but in your view there's a contradiction and in our view there isn't.

I guess that here, properties should be just that return

[2016-10-23 17:05] eyalsk commented on #263
@Opiumtm

The compiler doesn't really know whether the method is deterministic or whether it has side-effects, this is the reason in C++ we need to mark our methods with `constexpr` that comes with some restrictions.

[2016-10-23 17:19] eyalsk commented on #11259
@ashmind It might also be possible to use backticks like in JavaScript.
[code]
This will also be compatible with this:
[code]

[2016-10-23 18:35] robinsedlaczek opened #14692 "Use anonymous types as globals in C# scripts"
**Description**
In order to be more flexible when passing globals to C# scripts, I like to use anonymous types and objects that can be passed.

**Usage Example**:
[code]

**Actual Behavior**:
Currently, a TypeAccessException is thrown by CSharpScript.RunAsync when an anonymous object is passed. It confuses me, that the CSharpScript.Create method accepts the anonymous type before.

_This leads me a

[2016-10-23 19:20] Opiumtm commented on #263
@eyalsk
There are two options:
1. Requirement to explicitly mark code as deterministic using attributes (compiler can infer it in many cases and add such attribute automatically). It will be beneficial for .NET in general as CLR JIT or .NET Native could use this information for code optimizations. If some code is known to be deterministic and if it don't have side effects, constant arguments would

[2016-10-23 19:38] Opiumtm commented on #263
@eyalsk

No heuristics are needed. Let's take conservative approach and mark code during compilation as deterministic so those evaluations are "cached" and transfered in binary form. It would end up at some form of dependency graph (possibly having cycles). Change or fetch of some state at method other than from its arguments would immediately make method nondeterministic. Any invokes of already k

[2016-10-23 19:54] orthoxerox commented on #14691
Did you pick the class name [on purpose](https://archive.eiffel.com/doc/manuals/technology/typing/cat.html)? It's the biggest headache in Eiffel's type system.

[2016-10-23 20:43] eyalsk commented on #263
@Opiumtm

How would the compiler infer it? and if it can why do we need an attribute? it can compute the result and emit the result directly.

Can you give an example?  because I can't really see how you got to this conclusion. :)

Yeah, there's some recursion depth limit, can't remember what it is but it's fair.

[2016-10-23 21:32] Opiumtm commented on #263
@eyalsk

Because without it wouldn't be possible for compiler to make decisions on 3-rd party or framework code. So, to expose this to consumers it require to mark assembly public API with attributes.

Just we take conservative approach and make assumption of "nondeterministic if doesn't proved opposite". Interaction with external (to method body) state except that its parameters don't always make

[2016-10-23 21:33] dsaf opened #14694 "Out var scope vs extension methods"
1. Case: user-defined literals requested. Answer: use extension methods #4971.
2. Case: inconsistent scoping suggested for `if-else` #12597, #12939. Answer: why not extension methods?

[code]

[code]

[2016-10-23 21:54] Opiumtm commented on #6788
@eyalsk

No, it's relevant as C# practically runs on .NET CLR and reflection is an integral part of C#/.NET practical implementation.

So, it's perfectly OK to introduce new features that already have no direct CLR/metadata/reflection representation. CLR/reflection will be conceptually undamaged as there is nothing to damage as those new features absolutely don't exists on the underlying low-level

[2016-10-23 22:02] CyrusNajmabadi commented on #6788
This is untrue, and has already been established with direct precedence.  Even in our most recent work we've done precisely this.  Tuples are not a CLR concept.  They are not represented in the reflection level (as i've already demonstrated).

Again, tuples directly demonstrate that that's *not* a rule for us when we design the language.  We did not update the CLR to reflect tuples (like we did wi

[2016-10-23 22:11] Opiumtm commented on #6788
**I revoke own claims about CLR inability to map well with async constructors.**

It's possible not hurting reflection at all. So this particular point of distrust isn't true.

Reason: constructors allow to declare `ref` and `out` parameters. So it's perfectly possible to make reflection-compatible constructor returning awaitable in `out` argument and assuming that even if object itself is indeed

[2016-10-23 22:13] CyrusNajmabadi commented on #6788
Great.  I'm glad the CLR claim is revoked.  Now we can move onto the language.

[2016-10-23 22:35] eyalsk commented on #263
@Opiumtm

What? if the value is computed why anyone, anywhere needs to know it was computed? string interpolation doesn't turn into a constant but this aside do anyone know it was interpolated after it was compiled? no.

Can you explain to me the following parts?
**1)**
[code]
This is definitely deterministic because the same seed is provided given that the environment or the algorithm doesn't cha

[2016-10-23 22:55] Opiumtm commented on #6788
@CyrusNajmabadi @HaloFour
Here is proof-of-concept code with asynchronous construction which isn't violate reflection consistency (async constructor indeed is constructor and doesn't static method).
Just to close "fundamental CLR inability to map clearly on async construction" claims. Those claims isn't true at all. Code below is a working proof-of-concept example of async construction as it would

[2016-10-23 22:58] CyrusNajmabadi commented on #6788
@Opiumtm

*If* and *when* we decide on this going into the language, and we decide on what the semantics of this actually are *then* we can go about thinking about how it will be implemented on the CLR.

Can you *please* table the discussion about CLR implementation details?  They're simply not relevant at this part of the discussion, and it interferes with discussion how the language feature is a

[2016-10-23 23:02] Opiumtm commented on #6788
@CyrusNajmabadi

One **major** concern for this feature is the reflection consistency. Concern I especially worry about.
@HaloFour had similar claims

So, I posted proof-of-concept C# code.

[2016-10-23 23:09] eyalsk commented on #6788
@Opiumtm Gotta love your stubbornness though. 😄

[2016-10-23 23:10] tmat commented on #14692
Anonymous types are ```internal``` within the assembly that declares them. Scripts compile to separate runtime assemblies. So this is equivalent to an ask to allow referencing internal types of the host assembly from the script. Related issue: https://github.com/dotnet/roslyn/issues/5049

[2016-10-23 23:12] tmat commented on #14692
Re globals type: The type must be known so that the compiler knows what external members (members of the globals type) should be available in the top-level scope.

[2016-10-23 23:13] CyrusNajmabadi commented on #6788
Your concern is noted.  It is also extremely premature.  Discussing how we're going to implement things *when we don't even have a grasp of what the feature is* is not a great idea.  We might change what this feature is massively before then.  We don't want the tail wagging the dog here.

To repeat from above: can we just table the CLR discussion.  *If* this langauge feature makes it to the point

[2016-10-23 23:24] Opiumtm commented on #6788
@CyrusNajmabadi

This particular feature is the special case, really as it indeed involve so basic things as class constructor.

Well, but as of today there is none such well-known compilers and C# primarily is used with CLR 😄  (.NET Native anyway converts existing IL code to native)
So it's indeed involve worries from C# .NET developers.

Not so. As **major** (and the only practically used) platf

[2016-10-23 23:27] CyrusNajmabadi commented on #6788
I have hammered on this point because i'm concerned about this sort of behavior being repeated in other threads.  Please keep this in mind in case you want to participate in other threads :)

Again, note our actual language specification.  Like many specifications out there is recognizes that the compilers are implementation details and that having them play such a part in designing the language i

[2016-10-23 23:47] Opiumtm commented on #6788
@CyrusNajmabadi

Would disagree. Yes, "how to implement" shouldn't be "absolutely blocking concern", but it shall be noted to some extent on language specification phase as it have practical weight. Not as "absolutely blocking limitation", but as the argument to be noted with when making decisions about "goods" and "bads" of particular language feature.

If some particular language feature introdu

[2016-10-23 23:53] CyrusNajmabadi commented on #6788
@Opiumtm

This discussion is entirely premature.  Please stop derailing the discussion.  I cannot express this point more simply than this.  We will discuss implementation details at the appropriate time in development.  I hope that that is acceptable to you.

[2016-10-23 23:59] tmat commented on #14614
Your code has a couple of issues:

[code]

First, ```WithReferences``` replaces the current references with the specified ones. It doesn't add references. ```AddReferences``` does. As a result the script options will only have a single reference:

![image](https://cloud.githubusercontent.com/assets/41759/19630567/d063325e-9941-11e6-8be4-a8ff5b1113ab.png)

Second, after changing ```With``` to ```Ad

[2016-10-24 00:01] #14614 closed

[2016-10-24 00:17] Opiumtm commented on #6788
@CyrusNajmabadi
I feel like there is nothing else to discuss.
There was exactly 4 major disagreements on this feature (as I followed the discussion)
1. How it would map on CLR and reflection?
2. It's a feature that would be prone to be abused
3. It violate written OOP guidelines
4. It don't add enough value to the language to worth

As discussion follows:
1. Potentially maps well (I revoked this c

[2016-10-24 00:22] CyrusNajmabadi commented on #6788
We have to decide on the semantics of the feature.  :)  How basic things like constructor chaining would actually work.  Would there be issues inside structs with using async before all fields had been definitely assigned.  How does one decide they want something like ValueTask?  etc. etc.

Again, the basic feature is incomplete.  Hence why the later parts of the discussion are premature (especial

[2016-10-24 00:43] svick commented on #14694
BTW, you can simplify `Guard.IsNumber` to:

[code]

[2016-10-24 00:46] eyalsk commented on #6788
@CyrusNajmabadi

I don't know if it make sense but because all the operations are async once there's an async constructor, maybe, just maybe it make sense to dictate it based on the kind of type that you use? like if I use a `class` then it would be Task<> whereas if I use `struct` it would be ValueTask<>?

[2016-10-24 00:54] svick commented on #14694
I'm not sure this would be a good replacement:

1. Your `Guard.IsNumber` is not actually an extension method, so without Extension Everything (https://github.com/dotnet/roslyn/issues/11159), there might be lots of various `Guard` classes (though I guess `using static` could help with that?).
2. You have to write a method for each combination of method and exception or figure out a generic way of s

[2016-10-24 01:04] Opiumtm commented on #6788
@CyrusNajmabadi

First: Ideally - same as sync constructors work.
Async invokes on language level not much different from regular invokes as it doesn't change order of execution. It just yield control to other external code on same thread (not relevant to execution order and logic inside async method). It's just a form of "cooperative multitasking" preserving order of execution inside particular t

[2016-10-24 05:15] CyrusNajmabadi commented on #14687
We welcome PRs :)

[2016-10-24 05:16] jaredpar opened #14696 "Attributes compiling without a comma separator"
Consider the following code:

[code]

This should not compile because it lacks a comma between the attributes.  Yet it does as of update 3.

[2016-10-24 05:28] CyrusNajmabadi commented on #12939
@Kaelum

There is a downside to that.  Now, as a developer i have to declare my variable before hand.  This is a negative for me on two counts:

First, i now have to have both the declaration and the initialization separate.  I would far prefer to not do that.
Second, i have to do declare the type out fully.  As such, i might end up with:

[code]

I would far prefer just writing:

[code]

Indeed,

[2016-10-24 05:37] CyrusNajmabadi commented on #12939
And, again, the complaints about this current scoping decision are *absolutely true* and recognized.  variables are put into a broader scope than *some* would like.  The difficulty is that there are two groups.  One that wants the variables in the wider scope, and one that wants the variables in the narrower scope.

This is a case though where one approach would make the feature non-usable for som

[2016-10-24 05:39] CyrusNajmabadi commented on #12939
Yes.  This is the unfortunate situation where there is no perfect solution.  On the other hand, i've been able to update a bunch of code to use out-var in cases where i want wide-scoping.  So the new feature has been a boon to me.

[2016-10-24 05:40] CyrusNajmabadi commented on #12939
To those who do not want the variables in scope.  Would you ok with an intellisense option (or code-style option) that flagged these wide-scope cases as problems in your code?   You could then catch these cases where you unintentionally referred to a variable you would have preferred not be in scope.

I ask because i'm largely responsible for a lot of the intellisense/code-style type features in V

[2016-10-24 05:47] Zapnologica commented on #12255
I am on version DotNetCompilerPlatform 1.0.2  VS 2015 update 3 and I cant build my project.

`Error	CS0012	The type 'WebPageBase' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'`

[2016-10-24 06:29] GeirGrusom commented on #14614
Did you actually try that? I've been trying to get this to work for *days* and `AddReference` makes no difference (and in this case I don't think it should either). The DLL reference is the correct one. That's where the assembly containing System.Object is located according to `GetTypeInfo().Assembly`.

It doesn't get far enough to complain about the anonymous type.

I've updated the repository to

[2016-10-24 06:34] alrz commented on #12939
@CyrusNajmabadi Alternatively we could allow variable shadowing with an option to flag them as warning. It's proposed before and have its own use cases specially with recursive patterns, e.g.
[code]
Is this a no-go?

[2016-10-24 06:50] HaloFour commented on #12939
@CyrusNajmabadi

The scoping by itself is bad enough but what makes it absolutely horrible is the fact that the behavior is inconsistent.  You get wide with `if` but you get narrow with `switch`.  You get wide with `while` but you get narrow with `for`.  It creates a slew of new rules that developers have to (and won't) remember in order to do their job and it will make refactoring a pain.  Imagin

[2016-10-24 07:07] tmat commented on #14614
I forgot to state the third issue: ```"System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"``` doesn't get resolved since there is no GAC on CoreCLR and we only support resolving assembly display names against the GAC. In the snippet above I replaced it with a full path to ```System.Runtime.dll```

[2016-10-24 07:18] ghost opened #14697 "WITHDRAWN"
We've decided to switch to C++/CLI.

[2016-10-24 07:20] alrz commented on #12939
Just to mention, it is possible to use `let` with `TryX` assuming previous scoping rules:
[code]
Not as pleasant but still.

[2016-10-24 07:21] Kaelum commented on #12939
I just created #14697 as an alternate proposal to this one (#12939), which I believe makes significantly more sense.

[2016-10-24 07:23] Kaelum commented on #14651
I just created #14697 as an alternate proposal to that defined in #12939, which would elimite this issue, and I believe makes significantly more sense.

[2016-10-24 07:44] GeirGrusom commented on #14614
I get that, and I suspected as much (and I've been down this road during some frustrating days), but why doesn't `AddReference(typeof(object).GetTypeInfo().Assembly)` work? It seems to be that at that point I'm asking it to use the assembly that contains `object` or is there something I don't understand?

That is not a solution at all.

You need to admit that there is something missing here and op

[2016-10-24 08:04] dsaf commented on #14694
@svick

Ah, that's it - thanks!

I meant "helper" method.

How likely is this to be a problem in practice? Besides I have a feeling that it's a good practice anyway.

This is a good point.

[2016-10-24 08:07] DavidArno commented on #14697
I'm not sure it's even necessary to treat the `int i` as an implicit declaration as:

[code]
could be expressed as:
[code]
I think that `x is var y` is already part of the original "pattern matching" spec that @gafter came up with, but may be wrong on that.

[2016-10-24 08:13] alrz commented on #14697
`variable i is already declared in this scope`

Binding to existing variables more likely needs a different syntax (#13400).

[2016-10-24 08:15] DavidArno commented on #14694
I don't follow what you are proposing here as `Guard.IsNumber(arg, out int number);` still relies on the scope of `number` leaking out into the enclosing block.

[2016-10-24 09:53] dsaf commented on #14694
@DavidArno you are right, I should've used C# 6 for implementing the ```Guard.IsNumber```. My general point still stands though.

[2016-10-24 09:56] dsaf commented on #14697
I would also like to add that saying "we discussed it internally a lot and decided to change our mind again" is not an answer. Here is what would be an answer: "we talked to our enterprise partners, did statistic analysis of code patterns in a representative sample of major code bases and arrived at a conclusion".

[2016-10-24 10:36] heejaechang commented on #14380
moving this to RTM. this will be fixed once @jaredpar move everything to d15 dlls

[2016-10-24 10:37] heejaechang commented on #14107
I dont see this happening. please re-open if it still repro.

[2016-10-24 10:37] #14107 closed

[2016-10-24 10:38] heejaechang commented on #14074
@KevinH-MS probably we need to debug it together to see why you can't just use GetRemoteHostClient service

[2016-10-24 10:39] Opiumtm commented on #6788
Some reasons why `out awaitable` syntax is proposed.

1. It would be consistent with existing `async` design as `async` keyword don't modify member signature Same signature may be without `async` and it would be valid and provide essentially same API for the consumer.
2. It would be consistent with constructor overloading. You explicitly declare first argument as `out awaitable` and it wouldn't me

[2016-10-24 10:40] heejaechang commented on #12778
moving work left to RTM

[2016-10-24 10:42] heejaechang commented on #11508
@Pilchie @dpoeschl @tmeschter I will close this bug. if IDE wants it, please re-open.

[2016-10-24 10:42] #11508 closed

[2016-10-24 10:43] heejaechang commented on #9206
@mavasani do you know how this one end up being?

[2016-10-24 10:44] heejaechang commented on #6846
on going work.

[2016-10-24 13:45] DavidArno commented on #12939
@CyrusNajmabadi

On, that would not be OK, as the scope leakage problem would still be out there in the wild, and the genie can never be put back in the bottle. You say:

In reality, the one approach would see a version of the C# compiler supporting scope leakage. People would use this and from then on, we'd all be stuck with it, due to the team's strict rule of avoiding breaking changes. No matte

[2016-10-24 14:04] DavidArno commented on #12939
@CyrusNajmabadi,

I think the most frustrating thing about this scope leakage plan is that the use-cases for doing it are such weak ones. We have:

[code]
which is fixed by using a little feature also added to C# 7, tuples:
[code]
And we have:
[code]
which is fixed by using a ternary operator, and the new `throw expression`:
[code]

Which leaves me wondering how the decision was ever made to make

[2016-10-24 14:14] DavidArno commented on #12939
@alrz,

You own #14239 proposal could be a solution to that, by allowing `return` to be an expression:
[code]
but that aside, really is the ability to save one line, by turning:
[code]
into "your" version, really worth introducing a fundamental change to variable scope?

[2016-10-24 14:21] HaloFour commented on #6788
@eyalsk

Having the opinion is one thing.  Actively claiming that the results of that opinion are in direct opposition to *decades* of research and aggregate development experience makes one "clueless" (your words, not mine).  I can understand (and disagree) with the position that the language shouldn't absolutely force you onto the path of those documented best practices, but the statement that a

[2016-10-24 14:29] alrz commented on #12939
@DavidArno I'm not saying "yes" to your question but I think the whole point of `out var` feature is to save that very line. Roslyn codebase uses this pattern *a lot* so I'd expect this to be an important use case to deal with. I'd agree that this change is not the perfect solution though.

[2016-10-24 14:36] eyalsk commented on #12939
@CyrusNajmabadi

I'll be honest with you, I prefer this:
[code]
Over this:
[code]
Simply because the first has consistent scoping rules and the second doesn't, I don't like to trade readability for consistency and what I already know, most of the time.

If you REALLY want to solve the readability problem solve it at its root, allow var to be inferred based on the argument and then this would be co

[2016-10-24 14:40] DavidArno commented on #12939
@alrz,

It would be really sad if the team were fundamentally damaging variable scope just to save themselves a tiny bit of typing. :cry:

[2016-10-24 15:09] Eyas commented on #12939
I've been kind of disappointed by the kind of arguments I'm hearing against this the scope changes which I think are fundamentally a good idea:

First, there is no formal contract between the return value of a function and its `out` parameters. `out` parameters are used for two patterns which are both, in a sense, obsolete:
1. `TryXXX` methods for conditional returns. *Can use nullable return valu

[2016-10-24 15:18] eyalsk commented on #6788
@HaloFour Yup like you said we will never convince one another. 😉

Yeah, I meant that in our view we think that because async construction require "some work" before the object is initialized it isn't considered "the kind of work" they write about in guidelines whereas in your view it's a slippery slope, reasonably so I'd say but I still disagree. 😆

You're right, I don't have a good argument agai

[2016-10-24 15:27] eyalsk commented on #12939
@Eyas What's wrong with my example? we get to have the same scoping rules and they get to type less and even less when you want a narrowed scope.

[2016-10-24 15:33] DavidArno commented on #12939
@Eyas,

The following code compiles with the master branch:
[code]
The following doesn't:
[code]
Because, in the second case, `k` exists just within the `foreach` block, whereas in the first case, it leaks out of the `while` block. I'm fascinated to know why you don't think this damaged. Would you care to explain?

[2016-10-24 15:57] HaloFour commented on #12939
@DavidArno @Eyas

And don't forget:

[code]

vs.

[code]

And how much messier will it be when case guards are added?

[code]

[2016-10-24 16:30] mavasani commented on #14650
I am unable to repro this with Dev15 Preview5 build, so closing it.

[2016-10-24 16:30] #14650 closed

[2016-10-24 16:37] CyrusNajmabadi commented on #12939
@DavidArno Different people weigh these issues differently :)

Clearly, you view the scope leakage as super bad, vs the other issues with tight scoping which are not so bad for you.  Your POV is consistent and understandable.  The question is still if it's the right thing to do.

Please understand that not everyone feels the same way and that there can be differing opinions which come down to pers

[2016-10-24 16:43] CyrusNajmabadi commented on #12939
I *personally* think the 'consistent scoping' concerns are being a little overblown.  I honestly do.  I think, in practice, people will use out-vars them, learn how they work, and just move on.  There may be slight confusion at some point (just as there would be with narrow scoping rules), but it will be momentary.  Users will update their mental model to understand, and then will move onto to sol

[2016-10-24 16:43] eyalsk commented on #12939
@CyrusNajmabadi But in this case why can't we have it both ways? can you comment on my example?

[2016-10-24 16:44] tmat commented on #14614
```AddReference(typeof(object).GetTypeInfo().Assembly)``` works. It adds System.Private.CoreLib.dll, which defines ```System.Object```. The problem is that other assemblies compiled against .NET Core (including Microsoft.CodeAnalysis.Scripting) reference ```System.Object``` thru ```System.Runtime``` assembly, which forwards the type to ```System.Private.CoreLib```. So you need both.

I agree it's

[2016-10-24 16:44] CyrusNajmabadi commented on #12939
That's fine.  Thanks for sharing your opinion.  I was wondering more for people who wanted this for their own codebases.  i.e. similar to people who absolutely hate 'var' and want to make it so that it does not exist for their own projects, even if it's available for other users out there that are fine with it.

[2016-10-24 16:44] CyrusNajmabadi commented on #12939
@eyalsk I will when i get into the office.  Should be around 12-1 my time :)

[2016-10-24 16:45] eyalsk commented on #12939
@CyrusNajmabadi thanks!

[2016-10-24 16:48] CyrusNajmabadi commented on #12939
When we discussed this ourselves, it was because while-loops have never brought anything into scope, and so the out-var naturally extended out to the more containing scope.

HOwever, 'foreach' loops *always* have a scope that variables come into (which is super important for things like lambda captures).  And it would be extremely strange for *everyone* we talked to for an out-var in the foreach t

[2016-10-24 16:59] #13789 closed

[2016-10-24 17:02] dpoeschl commented on #13591
Dupe of https://github.com/dotnet/roslyn/issues/13099

[2016-10-24 17:02] #13591 closed

[2016-10-24 17:09] DavidArno commented on #12939
@CyrusNajmabadi,

That is not a good analogy. I hate `out var`, because out Paramus are an anti-pattern if my view. I can use analysers to block their use though, so don't much care that they are being added. That is analogous to those that hate `var`. Creating leaky scoping can't be worked around though. It will be inflicted on everyone to satisfy the few. That is irresponsible.

[2016-10-24 17:24] davidsb commented on #8850
Why is this issue closed?  The behavior is really quite annoying.  For me it happens EVERY TIME I do "Build -> Clean Solution".  Can IntelliSense "disengage" somehow during a build?

[2016-10-24 17:41] HaloFour commented on #12939
🍝    This is even more unprecedented in C# but what if the scope also followed definite assignment?

[code]

[2016-10-24 17:46] HaloFour commented on #12939
Good, bad or indifferent, what scares me the absolute most about this late change is how massively it impacts huge features going forward.  You can look at both `out var` and type-switch to be relatively small enhancements to the language, but all of pattern matching will suffer under these rules and it will be completely impossible to "fix" it if six months (or so) from now if this choice is real

[2016-10-24 17:48] 333fred opened #14700 "Flaky Test: Analyzer failures"
Failure during some VSI tests. This is appearing as an error:

`Analyzer 'Microsoft.CodeAnalysis.CSharp.Diagnostics.NamingStyles.CSharpNamingStyleDiagnosticAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.`

Causes there to be more errors in the error list than expected. https://ci.dot.net/job/Private/job/dotn

[2016-10-24 17:49] mavasani commented on #14700
This is an IDE analyzer - tagging @dpoeschl

[2016-10-24 17:51] 333fred commented on #14700
Some more failures:
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p3/1005/
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p3/1006/
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p3/1008/

[2016-10-24 18:03] 333fred opened #14701 "Indent Guides Appearing over Usings"
On WPT/25818.00, I'm seeing the indent guides appear over the using statements, as shown below:

![image](https://cloud.githubusercontent.com/assets/2371880/19657498/4f83e8de-99d9-11e6-8e18-1de9c5f97312.png)

Tagging @dotnet/roslyn-ide.

[2016-10-24 18:06] Pilchie commented on #14701
Ugh.  @CyrusNajmabadi is this known?

[2016-10-24 18:14] orthoxerox commented on #12939
@CyrusNajmabadi

Yeah, I am one of those who would've insisted all comparison operations on nullables have return type `bool?` and return `null` when either argument is `null`.

[2016-10-24 18:24] dpoeschl commented on #9674
FYI @nguerrera

[2016-10-24 18:25] CyrusNajmabadi commented on #12939
So, personally, i'm taking a pragmatic approach here.  For example, i don't look at "while" and "foreach" and say "those should behave identically".  I say "it makes sense to me that the out-var variables would go into the same scope as the loop variable".  Or, alternatively "gosh, it feels weird that the out-var variable is not in the same scope as hte foreach variable" (if we kept the original p

[2016-10-24 18:32] CyrusNajmabadi commented on #12939
@DavidArno First off, i definitely hear what you're saying.  Your position is consistent and clear.  It is based clearly off of certain tradeoffs that make sense given the weighting you give to them.

Unfortunately, such weighting is simply not universally held.  As an example of that, i find the the above code *extremely* unpleasant and i doubt i would ever use it.  Indeed, the distaste i have fo

[2016-10-24 18:37] HaloFour commented on #12939
@CyrusNajmabadi

Identically?  No.  Consistently?  Yes.  I'd say that it's not terribly uncommon for me to switch between `while` and `for` loops depending on the circumstances.  Especially considering how flexible `for` loops are with their conditions.  Afterall, `while (true)` is effectively equivalent to `for(; true; )`.

And while C# is pretty far removed from its legacy it is worth noting tha

[2016-10-24 18:59] CyrusNajmabadi commented on #12939
[code]

That's totally fair.  But we leaned as an LDM toward supporting the latter because there was strong feedback that people wanted it.  Note that 'consistent scoping rules' doesn't totally describe the situation IMO.  The issue with scoping is that people view it in different ways, and 'consistency' is there or not depending on your POV.  For example, here are things i think about:

1. There

[2016-10-24 19:01] MadsTorgersen commented on #12939
One thing that I want to add to Cyrus' explanation, is that we wanted scope rules that work equally well for patterns and out variables. As many of you mention, having a broader scope for out variables _can_ be addressed simply by using an extra line to declare the variable, as today. Why inconvenient, it is possible.

However, for patterns you don't have that option. The pattern introduces the va

[2016-10-24 19:03] HaloFour commented on #12939
@CyrusNajmabadi

How much does it affect your coding style if `while` retains its own scope like `for` and `foreach`?  How about with ternary operations?

I'd probably be grudgingly satisfied with the scope changes if the two above constructs kept restricted scoping.  I don't see much of a need of having the "leaky" scoping with `while` loops at all.  What are the scenarios that this enables?  I l

[2016-10-24 19:09] eyalsk commented on #12939
@CyrusNajmabadi, @MadsTorgersen Thank you very much for the explanation, I really appreciate it.

[2016-10-24 19:09] CyrusNajmabadi commented on #12939
First, i want to talk aobut "while".  "while" is probably the construct we spent the least amount of time on.  Mainly because *pragmatically* we just don't think it will matter all that much in practice.  We actualy went and looked at a ton of code, and i think there were practically no usages of "outs" in whiles.  As such, it felt super minor when discussing all of this.  We considered how someon

[2016-10-24 19:13] CyrusNajmabadi commented on #12939
@eyalsk Thank you!  I cannot express to you how amazing it is to be able to work on C# in this manner, with such a great group of passionate people who go out of their way to share their opinion with us and who help shape the language so much.  I'm so glad we have this!

[2016-10-24 19:13] Kaelum commented on #14697
@alrz,

On the contrary, it adds significant value to `out` declarations where you do not want the value to persist.  You have to look back at why this feature was even considered in the first place.  `out` parameters can't be fields or properties.  So, you are required to use a temporary variable to populate fields and properties.  This is why the narrow scoping rules were created in the first pl

[2016-10-24 19:20] HaloFour commented on #12939
@CyrusNajmabadi

Mind sharing those scenarios?  I'd like to at least understand what swayed `while` ending up in the "leaky" bucket.

I agree that the number of scenarios either way are likely low.  Given such, without at least those scenarios, my opinion is that `while` should fall under the "restricted" scope so that at least all of the looping constructs retain the same behavior.  I think that

[2016-10-24 19:20] Kaelum commented on #12939
@MadsTorgersen I believe that that is a poor reasoning as to why this mess was created.  If "pattern variables" were simply implemented as **Implicit Variable Declarations** (#14697), all of the negative scoping issues go away, and when you need the wider scope you explicitly declare the variable in the scope that you want it be in.  This is by far superior to what 12939 is defining, and completel

[2016-10-24 19:23] CyrusNajmabadi commented on #12939
Finally, i'm likely going to bow out of this conversation (unless i feel it would be very helpful for me to pop back in).  This whole topic has the chance to just go around and around and around (we've all been there and seen that happen when there's a lot of passion for opposing viewpoints) :)

I only came in to try to make it clear that we did care deeply about all the same points that many have

[2016-10-24 19:30] CyrusNajmabadi commented on #12939
@CyrusNajmabadi @MadsTorgersen

Mind sharing those scenarios?  I'd like to at least understand what swayed `while` ending up in the "leaky" bucket.

I agree that the number of scenarios either way are likely low.  Given such, without at least those scenarios, my opinion is that `while` should fall under the "restricted" scope so that at least all of the looping constructs retain the same behavior.

[2016-10-24 19:30] eyalsk commented on #12939
@CyrusNajmabadi I'm learning a lot myself here, I think that there's many brilliant people in the community and I really think that the design team is doing an amazing job, I really appreciate that you put the time and efforts to listen to us and explain to us everything as much as possible, I hope that together we will make C# even better. ❤️

[2016-10-24 19:36] heejaechang commented on #14700
how one is supposed to investigate vsi test nowaday?

[2016-10-24 19:44] CyrusNajmabadi commented on #14701
Have poked the editor team about this.  I believe POR is to have indent guides never draw in a column where there non-whitespace.

[2016-10-24 19:54] panopticoncentral commented on #14700
Generally I build roslyn-internal and then run tao.exe in the binaries directory, choosing the test you want.

[2016-10-24 20:02] CyrusNajmabadi commented on #14701
Fixed with https://devdiv.visualstudio.com/DevDiv/_git/a290117c-5a8a-40f7-bc2c-f14dbe3acf6d/commit/8cd3e2429224a785cd1e35dd70e23ae21a209893

[2016-10-24 20:02] #14701 closed

[2016-10-24 20:03] heejaechang commented on #14700
so, Jenkins doesn't save any dump and etc to make investigation simpler anymore?

[2016-10-24 20:05] 333fred commented on #14700
It does some saving. Head into the Build Artifacts for the build you're investigating, like here: https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p0/1059/artifact/Open/Binaries/Release/. There's lots of logs under different folders.

[2016-10-24 20:07] heejaechang commented on #14700
I know, there is log. but seems there is no dump.

[2016-10-24 20:08] leftler commented on #5389
I came to post a similar issue. If you would like another repo example See https://github.com/leftler/RoslynIssue I did not realize I could just check `project.MetadataReferences` in my repo I did

        [TestMethod]
        public async Task TestFailingDummyProgramWithDefaultSettings()
        {
            var ws = Microsoft.CodeAnalysis.MSBuild.MSBuildWorkspace.Create();
            var solut

[2016-10-24 20:10] HaloFour commented on #12939
@CyrusNajmabadi

I don't get it, that same *exact* argument could be applied just as easily to `for` and `foreach` loops:

[code]

As such I still think that it doesn't make sense to have `while` differ from `for`/`foreach`.

[2016-10-24 20:12] CyrusNajmabadi commented on #12939
It could :).

But we fel t that it was more important that the foreach-variable and out-variable be consistently scoped.

Heard and understood. :)

[2016-10-24 20:16] miloush opened #14704 "Target typing on character deletion preselects wrong entry"
**Version Used**: 2.0.0.61020

**Steps to Reproduce**:
1.  Enable _Show completion list after a character is deleted_
   2.

[code]
1. Backspace to `Environmen`

**Expected Behavior**:
`Environment` to be preselected.

**Actual Behavior**:
`Equals` is preselected

[2016-10-24 20:18] miloush commented on #14704
Forgot references: #14085 #14056 #14668
/cc @rchande

[2016-10-24 20:21] HaloFour commented on #12939
@CyrusNajmabadi

So, effectively, we had some meetings behind closed doors (after a notably long dark period in terms community involvement), here's what we came up with at the 23rd hour, all opinions will be promptly forwarded to `/dev/null`.

I think that there are reasonable ways to increase confidence in these decisions by at least making some effort as to how the scoping rules could enable va

[2016-10-24 20:24] sirgru commented on #10154
I just saw the features this afternoon so I may have missed something critical in the discussion, for that I apologize in advance.
Here is my personal opinion: the positional pattern matching feels really wrong to me.

[code]

it just feels very unintuitive, with something that is an 'is' operation I am not expecting assignements. Something like this is perfectly readable to me though:

[code]

An

[2016-10-24 20:26] CyrusNajmabadi commented on #12939
No.  The feedback was heard and understood.  :)

We are discussing it.  I'm not arguing with you.  I'm stating that i understand your position and see the merit in it.

We are literally taking about it *right now* :)

This has not been stated by anyone else.  :)

I'm really bummed that by telling you that i've heard and understood your argument, and i've been participating in this discussion in go

[2016-10-24 20:31] rchande commented on #14138
Fixed, please verify @dpoeschl (fix is in master and rc)

[2016-10-24 20:32] HaloFour commented on #12939
@CyrusNajmabadi

Awesome!

Text medium sucks that way.  I read it differently than you had intended it and came to the (wrong) conclusion that the above was either already considered and discarded or that it was too late to consider.  Probably more the former as I assume that many of the arguments I've raised has come up before, but because of those "dark times" we weren't privy to them or the reb

[2016-10-24 20:37] Kaelum commented on #12939
@CyrusNajmabadi,

As one of the individuals that is also opposed to #12939, as it stands, I believe that @HaloFour is frustrated like the rest of us to be completely left out of the RFC process.  Even though Microsoft does own .NET and C#, they have never truly acted in a dictatorship fashion.  VB.NET, while I think was a complete mistake, is a perfect example that Microsoft listened.

When we are

[2016-10-24 20:42] CyrusNajmabadi commented on #12939
All that feedback is fair.  And i think, as we move forward, we should always be cognizant of ways to do things better.  We've come a long way, but we are *not* done.  We can always be improving and we're going to continue working on it.

One important thing though is that these things take time, and they're likely going to take many iterations.  Even as we improve, you'll likely still run into th

[2016-10-24 21:01] #14510 closed

[2016-10-24 21:05] MadsTorgersen commented on #12939
I think all aspects of this has been illuminated, and we are starting to go around in circles.

I hear some consternation that this happened late in the C# 7.0 cycle. That is true. As I said above, we only came up with this compromise approach quite late. I posted these notes shortly after, and we have been discussing them since. I wish we had come up with the approach earlier, and had a longer ru

[2016-10-24 21:06] ManishJayaswal commented on #10683
Another customer is seeing perf issues during debugging because of this. We should see if we can prioratize this and get it fixed for RTM.

[2016-10-24 21:13] vsccarl opened #14707 "Conditional switch case statements fail to build"
**Version Used**: Roslyn.20161021.6 

**Steps to Reproduce**:

1. Create a conditional switch case statement

Example:
[code]

**Expected Behavior**:
Builds correctly

**Actual Behavior**:
 No warning/error messages are showing up, but after building I get "csc.exe" exited with code -2146232797.

[2016-10-24 21:15] VSadov opened #14708 "We are not handling malformed dynamic flags on tuple elements gracefully."
One scenario that could get us into such situation is caused by another bug, but generally misaligned dynamic flags should be ignored.

metadata reference:
[code]

console app:
[code]

We crash with NullReferenceException

Microsoft.CodeAnalysis.CSharp.ni!Microsoft.CodeAnalysis.CSharp.Symbols.TupleTypeSymbol.Create in TupleTypeSymbol.cs
at Microsoft.CodeAnalysis.CSharp.ni!Microsoft.CodeAnalysis.CS

[2016-10-24 21:16] VSadov commented on #14708
Placing into RC due to Watson hits

[2016-10-24 21:22] #14138 closed

[2016-10-24 21:23] VSadov opened #14709 "dynamic flags emitted for ref returns do not match what expected by the decoder."
Decoder treats return signature slot as another parameter and thus historically expects that there will be a flag for the "ref".
That flag is currently missing for ref returns and as a result the flags are invalid.

Normally such situation would lead to flags being ignored, but in combination with another bug
(https://github.com/dotnet/roslyn/issues/14708) it currently causes crashes.

metadata re

[2016-10-24 21:44] rchande commented on #13836
@pcibraro I'm able to build/deploy/run the Windows Phone project from the repo you linked. I'm using VS 2015 Update 3 25431.01. I'm going to close this bug--feel free to open another if you continue to encounter the issue in VS "15".

[2016-10-24 21:44] #13836 closed

[2016-10-24 22:00] Kaelum commented on #12939
Well, for those who continue to use C#, more power to you.  I am extremely dismayed with the following statement by @MadsTorgersen:

[2016-10-24 22:03] Kaelum commented on #12939
Well, for those who continue to use C#, more power to you.  I am extremely dismayed with the following statement by @MadsTorgersen:

which completely ignores **Implicit Variable Declarations**  (#14697).  Thank you for proving my point, that you are not listening.

[2016-10-24 22:14] eyalsk commented on #12939
@Kaelum You're being unfair though, just because they don't think the same as some of us, doesn't mean they don't listen.

[2016-10-24 22:15] HaloFour commented on #12939
@MadsTorgersen

In my opinion this is coming from the quiet period leading up to this revelation.  There was no public forum or community input.  By the time this was revealed it was already too late.  This is very unlike many of the other proposals that have been hashed out both here and on CodePlex.  Even if you reached the exact same conclusion I think that we'd all feel a little better to have

[2016-10-24 22:16] gafter commented on #14411
@jasonmalinowski @mattwar @AlekseyTs Please chime in whether or not you'd like this exposed in MSBuild, and if so what the form of that support would be.

[2016-10-24 22:23] mattwar commented on #14411
I don't understand what it means to have msbuild support for this?

Are you imagining someone using msbuild on the command line and issuing a build request to get back the compiler version instead of actually building?

Are you imaging that the IDE is issuing an request via the project system's use of msbuild to determine the compiler version and somehow relay that information to the user some way

[2016-10-24 22:24] Kaelum commented on #12939
@eyalsk that is not at all where I am coming from.  #14697 specifically corrects the particular issue in that statement, rendering it moot.  Since it was stated, there is no other conclusion that could be obtained.

[2016-10-24 22:26] AlekseyTs commented on #14411
Be able to invoke the compiler task in msbuild so that it would output the compiler version.

[2016-10-24 22:27] AlekseyTs commented on #14411
I think we should support this switch in msbuild.

[2016-10-24 22:53] eyalsk commented on #12939
@Kaelum Yeah, I know where you're coming from, I'm not convinced either but I don't take that as if they don't listen to us because I really think they do.

I'm not thrilled with last moment changes and such but can I do anything to change it? nop, I can only look forward and hope they will improve. :)

If they are fully convinced that this is the right path to take here and we can't convince them

[2016-10-24 22:53] gafter commented on #13456
@nlraley, I see you also reported this issue as "[customer feedback](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/271117)". Thanks! We'll take this github issue as the definitive description of the problem.

[2016-10-24 22:59] OmarTawfik commented on #14689
Could repro in Dev15 Preview 5. Will look into a fix now.

[2016-10-24 23:02] VSadov commented on #14707
I can reproduce the failure and see the following stack:

System.InvalidCastException: Unable to cast object of type 'Microsoft.CodeAnalysis.CSharp.Syntax.ParenthesizedExpressionSyntax' to type 'Microsoft.CodeAnalysis.CSharp.Syntax.WhenClauseSyntax'.
   at Microsoft.CodeAnalysis.CSharp.DebugInfoInjector.InstrumentPatternSwitchWhenClauseConditionalGotoBody(BoundExpression original, BoundStatement i

[2016-10-24 23:23] JohnHamby commented on #14707
The call stack is in terms of debug info rewriting. We will need also this to work with dynamic analysis rewriting, which might have an issue with a similar underlying cause.

[2016-10-24 23:41] CyrusNajmabadi commented on #12939
They seem specious *to you*.  I put forth those arguments because they make sense to *me* :)

Note that, as has been mentioned already, it's unlikely we're going to reach consensus on our differing opinions here.  Specifically, that i view consistency between loops as *less* important than consistency between variable-introducing concepts.

It's ok to disagree and to have different opinions.  Trus

[2016-10-25 00:00] #14636 closed

[2016-10-25 00:20] HaloFour commented on #12939
@CyrusNajmabadi

And they make perfect sense to me as well.  But when the argument applies equally in two places then it should cancel itself out.  Honestly I only pushed `while` to see if there was actually any room for discussion.

I agree.  That's why I'm so hesitant about this being released in any form in C# 7.0 after such a radical 180° shift without some *serious*\* consideration.  Ultimate

[2016-10-25 00:56] srivatsn commented on #11133
Turns out we don't need this anymore. So we should just delete the code.

[2016-10-25 01:06] tmat opened #14717 "VS crash due NRE in Microsoft.CodeAnalysis.CSharp.Binder.BindDeclarationPattern"
Version:
Latest Roslyn RC build (20161024.7).

Repro:
Create a new console app. Replace the code with the following, then copy & paste ``` is EnvDTE.Project project``` to the position indicated by ```|```:

[code]

Stack trace:
[code]

[2016-10-25 01:33] jaredpar commented on #14717
@gafter can you take a look at this?  Potentially RC impacting.

[2016-10-25 03:55] gafter commented on #14411
@AlekseyTs
Do you have a proposal for what form that support would take, or are you hoping someone else will make a proposal?

[2016-10-25 06:20] jasonmalinowski commented on #14411
@AdamSpeight2008's suggestion of exposing it under Help > About or maybe a property page for a project seems useful (remember: the answer can technically vary per project due to NuGet packages.)

I'm not sure what it would mean for the build task to have support. I guess you could always just have the task have another output property with it. Having it invoke csc /version directly (with no way to

[2016-10-25 06:42] DavidArno commented on #12939
It has been useful having @CyrusNajmabadi and @MadsTorgersen explain the team's thinking here, for at least we now know why this train wreck was forced upon the language and that, despite the formers claims to be listening, no matter how much we shout here, it's going to happen.

So it appears that we got to where we are because:

1. The team want, above all else, for `out var` and `decl ... out`

[2016-10-25 07:29] sirgru opened #14720 "Proposal: Nested enums"
I would find it convenient to have something like this (contrived example):

[code]

Sometimes I want the class hierarchy but sometimes I really don't. Use case would be something like this:

var creature1 = Animal.Bird.Hawk;
Animal creature2 = Animal.Mammal;  //OK

creature1 == Animal.Bird;    // false
creature1 is Animal.Bird;      // true
creature1 is Animal;             // true

[2016-10-25 07:53] 333fred commented on #14700
These are continuing to fail on our internal VSI tests, there have been 7 failures on vsi_p3 in the last 24 hours.

[2016-10-25 08:32] sirgru commented on #12939
It seems to me that there should indeed be granular control of the variable scope by the user. By default the scope should be as in the old proposition until modified appropriately by the user. Since users have to understand scope anyway, why not let them choose it? I have seen Mads' response above

and I can't see any downsides to that. Here is a semi-serious example of how it would look, introdu

[2016-10-25 09:43] vbcodec commented on #14720
Barely useful, as you can write
[code]
and with intellisense you get the same benefits.

Beside of this, CLR probably do not allow for these enhancements, and here must be implemented significant trickery to smoothly move these enums between sources and libraries.

[2016-10-25 13:08] ViIvanov commented on #10154
@sirgru If I understand correctly, you can use next syntax:
[code]

In addition, in some cases, you can use PM syntax.

[2016-10-25 14:04] HaloFour opened #14721 "Bug: Compiler error matching "null" in switch"
**Version Used**: master (Oct 22 2016) via http://tryroslyn.azurewebsites.net/

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Compiles successfully.

**Actual Behavior**:

[code]

----

Note that reversing the labels does compile successfully.  So does replacing the `case null` with `default` or `case var s` with no case guard condition.

[2016-10-25 14:42] enkafan opened #14722 "Lambdas requiring casting not getting properly converted"
**Version Used**:
Visual-Studio-15-Preview-5, current master (5980aca16e60b324c158957306c2f4d61252fdb6)

**Steps to Reproduce**:

This seems to only occur in specific scenarios that involve an implicit cast from one type to another in lambdas. Current release version on nuget will emit `Expression.Convert` while current version leaves it out resulting in runtime exceptions. Code to reproduce:

[co

[2016-10-25 14:53] tmds commented on #13361
@svick nice! why does it need the double .dll extension?

[2016-10-25 15:12] Pilchie commented on #14700
Tag @mmitche and @jasonmalinowski is dump archiving still disabled? 😢

@CyrusNajmabadi can you take a look since @dpoeschl is OOF right now?

[2016-10-25 15:12] Pilchie commented on #14700
@333fred I see results only for master above - can you confirm that this is NOT affecting `dev15-rc` builds?

[2016-10-25 15:24] mmitche commented on #14700
I was under the impression it got turned back on after some rough heuristics to avoid a dump overload.

[2016-10-25 15:41] marek-safar opened #14725 "C# compiler is not working properly when called from root folder"
**Version Used**: Microsoft (R) Visual C# Compiler version 2.0.0.60925

**Steps to Reproduce**:
1. Go to root folder (e.g. c:\ or /)
2. Compile any C# code with syntax error using full path to the file

C:>csc c:\temp\p.cs
Microsoft (R) Visual C# Compiler version 2.0.0.60925
Copyright (C) Microsoft Corporation. All rights reserved.

emp\p.cs(6,24): error CS1003: Syntax error, ',' expected

**Obser

[2016-10-25 15:52] 333fred commented on #14700
@Pilchie that's correct, it's just master.

[2016-10-25 16:27] timgoodman commented on #14651
What's the purpose of writing a pattern match which is guaranteed to succeed?  Is it just to make the local variable readonly?

I wonder if such a statement is more likely to be a mistake, in which case it might be better to leave it as an error.  One could always write `int j = i;` for now, and live with the fact that it's not readonly for one more release of C#, after which I hope we'll get some

[2016-10-25 16:30] vbcodec opened #14726 "Propoal: Assign value to variable before definition"
[code]

Why not ?

[2016-10-25 16:36] HaloFour commented on #14651
@timgoodman

Pattern variables aren't readonly anymore.

[2016-10-25 16:51] jaredpar commented on #11992
@TyOverby is this a dupe of the Watson I sent to you?

[2016-10-25 16:59] AlekseyTs commented on #14411
@gafter

See how other command line arguments are supported by VB and C# compiler tasks. I don't think /version switch should be any different.

[2016-10-25 17:10] #10929 closed

[2016-10-25 17:23] jaredpar commented on #14725
That is by design.  The compiler doesn't do any folder management.  It simply writes output where it's instructed to write output.  It's the job of MSBuild to create the necessary folder structure.

[2016-10-25 17:28] gafter opened #14727 "Need additional tests for expression variables defined in a switch case expression"
... including the behavior of SemanticModel.

Such tests would have caught https://github.com/dotnet/roslyn/issues/14717 earlier.

[2016-10-25 17:35] gafter commented on #14717
A PR will be submitted shortly.

[2016-10-25 17:37] svick commented on #14726
I don't think that's how language feature proposals work. You need to provide a compelling reason for "why yes" for it to be considered.

[2016-10-25 17:38] jasonmalinowski commented on #14700
Dump archiving is back on, under the promise we'll eventually implement those heuristics. ;-) It's still on, but that doesn't mean dumps always get created when you think they are.

[2016-10-25 17:55] Pilchie commented on #8924
@CyrusNajmabadi did the requisite work on our side.  This is done now.

[2016-10-25 17:55] #8924 closed

[2016-10-25 17:59] marek-safar commented on #14725
I am removing the second issue as that's my typo and leaving only the original issue

[2016-10-25 18:11] TyOverby commented on #11992
@jaredpar Yeah, good catch.  In fact, my unit-test covers `dynamic` as a way to trigger this bug.

Fixed in https://github.com/dotnet/roslyn/pull/14680

[2016-10-25 18:11] #11992 closed

[2016-10-25 18:49] #14696 closed

[2016-10-25 19:12] svick commented on #13361
@tmds It's necessary to trick the CLI into resolving `csc` from a tool package instead of using the one installed with the dotnet SDK. ([It's looking for a command named `csc.dll`](https://github.com/dotnet/cli/blob/3a567e595773b61650f2dcd1c7ec2b53b91cd7a8/src/dotnet/commands/dotnet-compile-csc/Program.cs#L229), and while commands from packages aren't named with extension, SDK commands are.)

[2016-10-25 19:24] eyalsk opened #14731 "Proposal: Functors"
## What is a functor?

In C++ a functor is an object with the application operator, operator()(), defined so that it can be called like a function.

A function object is more general than a function because it can hold data and provide additional operations.

*--Taken from Bjarne Stroustrup's C++ Glossary*

### The problem

There are various patterns where by design the implementation of some obje

[2016-10-25 19:32] HaloFour commented on #14731
To note the `()` operator (it is considered an operator) has explicitly been on the list of operators that cannot be overloaded since C# 1.0.  I don't know specifically why but likely to avoid being able to write objects that can behave like delegates/functions that aren't delegates/functions.

[2016-10-25 19:34] svick commented on #14731
I don't understand how does this improve the language.

A delegate is always feasible, even if the object has mutable state: when you call a delegate that points to an instance method of an object, it can modify that object.

In C++ (especially pre-C++11), functors made a lot of sense because of templates: you can make a template function that takes any functor with the right signature and invokes

[2016-10-25 19:43] gafter commented on #13921
@ig-sinicyn Can you please explain how those two issues have anything to do with this?

[2016-10-25 19:44] rclabo commented on #14496
I'm so glad to see this opened as a issue here. I'm limping along with View.NavigateBackward (Ctrl +-) but it's not nearly as efficient as View.PopBrowseContext.  When I use F12 to go to a definition I often have to use View.NavigateBackward (Ctrl +-) three or four times before I'm back to the place I hit F12.

With View.PopBroweContext (Ctl + shift + 8) in prior versions of Visual Studio I only h

[2016-10-25 19:49] gafter commented on #14411
@AlekseyTs As a design approach, that sounds fine, but nobody has performed that design exercise. I also don't have a proposal for how it should behave. I'll keep this open for a while in case someone else does.

[2016-10-25 19:53] mattwar commented on #14411
I agree with @AlekseyTs that the flag should pass into the msbuild task. It is not entirely different than the NoLogo flag that gets passed, or other cosmetic flags..

However, we should separate that from if & how this information is exposed in the IDE.

[2016-10-25 19:57] eyalsk commented on #14731
@HaloFour Yeah, I guess so, a lot has changed since C# 1.0 and in today's world it's pretty common to express classes as operations and maybe just maybe it make more sense to add it.

@svick

Sometimes I don't want to mutate any state, I want the operation that responsible for creating the state to store it, sometimes it might be for caching purposes.

The class that represents the operation may o

[2016-10-25 20:05] gafter commented on #14411
@mattwar The purpose of `/version` command-line flag is to cause the compiler to produce the version information in its output *and do nothing else*, so that the consumer can parse the complete compiler output as a version number. In that sense it is not merely a cosmetic flag, and extending that behavior to MSBuild is probably counterproductive. If we just want the version information to appear i

[2016-10-25 20:14] ig-sinicyn commented on #13921
@gafter
Oups. looks like I posted wrong link for xaml-related issue, could not find the correct one so let's forget about it.

About VB issue - we've troubleshooted something like this some time ago.
The root reason was the [ThrowNullRefIfNotInitialized()](https://github.com/dotnet/corefx/blob/6a718ebd25ffedcaf3dadff1f4cc6d3c2f387edb/src/System.Collections.Immutable/src/System/Collections/Immutabl

[2016-10-25 20:36] CyrusNajmabadi commented on #14700
Is tehre a dump i can actually look at for this?  @333fred have you still seen this issue?  If so, can you point me at a failure with a dump?  Thanks!

[2016-10-25 20:40] bbarry commented on #14731
Generally the pattern I like to see is using the word `Invoke` for the method name in this sort of pattern to try and get as close to the delegate type as you can. I suppose you can do some trickery like this:

[code]
but I am not convinced of the usefulness.

[2016-10-25 20:51] #13937 closed

[2016-10-25 20:51] #14159 closed

[2016-10-25 20:51] #14358 closed

[2016-10-25 20:52] tmat commented on #14411
Why don't we just do nothing and wait till someone actually asks for this? Personally I don't think there is any scenario when this would be useful.

[2016-10-25 21:10] eyalsk commented on #14731
@bbarry

Why do I have to declare a delegate, then define an `Invoke` method and finally have to also overload the operator for the object, all this for the same goal? why? what's the purpose of your example?

I don't know but if it's that complex I can't see the usefulness of this either.

[2016-10-25 21:18] 333fred commented on #14700
@CyrusNajmabadi it's still occurring on every run of https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p3/. I'm not sure about a dump, I don't see any in the output from that vsi test.

[2016-10-25 21:20] HaloFour commented on #14731
@eyalsk

C# also wanted to avoid the forms of abuse that C++ permitted via arbitrary operator overloading.  I imagine that the decision to exclude `()` as an overloadable operator was a conscious one, although I don't know if we'll ever get a good summary of the argument at the time.

I agree with @svick, there are numerous ways to accomplish this same task with C#.  Wanting it to smell like C++ d

[2016-10-25 21:24] Drawaes commented on #14731
I am not sure I get the point.
Do you want to call

var t = add (1, 2)
var x = add (3, 4)
.......

If so that's confusing at best. And if you want that make it a static class with a static using. If u want state in the class that changes u can do.

new add (2,3) and Ave an implicit cast to an int. Either way it all seems very allocaty

[2016-10-25 21:24] CyrusNajmabadi commented on #14700
I don't know what can be done without a dump.

[2016-10-25 21:24] CyrusNajmabadi commented on #14700
Can we contact Swat to get things fixed up to capture dumps?

[2016-10-25 21:25] vladd commented on #14697
I don't think that the implicit variable declarations is a good thing. In particular, it helps to hide typos. Consider:

[code]
Now, the value of `i` is silently overwritten, no warning is issued.
Having the variable declaration explicit would catch this problem.

[2016-10-25 21:27] 333fred commented on #14700
@dotnet/roslyn-infrastructure

[2016-10-25 21:30] Pilchie commented on #14700
@mmitche / @jasonmalinowski Were they maybe not enabled for all the PR legs?

[2016-10-25 21:30] vbcodec commented on #14726
@svick
Coreected proposal.

[2016-10-25 21:35] HaloFour commented on #14726
To my knowledge no version of Visual Basic has allowed for implicit use to precede an explicit declaration.

Even invoking historical dialects of BASIC where `DIM` may appear following first assignment of a variable that wouldn't do what you'd be expecting it to do.  The BASIC interpreter would instead be implicitly declaring `x` on its first use, not using the latter explicit declaration to deter

[2016-10-25 21:36] mmitche commented on #14700
@Pilchie I haven't checked.  You're free to enable it again (it's in the netci.groovy file for the master branch).  However, you must put in at least some mitigation to avoid attempting to archive a huge amount of data (deleting most dumps, etc.).  The last time this got enabled a failure made it into checked in code and the jobs were attempting to archive 80GB on each run.

[2016-10-25 21:36] svick commented on #14726
Is this something that actually happens often to you? Maybe a code fix that moves the declaration would help?

[2016-10-25 21:55] vbcodec commented on #14731
It already exist:

[code]

The difference is that VB is more civilized and accept curly braces, while CS need square braces.

[2016-10-25 21:59] jaredpar commented on #14592
Another instance https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_unit64_prtest/5176/

[2016-10-25 22:08] 333fred opened #14735 "Broken Tao Test: BasicGenerateTypeDialog"
The BasicGenerateTypeDialog VSI Test is failing on this line: https://github.com/dotnet/roslyn-internal/blob/6bb2fb17ebab81584b68877184f753991fc51e3a/Closed/Hosting/RoslynTaoActions/IntegrationTests/BasicGenerateTypeDialog.xml#L37. It appears that the file isn't being found.

[code]

Example:
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p0/1076/artifact/Open

[2016-10-25 22:09] 333fred commented on #14735
Failed on every run since 1059 except 1065.

[2016-10-25 22:09] miloush commented on #14726
@HaloFour that is what I thought is being proposed, I totally read the code as implicitly declare `x` on first line and then redeclare it using `Dim` (although probably `ReDim` would be better fit thinking about it). Your comment suggests that the proposal is actually that the position of `Dim` should not matter; I agree that that would go against my beliefs of how BASIC works. :)

[2016-10-25 22:26] eyalsk commented on #14731
@HaloFour

I don't know what was in the past but I don't care about it so much, I don't care what was their reason to exclude it but maybe there's a future to it now.

I don't want it to smell like C++ and if it does I don't think it's a bad thing, I simply want to be able to model some objects as operations and thus be able to execute them as functions.

I'm completely aware that it's possible to

[2016-10-25 22:34] #11356 closed

[2016-10-25 22:39] svick commented on #14697
They cannot be properties, because there is no way how setting a `ref` or `out` parameter would call the property setter. But they can be fields.

[2016-10-25 22:52] gafter commented on #13921
@ig-sinicyn This would not likely have any impact on the declaration or use of the `ImmutableArray` APIs.

[2016-10-25 23:23] tmat opened #14737 "Typing "goto default" in a switch case completes incorrectly"
Type ```goto default``` and ```;``` in the indicated location:

[code]

The completion list contains ```default:``` and thus the result is:
[code]

Notice the extra ```:```.

[2016-10-25 23:23] svick commented on #14731
Properties and indexers are also very common, so it makes a lot of sense that they have special syntax.

I think that that situations where you want to invoke an object and a delegate isn't sufficient would be fairly rare, so I think that special syntax isn't warranted.

[2016-10-25 23:24] mavasani commented on #13679
@jasonmalinowski @Pilchie Do we want to keep this in RC or move out to RTM?

[2016-10-25 23:27] Pilchie commented on #13679
This won't happen for RC at this point.  Let's put it in RC.2 though.

[2016-10-25 23:36] theoy commented on #13380
🙀

Holy smokes! I don't recall touching this bug at all, so I think you're right about it likely being related to Waffle. Not sure how much Waffle is used by the Roslyn team at the moment, but it could be they are hitting this bug (waffleio/waffle.io#1761), specifically when the Waffle board has been configured with more than one repository (in Roslyn's case, someone has added the analyzer project

[2016-10-25 23:39] CyrusNajmabadi commented on #14653
Fixed with https://github.com/dotnet/roslyn/pull/14655

[2016-10-25 23:39] #14653 closed

[2016-10-26 01:50] Kaelum commented on #14697
@vladd

The difference is that I am not willing to pollute the scope for functionality that we already have.  We already have explicit declarations across the board, which pollute the scope.  When you need temporary variables, which covers approximately 99% of our usage of out variables, polluting the scope is a very significant problem.

[2016-10-26 01:57] eyalsk commented on #14731
@svick

They are common because they exist and this isn't really a special syntax, we're using it all the time in a different context.

C++ doesn't have delegates in exactly the same way we have them in C# but I can write this `Func<int, int, int>` in C++ like this `int (*func)(int,int)` or in C++11 like this `std::function<int(int,int)>` so delegates have absolutely nothing with this proposal.

I

[2016-10-26 02:06] tmat opened #14740 "Unexpected stepping behavior in C# 7 switch statement"
```break``` statements of cases whose condition is false are stepped onto like so:

![image](https://cloud.githubusercontent.com/assets/41759/19710787/d08e5484-9ae5-11e6-9efc-a0e4412b9caa.png)

That's confusing since ```break``` is not executed, the next step doesn't jump out of the switch statement but to the next case. Instead either the execution should first step on ```case int a``` then evalu

[2016-10-26 02:19] jaredpar commented on #13380
Thanks @theoy

We ended up having a lot of cases like this. Waffle did seem to be the common denominator. No one we contacted knew why this was happening. Eventually we changed permissions and it seems to hace calmed down.

[2016-10-26 02:24] HaloFour commented on #14731
My world is CQRS and I've found no issues with implementing the command pattern on top of delegates.  The complaint you make about tracking state is moot, you can take a delegate to an instance method of some service class.

That's a very non-compelling argument.  I don't see why effort should be expended just to allow the source to look slightly different without actual improvements regarding ver

[2016-10-26 03:16] eyalsk commented on #14731
@HaloFour

I never said that there's an issue with the current approach or that it's bad or not applicable without my proposal.

I didn't really make a _complaint_, I wrote a proposal and if you dislike it or any of the arguments I made then all I can say is I respect your opinion but it isn't mine.

In your opinion it's very non-compelling but luckily I have my own opinion and I see things throug

[2016-10-26 04:44] HaloFour commented on #14731
@eyalsk

Indeed, you don't have to convince me.  I just try to look at these things from the perspective of cost/reward.  That every proposal must achieve 100 points to be worthwhile, but starts out at -100 points simply because any change costs time, effort and the liability of permanent support.  I'm certainly not the scorekeeper.  Heck, half the time the scoring rules baffle me.  :)

[2016-10-26 05:29] ig-sinicyn commented on #13921
@gafter, yes.

At the same time ImmutableArray is a good example of design problem I'm talking about. Any struct with custom default .ctor will have the same issue: the code will fail if uninitialised instance passed and there's no easy way to prevent it at compile-time. For null referenves there's #5032, for uninitialized structs there's nothing.

[2016-10-26 05:29] eyalsk commented on #14731
@HaloFour I know what you mean and I know the chances are low but I do think it has value whether it's worth it? we'll see but if it's going to be declined, now, we will at least know the reason for it! 😆

[2016-10-26 07:42] qrli commented on #12939
While I don't object the current decision, I agree with most of HaloFour's points. And I also hope the scope for `while` is reconsidered at least.

I trust your C# team and i understand you are very busy. But the published info is under expectation. I don't get the clear picture even though I read here everyday. It is also due to the complexity and big circle of effect of the features for this ver

[2016-10-26 08:44] sirgru commented on #10154
After some looking around I have concluded I like that syntax, despite it being a bit strange at first. I guess even more benefits will come when looking at the bigger picture. Looking forward to the next release!

[2016-10-26 08:55] sirgru commented on #14720
Well, the intellisense benefits are of no use to me, since I wanted to react differently based on the enum's value and "parent value" at runtime. This is the use case very similar to what I have in mind, and yes the solutions are "ugly" with "muddy intent".
http://stackoverflow.com/questions/980766/how-do-i-declare-a-nested-enum

As for the CLR not allowing it smoothly, that I can understand.

[2016-10-26 11:22] marek-safar opened #14744 "Regression in delegate conversion"
**Version Used**:  2.0.0.60925

**Steps to Reproduce**:

1. Compile following code

[code]

**Expected Behavior**:

No error

**Actual Behavior**:

Program.cs(11,35,13,10): error CS0648: '' is a type not supported by the language

[2016-10-26 11:26] alrz commented on #14731
Note that for delegates `()` operator is just a synonym for the `Invoke` method. When you want to use null-conditional operator you will need to explicitly call it e.g. `d?.Invoke()`, so with defining it as an operator you simply make it impossible to invoke it conditionally. Having said that, I think #4801 or #11929 come before this proposal, because in that case, it'd make more sense to be able

[2016-10-26 11:38] eyalsk commented on #14731
@alrz Sure, I agree. :)

[2016-10-26 13:04] vbcodec commented on #14731
@HaloFour
As for required points, it depends where proposal was originated. If team made proposal, then 50 points is enough, and current convoluted scoping rules and half-baked tuples are proof for that. For outsiders, bar is much higher though, and even 100 points is not enough. What features was added, on request from community ? Only probably null check operator and interpolated strings, becaus

[2016-10-26 13:29] eyalsk commented on #14731
@vbcodec They can't add all features the community wants and each of us have only our own little world to care about whereas they have the whole world to care about and they probably see more pieces of the picture than we do so I trust their judgement to do the right thing for all of us. 😄

[2016-10-26 14:07] vbcodec commented on #12939
Current design is unacceptable, and there do not exist any rational POV that validate it.

Leaking variables are counter unititive, as there do not exist locality, and locality is one of foundation of intuition, imo. Bouncer pattern is poor reason for leakage from conditions. Most users want clarity, and will define variable before condition, than somewhere inside expression, especially if express

[2016-10-26 14:30] timgoodman commented on #14651
@HaloFour Thanks, I didn't realize that. (It's a bit of a shame, I liked how the original proposal with `let` gave you readonly locals as a bonus.)

So that being the case, why would anyone write code like above, instead of just `int j = i;`?  Maybe having a pointless pattern match should be at least a warning. (Although I guess having it be a definite assignment error is a bit more confusing.)

[2016-10-26 15:32] #14085 closed

[2016-10-26 15:33] rchande commented on #14085
Please verify.

[2016-10-26 16:03] rchande commented on #14056
Please verify.

[2016-10-26 16:03] #14056 closed

[2016-10-26 16:04] rchande commented on #13594
Looks like this was already fixed.

[2016-10-26 16:06] rchande commented on #13566
Looks like this was fixed by your revert.

[2016-10-26 16:06] #13566 closed

[2016-10-26 16:08] zspitz opened #14747 "Enable parameter modifier on extension methods"
**Version Used**:
C# 6.0

**Steps to Reproduce**:
[code]

[Additional example with auto-initializing dictionary](http://stackoverflow.com/q/40264788/111794).

**Expected Behavior**:
Either syntax should compile and run.

**Actual Behavior**:
Neither syntax compiles.

[2016-10-26 16:12] sirgru commented on #12939
While I obviously agree with letting users take care of the scope leaking, I would personally find the reuse in a way similar to above quite confusing. That would be a breach of existing rule preventing variables with same name in inner scope when there is one in outer scope.

[2016-10-26 16:30] svick commented on #14747
This is a duplicate of https://github.com/dotnet/roslyn/issues/165.

[2016-10-26 16:46] zspitz commented on #14747
@svick I don't know how I missed that.

[2016-10-26 16:46] #14747 closed

[2016-10-26 17:01] gafter commented on #14737
Dup of #4677

[2016-10-26 17:01] #14737 closed

[2016-10-26 17:04] gafter commented on #14707
Fixed in dev15-rc via #14730

[2016-10-26 17:04] #14707 closed

[2016-10-26 17:10] tmat commented on #14360
Fixed by https://github.com/dotnet/roslyn/pull/14572/commits/ab5d0db6980aec2502e7cb733a85708b6524a2b1

[2016-10-26 17:10] #14360 closed

[2016-10-26 17:10] tmat commented on #14360
@billti Could you validate with the latest d15prerel build please?

[2016-10-26 17:11] tmat commented on #6904
Done.

[2016-10-26 17:11] #6904 closed

[2016-10-26 17:21] gafter commented on #12053
I am closing this as by design, since the current language specification does not require an error here, and there is no proposal or champion for a proposal to add anything to the specification to require such an error.

[2016-10-26 17:21] miloush opened #14749 "Option to enforce code style automatically"
Not sure if this is part of #7071 but it would be great if either as another severity level or a different option I could set the IDE to enforce code styles during formatting and autoformatting, i.e. when `}` is typed or the format document/selection command is invoked.

So that for example all vars I type would turn into explicit types or all framework types would turn into built-in types etc. on

[2016-10-26 17:21] #12053 closed

[2016-10-26 17:36] alrz commented on #14726
@HaloFour WOW.

[2016-10-26 18:29] DerpMcDerp commented on #14697
I like eliminating the implicit leaks by using the old style way of using local variable declarations to control scope.

I don't like 1. the typo prone unification magic of this proposal 2. specifying the type of a variable more than once.

A better proposal would be more akin to something like:

[code]

[2016-10-26 19:12] ManishJayaswal commented on #14621
This may be a dupe of internal bug 277603

[2016-10-26 19:14] #13652 closed

[2016-10-26 19:19] Kaelum commented on #14697
@DerpMcDerp

In regards to:

1) I am not convinced that a "typo" scenario is a valid reasoning to reject any proposal.
2) This proposal is not about making a change to the existing `is` syntax, which is what your proposal is asking for.  This proposal is for nothing more than to make "temporary use" variables, available again.

[2016-10-26 19:29] vladd commented on #14697
@Kaelum Well, detecting typos is a primary reason why we need to declare variables at all. If we would consider guarding against typos not important, we could omit `var` altogether, and make all variable usages effectively "implicit declarations". Surely you don't want to propose this way, do you?

[2016-10-26 19:52] jasonmalinowski commented on #13529
And this appears to be an issue with the VS IVsXMLMemberIndexService service. The code is bailing saying this isn't represented even though it most clearly is. I've filed an [internal bug](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/283204) to track this from here.

[2016-10-26 19:52] #13529 closed

[2016-10-26 19:59] Unknown6656 commented on #14720
You could achieve this in F# with discriminated unions, but I would love to see this made possible in C# also

[2016-10-26 20:12] Kaelum commented on #14697
@vladd

There is a difference between a "typo" that is invalid syntax, and a "typo" that is valid syntax.  Your example is for the latter, which is "misuse" of a variable, and is why I am not convinced that it is a valid reason.

[2016-10-26 20:22] #14288 closed

[2016-10-26 20:26] vbcodec commented on #14726
@svick
Not often but sometimes. Moving to the top, may not be possible if I want to preserve type inference

Sub XX ()
    x = GetDerivedType()
    ...
    Dim x = GetBaseType()
End Sub

Such 'forward assignment may be problematic for CS/VB Interactive, as it executes line by line as interpreter, but compiler can process it with ease..

[2016-10-26 20:30] mavasani opened #14753 "Add a test to catch ngen issues for Code analysis assemblies"
Off late we have seen quite a few performance regressions in our nightly builds which turned out to be ngen related setup issues - either we are not ngen'ing the assemblies or ngen'ed assemblies couldn't be found at runtime causing IL assembly load. We should add a test that catches these issues up front, so we don't end up having to dig through perf logs/regressions to catch these. This could pos

[2016-10-26 21:34] MNF opened #14756 "Add details to Error CS0012 The type '' is defined in an assembly that is not referenced"
**Version used
VS 2015

I had an error
Severity    Code    Description    Project    File    Line    Suppression State
Error    CS0012    The type 'PostsImportBase' is defined in an assembly that is not referenced. You must add a reference to assembly 'MySolution.BusinessServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.    ConsoleSamples    C:\GitRepos\ConsoleSamples\Program.cs

[2016-10-26 21:40] HaloFour commented on #14720
Check out #6739.

Normal C#/CLR enums can only be simple integral primitive types.  Short of getting funky with bitmasks I don't see how a hierarchical relationship could be established through them.  Discriminated unions would be a better feature.

[2016-10-26 22:05] enkafan commented on #14722
Submitted PR (#14755) with a unit test that reproduces and a potential fix.

[2016-10-26 22:14] miloush opened #14758 "Changing type in EnC session ignored"
**Version Used**: 2.0.0.61020

**Steps to Reproduce**:
[code]
1. Step to WriteLine.
2. Change the `a` type to `B` so that the line reads `B[] a = new B[0];`
3. Set next statement to that line in order to execute the array creation again.
4. Step over.
5. Observe.

**Expected Behavior**: `a` to be of type `B`

**Actual Behavior**: `a` is of type `A`

[2016-10-26 22:30] miloush opened #14759 "Incorrect step sequence in EnC session"
Possibly related to #14758

**Version Used**: 2.0.0.61020

**Steps to Reproduce**:
[code]
1. Step to WriteLine.
2. Delete the GetType call, so that the line reads `Cosnole.WriteLine(p);`.
3. Set next statement to the array declaration line.
4. Step over.

**Expected Behavior**: The WriteLine line highlighted as the next statement.

**Actual Behavior**: The `{` line highlighted as the next statemen

[2016-10-26 22:46] CyrusNajmabadi opened #14760 ""strict mode" compare-struct-to-null doesn't seem to be working."
I've made the mistake in Roslyn several times of comparing a struct to null.  Specifically, I've compared ImmutableArray's to null. This often happens when refactoring existing code to move from a reference-collection to ImmutableArray.  These weren't caught in Roslyn even though @gafter believes they should have.

[2016-10-26 22:46] CyrusNajmabadi commented on #14760
Tagging @gafter about this.

[2016-10-26 23:00] AlekseyTs opened #14761 "Missing parser error BC30205: End of statement expected."
[code]

Expected:

[code]

Observed: No error, compilation succeeds.

[2016-10-26 23:00] AlekseyTs commented on #14761
This problem is not specific to **GoTo** statement.

[2016-10-26 23:13] gafter commented on #14651
It is much more compelling when written to get the effect of Swift's `guard` statement (i.e. using an `if` statement), which will make much more sense once we expand support for pattern-matching to recursive constructs. But we want to get the definite assignment correct today so that the extension to recursive patterns is smooth.

[2016-10-26 23:15] gafter commented on #14717
Fixed in #14729

[2016-10-26 23:15] #14717 closed

[2016-10-26 23:15] gafter commented on #14727
Fixed in #14729

[2016-10-26 23:15] #14727 closed

[2016-10-27 00:19] justcla commented on #13594
I have tested this with build 15.0.25824.0 and the issue does not appear to be fixed.
Re-opening and assigning to rchande.

[2016-10-27 00:20] mavasani commented on #14520
Fixed with https://github.com/dotnet/roslyn/pull/14743

[2016-10-27 00:20] #14520 closed

[2016-10-27 00:28] gafter commented on #14721
Fixed in https://github.com/dotnet/roslyn/pull/14748

[2016-10-27 00:28] #14721 closed

[2016-10-27 02:32] AdamSpeight2008 commented on #14761
Do we have a warning / error for another possible expectation?
That of the parser was expecting to find a `:` but didn't.

[2016-10-27 02:36] AdamSpeight2008 commented on #14760
I think if we where going to do this it should be a warning, rather than an error.
As in VB.net is it a valid comparison ` mystruct = Nothing ` as it equivalent to,
 ` mystruct == defaultof( mystructType )`

[2016-10-27 02:37] CyrusNajmabadi commented on #14760
C# semantics are not the same as VB semantics here.

[2016-10-27 02:47] AdamSpeight2008 commented on #14651
I think this is an more of an issue related to introducing variable into scoping.
Introducing a variable should into the nearest outer scope, not nearest inner scope. (by default). Then require to coder to explicit specify a change to use the inner scopes of say if``'s `then` scope or the `else` scope.  True this will be more typing for those cases, but it be easier to understand the scoping(s) if

[2016-10-27 02:55] AdamSpeight2008 commented on #14760
@CyrusNajmabadi In which it should be a warning.

[2016-10-27 02:57] CyrusNajmabadi commented on #14760
Code that is always contains a bug should probably be an error :)

[2016-10-27 02:59] CyrusNajmabadi opened #14767 "IBinaryOperatorExpression should indicate if it is a 'Lifted' operator or not."
Both C# and VB contain information in their BinaryOperatorKind if the operator was a 'Lifted' nullable operator or not.  Such information seems to be missing in the IBinaryOperatorExpression version that abstracts over both of these.

[2016-10-27 03:09] AdamSpeight2008 commented on #12939
The scope should be outer (widening) by default, requiring the coder to explicitly change the scoping when they require inner scope (narrowing). Prefix the variable identifier with `~` to specify inner scope is lightweight comprise.

[2016-10-27 03:13] AdamSpeight2008 commented on #14760
@CyrusNajmabadi but in legacy code it is valid. A warning would still permit their code to compile and execute. Unless they have warnings as error enabled.

[2016-10-27 03:17] AdamSpeight2008 commented on #14726
'Option Explict Off` enables usage of variable be explicit declaration.

[2016-10-27 04:05] AdamSpeight2008 commented on #14697
The variable being introduce should be to **outer** scope be default
[code]
 and explicitly require a code to specify a change to the **inner**. For example by prefixing `~` on the variable identifier.
[code]
[code]
**i prior exists**
[code]
[code]
[code]

if the type of `i` is incompatible with the one in the pattern, it is an error in all cases.

[2016-10-27 04:16] Pilchie opened #14768 "Include actual prerequisites in our vsixmanifests"
In #14741, I added `<Prerequisites>` sections to all of our vsixmanifests, but I only included the "Core Editor" piece.  We should think about the rest.

[2016-10-27 05:28] Kaelum commented on #14697
@AdamSpeight2008 if you want to propose a new feature, or change to existing functionality, you need to create a New Issue.  Spamming 3+ different threads won't get your idea actioned, only creating an issue can do that.

[2016-10-27 06:15] HaloFour commented on #14726
@AdamSpeight2008

That allows usage of the variable without an explicit declaration but it doesn't allow usage of the variable before an explicit declaration.  It also has the effect of defining the variable as type `Object` and performing all operations late-bound which is infinitely slower and loses the benefit of Intellisense.

[2016-10-27 11:41] vbcodec commented on #14726
@AdamSpeight2008
I like and use Strict Off, but they relaxed it too much, and code
[code]

is acceptable, while causing error at runtime. I don;t post it as error in compiler anyway, as they probably response with 'it is by design...'

[2016-10-27 11:48] zippec commented on #14731
I think that pattern-based approach looks attractive. Transforming identifier(...) to identifier.Invoke(...)
Smells both linq-ish and lambda-ish, which is nice.

[2016-10-27 12:15] sirgru commented on #14401
Ughhh... aside from the general usefulness, or ability to be implemented, that thing looks ugly, not to mention that it's easy to miss in the flurry of parenthesis. It's ugly in js by js standards of uglyness:
https://youtu.be/eGArABpLy0k?t=1m12s

It should be C# style: `(() => Console.WriteLine("Hello World")).Invoke()`

[2016-10-27 12:21] DavidArno commented on #14401
@sirgru,

How does adding `Invoke` deal with "the flurry of parenthesis"?

[2016-10-27 12:28] sirgru commented on #14401
@DavidArno Separates them visually and makes it clear it's an invocation.

[2016-10-27 12:29] dsaf commented on #14401
@sirgru I am pretty sure your style would also be possible. That's not the point here.

[2016-10-27 12:38] DavidArno commented on #14401
@sirgru,

That's purely a matter of opinion. I haven't used `Invoke` in so many years, I'd forgotten it even existed. So I read your version as "take a function, turn it into an object and then call some method called  `Invoke` on that object", which didn't in anyway make it obvious that the function was being run.

So as @dsaf says, your use of the optional `Invoke` doesn't really add to the disc

[2016-10-27 13:19] eyalsk commented on #12336
@whut

I'd go with something like this:
[code]
The reason is the string can be lengthy and it might be annoying to look for, some people might miss it so for readability I'd go with a prefix and not postfix. :)

[2016-10-27 14:39] #14480 closed

[2016-10-27 15:00] eyalsk commented on #14401
@sirgru

Given the following:
[code]
When you do:
``
a();
``
It's actually a syntactic sugar to:
[code]
Therefor both of them emits the same IL:
[code]
So I really don't understand how style is related to this proposal.

[2016-10-27 15:03] #14722 closed

[2016-10-27 15:14] sirgru commented on #14401
@eyalsk of course it is a matter of style.
When you do a(), a method call is intuitively expected. There is a word, and then there are parenthesis.
I would consider this a bad style:
` (() => Console.WriteLine("Hello World"))();`
Because it doesn't read like a method call.
Similarly, we don't have and don't expect:
MyDelegate?.();
Instead we do MyDelegate?.Invoke(); a fairly frequent occurrence.
T

[2016-10-27 15:24] mmitche commented on #14480
@333fred Okay this will get merged in when the next plugin update happens.

[2016-10-27 16:38] srivatsn commented on #13225
@jasonmalinowski can we get that PR merged?

[2016-10-27 16:48] alrz commented on #12939
Whatever is decided upon, will definitely affect other features like declaration expressions (#254) which can't be super useful compared to its statement counterpart if it doesn't restrict its own scope. In my opinion, when a language introduce a new idiom, it should make it preferable over other alternatives wherever it can; something that did not happened with string interpolation. We already ha

[2016-10-27 17:00] sirgru commented on #11773
I really like this proposal and the way it handles the solution with `this`. I came across the limitation in CRT pattern a couple of times and it has "bugged" me a few times. I think this is a separate proposal.
However, I am not convinced `this` should apply to derived classes.

Let's take the existing code example:
[code]
wouldn't it then be possible to compile this:
[code]

[2016-10-27 17:08] DavidArno commented on #12939
@vbcodec,

Whilst it's being nice having hugely disparate voices united in condemnation of  this badly thought through feature, I have to utterly disagree with your ideas on variable scope. The following is more wrong than @MadsTorgersen's daft leakage ideas:
[code]
The above goes completely against the way scope currently works in that an inner-scoped var cannot be delared with the same name as a

[2016-10-27 17:16] alrz commented on #12939
@DavidArno @vbcodec To me, it looks like variable shadowing but just like existing `out` arguments I think it's useful to be able to bind to existing variables also in patterns (#13400) which happen to address widening scope of the said variables into the enclosing block, though with a little more typing.

[2016-10-27 17:29] mavasani commented on #13211
This also repros in Dev14 (and probably even earlier). We don't get a code fix here because of syntax errors, you haven't even completed the declaration. If you type `public CommandLineArguments$ foo` then the code fix is indeed offered.

[2016-10-27 17:57] jasonmalinowski commented on #13225
It's not clear to me if it actually helped. :frowning:

[2016-10-27 18:01] CyrusNajmabadi commented on #13211
This used to work, and even if it didn't work in Dev14, it *should* work.  CodeActions are present in all sorts of error code, and users like the "Forward typing" approach where they are in the middle of typing legal code, but still want to invoke code actions along the way.

[2016-10-27 18:02] mavasani commented on #13211
This doesn't meet the RC bar though.

[2016-10-27 18:04] CyrusNajmabadi commented on #13211
That's fine.  I'm going to test this out on previous VSs to see where this regressed.  Note: my guess is that the root cause here is the usage of "incomplete member" and the compiler not binding those.  This is, IMO, an innapropriate parse here.  This should either just be a FieldDeclaration with a missing name, or the compiler needs to bind IncompleteMembers.

[2016-10-27 18:20] cston opened #14774 "UnboundLambdaState._returnInferenceCache returns LambdaSymbol with incorrect return type"
`UnboundLambdaState._returnInferenceCache` is defined with `MemberSignatureComparer` that compares return types, yet it can return a LambdaSymbol with a different return type.

See #14755.

[2016-10-27 18:33] mavasani commented on #13211
I quickly checked under the debugger and both the analyzer and debugger engine are fine. [AbstractGenerateMemberCodeFixProvider.RegisterCodeFixesAsync](http://index/?query=AbstractGenerateMemberCodeFixProvider.RegisterCodeFixesAsync&rightProject=Microsoft.CodeAnalysis.Features&file=CodeFixes%5CGenerateMember%5CAbstractGenerateMemberCodeFixProvider.cs&line=32) gets invoked with 1 target name, but i

[2016-10-27 18:42] CyrusNajmabadi commented on #13211
Investigating

[2016-10-27 19:07] gafter opened #14775 "Spec for ValueTask not in repository."
The [specification for ValueTask](https://github.com/ljw1004/roslyn/blob/features/async-return/docs/specs/feature%20-%20arbitrary%20async%20returns.md) is in @ljw1004's private repository, and not in the Roslyn master repository. Even the [language feature status page](https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md) points to that repo. We should probably capture

[2016-10-27 19:08] redknightlois opened #14776 "Expression-bodied function members doesnt accept MethodImpl attribute"
**Version Used**:
C# 6.0

**Steps to Reproduce**:

[code]

**Expected Behavior**:
Be able to hint the JIT to apply aggresive optimization on the expression-bodied function members (aka apply the ```MethodImpl``` attribute)

**Actual Behavior**:
Does not compile with: ```error CS0592: Attribute 'MethodImpl' is not valid on this declaration type. It is only valid on 'constructor, method' declaration

[2016-10-27 19:16] gafter commented on #14744
This appears to be a duplicate (i.e. a different symptom) of https://github.com/dotnet/roslyn/issues/14722, which is now fixed.

[2016-10-27 19:16] #14744 closed

[2016-10-27 19:23] AdamSpeight2008 opened #14777 "Alternative approach to introduction of variables into scope."
There have a been a few raised voices that the current and suggested approach to how the new language features introduce variable into scope.  He is my considered approach.

---

**Default to nearest outer scope**

The variable being introduce should be to **nearest outer scope** by default.

[code]

It simplifies one of the initial use cases, and I think the most likely usage.

[code]

into

[cod

[2016-10-27 19:24] gafter commented on #14760
@CyrusNajmabadi Code such as
[code]
is legal C# because the language specification allows it (by virtue of the spec-required `operator ==(int?, int?)`, thereby requiring a conforming implementation to compile that code. But we certainly can give a warning.

[2016-10-27 19:25] CyrusNajmabadi commented on #14760
I mean: make this an error *specifically* in teh Roslyn codebase.  There is 0 reason for us to ever have this sort of code ourselves :)

[2016-10-27 19:30] AdamSpeight2008 commented on #14760
@CyrusNajmabadi  In which case a Analyser and codefix is that is needed, and not a change to how the langauge works. :)

[2016-10-27 19:32] AdamSpeight2008 commented on #12939
Alternative #14777

[2016-10-27 19:33] gafter commented on #14776
That attribute is restricted to be applied to constructors and methods, but not properties. If you want to apply it to the get method, you'll have to use the more verbose syntax so that the get method is present and can have the attribute applied to it. In C# 7 you should be able to write this:

[code]

Your alternative is to request a change in the `MethodImpl` attribute, but I don't expect you a

[2016-10-27 19:33] #14776 closed

[2016-10-27 19:33] CyrusNajmabadi commented on #14760
I'm not asking for the langauge to change.  I'm asking for the feature that Neal has already written to simply run against the Roslyn codebase.   To be specific: Neal has a feature (behind some flag) that catches cases where people write code that is legal, but still totally broken.  We though that feature was running on the Roslyn codebase.  It isn't, and I and others have made this mistake in se

[2016-10-27 19:35] AdamSpeight2008 commented on #14775
Also @ljw1004 repo has the C# and VB.net language specifications which should be brought over to this repo.

[2016-10-27 19:38] gafter commented on #6939
Dup of https://github.com/dotnet/roslyn/issues/311

[2016-10-27 19:38] #6939 closed

[2016-10-27 19:40] gafter commented on #8270
This conflicts with #35, which we prefer.

[2016-10-27 19:40] #8270 closed

[2016-10-27 19:49] gafter commented on #10297
Closing as discussion appears to have died down.

[2016-10-27 19:49] #10297 closed

[2016-10-27 19:53] gafter commented on #12661
No, it is not possible to add attributes to local functions because the syntax does not permit it. Moreover, even if it were permitted, the testing frameworks do not support that.

[2016-10-27 19:53] #12661 closed

[2016-10-27 19:54] Pilchie commented on #14527
@mavasani Just to be clear is this an issue for RC?

[2016-10-27 20:06] Pilchie commented on #903
Putting back in Unknown - @kuhlenh want to clean this up and list the outstanding suggestions that *aren't* covered by the new FAR window so that we can prioritize?

[2016-10-27 20:10] redknightlois commented on #14776
Good to know that would be solved on C# 7. We have been using the workaround but it gets old to not being able to use the new syntax specially where it is useful for us.

[2016-10-27 20:12] mavasani commented on #14527
@Pilchie Nope, right now we are still invoking all IWorkspaceProjectContext APIs from the UI thread in CPS. I caught this because I added one invocation from background thread and caught this assert.

[2016-10-27 20:16] Pilchie commented on #14527
Thanks - moving to RTM for now then.

[2016-10-27 20:32] CyrusNajmabadi commented on #13309
Fixed with https://github.com/dotnet/roslyn/pull/14693

[2016-10-27 20:32] #13309 closed

[2016-10-27 20:33] TyOverby opened #14780 "Microsoft.CodeAnalysis.UnitTests.SolutionTests.TestRecoverableSyntaxTreeVisualBasic flaky"
https://ci.dot.net/job/dotnet_roslyn/job/dev15-rc/job/windows_release_unit64_prtest/259/console

[2016-10-27 21:24] vbcodec commented on #12939
@DavidArno
This retype of variables is new concept, as currently variables has static types, regardless of context. Really there will be second hidden variable (int for this example), that will be used inside new scope, and original variable must be updated, when hidden copy was changed.. But this retyping may be helpful, as determining new non-conflicting name for variable, very often is laboriou

[2016-10-27 22:17] eyalsk commented on #14401
@sirgru Are you serious?

But it is an option today! Why would it make sense when an instance of a delegate is assigned to a variable to be invoked in both ways and in this case it shouldn't? this would be inconsistent for people that likes parenthesis over `.Invoke` and again like @DavidArno and @dsaf stated this proposal has nothing to do with how YOU prefer it, it's about the capability to crea

[2016-10-27 22:36] huguesv opened #14785 "C# 'is' expression with template + array no longer compiles"
**Version Used**: Dev 15 RC build 15.0.25826.0

**Steps to Reproduce**:
1. Create C# console app, .NET Framework 4.6.1
2. Add the following method to Program class:

[code]
1. Compile

**Expected Behavior**:
Compiles with no error, like in VS 2015 Update 3.

**Actual Behavior**:
Compile error, red squiggles in editor.

[code]

[2016-10-27 22:43] CyrusNajmabadi opened #14786 "F5ing roslyn hive failed because of inaiblity to start remote host session."
This caused a failfast which brought down VS.

[code]

[2016-10-27 22:43] gafter opened #14787 "Counterintuitive steps needed to build and test compiler changes"
I am making some changes to the C# compiler's interaction with the debugger, and here are the steps I've figured out are needed to be able to test the changes in the product (including using the just-built compiler to build and debug a sample program):

1. Kill all processes DevEnv (visual studio), VBCSCompiler, MSBuild, and VSHub.
2. Delete the contents of `C:\Users\ngafter\AppData\Local\Microsof

[2016-10-27 22:51] eyalsk commented on #12939
@vbcodec In my opinion this sort of leakage can be confusing and introduce even more bugs.

[2016-10-27 23:59] MattGertz commented on #8757
Moving to RC due to requirements around .NET Core scenarios.  Might be RC2, though.

[2016-10-28 00:00] CyrusNajmabadi commented on #8757
Are those requirements specified anywhere?  This is the first i'm hearing about this :)

[2016-10-28 00:05] MattGertz commented on #8757
@CyrusNajmabadi Still in that meeting; bide a moment & I'll get you the details once I'm out of it.

[2016-10-28 00:07] #11408 closed

[2016-10-28 00:15] MattGertz commented on #8757
This relates to the scenario in [https://github.com/dotnet/roslyn-project-system/issues/583], which is actually an E2E-affecting scenario for the forthcoming .NET Core release (scenario S4, first user story -- I will send you the scenario link offline).  @morrisjoe or @balachir can give you more details on the scenario.  Not fixing this is apparently a regression from previous .NET Core usage.

[2016-10-28 00:24] vbcodec commented on #12939
@eyalsk
As for implementation, better way is to use hidden variable defined similar to ByRef / ref.
Do you mean implementation or conceptually troubles ? Do not think there are any problems, except shor time adaptation by users.
Can you provide examples how it is wrong ?

[2016-10-28 01:00] CyrusNajmabadi commented on #8757
tagging @srivatsn   Sri, if we wanted to add extension-method information to the Nuget index, how would we go about doing that?   I'm curious what the size impact would be as well.  Thanks!

[2016-10-28 01:34] balachir commented on #8757
Correct, this is a regression from Dev14 tooling behavior for ASP.NET Core projects. See the EXPECTED in dotnet/roslyn-project-system#583 - that's what you got with Dev14.

@abpiskunov did the implementation for this in Dev14. You could chat with him about ideas if needed.

Couple of examples with empty ASP.NET Core web app:
1. Type `services.AddMvc` in ConfigureServices method of Startup.cs and h

[2016-10-28 01:43] CyrusNajmabadi commented on #8757
I think making this work is not an issue.  The primary concern would be about what this would do to the size of the package index we download, and how much more ram it would need to keep that index in memory.

We'll need Sri to weigh in on the feasibility of that, and if it adds an unacceptable amount of cost to this scenario.  This will also affect things like how much cost we have for downloadin

[2016-10-28 08:31] msbasanth commented on #9270
Hi all,

I tried adding parsing options and updating the workspace. But it thew an exception. System.NotSupportedException: Changing parse options is not supported.
   at Microsoft.CodeAnalysis.Workspace.CheckAllowedProjectChanges(ProjectChanges projectChanges)
   at Microsoft.CodeAnalysis.Workspace.CheckAllowedSolutionChanges(SolutionChanges solutionChanges)

// Code I tried
var workspace = MSBui

[2016-10-28 09:56] msbasanth commented on #9270
I tried even with VisualStudioWorkspace same error. Is this feature of modifying the project properties using Roslyn is in plan?

[2016-10-28 10:22] vbcodec commented on #12939
@eyalsk

Yes, outside i want object, inside I want integer. What I want is different type, not different name. Such retyping is like function overloading or overriding, which is pretty good idea.

This is real issue, but easy to remove, as you can use different name for this case.

This is pretty relative, and heavily depend how well and clear code is created. Multiple retyping can create mess, an

[2016-10-28 11:50] eyalsk commented on #12939
@vbcodec

Well, if that's what you want then I'm not gonna argue about it but to me it doesn't make sense, I'd probably want to give it a more specialized name.

I don't _think_ that function overloading or overriding or even members that hides through inheritance and were redeclared has anything to do with it nor they are applicable to your argument.

So it's optional 20% of the time because afte

[2016-10-28 12:16] miloush commented on #14777
Interesting, I was under the impression that the two groups disagree on whether the variable should be in the outer scope in the first place.

Anyway, I am not a big fan of the `~i` syntax as `~` is already an operator for bitwise negation and sticking it in front of things that are not numbers looks strange and in front of numbers without that meaning confusing.

I agree that `(!(o is int))` is n

[2016-10-28 13:05] vbcodec commented on #12939
@eyalsk
Maybe I didn't stated it clearly. Retyped variable isn't separate variable with the same name as 'external' variable and different type. It is just pointer (like those in C++), linked to 'external' variable. So, it has consequences:
- changing value of retyped variable (pointer), changes value of original variable
- structures and primitive types are not copied to new variable (as new vari

[2016-10-28 13:28] HaloFour commented on #12939
@vbcodec Pointer or not that would still represent a variable that is shadowing another variable.  The fact that they might "point" to the same thing doesn't matter.  Also, such a proposal does nothing to address this problem in the greater picture of recursive pattern matching as there would be no original variable to shadow.

[2016-10-28 14:43] TheOtherSamP commented on #11773
That was absolutely not the intended meaning of the spec, no, but I believe you have highlighted an ambiguity on my part, so thanks.

To clarify, when I say

 I do strictly mean **itself**. Further derived classes are not allowed, so no, your example would not compile.

Perhaps the confusion stems from the following compiling example:
[code]

The relevant section from the spec is

So, when definin

[2016-10-28 14:53] sirgru commented on #11773
I see, this clears it up for me. Looks good.

[2016-10-28 16:07] AdamSpeight2008 commented on #14777
The use of the prefix (whatever it is), restricted to very specific cases.
That of "patterns" which could potential introduce a new variable. eg `out`
It those specific case where the desired intent of scope should be explicitly declared.

The use of '~' was merely a suggestion of prefix. Making the default nearest outer simplifies the use of  `out var`s in `TryParse` for example. Thus shouldn't c

[2016-10-28 17:03] gafter commented on #14519
This has occurred already due to the daily pull of changes from `dev15-rc` to `master`.

[2016-10-28 17:03] #14519 closed

[2016-10-28 17:06] gafter commented on #14519
Correction: This has now been done in 61cfacab711e3aaf46997aab4d882cfa6b7fb1ea

[2016-10-28 17:30] KevinH-MS opened #14793 "InvalidCastException when typing Tuple..."
![capture](https://cloud.githubusercontent.com/assets/6464209/19815826/82cb3a62-9cf9-11e6-9b8d-7e47948c7307.PNG)

`[internal file share]\dumps\14793\devenv.dmp`

[code]

[2016-10-28 18:18] gafter opened #14794 "Proposed changes for deconstruction, declaration expressions, and discards"
This week's LDM meetings (2016-10-25 and 2016-10-26) proposed some possible changes to the handling of deconstruction, declaration expressions, and wildcards that, even if done later, would affect the shape of compiler APIs today. That suggests we would want to consider what to do today so that we are compatible with that possible future. This is a summary of the proposed changes and their API imp

[2016-10-28 19:44] agocke opened #14796 "We need to rewrite the Lambda Rewriter"
It's just become too difficult to work in -- there are too many dictionaries with many possibly overlapping keys and values.

There are a few concrete changes I want to make:

1.  Remove LambdaRewriter.Analysis.RemoveUnneededReferences. This function loops over the capture analysis that was just completed and filters out things that are considered "unneeded" for closure creation. Then, the analysi

[2016-10-28 20:56] #13211 closed

[2016-10-28 21:02] tmat commented on #14796
I'd add that it would be nice if we could unify C# and VB a bit.

[2016-10-28 21:16] gafter commented on #14794
There is an interesting syntactic ambiguity arising from declaration expressions. Consider the code
[code]
Here the "tuple expression" on the left has a declaration for a variable `C` of type `A<B>`. However, the same "tuple expression" elsewhere
[code]
has a first subexpression equivalent to `(A < B) > C`. Writing the specification (and implementing the parser) to distinguish these two contexts w

[2016-10-28 21:21] gafter commented on #14794
Similarly, consider the code
[code]
Here the "tuple expression" on the left has a declaration for a variable `C` of type `A<B,D>`. However, the same "tuple expression" elsewhere
[code]
has a first subexpression equivalent to `(A < B)` and a second equivalent to `(D > C)`.

[2016-10-28 22:01] #14219 closed

[2016-10-28 22:22] gafter commented on #14794
Another advantage of adding support for wildcards today rather than later is that we can warn for unused pattern and out variables.

[2016-10-28 22:22] VSadov commented on #14796
@tmat  - C# and VB are fairly unified here, although there are necessary differences due to locals having different lifetimes.
We should definitely not let this code diverge without need though. Completely agree with that.

[2016-10-28 23:01] mgoertz-msft opened #14802 "XAML DocumentAnalyzer does not run for C++ projects"
XAML is supported for C++ as well. However, the VisualStudioWorspaceImpl's solution crawler may not have been started since neither the C# nor VB package may have been loaded.

[2016-10-28 23:01] CyrusNajmabadi commented on #7990
Hrmm, can't repro this anymore.

[2016-10-28 23:01] #7990 closed

[2016-10-28 23:11] HaloFour commented on #14794
While I understand the ambiguity issues of `*` it still seems like a better choice than `_`.  I can just imagine the massive pit of failure that will be people accidentally deconstructing into legally declared and used variables.

[2016-10-28 23:13] #13911 closed

[2016-10-28 23:17] CyrusNajmabadi commented on #14794
@gafter Can you show hte changes you intend to make to the foreach-syntax model?

Thanks!

[2016-10-28 23:18] CyrusNajmabadi commented on #14794
Actually, n/m.  I can see you describe it as:

[2016-10-28 23:19] jmarolf opened #14804 "Sprint 108 Summary"
# Visual Basic and C# Compiler Team Accomplishments
- Bugs, Bugs, more Bugs.
# Visual F# Tools Team Accomplishments

![image](https://cloud.githubusercontent.com/assets/9797472/19824998/262cae96-9d29-11e6-8ac3-3dd3df90cb60.png)
- Omar’s Fsharp.Editor work is in and is being dogfooded
- Kevin added embedded source for portable PDBs, which he loved dearly
- Bug fixes everywhere
- Omar’s work goes on

[2016-10-28 23:20] alrz commented on #14794
@HaloFour You can't accidentally do anything. because basically any mistake is a compile-time error. And more to the point of this thread, I can understand how it's easier to represent in AST because it would be merely a semantical change. In fact, just because it's an identifier, it allows you to use `T _` to represent type-check patterns without introducing any new syntax and further ambiguities

[2016-10-28 23:31] alrz commented on #14794
@gafter Regarding declaration expression ambiguities, I think it's better to require them to always be initialized. Any use case involving an uninitialized declaration expression can use a pattern instead.

[2016-10-28 23:36] shaggygi commented on #14804
Sorry for being a little slow, but could you explain (or point to a link that explains) [Redacted] for Interactive?

[2016-10-29 00:04] gafter commented on #14794
That was our intent. Declaration patterns can appear in an `out` argument, or in a tuple expression that is in a deconstruction context such as an `out` argument or the left-hand-side of an assignment expression or the target of a `foreach` loop.

[2016-10-29 00:07] #14708 closed

[2016-10-29 00:07] #14709 closed

[2016-10-29 00:07] #14740 closed

[2016-10-29 00:09] HaloFour commented on #14794
@alrz

Sure you can.  It would be impossible for the compiler to tell if you intend to deconstruct into a local variable or field in scope that happens to be named `_` or if you intend to use a wildcard:

[code]

Is this necessarily a common scenario?  Probably not.  But as a legal identifier it could never be ruled out.

[2016-10-29 00:19] vbcodec commented on #14794
@HaloFour

for pt as 2D point
`(_, y) = pt;`
change _ for 0, but for 3D point, variable _ will remain unchanged

[2016-10-29 00:22] CyrusNajmabadi opened #14806 "CodeFormatter crashes during 'ExplicitThis' phase when running on Roslyn.sln."
C:\GitHub\codeformatter [master ≡]> .\bin\CodeFormatter\Debug\CodeFormatter.exe /nounicode /copyright:c:\temp\copyright.txt C:\GitHub\roslyn-internal\Open\Roslyn.sln /rule:FormatDocument,ReadonlyFields,FieldNames,FormatDocument,ExplicitVisibility,Copyright
Roslyn.sln
        Syntax Pass
        Local Semantic Pass

[code]

[2016-10-29 00:22] Pilchie commented on #14749
This is what is intended by #7068.

[2016-10-29 00:22] #14749 closed

[2016-10-29 00:23] CyrusNajmabadi commented on #14806
Looks like some sort of bug in our Type-Circuilarity detection logic.

[2016-10-29 00:34] HaloFour commented on #14794
@vbcodec

Considering that parameters of deconstructor methods are always `out` it doesn't matter what method is resolved the `_` variable would always be overwritten.  I imagine that `Point3D` won't have a two parameter deconstructor, though.

[2016-10-29 00:45] vbcodec commented on #14794
@HaloFour
I meant that Point3D has only one method with three outs. If it have also second method with two outs, then compiler probably will pick that method, and variable _ will be changed. But method with two outs (for Point3D), will lead to messy results.

[2016-10-29 00:47] HaloFour commented on #14794
@vbcodec

I'm not entirely sure what that has to do with this discussion.  Either the compiler will find a suitable deconstructor method and `_` will be overwritten, or the compiler will not find a suitable deconstructor method and that will result in a compiler error.

[2016-10-29 00:51] vbcodec commented on #14794
@HaloFour
Wildcards allow to use methods with higher number outs than targed need (two in your example). So without support for wildcardsm compiler generate error, but with support for wildcards, there wont be error if last (or first) parameter will be _.

[2016-10-29 00:57] jmarolf commented on #14804
@shaggygi its a feature we haven't announced yet.  As soon as its public I'll go back through the notes and talk about it.  For now I thought it would be better to be transparent in letting people know we are working on *something*, just not what it is yet.

[2016-10-29 00:57] HaloFour commented on #14794
@vbcodec

I'm quite sure that this is not the case.  If you wanted to deconstruct `Point3D` and it only offered a 3 parameter deconstructor you'd be required to specify a combination of 3 legal identifiers and wildcards combined:

[code]

[2016-10-29 00:59] shaggygi commented on #14804
Gotcha.  Thanks for what you can provide publicly.  Hope to hear of feature soon.

[2016-10-29 01:11] vbcodec commented on #14794
@HaloFour
Ok, I got it. But I concluded my version from https://blogs.msdn.microsoft.com/dotnet/2016/08/24/whats-new-in-csharp-7-0/
If it do not allow to skip unwanted data (in term of quantity, not names), then there is low benefit.

[2016-10-29 02:25] tamlin-mike commented on #14697
Actually, that spam made me think of something that possibly could solve this issue.

I'm totally against allowing scope escaping by default, but if someone _really_ wanted it (for whatever reason), what if they could opt-in to that behavior?

I'm specifically thinking about an otherwise illegal token, where maybe <code>!</code> could stand out?

Example:
<code>if (o is int i) { /*' i' is live */

[2016-10-29 02:55] eyalsk commented on #154
It reminds me concepts in C++17. :)

[2016-10-29 05:50] MgSam commented on #14804
@shaggygi Just replace [Redacted] with [Clippy 2.0] and I think the feature becomes pretty clear :)

[2016-10-29 06:13] clambert commented on #14496
View.PopBroweContext and Edit.GoToDefinition is used like a mental call stack when looking through source code. I will F12 to go to definition and then poke around then do another F12 so forth and so on and I use View.PopBrowseContext to get back to where I was originally. View.NavigateBackword could easily be over 30 operations before I need to get back to where I started. Also I may be switching

[2016-10-29 06:22] Pilchie commented on #14496
@clambert You can add bookmarks and cycle through them already - check out the Edit -> Bookmarks menu.

[2016-10-29 06:30] alrz commented on #14794
@gafter I'm saying that in all those places, instead of a declaration expression we use a pattern so that the following would be possible,
[code]
Or something like that. Perhaps, only complete patterns would be allowed in these contexts (rel. #13400, #11293).

@HaloFour This is also applicable to `var`. That's a legal identifier and it could never be ruled out, right? But you'd never use a lowerca

[2016-10-29 09:20] orthoxerox commented on #14794
@HaloFour The easiest way out is to forbid (or warn against) tuple deconstruction, out var  and pattern matching into variables named `_` now in v7, before wildcards are implemented. Then only `out _` remains syntactically valid and the vNext compiler can emit a warning if variable `_` is shadowed by a wildcard of a different type.

[2016-10-29 09:27] orthoxerox commented on #154
@masaeedu the issue with their approach is that it doesn't support generic types well. Their proposed changes to type inference might help, but getting direct support for HKTs in the CLR would be even better.

[2016-10-29 09:45] vbcodec commented on #14804
Way too low for descripting current state of VB and CS.
Does async now works inside _catch_ section of _try..catch_ in VB ?
Does async stream generators are already implemented ?
More details pls.

[2016-10-29 12:06] heejaechang commented on #14074
I believe this is fixed.

[2016-10-29 12:06] #14074 closed

[2016-10-29 12:09] heejaechang commented on #9206
this bug is no longer relevant.

[2016-10-29 12:09] #9206 closed

[2016-10-29 12:58] miloush opened #14810 "Code Style settings not exported/imported"
**Version Used**: 2.0.0.61025

**Steps to Reproduce**:
1. Change Code Style preferences and severity.
2. Export settings.
3. Change them again.
4. Import settings.

**Expected Behavior**: Settings restored to exported values.

**Actual Behavior**: Settings left intact by import.

[2016-10-29 13:29] HaloFour commented on #14794
@alrz

The difference would be much more subtle.  The declaration of `var` as a valid type only prevents use of `var` as a contextual keyword, which at worst would lead to a compiler error when trying to use them both together.  That's not the case here.  Accidental use of both together could easily lead to perfectly legal code that results in unexpected overwriting of existing values in variables

[2016-10-29 13:45] miloush opened #14811 "Autocomplete filters Alt+ shortcuts interference"
Wanted to point out (sice I have run into this twice already) that the Alt+ keyboard shortcuts for filters in autocompletion list interfere with shortcuts for menus, i.e. you cannot open top level menus when the list is open. In English, that's E (enums vs Edit), V (events vs View), P (properties vs Project), D (delegates vs Debug), N (namespaces vs Analyze), and T (snippets vs Tools).

I see ther

[2016-10-29 14:00] axel-habermaier commented on #14794
@HaloFour: Is that really that much of an issue? Just write an analyzer that warns whenever someone declares a variable with name ``_`` in a non-wildcard position and that's it. That warning could even be implemented by the compiler itself in a new warning wave (#1580) -- speaking of which, warning waves unfortunately still do not seem to be implemented....

[2016-10-29 14:35] miloush opened #14812 "Autocomplete preselects wrong type after generic type's new operator"
**Version Used**: 2.0.0.61025

**Steps to Reproduce**:

[code]

**Expected Behavior**: `List<string>` to be preselected

**Actual Behavior**: `string` suggested

[2016-10-29 14:41] miloush opened #14813 "Autocomplete does not preselect enums in overloads"
**Version Used**: 2.0.0.61025

**Steps to Reproduce**:

[code]

**Expected Behavior**: `DateTimeStyles` to be preselected, so that dot can be pressed to commit.

**Actual Behavior**:
Last committed item is suggested, i.e.
when `using System.Globalization;` is already present: `CultureInfo` is suggested
when the using is added using quick fix during typing, `null` is suggested

[2016-10-29 14:52] vbcodec commented on #14794
@HaloFour

`if (o is int *)

cannot create ambiguity, because it is illegal (should be) to use wildcard in type switch, so it always will be interpreted as pointer. `

[2016-10-29 14:53] HaloFour commented on #14794
@axel-habermaier

Why should perfectly legal code now be a warning?

At least when Java decided to reserve `_` they did so over multiple versions of the language.  Not this wishy-washy scope shadowing exception.  I have the utmost respect for the C# team in trying to evolve the language while retaining backwards compatibility but there's a point where there's too much gray area.  In all previous e

[2016-10-29 15:09] vbcodec commented on #14794
@gafter
Why to use

[code]

than just

`M(_);`

?

[2016-10-29 15:45] dsaf commented on #14794
Was there a chance to re-visit the previous scoping decision as well #14697? Thanks.

[2016-10-29 15:58] dsaf commented on #14794
Why would wildcard ever be used next to type e.g. ```out int *```? Surely if you don't care about value you don't care about type either ```out var *``` or ```out *```.

[2016-10-29 16:02] HaloFour commented on #14794
@dsaf

Disambiguation with methods overloaded by `out` parameters.  This is true without using wildcards too:

[code]

[2016-10-29 16:06] dsaf commented on #14794
@HaloFour theoretically in well-designed code such method calls should be equivalent, but I understand that it can make a problem in practice. Maybe type can go postfix ```out * int```?

[2016-10-29 16:08] dsaf commented on #14794
On the other hand, two of the main competitors went for wildcards - and they were starting from scratch:

https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/Patterns.html#//apple_ref/doc/uid/TP40014097-CH36-ID420

http://docs.scala-lang.org/tutorials/FAQ/finding-symbols#keywordsreserved-symbols

[2016-10-29 16:09] dsaf commented on #14794
I know it's unrelated, but I kind of like this in Scala:

[code]

[2016-10-29 16:11] HaloFour commented on #14794
@dsaf

#3561 :)

[2016-10-29 16:14] dsaf commented on #14794
@HaloFour awesome! I wonder if using a different character helps or not though... Regardless, the industry should've stuck with proper keyboards: https://en.wikipedia.org/wiki/Space-cadet_keyboard

[2016-10-29 17:14] HaloFour commented on #14794
@dsaf

First thing that comes to mind looking at that keyboard is that Facebook could probably make a fortune selling keyboards with a dedicated "Like" button.

I do agree that care must be made when considering special characters as they might be very difficult to use with non-US keyboard layouts.  Now if you excuse me I need to order a Thunderbolt 3 Esc-key dongle.

[2016-10-29 22:31] dsaf commented on #14804
@jmarolf what is "Willow componentization"?

[2016-10-29 22:34] CyrusNajmabadi commented on #14811
This was discussed and was considered an acceptable tradeoff.  The thought was that the amount of times people would be wanting to open top level menus *while* intellisense was open would be suitably low.  We wanted very easy keystrokes for the completion filters, and that led us to this design.

[2016-10-29 22:35] shaggygi commented on #14804
@dsaf Willow is the code name for new VS installation UI for different development types....  desktop, Azure, Mobile, Python.  Do a search on VS Blogs as they have a few writings there about it.  I think there are few videos on CH9, as well.

[2016-10-29 22:41] dsaf commented on #14804
@shaggygi thanks!

[2016-10-30 05:07] AdamSpeight2008 commented on #154
@eyalsk  You've got the jist of the idea.

[2016-10-30 05:16] AdamSpeight2008 commented on #14794
How will `_` work with the line continuation character in VB?

[2016-10-30 08:01] eyalsk commented on #3561
Don't like the syntax but I really like the idea.

Personally, I'd go with Swift version as @lawrencejohnston said, simply because it's more flexible even though I know this proposal is designed for the _simple_ case.

Sometimes the predicate can be simple and yet depends on two/three parameters, I see no reason to restrict it to only a single parameter, a single parameter doesn't imply _simplicit

[2016-10-30 09:54] heejaechang opened #14817 "moved to service descriptor API when all VS is moved to RC"
currently, multiple versions of VS is used for roslyn (such as Jenkins using preview 5). once main VS is moved to RC, use new API in our code base.

[2016-10-30 11:01] miloush commented on #14811
Thanks. If I remember correctly the only menu item I ever wanted to open while intellisense was open was Tools to go to options, because something with the intellisense wasn't the way I wanted. Unfortunately no other letter from 'snippets' is free and one of the reasons to go to Tools was because I haven't seen the snippets I was looking for in the first place. However, I agree that all these are

[2016-10-30 11:01] #14811 closed

[2016-10-30 11:15] miloush commented on #14777
I understand the problem you are trying to solve, and I personally tend to prefer strict scoping rules, i.e. no leakage to outer scope, so I can't disagree with you. You can also use extra pair of brackets in your example:
[code]

I just think that making scoping adjustable would bring more problems than it solves.

[2016-10-30 14:19] mogmios opened #14818 "Low memory handling?"
In .NET or C# is there any standard cross-platform way to receive a low memory notice before actually running out of memory? With Xamarin you can use DidReceiveMemoryWarning and there seems to be a couple methods specific to Windows that appear to throw mystery errors when I try to use them.

I thought there might be some sort of event I could listen for but I'm not finding one. Simply marking fie

[2016-10-30 15:02] jmarolf commented on #14804
@dsaf whoops.  I forgot to clean that up.  @shaggygi  is correct, willow is the internal codename for the new Visual Studio installer that we announced [here](https://blogs.msdn.microsoft.com/vcblog/2016/08/22/the-lightweight-visual-studio-15-installer/). I'll edit the issue so this is clear.

[2016-10-30 15:04] jmarolf commented on #14804
@vbcodec The compiler team only worked on fixing bugs, no new compiler features were added this sprint.  I think I'll add the list of bugs that were fixed in a sprint so its a little easier to see the work being done.

[2016-10-30 15:08] DerpMcDerp commented on #12939
@vbcodec Your idea can't work because it would make the type system unsound as C# allows write access to the shadowed variable via variable capture:

[code]

[2016-10-30 17:24] gafter commented on #14794
There is no proposal to introduce `_` as a wildcard in VB.

What we are "looking for" depends on the context. `int **` is a valid type.

[2016-10-30 18:07] eyalsk commented on #14818
This is the Roslyn repo aka ".NET Compiler Platform" and what you're asking is kinda irrelevant to this repo, however, you can try this repo [CoreFx](https://github.com/dotnet/corefx/issues) or even this [CoreCLR](https://github.com/dotnet/coreclr/issues).

I don't know why Xamarin throws, well you probably refer to Mono not Xamarin but on Windows there's a low-level API called `CreateMemoryResour

[2016-10-30 18:29] gafter commented on #12123
This refactoring is correct under the current scoping rules.

[2016-10-30 18:29] #12123 closed

[2016-10-30 20:09] Chris2011 commented on #8379
After researching a bit and help from an other developer, I used JavaCC to parse a .jj file (based on a java grammar example file and rewrite it a bit for C#). You can see the result here: https://github.com/Chris2011/CSharp-for-netbeans/blob/develop/src/org/chrisle/netbeans/plugins/csharp4netbeans/filetypes/cs/jcclexer/cs.jj

It was based on this documentation: https://msdn.microsoft.com/en-us/li

[2016-10-30 21:45] mrolle45 opened #14820 "Cannot find API detailed documentation"
**Version Used**: N/A

**Steps to Reproduce**:
1.
2.
3.

**Expected Behavior**:I want to find documents about how to use this project or the programs built from it.
In particular, I want to use the Microsoft.DiaSymReader.Native package on NuGet.
In fact, I'd like to be able make general inquiries such as this to the appropriate place.  It doesn't seem that this is an issue with the product itself.

[2016-10-30 22:22] HaloFour commented on #14794
@gafter

Yes, `int**` is a valid type, but I don't think that really matters.  Type-switch isn't legal on pointer types.  That leaves `out` declarations and deconstruction.  In both cases the type is required to be followed by an identifier/target, so it's never technically ambiguous.  `M(out int*)` could only ever legally mean an `out` parameter of type `int` that is being discarded and `M(out in

[2016-10-31 07:53] DavidArno commented on #14794
@HaloFour,

Maybe I'm misunderstanding @gafter's description here, but your code results don't match my take on what he said, specifically with the code example:
[code]
and the "semantically we want this to create an anonymous variable, and shadow any true variable (e.g. parameter or field) from an enclosing scope named `_`" comment after that. That suggests to me that the following would occur:
[

[2016-10-31 08:03] ErikSchierboom commented on #14794
I think moving from `*` to `_` is a great choice, particularly because so many other languages use the `_` character for wildcard handling (F#, Scala, Haskell).

[2016-10-31 08:37] DavidArno commented on #14794
I feel that the whole "*semantically we want this to create an anonymous variable, and shadow any true variable (e.g. parameter or field) from an enclosing scope named `_`*" approach is possibly the wrong one to take. For the code snippet,
[code]
the fact that `var (x, _) = point;` doesn't modify `_` will cause a lot of confusion and bugs. A less error-prone approach could be to:
1. disable wildca

[2016-10-31 09:01] DavidArno commented on #14777
@miloush,

That is the key flaw to this proposal. I read "*The variable being introduce should be to nearest outer scope by default.*" and completely disagreed. I feel if such a feature were introduced, then any `out/is var`'s should not leak at all by default and should require explicit leaking via a keyword or symbol if that's what's wanted.

So, reluctantly, I think you are right that "*Overall

[2016-10-31 09:16] diryboy commented on #14794
How about `-`(minus) for wildcard?
[code]
Looks like no ambiguity, and no need to hold <kbd>Shift</kbd> to type it.

[2016-10-31 10:50] diryboy commented on #14731
The example of the static operator method does not use anything of your `Add` class. Why would I need to `new Add()`?

[2016-10-31 10:56] Drawaes commented on #14731
That is what I was saying earlier and with static using you could just have
Add () without the new in your class.

On 31 Oct 2016 10:51 a.m., "Paul Chen" <notifications@github.com> wrote:

[2016-10-31 12:18] vbcodec commented on #14794
@DavidArno @HaloFour
@gafter wrote "We want to support both the "short form" _ and the "long form" var _ just in case there is an ambiguity with, for example, a field in scope."

That means (for compiler with support for wildcards):

[code]

without defined variable _

[code]

The point is, that every defined _ preserve value if subsequent deconstruction will be like _(x, var _) or var (x, _)._
Th

[2016-10-31 12:18] HaloFour commented on #14794
@DavidArno

My code examples are for how I think it should behave, not how it behaves given the description above.  I think that we're largely on the same page that wildcards and explicitly declared `_` variables/fields should *never* mix.  That's why:

[code]

With `_` in scope wildcards are not possible, so the deconstruction declaration would fail just as it would if that variable were named an

[2016-10-31 12:21] DavidArno commented on #14794
Ah, my apologies. I misunderstood you.

I think that "*I think the compiler should go forward and forbid use of `_` in deconstruction if it's not a wildcard*" is a very sensible suggestion.

[2016-10-31 12:23] raffaeler opened #14823 "MetadataReader: How to retrieve property or method return type?"
**Version Used**:  1.3.2
**Steps to Reproduce**: N/A

I can successfully obtain the PropertyDefinition or the MethodDefinition but yet don't know how to obtain the return type (TypeDefinition or TypeReference).

Can someone point me to the right direction? (I need to use the Metadata API only)
Thank you

[2016-10-31 12:30] alrz commented on #14794
:+1: There is no reason to support deconstructing to a variable named _ specifically because these are new features and there is no backward compatibility issue in doing that. However, if we want _ as wildcard I think it is mandatory to be implemented whenever deconstructions are introduced, i.e. now.

[2016-10-31 14:27] vbcodec commented on #14794
@DavidArno
They not decided to support wildcards, but to make room in syntax and semantics for possible future implementation. For now _ remain just indetifer and can be declared only once in the scope, and use it as ;temporary widcard' may be problematic

[code]

with added support for wildcards, code is much better

[code]

The only problem is with last line, where new variable _ cannot be added

[2016-10-31 14:33] DavidArno commented on #14794
@vbcodec,

As per the last line of @gafter's OP: "*I suspect the simplest way to do that is to implement wildcards today.*" I think you therefore mistaken.

[2016-10-31 14:37] HaloFour commented on #14794
@gafter

Just to note, it's also common to see developers using `_` in lieu of a form of #3561:

[code]

@vbcodec

Allowing for `_` to sometimes be a wildcard and to sometimes be a variable and to sometimes allow deconstruction to splat all over a perfectly legal value is the very antithesis of clear and logical.

[2016-10-31 15:17] vbcodec commented on #14794
if _ makes so much confusion, then let they switch from _ to #

[2016-10-31 15:33] gafter commented on #9021
Due to [changes recently proposed by the LDM](https://github.com/dotnet/roslyn/issues/14794), if we implement wildcards in C#7 we will likely want this warning.

[2016-10-31 15:34] gafter commented on #12225
Due to [changes recently proposed by the LDM](https://github.com/dotnet/roslyn/issues/14794), if we implement wildcards in C#7 we will likely want this warning.

[2016-10-31 15:48] mgoertz-msft commented on #14802
Closed with PR #14803.

[2016-10-31 15:48] #14802 closed

[2016-10-31 16:13] xoofx commented on #9039
FYI, wrote a blog post about [valuetype discriminated unions](http://xoofx.com/blog/2016/10/28/efficient-discriminated-unions-in-csharp/)... While I'm more in favor of valuetype for performance reasons, we could have a syntax that could support both options.

[2016-10-31 16:18] gafter commented on #14820
@tmat Can you please field this question? Where are docs and/or samples for `DiaSymReader.Native`?

[2016-10-31 16:19] gafter commented on #14823
@tmat Can you please field this question about the metadata reader API?

[2016-10-31 16:29] raffaeler commented on #14823
BTW I just retrieved the return type by *manually* decoding the BlobHandle of the signature with the help of the ECMA-335 specs.

I can see the MetadataDecoder already exists in the source code, but I can't see a public entry point.
Manual decoding is risky since there could be multiple use-cases where the stream length can change and cause a fault in my code.

TIA

[2016-10-31 17:08] tmat commented on #14823
You can use ```MethodDefinition.DecodeSignature``` and ```PropertyDefinition.DecodeSignature```: https://source.dot.net/#System.Reflection.Metadata/System/Reflection/Metadata/TypeSystem/MethodDefinition.cs,67.

Note that these methods are only available since version 1.4.1.

[2016-10-31 17:08] ollka opened #14825 "VS 2015 crashed on C# 7 out var usage"
Please check that this code is compiled fine. My VS 2015 version crashed on this piece of code.

**Steps to Reproduce**:

[code]

**Expected Behavior**:

**Actual Behavior**:

[2016-10-31 17:11] raffaeler commented on #14823
This explains why I couldn't see in the most obvious place :)

I can't see any packaged stable version post 1.3.2.
Am I missing something?
Should I wait for the final 2.0 which is currently in beta?

Thanks

[2016-10-31 17:14] tmat commented on #14823
System.Reflection.Metadata is a separate package - the library is included in Roslyn distro but also available as a separate nuget. Pre-release versions are available on myget: https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Reflection.Metadata.

[2016-10-31 17:17] raffaeler commented on #14823
Got it, but unfortunately I will have to wait for the release bits due to internal customer requirements.
Thanks!

[2016-10-31 17:17] #14823 closed

[2016-10-31 17:44] tmat commented on #14820
The best place to start is https://github.com/dotnet/symreader.

(We should update the link on nuget to point to that repo.)

[2016-10-31 17:57] #14725 closed

[2016-10-31 18:00] cston opened #14826 "EE reports System.Linq.Enumerable extension method not found if System.Linq namespace is unused"
Debug the following and at the breakpoint evaluate: `args.Where(a => a != null)`
[code]
Result:
[code]
Expected (see VS2015 Update 3):
[code]

[2016-10-31 18:05] #14820 closed

[2016-10-31 18:07] AdamSpeight2008 commented on #14777
@DavidArno _"The variable being introduce should be to nearest outer scope by default."_
Would allow existing patterns to be simplified and still maintain semantics.

eg **Guards**
[code]

The following code
[code]
would translate into
[code]
And the following
[code]
into
[code]

[2016-10-31 18:26] TyOverby commented on #9087
@rchande Should this issue be closed?

[2016-10-31 18:30] gafter commented on #14825
This is an infinite recursion caused by the fact that we bind the arguments of an invocation before the method group (receiver) in `Binder.BindInvocationExpression(InvocationExpressionSyntax, DiagnosticBag)`. Here is a test:

[code]

[2016-10-31 18:31] gafter commented on #14825
The same issue would arise for pattern-matching.

[2016-10-31 19:08] #14651 closed

[2016-10-31 19:28] jreumuth opened #14830 "Proposal: params IList"
I frequently have to write functions such as the following:
[code]

It would be nice if I could just do:
[code]

and this would effectively be the same as the first two functions above, i.e. I could pass in an string[], List<string>, or "abc", "def", "123".

This would also make some bugs less likely. For example, if you have:
[code]

And you do this:
[code]
This will (unexpectedly) call the first

[2016-10-31 19:30] #9087 closed

[2016-10-31 19:44] jreumuth opened #14831 "Proposal: finally (Exception ex)"
I frequently want to write finally code that does something slightly different if there was an exception thrown. Or put another way, I frequently want to write similar, but not identical, code in a catch block and a finally block. I end up having to do something such as:
[code]
Or such as:
[code]
It would be nice if I could instead write:
[code]
I would also be able to write:
[code]

[2016-10-31 19:49] gafter opened #14832 "Work Breakdown for "Proposed changes for deconstruction, declaration expressions, and discards""
This is a breakdown of the work needed to implement the changes described in https://github.com/dotnet/roslyn/issues/14794 ("Proposed changes for deconstruction, declaration expressions, and wildcards")

### Language design loose ends

- [x] We need to specify more precisely the interaction of existing declarations (named `_`) with wildcards. (1 LDM meeting or less)
- [x] We should record the spec

[2016-10-31 19:59] genlu opened #14833 "[Test Failure] BasicWinForms failed in windows_vsi_p1_open_prtest on PR #14824"
Following 2 vsi tests failed in windows_vsi_p1_open_prtest on PR #14824
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p1_open_prtest/550/

BasicWinForms.Add a Click() Handler
BasicWinForms.Rename the control

[code]

[2016-10-31 20:04] genlu commented on #11984
This particular test failed again but seemingly with a different exception.
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p2_open_prtest/569/

[code]

[2016-10-31 20:20] agocke commented on #14796
/cc @jaredpar For planning around this.

[2016-10-31 20:25] cston opened #14834 "InvalidOperationException in PlaceholderLocalSymbol.IdentifierToken evaluating duplicate declaration"
Debug the following in VS 2015 Update 3:
[code]
At the breakpoint, evaluate:
[code]
[code]

[2016-10-31 20:27] cston commented on #14834
The issue no longer repros after  https://github.com/dotnet/roslyn/commit/df48ec6fcc6d5abca1db73d2b2b6d2daa2db507e.

[2016-10-31 20:28] CyrusNajmabadi commented on #14832
Discussed this with @gafter .  We have test coverage for the areas this would hit.  Expected fallout cost on the IDE side should be minimal.  We may need additional logic to detect new error conditions (for example, warning when renaming something to '_').  We may also want new features (for example, a feature that suggests using a wildcard when a pattern variable is unused).

We may also want som

[2016-10-31 20:33] cston commented on #14834
A regression test should be added.

[2016-10-31 21:06] YaakovDavis commented on #14731
Have you seen this?
[Roslyn fork for Concept C#](https://github.com/CaptainHayashi/roslyn)

[2016-10-31 21:20] ahowroyd opened #14838 "Suggestion - Editor - Auto-complete of overridden properties"
Love the new one line property getter syntax....

public override int Test => 7;

It would by super nice if the 'override' autocomplete had a way to know that the user wants to use the short syntax rather than the full form.  (otherwise the user is left deleting several lines after each use).

One suggestion might be for '=' key or space bar to be intercepted as an alternative to enter during auto

[2016-10-31 21:33] #14825 closed

[2016-10-31 21:59] Pilchie commented on #14838
@CyrusNajmabadi This is handled by your PR for expression bodied member support, right?

[2016-10-31 22:11] dsaf commented on #14830
#36

[2016-10-31 22:37] #14785 closed

[2016-10-31 22:45] CyrusNajmabadi commented on #14838
Yes.  We will now honor the user choice here.

[2016-10-31 22:57] VSadov commented on #14603
looks like it works fine now.
Could be caused by file sharing problem.

[2016-10-31 23:01] VSadov commented on #10544
fixed by https://github.com/dotnet/roslyn/pull/14418

[2016-10-31 23:01] #10544 closed

[2016-10-31 23:06] VSadov commented on #12797
https://github.com/dotnet/roslyn/issues/10891   should make this problem unreachable since the code would be cause a compile error

[2016-10-31 23:06] #12797 closed

[2016-10-31 23:27] alrz commented on #14832
Now that the wildcard is settled for vnext, I'd like to know about the final decision toward using wildcard and default case in switch? Restating from #8818,

Whereas with `case _` subsumption rules will be applied.

Per https://github.com/dotnet/roslyn/issues/11438#issuecomment-232770018

So it will be allowed to use wildcard with a default case in a switch statement?

[2016-10-31 23:48] AlekseyTs opened #14841 "Possibly missing an error about tuple name mismatch for an implemented interface via base class"
[code]

Observed:
[code]

Expected: A similar error about class Derived because base implements an interface with different tuple names.

CC @VSadov, @jcouv, @agocke

[2016-10-31 23:49] jasonmalinowski opened #14842 "Unify roslyn-bot and vslsnap accounts and upgrade security"
Right now roslyn-bot and vslsnap both exist, and we only need one. We also should look at moving them over to deploy keys or something a bit newer.

[2016-10-31 23:54] alrz commented on #9039
@xoofx Great post! That's something along the lines of #6739. A minor point: It'd be nice if `enum struct` generate a type-safe union (with FieldOffset, etc), but currently it will be blocked on CLR limitations (e.g. #8456). However, I'd be ok with something similar to Java enums (same thing that is proposed in #6739) but it seems that it's patented. If anything, it would be really helpful if at l

[2016-10-31 23:56] AlekseyTs opened #14843 "Possibly missing an error about tuple name mismatch with a type constraint"
[code]

Observed: No errors

Expected: An error about tuple name mismatch with constraint.

CC @VSadov, @jcouv, @agocke

[2016-11-01 00:22] AlekseyTs opened #14844 "Attributes for tuple names are applied to wrong targets in metadata"
It looks like, in case of implemented interfaces and type parameter constraints, the TupleElementNames attributes are applied to type references. This is incorrect, type references are unique and are shared across all reference sites, which means that all attributes from entire program are applied to the same target. The attributes should be applied to individual records in InterfaceImpl and Gener

[2016-11-01 00:28] jcouv commented on #14449
Thanks for reporting this. Just got back from vacation. I'll look into it shortly.

[2016-11-01 00:50] la-yumba commented on #13361
@svick that sounds good, but... unfortunately I get

[code]

when trying to compile a new netcoreapp1.0 console application
.NET Command Line Tools (1.0.0-preview2-003131)
Windows 8.1

any suggestions?

[2016-11-01 02:15] Pilchie opened #14845 "Fix for CS0012 should prefer NuGet packages when possible"
**Version Used**:
VS 2015 Update 3.

**Steps to Reproduce**:
Intellisense suggests a fix for CS0012 that is to directly reference the needed assembly. If the assembly is coming from a NuGet package, this is incorrect behavior as the project will be referencing the assembly from the package without declaring a dependency on the package. Depending on the project build order this can cause non-determ

[2016-11-01 02:33] gafter commented on #14832
@alrz I don't understand your question. A `default:` case doesn't have an identifier that could be a wildcard. Are you wondering if both a `default:` case and a `case var _:` would be permitted in the same switch? If so, the answer is the same as if the identifier is something other than `_`: yes.

[2016-11-01 02:38] gafter commented on #14830
Yes, if we do #36 we would make it work for any type for which there is an implicit reference conversion from the array type. Thus this would work as a side-effect of #36.

[2016-11-01 04:09] kuhlenh opened #14846 "Convert Property To Method doesn't preserve formatting correctly"
![image](https://cloud.githubusercontent.com/assets/1402694/19879267/2d9539b4-9fae-11e6-9307-f0db5263a6a7.png)
refactors to:
![image](https://cloud.githubusercontent.com/assets/1402694/19879263/27fe1304-9fae-11e6-8b9f-76e61a10d1a1.png)

My eyes! 👀

[2016-11-01 04:36] Pilchie commented on #14565
Should this be resolved now?

[2016-11-01 04:37] Pilchie commented on #14556
Should this be resolved now?

[2016-11-01 06:20] DavidArno commented on #14830
@dsaf, @gafter,

My immediate reaction to this suggestion was "why `IList<T>`, why not `IEnumerable<T>`?". Good to see #36 has that covered and that it's something that might really happen.

[2016-11-01 06:32] xoofx commented on #9039
For the explicit layout problem with T , this can be solved by packing non T-blitable types into a internal struct with explicit layout, and place T types/object types on their own slots. The structured enum would not be declared with an ExplicitLayout, only parts of its internal representation/packing.

So suppose you have a type like this:

[code]

The generated parent struct `Variant<T>` could

[2016-11-01 11:45] DavidArno commented on #14777
@AdamSpeight2008,

Yep, I get that. The bit I disagree with is that `out/is var`'s should leak out into the outer scope by default, ie I'd go for the total opposite of your proposal, requiring explicit request for leakage into the outer scope, with non-leakage the default.

But I agree with @miloush that having the two systems, regardless of which is the default, will likely lead to even more conf

[2016-11-01 12:13] AdamSpeight2008 commented on #14777
Think that this is partially due to the use of `enclosing` and `enclosed` in respect to the scope.
To me `enclosing -> nearest outer scope` and `enclosed -> nearest inner scope`.

[2016-11-01 12:31] DavidArno commented on #9039
@xoofx,

Re the comment on your blog:

Are these two things truly mutually exclusive? I see two potential options here:

1. Just as F# is changing its tuple model from the class-based `Tuple<...>` set to the struct-based `ValueTuple<...>` set, could F# not likewise change the underlying implementation of DU's to your `struct enum` proposal?
2. Alternatively, is there any reason why C# couldn't off

[2016-11-01 12:50] xoofx commented on #9039
@DavidArno indeed, as I responded later to a user comment, I don't mind having both, as long as we have a valuetype DU. It would make actually the compatibility possible (though I would not project it the same way F# is doing it today).

[2016-11-01 14:34] cston opened #14850 "msbuild output does not include additional VB error text"
Create a VB project with the following, and build from `msbuild` or VS.
[code]
Result:
[code]
Expected specific missing member:
[code]

[2016-11-01 14:47] zippec commented on #14720
This can be represented by flags enum reasonably well
[code]
You can check for presence in group by calling `var isBird = someAnimal.HasFlag(Animal.Bird);`.
Also with binary literals in C#7, this will be even easier to write.

[2016-11-01 15:04] sirgru opened #14853 "Proposal: Automatic fields and properties setting from the constructor"
Currently there is a bit of of excess boilerplate around setting fields and properties passed through the constructor.
Just for example:

[code]
There seems to be a lot of repetition around the 'this' and variable name repeats.
There have also been some solutions for this:
https://github.com/dotnet/roslyn/issues/11909 - Parameter properties like in TypeScript.
The drawbacks I see with this:
1) The

[2016-11-01 15:10] mburbea commented on #14831
Can we just add a fault clause like the CLR supports? `fault` is like finally but only executes if a try block does not exit normally. It evaluates after the catch block, but I do not know if you can reference exceptions caught in earlier blocks.

[2016-11-01 15:39] jcouv commented on #14449
I tried typing the code below and tried typing a few triggers at the `$$` mark (return, tab, comma and close-paren). They all behaved as I expected (completing the word "DependencyObject").
The colon trigger also behaved as I expected (not completing the word).

@CyrusNajmabadi I'll stop by to confirm with you.

[code]

[2016-11-01 15:44] DavidArno commented on #14853
This sounds like various ideas already covered by the plans for [record types](https://github.com/dotnet/roslyn/blob/features/records/docs/features/records.md)?

Also, it's worth remembering that C# 6 already allows some of that boiler plate to be reduced:
[code]
but, of course, being able to write:
[code]
would be even better.

[2016-11-01 15:48] mogmios commented on #14818
Ok, I'll look at those places. And will look at CreateMemoryResourceNotification.

Just for completeness, it was MemoryManager AppMemoryUsageDecreased and most of the related functionality that would compile ok but then throw errors at runtime that didn't seem to make any sense. Happened when registering any of the events and with most method calls.

[2016-11-01 16:04] svick commented on #14831
What are the use cases when you would find this useful?

[2016-11-01 16:33] CyrusNajmabadi commented on #14449
Perhaps your fixes didn't make it into the right branch.  If this is fixed, and we have tests for this experience, then this can be closed out (ideally with the corresponding PR of yours where you did this work).

[2016-11-01 17:09] alrz commented on #9039
@xoofx  In your example `$PackedStruct` is still a generic type and causes a type load error. It probably need to be declared as a non-nested type.

[2016-11-01 17:19] alrz commented on #14831
bool finished = false;
try {
    // do stuff
    finished = true;
} finally {
    // do stuff
    if (!finished)
        // do more stuff
}
[code]
if you want to know that the control reached a certain point perhaps you can use nested try catches.

[2016-11-01 17:29] mburbea commented on #14831
I think its best to consider a method with many catch handlers...
[code]
Now let's say I need to add logging to eventviewer on failure stating that the method just finished abnormally. I can either wire that logging code in each block, or do it as a set of exception filters but that's still me repeating the same code three times, I could use a `bool finished`, but that's ugly.

This is the case fo

[2016-11-01 17:30] eyalsk commented on #14731
@diryboy

In C# static classes cannot overload operators and the examples I provided are very simplistic, the point of the example you refer to wasn't to show a real world application but mostly the syntax for it.

In the real world Add _might_ derive from `BinaryOperator` or/and it might have some state depends on context and whatnot.

No you can't because in C# constructors need to be parameterl

[2016-11-01 17:33] xoofx commented on #9039
@alrz ah! maybe, haven't checked actually... but yeah, putting it outside will solve the issue.

[2016-11-01 17:38] alrz commented on #14831
[code]
A fault block does not seem anything near finally(..) thought.

[2016-11-01 17:44] #14761 closed

[2016-11-01 17:49] mburbea commented on #14831
That's still pretty ugly and introduces additional nesting. The CLR supports it, and actually can generate it in the case of using statements in asyc and iterator blocks.
Here is the case of how it would generate in an iterator block:
http://stackoverflow.com/a/16930005/468672

[2016-11-01 18:14] dpoeschl commented on #14554
A couple of assertions

[code]

[code]

And then a null reference:

[code]

[2016-11-01 18:16] asoifer commented on #9270
@msbasanth Hi, I see you are trying to update parse options to the solution instead of updating the project, also I think you dont have to apply any changes to the workspaces or solutions because that objects are inmutables. Did you try our solution?

[2016-11-01 18:17] agocke opened #14857 "Microsoft.Net.Compilers.nuspec authoring may be incorrect for RC"
The authoring here: https://github.com/dotnet/roslyn/blob/dev15-rc/src/NuGet/Microsoft.Net.Compilers.nuspec

Seems to have most facades included, but it is missing System.ValueTuple.dll, which may be necessary for csi.exe.

[2016-11-01 18:19] jaredpar commented on #14857
@tmat it looks like the NuSpec wasn't updated when you took a depnedency on ValueTuple.

[2016-11-01 18:45] miloush commented on #14449
I confirm I cannot reproduce this on latest builds.

[2016-11-01 19:05] Pilchie commented on #14793
@rchande - can you take a look at this?

[2016-11-01 19:53] gafter opened #14862 "Name Lookup for Wildcards"
We are considering a number of [small changes to deconstruction, out variables, and pattern-matching](https://github.com/dotnet/roslyn/issues/14794) to allow the use of *wildcards* where one could declare a variable, but the user has no intention of using the value captured in that variable. Here we discuss an open issue around name lookup, and propose a resolution.

The summary of this proposal i

[2016-11-01 19:54] gafter commented on #14862
/cc @dotnet/ldm @jcouv @AlekseyTs @jaredpar @VSadov

[2016-11-01 19:55] gafter commented on #14832
See also https://github.com/dotnet/roslyn/issues/14862

[2016-11-01 20:31] asecchia opened #14864 "Need roslyn test snapshot"
#1 – I agree, we can use the dev15-rc snapshot for the Roslyn once we enter Escrow. I can take up this work.

Snapshot for memory test

@mavasani

[2016-11-01 20:34] tmat commented on #14857
Is it not gonna be fixed by https://github.com/dotnet/roslyn/pull/14859?

[2016-11-01 20:37] HaloFour commented on #14862
To clarify, if there are no ambiguous overloads of a method declaring `out` parameters you may use `_` as a simple wildcard without the declaration syntax?

[code]

While I do think that this is an improvement on the original proposal I still there that there is too much room for ambiguity and the potential for accidentally overwriting legally declared fields/variables:

[code]

I'd argue that for

[2016-11-01 20:40] heejaechang commented on #13248
@shift-evgeny it seems not repro on d15. have you tried on dev15? not d14. also, the last description looks like implying that your VS installation is messed up. do this in vs command prompt to fix them up.

devenv /updateConfiguration

[2016-11-01 20:40] #13248 closed

[2016-11-01 20:43] jaredpar commented on #14857
That is for master only.  Change is too destructive for RC.

Should be possible to grab the resulting nuspec though and port it directly to RC

[2016-11-01 20:57] #14243 closed

[2016-11-01 21:18] alexperovich opened #14866 "Roslyn fails to load analyzer dependency assemblies"
**Version Used**: 2.0.0-beta3

**Steps to Reproduce**:

1. sync to dotnet/corefx master
2. Replace BuildToolsVersion.txt with the following:

3. run init-tools.cmd
4. touch foo.cs
5. run csc using `Tools/dotnetcli/dotnet.exe Tools/csc.exe` with the following commands:

/out:foo.dll
/analyzer:Tools/analyzers/Desktop.CSharp.Analyzers.dll
foo.cs

**Expected Behavior**:
binary foo.dll is produced with

[2016-11-01 21:33] HaloFour commented on #14831
@mburbea

Depends.  `fault` handlers have no access to the thrown `Exception` so their usefulness in a lot of those scenarios might be pretty limited.

For common exception handling scenarios I think that Java's approach might be cleaner:

[code]

That doesn't really solve the problem that this proposal is trying to solve, but I don't think any out-of-the-box tools do.  Having the `finally` block

[2016-11-01 21:54] CyrusNajmabadi commented on #14794
@AdamSpeight2008  The right decision here is to probably use a new keyword for VB.  I suggest "Underscore" as the name of the keyword.  So "_" will be used for line continuation.  And "Underscore" will be used when you don't wan to name something :)

[2016-11-01 21:58] AnthonyDGreen commented on #14794
@AdamSpeight2008

In VB the wildcard will likely just be *. That's been the working assumption for a while now.

[2016-11-01 22:06] vbcodec commented on #14862
@HaloFour
Forcing to deconstructions like _(x, var _, var _, var_)_ and inability to deconstruct into _ is antithesis of improvement.

For private _ there may be warning for such cases.

@gafter
Disabling leakage `var _` from deconstruction into enclosing scope is further complication already complicated rules of scoping described #12939

Do we need wildcards in typeswitch at all ? imo, it is usel

[2016-11-01 22:08] gafter commented on #14864
@mavasani I have no idea what this is about. Can you please engage the user to clarify and assign an area?

[2016-11-01 22:14] gafter commented on #14794
@CyrusNajmabadi The `_` character used to be called `SPACING UNDERSCORE` in Unicode, but its name has changed to `LOW LINE`. So the VB keyword should probably be `LowLine`. 😉

[2016-11-01 22:23] gafter commented on #14862
Providing the user a way to avoid declaring an identifier allows us to warn when the declared identifier is unused.

We don't think any of those are an improvement over `_`, and most other languages with a similar concept appear to agree. A wildcard, representing as it does something that the user intends to ignore, should be as low profile as possible, and nothing is lower profile than the [Unico

[2016-11-01 22:24] vbcodec commented on #14794
@AnthonyDGreen
Character * is best, preserve it for VB. as it do not collide with any name and look very well,
Also could be nice to write
`(Dim x, *) = (1,1)`
than
`(Dim x, Dim *) = (1,1)`

[2016-11-01 22:49] mavasani commented on #14864
@gafter This is for a change to our RPS performance tests.

[2016-11-01 22:55] dsaf commented on #14862
Shouldn't that 0.01% of developers who are currently actually using ```_```'s value be somehow punished anyway?

@vbcodec

Yeah, not sure why we need two ways:

[code]
[code]

[2016-11-01 23:02] dsplaisted opened #14870 "Microsoft.CSharp.Core.targets and Microsoft.VisualBasic.Core.targets should add themselves to the MSBuildAllProjects property"
These targets files should have the following (or similar) in them:

[code]

See also https://github.com/Microsoft/msbuild/issues/1298

[2016-11-01 23:11] gafter commented on #14862
if (o is int _) {}
[code]

That isn't a typeswitch.

In the context of an `is` expression, however, this may disambiguate some situations, thereby enabling the use of tuple types:

[code]

[2016-11-01 23:17] VSadov opened #14873 "Consider caching "this" locally in async methods"
Re:  https://github.com/dotnet/coreclr/issues/7914

It is fairly common for async methods to reach for instance members and that needs to go through an inconvenient indirection that is not always optimizable by JIT since JIT does not have knowledge that "this" is semantically readonly and cannot change from one statement to another.
Compiler has that knowledge and can cache captured "this" into a

[2016-11-01 23:17] VSadov commented on #14873
Putting this into 2.1, but we may do this earlier if cheap.

[2016-11-01 23:19] dsaf commented on #14862
It makes sense in such situations I guess. Although the names are probably not relevant in first case:

[code]