[2020-02-21 20:57] vsfeedback opened #41880 "XmlDoc On Default Constructor in C #"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/920301/xmldoc-on-default-constructor-in-c.html)._

---
In C# we usually have xmldoc comments on classes. But if we do not specify constructor for class or do not annotate the constructor with it's own xmldoc then VS doesn't show the doc when we hover mouse over class construct

[2020-02-21 20:59] BrainSlugs83 commented on #32956
@mavasani -- it looks like you marked my Visual Studio bug report as a duplicate of this issue and closed it -- but I don't believe that's the case.

I can't determine a way to further comment there, but since you linked to this I will post the details here.

The issue I posted was about a wrong suggestion that Visual Studio provides; in my case, the Timer is NOT garbage collected prematurely.  It

[2020-02-21 21:00] vsfeedback opened #41881 "Analyzer to Remove Unnecessary System.Convert"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/918945/analyzer-to-remove-unnecessary-systemconvert.html)._

---
An analyzer should detect cases where type X is passed into the System.Convert.ToX method and suggest removing the Convert invocation.

In the following sample code `System.Convert.ToBoolean` is useless and shoul

[2020-02-21 21:02] vsfeedback opened #41883 "C# nullable types and ternary operator"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/918235/c-nullable-types-and-ternary-operator.html)._

---
Hello.
I'll show on example:

[code]

On the left, I explicitly set type is "DateTime?", maybe the compiler could define what is expected from the ternary operator, this would be more obvious and convenient.
Thanks.

--

[2020-02-21 21:05] sharwell opened #41884 "Unexpected warning for equivalent notation"
**Version Used**: 16.5 Preview 3

**Steps to Reproduce**:

[code]

**Expected Behavior**:

No diagnostics.

**Actual Behavior**:

warning CS8610: Nullability of reference types in type of parameter 'value' doesn't match overridden member.

[2020-02-21 21:05] mavasani commented on #32956
@BrainSlugs83 Your report seems to identical to the repro in the original description of this issue, which also states a false IDE0052 suggestion in VS. How is your issue different?

[2020-02-21 21:07] BrainSlugs83 commented on #32956
Apologies. I misread the original post.  You are correct. -- Sorry for the confusion. -- If you ever run into me in person (I'm in Redmond), I owe you a beer. 😉

I will add my $0.02, that I am of the opinion that Timer deserves special treatment (if my vote counts). 😉

Honestly, I would go so far as to say, any class which could have side effects (so, non-structs, non-primitives) should get the sa

[2020-02-21 21:15] jinujoseph commented on #38649
looks like dupe of https://github.com/dotnet/roslyn/issues/41122

[2020-02-21 21:17] tmat commented on #41387
Yes. The source code that was used to compile the assembly.

We mean the project that contains the source file listed in `'{0}'`. The issue is that we can't read the source file itself, or the PDB that is built for this project.

[2020-02-21 21:20] JoeRobich commented on #36897
This issue is resolved by https://github.com/dotnet/roslyn/pull/39792

[2020-02-21 21:22] tmat commented on #41348
The scripting APIs do not currently support code unloading (see https://github.com/dotnet/roslyn/issues/41722).

If you compile a new code snippet each request then your memory will keep growing. If you can change your implementation to reuse compiled code and run it multiple times then you can avoid allocating this memory.

[2020-02-21 21:22] #41348 closed

[2020-02-21 21:24] JoeRobich commented on #40463
This is resolved by https://github.com/dotnet/roslyn/pull/38675

[2020-02-21 21:24] #40463 closed

[2020-02-21 21:24] #36897 closed

[2020-02-21 21:30] vsfeedback opened #41885 "Visual enhancement about nano generation operation"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/920493/visual-enhancement-about-nano-generation-operation.html)._

---
Why should I make this suggestion?
This the story: https://developercommunity.visualstudio.com/content/problem/919084/c-reference-failure-but-no-error.html
When the 生成操作(generation operation) is nano. It wi

[2020-02-21 22:01] jasonmalinowski commented on #30429
Closing this now in favor of the internal bug https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1070444 which is assigned to the VSTO team and the external feedback item https://developercommunity.visualstudio.com/content/problem/859535/go-to-definitionf12-on-a-reference-project-opens-m.html which actually has the same root cause (although it's not obvious from it.)

[2020-02-21 22:01] #30429 closed

[2020-02-21 22:24] tmat commented on #41144
Moving to backlog. It is low priority as it requires the user to delete file outside of VS (VS project system does not allow file deletion during debugging).

[2020-02-21 22:38] RikkiGibson commented on #41763
Here's a minimal reproducer:
[code]

If you call `SemanticModel.GetSymbolInfo` on the expression `(int)A` here, it will crash in nullability analysis.

[2020-02-21 23:53] 333fred commented on #38649
@jinujoseph no, that's too many symbols showing. This is no symbols showing.

[2020-02-22 00:00] dibarbet opened #41888 "Remove streamjsonrpc dll from setup dependencies"
Ref https://github.com/dotnet/roslyn/pull/41264

StreamJsonRpc in setup.dependencies should be removed as soon as integration test machines are upgraded past 16.6 preview 1

[2020-02-22 01:36] #40714 closed

[2020-02-22 03:46] ryzngard commented on #40808
In this case local is a local variable that may be moved into the extracted method

[2020-02-22 03:49] ryzngard commented on #39555
Looks like pattern matching intellisense bug. My guess is this would trigger using the 'is' operator as well

[2020-02-22 09:14] alrz opened #41893 "How to specify langversion from csi"
Is there any way to enable it or it's deliberately unsupported?

Ideally we should only write `csi /langversion:preview` to enable preview features.

[2020-02-22 12:24] shaggygi opened #41894 "Close 16.4 Milestone"
Since 16.5.P2 and 16.5.P3 milestones are closed, can [16.4](https://github.com/dotnet/roslyn/milestone/53) milestone be closed as well?  Thx

[2020-02-22 12:26] bert2 commented on #31618
Can't we have a first iteration that only adds the content of `<returns>`, then a second one that deals with the rest, and then a third one that makes it configurable/interactive etc. etc.?

This is issue always bugs me when I'm writing documentation for public libraries, because I'm forced to squeeze all the critical stuff into the `<summary>`.

[2020-02-22 12:30] vestigialdev commented on #22294
Surfacing a workaround by mhlavacek

An easy option might be to let us use a different hotkey/shortcut to move to the next portion of the snippet, instead of tab. Or have the snippet TAB-listener take priority over the intellisense listener (or however VS works internally) and consume the event. Or maybe only pull the value from intellisense if we've hit an arrow key to explicitly make a selection

[2020-02-22 14:57] yyjdelete opened #41895 "NullReferenceException SyntaxFactory.FindConditionalAccessNodeForBinding with ExtractMethodCodeRefactoringProvider"
**Version Used**:
VS2019 16.5Preview3

Looks like the same as https://github.com/dotnet/roslyn/issues/25262#issuecomment-566755712 but not the main thread.

**Steps to Reproduce**:

1. Ctrl + click or double click the method `Clear` or `ToString` in the below code in VS
[code]

**Expected Behavior**:
No exception

**Actual Behavior**:
An gold bar show ExtractMethodCodeRefactoringProvider is crashe

[2020-02-22 15:13] gio-frigione commented on #41822
Hi @sharwell, I want to start contributing to the roslyn project and I think this issue could be a good candidate to start getting used to the whole process.

I just have couple of questions that I'd like to clear before submitting a pull request:

- Do you think we need to differentiate the message for the ArgumentException generated by IsNullOrEmpty() from the one generated by IsNullOrWhitespace

[2020-02-22 17:27] aolszowka commented on #37790
From what I have been able to test it seems like we aren't encountering OOM, but we get pretty close in allocations (hovering around 2.5gb usage in VS) we'll keep an eye on it.

Thank you!

[2020-02-22 20:51] rogeriorlima3 commented on #40820
We are not using strings literals...

The problem is:
If we take this page:
https://keenthemes.com/metronic/preview/demo1/index.html
Write all its content in:
.ASPX using VB.NET - Does not work
.ASPX using C# - It works

The question is why ? It only works using C# ?

[2020-02-22 20:52] rogeriorlima3 commented on #40820
I already explained this 3 times for you.
You knows very well what I am talking about.

[2020-02-22 20:56] rogeriorlima3 commented on #40820
I already explained this error several times.
The current scenario is: It only works using C# not with VB.net
MS one more time killing technologies...
It is clear to understand why devs are leaving MS.

[2020-02-22 22:35] CyrusNajmabadi commented on #40820
@rogeriorlima3 Your case is extreme and far out of the norm.  Your choices are to petition your edge case to get attention (which will still likely take a long time until something happens) or to refactor your code.

This is effectively how all platforms work.  There isn't going to be a lot of effort put into niche scenarios as that takes away time and resources from problems that are far more imp

[2020-02-23 06:46] YairHalberstadt opened #41898 "Local Function doesn't update null state"
**Version Used**:  master as of 16th feb 2020

**Steps to Reproduce**:

Example 1.

[code]

**Expected Behavior**: Warning on `x.ToString()`

**Actual Behavior**: no warning

Example 2.

[code]

**Expected Behavior**: No warning

**Actual Behavior**: Warning on `x.ToString()`

[2020-02-23 07:43] Therzok commented on #41696
Multi-targeting net472 also and conditionally compiling out the `System.Runtime.Loader` usage in this targeted version fixes this problem.

Is this an acceptable solution so I can submit a PR?

[2020-02-23 08:24] okarpov commented on #23074
still the same under VS 2019 Community 16.4.5

When you copy a few rows of an html element style from google chrome developer toolbar and
paste it into VS

<entry>
    <record>5400</record>
    <time>2020/02/23 08:14:50.994</time>
    <type>Error</type>
    <source>Editor or Editor Extension</source>
    <description>System.ArgumentOutOfRangeException: Specified argument was out of the range of va

[2020-02-23 13:40] rogeriorlima3 commented on #40820
Hey dont worry... :)   We already decided to use Java instead.
All Vb.Net code that we have will be rewriten using Java. (or other non MS tech)
It seems to be safer and more stable. More reliable technology. Just warn MS
to warn companies in time before they decide to kill C # (MS = technology for children.)
See you. Bye

[2020-02-23 14:38] YairHalberstadt commented on #41883
This is a duplicate of https://github.com/dotnet/csharplang/issues/2460

[2020-02-23 17:24] CyrusNajmabadi commented on #41826
@mikadumont or @kendrahavens may be able to help fix up that screenshot :)  can you supply them with a more appropriate one?

[2020-02-23 17:48] CyrusNajmabadi commented on #23074
@okarpov That seems to be a different issue.  The stacks are not the same at all.  Can you file a different bug (through VS' feedback mechanism)?

[2020-02-23 18:00] okarpov commented on #23074
ok, thx

[2020-02-23 20:32] gafter opened #41900 "Flaky test CodeGenOperators.EmitSequenceOfBinaryExpressions_06"
The following failure occurs from time to time:

[code]

[2020-02-24 01:49] #33428 closed

[2020-02-24 01:49] #39220 closed

[2020-02-24 01:49] #39297 closed

[2020-02-24 03:03] jnm2 opened #41903 "SourceText.Write(TextWriter, TextSpan, CancellationToken) is unusable with a span start other than 0"
**Version Used**: 3.4.0 nupkg

For each character excluded from the start of the text by the start of the passed span, a character is incorrectly additionally excluded from the end of the text.

[code]

[code]

[2020-02-24 10:01] Theoistic opened #41904 "CSharpCompilationOptions - nostdlib & noconfig"
I cant invoke "csc /target:library -out:{buildOutput}{project.Name}.dll /noconfig /nostdlib /r:$WASM_SDK/wasm-bcl/wasm/mscorlib.dll"

using roslyn's CSharpCompilationOptions, it seems that /nostdlib is unavailable within the CompilationOptions.

in the attempt to precompile the library before mono-wasm packaging, since mono, includes its own facades of objects and types, i should be able to compil

[2020-02-24 10:49] svick commented on #41904
As far as I can tell, what `/nostdlib` does is that it prevents the automatic inclusion of mscorlib.dll in the compilation's metadata references:

https://github.com/dotnet/roslyn/blob/ca1a68cd5edd5727ec27b584b4dd72f782923aa3/src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs#L1322-L1325

If you're creating the compilation yourself, it means you're also in control of the metadata

[2020-02-24 11:59] jnm2 commented on #41826
Good idea, here's a new screenshot (150 dpi like the other one):

![image](https://user-images.githubusercontent.com/8040367/75150772-19410080-56d3-11ea-9d02-1456fd97afb2.png)

[2020-02-24 12:04] jnm2 commented on #41903
I think this line is the problem:

https://github.com/dotnet/roslyn/blob/c28834169843ceb58176e6d698c57f38efd19b53/src/Compilers/Core/Portable/Text/SourceText.cs#L544

Shouldn't it be `int count = Math.Min(buffer.Length, length); `?

[2020-02-24 12:05] jnm2 commented on #41903
Current implementation:

https://github.com/dotnet/roslyn/blob/c28834169843ceb58176e6d698c57f38efd19b53/src/Compilers/Core/Portable/Text/SourceText.cs#L528-L554

[2020-02-24 13:39] zlatanov opened #41905 "IDE0060 incorrectly reported when a scoped variable is introduced."
**Version Used**: 16.4.5

The following program triggers the bug. The code `attempt += 1;` is reported as unneeded which is incorrect.

[code]

A few minor changes to the program eliminate the issue:
1. Do not use property initializers for `new X()` - `Execute( new X( 1 ) )`
2. Do not introduce the local `result` and instead just `return Execute...`

[2020-02-24 15:07] #41904 closed

[2020-02-24 15:52] themobydisk commented on #39043
I can reproduce this on 16.4.1.

[2020-02-24 16:51] Evangelink opened #41907 "Is it possible to have IArgumentOperation.Parameter null?"
Hi,

The `IArgumentOperation` operation has a `Parameter` property, are we ensured that the result is never null? If not could you please give some info toward when this could be null?

I'd like to increase the coverage of one analyzer, so I either need to remove the null check or add a unit-test.

See https://github.com/dotnet/roslyn-analyzers/issues/3115

Thank you

[2020-02-24 18:40] TessenR opened #41908 "ref ternary expressions should not merge nullability from unreachable branches"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile the following code
[code]

**Expected Behavior**:
No warnings. There's only one valid branch in both conditional expressions

**Actual Behavior**:
`warning CS8619: Nullability of reference types in value of type 'string?' doesn't match target type 'string'.` is reported for the ref conditional expression only.

**Notes**
Since it's impossi

[2020-02-24 19:03] dibarbet commented on #41888
this workaround didn't work :(

[2020-02-24 19:03] #41888 closed

[2020-02-24 19:47] RikkiGibson commented on #41779
Here's a minimal repro:

[code]

I feel like I have seen a similar bug like this in the past year but I can't find it.

[2020-02-24 20:18] dibarbet commented on #41122
This seems to be an inconsistent repro depending on if cntrl + Q search is activated.
If cntrl+Q search is running, I see results from outside of the file.  If it's not, it filters properly.

Should be fixed in https://github.com/dotnet/roslyn/pull/41264

[2020-02-24 20:55] mavasani opened #41910 "Light bulb actions for bulk configuring analyzer severities"
### Existing compiler support
We recently added .editorconfig support in compiler layer to allow bulk configuring analyzer diagnostics (#38886). It supports two modes of bulk configuration:

1. Category based: Configure default severity/disable by default all analyzer diagnostics of a specific diagnostic `category`. Note each diagnostic has a diagnostic category, which is also shown in the `Catego

[2020-02-24 21:12] Erarndt opened #41911 "The "Introduce constant" refactoring can conflict with type names"
**Version Used**:
VS 16.4.5
.NET Core 3.1

**Steps to Reproduce**:

Consider this code snippet

![image](https://user-images.githubusercontent.com/60519722/75191256-d1d46780-5706-11ea-948c-25630cf5c360.png)

If I introduce a constant for `"C:\SomePath"`, `Path` is chosen as the name for the constant. This conflicts with `Path` in the static call to `GetFullPath()`. I'm then in an inline rename whe

[2020-02-24 22:03] RikkiGibson commented on #41779
It feels like it's easy for analysis of calls like these to fall into a hole in conversions or overload resolution or wherever else. But these kinds of generic names are only allowed in 'typeof' expressions. Maybe when we bind such a name we could just check if it is contained in a typeof expression and if not give a diagnostic.

[2020-02-24 23:34] #41763 closed

[2020-02-24 23:45] mayoevelyn commented on #27965
This is still an issue. Oddly, in 'Quick Actions' window, I can see that my code is commented! Just not in the real code.

[2020-02-25 01:02] Brain2000 commented on #40506
This is still happening in the latest Visual Studio 16.4.5:

System.InvalidCastException : Unable to cast object of type 'Microsoft.CodeAnalysis.CSharp.Symbols.SourceModuleSymbol' to type 'Microsoft.CodeAnalysis.VisualBasic.Symbols.SourceModuleSymbol'.
   at Microsoft.CodeAnalysis.VisualBasic.SymbolDisplayVisitor.GetAliasSymbol(INamespaceOrTypeSymbol symbol)
   at Microsoft.CodeAnalysis.VisualBasi

[2020-02-25 01:22] JoeRobich opened #41917 "Skip TestOpenSolution_NetCoreMultiTFMWithProjectReferenceToFSharp"
The .NET Core SDK that shipped with VS 16.5 Preview 2.0 has issues with FSharp projects. See https://stackoverflow.com/questions/59875784/fsharpcoreshippedpackageversion-is-not-a-valid-version-string

Once the CI machines are upgraded with a more recent preview version we can unskip the test.

[2020-02-25 03:19] davkean opened #41924 "Searching for "unimported" in options doesn't show the associated setting"
![image](https://user-images.githubusercontent.com/1103906/75212051-d584ee80-57d9-11ea-9b9b-ed8977770ee1.png)

[2020-02-25 04:11] mavasani commented on #41218
Tagging @olegtk - this seems to have started happening since we moved to the new overload [ISuggestedActionsSource3.GetSuggestedActions](https://devdiv.visualstudio.com/DevDiv/_git/VS-Platform?path=%2Fsrc%2FEditor%2FLanguage%2FDef%2FIntellisense%2FSuggestions%2FISuggestedActionsSource3.cs&_a=contents&version=GBmaster), which takes a `IUIThreadOperationContext` argument. #41458 is another example w

[2020-02-25 04:11] AArnott opened #41925 "C# xml "see cref" incorrectly resolves to internal type (or fails to resolve)"
**Version Used**: 16.6.0 Preview 1.0 (29823.26.master)

**Steps to Reproduce**:

1. Create a solution with three projects.
1. Two libraries define the same type, but one is internal while the other is public.
2. The third project references both of the other libraries, and references the (public) type both within a method body and in its xml doc comment.

See minimal repro: [RoslynInternalRepro.zi

[2020-02-25 04:11] mavasani commented on #41458
This is a duplicate of https://github.com/dotnet/roslyn/issues/41218, both of them have an unhandled cancellation from `Microsoft.VisualStudio.Language.Intellisense.Implementation.LightBulbSession`

[2020-02-25 04:11] #41458 closed

[2020-02-25 04:47] olegtk commented on #41218
That's a known issue (https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1070469). I believe it's caused by an editor change, I don't think you are doing anything wrong. FWIW we target 16.6 currently. CC @AmadeusW

[2020-02-25 04:48] mavasani commented on #41218
Ah thanks @olegtk. I'll close this issue.

[2020-02-25 04:48] #41218 closed

[2020-02-25 05:55] #41702 closed

[2020-02-25 06:08] alrz commented on #36737
Looks like there's an implementation here: https://github.com/microsoft/vs-threading/blob/master/src/Microsoft.VisualStudio.Threading.Analyzers.CodeFixes/FixUtils.cs

@sharwell Could we possibly port it to roslyn? if not how we can use that (without installing a package)?

[2020-02-25 07:25] PDostalek commented on #41387
Thank you

[2020-02-25 07:25] #41387 closed

[2020-02-25 07:26] PDostalek commented on #40808
Thank you

[2020-02-25 07:26] #40808 closed

[2020-02-25 09:44] SvendK commented on #39114
Not sure if @r-ramesh needs someone to file the bug, or if this (39114) is enough. Has this been taken into the todo-list or should someone file the bug in another place (where?).

My comments:
I am (also) trying to remove the red background on active breakpoint lines and the white outline on inactive breakpoint lines, as it is distractive - both the red background and the missing color coding - b

[2020-02-25 10:03] PDostalek opened #41929 "[loc][Query][Roslyn] Localizability of 0; "WRN_ParameterConditionallyDisallowsNull""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Parameter '{0}' may not have a null value when exiting with '{1}'.

File Name:
Compilers\CSharp\Portable\xlf\CSharpResources.xlf

==========================================
Query:
Please specify the meaning of the placehol

[2020-02-25 10:31] PDostalek opened #41930 "[loc][Query][Roslyn] Localizability of 0; "WRN_ShouldNotReturn""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
A method marked [DoesNotReturn] should not return.

File Name:
Compilers\CSharp\Portable\xlf\CSharpResources.xlf

==========================================
Query:
Does "return" mean "return a value" in this context?

0; "

[2020-02-25 12:52] YairHalberstadt commented on #41930
Return means it should not exit the method normally.

In a non-void method that would be return a value.
In a void method that would mean either it has an explicit reachable return statement, or the end of the method is reachable.

For example these would trigger the error:

[code]

But this wouldn't:

[code]

[2020-02-25 12:56] PDostalek opened #41931 "[loc][Query][Roslyn] Localizability of 0; "_0_items_in_cache""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
'{0}' items in cache

File Name:
EditorFeatures\CSharp\xlf\CSharpEditorResources.xlf

==========================================
Query:
What will {0} be replaced with?

[2020-02-25 13:03] PDostalek opened #41932 "[loc][Query][Roslyn] Localizability of 0; "Found_0_assemblies_for_1""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Found '{0}' assemblies for '{1}':

File Name:
EditorFeatures\CSharp\xlf\CSharpEditorResources.xlf

==========================================
Query:
Please specify the meaning of the placeholders.

[2020-02-25 13:16] PDostalek opened #41933 "[loc][Query][Roslyn] Localizability of 0; "Could_not_find_by_name_0""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Could not find by name: '{0}'

File Name:
EditorFeatures\CSharp\xlf\CSharpEditorResources.xlf

==========================================
Query:
What will '{0}' be replaced with? Does '{0}' refer to "name?"

[2020-02-25 14:40] jnm2 opened #41934 "CS8619 when returning `ref T` to `[MaybeNull] ref T`"
**Version Used**: 16.5 Preview 3 (regression from 16.4)

If you remove the `[MaybeNull]`, everything is fine. Since [MaybeNull] is strictly loosening outputs without loosening inputs through the ref, I don't think this is a legitimate warning.

[code]

[2020-02-25 14:59] mavasani commented on #41559
Ah, this was actually fixed by #40488. I verified this does not repro with the latest VS2019 preview: https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview

[2020-02-25 14:59] #41559 closed

[2020-02-25 15:10] mavasani commented on #41246
This was investigated and https://github.com/dotnet/roslyn/pull/41867 adds a unit test to ensure suppressors are executed in all supported BackgroundAnalysisScope values. Closing this out.

[2020-02-25 15:10] #41246 closed

[2020-02-25 15:19] TessenR opened #41935 "Roslyn fails to detect mismatching nullability in target-typed switch expressions"
**Version Used**:

[code]

**Steps to Reproduce**:

Compile and run the following code:
[code]

**Expected Behavior**:
`warning CS8619: Nullability of reference types in value of type 'C<string?>' doesn't match target type 'C<string>'.` reported for conversion from `B` to `C<string>`

**Actual Behavior**:
No warnings. The code crashes at runtime with a `NullReferenceException`

[2020-02-25 16:47] sharwell commented on #41925
Duplicate of #4033

[2020-02-25 16:47] #41925 closed

[2020-02-25 17:30] VasilievSerg opened #41936 "NullableWalker.VisitConversion: NullReferenceException"
**Steps to Reproduce**:

1. Open [PixelFormat.cs](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Drawing.Common/src/System/Drawing/Imaging/PixelFormat.cs) via Visual Studio 2019.

**Expected Behavior**: no unhandled exceptions

**Actual Behavior**: NullReferenceException

Visual Studio version: **16.4.4**
Microsoft.CodeAnalysis.dll file version: **3.400.119.61401**

Stack trace

[2020-02-25 18:10] RikkiGibson opened #41937 "Nullability attribute warnings for OHI are not always clear"
**Version Used**:
4e0aa08

**Steps to Reproduce**:

[code]

**Expected Behavior**:
Warnings about `Equals` method parameters should indicate that the parameter is expected to be of a nullable type (e.g. as `[AllowNull] string` or `string?`)

**Actual Behavior**:
Real warnings issued don't hint what should be changed in the implementing method.

1. warning CS8767: Nullability of reference types in

[2020-02-25 18:26] RikkiGibson commented on #41936
Thanks for reporting, this is a dupe of #41763

[2020-02-25 18:26] #41936 closed

[2020-02-25 18:38] jcouv opened #41938 "Test plan for "simple programs""
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2020-02-25 18:38] #41938 closed

[2020-02-25 18:39] federicotomasi commented on #26934
Still relevant

[2020-02-25 18:40] tmat opened #41939 "Microsoft.CodeAnalysis.CSharp.UnitTests.Emit.DeterministicTests.CompareAllBytesEmitted_Release(pdbFormat: Pdb)"
https://dev.azure.com/dnceng/public/_build/results?buildId=533810&view=ms.vss-test-web.build-test-results-tab&runId=16944438&resultId=105399&paneView=debug

[2020-02-25 18:41] tmat opened #41940 "Solution.WithDocumentSyntaxRoot throws on SyntaxTree with non-rooted path"
[code]

This is due to a check in `AnalyzerConfig.Parse`:

[code]

It doesn't seem like having a rooted path should be a requirement.

BTW, the message says "absolute path" yet the condition is checking a root path, which is not the same. `Path.IsPathRooted("/a/b")` is `true` on Windows, but it's not an absolute path.

See test `SolutionTests.WithDocumentSyntaxRoot_WithoutFilePath`.

[2020-02-25 18:41] tmat commented on #41940
@jasonmalinowski @agocke

[2020-02-25 18:51] agocke commented on #41940
Requirement seems good, but yes it should check to see if the path is fully qualified, not if it's rooted.

[2020-02-25 18:58] jcouv commented on #41821
Yes, this is known. The refactoring work was done for C#, but not for VB. The VB work is tracked by https://github.com/dotnet/roslyn/issues/20648

[2020-02-25 19:10] JoeRobich opened #41942 "Roslyn colors are wrong after first run with ColorScheme support"
ColorSchemes do not seem to be getting applied on first run. Leaving the classification colors empty or falling back based on inheritance.

![image](https://user-images.githubusercontent.com/611219/75278121-31417e80-57be-11ea-9c16-1bcb6d2ab5a1.png)

[2020-02-25 19:23] tmat commented on #41940
@agocke Why is it needed though? We should be able to create a representation of a solution that only use paths relative to the repository root.

[2020-02-25 19:57] genlu commented on #23331
@sharwell Do you have a benchmark I can run as a baseline?

[2020-02-25 20:08] jinujoseph commented on #41933
@sharwell introduced here https://github.com/dotnet/roslyn/commit/907b95e64cb81f01febb66b635166c910b91e9a5#diff-2a6806d7ada1b2df96902cba7c6f4372

[2020-02-25 21:08] #41826 closed

[2020-02-25 21:18] agocke commented on #41940
The section matching algorithm requires full paths to decide whether or not the matches are applicable.

[2020-02-25 21:26] ryzngard commented on #41700
@KirillOsenkov  any follow up on this?

[2020-02-25 21:40] #41714 closed

[2020-02-25 22:09] jbevain opened #41947 "Usage of dynamic in local methods generates invalid IL"
**Version Used**: Microsoft (R) Visual C# Compiler version 3.4.1-beta4-19614-01 (16504609)

**Steps to Reproduce**:

1. Take the following snippet:

[code]

2. Compile `csc /t:library /debug+ /out:dynlocal.dll /debug:portable Program.cs`
3. Run peverify

**Expected Behavior**:

No error.

**Actual Behavior**:

[code]

The generated closure environment `<>o__0` reproduces the face you make when you

[2020-02-25 22:29] ryzngard commented on #36664
The fix should be available now as, fixed with #40018

[2020-02-25 22:29] #36664 closed

[2020-02-25 22:36] ryzngard commented on #34427
Pull members up now should add usings.

![image](https://user-images.githubusercontent.com/475144/75293974-285fa580-57dc-11ea-89bc-d69de66c088f.png)

[2020-02-25 22:36] #34427 closed

[2020-02-25 23:43] CyrusNajmabadi commented on #37212
I looked into the compiler/ruleset/commandlineparser changes to make this better.  I'm *very* wary about making changes to that.  It's complex and gnarly logic and i'm very worried aobut changing it in some way that causes subtle regressions in a very critical place.

An alternate approach i'd like to propose is that we simply persist this command line to our persistence service using our IChecksu

[2020-02-25 23:47] sharwell commented on #37212
@CyrusNajmabadi We could also serialize it to the temporary storage service (memory mapped files) to avoid SQLite overhead for data we don't need after restart.

[2020-02-25 23:48] CyrusNajmabadi commented on #37212
That would work for me.

[2020-02-26 00:05] mwelsh1118 commented on #22052
I would say the most common use case for "inline method" is to alias another method.  For example, say I have:
[code]
I might end up creating a separate WidgetFactory class:
[code]
And then aliasing the old factory method to the new one:
[code]
Finally, I can inline the original method and now all callers of that method are instead calling my new factory class. This combines very well with a "Repl

[2020-02-26 02:16] tmat commented on #41940
@agocke Can you give an example? If that is so then it would depend on the directory on disk where a repository is located. It would make the build non-deterministic.

[2020-02-26 03:08] davkean commented on #37212
@CyrusNajmabadi These command-lines can also end up the LOH for large projects - would Roslyn be in place to handle this as an IEnumerable<string>? We manually have to join the command as a single string on our side. That way we just avoid the LOH for them.

[2020-02-26 05:01] CyrusNajmabadi commented on #37212
Yes, it would be pretty trivial on our side to support this as an `IEnumerable<string>` (since that's the first thing ew do with the string passed in anyways).  Main issue is what new interface we would need to expose the method you'd be calling to pass this in.  Any ideas on that?

[2020-02-26 05:15] davkean commented on #37212
We can extend that existing interface (overload SetOptions) - it's private handshake between a few internal projects and none of them extend it, only Roslyn, so won't break anyone.

[2020-02-26 06:39] CyrusNajmabadi commented on #37212
@davkean Sounds great!  Should we create a new issue for that?  Or would you prefer to keep it here?

[2020-02-26 07:42] #41930 closed

[2020-02-26 07:46] jinujoseph commented on #41894
16.4 has been closed
thanks

[2020-02-26 07:46] #41894 closed

[2020-02-26 08:31] agocke commented on #41940
You create an AnalyzerConfig using path "Z:X\Y". You later need to calculate the configuration settings for the source file "Z:\X\Y\myfile.cs". We know the file applies at all because "Z:X\Y" is an exact substring of "Z:\X\Y\myfile.cs" and the string used for section name matching is the remainder after subtracting the substring, namely "myfile.cs".

This doesn't affect determinism as you are expe

[2020-02-26 08:48] martijnhoekstra commented on #22052
+1 on that there is value in inlining a single call site, regardless of whether that means the extracted method can then be eliminated.

[2020-02-26 12:10] jagbarcelo commented on #41693
@GitHubUser30 Sorry for the delay. Please have a look at the attached output files generated by the tool you mentioned. I hope it helps in any way.

[AssemblyLoadDebugger.zip](https://github.com/dotnet/roslyn/files/4255555/AssemblyLoadDebugger.zip)

[2020-02-26 12:31] madelson opened #41957 "IDE0059 recommending to remove meaningful assignment"
**Version Used**:
Visual Studio 16.4.2

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Assignment is meaningful since it flows into the finally block. Should be left alone.

**Actual Behavior**:

If suggestion is followed, code breaks.

[2020-02-26 14:34] jnm2 commented on #41957
Duplicate of https://github.com/dotnet/roslyn/issues/39344. This was fixed in VS 16.5 Preview 2.

[2020-02-26 15:14] YairHalberstadt commented on #41947
Here is a minimal reproduction:

[code]

[2020-02-26 15:18] SvendK commented on #39114
Oh!!! I just figured out a solution to actually getting this to work: Removing the red background on active breakpoint lines and the white outline on inactive breakpoint lines!
The hidden thing is to RESTART VISUAL STUDIO after setting this up!

**This works for VS dark theme...**
Go to Tools->Options->Environment->Fonts and Colors

**Default settings**
Plain Text Item foreground: **Default** (lig

[2020-02-26 15:19] GitHubUser30 commented on #41693
That pinpointed the root problem! Thanks:)

[2020-02-26 15:25] YairHalberstadt commented on #41947
Comparing the difference in the IL between whether CheckSlots is a local method or not, it seems that the issue is the display class should be generic, but isn't.

[2020-02-26 15:59] jnm2 opened #41958 "Generate Equals/GetHashCode dialog does not permit selection of inherited properties"
**Version Used**: VS 16.4.5

[code]

![image](https://user-images.githubusercontent.com/8040367/75362502-d1fb7100-5886-11ea-9b16-d927356a5c3c.png)

[2020-02-26 16:01] sharwell commented on #41929
@jcouv I believe you added this one?

[2020-02-26 16:02] sharwell commented on #41931
{0} will be replaced with an integer value. The cache contains 0 or more items of an unspecified type. The replacement is this count.

[2020-02-26 16:03] sharwell commented on #41932
{0}: The number of matching assemblies (non-negative integer)
{1}: The assembly name

[2020-02-26 16:43] CyrusNajmabadi commented on #41958
Help wanted. @jnm2 Would you like to submit a fix here?

[2020-02-26 16:57] morrisond91 commented on #37105
Have you ever resolved this issue? Experiencing it myself and i am stumped.

[2020-02-26 17:23] jnm2 commented on #41958
Sure.

[2020-02-26 17:43] #41713 closed

[2020-02-26 18:09] YairHalberstadt commented on #41947
I'm working on a fix for this.

[2020-02-26 18:13] tmat commented on #41940
Yes, I suppose you _can_ use a full path in an `.editorconfig` file and then you're tied to a specific repository location and you can't change it without modifying the content of the repository (i.e. the `.editorconfig` file). However, no one will do that if they want their repo to work in a CI server.

The fact that it is possible to use full paths in the file should not force the API to require

[2020-02-26 18:17] jasonmalinowski commented on #37212
Changing the interface is tracked as #32594.

[2020-02-26 18:21] tmat commented on #41940
I don't see why we require a full path though. We don't require full path for `SyntaxTree.FilePath`. Can't we apply the same prefix matching when relative paths are used?

For example, AnalyzerConfig path is `a/b/.editorconfig` and syntax tree has path `a/b/myfile.cs`.

[2020-02-26 18:51] cobey commented on #28480
@jinujoseph is there any update on movement here?

[2020-02-26 18:54] jinujoseph commented on #28480
@CyrusNajmabadi can you sync with @KirillOsenkov and @cobey  to understand the possibility/priority on this

[2020-02-26 19:07] #41849 closed

[2020-02-26 19:07] kekekeks opened #41961 "Non-nullable events don't enforce nullability check on add/remove calls"
**Version Used**:
.NET Core SDK 3.1.101
[code]
**Expected Behavior**:
Compiler generates a warning on `o.MyEvent += act;`

**Actual Behavior**:
No warnings are generated

[2020-02-26 19:32] tmat commented on #28480
I don't think we want to run analyzers in-proc going forward, so the priority would be low imo.

[2020-02-26 19:34] Therzok commented on #28480
@tmat VSMac does not run them analyzers in OOP

[2020-02-26 20:09] jinujoseph commented on #41957
thanks @jnm2

[2020-02-26 20:09] #41957 closed

[2020-02-26 20:09] sharwell commented on #41957
Duplicate of #39344

[2020-02-26 20:10] jinujoseph commented on #41907
cc @mavasani

[2020-02-26 20:11] mavasani commented on #41907
I believe it cannot be null. Tagging @333fred @AlekseyTs to confirm.

[2020-02-26 20:15] sharwell commented on #41478
The issue from kapenaga above is covered by #41895.

[2020-02-26 20:16] jinujoseph commented on #41893
cc @tmat

[2020-02-26 20:20] ryzngard commented on #41058
@jasonmalinowski  I tested in 16.5 Preview 4 and wasn't able to reproduce this. Maybe there was another bug that was surfaced through this and was fixed?

[2020-02-26 20:20] #41058 closed

[2020-02-26 20:21] sharwell commented on #41885
@Therzok we're having trouble making sense of this request. Does this ring a bell for you?

[2020-02-26 20:29] sharwell commented on #41875
The **Go To Implementation** does exactly this 👍

[2020-02-26 20:33] sharwell commented on #41858
@CyrusNajmabadi would you like to get things moving in this direction by supporting the trivial case of `as` with the same type on left and right?

[2020-02-26 20:36] sharwell commented on #41933
{0}: An assembly name, such as **System** or **Microsoft.CodeAnalysis.Workspaces**

[2020-02-26 20:36] #41933 closed

[2020-02-26 20:45] jinujoseph commented on #41827
cc @CyrusNajmabadi

[2020-02-26 20:51] sharwell commented on #41812
Related to dotnet/csharplang#2545

[2020-02-26 20:52] jinujoseph commented on #41811
Duplicate of #41826

[2020-02-26 20:52] #41811 closed

[2020-02-26 20:55] jcouv commented on #41929
Here's an example:

[code]

[2020-02-26 21:05] #41573 closed

[2020-02-26 21:08] #41631 closed

[2020-02-26 21:08] mavasani opened #41963 "Name of expression with type name argument should not generate OperationKind.None in Operation tree"
Consider the below unit test:

[code]

The above unit test demonstrates that the tree has a none operation, which is normally reserved for not yet implemented operations for new language features.

This leads to bunch of our analyzers to bail out on all code with such name of expressions, for example all flow based analyzers, analyzers that flag symbols without read/write references (such as unuse

[2020-02-26 21:11] tmat commented on #28480
@Therzok Is there a reason why not? The reasons why we are moving features to OOP seems that these would apply to both VSMac and VS. E.g. reliability - if a 3rd party analyzer crashes you don't want to take down the IDE.

[2020-02-26 21:15] jasonmalinowski commented on #41058
@ryzngard do we need any further tests?

[2020-02-26 21:20] ryzngard commented on #41058
This should be covered by http://sourceroslyn.io/#Microsoft.CodeAnalysis.CSharp.EditorFeatures.UnitTests/CodeActions/ExtractMethod/ExtractMethodTests.cs,2434

[2020-02-26 21:23] CyrusNajmabadi commented on #41858
@sharwell Yes.  Also, i think this may be a dupe. But we can make this the primary if we can find the other :)

[2020-02-26 21:25] Therzok commented on #22351
Closing. We're consuming myget now.

[2020-02-26 21:25] #22351 closed

[2020-02-26 21:29] #41601 closed

[2020-02-26 21:35] KirillOsenkov commented on #28480
I'll confess that one trend that kinda worries me is assuming that VS and VSMac are the only two blessed Roslyn hosts that the Roslyn project wants to support and cater towards. Since the spirit of Roslyn is historically oriented towards the open and welcoming 3rd parties I'd like to think that we don't want to alienate other Roslyn hosts or make assumptions about whether they need to buy in to th

[2020-02-26 21:45] genlu commented on #22052
@mwelsh1118 Makes sense. I didn't think of this refactoring as a way to do some other things indirectly (in your examples, change the target method of invocations). Sounds like the restriction on non-private method can be relaxed to just showing a warning says this would break external consumers, while still being disallowed on non simple method body?

[2020-02-26 21:45] tmat commented on #28480
To be clear, I didn't say we shouldn't do this. Just that it's low priority due to our current focus.

I don't think this is true. While you can recover from most exception, you can't easily recover from stack overflow, for example. Since syntax trees are deeply nested data structures, stack overflow is actually not that hard to cause in code that traverses them.

[2020-02-26 21:49] jaredpar opened #41964 "Use MemberNotNull when available"
This issue is being used to track places in our code base which can benefit from `MemberNotNull` when it's available in the language and toolset. Both methods which could be annotated with it and uses of `!` that could be removed when it's present should be tagged with this issue.

[2020-02-26 21:51] CyrusNajmabadi commented on #28480
FWIW, i think the "right" approach that is healthy for the long term future is that roslyn is *purely* a server and works wit all systems through LSP.  That way we have one common way to be used/hosted/talked-to, and it's all through a standard API that everyone can settle on.

We def don't want to break existing important cases, but we should be strongly thinking about the healthiest future we ca

[2020-02-26 21:58] CyrusNajmabadi commented on #41827
I don't see an issue here.  Note that the user code is in error.  i.e. this code is already *not* legal:

[code]

The compiler gives the error:

[code]

So the refactoring simply offers to simplify code that is already illegal to a simpler form that remains just as illegal :)

In general, we don't suppress our suggestions with code that is in error.  This is because code is constantly 'in error' a

[2020-02-26 21:58] #41827 closed

[2020-02-26 22:13] jasonmalinowski commented on #41964
Would some sort of "remove !s if MemberNotNull" tool (even if it's a one-off that we don't check in since this may violate "spirit of nullability) be useful?

[2020-02-26 22:28] JoeRobich opened #41968 "Revert changes to Completion tests to account for LSP contenttype"
Revert the changes to completion integration tests from https://github.com/dotnet/roslyn/pull/41909

The IntelliCode refactorings apply an LSP content type to C# buffers. This is checked by the VSLanguageServerClient which then sets the NonBlockingCompletion option to true. Completion triggers are no longer blocked by the Editor for Roslyn even though it is the only source of completions.

[2020-02-26 22:34] KirillOsenkov commented on #28480
I'm all for it. It's a great thing to have.

Please just don't break existing scenarios and APIs too much.

[2020-02-26 22:42] jaredpar commented on #41964
@jasonmalinowski yes. I think a more general remove `!` because it's unnecessary tool would also be useful. I believe @sharwell recommended that at some point but my memory is fuzzy and I can't find a reference to it.

[2020-02-26 22:57] jasonmalinowski commented on #41964
We're tracking that at #34714.

[2020-02-26 23:18] 333fred commented on #41907
I believe that is correct. @jaredpar, this an example of where annotating IOperation would be useful.

[2020-02-27 00:43] agocke commented on #41940
I think it's a bad idea to complexify this and potentially introduce bugs where you're comparing relative paths to absolute paths. I think it's better and more resilient to force resolution of canonical path at the point of construction.

[2020-02-27 01:03] #37880 closed

[2020-02-27 01:31] tmat commented on #41940
@agocke No, it's not better. It adds extra restrictions on solution representation that we haven't had before. In some scenarios having a full path doesn't make sense. E.g. source files might be stored in cloud storage and all paths might be URLs. e.g. `source://domain/a/b/.editorconfig`, `source://domain/a/b/x.cs`.

[2020-02-27 02:06] #37212 closed

[2020-02-27 04:24] sujayvsarma opened #41974 "ASP.NET Core 3.1 - Debug tooltip does not show value"
Please advise if this bug belongs here. WEBTOOLS has said it is not from their systems. I am posting this here because of the following statement by @ToddGrun in an email:

---

.NET Core 3.1 version `3.1.200-preview-014977`

* Create a new ASP.NET Core MVC project. Target the 3.1 (preview) sdk
* Open a view, add some valid code in a "@{ }" block
* Run the project in Debug mode and attempt to debu

[2020-02-27 05:00] #41958 closed

[2020-02-27 05:31] JoeRobich commented on #41942
Reverted ColorSchemes in https://github.com/dotnet/roslyn/pull/41966
Restoring ColorSchemes in https://github.com/dotnet/roslyn/pull/41977

[2020-02-27 05:31] #41942 closed

[2020-02-27 05:45] YairHalberstadt commented on #34714
@jnm2

Didn't you write a tool to do this?

[2020-02-27 07:14] zhusheping opened #41980 "Not all InvocationExpression are rewritten"
**Version Used**:
Core3.1 ConsoleApp
**Steps to Reproduce**:

[code]

**Expected Behavior**:
I want to rewrite all InvocationExpression of "MyMethod" in a SyntaxTree to add a literal param 0
**Actual Behavior**:
Not all InvocationExpression are rewritten.

`var methods = syntaxRoot.DescendantNodes().OfType<InvocationExpressionSyntax>().Where(o => o.Expression.ToString() == "MyMethod");` can enumer

[2020-02-27 07:36] davkean opened #41981 ""Make struct fields writable" needs to list the actual reason"
I got the following with no indication as to "why". Needed to read the code of the thing to figure out why it was suggesting this: https://github.com/dotnet/roslyn/blob/c5f5bb705c5eafbc17126ccb6ab653bd0f15a71b/src/Features/CSharp/Portable/MakeStructFieldsWritable/CSharpMakeStructFieldsWritableDiagnosticAnalyzer.cs#L53. The struct assigns "this" outside constructor.

![image](https://user-images.gi

[2020-02-27 11:08] Ilia-Kosenkov opened #41985 "IDE0004 "Cast is redundant" in switch expression"
**Version Used**:
<details>
Microsoft Visual Studio Community 2019
Version 16.4.5
VisualStudio.16.Release/16.4.5+29806.167
Microsoft .NET Framework
Version 4.8.03761

Installed Version: Community

Automatic Versions   2.0.48
Provides tools for managing assembly versions.

Azure App Service Tools v3.0.0   16.4.460.23317
Azure App Service Tools v3.0.0

C# Tools   3.4.1-beta4-19614-01+165046097562cfe

[2020-02-27 11:22] madelson commented on #41957
Thanks @sharwell @jnm2 . I only searched open issues before posting. Good to know that this is fixed in the next version!

[2020-02-27 11:42] alrz commented on #28489
In `new C() == new()` we emit `new C() == new object()` due to operator resolution and object equality. I suspect we need to make it an error or at least infer `C`.

[2020-02-27 12:17] jnm2 commented on #34714
Yes, more details in https://github.com/dotnet/roslyn/issues/41574

[2020-02-27 15:18] YairHalberstadt commented on #41985
Each individual cast is redundant, since you could remove any two of them and it would have the same result.

Once you remove two of the casts, the third cast will no longer trigger the suggestion.

[2020-02-27 15:32] Ilia-Kosenkov commented on #41985
@YairHalberstadt , Ok, makes sense, I did not check that case. While I would appreciate a more detailed message in the tooltip, not just "Redundant cast" in all cases (which can mislead some people, like myself), I guess there is no real issue here.

Thank you for clarification.

[2020-02-27 16:27] YairHalberstadt opened #41987 "Invalid CS8609 when base method uses MaybeNull"
**Version Used**: Visual Studio 16.5 preview 3

**Steps to Reproduce**:

[code]

**Expected Behavior**: No Diagnostic

**Actual Behavior**: CS8609: Nullability of reference types in return type doesn't match overridden member.

[2020-02-27 16:28] YairHalberstadt commented on #41987
@jcouv is it possible you've fixed this as part of your recent work on these attributes?

[2020-02-27 16:37] YairHalberstadt commented on #41985
The problem is each diagnostic and suggestion is reported seperately.

There is no attempt to try and work out if a diagnostic would not be needed if another code fix was applied, since as you can imagine this is exponentially expensive in the number of code fixes.

Overall the current design is I think the simplest and most predictable.

[2020-02-27 17:11] Ilia-Kosenkov commented on #41985
@YairHalberstadt, I agree that it is the simplest solution, at least for now.
Thanks again. I am closing the issue.

[2020-02-27 17:11] #41985 closed

[2020-02-27 17:13] mwelsh1118 commented on #22052
@genlu That seems reasonable.

[2020-02-27 17:21] jcouv commented on #41987
My recent changes would have mostly added warnings, not removed them.
This issue still reproes in 16.6p1.

Tagging @agocke who implemented the nullability variance.

[2020-02-27 17:35] tmat commented on #41974
/cc @NTaylorMullen

[2020-02-27 17:40] NTaylorMullen commented on #41974
I imagine it's an issue where the line pragmas behind the scenes map to more than what's visible and then Roslyn or the Debugger ( I don't know who owns that code ) improperly associate what the user is hovering over because of that.

[2020-02-27 17:58] YairHalberstadt commented on #41987
A workaround is to mark the override as `[return: MaybeNull]` and non-nullable.

[2020-02-27 18:32] agocke commented on #41940
You didn't address the point that canonicalization of paths prevents bugs where we compare paths of different form. Your argument seems to be that you're willing to risk that for more features.

Your example is also broken. Relative paths may be possible, but the editorconfig spec explicitly specify that it works against paths, not URIs. You will need to transform your URI into a path for editorco

[2020-02-27 18:39] C26000 opened #41989 "Nullable Optional Tuple Parameter Crashes Visual Studio 2019"
I'm using Visual Studio 2019 with C#8 and when I try to add this code:

`public void CalcularTodo((Contexto, bool)? cargarDetalles = (null, false)) { }
`
It brings down Visual Studio 2019, every time. That syntax is probably incorrect but it shouldn't do that.

If I keep it wihout the nullable ? it justs gives me a compiler error but doesn't close Visual Studio 2019

`public void CalcularTodo((Con

[2020-02-27 19:17] jmarolf commented on #28480
Just use SemVer :)

[2020-02-27 19:21] tmat commented on #41940
What are the different forms you have on mind? Do we actually canonicalize the path? I don't see that in `Parse` implementation. E.g. path `C:\temp\a\b\..\c\d` is full but not normalized.

Fair enough. Why does it care about the prefix though? Aren't the globs in the editorconfig [matched against the part of the file path relative to the path of the editorconfig file](http://sourceroslyn.io/#Micro

[2020-02-27 19:26] agocke commented on #41987
I assumed this would be part of "making attributes part of method signatures" since this is part of OHI.

[2020-02-27 19:30] YairHalberstadt commented on #41987
@agocke

Are you saying that you would have expected this to work already? Is it a bug then?

What is OHI?

[2020-02-27 19:31] agocke commented on #41987
OHI = overriding, hiding, implementation

So, if a base method has `MaybeNull` on it, the override should also have `MaybeNull`. I know this work was approved, but I don't know its status. @jcouv?

[2020-02-27 19:33] YairHalberstadt commented on #41987
Currently the IDE generates MaybeNull when overriding a generic with a generic. It doesn't do that when overriding a generic with something non-generic. Nor should it, as it should use a nullable type instead.

[2020-02-27 19:44] mavasani commented on #41365
@LukasSchwendemann So, your primary issue is that after installing StyleCop analyzers and Sonar analyzers, you are seeing warnings from intellisense, but these are not showing up in command line build, correct? If so, that is not expected behavior. Can you provide a small standalone repro for us to investigate?

[2020-02-27 19:46] mavasani commented on #40811
The suggestion here is to have an implicit field initializer in the IOperation tree for enum fields that are implicitly assigned constant values.

[2020-02-27 20:21] jcouv commented on #41987
@agocke It is not necessary for the override to also have `MaybeNull`.
We do two checks, one without attributes (`object?` -> `T`, which seems like it should be okay, but I suspect produces the present warning) and one with attributes (not causing the problem here, as that would be a different warning).

[2020-02-27 20:24] vatsalyaagrawal commented on #40606
Editor team is working on this.

[2020-02-27 21:10] agocke commented on #41987
@jcouv It should have `MaybeNull` if it's also generic, shouldn't it?

[2020-02-27 21:43] jcouv commented on #41987
@agocke That's a different scenario, but no, it's okay for the override to return a not-null value (ie. no `MaybeNull`). We just need to be able to assign from `overridingValue` to `overriddenType`.

[2020-02-27 21:46] agocke commented on #41987
Right, I forgot the example was return type. Use parameter type instead. The point being, there's a variance requirement in overloading that should be enforced.

[2020-02-27 21:48] CyrusNajmabadi opened #41994 "Compiler hard crash (brought down VS)."
Stack:

[code]

[2020-02-27 21:49] CyrusNajmabadi commented on #41994
Watson info:

Analysis symbol:
Rechecking for solution: 0
Report Id: 3633c8e1-74da-409a-8869-13e4935f18ea
Report Status: 268435456
Hashed bucket: f3106a631927e778e474fa490a41e617
Cab Guid: 0

Analysis symbol:
Rechecking for solution: 0
Report Id: 6d5d5824-5b64-4550-8286-635da4993ee0
Report Status: 268435464
Hashed bucket: fb30d2b9a7acf0305d4da51668259751
Cab Guid: bca9499c-2050-41eb-b3a3-a4bf14278

[2020-02-27 22:45] ryzngard commented on #38042
4 above is also tracked as an issue in the editorconfig repo https://github.com/editorconfig/editorconfig/issues/408

[2020-02-28 00:33] RikkiGibson commented on #41989
I can't repro this in Visual Studio 16.4.5. Could you please tell us the version number in `Help > About Visual Studio` in the menu bar?

[2020-02-28 01:10] mderriey opened #42010 "Decompiling ASP.NET Core 3.x assemblies in VS 2019 doesn't show actual implementation"
_Issue created as asked by David Kean in https://twitter.com/davkean/status/1233194846040444929_

**Version Used**: VS 2019 16.4.5

**Steps to Reproduce**:

1. Enable navigation to decompiled sources in "Text Editor > C# > Advanced"
1. Create a new web application project using the empty template targeting >= .NET Core 3.0
1. Open `Startup.cs`
1. Press `F12` on `UseRouting`
1. Accept the decompila

[2020-02-28 01:29] agocke commented on #40424
Identical JIT assembly, not a big deal.

[2020-02-28 02:02] C26000 commented on #41989
Hello,

This is the version I have:
Microsoft Visual Studio Community 2019
Versión 16.4.5

[2020-02-28 04:05] sujayvsarma commented on #41974
@NTaylorMullen All the variables [`isEditMode`, `data`] visible in that screenshot are right there, and just a couple of lines above. It actually does not matter where and how the data comes from. The debugger does this for ALL variables in a View's code.

[2020-02-28 04:26] NTaylorMullen commented on #41974
@sujayvsarma how Razor works is it generates hidden documents to break the document into the various languages (you can't see those hidden documents). So there's a lot behind the scenes running and being analyzed by the debugger/Roslyn that is not directly visible to the user. Aka just because you can see the variables doesn't mean the Debugger fully understands the context. In your example all yo

[2020-02-28 04:51] paul1956 opened #42014 "Comment is backwards for Return Value in VB\Binder CheckOverFlow"
**Version Used**:
Master
**Steps to Reproduce**: N/A
Current code
[code]
**Expected Behavior**:
The comment matched the Behavior
**Actual Behavior**:
The code returns
[code]
I would be happy to PR the change

[2020-02-28 05:46] sujayvsarma commented on #41974
You're talking about the `.g.cs` files in the `obj\` path, aren't you?

What should I look for in those files to help find the issue you're referring to?

There are very few lines like `#line [number] [path to .cshtml]" and a lot of lines that go `#line default` and `#line hidden`. And quite a lot that do `#nullable disable` and `#nullable restore` (I have `nullable` enabled in the `.csproj`).

[2020-02-28 06:18] NTaylorMullen commented on #41974
Kind of. The .g.cs in `obj` are the files that inform the debugger to jump to which file in VS. Now once in VS there's an entirely different set of logic that the debugger follows where it looks at its in-memory representation of those files (we generate different code in the editor) and attempts to map the two together to provide you a good experience.

Honestly there's not much you can dig for i

[2020-02-28 07:23] davkean commented on #42010
There's clearly some smarts to already do this for reference assemblies from .NET Framework, that same logic needs to apply to .NET Core targeting packs.

[2020-02-28 10:09] alrz opened #42016 "Please consider separate kinds for pattern combinators"
Currently it's not convenient to distinguish pattern combinators.

Following expressions, I suggest:

[code]
/cc @gafter

[2020-02-28 13:43] sharwell opened #42018 "'ref var' incorrectly infers a nullable type"
**Version Used**: 3d7c4d4

**Steps to Reproduce**:

[code]

**Expected Behavior**:

A warning is reported on `local = null`:

**Actual Behavior**:

A warning is reported on `local = ref _field`:

[2020-02-28 15:02] sharwell commented on #42010
The root cause of this problem is decompilation is not expected to be used for these assemblies _at all_. Per #24349, navigation to ASP.NET assemblies should navigate to the original source (step 4), and not rely on ILSpy at all.

It uses the GAC:

https://github.com/dotnet/roslyn/blob/f278fd4dbf471a14eaebbff4f1456ea52c706bae/src/EditorFeatures/CSharp/DecompiledSource/CSharpDecompiledSourceService

[2020-02-28 15:04] sharwell commented on #42010
Duplicate of #24349

[2020-02-28 15:04] #42010 closed

[2020-02-28 15:08] sharwell commented on #39768
@JoeRobich can you update the milestone for this issue and the linked pull request to reflect the first release it will be included in?

[2020-02-28 15:11] sharwell commented on #41987
CS8609 should not be reported here for two reasons:

1. `MaybeNull` would be redundant
2. A derived type is allowed to return a non-nullable reference type while overriding a member that returns a nullable reference type (#23268)

Related to #41884

[2020-02-28 15:14] YairHalberstadt commented on #41987
@sharwell

Here the derived type is a nullable reference type, so 2 doesn't apply.

[2020-02-28 15:19] sharwell commented on #41987
@YairHalberstadt Option 2 still applies in concept. It means that not only are the forms here equivalent, but the check itself is fundamentally incorrect because the language allows covariant types here.

[2020-02-28 16:45] jaredpar commented on #23123
Closing as this does appear to be fixed now.

[2020-02-28 16:45] #23123 closed

[2020-02-28 16:52] #40776 closed

[2020-02-28 17:47] RikkiGibson commented on #41989
(not certain whether this bug relates to nullable reference types or not, but tagging it anyway.)

Since I don't have the declaration of `Contexto` I tried making this similar-ish example:

[code]

Could you please share additional details about the scenario that causes the crash? Perhaps a zip file containing a minimal reproduction of the bug or a [crash dump](https://github.com/dotnet/roslyn/blo

[2020-02-28 17:58] gafter commented on #42016
I will make this recommended change.

[2020-02-28 18:00] CyrusNajmabadi commented on #39889
@nkolev92 You mentioned:

Are those APIs available yet?  Note that it's *really* bad that we have APIs here that have a UI thread dependency.  Roslyn itself has to go through many contortions to be able to both use these APIs and not impede the user.  UI thread dependencies are really bad for overall user experience as they end up blocking the UI and causing all those pauses and whatnot that users

[2020-02-28 18:32] pentp commented on #38822
This happens also with a complete & valid program if the lambda contains a #warning: [example](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEBMBGAsAKFygZgAJ0iBhXAb1yNpOJQwDYSM0iB1AQQBUAKAJREAvAD4igkaJp1qOOgqIA7OAHdyggNxEA9DqKIEAewREAkgBEAohgAMtgBwgiAcjIuiAEyNwoyozBEAMZGSjAQAJZKRBDBobAIAK5BMCZEMAAWEIHhANa+6VmBkEoAnjEIAOaJYHBhUAB0uADEqhAISlGVXjVgYOV6RBEAZkSlRolxfXWBEzkZEX5pYEYAbnCFGwA2RpURQURzUBGeG0aj

[2020-02-28 18:46] C26000 commented on #41989
I tried your class and it doesn't produce the problem.  I made some tests but apparently the bug is very specific to my classes. That method is inside an abstract generic class Factura<E, M> so things may be very specific to my case but still is a very serious bug that may affect randomly other users.

My project is open source so if you can clone it it would be the most direct way of testing it i

[2020-02-28 18:54] gafter opened #42022 "Eliminate dead parameters in flow analysis"
As far as I can tell, the following parameters are passed around but nothing every happens to them.  These parameters should be able to be eliminated.

- The parameter `tryState` in `VisitTryBlock` in `AbstractFlowPass`.
- The parameter `finallyState` in `VisitCatchBlock` in `AbstractFlowPass`.
- The parameter `stateMovedUp` in `VisitFinallyBlock` in `AbstractFlowPass`.

[2020-02-28 18:55] RikkiGibson commented on #41989
Thanks, will take a look :)

[2020-02-28 18:58] gafter commented on #42022
The same may be true for
- The parameter `tryState` to `VisitTryBlockWithAnyTransferFunction`.
- The parameter `finallyState` to `VisitCatchBlockWithAnyTransferFunction`
- The parameter `stateMovedUp` to `VisitFinallyBlockWithAnyTransferFunction`

[2020-02-28 19:07] jasonmalinowski commented on #42021
@tmat @sharwell Where is our primary bug to track this?

[2020-02-28 19:27] gafter commented on #42016
I'll also rename `UnaryPatternSyntax` to `NegatedPatternSyntax`.

[2020-02-28 19:36] alrz commented on #42016
it's possible we want to add additional (unary) pattern operators in the future (like https://github.com/dotnet/csharplang/issues/1510) but I think it shouldn't block this change.

[2020-02-28 19:41] #40326 closed

[2020-02-28 19:41] #41682 closed

[2020-02-28 19:47] tmat commented on #42021
https://github.com/dotnet/roslyn/issues/24349

[2020-02-28 20:05] #41903 closed

[2020-02-28 20:11] gafter commented on #42016
You're right, I'll restrain myself to your recommended changes.

[2020-02-28 20:12] gafter commented on #42016
What do you think:
[code]

[2020-02-28 20:33] alrz commented on #42016
Sounds good to me. As for pattern names, I do think And/Or terms should be easier to understand in the public API documentation.

[2020-02-28 20:49] Sliptory commented on #41822
The problem is this:
In the form in which I did it now (you can look at the commit), this does not work in VB (tests do not pass). What to do with this, I do not understand yet.

[2020-02-28 22:02] jinujoseph commented on #39889
reported [here ](https://developercommunity.visualstudio.com/content/problem/933130/vs-1650-preview-30-ide-hang-during-quick-action-su.html)

[2020-02-28 22:40] CyrusNajmabadi commented on #41822
Can you open a PR so someone can pull this locally to try it out?

[2020-02-28 22:50] buyaa-n opened #42026 "Compiler warns for a field which initialized within constructor inside try block"
Compiler warns for a field which initialized within constructor inside try block
**Steps to Reproduce**:
[code]
**Expected Behavior**:
Shouldn't warn

[2020-02-28 23:03] Sliptory commented on #41822
I reopened PR

[2020-02-28 23:15] RikkiGibson commented on #41989
Thanks for reporting this bug. I can repro this with 16.4.5 but not 16.5-preview2 or 16.6-preview2.

If you install the [Visual Studio public preview](https://visualstudio.microsoft.com/vs/preview/) you should no longer experience the bug.

Stack:
[code]

This may be an instance of #39868. Will close this issue as a duplicate.

[2020-02-28 23:15] #41989 closed

[2020-02-28 23:18] tmat opened #42028 "Reuse solution instance when loader instance doesn't change in With*DocumentTextLoader"

[2020-02-28 23:18] RikkiGibson commented on #42026
I think this is by-design because it is possible for the constructor to return normally without the _value being initialized (due to the catch block).

Compare to this similar program that has no warning:

[code]

[2020-02-28 23:19] tmat opened #42029 "Solution.WithDocumentText should throw when given null or unrelated document ids"
Currently these values are skipped.

It'd be a breaking change.

[2020-02-28 23:24] RikkiGibson commented on #42018
Related to #40477

@jcouv it feels like a 'ref var' needs to infer a non-nullable type when the referenced variable is of a non-nullable reference type.

[2020-02-28 23:29] RikkiGibson commented on #41980
do you need to call `base.Visit(node)` in order to visit nested invocation expressions?

[2020-02-28 23:37] buyaa-n commented on #42026
You are right, its not warning if it throws on catch, thanks! Closing

[2020-02-28 23:37] #42026 closed

[2020-02-29 01:24] sharwell commented on #42018
Note that `ref string? local` will produce a warning as well, so we are inferring a type that cannot be written as an explicit type without a warning.

[2020-02-29 01:27] vsfeedback opened #42036 "Automatic placement of brackets at pressing the space key after typing a sub or function in vb.net"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/929567/automatic-placement-of-brackets-at-pressing-the-sp.html)._

---
<p>There could be an add-in of some kind for Visual Studios 2015, 2017 and 2019, which would enable automatic placement of round brackets when user presses the space key, for example:</p><p>When I type &quo

[2020-02-29 01:28] kendrahavens commented on #42036
Possible duplicate of https://github.com/dotnet/roslyn/issues/12363 if C# and Visual Basic could be handled together.

[2020-02-29 01:55] jasonmalinowski opened #42037 "Should parameters use their method accessibility when applying naming styles?"
Right now when we compute the applicable naming styles for a parameter, the parameter picks up the accessibility of the containing method. This is _potentially_ useful, as it means you could have a rule that says all parameters that are on a public API must meet some standard style, but you are otherwise inconsistent in the internal parts of your codebase. This however is also confusing as the sub

[2020-02-29 02:34] aktxyz commented on #26315
in case anyone else runs into this ... you can manually add this to your csproj file and get passed this issue

[code]

[2020-02-29 02:36] jnm2 commented on #17271
This question should have had some response from someone.

[2020-02-29 03:28] #23106 closed

[2020-02-29 03:33] vsfeedback opened #42042 "Show "Add new in front of exception" in IntelliSense window for throw XXException()"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/548349/show-add-new-in-front-of-exception-in-intellisense.html)._

---
<p>Regarding errornous code like this:</p> <pre>throw NameOfTheException(); // &quot;new&quot; is missing</pre> <p>In the IntelliSense window (option+enter) Visual Studio for Mac will suggest to generate a

[2020-02-29 04:28] CyrusNajmabadi commented on #42042
this is a good idea :)

[2020-02-29 04:45] sharwell commented on #17271
The analyzer test library does this by default. If you can't use that library for your test purposes, you can use the same approach:

https://github.com/dotnet/roslyn-sdk/blob/2e8b8ef8a8133528f89010800d575a2f0403be74/src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/AnalyzerTest%601.cs#L1164-L1171

[2020-02-29 04:45] #17271 closed

[2020-02-29 05:47] zhusheping commented on #41980
[code]

[2020-02-29 07:38] CyrusNajmabadi commented on #41980
you need to do this instead:

[code]

Note: i would recomment using SyntaxEditor instead of a rewriter here.  it will make the code a lot easier and cleaner.

[2020-02-29 07:56] zhusheping commented on #41980
@CyrusNajmabadi
Wow, It's done. Thands a lot!
I haven't learned to use the syntax editor yet, and I can find very little information

[2020-02-29 07:56] #41980 closed

[2020-02-29 11:52] jnm2 commented on #17271
Cool, thank you! I looked through http://sourceroslyn.io/#Microsoft.CodeAnalysis.CSharp/CSharpCompilationOptions.cs,8ccf5a200c09bbb7,references and couldn't find where Roslyn was doing it, but I missed [this overload](http://sourceroslyn.io/#Microsoft.CodeAnalysis/Compilation/CompilationOptions.cs,94821cf4d51c954c,references) of the base method.

[2020-02-29 12:44] MaceWindu opened #42045 "Documentation on C# code to Expression conversion logic/quirks"
Guys, is it possible to provide some kind of documentation on what changes C# compiler applies to expression tree when it generates Expression object from C# code in IQueryable context?

As ORM developers, who need to work with expressions, from time to time we hit issues, because we receive unexpected values from expressions. Like char or enum values is source code being replaced with integer con

[2020-02-29 13:17] pentp opened #42046 "Incorrect nullable warning CS8602 after using a lifted compare for two nullable values."
**Version Used**: master (26 Feb 2020)

**Steps to Reproduce**: [example](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDYB8DEA7AVwwwmAzgAI49TyBYAKAAEAmARkaYGYKm2A2XiwoBhRgG9GFabx59BTACwUAsgAoAKgQAO5ADxo8MAHwB+CgA8kFLbrgGjZigE8AlFJmSGMnxTQAzCjULUwA6AEl4MDYKPRcwyLho929faS80tItQjQB7AGUYBEMAczVXAG4PNIBfaoo6hnruXgFeZXVDGHMrPyNzN3qMzICgi1iXFMyKYenpAH0KAF5LUIA1CAwCOCrU2vrGmqA==)

**Expected Behavior**:

[2020-02-29 16:25] bernd5 commented on #36027
The issue is still there.
It seems to happen only with MultiLineDocumentTrivia.

I'm not quite sure, but it could be just a missing case in Microsoft.CodeAnalysis.CSharp.Syntax.SyntaxNormalizer.NeedsLineBreakAfter.

[2020-02-29 16:30] jcouv opened #42049 "Parameter name completion inconvenient on local function with shadowing"
Since C# 8, local functions allow shadowing variable names.
When typing the following local function, I would expect the parameter name "symbol" to be suggested, rather than "symbol1", because "symbol" is allowed by the language (no conflict) and convenient.
This is especially desirable for static local functions, but also applicable to non-static local functions.

![image](https://user-images.git

[2020-02-29 17:16] alrz opened #42050 "Do not show "Gathering Suggestions" during rename tracking"
Ctrl+. in a rename session shouldn't run *all* code actions. It would be a lot faster if we just show "Rename" code action since a renaming is in progress and that's what most likely the user intends to do.

[2020-02-29 22:19] Sliptory commented on #41981
I will take this task

[2020-02-29 22:39] davkean commented on #41981
Assigned it.

[2020-02-29 23:26] Sliptory commented on #41981
Is it possible to get a test structure, otherwise I just can’t reproduce this situation. Thanks :)

[2020-02-29 23:35] davkean commented on #41981
Something like the following should repro:

[code]

[2020-03-01 10:51] ismaelhamed commented on #26315
VS: **16.5.0 Preview 4.0**
.NET: **4.8**

Startup object's dropdown-list doesn't work with an `async Task Main` method, it shows empty (see @sharwell comment). If I change its signature to `void Main`, then it shows up.

[2020-03-01 11:20] YairHalberstadt opened #42054 "Optimize switch code generation with relational operators via tree"
**Version Used**: https://github.com/dotnet/roslyn/tree/features/patterns3

**Steps to Reproduce**:

Look at the decompilation for the following code in sharplab:

[code]

decompiles to:

[code]

It could be made more efficient by creating a binary search tree, similar to what is done for strings:

[code]

[2020-03-01 11:25] yyjdelete commented on #41598
Another StackOverflowException in VS16.5preview4, maybe the same one since the method is inlined.
Since it inlined, the only thing I can see in debugger is `y` is an `ValueTuple'2`, and xKind of `x.TupleElements[].Type` is TypeParameter

[code]

[2020-03-01 12:33] Sliptory commented on #41981
#42055 Add PR

[2020-03-01 15:45] Sliptory commented on #41780
I will take this task

[2020-03-01 18:10] alrz opened #42057 "Incorrect null reference warning if null-check is in another case-guard"
**Version Used**: master

**Steps to Reproduce**:
[code]

**Expected Behavior**: no warning on ToString() line

**Actual Behavior**: warning CS8602: Dereference of a possibly null reference.

[2020-03-01 19:18] CyrusNajmabadi commented on #483
The first two were added already.  Not seeing enough demand for the latter two to warrant this issue.

[2020-03-01 19:18] #483 closed

[2020-03-01 19:20] CyrusNajmabadi commented on #1900
I'm ok with this behavior.  User may want to be making a set of steps.  it's ok for intermediary steps to be in error to still help them make the changes they may expect to be able to make.

[2020-03-01 19:25] CyrusNajmabadi commented on #1639
I don't believe htere's any actual work to be done here.  The existing API remains and is suitable for the feature purpose.  Moving to the new api doesn't really change anything (it just means we make multiple calls instead of one).  I'm closing this out as changing our impl doesn't seem to improve things and doesn't lead to any user visible behavior.

if tehre is some user visible feature benefit

[2020-03-01 19:25] #1639 closed

[2020-03-01 19:26] CyrusNajmabadi commented on #1564
Looks like we do check the base types: https://github.com/dotnet/roslyn/blob/9592fdad9227dbc65d2add06c149788e03711811/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ITypeSymbolExtensions.cs#L407

[2020-03-01 19:26] #1564 closed

[2020-03-01 19:32] CyrusNajmabadi commented on #2186
There are good reasons these extensions aren't available.  We change them all the time (see many recent changes to move and refactor them), and we don't want to be beholden to maintaining these internal impl details as any sort of public contract.

[2020-03-01 19:32] #2186 closed

[2020-03-01 19:35] CyrusNajmabadi commented on #2037
I disagree.  This is a problem with the code-fixes/refactorings.  They should not be trying to do things that are just not possible.

[2020-03-01 19:36] CyrusNajmabadi commented on #2025
No repro.

[2020-03-01 19:36] #2025 closed

[2020-03-01 19:37] CyrusNajmabadi commented on #2023
Behavior seems acceptable.  user is already informed (through several mechanisms) that there's a problem with their doc comment.

[2020-03-01 19:41] CyrusNajmabadi commented on #3239
Note: this was a deliberate decision made by far more people saying: hey... whne i'm going to implement this, i really want the usings because i don't want things fully qualified in this manner.

Given the large amount of feedback there, and the only one piece of feedback here, i believe our current behavior is the most desirable, and that there's not enough justification here to handle the much r

[2020-03-01 19:44] CyrusNajmabadi commented on #2934
Closing out.  The right extension point is through CodeAction and CodeActionOperation.

[2020-03-01 19:44] #2934 closed

[2020-03-01 19:46] CyrusNajmabadi commented on #2574
This is out of scope for the goals of the Roslyn project.

[2020-03-01 19:48] CyrusNajmabadi commented on #3584
I dn't see anything here that really makes me feel that updating the behavior here would actually be desirable.  i.e. just as often as not it seems like it would be a bad decision.  As such, defaulting to conservative behavior in the presence of this sort of error feels reasonable.

[2020-03-01 20:13] CyrusNajmabadi opened #42061 "Provide feature to switch between different string-forms."
i.e. if i have

[code]

I would like an easy way to convert this to:

[code]

[2020-03-01 21:21] sharwell commented on #2023
Reopening. This statement is not correct:

Under default project configurations, Quick Info does not work and there is no indication at all regarding the cause.

[2020-03-01 21:23] sharwell commented on #3584
@CyrusNajmabadi Reopening to bring to design review with a proposed resolution of **By Design**.

[2020-03-01 21:24] sharwell commented on #2574
Reopening to bring to design review with a proposed resolution of **Not Applicable**.

[2020-03-01 21:25] sharwell commented on #3239
Reopening to bring to design review with a proposed resolution of **By Design**.

[2020-03-01 21:31] sharwell commented on #1564
Fixed by #5536

[2020-03-01 21:37] sharwell commented on #1900
Reopening; the original issue remains up for grabs. There are two acceptable approaches for fixing this:

1. Continue offering the **Extract Local** functionality for `New Action`, and omit it entirely for `AddressOf Foo`.
2. Offer the **Extract Local** functionality in both locations, but automatically treat both locations as extracting the entire `New Action` expression to a local.

[2020-03-01 21:39] sharwell commented on #483
The fourth option also exists as a refactoring. A new issue could be filed to address unnecessary explicit named arguments if someone wants to propose specifics for how it would behave.

[2020-03-01 22:25] #3558 closed

[2020-03-01 22:31] #41260 closed

[2020-03-01 22:32] sharwell commented on #41260
Design review conclusion: This is fine, provided we mark the `Option<T>` constructor obsolete which omits the explicit default value.

[2020-03-01 22:33] CyrusNajmabadi commented on #3716
This does not repro for me.  We produce the fully qualified name for an import when adding a using:

![image](https://user-images.githubusercontent.com/4564579/75635267-971c7480-5bc9-11ea-81e7-b00ca1b1d52c.png)

[2020-03-01 22:33] #3716 closed

[2020-03-01 22:38] CyrusNajmabadi commented on #4345
This should be covered by the "pull members up" feature:

![image](https://user-images.githubusercontent.com/4564579/75635364-448f8800-5bca-11ea-9829-1e465c6b43c7.png)

I think the user experience is acceptable here as you can get hte bulk of your members initially, then as you add new ones, you can just quickly shoot of the action to pull it into the interface.

[2020-03-01 22:38] #4345 closed

[2020-03-01 22:40] CyrusNajmabadi commented on #4407
This sounds like it would be covered by [DefaultInterfaceMethods](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/default-interface-methods.md)

I don't think this really qualifies as an IDE feature.  Tagging @jasonmalinowski for thoughts here.  My preference is to close this out.

[2020-03-01 22:43] CyrusNajmabadi commented on #5399
Note: it's legal to write:

[code]

We could consider filtering these out if there aren't available inner types the user might be referencing.

[2020-03-01 22:49] CyrusNajmabadi commented on #5750
I'm not sure we need this issue anymore.  This feels like the set of features we have for moving types around is sufficient for these usecases without having to have this specific feature embed that functionality directly in it.

[2020-03-01 22:53] CyrusNajmabadi commented on #7052
VB has this behavior:

![image](https://user-images.githubusercontent.com/4564579/75635620-70137200-5bcc-11ea-8b93-857bf8a609a3.png)

[2020-03-01 22:53] #7052 closed

[2020-03-01 22:55] CyrusNajmabadi commented on #6787
This is available now:

![image](https://user-images.githubusercontent.com/4564579/75635646-ac46d280-5bcc-11ea-86e6-40fddcc26d52.png)

as well as:

![image](https://user-images.githubusercontent.com/4564579/75635654-b799fe00-5bcc-11ea-93aa-240d61703521.png)

[2020-03-01 22:55] #6787 closed

[2020-03-02 02:48] CyrusNajmabadi commented on #7919
@amcasey @jinujoseph How can we look into where this is today?  I'd like to either close out these issues or ensure we are addressing these crashes.

[2020-03-02 02:50] CyrusNajmabadi commented on #8157
Closing out.  This was intentionally phrased.

[2020-03-02 02:50] #8157 closed

[2020-03-02 02:53] CyrusNajmabadi commented on #8420
This is weird.  This is exactly what the BackgroundCompiler type is designed for: https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/Workspace/BackgroundCompiler.cs

Effectively, it keeps track of the actively edited file and will continually ensure that we have an up to date compilation for it.

@DavidKarlas are you using that type?  if not, can you move to using it?

[2020-03-02 03:14] CyrusNajmabadi commented on #8317
Not repro:

![image](https://user-images.githubusercontent.com/4564579/75642586-e3c77600-5bf0-11ea-9443-d8be20f694af.png)

Completing this gives:

![image](https://user-images.githubusercontent.com/4564579/75642596-eaee8400-5bf0-11ea-90b2-36538cb44809.png)

[2020-03-02 03:14] #8317 closed

[2020-03-02 03:34] CyrusNajmabadi commented on #8709
Have not gotten any feedback about this.  Closing out.

[2020-03-02 03:34] #8709 closed

[2020-03-02 03:37] CyrusNajmabadi commented on #9828
Closing out as this has been confirmed to be fixed.

[2020-03-02 03:37] #9828 closed

[2020-03-02 03:48] CyrusNajmabadi commented on #10220
This no longer reproes.  Added https://github.com/dotnet/roslyn/pull/42073 to ensure this doesn't regress.

[2020-03-02 03:59] DavidKarlas commented on #8420
In 4 years so much has changed... VSMac is much closer to what VSWindows does so, its likely this is not problem anymore...

[2020-03-02 03:59] #8420 closed

[2020-03-02 04:06] CyrusNajmabadi commented on #10155
@dpoeschl is this on us?  don't we just use KnownMonikers.XXX?  Should this go to the platform?

[2020-03-02 04:15] CyrusNajmabadi commented on #11110
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:15] CyrusNajmabadi commented on #11109
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:15] CyrusNajmabadi commented on #11108
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:15] CyrusNajmabadi commented on #11107
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:15] CyrusNajmabadi commented on #11106
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:15] CyrusNajmabadi commented on #11105
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:15] CyrusNajmabadi commented on #11104
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:16] CyrusNajmabadi commented on #11103
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:16] CyrusNajmabadi commented on #11102
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:16] CyrusNajmabadi commented on #11101
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:16] CyrusNajmabadi commented on #11100
@sharwell @tmat .  I think we should likely close this out.  It feels like this should go through LSP.

[2020-03-02 04:19] CyrusNajmabadi commented on #12023
This works now:

![image](https://user-images.githubusercontent.com/4564579/75645249-fd20f000-5bf9-11ea-9d80-afe164f6a92a.png)

Fixed with https://github.com/dotnet/roslyn/pull/14240

[2020-03-02 04:19] #12023 closed

[2020-03-02 04:22] CyrusNajmabadi commented on #11778
Behavior seems correct:

![image](https://user-images.githubusercontent.com/4564579/75645300-3e190480-5bfa-11ea-93a4-5769d3b9bbf8.png)

We offer to generate either the constructors or the method.  The former is fine as we don't want to force hte user to have to get their code entirely correct before we can help them generate code that they then may continue to fixup.

[2020-03-02 04:22] #11778 closed

[2020-03-02 04:28] CyrusNajmabadi commented on #8420
Great.  Thanks!

[2020-03-02 04:46] CyrusNajmabadi commented on #13398
@DavidKarlas is this still an issue ?  The same issue applies as the other case.  BackgroundParser should keep things up to date at a pretty steady pace.

[2020-03-02 04:49] DavidKarlas commented on #13398
In 4 years so much has changed... VSMac is much closer to what VSWindows does so, its likely this is not problem anymore...

[2020-03-02 04:49] #13398 closed

[2020-03-02 04:54] CyrusNajmabadi commented on #13796
Closing out.  I couldn't find any cases that didn't work (and we have tests for many examples).  @gafter if you can think of any, let us know!

[2020-03-02 04:54] #13796 closed

[2020-03-02 04:57] #10220 closed

[2020-03-02 04:57] CyrusNajmabadi commented on #14548
Fixed with https://github.com/dotnet/roslyn/pull/38832 .

[2020-03-02 04:57] #14548 closed

[2020-03-02 05:00] CyrusNajmabadi commented on #14277
not repro.  will add test indicating this.

[2020-03-02 05:01] jcouv commented on #42057
Tagging @gafter to confirm, but I believe this is expected based on language design. The analysis done on `when` clauses doesn't carry over to any other branch.

[2020-03-02 05:01] jcouv commented on #42054
Tagging @gafter to triage

[2020-03-02 05:07] #10174 closed

[2020-03-02 05:30] #8716 closed

[2020-03-02 05:36] #12631 closed

[2020-03-02 05:40] #8319 closed

[2020-03-02 05:47] #12544 closed

[2020-03-02 05:47] #23664 closed

[2020-03-02 06:14] CyrusNajmabadi commented on #15711
This was done in https://github.com/dotnet/roslyn/pull/33989 and https://github.com/dotnet/roslyn/pull/33983 and https://github.com/dotnet/roslyn/pull/33978

[2020-03-02 06:14] #15711 closed

[2020-03-02 06:20] CyrusNajmabadi commented on #16851
This was added with https://github.com/dotnet/roslyn/pull/28257

![image](https://user-images.githubusercontent.com/4564579/75650474-c901fb00-5c0a-11ea-9d54-bf444e6ec43d.png)

[2020-03-02 06:20] #16851 closed

[2020-03-02 06:22] CyrusNajmabadi commented on #16675
This was done:

![image](https://user-images.githubusercontent.com/4564579/75650552-0d8d9680-5c0b-11ea-9c35-12cb06afa053.png)

I believe @mavasani did hte work, but i can't find the PR.

[2020-03-02 06:22] #16675 closed

[2020-03-02 06:27] CyrusNajmabadi commented on #16976
I can't repro this either.  Closing out.

[2020-03-02 06:27] #16976 closed

[2020-03-02 06:32] CyrusNajmabadi commented on #18239
This is hte current behavior now:

![image](https://user-images.githubusercontent.com/4564579/75651071-7d505100-5c0c-11ea-87dd-9e4dc48bc326.png)

[2020-03-02 06:32] #18239 closed

[2020-03-02 06:34] CyrusNajmabadi commented on #17987
This is how the code works. Closing out.

[2020-03-02 06:34] #17987 closed

[2020-03-02 06:40] tmat opened #42083 "GetDocumentHighlightsAsync throws System.ArgumentException: Wrong number of type arguments"
There should be a Watson report for this OOP crash.

Stack trace

[code]

[2020-03-02 07:11] #10170 closed

[2020-03-02 07:18] #14128 closed

[2020-03-02 09:32] CreateAndInject opened #42088 "Is there a PlatformTargets like TargetFrameworks in new SDK project?"
I can build multi frameworks by TargetFrameworks in SDK project, how can I build multi platforms?

The following doesn't work:
[code]

[2020-03-02 10:08] Evangelink commented on #41907
Thank you all for the answers!

@mavasani I will remove the null checks on the 2 linked ticket in `roslyn-analyzers` if that's ok for you.

@333fred Is there something I could help with?

[2020-03-02 13:07] DaRosenberg opened #43988 "Add an analyzer to recommend using named parameters when passing literals as arguments"
We employ a guideline to always use named parameters when the meaning of an argument is not obvious from the argument itself.

For example, the intent is not very clear here, from just looking at the code:
[code]

If you're in an IDE, you can of course hover over the method call for a few seconds to get a tooltip, or go to the definition of the method, but it adds friction and delay when reading c

[2020-03-02 16:36] BillWagner opened #42092 "Missing documentation"
@KitPatterson commented on [Thu Feb 27 2020](https://github.com/dotnet/docs/issues/17248)

What does this property mean?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6d82018-baca-ba95-f165-1c8c5be8f45b
* Version Independent ID: 4451cff1-8f80-7350-2c09-7e44b9ee8039
* Content: [AdhocWorkspace.CanOpenDocuments Property

[2020-03-02 17:19] #14135 closed

[2020-03-02 17:20] #18322 closed

[2020-03-02 17:40] alrz commented on #42057
That's true of other analysis as well (like def-assignment), but I was surprised that we don't recognize that, because DAG impl is specifically designed to merge identical `case` labels and only branch on `when` clauses for lowering.

[2020-03-02 17:51] #42014 closed

[2020-03-02 18:13] gafter commented on #42054
This is item 4 in https://gist.github.com/gafter/87b385896109f00b9b6b0afbde8bf8bc.  It is unclear if we'll do this in the C# 9 timeframe.

[2020-03-02 18:20] CoolDadTx commented on #37243
I agree with earlier post, this needs to be opt in, not required. There are many reasons to move a file/folder AND NOT have the namespace automatically changed. This should be an option when the move occurs (like the symbolic rename when you rename a file). Sometimes I want the namespace changed, many times I don't. Examples.
- Published libraries that have namespaces already being used and you're

[2020-03-02 18:28] gafter commented on #42057
We sometimes base the analysis on the DAG, and sometimes on a sequential reading of the cases. If you want something included, better to be explicit about it:

[code]

[2020-03-02 18:28] Michael-Eng opened #42095 "Create a single file watcher for a folder"
In our out of memory investigations for VS, we see that Roslyn ends up creating VS file watchers for each individual file. Instead it should create a single file watcher for each folder.

The large number of file watchers is contributing significantly to the memory that's consumed when opening a large .NET Core solution, and impacts the overall ability to load large solutions.

[2020-03-02 18:31] jinujoseph commented on #42095
cc @jasonmalinowski not sure if there was another bug for it , could not find it.

[2020-03-02 18:35] CyrusNajmabadi commented on #5469
Hi @Mike-EEE, this is out of scope for the goals of the Roslyn project.  Roslyn does not aim to, and is not working on, a general platform for either compilers or .net languages.  It is very focused on both being just a good analysis/feature system for VB and C# and to work with the greater IDE ecosystem through projects like [lsif](https://github.com/microsoft/language-server-protocol/blob/master

[2020-03-02 18:35] #5469 closed

[2020-03-02 18:35] vsfeedback opened #42096 "VS 16.5.0 Preview 3.0 - IDE0071WithoutSuggestion"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/926637/vs-1650-preview-30-ide0071withoutsuggestion-1.html)._

---
My error list shows messages with a code of IDE0071WithoutSuggestion. Shouldn't the code be IDE0071? See attached screenshot.

---
### Original Comments

#### Visual Studio Feedback System on 2/23/2020, 09:22

[2020-03-02 18:36] CyrusNajmabadi commented on #7567
We have added a feature to automatically add accessibility modifiers to a type.  Adding/removing static seems to be of fairly marginal value.  Closing out.

[2020-03-02 18:36] #7567 closed

[2020-03-02 18:44] CyrusNajmabadi commented on #8369
1. I don't believe any reports have been received pointing to this data.
2. This data is now stored out of proc.  So the impact on the VS solution should be minimal.

Closing out.

[2020-03-02 18:44] #8369 closed

[2020-03-02 19:16] Mike-EEE commented on #5469
In agreement, @CyrusNajmabadi.  While it is focused on these things, it's also an incredible source of developer creativity and inspiration, which is why it got me to post this in the first place. 😆

This is one of those things where I wouldn't have done it unless I learned not to do it from having done it, if that makes any sort of sense. 😁

[2020-03-02 19:16] CyrusNajmabadi commented on #11863
No data provided here.  Closing out.

[2020-03-02 19:16] #11863 closed

[2020-03-02 19:16] Mike-EEE commented on #5469
Incidentally, this is also the perpetual story of my life. 😏

[2020-03-02 19:17] CyrusNajmabadi commented on #12591
This no longer reproes.  Will add test to demonstrate this.

[2020-03-02 19:18] rummelsworth commented on #31751
This hit an app I'm working on pretty hard. We run long "analysis" operations and were trying to run hundreds at once when we ran into this. Our expressions are numeric-only and simple enough that we easily transitioned to [Jace.NET][jace] to avoid this memory leak in Roslyn, but we've got another app in which expressions can have string parameters and operations, which will prevent usage of Jace.

[2020-03-02 19:24] CyrusNajmabadi commented on #12112
Not seeing a lot of value here.  While optional parameters aren't great, the defaults here are fine and shouldn't be a problem for the foreseeable future.

[2020-03-02 19:24] #12112 closed

[2020-03-02 19:26] CyrusNajmabadi commented on #13414
Moving ot compiler.  The issue here seems to be that we don't get `protected Person(string name)` as a `CandidateSymbol` here (with expected reason of `CandidateReason.Inaccessible`).  Note this is a fairly minor issue.  No pressing need to solve any time soon IMO.

[2020-03-02 19:28] CyrusNajmabadi commented on #42095
@Michael-Eng @jasonmalinowski I thought the platform was supposed to automatically do this for us.  That way the individual languages/services don't need to know about this sort of optimization, but instead all the batching is done at the platform level.

[2020-03-02 19:37] jasonmalinowski commented on #42095
So they do the consolidation, but we wanted to add an optimization to avoid consolidating thousands of source file paths if not necessary. The change is just here:

https://github.com/dotnet/roslyn/blob/4be125cab1f70b6af4ba7b476ee647eca975f3a3/src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs#L130-L132

Uncomment the commented line, delete the other one, and run an RPS

[2020-03-02 19:58] Michael-Eng commented on #42095
I think the request in this bug is to do what's outlined on line 130

[2020-03-02 20:38] Sliptory commented on #41981
#42099 add clean PR

[2020-03-02 21:02] terrajobst opened #42103 "Provide a generic code fixer for navigating the URL of a diagnostic"
The `DiagnosticDescriptor` has a [`HelpLinkUri` property](http://sourceroslyn.io/#Microsoft.CodeAnalysis/Diagnostic/DiagnosticDescriptor.cs,4a0a00cc5df1dbb4,references) which is used by the IDE to render a hyperlink in the error list:

![image](https://user-images.githubusercontent.com/5169960/75716965-1622b300-5c85-11ea-875e-962a56026860.png)

However, this is quite subtle and I've seen many peop

[2020-03-02 21:17] #12591 closed

[2020-03-02 21:30] CyrusNajmabadi commented on #17310
@mavasani Can this be moved to Roslyn-Analyzers?

[2020-03-02 21:38] mavasani commented on #17310
Tagging @stephentoub - I believe this is tracked by https://github.com/dotnet/roslyn-analyzers/issues/2811 and there is already a WIP PR for it: https://github.com/dotnet/roslyn-analyzers/pull/2831

[2020-03-02 21:40] #41273 closed

[2020-03-02 21:44] CyrusNajmabadi commented on #18282
@sharwell @jinujoseph We could consider closing this now that we have a general wrapping-refactoring.  Future requests could just be about specific wrap areas we don't currently support.  I'd prefer that those come in with specific requests about those lang features.

[2020-03-02 21:47] CyrusNajmabadi commented on #19140
Moving to compiler.  The issue here is that binding isn't going into these bodies.  This is an error case, but should still work IMO.

[2020-03-02 21:58] CyrusNajmabadi commented on #20296
This works now (and we have tests for this like `TestEqualsSingleField_Patterns`).

[2020-03-02 21:58] #20296 closed

[2020-03-02 22:02] CyrusNajmabadi commented on #20487
This works properly now.  The error gets higher priority than removing the unnecessary variable no matter where you are.

[2020-03-02 22:02] #20487 closed

[2020-03-02 22:06] CyrusNajmabadi commented on #20862
Resolving no repro as we haven't heard any way to cause this to be hit.

[2020-03-02 22:06] #20862 closed

[2020-03-02 22:14] CyrusNajmabadi commented on #17310
Great.  Closing out then.

[2020-03-02 22:14] #17310 closed

[2020-03-02 22:16] jasonmalinowski commented on #13679
@CyrusNajmabadi @jinujoseph FYI that this is the original tracking bug for #42095. I'll let you dedup as you want.

[2020-03-02 22:31] CyrusNajmabadi commented on #21227
Tagging @sharwell.  We likely really should do this once we have hte .editor_config setting for copyright header

[2020-03-02 22:37] gafter opened #42107 "Error parsing a parenthesized relational pattern"
[code]

[2020-03-02 22:42] drewnoakes opened #42108 "Invalid IDE0004 on cast in switch expression"
**Version Used**: Version 16.6.0 Preview 2.0 (master) (private branch build with unrelated changes)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Cast is not flagged as redundant.

**Actual Behavior**:

Cast is flagged as redundant. Removing it introduces CS0266 on `E.A` in switch case.

[2020-03-02 22:44] CyrusNajmabadi commented on #21124
Assigning to compiler.  This appears to be an inconsistency in terms of how their API works.  In C# these attributes are not exposed off of the parameter (expected).  But in VB the attributes are there.  Having these be different doesn't make sense to me and seems lke something that needs to be fixed.

[2020-03-02 23:02] jcouv commented on #21124
@CyrusNajmabadi What API are we talking about, if you know?

[2020-03-02 23:03] AdamDotNet commented on #38513
I will definitely try this as soon as I can, I'm just swamped on internal issues that I need to help resolve first.

[2020-03-02 23:32] jinujoseph commented on #18282
@alrz closing this issue as completed. let us know if you think otherwise

[2020-03-02 23:32] #18282 closed

[2020-03-03 00:11] CyrusNajmabadi commented on #16083
I believe this is fixed now.  We wait until solution is fully loaded before we offer the lightbulbs:

![image](https://user-images.githubusercontent.com/4564579/75730039-80951c80-5ca0-11ea-8136-47b310cb43d3.png)

[2020-03-03 00:11] #16083 closed

[2020-03-03 00:15] CyrusNajmabadi opened #42115 "Cancelling a lightbulb produces a yellow-bar"
[code]

[2020-03-03 00:24] mavasani opened #42116 "dotnet_analyzer_diagnostic editorconfig setting affects compiler diagnostics in IDE"
**Version Used**: Latest 16.6 dogfood preview build

**Steps to Reproduce**:

1.
[code]

2. Create an .editorconfig at root of the project with following setting (basically uses the new bulk configuration feature added in https://github.com/dotnet/roslyn/pull/38886):
[code]

**Expected Behavior**:
Editorconfig entry has no effect on compiler warning CS0219

**Actual Behavior**:
Editorconfig entry

[2020-03-03 00:25] mavasani commented on #42116
Tagging @allisonchou - thanks for finding this bug!

[2020-03-03 00:30] #42061 closed

[2020-03-03 00:48] #41910 closed

[2020-03-03 00:48] terrajobst commented on #42103
Tagging folks who have an interest in this space: @mikadumont @mavasani @CyrusNajmabadi

[2020-03-03 01:28] CyrusNajmabadi commented on #21493
Closing out as this moved to editor.

[2020-03-03 01:28] #21493 closed

[2020-03-03 01:29] terrajobst opened #42119 "Honor new properties on ObsoleteAttribute"
We'd like to [make obsoletion more viable](https://github.com/dotnet/designs/blob/master/accepted/2020/better-obsoletion/better-obsoletion.md). This requires extending the `ObsoleteAttribute`:

[code]

* `DiagnosticId`. Represents the ID the compiler will use when reporting a use of the API. This relies on diagnostic IDs being unique, just like the rest of the Roslyn analyzer facility.
* `UrlForma

[2020-03-03 01:33] CyrusNajmabadi commented on #22090
@mcpherson-sa Do you have an example where this ends up being an issue?

[2020-03-03 01:35] CyrusNajmabadi commented on #21999
This test appears to be working fine now.  Furthermore, the binaries from then are no longer available. Stack trace isn't helpful enough.  So closing out.

[2020-03-03 01:35] #21999 closed

[2020-03-03 01:37] terrajobst commented on #42119
One item that was left as an open issue in the spec is this:

My proposal would be no. If an ObsoleteAttribute has an explicit diagnostic ID, it cannot be turned by suppressing `CS0618`, the developer has to add a suppression for the specified diagnostic ID. As such, adding a diagnostic is the same as changing a diagnostic ID and thus a source breaking change.

[2020-03-03 01:38] CyrusNajmabadi commented on #22280
CLosing out.  The use case here is marginal, and will be subsumed by teh work @sharwell is doing to allow header-text to be specified in an .editorconfig file.

[2020-03-03 01:38] #22280 closed

[2020-03-03 01:40] CyrusNajmabadi commented on #22215
@KirillOsenkov Would def be great to have a well defined problem we have currently, and a suggestion on an improvement we could have for it.  Otherwise, i'm not sure this issue will go anywhere.

[2020-03-03 01:41] CyrusNajmabadi commented on #22150
This seems to work fine.  Will add test demonstrating as such.

[2020-03-03 01:50] CyrusNajmabadi commented on #22550
This is fixed.  Will add demonstrative test and close.

[2020-03-03 01:56] KirillOsenkov commented on #22215
We have bigger fish to try. I can reopen if this becomes an actual problem again.

[2020-03-03 01:56] #22215 closed

[2020-03-03 01:58] CyrusNajmabadi commented on #21124
Sorry!  I should have been clearer. It's 'GetAttributes'. On a vb parameter symbol is returning these tuple name attributes. It doesn't do that on the c# ones

[2020-03-03 02:46] #21107 closed

[2020-03-03 02:58] tmat commented on #42119
Does this need to be a compiler feature? Seems like an analyzer would do. Also, should Obsolete reporting be removed from the compiler entirely and moved to an analyzer entirely?

@mavasani

[2020-03-03 03:15] #22150 closed

[2020-03-03 03:19] drewnoakes opened #42126 "Convert var to explicit type introduces spurious nullable type"
**Version Used**: master

**Steps to Reproduce**:

[code]

Invoke "Use explicit type instead of 'var'" on the foreach variable declaration.

**Expected Behavior**:

[code]

**Actual Behavior**:

The `string?` type is used:

[code]

[2020-03-03 04:11] terrajobst commented on #42119
I discussed this with @agocke and @jaredpar. We can't make this analyzer feature without removing this from the compiler (otherwise we end up reporting the obsoletions twice, once under the old diagnostic and once under the new one). But we don't have vehicle for shipping built-in analyzers except for .NET 5, so you'd effectively remove this feature everywhere else.

To be honest, I don't think mo

[2020-03-03 04:32] sharwell commented on #42119
@terrajobst The compiler has a suppression mechanism. It would be trivial to suppress the original diagnostic ID at the same time as reporting the new one. However, analyzers require diagnostic IDs be declared in advance so it would not be possible to arbitrarily specify diagnostic IDs.

[2020-03-03 04:39] sharwell commented on #42126
Duplicate of #41243

[2020-03-03 04:48] terrajobst commented on #42119
I'm not sure what is gained by doing this. If we can't remove the code in the compiler that deals with handling `[Obsolete]` and we have to re-do this work for the analyzer (and we have to ship a suppressor for the built-in once), then we

1. Run the [Obsolete] analysis twice (once in the compiler, once in the analyzer)
2. Have the potential of introducing bugs by not handling the cases the same a

[2020-03-03 05:29] gafter opened #42127 "Possible bug when well-know member is missing"
The following is the result of annotating some code in `LocalRewriter_Call.cs`.  Note the (newly added) asserts.  They do not appear to be justified.  This is likely a latent bug.

[code]

[2020-03-03 05:53] sharwell commented on #42119
@terrajobst I'm not making a statement regarding which approach to use; I'm simply clarifying what the current tooling is capable of.

[2020-03-03 05:56] sharwell commented on #42119
I'm not sure how changing the diagnostic IDs would be expected to interact with #28549. Also, if a method marked obsolete with diagnostic ID `A` uses a member marked obsolete with diagnostic ID `B`, should the usage be reported or suppressed (and why)?

[2020-03-03 06:11] YairHalberstadt opened #42129 "Warning CS8613 on wrong location"
**Version Used**: master as of 1st mar 2020, VS 16.5 preview 3

**Steps to Reproduce**:

Write the following in visual studio
[code]
Warning is CS8613: "Nullability of reference types in return type of 'string? C.P.get' doesn't match implicitly implemented member 'string I.P.get'."

![image](https://user-images.githubusercontent.com/29174528/75747734-6d2c9480-5d26-11ea-89db-55ae58190c5a.png)

Note

[2020-03-03 06:12] terrajobst commented on #42119
@sharwell

That's an interesting question. I'm inclined to say that the usage should only be suppressed if the diagnostic IDs match. The reason being that the intention of this feature is to allow the developer to create sets of obsoleted APIs that can be suppressed individually, rather than making this a global on/off switch.

[2020-03-03 08:09] mgravell opened #42130 "IDE0066 should not suggest for ref-returns (Convert switch statement to switch expression)"
code to repro:

[code]

IDE0066 suggests changing this to:

[code]

which does not compile; you can add a missing `ref` to fix the CS8150 on the `return id switch` line (to `return ref id switch`), but you still get 3xCS1525+CS1073 on the individual cases.

[2020-03-03 08:28] Sliptory commented on #41981
![answerTask](https://user-images.githubusercontent.com/22915222/75756648-1339c800-5d42-11ea-9a34-9bf2e4d3700c.jpg)

[2020-03-03 09:18] alrz commented on #42130
I wonder if this should be just a language feature and continue to suggest the refactoring. This already works with conditionals.

[2020-03-03 09:29] mgravell commented on #42130
@alrz agreed, "it suggests it, and the refactored code compiles and works" would also be a fine outcome :)

[2020-03-03 11:51] qcnguyen opened #42131 "Can't rename Enum. Some enum works, but some don't"
**Version Used**: Visual studio 2019 - Version 16.5.0 Preview 5.0

**Steps to Reproduce**:

1. Rename Enum

**Expected Behavior**: rename ok

**Actual Behavior**: exception thrown:
`System.NullReferenceException : Object reference not set to an instance of an object.
   at Microsoft.CodeAnalysis.CSharp.CSharpExtensions.Kind(SyntaxNode node)
   at Microsoft.CodeAnalysis.CSharp.CodeGeneration.CSharp

[2020-03-03 14:52] Evangelink commented on #24569
@gafter, @333fred You are right when you say that the code isn't processed in the symbol is not found but that's not exactly what we need to update CA1821. The rule doesn't allow empty finalizer, all conditional method calls being excluded from the count _EXCEPT WHEN_ the finalizer is itself conditional.

For example this use case should raise a diagnostic:

[code]

while this use case shouldn't r

[2020-03-03 15:26] jasekiw opened #42134 "Microsoft.CodeAnalysis.CSharp.Scripting causes Too many open files when ran multiple times"
**Version Used**:
3.4.0

**Steps to Reproduce**:

1. Test on a linux server or the server I was using `CentOS Linux release 7.6.1810 (Core)`
2. Create an asp.net core project
3.  Add a call to `var objectResult = await CSharpScript.EvaluateAsync("return 1");` in a controller.
4. Call this route over and over again until the max limit is reached.

**Expected Behavior**:

For the scripting API to cl

[2020-03-03 18:07] mavasani commented on #42115
Duplicate of https://github.com/dotnet/roslyn/issues/41218, which has just recently been fixed by the VS Editor team.

[2020-03-03 18:07] #42115 closed

[2020-03-03 18:10] mavasani commented on #41218
Also reported at https://developercommunity.visualstudio.com/content/problem/936144/vs-1650-preview-40-csharpaddimportcodefixprovider.html

[2020-03-03 18:27] BrianBu01 opened #42137 "Package Manager Console Depends on Solution Start-up Project"
**Version Used**:

VS Professional 2019 v 16.4.5

**Steps to Reproduce**:

1. Select a start up project
2. In Package Manager Console, select a default project different from startup
3. Run a command that depends on building of projects or even code with in such as Scaffold-DbContext.

**Expected Behavior**:

The command runs in context of the default project

**Actual Behavior**:

The command run

[2020-03-03 18:49] CyrusNajmabadi commented on #42130
@gafter do we have any language feature championed to make ref-switches a thing?  I couldn't find any.

[2020-03-03 18:50] AlekseyTs opened #42138 "IDE reports a lot of unexpected errors (build actually succeeds) and features like Go To Definition do not work (likely due to the errors)."
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.6.0 Preview 1.0 [29826.224.master]

Open Roslyn solution, and build C# compiler, the build succeeds. However, there are a lot of errors in the Error List and red squiggles all over the code (possibly only around types that are defined in Microsoft.CodeAnalysis.dll):
![image](https://user-images.githubusercontent.com/10522107/75808365-d

[2020-03-03 18:52] AlekseyTs commented on #42138
CC @jinujoseph, @dotnet/roslyn-ide

[2020-03-03 18:53] jasonmalinowski commented on #42138
This is a known dogfood issue with that build, upgrade to the latest builds.

[2020-03-03 18:53] #42138 closed

[2020-03-03 18:58] 333fred commented on #24569
I'm not sure why `IsPreprocessorSymbolDefined` wouldn't work? You'd look at the conditional attribute on the method, see that it's conditional on `DEBUG`, and ask if `DEBUG` is defined. If it is, then everything is good. If it isn't, then you're not.

[2020-03-03 19:00] 333fred commented on #41907
@Evangelink if you wanted to take a stab at annotating IOperation interfaces, you'd be more than welcome to do so. We have a general doc on annotating here: https://github.com/dotnet/roslyn/blob/master/docs/contributing/Nullable%20Annotations.md. The basic strategy for IOperation that I've come up with is to start with the leaf nodes, annotate those, and then work up the tree. Annotating this is b

[2020-03-03 19:34] KirillOsenkov commented on #41700
Since it doesn't seem to be a problem on Windows it's likely specific to the VSMac workspace.

I'll close this issue and continue investigating in DevDiv 1013296.

[2020-03-03 19:34] #41700 closed

[2020-03-03 20:35] #22550 closed

[2020-03-03 20:39] gafter commented on #42130
No.

[2020-03-03 20:41] Evangelink commented on #24569
Simply because I am stupid and didn't get that `symbolName` was the name of the directive symbol.

[2020-03-03 21:53] #42126 closed

[2020-03-03 23:28] jasonmalinowski commented on #42092
@BillWagner @KitPatterson PR is out to add XML doc comments. Once that's merged I'm guessing the docs will get auto regenerated? Or do we have to do something else?

[2020-03-03 23:52] #561 closed

[2020-03-04 00:18] y87feng opened #42149 "Need an IDE level API that matches arguments to parameters"
Is it possible to have an IDE level API that matches arguments to parameters? Just like Overload Resolution at the compiler level. I did this myself in my code but looks risky and hard to maintain. It would be much better if we could have an API for it.

Here is the link to my code:
https://github.com/dotnet/roslyn/pull/41371#discussion_r383579195

[2020-03-04 00:19] y87feng commented on #42149
@333fred @gafter

[2020-03-04 01:52] CyrusNajmabadi commented on #22543
@HaloFour The FindReferences UI now allows you to see (and group-by) what type of reference this was.  i.e.:

![image](https://user-images.githubusercontent.com/4564579/75836738-aa6d4280-5d77-11ea-8bfa-6bfc36871d66.png)

Is that sufficient for your needs?

[2020-03-04 01:55] CyrusNajmabadi commented on #22535
Option is here:

![image](https://user-images.githubusercontent.com/4564579/75836829-f5875580-5d77-11ea-888f-4262f56b496b.png)

The scenario works for me when i try:

[code]

I get offered:

![image](https://user-images.githubusercontent.com/4564579/75836894-22d40380-5d78-11ea-8509-ec34048af315.png)

[2020-03-04 01:55] #22535 closed

[2020-03-04 02:06] CyrusNajmabadi commented on #22523
This is by design.  Those are explicitly *doc comments* (due to the `///`).   Note that the compiler itself will complain here if you do this, stating:

```XML comment is not placed on a valid language element```

[2020-03-04 02:06] #22523 closed

[2020-03-04 02:11] CyrusNajmabadi commented on #22493
This is unrelated to lambdas.  A simpler repro is:

[code]

We don't offer to simplify this either (though we would with `object`).

[2020-03-04 03:17] HaloFour commented on #22543
Yes, I think that will be very handy.

[2020-03-04 04:05] CyrusNajmabadi commented on #22543
Thanks!

[2020-03-04 04:05] #22543 closed

[2020-03-04 05:26] JoeRobich opened #42154 "AnalyzerConfigSet can return wrong set of Options"
While moving dotnet format to the compiler's .editorconfig support our tests hit on an unlikely bug.

AnalyzerConfigSet caches options previously returned based on a key of matched section names. This can return invalid results when there are multiple levels of .editorconfig.

If a file matches sections from the top most .editorconfig and **is not** with or beneath the folder containing the lower

[2020-03-04 05:32] #41420 closed

[2020-03-04 06:22] #22540 closed

[2020-03-04 07:06] #22531 closed

[2020-03-04 14:50] #41981 closed

[2020-03-04 16:20] #42116 closed

[2020-03-04 18:27] gafter opened #42162 "In a conjunctive pattern, use the type from the left for the input type on the right."
The following rule from https://github.com/dotnet/csharplang/issues/2850 needs to be implemented (on the `features/patterns3` branch):

### Flowing type information from the left to the right of `and`

It has been suggested that when you write an `and` combinator, type information learned on the left about the top-level type could flow to the right.  For example

[code]

Here, the *input type* to

[2020-03-04 18:35] CyrusNajmabadi commented on #22610
I can't repro this. Indentation seems fine to me:

![image](https://user-images.githubusercontent.com/4564579/75911065-cae2de80-5e03-11ea-984f-91937af6b5e3.png)

If the user can provide a repro we can move forward on this.

[2020-03-04 18:35] #22610 closed

[2020-03-04 18:51] Sliptory commented on #41780
so that the hint appears, you need to write like this:
`void Method(ref int x)
{
  ref int y = x;
}`

in the test SuggestVarOnRefIntrinsicType also
`static void M()
    {
        ref int s = Ref();
    }
    static ref int Ref() => throw null;`

[2020-03-04 19:19] CyrusNajmabadi commented on #8237
@jmoralesv PRs welcome :)

[2020-03-04 19:20] CyrusNajmabadi commented on #22996
@AArnott Is there some common sqlite that Roslyn could refer to to use? It would be nice anyways to avoid having to load multiple versions of this.  Thanks!

[2020-03-04 19:23] CyrusNajmabadi commented on #22804
This doesn't repro anymore.  Will add validating test.

[2020-03-04 20:02] RikkiGibson commented on #42119
The link in the issue description is broken @terrajobst

[2020-03-04 20:07] mavasani opened #42166 "Support analyzers that are disabled by default in command line build but enabled in other hosts"
### Current state
Today, every analyzer that is installed via NuGet package and marked as enabled by default runs in both command line build and IDE, regardless of the analyzer severity. This is completely reasonable as almost all the analyzers are designed to be warnings by default that can break build. Users have to explicitly install the analyzer NuGet package, so any command line build impact

[2020-03-04 20:16] mavasani commented on #42166
Tag @dotnet/dotnet-analyzers

[2020-03-04 20:17] jcouv commented on #22784
@CyrusNajmabadi I'll stop by. I don't understand what is the question for NRT.
The behavior for `await` as far as nullability is straightforward, we check the nullability of `expr` in `await expr` and that is correctly implemented as far as I can tell (test `Await_CheckNullReceiver` illustrates, copied below).

Whether the above parses/groups one way or the other seems unrelated to NRT.

[code]

[2020-03-04 20:23] jcouv commented on #22784
Ran a quick test to see if I'm missing something. Here's the current behavior (ie. we produce an NRT warning):
[code]

[2020-03-04 20:54] terrajobst commented on #42119
Thanks Rikki!

[2020-03-04 21:01] vatsalyaagrawal commented on #40606
1.	Go to “Tools -> Options -> Fonts and Colors”
2.	Choose “Editor Tooltip”
3.	Change the font size.
4.	Run “Find All References” after settings change.

This will change the font size in FAR window.

[2020-03-04 21:01] #40606 closed

[2020-03-04 21:32] 333fred commented on #42149
@gafter the basic idea here is to expose some type of overload resolution method on a Compilation. Given a set of argument syntaxes and a set of candidate symbols, choose the one that best matches the candidates, or none if none do. The IDE could potentially implement this themselves, but the likelyhood is that some edge case would be wrong or that we'd introduce something new and the IDE wouldn't

[2020-03-04 21:57] jasonmalinowski commented on #41022
@sharwell Want to bump this up in priority a bit? We've been fairly inconsistent in the Roslyn codebase on this one...

[2020-03-04 22:03] mavasani opened #42168 "Public API analyzer only works in Roslyn.sln if the API file is opened in the editor"
**Version Used**: Latest 16.6 dogfood build

**Steps to Reproduce**:

1. Open Roslyn.sln
2. Open any file, say `Workspace.cs` and add a new public API. You should see RS0016 error.
3. Ctrl + Dot to see that public code fix is shown and the preview also shows the correct change
4. Hit enter to attempt to apply the fix

**Expected Behavior**:
Unshipped public API file is changed

**Actual Behavior**

[2020-03-04 22:03] mavasani commented on #42168
Tagging @jasonmalinowski, in case your upcoming PR is fixing anything on this code path.

[2020-03-04 22:08] jcouv opened #42169 "Overriding method with [MaybeNull, NottNullWhen(true)] produces a warning"
I encountered this in `DiagnosticStartAnalysisScope.cs` at line 203 (method `TryGetValueCore`).

[code]
[sharplab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+ABATARgFgAobABgAJt8A6AEQEsIBzAOwHtYGBjKGgYXYo4AQVYQANgE8oDKAG4SAYlYBXCRIjAJcCnHHa4JEtgDMVXBX4UA3iQoPHjhq3gJxEigDcGCGKskKYHZ2TwAVBCkAcTgYADVJVThBBDgAHjCAaTgpJAowhIkkgD4ACiycigBrHLzqSi9EuAAFBHYfYWQKAG0AWQgpYDgAOXUJAF0e4fYYUY0AdQALfVKYBCSA

[2020-03-04 22:15] allisonchou commented on #41478
Ran into this today as well. I believe it occurs when a method is erroneously inside a namespace but outside of a class declaration.

Repro (highlight ```false```):
[code]

[2020-03-04 22:35] rainersigwald opened #42172 "No warning issued if [Obsolete(...)] contains \n"
_From @schibu007 on Wednesday, March 4, 2020 10:44:55 AM_

There is no warning issued if the [Obsolete(...)] attribute contains a message with **\n** (\n alone, not \r\n).
 It works in VS, however:
![image](https://user-images.githubusercontent.com/45459443/75871695-3da48780-5e0d-11ea-9fcf-e78b5c4530e3.png)

### Steps to reproduce
Project file
[code]

[code]

Command line
[code]
### Expected behav

[2020-03-04 22:35] rainersigwald commented on #42172
_From @rainersigwald on Wednesday, March 4, 2020 10:33:58 PM_

It looks like this is actually an error with the Roslyn compiler server. I will move the bug to the appropriate repo.

[code]

[2020-03-04 22:39] #22804 closed

[2020-03-04 22:43] CyrusNajmabadi commented on #22784
If NRT naturally catches thsi, then i'm going to close this out.  The advice would be to move to use NRT which will naturally check for this and warn when appropriate.

Thanks @jcouv

[2020-03-04 22:43] #22784 closed

[2020-03-04 22:44] jasonmalinowski commented on #42168
@mavasani I guess the changes I had in mind were the ones in https://github.com/dotnet/roslyn/pull/41969/commits/99dc6804885f276e9f79b5b3d4ddf801e74cf7a7 which I guess isn't in that path. Hmm.

[2020-03-04 22:50] allisonchou commented on #38513
Great, thank you for verifying! Closing this issue as it seems to be resolved.

[2020-03-04 22:50] #38513 closed

[2020-03-04 23:36] sandyarmstrong commented on #25453
@Therzok @CyrusNajmabadi fixed by https://github.com/dotnet/roslyn/pull/42027?

[2020-03-04 23:37] #25453 closed

[2020-03-04 23:40] #22760 closed

[2020-03-04 23:47] y87feng commented on #42149
Yup, actually maybe overload resolution analysis result(e.g. BadArgument) is closer to what I need in this case. Code fixer can analyze code based on the result, and there might be multiple candidates that can fit into the code fix.

[2020-03-04 23:59] tmat opened #42176 "Revisit RenameTrackingDiagnosticAnalyzer to unblock moving analyzers OOP"
Rename logic is using `TextBuffer` to stash a `StateMachine` object and `RenameTrackingDiagnosticAnalyzer` is fetching that object. This won't work if we move the analyzer OOP since we don't have TextBuffers there that would have their properties synchronized with their in-proc counterparts.

@jasonmalinowski suggests the following:

So the analyzer IIRC is just there to trigger the light bulb and

[2020-03-05 00:02] tmat commented on #42176
FYI @jinujoseph

[2020-03-05 00:14] JoeRobich opened #42178 "RecoverableText.RecoverAsync fails null check on non-Windows platforms"
On Linux and MacOS platforms `RecoverableText.RecoverAsync` can fail a null check.

[code]

[code]

When debugging on Linux we see several PlatformNotSupportedExceptions are thrown, in particular, for System.IO.MemoryMappedFiles.
![image](https://user-images.githubusercontent.com/611219/75933434-dbf51500-5e2e-11ea-997f-4f14a075792f.png)

The TemporaryStorageService used by RecoverableText uses Mem

[2020-03-05 00:19] sharwell commented on #42178
/cc @CyrusNajmabadi

[2020-03-05 00:21] jinujoseph commented on #42137
Triage reroute : @davkean is this project system or nuget packge team

[2020-03-05 00:21] jinujoseph commented on #42134
cc @tmat

[2020-03-05 00:21] AArnott commented on #22784
@jcouv's repro wasn't the original issue, [this was](https://sharplab.io/#v2:CYLg1APgAgTAjAWAFBQAwAIpwKwG5kDEAdgK4A2ZAhgEZkCm6dRN9yUAzJjOgMLrIBvZOhGZOUAByYAbOgCyACiyoA/OgAeASmGihSUQfQBRdQBcmAZwCWAeyJqb6ALzpSFfPsMioATnQ2VADoAQQsATyIAYwVNDwMAX2RElHFuE3MiaztBHW9xaQAeAGVTACcrIgBzAD50UIjozWda0wALUpsAd1dyMgBCXFEkoA===). But it works with NRT too, so I'm satisfied.

[2020-03-05 00:23] JoeRobich commented on #42154
/CC @agocke

[2020-03-05 00:27] jinujoseph commented on #42050
@alrz not able to understand why would you want to do ctrl+. in rename session.
Do you mind providing full set of steps for repro pls.

[2020-03-05 00:32] sharwell commented on #42042
Marking this as up for grabs. The expected behavior here is to provide a code fix for specific compiler errors, and offer to add `new` in front of it. This would apply to `throw Exception()`, and also to variable declarations. The errors to identify include:

* CS1955: Non-invocable member 'Name' cannot be used like a method
* CS1525: Invalid expression term 'object'

[code]

[2020-03-05 00:34] jinujoseph commented on #42036
Duplicate of #12363

[2020-03-05 00:34] #42036 closed

[2020-03-05 00:38] sharwell commented on #42021
Related to, but not a duplicate of #24349

[2020-03-05 00:39] tmat opened #42179 "Move Edit and Continue OOP"
Depends on:

- [x] https://github.com/dotnet/roslyn/pull/42094: Use new debugger EnC APIs
- [x] https://github.com/dotnet/roslyn/pull/41745: Add CompilationOutputFilePath to project snapshot

[2020-03-05 00:41] tmat opened #42181 "Move Solution Crawler OOP"
Depends on

- [x] https://github.com/dotnet/roslyn/issues/42176: Revisit RenameTrackingDiagnosticAnalyzer to unblock moving analyzers OOP
- [x] https://github.com/dotnet/roslyn/issues/42185: Move CodeModelIncrementalAnalyzerProvider to OOP
- [x] https://github.com/dotnet/roslyn/issues/42186: Move DesignerAttributeIncrementalAnalyzer OOP
- [x] https://github.com/dotnet/roslyn/issues/42188: Move Tod

[2020-03-05 00:42] tmat opened #42182 "Synchronize tracking spans to OOP text buffers"

[2020-03-05 00:44] sharwell commented on #42083
Duplicate of #39936

[2020-03-05 00:44] #42083 closed

[2020-03-05 00:45] sharwell commented on #42083
So far we have at least 7 feedback tickets reporting this.

[2020-03-05 00:45] sharwell commented on #39936
So far we have at least 7 feedback tickets reporting this.

[2020-03-05 00:46] tmat commented on #42181
FYI @jinujoseph

[2020-03-05 00:50] tmat opened #42183 "Move XamlDocumentDiagnosticAnalyzer to OOP"
It currently depends on XAML-specific TextBuffer [properties](https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2FXaml%2FDesigner%2FSource%2FXamlLanguageService%2FCodeAnalysis%2FDiagnostics%2FAnalyzers%2FXamlDocumentAnalyzerService.cs&version=GBmaster&line=123&lineEnd=124&lineStartColumn=1&lineEndColumn=1&lineStyle=plain).

A short term workaround would be to move the analyzer OOP and let

[2020-03-05 01:35] gafter commented on #42107
Fixed in https://github.com/dotnet/roslyn/pull/42160

[2020-03-05 01:35] #42107 closed

[2020-03-05 02:13] tmat opened #42185 "Move CodeModelIncrementalAnalyzerProvider to OOP"
Send notifications back to devenv process.

[2020-03-05 02:16] tmat opened #42186 "Move DesignerAttributeIncrementalAnalyzer OOP"
1) Enable this analyzer in RemoteWorkspace (attribute on the provider).

Replace `WorkspaceKind.Host` with `WorkspaceKind.RemoteWrkspace`:

[code]

2) Split the code into analyzer part (remote) and notification part (in devenv).
3) Serialize the analysis results in OOP and send them over to devenv.
4) Forward the notification to the project system.

The analyzer and PS notification need to be inde

[2020-03-05 02:25] tmat opened #42187 "Remove UnitTestingIncrementalAnalyzer"
It's not clear what benefits does it have vs. listening to workspace events.
If we need it it would need to call back to devenv.

[2020-03-05 02:43] tmat opened #42188 "Move TodoCommentIncrementalAnalyzerProvider OOP"
Ultimately this needs to be an LSP based service similar to diagnostics.
In fact, our diagnostic reporting to the Error List and TODO item reporting share most of the VS item reporting code. We won't be able to remove this infrastructure until both diagnostics and TODO items are migrated over to LSP.

Currently the implementation both pulls and pushes the items. Rather then redesigning it just to

[2020-03-05 04:09] #23271 closed

[2020-03-05 04:30] YairHalberstadt commented on #42172
Why should the be a warning?

[2020-03-05 05:41] AArnott commented on #22996
It's not just a convenience. sqlite has a native module so it can only be loaded *once* in a process. So it's imperative that if you run in-proc you share the same version as the rest of us.
I'm not tracking the version actively though, or whether there's a setup package you need to depend on. @tinaschrepfer should be able to help you I think.

[2020-03-05 06:47] schibu007 commented on #42172
Because Class1 is [Obsolete]. The [Obsolete] warning is missing in that case.

[2020-03-05 06:49] YairHalberstadt commented on #42172
Oh I see. I misunderstood the problem as VS not warning you that you used `\n` instead of `\r\n` or something.
Thanks for clarifying.

[2020-03-05 09:32] am11 opened #42191 "Recursive method analyzer"
Is it possible for an analyzer to detect a recursive method? I was looking for a built-in facility which would traverse over visible code paths, and finding loops.

I was thinking of providing this information to the user and a possible autofix to change a recursive method to (a stack friendly) iterative counterpart.

[2020-03-05 13:20] Evangelink commented on #41907
@333fred Let me know if I got things right. Let's say I want to ensure that the `Parameter` property of `IArgumentOperation` is never null. I look at all the types implementing the interface, then to all path leading to the property being set (for C# and vbnet) and if they are all not null then that's ok to mark the property as not null? The interface being auto-generated, how shall I mark it as n

[2020-03-05 13:22] jnm2 opened #42194 "Suggest using declaration when the only statement outside the using statement has no interactions"
I often come upon code that restricted the scope of the using statement as a stylistic choice rather than by necessity. It would be consistent to offer "IDE0063 'using' statement can be simplified" here too.

[code]

Should be treated as though it was identical to the return statement first being moved into the using statement, offering:

[code]

[2020-03-05 13:30] jnm2 commented on #42194
The rule of thumb to determine whether an operation could interact with the end of the using statement is whether it has the potential to change the timing of code outside the current method so that it executes before disposal happens. That means method calls of any kind (methods, operators, delegate invocation, accessors, etc) are out. Variable writes are out unless you can prove that no other th

[2020-03-05 14:03] jnm2 opened #42195 "'Convert to interpolated string' should not nest an existing interpolated string"
**Version Used**: VS 16.4.5

[code]

Current result:

[code]

Expected result:

[code]

[2020-03-05 14:17] alrz commented on #42050
Steps to reproduce:

1. Rename an identifier (renaming annotation shows up)
2. Press Ctrl+. (to select "Rename 'identitfier' to 'newIdentifier'")

![Untitled](https://user-images.githubusercontent.com/3105979/75989709-fa2f4380-5f08-11ea-9479-9e103c437acc.png)

At this point all code actions are computed and listed, this may take a while while I would only interested in the first code action "Renam

[2020-03-05 15:13] jasonmalinowski commented on #4407
@CyrusNajmabadi I agree with closing this one out -- Default Interface Methods probably addresses some of the need. If it's a situation where you want the implementation to be a template but still has to get modified, I'm not sure addressing that in the IDE is really the best approach anyways...

[2020-03-05 15:26] pix64 opened #42197 "IDE0059 False Positive with finally branch"
**Version Used**:
VS 2019 16.4.5

**Steps to Reproduce**:

    static void Foo(int val)
    {
        bool flag = false;
        try
        {
            if (!TryFailableOp(val))
            {
                flag = true; // IDE0059: Unnecessary assignment of a value
            }

            // More
        }
        finally
        {
            if (flag) // flag is used here
            {

[2020-03-05 15:29] mavasani opened #42198 "[Design Proposal] Analyzer warning waves"
### Feature request
Allow analyzer assemblies, especially the ones that ship with some SDK instead of a NuGet package, to define and participate in _analyzer warning waves_ which control the set of analyzer diagnostics that get enabled by default. This allows newer versions of the SDK to ship with newer analyzer assemblies with additional analyzer diagnostics that stay disabled by default until th

[2020-03-05 15:32] mavasani commented on #42198
Tag @dotnet/dotnet-analyzers @gafter @agocke

[2020-03-05 15:40] 333fred commented on #41907
@Evangelink it would require changing the generator to understand nullability. To be frank, if that sounds like to much work I understand, it's why we haven't done it yet. We'll get to it in the next few months.

[2020-03-05 15:44] Evangelink commented on #41907
I totally get it 😄😄😄

Honestly, I'd be happy to help but I am afraid to have you spend a lot of time answering my questions so I don't know if this would end up being advantageous for you.

[2020-03-05 16:23] alrz opened #42199 "Compiler complains about an outer NotNullWhen inside a local function"
**Version Used**: master

**Steps to Reproduce**:

[code]

([sharplab repro](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAN0QSwGYE8A+AAgEwCMAsAFCEAMABIaQHQAimEA5gHYD2smAYyhMAwjwAmcAIJcIAG1xRMUANxUAxFwCucuRGBy4dOLINwqJOiKoBvKnQcMAzHUxcYdAAp0bdDnBgVOgBfe0cwhwAHBEw0CHgGUgA2OmAeHjk6ABU4WAAKCMcHAG0AOR4YUp05AHUACxM8mAQtOABKAF06Hi0PEQB+bt7PCAQIMDbCu0oiop6YEbGwOgBeOm1dIIdCosIAdjpseSg4NUodx0YUtIy6OR4BCEIAVj

[2020-03-05 16:25] #42092 closed

[2020-03-05 16:43] #4407 closed

[2020-03-05 17:07] sharwell opened #42200 "Pass all analyzer options through AnalyzerConfigOptions"
Currently IDE analyzers pass options through `AnalyzerConfigOptions` and also through `DocumentOptionSet`. The latter is not allowed to be used by synchronous paths in analyzers. A clean resolution to this involves using `AnalyzerConfigOptions` for both cases:

1. The host analyzer runner creates two instances of `AnalyzerConfigOptionsProvider`. The first provides options that only considers **.ed

[2020-03-05 17:29] tmat commented on #42198
A couple of details:

re [1]: I think item group is a better representation than a property in msbuild for the wave configuration:
[code]

re [3]: Does a single diagnostic need to specify more than one wave? What's the scenario?
re [3.i]: I don't like adding it to tags. Tags should imo be opaque strings, not structured data.

Why would that be a problem? These will be new analyzers anyways, right?

[2020-03-05 17:37] mavasani commented on #42198
@tmat Your proposal sounds good to me - I was trying to be pretty generic while also avoiding public API changes, but that is not required.

[2020-03-05 17:44] jmarolf commented on #42166
I've thought about this and I think this a good idea. We want some simple way for an analyzer author to indicate that something is useful in an IDE context but is not a correctness concern.

The example @mavasani gave for an analyzer like this was "make method static". Someone _could_ fail their build on this analyzer but it most useful _as I'm writing a new method_. These sorts of things feel lik

[2020-03-05 17:46] vsfeedback opened #42201 "new GlobalSuppressions.cs file is generated when the existing one is in Properties subfolder"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/937290/new-globalsuppressionscs-file-is-generated-when-th.html)._

---
I put my GlobalSuppressions.cs file into the Properties subfolder of the csproj project.

When I wanna add a new suppression, a new GlobalSuppressions.cs file is generated in the project root folder.
Thi

[2020-03-05 17:46] sharwell commented on #42201
Possibly related to https://github.com/dotnet/roslyn/issues/37530

[2020-03-05 17:52] #41947 closed

[2020-03-05 17:57] agocke commented on #42198
My understanding was that analyzers would be target framework linked. Why do we need a separate key to enable the warnings?

[2020-03-05 18:03] mavasani commented on #42198
Tagging @terrajobst, who just sent out an email on why we don't want the analyzers to be linked to target framework, but instead have a separate "analyzer waves" property that the SDK defaults and users can override and set as appropriate for them.

[2020-03-05 18:12] agocke commented on #42198
Just read it. The AnalyzerWarningWaves property seems simple enough. Can we do this without touching the analyzer driver? The complexity of the silencing analyzer warnings is too high. We need heavily resist more customization options here.

[2020-03-05 18:16] terrajobst commented on #42166
How will this configured by the user? It seems to me that this is something someone might want to be control using their editor config, just like regular severities.

Using the tag seems odd because it seems to be an intrinsic aspect of the diagnostic, rather than of the instance of that diagnostic.

[2020-03-05 18:17] sharwell opened #42203 "Convert Add File Banner refactoring to the new AbstractFileHeaderHelper analysis"
#41982 implements a new file header analysis helper `AbstractFileHeaderHelper`. The previous **Add File Banner** refactoring needs to be converted to this approach for consistency across multiple features.

1. Convert the current tests for **Add File Banner** to the new test library (which offers stronger guarantees and can better detect changes in behavior)
2. Convert **Add File Banner** to the n

[2020-03-05 18:17] mavasani commented on #42198
I am not sure what is the alternate proposal. Currently, only the analyzer driver understands if a specific diagnostic descriptor or analyzer is suppressed. IMO it would need a trivial code change in [existing logic](https://github.com/dotnet/roslyn/blob/69b3fc5b8851afaa0d8c22309e2b8409780dd78a/src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs#L316-L317) to determine `isSuppressed`

[2020-03-05 18:19] CyrusNajmabadi commented on #42203
We also have a few things that check banners i believe.  like sort-usings (which doesn't want to move banners around, even though they're leading trivia), and potentially move/extract-type.

But i believe all these go through the common helpers.  so if you fix those up, we should be good.

Note: these common helpers are on ISyntaxFacts.  I'm 100% fine if you want to break them into their own speci

[2020-03-05 18:22] agocke commented on #42198
Well, one way would be to put the filtering logic in MSBuild, so analyzers with a lower warning wave aren't even added to the list, instead of trying to filter them out later.

[2020-03-05 18:27] mavasani commented on #42198
Sorry I am still not sure I complete understand the proposal - are you suggesting the command line will have a `/nowarn` for each new analyzer that needs to be turned off based on the analyzer wave level?

[2020-03-05 18:36] mavasani commented on #42166
Enabling end user configuration support for this would be a much bigger work item, and likely need new compiler command line switches and such. The proposal here was aimed at a very simple way at shipping analyzers in the SDK that are not always build breaking warnings, for example performance rules, that light up in the IDE by default without impacting CI whatsoever.

This is indeed a metadata as

[2020-03-05 18:40] agocke commented on #42198
No, the analyzer wouldn't be passed in `/analyzer`

[2020-03-05 18:43] mavasani commented on #42198
So, then we need a separate analyzer assembly for each warning wave level? Otherwise, how will this be end user configurable to allow them to override to a specific warning wave level of their choice?

[2020-03-05 18:47] terrajobst commented on #42166
Gotcha, that makes sense then.

That's what I thought. Would it be easier if we would think of a new severity that isn't enabled on the command line?

[2020-03-05 18:48] terrajobst commented on #42198
Yeah, let's not. The one thing we don't need is more assemblies floating through our system.

[2020-03-05 18:50] mavasani commented on #42166
That is possible, but again it would lead to a much wider change as the new severity needs to be understood by bunch of tooling. Generally, we are extremely resistant to adding more severities to `DiagnosticSeverity` enum and this looks like a very niche scenario for analyzers that want to ship with an SDK, which should be rare.

[2020-03-05 18:57] terrajobst commented on #42198
@tmat

That's reasonable but we shouldn't assume that each wave has its own assembly. Alsoo, I think we want to configure the default severity per wave. So maybe we something like this?

[code]

[2020-03-05 18:57] tmat commented on #42198
BTW, could we drop "analyzer" from the AnalyzerWarningWaves and use this to specify compiler warning waves as well? The feature that @gafter has been looking into?

[2020-03-05 18:58] terrajobst commented on #42198
See my email. @jaredpar mentioned that the compiler team thinks the compiler won't need it because they would do the warnings as analzyers.

[2020-03-05 18:59] tmat commented on #42198
@terrajobst I don't think I received your email.

[2020-03-05 18:59] terrajobst commented on #42198
I just sent it :-)

[2020-03-05 19:00] tmat commented on #42198
I don't think there is an assumption like that. One analyzer can categorize their diagnostics into multiple groups, each identified by a distinct `-WarningWave` identifier that the analyzer reports from DiagnosticDescriptor.

[2020-03-05 19:02] tmat commented on #42198
This feels like too much. What is the scenario?

[2020-03-05 19:05] terrajobst commented on #42198
The idea is that each wave is stable with respect to the diagnostic output it produces. Same sources, same diagnostics. We'll do our best to define a good set of defaults for our customers, but we'll want to tweak that based on customer feedback. For example, we might want to be conservative and ship a rule initially in an off state and enable it later. Or we find that one rule is too aggressive/n

[2020-03-05 19:50] mikadumont opened #42205 "Add telemetry for generate editorconfig"
Add telemetry for tools options generate editorconfig - related to this PR: https://github.com/dotnet/roslyn/pull/30043

[2020-03-05 20:45] mavasani commented on #42198
This seems like basically we need a special ruleset file per each warning wave, which makes me think of another proposal that might be more closer to @agocke's preference of avoiding changes to analyzer driver.

1. In the analyzers repo, we can generate a specific ruleset file for each analyzer warning wave and embed it in the analyzer NuGet package, which get pulled into the SDK. We already have

[2020-03-05 21:15] aristid-lavri commented on #42195
Hi i want to work on this issue.
Can i have some guideline to begin?

[2020-03-05 21:19] drdamour commented on #15823
I often have the pattern of
`identity.HasPermissionX ? new X(...) : null`  and `new X(...)`  is usually some multiline db query linq statement  and that :null get's thrown at the end.

with this i could change it to
`identity.first(p > p.name == 'can do x')` ?! new X(...)

so it'd be cool if the left hand side could treat false as nully (or null as falsey)

[2020-03-05 21:30] mavasani commented on #42198
Couple of additional things to note:

1. On second thought, the above proposal can likely be implemented using additional or base _editorconfig files_ instead of rulesets. This would then also act as a way to supply compilation level fallback editorconfig file(s), which has been a requested feature to close the ruleset gap. We likely only apply severity configuration based entries from such an edi

[2020-03-05 21:41] Sliptory commented on #41911
It seemed to me that it was impossible to name variables in the same way as classes. 🤔

[2020-03-05 22:04] #42191 closed

[2020-03-05 23:25] CyrusNajmabadi opened #42210 "In C# 9 we should detect unnecessary usages of `_` in patterns and remove them."
This becomes unnecessary in c# 9.  except for some very corner cases like `x is (int y) _`.  in that case, the `_` is still necessary (otherwise it's a parenthesized pattern, instead of a tuple pattern).

[2020-03-06 00:08] terrajobst commented on #42198
@mavasani

I like the idea of using a file format that was designed to handle this, instead of using MSBuild. But do you envision this generation to happen in every build or does this only happen when we build the SDK itself? IOW, these are static files on the customer's machine, right?

Why do we need multiple waves? Can't just have one version number in the SDK that all the built-in analyzers ar

[2020-03-06 00:27] mavasani commented on #42198
We generate these configuration files (rulesets and editorconfigs) as part of every CI build and embed it into all the analyzer NuGet packages produced in the repo. Documentation of these configuration files for FxCopAnalyzers package is at https://docs.microsoft.com/en-us/visualstudio/code-quality/analyzer-rule-sets. Similar files are generated for https://dotnet.myget.org/feed/roslyn-analyzers/p

[2020-03-06 00:29] agocke commented on #42198
Yeah editorconfig seems good too. We were previously talking about a "global" editorconfig for exactly these type of scenarios (you want to include an editorconfig for user code in your NuGet package).

It obviously needs to be designed, but it would be useful.

[2020-03-06 00:31] #23051 closed

[2020-03-06 00:31] #40828 closed

[2020-03-06 00:43] gafter commented on #42054
Starting work on this now.

[2020-03-06 00:46] CyrusNajmabadi opened #42211 "Switch-implicit-to-explicit feature should not do a full find-references."
Found by @sharwell  when trying to update an implicit `Dispose` on a clas to be explicit.

Problemantic code is here:

https://github.com/dotnet/roslyn/blob/10181aed8f021bcaf32d54dacc6ed5376bf990f6/src/Features/CSharp/Portable/ImplementInterface/CSharpImplementExplicitlyCodeRefactoringProvider.cs#L52-L54

This does all the cascading across the entire solution, even though we very explicitly and in

[2020-03-06 00:49] #39847 closed

[2020-03-06 02:05] terrajobst commented on #42198
I think it depends on what the warning wave is. One way to do it is making it the major.minor of the SDK itself. This way, it's a number customers can reason about and we don't have to perform miracles to maintain the number. Then I think letting 3rd parties use that too is sensible.

[2020-03-06 02:15] CyrusNajmabadi commented on #42050
There are a lot of cases for me when this is not true.  i.e. i may edit the identifier for a variable and then want to perform *other* refactorings on it.

For me, far more often than not, i do *not* want to rename.

[2020-03-06 02:19] CyrusNajmabadi commented on #42195
hi @aristid-lavri the code for this would be in: https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs

LMK if you need any more help with this :)

[2020-03-06 04:17] CyrusNajmabadi commented on #23855
Fixed with https://github.com/dotnet/roslyn/pull/36533

[2020-03-06 04:17] #23855 closed

[2020-03-06 05:59] alrz commented on #42050
Hit Escape? All I'm saying is that this significantly degrades renaming experience, especially if you have a few analyzers installed, you should literally wait for the list to show up to select rename.

[2020-03-06 06:18] CyrusNajmabadi commented on #23740
THe problem is that there is a *genuine* accessible generic extension method called `.Count` here.  i.e.

![image](https://user-images.githubusercontent.com/4564579/76057725-35dd0400-5f2f-11ea-8749-1c1b810e070c.png)

So intellisense opts for this being a 'types-only' context.

Will have to see if we can revise that in the case that there's an existing non-generic instance member in scope as well.

[2020-03-06 06:27] CyrusNajmabadi commented on #23586
Would like to take to design review to close this out.  I believe the behavior we have now is desirable.  Specifically:

There is an option to set what preference you definitely want.  i.e.:

![image](https://user-images.githubusercontent.com/4564579/76058140-6bceb800-5f30-11ea-8e82-f8333c79173c.png)

Absent that, we will fall back to a when-in-rome approach where we look at your current using and

[2020-03-06 06:29] CyrusNajmabadi commented on #23581
Closing out.  Have validated this is working in the 16.x line.

[2020-03-06 06:29] #23581 closed

[2020-03-06 06:40] CyrusNajmabadi commented on #23516
Changing area to compiler.  I was able to repro this.  The issue is that we have an enum symbol whose underlying type is uint, but whose value is an int.

Note: it would be easy to update the code that is crashing to be resilient to this (and i'm creating a PR for that).  but someone on the compiler should look to see what's going on here and if this is bug in the metadata level that needs fixing.

[2020-03-06 06:46] CyrusNajmabadi commented on #23516
i.e. we have this code (in SymbolDisplayVisitor):

[code]

`underlyingSpecialType` is `uint`, whereas `constantValue` is `0 (int)`.
`constantValue` comes from the `ExplicitDefaultValue` of a parameter here:

[code]

The parmaeter's type is OffregLib.RegOption, and the ExplicitDefaultValue is 0.

--

So, as above, these are either normal values and the helper function needs to be ok with them.  Or

[2020-03-06 06:52] #33012 closed

[2020-03-06 06:52] CyrusNajmabadi commented on #24090
I'm not actually seeing an issue here.  The feature is already something you can disable with:

[2020-03-06 06:56] CyrusNajmabadi commented on #24090
Fixed with Fixed with https://github.com/dotnet/roslyn/pull/23835

[2020-03-06 06:56] #24090 closed

[2020-03-06 06:59] CyrusNajmabadi commented on #24033
Fixed with https://github.com/dotnet/roslyn/pull/40191.  Have checked the above scenario and also validated we have tests for the same sort of issue.

[2020-03-06 06:59] #24033 closed

[2020-03-06 07:00] CyrusNajmabadi commented on #42050
I'm amenable to that.  This may also may fall out given some work I intend to do to split out how rename works wrt analyzing/fixing.  Assigning to myself to see what i can do here.

[2020-03-06 07:06] CyrusNajmabadi commented on #24246
Fixed with https://github.com/dotnet/roslyn/pull/32422

[2020-03-06 07:06] #24246 closed

[2020-03-06 07:34] CyrusNajmabadi commented on #24211
@jmarolf a lot of work was done to fixup extract method in local functions. absent a crisper repro, i'm closing this out. if you encounter tihs again, please give repro case (or dump).  thanks!

[2020-03-06 07:34] #24211 closed

[2020-03-06 07:52] CyrusNajmabadi commented on #24782
Have validated that suppression works as expected:

![norepro](https://user-images.githubusercontent.com/4564579/76063330-5d869900-5f3c-11ea-80e7-774c69942f44.gif)

[2020-03-06 07:52] #24782 closed

[2020-03-06 07:54] CyrusNajmabadi commented on #24691
Issue was reported resolved.

[2020-03-06 07:54] #24691 closed

[2020-03-06 07:55] CyrusNajmabadi commented on #24658
Closing out as the existing algorithm is fine for the vast majority of caes.  For projects that want to specify a banner explicitly, the can now do so with @sharwell 's work here: https://github.com/dotnet/roslyn/pull/41982

[2020-03-06 07:55] #24658 closed

[2020-03-06 08:18] CyrusNajmabadi commented on #24906
Closing out as extensive work was done to properly allow extraction of local function (including into other local functions).

[2020-03-06 08:18] #24906 closed

[2020-03-06 08:21] CyrusNajmabadi commented on #24837
@tmat is this relevant anymore with the work you've done?

[2020-03-06 08:21] CyrusNajmabadi commented on #24836
Fixed with https://github.com/dotnet/roslyn/pull/40735

[2020-03-06 08:22] #24836 closed

[2020-03-06 08:26] CyrusNajmabadi commented on #24790
Wasn't able to repro this.  It's absolutely possible that if this were done whiel the solution was mid-error that there could be gaps in the set of results.

[2020-03-06 08:26] #24790 closed

[2020-03-06 08:29] CyrusNajmabadi commented on #25020
Closing out as the question has been answered. Note that MemberDeclarationSyntax now has an actual instance method on it `WithAttributeLists` to allow you do to this.  No need for any extension methods.

[2020-03-06 08:29] #25020 closed

[2020-03-06 08:30] CyrusNajmabadi commented on #25017
@mkrueger Can you not supply your own completion provider here?

[2020-03-06 08:31] CyrusNajmabadi commented on #25017
NOte: this would be the preferred way as what you are talking about seems veyr weird.  i.e. ` virtually override members that are not virtual.`.  Since that problem space seems domain specific to whatever you are doing, it would make sense to have your own domain-specific completion provider to support that.

[2020-03-06 10:55] #24274 closed

[2020-03-06 13:34] YairHalberstadt opened #42217 "Warn when using uninitialised field in constructor"
**Version Used**: master as of 5th march 2020

**Steps to Reproduce**:

Compile the following

[code]

**Expected Behavior**: Warning: possible null dereference `_s.ToString()`

**Actual Behavior**: No warning and NRE at runtime

The compiler does not track the null state of fields in the constructor. I think that if the constructor does not call another constructor, all fields should start off wi

[2020-03-06 15:15] mavasani opened #42218 "Port and enable NamingStyleCodeFixProvider in CodeStyle layer"
`NamingStyleCodeFixProvider` current depends on an `IWorkspaceService`, [ISymbolRenamedCodeActionOperationFactoryWorkspaceService](https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/CodeRefactorings/WorkspaceServices/ISymbolRenamedCodeActionOperationFactoryWorkspaceService.cs). See https://github.com/dotnet/roslyn/blob/ace0fdea9733b9b6842495a17873acf6c9bf0d60/src/Features/Core

[2020-03-06 15:17] sharwell commented on #42218
Can we just use `Renamer`?

[2020-03-06 15:21] mavasani commented on #42218
Yes, but it seems like that will stop the following code from being invoked: https://github.com/dotnet/roslyn/blob/ace0fdea9733b9b6842495a17873acf6c9bf0d60/src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioSymbolRenamedCodeActionOperationFactoryWorkspaceService.cs#L64-L79

We will stop notifying all the `IRefactorNotifyService` implementations, so we need some different mechanism for

[2020-03-06 15:25] sharwell commented on #42218
Essentially every other symbol rename refactoring uses `Renamer`. We should switch this code fix to also use `Renamer`, and if something is broken then we need to fix the public `Renamer` API.

[2020-03-06 15:26] sharwell commented on #24658
Duplicate of #33012

[2020-03-06 15:31] mavasani commented on #42218
It turns out the code fix does use the Renamer in its primary code action: https://github.com/dotnet/roslyn/blob/ace0fdea9733b9b6842495a17873acf6c9bf0d60/src/Features/Core/Portable/CodeFixes/NamingStyle/NamingStyleCodeFixProvider.cs#L93-L100

It just registers an additional code action `CreateSymbolRenamedOperation` whose purpose is just to invoke the `IRefactorNotifyService` implementations. I th

[2020-03-06 16:31] hunteraj commented on #39822
I would love this feature. I specifically want to be able to exclude all the references from my unit tests. Sometimes I'll scan through the source looking for dead code with zero references, but if the method has a unit test it will always have references.

[2020-03-06 16:39] sharwell commented on #23586
@CyrusNajmabadi The Add Using operation should use the following:

* If no using directives are present in the file, use the specified option
* If using directives are present in only one location in the file, use that location
* If at least one using directive of the same form is present _and_ all such using directives are in the same location, use that location
* Otherwise, use the specified opt

[2020-03-06 16:53] jmarolf commented on #42198
What we want is to be able for the .NET org to dogfood analyzer waves in addition to making it easy for customers to onboard. We've all agreed that the default, simplest, way for users to get an analyzer wave is to have them auto-opted-in via their target framework (TFM). This means that for the majority of users, when they ask us why they are getting a specific warning we are going to ask what TF

[2020-03-06 16:54] #42211 closed

[2020-03-06 17:01] jaredpar commented on #41281
Sorry for the confusion here but that is not acutally a beta version of the compiler. It's just a quirk of how our infrastructure was working for a while. We've recently changed our infra to avoid this problem.

[2020-03-06 17:01] #41281 closed

[2020-03-06 17:14] mavasani commented on #42198
@jmarolf I believe all the concerns you have raised were based on my initial proposal, to which @tmat proposed changes. If we instead go with the second proposal as mentioned in https://github.com/dotnet/roslyn/issues/42198#issuecomment-595437894, then almost all of your concerns go away:

1. Compiler needs to implement a new command line switch to provide fallback or compilation level editorconfi

[2020-03-06 17:14] tmat commented on #24837
Nope.

[2020-03-06 17:14] #24837 closed

[2020-03-06 17:37] jmarolf commented on #42198
I bring it up because I think it will inform some of our implementation decisions.

As I understand it, the amended proposal would require each analyzer nuget package to define a set of `.editorconfig` files that it passes to the compiler. Which `.editorconfig` is passed in depends on the props/targets that are included in the nuget package.

Perhaps I am mis-understanding something but this means

[2020-03-06 17:44] mavasani opened #42219 "Add compiler command line switch to provide compilation level editorconfig files for severity configuration"
Extracted from discussions in https://github.com/dotnet/roslyn/issues/42198. The core compiler feature request here is:

1. C# and VB compilers should provide a new command line switch, say `/globalAnalyzerConfig:<%path_to_editorconfig%>`, to provide a global .editorconfig file with `dotnet_diagnostic` severity entries that applies to the entire compilation, similar to ruleset files.
2. The `dotne

[2020-03-06 17:44] mavasani commented on #42219
Tag @agocke

[2020-03-06 17:50] mavasani commented on #42198
I have extracted out the core Roslyn feature request into a separate issue: #42219. I think it might be best to pull out all the SDK property/versioning based discussions into a separate issue in SDK repo and close this issue.

The only way that diagnostic severities can be explicitly configured today are via editorconfig files (and rulesets as legacy). I think we should stick with all diagnostic

[2020-03-06 17:52] jmarolf commented on #42198
On further introspection I agree @mavasani. The compiler already tricked the compiler team into implementing editorconfig support so we might as well capitalize on it :)

[2020-03-06 18:04] olegtk commented on #39822
Please vote on https://developercommunity.visualstudio.com/content/idea/802616/filters-in-codelens-results-for-references.html, @hunteraj. Thanks!

[2020-03-06 18:14] mavasani commented on #41462
@sharwell @CyrusNajmabadi can we bring this to Monday's design meeting to review specifically the last item?

It should hopefully be a quick discussion and would bring back bunch of missing functionality in CodeStyle layer.

[2020-03-06 18:17] agocke commented on #42219
Right now my theory is that we could maybe pretend like this is an editorconfig at the root of the directory tree. If there's one already there, we could pretend like the existing one is concatenated onto the "global" one.

No idea if this actually works, though.

[2020-03-06 18:28] agocke commented on #42219
That's probably unacceptable unfortunately. For MSBuild+NuGet this is effectively undefined ordering.

One way to get around this is to make the feature even simpler:

1. global analyzerconfig files cannot have section names. It's just a universal set of key=value pairs. These settings are presumed to apply to every source file in the compilation.

2. Ordering is undefined among global analyzer co

[2020-03-06 18:31] mavasani commented on #42219
@agocke I like the simplicity of your proposal!

[2020-03-06 19:20] thomassuckow commented on #39583
I ended up using https://github.com/Dasync/AsyncEnumerable in C#8 because I can try catch how I expect to be able to.
Namely I need to prevent iterating over another Iasynciterable from propagating an exception as I aggregate from multiple places.

Oversimplified:
[code]

[2020-03-06 21:27] JoeRobich opened #42224 "Support diff3 conflict style for conflict marker detection and fixes"
I use VS Code as my mergetool and have become a fan of the diff3 conflict style (https://stackoverflow.com/questions/27417656/should-diff3-be-default-conflictstyle-on-git), since it allows me to resolve issues with more confidence.

[code]

As pointed out in this comment (https://github.com/dotnet/roslyn/pull/42213#issuecomment-595965510) we do not currently handle these `|||||||` markers.

[2020-03-06 22:00] mavasani commented on #42219
Tagging @jasonmalinowski @CyrusNajmabadi who were interested in this...

[2020-03-06 23:16] sharwell commented on #41884
Examples in Roslyn:

https://github.com/dotnet/roslyn/blob/24e61468355fb43e4b22a6e9f39816ee3e773f76/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/ValuesSources/WeaklyCachedValueSource.cs#L34-L36

https://github.com/dotnet/roslyn/blob/24e61468355fb43e4b22a6e9f39816ee3e773f76/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/ValuesSources/WeaklyCachedRecoverab

[2020-03-06 23:47] tmat opened #42229 "Workspace.SetOptions has a race condition"
The problem is in, where we read CurrentSolution, update it and set it back without taking `_serializationLock`

[code]

Taking the lock however, leads to a deadlock with stack trace. Both **highlighted** method frames would take the lock.

[code]

The solution is to avoid calling `RaiseWorkspaceChangedEventAsync` while the lock is taken.

[2020-03-06 23:48] tmat commented on #42229
@mavasani @jasonmalinowski

[2020-03-06 23:59] mavasani commented on #42229
Agreed. Invoke `RaiseWorkspaceChangedEventAsync` inside a lock does not seem good.

[2020-03-07 00:24] jcouv opened #42232 "Apply Not/MaybeNullWhen attributes on input parameters too"
Currently, the `[Not/MaybeNull]` attributes affect input parameters, but their conditional counterparts don't.

Placed in Backlog milestone until we can identify a motivating scenario.

[2020-03-07 00:29] vsfeedback opened #42233 "Diagnostic message about auto-property initializers in interfaces could be confusing"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/915469/code-checker-issue-with-editor-error-message-regar.html)._

---
[code]
(Error message: Only auto-implemented properties can have initializers)

[code]
(works fine)

No compilation is required, just the C# language checker, or what you call it, interpreting the code o

[2020-03-07 00:41] gafter commented on #42016
Fixed in https://github.com/dotnet/roslyn/pull/42023

[2020-03-07 00:41] #42016 closed

[2020-03-07 00:42] y87feng opened #42235 "In AddExplicitCast, lambda function as an argument cannot be matched to its corresponding paramter"
**Steps to Reproduce**:
[code]

**Expected Behavior**:
[code]
**Actual Behavior**:
No action

Some information:
The type of lambda function is `null`, so it cannot be matched.
Keep an eye on the identifier that is syntax and semantic true but the type is `null`.

[2020-03-07 01:06] jcouv commented on #36110
Verified that the OP scenario was fixed in 16.5p5

![image](https://user-images.githubusercontent.com/12466233/76133384-bf8edf00-5fcc-11ea-9b0a-4b658ad6544e.png)

[2020-03-07 01:22] tmat opened #42237 "Remove Workspace._serializationLock"
The lock is currently held while arbitrary, potentially 3rd party code is executed and it might easily cause deadlocks.

[2020-03-07 01:22] #24526 closed

[2020-03-07 01:27] jasonmalinowski commented on #41816
@dpoeschl The simplification here is to get rid of the document/insertPosition parameters that get passed around and just figure those out later when needed?

[2020-03-07 01:30] #24212 closed

[2020-03-07 01:41] CyrusNajmabadi commented on #25100
Interesting.  this only happens if you have "rename in comments and strings" enabled.  i wonder if there's something about doing two edits in the same comment that is throwing things off.

[2020-03-07 01:41] jasonmalinowski commented on #41782
I would have imagined the indicator was just in the add parameter dialog itself -- if clicking "OK" says "this didn't bind, are you sure?" and you click yes, why show anything in the UI further?

[2020-03-07 01:46] CyrusNajmabadi commented on #25343
Closing out.  Question was answer and solution was provided.

[2020-03-07 01:46] #25343 closed

[2020-03-07 01:50] CyrusNajmabadi commented on #25221
Given that this is how the language defines things, and how the compiler actually models things (both internally and through the public API), I think it's reasonable for the IDE to be honest and have quick-info exactly show the truth here.

I don't think there's much value in showing something different.  Esp. as you might then have a customer say: wait... why is it doing X when the language says

[2020-03-07 01:50] #25221 closed

[2020-03-07 03:54] NoneGiven opened #42241 "Unimported Intellisense gives non-generic collections when typing '<'"
**Version Used**:

VS 2019
16.5.0 Preview 5.0

**Steps to Reproduce**:

1. Ensure the "Show items from unimported namespaces" IntelliSense setting is enabled.
2. Ensure `System.Collections` and `System.Collections.Generic` are not in your list of usings.
3. Start typing `IEnumerable` as a type name.
4. Type `<`.

**Expected Behavior**:

A using directive for `System.Collections.Generic` is added.

[2020-03-07 09:29] aristid-lavri commented on #42195
hi @CyrusNajmabadi  Thank you
i will LYK if i need more help :)

[2020-03-07 15:15] warrenseine commented on #33468
I just tested again and I can't reproduce anymore. Both parameters are correctly interpreted. Thanks!

[2020-03-07 15:15] #33468 closed

[2020-03-07 15:59] aristid-lavri commented on #42195
hi @CyrusNajmabadi
here is my solution to solve this issue
in the "CreateInterpolatedString" method we have to add new condition when the piece is not "currentContentIsStringOrCharacterLiteral"
whitch will check if the current piece contain "InterpolatedStringStartToken" at the begining and "InterpolatedStringEndToken" at the end.
if condition is met then we remove the tokens and add the rest of t

[2020-03-07 16:28] mavasani commented on #41391
@ericburcham The IDE0005 analyzer for remove unnecessary usings is now part of this NuGet package: https://dotnet.myget.org/feed/roslyn/package/nuget/Microsoft.CodeAnalysis.CSharp.CodeStyle/3.6.0-2.20157.5

You can enforce this on command line for your project as follows:
1. Install the NuGet package to your project
2. Mark it as a build warning in your repo level editorconfig/ruleset file:
[code]

[2020-03-07 17:38] CyrusNajmabadi commented on #42195
Seems reasonable!  Try it out and make a pr :-)

[2020-03-07 19:54] aristid-lavri commented on #42195
i have those issues when i want to try my change in vs

Unknown argument 'D:\Personnel\Projet\ProjetPersonnel\Contribution'.
Input files should have the '.vsdconfigxml' extension.
Microsoft.CodeAnalysis.VisualBasic.ResultProvider
D:\Personnel\Projet\ProjetPersonnel\Contribution GitHub\roslyn\src\ExpressionEvaluator
\VisualBasic\Source\ResultProvider\Portable\EXEC	1

MSB3073	The command ""C:\Users\

[2020-03-07 20:15] tamlin-mike commented on #41870
+1

This deficiency has been a source of frustration for as long as it has been missing. :-)

[2020-03-07 20:25] tamlin-mike commented on #37243
-1 for

+1 for

[2020-03-07 20:48] jnm2 commented on #42195
@aristid-lavri I would lean heavily on tests to try out the change and to do any debugging. F5 should work though to launch VS. Is F5 what is giving you those errors?

[2020-03-07 21:02] GGG-KILLER opened #42247 "VS 16.5.0 Preview 5.0 - IDE0071 triggered on non-constant value"
**Version Used**: VS Community 16.5.0 Preview 5.0

**Steps to Reproduce**:
1. Create a new .NET Core 3.1 console project
2. Put the following code anywhere:
[code]

**Expected Behavior**:
IDE0071 is not triggered since `maxLength` is not a constant.

**Actual Behavior**:
IDE0071 is triggered:
![image](https://user-images.githubusercontent.com/5892127/76152369-adc93c80-609d-11ea-9d8c-61ba68835ada.p

[2020-03-07 21:23] CyrusNajmabadi commented on #42247
On it.

[2020-03-07 21:23] CyrusNajmabadi commented on #42247
Thanks for the great repro :)

[2020-03-07 21:25] CyrusNajmabadi commented on #25878
Could not repro this.  Will need more info to move forward on this.

[2020-03-07 21:25] #25878 closed

[2020-03-07 21:26] CyrusNajmabadi commented on #26118
@jinujoseph @sharwell Would like to take this to next design review to consider if this is out of scope for Roslyn.

[2020-03-07 21:33] CyrusNajmabadi commented on #41870
@sharwell @jinujoseph Let's discuss this at next meeting.  I think it woudl be reasonable to update goto-def on an existing public class/struct method/prop/event to attempt to find and goto implemented interface methods.  Note: we could restrict this to only work for known declared implemented interfaces on the current type (or base types).  This would ensure the operation was always fast, as we w

[2020-03-07 21:52] aristid-lavri commented on #42195
@jnm2 yes it is F5

[2020-03-07 21:54] CyrusNajmabadi commented on #26020
Fixed with https://github.com/dotnet/roslyn/pull/28066 (and several other feature additions in this space).

[2020-03-07 21:54] #26020 closed

[2020-03-07 21:54] CyrusNajmabadi commented on #26020
![image](https://user-images.githubusercontent.com/4564579/76153020-210d8700-607b-11ea-9b55-9b259366fe0f.png)

[2020-03-07 21:55] CyrusNajmabadi commented on #26004
So find-refs already has a way to filter out the projects you want or do not want:

![image](https://user-images.githubusercontent.com/4564579/76153036-57e39d00-607b-11ea-8338-da39a71e520e.png)

Closing out for now.

[2020-03-07 21:55] #26004 closed

[2020-03-07 21:59] CyrusNajmabadi commented on #25972
Fixed with https://github.com/dotnet/roslyn/pull/29686

[2020-03-07 21:59] #25972 closed

[2020-03-07 22:00] CyrusNajmabadi commented on #25943
Closing out.  This already uses the tagging difference system to only report the minimal set of changed classificatoins.

[2020-03-07 22:00] #25943 closed

[2020-03-07 22:03] ericburcham commented on #41391
Sweeeet!

We have an analyzer working, but it will be nice to remove the custom one.

Sent from a mobile device.  Please excuse errors / brevity.

﻿
@ericburcham The IDE0005 analyzer for remove unnecessary usings is now part of this NuGet package: https://dotnet.myget.org/feed/roslyn/package/nuget/Microsoft.CodeAnalysis.CSharp.CodeStyle/3.6.0-2.20157.5

You can enforce this on command line for you

[2020-03-07 22:11] aristid-lavri commented on #42195
for the tests i have to write my own? or there is an existing one ?

sorry if i ask too many trivia questions

[2020-03-07 22:23] CyrusNajmabadi commented on #26307
Fixed with https://github.com/dotnet/roslyn/pull/26309

[2020-03-07 22:23] #26307 closed

[2020-03-07 22:24] CyrusNajmabadi commented on #26250
@heejaechang Is there still work to be done here.  Afaik all compiler work around editorconfig was done.  Can you clarify what we need to do now?

[2020-03-07 22:31] CyrusNajmabadi commented on #26168
Can't repro this either.  And looks to be covered by existing tests.  Closing out.

[2020-03-07 22:31] #26168 closed

[2020-03-07 22:35] CyrusNajmabadi commented on #26605
I don't see this.  With decompilation i get:

![image](https://user-images.githubusercontent.com/4564579/76153435-d0992800-6080-11ea-8c05-43fedcb2b90d.png)

With metadata-as-source i get:

![image](https://user-images.githubusercontent.com/4564579/76153444-e7d81580-6080-11ea-88a1-4aebea9f095a.png)

[2020-03-07 22:48] aristid-lavri commented on #42195
here is the message i get when running test
System.InvalidOperationException : One document must have a single span annotation

        [WorkItem(42195, "https://github.com/dotnet/roslyn/issues/42195")]
        [Fact, Trait(Traits.Feature, Traits.Features.CodeActionsConvertToInterpolatedString)]
        public async Task TestConcatenationWithExistingInterpolation()
        {
            await Test

[2020-03-07 23:00] CyrusNajmabadi commented on #42195
hey @aristid-lavri  i would recommend coming to either gitter.im/dotnet/roslyn or discord.gg/csharp (channel #roslyn) for these sorts of questions.  They're much more conducive to back and forth dialog.

[2020-03-07 23:01] CyrusNajmabadi commented on #42195
For your test, take a look at the other tests in the file, you'll see they either use `$$` or `[| ... |]`.  these are markers to help declaratively specify positions/selections.  try to follow that in your pr.

[2020-03-07 23:12] CyrusNajmabadi commented on #26586
Fixed with https://github.com/dotnet/roslyn/pull/28831

[2020-03-07 23:12] #26586 closed

[2020-03-07 23:15] CyrusNajmabadi commented on #26504
@sharwell have your PRs fixed this?  can we close this out?

[2020-03-08 00:46] CyrusNajmabadi commented on #27041
I looked into this, but couldn't find any way to make this better.  The basic issue is that we cannot make assumptions about where the compiler will put these diagnostics.  So we have to take a conservative route of trying to find the applicable node in the first place.

A better approach altogether would be to not have this driven by compiler diagnostics, but instead have this be an IOp or Semant

[2020-03-08 00:46] #27041 closed

[2020-03-08 00:50] CyrusNajmabadi commented on #26841
Was not able to repro this.   Have been testing this with the new work to always have this on.  No regressions and no unexpected numbers are popping up.  Closing out.

[2020-03-08 00:50] #26841 closed

[2020-03-08 00:53] CyrusNajmabadi commented on #26767
Closing out.  It's not clear how to make this scenario work at all.  As mentioned in the linked issue, we need these intermediary parsed syntax trees as we have lots of worked kicked off in-flight that wil produce incremental results on them.  it's definitley *not* teh intent of the system to only have a 'latest' tree that all work restarts on.

[2020-03-08 00:53] #26767 closed

[2020-03-08 00:57] CyrusNajmabadi commented on #26677
Fixed with https://github.com/dotnet/roslyn/pull/33643

[2020-03-08 00:57] #26677 closed

[2020-03-08 01:01] CyrusNajmabadi commented on #27446
@dpoeschl Is this still relevant?

[2020-03-08 01:02] CyrusNajmabadi commented on #27445
@dpoeschl Is this still relevant?

[2020-03-08 01:02] CyrusNajmabadi commented on #27444
@dpoeschl Is this still relevant?

[2020-03-08 01:02] CyrusNajmabadi commented on #27442
@dpoeschl Is this still relevant?

[2020-03-08 01:02] CyrusNajmabadi commented on #27440
@dpoeschl Is this still relevant?

[2020-03-08 01:02] CyrusNajmabadi commented on #27437
@dpoeschl Is this still relevant?

[2020-03-08 01:02] CyrusNajmabadi commented on #27431
@dpoeschl Is this still relevant?

[2020-03-08 01:02] CyrusNajmabadi commented on #27430
@dpoeschl Is this still relevant?

[2020-03-08 01:02] CyrusNajmabadi commented on #27428
@dpoeschl Is this still relevant?

[2020-03-08 01:02] CyrusNajmabadi commented on #27427
@dpoeschl Is this still relevant?

[2020-03-08 01:03] CyrusNajmabadi commented on #27426
@dpoeschl Is this still relevant?

[2020-03-08 01:03] CyrusNajmabadi commented on #27425
@dpoeschl Is this still relevant?

[2020-03-08 01:03] CyrusNajmabadi commented on #27420
@dpoeschl Is this still relevant?

[2020-03-08 01:03] CyrusNajmabadi commented on #27419
@dpoeschl Is this still relevant?

[2020-03-08 01:03] CyrusNajmabadi commented on #27417
@dpoeschl Is this still relevant?

[2020-03-08 01:03] CyrusNajmabadi commented on #27412
@dpoeschl Is this still relevant?

[2020-03-08 01:05] tamlin-mike commented on #41870
@CyrusNajmabadi Considering that edge-case example is really a mixin, that could in theory implement _any_ interface with a matching method signature, it would not only be impractical but could even be impossible to GoToInterface (assuming it's to match a single interface method), since the set of interfaces it implements could be infinite.

I don't think anyone would enjoy seeing a measurable slo

[2020-03-08 01:06] CyrusNajmabadi commented on #27693
@dpoeschl is this still relevant?

[2020-03-08 01:06] CyrusNajmabadi commented on #27692
@dpoeschl is this still relevant?

[2020-03-08 01:06] CyrusNajmabadi commented on #27656
@dpoeschl is this still relevant?

[2020-03-08 01:06] CyrusNajmabadi commented on #27655
@dpoeschl is this still relevant?

[2020-03-08 01:06] CyrusNajmabadi commented on #27654
@dpoeschl is this still relevant?

[2020-03-08 01:06] CyrusNajmabadi commented on #27534
@dpoeschl is this still relevant?

[2020-03-08 01:06] CyrusNajmabadi commented on #27457
@dpoeschl is this still relevant?

[2020-03-08 01:06] CyrusNajmabadi commented on #27456
@dpoeschl is this still relevant?

[2020-03-08 01:07] CyrusNajmabadi commented on #27455
@dpoeschl is this still relevant?

[2020-03-08 01:07] CyrusNajmabadi commented on #27453
@dpoeschl is this still relevant?

[2020-03-08 01:07] CyrusNajmabadi commented on #27451
@dpoeschl is this still relevant?

[2020-03-08 01:07] CyrusNajmabadi commented on #27448
@dpoeschl is this still relevant?

[2020-03-08 01:07] CyrusNajmabadi commented on #27447
@dpoeschl is this still relevant?

[2020-03-08 01:21] GGG-KILLER commented on #42247
Glad to help! (though I wish I could've helped further than just giving a repro)
Thanks for fixing this so quickly

[2020-03-08 03:06] CyrusNajmabadi commented on #28180
@huoyaoyuan can you give an example that doesn't work that you want to work?

[2020-03-08 03:09] CyrusNajmabadi commented on #28551
@gundermanc Another user issue here.  Has the editor been able to budget any time to adopt the "align the guideline to the left-most of the two points" approach we talked about previously?

[2020-03-08 03:11] CyrusNajmabadi commented on #28418
var numbers = new List();

This is the behavior i see:

![image](https://user-images.githubusercontent.com/4564579/76155902-7eb7c880-60a7-11ea-9741-5c069a2f0bee.png)

[2020-03-08 03:14] CyrusNajmabadi commented on #29114
@tmat is this still an issue?

[2020-03-08 03:17] CyrusNajmabadi commented on #28846
Fixed with https://github.com/dotnet/roslyn/pull/30554

[2020-03-08 03:17] #28846 closed

[2020-03-08 03:20] CyrusNajmabadi commented on #29196
Fixed with https://github.com/dotnet/roslyn/pull/38166

![image](https://user-images.githubusercontent.com/4564579/76155992-a3f90680-60a8-11ea-90fb-a09cf7f0a6e6.png)

tested lots of combinations here and this is working well.

[2020-03-08 03:20] #29196 closed

[2020-03-08 03:26] CyrusNajmabadi commented on #29348
@jinujoseph @sharwell would like to bring this to review.  I don't think this is worthwhile.  It's a single request, and it's not a common enough scenario to 'win' space in lightbulb.

[2020-03-08 03:27] CyrusNajmabadi commented on #29669
is this still an issue for you @DanielRosenwasser ?

[2020-03-08 03:30] CyrusNajmabadi commented on #29948
@333fred is there anything more to do with this issue?

[2020-03-08 03:32] CyrusNajmabadi commented on #30306
This work was done.  We now store checksums in sqlite so we don't need to read the whole row unless necessary.

[2020-03-08 03:32] #30306 closed

[2020-03-08 03:33] CyrusNajmabadi commented on #30159
Fixed with https://github.com/dotnet/roslyn/pull/42141

[2020-03-08 03:33] #30159 closed

[2020-03-08 03:35] CyrusNajmabadi commented on #30553
This is no longer necessary as we fixed the underlying issue with throwing code in the extract method matrix code.  As such extract method is no longer behaving in an abnormal way and does not need special compensation when used by the code-refactoring subystem.

[2020-03-08 03:35] #30553 closed

[2020-03-08 03:36] CyrusNajmabadi commented on #30522
@sharwell can we take to review?  i would like to close this out.

My bar for this is effectively: would we take a PR from this to have this new behavior.  I don't believe we would in roslyn itself.  As such, having the issue isn't helpful.

[2020-03-08 04:19] #26605 closed

[2020-03-08 04:33] CyrusNajmabadi commented on #30975
Closing out.  The specific test harness that benefits from this would be able to write helpers if necessary to ask if there was any nesting here.  It would not affect any of the existing helpers which find the above code identical.

[2020-03-08 04:33] #30975 closed

[2020-03-08 04:34] #26213 closed

[2020-03-08 05:03] 333fred commented on #29948
@CyrusNajmabadi I have no idea. I'm not sure what the IDE team has looked at here.

[2020-03-08 05:12] DanielRosenwasser commented on #29669
It was more of a quirk that I thought Roslyn would be interested in fixing, but I'd understand if it's not worth the time.

[2020-03-08 05:41] yyjdelete opened #42259 "Roslyn didn't report CS8333 for local function."
**Version Used**:
VS 16.5.0 Preview 5.0

**Steps to Reproduce**:
https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA+ABATARgLABQGAzAATakDCpA3oaQ+TkuSqQLICGAlgHYAUASjoFGY0rABmpPgBdSnUgF4JMae35ZBAbnriGUmb3nBlq9f2I69+jDgCc/TgGpg10ftI3xhuR358RvLcgsoAfOYyuh4MAL7eAPQJvsb+gX4h4ZHc0bFAA
[code]

**Expected Behavior**:
Also report CS8333 as it does for normal functions.
`error CS8333: Cannot return variable 'in i

[2020-03-08 06:23] CyrusNajmabadi commented on #30759
This is by design.  The language was changed to allow `is null` for generic type parameters.

[2020-03-08 06:23] #30759 closed

[2020-03-08 06:25] CyrusNajmabadi commented on #30983
@mavasani  can you move to Roslyn-Analyzers.  This doesn't really fit into core Roslyn IDE.

[2020-03-08 06:25] #30983 closed

[2020-03-08 09:45] CyrusNajmabadi commented on #30931
Not an IDE request, but a request for a new language feature.

[2020-03-08 13:55] tamlin-mike commented on #41592
@sharwell If it's intentional, have the case of moving a type from the global namespace (i.e. none) to a named namespace using "Move to namespace" refactoring also been considered? Code in that case looks pretty darn bad IMHO.

[2020-03-08 17:02] 333fred commented on #28418
I think that @mavasani has since implemented this. Can it be closed?

[2020-03-08 18:16] mavasani commented on #28418
Yes, this is implemented as IDE0059. Closing it out...

[2020-03-08 18:16] #28418 closed

[2020-03-08 20:06] CyrusNajmabadi commented on #31638
Have not been able to repro this.  This is probably one of those cases we've fixed where we weren't properly broadcasting workspace events.

[2020-03-08 20:06] #31638 closed

[2020-03-08 20:25] CyrusNajmabadi commented on #31577
Closing out as this was won't-fixed.

[2020-03-08 20:25] #31577 closed

[2020-03-08 20:26] CyrusNajmabadi commented on #31567
This is a language request.  Closing out as those are now supposed to go through dotnet/csharplang.

[2020-03-08 20:26] #31567 closed

[2020-03-08 20:28] CyrusNajmabadi commented on #31532
Closing out.  This lacks a clear use case and a clear consumer that is having a problem that would need a rich sql interface to solve.  Right now the existing system works well both for each reading/writing of a key/value, and allows for high perf efficiency by allowing the client to know if they need to read/write the value with very low overhead.  This seems like a good place to be absent an act

[2020-03-08 20:28] #31532 closed

[2020-03-08 20:30] CyrusNajmabadi commented on #31845
Haven't seen this in a while.  Closing out as likely changed through the many improvements that have happened here.

[2020-03-08 20:30] #31845 closed

[2020-03-08 20:45] CyrusNajmabadi commented on #31713
I can't repro this with anything i've tried.  Will need more info from the user (like a full repro, or stack or dump) to be ale to proceed).

[2020-03-08 20:49] CyrusNajmabadi commented on #31896
Closing out as we haven't heard from customer in over a year.

[2020-03-08 20:51] CyrusNajmabadi commented on #32339
@DustinCampbell does this need to be fixed for Winforms? Or is this just a gap you noticed that is not very impactful?

[2020-03-08 20:56] CyrusNajmabadi commented on #32129
Closing out.  The intent of the feature is to take the clear case of `new + assignments` and use an object-initializer.  The case of just seeing assignments to some zero-inited value was never intended to be in scope for the feature and seems niche enough to not warrant attention.  Closing out as won't-fix.

[2020-03-08 20:56] #32129 closed

[2020-03-08 21:00] CyrusNajmabadi commented on #32489
@mavasani can this be moved to roslyn-analyzers?

[2020-03-08 21:01] CyrusNajmabadi commented on #32487
I could not repro this.  Perhaps it was the name-generation core algorithm which blew up on memory?  I'm going to close this out. If you are still seeing this, please provide the version of VS you're using and an exemplar file that can be used to determine waht the core cause is.

[2020-03-08 21:01] #32487 closed

[2020-03-08 21:02] CyrusNajmabadi commented on #32486
I can't repro this either.  Closing out.  If customer can provide a repro we can move forward with this.

[2020-03-08 21:02] #32486 closed

[2020-03-08 21:03] CyrusNajmabadi commented on #32482
Fixed with https://github.com/dotnet/roslyn/pull/17860

[2020-03-08 21:03] #32482 closed

[2020-03-08 21:03] CyrusNajmabadi commented on #32461
@jnm2 i think you were interested in this as well :)

[2020-03-08 21:07] CyrusNajmabadi commented on #32461
I have an alternate proposal here.  Allow a **CodeAction** to be queryable for 'Fix Scopes' that it would support.  These would basically be set of strings, like "current method" "current type" "entire project" that would then be used to populate the UI in hte preview window so it could offer:

`Fix all in 'current method' | Fix all in 'current type'` etc. etc.

There would then be a new entrypoin

[2020-03-08 21:09] CyrusNajmabadi commented on #32461
Note: i prefer the above because i've always struggeld with FixAll with analyzers in how they're disconnected from teh particular Diagnostic+Fix that i reported from my analyzer.  I need to do all this work with properties/ids/descriptors/equivalence-keys to associate the right fix-all behavior with the right actions.

Having these be tied together at the action level cleans that all up and allows

[2020-03-08 21:10] CyrusNajmabadi commented on #32425
I'm sure this is a dupe.  But i can't find the other.

[2020-03-08 21:12] CyrusNajmabadi commented on #32832
That interface has been removed.  And there is one true IIndentationService that is a language service and can be retrieved as a data API in the normal way: https://github.com/dotnet/roslyn/blob/153fec7d2ada17d32788e60e97dd9c297ce610b4/src/Workspaces/Core/Portable/Indentation/IIndentationService.cs#L44

[2020-03-08 21:12] #32832 closed

[2020-03-08 21:13] CyrusNajmabadi commented on #32831
This is the current way things work.  You can either grab the singleton instances through ILanguageService or statically reference https://github.com/dotnet/roslyn/blob/153fec7d2ada17d32788e60e97dd9c297ce610b4/src/Workspaces/CSharp/Portable/Indentation/CSharpIndentationService.cs#L25

[2020-03-08 21:13] #32831 closed

[2020-03-08 21:17] CyrusNajmabadi commented on #32687
Fixed with https://github.com/dotnet/roslyn/pull/42059

[2020-03-08 21:17] #32687 closed

[2020-03-08 21:18] CyrusNajmabadi commented on #32639
Would like to bring this to next design meeting to see if this is out of scope for Roslyn and should be something the editor could provide.

[2020-03-08 21:19] CyrusNajmabadi commented on #32614
Fixed with https://github.com/dotnet/roslyn/pull/28918

[2020-03-08 21:19] #32614 closed

[2020-03-08 21:22] CyrusNajmabadi commented on #33108
I'm not sure there's a problem here.  The call to `string.Replace(` is not legal (it's an instance method not a static method).  I would be ok "won't fix"ing this as it seems like a niche scenario.  Will take on me to provide test for more expected situations (i.e. non error code) but potentially revise the behavior of this test to indicate that the above behavior is ok.

[2020-03-08 21:23] CyrusNajmabadi commented on #33066
Would lke to bring to review.  This plugin works very well, and it seems like it would be strange to try to duplicate everything it does for C#/VB when they already exist and work across all VS languages.

[2020-03-08 21:25] CyrusNajmabadi commented on #33038
Fixed with https://github.com/dotnet/roslyn/pull/32284

[2020-03-08 21:25] #33038 closed

[2020-03-08 21:27] CyrusNajmabadi commented on #32992
Going to close out as "wont' fix".  This would add a lot of complexity in the impl (which already has a lot of code :) ).  The default behavior of the IDE is to pair quotes anyways, and getting into a 'good' state here is just the addition of a single quote character.    So the cost does't seem worth it IMO.

[2020-03-08 21:27] #32992 closed

[2020-03-08 21:29] CyrusNajmabadi commented on #33270
Closing out for now.  If internal customer needs info (which hasn't happened in a year), this can be reopened.

[2020-03-08 21:29] #33270 closed

[2020-03-08 21:39] CyrusNajmabadi commented on #33411
@sharwell do we need this issue?  We have moved to SHA256 here:

https://github.com/dotnet/roslyn/blob/153fec7d2ada17d32788e60e97dd9c297ce610b4/src/Workspaces/Core/Portable/Workspace/Solution/Checksum_Factory.cs#L24

If we have an actual scenario where we see hash perf showing up, we can use that as a driving function.  However, this issue seems speculative and not necessary to just have floating

[2020-03-08 21:41] CyrusNajmabadi commented on #33818
Closing out.  Through the work @petrroll did, we have a sytem that works quite well for providing a more consistent approach for refactorings.  We've also been able to tweak very easily as we've encountered undesirable behavior.  it's unclear what would actually benefit from here as we wwould need the new api, and we would still have to go to all refactorings to have them decide how to do it.  At

[2020-03-08 21:41] #33818 closed

[2020-03-08 21:48] CyrusNajmabadi commented on #34304
@tmat is this still relevant with all your changes?

[2020-03-08 21:50] CyrusNajmabadi commented on #34281
Can't repro this:
![norepro2](https://user-images.githubusercontent.com/4564579/76171756-1c64d380-614c-11ea-977e-6c7bdcf12d69.gif)

[2020-03-08 21:50] #34281 closed

[2020-03-08 21:54] CyrusNajmabadi commented on #34131
Adding 'help wanted'.  We would likely take an update which adds support for converting:

[code]

Into

[code]

Or, even better in this case, either:

[code]

(if the user likes var), or:

[code]

If the user does not.

[2020-03-08 21:55] CyrusNajmabadi commented on #34457
@sharwell  can we merge this into one top-level bucket of: here are codefixproviders we should review to determine if they should have fix-all support or not?

[2020-03-08 21:58] CyrusNajmabadi commented on #34593
Closing out.  No changes needed here afaict.

[2020-03-08 21:58] #34593 closed

[2020-03-08 22:00] CyrusNajmabadi commented on #34555
@tmat is there anything ew need to do here now?

[2020-03-08 22:01] petrroll commented on #33818
I'd just like to point out, that the ordering aspect hasn't been (AFAIK) finished and causes a great (unexplained) difference in UX between refactorings and code fixes.

See last comments here: https://github.com/dotnet/roslyn/pull/38271

[2020-03-08 22:39] saucecontrol commented on #33411
SHA256 is still quite slow.  If this is a bottleneck, I've published a BLAKE2 implementation that's roughly 5x faster than Windows CNG's SHA256: https://github.com/saucecontrol/Blake2Fast#blake2fast-vs-net-in-box-algorithms-md5-and-sha2

That's making use of AVX2 intrinsics in netcoreapp3.x, but the scalar fallback is still at least twice as fast as SHA256, even on netfx 32-bit.

[2020-03-08 23:14] CyrusNajmabadi commented on #33411
@saucecontrol does this work for these requirements: https://github.com/dotnet/roslyn/issues/33411#issuecomment-465272354

?

[2020-03-08 23:25] saucecontrol commented on #33411
It works as is for everything except case insensitive string hashing.  That can be done by pushing individual case-normalized characters (or perhaps fixed windows of case-normalized substrings) into the hash state.  The API is Span-based, so it's non-allocating and flexible.

[2020-03-08 23:26] saucecontrol commented on #33411
I assume you don't care about endianness if you're wanting to hash System.String values directly?  Or would you want something that normalizes both case and endianness?

[2020-03-09 00:00] CyrusNajmabadi commented on #33411
Could you link me to where it supports pushing characters?  Thanks!

Correct. :)

[2020-03-09 00:09] saucecontrol commented on #33411
I've updated the API since the last version published to NuGet, but you can try it out with the [latest CI build](https://dev.azure.com/saucecontrol/Blake2Fast/_packaging?_a=feed&feed=blake2fast_ci)

You can use `Blake2b.CreateIncrementalHasher()`, which will return the hash state struct.  That has an `Update()` that accepts a value or Span of value:

https://github.com/saucecontrol/Blake2Fast/blo

[2020-03-09 00:39] tamlin-mike commented on #32129
Since it hasn't been acted upon for fourteen months before closing it was pretty clear this would not be fixed. Just felt like adding a few closing words on this.

That's one option. Another option is that it was generated code. There are many more options, and only one of them includes intent by the original author.

Perhaps, but when I encounter it I usually do it en-masse; sometimes hundreds of

[2020-03-09 01:07] CyrusNajmabadi commented on #32129
In general no.  These come with costs and scenarios to allow hitting the mainline cases, without trying to exhaustively cover any potential case.

Sure.  It may be super relevant to your use cases.  In that case, i would recommend writing your own roslyn analyzer/fixer for your needs.

Roslyn-IDE doesn't intend to have all features be exactly what all customers need it to be.  It tries to solve th

[2020-03-09 01:15] sharwell commented on #34457
@CyrusNajmabadi I don't think it makes sense to merge them.

[2020-03-09 02:37] CyrusNajmabadi commented on #35216
Doesn't repro for me.

![image](https://user-images.githubusercontent.com/4564579/76178326-34504d80-6174-11ea-8e81-f4a9f1bd286d.png)

[2020-03-09 02:37] #35216 closed

[2020-03-09 03:15] CyrusNajmabadi commented on #35416
Closing out for now as we've heard no other reports and we have direct confirmation that this scenario works.

[2020-03-09 03:15] #35416 closed

[2020-03-09 03:17] CyrusNajmabadi commented on #35387
Closing out.  The current behavior is desirable.  We would want to encourage usages of `{}` (or `not null` once available) versus having the user have to specify the full type again.

[2020-03-09 03:17] #35387 closed

[2020-03-09 03:19] CyrusNajmabadi commented on #35771
Closing out as the scenario is covered more flexibly than in the OP.

[2020-03-09 03:19] #35771 closed

[2020-03-09 03:21] CyrusNajmabadi commented on #35644
Fixed with https://github.com/dotnet/roslyn/pull/35822

[2020-03-09 03:21] #35644 closed

[2020-03-09 03:23] CyrusNajmabadi commented on #35615
@heejaechang can this now be removed?  The linked issue you mentioned has been closed.  Thanks!

[2020-03-09 03:38] CyrusNajmabadi commented on #35954
@olegtk We see that we're within a string.  And because of that, we know this isn't a C# language construct.  So we call into:

[code]

We got that navigator by calling:

[code]

At runtime this is a:

[code]

So i believe this is over to you @olegtk .  Do you want to move to editor?

[2020-03-09 03:41] CyrusNajmabadi commented on #35943
@mavasani i can't repro either of hte cases above.  My guess is that this is something you may hve fixed. If so, can you close this out?

[2020-03-09 03:59] CyrusNajmabadi commented on #35875
Fixed with https://github.com/dotnet/roslyn/pull/42173

[2020-03-09 03:59] #35875 closed

[2020-03-09 04:01] CyrusNajmabadi commented on #35861
This case is supported.

[2020-03-09 04:02] CyrusNajmabadi commented on #35861
This case is not (neither in C# nor VB).  Taking to design meeting to qualify this as "won't fix".  There's a simple approach.  Just write an anonymous type there and ask to convert it to a class.

[2020-03-09 04:04] CyrusNajmabadi commented on #36085
Closing out.  This is the intended design.

[2020-03-09 04:04] #36085 closed

[2020-03-09 04:07] CyrusNajmabadi commented on #36559
@tmat is this still something we need to do?

[2020-03-09 05:53] SimonCropp opened #42279 "considered snapshot testing?"
I was wondering if snapshot testing had been considered as a way of simplifying the way test results are verified in the roslyn codebase?

I did a quick scan through and found several assertion patterns that could benefit

 * VerifyTypeIL https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDisplayClassOptimisationTests.cs#L41
 * parser tests https://github.co

[2020-03-09 06:02] #34624 closed

[2020-03-09 06:06] tmat commented on #36559
IDK. Maybe.

[2020-03-09 06:07] #34555 closed

[2020-03-09 06:07] tmat commented on #34555
Done.

[2020-03-09 06:07] agocke commented on #42279
This just seems like it moves the assertion from one file into many. Many of our tests are very short. This would create hundreds or thousands tiny files, vs one file with a hundred 10-line tests.

* no assertion code required. looking through the above scenarios it seems complex assertion is usually either done with a dsl or large strings. this is no longer required with snapshot testing. the app

[2020-03-09 06:07] #34304 closed

[2020-03-09 06:16] GrabYourPitchforks commented on #33411
FYI on 64-bit platforms, SHA512 tends to outperform SHA256. Especially for larger inputs (anything over a few dozen bytes), as is the case here. If you're going for raw speed and you need to use something built-in, it could be a stop-gap measure.