[2015-09-15 19:22] KevinH-MS commented on #5244
The problem is that the Workspace (Solution) doesn't yet know about the #load'ed Document.

[2015-09-15 19:37] #2482 closed

[2015-09-15 19:43] #5176 closed

[2015-09-15 20:07] VSadov commented on #4103
Current proposal is to use combination of
[code]
to designate this mode.
The combination is currently unused since we only consider /optimize[+|-]

The philosophy for this combination will be - "perform optimizations except those that reduce debuggability"

At the end we will have 4 combinations:
* /optimize+ /debug-           :: optimizations are performed and if they conflict with debuggability,

[2015-09-15 20:07] VSadov commented on #4103
CC @jaredpar @tmat

[2015-09-15 20:11] RichiCoder1 commented on #5045
Is there any intention to allow using `this` or extension methods against the host object @tmat? Would be immensely useful, especially with domain specific scripts.

[2015-09-15 20:11] patriksvensson commented on #1382
Extension method support in top-level code is something that I would really want :+1:

[2015-09-15 20:17] #4697 closed

[2015-09-15 20:46] #3593 closed

[2015-09-15 20:46] #3746 closed

[2015-09-15 20:47] tmat opened #5250 "Improve method signature formatting: ObjectFormatter.FormatMethodSignature"
This is used in REPLs to display stack frames.

[2015-09-15 20:50] RichiCoder1 commented on #996
Would love to see this get bucketed. Would make quite a few scenarios much easier. Microsoft itself ran into this with Task and TaskEx.

[2015-09-15 20:51] oatkins opened #5252 "Feature request: expose C# project default namespace to analyzers"
Unlike VB, the C# compiler doesn't have the concept of a default namespace. There *is* a default namespace *project* setting, but this doesn't affect the compiler at all. It's simply used by Visual Studio to determine how to generate new files from templates.

This feature request is to expose the default namespace, when available, to analyzers. See https://github.com/DotNetAnalyzers/StyleCopAnaly

[2015-09-15 20:58] tmat opened #5253 "[REPL] Allow controlling object formatting thu host object properties/methods"
Add

[code]

to host object, where
[code]

so that the user can control print settings and print object on demand.

[2015-09-15 21:40] tmat opened #5254 "ResGen doesn't recognize ".NETPortable,Version=v5.0" TFM and generates non-portable code"
Repro:
1) Add a new resource string to ScriptingResources.resx in project Scripting and build
[code]

2) Open ScriptingResources.resx designer:
"Could not resolve mscorlib for target framework '.NETPortable,Version=v5.0'.  This can happen if the target framework is not installed or if the framework moniker is incorrectly formatted"

[2015-09-15 21:47] tmat commented on #4103
I think this proposal has two issues:
1) It changes the current meaning of the command line options /debug+. Until now /debug+, /debug:full, /debug:pdbonly were all equivalent and interpreted as _emit pdb file_.
2) it conflates level of optimization with format/availability of debug information.

I suggest an alternative: introduce a new value /optimize:debug (or /optimize:partial, etc.), so that

[2015-09-15 21:50] tmat commented on #5045
@RichiCoder1  Not currently. Could you give an example of scenario where you'd need such feature?

[2015-09-15 21:52] agocke commented on #5052
This is a bug in CoreFX: https://github.com/dotnet/corefx/issues/3258

I'm closing the bug on Roslyn for now.

[2015-09-15 21:56] tmat commented on #5126
@TyOverby @jaredpar Could you prioritize this? VS keeps crashing whenever I type lambda.

[2015-09-15 22:04] jmarolf opened #5255 "VS crash when trying to bring up completion list in lambda"
Consider a project with the following files.

using System.Collections.Generic;
using System.Linq;
namespace Microsoft.VisualStudio.InteractiveWindow.UnitTests
{
    public class HistoryTests
    {
        private readonly History _history;
        public HistoryTests()
        {
            _history = new History();
        }
        private IEnumerable<string> HistoryEntries => _history.Items.Se

[2015-09-15 22:12] balajikris commented on #5013
With #5191 doc comments for mscorlib will stop working in Interactive window. The change removes an internal helper that was inadvertently being used in the VS provider. The correct way to locate the xml help file in VS is via `IVsXmlMemberIndexService` which is what the PR does. Interactive takes the same code path as VS, however, Interactive works off of assemblies from Framework directories ins

[2015-09-15 22:15] jmarolf commented on #5255
dupe of #5126

[2015-09-15 22:15] #5255 closed

[2015-09-15 22:17] gafter commented on #5126
I suspect the client is attempting to construct (instantiate with type arguments) a method that is already constructed or not generic.

[2015-09-15 22:18] gafter commented on #5255
@TyOverby Probably a dup of #5126 as @jmarolf pointed out. I suspect it is a misuse of the API (i.e. not a compiler bug).

[2015-09-15 22:22] gafter commented on #996
@RichiCoder1 We hear you.

[2015-09-15 22:23] dougbu commented on #5052
Thanks for the investigation.

[2015-09-15 22:27] CyrusNajmabadi commented on #5106
ShebangTrivia is appropriate.

[2015-09-15 22:27] #5106 closed

[2015-09-15 22:29] RichiCoder1 commented on #996
@gafter looking into it now, I'm assuming this is being considered under this item?

If so, I apologize for my redundant request :)!

[2015-09-15 22:30] amcasey opened #5257 "Ctrl-Alt-Up/-Down not working"
The command works, but the keybinding doesn't.  Something upstream is probably eating it.

[2015-09-15 22:32] ManishJayaswal commented on #5164
@gsferreira this is a bug. Hierarchy should be considered. Please submit a PR.

[2015-09-15 22:32] tmat commented on #5257
I'm not sure this is an issue. The binding that should work is Alt+UpArrow and Alt+DownArrow. Perhaps we should even make Ctrl+Alt+UpArrow not work, so that it can be used for other feature in future w/o breaking users.

[2015-09-15 22:43] ManishJayaswal commented on #5067
This probably has nothing to do with Roslyn. I will pass this over to debugger team.
@Suchiman would you mind opening a connect issue on it at http://connect.microsoft.com/VisualStudio

[2015-09-15 22:48] gafter commented on #996
No, under #996. However I have to say it is not looking good for C# 7 or 8 at this point.

[2015-09-15 22:48] amcasey commented on #5141
Filed internal bug 144964 to track the underlying issue.

[2015-09-15 22:57] cston commented on #4479
Adding @kelltrick

[2015-09-15 22:59] stephentoub commented on #5052
I'm not convinced it's a bug in FileStream.  The repro supplied assumes that Stream.Read always reads the number of requested bytes, which isn't the case; it can read and give back fewer than the number requested.  I don't know if it's the relevant Roslyn code, but I see code like https://github.com/dotnet/roslyn/blob/0382e3e3fc543fc483090bff3ab1eaae39dfb4d9/src/Compilers/Core/Portable/CvtRes.cs#L

[2015-09-15 23:12] balajikris opened #5258 "Introduce Variable codeaction has text truncation logic that should be removed"
Porting internal bug 129568.

Editor team has changed the LightBulb functionality so that it truncates LightBulb menu item's text at a certain length. It also replaces newlines, carriage returns, and tab characters with spaces.

[IntroduceVariable](https://github.com/dotnet/roslyn/blob/7755b1632509f7fc9c6f494c99711dae8d700499/src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableSe

[2015-09-15 23:22] ManishJayaswal commented on #4777
duplicate of #4177

[2015-09-15 23:22] #4777 closed

[2015-09-15 23:22] ManishJayaswal commented on #4177
verify scenario in #4777

[2015-09-15 23:39] ManishJayaswal commented on #5067
Create an internal bug on debugger. @Suchiman please still file the connect issue so that you can track this. Internal bug number is 144991.

[2015-09-15 23:43] KevinH-MS opened #5260 "#load'ed SyntaxTrees do not have Documents..."
Currently, there are no ```Documents``` corresponding to ```#load```ed ```SyntaxTrees``` in the ```Workspace```.  The "external" set of ```SyntaxTrees``` (known to the ```Workspace```) are passed to the ```Compilation``` when it is constructed, but the full set (including ```#load```ed trees) is not realized until someone attempts to observe the ```Compilation```'s ```SyntaxTrees``` (at which poin

[2015-09-16 00:04] tmat commented on #5260
I think it's also important for REPL since we want completion to contain members defined in #load'ed files.

[2015-09-16 00:20] omidkrad opened #5262 "Resolve enum references more smartly"
**Example:**

[code]

**Gives Error:**

When we know `TransactionOptions.IsolationLevel` property is of type `System.Transactions.IsolationLevel` then we have all we need to disambiguate the references.

I think we should be able to even do the following without any using namespace or using static:

[code]

This could apply to types other than Enum as well.

[2015-09-16 00:30] #5126 closed

[2015-09-16 00:34] HaloFour commented on #996
@gafter I think that this is the second time that I've seen mention of C# vNextNext and beyond.  What kind of (very rough) timeframes are we talking about here?  We've traditionally seen about 2-3 years between language/framework versions putting a theoretical C# 9.0 somewhere around 2022.  I assume that Roslyn and the new open process would lend towards a faster and more iterative approach, but I

[2015-09-16 01:13] tmat opened #5263 "Implement a specialized Workspace for loose .csx file open in VS"

[2015-09-16 02:14] gafter commented on #996
@HaloFour We can't give you roadmaps, as that would be promising things that we can't be sure we'll deliver. Having said that, we'd prefer to release language versions around once a year or so.

[2015-09-16 03:12] davkean commented on #5254
This is known internally, and has been fixed in recent builds. The next update of Visual Studio will include the fix.

[2015-09-16 03:17] davkean opened #5266 "Make the SolutionFile class public"
Filed on behalf of LSergey (http://connect.microsoft.com/VisualStudio/feedbackdetail/view/952541/make-the-solutionfile-class-public)

It would be nice to have an ability to parse solution files without loading projects.

[2015-09-16 03:17] agocke opened #5267 "Audit the compiler for ignoring the return value of Stream.Read"
Bug #5052 is one instance of this, but there are others, like the one in https://github.com/dotnet/roslyn/blob/0382e3e3fc543fc483090bff3ab1eaae39dfb4d9/src/Compilers/Core/Portable/CvtRes.cs#L207-L209

[2015-09-16 03:18] agocke commented on #5052
@stephentoub You are absolutely correct. It looks like we've made this error in multiple places, so we'll need to fix them up. Thanks for catching my error!

[2015-09-16 03:24] stephentoub commented on #5052
:smile: In addition to your fixing that, I've also submitted a PR to corefx to bring the Unix behavior of FileStream a bit more in line with that on Windows.  On Windows, after filling a read from the internal buffer, if we didn't get as much from the buffer as the user asked for, we'll make another request to the OS to fill the remainder.  My change modifies the Unix behavior to be similar.  Howe

[2015-09-16 03:26] Pilchie commented on #5266
Actually, in VS2015 we now use an API exposed by MSBuild for solution file parsing. See http://source.roslyn.io/Microsoft.CodeAnalysis.Workspaces.Desktop/R/ed6242ba72813b8d.html.

[2015-09-16 03:26] #5266 closed

[2015-09-16 03:29] #5254 closed

[2015-09-16 03:34] Pilchie commented on #5246
This is because we treat edits to comments as "non-important" and we don't build a new `Compilation` in that case.

[2015-09-16 06:09] ManishJayaswal commented on #4883
dupe of #5257 . ctrl+alt+up/down should do pattern search instead.

[2015-09-16 06:09] #4883 closed

[2015-09-16 06:31] ManishJayaswal commented on #4419
@cston  this does not repro on latest bits.

1

[2015-09-16 06:39] ManishJayaswal commented on #4737
may be a dupe of #3712

[2015-09-16 06:44] Pvlerick commented on #3612
I also have trouble building the project.

When in Visual Studio Community 2015, I have now 4 errors (number seems to vary due to factors I don't understand, it's been down from 25 to 800 and up to 2000+).

I made [a gist with output from nuget restore that gives me some warnings, cibuild that fails log and errors from visual studio](https://gist.github.com/Pvlerick/6fbc97185ddaf00f6872).

[2015-09-16 08:12] fschmied commented on #3864
@robintheilade The `GetTypeByMetadataName` API exists on both the `Compilation` and the `IAssemblySymbol` types. Therefore, if you have a `Compilation`, you can get the interesting `IAssemblySymbols` from that, and then call `IAssemblySymbol.GetTypeByMetadataName`.

    compilation.References
        .Select(compilation.GetAssemblyOrModuleSymbol)
        .OfType<IAssemblySymbol>()
        .Select(

[2015-09-16 10:38] HaloFour commented on #996
@gafter That's fine (and understandable).  I was more interested in the expected release cadence than specific features.

[2015-09-16 11:41] Inspyro opened #5269 "Roslyn Vs2015 Analyzer bug (ErrorType for transitive References)"
Hi,
I wrote a roslyn analyzer that outputs the Attribute hierarchy on a class (flattened), however I encountered a **bug** with transitive references. Even though **the project compiles**, the **analyzer fails** to analyze external attributes (they are error types in the semantic model).

I have uploaded a **repro-sample** that lets you reproduce the bug easily.

- The types to analze are split in

[2015-09-16 12:30] anjdreas opened #5270 "[Proposal] Private inheritance"
## Problem

It is tedious to wrap a 3rd party type with the intent to expose only a subset of its public members, by implementing and forwarding property/method calls.

Motivation:
- Simplify the API and make the intent of how to use the type more obvious
- Prevent bugs by hiding members that can only be called in certain contexts, such as lazy relational properties in an ORM session
- Easier to w

[2015-09-16 12:47] svick commented on #5267
Would that make sense as a general analyzer?

[2015-09-16 13:08] MgSam commented on #996
Really excited to hear you guys are considering a yearly release cadence. 3+ years between C# releases is way too long.

[2015-09-16 14:20] HaloFour commented on #5270
What would happen to the members that the type doesn't "opt-in" to?  What if you downcast to the parent type or interface and attempt to call those members?

The type is a contract (particularly in the case of interfaces) and I would argue that you shouldn't be able to not implement the required members.  Even if you could hide those members they should still be required to exist.

Wouldn't your u

[2015-09-16 14:24] HaloFour commented on #5270
As for "hiding" members, that is already supported through explicit interface implementation in C#.  The CLR also supports a form of "explicit" overriding of virtual members where the name and accessibility of the member can be different, but C# doesn't expose this functionality.  In both cases the type can be upcast and those members visible.

[2015-09-16 14:31] tvsonar opened #5271 "SyntaxFactory.AreEquivalent reports equivalence on differently formatted interpolated strings"
`SyntaxFactory.AreEquivalent` returns `true` when the following two nodes are passed to it:
`$"{Value:0.0}"` and `$"{Value:0.00}"`

[2015-09-16 14:40] vladd commented on #5270
Is there a good use case for this? I think composition (with a kind of yet unimplemented traits = "let inner object implement outer interface") and extension methods cover most (all?) of the use cases.

[2015-09-16 14:44] #5099 closed

[2015-09-16 14:45] orthoxerox commented on #5270
Your proposal looks like syntactic sugar for composition, not inheritance, am I right? You want to reuse the implementation, but not the interface, plus you don't need subtyping.

[2015-09-16 15:32] AdamSpeight2008 commented on #5271
Wouldn't it require knowledge of the value (of `value`) at compile-time?
The compiler would also need to the meaning of every possible `formatstring` for every possible type.

[2015-09-16 15:43] shortspider commented on #4613
@CyrusNajmabadi I have created a [test project](https://github.com/shortspider/TestRefactor).

If you debug this extension in Visual Studio you will be prompted to open another project. Open the TestRefactor project again and go to the TestClass.cs file. This class is used in AnotherClass.cs. If you click on the class deceleration syntax and initiate a refactor my code will attempt to open Another

[2015-09-16 16:19] AArnott opened #5273 "Line numbers in csc-generated PDB are incorrect for release builds"
It seems the PDB's line numbers for Release builds is wrong when Debug is correct.

Setup steps:

    git clone https://mseng.visualstudio.com/DefaultCollection/VSIDEProj/_git/VSIDEProj.slnx slnx
    cd slnx
    git checkout bugrepro/
    nuget restore src    // requires nuget v3

Repro steps:

1. Open Microsoft.visualstudio.slnx.sln
1. Build solution
1. In test explorer, filter to this test: `Ope

[2015-09-16 16:21] AArnott commented on #5273
I tried to make this a simple repro case by isolating the one test, and replacing all the statements with NoOp() method calls but leaving the `awaits` where they were. But that was apparently enough to break the repro. So since I don't know what is significant to the compiler in influencing line numbers, here's the full bona fide repro.

[2015-09-16 16:35] paulomorgado commented on #5154
Since enums and initializers (object, collections, dictionaries) have comma separation, for consistency, match should also have them.

[2015-09-16 16:53] CyrusNajmabadi opened #5274 "GenerateConstructor producing incorrect constructor."
I've got the following code:

[code]
I go to "new Rewriter" and ask to "Generate Constructor".  It produces the following:

[code]

This is not the constructor i want.  Note the lack of SemanticModel or IParameter.  Repeating "Generate Constructor" just keeps producing the same wrong constructor.

[2015-09-16 16:55] CyrusNajmabadi opened #5275 "Generate-Member items are inconsistent"
![image](https://cloud.githubusercontent.com/assets/4564579/9911845/f95cd10a-5c58-11e5-931d-d7296d404d1d.png)

Why:
1. generate field '_parameter' in 'Rewriter'
2. generate read-only field 'Rewriter._parameter'

?

I'm not sure why the type needs to be specified in the first place.  But, if it does, then we should at least be consistent with the phrasing of both of these.

[2015-09-16 16:57] CyrusNajmabadi opened #5276 "Generate member should try to preserve parameter order when generating fields if possible."
If i have:

[code]

And i generate a field for _parameter, it is placed first.  This is because the code fix is trying to preserve alphabetical fields.  However, we should prioritize maintaining parameter ordering if possible.  So that the order of your fields matches the order of your constructor parameters by default.

[2015-09-16 17:03] tmat opened #5277 "csi/vbi: Revisit and test /u, /rp command line arguments"

[2015-09-16 17:03] sharwell commented on #5271
@AdamSpeight2008 I think what @tvsonar is saying is that the two nodes *currently* return true, but they shouldn't for the reason you stated. Without knowing the type of `Value` along with the semantics of the format strings for that type, there is no way we could know that two different format strings produce equivalent output in all scenarios (locales, etc.).

[2015-09-16 17:06] sharwell commented on #5257
:question: What command(s) are expected to be associated with these bindings?

[2015-09-16 17:14] AdamSpeight2008 commented on #5271
@sharwell @tvsonar It could be that they are considered equivalent on a syntax node structure level? eg The actuals values don't matter, just so long as they're have the same structure.

[2015-09-16 17:23] AdamSpeight2008 commented on #5154
@paulomorgado but the `case`s in `switch` are delineated by a `case` at the start and a semicolon at the end of each switch-case. If we're going to be pedantic about what is allowed aand isn't allowed in a expression, then function calls shouldn't be allowed either. (Since they use `return` statement).

We shouldn't care as long as the match expression's "winning" returns something that can be use

[2015-09-16 17:27] AdamSpeight2008 commented on #3612
@gafter The computer is was using dead. *(I accidently damaged the cpu and motherboard)*. I don't have the resources yet to replace it or them yet. The netbook I'm using for replies is just about powerful enough to run a web browser alongside notepad or Linqpad.

[2015-09-16 17:32] SolalPirelli commented on #5154
There's no exception for `throw`, as part of a separate proposal (#5143) the `throw` statement becomes an expression that can also be used as a statement.

[2015-09-16 17:33] AdamSpeight2008 commented on #5270
Would it also work for sealed types and structures?

[2015-09-16 17:35] amcasey commented on #5257
Search history items that share a prefix with the current input.

[2015-09-16 17:41] jmarolf commented on #3612
@Pvlerick cibuild is failing due to fakesign issue
[code]
If you run that command from the commandline what is the output?

[2015-09-16 17:42] AdamSpeight2008 commented on #5154
@SolalPirelli  what if the user want do other stuff, before "returning" a value?

**Contrived Example**
[code]

[2015-09-16 17:46] amcasey commented on #5224
As with #5141, the root cause is internal bug 144964.

[2015-09-16 17:47] cston opened #5279 "CSharpScript.RunAsync().ReturnValue should be null if the script ends with a statement"
The value of ```CSharpScript.RunAsync("int F() { return 1; } F();").ReturnValue``` should be null rather than 1.

[2015-09-16 17:47] AdamSpeight2008 commented on #3612
Would Anti-Virus software cause this?

[2015-09-16 17:54] amcasey opened #5281 "Remove the workaround for internal bug 144964"
...in ```Microsoft.CodeAnalysis.Editor.Shared.Extensions.IBufferGraphExtensions.MapUpOrDownToBuffer```.

[2015-09-16 17:54] HaloFour commented on #5154
Per comments in #5016 it's not likely that multiple-statement expressions (like lambda bodies) would be permitted in match expressions.  You'd be limited to a single value-producing expression.  If you wanted to do other stuff you'd have to call a function.

[2015-09-16 18:00] Pvlerick commented on #3612
@jmarolf I get the following

[code]

[2015-09-16 18:04] amcasey commented on #5281
Also in ```Microsoft.VisualStudio.InteractiveWindow.InteractiveSmartIndenter```.

[2015-09-16 18:06] AdamSpeight2008 commented on #5154
It could be permitted. Whilst riffing a possible approach for vb.net (#5054)  I am beginning to think that `myvariable = Match Function ( args As ...) As ...`. As it would be good approach to take as it make it clear the that scoping while change when inside of it. It very similar to exist constructs and patterns lambda functions and function methods.
The vb.net compiler should treat it as if I'm

[2015-09-16 18:07] HaloFour commented on #5154
It did, which is why I included it as a part of my grammar in #5054.  @gafter disagreed.

[2015-09-16 18:09] AdamSpeight2008 commented on #5154
@HaloFour

[2015-09-16 18:15] AdamSpeight2008 commented on #5054
It would allow `pattern-matching` `select function` to be used inside `Select Case` (switch in c#). Or vis-versa.

[code]

[2015-09-16 18:15] AdamSpeight2008 commented on #5154
@HaloFour It would allow `pattern-matching` `select function` to be used inside `Select Case` (switch in c#). Or vis-versa.

[code]

[2015-09-16 18:48] KevinH-MS opened #5283 "OptimizationDataFiles should be published/consumed as a nuget"
Currently, we check our `.pgo` files in for consumption in "official" builds.  The OptProf scripts need to be updated to publish a nuget instead, and the build should consume the nuget instead of the checked in files.

from https://github.com/dotnet/roslyn/blob/master/build/Targets/VSL.Imports.targets:

[code]

[2015-09-16 19:37] gafter commented on #4578
Our conclusion is that we want to report a diagnostic (not sure warning or error) when this feature is used along with `/feature:deterministic`.

[2015-09-16 19:40] PFCKrutonium commented on #4395
Excellent, now how do I update my local version of VS? Should I just wait for MS to release an update?

[2015-09-16 20:00] svick commented on #5270
I think this would be of pretty limited use. Wrapping is common, but when you do that, you usually expose the functionality in a different way, you don't just hide some members.

Because of that, I don't think this is worth having special syntax.

[2015-09-16 20:01] tmat opened #5285 "Add portable-pdb UI to Visual Studio"
UI:

![image](https://cloud.githubusercontent.com/assets/41759/9916847/61493b7c-5c73-11e5-98e0-a4f427533225.png)

[2015-09-16 20:02] tmat commented on #5285
@jaredpar

[2015-09-16 20:05] tmat commented on #5285
We should also remove "pdb-only" from the UI as there is no difference between it and "full". Renaming "full" to "non-portable" (or some better word) would be good.

[2015-09-16 20:22] heejaechang commented on #5039
give the bug to IDE team. it looks like it is a bug in project system (msbuild) where it resolves @(Analyzer) variable in the target file to some set of analyzers when project.json doesn't actually have those information for the project.

[2015-09-16 20:32] jaredpar commented on #4021
This issue also affects the ability to reference DLLs that have a comma in the path name (even more fun is spaces and commas).  Have a fix partially done for this.

[2015-09-16 21:17] rhysgodfrey commented on #4196
@jaredpar cool, will keep an eye out for the next release.

Thanks for your help!

[2015-09-16 21:24] AlekseyTs commented on #4576
The stack overflow is happening in Microsoft.CodeAnalysis.VisualBasic.VisualBasicSyntaxWalker and is caused by a deep recursion on the left side of a BinaryExpressionSyntax (happens with long sequence of string concatenations, for example). Microsoft.CodeAnalysis.VisualBasic.VisualBasicSyntaxRewriter and Microsoft.CodeAnalysis.VisualBasic.Syntax.InternalSyntax.VisualBasicSyntaxRewriter plus three

[2015-09-16 21:26] #5244 closed

[2015-09-16 21:26] jmarolf commented on #4395
Unfortunately there is no way for you to deploy an updated version to VS today.  We hope to have this working soon.  In the meantime, you will need to wait for the next VS update :(

[2015-09-16 21:27] AlekseyTs commented on #4576
Due to the cost and the risk associated with the fix, I think this issue doesn’t belong in 1.1 milestone.

[2015-09-16 21:27] KevinH-MS commented on #5244
@amcasey, would you mind verifying?

[2015-09-16 21:28] PFCKrutonium commented on #4395
Will do, thanks!

[2015-09-16 21:30] tmat opened #5288 "csi/vbi: Consider not requiring -- to separate script arguments when executing script"

[2015-09-16 21:31] KevinH-MS commented on #5185
I didn't fix it...I just opened a bug.  This is a dupe of #3712.

[2015-09-16 21:31] #5185 closed

[2015-09-16 21:32] erik-kallen commented on #5187
@paulomorgado Thanks for your snarky comment, of course I haven't worked with async/await for that long (and I never said I have), but back in the day I did use the old APM (BeginXX / EndXX), which does achieve the same goal (very interesting problem in WebForms), reasonably often to solve the problem of performing multiple calls in parallell. Needing to wait for just the first of many calls to co

[2015-09-16 21:33] heejaechang commented on #4919
right now there is nothing that can be used to distinguish code actions except type name. unless we want to add a public field for it, not sure what we can do.

[2015-09-16 21:42] heejaechang commented on #4919
we need design change. there is no info we can use right now. moving it out of update 1

[2015-09-16 21:44] heejaechang commented on #4568
this is done.

[2015-09-16 21:45] heejaechang commented on #4568
#5210

[2015-09-16 21:45] #4568 closed

[2015-09-16 21:49] AlekseyTs commented on #5040
When I compile the code above with ```Option Strict On```, I get the following error:
[code]
The error is correct, result type of ```x?.Endata``` is ```ENdataType?```, which cannot be implicitly converted to ```ENdataType``` when ```Option Strict On```.

Behavior of CType is correct as well because ```x.Endata``` is never assigned an explicit value, so it stays equal to 0.

I am not sure there is

[2015-09-16 21:49] #5040 closed

[2015-09-16 21:54] heejaechang commented on #4919
one idea from @mavasani

we can log fixer's type name + equivalence key (if there is one)

this actually change semantic of what we log - basically rather than which code action, it will log which fixer has invoked. also, if equivalence key is different for same code action based on which context, then what we log is not which codeaction but codeaction + context.

so, this does change semantic sli

[2015-09-16 21:56] rchande opened #5289 "Audit editor unit tests for unclosed views"
Find refs on TextViewFactory.CreateView is probably a good place to start.

[2015-09-16 22:28] AlekseyTs commented on #72
@davidfowl, @jaredpar It feels like this already can be achieved with:
[code]

[2015-09-16 22:28] jaredpar commented on #72
@AlekseyTs the concern with that is the cost of descending the tree for values which are already present on the SyntaxTree value.

[2015-09-16 22:34] AlekseyTs commented on #72
@jaredpar I am not sure I am following. Let's talk offline.

[2015-09-16 23:03] rchande opened #5291 ""CSharp.UseAutoProperty.UseAutoPropertyAnalyer" exceptions"
These appeared in my error list so I don't have a dump:
[code]
[code]

[2015-09-16 23:14] mattwar opened #5292 "[Proposal] add supersede modifier to enable more tool generated code scenarios."
Some C# language features exist primarily for tooling scenarios. Designers, build time tools and other code generators produce source code that compiles together with and augments user written code.  Partial classes and partial method are two of these.

With partial classes, a tool can generate source files that make additional declarations for a class, adding members, interfaces and attributes on

[2015-09-16 23:18] rchande commented on #5291
I have ~3700 of these in my error list for Roslyn.sln.

[2015-09-16 23:29] amcasey commented on #5141
Should not repro, as of https://github.com/dotnet/roslyn/commit/6e515e6ee4a74ba398a7311c58b08e99d7a41b8d.

[2015-09-16 23:29] #5141 closed

[2015-09-16 23:29] amcasey commented on #5224
Should not repro, as of https://github.com/dotnet/roslyn/commit/6e515e6ee4a74ba398a7311c58b08e99d7a41b8d.

[2015-09-16 23:29] #5224 closed

[2015-09-16 23:31] amcasey opened #5295 "Improve history icons"
We have them, but they're not yet available in VS.

[2015-09-16 23:34] AlekseyTs commented on #2189
Given the following code:
[code]

VS2013 reports:
[code]

VS2015 reports:
[code]

VS2013 didn't support method parameter lists at all, so VS2015 behavior looks like an improvement to me. The only warnings reported by VS2015 (they are also reported by VS2013) that might look confusing are:
[code]

When a parameter list is specified, the names in the (Of …) part are actually treated as new type para

[2015-09-16 23:50] heejaechang commented on #5001
due of this bug #4179

Workspace seems not setting compilation version number correctly

[2015-09-16 23:50] #5001 closed

[2015-09-16 23:56] tmat commented on #5214
@kuhlenh Does https://github.com/dotnet/roslyn/issues/5214 resolve this issue, or is there some more  work (other than what's captured in other issues)?

[2015-09-17 00:02] tmat commented on #5164
@gsferreira  It's kind of odd that "X" and "Y" are exposed as script variables. They are not script variables, they are properties on host object (globals). Script variable is a variable defined by the script itself. If we assume this definition the bug would be that "X" and "Y" are included.

I'd prefer such change since the host has direct (compile-time) access to X and Y, so there is no need to

[2015-09-17 00:04] TyOverby opened #5296 "nuget restore failure"
When running step 3 in the [`building, testing, and debugging`](https://github.com/dotnet/roslyn/wiki/Building%20Testing%20and%20Debugging) wiki page, I get dozens of errors spewed to the console that are all roughly the same.

Here is an example:

[code]

[2015-09-17 00:07] #1425 closed

[2015-09-17 00:12] cston opened #5297 "Misleading "unreachable code" warning reported for script submission "return;""
Use ```var c = CSharpCompilation.CreateSubmission(...);``` to create a compilation for ```return;```. ```c.GetDiagnostics()``` includes ```(1,1): warning CS0162: Unreachable code detected```.

[2015-09-17 00:13] tmat commented on #2449
The POR is to add /debug:portable to csc.rsp on Linux/Mac.

Adding /debug:portable command line switch is tracked by https://github.com/dotnet/roslyn/issues/5285

[2015-09-17 00:13] #2449 closed

[2015-09-17 00:31] heejaechang commented on #4179
I looked a bit. it looks like those (target framework mismatch) reference dlls are not given to main compilation in command line build, but those are given for (p2p reference) IDE.

the reason errors from build don't show up in error list is that, the errors reported are something live diagnostic can produce so we ignore those errors from build for opened files assuming it must be already reported

[2015-09-17 00:46] agocke commented on #5267
@svick Almost definitely. @stephentoub I presume your change to the Linux implementation to be more aggressive in fetching data means this is something people miss fairly often?

[2015-09-17 00:52] gafter commented on #5292
[AOP](https://en.wikipedia.org/wiki/Aspect-oriented_programming) [FTW](http://www.urbandictionary.com/define.php?term=FTW)!

[2015-09-17 00:55] gafter commented on #5296
Did you install VS's Windows 10 tools?

[2015-09-17 01:00] heejaechang commented on #3182
https://github.com/dotnet/roslyn-internal/pull/173

[2015-09-17 01:00] #3182 closed

[2015-09-17 01:06] heejaechang commented on #4567
basically to fix this properly, we need this
https://github.com/dotnet/roslyn/issues/1400

otherwise, when we do de-duplication, we don't know what diagnostic we can remove and what we need to keep.

[2015-09-17 01:10] heejaechang commented on #4035
@ljw1004 @gafter what is happening here (for error list case) is that, IDE think live analysis (compiler errors) can produce BC31091 and BC35000 so it throws away those errors reported from build (actually only for opened file, but that is just our tweak for user experience).

so that is why they are missing from error list. if these errors will be never reported from live analysis from compiler,

[2015-09-17 01:16] heejaechang commented on #4035
by the way, if you change "Build+Intellisense" to "Build Only", you will see all errors reported from build (output window) as they are.

"Build Only" option is added specifically for people who don't like our de-duplication (or issues our de-duplication logic has)

[2015-09-17 01:16] tmat opened #5300 "VB interactive: Enable test CompilationAPITests.ReferenceManagerReuse_WithSyntaxTrees"

[2015-09-17 01:19] tmat opened #5301 "Submission references should be inherited from previous submissions"

[2015-09-17 01:55] stephentoub commented on #5267
It's primarily because it's a semi-observable behavioral difference from Windows, and we're trying to minimize such differences as much as possible; if the Windows implementation of FileStream wasn't already doing this, I wouldn't have done it for Unix.  I've not heard of this biting people often, though that doesn't mean it doesn't happen... obviously :smile:

[2015-09-17 02:08] TyOverby commented on #5296
Yep

[2015-09-17 03:24] codespare commented on #5234
I can't help but feel the points raised about supersedes sound strikingly similar to a discussion around macro support.
Also, F# type providers and Scala staged types are interesting developments in the area, not unlike LINQ quoted expressions support in C#, but specifically targeting code generation (see Functional pearl: a SQL to C compiler in 500 lines of code at http://icfpconference.org/icfp2

[2015-09-17 04:08] aluanhaddad commented on #2212
I would love to see this addition if some future version of the framework enables it.

[2015-09-17 04:37] agocke commented on #5267
@stephentoub Fair enough.

@svick In fact, I think an even more general analyzer that makes sure people don't implicitly discard return values would probably be a good one.

[2015-09-17 05:10] balajikris commented on #5291
The first stack, NRE at GetGetterExpression looks like what @brettfo fixed a couple days ago.

[2015-09-17 05:45] brettfo commented on #5291
Yes, this has been fixed. I removed the call to `SingleOrDefault()` in PR #5218.

[2015-09-17 06:37] tvsonar commented on #5271
@sharwell Exactly.
@AdamSpeight2008 I don't think these should be considered equivalent on syntax level. Syntactically the two expressions are different, because their interpolation format clauses are different. So in my opinion the `SyntaxFactory.AreEquivalent` should return `false`.

[2015-09-17 07:02] tmat commented on #5267
You'd get a lot of false positives if you reported every ignored return value. Many APIs are designed that way. For example, https://msdn.microsoft.com/en-us/library/b4sc8ca8(v=vs.110).aspx

[2015-09-17 08:23] kekyo opened #5306 "Improvement dynamic: Compile-time interface check"
- Sorry poor english...
- Introducing the interface restrictions into dynamic type designated as a method argument is proposed.
- For example:

[code]
- Pros:
  - Type-safe check on compile time.
  - IL code generator no change.
  - Metadata maybe change?
- Cons:
  - Example is binding single interface type. If more improvement, use where clause?
  - No efficient IL code. Interface type metadata i

[2015-09-17 09:21] mavasani commented on #5217
New overload for Diagnostic.Create was approved by the design team and has been checked in.

[2015-09-17 09:21] #5217 closed

[2015-09-17 09:34] mavasani commented on #1506
A side effect of this non-determinism is that the SARIF error log file generated with /errorlog switch (containing all diagnostics in JSON format) may have diagnostics logged in different order for the same command line across builds.

@michaelcfanning @lgolding @morrisjoe is this important enough scenario to fix for 1.1 milestone?

[2015-09-17 10:00] heejaechang commented on #4567
I am closing this bug dup to #1400

[2015-09-17 10:00] #4567 closed

[2015-09-17 10:09] heejaechang commented on #4523
this is a dup to #1400

[2015-09-17 11:06] xanather opened #5308 "Add .NET Core support to Microsoft.CodeAnalysis.Scripting"
Is it possible to allow Microsoft.CodeAnalysis.Scripting to be used when using dnx? Nightly builds currently don't support it.

[2015-09-17 12:14] svick commented on #5306
This sounds like a duplicate of #3012 to me (only with different syntax).

[2015-09-17 12:39] TonyValenti commented on #5292
Great proposal!

Are there any other options for changing the way the original member is invoked?  I like the new "superseded" and I think it should feel similar to the way that "mybase" operates.  Perhaps it should be called like superseded.Member() ?  This would also allow other methods to potentially differentiate if they want the new declaration or, perhaps, want the original.

[code]

[2015-09-17 13:25] lgolding commented on #1506
From the point of view of SARIF itself, the order in which issues appear within the log file is not significant. That is, there is nothing in the SARIF spec that specifies the order, or allows consumers to draw any conclusions from the order.

[2015-09-17 15:05] paulomorgado commented on #5292
@mattwar,  besides allowing multiple supreseeded implementations of the method, what else can you do with this that you can't with the current implementation?

[2015-09-17 15:08] MgSam commented on #5292
This is interesting in the context of enabling AOP without post-compilation rewriting (a la PostSharp). However, I don't actually see any part of the proposal that specifies how you would define an aspect or apply it to code. You definitely would not, for example, want to be manually invoking some tool in Visual Studio every time you want a class to implement `INotifyPropertyChanged`.

Besides bei

[2015-09-17 15:27] HaloFour commented on #5292
Not what I envisioned for AOP at all.  I expected something more like an analyzer/code-fix where the processor would be handed the syntax tree, transform it and then return it to the compiler during the compilation process (although being able to run it separately and view the generated source representing the syntax tree would be very useful for debugging scenarios.)

I am also curious as to when

[2015-09-17 15:51] #168 closed

[2015-09-17 15:52] #5279 closed

[2015-09-17 16:16] amcasey opened #5309 "Edit.LineDelete doesn't (seem to) work in Interactive"
The command window doesn't report "unavailable", so it's probably just not doing anything.  Maybe we're missing a handler?

[2015-09-17 16:24] amcasey opened #5310 "Copy-Paste with no selection isn't working"
Put the cursor on the last occurrence of "Line" (no text selected), ctrl-c, ctrl-v.
[code]
Expected
[code]
Actual
[code]

[2015-09-17 16:43] bondsbw commented on #5306
@svick Agreed, although I think I like this syntax better.

This one treats ```dynamic``` as a modifier, while the other (```dynamic<IStrictValueModel>```) looks like a generic type but is in no way similar to how generic types behave, i.e. in #3012 the resulting type has the relationship **is-a** with the type argument but generic types primarily use the type argument as method parameters and/or

[2015-09-17 17:00] ManishJayaswal opened #5312 "Validate that telemetry is working end to end for interactive window"

[2015-09-17 17:09] gsferreira commented on #5164
I'm closing this bug because I ran the tests against the latest master branch version and the hierarchy is already being respected. I was using an outdated fork. My bad, sorry.

[2015-09-17 17:09] #5164 closed

[2015-09-17 17:28] tannergooding opened #5313 "Update our Unit Tests to allow SxS."
PR #5311 allows ServicesVisualStudio to compile once and load on different versions of Visual Studio. We need to update our Unit Tests (I believe this is only ServicesVisualStudioTest) to allow the same.

[2015-09-17 17:30] ManishJayaswal commented on #531
We want to have one dialect of C# script and should not be providing extension points to extend to Language.

[2015-09-17 17:30] #531 closed

[2015-09-17 17:52] amcasey commented on #4811
Since you can't declare namespaces in script/interactive code, only using aliases are affected.

[2015-09-17 18:00] DustinCampbell opened #5314 "Remove Unnecessary Cast: Removing boxing conversion in conditional expression breaks code"
[code]

The above program should output `System.UInt32`. If the cast to `(object)` is removed, it prints `System.UInt64`.

[2015-09-17 18:03] gafter commented on #1400
@mavasani

No. For example, the lowering phases can report errors pointing to source constructs when required runtime support methods cannot be found.

[2015-09-17 18:38] mattwar commented on #5292
@TonyValenti I considered having superseded refer to the instance (like base does), but it turns out the scenario is quite different.  With base, the whole class is overridden, so its possible to use it to reference any member in the base class.  Yet with supersede, each member is superseded individually.  The class itself is never superseded. All parts of the partials are the same class. So it on

[2015-09-17 18:39] #5216 closed

[2015-09-17 18:39] mattwar commented on #5292
@paulomorgado what are you referring to as the current implementation?  Do you mean the partial methods I used as an example, or just any/all existing language features?

[2015-09-17 18:40] mavasani commented on #5216
@lgolding do you want to verify this one?

[2015-09-17 18:41] mattwar commented on #5292
@MgSam This proposal is separate from any discussion of actual implementation of code generating tools or how they would interact with the compiler. This feature is meant strictly as a way to enable such generators should they exist with a means to add behavior to code already written without resorting to IL rewrites, etc.

[2015-09-17 18:45] mattwar commented on #5292
@HaloFour it would be important for the code generators to be able to order their generated declarations.

[2015-09-17 18:48] MgSam commented on #5292
@mattwar That makes sense, but I don't think its possible to get a complete picture on the merits of this proposal without a complimentary proposal for how you would create and manage aspects. Very similar to how primary constructors/records/tuples/pattern matching need to all be considered together and how they'll interact rather than trying to only build each piece in isolation.

[2015-09-17 18:49] cston commented on #2888
Fixes #3214

[2015-09-17 18:56] AdamSpeight2008 commented on #5314
@DustinCampbell Isn't the `var` making the type the smallest type that can fit both options, this case *uint* and *ulong* so picks *ulong* to be the dominant type.

[2015-09-17 18:57] #3214 closed

[2015-09-17 19:00] tpetrina commented on #5032
After littering my code with [NotNull] and fixing obvious nullref bugs, I am ready for shorthand syntax. Actually, no. I would *prefer* that by default references are non-nullable in my projects.

Adding ! suffix for non-nullability is a readability nightmare and using ? for nullable references is a much better choice.

[2015-09-17 19:01] AdamSpeight2008 commented on #5314
The "bug" is within the inline-if (`?:`) as the following expansion works find.
[code]

[2015-09-17 19:06] morrisjoe opened #5316 "VS2015 IDE Sluggishness: 5 to 10 seconds lag time when dealing with large volume of issues"
@morrisjoe reporting on behalf of ALM MVP Terje Sandstrom

User scenario: 80 c# projects in solution, with around 30000 warnings coming from a mix of built-in Roslyn compiler errors/warnings and 3rd party analyzers including ReSharper, CodeCracker & SonarLint. After user opened his solution (80 projects), and after a few analyzers started providing warnings in the error list, user double-clicked o

[2015-09-17 19:15] MattGertz commented on #5316
@pharring Paul, can you keep an eye/follow up on this -- we'll want to make progress on this one pretty quickly.  Please connect with David Pugh who is investigating.

[2015-09-17 19:34] mattwar commented on #5292
@MgSam I agree, it would be better to consider it with a full code generation proposal.  Maybe I should write one.

[2015-09-17 19:35] DustinCampbell commented on #5314
@AdamSpeight2008: Thanks for posting. I *do* understand the bug and the correct fix, which is in the remove unnecessary cast code that handles conditional expressions.

[2015-09-17 19:40] RichiCoder1 commented on #531
@ManishJayaswal @tmat Is the `#load` extensibility still going to present?

[2015-09-17 19:44] AdamSpeight2008 commented on #5314
Sorry @DustinCampbell it reads like that, just wasn't clear that the "bug" is in the **Redundant Cast Analyser**

[2015-09-17 20:21] ManishJayaswal commented on #531
@RichiCoder1 we do expect to have an implementation of #load which will let you load other scripts.

[2015-09-17 20:29] Pilchie commented on #5039
In project.json, references are applied transitively through P2P references.  Analyzers follow the same pattern, since we expect a lot of analyzers to apply to the uses of the libraries that are in the same package, so this is actually our design right now.

[2015-09-17 20:29] Pilchie commented on #5039
Tagging @jmarolf too.

[2015-09-17 20:53] tmat commented on #531
@RichiCoder1 Yes, the language doesn't specify the meaning of the #load argument. It's up to the host to interpret it. We'll provide guidelines for the hosts and default implementation, so that it's easy to write host-agnostic scripts.

[2015-09-17 21:25] RichiCoder1 commented on #531
Awesome! Can't wait to see it :)

[2015-09-17 22:06] AlekseyTs commented on #4805
This looks like the same issue as #4197, which has been addressed already.

[2015-09-17 22:06] #4805 closed

[2015-09-17 22:07] AlekseyTs commented on #4805
@VSadov Please verify.

[2015-09-17 22:29] bbarry commented on #5292
I'm not opposed to the keyword pairs `supercede` / `superseded` but are others being evaluated?

Perhaps `aspect` / `inner` or `outer` / `inner`?

As to ordering, assuming the generation tools could provide a sequence to filenames lexical order seems good enough. The built in AOP tools could process a file like this:

* MyClass.cs
* MyClass.g.01.cs
* MyClass.g.02.cs

Community tools for other proc

[2015-09-17 22:36] heejaechang opened #5320 "build error doesn't squiggle when a file is opened."
it looks like a regression after tagger re-write.

in C# file, create an unused field and build so that we have unused field build warning.

make sure the file that contains the warning is closed. and then open the file. it doesn't squiggle build errors.

this used to work, it looks like it is no longer working.

[2015-09-17 22:39] AlekseyTs commented on #4448
Using code from @gafter 's comment above, I do not see any difference with respect to presence of beforefieldinit flag in resulting metadata between Roslyn and previous version of the compiler. Runtime behavior, however, is slightly different unless /optimize+ is used with Roslyn compiler. It looks like /optimize- (which is the default) in Roslyn affects binary in some other way, which allows CLR

[2015-09-17 23:34] pharring commented on #5316
See #5203
There are also two similar allocation issues on the IDE side.

[2015-09-17 23:44] AlekseyTs commented on #4448
I confirmed that the difference in behavior is due to the presence of
[code]

in the binary produced by Roslyn compiler with /optimize-.

Previous version of the compiler emits it only when /debug+ is specified, the binary has the same runtime behavior then.

I believe that the change in when the attribute is emitted and with what values is an intentional change ( @tmat please confirm ), therefore

[2015-09-17 23:45] AlekseyTs commented on #4448
Moving this issue out of Milestone 1.1 since there is no bug to fix.

[2015-09-18 00:03] ManishJayaswal opened #5321 "#help does not work in csi"

[2015-09-18 00:03] amcasey commented on #5257
It turns out that Remote Desktop eats that key combination.

[2015-09-18 00:03] #5257 closed

[2015-09-18 00:07] #4970 closed

[2015-09-18 00:08] AlekseyTs commented on #4970
@VSadov Please verify.

[2015-09-18 01:03] tmat commented on #531
The extension point is actually already there ;)

http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/CompilationOptions.cs,3c3038cbfa59e230,references

[2015-09-18 01:04] tmat commented on #531
And in ScriptOptions when using Scripting APIs:
http://source.roslyn.io/#Microsoft.CodeAnalysis.Scripting/ScriptOptions.cs,b3eba6cc62935754,references

[2015-09-18 01:11] tmat commented on #4448
@AlekseyTs Yes, the debuggable attribute change was intentional.

[2015-09-18 01:22] tmat commented on #4448
In VS the default configurations translate to command line options as follows:

Release
  ```/optimize+ /debug:pdbonly```
Debug
  ```/optimize- /debug:full```

The code above behaves the same between native compiler and Roslyn.

[2015-09-18 01:35] VSadov opened #5323 ""using" with dynamic crashes the compiler if there is a yield inside it"
[code]

 error MSB6006: "csc.exe" exited with code 255.

[2015-09-18 01:45] HaloFour commented on #5292
@bbarry

Perhaps `intercept` and `intercepted`?

The file name issue would fall under the lexical ordering as stated above.  To my knowledge the C# compiler doesn't currently care what order those files are provided, and the file name itself is irrelevant.  Going by the order in which the files are passed to the compiler could at least be deterministic.  Basing the order by file name, particularly

[2015-09-18 03:40] RichiCoder1 commented on #531
Good to know.

[2015-09-18 05:20] roterdam opened #5324 "how to emit only metadata?"
Is it possible to emit only metadata? Will it be cheaper if somehow possible? In a scenario I have I only care about metadata and not really the code.

Is it even possible? By that I mean is type-checking the only pre requisite for metadata?

[2015-09-18 05:55] agocke commented on #5052
Fixed by #5265

[2015-09-18 05:55] #5052 closed

[2015-09-18 06:17] #4523 closed

[2015-09-18 06:29] TyOverby commented on #5296
Update:

I seem to have installed the VS Windows 10 tools (when I run the installer again, it says that it is already installed), but visual studio says differently.

When I tried to make a "windows universal" app, it said that I was missing an SDK.  I was linked to [http://go.microsoft.com/fwlink/?prd=12514&pver=14.0&sbp=PlatformSDKMissing&plcid=0x409&o1=UAP,%20Version=10.0.0.0](http://go.microso

[2015-09-18 06:35] #4035 closed

[2015-09-18 07:10] KevinH-MS opened #5325 "Support editing/building/debugging .csx/.vbx files in VS as part of a miscellaneous files Workspace"
You should be able to open a collection of .csx or .vbx files in VS, edit them (full language service support), build them into an executable and debug.

Also, you should be able to reset/execute/copy to Interactive (as detailed in #4688).

[2015-09-18 07:19] KevinH-MS commented on #4360
Logged #5325 to track re-enabling this scenario with "miscellaneous files" Workspace.

[2015-09-18 07:23] heejaechang commented on #3676
another dup of this - https://github.com/dotnet/roslyn/issues/1400

[2015-09-18 08:44] heejaechang commented on #4462
@mavasani I can't repro this. can you show me this tomorrow?

[2015-09-18 08:51] heejaechang commented on #4348
@dpoeschl I couldn't find the internal issue from bung, where should I look?

[2015-09-18 08:55] heejaechang commented on #4348
@CyrusNajmabadi I think it is analyzing typescript. does type script guarantee Solution snapshot model when doing this.
service.GetTodoCommentsAsync(document, _todoCommentTokens.GetTokens(_workspace), cancellationToken)

or does it return correct text span for comment it found?

[2015-09-18 08:59] #3676 closed

[2015-09-18 10:04] tpetrina commented on #5292
Can we rather use typesafe macro expansions? The proposed syntax looks rather...unwieldy.

[2015-09-18 11:29] weltkante commented on #5296
Had the same problem, could not create/open universal application projects even though the SDK was installed.

A few days ago a Windows 10 Tools update (10.0.10240) came to my VS notification center and I updated that. I also installed the emulators (even though I only develop for desktop).

One of these two have fixed it, I now can open universal projects. So you may try installing the emulators

[2015-09-18 12:10] bkoelman commented on #5324
I believe you can.

See [this file](https://github.com/bkoelman/ResharperCodeContractNullabilityFxCop/blob/master/src/FxCopUnitTestRunner/AssemblyUnderTest.cs) for an example; just pass in `" "` (string with a single space) as source code, and it creates an assembly on disk for you.

[2015-09-18 13:03] DustinCampbell commented on #5314
Fixed with PR #5319

[2015-09-18 13:03] #5314 closed

[2015-09-18 13:21] interdrift opened #5330 "Type.Namespace allows double tab completion"
Consider this :

`var type = Type.GetType(item.Identifier.ToString());`
 `var assemblyReference = type.Namespace;`

When you double tab while over Namespace  the following is created
` var assemblyReference = type.namespace MyNamespace {} `

Is this behavior expected?

Here's something else too :

![wierd](https://cloud.githubusercontent.com/assets/5409106/9960165/a995ae4c-5e21-11e5-8006-26d160a09

[2015-09-18 13:44] #5330 closed

[2015-09-18 13:44] interdrift commented on #5330
WIll move this to VS2015 feedback.

[2015-09-18 16:08] paulomorgado commented on #5292
@mattwar,

current == C#6

Other than allowing havoc with multiple generators running over each other on a not yet defined or possibly never deterministic way, what can you do given this proposal is implemented that you can't now (C#6)?

[2015-09-18 16:18] MrJul commented on #5324
I think you're looking for #2184, yet to be implemented.

[2015-09-18 17:13] dpoeschl commented on #4348
@heejaechang Their new bug numbers are 94620 and 112211, but a search for the old numbers should also still work.

[2015-09-18 17:20] #4150 closed

[2015-09-18 17:39] dpoeschl opened #5333 "Lightbulb Diff Preview doesn't ensure alignment of diff segments"
When producing a diff, we find all of the diff segments and insert "..." between them, but we do not then ensure the resulting diff view treats those "..."s as alignment points in their diff algorithm. So, the "..."s themselves can be reinterpreted as added/removed/edited, when they only exist to split the diff up into regions.

![image](https://cloud.githubusercontent.com/assets/4213867/9966886/2

[2015-09-18 17:45] AArnott commented on #5039
@Pilchie Is this only transitive across *P2P* refs, or does it also apply across nuget package references? I certainly should be able to use StyleCop.Analyzers on one project without forcing all my consumers to also use it.

[2015-09-18 17:48] DustinCampbell opened #5335 "Use Auto Property doesn't format getter properly"
[code]

Apply "Use auto property":

[code]

[2015-09-18 17:49] mattwar commented on #5292
@paulomorgado It is not what you can do with it that you could not do before, it is what tool generated code can do for you that it could not do before without post build rewriting.  For example, a tool can generate all the boilderplate code you need to implement INotifyPropertyChanged for classes you declare using normal C# syntax. You and the tool get to collaborate on the content of classes and

[2015-09-18 17:57] miloush opened #5336 "No snippets for autocomplete, only as and is operators"
The autocomplete offers only **as** and **is** operators after values.

[code]

Not only this forces the developer to stop, delete what was wrongly autocompleted, go back and fix a missing semicolon to be able to continue whatever they were doing, but snippets are not offered in the autocomplete list even if applicable.

[2015-09-18 17:59] dpoeschl commented on #5333
(Saw this case while debugging #4251 with @balajikris)

[2015-09-18 18:00] balajikris commented on #4251
The editor team has fixed IBufferGraph.MapDownToInsertionPoint to handle literal buffers better. So, we may not need to fix it on our end. Have to test using latest editor bits with the change to confirm.

[2015-09-18 18:05] default0 commented on #5270
I often find myself writing code like this:
[code]

Notice a pattern with the methods? Looks pretty wet.
The specific case is: I want to reuse functionality, but I want to define my own interface over it.
Expression-bodied methods help to some extent, but as far as I know, they could only be used for the last two methods, because they require that the method return a value (I do not have VS2015 ha

[2015-09-18 18:11] dpoeschl commented on #5336
Visual Studio 2013 offered all sorts of stuff in this particular context, including types/namespaces/members/snippets. I'd guess that reducing this set down in Visual Studio 2015 was a good move overall, since most typing in that location would be to actually continue the expression.

I'm mostly for keeping the list uncluttered in this case, which helps the user type correct code (is/as, if that's

[2015-09-18 18:17] Pilchie commented on #5039
Interesting.  Yes, it's currently across nuget package references too.  @yishaigalatzer @davidfowl This looks like a case where we need dev dependencies in project.json :-/

[2015-09-18 18:28] sharwell commented on #5336
This scenario is particularly interesting because assuming the user forgot an intended semicolon, code snippets are the most likely reason the user would hit <kbd>Tab</kbd>, and this is the only keystroke which causes `for` to be replaced with a value from the completion list.

Perhaps this is a compelling reason to continue to show code snippets in the completion list.

[2015-09-18 18:31] sharwell commented on #5039
Yikes.

[2015-09-18 18:49] balajikris commented on #5335
In this case, should it produce accessors in a single line if "C# -> Formatting -> Wrapping -> Leave block on single line" is checked (which is the default option anyway).  Just a clarification on the expected output here.

Should it look like this:
[code]

[2015-09-18 18:50] roterdam opened #5337 "disabling access modifier type checking in roslyn?"
Is it possible to disable access modifier type checking in roslyn?

Will it fail at MSIL level if roslyn just passes it through? I know it can affect semantics of programs that use reflection, but if one doesn't it shouldn't matter right?

[2015-09-18 19:10] sharwell opened #5338 "Strange 'Generate method' code fix behavior"
Observed in Visual Studio 2015 RTM.

Given the following code:

[code]

On the line containing the call to `GetOrAdd`, press <kbd>Ctrl</kbd>+<kbd>.</kbd> and invoke the Generate method code fix.
### Expected result

_Either_ of the following options:

[code]
### Actual result

[code]

[2015-09-18 19:14] breyed opened #5340 "Spaces missing in single-line dictionary initializers"
When Visual Studio auto-formats indexer-style C# dictionary initializers with multiple pairs on the same line, it fails to insert a space after the opening brace and separating commas.

For example, type:

    var a = new Dictionary<int,int>{[1]=2,[3]=4};

Auto-format the document. The result is:

    var a = new Dictionary<int, int> {[1] = 2,[3] = 4 };

The result should be:

    var a = new Dict

[2015-09-18 19:16] DustinCampbell commented on #5335
Yeah, I think so.

[2015-09-18 19:30] brettfo commented on #3203
Note: this is also being tracked internally by bug 137236.

[2015-09-18 19:31] tannergooding commented on #5313
Closing because I already resolved this with #5311

[2015-09-18 19:31] #5313 closed

[2015-09-18 19:39] anjdreas commented on #5270
I agree, I think traits would go a long way. Basically being able to send in `Person` to a method taking `IPersonInfo` interface, as long as `Person` is compatible by implementing all the members of `IPersonInfo`.

The only thing I don't see traits provide, is improving composition. @default0 [points out](https://github.com/dotnet/roslyn/issues/5270#issuecomment-141521717) an alternative syntax, t

[2015-09-18 19:52] miloush commented on #5336
Indeed this is a good indication, the problem is that in previous versions, you could finish what you have been doing and then fix the problem, while unexpectedly turning `for` into `as` is much more disruptive. It is also true that you can dismiss the list, but this particular scenario bites when you hit keys mechanically without thinking about every list shown.

Another scenario when this behavi

[2015-09-18 20:00] yishaigalatzer commented on #5039
@Pilchie this is your call here, analyzers are a top level concern rather than a reference, and you can choose which ones you want to propagate

[2015-09-18 20:47] #2470 closed

[2015-09-18 20:50] AlekseyTs commented on #1319
It looks like module names are included. I added a unit-test.

[2015-09-18 20:50] #1319 closed

[2015-09-18 20:50] AlekseyTs commented on #1319
@gafter Please verify.

[2015-09-18 21:07] AlekseyTs commented on #4953
@Illeris Please provide a complete sample code that demonstrates the issue and answer the questions above. If we don't hear from you within next several days, we will close the issue. Thanks.

[2015-09-18 21:12] AlekseyTs commented on #4876
We decided to not pursue 100% compatibility in this area in favor of correct parsing.

[2015-09-18 21:12] #4876 closed

[2015-09-18 21:31] rchande commented on #4754
Please verify, @Pilchie.

[2015-09-18 21:36] #4348 closed

[2015-09-18 21:40] sharwell commented on #5336
:thought_balloon: That's an interesting thought.

[2015-09-18 21:45] brettfo opened #5343 "The project context navigation bar doesn't cause classification to update."
**Short project setup (internal only)**:
1. Copy the `Closed\Test\Files\SharedProjectCS` directory from our internal sources to another location (e.g., Desktop.)
2. Open `TestProj.sln`.
3. Open `Class2.cs` from the shared project.

**Long project setup (manual)**:
1. Create a new Windows app.
2. Add a new WindowsPhone app to the solution.
3. Add a shared project to the solution that both Windows a

[2015-09-18 22:11] heejaechang commented on #3496
related to this issue - https://github.com/dotnet/roslyn/issues/2304

this can't be fixed until we have the ability above.

[2015-09-18 22:12] heejaechang commented on #1282
another case where https://github.com/dotnet/roslyn/issues/2304 could prevent this kind of issue from happening.

[2015-09-18 22:13] heejaechang commented on #5217
related to https://github.com/dotnet/roslyn/issues/2304

[2015-09-18 22:14] heejaechang commented on #2304
re opened since we see some issues that require this for proper fix.

[2015-09-18 22:14] heejaechang commented on #2304
but removed milestone so that it is not tied to update 1.

[2015-09-18 22:15] jmarolf commented on #5039
I think we can all agree that we don't *want* analyzers to propagate outside the project they are referenced.  Ideally we want this to work like it does in the non project.json scenarios.

[2015-09-18 22:16] heejaechang commented on #3496
moving this issue out from update 1. we need #2304 settled to fix this issue. since message format is also localizable string, just copying this from diagnostic to diagnosticdata won't fully fix the issue.

[2015-09-18 22:55] TyOverby commented on #4578
The only time we have `allowWildcard: true` is [on line 2076 of SourceAssemblySymbol.cs](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Symbols/Source/SourceAssemblySymbol.cs,2076).  Would it be sufficient to check right there and see if we are running in "deterministic mode"?

[2015-09-18 23:17] NSentinel opened #5348 ".NET compiler (csc.exe) ends compilation with code -2146232797 (COR_E_FAILFAST) in Release configuration"
.NET compiler (`csc.exe`) ends compilation with code `-2146232797` / `0x80131623` in `Release` configuration.

Compiler: Microsoft (R) Visual C# version 1.0.0.50618

Microsoft Visual Studio Enterprise 2015
Version 14.0.23107.0 D14REL
Microsoft .NET Framework
Version 4.6.00079
Windows 10 Pro v10.0.10525

`-2146232797` error code equals to `COR_E_FAILFAST` according to [this article](http://blogs.ms

[2015-09-18 23:38] amcasey opened #5349 "Distinguish linked files in quick info"
Since GTD doesn't change the navbar to show you which project the declaration is in, it would be nice if Quick Info showed some sort of disambiguating information (perhaps the project name).

[2015-09-18 23:42] amcasey commented on #5349
Relevant section of my PR: https://github.com/dotnet/roslyn/pull/5346/files#r39911256

[2015-09-18 23:43] amcasey commented on #5349
FYI @dpoeschl.  Let me know if you need more context.

[2015-09-18 23:44] paul1956 opened #5350 "Issue changes two items on the same "line" using Replace"
I am trying to move end of line comments to the previous line.

Original:
[code]
Desired
[code]
With the line below the trailing trivia gets replaced but the Leading Trivia is unchanged
[code]
When I try reversing the order of the Replace, the leading trivia is correct but the training trivia is unchanged.
[code]
I have also tried to do them sequentially but the second change is ignored with no er

[2015-09-18 23:51] tannergooding commented on #5046
@svick. This should be fixed with tonight's build (which will hopefully be on MyGet by 9:00PM tonight).

[2015-09-19 00:25] genlu commented on #4177
Should be fixed by this PR https://github.com/dotnet/roslyn/pull/5339

[2015-09-19 01:00] aluanhaddad commented on #4945
I very much like the idea of being able to write extension operators. This would be particularly useful for writing DSLs.

I think you should expand this proposal to include additional scenarios that demonstrate it's usefulness as the type casting example is not particularly strong.

I have one minor gripe with your . Specifically, I think that the ```this``` keyboard should be included and requir

[2015-09-19 03:41] ccmcgeek commented on #2936
Thanks @diryboy and @Pilchie & team!  It's very awesome to see the community approach is working for .NET!

[2015-09-19 08:26] diryboy commented on #2936
My first bug fix for Roslyn, people are nice, experience is good, yeah it's awesome!

[2015-09-19 08:51] PatriceDargenton commented on #2509
Will this issue be fixed in the next VS 2015 update ?

[2015-09-19 10:08] huan086 commented on #347
I'm wondering if there is any need to introduce the concept of tuples into the language. The operations applicable to a tuple should be applicable to all other types (named classes, anonymous classes, structs) as well.

## As a return type

    public (int sum, int count) Tally(IEnumerable<int> values)
    {
        // Reuse anonymous type syntax
        return new { Sum = values.Sum(), Count = va

[2015-09-19 11:32] mavasani opened #5354 "Pending test work items for Disconnected baselining feature work"
In priority order:

1. Modify the existing VSI ErrorList tests to verify:
  1. New Suppression State column and filter

  2. Suppressed items show up in error list

  3. New context menu items in the error list for bulk add/remove suppressions

2. Add C#/VB EditorFeatures unit tests for

  1. Suppressed diagnostics show up based on flag "includeSuppressedDiagnostics" for IDE DiagnoscticAnalyzer se

[2015-09-19 12:16] svick commented on #5046
@tannergooding Yeah, it seems to work now, thanks.

[2015-09-19 12:16] #5046 closed

[2015-09-19 12:30] mkosieradzki opened #5355 "[Proposal] Automatic Semicolon Insertion in C#"
This might be a bit controversial :). But is there any good reason why there is no ASI in C#? I am curious if rules for ECMA Script http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf chapter 11.9 could also work in C#?

From practical point of view code without semicolons in Javascript/Typescript looks leaner and it is possible to write thousands of lines of code without usi

[2015-09-19 13:06] HaloFour commented on #5355
1. There is no value in it but a ton of effort would be required.
1. The language was not designed for it thus this change would introduce ambiguities.
1. C# shouldn't borrow [bad ideas](http://archive.oreilly.com/pub/a/javascript/excerpts/javascript-good-parts/awful-parts.html) from horribly designed languages (to be fair, *very* quickly hacked together languages due to stupid management-imposed

[2015-09-19 13:27] dsaf commented on #5355
And the third time to be brought up.

How can this be a good idea:
![image](https://cloud.githubusercontent.com/assets/3845650/9976389/7045af0c-5eda-11e5-99a7-303a83c0d240.png)

[2015-09-19 16:33] mkosieradzki commented on #5355
@HaloFour Can you please link discussion from codeplex? I am unable to find it by its fragments. But it is definitely worth to be able to track previous discussion on the same issue.
@dsaf scenario you have mentioned:`return a + b` is really awful in javascript. It will not be the case in C#, because either function is void and `return a + b;` makes no sense or function is non-void and `return;` m

[2015-09-19 17:35] HaloFour commented on #5355
[Remove requirement for semicolon (;) at end of line](http://roslyn.codeplex.com/discussions/571190)
[Implicit Semicolon?](http://roslyn.codeplex.com/discussions/567407)

It's also come up a couple of times embedded in other issues/discussions.

You can't make the semicolon implicit without adding some form of significant whitespace, which will change the semantics of existing code.  The following

[2015-09-19 17:39] dsaf commented on #5355
Also search for "semicolon" in the mega-thread #2136.

[2015-09-19 17:42] HaloFour commented on #347
@huan086

The problem is that the `Tally` methods in your example need to have a type embedded in their signature that can be recognized and consumed by the CLR and other languages.  What exactly is `(int sum, int count)`?  Given that the CLR doesn't have type equivalence the compiler would have to emit some form of type to represent the tuple but that would prevent the compiler from automatically

[2015-09-19 18:39] ManishJayaswal commented on #3941
@kuhlenh @KevinH-MS  Let's not have any KB shortcuts for C# and VB interactive windows till we rationalize the shortcuts for interactive windows for all languages.

[2015-09-19 21:28] mkosieradzki commented on #5355
@HaloFour @dsaf Thanks guys for referencing those threads.

[2015-09-19 21:36] paul1956 opened #5357 "Suggestion: have option in Model.LookupSymbols to limit returns"
Right now LookupSymbols ether looks up everything associated with my Solution including all the DLL's I reference or I think I can limit it to one NameSpace. What is really needed it a way to limit it to one solution without looking at included libraries.

[2015-09-19 23:04] Pilchie commented on #2509
That's the current plan, assuming we don't run out of time.

[2015-09-19 23:15] Pilchie commented on #5039
That's not entirely true actually.  I talked in person @yishaigalatzer and @davidfowl about this on Friday afternoon.  We really want to be able to annotate dependency types in project.json: "build-only" (doesn't flow, uses compiler runtime for TFM), "desgin-time" (flows and uses compiler runtime for TFM), etc.

One thing we didn't talk about was timeline though...

[2015-09-19 23:29] rftobler commented on #4945
@aluanhaddad A few day ago I posted an example of using an extension operator for specializing generics that uses the `this` keyword: #5165. I think this example shows more of the power of operators as extension methods.

[2015-09-20 04:44] AnthonyDGreen commented on #3665
@paul1956, thanks for reporting this. I've updated the walkthrough. However, we're retiring the word docs in favor of markdown. Updated versions are available on our wiki. You can find a full listing of them [here](https://github.com/dotnet/roslyn/wiki/Samples-and-Walkthroughs). They should be fully up-to-date but feel free to file bugs if you find any issues we may have missed.

[2015-09-20 04:44] #3665 closed

[2015-09-20 04:44] AnthonyDGreen commented on #3665
FYI, I marked this as "Won't fix" since ultimately we'll be deleting the word docs. Again, the issue should be fixed in the wiki version.

[2015-09-20 06:18] PatriceDargenton commented on #2509
Ok, thanks.

[2015-09-20 15:55] AArnott commented on #5039
I agree some dependencies should propagate and others shouldn't. In packages.config, they never propagate across P2P references though, so it is a surprise that it does for project.json, but in the interest of the Project K world where NuGet package dependencies are swappable for source code dependencies I guess that makes some amount of sense.
So ya, I support a project.json design that would all

[2015-09-20 15:56] HellBrick opened #5358 "Weird Formatter behaviour when formatting multidimensional arrays"
Let's jump right to the code:
[code]

And here's the output:
[code]

First of all, the result of `Formatter.Format` looks kind of strange. I expected to get either the spaces both before and after the comma (`int[ , ]`) or no spaces around the comma at all (`int[,]`), but getting just the space after looks unexpected (and probably a bit ugly).

Second, the contradicting changes (`TextChange: { [6.

[2015-09-20 16:10] Pilchie commented on #5039
That may be a short term fix. Longer term @davidfowl suggests that it isn't nodes in the package graph that you want annotated, but rather edges. That means it would end up being something the *consumer* of the package controls, not the producer.

Regardless, clearly this issue should be re-opened

[2015-09-20 16:19] AArnott commented on #5039
I think edges and nodes are both useful to be able to annotate.

**The case for nodes identifying themselves as developmentDependencies**

1. StyleCop.Analyzers, for example, can make a clear case that it should never propagate. It's clearly a decision of the author of that particular project for code cleanliness.
2. Code generation packages (for example, that add support to convert .resx to embed

[2015-09-20 16:35] gafter commented on #5340
Not sure where the relevant code is. IDE?

[2015-09-20 16:41] NightElfik commented on #5032
I am really excited that the [The Billion Dollar Mistake](http://www.infoq.com/presentations/Null-References-The-Billion-Dollar-Mistake-Tony-Hoare) is being addressed!! As people already mentioned (@rmschroeder, @govert, @jonathanmarston), I am strongly in favor of following behaviors:

1. By default, reference types should be non-null.
2. The non-null checking should be strictly enforced by compi

[2015-09-20 16:41] gafter commented on #5324
There is an API to do this, but it is not possible from the command-line yet. More details to follow...

[2015-09-20 17:03] davkean opened #5359 "Code fix to add "using static" appears to be indeterministic"
Sometimes I'm offered to add "using static" when attempting to resolve a type name that matches the name of a nested type, such as below:

![image](https://cloud.githubusercontent.com/assets/1103906/9981870/78f32f2c-5f7e-11e5-8a7a-f4c3e85adb3a.png)

But in other situations I'm not, such as:

[code]

![image](https://cloud.githubusercontent.com/assets/1103906/9981885/c3b9a284-5f7e-11e5-9856-3b4fd71

[2015-09-20 17:13] davkean opened #5360 "Code fix preview window scrollbar doesn't respect scroll location if you mouse scroll"
Repro:
1. Create a large interface
2. Implement said interface on a class
3. CTRL+. and and hover over Implement interface to see preview
4. Use Mouse+wheel to scroll window

Expected: For the scrollbar of preview window to respect actual scroll position
Actual: It doesn't move

![image](https://cloud.githubusercontent.com/assets/1103906/9981936/31ed1550-5f80-11e5-91ff-597d9a7623b8.png)

[2015-09-20 21:03] breyed commented on #5340
This issue occurs in the Visual Studio 2015 C# editor. Does that answer your question?

[2015-09-20 21:09] paulomorgado commented on #5032
So, @NightElfik, instead of `NullReferenceException`s, what have you been seeing?

This proposal only does dataflow analysis on varriables declared to be nullable. Nothing else.

[2015-09-20 23:45] gafter commented on #5340
My question is for the Roslyn implementors: where is the misbehaving code, and which team should this be assigned to?

[2015-09-20 23:49] gafter commented on #4578
@TyOverby I think we want to allow a wildcard but produce a warning in deterministic mode.

[2015-09-20 23:54] gafter commented on #1319
You have already verified that the issue had been fixed previously.

[2015-09-21 03:43] tmat commented on #4578
@gafter Why not just report an error? It's not gonna work as user expects, so to avoid confusion it seems better to report an error.

[2015-09-21 04:02] eyalsk commented on #5355
I'm not using semicolons in JavaScript anymore because the code looks much cleaner but I really don't want to see C# look like JavaScript, in C# these semicolons are consistent you either can add them or you can't I don't like the option in-between these two extremes very much.

[2015-09-21 07:50] #4297 closed

[2015-09-21 08:03] GSPP commented on #5262
This would be very handy. I think this should be split into two proposals:

1. Allow `IsolationLevel = ReadCommitted`.
2. Allow `IsolationLevel = IsolationLevel.ReadCommitted`.

(1) is a more radical.

(1) also should work in any case where there is an assignment (or something like it) to an enum type. For example, variables and method call arguments. It should not be restricted to object initiali

[2015-09-21 08:37] diryboy commented on #5358
So the result should be `int[ , ] ...`?

It's interesting because it looks like a conflict when `SpaceWithinSquareBrackets, false` and `SpaceAfterComma, true` but actually not.

[2015-09-21 08:50] diryboy commented on #5355
One day I wrote the following code in javascript
[code]
And I was toasted.

No, please.

[2015-09-21 10:47] paulomorgado commented on #5355
Coding style matters because it reflects the best practices for each language.

In JavaScript, one should write code with opening curly braces on the line of the statement blog belongs to:

    return {
        a: 0
    };

That solves @diryboy's problem. But I wouldn't touch @eyalsk's JavaScrpt code even with a 10 foot pole.

[2015-09-21 10:50] pdelvo opened #5362 "GetSymbolInfo behaves differently in msbuild from the IDE"
Over at StyleCopAnalyzers we got this [bug report](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/1501). When investigating I discovered that the problem only was showing up when the analyzer ran on the command line (or our testing application) but not in the IDE. The problem was that `GetSymbolInfo` was returning two different answers when resolving this symbol:
[code]
In the IDE it

[2015-09-21 11:06] dsaf commented on #5355
@paulomorgado
Coding style reflects the personal preferences of language creators :). This is how C# handles it:

https://www.jetbrains.com/resharper/webhelp60/Reference__Options__Languages__CSharp__Formatting_Style__Braces_Layout.html

http://stackoverflow.com/questions/3048800/how-can-i-set-visual-studio-to-use-kr-style-bracketing

IMHO that's not @diryboy 's problem, it's a bug in the language

[2015-09-21 11:13] fuzzykiller opened #5363 "Extension method resolution error (same name, unique signature)"
The following code produces in a compiler error on VS2015, while it compiles without problems on VS2013:

    public static class Program
    {
        public static void Main(string[] args)
        {
            IEnumerable x = new object[0];
            IEnumerable<dynamic> dynX = x.Cast<dynamic>();

            // CS1061 'object' does not contain a definition for 'Text'...
            // toolti

[2015-09-21 11:18] eyalsk commented on #5355
@paulomorgado so don't use NPM please because they are doing that too! why semicolons are so precious to you? my code is well covered with tests so how come semicolons make such a difference to you?

[2015-09-21 11:23] dsaf commented on #5355
@eyalsk Unit tests are merely a workaround for a lacking type system (even in C#). The more can be handed over to static analysis the better. That's why Roslyn rocks.

[2015-09-21 11:25] heejaechang commented on #3512
@mavasani I think you did something on this while you were moving analyzer driver to v2 I believe?

[2015-09-21 11:34] eyalsk commented on #5355
@dsaf Yeah, I was one of the first people to use CodeContracts when it was published, I know about that but @paulomorgado was speaking about my JavaScript code due to lack of semicolons.

If you understand ASI and you make sure your code is properly linted and you do your tests properly there's no need for semicolons, again, when we're speaking about JavaScript.

[2015-09-21 12:00] mavasani commented on #3512
@heejaechang Yes, I think https://github.com/dotnet/roslyn/commit/f67a6e6a28745bad537762458edff1b17fdd6b51 addresses your concern?

By the way, I have an open item tracking some more work for this flag: https://github.com/dotnet/roslyn/issues/4364

[2015-09-21 12:09] HellBrick commented on #5358
That's a tricky corner case, but I'd prefer `int[ , ]` here. Or, to be more precise, I think `SpaceBetweenEmptySquareBrackets` shouldn't consider this its jurisdiction and the behaviour should be controlled by `SpaceWithinSquareBrackets`

[2015-09-21 12:59] heejaechang commented on #4017
@jmarolf can you give me a bit more info what do you want? why only MS.VB.dll how about MS.CSharp.dll?

[2015-09-21 13:01] heejaechang commented on #3562
@tmeschter what should I look for?

[2015-09-21 13:12] dpoeschl commented on #5349
Thanks for filing this. Recommending for UpForGrabs.

[2015-09-21 13:52] dpoeschl commented on #5360
Moving the scrollbar manually actually scrolls the [PreviewScrollViewer](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/PreviewPane/PreviewPane.xaml,104), but mouse-based scrolling is getting consumed by some other control in this case. I tried to see if the [previewElement](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/PreviewPane

[2015-09-21 15:26] alrz opened #5365 "Proposal: Extended Object Initializer"
Extend object initializer block to support method calls and event subscriptions:

[code]

->

[code]

[2015-09-21 16:06] gafter commented on #4578
@tmat sounds good to me. So to @TyOverby's question, we could probably just change `allowWildcard: true` to something like `allowWildcard: !deterministicMode`.

[2015-09-21 16:17] Pilchie commented on #5358
We should just look at what VS2013 does for the various combinations of these options.

[2015-09-21 16:19] Pilchie commented on #5343
This used to work.  Did your recent tagger changes lose the event that fires this here.

[2015-09-21 16:22] Pilchie commented on #5340
Is this a dupe of #4280? Does the fix for that address the space after the ",".

[2015-09-21 16:24] #5340 closed

[2015-09-21 16:26] DustinCampbell commented on #5340
Yup. I can verify that this is working now.

[2015-09-21 16:31] dpoeschl opened #5366 "Pressing Enter after generating a snippet goes to the wrong location"
Ported from internal bug 145284

1. Type if followed by <tab><tab> to generate an if block
2. Don't type anything, but click somewhere else in the source code
3. Press Enter

**Expected**: The snippet session is complete and the Enter inserts a newline where the caret was positioned.
**Actual**: The cursor is moved back inside the generated if block, to the snippet's ```$end$``` position.

We shou

[2015-09-21 16:32] KevinH-MS commented on #3941
I've disabled the C# shortcut for now.  Back to @kuhlenh to figure out a good shortcut...

[2015-09-21 16:34] paulomorgado commented on #5365
Event subscription makes sense and would be useful.

But how would you disambiguate `MethodCall()`?

There might be other methods in scope and it would make a lot more sense to call methods not from the object being initialized than the object being initialized.

[2015-09-21 16:36] AlekseyTs commented on #1319
As long as you agree that there is nothing more to fix here. :-) Thanks.

[2015-09-21 16:38] dpoeschl commented on #5366
We don't currently know anything about the snippet field locations, so we'd have to do some XML parsing on our side to figure out whether to move or leave the caret when we call [EndCurrentExpansion](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.textmanager.interop.ivsexpansionsession.endcurrentexpansion(v=vs.100).aspx).

[2015-09-21 16:38] dpoeschl commented on #5366
@Pilchie Should we consider moving to 1.2?

[2015-09-21 16:39] Pilchie commented on #5275
In triage, we decided that we should:
1. Drop the context type if the member is going to be generated into the current type.
2. For cases where the member will be generated into a different type (say off a local), we use use "Generate *member* 'unboundType' in 'ContextType'" form.

[2015-09-21 16:42] Pilchie commented on #5247
Is this the Inert buffer issue that you were looking at the other day.

[2015-09-21 16:43] rchande commented on #5247
@amcasey Is this a dupe of the bug you were looking at last week?

[2015-09-21 16:44] ManishJayaswal commented on #3941
ctrl+Alt,I for C# Interactive in C# profile and VB Interactive in VB profile with no shortcuts in general profile might be an option.

[2015-09-21 16:50] amcasey commented on #5247
Yes, this should be suppressed by https://github.com/dotnet/roslyn/commit/6e515e6ee4a74ba398a7311c58b08e99d7a41b8d.

[2015-09-21 16:50] #5247 closed

[2015-09-21 16:51] amcasey commented on #5247
@genlu Can you please verify that this no longer repros (and add the Verified label if it does not)?

[2015-09-21 16:58] #4696 closed

[2015-09-21 16:59] AlekseyTs commented on #4696
@gafter Please verify.

[2015-09-21 17:16] rausm commented on #227
also look at how eiffel [The Bertrand Meyer Design-By-Contract(copyright) language]  solved it.
Look up eiffel and either void-safety or CAP (certified attachment patterns). i think they proved that their way of doing it is sound (ie. their [enforced] safe/attached references are safe and after any applicable check the [possibly] detached reference is also considered safe). Of course, it being eif

[2015-09-21 17:29] lgolding commented on #5338
@Pilchie Fixers are done by IDE team, right?

[2015-09-21 17:31] Pilchie commented on #4758
Fixed by #4757

[2015-09-21 17:31] #4758 closed

[2015-09-21 17:32] Pilchie commented on #3744
Didn't you just merge a PR to fix address this?

[2015-09-21 17:33] Pilchie commented on #3744
Yes, fixed by #4844.

[2015-09-21 17:33] #3744 closed

[2015-09-21 17:43] #4360 closed

[2015-09-21 17:43] lgolding commented on #5269
As you discovered, an analyzer only has access to the references that are part of the current compilation object. The compilation (code generation) itself doesn't need the transitive references, and neither do most analyzers, so it would be inefficient if, by default, the compiler were to add the transitive closure of all references to the compilation object.

Would it suffice for your scenario if

[2015-09-21 17:49] lgolding commented on #5252
The feature request #3798 (which would make MSBuild properties such as default namespace available to analyzers by way of the `AnalyzerOptions` object) would address this scenario. Closing this item as duplicate of that one.

[2015-09-21 17:49] #5252 closed

[2015-09-21 17:49] ManishJayaswal opened #5369 "Add a task to invoke csi.exe and ship it with csc and vbc tasks"

[2015-09-21 18:02] dpoeschl commented on #4251
This is tracked internally by bug 142856. I've left a note there to verify & update this thread when it is tested.

[2015-09-21 18:02] #4251 closed

[2015-09-21 18:27] #4521 closed

[2015-09-21 18:28] AlekseyTs commented on #4521
@gafter Please verify.

[2015-09-21 18:35] sharwell commented on #3798
This is important for DotNetAnalyzers/StyleCopAnalyzers#1481 (forced to comment so GitHub will show updates under my "Participating" tab).

[2015-09-21 18:49] alrz commented on #5365
@paulomorgado

The scope wouldn't be a problem at all because same goes with properties and they are actually in the initializer block scope, so they belong to the object being initialized.

[2015-09-21 19:09] paulomorgado commented on #5365
@alrz, an asignment has a left and a right side. The method invocation doesn't.

I can have this:

    C Clone() => new C
    {
        Property = Property.
        Method()
    }:

There's no doubt that the new instance is being initialize by seting it's `Property` property with the value of the current object's `Property` property.

At first, it's also obvious what `Method` that is.

But how abo

[2015-09-21 19:39] amcasey opened #5372 "Fix results in non-compiling code"
Suppose an assembly defining type `A.B.C` is referenced with `/r:E=Assembly.dll`.  If the referencing assembly attempts to use `C` without qualification, the following fixes are offered:
1. Add `using A.B`
2. Change to `A.B.C`

Neither of these will result in compiling code.  Either these fixes should be suppressed or we should offer:
1. Add `using E::A.B` (and, depending on context, `extern alias

[2015-09-21 19:39] amcasey commented on #5372
FYI @jmarolf

[2015-09-21 19:57] khellang commented on #1382
What does this mean? You want to be able to extend the script wrapper class so you can do `this.ExtensionMethod()`?

[2015-09-21 20:01] jmarolf commented on #4017
I can investigate MS.CSharp.dll, but I know that today Microsoft.VisualBasic.dll is listed as a dependency in all VB analyzers so we need to add it to the white-list if we don't want warning to pop up when VB analyzers are loaded.  VB templates have workaround for this that I would like to remove.

[2015-09-21 20:05] patriksvensson commented on #1382
Yes. Either by `this` and also treating the extension method for the script
host type as a method on the script host.

I.e.

[code]
On Sep 21, 2015 21:58, "Kristian Hellang" <notifications@github.com> wrote:

[2015-09-21 20:06] dpoeschl opened #5373 "Enum completion prevention of "Color Color" ambiguity"
**User Scenario**

In a WPF control with a nested control named `subControl`, type `subControl.Visibility = Visibility.Hidden` in the .xaml.cs file. Because `Visibility` is the name of an Enum and also a property of the outer control, completion after `Visibility.` contains enum members _and_ static/instance members of the Visibility property.

Typing the same thing in Visual Studio 2013 prevents

[2015-09-21 20:06] dpoeschl commented on #5373
FYI: @rchande because we were just discussing this.

[2015-09-21 20:12] SLaks commented on #1382
You could do that using `using static`.

[2015-09-21 20:19] khellang commented on #1382
@patriksvensson You could also just have a property on the host object which you can hang extension methods off?

[2015-09-21 20:53] patriksvensson commented on #1382
Using static loses the context of the script host (unless it would be a
singleton).

Using a property on the script host would of course work, but that's not
what this was about (unless I misunderstood the issue; in that case I
apologize) :-)
On Sep 21, 2015 22:20, "Kristian Hellang" <notifications@github.com> wrote:

[2015-09-21 20:58] SLaks commented on #1382
True.

As long as scripts don't call other scripts, you could pass the context as a `[ThreadStatic]` field.

[2015-09-21 21:00] patriksvensson commented on #1382
@SLaks Yes, you're right, that would be one approach. Would be nice if this was supported by Roslyn though. Would be less "hacky" :smile:

[2015-09-21 21:32] #5323 closed

[2015-09-21 21:43] #4290 closed

[2015-09-21 21:46] genlu commented on #5312
![xpert_telemetry](https://cloud.githubusercontent.com/assets/788783/10006050/90b46eb8-606f-11e5-9b7e-9ce4d5d6a346.jpg)

[2015-09-21 21:47] #5312 closed

[2015-09-21 21:47] alrz commented on #5365
@paulomorgado since there is no dot syntax for initializers (as in VB `New AnObject {.Property = value}`) that would be limited to void-returning methods only, or you should ignore the return value.

[2015-09-21 22:07] AlekseyTs commented on #5238
@GeertvanHorrik I am not able to reproduce the PEVerify error. Could you post IL for InvalidIlMethod and ValidIlMethod methods?

[2015-09-21 22:10] paul1956 opened #5375 "Adding Visual Studio Menu Item in VB to VSIX Solution causes 381 Warnings (Errors after Build)"
Steps to Reproduce
[code]
Several files are added and you get 381 warnings for the ComandComand.vb and CustomCommandPackage.vb files.The warnings are "Type or namespace definition or end-of-line expected", "Newline in Comment", "Type Expected" , "Too many characters in character literal"., "Comma Expected". None of which make any sense in a VB file. If I included these files in a C# project and re

[2015-09-21 22:22] Pilchie commented on #5338
Yes.

[2015-09-21 22:23] tmat commented on #1382
@patriksvensson As @khellang said, you can define a public method ExtensionMethod() on the host class and it is accessible from the script like so:

[code]

[2015-09-21 22:24] #2002 closed

[2015-09-21 22:28] #4017 closed

[2015-09-21 22:29] jacekbe commented on #5032
This proposal looks very nice and I would really like it implemented. Imho it's much better than introduction of explicit non-nullable types for several reasons:
  - better consistency with value types with regard to nullability
  - non nullable references are usually what the user wants therefore should be the default.
  - introduction of explicit nullable and non-nullable reference types would p

[2015-09-21 22:29] #5137 closed

[2015-09-21 22:35] heejaechang commented on #4364
I think there used to be only 2 cases.

1. user explicitly turned off running close file analysis (probably due to perf)
2. diagnostic analyzer can only produce hidden (or trigger) diagnostics which have no meaning for closed files. (no visible indication of the diagnostics except on view)

by the way, closed file analysis check should only apply to solution crawler code path. all other code path

[2015-09-21 22:35] patriksvensson commented on #1382
@tmat Yes, I could do that. The scenario this would be useful for is DSLs. I run a small build automation system called [Cake](http://cakebuild.net) and we allow extension methods to our script host to be called directly in a script.

So if someone creates an extension method that looks like this:

[code]

It can be used in a script like this:

[code]

We do this today by generating a proxy method

[2015-09-21 22:35] heejaechang commented on #4364
forgot to add @mavasani @srivatsn

[2015-09-21 22:36] heejaechang commented on #3512
closed the issue. @mavasani already took care of it. other design issue pending though.

[2015-09-21 22:36] #3512 closed

[2015-09-21 22:42] KevinH-MS commented on #5325
Moving -> Milestone 1.1

Per conversation with @ManishJayaswal, we should try to at least support full Intellisense/completion in .csx for the first release.

It would be good to look at the "AnyCode" work, as it seems to cover similar scenarios.

[2015-09-21 22:43] lorcanmooney opened #5378 "Renaming a class in the VS editor should also rename the containing file"
If I rename a file in the solution explorer it will, under certain mysterious conditions, offer to rename the class inside. Since developers generally live in the editor, it would be nice if the opposite was also true - renaming a class in the editor should rename the containing file. Also, instead of the annoying confirmation dialog used by the solution explorer, an extra checkbox could be added

[2015-09-21 22:54] lorcanmooney commented on #5200
I'd also like to see this, but for slightly different reasons. When I write code, it doesn't always happen in the order the compiler would like to see, more stream-of-consciousness. I routinely type out assignments and use variable as parameters before I've actually declared them. More often than not VS2015 "corrects" these references some other pre-existing identifier. Compounding this, whatever

[2015-09-21 23:00] Pilchie commented on #5200
As @sharwell suggests, I would try "Suggestion Mode" IntelliSense, by hitting  <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Space</kbd>, or pressing the toolbar button:

![suggestionmode](https://cloud.githubusercontent.com/assets/312835/10007409/d3869ca2-6079-11e5-895e-68d3a2d8db75.png)

[2015-09-21 23:04] tmat commented on #1382
@patriksvensson I see. I assume you don't like the script to use an indirection, right? Something like

[code]

[2015-09-21 23:04] khellang commented on #1382
I'd stay far away from that API anyway. How do you even provide IntelliSense for that? Wouldn't it be much better to do something like

[code]

At least you have a discoverable API :smile: This is just general API design though.

[2015-09-21 23:05] tmat commented on #1382
@khellang You can still get completion (Alt+ArrowRight). I think it's just matter of design preference.

[2015-09-21 23:06] khellang commented on #1382
@tmat The same as i VS? If I have the caret in an instance method and pull out IntelliSense, it usually gives some horrible results...

[2015-09-21 23:12] tmat commented on #1382
@khellang Extension methods are not available without "this." prefix. It should give you all the identifiers and keywords that are possible at the current location.

[2015-09-21 23:13] heejaechang commented on #3111
I am moving this to update 2.

[2015-09-21 23:14] khellang commented on #1382
Exactly. That's why I'd find it weird if top-level extensions were supported (without `this`). Even with `this` it'd feel weird since you're not in a "`this`" context.

[2015-09-21 23:14] amcasey commented on #4811
@ManishJayaswal Since only using aliases are affected, I don't believe this meets the preview bar.

[2015-09-21 23:14] heejaechang commented on #3562
ping. I am still not sure what i am supposed to do.

[2015-09-21 23:43] tmat commented on #1382
@khellang and that's exaclty why they are currently not :)

[2015-09-21 23:43] ManishJayaswal commented on #4811
@amcasey sounds good.

[2015-09-22 00:33] SLaks commented on #3824
These seems to be a DnxWorkspace [here](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Workspaces.Dnx/).
Source might be https://github.com/davidfowl/ProjectJsonWorkspace

[2015-09-22 01:03] MadsTorgersen opened #5383 "C# Design Notes for Sep 8, 2015"
# C# Design Notes for Sep 8, 2015

## Agenda

1. Check-in on some of our desirable features to see if we have further thoughts
2. Start brainstorming on async streams

# Check-in on features

## Bestest betterness

Overload resolution will sometimes pick a candidate method only to lead to an error later on. For instance, it may pick an instance method where only a static one is allowed, a generic

[2015-09-22 01:20] AnthonyDGreen commented on #4069
Adam, could you be more specific in describing the problem. I tried pasting the content of that file into VS and forcing a format document and couldn't reproduce what you're describing. Yes, the pretty-lister removes extra whitespace before and after the underscore character but that shouldn't produce any error. Whitespace after the underscore isn't required.

Could you paste a screenshot?

[2015-09-22 01:27] davidfowl commented on #3824
I'll update the repository to take the latest changes into account

[2015-09-22 01:40] JoshVarty commented on #5383
"Withers for arbitrary types" sounds really cool. I'm not sure how it would work, though. Would this even feature be able to save Roslyn any code? My understanding is that under the hood the mutable green trees get mutated. I'm just not sure how you could do all this automatically, but maybe I'm misunderstanding the feature.

[2015-09-22 01:48] morrisjoe opened #5384 "Feature request to improve the light bulb experience when multiple issues present in a line of code"
Feature request from ALM MVP Terje Sandstrom

Current light bulb experience when multiple issues present in a line of code, where some have fixers and some don’t have fixers and some are hidden is confusing. When user does the quick action of ‘CTRL+.’, very confusing as to which one got fired. So this feature request is a proposal on how user experience can be presented in a way where there is no

[2015-09-22 01:59] HaloFour commented on #5383
For `private protected` I think that if you're planning on implementing the feature just stuck with that original keyword combination and pull the trigger.  By even putting it up for consideration you're just inviting the people who won't be happy with anything.  C++/CLI already calls that access `private protected` so at least it would be consistent.

I'm a fan of "withers" being a new `with` ope

[2015-09-22 02:57] dpoeschl commented on #3792
@heejaechang Is there a good use-case for having Word diffing instead of Line Diffing other than the TS example in internal bug 1037274 (in the old DB)? I've piped through an option but I'm wondering if we should really just switch back to Line diffing completely.

[2015-09-22 02:59] dpoeschl commented on #3806
@mavasani Can you explain what a FixMultipleCodeAction is, and how they might want their Titles & UndoTexts set up? I went back to bug recently and it looks like this type was introduced recently.

[2015-09-22 03:06] agocke commented on #5181
This is the kind of thing I would do in .NET Native, not in the C# compiler.

Also, it's probably not safe due to .NET Remoting.

[2015-09-22 03:52] Hosch250 commented on #5383
One potential syntax for a "wither" could be similar to the object initialization syntax:

    var cat = new Cat { Age = 10, Name = "Fluffy" };

See this webpage: https://msdn.microsoft.com/en-us/library/bb384062.aspx

So, perhaps we could do:

    var cat = new Cat { Age = 10, Name = "Fluffy" };
    cat { Age = 1, Name = "FizzBuzz" };

instead of

    var cat = new Cat { Age = 10, Name = "Fluffy"

[2015-09-22 04:45] kekyo commented on #5306
Thank you for your index to a similar article. The same discussion as argument in #3012 agreed.

I feel difficultly syntax extends...
* Parenthesis: I feel looks like C# syntax, same typeof() operator, "dynamic(IABC, IDEF)".
* Angle bracket: Looks like C++ template style, In C++ design, template expression is nearly cast clause (ex: static_cast<T>, const_cast<T>) or another usages (?). but in C# g

[2015-09-22 05:27] #3155 closed

[2015-09-22 05:40] bombless commented on #5383
cat { Age = 1, Name = "FizzBuzz" };

+1, hope this is doable.

[2015-09-22 06:01] JoshVarty commented on #5383
You guys mean

cat =cat { Age = 1, Name = "FizzBuzz" };

Right? The proposal is for immutable objects, so you'll need to capture that result somehow.

[2015-09-22 06:54] andrewtobin commented on #5383
I don't like the use of "private protected" as a name solely because you don't intend for it to be "private" but "internal" - is there some symbol that could be used as an operator? I'm only reading this out of interest and I don't know the ins and outs of language design so forgive me, but something like protected &internal - although I guess there's a memory addressing look to it, or protected +

[2015-09-22 07:00] andrewtobin commented on #5383
With regards to Withers - could you see any value in having:
var newIfStatement = ifStatement replaces { Condition = newCondition, Statement = newStatement };

I would assume it would throw if the properties didn't already exist, otherwise you'd need to:

Animal ifStatement;

Cat newIfStatement = ifStatement as Cat replaces { Condition newCondition, Statement = newStatement };

[2015-09-22 07:51] GeertvanHorrik commented on #5238
I can't repro at the moment. The only thing I updated recently was "Tools for UAP" in VS2015.

[2015-09-22 07:54] Inspyro commented on #5269
Ideal would be a method on the **ErrorType** like "**Resolve**" that returns the **ITypeSymbol** with all metadata (lazy method). As the type information (name+assembly) is available in the **ErrorType** this should be rather easy to do, and would allow explicit control of when transitive references are resolved (lazy).

[2015-09-22 07:59] GeertvanHorrik commented on #5238
Pfew, I can reproduce in a class library (Universal App Platform) using AnyCPU. Here is the IL:

[code]

Here is the result:

![image](https://cloud.githubusercontent.com/assets/1246444/10013297/8b4339ea-6110-11e5-81ee-5b8da9ee128e.png)

[2015-09-22 08:00] alrz opened #5388 "Implement string concatenation in loops via manipulating a StringBuilder instead of emitting String.Concat()"
At the moment, addition assignment operator for strings compiles into a `String.Concat()` call like this:
[code]
->
[code]
This leads to allocating a new string every time in the loop which may not be desired. I propose using a `StringBuilder` instead, wherever a `+=` operator appears in a loop (ideally in a optimized build) — providing more readable code beside of taking advantage of a pre-alloca

[2015-09-22 08:04] heejaechang commented on #3562
@tmeschter @mavasani ping?

[2015-09-22 08:17] dsaf commented on #5365
Sometimes I want to be able to write this:

[code]

...but not sure if this would be a good thing.

[2015-09-22 08:53] alrz commented on #5365
@dsaf this is already proposed in #5172:
[code]

[2015-09-22 09:04] dsaf commented on #5365
@alrz Yes, the fact that it creates a new instance is a no go for me, even if I don't care about the performance. Besides it's not yet extended to types other than records.

[2015-09-22 09:30] mhgamework opened #5389 "MSBuildWorkspace fails to load metadatareferences for a project with a non-existent default configuration"
I loaded a csproj using MSBuildWorkspace but the project.MetadataReferences was empty. The project compiles and runs fine in VS2015 and has numerous (+15) third party references. I discovered that the project had the default configuration Debug|AnyCPU, which did not exists, so i fixed it to an existing configuration and the project now loads fine.

I do not understand this behaviour, it seems like

[2015-09-22 09:31] alrz commented on #5365
@dsaf Of course, with-expression has a different intention and plays nice with immutable objects, on the other hand, the scenario here is kind of "re-initialization" for mutable objects. It could be done with a `With...End With`-like *expression* e.g. `var car = with carFactory.CreateCar() { ... }`.

[2015-09-22 09:42] paulomorgado commented on #5383
__Correction:__ I came up with a better syntax: `protectedinternal` :smile:

[2015-09-22 09:50] dsaf commented on #5365
@alrz That makes complete sense.

[2015-09-22 10:44] alrz commented on #5172
I want to propose the `new` keyword to doing so, indicating that it creates a new instance.
[code]
and reserve the `with` keyword for re-initializing the same instance, as discussed in #5365:
[code]

[2015-09-22 11:15] series0ne commented on #1276
@SLaks you're not the only one that has raised this:

http://stackoverflow.com/questions/32519200/c-sharp-6-0-null-propagation-operator-property-assignment/32715351#32715351

[2015-09-22 12:21] heejaechang commented on #4462
@mavasani I dont think it is the connection race rather initialize method never called except the first time.

[2015-09-22 12:36] bkoelman commented on #4462
From what I recall, it occured also when an exception was thrown from analyzer ctor or a field initializer. Also from RegisterCompilationStartAction callback I'm not sure; I can verify if that helps you.

[2015-09-22 14:00] HaloFour commented on #5383
@Hosch250 The point of "withers" is specifically to "copy" the object to a new instance with specific changes.  Using it to affect an existing instance doesn't make a lot of sense.

[code]

If a custom "wither" was implemented as an instance method then it would certainly be possible to affect the current instance.  Although I am a proponent of going the operator route as being completely new synt

[2015-09-22 14:04] eamodio commented on #5383
@paulomorgado or something like `proternal` :)

[2015-09-22 14:26] patriksvensson commented on #1382
@khellang The context parameter is already supported. The variant I was talking about is syntactic sugar (which 99% of our users seem to prefer).

You're free to stay far away from that API. Won't force you, promise :wink:

[2015-09-22 14:31] accidentaldeveloper commented on #5383
Regarding `private protected`, I'm still partial to [the suggestion](https://roslyn.codeplex.com/discussions/541194) that @MadsTorgersen made when this feature was proposed in 2014: create a new keyword to represent this specific accessibility. My favorite choice is `restricted` but others are certainly acceptable. I find this much less cognitively dissonant than using `private protected`.

A bran

[2015-09-22 15:02] dpoeschl commented on #5388
@alrz This could be implemented as a diagnostic/fixer or a refactoring at the source code level if you're  interested in taking that route.

[2015-09-22 15:04] Hosch250 commented on #5383
@HaloFour @JoshVarty Yes, I meant to re-assign, not mutate.  I have fixed this.

[2015-09-22 15:06] yunuskiran commented on #5388
@alrz did you test this codes performance. StringBuilder is faster than other.

[2015-09-22 15:10] daveaglick commented on #5383
+1 for improvements to overload resolution rules, especially if considering generic constraints is on the table. I know that has it's own set of challenges since constraints aren't currently part of the signature (#250 and #962), but if that could be overcome it would be a welcome refinement.

[2015-09-22 15:12] JasonBock commented on #5383
+1 on the attribute stuff. Having compile-time attributes that worked on the source code would start to get down some very cool metaprogramming avenues. (And generic attributes, please! :))

[2015-09-22 15:24] ggreig commented on #5383
+1 to `private protected`. I don't like the syntax, but would accept it for the functionality. It would be worth seeing if a brand new keyword could be arrived at - I don't suppose `familysecret` will fly? ;-)

[2015-09-22 15:25] MgSam commented on #5383
Oh God, please stop. Not this argument again. C# team- you guys decide what to call it. I don't care if you call it `qwerty` or `asdfgh` or `hejlsberg` or `sweetfluffybunny`. The bottom line is that the feature is useful and the community will never be happy no matter what keyword you choose, so just pick one.

I'm looking forward to seeing a more fleshed out design for the async streams. This wil

[2015-09-22 15:40] tmeschter commented on #3562
@heejaechang @mavasani The update will need to occur in [AnalyzerDependencyChecker.FindConflictingAnalyzers](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/AnalyzerDependency/AnalyzerDependencyChecker.cs,db024e5e380975d6). Currently we group the analyzer assemblies by their assembly identity, and then within each group check that all the assemblies have the same MV

[2015-09-22 15:41] gafter commented on #5172
@alrz Your proposal would allow

[code]

(in this case, `p` is the expression `new Point(1, 2) { Y = 2 }`)

It would also render the following ambiguous:

[code]

Is `Point(1, 2)` a method invocation or an object creation expression? Under your proposal it is ambiguous.

Many of the language changes we're pursuing now are intended to support programming with *values* as an alternative to programmi

[2015-09-22 15:50] omariom commented on #5383
if async foreach  is pattern based why not make the result of IAsyncEnumerator<T>.MoveNextAsync() pattern based too? Then it could be smth more effective from allocation point of view. Just anything having instance or extension GetAwaiter method.

[2015-09-22 15:53] omariom commented on #5383
private protected??
Novices  will get confused..

[2015-09-22 15:59] Hosch250 commented on #5383
I dislike `private protected` too - it doesn't say what it really is.  I like @accidentaldeveloper's suggestion of `restricted`.

[2015-09-22 16:07] HaloFour commented on #5383
Seriously, that horse was [beaten beyond recognition](https://roslyn.codeplex.com/discussions/541194).  Giant threads, surveys, flames galore.  The consensus was that there is no consensus.  There are more opinions than participants.  It's not a useful dialog.

For a feature that might be used a handful of times by a small minority of the development community the team should just pull the trigger

[2015-09-22 16:12] chaosrealm commented on #5383
How about 'assembly protected' for the new visibility scope?

[2015-09-22 16:14] Hosch250 commented on #5383
@chaosrealm Then what would `assembly` stand for on its own?

[2015-09-22 16:27] alrz commented on #5172
@gafter Alright, that settles it.
but what about the re-initialization syntax? it has nothing to do with new immutable constructs in the langauge, it rather makes life easier for existing codes that actually use these patterns that relyed on mutation (like factory method) .

Are you saying that C#'s going to be fully functional and make mutation obsolete?

[2015-09-22 16:31] omariom commented on #5383
@MadsTorgersen

Did you consider [TPL Dataflows's IPropagatorBlock](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Dataflow/src/Base/IPropagatorBlock.cs#L18) for this?

[2015-09-22 16:42] Pilchie commented on #5389
Can you construct a repro project with this behavior?

[2015-09-22 16:46] Pilchie commented on #5378
Yes, we definitely want to do this soon.

[2015-09-22 16:47] kuhlenh commented on #5214
@tmat I think you linked to the wrong thing, but yes your work should have resolved this!

[2015-09-22 16:49] AlekseyTs commented on #5238
@GeertvanHorrik Thank you. Could you also post IL for the ValidIlMethod, preferably included into the same library that fails PEVerify.

[2015-09-22 16:50] GeertvanHorrik commented on #5238
Coming up in 2 minutes!

[2015-09-22 16:53] GeertvanHorrik commented on #5238
### Valid C#

[code]

### Valid IL

[code]

[2015-09-22 16:56] Pilchie commented on #5373
The old codebase had a special case where we would hide any inherited static members when displaying completion on an enum type, since people normally call them through Enum anyways.

[2015-09-22 16:56] kuhlenh commented on #2905
@OmerRaviv oops! Thanks for pointing that out. Added to the list of unsupported edits.

[2015-09-22 17:04] amcasey commented on #801
When we enable Extract Method, confirm that it does the right thing in Linq queries (internal bug 100555).

[2015-09-22 17:06] amcasey commented on #801
When we enable Add Using, confirm that it never suggests the default usings (e.g. System) (internal bug 100963).

[2015-09-22 17:10] amcasey commented on #3754
Validate parser disambiguation for top-level indexers (operators, etc).  See internal bug 99848.

[2015-09-22 17:12] amcasey opened #5390 "Script Document IntelliSense race condition"
SSL reported:

Source: (in a `Script` document):

[code]

Pressing Ctrl+Space, Space, or Enter will try to consume a cancelled Model task in the completion controller and throw.

Stack:

[code]

[2015-09-22 17:21] amcasey commented on #5390
Was http://roslyn.codeplex.com/workitem/488.  FYI @slaks.

[2015-09-22 17:22] amcasey commented on #5390
[1/11/2015 10:37:06 AM] SSL commented: This is completely reproducible in VSEmbed or my Markdown editor, and probably also in any other Script editor.

[2015-09-22 17:22] amcasey commented on #5390
@Pilchie noted:

When I paste this code into a csx file in ETA, I get a bunch of exceptions from:
[code]

[2015-09-22 17:26] agocke opened #5391 "SimplifyTypeNamesTests.SuggestEscapedPredefinedTypes fails in x64"
Caused by PR #5197

[2015-09-22 17:35] Pilchie commented on #2855
Is this the same as internal bug 125424?

[2015-09-22 17:35] dpoeschl opened #5393 "Snippets permanently disabled after launching Interactive Window"
In https://github.com/dotnet/roslyn/commit/c7c55e3487782d5aad37daf484322c9a8b299355, we used ```InternalFeatureOnOffOptions.Snippets``` as a way for the ```InteractiveWorkspace``` to disable snippets, but changing this option to false for the ```InteractiveWorkspace``` causes that false value to be persisted, and it spreads to all workspaces (```InternalFeatureOnOffOptions``` were never meant to b

[2015-09-22 17:39] gafter commented on #5172
We're not going to make anything in the language obsolete. But our effort is currently focused on making *safer* things *easier* to do. Mutation is not one of the safer things we're trying to make easier right now.

[2015-09-22 17:48] KevinH-MS opened #5394 "Perf issues editing files with nested #if and #region"
1. Create a C# Console App with the code below.
1. Place the cursor at the end of the last ```#region``` in ```Class1``` and hit {Enter}

**RESULTS**:
VS becomes unresponsive and newline is not inserted for 5-6 seconds...

[code]

[2015-09-22 17:56] Pilchie commented on #4599
Tagging @DustinCampbell  and @CyrusNajmabadi since they have been thinking about the multiple issues per line experience lately too. See also #5384

[2015-09-22 17:58] pharring commented on #5394
Did you repro this with 1.0 or with 1.1 because we made an Update 1 fix with #3515

[2015-09-22 18:00] KevinH-MS commented on #5394
I'm on RTM patched with the latest Roslyn bits.

[2015-09-22 18:07] amcasey commented on #5244
Works for me.

[2015-09-22 18:10] amcasey commented on #5176
Works for me.  Also checked ctrl-home and ctrl-end.

[2015-09-22 18:10] rawling commented on #4509
Sorry to dredge this up again.

Is there not (also?) an issue with the dynamic runtime here?

Having decided that as the reuslt of `Api1()` is implicitly convertible to `false` there is no need to evaluate `Api2()` in order to evaluate the first `&&`, should the result not be `false` rather than a `Waffle` instance?

In the static binder, the first `&&` is known to be a `bool&&` and so the result

[2015-09-22 18:11] amcasey commented on #5069
@KevinH-MS can you please verify?

[2015-09-22 18:11] amcasey commented on #4923
@dpoeschl Can you please verify?

[2015-09-22 18:12] mavasani commented on #3806
@dpoeschl FixMultipleCodeAction is basically a different flavor of FixAll where the diagnostic source for the fix is a prior known set of diagnostics that can belong to any document in the solution, and hence has a FixAllScope.Custom. For example, right now it used to trigger Suppression fixer on issues selected in error list - you know beforehand what needs to be fixed. Additionally, this means t

[2015-09-22 18:13] amcasey commented on #4553
Confirmed that we're getting Watson reports from the Interactive window.

[2015-09-22 18:14] pharring commented on #5394
Does it repro with "smart indent" disabled?

[2015-09-22 18:19] rchande commented on #5394
"Block indent" is equally slow; "None" is fast.

[2015-09-22 18:57] svick commented on #5383
A crazy idea: if you have several asynchronous operations, it often makes sense to let them execute concurrently. To make this easier, async foreach could be *an expression that returns a `Task`* representing completion of the loop. E.g.:

[code]

One reason why this is crazy is that it would probably be hard to make the statement form and the expression form work well at the same time. (Are they

[2015-09-22 19:00] svick commented on #5383
Regarding Go's `select`, a very similar feature for async non-streams has been proposed at #5187.

[2015-09-22 19:00] accidentaldeveloper commented on #5383
@MgSam @Hosch250 I agree: the naming is contentious but the feature is useful: the C# team should make a decision and live with it. Some users will feel vindicated, others will feel slighted, and we'll all get on with our lives. The feature is definitely more important than the name at this point.

[2015-09-22 19:11] gafter commented on #4509
@rawling The dynamic runtime needs the arguments to decide what kind of operator is being used (it might be an error, not binding to any built-in or user-defined operator), and the only way to get them is to evaluate them.

[2015-09-22 19:22] rawling commented on #4509
@gafter Sorry, I'm referring to your Waffles example above where the second argument (call to Api2) is not dynamically typed and, according to the sample output, is not called.

But I'm not concerned about whether the second argument is evaluated or not; once the dynamic runtime has established that the && being called is the bool one, shouldn't it produce a bool result rather than what appears to

[2015-09-22 19:53] alrz commented on #3304
I would prefer this syntax:
[code]
named anonymous type or implicit class declaration?

[2015-09-22 19:58] gafter commented on #4509
@rawling No, that is not the way that `&&` works in the presence of user-defined operator overloading. See 7.12.2:

When the operands of && or || are of types that declare an applicable user-defined operator & or operator |, both of the following must be true, where T is the type in which the selected operator is declared:
•	The return type and the type of each parameter of the selected operator m

[2015-09-22 20:02] rawling commented on #4509
@gafter I'm referring to [the `Waffle` example above](https://github.com/dotnet/roslyn/issues/4509#issuecomment-130872713) which only has a `bool` conversion, not a user-defined `&&`.

[2015-09-22 20:07] amcasey commented on #4138
We'll reactivate/refile if this keeps happening after we've shipped the fix.

[2015-09-22 20:08] amcasey commented on #4203
It's in the vsix in today's signed build.

[2015-09-22 20:09] amcasey commented on #3817
@cston Can you please verify?

[2015-09-22 20:10] heejaechang commented on #3562
Yep! That clear’s a bit what I need to do!

Thank you Tom

-          heejae

From: Tom Meschter [mailto:notifications@github.com]
Sent: Tuesday, September 22, 2015 8:41 AM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: HeeJae Chang <Heejae.Chang@microsoft.com>
Subject: Re: [roslyn] AnalyzerDependencyChecker should take into account whether or not an assembly is signed (#3562)

@heejaechang<htt

[2015-09-22 20:11] amcasey commented on #4242
Works for me.

[2015-09-22 20:12] amcasey commented on #4392
@kuhlenh Can you please verify (i.e. confirm that it works as expected and then add the Verified label)?

[2015-09-22 20:13] amcasey commented on #4518
@tannergooding Can you please verify?

[2015-09-22 20:18] svick commented on #5388
* If the loop is executed very few times (including zero), using `StringBuilder` is likely going to be more expensive. Is this approach the best option? Or could e.g. allocating the `StringBuilder` on the first iteration of the loop be more efficient?
* If the intermediate `string`s are actually used, using `StringBuilder` is probably going to be worse. Does it make sense to have a special case fo

[2015-09-22 20:29] amcasey commented on #4245
Confirmed that we get completion (etc) for symbols from ```#load```.

[2015-09-22 21:00] yunuskiran commented on #5388
@svick look at that. It is Turkish but you must look photo
http://scantekin.blogspot.com.tr/2014/08/c-string-birlestirmede-performans.html

[2015-09-22 21:12] gordanr commented on #5172
Very nice proposal @gafter.

Some thoughts regarding readability in Fluent API.
Both with and without parentheses is valid.
[code]
What about "with" expressions? Do we need parentheses?
[code]
It is not so useful, but can we chain "with" expressions? Probably yes.
[code]

[2015-09-22 21:18] jaredpar commented on #5348
@AlekseyTs this looks to be a duplicate of #4615.  Can you confirm?

[2015-09-22 21:26] jaredpar commented on #4033
Looks like a duplicate of #3500

[2015-09-22 21:31] davkean commented on #4033
Doesn't look like a dupe, #3500 is talking about the fact that sometimes internals are available and sometimes they are not. This is talking about, favoring public types over internal types in a cref.

[2015-09-22 21:32] jaredpar commented on #4033
I believe it is the same underlying issue.  In the cases where they are available they allow for conflicts.  These bugs seem to identify two different cases for the same issue.

[2015-09-22 21:50] AlekseyTs opened #5395 "A StackOverflowException is thrown while trying to emit IL for a method with long arithmetic expression."
[code]

[2015-09-22 21:56] #5267 closed

[2015-09-22 21:57] AlekseyTs commented on #5267
@agocke Please verify

[2015-09-22 22:15] RichiCoder1 commented on #5383
Agreeing with above commenters here. Pick a name and live with it.

Yes, so much +1. Generic attributes would be great a for library authors, and compiler attributes will keep getting that much more powerful thanks to Roslyn. I could easy imagine pairing compiler attributes with "core-aware" libraries to provide extremely intelligent guidance.

All around fully for this and agree with the teams th

[2015-09-22 22:16] noahfalk opened #5397 "Feature request - Embed source in PDB"
The PDB format has long had the capability to include the full text of source files, but most compilers have not made use of it. I would like to add an optional command line argument to the compiler to use this PDB feature.

Including the source gives the developer a way to transmit his code to anyone debugging it without requiring auxiliary mechanisms such as source control servers or saving sour

[2015-09-22 22:19] rchande commented on #5291
I installed today's build and I'm still getting this. Reactivating.

[2015-09-22 22:41] gafter commented on #5172
@gordanr Since a *with-expression* is syntactically a *primary-expression*, you don't need parens to dot off them, and you can chain with expressions without parens.

[2015-09-22 22:41] jods4 commented on #120
This is interesting because in some domains, using substrings or subarrays is very common and either (a) awkward (manually passing start index and length, not compatible with many existing methods/libs) or (b) costly (making new copies each time).

But I think that to be truly successful, the new `Slice<T>` type should be magically a subclass of `T[]` and `string`, etc. You need to be able to pass

[2015-09-22 22:43] gafter commented on #5397
/cc @tmat

[2015-09-22 22:48] gafter commented on #5388
We [would not do this as a compiler feature](https://www.youtube.com/watch?v=5XZ_5B5mJS0). However, it is an interesting scenario for a possible analyzer that could offer a fix. Please reopen a request for such a fixer if that is what you want.

[2015-09-22 22:48] #5388 closed

[2015-09-22 22:50] AlekseyTs commented on #5348
Yes, looks like the same issue as #4615.

[2015-09-22 22:50] #5348 closed

[2015-09-22 22:56] davkean opened #5399 "IntelliSense should not show myself when in base class/interface context"
We shouldn't offer to implement/derive from ourselves:

![image](https://cloud.githubusercontent.com/assets/1103906/10034061/77ac231a-6142-11e5-96c5-a537fa9a42c0.png)

[2015-09-22 22:59] kuhlenh commented on #4392
:+1:

[2015-09-22 23:55] amcasey commented on #4811
It is also impossible to alias a type declared in the same compilation.

[2015-09-22 23:56] amcasey commented on #4811
The root of the problem seems to be that ```Binder.LookupMembersInSubmissions``` unconditionally considers the imports of all submissions (including the current one), ignoring the ```Imports``` passed into the binder.

[2015-09-23 00:02] JoergWMittag commented on #2696
That is *not* what the `!` means in Ruby method names.

First off, although it has already been stated, I want to repeat that, in Ruby, there are *no semantics* associated with `!`. It is simply a valid identifier character as the last character of an identifier. That's it.

It is also not about side-effects. There are plenty of side-effecting methods that don't have a `!` in their name, e.g. `pri

[2015-09-23 00:10] alrz opened #5402 "Proposal: Expression Alternative for Statements"
Following the proposals #254, #3718, #5154, #5143 and others, it would be a good idea to have an expression alternative for other constructs as well.
### Syntax

&emsp;...
&emsp;*if-expression*
&emsp;*try-expression*
&emsp;*iterator-expression*
&emsp;*using-expression*

**Note:** It is not proposed that these be added to the set of syntax forms allowed as an *expression-statement*.

&emsp;`if` `(`

[2015-09-23 00:27] RichiCoder1 commented on #5397
I presume PPDB support would also be desirable?

[2015-09-23 00:39] JoergWMittag commented on #3640
This has nothing to do with `if` being an expression in Ruby. This is the trailing modifier `if` form, which BTW the ISO Ruby Language Specification calls a *statement* precisely *because* in this form the return value makes no sense and is generally ignored.

This is *not* a `for` loop. It is a `for` comprehension, Scala's way of expressing a monad comprehension, which is dressed up to *look* lik

[2015-09-23 01:10] noahfalk commented on #5397
For my particular scenario it doesn't matter but it is easy to imagine other potential consumers of the feature would enjoy PPDB support.

I am working with the build process for .Net Native, the PDB produced by csc will consumed by the NUTC compiler and transformed into a C++ style PDB before the build is complete (I would do work to ensure the source information in the csc produced PDB was trans

[2015-09-23 01:10] JoergWMittag commented on #5355
*Iff* you want to do this, Scala's Semicolon Inference might be a lot better role model than ECMAScript's Automatic Semicolon Insertion.

However, please note:

Even though
* Scala's syntax is simpler than ECMAScript's (and also C#'s)
* Scala was designed from the get-go for Semicolon Inference
* Scala got to learn from ECMAScript
* Scala was much more carefully designed

there are *still* cases w

[2015-09-23 01:28] JoergWMittag commented on #31
Scala has moved its spec into a set of LaTeX-enhanced Markdown files right into the compiler repository: https://github.com/scala/scala/tree/2.12.x/spec The website generated from this looks nice: http://scala-lang.org/files/archive/spec/2.11/

Converting the existing spec would probably be a week's worth of admittedly tedious and very boring work for an intern.

Some benefits other than availabil

[2015-09-23 02:39] davkean commented on #4033
Crefs to internals, as far as I am aware, is by design. They were added to maintain compat with the native compiler (turns out customers do this a lot to both internals and privates). While fixing #3500 to stop looking at internals unless there's InternalsVisibleTo to will fix the above problem, I don't believe it's the correct fix.

[2015-09-23 05:47] KevinH-MS commented on #5069
Looks good

[2015-09-23 07:13] orthoxerox opened #5403 "[Proposal] Custom literals for string-based objects."
A string literal or a raw string literal can be prepended by an identifier:
[code]

This is automatically rewritten to a class constructor or a static function invocation that has a matching attribute:

[code]

If there are two `StringLiteral` attributes with the same parameter in scope, it is a compilation error.

Potential use cases: simplifying the syntax for regexes, constant byte arrays or UT

[2015-09-23 07:30] ErikSchierboom commented on #5383
I love the proposed `with` syntax. It is concise and unambiguous.

[2015-09-23 07:53] alrz commented on #5403
Dup of #4971

[2015-09-23 08:04] dsaf commented on #5403
Actually, it's a duplicate of #263. #4971 was a duplicate of a duplicate. I am pretty sure we will see more of these.

[2015-09-23 08:28] alrz commented on #5403
@dsaf yeah, I just mentioned the head pointer ;)

[2015-09-23 09:02] LinoBarreca opened #5404 "Roslyn/MSBUILD fails when using the dynamic keyword with Linq"
Situation:
menus is an IEnumerable<object> coming from a LINQ expression.
members of "menus" can be of type MenuItem OR ToolStripMenuItem.
in both cases, every member of menus has a "Visible" property.

If I write
[code]
everything works fine.

If (to avoid unnecessary cycles/casts) I write instead
```menus.ForEach(m => ((dynamic)m).Visible = false);```
I get no error in Visual Studio (in the erro

[2015-09-23 09:50] mhgamework commented on #5389
Yes, I can and have stored the solution in a zip archive. Is there a way I can upload this archive here? At the moment I have shared it on my dropbox.
https://www.dropbox.com/s/p8j3v3uqh6u1z52/RoslynIssue5389.zip?dl=0

[2015-09-23 11:39] mattwarren commented on #5388
I wanted to see what the actual difference in performance is, so I wrote the following [BenchmarkDotNet](https://github.com/PerfDotNet/BenchmarkDotNet) benchmark:

[code]

And I got the results below, as @svick  says `StringBuilder` is more expensive for a small amount of loops (up to 3), but gives better performance as the # of loops increases.

[code]

        Method | Loops |         AvrTime |

[2015-09-23 14:39] bkoelman opened #5406 "Difficulties building Roslyn from source"
I'm trying to build my fork of the master branch, using instructions at https://github.com/dotnet/roslyn/wiki/Building%20Testing%20and%20Debugging.

`nuget.exe restore Roslyn.sln` gives several times:
[code]

Then in VS2015, NuGet tries to restore packages, which fails. Build continues and seems to succeed, but the errorlist contains many errors.

![image](https://cloud.githubusercontent.com/asset

[2015-09-23 14:40] bkoelman commented on #5406
tagging @Pilchie because I saw him respond to this NuGet message at https://github.com/NuGet/Home/issues/938.

[2015-09-23 14:44] tannergooding commented on #5406
@bkoelman, Just to confirm. You have at least VS2015 Community Edition + Win 10 Tools and all NuGet Package Manager updates installed, correct?

Also tagging @agocke and @jasonmalinowski

[2015-09-23 14:54] bkoelman commented on #5406
Yes, I added Win10 Tools to an existing Community 2015 RTM installation before starting. In Extensions and Updates there are no more updates for NuGet.

![image](https://cloud.githubusercontent.com/assets/10324372/10048541/b014c5f0-6213-11e5-817f-b35e773e27d0.png)

[2015-09-23 15:05] Pilchie commented on #5406
Also tagging @ericstj @yishaigalatzer and @emgarten.

[2015-09-23 15:18] bkoelman commented on #5406
If it helps: All this is running on Windows 8.1 Pro N [EN-US]

[2015-09-23 16:46] diryboy commented on #5406
Sometimes the nuget packages fail to restore for me, too.

I would suggest you empty the `%userprofile%\.nugget\packages` folder and try again. And if you could spot any failure message for a particular package after that, you could try run `nuget install` for that package inside Roslyn folder, and copy the downloaded files in `..\packages` to the `%userprofile%\.nugget\packages` folder.

After al

[2015-09-23 16:48] diryboy commented on #5406
Edge browser always "correct" nuget into nugget for me..

[2015-09-23 17:08] yunuskiran commented on #5388
I sad :P, because i solve that problem before with stringbuilder.

[2015-09-23 17:11] paul1956 commented on #5375
I have upload the complete project https://onedrive.live.com/redir?resid=5BF2F69E9B9FA722!13530&authkey=!AL9V-1Om3RvM01Q&ithint=file%2czip, the only code is what is automatically created by Visual Studio following the directions above.

[2015-09-23 17:19] lgolding commented on #5375
@Pilchie is this in your are?

[2015-09-23 18:37] KevinH-MS opened #5408 "Investigate performance impact of UseAutoPropertyAnalyzer..."
We're seeing huge regressions in RPS since this was introduced (and possibly in upstream perf testing).  @rchande @CyrusNajmabadi @kevinh-ms need to sync on how we need to test this before re-enabling.

[2015-09-23 19:01] TonyValenti commented on #5383
Hi All,
As I was reading through this, it reminded me of a few ideas I've had floating around in my head.

Regarding Withers, currently it sounds like there would be a lot of generated code and it made me think of this issue #5292 related to source control tooling.  For something like Withers, I feel like we should be able to apply attributes to either classes or even declaration statements to cha

[2015-09-23 19:08] HaloFour commented on #5383
@TonyValenti

That approach for "withers" was mentioned in #5172 ([Comment](https://github.com/dotnet/roslyn/issues/5172#issuecomment-140458834)).  Having to work with multiple intermediate allocations is probably enough reason to not go that route.

[2015-09-23 19:10] #4578 closed

[2015-09-23 19:17] #5394 closed

[2015-09-23 19:18] rchande commented on #5394
Please verify, @KevinH-MS.

[2015-09-23 19:36] VSadov opened #5410 "Add public compiler APIs for the /debug+ functionality"
This is related to  https://github.com/dotnet/roslyn/issues/4103

Generally if something can be done via command line switches, there is also a way to do that via compiler APIs.

[2015-09-23 19:39] jmarolf commented on #2002
@heejaechang can you verify this please?

[2015-09-23 19:39] #5291 closed

[2015-09-23 19:40] jmarolf commented on #2407
@dpoeschl could you verify that the bad code gen is fixed?

[2015-09-23 19:41] jmarolf commented on #2785
@dpoeschl could you verify please?

[2015-09-23 19:41] jmarolf commented on #3080
@dpoeschl could you verify please?

[2015-09-23 19:42] jmarolf commented on #3516
@mavasani could you verify that this was fixed?

[2015-09-23 19:43] #4103 closed

[2015-09-23 19:43] jmarolf commented on #3619
@mavasani could you verify that this is fixed please?

[2015-09-23 19:51] agocke commented on #5406
@bkoelman If the build succeeds but you see errors in the IDE, the problem may be that the IDE's references are stale. I've had to open and close VS after restoring NuGet packages.

[2015-09-23 20:07] diryboy opened #5413 "Roslyn failed to build itself under system codepage 936"
I was building Roslyn with cibuild.cmd, this error happened when the bootstrapped compiler compiles a test project

My system locale is Simplified Chinese/CodePage936/GB2312, from cmd invoke cibuild.cmd failed to build the following file:

    src\EditorFeatures\VisualBasicTest\Diagnostics\GenerateType\GenerateTypeTests.vb(695,114)
    ...
    src\EditorFeatures\VisualBasicTest\Diagnostics\Generat

[2015-09-23 20:07] KevinH-MS opened #5414 "CompilationTracker assumes MetadataReferences are reference equal..."
```Solution.CompilationTracker.cs``` does the following check in two places:
[code]
This only works for real "metadata" references, because they are cached.  If either set contains ```CompilationReferences``` the ```SequenceEqual``` check will fail, and we'll end up calling ```compilation.WithReferences```, which may be expensive (particularly in VB, because of embedded trees).

I have a naïve fix

[2015-09-23 20:07] KevinH-MS commented on #5414
FYI @heejaechang

[2015-09-23 20:54] or150 commented on #5032
I wonder what will happen with the default clause.
ValueTypes have a default ctor and therefore a default value. Reference types on the other hand dont. It will break lots of generic types. Also what will happen to all the TryGetX methods. Will there be a wrapper type for mandatory references (Mandatory<T>)?
I think that the mandatory types (T!) proposal will fit better with existing constucts.

[2015-09-23 20:56] or150 commented on #5032
Mandatory<T>* my phone auto corrected this

[2015-09-23 21:22] jaredpar opened #5417 "Add /deterministic switch to compiler, MSBuild and Workspaces"
This switch needs to be added for update 1 in order for developers to use the deterministic build features of the compiler.  In addition to adding the switch to the compilers we need to plumb it through MSBuild and the Workspaces layer.  The following commit can be used as guidance for the second part of the change.

https://github.com/dotnet/roslyn/commit/55bfdd781fcac523f5e4c648ab4ecc3bfebd2dbf#

[2015-09-23 21:54] Pilchie commented on #5413
Tagging @jaredpar who has looked at some encoding issues before.

[2015-09-23 22:04] jaredpar commented on #5413
Thanks for reporting.  This is a duplicate of #4264.  This has already been fixed and will be included in update 1.

In the mean time you can work around this by adding the following entry int your vbproj file:

[code]

This will override the encoding detection logic to prefer this encoding instead of the standard fall back mechanisms.

[2015-09-23 22:13] davkean opened #5418 "Intellisense"
Auto selection of values for enums should be smarter when inside of an enum and should not include type name:

![image](https://cloud.githubusercontent.com/assets/1103906/10060365/4365537e-6205-11e5-95c3-7f312496827d.png)

If I use that value, then I'm immediately asked to simplify it:

![image](https://cloud.githubusercontent.com/assets/1103906/10060410/816ae152-6205-11e5-8baf-b584593780b2.png)

[2015-09-23 22:15] drub0y commented on #2060
+1 for statement bodied lambdas.

My use case for this has always been the ability to write GPU programs against a framework that just compile as expressions in C# and then get hoisted and transpiled to a GPU specific byte code at runtime such as nVidia's CUDA PTX or even higher level stuff like DirectX/OpenGL's shaders or OpenCL via some kind of provider model.

[2015-09-23 22:26] alrz commented on #5383
+1 to `protectedinternal` — this totally makes sense.

-----------

What about using the existing `IObservable<>` interface for async streams?
[code]
Then `foreach` would support the `IObservable<>` instead of `IAsyncEnumerable<>` — acting as an `IObserver<>`:
[code]
Making it an expression (#5402) would be useful (in @svick's example):
[code]
I assume the `Task<>` implements the `IObservable<>`.

[2015-09-23 22:33] HaloFour commented on #5032
@or150 Actually the ctor of a value type is entirely optional.  C# 6.0 allows defining a default parameterless ctor for a value type and if you then use `default(type)` that ctor is never called:

[code]

It doesn't appear that the behavior of `default()` is mentioned in the proposal.  The question I think would be whether or not it could be applied to a non-null reference type.  Would `default(st

[2015-09-23 22:34] NightElfik commented on #5032
@or150 In ideal world without backwards compatibility and with strict nullability rules, I can imagine that `default(T)` is not valid for non-nullable `T`. In this world you would not need `TryGet` methods at all because `Get` (or indexer) would return `T?` - nullable reference/struct. When you need `detault(T)` it is a sign that you actually need nullable type anyways and `default(T?)` should giv

[2015-09-23 22:35] axel-habermaier commented on #5383
private protected: just do it! It is rarely used anyway but I've missed it on more than one occasion...

[2015-09-23 22:39] Pilchie commented on #5375
We own the analyzer template, but not the Visual Studio Menu Item template.  I'll follow up internally with the VS SDK team and report back here.

[2015-09-23 22:43] davkean opened #5419 "Not offered enum preselection inside an enum if the expression contains more than one OR (|)"
Given the following:

[code]

I'm not offered preselection at the selected location. If I type the same thing at an argument to a method, I _am_ offered preselection.

[2015-09-23 22:48] davkean commented on #5419
Hmm, can't figure out logic here, I'm not offerred preselection in the following:

[code]
But _am_ offered preselection in the following:
[code]

[2015-09-23 22:51] paul1956 commented on #5375
The template is VB, but somehow something in the Visual Studio reporting errors identical to what the C# compiler would report if I tried in VB code. Also Visual Studio source window shows no warnings or errors, only the Error Windows and all the Errors start with error CSxxxx.

[2015-09-23 22:57] Pilchie commented on #5375
Yep, I noticed that the project file imports Microsoft.Csharp.targets instead of Microsoft.VisualBasic.targets. Maybe the template updated it incorrectly.

[2015-09-23 23:00] HaloFour commented on #5383
@alrz Check out the comments in #261 re async streams and `IObservable<T>`.  Needless to say I'm a huge proponent and I think supporting both would be useful.  The argument against language support for `IObservable<T>` streams being that Rx makes them so easy to create.  As for consuming an `IObservable<T>` I imagine that it will be very simple to write an extension method that adapts to `IAsyncEn

[2015-09-23 23:46] danieljohnson2 commented on #5032
Java has already done something similar to this warningtastic proposal. Java's erased generics are enforced through warnings; if you can avoid all such warnings, your program is statically type-safe and runtime checks are not needed.

But you can disable the warnings, and then Java's generics become something else. They become more like Objective-C's 'id' type: they imply invisible, automatic, and

[2015-09-24 00:09] HaloFour commented on #5032
@or150 Ah, you're right.  That must've been cut prior to release.  But `default(type)` doesn't invoke any ctors (default or otherwise), it only emits the IL opcode `ininobj` which just assures that the memory location is zeroed out.

As for the whole dialect thing, there's a lot about it that leaves room to be desired.  For example, the entire "opt-in" for your project thing.  That seems way too c

[2015-09-24 00:13] dpoeschl opened #5422 "Making sure all unit tests actually run."
While investigating a problem with PR #5328 today with @amcasey and @jmarolf, we found that the `AddAwaitTests` had a `public void Test()` method in them, and the existence of this method causes xUnit to ignore all tests from the entire containing type, without issuing a test failure. On commandline xUnit runs, you can see a `System.ArgumentException [FATAL]` with the following description, but st

[2015-09-24 00:34] apskim commented on #5383
@HaloFour `private protected` is currently the best way to replicate "closed records" — a functionality that can only be implemented by a fixed number of classes in a closed hierarchy.

[2015-09-24 00:34] genlu commented on #5130
Fixed by https://github.com/dotnet/roslyn/issues/5339

[2015-09-24 00:34] #5130 closed

[2015-09-24 00:36] paul1956 commented on #5375
Changing CSharp to Visual on project imports statement has no impact

[2015-09-24 00:39] amcasey opened #5423 "Usings should not propagate into or out of #loaded scripts"
Script.csx:
[code]

Interactive:
[code]

[2015-09-24 00:39] amcasey commented on #5423
See tests tagged with this issue.

[2015-09-24 00:41] amcasey commented on #5422
FYI @tannergooding

[2015-09-24 00:47] gafter commented on #5403
You can already do this using an extension method:

[code]

[2015-09-24 00:47] #5403 closed

[2015-09-24 00:48] gafter commented on #5402
This seems more like a concept than a proposal.

[2015-09-24 00:50] diryboy commented on #5413
No, I don't think this is duplicate. I was compiling Roslyn. The cibuild.cmd bootstrap itself then use the new compiler to compile Roslyn, if it's fixed then this won't happen.

[2015-09-24 00:56] #4177 closed

[2015-09-24 00:58] genlu commented on #4777
Fixed by https://github.com/dotnet/roslyn/pull/5339

[2015-09-24 02:45] VSadov commented on #276
I guess that since Roslyn runs on linux/mac/mono and that the mono branch has not been updated since February, this issue is no longer relevant.

[2015-09-24 02:45] #276 closed

[2015-09-24 02:46] Pilchie commented on #5389
Thanks!  I've saved a copy of this inside Microsoft if you want to free up the space on your dropbox.

[2015-09-24 03:14] ashmind commented on #205
@gafter Can you please elaborate?
Is it a question of effort, or is it rejected from the language design?

If it's the design, then it would be very useful good to discuss why, to avoid spending time on similar proposals (e.g. ||=).

If it's the effort, then can't it be "Up For Grabs" instead of Closed?

[2015-09-24 03:24] diryboy opened #5424 "Need a way to reopen issue"
I reported #5413 and it was considered duplicate which I don't, but I cannot reopen it. It would be nice to be able to do so.

[2015-09-24 03:25] metatron-the-chronicler commented on #3640
Pedantry is not very useful here. I mean expression in the sense described here: https://en.wikipedia.org/wiki/Expression_(computer_science)  In the case of the guard (statement modifier) the result of if still must be computed to determine whether to execute the left hand side of the whole expression. The value isn't being thrown away at all, it is controlling the flow of the program.

The whole

[2015-09-24 05:04] jmarolf commented on #5375
@paul1956 You will need edit the vbproj file directly.  I am testing a fix for this now.

[2015-09-24 05:38] paul1956 commented on #5375
@jmmarolf no issue editing the file that is how I found the CSharp line.

[2015-09-24 05:59] #3967 closed

[2015-09-24 06:17] jmarolf commented on #5375
You changed
[code]
To:
[code]

And it didn't change the errors when you built?

[2015-09-24 07:02] zinvob commented on #5200
Extra sidenote: When using Suggestion Mode, it's not possible to press "Enter" to select IntelliSense, I have to use Tab or press up/down arrowkeys first. So even Suggestion Mode is not as it used to be.

Rule of thumb: Any automatic typing behaviour in the IDE must have a setting to be turned off, and have this remembered when restarting the IDE.

Another big frustration for me is automatic end b

[2015-09-24 07:33] paul1956 commented on #5375
No I changed the
    <Reference Include="Microsoft.CSharp" />
To
    <Reference Include="Microsoft.VisualBasic" />
which did nothing but your fix, fixed most of the issues. The only issues I am seeing are a implicit variables from the Template while my project sets Option Explicit ON. It seems like something that the templates should honor but I can easily fix. Thanks for your help.

[2015-09-24 07:55] emgarten commented on #5406
@bkoelman what are your sources? Try running *nuget.exe sources* from the Roslyn root directory to get the list.

[2015-09-24 08:00] gafter commented on #205
The benefits of this proposal do not overcome the drawbacks in terms of language complexity. It is unlikely to ever have a high enough benefit-for-cost to make us prefer it over many other things we could do in this release or many releases into the future.

[2015-09-24 08:42] qrli commented on #5032
@NightElfik @HaloFour
I think the generic dilemma is already mentioned in OP. There is one paragraph talking about how to solve the generic type issue. In my understanding, it means generic T is treated as before, it means T? for reference types and T! for value types. And it allows you to use T? and T! to enforce it.
So default(T) and default(T?) are null for reference types.

To me, it is an acc

[2015-09-24 09:12] gafter commented on #4509
@rawling Are you interested in working on a specification (and perhaps reimplementation) of the dynamic binder for operator overloading? I think the dynamic binder is now open-source. If you are interested perhaps you can propose to change it to behave as you prefer.

[2015-09-24 09:42] bkoelman commented on #5406
@diryboy cleared cache; during cibuild.cmd I see the same NuGet warnings reappear.
@agocke tried restart of VS several times, leaving idle for some time or rebuild; did not help.

@emgarten Output from `nuget.exe sources`:
[code]

Full build output:
[code]

Once the build has completed and VS becomes idle, it starts generating lost of errors in de errorlist window, like screenshot above. I did not

[2015-09-24 10:46] diryboy commented on #5406
Did cibuild run successfully(including the tests afterward)? I saw the same warning messages, but no errors in VS. Did you try deleting the `.vs` folder under the solution root and open Roslyn.sln again?

[2015-09-24 11:07] diryboy commented on #5200
I remembered that in old version of VS the commit characters are configurable, but since I prefer the current aggressive mode, I'm ok with this, well, except when working with VB in unfamiliar codebase.

I believe automatic brace completion can be turned off from Options > Text Editor > C# > General

[2015-09-24 11:21] rawling commented on #4509
@gafter Oh fair enough, I assumed Roslyn included the dynamic binder but if not I'll stop bothering you with dynamic binder questions!

[2015-09-24 12:26] alrz commented on #5383
@HaloFour My point is, `Task<>` is an `IObservable<>` at heart, no matter for a single value or a sequence of values. And it's push-based. To quote @tpetricek:

so does `Task<>`. And since `IObservable<>` exists in the BCL, [why doesn't `Task<>` implement it?](http://blogs.msdn.com/b/pfxteam/archive/2010/04/04/9990349.aspx)

I think that this syntax for supporting `yield return` is consistent and

[2015-09-24 12:31] monoman commented on #5406
AFAIK, Windows 10 Tools doesn't install on Windows 7 (Professional), so
that's probably why I'm unable to build Roslyn on Win7...

Rafael Teixeira
O..:.)oooo

On Thu, Sep 24, 2015 at 7:46 AM, Paul Chen <notifications@github.com> wrote:

[2015-09-24 12:57] HaloFour commented on #5383
@alrz I'd agree with you.  A `Task<T>` is a simple `IObservable<T>` of a single value.  Rx already contains an extension method to wrap a `Task<T>` as an `IObservable<T>`.  However, an `IObservable<T>` is not a `Task<T>` as the former can represent more than one result, e.g.:

[code]

The big difference between `IAsyncEnumerable<T>` and `IObservable<T>` is that the former completely pauses at `yie

[2015-09-24 13:05] HaloFour commented on #5383
@apskim How would that same functionality not be achieved through `internal`?  By using an `internal` base constructor or `abstract internal` members you are ensuring that only types defined within the same assembly can derive from the base type.  `private protected` buys you the extra protection that other non-related types within the same assembly couldn't call those `abstract` members directly,

[2015-09-24 13:28] alrz commented on #5383
@HaloFour

It doesn't matter, you can think of it as an abstraction, it represents one or more value, that is. In Rx you can await an `IObservable<>` so  you'll get the **lastest** value, whether it's the only value or not.

If it does so what's the point, you can return an `IEnumerable<Task<T>>` and iterate.

[2015-09-24 13:57] HaloFour commented on #5383
@alrz It matters a lot if you're trying to generate or consume more than a scalar value.  :smile:

And yeah, `IAsyncEnumerable<T>` could be pretty easily represented by `IEnumerable<Task<T>>` as long as you have a convention for how the final `Task<T>` represents that there are no more elements, e.g. failing with `NoMoreElementsException`.  Standard LINQ and the like would not work at all as expec

[2015-09-24 15:13] scottsteesy commented on #5032
The concept of having a non-nullable reference type is very interesting, but it seems like most of this proposal is guaranteed to cause all kinds of confusion and problems when mixing old and new code.

Just a thought, but wouldn't it be easier to just add an attribute to the class that says it is supposed to be non-nullable and define a special (static?) constructor ( MyClass!() ) to define the "

[2015-09-24 15:55] amcasey commented on #5422
@dpoeschl Is there a particular commit one could check out to repro the issue?

[2015-09-24 16:04] ericfe-ms opened #5428 "Remove DebuggerMetadataExtensions class, once newer version of debugger is integrated to Roslyn"
The class Microsoft.VisualStudio.Debugger.Metadata.DebuggerMetadataExtensions is a temporary stub until the expression evaluator consumes the VS 2015 Update 1 version of Microsoft.VisualStudio.Debugger.Metadata.dll.  Once the references are updated, this class should be removed.

[2015-09-24 16:08] HaloFour commented on #5032
@qrli

New generic constraints would require CLR changes, although perhaps they could be expressed through the same attribute/erasure method.

Let's take the following method:

[code]

It would seem that the compiler would be required to treat consumption of this method as follows:

[code]

[2015-09-24 16:22] HaloFour opened #5429 "Proposal: Infer generic type based on target"
### Problem

When calling generic methods where the generic type parameter is only used as the return value of the method there is currently no inference which leads to repetition.

[code]
### Proposal

It would be convenient if in the specific case of the generic type parameter being the return type if the compiler could infer the generic type argument based on the destination of the result.  Thi

[2015-09-24 16:31] Pilchie commented on #5419
This is likely an issue with whether the Type Inference service handles these specific syntactic constructs.

[2015-09-24 16:37] Pilchie commented on #5418
In VS2013, we don't preselect here at all.  Arguably, the current behavior is better, because it allows you to quickly get to a filtered list of allowable values.

In VB, we would show the Common/All tab in this case with just the values, but we never had that in C#.

[2015-09-24 16:41] Pilchie commented on #5399
We should also remove: Enums, structs, and delegate types from the list here.

[2015-09-24 16:59] Pilchie commented on #5384
Example of the issue:

![image](https://cloud.githubusercontent.com/assets/312835/10080112/a9fd0666-62a2-11e5-80e8-85ca4dfb1099.png)

Clicking the "Show fixes" shows fixes for the other issue, you don't see:

![image](https://cloud.githubusercontent.com/assets/312835/10080134/c4655080-62a2-11e5-90a0-d331675c69e3.png)

---
Questions:
1. Why doesn't the suppress option show?  That would at least hav

[2015-09-24 16:59] Pilchie commented on #5384
Let's think about options here @CyrusNajmabadi @DustinCampbell @dpoeschl

[2015-09-24 16:59] Pilchie commented on #5384
Also tagging @shyamnamboodiripad who might have thoughts.

[2015-09-24 17:01] dpoeschl commented on #5424
This is a request for GitHub itself, or for us to write something into @dotnet-bot (or similar) that lets you type "reopen this" or some other command to cause the bot would reopen it on your behalf.

One of the problems is that just reopening it might not be enough to get the issue noticed. If it's in an old milestone that isn't part of any current triage process, then it might go undetected for

[2015-09-24 17:02] dpoeschl commented on #5413
Reopening on @diryboy's behalf for now, as per #5424.

[2015-09-24 17:05] jaredpar commented on #5413
@diryboy @dpoeschl ah okay.  I misread the original bug report.

[2015-09-24 17:06] dpoeschl commented on #5422
@amcasey This is the last commit before @jmarolf checked in the rename away from ```Test()```: https://github.com/dotnet/roslyn/commit/dd396a80d64ee47ff2d984d7582ef1a013ddf159

Running xUnit on ```Roslyn.Services.Editor.CSharp.UnitTests.dll``` from the command line will show the error I mentioned above, and no tests under AddAwaitTests will actually be run.

[2015-09-24 17:09] diryboy commented on #5413
@jaredpar I didn't explain the issue well earlier, apology for that.

[2015-09-24 17:10] jaredpar commented on #5424
@diryboy unfortunately there isn't a way we can give users the ability to reopen bugs (or even label them) without also making them full contributors to the project.  If the granularity existed I think it's something we would definitely consider adding (it would be really nice if users for example were allowed to label bugs).  Right now though there just aren't any options available for us.

Leavi

[2015-09-24 17:12] diryboy commented on #5424
Thank you @dpoeschl and @jaredpar, I didn't know this was the limitation of GitHub.

[2015-09-24 17:44] Pilchie commented on #5406
Win10 Tools *do* install on Win7.  You just can't use things like the designer or the emulators.

[2015-09-24 17:49] apskim commented on #5383
Exactly, this is an extra layer of protection for yourself and your teammates, nothing more. My general policy is that any coding guidelines you have should be expressed in the code whenever possible, not in the docs or any other form of tribal knowledge. We don't treat our team developers any differently from other developers in that regard: a compiler is your best enforcer.

Besides, `private pr

[2015-09-24 17:55] TyOverby opened #5431 "Enable deterministic mode by default"
The compiler should have determinism enabled by default.

This issue is filed so that I have an issue number to include in my TODO comments.

[2015-09-24 17:57] alrz commented on #259
Does this proposal include the anonymous class declarations?
[code]

[2015-09-24 18:48] carlos-sarmiento opened #5433 "Support for getting values from dynamic with default in case value doesn't exist"
When working with dynamic objects in many languages, there is a construct that allows you to get the value of a property and if said property doesn't exist, return a default value.

It would be very useful to provide a similar method/syntax when working with dynamic in .NET to check if the a requested property exists and if it does not, return a default value. This would be particularly useful wit

[2015-09-24 21:07] xal1983 commented on #4987
Hi Dustin,
I think the issue is a different one. This github issue was created based on the following in connect:
https://connect.microsoft.com/VisualStudio/feedback/details/1664523/typedescriptionprovider-ignored-when-base-class-is-generic

You are correct assuming that generic base classes were never allowed directly in windows forms designers. Neither were abstract classes.

There was a mechani

[2015-09-24 21:28] dpoeschl commented on #5424
Reopening so the infrastructure team can discuss whether we'd like to set up anything here to get around the GitHub limitations.

[2015-09-24 22:11] amcasey commented on #5428
@KevinH-MS This work depends on internal bug 131134, so I've assigned it to you.

[2015-09-24 22:26] dpoeschl commented on #5422
The exception & message above are *only* output to stderr by default. They aren't printed to standard out or to a specified xml output file (the skipped type isn't mentioned whatsoever).

Also, the problem appears to be more widespread. Just noticed this one:

``` Ambiguous method named TestEquivalenceKey in type Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Diagnostics.GenerateMethod.GenerateMet

[2015-09-24 22:47] tannergooding commented on #170
@KevinH-MS, this only fails when the dynamic method call returns void.

[2015-09-24 22:54] tannergooding commented on #594
@cston, this impacts any submission that ends with the Intellisense dialog still open.

[2015-09-24 22:56] #5240 closed

[2015-09-24 23:00] ManishJayaswal commented on #5297
Does not impact interactive window scenario.

[2015-09-24 23:09] ManishJayaswal commented on #4932
Lets fix rename and add using ( code fix) for 1.1 while we figure out the what to do with rest of the refactorings.

[2015-09-24 23:16] tannergooding commented on #2968
@ManishJayaswal, This is the same as #170

[2015-09-24 23:19] tannergooding commented on #2421
@tmat, is there an issue with linking the packages today, or do we need to ensure the deterministic flag is added first?

[2015-09-24 23:46] kuhlenh opened #5438 "[Interactive] Can't find files from an added SourcePath"
When you try to add a SourcePath and then ```#load``` a script file from that path, the Interactive Window fails to find your script file.

[code]

[2015-09-25 00:33] dpoeschl commented on #5422
The ```GenerateMethodTests+GenerateConversionTest``` class was the only other one in the test suite with this problem, so I have PR #5441 out to re-enable them (if tests pass).

[2015-09-25 00:49] brettfo commented on #5013
FYI, the internal integration test `CSharpReplIdeFeatures` will need to be re-enabled when this is fixed.

[2015-09-25 01:06] #2968 closed

[2015-09-25 02:48] qrli commented on #5032
@HaloFour
Your example is interesting. Generalize the question a bit: Since `X` is a subset of `X?`, should `X` be allowed to be used as `T?`?
[code]
I would like to see it is allowed, because it would provide better backward-compatibility with old code. But the `default(T)` inside Foo<T>() is indeed a trouble. More over, Foo<T>() may simply assign null to variable of T. So it seems this cannot be

[2015-09-25 03:00] diryboy commented on #5358
In VS2013, `[,]` is not treated as empty, and always add/remove spaces no matter what `SpaceAfterComma` is.

[2015-09-25 03:16] diryboy commented on #5358
Interesting, in VS2015, regardless what `SpaceAfterComma` is
`[, ]` when `SpaceBetweenEmptySquareBrackets, false` & `SpaceWithinSquareBrackets, true`
`[ ,]` when `SpaceBetweenEmptySquareBrackets, true` & `SpaceWithinSquareBrackets, false`
`[ , ]` when `SpaceBetweenEmptySquareBrackets, true` & `SpaceWithinSquareBrackets, true`

[2015-09-25 06:39] orthoxerox commented on #5429
Is it really that much easier/neater to write the first line instead of the second?

[code]

I personally feel betrayed by the compiler every time I have to write the type of a local instead of using `var` (out parameters, conditional assignment etc). :)

[2015-09-25 08:25] zinvob commented on #5200
I thought that only turned off the {}. Works good enough now. Brace completion could actually work for most situations if they also supported automatic adding of start brace.
Example:
if (somecondition)
code
code
<- enter }
auto behaviour traverse back to find first logical place for brace start and format ends up with
if (somecondition)
{
  code
  code
}

This will cover my normal usage. I wrap e

[2015-09-25 08:37] Joe4evr commented on #5200
@zinvob When you write `if` and double `tab`, the IDE will automatically insert the snippet
[code]
with the cursor selecting `true`, so you can immediately write your condition. When you then press Enter, it'll move the cursor into the braces. Does that sound like the kind of behavior you want?

[2015-09-25 08:46] zinvob commented on #5200
No, this will not cover when I want to wrap existing code inside an IF. But the functionality I described will.Lets say I have

code1
code2
code3
code4

Then I want to put code2 and code3 inside an IF. Then I could insert "if (condition)" between code1 and code2, move down and insert } between code3 and code4 and have the start brace added. If this is implemented, normal auto add close bracket wil

[2015-09-25 08:56] paul1956 commented on #5375
@jmarolf making the changes above fill all compiler errors and the project builds but the code gets an error when I try to run it. Again none of my code just the default VXIX Project and the command button.
![image](https://cloud.githubusercontent.com/assets/12789369/10096492/dddd1550-6326-11e5-941b-03ddf2a87266.png)
[code]
This only happens in the Test copy of Visual Studio when I start it from t

[2015-09-25 09:14] paul1956 commented on #5375
After changing the two instances of CSharp to VisualBasic and the fixes listed above the solution builds with no errors but when I run the application I get an error on load.
[code]
This error is not present in the Analyzer.sln version of Visual Studio only the one that gets run when I hit F5. Again none of my code except for the changes to get the solution to build.

[2015-09-25 09:21] axel-habermaier commented on #5383
@HaloFour: I don't recall the specific circumstances anymore. But at one point I had the need to add a ``virtual protected`` method to a base class that _can_ be derived externally. However, the ``protected`` method should not be visible in external assemblies, as it is an _internal implementation detail of the class hierarchy_. So why make it ``internal``? That gives other people the idea that th

[2015-09-25 09:26] diryboy commented on #5200
You can select the lines and press <kbd>Ctrl</kbd> + <kbd>K</kbd>, <kbd>Ctrl</kbd> + <kbd>S</kbd>, then type `if` and choose

[2015-09-25 09:59] zinvob commented on #5200
dirtyboy: Could help maybe if the "if" wrap could be connected directly to a shortcut. But still will not help for the last scenario I described, adding extra code to a oneliner if. It also gives more work, selecting the text and walk down the different menu sections to find "if". I will use less time just writing if even when I have to delete the } bracket and write } at the end instead of doing

[2015-09-25 10:23] filipw opened #5442 "cannot implicitly convert type bool (System.Runtime) to bool (mscorlib)"
I have an empty .NET .4.5.2 project, using VS2013. Latest .NET 4.5.2 developer pack installed.
Installed `Microsoft.CodeAnalysis.Workspaces.Common` package.

The following code causes intellisense to break on `SupportsSyntaxTree`:

[code]

<img width="1504" alt="screenshot 2015-09-25 12 07 18" src="https://cloud.githubusercontent.com/assets/1710369/10098223/ec5325e4-637f-11e5-9639-d6d0eae412a7.png

[2015-09-25 10:24] filipw commented on #5442
BTW, .NET 4.6 is also installed on that machine, and switching the project to .NET 4.6 makes all the problems go away

[2015-09-25 11:30] alrz commented on #5429
Additional use case on properties and/or methods:
[code]

[2015-09-25 12:06] gafter commented on #5431
I suspect this is marked "Blocked" as we do not have a spec that allows us to put anything other than the build time in the assembly's timestamp field, and we are working separately on such a spec.

[2015-09-25 12:11] HaloFour commented on #5429
@orthoxerox

In that scenario it's definitely not an improvement.  I'm thinking specifically of scenarios where the target is already defined, whether it be an existing variable or a property.  The inspiration for this is in the proposal itself, someone I work with complaining about having to explicitly specify the generic type argument when calling the `DataRow.Field<T>` extension method when the

[2015-09-25 12:32] alrz opened #5443 "using static and instance method ambiguity"
In the code below, while the IntelliSence shows the `BitConverter.ToString` method and `Object.ToString` is not even a static method and also they accept different parameters, compiler produces the following error, which doesn't make sense.
[code]
Even if there was a static member method with the same name in the scope, I would suggest the `::` operator to disambiguate it.
[code]

[2015-09-25 12:38] dsaf commented on #5429
What if there are non-generic overloads of the ```Field``` method? Would you do what you have suggested in #2319 (which is somewhat related):
[code]

[2015-09-25 12:49] dsaf commented on #5429
I think this proposal could make a real impact when using mocking frameworks such as NSubstitute and FakeItEasy:

[code]

vs

[code]

[2015-09-25 13:21] pmpjr commented on #4224
Got low telemetry numbers, let's get rid of it. That's the way to handle it. How about looking at yourselves and admitting that you did not promote or educate the developer community well enough on this CDW feature. Now as people evangelize about CDW used in VS 2013, they find it gone in VS 2015. Yeah, good move Microsoft!

[2015-09-25 14:07] jaredpar commented on #3616
I just tested this out against Visual Studio 2015 RTM and the current master branch of RavenDB.  I was able to build the entire solution without errors.  There were a number of late bug fixes to this particular area of the compiler.  It seems that one of them fixed this issue.

[2015-09-25 14:07] #3616 closed

[2015-09-25 15:17] alrz opened #5444 "Proposal: Instance Method Delegate (Method References)"
Currently you can create delegates from static methods and non-static methods of a specific instance:

[code]

But what if you want to create a _direct_ delegate from a non-static method without a specific instance? Currently this is supported by `Delegate.CreateDelegate` but it's too verbose as you must specify the exact delegate type and pass the `MethodInfo` using reflection. I propose the inst

[2015-09-25 15:18] alrz commented on #140
@ashmind What about Java syntax for this: `Y::new`? also it is consistent with #5444.

[2015-09-25 15:24] alrz opened #5445 "Proposal: Forward Pipe Operator"
When you are chaining multiple methods to one another you might end up with something like this:

[code]

Using forward pipe operator it can be written as (in the same order that they will be executed):

[code]

We can take a step further and specify named args (similar to currying proposed in #3171):

[code]

Since C# is not exactly a functional language, forwarding to the last parameter wouldn't

[2015-09-25 15:32] #5375 closed

[2015-09-25 15:45] cston opened #5446 "Copy in Interactive Window drops colors"
1. In Interactive Window, enter:
```> var o = new System.Object();```
2. Copy text
3. Paste in Word

Result: Text and font are copied to RTF format, but colors are not.

[2015-09-25 15:51] svick commented on #5443
I think case 1 of #250 would solve the ambiguity.

[2015-09-25 15:53] HaloFour commented on #5445
You already mention #3171 so you must be aware that this is a dupe.

[2015-09-25 16:12] jaredpar commented on #3733
@MsDerekMa I tried reproing this locally and was unable to do so.  Here is the setup I used:

1. Created a class library with an AnyCPU target
2. Created a console app targeting x64
3. Add a reference from console app to class library

At this point the solution builds without any errors or warnings.

Is there something I missed in my setup that would help repro this bug?

[2015-09-25 16:41] jaredpar commented on #3926
@pdelvo does this cause any errors when loading code contracts from the IDE?  Or is it just when loading via the MSBuildWorkspaces API?

[2015-09-25 16:49] jaredpar commented on #5404
Thanks for taking the time to report this issue.

Can you check your project to see if it has a reference to Microsoft.CSharp.dll?  That error should only occur if that particular reference is missing.  When that reference is present the error should not occur.

[2015-09-25 16:53] jaredpar commented on #4699
Here is a simple repro for this problem

[code]

Type out a call to `Test()` inside the `Use` method and the IDE will crash with the above stack trace.

[2015-09-25 16:59] mattwar commented on #5395
That's just our way of forcing user code to be simpler. :smirk:

[2015-09-25 17:21] RichiCoder1 commented on #5444
That's actually rather clever.

[2015-09-25 17:43] Pilchie commented on #5442
This is a known issue in VS2013 with desktop projects referencing PCL projects.  The facade assemblies are automatically added to compilation, but not to the IDE.

This is fixed in VS2015.

[2015-09-25 18:02] HaloFour commented on #140
IIRC you couldn't create a direct delegate to a constructor regardless of syntax.  Something like `Func<Y> f = Y::new;` would probably have to be converted to `Func<Y> f = () => new Y();`

[2015-09-25 18:12] alrz commented on #140
@HaloFour yeah but it will be very helpful e.g. in `items.Select(Foo::new);` you won't even need to worry about constructor overloads since it will be inferred from usage.

[2015-09-25 18:20] amcasey opened #5450 "Global usings should be inherited from previous submissions"

[2015-09-25 18:35] amcasey commented on #4811
Consider mining https://github.com/amcasey/roslyn/tree/AbandonedGH4811.

[2015-09-25 18:35] amcasey commented on #5423
Consider mining https://github.com/amcasey/roslyn/tree/AbandonedGH4811.

[2015-09-25 18:35] amcasey commented on #5450
Consider mining https://github.com/amcasey/roslyn/tree/AbandonedGH4811.

[2015-09-25 18:45] HaloFour commented on #5444
:+1:

[2015-09-25 19:03] mavasani commented on #4266
This is now checked in.

[2015-09-25 19:03] #4266 closed

[2015-09-25 19:05] mavasani commented on #4261
This is now checked in.

[2015-09-25 19:05] #4261 closed

[2015-09-25 19:21] filipw commented on #5442
so you are saying that it's not possible to have a desktop project referencing Roslyn packages (cause that means PCLs) and targeting < .NET 4.6 in VS2013? That sounds like a pretty big deal

[2015-09-25 19:26] mavasani commented on #2915
I am moving this out - we currently have an analyzer and documentationion with samples to show the correct way to register syntax node actions w.r.t code blocks. We can discuss if we need to fix this once Sri is back.

[2015-09-25 19:28] KevinH-MS commented on #5260
We should also consider whether this can be made more general.  Metaprogramming may introduce new trees to the compilation that have no corresponding Document.

[2015-09-25 19:34] #3826 closed

[2015-09-25 20:53] gafter commented on #5445
The symbol `->` is already an operator in C#, but the concept could be done with a different syntax.

[2015-09-25 20:55] #5443 closed

[2015-09-25 20:56] gafter commented on #5443
Indeed, this is an example of #250.

[2015-09-25 21:00] gafter commented on #5181
We are unlikely to do this in the forseeable future. Any effort to devirtualize calls would be focused on the jit.

[2015-09-25 21:00] #5181 closed

[2015-09-25 21:14] pharring commented on #5446
I believe Clipboard Copy uses printer colors. You may have to do something to enable color printing or set the appropriate printer colors in your text view/buffer.

[2015-09-25 21:39] anatay opened #5455 "Bad FullName for dynamic view members"
Say you're debugging the following code:

        static void Main(string[] args)
        {
            dynamic expando = new ExpandoObject();
            expando.Name = "Bob";
            expando.Age = 5;
            List<int> intlist = new List<int>();
            intlist.Add(1);

            expando.DateOfBirth = "12/12/2005"; // breakpoint on this line
        }

You can inspect expando's Dyna

[2015-09-25 21:42] alrz commented on #194
For something like `$"{b:x2}"` this can be just translate to `b.ToString("x2")`.

[2015-09-25 21:42] amcasey commented on #5455
FYI @ManishJayaswal - this is a report from an internal customer.

[2015-09-25 21:50] jinujoseph opened #5456 "ErrorLogger need to be a public API"
http://source.roslyn.io/#Microsoft.CodeAnalysis/CommandLine/ErrorLogger.cs,f724fbca034fb970

With SARIF being the standard format for issues, I think having a ErrorLogger which knows how to translate to that format will be quite handy.

[2015-09-25 21:53] piersh commented on #4019
pathetic. get a QA team already.

[2015-09-25 23:37] #4930 closed

[2015-09-25 23:52] #3142 closed

[2015-09-26 00:16] amcasey opened #5462 "Move cursor to start of line on cut line"
Cursor at ```|```; no selection.  Ctrl-x to cut.
[code]

Expected
[code]

Actual (Note: space is virtual)
[code]

[2015-09-26 00:19] amcasey commented on #5462
Scenario 2:
[code]

Expected
[code]

Actual (Note: space is virtual)
[code]

Now ctrl-v to paste the line back:

Expected
[code]

Actual
[code]

[2015-09-26 01:25] qinxgit opened #5463 "VB code analyzer doesn't analyze ObjectCreationExpression node in VB when declaring in a named field"
@michaelcfanning

See reproducing code in
https://github.com/qinxgit/roslyn-analyzers-bug

Steps of Repro:
Download the code from the link above, build, and DEBUG the test case TestVBFieldDeclaration from Test Explorer in VS2015.

Expected:
In the debug output window, there should be a line printed:

The ObjectCreationExpression node is analyzed

Actual:
No such a line is printed.

Analysis:
The a

[2015-09-26 02:56] steffenloesch opened #5464 "Creating compilations for projects with 'ReferenceOutputAssembly' fails"
I'm trying to open a MsBuild project

[code]

where the csproj file has a reference like this:

[code]

When I do that, GetCompilationAsync throws the following exception

[code]

If I remove the ReferenceOutputAssembly line, everything works fine.

[2015-09-26 03:08] nobledog commented on #4224
Hear, hear. And now a rather long commentary. I would cut MS some slack on this if two conditions are true:

1) Low telemetry really means something akin to "not statistically significant". We don't necessarily have to go 5 sigmas here - we are not looking for the Higgs Boson - but is there an actual cutoff guideline or is really at the whim of the product manager. I don't know what the actual num

[2015-09-26 08:33] alrz opened #5467 "Proposal: Labeled Modifiers"
Labeled access modifiers from C++ not only keep member signatures concise, but also, **encourage to group methods by access modifier** which is currently done by `#region Public Methods` and so on.
[code]
This provides with more focused and readable code since it is guaranteed that methods under a specific access modifier label have a specific purpose, e.g. internal stuff, static helpers, etc.

[2015-09-26 08:35] tpetrina commented on #5445
I love it The code is already sequential and syntax should imply that.
How would you combine this with asynchronous methods?

[2015-09-26 08:36] tpetrina commented on #5444
:+1:

[2015-09-26 09:07] alrz commented on #5445
@tpetrina That wouldn't be a special case, just an `await` before the method name will do the job. And in case of instance methods you would take advantage of instance method delegates (#5444):
[code]
And as @gafter mentioned `->` is already an operator so I think the closest alternative for this, is to borrow `|>` from F#.

[2015-09-26 09:19] tpetrina commented on #5445
Now that looks quite F#ish. Shouldn't you rather write:
[code]

Can you do this?

[code]

[2015-09-26 09:24] alrz commented on #5445
That's exactly what I was afraid of when I proposed `->`!

The former with two `await`s doesn't make sense but the latter is right. The problem is, when you want to pass the value (rather than `Task<>` itself) to the next method you should first await it:

    new StreamReader(path)
    |> await StreamReader.ReadToEndAsync
    |> Console.WriteLine

[2015-09-26 10:02] tpetrina commented on #5445
I see, so you men the code above is equivalent to the following:
[code]

[2015-09-26 12:01] svick commented on #5467
On the other hand, this would make it harder to figure out on first glance which modifiers apply to a method.

Also, I don't think that something like "internal stuff" is a *purpose*, it's more of a technical detail.

My personal style is to group members by their relationship (e.g. a `private static` method would be near a `public` method that calls it). So I don't think making the language more

[2015-09-26 12:31] alrz commented on #5467
@svick

I'm not a native English speaker, sorry about that. I had same problem to conceiving `private protected` while it would make sense for a native speaker.

Your arguments are valid. However, I'm not telling that it could be replaced with the current syntax, as it should be backward compatible. You can continue to use your personal style (before you define any labeled access modifier) and kee

[2015-09-26 16:40] gafter commented on #5467
It seems very unlikely that we'd ever do this.

[2015-09-26 17:41] milutinovici commented on #5154
I agree with @paulomorgado, with addition of comas, case seems redundant.

[2015-09-26 18:23] Pilchie commented on #5442
There is an msbuild property that can be set to force the expansion.  Note that this doesn't just affect use of Roslyn though, it affects *all* PCLs in VS2013.  You can often get away with it because the IDE in VS2013 wasn't as good at reporting errors, but it's definitely annoying.

Try adding `<_HasReferenceToSystemRuntime>true</_HasReferenceToSystemRuntime>` to the project that referencing a PC

[2015-09-26 18:58] afscrome opened #5468 "GenerateEnumMemberCodeFixProvider does not apply if enum type name matches a property name"
Consider the following code:

[code]

I'd expect the GenerateEnumMemberCodeFixProvider to be applicable to the two instances of `Colour.Red`, however it's not.  It seems that because the property name matches the type name of the enumeration, Roslyn reports error CS106 rather than CS0117, so the code fix isn't applicable.  If you change the `Colour` property name to something other than the Enum's

[2015-09-26 19:02] Pilchie commented on #5468
Given that the VS2013 compiler also reported CS1061, I think we should update the code fix to handle CS0117 to handle "Color Color" cases.

[2015-09-26 19:19] afscrome commented on #5468
@Pilchie Can you clarify - you say "update the code fix to handle **CS0117**"?  Did you mean to say **CS1061** instead?

[2015-09-26 20:13] alrz commented on #5467
@gafter why is that?

[2015-09-26 21:29] alrz commented on #3171
@orthoxerox I actually liked the syntax for functions, much like *Mathematica*'s [pure functions](https://reference.wolfram.com/language/tutorial/PureFunctions.html):
[code]
Takes the lambda expression a step further.

[2015-09-26 21:31] Mike-EEE opened #5469 "Data ASTs?"
Hello Roslyn Community. :)

I am curious if I can get a question answered here along with a feature request heard.  I recently found out that Roslyn only supports C# and VB.NET, which was surprising to me.  My thought was that a .NET AST was an .NET AST so all languages are supported.  Guess I am too ambitious/naive in my thinking. :)  I am curious if I can get a pointer to the direction of what l

[2015-09-26 22:16] Pilchie commented on #5468
Doh,  Yes of course.

[2015-09-26 22:19] Pilchie commented on #4754
Back to you, since it appears that #4976 wasn't merged.

[2015-09-26 22:20] Pilchie commented on #4069
Please let us know if you still see a problem here.

[2015-09-26 22:20] #4069 closed

[2015-09-26 22:21] Pilchie commented on #3239
There are a couple of places where we do this (overrides completion being another).  We should think about a better design here.

[2015-09-26 22:40] gafter commented on #5467
It is a pretty significant change with little, if any, value. Note that the first example has a modifier that is not an access modifier, so any actual proposal would likely be more complex than the title would imply.

[2015-09-26 23:09] #5467 closed

[2015-09-27 02:57] jvlppm opened #5470 "Proposal idea: opt-in visibility access modifiers"
# Proposal idea: Ability to create custom additional access modifiers

## Motivation:
When you are developing an API, you want to make
things as simple as possible, but at the same time,
make it flexible so it can be extended.

With this proposal idea you could hide the inner
workings of your API, but at the same time,
allow them to be used in an opt-in manner by a
"power-user" (someone extending

[2015-09-27 03:13] gafter commented on #5470
You can already do this using "privately implemented" interfaces. Why isn't that sufficient to address the use cases?

[2015-09-27 03:38] AdamSpeight2008 commented on #5270
@default0 You could just inherit from `List<Book>`

[2015-09-27 03:54] jvlppm commented on #5470
It works... but,
- you have to cast the other object to have access to its members, making it cumbersome
- if the other object stops implementing the interface, you will have no compiler errors with the casts
- you cannot hide an entire class

with my idea you have something like a named-'internal' or scope that you can easily opt in.

Something like [InternalsVisibleTo("assembly")] would also wor

[2015-09-27 04:00] AdamSpeight2008 commented on #5154
The case for `case ...  ;` is it is much easier to scan read where a *match sectiom*, begins an ends. Since it utilises a similar form to pre-existing constructs ad styles in c#.
[code]

[2015-09-27 08:31] anjdreas commented on #5270
@AdamSpeight2008: If I understand @default0 's case correctly, he wants to reuse the list functionality by composition, but only expose a subset of List<> or IList<> members. At least for me, it comes down to a lot of code for simple wrapper types.

### Usecases
I'm sure there are many usecases for this, but the ones that I've experienced myself or can think of are.

##### Hide members to avoid bu

[2015-09-27 10:29] vladd commented on #5270
@anjdreas Jon Skeet's proposal on mixins is [here](http://stackoverflow.com/a/255621/276994) (didn't find it on his blog).

[2015-09-27 10:57] Crypt opened #5473 "StackOverflowException occurred in Unknown Module"
I have factory methods like this:

[code]

If i call:
[code]

Will be called generic method instead of specific method for string with default param:
[code]

And in generic method occurs loop calling. If method for string without the default value this code is working.
Earlier this code worked fine (Visual Studio 2015 RC). Now I recompiled it with Visual Studio 2015 Community Edition and got this

[2015-09-27 13:53] hughbe opened #5474 "More dyamic (and powerful) optional parameters"
Optional parameters are great for removing code bloat. They also simplify the ease of using and writing code.

Currently, optional parameters must be a compile-time constant. This is, what seems to me, to be an arbitrary restriction that results in extra code.

Take the example below:

[code]

This does not compile, because "the default value for 'dataType' must be a compile-time constant".
Here,

[2015-09-27 14:23] GSPP opened #5475 "Generate more efficient anonymous type members"
The current generation pattern can be found here: http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Compiler/AnonymousTypeMethodBodySynthesizer.cs,ed31274c994e907d

I suggest the following improvements:

1. In `Equals` and `GetHashCode` primitive types as well as `string` should not result in calls to `EqualityComparer<T>.Default.Equals/GetHashCode`. They should call the respective methods di

[2015-09-27 14:25] JesperTreetop opened #5476 "Proposal: Builder method prototypes syntactical pattern"
More and more often, builders or builder-like methods are used to accumulate state or configuration in objects. For code clarity reasons, it is desirable to have batch methods, similar to `AddRange`, but unless the method for the single only takes one value (where `params` is sufficient), providing a batch method means packaging up the parameters in an object or dropping down into `object[]` and s

[2015-09-27 14:58] svick commented on #5474
What exactly are you suggesting? To allow any expression as the default value? In that case, when is the expression evaluated? Every time the method is called, or is there some caching involved?

[2015-09-27 15:48] GSPP opened #5477 "Provide line numbers for exceptions in object initializer expressions"
When an exception happens in an object initializer expression the line number is reported as the beginning of the statement. It would be useful to see what particular initializer threw. For example:

[code]

The line number is being reported as (1) where it should be (2).

This is a problem in two cases:
1. During debugging.
2. While interpreting exception logs from production.

I'm opening this i

[2015-09-27 16:51] tpetrina commented on #5474
C++ has constexpr now which allows for compile time expression evaluation. Maybe something like that can be used here.
Why not have both options available through custom attribute?

[2015-09-27 17:50] hughbe commented on #5474
I'm suggesting adding any expression as the default value. For example, this should work code, but it doesn't.
[code]

[2015-09-27 21:22] GSPP commented on #5470
Sometimes this is done by exposing a property that returns a handle to more advanced functions. The RavenDB session does that AFAIK.

[2015-09-27 22:23] paulomorgado commented on #5154
match ( expr e)
    {
      Mul(x,y) => match(l,r)
        {
            (*,Const(0)), (Const(0),*) => Const(0),
            (x,Const(1)), (Const(1),x) => Simplift(x)
        },
        Add(x,y) => match(l,r)
        {
            (x,Const(0)),(Const(0),x) => Simplify(x)
        }
    }

[2015-09-27 23:37] HaloFour commented on #5474
@hughbe The limitations for default parameter values are inherited from the CLR which dictates that the default values must be constants that are embedded in the assembly metadata.  The types supported by that metadata is quite limited and C# already supports the entire breadth.  In order for the C# compiler to support anything beyond that would require the compiler to deviate from how default par

[2015-09-28 03:34] tmat commented on #5477
An object initializers is no different from other expressions like

[code]

or

[code]

PDB sequence points can currently only be placed at statement boundaries. We could transform subexpressions into statements (by spilling them into generated locals), but that would be pretty costly. I don't see us doing that. A more plausible alternative would be to map CALL instructions in the IL in between tw

[2015-09-28 06:05] MAX-POLKOVNIK opened #5481 "MetadataReferences return empty list for MonoAndroid and MonoTouch projects"
I created solution with 3 projects:
1. Windows Console Application
2. Xamarin Android Application
3. Xamarin iOS Application.

Only in first project, project.MetadataReferences returns not empty list. (project is Microsoft.CodeAnalysis.Project)
iOS and Android projects has references. And all projects have at least one same reference to my portable assembly.

[2015-09-28 06:42] aluanhaddad commented on #5474
@tpetrina ```constxpr``` functions in C++ require that the function body can be evaluated at compile time. This proposal suggest System.Environment.MachineName as a default value for an optional argument. This value is by definition something which must be computed at runtime. Anyway I think expanding optional parameters is a bad idea.

[2015-09-28 13:46] bkoelman commented on #5406
Today I restarted from a clean VM (Windows only, no VS). Installed VS2015 Community and took latest version of Roslyn sources. Now I'm not getting the errors anymore. After build in VS, I still get a list of warnings though.

[code]

[2015-09-28 14:48] dsaf commented on #5476
I would prefer to see *use-site variance* / *call site covariance* instead of a tactical workaround.

http://stackoverflow.com/questions/19283349/c-sharp-generics-wildcards

https://en.wikipedia.org/wiki/Covariance_and_contravariance_(computer_science)#Use-site_variance_annotations_.28Wildcards.29

[2015-09-28 14:50] overeemm opened #5482 "Memory usage of roslyn"
I'm using the following snippet to produce dll's from in-memory strings (representing C# files).

    CSharpCompilation compilation = CSharpCompilation.Create(assemblyName,
        syntaxTrees: trees,
        references: references,
        options: new CSharpCompilationOptions(
          OutputKind.DynamicallyLinkedLibrary,
          optimizationLevel: OptimizationLevel.Debug
          )

[2015-09-28 14:51] mburbea commented on #5475
Are you positive that the gains are worth it?

1. I'm pretty sure Tuple uses `EqualityComparer<object>.Default`, and to be honest, it might be worth it to avoid the rigmarole and do the same thing. Unfortunately, string default should be `CurrentCulture` to match expectations. Is this a bottle neck? Do you do enough comparisons on anonymous objects to make this worth mentioning?

2. How much slowe

[2015-09-28 15:48] amcasey opened #5484 "Interactive window doesn't work with Toolbox window"
Items pasted into the Toolbox window don't appear until an editor tab is open.  Double-clicking on a clipboard item in the Toolbox pastes it into the most recent editor tab - even if the Interactive window has focus.

[2015-09-28 16:46] #4021 closed

[2015-09-28 17:04] #5393 closed

[2015-09-28 17:06] amcasey opened #5485 "Imports.FromGlobalUsings does not support generic types"
There is no global equivalent of ```using static System.Collections.Generic.List<int>;```.   It is not clear what would happen if the string "System.Collections.Generic.List<int>" were passed in - hopefully there would just be a binding failure and a diagnostic.

[2015-09-28 17:07] amcasey commented on #5485
It also doesn't de-dup target symbols, leading to incorrect ambiguities during lookup.  I'm going to try to fix that one since it's important for scripting.

[2015-09-28 17:08] amcasey commented on #5485
Ah, generics will be silently dropped:

[code]

Still, I think we should either forbid types entirely or support generics.

[2015-09-28 17:34] DustinCampbell opened #5486 "XML doc comments: when code is selected and ENTER is pressed, the direction of the selection changes whether /// is inserted"
[code]

Select "World" from left-to-tight and press ENTER.

[code]

Select "World" from right-to-left and press ENTER.

[code]

[2015-09-28 17:34] #5413 closed

[2015-09-28 17:36] amcasey opened #5487 "Strange completion behavior at beginning of identifier"
With name ```original``` in scope, type ```or```.  Completion appears.  Move to beginning of identifier with arrow keys and type ```!``` (i.e. oops, I meant to negate the expression).

I'm not sure what the expected result is, but the actual result is ```original!or```.

[2015-09-28 17:37] amcasey commented on #5487
FYI @rchande

[2015-09-28 17:46] jasonmalinowski commented on #5406
@bkoelman, a few of those should go away if you close and re-open. Unfortunately they're more or less expected due to how we're having to transition our build system right now. :sad:

[2015-09-28 18:15] qinxgit commented on #5463
Update:

After I update the line
"Public doc As New XmlDocument()" to
"Public doc As XmlDocument = New XmlDocument()", it prints the line as expected.

So it seems the Analyzer engine doesn't handle VB's AsNewClause's ObjectCreationExpression node correctly, but it does handle the SimpleAsClause's ObjectCreationExpression correctly.

[2015-09-28 18:29] brettfo opened #5489 "Metadata as source on types with embedded interop can show `object` in interfaces list."
**REPRO:**
In a C# project add a reference to `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\PrivateAssemblies\Microsoft.VisualStudio.ExtensionManager.Implementation.dll` and add the following method to a class:

[code]

And invoke go-to-definition on the `ExtensionManagerService` symbol.

**RESULT:**
The interfaces listed appear as `IVsExtensionManager, INotifyPropertyChanged, o

[2015-09-28 18:29] GSPP commented on #5475
1. Tuple has no idea what it's member types are. We can't change the comparison for compat reasons. Right now it is Ordinal.
2. Reasonable assumption.
3. Worth to whom? Maybe not to you. Maybe worth it to others, though.
4. -

Regarding the generic type problem, you are right. (http://blogs.msdn.com/b/ericlippert/archive/2010/12/20/why-are-anonymous-types-generic.aspx) In order to generate Equals