[2022-09-08 21:47] vsfeedback opened #63867 "C# ternary operator suggest"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/C-ternary-operator-suggest/10141554)._

---
Now My Code：
if(bool)
{
    FunctionA()；
}
else
{
    FunctionB()；
}

I Wish Code like this：

bool?FunctionA():FunctionB()；

Can it be achieved? Thanks!

---
### Original Comments

#### Feedback Bot on 9/7/2022, 08:06 PM:

(private comment, tex

[2022-09-08 21:49] AlekseyTs commented on #63221
I think compilers code gen is wrong. The address of the receiver is getting popped from the stack as part of the method invocation and that is when the underlying value is supposed to be obtained and dereferenced. We should be able to adjust compiler's code gen to enforce correct behavior by using a reference to a compiler generated temp for the case when receiver is a reference type, thus prevent

[2022-09-08 21:51] vsfeedback opened #63868 "C# Editor: references number location realated with attributes"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/C-Editor:-references-number-location-re/10136082)._

---
Currently numbers of references appear below of the element attributes.
On my opinion should be the other way around since the attributes also define the element

On the example below between the "Serializable" and the "public clas

[2022-09-08 22:04] CyrusNajmabadi commented on #63867
Closing out.  LAnguage requests shoudl be made against dotnet/csharplang.  This is likely a dupe there too.

[2022-09-08 22:04] #63867 closed

[2022-09-08 22:19] CyrusNajmabadi commented on #63868
This is a codelens request.  And i believe is by design.  Indeed, originally it started the other way, but was changed due to overwhelming feedback initially that this stuff should attach to the signature, and not to things like attribute/doc comments.

[2022-09-08 22:20] CyrusNajmabadi commented on #63868
I'm gonig to preemptively close this as we've had codelens for 10+ years, had a ton of feedback to do it the current way, and have heard nothing in the following time to change it.  There just isn't the demand to justify this change IMO.

[2022-09-08 22:20] #63868 closed

[2022-09-08 22:23] CyrusNajmabadi commented on #63866
This doesn't repro for me.  Will need more info from the user:

![NoRepro](https://user-images.githubusercontent.com/4564579/189236397-cf88082c-6680-4152-b8b6-af50baf5139d.gif)

[2022-09-08 22:23] #63866 closed

[2022-09-08 22:37] vsfeedback opened #63870 "For C#, the compiler should allow returning a single named value and suggest the name for a local variable"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/For-C-the-compiler-should-allow-return/10128271)._

---
When returning a single value from a function, it might be useful to give the return value a suggested name, which could be used automatically by the editor, for the code calling the function. For example, the following function

`p

[2022-09-08 22:39] vsfeedback opened #63871 "Where is the option that "Always on" Renaming Filename when renaming symbol?"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Where-is-the-option-that-Always-on-Ren/10119646)._

---
Until a few months ago, the option to rename filename when refactoring class names was always on.

One day after patching to the latest version, the option was turned off. I manually turned it on every time I used it, but that state

[2022-09-08 22:40] mikadumont commented on #63871
@ryzngard

[2022-09-08 22:40] CyrusNajmabadi commented on #63870
i believe this is a request to replace a tuple-variable with deconstruction.  That seems reasonable as something to offer.

[2022-09-08 22:41] vsfeedback opened #63872 "Auto Complete for missing interface properties/methods"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Auto-Complete-for-missing-interface-prop/10116607)._

---
It would be quite helpful if the C# intellisense in Visual Studio was able to autocomplete unimplemented interface or abstract parent class members as you start typing.
The use case for this is lets say you are implementing a new

[2022-09-08 22:46] mikadumont commented on #63872
May be worth considering adding snippets for this or code generation refactorings to the completion list similar to what IntelliCode does today for add param and generate constructor.

[2022-09-08 22:47] adamperlin opened #63873 "No Usage Analysis for Constant Fields"
It might be worth considering whether we want to do usage analysis for constant fields. I.e., consider the following very simple cases:

[code]

[code]
It seems odd that there is a warning for the first case, and not the second when both lead to an unused field (though in the first case, there is added runtime cost to initializing the field). For the purposes of usage analysis, we currently ignore

[2022-09-08 22:49] CyrusNajmabadi commented on #63872
We already do the above for overrides.  Expanding out to interface impls would be reasonable IMo.

[2022-09-08 22:52] vsfeedback opened #63874 "Provide a Class Implementation for an Interface on (ctrl+.)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Provide-a-Class-Implementation-for-an-In/10091306)._

---
Basically provide an options to generate a class that implement the interface targeted by the (ctrl+.) command.

---
### Original Comments

#### Feedback Bot on 7/11/2022, 00:20 AM:

(private comment, text removed)
#### Mika Dumon

[2022-09-08 22:53] vsfeedback opened #63875 "Find References additional filter options"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Find-References-additional-filter-option/10064116)._

---
Currently Find References has a “Kind” column that denotes if that reference is Read or Write. This helps filter down large lists of references however I find that it is still difficult to find specific usage of a reference, addit

[2022-09-08 23:02] mikadumont commented on #63874
This request is for when you are on an interface definition and press ctrl+. to offer an option to create a type implementation for that interface.
![image](https://user-images.githubusercontent.com/46729679/189240536-2ae86d75-84d3-4b29-8b36-82dfeaf4b27c.png)

[2022-09-08 23:34] jaredpar commented on #62501
@mavasani, @RikkiGibson

[2022-09-09 00:42] mikadumont opened #63881 "Create a table to store data so we can track the average number of yellow bars a user sees in a release"
Currently this data is stored in raw events and we want to make sure we have a table for this so we can query this over a longer period of time.

[2022-09-09 06:26] magnusbakken opened #63883 "Generate Method generates doubly nullable struct types when used with null coalescing operator"
**Version Used**:
Visual Studio 17.3.3 (.NET 6)

**Steps to Reproduce**:
1. Start a new project with the following code:
[code]

2. Use the Generate Method code fix on `B()`.

**Expected Behavior**:
I would expect:
[code]

**Actual Behavior**:
You get a double question mark on the inferred return type of the generated method:
[code]

The bug applies to structs and enums, but not to classes and rec

[2022-09-09 06:52] FlorianGrimm commented on #61362
same problem VS 2022 17.3.3
public abstract class Abc<V, E> : Abc {
.. snip..
public static implicit operator Abc**<**
}

Error occours after typing <

[2022-09-09 09:24] dbaeumer commented on #63840
No, kind in used to denote if the symbol is import or exported
Uniqueness denote how unique a moniker is: for example a TSC moniker is only unique inside a project since two project can define the same fully qualified name for a symbol. A npm moniker in contrast is globally unique since there can only be one package with name `X`

[2022-09-09 09:29] dbaeumer commented on #63841
The spec actually only defines `inVs` on item and contains. This is actually a space optimization since these edges are often 1:n.

If we allow inVs on all edges that we need to spec that for 1:1 edges the array can only be one element. I thought that form a spec perspective it is easier to distinguish this.

[2022-09-09 09:37] dbaeumer commented on #63842
Actually no quick idea. The reason why that constraint exists is ingestion into the database. It is easier to handle a reference to a range if the range is already connected to the document.

I do have situations where I haven't emitted the range yet either. So what I do is to flush the range in these situations (see https://github.com/microsoft/lsif-node/blob/af85b765aa3d1a0ecfa1e0b796ae372a5c31e

[2022-09-09 09:45] ddrdoubled commented on #4861
Sorry to open this up again, but I think since then a `SyntaxKind.VarKeyword` has been added if I am not mistaken. Is there any reason to leave `value` still out? Because when I look on the list above all other contextual keywords have been added, or not?

[2022-09-09 09:50] DoctorKrolic opened #63885 "`langword` value is not colorized correctly in doc comments"
**Version Used**:
VS 2022 v17.3.3

**Screenshot**:
![devenv_tnbp9laPEs](https://user-images.githubusercontent.com/70431552/189322549-963eeaf7-ec64-410d-ae4d-ea35e2a9f685.png)

**Expected Behavior**:
`true` inside of a `langword` is colorized the same, as `public`, `bool` and `get` keywords below

**Actual Behavior**:
`true` is not colorized

[2022-09-09 09:55] ndepend opened #63886 "Project.CompilationOutputInfo doesn't resolve a situation with Directory.Build.props case"
**Version Used**:

[code]

**Steps to Reproduce**:

Reproduce the project explained in [this blog post](https://www.codementor.io/@rowlandbanks/lets-fix-your-c-project-structure-13om1krhqz). Basically there is a single project named **RestaAPI** within a solution named **Contoso.Calculator** and a **Directory.Build.props** in the solution folder that contains:

[code]

Thus the compiled assembly n

[2022-09-09 11:05] nikolatomasevicpro commented on #63806
Hello. As you have said, the feature i'm trying to use is not supported currently. That is why i'm getting the error.
As for the compilation. i have a project containing the models used by the generator separate from the project containing the generator. So if the models project targets net7.0 the generators project can't reference the models project.

But if i change the target framwork of the mo

[2022-09-09 11:23] davidwengier commented on #59530
Reopening, this isn't a duplicate. The implementation might have the same issues as #59773 but at the end of the day `AbstractXmlTagCompletionCommandHandler` and its two implementations are simply not exposed over LSP.

[2022-09-09 13:45] Youssef1313 opened #63887 "Feature request: Add generators execution times to `/reportanalyzer`"
`/reportanalyzer` currently reports analyzer execution times. It would be awesome if it can include generators as well.

[2022-09-09 14:04] AlekseyTs commented on #57325
Done with review pass (commit 2)

[2022-09-09 14:54] alrz commented on #53976
I think this is a must have for parsing collection literals which completely overlap with attribute lists.

To avoid thrown away allocations, I think an intermediate step could yield raw nodes which are reusable when converting to either attribute or an expression.

[code]
In the first pass, all tokens are gathered where it's definitely possible to parse as either node.
Specific wrappers will be c

[2022-09-09 15:37] CyrusNajmabadi commented on #53976
I don't think this is something that is actually important.  Generally speaking, it's going to be a small amount of allocations in rare scenarios.  e.g. in the above it will be much more likely to be a collection literal.  So just start with that, but rewind if not ok.

The important thing is stopping the duplication of the Scan/Parse logic.  I think it's totally fine to speculatively parse and th

[2022-09-09 15:40] CyrusNajmabadi commented on #4861
They have not been.  Similar to `value`, neither `unmanaged` nor `dynamic` are kinds.  They're really just keywords.  `var` is unfortunate, but c'est la vie.

[2022-09-09 15:42] CyrusNajmabadi commented on #63875
I feel like if the user wants to see hoe the value is used, 'track value' is the right feature for that.  I don't feel like 'kind' is appropriate here as there are enumerable ways a variable may end up being used in larger and larger contexts.

[2022-09-09 15:42] #63875 closed

[2022-09-09 15:46] ddrdoubled commented on #4861
[code]

[2022-09-09 15:47] mmitche commented on #63645
Bad bot.

[2022-09-09 15:55] CyrusNajmabadi commented on #4861
Oh, `managed` became a contextual keyword with function-pointers.

Because it's an actual strongly typed token when placed in another construct.  e.g. the FunctionPointerCallingConventionSyntax actually has a specifier which is either `managed` or `unmanaged`.  It's not like this can be any identifier, and that these two identifiers then have special semantic meaning.  It can only be those two ide

[2022-09-09 16:17] ddrdoubled commented on #4861
ok understood, but that also means, that implementing it to support it in the `SyntaxFactory` should be rather small task, I am just trying to find a better way than doing this:
[code]
and i would prefer instead this:
[code]
this would still result in an `IdentifierToken` for `value` but it would be consistent with other IdentifierToken generation

[2022-09-09 16:35] CyrusNajmabadi commented on #4861
This is what our own parser (and higher layer) do, so i don't see the problem with that code :)

As all this sytnax is immutable.  you can also just do this once, like so:

[code]

And then just reference `ValueIdentifierName` everywhere.

[2022-09-09 16:38] tmat opened #63888 "Deprecate usage of Workspace in TextLoader (breaking change)"
## Background and Motivation

Eliminate dependency on `Workspace` from `TextLoader`. `TextLoader` instances are held on by an immutable `Solution` snapshot and we want to remove all back-references to mutable `Workspace` from the snapshot.

## Proposed API

[code]

## Usage Examples

Implemented by https://github.com/dotnet/roslyn/pull/63616

## Alternative Designs

## Risks

UPDATE: Added LoadTex

[2022-09-09 16:57] JoeRobich commented on #63886
MSBuildWorkspace reads an array of project file paths from a solution file (or solution filter) and passes them to a Worker to load project infos.

https://github.com/dotnet/roslyn/blob/3e39dd3535962bf9e30bd650e4ff34b610b8349a/src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.cs#L173-L225

The Worker loads each project individually outside the context of a solution.

https://github.com/dotn

[2022-09-09 17:38] adamperlin opened #63890 "Default Parameter Values Not Supported By QuickInfo for Anonymous Delegate Types"
Fairly straightforward, but there is inconsistency for quick info in the following cases:

[code]
Produces
[code]
with *no* default parameter value in the signature.
Hovering over the local variable `lam` itself, as in
[code]
produces
[code]
Ideally these displays could be more unified, and at the very least a default parameter should be present in both.

[2022-09-09 17:40] CyrusNajmabadi opened #63891 "Source generators have exploded the costs of making skeleton references."
Investigating perf issues has commonly shown that we are spending the vast majority of our time in skeleton reference generation:

![image](https://user-images.githubusercontent.com/4564579/189411002-ded0ae26-5c71-484d-a72f-b0547f4eff16.png)

This has become a major cost for us ever since the introduction of Source-Generators.  Specifically, prior to source-generators, skeleton-generation just nee

[2022-09-09 17:44] CyrusNajmabadi commented on #63890
we really should cleanup the names here.  Our syntax for normal local functions is just `ret_type name(param_type param_name ...)`.  So we should drop the `delegate` and just say `ret_type <anonymous function>(param_type param_name, ...)`.

I agree that the display for the quick info should follow that as well.

[2022-09-09 17:46] adamperlin opened #63892 "IDE Usage Analysis Does Not Account for Lambda Default Parameters"
[code]
In the following case, `N` is shown as unused in the IDE, when its usage as a default parameter value for the lambda should be tracked. We are already removing unused variable warnings when they occur for local constants used as default parameter values for lambdas and local functions in the compiler: #63850

[2022-09-09 17:56] jasonmalinowski commented on #63887
@chsienki Didn't we do this already?

[2022-09-09 18:12] Youssef1313 commented on #63887
Ah, thanks @jasonmalinowski

Found the PR: https://github.com/dotnet/roslyn/pull/61661
It's recent enough that I wasn't seeing it on the compiler version I'm using.

Thanks again!

[2022-09-09 18:18] vsfeedback opened #63895 "Code cleanup is missing option to remove empty lines"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Code-cleanup-is-missing-option-to-remove/1657288)._

---
[severity:It's more difficult to complete my work]
ReSharper's refactoring has the ability to remove blank lines automatically.  There's no option in Code cleanup to do this so it has to be done by manually invoking the action agai

[2022-09-09 18:25] chsienki commented on #63887
Yup. @jaredpar added it in #61611

[2022-09-09 18:27] cston opened #63896 "Avoid binding lambda expressions unnecessarily in error scenarios"
Reduce the overhead of binding lambdas when there are nested lambda expressions with multiple overloads. Specifically, consider avoiding binding nested lambdas unnecessarily for overloads that do not match.

[2022-09-09 18:32] #63887 closed

[2022-09-09 18:52] cston opened #63897 "Implement ref safety analysis as a BoundNodeVisitor"
Consider rewriting the ref safety analysis in `Binder` as a dedicated `BoundNodeVisitor` pass.

[2022-09-09 18:53] peteraritchie opened #63898 "Test comment references wrong compiler error code"
https://github.com/dotnet/roslyn/blob/dff9e3a14ae15f48ae27adf13a324eef4c8141dd/src/Compilers/CSharp/Test/Semantic/Semantics/Utf8StringsLiteralsTests.cs#L185

This code should emit a CS9026 error code, not a CS9100 error code

[2022-09-09 19:19] dibarbet commented on #63861
Added another bug to discuss with resultIds for multiple project contexts.

[2022-09-09 19:29] dsmirnov-cs commented on #43501
It is 2022 now and the problem is still there, affects VS2022. Any update?

[2022-09-09 19:50] cston opened #63904 "Allow [module: RefSafetyRules] attribute in source"
There are [several differences](https://github.com/dotnet/csharplang/blob/main/proposals/low-level-struct-improvements.md#refsafetyrulesattribute) in the ref safety rules and ref parameter scope between C#7.2 and C#11:

The differences in C#11 are intended to allow ref fields in ref struct types, with minimal breaking changes to existing code.

To improve compatibility further, for source modules

[2022-09-09 20:47] cston commented on #62850
Fixed with https://github.com/dotnet/roslyn/pull/63461.

The compiler now reports the following compiling project 2:

[2022-09-09 20:47] #62850 closed

[2022-09-09 21:25] 333fred opened #63906 "Add `SymbolDisplayFormat.CSharpText`"
## Background and Motivation

Today, we have problem in source generators when it comes to generating new sources based on existing constructs. Users need to copy existing things such as partial method signatures, type declarations, namespace declarations, etc. They also need to create new declarations with existing types, reference existing members/types, and generally interact with existing symb

[2022-09-09 21:26] 333fred commented on #63906
/cc @chsienki @AlekseyTs @CyrusNajmabadi

[2022-09-09 22:29] lewing commented on #63863
Actually looking at this as @eerhardt points out it appears to be the compiler service breaking

[2022-09-09 23:49] adamperlin opened #63911 "Ensure Local Constant Usage is Tracked in Local function and Lambda Parameter Attributes"
Related to https://github.com/dotnet/roslyn/issues/60645, but specifically concerns attributes on local function and lambda *parameters*, i.e.,

[code]
`N` is currently reported as unused despite being used in the `DefaultParameterValue` attribute.

[2022-09-10 00:28] JoeRobich commented on #6763
Hi @DennyOne, the enhancement to support .NET Framework projects is tracked in https://github.com/dotnet/roslyn/issues/54801.

[2022-09-10 00:34] ryzngard commented on #43501
This has been on our backlog with no clear reproduction. Added "Need More Info" if you have a solid repro please share and I'll take a look

[2022-09-10 00:35] #49444 closed

[2022-09-10 00:36] ryzngard commented on #63493
This should be fixed with the new experience. Closing, let me know if you keep hitting

[2022-09-10 00:36] #63493 closed

[2022-09-10 09:54] Youssef1313 opened #63915 "`AdditionalTextComparer` appears to be used by tests only"
I'm not able to find usages for `AdditionalTextComparer` other than tests:

https://github.com/dotnet/roslyn/blob/main/src/Compilers/Core/CodeAnalysisTest/InternalUtilities/AdditionalTextComparerTests.cs

and it's not publicly exposed.

Should it be deleted?

[2022-09-10 09:56] Youssef1313 commented on #63915
Also it looks like `AdditionalText` doesn't implement `IEquatable<AdditionalText>` (also doesn't override object Equals), would it make sense to implement this interface, and use `AdditionalTextComparer` or the logic from it?

[2022-09-10 11:52] #30115 closed

[2022-09-10 16:23] FrankSzendzielarz commented on #52017
Hmm. None of the above solutions are working for me. Newtonsoft is file not found, no matter what I do.

[2022-09-10 16:27] FrankSzendzielarz commented on #52017
Spoke too soon. What fixed it for me was explicitly adding Newtonsoft into the nupkg

	<None Include="$(PKGNewtonsoft_Json)\lib\netstandard2.0\Newtonsoft.Json.dll" Pack="true" PackagePath="analyzers/dotnet/cs" Visible="false" />

[2022-09-10 23:46] 333fred opened #63917 "Extract local function puts function in disabled section"
**Version Used**: VS 2022.4p1

**Steps to Reproduce**:

[code]

Perform an extract local function on the first line in `M`, the `Console.WriteLine("test1")` call.

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2022-09-11 00:18] 333fred commented on #63917
Likely important note for the repro: I'm in Debug mode when I'm doing these steps, so the section is actually active. It just breaks when you switch modes.

[2022-09-11 00:58] CyrusNajmabadi commented on #63917
Ok to fix this if the complexity of the solution is manageable.

[2022-09-11 01:01] 0Lucifer0 opened #63919 "Microsoft.CodeAnalysis.CSharp 4.3.0 fail to build source generators"
**Version Used**:
Microsoft.CodeAnalysis.CSharp 4.3.0

**Steps to Reproduce**:

1. Create a source generator using Microsoft.CodeAnalysis.CSharp 4.3.0
2. Add System.Text.Json to the project using this method https://github.com/dotnet/roslyn/discussions/47517#discussioncomment-1768639
3. Create a project using the source generator
4. Add a test project  for the new project
5.  Build
6.  Generated c

[2022-09-11 01:38] malcolmrs commented on #6763
Why am I on this ticket?
________________________________
From: Joey Robichaud ***@***.***>
Sent: Friday, September 9, 2022 8:28:59 PM
To: dotnet/roslyn ***@***.***>
Cc: Malcolm Levi ***@***.***>; Comment ***@***.***>
Subject: Re: [dotnet/roslyn] Support "remove unused references/packages" (#6763)

Hi @DennyOne<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_DennyOne&d=DwMCaQ&c=euG

[2022-09-11 05:11] ndepend commented on #63886
Thanks @JoeRobich , isn't `Project.CompilationOutputInfo` supposed to mimic the Visual Studio behavior? (I mean does the Roslyn team consider this behavior as by-design or a as a bug)

[2022-09-11 06:47] Swiftly1 opened #63921 "After upgrading Microsoft.CodeAnalysis.CSharp.Workspace from 4.2.0 to 4.3.0 it started throwing at runtime"
**Version Used**:

4.3.0

**Error Thrown**:

`Unhandled exception. System.InvalidOperationException: Service of type 'Microsoft.CodeAnalysis.Classification.IEmbeddedLanguageClassificationService' is required to accomplish the task but is not available from the workspace.
   at Microsoft.CodeAnalysis.Host.HostLanguageServices.GetRequiredService[TLanguageService]() in /_/src/Workspaces/Core/Portable

[2022-09-11 08:10] RusMermaid commented on #10363
Please create at least the ability to overloading the following operators ~=, ∨, ≡, !, :, /, \, !!, ∫, ∫?, ±, ±?, ∠, ∠?, ∞, ⊗. Thank you!

[2022-09-11 08:16] RusMermaid commented on #10363
Furthermore, indexers for class[0] are not enough for custom mathematical classes. I want to bring an idea of overloading {0}, |0|, ||0||, <0>. So for any custom class i. e. we could write class<2> to get an element in some sort of a collection stored of a object property of that class.

[2022-09-11 15:19] CyrusNajmabadi commented on #10363
@RusMermaid please read: https://github.com/dotnet/roslyn/issues/10363#issuecomment-289143302

[2022-09-11 15:34] AdmiralSnyder commented on #63919
it's still prevalent in Microsoft.CodeAnalysis.CSharp (Latest prerelease 4.4.0-3.22459.4) - had to downgrade to 4.2.0, too...

[2022-09-11 15:56] 333fred commented on #63919
Step 1 of the repro here is far too simplistic. Please provide a complete set of repro steps.

In addition, you should be matching your version of SCI to what roslyn has, ideally not explicitly depending on it at all. Roslyn 4.4 depends on SCI 5.0, and this is what you must depend on as well. Consider just letting the transitive dependency flow to your project.

[2022-09-11 16:07] Youssef1313 opened #63922 "IntelliSense is hard-selecting item not matching the case I'm writing"
![image](https://user-images.githubusercontent.com/31348972/189537449-9724d95f-54a5-4904-939a-a7f83d2c53b4.png)

1. Have a variable named `test` and an async method called `Test` in scope.
2. Type `await Test`
3. Delete `Test`
4. Type `test`
5. `Test` is hard-selected. Typing a `.` will auto-select `Test`, while I want `test` which matches the case I'm writing.

Note, it seems like IntelliSense ha

[2022-09-11 16:09] AdmiralSnyder commented on #63919
@0Lucifer0
so, 4.3.0 seems to have been damaged:
![image](https://user-images.githubusercontent.com/16213022/189537657-bc28cdd9-2ffb-4013-8e59-9562faed7f40.png)

whereas both, 4.2.0 and 4.4.0-1.final both refrence SCI 5 correctly.

(and i was on 4.4.0-3.22459.4) because i was trying to get something else to work, and _that_ also referenced SCI 6)
let's hope that that's merely temporary - i'm going

[2022-09-11 16:33] AdmiralSnyder commented on #63919
here is a solution where the error persists.
https://github.com/AdmiralSnyder/Conveyors/commit/75beadde1df699e68f733ff7600336faa9bedc8e

you might have to add the nuget source in the commit message to your package sources, since i'm referencing prerelease roslyn packages.

[2022-09-11 17:24] Sergio0694 opened #63923 "CS0657 diagnostic suppressor is not reflected in IDE/errors (but it is in build output)"
**Version Used**: VS 17.3.3

**Steps to Reproduce**:

1. Define the following diagnostic suppressor:
[code]
2. Reference the analyzer above in a blank project
3. Paste the following code:
[code]
4. Build the project

Full standalone repro: [DiagnosticSuppressorRepro.zip](https://github.com/dotnet/roslyn/files/9543149/DiagnosticSuppressorRepro.zip)

**Expected Behavior**:

No warnings should show u

[2022-09-11 17:47] Youssef1313 commented on #63923
cc @mavasani

[2022-09-11 17:58] #63643 closed

[2022-09-11 20:09] allisonchou opened #63925 "[Automated] PRs inserted in VS build main-32911.17"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/2f760738cb92f32f50c981b68ba04ac3c8b7ee48...ccc2e0e9ac44b79e9871d1e45484a2e39c27bfeb?w=1)
- [Fix integration tests by not listening to value changed for old UI (63865)](https://github.com/dotnet/roslyn/pull/63865)
- [Revert "Move 'Todo Comments' to EA pattern (#63817)" (63889)](https://github.com/dotnet/roslyn/pull/63889)
- [D

[2022-09-11 20:09] #63925 closed

[2022-09-11 20:51] svick commented on #59530
@davidwengier It seems you did not actually reopen this. 😄

[2022-09-11 21:09] cston opened #63927 "PdbWriter.SerializeDebugInfo() drops extern aliases if the first method is a synthesized method"
See [PdbWriter.SerializeDebugInfo()](https://github.com/dotnet/roslyn/blob/main/src/Compilers/Core/Portable/NativePdbWriter/PdbWriter.cs#L96).

[2022-09-11 21:59] davidwengier commented on #59530
lol, whoops! Thanks @svick

[2022-09-11 22:25] davidwengier opened #63929 "Extract base class doesn't remove `sealed` modifier"
**Version Used**: 17.4 P2

**Steps to Reproduce**:

Run extract base class on a sealed type, eg:

[code]

(make sure you tick the box next to `M()` in the dialog or the base class that is created won't actually be used. Possibly another bug??

**Expected Behavior**:
Since the whole point of the refactoring is to create a class that is a "base", the `sealed` modifier should be removed.
[code]

**Ac

[2022-09-11 22:59] #63883 closed

[2022-09-11 23:25] erwan-joly commented on #63919
here is a small repro https://github.com/erwan-joly/source-generator-bug-repro
Not sure why but only seems to bug when system.text.json is in the source generator using this https://github.com/dotnet/roslyn/discussions/47517#discussioncomment-1768639 and when having a test project

[2022-09-12 04:19] davidwengier opened #63933 "Selection overflows to next line during rename"
**Version Used**: Version 17.4.0 Preview 3.0 [32911.17.main]

See GIF. I have the new "Selection Matches" feature turns on, but this repros with it off too

![RenameSelection](https://user-images.githubusercontent.com/754264/189573123-b278ad9b-fd68-44a6-be74-77b24b670eb8.gif)

[2022-09-12 06:54] DoctorKrolic opened #63935 "Improve `ru` localization for code cleanup options"
## Repo URL where the string lives
https://github.com/dotnet/roslyn

## File Name
https://github.com/dotnet/roslyn/blob/c71fa5419aa035a8d76c8a82387353e3892180a7/src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf#L42

## Resource ID
Add_this_or_Me_qualification

## English String
Add 'this' or 'Me' qualification

## Current Translation
Добавьте квалификацию \\"this\\" или \\"Me\\"

## Sugge

[2022-09-12 06:59] knoxi commented on #63919
I have also the same issue, but only when building with VS. The CI pipeline has no errors when building the projects with MSBuild.

[2022-09-12 07:46] RussKie opened #63940 "[release/7.0] Unhandled exception. System.NotImplementedException: The method or operation is not implemented."
### Description

The automatic dependency flow for the release/7.0 branch - https://github.com/dotnet/winforms/pull/7753 - is [failing to build](https://dev.azure.com/dnceng-public/public/_build/results?buildId=11613&view=logs&j=71ffe38c-ed83-5650-b269-3e2a870c2d94&t=fad00996-4079-5863-c72b-581eb696fd7e&l=126) with the latest build introduced in https://github.com/dotnet/winforms/commit/bf78399105

[2022-09-12 10:03] akoconx opened #63936 "Assume Bug on macOS while building"
**Version Used**:
Visual C# Compiler version 4.3.0-3.22365.10 (dd078d4e)
dotnet 6.0.400
CPU: Apple Silicon ARM m1 pro
macOS Monterey 12.5.1

**Steps to Reproduce**:
I have a Project of type _Sdk="Microsoft.NET.Sdk.Web"_ and while building I get following error:

_CompilerServer: server failed - server rejected the request 'Error writing build request: Specified argument was out of the range of val

[2022-09-12 10:43] 2340958 commented on #63936
Size has been increased here: https://github.com/dotnet/roslyn/issues/52761

[2022-09-12 10:54] akoconx commented on #52761
Building on macOS with over 5MB causes this issue, not on Windows 11 though.

[2022-09-12 11:36] mavasani commented on #63923
Thanks @Youssef1313. There seem to be couple of issues here:

1. Core issue: Bug in diagnostic equality for [CompilerDiagnostic](https://github.com/dotnet/roslyn/blob/main/src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerDiagnosticAnalyzer.CompilationAnalyzer.cs#L112-L115) type reported by our internal `CompilerDiagnosticAnalyzer`. I'll send a PR out to fix this soon, which should resolve th

[2022-09-12 11:50] mavasani opened #63938 "Remove or Document "CompilerDiagnostic" type"
See https://github.com/dotnet/roslyn/pull/63937 for details

[2022-09-12 11:52] mavasani opened #63939 "Exceptions from diagnostic suppressors are not being reported in the IDE as AD0001 diagnostics"
Thanks @Youssef1313. There seem to be couple of issues here:

1. Core issue: Bug in diagnostic equality for [CompilerDiagnostic](https://github.com/dotnet/roslyn/blob/main/src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerDiagnosticAnalyzer.CompilationAnalyzer.cs#L112-L115) type reported by our internal `CompilerDiagnosticAnalyzer`. I'll send a PR out to fix this soon, which should resolve th

[2022-09-12 12:19] akoconx commented on #63936
Some older packages caused the problem and in the end clearing nuget helped using following command:
dotnet nuget locals all --clear

[2022-09-12 12:19] #63936 closed

[2022-09-12 12:25] akoconx commented on #52761
Some older packages caused the problem and in the end clearing nuget helped using following command:
dotnet nuget locals all --clear

[2022-09-12 12:36] sgjsakura opened #63941 "Add supporting for enumerating Embedded Resources for source generators"
## Background and Motivation

These days I'm trying to create a source generator used to generating strong-typed resource string wrapper for ASP.NET Core project, while unfortunately, I found it is currently not possible to enumerate the RESX files using code generator API.

More specifically, I've tried 2 different manner while neither of them work:

- Firstly, I tried to use the `context.Additio

[2022-09-12 14:43] TahirAhmadov opened #63943 "Name suggestion doesn't work with some generic types"
**Version Used**: .NET 6, VS 17.2.2

**Steps to Reproduce**:

Press Ctrl-J (to get name suggestions) after a generic type.

**Expected Behavior**:

Correct name suggestion: `optionsEnumerable`

**Actual Behavior**:
Only showing `and` and `or`.
![image](https://user-images.githubusercontent.com/16783987/189683404-83bf0410-4800-49f3-832e-e9f20d246d13.png)

[2022-09-12 17:13] #57325 closed

[2022-09-12 17:30] #63689 closed

[2022-09-12 17:31] alexandresmoraes commented on #60818
i'm having the same behavior

[2022-09-12 17:31] #63078 closed

[2022-09-12 17:46] vsfeedback opened #63947 "Implement interface abstractly creates concrete explicit members when existing member names conflict with interface member names"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Implement-interface-abstractly-creates-c/1696666)._

---
[severity:It bothers me. A fix would be nice]
Suppose you have this code:

[code]

The line with `: IInterface` shows this error:

* `error CS0738: 'Class1' does not implement interface member 'IInterface.Name'. 'Class1.Name' canno

[2022-09-12 18:05] #63834 closed

[2022-09-12 18:48] Cosifne commented on #58834
Fixed in this PR:
https://github.com/dotnet/roslyn/pull/63853

[2022-09-12 18:48] #58834 closed

[2022-09-12 18:52] vsfeedback opened #63950 "Code cleanup unable to add lines in between elements when required by style (SA1516)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Code-cleanup-unable-to-add-lines-in-betw/1657290)._

---
[severity:It's more difficult to complete my work]
ReSharper has the ability when running a refactor pass to automatically add empty lines when required by SA1516. There is a manual quick action to do this but no way to do it in bu

[2022-09-12 18:58] jaredpar commented on #63940
This is the PR that fixes that crash

https://github.com/dotnet/roslyn/pull/63347

That was checked in some time ago though. I'm surprised you are still hitting it. It should not be present in the latest SDKs

@chsienki, @RikkiGibson

[2022-09-12 19:04] buyaa-n opened #63951 "IConversionOperation.IsChecked is not true from within checked statement"
`IConversionOperation.IsChecked` returns true as expected from within checked expression, but not returning true when the expression is within checked statement

**Example**:
[code]

**Expected Behavior**:
 IConversionOperation.IsChecked should be true when the conversion is within checked statement

**Actual Behavior**:
 IConversionOperation.IsChecked is false

[2022-09-12 19:17] CyrusNajmabadi commented on #63947
This is working as intended.  Wehn we cannot actually implement hte member abstractly, we implement it explicitly as that's the only feasible way to implement it.  Note that `protected abstract string? Name1 { get; }` is not an actual implementation of hte interface method.  It's some new bridge method the user is using to try to allow for overriding behavior. But it exists outside of the interfac

[2022-09-12 19:24] binki commented on #63947
What I expect from the implement abstractly CodeFix is nonconcrete implementations. If I were to derive a class from it, everything which I had elected to have abstract implementations should cause a compiler error.

The results above are surprising because the output of the CodeFix is a fully implemented (albeit autoimplemented) property. It would be better for it to not create that property in t

[2022-09-12 19:27] CyrusNajmabadi commented on #63947
There can't be non-concrete implementations of this particular interface method though due to teh collusino with the existing method.  The interface method must be explicit.  At that point though, the strategy you would like to take for your inheritance (outside of the inheritance of the interface method itself) is up to you :)

[2022-09-12 19:28] CyrusNajmabadi commented on #63947
You can control this with this setting i believe:

![image](https://user-images.githubusercontent.com/4564579/189739143-55b55e2e-9f1f-4e9e-a762-d7a98f67bf73.png)

We will tehn generate a throwing member.

[2022-09-12 19:29] CyrusNajmabadi commented on #63947
The use of 'prefer auto props' was added because of much feedback from people saying they'd rather just have this be an auto-prop more often than a throwing member they have to fix.  Both options are available depending on your preference.

[2022-09-12 19:36] binki commented on #63947
For normal properties, auto properties makes a lot of sense. For explicit interface implementations, that almost never makes sense. Explicit interface implementations are almost always supposed to be glue to different concrete members. I’d expect that not to follow the same rules wrt auto props as nonexplicit members.

[2022-09-12 19:38] CyrusNajmabadi commented on #63947
I don't have any data indicating to me that that is the case.  There are many people who just implement explicitly as the standard way they prefer to implement, keeping the interface members out of the surface area of their concrete type, so they are only available through the interface.  Those people have just as much a need for normal auto-props as anyone else.

I posit that will just be confusi

[2022-09-12 19:41] binki commented on #63947
Ah, interesting. For me, I mostly end up with explicit interface implementations when that is required (e.g., due to a name collision) in which case I would never want a discrete concrete member but always implementation via another member. I.e., as glue—just like how implicit interface implementation works under the hood.

I still think that the fact that the CodeFix is clearly labeled “abstract”

[2022-09-12 19:44] CyrusNajmabadi commented on #63947
The philosophy of this fixer (since introduced back in 2005) was: get you to a state where you implement the interface.  It has knobs to control the default way to do that, but it may have to fall back to the only means possible when those knobs are not compatible with the the rest of your type as exists at the present.

In other words, it means "generate abstractly when possible, but fall back to

[2022-09-12 20:35] vsfeedback opened #63952 "Format .editorConfig in Visual Studio"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Format-editorConfig-in-Visual-Studio/10113054)._

---
Currently, format document does not work in Visual Studio. These two features are needed:

1. Turn this:

[code]

into this to put setting values in the same position:

[code]

2.
Allow sections and the settings within the section to

[2022-09-12 20:36] vsfeedback opened #63953 "Navigate selected symbol's usage in current file using "Next"/"Previous" buttons (VisualAssistX feature)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Navigate-selected-symbols-usage-in-curr/10131373)._

---
### Description
VisualAssistX (plugin for Visual Studio) allows to navigate by every usage of currently selected symbol in opened file jumping forward or backward by clicking "Next" or "Previous" button. _(Symbol = variable/method/

[2022-09-12 20:48] vsfeedback opened #63954 "function and methods custom have different color."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/function-and-methods-custom-have-differe/10124541)._

---
if a function or method is an internal from the https://docs.microsoft.com/en-us/dotnet/api/system.string.substring?redirectedfrom=MSDN&view=net-6.0#overloads
website

then I'd like to have it a (slightly) different color text the

[2022-09-12 20:48] #63315 closed

[2022-09-12 20:49] mikadumont commented on #63954
@JoeRobich I believe you added an option for this in `fonts and colors` but should we consider making this the default option?

[2022-09-12 20:49] CyrusNajmabadi commented on #63953
@olegtk can you move to platform?

[2022-09-12 20:49] vsfeedback opened #63955 "Global option to disable format on paste"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Global-option-to-disable-format-on-paste/10119289)._

---
I don't find format on paste helpful and after getting tired of hitting control-z after every paste I disabled it... or thought I did, but only in C#, and then I went about finding the other half dozen formatters I use and disabli

[2022-09-12 20:50] vsfeedback opened #63956 "Option to make using directive global."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Option-to-make-using-directive-global/10110952)._

---
With the introduction of [global using directives](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-10#global-using-directives) in C#10 I think it would be useful if there was an option for the editor to detect using d

[2022-09-12 21:00] CyrusNajmabadi commented on #63954
Is this asking for metadata vs source symbols to have different colors?

[2022-09-12 21:01] CyrusNajmabadi commented on #63955
@olegtk can you move to platform as this is a request for a common optino that goes across all languages.

[2022-09-12 21:15] sharwell opened #63958 "AbstractEmbeddedLanguageBraceMatcher.FindBracesAsync should use frozen partial semantics"
Currently `AbstractEmbeddedLanguageBraceMatcher.FindBracesAsync` uses a semantic model with full semantics, which means brace highlighting won't show up until source generators are completed. This should be updated to use non-blocking frozen partial semantics instead.

Identified in [AB#1613387](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1613387)

[2022-09-12 21:16] ryzngard opened #63959 "Behavior of "var" quickinfo and nullable reference types"
We have had a few reports spread across feedback tools. I'd like to create a specific issue to track the discussion and user impact. This is strongly related to discussion in #53078 and user feedbacks such as https://developercommunity.visualstudio.com/t/Incorrect-type-deduction-tooltip-for-var/

This is specifically on why we show `string?` in cases where using var is assigned from a `string` val

[2022-09-12 21:20] jasonmalinowski commented on #63959
So even though I understand the underlying language design and why we did it that way, I still get thrown off on occasion by this. I wonder if it's worth adding a little bit of text to quick info that says something like "The thing assigned to the var was string" in the example above, so it's clear that the return type here isn't necessarily what people think it is.

[2022-09-12 21:21] JoeRobich commented on #63954
@mikadumont  I do not believe we have such a classification. I also think we would need a better description of how this proposed classification should work.

[2022-09-12 21:26] Vannevelj commented on #63959
I filed a feedback item around this. It particularly confuses me combined with inlay hints: I love them, as well as `var` and NRT, but combine them and I feel like I'm constantly questioning my code.

e.g. in this screenshot, both variables are guaranteed non-null:

![image](https://user-images.githubusercontent.com/2777107/189761516-8ebacc2f-51ec-41b9-9bca-8c8283129423.png)

[2022-09-12 21:30] jez9999 commented on #38241
Ahh.... this one still aint fixed yet.  Ah well.  By the way, @levicki , I wrap my enums in the following to suppress this warning when doing vertical alignment to the right:

[code]

Hopefully that still works, at least.

[2022-09-12 21:32] CyrusNajmabadi commented on #63959
I personally think the inline-hints display is not only accurate, but desirable.  It's good to know that objectSymbol is an `INamedTypeSymbol?` as i can, and should, be able to assign `null` to it.

I agree that QI could have additional text saying something akin to "known to be non-null at this point in te program" or somethingl ike that.

[2022-09-12 21:34] jasonmalinowski commented on #63959
@ryzngard Hmm, I would have expected the flow analysis to be shown though in your screenshot...it would have at a later use, right?

[2022-09-12 21:35] jasonmalinowski commented on #63959
I actually hate it -- I'm more likely to read that variable than write to it (at least in the sense that all variables are read and it's now telling me I have to be careful before access. I can mouse over it, but that defeated the whole point of the inline hint.

[2022-09-12 21:36] ryzngard commented on #63959
Not sure I follow. Did you want to see what flow analysis says on `x.ToString()`?

The code and gif are aligned. There's no usage after that or other assignments.

[2022-09-12 21:36] CyrusNajmabadi commented on #63959
i mean, you do have to be careful before access.  unless at the access point we've proven it is non-null.  but at that point we'll test and tell you if there's a problem. :)

[2022-09-12 21:36] CyrusNajmabadi commented on #63959
@jasonmalinowski i think this is because this is a decalration point, not a reference point.

[2022-09-12 21:37] Vannevelj commented on #63959
I would expect `objectSymbol` to be annotated as `INamedTypeSymbol` as long as it only has non-null assignments. The moment we do assign a value that might be `null`, then the inlay hint can be updated to the broader type. But as long as that doesn't happen, I want to see as narrow a type as we can guarantee.

If I have to choose between "knowing a variable with nullable type hint is actually non-

[2022-09-12 21:39] sharwell commented on #63959
I'm also in favor of the current approach, primarily because that is the true static type of the variable and it's the _only_ type of the variable according to the compiler. Changing it based on the assignment characteristics means we're reimplementing the nullable walker with intentional deviation from the actual nullable walker.

[2022-09-12 21:40] CyrusNajmabadi commented on #63959
This is nto the view of the language, and it seems outright misleading.  e.g. if something says "i am not null" then i should nto be able to assign null to it :)

[2022-09-12 21:41] CyrusNajmabadi commented on #63959
Note: you should only have to check *if* the compiler tells you you need to check.  That's the nice thing about the flow-analysis approach.

[2022-09-12 21:49] ryzngard commented on #63959
I think there's still a big difference in technically correct and how we can help users understand the behavior.

`var x = "Hello"` showing `string?` on hover is a thinker at the very least. We could treat it similar to how we do flow analysis and add something like Jason suggested. Maybe show

[code]

[2022-09-12 21:50] jasonmalinowski commented on #63959
Sure, but if I'm writing that next line of code I don't want to write it, then get the nullable warning, and then realize I have to rewrite it from scratch because null was a potential output.

I think this might be the useful improvement: count var where the it was made nullable (even if the original value wasn't) as a place we also show the reference point hint.

[2022-09-12 21:53] CyrusNajmabadi commented on #63959
Yes.  I'm in strong agreement on that.  I thought we already did that tbh.  At least, i thought i remember us deciding on htat in a design meeting like 3 years back to do that :D

[2022-09-12 23:30] AdmiralSnyder commented on #63919
I created a branch for the error repro in my solution:
https://github.com/AdmiralSnyder/Conveyors/tree/RoslynErrorRepro

[2022-09-13 00:15] allisonchou opened #63967 "[Automated] PRs inserted in VS build main-32912.209"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/ccc2e0e9ac44b79e9871d1e45484a2e39c27bfeb...8ab250290a4010c11a21521f78dbc87dbb7aac81?w=1)
- [Use common pattern for traits in tests (63893)](https://github.com/dotnet/roslyn/pull/63893)
- [Add binding for textbox colors (63914)](https://github.com/dotnet/roslyn/pull/63914)
- [Change test import ordering based on runtime global

[2022-09-13 00:15] #63967 closed

[2022-09-13 01:16] CyrusNajmabadi opened #63968 "'Frozen Partial' semantics need to be reconciled with OOP and SourceGEnerators"
Currently, 'frozen partial' semantics have no effect in OOP.  That's because teh OOP workspace effectively says 'i do not support thsi concept'.  This is problematic as 'frozen partial' is our mechanism to allow features to say things like "do not bother blocking on running SGs for this feature, i'm ok with whatever data is computed so far".  This means we have an issue when such a feature wants t

[2022-09-13 01:34] jasonmalinowski commented on #63968
So in the case of frozen partial semantics we can probably just try syncing over the generated documents we have from in-proc -- if they're already there we don't have to sync anything, and if they're not there it's hopefully cheaper. It might not be too hard to do as an experiment.

[2022-09-13 01:56] lewing commented on #63863
cc @MattGal

[code]

[2022-09-13 08:47] jez9999 commented on #38241
I believe it just disables code formatting warnings.  See https://github.com/dotnet/roslyn/pull/38627

[2022-09-13 09:38] Youssef1313 opened #63973 "Deprecate `Microsoft.Net.Compilers` on NuGet"
- [ ] This package was deprecated but doesn't show as deprecated on NuGet.

- [ ] In [this doc](https://github.com/dotnet/roslyn/blob/main/docs/compilers/Compiler%20Toolset%20NuPkgs.md#microsoftnetcompilers), it's noted that this package:

    However, the latest version is 4.2.0, so it seems it was produced after 3.6.0? Was that unintentional and fixed (possibly in https://github.com/dotnet/rosly

[2022-09-13 09:43] vsfeedback opened #64046 "WorkspaceAnalyzerOptions should not access Solution.Workspace"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Code-analysis-isnt-warning-CA2000-Disp/10135898)._

---
[severity:It's more difficult to complete my work]
Code analysis isn't warning [CA2000: Dispose objects before losing scope](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2000) when a local objec

[2022-09-13 11:05] MichaelWhi commented on #34111
With @JosefPihrt‘s reply, I think we can close the issue, can’t we?
/close

[2022-09-13 11:42] levicki commented on #38241
@jez9999 Thanks for the tip, I really appreciate it. However, I am not going to litter my code with pragmas -- that's like saving your IDE settings in the code itself, and to me that's a ridiculous approach to solving the underlying problems with the IDE.

[2022-09-13 11:48] Sergio0694 commented on #63919
We're also hitting this in the MVVM Toolkit - none of our test projects using the Roslyn 4.3.0 head can build at all 🥲

[2022-09-13 11:50] Youssef1313 commented on #63919
Is this the same as #63780 ?
The workaround per @RikkiGibson would be to use [4.3.0-3.final](https://www.nuget.org/packages/Microsoft.CodeAnalysis/4.3.0-3.final).

[2022-09-13 11:56] HansOlavS commented on #40341
@IanKemp is totally right! .NET Core/.NET 6 really *really* needs to be the default. That should've been switched in VS 2022 and .NET 6, in my opinion. It was probably just forgotten by the product team.

[2022-09-13 11:58] Sergio0694 commented on #63919
That's not doing the trick in the MVVM Toolkit test projects.
It no longer fails to create the generators, but it now crashes while building:

[code]

[2022-09-13 12:26] vsfeedback opened #63974 "Problem with "potential fix" suggestions being not displayed"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Problem-with-potential-fix-suggestions/10129795)._

---
[severity:It bothers me. A fix would be nice]
.cs file is opened and I want to generate the missing properties by using the suggested fixes, by clicking on the small popup that appears over the "squiggled" texts. However nothing hap

[2022-09-13 15:29] MattGal commented on #63863
I noted yesterday on an email thread that we'd seen problems that led to finding out that "MSBuild Server by default" was a new behavior on Linux, but I'd ping someone like @rokonec for subject-matter-expertise as I only know about this in the context of investigating build failures.

If it happens to be related to the server running where it didn't previously and you can get a local repro, settin

[2022-09-13 17:27] #63927 closed

[2022-09-13 17:44] RikkiGibson commented on #63919
Bug whack-a-mole... the preview3 package we suggested may predate #63347.

If you can add an additional nuget feed to your project then you might have success using the [exact version we shipped in VS 17.3](https://dev.azure.com/dnceng/public/_artifacts/feed/dotnet-tools/NuGet/Microsoft.CodeAnalysis.CSharp/overview/4.3.0-3.22423.10) (at time of writing).

I can see we've had several people hit thi

[2022-09-13 17:54] tmat commented on #62923
Changes merged in https://github.com/dotnet/roslyn/pull/63832 enabled defining a subclass of CSharpSyntaxTree/VisualBasicSyntaxTree that customizes creation of SourceText. This approach can be used instead of passing checksum algorithm to SyntaxFactory.CreateTree.

[2022-09-13 18:02] arkalyanms commented on #63956
@sharwell Did this already come up in the design meeting?

[2022-09-13 19:05] Cosifne opened #63981 "NetCore.ErrorsDuringMethodBodyEditing is flaky"
NetCore one failed to restore the project. Example: https://runfo.azurewebsites.net/view/build/?number=14414

Together it fails 44 times per day.
<img width="1064" alt="image" src="https://user-images.githubusercontent.com/24360909/189988309-6fc06b2b-748f-4ac8-ad1b-5729812e787c.png">

Runfo Tracking Issue: [NetCore.ErrorsDuringMethodBodyEditing is flaky](https://runfo.azurewebsites.net/tracking/is

[2022-09-13 19:14] Cosifne opened #63982 "Desktop ErrorsDuringMethodBodyEditing is flaky"
- [ ] Desktop one failed because there is no content in the error list. Example: https://runfo.azurewebsites.net/view/build/?number=14981

[2022-09-13 19:16] Cosifne commented on #63982
![image](https://user-images.githubusercontent.com/24360909/189990164-4106f5ad-753e-49aa-b5fd-c0c0dcfaddf3.png)
12 times per day

[2022-09-13 19:59] genlu commented on #63922
Also https://developercommunity.visualstudio.com/t/IntellisenseAI-ignores-entered-one-char/1615693

[2022-09-13 20:07] CyrusNajmabadi commented on #63982
It's interesting that it's only VB...

[2022-09-13 20:43] AlekseyTs opened #63986 "Breaking change around contextual keyword `scoped`"
The following code used to compile without errors.
[code]

Observed:
[code]

Note that ```scoped a;``` doesn't cause any errors, So, adding ```ref``` in front of it should not cause any errors either.

I think we should either remove CS9061 completely, or report it only in situations when interpreting `scoped` as an identifier would cause an error too.

Note that there is no similar error for a pa

[2022-09-13 20:44] AlekseyTs commented on #63986
CC @cston, @jcouv

[2022-09-13 23:15] B1Z0N opened #63993 "`fixed` buffer index access false type with semantic model analysis"
**Microsoft.CodeAnalysis.CSharp v4.2.0**:

**Steps to Reproduce**:

1. See that in [this](https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwAICYCMBYAUKgBgAJVMAWAbj0JMwDoAZASygEcr9jS6AVAUwAewDjVIBWDnigBDALZ8AzgAdpAYz5EAYkwF84AfQVMAXn30AjCADMrfMPpZxBLAOZ4A3niLeS6WgHYvH09cHzCiaAVpWyIFYEhVYCIAZSDwohD09NQAZiIrHT0iVQALaTB8wrgAIWtbMABtTHQADgBdDiyiAF88NPDSADYU2MlQrIB6Ca0qoksbOwVi6Sg5jUdBIpZgAHsiAHcmYBKdiCSCsDi11

[2022-09-14 00:58] vsfeedback opened #64001 "Sometimes a block of comment is not collapsable"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/266666/sometimes-a-block-of-comment-is-not-collapsable.html)._

---
After updating to 15.7.3 I noticed that a block of comments does not have a + sign in front of them allowing it to be collapsed.

Clean-rebuild or restart VS, still the same.

Is this a bug or a new feature

[2022-09-14 00:59] sharwell commented on #64001
This issue reproduces when the multi-line block comment appears within a C# member.

[code]

[2022-09-14 01:36] allisonchou opened #64002 "[Automated] PRs inserted in VS build main-32913.307"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/8ab250290a4010c11a21521f78dbc87dbb7aac81...0067c904b8a85eb1dca8b60ecf7dee512294b492?w=1)
- [Simplify data model for task list (63963)](https://github.com/dotnet/roslyn/pull/63963)
- [Remove unused param (63966)](https://github.com/dotnet/roslyn/pull/63966)
- [Rename "Todo Comments" to "Task List" to match Editor naming here.

[2022-09-14 01:36] #64002 closed

[2022-09-14 09:41] mavasani commented on #63394
Closing this issue as underlying race condition for analyzer callbacks into top level code has been fixed. Kindly reopen if you still see this issue.

[2022-09-14 09:41] #63394 closed

[2022-09-14 09:57] mavasani commented on #62498
@Youssef1313 I am unable to reproduce this on the latest internal dogfood builds:
![image](https://user-images.githubusercontent.com/10605811/190123447-1dbdc0a2-6aa3-4c07-9a4f-3143587787d0.png)

One thing I note is that your repro shows all `Suppression State` values as `<blank>`, there are no Active, N/A or Suppressed entries. I am wondering if this is some error list bug. Can you check if you ca

[2022-09-14 10:31] Youssef1313 commented on #62498
Sure, I'll check that as soon as I can.

[2022-09-14 13:20] sharwell commented on #63956
Duplicate of #55895

[2022-09-14 13:20] #63956 closed

[2022-09-14 13:26] sharwell commented on #63953
The **Edit.PreviousHighlightedReference** (<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>&uarr;</kbd>) and **Edit.NextHighlightedReference** (<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>&darr;</kbd>) commands already do this. If you want a button instead of the keyboard shortcut, it should be possible to add these existing commands to one of the menus and/or toolbars.

[2022-09-14 14:41] Sergio0694 commented on #63919
Hey @RikkiGibson, I've tried adding the feed and using that Roslyn version, but I still get the same exception at build 🥲

[2022-09-14 15:27] AlekseyTs opened #64009 "It looks like ```RefEscapeScope``` is incorrectly calculated for a scoped local inside an explicit block."
[code]

Observed:
[code]

The following assert fires:
[code]

It looks like ```RefEscapeScope``` is incorrectly calculated for a scoped local inside an explicit block.

[2022-09-14 15:28] AlekseyTs commented on #64009
CC @cston

[2022-09-14 16:21] #63923 closed

[2022-09-14 16:39] Sergio0694 commented on #63923
@mavasani thank you for the quick fix!
Just to clarify, as I see the PR in the "Next" milestone: will this be included in VS 17.4?

[2022-09-14 16:48] mavasani commented on #63923
@Sergio0694 Yes, that is correct.

[2022-09-14 16:54] Sergio0694 commented on #63923
Sweet, thank you! 😄

[2022-09-14 17:39] #63953 closed

[2022-09-14 17:41] arkalyanms commented on #63954
@JoeRobich You might want to reopen to the feedback ticket to extract more info on this.

[2022-09-14 17:42] arkalyanms commented on #63955
Closing in favor of the reopened feedback ticket.

[2022-09-14 17:44] #63955 closed

[2022-09-14 17:50] arkalyanms commented on #63952
@jmarolf would you check if this would come from us or the platform?

[2022-09-14 17:57] tmat opened #64012 "InvalidOperationException from AbstractMoveStaticMembersRefactoringProvider.ComputeRefactoringsAsync"
**Version Used**:
Version 17.4.0 Preview 3.0 [32906.470.main]

**Steps to Reproduce**:

Editing VB file in Roslyn.sln

[code]

[2022-09-14 19:53] allisonchou opened #64018 "[Automated] PRs inserted in VS build main-32914.139"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/0067c904b8a85eb1dca8b60ecf7dee512294b492...5fba8437a31cb1a10ac42600a809521cb65c1bed?w=1)
- [Change the container of Inheritance margin (63992)](https://github.com/dotnet/roslyn/pull/63992)
- [Skip a flaky test (63983)](https://github.com/dotnet/roslyn/pull/63983)
- [Semantic snippets - prop snippet (63838)](https://github.com

[2022-09-14 19:53] #64018 closed

[2022-09-14 20:16] rboberholz commented on #54030
The above is my original reporting of the problem.
Additional Info: This issue is still a problem not only for VS2019 but also in VS2022. The refactoring attempt fails in a MouseDown event for the "Show Potential Fixes". If you left click and hold the mouse button down and the prompt remains, the refactoring will work. If you left click and hold the mouse button down and the prompt disappears, the

[2022-09-14 22:47] ayakael opened #64200 "[release/7.0.1xx] roslyn + linker looks for net6.0 nupkgs"
Roslyn expects net6.0 nupkgs:
* microsoft.netcore.app.ref.6.0.7.nupkg (or v6.0.10)
* microsoft.aspnetcore.app.ref.6.0.7.nupkg (or v6.0.10)
* microsoft.netcore.app.host.linux-musl-x64.6.0.7.nupkg (or v6.0.10)

It should expect net7.0 versions of those packages.

[code]

[2022-09-14 23:34] jaredpar commented on #63973
Marked as deprecated today.

[2022-09-14 23:34] #63973 closed

[2022-09-14 23:50] jaredpar commented on #63941
The compiler knows nothing about resx files. That is an artifact of MSBuild that is processed at a layer above the compiler and some of the resulting artifacts end up passed to the compilation. If a generator or analyzer wanted to process resx files they would need to pass them as additional files.

That is not allowed in generators. Yes we can't stop you from enumerating the file system. However

[2022-09-14 23:51] jaredpar commented on #63940
Closing as a dupe of #63318. It looks like that fix didn't make it to that version of the SDK. It is checked in though and will flow to the next preview.

[2022-09-14 23:51] #63940 closed

[2022-09-14 23:56] jaredpar commented on #63915
We should delete.

[2022-09-14 23:58] jaredpar commented on #63951
That is not how the property works. It's stating whether the conversion can fail when inside a `checked` block, not whether it occurred in a `checked` block. From the doc comment:

Now this specific code sample will produce `IsChecked == true` on the first instance when compiling against `net7.0`. That is because in `net7.0` we treat `IntPtr` as an alias for `native int` and use it's `checked` ope

[2022-09-15 00:02] jaredpar commented on #63904
Note: this is not a statement of "we will do this" but that "we could do this". At this point we don't feel that the added complexity is worth it. But if the compat changes we introduced end up being a higher burden than we anticipated it is something we would consider.

[2022-09-15 00:20] bartdesmet opened #64033 "CA1062 false positive for nullability analysis"
**Version Used**:

Microsoft Visual Studio Enterprise 2022
Version 17.2.4
VisualStudio.17.Release/17.2.4+32602.215
C# Tools   4.2.0-4.22281.5+8d3180e5f00d42f0f0295165f756f368f0cbfa44

**Steps to Reproduce**:

[code]

and

[code]

**Expected Behavior**:

When commenting out `#define REPRO`, no CA1062 warning is produced complaining about `xs` being possibly null, even though the error is reported o

[2022-09-15 00:27] bartdesmet commented on #64033
FWIW, the real implementation of `Qux` is a more complex `ToReadOnly` extension method:

[code]

but I've simplified the repro by weeding out what seems to be the remaining `if` statement that changes the warning behavior. At the caller side, the warning is always reported on the first potentially null-dereferencing access on a local variable holding the non-null `ReadOnlyCollection<T>`, and the w

[2022-09-15 05:30] mogikanin opened #64040 "Incorrect CS8618 warning for generic property with Enum constraint"
**Version Used**:
VisualStudio.17.Release/17.3.3+32825.248

**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/840681/190321944-7395885f-141a-4c1d-97b9-e696d9a1673a.png)

[2022-09-15 08:13] Youssef1313 commented on #64040
The warning is correct. `MessageType` could be null, while it shouldn't.

[code]

What you need is `where T : struct, Enum`

[2022-09-15 08:22] mogikanin commented on #64040
@Youssef1313 yes, you are right. Forgot about this additional `struct` constraint.

[2022-09-15 08:22] #64040 closed

[2022-09-15 09:31] mhartkorn opened #64044 "IDE0059 incorrectly suggests removal of used variable"
**Version Used**: Microsoft Visual Studio Enterprise 2022 (64-bit) - Current Version 17.3.3

**Steps to Reproduce**:

[code]

**Expected Behavior**: Do not delete my variable assignment.

**Actual Behavior**: Wants to break my code. If I follow the suggestion it removes the variable. It can alter the code semantics by deleting necessary assignments. In my example the compiler will error because `c

[2022-09-15 10:12] svick commented on #63592
@CyrusNajmabadi

Wouldn't this leave you in the unsupported configuration of `<TargetFramework>net6.0</TargetFramework><LangVersion>11</LangVersion>`? Is directing people towards unsupported configurations really the right way to go?

[2022-09-15 11:37] ufcpp opened #64045 "Incorrect ref escape analysis"
Note: the erroneous scenario is outlined in https://github.com/dotnet/roslyn/issues/64045#issuecomment-1271568313 and explained in the following comments.

**Version Used**:

Version 17.4.0 Preview 2.0
C# Tools   4.4.0-2.22430.14+2f760738cb92f32f50c981b68ba04ac3c8b7ee48

**Steps to Reproduce**:

https://gist.github.com/ufcpp/19d090babe824ab3fc064203b50de684

**Expected Behavior**:

Error at

https

[2022-09-15 14:00] CyrusNajmabadi commented on #63592
We should direct you to a supported config. If we do not, the issues would be there, not with allowing someone to try out raw strings easily.

[2022-09-15 15:25] #40502 closed

[2022-09-15 17:16] runfoapp[bot] opened #64047 "WorkCoordinatorTests.AdditionalDocumentOpenedClosedEvents is flaky"
Runfo Tracking Issue: [WorkCoordinatorTests.AdditionalDocumentOpenedClosedEvents is flaky](https://runfo.azurewebsites.net/tracking/issue/431)
|Build|Definition|Kind|Run Name|
|---|---|---|---|

Build Result Summary
|Day Hit Count|Week Hit Count|Month Hit Count|
|---|---|---|
|0|0|0|

[2022-09-15 17:38] #64001 closed

[2022-09-15 17:47] mavasani commented on #64046
ComputeHashCodeParts is the code on analyzer side. It’s computing key for some data based on analyzer options passed to analyzer options, hence calling AnalyzerOptions.GetHashCode. WorkspaceAnalyzerOptions is a sub-type of AnalyzerOptions. We want to delete this sub-type for a while, let me find the issue tracking that work

[2022-09-15 17:50] #62340 closed

[2022-09-15 17:50] #63761 closed

[2022-09-15 17:52] arkalyanms commented on #64047
@mavasani may be related to another one you are looking at?

[2022-09-15 17:54] mavasani commented on #64047
Yes, I believe the same race condition as https://github.com/dotnet/roslyn/issues/62479

[2022-09-15 17:58] arkalyanms commented on #64012
@tmat do you still have a repro and can you share the file being edited and such?

[2022-09-15 18:10] NTaylorMullen opened #64050 "LSIF Generator can generate invalid JSON in hover results"
**Version Used**: `4.4.0-1.22372.4`

**Steps to Reproduce**:

1. Generate LSIF for [this file](https://github.com/dotnet/razor-tooling/blob/0c693f314f2084630fc735379836acadd0ebcc0b/src/Razor/test/Microsoft.AspNetCore.Razor.Test.Common/UseExportProviderAttribute.cs#L33) in dotnet/razor-tooling

**Expected Behavior**:
No 0x07 control character generated

**Actual Behavior**:

Scroll to the right in

[2022-09-15 18:13] DoctorKrolic opened #64051 "`IDE0074` removes comments"
**Version Used**:
VS 17.3.3

**Steps to Reproduce**:
[code]
Run `IDE0074` on `if`

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

Live example: https://github.com/dotnet/razor-tooling/pull/6841#discussion_r971942721

[2022-09-15 18:23] DoctorKrolic opened #64052 "`Change to direct cast` creates nullability warning"
**Version Used**:
VS 17.3.3

**Steps to Reproduce**:
[code]
Run `Change to direct cast` on `null`

**Expected Behavior**:
[code]
**Actual Behavior**:
[code]
_Note that the `?` is not present, so such code results in nullability warning_

[2022-09-15 18:24] tmat commented on #64046
I don't think we can remove WorksapceAnalyzerOptions. We need analyzers to be able to access IDE options that are not stored in editorconfig: https://sourceroslyn.io/#Microsoft.CodeAnalysis.Workspaces/IdeAnalyzerOptions.cs,0d7224b6f15a1359,references

[2022-09-15 18:28] CyrusNajmabadi commented on #64046
i guess my question is: why do we need to hash this guy at all?  Or, if we do, why is the 'Workspace' the part we're hashing.  As opposed to the data inside?

[2022-09-15 19:01] genlu commented on #64012
I'm hitting this today as well, when editing inside a test method in `src\EditorFeatures\Test2\IntelliSense\CSharpCompletionCommandHandlerTests.vb`

[2022-09-15 20:29] allisonchou opened #64057 "[Automated] PRs inserted in VS build main-32915.115"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/5fba8437a31cb1a10ac42600a809521cb65c1bed...4102614c5a6febf53be39e93d62fc21afca5af18?w=1)
- [Ignore ref-safe-to-escape of unscoped ref to ref struct in MAMM (64017)](https://github.com/dotnet/roslyn/pull/64017)
- [Use helpers to consistently navigate to symbols in features. (64014)](https://github.com/dotnet/roslyn/pull/64014)

[2022-09-15 20:29] #64057 closed

[2022-09-15 20:39] JoeRobich opened #64058 "StackTaceExplorer does not handle VS Theme change"
**Version Used**: 17.4 Preview 1

**Steps to Reproduce**:

1. Open StackTraceExplorer
2. Click in the editor
3. Change the theme from Light to Dark (Tools > Themes > Dark)

**Expected Behavior**:

All controls in the StackTraceExplorer are updated for the newly applied theme.

**Actual Behavior**:
The context menu updates but the StackTraceExplorer tool windows doesn't.

<img width="383" alt="imag

[2022-09-15 20:41] PJB3005 opened #64059 "Erroneous CS8370 when using IntPtr comparison in C# 7.3"
**Version Used**:

.NET `7.0.100-rc.1.22431.12`

`4.4.0-2.22426.8 (7886fad5)` according to `csc.dll /version`

**Steps to Reproduce**:

Try to compile the following code with the .NET 7 SDK, with `<LangVersion>7.3</LangVersion>`:

[code]

**Expected Behavior**:

This compiled fine in .NET 6

**Actual Behavior**:

It fails to compile with the following error:

[code]

[2022-09-15 20:42] JoeRobich opened #64060 "StackTraceExplorer ContextMenus icons not themed appropriately"
**Version Used**: VS 17.4 Preview 1

**Steps to Reproduce**:

1. Open VS in the Blue theme
2. Open StackTraceExplorer
3. Right click within STE

**Expected Behavior**:
The context menu icons are themed appropriately.

**Actual Behavior**:
It does not appear that the CrispImages have had the proper background color applied.
![image](https://user-images.githubusercontent.com/611219/190504605-d4c8ca4

[2022-09-15 20:44] JoeRobich opened #64061 "VS Toolbar does not work when StackTraceExplorer has focus"
**Version Used**: VS 17.4 Preview 1

**Steps to Reproduce**:

1. Open VS
2. Open StackTraceExplorer
3. Try using the VS toolbar (Tools > Options, Help > View Help, etc...)

**Expected Behavior**:
The select VS Toolbar command is executed.

**Actual Behavior**:
The toolbar commands do not work.

[2022-09-15 20:59] 333fred commented on #63888
### API Review

* Uneasy shipping a component that has a StackOverflow built-in by-design
    * What if we just documented that `Workspace` is always `null`?
    * Could write a bit of reflection to detect this cycle and fail in a more helpful manner
* We could add a new analyzer for this particular case
* Users who can call this method are generally in an advanced scenario where they're implement

[2022-09-15 22:39] JeremyMorton commented on #62901
I want to try this workaround, but I am not sure what you are referring to with `MemoryMarshal.AsReference`; I can't find any reference to it. `MemoryMarshal.AsRef` takes a span, which is what I'm trying to create in the first place. :)

[2022-09-15 23:16] tmat commented on #56763
We should go over "Concept-OOP" issues: https://github.com/dotnet/roslyn/issues?q=is%3Aopen+is%3Aissue+label%3AConcept-OOP

[2022-09-15 23:26] RikkiGibson commented on #63919
Closing as a duplicate of #63780

[2022-09-15 23:26] #63919 closed

[2022-09-15 23:32] vsfeedback opened #64065 "Quick Actions-Slider does not match the content"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Quick-Actions-Slider-does-not-match-the-/1510431)._

---
[bandicam 2021-08-22 18-10-33-919.mp4] (https://aka.ms/dc/file?name=Bdeaa1019eb564394999d9b15d44afca8637652238846607216_bandicam_2021-08-22_18-10-33-919.mp4&tid=deaa1019eb564394999d9b15d44afca8637652238846607216)

When I try to use

[2022-09-15 23:33] ryzngard commented on #64065
From feedback issue:

When previewing a change from lightbulb, if the change is very large (for example generating the full switch statement of all `HttpStatusCode`) the scrollbar in the preview (hover, not modal preview window) is wrong.

[2022-09-15 23:38] vsfeedback opened #64066 "Move type to file copies parent class"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Move-type-to-file-copies-parent-class/1489630)._

---
[severity:It bothers me. A fix would be nice]
Using the Move type to file refactoring feature in VS2019 IDE, where the type/class is inside an existing class. The feature copies the entire parent class, not just the selected type/clas

[2022-09-15 23:39] ryzngard commented on #64066
[code]

Using "Move Class2 to <filename>" copies everything within Class1.

[2022-09-15 23:42] vsfeedback opened #64068 "On pasting code or reformatting, Visual Studio replaces tabs with spaces (can be undone with Ctrl Z)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/On-pasting-code-or-reformatting-Visual-/1518561)._

---
[severity:It's more difficult to complete my work]
First of all, this is not a VS/Mac problem but it is on a Windows Pc. However, Report a problem does not appear in my Help menu, one of the many failures I see in VS, also not after

[2022-09-16 00:12] vsfeedback opened #64072 "C#, "Move to namespace" bad performance."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/C-Move-to-namespace-bad-performance/1612758)._

---
# Repro

Place the following batchfile in some junk dir.

[code]

- Run the batch file.

- Open the .csproj as a project in VS.

- Open the C# source file `ClassA1.cs`.

- Place caret on `A1`.

- Invoke the incantaction "Move to namespa

[2022-09-16 00:19] vsfeedback opened #64073 "Typo in Stack Trace Explorer after clearing contents"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Typo-in-Stack-Trace-Explorer-after-clear/10012988)._

---
[severity:Other]
The window reads "Paste a valid stack trace to view and navigate **it's** values" but should read "**its** values".

---
### Original Comments

#### Feedback Bot on 4/13/2022, 11:10 PM:

(private comment, text rem

[2022-09-16 00:21] CyrusNajmabadi commented on #64072
Customer comments:

Note: these are global symbols, and these are our extension points for extensibility authors to hear about a rename of any symbol.  The name 'global' simply means it's a global broadcast to interested parties.

--

That said, if the project system is slow on these calls, then that's on them.  This shoudl likely be routed to project system to address.

[2022-09-16 00:23] vsfeedback opened #64074 "C# Editor Inserting Wrong Namespace"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/C-Editor-Inserting-Wrong-Namespace/10119542)._

---
[severity:It's more difficult to complete my work]
I have a file that already has

`using System.Windows.Controls;`

When I past in the following code

`Canvas.SetTop(_image, p.Y);`

The Visual Studio automatically adds a new using dire

[2022-09-16 00:23] ryzngard commented on #64074
Likely we should not automatically add namespaces if a conflict will be added. it is a bit odd because that would mean we're getting a diagnostic for an error....

[2022-09-16 01:29] mavasani commented on #64046
Reported again at https://github.com/dotnet/roslyn-analyzers

[2022-09-16 02:18] Sergio0694 opened #64077 "CA2252 warnings with .NET 7 RC1 SDK"
**Version Used**: .NET 7 RC1 SDK

**Steps to Reproduce**:

1. Clone the .NET Community Toolkit at https://github.com/CommunityToolkit/dotnet/commit/338172af682a5910ca33962211be1751d0dd2008
2. Run `dotnet build` on the solution

**Expected Behavior**:

The solution should build fine like it did up until now.

**Actual Behavior**:

A whole bunch of CA2252 warnings from the CommunityToolkit.HighPerfo

[2022-09-16 05:49] NTaylorMullen commented on #64050
Hmm, something seems to be amiss. Looking at LSIF generated / uploaded from the task it looks like hover results aren't being escaped properly during json serialization possibly?

Looking at this hover result:

[code]

The quotes `"source of truth"` aren't escaped which results in it breaking json deserialization entirely:
![image](https://user-images.githubusercontent.com/2008729/190565734-58bb91

[2022-09-16 07:45] DoctorKrolic commented on #64051
Well, it turned out that this is already fixed in the latest `main`, closing the issue

[2022-09-16 07:45] #64051 closed

[2022-09-16 08:43] simonziegler opened #64079 "Microsoft.CodeAnalysis.CSharp.Workspaces 4.3.0 bug"
**Version Used**:

Microsoft.CodeAnalysis.CSharp.Workspaces 4.3.0

Note that 4.2.0 and all versions prior to that which I have used over the last 20 months are fine, as is 4.4.0-1.final

</body>
</html>
**Steps to Reproduce**:

Sorry, my description may be lightweight:
1. Create a net6.0 project with a single namespace (e.g. a console app, although I've got a class library where this issue is exhi

[2022-09-16 09:34] jjonescz commented on #61831
Lambdas are not addressed, pending the merge of `feature/lambda-default-parameters`, see https://github.com/dotnet/roslyn/pull/63975#discussion_r971083738

[2022-09-16 09:36] mavasani commented on #8605
This is no longer relevant. WorkspaceAnalyzerOptions cannot be removed based on https://github.com/dotnet/roslyn/issues/64046#issuecomment-1248449302. Hence, AnalyzerOptions cannot be sealed (it will also be a breaking change to seal a shipped public type).

[2022-09-16 09:36] #8605 closed

[2022-09-16 14:04] omuleanu opened #65228 "blazor VS Format Document breaks formatting"
having this code in a `.razor.cs` file:

[code]
in latest version of VS2022 .net 6 blazor server app,
hit `Ctrl + K, Ctr + D`,
and the first method will look like this:
[code]
note how the `{ }`  characters lost their relative distance
the same issue will occur when pasting this code (auto formatting I presume)

[2022-09-16 14:12] B1Z0N commented on #63993
I've checked this on main branch debugging this handwritten test:

[code]

So it seems to be fixed on `main` and the repo seems to be working on `.NET 7.0`.
But we have this problem on `Microsoft.CodeAnalysis.CSharp v4.2.0` and `.NET Framework v4.7.2`.
A few questions regarding that:

1. What version of `Microsoft.CodeAnalysis.CSharp` is on main branch of this repo?
2.  What branch corresponds to

[2022-09-16 14:30] rolfbjarne opened #64086 "UnmanagedCallersOnly functions with bool parameters should be an error"
**Version Used**:

* [main (9 Aug 2022) from sharplab.io](https://sharplab.io/#v2:EYLgtghglgdgNAExAagD4AEAMACdBGAOgCUBXGAFyjAFMCBJC6gJwHsAHAZWYDcoBjagGcA3AFgAUBPQAmbAEE2bCQG8J2dbgDM2MoIgAzarjwA2XABZsAWWgxsACgCUajavEaP2BNQA21AOYQ5NQAVDowkDAQ/tQIADzALCw+cBYAfNhQ2AC82ABkdGLunupQ9uRMJNSORR4AvhIu6gDaAKoREFExCADCED5+TIIA8jA+AJ4Auk3GZuiWdA6Jydj6UH5EAVAsMM7F6m71EnVAA=)

**Steps to Reproduce**:

See:

* A

[2022-09-16 14:36] Youssef1313 opened #64087 "[API Proposal]: `IFieldSymbol.IsMarshalledExplicitly`"
## Background and Motivation

https://github.com/unoplatform/uno/blob/c7160036aabd2ceb87cf34fd28a2e9db4e251239/src/SourceGenerators/Uno.UI.SourceGenerators/TSBindings/TSBindingsGenerator.cs#L179-L215

😕

## Proposed API

[code]

## Usage Examples

⏫

## Alternative Designs

## Risks

[2022-09-16 14:58] tannergooding commented on #64086
This is a case where the exact behavior of `bool`/`char` is runtime/scenario dependent.

For RyuJIT, this should work with the new [DisableRuntimeMarshallingAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.disableruntimemarshallingattribute?view=net-7.0).

CC. @jkotas, @AaronRobinsonMSFT

[2022-09-16 15:01] rolfbjarne commented on #64086
@tannergooding does `[DisableRuntimeMarshalling]` make `ref` parameters blittable too (#57025)?

[2022-09-16 15:04] jkotas commented on #64086
It is no different from other invalid combinations of types or interop marshalling attributes on e.g. DllImport. They are only caught at runtime. Roslyn does not flag them as errors. It is intentional design.

No. `ref` is never blittable and requires marshalling.

[2022-09-16 15:09] 333fred commented on #63993
4.4.0, corresponding to VS 17.4.0.

release/dev17. 2. While we do support it (because VS 17.2 is a long-term support release), the bar for bugs is extremely high. Unless the compiler is crashing, it's not going to make it.

[2022-09-16 15:56] #63986 closed

[2022-09-16 16:03] stephentoub commented on #56374
Out of sheer curiosity, I checked what the C# compiler will output if the switch is rewritten as cases of list pattern matching:
[SharpLab](https://sharplab.io/#v2:EYLgtghglgdgPgAQEwEYCwAoBBmABM3AYVwG9NcL89gB7GgG1wEkBnAaRhoHcZCaYALgFNBAFQCeAByEoAFAhQAGXAGN+wsVKEA1CPQCuQgJTlKZDJUu4WXKAJUALXLLWCRAidN0Hjpq6T9/ShUIFiFcACJhAA8BAHposHoIkECg1VDwqKFYuJUWFhS0oJCwyJj4/IA3Iot04MzIqEgAcyE4lqgAM1r6hrKI5og2uMkY

[2022-09-16 16:31] alrz commented on #56374
I think that'll emit better code having https://github.com/dotnet/roslyn/issues/29033 in place.

What does that refer to?

[2022-09-16 16:44] NTaylorMullen commented on #64050
Dug into why and you're missing `Console.OutputEncoding = Encoding.UTF8;` after setting the console to the output method: https://github.com/dotnet/roslyn/blob/2824abb2fabdc29ede627470b2800ba0d15f787a/src/Features/Lsif/Generator/Program.cs#L46

[2022-09-16 17:03] CyrusNajmabadi commented on #64050
@NTaylorMullen might be fastest to just submit a PR :)

[2022-09-16 17:04] NTaylorMullen commented on #64050
Already on it, Roslyn takes forever to build though. Maybe I just wont build and wing it😆

[2022-09-16 17:11] mikadumont opened #64089 "Add a lightbulb option for remove and sort usings"
In addition to having the `remove and sort usings` in the toolbar menu we should add an option in the lightbulb since we also have an option to `remove unnecessary usings` there too.

[2022-09-16 17:27] jasonmalinowski commented on #64050
![image](https://user-images.githubusercontent.com/201340/190697092-c10bc2c5-0e70-470d-97d8-0384bccbe5f2.png)

[2022-09-16 17:59] stephentoub commented on #56374
Just that the JIT today will generate better code for e.g. `value.StartsWith("abcdefgh", StringComparison.Ordinal)` than it would for `value.Length >= 8 && value[0] == 'a' && value[1] == 'b' && value[2] == 'c' && value[3] == 'd' && value[4] == 'e' && value[5] == 'f' && value[6] == 'g' && value[7] == 'h'`.

[2022-09-16 18:01] #63692 closed

[2022-09-16 18:51] omariom commented on #56374
Or JIT could recognize the pattern and replace generate [something like this](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4aNZkiakGQhgG9NtcjuAQIkhgFlsXDtkkAKZowVOOMAJQ1j1BkCmAHYGD0kvFgAZGC4AcwwACwYAPgBeBgAOBhogvIYAMgKwzxgAbToAXQY0jIBybDqcgPzAopKI8vJq2oY64Cbc1sLi8K8y0h76sEGW1vax8oBmKb6AE1nhkY7xlFW6mE3hhdKygFZ9gDMj+dHTpH24m/y

[2022-09-16 18:57] RikkiGibson commented on #64079
Are you possibly getting `warning CS8785: Generator 'Generator' failed to generate source. It will not contribute to the output and compilation errors may occur as a result.` in your project? If so, this may be a duplicate of #63780.

[2022-09-16 19:29] jcouv commented on #63348
Re-opening. I've done a build of the `runtime` repo with debug compiler bits yesterday and hit those same two assertions. This was using latest compiler and `runtime` repo from `main`.

[2022-09-16 19:37] simonziegler commented on #64079
Thank you - I'll check and report back.

[2022-09-16 20:07] 333fred commented on #63348
We had to revert the IAttributeOperation PR for now. We'll get it back in at some point.

[2022-09-16 20:12] Cereal-Killa commented on #40341
Agreed, we need this to default to the latest and the greatest.

[2022-09-16 20:43] #62768 closed

[2022-09-16 20:47] allisonchou opened #64095 "[Automated] PRs inserted in VS build main-32916.169"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/4102614c5a6febf53be39e93d62fc21afca5af18...68e5e166f1a2b60f01ebfcb25f0025cf3f1a4bc8?w=1)
- [Add test validating gotodef at end of file (64069)](https://github.com/dotnet/roslyn/pull/64069)
- [Remove unused parameter (64070)](https://github.com/dotnet/roslyn/pull/64070)
- [Fix goto-def not working on the last character in a do

[2022-09-16 20:47] #64095 closed

[2022-09-16 21:04] #64046 closed

[2022-09-16 21:27] ryzngard commented on #63871
https://github.com/dotnet/roslyn/issues/63810

[2022-09-16 21:27] #63871 closed

[2022-09-16 21:31] jaredpar commented on #62901
This is because I should have written `Unsafe.AsRef`. 😦

Overall though my statement is inaccurate. After we saw more examples of this in the wild we decided to directly address the problem. When calling APIs that are compiled with the pre-C# 11 version of the rules we interpret them using the old rules. So in this case we'll do the right thing and the code can exist as it did in C# 10 and before.

[2022-09-16 21:32] JeremyMorton commented on #62901
Is this change in post-RC1?

[2022-09-16 21:35] #64050 closed

[2022-09-16 21:37] tmat opened #64098 "EE doesn't handle methods that span multiple documents correctly"
`MethodDebugInfo.ReadMethodDebugInfo`
Incorrectly assumes that a method body spans only a single document:
https://github.com/dotnet/roslyn/blame/main/src/ExpressionEvaluator/Core/Source/ExpressionCompiler/PDB/MethodDebugInfo.Native.cs#L173

This is not the case for methods with `#line` directives, e.g.:

[code]

[2022-09-16 21:44] RikkiGibson commented on #64098
We will need to figure out how to get the document which contains the C# source text for the method implementation. It was suggested that doing this in general could require reverse mapping all the line directives in the project.

[2022-09-16 21:57] #64061 closed

[2022-09-16 22:00] RikkiGibson commented on #64098
It might be best to add a new CDI to do this properly. When a method is in the same file as a file type, we would add an entry somewhere which indicates the original source file for the method, which we can use to look up the file type.

[2022-09-16 22:29] jaredpar opened #64100 "Implement the separate return scope"
This bug tracks implementing the _return only_ escape scope as laid out in the [ref field spec change](https://github.com/dotnet/csharplang/pull/6450).

[2022-09-16 22:47] #64073 closed

[2022-09-17 00:23] jasonmalinowski opened #64103 "CoreCompile is missing Analyzer references in it's stated inputs"
I'm not sure if there's some fancy trick that makes this unnecessary, but looking at the stated inputs to CoreCompile, it seems analyzers aren't included:

https://github.com/dotnet/roslyn/blob/007914c68077a215c507d5fb31614e3fb91a58c0/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L32-L56

Thus, if you have a build that is consuming an analyzer through a project reference or somethin

[2022-09-17 07:43] macias commented on #58
@MadsTorgersen this is unfortunate (at least). How do you accomplish it with struct? Either I am missing something or you would have to constantly type something like `wrapper.Value`.

Anyway, it is 2022 and working with primitive types (like long, int) was a pain years ago and it is pain still. This is because I cannot differentiate that this `long` is id for nodes, and this `long` is id for road

[2022-09-17 08:30] CyrusNajmabadi commented on #58
Wrap the primitive with a struct (or a record-struct).

Only if you actually want to work with the underlying value.  But then you're losing the strong typing.  The point of strong typign would be not have that happen, but to instead inforce you only use the actual strong type, while still benefiting from a small internal representation that would not leak out.

Just have a `NodeId\RoadId\EtcId` s

[2022-09-17 09:23] simonziegler commented on #64079
@RikkiGibson that was an excellent observation. Thank you. If I follow the guidance to reference 4.3.0-3.final rather than 4.3.0 everything works fine. Interestingly 4.3.0 seems to work with .net 7 but I'm not going to risk this in production.

[2022-09-17 09:23] #64079 closed

[2022-09-17 11:07] uzinable commented on #63792
Hello,

There is still a case where the parser is lost, when there an unusual comment and either commented code or nothing.

[code]
[code]
This two don't transform to single line namespace on magic ";". I promess i won't test anymore, as i'm happy with the last update and don't do those comment  anymore since very long time, just to let you know :)

[2022-09-17 11:21] macias commented on #58
At the end of the day I have to.

I understand it. My point is, struct wrappers are not solution, they are merely workarounds. You have to type more, your code is bloated just because some feature is missing.

If it was the case only single feature in given language is missing, fine, but there are much more and as the effect I constantly write code which I shouldn't.

[2022-09-17 15:17] CyrusNajmabadi commented on #58
I don't get the distinction.

You're always going to have to type more. You need some way to define this new alias, and that means more code.

There should be no bloat.  That's the point here. These are structs, so they have the exact size of the data they wrap. It's bloat free.

This is the feature though

[2022-09-17 17:53] macias commented on #58
@CyrusNajmabadi  you do understand the difference between one extra line and multiple/thousands of `.Value` polluting the code (this is what I meant by bloated code, source code)?

[2022-09-17 18:34] CyrusNajmabadi commented on #58
It's unclear why you need multiple/thousands of `.Value` polluting your code.

[2022-09-17 20:28] bartdesmet opened #64111 ""Use recursive patterns" suggests redundant "this is { ... }" pattern"
**Version Used**:

Microsoft Visual Studio Enterprise 2022
Version 17.2.4
VisualStudio.17.Release/17.2.4+32602.215

C# Tools   4.2.0-4.22281.5+8d3180e5f00d42f0f0295165f756f368f0cbfa44

**Steps to Reproduce**:

[code]

Generated code in `Foo` is equivalent to:

[code]

**Expected Behavior**:

"Use recursive patterns" rewrites `Foo` to:

[code]

Generated code in `Foo` is equivalent to:

[code]

**A

[2022-09-17 21:31] CyrusNajmabadi commented on #64111
@alrz ?

[2022-09-18 05:05] macias commented on #58
`someWrapper1     +???      someWrapper2`

[2022-09-18 06:47] CyrusNajmabadi commented on #58
@macias I don't know what that code is meant to convey.

It's also unclear why you're adding NodeIds or RoadIds.  However, if that is something you intend to do in your domain, then that's fine. There's no reason you have to use .Value in thousands of places to do so.

[2022-09-18 23:55] #63898 closed

[2022-09-19 04:16] jaredpar commented on #64103
That does look like a bug. So obviously so that it worries me that there is a reason.

@rainersigwald, @baronfel is there a reason for this or is it just an oversight we need to fix?

[2022-09-19 04:17] jaredpar commented on #64059
What `<TargetFramework>` value are you using?

[2022-09-19 05:06] alessandrofrancesconi commented on #59218
I'm working with VS2022 17.3.4 on Windows x64, 8 GB RAM, and servicehub.roslyncodeanalysisservice.exe keeps using lots of RAM after some minutes of work:

![image](https://user-images.githubusercontent.com/1595223/190952487-fe662a29-723a-45eb-9a43-fb7349607cff.png)

I've tried to record dumps/traces, but it is 2 GB big, any advice on where to upload it?

[2022-09-19 05:14] CyrusNajmabadi commented on #59218
@alessandrofrancesconi those numbers do not look add at all.  2.1 GB for service hub is fine.  If you want to report a trace though, use VSFeedback here:

![image](https://user-images.githubusercontent.com/4564579/190953393-5470c10a-a543-4bb1-a2a1-fd32741b49a8.png)

You can add traces to that.  BUt, as above, nothing seems out of the ordinary with that ram usage for VS.

[2022-09-19 09:45] mavasani commented on #63533
@jaredpar Assigned to you for triage.

[2022-09-19 09:46] mavasani commented on #62498
@Youssef1313 any luck?

[2022-09-19 10:06] Youssef1313 commented on #62498
Not yet :(
I got quite busy with my internship. I should be able to test in two weeks or so. You can assign me so that I don't forget.

[2022-09-19 10:34] B1Z0N commented on #63993
@333fred oh I see. Then thanks for explanation. So I won't be putting effort into fixing this.

But, is there any guide on your versioning since there are 4 types:

1. `Microsoft.CodeAnalysis.CSharp` versioning
2. `VS` versioning
3. `.NET` versioning
4. Repo release versioning(like 17.2)

How these relate?

[2022-09-19 12:55] TonyValenti opened #64116 "Preview Changes Dialog Hides Project Information"
## Summary
When doing a fix, I should see project and folder information similar to the solution explorer.

Instead I just see the file names which makes it dangerous to use in my 350-project solution:

![image](https://user-images.githubusercontent.com/13609558/191021528-0d85d320-72bf-45e1-a82b-c554e7b30e9e.png)

## Background and Motivation
Have a better view/control over the scope of changes.

[2022-09-19 15:05] 333fred commented on #63993
1 and 4 are the same thing. For 2, add 12 to the Roslyn major version number and you get the vs number. For 3, I have no good shortcut for.

[2022-09-19 15:15] DoctorKrolic opened #64117 "False-positive nullability warning"
**Version Used**:
https://github.com/dotnet/roslyn/commit/60e74b70fab1122e7196c2d9b033677a39e9b76d

**Steps to Reproduce**:
[code]

**Expected Behavior**:
No `CS8602` where I marked because the value cannot be null at that point

**Actual Behavior**:
`CS8602: Dereference of a possibly null reference.`

[2022-09-19 15:20] CyrusNajmabadi commented on #64117
Roslyn doesn't track the relation between separate variables. This behavior is expected. @RikkiGibson in case this is a dupe that he can link.

[2022-09-19 15:20] #64117 closed

[2022-09-19 15:34] #59709 closed

[2022-09-19 15:37] DoctorKrolic commented on #64117
And there is no planning for supporting it?

[2022-09-19 16:09] DoctorKrolic opened #64118 "Lowering of `is (not) null` is opposite to the expected when the block is empty"
**Version Used**:
https://github.com/dotnet/roslyn/commit/54aeea412317bcddf24ca85e98004df02d6bf999 (from sharplab)

**Steps to Reproduce**:
[code]
https://sharplab.io/#v2:EYLgtghglgdgNAExAagD4AEBMBGAsAKAPQGYACLUgYQIG8DSHyz0AWUgWQAoBKexu/IyGkAbhABOpAMakAvKRgBTAO5UeAbj7DSW4VABmpTjKgBnBQFcANld6DtpAQ+EB6F+mwBODbqEBfXQD8PyA===

**Expected Behavior**:
Lowered code if `M` looks like this:
[code]

**Actua

[2022-09-19 17:16] jcouv commented on #63779
I'll add those files to the `.gitignore` file as a mitigation. The `.gitignore` change can be reverted once this issue is fixed. Thanks

@arkalyanms Why was this triaged to Backlog milestone? Could we prioritize fixing this annoyance assuming it isn't too hard?

[2022-09-19 17:35] svick commented on #64118
You're not directly looking at the IL that's produced by the compiler, you're looking at decompiled code. And [when you look at the IL](https://sharplab.io/#v2:EYLgtghglgdgNAFxFANnAJiA1AHwAIBMAjALABQ5eAzAASE0DC5A3uTe3bXgCw0CyACgCUbDqzIdJNAG4QATjQDGNALw0YAUwDujYQG5RUmoalQAZjQHKoAZ3UBXFChESjNcW6kB6L3iIBOfRNJAF8TMNd2E2o6Xj4CYRMPN1kFZTVNHQYgyKlgjnNLazsYR2d89mTPdj9AoQNc0PDJchCgA), you'll notice that th

[2022-09-19 17:46] CyrusNajmabadi commented on #64118
Closing out as by-design.

[2022-09-19 17:46] #64118 closed

[2022-09-19 18:30] RikkiGibson commented on #63779
cc @dibarbet

[2022-09-19 18:46] RikkiGibson opened #64122 "Change RTRS default escape to ReturnOnly"
Follow-up to #64100

In `M` below, the default scope of parameter `rs` will change from `scoped` to *ReturnOnly*. It will be an error to use `[UnscopedRef]`.

[code]

[2022-09-19 19:01] agocke opened #64123 "No Public API for top-level nullability of members"
Given a method

[code]

There doesn't appear to be any way to determine the top-level nullability of the return type `T`.

This is a pretty important question and the answer is language-defined and very difficult to answer, so I think offering a public API for this is important.

[2022-09-19 19:34] PJB3005 commented on #64059
`net7.0`. I just tested and it only seems to happen on `net7.0`, older target frameworks are fine.

[2022-09-19 19:51] agocke commented on #64123
Right, there are a bunch of cases that are difficult to handle: unconstrained generics are maybe null, `class?` is nullable, `iface?` is nullable, and then there are all the attributes.

While technically this is the flow state information, this is actually the "starting state" information for flow, so there's no flow analysis necessary to calculate this information. The only thing you need is kno

[2022-09-19 20:08] buyaa-n commented on #63951
Yes and this is found with the[ analyzer implementation](https://github.com/dotnet/roslyn-analyzers/pull/6153) that specifically checking for that behavioral change and the tests run on `net7.0` and only if the numeric int pointer feature is available.

That means the code is not producing `IsChecked == true` when compiling against `net7.0`.

[2022-09-19 20:19] #63779 closed

[2022-09-19 20:54] RikkiGibson commented on #64123
@jasonmalinowski @333fred for thoughts

[2022-09-19 21:05] RikkiGibson opened #64130 "arglist is unnecessarily strict when given RTRS"
**Version Used**: https://github.com/RikkiGibson/roslyn/tree/return-only-scope-2

**Steps to Reproduce**:

[code]

**Expected Behavior**: Either implementation is permitted to do `r.RB = ref r.B`, or the call site is permitted to pass `ref y`, but not both.

**Actual Behavior**: The implementation is disallowed from doing `r.RB = ref r.B`, *and* the call site is blocked from passing `ref y`.

Woul

[2022-09-19 21:36] RikkiGibson commented on #64117
marking *not planned*, i.e. *won't fix/by design* makes sense to me.

![image](https://user-images.githubusercontent.com/5833655/191123970-e45dd21b-2501-44c1-a0f4-395502142593.png)

[2022-09-19 21:49] Sergio0694 commented on #54899
Sharing some more findings while testing https://github.com/Sergio0694/ComputeSharp/pull/349. I believe there's two different issues related to supporting this scenario (ie. analyzers that depend on native libs bundled with the analyzer .dll), depending on how one is referencing the analyzer in question. Specifically:

1) When the analyzer is packed into a NuGet package, then Roslyn just fails to

[2022-09-19 21:53] DoctorKrolic commented on #64117
Thank you @RikkiGibson! I might be a bit annoying asking to reclose issues, but I just wanna more devs to know about this cool github feature and use it more often

[2022-09-19 21:55] DoctorKrolic commented on #64118
@CyrusNajmabadi Can you reclose this one as `not planned` please, it better suits the "by design" closing reason. Thanks!

[2022-09-19 21:56] CyrusNajmabadi commented on #64118
I don't really think it matters :)

[2022-09-19 22:02] DoctorKrolic commented on #64118
It makes better representation of really completed problems vs false-positive reports when looking at resently closed issues. But it mostly annoys my internal perfectionist TBO, so sorry for disturbing 🙂

[2022-09-19 22:08] tmat opened #64132 "VS MSBuild tests are broken and do not run in CI"
The attribute that makes them conditional has incorrect VS installation logic.

PR that fixes the logic reveals multiple failures in the tests: https://github.com/dotnet/roslyn/pull/64131

[2022-09-19 22:10] #63409 closed

[2022-09-19 22:16] 333fred commented on #64123
I don't understand. This is exactly what those properties are for. @agocke, can you please clarify what's being asked here?

[2022-09-19 22:35] Zastai commented on #44174
Encountered this myself today (with `Path.GetFileName` so pretty much the original case) with the latest .NET SDK.
Yes, there are workarounds (writing `.Select<string, string>()` or adding `.OfType<string>` after it) but those are fairly ugly and/or add unnecessary overhead.

[2022-09-19 22:41] agocke commented on #64123
Those properties tell you whether something has been *annotated* as nullable, not whether the return value may be null.

[2022-09-19 23:43] ryzngard commented on #64012
This looks like a problem with [GetSelectedMemberDeclarationAsync](https://github.com/dotnet/roslyn/blob/0ebd046e6c1de14e51deca5dbf2b92c9e3b6e2ff/src/Features/VisualBasic/Portable/CodeRefactorings/NodeSelectionHelpers.vb#L14) returning things that don't actually have member declaration symbols. I wonder if somehow in editing VB it could end up having a member level declaration syntax node with no

[2022-09-19 23:50] CyrusNajmabadi commented on #64012
one possibility would be how it handles FieldDeclarationSyntaxes that's a single MemberDecalration, but it has N variable-declarators which have their own symbols.

that said, we could jsut get a dump here and see what it had.

[2022-09-20 00:01] ryzngard commented on #64012
I think it's related to this low hit [NFW](https://prism.vsdata.io/failure/?query=c%3A*AbstractMoveStaticMembersRefactoringProvider*%20fe%3Aide%2Fvbcs%2Fnonfatalwatson&eventType=fault&failureType=hits&failureHash=4aa747a7-2e8c-2a72-a3ba-2df59300385c) I put in for cabs

[2022-09-20 00:05] cston commented on #63208
The notes [from API review](https://github.com/dotnet/roslyn/issues/61647#issuecomment-1178239504):

[2022-09-20 00:40] #64100 closed

[2022-09-20 01:06] isadorasophia commented on #61914
It seems to be a lack of support on VIL for `ReadOnlySpan<char>` parameters, which is the case for [Convert.ToInt32](https://github.com/dotnet/runtime/blob/339a6bcc082c1ab229e40522d7bc84f9feca02ca/src/libraries/System.Private.CoreLib/src/System/Number.Parsing.cs#L279). This doesn't happen with `Convert.ToDecimal` because we hook the method with the `string` parameter instead. 🙂

I'll work on a fix

[2022-09-20 04:39] cston commented on #62096
For some (or all) of these errors, we're probably using the default formatting for the symbol argument, which is `SymbolDisplayFormat.CSharpShortErrorMessageFormat` and does not include `SymbolDisplayParameterOptions.IncludeName`.

Perhaps these errors should use an explicit format instead. See other errors which use `new FormattedSymbol(symbol, SymbolDisplayFormat.ShortFormat)` for instance.

[2022-09-20 05:02] #7578 closed

[2022-09-20 07:45] R0boC0p commented on #61726
Resolved in Version 17.3.4

[2022-09-20 08:55] Youssef1313 opened #64142 "Performance: Improve `GetTypeByMetadataName` fail path"
I'm in a case where the fail-path of `GetTypeByMetadataName` is hit **a lot** causing lots of allocations here:

https://github.com/dotnet/roslyn/blob/cd5e6895d3dc8dfad270505b37d28be70077a645/src/Compilers/CSharp/Portable/Symbols/NonMissingModuleSymbol.cs#L186-L203

![image](https://user-images.githubusercontent.com/31348972/191213447-89306e21-6232-48f7-bd47-136b68c151fc.png)

Note that this alloc

[2022-09-20 10:25] eveloth opened #64143 "'To file-scoped namespace in solution' breaks ASP.NET Core WebApp template"
**Version Used**: 4.3.0-3.22432.10, language version 10.0

**Steps to Reproduce**:

1. Go to Options -> Text Editor -> C# -> Code Style -> General and make sure Code Block Preferences -> Namespace declarations are set to 'block scoped'
![image](https://user-images.githubusercontent.com/83219056/191229791-590b4310-8bd0-4269-9905-79f1f5d84347.png)
2.  Create a new ASP.NET Core WebApp project, don't

[2022-09-20 15:10] myblindy commented on #54899
Let me blow your mind: embed the native dlls in your assembly yourself, and write them out to disk during DLL startup. If you only use run-time binding (`LoadLibrary`, `DllImport` in a separate class, etc.) the native library should already be present by the time it happens, and your scenario will work.

This is of course bordering on the ridiculous, but you're likely to get farther than waiting f

[2022-09-20 15:32] Sergio0694 commented on #54899
My mind was not blown, as that's exactly what I've been doing for months already. But the whole point is that scenario is completely unsupported: source generators shouldn't do any IO. Not to mention it makes the setup unnecessarily complicated and ends up creating a lot of garbage in temporary folders for all the copied .dll-s.

[2022-09-20 15:43] CyrusNajmabadi commented on #61914
@isadorasophia what does 'vil' stand for?  Thanks!

[2022-09-20 16:24] akhera99 opened #64144 "Semantic Snippets - Snippet Working List"
Snippets List:

- [x] prop
- [x] cw
- [x] if
- [x] foreach
- [x] for
- [ ] ctor
- [ ] try
- [ ] else
- [ ] #region
- [ ] switch
- [ ] while
- [ ] propfull
- [ ] using
- [ ] mbox
- [ ] #if
- [x] class
- [ ] do
- [ ] propdp
- [ ] svm
- [ ] propg
- [ ] enum
- [ ] lock
- [ ] namespace
- [ ] testm
- [ ] tryf
- [ ] forr
- [ ] propa
- [ ] equals
- [ ] exception
- [ ] log
- [x] struct
- [x] interface
- [

[2022-09-20 16:34] MariaSolOs opened #64145 "Invalid hyperlink in JavaScript diagnostics"
**Version Used**: 4.4.0-2.22405.13

**Steps to Reproduce**:
1. Create a new JavaScript file in Visual Studio.
2. Write the following code inside: `var # = 0;`
3. Open the error list and click on the `TS1127` hyperlink.

**Expected Behavior**: The browser opens [this 404 page](https://learn.microsoft.com/en-us/visualstudio/ide/not-in-toc/default?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(keywo

[2022-09-20 16:34] MariaSolOs commented on #64145
FYI @mavasani

[2022-09-20 17:19] jasonmalinowski opened #64146 "Add support for Go to Implementation"

[2022-09-20 17:30] isadorasophia commented on #61914
@CyrusNajmabadi it's a VS debugger component used for expression evaluation 😁

[2022-09-20 17:42] arkalyanms commented on #64143
@eveloth is the following preview flag turned on?
![image](https://user-images.githubusercontent.com/60013978/191327420-2d3c4af9-07be-4241-ac02-1a84d3aedec1.png)

[2022-09-20 19:17] #64009 closed

[2022-09-20 19:22] arkalyanms commented on #64143
This is I guess a result of the goodness from the new razor editor.

@ryanbrandenburg @allisonchou to advise on where that new editor feature flag is enabled right now. This might have to be moved over to the razor-tooling repo.

[2022-09-20 19:39] jaredpar commented on #63891
Have you all given any thought to how you're going to fix this problem?

Been thinking about this for a few days. Most of the generators that are out there don't actually contribute API surface area. Particularly as they begin to adopt `file` types they don't really participate in signatures at all (at least for the purpose of skeleton assemblies).

Could we leverage this in some way to help this

[2022-09-20 19:44] CyrusNajmabadi commented on #63891
I like this idea.  Because it means we may be able to avoid the generators entirely.

This seems less viable.  As we'll still have to run the entire pipeline just to see if they generated something.

--

Note: i think we would also need to do this in the *reverse* direction.  Namely, instead of having generators opt-out of skeleton generation, have generators *opt into* them.  Otherwise, we'll ahv

[2022-09-20 19:48] alrz commented on #64111
I think avoiding the redundant null check pattern will also resolve the issue with 'this', however we still do this when there's no common receiver eg

[code]

[2022-09-20 20:05] jaredpar commented on #63891
Agree. That is what I was (poorly) trying to suggest we do. 😄

I'm wondering if we can make this faster or more cachable. Problem is I'm not really aware of enough that actually produce signatures that I can derive a pattern out of. A bonus of making it skeleton opt in is we can find and examine the generators that do want to do this. That should give us a better data set to start looking for a pa

[2022-09-20 20:13] CyrusNajmabadi commented on #63891
a good example of one that has to do this are our 'Syntax' generators.  These *very much* are producing our public surface area, so they'd need to run to be part of the skeletons so that we can actually see these types downstream :)

[2022-09-20 20:15] jaredpar commented on #63891
That example is very cachable as it comes purely from additional files. I would expect that contributes really nothing for skeleton assemblies. Yes first time we need to run it but after it's fully cached. Is that mental model correct?

[2022-09-20 20:17] CyrusNajmabadi commented on #63891
Yes.  i believe so.

[2022-09-20 20:42] #64060 closed

[2022-09-20 20:58] allisonchou opened #64151 "[Automated] PRs inserted in VS build main-32920.147"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/0164a093ac5c0c1afa81f1f7414cdb8853b12467...fbdc03126486aadaec6fd255ccffd241a70aa3dc?w=1)
- [Expose IsGeneratedCode boolean property on diagnostic analyzer contexts (63447)](https://github.com/dotnet/roslyn/pull/63447)
- [Add ReturnOnly scope (64090)](https://github.com/dotnet/roslyn/pull/64090)
- [Semantic snippets - Turn on

[2022-09-20 20:58] #64151 closed

[2022-09-20 21:04] corngood commented on #28110
I'm seeing this on sdk 6.0.400.  It looks like when you treat errors as warnings, the compiler returns a non-zero exit code, but still writes the assembly.

[2022-09-20 21:15] RikkiGibson opened #64155 "Change value escape of 'out' parameters to ReturnOnly"
[code]

This shows that constructors end up being less "capable" than factory methods. We might want to adjust the rules for 'out' parameters (including 'this' in constructors). We will have to think through whether it would hurt other scenarios to do so. cc @jaredpar @cston

[2022-09-20 22:01] DoctorKrolic commented on #63935
@JoeRobich Any updates on this one?

[2022-09-20 22:09] Youssef1313 commented on #64145
For C#, these are not-yet-documented errors. Links should work normally after they're documented.

[2022-09-20 22:11] CyrusNajmabadi opened #64157 "Files added via a code action aren't included in the project file"
Steps to reproduce:
1. Create a TypeScript Blank Node.js Console application
2. In app.ts, write the code `1234;` in a new line.
3. Select that line of code and invoke the "Move to a new file" code action.
4. The code will be moved and the new file will be opened on the editor, but the file isn't added to the project file. Note how files added with "Add new item" are set to "TypeScript compile" in

[2022-09-20 22:39] jasonmalinowski commented on #64157
@MariaSolOs is currently investigating this.

[2022-09-20 23:28] #64157 closed

[2022-09-20 23:29] jasonmalinowski commented on #64157
@MariaSolOs's investigation makes us think this is not TypeScript as we're calling into a DTE implementation which they return and it just immediately no-ops.

[2022-09-20 23:38] KlausLoeffelmann opened #64162 "Source Generator - Visual representation of generated .g.cs files in Solution Explorer never updates"
I am not entirely sure, if this is a bug or if there is an additional step involved, to mitigate this behavior. If it's not a bug, consider this to be feature request.

This is about the visual representation of the source code files, which are generated by a source generator:

![image](https://user-images.githubusercontent.com/9663150/191301253-02db6e22-6176-410e-9f83-7b2d0d87dea8.png)

**Version

[2022-09-20 23:56] jaredpar commented on #64155
This does get back to a core question of how we model constructors in terms of span safety rules. There are essentially two ways to look at it and both are conceptually correct:

[code]

It's been a bit of a struggle to decide which is the better option. If we change `out` to have *safe-to-escape* of *return-only* though then option 2 becomes the clear winner. It can represent both call site and c

[2022-09-21 00:05] RikkiGibson commented on #64155
Did you mean for option 1 to be `static`?

It does seem like when comparing the declaration versus usage of constructors, the language is depending on the correspondence between `out` and return values in a sense. So my gut feeling at this point is that making val escape of an out `ReturnOnly` is going to flatten out more of the jagged edges.

[2022-09-21 00:13] allisonchou opened #64168 "[LSP] Enable support for F# semantic classifications"
F# semantic tokens will currently not work with the LSP semantic tokens feature flag enabled. The primary hurdle is designing a way to retrieve F# classification types and include them in the Roslyn LSP semantic tokens legend.

[2022-09-21 00:17] allisonchou opened #64169 "[LSP] Document highlighting throws exception with F# files"
Since syntax trees aren't supported in F#, this line throws an exception upon opening a default F# console app:
https://github.com/dotnet/roslyn/blob/2297cd72e2224d140ba639d75432ddd0b0b5f0e7/src/Features/LanguageServer/Protocol/Handler/Highlights/DocumentHighlightHandler.cs#L72

cc @dibarbet

[2022-09-21 00:30] CyrusNajmabadi commented on #64169
This should likely be using IDocumentHighlightsService

[2022-09-21 00:36] CyrusNajmabadi commented on #64168
We shoudl be able to find a way to retrieve those classification types with MEF (though, importantly, in a way that doesn't actually instantiate instances of F# types, causing those dlls to load).  MEF def supports this.

@dibarbet thinks it may already be possible to see what type-definitions F# is already exporting and examine thsoe.  If that works, great!  If not, we should be able to define a

[2022-09-21 01:40] anthony-c-martin opened #64170 "Confusing error message mentioning `WindowsRuntime` when trying to await an `IAsyncEnumerable`"
**Version Used**: .NET 6

**Steps to Reproduce**:

1. Clone https://github.com/Azure/bicep (can also use Codespaces to quickly get an environment).
2. Try and create a new file at `src/Bicep.Core/Test.cs` with following contents:
[code]
3. This totally perplexing error occurs (note - this is a x-platform project, building on Ubuntu):
    <img width="1042" alt="image" src="https://user-images.githu

[2022-09-21 01:56] jaredpar commented on #64155
I did. That mean it creates a local then returns it by value. That isn't how it works in reality but conceptually it's fine for `ref` safety and it allows for the type of capture that we're discussing here.

If you model as an instance method on a `struct` which was conceptually marked as `init` it would look something like this:

[code]

That has the problem though that it can't be a normal insta

[2022-09-21 02:12] RikkiGibson commented on #64155
Got it, the return value is how values from the parameters might be captured.

[2022-09-21 07:20] alessandrofrancesconi commented on #59218
Actually it seems very strange to me. With 8 GB RAM (minimum system requirements for VS is still 4GB) and no other "frontend" apps apart from Edge, these numbers make development very difficult. At a certain point both Memory and SSD Disk reaches 100% too, I suppose due to swapping, slowing down every operation.

Also I believe this "high" Memory occupation is pretty recent... I never had this kin

[2022-09-21 07:23] CyrusNajmabadi commented on #59218
@alessandrofrancesconi please file an issue using the instructions above.  Or follow the instructions here: https://github.com/dotnet/roslyn/blob/main/docs/wiki/Reporting-Visual-Studio-crashes-and-performance-issues.md

We can then look at your traces and see if anything is amiss, or if this is normal.

[2022-09-21 08:20] Bosch-Eli-Black commented on #64162
See https://github.com/dotnet/roslyn/issues/48083 🙂

[2022-09-21 08:23] IvanZosimov opened #64174 "Lack of a fresh Roslyn version in the Mono project"
## Background and Motivation
Some functionality of the MVVM Toolkit (namely from version 8.0.0 preview1) is available only with Roslyn 4.x, but currently, Mono has only Roslyn [3.9.0-5.21112.8](https://github.com/mono/msbuild/blob/xplat-master/eng/Versions.props#L13). Is it possible to bump Roslyn's version in the Mono to a fresher one?

The same issue was filed [here](https://github.com/mono/mono

[2022-09-21 08:27] Bosch-Eli-Black commented on #61832
@CyrusNajmabadi We're seeing somewhat similar behaviour. Should we file traces via the VS feedback tool or by some other means? 🙂

[2022-09-21 08:38] Bosch-Eli-Black commented on #63780
Hi @jaredpar 🙂

I know this isn't your department, but I figured it might be worth asking:

I reported this same bug three months ago: https://developercommunity.visualstudio.com/t/MetadataCommandExtractMetadata-Could/10077182 . Do you have any insight on what happened to that bug? Was it ever reported to the Roslyn team?

Thanks, and sorry for the distraction 🙂

[2022-09-21 09:03] Bosch-Eli-Black commented on #60958
In our case, we'd like to be able to enable warnings in generated code for _non_-testing scenarios 🙂

[2022-09-21 09:30] Bosch-Eli-Black opened #64175 "Source generator exceptions should be shown as errors, rather than warnings"
**Version Used**:

VS 2022

**Steps to Reproduce**:

When a source generator throws an exception, it shows up in the VS Error List pane as a warning, rather than an error.

Our project's source generator is generating C# classes that our other code relies on. If the source generator fails to run, we end up with lots of errors, due to missing classes, but the actual exception that caused the source

[2022-09-21 09:35] Nirmal4G opened #64177 "[Proposal] Extensions to `file_header_template` in EditorConfig"
With response to this <https://github.com/dotnet/roslyn/issues/33012#issuecomment-513940616>:

I don't know why the team didn't think to have a file path to `file_header_template` that could contains all sorts of styled templates with or without custom comment variables or prefixes.

For Example:

[code]

### An example of `file-header.txt` having a simple comment

[code]

becomes...

[code]

and

[2022-09-21 09:39] Nirmal4G commented on #64177
This proposal is just a starting point. It can be extended to support the following asks.

- #44329
- #44596
- #47228

[2022-09-21 09:59] Youssef1313 commented on #64175
Do you throw this exception by yourself in generator code? In this case, you should definitely turn that into a diagnostic instead of an exception.

If it's an "unexpected" exception, you could try/catch everything and turn it into a diagnostic too, but I'm not sure if that's a good practice.

[2022-09-21 10:02] Bosch-Eli-Black commented on #64175
It's an unexpected exception 🙂

Specifically:
[code]

We were previously try/catching everything and turned it into custom diagnostics, but ya... it felt hacky 😆

[2022-09-21 10:06] Youssef1313 commented on #64175
You could treat `CS8785` as an error then. I guess `dotnet_diagnostic.CS8785.severity = error` should work.

[2022-09-21 10:20] Zintom opened #64178 "Compiler unnecessarily guards readonly object when locking."
**Version Used**:
Latest

**Steps to Reproduce**:

1. Declare a readonly object field `_locker` and instantiate it with `new();`
`private readonly object _locker = new();`
2. Create a method which locks on the `_locker` variable.
`public void A() {
        lock(_locker) {
        }
    }
`
4. Observe the lowered code, you will see that in the method `A()`, the compiler declares a new variable `loc

[2022-09-21 10:44] #63469 closed

[2022-09-21 12:19] Youssef1313 opened #64182 "IntelliSense doesn't work for interface statics when dotting a type parameter"
This is a bad code I introduced in https://github.com/dotnet/roslyn/pull/53942 :)

`abstractsOnly` local should be removed altogether and the take the "false" code path for any condition relies on it.

Repro from @Sergio0694:

![image](https://user-images.githubusercontent.com/31348972/191501823-9192641e-ce08-4505-99b3-257f795e24ba.png)

[2022-09-21 12:35] mavasani commented on #64145
I investigated this a bit and see that the behavior is controlled by the platform side. It queries for a help link, and if available and non-null it navigates to it. Otherwise, it queries for help keyword for F1 help and if available and non-null it navigates to the URL for F1 help, which seems to be the case for TS diagnostics.

This is Roslyn's implementation for the queries for help link and he

[2022-09-21 13:33] danies8 opened #64184 "Update vs to Version 17.4.0 Preview 2.0 from PREVIEW 1 cause errors in publish worker service"
1. I updated vs to Version 17.4.0 Preview 2.0 from PREVIEW 1 cause errors
2.  When I publish worker service i got error:
3. Build started...
1>------ Build started: Project: AutomationClient.API, Configuration: Release Any CPU ------
2>------ Build started: Project: AutomationClient.Shared, Configuration: Release Any CPU ------
3>------ Publish started: Project: AutomationClient.WorkerService, Con

[2022-09-21 13:40] danies8 commented on #64184
It worked before this upgrade.

[2022-09-21 15:24] CyrusNajmabadi commented on #61832
@Bosch-Eli-Black sure. Traces would help. That said, FSA is expensive by definition. It's doing analysis of everything. This is why it's off by default.

[2022-09-21 15:32] myblindy commented on #54899
Jokes aside, my biggest problem with this issue (my issue, and the first on your list) is that *if the build system did literally nothing, it would all just work*.

The problem only occurs because it's trying to load every dll as a managed assembly and it crashes on native ones, but if it just ignored load problems with native assemblies, everything else would work as is: the native dlls would sti

[2022-09-21 15:37] CyrusNajmabadi commented on #64177
Because these values are generally set once and not changed. It's not a high priority area to invest in given the wealth of other scenarios that people care about and use far more often.

[2022-09-21 15:48] Nirmal4G commented on #64177
Now I read it again, I see how it came off rude. For that I'm sorry. I didn't mean that way. File headers are usually multi-line and in EditorConfig, you can't set multi-line values. So, this should be the first thing you could've thought about while implementing this. I don't know why you chose not to.

The header text file and its path can be set once and don't need to be changed! This is not a

[2022-09-21 15:49] sharwell commented on #64177
We actually did consider it (and there are various reasons why that might be better in some scenarios). The main objection is it's very difficult to get many teams to accept "another configuration file" checked into source control. We already had general acceptance of **.editorconfig**, so we devised a strategy to minimize additional requirements for adoption of the new feature.

[2022-09-21 16:00] Nirmal4G commented on #64177
Sure, I've had experience with that line of thought. But when it does come down to it, you need to be able to look at the text as a whole and update when needed. With the inline approach, say, when the sources embed full license file, then "they" might not be happy, having to update two places at once. Since the frequency of updating the text is not a short one, people might forget that they need

[2022-09-21 16:04] Nirmal4G commented on #64177
Also, I'm not asking to remove the existing way of applying the header. See the issue title, it says **Extensions**. That's right. These features only get enabled when the `file_header_template` encounters path to a file instead of text content.

[2022-09-21 16:23] CyrusNajmabadi commented on #64177
You can. They just need to be encoded in some fashion.

We did think about it. But it would be a lot of effort for minimal value. As I mentioned above, this might be a value set *once* for the lifetime of a project. I'm not a fan of spending a lot of effort to design something so large and complex that people would use once and then not again.

[2022-09-21 16:28] CyrusNajmabadi commented on #54899
What does "it's" refer to here?  Roslyn, or something else?

[2022-09-21 16:35] Nirmal4G commented on #64177
Let me rephrase that: you can't set multi-line values **in multiple lines**

I'm not either but having a file path and processing the contents similarly as you would without it, is not complex at all. The proposal may have a lot of other things but the main ask is to allow path to a file header text.

[2022-09-21 16:40] Sergio0694 commented on #54899
Roslyn, yes. If it just ignored native PEs, then all would be fine 🙂

[2022-09-21 17:12] JoeRobich commented on #63935
@arkalyanms I see you self-assigned this issue. Have you generated a ceLocBug for it?

[2022-09-21 17:15] CyrusNajmabadi commented on #64177
It's definitely complex.  We now have to have a model for loading contents of files that may or may not exist within a project.  This would require some mechanism to do this IO in the first place, something i'm not a fan of getting into.  Up to now, .editorconfig files are entirely self-contained and clear on their semantics.  This deeply changes this by introducing a concept of multiple files tha

[2022-09-21 17:19] CyrusNajmabadi commented on #54899
Do you know where roslyn is loading the native dlls? can you hook the point where that happens somehow and show the stack that is doing htat?

[2022-09-21 17:22] arkalyanms commented on #63935
Not yet, my goal of assigning to myself was to validate the translation recommendation before assigning it to someone on the team.

[2022-09-21 17:30] tmat commented on #54899
@CyrusNajmabadi Msbuild targets pass all dlls in the analyzer package to the compiler as /analyzer command line params. AnalyzerAssemblyLoader then loads all these dlls. The loader could definitely check whether the dll is managed and ignore native.

[2022-09-21 17:35] Sergio0694 commented on #54899
Yeah, I'd assume the issue is originating here:

https://github.com/dotnet/roslyn/blob/dd044537d55b074e49c8ed8eab74a8cc6895389c/src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs#L451-L469

Where the loader just tried to get the `Assembly` from the input .dll, which will of course crash for a native PE. If Roslyn just ignored these .dll-s (effectively doing the same it does fo

[2022-09-21 17:37] CyrusNajmabadi commented on #54899
i'm confused.  why is the native dll being added as an analyzer dll?  it seems *appropriate* to me that if it's an analyzer dll and it's not, it should fail/crash :)

[2022-09-21 17:38] CyrusNajmabadi commented on #54899
ickkkkkkkkkk.

[2022-09-21 17:51] Sergio0694 commented on #54899
Do you know who we should ping from the MSBuild team about this? With its behavior currently being this, and leading Roslyn to just fail to load analyzers entirely, we're a bit in a bad spot now as the only way to make it work at all currently is to manually embed and unpack libraries at runtime, which goes directly against #63290 and is explicitly unsupported 😅

[2022-09-21 17:58] RikkiGibson commented on #54899
We are supposed to receive all the analyzer dependencies in the command line. This is important for determinism (@jaredpar in case he has an FAQ handy for this :P). We could consider using another flag instead of /analyzer to give them to the compiler but it's not hugely important IMO. we just have to account, one way or another, for the possibility that an analyzer dependency is native.

[2022-09-21 17:58] myblindy commented on #54899
I realize you crossed that out, but I want to spell it out explicitly. The root problem is that there's no way to add dependencies to an analyzer in an explicit and clear way (for example, by marking the files in some way, or putting them in different folders, or referencing other nuget packages as dependencies only). If we had that, Roslyn could use that information and ignore dependencies when l

[2022-09-21 18:04] AlekseyTs opened #64189 "An assert is thrown for an erroneous code using out var"
[code]

An assert is thrown, which indicates that the out variable in this erroneous code is not handled properly:
[code]

[2022-09-21 18:08] jaredpar commented on #54899
This is never a good argument for a change. Changes are based on their merits, trade offs, etc ...

[2022-09-21 18:31] myblindy commented on #54899
That's not quite exactly what I'm saying here. I'm talking about the files located physically located in the `analyzers/dotnet/<lang>/Libraries` folder and how they get from there to the `/analyzer` flag. In an ideal world, only actual analyzers would get passed, however right now everything gets passed, which leads to the issue we're having. So given that, and assuming this issue is accepted as a

[2022-09-21 18:45] RikkiGibson opened #64191 "Create email aliases for specific infraswat roles"
Currently the internal mlinfraswat DL is a firehose of different notifications. Many people on the DL just handle it by filtering the messages to folders that they never check.

We're thinking that emails sent based on infra failures should only be sent to specific folks whose job (on-call rotation) it is to monitor those failures. However, making everyone configure their email rules properly, tur

[2022-09-21 18:52] perlun commented on #17666
I finally found out where it was previously coming from. :tada:

[code]

Installing `apt-get install mono-runtime mono-devel msbuild` (from https://www.mono-project.com/download/stable/) gives me a working C# interactive console:

[code]

[2022-09-21 19:15] jaredpar commented on #54899
This is also a regression in functionality. This error today catches developers who are constructing incorrect NuPkg files. Or packaging up DLLs that are meant to be managed but are invalid due to a tool in their build. Consider as an example IL rewriters that can end up producing invalid assemblies. The proposal here is essentially removing an existing safety guard from the ecosystem by silently

[2022-09-21 19:24] Sergio0694 commented on #54899
I'm one of those, as that's what I'm currently doing in ComputeSharp. As I mentioned though that has major issues, because:
- The logic to extract the dependency at runtime is complicated compare to just loading a library.
- Need to extract into a temporary folder, so you end up leaving a lot of garbage files on the machine that's using the analyzer. Over time this also accumulates a bit. Not a bi

[2022-09-21 19:26] RikkiGibson commented on #54899
I think the part of the problem is the build system is passing the native dependency as `/analyzer` when the user doesn't want that to happen, and there isn't a clear way to prevent that. Also, issue #47292 implies that native dependencies can't be passed through `/additionalFiles`.

[2022-09-21 19:27] CyrusNajmabadi commented on #54899
Doing random IO would be a problem, as it would represent machine state not encoded into your inputs.  Using IO to effectively just load data you are shipping is likely less of a problem.

[2022-09-21 19:29] CyrusNajmabadi commented on #64174
This does not appear to be a request for the roslyn team.  This should go to the mono team right?  We have no issue with them using a later version of Roslyn :)

[2022-09-21 20:14] tmat commented on #54899
Is reporting errors for assemblies that have incorrect CorFlags set more important for Roslyn analyzer ecosystem than simplify loading native analyzer dependencies? Why do we care about bad IL rewriters producing bad analyzer assemblies? Seems line super edge case.

[2022-09-21 20:44] jasonmalinowski opened #64195 "Tests failing due to MessagePack on 32-bit debug builds only"

[2022-09-21 20:47] jaredpar commented on #54899
I agree it's an edge case. The claims being made are this is "it won't break anything". I'm pushing back on that notion. Every change has a consequence, ignoring them doesn't benefit the discussion.

[2022-09-21 20:51] jesperasv opened #64196 "Switch pattern matching with throwing default returns object with wrong boxed datatype"
**Version Used**: Any

**Steps to Reproduce**: [sharplab](https://sharplab.io/#v2:CYLg1APgAgTAjAWAFDIARQMzpuuB2ZAbzVVM1wDZ0AWVAWQEMBLAOwAoo4AGAbQF1UDAE4BzAM4BKEqWJJS8+QDdhqIQFMxAVwA2AFwAyAexYjUAXlQBxNbrYBBAKItNAWwB0RkxIDc0hamUhVQ0dXQBJFl1zKxt7J1c3CN0fPwVA4K09ABE1AGNo61tHZ3cc3JSUOX8yOABONgASACJCdUyDYxEAX1RWkL1PETdCgBUATwAHNTYJLqaK6pr65r72sp7V0LLhm3GpmbmFxc5llrbQpI3zvSSd3T3p2fnfKtIu5D8JoSZlXTVKVCGAB

[2022-09-21 21:07] MariaSolOs commented on #64145
That sounds like a good plan @mavasani!

[2022-09-21 21:12] TahirAhmadov opened #64198 "False IDE0059 message"
**Version Used**: VS 17.2.2, .NET 6 (but also previous versions)

**Steps to Reproduce**:
[SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0ATEBqAPgYgDsBXAG1IENhSYACGQqmgWACgABAJgEY32AGWu24A6AMIRyMMABcAlhEIBnANx9BwlGtZ8AzEM60xtAN5taFofvYpaAWQAUASlPnL7iMABW0mbVhKZH4AvLSEMADutAAyckoyADxyhDIAfM7a7u7CnEkpaLSePrIA/Km0SjAyAJIyMAC2mVkWcgBmtA4SypIwIgBKMBQYseHOtMGhAERUYJNObs1mrM3NAG4UULQbUBQAnuO0AIJ

[2022-09-21 21:27] RikkiGibson commented on #64155
Either before or at the same time that we do this, we should ensure that the test mentioned in https://github.com/dotnet/roslyn/pull/64152#discussion_r975898831 is updated to improve clarity.

[2022-09-21 21:32] RikkiGibson commented on #54899
It seems like we should be able to distinguish *this doesn't have managed metadata* from *this has malformed managed metadata*, and continue to give an error on the latter if we think that has value.

[2022-09-21 21:51] RikkiGibson commented on #64198
It would be useful to include the message itself as well here.

[2022-09-21 21:59] RikkiGibson commented on #63189
The external issue has been resolved.

[2022-09-21 21:59] #63189 closed

[2022-09-21 22:00] RikkiGibson commented on #31090
Is this issue still actionable?

[2022-09-21 22:02] TahirAhmadov commented on #64198
@RikkiGibson I've updated the OP. Thank you.

[2022-09-21 22:03] RikkiGibson commented on #52095
I think that in the `Correctness_Bootstrap_Build` job, we should try building in Release configuration, but also pass `/p:DefineConstants=DEBUG` so that all our assertions still run. I'd be interested to know if we risk missing anything by doing it this way.

[2022-09-21 22:03] #64122 closed

[2022-09-21 22:08] CyrusNajmabadi commented on #64198
Can you supply a full repro?  I don't see where 'result' is defined. Thanks!

[2022-09-21 22:39] jaredpar commented on #63780
@Bosch-Eli-Black

That is a different bug. Yes both bugs are issues building due to a bad version of `System.Collections.Immutable` but the circumstances are different:

1. This bug: Our 4.3.0 NuPkg advertised a dependency on 6.0.0 while the compiler actually deployed 5.0.0. That means anaylzers / generators that compiled against 4.3.0 ended up with a SCI dependency of 6.0.0. When deployed only 5.

[2022-09-21 22:55] arkalyanms commented on #64174
@IvanZosimov I am not following the Roslyn bug filing recommendation on the mono repo bug you've filed. What would you like the Roslyn team to help with?

[2022-09-21 23:08] jasonmalinowski commented on #64191
I had _thought_ we had fixed the firehose problem, but again I could have some rule eating emails I don't realize. That said, having the DL represent the current role assignments would mean I can stop asking "who is it this week?" and just email that DL. And if they rotate then a longer conversation picks up the new person automatically.

[2022-09-21 23:12] TahirAhmadov commented on #64198
@CyrusNajmabadi I've added a SharpLab to OP. Looks like this is triggered by the presence of an `if`.

[2022-09-21 23:15] CyrusNajmabadi commented on #64198
That does seem strange.  @mavasani ?

[2022-09-21 23:21] RikkiGibson commented on #64191
I think you're right. It looks like most of the non-actionable emails I used to get on that DL have stopped in recent times. Thanks!

[2022-09-22 00:39] iskiselev commented on #62501
Should it be reopen or it would be easier to open new issue to track it?

[2022-09-22 00:44] Sergio0694 commented on #54899
@CyrusNajmabadi Sure, and in fact that's what we're currently doing, but it's still not ideal because (1) it adds extra complexity, (2) once the new analyzers for banned APIs go online, we'll also get warnings on all those IO APIs we'll have to disable, (2) it adds overhead, and (3) it leaves a lot of garbage in temp folders for consumers 🥲

[2022-09-22 00:51] TahirAhmadov commented on #64196
I'm positive this is working as expected. The return type of the entire `switch` expression is determined first by looking at its individual cases; in the provided example, the most common type is `decimal` - obviously, both `int` and `long` convert to it, but not the other way around. Then, the `decimal` returning switch expression is boxed, which is why it's always `decimal`.

[2022-09-22 00:54] TahirAhmadov commented on #64178
This can be optimized in methods, but not in ctors, and not in `init` methods (if and when we get those).

[2022-09-22 01:34] Zintom commented on #64178
I'm genuinely curious, why could this assignment not also be elided in constructors?

[2022-09-22 01:57] jasonmalinowski commented on #57589
@Sergio0694 Ideally we'd give you a switcher to switch between both variants, but in absence of that we'd absolutely show implementation over the design time, since you need to be able to set breakpoints in the code.

[2022-09-22 02:29] jimmylewis opened #64208 "Suggestion: some way to suppress IDE0073 on a per-file basis"
## Summary

Currently the analyzers can be configured with varying severity (e.g. via .editorconfig/.globalconfig) or suppressed (via `#pragma` or `[SuppressMessage(...)]`).  When a file_header_template is specified in .editorconfig, any files which do not conform to the template are flagged by the analyzer.  Under certain circumstances there are reasons to have a file deviate from the template, b

[2022-09-22 02:35] TahirAhmadov commented on #64178
Because readonly fields can be modified in the ctor any number of times.

[2022-09-22 02:49] mavasani commented on #64198
This is a duplicate of https://github.com/dotnet/roslyn/issues/57344. @akhera99 already has a PR out for fixing it

[2022-09-22 04:31] Nirmal4G commented on #64177
It changes nothing if only path to a file is implemented. If it's a file path relative to the EditorConfig file and exists, you get the contents, then proceed as you have before.

Sure, For other features, it depends on the demand from the community and the team's willingness to pursue it. The proposed design might evolve in the mean time.

**But pointing the `file_header_template` to a file path

[2022-09-22 05:46] Bosch-Eli-Black commented on #55518
I'd like to see a way to mark generators as `required`;

This would allow us to have `/skipGenerators=optional`, `/skipGenerators=required`, and `/skipGenerators=all`. `/skipGenerators` could default to `/skipGenerators=optional`.

I think this would solve @jaredpar's concerns about builds being broken by disabling generators wholesale 🙂

[2022-09-22 05:48] Bosch-Eli-Black commented on #61832
@CyrusNajmabadi Thanks 🙂  Do you mean traces generated by passing `/reportanalyzer` to MSBuild or traces generated via the VS feedback tool?

[2022-09-22 06:16] CyrusNajmabadi commented on #61832
The latter. Thanks!

[2022-09-22 06:55] jesperasv commented on #64196
Yes. But it's a big gotcha that a switch expression returns a datatype that wasn't the type of the returning case, even more so considering a normal switch statement doing logically the exact same thing returns the object with the type from the case. [sharplab, expression vs normal switch](https://sharplab.io/#gist:91df348b12899990439286d462a6a4e2)

[2022-09-22 07:07] CyrusNajmabadi commented on #64177
This cannot be done at parsing time. Such code might not even live in Roslyn, it might live in entirely different components. The components also do not expose the set of files that were used in parsing (remember, editor config aggregates many values over many files in a directory tree). This is why this is not simple.

[2022-09-22 07:09] Nirmal4G commented on #64177
Then how does Roslyn get the EditorConfig values?

[2022-09-22 07:26] #58837 closed

[2022-09-22 07:48] IvanZosimov commented on #64174
Hi, @CyrusNajmabadi and @arkalyanms, thanks for the answers! Practically, the Mono team is an ephemeral concept as I wrote in the motivation for this issue, I thought that the Mono and the Roslyn teams are linked somehow initially :) Sorry for disturbing you.

[2022-09-22 07:48] #64174 closed

[2022-09-22 08:34] CyrusNajmabadi commented on #64177
I recommend looking in Roslyn for 'AnalyzerConfig' to get a sense of the complexity involved here.

As an example, Roslyn may not even be involved in parsing and merging the editorconfig files. That may be handled by VS platform itself, and we just wrap the values. Or the compiler may do this.

These components are not going to add any special processing of this key/value as it will have no meanin

[2022-09-22 09:09] mavasani opened #64213 "Add support for reporting analyzer diagnostics in editorconfig files"
@mgoertz-msft FYI that your original feature request has now been implemented for 16.8 P1 with https://github.com/dotnet/roslyn/pull/45076. I will keep this issue open to track exposing a similar API for analyzer config files.

_Originally posted by @mavasani in https://github.com/dotnet/roslyn/issues/44131#issuecomment-658887799_

[2022-09-22 09:11] mavasani commented on #44131
Now tracked with #64213

[2022-09-22 09:11] #44131 closed

[2022-09-22 09:26] mavasani commented on #64213
## Proposal

### Feature motivation

This would help us address the open question mentioned in https://github.com/dotnet/roslyn/issues/44131#issuecomment-628722999 and finally help us notify users about mistakes in editorconfig files, both in CI and in the IDE:

We have repeatedly received github issues from users for incorrect entries added to editorconfig, so this will alleviate this pain point.

[2022-09-22 10:36] Nirmal4G commented on #63919
[code]

This is due to #63318 and is fixed by #63347 which will come in the next VS/.NET SDK servicing release.

[2022-09-22 10:36] Youssef1313 commented on #64208
Can't you use something like the following?

[code]

[2022-09-22 11:08] Nirmal4G commented on #63318
The version which contains the fix is [`4.3.0-3.22464.7`][fixedCompiler] and the latest version as of this time of comment is [`4.3.0-3.22470.13`][fixedCompilerLatest]

[fixedCompiler]: https://dev.azure.com/dnceng/public/_artifacts/feed/dotnet-tools/NuGet/Microsoft.NET.Compilers.ToolSet/overview/4.3.0-3.22464.7
[fixedCompilerLatest]: https://dev.azure.com/dnceng/public/_artifacts/feed/dotnet-tool

[2022-09-22 12:11] TahirAhmadov commented on #57344
Just to mention my duplicate issue https://github.com/dotnet/roslyn/issues/64198 - the same thing happens with an `if` statement.

[2022-09-22 12:11] TahirAhmadov commented on #64198
@mavasani thank you, I should have checked first.

[2022-09-22 12:11] #64198 closed

[2022-09-22 12:32] marek-safar opened #64215 "IDE0060 is reported incorrectly when parameters has nullable attributes attached"
### Analyzer

**Diagnostic ID**: IDE0060

### Analyzer source

**Version**: 7.0.0

### Describe the bug

IDE0060 message is issues for any partial method that uses nullable System.Diagnostics.CodeAnalysis attributes

### Steps To Reproduce

[code]

### Expected behavior

No warning to be reported

### Actual behavior

IDE0060 warning is reported for `M1` method

[2022-09-22 12:35] mavasani commented on #64215
Seems to be a duplicate of https://github.com/dotnet/roslyn/issues/57814. @Youssef1313 has a PR out for fixing it.

[2022-09-22 12:35] svick commented on #64196
@jesperasv

Maybe, but I don't think that can be fixed, since it would be a significant breaking change.

@TahirAhmadov

VS does the right thing today:

![](https://user-images.githubusercontent.com/287848/191748101-742a765d-3afb-491e-8855-2dea9527eedb.png)

Notice how how it adds a cast to `object` to one of the cases, which ensures that the behavior does not change.

[2022-09-22 12:42] Youssef1313 commented on #64215
Should be @louis-z, not me :)

[2022-09-22 13:04] jesperasv commented on #64196
I tried it out in VS. And you're correct it does refactor to a version of a switch expression that gives the correct result.

I still think it's a bug since you can write it as an switch expression from the beginning. But since someone already had this in mind when they wrote the refactor help signals to me that this could have already have been fixed but it can't/won't be fixed.

Thanks for the h

[2022-09-22 13:04] #64196 closed

[2022-09-22 14:22] MarvusMedia commented on #37407
Please could you add an option to delay syntax checking _until the cursor leaves the current line_?

Squiggles constantly appear while typing, and if I type something with a string literal, like `s = "Total: "`, the rest of my code goes red until I close the quotes! It's very distracting.

Thanks.

[2022-09-22 14:39] Zintom commented on #64178
Ahh yes I see now, inside a constructor `_locker` could be reassigned after the `Monitor.Enter` and before `Monitor.Exit`. However like you say, in normal methods my proposal can be applied 🙂

[2022-09-22 14:41] mgoertz-msft commented on #64213
Awesome, thank you @mavasani! This will come in really handy when we start looking at improving the .NET Upgrade Assistant for Maui.

[2022-09-22 14:44] Youssef1313 commented on #64178
Could `_locker` by re-assigned with reflection?

[2022-09-22 15:00] #57814 closed

[2022-09-22 15:38] TahirAhmadov commented on #64178
I'm not 100% sure, if I recall correctly, `FieldInfo.SetValue` prohibits it, and ILEmit used to prohibit it in .NET 4.8, but no longer does in .NET Core "line".
Still, even if it's possible to do so, it's not a good reason to avoid optimizing code - once you hack into reassigning readonly fields, you're on your own :)

[2022-09-22 15:43] jaredpar commented on #55518
My mental model of required is a generator that must run else the code will not compile. For example any generator that fills out a `partial` member. An optional generator is one that just improves the performance of existing scenarios. When not run the code has acceptable fallbacks that allow it to remain functional.

The vast majority of generators fall into the required category. I can only thi

[2022-09-22 15:46] Youssef1313 commented on #64178
Anyway, I guess the compiler is behaving per specification:

https://github.com/dotnet/csharpstandard/blob/draft-v7/standard/statements.md#1213-the-lock-statement

Note the following from spec:

[2022-09-22 15:58] TahirAhmadov commented on #64178
Well it's kind of up to interpretation. In a method which cannot modify readonly fields, evaluating a readonly field is guaranteed to produce the same value, and can be viewed as the result of that one-time evaluation. Still, I think it's worth it to modify the spec, if needed, to introduce this optimization.

[2022-09-22 16:48] rbwhitaker opened #64217 "task+closure"
**Version Used**: .NET 6, Visual Studio
Microsoft Visual Studio Professional 2022
Version 17.0.5
VisualStudio.17.Release/17.0.5+32112.339
Microsoft .NET Framework
Version 4.8.04084
Installed Version: Professional

Also tested by changing the project to target .NET 5 and saw the same behavior.

**Steps to Reproduce**:

(1) Put the following code into a new .NET 6 project:

[code]
(2) Compile and ru

[2022-09-22 16:51] CyrusNajmabadi commented on #64208
Agree with @Youssef1313.  You can always have specific headers be provided for specific files. This will also ensure that if someone changes those headers that it will be caught by the analyzer.

[2022-09-22 16:52] rbwhitaker commented on #64217
Perhaps a tiny bit more information. I just tried this code, which adds another `Console.WriteLine` in the lambda to ensure that it is actually running.

[code]

In both debug and release configurations, that `"Changed it."` text is displayed.

[2022-09-22 16:52] jimmylewis commented on #64208
That's a good solution actually, I just hadn't thought of it.  Thanks!

[2022-09-22 16:52] #64208 closed

[2022-09-22 16:57] AlekseyTs opened #64218 "Missing ref safety error inside `foreach`"
[code]

Observed:
[code]

Expected one more error:
[code]

[2022-09-22 16:58] CyrusNajmabadi commented on #64178
Why is this optimization worth it?  Are there any measurements showing this is a problem?

[2022-09-22 16:59] CyrusNajmabadi commented on #64217
As this is read and written from multiple threads, isn't some sync primitive needed?

[2022-09-22 17:12] #57650 closed

[2022-09-22 17:22] tmat opened #64219 "Consider obsoleting/internally banning SyntaxTree.Encoding"

[2022-09-22 17:25] tmat opened #64220 "Consider passing checksum algorithm to TextLoader.LoadTextAndVersion"
... instead of storing it on a TextLoader and removing TryUpdateChecksumAlgorithm.

[2022-09-22 17:43] Zintom commented on #64178
It's not exactly a high priority, but is an oversight; in my example the guarding of the object reference is functionally unnecessary.

BenchmarkDotNet results after 1 million iterations:

![image](https://user-images.githubusercontent.com/18383281/191814503-ad040163-5625-4eef-9816-3b24c6ab47bb.png)

There is a tiny performance benefit as there is one less value being loaded onto the stack.

I ima

[2022-09-22 17:49] #62623 closed

[2022-09-22 17:50] rbwhitaker commented on #64217
That's a fair point. And putting a lock around both threads' usage of the variable does actually solve the problem. And pushing the variable to a field in an object instead of a local variable, and putting `volatile` on it seems to have also addressed it. (Too bad you can't put `volatile` on a local variable, since the variable is getting shunted off to a closure object anyway.)

On the other hand

[2022-09-22 18:28] svick commented on #64217
@rbwhitaker There is such a stark difference, because this is an optimization the JIT is allowed (but not required) to make. Specifically, in the absence of synchronization primitives (like `lock` or `volatile`), it is allowed to assume that no other thread will interfere with the execution of the method and make any changes that would not change behavior under such circumstances.

Specifically, t

[2022-09-22 18:49] rbwhitaker commented on #64217
That's a great explanation. Thanks for helping me understand!

[2022-09-22 18:49] #64217 closed

[2022-09-22 19:39] CyrusNajmabadi commented on #64178
I'm not sure that's true. I don't know if there is any actual guarantee that these values cannot change. It may be an optimization that breaks something somewhere.

This looks to be virtually meaningless. Absent a real scenario affected by this, it feels far too risky to me. The current code is entirely correct and has been what we've done for over 20 years. Changing that now without very strong c

[2022-09-22 19:40] CyrusNajmabadi commented on #64178
Note:. I would be fine with a jit/runtime optimization here. They are the ones that can be certain they know if a reference will or won't change, and can decide if it's more optimal to read that versus a local.

[2022-09-22 19:57] NinoFloris opened #64224 "Ref and in parameters used in ternary vs if statement"
**Version Used**:
C# compiler included in 7.0 rc1

**Steps to Reproduce**:

https://sharplab.io/#v2:EYLgtghglgdgPgJwKYQCYHsYBsCeACAZwBcEBXAYyLwCEoBzAZRIqIFgAoAbw717w4C+HDsgBmhZpTwAxdOj4du7PngACAZjUBGAGwy5eAMLIIRJAAoAlDz5KVK1QHY8MJAHd96KwG4bvIcoKgbwa2nqy8sYoZuawNPRMZFLACZJE1sF4dvYhzq4eET5+eAEBKhyhqgBMRlnFqgAseADyANLmYvGMaQD8eCndSel1mSoAbhAIeKIGALz9qUN4UAQu6FQwpFhYeH0RAHRRphYDiSz7AGoQWKRIlnggnocmMZb

[2022-09-22 20:22] omellet opened #64225 "StackOverflowException when compiling project with large (12MB) cs file and targeting net6.0"
**Version Used**: 4.3.0-3.22423.10 (b35bb0ba)

**Steps to Reproduce**:

1. Build project and use TargetFramework net6.0
2.
3.

(A [sharplab](https://sharplab.io/) repro is ideal for compiler/language issues whenever possible)

**Expected Behavior**:
Builds in a couple seconds

**Actual Behavior**:
Crashes with StackOverflowException:

[code]

[2022-09-22 20:24] omellet commented on #64225
Notable that I'm trying to suppress code analysis for this project to work around the crash but I still see three analyzers on the csc.exe command line. When building w/ net472 target I don't see any analyzers being used.

[2022-09-22 20:39] CyrusNajmabadi commented on #64225
Can you supply the file that is causing the crash?

[2022-09-22 20:48] CyrusNajmabadi commented on #64225
@jaredpar this is my code.  Should be easy to convert it to non-recursive.  I can do that when I get back from vacation. Or, if this is critical, I can walk anyone through it.

[2022-09-22 20:50] #62436 closed

[2022-09-22 20:52] CyrusNajmabadi commented on #64225
@omellet no worries!  The stack and explanation are likely sufficient here. Thanks for reporting this, and sorry for he hassle here!

[2022-09-22 20:56] omellet commented on #64225
Am I wrong to think the analyzer shouldn't be running at all if I see `/skipanalyzers+` on the command line?

[2022-09-22 21:02] CyrusNajmabadi commented on #64225
This isn't an analyzer. It's a source generator.  :-)

[2022-09-22 21:55] Youssef1313 opened #64230 "Raw string literals guide line is shifted when using tabs"
![image](https://user-images.githubusercontent.com/31348972/191858349-452f309d-90da-4093-beb6-327e74e8faad.png)

It should be a little bit to the right. This only reproduces when using tabs for indentation.

[2022-09-22 22:16] allisonchou commented on #64143
@eveloth Based on your screenshot, it looks like you may still be using the old Razor editor. Does enabling the new editor resolve the issue? The option can be found under Tools->Options->Text Editor->HTML->Advanced->Use legacy editor for ASP.NET Core (requires restart):

![image](https://user-images.githubusercontent.com/16968319/191860696-364a5fc1-12b0-49e0-948b-24e428258a45.png)

[2022-09-22 22:33] RikkiGibson commented on #64224
It's a little obtuse, but the issue is really that a local's escape scope is determined by its initializer, and if no initializer is used, then it defaults to *calling method*. This can be demonstrated by an edited version of [your example](https://sharplab.io/#v2:EYLgtghglgdgPgJwKYQCYHsYBsCeACAZwBcEBXAYyLwCEoBzAZRIqIFgAoAbw717w4C+HDsgBmhZpTwAxdOj4du7PngACAZjUBGAGwy5eAMLIIRJAAoAlDz5KVK1QHY8MJAHd96

[2022-09-23 00:16] NinoFloris commented on #64224
Thanks for the reply, it's interesting to understand how the initializer plays its role here.

Two questions:
- What I don't understand so well is why `in` parameters are subject to this new escape scope analysis.
   So far as I know you can't ever store an `in` reference on a ref field nor on a readonly ref field. So how would such a reference flow back out through a ref struct return value?
- Ar

[2022-09-23 01:38] ufcpp commented on #64224
[code]

[2022-09-23 01:44] NinoFloris commented on #64224
Heh right `ref readonly`, how I didn't try that.

FYI, I updated my answer as there are other ways to get a ref to flow out of a method with an `in` parameter.

[2022-09-23 01:58] mavasani opened #64236 "Add a new Location.Create overload for external file location with a different mappedLineSpan"
## Background and Motivation
TypeScript would like to create `ExternalFileLocation` for TS diagnostics reported on their secondary projection buffers, such that the diagnostic location has a different mapped location pointing to the primary buffer (separate file and line span), for display purposes, such as in the error list. The core story behind their request is as below:

## Proposed API
Curren

[2022-09-23 02:33] MariaSolOs commented on #64236
@mavasani I'm not sure if `public static Location Create(string filePath, TextSpan textSpan, LinePositionSpan lineSpan, LinePositionSpan mappedLineSpan);` is the right overload, since it doesn't fix the different file name issue.

`ExternalFileLocation`s are created as follows:
https://github.com/dotnet/roslyn/blob/620a86b61272b794670bbbf5a425bfa7ec59ce91/src/Compilers/Core/Portable/Diagnostic/Ext

[2022-09-23 02:59] ufcpp opened #64237 "Code completion for mixed whitespace characters in raw string"
**Version Used**:

Visual Studio Version 17.4.0 Preview 2.0
C# Tools   4.4.0-2.22430.14+2f760738cb92f32f50c981b68ba04ac3c8b7ee48

**Steps to Reproduce**:

[code]

https://sharplab.io/#v2:CYLg1APg+gBAvDARMgsAKBoAAJCABIIAJDABICAEgoASBgBIOAEgEASCQBIFAEgAAwCCANszAO4AWAlgC4CmAZwAOAQwDG/GOM6iAThIFzBMeVN6cpg0QFspolRqnjmAe0HcAdgHMYzK/wB06LHiJkqdegFUwAJgAGABoYX0CA4ND/CIBGELCIv3jogIBmZPCAFgyIgFYcgIA2AoB2AoA

[2022-09-23 02:59] mavasani commented on #64236
@MariaSolOs the term "LineSpan" and "MappedLineSpan" is a kind of a misnomer here, it's type is actually FileLinePositionSpan, and it denotes file + span within the file https://github.com/dotnet/roslyn/blob/620a86b61272b794670bbbf5a425bfa7ec59ce91/src/Compilers/Core/Portable/Diagnostic/FileLinePositionSpan.cs#L12-L32

With this new overload, you should be able to create a `mappedLineSpan` that po

[2022-09-23 03:05] CyrusNajmabadi commented on #64237
Could you link to a file that contains the code in question.  the above explanation is a bit confusing.  Thanks!

[2022-09-23 03:06] mavasani commented on #64236
@MariaSolOs Ah, I see your point. `Location.Create` method actually takes a `LinePositionSpan`, not a `FileLinePositionSpan`. Let me update the proposal.

[2022-09-23 03:08] ufcpp commented on #64237
Updated to link sharplab codes.

[2022-09-23 03:11] CyrusNajmabadi commented on #64237
Could you just make an actual file.  I really do not trust having to go into sharplab to determine waht actual characters are at an actual position.  A file means there is no confusion at all about the individual bytes in the file.  Thanks!

[2022-09-23 03:14] ufcpp commented on #64237
Can you download from https://gist.github.com/ufcpp/0366469fe355705fdfb062ce98570586 ?

[2022-09-23 03:15] ufcpp commented on #64237
Maybe copy-and-paste from the folloing code shows 20 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 200A 3000

[code]

[2022-09-23 03:31] kzu commented on #63780
My workaround for now was to downgrade to:

[code]

Since I'm not using anything in 4.3 for my incremental generator, this works for now.

[2022-09-23 03:34] CyrusNajmabadi commented on #64237
Thanks. That's probably more than sufficient. I can look on Tuesday!

[2022-09-23 03:45] IXLLEGACYIXL commented on #12363
is there nwo an optino to enable it ?

[2022-09-23 05:50] icnocop commented on #59336
Which specific settings?

Thank you.

[2022-09-23 09:48] mgravell opened #64238 "static interface methods not emitted when interface marked ComImport"
Not sure if this is a bug, an unexpected scenario, or a self-inflicted "just don't do that" thing, but: consider interface:

[code]

This works fine; we can call `IFoo.Blap();`

Now imagine we decorate `IFoo` with `[ComImport]` and `[Guid]` - *because we can* (see below); at this point, the compiler *no longer emits the method body*; instead of

[code]

we get:

[code]

If we run the code, we now

[2022-09-23 10:21] pstricks-fans opened #64239 "(a, b) is (int? x, int y) can be circumvented with (a, b) is (var x, var y)"
For
[code]
the unallowed syntax
[code]
can be circumvented with
[code]

I know that `boxed is int? x` is not allowed.

[code]

[2022-09-23 14:09] RehanSaeed opened #64243 "Building a .NET 7 RC1 Project with VS Causing CS8032"
**Version Used**:

.NET SDK 7.0.100-rc.1.22431.12
VS 17.4.0 Preview 2.1

**Steps to Reproduce**:

1. Clone PR https://github.com/RehanSaeed/Serilog.Enrichers.Span/pull/187.
2. Build solution using VS 17.4.0 Preview 2.1 or VS 17.3.0 which also fails.
3. See the numerous `CS8032` errors below.

**Expected Behavior**:

The solution should compile with VS. It does compile when using the .NET CLI.

**A

[2022-09-23 14:19] castholm commented on #59717
Is there any way to disable SourceLink completely and always get the "from metadata" result when using GTD?

While I can't speak for anyone else, this recent change has affected my productivity in Visual Studio negatively. Even with the new collapsing behavior I find the SourceLink results make for a poor developer experience when 99% of the time all I want is view is the public API surface.

Havi

[2022-09-23 14:59] ufcpp commented on #64237
On a separate note, I've found another strange behavior in Visual Studio while experimenting with this issue.
Visual Studio seems to display VT (U+000B) and FF (U+000C) as ♂ and ♀ respectively.

https://github.com/ufcpp/UfcppSample/blob/master/Demo/2022/Csharp11/17.2p1/RawStringLiteral/Whitespaces.cs

![image](https://user-images.githubusercontent.com/3760955/191990650-8af0dd29-405f-4e19-83b0-01d8

[2022-09-23 15:04] fomrat commented on #53836
Using VS 2022 and switched for a project from C# to VB. I thought I was losing my mind. Why would Surround With be missing for VB when Snippets are available?

[2022-09-23 15:17] cremor commented on #59717
@castholm Yes, starting with VS 17.4. See #63089

[2022-09-23 15:52] Youssef1313 commented on #64243
Looks the same as https://github.com/dotnet/roslyn/issues/63780

FYI @RikkiGibson

[2022-09-23 15:58] RehanSaeed commented on #64243
@Youssef1313 Seems related. I'm not actually referencing `Microsoft.CodeAnalysis.CSharp` directly myself if that helps.

[2022-09-23 17:38] svick commented on #64237
@ufcpp That sounds like the file was interpreted as [CP437](https://en.wikipedia.org/wiki/Code_page_437).

[2022-09-23 17:48] cston opened #64248 "Replace `DeclarationScope` with `ScopedKind`"
See https://github.com/dotnet/roslyn/pull/64190#discussion_r978925681.

[2022-09-23 18:01] #64145 closed

[2022-09-23 18:05] RikkiGibson commented on #64243
Issue here is the analyzers in the SDK are referencing S.C.I 6, and so is the Roslyn version in the SDK, but the Roslyn version shipped in VS is referencing S.C.I 5. So Roslyn in VS can't load those analyzers.

@JoeRobich @Cosifne is this going to be fixed in the next VS preview release and in VS 17.3.5?

[2022-09-23 18:06] jcouv commented on #63104
Fixed in https://github.com/dotnet/roslyn/pull/64064

[2022-09-23 18:06] #63104 closed

[2022-09-23 18:11] cston commented on #62094
See also https://github.com/dotnet/roslyn/issues/64155.

[2022-09-23 18:16] JoeRobich commented on #64243
@RikkiGibson Yes, a fix was inserted for this which will ship in the next servicing release (17.3.5).

[2022-09-23 18:33] CyrusNajmabadi commented on #64237
@ufcpp Please file that through normal vs feedback. Thanks!

[2022-09-23 18:55] allisonchou opened #64250 "[Automated] PRs inserted in VS build main-32923.100"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/fbdc03126486aadaec6fd255ccffd241a70aa3dc...d7216e54788d753c64faa4d5e1caf0d6611d2489?w=1)
- [Unwrap the cause (inner exception) of operation canceled exceptions when reporting faults (61787)](https://github.com/dotnet/roslyn/pull/61787)
- [Revert "Deprecate usage of Workspace in TextLoader (breaking change) (#63616)" (64228)](

[2022-09-23 18:55] #64250 closed

[2022-09-23 18:55] cston commented on #62528
Thanks for reporting this issue. It has been fixed in https://github.com/dotnet/roslyn/pull/64064.

The compiler now reports:
[code]

cc @jcouv

[2022-09-23 18:55] #62528 closed

[2022-09-23 19:06] cston commented on #62490
Thanks for reporting @TessenR.

Both of the `ref scoped` cases in the example are now reported as syntax errors following https://github.com/dotnet/roslyn/pull/64021.

[2022-09-23 19:06] #62490 closed

[2022-09-23 19:19] Sergio0694 commented on #64155
Just trying to understand this better. Consider this example (using explicit `this` for clarity):

[code]

Right now that assignment fails, because the RSE scope of `out` is not return-only, so `@this` can't escape through it.

This means that callers can safely do this (with some other implementation of `GetSpan` that does compile):

[code]

Because the compiler knows that the reference to that `

[2022-09-23 19:48] jaredpar commented on #64155
Correct.

We've said a few times we're focused on implementing the current version of the spec for RC2 and not considering anything else until RC2 has fully landed. Getting that done was enough of a mountain to climb.

Don't forget that we enforce the rules a method was compiled with, not the rules that the current code is compiled with. So if we changed this in C# 12 then it could be done by incr

[2022-09-23 19:51] Sergio0694 commented on #64155
Ah, gotcha, yeah that makes perfect sense. And yeah to be clear, this wasn't meant to "bump" this issue at all, I really just wanted to understand this better and the impacts that this additional change would have. Thank for the additional details Jared! 😊

[2022-09-23 19:51] aetos382 commented on #6956
Is this issue resolved by #51255 ?

[2022-09-23 20:07] ryzngard commented on #64072
If there was an issue in this I can't fully reproduce on my machine in 17.4 Preview2.1. I definitely would be interested in traces from anyone seeing this to diagnose further. It's very possible this was an issue in project system and has been resolved.

[2022-09-23 20:07] #64072 closed

[2022-09-23 20:21] ryzngard commented on #62777
We do have a TWD after apply

![image](https://user-images.githubusercontent.com/475144/192050101-be75a97d-b823-4f7d-81ea-b0bb26a457eb.png)

Is there something missing here? Here's the code: https://github.com/dotnet/roslyn/blob/main/src/EditorFeatures/Core/InlineRename/InlineRenameSession.cs#L780

Going to close but definitely feel free to reopen if I misunderstood

[2022-09-23 20:21] #62777 closed

[2022-09-23 20:23] AlekseyTs commented on #64238
It looks like method bodies in ComImport interface are not supported by runtime. If compiler emits one, the following exception is thrown at runtime:
[code]

Compiler should report an error instead of silently dropping bodies.

[2022-09-23 20:25] ladenedge opened #64251 "InvalidCastException: cannot cast NonErrorNamedTypeSymbol to IMethodSymbol"
**Version Used**:

VS 17.4.0 Preview 2.1
.NET 7 RC1 [7.0.100-rc.1.22431.12]

**Steps to Reproduce**:

Unfortunately no indication of the offending code is provided in the error.  I use Interop extensively in my project, if that helps any.

**Expected Behavior**:

This warning was not present with earlier versions.  Alternatively, some indication of the offending code would be useful, of course.

*

[2022-09-23 20:28] RikkiGibson commented on #62777
Awesome! Most likely the editor version I was using predated this feature. I'll give it a try when I get the chance. Thanks!

[2022-09-23 20:31] RikkiGibson commented on #64224
I wasn't around when the original decision was made, so I can only speculate. There might be LDM notes in the csharplang repo related to it. My guess is that it was viewed as simpler/more useful if the local `RS rs = default;` had the same escape scope as `RS rs;`.

[2022-09-23 20:52] Youssef1313 commented on #64251
Probably fixed in https://github.com/dotnet/runtime/pull/72535.

@jkoritzinsky Are you able to confirm? Thanks!

[2022-09-23 20:53] jkoritzinsky commented on #64251
Yep that PR has the fix.

Closing this as a duplicate

[2022-09-23 20:53] #64251 closed

[2022-09-23 22:04] jasonmalinowski commented on #63840
As far as uniqueness then I think all the monitors we have been generating are at least unique under this:

[code]

We create two kinds of monikers with two schemes for historical reasons:

1. Ones that are prefixed with the assembly names and then the fully qualified name of the type/member.
2. Ones that represent a namespace, which spreads across all assemblies.

But either of those are unique f

[2022-09-23 22:46] AlekseyTs opened #64259 "No error reported for `ref` type in a declaration expression"
[code]

Observed:
No errors, but ```a``` and ```b``` are not `ref` variables.

Expected:
Either a parse error, or a binding error.

[2022-09-23 22:54] #59883 closed

[2022-09-24 00:01] #63556 closed

[2022-09-24 01:05] #63840 closed

[2022-09-24 01:37] ufcpp commented on #64237
It doesn't seem to be CP437.

![image](https://user-images.githubusercontent.com/3760955/192073816-8d5d8081-4880-49dc-83a5-1bcf4a71aa7a.png)

I just heard on Twitter that this glyph is used when displaying control characters in Wingdings.

I'll do it.

[2022-09-24 02:43] ufcpp commented on #64237
https://developercommunity.visualstudio.com/t/Visual-Studio-IDE-displays-ASCII-control/10156578
done.

[2022-09-24 13:27] SnGmng opened #64266 "Code Analysis constantly crashes (IndexOutOfRangeException)"
**Versions Used**

.NET SDK 7.0.100-rc.1.22431.12
VS 2022 (17.3.4)

When i use VS, the rosyln code analysis constantly crashes with following stacktrace:
[code]

As you can see, an `IndexOutOfRangeException` was thrown by `NodeStateTable.Single()`.
Here is the source code location for `Single()`:
https://github.com/dotnet/roslyn/blob/46b3ed95c6ca98235326d37e2d80d6187f946b0a/src/Compilers/Core/Port

[2022-09-24 17:19] behzadian commented on #59336
If I remembered correctly:
Options -> Environment -> Preview Features -> Use Previews of the .NET SDK

[2022-09-24 18:59] Youssef1313 commented on #63232
https://github.com/dotnet/roslyn/blob/de96b01ccc6c51d2ad0501df18475079fbe2c7e1/src/Workspaces/Remote/ServiceHub/Services/InheritanceMargin/RemoteInheritanceMarginService.cs#L38

I think we just need to pass `includeSourceGenerated: true` in the above line.

[2022-09-24 19:26] Youssef1313 opened #64268 "Update docs.microsoft.com links to learn.microsoft.com"
It looks like docs.microsoft.com has moved to learn.microsoft.com

The most important link to update is:

https://github.com/dotnet/roslyn/blob/de96b01ccc6c51d2ad0501df18475079fbe2c7e1/src/Analyzers/Core/Analyzers/Helpers/DiagnosticHelper.cs#L276

But consider updating *all links* (even code comments).

[2022-09-24 19:26] Youssef1313 commented on #64268
FYI @mavasani

[2022-09-25 11:16] Regenhardt commented on #17666
Turns out I was thinking in the wrong context here - I was using csi only as shorthand for "C# Interactive", which is unfortunately because apparently csi.exe is basically the same thing except MS seems to have stopped updating it after .NET Framework 4.7.2 or so. `#reset core` only works in the C# Interactive window in Visual Studio unfortunately.

Which raises another question for people familia

[2022-09-25 11:21] Regenhardt commented on #57939
The VS integrated csi can do it, so the standalone csi.exe should be able to do it too. Added longer comment to the issue you linked.

[2022-09-25 12:04] PathogenDavid commented on #17666
I believe that's the RPC server that Visual Studio interacts with to power the interactive window. The interactive window isn't just a terminal window, it's more complex than that. ([Its source lives here](https://github.com/dotnet/roslyn/tree/de96b01ccc6c51d2ad0501df18475079fbe2c7e1/src/Interactive/Host/Interactive/Core))

-------------

I thought it had been mentioned in this thread previously,

[2022-09-25 20:45] PPenglis commented on #58678
It would be good to allow this to be disabled but there is also a mixed case, Maybe you want to create a namespace with subfolders.

Project/    {RootNamespace}
Project/Library/   {RootNamespace.Library}
Project/Library/GroupOfClasses1 {RootNamespace.Library}
Project/Library/GroupOfClasses2 {RootNamespace.Library}

Depending if this per folder setting is actually stored or not. If its not:
If you

[2022-09-26 02:06] MichalStrehovsky commented on #64238
Cc @dotnet/interop-contrib on whether this is deliberate.

[2022-09-26 03:52] jkoritzinsky commented on #64238
I believe this is intentional behavior that we've had since DIMs were introduced (or possibly earlier)

[2022-09-26 07:10] dbaeumer commented on #63840
@jasonmalinowski thanks for asking that since my last answer was indeed misleading. For npm package we have an `npm` scheme and these packages are scheme unique. 'global' unique makes IMO only sense if a language uses global unique URIs.

[2022-09-26 07:26] jjonescz commented on #62096
Implemented a simple workaround in #64179 (using explicit format that includes name). A more comprehensive set of changes (changing the default `CSharpShortErrorMessageFormat`) was postponed. See https://github.com/dotnet/roslyn/pull/64179#discussion_r976777601.

[2022-09-26 09:00] Bosch-Eli-Black commented on #64268
@Youssef1313 BTW, some previous links to documentation that were working are now broken after being redirected to `https://learn.microsoft.com` 🙂

For example: https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regexgeneratorattribute.-ctor

[2022-09-26 09:15] Youssef1313 commented on #64268
@Bosch-Eli-Black This has nothing to do with the move from docs to learn. This happened because of https://github.com/dotnet/runtime/pull/72434

[2022-09-26 09:16] Bosch-Eli-Black commented on #64268
@Youssef1313 Lol, oh! 😆  Thank you! 🙂

[2022-09-26 10:49] jjonescz commented on #64218
This bug seems invalid to me. `class Enumerable1` cannot store `ref i1` in safe code. And when changed to `ref struct`, it correctly reports the error: [SharpLab](https://sharplab.io/#v2:EYLgtghglgdgPgAQEwAIEEYDsBYAUAbzxWLXQDY0AWFAWWhgAoBKIkw3EzlWAF24AYUAXhT8A3Ky4oAyigDOgkTACmAdxkMATsoBmAphI5SU7Y117d0wlOkNnOOgPaaUDWXKtK1G7XqjoDMSYTSXtOBWsPMRQAehibULDiYG0IAGs7JIBfRJIcoylTJIt/a1tcqSdUgGMAC1d3VFgUAFE

[2022-09-26 13:52] AaronRobinsonMSFT commented on #64238
Yes, this is intentional. Interfaces marked with `ComImport` are intentionally excluded from DIM support. This can be reconsidered, but it would be a feature and require investigation into all the nuances of how they could impact the COM interop scenario.

Like most things in the built-in COM interop system we are reluctant to change or expand functionality because its primary intended use is tran

[2022-09-26 14:22] cston commented on #64218
It looks like we're reporting an error when the enumerator type is a `class` and the enumerable is a `ref struct`. Should we only report an error when both are `ref struct` types?

[2022-09-26 16:01] #62756 closed

[2022-09-26 17:36] arkalyanms commented on #64266
This may have been fixed recently. @CyrusNajmabadi would you confirm if we fixed the crash? Should this ported to 17.3?

[2022-09-26 17:46] jtschuster commented on #44063
Is this issue still being considered? I've hit numerous bugs from NRE's in the linker because we use null-oblivious libraries in a nullable context and assume no warnings means we're good. For me it feels like making null-oblivious the default for unannotated libraries defeats the purpose. It feels like if you have nullable enabled and don't get warnings, you shouldn't have to guard, but once you

[2022-09-26 17:47] CyrusNajmabadi commented on #64266
I have no idea what this crash is.  @chsienki would have to look at this.  I have no idea if it needs to be ported to 17.3.  Would depend on how widespread this is.

[2022-09-26 18:07] #63770 closed

[2022-09-26 18:42] #61120 closed

[2022-09-26 18:42] #60873 closed

[2022-09-26 18:51] vsfeedback opened #64280 "Intellisense does not recognize start of string, changes "D: to "Date:"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Intellisense-does-not-recognize-start-of/10150751)._

---
[severity:I'm unable to use this version]
I want to type the following:

    Dim sPath As String="D:\somefile.txt"

After I type....

    Dim sPath As String = "D:

... Intellisense changes it to

    Dim sPath As String = "Date:

[2022-09-26 19:12] genlu commented on #58478
Looks like this was fixed

![image](https://user-images.githubusercontent.com/788783/192360474-2cd89ba9-4220-49dd-a62d-42fbf42ba2cd.png)

[2022-09-26 19:12] #58478 closed

[2022-09-26 19:15] tmat commented on #63888
@333fred @AlekseyTs @dotnet/roslyn-api-owners Update the new methods with another parameter that allows us to flow in checksum algorithm.

[2022-09-26 19:47] genlu commented on #64280
Hmm, not able to repro with a console app. it was correctly parsed as a string

![image](https://user-images.githubusercontent.com/788783/192366040-15e1bcae-7d31-438e-9254-55f5914f6c2e.png)

 I suspect another string literal somewhere in the file might be involved but can't say for sure with the information provided. Keep this open for now to see if someone could provide a better repro

[2022-09-26 20:53] jasonmalinowski commented on #63840
@dbaeumer Thanks for confirming, and I think after I made my comment I saw the other description in the LSIF spec that clarified.

[2022-09-26 21:39] vsfeedback opened #64289 "VS2022 C# cannot remove IDE0220 code style warnings"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS2022-C-cannot-remove-IDE0220-code-sty/10146419)._

---
[severity:It bothers me. A fix would be nice]
Even though I've set all code style warning options to None as best I can, I cannot find a way to remove this warning other than in source or in suppression file, although suppression d

[2022-09-26 21:42] MichalStrehovsky commented on #64238
Just a note that this is about a static method, not a DIM. Static methods on interfaces were supported by the runtime since ~.NET 1.0 (long before DIM in any case).

[2022-09-26 22:04] vsfeedback opened #64291 "Error when applying the IDE0059 rule on code with simplified 'new' expression"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Error-when-applying-the-IDE0059-rule-on-/10155385)._

---
[severity:It bothers me. A fix would be nice]
When I apply the rule IDE0059 to remove a unnecessary value assignment that can be discarded with _ but the variable has a simplified 'new' expression the discarded version does not kn

[2022-09-26 22:04] vsfeedback opened #64292 "VS refactor suggests an incorrect pattern matching for `!(a?b is true | false)`"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS-refactor-suggests-an-incorrect-patter/10156290)._

---
VS refactor suggests expression like `!(a?.b is true)` to `a?.b is false`, which is incorrect because of nonequivalent.

![image.png](https://aka.ms/dc/image?name=B99e62db13a254e10a2f71c752980eabd637995332467414291_20220923-203405

[2022-09-26 22:08] allisonchou opened #64293 "[Automated] PRs inserted in VS build main-32926.152"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/d7216e54788d753c64faa4d5e1caf0d6611d2489...cdf572b70e0b61b9207bc4aebe001a1048fd26fc?w=1)
- [Fix miscellaneous LSIF indexing issues to better match the 0.6.0 spec (64256)](https://github.com/dotnet/roslyn/pull/64256)
- [Support `scoped` keyword in `using` statements. (64245)](https://github.com/dotnet/roslyn/pull/64245)
- [Rej

[2022-09-26 22:08] #64293 closed

[2022-09-26 23:03] CyrusNajmabadi commented on #64289
We will need information on what actual warning they're getting that they cannot configure.

[2022-09-27 03:40] jaredpar opened #64308 "arglist is not considered for method argument mixing"
Expressions passed to `__arglist` are not considered for method argument must match.

[2022-09-27 07:33] radical opened #64312 "NRE in `dotnet-runtime-perf` with wasm+AOT"
`dotnet-runtime-perf` [build](https://dev.azure.com/dnceng/internal/_build/results?buildId=2004856&view=logs&j=e57eed19-532e-51af-97c3-04d32d813641&t=84d1403a-85dc-55e4-8e62-e7b39417073b) built for wasm/aot on `dotnet/runtime` `main` [dotnet/runtime#7fc8fb56327e9696ce9baa80f997e3f50675af1f](https://github.com/dotnet/runtime/commit/7fc8fb56327e9696ce9baa80f997e3f50675af1f).

**Version Used**:
Sdk v

[2022-09-27 08:42] mgravell commented on #64238
Really insightful - thanks; TIL a few more things (that I wish I hadn't) about COM interop!

I suspect the real thing here, then, is that the compiler should at least log something about this, and not just swallow method bodies silently.

[2022-09-27 08:59] jjonescz commented on #64218
I've tried to implement this by obtaining value escape for `collection.GetEnumerator()` call:

https://github.com/dotnet/roslyn/blob/ae8e2c24c07d8febb209d77b744e4df134babff8/src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs#L258-L261

But the `GetEnumerator()` call can be quite complex and to handle all cases, I would need access to `LocalRewriter` to avoid duplicating all this work, I gue

[2022-09-27 10:41] teo-tsirpanis opened #64314 "Inadequate diagnostics around defining custom async method builders."
Consider the following piece of code that defines a custom task-like type and an async method builder for it:

[code]

We intentionally forgot to add the `SetResult` method to the method builder. The IDE does not say anything, and the compilation fails at the point we declare the async method, with `error CS0656: Missing compiler required member 'AsyncMyTaskMethodBuilder.SetResult'` and without sp

[2022-09-27 10:57] mikegoatly commented on #55588
Consider this scenario:

[code]

If `_dataFromParam` is unused, then is is indeed currently greyed out in the editor, however what I would want is the ability to safely delete it. This would:

1. Remove the private field
2. Remove the assignment `_dataFromParam = myParam`
3. Ideally also detect that it causes `myParam` to be an unused parameter and remove it from the constructor

Leaving me with j

[2022-09-27 11:01] stg609 opened #64315 "Unable to cast object of type 'System.Double' to type 'System.Nullable`1[System.Decimal]'"
**Version Used**:
.Net 5/6 has the same behaivor.

**Steps to Reproduce**:
1. Create a simple console project
2. Copy below code to the main method, and add required namespace:
[code]

(A [sharplab](https://sharplab.io/) repro is ideal for compiler/language issues whenever possible)

**Expected Behavior**:
Run without any exception.

**Actual Behavior**:
Throw InvalidCastException, Unable to cast

[2022-09-27 11:02] #64315 closed

[2022-09-27 13:02] waitwhereami commented on #60818
Can confirm this is still a problem as of VS 2022 17.3.4. Very annoying bug.

[2022-09-27 14:29] #64308 closed

[2022-09-27 14:43] vsfeedback opened #64317 "Code Style is not respecting the selection for use of "Prefer framework" for the "Predefined type preferences.""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Code-Style-is-not-respecting-the-selecti/10149409)._

---
[severity:It's more difficult to complete my work]
When selecting "Prefer framework" for the "Predefined type preferences" under Tools→Options→Text Editor→Visual Basic (or C#)→Code Style→General, the text editor still marks framew

[2022-09-27 14:44] mavasani commented on #64317
From the customer:

[2022-09-27 16:57] AlekseyTs commented on #64238
See https://github.com/dotnet/roslyn/pull/64257

[2022-09-27 17:47] #63232 closed

[2022-09-27 18:34] tmat opened #64321 "Test CSharpCompletionCommandHandlerTests.TestNonBlockingExpandCompletionViaExpander failed in CI"
https://dev.azure.com/dnceng-public/public/_build/results?buildId=30793&view=ms.vss-test-web.build-test-results-tab&runId=619580&resultId=222272&paneView=debug

[code]

[2022-09-27 19:52] Phylum123 opened #64323 "After upgrading "Microsoft.CodeAnalysis.CSharp" from 4.2.0 to 4.30 generator errors"
If I upgrade my source generators from 4.2.0 to 4.30, then all of the projects using the source generator will not compile, complaining that the source generator is not generating source (it is generating, just fine). As a consequence any errors caused by the source not being generated (in my case a missing constructor) will cause it to not compile. The weird part is, there are no errors in the er

[2022-09-27 20:01] Youssef1313 commented on #64323
Duplicate of https://github.com/dotnet/roslyn/issues/63921

[2022-09-27 20:14] vsfeedback opened #64326 "Intellisense should not suggest such improbable suggestions and should delete suggestion at a single Backspace keypress"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Intellisense-should-not-suggest-such-imp/10096990)._

---
[severity:It bothers me. A fix would be nice]
Hello!

I accidentally type "Sim" instead of "Dim", and Intellisense turns this into "SimpleBookmark ".

I have never used "SimpleBookmark", and Intellisense should not suggest it.

In

[2022-09-27 20:18] arkalyanms commented on #64326
Ask#1: The backspace suggestion to remove the entire word if backspace immediately follows completion seems reasonable.
Ask#2: The ranking ask in the suggestions on the other hand that tracks per user history of usage is likely not going to be covered here.

Adding the "up for grabs" tag to cover ask#1.

[2022-09-27 20:18] allisonchou opened #64327 "[Automated] PRs inserted in VS build main-32927.219"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/cdf572b70e0b61b9207bc4aebe001a1048fd26fc...cef604fbe82a0c7f6db00b2d628aa910545ea0a1?w=1)
- [Merge main to main-vs-deps (64296)](https://github.com/dotnet/roslyn/pull/64296)
- [Rename Binder.*Scope constants (64288)](https://github.com/dotnet/roslyn/pull/64288)
- [Add two Integration tests for LongClass (64290)](https://github

[2022-09-27 20:18] #64327 closed

[2022-09-27 20:19] vsfeedback opened #64328 "Missing closing parenthesis on auto-completion"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Missing-closing-parenthesis-on-auto-comp/10129989)._

---
[severity:It bothers me. A fix would be nice]
When using auto-completion for method declarations or control statements the editor suggests the opening parenthesis as on the picture below:
![image.png](https://aka.ms/dc/image?name=

[2022-09-27 21:20] CyrusNajmabadi commented on #64328
this is not roslyn, this is intellicode.  @dibarbet  can you redirect?

[2022-09-27 21:36] dibarbet commented on #64328
re-opened the feedback and moved to intellicode.  Closing this issue as external.

[2022-09-27 21:36] #64328 closed

[2022-09-28 04:51] vsfeedback opened #64336 "Improve Source Link navigation for simple async methods"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/F12-on-C-extension-method-partial-clas/10152882)._

## Original title: F12 on C# extension method (partial class) opens wrong SourceLink .cs file

---
I'm using Nuget [Telegram.Bot](https://www.nuget.org/packages/Telegram.Bot) 18.0.0, which is compiled with SourceLink information.
The li

[2022-09-28 05:01] davidwengier commented on #64336
I think we can do a better job of handling async methods. What is happening here is that first we see if we can find source file information for the GetMeAsync method, and use that. Unfortunately that check fails because there is no document info for that method, because it contains only the very basic async state machinery code:

<img width="521" alt="image" src="https://user-images.githubusercon

[2022-09-28 05:20] ashokrathodcg commented on #32320
+1

[2022-09-28 08:58] Bosch-Eli-Black commented on #63780
Ah, thanks, @jaredpar! Sorry for the confusion 🙂

[2022-09-28 15:57] RikkiGibson commented on #64323
This is fixed in the upcoming VS patch (17.3.5).

[2022-09-28 15:57] #64323 closed

[2022-09-28 16:33] #64238 closed

[2022-09-28 18:24] cston opened #64344 "Report warning for unannotated parameters that could be marked `scoped`"
Unscoped parameters are typically noticed at call-sites and only _when an error is reported if the call-site has a mismatch of lifetimes_. If we report a warning at the method declaration, that should catch cases where parameters were left unscoped unintentionally. The warning should also reduce the risk that a parameter needs to be marked `scoped` later, which is a potential API breaking change.

[2022-09-28 20:03] DoctorKrolic commented on #63935
@JoeRobich @arkalyanms Any further actions on this issue?

[2022-09-28 20:19] DoctorKrolic opened #64348 "Code lens don't work for source-generated files"
**Version Used**:
VS 17.3.3

**Steps to Reproduce**:
1. Create MAUI App
2. Install `CommunityToolkit.Mvvm` Nuget package
3. Create class that derives from `ObservableObject`
4. In that class declare a method and annotate it with `[RelayCommand]` - this causes source generation
5. Open Code Lens for that method

**Expected Behavior**:
CodeLens shows correct list of references and do go-to-source wh

[2022-09-28 22:59] ayakael commented on #64200
Duplicate of https://github.com/dotnet/source-build/issues/2966

[2022-09-28 22:59] #64200 closed

[2022-09-28 23:47] 333fred opened #64354 "Include implicit `MyBase.New()` calls in VB Constructors"
VB does not include implicit base constructor calls in IOperation like C# will after https://github.com/dotnet/roslyn/pull/64331. This tracks adding that support.

[2022-09-29 04:10] Bosch-Eli-Black commented on #61940
@pjt33 Can you elaborate? That fixing has been working well for us.

[2022-09-29 06:03] knoxi commented on #63780
There is a new release of VS 2022, V17.3.5, it solved the issue for me.

[2022-09-29 11:42] mavasani opened #64363 "CodeRefactoring API"

[2022-09-29 11:42] #64363 closed

[2022-09-29 11:43] animalito-maquina commented on #64266
I have the same problem here.
It is happening just when i have a web project loaded in the solution.

SDK 7.0.100-rc.1.22431.12
VS Version 17.3.5
Target framework net7.0

STACK TRACE
[code]

![imagen](https://user-images.githubusercontent.com/5609454/193021183-d4aeb48c-00ab-4e7f-932f-a0e64d505fe8.png)
![imagen](https://user-images.githubusercontent.com/5609454/193021240-321bc316-a6ed-467d-8c59-f10

[2022-09-29 12:32] CyrusNajmabadi commented on #64266
@chsienki can you ptal?

[2022-09-29 15:27] papaneko commented on #63941
I though overlapped IO was automatically handled by the .Net FileStream?

[2022-09-29 15:41] jaredpar opened #64365 "Breaking change for methods with multiple refs"
Consider the following code:

[code]

This code compiled in C# 7.2 but fails in C# 11. The reason for the change is C# 11 introduced `ref` fields and now the method `G` has the potential of capturing `i` as a field of `rs`. This was an intentional breaking change that came with doing the `ref` field work and approved by LDM. It was a necessary evil of doing `ref` fields because return and assignme

[2022-09-29 15:48] cston commented on #63208
Updated the proposed API based on previous [API review discussion](https://github.com/dotnet/roslyn/issues/61647#issuecomment-1178239504).

[2022-09-29 16:24] Sergio0694 commented on #64344
Related question on annotating parameters or not: now that we have the return-only scope, is there any value in annotating a `ref` or `in` or `ref struct` (value) parameter to a mutable method in a `ref struct` type as `scoped`? As in, given the escape scope of those (unannotated) parameters is return-only, that means that you would still not be able to capture them into the instance `ref struct`

[2022-09-29 16:44] chsienki commented on #64266
@animalito-maquina @SnGmng Do you know which generators are running when this happens? You can see by expanding the Analyzers tab. Could you also 'report a problem' when this happens so we can look at the logs?

My current guess is a generator is using metadata references which was incorrectly introduced as a single value provider rather than a multi value. It shouldn't be possible for a generator

[2022-09-29 18:41] #64225 closed

[2022-09-29 18:49] nassaleh opened #64369 "EditorConfig Allow multiple blank lines doesnt work."
**Version Used**:
Visual Studio Community 2022
Version 17.3.4
**Steps to Reproduce**:

1. Create an editorconfig file
2. Change `Allow multiple blank lines` value to `No`, Severity `Error`.
3. Recompile, No error is produced

**Expected Behavior**:

A compilation error should be produced

**Actual Behavior**:
No error is produced

[2022-09-29 19:23] mikechristiansenvae opened #64370 "Non-exhaustive switch expression w/ tuple deconstruction causes csc.exe to fail with exit code -2146232797"
**Version Used**: Issue occurs with both .NET 6.0.400 and .NET 7.0.100-preview.7.22377.5

**Steps to Reproduce**:

1. Copy/paste the below code into a C# file

[code]

**Expected Behavior**:

An error/warning is produced that indicates the switch expression is non-exhaustive, since case `(not (0 or 1), 1)` is not handled.

**Actual Behavior**:

In Visual Studio 2022, Version 17.3.1:

[code]

In bo

[2022-09-29 19:24] #64059 closed

[2022-09-29 19:29] mikechristiansenvae commented on #64370
Note: This issue is similar to issue #57148

[2022-09-29 20:39] ryzngard commented on #64336
Closing as dupe of #59713, but feel free to reopen if you prefer to keep separate @davidwengier

[2022-09-29 20:39] #64336 closed

[2022-09-29 20:51] TahirAhmadov opened #64374 "Suggestion to prefix with "this" doesn't shown when setting delegate prop"
**Version Used**: VS 17.2.2, .NET 6

**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/16783987/193139440-d10482f8-483c-4635-9032-ddb677b23934.png)

[sharplab](https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwMRQgG0wQwEaYCmABIVPkQLABQAAgEwCMNLdAzMQ8QMK4DOfZtQDeNYuM4AWYgDEA9nIAUASjETR1CVuIA3HGGIAPYgF5iUQgHce/Pmu3ENDhwHkoAUR1lgp4gCF9GHttAF8AbmCtALAVCM0JEODaaWiVYKcEmkTqGi5eHAEaDPF

[2022-09-29 21:18] 333fred commented on #63208
### API Review

* Like reusing
* Should we just call it `IncludeModifiers`?
    * Yes
* What about implicit cases? `out` is implicitly `scoped` in some cases, for example.
    * Shouldn't include in symbol display if it's not legal.
    * Rather than trying to really determine this, maybe we just say we don't put `scoped` on `out` parameters.
* Can we punt it to 17.5, as we're running up to the de

[2022-09-29 21:19] 333fred commented on #64213
### API Review

* Analyzer config files are a hierarchy, but this operates on a single file. Is that good enough for analyzers?
    * Analysis might be "not enough keys set", which could be non-observable from an individual file.
* The analysis context gets plain text, can we expose the stuff we've already parsed?
    * Is the user just going to have to reparse the file?
    * Our parser doesn't k

[2022-09-29 21:19] 333fred commented on #64236
### API Review

* FileLinePositionSpan has a boolean that indicates if it's a mapped path, which isn't settable externally.
    * This is implicit information in proposal 2, so we're leaning towards proposal 1.

**Conclusion**: Proposal 1 is approved.

[2022-09-29 21:20] 333fred commented on #63888
### API Review

* Using the IDE indicated that `LoadTextOptions` would be good to include as well.
* Calling the new API on a loader that has not updated will drop the options. Is that ok?
    * Can also happen if the loader can't reload the original binary representation
    * Could we make `IsReloadable` public, and have it return `false` by default to determine whether or not the options can be

[2022-09-29 23:48] jaredpar commented on #64344
The `scoped` annotation is beneficial in that it helps the compiler understand what is or is not returnable. Returnable can take the form of explicit return or assignment to a `ref / out` parameter.

[code]

There is no benefit to annotating this method. It's `void` so nothing can be returned and because `ref int` is RSTE _return only_ it can't be captured through `@this`. The defaults of this **s

[2022-09-30 00:04] allisonchou opened #64387 "[Automated] PRs inserted in VS build main-32929.264"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/cef604fbe82a0c7f6db00b2d628aa910545ea0a1...933b669cbcdef04b7350cfb368a95e27ff8eeebb?w=1)
- [Fix the stack overflow in AbstractEmbeddedLanguageClassificationService.cs (64311)](https://github.com/dotnet/roslyn/pull/64311)
- [Avoid dropping Razor SDK source generator when not included in VSIX (64345)](https://github.com/dotnet/

[2022-09-30 00:04] #64387 closed

[2022-09-30 00:58] #62094 closed

[2022-09-30 00:58] #64155 closed

[2022-09-30 00:58] #64365 closed

[2022-09-30 02:29] #63691 closed

[2022-09-30 08:10] animalito-maquina commented on #64266
i have just reported the problem as "Code Analysiscrashes in web project net7.0 (IndexOutOfRangeException)"

I think i did not change any analyzer, so they should be the default for an "ASP.NET Core Web App" template.
I tried the `<RunAnalyzersDuringLiveAnalysis>False</RunAnalyzersDuringLiveAnalysis>` but it does not change anything

![imagen](https://user-images.githubusercontent.com/5609454/1932

[2022-09-30 08:59] animalito-maquina commented on #64266
With the <EnableNETAnalyzers>False</EnableNETAnalyzers> within the .csproj at least i can continue to work without the errors

[2022-09-30 09:32] dd-inno commented on #59757
This also occurs if the referenced projects target netstandard2.1.

[2022-09-30 10:53] SnGmng commented on #64266
After i upgraded VS to 17.4.0 Preview 2.1, the error disappeared

[2022-09-30 14:05] AlekseyTs commented on #61483
@tanner Could you clarify the suggestion? Specific C# construct, current IL, proposed IL, etc.