[2018-04-06 05:58] aelij opened #25988 "Generate field/property should not place the new member with an #if"
**Version Used**: 15.6.4

**Steps to Reproduce**:

[code]

1. Place cursor at `_z` and click Ctrl-.
2. Select Generate field _z

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2018-04-06 06:13] mstechies opened #25989 "Download in PDF link doesn't work"
**Version Used**:

**Steps to Reproduce**:

1. Open https://github.com/dotnet/roslyn/wiki/Roslyn%20Overview
2. Select Download in PDF link

**Expected Behavior**:
PDF should be generated and downloaded for the Roslyn documentation

**Actual Behavior**:
This link opens up https://archive.codeplex.com/

[2018-04-06 06:25] jcouv commented on #24225
I just want to point out that code coverage analysis helps catch unused private methods/members, as well as internal ones.

[2018-04-06 07:26] weltkante commented on #25973
Probably related to #2487 (or even duplicate) ?

[2018-04-06 08:00] rvhelden commented on #25571
But this means that this issue must be opened again i think? If the commit you referenced should not fix the issue, than it means it is probably still there only in another form.

[2018-04-06 08:22] Tragetaschen opened #25990 ""Introduce Local" isn't available when the beginning of the selection contains a line break"
**Version Used**:
15.6.4

**Steps to Reproduce**:
[code]

Select the whitespace after the equals character (the line break) up until the '2' and open the Quick Actions.

**Expected Behavior**:
The Quick Actions should include "Introduce Local" in addition to "Extract Method". The whitespace in the selection shouldn't make a difference.

**Actual Behavior**:
The Quick Actions only include "Extract

[2018-04-06 08:42] Neme12 commented on #25926
BTW, I don't ever use unsafe so I don't actually see myself using this... @jcouv  @CyrusNajmabadi is this something you would find useful?

[2018-04-06 10:48] #22466 closed

[2018-04-06 10:48] #22700 closed

[2018-04-06 11:14] rvhelden opened #25991 "Compiler crash csc.exe"
The compiler crashes with an unknown hard error and with exit code -2146232797
When compiling the following class

[code]
This is the stacktrace I got

**Version Used**:
Microsoft Visual Studio 2017 15.6.4 and 15.6.5

**Steps to Reproduce**:

1. Compile in Release mode

**Expected Behavior**:
Expected a successfully compiled program

**Actual Behavior**:
Crashes with an hard error and exitcode -21

[2018-04-06 14:39] mavasani opened #25993 "Use pattern matching IDE0019 issue"
Ported from https://github.com/dotnet/roslyn-analyzers/issues/1660

@PhilPJL reported:

---------------------------------------

#### Version

Microsoft Code Analysis 2017, version [2.6.0.6241393]

#### Repro steps

[code]

#### Expected behavior

Both fe and ae should be suggested to use pattern matching.

#### Actual behavior

Only fe is suggested.

However both are suggested if there's no 'else

[2018-04-06 15:11] #25379 closed

[2018-04-06 15:11] #25429 closed

[2018-04-06 15:57] sharwell opened #25994 "Create a view like Call Hierarchy for Data Flow Analysis"
This view would be launched when a user selects a value declaration or reference as opposed to a method declaration or reference. It would then be populated using the new Data Flow Analysis functionality of Roslyn.

[2018-04-06 16:52] mattdkerr commented on #24225
@Neme12 I believe some other analysis tools only detect it as dead in that situation if it's not part of an interface or a public method

[2018-04-06 16:53] alrz commented on #25993
The problem is that we look for a parent block for the `if` statement for various analyses. We should adjust all of those considering that there is no parent block.

[2018-04-06 17:36] CyrusNajmabadi commented on #25990
Nope.  This is not intentional.

[2018-04-06 17:38] CyrusNajmabadi commented on #25926
In the rare cases i use unsafe... sure :)

But there's probably several dozen more compiler errors that i would benefit from fixes more than this :)

[2018-04-06 17:44] CyrusNajmabadi commented on #25988
Note: It *should* place it in a compatible ifdef region *if* that's what sort of region it is in when you invoke the feature.  for example:

[code]

That said, we have almost no effort spent in the language service to try to do this kind of fine-grained analysis.  About all we do is try to ensure that we don't accidentally move things around that overlap ifdefs, and that we do not try to remove pa

[2018-04-06 17:46] CyrusNajmabadi commented on #16288
@jcouv Personally, i think offering a minimal-capturing local function, vs. a maximal-capturing local function would be nice.  Of course, only one would be offered if they were the same thing.

Note: if you do a minimal-capture local function, you now need to figure out how to rename everything so that there are no conflicts in the local function and the outer scope.  That sounds very non-trivial.

[2018-04-06 17:53] jcouv opened #25996 "Message for CS1929 could be improved when a property of that name exists"
It's easy to accidentally add `()` on a property access. The error message correctly indicates that there is no such property. But I think it should say "did you mean the property 'Blah'?".

![image](https://user-images.githubusercontent.com/12466233/38436066-7c92bc60-3988-11e8-8918-0bb6c717c277.png)

[2018-04-06 17:56] alrz commented on #16288
can you please give an example for each style? The current impl just "adds" any capture as a parameter to the resultant method and updates usages.

There are difficulties in case of method group (wrap to lambda doesn't always work), making `out` parameters (e.g. capture doesn't flow in) and sibling local functions (results in invalid code).

[2018-04-06 17:57] jcouv commented on #25926
I agree with Cyrus. The `unsafe` project fixer makes sense to me because the pain of going into project settings is high.
On the other hand, the fixer to add `unsafe` keyword or block in the current method isn't nearly as valuable, in my opinion.

[2018-04-06 18:01] jcouv commented on #16288
Here's an illustration:

Initial code:
[code]

Extract with minimal captures:
[code]

Extract with maximal captures:
[code]

[2018-04-06 18:07] jasonmalinowski commented on #25961
@sharwell Assigning this to you since you've been driving the conversation. If you get overloaded and we need to redistribute, let me know.

[2018-04-06 18:13] CyrusNajmabadi commented on #16288
Your example gave me the heebie jeebies since you had to rename everything captured.  I'm not sure how i feel about this.

[2018-04-06 18:26] jmarolf opened #25997 "TestUnmanaged_Span is failing in master-vs-deps"
I am seeing **Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGenStackAllocInitializerTests.TestUnmanaged_Span** fail consistently so it looks like a bad merge on my part.  Can you help me resolve this?

[code]

[2018-04-06 19:12] gafter opened #25998 "When keyword recommender failure with recursive patterns"
Some keyword recommender tests are skipped in the branch `features/recursive-patterns` because the implementation does not handle recursive patterns. This is a specific line skipped in `WhenKeywordRecommenderTests.cs`:

[code]

[2018-04-06 19:14] gafter opened #25999 "When keyword recommender failure with constant named `var`"
Some tests are skipped in the branch `features/recursive-patterns` because the compiler treats `var` as a keyword in pattern contexts. It is not clear if that is intentional.

Here is an example from `WhenKeywordRecommenderTests.cs`:

[code]

[2018-04-06 19:16] gafter opened #26000 "Pattern-matching compiler does not permit a constant named `var` as a pattern"
See https://github.com/dotnet/roslyn/issues/25999

It isn't clear if this is intentional. If it is, it needs to be documented.

[2018-04-06 19:29] gafter commented on #25999
@CyrusNajmabadi Agreed, that's what #26000 says.

[2018-04-06 19:31] CyrusNajmabadi commented on #25999
SGTM.  Once we get a decision there, we can then decide if/how the feature (and its tests) should be updated.

[2018-04-06 19:32] Neme12 commented on #25999
The issue might be better illustrated with just a constant var, this particular test is unnecessarily complicated.

In this case it would be a constant, that's why `when` was offered at that point.

[2018-04-06 19:34] gafter opened #26001 "[Ubuntu tests] build.sh: Permission denied"
I get consistent failures in Ubuntu tests on the features/recursive-patterns branch, with messages like this in https://ci.dot.net/job/dotnet_roslyn/job/features_recursive-patterns/job/ubuntu_16_mono_debug_prtest/85/consoleFull

[code]

[2018-04-06 19:47] alrz commented on #25997
@vsadov I'm not sure if this will be the last time. :/

[2018-04-06 19:54] gafter commented on #25235
@cston I think this can be closed; there are tests for all items.

[2018-04-06 19:56] #25235 closed

[2018-04-06 19:57] Neme12 commented on #25998
If `(1 + 1) w` is now a deconstruction pattern, then it's probably the right thing to not offer `when` so that we don't interfere with the declaration. It might be OK if it is just in suggestion mode, but it would still be a little distracting to see `when` every time you're typing a variable name for a deconstruction. It might be fine if there was also completion for suggested names and `when` wa

[2018-04-06 20:06] Pilchie opened #26002 "VB Keyword recommenders: Protected not suggested after Private regardlesss of langversion"
**Steps to Reproduce**:

1. Set language version to 15.5
2. Type:
[code]

**Expected Behavior**:
`Protected` to be in the completion list.

**Actual Behavior**:
It isn't.

[2018-04-06 20:25] #25580 closed

[2018-04-06 20:25] jcouv commented on #25580
Fixed in 15.8

[2018-04-06 21:15] jcouv opened #26004 "Find/GoToAll/FAR: Ability to filter by code vs. test project"
I don't know if the IDE can tell which projects are product code vs. test code, but it would be useful to be able to search symbols only in product code (tests symbols are very numerous and add a lot of noise).

Tagging @kuhlenh for consideration. I'm not sure if such feature would be in IDE or Editor layer. If IDE, let me know, I could take a look.

[2018-04-06 21:19] bryanar opened #26005 "SyntaxGenerator ToFullString() not producing legal code."
**Version Used**:
Microsoft.CodeAnalysis Nuget 2.7.0.

**Steps to Reproduce**:

            var workspace = new AdhocWorkspace();
            var generator = SyntaxGenerator.GetGenerator(workspace, LanguageNames.CSharp);

            var unit = generator.CompilationUnit(generator.NamespaceImportDeclaration("System"),
                generator.ClassDeclaration("TestClass",
                members:

[2018-04-06 21:55] jmarolf commented on #26005
@bryanar You'll want to call `NormalizeWhitespace`. if you are generating code outside of a codefix.  By default generated code has placeholder nodes for whitespace so the formatter can replace them with whatever the users settings are.

[2018-04-06 22:06] AlekseyTs opened #26006 "VB could generate more efficient code for disposing enumerator for For Each"
[code]

Observed:
[code]

Note, the ``` isinst     [mscorlib]System.IDisposable``` is done twice.

Expected:
Do this only once and reuse result, either via local, or via a dup on the stack.

[2018-04-06 22:50] jcouv commented on #25991
Tagging @gafter

[2018-04-06 23:00] #17261 closed

[2018-04-06 23:02] gafter opened #26008 "Branchless codegen for lifted nullable operators in VB"
It would be nice to have VB generate improved code the same as https://github.com/dotnet/roslyn/pull/25992 for C#.

[2018-04-06 23:02] gafter commented on #26008
/cc @alrz

[2018-04-06 23:04] gafter opened #26009 "Branchless codegen for lifted nullable operators | and &"
It would be nice to have improved code gen for `&` and `|` analogous to the changes in https://github.com/dotnet/roslyn/pull/25992.

For VB too.

[2018-04-06 23:04] gafter commented on #26009
/cc @alrz

[2018-04-06 23:39] jcouv commented on #25990
The problem seems to come from `GetExpressionUnderSpan`. It finds `=` as the `startToken` and `2` as the `stopToken` and that doesn't delineate an expression...
I'm taking a stab at fixing (private branch `extract-local2`).

[2018-04-06 23:39] #16529 closed

[2018-04-06 23:39] #24413 closed

[2018-04-06 23:46] CyrusNajmabadi commented on #25990
@jcouv Makes sense.

Note: it might be good if we could extract this out into a common place so that anyone else who needs to do find-the-appropriate-node(s)-based-on-a-selection, has a well vetted place to start from.

[2018-04-07 02:33] bryanar commented on #26005
Ah, thank you.

[2018-04-07 02:33] #26005 closed

[2018-04-07 02:35] sharwell commented on #26001
@gafter The executable bit was removed in commit 703c47f83994fb69c161fbbb09ed62424b0e5faf (it was present in both branches leading to this merge, so it was broken during the merge itself). You can restore it by executing the following command:

[code]

[2018-04-07 03:52] #24394 closed

[2018-04-07 03:52] jcouv commented on #24394
Fixed in 15.8

[2018-04-07 04:00] jcouv commented on #16288
Sorry I had misunderstood the scenario.
For promoting a local function to be a method, I think the only condition is that the local function should have no captures. Other than that, it seems doable.

[2018-04-07 04:33] jcouv commented on #9244
@jaredpar @gafter Are there some scenarios we could list for this?
If not, I'd suggest closing.

[2018-04-07 04:42] jcouv commented on #14130
Note: the converse operation works though.

![image](https://user-images.githubusercontent.com/12466233/38451369-68ec0fee-39e3-11e8-901b-468523910121.png)

[2018-04-07 07:54] michael-hawker commented on #2239
I don't think I've ever ran into problems in Python with their [triple quotes strings](https://docs.python.org/3/library/stdtypes.html?highlight=string%20literal#text-sequence-type-str).

I'd vote for that approach.

[2018-04-07 14:45] BhaaLseN commented on #26004
Seconded for "Find" (text) and "Find all references".

Although, we have clean class library projects for NUnit tests, and they don't have any special Guids or anything in the csproj (infact, one of our devs has the problem that his VS insists on adding them, which reportedly has been fixed for 15.7), so I have no idea if/how VS would be able to detect that.

[2018-04-07 21:34] ericnewton76 commented on #2239
@michael-hawker I can go with that... Python's triple quotes or Triple backtick or something...

Something is better than nothing.  C# only really supports ```@``` for string literals, and of course doesnt work with any html cut/pasted directly (when it has double quotes for attribute values)

[2018-04-07 21:39] JohanLarsson opened #26015 "Codefix for suppress <ID> in Source inserts pragma restore before semicolon"
Code before:
[code]

Fixed code:
[code]

I would prefer
Fixed code:
[code]

The example uses the code fix to suppress `CS0219`

[2018-04-07 21:53] CyrusNajmabadi commented on #26015
The system we have for inserting pragmas should probably be updated to recognize statements and to know to not split the statement from its trailing semicolon.

[2018-04-08 05:34] jcouv commented on #8930
There is a refactoring to override `Equals` and `GetHashCode`, which also can generate `operator==` and `operator!=`.

So I think this issue can be closed.

![image](https://user-images.githubusercontent.com/12466233/38463624-aa91bef0-3ab3-11e8-891c-893cbd383992.png)

![image](https://user-images.githubusercontent.com/12466233/38463628-b842f10e-3ab3-11e8-8767-94cd7057d06a.png)

[2018-04-08 06:44] #26015 closed

[2018-04-08 06:45] jcouv commented on #26015
@JohanLarsson Thanks for reporting.
The fix was merged for 15.8.

[2018-04-08 09:33] alrz opened #26020 "Refactoring: Create type from anonymous object creation"
[code]

->
[code]
[code]
could work for tuples as well.

[2018-04-08 14:53] Neme12 opened #26021 "No suggested names inside foreach"
[code]
Expected behavior: I get completion with suggested names (in this case just `configuration`)
Actual behavior: I don't :(

[2018-04-08 15:33] Neme12 opened #26022 "Quick info shows irrelevant warning instead of error"
Insert this piece of code into VS:
[code]
I see a red squiggle on `Function` so I move the cursor over it and expect to see what the error is. Instead, I only get an unhelpful warning. This forces me to open the error list.

![image](https://user-images.githubusercontent.com/11444821/38469106-d0d25902-3b4f-11e8-92d6-1264b3d775cf.png)

It would be nice if this showed all diagnostics at that locatio

[2018-04-08 19:26] CyrusNajmabadi commented on #12363
@WrongBit Would you be interested in contributing this feature yourself?  I could help guide you on how you could go about implementing it!

[2018-04-08 19:29] Neme12 commented on #12363
This definitely needs to be configurable. I don't think I'd want this behavior personally.

[2018-04-08 20:30] gafter commented on #25591
Test added in #26018

[2018-04-08 20:30] #25591 closed

[2018-04-08 21:41] jcouv opened #26027 "QuickInfo shows type for `default` literal, but not `null` literal"
Both `default` and `null` get an inferred type, which the compiler exposes via semantic model.
I think QuickInfo should show the type in both cases.

![image](https://user-images.githubusercontent.com/12466233/38472834-b55a7318-3b3a-11e8-8bc1-96452c1f90d9.png)

![image](https://user-images.githubusercontent.com/12466233/38472847-d4489eee-3b3a-11e8-8c8e-eab895c38c0b.png)

[2018-04-08 23:10] Neme12 opened #26028 "Assertion failure in PreciseAbstractFlowPass: "last comes before first""
1. Checkout master & run a debug build of VisualStudioSetup
2. Paste the following code & put cursor after 'x':
[code]

This is what I get:
![image](https://user-images.githubusercontent.com/11444821/38473592-b270d7c0-3b92-11e8-9c2f-7431cddfb886.png)

[2018-04-09 01:59] CyrusNajmabadi commented on #26028
Is this a bug in dataflow?  Or just in ForEachToFor?   Tagging @heejaechang and @gafter

[2018-04-09 03:42] FizzerWL opened #26029 "MSBuildWorkspace: "No assembly containing System.Object was found" when using Roslyn to build a class library loaded from csproj"
Hello,

Since updating my version of VS, I can no longer use Roslyn to build class libraries.  Using MSBuildWorkspace.Create().OpenSolution doesn't seem to load the project references, resulting in the error "No value for RuntimeMetadataVersion found. No assembly containing System.Object was found".

I have created a [repro sample](https://github.com/FizzerWL/ErrorRepro) that demonstrates the prob

[2018-04-09 03:45] gafter commented on #10622
This issue reflects a now-defunct prototype.

[2018-04-09 03:45] #10622 closed

[2018-04-09 08:16] tamlin-mike commented on #26028
Seems to me `PreciseAbstractFlowPass` is either underdocumented or wrong, or at least dangerous.

See the section https://github.com/dotnet/roslyn/blob/9b8aa38370fe6ad4afa10add7fa5a5bac22a9355/src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs#L171-L180

What if that span is only a single BoundNode, which seems likely this is the exact problem OP reported? Also, the assert text

[2018-04-09 17:59] tannergooding opened #26033 "Microsoft.NETCore.Compilers v2.7.0 package is broken"
Currently attempting to use the v2.7.0 package for Microsoft.NETCore.Compilers results in a failure because of an unmatched quote.

This was already fixed here: https://github.com/dotnet/roslyn/pull/25220, but it was not included in the RTM release.

Ideally, the fix should be backported and a v2.7.1 package should be released with the fix.

[2018-04-09 18:03] agocke commented on #26033
These are the same binaries as were shipped in .NET Core SDK 2.1.10x, so as an alternative, the user can download that SDK and ignore the NuGet package entirely.

[2018-04-09 18:30] gafter opened #26034 "Some uses of StringComparer.OrdinalIgnoreCase instead of CaseInsensitiveComparison.Comparer"
If you need a `StringComparer` that performs case-mapping, you have two choices:
1. `StringComparer.OrdinalIgnoreCase`
2. `CaseInsensitiveComparison.Comparer`

These two case-mapping techniques differ in how they are implemented, and therefore in how they behave.

- `StringComparer.OrdinalIgnoreCase` uses the invariant mapping to compare two strings mapped to uppercase. This is perfect for file sy

[2018-04-09 19:43] CyrusNajmabadi commented on #26034
Consider having a central location that exposes teh right comparers to use, with teh right names to help pick which one you want.  For example: StringComparers.FileSystemNameComparer.  that would go a long way toward helping people make the right choices.

[2018-04-09 19:57] #25991 closed

[2018-04-09 20:59] sharwell opened #26036 "ArgumentException in SetForegroundWindow triggers integration test failure"
This was supposed to be fixed by 53178e6896830f7d4441f5c405a0660fff6e580c but is still observed in some cases.

Example:

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_release_vs-integration_prtest/360/

[code]

[2018-04-09 21:01] sharwell opened #26037 "Light bulb never appears in integration test"
Example:

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_release_vs-integration_prtest/356/

[code]

Based on the screenshot at the time of the failure, this appears to be caused by a failure to correctly initialize the document text:

![image](https://user-images.githubusercontent.com/1408396/38522799-4ce551c4-3c0f-11e8-8d7f-390992fe6e6b.png)

[2018-04-09 21:04] sharwell opened #26038 "Code fix actions missing leads to integration test failure"
Example:

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_release_vs-integration_prtest/354/

**CSharpCodeActions.GenerateMethodInClosedFile-EqualException-17.09.22.log**:

[code]

This appears to be caused by the presentation of a code fix with no actions in the light bulb (this test is supposed to have a non-empty preview at this point):

![image](https://user-images.githubusercon

[2018-04-09 21:07] sharwell opened #26039 "Lack of UI automation retry leads to integration test failure"
This case is similar to the ones addressed by commits 36886991c8b770eb2b05f3fd17c70d4ddb203c9f and b13e9744e281e24c7dc7e44d624e54ee3fc9c800, and should be corrected in a similar fashion.

Example:

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_release_vs-integration_prtest/354/

[code]

As shown in the screenshot, the element of interest is available:

![image](https://user-images

[2018-04-09 21:10] sharwell commented on #26036
:memo: This failure can lead to cascading failures like the ones seen here:
https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_release_vs-integration_prtest/344/artifact/Binaries/Release/UnitTests/VisualStudioIntegrationTests/xUnitResults/Screenshots/

[2018-04-09 21:17] sharwell commented on #26039
Here is another case of this with a different stack:

[code]

![image](https://user-images.githubusercontent.com/1408396/38523563-86622d08-3c11-11e8-97ba-7487bf8a259a.png)

[2018-04-09 21:24] AdamSpeight2008 commented on #26034
A `StringComparers.IdentifierNameComparer` would also help.
 @gafter  I'll can go through them if you like?

[2018-04-09 21:25] sharwell opened #26041 "Failure to invoke Save leads to integration test failure"
Example:

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_debug_vs-integration_prtest/349/

[code]

The screenshot suggests the Save action has not completed (document name still has a *).

![image](https://user-images.githubusercontent.com/1408396/38523904-7e0fe3e2-3c12-11e8-9fba-09f4fa119dda.png)

[2018-04-09 21:27] sharwell commented on #26039
Another case with a different stack:

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_debug_vs-integration_prtest/358/

[code]

![image](https://user-images.githubusercontent.com/1408396/38524050-ef7e4a32-3c12-11e8-91be-36d3f5deb861.png)

[2018-04-09 21:31] sharwell opened #26042 "Failure to apply code fix leads to integration test failure"
Example:

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_debug_vs-integration/34/

[code]

On the surface, this appears to be the same failure as #26038, but the screenshot tells a very different story.

![image](https://user-images.githubusercontent.com/1408396/38524194-69afe676-3c13-11e8-88ff-21d58cffda27.png)

[2018-04-09 21:33] sharwell opened #26043 "RPC call rejected leads to test failure"
⚠️ This was supposed to be fixed by 08fee02ee145f7e7354be4a77ed25c1ae63e67d5. Before making code changes, we should verify that the above change was actually included in the failed build.

Example:

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_debug_vs-integration/38/
https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_debug_vs-integration/43/

[code]

[2018-04-09 21:46] 333fred opened #26044 "Verify Sourcebuild solution"
We have a sln and compile information for sourcebuild. We need to ensure that this is verified on a regular basis so that it doesn't break silently.

[2018-04-09 21:55] jaredpar commented on #26043
That doesn't appear to be included.

[code]

[2018-04-09 21:56] jaredpar commented on #26043
Updated my comment based on my remembering what ancestor and descendant actually mean.

[2018-04-09 22:32] AdamSpeight2008 opened #26046 "Utilise Mutli-Line Strings in VB Unit Tests (IncrementalParser)"
* Mainly focused in using String Literals over XML Literals,
** Refactor out (if possible helper methods from above changes).
** Minimise the size the strings (where viable).
** Clean up code.
Planning to go through the folders with each project, as to minimise pull-request size.
As part of the work discussed in #17124.

#26040 (Incremental Parser) *which is currently closed*

[2018-04-09 22:38] jasonmalinowski commented on #22074
With my fix above I see this working again.

[2018-04-09 22:38] #22074 closed

[2018-04-09 22:42] gafter commented on #25935
@jcouv what is #25400? ;)

[2018-04-09 22:43] gafter commented on #25400
Moved to https://github.com/dotnet/roslyn/issues/25935

[2018-04-09 22:43] #25400 closed

[2018-04-09 22:48] JieCarolHu opened #26048 "Format button is disabled when go to a document from the drop down arrow"
**Version Used**:
15.7.0 preview 3 (27604)

**Steps to Reproduce**:

1.  Open 10 nuspec files together
2.  Select a file from the drop down arrow
![image](https://user-images.githubusercontent.com/17056651/38526972-56fb9170-3c0d-11e8-871a-4f8f06ab6924.png)
3. The file open but the Format button is disabled

**Expected Behavior**:

**Actual Behavior**:

[2018-04-09 23:07] OmarTawfik opened #26051 "C# projects display VB file icon"
Example from `Compilers.sln`:

![image](https://user-images.githubusercontent.com/15987992/38527470-c1133b9c-3c0f-11e8-81f6-524f12c7155b.png)

Build info:
[code]

[2018-04-09 23:07] OmarTawfik commented on #26051
cc @dotnet/roslyn-ide for triage

[2018-04-09 23:15] sharwell commented on #26043
In that case my best guess is the timeout was hit:

https://github.com/dotnet/roslyn/blob/a5a3d5246111c58f1b3237b1af7adf5bd5c19a91/src/VisualStudio/IntegrationTest/IntegrationTests/AbstractIntegrationTest.cs#L140-L142

[2018-04-09 23:17] CyrusNajmabadi commented on #26048
This does not seem roslyn related.  @olegtk Does this belong to editor somehow?

[2018-04-09 23:28] sharwell commented on #26043
Agree. I only saw two instance of this issue in the history, so it's not as common as some of the others I filed today. Worth figuring out though.

[2018-04-09 23:50] vsfeedback opened #26053 "[VB] #If. Then. .. #Else.. #End If don't work"
#If DEBUG Then
    &lt;WebMethod()&gt;
#Else
    &lt;WebMethod(CacheDuration:=86400)&gt;
#End If

Signals a BC30012 (missing #End If)

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/179853/vb-ifthenelseend-if-dont-work.html
VSTS ticketId: 549666_
_These are the original issue comments:_

Jinu Joseph [MSFT] on 1/14/2018, 03:53 PM (84 days ago): <p>Thank

[2018-04-10 00:05] AlexanderMorou opened #26054 "DebuggerDisplayAttribute"
**Version Used**:
Visual Studio 15.6.5

**Steps to Reproduce**:

1. Create an enum
2. Add Debugger Display that uses `{this}` or `{this.ToString()}`
3. Attempt to view variable or property which uses a reference to the enum.

**Expected Behavior**:
Debugger Display correctly executes and displays the result when you hover over the relevant variable or property in break mode.

**Actual Behavior**:

[2018-04-10 03:26] gafter commented on #26053
Are you sure you do not have any extra empty lines?

[2018-04-10 04:23] ericmutta opened #26058 "VB: Multiple issues with LIKE operator in portable class libraries."
**Version Used**:

Visual Studio Community 2017 v15.5.6

**Steps to Reproduce**:

Create a VB portable class library targeting the .NET Standard 2.0 and type in the following code in the `Class1.vb` file created by default:

[code]

**The first problem is that when you build that library the build fails but the Error List window remains completely blank.** In fact the only way to know the build ha

[2018-04-10 04:44] msbasanth opened #26059 "Unable to retrieve whether assembly is C# assembly or C++/CLI assembly"
**Version Used**:
Roslyn - v2.6.0
VS2017 15.6

**Steps to Reproduce**:

1. I have a C++/CLI assembly where I am exposing few APIs
2. I am referring the same from a C# assembly and analyzer the MemberAccessExpressionSyntax
3. I got IMethodSymbol by using semanticModel.GetSymbolInfo(memberAccessExpressionNode).Symbol

**Expected Behavior**:
The property methodSymbol.Language should show C# in the IM

[2018-04-10 04:50] #25930 closed

[2018-04-10 05:11] tmat commented on #26054
Be advised that it is not recommended to use arbitrary expressions in DebuggerDisplay attribute:

https://docs.microsoft.com/en-us/visualstudio/debugger/using-the-debuggerdisplay-attribute#using-expressions-in-debuggerdisplay

[2018-04-10 09:50] wstaelens opened #26064 "Visual Studio 2017 Pro (15.6.5) System.NullReferenceException in bingdev"
see screenshot:

![bingdev](https://user-images.githubusercontent.com/7447285/38549859-50c79652-3cb5-11e8-915d-cfba2d771aa4.png)

[2018-04-10 10:35] dolunay commented on #25098
var @namespace = SF.NamespaceDeclaration("Test");
var dh = Microsoft.CodeAnalysis.Host.Mef.MefHostServices.DefaultHost;
var workspace = new AdhocWorkspace();
var o = workspace.Options
    .WithChangedOption(CSharpFormattingOptions.IndentBlock, true)
    .WithChangedOption(CSharpFormattingOptions.IndentBraces, false);
var formattedNode = Formatter.Format(@namespace, workspace, o);  //null referance

[2018-04-10 12:26] fitdev opened #26066 "Enum Generic Constraint with struct Constraint usage"
**Version Used**:
C# 7.3 Preview in VS 15.7 Preview 3

**Steps to Reproduce**:

Trying to use this new feature: [System.Enum, System.Delegate and unmanaged constraints.](https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-preview-relnotes#csharp)

Consider this code for extension method:
   `public static T ToEnum<T>(this string enumString, T defaultOnFailure = default(T), bool ignor

[2018-04-10 12:56] Joe4evr opened #26067 "[Feature request] Show operator result in Quick Info iff the operands are const values"
This may be really minor, but I think it would be really neat if Quick Info could show the full expression and result of a const-folded operation when hovering over the operator. This would help around eg. unit-tests, where you use some const values so the test is predictable, but once a few of those values are used in various ways, you may want to have a quick glance at the result of an operation

[2018-04-10 13:45] Neme12 commented on #26067
Seems reasonable.

[2018-04-10 14:25] WrongBit commented on #12363
@CyrusNajmabadi : I can try (in a spare time), please give guide. MS just spread resources on useless features, while IDE (where we spend 99% time) is abandoned for 3rd party hobbyists.

[2018-04-10 15:02] jmarolf commented on #26059
@msbasanth on the symbol locations you can check if they are defined in source: `symbol.Locations.All(l => !l.IsInSource)`

Methods defined in C++\CLI will come from metadata references as roslyn doesn't understand C++, therefore they won't have any source definitions.

[2018-04-10 15:08] jaredpar commented on #26066
CC @OmarTawfik

[2018-04-10 15:08] msbasanth commented on #26059
In my case, the symbol is a member access to an assembly for which source may or may not be available.
i.e. if I am referring to a C# assembly for which source code is not available it will also come as metadata references.

In this case symbol.Locations.All(l => !l.IsInSource) will return false even for C# assembly right?

Thanks
Basanth

[2018-04-10 15:15] jaredpar commented on #26058
@ericmutta thanks for the detail here.

Having trouble reproducing the error you saw though. When I create a portable 2.0 project in VB and use the code I get the error

That is expected. The Like operator is actually implemented inside the MS.VB.dll and the compiler simply defers to it. In cases where it's not available then the compiler has to issue an error message.

Will wait for IDE to commen

[2018-04-10 15:16] jmarolf commented on #26059
@msbasanth can you tell me your scenario? If you don't have the source for the symbol you are analyzing what is the difference between VB/C#/C++ or any other .NET language?

[2018-04-10 15:20] jmarolf commented on #26058
@KathleenDollard for context

The version of MS.VB.dll that ships with .NET Standard is the same as the one shipped for portable class libraries.  In .NET Standard 2.0 the number of framework APIs may be enough that we could include a version of MS.VB.dll  with more features.

[2018-04-10 15:26] jaredpar commented on #26033
Fixing the package itself does not meet the bar as there are no direct consumers of the broken code today. Should a case come up where we need to fix 2.7 + deliver a hot fix to customer of that package then the bug will be fixed in the 2.7 train. Outside that customers can use the 2.8 train to get the correct package.

[2018-04-10 15:26] #26033 closed

[2018-04-10 15:31] msbasanth commented on #26059
In my case, I am analyzing the API's exposed in C# assembly by analyzing MemberAccessExpression in C# code. Currently, I will be getting MemberAccessExpression & corresponding IMethodSymbol even for C++/CLI API's accessed in my C# source code (I am getting ISymbol from the metadata info as you mentioned).

Here I want to differentiate the API call is to a C# assembly or a C++/CLI assembly as our a

[2018-04-10 15:44] RipPer56 commented on #25679
Yeap exactly

[2018-04-10 15:47] RipPer56 commented on #26029
#25679 this is it i guess.

[2018-04-10 16:11] AlexanderMorou commented on #26054
Agreed.

I usually only use light-weight methods with no side-effects.  An example is a static method auto-generated for the enum that has no side-effects, or a method that operates on enums in general (via unconstrained melody, for instance.)

DebuggerDisplayAttribute is allowed on enum types, I'm merely pointing out: that which used to work, no longer does.

[2018-04-10 16:17] RipPer56 commented on #25428
I think it's because you're using an old assmebly of microsoft.Build... packages Even if you installed them, your program still be using thoses from the gac, which are usually old and make this problem pop. So maybe try this #25679

[2018-04-10 16:28] jmarolf commented on #26059
@msbasanth Ok but you don't care about the assembly names themselves? Or any part of the assembly identity? In what scenario is calling a method wrong if the assembly was written in C# but ok if it was written in C++?

To get back to the original issue `methodSymbol.ContainingAssembly.Language` will return the correct language if we have the original source to be able to determine that.  If we jus

[2018-04-10 16:29] DustinCampbell commented on #26029
Thanks for a great repro @FizzerWL! I've submitted a PR to your repo that shows how to make MSBuildWorkspace work in your repro application: https://github.com/FizzerWL/ErrorRepro/pull/1.

Here are the changes that my PR needed to make to your application:

1. The `Microsoft.Build.*` assemblies need to be deleted from your output folder.

    These are actually the real problem. Today, the package

[2018-04-10 16:29] olegtk commented on #26048
yeah, sounds like an editor bug. @jinujoseph please route to the editor. Thanks!

[2018-04-10 16:35] DustinCampbell commented on #25679
Thanks @RipPer56. The problem is that the package that includes `MSBuildWorkspace` ends up pulling on the `Microsoft.Build.*` assemblies into your application. So, these assemblies end up getting loaded into your application but the MSBuild toolset (e.g. all of the MSBuild tasks found in Visual Studio) are built against a different `set of Microsoft.Build.*` assemblies. This results in all sorts o

[2018-04-10 16:41] wbalbal opened #26069 "FAR on Reflection references"
**Version Used**:  2.7.0

**Steps to Reproduce**:

1. Use any kind of reflexion invocation of a type T in a project
2. try to find all references of T type using symbol finder

**Expected Behavior**:

It should give you all refenreces including those using reflexion

**Actual Behavior**:
Nope it didn't :/

[2018-04-10 16:41] ericmutta commented on #26058
This would be a really big deal :+1: :+1: as it would mean VB could now be available in more platforms/project types because all VB-specific features would now be portable.

I have been writing code against .NET Standard 2.0 and its API surface area is VAST. I am yet to encounter ANYTHING important that is missing from it and I dare say, you could probably drop the source code for the whole MSVB.d

[2018-04-10 16:42] msbasanth commented on #26059
@jmarolf  Analyzer won't get any insight on whether the assembly is C++/CLI from the assembly names or from the identity.
**[jmarolf]**In what scenario is calling a method wrong if the assembly was written in C# but ok if it was written in C++?
It is not like calling an API written in C++ is ok, it is just that our internal policy doesn't want to analyze API's exposed by C++/CLI assembly.

**[jmar

[2018-04-10 16:46] KathleenDollard commented on #26058
@ericmutta

Thank you so much for this detail and bringing this up.

[2018-04-10 16:54] fitdev commented on #26066
Thank you! That seems like an obvious fix. Although to me it is still rather strange that the Enum constraint actually includes the base class Enum which is not a value type, instead of including just the actual enums, which is what it would be used in 99% cases.

[2018-04-10 16:56] jmarolf commented on #26059
Seems reasonable.  I'm fine with this bug tracking that work.

[2018-04-10 16:57] CyrusNajmabadi commented on #12363
@WrongBit If you'd like, feel free to join the dotnet/roslyn gitter channel.  I'm also @CyrusNajmabadi over there.  I can help you out.

Note: i disagree with your assessment.  Roslyn has done a ton of feature work over the past few years.  Just take a look at the releases (or use github to diff things) to see how much has been added! :)

[2018-04-10 17:03] Neme12 commented on #12363
@WrongBit Sorry, it's my fault I missed that. I was just politely expressing my opinion, you don't need to take it personally.

[2018-04-10 17:17] msbasanth commented on #26059
Thanks @jmarolf

[2018-04-10 17:31] 333fred commented on #26037
Another instance: https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_release_vs-integration_prtest/379

[2018-04-10 17:42] rcollina commented on #26066
@fitdev, strange indeed!

I’m also curious as to why they did not pick “enum” and “delegate” (keywords) as constraints. Must have missed that discussion.

[2018-04-10 17:43] CyrusNajmabadi commented on #26066
Adding "enum" and "delegate" would be adding a new feature (and can still be done in teh future).  What happened here was simply that the existing restrictions on using System.Enum or System.Delegate were removed and they simply picked up the same behavior as all other named types that you can use as constraints.

[2018-04-10 17:45] CyrusNajmabadi commented on #26066
It's not the "enum constraint" really.  It's just a normal constraint on the .net type "System.Enum".  In other words, it's not special to the language/compiler.  When you add this constraint it's like adding a constraint of System.Whatever.  It's always meant "that class or subtypes", it's never meant "only subtypes".

[2018-04-10 17:45] CyrusNajmabadi commented on #26066
If you'd like an ```enum``` constraint that truly means "subtypes of System.Enum" i would recommend opening a bug over on csharplang asking for that :)

[2018-04-10 17:51] gafter commented on #25754
Fixed in #26052

[2018-04-10 17:51] #25754 closed

[2018-04-10 17:54] AlekseyTs commented on #26053
[code]
[code]
[code]

From section **2.1.2 Line Continuation**:
Some places in the syntactic grammar allow for implicit line continuations. **When a line terminator is encountered:**
after a comma (,), open parenthesis ((), open curly brace ({), or open embedded expression (<%=)
after a member qualifier (. or .@ or ...), provided that something is being qualified (i.e. is not using an implicit Wit

[2018-04-10 17:54] #26053 closed

[2018-04-10 18:30] rcollina commented on #26066
@CyrusNajmabadi understood, thanks for your reply!

[2018-04-10 19:16] WrongBit commented on #12363
@Neme12 : sorry too, dude! When something **really useful** AT LAST requested for IDE, I expect people understand importance and HELP me, instead of expressing "I don't like that". It is useful, I cannot find even one scenario you wouldn't like behaviour I offered. Any comments??

[2018-04-10 19:27] CyrusNajmabadi commented on #12363
I offered to help :)   Feel free to come over to gitter and we can discuss things there.

Everyone is different.  While you may not have found useful things appear, many others may have.  A *lot* of work has gone in over the years into the Roslyn IDE (just check my own contributions if you want to see :)).  You may personally not have found them valuable, but that doesn't mean they haven't substan

[2018-04-10 19:30] CyrusNajmabadi opened #26076 ""Perform editor feature analysis in external process" should likely be turned on by default."
this is in reference to this feature:

![image](https://user-images.githubusercontent.com/4564579/38579288-64f6101c-3cbb-11e8-8965-fc4a6e539241.png)

This feature was A/B tested probably around a year ago at this point. @kuhlenh has the details.  All data was extremely good.  It showed substantial improvements in some areas, and no regressions anywhere.

I think this can become non-"experimental"

[2018-04-10 19:31] CyrusNajmabadi commented on #26076
tagging @dotnet/roslyn-ide @kuhlenh @jinujoseph

Any reason not to do this at this point?  The A/B test helped address any concerns we had about potential instability or possible negative perf impact.

[2018-04-10 19:32] gkonterman opened #26077 "Overload resolution for method groups and Action/Func<Task> overloads"
**Version Used**:
Latest

**Steps to Reproduce**:

[code]

See:
https://sharplab.io/#v2:CYLg1APgAgDABFAjAbgLAChYMQVjZgZgQCY4BhODAbwwEgM5GEAWOAGQHsBjAQwBsoOAC4BLDgDsAFElI8uoiQEoGTGuiYa4ANx4AnOLwAOQgK66ApnAC8cAERkexs+eC38mplFZc+HAM7OksrqHnBqoZo6+r68fNYGjqYW7hFMKqlwcgpSiikeAL7pmkUaAPSlUABsAHQASiZSPv7OuXDlcA1cHAC23ebiQnBCABYifkWFIYxFXtjEACLmfOYA5jxC5tKIsvJi4sEa4aFRCU4W8faJzq55mjIGvgHnNkHWAHwlqp8eJzH88

[2018-04-10 19:35] CyrusNajmabadi commented on #26077
tagging @agocke .  IT does seem weird to have ambiguity, given that one of the overloads expect ``Func<Task>```, and i don't see how ```void closure()``` would ever be considered for that...

[2018-04-10 19:37] gkonterman commented on #26077
@CyrusNajmabadi  Yes, Im not getting the ambiguity part of the error message

[2018-04-10 19:38] sharwell commented on #22659
Moved to **Area-Compilers**. Correcting this issue requires understanding and possibly either modifying or documenting constraints for sharing data in the trees used by the compiler.

[2018-04-10 19:39] OmarTawfik opened #26078 "sizeof should not require /unsafe"
In all cases where `sizeof` keyword requires using unsafe code, this should be revised, and relaxed wherever possible. There are no run time restrictions that prevent the compiler from doing that.

cc @jaredpar @VSadov

[2018-04-10 19:40] agocke commented on #26077
Doesn't look like this has anything to do with local functions:

[code]

Output: `error CS0121: The call is ambiguous between the following methods or properties: 'Task.Run(Action)' and 'Task.Run(Func<Task>)'`

Plain old overload resolution.

[2018-04-10 19:42] agocke commented on #26077
cc @gafter

[2018-04-10 19:42] ltcmelo commented on #17974
Me too, could anyone please shared an update on this issue?

In addition, I'd like to ask how people have "replaced" the absence of MSBuildWorkspace so far - I've tried https://github.com/daveaglick/Buildalyzer, but I can't use it due to package incompatibilities (downgrade with Microsoft.Win32.Primitives and similar). Any comments are appreciated

[2018-04-10 19:43] gkonterman commented on #26077
@agocke Thanks, so is this considered as a bug or more an design (known) issue?

[2018-04-10 19:45] daveaglick commented on #17974
@ltcmelo Feel free to open an issue in Buildalyzer if the package incompatibilities are something that could be potentially resolved upstream.

[2018-04-10 19:46] agocke commented on #26077
This appears to be a bug, since I don't think there's a conversion from `void M()` to `Func<Task>` but maybe I'm missing something in the spec. @gafter, what do you think?

[2018-04-10 19:58] AlekseyTs opened #26079 "IPropertyReferenceOperation should probably have IsVirtual property"
Similar to IInvocationOperation:
[code]

[2018-04-10 19:58] AlekseyTs commented on #26079
CC @dotnet/analyzer-ioperation

[2018-04-10 20:08] WrongBit commented on #12363
@CyrusNajmabadi : hiding behind "civil behaviour" don't eliminate GUILTY of some people for making mistakes, especially when **they was warned** about mistake. Would you hire again people who "mistakenly" put door upside down? Sure, not. Why you protect same people in IT? And if door is easy to fix, mistakes in language design cost us YEARS! Are you Duncan Mclaud to forgive everybody?? :) Me - not

[2018-04-10 20:08] DustinCampbell commented on #24691
FWIW, the way to fix this is not really obvious. Essentially, the problem is that your application includes versions of the `Microsoft.Build.*` assemblies that are not compatible with the tasks that the project being loaded use. Unfortunately, this problem is exacerbated by the fact that the `Microsoft.CodeAnalysis.Workspaces.Common` package (which includes the `MSBuildWorkspace` type) pulls those

[2018-04-10 20:12] ltcmelo commented on #17974
@davkean Thanks for the hint. I'll give it a try compiling it locally and, if I don't see a reason for the incompatibility, I'll fill a report.

[2018-04-10 20:14] CyrusNajmabadi commented on #12363
You catch more with honey than vinegar.    Again, i'm available to chat about this on gitter.im.  If you would like to actually work constructively toward this stated feature, i'm happy to help out.  I am not interested in debating with you your personal beliefs as to the quality of the work this team has produced or whether or not their decision have suited you or not.  Thanks!

[2018-04-10 20:28] CyrusNajmabadi commented on #22659
tagging @VSadov .  I think Vlad did the work on green-node reuse (within the same tree) and would have the best insight on what we could do here.  Note: i think my comment [above](https://github.com/dotnet/roslyn/issues/22659#issuecomment-338038448) still applies.  I think green nodes have a flags enum that might be useful here.  However, i also think flags are pulled up into parent nodes, so it's

[2018-04-10 20:42] alrz commented on #26077
Doesn't repro on master. worth to add a test maybe

[2018-04-10 20:44] OmarTawfik commented on #26066
As others already commented, the features just removed the language restriction. The compiler always supported `T : Enum` being imported from other binaries, but just didn't allow it in source.

@rcollina several people suggested using `T : enum` and `T : delegate`. They also suggested being able to specify the underlying type of enum `T : enum(int)` or the delegate signature `T : delegate(???)`,

[2018-04-10 20:44] #26066 closed

[2018-04-10 20:58] agocke commented on #26077
It looks like this was part of the "bestest betterness" feature implemented for C# 7.3 (which is why it does not repro in master).

See https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/improved-overload-candidates.md for the specification, specifically number (3), which addresses this scenario.

[2018-04-10 20:58] #26077 closed

[2018-04-10 21:29] JCBurnside opened #26082 "URI fails to find when # is present in local file path"
**Version Used**: 2.7

**Steps to Reproduce**:

1. Create a directory with `#` in it's name.
2. Try to access the directory via URI

**Expected Behavior**:
Able to access resources contained within the directory.

**Actual Behavior**:
URI fails to locate any files contained withing the directory.

[2018-04-10 21:34] alrz commented on #24488
I figured all we need is to set `RegionSpan`, the region start/stop is not affected (for flow analysis) but we exclude read/writes that are outside that span from the result.

[2018-04-10 22:13] mrmoses commented on #24013
Seems to be a recurrence of #16827

If you open that attached [ClassLibrary4.zip](https://github.com/dotnet/roslyn/files/740038/ClassLibrary4.zip) and change ClassLibrary4's Target framework to `.NET Standard 2.0`, the references go to 0.

[2018-04-10 22:18] eroller opened #26083 "No CS0618 warning when using an extension method on a class marked with Obsolete attribute"
**15.5.2**:

**Steps to Reproduce**:

Compile this:

[code]

**Expected Behavior**:
CS0618 Warning: MyExtensions.MyExtension(string) is obsolete

**Actual Behavior**:
No warning.

**Notes**:
Placing an Obsolete attribute on `MyExtension` method produces the expected behavior. Also, invoking the `MyExtension` as a static method directly (i.e. `MyExtensions.MyExtension(myString)`) produces the expec

[2018-04-10 22:27] VSadov commented on #22659
"shareable" bit is certainly posible. Assuming we have bits left in the flags.
It would probably be helpful in the node caching code itself as well.

It would be "*non*shareable" bit of course. The negation of "shareable" naturally propagates - we do not reuse nodes that have any of nonshareable children.

[2018-04-10 22:34] CyrusNajmabadi commented on #22659
Ah, brilliant!  :)

[2018-04-10 22:40] tmat opened #26084 "`using static` type doesn't work in EE"
**Version Used**:
2.8.0-beta3-62727-06. Commit Hash: bff1470cd9b1d44df8450e794bed97a64657c2a7

**Steps to Reproduce**:

[code]

See also
https://stackoverflow.com/questions/49544245/using-static-directive-doesnt-cooperate-with-watch-window

[2018-04-10 22:41] VSadov commented on #22659
The bits are all used up though. There is even some sharing between mutually exclusive bits. Will have to think how to arrange a bit there.
We would not expand the size of green node by a whole byte just for this, I am afraid.

[2018-04-10 22:55] CyrusNajmabadi commented on #22659
Hrmm.. that's unfortunate.  Alternate idea might be:

merge flags and slot_count into a single ushort and reduce hte number of bits necessary for slotcount.  We don't ever have more than 16 children for a node right?  We'd only need 4 bits for that, freeing up 4 bits to use as flags.  This would mean a bit more computation as the bits would need to be masked to determine teh count.  not sure if th

[2018-04-10 22:56] VSadov commented on #22659
By looking at the usage it seems `HasStructuredTrivia` may not be a very efficient use of a NodeFlags bit.

[2018-04-10 23:00] CyrusNajmabadi commented on #22659
Agreed.  I can't find any transitive uses of that in the IDE at all (unlike HasDirectives).  And we're hte ones who usually like the bits to make walking efficient.

[2018-04-10 23:00] VSadov commented on #22659
Lists can have more than 16 children. We cache the slot count because there are some scenarios like indexing, where knowing occupancy is extremely helpful and one byte handles a big percentage of cases without any extra indirections. We should probably not disturb that.

[2018-04-10 23:03] CyrusNajmabadi commented on #22659
Sure.  But lists also have to manage with the fact that a byte might not be enough and thus have to get a non-byte value for the slotcount.

That said, i'm not going belabor this.  I agree this is a very delicate area.  And i would def be happy to just repurpose an existing bit safely versus utilizing slotcounts!

[2018-04-10 23:03] VSadov commented on #22659
`HasStructuredTrivia` is used to limit walking into nodes that do not have doc comments. Considering that we should not descend below method level anyways and that the trees are generally very wide and shallow (most code is method bodies), - that is not a lot of savings.

[2018-04-11 00:15] RubenMateus commented on #4655
Any news from this? Really would like to add style cop to project

[2018-04-11 00:25] FizzerWL commented on #26029
It worked, thank you!

[2018-04-11 00:25] #26029 closed

[2018-04-11 00:28] KathleenDollard commented on #26053
I am updating the docs to clarify this point, adding:

 The statements within a conditional compilation block must be complete logical statements. For example, you cannot conditionally compile only the attributes of a function, but may conditionally declare the function:

#If DEBUG Then
<WebMethod()>
Public Function SomeFunction() As String
#Else
<WebMethod(CacheDuration:=86400)>
Public Function S

[2018-04-11 00:28] SergeyTeplyakov opened #26091 "Impossible NullReferenceException"
**Version Used**: Visual Studio 15.6.2

**Steps to Reproduce**:
The following code throws `NullReferenceException` but not `IndexOutOfRangeException`:

[code]
**Expected Behavior**:
The code should throw `IndexOutOfRangeException`.

**Actual Behavior**:
The code throws `NullReferenceException`.

Here how the decompiled version of this code looks like:

[code]
It means that if a reader returns an e

[2018-04-11 00:40] CyrusNajmabadi commented on #26091
https://github.com/dotnet/csharplang/blob/master/spec/unsafe-code.md#the-fixed-statement

[2018-04-11 00:42] CyrusNajmabadi commented on #26091
This seems to be behaving as per the spec.

[2018-04-11 00:44] SergeyTeplyakov commented on #26091
@CyrusNajmabadi Thanks! Good to know about this! Even though it is very unintuitive and it took some time to figure out why we're getting NRE in this case.

[2018-04-11 02:49] #26091 closed

[2018-04-11 08:17] jmarolf commented on #26082
I think this belongs on https://github.com/dotnet/corefx as thats where the code in the base class libraries lives

[2018-04-11 09:02] MaStr11 opened #26093 "CSharpUpgradeProjectCodeFixProvider failes with 'Unable to check out the files from source control.'"
**Version Used**:

15.6.6

**Steps to Reproduce**:

1. Create a new project and set the language version to 7.0
2. Do a SVN check in of the project (with an external tool, In my case *SmartSVN*. The tool was opened with the solution opened during the next steps, VS does not recognize that the solution is under version control and offers *Add to version control* in the bottom right corner.).
3. Use

[2018-04-11 10:17] Neme12 commented on #26093
sounds like a duplicate of #18199

[2018-04-11 10:27] MaStr11 commented on #26093
It is indeed a duplicate. Thank you for pointing that out.

[2018-04-11 10:27] #26093 closed

[2018-04-11 11:25] tiesmaster opened #26094 ".NET Compiler Platform SDK extension broken in latest stable version of VS 2017"
**Version Used**:  15.6.6

**Steps to Reproduce**:

1. Install latest VS 2017
2. Install .NET Compiler Platform SDK from the Marketplace
3. Start VS again

_I've tried to reproduce this issue on a clean machine, and it reproduces, so I'm sure this is not related to weird machine bahavior._

**Expected Behavior**:
Extension loads successfully.

**Actual Behavior**:
The extension gets disabled with

[2018-04-11 11:40] drlagos commented on #170
Recently got bitten by this issue, just wanted to add that the Mono based scriptcs somehow handles this case correctly, might be worth looking into what they do.

For now my only option is to catch the RuntimeBinderException which is less than satisfactory...

[2018-04-11 12:58] t9mike commented on #4594
Scientific programming is more cumbersome, error prone, and difficult to read when done in C# due to missing exponent operator. I am considering spiting some equation code out into a small F# library just to make it cleaner and avoid a series of Pow method calls. I should not have to do this: exponential operator **IS** a standard need for many use cases. Why else would so many languages have it?

[2018-04-11 14:08] RipPer56 commented on #26069
If i have a class Foo like this

Class Foo{
     public string Name { get; set; }
     public Foo(string name)
     {
          Name = name;
     }
}

And whatever class using it like this for an exemple

     public static void Main(){
          var nameProperty =foo.GetType().GetProperty("Name");
          Console.WriteLine(nameProperty.GetValue());
     }

Roslyn don't get me this usage . It wi

[2018-04-11 14:39] Joe4evr commented on #26069
![](https://i.imgur.com/jks6Qqr.png)

Refle**ct**ion (there is no 'x') is something that you do at your own risk by going out of your way to invoke something without letting the compiler bind to it. Because the compiler doesn't bind to it, it will also not be seen as being used.

[2018-04-11 14:48] bratukham commented on #23352
I'm getting similar exception:
[code]

Visual Studio: Professional (version 15.6.5)
OS: Windows 10 (version 10.0.16299)

Any ideas?
Do you need maybe any additional information?

[2018-04-11 14:52] MaStr11 commented on #26094
The documentation on the marketplace is outdated. Follow this instructions https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/syntax-visualizer?tabs=csharp#installation-instructions to install the SDK.

[2018-04-11 14:58] Neme12 commented on #26069
There's no way for the compiler to do this. What do you suggest we do here?

[code]

Should we predict the future and find references based on what string you're going to pass in?

[2018-04-11 15:00] Neme12 commented on #26069
Note that this is not an uncommon scenario. In most cases when people use reflection, we can't know statically what the invocation is going to be. If you do, you don't need reflection.

[2018-04-11 15:39] JVimes commented on #23382
This happens several times per hour, for me.

[2018-04-11 17:27] CyrusNajmabadi commented on #4594
By this argument, every language should have every feature that is in several other languages :)

That seems reasonable.  I mean... this is why there are so many .net languages (including several owned by MS).  Each have their respective strengths, and you should pick the right one for the code you're working on, rather than trying to make each one have all the features of the others. :)

[2018-04-11 17:28] CyrusNajmabadi commented on #26069
Instead of this:

[code]

Do this:

[code]

It more clearly expresses your intent, and is also something the language and tooling understands.

[2018-04-11 17:41] CyrusNajmabadi commented on #23382
can you guys click on this button when this happens, and please provide the stack trace:

![image](https://user-images.githubusercontent.com/4564579/38633553-e41a39b8-3d74-11e8-9afa-a47e27841cab.png)

Thanks!

[2018-04-11 17:41] AdamSpeight2008 commented on #26034
@dotnet-bot test this please

[2018-04-11 17:42] CyrusNajmabadi commented on #23382
tagging @heejaechang Can you please advise on what is the right fix here?

[2018-04-11 18:27] heejaechang commented on #23352
@bratukham thank you let me take a look? do you have a dump by the way I can a look?

[2018-04-11 18:43] t9mike commented on #4594
Having to refactor projects to gain easy access to an operator is a big ask. To accomplish what I need, I'd also have to move common types needed by both libraries into a new library. So library A is split into A1,A2,A3, simply to have more readable exponential code.

[2018-04-11 18:58] heejaechang commented on #23382
looks like extract method tree rewriter doesn't know how to handle constructor declaration syntax. we can make either rewriter how to handle such syntax type or make extract method to bail out if destination involves such node.

[2018-04-11 19:02] heejaechang commented on #23382
tagging @jinujoseph

[2018-04-11 19:10] CyrusNajmabadi commented on #23382
Can you expand on that.  What would it mean to "bail out if destination involves such node"?  What impact does that have on the user?  Does that mean you cannot do extract-method in a constructor?

[2018-04-11 19:14] heejaechang commented on #23382
basically when we got to the point where we are in rewriter, it should already know where it is inserting new node. so, we can bail out without trying to rewrite.
..
by the way, the screenshot doesn't have selection, so not sure what it is actually trying to extract out.

[2018-04-11 19:16] CyrusNajmabadi commented on #23382
Sorry.  i still don't understand what impact that will have on the user.  How will this manifest to them.  What sort of extract-method scenarios will be blocked if we do this?

[2018-04-11 19:16] CyrusNajmabadi commented on #23382
I think the onus is on us to figure that out :)   User's are just running into this while editing.  So something about this code is making extract method unhappy.

[2018-04-11 19:18] CyrusNajmabadi commented on #23382
Basically, it's really hard to tell if we should do "make either rewriter how to handle such syntax type or make extract method to bail out if destination", because it's unclear what hte impact of those choices are.  Can you flesh that out so that we can make a more informed choice?

[2018-04-11 19:18] heejaechang commented on #23382
I don't know exactly what it is trying to do. so, not sure what the end impact will be at the end. but code  wise, if we bail out on the specific node, then rewriter won't rewrite any change that involves that node.

anyway, can't say without knowing exact context.

[2018-04-11 19:20] heejaechang commented on #23382
without debugging into, I don't know either. but on top of my head, simple 2 choice looks like we either support the new node type that got added (ConstructorDeclarationSyntax) to the rewriter, or detect such case and just not offer extract method at all.

[2018-04-11 19:25] heejaechang commented on #23382
I meant. "=>" language feature added that changed shape of tree for constructor body.

[2018-04-11 19:26] heejaechang commented on #23382
we can leave it to @jinujoseph to decide what to do. like I said, without debugging into I dont know why it is happening. and what we want to do.

[2018-04-11 19:27] heejaechang commented on #23382
I didn't even know that IDE team has changed extract method refactor to run without user actually selecting anything. what does it even trying to extract out?

[2018-04-11 19:30] CyrusNajmabadi commented on #23382
How can a decision be made without understanding the consequences of the choices?  All i've asked is for those consequences to be better explained so that a real decision can be made.

Where are you getting that impression from?  The code literally starts with:

[code]

What we have from customers are reports that things are crashing, and they've provided hte general code they were editing when th

[2018-04-11 19:31] gafter opened #26098 "Missing warning: the given expression is never of the provided type"
In this code

[code]

We give a warning where indicated, but are missing the warning on the second case.

[2018-04-11 19:33] gafter commented on #26098
The code to detect this (missing) warning is common with the code to detect this case for pattern-matching

[code]

[2018-04-11 19:34] heejaechang commented on #23382
when we actually triage it out, someone propbably dig into find out why it is happening, what option we have. without digging into, all I can say is the thing I already told you. and I am not going to digging into right now.

..

without selection, I don't know what result impact users will have. did user select whole file? did user select "=>" and this happening? I dont know.

[2018-04-11 19:38] CyrusNajmabadi commented on #23382
If we don't know the resulting impact on a user, then we probably shouldn't be asking for decisions to be made about which choices to take.  At the very least we should have some understanding of the impacts of those potential choices first.  Otherwise we'd just making off the cuff engineering decisions.

[2018-04-11 19:40] gafter commented on #10597
Fixed in https://github.com/dotnet/roslyn/pull/25963

[2018-04-11 19:40] #10597 closed

[2018-04-11 19:41] gafter commented on #25934
Fixed in https://github.com/dotnet/roslyn/pull/25963

[2018-04-11 19:41] #25934 closed

[2018-04-11 19:44] tiesmaster commented on #26094
Awesome, thanks for the quick reply. Looking at your forks, I see the sdk is actually now in a separate repo. Thnx!

[2018-04-11 19:44] #26094 closed

[2018-04-11 19:46] heejaechang commented on #23382
I didn't say we need to make decisions now, or choice I gave is all choice we have. those are rough choice I can give without actually debugging into the issue. from the info I have, feels like the issue is happening because extract method re-writter doesn't know how to handle "=>" for constructor body. so simple choice for such case seems to be either make extract method to handle such case or ba

[2018-04-11 19:49] gafter commented on #25932
Fixed in https://github.com/dotnet/roslyn/pull/25963

[2018-04-11 19:49] #25932 closed

[2018-04-11 20:04] gafter opened #26100 "Use TypeUnification.CanUnify to do additional compile-time checking in GetIsOperatorConstantResult"
Since the result of `GetIsOperatorConstantResult` is no longer merely a heuristic for the quality of warnings - it is used to determine when a pattern-matching operation is illegal (when it returns `false`) - it is worth improving it sooner rather than later, as it would be a hard breaking change when it is tightened.

One way to do this is hinted at in the code - use `TypeUnification.CanUnify` to

[2018-04-11 20:06] alrz opened #26101 "Local captured by inner local function is shown as captured by the outer local function in quick info"
**Version Used**: VS 15.7 Preview 3

**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/3105979/38640392-6448e7dc-3de9-11e8-8959-68cce16d8513.png)

/cc @jcouv

[2018-04-11 20:12] gafter commented on #26100
Cases this could help with are hinted at in the code:

[code]

These cases could be handled by using unification as a subroutine. We would have to be careful regarding variance.

[2018-04-11 20:42] AdamSpeight2008 commented on #26046
@jaredpar  Reconsider reopening this as it about potential perf improvements of the test code.
Running just the 99 Unit Test in `IncrementalParser` and reading the reported run time from the testrunners.
[code]

[2018-04-11 20:57] #25799 closed

[2018-04-11 20:57] richaverma1 commented on #25799
Created a duplicate issue in Editor area path.

[2018-04-11 20:58] JieCarolHu commented on #23030
change it to 15.8 as we are in escrow for 15.7 now

[2018-04-11 21:39] robinvanpoppel commented on #25313
This seems like a good starting point for me as a first contribution. Can i help with this one?

[2018-04-11 21:57] #25849 closed

[2018-04-11 22:29] gafter commented on #26100
Here is another example

[code]

[2018-04-11 22:35] gafter commented on #25890
Fixed in https://github.com/dotnet/roslyn/pull/26035

[2018-04-11 22:35] #25890 closed

[2018-04-11 22:35] gafter commented on #16099
Fixed in https://github.com/dotnet/roslyn/pull/26035

[2018-04-11 22:35] #16099 closed

[2018-04-11 22:53] ivanbasov opened #26109 "ENC: previousPDBReader is not set to null with repeating Edits"
1. Run an ENC scenario
2. Make a rude edit
3. Try to continue
4. Get a dialog providing Edit/Stop selection
5. Choose Edit
6. Make a valid Edit
7. Try to proceed with ENC again
8. Fail on the following [VsENCRebuildableProjectImpl.cs,1018:](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/EditAndContinue/VsENCRebuildableProjectImpl.cs,1018) line:
`

[2018-04-11 23:25] gafter commented on #26078
This is a language feature request, not a compiler feature request. See https://github.com/dotnet/csharplang/blob/master/spec/unsafe-code.md#the-sizeof-operator . Please move to `csharplang`.

[2018-04-11 23:28] gafter commented on #26046
We don't care.

[2018-04-11 23:28] #26046 closed

[2018-04-11 23:36] jaredpar commented on #26078
This is tracking the compiler work we want to do. I'm going to add the language proposal in a bit. No rush on that as we're not meeting for a few weeks.

[2018-04-11 23:46] AlekseyTs opened #26112 "'For Each' over multi-dimensional array doesn't apply proper conversion for an element of the array"
Try to compile this code:
[code]

Observed and Expected:
[code]

Now uncomment user-defined conversion and try again
Observed:
1. Compilation succeeds
2. An exception is thrown at runtime:
[code]

Expected:
Execution should succeed, the user-defined conversion operator should be called.

Here is IL that we produce:
[code]

Note that result of System.Collections.IEnumerator::get_Current() is conver

[2018-04-11 23:54] JieCarolHu commented on #25176
It was fixed in https://github.com/dotnet/roslyn/pull/23135
Closing this issue

[2018-04-11 23:54] #25176 closed

[2018-04-12 00:01] VSadov commented on #26078
Just for reference - **ECMA 335 III.4.25 sizeof – load the size, in bytes,of a type**   specifies that

1. Verifiability:
It is always verifiable.

2. sizeof returns the total size that would be
occupied by each element in an array of this type – including any padding the implementation
chooses to add. Specifically, array elements lie sizeof bytes apart

[2018-04-12 00:45] OmarTawfik opened #26113 "Optimizer creates copies of a local when passed by ref"
[code]
Run `csc.exe file.cs /optimize+` and it will crash with the following assert:

[code]

[2018-04-12 00:47] OmarTawfik commented on #26113
@VSadov I think it might be related to #20772

[2018-04-12 00:56] VSadov commented on #26113
it is not related, but it is incorrect.

[2018-04-12 00:57] VSadov commented on #26113
I will take a look

[2018-04-12 01:02] AdamSpeight2008 opened #26114 "Are VB Scanner Tests around Preprocessing Directives correct."
Within written source wouldn't the line ending be `CrLf` rather than`Lf` ?
Due to XML Literal representations of input source code that is used withing the unit tests.
In other places within test the difference is accounted for and other it isn't.

[2018-04-12 01:45] gafter commented on #24550
Fixed in https://github.com/dotnet/roslyn/pull/25995

[2018-04-12 01:45] gafter commented on #26098
Fixed in https://github.com/dotnet/roslyn/pull/25995

[2018-04-12 01:45] #26098 closed

[2018-04-12 01:45] #24550 closed

[2018-04-12 02:05] JieCarolHu commented on #23891
@dpoeschl I am taking this one if you don't mind, I am planning to fix it together with https://github.com/dotnet/roslyn/issues/23890

[2018-04-12 02:29] gafter opened #26115 "Tests invalid when language version default is 8.0"
A number of unit and regression tests are invalidated by changes in C# language versions 7.1, 7.2, and 7.3, but many tests are written to assume that these new features are not present. This shows up in the feature branch `features/recursive-patterns`, where the default language version has been changed to 8.0. I fixed a number of tests where the fix was clear. Remaining, broken tests are marked a

[2018-04-12 07:03] bratukham commented on #23352
@heejaechang thanks for the answer. I would like to give you a dump, but I do not know how to do that.

[2018-04-12 08:32] heejaechang commented on #23352
@bratukham how about giving us snippet of code that you were trying to extract out? that will help me to see what happened a bit.

[2018-04-12 10:38] alrz commented on #26115
Shouldn't we use "latest" version as the default version for tests?

[2018-04-12 12:31] akraines commented on #25571
I just tested with 2.1.300-preview2-008530 and it compiled without error.
Thanks for you good work (it it also compiled significantly faster!)

[2018-04-12 14:40] bratukham commented on #23352
@heejaechang unfortunately it is not possible to publish my code here. Maybe it is better to create a dump that you asked for?

It happens only in one file and only with several lines of code... The exception is not always thrown, but sometimes always...

[2018-04-12 16:30] dleung8 opened #26118 "Regex tester tool inside VS"
Version: VS2017 Enterprise (15.6.2)

ReSharper has a regex tester tool where you can put in an expression and type arbitrary test strings that will show if they validate and if groupings are specified, which ones match to what. While there are plenty of online tools to do this, it was very convenient to have a built-in tool that doesn't require switching out of context of the IDE.

I don't need to

[2018-04-12 16:34] alrz commented on #26118
something like an extension? (for instance: https://marketplace.visualstudio.com/items?itemName=AndreasAndersen.RegularExpressionTesterExtension)

[2018-04-12 17:06] gafter commented on #26115
@alrz Either way, when the default and latest version changed to 8.0, tests broke.

[2018-04-12 17:26] heejaechang commented on #23352
@bratukham if you reproduce the problem, how about sending dump through feedback tool? (https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017)

you can use this to send dump
https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio-2017#provide-a-trace-and-heap-dump-optional-a-nameprovideatraceandheapdumpa

[2018-04-12 17:34] dpoeschl commented on #23891
@JieCarolHu Go for it! 😄

[2018-04-12 18:10] eroller commented on #26083
Fair enough, perhaps just unexpected/undesirable behavior. I do see the behavior is consistent with non-static classes marked as Obsolete. If the instance methods are not marked obsolete only the constructor which refers to the class name will generate the warning.

I do think it would be useful (eliminate some copy/pasting) if the class-level Obsolete attribute propagated to all fields/methods et

[2018-04-12 18:20] ivanbasov commented on #22659
@jaredpar, this issue has a high number of hits in 15.7. It is in the top 15.7 issue list. Since it is in area-compilers and @sharwell is OOF for some time, could you please help driving it? It definitely meets the 15.7 bar. Thank you!

[2018-04-12 19:15] huoyaoyuan opened #26120 "No IntelliSense suggestion for readonly struct"
Version checked: 15.6.6, 15.7 Preview 3

Keyword `readonly` should be available everywhere that `struct` is available, and only `struct` allowed after it?

[2018-04-12 19:17] Joe4evr commented on #26118
@dleung8 You may also be interested in #23984 which intends to colorize Regex strings as a first-class feature in the compiler (no extension necessary).

[2018-04-12 20:12] lpperras opened #26121 "Extract method in an ElseIfBlockSyntax extracts the whole MultiLineIfBlockSyntax in VB.NET."
**Version Used**:
2.7.0

**Steps to Reproduce**:

1. Create a VB.NET project with the following code:
`Module Module1

    Sub Main()
        If False Then
        ElseIf True Then
            Console.WriteLine()
            Console.WriteLine()
        End If
    End Sub

End Module`
2. Select the two lines 'Console.WriteLine())
3. Trigger the extract method on that selection.

**Expected Behavior

[2018-04-12 20:12] chborl opened #26122 "Incorrect value shown in watch window for "is bool" expression"
**Version Used**:
15.7 Preview 2

Start VS and create a new console app.  In the main, paste this code:

[code]

Set a breakpoint on `if (o is bool)` and F5.
When breakpoint is hit, add `o is bool` to watch window

Expected:
watch window should show the value of `o is bool` as `true`.  The if statement correctly evaluates it as 'true'.

Actual:
watch window shows `false`

![image](https://user-ima

[2018-04-12 21:34] rynowak opened #26124 "Provide an API for mapping between generated source code and original Razor source code"
**This issue is part of a larger plan to enable the Find-All-References and Refactoring for the .NET Core Razor editor in Visual Studio.**

You can find the tracking project for the entire feature here:  https://github.com/aspnet/Razor/projects/13
You can find more context about what's required here: https://gist.github.com/rynowak/ac48949e76e08ce7fdc533ada17c8d16#roslyn

-----

We need to (with t

[2018-04-12 21:43] rynowak opened #26125 "Provide an API to notify the language service of pending code generation work"
**This issue is part of a larger plan to enable the Find-All-References and Refactoring for the .NET Core Razor editor in Visual Studio.**

You can find the tracking project for the entire feature here:  https://github.com/aspnet/Razor/projects/13
You can find more context about what's required here: https://gist.github.com/rynowak/ac48949e76e08ce7fdc533ada17c8d16#roslyn

-----

As part of the lar

[2018-04-12 21:51] gafter commented on #25827
Fixed in https://github.com/dotnet/roslyn/pull/26071

[2018-04-12 21:51] #25827 closed

[2018-04-12 21:53] Joe4evr commented on #26125
Just a spitball, but would it be convenient to have this proposed API also be used as part of the Legendary general-purpose Source Generator feature? (dotnet/csharplang#107, [feature branch](https://github.com/dotnet/roslyn/tree/features/source-generators))

[2018-04-12 22:40] chucker opened #26126 "ENC0003: AggregateException with NRE inside in VS 17.6 Preview 3"
**Version Used**: 15.7.0 Preview 3.0, .NET 4.7.03056, Windows v1803 17133.73, Roslyn 2.8.0-beta3-62727-06

**Steps to Reproduce**:

No idea how to reproduce this, I'm afraid. The change was fairly trivial, from:

[code]

To:

[code]

Of note, however, this change occurs in an assembly that, while part of the solution, was injected using reflection; it is not directly referenced from the main assem

[2018-04-12 22:41] chucker commented on #26126
(As expected, undoing and re-doing the change while still in the same debugger session works fine.)

[2018-04-12 23:08] tmat commented on #26109
This has actually been fixed in `15.7.x-vs-deps` branch for a while.

[2018-04-12 23:08] #26109 closed

[2018-04-12 23:31] CyrusNajmabadi commented on #26125
Note: i don't think features should need to know about this.  Instead, features already work by getting access to the solution or objects of of hte solution.  So, the way i would like to see that is if there is pending work, these features simply asynchronously block on the acquisition of those resources.  That most closely indicates what's actually happening, namely that the solution is not actua

[2018-04-13 00:50] bbzippo opened #26132 "LanguageVersionFacts adds a TryParse() extension to the String class"
https://github.com/dotnet/roslyn/blob/944ae114140ba77cbd4be370bf13a7f758f740b3/src/Compilers/CSharp/Portable/LanguageVersion.cs#L240

Please make it a regular static method.

[2018-04-13 00:56] ivanbasov opened #26133 "refactor AbstractLanguageService and add unit tests for ITextBuffer"
See comments to https://github.com/dotnet/roslyn/pull/26128

[2018-04-13 04:36] rynowak commented on #26125
@CyrusNajmabadi - @jasonmalinowski and I discussed and approach like this a while back. As I understand it,  the combination of Razor changing *the generated C# source code* in response to changes in *other assemblies/files* would cause perf problems with that approach.

I'll explain in a bit more detail what I proposed, and maybe you will have some bright ideas that we didn't see 👍

------------

[2018-04-13 04:59] CyrusNajmabadi commented on #26125
I like this idea.  :)

This seems very similar to how roslyn already handles certain events.  For example, if you change a project 'define', then all files in that project may need reparsing because they could be affected.  Couldn't we just treat teh _viewImports files in the same manner?  If you edit them, then it invalidates all other files.  Perhaps you can be somewhat smarter depending on the

[2018-04-13 05:02] CyrusNajmabadi commented on #26125
So, i'm curious how we could expect this to work with good perf.   The title here is "Provide an API to notify the language service of pending code generation work", but i'm not sure how that actually addresses performance.  Say razor says: "i have pending code gen work", so the roslyn LS (or a feature) says "ok... i'll wait for that work, then i'll do my thing".  That can provide a correct experi

[2018-04-13 05:05] CyrusNajmabadi commented on #26125
Yes.  I see the concern.  Note that one of hte reasons SourceGenerators were tabled was because, without scoping things, perf is really hard since so many points in the system can now take arbitrarily long, and **so** many of our features are heavily dependent on the existing roslyn perf characteristics.  i.e. "getting a solution is free", "getting a compilation is relatively cheap", "getting a sy

[2018-04-13 05:12] CyrusNajmabadi commented on #26125
Here's a potential idea.  Could we take everything complex/code-gen-y about the system you're describing, and end up making it just run asynchronously, with mutation operations happening once they finish?  i.e. as far as roslyn's workspace/solution model is concerned, we can always get things fast, but they may not always be accurate because you may not have updated it with the *accurate* results

[2018-04-13 05:29] jasonmalinowski commented on #26125
@CyrusNajmabadi That's what we were planning on. Things can be temporarily out of sync, and some higher-level API can be used for "wait until the current snapshot is up to date".

[2018-04-13 05:33] CyrusNajmabadi commented on #26125
@jasonmalinowski is that so certain features can take the perf hit and be accurate, but other features (like completion, etc.) can ensure they have a non-perf-impacted (but less accurate) path so they don't degrade the user experience wrt perf?

[2018-04-13 05:42] rynowak commented on #26125
I'm responding to your comments in order, and trying to keep up.

----------

re: ViewImports

Assuming I wanted to prototype this, where should I look? Is that [this](https://github.com/dotnet/roslyn/blob/175c1605927859bc3cfcd4a84b720b27c4054ba9/src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTranslationAction.Actions.cs#L62)?

---------

re: Tag Helpers

Example time! Ta

[2018-04-13 06:07] rynowak commented on #26125
That said, @jasonmalinowski I'm interested to know if this will help us solve the contained language hookup if the `.cshtml` is is in a project in the workspace already.

[2018-04-13 06:38] gafter opened #26139 "SemanticModel.GetSymbolInfo not working on property pattern names"
This is a bug in the `features/recursive-patterns` branch.

/cc @CyrusNajmabadi

[2018-04-13 07:29] Neme12 commented on #26132
How is it not a regular static method? Are you aware that you can still use it as one...?
[code]

[2018-04-13 10:57] paulsapps commented on #372
Does anyone know if resgen.exe is deterministic?

[2018-04-13 14:51] RipPer56 commented on #26069
@CyrusNajmabadi the problem is that if someone's making a tool that anybody can use. So you won't have then a way to force the way they're using reflexion like you said

[2018-04-13 14:54] Neme12 commented on #25260
Well this can now be reopened... turns out I didn't actually fix it.

[2018-04-13 14:55] RipPer56 commented on #25679
Thanks @DustinCampbell

[2018-04-13 15:03] bbzippo commented on #26132
Please refer to
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/extension-methods

Making TryParse an extension of String is misleading and breaks conventions. When you type "myString." and see "TryParse" in the intellisense, that's not very nice.

[2018-04-13 15:24] jnm2 opened #26141 "'Generate GetHashCode' generates a call to ValueType.GetHashCode"
VS 15.6.6.

If you use Roslyn's 'Generate GetHashCode...' suggestion on a struct, it asks you which properties to include, and then it generates code combining those with an additional hash, `base.GetHashCode()`:

[code]

Just like when inheriting from `System.Object`, inheritors from `System.ValueType` are always going to want to replace the base has calculation not combine it. Not only can this

[2018-04-13 15:29] jnm2 commented on #26141
So, stepping back, if you've ever used (a recent?) Roslyn to generate GetHashCode for a struct which uses non-default equality, you have a bug to go fix. The generated implementation breaks the invariant that if Equals returns true for two objects, their hash codes should be equal.

[2018-04-13 15:37] jnm2 commented on #26141
It looks like @CyrusNajmabadi has done something here which made it into master two months ago. Think the problem is already fixed in master?

https://github.com/dotnet/roslyn/pull/24161/files#diff-a0d90f84d4625c53558ee000fb8ed2bbR147

[2018-04-13 15:55] zivkan opened #26142 "Generate XML Documentation as embedded resource"
I'd like to request the ability to generate XML documentation and have the result saved as an embedded resource in the assembly [instead of/in addtion to] creating the .xml file next to the assembly.

We can already use `<GenerateDocumentationFile>true</GenerateDocumentationFile>` or `<DocumentationFile>filename.xml</DocumentationFile>` in the csproj to generate the .xml file, so I propose `<Gener

[2018-04-13 16:15] jmarolf commented on #26141
@jnm2 this problem should already be fixed in the latest Visual Studio 15.7 Preview

If you generate hashcode + equals on the following  struct
[code]

you get this:

[code]

[2018-04-13 16:17] TheKK commented on #23011
So I encounter this problem as well :(

Currently I'm build a visual studio extension command with code like `MSBuildWorkspace.Create()` and when the command is invoke it cry about Microsoft.CodeAnalysis.Workspaces.Desktop.dll is missing.

I know the official fix in on going, just wondering is there any "quick fix" I can use so my project could go on :)

ps. Or, is there other way to convert a .sl

[2018-04-13 16:19] jnm2 commented on #26141
Closing as fixed in 15.7.

[2018-04-13 16:19] #26141 closed

[2018-04-13 16:24] Neme12 commented on #4357
Or you can just have one `Optional<T>` representing "do I know the value" if you use regular null with T.

[2018-04-13 16:53] wessupermare opened #26143 "VBI 'Imports' statement should reference namespace for future commands"
**Version Used**:
VBI Compiler Version 42.42.42.42424 (Github commit 94ef9a5c8db05b23f6eefa528988d99573ac2eeb)

**Steps to Reproduce**:

1. Run Restore.cmd
2. Load solution and run project 'vbi'
3. Execute `Console.WriteLine("Hello world!")`
4. Execute `Imports System`
5. Execute `Console.WriteLine("Hello world!")`
6. Execute `System.Console.WriteLine("Hello world!")`

**Expected Behavior**:
`Hell

[2018-04-13 17:08] Neme12 commented on #26027
I just checked and GetTypeInfo().Type returns a type for `default` but null for `null`. Is this expected?

[2018-04-13 17:27] jasonmalinowski commented on #26125
The .cshtml/closed file interaction is 100% something you're going to have to sync up with for project system. I cannot stress that enough. Trying to get Roslyn in the middle is likely going to result in sadness.

[2018-04-13 17:50] DustinCampbell commented on #23011
@TheKK: If you're building a Visual Studio extension, why are you using `MSBuildWorkspace`?

[2018-04-13 17:50] tmat opened #26144 "Failed to clean up listeners: ReportEntireFileChanged SyntacticClassificationTaggerProvider.TagComputer.cs 217"
[code]

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_debug_spanish_unit32_prtest/130/testReport/junit/Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Interactive.Commands/InteractiveCommandHandlerTests/TestCopyToInteractiveWithoutSelection/

[2018-04-13 17:56] AmadeusW opened #26145 "NullReferenceException when displaying tooltip for the suggestion mode item"
**Version Used**: 15.6.5

**Steps to Reproduce**:

1. Ctrl+Alt+Space to activate suggestion mode
1. Type in the editor
1. Use the arrow up to navigate to the suggestion item

**Expected Behavior**:

Displaying the tooltip does not cause an error

**Actual Behavior**:

There is an error when creating tooltip for the suggestion item

[code]

Note that this will be fixed through the new completion AP

[2018-04-13 17:58] DmitriiGaidukov opened #26146 "How CodeActionOperation instances can be registered for processing by the UI thread?"
I started working on my first Code Refactoring project recently. I have a refactoring action that creates a new document and I want to modify the action so that newly created document will be opened in the foreground in Visual Studio.
I tried Workspace.OpenDocument method, but run into an InvalidOperationException «This workspace only supports opening documents on the UI thread».
I started googlin

[2018-04-13 18:03] CyrusNajmabadi commented on #26069
@RipPer56 Sorry, i don't know what that means.

[2018-04-13 18:04] CyrusNajmabadi commented on #26141
This was fixed with https://github.com/dotnet/roslyn/pull/24161

[2018-04-13 18:05] CyrusNajmabadi commented on #26125
![image](https://user-images.githubusercontent.com/4564579/38750669-874224de-3f0a-11e8-8230-a010b4f8313d.png)

[2018-04-13 18:12] CyrusNajmabadi commented on #26146
There are a few options.  As you mentioned, the best one would be to just use  [OpenDocumentOperation](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/CodeActions/Operations/OpenDocumentOperation.cs) in your code action.  Roslyn already knows how to handle this operation and will do the right thing.

We should figure out why that's not working first before we consider oth

[2018-04-13 19:35] desarrollo03TR opened #26147 "Which branch can be compiled with Visual Studio 2015?"
I need to compile roslyn in VS 2015, but I'm getting several compilation errors.

**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2018-04-13 19:39] Neme12 commented on #22440
I think it's clear from this discussion that we need a separate rule :smile:

[2018-04-13 19:40] Neme12 commented on #22440
A style for tuple element names would also be useful.

[2018-04-13 20:44] 333fred opened #26151 "Reuse Tuple extraction code from Deconstructions in Declarations in CFG"
See https://github.com/dotnet/roslyn/pull/26108#discussion_r181504915.

[2018-04-13 20:56] mavasani opened #26152 "Expose public extension method to map an IInstanceReferenceOperation with an ImplicitReceiver to the receiver's IOperation"
See https://github.com/dotnet/roslyn/pull/26055#discussion_r181480415. This will be a useful helper for dataflow analysis visitor, where when you encounter an `IInstanceReferenceOperation`, you normally want to return the tracked state/data for the receiver being referenced. Without such an helper, the visitor has to do state tracking to track currently active instance that an `IInstanceReferenceO

[2018-04-13 20:59] mavasani commented on #26152
Note that I initially implemented this in the analyzers repo without state tracking by just walking up the parent chain of an `IInstanceReferenceOperation`. This turns to be too expensive as we have lot of these nodes for member references with implicit this reference, so we now track if we are visiting an object/collection/anonymous intiailizer before doing the parent chain walk. Ideally, we can

[2018-04-13 21:28] ivanbasov opened #26153 "EE tests should be executed under .NET Core as well"
We had an issue [VSO 574106](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/574106) saying the DateTime fields are not properly displayed in EE when running under .NET Core.

The reason for the issue is a usage of internal/private fields from DateTime.cs in Roslyn. Those fields are different in .NET Framework vs .NET Core. To validate that there is no other similar issues we need to execut

[2018-04-13 21:33] jasonmalinowski commented on #26038
@heejaechang This looks like an actual product bug. Do we know what's up here?

[2018-04-13 21:49] #25944 closed

[2018-04-13 22:55] jaredpar commented on #26147
In order to build this repository with VS 2015 you will need to go to the releases/VS2015 branch: https://github.com/dotnet/roslyn/tree/releases/VS2015

[2018-04-13 22:55] #26147 closed

[2018-04-13 22:57] jmarolf commented on #26069
@RipPer56 The reason we can't show reflection use cases is we don't know how.  If you can describe an approach that would allow us to do that  we would happily implement it.

[2018-04-13 23:14] cston opened #26157 "EE: Support using reachable assemblies only when process contains winmds"
The EE supports creating a compilation from the subset of loaded modules that are reachable from the current assembly, unless the process contains `Windows.*.winmd`. See comment in `MetadataUtilities.MakeAssemblyReferences`.

[2018-04-13 23:52] tmat commented on #15462
A good approach could be to keep these internal but factor them to standalone shared projects. These can then be packaged up as source packages. We already do so for a [pooled objects](https://github.com/dotnet/roslyn/tree/master/src/Dependencies/PooledObjects) and [debugging helpers](https://github.com/dotnet/roslyn/tree/master/src/Dependencies/CodeAnalysis.Debugging).

The code in these packages

[2018-04-14 00:03] Davilink commented on #21783
@paulohenriquesi Thanks, i made the same mistake, now i will use the « All Configuration » for thing like that.

[2018-04-14 00:06] cston opened #26159 "EE: FullName does not compile for field or property of type outside referenced assemblies"
If the EE is configured to use referenced assemblies only (rather than all assemblies loaded in the process), the FullName may contain types that are unavailable.

Repro: Break in a `Base` method invoked on `Derived` where `Base` and `Derived` are in separate assemblies; expand `this` and "Add Watch..." to `DerivedField`.

Result: EE fails to evaluate `((Derived)this).DerivedField`:
`error CS0246:

[2018-04-14 00:33] Pilchie commented on #15462
That only works if the helpers contain every internal access and only reference public APIs of Roslyn itself (which would of course be necessary for source packages, since we couldn't give IVT access to every consumer of the source package).  Otherwise they are a versioning problem since any change to an internal API that is consumed by helper packages would break existing applications using the h

[2018-04-14 01:45] tmat commented on #15462
That's correct. But if they can't be implemented via public APIs then we are missing some primitives. I meant this approach would be viable for those helpers that compose existing, more primitive public APIs.

[2018-04-14 02:36] jcouv commented on #26027
@Neme12 Thanks. That seems unexpected. Signing to compiler to take a look.

[2018-04-14 10:40] #25690 closed

[2018-04-14 10:40] #25707 closed

[2018-04-14 11:07] Neme12 commented on #26027
With a null literal, `Type` is null but `ConvertedType` is not. This actually makes sense to me because the type is only acquired after the conversion. Should that be the same for default? I think `Type` should be null as well since the target type is only acquired through the conversion which is classified as `ConversionKind.DefaultOrNullLiteral`. This is similar to how lambda expressions work.

[2018-04-14 11:12] Neme12 commented on #26027
I debugged through the code and it seems `Type` is artificially added to the default literal here:
https://github.com/dotnet/roslyn/blob/216993f315119fe855fe452827ab2832593475e0/src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs#L114-L118
by recreating the bound node to add the constant value. The original `source` indeed does not have a `Type`.

[2018-04-14 11:38] jcouv commented on #26027
Yes, there is a discrepancy between null and default, but that may be OK. The idea is for 'default' to behave just like 'default(T)' with inferred 'T'.
Then maybe the problem is in IDE after all. Maybe QuickInfo should show converted type of no type.

[2018-04-14 11:43] Neme12 commented on #26027
Great,  I just couldn't find anything about default literals in the spec.

Should IDE show always show converted type if type is null or only in case of null/default? I'm not sure what other tokens this might affect, if any.

[2018-04-14 11:48] Neme12 commented on #26027
I only found this from the proposal (might be outdated):

[2018-04-14 11:52] Neme12 commented on #26027
This snippet from a design meeting makes it even clearer, but might be even more outdated:

[2018-04-14 12:45] jnm2 commented on #25679
If I want my tool to work on machines that don't have VS installed, I suppose continuing with the binding redirects is the best option?

[2018-04-14 13:41] siegfriedpammer opened #26160 "DiaSymReader.Native build action not working with new csproj format"
**Version Used**: VS 2017 15.7.0 Preview 3.0

**Steps to Reproduce**:

1. Create new .NET Core console project (to force VS to use the new project format)
2. Change target framework to net46 or similar
3. Add nuget packages to the project
  - Microsoft.DiaSymReader (1.2.0)
  - Microsoft.DiaSymReader.Native (1.7.0)
4. Press build
5. Open output folder

**Expected Behavior**:
`Microsoft.DiaSymReader

[2018-04-14 14:14] Neme12 commented on #26027
This comment also suggests it should be null:
https://github.com/dotnet/roslyn/blob/88801fa234db8f1bd16b30c04971311915a04cd7/src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml#L550-L554

I find it a little weird that there's a conversion of `ConversionKind.DefaultOrNullLiteral` which converts from and to the same type.

[2018-04-14 14:16] Neme12 commented on #26027
It seems there was a discussion about this here: https://github.com/dotnet/roslyn/pull/17205#discussion_r102340554 and some disagreement between @AlekseyTs and @gafter

[2018-04-14 14:36] Neme12 commented on #26027
I was actually bitten by this oddity here: #26140

[2018-04-14 15:43] DmitriiGaidukov commented on #26146
Thanks, @CyrusNajmabadi ! I’ve changed the code as you suggested and it works.

Actually, until this moment I knew just of one way to create actions, namely through  CodeAction.Create(). Now I declared my custom class derived from CodeActionOperation and moved refactoring logic into the overrided version of ComputeOperationsAsync. The modified solution is being wrapped into a new instance of Apply

[2018-04-14 16:05] jmarolf commented on #25679
@jnm2 If you don't have VS installed MSBuild needs to come from somewhere.  You could deploy it as part of you application.  What is your scenario?

[2018-04-14 16:29] jnm2 commented on #25679
The scenario is analysis of internal projects and dependencies across repositories and branches. The Locator solution is good enough for now, but the concept of making the tool's behavior dependent on global machine state is so distasteful to me that binding redirects seem a small price to pay.

[2018-04-14 16:39] DmitriiGaidukov commented on #26146
upd. Noticed a minor issue with my CodeActionOperation. The preview window doesn't appear.

[2018-04-14 17:04] alrz opened #26161 "Extend TryGenerateExpectedSourceFileAndGetDiffLink to cover all tests in a file"
I found this method in the test suite: `TryGenerateExpectedSourceFileAndGetDiffLink`

It generates the whole source file with just the expected assertion string replaced with actual.

It has some limitations and cannot be used for bulk baseline changes,

- It only works if a diff tool is available
- It only works for a single test

The most needed methods that need to have this is `VerifyIL` and `

[2018-04-14 17:36] #26113 closed

[2018-04-14 17:41] RipPer56 commented on #25679
@jnm2 i agree with you, that's what i'm doing too. It's helpful also to get the right version of Microsoftt.Build.*

[2018-04-14 18:29] DustinCampbell commented on #25679
Unfortunately, this is beyond the scope of what we can do here. MSBuild is a very complicated application and depends on a plethora of tasks, targets, SDKs, etc. to process your project. When you deploy `Microsoft.Build`, you're really just deploying the MSBuild engine -- not everything needed to actually load and process any project. It *is* possible to deploy everything you need from MSBuild wit

[2018-04-14 18:29] #25679 closed

[2018-04-14 18:49] JohanLarsson opened #26162 "Feature request: warning & code fix use nameof"
Before:
[code]

After
[code]

[2018-04-15 13:53] nabeelomer opened #26163 "Question: Can I use roslyn with .NET Core?"
I'm trying to use roslyn with .NET Core on Mac and I'm not having much luck because most of the resources are for .NET Framework on Windows.

I've installed `Microsoft.CodeAnalysis.CSharp`, `Microsoft.CodeAnalysis.CSharp.Scripting`, and `Microsoft.CodeAnalysis.CSharp.Workspaces` but VSCode says that I am missing assembly references for `Microsoft.CodeAnalysis.CSharp.Scripting`.

Are there any reso

[2018-04-15 14:03] gafter commented on #26027
I think both the spec and design notes are clear about the language intent: `default` is typeless and gets a type on conversion.

[2018-04-15 14:06] gafter commented on #25829
What does the equality operator for the discard symbol do?

[2018-04-15 15:31] jcouv commented on #26163
Here are the [instructions](https://github.com/dotnet/roslyn/issues/18783#issuecomment-308516907) @svick provided on an earlier version of .NET Core. It's worth trying, but I suspect the integration changed in the meantime
Tagging @livarcocc @nguerrera

[2018-04-15 15:33] jcouv commented on #26162
Tagging @Neme12 in case interested

[2018-04-15 15:44] jcouv commented on #26161
I didn't fully understand the problem you're trying to address. Could you clarify?

Assuming it is "how can we update the baseline for multiple tests quickly?", here are some thoughts:
In the past. I've proposed a small mitigation: when a test fails, the actual result could be copied to the clipboard.
There is a more advanced variant: when a test fails, the actual result is saved to a file, indexe

[2018-04-15 15:45] jcouv commented on #26160
Not sure how to route this. Tagging @tmat

[2018-04-15 15:47] jcouv commented on #26133
I'd suggest copying specific suggestions into the present issue, while they are fresh in mind. Digging through threads isn't fun.

[2018-04-15 15:52] alrz commented on #26161
Yeah I saw the clipboard solution, but I really want to have this for the whole file in one go.

Assuming we could have a fix-all I think this'd worth to invest on. For VerifyDiagnostics however, we can't get the exact line number, though it doesn't seem to be hard to workaround.

[2018-04-15 15:54] jcouv commented on #26120
@huoyaoyuan I didn't understand the issue.
Please describe what you're typing, what actual completion was provided and how it differed from what you expected. The issue you opened sounds like a question and it is not clear what (if anything) needs to be done to fix it.
Thanks

[2018-04-15 16:01] jcouv commented on #26064
@wstaelens The code shown in the screenshot doesn't belong to Roslyn, so it's not clear what is the Roslyn issue here.
Can you describe repro steps, actual behavior and expected behavior? Thanks

[2018-04-15 16:04] jcouv commented on #26058
@KathleenDollard What would you like to do with this issue?
For some reason, GitHub doesn't let me assign it to you for follow-up.

[2018-04-15 16:05] jcouv commented on #26051
@jinujoseph Is this a Roslyn/IDE issue or an editor issue?

[2018-04-15 16:16] nguerrera commented on #26163
Are you asking about

1. using the compiler on .net core, or
2. using Roslyn API on .net core?

Those instructions linked above seem to be more about (1) and I suspect you're actually asking about (2).

For (1), latest RTM Roslyn compiler ships as part of .net core sdk. And you can use the Microsoft.NETCore.Compilers nupkg to upgrade the compiler used to build a given project. (Note NETCore vs. NE

[2018-04-15 17:16] TheKK commented on #23011
Oh, I notice that I can use `componentModel.GetService<VisualStudioWorkspace>();` to get workspace from opening solution :)

[2018-04-15 18:08] jamesqo commented on #23205
I don't know if this has been discussed before but have we discussed using `(`/`[` to denote inclusive/exclusive respectively, then we can write

[code]

[2018-04-15 19:12] CyrusNajmabadi commented on #26051
This is likely a Roslyn issue.

[2018-04-15 21:39] jcouv commented on #26161
In last discussion, the team pushed back on the idea of a FixAll. Fixing tests one by one is slower but also affords more scrutiny....

[2018-04-15 22:41] nabeelomer commented on #26163
@jcouv I didn't mean using a later version of newer version of the C# compiler with my project, I meant using the Roslyn APIs in my code. Sorry for the ambiguity.

[2018-04-15 22:43] nabeelomer commented on #26163
@nguerrera I am asking about using the Roslyn API on on .NET Core. I apologize for the ambiguity.

[2018-04-16 03:44] alrz commented on #26161
Unless you review the git diff before pushing changes, which you do anyways. Current copy/paste experience does really no good in that IMO.

[2018-04-16 03:48] msbasanth commented on #26059
Closing as we have an alternative for checking whether an assembly is managed only.

[2018-04-16 03:48] #26059 closed

[2018-04-16 06:09] vsfeedback opened #26166 "Method reference count is wrong for VB event handlers"
The reference count given above a method does show 0 for an event handler in VB that is defined with the Handles clause.
This is a little annoying because when cleaning up code you have to pay special attention to this because removing this event handler (because it's reference count is zero) will not generate a compiler error, but will break the application.

_This issue has been moved from https

[2018-04-16 06:18] zaytsev-victor commented on #22699
@terrajobst, it is already fixed in https://github.com/dotnet/roslyn/pull/25866. This should be closed.

[2018-04-16 06:37] vsfeedback opened #26167 "Go to Implementation command should not consider abstract declarations with no implementation"
I have a simple C# project with an abstract base class and and derived class.

Sample code:

    public abstract class Base
    {
        private void CallFoo()
        {
            // Invoking &quot;Go to Implementation&quot; on this line goes to the abstract declaration, instead of the actual implementation
            this.Foo();
        }

        protected abstract void Foo();
    }

    pub

[2018-04-16 06:57] vsfeedback opened #26168 "IDE0019 'use pattern matching' on IDictionary fails"
var htmlAttributesDict = htmlAttributesObject as IDictionary&lt;string, object&gt;;

            RouteValueDictionary htmlAttributes = (htmlAttributesDict != null)
            ? new RouteValueDictionary(htmlAttributesDict)
            : HtmlHelper.AnonymousObjectToHtmlAttributes(htmlAttributesObject);

Reports:

IDE0019	Use pattern matching	eCtdFtpAutomation.Web	C:\Users\mreri\source\repos\eCTDFTP

[2018-04-16 06:58] jinujoseph commented on #26168
cc @alrz

[2018-04-16 08:15] msbasanth opened #26169 "Unable to use Roslyn v2.6.0 built analyzers from Visual Studio 2017 v15.6.6 project in a .Net 4.7.1 installed machine"
**Version Used**:
Microsoft.CodeAnalysis - v2.6.0
Visual Studio 2017 v15.6.6

**Steps to Reproduce**:

1. We have an analyzer assembly built using new CSPROJ structure and with netstandard2.0 + Roslyn v2.6.0
2. I am using this analyzer assembly in a .Net Framework 4.7 class library project an analyzer in it and that analyzer DLL in another project.
3. I am getting a warning and analyzer is loaded

[2018-04-16 11:19] Tragetaschen opened #26170 "IntelliSense incorrectly attempts to disambiguate generic arguments when they clash with a member followup"
**Version Used**:
15.6.6

**Steps to Reproduce**:

This is a follow up on #21379

[code]

At `$$`, IntelliSense disambiguates `B` to `A.B` which is then immediately grayed out because it's superfluous.

![invalid-disambiguation](https://user-images.githubusercontent.com/1947968/38806197-badaa1e8-4178-11e8-8faa-559d1a3c5421.gif)

[2018-04-16 11:45] nigurr opened #26171 "Visual Studio crashed in IncrementalAnalyzerProcessor"
**Version Used**: 15.7 Preview 3

**Steps to Reproduce**:

1. Opening any project/solution crashes VS

Stack trace:

I can share the repro machine/dump if required.

[2018-04-16 13:38] svick commented on #26163
@nabeelomer Can you explain what exactly did you do and what specific error you're getting?

In general, I believe most of the Roslyn API should work fine on .Net Core, though I think there might be some exceptions regarding Workspaces.

For example, the following trivial usage of scripting works fine for me on .Net Core on Ubuntu 16.04:

1. `dotnet new console`
2. `dotnet add package Microsoft.Co

[2018-04-16 13:40] zaytsev-victor commented on #25981
https://github.com/dotnet/roslyn/issues/7584
It seems that it isn't implemented.

[2018-04-16 15:27] alrz commented on #26168
Doesn't repro.

![image](https://user-images.githubusercontent.com/3105979/38819337-6070bc0a-41b0-11e8-9432-1ab5ccb29d9b.png)

[2018-04-16 15:28] #21644 closed

[2018-04-16 15:35] wbalbal opened #26173 "Roslyn release notes"
We deserve some release notes :)
version 2.8.0 beta is out and i don't know what's new and should we do the update

[2018-04-16 15:50] jcouv commented on #26120
@CyrusNajmabadi I agree. This should have been covered as part of the feature work.
I see that we tested some completion (https://github.com/dotnet/roslyn/issues/19216 section "Misc"), but this one was missed.

[2018-04-16 16:11] jcouv commented on #26173
See the [changelog](https://github.com/dotnet/roslyn/wiki/Changelog-for-C%23-and-VB-compilers).
Note: That document currently only covers the compilers.

[2018-04-16 16:58] DustinCampbell commented on #21644
FWIW, there's a better answer for this now. :smile:

When using `MSBuildWorkspace`, you should ensure that `Microsoft.Build`, `Microsoft.Build.Framework`, `Microsoft.Build.Tasks.Core`, and `Microsoft.Build.Utilities.Core` are deleted from your build output. The `Microsoft.CodeAnalysis.Workspaces.Common` package causes these to be pulled into your build output. That will be fixed in the near future

[2018-04-16 17:00] DustinCampbell commented on #23011
Correct.That's going to  be much better than loading the same solution *again* in Visual Studio with `MSBuildWorkspace`. I guess `MSBuildWorkspace` would be useful if you were trying to analyze a different solution than the one that is loaded in VS.

[2018-04-16 17:02] DustinCampbell commented on #22699
Thanks for checking @zaytsev-victor.

[2018-04-16 17:02] #22699 closed

[2018-04-16 17:32] AlekseyTs opened #26174 "_formatArguments should probably be removed from LocalizableResourceString"
[code]

It looks like this constructor is never used with non-empty ```formatArguments``` by the product. Also, it feels like ```formatArguments```  should also be localizable, otherwise parts of the text might not be localized, or might be localized for different langiages.

[2018-04-16 18:15] AlekseyTs opened #26176 "Consider if we want to expose more information for IForEachLoopOperation"
See GetForEachStatementInfo API on SemanticModel. Default argument for the APIs might also be interesting (See https://github.com/dotnet/roslyn/pull/26158)

[2018-04-16 18:44] jmarolf commented on #26169
This is surprising to me.  Can you give me an example nuget package where a netstandard2.0 analyzer can load successfully in Visual Studio? Analyzers, to my knowledge, have never worked in Visual Studio 2017 with netstandard2.0 because of the way Visual Studio finds and loads assemblies.  Currently all templates default to netstandard1.3 as this is the newest version that has been tested to work.

[2018-04-16 18:47] jmarolf commented on #26163
@nabeelomer can you give us the exact errors you are seeing and the contents of the csproj file?

[2018-04-16 18:47] Neme12 opened #26177 ""Remove unused variable" should appear below "add using""
Getting "remove variable" as the first option is just not great:
![image](https://user-images.githubusercontent.com/11444821/38828751-4ef400ca-41b7-11e8-985e-50eefadac8fb.png)

[2018-04-16 18:50] heejaechang commented on #26171
Hi Thank you for reporting the issue?

can you share logs in %temp%\servicehub\logs? looks like some setup is messed up. the callstack shows VS is trying to start out of proc process and that failed to be started.

[2018-04-16 19:18] CyrusNajmabadi commented on #26177
Dupe of: https://github.com/dotnet/roslyn/issues/25470

[2018-04-16 20:39] ivanbasov opened #26179 "move DateTimeUtilities.cs into ExpressionEvaluator.PdbHelpers"
With https://github.com/dotnet/roslyn/pull/26057

@cston wrote:

[2018-04-16 20:41] JohanLarsson opened #26180 "Why does IOperation not expose SematicModel?"
Seems like a reasonable thing to do. @mavasani
Maybe it should be exposed from both `OperationAnalysisContext` and `IOperation`

[2018-04-16 21:52] Tragetaschen commented on #22670
Me neither (in 15.7.0 Preview 3.0)

[2018-04-16 21:52] #22670 closed

[2018-04-16 22:14] ivanbasov commented on #26133
Thank you, @jcouv! I would definitely agree.  I would also prefer to make the whole with fix the original PR. However, the original work item is a telemetry based VSO bug and the PR is waiting for the escrow approval. Therefore, in this particular case, I think we have to use a separate item to track improvements not required for the escrow approval.

[2018-04-16 23:39] AlekseyTs commented on #21776
I am surprised we haven't fixed this already. CC @jinujoseph I think issues that lead to a loss of information should be high priority.

[2018-04-17 00:01] heejaechang opened #26183 "flaky unit test: VisualStudioDiagnosticAnalyzerExecutorTests.TestCancellation"
test is failing with this

    Roslyn.VisualStudio.Next.UnitTests.Remote.VisualStudioDiagnosticAnalyzerExecutorTests.TestCancellation
System.InvalidOperationException: Should have been disposed!

   en Microsoft.CodeAnalysis.ThrowingTraceListener.Fail(String message, String detailMessage)
   en System.Diagnostics.TraceListener.Fail(String message)
   en System.Diagnostics.TraceInternal.Fail(String

[2018-04-17 00:33] heejaechang commented on #15003
let me take a look

[2018-04-17 02:07] #22455 closed

[2018-04-17 05:47] jcouv commented on #26132
Although I agree with the proposal, this API is part of the public surface area, so changing it would be a compatibility break.

[2018-04-17 06:35] msbasanth commented on #26169
@jmarolf It was a typo. I don't have a netstandard2.0 analyzer loaded in VS2017.
Currently, I have my analyzer package targeting netstandard1.6 + Roslyn 2.6.0 which works fine in VS2017 15.5 and above.

Now I have to use few of the Assembly load API's introduced in netstandard2.0, so I switched to netstandard2.0. Is there any assembly redirection possible to make nestandard2.0 analyzer work in VS2

[2018-04-17 06:36] heejaechang commented on #26171
@jimmy9988 En-Shuo, have you reported this issue to FSharp team? it looks like somehow FSharp setup puts this in devenv.exe.config

[code]

but some VS drop doesn't have newtonsoft.json.dll in FSharp directory. causing everything that uses newtonsoft.json.dll in VS to fail.

another thing is that, it points to version 10.0.0.0 but config has binding redirect to 9.0.0.0

[code]
making 2 different v

[2018-04-17 06:38] heejaechang commented on #26171
@nigurr can you check your directory (C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\FSharp\Newtonsoft.Json.dll) to see whether it has newtonsoft.json.dll ?

[2018-04-17 06:40] heejaechang commented on #26171
here are service hub logs @nigurr shared. basically multiple services fail due to newtonsoft.json.dll issue.

...

04/17/2018 10:26:15 : Error : Error creating Microsoft.VisualStudio.ExtensionManager.ServiceModule.ExtensionManagerServiceModule instance of CLR service module 'extensionManager': System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. HR

[2018-04-17 06:51] nigurr commented on #26171
@heejaechang I am using latest preview and Newton.Json doesn't exist in `C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\Common7\IDE\CommonExtensions\Microsoft\FSharp`

[2018-04-17 06:54] jinujoseph commented on #26171
cc @Pilchie  for info

[2018-04-17 06:55] heejaechang commented on #26171
@nigurr thank you

ping @KevinRansom @brettfo

according to @ivanbasov this is high priority

[2018-04-17 06:59] heejaechang commented on #26171
@jinujoseph regardless this issue, I think we need to clean up newtonsoft.json.dll mess in VS. I am not sure where to start discussion on this.

can we start it somehow?

I have 15.6.4 installed. and these are how many newtonsoft.json.dll installed by VS. most of them exact same copy. I believe only this (yellow highlighted) should be there

...

![image](https://user-images.githubusercontent.com/

[2018-04-17 07:27] jinujoseph commented on #21776
yes , this looks like got missed among other things. Don't think this meets the 15.7 bar.
moving to 15.8
thanks for the ping

[2018-04-17 08:45] #25573 closed

[2018-04-17 09:34] nabeelomer commented on #26163
@svick I deleted my old project and made a new one following your steps and everything worked fine.

[2018-04-17 12:37] SirDuke opened #26195 "Visual Studio crashes while analyzing provided code"
**Version Used**:
Microsoft Visual Studio Professional 2017, Version 15.6.6

**Steps to Reproduce**:
Create new solution and copy-paste sample code there:

[code]

**Expected Behavior**:
No crasg

**Actual Behavior**:
Visual studio crashes

[2018-04-17 12:58] Neme12 commented on #26195
This is a bug in the compiler:
Unexpected value 'StackAllocToPointerType' of type 'Microsoft.CodeAnalysis.CSharp.ConversionKind'

[code]

[2018-04-17 13:00] Ralf1108 opened #26196 "C#7.2 produces not verifiable il code when direct accessing field of readonly struct field"
**Version Used**:
Visual Studio 2017
LanguageVersion: C# 7.2

**Steps to Reproduce**:

1. Compile program in DEBUG with 'x1' or 'x2' uncommented:
[code]
2. Run PE-Verify on the result assembly
I used the one from "C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.7.1 Tools"
-> Microsoft (R) .NET Framework PE Verifier.  Version  4.0.30319.0

**Expected Behavior**:
pe verifier should

[2018-04-17 13:33] DustinCampbell commented on #25470
Yes, this one is important. cc @jinujoseph rather than a random other GitHub user. :smile:

[2018-04-17 13:37] Giois93 commented on #23352
I experimented the same issue on
Visual Studio Enterprise 2017 (15.6.6)
Windows 7 Pro SP1

   at Roslyn.Utilities.Contract.ThrowIfFalse(Boolean condition,String message)
   at Microsoft.CodeAnalysis.ExtractMethod.ExtractMethodMatrix.GetVariableStyle(Boolean captured,Boolean dataFlowIn,Boolean dataFlowOut,Boolean alwaysAssigned,Boolean variableDeclared,Boolean readInside,Boolean writtenInside,Boole

[2018-04-17 14:34] zaytsev-victor commented on #25966
@CyrusNajmabadi do you have any idea why the following test passed https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/VisualBasicTest/QuickInfo/SemanticQuickInfoSourceTests.vb#L1177-L1182?

[2018-04-17 14:39] jcouv commented on #26196
Relates to https://github.com/dotnet/roslyn/pull/21269 and https://github.com/dotnet/roslyn/pull/22772
The C# compiler sometimes emit unverifiable code (by current PEVerify rules). This can happen when using new features, or when re-compiling existing code with LangVersion >= 7.2. In the latter case, a feature flag can be set in the project to restore the non-optimized behavior (if you prefer that

[2018-04-17 14:42] jcouv commented on #26195
@jaredpar for bar check. Should we consider this issue for 15.7, or is the bar too high already?

[2018-04-17 15:03] Pilchie commented on #26171
@brettfo deliberately removed that copy, so that F# would use the same version as everyone else, but it sounds like a the `devenv.exe.config` didn't get updated correctly?

[2018-04-17 15:03] Pilchie commented on #26171
Can we get a VSTS bug on this for shiproom tracking ASAP please?

[2018-04-17 15:07] ghost opened #26197 "The call is ambiguous for an extension menthod with overload 'this ref T' despite valid constraints for T"
posted by @Makeman-from-Makeloft

**Version Used**:  https://sharplab.io/

**Steps to Reproduce**:
Try to compile [this code](https://sharplab.io/#v2:CYLg1APgAgDABFAjAbgLACgNQMwMQNgQCY4BhOAbwzhoVyUIBU5GB7AHkYD4AKAFwAWASwDOcAE4BTAGYs4rAJRwA7gMlSWIOCL7iArgGM+cALxd5adLTp4mLDt37CxzRSrUbGWqCTMXqtAE0APQAVHAAdkIGknB8rHACAIYAbrGhwUFwwcE4tnJsnLyCohIycm5+rJbWYfLicBlZOXkMBQ7FznBCERVKVTWBVrStBAgALHgAHDxKVMPWN

[2018-04-17 15:12] Neme12 commented on #26197
This actually works in C# 7.3 as part of https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.3/improved-overload-candidates.md

[2018-04-17 15:13] Neme12 commented on #26197
See https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+ABADAAmwEYBuAWAChLsBmQogNkICZ8BhfAb0v18LuJMAKviEB7ADxCAfAAoYACwCWUfAjgAzUfjEBKfAHcFiOKJD5YCAK4BjGPgC80neQp9+9YaMkz5y1SJ6hsbqZiyOzmKu7jx8APQAVPgAdko2pjBi+AoQAG6mCXGxvHFxtJ7a4lJyiipqmtpBTi7F+Ik6CPiFraXlgpU+Nf74SsmN+s1Rra19jIQALPQAHLL63G7ufKP2So74uNGbvMQAnLLisupaSrq6h0en52KyyXAG+ADywABWcHart3um1a7keSgAdBdAW04vhEAgxJ02ABlXBEZhEcxCYz4GwQAA2+JGqggYGAS

[2018-04-17 15:33] jcouv commented on #26163
Then I'll go ahead and close the issue. Thanks

[2018-04-17 15:33] #26163 closed

[2018-04-17 15:39] mkmn-xyz commented on #26197
posted by @Makeman-from-Makeloft

Nice, thank!

What about the proposal to have a single unconstarained method without overloads like
[code]
to avoid duplication of implementation?

As I understand
[code]
is being disallowed to avoid reassignment of `o`, isn't it?

Seems that
[code]
has not this lack.

Or do I misunderstand something?

[2018-04-17 16:19] jcouv opened #26198 "Review and finalize public APIs"
Note: we should remember to update the few places (marked with this issue's URL) where our code should make use of such APIs once they become available.

- `GetTypeInfo` should work on suppressed expression (relates to https://github.com/dotnet/roslyn/pull/34025)

- semantic model should provide nullability information in LINQ queries (range variables)

- `ReferenceTypeConstraintIsNullable`
- `Has

[2018-04-17 16:26] jcouv opened #26199 "Review design for binding `string` with nullability off"
Currently, we bind `string` as `string!` when the nullability feature is on, but as `string~` (oblivious) when the feature is off (LangVersion=7 for example).

The scenario driving this is a C# 7.0 compilation being referenced in a C# 8.0 compilation. We want symbols from the compilation reference to be re-used, but we want the C# 8.0 compilation to treat them as oblivious.

A few options we discu

[2018-04-17 17:02] #26197 closed

[2018-04-17 17:10] #26196 closed

[2018-04-17 17:10] jaredpar commented on #26195
@VSadov made late changes to 15.7 which should cover this case. I'm updating my 15.7 installation to verify.

[2018-04-17 17:30] bbzippo commented on #26132
Sure, it would be a breaking change, so we should not only fix this, but also document it in the release notes.
The risk of breaking somebody's code is negligible: who would use string.TryParse() to parse versions?
The risk of not fixing it may also be small, but it is persistent: developers will always be seeing a misused language feature coming from the language designers themselves.
The effort

[2018-04-17 17:34] brettfo commented on #26171
I think the Newtonsoft issue is a red herring.  I've been running 15.7 previews for weeks and none of them have a copy of newtonsoft.json present.

The devenv.exe.config issue certainly needs to be fixed, but that would only cause issues at install time when everything is NGENed.

[2018-04-17 17:46] CyrusNajmabadi commented on #25470
good lord.  there's a @jinujoseph and a jinujoe...   that's not confusing at all! :)

[2018-04-17 17:47] Neme12 commented on #25470
@CyrusNajmabadi I think this is the 4th time I've seen you tag "jinujoe" :smile:

[2018-04-17 17:48] CyrusNajmabadi commented on #25966
@zaytsev-victor I have no context here.  However, my guess would be that that those tests are just validating things at the Roslyn-quick-info-data-layer.  And, **perhaps** (again, i'm just guessing), it's at a higher layer where these get translated to editor-entities that things crash.  You'd have to debug though to see for sure.

[2018-04-17 17:48] jcouv commented on #26132
I marked as won't fix because we avoid compat breaks unless strong justification. That said, I'll double-check with compat council.

[2018-04-17 17:54] CyrusNajmabadi commented on #25470
crap!  i wonder if there's a way to search for that.  so we can get the real @jinujoseph on it.

[2018-04-17 18:17] jmarolf commented on #26169
@msbasanth the problem is that, for a netstandard2.0 analyzer to work reliably you will need to deploy all the framework reference assemblies.  @terrajobst may know what the best way to do this is.  This will make you analyzer package rather large but it would unblock you.

[2018-04-17 18:31] jmarolf commented on #26169
@bkoelman that is a good point.  A simpler solution would be to target .NET Framework 4.6.  That is assuming you are never going to run these analyzers on a platform that does not have  .NET Framework 4.6.

[2018-04-17 18:43] jfleisher opened #26204 "CSharpCodeActions/GenerateMethodInClosedFile Test Recurring failures"
Skipping Test because of recurring failures. The test has failed regularly on master/job/windows_release_vs-integration and master-vs-deps/job/window_release_vs-integration over the last week.

[2018-04-17 18:45] heejaechang commented on #26171
I investigated this issue with @nigurr before. once we either copied newtonsoft.json to the FSharp folder or remove newtonsoft.json codebase to the FSharp folder, VS worked as expected.

@jimmy9988 can you copy over newtonsoft.json to the FSharp folder and see whether VS still crash?

[2018-04-17 18:48] jfleisher opened #26205 "CSharpToBasic test has recurring failure"
Skipping because of recurring failure:
master/job/windows_release_vs-integration/53/testReport/junit/Roslyn.VisualStudio.IntegrationTests.CSharp/CSharpGenerateTypeDialog/CSharpToBasic/

[2018-04-17 18:53] mavasani opened #26206 "IInvocationOperation should expose the underlying IMethodReferenceOperation"
See discussion here: https://github.com/dotnet/roslyn/pull/26188#discussion_r182178995

[2018-04-17 18:54] heejaechang commented on #23352
@Giois93 thank you very much. I will take a look soon.

[2018-04-17 18:58] CyrusNajmabadi commented on #26206
Thanks!  Can we rope in the compatability council?   My recollection is that we have fixed semantic model calls in the past when they returned incorrect results.  this could certainly break anyone who took a dependency on the old values.  But, in practice, just having good behavior rather than preserving bugs won out and was healthier for the ecosystem as a whole.  Considering how new IOperation i

[2018-04-17 19:03] AlekseyTs commented on #26206
I think IInvocationOperation should implement IMemberReferenceOperation instead, see  https://github.com/dotnet/roslyn/issues/23084

[2018-04-17 19:08] CyrusNajmabadi commented on #26206
That's an option.  Though i think it will lead to a lot of surprise from users.  Namely that they can register for method references, and then not actually hear about method references (i.e. exactly the issue that bit this feature :D).  That said, it would be a viable option that avoids the compat issue.  So that's a huge pro going for it.

[2018-04-17 19:17] AlekseyTs commented on #26206
Documentation clearly states that IMethodReferenceOperation "Represents a reference to a method **other than as the target of an invocation**." So, I don't see why one would be surprised.

[2018-04-17 19:44] jcouv commented on #26199
Tagging @AlekseyTs @gafter @cston to start discussion.
How strongly do we want to stick to the rule that binding should produce the same result regardless of features that are turned on/off or language version?

[2018-04-17 20:00] CyrusNajmabadi commented on #26206
Because humans are humans :)  Note that IPropertyRef does not say the same.  Should i assume that me.Prop(1, 2, 3) in VB has an IInvocationOp *and* an IPropertyReferenceOp?  :)   (i honestly don't know.  either IOp tree wouldn't surprise me).

[2018-04-17 20:10] Ralf1108 commented on #26196
solved it with introducing property getter instead of directly access the fields. Thanks for clarification!

[2018-04-17 20:28] brettfo commented on #26171
I have a new theory as to what happened:

1.  A VS preview was installed with F# support back when F# shipped Newtonsoft.Json.dll and the appropriate entry was added to the hive-local devenv.exe.config.
2.  The previews were upgraded past the point where Newtonsoft.Json.dll was no longer included.
3.  devenv.exe.config was never regenerated.

@jimmy9988 Can you try again with a clean install of VS

[2018-04-17 20:32] AlekseyTs commented on #26206
Well, if that is the reason, then no matter what we do some humans will be surprised.

You shouldn't assume anything, you should find an answer to the question. :-)

[2018-04-17 20:51] dagood opened #26209 "Remove source-build patch "Add VBCSCompiler to SourceBuild.sln""
Source-Build needs `Microsoft.NETCore.Compilers`, which indirectly requires `VBCSCompiler` to be built. Adding `VBCSCompiler` to SourceBuild.sln builds it during source-build. (See more details in https://github.com/dotnet/source-build/pull/445#discussion_r182204689.)

[code]

/cc @jaredpar @333fred

[2018-04-17 21:46] kuhlenh opened #26213 ""Make readonly" doesn't appear for some simple cases"
'Make readonly’ doesn't seem to work for a really simple case:

[code]

- “Make readonly” appears for the HttpClient
- “Make readonly” **does not appear** for IFaceServiceClient

[2018-04-17 21:58] CyrusNajmabadi commented on #26213
I see it:

![image](https://user-images.githubusercontent.com/4564579/38900296-d1420c3c-424f-11e8-98ba-a443b628b23c.png)

[2018-04-17 22:19] sharwell commented on #26206
@mavasani Am I correct in my interpretation that the current proposal would *not* be a breaking change for analyzers based on the 2.6 API?

[2018-04-17 22:31] mavasani commented on #26206
I think we few proposals here:

1. Replace `IInvocationOperation.Instance` with `IInvocationOperation.MemberReference`, which is obviously a breaking change for analyzers on 2.6 API, hence likely least preferable.
2. Mark `IInvocationOperation.Instance` as deprecated and add a new property `IMemberReferenceOperation MemberReference { get; }`, to `IInvocationOperation`. Current analyzers should wor

[2018-04-17 22:33] CyrusNajmabadi commented on #26206
👍 on option '3' for me as well.

[2018-04-17 23:02] tmat opened #26217 "Assertion failed in AnalyzerDriver.GetOperationsToAnalyze"
**Version Used**:
![image](https://user-images.githubusercontent.com/41759/38903103-3d9a4f9a-4258-11e8-889f-9e119e0fb24f.png)

**Steps to Reproduce**:

1. build Debug configuration of Roslyn.sln
2. `devenv /rootsuffix RoslynDev`
3. Create a console app with following code:

[code]

[code]

[2018-04-17 23:02] tmat commented on #26217
@jinujoseph FYI

[2018-04-17 23:07] tmat opened #26218 "Code fixes shouldn't be offered for rude edits"
**Version Used**:

**Steps to Reproduce**:

1. Create a console app with following code:
[code]

2. Start debugging (F10)
3. Uncomment `// : C`
4. Rude edit shows up, hover over the purple squiggle:
![image](https://user-images.githubusercontent.com/41759/38903349-30a6de88-4259-11e8-9ec2-bb260e041c17.png)

**Expected Behavior**:

- "Show potential fixes" should not be displayed.

**Actual Behavior

[2018-04-17 23:08] tmat commented on #26218
@heejaechang Do we suggest potential fixes for all kinds of diagnostics?

[2018-04-17 23:10] #25336 closed

[2018-04-17 23:11] kuhlenh opened #26219 "Make Readonly doesn't have a description for the Error List"
![image](https://user-images.githubusercontent.com/1402694/38903471-dba42390-4259-11e8-84e3-8ff7d4396003.png)

It shows Description as blank for IDE0044.

[2018-04-17 23:11] heejaechang commented on #26218
@tmat no, I think in that line, there is suggestion, somewhere that is intersect with rude edit diagnostics.

don't do debugging, and see whether you get code fix there.

[2018-04-17 23:48] Neme12 commented on #26022
@jinujoseph Should this be moved?

[2018-04-18 00:25] SergeyTeplyakov opened #26220 "Mutating readonly struct using embedded struct and pointers"
**Version Used**:  master

The C# compiler legitimately complains about the following code:
[code]

Which is fine, because the compiler can not prove that there would be potential mutations of the `_bytes` field in 'fixed' contexts.

But instead of using 'fixed' declaration, we can create a custom struct with the required size:

[code]
This is actually great (even desirable for my current project)

[2018-04-18 01:07] ufcpp commented on #26220
Not only fixed buffers but also unsafe features allow readonly structs to be mutated.

[code]

[2018-04-18 01:44] evildour opened #26222 "How to package analyzers?"
Hello, I would like to build Roslyn analyzers to be distributed with a C# library I work on. There seem to be two ways to do that:
1. Package the analyzers within the NuGet package for the library, at analyzers\dotnet\cs\ for example.
2. Package the analyzers in their own NuGet package (at the same path) and include that package as a package reference in the library.

Most examples I’ve seen (Rosl

[2018-04-18 02:55] jmarolf commented on #26222
@evildour the advantage of shipping them separately is that the user can upgrade to new versions of the analyzer without the need to change the version of the library they are referencing.

Suppose there is a bug in version `1.1.0` of `Microsoft.CodeAnalysis.Analyzers`.  If they are separate packages I just need to rev the version for `Microsoft.CodeAnalysis.Analyzers` to the one that has the bugf

[2018-04-18 03:29] gafter commented on #25813
See https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#extension-method-invocations . In the terminology of the spec, we are letting non-***eligible*** candidates short-circuit finding the right method group.

[2018-04-18 03:31] evildour commented on #26222
Ah, that's what I was missing. I still feel like the docs can be improved a bit here, but I'll close this. Thanks for the quick response!

[2018-04-18 03:31] #26222 closed

[2018-04-18 03:35] gafter commented on #18526
@lachbaer I have noted in https://github.com/dotnet/csharplang/issues/418 that you have offered an implementation. Thank you! Please hang on to it in case we decide to move ahead and schedule it for LDM design and implementation. In the meantime I'm closing this issue as it isn't actionable.

[2018-04-18 03:35] #18526 closed

[2018-04-18 03:42] gafter commented on #23062
https://github.com/dotnet/vblang/blob/master/meetings/2018/vbldm-notes-2018.02.21.md#private-protected---discussion

[2018-04-18 03:42] #23062 closed

[2018-04-18 03:45] gafter commented on #25999
Fixed in https://github.com/dotnet/roslyn/pull/26019

[2018-04-18 03:45] #25999 closed

[2018-04-18 03:45] gafter commented on #26000
Fixed in https://github.com/dotnet/roslyn/pull/26019

[2018-04-18 03:45] #26000 closed

[2018-04-18 04:11] SergeyTeplyakov commented on #26220
@ufcpp I can see why the compiler does not warn in this case as well as in other cases (like with c-like unions based on explicit field offset). But the compiler definitely can detect that the '&' operator is applied to a readonly field and warn/fail about it.

Actually, R# emits an error in this case and I thought that the code that I provided is not correct before I've decided to compile it.

![

[2018-04-18 04:35] alrz commented on #26195
should we add missing types/symbols to the compiler test plan?

[2018-04-18 04:54] davkean commented on #12202
Another two cases: https://github.com/dotnet/project-system/issues/3472 and https://www.yammer.com/microsoft.com/#/Threads/show?threadId=977583688.

[2018-04-18 04:55] davkean commented on #12202
The minimum change here even if the errors don't go away is to prevent Output window/category from getting focus.

[2018-04-18 05:33] jcouv commented on #26195
@alrz it's already listed. That said, how is the present issue caused by a missing type?

[2018-04-18 07:03] nigurr commented on #26171
@Pilchie I created DevDiv bug internally - 601243
Please update the details accordingly

[2018-04-18 07:09] jinujoseph commented on #26171
watson vso issue tracking this 600984

[2018-04-18 07:13] heejaechang commented on #12202
@kuhlenh  @dotnet/roslyn-ide @jinujoseph is it us who set focus on output window? if it is us, should we not do that?

[2018-04-18 10:16] davkean commented on #12202
I've submitted a proposed PR to fix the activation issue here: https://github.com/dotnet/roslyn/pull/26230/files.

Note, I've spent 3 hours trying to get it built and tested and failed miserably. I've given up trying to merge this but if anyone on this thread wants to take my changes, test & merge feel free.

[2018-04-18 10:21] IanKemp opened #26231 "Determinism end-user experience is poor"
I created a new .NET Standard 2.0 class library in Visual Studio 2017 (15.6.6) this morning and set the Assembly Version to 1.0.*. Upon build, I was confronted with the error message:

Cue research into what the heck determinism means in the context of C# compilation, leading me to know that I do, in fact, want it disabled for my use case. Cue more research into how to disable it, which finally le

[2018-04-18 12:31] sharwell commented on #18295
Superseded by #26204

[2018-04-18 12:31] #18295 closed

[2018-04-18 12:33] sharwell commented on #26204
Each failure should be a duplicate of either #26038 or #26042.

[2018-04-18 12:34] sharwell commented on #26231
My biggest initial concern is the documentation led someone to this conclusion.

[2018-04-18 12:57] bratukham commented on #23352
@heejaechang unfortunately, I cannot get the same exception anymore...

Fortunately, I have a peace of code, where it was simple to get:
![image](https://user-images.githubusercontent.com/1413357/38933077-4979b894-4318-11e8-9f58-2a7a29427b5d.png)

The exception was thrown when one selects from the cursor position (see screenshot above) till the next `if` statement.

Hope it helps!

[2018-04-18 13:15] IanKemp commented on #26231
@sharwell from the linked SO answer:

which is exactly my scenario.

Regarding documentation, [@jaredpar's blog post](http://blog.paranoidcoding.com/2016/04/05/deterministic-builds-in-roslyn.html) is pretty complete, but obviously in no way official.

[2018-04-18 13:59] sharwell commented on #26213
@kuhlenh It seems the code snippet to reproduce this is incomplete.

[2018-04-18 14:34] azbrainiac commented on #25962
I have the same problem

[2018-04-18 14:53] kuhlenh commented on #26213
Figured it out. It's the try-catch. Updated the original repro

[2018-04-18 15:13] jaredpar commented on #26195
This is still reproducing on 15.7 latest. I don't think this meets the bar at this point given it's a crash on bad code and it is using implicit conversions on a stackalloc which is fairly corner case. Still we should fix this now and have it in our back pocket in case there is a more common case.

[2018-04-18 15:54] sharwell commented on #26195
@jaredpar Can you confirm that this is only a compiler crash; i.e. the IDE stays running but the compiler fails to report a reasonable error?

If this is actually an IDE crash and the fix is simple, I would encourage resolving it.

[2018-04-18 16:01] jaredpar commented on #26195
@sharwell it's an IDE crash. A single report in a corner case (implicit conversion + unsafe + stackalloc) is below our bar at the moment. More severe bugs have been rejected in the past. If the IDE team feels they can get it in under their bar then we are happy to support.

[2018-04-18 16:23] mrbcmorris opened #26232 "Compiler intermittently keeping strong name file locked during compilation causing build failures for proceeding projects"
**Version Used**:
  Toolset 15.0 -- vbc.exe and csc.exe
**Steps to Reproduce**:
No specific reproduction steps have been discovered.  Failure appears intermittently.
**Expected Behavior**:
Project compiles successfully
**Actual Behavior**:
Project fails to compile reporting vbc : error BC36980: Error extracting public key from file '{filename}.snk': The process cannot access the file 'C:\Users\{us

[2018-04-18 16:42] gafter commented on #24975
Fixed in https://github.com/dotnet/roslyn/pull/26088

[2018-04-18 16:42] #24975 closed

[2018-04-18 16:47] alrz commented on #25497
Dupliacte of https://github.com/dotnet/roslyn/issues/16624

[2018-04-18 17:15] CyrusNajmabadi commented on #26213
Much simpler repro:

[code]

[2018-04-18 17:34] CyrusNajmabadi commented on #26213
Most of the code here seems completely wrong.  There's also this check:

[code]

This seems like it may also be wrong if you're on the initializer, and not the name, of an object initializer.

[2018-04-18 17:36] CyrusNajmabadi commented on #26219
Looks like we're using incorrect resources here:

[code]

Note the use of WorkspacesResources.  @mavasani Something to consider for an anlayzer.

[2018-04-18 17:37] Neme12 commented on #26213
I would just fix this as part of #25652

[2018-04-18 17:37] CyrusNajmabadi commented on #26218
Please don't make this change.  I make edits all the time during EnC sessions, and i absolutely hate when features are randomly disabled during debugging.

[2018-04-18 18:34] tmat commented on #26218
@CyrusNajmabadi This UI doesn't make any sense as is today. The "Show potential fixes" shows up for an EnC diagnostic that there are no fixes available for. It leads the user to thinking that they can get rid of the rude edit by applying the fix, which is not true.

[2018-04-18 18:36] CyrusNajmabadi commented on #26218
This is the case already today for any compiler errors that also are paired with any style diagnostics.  The lightbulb is for all issues on the line, not just EnC or compiler errors.  If i want to go and use the lightbulb to add accessibility modifiers for a type i've created, i shouldn't be prevented just because there was an error from another component at the same location.

[2018-04-18 18:49] sharwell commented on #26213
@Neme12 There are some major hurdles (performance related) that could stall #25652. If this is an easy fix it could certainly be relevant in the 15.8 time frame.

[2018-04-18 19:17] CyrusNajmabadi commented on #26213
@sharwell What are the major hurdles?  Is it IOperation related?  I used IOperation in several recent PRs and I'm curious if htat will be a problem.

[2018-04-18 19:30] ivanbasov commented on #18199
Do we also need a new test to cover the situation?

[2018-04-18 19:38] MarkPflug opened #26238 "Compiler (VBCSCompiler.exe, *and* csc.exe) crashes when building"
**Version Used**: VS 15.6.6
C# Tools   `2.7.0-beta3-62715-05. Commit Hash: db02128e6e3c4bdfc93e6ec425ac9162b4d4fe80`

**Steps to Reproduce**:

1. Run MSBuild.exe with a custom project that builds a csproj.

**Expected Behavior**: successful compilation

**Actual Behavior**: compiler crashes with System.TypeLoadException.
[code]

I updated to VS 2017 15.6.6 this morning, and now my projects which p

[2018-04-18 19:38] ivanbasov commented on #18199
Can this issue relate with [Bug 397716: [Watson] clr20r3: CLR_EXCEPTION_System.Exception_80131500_Microsoft.VisualStudio.LanguageServices.dll!Microsoft.VisualStudio.LanguageServices.Implementation.ProjectSystem.VisualStudioWorkspaceImpl.EnsureEditableDocuments](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/397716)
?

Callstacks look close but not same.

[2018-04-18 19:46] heejaechang commented on #26218
@tmat @CyrusNajmabadi @kuhlenh @jinujoseph

I think this is another design issue.

so, it looks like the diagnostic IDE0040 is hidden diagnostic. there is no visual cue to users at all on where the diagnostics are (no error list entry, no squiggle).
since there is no squiggle, there is no quick info by its own. in other words, this diagnostic can (or supposed to) only be fixed by LB at the left ad

[2018-04-18 19:53] CyrusNajmabadi commented on #26218
I woudl be ok with a change to quick info for hidden diagnostics.  given that sort of approach, the title should probably not be "Code fixes shouldn't be offered for rude edits".  rather, it should be something like "Quick info should not tell me about fixes that are available for hidden diagnostics".

Users will still see the lightbulb on the left. But hovering over the squiggle will only show th

[2018-04-18 20:18] jasonmalinowski opened #26244 "FileFromSameProjectTogetherTest hangs or fails sometimes"
Seen in https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_unit64_prtest/13216/, there's an async hang somewhere. The test's async state machine has __state == 0 which I _think_ means we're waiting on the first await and I see there are active diagnostic tokens here:

/_/src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.LowPriorityProcessor.cs

[2018-04-18 20:33] AlexanderMorou opened #26245 ""Remove and Sort Usings" Ignores #pagma warning disable IDE0005"
**Version Used**:
Visual Studio 2017 Version 15.6.6

**Steps to Reproduce**:

1. Begin a `#pragma warning disable IDE0005` block
2. Add using to file that isn't needed (according to intellisense at least)
3. End block with `#pragma warning restore IDE0005`

**Expected Behavior**:
`Remove and Sort Usings` should honor the IDE0005 `#pragma warning disable` call-out.

**Actual Behavior**:
Using is re

[2018-04-18 21:57] MarkPflug commented on #26238
I should also mention that this is not project-specific. Creating a new C# console app (framework or core) exhibits the same crash.

[2018-04-18 22:30] MarkPflug commented on #26238
Further investigation...

The machine with the issue has a Microsoft.CodeAnalysis.dll v2.7.0.0 in the GAC. Looking in that assembly, I don't see the CoreClrShim type. The Microsoft.CodeAnalysis.dll also exists in "\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin\Roslyn", which *does* contain the CoreClrShim type. The  date on the GAC folder is 3/8. I don't think that I manually GACed th

[2018-04-18 22:33] AlekseyTs commented on #26199
I don't think the current behavior should be treated as a rule violation. The rule is more like: "If you have a syntactic construct that clearly "points" to a new feature, bind it as such even if feature is not allowed and report an appropriate diagnostic". In this case, there is no special syntax indicating that any new feature is used.

[2018-04-18 22:40] tmat commented on #26218
:+1:

[2018-04-18 22:48] MarkPflug commented on #26238
I think I've convinced myself that this was my own doing. There were 4 assemblies in the GAC that shouldn't  have been there that had timestamps that were very close in time, but enough seconds apart that it looks like they were installed manually. I uninstalled them from the GAC, and things are working again. I will now close this issue, with great shame.

[2018-04-18 22:48] #26238 closed

[2018-04-18 22:50] CyrusNajmabadi opened #26247 "Flakey diagnostics tests"
Seen here:
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_spanish_unit32_prtest/343/

[code]

Tagging @dotnet/roslyn-infrastructure since this affects test flakeyness.

Tagging @mavasani @heejaechang for visibility as this seems to be flakeyness with diagnostic analyzers.

Tagging @sharwell as the flakeyness has something to do with sync-contexts:

[code]

[2018-04-19 00:20] jaredpar opened #26249 "Logic on deploying VSIX is suspect"
Consider this property group in Settings.props

[code]

This is conditioning the deployment of our VSIX on Dev15RC and Dev14 semantics. Neither of those are supported by our build environment today. This is likely the cause of @davkean deployment issues. This should be cleaned up for the VS environments we actually support.

[2018-04-19 00:39] heejaechang opened #26250 "Remove workaround added in https://github.com/dotnet/roslyn/pull/26221 once compiler editorconfig work is done"
we should revert work done in https://github.com/dotnet/roslyn/pull/26221 once on-going compiler editorconfig work is done.

[2018-04-19 01:04] Tadimsky commented on #23391
I see the PR has now been merged - great!
When will be able to use this?

[2018-04-19 01:12] ivanbasov opened #26252 "EE uses DebuggerDisplay for the whole value, it can be useful to apply it for value elements"
Copied from [https://developercommunity.visualstudio.com/content/problem/232406/debuggerdisplay-doesnt-work-for-dictionaries-of-us.html](https://developercommunity.visualstudio.com/content/problem/232406/debuggerdisplay-doesnt-work-for-dictionaries-of-us.html)

[code]

The EE display is  `{[Foo, Program+InternalData]}` but can be improved to  `{[Foo, 1 | 2 | 3 ]}`.

The root cause of the limitatio

[2018-04-19 01:17] ivanbasov commented on #25771
@jinujoseph, @sharwell  the issue is currently assigned to me.  @sharwell are you going to complete the PR https://github.com/dotnet/roslyn/pull/26080 ?

[2018-04-19 01:26] ivanbasov commented on #25018
resolved with https://github.com/dotnet/roslyn/pull/26057

[2018-04-19 01:26] #25018 closed

[2018-04-19 01:26] sharwell commented on #25771
@ivanbasov Oh, I was expecting it to already be merged. I can take a look tomorrow.

[2018-04-19 01:27] ivanbasov commented on #25771
Thank you, @sharwell !

[2018-04-19 01:35] CyrusNajmabadi commented on #23391
@Tadimsky the only merge was of https://github.com/dotnet/roslyn/pull/25169.  And that's just a generic algorithm that has been merged into a feature branch.  It hasn't made it into the master branch, nor has it been adopted into the the editor_config area code.

[2018-04-19 01:41] yaakov-h commented on #24653
Seems to have been resolved by accident then. Closing...

[2018-04-19 01:41] #24653 closed

[2018-04-19 01:43] Tadimsky commented on #23391
Ah - I should have looked at the PR 😢
In that case, is there any way for me to do what this issue describes?

[2018-04-19 01:54] CyrusNajmabadi commented on #23391
You'd have to start with:

[code]

AllRawConventions is how the data flows into roslyn.  You'd need to track down how this flows everywhere, specifically into the NamingPreference code.   That code will have to enumerate this dictionary looking for the first item that matches (instead of whatever it is doing now).  Note: this will be us taking a strong dependency on that Dictionary enumerating thi

[2018-04-19 01:55] CyrusNajmabadi commented on #23391
@olegtk Would it be hard to get ICodingConventionsSnapshot to expose the raw conventions in an ordered fashion?   Right now we're in the unpleasant state where we're going to need to take a dependency on how standard .net Dictionary iterates values, and that's... not a happy place to be in.

Thanks!

[2018-04-19 02:19] #25990 closed, assigned to jcouv

[2018-04-19 03:43] JieCarolHu opened #26254 "[Performance] Should eliminate the calls for ProjectChanges.GetChangedDocuments()"
when fixing the bug https://github.com/dotnet/roslyn/issues/18199, I noticed the ProjectChanges.GetChangedDocuments() and DocumentState.HasContentChanged() get called too many times for the upgrade project scenario.
I added 2 similar functions: ProjectChanges.GetTextChangedDocuments() and DocumentState.HasTextChanged() which only get the documents whose text changed without checking things like Pa

[2018-04-19 05:36] olegtk commented on #23391
@CyrusNajmabadi hmm, so you need to preserve original order? In general it makes sense, but we need to decide how do we deal with merging, for example .editorconfig in a repro root declares
propA = foo
propB = bar
and then another .editorconfig in a project folder says
propC = baz
propA = bax

How show we order resulting properties for files in that project? .editorconfigs are merged top to bottom

[2018-04-19 06:39] davkean opened #26255 "Entering a new line in VB file resulted in System.OperationCanceledException: Undo failed due to readonly regions or canceled edit."
**Version Used**: Version 15.7.0 Preview 4.0 [27612.3001.d15.7stg]

**Steps to Reproduce**:

Don't have a very good repro, just created a .NET Standard project (VB) and pressed enter at $:

[code]

[code]

[2018-04-19 06:39] mkmn-xyz commented on #26197
@gafter
Nice news, github allowed to remove ghost's comments! What about ghost's issues?

Maybe it will be more constructive if you answer on my question about `in` extension method or create a related proposal, will not it?

[code]

[2018-04-19 06:46] davkean opened #26256 ""Use auto property" code fix loses initialized value"
**Version Used**:

**Steps to Reproduce**:

[code]
**Expected Behavior**:

I think this is the valid transformation but don't quote me on it:

[code]

**Actual Behavior**:

[code]

[2018-04-19 07:23] jnf007 opened #26258 "Internal error in compiler C #"
**Version Used**:
VS Community 2017 15.6.6
.Net Framework 4.0

I have ASP.NET project and dll project in solution. When I degugging (show watch) in asp.net project, is all ok. When I degugging in dll project, watch window not show variable value, but  (CZ lang) "Vnitřní chyba v kompilátoru C#"  "Internal error in compiler C#".

When I set option "Použít zastaralé vyhodnocovače výrazů C# a VB"   "U

[2018-04-19 07:26] CyrusNajmabadi commented on #23391
This might be the most ideal.  I think the roslyn strategy would then be to just examine the pre-merged hierarchy, walking upwards trying to find the first match in each each set.

Note: i really haven't thought this through.  I could see confusion with any sort of strategy taken.  @sharwell , thoughts?

[2018-04-19 07:36] CyrusNajmabadi commented on #23391
tagging @agocke as well who is porting hte editor code down to the compiler layer.  If that work gets done, roslyn probably won't need the editor to do anything.  however, any decisions we make should at least be applied to the CodeAnalysis implementation.

[2018-04-19 07:39] CyrusNajmabadi commented on #26258
@jnf007 can you provide a project where this repros?

[2018-04-19 08:14] msbasanth commented on #26169
Thanks, @bkoelman & @jmarolf
I can live with retargeting the analyzers to the full framework.

[2018-04-19 08:14] #26169 closed

[2018-04-19 09:44] CyrusNajmabadi commented on #20724
@gafter any idea if this will be something you can do as part of your pattern matching work?

[2018-04-19 10:41] jmarolf commented on #25253
I think I'm wrong.  This is likely a new and exciting bug.  We should start by running https://github.com/jasonmalinowski/roslyn-info-logger on a project with misc files to see why the workspace is not being loaded correctly

[2018-04-19 12:06] IanKemp commented on #24691
@DustinCampbell's fix did not entirely work for me - even after doing what he suggested, `ReflectionTypeLoadException`s were being thrown because `Microsoft.CodeAnalysis.Workspaces.Desktop` 2.7.0.0 was trying to load `Microsoft.Build.Framework`, `Microsoft.Build`, and `Microsoft.Build.Tasks.Core` versions 15.1.0.0, but the versions in my Visual Studio installation directory were 15.8.65.37198.

Th

[2018-04-19 12:18] IanKemp commented on #26231
@sharwell Thank you - this is what happens when I am sick... *and when there isn't appropriate documentation*. (Insert sound of dead horse beating.)

So then I guess the only remaining question is: why would you ever want to use * in the `*Version` properties, and is it worth updating the tooling and whatnot to handle that case in a nicer manner?

[2018-04-19 12:42] sharwell commented on #26231
Aside from backwards compatibility (not breaking projects that used it in the past), I am not aware of any reason.

[2018-04-19 13:24] Neme12 opened #26262 ""Make field readonly" introduces error on assignment"
[code]
Add readonly modifier is offer on 'i' and invoking it introduces a compiler error on the assignment.

[2018-04-19 13:25] Neme12 commented on #26262
Similarly:
[code]

[2018-04-19 13:32] Neme12 opened #26263 ""Make field readonly" should be offered when taking readonly ref"
[code]
Add readonly modifier should be offered on 'i'.

[2018-04-19 13:36] Neme12 commented on #26263
Should work with ref conditionals as well.

[2018-04-19 13:57] Neme12 opened #26264 ""Make field readonly" introduces error with deconstruction assignment"
[code]
Add readonly modifier should *not* be offered here.

[2018-04-19 14:47] jcouv commented on #26258
@jnf007 Would you be available for debugging via Skype (voice call in English + shared desktop)?
I'm not sure how to debug this. @cston, would you know where to start, or who to ask?

[2018-04-19 14:55] jcouv commented on #26245
There are two problems here:
1. the analyzer doesn't respect pragma
2. usage analysis ignore usage in doc comments (tracked by https://github.com/dotnet/roslyn/issues/2773)

If we fix the second issue, then the priority on the first issue drops (scenario is resolved).

[2018-04-19 15:14] sharwell commented on #26245
The correct solution *under the current compiler limitations* is enabling documentation comment output. If you want an experience similar to not having documentation output, set the following warnings to severity Hidden at the same time as enabling documentation comment output:

* CS1573
* CS1591
* CS1712

For more information see the following page:
https://github.com/DotNetAnalyzers/StyleCopAnal

[2018-04-19 15:51] MattGertz opened #26266 "For comment: Roslyn team SLA for addressing community PRs and bug submissions"
It's been nearly four years since we moved Roslyn to open source, and during that time we’ve worked on refining our processes and infrastructure to better enable and support it.  Much of that effort has been focused on the CI (continuous integration) train, particularly focused on automated testing.

One thing that we recognize that we haven’t done as well as we’d like is the processing of communi

[2018-04-19 16:38] MattGertz commented on #26266
I should note that we've already begun the work on identifying the older PRs that need rebasing and looping back to contributors, so as to get that in front of contributors as early as possible (thanks, @jaredpar !).

[2018-04-19 16:44] #26247 closed

[2018-04-19 17:22] #26249 closed, assigned to jaredpar

[2018-04-19 17:53] zo0o0ot commented on #25746
I am also experiencing this issue. I'm adding a comment to a block of commented code like this:

[code]

When pressing enter on the previous line to add a new line, the same error described above occurs.

[2018-04-19 18:03] CyrusNajmabadi commented on #26266
@MattGertz Sounds great.  My pieces of feedback (which may be covered above, but i missed it), are around the expected communication times provided.  Specifically, that when the SLA allows for long amounts of times (for example, multiple weeks), if the buddy could still check in on somewhat of a reasonable bases (maybe weekly would make the most sense) just to confirm things are on the radar and a

[2018-04-19 18:11] tannergooding commented on #23391
Basically copying my post from https://github.com/dotnet/roslyn/pull/26253#discussion_r182656328

EditorConfig files are imported and parsed from root downward (to the current directory). The standard behavior according to the editorconfig "spec" is last definition wins. My opinion is we should ensure that we follow this ordering, both to remain inline with the spec, but also to match what users f

[2018-04-19 18:12] CyrusNajmabadi commented on #26266
Another small niggle:

You need to specify what you mean by "older than six months".  Right now it seems like you're closing PRs older than six months, even if there has been active work on them.  Can you instead only close PRs that have *not* been touched in 6 months?

[2018-04-19 18:15] jnm2 commented on #26266
Rather than re-submitting, why not suggest that the author reopens the PR after resolving merge conflicts and pushing?

[2018-04-19 18:18] CyrusNajmabadi commented on #26266
Note: i cannot seem to reopen my PRs that were closed.  This is also problematic as i do not want to open new PRs which would then not have all the comments and discussion from the original.  I've pinged jared to reopen the ones that are still relevant.

[2018-04-19 18:25] CyrusNajmabadi commented on #23391
And my followup:

[2018-04-19 18:28] jnm2 commented on #26266
I didn't know this. From GitHub support via https://github.com/isaacs/github/issues/361:

So the PR author should first reopen, then force push.

[2018-04-19 18:33] CyrusNajmabadi commented on #26266
That's really unfortunate.  I'd been working on this PR https://github.com/dotnet/roslyn/pull/10873 with neal, and had recently just done more work on it based on the latest pattern changes.  Needing to reopen, which would lose all the discussion and whatnot is not great.

[2018-04-19 18:35] jnm2 commented on #26266
@CyrusNajmabadi All you have to to is put your new work in a temp branch, force push d9a8bf301af51808bda07a086f7ff9da4a42d712 back onto the PR branch, reopen the PR, and force push the new work from the temp branch to the PR branch.

[2018-04-19 18:36] CyrusNajmabadi commented on #26266
I think a far more appropriate and gentle approach would have been to give some warning on this.  If these steps were very destabalizing for the contributor, it's not very nice to give zero warning and then have it foisted on them.  Even giving a week with a message of "we're going to close this unless you pull this forward" would have been appreciated.  That would be esp. good given that the SLA

[2018-04-19 18:37] CyrusNajmabadi commented on #26266
Ah, ok.  I didn't realize it could go *back* to the original PR.  I thought a new PR was required.  That's much more palatable.

[2018-04-19 18:38] jnm2 commented on #26266
I haven't done it myself. Just seems reasonable given https://github.com/dotnet/roslyn/issues/26266#issuecomment-382835734.

[2018-04-19 18:42] CyrusNajmabadi commented on #26266
Yeah... i'm not having a ton of success here.  Could use some gitfu help.

[2018-04-19 18:44] jnm2 commented on #26266
This may be a red herring; maybe there's another factor at play then.

[2018-04-19 18:46] CyrusNajmabadi commented on #26266
I think this is something that a contributer cannot fix.  Someone from the team may have to step in to reopen.

[2018-04-19 19:44] #26021 closed

[2018-04-19 19:54] olegtk commented on #23391
@aditya-kadam FYI - a feature request

[2018-04-19 20:02] jaredpar commented on #26266
@CyrusNajmabadi which PR isn't able to be opened?

[2018-04-19 20:07] jaredpar commented on #26266
Can't find a good query for this. The closest I know of is the updated query but that includes innocuous actions like added label, referenced from an issue, etc ... We're actually using a mix of queries at the moment to work through the PRs.

[2018-04-19 20:16] CyrusNajmabadi commented on #26266
Well... just use the query you have now.  But just look and see what hte last commit date in the commit list.  If it's recent, don't close :)

[2018-04-19 20:17] CyrusNajmabadi commented on #26266
For example: https://github.com/dotnet/roslyn/pull/10873

I've tagged you in the PRs that were closed that i would appreciated reopened.  Thanks!

[2018-04-19 20:34] cston opened #26270 "EE: Provide public API for CompileExpressions"
Provide public API for `EvaluationContext.CompileExpressions`.

[2018-04-19 22:33] cston commented on #25253
From roslyn-info-logger:
[code]

[2018-04-19 22:46] tmat opened #26273 "Build of a repo using the latest dotnet SDK drop failed in csc task"
**Version Used**:

.NET SDK 2.1.300-preview3-008646

**Steps to Reproduce**:

Log: `%internal_share%\public\tomat\Bugs\Roslyn26273\Build.binlog`

[code]

[code]

[2018-04-19 22:49] tmat commented on #26273
@jaredpar @mmitche @weshaggard

[2018-04-19 22:51] jaredpar commented on #26273
@agocke can you take a look at this.

[2018-04-19 22:57] agocke commented on #26273
@tmat What does the Microsoft.NETCore.Compilers package have to do with this? Is this a pure dotnet failure or is it a combination of dotnet and the Microsoft.NETCore.Compilers package?

[2018-04-19 23:03] tmat commented on #26273
The build uses the compiler from Microsoft.NETCore.Compilers. I'm wondering if we need to update the version of the package we're using?

https://github.com/dotnet/roslyn-tools/blob/master/sdks/RepoToolset/tools/DefaultVersions.props#L39

This only happened when the build itself runs dotnet cli 2.1.300-preview3-008646.

[2018-04-19 23:04] tmat commented on #26273
Odd thing is that the build is not failing all the time.

[2018-04-19 23:25] jasonmalinowski commented on #18199
@ivanbasov I'd say there's a pretty good likelihood these are the same.

[2018-04-19 23:29] svick opened #26274 "KeyNotFoundException in StackOptimizerPass1 for switch expression in features/recursive-patterns"
**Version Used**: dc34a02, the latest commit in features/recursive-patterns

**Steps to Reproduce**:

Try to compile [the following code](https://sharplab.io/#v2:EYLgZgpghgLgrgJwgZwLRIMaOQSwG4SoAOsMECAdsgD4ACATAAQDCAsAFADeHjvjwAewEAbRgFEAjnCjDkACgHAAVhAwxGipQEpGAXgB8PPgEhNjZAHccMDAAsjfPt3aPXfZozwy4EPfsYwCD4ANA5ufAD6foxgMsgQYY4AvgDcHElAA) in SharpLab:

[code]

**Expected Behavior**: Successful comp

[2018-04-19 23:47] jinujoseph commented on #15003
closed via #26221

[2018-04-20 03:14] jinujoseph commented on #26270
cc @DustinCampbell  for info

[2018-04-20 05:33] moerwald opened #26276 "EditorConfig not working under Visual Studio 2017"
**Version Used**:
Microsoft Visual Studio Enterprise 2017
Version 15.6.3
VisualStudio.15.Release/15.6.3+27428.2011
Microsoft .NET Framework
Version 4.7.02556
Installed Version: Enterprise

Extensions:
TechTalk SpecFlow   30F08A29-D27E-42FF-92D3-50391313A1EF
TechTalk SpecFlow - Binding business requirements to .NET code, http://www.specflow.org
Copyright © 2009–2017 TechTalk

TSVN   1.9
Control Tor

[2018-04-20 08:41] MichalGrzegorzak commented on #23352
Same error, Win 10, VS 2017 Prof (v15.6.6)

System.InvalidOperationException : Matrix does not contain Key 'AB'.
   at Roslyn.Utilities.Contract.ThrowIfFalse(Boolean condition,String message)
   at Microsoft.CodeAnalysis.ExtractMethod.ExtractMethodMatrix.GetVariableStyle(Boolean captured,Boolean dataFlowIn,Boolean dataFlowOut,Boolean alwaysAssigned,Boolean variableDeclared,Boolean readInside,Boole

[2018-04-20 10:53] sharwell commented on #23352
@MichalGrzegorzak That appears to be a different issue (the key 'AB' is different from previous reports). Can you file a new issue for it?

[2018-04-20 13:27] ymassad commented on #13928
I wonder if this could be achieved by types classes (https://github.com/dotnet/csharplang/issues/110) once they are implemented.

[2018-04-20 13:35] HaloFour commented on #13928
@ymassad

Relevant conversation:  https://github.com/dotnet/csharplang/issues/1454#issuecomment-380534923

[2018-04-20 13:37] ymassad commented on #13928
This feature would allow writing of orchestrating code irrelevant of the type of the awaitable.

As a concrete example, I have created a custom awaitable (and tasklike) called DfTask to present a operation in a producer-consumer dataflow. You can find the project here: https://github.com/ymassad/ProceduralDataflow

With the proposed feature I could write generic shared code describing the flow of

[2018-04-20 14:41] #20943 closed

[2018-04-20 15:21] vsfeedback opened #26284 "Visual Studio stops responding to keyboard input"
Seemingly random, but in HTML markup, the IDE refuses input from the keyboard and mouse.  If I go out side the markup - at the bottom of the page it accepts input.  But if you go back to the markup it refuses to let you edit or create new markup.

In the attached recording the IDE did start taking input.   I had entered a number of returns and other random characters prior to the input returning t

[2018-04-20 15:26] sharwell commented on #26284
The performance trace shows the following assertion failing:
https://github.com/dotnet/roslyn/blob/f76e5ed82fd095ab6d5f489bc3fdf3b4f3b9f145/src/EditorFeatures/Core/Shared/Extensions/ITextViewExtensions.PerSubjectBufferProperty.cs#L32

[code]

I also see some exceptions thrown in ReSharper code, but it's not clear whether or not that would impact this scenario.

[2018-04-20 16:43] jcouv opened #26285 "Unshipped file creates un-necessary diff noise"
For instance, in PR https://github.com/dotnet/roslyn/pull/26202, much of the change is just re-ordering.

I think the code lives here: https://github.com/dotnet/roslyn-analyzers/tree/master/src/Roslyn.Diagnostics.Analyzers

- [x] Relax sorting logic in analyzer (https://github.com/dotnet/roslyn-analyzers/pull/1672)
- [ ] Integrate new analyzer package into rolsyn repo (https://github.com/dotnet/ro

[2018-04-20 16:56] AlekseyTs commented on #26285
It looks like code fixer always reshuffles  content of this file. I am not sure why does it have to do this. If it sorts content, is it possible that the sort it uses is environment sensitive? I.e. can produce different result on different machines, etc.

[2018-04-20 18:29] CyrusNajmabadi commented on #26285
I think the intent is that people always use the code fixer and they do not manually edit the file.  Manual editing can be a problem because it's far more likely for conflicts to happen.  In general, with files that represent lists of data lke this, time-ordered data has more conflicts than sorted data.

[2018-04-20 18:31] CyrusNajmabadi commented on #26285
Perhaps the file at the top should say that this should not be edited by hand and that you should eiterh use the tool, or keep things sorted.

[2018-04-20 18:31] jcouv commented on #26285
I don't think anyone edits this file by hand. We suspect that the misordering results from merging different branches.

[2018-04-20 18:36] tmeschter commented on #26285
There _have_ been instances of the file being edited by hand, but I agree that merging branches is the more likely culprit.

Note that if new items were only added to the end, rather than in sort order, it more or less guarantees perpetual merge conflicts.

[2018-04-20 18:38] CyrusNajmabadi commented on #26285
ah, interesting.  @tmeschter sounds like a potential issue for sorted xlf files during merge as well, right?

[2018-04-20 18:58] #19191 closed

[2018-04-20 18:58] #26037 closed

[2018-04-20 18:59] sharwell commented on #26205
Duplicate of #26037

[2018-04-20 18:59] #26205 closed

[2018-04-20 19:00] tmeschter commented on #26285
@CyrusNajmabadi XLF files have a somewhat different use case, and a correspondingly different approach to updates.

With .xlf files we never forcibly sort the whole file. Instead, when inserting a new item we do a linear scan for the first existing item that logically comes after the new one, and insert there. Over time this will produce a file that is generally but not perfectly sorted. This is g

[2018-04-20 19:09] veler commented on #26077
Hi,

I'm posting my problem here because I think it's related but I would like to double check.
I have a similar issue than described above, but in my case, it builds correctly. The issue I get is at runtime.

**Version used**
2.7.0

**Step to reproduce**

    internal static void Main()
    {
        // MyVoid is a void. Implictly, this lambda should be an Action.
        // But with Microsoft.Co

[2018-04-20 19:09] CyrusNajmabadi commented on #26285
Yup.  That makes sense.  The forced sorting here does seem quite problematic.  I like the xlf approach you took.  Seems like a reasonable approach for these files as well.  Keep things mostly conflict free, while ensuring easy reviewability.

[2018-04-20 20:15] jcouv commented on #26285
From discussion with @AlekseyTs, I'm thinking to modifier the public API fixer to not sort its output. When inserting, it should find the first reasonable place to insert (to keep the file more or less sorted). When updating, it should update the line in-place.
Would that make sense?

[2018-04-20 20:25] CyrusNajmabadi commented on #26285
Makes sense to me.

[2018-04-20 20:41] gafter commented on #22969
Fixed in https://github.com/dotnet/roslyn/pull/23921

[2018-04-20 20:41] #22969 closed

[2018-04-20 20:52] FaustVX opened #26290 "CS8121 : switch perform the implicit cast to int before the pattern matching"
**C# 7.2**:

**Code**:

[code]

in Main.cs
[code]

**Actual Behavior**:
the switch convert ```number``` to ```int``` because of ```implicit operator int(EvenOddNumber type)``` in ```SemanticType<int>```

If the cast is now ```explicit operator int(EvenOddNumber type)``` all works fine, but I don't want that.

**Expected Behavior**:
the switch shoud try first to perform a pattern matching with the

[2018-04-20 20:56] gafter commented on #9098
This bug does not make sense in the context of the current syntax.

[2018-04-20 20:56] #9098 closed

[2018-04-20 20:59] CyrusNajmabadi commented on #20724
@gafter Another example is also "out vars" they have a similar problem where if you make changes, these will be seen as new declarations in the speculative model that will clash with existing declarations.  If these can be relaxed as well, that would be helpful.

[2018-04-20 20:59] CyrusNajmabadi commented on #20724
See https://github.com/dotnet/roslyn/pull/26288/files#r183168130 for more context.

[2018-04-20 21:04] CyrusNajmabadi commented on #9098
@gafter That's fine with me. HOwever, as part of the "match expressoin" work, can we ensure (and test) that formatting/indentation does do the right thing?  i.e. when you enter, the 'cases' (or whatever we call them) should be aligned.

[2018-04-20 21:07] cezarypiatek commented on #25962
Seems to be solved here https://github.com/dotnet/roslyn/issues/25899

[2018-04-20 21:32] jaredpar opened #26292 "Xml doc comment munging param names"
Consider the following code:

[code]

When this is built with XML doc comment generation enabled the name of the `param` field will be munged to `MS-Example-Example`.

[code]

This also affects `.` as a separator in the name attribute, as seen in [AB#1272292](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1272292).

[2018-04-20 21:36] KirillOsenkov opened #26293 "Debugging Roslyn: mismatch between line breaks on Mac vs. in .pdbs"
We've discovered that debugging Roslyn on Mac doesn't work because when we git clone Roslyn and checkout the specific SHA on a Mac, it checks out using `\n` line endings, whereas the .pdbs for Roslyn have `\r\n` baked in, and so the debugger checksums don't match.

My theory is that even though Roslyn stores the sources with `\n` in the Git repo, when the CI machines check out on Windows, they che

[2018-04-20 21:37] KirillOsenkov commented on #26293
cc @DavidKarlas

[2018-04-20 21:40] sharwell commented on #26293
How is GitLink/SourceLink *supposed* to handle this situation? Ideally the following would occur:

* Source files are stored with normalized line endings
* Source files are checked out according to the users local settings
* Debugging works for everyone

Currently the first two cases hold, but the third does not.

[2018-04-20 21:51] KirillOsenkov commented on #26293
I'm hinting at maybe switching Roslyn `.gitattributes` to `* -text` so that Roslyn sources are checkout as-is on all machines without any line ending conversions whatsoever.

[2018-04-20 21:56] sharwell commented on #26293
In practice I have observed nothing but disasters from that. In theory you could apply `eol=crlf` to the source files, but that comes with its own set of problems (namely a precondition on repositories attempting to use GitLink/SourceLink which authors, including myself, may object to).

[2018-04-20 22:21] cston opened #26294 "StackOverflow binding T? in constraint"
Compile with nullable reference types:
[code]

[2018-04-20 22:42] gafter commented on #20725
I could not repro this in the `features/recursive-patterns` branch.

[2018-04-20 22:42] #20725 closed

[2018-04-20 22:44] gafter commented on #20724
I am unable to repro this on the latest `features/recursive-patterns` branch. I suspect this is due to the code changes in https://github.com/dotnet/roslyn/pull/25774. This proposed unit test passes:

[code]

I consider this (the fact that `RemoveAliasQual` has to be declared outside the test) a poster child for local type declarations.

[2018-04-20 22:48] gafter commented on #20724
The fact that the new variable declarations are seen as clashing does not undermine the semantic model working as desired for this case in the current `features/recursive-patterns` branch.

[2018-04-20 22:50] AlekseyTs commented on #26292
This doesn’t appear to be a new issue, I can reproduce it with compiler built on 2016-10-20.

[2018-04-20 22:52] CyrusNajmabadi commented on #20725
@gafter

Do you have a test that demonstrates that this works inside a speculative model?  That would be valuable i think.  I can try to resurrect this feature again to see if i still have a problem here.

[2018-04-20 22:54] AlekseyTs commented on #26292
Warnings from Roslyn:
[code]

Warnings from native compiler:
[code]

It appears there is a difference in what compilers consider as a parameter name 'MS' vs.  'MS-Example'.

[2018-04-20 22:58] CyrusNajmabadi commented on #20724
Ok cool.  I'll see if this works now.  Thanks!

[2018-04-20 23:10] gafter commented on #26290
This behavior is by design. If you want to avoid that conversion, cast the switch governing expression to `object`, and then use the implicit conversion explicitly, e.g. by writing your last case to handle `EvenOddNumber`.

[2018-04-20 23:10] #26290 closed

[2018-04-20 23:13] gafter commented on #26058
I suspect what is going on here is that this error is detected during code generation (not semantic analysis) and therefore not reported by `Compilation.GetDiagnostics()`. We have special handling for such diagnostics, but I suspect this one fell through the cracks.

[2018-04-20 23:15] gafter commented on #26114
@AdamSpeight2008 If you are attempting to report problems with specific unit tests, please identify them much more specifically. As far as we know our unit tests are correct.

[2018-04-20 23:15] #26114 closed

[2018-04-20 23:16] #25902 closed

[2018-04-20 23:23] natemcmaster opened #26299 "Add netstandard2.0 to Microsoft.CodeAnalysis.Common?"
**Problem**
As of Microsoft.CodeAnalysis.Common 2.8.0-beta4, this package still targets netstandard1.3. This leads to unnecessary bloat in the package graph. Is there any reason we can't add netstandard2.0 (in addition to ns1.3)?

Some results of adding ns2.0 may include:
 - faster restore times
 - reduce size of the .NET Core SDK installers (we think we can save ~10-15 MB in the offline package c

[2018-04-20 23:34] gafter commented on #20724
Fixed (by adding a test to show it is fixed) in https://github.com/dotnet/roslyn/pull/26295

[2018-04-20 23:34] #20724 closed

[2018-04-20 23:36] gafter commented on #20725
I added a couple of tests for that in https://github.com/dotnet/roslyn/pull/26295

[2018-04-20 23:58] CyrusNajmabadi commented on #20724
Have validated this works for the feature as well.  Thanks @gafter !

[2018-04-21 00:14] jaredpar commented on #26299
To be clear we definitely can't change from netstandard 1.3 to netstandard 2.0. I know you didn't ask for that but I wanted to elaborate on it a bit for clarity. The reason is that every desktop component we ship in requires us to target net46 (yes this is true even though we only ever actually run on net461+). This is why we continue to target netstandard 1.3.

It is possible for us to add netsta

[2018-04-21 00:28] CyrusNajmabadi commented on #26264
@jcouv Currently, the IDE does analysis to determine if a variable is written to or not.  In general this has not been too complex.  However, tuples definitely make this a bit thorny.  After all, the above would be considered a write of 'i' and 'j', but if ```(i, j)``` were on the right of the assignment, and not hte left, there would be no issue.

based on your deep knowledge of the syntax of the

[2018-04-21 00:29] jcouv commented on #26285
Queued PR: https://github.com/dotnet/roslyn-analyzers/pull/1672

[2018-04-21 00:35] natemcmaster commented on #26299
I figured this was no small ask. Thanks for clarifying why this is a lot of work right now.

Some responses to your points.

I was mostly thinking about this: source-build already has a bunch of [dummy](https://github.com/dotnet/source-build/tree/e09e728c00dbeae8246887bcb987ff493ab15947/src/reference-assemblies/nuspecs) packages required to satisfy the restore step during builds. Adding Microsoft.

[2018-04-21 00:47] jcouv commented on #26264
@CyrusNajmabadi Yes, `GetContainingDeconstruction` is what I was going to suggest. Basically, if you are in a tuple that is on the left of an assignment, then you are being assigned to.

In terms of related/weird scenarios:
- Deconstruction-declarations and deconstruction-foreach aren't an issue, since they declare variables.
- The language doesn't allow mixing declarations and assignments. But it

[2018-04-21 00:52] CyrusNajmabadi commented on #26264
Great, thanks much.  I'll do a bunch of tests in those areas (including the invalid ones).  Thanks!

[2018-04-21 02:25] CyrusNajmabadi commented on #26263
@VSadov can you point me to the latest docs on ref-expressions/readonly-ref?  i'd like to understand all the locations it can happen and what sort of syntactic/semantic checks i'll need to perform to understand that this is a safe situation to use "make field readonly".  Thanks!

[2018-04-21 03:25] heejaechang opened #26305 "ChangedText.GetTextChanges should not assert"
[code]

add this test and run. then, this will assert
http://source.roslyn.io/#Microsoft.CodeAnalysis/Text/ChangedText.cs,375

this should return full file content as changed if it can't figure out text changes between 2 given SourceText.

our SourceText doesn't have concept of before or after text like editor's ITextImage (there is no prevous or next pointer in SourceText or versioning). ChangedT

[2018-04-21 14:00] ericmutta commented on #26058
Many thanks for following up. In the interim, (in case anyone else runs into this issue), here is the fully portable code to use in place of the LIKE operator:

[code]

With that function in place, instead of writing `foo LIKE "test*.*"`, you do `WildcardMatch(foo, "test*.*"`)`. The `WildcardMatch` function above doesn't support all the wildcard features, but can be extended to do so with relative

[2018-04-21 18:14] heejaechang opened #26307 "Remove back pointer back to Document from DocumentSpecificOptionSet"
Right now, holding onto DocumentSpecificOptionSet will hold onto whole Roslyn solution

http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Options/OptionServiceFactory.cs,d879c3b0847aac0b,references

combined with this bug https://github.com/dotnet/roslyn/pull/26306, holding onto old option will hold onto every roslyn solution snapshots after that.

if possible, it would be good to make Op

[2018-04-21 18:18] sharwell opened #26308 "Failure to initialize OOP crashes Visual Studio"
**Version Used**: 15.7 Preview 4

Occurred shortly after opening the solution, after attempting to use the lightbulb in a file.

[code]

[2018-04-21 19:30] CyrusNajmabadi opened #26310 "IOperatoin does not seem to have a way to specify the ref-kind for a return statement."
For example IConditionalOperatoin has IsRef, but IReturnOperation has no information here.  I would expect either an IsRef property, or a RefKind property (since you could have ```ref readonly``` method, and a ```return ref``` statement will give you a ```ref readonly``` value.).  The latter would be preferred to me since it would mean you wouldn't have to go check the containing method to see if

[2018-04-21 19:31] CyrusNajmabadi commented on #26310
Tagging @heejaechang @mavasani was this an intentional omission?  Or was it accidental? Is there some other non-syntactic way to get this info?

Thanks!

[2018-04-21 19:33] mavasani commented on #26310
Also tagging @alekseyts

[2018-04-21 19:38] CyrusNajmabadi commented on #26310
Note: this was found making an actual feature.  The need here is not speculative.  Thanks!

[2018-04-21 20:10] CyrusNajmabadi commented on #26293
Funnily enough, i see the opposite.  Having systems *only* treat files as raw data to not be interpreted leads to the best situation, where you don't run into issues exactly like this.  It seems odd htat a system ostensibly about strong guarantees about exact preservation with of file data, would have these sorts of translation steps going on.  It makes it part of hte design of the system that dif

[2018-04-21 20:13] JosefPihrt opened #26311 "Simplifier does not simplify parenthesized default literal expression"
**Version Used**: 2.8.0-beta4

**Steps to Reproduce**:
[code]

**Expected Result**:
[code]

**Actual Result**:
[code]

[2018-04-21 20:29] JosefPihrt opened #26312 "Refactoring "Make method async" should not add suffix "Async" to main method"
**Version Used**: 2.7.0

**Steps to Reproduce**:
[code]
**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

[2018-04-21 21:59] sharwell opened #26313 "Variable from `using` cannot be used as `ref` or `out`"
**Version Used**: 15.7 Preview 4

**Steps to Reproduce**:

[code]

**Expected Behavior**:

The calls to `Move()` and `Move2()` are equivalent.

**Actual Behavior**:

The call to `Move2()` results in the error described.

**Additional Information**:

The call to `Move()` shows that invocations using a reference to a value used in a `using` statement are allowed in some contexts. In these contexts,

[2018-04-21 22:18] jcouv opened #26314 "IntroduceLocal should rank low when invoked without selection"
In an invocation `M(2)`, place the cursor on `2` and then press `Ctrl+.`.
The `IntroduceLocal` refactorings should rank low.

![image](https://user-images.githubusercontent.com/12466233/39089232-1b59ac24-4577-11e8-9ca1-a753c42de822.png)

[2018-04-21 22:39] CyrusNajmabadi commented on #26314
What lightbulb entries would you prefer to see above 'introduce local' and why?

[2018-04-21 22:53] #25654 closed

[2018-04-21 23:28] vsfeedback opened #26315 "async Main with multiple entrypoints"
I have three console apps in a project with Main entrypoints. I changed one of them to be &quot;async Task Main&quot;. Now, when I go into the project properties, the one that I set to async no longer shows up in the &quot;Startup object&quot; application setting. The two that I left alone still show up.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/2

[2018-04-21 23:30] jinujoseph commented on #26315
http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices.CSharp/ProjectSystemShim/CSharpProjectShim.ICSharpProjectSite.cs,ce3e7d81073fb9e3,references

[2018-04-21 23:46] jcouv commented on #26313
@OmarTawfik Could you take a look?

[2018-04-21 23:50] jcouv commented on #26314
Add argument seems more useful in this case.

[2018-04-21 23:53] jinujoseph commented on #24567
also reported at [link](https://developercommunity.visualstudio.com/content/problem/228380/visual-studio-crashes-when-renaming-generic-type-a.html)

[2018-04-22 00:13] CyrusNajmabadi commented on #26314
i'm not sure that i agree.  Personally, neither seem particularly more important than the other.  Curious what @DustinCampbell thinks.

However, if we did want that, we could just do that by ordering these refactorings  (not necessarily having things be low-priority).

[2018-04-22 02:04] vsfeedback opened #26317 ""IDE0017 object initialization can be simplified" leads to erroneous "CS0165 Use of unassigned local variable""
If you initialize an object with a value, and then use the object initializer to set more properties, where one of those properties in some way is or encapsulates the value being initialized, the C# compiler reports an erroneous CS0165.

var state = new SomeObject()
{
    SomeProperty = new SomeOtherObject(state);
};

The aboves statement is actually just syntactic sugar for the following:

var st

[2018-04-22 02:08] CyrusNajmabadi commented on #26317
I don't repro this behavior on the lastest VS bits.  The usage of "state" in "new SomeOtherObject(state);" blocks the refactoring from being offered.  If you remove the usage, then it is offered.

[2018-04-22 02:10] vsfeedback opened #26318 "using statement marked as not used when it is used inside comment"
While documenting a class, I added a triple-slash comment at its head and included a `<see cref="ModuleDeclarationBlock"/>` within it. This failed to autocomplete while typing and also didn't highlight correctly until the relevant using was added. However, the using statement added is greyed out and is removed if the &quot;Remove and Sort Usings&quot; option is used.

I appreciate that the using s

[2018-04-22 02:30] jcouv commented on #26314
Hum, OK. It's a nit anyways. I'll close  :-)

[2018-04-22 02:30] #26314 closed

[2018-04-22 02:59] vsfeedback opened #26319 "Rename refactor forgets "Preview changes" selection (regression since VS2013)"
<p>When doing a Rename refactor, Visual Studio 2017 15.5.3 &quot;forgets&quot; my last &quot;Preview Changes&quot; preference every time. This means each time I have to take my hands off the keyboard &amp; use the mouse to manually re-check that checkbox. Very cumbersome, &amp; it did not behave this way in VS 2013 (which always remembered the last setting).</p><p></p><p>
(Note: This issue is actu

[2018-04-22 03:12] sharwell commented on #26318
Duplicate of #2773

[2018-04-22 03:12] #26318 closed

[2018-04-22 07:26] vsfeedback opened #26322 "VB.NET: Intellisense suggesting primitive types when searching for attributes"
When trying to apply an attribute (to property, class, function, whatever), Intellisense is also suggesting primitive types (Integer, Decimal, etc) that doesn't make any sense in this context.

I know one can hide them by checking in the approriate intellisense filtering options, but that won't persist to the next intellisense window.

It is something annoying because it pollutes the list and make

[2018-04-22 12:53] miloush opened #26323 "Implement interface quick fix does not add class brackets for nested types"
**Version Used**: 2.8.0.62811 / 15.7 P4

**Steps to Reproduce**:
[code]
Invoke the Implement interface quick fix.

**Expected Behavior**:
Brackets added, as in the case of top-level class:
[code]
**Actual Behavior**:
[code]

[2018-04-22 15:44] MaximG1234 opened #26324 "IDE0032 C# Use auto property [volatile and readonly properties]"
**Version Used**:
VS 2017 15.6.6 - Compiler Version 4.7.2556.0

**Steps to Reproduce**:

1. Paste private readonly string _myrandomvar = "blah."; into class header
2. Paste private volatile bool _myboolean= false; into class header.

**Expected Behavior**:
No warning as nether of these properties can be expressed as a C# auto-property.

**Actual Behavior**:
IDE0032  C# Use auto property warning an

[2018-04-22 16:03] benaadams commented on #26324
First `readonly` one could?
[code]
Don't think the second one could as `volatile` couldn't be captured

[2018-04-22 16:06] #26220 closed

[2018-04-22 18:07] CyrusNajmabadi commented on #26314
You don't need to close.   :)  Like i said, i dont' personally see either as more important than the other.  If you and others feel differently we could def change the ordering of these refactorings.  :)

[2018-04-22 19:09] Neme12 opened #26326 "CS8107: "Feature 'async main' is not available in C# 7.0" doesn't appear in the IDE"
Sample code:
[code]
When I build this with C# 7.0, I see two errors:
[code]
for some reason I'm only seeing the second one in the build output, not in the IDE or the error list. It would be helpful if it did show up in the IDE on the `Main` token so that we could provide a code fix to upgrade the project.

[2018-04-22 19:49] Neme12 commented on #26324
Could you please provide a full sample so that we can reproduce this? It doesn't appear if you only have a field.

[2018-04-22 19:56] #25720 closed

[2018-04-22 19:56] Neme12 commented on #26324
I'm seeing the correct behavior with readonly which is to generate a getter-only auto property as @benaadams pointed out.

[2018-04-22 19:57] Neme12 commented on #26324
The issue with volatile fields was fixed in #25431 and should be available in 15.8.

[2018-04-22 20:02] gafter commented on #25298
Language grammars and tools for managing or visualizing them are not part of the Roslyn project.

Neither Syntax.xml nor BoundNodes.xml represent the language grammar.

[2018-04-22 20:02] #25298 closed

[2018-04-22 20:04] gafter commented on #25025
Resolved in C# 7.3.

[2018-04-22 20:04] #25025 closed

[2018-04-22 20:41] gafter commented on #9331
The original issue described here has been addressed.

[2018-04-22 20:41] #9331 closed

[2018-04-22 20:43] gafter commented on #16402
This issue is over a year old, and the test in question appears to be working. Closing. Please reopen if this is still an issue.

[2018-04-22 20:43] #16402 closed

[2018-04-22 20:44] gafter commented on #20008
I hope your question has been answered. Any further questions about reflection should probably be directed at a repo that covers the reflection APIs.

[2018-04-22 20:44] #20008 closed

[2018-04-22 21:02] dmitriyse commented on #9482
Probably this issue should be moved to https://github.com/dotnet/csharplang repo. And hopefully scheduled to C# 7.4 or 8.0

[2018-04-22 21:27] gafter commented on #24488
Closing, as I do not see a way to clearly specify the proposed method, and I therefore do not think it is something we would do.

[2018-04-22 21:27] #24488 closed

[2018-04-22 21:30] gafter commented on #24569
The compiler does not parse code that is conditionally included (e.g. `#if DEBUG`) when the preprocessor symbol (e.g. `DEBUG`) is not set. So any invocation found in the parse tree is definitely part of the program.

I'm not saying that there are no use cases for this feature request, but I don't see how the stated use case requires this proposed API.

[2018-04-22 21:45] Neme12 opened #26327 "Glyph enum doesn't contain LocalFunction"
discovered here: https://github.com/dotnet/roslyn/pull/26165#discussion_r181797391
See https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/Common/Glyph.cs

Local functions are currently treated as private methods. They should have their own definition which should probably also be exposed in the IDE with a new icon.

![image](https://user-images.githubusercontent.com/11444821/3

[2018-04-22 22:09] Neme12 commented on #26327
Looking at the pattern with other icons and assuming that square brackets represent something is "local", I imagine it could look like this:
![image](https://user-images.githubusercontent.com/11444821/39100418-886629c8-468a-11e8-9863-74fdf6b610d8.png)

[2018-04-22 23:08] rdstevens commented on #19205
Yes! Disable CodeLens and my CPU usage drops, Visual Studio responds to key presses in a timely fashion, intellisense is speedy once again, and my laptop battery survives for extra hours!

It's a shame: I really like CodeLens.

Perhaps there should be an option to automatically disable when running on battery power?

[2018-04-23 00:21] CyrusNajmabadi opened #26328 "Symbol API exposes data that can be mutated by the caller"
Found while working on: https://github.com/dotnet/roslyn/pull/26325

Right now the symbol model has ```IEnumerable<string> INamedTypeSymbo.MemberNames { get; }```.  However, both the VB and C# implementations implement that member with a simple ```string[]``` that is passed directly out to the caller.  This means the caller can trivially cast this to the real type and mutate the array, corrupting

[2018-04-23 00:49] CyrusNajmabadi opened #26329 "Decompilation from a VB projet produces a C# file, but then opens it in a VB workspace."
For example:

![image](https://user-images.githubusercontent.com/4564579/39102067-5df62736-4655-11e8-8f97-53cbb0f3b9e5.png)

This clearly breaks everything since the C# code can't be well understood by the VB LS.

Options:

1. Use a VB decompiler in VB settings.
2. If we can only use a C# decompiler, then make a C# project to put hte code into.  Don't fake up VB project for that code.

[2018-04-23 02:35] MattGertz commented on #26266
@CyrusNajmabadi Thanks for the feedback.  Sorry for the delay in responding; I was off Friday etc. doing the college visit thing with my daughter.  Specific feedback:

(1) I was envisioning the buddy checking in (at least) weekly, so you and I agree here.  I'm using tomorrow's staff meeting to start"The Rulez" on responses so we can ratify that there.  Hmm... of course, when the buddy goes on vaca

[2018-04-23 08:52] denisbredikhin opened #26333 "CompletionItemSelectionBehavior for LINQ methods"
**Version Used**: 2.7.0

**Steps to Reproduce**:

1. Call CompletionService.GetCompletionsAsync for following code: `string.Format(s`
2. Call CompletionService.GetCompletionsAsync for following code: `new[] { 1 }.Where(s`
3. Compare SelectionBehavior of all items in these two cases

**Expected Behavior**:
I expect that in first case SelectionBehavior at least for some items would be HardSelection

[2018-04-23 12:16] veler opened #26334 "Overload resolution for Action/Func<Task> at Runtime"
Hi,

I'm posting my problem here because it happens at runtime, but I think it's related to the following issue : #26077
I have a similar issue than the one described above, but in my case, it builds correctly. The issue I get is at **RUNTIME**.

**Version used**
2.7.0

**Step to reproduce**

[code]

**See** [https://sharplab.io/#v2:CYLg1APgAgDABFAjAbgLAChYMQVjZgZgQCY4BhODAbwzjrgEsA7AFwFMAnJgQwBts

[2018-04-23 12:17] DmitriiGaidukov commented on #26146
@jinujoseph, excuse me, just for double check. Did I provide enough details about my problem?

[2018-04-23 12:45] svick commented on #26334
Can you clarify how exactly to reproduce the issue? [Your SharpLab link](https://sharplab.io/#v2:CYLg1APgAgDABFAjAbgLAChYMQVjZgZgQCY4BhODAbwzjrgEsA7AFwFMAnJgQwBtsAbAgAs2ABwAKAJS16NdPUVwA9MrgBZAJ4A1APYNgjAM5xuIgHRwAkgFsADrwYBjFr00AaOCwAWDE724bACNgMyNvXQBXXkMgtlMmbGJzWSUVNQAhSJY4AHcGHw1nDl0jXQAzFnMyXWA2AEEeNyM/aoBlb24OOzhkgHZzGE8C4zgnXSYWuo42Q24TMygcUxyOSNYGGzYUhTS4ACV1iWk4AF4APg0dfWBpKXxFAF9FVMpdum

[2018-04-23 13:39] veler commented on #26334
Oops...
After doing a more complete prototype, I realized that the issue was coming from somewhere else. Nothing to do with Roslyn...
Sorry for the inconvenient.

[2018-04-23 13:39] #26334 closed

[2018-04-23 15:02] migueldeicaza opened #26335 "Code generation change regresses Xamarin applications with .NET Standard and Unsafe Code"
**Version Used**:

Good version: Microsoft (R) Visual C# Compiler version 2.3.2.61928 (ec1cde8b)
Bad version: Microsoft (R) Visual C# Compiler version 2.7.0.62620 (e873e693)

**Steps to Reproduce**:

The full bug description is here:

https://github.com/mono/mono/issues/8403

Compile this code, with the old and new versions of Roslyn:

[code]

Using the following options, to force the use of .NET