[2022-10-31 23:17] #37174 closed

[2022-10-31 23:18] bernd5 commented on #36027
@CyrusNajmabadi for me this is not a big issue anymore - because I remove trivia completely now. But I could imagine that for other people it might be.
Currently I'm quite busy, not sure if I have time for a contribution here.

[2022-10-31 23:18] CyrusNajmabadi commented on #37185
Closing out.  These features are in maintenance mode and are not receiving updates.  if these end up getting replaced with some new system, we can make this work then.

[2022-10-31 23:18] #37185 closed

[2022-10-31 23:18] CyrusNajmabadi commented on #37191
This is not roslyn.  This should be tracked with an internal issue.

[2022-10-31 23:18] #37191 closed

[2022-10-31 23:18] CyrusNajmabadi commented on #37191
And ideally this falls out with LSP.

[2022-10-31 23:19] #37195 closed

[2022-10-31 23:19] CyrusNajmabadi commented on #37251
Closing out.

[2022-10-31 23:19] #37251 closed

[2022-10-31 23:20] CyrusNajmabadi commented on #37260
@jnm2 yup. we'd likely take a PR from you on this.

[2022-10-31 23:21] #64045 closed

[2022-10-31 23:23] CyrusNajmabadi commented on #37345
@333fred does this still apply?  or can we close out?

[2022-10-31 23:30] #37345 closed

[2022-10-31 23:38] CyrusNajmabadi commented on #30674
@JosefPihrt

[2022-10-31 23:39] #27428 closed

[2022-10-31 23:39] #30249 closed

[2022-10-31 23:47] ryzngard commented on #64597
For cases where it's not async we do out variables. This looks specifically for when cases are async... will see about fixing this.

[2022-10-31 23:54] CyrusNajmabadi commented on #37406
We're not likely to change anything here.  recommendation would be to switch this to a record.

[2022-10-31 23:54] #37406 closed

[2022-10-31 23:55] #37420 closed

[2022-10-31 23:55] CyrusNajmabadi commented on #37424
This is not needed.

[2022-10-31 23:55] #37424 closed

[2022-11-01 00:14] JosefPihrt commented on #30674
Repro project is here:

[GetChangedDocumentsBug.zip](https://github.com/dotnet/roslyn/files/9905714/GetChangedDocumentsBug.zip)

[2022-11-01 00:15] #29487 closed

[2022-11-01 00:40] carlin-q-scott opened #65134 "GeneratedMSBuildEditorConfig.editorconfig reference can exceed maximum string length"
**Version Used**:
MSBuild version 17.3.1+2badb37d1 for .NET Framework
Microsoft Visual Studio Professional 2022 (64-bit) Version 17.3.6
dotnet 6.0

`dotnet build --version` reports MSBuild version 17.3.2+561848881 for .NET.

This issue only shows up when building from Visual Studio, or when using MSBuild. `dotnet build` does not exhibit this issue.

**Steps to Reproduce**:

1. Create a project wit

[2022-11-01 00:44] dibarbet commented on #28755
nope, we have one ([internal only link](https://dnceng.visualstudio.com/internal/_dashboards/dashboard/7cd4c2dc-8e75-4cb6-9936-e937c0e496c4))

[2022-11-01 00:44] #28755 closed

[2022-11-01 00:44] dibarbet commented on #28786
nope!

[2022-11-01 00:44] #28786 closed

[2022-11-01 02:28] jmarolf commented on #30662
I believe this has been fixed

[2022-11-01 02:28] #30662 closed

[2022-11-01 02:30] jmarolf commented on #32022
The licenses for both the binaries and the source have been unified to be MIT. I think this can be closed now.

[2022-11-01 02:30] #32022 closed

[2022-11-01 02:31] allisonchou opened #65136 "[Automated] PRs inserted in VS build main-33031.354"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/77904ac785bbddb853161aed9eac6ca03aba0ddf...d78426fdaf14ced5280f94cbf8c6336fac3e7d06?w=1)
- [For the purpose of definite assignment analysis, an async local function is no longer treated as being awaited (64482)](https://github.com/dotnet/roslyn/pull/64482)
- [Revert "Scoped implicitly-typed lambda parameters (#64680)" (64986)

[2022-11-01 02:32] #65136 closed

[2022-11-01 02:33] ryzngard commented on #60303
Confirmed working as expected with `csharp_style_expression_bodied_methods`

[2022-11-01 02:33] #60303 closed

[2022-11-01 02:38] ryzngard commented on #54885
I'm unable to reproduce this in the latest

![aebbcbd1-02b2-4a82-9764-53350661f7c0](https://user-images.githubusercontent.com/475144/199146525-4771005c-6abd-4c45-a15f-2eda51979382.gif)

Please feel free to reopen and ping me if you have another repro.

[2022-11-01 02:38] #54885 closed

[2022-11-01 03:42] #28730 closed

[2022-11-01 04:09] mavasani commented on #34444
Duplicate of https://github.com/dotnet/roslyn/issues/47784

[2022-11-01 04:09] #34444 closed

[2022-11-01 04:12] olegtk commented on #37191
Agree. @mikadumont, please file a suggestion ticket so we can start collecting votes for this work.

[2022-11-01 04:23] olegtk commented on #36739
@CyrusNajmabadi the request is to collapse specifically #region/#endregion blocks. I'm not sure we can differentiate these from other collapsible regions (e.g. created by user ad hoc) on the editor side.

[2022-11-01 04:43] MariaSolOs commented on #28902
Funny, @zkat and I were actually talking about this today. @minestarks is right. We plan on LSPifying this soon, so this request is no longer needed.

[2022-11-01 05:11] CyrusNajmabadi commented on #28902
Closing out then.

[2022-11-01 05:11] #28902 closed

[2022-11-01 08:32] Youssef1313 commented on #65130
Note: The following is valid:

[code]

[2022-11-01 09:04] NickDelta opened #65137 "Add Alias To Namespace And Refactor All Associated Code"
Hi all,

We are in the process of making a tool that refactors a big pile of VB.NET code. During the refactoring process, we discovered that there are many conflicts between some new namespaces we added and some classes from imported assemblies. We want to introduce aliases to our imports and refactor all code that is affected with the alias.

For example:

[code]

Must become:

[code]

Most progr

[2022-11-01 10:19] mavasani opened #65138 "Goldbar with KeyNotFoundException in CompilationTracker.FinalizeCompilationAsync"
-> Install the latest dogfood 17.5 preview build from intpreview channel
Saw the below goldbar while editing code:

**System.Collections.Generic.KeyNotFoundException: The given key 'Microsoft.CodeAnalysis.IncrementalGeneratorWrapper' was not present in the dictionary.**

[code]

[2022-11-01 10:21] mavasani commented on #65138
@jasonmalinowski

[2022-11-01 11:58] jez9999 commented on #59717
I've got a scenario: it's broken.  On multiple occasions I've pressed F12 and it has not gone to anything useful.  For example, I hit F12 on `ValueTuple` and it takes me to the top of `DateTimeOffset.cs` for some reason.  See [my StackOverflow post](https://stackoverflow.com/questions/74210217/sourcelink-f12-doesnt-work-properly-in-visual-studio-2022) for more examples.  There should *definitely*

[2022-11-01 13:27] hopperpl opened #65142 "C# compiler: severe performance issues with sister project"
Version: `7.0.100-rc.2.22477.23`

when compiling the dotnet sister project `Silk.NET`, I ran into a serious performance issue with the C# compiler.

https://github.com/dotnet/Silk.NET

it is the sub-project `Silk.NET.Direct3D.Compilers`
* compilation time 37 min
* requires 18 GB of memory

the other sub-project `Silk.NET.Direct3D12` compiles within 10 seconds

Both sub projects are very similar, i

[2022-11-01 13:59] binki commented on #32024
@CyrusNajmabadi Thanks!

I tried testing this in VisualStudio-17.3.6 with Roslyn-4.3.0-3.22470.13+80a8ce8d5fdb9ceda4101e2acb8e8eb7be4ebcea. I still get the issue. What version is this fixed in so that I can validate it?

[2022-11-01 14:51] PhilParisot commented on #49322
Any news on this?

[2022-11-01 15:26] CyrusNajmabadi commented on #32024
The duck was merged 4 days ago: https://github.com/dotnet/roslyn/pull/65021

It will still have to flow into vs and then get released.

[2022-11-01 15:30] CyrusNajmabadi commented on #49322
@PhilParisot the request is on the backlog.

[2022-11-01 15:32] CyrusNajmabadi commented on #65142
Please provide a perf view trace. Instructions here: https://github.com/dotnet/roslyn/blob/main/docs/wiki/Recording-performance-traces-with-PerfView.md

[2022-11-01 15:41] binki commented on #32024
I see, thanks! I don’t know how to figure out when that will be released, so I will trust your work ;-).

[2022-11-01 16:23] chuckries commented on #24349
@TFTomSun It depends.
1. There is not currently an interactive auth mechanism for F12. You could possibly authenticate through the [External Sources Node](https://devblogs.microsoft.com/visualstudio/debugging-external-sources-with-visual-studio/#:~:text=External%20Sources%20node%20in%20Solution%20Explorer%20The%20feature,node.%20In%20debug%20mode%20%E2%80%93%20collapsed%20state%20%28default%29)
2.

[2022-11-01 16:35] CyrusNajmabadi commented on #59717
@jez9999 there is such an option:

![image](https://user-images.githubusercontent.com/4564579/199287091-c9d34bc1-a29c-4cc3-8d38-fc2d0520d9b9.png)

[2022-11-01 16:38] jez9999 commented on #59717
Yep, happily that seems to work in disabling it for me.

[2022-11-01 16:56] TFTomSun commented on #24349
@chuckries The sources are hosted on an on premise gitlab instance. To reach that instance via https you need to authorize via 2FA. In the past Visual Studio had a built in browser window. Some people with on premise gitlab instances reported that it was possible to do the 2FA there to make source link work. I never tried it. The browser window was removed with VS2022.

Anyways, you would always h

[2022-11-01 17:00] TFTomSun commented on #24349
@chuckries Can you explain a bit more how I could authenticate for such scenarios via an external source node?

[2022-11-01 17:01] #37374 closed

[2022-11-01 17:28] CyrusNajmabadi commented on #37852
Closing out.  We should drive this with actual examples where some feature does a poor job and the right fix is at hte typeinferrer level.

[2022-11-01 17:28] #37852 closed

[2022-11-01 17:32] CyrusNajmabadi commented on #37860
Closing out.  The file has a string literal with 500,000 lines in it.  Infinite scaling in every dimension it not a goal of roslyn.  There are limits as imposed by basic stuff like ability to allocate and whatnot.  We fix thigns up when code constructs are realistic and reasonable.  We don't fix things when teh user is trying to overwhelm reasonable limits, and could easily change their code to wo

[2022-11-01 17:32] #37860 closed

[2022-11-01 17:35] CyrusNajmabadi commented on #37910
Closing out.

[2022-11-01 17:36] CyrusNajmabadi commented on #37961
Closing out as not planned.

[2022-11-01 17:38] CyrusNajmabadi commented on #38035
Not repro:

![image](https://user-images.githubusercontent.com/4564579/199300699-d651cf6d-ddd6-4ed5-b03a-4e4cbc15863e.png)

[2022-11-01 17:38] #38035 closed

[2022-11-01 17:44] CyrusNajmabadi commented on #38061
Closing out.  This is by design.  Symbolkey very much is intended to have a metadata/binary-view of things.  Nullability isn't relevant there.  If it needed, the feature-lvel code needs to handle that.

[2022-11-01 17:44] #38061 closed

[2022-11-01 17:48] CyrusNajmabadi commented on #38223
Can a repro/trace be supplied here?

[2022-11-01 17:51] CyrusNajmabadi commented on #38267
Closing out.  This would need to go through editor/platform.  The data roslyn is rpoviding (and would continue to provide through LSP) contains what is necessary to feed any UI improvements here.

[2022-11-01 17:51] #38267 closed

[2022-11-01 17:51] CyrusNajmabadi commented on #38280
Spelling suggestions are provided both by the platform and by roslyn.

[2022-11-01 17:51] #38280 closed

[2022-11-01 17:54] CyrusNajmabadi commented on #38388
Not planning on doing this.

[2022-11-01 17:54] #38388 closed

[2022-11-01 17:55] CyrusNajmabadi commented on #38431
I don't repro this.

[2022-11-01 17:55] #38431 closed

[2022-11-01 17:55] CyrusNajmabadi commented on #38432
Closing out. We already have telemetry and logs we collect.

[2022-11-01 17:55] #38432 closed

[2022-11-01 17:56] CyrusNajmabadi commented on #38497
I can't repro this either.  Closing out.

[2022-11-01 17:56] #38497 closed

[2022-11-01 17:58] CyrusNajmabadi commented on #38537
This would be a request for the platform.  @olegtk

[2022-11-01 17:58] #38537 closed

[2022-11-01 17:59] CyrusNajmabadi commented on #38628
This is on platform.

[2022-11-01 17:59] #38628 closed

[2022-11-01 18:01] jasonmalinowski commented on #65138
This is fixed by https://github.com/dotnet/roslyn/pull/65039, but the insertion is still making its way for 17.5.

[2022-11-01 18:01] CyrusNajmabadi commented on #38644
Closing out.  This is expected.  The idea here is that we're offering to introduce a constant for you here.  This is important for the case where someone does a bunch of `int i = magic_value` in a bunch of places.  This allows extracting that magic value to a constant somewhere (and updating all cases where that is used).

[2022-11-01 18:01] #38644 closed

[2022-11-01 18:02] CyrusNajmabadi commented on #38680
Closing out.  No plan on doing this.

[2022-11-01 18:02] #38680 closed

[2022-11-01 18:03] CyrusNajmabadi commented on #38706
Closing out.  This would be on AIOSP to do better here.

[2022-11-01 18:03] #38706 closed

[2022-11-01 18:03] CyrusNajmabadi commented on #38733
This is an analyzer: MakeLocalFunctionStaticDiagnosticAnalyzer

[2022-11-01 18:03] #38733 closed

[2022-11-01 18:04] CyrusNajmabadi commented on #38778
Closing out.

[2022-11-01 18:04] #38778 closed

[2022-11-01 18:05] jmarolf commented on #38267
@CyrusNajmabadi as we are closing this out can we "reactivate" the original feedback item and move it to the vs platform team?

[2022-11-01 18:05] CyrusNajmabadi commented on #38854
This is a platform issue to decide what htey want to do here.

[2022-11-01 18:05] #38854 closed

[2022-11-01 18:05] CyrusNajmabadi commented on #38876
This is working as expected.

[2022-11-01 18:09] jasonmalinowski commented on #30662
Yeah, it was.

[2022-11-01 18:10] CyrusNajmabadi commented on #39074
Not repro.  I get:

![image](https://user-images.githubusercontent.com/4564579/199306852-9bd857b5-4064-4e2e-a284-55167a7eb870.png)

[2022-11-01 18:10] #39074 closed

[2022-11-01 18:12] CyrusNajmabadi commented on #39221
Need repro for this.

[2022-11-01 18:18] CyrusNajmabadi commented on #39309
@dibarbet is this still an issue?

[2022-11-01 18:20] CyrusNajmabadi commented on #39323
I don't repro this at all.

[2022-11-01 18:20] #39323 closed

[2022-11-01 18:21] CyrusNajmabadi commented on #39356
This should not be an issue anymore with the way we do progress now.

[2022-11-01 18:21] #39356 closed

[2022-11-01 18:22] CyrusNajmabadi commented on #39375
Closing out.  We have no facility for this and hte feature is working as expected.

[2022-11-01 18:22] #39375 closed

[2022-11-01 18:25] CyrusNajmabadi commented on #39434
AfAICT, there's no way for C# to implement this at all.  So implement-interface tryign it's best here is fine.

[2022-11-01 18:25] CyrusNajmabadi commented on #39446
This is entirely different now from when this was opened.  closing this out as not actionable.

[2022-11-01 18:25] #39446 closed

[2022-11-01 18:26] CyrusNajmabadi commented on #39464
This is a request for the platform to show those values better.

[2022-11-01 18:26] #39464 closed

[2022-11-01 18:27] CyrusNajmabadi commented on #39508
Closing out.  This can be done by an analyzer by the user or unity.

[2022-11-01 18:27] #39508 closed

[2022-11-01 18:28] CyrusNajmabadi commented on #39536
Closing out.  This was intentional and done based on user requests.

[2022-11-01 18:28] #39536 closed

[2022-11-01 18:34] CyrusNajmabadi commented on #39579
Not repro:

![image](https://user-images.githubusercontent.com/4564579/199311211-743a6811-4252-4c22-a8eb-770286477045.png)

[2022-11-01 18:34] #39579 closed

[2022-11-01 18:36] #39702 closed

[2022-11-01 18:37] CyrusNajmabadi commented on #39781
Closing out as this is by design.  OOP will have no concept of these as it is intended to be stateless.  The caller needs to pass this info in if relevant.

[2022-11-01 18:37] #39781 closed

[2022-11-01 18:37] CyrusNajmabadi commented on #39782
We did optimize here.

[2022-11-01 18:37] #39782 closed

[2022-11-01 18:38] CyrusNajmabadi commented on #39787
Dupe of https://github.com/dotnet/roslyn/issues/49579.

[2022-11-01 18:38] CyrusNajmabadi commented on #39787
Closing out.  This is out of scope for roslyn.  Other tools can do this.  If the results are not ideal, that should be taken up with those teams.

[2022-11-01 18:38] #39787 closed

[2022-11-01 18:39] CyrusNajmabadi commented on #39794
Enable IDE2000 for this:

![image](https://user-images.githubusercontent.com/4564579/199312220-30f3cca2-70fe-4e27-bc92-4adb13d70cec.png)

[2022-11-01 18:39] #39794 closed

[2022-11-01 18:40] CyrusNajmabadi commented on #39815
This is not roslyn.

[2022-11-01 18:40] #39815 closed

[2022-11-01 18:42] CyrusNajmabadi commented on #39883
The message was clarified:

![image](https://user-images.githubusercontent.com/4564579/199312669-ea29b059-5c1e-4201-8964-8703497e8fd1.png)

Closing out.

[2022-11-01 18:42] #39883 closed

[2022-11-01 18:43] CyrusNajmabadi commented on #39930
Support for this was intentionally removed as just being a pattern that we no longer want to support.

[2022-11-01 18:43] #39930 closed

[2022-11-01 18:48] CyrusNajmabadi commented on #40073
Closing out.

[2022-11-01 18:48] #40073 closed

[2022-11-01 18:49] CyrusNajmabadi commented on #40119
I don't repro this.  The customer may have some editorconfig setting that changed this.

[2022-11-01 18:51] CyrusNajmabadi commented on #40176
Closing out.

[2022-11-01 18:51] CyrusNajmabadi commented on #40177
Closing out.

[2022-11-01 18:51] #40177 closed

[2022-11-01 18:55] CyrusNajmabadi commented on #40259
I don't see this now:

![image](https://user-images.githubusercontent.com/4564579/199315244-28610e89-fab3-4820-bb07-9e63eebb9a4e.png)

[2022-11-01 18:55] #40259 closed

[2022-11-01 18:56] #40267 closed

[2022-11-01 18:59] CyrusNajmabadi commented on #40480
I don't repro this.

[2022-11-01 18:59] #40480 closed

[2022-11-01 19:01] CyrusNajmabadi commented on #40609
Closing out as not planned.

[2022-11-01 19:01] #40609 closed

[2022-11-01 19:02] CyrusNajmabadi commented on #40621
Closing out.  This is covered by analzyers.

[2022-11-01 19:02] #40621 closed

[2022-11-01 19:04] CyrusNajmabadi commented on #40763
These systems have been rewritten and we are tracking this through prism.

[2022-11-01 19:04] #40763 closed

[2022-11-01 19:06] CyrusNajmabadi commented on #40798
This is a request for template support, which is out of scope for roslyn.

[2022-11-01 19:06] #40798 closed

[2022-11-01 19:07] CyrusNajmabadi commented on #40847
This should already work with goto-impl.

[2022-11-01 19:07] #40899 closed

[2022-11-01 19:09] CyrusNajmabadi commented on #40962
This would need to go through the platform to support.

[2022-11-01 19:09] #40962 closed

[2022-11-01 19:09] CyrusNajmabadi commented on #40963
We do the merging now.

[2022-11-01 19:09] #40963 closed

[2022-11-01 19:11] CyrusNajmabadi commented on #41014
Closing out.  Lang design takes place on dotnet/csharplang.  Thanks!

[2022-11-01 19:11] #41014 closed

[2022-11-01 19:11] CyrusNajmabadi commented on #41050
Closing out as unplanned.

[2022-11-01 19:11] #41050 closed

[2022-11-01 19:12] CyrusNajmabadi commented on #41158
Haven't seen any more cases of this.  closing out.

[2022-11-01 19:12] #41158 closed

[2022-11-01 19:13] #56504 closed

[2022-11-01 19:16] CyrusNajmabadi commented on #41311
This would need to go through an API proposal.  in general, the reason we don't just make things public is because it increases maintenance costs and locks down our ability to change things in teh future.  We can open things up, but we have a process that requests need to go through to make sure the appropriate people weigh in and the right API shape is determined and shipped.

[2022-11-01 19:16] #41311 closed

[2022-11-01 19:17] aolszowka commented on #40763
Thanks @CyrusNajmabadi its been a few years since I've worked on that project that encountered it but hopefully many of not all of these have been resolved. Support for 64bit in Visual Studio has been helpful I've been told, that was a wild ride and I enjoyed our conversations all those years ago!

[2022-11-01 19:21] CyrusNajmabadi commented on #41614
Does not repro for me:

![image](https://user-images.githubusercontent.com/4564579/199320199-bcfeac53-a411-40a0-ad8c-75c80ce6c97a.png)

[2022-11-01 19:21] #41614 closed

[2022-11-01 19:21] CyrusNajmabadi commented on #41663
Closing out as this is not planned.

[2022-11-01 19:21] #41663 closed

[2022-11-01 19:22] #41667 closed

[2022-11-01 19:23] CyrusNajmabadi commented on #41766
This is no longer experiemental.

[2022-11-01 19:23] #41766 closed

[2022-11-01 19:28] #41875 closed

[2022-11-01 19:28] CyrusNajmabadi commented on #41876
Closing out.  We have no plan to do this.  Xml doc comments are the appropriate way to document code.

[2022-11-01 19:28] #41876 closed

[2022-11-01 19:34] CyrusNajmabadi commented on #42149
This would need to go through an API proposal.  in general, the reason we don't just make things public is because it increases maintenance costs and locks down our ability to change things in teh future.  We can open things up, but we have a process that requests need to go through to make sure the appropriate people weigh in and the right API shape is determined and shipped.

[2022-11-01 19:34] #42149 closed

[2022-11-01 19:34] CyrusNajmabadi commented on #42181
@tmat can likely close this out.

[2022-11-01 19:35] CyrusNajmabadi commented on #42187
This has moved to the new EA pattern for unit testing with their ownership of a forked crawler.

[2022-11-01 19:35] #42187 closed

[2022-11-01 19:59] CyrusNajmabadi commented on #42195
This doesn't repro for me.  We get this now:

![image](https://user-images.githubusercontent.com/4564579/199327093-9dde2857-e4a6-47fe-8c99-dc39d8d7a96e.png)

[2022-11-01 19:59] #42195 closed

[2022-11-01 20:06] CyrusNajmabadi commented on #65121
This would be very helpful, thanks!

[2022-11-01 20:07] henke37 commented on #39434
That's my point! There isn't a way to do it with a nice named indexer, since those don't exist, so it must be done more bluntly with a pair of methods.

The current generated result is simply impossible to use. It treats it like a normal property, which is no good. The index must be available.

[2022-11-01 20:10] CyrusNajmabadi commented on #42427
Closing out as this work has essentially been done.

[2022-11-01 20:10] #42427 closed

[2022-11-01 20:12] CyrusNajmabadi commented on #42556
Yes.  this behavior is working as intended.  Space should preselect the type, no space should use the implicit object form.

[2022-11-01 20:12] #42556 closed

[2022-11-01 20:13] CyrusNajmabadi commented on #42561
The type is suggested.  Being an imported type, it needs to be selected over the other options.  So closing out:

![image](https://user-images.githubusercontent.com/4564579/199331883-52f8ed70-2f8f-478b-a556-ec1bbfb11824.png)

[2022-11-01 20:13] #42561 closed

[2022-11-01 20:14] CyrusNajmabadi commented on #42638
This was done.

[2022-11-01 20:14] #42638 closed

[2022-11-01 20:15] CyrusNajmabadi commented on #42687
Closing out as not planned.

[2022-11-01 20:15] #42687 closed

[2022-11-01 20:15] CyrusNajmabadi commented on #42728
Feedback for aiosp.  @veler

[2022-11-01 20:15] #42728 closed

[2022-11-01 20:19] CyrusNajmabadi commented on #42853
@chsienki @dibarbet what needs to be done here?

[2022-11-01 20:19] CyrusNajmabadi commented on #42888
No reports of any issues here.  closing out.

[2022-11-01 20:19] #42888 closed

[2022-11-01 20:20] ryzngard commented on #37824
@CyrusNajmabadi do you remember more context on this? I tried to make a min repro but wasn't able to reproduce:

[code]

[2022-11-01 20:22] #43055 closed

[2022-11-01 20:22] ryzngard commented on #34070
@sharwell I'm not sure we have that option anymore? Doesn't reproduce locally. Feel free to reopen if I misunderstood.

[2022-11-01 20:22] #34070 closed

[2022-11-01 20:24] #22053 closed

[2022-11-01 20:39] CyrusNajmabadi commented on #43221
Closing out as old and no prism hits.

[2022-11-01 20:39] #43221 closed

[2022-11-01 20:41] CyrusNajmabadi commented on #43310
Closing out.  Old and no prism hits.

[2022-11-01 20:41] #43310 closed

[2022-11-01 20:43] CyrusNajmabadi commented on #39434
Can you clarify how this can be done?

[2022-11-01 20:44] CyrusNajmabadi commented on #37824
I think it didn't work, but we fixed it.  But it still make not work in a 'when' clause.  can you check/fix that?

[2022-11-01 20:47] henke37 commented on #39434
By simply defining the `get_registerValue` and `set_registerValue` methods directly.

[2022-11-01 20:49] CyrusNajmabadi commented on #43417
Yes.  This is by design for hte language.  you can use `If(x?.name, "")` to get these semantics.

[2022-11-01 20:49] #43417 closed

[2022-11-01 21:01] CyrusNajmabadi commented on #39434
Can you be more explicit.  What should the signatures be there?  i tried `public ulong get_registerValue()` and `public void set_registerValue(ulong value)` and that did not work.

[2022-11-01 21:11] CyrusNajmabadi commented on #43778
This is platform ui @olegtk .

[2022-11-01 21:14] CyrusNajmabadi commented on #43905
Closing out as by-design.  The workspace absolutely will not be reachable from a source-genarator.

[2022-11-01 21:14] CyrusNajmabadi commented on #43944
Subsumed by the collection-literals work: https://github.com/dotnet/csharplang/issues/5354

[2022-11-01 21:14] #43944 closed

[2022-11-01 21:15] CyrusNajmabadi commented on #43979
Closing out.

[2022-11-01 21:15] #43979 closed

[2022-11-01 21:16] CyrusNajmabadi commented on #44135
I'm not able to repro either.  Closing out.

[2022-11-01 21:16] #44135 closed

[2022-11-01 21:16] CyrusNajmabadi commented on #44138
I'm not able to repro this.

[2022-11-01 21:16] #44138 closed

[2022-11-01 21:17] CyrusNajmabadi commented on #44155
Closing out as not needed.

[2022-11-01 21:17] #44155 closed

[2022-11-01 21:17] CyrusNajmabadi commented on #44203
This should work now.

[2022-11-01 21:17] #44203 closed

[2022-11-01 21:20] #43874 closed

[2022-11-01 21:20] CyrusNajmabadi commented on #44299
This has been fixed.  Closing out.

[2022-11-01 21:22] jzabroski commented on #43874
Jared explained file io is outlawed by his analyzer analyzer. He said 👍

[2022-11-01 21:23] #42194 closed

[2022-11-01 21:24] CyrusNajmabadi commented on #44352
Codespaces is gone.

[2022-11-01 21:24] #44352 closed

[2022-11-01 21:26] CyrusNajmabadi commented on #44469
@ryzngard still needed?

[2022-11-01 21:27] CyrusNajmabadi commented on #44554
This is offered:

![image](https://user-images.githubusercontent.com/4564579/199345112-09c91264-3f34-4e2b-905d-89a5915e99ae.png)

[2022-11-01 21:27] #44554 closed

[2022-11-01 21:30] CyrusNajmabadi commented on #44740
This is a request for the platform.  @olegtk .

[2022-11-01 21:30] #44740 closed

[2022-11-01 21:31] CyrusNajmabadi commented on #44747
This would need to go through an API proposal.  in general, the reason we don't just make things public is because it increases maintenance costs and locks down our ability to change things in teh future.  We can open things up, but we have a process that requests need to go through to make sure the appropriate people weigh in and the right API shape is determined and shipped.

[2022-11-01 21:31] #44747 closed

[2022-11-01 21:38] CyrusNajmabadi commented on #44996
Closing out.

[2022-11-01 21:38] #44996 closed

[2022-11-01 21:38] CyrusNajmabadi commented on #45014
Closing out.  We haven't heard from any customers about issues here.

[2022-11-01 21:38] #45014 closed

[2022-11-01 21:39] CyrusNajmabadi commented on #45084
do we still care about anycode?

[2022-11-01 21:40] CyrusNajmabadi commented on #45108
This doesn't repro for me:

![image](https://user-images.githubusercontent.com/4564579/199346930-5225081f-bd91-45cd-9d57-9ca469e6f72b.png)

[2022-11-01 21:40] #45108 closed

[2022-11-01 21:41] CyrusNajmabadi commented on #45196
This would need to go through an API proposal.  in general, the reason we don't just make things public is because it increases maintenance costs and locks down our ability to change things in teh future.  We can open things up, but we have a process that requests need to go through to make sure the appropriate people weigh in and the right API shape is determined and shipped.

[2022-11-01 21:41] #45196 closed

[2022-11-01 21:43] DoctorKrolic opened #65150 "Semantic snippets: `cw` snippet inserts unexpected blank line when between statements"
**Version Used**:
Latest main

**Steps to Reproduce**:
[code]
Execute `cw` snippet at `$$`

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

[2022-11-01 21:54] CyrusNajmabadi commented on #45931
Does this repro if you have an editorconfig that specifies tabs?

[2022-11-01 21:55] #43390 closed

[2022-11-01 21:56] DoctorKrolic opened #65151 "Semantic snippets: `interface` snippet prefix and more"
**Version Used**:
Latest main

**Steps to Reproduce**:
Execute old and new implementations of `interface` snippet

**Expected Behavior**:
They should be equal

**Actual Behavior**:
The are different:

Old snippet:
[code]

New snippet:
[code]

I think, semantic snippets should be smart here and take into consideration the whole user's naming style rules in VS settings and `.editorconfig`:
![devenv_

[2022-11-01 21:56] CyrusNajmabadi commented on #45992
Closing out as object-browser is in maintenance mode and we don't intend to do further work on it (absent a rewrite/reimplementation).

[2022-11-01 21:56] #45992 closed

[2022-11-01 21:57] CyrusNajmabadi commented on #46195
@dibarbet anything left to do here?

[2022-11-01 21:58] CyrusNajmabadi commented on #46222
@sharwell anything to do here?

[2022-11-01 21:59] CyrusNajmabadi commented on #46246
This is by design for the compiler., as it's totally legal (and appropriate) for code to do this.  Especially code that wants to be null-resilient at runtime.  That said, ther'es space for analyzers here if users wanted warnings.  So i'm moving this to roslyn-analyzers.

[2022-11-01 22:00] dibarbet commented on #46195
Closing - I don't think using content type here actually benefits us at this point.  It's not exactly the right abstraction we want.

[2022-11-01 22:00] #46195 closed

[2022-11-01 22:02] CyrusNajmabadi commented on #46274
This looks to be a language request.  Those should be discussions over at dotnet/csharplang.  Thanks!

[2022-11-01 22:02] #46274 closed

[2022-11-01 22:03] CyrusNajmabadi commented on #46350
I don't get any error.

[2022-11-01 22:03] #46350 closed

[2022-11-01 22:04] CyrusNajmabadi commented on #46453
@genlu is there anything for us to actually do here?

[2022-11-01 22:05] CyrusNajmabadi commented on #46481
This isn't possible to do.  WithAdditionalAnnotations has no clue what is/isn't supported.  Annotations can be used for any purpose by any client.

[2022-11-01 22:05] #46481 closed

[2022-11-01 22:07] CyrusNajmabadi commented on #46503
We support the `ImmutableArray<int>.Empty` case now.  We do not want to add generics for `.Create` as you may be using inference.  So closing this out as we're in the state we want now.

[2022-11-01 22:07] #46503 closed

[2022-11-01 22:08] CyrusNajmabadi commented on #46560
Object browser is in maintenance mode and will not be getting more features.  This would have to come with a rewrite if one ever happens in this space.

[2022-11-01 22:09] CyrusNajmabadi commented on #46598
We'd need a repro here.  Can you supply one?

[2022-11-01 22:10] CyrusNajmabadi commented on #46640
This is not part of roslyn.  It can be in aiosp.  @veler

[2022-11-01 22:10] #46640 closed

[2022-11-01 22:11] CyrusNajmabadi commented on #46719
is this still needed @tmat ?

[2022-11-01 22:12] CyrusNajmabadi commented on #46792
I don't think we're doing any more codespaces work.

[2022-11-01 22:12] #46792 closed

[2022-11-01 22:12] CyrusNajmabadi commented on #46797
@akhera99 do we still need this?  Is this an accessibility requirement?

[2022-11-01 22:13] CyrusNajmabadi commented on #46951
Language discussion happens at dotnet/csharplang.  Thanks!

[2022-11-01 22:13] #46951 closed

[2022-11-01 22:16] #65064 closed

[2022-11-01 22:16] CyrusNajmabadi commented on #47036
Closing out as a dupe of another effort.

[2022-11-01 22:16] #47036 closed

[2022-11-01 22:20] CyrusNajmabadi commented on #47341
Closing out.

[2022-11-01 22:20] #47341 closed

[2022-11-01 22:20] #47393 closed

[2022-11-01 22:21] CyrusNajmabadi commented on #47435
Closing out as this isn't part of roslyn.

[2022-11-01 22:21] #47435 closed

[2022-11-01 22:23] CyrusNajmabadi commented on #47599
This error was added.

[2022-11-01 22:23] #47599 closed

[2022-11-01 22:24] CyrusNajmabadi commented on #47620
This works for me now:

![image](https://user-images.githubusercontent.com/4564579/199353344-f51dabf5-c903-4614-824a-848537f9116b.png)

[2022-11-01 22:24] #47620 closed

[2022-11-01 22:26] akhera99 commented on #46797
I have a PR out for it right now testing it actually. Still need to discuss what we intend for the narrator to say.
https://github.com/dotnet/roslyn/pull/64281/files

[2022-11-01 22:28] #7039 closed

[2022-11-01 22:28] CyrusNajmabadi commented on #48025
CLosing out as we have sufficient support here.

[2022-11-01 22:28] #48025 closed

[2022-11-01 22:29] ryzngard commented on #44469
Yes, but it's low pri work right now. User experience is a bug, but manageable and low impact.

[2022-11-01 22:31] CyrusNajmabadi commented on #48488
This type is gone.

[2022-11-01 22:31] #48488 closed

[2022-11-01 22:35] henke37 commented on #39434
You need to include the index as the first argument.

[2022-11-01 22:36] CyrusNajmabadi commented on #48832
I don't repro this:

![image](https://user-images.githubusercontent.com/4564579/199354919-443df80d-0ec6-4372-8103-54ef7ec6d616.png)

[2022-11-01 22:36] #48832 closed

[2022-11-01 22:39] CyrusNajmabadi commented on #48863
Closing out as we haven't heard about this from anywhere else.  perhaps a VS options corruption issue.

[2022-11-01 22:39] #48863 closed

[2022-11-01 22:50] CyrusNajmabadi commented on #49400
Closing out this.  This has been fine.

[2022-11-01 22:50] #49400 closed

[2022-11-01 22:51] CyrusNajmabadi commented on #49407
Closing out as covered by other analyzers.

[2022-11-01 22:53] #49572 closed

[2022-11-01 22:53] CyrusNajmabadi commented on #49578
This can just be done with a record.

[2022-11-01 22:53] #49578 closed

[2022-11-01 22:54] #49665 closed

[2022-11-01 22:54] RikkiGibson commented on #65091
Tentatively putting in 17.5 since it shouldn't be too difficult.

[2022-11-01 22:55] CyrusNajmabadi commented on #49667
By design.

[2022-11-01 22:55] #49667 closed

[2022-11-01 22:56] CyrusNajmabadi commented on #49716
Need explicit examples here.

[2022-11-01 23:00] CyrusNajmabadi commented on #50174
@akhera99 did you fix this?

[2022-11-01 23:02] CyrusNajmabadi commented on #50341
This is intentionally out of scope. It's been considered but the costs far outweigh the benefits.

[2022-11-01 23:02] #50341 closed

[2022-11-01 23:03] CyrusNajmabadi commented on #50437
This would be part of aiosp.  @veler

[2022-11-01 23:03] #50437 closed

[2022-11-01 23:03] akhera99 commented on #50174
I do not believe so unless the behavior as changed from other fixes. I will see if it still repros

[2022-11-01 23:03] CyrusNajmabadi commented on #50471
This was added.

[2022-11-01 23:03] #50471 closed

[2022-11-01 23:04] CyrusNajmabadi commented on #50530
Unclear what the issue is here.

[2022-11-01 23:08] CyrusNajmabadi commented on #51031
I can't repro this.  We seem to go to the right doc in the right config.

[2022-11-01 23:08] #51031 closed

[2022-11-01 23:10] #51198 closed

[2022-11-01 23:17] CyrusNajmabadi commented on #39434
Got it.  reactivating.

[2022-11-01 23:49] CyrusNajmabadi commented on #51310
Closing out as this shouldn't be an issue anymore.

[2022-11-01 23:49] #51310 closed

[2022-11-01 23:54] mnmr commented on #64926
I think the SDK may not have been updated in Azure DevOps at the time we tried this (as you suggested above), because now it works just fine. As such, I am closing this issue - thanks for your help!

That said, I am still somewhat perplexed as to why 4.3.0 has dissapeared from Nuget. I have the package locally but it can no longer be restored. No matter, toolchain is updated and 4.3.1 seems to wor

[2022-11-01 23:54] #64926 closed

[2022-11-01 23:58] jasonmalinowski commented on #64926
@mnmr: you can unlist packages from NuGet if there's a bug or you don't want peopel grabbing it. There was a packaging mistake with 4.3.0 so we want to steer people to 4.3.1.

[2022-11-02 00:01] CyrusNajmabadi commented on #51591
Closing out.  this system has been entirely rewritten.  we'd need a repro on a modern vs showing hte issdue.

[2022-11-02 00:01] #51591 closed

[2022-11-02 00:02] CyrusNajmabadi commented on #51626
@AArnott i haven't seen this.  have you hit this recently?

[2022-11-02 00:04] CyrusNajmabadi commented on #51776
Closing out as this is currently by design for the language.  If this feature is wanted, it should be a discussion at dotnet/csharplang.

[2022-11-02 00:04] #51776 closed

[2022-11-02 00:05] CyrusNajmabadi commented on #51777
Can't repro either.

[2022-11-02 00:05] #51777 closed

[2022-11-02 00:06] CyrusNajmabadi commented on #51842
@akhera99 did you fix this?

[2022-11-02 00:08] CyrusNajmabadi commented on #52097
We're ok with this behavior.  extern-aliases are in teh "don't care unless it's a crash" category for the IDE.

[2022-11-02 00:08] #52097 closed

[2022-11-02 00:14] CyrusNajmabadi commented on #52806
Closing out as this is on C++ to support.

[2022-11-02 00:14] #52806 closed

[2022-11-02 00:16] CyrusNajmabadi commented on #52984
@jmarolf can we close this out?  or does this need to stay?

[2022-11-02 00:17] CyrusNajmabadi commented on #53096
This issue is too vague to be actionable.

[2022-11-02 00:17] #53096 closed

[2022-11-02 00:36] #64898 closed

[2022-11-02 00:58] jrmoreno1 commented on #46598
@CyrusNajmabadi : unfortunately not.

I believe it’s an interaction with TFS and readonly files, moving the solution in question to git has fixed the problem.

I notice I hadn’t explicitly said that the codefix would work on a second attempt (after files were checked out), it did. This is why I think it’s an interaction with TFS and readonly files, as the checkout removes the readonly flag on the

[2022-11-02 01:00] CyrusNajmabadi commented on #53398
We already do this.  Not clear waht else would need to be done.

[2022-11-02 01:00] #53398 closed

[2022-11-02 01:01] CyrusNajmabadi commented on #53673
We've not been able to repro this.  We'd need a project that shows this happening in the latest vs previews.

[2022-11-02 01:01] #53673 closed

[2022-11-02 01:05] AArnott commented on #51626
I have not.

[2022-11-02 01:05] #53967 closed

[2022-11-02 01:07] CyrusNajmabadi commented on #51626
Closing out then :)

[2022-11-02 01:07] #51626 closed

[2022-11-02 01:10] CyrusNajmabadi commented on #54021
This doesn't repro for me.  Must have gotten around to this :)

[2022-11-02 01:12] #54222 closed

[2022-11-02 01:12] jasonmalinowski commented on #54090
Ah yes, this was closed by https://github.com/dotnet/roslyn/pull/62682

[2022-11-02 01:14] CyrusNajmabadi commented on #54325
I don't think there's any compiler info needed here.  This is also not a priority scenario for IDE if a user manually supplies these attributes.

[2022-11-02 01:14] #54325 closed

[2022-11-02 01:14] CyrusNajmabadi commented on #54326
Closing out as not a priority for us. Manual application of these attributes is a not an important scenario.

[2022-11-02 01:14] #54326 closed

[2022-11-02 01:15] CyrusNajmabadi commented on #54529
Need a repro for this.

[2022-11-02 01:17] CyrusNajmabadi commented on #54815
We are not planning on bringing this back.  It was a known thing pulled from roslyn.

[2022-11-02 01:17] #54815 closed

[2022-11-02 01:21] CyrusNajmabadi commented on #55185
@olegtk intratext adornments probably shouldn't move these guides around.  Can you guys take?

[2022-11-02 01:21] #55185 closed

[2022-11-02 01:22] CyrusNajmabadi commented on #55280
Closing out.  We do not need to track work like this with N issues.  We can have a single issue that breaks out hte individual pieces where we can remove/complete the subpieces as necessary if we even get around to the work.

[2022-11-02 01:22] CyrusNajmabadi commented on #55282
Closing out.  We do not need to track work like this with N issues.  We can have a single issue that breaks out hte individual pieces where we can remove/complete the subpieces as necessary if we even get around to the work.

[2022-11-02 01:22] CyrusNajmabadi commented on #55284
Closing out.  We do not need to track work like this with N issues.  We can have a single issue that breaks out hte individual pieces where we can remove/complete the subpieces as necessary if we even get around to the work.

[2022-11-02 01:22] CyrusNajmabadi commented on #55285
Closing out.  We do not need to track work like this with N issues.  We can have a single issue that breaks out hte individual pieces where we can remove/complete the subpieces as necessary if we even get around to the work.

[2022-11-02 01:22] CyrusNajmabadi commented on #55286
Closing out.  We do not need to track work like this with N issues.  We can have a single issue that breaks out hte individual pieces where we can remove/complete the subpieces as necessary if we even get around to the work.

[2022-11-02 01:23] CyrusNajmabadi commented on #55287
Closing out.  We do not need to track work like this with N issues.  We can have a single issue that breaks out hte individual pieces where we can remove/complete the subpieces as necessary if we even get around to the work.

[2022-11-02 01:24] CyrusNajmabadi commented on #55540
This is a platform issue.  @olegtk.

[2022-11-02 01:24] #55540 closed

[2022-11-02 01:24] CyrusNajmabadi commented on #55545
This was done.

[2022-11-02 01:24] #55545 closed

[2022-11-02 01:25] CyrusNajmabadi commented on #55591
This is a request for the editor.  @olegtk .

[2022-11-02 01:25] #55591 closed

[2022-11-02 01:26] CyrusNajmabadi commented on #55723
This generator was heavily fixed up to be very low overhead.  Closing out.

[2022-11-02 01:26] #55723 closed

[2022-11-02 01:27] CyrusNajmabadi commented on #55734
@akhera99 did you fix this?

[2022-11-02 01:29] #55945 closed

[2022-11-02 01:33] CyrusNajmabadi commented on #56306
If this is still an issue, we should just do this.  If we don't have current traces showing this to be a problem, we don't need this tracking it.

[2022-11-02 01:33] #56306 closed

[2022-11-02 01:34] CyrusNajmabadi commented on #2584
Unlikely to do this ever.

[2022-11-02 01:34] #2584 closed

[2022-11-02 01:34] CyrusNajmabadi commented on #2948
Closing out as we haven't had any issues here.  Unlikely to change this absent a real reported customer problem.

[2022-11-02 01:34] #2948 closed

[2022-11-02 01:34] CyrusNajmabadi commented on #3738
Unlikely to do anything here.

[2022-11-02 01:34] #3738 closed

[2022-11-02 01:35] CyrusNajmabadi commented on #6442
Unlikely to do anything here.

[2022-11-02 01:35] #6442 closed

[2022-11-02 01:36] CyrusNajmabadi commented on #7309
@jasonmalinowski should this still be assigned to ravi?

[2022-11-02 01:36] CyrusNajmabadi commented on #7677
Unlikely to do anything here.

[2022-11-02 01:36] #7677 closed

[2022-11-02 01:36] CyrusNajmabadi commented on #8338
Unlikely to do anything here.

[2022-11-02 01:36] #8338 closed

[2022-11-02 01:37] CyrusNajmabadi commented on #8956
Unlikely to do anything here.

[2022-11-02 01:37] #8956 closed

[2022-11-02 01:37] #43602 closed

[2022-11-02 01:37] #43603 closed

[2022-11-02 01:37] CyrusNajmabadi commented on #9729
Unlikely to do anything here.

[2022-11-02 01:37] CyrusNajmabadi commented on #12111
Unlikely to do anything here.

[2022-11-02 01:37] #12111 closed

[2022-11-02 01:38] #15729 closed

[2022-11-02 01:38] CyrusNajmabadi commented on #16712
Unlikely to do anything here.

[2022-11-02 01:38] #16712 closed

[2022-11-02 01:38] CyrusNajmabadi commented on #16732
Unlikely to do anything here.

[2022-11-02 01:38] #16732 closed

[2022-11-02 01:39] CyrusNajmabadi commented on #19042
@sharwell still anything to do here?  can we close this out if not?

[2022-11-02 01:39] CyrusNajmabadi commented on #22274
Unlikely to do anything here.  We're getting rid of that subsystem entirely.

[2022-11-02 01:39] #22274 closed

[2022-11-02 02:04] olegtk commented on #55591
Good suggestion, I reactivated https://developercommunity.visualstudio.com/t/Add-Right-Click-for-IntelliSense-Overloa/1492635

[2022-11-02 02:15] olegtk commented on #55185
yeah, I reactivated https://developercommunity.visualstudio.com/t/Inline-hint-Experimental---outline-is-/1488288

[2022-11-02 04:17] jasonmalinowski commented on #7309
@CyrusNajmabadi Well, he _could_ still make contributions. That said, I'll reassign to me.

[2022-11-02 05:50] yaakov-h commented on #45931
I can't repro anymore in VS2022 v17.3.6, even without an editorconfig.

[2022-11-02 06:31] mitchdenny commented on #64821
Happens in VS as well.

[2022-11-02 07:13] yz-qiang opened #65164 "Can this tool obtain the namespace of each element in the C# file?"
Hi, Roslyn is a nice job, thanks for your contribution.
Here, I have a question about code analysis.
Given a `C#` code file, for example:

"using System;
namespace std
{
    class HelloWorld
    {
        static void Main(string[] args)
        {
            **Console.WriteLine("Hello World!");**
            **Console.ReadKey();**
        }}}
"

Whether Roslyn can  output a file that each code ele

[2022-11-02 07:22] jcouv opened #65165 "Unreachable exception in `EEMethodSymbol.DeclaringSyntaxReferences`"
Repro: add the following test to `ExpressionCompilerTests`. This test crashes the compiler with an unreachable exception in `EEMethodSymbol` (line 388, in `DeclaringSyntaxReferences`).

FYI @AlekseyTs

[code]

[code]

Moved from https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1456854

[2022-11-02 07:45] CyrusNajmabadi commented on #45931
Closing out then :-)

[2022-11-02 07:45] #45931 closed

[2022-11-02 07:48] CyrusNajmabadi commented on #64821
This is by design. Once you start typing modifiers, we use that to filter the list of overrides down more. If you don't want that, just type 'override<space>' and all will be there.

[2022-11-02 09:02] mavasani opened #65167 "Assert in Microsoft.CodeAnalysis.CSharp.Binder.GetValEscape method during build"
**Version Used**: Latest Roslyn bits from main branch

**Steps to Reproduce**:

1. F5 Roslyn.sln built from main branch
2. Clone and checkout https://github.com/nikcio/lucenenet/tree/debug/vs2022-crash
3. Build `Lucene.Net.Minimal.sln`

Below assert fires: https://github.com/dotnet/roslyn/blob/f30083b91d472bae32b202418a45cdda15ae5591/src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs#L3642

[2022-11-02 09:07] jez9999 opened #65169 "Unused using statements are no longer greyed out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Seemingly since I upgraded to Visual Studio 17.4.0 Preview 5.0, Visual Studio is no longer greying out my unused `using`s.  Here, I temporarily set IDE0005 to a warning to see what would've been greyed out:

![usings](https://user-images.githubusercontent.com/793830/199448936-2ebe3676-82d0-4e

[2022-11-02 11:31] virzak opened #65170 "Events in records are included in generated Equals"
**Version Used**: .NET6, .NET 7 rc-2

**Steps to Reproduce**:
https://sharplab.io/#gist:66a3912dd5833af7ac9f64987fb5763e

1. Create a record class
2. Include a public event
3. Create identical records
4. Subscribe to the event
5. Compare the two records
6. They are not equal, due to the event

Declaration
[code]

Invocation
[code]

**Expected Behavior**:
`expectTrue` to be true.

**Actual Behavior

[2022-11-02 12:28] SorenHN opened #65171 "Missing warning of possible use of null reference in large method"
**Version Used**:
`MSBuild version 17.3.2+561848881 for .NET`

**Steps to Reproduce**:
I am using a nullable member property in a large method.
No warning of the possible use of a null reference is shown by the compiler.
If most of the code is removed from the method, the compiler is then able to show the warning.

Here is an anonymized example of the problem:
[Code with no warning](https://gist.g

[2022-11-02 12:46] mavasani opened #65172 "Issues with error list entries with LSP pull diagnostics enabled"
**Expected behavior:**

![image](https://user-images.githubusercontent.com/10605811/199492396-4fb9f79d-4b3f-49d7-9eec-2ee25b3bd940.png)

**Actual behavior:**

![image](https://user-images.githubusercontent.com/10605811/199492677-7421fb5a-7f1a-48da-826d-7653904f3302.png)

Note that the `Suppression State` column is empty and we are also missing the expansions on the leftmost column to view the diag

[2022-11-02 12:47] mavasani commented on #65172
@dibarbet @CyrusNajmabadi - not sure if these are known issues. If so, and we already have a tracking item, feel free to close this one out.

[2022-11-02 12:49] mavasani commented on #62498
Another possible cause could be LSP pull diagnostics, see https://github.com/dotnet/roslyn/issues/65172. @Youssef1313 can you confirm if you have pull diagnostics enabled or not?

![image](https://user-images.githubusercontent.com/10605811/199493838-9df21efb-026f-4cf7-b7f0-8c4264221d20.png)

[2022-11-02 13:17] Youssef1313 commented on #62498
@mavasani Yes I have pull diagnostics enabled.

[2022-11-02 13:18] Youssef1313 commented on #62498
I can't imagine why `ImplicitUsings` would affect error list.

[2022-11-02 13:22] Youssef1313 commented on #62498
@mavasani Should I close as a duplicate of #65172 ?

[2022-11-02 13:46] Youssef1313 commented on #65167
Related issues:

https://github.com/dotnet/roslyn/issues/64471
https://github.com/dotnet/roslyn/issues/58177

[2022-11-02 13:46] mavasani commented on #62498
Yes, if disabling pull diagnostics fixes the issue then go ahead

[2022-11-02 13:54] Youssef1313 commented on #62498
Yes, it does fix it. I'm going to close out.

[2022-11-02 13:54] #62498 closed

[2022-11-02 14:45] Youssef1313 commented on #65169
That was supposed to be fixed in https://github.com/dotnet/roslyn/pull/62562 😕

cc @mavasani

[2022-11-02 15:07] mavasani commented on #65169
Do you have EnforceCodeStyleInBuild MSBuild property set to true or explicitly have a NuGet package reference to C# code style analyzers package?

[2022-11-02 15:20] jez9999 commented on #65169
I did have an explicit NuGet package reference, yes.  Removing it seems to fix it.  That reference breaks things now?

[2022-11-02 15:24] Youssef1313 commented on #65169
@jez9999 Try using the latest version of the NuGet package.

[2022-11-02 16:04] ayakael opened #65174 "Servicing branches for releases"
Contrary to many other dotnet components, `roslyn` does not have servicing branches for various SDK versions. This complicates things when we want to backport changes from `main`.

For example, Fedora and Alpine packaging teams have a patch for fixing roslyn on mono that has been in `main` for a year. It'd be nice if we could backport it to `release/6.0.1xx` so that we can all benefit from each ot

[2022-11-02 16:06] ayakael commented on #65174
For reference, `source-build` for `release/6.0.1xx` uses commit `487283bcd8d66693091f2800dcf1c8ae37cccdee`. It'd be nice if that was attached to a `release/6.0.1xx` branch on GitHub for me to open up a MR to backport the referenced mono fix.

[2022-11-02 16:17] akhera99 commented on #51842
I'll take a look

[2022-11-02 16:22] CyrusNajmabadi commented on #22770
Closing this out as i don't think this bug helps us.  We're aware of issues here.  So if we wnat to do anything we should drive it with a plan with a realistic milestone.

[2022-11-02 16:22] #22770 closed

[2022-11-02 16:23] CyrusNajmabadi commented on #23615
Closing this out.  We should either do this or not.  The tracking issue doesn't help us here.

[2022-11-02 16:23] #23615 closed

[2022-11-02 16:23] CyrusNajmabadi commented on #25222
Does this still repro?

[2022-11-02 16:24] CyrusNajmabadi commented on #25790
Closing out.  We should either do these things or not.  Having an issue akin to 'consider cleaning this up' lasting for 4+ years isn't valuable.

[2022-11-02 16:24] #25790 closed

[2022-11-02 16:25] CyrusNajmabadi commented on #26456
If someone wants to do this as part of normal work/cleanup, they're welcome to.  We don't really need a tracking bug saying something can be cleaned up.

[2022-11-02 16:25] #26456 closed

[2022-11-02 16:25] #27346 closed

[2022-11-02 16:28] CyrusNajmabadi commented on #29274
Subsumed in https://github.com/dotnet/roslyn/issues/29275

[2022-11-02 16:28] #29274 closed

[2022-11-02 16:28] CyrusNajmabadi commented on #29272
Subsumed by https://github.com/dotnet/roslyn/issues/29275

[2022-11-02 16:28] #29272 closed

[2022-11-02 16:28] CyrusNajmabadi commented on #29271
Subsumed by https://github.com/dotnet/roslyn/issues/29275

[2022-11-02 16:28] #29271 closed

[2022-11-02 16:29] CyrusNajmabadi commented on #29293
Don't need tracking issue for this.

[2022-11-02 16:29] #29293 closed

[2022-11-02 16:29] CyrusNajmabadi commented on #29782
Closing out.

[2022-11-02 16:29] #29782 closed

[2022-11-02 16:34] CyrusNajmabadi commented on #29285
Subsumed by https://github.com/dotnet/roslyn/issues/30463

[2022-11-02 16:34] #29285 closed

[2022-11-02 16:34] CyrusNajmabadi commented on #29282
Subsumed by https://github.com/dotnet/roslyn/issues/30463

[2022-11-02 16:34] #29282 closed

[2022-11-02 16:34] CyrusNajmabadi commented on #29276
Subsumed by https://github.com/dotnet/roslyn/issues/30463

[2022-11-02 16:34] CyrusNajmabadi commented on #29277
Subsumed by https://github.com/dotnet/roslyn/issues/30463

[2022-11-02 16:34] #29277 closed

[2022-11-02 16:34] CyrusNajmabadi commented on #29280
Subsumed by https://github.com/dotnet/roslyn/issues/30463

[2022-11-02 16:34] #29280 closed

[2022-11-02 16:35] CyrusNajmabadi commented on #31061
closing out since it has not been acted upon.  this is likely to never get attention.

[2022-11-02 16:35] #31061 closed

[2022-11-02 16:36] CyrusNajmabadi commented on #31062
closing out since it has not been acted upon. this is likely to never get attention.

[2022-11-02 16:36] CyrusNajmabadi commented on #31140
this was done.

[2022-11-02 16:36] #31140 closed

[2022-11-02 16:38] CyrusNajmabadi commented on #31384
Closing out.

[2022-11-02 16:38] #31384 closed

[2022-11-02 16:38] CyrusNajmabadi commented on #32095
Closing out.  We can drive these as bug fixes as necessary.

[2022-11-02 16:38] #32095 closed

[2022-11-02 16:39] CyrusNajmabadi commented on #32163
Closign out.

[2022-11-02 16:39] #32163 closed

[2022-11-02 16:39] CyrusNajmabadi commented on #32212
Closing out.

[2022-11-02 16:39] #32212 closed

[2022-11-02 16:39] CyrusNajmabadi commented on #32253
Closing out.

[2022-11-02 16:39] #32253 closed

[2022-11-02 16:39] #48247 closed

[2022-11-02 16:39] CyrusNajmabadi commented on #32260
Closing out.

[2022-11-02 16:39] #32260 closed

[2022-11-02 16:40] CyrusNajmabadi commented on #32295
Closing out.

[2022-11-02 16:40] #32295 closed

[2022-11-02 16:40] CyrusNajmabadi commented on #32551
@jasonmalinowski you were looking at this right?

[2022-11-02 16:40] jez9999 commented on #65169
Do we still need to explicitly pull it in from NuGet or is its functionality bundled now?

[2022-11-02 16:41] CyrusNajmabadi commented on #32720
@mavasani did you ever change this?

[2022-11-02 16:41] jez9999 commented on #65169
By the way, I had 4.3.1 (latest stable) referenced.

[2022-11-02 16:42] CyrusNajmabadi commented on #33084
Closing out.  This tracking issue isn't helping us.  Either we shoudl fix thsi, or accept that the code works this way and has for years.

[2022-11-02 16:42] CyrusNajmabadi commented on #33129
@Therzok is this still an issue that needs focus?

[2022-11-02 16:43] CyrusNajmabadi commented on #33504
closing out. solution crawler is being removed.

[2022-11-02 16:43] #33504 closed

[2022-11-02 16:43] CyrusNajmabadi commented on #33710
Closing out.

[2022-11-02 16:43] #33710 closed

[2022-11-02 16:43] CyrusNajmabadi commented on #33726
Closing out.

[2022-11-02 16:43] #33726 closed

[2022-11-02 16:45] CyrusNajmabadi commented on #34331
subsumed by https://github.com/dotnet/roslyn/issues/29275

[2022-11-02 16:45] #34331 closed

[2022-11-02 16:45] Youssef1313 commented on #65169
@jez9999 Sorry if I wasn't clear, you need the previews.

The functionality from the NuGet package is shipped with the .NET SDK, and you can enable it via `EnforceCodeStyleInBuild`, but I'm not sure which version of the package is used in the latest .NET SDK.

[2022-11-02 16:45] mavasani commented on #59214
Confirmed that this repros both with LSP pull diagnostics enabled and disabled. In fact, with LSP disabled, there does not seem to be anywhere that we report no location diagnostics (similar to AD0001 for analyzer exceptions). I think we should only attempt to fix this in the LSP pull diagnostics mode.

@dibarbet @CyrusNajmabadi - I think reporting no location diagnostics should go somewhere insid

[2022-11-02 16:45] CyrusNajmabadi commented on #34428
closing out.

[2022-11-02 16:45] #34428 closed

[2022-11-02 16:45] CyrusNajmabadi commented on #35156
closing out.

[2022-11-02 16:45] #35156 closed

[2022-11-02 16:46] CyrusNajmabadi commented on #35615
Solution crawler is going away.

[2022-11-02 16:46] #35615 closed

[2022-11-02 16:47] #36135 closed

[2022-11-02 16:47] CyrusNajmabadi commented on #36559
Closing out.

[2022-11-02 16:47] #36559 closed

[2022-11-02 16:48] CyrusNajmabadi commented on #36568
Closing out.

[2022-11-02 16:48] #36568 closed

[2022-11-02 16:48] CyrusNajmabadi commented on #36622
Closing out.

[2022-11-02 16:48] #36622 closed

[2022-11-02 16:48] mavasani commented on #65169
Yes, the fix for this issue went into the CodeStyle analyzer itself. So if you are either referencing an older CodeStyle analyzer package OR fetching it from within the SDK and the analyzer assembly is an older version than the one with the fix, then you would continue to see this issue.

[2022-11-02 16:49] CyrusNajmabadi commented on #37175
Closing out.  if we want to do this, we should make an actual work item with a real milestone.

[2022-11-02 16:49] #37175 closed

[2022-11-02 16:49] #37208 closed

[2022-11-02 16:50] CyrusNajmabadi commented on #37339
This doesn't repro for me.

[2022-11-02 16:50] #37339 closed

[2022-11-02 16:50] mavasani commented on #32720
Nothing that I can remember.

[2022-11-02 16:51] #65169 closed

[2022-11-02 16:51] CyrusNajmabadi commented on #37577
Closing out.  We shoudl either do this (and assign a real milestone, or accept that we don't.

[2022-11-02 16:54] #4469 closed

[2022-11-02 16:55] jmarolf commented on #7068
yep this is complete

[2022-11-02 16:55] #7068 closed

[2022-11-02 16:56] vsfeedback opened #65176 "Feature 'Edit and Continue' currently unavailable due to an internal error. Read out of bounds."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Feature-Edit-and-Continue-currently-un/10172594)._

---
[severity:I'm unable to use this version]
Each time I am trying to debug unit test from Test Explorer I am getting "Feature 'Edit and Continue' is currently unavailable due to an internal error."
I had following version of Visual St

[2022-11-02 16:58] jmarolf commented on #14102
moved to https://developercommunity.visualstudio.com/t/Have-CodeLens-References-Window-Use-Find/10188408

[2022-11-02 16:58] #14102 closed

[2022-11-02 16:59] tmat commented on #65176
The call to `CreateEditAndContinueMethodDebugInfoReader` should guard against BadImageFormatException and report good error message.

[2022-11-02 17:01] #39890 closed

[2022-11-02 17:03] tmat commented on #65176
It is very likely that after PostSharp applies its IL transformations the EnC data in the PDB are not valid anymore.
In general, Edit and Continue is not supported in projects that use any kind of IL postprocessing.

[2022-11-02 17:26] CyrusNajmabadi commented on #40040
Closing out.  We should either do this in a milestone or accept our behavior here.

[2022-11-02 17:26] #40040 closed

[2022-11-02 17:27] CyrusNajmabadi commented on #40094
Not sure what we need here.  This has had no movement in 3 years, so assuming we're good.  If not, we should define what we need and place in a real milestone.

[2022-11-02 17:27] #40094 closed

[2022-11-02 17:27] CyrusNajmabadi commented on #40102
Closing out.  If someone wants to do this, they can just go ahead and do it.

[2022-11-02 17:27] #40102 closed

[2022-11-02 17:27] dibarbet commented on #59214
@mavasani we should be reporting project diagnostics, but only when FSA is on - see https://sourceroslyn.io/#Microsoft.CodeAnalysis.LanguageServer.Protocol/Handler/Diagnostics/WorkspacePullDiagnosticHandler.cs,146 .

Perhaps we should enable this for projects with open documents when FSA is off?  It seems like it would be a perf hit if we enabled it for all projects regardless of FSA.

[2022-11-02 17:28] CyrusNajmabadi commented on #40166
Closing out.

[2022-11-02 17:28] #40166 closed

[2022-11-02 17:29] CyrusNajmabadi commented on #40860
@sharwell can we just do this?

[2022-11-02 17:29] dibarbet commented on #65172
thanks - not known I believe.  Assigning to myself.  Descriptions should be available in the spec so will have to dig into those.  Suppressions I don't think is spec'd so we'll have to talk with the client there.

[2022-11-02 17:30] CyrusNajmabadi commented on #40891
We should just do this work if necessary.  If so, it shoudl be assigned to an actual milestone.  Having a tracking issue here taht we never get to doesn't benefit us.

[2022-11-02 17:30] #40891 closed

[2022-11-02 17:30] CyrusNajmabadi commented on #41049
Closing out.

[2022-11-02 17:30] #41049 closed

[2022-11-02 17:31] CyrusNajmabadi commented on #41130
Closing out.

[2022-11-02 17:31] #41130 closed

[2022-11-02 17:31] CyrusNajmabadi commented on #41136
Closing out.

[2022-11-02 17:31] #41136 closed

[2022-11-02 17:31] CyrusNajmabadi commented on #41145
Closing out.

[2022-11-02 17:32] #41149 closed

[2022-11-02 17:33] CyrusNajmabadi commented on #41244
Closing out.  If we intend to actually do this, we should put in an actual milestone and do it.

[2022-11-02 17:33] CyrusNajmabadi commented on #41411
This type was removed entirely.

[2022-11-02 17:33] #41411 closed

[2022-11-02 17:43] #20812 closed

[2022-11-02 17:43] akhera99 commented on #65150
if I had to guess, I believe the issue is that I indiscriminately add trivia to each token in the snippet when I should match the trivia from the original document

[2022-11-02 17:43] #39434 closed

[2022-11-02 17:47] jasonmalinowski commented on #58199
@jaredpar @MattGal Looks like we have this very old (almost one year!) bug tracking what might have been temporary flakiness, but it looks like we're still seeing this every so often. Is there still something needing investigation here?

[2022-11-02 17:50] jaredpar commented on #64542
Closing as we haven't seen any hits since I changed the code to disable the MSBuild server. Can re-open if new hits occur.

[2022-11-02 17:50] #64542 closed

[2022-11-02 17:52] MattGal commented on #58199
I don't think this issue is super useful to keep open.  External dependencies are going to be occasionally flaky and there are bogus results coming up on this query anyways ([the 2nd one](https://dev.azure.com/dnceng-public/public/_build/results?buildId=64144&view=logs&j=e17f9a21-5808-53ac-d59d-b490febace5d&t=7678b3eb-e85b-5e64-d127-290255c9e062) is just Helix test failures?).    Since we use the

[2022-11-02 17:53] jasonmalinowski commented on #65060
@genlu I think this also got discussed over email or Teams but can't find it now.

[2022-11-02 17:55] jasonmalinowski commented on #65105
@kjkrum Does it work if you check this checkbox?
![image](https://user-images.githubusercontent.com/201340/199565192-78e2acc2-bc8b-4b24-9317-bd5b19daf9f5.png)

[2022-11-02 17:57] #65138 closed

[2022-11-02 17:58] jasonmalinowski commented on #65134
Moving to compilers, but I suspect our answer might be "just enable long path support".

[2022-11-02 18:00] jasonmalinowski commented on #64930
@jmarolf: assigning this one to you since we seem to have had quite the recentl flood of ".editorconfig isn't working" reports, so I'm wondering if something generally is broken.

[2022-11-02 18:01] jasonmalinowski commented on #64902
@CyrusNajmabadi @sharwell Before I triage out: does this request match your expectation for what "is apparent" is supposed to do here? I know it's not as well specced as we'd like...

[2022-11-02 18:02] DoctorKrolic commented on #65150
I wonder why you've designed semantic snippets the way they are currently done? Any snippet provider has to provide a snippet in a form of `TextChange`s (which it would most likely generate using syntax factory/generator) in order for them to be inserted into the document and then be parsed back to syntax again? There is a chain of `syntax (most likely) -> text -> syntax -> final text` in the end,

[2022-11-02 18:06] jasonmalinowski commented on #64785
So I was about to type "sure, trying to optimize the fast case is good", but having second thoughts. The nice part about it always showing up is a fast Ctrl+. without reading the list will work just fine. Now this means the behavior changes whether or not we actually have a reference which _a priori_ I might not know.

Totally up for trying it, but I reserve the right to hate it. :smile:

[2022-11-02 18:11] #64975 closed

[2022-11-02 18:16] jasonmalinowski commented on #58199
Alright, just wanted to confirm. Closing

[2022-11-02 18:16] #58199 closed

[2022-11-02 18:17] CyrusNajmabadi commented on #64902
Neither of these cases seem apparant to me.  THere's nothing on the RHS that makes me understand what the type should be.

[2022-11-02 18:18] jasonmalinowski commented on #65123
@CyrusNajmabadi Is there an existing bug to dupe against, or should this be kept around to remind somebody to look at that telemetry?

[2022-11-02 18:23] jasonmalinowski commented on #51386
@mavasani Any idea if we fixed something like this at some point? Also, who actually owns this code between IDE and Compiler?

[2022-11-02 18:29] #39052 closed

[2022-11-02 18:29] vsfeedback opened #65183 "NullReferenceExceptions when using wrong conditional delegate types"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NullReferenceExceptions-when-using-condi/10177229)._

---
\[severity:It bothers me. A fix would be nice\]
Various NullReferenceException appear, crashing Code Lens, Code Refactorings, Semantic Classification, Document Analyzer and Document highlights, all at once. It appeared when enteri

[2022-11-02 18:30] jasonmalinowski commented on #64902
@CyrusNajmabadi That was my thought, but wasn't sure if there was some funky logic here.

[2022-11-02 18:37] CyrusNajmabadi commented on #65150
This would tie snippets to C# or VB.

[2022-11-02 18:38] jasonmalinowski commented on #20665
Looks like I did fix this when I rewrote all this, a minute or two with the debugger doesn't see any duplicate parsing, even if ruleset files change.

[2022-11-02 18:38] #20665 closed

[2022-11-02 18:46] #64925 closed

[2022-11-02 18:52] #40006 closed

[2022-11-02 18:55] CyrusNajmabadi opened #65186 "Introduce-parameter has to be deprioritized"
It constantly appears over more relevant items, and it does not have hte usage numbers to justify placing here:

![image](https://user-images.githubusercontent.com/4564579/199577398-2d4bcb2b-e37b-48ed-a52a-dd5a964f7cf7.png)

[2022-11-02 18:58] Youssef1313 commented on #65186
@CyrusNajmabadi This was supposed to be done in https://github.com/dotnet/roslyn/pull/56359

In PR description, there is a screenshot showing it below "Use pattern matching".

[2022-11-02 19:13] #65048 closed

[2022-11-02 19:15] CyrusNajmabadi commented on #65186
@akhera99 this needs an integration test so that it won't regress.

[2022-11-02 19:17] CyrusNajmabadi commented on #42606
@sandyarmstrong is any work here still needed?

[2022-11-02 19:17] CyrusNajmabadi commented on #42688
Closing out.

[2022-11-02 19:17] #42688 closed

[2022-11-02 19:17] CyrusNajmabadi commented on #42689
Closing out.

[2022-11-02 19:17] #42689 closed

[2022-11-02 19:18] CyrusNajmabadi commented on #42753
Closing out.  We haven't heard about any more issues here.  If we have a current user scenario with issues we can get traces and look into it.

[2022-11-02 19:18] #42753 closed

[2022-11-02 19:19] CyrusNajmabadi commented on #42847
Closing out.  We either shoudl do this (and thus assign it a milestone) or accept it's not getting done and not have it just sitting around forever.

[2022-11-02 19:19] #42847 closed

[2022-11-02 19:21] #43143 closed

[2022-11-02 19:22] CyrusNajmabadi commented on #43164
Closing out as not being important enough.

[2022-11-02 19:22] #43164 closed

[2022-11-02 19:22] CyrusNajmabadi commented on #43312
Closing out.  This is by design.  The user said they wanted to inline the initializer at all the use sites.  So that was what was done.  If the user doesn't want that expensive work to be performed multiple times, then they should not inline the initializer.

[2022-11-02 19:22] #43312 closed

[2022-11-02 19:23] CyrusNajmabadi commented on #43341
Closing out.  We should either do this (and then assign a milestone to this), or just accept that our code does not.

[2022-11-02 19:23] #43341 closed

[2022-11-02 19:23] CyrusNajmabadi commented on #43401
Closing out.  We shoudl base this on traces we know of and actually assign this a milestone if needs to be done.

[2022-11-02 19:23] #43401 closed

[2022-11-02 19:24] CyrusNajmabadi commented on #43407
This field is gone.

[2022-11-02 19:24] #43407 closed

[2022-11-02 19:27] CyrusNajmabadi commented on #43656
We have this.  Closing out:

![image](https://user-images.githubusercontent.com/4564579/199584157-fbbdcf56-4642-4915-8c44-a200a2338277.png)

[2022-11-02 19:27] #43656 closed

[2022-11-02 19:28] sandyarmstrong commented on #42606
We disable showing remarks by default in VSMac. Users can turn it on if they want it.

I don't know if there are still issues with this on Windows. @Redth @jonpryor @dalexsoto is this still a problem on Windows in legacy Xamarin? In MAUI workloads? I know there are still holes in API docs being shipped in some workloads (https://github.com/xamarin/xamarin-macios/issues/13614).

[2022-11-02 19:28] ArcadeMode commented on #22790
To rephrase more concisely:
Do we want to support this in all lists or only initializer lists?

I personally think its only relevant to intializer lists since nobody is reasonably going to type a semicolon to separate arguments in e.g. a lambda or base(...) expression.

[2022-11-02 19:29] RikkiGibson commented on #65183
I can repro in 17.3 with a sample like the following

[code]

It seems like actually performing an edit is required. But it's hard to tell, it seems to trigger a little erratically.

I haven't been able to repro in a unit test in the Roslyn 17.3 branch, and haven't been able to hit an exception breakpoint for this when attaching to VS 17.3, even when attaching to all subprocesses. I'm not sure why

[2022-11-02 19:29] CyrusNajmabadi commented on #44232
Closing out.  We should just do this or not.  If so, it should just be assigned a milestone.

[2022-11-02 19:29] #44232 closed

[2022-11-02 19:29] CyrusNajmabadi commented on #44233
Closing out. We should just do this or not. If so, it should just be assigned a milestone.

[2022-11-02 19:29] #44233 closed

[2022-11-02 19:29] CyrusNajmabadi commented on #44234
Closing out. We should just do this or not. If so, it should just be assigned a milestone.

[2022-11-02 19:29] #44234 closed

[2022-11-02 19:29] CyrusNajmabadi commented on #44235
Closing out. We should just do this or not. If so, it should just be assigned a milestone.

[2022-11-02 19:29] #44235 closed

[2022-11-02 19:32] CyrusNajmabadi commented on #45219
@jasonmalinowski  you were working on this right?

[2022-11-02 19:33] CyrusNajmabadi commented on #45404
Closing out as there does nto appear to be a driving reason to change this and it's not assigned to any milestone.

[2022-11-02 19:33] #45404 closed

[2022-11-02 19:34] CyrusNajmabadi commented on #45617
@sharwell is htere anything we need to do here, or can this be closed out?

[2022-11-02 19:35] CyrusNajmabadi commented on #45836
@ryzngard  can you ptal?

[2022-11-02 19:36] CyrusNajmabadi commented on #45954
Closing out.  If we want to do this, we shoudl assign to an actual milestone to get it done.

[2022-11-02 19:36] #45954 closed

[2022-11-02 19:37] CyrusNajmabadi commented on #46277
Closing out.  There doesn't appear to be enough feedback indicating this is a pattern worth supporting on our end.

[2022-11-02 19:37] #46277 closed

[2022-11-02 19:38] CyrusNajmabadi commented on #46582
Closing out.  We can do this work if teh editor ever implements thsi support.  We don't need a tracking issue speculating about doing it.

[2022-11-02 19:38] #46582 closed

[2022-11-02 19:41] CyrusNajmabadi commented on #47212
@jasonmalinowski this doesn't feel like a backlog item.

[2022-11-02 19:42] CyrusNajmabadi commented on #47694
This type is going away with pull diagnostics.

[2022-11-02 19:42] #47694 closed

[2022-11-02 19:44] CyrusNajmabadi commented on #47910
Closing out as working as intended

[2022-11-02 19:44] #47910 closed

[2022-11-02 19:46] CyrusNajmabadi commented on #48118
Moving to compiler.

[2022-11-02 19:47] #48127 closed

[2022-11-02 19:49] kjkrum commented on #65105
@jasonmalinowski Yes, thanks! However, I get a new error when navigating to generated code from the find references search results. This may deserve its own issue. I'll see if it's been reported.

[code]

I eliminated the error spam by disabling Text Editor > C# > Advanced > Show inheritance margin, which I never paid attention to anyway.

[2022-11-02 19:49] CyrusNajmabadi commented on #48520
I don't get any suggestion for that here:

![image](https://user-images.githubusercontent.com/4564579/199588583-32e85cbb-b93c-4f37-883d-ea96ed3ddc23.png)

[2022-11-02 19:49] #48520 closed

[2022-11-02 19:50] CyrusNajmabadi commented on #48592
Fixed with https://github.com/dotnet/roslyn/pull/49096.

[2022-11-02 19:50] #48592 closed

[2022-11-02 19:51] CyrusNajmabadi commented on #48852
Closing out.  If we want to do this we should create a design and give it a real milestone.

[2022-11-02 19:51] #48852 closed

[2022-11-02 19:51] CyrusNajmabadi commented on #48860
This is superseded by aiosp which does allow us to tell you the search results are incomplete.

[2022-11-02 19:51] #48860 closed

[2022-11-02 20:00] kjkrum commented on #65105
This appears to be #63232.

[2022-11-02 20:00] #65105 closed

[2022-11-02 20:17] #42462 closed

[2022-11-02 20:18] AdamSpeight2008 commented on #29998
@CyrusNajmabadi  It was completed 4 years ago, I moved on.
You are someone else can rebase the pull request on the latest branch.

[2022-11-02 21:11] vsfeedback opened #65191 "C# Interactive code completion gets broken after a broken code was input"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/C-Interactive-code-completion-gets-brok/10160305)._

---
Reproduction:

1.  Open the C# Interactive Window
2.  Type `Write()` (an incorrect invocation to `Console.Write`, the parameter for that method overloads is missing)
3.  In the subsequent submissions, neither syntax highlight or co

[2022-11-02 21:20] genlu commented on #65060
Yes. But no one else was able to repro, and based on the discussion of the azdo bug (which is resolved), it seems has something to do with SDK

[2022-11-02 21:20] #65060 closed

[2022-11-02 21:29] tmat commented on #46719
We are now using the same version as Roslyn.

[2022-11-02 21:29] #46719 closed

[2022-11-02 21:31] #64863 closed

[2022-11-02 21:32] #42181 closed

[2022-11-02 21:33] CyrusNajmabadi commented on #42606
Closing out since we haven't eheard anything else and it's off by default for vsmac.

[2022-11-02 21:33] #42606 closed

[2022-11-02 21:33] mavasani commented on #51386
Yes, should be fixed with https://github.com/dotnet/roslyn/pull/47748

[2022-11-02 21:39] #48876 closed

[2022-11-02 21:59] CyrusNajmabadi commented on #49114
@sharwell can we do this now?

[2022-11-02 22:01] CyrusNajmabadi commented on #49442
@ryzngard do we need this?  I thought you did something smart now to help with perf here?  or am i mistaken?

[2022-11-02 22:20] #50267 closed

[2022-11-02 22:22] CyrusNajmabadi commented on #50400
I get the expected result:

![image](https://user-images.githubusercontent.com/4564579/199613869-79872cb7-9175-4871-b1ce-e2d5403807ab.png)

[2022-11-02 22:22] #50400 closed

[2022-11-02 22:23] CyrusNajmabadi commented on #50495
@ryzngard  i think you may be working on a fix for something similar?

[2022-11-02 22:40] adityamandaleeka commented on #65081
@jasonmalinowski Just to confirm, will this fix only be available in 17.5+?

[2022-11-02 23:03] jasonmalinowski commented on #65081
@adityamandaleeka: we haven't even investigated yet. The "milestone" is just tracking us at least investigating it "soonerish" rather than "laterish".

[2022-11-02 23:27] CyrusNajmabadi commented on #65081
is there a repro, or more information on what the issue is that you would like fixed?

[2022-11-02 23:45] ryzngard commented on #50495
@CyrusNajmabadi yup, the linked PR

[2022-11-02 23:45] ryzngard commented on #49442
@CyrusNajmabadi still needed to improve perf. There are other fixes we've done but this would be a good win

[2022-11-02 23:47] CyrusNajmabadi commented on #50495
@ryzngard wdym?

![image](https://user-images.githubusercontent.com/4564579/199623017-493dadc2-1c26-4b7f-bf38-8217e8034958.png)

[2022-11-02 23:47] CyrusNajmabadi commented on #50495
Oh, i see.  it's here:

![image](https://user-images.githubusercontent.com/4564579/199623047-3bc61500-7dad-412f-9fd8-db80a807a61c.png)

:)

Didn't know about taht.

[2022-11-02 23:47] CyrusNajmabadi commented on #49442
Sounds good.  Thanks!

[2022-11-03 00:37] #49112 closed

[2022-11-03 00:42] #49791 closed

[2022-11-03 00:47] RikkiGibson commented on #37468
The nullability improvements working group [discussed this issue](https://github.com/dotnet/csharplang/blob/main/meetings/working-groups/nullability-improvements/NI-2022-11-01.md#linq) yesterday.

[2022-11-03 00:51] VictorioBerra opened #65200 "IDE0055 (Fix formatting) errors on Azure hosted build agent ubuntu-latest"
**Version Used**: dotnet SDK 6.0.402

**Steps to Reproduce**:

1. Build project on GitHub Actions Ubuntu build machine. Locally, on Windows I don't have any IDE0055 Fix formatting errors from the CLI or VS, or when building in WSL2 Ubuntu.

**Expected Behavior**:
Build succeeds

**Actual Behavior**:
Build fails with IDE IDE0055

I ran into this again today, my solution has been to build on windows

[2022-11-03 01:18] dibarbet commented on #65172
Tracking the suppression state column externally
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1664419

[2022-11-03 02:23] allisonchou opened #65203 "[Automated] PRs inserted in VS build main-33102.296"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/d78426fdaf14ced5280f94cbf8c6336fac3e7d06...0ec21aca1fd9167c10324db73106908c76567458?w=1)
- [Improve decl name suggestions for out-vars (65149)](https://github.com/dotnet/roslyn/pull/65149)
- [Ensure the lookup return the CompletionProvider if exist (65133)](https://github.com/dotnet/roslyn/pull/65133)
- [Fix a race between As

[2022-11-03 02:24] #65203 closed

[2022-11-03 03:27] adityamandaleeka commented on #65081
@CyrusNajmabadi The test failures in the aspnetcore PR linked above demonstrate the issue. The PR uses the `AddImportsAnnotation` but the new tests fail on Unix because the added imports use the LF line terminator instead of CR/LF.

Output from one of the failing tests:

[code]

[2022-11-03 05:07] jcouv commented on #64973
Thanks much @tmat. I'll go ahead and close the issue as by-design.

[2022-11-03 05:07] #64973 closed

[2022-11-03 05:08] jcouv commented on #65042
Thanks @Youssef1313 for digging this up. This is a bug but we'll keep this legacy behavior. I'll close as won't fix.

[2022-11-03 05:08] #65042 closed

[2022-11-03 05:30] jcouv commented on #64903
Assigned to @cston to load-balance

[2022-11-03 05:31] jcouv commented on #65171
Feels like it might be related to https://github.com/dotnet/roslyn/issues/61964

[2022-11-03 05:35] jcouv commented on #65167
Closing as duplicate of https://github.com/dotnet/roslyn/issues/58177

[2022-11-03 05:35] #65167 closed

[2022-11-03 05:36] jcouv commented on #64471
Closing as duplicate of https://github.com/dotnet/roslyn/issues/58177
I'll add the information about those two skipped tests in that issue.

[2022-11-03 05:37] jcouv commented on #64471
Argh, can't close yet. The issue number is referenced by the skipped tests.

[2022-11-03 05:38] jcouv commented on #64471
@cston Please unskip the two tests and remove the reference to this issue when fixing https://github.com/dotnet/roslyn/issues/58177

[2022-11-03 05:48] jcouv commented on #55969
Indeed, this looks like a compiler issue:

[code]

[2022-11-03 06:04] CyrusNajmabadi commented on #65081
Wouldn't `lf` be the expected line ending on unix?  Does the test specify the desired editorconfig eol?

[2022-11-03 07:05] Youssef1313 commented on #65081
@CyrusNajmabadi I guess tests in roslyn-analyzers repo (and possibly roslyn as well?) run both on Windows and Unix and they don't seem to specify editorconfigs, and don't fail.

Moreover, what's happening for https://github.com/Youssef1313/YAnalyzers/pull/43 is the exact opposite, I get CRLF on Ubuntu 😄

[2022-11-03 07:07] Youssef1313 commented on #65081
Also https://github.com/dotnet/format/issues/1099 seems to discourage `end_of_line` usage?

[2022-11-03 07:14] Youssef1313 commented on #65200
Do you have `end_of_line` in `.editorconfig`? Does removing it fixes the errors?

See https://github.com/dotnet/format/issues/1099

[2022-11-03 07:35] CyrusNajmabadi commented on #65081
Can someone create a test in roslyn that demonstrates the issue?  I'm not really liking the idea of having to go try to set everything up like in the other repos to figure out what's going on here.

[2022-11-03 08:33] Tragetaschen opened #65209 "Removing empty lines in a class can remove all errors from that file"
**Version Used**:
17.4.0 Preview 6.0

**Steps to Reproduce**:

I have a small example C# file in my normal project. This file has errors (unimplemented interface and missing `async`):

[code]

I add a couple of empty lines in that file above the `Method` and then remove them randomly using Shift+Del.

**Expected Behavior**:
Nothing weird should happen.

**Actual Behavior**:
Each time I remove line

[2022-11-03 09:06] Youssef1313 commented on #65209
Likely related to https://github.com/dotnet/roslyn/pull/64885

[2022-11-03 09:23] Tragetaschen commented on #65209
Given the title of the linked PR: In my example, I never actually built the project. All errors only come from IntelliSense

[2022-11-03 09:53] mavasani commented on #59214
I don't think we want to enable whole project analysis even for projects with open documents when FSA is off. That will definitely be a perf hit. What we instead want is to report any project diagnostics that are reported by analyzers while analyzing open documents, without kicking off any additional analysis. This would need additional implementation in the OOP DiagnosticComputer side to keep tra

[2022-11-03 10:11] Youssef1313 commented on #65209
Yes, the diagnostics that are cleared in your case don't seem to be build-only diagnostics. But it needs investigation to know whether this is caused by #64885 (unintentionally) or not.

I linked this PR because it's a recent seemingly related change.

cc @mavasani

[2022-11-03 10:25] mavasani commented on #65209
@Youssef1313 https://github.com/dotnet/roslyn/pull/64885 shouldn't be causing this. I am seeing similar slowness in diagnostic computation in latest intpreview builds. Seems like an unrelated regression. I'll investigate

[2022-11-03 10:27] Youssef1313 opened #65210 "F1 on `default` in generic constraints takes to wrong documentation"
Hit F1 on `default` in `where T : default`.

## Expected behavior

https://learn.microsoft.com/en-us/dotnet/csharp/programming-guide/generics/constraints-on-type-parameters

## Actual behavior

https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/operators/default

[2022-11-03 11:57] b-straub commented on #63776
Can you please advise how to solve the duplicate diagnostic problem for Intellisense?
For my SG I have analyzers showing potential problems breaking the source generation along with code fixes to solve those problems. Now I have two possible scenarios but both are not satisfying:
1) Use the analyzers and report the diagnostics also from SourceProductionContext
2) Use only the analyzers

Problems w

[2022-11-03 14:11] jjonescz opened #65213 "Share synthesized delegate types with same default parameter values"
## The problem

[code]

Currently,
- `lam1` has type `<>f__AnonymousDelegate0` and
- `lam2` has type `<>f__AnonymousDelegate1`.

Do we instead want one generic type for both only differing in type argument, i.e.,
- `lam1` to have type ``<>A{00000000}`1[System.Double]`` and
- `lam2` to have type ``<>A{00000000}`1[System.String]``?

## Possible solution

`AnonymousTypeManager.AnonymousDelegateTempla

[2022-11-03 15:02] vzarytovskii commented on #64168
Hey folks, we already do some classification internally, how we would expose that so Roslyn can utilize that?

[2022-11-03 16:19] DrLeh commented on #62059
Ok i was finally able to get the report a problem feature to work. I submitted a new ticket as it's still happening in the latest preview https://developercommunity.visualstudio.com/t/Feature-x-is-currently-unavailable-due/10189905?scope=follow

[2022-11-03 17:03] CyrusNajmabadi commented on #64168
Don't you already support this through: https://github.com/dotnet/roslyn/blob/main/src/Tools/ExternalAccess/FSharp/Classification/IFSharpClassificationService.cs ?

[2022-11-03 17:18] vzarytovskii commented on #64168
Good question, not sure if we utilizing this. Will need to look at it.

[2022-11-03 17:52] RikkiGibson commented on #65171
I have this weird feeling that when we fix this, quite a few people will have new warnings in their builds. :) I'm not sure.

[2022-11-03 18:11] julealgon commented on #48876
@CyrusNajmabadi would you mind updating the 'Milestone' for the issue? It still shows "Backlog" there.

[2022-11-03 18:22] AlekseyTs commented on #55969
I do not think the repro above is representative of the issue being reported here. The ```invocation.Position``` is 0 and, effectively the repro is asking for symbols that are in scope at the ```#```. Position that is before the ```SpanStart``` of the first global statement is treated as not within the method body, therefore, ```args``` are not in scope. Starting with the ```SpanStart``` of the fi

[2022-11-03 18:29] CyrusNajmabadi commented on #48876
@julealgon a bot will auto update that.

[2022-11-03 18:30] CyrusNajmabadi commented on #55969
This reproes without the pp directive right?  Like for the normal template?

[2022-11-03 18:31] #65200 closed

[2022-11-03 18:31] AlekseyTs commented on #55969
Going back to the issue being reported, as I understand it. Given the following code:
[code]
```args``` are not offered after "ar" on the second line.

I think this is caused by the fact that the second line is not parsed as a global statement, but instead is parsed as an incomplete member:
![image](https://user-images.githubusercontent.com/10522107/199804863-49a511d2-4629-405a-b60e-67b8c784b385.p

[2022-11-03 18:36] CyrusNajmabadi commented on #55969
An interesting approach at the top level would be to parse this out in the same way that it would be parsed in a method body.  (in this case, likely an expression-statement containing that identifier).  That seems, to me at least, to be better than an incomplete-member (which basically breaks everything everywhere it appears :)).

I'd be happy to try making such a change. Feel free to reassign to

[2022-11-03 18:45] AlekseyTs commented on #55969
Presence of the directive makes ```Position``` < ```SpanStart```. I am not sure what is in the "normal template", but I do not think this is what is causing the issue during typing. During typing position of the cursor is within a global statement, assuming the line is parsed as part of one.

[2022-11-03 18:46] jaredpar commented on #65134
This is actually an MSBuild issue as we're using their primitive to find the editor config file. Agree though it's going to be "enable long path support".

[2022-11-03 18:48] #65172 closed

[2022-11-03 18:49] jaredpar commented on #64468
Chatted a bit internally and we've conclude it was likely not done in Roslyn originally because of a limitation in layering. The `StrongNameProvider` originally was windows specific and hence couldn't be put into the more general layer where command line argument parsing occurs. It was a decision we just didn't revisit once the layering was fixed. So there isn't a deliberate reason for this, just

[2022-11-03 18:51] jaredpar commented on #65142
@cston PTAL

[2022-11-03 18:51] CyrusNajmabadi commented on #55969
I can repro this with trivial cases.  For example, just trying to bring up completion in an empty file:

![image](https://user-images.githubusercontent.com/4564579/199808514-b4993d0f-3573-469d-95b8-97e97d5fa415.png)

or even starting to type out args:

![image](https://user-images.githubusercontent.com/4564579/199808590-d1856fb7-44bd-451e-b606-beb9c2d33c06.png)

In both cases, we are asking what s

[2022-11-03 19:01] AlekseyTs commented on #55969
This is what I am planning to do. I am not saying there is no problem, simply capturing results of my investigation for others to understand the background of the problem

[2022-11-03 19:06] CyrusNajmabadi commented on #55969
sgtm.  thanks!

[2022-11-03 19:38] #41500 closed

[2022-11-03 20:13] #39260 closed

[2022-11-03 21:42] jaredpar commented on #65106
I'm not against this. When we went into source generators we went in knowing there was a decent chance we'd need to invent a better interface for the IDE, and if that happened we'd push the community in that direction over time. Incremental source generators are well established at this point and all our future design thoughts are around them only. I think an obsolete here as a nudge to get the ec

[2022-11-03 21:52] CyrusNajmabadi commented on #65106
Yes.  We should obsolete (warning, not error) these.  It sends the message we want to send, while still being compatible.  Maybe in teh future we can then take a stronger stance and move to error and eventual removal.

[2022-11-03 21:54] AlekseyTs commented on #41994
I do not see anything obvious from the call stack. Without any additional information the issue doesn't look actionable.

[2022-11-03 21:54] #41994 closed

[2022-11-03 22:20] vsfeedback opened #65220 "Detection of IDE0059 with C# not working within try/catch statements"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Detection-of-IDE0059-with-C-not-working/10185048)._

---
[severity:Other]
Detection of IDE0059 Remove unnecessary value assignment is not working when the statement is within a try/catch block. I have an .editorconfig file with the following `dotnet_diagnostic.IDE0059.severity = error`,

[2022-11-03 22:21] ryzngard opened #65221 "Extract method inside base initializer produces method without return type"
Test that should pass:

[code]

[2022-11-03 22:38] ryzngard opened #65222 "Extract Local Function In Lambda Produces Wrong Function Location"
Test used to verify:

[code]

[2022-11-03 22:39] 333fred commented on #65106
We should also add notes to the sg cookbook, and update the incremental doc to cover FAWMN.

[2022-11-03 23:02] mungojam commented on #37468
To cover the main case, maybe the BCL could add a function `.WhereNotNull()`.

[2022-11-03 23:04] RikkiGibson commented on #37468
I think if we didn't want to introduce any "real" tracking of the query variable, I would personally prefer adding WhereNotNull over *only* recognizing `.Where(x => x != null)`.

[2022-11-04 00:41] jcouv commented on #65213
Tagging @cston to background on current sharing strategy and thoughts

[2022-11-04 10:50] hopperpl commented on #65142
So, this turned to be out as an Analyzer, which was called by csc, that is causing the issue. It is the Silk.NET.Core.Touch project which modifies source code (source generator).

It is not a Rosyln compiler issue therefore, but some feedback from csc about long-running analyzers, source generators would be helpful. Maybe when an analyzer is running more than 5 seconds, print a log warning message

[2022-11-04 11:07] DoctorKrolic commented on #64905
On the latest public preview not reproducible:
![vcPhXsNUgw](https://user-images.githubusercontent.com/70431552/199958117-fe339c26-9bd1-4d24-b373-2f0e48098fbb.gif)
If completion is invoked explicitly, the `P =` item is still there

[2022-11-04 11:15] drewnoakes opened #65230 "Rename UI can appear offscreen"
**Version Used**:

Version 17.5.0 Preview 2.0 [33102.240.main]

**Steps to Reproduce**:

1. Have a long parameter list that extends towards the right of the screen.
2. Invoke rename on a symbol towards the right.
3. The rename dialog is right-aligned to that symbol, regardless of whether that would push the position of the dialog off the screen:
   ![image](https://user-images.githubusercontent.co

[2022-11-04 11:18] DoctorKrolic commented on #64901
The compiler error message is also misleading. It should say, that the method returns `ValueTask` and suggest returning a `ValueTask<int>` (in this case). If a method returns an unknown non-standart type, there should be no suggestion about returning a `Task<T>`, e.g.:
[code]

[2022-11-04 12:48] taori commented on #64975
@jasonmalinowski Can you reopen it? The discussion is being ignored. I was asking for guidance to obtain logs to pinpoint the issue myself, however noone seems responsible, so the codefix not showing up without any indication on why still remains. Therefore discussion and issue itself are unrelated to each other

[2022-11-04 16:07] #64142 closed

[2022-11-04 17:19] CyrusNajmabadi commented on #64975
The link in the OP doesn't take me anywhere.

[2022-11-04 17:28] arunchndr opened #65232 "HATS driven user/session exploration to identify progression/regression over the dev17 releases"
Ask #1:
I think first order of business is to validate if the completion, lightbulb and error list goals are downtrending based on our telemetry and dashboards. If not, we can define goals there to improve. If there are no data/dashboards, @Cosifne's current work on telemetry and dashboards should help and we can continue pushing to expand on scenarios.

Ask #2:
Here are the HATS survey verbatims

[2022-11-04 17:35] arkalyanms commented on #65232
Tagging both @genlu and @mavasani to this to perform initial exploration.

[2022-11-04 17:56] arkalyanms commented on #65232
Here is the same effort from the 64 bit switch - https://microsoft-my.sharepoint.com/personal/gel_microsoft_com/_layouts/OneNote.aspx?id=%2Fpersonal%2Fgel_microsoft_com%2FDocuments%2FOneNote%2FGen-Shared&wd=target%28Shared.one%7C4306AC3E-5C63-411F-88B0-08EFDE96D897%2FFeedback%20ticket%20completion%20telemetry%7C7A3DCC38-C901-416C-A214-E12F2D393A9A%2F%29
onenote:https://microsoft-my.sharepoint.com/

[2022-11-04 18:22] jasonmalinowski commented on #62059
Reopening this since conversation is happening here along with the public ticket.

[2022-11-04 18:36] #51386 closed

[2022-11-04 18:39] jasonmalinowski commented on #65114
@drewnoakes: the .editorconfig is set to tabs, but the underlying file is still using spaces? I agree it's not ideal that we're touching that (and a bit odd we're not touching anything else...) but at the same time we more or less assume your .editorconfig is the source of truth.

[2022-11-04 18:48] jasonmalinowski commented on #64809
Moving this to design review -- change signature could generally refuse to update places where the arguments don't match, but not exactly sure if we want to reject _everything_ or be a bit more precise for things that "clearly don't match".

[2022-11-04 18:57] jasonmalinowski commented on #64975
@taori I'll poke some folks internally on that discussion. I guess I don't see what this issue is tracking that's different than the discussion at this point.

[2022-11-04 19:11] #25367 closed

[2022-11-04 19:15] CyrusNajmabadi commented on #65114
It's expected that we do some touching of things (since we often have to clean up after ourselves). However, in this case, as there are no usings in the interior namespace, we absolutely should not be touching anything there.

[2022-11-04 19:21] jcouv commented on #65220
Chatted with Peter and he showed me the repro. Strangely it didn't repro for me:
![image](https://user-images.githubusercontent.com/12466233/200058001-4b383959-2233-435e-b0f8-37d71ee4076f.png)
Will follow-up with him to confirm VS version and see if we can narrow down the cause.

[2022-11-04 20:02] taori commented on #64975
the branch was merged in the meantime. updated the link now

[2022-11-04 20:58] chsienki commented on #65106
I'm pro this, but there are a couple of other things we'd need to consider too.

When we added incremental generators, we decided to 'smuggle' them in through `ISourceGenerator`, so all of our public APIs expect `ISourceGenerator` and there is a `.AsSourceGenerator()` you can call on an incremental generator to wrap it up.

If we do this, we'd need to add replacement APIs that take `IIncrementalGe

[2022-11-04 20:59] Youssef1313 commented on #65106
Also what happens to the testing library?

[2022-11-04 21:01] Youssef1313 commented on #65106
https://github.com/dotnet/roslyn-sdk/blob/ba5f8a6bf7b477b44a43ea943d3e831d6301afb7/src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.CSharp.SourceGenerators.Testing/CSharpSourceGeneratorTest%602.cs#L13

and

https://github.com/dotnet/roslyn-sdk/blob/ba5f8a6bf7b477b44a43ea943d3e831d6301afb7/src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.SourceGenerators.Testing/SourceGeneratorTes

[2022-11-04 21:15] #39689 closed

[2022-11-04 21:48] chsienki commented on #65106
Yeah, we'll need to update the testing library too if we do that.

[2022-11-04 23:12] Cosifne commented on #64545
Closed the issue because Integration tests has a good pass rate now and it is enabled as required again.

[2022-11-04 23:12] #64545 closed

[2022-11-05 01:26] allisonchou opened #65240 "[Automated] PRs inserted in VS build main-33104.203"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/0ec21aca1fd9167c10324db73106908c76567458...bf758cfcf6b8813b04eee20306547e96720146b1?w=1)
- [Fix typo in API (65216)](https://github.com/dotnet/roslyn/pull/65216)
- [Wait for Roslyn Services completes in NavigateTo Tests (65201)](https://github.com/dotnet/roslyn/pull/65201)
- [Remove duplicate property (65185)](https://github.

[2022-11-05 01:26] #65240 closed

[2022-11-05 08:00] #65165 closed

[2022-11-05 10:15] jhinder commented on #64905
The behaviour is weird with 17.4 Preview 6. Sometimes the attribute property appears in the list, sometimes it doesn't, and I can't tell when and why that happens. Really odd.

P appears:
![image](https://user-images.githubusercontent.com/823398/200114784-3cb20021-e6f1-48d3-8535-bb0aa27077bb.png)

P doesn't appear:
![image](https://user-images.githubusercontent.com/823398/200114788-a168eb0d-5c7a-4

[2022-11-05 12:14] LiviuD commented on #60818
Still an issue, quite a big one.

[2022-11-05 13:54] DoctorKrolic commented on #58836
On latest `main` no longer reproducible:
![BdSjE8CZmn](https://user-images.githubusercontent.com/70431552/200123278-9d7c25d8-4ba8-408b-b007-4798c1defb0c.png)

[2022-11-05 16:26] carlreinke commented on #45284
There was another alternative that I missed: return a ref from the property.

[code]

This seems to me like the least-bad way to work around CS1612 for the fake-indexed-property use case.

[2022-11-05 17:21] ArcadeMode commented on #65091
I'd like to pick this up, got it working in my fork so PR should follow soon

[2022-11-05 23:02] #39846 closed

[2022-11-06 02:15] AdmiralSnyder commented on #48083
@lsoft @wberdowsky @MatthewSteeples
Hi,
it would be easiest if you could just ping/dm me over on the c# discord server (discord.gg/csharp) - i'm AdmSnyder there - i stream quite a lot, and can show you the project's idea, basically.
The functionality / extension is in a repo that's not public on github (i don't remember why, exactly)... maybe i find the time to change that...

[2022-11-06 02:44] davkean commented on #64821
@CyrusNajmabadi I think you have misunderstood the bug. Though in broke me in the move to Roslyn, filtering by modifiers makes sense in the new design, however, in the case above users need to know non-public modifiers to know what to type to show the override:

For example, let's imagine v1 BCL had the following:

[code]

Users only need  to type "protected override".

Then in v2, BCL decided to

[2022-11-06 02:56] CyrusNajmabadi commented on #64821
Makes sense

[2022-11-06 13:36] jez9999 opened #65247 "IDE0055 for comment on new line not indented to comments at end of previous line?"
I'm getting an IDE0055 for any comment on a new line not indented to the level of a comment at the end of a previous line.  Example:

![image](https://user-images.githubusercontent.com/793830/200173912-dd974daf-ec46-4a0c-8f2b-1ad645a32c62.png)

I simply don't think this should be enforced as a formatting rule.  Is there any .editorconfig configuration I can add to stop this requirement?  I can't s

[2022-11-06 18:43] ArcadeMode commented on #25052
Hello, I'd like to have a crack at this.

My current understanding:

When writing an iterator function that iterates over another iterator function and ```yield return```s the nested iterator's results, then the resulting generated code performs two operations for each of the nested iterator's returns. This appears to internally be two statemachines where the inner state-change causes the outer to

[2022-11-06 18:50] CyrusNajmabadi commented on #25052
@ArcadeMode the critical thing is that any existing code that does a standard foreach over any existing IEnumerables (or anything foreach operates on) not have any negative impact whatsoever.

[2022-11-06 19:28] ArcadeMode commented on #25052
I found the discussion in [the csharplang repo](https://github.com/dotnet/csharplang/discussions/378) and noticed that the suggested approaches are unsuitable. Its a marvelously complex issue for sure! The related discussion about supporting ```yield foreach``` as syntax sugar is also very interesting. But I digress,

(_I am still getting familar with this part of roslyn so if im about to spew non

[2022-11-06 19:34] CyrusNajmabadi commented on #25052
Could you give an example of:

1. what the user would write inside the iterator.
2. what that code would actually get translated to.
3. what the user would write when consuming the iterator.
4. what that code would actually get translated to.

Thanks!

[2022-11-06 20:02] #49714 closed

[2022-11-06 20:04] #50495 closed

[2022-11-06 23:02] #60064 closed

[2022-11-06 23:02] #34755 closed

[2022-11-07 00:03] nelson-pires commented on #41722
Has this issue been fixed?

I've been using a delegate as it seems it doesn't hold compilation resources:

[code]

Not sure if this is safe but I also tried:

[code]

In an attempt to get GC to free resources, however I'm not sure how to test the effectiveness of this, maybe someone can help clarify.

[2022-11-07 13:13] DoctorKrolic opened #65252 "Syntax visualizer sometimes stops working after opening color picker for classified spans"
**Version Used**:
Latest main (https://github.com/dotnet/roslyn/commit/1113a49ad60c6c4d7ccd508f86c854e856bdd1d9)

**Steps to Reproduce**:
1. Open VS with the empty project and a blank file
2. Open roslyn Syntax visualizer
3. Paste this code:
[code]
4. Navigate mouse to `$$`
5. Open color picker in the synax visualizer for this element
6. Close color picker
7. Observer that syntax visualizer stops

[2022-11-07 16:12] steveharter opened #65255 "Change TypedReference to standard ref struct semantics + support __makeref(ref struct)"
To support `ref struct` with reflection (invoking and passing), the [current 8.0 runtime plan](https://github.com/dotnet/runtime/issues/75349) for "safe" code is to leverage the existing `TypedReference` type to create and obtain `ref struct` references through the existing `__makeref` and `__refvalue` keywords.

In addition, `TypedReference`, being a stack-only construct, was added in 1.0 well be

[2022-11-07 16:21] sharwell commented on #19042
@CyrusNajmabadi The workaround can likely be removed now.

[2022-11-07 16:30] jaredpar commented on #65255
The issue with `TypedReference` is that the underlying IL support is extremely flexible. In discussion with @davidwrighton he confirmed it's legal for a `TypedReference` to store a `ref` to a `ref struct`. That means from a lifetime perspective that `TypedReference` is equivalent to a `ref struct` that has `ref` fields to a `ref struct`. Support for those was cut from C# 11 due to the [complexity

[2022-11-07 17:35] Youssef1313 commented on #65252
The syntax visualizer is implemented in dotnet/roslyn-sdk.

[2022-11-07 17:38] jaredpar commented on #65255
@RikkiGibson, @cston

[2022-11-07 18:34] jaredpar commented on #64755
Thanks for the suggestion here. This is more of a C# language feature though vs. a compiler one. Can you please open this as a discussion topic on [csharplang](https://github.com/dotnet/csharplang/discussions/new)?

[2022-11-07 18:34] #64755 closed

[2022-11-07 19:24] #65210 closed

[2022-11-07 19:25] #52 closed

[2022-11-07 20:10] jasonmalinowski commented on #60433
@333fred IDE looks good, I don't see any remaining work here.

[2022-11-07 20:10] #64821 closed

[2022-11-07 20:23] allisonchou opened #65257 "[Automated] PRs inserted in VS build main-33107.97"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/bf758cfcf6b8813b04eee20306547e96720146b1...a60a4730c52b20b0b2ff72b4f564871baf134fba?w=1)
- [Implement `EEMethodSymbol.DeclaringSyntaxReferences` (65207)](https://github.com/dotnet/roslyn/pull/65207)
- [Remove "System.Threading.Channels" from vsix (65028)](https://github.com/dotnet/roslyn/pull/65028)
- [Revert nav-to streaming

[2022-11-07 20:23] #65257 closed

[2022-11-07 21:11] #60433 closed

[2022-11-07 22:37] scott-parkhill commented on #64994
I just don't understand why this decision would be made. It makes generics not generic. If I want something to return null generically I have to make one set of code where `where T : class` and then copy and paste everything again and change it to `where T : struct`. I don't understand how this could be the intended usage versus the runtime seeing that `T` is either a value or reference type and r

[2022-11-07 22:48] jasonmalinowski commented on #37177
We discussed this in a few different ways:

**How hard would it be to do this?** The biggest concern was if we have to have any code here reach back to the semantic model APIs to figure out which context was active at each of those points, since we don't flow information like that today. I _believe_ it might be possible to instead base it on the annotation data on the symbols of the members themse

[2022-11-07 22:48] #37177 closed

[2022-11-07 22:48] jasonmalinowski commented on #37177
And oh: we did confirm that today we don't copy the directives, but we do remove ?s in that case so we arent generating broken code. That's not ideal if the user wanted to keep those around, but we're not generating broken code which is good.

[2022-11-07 23:02] #20663 closed

[2022-11-07 23:02] #20429 closed

[2022-11-07 23:02] #20243 closed

[2022-11-07 23:02] #17984 closed

[2022-11-07 23:02] #16687 closed

[2022-11-07 23:02] #15559 closed

[2022-11-07 23:02] #15178 closed

[2022-11-07 23:02] #10279 closed

[2022-11-07 23:12] mitchdenny commented on #64821
Thanks for addressing this @CyrusNajmabadi

[2022-11-07 23:27] CyrusNajmabadi commented on #64821
yw!

[2022-11-08 00:02] #59458 closed

[2022-11-08 00:11] cston commented on #65213
It may be rare to have two synthesized delegates with default values in the compilation where the signatures have the same shape but distinct types. Is it worth optimizing this case?

[2022-11-08 00:17] CyrusNajmabadi commented on #64994
Because those have been the semantics of the .net runtime for almost 20 years now.  When generics were added, there wasn't even a concept of annotated nullable reference types (which only got added a few years ago) :)

That would be a breaking change as that's never been how generics has worked up to now.  Even when we added nullable reference types, we did so in a fashion that would produce no br

[2022-11-08 02:02] #25428 closed

[2022-11-08 02:02] #25265 closed

[2022-11-08 02:02] #24668 closed

[2022-11-08 02:02] #23197 closed

[2022-11-08 02:02] #23195 closed

[2022-11-08 02:02] #22730 closed

[2022-11-08 02:02] #21897 closed

[2022-11-08 02:02] #21444 closed

[2022-11-08 02:02] #21402 closed

[2022-11-08 02:02] #20771 closed

[2022-11-08 02:02] #20762 closed

[2022-11-08 03:29] LostTime76 opened #65269 "Ability to fully customize debugger views for custom types beyond [DebuggerDisplay], [DebuggerTypeProxy]"
## Summary

## Background and Motivation

## Proposed Feature

## Alternative Designs

[2022-11-08 03:56] CyrusNajmabadi commented on #52489
Great. Will close out!

[2022-11-08 03:56] #52489 closed

[2022-11-08 12:55] rolivaresusach commented on #26817
yep, I came here searching about the same error, VS Community 2022 17.3.6

[2022-11-08 12:56] rolivares commented on #26817
yep, I came here searching about the same error, VS Community 2022 17.3.6

[2022-11-08 14:03] scott-parkhill commented on #64994
I see, that all makes a lot of sense, thank you for your fantastic answer!

[2022-11-08 14:19] stephentoub opened #65275 "IDE0060 shouldn't warn for throw-only methods"
IDE0060 currently fires for methods like:
[code]
We have many such constructs, due to multitargeting and having the same method in multiple files, in some fully implemented and in others just throwing an exception.  We're having to suppress IDE0060 in many places to account for this.  It'd be really helpful if either always or configurably IDE0060 could support not warning in cases where the metho

[2022-11-08 14:59] AlexKeene opened #65276 "Classifiers/Refactoring Providers crash in web project under net7.0 (`IndexOutOfRangeException`)"
_.Net 7.0.100-rc.2.22477.23 + Visual Studio Community V7.3.6_

Creating a new empty ASP.Net Core Web Application under .Net 7 (<TargetFramework>net7.0</TargetFramework>) causes multiple services to fail:

[code]
... many more

![a](https://user-images.githubusercontent.com/25181444/200595254-59bbb189-d5af-46c3-bfee-4c4eec11ed58.png)

These share **RPC server exception: System.IndexOutOfRangeExcept

[2022-11-08 15:08] #46779 closed

[2022-11-08 16:56] CyrusNajmabadi commented on #59257
.net even allowed catching and throwing non-exceptions (at least for a while).  Not sure if that's still around anymore though, or has become unsupported.  That said, i think we can close this out @jcouv ?

[2022-11-08 17:00] #3990 closed

[2022-11-08 17:00] CyrusNajmabadi commented on #9882
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:00] #9882 closed

[2022-11-08 17:00] #10972 closed

[2022-11-08 17:01] #11910 closed

[2022-11-08 17:02] CyrusNajmabadi commented on #12263
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:02] #12263 closed

[2022-11-08 17:02] #12716 closed

[2022-11-08 17:04] CyrusNajmabadi commented on #13595
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:04] CyrusNajmabadi commented on #13637
@MadsTorgersen @BillWagner  how do you want to handle these?  should they still stay in roslyn?  or is there a better repo for these issues to live in?  thanks!

[2022-11-08 17:05] CyrusNajmabadi commented on #13878
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:05] #13878 closed

[2022-11-08 17:06] CyrusNajmabadi commented on #13950
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:06] #13950 closed

[2022-11-08 17:06] CyrusNajmabadi commented on #14143
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:06] #14143 closed

[2022-11-08 17:06] #14619 closed

[2022-11-08 17:07] CyrusNajmabadi commented on #14666
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:07] #14666 closed

[2022-11-08 17:07] CyrusNajmabadi commented on #14694
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:07] #14694 closed

[2022-11-08 17:07] CyrusNajmabadi commented on #14720
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:07] #14720 closed

[2022-11-08 17:08] CyrusNajmabadi commented on #14924
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:08] #14924 closed

[2022-11-08 17:08] #15039 closed

[2022-11-08 17:09] CyrusNajmabadi commented on #15116
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:09] CyrusNajmabadi commented on #15174
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:09] #15174 closed

[2022-11-08 17:09] CyrusNajmabadi commented on #15233
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:09] CyrusNajmabadi commented on #15237
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:09] #15237 closed

[2022-11-08 17:10] CyrusNajmabadi commented on #15244
Closing out as there's been no more feedback on this issue in years (including from core library teams).

[2022-11-08 17:10] #15244 closed

[2022-11-08 17:10] CyrusNajmabadi commented on #15251
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:10] #15251 closed

[2022-11-08 17:11] CyrusNajmabadi commented on #15416
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:11] CyrusNajmabadi commented on #15423
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:11] #15423 closed

[2022-11-08 17:11] CyrusNajmabadi commented on #15484
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:11] #15484 closed

[2022-11-08 17:12] CyrusNajmabadi commented on #15561
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:12] CyrusNajmabadi commented on #15575
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:12] #15575 closed

[2022-11-08 17:12] CyrusNajmabadi commented on #15607
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:12] #15623 closed

[2022-11-08 17:13] CyrusNajmabadi commented on #15638
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:13] #15638 closed

[2022-11-08 17:13] #15639 closed

[2022-11-08 17:13] #15651 closed

[2022-11-08 17:13] CyrusNajmabadi commented on #15660
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

Note: this is doable with local-functions, and that woudl be the recommended approach here.

[2022-11-08 17:13] #15660 closed

[2022-11-08 17:15] CyrusNajmabadi commented on #15661
Closing out.  This is legal now in the language.

[2022-11-08 17:15] #15661 closed

[2022-11-08 17:16] CyrusNajmabadi commented on #15735
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:16] #15735 closed

[2022-11-08 17:16] CyrusNajmabadi commented on #15810
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:16] #15810 closed

[2022-11-08 17:16] CyrusNajmabadi commented on #15821
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:16] #15821 closed

[2022-11-08 17:16] CyrusNajmabadi commented on #15847
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:16] #15847 closed

[2022-11-08 17:17] #15904 closed

[2022-11-08 17:17] CyrusNajmabadi commented on #15911
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:17] #15911 closed

[2022-11-08 17:17] CyrusNajmabadi commented on #15986
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:17] #15986 closed

[2022-11-08 17:18] CyrusNajmabadi commented on #16032
Closing this out.  We're doing all language design now at dotnet/vblang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:18] CyrusNajmabadi commented on #16104
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:18] CyrusNajmabadi commented on #16154
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:18] #16154 closed

[2022-11-08 17:18] CyrusNajmabadi commented on #16192
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:18] #16192 closed

[2022-11-08 17:19] #16292 closed

[2022-11-08 17:20] CyrusNajmabadi commented on #16488
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

Note: some of this stuff is supported now, thought not all those cases.

[2022-11-08 17:20] #16488 closed

[2022-11-08 17:20] CyrusNajmabadi commented on #16503
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:20] #16503 closed

[2022-11-08 17:20] CyrusNajmabadi commented on #16613
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:20] CyrusNajmabadi commented on #16665
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:20] #16665 closed

[2022-11-08 17:20] CyrusNajmabadi commented on #16763
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:21] CyrusNajmabadi commented on #16767
Closing this out.  We're doing all language design now at dotnet/vblang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:21] #16767 closed

[2022-11-08 17:21] CyrusNajmabadi commented on #16813
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:21] #16813 closed

[2022-11-08 17:21] CyrusNajmabadi commented on #16958
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:21] #16958 closed

[2022-11-08 17:21] CyrusNajmabadi commented on #17306
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:21] #17306 closed

[2022-11-08 17:21] CyrusNajmabadi commented on #17877
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:21] #17877 closed

[2022-11-08 17:21] CyrusNajmabadi commented on #18232
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:21] #18232 closed

[2022-11-08 17:22] CyrusNajmabadi commented on #18378
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:22] #18378 closed

[2022-11-08 17:22] CyrusNajmabadi commented on #19641
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:22] #19641 closed

[2022-11-08 17:23] CyrusNajmabadi commented on #20102
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:23] #20102 closed

[2022-11-08 17:23] Mik4sa commented on #14853
@CyrusNajmabadi Yes, atleast I'm still interested in this one. This would be a very neat and timesaving feature :)

[2022-11-08 17:23] CyrusNajmabadi commented on #20605
Closing this out.  We're doing all language design now at dotnet/csharplang.  If you're still interested in this idea let us know and we can migrate this over to a discussion in that repo.  Thanks!

[2022-11-08 17:23] #20605 closed

[2022-11-08 17:24] CyrusNajmabadi commented on #64994
yw :)

[2022-11-08 17:27] CyrusNajmabadi commented on #27109
Closing out as thsi is by design.

[2022-11-08 17:27] #27109 closed

[2022-11-08 17:27] CyrusNajmabadi commented on #29566
Closing out as this has already been moved.

[2022-11-08 17:27] #29566 closed

[2022-11-08 17:28] CyrusNajmabadi commented on #32965
We have raw strings for this now. :)

[2022-11-08 17:28] #32965 closed

[2022-11-08 17:29] CyrusNajmabadi commented on #27222
Closing out as it looks like this is working as intended and the end result is already what is desired.

[2022-11-08 17:29] #27222 closed

[2022-11-08 17:30] CyrusNajmabadi commented on #34031
Closing out as thsi was marked as by-design and we haevn't heard about any issues since.

[2022-11-08 17:30] #34031 closed

[2022-11-08 17:30] CyrusNajmabadi commented on #34357
Closing out as this currently has editorconfig support.

[2022-11-08 17:30] #34357 closed

[2022-11-08 17:32] CyrusNajmabadi commented on #34875
@RikkiGibson you marked thsi as by design.  should this be closed out then?

[2022-11-08 17:32] CyrusNajmabadi commented on #35815
@jcouv  If this is working as "by design", could we close this out?

[2022-11-08 17:33] CyrusNajmabadi commented on #38540
@mavasani you marked this as by-design?  can we close this out then?

[2022-11-08 17:34] jcouv commented on #62145
Indeed. Closing as duplicate/moved to https://github.com/dotnet/csharpstandard/issues/600

[2022-11-08 17:35] CyrusNajmabadi commented on #39583
@jcouv this is currently marked as by-design?  Can we close this out?  I presume we'd need a language change here anyways to move forward on this.

[2022-11-08 17:37] jcouv commented on #39583
Yes. Closing as duplicate/moved to https://github.com/dotnet/csharplang/issues/2949 (championed issue)

[2022-11-08 17:37] #39583 closed

[2022-11-08 17:47] CyrusNajmabadi commented on #41167
Closing out as this seems to be done.

[2022-11-08 17:47] #41167 closed

[2022-11-08 17:49] CyrusNajmabadi commented on #41592
Closing out as by design.  ifdef'ed out code has no meaning associated with it (intentionally).  So we do no work on it as it can mean anything to any user.

[2022-11-08 17:49] #41592 closed

[2022-11-08 18:12] CyrusNajmabadi opened #65278 "Roslyn workspace should share SyntaxTrees across project targets when possible."
From talking with @jasonmalinowski we believe there would be a large memory savings here for solutions with projects that multi-target (e.g. netstandard2.0, netcoreapp3.1, etc.).  The cases that should be very safe to share are ones where the tree does not contain pp-directives, and where the lang-version for different targets are the same.

The reason for this is that pp-directives can parse diff

[2022-11-08 19:29] dibarbet opened #65282 "[LSP] Support commit character item defaults"
The completion list type in the LSP spec now supports commit characters in item defaults on the list.  We should take advantage of that support.

See https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#completionList
And https://github.com/dotnet/roslyn/blob/d83f66e194244b6377b29b49a8261daeb0841b0f/src/EditorFeatures/Core/LanguageServer/Handlers/Completion/C

[2022-11-08 20:14] #59001 closed

[2022-11-08 20:17] redradist commented on #14143
@CyrusNajmabadi

+1

[2022-11-08 20:23] RikkiGibson commented on #34875
The above discussion predates improved definite assignment (dotnet/csharplang#4240). When implementing that feature (and applying the corresponding changes to nullable), I decided that this was more in the bug fix category, but that the cost/benefit of fixing it didn't add up.

I think the right thing to do here is close as *won't fix*. If we start seeing new reports of this issue or numerous requ

[2022-11-08 20:23] #34875 closed

[2022-11-08 21:08] ocallesp opened #65286 "Rename type in a shared project does nothing when "Rename Symbol's file""
**Version Used**:
VS 17.5.0 Preview 2.0

**Steps to Reproduce**:

1. Open roslyn.sln in VS
2. Rename type FileHeader to FileHeaderRenamed and select "Rename Symbol's file"
[FileHeader.cs](https://github.com/dotnet/roslyn/blob/main/src/Analyzers/Core/Analyzers/FileHeaders/FileHeader.cs)

**Diagnostic Id**:

If this is a report about a bug in an analyzer, please include the diagnostic if possible (e

[2022-11-08 21:26] DoctorKrolic opened #65287 "`IDE0019 Use pattern matching` Should be smarted about unused variables"
**Version Used**:
17.5 Preview 1

**Steps to Reproduce**:
[code]
Invoke `IDE0019 Use pattern matching` codeaction at `[||]`

**Diagnostic Id**:
`IDE0019`

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]
`str` is in the resulted code even though it isn't used. I think, in such cases codefix should remove unused variables. It is very unlikely that you will use this codefix while typing be

[2022-11-08 21:49] CyrusNajmabadi commented on #65287
This doesn't feel like a realistic scenario tbh.  Most times this is done is to typecheck and then use the value if it typechecks.  If the user really doesn't intend to use the variable they can remove (though i would def question that code).

[2022-11-08 21:49] #65287 closed

[2022-11-08 21:57] #65150 closed

[2022-11-08 22:12] #64924 closed

[2022-11-08 23:18] jasonmalinowski commented on #65278
Thinking about this a bit:

That language version constraint might be a challenge here: given https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version each of the different targets may have their own language version. Some projects (like Roslyn) just override the language version for it to be consistent, but that's not a supported behavior. @jaredpar and @Cyrus

[2022-11-08 23:22] CyrusNajmabadi commented on #65278
Yes.  100%.  Records parse entirely different.  e.g. `record Foo() { }` is a method prior to records being supported, and it's a record with the right lang version.

It's also commonly used for parsing diagnostics (though i woudl support moving those all to the binder).

[2022-11-08 23:24] CyrusNajmabadi commented on #65278
ick :'(

[2022-11-08 23:25] CyrusNajmabadi commented on #65278
Yup yup.  I had thought about that, but thought it likely too difficult.  But we should have all things on the table for consideration.

PP-directives are a core part of the roslyn syntax model.  It would not be strange for there to be a really intelligent API exposed here to support this case.

[2022-11-08 23:25] jaredpar commented on #65278
My suspicion is that most code bases which significantly multi-target also explicitly set the language version. To do otherwise just ends up with a lot of hair pulling because you end up with code that compiles in one TF and fails in the other.

--
jaredpar
https://twitter.com/jaredpar
________________________________
From: CyrusNajmabadi ***@***.***>
Sent: Tuesday, November 8, 2022 3:22 PM
To: do

[2022-11-08 23:26] CyrusNajmabadi commented on #65278
[code]

Behold its glory.

[2022-11-08 23:39] 333fred commented on #65278
We also parse `required` a bit differently: we more strongly assume it's a modifier in C# 11, while in pre-11 we do a more pessimistic heuristic. And I honestly wouldn't expect these differences to get smaller. We _could_ consider setting a bit in the parser when a potential language version difference is encountered. I suspect that many, perhaps most, files wouldn't run into these types of differ

[2022-11-08 23:44] RikkiGibson commented on #59194
We've addressed everything needed for .NET 7 and moved everything else out to separate issues. Closing out the test plan.

[2022-11-08 23:44] #59194 closed

[2022-11-08 23:45] CyrusNajmabadi commented on #65278
@333fred that's a possible idea.  Though i have a feeling over time it will have diminishing returns.  For example, as people start to adopt newer features (records, required, and what comes next) it is more and more likely for files to contain at least one of these things.

I'm hoping for what jared mentioned.  Specifically that in practice the lang versions are locked to the same thing.  Indeed,

[2022-11-08 23:48] 333fred commented on #65278
100% agreed.

[2022-11-09 00:56] cston opened #65293 "Remove `ParameterSymbol.EffectiveScope` and using `DeclaredScope` and `HasUnscopedRefAttribute` directly"
Consider removing `ParameterSymbol.EffectiveScope` and using `DeclaredScope` and `HasUnscopedRefAttribute` directly.

_Originally posted by @cston in https://github.com/dotnet/roslyn/pull/65153#discussion_r1011143159_

[2022-11-09 00:56] cston commented on #65293
cc @jcouv

[2022-11-09 01:07] jasonmalinowski commented on #65278
I'm not aware of any telemetry off the top of my head for this, but the project system might have something.

Rather than one bit you could imagine the parser could hand out two pieces of information: what would be the highest and lowest known language versions where the tree could still be reused. So to pseudocode the record example:

[code]

You can of course imagine a helper for this pattern.

[2022-11-09 01:23] jasonmalinowski opened #65294 "Add using tried adding a nonsensical extern alias in interactive"
**Version Used**: 4.5.0-1-22528.5

Screenshot:

![image](https://user-images.githubusercontent.com/201340/200713259-138592d8-6cb8-4e49-9c2f-5a2738d45708.png)

[2022-11-09 01:47] WeihanLi opened #65295 "Question: nuget package release schedule"
Hi team, is there a release schedule for the NuGet packages?
Since .NET 7 has been released, is there a release for the NuGet packages?

It seemed the NuGet packages are still in preview

![image](https://user-images.githubusercontent.com/7604648/200716254-d1d815bf-f1a8-4f11-bd4f-154977ce0901.png)

And when I use the preview package(`4.4.0-4.final`) to pack a stable package it reports a `NU5104` w

[2022-11-09 02:26] #64994 closed

[2022-11-09 02:42] davidwengier opened #65296 "Crash when trying to navigate with Inheritance Margin"
Hit this today in Version 17.5.0 Preview 2.0 [33108.122.main].

[code]

[2022-11-09 02:45] CyrusNajmabadi commented on #65296
Fixed with https://github.com/dotnet/roslyn/pull/65288

[2022-11-09 02:45] #65296 closed

[2022-11-09 08:38] shuebner commented on #63744
Still there in 17.4.0:
![image](https://user-images.githubusercontent.com/1770684/200780998-9398d7cf-6a5f-4aa0-a219-b272e688cf4e.png)

[2022-11-09 10:52] VaporiZed commented on #61542
In the FrmMain.vb I refer to a not existing method `Baz`. If I give VS a try to create it for me, it won't be placed at the end of the file. Here a screenshot:
![WrongPlacement](https://user-images.githubusercontent.com/49878115/200810611-5c549a75-2271-4fe1-99ca-97dd4e923c44.png)
The preview already shows, that the new method will not be placed at the end of the target file.

here the link to the

[2022-11-09 12:21] jhinder opened #65298 "Exception in `ChangeSignatureCodeRefactoringProvider` after wrong automatic closing brace placement"
**Version Used**: VS 2022 17.4.0

**Steps to Reproduce**:

1. Place the cursor at the marked location
2. Insert `{`.
3. Press the <kbd>Return</kbd> key.

Note that the parentheses are balanced at the start.

[code]
**Expected Behavior**:
1. The closing brace is placed at the correct location, forming an empty statement block:
  `M1(x => M2("a", y => M3<int>(z => { })));`
2. The refactoring does no

[2022-11-09 12:45] svick commented on #22344
@333fred

[The example in the original post now compiles to `string.Concat("arg baz ", knownStatically)`](https://sharplab.io/#v2:D4AQTAjAsAUCDMACciDCiDetE+UkALIgLIAUIEADIgIYBOA5gJSba64Bu9iA1gHYB7AO58AygBca4gJYBjGgBsFAT0QBeRACIAZgIGaA3G3bIIATlIASTRj40AtgFMB20vWYBfRACMaAL0x+YTFJGXklZQ9NJiMYdg9YDyA=) or [to just `"arg baz foo"` if the variable is turned into a `const`](https://sharplab.io/#v2:D4AQTA

[2022-11-09 12:53] jhinder opened #65299 "Rename UI: highlighting span doesn't shrink when the new name is shorter"
**Version Used**: VS 2022 17.4.0

**Steps to Reproduce**:
Rename the variable to something shorter.
[code]

**Expected Behavior**: The blue highlighting span gets smaller during the edit.

**Actual Behavior**: The span appears to always have the same length and can highlight other parts of the code.

![grafik](https://user-images.githubusercontent.com/823398/200835006-4ba0ed40-6d35-40de-87e6-7e3b5

[2022-11-09 13:42] tobyash86 commented on #7842
PR has been rejected. Are there any plans to support it?

[2022-11-09 14:59] ltrzesniewski opened #65301 "`DocumentationCommentId.CreateDeclarationId` always appends method return type"
I noticed that the documented and actual behaviors of `DocumentationCommentId.CreateDeclarationId` do not line up regarding method return types.

The [documentation](https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/xmldoc/#id-strings) says (emphasis mine):

While the code always appends it when it is non-void:

https://github.com/dotnet/roslyn/blob/089e775fe60b76857325af3ce0e070e

[2022-11-09 15:13] CyrusNajmabadi commented on #63744
@shuebner can you please supply your repro code?

[2022-11-09 15:50] jtsom commented on #65064
This issue is still occurring in the latest VS 2020 preview (Version 17.5.0 Preview 1.0)
[code]

[2022-11-09 16:11] AlekseyTs commented on #65064
It is very likely that the fix haven't made it into the released product yet. Also, the specific build number is important too. For example, I am using Version 17.5.0 Preview 1.0 [33024.329.main], which is more than a week old, and obviously doesn't include the fix.
The other thing to consider is that I fixed a real issue, but not the one that you are running into. It is impossible to tell with 10

[2022-11-09 16:37] DoctorKrolic opened #65302 "`Fix return type` introduces compiler error"
**Version Used**:
Latest `main`

**Steps to Reproduce**:
[code]
Run `Fix return type` codeaction on `return`

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]
This code immideatelly produces `CS8135 Tuple with 2 elements cannot be converted to type 'object'`

[2022-11-09 16:41] CyrusNajmabadi opened #65303 "Re-enable support in LSP code actions for creating files."

[2022-11-09 17:11] dpugh opened #65304 "error VSTHRD010 errors are not displayed in the error list (17.4.0 RTM)"
**Version Used**:
17.4.0 RTM

**Steps to Reproduce**:

1. Add a ThreadHelper.ThrowIfNotOnUIThread(); to some method that might be called from a background thread.
2. Build
3. Expect to see a VSTHRD010: Accessing "Microsoft... error in the error list.
4. Don't (though I do see it in the build output.

**Expected Behavior**:
Error shows up in both error list and build output.

**Actual Behavior**:
O

[2022-11-09 17:26] tr4cks opened #65306 "Unexpected nullability warning for pattern matching control flow"
**Version Used**: .net 6.0.402 c#10 on macOS m1

**Steps to Reproduce**:

I have reproduced a very small code example below. I have warnings telling me that the value can be null but I think it is not possible according to the conditions.
You can see [here](https://stackoverflow.com/questions/74369516/pattern-matching-condition-ensures-neither-property-is-null-but-compiler-issues) for more explain

[2022-11-09 17:47] #36998 closed

[2022-11-09 17:52] CyrusNajmabadi opened #65308 "Update pattern matching analyzer to additional case"
For example:

[code]

We should offer to update this to:

[code]

[2022-11-09 17:52] CyrusNajmabadi commented on #65308
@alrz  if interested.

[2022-11-09 18:21] #64698 closed

[2022-11-09 18:29] Youssef1313 commented on #65304
One thing to note is that VSTHRD010 is a compilation-end analyzer.

https://github.com/microsoft/vs-threading/blob/a83e88dac6a824cd80e8ad6024b29a473ca2e270/src/Microsoft.VisualStudio.Threading.Analyzers.CSharp/VSTHRD010MainThreadUsageAnalyzer.cs#L154

[2022-11-09 18:30] CyrusNajmabadi commented on #65304
Good point @Youssef1313 .  However, i would still expect them to show up in the build-errors-list.  @mavasani how should this work?

[2022-11-09 18:35] Youssef1313 commented on #65304
Yeah I'd expect it to work. I pointed that out in case the issue is specific to compilation end.

[2022-11-09 18:44] RikkiGibson opened #65310 "EE binding should fall back to dynamic instead of giving a lookup error"
Imagine you're debugging a statement like the following:

[code]

Now you peek at the Watch window and quickly discover that `local` is an instance of `Derived`. You're interested in the value of `Prop` (and in a real debugging scenario, this might be a property at 4 or 5 levels of nesting), so you type `local.Prop` into the watch window. You get the following error:

`error CS1061: 'Base' does no

[2022-11-09 18:54] jaredpar commented on #65278
This is a feature we've actually discussed before for different reasons. Essentially it would be good to know what language version was _effectively_ used by the code vs. what maximum language was allowed. That would give us a better sense of how fast items are adopted.

[2022-11-09 18:55] jhinder commented on #65298
The faulty closing brace placement appears to be fixed in VS 17.5 Preview 1.

[2022-11-09 19:04] jhinder opened #65311 "F1 on `unmanaged` and `notnull` constraints leads to completely unrelated documentation"
**Version Used**: VS 2022 17.5 Preview 1

**Steps to Reproduce**:

1. Select the `notnull` keyword and press F1.
2. Do the same with the `unmanaged` keyword.

[code]

**Expected Behavior**:
Both keywords open the documentation on [type parameter constraints](https://learn.microsoft.com/en-us/dotnet/csharp/programming-guide/generics/constraints-on-type-parameters), which is where the respective lin

[2022-11-09 19:05] CyrusNajmabadi commented on #65309
I blieve this analyzer already exists in the vsthreading package.  @AArnott  can you add more details?

[2022-11-09 19:12] jhinder opened #65312 "F1 help on `switch` keywords always opens documentation about switch statements"
**Version Used**: VS 2022 17.5 Preview 1

**Steps to Reproduce**:

Select each of the `switch` keywords, then press <kbd>F1</kbd>.

[code]

**Expected Behavior**:
* The keyword of the switch expression opens the [switch expression documentation](https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/operators/switch-expression).
* The keyword of the switch statement opens the [switch s

[2022-11-09 19:14] AArnott commented on #65309
That is true. The analyzer is documented here: https://github.com/microsoft/vs-threading/blob/main/doc/analyzers/VSTHRD200.md

[2022-11-09 19:15] #65309 closed

[2022-11-09 19:23] jaredpar commented on #64365
This change was fixed in RTM. The issue you're hitting in the ML repo is the change to consider `ref` parameters as returnable.

https://github.com/dotnet/roslyn/blob/main/docs/compilers/CSharp/Compiler%20Breaking%20Changes%20-%20DotNet%207.md#method-ref-struct-return-escape-analysis-depends-on-ref-escape-of-ref-arguments

The fix is to mark that `ref` as `scoped ref` so the compiler knows you're

[2022-11-09 19:32] cremor commented on #65309
That was already mentioned in this issue. But as @drewnoakes already wrote:

[2022-11-09 19:45] vsfeedback opened #65313 "VS incorrectly report a build as succeeded when a Roslyn code generator warning CS8785 treated as error fails the build"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS-incorrectly-report-a-build-as-succeed/10096824)._

---
I am using VS 17.2.6 and also a recent Int Preview.
I have a class library project that uses a Roslyn code generator (from a nuget package) and targets net472.
I have `$(WarningsAsErrors);CS8785` in my csproj file.
When I build th

[2022-11-09 20:17] #65298 closed

[2022-11-09 20:19] jcouv commented on #62145
Good catch. We do need to keep this open for a Roslyn change.

[2022-11-09 20:19] robertmclaws commented on #64754
This is still happening with .NET 7.0 RTM on Azure DevOps.

[2022-11-09 20:40] #64901 closed

[2022-11-09 22:25] halter73 commented on #55595
I filed this VS feedback initially. The test has since [moved to the dotnet/sdk repo](https://github.com/dotnet/sdk/blob/a30e465a2e2ea4e2550f319a2dc088daaafe5649/src/Tests/Microsoft.NET.Sdk.Razor.Tests/BuildIncrementalismTest.cs#L167), but I haven't seen this issue in years.

[2022-11-09 22:25] #55595 closed

[2022-11-09 22:27] CyrusNajmabadi commented on #55595
Good to know.  Thanks!

[2022-11-09 23:22] BenjaminBrienen commented on #60784
What's the status on this? It's very annoying to get IDE0072 when you've already matched all cases.

[2022-11-09 23:32] CyrusNajmabadi commented on #60784
There's no intended change to this.  If you don't want hte default branch, don't add it.  It's intended to speed up being able to add that, for the cases that you're going to be modifying and may have some things not covered.

[2022-11-09 23:59] jnm2 opened #65323 "'Use pattern matching' should prefer 'Coalesce with throw expression'"
Right now the IDE shows a suggestion on this code

[code]

💡 Use pattern matching:

[code]

### Improvement

It would be better not to use pattern matching. Instead, "Coalesce with throw expression" should be suggested:

[code]

Maybe "Merge assignment with null check" would be a good alternative name.

[2022-11-10 00:01] jnm2 commented on #65323
It would be nice if it worked without requiring `as`, too:

[code]

[2022-11-10 00:06] CyrusNajmabadi commented on #65323
I'll take this.

[2022-11-10 00:08] CyrusNajmabadi opened #65326 "IDE0010 should not complain about missing default case?"
### Discussed in https://github.com/dotnet/roslyn/discussions/65322

<div type='discussions-op-text'>

<sup>Originally posted by **rafael-f** November  9, 2022</sup>
Shouldn't IDE0010 be separated into two rules? So that we can disable one and keep the other?

This is what IDE0010 checks for: (https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0010)

-An enum switch

[2022-11-10 00:08] CyrusNajmabadi commented on #65326
I'll take this.

[2022-11-10 00:22] jnm2 commented on #65323
If "throw" doesn't appear in the message, it could be generalized to this:

[code]

💡 Merge assignment with null check:

[code]

[2022-11-10 01:04] CyrusNajmabadi commented on #60784
It should not do that. We do not at the level to informational. We set it to refactoring.  Did you change that?

[2022-11-10 04:39] shuebner commented on #63744
You can find the code here: https://github.com/shuebner/repro-roslyn-63744

This is what the code looks like on my machine with VS 17.4.0:
![image](https://user-images.githubusercontent.com/1770684/201002022-b60cd897-0c40-4c7b-8579-820be3c674a4.png)

Note that even reduced to a minimum of `(.*)`, the highlighting is wrong.
It is the `*` that triggers it, `+` works fine.

[2022-11-10 06:24] mavasani opened #65330 "Introduce StateKind.AttemptingToComplete for partial analysis state tracking"
Is the following going to decrease/eliminate the chances of us failing to complete the event because another thread "hijacked" the state after this line?

We could introduce another state, called "AttemptingToComplete". Before executing ```TryMarkEventComplete```, we don't reset the state to "ReadyToProcess", instead we change it to ```AttemptingToComplete```. And only, if ```TryMarkEventComplete`

[2022-11-10 06:42] CyrusNajmabadi commented on #63744
I don't see any c# files in that repo.  Can you point me to them?

[2022-11-10 07:30] mavasani commented on #65304
@Youssef1313 It seems the descriptor doesn’t have the CompilationEnd tag: https://github.com/dotnet/roslyn/blob/440b6fc370f0ddcea68b445e183f1383c0d1bc6e/src/Compilers/Core/Portable/Diagnostic/WellKnownDiagnosticTags.cs#L56

we use this tag to identify build only diagnostics for live-build de-duping. We should do couple of things here:

1. Fix the descriptor above to add this tag.
2. Add a new RSxx

[2022-11-10 07:40] bernd5 opened #65331 "IConversionOperation.IsChecked returns false in checked context for explicit nullable conversion"
**Version Used**: 4.4.0.4 final

**Steps to Reproduce**:

Execute the following [code](https://dotnetfiddle.net/ktXAl4):
[code]

**Expected Behavior**:
`IsChecked` is true

**Actual Behavior**:
`IsChecked` is false

Why is `IsChecked` for explicit nullable conversion in a checked context false? Is this intended - if so, how can I get to know that the underlying conversion is actually checked?
Is t

[2022-11-10 08:09] Cerbere64 opened #65333 "C# document outline add region"
Hello,

It's a feature request for the new "Document Outline" feature for C# files.
Is it possible to view regions, with a collapse/expand management ?

Something like this :
![image](https://user-images.githubusercontent.com/49989377/201035728-b5185e7d-8b95-4235-ad72-a9693c4691bd.png)

Thanks

[2022-11-10 08:21] shuebner commented on #63744
Sorry, something must have gone wrong when pushing my local files.
I updated the repro repo.

Here is the code file: https://github.com/shuebner/repro-roslyn-63744/blob/main/SyntaxHighlightingRepro/Repro63744.cs

[2022-11-10 09:20] bernd5 commented on #65331
In my eyes this comment is wrong - it misses numeric-nullable-conversions (it was adjusted for checked user defined conversion operators):

https://github.com/dotnet/roslyn/blob/440b6fc370f0ddcea68b445e183f1383c0d1bc6e/src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs#L1123

Can't we simply trust the binder?

[2022-11-10 10:55] olatoft commented on #64698
Thanks for looking into the issue :) I'm sad to see it closed by design, because this is a feature I would love to have. However, I understand your arguments about complexity and being careful about adding strong guarantees.

Is there any other way in C# to get a warning, or ideally an error, if I forget to handle all cases of a discriminated union and combinations of discriminated unions? From wh

[2022-11-10 12:39] DoctorKrolic commented on #65150
`SyntaxEditor` is a shared public API that works with shared `SyntaxNode`s and can be used in any .NET language

[2022-11-10 14:17] AlekseyTs commented on #63221
It looks like there is a problem with just a call:
[code]

Observed:
[code]

Expected:
[code]

Equivalent VB code:
[code]

Observed:
[code]

IL for C#:
[code]

IL for VB:
[code]

[2022-11-10 14:49] yz-qiang opened #65334 "How to obtain the value in the ISymbol"
Hi,
To obtain the fully-qualified name of the method, I override the `visit()`, the written code as follow:
[code]
Actually, when I debug this program, I can see `Microsoft.CodeAnalysis.SyntaxTree` value is hidden in the `INnode_Type ` (as shown in the following figure).  But so far I haven't found a way to print this value. Excuse me, is there any way to output this value?  Thank you so much!
![i

[2022-11-10 15:20] CyrusNajmabadi commented on #65334
@yz-qiang use .Locations or .DeclaringSyntaxReferences.  also, def recommend discord for this.

[2022-11-10 17:02] #27098 closed

[2022-11-10 17:07] jcouv commented on #64698
We are actively discussing some design options around closed type hierarchies and discriminated unions. One of the proposals is to add a `[Closed]` on a type hierarchy or enum, which would inform `switch` and patterns that the set of possible values is restricted.
Working group notes are posted about every other week in https://github.com/dotnet/csharplang/tree/main/meetings/working-groups/discrim

[2022-11-10 18:24] 333fred opened #65338 "Negative number in pattern matching"
### Discussed in https://github.com/dotnet/roslyn/discussions/65337

<div type='discussions-op-text'>

<sup>Originally posted by **CreateAndInject** November 10, 2022</sup>
[code]

Should be `if (obj is short and -1)`?
It's invalid, but why `if (obj is short and 1)` is valid?
</div>

[2022-11-10 18:56] jcouv commented on #65338
It seems to be a parsing issue. `obj is short and (-1)` works fine, but `obj is short and -1` yields "unexpected token '-'".

[2022-11-10 19:17] LWChris commented on #46631
Hi @jinujoseph,

what does it mean when a request is in "Backlog" and also "Small Fixes InQueue"?

[2022-11-10 19:37] jasonmalinowski commented on #65278
@jaredpar We could totally aggregate that data and send it up if you wanted the telemetry, so that'd be another good argument for it.

@CyrusNajmabadi For our syntax tree indicies, I know you made changes so they could be reused across debug/release switches -- do we also try to share them across multiple targets? Or do we hash the parse options into that?

[2022-11-10 19:38] jinujoseph commented on #46631
"Backlog" -> not in immediate priority list
"Small Fixes InQueue" -> assumed to be not a significant amt of work

[2022-11-10 19:49] CyrusNajmabadi commented on #65278
We only hash the pp-defines into it. Since those are the only things we think could change the set if symbols indexed in the file.  Technically the langversion could break that. Butt only in pathological files. So we explicitly ignore that and document why.

[2022-11-10 19:50] CyrusNajmabadi commented on #65278
One thing we don't do is provide a way to look up by checksum. That would be handy so that we could share our indices across projects as well. I'll make a note of that.

[2022-11-10 20:02] #28726 closed

[2022-11-10 20:02] #28582 closed

[2022-11-10 20:02] #28272 closed

[2022-11-10 20:12] jaredpar commented on #18952
This behavior is indeed by design. The reason why is multi-part. The first is the structure of the lambda expression itself.

[code]

This lambda does not return because it has an unconditional throw. This means the method never actually returns. As such it can convert to delegates that have any return type. That means the conversion to `Action` and `Func<object>` are both valid.

This may seem st

[2022-11-10 20:12] #18952 closed

[2022-11-10 20:53] genlu opened #65339 "Filter out File-scoped types from ImportCompletion"
![image](https://user-images.githubusercontent.com/788783/201203341-411bd3ce-8a2d-4ab5-9694-6586d7e3faee.png)

[2022-11-10 21:03] jasonmalinowski commented on #7842
We're going to be needing to implement this (or something like it) soon, so we'll see what that ultimately looks like.

[2022-11-10 22:27] Daxode opened #65343 "Malformed Elastic WhiteSpace Trivia in CodeFix test"
Hi, Unity Dev here - Working on DOTS o/

**Version**:
`Unity.Entities.Analyzer.CodeFixes`:
[code]

`Unity.Entities.Analyzer.Test`:
[code]

**Steps to Reproduce**:
1. Call this function as a code fix:
[code]
2. Run it on a test like:
[code]

**Expected Behavior**:
Green test, without indentation/trivia issues!

**Actual Behavior**:
BreakPoint at final line and looking at `newRoot` yields:
[code]
(a

[2022-11-10 22:36] CyrusNajmabadi commented on #65343
`.WithLeadingTrivia(SyntaxTriviaList.Create(SyntaxFactory.Space));`  this is incorrect.  You are placing leading trivia in a location where it doesn't exist.  Take a look at the final code in the syntax visualizer and you will see that `var` has no leading trivia in `ref var myFloats`.  If you are manually working with trivia, you'll need to generate teh exact same trivia as what the parser would

[2022-11-10 22:36] #65343 closed

[2022-11-10 22:40] Daxode commented on #65343
Oh wait - WHAT THAT THREW IT OFF THAT BAD!!... Well thx for pointing that out, this totally fixed it!!!:
[code]

[2022-11-10 22:40] yingnanl opened #65344 "Support preprocessor name in ScriptOption"
## Background and Motivation

[Conditional("DEBUG")] is a great way to comment out unnecessary debug methods and improve performance. However, there is no way to pass preprocessor name to Roslyn compiler by ScriptOption

## Proposed API

Add a new method to accept preprocessor names. Or automatically generate DEBUG/RELEASE preprocessor names if compiling in debug/release mode.

## Usage Examples

[2022-11-10 22:44] CyrusNajmabadi commented on #65343
Definitely always compare teh tree you're making to the tree you get when you parse.  If they're different (modulo elastic trivia), then it's all undefined as to what will happen :)

[2022-11-10 23:02] #35705 closed

[2022-11-10 23:02] #35346 closed

[2022-11-10 23:02] #34819 closed

[2022-11-10 23:02] #34725 closed

[2022-11-10 23:02] #31836 closed

[2022-11-10 23:02] #31829 closed

[2022-11-10 23:02] #31828 closed

[2022-11-10 23:02] #28787 closed

[2022-11-10 23:07] RikkiGibson commented on #65339
I assume this doesn't reflect a misbehavior in the LookupSymbols API?

[2022-11-10 23:14] genlu commented on #65339
This code path simply iterates through symbols from an assembly, so no

[2022-11-10 23:19] #64569 closed

[2022-11-10 23:19] #64778 closed

[2022-11-10 23:27] terrajobst opened #65345 "Function pointers do not have documentation id"
**Version Used**:

Microsoft Visual Studio Enterprise 2022 (64-bit) - Int Preview
Version 17.5.0 Preview 2.0 [33108.404.main]

**Steps to Reproduce**:

Declare two methods taking different function pointers. Use documentation comments to document them differently, for instance:

[code]

**Expected Behavior**:

Getting a documentation file that has unique values for the documentation IDs.

**Actual

[2022-11-10 23:31] allisonchou opened #65347 "[Automated] PRs inserted in VS build main-33110.143"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/a60a4730c52b20b0b2ff72b4f564871baf134fba...5a8c698b16aa29b64d1349e1335fce605726274e?w=1)
- [Merge pull request 65038 from jasonmalinowski/fix-generators-not-being-added-or-removed-correctly](https://github.com/dotnet/roslyn/pull/65038)
- [Move find-all-refs LSP handler down to LSP layer from editor layer. (65261)](https://git

[2022-11-10 23:31] #65347 closed

[2022-11-10 23:37] #63174 closed

[2022-11-10 23:38] tannergooding commented on #65345
Dupe of https://github.com/dotnet/roslyn/issues/46674 ?

[2022-11-10 23:39] 333fred commented on #65345
Duplicate of https://github.com/dotnet/roslyn/issues/46674.

[2022-11-10 23:39] #65345 closed

[2022-11-10 23:55] terrajobst commented on #48363
For reference, it seems CCI has a syntax that is similar to the one from VC:

[code]

it seems easiest to add the calling convention right after the word function and before the return type, like

[code]

If we believe there is value in matching what VC has done we can do that too. But it seems if the compilers differ by how they emit (i.e. with or without mod opts) then maybe that's a red herring

[2022-11-11 00:19] Tracy-P commented on #36570
This is the closest issue to my problem. I hope this is something that can be tracked down.
I have the same solution I work on that has 15 projects in it. I am transitioning to a new computer and this happens on both.
The solution originally started as .NET Framework and has been updated to .NET Core 3.1 at some point.
Both CheckInReports and PcKiosk target netcoreapp3.1.
PcKiosk uses both WPF and

[2022-11-11 00:21] #65339 closed

[2022-11-11 00:26] dibarbet commented on #55142
The LSP layer does not depend on editor features, and almost everything has been moved down.  See
https://github.com/dotnet/roslyn/pull/65292
https://github.com/dotnet/roslyn/pull/65284
https://github.com/dotnet/roslyn/pull/65266
https://github.com/dotnet/roslyn/pull/65264
https://github.com/dotnet/roslyn/pull/65263
https://github.com/dotnet/roslyn/pull/65261

[2022-11-11 00:26] #55142 closed

[2022-11-11 03:24] #44480 closed

[2022-11-11 04:17] marknuzz commented on #26934
I'm confused as to why this hasn't had more priority. Is there another IDE which has better REPL support? Do people actually think the immediate window is good enough? What still needs to be done?

[2022-11-11 04:42] sujayvsarma opened #65351 "Xml Doc dropdowns do not list inherited class members"
When trying to add things like a CREF or PARAMREF in an Xml Doc (C#), any members inherited from base classes are not displayed. The system does let you still add the item, but it is not resolved:

In the below, the class `Tenant` is derived from a class called `ChangeTrackedEntity` which defines the `Id` property (public, type Guid). But it is not listed in the displayed dropdown.
![image](https:

[2022-11-11 05:07] jcouv commented on #60332
Thanks @neuecc @ufcpp for reporting this! Fix is pending review

[2022-11-11 05:08] jcouv commented on #65312
Fix was merged for 17.5. Thanks @jhinder for reporting this

[2022-11-11 05:08] jcouv commented on #65311
Fix was merged for 17.5. Thanks @jhinder for reporting this

[2022-11-11 05:09] #65311 closed

[2022-11-11 05:09] #65312 closed

[2022-11-11 05:19] onionhammer commented on #26934
Yeah, .net interactive is kind of silly without this

[2022-11-11 05:52] jcouv commented on #65338
I think this is intentional and meant to preserve backwards compatibility. See the following logic and comment in `IsValidPatternDesignation`:
`if (SyntaxFacts.IsBinaryExpression(tk)) return true; // `e is int and && true` is valid C# 7.0 code with `and` being a designator`

So in this scenario, `short and` is parsed as a type followed by a variable designation/identifier "and", like we would for

[2022-11-11 05:52] #65338 closed

[2022-11-11 05:54] CyrusNajmabadi commented on #26934
@marknuzz prs welcome :-)

[2022-11-11 06:01] CyrusNajmabadi commented on #63744
I'm seeing:

![image](https://user-images.githubusercontent.com/4564579/201273928-dca2942d-96d7-442f-8f17-6ebdbacffc55.png)

No clue what's going on. :(

[2022-11-11 06:07] CyrusNajmabadi commented on #65351
Closing out.  The above is not legal.  The member must be referenced through it's actual containing type, not through any derived types.

[2022-11-11 06:07] #65351 closed

[2022-11-11 06:28] cston opened #65353 "Unexpected ref safety error assigning ref of captured local"
An error is reported for the ref assignment in the more nested lambda expression:
[code]
Result:
[code]

This is not a recent regression. The same error is reported in csc 3.11.

[2022-11-11 06:46] cston commented on #65353
The same issue exists with local functions:
[code]

[2022-11-11 07:23] sujayvsarma commented on #65351
What is "illegal" about accessing base class members through derived types? Isnt that the very purpose of inheritance? Or has inheritance become illegal?

[2022-11-11 07:32] weifenluo opened #65355 "When does AttributeData.AttributeClass return null?"
[AttributeData.AttributeClass](https://learn.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.attributedata.attributeclass?view=roslyn-dotnet-4.3.0#microsoft-codeanalysis-attributedata-attributeclass) returns nullable `INamedTypeSymbol?`. When does it return null? I'm asking this question because I can't ensure 100% test coverage of my code.

[2022-11-11 07:46] shuebner commented on #63744
OK, I played around with my local settings and identified the culprit:

With font "Consolas" (in your screenshot) everything is fine.
With font "Cascadia" (in my screenshot) the error appears, which is strange considering the error is the color.

[2022-11-11 08:01] CyrusNajmabadi commented on #63744
Please file an issue over at developercommunity.  This is def not a roslyn issue, but must be some sort of editor problem.  Please add all the information you've given here.  Thanks!

[2022-11-11 08:20] CyrusNajmabadi commented on #65355
Best is to just spelunk through the source.  In this case, i can see one way it can be null is if the decoding of metadata for the attributes doesn't succeed. i.e. this:

[code]

[2022-11-11 09:57] wmjordan opened #65356 "ServiceHub.RoslynCodeAnalysisService.exe or devenv.exe could consume a CPU core permanently"
**Version Used**:
Since VS 17.4 preview 3
**Steps to Reproduce**:

It is hard to reproduce it with a describable procedure.

I posted this issue initially on VS feedback, but no reply were heard for days. It occurred quite a few times a day on my computer.

When this issue occurs, _ServiceHub.RoslynCodeAnalysisService.exe_ or sometimes _devenv.exe_, will consume all resource of a CPU core and its

[2022-11-11 10:01] wmjordan commented on #65356
If I changed the execution flow of the problematic thread to return `false` from `HashSet.Contains`. The CPU usage could get back to normal and the rest was working OK again.

This issue had never occurred on VS 17.4 preview 2.1.

[2022-11-11 10:34] olatoft commented on #64698
That's exciting to hear! Thanks for the info, and good luck with the work :)

[2022-11-11 11:39] ds1709 opened #65357 "False negative CS0029 for arrays"
**Version Used**: 10

**Steps to Reproduce**:
[code]

[2022-11-11 11:54] gurustron opened #65358 "`SetsRequiredMembersAttribute` accepting list of members"
## Background and Motivation

With addition of new C# 11 keyword `required` to mark required members we can use `SetsRequiredMembers` to completely disable the analysis, which leads to several potential problems/inconveniences:

1. Can't describe that ctor initializes only several members:

[code]

2. Adding member which is not set in ctor does not produce error:

[code]
[sharplab demo](https://sh

[2022-11-11 12:12] Youssef1313 commented on #65357
This is behaving correctly per spec:

https://github.com/dotnet/csharpstandard/blob/standard-v6/standard/conversions.md#1028-implicit-reference-conversions

There is an implicit conversion:

[2022-11-11 12:42] Bgajic-mono opened #65359 "Visual Studio 2022 formatting issue"
**Version Used**:  Visual Studio 2022, 17.40

I'm using C# and have formatting issue since upgrading to 17.40

**Expected Behavior**:
1.
[code]
2.
[code]
press `Enter`

3.
[code]
**Actual Behavior**:
1.
[code]
2.
[code]
press `Enter`

3.
[code]

This was working as expected in previous version of VS2022, something broke in the newer. I haven't changed any setting besides turning off the new thing

[2022-11-11 12:48] TalonZA commented on #35954
Tools > Options > Text Editor > General > [ ] Select subword on double click

Just uncheck this

[2022-11-11 13:05] LukasGelke opened #65360 "VisualSudio 17.4 and Microsoft.CodeAnalysis.* 4.3.1 ignore WhiteSpace in VS-Settings or WorkSapce.CurrentSolution.Options respectively"
**Version Used**:
VisualStudio: Version 17.4.0
`dotnet --version` 7.0.100

**Steps to Reproduce**:

A) with VisualStudio
1.  set WhiteSpace Options in VisualStudio to "2 spaces" (our company wide default)
2. do not set these settings  (neither others nor same values) in editorconfig (as we don't use them everywhere)
3. try use a "builtin" codefix. Eg. `IDE0022: Use expression body for methods`
![i

[2022-11-11 13:52] #60621 closed

[2022-11-11 13:59] nZeus commented on #28292
Me too:

[code]

[2022-11-11 14:06] Youssef1313 commented on #28292
@nZeus That's a different issue that was fixed in https://github.com/dotnet/roslyn/pull/65307

[2022-11-11 14:28] onionhammer commented on #26934
@CyrusNajmabadi Is this a passion project? 😄

[2022-11-11 14:47] Bgajic-mono commented on #65359
https://github.com/dotnet/roslyn/issues/30787

I found similar issue, though it's about smart indentation. It seems that the issue that I have is that even though everything is set to block, it still uses smart (along with space being inserted when opening a bracket). Please advise.

[2022-11-11 15:02] Bgajic-mono commented on #65359
Another useful thing, after closing curly space is inserted between the two, and on enter press this is the result:
[code]
Expected:
[code]

[2022-11-11 15:32] CyrusNajmabadi commented on #26934
Yes. And we support community members putting in effort to get things done that are normally on the backlog.

[2022-11-11 15:56] Sewer56 commented on #44546
Ran across this while working on a project, here's a [SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBLANgHwAEBmAAgFcA7AZwEMAzGUwgJlIGFSBvAWACh+pIaQD0Y0gB5q5ALYzaUAJ4A+QcLEjSAFUUAHJhHqkAJrQy1S1DNBjHS2SqQwALbNVL1sMXMYB0aoQ1JEWk5BRUA5jIYSlkOCFxZSh19UhBSYEUMGEjePmEC0gAhLKYAXlIABjRIgoBlEuzSCoBGGvzCoQBVAElKDBakZtIWds6hPoGhiuIx8d7+4jYK9FrhSaXhgFY5zoWMVGGkXcLJw4qAdhP6hwBzXHLSAA5r4QARCHJgB+GAT

[2022-11-11 16:42] AArnott opened #65361 "Use of `static abstract` interface members on .NET 6 produces incorrect error"
**Version Used**: csc 4.5.0-2.22559.14 (5a8c698b)

**Steps to Reproduce**:

1. Create a C# library project that targets `net6.0` and specifies LangVersion=11.
2. Declare this interface:
[code]

3. Build the project

**Expected Behavior**:

An error about using a .NET 7-only feature.

**Actual Behavior**:

An error about enabling preview features (that appears twice, once for each modifier):

In fa

[2022-11-11 16:50] sujayvsarma commented on #65351
@CyrusNajmabadi - No idea what you are pointing to as being "illegal" here.

1. https://learn.microsoft.com/en-us/dotnet/csharp/fundamentals/tutorials/inheritance
2. https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/
3. https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/documentation-comments

All of the above describe inheritance in the same

[2022-11-11 17:14] tmat opened #65362 "Test failed in CI: ExpanderAvailableWhenNotInTypeContextButNotAddingAnyItems"
[code]

https://dev.azure.com/dnceng-public/public/_build/results?buildId=80018&view=ms.vss-test-web.build-test-results-tab&runId=1671798&resultId=224977&paneView=debug

[code]

[2022-11-11 17:35] CyrusNajmabadi commented on #65351
https://github.com/dotnet/csharpstandard/blob/standard-v6/standard/documentation-comments.md#d314-see

The definition of the symbol you are referencing does not exist.  There is no Tenant.Id symbol, so it fails.

You're misunderstanding the specification.  Unless specifically legal, something is not legal.  We don't say "we didn't remember to say thsi is not allowed, so you can do it".  We say "we

[2022-11-11 17:39] Youssef1313 commented on #65361
This belongs to dotnet/roslyn-analyzers

[2022-11-11 17:41] Youssef1313 commented on #65361
Related discussion: https://github.com/dotnet/sdk/issues/28049

[2022-11-11 17:51] AArnott commented on #65361
I'm good with transferring this issue to one of the other repos. I just don't know which, and I lack permissions to do so.

[2022-11-11 17:53] Youssef1313 commented on #65361
@mavasani Can you move to dotnet/roslyn-analyzers for now if you think CA2252 shouldn't complain about static abstracts being preview? The work on dotnet/sdk is already tracked by https://github.com/dotnet/sdk/issues/28049

[2022-11-11 18:04] AlekseyTs commented on #65361
The feature is marked as preview in net6.0, certain APIs are specially marked in reference assemblies. Release of any other SDK isn't going to change that and usage of any other compiler version isn't going to change that. Therefore, I think `EnablePreviewFeatures` is still required as long as those reference assemblies are used. If I remember correctly, CA2252 is reported by an analyzer that is g

[2022-11-11 18:09] CyrusNajmabadi commented on #65123
Mitigated with https://github.com/dotnet/roslyn/pull/65279.

[2022-11-11 18:09] #65123 closed

[2022-11-11 18:27] jcouv opened #65363 "`CheckFeatureAvailability` should not have side-effects on binding via `hasErrors` in `ForEachLoopBinder`"
We should remove the side-effect on `hasErrors` in `hasErrors |= !messageId.CheckFeatureAvailability( ...` because some checks are conditional on `hasErrors`.

https://github.com/dotnet/roslyn/pull/65352#discussion_r1020379585

[2022-11-11 18:58] NTaylorMullen opened #65367 "Latest LSIF generator explodes failing to find service for ILspHoverResultCreationService"
**Version Used**: 4.5.0-2.22557.7

**Steps to Reproduce**:

1. Clone https://github.com/NTaylorMullen/LSIFDb
2. `dotnet build /bl`
3. Pass the binlog into the LSIF generator

**Expected Behavior**:
LSIF is generated

**Actual Behavior**:
![image](https://user-images.githubusercontent.com/2008729/201411540-1e9910dd-73a8-4b0b-9a2c-60c8d98217c6.png)

[2022-11-11 19:00] NTaylorMullen commented on #65367
Tried to isolate "a" failure and found a different one which may be hiding underneath (using the same repo steps above)?
    - **Fails:** 4.5.0-2.22554.6 (5 days ago)  79f430693384048224da2b87aa74b05a7bf96ecd
    - **Works:** 4.5.0-2.22552.19 (8 days ago)  dfcc1f720b2e84c06da057b6ab1225d773ff669f

The [GitHub diff of the two commits](https://github.com/dotnet/roslyn/compare/79f430693384048224da2b8

[2022-11-11 19:02] Youssef1313 commented on #65367
Likely related to https://github.com/dotnet/roslyn/pull/65264.

[2022-11-11 19:18] #65115 closed

[2022-11-11 19:42] agocke commented on #58107
Q: if someone were to submit a change here to make the public APIs nullable and mark all the internal Roslyn use sites nullable disabled, would that be acceptable? That would kind of turn this into a Roslyn-internal problem, as opposed to an external problem

[2022-11-11 19:49] jasonmalinowski commented on #65367
@dibarbet Ah, right now it's just using the default MEF construction you get for AdhocWorkspace or any other workspace.

[2022-11-11 19:55] Jay-Madden opened #65369 "Improve NRT warning CS8604 in cases where implicit conversions cause the warning"
# Background and Considerations

The NRT warning ``CS8604`` is lacking in information when it is caused by an implicit conversion.

### Example

[code]
[sharplab.io](https://sharplab.io/#v2:D4WAUAAgzABAzgFwE4FcDGCYGFwG9wyEzTECMAbDAJYC2ADgDZVpWYD2dApkgIYJtIyABgD8AbQC6ImAAosMAG48GKTgEoCRfGCK6yAOgikAnDIBEACyowAZkjY1hZtQG5Ne4gHYYAOxQMGNx0iAF9wdxgAegAqCJIjSlpGZlYYDm4+ATSAIwArTgxxCVl5JRV1CO0PQiNDE3MrW3t

[2022-11-11 20:02] #42131 closed

[2022-11-11 20:02] #40119 closed

[2022-11-11 20:02] #39221 closed

[2022-11-11 20:02] #38223 closed

[2022-11-11 20:02] #38032 closed

[2022-11-11 20:03] Youssef1313 commented on #36769
@jcouv Should this be closed if it's by-design?

[2022-11-11 20:20] Youssef1313 commented on #50233
@mavasani Should this get closed?

[2022-11-11 20:30] #63362 closed

[2022-11-11 20:39] vsfeedback opened #65375 "Quick actions use wrong indent"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Quick-actions-use-wrong-indent/10197217)._

---
[regression] [worked-in:17.2]
When using a "Quick action or Refactoring...", either started by Ctrl+. or clicking the lightbulb or through the context menu, the resulting code is not indented with the configured value. We use an indent of 2

[2022-11-11 20:59] allisonchou opened #65377 "[Automated] PRs inserted in VS build main-33111.100"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/5a8c698b16aa29b64d1349e1335fce605726274e...293e6fec465d871299ab5d2226c135e32d8f6962?w=1)
- [Incremental generator nodes must run when no result history (65223)](https://github.com/dotnet/roslyn/pull/65223)
- [Fix "Fix return type" codefix for non-Task awaitable types (65305)](https://github.com/dotnet/roslyn/pull/65305)
- [Fi

[2022-11-11 20:59] #65377 closed

[2022-11-11 21:04] arkalyanms commented on #65375
Could this be from https://github.com/dotnet/roslyn/pull/61091?

[2022-11-11 21:13] Youssef1313 commented on #65375
See also https://github.com/dotnet/roslyn/issues/65360

[2022-11-11 21:18] CyrusNajmabadi commented on #65375
Dupe of https://github.com/dotnet/roslyn/issues/65360.

[2022-11-11 21:18] #65375 closed

[2022-11-11 21:37] #64713 closed

[2022-11-11 21:40] vsfeedback opened #65391 "IDE0019 "Use pattern matching" can produce code that is not equivalent to initial code."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/IDE0019-Use-pattern-matching-can-produ/10195876)._

---
The original code is something like this:

            Container parentContainer = originalObj.ParentObj as Container;

            (more code... )

            if (parentContainer != null)
            {
               (do something

[2022-11-11 21:55] vsfeedback opened #65378 "C#: cdoes not work"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/C:-Tools---Options-highlighting-settin/10192476)._

---
[severity:It's more difficult to complete my work]
I'm working on a number of files that contain many of the same keywords; for example, one file contains a larger number of 'await' and 'async' keywords.
Whenever I set the cursor on

[2022-11-11 22:04] vsfeedback opened #65379 "IDE0052 is incorrectly reported for a member referenced by nameof(...)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/IDE0052-is-incorrectly-reported-for-a-me/10193399)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:17.3]
Have this NUnit test class:

[code]

VS 17.4 reports that "values" is not referred and can be removed despite that `nameof` references it.

---
### O

[2022-11-11 22:09] jcouv commented on #12995
It looks like this is a problem in .NET Framework (the desktop framework) and it was fixed in .NET Core (see [sharplab](https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwAICYCMBYAUHjAAlUwHY8BvPQm4zANmIBZCBZAQwEsoAKEgBgDaAXULswAcwDOASmq0quWssJwAnlHYBbTgGNVGwgF5CUAKYB3QgCUzugPZg4PGQG488lYQCSAQTgAbuxQumZwACrsAEYANmZigZGx8SbmVklxLu5KXj4Z8cDRccYJAfnZnioA9FWEFo4A1lKEMZwN8eyEugAW4lrE/ITA3fEARFHsUmYAtNzAZmAAZuyh

[2022-11-11 22:09] #12995 closed

[2022-11-11 22:10] jcouv commented on #65357
That's correct. I'll go ahead and close a By Design.

[2022-11-11 22:10] #65357 closed

[2022-11-11 22:11] #60332 closed

[2022-11-11 22:13] vsfeedback opened #65380 "CS1998 Code Cleanup Fixer deletes comments at the end of the method"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/CS1998-Code-Cleanup-Fixer-deletes-commen/10193049)._

---
[severity:It's more difficult to complete my work]
If you right click on Foo in the function below, and choose "Quick actions and refactorings" then "Remove async modifier" the fixer will incorrectly remove the ````//World```` com

[2022-11-11 22:53] genlu opened #65381 "InvalidOperationException from `DiagnosticData.GetAdditionalLocations`"
Hit this in [33107.333.main]

[code]

[2022-11-11 23:01] tmat commented on #65191
@genlu

[2022-11-11 23:02] #49716 closed

[2022-11-11 23:02] #48452 closed

[2022-11-11 23:02] #44746 closed

[2022-11-12 00:02] vladd commented on #64239
@jaredpar
I assume the OP's reasoning was like this:

The code `(a0, b0) is (int?, int)` is not allowed, producing

This probably means that by some logic pattern matching against nullable value types is not allowed. By the same logic matching pattern matching with `var` where `var` represents nullable value type probably should be not allowed as well.

---

By the way, the check `a0 is int?` [com

[2022-11-12 02:03] #51821 closed

[2022-11-12 02:03] #51208 closed

[2022-11-12 02:03] #50530 closed

[2022-11-12 02:23] Sergio0694 commented on #52914
Uh... This feels like it wasn't resolved yet, should we reopen it? 😅

[2022-11-12 02:23] ErikWe opened #65386 "CS1591 - False positive for interface-implementing member"
[CS1591](https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1591) - `Missing XML comment for publicly visible type or member 'Type_or_Member'`
**Version** - `MSBuild 17.4.0.51802`

### Brief description
Members that implement an interface member will implicitly apply `/// <inheritdoc/>` ([source](https://github.com/dotnet/roslyn/issues/47436#issuecomment-6868270

[2022-11-12 02:29] CyrusNajmabadi commented on #65386
That inheritdoc behavior is purely an IDE-time thing to help with features like quick-info.  It's not a feature of the language, and docs are not inherited as far as the compiler and the rules around doc files are concerned.  So the compiler is working as intended here.

[2022-11-12 02:29] #65386 closed

[2022-11-12 02:29] justinmchase commented on #32082
#### `.editorconfig`
[code]

## expected

#### `<enter>` before `.`
[code]

#### `<enter>` after `(`, before `)`
[code]
[code]

[2022-11-12 02:34] justinmchase commented on #8269
Any work around available? I'm very tired of telling people to fix this in code reviews.

[2022-11-12 02:43] CyrusNajmabadi commented on #8269
Nope.  No work around.

[2022-11-12 04:51] sujayvsarma commented on #65351
Ah. Thank you for your explanation.

[2022-11-12 05:26] 333fred commented on #52914
@CyrusNajmabadi can you clarify what more info you were asking for?

[2022-11-12 05:28] CyrusNajmabadi commented on #52914
Basically sam's point from above. Namely that this is actually an issue in practice when IGs are used properly.

[2022-11-12 06:26] loraderon commented on #8269
If you are willing to go the opinionated route (such as prettier) the only way to go is to use https://github.com/belav/csharpier

[2022-11-12 06:57] bysdxt opened #65388 "incorrect ref escape check for expression body"
**Version Used**:
.net7
sdk 7.0.100
**Steps to Reproduce**:

code:
[code]

**Diagnostic Id**:
CS9075
CS8347
**Expected Behavior**:
both f1 and f2 should be reported to CS9075 and CS8347
**Actual Behavior**:
just f2 is reported

![1](https://user-images.githubusercontent.com/13766766/201461725-f3ae6d20-7e31-4e14-a6c9-aaed318afbf4.png)

[2022-11-12 07:33] Youssef1313 commented on #65381
Fix might be similar to https://github.com/dotnet/roslyn/pull/64297

[2022-11-12 07:55] Youssef1313 commented on #65378
@arkalyanms This looks like a bug rather than a Feature Request?

My first guess would be that changes to `OptionStore` aren't reflected in `GlobalOptions` some how?

As a starting point for investigation, I think we need to first confirm if we properly hit this code path when checking/unchecking the option:

https://github.com/dotnet/roslyn/blob/cc216c93956a2c534d551568b9ae825dc3a5a6c4/src/Visual

[2022-11-12 09:41] #59988 closed

[2022-11-12 11:01] Youssef1313 commented on #65378
This *may* be the same root cause https://github.com/dotnet/roslyn/issues/64317

[2022-11-12 12:06] shaggygi opened #65389 "Another Round of Milestone Cleanup"
Seems like the following could now be closed.  Thx

https://github.com/dotnet/roslyn/milestone/130
https://github.com/dotnet/roslyn/milestone/110
https://github.com/dotnet/roslyn/milestone/127
https://github.com/dotnet/roslyn/milestone/128
https://github.com/dotnet/roslyn/milestone/116 (although just released)

[2022-11-12 12:34] DoctorKrolic opened #65390 "Provide separate `yield return` and `yield break` completions instead of a single `yield`"
Considering that `yield` is only valid as a part of `yield return` or `yield break` it makes more sense to provide these 2 separate completions instead of a single `yiled` in order to reduce typing needs. Rider does it exactly this way.

If this suggestion is accepted I would like to take it as it seems pretty simple for me.

[2022-11-12 13:43] Youssef1313 commented on #65390
I'm worried about typing `yie` then hitting space. Muscle memory thinks this will type just `yield`, but if it wrote `yield return` or `yield break`, I might have to delete `return` or `yield` and type the other instead.

But it is definitely a good idea. @CyrusNajmabadi @sharwell what do you think?

[2022-11-12 14:11] DoctorKrolic commented on #65390
`yield` isn't something you work with every day. So I believe people don't have strong muscle memory about it. But even if they do, completing the whole `yield return` is something they probably want to type anyway (`yield return` is used more frequently than `yield break`, so it should appear before it in the completion list). So IMO the risk is pretty low here

[2022-11-12 15:17] Nukepayload2 opened #65392 "[Compatibility issue] VB compiler generates tons of BC36954 errors when I upgrade .NET 6 projects to .NET 7"
**Version Used**:
4.4.0-3.22518.13+7856a68c109b22de70e07580018fec601e944f46

**Steps to Reproduce**:

The following code reports BC36954 error when I upgrade a .NET 6 project to .NET 7.
[code]

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AbEA3YaAuIUArgHZoAmIA1AD4CSAtgA7T4DOABAMoCe7+GIwCwAKAAKxYBgCWYTgFkIFYhhidxUCAHMoAQxGjOxjVNnzuUxXpmkAFAEoxJl5wAiMxpy4BeTgCIARgAmAGZ/ADoAQXZuZj17JyMTAFFSCh4pMTSMp

[2022-11-12 16:23] CyrusNajmabadi commented on #65390
I would but change this. The current behavior is intentional. This would also likely break muscle memory for anyone who uses these.

[2022-11-12 17:02] #33129 closed

[2022-11-12 17:02] #25222 closed

[2022-11-12 17:26] GeorgeAlexandria opened #65393 "The equal symbols have a different hash code"
Hi,

I'm try to migrate from **3.8.0** to **4.0.1** and was surprised when found, that hash codes from equal items are different (by regular `GetHashCode` and `SymbolEqualityComparer.GetHashCode`)

**Steps to Reproduce:**
The following code (under .net6) shows the issues

[code]

I expected, that all hash codes would be equal, and all hash sets will contain item.

If i miss something, please let m

[2022-11-12 17:27] justinmchase commented on #8269
I will try using them in conjunction, it seems like it may work. That being said, it seems like this formatter should also cover all of these cases and be similarly opinionated.

[2022-11-12 17:31] #65302 closed

[2022-11-12 18:36] Youssef1313 commented on #65393
This might be the same bug I fixed in https://github.com/dotnet/roslyn/pull/58247

[2022-11-12 19:02] tmat opened #65394 "Cover VisualStudioSettingsOptionPersister with tests"
The type conversions in VisualStudioSettingsOptionPersister are not covered by any tests.

We should verify that values for all options we read form ISettingsManager can be deserialized correctly.

[2022-11-12 20:01] #45617 closed

[2022-11-12 20:02] jcouv commented on #50784
@RikkiGibson has a PR out to improve this for cases were it is safe (ie. compatible with spec'ed evaluation order and therefore unobservable)

[2022-11-12 20:14] carlreinke opened #65396 "DocumentationCommentId parser throws IndexOutOfRangeException when parsing type parameter symbol in invalid ID"
**Version Used**:
Microsoft.CodeAnalysis.dll 4.4.0-3.22518.13+7856a68c109b22de70e07580018fec601e944f46

**Steps to Reproduce**:

1. ```DocumentationCommentId.GetFirstSymbolForDeclarationId("M:System.Array.Sort``1(`0[])", Compilation)```

(Note that the correct ID for this method is ```M:System.Array.Sort``1(``0[])```.)

**Expected Behavior**:
Returns `null`.

**Actual Behavior**:
[code]

[2022-11-12 20:15] jcouv commented on #61964
Likely related to https://github.com/dotnet/roslyn/issues/61516

[2022-11-12 20:42] GeorgeAlexandria commented on #65393
@Youssef1313, yes, issue doesn't appear on 4.1.0 – close issue. Thanks.

[2022-11-12 20:42] #65393 closed

[2022-11-12 21:31] vgdagpin commented on #32320
+1

[2022-11-12 21:42] 333fred opened #65397 "Rename constantly failing in MAUI Apps"
**Version Used**: 17.5p1 public

**Steps to Reproduce**:

1. Create a new .NET MAUI App
2. Open a CS file, insert a method named M.
3. Attempt to rename the method to M2.

**Expected Behavior**:

Method is renamed

**Actual Behavior**:

![image](https://user-images.githubusercontent.com/2371880/201495478-ae6eb211-2188-4f0f-8c90-7feb04bc15ff.png)

It does not appear to work correctly with any combi

[2022-11-13 00:02] RikkiGibson commented on #50784
Yeah, I think we mainly need to figure out the right heuristics. My PR as written won't handle assignments to fields at all. Planning to follow up offline about it.

[2022-11-13 04:56] wmjordan commented on #65390
I vote for this.
Each time I used auto-completion to get a `yield`, I would like it to be `yield return`.

[2022-11-13 07:32] jcouv commented on #65392
@Nukepayload2 These Span APIs should have been inaccessible from VB in .NET 6 already. A mechanism was in place (attribute `[Obsolete("Types with embedded references are not supported in this version of your compiler.")]` emitted on ref structs) to prevent compilers without ref sruct support from using types they didn't understand/support.

This mechanism was imperfect as the following example sho

[2022-11-13 07:38] jcouv commented on #65388
@bysdxt Thanks for reporting this. It looks like it was fixed recently, as I now see CS9075 and CS8347 reported on both method bodies (see [sharplab](https://sharplab.io/#v2:EYLgtghglgdgNAExAagD4AJPtgFwKYBOMEANugAIBMFAjAOzoCwAUFugN4ttvk0Bs6AILoAZjQAUAZwDGAewAOeBOgJ4R2GDnQAPAJToAvAD50MPAHdxq9XoDcXbpl4DhIylLmLl1jVr0cKBjNLHzt0AF8HTEjWLFUIBFkYEgBPFTV0SRwCAFdpLWEojiKeAGZ0hKTU9PVcHXtmEqxycsErDLr/Y3QcAAs

[2022-11-13 07:48] jcouv commented on #65361
Closing as by-design (the APIs shipped in .NET 6 were preview and will remain so).

FWIW, the CA2252 [implementation](https://github.com/dotnet/roslyn-analyzers/blob/main/src/NetAnalyzers/Core/Microsoft.NetCore.Analyzers/Runtime/DetectPreviewFeatureAnalyzer.cs) is in the `roslyn-analyzers` repo.

[2022-11-13 07:48] #65361 closed

[2022-11-13 09:04] DoctorKrolic commented on #65390
Sorry, what do you mean by that?

If you are really concerned we can just add `yield return` and `yield break`, but keep the original `yield` on top to maintain muscle memory "backward compatibility" and give people time to discover new completion capabilities. But I still believe that `yield` should be removed later to improve experience even more (see comment above)

[2022-11-13 11:02] DoctorKrolic opened #65401 "`IDE0241` is not reported when found attribute"
**Version Used**:
VS 2022 v17.5 Preview 1

**Steps to Reproduce**:
Setup project with nullable enabled in `.csproj`
[code]
Observer thta `IDE0241` is reported.
Uncomment `//[Flags]`

**Diagnostic Id**:
IDE0241

**Expected Behavior**:
`IDE0241` is still reported because attributes don't create nullability issues

**Actual Behavior**:
`IDE0241` is not reported

[2022-11-13 12:34] Nukepayload2 commented on #65392
@jcouv If you remove `As ReadOnlySpan(Of Char)`, there will be no obsolete errors.
[code]
![image](https://user-images.githubusercontent.com/10798596/201521421-3c42c21e-14ff-4da3-a5d5-fa2fcc6e708e.png)

[2022-11-13 12:43] AdamSpeight2008 commented on #65392
[code]

[2022-11-13 13:23] Nukepayload2 commented on #65392
@AdamSpeight2008
Some 3rd-party libraries don't have `Memory(Of T)` overloads. They only provide `Span(Of T)` overloads. In .NET 6 projects, I can convert `Memory(Of T)` to `Span(Of T)` by getting the `Memory(Of T).Span` property. But I can't do that in .NET 7 projects.

[2022-11-13 15:41] CyrusNajmabadi commented on #65390
I would 'not' change this.

[2022-11-13 16:47] cston commented on #65388
This appears to be https://github.com/dotnet/roslyn/issues/64045 which was fixed in https://github.com/dotnet/roslyn/pull/64976.

[2022-11-13 16:48] #65388 closed

[2022-11-14 01:46] SunnieShine opened #65403 "`var` keyword colorized on the case `scoped var refStruct = expr;`"
**Version Used**:

VS 17.5p1

**Steps to Reproduce**:

Type code:

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghglgdgPgYgA4CcIHNIAIDuEUyzpYAmUAzhMADYCmWAwgMoAcAzAEwCMANI0wAZuATj4BJACIBRLgIEA2ALAAoFQAEu8rGoAsWMLQAuACwD2JABQqsNrOQDGppLRJZYjahHLltatRz4HJxc3GCwmQxQAV3tDX3JImMNAx2dXdzExGENaFAAzCHt6P1gc/MLaFOD0sIlaOnQIHN8SetpGnJ5rWyC00KwAJVo8iOjYrBRh0aTeQanE8cmRhcMAu1SQ9ykYKLBfWh2wAEoVAG9um16QpYnaC

[2022-11-14 08:16] Youssef1313 opened #65404 "Pasting properly formatted code breaks formatting"
In a top-level statement file, paste the following:

[code]

Result:

[code]

Running format document will then give the expected result.

[2022-11-14 08:34] DoctorKrolic opened #65405 "Add IDExxx rule for converting multiline string to raw string"
Currently there is only "Convert to raw string" code refactoring with fix-all support (weird. How can a _refactoring_ has _fix_ all? I doesn't fix anything). Using this fix-all is not much helpful as it converts all strings to raw form, even simple single-line onse, e.g. `"a"` -> `"""a"""`. It would be a lot more helpful if there is an `IDExxx` rule for converting only _multiline_ strings to raw f

[2022-11-14 08:46] NN--- opened #65406 "Warning about null value while value is set as not null"
**Version Used**:
Visual Studio 17.4.0

**Steps to Reproduce**:
[code]

**Diagnostic Id**:
[code]

**Expected Behavior**:
No warning.
The field `_s` is not null after `init` block which specifies it using `MemberNotNullAttribute`.

**Actual Behavior**:
Warning about making `_s` to be nullable.

[2022-11-14 08:48] NN--- commented on #65406
Probably the same as #43587

[2022-11-14 09:22] Youssef1313 commented on #64906
@RikkiGibson There doesn't seem to be completion for `scoped`. This should be a high priority

![image](https://user-images.githubusercontent.com/31348972/201622952-9e2c0d64-97dd-452c-8e86-458f81720268.png)

[2022-11-14 09:25] Youssef1313 commented on #64906
Also we likely will want to handle `scoped ref` here:

https://github.com/dotnet/roslyn/blob/7a9b666da2368fbb2ab850851e076eb230c1f0b3/src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs#L1769-L1792

and make sure use implicit vs explicit type works for `scoped ref` variables as well.

[2022-11-14 09:38] Youssef1313 commented on #65405
The general support for refactoring fix all was worked on by @mavasani https://github.com/dotnet/roslyn/pull/60906

and for this specific refactoring: https://github.com/dotnet/roslyn/pull/61105

[2022-11-14 09:56] mavasani commented on #65405
NOTE: If we intend to scope the FixAll to only work on a smaller subset of strings than it does today, we probably need to use more fine grained equivalence keys for the registered code actions.

[2022-11-14 10:24] JoseMarcenaro commented on #36930
Using Visual Studio 2022 Version 17.5.0 Preview 1.0
This feature would be very useful to avoid reformatting certain HTML blocks in .cshtml pages.
Thanks!

[2022-11-14 10:58] FelixKeck opened #65408 "Make ReferenceLocation.IsWrittenTo public"
## Background and Motivation

I'm trying to find all references of a variable and distinguish them by read/write accesses. Therefore I use `SymbolFinder.FindReferencesAsync`. The returned reference locations have a property `IsWrittenTo` which looks like it provides this information. Sadly this property is internal so I cannot use it. Is it possible to make this property public or are there other

[2022-11-14 11:07] Youssef1313 commented on #64906
I'm working on completion.

[2022-11-14 14:07] Therzok commented on #33129
I haven't had a chance to look at allocation traces on a version that didn't have the cancellation exception allocation spam.

[2022-11-14 15:05] Youssef1313 commented on #65379
The warning looks correct to me. `nameof(values)` refers to the `values` parameter, not the `values` field. The behavior change is caused by `nameof(parameter)` feature.

[2022-11-14 15:20] Youssef1313 commented on #64587
I'm still seeing the exceptions. Reopening.

[2022-11-14 15:27] #65379 closed

[2022-11-14 15:29] Youssef1313 opened #65412 "CI: Analyzer tests are never run on Linux"
See https://github.com/dotnet/roslyn/pull/65411 which introduces a test failure. The failures are on Windows runs only. It would be good to have tests run on Linux, e.g, for issues like https://github.com/dotnet/roslyn/issues/65081

[2022-11-14 15:57] cremor commented on #65379
@Youssef1313 Is this dependend on the C# version which is in use?
So with C# versions before 11 IDE0052 isn't shown?

[2022-11-14 16:08] Youssef1313 commented on #65379
@cremor The feature doesn't seem gated under a language version. So the behavior depends on the *compiler* version. I think you should be fine by choosing different names for the parameter and the field. My preference is to use `_values` for the field (which is the well-known .NET naming convention) and keep `values` for the parameter name. You then should use `nameof(_values)`

[2022-11-14 16:15] cremor commented on #65379
I'm not the reporter of this issue, and I'm also using the underscore naming convention for fields, so I'm not affected. I'm just interested in this issue.

The reporter of this issue also reported another similar one: https://developercommunity.visualstudio.com/t/Inline-rename-incorrectly-renames-unrela/10193406
There he wrote that the project targets .NET 4.8, so no C# 11.

Yes, both issues can

[2022-11-14 16:30] Youssef1313 commented on #65379
@cremor `nameof(parameter)` will work on any C# version as long as the compiler version includes it. So it doesn't matter whether the project is .NET Framework 4.8 or is using older C# version.

The same applies to the reported rename issue.

[2022-11-14 16:35] cremor commented on #65379
Oh, I see. Thanks for explaining that. I didn't expect a new language version to work in old C# versions.

[2022-11-14 17:02] #64123 closed

[2022-11-14 17:26] #65363 closed

[2022-11-14 17:39] jaredpar opened #65415 "Analyzer / generator shadow load directory needs to be per user on Unix"
Context: https://github.com/dotnet/runtime/issues/77723

The root cause of this problem is the temp directory on Unix is the global one while on Windows it's per user. Hence there is a bit of a disconnect on how the shadow copy logic works there. Need to add a user component to the path on Unix to make things consistent here.

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest

[2022-11-14 17:47] CyrusNajmabadi commented on #65405
it can go an update all occurrences within a particular scope.

[2022-11-14 17:48] CyrusNajmabadi commented on #65405
It's not an analyzer/fixer.  There's no rule being enabled here.  It's just a transformation people can apply, but may want to apply to multiple locations (e.g. all the cases in a method, or in a file, etc.).