[2016-04-10 16:18] benaadams opened #10449 "Discussion: Defer async state machine creation"
From https://github.com/dotnet/roslyn/issues/7169#issuecomment-207693545 will evolve this over time, however this is to fork the discussion from @ljw1004's great proposal as its a separate thing.

While you're there, messing with the async state machine.... :wink:

There is currently a faster await path for completed tasks; however an async function still comes with a cost. There are faster patter

[2016-04-10 16:18] benaadams commented on #10449
Re: `ValueTask` vs `Task<T>` results for splitting with completed results are as follows for 1M ops

Arch 64 bit - Cores 4
1 Thread - Sync: 5.756ms
1 Thread - Async: 146.579ms
1 Thread - ValueTask Async: 16.917ms
Parallel - Async: 86.191ms
Parallel - ValueTask Async: 4.988ms
Parallel - Sync: 1.661ms

See https://github.com/atemerev/skynet/pull/40

[2016-04-10 16:18] benaadams commented on #10449
ValueTask by itself saves in allocations; but you don't get the full throughput in performance until you also delay the state machine creation (the actual `async` part of the function) until the first task that is not completed.

[2016-04-10 16:19] benaadams commented on #10449
@bartdesmet wrote:

[2016-04-10 16:20] benaadams commented on #10449
Removed the `.ConfigureAwait` from the example; however that could be lifted if the existing could has one, e.g. rather than taking a `Task` the second function would take a `ConfiguratedAwaitable` or whatever type was awaited.

`try`,`catch`,`finally`,`using` would probably have to block the rewrites at least as a first pass; often this can be moved up a function - but potentially also causes a b

[2016-04-10 16:20] benaadams commented on #10449
@ljw1004 wrote

[2016-04-10 16:21] benaadams commented on #10449
@i3arnon wrote

[code]

[2016-04-10 16:22] benaadams commented on #10449
@i3arnon it should work? First function's conversion would be blocked due to await in try catch, second function would become:
[code]

[2016-04-10 16:23] benaadams commented on #10449
@i3arnon wrote

We now changed where the exception is thrown.
With `async` the exception is stored in the returned task and so is rethrown when the task is awaited (i.e. inside the `try` clause of the calling method).
When `async` is removed this becomes a simple standard method which means the exception is thrown synchronously when `FooAsync` is called (i.e. just before entering the `try` clause)

[2016-04-10 16:23] benaadams commented on #10449
@i3arnon not in the changed function I showed; where the exception is not thrown but `Task.FromException` is returned instead - behaviour should remain the same?

[2016-04-10 16:24] benaadams commented on #10449
@i3arnon wrote

[code]

[2016-04-10 16:24] benaadams commented on #7169
Forked async rewriting discussion to https://github.com/dotnet/roslyn/issues/10449

[2016-04-10 16:38] benaadams commented on #10449
@i3arnon yeah rewriting everything like:
[code]
probably isn't great and oddly may work better like
[code]
As try catch also prevents some optimizations; something to measure...

[2016-04-10 16:44] gafter commented on #142
To avoid people spending time and energy getting their hopes up for something that is not going to happen.

[2016-04-10 16:56] urig commented on #142
Granted closing the issue achieves that. At the same time leaving things without any reason or explanation of *WHY* the feature is declined works to increase frustration.

[2016-04-10 17:17] GSPP commented on #10361
This windowing Close method is not about disposal. It is appropriately named. Close in order to dispose of resources as a synonym for Dispose is the anti-pattern.

[2016-04-10 17:19] StephenCleary commented on #10449
I think you'd *have* to wrap everything in `try`/`catch` in the output. But that said, it's still an optimization (the state machine has to have a `try`/`catch`, too). Last time I checked (a *long* time ago, for SEH), `try`s were cheap and it's the `catch` that's expensive.

It would be important for semantic reasons to always have the `try` in the generated code, even if the original code only ca

[2016-04-10 17:44] benaadams commented on #10449
@StephenCleary your and @i3arnon's examples cover two ends of the spectrum! Both good examples.

I don't think `try` is expensive per se; but it does prevent some jitter optimizations, inlining, tail call etc.

Will do some measurements

[2016-04-10 17:53] Miista commented on #10153
Why not just rename `this` to `Person`, remove `out`, and then you have the constructor of the class. Which is still defining the shape of the class.

I feel like what you are proposing is simply a hack to avoid using the constructor of the class. I mean the constructor is right there in the code.
Why invent something when the thing you need (the shape) is right there in the code.

[2016-04-10 18:12] alrz commented on #10153
@Mista The "deconstructor" (or extractor) *is* the constructor *inside-out*,  but we can't use constructor *as is* for deconstructor because `out` parameters are required. Closest syntax that I came up with is something similar to destructor,
[code]
But I think that would be more controversial than simply using `this` which I was suggesting in the first place. :smile:

[2016-04-10 18:14] Miista commented on #10153
The "destructor" can be auto-generated from the constructor.

______________
Søren Palmund

[2016-04-10 18:17] alrz commented on #10153
@Miista I assume you meant deconstructor. That is the case just when you declare records. But for existing or non-record types which doesn't have a clear correspondence between parameters and properties, you should be able to define a custom extractor, e.g. the example above for `String`.

[2016-04-10 18:27] spencerwi commented on #5445
Ah, true. The lack of automatic currying does make things more difficult.

[2016-04-10 18:48] Miista commented on #10153
Yea, I did :)

I still believe there must be a better way than what is currently proposed. With the current proposal people can create extractors that does not correlate with the shape/structure of the type in any way.
That's not very intuitive.

______________
Søren Palmund

[2016-04-10 19:07] alrz commented on #10153
@Miista Well, I think that *is* the point. My suggestion doesn't limit the functionality in any way. Extractors in Scala do not correlate anything with the enclosing type either.

[2016-04-10 20:26] bradphelan commented on #10361
What is a "resource" ?

On Sun, 10 Apr 2016 19:17 GSPP, <notifications@github.com> wrote:

[2016-04-10 20:35] GSPP commented on #10361
Something that is a significant cost to the system while it is not disposed. When disposed it permanently transitions to a destroyed state and stops being a cost. I think this is what everyone intuitively understands to be a resource.

A window that can be reopened is not a resource. It's a two state system that can be transitioned arbitrarily.

Destroying a window is a permanent relief of resourc

[2016-04-10 23:13] 3jr commented on #5611
I think it makes sense to apply this CodeFix to many items with a ParameterList and do something very similar for TypeParameterLists (a corresponding warning exists: CS1712).

VB doesn't have such a Warning, so no CodeFix for VB?

I have some issues with formatting (especially with `/** */` comments). For `///` comments the behavior I currently have implemented (see Current Behavior below) seems t

[2016-04-11 00:40] advancedrei commented on #10413
Hey, all! Just wanted to pop in with a little background info. This is related to an issue running Roslyn in ASP.NET on Azure Websites for C# 6.0 features. Had to uninstall the package from production because that 14 second spin-up was affecting our users. Someone else experienced the same issue and posted about it on [StackOverflow](http://stackoverflow.com/questions/35184818/asp-net-roslyn-slow-

[2016-04-11 00:46] stephentoub commented on #10413
Note that NamedPipeClientStream in corefx already uses SpinWait:
https://github.com/dotnet/corefx/blob/master/src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeClientStream.cs#L172
which uses a mixture of Thread.SpinWait, Thread.Yield, and Thread.Sleep to avoid these kinds of issues.  That fix has not yet been ported back to the .NET Framework, however:
http://referencesource.microsoft.com/#System.

[2016-04-11 00:50] davidfowl commented on #10413
It's on .NET Framework, not .NET Core.

[2016-04-11 02:18] gafter commented on #10153
@Miista

That's not very intuitive.

It is true that this would be a *new* feature to users not accustomed to anything like F#'s active patterns or Scala's unapply. In order to benefit from the power of this feature you would have to build some new intuitions. In most cases pattern-matching would be used in the way that feels most natural to you, but there are occasions when it would be used in a

[2016-04-11 02:23] gafter commented on #142
@urig There are billions of things we *don't* do for every one thing we do. We don't need a billion reasons. We need reasons for the things we choose to do.

But if I were to look for a reason: I don't think it is reasonable for every conversion from interpolated string to IFormattable to pay the cost to store data for those occasional users who might want it.

[2016-04-11 02:39] bmay2 commented on #5498
This looks similar to [#557](https://github.com/dotnet/roslyn/issues/557) - the type inferrer considers the lambda parameter there an ErrorType, too.

[2016-04-11 02:47] gafter commented on #10319
This would reequire a change to the language spec, so reclassifying as a language issue.

[2016-04-11 04:14] ashmind commented on #142
@gafter The reason is important. The way your original decision was worded strongly discouraged me from providing any Roslyn feedback in the future. I don't mind the rejection, but why spend my free time doing well-structured proposals to get a single sentence? Which gives me no idea on what I did wrong -- or how to avoid wasting your (and my) time again.

I suppose it depends on your situation. I

[2016-04-11 05:09] bradphelan commented on #10361
No. A "resource" at least as far as the "using" concept is concerned is just a simple state machine for a common pattern. The pattern is that the code performs action "A", enters a scope and __must__ execute action "B" when it exits the scope to maintain correctness when it exits.  When it enters the scope some data is provided that is only valid within that scope. Within that definition you are f

[2016-04-11 05:52] GeirGrusom commented on #10361
TransactionScope's resource is the transaction it's working with which must be committed when the scope exits.

[2016-04-11 06:18] GeirGrusom commented on #10429
@JamesNK I think you have to encode tuples as arrays in JSON. The names are primarily for documentation purposes.

[2016-04-11 06:30] GeirGrusom commented on #6671
@ghord I think the intention is that this data is lost after compilation, so it couldn't work for JIT hinting.

[2016-04-11 06:33] tmat opened #10451 "Add ChecksumAlgorithm switch to csc/vbc msbuild task"
The task is missing command line option /checksumalgorithm:

[code]

[2016-04-11 06:42] orthoxerox commented on #10319
Duplicate of #7323

[2016-04-11 07:42] JoshVarty opened #10452 "InvalidCastException: Unable to cast object of type 'CompositeText' to type 'ChangedText"
**Version Used**:
Visual Studio Update 2. (v14.0.25123.00)

**Steps to Reproduce**:
I don't have a minimum repro. I'm building a workspace that sits within Visual Studio. I convert [`INormalizedTextChangeCollection`](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.text.inormalizedtextchangecollection.aspx) into [`TextChange`](http://source.roslyn.io/#Microsoft.CodeAnalysis/Text/Tex

[2016-04-11 07:54] Thaina opened #10453 "Please add TryParse and ChangeType generic to System.Convert class"
In addition to ToInt32() and all other parsing things. System.Convert should have generic parser

[code]

[2016-04-11 08:05] DavidArno commented on #10429
@orthoxerox,

Hopefully, since there is talk in the F# community of adopting these struct tuples in F# as well as C#, the silly idea of making them mutable will be quietly killed off...

[2016-04-11 08:19] davidroth commented on #10343
@Pilchie Yes please allow it to be changed again.
There is no reason for disabling this option, especially as in all previous versions of VS (_2010,2012, 2013_), the default mode was _Completion_.
And if you are used to the _Completion_ mode like myself, being forced to use _Suggestion_ mode is extremely annoying.

Regarding your argument that _Suggestion_ is useful because of members considered i

[2016-04-11 08:27] bradphelan commented on #10361
My point exactly. It has nothing to do with system resources or memory or
stuff that takes up "significant" something or other. Deciding to use
"Using" is about maintaining program correctness not about deciding if some
concept of resource meets an abitrary level of significant or not.

On Mon, 11 Apr 2016 07:52 Henning Moe, <notifications@github.com> wrote:

[2016-04-11 08:50] DavidArno commented on #10429
Whilst I really like the idea of a "nuple" type, I think it right to not rush into implementing it. Done well, it could be a huge boon to the language.

For example, I'd expect not to have put a return into a nuple-returning method, eg:
[code]
Following on from that, if I declare a lambda, `(o) => Console.WriteLine(o)`, that could have the signature `Func<Object, Nuple>`, and so ought to be mappab

[2016-04-11 09:18] dsaf commented on #10453
This repository is for the language compiler rather than framework libraries.

https://github.com/dotnet/corefx

https://github.com/dotnet/coreclr

[2016-04-11 09:46] DavidArno commented on #10361
@GSPP,

This is circular reasoning. `using` requires a `IDisposable`, not a `IPostUsingActionable`, therefore if one wishes to eg use `using` to simplify the code around opening and closing a window, one it is only an anti-pattern because of the design of `using`. So if there's an anti-pattern in there, it's `using` itself.

@bradphelan,
I'm still unconvinced of the need to change the behaviour of

[2016-04-11 09:59] DavidArno commented on #10407
@bkoelman,

That certainly fixed the issue for me. Many thanks for that info.

[2016-04-11 10:06] DavidArno commented on #10290
@Pilchie,

Yes it should be an analyzer (that can be turned up to Error level :grinning:) as well as being a code-fix that renames the file.

Generic file names must be supported though, eg `SomeType{T}.cs` and `SomeType.cs` should both be deemed to match the name of the `SomeType<T>` type and neither should result in the analyzer complaining.

[2016-04-11 10:18] GSPP commented on #10361
I think I misunderstood a bit what was being talked about, and I was misunderstood as well.

I think the issues brought up in this ticket are totally valid but so far no solution is known that should actually make it into the language, IMHO.

Can we add a `Disposable.Create` helper to the framework? I have always been missing that and needed to write it myself. I think that gets us 50% of the bene

[2016-04-11 10:34] dsaf opened #10454 "Emit metadata for auto-property initializers"
I want to be able to know what are the default values of properties without having to refer to documentation similarly to how optional method arguments work.
Would it be possible to emit reflectable metadata for property initializers?
This would be beneficial for auto-generated documentation and IDE hints.

At the moment my choices are:

[code]

* + language idiomatic;
* + guaranteed to execute;
*

[2016-04-11 10:36] dsaf commented on #10454
Of course optional method arguments have the following limitation:

- a constant expression;
- an expression of the form new ValType(), where ValType is a value type, such as an enum or a struct;
- an expression of the form default(ValType), where ValType is a value type.

[2016-04-11 10:56] DavidArno commented on #10454
The obvious solution would be "look at the code". I'm guessing that isn't an option for you though?

[2016-04-11 10:57] paulomorgado commented on #10429
### Target Typing

But this won't be an error:

    var t = ((string)null, 5);

Right?

### Syntax for 0-tuples and 1-tuples

From the top of my mind, I don't know if `()` will be a breaking change or not (I don't think it is) or how hard will it be to handle by the compiler.

As for womples, the unnamed ones is almost impossible to get, but I don't think there's a problem with named usage:

    (

[2016-04-11 11:05] gmamaladze opened #10455 "Shortcomings in Syntax Tree API - no common base class or interface for MethodDeclarationSyntax, FieldDeclarationSyntax etc. for important common properties"
**Version Used**:
[Visual Studio 2015 Update 2](https://github.com/dotnet/roslyn/releases/tag/Visual-Studio-2015-Update-2)

**Shortcomings in Syntax Tree API**:
While writing code for a code refactoring very often you need to perform similar checks or modifications on members containing actual code: methods, property accessors, indexer accessors etc. Most of them have common properties like `Body`

[2016-04-11 11:06] dsaf commented on #10454
@DavidArno It's **a** solution.

However it has a number of usability problems:

1) requires mentally parsing unrelated code;
2) requires active navigation as opposed to prompting a tooltip;
3) requires code availability or decompilation;
4) doesn't give a possibility of code hints, e.g. "You are setting this property to what is already it's default value within an object initializer, are you sure

[2016-04-11 11:21] diryboy commented on #557
This and #5498 both involves bad syntax trees, but when you look at the case I hit on #7520, it's a pretty clean syntax tree, and still fails to bind.

Interestingly, if the result type(type of the identifier left to the `=`) is given, rather than `var`, or in this case undetermined, the parameter type can be inferred.

So, instead looking at parser error recovery, I would place the bet on the bin

[2016-04-11 11:32] benjamin-hodgson commented on #10429
I think tuples are awesome. I've been itching for exactly this feature for years. I have a few questions, though. (Not necessarily requesting these features, just enquiring after their status :wink:)

### Integration with `System.Tuple`, compatibility with existing methods

Is there a plan to provide any form of integration with `System.Tuple`? This seems like it could be tricky, at least because

[2016-04-11 11:36] smoothdeveloper commented on #10429
@DavidArno is right about making tuples immutable, and eventually provide way to build a new tuple by substituting a subset of members with new values.

The runtime/compiler should optimize behind the scene, and performance oriented code shouldn't use tuples anyways but more explicit data structure.

That said, the most of C# approach is enabling mutable state by default, so I tuple support coming

[2016-04-11 11:47] TobiasBreuer commented on #10407
@bkoelman:
In my case this is a valid workaround. Even though its now (obviously) really slow, the build now succeeds from within VisualStudio after changing the number of concurrent builds to 1. Thanks for the hint 👍

[2016-04-11 11:58] HaloFour commented on #10429
@smoothdeveloper

The concern about tuples being mutable are mitigated entirely by them also being structs.  That eliminates the problems of mutating shared state.  Marking tuple fields as `readonly` or declaring locals via `let` makes them effectively immutable.  Parameters not marked `ref` would still be mutable, but the changes would not affect the caller.

[2016-04-11 12:05] hmemcpy opened #10456 "Incorrect CS1998 (make method synchronous) fix proposal in overridden methods with async"
Given a base class:

[code]
![image](https://cloud.githubusercontent.com/assets/601206/14426272/9234452a-fff6-11e5-968c-f599ce688d77.png)

The resulting fix incorrectly replaces `async Task` with `void`, causing a compilation error.

**Version Used**:

VS2015 Update 2, Microsoft.CodeAnalysis.dll version 1.2.0.60317

[2016-04-11 12:18] diryboy commented on #557
OK, in line 2875 of `Binder_Expressions.cs`, you want to implement the `if (hasErrors)`. You may look into line 509 of `src\Compilers\CSharp\Portable\BoundTree\UnboundLambda.cs`: `public BoundLambda BindForErrorRecovery()`

[2016-04-11 12:37] DavidArno commented on #10429
@HaloFour

No. It is **partially** mitigated only. It makes it more difficult to create problems with shared state as one must use `ref` to mutate the original value, rather than just a copy. It absolutely does not eliminate it though.

In addition, by making them mutable by default:
* The problems around encouraging bad behaviour - by allowing the tuple to be created, then its fields being subseq

[2016-04-11 12:55] HaloFour commented on #10429
@DavidArno

It's mitigated in any accidental scenarios.  If someone wishes to explicitly use `ref` parameters then they can mutate the tuple regardless of whether they mutate the instance or replace it with another.  The caller wouldn't know the difference.

Just like I can for defining an arbitrary type with some arbitrary field.  Just because *you* don't like it doesn't mean that every aspect of

[2016-04-11 12:56] axel-habermaier commented on #10429
@DavidArno: Mutable tuples are the general case, immutable ones are the special case. Hence, if C# supports the general case and you don't like it, you (or someone else) can just write an analyzer that prevents you from using tuples in a mutable way. I don't see a problem with that. After all, C# also allows you to set each bit of an ``int`` individually. That's not something you generally do, but

[2016-04-11 13:02] markhurd opened #10457 "Strict Off having problems with Max of String"
**Version Used**:
VS2015 Update 2

**Steps to Reproduce**:
This code fails to find a `Max` suitable for `String`!

[code]
C.f. this code works fine.

[code]

**Expected Behavior**:
I would expect `Strict Off` to work the same as `Strict On` (when `Strict On` does not warn or error).

**Actual Behavior**:
It lists many possible types, but not the obvious `String`!
Module2.vb(8,34): error BC30519: O

[2016-04-11 13:02] Giftednewt commented on #5098
@gafter I've done some testing against VS2013 and VS 2015 and it appears as though this is also the case for [AssemblyFileVersionAttribute](https://msdn.microsoft.com/en-us/library/system.reflection.assemblyfileversionattribute(v=vs.110).aspx)

From what I can tell the VS2013 compiler is processing each character in the string and when a non integer value is found it stops processing and returns t

[2016-04-11 13:11] DavidArno commented on #10429
@HaloFour,

You are rather fond of attempting to dismiss what I say as some fringe world view. The fact that the *only* comment here to get up-votes is mine, saying that mutable structs are a bad idea, shows the lie of this line you so often take.

My "ideology" is based on well understood good practice, summed up as "the pit of success". Not sure what your ideology is based on other than a stubbo

[2016-04-11 13:18] DavidArno commented on #10429
@axel-habermaier,

Current tuples in C# are immutable. F#'s tuples are immutable by default. Therefore, all the evidence points to mutable tuples being the special case...

[2016-04-11 13:29] dsaf commented on #10429
@DavidArno What do you think will be the ideal default types for the upcoming list and dictionary literals?

[2016-04-11 13:34] DavidArno commented on #10429
@dsaf,

Do you have a reference as I'm not aware of anything around " the upcoming list and dictionary literals"?

[2016-04-11 13:46] axel-habermaier commented on #10429
@DavidArno: No, the set of all C# programs using tuples in an immutable way is a subset of all C# programs that use tuples in a mutable way. Not the other way around, thus mutable tuples are the (more) general case. This is also the reason why you can restrict tuples to be immutable via analyzers; it wouldn't work the other way, as analyzers can only forbid legal C# programs, but cannot make illeg

[2016-04-11 13:47] i3arnon commented on #10456
What do you expect it to try to change to? Simply `override Task`?

[2016-04-11 13:48] hmemcpy commented on #10456
@i3arnon that's the original signature, so yes.

[2016-04-11 13:50] dsaf commented on #10429
@DavidArno I guess "upcoming" now means "C# 9+". It used to be mentioned in #2136 as a potential feature but unfortunately it has been updated to remove most of stuff.

[2016-04-11 13:51] HaloFour commented on #10429
@DavidArno

No, I dismiss it as not C#'s world view.  It's a functional world view, and it's absolutely fine, for functional languages.  But C# is not a functional language, and in the C# world mutability is the default.

Which is well applied to situations of shared state.  This design mitigates those problems, therefore mutability does not represent a "pit of failure".  Not everything is black a

[2016-04-11 13:55] DavidArno commented on #10429
@HaloFour,

Absolutely agree, thus my previous comment: "By all means provide a means of indicating that they should be mutable if the developer needs that, but that should not be the default, eg require the use of `ref` to indicate they can be mutated."

[2016-04-11 14:01] HaloFour commented on #10429
@DavidArno

The behavior of F# is immutable by default and opt-into mutability.  The behavior of C# is the exact opposite.  It doesn't make sense to require another keyword in order to explicitly express mutability.  And if the struct's fields are all `readonly` are you suggesting that the C# compiler emit code to copy every other member when any member is assigned?  That would be pretty inefficie

[2016-04-11 14:20] DavidArno commented on #10429
@HaloFour,

Apart from where it isn't, eg strings, existing Tuples, `let` within LINQ and - as @benjamin-hodgson pointed out - [MS's own guidelines on writing structs](https://msdn.microsoft.com/en-us/library/ms229031%28v=vs.110%29.aspx):

C# was designed with mutable-by-default in mind for much, but not all of it. Records and syntactic tuples are being borrowed from languages that take the opposi

[2016-04-11 14:37] Orace commented on #10429
Please provide explicit conversion of tuple inception :
`(var j, var f, var l) = (string job, (string first, string last))`

[2016-04-11 14:41] DavidArno commented on #10429
@axel-habermaier

Given that the `Tuple<..>` classes are immutable, could you please provide some reference to back up this assertion as - on the evidence I've presented at least - it appears a false assertion.

[2016-04-11 14:42] dsaf commented on #10429
@HaloFour Anonymous types are also immutable.

https://blogs.msdn.microsoft.com/ericlippert/2007/04/13/news-flash-instances-of-anonymous-types-will-be-immutable

[2016-04-11 14:44] dsaf commented on #10429
@DavidArno

Microsoft happily breaks that convention when it makes sense, e.g. XNA's Vector2: https://msdn.microsoft.com/en-us/library/microsoft.xna.framework.vector2.x.aspx

[2016-04-11 14:50] axel-habermaier commented on #10429
@DavidArno: ``string`` and ``System.Tuple`` are not good examples, as these are classes that C# has no inherent knowledge about; put differently: C# would work just fine if these classes had been implemented as mutable classes.

The ``Tuple`` classes are irrelevant for this assertion to be true, as are other languages. The assertion is trivially true: Assume a valid program that uses tuples in an

[2016-04-11 15:00] HaloFour commented on #10429
@dsaf

That they are, at least in C#.  So are iterator variables.  I'm not arguing that there aren't (or shouldn't be) exceptions to the rule.  I look at tuples as being an extension of argument lists (or the other way around, retroactively), and the members of an argument list are already mutable, as well as copy by value.  These are the same semantics that a mutable struct tuple would have, maki

[2016-04-11 15:09] jaredpar commented on #10413
Indeed it's on .NET Framework.  Even if we ported the fix there it wouldn't help because this particular scenario, Roslyn + legacy ASP.Net pages, must work on .NET 4.5.

[2016-04-11 15:38] alrz commented on #10429
I think tuples being mutable for whatever reason is ok as long as they've planned immutability as a feature in the future (#7626). That would provide the *choice* to have immutable "tuple objects" without the type itself being immutable.

[2016-04-11 15:58] svick commented on #10454
I think this would be a significant problem. How do you represent arbitrary expressions/values in metadata?

[2016-04-11 16:02] rchande commented on #5611
@3jr When you say you're inserting the string `\n/// <param name="{paramName}"><\param>`, do you mean you're modifying the `Document` by editing the text directly? You will probably have better luck with the formatter if you build up some `DocumentationCommentTrivia` nodes and insert them into the `SyntaxTree` next to the param tag you're targeting. (Let us know if you want more information on tha

[2016-04-11 16:08] Pilchie commented on #10453
Can you please suggest this on corefx?

[2016-04-11 16:08] #10453 closed

[2016-04-11 16:15] jinujoseph commented on #9956
Tested this on latest build and seems to be localized.

![vsversion](https://cloud.githubusercontent.com/assets/12449387/14434091/ef926520-ffc5-11e5-818d-0c5cc702d8e4.JPG)

![renameui](https://cloud.githubusercontent.com/assets/12449387/14434095/f77cddc4-ffc5-11e5-9b4d-d798dccc05e2.JPG)

[2016-04-11 16:17] dsaf commented on #10454
@svick Yes, I am afraid it might be a substantial problem.

[2016-04-11 16:19] dsaf commented on #10454
Somewhat related to #711.

[2016-04-11 16:29] Pilchie commented on #10343
Thinking about this, in the watch window, we suspect that the only things that aren't shown at the top level are debugger special variables (`$exception`, object ids, etc).

It's true that after a `.`, we don't show inaccessible members, but we never did in the past either, so maybe that isn't a big deal after a `.`.

For the Immediate Window however, completion doesn't know about variables declar

[2016-04-11 16:31] Pilchie commented on #10444
Thanks for the report.  Given the fact that this requires two identical types with the same locations, we think it's not urgent to fix, but would welcome a PR.

[2016-04-11 16:32] jcouv commented on #10429
@JamesNK @axel-habermaier @HaloFour Regarding **tuple member names**, the optional names of tuple members will be carried across assemblies. The design is not finalized yet, but like `dynamic` types there will be metadata saved in an attribute (listing the field names). That metadata will be loaded to reconstitute the friendly tuple type with user-provided names.

This means you can have one assem

[2016-04-11 16:34] #10319 closed

[2016-04-11 16:47] gafter commented on #142
1. I am not saying the idea "does not work". I am saying that there is nobody on the LDM who would champion such a feature request, and that would be necessary for it to even be discussed by the LDM. For reasons I previously presented, I would oppose the feature as proposed. (I would be less opposed if it were based on a conversion to a type newly introduced for this purpose).
2. This was never on

[2016-04-11 16:52] gafter opened #10459 "Compiler crash switching on a value of type System.Type"
Reported in https://github.com/dotnet/roslyn/issues/8194#issuecomment-207867184:

![snip_20160410064405](https://cloud.githubusercontent.com/assets/1330321/14406886/acd14546-fee7-11e5-9784-e38da4ba3f61.png)
But the compiler will crash when compiling it :(

[2016-04-11 16:53] gafter commented on #8194
@CnSimonChan Reported as #10459

[2016-04-11 16:53] bbarry opened #10460 "Should determinism affect generated interop dlls?"
**Version Used**: VS2015 Update 2 (14.0.25123.00)

**Steps to Reproduce**:

1. create a COM+ C++ dll and register com application
2. create a new C# project and reference this COM+ library
3. in reference properties, mark "Embed Interop Types" false
4. unload project, edit csproj, add `<Deterministic>true</Deterministic>` to common property group
5. reload and build release mode
6. make a copy of

[2016-04-11 16:54] Pilchie opened #10461 "VS Feedback: When I type intellisense adds extra stuff that I didn't type and don't want"
Reported through VS Feedback.

@paul1956 - it looks like this was filed by you.  Can you help us understand exactly what you typed to trigger this?  Line Commit should only insert the "Then" when you move off the line, or VS loses focus...

[2016-04-11 17:14] AdamSpeight2008 commented on #10290
@Pilchie  @DavidArno
What happens in the case of multiple classes / namespace in a single file?

[2016-04-11 17:17] davkean commented on #9227
Are we sure this worked? Looks like it's still not triggering VSI.

[2016-04-11 17:17] gafter commented on #8194
Since we have to fix the compiler crash, lets just make this work.

[2016-04-11 17:17] AdamSpeight2008 commented on #10457
If anything it should be `Max( selector As Func(Of Char) ) As Char` and not not string.

[2016-04-11 17:23] tmat opened #10462 "EnC: Method decl mapping fails to recognize an overload"
http://screencast.com/t/rRSWXWifixyz

[code]

[code]

Expected:
Works, the existing overloads are matched.

Actual:
Rude edit: "parameter value was renamed".
The matcher maps the existing overload to the new one.

[2016-04-11 17:26] davkean commented on #9477
I think we generate them.

[2016-04-11 17:32] marek-safar opened #10463 "Invalid IL generated for field initializer with dynamic"
**Version Used**: 1.2.0.60317

**Steps to Reproduce**:

1. Compile
[code]
2. peverify output .exe

**Expected Behavior**:

Valid IL produced by compiler.

**Actual Behavior**:

Microsoft (R) .NET Framework PE Verifier.  Version  4.0.30319.0
Copyright (c) Microsoft Corporation.  All rights reserved.

[IL]: Error: [c.exe : B2::.ctor][offset 0x00000008][found <uninitialized> ref ('this' ptr) 'B2'][ex

[2016-04-11 17:48] DustinCampbell commented on #4671
We've received additional requests to fix this through Visual Studio feedback. Let's try to get this fixed for 1.3.

[2016-04-11 18:03] mavasani opened #10464 "Add a performance stress test for solution with large number of projects + analyzers"
See https://github.com/dotnet/roslyn/issues/10365.

Dump for the issue shared at \\<%internal_share%>\public\mavasani\10365_OOM shows that bulk of in memory objects are from analyzer state tracking:

[code]

https://github.com/dotnet/roslyn/issues/6846 being implemented by @heejaechang for 1.3 should fix this issue - we are moving away from the state tracking model for analyzer execution. However,

[2016-04-11 18:11] mavasani commented on #10464
@basoundr this might overlap with your work for https://github.com/dotnet/roslyn/issues/621, but I am still creating a separate test issue to explicitly track that we add a stress test for customer reported issue in #10365 - we should be able to repro the high memory usage in Update2 bits and confirm that this gets fixed once #6846 has been implemented.

[2016-04-11 18:14] mavasani commented on #10365
@Blubern any luck with the workarounds?

[2016-04-11 18:14] lorcanmooney commented on #10444
No argument there.

I'll submit a PR once I figure out how to get some test coverage for it,

[2016-04-11 18:23] gafter opened #10465 "is-pattern-expression (1 is int.MaxValue) does not parse correctly"
The code
[code]
does not parse correctly when pattern-matching is enabled. The parser finds the type `int` and then treats `.MaxValue` as unexpected tokens.

[2016-04-11 18:39] srivatsn commented on #10296
If you are building the analyzer against v2.0 then when launching VS, VS would need to have 2.0 binaries loaded whereas Update 2 has the 1.2 binaries loaded in memory and so it won't work.

[2016-04-11 18:41] AlekseyTs opened #10466 "MemberSemanticModel.GetQueryEnclosingBinder needs serious overhaul"
The logic in the function is fragile in error recovery cases and in some cases might use a binder from a wrong query lambda. For example, from the one preceding the binding failure if binder haven't reached the lambda we are asking for. In presence of match expressions, it becomes very important to get the binder from the right lambda because, if we fail to find a binder for a match case section,

[2016-04-11 18:46] mikasoukhov opened #10467 "unsafe fixed buffers. nameof doesn't work"
6.0 (from vs 2015):

[code]

[2016-04-11 19:17] jaredpar commented on #10460
The deterministic switch only controls the behavior of the C# / VB compiler.  It will guarantee that given the same inputs, it will produce the same outputs.  In this case the interop DLL is being produced by a different tool.  I'm unsure if that's deterministic or not, guessing no though.

[2016-04-11 19:17] #10460 closed

[2016-04-11 19:19] jaredpar commented on #10397
@agocke it looks like `FileVersionInfo` isn't getting deployed on Ubuntu.

[2016-04-11 19:23] vlaynz opened #10469 "[PR in review] Attempting to Rename Item Prepended With Current or MoveNext Results In Crash"
So I don't know if this is an issue with Roslyn or VS, but attached the trace record.
.NET Framework 4.5:

**Steps to Reproduce**:

1. In VS, right-click item & select Rename.
2. Begin typing Current or MoveNext.

**Expected Behavior**:
No unhandled System.NullReferenceException when typing Current/MoveNext.

**Actual Behavior**:
Instantly when Current or MoveNext is typed (Apply button not clicke

[2016-04-11 19:24] jaredpar commented on #10467
Thanks for reporting this issue.  We will take a look at this.

[2016-04-11 19:28] jaredpar commented on #10457
@AlekseyTs can you take a look at this?

[2016-04-11 19:31] jaredpar commented on #10338
The coreclr_initialized failed line is coming when we are running our generator tools.  Not sure how this could be a Roslyn bug.  The tools are pretty simple here.  Going to let the CoreClr bug be the primary tracker here.

[2016-04-11 19:31] #10338 closed

[2016-04-11 19:34] jaredpar commented on #9554
Is there a reason that you think Roslyn is responsible for holding this reference?  As opposed to say Visual Studio / MSBuild in general?

Have you run `handle.exe` when this occurs to track down which process has the handle open?

[2016-04-11 20:16] ManishJayaswal commented on #10414
FYI @jasonmalinowski.
@dpoeschl - We do run VSI tests on standalone installs everyday but we should fix this quickly.

[2016-04-11 20:30] davkean commented on #10177
Not a project system bug - this is a general Roslyn infrastructure issue.

[2016-04-11 20:34] jinujoseph opened #10471 "Portable Class library - > Platform target 'AnyCPU' is not supported by one or more of the project's targets."
Repo Steps
- Create a new portable class library
- Change the target to .NetStandard > 1.2
- Build

Expected
- Builds with no error

Actual
![capture](https://cloud.githubusercontent.com/assets/12449387/14441539/0c7d67a6-ffea-11e5-94e7-57b5c24d0c6d.JPG)

[2016-04-11 20:43] davkean commented on #9999
Probably will need to rely on https://github.com/dotnet/roslyn/issues/625.

[2016-04-11 20:45] hamo2k1 commented on #4224
Just want to +1 this issue.  I jump back and forth between C++ and C# all day long.  I get tons of productivity enhancement out of the CDW when in C++, and it's jarring when switching over to a C# file and all of a sudden the CDW stops updating. :(

[2016-04-11 20:46] agocke commented on #10397
@jaredpar I just downloaded the latest binaries for Ubuntu and I see it in the tarball.

I don't know how to download the indicated build, though.

[2016-04-11 21:01] paul1956 commented on #10461
I uploaded a recording to VS Feedback. Almost anything I type has the wrong intellense choices and when I accept the one I want extra stuff is added. In the example below I type > and end up with And> This started with Update 2.

![image](https://cloud.githubusercontent.com/assets/12789369/14442249/80915ed8-ffed-11e5-9c1d-772c4da3f406.png)

[2016-04-11 21:03] davkean commented on #10007
We're now tracking this with a query: https://github.com/dotnet/roslyn/issues?q=is%3Aissue+is%3Aopen+label%3A%22Project+System-Parity%22+label%3A%22Area-Project+System%22

[2016-04-11 21:03] #10007 closed

[2016-04-11 21:06] TyOverby commented on #4453
@jaredpar

I don't think that these tests have *ever* been run.

[SyntaxTreeRootTests lines 126 and 129](http://source.roslyn.io/#Roslyn.Compilers.CSharp.Semantic.UnitTests/Semantics/SyntaxTreeRootTests.cs,126) is an obvious bug that immediately throws a `System.ArgumentException : An item with the same key has already been added.`  Due to this, I suspect that this code has never been tested.

[2016-04-11 21:09] DavidArno commented on #10290
@AdamSpeight2008,

I'd assume the analyzer would just ignore such files as there isn't really anything meaningful that can be done with them, with regard to synchronising names.

[2016-04-11 21:10] jaredpar commented on #4453
@TyOverby it's very possible these have been disabled since ... who knows when.  Let's go through them all and enable them if they make sense, delete them if they are just non-sense code.

[2016-04-11 21:12] davkean commented on #10471
AnyCPU is the default, so are you saying that by default, targeting .NET Standard shows an error in the Error List?

[2016-04-11 21:13] jinujoseph commented on #10471
yes

[2016-04-11 21:13] TyOverby commented on #4453
Well they've certainly been disables since Roslyn was open sourced.  Git blame shows the initial git commit as the source.

The code for [SpeculativeSemanticModelTestsBase](http://source.roslyn.io/#Roslyn.Test.Utilities.Desktop/SpeculativeSemanticModelTestsBase.cs,751524ac69073b4b) looks like it's using reflection to access members on the SyntaxTree, and asserting that calling them yields the righ

[2016-04-11 21:13] MadsTorgersen commented on #142
Fortunately and unfortunately we get more proposals than we can discuss in any depth. Folks on the LDM spend time looking at proposals here on GitHub, and bring up ones that they feel should warrant a discussion. This may be because they agree with the proposal, or feel that it raises a scenario that is worth trying to address, or similar. We call this "championing" a feature. This is our primary

[2016-04-11 21:55] Luigifan commented on #9795
lol

[2016-04-11 21:57] KirillOsenkov commented on #10211
This is also the reason http://source.roslyn.io has stopped updating (last successful update was on March 31). Machine that updates http://source.roslyn.io has VBC.exe crashed with IndexOutOfRange every time it runs the job.

[2016-04-11 21:58] Giftednewt commented on #10290
@DavidArno @AdamSpeight2008 @Pilchie
What about a refactoring to move all other class declarations to a new file of the same name and where filename conflicts occur either suffix the filename or provide some form of conflict resolution to the user?

[2016-04-11 22:01] Pilchie commented on #10461
Can you try it without the Bing Developer Assistant enabled?

[2016-04-11 22:01] TyOverby opened #10477 "Switch test runner to use if-defs for return values when available"
See #10437
Depends on #10438.

[2016-04-11 22:08] TyOverby commented on #10211
@KirillOsenkov I'm working on a fix to the compiler to keep this from happening again, but in the meantime, in order to get things back online, clear your nuget cache and do a full restore.

[code]

[2016-04-11 22:12] jasonmalinowski commented on #10211
@TyOverby: how is this related to NuGet store corruption?

[2016-04-11 22:18] TyOverby commented on #10211
@jasonmalinowski This crash occurs when we get a set of references that doesn't contain `Object`.  I'm not sure how this happens, but I'm investigating it while writing https://github.com/dotnet/roslyn/pull/10331

[2016-04-11 22:21] tmat opened #10479 "Microsoft.Net.Compilers contains SCI dll v1.1.36 but compilers reference 1.1.37"

[2016-04-11 22:38] jinujoseph opened #10481 "Project reference fails from csproj to xproj (with .NetStandard target reference)"
Repro steps
- Create a .Net Core Class Library (xProj)
- By default it points to
 "frameworks": {
    "netstandard1.5": {}
  }

- Now create .Net Console Aplication (csProj)
- point the .netframework to 4.6.2
- Add project.json file to the same and add
{
  "frameworks": {
    "net462": { }
  },
  "runtimes": {
    "win": { }
  }
}

- Build both projects and make sure it builds fine.
- Now refer th

[2016-04-11 22:41] jsschultz opened #10482 "QuickInfo incorrectly assumes mouse position and cursor are in same context"
**Version Used**: Roslyn-Stabilization-Signed-Release 20160325

**Steps to Reproduce**:
1. Install VS 2015 with Update 2
2. Create WebSite project Razor 3 from default template
3. Set bp anywhere in C# code within cshtml file
4. F5
5. Click in html code to place cursor there
6. With mouse, hover over a local variable in C# code

**Expected Behavior**: Debugger DataTip appears with local variable e

[2016-04-11 22:41] tmat commented on #10479
@jmarolf

[2016-04-11 22:42] gafter commented on #9554
@jaredpar I'm defer to your judgment regarding which team should do the initial investigation.

[2016-04-11 22:56] davkean opened #10484 "Project System: VSHost replacement"
Currently csproj/msvbproj uses vshost.exe to "speed up" F5 debugging for desktop client apps.It is also used for immediate window evaluation without starting a debugging session. We need to figure out if we are going to bring this forward to CPS or not.

[2016-04-11 22:58] jinujoseph opened #10485 "Compatibility check fails with portable class library (pointed to .NetStandard)"
Repro Steps
- Create a .net class library (ClassLib1) with package.config (.Net Framework is 4.6 here)
- Create a .net portable class library (ClassLib2) and point the Target Framework to .NetStandard 1.1
- Build both the projects
- Now reference ClassLib2 from ClassLib1

Expected
The reference should resolve file

Actual
you get a compatibility error
![compatiblity](https://cloud.githubuserconten

[2016-04-11 23:02] gafter commented on #10153
[code]

The use of `is` turns out to be quite natural for pattern-matching applications that are not strictly type tests.

[2016-04-11 23:06] HaloFour commented on #10153
@gafter I wholeheartedly agree.  Have you explored the syntax for writing instance `is` operators like that?  Any thoughts around positional/record patterns supporting expressions, so that you could have a general purpose regex pattern that accepts the pattern as an input parameter?

[2016-04-11 23:10] AlekseyTs opened #10487 "A reference to a pattern variable inside a lambda within a field initializer causes a crash"
[code]

Test 'Microsoft.CodeAnalysis.CSharp.UnitTests.PatternMatchingTests.FieldInitializers_31' failed: Microsoft.CodeAnalysis.ThrowingTraceListener+DebugAssertFailureException :

	ThrowingTraceListener.cs(25,0): at Microsoft.CodeAnalysis.ThrowingTraceListener.Fail(String message, String detailMessage)
	at System.Diagnostics.TraceListener.Fail(String message)
	at System.Diagnostics.TraceInternal.

[2016-04-11 23:11] CyrusNajmabadi opened #10488 "IOperations lacking information, forces client to jump back to C#/VB to get at that information."
For example, say you have: "Program.Method()".  You'll have an IInvocationExpression that simply has an .Instance value of 'null'.  This is highly annoying to use from a consumption standpoint because it means we have to go back to syntax to ask questions about "Program" and "Program.Method".  Because we have to go back to syntax, the IDE needs to write VB and C# specific code again.

Ideally, we

[2016-04-11 23:19] ljw1004 commented on #7169
Now that I've finished the prototype, I've encountered an obstacle in language-design that I don't know how to solve...

We already allow type-inference to infer a `Task<T>` return type. Thus, for instance,
[code]

We also have overload resolution rules to help with cases like this:
[code]

Obviously we'd want to be able to write similar overloads for our own custom Tasklikes:
[code]

But there's

[2016-04-11 23:23] benaadams commented on #7169
Can you coerce with a cast? (not ideal)

[2016-04-11 23:43] mavasani commented on #7636
I have an [internal PR](https://github.com/dotnet/roslyn-internal/pull/805) out for a VS Integration test verifying FixAllOccurrences - so adding a perf test on top of this should be trivial.

[2016-04-11 23:47] ashmind commented on #142
@gafter Thank you for the detailed answer. It really helped me to understand the situation. I didn't know about the importance of a champion, or that making an implementation is encouraged even before the idea is explicitly marked as Up For Grabs.

That's exactly why I wanted details -- things that you take for granted are not always obvious to people outside the team. For example based on your an

[2016-04-11 23:52] ashmind commented on #142
@MadsTorgersen Thank you for taking time to clarify this -- I really appreciate your sentiment and the quality and openness of C# design process. I will definitely consider User Voice for future proposals I find important.

[2016-04-12 00:06] jasonmalinowski commented on #10481
Migrated to NuGet/Home#2525.

[2016-04-12 00:06] #10481 closed

[2016-04-12 00:06] gafter opened #10492 "Precedence errors in parsing the relational "is" expression"
The following short program illustrates two errors in the Roslyn expression parser. These issues interfere with the extension of the parser to support pattern-matching.

[code]

The last of these cases is most problematic for pattern-matching. While `a is B + c` should have been a syntax error in C# 6, in C# 7 it should mean `a is (B + c)`, which works if `B + c` is a constant value. However, we p

[2016-04-12 00:09] gafter commented on #10492
@dotnet/ldm We will have to deal with being compatible with the existing parser while generalizing it to handle constant patterns. This issue shows where a couple of dragons lie.

[2016-04-12 00:10] gafter commented on #10492
@agocke @AlekseyTs FYI

[2016-04-12 00:13] #10479 closed

[2016-04-12 00:17] davkean commented on #10484
ClickOnce partial trust support is also handled by VSHost.

[2016-04-12 00:17] gafter commented on #10158
Fixed in `features/patterns`.

[2016-04-12 00:17] #10158 closed

[2016-04-12 00:18] gafter commented on #9453
The precedence for this doesn't work out very well, so classifying it as a language design issue.

[2016-04-12 00:25] markhurd commented on #10457
@AdamSpeight2008 Why? The `Strict On` case uses `Max(selector As Func(Of a', String)) As String` with no warnings.

[2016-04-12 00:26] Pilchie commented on #10461
(also, sorry for the ask for more info - it seems the problem steps recorder's screenshots never included the completion list, so we didn't really get a sense for what you were doing).

[2016-04-12 00:47] gafter commented on #10492
See also #10491

[2016-04-12 00:54] davkean opened #10493 "Project System: We need a compat mode to let a project be opened in csproj/msvbproj when features are not supported"
I'm thinking that we implement a pre-req handler via IVsRetargetProject that does a check to see if the project contains a list of unsupported features, and then offers to reload via csproj/msvbproj.

As we bring up features we simply remove them from this list so that we open more and more projects via CPS.

[2016-04-12 01:16] davkean commented on #10177
Looked into this, there are 7 projects that are causing this on top of the two called out in #10184.

1>------ Build started: Project: ServicesVisualStudio, Configuration: Debug Any CPU ------
2>------ Build started: Project: MSBuildTask.Desktop, Configuration: Debug Any CPU ------
2>  MSBuildTask.Desktop -> C:\Roslyn With Spaces\Binaries\Debug\Microsoft.Build.Tasks.CodeAnalysis.dll
3>------ Build

[2016-04-12 01:23] davkean commented on #9653
Here's another failure: http://dotnet-ci.cloudapp.net/job/roslyn_master_win_dbg_unit64/lastCompletedBuild/testReport/Microsoft.VisualStudio.LanguageServices.UnitTests.Progression/InheritsGraphQueryTests/TestSolutionWithMultipleProjects/

[2016-04-12 01:38] markhurd opened #10494 "CObj on literal Nothing confused"
**Version Used**:
VS2015 Update 2

**Steps to Reproduce**:

This code (with `Option Strict On`, part of a bigger test against another scenario when strictness changes the code -- reported separately at #10495 , even though it's these two cases that switch):

[code]

**Expected Behavior**:
It should compile.

**Actual Behavior**:
The `CObj(...Nothing...)` cases fail to compile with

If it wasn't fo

[2016-04-12 01:41] paul1956 commented on #10461
@Pilchie Disabling Developer Assistant 1.2.0.51222 solves the issue.
Thanks
 You can close this issue here and I will try to close on VS Feedback.

[2016-04-12 01:51] markhurd opened #10495 "Strictness changes behaviour with CObj(...Nothing...)"
**Version Used**:
VS2015 Update 2

**Steps to Reproduce**:
Note this is the "bigger test" I referred to in #10494 .

This code:

[code]
1. Compile and execute as is.
2. Change to `Option Strict Off`
3. Compile and execute and notice the differences.

**Expected Behavior**:
As I mentioned at #10457 , I'd expect no changes when switching from `Strict On` to `Strict Off` when there's no warnings in t

[2016-04-12 02:00] TheOpenDevProject opened #10496 "Language Feature Discussion: Allow Lambda Expressions In Method Attribute Initialiser"
***Proposed syntax***
[code]

***Why?***
There are times where a developer needs to pass the current context to the Method Attribute initialiser to get data out.

This might be completely impossible so I would love to hear the discussion.

[2016-04-12 02:04] Pilchie commented on #10461
Thanks for the confirmation.  I'll also let the Bing Developer Assistant guys know about this.

[2016-04-12 02:38] alrz commented on #10153
@gafter Cool. if X in a positional pattern X(..) could be a variable, couldn't it be also an (extension) method which returns bool or void?

@HaloFour I think the problem of not being able to use a general expression in patterns also arises with existing `is` operators when you have non-out parameters. So I suppose you should always use a constant pattern in these cases and perhaps you'll need to

[2016-04-12 02:56] gafter commented on #10153
@HaloFour Yes, it isn't too hard, as long as the expression before the `(` is fairly restricted in form.

@alrz If X(..) were an extension method, what would be its receiver?

[2016-04-12 03:03] gafter commented on #142
@ashmind I generally close things that I perceive as never being able to make the bar for a future release (not just 7 and 8). For this particular issue, if it is really important to you I recommend prototyping it with a _different target type than `FormattableString`_ so people would not be forced to pay the price for the feature if they don't want the benefits.

[2016-04-12 03:07] gafter commented on #9607
I will investigate but I believe this is by design. `nameof()` can work on a method group after name lookup, but here the error arises during name lookup.

[2016-04-12 03:10] gafter commented on #10466
Can you please provide a test case for this issue?

[2016-04-12 03:15] vcsjones commented on #118
How does this impact platform invocation, if at all? For example, could I do the following?

[code]

With the expectation that this is a "safe" way of doing `static extern int* Foo()`?

[2016-04-12 03:19] tmat commented on #10484
@tmat

[2016-04-12 03:27] alrz commented on #10153
the left-hand-side of the `is` operator,  for example
[code]

[2016-04-12 03:32] AlekseyTs commented on #10466
If you change AdjustStartingNodeAccordingToNewRoot to do nothing, many tests will start failing, including those that are not pattern matching related. By debugging the test the problems should become apparent.

[2016-04-12 03:35] AlekseyTs commented on #10466
Alternatively, you can revert changes made to MemberSemanticModel.GetQueryEnclosingBinder in https://github.com/dotnet/roslyn/pull/10348 and observe pattern matching test failures.

[2016-04-12 04:17] qwertie commented on #259
This issue is so weird because _there's no actual proposal here_, just a "hey, let's do local functions!" - What's the impetus for the proposal? What would the semantics be? What would the advantage(s) be over the alternatives, such as simply inferring that `var square = (int x) => x * x` has type `Func<int, int>`? And then *bam*, @gafter who opened the issue announces it's done.

It's good to not

[2016-04-12 04:26] alrz commented on #259
Note: This was opened a year ago. And closed a month ago. So it's probably too late for any further discussions.

[2016-04-12 04:47] jaredpar commented on #10496
Closing as a dupe of #2466.

As @HaloFour pointed out, the types of expressions allowed in attribute constructors is very limited. Essentially it's just constant values.  A lambda expression won't work here because it requires execution at runtime to complete.

[2016-04-12 04:47] #10496 closed

[2016-04-12 04:50] jaredpar commented on #9639
Thanks for reporting this issue.  It appears to be a dupe of #7669.  @VSadov can you verify that is the case?

[2016-04-12 05:59] marek-safar commented on #9607
I understand this is probably not spec covered but we should still aim for sensible behaviour and there is nothing ambiguous about Prop name in this context

[2016-04-12 06:02] GeirGrusom commented on #10429
@jcouv that information is not useful if you use reflection though. The context of the tuple is lost, and with it any metadata that names the fields.

[2016-04-12 06:50] JamesNK commented on #10429
@jcouv Ok!

So it would it be something equivalent to:

    public class Person
    {
       [TupleNames("firstName", "lastName")]
       ValueTuple<string, string> Names { get; set; }
    }

[2016-04-12 07:10] qwertie commented on #259
In case it will help anyone, I found _slightly_ more information in ["local-functions.md"](https://github.com/dotnet/roslyn/blob/features/patterns/docs/features/local-functions.md)

[2016-04-12 07:34] BGrojer commented on #5162
Is there any known workaround regarding that issue (with VS 2015 - Update2)?

[2016-04-12 08:02] zippec opened #10500 "Bug: Automatically indented bodies of multiple nested statements started on one line"
Best explained with example.
**Expected behaviour**
[code]
**Actual behaviour**
[code]
That also means
[code]
**Version Used**: Visual Studio 2015 Update 2

This may not seem much useful, but there are cases (if with short condition + using) where it makes sense to format code like this.

[2016-04-12 10:01] DavidArno commented on #10290
@Giftednewt,

That sounds like a different analyzer/fixer: one that reports on more than one type being defined in one file with a "move to new file" fix.

[2016-04-12 10:15] ayende opened #10501 "Roslyn generates invalid IL when referencing the current assembly"
I'm trying to use Roslyn to extend my application. So I have an interface, and a code provide by the user that implement that interface.
Because I'm running on dnx, I don't have an actual dll, so I'm using:

[code]

To get a reference to my running assembly.
When I do that, the code complies successfully, but it generates invalid IL and throws at runtime.

**Version Used**:

1.1.0-rc1-20151109-01

[2016-04-12 10:49] Blubern commented on #10365
@mavasani
Yes i had luck with workaround number 1.
resharper is still activated

Can i provide more information to repruduce the bug?
Please feel free to ask.

[2016-04-12 11:00] Giftednewt commented on #10290
@DavidArno,
Yes I agree, this would be a separate analyzer/fixer. My thinking was along the lines of how handling of multiple namespaces/classes in a single file might be handled as it wouldn't be done within the proposed analyzer/fixer. I'll add it as a separate feature request.

I'd also agree that the analyzer/fixer you're proposing should ignore any documents with multiple class definitions as

[2016-04-12 12:37] mkrueger opened #10502 "Completion bug writing 'Task.'"
It's a bug from the monodevelop bug tracker but affects VS.NET as well.

See: http://screencast.com/t/Xebulsw8

Seems to be always in that case:

Task.$ await Task

[2016-04-12 12:56] wwwlicious commented on #64
any progress on this?

[2016-04-12 13:13] 3jr commented on #5611
@rchande I don't edit the text directly. I believe I'm doing that correctly (At least it looks the same in the SyntaxTree). I was more describing how the end result looks like to the user.

The correct ordering of tags (no matter the order they are fixed in) is what I (hope to) get for inserting next to an other documentation tag I found. I believe (hope) the ordering isn't a problem with this app

[2016-04-12 13:19] alrz opened #10503 "Proposal: async blocks"
Currently, to use asynchronous features, you need to change the method signature to return a `Task`, but in some cases it would not be possible to do so, e.g. implementing an interface, writing event handlers or the entry point. In these cases developers often end up with highly discouraged `async void`, `ContinueWith` calls, or manually created bridges which (to quote from #7476) "is a waste of t

[2016-04-12 13:25] IllidanS4 commented on #118
That's not safer in any way. By choosing "ref int" instead of "int*" you will allow the GC to know of the pointer, but it still wouldn't be allowed to do anything about it, due to it being located outside the managed memory.

On the other hand, how would reflection handle ref returns?

[2016-04-12 13:26] HaloFour commented on #10503
@alrz You can mark `void` methods as `async`.  The reasons why it is considered bad practice would apply to these `async` blocks as well, you have no mechanism to propagate the result back to the caller since the "async" portion may continue after the method has returned.

I think that #7169 would be more apt to solve issues like these, however since you'd still need a task-like analog you still c

[2016-04-12 13:28] omariom commented on #120
@ilexp
In the prototype it is possible with [Cast](https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/System/SpanExtensions.cs#L129) method.

[2016-04-12 13:39] HaloFour commented on #118
@IllidanS4

Don't have the bits in front of me to test, but I'll assume that it's the same as `ref` parameters.  The `Type` of the return parameter would be a byref type, meaning `Type.IsByRef` would return `true` and `Type.GetElementType()` would return `System.Int32`.  The CLR has always supported declaring variables and the like as byref types, it's just never been exposed to C#.

[2016-04-12 14:10] IllidanS4 commented on #118
@HaloFour Of course the return type could be represented, but what if I wanted to invoke the method dynamically? Would it simply return the value in the variable?

[2016-04-12 14:12] alrz commented on #10503
You can use `return` anywhere in an `async` block, it'll get blocked until `await` returns and then it gets back to the caller. If you're doing this in a synchronous method, this is probably what you want. And if that was not the case you will need `ContinueWith` calls which I think `await` is meant to avoid. `async` blocks just help to reduce noises around `Task` API in any of these cases. To not

[2016-04-12 14:19] wekempf commented on #188
The discussion around this concept is scattered everywhere, so forgive me if I just repeat something said elsewhere. Option 1 has serious problems but is on the right track. Option 2 I don't care for because it scatters the declarations and muddles the concept. What we're modeling here is a discriminated union. @KalitaAlexey gets close to the syntax I'd prefer, but just using "enum" is at least co

[2016-04-12 14:26] alrz commented on #188
Per @gafter, #6739 is the accepted syntax for this. Probably the discussion should be moved there to prevent further confusion.

[2016-04-12 14:34] m08pvv opened #10504 "Please provide nameof() for generic type paremeter's properties"
**Version Used**: shipped with VS 2015 Update 2

For this code:

[code]

**Expected Behavior**:
both nameof() should be allowed

**Actual Behavior**:
nameof() for type parameter is not allowed

[2016-04-12 14:58] HaloFour commented on #118
@IllidanS4

Looks like the CLR doesn't support it, at least with .NET 4.6.1:

[code]

The only way that I could imagine the CLR supporting this would be to automatically dereference the ref and then box the result.

[2016-04-12 15:10] GSPP opened #10506 "Language feature: Static Expressions"
Sometimes, you want to compute a value once and cache it for the rest of the application's lifetime. Common cases are:
- Compiled `Regex` instances
- Initialization from configuration
- Expensive computations e.g. the prime numbers table in `Dictionary` and `Hashtable`
- Singletons such as an empty array or an empty `MemoryStream`

Currently, you'd do this:

[code]

This code is not ideal because

[2016-04-12 15:26] jaredpar commented on #10494
Thanks for reporting this issue.  This behavior though is "By Design".  I verified that it reproduces with Visual Studio 2013 as well.

[2016-04-12 15:26] #10494 closed

[2016-04-12 15:35] #9792 closed

[2016-04-12 15:45] mavasani commented on #10346
This bug is causing intermittent failures in the newly added VSI integration test CSharpErrorLog.xml: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p2/315/

I have pushed another commit to disable the scenario "Error List Build Diagnostics" in the test - please test and re-enable this scenario after this bug is fixed.

[2016-04-12 15:57] rchande opened #10507 "Retargeting PCL from Profile 7 to NetStandard picks 1.4 instead of 1.1"
NuGet maps this to 1.1

[code]

Prints:

.NETStandard,Version=v1.1

`

[2016-04-12 16:03] #10461 closed

[2016-04-12 16:07] jcouv commented on #10429
@JamesNK, it is something like that, except that I don't think it can be expressed precisely with equivalent source.

For illustration, try to compile a method that returns `Action<dynamic>`. Then look at the IL with `ildasm`. You will see that the type is `Action<object>`, but additional metadata is attached to tell the compiler that the `object` is really `dynamic`.
The metadata for dynamic only

[2016-04-12 16:07] HaloFour commented on #10506
Seems very related to the half-dozen or so lazy/cached initialization proposals already made: #3630, #524, #3251, #4374, #3415.

What exactly are the semantics?  I assume that the result of the expression is promoted to a field, but is that a `static` field or an instance field?  Might that depend on where that expression is used or where it is defined?  How about atomicity?

I will note that whil

[2016-04-12 16:15] GSPP commented on #10506
Wow, it's indeed half a dozen :) The first two are for fields only. The 3rd is for a synchronized lazy expression which I am not proposing. Number 4 is kind of unrelated. Number 5 is for lazy fields.

I propose semantics exactly identical to a `static readonly` field since I don't see any problems there (design, effort, performance). The definition of what's legal is what's legal in such a field.

[2016-04-12 16:15] DustinCampbell commented on #10502
This is a tricky parser issue. The problem is that the parser is parsing as a local declaration there the variable name is `Task` and the type is `Task.await`. Passing to the compiler team to see if there's something better we can do here.

[2016-04-12 16:19] alrz commented on #10506
static T2 ConvertAll<T1, T2>(T1[] array, Func<T1, T2> converter) {
 if (array.Length == 0) return static (new T2[0]);
 //...
}
[code]

[2016-04-12 16:20] bbarry commented on #10429
@jcouv in my experience this is exactly how it shows up in reflection. You can check `.IsDefined(typeof(DynamicAttribute), false)` or some equivalent to see that it is actually being treated as dynamic if you need to.

I'd expect you could write some sort of extension method `MemberInfo GetTupleMemberByName(this Type tuple, string name)` (and .NET Core version as well) without much effort (and per

[2016-04-12 16:24] GSPP commented on #10506
@alrz good catch! Maybe we can fix this if the compiler generates a hidden static class that has type arguments. I think it should do that anyway so that the `static readonly` fields always can use beforefieldinit semantics (no static ctor defined).

This would also work in the following case:

    static readonly int manuallyDefinedField = 1234;
    static F() => static (manuallyDefinedField + 1)

[2016-04-12 16:27] davkean commented on #10471
This isn't ours, this is portable.

[2016-04-12 16:27] GSPP commented on #10506
Open questions:

1. Is deduplication is supposed to be performed? (`static (F()) + static(F())`)
2. Is constant expression evaluation is allowed (`static(1) => `1`)?
3. What do nested statics means (`static (static (F()))`), probably disallowed.

[2016-04-12 16:28] HaloFour commented on #10429
@bbarry @jcouv @JamesNK

What will probably be tricky is interrogating the names of tuples used in generic type arguments.  This is the same situation as with `DynamicAttribute`, it doesn't necessarily mean that the parameter itself is dynamic but that part of it is dynamic:

[code]

I assume that the tuple name attribute will do something similar, although perhaps the names in the array will corr

[2016-04-12 16:30] davkean commented on #10029
tag @srivatsn

An example of a code path that users this is when you click the following:

![image](https://cloud.githubusercontent.com/assets/1103906/14467608/f8e9de98-0090-11e6-8fee-9dbda00d0eae.png)

You basically need to implement ISpecialFileProvider and apply [ExportSpecialFileProviderAttribute]

[2016-04-12 16:31] davkean commented on #10029
This also gets created in the AppDesigner folder.

[2016-04-12 16:35] alrz commented on #10506
@GSPP  VB doesn't allow this (`32068`) but it does some acrobatics to catch method parameters etc.

Anyhow, considering that static fields would never GC'd I think this encourages to making a lot of things wrapped in `static` and you will need to literally scan the whole class to know how much memory it actually uses. So I'd rather use the "make field" code fix when I'm not in the mood to write it

[2016-04-12 16:39] atifaziz commented on #142
@gafter  Isn't that [what I proposed](https://github.com/dotnet/roslyn/issues/142#issuecomment-125175152)? Or did you mean something else altogether?

[2016-04-12 16:40] GSPP commented on #10506
Understandable. My counter argument to that is that fields tend to be placed at unrelated points in the source code. Many code styles demand ordering members by type. I personally don't view this as a useful organization scheme. It is rare that someone needs to see all fields or all methods in one place. It is more common to want to see everything related to one feature. So I like to place all mem

[2016-04-12 16:42] gafter commented on #10153
@alrz The name lookup rules are either looking in the scope of the type of the left-hand-side, or they are not. I don't think trying to have it both ways works very well.

General expressions are ambiguous with patterns. For example A(3) can be an invocation of a method A found by normal lookup, or a positional pattern for a type named A. It gets much worse with tuples, and the ambiguities are rec

[2016-04-12 16:44] bbarry commented on #10429
Yes I was referencing the strict use of `dynamic` as a top level type (and implying the same for a tuple), for use inside generic arguments the problem becomes far more complex, as does any reflection code working with it.

[2016-04-12 16:48] mavasani commented on #6520
Reopening as this seems to be happening very often once again:

1. http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p0/307/console
2. http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p0/308/console
3. http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p0/561/console

[2016-04-12 16:49] davkean commented on #7957
Resolved with https://github.com/dotnet/roslyn/pull/10256.

[2016-04-12 16:49] #7957 closed

[2016-04-12 16:52] alrz commented on #10153
@gafter I'm not suggesting to allow general expressions in patterns. Rather, extend name lookup rules to also look for extension methods in positional patterns.

As it currently spec'ed, in `obj is X` the compiler would look up for the type `X` and if it was not in the scope then it will look for the constant `X`, right?

So, in `obj is X(..)`, the compiler would look up for the type `X` and if it

[2016-04-12 17:01] gafter commented on #10153
@alrz Your first parameter of `Regex` is an expression, not a pattern.

The special two-phase lookup for `obj is X` is only for the top-level `is` expression. It is for no other pattern-matching context. This is for backwards compatibility with the existing `is` operator, which only looks for a type. If a type is found, it is not considered a pattern-matching is-expression, but the old style type-

[2016-04-12 17:03] jaredpar commented on #10495
Thanks for taking the time to report this issue.  This behavior does appear to be contrary to the spec.  Can't find the exact entry but in general `Option Strict On / Off` should not change the meaning of code, just what is or is not permissible.  Hence it should not impact overload resolution.

Unfortunately though this is a quirk of the compiler that's been around for some time.  Hence it's a co

[2016-04-12 17:03] #10495 closed

[2016-04-12 17:06] ljw1004 commented on #7169
You can always coerce with a cast to force overload resolution to pick the right thing. But... ugly!

[2016-04-12 17:06] diryboy commented on #7520
Reopening, as this one dose not involve overload resolution.

[2016-04-12 17:10] davkean commented on #8975
It’s an UseCommonOutputDirectory is a well-known MSBuild property that basically turns off copying dependencies including project references, binary references and NuGet references by default.

[2016-04-12 17:10] alrz commented on #10153
@gafter

It is a constant pattern. though, it cannot be any other patterns because it's not being passed to an `out` parameter. Otherwise it produces a compile-time error in semantic analysis (so parser should parse it as a pattern anyway).

If this is not possible, so I assume `operator is` also can not have non-out parameters?

I don't see why it should also look for instance members, because on

[2016-04-12 17:13] jaredpar commented on #8975
Hard to classify it as `well-known` though given that they have 0 documentation for it :smile:

It seems the only docs I can find are:

- @KirillOsenkov [blog entry](https://blogs.msdn.microsoft.com/kirillosenkov/2015/04/04/using-a-common-intermediate-and-output-directory-for-your-solution/)
- The actual [source code](http://index/#MSBuildFiles/C/ProgramFiles(x86)/MSBuild/14.0/bin_/amd64/Microsoft

[2016-04-12 17:14] Pilchie commented on #4936
Can you double check that this is fixed and close?

[2016-04-12 17:16] Pilchie commented on #7090
Closing, since #8435 was merged (though it's only in future atm).

[2016-04-12 17:16] #7090 closed

[2016-04-12 17:18] Pilchie commented on #7528
Was this fixed by your changes around unification between Portable and Desktop references?

[2016-04-12 17:19] Pilchie commented on #8009
Assigning to @CyrusNajmabadi since he has the PR open for it.

[2016-04-12 17:23] mavasani commented on #10365
@Blubern Would you be able to share a minimal repro solution where you encountered this issue?
Meanwhile, I am trying to conjure up a repro myself (adding tons of analyzers to Roslyn.sln, which has 100+ projects). I have opened up a work item https://github.com/dotnet/roslyn/issues/10464 to ensure we add a rolling stress/performance test to cover this scenario.

[2016-04-12 17:23] davkean commented on #8975
"well known" as in MSBuild is aware of it, in contrast to something specific to our build system.

[2016-04-12 17:24] markhurd commented on #10494
So there is no way to get a single literal `Nothing` as a parameter to a `ParamArray` in VB.NET?

I note `Console.WriteLine` caters for this by passing two `null`s, so `Console.WriteLine("0:{0} 1:{1}", Nothing)` doesn't throw.

[2016-04-12 17:25] Pilchie commented on #9346
While we might be able to do something based on the sort text of the matched item, I'm not sure we want to.  It is nice to have items in a predictably sorted alphabetic order.

[2016-04-12 17:26] Pilchie commented on #9758
Didn't @dpoeschl merge something to fix this?

[2016-04-12 17:30] agocke commented on #9940
Fixed by #10427

[2016-04-12 17:30] #9940 closed

[2016-04-12 17:31] gafter commented on #10347
When we import metadata, we try to infer what C# source code it came from in order to to give it the most appropriate language semantics. For example, when importing metadata we look for `[System.Runtime.InteropServices.OutAttribute]` on any `ref` parameters, and treat them as `out` parameters, because that is how the compiler represents `out` parameters in metadata. This is of course a best guess

[2016-04-12 17:33] #10347 closed

[2016-04-12 17:43] DustinCampbell commented on #10471
Should this still be assigned to @jinujoseph?

[2016-04-12 17:44] davkean commented on #10471
No

[2016-04-12 17:47] jaredpar commented on #10494
It should be possible with `CType(Nothing, Object())`.  In the sample below it passes `Nothing` as the `ParamArray` in both `Option Strict On` and `Off`:

[code]

[2016-04-12 17:48] alrz commented on #10506
That's true for properties' backing fields, but static fields have a one-to-one relationship with the type itself so it would make more sense to declare static fields (at least) at the top regardless of where they are actually being used.

[2016-04-12 17:49] jasonmalinowski commented on #10132
@dpoeschl @Pilchie What's the status of this bug?

[2016-04-12 17:53] svick commented on #10347
@gafter Thank you for the explanation.

[2016-04-12 17:54] mavasani commented on #10365
@Blubern did you install any analyzer packages for your solution? Is the diagnostic count in your error list extremely large?

[2016-04-12 17:55] tmat commented on #10401
I don't see the same error, but CustomDebugInformation table is bad. It might be related.

[2016-04-12 17:56] rchande commented on #5611
@3jr Your sorting approach sounds okay. We'll be able to give you better feedback on that, and on the fix all occurences stuff, once you send out a PR.

Our markup strings let you mark up spans and named spans. This lets you specify things like a cursor selection, etc. When we have tests that need to look at multiple types of spans, we start naming them. Is there a specific test harness you want m

[2016-04-12 18:01] mavasani commented on #10365
I am also wondering if you saw the following message in the IDE when the memory usage was shoting up.

![disable_full_sln_analysis](https://cloud.githubusercontent.com/assets/10605811/14470317/a2fe0e16-009d-11e6-83e7-2f6998dd1798.png)

We added this fix in Update2 to detect low VM situations and automatically turn off full solution analysis. When I try to repro this with Roslyn.sln + 100s of analy

[2016-04-12 18:07] jnm2 commented on #10429
s/take its queues/take its cues
Kinda clever though :-D

[2016-04-12 18:13] heejaechang commented on #10365
it tries to reduce chance of OOM, but it can’t prevent it completely. The warning doesn’t mean we won’t OOM.

-          heejae

From: Manish Vasani [mailto:notifications@github.com]
Sent: Tuesday, April 12, 2016 11:02 AM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: HeeJae Chang <Heejae.Chang@microsoft.com>
Subject: Re: [dotnet/roslyn] Unknown Hard Error - OutOfMemoryException (#10365)

I am

[2016-04-12 18:18] Pilchie commented on #7943
Closing, since this is merged in future.

[2016-04-12 18:18] #7943 closed

[2016-04-12 18:27] diryboy commented on #7520
I think I have a fix for this.

[2016-04-12 18:27] mavasani commented on #5611
@3jr You can look at some sample FixAll unit tests [here](http://source.roslyn.io/#Roslyn.Services.Editor.CSharp.UnitTests/Diagnostics/SimplifyTypeNames/SimplifyTypeNamesTests_FixAllTests.cs,14).

Note that the default [BatchFixer](http://source.roslyn.io/Microsoft.CodeAnalysis.Workspaces/R/f42c8a42757f6a56.html) does some very basic merge conflict resolution when you have conflicting fixes being

[2016-04-12 18:33] bartdesmet commented on #7169
That's an interesting case indeed. We've run into similar ambiguities for the whole shebang of `Create` overloads for `Observable` in Rx with async variants of the passed delegates.

It seems to me that the insistence around the use of `Task<T>` in this whole binding procedure stems from the rules for the [inferred return type](https://github.com/ljw1004/csharpspec/blob/csharp6/csharp/expressions.

[2016-04-12 19:02] Blubern commented on #10365
@mavasani
@heejaechang

I saw the message with low memory sind update 2.
Its true that i hand some analyzer. I'm using the https://github.com/DotNetAnalyzers/StyleCopAnalyzers in every Project exception Unit Test Projects. Can it be that it is a bug in the StyleCopAnalyzers Project?

Should i still try to create a test solution?

[2016-04-12 19:05] heejaechang commented on #10365
Can you provide us a memory dump?

-          heejae

From: Tobias Allweier [mailto:notifications@github.com]
Sent: Tuesday, April 12, 2016 12:03 PM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: HeeJae Chang <Heejae.Chang@microsoft.com>
Subject: Re: [dotnet/roslyn] Unknown Hard Error - OutOfMemoryException (#10365)

@mavasani<https://github.com/mavasani>
@heejaechang<https://github.com/heejaec

[2016-04-12 19:07] Blubern commented on #10365
@mavasani
Can you share the dump with @heejaechang ?

[2016-04-12 19:08] markhurd commented on #10494
No that's what you aleady get with an unadorned `Nothing`. I want what you get when you pass an `Object` variable containing `Nothing`, but using a literal `Nothing`.

That is,

    Dim n As Object = Nothing
    ParamsTest(n)

without the `As Object` overload.

[2016-04-12 19:09] mavasani commented on #10365
@Blubern That is not a bug in StyleCop analyzers - it just has large number of analyzers and for a solution of such large size, our VS IDE analyzer engine just doesn't seem to be scaling well. I hit the low VM warning in Roslyn.sln with StyleCopAnalyzers turned on in around 2-3 minutes - devenv VM jumped to 2.5 GB.

@heejaechang I'll forward you the details about the dump and my analysis offline.

[2016-04-12 19:29] gafter commented on #10153
@alrz I'm not sure we want to require the pattern of a regex being a constant.

It would be very strange for an extension method to be applicable where an instance method is not applicable.

[2016-04-12 19:37] gafter commented on #142
@atifaziz You suggested something more "general" using duck typing. We generally cannot add conversions to types that could exist before, as it would be a breaking change in overload resolution. Instead we could in theory add a new type with a new conversion from an interpolated string to that new type. Though I have to say I do not forsee it bubbling to the top of our wish list in the forseeable

[2016-04-12 19:40] jmarolf opened #10510 "devenv solutionName.sln /rebuild fails on PowerBI solutions"
**Version Used**: Visual Studio Update 2

**Steps to Reproduce**:

1.  Create Analysis Services Multidimensional project named **solutionName**
2.  Create a set of cubes that contain partitions
3.  run command from developer command prompt
[code]

**Expected Behavior**: solution build sucessfully

**Actual Behavior**: solution build fails

[2016-04-12 19:49] or150 commented on #347
Will there be an explicit conversion between ValueTuple and KeyValuePair/System.Tuple?
It would be nice if we were allowed to write:
[code]

[2016-04-12 20:29] DavidArno commented on #347
@or150,

Rather than an implicit conversion, would we not be better off with an `AsTupleEnumeration` extension method for such situations? Eg,

[code]

(Not sure `IEnumerable<(TKey key, TValue value)>` would be valid syntax, but syntactic tuples would have to work with generic collections somehow).

[2016-04-12 20:40] Pilchie commented on #1287
Given that we haven't heard about this in any other forum, and don't actually know *how* to fix it, let's close this bug.

[2016-04-12 20:40] #1287 closed

[2016-04-12 20:51] Pilchie commented on #4892
We have not seen any of the same feedback since Update 1 was released with #6318.  It seems to have been sufficient.

[2016-04-12 20:51] #4892 closed

[2016-04-12 21:13] benaadams commented on #7169
Related, if you do

[code]
You'll get the error
```The call is ambiguous between the following methods or properties: 'Task.Run(Action)' and 'Task.Run(Func<Task>)'```

[2016-04-12 21:15] JoshVarty opened #10514 "Publish Visual Studio version number associated with each Roslyn release"
I have an Visual Studio extension that depends on Roslyn. We've chosen not to move our Roslyn references forward with each release because we're worried that our users might not have installed Update 1 or Update 2.

@jmarolf suggested that we could target specific Visual Studio versions in our `.vsixmanifest` that would prevent our extension from auto-updating for users who are stuck using older v

[2016-04-12 21:19] dpoeschl commented on #10414
Currently working on https://github.com/dotnet/roslyn/issues/10132. Removing Urgency-Now for now...

[2016-04-12 21:28] #10254 closed

[2016-04-12 21:32] orthoxerox commented on #5445
The dirty deed of `arg |> obj?.Foo` support is done, but I have a few worries.

1. I did it by building a custom AST in the Binder method for the pipe. Is that an acceptable implementation?
2. For some reason the whole expression is not recognized as a conditional method call when I hover over the `|>` in VS, even when I conditionally call a delegate.

[2016-04-12 21:39] Pzixel commented on #227
@HaloFour as i said, it's a concept. Sure, they could be some workaround with it. The same manner as immutable strings are not immutable (you can always pinn a string and change its content!). But it's what I call `fair use`. You do not blame microsoft for be able to modify a string, so why you think this it worse?

And again, it's a concept and it might not work quite as expected, but C# devs doe

[2016-04-12 22:10] KirillOsenkov commented on #8975
Here's where MSBuild uses it:
http://referencesource.microsoft.com/#MSBuildProperty=UseCommonOutputDirectory

[2016-04-12 22:26] davkean opened #10515 "Visual Studio crashed after switching Roslyn branches"
Have Roslyn.sln open, swtiched from future -> master, and Visual Studio crashed in the background.

Stack:

[code]

[2016-04-12 22:27] davkean commented on #10515
Dump: \\[teamshare]\public\davkean\10515

[2016-04-12 22:32] Pilchie commented on #10515
+ @TyOverby.  Isn't this a dupe of something you were looking at?

[2016-04-12 22:43] jinujoseph commented on #9956
![update2](https://cloud.githubusercontent.com/assets/12449387/14477809/4671bfa8-00c5-11e6-8374-cc080d783d12.JPG)

[2016-04-12 22:43] #9956 closed

[2016-04-12 23:37] CyrusNajmabadi commented on #10488
I'm wary about this being considered a feature request...

[2016-04-13 00:11] jasonmalinowski opened #10519 "Move to MicroBuild vLatest"
The current version of MicroBuild we are on is being deprecated, and we need to move forward.

[2016-04-13 01:12] gafter opened #10521 "recent binder changes in features/patterns branch break binding in incomplete code"
The following test is suitable for adding to LocalFunctionTests.cs and demonstrates a compiler crash recently introduced in the binder refactoring on the features/patterns branch.

[code]

[2016-04-13 01:12] gafter commented on #10521
This is blocking some testing of pattern-matching.

[2016-04-13 01:17] tmat commented on #10401
Figured it out. There is a tiny bug in the reader with great consequences for CustomDebugInformation table. The writer (Roslyn compiler) is good. Deterministic build (even with  /parallel+) produces bit-for-bit identical .dll and .pdb. Can you double-check in your environment whether the build produces exactly the same output when run multiple times (.dll and .pdb)?

[2016-04-13 01:23] DustinCampbell commented on #5611
Note -- this issue is essentially a dupe of #7070.

[2016-04-13 02:01] HaloFour commented on #10503
@alrz Making entry points asynchronous is a special case because it is practically the only case where blocking on an asynchronous call is considered safe.  Elsewhere you are inviting deadlocks since you cannot know if asynchronous methods called depend on a synchronization context.  Having language support for this would encourage a very bad practice.

[2016-04-13 02:26] KirillOsenkov commented on #10211
@TyOverby `nuget.exe locals all -clear` fixed it, thanks! No longer seeing the crash and http://source.roslyn.io was updated successfully again.

I've been having network issues on that VM and so somehow my NuGet cache might have gotten corrupted. I remember seeing Error 400 Bad Request in Red coming from NuGet output. Unfortunately I don't have any more information other than that.

[2016-04-13 02:34] AlekseyTs commented on #10521
@gafter Could you, please, include a call stack for issues about crashes and asserts?

[2016-04-13 05:39] alrz commented on #10153
Oh, I thought a constant pattern can be a variable because evaluating a variable in a pattern also doesn't have side-effects.

I'm just saying that having to write `new Regex(...)` doesn't really make sense when you have an active pattern for it, specifically when you want to match against multiple regexes in a `switch` — you will need a Regex for every case and all of them must be eagerly created

[2016-04-13 06:46] huan086 commented on #347
@or150

This brings back an earlier discussion about being able to decompose any Object, not just Tuple. Since I propose that decomposition is by name, with automatic case conversion for first letter, under my proposal, the code might look more like

[code]

[2016-04-13 09:25] TehWardy commented on #7621
@sharwell NOpenCL looks cool :) and if it's possible to be done entirely transparently to the caller other than a simple attribute on a method that's an even better bonus.

[2016-04-13 10:07] DavidArno commented on #10153
@gafter & @alrz,

Either I'm missing something in your discussion, or you are both trying to over-complicate active patterns. A mechanism already exists in the feature branch: the very feature that @gafter suggested to me as a work-around to DUs (specifically `Option<T>`) not making it into C# 7.

Rather than creating an instance of `Regex`, or using an extension method. just create a `ValidEmailA

[2016-04-13 11:07] alrz commented on #10153
@DavidArno Yes,  that's an option, but creating a separate *class* for a single active pattern doesn't feel right IMO. Imagine if you had to create a separate class for each extension method.

[2016-04-13 11:35] tombrown571 commented on #9274
I get the "no input sources specified" in the Vsix project,  when creating a new VB.NET Extensibility  Analyser + Code Fix project.

The easy workaround is to add a dummy source file to the Vsix project. - Just add a class file "dummy.vb" - and the project compiles and runs OK.

[2016-04-13 11:43] ayende commented on #10501
To make things more interesting, I move the IWriter interface into a separate dll, so we will be able to use the Location property, and not rely on the unsafe code.
However, when I tried doing that, I'm getting the exact same error.

[2016-04-13 12:10] DavidArno opened #10523 "Feature request: have the compiler derive interfaces from classes"
In a great many cases, people follow the "design to interfaces" principle by doing the following:

[code]

In other words, the interface only exists in order to decouple classes from each other (mainly during testing) and only one implementation of each interface tends to exist (ignoring mocks). Whilst this is sensible behaviour, it necessitates the creation of lots of interfaces, which only serve

[2016-04-13 14:14] gafter commented on #10153
@alrz

If you don't mind the high cost of your regular expressions being compiled into a state machine every time they are matched rather than once, and the additional complexity of your code, you could do that. I expect most people would prefer the more convenient syntax and more efficient execution afforded by the mechanism as described.

[2016-04-13 14:25] gafter commented on #10153
@DavidArno That only works if the regular expression is a constant. What if it is computed at runtime, or you don't have a fixed number of them?

[2016-04-13 14:53] alrz commented on #10153
@gafter It's not like the Regex example is something to be integrated to the language, right? I'm talking about what it takes to write something akin to active patterns (e.g. a single method or the whole class). Although, for that specific example, it should definitely cache the Regex object. But the client would not care about this because it's merely an implementation detail.

With the current s

[2016-04-13 15:16] mattwarren commented on #10378
There was a really nice [prototype done](http://xoofx.com/blog/2015/10/08/stackalloc-for-class-with-roslyn-and-coreclr/) by @xoofx showing the perf improvements of allowing `stackalloc` on reference types.

[2016-04-13 15:17] DavidArno commented on #10153
@alrz,

My problem here is that not only do I not mind declaring a class per each active pattern, I actually think it makes the code clearer. But that's just me. I might be in a genuine "world of one" here :grinning:

[2016-04-13 15:18] alrz commented on #10153
@DavidArno That's more like "world of many".

[2016-04-13 15:19] DavidArno commented on #10153
@gafter

How likely is that? Are we dealing with edge-cases here? I've little experience of active patterns in F# for example, so I don't know how likely it is that someone would want a runtime-computed active pattern. It just doesn't sound like something that many people would want to do that often, to me.

[2016-04-13 15:27] HaloFour commented on #10153
A lot of this conversation sounds like a rehash of #9005, although with different syntax.  Specifically, being able to define `is` operators (or named positional patterns) like extension methods (including generically) and supporting expressions for input parameters so that the pattern can perform run time evaluation/comparison.

[2016-04-13 15:27] svick commented on #10501
I can't reproduce this when using `dotnet` instead of `dnu`/`dnx` and newest Microsoft.CodeAnalysis.CSharp from dotnet-core MyGet (1.3.0-beta1-20160410-01). The code does print "Hello world".

 [My project.json.](https://gist.github.com/svick/25b729c8dc142871f6b149621a0beebe)

[2016-04-13 15:45] ayende commented on #10501
Probably because of the different ways that they generate the IL?
Since dotnet isn't ready yet for actual use, it would be very helpful to know if there is any sort of workaround for this.

[2016-04-13 15:48] DustinCampbell opened #10525 "Code Model: Implement internal IParameterKind interface on CodeParameter"
There is an internal interface that we failed to implement on CodeParameter that looks like so:

[code]

It turns out that this interface is used by the Windows Workflow v1 designer and breaks some particular scenarios.

[2016-04-13 15:52] MgSam commented on #10153
@DavidArno I have actually used regexes that were computed at runtime before.

It's very interesting that the pattern matching feature may support the regex use case. @gafter Could you show the implementation of the `is` in your use case?

[2016-04-13 15:58] SolalPirelli opened #10526 "Incorrect comma placement when formatting lambda list"
**Version Used**: VS 2015 Update 2

**Steps to Reproduce**:

1. Add `using System;`
2. Write the following code:
[code]
3. Format the document

**Expected Behavior**: Nothing changes

**Actual Behavior**: The comma goes on its own line:
[code]

---

Might be related to #7704, another lambda formatting bug I reported.

[2016-04-13 16:13] HaloFour commented on #10153
@gafter

My opinion is that if you allow the following instance pattern match:

[code]

That the very next thing people will ask for is a way to avoid having to declare/instantiate some instance of a type somewhere and to allow a syntax akin to the following:

[code]

[2016-04-13 16:13] mavasani commented on #10365
I think we have a repro now - enable StyleCop.Analyzers 1.0.0 on Roslyn.sln and within few minutes you will hit the Low VM warning with memory usage nearing 3 GB.

I am moving this to @heejaechang as we should address and verify this as part of his OOP work for Update3. HeeJae, please assign this to @basoundr for verification after we switch to new DiagnosticService engine - we should verify the m

[2016-04-13 16:21] SunnyWar commented on #10378
Microsoft Research many years ago experimented with using some unused bits on each object as access counters. He then had the heap re-organized mostly used objects so that they ended up on the same page.  He showed in a sample XML parser that C# code was faster than optimized C++. The talk he gave on it was called, "Making C# faster than C#". The researcher that developed the technique left MS and

[2016-04-13 16:26] CyrusNajmabadi opened #10527 "CSharpCodeActions "Invoke InvokeDelegateWithConditionalAccess multiple times" disabled due to flakeyness."

[2016-04-13 16:52] AlekseyTs opened #10528 "An integration from master into future is blocked due to failure of CSharpErrorList tests"
See PR https://github.com/dotnet/roslyn/pull/10524

Test results http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p2/594/

[2016-04-13 16:53] srivatsn commented on #10528
@heejaechang can you take a look?

[2016-04-13 16:55] DavidArno commented on #10153
Sticking with my "one active pattern; one class" line for now, is there any reason why the `is` operator couldn't be of the general form:

[code]

In other words, using my earlier example, a generalized regex pattern might be:

[code]
Then it's used as:
[code]
In other words, any non-out parameters (after the first one) could be passed into the pattern at runtime? This would require a change to th

[2016-04-13 16:56] CnSimonChan opened #10529 "Compiler crash when operand of pattern match is error"
**Version Used**:  Future branch, commit a5a17a2fb3d46c84ef05cb92ebd3a04c1d025612

**Reproduce**:

a.

[code]
var obj = new object();
if (obj| is var o) { } // Now type `.`(dot) at `|`.
[code]
System.NullReferenceException: Object reference not set to an instance of an object.

   at Microsoft.CodeAnalysis.CSharp.Binder.IsOperatorErrors(CSharpSyntaxNode node, TypeSymbol operandType, BoundTypeExpre

[2016-04-13 16:58] mavasani opened #10530 "Performance regression in CompilationWithAnalyzers.GetAllDiagnosticsAsync and GetAnalyzerDiagnosticsAsync"
See discussion [here](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/pull/2102#issuecomment-209452298)

My initial guess is this is happening due to analyzer state tracking. Given that we need some new API on CompilationWithAnalyzers which runs analysis without any state tracking for the OOP work (https://github.com/dotnet/roslyn/issues/6846), we should also make these APIs run without any s

[2016-04-13 17:04] paul1956 opened #10532 "Is the Roslyn update 2 branch available that can be built?"
**Version Used**:
Visual Studio 2015 update 2
**Steps to Reproduce**:

1. Can't find source for Update 2 of Roslyn on https://github.com/dotnet/roslyn/
2.
3.

**Expected Behavior**:
Update-2 would be listed under Branches
**Actual Behavior
Update 1 is listed but no Update 2
![image](https://cloud.githubusercontent.com/assets/12789369/14502208/0c5c944c-015f-11e6-9e9a-0c85874462c3.png)

[2016-04-13 17:07] Pilchie commented on #10532
It's actually a tag, not a branch.  Depending on whether you have the MicroUpdate installed, you should have either https://github.com/dotnet/roslyn/tree/version-1.2.0 or https://github.com/dotnet/roslyn/tree/version-1.2.1

[2016-04-13 17:07] #10532 closed

[2016-04-13 17:08] HaloFour commented on #10153
@DavidArno

That introduces the complexity/ambiguity of having the parser determine what is an expression vs. what is a pattern.

https://github.com/dotnet/roslyn/issues/9005#issuecomment-194069860

[2016-04-13 17:24] marek-safar commented on #10401
The build does not produce same output. It almost looks like every build produces pretty different pdb.

Here is short overview to see the output (copied files) from 3 subsequent compilations of exactly same csc command line

-rw-r--r--+ 1 marek  staff  3526656 13 Apr 19:15 1.dll
-rw-r--r--+ 1 marek  staff  1406188 13 Apr 19:15 1.pdb
-rw-r--r--+ 1 marek  staff  3526656 13 Apr 19:16 2.dll
-rw-r--r-

[2016-04-13 17:25] jasonmalinowski commented on #10219
@TheGrandUser: correct, that just overwrites. @MgSam, we'll look at getting that updated.

[2016-04-13 17:29] jasonmalinowski commented on #10212
@jaredpar, have we seen this fail recently, since you have magic tools to track that? It's quite possible this is a dupe of @dpoeschl's bug...

[2016-04-13 17:29] mavasani commented on #10365
I just hit an OOM with "StyleCop.Analyzers 1.0.0 on Roslyn.sln" (basically checkout the branch https://github.com/mavasani/roslyn/tree/EnableStyleCopAnalyzers and open Roslyn.sln in VS). I am investigating the dump to confirm it is the same issue as reported by @Blubern and if so we have a valid repro and test case.

[2016-04-13 17:42] tmat commented on #10401
Please upload them, I'll take a look why they are different.

[2016-04-13 17:45] marek-safar commented on #10401
[corlib-dll+pdb.zip](https://github.com/dotnet/roslyn/files/217667/corlib-dll.pdb.zip)

[2016-04-13 18:13] heejaechang commented on #10528
Looking.

-          heejae

From: Srivatsn Narayanan [mailto:notifications@github.com]
Sent: Wednesday, April 13, 2016 9:54 AM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: HeeJae Chang <Heejae.Chang@microsoft.com>
Subject: Re: [dotnet/roslyn] An integration from master into future is blocked due to failure of CSharpErrorList tests (#10528)

@heejaechang<https://github.com/heejaechang> can yo

[2016-04-13 18:16] mavasani commented on #10365
I can confirm that the dump I got from my OOM also matches the one reported here. Below are the biggest offenders:

[code]

[2016-04-13 20:21] JohnHamby commented on #10386
This issue won't actually arise in checked-in code. It was a reminder to myself.

[2016-04-13 20:21] #10386 closed

[2016-04-13 20:21] joshfree commented on #6358
Hit this issue recently

Build #159 (Apr 13, 2016 2:26:01 AM)
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/outerloop_windows_nt_debug/159/

[2016-04-13 20:22] Pilchie commented on #9325
@brettfo Is this the same thing that is happening in QuickInfo in the bug you have?

[2016-04-13 20:32] jaredpar commented on #6358
@joshfree if you're interested in a work around for this framework bug see this commit: https://github.com/dotnet/roslyn/pull/9963/commits/958ca00a68738ac61f5c8b0acce7d140567d2243

[2016-04-13 21:01] brettfo commented on #9325
Yes, same problem and possibly related to @dpoeschl's theory about a text buffer's version and reiterated version getting out of sync.

[2016-04-13 21:07] Pilchie commented on #9325
Given all of these bugs seem to involve razor, are we sure the problem isn't passing a position/span from the wrong buffer in a projection buffer?

[2016-04-13 21:08] davkean opened #10535 "Samples solution has lots of warnings about missing projects"
Open src\Samples.sln:

[code]

There's approximately ~132 warnings.

[2016-04-13 21:28] heejaechang commented on #10528
this is due to mismatch between solution explorer and msbuild. I am trying to see why msbuild still think there is class1.cs when solution explorer already deleted it.

[2016-04-13 21:35] #10248 closed

[2016-04-13 21:35] #10250 closed

[2016-04-13 21:36] mavasani commented on #10251
Functional tests implemented with https://github.com/dotnet/roslyn-internal/pull/805

[2016-04-13 22:06] jaredpar opened #10539 "CSharpCodeActions InvokeDelegateWithConditionalAccess is flaky"
This suite has failed 9 times in the last 24 hours (release and debug).  All of the Jenkins failures are available in the following link:

- [CSharpCodeActions.Invoke InvokeDelegateWithConditionalAccess failures](http://jdash.azurewebsites.net/builds/failure?name=CSharpCodeActions.Invoke+InvokeDelegateWithConditionalAccess+multiple+times&startDate=2016-04-12&pr=false)

[2016-04-13 22:07] orthoxerox commented on #10523
Does this have to be a language feature? There's an automated refactoring in VS that extracts the interface for you and you could probably modify it to include an attribute-based link between the class and the interface so that the code won't compile if they begin to diverge.

[2016-04-13 22:50] TyOverby commented on #10515
Dupe of #10211

[2016-04-13 22:50] #10515 closed

[2016-04-13 23:26] bkoelman opened #10543 "NuGet analyzer does not start in DNX project"
**Version Used**:
VS2015 Update2

**Steps to Reproduce**:
1. Create new project of type Console Application (Package)
2. install-package jetbrains.annotations
3. install-package resharpercodecontractnullability

**Expected Behavior**:
Analyzer runs and reports two warnings.

**Actual Behavior**:
Analyzer from step 3 keeps silent. Running the above steps on a normal Console Application works. Repla

[2016-04-13 23:30] AlekseyTs commented on #10457
With Option Strict On the only applicable candidate is
[code]
overload resolution succeeds.

With Option Strict Off, there are 10 other applicable candidates that require narrowing conversions. Because the candidate above requires type inference (for the TResult), and none of the new candidates do, it is eliminated, leaving us with 10 candidates, neither of which is "better" than the other.

[2016-04-13 23:31] #10457 closed

[2016-04-13 23:32] thomaslevesque opened #10544 "Incorrect warning CS0649 (field never assigned) with ref return"
**Version Used**: Visual Studio "15" Preview

**Steps to Reproduce**:
1. Write the following class in a project with the demo features enabled (`__DEMO__` compilation symbol):

[code]
2. Build

**Expected Behavior**:

It should compile without warning.

**Actual Behavior**:

The compiler produces warning CS0649:

This warning is incorrect, because even though `x` isn't explicitly initialized in th

[2016-04-14 00:12] jmarolf commented on #10543
This is not a Roslyn issue, Analyzer were not supported by the DNX project system.  The compiler fully supports these analyzers, it is just that the DNX infrastucture is not passing them to the compiler. DNX has merged into https://github.com/dotnet/cli.  My current understanding is that analyzer will work in dotnet-cli so you should see support in future releases.

[2016-04-14 00:16] jmarolf commented on #10543
Looks like analyser support was being tracked here: https://github.com/dotnet/cli/issues/83 and support was added by @agocke here: https://github.com/dotnet/cli/pull/927

[2016-04-14 00:22] #10543 closed

[2016-04-14 00:24] HaloFour commented on #10523
Similarly I think code generation (#5561) could be used to construct an interface from the public members of a given class as well as partial class that specifies the implementation:

[code]

generates:

[code]

Beyond that this sounds like, at best, a tooling issue.  Although if my interfaces were that entangled with my implementations I would suspect that something isn't right.

[2016-04-14 00:26] #10510 closed

[2016-04-14 00:36] Pilchie commented on #10539
It's already disabled, and this is a dupe of https://github.com/dotnet/roslyn/issues/10527.  Tag @CyrusNajmabadi.

[2016-04-14 00:37] Pilchie commented on #10539
Disabled in https://github.com/dotnet/roslyn-internal/pull/825.

[2016-04-14 00:47] HaloFour commented on #10544
I think the warning still makes sense.  Even though the caller *could* assign to the ref, they could just as easily just dereference the ref and get that "uninitialized" default value.  You can eliminate the warning by simply assigning a value to the field and being more explicit about what you're doing.

[2016-04-14 00:50] mattscheffer opened #10546 "Expression Evaluator broken in latest vsuml build"
**Version Used**:
25213.00
**Steps to Reproduce**:
1. Create a new C# console app
2. Add the following code to the main method:
string s = "test";
System.Diagnostics.Debugger.Break();
3. Start debugging

**Expected Behavior**:
The locals,autos, and watch windows should populate
**Actual Behavior**:
Nothing appears in the first two and adding s to watch gives the text 'internal error in the express

[2016-04-14 00:54] heejaechang opened #10547 "fix the race between DTE and msbuild/build"
this bug is related to (https://github.com/dotnet/roslyn/issues/10528)

the issue here looks like a race.

...

Basically, what I see from the log is that, VS (solution explorer) sees only 1 file in the project, but the build sees another file (Class1.cs) and it is passed to csc and csc reports it as missing file.

The “class1.cs” is coming from project creation, right after creating a project, ou

[2016-04-14 00:54] mattscheffer commented on #10546
Hmm and a lot more is broken. Looks like stopping execution after performing these steps makes VS think it's still running. Can't make any more edits to the code in the current instance. I even made a new project, but can't type anything. This window popped up:

![image](https://cloud.githubusercontent.com/assets/10537189/14513927/cec4216c-01a0-11e6-9c5b-2912db59a328.png)

[2016-04-14 00:55] heejaechang commented on #10547
I spent 2-3 hours to go through code but too much new code. couldn't figure out in that time frame what part went wrong.

[2016-04-14 00:59] heejaechang commented on #10547
link to log
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p2/594/artifact/Open/Binaries/Release/VSIntegrationTestLogs/CSharpErrorList.html

link to build
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p2/594/

this build is marked as to keep until someone can investigate.

[2016-04-14 01:23] mattscheffer opened #10548 "Crash during EnC. Missing Microsoft.DiaSymReader 1.0.7.0"
**Version Used**:
25213.00
**Steps to Reproduce**:
1. Create a new C# console app
2. Add the following code to the main method:
string s = "test";
System.Diagnostics.Debugger.Break();
3. Start debugging
4. When execution pauses, change "test" to "foo"
5. Continue debugging.

**Expected Behavior**:
Should finish execution.
**Actual Behavior**:
VS crashes.

Exception is the following:
An unhandled e

[2016-04-14 01:23] jasonmalinowski opened #10549 "Pull requests to roslyn-internal should always run VSI tests"
We've recently had a number of breaks that slipped through because roslyn-internal PRs don't run VSI tests. This seems surprising, since the only time you're ever pushing to roslyn-internal is to either:

1. Update VSI tests.
2. Update our various setup build stuff (which only runs as a part of VSI builds)
3. Update various non-public VS integration bits.

These activities are both rare, and alrea

[2016-04-14 01:24] mattscheffer commented on #10548
This issue might be the root cause of #10546 as well.

[2016-04-14 02:13] markhurd commented on #10457
So for Strict Off you have to say Max(Of String)(whatever)? (Not at my computer at the moment to try it myself.)

Regards,
Mark Hurd.

Sent from my Windows Phone.

-----Original Message-----
From: "AlekseyTs" <notifications@github.com>
Sent: ‎14/‎04/‎2016 9:01 AM
To: "dotnet/roslyn" <roslyn@noreply.github.com>
Cc: "Mark Hurd" <markehurd@gmail.com>
Subject: Re: [dotnet/roslyn] Strict Off having pro

[2016-04-14 02:27] Claytonious commented on #10378
We are in the crowded boat of using c# with Unity3d, which may finally be moving toward a newer CLR sometime soon, so this discussion is of great interest to us. Thanks for starting it.

The request to have at least some hinting to the GC, even if not direct control, is at the top of our iist. As the programmer, we are in a position to declaratively "help" the GC but have no opportunity to do so.

[2016-04-14 03:18] CyrusNajmabadi commented on #10214
I disagree with the statement: "Such diagnostics are not helpful for the end users"

If i was writing an analyzer looking for unnecessary allocations, i would want to know about this so i could do something appropriate.

Now, that said, having information on the operation to know if it's compiler generated or not seems very useful.

[2016-04-14 03:41] AlekseyTs commented on #10457
Not an option in a query expression, syntactically disallowed.

[2016-04-14 03:50] markhurd commented on #10457
So can someone using Option Strict Off get the Max or Min of a String in an anonymous structure at all?

Regards,
Mark Hurd.

Sent from my Windows Phone.

-----Original Message-----
From: "AlekseyTs" <notifications@github.com>
Sent: ‎14/‎04/‎2016 1:12 PM
To: "dotnet/roslyn" <roslyn@noreply.github.com>
Cc: "Mark Hurd" <markehurd@gmail.com>
Subject: Re: [dotnet/roslyn] Strict Off having problems wit

[2016-04-14 04:13] AlekseyTs commented on #10457
Inside a query? Yes, you can define you own non-generic operator. I works outside of a query because  query lambdas are handled differently with respect to narrowing conversions.

[2016-04-14 04:34] AlekseyTs opened #10550 "Issues around netmodules built with assembly attributes in source"
When a netmodule is built, any assembly attributes are actually getting attached to System.Runtime.CompilerServices.AssemblyAttributesGoHere (there is also another type with "Multiple" in the name) type reference. Apparently, the typeref is parented to a core library reference even when the library doesn't define the type. All seems to be going fine when the type is actually defined in the core li

[2016-04-14 04:42] AlekseyTs commented on #10550
It looks like VS2013 compiler also has strange behavior in this scenario. What it does, it adds a reference to a different mscorlib, which actually defines the type, into the module. It probably checks framework installed on the machine (it is possible ALink is doing that). So, the AssemblyAttributesGoHere typeref has correct parent, but the netmodule actually references two different mscorlibs. O

[2016-04-14 05:38] markhurd commented on #10457
At my computer now. Confirming this works:

[code]

[2016-04-14 07:31] thomaslevesque commented on #10544
@HaloFour, I see your point, but I still think the message is confusing; the compiler shouldn't make assumptions about like _will always have its default value 0_, especially when it knows that we return a reference to it.

[2016-04-14 07:44] ygc369 opened #10552 "Please allow to define static local variables in functions, like C/C++"
The static local variables can only be used in the functions which define them. C/C++ have this feature.
For example:
void foo()
{
static int call_times=0;
call_times++;
Console.Writeline("Function foo has been called {0} times", call_times);
}

[2016-04-14 07:48] ygc369 commented on #10378
I have some ideas:
https://github.com/dotnet/coreclr/issues/555
https://github.com/dotnet/coreclr/issues/1784
https://github.com/dotnet/coreclr/issues/757
https://github.com/dotnet/roslyn/issues/2171
https://github.com/dotnet/coreclr/issues/1856

[2016-04-14 08:19] DavidArno commented on #10552
Static local variables are a way of maintaining state between calls to the same function. They are needed in C. They aren't needed in either C++ (though they exist there because of the origins of that language) or C#. You can achieve the same maintenance of state either through fields in object instances, or with static fields in a class.

[2016-04-14 08:32] ygc369 commented on #10552
@DavidArno
I know what you said. But I think static local variable can make code more readable, it means this variable can only used in the specified function.

[2016-04-14 08:34] DavidArno commented on #10153
@HaloFour,

OK, let's disappear down the rabbit hole a little further then. As @gafter says in that comment, the compiler cannot know what it's dealing with from a syntactic point of view. So just tell it by using `in`:

[code]
Now the parser can know exactly what to parse as a pattern and what to parse as an expression...

(though no doubt this causes a whole slew of new problems... :grinning:)

[2016-04-14 09:19] DavidArno commented on #10523
@HaloFour,

#5561 could indeed be the solution. I'm closing this as a duplicate therefore.

[2016-04-14 09:19] #10523 closed

[2016-04-14 09:49] diryboy commented on #7640
For the first point, yes, and wouldn't it be even better to give a list when you typed `[`?

For the second point, I would argue that if the attribute is from source instead of metadata, one could always change it's usage, rather than not seeing it in the completion list and scratch the head wondering why, squiggle with error message after inserting is better IMHO.

[2016-04-14 10:14] codeapparat commented on #996
I strongly support this proposal. The ability to use polyfill to extend old APIs with selected features of newer API versions would improve code reusability and readability significantly, especially in situations where you have to use the same code or shared projects with different API versions or different platform implementations.

Finding a good syntax is crucial. Here two more suggestions:

In

[2016-04-14 10:23] DavidArno commented on #10552
[code]

[2016-04-14 11:07] tpetrina opened #10553 "Feature: Build 2016 code generation/replace-original feature"
I don't know if there is a thread for this extremely cool feature showcased at Build.
Basically, the new syntax for partial classes which replace original properties is:

[code]

I have a couple of questions here
1. Are keywords `replace` and `original` final or will you change them?
2. Code generation is rather crude, will you create something better than just string concatenation?
3. How does co

[2016-04-14 11:43] HaloFour commented on #10544
@thomaslevesque

The compiler knows that the field will have its default value of 0 due to the heap memory being zero-initialized.  You get the exact same warning without using `ref` returns for the same reason; at the point that you're using the value of `x` the compiler has detected that you've never assigned a value to it.

[code]

[2016-04-14 11:47] thomaslevesque commented on #10544
@HaloFour, that's a different issue. Returning `x` by value doesn't let caller change the value of `x`, so the warning is normal in this case. Having the same message when `x` is returned by reference is misleading, since there is a way for the value of `x` to be changed.

Perhaps the warning should remain, but at least the message should be different in this case.

[2016-04-14 11:54] axel-habermaier commented on #10553
See #5561 and #5292.

[2016-04-14 12:01] axel-habermaier commented on #10552
@DavidArno: How is that more readable than

[code]

[2016-04-14 12:32] IanKemp commented on #10378
"game development... has a habit of gladly abandoning the usual ways of safe code design for that 0.1% of the bottleneck code in favor of maximum efficiency. Unfortunately, there are cases where C# gets in the way of that last bit of optimization."

C# gets in the way [because that's what it was designed to do](https://en.wikipedia.org/wiki/C_Sharp_(programming_language)#Design_goals).

If you wan

[2016-04-14 12:35] DavidArno commented on #10552
@axel-habermaier,

I'm not saying it's more readable. I'm saying that this functionality can already be achieved with the language, as is.

Since it wraps global static state within a single, very hard to mock, single function, it's a pretty nasty implementation of the singleton anti-pattern. Changes to the language should enhance it. Simplifying the syntax around an already-implementable anti-pat

[2016-04-14 12:55] HaloFour commented on #10552
Note that VB.NET has always had this feature, it was inherited from VB5/6:

[code]

Just pointing that out.  I'm not endorsing the feature.  I'm personally not a fan of hiding shared state in the middle of a function like that.

[2016-04-14 13:02] diryboy commented on #7640
I think I can create a PR for the first request later, then we can discuss.

[2016-04-14 13:40] orthoxerox commented on #10378
@IanKemp that's a very narrow view of C#. There are languages like Rust that try to maximize correctness without run-time overhead, so it's not one vs the other. While C# is a garbage-collected language by design, with all the benefits and penalties that it brings, there's no reason why we cannot ask for performance-oriented improvements, like cache-friendly allocations of collections of reference

[2016-04-14 14:41] acelent commented on #2234
I still have hope that #49, in case it's accepted, also considers allowing the `volatile` modifier in either static or plain method variables.

[2016-04-14 14:43] Ricciolo opened #10556 "Proposal: null-conditional assignment"
Hi guys!
Since we've null-conditional operator, why we cannot have a null-conditional assignment, like:
[code]

You may say that I can write the same thing using
[code]
but here I'm setting var1 to var1 even **if not necessary**.
With null-conditional assignment the compiler produce this code:
[code]
With null-conditional operator instead:
[code]

What do you think?

[2016-04-14 14:47] svick commented on #10378
@IanKemp Are you saying that `unsafe` does not exist? C# had that from the start and it's exactly for that small amount of code where you'll willing to sacrifice safety for performance.

[2016-04-14 14:47] HaloFour commented on #10556
Dupe of #10249, #9529, #8894, #5163, #3366 and #205.

The resolution of #205 was "won't fix", so I don't think that the operator is under consideration.

[2016-04-14 14:48] Ricciolo commented on #10556
ops, sorry :-(

[2016-04-14 14:48] #10556 closed

[2016-04-14 15:09] aL3891 commented on #7621
I also think this would be really cool but not really a language feature in it self, _however_ it does kind of tie in to roslyn since this would be a really cool application of the proposed code generation from nugets as well as the replace/original keywords that are proposed (#5561 and #5292.)

Using those features, a library could look for an attribute and then generate the code to actually run

[2016-04-14 15:27] leppie commented on #10553
They should really make feature branch docs/summaries. Going thru commits are tedious.

[2016-04-14 15:39] TonyValenti commented on #996
I agree that you can't have an instance of the static type, but I think that having a consistent syntax would definitely be a benefit.  For example, if we do it this way:
[code]

When the method is called, because you can't have an instance of a static class, NULL should be the value of the Console arg.  You'll notice that in the example, I'm not actually using the Console arg, it is simply there

[2016-04-14 15:52] #10539 closed

[2016-04-14 16:05] jaredpar opened #10560 "Stabilization branch should publish to roslyn-stabilization-nightly"
As a temporary work around for our RC2 work the stabilization branch is publishing to roslyn-nightly.  Once RC2 is out the door it needs to move back to its normal feed.

[2016-04-14 16:09] DustinCampbell commented on #10547
@jasonmalinowski -- what do we want to do here? Should this be fixed in the project system, or worked around in the test infrastructure? FWIW, it seems like the test infrastructure could be more robust anyway since it took HeeJae so long to locate the problem.

[2016-04-14 16:13] SunnyWar commented on #10378
Hey, people...try this: write a function will result in no garbage collections....something with a bunch of math in it for example. Write the exact same code in C++. See which is faster.  The C++ compiler will nearly always generate faster code. The Intel compiler is usually even faster...it has _nothing_ to do with the language.

For example. I wrote a PCM audio mixer is C#, C++ and compile with

[2016-04-14 16:17] patoezequiel commented on #996
I'd suggest the following syntax:

[code]

The structure of the extension method arguments is first the keyword `static` followed by the name of the class the method will extend, with no identifier as it's not needed. After that, the rest of the arguments, as always.

Then, in your code you can call the method `WriteGreen()` on the `System.Console` class.

[code]

[2016-04-14 16:29] DustinCampbell commented on #733
This was done with #7303 by @CyrusNajmabadi

[2016-04-14 16:29] #733 closed

[2016-04-14 16:40] DustinCampbell commented on #10283
How is this different from the suppression story we already have for analyzers?

[2016-04-14 16:42] DustinCampbell commented on #10278
This is a code generator story. We won't do anything specifically in the IDE to solve this other than to support code generators.

[2016-04-14 16:42] #10278 closed

[2016-04-14 16:46] DustinCampbell commented on #10275
Let's start with filing this on the Platform team.

[2016-04-14 16:49] DustinCampbell commented on #10274
Hey @kuhlenh -- @Pilchie and I aren't sure what this request actually is. If you have more info, that'd be great! Thanks!

[2016-04-14 16:49] #10274 closed

[2016-04-14 16:49] gafter commented on #10521
It was suggested in https://github.com/dotnet/roslyn/pull/10522#issuecomment-209200635 to "try adding handling for local functions in the LocalBinderFactory.VisitPossibleEmbeddedStatement? Similar how local declaration statements are handled. I suspect that could address the issue."

[2016-04-14 16:51] DustinCampbell commented on #10272
I don't auto-add these on paste. I think we should offer a code fix after pasting so that my file isn't dramatically changed simply by pasting code from one to another unless I, as the developer, choose to. :smile:

[2016-04-14 17:08] AlekseyTs opened #10561 "Failure of BasicGoToDefinition.xml test blocks integration from stabilization into master and into future-stabilization"
See https://github.com/dotnet/roslyn-internal/pull/832 and https://github.com/dotnet/roslyn-internal/pull/833

Failing builds: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p0/317/

[2016-04-14 17:11] DustinCampbell commented on #9642
@Pilchie sez, "this should be tracked on the build tasks repo"

[2016-04-14 17:11] #9642 closed

[2016-04-14 17:23] damageboy commented on #3208
@whoisj while I would obviously agree with you that this is very handy and should be supported directly in c#, isn't something along the lines of http://stackoverflow.com/questions/18167216/size-of-generic-structure a temporary workaround for you? (With very little performance overhead...)

[2016-04-14 17:28] jasonmalinowski commented on #10547
I'm OK continuing with the workaround for now, but something seems very fishy there and I'm not sure what else might be broken.

[2016-04-14 17:35] DustinCampbell commented on #8933
We already have #5378 for renaming the file. Changing this to be about cascading rename to variable names

[2016-04-14 17:37] DustinCampbell commented on #8932
@balajikris: @Pilchie says you're already working on this aren't you?

[2016-04-14 17:38] DustinCampbell commented on #8930
Isn't this a code generator scenario?

[2016-04-14 17:41] DustinCampbell commented on #8929
Closing this because it's not really an item for our backlog. @kuhlenh, please chat with the editor team about this one.

[2016-04-14 17:41] #8929 closed

[2016-04-14 17:43] balajikris commented on #8932
yep! forgot to assign it to self, thanks for assigning.

[2016-04-14 17:47] DustinCampbell commented on #8708
Hey @CyrusNajmabadi -- isn't this already done?

[2016-04-14 17:49] DustinCampbell commented on #8648
@Pilchie and I think there's not a lot of value to this one. If we hear feedback we can revisit.

[2016-04-14 17:49] #8648 closed

[2016-04-14 17:56] DustinCampbell commented on #8295
Favoring #9194 over this issue.

[2016-04-14 17:56] #8295 closed

[2016-04-14 17:57] DustinCampbell commented on #8278
Note: I think we would want options for this behavior if somebody wants to do it.

[2016-04-14 18:01] jinujoseph opened #10563 "CSProj->xProj In Compatible Reference provides a confusing Error Message"
Repro Steps

- Create a new .Net Core Class Library (By default it creates with .NetStandard 1.5)
- Create a Windows Console Application
- Add a "project.Json" File to the same
Add following text to it

{
  "frameworks": {
    "net461": { }
  },
  "runtimes": {
    "win": { }
  }
}

Also go to the properties of the console application and make it point to 4.6.1

- Build both the projects.
- Now re

[2016-04-14 18:02] michaelcfanning commented on #8708
Definitely not in for update 2. We do not have a general API from NuGet yet to install latest pre-release (with no other version information). To mitigate this limitation, we put explicit version information in the index for packages with only pre-release versions (so that the feature could explicitly request install of that version).

My information is stale. Cyrus can bring us up-to-date, I'd li

[2016-04-14 18:17] jasonmalinowski commented on #10561
This is a possible dupe of #9602.

[2016-04-14 18:24] jaredpar commented on #10485
@jinujoseph are there any work arounds to this failure?

[2016-04-14 18:56] jcouv commented on #8389
This issue is now closed. The IDE test plan is [now checked in](https://github.com/dotnet/roslyn/blob/master/docs/contributing/IDE%20Test%20Plan.md).

[2016-04-14 18:56] #8389 closed

[2016-04-14 18:59] jcouv opened #10564 "Tuple in delegate declaration crashes VS"
// Type the following code and crash
[code]

[2016-04-14 19:01] jcouv opened #10566 "Introduce Variable refactoring is incorrect on tuple"
Select a tuple literal within a method call and trigger the "introduce variable" refactoring.

![introduce-variable](https://cloud.githubusercontent.com/assets/12466233/14756655/09e167c2-08a0-11e6-9102-e87bafc591dc.png)

[2016-04-14 19:03] jcouv opened #10567 "CSharpRenameTrackingCodeFixProvider crashes on tuples"
See illustration below.

![image](https://cloud.githubusercontent.com/assets/12466233/14755091/8e1084a8-0894-11e6-9dbd-1743c473c733.png)

![rename-tuple](https://cloud.githubusercontent.com/assets/12466233/14540213/bf958666-0238-11e6-9a2d-979741580e70.png)

[2016-04-14 19:05] jcouv opened #10568 "ImplementNotifyPropertyChanged sample crashes on tuples"
Write a class that uses tuples, then add `: IDisposable` to the class declaration and trigger the "implement IDisposable" refactoring.

[2016-04-14 19:07] jcouv opened #10569 "Tuple usage in interface crashes VS"
Type the code below as you normally would. By the point I try to add some parameters to the declaration of `Foo`, I get a crash.

[code]

[2016-04-14 19:08] jcouv opened #10570 "Extract method refactor crashes VS on tuples"
Select either line below and trigger the refactoring to "extract method" and VS crashes.

[code]

[2016-04-14 19:10] jcouv opened #10571 "Tuples should have prettier printing in object browser"
See snapshots below:

![object-browser-1](https://cloud.githubusercontent.com/assets/12466233/14540424/d27a521a-0239-11e6-8c9a-00d587f30443.png)
![object-browser-2](https://cloud.githubusercontent.com/assets/12466233/14540423/d277c130-0239-11e6-92d8-c3c08b56294c.png)

[2016-04-14 19:12] jcouv opened #10572 "Tuple types should be prettier in debugger"
See snapshot below. The tuple portion should show as `(int, int)`.

![debugger-tuple-signature](https://cloud.githubusercontent.com/assets/12466233/14540466/018321fe-023a-11e6-940c-e94c644106b2.png)

[2016-04-14 19:14] jcouv opened #10573 "Tuple values should be prettier in debugger"
See snapshot below. I expect `(0, 1)` for a nameless tuple, and `(Alice: 0, Bob: 1)` for a tuple with member names.

![debugger-tuple-value](https://cloud.githubusercontent.com/assets/12466233/14540515/41711636-023a-11e6-834e-72d7a139c0af.png)

[2016-04-14 19:15] jcouv opened #10574 "Tuple member should have QuickInfo when debugging"
Hovering over `sum` or `count` while debugging shows no tooltip with member value.

![tuple-member-quickinfo](https://cloud.githubusercontent.com/assets/12466233/14540550/81b55a9a-023a-11e6-865b-44787daa3431.png)

[2016-04-14 19:17] jcouv opened #10575 "Codelens on split line annotates wrong line"
The snapshot says it all.

![codelens-split-line](https://cloud.githubusercontent.com/assets/12466233/14540599/b4e9dc2e-023a-11e6-987c-6c86b915c73e.png)

[2016-04-14 19:19] Pilchie commented on #10575
Clearing assignment so this will show up in triage queries.

[2016-04-14 19:20] jcouv opened #10576 "Highlight reference doesn't highlight on both tuple members in a conditional"
See snapshot. I would expect `Alice` above to highlight.

![tuple-highlight](https://cloud.githubusercontent.com/assets/12466233/14540657/ed459680-023a-11e6-8519-93220cf43c74.png)

There are some more complicated scenarios that probably need discussing such as `var x = condition ? (Alice: 1, Bob: 2) : (Cat: 3, Dog: 4);`

[2016-04-14 19:21] jcouv opened #10577 "GoToDefinition doesn't work on tuple member"
[code]

[2016-04-14 19:23] jcouv opened #10578 "Tuple QuickInfo should be prettier"
Should show `(int Alice, int Bob)` with proper parts.

![tuple-quickinfo](https://cloud.githubusercontent.com/assets/12466233/14540737/76598a30-023b-11e6-876d-6b93a7b021c3.png)

Also, if the members of the tuple weren't named, this should show as `(int, int)`.

Same thing for ParameterInfo shown below:

![tuple-parameterinfo](https://cloud.githubusercontent.com/assets/12466233/14540775/b77193dc-02

[2016-04-14 19:25] jcouv opened #10579 ""Generate constructor" refactor is incorrect on tuples"
Select the line with the field and trigger the "generate constructor" refactoring. The refactoring yields an incorrect result.

![tuple-generate-constructor](https://cloud.githubusercontent.com/assets/12466233/14540795/ceccd618-023b-11e6-96f9-2d4ce3361817.png)

[2016-04-14 19:27] jcouv opened #10580 ""Encapsulate field" refactoring is incorrect on tuples"
Select the line with tuple field and trigger the "encapsulate field" refactoring. The result is incorrect (shows `object` instead of proper tuple type).

![tuple-encapsulate-field](https://cloud.githubusercontent.com/assets/12466233/14540857/11374470-023c-11e6-86f9-78170c3a8886.png)

[2016-04-14 19:29] jcouv opened #10581 ""Generate local" and "Generate field" refactorings don't appear on tuples"
Select `something` in code below and look at the available refactorings. I expect "generate local" and "generate field" to be offered.

[code]

[2016-04-14 19:30] jcouv opened #10582 ""Generate method" refactoring is incorrect on tuples"
See snapshot.

![tuple-generate-method](https://cloud.githubusercontent.com/assets/12466233/14540989/92c3126c-023c-11e6-886b-9f3a18430aad.png)

[2016-04-14 19:31] jcouv opened #10583 "Add test for "Generate class" refactoring on tuples"
See snapshot.

![tuple-generate-class](https://cloud.githubusercontent.com/assets/12466233/14541021/b881a1b2-023c-11e6-82e2-0c3cef1a517e.png)

[2016-04-14 19:33] jcouv opened #10584 "Checkbox in "change signature" refactoring does nothing"
There was no noticeable difference when selecting the checkbox, despite the fact that the method being refactored was invoked in the project.

![change-signature-checkbox](https://cloud.githubusercontent.com/assets/12466233/14541069/f46ce7e0-023c-11e6-87eb-82a52f42d376.png)

[2016-04-14 19:35] jcouv opened #10585 "Add test for "Extract interface" refactoring on tuples"
See snapshot.

![image](https://cloud.githubusercontent.com/assets/12466233/14651612/693c45ca-0625-11e6-834e-16c17682cfe2.png)

[2016-04-14 19:38] jcouv opened #10586 "Intellisense does not help name members in tuple literals"
Intellisense doesn’t help when typing the parameters to a method that has tuples parameter

![tuple-return-intellisense](https://cloud.githubusercontent.com/assets/12466233/14541174/7d2328ba-023d-11e6-8071-8f26e46affe5.png)

There may be other scenarios where Intellisense could help type tuple member names:

[code]

From discussion with Cyrus, this would likely be a new completion provider, possib

[2016-04-14 19:41] jcouv opened #10587 "There should be a spacing option for formatting tuple syntax"
There are options for spacing in parenthesis syntax in various contexts, but not tuples.

![image](https://cloud.githubusercontent.com/assets/12466233/14541294/1526cbf8-023e-11e6-99ba-3568e6730943.png)

[2016-04-14 20:10] jcouv commented on #10587
Assigning to Dustin as I don't think this involves compiler.

[2016-04-14 20:28] whoisj commented on #3208
The solution presented on SO seems reasonable, but I'm not certain about the runtime costs associated with passing value through the marshaler to get its size. Still, it seems to me to be a work-around for a missing feature, especially when the underlying IL supports the operation and it is C# which imposes the limitation.

[code]

[2016-04-14 20:54] DustinCampbell commented on #10587
Removing assignee so we can look at this in triage.

[2016-04-14 21:01] #8817 closed

[2016-04-14 21:02] AlekseyTs commented on #8817
@gafter Please verify.

[2016-04-14 21:14] gafter commented on #10153
@DavidArno The parser does not use the result of binding to determine how to parse. Parsing is purely syntactic.

@alrz Why are you defining aliases for patterns that should already exist in those types? Why not use the types themselves?

[2016-04-14 21:15] msedi commented on #10378
I completely agree with all of the mentioned improvements. These are in my opinion absolutely mandatory. Using C# in high performance applications is the right was. It makes code much  easier to read if there would be at least some of the suggested improvements. Currently we have to "leave" the language to C++ or C to create things there are not possible in C#, and i don't mean assembler instructi

[2016-04-14 21:24] gafter commented on #10465
Fixed in `features/patterns` branch.

[2016-04-14 21:24] #10465 closed

[2016-04-14 21:24] gafter commented on #10521
Fixed in `features/patterns` branch.

[2016-04-14 21:24] #10521 closed

[2016-04-14 21:35] Pilchie opened #10588 "Go to Previous member goes to Previous member, instead of beginning of current member"
From a VS-feedback report

(Vsfeedback:565561/Internal bug:210812)

[2016-04-14 22:03] rn-3 commented on #5292
This would definitely enable a lot of cool stuff that currently requires external tools like PostSharp, I would really love to see this come out.

How about introducing a mechanism to protect the members of a partial class from being '_**replace**_'-ed? I think that would be a useful scenario for library developers where the library is open source distributed for the clients to customize & extend.

[2016-04-14 22:33] dpoeschl commented on #10584
Dupe of https://github.com/dotnet/roslyn/issues/4608

[2016-04-14 22:33] #10584 closed

[2016-04-14 22:36] MadsTorgersen commented on #10429
Thanks for all the great feedback!

On the topic of mutability, we are confident that mutability is a benign choice.

The main issue usually brought up with mutability is that of sharing mutable state. Because structs are copied, there is no sharing _unless you go out of the way to get it_ using `ref` (which C# 7 lets you do in a return position as well).

Another issue pointed to is the .NET Fram

[2016-04-14 22:39] vladd commented on #5292
@rn-3 What are the scenarios where your proposal can be useful?

If the library users have the source code of the library, they don't need to `supersede`, they can just edit the method in question and recompile the code. And if they don't have the source code (and don't bother to decompile the library, or the assembly in question is signed), they cannot add class parts: `supersede` doesn't (and ca

[2016-04-14 22:43] dpoeschl commented on #9325
@brettfo This doesn't look like the same failure as the [suspected reiterated version thing](https://github.com/dotnet/roslyn/issues/7660)...

[2016-04-14 23:07] rn-3 commented on #5292
The library users will have source code but editing the original files would not be recommended since that would break pulling in future updates to the library. The partial classes would be used to customize or extend the library by adding new files and not modifying original source files.
Class parts do not work across assemblies – that’s the reason for distributing the library along with the sou

[2016-04-14 23:16] jinujoseph commented on #10485
I tried adding the reference manually as suggested by @rchande , it builds fine at that point but fails at run time with FileNotFoundException.

[2016-04-14 23:42] VSadov commented on #10429
The other reason for mutability is that a struct whose constructor simply propagates parameter values to the field values is essentially freely mutable anyways.

User can change fields of any instance *in-place* to any other value by doing
[code]
so there is really no point in disallowing doing the same in a more efficient way
[code]

[2016-04-14 23:52] CyrusNajmabadi commented on #10429
I want to stress the point Mads was making even more:

If i make a tuple and i put data into it, only I can mutate that tuple.  If i hand that tuple to anyone else, they're always getting a copy.  As such, whatever i do to the tuple from that point on is invisible to them, and vice versa.

We get this behavior for free because we've decided to go with tuples as structs.  If we had tuples as refere

[2016-04-14 23:58] gafter opened #10592 "Remove code to "infer" positional pattern from a constructor"
The pattern-matching prototype contains code to infer a positional pattern from the presence of a constructor, but that has not been specified, reviewed, or approved. It is just an experiment. Unless it is championed, that code should be removed.

If we do need to support it, we need a dedicated bound node for it. Currently we piggy-back on the `BoundPropertyPattern` which is a bit of a hack.

[2016-04-14 23:59] gafter commented on #10592
Look for `BindUserDefinedPositionalPattern` to find the code.

[2016-04-15 00:14] gafter opened #10593 "Consider how to define a variable-argument version of a pattern decomposition operator"
Consider how we would support `params` for `operator is` for a variable number of pattern positions, for example in a regular expression the library does not know statically how many capture groups there are.

[2016-04-15 00:16] gafter opened #10594 "Bind subpatterns even in error cases"
This refers to the following code (the PROTOTYPE comments are being removed) in `BindUserDefinedPositionalPattern`:

[code]

[2016-04-15 00:19] gafter opened #10597 "Implement named parameters in positional patterns"
This issue refers to the following PROTOTYPE comments which are being removed from `BindUserDefinedPositionalPattern`:

[code]

This subfeature of positional patterns is simply not implemented yet.

[2016-04-15 00:26] gafter opened #10598 "Support nonstatic pattern-matching operators for active patterns."
Needed to support something like regular expressions.

[2016-04-15 00:29] gafter opened #10599 "Internationalize pattern-matching diagnostics"
There are a few diagnostics in the pattern-matching implementation that use `ErrorCode.ERR_FeatureIsUnimplemented` along with a hardcoded english-language string. Those features should either be removed or properly implemented. If they represent a diagnostic that just hasn't been written yet, it should be properly internationalized.

[2016-04-15 00:36] gafter opened #10600 "Should property patterns be capable of referencing an indexed property?"
If we want property patterns to be capable of referencing an indexed property, we will need to extend the bound nodes that represent them. Similarly for dynamic indexers and events. See also #9515.

[2016-04-15 00:58] gafter opened #10601 "Implement integral conversions for integral constant patterns"
We have specified that if the value to be matched in an integral type, and we have a constant pattern of an integral type, we use the same semantics as `==`.

If the value is not of an integral type, we need to check that it might contain a value of the appropriate integral type by using the same restrictions used in a type pattern.

That all needs to be implemented.

[2016-04-15 01:00] gafter opened #10602 "Implement constraints on the expression of a match expression."
For example, is there are constraints such as the fact that it must have a type (not be target-typed, lambda, null, etc).

[2016-04-15 01:05] gafter opened #10603 "Pattern matching at the top level in interactive"
It is possible to use pattern-matching at the top level in interactive, for example
[code]
That may need some work in the local binder factory, testing, etc.

[2016-04-15 01:07] gafter opened #10604 "Need to confirm how extra compiler generated blocks affect caching"
@AlekseyTs You added the following PROTOTYPE comment, but I'm not sure exactly what it means. Please rewrite this issue to describe it.

[code]

[2016-04-15 01:11] gafter opened #10605 "Should the filter for pattern variables stay?"
@AlekseyTs

The below comment was found in `DataFlowPass.VisitUsingStatement`. I'm not sure what the reason for the question is; perhaps it has something to do with separating the scope of the pattern variables from the scope of the using variables? Whatever it is, please explain in this issue, as I'm removing the PROTOTYPE comments in preparation for integration into `future`.

[code]

[2016-04-15 02:18] AlekseyTs commented on #10604
@gafter Let's discuss this offline.

[2016-04-15 02:22] AlekseyTs commented on #10605
The question is whether there is a good reason for the Where used inside the Assert, it is filtering out pattern variables. Should it?

[2016-04-15 02:56] AlekseyTs commented on #10604
Some statements are going to be surrounded with compiler generated BoundBlock that holds pattern variables declared within the statement. Both the statement and the block are associated with the same syntax node. We are trying to cache both. We need to understand how the cache will look like at the end, and whether that state helps us, or possibly hurts us (we might get wrong node from the cache,

[2016-04-15 03:55] alrz commented on #10153
@gafter Because I don't have access to those types. Otherwise I will just have two separate types with same name.

Unless we could define "operator is" as an extension, like this:
[code]
This would be great!

[2016-04-15 04:12] alrz commented on #10593
Hope this support types other than an array, like "IReadOnlyList".

[2016-04-15 04:41] ljw1004 commented on #7169
Okay, here's my detailed idea on what to do about it. I'll do precisely what @bartdeset wrote and Mads Torgersen also suggested -- "It seems it'd be quite invasive to return an open-ended set of possible inferred return types here". Put another way, I'll make it so that "inferred return type" algorithm when it sees an async lambda is able to infer the magical return type `InferredTask` or `Inferre

[2016-04-15 05:17] ilexp commented on #10378
It would be neat if there was a way to tell the runtime to perform extended JIT optimization using framework API. Let's say by default, there is only the regular, fast optimization, the application starts up quickly and all behaves as usual. Then I enter the loading screen, because I'll have to load levels and assets anyway - now would be an excellent time to tell the JIT to optimize the heck out

[2016-04-15 05:20] #10346 closed

[2016-04-15 05:28] AlekseyTs opened #10610 "BasicWinForms.Change control property in code test is possibly flaky"
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p1/593/

Regression

BasicWinForms.Change control property in code (from (empty))

Failing for the past 1 build (Since Failed#593 )
Took 12 sec.
add description
Stacktrace

MESSAGE:
Exception has been thrown by the target of an invocation.
+++++++++++++++++++
STACK TRACE:
Server stack trace: at Microsoft.Test.Apex.Hosts.Services.UIThre

[2016-04-15 06:08] axel-habermaier commented on #3208
There is also [DotNetCross.Memory.Unsafe](https://www.nuget.org/packages/DotNetCross.Memory.Unsafe) that exposes the IL instructions as regular .NET methods. The library is implemented using IL instead of C#.

[2016-04-15 06:13] xoofx commented on #10378
While advocating for many years about performance for C#, I completely concur with the fact that It would be great to see more investments in this area.

Most notably on the following 3 axes:

1. Allow to switch-on a better code gen JIT (but slower). There is high hope that this will be fulfilled by the undergoing work on [LLILC](https://github.com/dotnet/llilc), for both JIT and AOT scenarios. No

[2016-04-15 07:14] andrew-vandenbrink commented on #347
[code]

issue:
population.Item1
Question: How can we rename Item1?
Proposed Solution:
Extension property?
population.City = p =>p.Item1;

This will bring question if its possible to access/set property with string
Something to map
[code]

Wondering if intellisense will work?
[code]

How to declare now?
[code]

[2016-04-15 08:15] qwertie commented on #5031
Hmm, perhaps they're assuming an "assembly-wide not-null opt-in" that had been discussed earlier.

this sounds like (given a reference type T) `T x = default(T); (((T!) x) == null) == true`.

[2016-04-15 08:40] rf232 opened #10611 "Codegen in debug mode fails on iterating over IEnumerable function in base class"
**Version Used**: Future branch head and VS15 Preview

**Steps to Reproduce**:

[Bug.zip](https://github.com/dotnet/roslyn/files/220577/Bug.zip)

1. Compile attached CS file in Debug configuration

**Expected Behavior**:

A successful compilation

**Actual Behavior**:

Crashing csharp compiler, when attaching to the crashing compiler it appears to try to do
`Microsoft.CodeAnalysis.CSharp.CodeGen.C

[2016-04-15 09:12] Miista commented on #347
@andrew-vandenbrink: but this is not what you should use a tuple for… why wouldn't you use a class?

[2016-04-15 09:25] alrz commented on #4945
This allows to use types themselves as patterns which cause a conversion, e.g.
[code]

[2016-04-15 09:57] DavidArno commented on #10429
@VSadov,

If you follow that line of thought, then there really is not point in using tuples; make `x` and `y` public static variables, as that's the most efficient of all.

What you are really doing with `t.x = 42` is premature optimisation. You should not have to worry about such stuff: it's for the compiler to worry about. There really *is* a point to favouring avoiding modifying the contents o

[2016-04-15 10:04] alrz commented on #10429
@DavidArno C# is not a functional language nor it has immutability by default. So as you can see in @MadsTorgersen's example, when you define your variable as `readonly` it will be "immutable" as you wanted it to be so.

[2016-04-15 10:25] andrew-vandenbrink commented on #347
@Miista I don't want to maintain class with hundred of properties

[2016-04-15 10:33] GeirGrusom commented on #347
@andrew-vandenbrink you would rather maintain one or more tuple with hundreds of properties?...

[2016-04-15 10:34] Miista commented on #347
This is exactly the scenario I feared would happen when being allowed to name tuple properties.

[2016-04-15 10:34] DavidArno commented on #10429
@alrz ,

In @MadsTorgersen's example, `readonly (int a, int b) imm = (5, 5)` is a field. There doesn't seem any plans to allow either declaring an immutable tuple returned from a method or declaring an immutable "variable", eg with `let`; so no they won't be immutable, save for fields (which can already be made immutable).
[code]

So sure, you are right, "C# is not a functional language nor it has

[2016-04-15 10:35] FrankHB commented on #10552
It should be noted that there are not too many differences between C and C++ in this area. In C++, static data members can have same duration class (static or thread-local) with namespace scope or block scope variables, the only differences are scoping (which has an effect on locality of names, i.e. information hiding), and (vs. block scope ones) the time of initialization. I'm not a fan of this f

[2016-04-15 10:41] DavidArno commented on #347
@andrew-vandenbrink ,

Then don't have a class with hundreds of properties.

@Miista,
Someone, somewhere, will abuse any feature offered to them by a language. The solution is education; not denying everyone else that feature.

[2016-04-15 10:42] sunnycase commented on #10552
@FrankHB +1

[2016-04-15 11:07] HaloFour commented on #10429
@DavidArno

Cite?  The `let` declaration syntax is still in the proposal, and the result is still readonly.  That would make a tuple local immutable since the compiler wouldn't allow you to change the members of a readonly struct.

[2016-04-15 11:32] DavidArno commented on #10429
@HaloFour,

Interesting, the pattern matching spec does indeed contain:
[code]
So perhaps that'll mean the following will be true:
[code]
That'll be excellent new if true and will tackle most of my concerns over tuples.

[2016-04-15 11:33] axel-habermaier commented on #10429
@DaviArno: I still don't see the problem, and I support the team's decision because the reasons sound valid. If at all, your objection supports the introduction of ``readonly`` local variables. Also, marking the return type as ``readonly`` makes no sense, because it is completely irrelevant for the method whether the returned tuple is mutated (it's a copy, after all).

[2016-04-15 11:35] axel-habermaier commented on #347
@DavidArno

Aha. So then what's the problem with tuple mutability?

[2016-04-15 12:00] DavidArno commented on #347
@axel-habermaier,

It's easier to teach someone to fall into a pit of success than to teach them not to fall into a pit of failure.

In other words there's nothing inherently wrong with mutable tuples. Immutable tuples, that can be made mutable when really required, would be an excellent new feature. Some would abuse it, but the majority would both benefit from them and learn better techniques whi

[2016-04-15 12:40] andrew-vandenbrink commented on #347
No one ever tried with f# type provider?

[2016-04-15 13:07] svick commented on #10378
@SunnyWar I think there's enough enough room to optimize both code generation for math and GC.

As to which one should have higher priority, keep in mind that it's relatively easy to workaround bad performance in math by PInvoking native code or using `Vector<T>`. Working around bad performance due to GC overhead tends to be much harder, I think.

And since you mention servers, a big part of their

[2016-04-15 13:09] GSPP commented on #10378
I'm adding [JIT tiering](https://github.com/dotnet/coreclr/issues/4331) to the list of feature I see as required to make C# a truly high performance language. It is one of the highest impact changes that can be done at the CLR level.

JIT tiering has impact on the C# language design (counter-intuitively). A strong second tier JIT can optimize away abstractions. This can cause C# features to become

[2016-04-15 14:52] AdamSpeight2008 commented on #10600
What would (if any) be on the index?
* Constants `P { X[ 0 ] is var x }`
* Reference `P { X[ index ] is var x }`
* What about the checking of the index bounds? `Index <0 || Index >= X.Length`
* (VB) Is the dictionary lookup operator also allowed? `P { X!foo is var x }`

[2016-04-15 14:57] AndrewGretton commented on #7082
We're experiencing this issue too (gradual memory creep over process lifetime that often results in a crash). We have:

- 20 developers (most resharper users, some not)
- VS2015 Professional Update 2
- Around 80 projects, 1m LOC C#, 500k LOC JS

Removing our Code Analysis rulesets has helped the most to reduce memory usage (but now we have no Code Analysis :-1: )

VS Update 2 fixed issue #7784, wh

[2016-04-15 15:15] davkean commented on #7082
tag @KevinH-MS @heejaechang @ManishJayaswal

[2016-04-15 15:15] davkean commented on #7082
Sorry @mavasani

[2016-04-15 15:21] Giftednewt commented on #5098
@gafter,
I have an implementation of this which produces the same output as VS2013. My implementation also adds the warning mentioned for the AssemblyInformationalVersionAttribute. The changes I made are in this [commit](http://github.com/Giftednewt/roslyn/commit/9c1d4be3158853480c3570bbbe445e7f7ff8ce85)

I can PR it if you want?

[2016-04-15 15:47] OtherCrashOverride commented on #10378
Born out of a recent discussion with others,  I think its time to review the "unsafe" syntax.  The discussion can be summarized as "Does 'unsafe' even matter anymore?"  .Net is moving "out of the security business" with CoreCLR.  In a game development scenario, most of the work involves pointers to blocks of data.  It would help if there was less syntactic verbosity in using pointers directly.

Th

[2016-04-15 15:48] TPoise commented on #10378
I'm doing a lot of high-perf / low latency work in C#.  One thing that would be "the killer feature" for perf work is for them to get .NET Native fully working. I know it's close, but the recent community standups have said that it won't be part of v1.0 RTM and they're rethinking the usage for it. The VS C++ compiler is amazing at auto-vectorizing, dead code elimination, constant folding, etc. It

[2016-04-15 16:14] gafter commented on #4945
@alrz

No, it would not. Pattern-matching does not apply user-defined conversions. If it did, it would use the implicit ones only. Also, there is no "array pattern".

[2016-04-15 16:21] alrz commented on #4945
@gafter I assumed the "array pattern" part. Anyway, so if we define it as `implicit` it does apply the conversion right? I'm asking because #10429 states that this would work only for constants.

[2016-04-15 16:22] gafter commented on #5098
Yes, please submit a PR and we'll review it. Please tag me on the PR.

[2016-04-15 16:25] gafter commented on #4945
@alrz The only implicit user-defined conversion that would apply in any pattern-matching-like context is the conversion from the _switch-expression_ of a _switch-statement_ to a type that was switchable in C# 6: an enum, integral type, string, etc. We do not apply user-defined conversions in any other pattern-matching context.

[2016-04-15 16:45] Pilchie commented on #10575
I don't think that sort of formatting occurs frequently enough to warrant fixing.  Unfortunately, the code for the tagger that determins that location is closed source, or I would just make it "Up for Grabs".

[2016-04-15 16:45] #10575 closed

[2016-04-15 16:47] ManishJayaswal commented on #7082
@srivatsn

[2016-04-15 16:48] GSPP commented on #10378
Adding a proposal for [Heap objects with custom allocator and explicit delete](https://github.com/dotnet/coreclr/issues/4365). That way latency-sensitive code can take control of allocation and deallocation while integrating nicely with an otherwise safe managed application.

It's basically a nicer and more practical `new/delete`.

[2016-04-15 16:55] CyrusNajmabadi commented on #10429
@DavidArno

Agreed.  The caller can decide what they want to do with the data you give them.  Think about a tuple as a way of returning multiple pieces of data.  Now apply your 'readonly' logic as if you were only returning one piece of data.

i.e. say you do this:

[code]

Ok.  Now you want to return multiple values and you change the code to be:

[code]

But now you switch to tuples:

[code]

If

[2016-04-15 16:56] benaadams commented on #10378
@OtherCrashOverride @GSPP Destructible Types? https://github.com/dotnet/roslyn/issues/161

[2016-04-15 16:56] Pilchie commented on #10610
Dupe of https://github.com/dotnet/roslyn/issues/7643 (they both hit the same issue).

[2016-04-15 16:56] #10610 closed

[2016-04-15 17:08] asik commented on #347
Concerning mutability, if tuples can be passed as a single argument you run into the usual surprising behavior with mutable structs:

[code]

[2016-04-15 17:11] DavidArno commented on #10429
@CyrusNajmabadi,

Assuming the pattern-matching spec is up to date and that `let` will be able to used in place of `var` to denote a read-only local, then I can do this:

[code]
and this:
[code]
At which point, I'll be a happy person and there will be no use-case I can think of for wanting/needing to mark the tuple from `GetValues` as read-only. :grinning:

[2016-04-15 17:12] mattwar commented on #347
@asik this is true, but its also the same behavior you would see by passing a single value as an argument.  In the tuple case you are just passing multiple values.

[2016-04-15 17:16] asik commented on #347
@mattwar You mean this?

[code]
Not an equivalent example, you're re-assigning the parameter, not mutating the value referred to by the parameter. Here the behavior is consistent with reference types - re-assigning variables doesn't change the value - and hence is not surprising.

[2016-04-15 17:17] CyrusNajmabadi commented on #10429
@DavidArno My point is that having let/readonly locals is a nice-to-have.  However, it's orthogonal to wanting/needing immutable tuples.  Tuples being mutable is very much not a bad thing.  As mentioned before:

1. If you use them to pass around data, then being mutable is no problem as the values are copied.
2. If you use them to store data in a class/struct, then you can ensure immutability thro

[2016-04-15 17:18] alrz commented on #4945
@gafter Is there a specific reason for this? Wouldn't it be more consistent if "it was allowed for *all* the types that *is* switchable in C#?". This statement is still true for C# 6.0 -- it applies the conversion to all the possible types for `switch`. Now that those types are relaxed to almost all types, why still stick to those restricted set of types when it comes to implicit conversion?

[2016-04-15 17:19] DavidArno commented on #347
@mattwar,

It's similar behaviour; it is not the same though. There is a significant semantic difference between reassigning a variable and mutating part of the value held by a variable.

[2016-04-15 17:27] axel-habermaier commented on #347
@asik: Consider this:

[code]

How is the tuple case any more "surprising" than the integer case? In my opinion, people that are "surprised" by this behavior haven't fully understood the difference between value types and reference types as well as pass by value and pass by reference.

[2016-04-15 17:40] DavidArno commented on #10429
@CyrusNajmabadi,

OK, if you wish to play it like that, then the following two pieces of code are in no way equivalent:
[code]
In the first case, I am simply assigning a new value to a variable. In the second case, I'm changing an aspect of the value assigned to that variable, without assigning a new value. They are not equivalent and they lead to the inevitable confusion for many developers in th

[2016-04-15 17:42] asik commented on #347
@axel-habermaier Again, you are re-assigning the variable, not mutating it. It may look like mutation but people are usually aware that `a += b` is `a = a + b` and so on.

Even if C# programmers understand the difference value types and reference types, it doesn't matter in 99.9% of the code they write because mutable value types are so rare (and usually frowned upon).

[2016-04-15 17:43] CyrusNajmabadi commented on #10429
@DavidArno Message received.

I personally would very much like a mechanism for declaring readonly variables as well.  So i hope we are able to get that in in the C# 7 timeframe.  I know i will be writing a refactoring to update code to use it and i will be extensively apply that refactoring to all my code :)

[2016-04-15 17:47] MgSam commented on #10552
Duplicate of https://github.com/dotnet/roslyn/issues/49

[2016-04-15 17:49] #10588 closed

[2016-04-15 18:06] gafter commented on #4945
@alrz Those are the types that can have constant expressions (except float, double, and decimal).

[2016-04-15 18:24] gafter commented on #10600
@AdamSpeight2008

If we do it, certainly constant indices would be allowed. However, given that indexed properties are not supported in a first-class way in C#, it seems unlikely we would do it.

We would not support VB operators in C#.

[2016-04-15 18:53] OtherCrashOverride commented on #10378
Ideally, we want to get rid of IDisposable entirely and directly call the dtor (finalizer) when the object is no longer in use (garbage).  Without this, the GC still has to stop all threads of execution to trace object use and the dtor is always called on a different thread of execution.

This implies we need to add reference counting and modify the compiler to increment and decrement the count as

[2016-04-15 19:10] SunnyWar commented on #10378
@OtherCrashOverride I've also come to the conclusion that a reference counting solution is critical for solving a number of problems.

For example, some years ago I wrote message passing service using an Actor model. The problem I ran into right away is I was allocating millions of small objects (for messaging coming in) and the GC pressure to clean after they went out was horrid. I ended up wrapp

[2016-04-15 19:11] ilexp commented on #10378
Don't want to detail the rest of it in this general overview thread, just regarding this specific point of @OtherCrashOverride's posting:

As a general direction of design with regard to future "efficient code" additions, I think it would be a good thing to keep most or even all of them - both language features and specialized API - hidden away enough so nobody can stumble upon them, following the

[2016-04-15 19:23] asik commented on #347
Mutability also doesn't play nice with structural equality. I think it's telling that when I implement ValueTuple in C#6 as proposed, Resharper complains with

Consider:

[code]

This code isn't as evil as it seems because you're not modifying the actual dictionary key, only the local copy; still a confusing piece of code for someone used to the usual reference/immutable values semantics of C#. I

[2016-04-15 19:24] svick commented on #10378
@OtherCrashOverride

That would require you to find and update all existing references to that object. While the GC already does that when compacting, I doubt doing it potentially at every method return would be efficient.

[2016-04-15 19:37] SunnyWar commented on #10378
Today, the system imposes limitations on us that are purely historical and in no way limit how things can be done in the future.

[2016-04-15 19:56] gafter opened #10621 "Open issues in tuple conversions and overload resolution"
There are subtle interactions between tuple literal conversion, a hypothetical tuple widening conversion that was proposed in a recent LDM, and overload resolution. It would be incompatible to change the way this works later, so we need to iron out the details before tuples ship.

Here are some of the interesting conversions that affect overload resolution:

Does the conversion from (1, 2) to (int

[2016-04-15 20:18] gafter opened #10622 "Does a BoundPropertyPattern always contain BoundPropertyPatternMember?"
Currently, in the bound trees, a `BoundSubPropertyPattern` always contains `BoundPropertyPatternMember`s. But the list is statically typed as a list of expressions.

The list of expressions would be useful if we want to be more relaxed, for example for error recovery.

If we don't want to be more relaxed, we should tighten the typing on the list, and then we can stop converting the `Member` field

[2016-04-15 20:29] gafter opened #10624 "let statement may break compatibility with a user-defined type named let"
The parser doesn't know whether or not there is a user-defined type named `let`, so it parses a `let` statement assuming that no such type exists. As a practical matter than would break existing code that uses `let` as the name of a type. Do we want to do anything about this?

[2016-04-15 20:29] jnm2 commented on #10429
@DavidArno

If you were returning a user-defined struct type I would agree (and you would make it immutable). But the primary use case for tuples are multiple return values that have a very loose connection, if any. Which is why they are returned as a tuple of values and **not as a value**.

It's directly comparable to assigning two locals at once via two out parameters.

[2016-04-15 20:31] heejaechang opened #10625 "Move SQM TO AI [Project System]"
SQM is going away. project system needs to either remove SQM or move to AI.

[2016-04-15 20:32] heejaechang commented on #10625
related to https://github.com/dotnet/roslyn/issues/10433 and https://github.com/dotnet/roslyn/issues/10432

[2016-04-15 20:32] heejaechang commented on #10432
@srivatsn this is something asked by DEVDIV to finish soon.

[2016-04-15 20:44] gafter opened #10626 "Huge gap in enum range of ErrorCode.cs should be narrowed"
We should reduce the huge gaps we introduced in the values of new elements of ErrorCode.cs before shipping C# 7.

[2016-04-15 21:16] brandondahler commented on #9639
This appears to have been fixed with Microsoft (R) Visual Basic Compiler version 1.2.0.60317 that was released via Visual Studio 2015 Update 2.

Thanks all involved :+1:

[2016-04-15 21:16] #9639 closed

[2016-04-15 21:34] asik commented on #10429
I'm going to paraphrase [Eric Lippert](http://stackoverflow.com/a/3753640/154766) on why a struct should be immutable:

1. Because the general advantages of immutable types apply:
 - It's easier to reason about immutable values.
 - Immutable values are easier to make thread safe.
 - Immutable objects can be taken apart and re-used. With mutable objects you need to make deep copies to avoid acciden

[2016-04-15 21:46] srivatsn commented on #10383
This is by design currently. The compiler doesn't bind anything in the doc comments unless doc comment generation is on. The IDE sets the parse option to Diagnose so that it can offer language services in the doc comments.

[2016-04-15 21:46] #10383 closed

[2016-04-15 21:48] JoshVarty opened #10629 "MSBuildWorkspace cannot compile project"
**Version Used**:  Microsoft.CodeAnalysis 1.2.1

**Steps to Reproduce**:

1. Sample project (one project, one file) at: https://github.com/JoshVarty/MSBuildWorkspaceBug
2. Use the following to try to build the project:

[code]
3. Observe the following four errors:

[code]

**Expected Behavior**:

Compiles without errors as it does within Visual Studio.

I'm assuming there are problems with the ref

[2016-04-15 21:51] CyrusNajmabadi commented on #10621
It might be good to have a list of interesting permutations.  I’d like to see that list so I could figure out what my intuition would be in those cases.  Based on that I would have an easier time working back to actual language rules.

           -- Cyrus

From: Neal Gafter [mailto:notifications@github.com]
Sent: Friday, April 15, 2016 12:57 PM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: Cyr

[2016-04-15 21:51] VSadov opened #10630 "Fix detection of DeprecatedAttribute to understand TH2 format ."
Practically, the DeprecatedAttribute can have the following signatures.

- DeprecatedAttribute(String, DeprecationType, UInt32) – this is the Win8 and Win8.1 format for the deprecated attribute
- DeprecatedAttribute(String, DeprecationType, UInt32, Type) – this is the TH1 format for the deprecated attribute. Note that this form of the attribute constructor does NOT appear in the metadata for TH2 a

[2016-04-15 22:03] gafter opened #10631 "Pattern-matching versus arrays, dictionary, list, dynamic?"
- [ ] Will we support pattern matching with arrays?
- [ ] Will we support pattern matching with List<T>, Dictionary<K, V>? Think particularly of F#'s really useful list deconstruction, which feels impossible with IEnumerable since patterns shouldn't generally be executing methods like GetEnumerator/MoveNext.
- [ ] How should the type `dynamic` interact with pattern matching?

[2016-04-15 22:04] gafter opened #10632 "Pattern-matching when value out of range?"
- [ ] In what situations should the compiler be required by specification to warn about a match that must fail? E.g. switch on a `byte` but case label is out of range?

[2016-04-15 22:05] gafter opened #10633 "Augment `TestResource.AllInOneCSharpCode` to handle all supported pattern forms."

[2016-04-15 22:07] gafter opened #10634 "region analysis should be modified to handle pattern variables"
which are definitely assigned when a pattern match succeeds, and not definitely assigned in `case` blocks with more than one reachable case.

[2016-04-15 22:10] OtherCrashOverride commented on #10378
A reference should be a handle and therefore abstract whether the storage is stack or heap.  The runtime references the handle, not the actual pointer, requiring only the handle itself be updated when promoting a stack pointer to a heap pointer.  Again, this is all theoretical.

[2016-04-15 22:12] CyrusNajmabadi commented on #10429
@asik Several of those concerns were already raised, and hte specific reasons they don't apply were given.  For example:

There is no shared state here.  If you pass a tuple to someone, they get a copy of that tuple.

[code]

No, of course not.  No more than this would be redundant:

[code]

There is no expectation that an equality check will hold true between two entities after arbitrary code has

[2016-04-15 22:26] ljw1004 commented on #7169
This type inference stuff is complicated and makes my head hurt. I think it is a problem, what I wrote above, about `MyTask<T>` vs `YourTask<T>` both binding to the same `InferredTask<int>`. I wonder if it's possible to handle it by making a new type variable `Xi` for the `InferredTask` that came out of each async lambda. That way when one digging-in collapses it, then everyone else will see it co

[2016-04-15 22:43] asik commented on #10429
I was implicitely referring to the distinction often made between [Entities and Values](http://martinfowler.com/bliki/EvansClassification.html). In both cases the equality should hold. If they are entities, then they should compare as entities (by reference or some other id), and so it doesn't matter if they were mutated. If they are values, then they also are immutable and the equality should als

[2016-04-15 22:51] qwertie commented on #6505
I used to deal with that problem often in C# 3.0 + .NET 2.0, by using the LinqBridge library. Similarly, one could define `class ExtensionAttribute` and be able to use extension methods. If it wants, MS could go a step further and define an "official" forward-compatibility DLL for new features of C# 7, which would eventually become a part of .NET 5; I'm not sure of the technical details but isn't

[2016-04-15 23:01] xoofx commented on #10378
@OtherCrashOverride It is misleading to think that switching from a GC to a ref counting scheme will simply solve the problem of memory management for good. The latest research on the matter are even blurring the lines between the two techniques...

Afaik, the most recent research on the subject, [RC Immix conservative (2015)](http://cksystemsteaching.github.io/CMM-Summer-2015/CMM15-Miller.pdf) wh

[2016-04-15 23:30] OtherCrashOverride commented on #10378
The goal is not to solve the problem of memory management; rather, to make it deterministic.  The focus is on __when__ object cleanup takes places rather than __how long__ it takes.  Currently, games and other real-time systems suffer due to the GC halting everything for an indeterminate amount of time while collection takes place.  Additionally, running finalizers in different threads causes issu

[2016-04-15 23:32] HaloFour commented on #10429
Seriously, the horse had been flogged.  There have been multiple retorts by members of the design team that state that the concerns around mutability are mitigated by the nature of structs.  Repeating the same argument over and over again and expecting a different result is the definition of insanity.

Tuples aren't entities.  They're no more containers than the argument list is a container.  They

[2016-04-15 23:52] CyrusNajmabadi commented on #10429
I think there's a disconnect.  And i'm a bit worried about attempting to classify things in such a manner.  A tuple is neither of those things.  A tuple is simply a bundling up of those things.  Think of it in the same way as a parameter list.  Do people deeply struggle with what a parameter list is?  I don't really think so.  Do they need to wonder if they should think of the parameter list as an

[2016-04-15 23:56] CyrusNajmabadi commented on #10429
That would be a nifty warning.  I think i would tweak it a bit.  Namely we could consider a warning if you wrote into a field of a local struct and you never read from the struct afterwards.  For tuples (a new type) i think we could safely add that warning.  For existing structs, i think we'd either have to not have the warning, or it would need to come in some sort of 'warning wave' so that custo

[2016-04-16 00:11] HaloFour commented on #10429
@CyrusNajmabadi

I imagine that the CLR would make that a bit difficult, if not impossible.  Afterall, you couldn't have a `Func<()>` since `Func<void>` isn't legal.  However, if `System.Unit` were added in the same effort now adding `ValueTuple<...>` I think it makes a lot of sense to have `()` equate to that.

Is there a reason that this couldn't be done?  Have 1-tuples simply not exist from the

[2016-04-16 00:18] gafter commented on #8819
We've decided not to do it this way. See #10601.

[2016-04-16 00:18] #8819 closed

[2016-04-16 00:19] xoofx commented on #10378
Sure, I know what a RC is good for and that's what I implied by :wink:

But the determinism can be reinforced by alternative forms. The following options are perfectly deterministic, and they deliver even better performance in their use cases compare to a GC/RC scenarios because they are lighter and exactly localized to where they are used:
- Allocation of a class on the stack
- Embed instance
- B

[2016-04-16 00:27] CyrusNajmabadi commented on #10429
Hence a V1 thing :)

Then i would just be upset that Unit/Void were not the same thing :)

Getting things consistent would be tricky.  It especially has conflicts around nullability/non-nullability.

For example, with the tuples today being structs, it's fine to have things like:

[code]

Say we allow a single-type form.  We would then be able to have:

[code]

So now you can a nullable 1-tuple.

[2016-04-16 00:32] gafter opened #10636 "Possible unification of type pattern, positional pattern, and property pattern"
This is a possible unification of the syntax for the positional pattern, property pattern, tuple pattern, var pattern, and type pattern.

The syntactic constraints on the syntax for _recursive_pattern_ are as follows:
- At least one of the parts before the _identifier_ is required.
- The _pattern_type_ may not be a tuple type.

Furthermore, when a _positional_subpattern_ is present, a _identifier_

[2016-04-16 00:37] gafter commented on #10636
@AlekseyTs @agocke FYI

[2016-04-16 01:12] tmat commented on #10309
Minimal repro:

ClassLibary1.dll (Portable)
project.json =

[code]

ConsoleApplication1.exe -> ClassLibrary1.dll
project.json =

[code]

Program.cs:
[code]

[2016-04-16 01:22] AdamSpeight2008 commented on #10600
My comment was more about, what would be allowed should pattern-matching be brought into VB

[2016-04-16 01:23] AdamSpeight2008 commented on #10600
My Comment was more about, what is should be allowed if pattern-matching is added to VB

[2016-04-16 01:26] asik commented on #10429
I wouldn't feel too safe.
[code]
Is this correct? In C#6, using conventional wisdom and following .NET design guidelines, yeah. In the next version of C#, I'll have to be more careful.

[2016-04-16 01:33] HaloFour commented on #10429
@asik

Doesn't feel any different from:

[code]

Anyway it sounds like a very contrived case.  And that same wisdom applied to C# 1.0.  Unless you never put a `System.Drawing.Point` into a `System.Collections.ArrayList`?

[2016-04-16 01:57] asik commented on #10429
You are re-assigning a function parameter, which never changes the value passed in, regardless of value vs reference, mutable vs immutable. This code is obviously incorrect in all circumstances and is just as obviously wrong as:

`void Bar(string p) { p = ""; }`

In my example, you cannot know whether the code is correct. It probably is if you're using C#6, so I probably wouldn't spot this as a po

[2016-04-16 02:00] OtherCrashOverride commented on #10378
Before any more academic papers are cited, we should probably get back to the topic of discussion: "State / Direction of C# as a High-Performance Language"

My suggestions was effectively "Make unsafe code easier to use and more of a first class citizen."  I will add that this includes "inline assembly" of .Net bytecode.

Other than that, I do not feel that making C# more burdened with special rul

[2016-04-16 02:03] tmat opened #10637 "Cleanup interop code"
The following APIs are obsolete on netstandard1.3/FX 4.6:

[code]

[2016-04-16 02:17] HaloFour commented on #10429
Yep, which makes mutable struct tuples quite consistent with the semantics of an argument list.

[2016-04-16 02:51] xoofx commented on #10378
Precisely, I have contributed to the prototype for class alloc on the stack linked above and I'm a strong supporter to encourage .NET devs performance enthusiasts to build such prototypes.

[2016-04-16 04:40] playsomethingsaxman commented on #9120
Let me explain an expansive real world use for enum inheritance that I have actually run into: Win32 interop. You want strong typing without blind casting, mostly to guide Intellisense and prevent all the mistakes you'd be making if you used C++ instead.

First example is kernel object security flags. The base type would have values like GENERIC_WRITE or GENERIC_READ. But derived types would inclu

[2016-04-16 05:28] playsomethingsaxman commented on #8115
You can mock this up with an IDisposable stack of delegates. Instead of "defer", push a lambda closure to the stack. Inside Dispose(), run them in reverse order. That's a lot of overhead for reaching a finally block that's usually less than a Page Down away. It feels pointlessly clever.

The problem with a struct implementing IDisposable to solve this pattern everywhere is that Dispose() will caus

[2016-04-16 05:45] playsomethingsaxman commented on #8014
I think you're close to missing something much more powerful: why not an `await fork` keyword pair that duplicates the task state object (entirely in heap) and continues each task after the fork, POSIX-style?

[2016-04-16 07:25] marek-safar opened #10639 "Using static ignores Obsolete attribute"
**Version Used**: 1.2.0.60317

**Steps to Reproduce**:
1. Compile following program

[code]

**Expected Behavior**:

Compilation error

**Actual Behavior**:

No error

[2016-04-16 10:02] eyalsk opened #10640 "Is the Roslyn roadmap dated?"
Some features like the Interactive Window exists since VS2015 Update 1 and probably few more things so maybe someone can have a look and update the [project roadmap](https://github.com/dotnet/roslyn/wiki/Roadmap) page? :)

P.S. Just an idea, it would be great if features of VB.NET and C# were categorized by versions so we would know what was implemented in previous releases since the first release

[2016-04-16 10:28] vladd commented on #10429
@CyrusNajmabadi I don't think that 1-tuple should be the same as its inner value, so this eliminates the problem with nullable 1-tuple. Just like there is no problem with a `struct` having single `string` field: the `struct` itself is a value type, hence one can always produce a nullable type from the said struct.

Special-casing 1-tuple makes it way too special.

Another thing is that for the con

[2016-04-16 10:41] alrz commented on #4945
@gafter Ok, if C# had support for extension `is` operators (I hope) that wouldn't be much of an issue,
[code]
That would be just perfect.

[2016-04-16 11:26] svick commented on #10378
@OtherCrashOverride

So, to avoid allocating and deallocating an object on the heap, you instead have to allocate and deallocate a handle on the heap? That doesn't sound like a great win, especially since it also makes every dereference about twice as slow as previously.

[2016-04-16 11:39] svick commented on #8115
@playsomethingsaxman

No, it won't. When you you use `using` on a `struct`,  the `Dispose()` method is called using `constrained. callvirt`, which does not box the value.

[2016-04-16 12:29] playsomethingsaxman commented on #8115
Niiice, learn something new every day. Not sure what we really need then.

[2016-04-16 13:13] MgSam commented on #10640
They put this together recently: https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md

I don't know if it's linked anywhere.

[2016-04-16 13:34] eyalsk commented on #10640
Thanks! hopefully they will update the roadmap page so people would know about it too! :)

[2016-04-16 13:38] jonathanmarston commented on #10378
@OtherCrashOverride

I agree that intrinsics shouldn't be created for all SSE4 instructions just for the sake of allowing access to SSE4 from C#, but there are some very common bit-level operations for which it would make sense to add highly optimized implementations to the framework anyway. For these, why not make them JIT to a single instruction, if available on the executing platform?

POPCNT e

[2016-04-16 13:59] miloush commented on #10343
I agree that this is very annoying change from VS 2013. I don't mind any default as long as I can switch between them.

[2016-04-16 14:36] gafter commented on #8115
@playsomethingsaxman

I suggest you rewrite the original post using your suggested mechanism. Don't modify existing types; if you need to declare a new struct, include it in your solution. Is it easier to read?

[2016-04-16 14:38] gafter commented on #10640
The Roslyn repo does not contain any roadmap for features other than language features. The language feature status pages are fairly up-to-date.

[2016-04-16 14:54] OtherCrashOverride commented on #10378
@svick

This discussion is not intended to define a specification for memory management.  It is hoped that an implementer of such a system would be competent and intelligent enough to avoid obvious and naive design issues.

@jonathanmarston
They key point is that adding something like a ``BitCount`` method is a framework and/or runtime modification.  It should not require any modification to the C

[2016-04-16 15:00] msedi commented on #10378
I also agree that there should be no SSE or other intrinsics in the IL. Moreover there should be a more generic abstraction of this command to let the JITter recognize that there might be some, for example vector operation. Currently writing a simple addition of two arrays produced too much IL code.

But I must admit I'm currently not aware of what the JITter really makes out of this code.

Anothe

[2016-04-16 15:12] OtherCrashOverride commented on #10378
I also mentioned that is something I would like.  It solves problems such as this: dotnet/corefx#5474

It would also be extremely useful for 'wrappers' that interop with native libraries.  Currently, something like SharpDX needs to patch IL bytecode.

[2016-04-16 15:40] eyalsk commented on #10640
@gafter okay, thank you for clarifying this.

[2016-04-16 15:43] gafter commented on #4945
Yes, obviously pattern-matching on something of type `string` should parse it as an `int`. `</sarcasm>`

[2016-04-16 16:19] JohnyL commented on #118
**@stephentoub** In your original example with Choose function, how would I get to know _which_ Matrix3D object had been changed?

[2016-04-16 17:15] kintar0 commented on #5172
The with-expression will come in handy especially when you are dealing with composed records. Consider the following records:
[code]
Will it be possible to write
[code]
to change the properties in deeper levels?

When working with immutable classes, changing properties that are not on the 'first level' were one of my main reasons to switch back to mutable classes. The number of With.... methods yo

[2016-04-16 17:19] gafter commented on #5172
@kintar0 As currently specified, you would have to

[code]

[2016-04-16 17:25] alrz commented on #4945
@gafter I'm sure you saw my point though. I've defined an `is` operator for the type `string` that has an `out` parameter of type `int` so that you could bind it in a pattern to match against a `string`.

Basically `T(..)` pattern is only valid if the type `T` has an applicable `is` operator overload, right? So if we define something like `bool is(string, out int)` it would become a fallible posit

[2016-04-16 17:28] gafter commented on #4945
@alrz I think you're imagining that pattern-matching does overload resolution on all of the possible `operator is` methods that it can find, based on the "expected" types of the patterns. It doesn't do that. If this is the pattern-matching operator for `string`, then parsing a `string` as an integer is what pattern-matching on a string (with one subpattern) would mean.

[2016-04-16 17:46] alrz commented on #4945
@gafter So `is` operator overloads must have different number of `out` parameters regardless of their types? That is understandable because something like `string(var value)` will be ambiguous if it was overloaded. However, that would make some other use cases impossible to implement. What if I want to define two active patterns for `string` type like `bool string(string, out int)` for parsing cas

[2016-04-16 18:24] bondsbw commented on #9120
@playsomethingsaxman ```[Flags]``` enums are a bit of a different animal.  They are essentially used as a condensed set of Booleans.  The following are effectively equivalent (from C#, not considering P/Invoke):
[code]
[code]

For _flags which are used as flags are designed to be used_, with ```&``` comparisons, I think subclassing makes sense.  Just as subclassing ```AccessClass``` and adding a B

[2016-04-16 20:25] gafter commented on #10459
Fixed in the `features/patterns` branch by #10590

[2016-04-16 20:25] #10459 closed

[2016-04-16 20:25] gafter commented on #10364
Fixed in the `features/patterns` branch by #10590

[2016-04-16 20:25] #10364 closed

[2016-04-16 20:26] gafter commented on #8778
Fixed in the `features/patterns` branch by #10590

[2016-04-16 20:26] #8778 closed

[2016-04-16 20:26] gafter commented on #9284
Fixed in the `features/patterns` branch by #10590

[2016-04-16 21:49] CyrusNajmabadi commented on #10429
[code]

I'm not understanding the concern with this code.  It would stay legal, just as it is today...  Could you clarify what the issue would be with this?

[2016-04-16 21:52] CyrusNajmabadi commented on #10429
Yes.  I think providing an analyzer that would warn in this case would make a lot of sense.  Just today i got PR feedback about me making this mistake in my own code.  I would have definitely liked it if the system had just told me about the issue.

--

I think i'm losing what your argument is at this point.  Could you clarify?

[2016-04-16 22:01] CyrusNajmabadi commented on #10429
@vladd That's ok, there's no one arguing for this (not even me) :)

it just doesn't fit cleanly enough.  Not with the language and not with the runtime.

If we could have had all this done for V1, then i would have felt differently.  But we're 16 years in, and life is full of compromises :)

[2016-04-16 22:07] alrz commented on #7071
An option in "formatting" category to break method parameter list (or any other code if possible) to multiple lines (one per param) when it's longer than 80 chars would be great.

[2016-04-16 22:09] JoshVarty commented on #10629
If I add:
[code]

to the first `PropertyGroup` it seems to compile correctly.

[2016-04-16 22:17] gafter commented on #4945
@alrz

You write a class that *names* each pattern you're trying to define, and you place the pattern-matching operation there. And then you use that name in the pattern so it is clear to the reader which of them is being used.

[2016-04-16 23:00] gafter opened #10642 "tuple decomposition declarator"
This feature would allow multiple names to be declared wherever a single identifier declares a variable today, and the type is statically known to be a tuple type. Those individual identifiers would refer to the members of the (anonymous) underlying tuple variable.

For example, if a method returns a tuple

[code]

then one could call this method, and receive the results into an anonymous local va

[2016-04-17 00:10] gafter commented on #10503
@alrz You describe the syntax you want to write, but not its semantics. What would it do?

[2016-04-17 00:11] gafter commented on #10506
I'd rather do #10552.

[2016-04-17 01:11] gafter opened #10645 "ref returns implementation and spec disagree"
The implementation of _ref returns_ in the [`future`](https://github.com/dotnet/roslyn/tree/future) branch doesn't agree with the specification in #118. For example, it allows taking a `ref` of a local variable and storing it in another local variable.

Also, there is no specification in [`docs/features`](https://github.com/dotnet/roslyn/tree/future/docs/features) for _ref returns_.

[2016-04-17 01:42] HaloFour commented on #10642
You mean like this?

[code]

[2016-04-17 02:13] HaloFour commented on #10631
Is there an issue using array/collection initializer syntax for list patterns that would apply to anything `IList<T>`, including arrays?

[code]

A sequence wildcard pattern would be nice to indicate that you don't care how many previous or subsequent elements there might be:

[code]

F# has no such facility.

The cons pattern is interesting, but I'm not aware of a CLR type that it would map to cl

[2016-04-17 04:10] gafter commented on #10642
@HaloFour

Almost. With this grammar (type followed by declarator_id), it would be like this

[code]

[2016-04-17 04:27] gafter commented on #2930
@agocke There is a checklist here for local functions that you might find useful.

[2016-04-17 04:53] AdamSpeight2008 commented on #10642
Shouldn't it be?
[code]
as the out parameter is a tuple?

[2016-04-17 05:51] KirillOsenkov commented on #10484
Note that using VSHost prevents you from inspecting most optimized variables in Watch/Locals/etc. windows. I always turn it off (and enable COMPLUS_ZapDisable=1) to actually see the variables in the debugger. My understanding is that the vshost process doesn't inherit environment from devenv, so COMPLUS_ZapDisable=1 has no effect.

I've never seen any benefit from VSHost being turned on. No percep

[2016-04-17 06:05] gafter commented on #10642
@AdamSpeight2008 No, that is not a use of the feature under discussion here. That is just an ordinary parameter that has a tuple type, and what you wrote will work whether or not this feature request is done. To make it a use of the feature described here, you'd write

[code]

[2016-04-17 07:26] alrz commented on #10503
@gafter The idea is that it would get blocked if you `return` from an async block i.e. turning every `await` to `GetAwaiter().GetResult()`, and otherwise it should fire-and-forget the async part. In the latter case the compiler could produce a warning if the exceptions are not caught.

[2016-04-17 08:23] alrz commented on #10642
I don't think introducing yet another decomposition syntax would be a good idea. As for tuple pattern verbosity we can use an *identifier pattern* (from Swift) which would also work in positional patterns,
[code]

I think the only use case when we need tuple deconstruction in `out var` is that we have a generic type `G<T>` where `T` is a tuple. So it would be very unlikely for you to have an `out`

[2016-04-17 08:58] alrz commented on #10600
Also indexers themselves, `P { [ 0 ] is var x }`. Related: #5811.

[2016-04-17 09:19] orthoxerox commented on #10631
As I have said in one of the other issues, I feel that arrays/lists will be well-served by a cons pattern coupled with list views/slices/segments. Enumerables are better off with LINQ. Dynamics can be matched against a property pattern. I have nothing to offer wrt dictionaries.

[2016-04-17 09:22] alrz commented on #10631
I think complete analogy with *object-or-collection-initializer* would be really neat and I don't think it would be ambiguous at all (that's why we have a *non-assignment-expression* in object initializers).

As for dictionaries we can use indexer patterns ([#10600 (comment)](https://github.com/dotnet/roslyn/issues/10600#issuecomment-210981849)).

[2016-04-17 09:54] playsomethingsaxman commented on #9120
The switch statement you use on RgbColor can already be broken: (RgbColor)1234. It's a matter of being "likely" as you said. The topic of what should and shouldn't constitute an integer constant is too vast to try to measure and contain.

I use interop as a frequent example because it is a subclass of an important category: speed. Everything is eventually a leaky abstraction when you're coding for

[2016-04-17 10:35] alrz commented on #4945
@gafter So that would be something like this:
[code]
I suppose `operator is` would not be restricted to take the enclosing type as the first parameter, In contrast, conversion operators are restricted (`CS0556`).

Now, if I want to define it as an extension operator for the type `int`,
[code]
Did you see the problem? **It is not clear that which type we are targeting.** `GetValues` method also had

[2016-04-17 11:00] mklemarczyk commented on #347
It is not a Python to support Tuples. In some time it will be a C++ + Python + Java.
It will never work!

[2016-04-17 11:03] playsomethingsaxman commented on #8115
I can't modify existing types but I can create extension methods? Game on. But at some point a .NET-facing library has to do its part and accommodate basic .NET patterns.

To simulate what "defer" really is...

[code]

To me that would be a nightmare to step through and debug. Here's another question: what happens to the remaining deferrals if the first one throws and all of them are guaranteed to

[2016-04-17 11:52] eyalsk commented on #347
@mklemarczyk Java doesn't have tuples, C++11 tuples works fine and it works pretty good in other languages such as Python, Scala and F# and many others.

There's no reason why C# can't have features that exist in other languages, if you followed this feature you would know that there was a lot of feedback and work on it so I don't know why you think it wouldn't work so please elaborate.

There's n

[2016-04-17 11:54] JesperTreetop commented on #10631
If possible, please make that some sort of duck-typed `IReadOnlyList<T>` instead - `IEnumerable<T>` with an indexer with a getter of `T` and a `long` or `int` `Count`. (In the tradition of awaitables, foreach and collection initializers being speced using duck typing instead of interfaces. If `IReadOnlyList<T>` had been there right in 2.0, everyone would have adopted it and this wouldn't have been

[2016-04-17 14:01] svick commented on #10553
@leppie Isn't [Language Feature Status](https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md) what you want? (Though it doesn't have issue link for Source Generation and says that its branch is future.)

[2016-04-17 16:03] asik commented on #10429
The developer probably intended to set each item's X property to 10. If item is a mutable struct, the information is lost as you're only modifying your local copy. This is but one example of how mutable structs are tricky and easily cause bugs, and why they're usually avoided.
This has been a well accepted principle in the community, if you look at top-rated Stackoverflow posts by people like Eric

[2016-04-17 17:42] HaloFour commented on #10642
@gafter How about with lambdas?

[code]

Might be weird with the parenthesis, especially in the above case where the delegate accepts a single parameter and the parenthesis could normally be omitted, but doing so would make it ambiguous if there was an overload accepting a delegate with two parameters.

[2016-04-17 17:56] tmat opened #10647 "Improve error message of warning RS0007: Avoid unnecessary zero-length array allocations."
Currently the warning message uses C# syntax even for VB:
[code]

It would also be useful to display the actual type instead of generic T.