[2019-09-27 15:48] sharwell commented on #38896
This should probably be using the existing option `object_collection_array_initializers`.

[2019-09-27 15:49] AArnott commented on #38504
Yes. It repro'd for me consistently this morning in the several times I tried.

[2019-09-27 15:52] AArnott commented on #38504
https://developercommunity.visualstudio.com/content/problem/752106/editorconfig-dotnet-sort-system-directives-first-s.html

[2019-09-27 15:52] enghqii commented on #38884
Forcibly copying and pasting the `<packageSources>` of **NuGet.Config** in the project folder onto the global nuget config file on my machine (`C:\Users\enghq\AppData\Roaming\NuGet\NuGet.Config`) kind of solved this temporarily in a way.

Still, I have no idea why MSBuild couldn't find the project config file, but I think the topic now is not the one which is related to this project itself.

Closi

[2019-09-27 15:52] #38884 closed

[2019-09-27 16:02] enghqii commented on #38884
@jaredpar Oh Sorry I couldn't see your comment before I close the issue :(

`dotnet --list-sdks` was like this,
[code]

and the `.\Restore -binaryLog` is now like this, but since I've overridden the nuget.config, it now seems to be working :)

thanks for the comment btw!

[code]

[2019-09-27 16:03] mavasani commented on #38885
Likely a case we are bailing out due to delegates and captures being involved

[2019-09-27 16:06] CyrusNajmabadi commented on #38896
I would personally expect this to be affected by the exact same option that covers switch statements.

Having something called 'array_initializers' have an effect on switch expressions just seems super wacky

[2019-09-27 16:11] jaredpar commented on #38884
Just to check but what HEAD were you originally seeing this restore error with? The switch from the .NET Core 3 preview to RTM just merged yesterday. Wanted to make sure this didn't happen because you tried using the RTM bits before we switched over.

[2019-09-27 16:32] enghqii commented on #38884
My HEAD has been `8c8cdca` the whole time. since it started to work, I just pulled it to the latest master which is `b3ee8c2`.

[2019-09-27 16:37] jaredpar commented on #38884
Hmm ... there seems to be some flakiness around our recent switch to the RTM SDK. It's been devilishly hard to track down though. This seems to be another symptom.

[2019-09-27 17:13] cston opened #38916 "Formatting of type parameter with attribute includes a line break"
A line break is included in the formatting of a type parameter with an attribute.

Create a .NET Core 3.0 C# project and Go To Definition on `System.IEquatable<T>`:

<img width="348" alt="GoToDefinition" src="https://user-images.githubusercontent.com/10732005/65788125-42069f00-e10f-11e9-8a48-37789d7c50b3.PNG">

[2019-09-27 17:34] sharwell commented on #38900
Disposable arguments to a constructor are often treated as transferring ownership to the newly-constructed type. If the non-copyable structs proposal gets implemented, it will be possible to make these cases explicit in an API.

[2019-09-27 17:40] #16681 closed

[2019-09-27 17:40] #38224 closed

[2019-09-27 17:48] CyrusNajmabadi commented on #38914
I agree. Here's my logic:

It is *often* the case that i want to suppress a multitude of reported issues.  So i want quick access to that option.  I will perform the action, and then likely perform it some unbounded amount of times ore.

However, the same does not hold true for 'configuring' the analyzer.  If i configure, i'll likely only configure it once or twice to get it at the level i want, t

[2019-09-27 17:51] SergeyTeplyakov commented on #38900
I don't think this is true. I would say that this is a rare case from my experience (and this is the reason why the exceptions list in the article that I've mentioned is so short).

I'm happy to do the research to prove my point, but my bet is that ownership transfer would be in minority;). And this is, I think, quite reasonable: there is a subtle difference between composition and aggregation. Ag

[2019-09-27 17:55] sandyarmstrong opened #38918 "Inline Rename: Cannot type "." when renaming namespace"
**Version Used**: 3.3

**Steps to Reproduce**:

1. Right-click a namespace in any C# file.
2. Select "Rename" menu item.
3. Type a new namespace that include a "." character.

**Expected Behavior**:

You can type or paste a "." character as long as it is a valid namespace string.

**Actual Behavior**:

You cannot type a "." character. If you attempt to paste one, the outline becomes red, and the p

[2019-09-27 18:04] vsfeedback opened #38919 "mbox shortcut changes in WPF"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/554389/mbox-shortcut-changes-in-wpf.html)._

---
<p>In WPF/C#, I used mbox shortcut. At that time, this code was inputed.</p><pre>System.Windows.Forms.MessageBox.Show(&quot;Test&quot;);
</pre><p>But I want to enter the code below in WPF.</p><pre>System.Windows.MessageBox.Show(

[2019-09-27 18:07] sharwell commented on #38504
📝 The issue observed by @AArnott turned out to be an edge case where a customized project configuration disabled the IDE's support for .editorconfig files. I'm going to mark those comments as resolved since we're dealing with that issue internally.

[2019-09-27 18:10] huoyaoyuan commented on #38910
As I know, 'bool' is not considered unmanaged. It various in many platforms/convensions. "Not 0" or "only -1"? 1 byte or pointer size, or invariant int32?

[2019-09-27 18:21] sharwell commented on #38918
Duplicate of #3583

[2019-09-27 18:21] #38918 closed

[2019-09-27 18:23] sandyarmstrong commented on #3583
**Version Used**: 3.3

**Steps to Reproduce**:

1. Right-click a namespace in any C# file.
2. Select "Rename" menu item.
3. Type a new namespace that include a "." character.

**Expected Behavior**:

You can type or paste a "." character as long as it is a valid namespace string.

**Actual Behavior**:

You cannot type a "." character. If you attempt to paste one, the outline becomes red, and the p

[2019-09-27 18:33] jnm2 commented on #37913
Could you reopen, please? `IEqualityComparer.GetHashCode` has `[DisallowNull]` which means that the code currently generated by 16.3.1 produces a warning:

[code]

.NET Core 3.0 definition:

[code]

https://github.com/dotnet/corefx/blob/v3.0.0/src/Common/src/CoreLib/System/Collections/Generic/IEqualityComparer.cs

[2019-09-27 18:52] sharwell commented on #38900
Examples of transfer would include:

* `StreamReader`
* `ReferenceCountedDisposable<T>`
* `System.Net.Http.StreamContent`

My main objection to the rules today is there is no guidance available which a user can follow to end up with correct code and no false positives or false negatives from the analyzer.

[2019-09-27 18:55] kindermannhubert commented on #38910
@huoyaoyuan Bool is explicitly stated as unmanaged type by [documentation](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/unmanaged-types).

[2019-09-27 19:02] SergeyTeplyakov commented on #38900
I'm not saying there are no exceptions to my point. What I'm saying is that the transfer is an exception. And the IDE rules should be built around the common case.

I disagree with this: the rule is - dispose the stuff that you create. And the diagnostic should detect this case and should not cause false negatives in the case when the resource is most likely not owned by the instance.

From my per

[2019-09-27 19:02] sharwell commented on #37913
@jnm2 `EqualityComparer<T>.GetHashCode` is public, virtual, and documented to throw on null:
https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.equalitycomparer-1.gethashcode?view=netframework-4.8#System_Collections_Generic_EqualityComparer_1_GetHashCode__0_

[2019-09-27 19:19] jnm2 opened #38921 "Incorrect IDE0044 when NRTs are enabled, the class is generic, and the field is only set by a non-this reference"
Visual Studio 16.3.1 and 16.4p1

IDE0044 should not be reported.

[code]

Similarly:

[code]

Csproj:
[code]

[2019-09-27 19:35] #34761 closed

[2019-09-27 19:48] #38819 closed

[2019-09-27 19:48] 333fred opened #38922 "Handle reparenting LocalFunction TypeParameters with nullablility reinference"
[code]

The parent of that type parameter T should be the given local function, and all usages of that type parameter need to be substituted as well. This includes:
* Regular usage as a type symbol
* Use in substitution for other type symbols
* Use as the return/argument types off of calls from other substituted types.

[2019-09-27 19:49] #36930 closed

[2019-09-27 19:49] #38587 closed

[2019-09-27 19:56] CyrusNajmabadi commented on #37913
We don't need to do that.  Rather. `EqualityComparer<T>` needs to be fixed up.   It's `GetHashCode` does *not* throw (which is why BCL recommended we used this pattern when generating default hashcodes for people.

[2019-09-27 19:59] CyrusNajmabadi commented on #37913
Note: thsi is also critical for Roslyn since htis is how we emit `.GetHashCode` for an anonymous type.  We just use `EqualityComparer<whatever-ref-type>.Default.Equals` knowing that it will properly handle null checks.

So something has gone off the rails here in terms of how this type is actually annoted in the BCL.

[2019-09-27 19:59] jnm2 commented on #37913
@CyrusNajmabadi `EqualityComparer<T>.GetHashCode` is documented to throw as Sam points out, but the instance you're referring to is the one from `EqualityComparer<T>.Default` which never throws.

[2019-09-27 20:01] CyrusNajmabadi commented on #37913
Yes.  I get that.  I'm pointing out the documentation must be wrong here (and also cannot change as it would break potentially everyone) :)

[2019-09-27 20:01] CyrusNajmabadi commented on #37913
`EqualityComparer<T>.Default` returns an `EqualityComparer<T>` so it is wrong for the documentation to say that impls must throw.

[2019-09-27 20:04] CyrusNajmabadi commented on #38921
Doesn't repro for me on 16.4p1:

![image](https://user-images.githubusercontent.com/4564579/65798764-58205980-e127-11e9-8bf6-8f60c1ece976.png)

[2019-09-27 20:11] jnm2 commented on #37913
This is the extent of the relevant documentation I can see from Sam's link:

I understand this to be how the docs usually say, "you *might* get such and such an exception. If you do, this is why."

[2019-09-27 20:13] miloush commented on #38919
Since both `System.Windows` and `System.Windows.Forms` are both included by default in the respective project, perhaps just inserting unqualified `MessageBox.Show` would do the trick. And if used elsewhere, the add using quick fix can fix it easily.

Otherwise, I think this is easy enough to solve by users themselves (i.e. editing the snippet or creating your own).

[2019-09-27 20:14] jnm2 commented on #38921
I'm reproing on 16.4p1. Did you press Ctrl+. on the line? The default visibility wouldn't show any visual.

To help me quickly see when it was present when I was trimming down the repro, I used this editorconfig:

[code]

[2019-09-27 20:18] rainersigwald commented on #36072
@InfinitiesLoop No, that's not a supported scenario. .NET Core MSBuild doesn't support every operation that full .NET Framework `MSBuild.exe` does, and has a different extensibility model (Visual Studio allows extensions to add MSBuild logic, which isn't available to .NET Core MSBuild).

As a result of that, some projects can only be built with full framework MSBuild, so an application that wants

[2019-09-27 20:23] CyrusNajmabadi commented on #38921
Crazy!  And yes, i've got this feature turned on.  I'm also on:

![image](https://user-images.githubusercontent.com/4564579/65799837-ee557f00-e129-11e9-977f-6b96dc62a133.png)

[2019-09-27 20:24] CyrusNajmabadi commented on #37913
Ok.  So if you *might* get an exceptoin, but you won't always, then this function should be allowed to take in null.  it shoudln't say "do not pass in null here" since that's super common and expected and doesn't have any problem with likelythe most commonly used EqualityComparer out there (i.e. `.Default`).

[2019-09-27 20:32] sharwell commented on #37913
@CyrusNajmabadi Derived types are allowed to expand on the set of supported inputs, but not restrict it. If the base implementation says null is allowed, then derived implementations can't implement that method while disallowing null (i.e. allowing null is a widening operation).

[2019-09-27 20:35] vsfeedback opened #38923 "Consolidate many quick fixes to simplify class creation."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/656674/consolidate-many-quick-fixes-to-simplify-class-cre.html)._

---
<p>When I create a new class in my project, it usually needs a handful of dependencies injected via constructor. Right now I do that by typing out a constructor parameter, pushing Alt-Enter to bring up &quo

[2019-09-27 20:36] CyrusNajmabadi commented on #37913
If that's the case, and the most common use case is one that accepts null, then the base type should not restrict null as you end up in just this scenario where the user is told there's a problem, despite there being no problem.

[2019-09-27 20:37] CyrusNajmabadi commented on #37913
Again, who is helped by this type being annotated like this?  Literally all code out there that specifically uses *this* exact API for this *exact* purpose (which is something we've communicated) are now told there's a problem that must be dealt with even though this type is idiomatically *the way* to easily do equality/gethashcode for values that may be null.

[2019-09-27 20:37] d-dizhevsky commented on #36072
@rainersigwald
I have created repro project here: https://github.com/d-dizhevsky/owss
Just do `cd src/OpenWebSecurityScanner/` and then `dotnet run`. It will use MSBuildWorkspace to load test project from testProjects/WebAPI1 folder and most likely fail.

Please note that if you remove `netstandard2.0` project reference from `WebAPI1` then it works properly.

Thats my output on OSx:
![image](https

[2019-09-27 20:40] CyrusNajmabadi commented on #37913
Note: this is not in reference to `IEqualityComparer`.  This is *specifically* about `EqualityComparer`.  Expectation there (as born out from everyone using the static field it exposes) is that it can handle null.

[2019-09-27 20:47] jnm2 commented on #38921
So sorry, I forgot that I had added `<Nullable>enable</Nullable> to the project file. Updated at the top.

[2019-09-27 20:49] CyrusNajmabadi commented on #38921
Yup.  I repro now.  Fascinating!

[2019-09-27 20:50] jnm2 commented on #37913
@CyrusNajmabadi I can reopen https://github.com/dotnet/corefx/issues/41405 if you want to make the case there. I'm certainly not going to complain if this changes.

[2019-09-27 20:50] CyrusNajmabadi commented on #38921
Tagging @mavasani .  Note the necessity to update your project file.  This didn't repro for me in a 4.7.2 project...

[2019-09-27 20:52] CyrusNajmabadi commented on #37913
Yeah, i would reopen that.  It def seems wrong IMO.

[2019-09-27 20:52] jnm2 commented on #38921
It repros for me on net472 *where I initially discovered it) as well as netcoreapp3.0.
E.g.
[code]

[2019-09-27 20:53] mavasani commented on #38921
Tagging @333fred - seems to be another analyzer affected by https://github.com/dotnet/roslyn/issues/38195

[2019-09-27 20:55] mavasani commented on #38921
Also tagging @chsienki who is currently investigating #38195

[2019-09-27 20:58] gafter opened #38925 "Prevent unbound lambdas from remaining in the trees after initial binding"
In some cases, unbound lambdas remain in the bound tree after initial binding and have to be dealt with by later passes.  About this the code has a comment

[code]

However, we now *do* have a place for this rewriting to go: `BindToTypeForErrorRecovery`

It would be nice to "clean" the initial bound tree of unbound lambdas.

[2019-09-27 20:58] CyrusNajmabadi commented on #38921
Note: if code has to be updated anyways to get the right nullable-behavior, then i'm far more inclined to say that our choices to try to expose nullable through these extra properties seems less useful.  After all, if you still need to update to support nullable properly then we could have exposed nullable not through properties at all. In both cases people need to update to have their code work i

[2019-09-27 21:16] sharwell commented on #37511
👍 this is frustrating for the case of unconstrained generic types, for which there is currently no working alternative.

[2019-09-27 21:19] CyrusNajmabadi commented on #38900
I'm not certain that's true.  'Stream' is the most common case of IDisposable I ever use.  It's enormously widespread, and has followed this convention since the beginning of .net.  It's what i think of as the way to do disposable.

This is always a personal preference.  Some will say: it didn't find this case over here, so i don't trust it.  It should be less conservative to find all the cases, a

[2019-09-27 21:20] sharwell opened #38926 "Cannot assign from [MaybeNull] to [AllowNull]"
**Version Used**: 89b4f60648fadeebdd53088fe8391bf9197bba7b

**Steps to Reproduce**:

[Sharplab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+BiAdgVwBtCJhC4ACOXU8gWAChGABAJgEYWAGC59gOgAiASwgBzXAHtYwgMZR+AYUko4AQRqEAnlGFQA3IxYBmXqwqKAPABUAfBQDejCi4oBtALIQtwOADkiQiQKNWJJAHcA4gBdCmsKAA9grUMmBldeU2YAFgoPAAoASkdnDNcEigBeChTSlwBfRka0oA==)

[code]

**Expected Behavior**:

No warnings.

**Actual Behavi

[2019-09-27 21:29] vsfeedback opened #38927 "Copy fully qualified name of selected identifier"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/725281/copy-fully-qualified-name-of-selected-identifier.html)._

---
Often I want to share a class or a function or a member etc with another team member  and browsing in VS I can easily copy a name like &quot;Foo&quot; and send it to them but that is ambiguous for them to fin

[2019-09-27 21:31] kendrahavens commented on #38927
You can currently open Class View (Ctrl+Shift+C) and when you copy (Ctrl + C) from an item selected in Class View you get the fully qualified name. This would be much more accessible if we could do it from the Editor with an **Edit > Copy Fully Qualified Name** command.

[2019-09-27 21:33] vsfeedback opened #38928 "show outlining for comments (separate option)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/725721/show-outlining-for-comments-separate-option.html)._

---
**Now:**
Show outlining for comments and preprocessor regions

**Suggest:**
Show outlining for comments
Show outlining for preprocessor regions

---
### Original Comments

#### Jane Wu [MSFT] on 9/9/2019, 00:02 AM

[2019-09-27 21:43] CyrusNajmabadi commented on #38927
@kendrahavens It's possible this is a request for a C++ feature (given the `::`s).

[2019-09-27 21:48] SergeyTeplyakov commented on #38900
Hm.. I don't think that `Stream` actually transfers the onwership. `StreamReader` definitely does, but classes like `FileStream` usually (with some exceptions) own the underlying resources but not take them via a constructor.

And this use case should not be analyzed based on whether the type that follows or not some specific pattern is widely used or not. It doesn't matter. We should analyze the

[2019-09-27 21:50] mavasani commented on #38900
Let me clarify a few things here:

1. Both CA2213 and IDE0069 have been designed to follow identical semantics here. IDE0069 may diverge where reasonable, but the issue in this thread does not belong to that category.
2. In general the statement made by @SergeyTeplyakov in the issue description is true and matches the documentation of CA2213. However, the documentation also clearly states the spec

[2019-09-27 21:53] SergeyTeplyakov commented on #38900
@mavasani thanks a lot for the explanation! Now the behavior makes sense.

[2019-09-27 22:00] mavasani commented on #38900
I have disagreed with Sam for quite a while on this. "no false positives or false negatives from the analyzer" requirements cannot be met by any dataflow analysis based rule that needs complete interprodedural dataflow analysis for correctness, until it actually perform such as expensive analysis (very unlikely). For example, CA2213 is well documented along with special cases at https://docs.micro

[2019-09-27 22:24] kendrahavens commented on #38927
Ah, thank you! I've reopened the devcomm issue asking for what language they'd like to see it in.

[2019-09-27 22:34] xavierzwirtz commented on #32083
Same issue in Visual Studio Community 2019, Version 16.3.0
Logging:
[code]

[2019-09-27 22:38] #38916 closed

[2019-09-27 22:41] kendrahavens commented on #38429
suggestion in [DC](https://developercommunity.visualstudio.com/content/idea/748106/live-code-analysis-is-unbelievably-slow-please-pro.html)

[2019-09-27 22:41] vsfeedback opened #38931 "Intellsense left hand talk to right"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/730687/intellsense-left-hand-talk-to-right.html)._

---
There are a number of rules and tools to help the developer. One of these is being able to add a missing USING reference. Another is enforcing rules about where a USING statement should appear in a code file. PLEASE make

[2019-09-27 22:53] vsfeedback opened #38932 "Collapse to Definitions does not collapse enum types"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/732602/ctrl-m-o不能折叠内部类型比如enum.html)._

---
Ctrl and M-O cannot collapse internal types such as enum

---
### Original Comments

#### Jane Wu [MSFT] on 9/16/2019, 00:23 AM:

<p>Thank you for taking the time to provide your suggestion. We will do some preliminary checks to make

[2019-09-27 22:58] jcouv commented on #38638
Even if we just add the third state, without adding a corresponding type/annotation for locals, some scenarios would be improved.
Here's one reported by Sam:
[code]

[2019-09-27 23:00] 333fred commented on #38879
The short answer is that no, there is no current design for how this info is encoded into IOperation.

[2019-09-27 23:00] genlu commented on #35059
@Dreamescaper Thanks! This is mostly consistent with the prototype I implemented using the simple logic you mentioned (adding checks for accessibility introduces a little additional overhead though), which in my opinion isn't a terrible baseline to start with. Especially considering that the completion for unimported type often cause more overhead by simply dumping thousands of completion items in

[2019-09-27 23:01] sharwell opened #38933 "Cannot null-check a [MaybeNull] value"
**Version Used**: 89b4f60648fadeebdd53088fe8391bf9197bba7b

**Steps to Reproduce**:

[Sharplab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+BiAdgVwBtCJhC4ACOXU8gWAChGABAJgEYWAGC59gOgAiASwgBzXAHtYwgMZR+AYUko4AQRqEAnlGFQA3IxYBmXqwqKAPABUAfBQDejCi4oBtALIQtwOADkiQgBdCmsKADcIQnw4QwZXXlNmABYKDwAKAEpHZwTXYQAzCnTI6Mo9CgJiTNy8vOYAdjiEgF9GNqYGIA==)

[code]

**Expected Behavior**:

No warnings.

**Actua

[2019-09-27 23:13] vsfeedback opened #38934 "Use Enhanced Colors For VB is only listed under C #"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/734508/use-enhanced-colors-for-vb-is-only-listed-under-c.html)._

---
Visual Basic options should be selectable under Visual Basic or listed in 2 places also the text should be &quot;Use Enhanced Colors for C# and Visual Basic&quot; not just &quot;Basic&quot;

---
### Original

[2019-09-28 00:39] CyrusNajmabadi commented on #38879
Ok.  We def should do that :)

[2019-09-28 00:40] CyrusNajmabadi commented on #35059
Right.  It won't block.  but it does that at the expense of cancelling completion i thought.  So if this ends up taking too long, what that means is that completion just becomes broken for me.  I can type, but the feature no longer works.

Right?

[2019-09-28 02:12] gafter commented on #38933
This is by design, but perhaps not the best design.

[2019-09-28 02:15] gafter commented on #38852
Can you please give us a complete solution that exhibits this issue?

[2019-09-28 02:19] gafter commented on #38909
We require `#nullable enable` in order for the compiler to track whether or not possible null values are handled.  Please try that.

[2019-09-28 03:42] huoyaoyuan commented on #38910
@kindermannhubert OK, I agree this should be a bug that doesn't follow spec change in C# 8.

[2019-09-28 03:49] Sergey-Vlasov opened #38936 "Task already completed exception in Workspace.TryApplyChanges"
In my Visual Studio extension I create a temporary workspace like this:
[code]
It worked fine for several years, but after the recent VS 2019 16.3.0 update it generates the following exception:

Note that it looks very much like a race condition, because I don't see the error when running the code first time on a "cold" machine. But when all assemblies are already in memory, the exception occurs e

[2019-09-28 05:54] CyrusNajmabadi commented on #38429
I'm very wary about thsi.  People are reporting slowness, and they're claiming it's due to a specified feature, but it's not clear to me how we're verifying what the actual root cause is.  Code-analysis, for example, should not impact typing unless somethng has broken internally.  It's run out of process and at low-priority.  If it actually is slowing things down, then something is very messed up

[2019-09-28 08:15] alrz commented on #38429
I haven't looked at those reports but I expect some people want to disable roslyn just to use another analysis tool.

[2019-09-28 10:17] mavasani commented on #38429
I feel this feature is being looked at the wrong way in multiple ways. The core feature is:

1. I am using a tool that allows me to perform my daily tasks.
2. There are some minimum set of features that I need to accomplish these tasks in a reasonable way.
3. Tool provides additional rich functionality to help me perform these tasks much more easily, efficiently and correctly.
4. I appreciate all

[2019-09-28 10:38] mavasani commented on #38429
I also feel this should be implemented as multiple operational modes:
1. Power save mode: Constrained by CPU usage/power.
2. Lightweight mode: Constrained by any of the factors above, and just wish minimum functionality and/or resource usage for an acceptable IDE experience.
3. Default mode: What we enable today for customers, and always consider to be our recommended tool usage mode.
4. Enhanced

[2019-09-28 12:08] NextTurn opened #38939 "Broken Nuget package Microsoft.VisualStudio.Shell.15.0"
The first dependency of the latest version of package [`Microsoft.VisualStudio.Shell.15.0`](https://www.nuget.org/packages/Microsoft.VisualStudio.Shell.15.0/), [`Microsoft.ServiceHub.Framework`](https://www.nuget.org/packages/Microsoft.ServiceHub.Framework/), is broken. Can someone please forward this issue to the SDK team?

[2019-09-28 12:48] yyjdelete opened #38940 "`Loading Intellsense` never finished when `Allow partial loading of projects during solution open` is enabled in VS16.4Preview1"
**Version Used**:
VS16.4Preview1

Not sure but I remember that doesn't happen with latest preview version of VS16.3. It not happen with `Preview Features`/`Allow partial loading of projects during solution open` disabled.
Not sure it's an issue of roslyn or VS.

**Steps to Reproduce**:

1. Enable `Preview Features`/`Allow partial loading of projects during solution open` in VS16.4Preview1, and res

[2019-09-28 12:48] yyjdelete opened #39032 "System.InvalidOperationException: 'The project already references the target project.' and `Loading Intellsense` never finished in VS16.4Preview1/16.3.1"
**Version Used**:
VS16.4Preview1

<del>Not sure but I remember that doesn't happen with latest preview version of VS16.3. It not happen with `Preview Features`/`Allow partial loading of projects during solution open` disabled.</del>
It's strange that I can also see the same thing happen on VS16.3.1 today, or with `partial loading` disabled today. Just step 4 and 5 or 4.B is needed.

Not sure it's

[2019-09-28 16:37] oliverhanappi opened #38941 "C# compiler should treat return value of SingleOrDefault as nullable for enumerables with reference types"
**Version Used**: .NET Core SDK 3.0.100

**Steps to Reproduce**:

[code]

**Expected Behavior**:

C# compiler detects the return value of SingleOrDefault as nullable and therefore emits warning CS8603.

**Actual Behavior**:

No warning is emitted.

[2019-09-28 17:40] 333fred commented on #32101
Enabling Just My Code is not an acceptable solution here. If we need to move this to the debugger team, fine, but it's not a good experience as it's.

[2019-09-28 17:58] agocke opened #38942 "System.Index indexing for arrays does not use pattern-based Index"
https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDYB8ACAmARgFgAoHABgAIcCAWAblNJwGZq9KBhS0gb1MqDqBAGyU0AOxiUAsgApJMANoBdShAQIAlEMEBeAHzrNSgHoEV9SgHprlAO4ALAJ4B+AUI+CaYgMaONWTkaKlhtIUNKMLMLRhJdL2ExRSCAZQAHCAkAHkUjKHSJHUiCiRjLRIT4oR9xKSCAGTRYXKkjDFhi9thyuIBfIA==

[2019-09-28 18:10] CyrusNajmabadi commented on #38429
@mavasani I'm firmly behind the idea of different modes (or feature knobs) to provide a fundamentally different experience for users.  I have no issue with that.

What i'm concerned about are links to unverified claims by people that "feature X is awful and making my experience slow, give me a way to shut it off".  These are not valid claims in support of this work without actual verification and

[2019-09-28 18:12] CyrusNajmabadi commented on #38429
Note: i agree mostly with your breakdown of the features to offer.  I would expand on one of them a bit:

I honestly think this should just be a set of options (and possibly one easy way to toggle all of them).  What is 'lightweight' will be person dependent, and i think it would be 100% fine to allow individual knobs (and a top-level option) to let users opt out of particular features they would

[2019-09-28 18:41] mavasani commented on #38429
I agree with you @CyrusNajmabadi - we should not close or resolve any community feedback about potential bugs against this feature. Pointing this as a feature that could help them get unblocked easily in future is fine, but we should investigate all filed feedback reports.

Regarding multiple options- that was my initial implementation, but we felt it might overload the users with information. We

[2019-09-28 18:47] CyrusNajmabadi commented on #38429
Personally, i'm skeptical about that.  I think the knobs we would provide would be fairly clear and easy to enumerate for customers.  But it's also not critical and can be something changed in the future.  :)

Agreed :)

Thanks!

[2019-09-28 19:54] AArnott commented on #32101
Thanks, @333fred. Another note: it apparently works when targeting net472 and netcoreapp2.1. It only repros on netcoreapp3.0.

[2019-09-28 20:20] jcouv commented on #32101
@333fred The linked [ticket](https://developercommunity.visualstudio.com/content/problem/446039/step-over-debugger-command-simply-runs-c-console-a.html) was already re-opened and assigned to the debugger team.

[2019-09-28 21:30] gafter commented on #38933
This would be addressed by https://github.com/dotnet/roslyn/issues/38638

[2019-09-28 21:30] gafter commented on #38926
This would be addressed by https://github.com/dotnet/roslyn/issues/38638

[2019-09-28 21:40] dlech opened #38943 "nullability of value parameter in properties"
**Version Used**: master (23 September 2019) via https://sharplab.io

**Steps to Reproduce**:

[code]

**Expected Behavior**: Given a property with the `DisallowNull` attribute it should mean that the return value can be null but `value` parameter of the setter cannot be null.

**Actual Behavior**: The code analysis gets this right when assigning to a property, but not in the property declaration.

[2019-09-28 21:44] mavasani commented on #38782
This feature request is already covered in last bullet item for https://github.com/dotnet/roslyn/issues/38042. Marking this issue as a duplicate of that feature request.

[2019-09-28 21:44] #38782 closed

[2019-09-28 21:52] mavasani commented on #38429
@CyrusNajmabadi I have re-opened couple of DC feedback items that were about customers seeing real performance issues and requested them to provide performance traces. Couple other DC feedback items were actually customers requesting more control over the functionality in the IDE, not any performance issue.

[2019-09-28 21:55] CyrusNajmabadi commented on #38429
Awesome!

[2019-09-29 01:16] jnm2 commented on #37344
I just hit this with `if (left is null | right is null) return false;` which is something I think Jon Hanna convinced me to do rather than `||` because it performed better.

@Suchiman also ran into this with `(left is null) ^ (right is null)` and `(left is null) != (right is null)`.

[2019-09-29 05:57] huoyaoyuan commented on #38941
`System.Linq` is nullable annotated in **master** branch of corefx, but not in **release/3.0**. So there's nothing unexpected in compiler.
The compiler should provide some diagnostics showing that you are using nullable-oblivious stuff.

[2019-09-29 12:11] Joe4evr opened #38944 "Erroneous suggestion IDE0067 for disposable object used in 'await using (...) { }'"
**Version Used**:
Version 16.4.0 Preview 1.0
VisualStudio.16.Preview/16.4.0-pre.1.0+29319.158

**Steps to Reproduce**:
Paste the following code into a project:
[code]

**Expected Behavior**:
Only IDE0063 is reported for both of the explicit syntax methods to point out the new Implictly Scoped `using` Statement syntax.

**Actual Behavior**:
The combination of the older, explicitly-scoped syntax and

[2019-09-29 13:38] ygoe commented on #37082
@ivanbasov When will this be available in the release? At least in 16.2 I still had this issue again a few days ago. There's also another open VS Feedback issue for it open.

[2019-09-29 14:18] dlech opened #38946 "NotNullIfNotNull does not work with implicit operator"
**Version Used**: master (23 Sep 2019) via https://sharplab.io

**Steps to Reproduce**:

[code]

**Expected Behavior**: `NotNullIfNotNull` should work with implicit cast the same as other static methods

**Actual Behavior**: named static methods work as expected, but implicit cast does not

[2019-09-29 14:34] dlech commented on #38946
Duplicate of #37870

[2019-09-29 14:34] #38946 closed

[2019-09-29 14:37] dlech commented on #38132
Duplicate of #37870?

[2019-09-29 14:43] dlech commented on #37870
Duplicate of  #32671?

[2019-09-29 17:50] joshlang opened #38947 "Erroneous error! IDE1007 The name 'var' does not exist in the current context"
Using VS 2019:  16.4.0 Preview 1.0

Consider this code:
[code]

It's fine.  But the error window shows: `IDE1007 The name 'var' does not exist in the current context` and a red squiggly appears under the word 'var'.

It compiles without any errors, though.

Any of the following will remove the IDE1007 error:
- Don't deconstruct the tuple.  `var x = (4, 5)`
- Move the offending code into void Main(

[2019-09-29 18:07] joshlang commented on #38947
Erroneous spelling of Erroneous, too.

[2019-09-29 23:10] ivanbasov commented on #37082
@ygoe this one was fixed with https://github.com/dotnet/roslyn/pull/37095 in 16.3 P3. 16.3 release shoul contain it

[2019-09-30 07:56] huoyaoyuan commented on #25861
Revisit this in 16.3:
Error message indicates that "missing using directive for System", but no quick action provided.

[2019-09-30 08:00] #38039 closed

[2019-09-30 08:00] huoyaoyuan commented on #23460
Closing. No reproduction in latest versions. Waiting for old project system to retire to reduce inconsistency.

[2019-09-30 08:00] #23460 closed

[2019-09-30 08:05] huoyaoyuan commented on #23146
Still observable in 16.3

[2019-09-30 08:46] Vinigas opened #38949 "False-positive, wrong null-coalescing-operator ( ?? operator ) programmer-code-error."
**Version Used**:
Microsoft Visual Studio 2019 Preview Version 16.4.0 Preview 1.0
dotnetcore 3.0.100
Windows 10 Pro
**Steps to Reproduce**:

1. Create *.cs file in VS and paste this code:
[code]
3. ArrangeUsingRoslyn__SameLogic(...) and ArrangeUsingRoslyn__SameLogic2(...) contains the same logic.

**Expected Behavior**:

No errors detected in code.

**Actual Behavior**:
![image](https://user-image

[2019-09-30 09:18] paulomorgado opened #38950 "There's no way to get a display string for a NamedType with access modifiers"
**Version Used**:

Microsoft.CodeAnalysis.CSharp (2.10.0)
Microsoft.CodeAnalysis.VisualBasic (2.10.0)

**Steps to Reproduce**:

Create a class:

[code]

Declare a display format like this:

[code]

Call, `symbol.ToDisplayString(DeclarationDisplayFormat)` on the symbol for the class.

**Expected Behavior**:

`public class GenericType<U, V> where U : struct where V : class`

**Actual Behavior**:

`c

[2019-09-30 11:17] heemskerkerik commented on #38949
The compiler is actually correct here; when `tree` is null, `TryGetRoot` is never invoked, meaning `root` will have the default value for its type, which is null, despite the declaration being non-nullable.

If anything, I think the issue is with the `TryGetRoot` method, as its parameter should be `out SyntaxNode? root`.

[2019-09-30 11:43] Vinigas commented on #38949
Oh, I haven't noticed that SyntaxNode is non-nullable.

In `System.Threading.CancellationToken` there is static readonly auto-property:
[code]
which is default for CancellationTokens.

Suggestion: `SyntaxNode` maybe could have default value as `SyntaxNode.None` instead of default `null` .

[2019-09-30 13:47] paulhickman-a365 commented on #31616
I still have this issue on 16.4.0 (preview 1). However, for me it also fails to build, breaking unit testing completely. This is because  I also get the following error along with the warnings:
[code]
This comes from a line of code declaring a generic method with an out T? parameter, which works fine when nullable contexts are working in normal compilation outside live unit testing.
[code]

[2019-09-30 15:38] sharwell opened #38953 "IDE0008 (Use explicit type) Fix All operation is too broad"
**Version Used**: Visual Studio 16.4 Preview 1

**Steps to Reproduce**:

[code]

[code]

Apply Fix All in Solution for the warning reported on `var y`.

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2019-09-30 16:08] mavasani commented on #38953
IMO, quite a few FixAll operations need customized semantics to adjust the scope, so this issue is not specific to this particular fixer. I think we should have each of such customizable code fixes be configurable, so that the defaults match the most common use case, but users can specify editorconfig options to configure the semantics of individual code fixes or FixAll operation.

[2019-09-30 17:28] tmat opened #38954 "Include source files w/o method bodies in the PDB documents"
Currently the compiler does not list source files in the debug documents in the PDB that are part of the compilation but do not have any method body. These documents are only added in order to support sequence points.

There are other scenarios than stepping that would benefit from all source files being captured in the PDB. For example, [Go To Definition](https://github.com/dotnet/roslyn/issues/2

[2019-09-30 18:23] genlu commented on #35059
@CyrusNajmabadi I think that's correct. @AmadeusW would probably be able to provide a detailed answer here.

[2019-09-30 18:40] shargon opened #38956 "Compile without switch optimizations"
# Issue Title

Is possible to specify some flags in the compiler for disable some optimizations?

# General

As i know, when a switch have a lot of entries, is added a method `ComputeStringHash` is possible to prevent this optimizations?

[2019-09-30 18:41] CyrusNajmabadi commented on #35059
@genlu Then it is even *more *critical* that extension-completion be extremely low overhead.  Otehrwise, it risks completely breaking muscle memory or breaking hte user experience entirely.  For example, imagine on my laptop that computing these consistently takes 300ms.  Then i literally will not get top-level completion ever since it will always go over the cap and constantly be killed off.

Thi

[2019-09-30 19:00] CyrusNajmabadi commented on #38956
The only exposed option is `-optimize[+|-]                Enable optimizations (Short form: -o)`.  You cannot control individual optimizations.

[2019-09-30 19:11] tmat opened #38957 "Null assignable to non-null via tuple default value"
**Version Used**:
![image](https://user-images.githubusercontent.com/41759/65908449-52bb4d00-e37b-11e9-9bd8-eefa999d862e.png)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Warning on `return default`.

**Actual Behavior**:

No warning.

[2019-09-30 19:33] agocke opened #38958 "AnalyzerDriver is needs refactoring"
There are now many fields/properties that are confusing, including a mix of ConcurrentDictionary and Dictionary with no clear annotation on what the threading model of the type is.

[2019-09-30 19:38] CyrusNajmabadi opened #38959 "IDE should detect previously generated 'GetHashCode' and offer to upgrade it to use System.HashCode if available."

[2019-09-30 19:40] CyrusNajmabadi commented on #38959
Tagging @jasonmalinowski @sharwell i'm willing to provide a fix here.

[2019-09-30 19:47] jnm2 commented on #38959
@CyrusNajmabadi Would you also detect GetHashCode generated by ReSharper? I'd find that useful but I can picture people wanting one and not the other.

[2019-09-30 19:47] CyrusNajmabadi commented on #38959
@jnm2 sure, i can try that.  can you give an example of what it generates (ideally with a few reference, nullable and value types)?

[2019-09-30 20:02] jnm2 commented on #38959
@CyrusNajmabadi I can do more too, just off the top of my head

[code]

[2019-09-30 20:04] CyrusNajmabadi commented on #38959
@jnm2 Nope!  that looks great.  Should be able to manage from that!

[2019-09-30 20:24] CyrusNajmabadi commented on #38959
Can you show me what it generates if you change the string comparison?

[2019-09-30 20:40] maloo opened #38961 "IAsyncEnumerable iterator method generates InvalidProgramException at runtime"
**Version Used**: Core 3.0.100

**Steps to Reproduce**:

1) Call this function:

        object _splitsLock = new object();
        public async IAsyncEnumerable<SplitBatch> GetSplits(IEnumerable<string> ids,
            DateTime from, DateTime to, [EnumeratorCancellation] CancellationToken ct)
        {
            if (to == from)
                yield break;
            try
            {

[2019-09-30 20:41] gafter commented on #38956
@shargon This is not really an optimization.  It is just efficiently generating code for the construct.

[2019-09-30 20:41] #38956 closed

[2019-09-30 20:49] jnm2 commented on #38959
[code]

[2019-09-30 21:15] jnm2 opened #38965 "CA2000 when references did not go out of scope (lambda closure)"
**Version Used**: 16.3.1

[code]

[2019-09-30 21:42] rainersigwald commented on #36072
@d-dizhevsky Thanks! I opened https://github.com/microsoft/msbuild/issues/4770 to track fixing that problem.

Setting `BuildingInsideVisualStudio` would indeed disable the call to that task, but I think it might break other parts of design-time-like builds, even beyond the `ImmutableDictionary` exception mentioned above.

[2019-09-30 21:51] cartermp opened #38966 "C# 8 by default for netcoreapp3.1"
It currently defaults to C# 7.3.

[2019-09-30 22:39] CyrusNajmabadi opened #38968 "can't f5 into latest master"
When i try, i get this error in the VS that has launched:

[code]

[2019-09-30 22:39] CyrusNajmabadi commented on #38968
Tagging @dotnet/roslyn-infrastructure @jasonmalinowski .

[2019-09-30 23:36] mavasani opened #38970 "Unify AnalyzerDriver.IsDiagnosticAnalyzerSuppressed with compiler's filtering logic"
See https://github.com/dotnet/roslyn/pull/38792#discussion_r329812476

[2019-09-30 23:55] KirillOsenkov opened #38971 "MSBuildWorkspace shouldn't attempt to remove properties declared in an imported file"
**Version Used**:
16.3

**Steps to Reproduce**:

1. Use MSBuildWorkspace to load a project that uses https://github.com/onovotny/MSBuildSdkExtras

**Expected Behavior**:
Should work

**Actual Behavior**:
[code]

I suspect that this line is causing the issue:
https://github.com/dotnet/roslyn/blob/98ec28ef6f76a773a54a361ae939df51bcb9b92b/src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFile.cs

[2019-09-30 23:57] KirillOsenkov commented on #38971
The project is using https://www.nuget.org/packages/MSBuild.Sdk.Extras/1.6.68

[2019-10-01 00:01] KirillOsenkov commented on #38971
The solution being analyzed is https://github.com/unoplatform/uno

[2019-10-01 00:29] jinujoseph commented on #24129
Design Review Meeting Notes

The scenario doesn't sound compelling to add more options to core formatter. We are going to prioritize making the formatter API to allow others to add these sorts of one-off formatting tracked here #31691

[2019-10-01 00:30] sharwell commented on #24129
This went to a design review, and our conclusion was to let this scenario fall under the umbrella of #31691. We will keep this issue open as a validating scenario for the new API, but not directly implement the requested option in Roslyn itself. The new API will allow users to implement complicated customizations to formatting relevant for particular projects without the high risk of regressions a

[2019-10-01 00:32] jasonmalinowski commented on #30396
The decision in the design meeting was that _for Value Types_ we should do as @sharwell proposes above: we should generate the strongly typed Equals overload and operator overloads as well.

[2019-10-01 00:35] jasonmalinowski commented on #38758
It was decided in the design meeting to synchronize this API with the rest of the Roslyn surface area. Independently we will discuss with the framework team if it's worth revisiting that pattern going forward but that's a longer-term question than this.

[2019-10-01 00:40] jasonmalinowski commented on #38953
Decision from the design meeting was to update this fixer to use an equivalence key based on the rule being violated so fix all only fixes that set. A UI affordance was also suggested (which we would implement if not too expensive, but isn't considered blocking) to show in the Fix All UI a little piece of text that says "this will fix all violations of csharp_style_var_for_built_in_types" so it's

[2019-10-01 00:48] jinujoseph commented on #38632
**Design Meeting Notes:**

Good Idea, I think we should add a line between properties too.
The logic to use is " Add a new line between two members if either of them are more than a single line. The new options should be named as "NewLineBetweenMembers"

[2019-10-01 00:53] jasonmalinowski commented on #34131
We discussed this and decided that we're best off leaving the behavior as is, but with an investigation into something else too.

The challenge here is we know _as humans_ this is somewhat preposterous but it's hard to turn this into something that seems useful. We don't want to block inlining of all object creations, because sometimes people do indeed want to say new Foo().SomeMethod(). You might

[2019-10-01 01:02] jinujoseph commented on #38523
**Design meeting Notes**

We are not convinced that this code style will be easy for our users to read , but we have work going on C# 9.0 related to record types for scenarios where this will apply, that may be superior alternative and we want to focus on that instead. If you have questions on how to make your own analyzer, we are happy to help.

[2019-10-01 01:02] #38523 closed

[2019-10-01 09:36] VillSnow opened #38975 "Cannot apply null-conditional operator for Nullable<T> returned by null-conditional operator (CS0023)"
**Version Used**:
Visual Studio Community 2019 Version 16.2.5

**Steps to Reproduce**:

[code]

I think there is no difference between b1 and b2, but cannot build b1.

[2019-10-01 14:09] JosefPihrt commented on #38950
A duplicate of #28297

[2019-10-01 15:28] TheJayMann commented on #36913
I was the person to initially post this issue.  Based on what you have shown, this option should be the one listed as `Place open brace on new line for control blocks`.  It appears that it still isn't working for me.  With the option enabled, I get this:
[code]
With the option disabled, I get this:
[code]
Currently, I am using .NET Core 3.0, CSharp 8.0, and Visual Studio 16.3.0 (I haven't had time

[2019-10-01 15:53] cabadam opened #38978 "Programmatically (from Microsoft.CodeAnalysis.Project) check for <CodeAnalysisRuleSet>"
**Version Used**:
3.3.1

**Steps to Reproduce**:

1. Programmatically load a project using workspace.OpenProjectAsync.
2. Inspect the available properties available on the returned project.

We are attempting to write a tool that will do validation on our project files as they go into source control to ensure they have the appropriate style-related settings in place.   This includes several checks

[2019-10-01 16:43] zeroskyx opened #38982 "Nullable reference type: possible generics inconsistency"
Greetings,

with the new C# feature of nullable reference types there appears to be an inconsistency with generics:

[code]

Shouldn't "a" be of type "string?"?

[2019-10-01 17:39] jinujoseph commented on #38968
cc @RikkiGibson

[2019-10-01 17:41] #38629 closed

[2019-10-01 17:42] mavasani commented on #38978
You should be able to use `Project.CompilationOptions.SpecificDiagnosticOptions`, which is a dictionary from string (diagnostic ID) to effective severity of the diagnostic for the project (ReportDiagnostic). This dictionary is generated after taking into account ruleset, nowarn, warnaserror, etc. options, so should give you what you desire. Note that an entry is generated for a specific diagnostic

[2019-10-01 17:44] jinujoseph commented on #38966
ref : https://github.com/dotnet/roslyn/blob/af8ba6b0c102b6fbeb9abf8f893d54cb295127ae/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L6-L10

[2019-10-01 17:49] cabadam commented on #38978
Is that related?  To clarify, I am trying to verify that the project file in question has:
  <PropertyGroup>
    <CodeAnalysisRuleSet>path\to\our\rules.ruleset</CodeAnalysisRuleSet>
  </PropertyGroup>

And probably then verify that the specified file actually exists.

The values in SpecificDiagnosticOptions look like various compilation errors/warnings that might be thrown?

[2019-10-01 17:52] mavasani commented on #38978
Are you trying to validate the exact code analysis ruleset property (i.e. confirm if it uses a specific ruleset file) OR trying to validate that specific diagnostic IDs for particular rules are set at a specific severity? I had assumed the latter, but seems you only care about the former? Is that correct?

[2019-10-01 17:53] mavasani commented on #38978
Note that a ruleset file is itself just a collection of specific diagnostic IDs and effective severities (with possible includes for other rulesets), but they effectively get converted to a dictionary from IDs to severities.

[2019-10-01 18:04] mavasani commented on #38965
@jinujoseph Can we port this bug to roslyn-analyzers repo?

[2019-10-01 18:05] cabadam commented on #38978
Ahh, I get what you are saying - those are the set of style definitions contained within our ruleset (assuming the project being loading was in fact pointed to one).

Interesting.  In my case though, no, I would rather verify that the project was pointed to the correct source of the rules.  That allows us to verify over time that the different projects we are all correctly pointed to the same file

[2019-10-01 18:10] #38950 closed

[2019-10-01 18:13] sharwell commented on #38857
Duplicate of https://github.com/microsoft/vs-threading/issues/521

[2019-10-01 18:13] #38857 closed

[2019-10-01 18:14] jinujoseph commented on #38857
we planning to service this fix in 16.4

[2019-10-01 18:16] sharwell commented on #38865
Duplicate of #11173

[2019-10-01 18:16] #38865 closed

[2019-10-01 18:16] sharwell commented on #11173
This was hit again by @CyrusNajmabadi in 16.3+

[2019-10-01 18:24] sharwell commented on #38919
Blocked on #31879

[2019-10-01 18:28] mavasani commented on #38978
Also tagging @jasonmalinowski

Sounds good. Unfortunately, the CodeAnalysisRuleSet property value is not pushed down to the core `Project` instance. The VS workspace layer is aware about it and uses it to parse the file to populate the compilation options, but does not store it onto the Project. What you are requesting here would be a new feature request to thread this file path down to the Projec

[2019-10-01 18:30] #38927 closed

[2019-10-01 18:32] jinujoseph commented on #38931
Duplicate of #35803

[2019-10-01 18:32] #38931 closed

[2019-10-01 18:32] jinujoseph commented on #38934
cc @JoeRobich

[2019-10-01 18:39] sharwell commented on #38932
I believe this behavior is By Design, but I'll confirm it with the team during a design review before closing. 👍

[2019-10-01 19:09] RikkiGibson commented on #38968
@agocke is this possibly related to #38809?

[2019-10-01 19:10] RikkiGibson commented on #38968
I don't know a lot about how we load our dependencies when we run in VS. But I'm wondering if this has the same root cause as to why we can't insert the latest master into VS.

[2019-10-01 19:29] jnm2 commented on #38965
Ack, I'm sorry.

[2019-10-01 19:39] mavasani commented on #38965
@jnm2 No worries :)

[2019-10-01 19:50] JoeRobich commented on #38934
Issue was reported for 16.3 Preview 3. The Option is available under `Tools > Options > Text Editor > Basic > Advanced` in 16.3.1 and 16.4 Preview 1.
![image](https://user-images.githubusercontent.com/611219/65995265-fd01a600-e449-11e9-8d6b-40e309bb8233.png)

"Basic" is the name that we've used for "Visual Basic" in the Text Editor Options. I would defer to @kendrahavens whether this is something

[2019-10-01 19:52] jasonmalinowski commented on #38426
@agocke Should this be closed now that #38760 is merged?

[2019-10-01 19:57] #38966 closed

[2019-10-01 20:01] agocke commented on #38961
@jcouv Could you take a look at this? Sounds like a compiler bug

[2019-10-01 20:02] agocke commented on #38578
@kcdhaker1987 Do you have a sample that you could share with us to reproduce the problem?

[2019-10-01 20:31] agocke commented on #38426
Waiting for @panopticoncentral to confirm that the perf problem is ameliorated.

[2019-10-01 20:40] jcouv commented on #38961
I can repro. I'll investigate.
Thanks for reporting this with a self-contained repro!

[2019-10-01 20:42] mavasani commented on #38885
Yep, validated that is the case. Analysis is just conservative here.

[2019-10-01 20:42] #38885 closed

[2019-10-01 20:52] maloo commented on #38961
Great, I was hoping it would be enough

[2019-10-01 20:54] mavasani commented on #3705
Changes to the core analyzer driver to respect `generated_code = true | false` from editorconfig files for analyzer execution has been merged into a feature branch: https://github.com/dotnet/roslyn/pull/38859.

Compiler team would like this change to be clubbed with core compiler respecting this option for their #nullable analysis. See https://github.com/dotnet/roslyn/pull/38859#issuecomment-53679

[2019-10-01 21:15] mavasani opened #38984 "Re-enable IDE Dispose analyzers by default"
We are going to disable the DFA based IDE dispose analyzers (IDE0067, IDE0068 and IDE0069) by default as they need more performance tuning to handle large method bodies (method bodies which are 1000s of lines of code) with large control flow graphs.

Meanwhile, analyzers can be enabled by using the following editorconfig entries:
[code]

[2019-10-01 21:30] gafter commented on #38975
The null-conditional operators are effectively right-associative, not left-associative.  That is why the parens are required.

[2019-10-01 21:31] #38975 closed

[2019-10-01 21:38] gafter commented on #38943
I believe this is by design.  It was not intended that `[DisallowNull]` have an effect on the type of the parameter inside the method.

[2019-10-01 21:39] soniaZhao66 commented on #20377
change the theme to Blue not (blue high contrast), High Contrast will not grey out the unused namespace.

[2019-10-01 21:50] 333fred opened #38986 "Wrap Properties is unavailable in recoverable syntax failure conditions"
[code]

If I invoke `ctrl+.` on the parameter list of `Derived` here, I do not get offered a wrap parameter quick fix. Same for an incomplete method where the brackets are missing, but the signature is otherwise there. I understand that we're likely just bailing out in the presence of syntax errors, but it would be nice if we could be a bit smarter here, as offering the wrapping, at least in this

[2019-10-01 22:32] CyrusNajmabadi commented on #36913
Yes.  The issue has not been fixed.

[2019-10-01 23:11] mavasani commented on #38984
Feedback issues to resolve:

1. https://developercommunity.visualstudio.com/content/problem/747930/servicehubhostclr-sustained-high-cpu-usage.html
2. https://devdiv.visualstudio.com/DevDiv/_workitems/edit/988929
3. https://github.com/dotnet/roslyn-analyzers/issues/2750

[2019-10-01 23:49] VillSnow commented on #38975
I'm confused about eight-associative member access.
Is `foo?.ClassMember?.Value` same as `foo?.(ClassMember?.Value)`? What is the `ClassMember` in the paren? Something like pointer to member in C++?

Are usual member access operators (.) right-associative too?

[2019-10-02 00:00] AbhitejJohn commented on #23266
@jcouv : I've been seeing this quite frequently off late. I have the solution open in VS and build from commandline when it shows up the most. Closing VS fixes it. This wasn't as frequent in pre-16.3 builds. Any other workarounds that we could apply to our repo itself?

[2019-10-02 00:12] gafter commented on #38975
When you write `something?.somethingElse`, the `somethingElse` is skipped when `something` is `null`.  The `somethingElse` can include further`.` and `?.` operators which are also skipped.  That's why you don't need to `?.` after a field of a non-nullable struct type.

You cannot parenthesize the "right-hand-side" of a conditional member access as you show, because it isn't an expression.  And you

[2019-10-02 00:25] CyrusNajmabadi commented on #38986
Yes.  Currently we bail out if our parent has any syntax errors.   The presumption is that we won't be able to tell how to wrap properly in that case.

What we likely should do is only bail out if our parent has syntax errors between the beginning of it through the end of hte list that we're wrapping.  i.e. here:

[code]

Syntax errors *after* the construct to be wrapped are unlikely to ever be an

[2019-10-02 02:59] akiraKido opened #38993 "Pattern matching: override deconstruct"
I'm not sure if this is the right place for this issue. If it is inappropriate for this repository, I would be thankful if you could direct me to a more suitable repository. Thank you in advance.

---

For pattern matching, I'd like to deconstruct a certain struct I made as follows:

	public struct Result<T>
	{
		public readonly bool IsSuccess;
		public readonly T Value;
		public readonly string?

[2019-10-02 04:38] snhardin commented on #38947
Hello! I'd like to take a stab at this if possible. If anybody has any pointers as to where I should look first, I'd very much appreciate it.

[2019-10-02 07:22] bencyoung opened #38994 "Attribute async state machines for better introspection"
Hi,

I've recently written a PoC of an async builder that allows you to suspend the thread of execution to disk and rehydrate at a later point, or even on a different machine. It appears to work ok (as long as the captures are serializable obviously), but writing the code to demangle the state machine fields was tricky and I'm pretty sure it's not right now. I've attached the code but it would be

[2019-10-02 08:28] zlatanov opened #38995 "Incorrect IDE0044 (Make field readonly) when used with "ref""
**Version Used**: 16.3.1

**Steps to Reproduce**:
[code]
**Expected Behavior**: No errors / warnings / messages.

**Actual Behavior**:  IDE0044	Make field readonly.

Here is a counter example where it works as expected:
[code]

[2019-10-02 09:29] alrz commented on #38942
we can save up a few locals as well, index doesn't need to be captured in a local if it's not sideeffecting, I think we have a helper for that.

[2019-10-02 09:30] VillSnow commented on #38975
I haven't know `foo?.StructMember.Value` yields `int?` and never throw `NullReferenceException`.
I'm interested in why is it possible. Left-associative `a?.b?.c` seems enough.

These need fixing
https://docs.microsoft.com/en-US/dotnet/csharp/language-reference/operators/member-access-operators#null-conditional-operators--and-
https://docs.microsoft.com/en-US/dotnet/csharp/language-reference/operat

[2019-10-02 11:11] PDostalek commented on #36773
@TIHan @brettfo  please proceed at your earliest convenience

[2019-10-02 11:12] PDostalek commented on #37103
Still not processed, please leave us the comment for this question. @jinujoseph

[2019-10-02 13:32] Xargonus opened #38997 "VS 2019 intellisense "is" operator not suggesting enum values"
**Version Used**:
VS 2019 16.3.1

**Steps to Reproduce**:

1. var a = DayOfWeek.Monday;
2. bool equalsMonday = a == DayOfWeek.Monday
3. bool isMonday = a is DayOfWeek.Monday

**Expected Behavior**:

Intellisense suggests DayOfWeek.{Monday, Tuesday,...} values after typing "DayOfWeek." for both line 2. and 3.

**Actual Behavior**:

Intellisense suggests this only for the 2nd line, not when using th

[2019-10-02 15:48] gafter commented on #38975
The language reference for this is at https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#null-conditional-operator

[2019-10-02 16:59] CyrusNajmabadi commented on #38993
This is likely a request for dotnet/csharplang.  Would you mind porting it over there?

[2019-10-02 17:34] #38686 closed

[2019-10-02 18:11] jasonmalinowski commented on #38694
Explicitly adding compiler: the IDE calls SyntaxTree.IsEquivalent, which answers if two trees are equivalent modulo trivia. Per the docs:

It seems this API is not correctly handling updates to nullable trivia which most definitely changes "metadata visible symbolic information".

[2019-10-02 18:19] jasonmalinowski commented on #38694
And @333fred @jaredpar this isn't a great IDE experience here so we would probably want this fixed for 16.4.

[2019-10-02 18:21] CyrusNajmabadi opened #39000 "Crash in OOP tore down VS (hard crash, not yellow bar)."
Watson bucket and other relevant information.

[code]

[code]

[code]

[2019-10-02 18:22] CyrusNajmabadi commented on #39000
Tagging @dotnet/roslyn-ide @heejaechang @jinujoseph

[2019-10-02 18:23] CyrusNajmabadi commented on #39000
Tagging @sharwell  as well so bucket can be investigated before it is deleted.

[2019-10-02 18:27] jcouv commented on #36838
There's a second related issue (incorrect IDE0055 when formatting patterns):
![image](https://user-images.githubusercontent.com/12466233/66071172-86c37900-e507-11e9-8b96-22beea1096a5.png)

[2019-10-02 18:28] sharwell commented on #39000
Duplicate of https://github.com/microsoft/vs-threading/issues/521

[2019-10-02 18:28] #39000 closed

[2019-10-02 18:32] CyrusNajmabadi commented on #39000
Note: i'm getting this constantly on the latest build.  It seems ot make 16.4p1 completey unusable.

[2019-10-02 18:33] CyrusNajmabadi commented on #39000
@sharwell even if the bug is elsewhere, having this tear down VS is an awful experience.  can you reopen and use this to track fixing us to catch and yellow-bar instead of having this leak out now?

[2019-10-02 19:55] sharwell commented on #38959
We will need to decide if this API analyzer and code fix should live here, or be implemented alongside dotnet/corefx#40739.

[2019-10-02 19:56] jnm2 opened #39001 "'Generate method' action does not appear on name token following `?.`"
**Version Used**: Visual Studio 16.3.1

'Generate method' should appear for `foo?.NonExistentMethodName`, whether `foo` is a reference or value type. It currently shows up for neither.

I ran into this in several unrelated projects when changing the type of `foo` somewhere else in the file and then wanting to generate the same methods that had been called on the type it used to have.

The workarou

[2019-10-02 19:56] sharwell commented on #39000
@CyrusNajmabadi This bug is going through VS servicing for both 16.3 and 16.4. We are not planning to make short-term changes aside from the ones already in play. The easiest way to avoid hitting this bug is avoid using the Go To All feature prior to servicing complete. You also have the option of building vs-threading from source and manually patching your installation.

[2019-10-02 20:04] CyrusNajmabadi commented on #38959
I feel like this should live here.  The IDE is already the one that has been generating this form of GetHashCode (not anyone else).  And we're the ones that already know and use System.HashCode instead if it is available.  The part that is missing is that if the user uses the IDE to generate GEtHashCode in the past, they have no facility to move forward, except deleting what they have and regenera

[2019-10-02 20:05] CyrusNajmabadi commented on #39000
I'm not asking for a short term change.  I'm asking for a long term fix where we make this particular roslyn codepath resilient to bugs of this nature in these other components.  That way, even if this particular issue is fixed by VS, if new issues/regressions/etc. arise in the future, we are insulated from them.

[2019-10-02 20:55] tmat commented on #39000
Seems like the FailFast is triggered by [SafeContinueWith](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Utilities/TaskExtensions.cs,198) helper used by `SimpleTaskQueue.ScheduleTask`

[2019-10-02 21:39] TIHan commented on #36773
So, I think this and a few others can actually be removed. I will create a PR.

[2019-10-02 21:40] RikkiGibson commented on #38694
So if SyntaxTree.IsEquivalent were updated to understand that changes to `#nullable` directives make the trees non-equivalent, we would just start doing the right thing in this scenario?

[2019-10-02 21:54] TIHan commented on #36773
https://github.com/dotnet/roslyn/pull/39006

[2019-10-02 22:16] stanciuadrian opened #39007 "`default` needs explicit type in if cond expr"
**Version Used**: Visual Studio Community 2019 Preview v16.4.0 preview 1.0

**Steps to Reproduce**:
1. Check `.NET Core 3.0 SDK` in the Individual Components section of the installer
2. Compile this .NET Core console program:
[code]

[Sharplab.io](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+ABATAAmwEYB2AWACgBvS/OwgZnwEsA7eBAMwgGM58Aktz74q+AL616xAGyDh/AOJwYAsAAcANgAoAlPgC8APnysArps0BuKXVmEALPg

[2019-10-02 22:56] #38486 closed

[2019-10-02 23:56] jasonmalinowski commented on #37212
@panopticoncentral:

So we can easily eliminate Roslyn holding onto the string; the one downside though is it would mean any time you call IWorkspaceProjectContext.SetOptions we will have to reparse the string and reapply it each time – right now we fast-path recognizing the string being applied is the same one as the prior one, and if so we just no-op. I don’t know immediately how expensive that

[2019-10-03 00:08] jasonmalinowski commented on #38743
@jinujoseph What's the thing needing design review here? This looks like an outright bug where "use var" needs to also consider top-level nullability; it's a quick fix.

[2019-10-03 00:08] jasonmalinowski commented on #38743
@YairHalberstadt I'm guessing you meant to say 16.4 Preview 1 for the version used?

[2019-10-03 00:36] akiraKido commented on #38993
@CyrusNajmabadi Thanks for the guidance! I'll do so.

[2019-10-03 00:38] #38993 closed

[2019-10-03 00:42] VillSnow commented on #38975
Thank you. I got.
So `a?.b?.b` or `a?.b.c` is a single expression and cannot deconstruct into an expression tree.

[2019-10-03 00:53] gafter commented on #38694
@RikkiGibson Yes, probably so.

[2019-10-03 04:16] YairHalberstadt commented on #38743
@JasonMalinowski

I meant 16.3

I hadn't updated for a while at the time

[2019-10-03 05:02] RikkiGibson opened #39017 "Update System.Collections.Immutable to 1.2.4.0 in VS"
#38809 updated System.Collections.Immutable to take advantage of new API but had to be reverted due to issues integrating into VS.

At this point, we get type load exceptions in test runs. It's possible that some more projects in VS need to have binding redirects added. Once we get that figured out by making a test insertion in a dev branch we can recreate #38809 and pull into master again.

/cc @

[2019-10-03 06:38] jinujoseph commented on #38743
thanks @jasonmalinowski, will remove the tag..(actually forgot the reason to tag for design review)

[2019-10-03 06:45] kcdhaker1987 commented on #38578
This issue is occurring on the client's server and he has already moved  to another server so can't you provide the sample, on the new server, it is not that much slower as the previous one

[2019-10-03 06:45] #38578 closed

[2019-10-03 08:47] JohnyL commented on #38717
VS 2019 16.4.0 Preview - the problem *still* exists.

[2019-10-03 12:14] molinch opened #39024 "C# Proposal: ability to refer to generic type"
Imagine if you have the following generic struct definition:

[code]

If we could refer to the current closed type definition, code would be much more readable, for example by using Self:
[code]

If you believe it could be useful I would be happy to make a PR. I would need some guidance.

[2019-10-03 12:51] Andrew-Webb opened #39025 "ScriptState<T> should be serializable so it can be stored in non-InProc ASP.NET session state"
I was hoping to create an initial C# script (per website user), run it, cache its current state in ASP.NET Framework 4.7.2 session state, and then continue execution as website users type in subsequent commands (submitted to the website's serverside via AJAX).  The mechanism is described here:- https://github.com/dotnet/roslyn/wiki/Scripting-API-Samples#-continue-script-execution-from-a-previous-s

[2019-10-03 14:29] Joe4evr commented on #39024
Language proposals should go in dotnet/csharplang.

[2019-10-03 15:01] CreateAndInject commented on #35005
@sharwell : @jinujoseph assigned this to you, are you working it?

[2019-10-03 16:48] tmat opened #39027 "NRE in AbstractTypeImportCompletionProvider"
**Version Used**:
![image](https://user-images.githubusercontent.com/41759/66147111-019d9a00-e5c3-11e9-964b-fb558919572c.png)

**Steps to Reproduce**:

1. Type teh following in the Interactive Window
[code]

[code]

[2019-10-03 16:49] tmat commented on #39027
@ivanbasov

[2019-10-03 16:53] vsfeedback opened #39028 "Methods marked with the JetBrains UsedImplicitly attribute have an IDE0051 warning"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/757757/methods-marked-with-the-jetbrains-usedimplicitly-a.html)._

---
[regression] [worked-in:15.9.16]
Methods marked with the JetBrains attribute [UsedImplicitly] are greyed out with an IDE0051 analysis warning
For instance using PropertyChanged.Fody for classes that impl

[2019-10-03 16:57] sharwell commented on #39028
:memo: I believe IDE0051 is new for Visual Studio 2019

[2019-10-03 16:58] mavasani commented on #39028
I believe this is by design and duplicate of https://github.com/dotnet/roslyn/issues/35767#issuecomment-504950972. The recommended approach would be to author a [DiagnosticSuppressor](http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/DiagnosticSuppressor.cs,8afaec075a92603b) for programmatically suppressing all violations on types with extension specific attributes OR apply source

[2019-10-03 16:58] ivanbasov commented on #39027
@genlu

[2019-10-03 17:00] mavasani commented on #39028
Such a diagnostic suppressor should then ship along with the package that adds such attributes. So for this case, JetBrains should author a DiagnosticSuppressor for IDE0051 and suppress it whenever it sees symbols with its custom attribute, and ship this suppressor along with their package.

[2019-10-03 17:08] sharwell commented on #35005
@olegtk do you know if there is a command for this already?

[2019-10-03 17:12] tmat commented on #39025
No, we don't have plans to make `ScriptState<T>` serializable.

Have you considered the security implications of sending arbitrary code from a web sit to a web server and running it there?

[2019-10-03 17:18] genlu commented on #39027
@tmat Will take a look. So only triggers in interactive window?

[2019-10-03 17:24] 333fred commented on #35818
The assert that was revealing this race is being disabled for now in https://github.com/dotnet/roslyn/pull/39018, to allow tests to pass. Our plan for fixing the race is to make IOperation non-lazy, which will have some additional benefits:
1. IOperations are primarily used by analyzers that register for callbacks. Because of this, we have to create all IOperations anyway, in order to ensure that

[2019-10-03 17:26] tmat commented on #39027
I have not tried it elsewhere.

[2019-10-03 17:33] nesteruk opened #39030 "Interactive VSIX build is missing CSI.EXE"
**Version Used**: latest

**Steps to Reproduce**:

1. Go to MyGet Roslyn
2. Download Interactive VSIX
3. Rename to ZIP and unpack

**Expected Behavior**:
CSI.EXE should be among the files

**Actual Behavior**:
CSI.EXE is nowhere to be found

[2019-10-03 17:38] molinch commented on #39024
Thanks, I created https://github.com/dotnet/csharplang/issues/2857

[2019-10-03 17:38] #39024 closed

[2019-10-03 17:42] genlu commented on #39027
The cause is [`GetReferencedAssemblySymbols`](http://sourceroslyn.io/#Microsoft.CodeAnalysis.Workspaces/Shared/Extensions/ICompilationExtensions.cs,41) returns all previous compilations for script, and then later `compilation.GetMetadataReference` for those returns null. I guess a simple null check here should suffice: namespace is not support in script, so no need to look at previous submission t

[2019-10-03 17:54] tmat commented on #39027
Sounds good.

[2019-10-03 18:00] tmat commented on #39030
csi.exe ships in compiler package. https://dotnet.myget.org/feed/roslyn/package/nuget/Microsoft.Net.Compilers

[2019-10-03 18:06] genlu commented on #39027
@tmat After fixing the completion, I run into another crash (with code above). Could you please take a look at this one?

[code]

[2019-10-03 18:10] jasonmalinowski commented on #38743
Still repros in 16.3 RTM.

[2019-10-03 18:15] #39028 closed

[2019-10-03 18:22] sharwell commented on #38982
@theunrepentantgeek The type `T` in the example should be `string?`, which would produce the following full signature:

[code]

The lambda should have picked this up as well, but apparently did not.

[2019-10-03 18:24] sharwell commented on #38982
Ah, this is just an IntelliSense bug. The _compiler_ is correctly determining that the type of `a` is `string?`, but Quick Info is presenting it to the user as `string`. You can see this with the following:

[code]

[2019-10-03 18:30] sharwell commented on #38947
@snhardin This diagnostic is reported by [`CSharpUnboundIdentifiersDiagnosticAnalyzer`](https://github.com/dotnet/roslyn/blob/master/src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUnboundIdentifiersDiagnosticAnalyzer.cs). If I was starting on this, I would create a new unit test in [`GenerateTypeTests`](https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/CSharpTest/Diagnostic

[2019-10-03 18:47] Andrew-Webb commented on #39025
Well, I'm new to Roslyn scripting so the next thing I was going to look into was sandboxing what I had in mind, to prevent writes / bad things in general.  I would expect that https://dotnetfiddle.net/ is sandboxing in some way.

Are you saying that the Roslyn scripting I'm using isn't or can't be sandboxed?

If not, then I guess that the hosting environment should be limited to a local app runnin

[2019-10-03 18:51] Andrew-Webb commented on #39025
It would seem not:- https://github.com/dotnet/roslyn/issues/10830
Good to know.  I will drop the website plans.

[2019-10-03 19:03] tmat commented on #39025
It is definitely not easy to write a service that runs arbitrary code securely. What you'd want to do is to run the code in a container or a dedicated process whose privileges are restricted by ACL. Even then DOS attacks are a problem.

[2019-10-03 19:13] #37949 closed

[2019-10-03 19:13] #37950 closed

[2019-10-03 19:13] #36876 closed

[2019-10-03 19:13] #37872 closed

[2019-10-03 19:13] #37873 closed

[2019-10-03 19:13] #37907 closed

[2019-10-03 19:13] #37947 closed

[2019-10-03 19:13] #36877 closed

[2019-10-03 19:22] mavasani opened #39033 "Enable support for bulk configuration of analyzer diagnostics for GeneralDiagnosticOption = Suppress"
See discussion here: https://github.com/dotnet/roslyn/pull/38886/files#r330788291

[2019-10-03 19:28] jasonmalinowski commented on #38982
@333fred Just to check, is this related to any of the lambda stuff you've been doing or is this something we should investigate?

[2019-10-03 19:30] #28474 closed

[2019-10-03 19:31] jasonmalinowski commented on #28474
Fix is merged, and should be in 16.4 Preview *3*.

[2019-10-03 19:39] jasonmalinowski commented on #28474
And @veloek my apologies for punting the bug a few times from one release to the next. This bug was on my plate as the "we should get to it" and the invariably some last minute things always resulted in it getting punted. Asking about it was absolutely 100% the right thing to do since "customers are complaining" is always the easiest way to prioritize something higher!

[2019-10-03 20:00] veloek commented on #28474
@jasonmalinowski, yeah I was hoping a friendly nudge would bump it up the list of prioritized tasks :slightly_smiling_face:

[2019-10-03 21:09] Andrew-Webb commented on #39025
I completely understand.  What I might do is define a very simple DSL and write an interpreter for it.  All I need is the equivalent of Linq's `Select` and `Where` on local collections of objects that have been provided by an external API.  No arbitrary code.

Thanks for your time and attention.

[2019-10-03 21:09] #39025 closed

[2019-10-03 21:28] vsfeedback opened #39039 "Quick fix for inconsistent accessbility issue doesn't help"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/752631/quick-fix-for-inconsistent-accessbility-issue-does.html)._

---
The problem I got is in the following situation:
- a Response class is internal
- another class has a public property of that type

Suggested fixes are:
- Replace with methods
- Convert to full property

[2019-10-03 21:28] sharwell commented on #39039
Related to #23326. The user is looking for a quick fix for compiler error CS0053. There are several other related situations with different error IDs that would be handled by the same fixer.

[2019-10-03 21:30] vsfeedback opened #39040 "VS C# Editor, Advanced, Editor Help, "Split string literals on enter" broken"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/752445/vs-c-editor-advanced-editor-help-split-string-lite.html)._

---
&quot;Split string literals on enter&quot; has been broken since it was introduced, and still is in VS2019.

![image](https://user-images.githubusercontent.com/1408396/66427836-a5bf8080-e9c9-11e9-94bd-98

[2019-10-03 21:35] vsfeedback opened #39041 "C# field rename refactoring messing up when space is included"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/750347/c-field-rename-refactoring-messing-up-when-space-i.html)._

---
Actual result:
If you (f.ex) rename a field in a class by hitting CTRL+R CTRL+R, then possibly type a name containing a trailing space, or if you just paste a name from clipboard containing a trailing sp

[2019-10-03 21:38] vsfeedback opened #39042 "Visual Studio says that cast to double is redundant when it is not (C#)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/750100/visual-studio-says-that-cast-to-double-is-redundan.html)._

---
<p>Visual Studio says “Cast is redundant” here:</p>
<pre>            long x = 121645100408832000;
            return ((long)(double)x == x) &amp;&amp; ((long)(double)(x + 1) == x + 1);
</pre><p>If I “Rem

[2019-10-03 21:38] 333fred commented on #38982
Yes, in fact this will be resolved by https://github.com/dotnet/roslyn/pull/38769. Note that there will be some inconsistencies with local functions nested _inside_ these lambdas, but my hope is that they're rare enough to not notice for now.

[2019-10-03 21:40] vsfeedback opened #39043 "Go To Member not working"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/749408/go-to-member-not-working-1.html)._

---
Sometimes the &quot;Go To Member&quot; functionality is not working. It is just showing &quot;no results&quot;. Running &quot;Go To All&quot; shows the corresponding symbols but also stuff from other files. A restart of Visual

[2019-10-03 21:52] #38850 closed

[2019-10-03 22:15] vsfeedback opened #39044 "CA1065 error is shown on get property because throwing InvalidOperationException"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/752380/ca1065-error-is-shown-on-get-property-because-thro.html)._

---
[regression]
This document says it's allowed, but my IDE complains
https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1065-do-not-raise-exceptions-in-unexpected-locations?view=vs-2019

---
###

[2019-10-03 22:16] vsfeedback opened #39045 "Wrong CA2000 detected, when using new using style with object initializer style"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/749928/wrong-ca2000-detected-when-using-new-using-style-w.html)._

---
When an IDisposable is created using the new using pattern, and the object initializer style at the same time, CA2000 fires, even though the instance is disposed by using using.

Here a simple example. O

[2019-10-03 22:17] ant-222 commented on #24513
I for one need to disable live code analysis not because it is slow (which it is) but rather because it is so annoying when *VS* complains about a missing returns statement before I haven finished typing the function. It makes me mill good old *VS 2008*.

[2019-10-03 22:20] RikkiGibson commented on #38968
I believe this issue is fixed for now since #38809 was reverted. I just tested f5-ing roslyn master using VS 16.3.2 at commit 7bf4366 and it seems to work.

I think this is a scenario we need to test for whoever does #39017

[2019-10-03 22:22] genlu commented on #39027
@tmat I have reassigned this to you for the ArgumentException in binder

[2019-10-03 22:37] CyrusNajmabadi commented on #24513
vs2008 certainly checked many things in a live fashion.  It didn't check more primarily due to limitations in the implementation which made narrow and incremental checking hard.  But it would give live errors for all sorts of things :)

That said, i have no problem with an option to disable live editor squiggles.  Either as a specific option, or as part of a larger "lightweight editing" mode.  Tag

[2019-10-03 22:56] mavasani commented on #24513
Yes, we are actively planning for some top level option(s) or a more fine grained knob with multiple settings which would allow users to customize their preferred mode of operation and background analysis.

[2019-10-03 23:09] vsfeedback opened #39046 "EnC: Disable editor warning "changes made in project will not be applied while the application is running""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/751628/disable-editor-warning-changes-made-in-project-wil.html)._

---
Please do not show this warning if _Enable Edit and Continue_ is disabled. The developer knows that the changes don't match with the current running application and the decorated source code is distracti

[2019-10-03 23:14] CyrusNajmabadi commented on #24513
@mavasani Thanks!

[2019-10-03 23:22] safern commented on #36274
It would be really nice to have this. When iterating members from an assembly symbol gotten via a `CSharpCompilation` object where you need to visit all types including forwarded ones, it is not convenient to have an use the MetadataReader to get the list of forwarded types and then call `IAssemblySymbol.ResolveForwardedType` for every forwarded type.

[2019-10-03 23:26] agocke commented on #36274
fyi @jaredpar for scheduling

[2019-10-04 00:32] sharwell opened #39052 "ArrayBuilderExtensions.FreeAll is wrapped with nullable disable"
https://github.com/dotnet/roslyn/blob/7bf43667a1658911e4091d9e60695fe15b3bd2e0/src/Compilers/Core/Portable/Collections/ArrayBuilderExtensions.cs#L191-L200

According to https://github.com/dotnet/roslyn/pull/38882#discussion_r328916521, this is related to #38195.

/cc @333fred

[2019-10-04 00:32] paul1956 commented on #38934
The exact issue from (Preview 3) does not happen in 16.4.0 Preview 1.0, so I think you can close this issue. The issue of what you call Basic is not worth changing at this time.

[2019-10-04 02:10] aedwill commented on #20862
I'm seeing the same problem.  I have an ASP.NET Core Azure Function project that dynamically loads a DLL at runtime.  That dll is referenced by the loader just so that I don't have to manually copy the DLL to to the pickup folder.  At runtime it makes a call to another function through a third assembly referenced by both, but that call fails.  No breakpoints are hit in the common assembly.

Projec

[2019-10-04 05:33] jwidar commented on #36452
@olegtk

Now using 16.3.2. Still doesn't work.
All non-microsoft extensions disabled, settings backed up and then reset.

Some of my colleages do not have this problem though.

[2019-10-04 06:07] aguzev commented on #7561
Surely benchmarking and unit tests have side effects: they produce reports.

[2019-10-04 16:04] madelson opened #39062 "Compilation allows method to return without assigning out variable of custom value type"
**Version Used**:
VS 15.9.11

**Steps to Reproduce**:
Compile the following program:
[code]

**Expected Behavior**:
Compiles with error "CS0177 The out parameter 'cancellationToken' must be assigned to before control leaves the current method"

**Actual Behavior**:
Compiles with no errors. X is set to the default cancellation token value.

**Notes**:
From my experimentation, this happens for `Canc

[2019-10-04 16:15] olegtk commented on #36452
no idea, @jinujoseph, please investigate first as Roslyn handles both commands.

[2019-10-04 16:23] jaredpar opened #39064 "VB compiler can't compile when using non-standard line endings on Windows"
Repro steps:

[code]

The error appears to be coming while processing [this line](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Binding/ImplicitVariableBinder.vb#L29) in the VB compiler:

[code]

On one hand the Roslyn repository does not supporting being used with line endings other than CRLF on Windows. Our tests and infrastructure depend on that. If you use any

[2019-10-04 16:39] 333fred commented on #39052
The main issue is that the nested `.FreeAll(getNested)` call is a `SourceMethodSymbol` in the original bound tree, but after reinferrence in the nullable walker it's a `SubstitutedMethodSymbol`, with the `T` from the method substituted in. Because equality isn't handling substituted method symbols correctly right now, these do not compare equivalently and an assert fails on the bootstrap build.

[2019-10-04 17:00] JoeRobich commented on #38934
Thanks @paul1956!

[2019-10-04 17:00] #38934 closed

[2019-10-04 17:07] dickyw71 commented on #6928
This hasn't been updated for over two and a half years.
Is is still a problem?

[2019-10-04 17:47] AdamSpeight2008 commented on #39064
And the error message is?

[2019-10-04 17:47] TessenR opened #39068 "Roslyn doesn't process code analysis attributes on deconstruction methods called in switches"
**Version Used**:

**Steps to Reproduce**:

[code]

**Expected Behavior**:
`t1.ToString()` has `CS8602 Dereference of a possibly null reference.` warning as it's a variable assigned with `[MaybeNull] out T t1`

**Actual Behavior**:
No warnings for `M2`

[2019-10-04 18:18] RikkiGibson opened #39070 "[Flaky Test] TestExpanderWithImportCompletionDisabled"
Tracking re-enabling this test.

CI run with a failure (see attempt 1): https://dev.azure.com/dnceng/public/_build/results?buildId=375867

[code]

[2019-10-04 18:28] tokarzkj commented on #37428
I would be interested in working on this if no one else has grabbed it.

[2019-10-04 18:45] genlu opened #39072 "OutOfMemoryException from parser while typing in VS"
typing the code below reliably triggers the crash in dogfood build 16.4 preview2 29403.147master, [||] is where the cursor is.

[code]

[code]

[2019-10-04 19:03] #38725 closed

[2019-10-04 19:28] CyrusNajmabadi commented on #37428
go ahead @tokarzkj ! :)

[2019-10-04 19:35] ryzngard commented on #37243
## Current Planning

### Moving Files

We're working with project team to standardize moving files and symbol rename. This will happen in a few phases:

1. Working on public API tell Roslyn to handle the symbol renaming from the project side
2. Adding a rename API to reduce loss of information from remove/add that's currently needed today
3. Update project system to use new APIs with current user

[2019-10-04 19:36] agocke commented on #38910
@gafter My read of the spec is that the compiler is compliant, namely that `Nullable<T>` is not a user-defined struct type. I'm not sure why that restriction exists, however. Is there a reason we should prohibit this?

[2019-10-04 19:48] dlech commented on #38943
This gives an unexpected warning as well

[code]

So it doesn't seem possible to have a property with different nullability for the getter and setter when the getter and setter are expression bodied.

[2019-10-04 20:16] jasonmalinowski opened #39074 "Generate method drops ? on class-constrained T"
Paste the following into a C# 8.0 app:

[code]

Invoke Generate Method on M2.

**Expected:** M2 is generated with a parameter accepting T?
**Actual:** the parameter is just T so it doesn't work right

[2019-10-04 20:20] jcouv commented on #38725
Thanks for reporting @springy76
The fix was merged into 16.4 preview 3

[2019-10-04 20:56] petrroll commented on #37243
IIRC: Since most moveXZY refactorings work on multiple elements at a time / have more complicated selection of types of nodes they work on I think they haven't been moved over to current helpers / can't be brought over without at least moderate investment.

[2019-10-04 20:57] jasonmalinowski opened #39075 "Extract method drops nullable annotation on explicit cast"
Copy into a C# 8.0 app:

[code]

Invoke extract method on the "o" in the "var s..." line. Do *not* select the cast, just the o.

**Expected:** the generated method returns string? because that's the explicit cast before it.
**Actual:** it returns just string which breaks code.

[2019-10-04 21:09] jasonmalinowski opened #39076 "Quick info doesn't show nullable type when mousing over var"
Paste the following into a C# 8 application:

[code]

Mouse over "var".

**Expected:** it shows System.String?
**Actual:** it shows System.String

[2019-10-04 21:33] #38758 closed

[2019-10-04 22:17] gafter commented on #38910
I'm not sure.  `Nullable<T>` does have specialized runtime treatment.

[2019-10-04 22:30] panopticoncentral commented on #37212
I guess the question is what you want your interfaces to look like? There was a point where we were discussing moving towards a model where the project system would only pass the command-line string and Roslyn would figure everything out from that, but I don't know if that was Svet's dream or something the Roslyn team thought was a good idea. If we don't think we care so much about doing that, the

[2019-10-04 22:48] panopticoncentral commented on #38426
I was finally able to create a VS drop with the fix included and verified that the memory is gone, so you can consider this verified!

[2019-10-04 22:48] #38426 closed

[2019-10-04 22:51] agocke commented on #38910
@davidwrighton Do you happen to know how `Nullable<T>` is treated specially? Would it be bad if we were to allow pointers taken to an instance, assuming the `T` being substituted is fully unmanaged?

[2019-10-04 22:57] gafter commented on #39062
A value type that contains no fields is considered definitely assigned when all of those fields are assigned.  If you have an empty struct type, it will not require assignment.

See also https://github.com/dotnet/roslyn/issues/23688#issuecomment-354521255

[2019-10-04 22:57] #39062 closed

[2019-10-04 22:59] gafter commented on #39007
Dup of https://github.com/dotnet/roslyn/issues/24725

[2019-10-04 22:59] #39007 closed

[2019-10-04 23:11] sharwell commented on #39075
Why wouldn't it return `object?`?

[2019-10-04 23:15] jasonmalinowski commented on #39075
There is special logic in extract method that says if the thing you are extracting is an expression being casted, the return type of the method is the type of the cast.

[2019-10-04 23:22] gafter commented on #39052
Reinference in the nullable walker should never infer a type that is not equivalent (identity convertible with) the type from the initial binder.  If it is different, then there is a bug.

[2019-10-04 23:24] gafter commented on #38994
@bencyoung I don't think this is something we'd devote resources to.  However, please let us know if you want to work on making these changes to the Roslyn compilers, and we can discuss if we want to support that.

[2019-10-04 23:26] agocke commented on #38426
@panopticoncentral Great, thanks!

[2019-10-04 23:58] CyrusNajmabadi commented on #37243
Please be very careful about this.  I've used tools that do auto-renames and it can be an *awful* experience.  It's especially bad when you're in the middle of things, haven't comitted to git in a while, and then get a rename that for some reason can't be undone (which is not uncommon). Now you're literally screwed.

I often accidentally grab/move files when trying to double click on them.  i.e. i

[2019-10-05 00:09] #38909 closed

[2019-10-05 06:02] ronnygunawan opened #39082 "Switch expression that returns lambda crashes VS right after typing block's open brace"
**Version Used**: VS Community 2019 Preview 16.4.0 Preview 1.0

**Steps to Reproduce**:

1. Paste: `var x = ((Func<int, decimal>)(0 switch { 0 => _ => {}}))(0);`
2. Visual Studio dies

**Expected Behavior**: I can start writing lambda block

**Actual Behavior**: VS crashes

[2019-10-05 06:08] catlion commented on #35845
What about this one?

            var level = LogEventLevel.Information;
            _ = Enum.TryParse(logLevel, out level);

[2019-10-05 06:42] canton7 commented on #35845
Also unnecessary? Since `level` is passed to `Enum.TryParse` as an `out` variable, it will always be assigned to by `Enum.TryParse`. Any value you give it first will therefore always be overwritten.

[2019-10-05 07:15] catlion commented on #35845
Ah sorry, this is kinda obvious now when I think of it :)

[2019-10-05 10:05] 0xd4d opened #39083 "'Go to all' can't find local functions"
**Version Used**: VS 16.3

**Steps to Reproduce**:

1. `Ctrl+,`
2. Search for `LocalFunction`

[code]

**Expected Behavior**:

The local function is found

**Actual Behavior**:

The local function is not found

[2019-10-05 12:46] JaydenMaalouf commented on #17085
@Dogrtt Exactly the same here. I followed the answer posted [here](https://developercommunity.visualstudio.com/content/problem/25310/unload-projects-hangs-on-close-solution.html) and it worked wonders. It does suck if I ever need the service though.

[2019-10-05 13:58] Sliptory commented on #38377
I could reproduce this error only in the project collected on .NET Core 3.0
An error is generated on the NET Framework 4.7.2.

[2019-10-05 21:15] CyrusNajmabadi commented on #39083
In general, we don't index local members at all.  Likely because they're viewed as temps, and likely have far too many hits across tons of members.  That said, local functions seems somewhat reasonable as something we could index.

I do envision some difficulties putting this into the nav-to index.  Specifically:

1. indexing will be slightly more expensive as we'll have to navigate into method bo

[2019-10-05 23:03] gafter opened #39087 "Test VB case sensitive behavior vs the specification"
We should test to see if the VB compiler complies with the language specification in handling case insensitivity.  Below are a few of the language specification's assertions.  If there is a mismatch, we will have to decide whether we want to change the compiler or the specification.

See also https://en.wikipedia.org/wiki/Halfwidth_and_Fullwidth_Forms_(Unicode_block)

[2019-10-06 00:42] madelson commented on #29170
@DustinCampbell is this known to be fixed in the lastest version or are you just suggesting I re-try it there?

[2019-10-06 02:06] sujatinov commented on #12363
This single issue prevents me from using VS Code as my default editor for already 3 years. Will continue to work in WebStorm / Rider until this is fixed.

[2019-10-06 03:49] RikkiGibson commented on #22289
is this possibly related to #26305?

[2019-10-06 06:44] #38555 closed

[2019-10-06 12:20] miloush commented on #38708
Just hit this one with VisualStudio.16.Preview/16.4.0-pre.1.0+29319.158

[2019-10-06 13:10] miloush commented on #38708
And here is a repro:
[code]

Select the semicolon only, either by double-clicking it or by keyboard.

[2019-10-06 14:37] svick commented on #38377
@Sliptory I think that's because it's a C# 8.0 feature and .Net Framework projects default to C# 7.3.

[2019-10-06 17:52] jacekbe opened #39090 "Handling of non-nullable fields for classes with "Init" method"
I have a bunch of related classes that are constructed in 2 steps:
1) Object is instantiated, constructor is called
2) Init() method is called

The problem is that some fields are initialized in Init() method and are guaranteed to be non-null afterwards. However, the compiler complains that these fields are not initialized so I'm forced to either mark them as nullable (which I don't like) or do so

[2019-10-06 18:16] KristianJakubik commented on #38997
Hi, this looks interesting. Can I take a look at this and submit PR.

[2019-10-06 18:36] ronnygunawan commented on #39090
For silencing the compiler part, you can do this in 8.0:

[code]

[2019-10-06 18:42] CyrusNajmabadi commented on #39090
How does the compiler know that `Init` has been called?  Imagine passing around some random `Foo` type.  How would it know if that instance had had `init` called on it?

This is different from constructors.  With constructors you *know* it must have been called.  Because that's the only way to get a non-null instance in the first place.

[2019-10-06 19:36] jacekbe commented on #39090
I'm not expecting that compiler will guarantee this. If we have a class where calling "Init" after object instantiation is part of the contract then developer is responsible for guaranteeing that no other method is called before object is fully initialized. Calling some other method before Init would be considered misuse of the API. So in this regard noting changes - there would be no language-lev

[2019-10-06 20:22] RikkiGibson commented on #38850
Would it make sense to do any of the following:

- include element initializers in Find All References results for Add methods
- go to the appropriate Add method on F12 of the curly brace for the element initializer

[2019-10-06 20:58] Joe4evr commented on #39090
Related: dotnet/csharplang#2328 (by the way, this is something that's more suited to be at the language repo than the copiler repo 😉)

A solution for both paradigms can theoretically be reached. Given a class:
[code]
the linked proposal is to have the compiler prevent escaping an instance of `new Foo()` if it doesn't see the `Text` property being assigned a value (note that the compiler already do

[2019-10-06 21:21] petrroll commented on #38708
I have found the issue and have a fix ready, PR in an hour or so.

[2019-10-06 21:35] CyrusNajmabadi commented on #38850
@RikkiGibson sure.  it's just a question of motivation.

[2019-10-06 21:50] jacekbe commented on #39090
Yes, you are right about wrong repo - it should belong to the csharplang. Long time ago these were combined and I wasn't aware/forgot about the split.

Thanks for the link. I will read it tomorrow (now it's late where I live) to see if it applies to my case. Unfortunately my pattern is a bit complicated. It's more like:
1) Create an object prototype
2) Depending on program input - clone and set pr

[2019-10-06 22:29] petrroll commented on #38708
Fix in https://github.com/dotnet/roslyn/pull/39091

cc: @mavasani

[2019-10-07 01:22] tamlin-mike opened #39092 "VisualStudioUnresolvedAnalyzerReference not overriding Display property provokes VS 16.3 crash."
Regression from what shipped with VS 16.2.

https://github.com/dotnet/roslyn/blob/7f60b3849b6dd1c3ee64cd2d327cfc5ea6fa7b64/src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioAnalyzer.cs#L135

does not override the `Display`property, meaning whoever uses that property will get a null value back despite the comment in `AnalyzerReference` suggesting the opposite.

Enter VS 16.3's `FxC

[2019-10-07 05:44] DavidKarlas opened #39093 "AbstractSymbolCompletionProvider `s_cachedDocuments` caches also cancelled task"
**Version Used**:
any, but I have: `3.4.0-beta1-19462-14+2f21c63bb29a816d4a62191a1a0739deb64d387c`
**Steps to Reproduce**:
I assume this is hard to reproduce, it happened to me while debugging. Steps are something like this:
1. Move mouse to error so QuickFix(light bulb) would appear and then move to next
2. You must do 2nd move at exact moment so `CreateContext` is canceled at https://github.com/

[2019-10-07 07:39] LokiMidgard opened #39094 "SuppressMessage works in IDE but still produces warnings in build output"
**Version Used**:
VS 16.3.2
**Steps to Reproduce**:

1. Create new c# .net core Console Project with following code
[code]
2. Enable nullable in `.csproj` (field `test` will show green squigles with non initilized non-nullable warning)
3.  Add Gloabl suppression file with
[code]
  (warning in source code will vanish)

**Expected Behavior**:

Bild shows no warnings

**Actual Behavior**:
Build shows

[2019-10-07 07:59] huoyaoyuan opened #39095 "False positive IDE0060 on VB xml syntax"
**Version Used**:
Visual Studio 16.3.2

**Steps to Reproduce**:
Found at https://github.com/dotnet/roslyn/blob/7f60b3849b6dd1c3ee64cd2d327cfc5ea6fa7b64/src/Compilers/Test/Utilities/VisualBasic/CompilationTestUtils.vb#L235-L247

Minimal repro:
[code]

**Expected Behavior**:
The xml element is treated as used.
**Actual Behavior**:
IDE0060 reported.

[2019-10-07 08:12] huoyaoyuan commented on #39095
Duplicate of #37988. But that fix should already be merged in 16.3 right?

[2019-10-07 08:29] tamlin-mike opened #39096 "build failure"
HEAD

Build ends prematurely with many errors of the following kind
[code]

Ideas? Are you perhaps using a different way to build it than `Build.cmd`?

[2019-10-07 08:35] huoyaoyuan commented on #39096
I can build with Build.cmd several minutes ago, but build inside VS before that reports errors.

[2019-10-07 09:07] tamlin-mike commented on #39096
What I did was basically just git clone, Update.cmd, Build.cmd.

VS16.3, which could be important.

[2019-10-07 09:13] tamlin-mike commented on #39092
While I was able to build a replacement dll, I couldn't get it to load in VS. In fact, using it as a drop-in replacement stopped VS from loading C# projects at all. :/

Anyway, this tiny patch should fix the immediate error, but perhaps there's a design error with this that needs further analysis and fixing.

[code]

[2019-10-07 10:33] mavasani commented on #39092
I will have a PR for this later today.

[2019-10-07 11:20] tamlin-mike commented on #39092
@mavasani Excellent. Is there somewhere to get a release-build of the dll once fix is included, that could be dropped in (and ngen'd) in an existing VS installation, or will the only way to get it be to wait for a new VS point release?

[2019-10-07 14:49] tamlin-mike opened #39098 "Build system feedback"
As a first-time builder of any Roslyn code, I thought it could be interesting for you doing this on a daily basis to get some input from someone that tested it out for the first time.

Documentation:
- The instructions for kicking off "your first build" is Good Stuff. Short and concise; Four short bullet points. Very good. Gold Star.

- The "-help" switch to eng/build.ps1 should probably be mentio

[2019-10-07 15:15] BillWagner commented on #38377
@gafter The only mention I can find for this is in #1565

I don't see a proposal doc for local static functions, which is where I would expect this.

@jcouv Does something exist that should be added?

[2019-10-07 15:21] mavasani commented on #39092
@tamlin-mike I'd suggest waiting for the next 16.4 preview release which has the fix. @jinujoseph @vatsalyaagrawal the current Roslyn master branch targets which 16.4 preview release?

[2019-10-07 15:24] mavasani commented on #39092
@tamlin-mike You can also generate a release build out of 16.3 branch: https://github.com/dotnet/roslyn/tree/release/dev16.3 by cherry picking this commit: https://github.com/dotnet/roslyn/pull/39097/commits/7dfb0816e3bad7400171179a006b6993576d1410

You probably want to build Roslyn.sln with `/p:Configuration=release /p:DotNetUseShippingVersion=true` to get the correct assembly and file versions.

[2019-10-07 15:32] tamlin-mike commented on #39092
@mavasani Thank you! I had been skimming the documentation to see if it was possible, but didn't find anything obvious on the "Build" wiki page. This information seems to be exactly what I needed.

[2019-10-07 15:36] gafter commented on #39062
That's about right.  It depends on what is in your reference assembly.  You can use the `-features=struct` compiler flag to make the compiler pay attention to private fields from imported assemblies.  That may fix the issue for `CancellationToken` for you.

[2019-10-07 15:37] vsfeedback opened #39099 "CA1066 - Implement IEquatable is Incorrectly Reported"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/742346/ca1066-implement-iequatable-is-incorrectly-reporte.html)._

---
## Symptoms
The C# compiler still reports **CA1066 - Implement IEquatable when overriding Object.Equals** even though it's implemented (see attachment)

## Settings

[code]

## Attempted Resolutions
- De

[2019-10-07 15:38] gafter commented on #38377
@BillWagner You're right, there is no proposal document for this.  The compiler/languages team has not made it a priority to document the features we develop.  As best I understand the current plan, we're depending on you to do that.

[2019-10-07 15:44] BillWagner commented on #38377
@gafter 🤣

Do you want to move this issue to dotnet/csharplang and assign it to me?

[2019-10-07 16:06] jnm2 commented on #39090
This is coming up frequently enough to be annoying across every codebase (open-source and proprietary) that I've used NRTs with so far. I've been doing `= null!` since flow control could in theory prove that the constructor was calling a method which unconditionally initializes the remaining fields.

[2019-10-07 16:20] andre-ss6 opened #39100 "NRT - Deeper analysis inside constructor for indirect intialization scenarios"
The `InitializeComponent` scenario:

[code]

Also, happened to me on the first project I'm updating with NRTs:

[code]

The compiler should follow on the method calls inside a constructor to a reasonable depth in order to determine nullability.

[2019-10-07 16:21] andre-ss6 commented on #39100
Sorry, wrong repo

[2019-10-07 16:21] #39100 closed

[2019-10-07 16:35] mavasani opened #39101 "Enable CA1829 for test code in Roslyn.sln"
See https://github.com/dotnet/roslyn/pull/39029/files#r331157299

[2019-10-07 16:58] 333fred commented on #9658
Fixed in https://github.com/dotnet/roslyn/pull/39085

[2019-10-07 16:58] #9658 closed

[2019-10-07 16:59] huoyaoyuan commented on #39098
You can run `Restore.cmd` first so that VS can load the projects, then invoke `Build` inside VS only on your interests. I'm not sure whether this works for a clean clone, but I've only runned `Restore.cmd` but not `Build.cmd` in several months.

[2019-10-07 17:06] sharwell opened #39102 "Use a singleton for AnalyzerActions.Empty"
**Version Used**: Unknown

:link: https://developercommunity.visualstudio.com/content/problem/531240/occasional-outofmemoryexception.html

One of the heap dumps showed 3,486,047 instances of Microsoft.CodeAnalysis.Diagnostics.AnalyzerActions, but at most 5,000 were not empty. Using a singleton for the empty case would save a large amount of memory.

As a step past this, we could attempt avoid plac

[2019-10-07 17:16] mavasani commented on #39102
Yep, large part of analyzer action registration code was written by John Hamby as a quick prototype. I think we need to perf tune and cleanup quite a bit of the code here.

[2019-10-07 17:51] techie55 commented on #38504
Hello, we are facing the same issue with **Code Cleanup** extension in our project which on Visual Studio 2019 16.3.1 on .NET Framework 4.7.1
The weird thing is that the usings do not get sorted only for Web Projects using .NET Framework
Our other class library projects which are on .NET Framework 4.7.1 sorts the usings correctly with System directives being sorted first.
Also our web project on d

[2019-10-07 18:15] RikkiGibson commented on #39098
tagging @jaredpar and @jasonmalinowski

[2019-10-07 18:16] #38794 closed

[2019-10-07 18:27] tamlin-mike commented on #39098
@huoyaoyuan Yes, I have now realized it is possible to build a single project from within VS, but loading Roslyn in VS is... not exactly speedy, nice to the CPU fan, or the responsiveness of the computer as a whole. :-)

 I had hoped it would be possible to specify perhaps .csproj-level from command-line. Maybe it is, and I simply haven't found out how to do it yet.

[2019-10-07 18:29] jasonmalinowski commented on #39098
You can just do `msbuild /m <project>` like any other .NET project and that'll build just that and dependencies.

[2019-10-07 18:32] jaredpar commented on #39098
This can be done by setting the environment variable `%ROSLYNUSEHARDLINKS%` to any value. That will enable all of the MSBuild options for using hard links when possible for files. This is not enabled by default for the following reasons:

1. It doesn't have a meaningful impact on build performance so long as you're building on an SSD.
1. It has no impact when the nuget cache directory and the buil

[2019-10-07 18:32] tamlin-mike commented on #39092
@mavasani Editing global.json to remove `-preview6-012264` from the dotnet version, I got it to compile. Unfortunately, comes time to ngen it fails with "Strong name validation failed". Not sure what _exactly_ is provoking that. Possibly some mismatch in arcade version, since it seems the signing key is in an external nuget with such a name.

Before realizing that, I diffed the more accessible inf

[2019-10-07 18:32] jasonmalinowski commented on #39098
Paging @tmat on that one. Are you able to run `git remote -v` and share the output? When you do a build we embed URLs to GitHub in the build in the debugging information; this means that debugging can then fetch source files from GitHub. That needs to look at your remote URLs to know which GitHub repo it is; if you're using some of the "fancier" Git features it can sometimes break. (Or there's som

[2019-10-07 18:33] terrajobst commented on #38850
Yes.

Maybe? I think this would never occur to me.

[2019-10-07 18:36] jasonmalinowski commented on #38504
@techie55: could you file a new bug for your issue? The same symptoms can be caused by a number of underlying issues and I want to make sure we don't confuse yours and the original filer's.

[2019-10-07 18:54] CyrusNajmabadi commented on #38850
Here's the location we would need to update for find-refs: https://github.com/dotnet/roslyn/blob/6dab121ff512e2bcc5028149d7705d3ba2d51a72/src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/OrdinaryMethodReferenceFinder.cs#L94-L105

We already have the concept of being able to find special methods.  It would just be a matter of adding support for this additional special method and putt

[2019-10-07 18:55] terrajobst commented on #38850
@RikkiGibson, would you mind filing suggestions for your comments?

[2019-10-07 18:58] jmarolf commented on #39096
`restore.cmd && build.cmd` should work. if you do `git clean -xdf` followed by `restore.cmd && build.cmd /binaryLog` and still see this failure could you share the *.binlog file?

[2019-10-07 19:13] tamlin-mike commented on #39096
If I switch back to `master` I might give it a whirl.

I just found it strange that it could work at all considering the error message "is inaccessible due to its protection level". Perhaps the testing build is somehow granting the tests access to otherwise inaccessible members/types, and I'm just unaware of the functionality? Combined with some other build issues I experinced at the time, that co

[2019-10-07 19:25] RikkiGibson commented on #22449
Related to #38850

[2019-10-07 19:33] RikkiGibson opened #39106 "Go to Definition of Add method for collection element initializers"
Related to #38850

Scenario:

[code]

Expectation:
- Go to Definition on the curly brace at `{ 1, null }` or `{ 2 }` should go to the Add method referenced by the element initializer
- Go to Definition on the literal 3 probably can't go to the Add method, because the element initializer could be any sort of expression that would have its own definition that we actually want to go to. (any thoughts

[2019-10-07 19:34] RikkiGibson commented on #38850
One issue already existed, and I filed another issue to follow up on these.

[2019-10-07 19:47] vsfeedback opened #39107 "Add or change parameter in an existing method (ReSharper style)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/740946/add-or-change-parameter-in-an-existing-method-resh.html)._

---
<p>This previous feature suggestion was incorrectly marked as included in VS2017. This capability is still not available in the general case.</p><p><a href="https://developercommunity.visualstudio.com/conte

[2019-10-07 19:48] RikkiGibson commented on #38968
@CyrusNajmabadi I am wondering how we actually broke f5, because it doesn't match my expectation.

I just tried checking out commit c350cf34c7 (which uses 1.2.4.0 of System.Collections.Immutable), then opened Roslyn.sln using Visual Studio 16.3.2 (latest stable public release). But f5 seems to work fine, can load a simple project and use the editor.

It might be useful to know which commit you had

[2019-10-07 19:50] vsfeedback opened #39108 "Add parameter wrap to code cleanup"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/748441/add-parameter-wrap-to-code-cleanup.html)._

---
Would like to have this feature in code cleanup: https://docs.microsoft.com/en-us/visualstudio/ide/reference/wrap-align-indent-parameters?view=vs-2019

That way, this could be apply to the entire file, project or solution.

[2019-10-07 19:50] vsfeedback opened #39109 "Surround code with curly braces"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/740318/surround-code-with-curly-braces.html)._

---
<p>Requested many times before:</p><p>If code is highlighted and I press { surround selected code with curly braces.  </p>

---
### Original Comments

#### Jane Wu [MSFT] on 9/20/2019, 01:16 AM:

<p>Thank you for taking the t

[2019-10-07 20:00] kendrahavens commented on #29998
[Developer community feedback +2](https://developercommunity.visualstudio.com/content/idea/467938/case-statements-in-a-switch-should-be-expandcollap.html)

[2019-10-07 20:01] tamlin-mike commented on #39098
Oh! Here I thought Build.cmd -> eng/*.ps1 did some black magic stuff.

Maybe I was skimming the wiki too fast, or the information that it is possible to build individual parts (even from command-line) isn't presented (or linked to) in close enough proximity to the starting build instructions?

Excellent.

I was looking for a way to not build any tests at all really. To reduce useless build time an

[2019-10-07 20:03] tmat commented on #39098
Does the bare repo have a remote URL configured?

[2019-10-07 20:10] tamlin-mike commented on #39098
No remote URL. Only accessible locally via filesystem access.

[2019-10-07 20:12] jmarolf commented on #39098
`restore.cmd` does some black magic stuff.  Once that has completed subsequent calls to `msbuild` should just work™

[2019-10-07 20:13] tmat commented on #39098
@jmarolf Restoring a single project should work as well. `msbuild /restore foo.csproj`.

[2019-10-07 20:13] vsfeedback opened #39110 "Quick Class implementation"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/737464/quick-class-implementation.html)._

---
<p>I have not yet found a shortcut like this (if it exists please direct me to it).  I would like to be able to use a shortcut keyboard command (i.e. Ctrl+K Ctrl_C : Comment) to be able to instantiate a new class with all the prop

[2019-10-07 20:15] tmat commented on #39098
I mean in the repo cloned from github.com/dotnet/roslyn.
I assume you did

[code]

This adds a remote `origin` that points to `http://github.com/dotnet/roslyn`.

[2019-10-07 20:26] tamlin-mike commented on #39098
Yes, of course.

Bare "middle" repo:
[code]

Working repo:
[code]

Coming to think of it... could the backslashes be the unanticipated issue?

[2019-10-07 20:30] kendrahavens commented on #14340
[Developer community](https://developercommunity.visualstudio.com/content/idea/741985/adjustchange-namespace.html)

[2019-10-07 20:31] vsfeedback opened #39111 "Automatically fix naming style across file/project/solution"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/740419/automatically-fix-naming-style-across-fileprojects.html)._

---
Would love do see something like what Resharper does: https://www.jetbrains.com/help/resharper/Coding_Assistance__Naming_Style.html#detect

I especially need it when doing the following:
- I want to create

[2019-10-07 20:32] tmat commented on #39098
No, this scenario is currently unsupported, but as it happens I'm working on implementing it as we speak :) See https://github.com/dotnet/sourcelink/issues/418

[2019-10-07 20:53] tamlin-mike commented on #39098
Excellent, tmat. That information closes that concern.

[2019-10-07 21:17] #24737 closed

[2019-10-07 21:25] vsfeedback opened #39113 "Add support for xmldoc tags on local functions (C# 7.0+)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/739055/add-support-for-xmldoc-tags-on-local-functions-c-7.html)._

---
Support for [local functions](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/local-functions) was added in C# 7.0, which is awesome.  However, decorating a local functi

[2019-10-07 21:28] vsfeedback opened #39114 "Breakpoint Highlight - C #"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/736961/breakpoint-highlight-c.html)._

---
There is no settings to disable breakpoint LINE highlight. I see ther is one for C++ but not for C#.

The red is too strong, you also lose the context highligting on th eline of you set the colour to black or white.

---
### Original

[2019-10-07 21:37] vsfeedback opened #39115 "Search items from metadata in Go-To-All (Ctrl + T)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/746165/search-items-from-unimported-namespaces-ctrl-t.html)._

---
Please, add a feature to find items from unimported namespaces by pressing Ctrl + T, just like in the text editor itself.

---
### Original Comments

#### Игорь on 9/24/2019, 00:46 PM:

(private comment, text r

[2019-10-07 21:38] mavasani commented on #39095
@huoyaoyuan I can't repro this on our latest internal dogfood build. Can you try on latest 16.4 preview build?

[2019-10-07 21:47] vsfeedback opened #39116 "Avoid unnecessary casts when refactoring"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/742342/avoid-unnecessary-casts-when-refactoring.html)._

---
I love the refactoring features of Visual Studio, but I have seen multiple scenarios where it suggests adding unnecessary casts in order to do another refactoring. My most recent one being converting to a conditional

[2019-10-07 21:50] vsfeedback opened #39117 "Refactor object from different directives"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/741362/refactor-object-from-different-directives.html)._

---
can we do refactoring of same object name from different setup in directives especially if the object inside #if(DEBUG) ?

[code]

In this example, if I use ctrl+R+R in `CurrentConnectionString` assume that I'm in d

[2019-10-07 22:30] ryzngard commented on #38959
Design Review: We will take this change as is, with IDE code targeted to be fixed. We believe a better approach should be encouraged for corefx analyzers to help users with the annotation around hashcode.

[2019-10-07 22:37] ryzngard commented on #38766
Design Review: We believe this scenario is important and works well as a validation for work towards an extensible formatter, being tracked at #31691 . We'll close this issue but keep it linked to use as a validation of design.

[2019-10-07 22:37] #38766 closed

[2019-10-07 22:37] ryzngard commented on #38932
Design Review: We agree this is by design.

[2019-10-07 22:37] #38932 closed

[2019-10-07 22:40] ryzngard commented on #37960
Design Review: Vast changes in behavior would be bad in this area. We agree that typing `:` should result in insertion of `:` when shown in the completion list as long as we use this behavior consistently.

[2019-10-07 22:43] ryzngard commented on #37842
Design Review: Improvements to FAR would be accepted to allow this behavior. @sharwell can you link a good example of similar PR?

[2019-10-07 22:45] ryzngard commented on #38241
@stephentoub would this be required to work for fields as well? We're debating various designs and more use cases for styling like this will help us understand an approach moving forward.

[2019-10-07 22:48] ryzngard commented on #38051
Design Review: We agree that running VSIX analyzers on a build by default. We would be willing to accept a proposal to adjust the "Run Code Analysis" feature to handle this analysis on demand. @mavasani can you follow up with a concrete proposal?

[2019-10-07 22:48] sharwell commented on #37842
A great example of a similar situation is #23394 / #23049

[2019-10-07 22:50] heejaechang opened #39120 "IntroduceVariableCondeRefactoringProvider threw an exception"
System.ArgumentOutOfRangeException : Specified argument was out of the range of valid values.
Parameter name: position
   at Microsoft.CodeAnalysis.SyntaxNode.FindTokenCore(Int32 position,Boolean findInsideTrivia)
   at Microsoft.CodeAnalysis.CodeRefactoringHelpers.IsNodeUnderselected(SyntaxNode node,TextSpan selection)
   at async Microsoft.CodeAnalysis.IntroduceVariable.AbstractIntroduceVariable

[2019-10-07 22:50] heejaechang commented on #39120
I wasn't trying to use the refactoring. I was just doing normal typing

[2019-10-07 22:50] ryzngard commented on #36210
Design Review: Customer ask is unclear. We believe that addition of implicit conversion operator to find all references would be a valid addition to help solve this problem. There may already be tools to help with this ask.

[2019-10-07 23:27] jmarolf commented on #39096
@tamlin-mike 	there is some silliness going on with test certificates and what-not thought @tmat 	is the authority on whether this is expected or not (I would assume no)

[2019-10-07 23:31] #31984 closed

[2019-10-07 23:44] ryzngard opened #39122 "Calling GetTypeInfo on CastExpressionSyntax.Type returns wrong nullable information"
[code]

where `[||]` shows the CastExpressionSyntax being used.

![image](https://user-images.githubusercontent.com/475144/66356903-a00e6000-e921-11e9-8cfd-ee7fb41f72a9.png)

[2019-10-08 00:15] #30956 closed

[2019-10-08 06:26] mchenx commented on #37098
I was encountering this in a windows server 2016 core docker image, the same project (git repo) was compiled fine on either windows server 2016 core or on windows 10 by using either MSBuild or VS2017

[2019-10-08 07:14] tamlin-mike commented on #39092
I finally managed to get the home-built loaded into VS by creating a full vsix and installing that (into LOCALAPPDATA). That should teach me trying to modify things like this at a file level.

@jinujoseph As far as I'm concerned, this issue can be closed, unless it's waiting for #39097 to get deployed.

@mavasani Again, thanks for the help.

[2019-10-08 07:34] tamlin-mike commented on #35253
It seems to me this bug is due to an inverted comparison.
- If the new type name is _not_ ending in `Attribute`, nothing at all is appended.
- If it _is_ ending in `Attribute`, another instance of `Attribute` is appended.

That seems to be the completely opposite of what would be both logical and reasonable. Ergo, inverted condition, and should be very quick and easy t fix by someone knowing the c

[2019-10-08 07:49] jkears opened #39128 "SyntaxFactory.MethodDeclaration no longer accepts SyntaxKind.EndOfFileToken for semicolonToken"
Previous to upgrading to 3.3.1 (was on 3.1.0) I was able to pass a SyntaxKind.EndofFileToken into semicolon parameter on the SyntaxFactory.MethodDeclaration method but after the upgrade to 3.3.1  now receive a runtime exception … System.ArgumentException: 'semicolonToken'.

**Steps to Reproduce**:

 SyntaxFactory.MethodDeclaration(attributeLists: SyntaxFactory.List<AttributeListSyntax>(),

[2019-10-08 08:12] huoyaoyuan commented on #39095
@mavasani I haven't install preview. Trusting your internal test and unit test in master.
After comparing, the fix is in 16.3 milestone, but not merged into release/dev16.3. A bit confused about this.

[2019-10-08 11:27] tamlin-mike commented on #35253
I might have found the bug

https://github.com/dotnet/roslyn/blob/bdcf1326865171e2581668979415e823f3d7b0ed/src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.Expander.cs#L605-L609

I don't know if it's as simple as negating `name.EndsWith`, but it looks like a promising candidate.

[2019-10-08 12:28] NetTecture opened #39130 "CS0618 shown in error when method uses obsolete element internally"
Visual Studio 16.3.2

I have a method using an obsolete element INTERANALLY - it is not used as parameter, nor is it actually returned.

I am getting offered to add the obsolete attribute to the method:

![image](https://user-images.githubusercontent.com/909612/66395471-c7276900-e9d7-11e9-9fbb-08edc63e501d.png)

This is factually incorrect. While the warning on the obsolete element is sensible, ad

[2019-10-08 12:40] Dreamescaper commented on #39115
And where should it navigate, if that's type you don't have source for?

[2019-10-08 13:43] dickyw71 commented on #21138
I have been able to reproduce the issue using **Visual Studio Professional 2019 for Mac 8.2 (build 1105)**.
**Steps taken to reproduce**
1. Create a new .NET Core 2.2 Console application project.
2. Added a dummy function, `MyFunction()` to the Program class and entered the if(...) and while(...) into the Visual Studio editor to test the auto-formatting behaviour.
[code]
The issue was reproduced w

[2019-10-08 13:46] hivanov opened #39131 "Support Generic Methods in Expression Trees"
Currently, S.L.Expressions.Expression and subclasses cannot infer the types of generic methods. This makes the generated lambdas unsuitable for dealing with code-generation not available at run-time.

Given the following:
[code]
One cannot create a lambda that invokes MethodName, without knowing the binding parameter first, like this:
[code]
To do so, one must know the generic type first (in the d

[2019-10-08 13:49] sharwell commented on #21138
@dickyw71 This issue is up for grabs. Once someone fixes the issue, we would review the fix to prepare it for release. 😄

[2019-10-08 17:03] nvmkpk opened #39132 "[Proposal] String interpolation"
An option to expand the string interpolation to a call other than string.Format would be nice to have.

For example, I want
`logger.LogInformation($"Hello {name}")`
to be expanded to
`logger.LogInformation("Hello {0}", name)`
rather than
`logger.LogInformation(string.Format("Hello {0}", name))`

Compiler can require the method to have a specific signature and annotated with an attribute for this.

[2019-10-08 17:15] RikkiGibson commented on #39132
Please put language proposals in https://github.com/dotnet/csharplang.

[2019-10-08 17:21] RikkiGibson commented on #35253
Would be happy to have a PR for this :)

[2019-10-08 18:10] pavinan opened #39133 "System.Runtime.CompilerServices.NullableAttribute is not returning if there are no even properties with null and without null."
**Version Used**:  netcoreapp3.0, sdk - 3.0.100

**Steps to Reproduce**:
If a class has 3 nullable props and 3 non-nullable props ``NullableAttribute`` is **returned**.
But if a class has 3 nullable and 2 non nullable ''NullableAttribute'' is **not returned**.

Below program will work fine.
But if you un-comment ``Content2`` or comment out ``dummy`` this will give 0 attrs.

That is everything must

[2019-10-08 18:21] jmarolf commented on #39115
I either download the source using sourcelink, or decompile it. This seems like a potential way to replace some of the functionality of the object browser

[2019-10-08 18:39] dickyw71 commented on #21138
Thanks for the info @sharwell.
So I read this [comment by Joseph N. Musser II (@jnm236)](https://twitter.com/jnm236/status/890268361044766721) on @jcansdale [tweet](https://twitter.com/jcansdale/status/890186489912545282) and looking through the dotnet/roslyn code I found:
- The value of the the roslyn .editorconfig file option `csharp_space_after_keywords_in_control_flow_statements` is defaulted

[2019-10-08 19:05] mavasani commented on #38674
Fixed with https://github.com/dotnet/roslyn/pull/38886

[2019-10-08 19:05] #38674 closed

[2019-10-08 19:23] sharwell commented on #39120
Duplicate of #38708

[2019-10-08 19:23] #39120 closed

[2019-10-08 19:31] jinujoseph commented on #39114
cc @tmat

[2019-10-08 19:33] sharwell commented on #39113
Duplicate of dotnet/csharplang#2110

[2019-10-08 19:34] sharwell commented on #39111
Duplicate of #14983

[2019-10-08 19:39] jinujoseph commented on #39107
Duplicate of https://github.com/dotnet/roslyn/issues/33534
cc @ivanbasov

[2019-10-08 19:39] #39107 closed

[2019-10-08 19:41] jinujoseph commented on #39096
cc @dibarbet

[2019-10-08 19:49] sharwell commented on #39040
The bad indentation caused by the indentation issue which is fixed by #38893. Leaving this open to address the multi-caret issue.

[2019-10-08 19:49] jinujoseph commented on #39041
cc @ryzngard

[2019-10-08 19:53] jinujoseph commented on #39095
Duplicate of #37988

[2019-10-08 19:53] #39095 closed

[2019-10-08 20:01] tmat commented on #39114
The debugger team owns breakpoint visualization.
@r-ramesh

[2019-10-08 20:32] #39092 closed

[2019-10-08 20:50] CyrusNajmabadi commented on #39128
This sounds like something very bad to do.  Not certain why this would have ever been accepted, but it definitely violates constraints that are expected to be in place for the tree.

[2019-10-08 20:51] CyrusNajmabadi commented on #39130
The adding of 'obsolete' is just offered as a potential option to solve the issue.  It is not intended to state that you must solve it in this manner.

[2019-10-08 21:30] jinujoseph commented on #39092
also reported at [DC](https://developercommunity.visualstudio.com/content/problem/761989/vs-crash-during-source-code-editing-due-to-fxcop-b.html)

[2019-10-08 22:02] vatsalyaagrawal commented on #38074
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/985838

[2019-10-08 22:22] NetTecture commented on #39130
Look, I use the refactorings very regularly. This one is different.

EVERY other refactoring is functionally identical. It never changes the behavior.

This one tells me to add obsolete to a method - using an obsolete api - although no obsolete element is exposed. if I do so, I change the behavior because i will tell users of my library to NOT use this particualr method. Which means updating an ex

[2019-10-08 22:40] jcansdale commented on #21138
Thanks for investigating this @dickyw71. It still drives me crazy! 🙂

[2019-10-08 23:00] jkears commented on #39128
Thanks for your prompt response.
I am not sure I agree as I was able to do this previously and now no longer.

What I am trying to generate is a method, with an empty body and I do not want, nor can I have a trailing semicolon after the body.

Perhaps there is an alternative way to achieve this simple task. Can you please advise me on the best approach.

[2019-10-08 23:01] CyrusNajmabadi commented on #39130
It's not a refactoring.  It's a potential suggestion on how to fix the issue.

Sure.  So in this case, it's not appropriate for your API.  So you wouldn't take this suggestion.  Just like how many other issues offer lots of fixes, many (or all) of which may not be appropriate for that code :)

"correct" is in the eye of the beholder.  For your use case, you do not wish to annotate your methods lik

[2019-10-08 23:07] #38942 closed

[2019-10-08 23:08] CyrusNajmabadi commented on #39128
Just pass 'default' for `semicolonToken: default`.

[2019-10-08 23:53] vsfeedback opened #39138 "Refactoring -> Rename should rename fields/variables/parameters"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/762598/refactoring-rename-should-rename-fieldsvariablespa.html)._

---
Often using DI we have things like

public MyClass(IFirstInterface firstInterface, ISecondInterface secondInterface)
{
    _firstInterface = firstInterface;
    _secondInterface = secondInterface;
}

Curren

[2019-10-08 23:54] vsfeedback opened #39139 "<see> tags in XML docs should be clickable links in the IntelliSense popups."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/721266/tags-in-xml-docs-should-be-clickable-links-in-the.html)._

---
What it says on the tin :)

---
### Original Comments

#### Jane Wu [MSFT] on 9/3/2019, 07:50 PM:

<p>Thank you for taking the time to provide your suggestion. We will do some preliminary checks to make sure

[2019-10-08 23:54] vsfeedback opened #39140 "<code> tags in XML comments should render as monospaced, syntax highlighted code in the IntelliSense popups."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/721265/tags-in-xml-comments-should-render-as-monospaced-s.html)._

---
What it says on the tin :)

---
### Original Comments

#### Jane Wu [MSFT] on 9/3/2019, 07:50 PM:

<p>Thank you for taking the time to provide your suggestion. We will do some preliminary checks to make sur

[2019-10-08 23:57] vsfeedback opened #39141 "Add ability to customize the xml comments format"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/406779/add-ability-to-customize-the-xml-comments-format.html)._

---
<p>I am using /// to generate documentation but would like to alter the template / snippet that is inserted.  I see there might be a way to do it with custom snippets, but seems like it should be a built in o

[2019-10-08 23:58] kendrahavens commented on #39141
I'd like to know if multiple users are interested in making this experience easier.

[2019-10-08 23:58] vsfeedback opened #39142 "Refactoring "Compute constant value" not available on constant-only-values."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/759053/refactoring-compute-constant-value-not-available-o.html)._

---
<p>Hi,</p><p>Today, there is a refactoring available to <em>Compute constant value</em> if you have an expression like below:</p><pre>var foo = Some.Namespace.With.A.Constant + &quot;my own string&quot;;</p

[2019-10-09 00:05] kendrahavens opened #39146 "Object creation can be simplified suggestion should be more clever"
[Original Developer Community feedback ](https://developercommunity.visualstudio.com/content/idea/754229/object-creation-can-be-simplified-suggestion-shoul.html)copied to preserve code format.

After applying object creation can be simplified refactoring suggestion, I moved some method calling code below so that more object.field/property = … could be grouped with the creation code block, however

[2019-10-09 00:11] vsfeedback opened #39147 "ViewsOfAClassPublicFunctionsInC++C#VB"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/753971/viewsofaclasspublicfunctionsinccvb.html)._

---
<p></p><p>Hi there. This is just a suggestion to the Community and a request to engage with the Microsoft Development </p><p>Community. I am very keen to have your comments on this suggestion please. </p><p>My suggestion i

[2019-10-09 00:12] kendrahavens commented on #39147
Note: I realize the original ticket also includes C++. I'm moving it here to discuss the C# and VB aspects. We can loop in C++ during design as well.

[2019-10-09 00:44] jmarolf commented on #39138
I think I'll proto-type this out real fast. IF the design meeting says they don't like it we can close the PR

[2019-10-09 00:52] kendrahavens commented on #37234
[Developer community feedback](https://developercommunity.visualstudio.com/content/idea/740498/disable-auto-quick-info-for-c-option.html)

[2019-10-09 01:34] HaloFour commented on #39132
You can already achieve this by having the method accept `FormattableString` instead of `String`.

[2019-10-09 03:53] snhardin commented on #38947
Thanks for the pointer @sharwell. Indeed, the block you pointed out seems to be the important one.
https://github.com/dotnet/roslyn/blob/cf104c5204f51d75e79c93935b8bb96b9c8d3796/src/Features/Core/Portable/Diagnostics/Analyzers/UnboundIdentifiersDiagnosticAnalyzerBase.cs#L74-L84

I did some investigation, and it seems that `GetSymbolInfo()` returns `SymbolInfo.None` for the `var` tuple declaration.

[2019-10-09 04:54] Connect-a opened #39149 "Why 'await' causing compiler error when that in an interpolated string?"
The following code cannot be compiled:
[code]

[2019-10-09 05:56] jinujoseph commented on #38708
reported in [DC ](https://developercommunity.visualstudio.com/content/problem/741935/introducevariablecoderefactoringprovider-crashed-w.html) , [DC](https://developercommunity.visualstudio.com/content/problem/767441/introducevariablecoderefactoringprovider-encounter-7.html)

[2019-10-09 12:00] Suchiman opened #39150 "Degraded IntelliSense on RHS of await"
**Version Used**:  VS 16.4 P1

**Steps to Reproduce**:
[code]
1. Place cursor at `$$`
2. Type `.`
3. IntelliSense window does not open and cannot be prompted with `CTRL + Spacebar`

**Expected Behavior**:
IntelliSense window opens, suggesting members of `request`

**Actual Behavior**:
IntelliSense window denies me

[2019-10-09 12:26] frankbuckley commented on #31616
I see the same in 16.3.3.

See also: https://developercommunity.visualstudio.com/content/problem/583431/live-unit-testing-does-not-inherit-project-level-n.html

[2019-10-09 14:55] sharwell opened #39154 "Support the 'language' attribute for <code> documentation elements"
Requested as part of #39140

🔗 [language attribute (Sandcastle Help File Builder XML Comments Guide)](http://ewsoftware.github.io/XMLCommentsGuide/html/1abd1992-e3d0-45b4-b43d-91fcfc5e5574.htm#language)

[2019-10-09 14:56] sharwell commented on #39140
I'm going to treat this as three separate issues, with this issue focused on only one of them.

1. `<code>` elements should render with a monospaced font. This was already implemented as part of #35667
2. Newlines and/or indentation in `<code>` elements should be preserved (similar to the difference between `<pre>` and `<tt>` in HTML) ⬅️ **This issue**
3. Contents of a `<code>` element should be s

[2019-10-09 15:25] huoyaoyuan opened #39155 "Inconsist diagnostics on extension GetAwaiter"
After invesgating #25861, I've found that using `await` when missing `GetAwaiter()` *extension* method can results in 3 different error codes:
- **CS1061** No such instance or extension member
[code]
- **CS4036** Specialised  for WinRT async interfaces
[code]
- **CS1929** Extension method overload resolution fail
[code]

Currently, add imports service can only recognize the first case **CS1061**.

[2019-10-09 17:05] #38708 closed

[2019-10-09 18:11] vsfeedback opened #39158 "Using cref to itself inside inheritdoc crashes VS"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/761030/using-cref-to-itself-inside-inheritdoc-crashes-vs.html)._

---
This is a new issue as inheritdoc is just being added in 16.4.0 preview 1. This problem therefor only happens in 16.4.0 preview 1 (or later?).

With the new feature, we can use /// &lt;inheritdoc/&gt; to

[2019-10-09 18:18] vsfeedback opened #39160 "CSharpRemoveUnusedValuesCodeFixProvider crashes when refactoring"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/760888/csharpremoveunusedvaluescodefixprovider-crashes-wh.html)._

---
[regression] [worked-in:16.3.1]
Since updating to 16.3.2 I am getting the error &quot;'CSharpRemoveUnusedValuesCodeFixProvider' encountered an error and has been disabled&quot; every time I try to refact

[2019-10-09 18:33] razer89 commented on #38872
same problem here..can't solve it

[2019-10-09 18:48] CyrusNajmabadi commented on #39155
Probably not.  That could break existing consumers that depend on those values/locations.

[2019-10-09 20:37] RikkiGibson opened #39165 "DeclaringCompilation is null in ExpressionCompiler tests"
Example:

https://github.com/dotnet/roslyn/blob/de140f9fd3f5dcb82f17916c0ca79de4cf094b61/src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs#L1452

If you debug this test and set a breakpoint in Symbol.DeclaringCompilation, it will get hit on a LocalFunctionSymbol whose ContainingModule is a PEModuleSymbol. This results in the method returning a `null` DeclaringCompilation even t

[2019-10-09 20:43] 333fred commented on #29856
The only thing outstanding here is local functions nested inside reinferred lambdas, and any symbols that said local function contains, including:
* Locals
* Parameters
* Type Parameter usage
* Lambdas/local functions nested inside

This work is targeted for post 16.4 currently, so I'm moving this out.

[2019-10-09 20:44] 333fred commented on #37443
This was fixed in https://github.com/dotnet/roslyn/pull/38594.

[2019-10-09 20:44] #37443 closed

[2019-10-09 20:44] tmat commented on #39165
/cc @cston

[2019-10-09 20:55] razer89 commented on #38872
You need to update windows and restart after, everything will work perfectly after that.

[2019-10-09 21:28] RikkiGibson commented on #39165
It seems like symbols inside a method body or other contexts which "could be" EE may need to avoid using DeclaringCompilation and instead get a Compilation from a binder at hand.

[2019-10-09 21:43] benallred commented on #38941
Running into this myself. I understand that we're going to have to wait for libraries (I wouldn't normally lump `System.Linq` under "libraries" but that applies here, I guess) to support the annotations. In the meantime, is there something one can do to generate warnings on nullable-oblivious dependencies?

[2019-10-09 21:57] sharwell opened #39166 "Enable nullable reference types in Roslyn"
This meta issue may be linked by sections of code in which nullable reference types is not yet enabled.

[2019-10-09 22:01] sharwell opened #39167 "Explicit interface implementation 'RefCustomModifiers' is not inherited"
https://github.com/dotnet/roslyn/blob/82f09c4e6067d3a164000f1acf355ee8e774fad5/src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderMethodSymbol.cs#L169-L178

[2019-10-09 22:04] CreateAndInject commented on #38872
@razer89 Why do you edit your comment?
I can install vs2019 a few month ago.
I know I can update windows to resolve it.
BUT I don't want to update, because windows will update .net framework.
Some program can run on .net 3.5 sp1(2.0.50727.3053), but can't run on 2.0.50727.8806.
So, how to install 2019 without update windows? Or how to install older .net framework 3.5 on windows7(I don't know how t

[2019-10-09 22:13] vsfeedback opened #39168 "C# code formating of braces"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/767939/c-code-formating-of-braces.html)._

---
[regression] [worked-in:16.2.x]
1. In a C# code editor, Type the following code in editor, Ensure the cursor after the close curly bracket :
[code]

2.  Press &quot;Left Arrow&quot; key, Move the cursor between the two braces:

[2019-10-09 22:16] vsfeedback opened #39169 "C#, Inconsistant Label Indentation when Formatting"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/763973/c-inconsistant-label-indentation-when-formatting.html)._

---
Formatting a section or document which contains labels can result in inconsistant indentation of labels. If a label followed a non-bracketed if statement, the label will be indented further than if it foll

[2019-10-09 22:21] vsfeedback opened #39170 "C# Editor, view scrolling in error when moving selected lines up/dn."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/761825/c-editor-view-scrolling-in-error-when-moving-selec.html)._

---
Use the following batch file to generate foo.cs
[code]

Add foo.cs to some project. I used a .NET Console project, but anything C# would do.

Open the file.
Hold Ctrl and type in order A K F M A Home
End

[2019-10-09 22:33] vsfeedback opened #39171 "switch expression "no best type found" conflicts with IDE0007 C# use 'var' instead of explicit type"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/759620/switch-expression-no-best-type-found-conflicts-wit.html)._

---
First of all I have a switch expression that returns instances of classes that all have a common superclass, so I would expect the switch expression to return the common superclass type instead of having

[2019-10-09 22:34] vsfeedback opened #39172 "VS replaces DateTime with Date"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/759557/vs-replaces-datetime-with-date.html)._

---
[regression]
If you type (in VB.Net):

mydatetimevariable = new datetime(

it is automatically replaced by:

mydatetimevariable = New Date()

---
### Original Comments

#### Visual Studio Feedback System on 10/7/2019, 02:16

[2019-10-09 22:37] vsfeedback opened #39173 "Intellisense conditional conversion option finnicky"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/757387/intellisense-conditional-conversion-option-finnick.html)._

---
[regression] [worked-in:16.1]
[code]

It offered to simplify the String and convert to conditional. I simplified String first and then it lost the option to change the conditional. As soon as I converted

[2019-10-09 22:41] tmat opened #39174 "Renaming local variable with "Attribute" suffix inserts another "Attribute" in the name"
**Version Used**:
![image](https://user-images.githubusercontent.com/41759/66525688-21ddc500-eaab-11e9-8021-34993d1ecfe1.png)

**Steps to Reproduce**:

[code]

Inline rename `myAttribute`.

**Expected Behavior**:

No `Attribute` duplication.

**Actual Behavior**:
![image](https://user-images.githubusercontent.com/41759/66525732-4043c080-eaab-11e9-9a31-afc7b5ee9753.png)

[2019-10-09 22:50] jinujoseph commented on #38798
https://github.com/dotnet/roslyn/pull/38907 fixed in 16.4.Preview2

[2019-10-09 22:50] #38798 closed

[2019-10-09 22:52] vsfeedback opened #39175 "C# Auto Format not working"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/746119/c-auto-format-not-working.html)._

---
Just started using C#.  None of the auto formatting works as does in VB.  For example braces aren't indented.  None of the code is properly indented either after typing.  All &quot;Auto Format&quot; options are on under Tools...

[2019-10-09 22:58] vsfeedback opened #39176 "VB.NET code pattern snippet works within interpolated strings"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/743715/vbnet-code-pattern-snippet-works-within-interpolat.html)._

---
Place cursor of vb.net editor before the closing quote in string below and press Tab key
Dim SQLText As String=$&quot;SELECT&quot;

---
### Original Comments

#### Visual Studio Feedback System on 9/23/2

[2019-10-09 23:00] vsfeedback opened #39177 "C# reference count shown as 0 for operators <, >"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/742322/c-reference-count-shown-as-0-for-operators.html)._

---
Shows:
        0 references
        static public bool operator &lt;(OrderingMeasure a, OrderingMeasure b)
Although it's used

---
### Original Comments

#### Visual Studio Feedback System on 9/23/2019, 01:34 AM

[2019-10-09 23:00] sharwell commented on #39177
Related to #30210

[2019-10-09 23:02] jinujoseph commented on #37484
Validated and no repro in 16.4.Preview2

[2019-10-09 23:02] #37484 closed

[2019-10-09 23:23] jinujoseph commented on #36945
fixed via https://github.com/dotnet/roslyn/pull/36960

[2019-10-09 23:23] #36945 closed

[2019-10-09 23:40] jinujoseph commented on #38508
resolved with #38645

[2019-10-09 23:40] #38508 closed

[2019-10-09 23:48] #38181 closed

[2019-10-10 00:10] #38722 closed

[2019-10-10 00:26] jinujoseph commented on #35982
Duplicate of https://github.com/dotnet/roslyn/issues/38708

[2019-10-10 00:26] #35982 closed

[2019-10-10 01:38] vsfeedback opened #39193 "Intellisense provides wrong enum suggestions with overloads when different enums can be on the same position"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/736970/wrong-suggestion-in-messageboxshow-method.html)._

Type System.Windows.Forms.MessageBox.Show and begin to fill parameters like "string text, string caption, MessageBoxButtons buttons, MessageBoxIcon icon". When you reach the last parameter VS suggests you to enter an

[2019-10-10 01:39] ivanbasov commented on #39193
I was able to reproduce the issue. The root cause that the analysis we perform for the intellisense takes into account just the number of available parameters. There are many overloads in the case considered. In one of them, MessageBoxButtons can be the fourth argument of the method. Please see the image attached:
![image](https://user-images.githubusercontent.com/5455484/66532400-25317a80-eac4-11

[2019-10-10 01:45] ivanbasov commented on #39193
The problem could be somewhere here https://github.com/dotnet/roslyn/blob/7bc44488c661fd6bbb6c53f39512a6fe0cc5ef84/src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs#L441 or in some its recent callers. The type selection takes into account just the parameter index and ignores types of parameters already typed.

[2019-10-10 06:57] alrz commented on #6763
this would be extremely helpful with moving
to aspnetcore 3 - it is mostly about package references..

[2019-10-10 08:40] Ramonet72 opened #39210 "{"(1,18): error CS0029: Cannot implicitly convert type 'STCADPro.Model.SCFrequency [STCADPro.Model, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]' to 'STCADPro.Model.SCFrequency'"}"
Hi,

When running script using **CodeAnalysis**  I receive an exception saying I cannot convert to a type, but **the types are exactly the same!**   Please help! I'm stuck on this for a few days.

The code is something like:
[code]

That's basically initializing the script engine running first code (RunAsync) and then using the previous result as new state using ContinueWithAsync.  I think this is

[2019-10-10 10:43] madelson commented on #39062
@gafter I'm surprised that this is considered desirable behavior. When would someone legitimately not want to assign an out parameter? This certainly burned me as it led to a bug in our codebase that could have easily been detected by the compiler.

I get that for backwards compatibility this probably cannot change to an error, but at least it feels like it should be a warning.

[2019-10-10 11:21] Dreamescaper commented on #32042
@sharwell
Can we reopen this one? I don't think that's same as #20242. Problem is that with such approach I need to re-implement nullability logic that is already present in Roslyn.

Let me give an example from NUnit test.
[code]

Suppose I'd like to support nullability changes for Is.Not.Null asserts. From that line I need know that:
`obj` is not null
`obj.SomeProperty` is not null
`obj.SomePrope

[2019-10-10 12:51] huoyaoyuan commented on #39155
For Visual Basic, there's a consist error `BC36930` for `await`. But the code fix handles `BC36610`. The error code should have changed some time ago.

[2019-10-10 13:09] tamlin-mike commented on #39040
Original issue reporter here.

First, a thank you to @CyrusNajmabadi and/or @sharwell, for adding the large comment in  TryGetSmartTokenIndentation (#38893). It helped me understand how this issue had come to be.

It also displayed how wrong that code is - which explains why Visual Studio still after decades can't get this stuff right. What follows could probably be seen as a bit of a rant, in the

[2019-10-10 14:33] CreateAndInject commented on #38872
I find a lightweight way to resolve it without updating windows:
Install KB3004394.
But it seems there's a bug, and should install KB3024777 to fix the bug, but I can't install KB3024777 on my pc(Nothing happen when doubleclicking).

[2019-10-10 14:42] nvmkpk commented on #39132
It is wokring, I did not know something like this already exists. But why doesn't BCL make use it?

[2019-10-10 15:38] CyrusNajmabadi commented on #39040
You could, you know, contribute a PR @tamlin-mike. :-)

This seems like an important issue to you. If you can provide a good solution it would likely be appreciated

[2019-10-10 17:13] jinujoseph commented on #38299
Closing this issue.
Confirmed by vendors, no repro in 16.4.Preview2

[2019-10-10 17:13] #38299 closed

[2019-10-10 17:14] jinujoseph commented on #35937
Closing this issue.
Confirmed by vendors, no repro in 16.4.Preview2

[2019-10-10 17:17] jasonmalinowski commented on #35937
@jinujoseph Which features was this tested with? The features in the bug were migrated to 8.0 but a new preview feature might still be broken.

[2019-10-10 17:23] RikkiGibson commented on #39132
will close assuming this is addressed. If you'd like [corefx](https://github.com/dotnet/corefx) to start using FormattableString in more APIs please find or open an issue on their side.

[2019-10-10 17:23] #39132 closed

[2019-10-10 17:25] jinujoseph commented on #35937
It was validated against the repro steps provided above. reopened to validate compiler feature still under preview flag. ( if any )

[2019-10-10 17:26] RikkiGibson commented on #39174
dupe of #35253?

[2019-10-10 17:29] RikkiGibson commented on #39171
This sounds like target-typed switch working as expected. Perhaps on the IDE side the "use var instead of explicit type" should be disabled in this scenario. Do we provide a way for the IDE to know that the switch expression is target-typed?

[2019-10-10 17:51] vsfeedback opened #39217 "Xml commit Support xml:lang"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/357090/xml-commit-support-xmllang.html)._

---
<p>I write some lib to release to nuget, But XML commit doc is one language only, I Need Localization it so Friendly to Non-native users.</p><p>Some like:</p><pre>       /// &lt;summary&gt;
        /// Check a variable is defined

[2019-10-10 17:58] drmcclelland commented on #5378
I think @graemechristie is correct - I only see this option in a full framework project (VS 2019 16.4.0 Preview 1)    :-(

[2019-10-10 18:00] vsfeedback opened #39218 "C#, Simplify init refactoring also for arrays"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/768513/c-simplify-init-refactoring-also-for-arrays.html)._

---
[code]
Working example:
- Place cursor on line `S s =`.
- Invoke QuickActions.

Result: You get the option `Object initialization can be simplified`, and when executed you get the expected
[code]

RFE:
- Place cur

[2019-10-10 18:05] LtLi0n opened #39219 "Default Interface Methods fail with generic constraints. Throws VerificationException."
**Version Used**: net core 3.0.100

**Steps to Reproduce**:

[code]

The exception I get:
##
`System.Security.VerificationException`:
**Method DefaultInterfaceMethodsExceptionRepro.Program+IApiControllerCRUD`1[DefaultInterfaceMethodsExceptionRepro.Program+IMyEntity].GetAsync: type argument 'T' violates the constraint of type parameter 'T'.**

[2019-10-10 18:12] gafter commented on #39062
@madelson This would be considered desirable behavior when your million-line program fails to compile on the newly released version of the compiler.  We could make it a warning only by adding a separate definite assignment analysis pass in the compiler just to compute the warning.

[2019-10-10 19:19] TessenR opened #39220 "Roslyn doesn't handle inferred nullability in the presence of `goto`."
**Version Used**:
[code]

**Steps to Reproduce**:

Compile and run the following code:
[code]

**Expected Behavior**:
`warning CS8602: Dereference of a possibly null reference.` reported for `prop.ToString()`

**Actual Behavior**:
No warnings are reported for the program above. The program crashes at runtime with a `NullReferenceException`

**Notes**
If you specify the type of `c` explicitly i.e.

[2019-10-10 19:30] vsfeedback opened #39221 "Rename Crash"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/765196/重命名崩溃.html)._

---
Crash as soon as you rename

---
### Original Comments

#### Fiona Niu[MSFT] on 10/9/2019, 01:36 AM:

<p>Thank you for taking the time to log this issue!<br>
I’ve tried to reproduce and investigate using the description, and attachments already pro

[2019-10-10 19:31] sharwell commented on #39221
[code]

[2019-10-10 20:38] tmat opened #39222 "Revisit TaskFactoryExtensions.SafeStartNew* methods"
The current implementation wraps the given action into try-catch with fail fast crash.
This is not the best approach in most cases and where it is it should be explicit.

[2019-10-10 21:27] ryzngard commented on #5378
Tracking this with #37469

[2019-10-10 21:29] ryzngard commented on #5378
Tracking the rename file code fix not being offered with #37469 . This issue was used to track that inline rename also allowed file rename, and was added as a feature. Use #37469 to track the issue with the code fix

[2019-10-10 22:03] #38700 closed

[2019-10-10 22:19] ryzngard commented on #37601
@jnm2 afaict this isn't happening anymore. I tested a few times in 16.3 and wasn't able to reproduce. Let me know if you still hit issues like this and we can reopen.

[2019-10-10 22:19] #37601 closed

[2019-10-10 22:26] sharwell commented on #32042
@jaredpar https://github.com/dotnet/roslyn/issues/32042#issuecomment-540524650 sounds like a compiler request

[2019-10-10 22:40] mavasani commented on #32042
Currently no part of the compiler's analysis depends on any third party analyzer's input/output. Introducing any such feedback loop can potentially lead to unwanted deadlocks and infinite recursion.

[2019-10-10 23:00] RikkiGibson commented on #39072
Seems like the parser can't deal with `new[] { ref[] }`

[2019-10-10 23:49] #38596 closed

[2019-10-11 05:07] yyjdelete opened #39234 "MoveToNamespaceCodeActionProvider crashed with ArgumentOutOfRangeException in multi-targetFrameworks projects"
**Version Used**:
VS2019 16.4.0Preview1

**Steps to Reproduce**:

1. Create an csproj and modify to multi targetFrameworks;
[code]
2. Create an cs file with 2 classes;
[code]
3. call `Quick Actions/Move to Namespace` on the last class `Class2`, type any namespace and click `OK`;

**Expected Behavior**:
It should work as it does with single-targetFramework projects

**Actual Behavior**:
[code]

[2019-10-11 05:47] sharwell commented on #36039
Agreed, although it wouldn't be terrible if the warning was produced by an analyzer.

[2019-10-11 09:07] tamlin-mike commented on #39040
@CyrusNajmabadi

Impossible, to the best of my knowledge.

Again my reply becomes almost a chapter in a book, but there are many contributing factors preventing anyone outside of Microsoft from fixing this.

To make it clear - the following isn't about _this_ github issue. It's a tangent.

Unfortunately, the issue is dictated, designed and implemented by and in proprietary parts, making it impossi

[2019-10-11 10:15] dropsonic commented on #4655
Bumped into the same issue. Any news on that?

[2019-10-11 11:07] madelson commented on #39062
@gafter a warning is what I am suggesting. And in the case of the million-line program I imagine that anything caught by this would have a high likelihood of being a bug so you'd be happy to see those warnings.

As far as whether this would need a separate pass, I can't comment on that since it feels like an implementation detail. To be honest, it's not clear to me why this "no public fields means

[2019-10-11 12:59] #36773 closed

[2019-10-11 13:26] castholm commented on #30042
Hi! I stumbled upon this issue while browsing through the source code for editorconfig options. Considering that it has been a year (coincidentally, almost to the minute) since @GKotfis offered to start working on it and no work seems to have been done, is this issue still up for grabs? If so, I'd be very interested in taking a stab at it.

[2019-10-11 13:48] addabis opened #39235 "LanguageVersionFacts.MapSpecifiedToEffectiveVersion(LanguageVersion.Preview) returns LanguageVersion.Preview"
**Version Used**:

Microsoft.CodeAnalysis.CSharp v3.3.0.0 (C# 8 RTM, VS 16.3.3)

**Steps to Reproduce**:

Call `LanguageVersionFacts.MapSpecifiedToEffectiveVersion(LanguageVersion.Preview)`

**Expected Behavior**:

Should return LanguageVersion.CSharp8

**Actual Behavior**:

Returns LanguageVersion.Preview

[2019-10-11 13:57] mavasani commented on #30042
@castholm It is still up for grabs. Let us know if you need any pointers to start on this one.

[2019-10-11 15:13] CyrusNajmabadi commented on #39040
You can totally implement this here in Roslyn. :-)

[2019-10-11 15:14] CyrusNajmabadi commented on #39040
Both Roslyn and editor take continual feedback and make changes in response to it for every release

[2019-10-11 15:18] CyrusNajmabadi commented on #39040
So submit a pr yourself.

I'm not Microsoft, but I address issues by opening prs and working with the teams (including the editor) to get them adopted.

Again, if you care so much, why not open a PR to improve things?  You've been willing to spend all this time complaining, so why not use that effort on something more constructive?  You even mention in your post that you don't think words will hel

[2019-10-11 15:22] CyrusNajmabadi commented on #39040
Designs change. But usually through positive efforts and collaborative work. Rarely through just complaining about stuff. There are dozens of people working on improving or just plain revamping the designs of many parts of vs. It's just that they think those other parts are much more important and impactful to users.

You can help out here by contributing your own time and effort demonstrating tha

[2019-10-11 15:23] CyrusNajmabadi commented on #39040
I've written many components and systems in Roslyn that became core components of vs. I have first hand experience that this works.

You can choose to reject reality, but that makes it seem as if you're not actually interesting in positive outcome and more interested in just complaining that people prioritize things differently than you.

[2019-10-11 15:25] CyrusNajmabadi commented on #39040
Note: if you are interested in contributing, I recommend gitter.im/dotnet/Roslyn and the Roslyn discord channel as good places to go hash out ideas and collaborate on prs

[2019-10-11 18:21] jnm2 opened #39236 "'Generate Equals' should use lifted == operator on nullables if it would have used == for the underlying type"
**Version Used**: 16.3.4, 16.4p1

In any situation where `==` is *already* being generated as the most preferable option for a value type, I believe `==` would be the most preferable option for the nullable version of that value type:

Actual:

[code]

Expected:

[code]

Would you accept a PR? I recently implemented https://github.com/dotnet/roslyn/issues/31984, so my head is still in this space.

[2019-10-11 18:40] GKotfis commented on #30042
Hi.
Last year I did some changes but stuck in some point of refactoring. I even asked on slack channel if I should create PR with things that I already but still no compiling. I can get back to this but first need to make my branch up to date after such a long time :)

[2019-10-11 19:05] CyrusNajmabadi commented on #39236
I would be fine with this.

[2019-10-11 19:11] sharwell commented on #39236
Sounds good to me

[2019-10-11 19:17] castholm commented on #30042
@GKotfis Do you have any plans to work on this issue and submit your changes soon-ish? I was planning on picking this up immediately and working on it over the weekend, but if you think you'll be able to get your changes working within that time frame I can take a step back and let you deal with it.

[2019-10-11 20:51] jmarolf commented on #39040
@tamlin-mike 	I don't want to be reductive but is it a fair summary to say that the problem is VS, all-up, handles mixed tabs and spaces poorly? If that is the case (echoing @CyrusNajmabadi) then this is fixable for a large section of .NET developers.  The formatter int this repository is fully open-sourced and is used across other languages at Microsoft to different extents.  If we fix the tabs a

[2019-10-11 21:30] frevds opened #39238 "Incorrect IDE0059: Unnecessary assignment of a value (simple example)"
The following assignment is not unnecessary, and not even a double assignment:
[code]

The same thing happens if I move the assignment (here we do have a double assignment, but it is not unnecessary in case of errors, even if they all get caught, it does make a difference for the following code):
[code]

[2019-10-11 21:32] frevds commented on #38844
Here is a simple example where it occurs for me: https://github.com/dotnet/roslyn/issues/39238

[2019-10-11 21:35] frevds commented on #39238
Nevermind, I just realize the newly assigned value is not being used outside the try..catch, hence indeed unnecessary.

[2019-10-11 21:35] #39238 closed

[2019-10-11 22:35] CyrusNajmabadi commented on #39218
It can do even better.  It can just refactor this to:

[code]

That said, i question how of this happens to be useful enough to need a dedicated fix.

[2019-10-11 22:38] ryzngard commented on #37280
@tmat says this is fixed

[2019-10-11 22:38] #37280 closed

[2019-10-11 22:58] jasonmalinowski opened #39239 "Rename tracking is active but uninvokable in ASP.NET projects"
**Steps to Reproduce**:

1. Create a new ASP.NET project of some kind that has a .razor file.
2. In the Razor file, go into the @code section or a @ expression, and change an identifier name.

**Expected Behavior**: No rename tracking is active.

**Actual Behavior**: we do our dotted outline showing it's active:

![image](https://user-images.githubusercontent.com/201340/66689472-dd376280-ec3f-11e9

[2019-10-11 23:09] jasonmalinowski opened #39240 "Completion inside a switch expression on an enum should preselect the enum"
**Version Used**: 16.4.0 Preview 3.0 [29410.161.master]

**Steps to Reproduce**:

1. Create a new console app.
2. Start typing:

[code]

**Expected Behavior**: I expect that ConsoleColor is preselected since we're switching on an enum, just like we would do in a switch statement. I'd also expect that typing space after the { _immediately_ triggers completion just like it would in a switch block.

[2019-10-11 23:17] ryzngard opened #39241 "Able to navigate to generated file in blazor app"
In creating a new blazor app, with no modifications, I was getting errors in *.g.cs files and able to click the error list to navigate to them.

![image](https://user-images.githubusercontent.com/475144/66690068-98f99180-ec42-11e9-82fc-ad0a851828a2.png)

[2019-10-11 23:22] tmat commented on #37280
Fixed by https://github.com/dotnet/roslyn/pull/37658

[2019-10-11 23:25] tmat commented on #22518
Fixed by https://github.com/dotnet/roslyn/pull/36854

[2019-10-11 23:25] #22518 closed

[2019-10-11 23:26] tmat commented on #20680
Should be fixed now: https://github.com/dotnet/roslyn/pull/38905, except for UWP projects. Please reopen if it repros again.

[2019-10-11 23:26] #20680 closed

[2019-10-11 23:30] tmat commented on #39241
This is a known issue.

/cc @nguerrera

[2019-10-11 23:49] jnm2 opened #39243 "'Generate Equals' does not annotate Equals(T) to allow nulls and causes CS8604"
**Version Used**: 16.4p1

In .NET Core 3.0, `IEquatable.Equals` is annotated to accept a nullable parameter:

[code]

https://github.com/dotnet/coreclr/blob/v3.0.0/src/System.Private.CoreLib/shared/System/IEquatable.cs#L11

But on earlier versions of .NET Core, on .NET Standard, and on .NET Framework, in a project where NRTs are enabled, `IEquatable<>.Equals` does not have this attribute. The gene

[2019-10-12 01:36] castholm opened #39248 "Tests in PerformanceTrackerServiceTests fail when the current English language culture uses a different number format"
When running the included tests on my Windows 10 machine, which has its display language set to English (United States) and its regional settings set to English (Sweden) (en-SE), four of the five tests in the `PerformanceTrackerServiceTests` class fail with the message "System.InvalidOperationException : Sequence contains no elements".

Digging a bit deeper shows that the cause of the exception is

[2019-10-12 04:48] GKotfis commented on #30042
@castholm I'll definitely not finish this over the weekend. Feel free to take it!

[2019-10-12 05:51] stimpy77 commented on #1468
This is bothering me. I have a requirement for:

.. for which I need to document:

I realize that an overload with IDictionary<string, object> can accommodate this, but an overload should not be required solely in order to accommodate summary documentation. It should be possible to include generic implementation references in summary documentation.

[2019-10-12 06:35] lostmsu commented on #31691
@sharwell currently, `IndentBlockFormattingRule` handles all types of blocks internally. So to cover #24129 , it has to be refactored. Just adding a new rule to that list will cause conflicting processing.

[2019-10-12 12:55] thomaslevesque opened #39250 "Implicit call to base constructor with optional parameter"
**Version Used**:
C# 8 compiler

**Steps to Reproduce**:
Write this code:

[code]

**Expected Behavior**:

I would expect this code to fail to compile. `Base` doesn't have a default constructor, so `Derived` should be required to explicitly call a base constructor. The fact that the base class constructor has an optional parameter shouldn't change that.

**Actual Behavior**:

The code compiles. Th

[2019-10-12 15:25] thomaslevesque commented on #39250
In the C# 5 specification (which is the latest full specification AFAIK) says, in §10.11.4 (emphasis mine):

But in this case, there's not parameterless constructor in the base class.

So I *think* it's a bug... or at least an unintentional feature, since I don't see any downside to this behavior.

[2019-10-12 17:12] jnm2 opened #39253 "'Generate Equals' should use `is object` rather than `!= null`"
Mentioned by @sharwell at https://github.com/dotnet/roslyn/pull/39242#discussion_r334215178.

My own awareness of `is object` began at https://twitter.com/jaredpar/status/1115019017297596416:

https://twitter.com/jaredpar/status/1171474157667643400:

(@jaredpar hope you don't mind me referencing your feed...)

After the 9.0 candidate https://github.com/dotnet/csharplang/issues/1350 makes it into t

[2019-10-12 18:51] jnm2 opened #39255 "Signature help sometimes fails to wrap, preventing the current parameter from being seen"
**Version Used**: VS 16.3.4

Repro:

[code]

![image](https://user-images.githubusercontent.com/8040367/66706586-8c3c7280-ed02-11e9-9962-00880c4d2de7.png)

Pixel density is at 125% for these monitors, resolution 2560x1440.

[2019-10-12 18:57] CyrusNajmabadi commented on #39255
Note: i'm seeing tis all the time as well when coding in roslyn.  it's bad and basically makes sig help practically useless.   I'm on:

![image](https://user-images.githubusercontent.com/4564579/66706439-59d14c00-ece7-11e9-8ee9-dfaee8997423.png)

Here's an example:

![image](https://user-images.githubusercontent.com/4564579/66706442-6786d180-ece7-11e9-80cc-74fac158d6b8.png)

This is not useful.  A

[2019-10-12 18:59] CyrusNajmabadi commented on #39253
I would wait until we get to that point before making any changes here.

[2019-10-12 19:11] CyrusNajmabadi commented on #39250
It's not a bug.  It comes down to how "invokes the parameterless constructor of the direct base class".  That is interpretted to mean you get:

[code]

There we are invoking the parameterless constructor.  Now, as it happens, overload resolution then takes that invocation and actually binds it to the actual constructor with default params.

The idea here is that, like with many things in the langu

[2019-10-12 19:28] sharwell commented on #1468
@stimpy77 see https://github.com/dotnet/csharplang/issues/401 for that feature request 👍

[2019-10-12 19:30] sharwell commented on #39253
We already implemented `is object` for other not-null checks in refactoring. This is just a consistency fix.

[2019-10-12 20:27] sharwell commented on #39255
/cc @olegtk

[2019-10-12 20:41] jnm2 opened #39256 "'Implement interface' doesn't handle NRT annotations when constructing a generic interface"
**Version Used**: VS 16.3.4

Using 'Implement interface` on classes A, B, C, and D adds incorrect or redundant annotations:

[code]

Expected:

[code]

[2019-10-12 20:55] sharwell commented on #39256
* I agree with the comments for `A` and `B`. Specifically:
    * Do not apply `[NotNull]`, `[AllowNull]`, `[MaybeNull]`, `[DisallowNull]`, etc. to a non-nullable value type
    * Do not apply `[MaybeNull]` or `[AllowNull]` to a nullable value type
* For `C`:
    * The parameter type for `C.Baz` should be `string?`, and the `[AllowNull]` attribute is not required (the compiler should already allow

[2019-10-12 22:09] CyrusNajmabadi commented on #39255
@jinujoseph for visibility.  This is a bad regression in a core scenario.  I've felt this issue acutely in the last few days after upgrading.  You don't realize how important those signatures are until they're gone :D

[2019-10-13 10:45] huoyaoyuan opened #39259 "Completion doesn't show non-static local method in static method"
**Version Used**:
Visual Studio 16.3.4

**Steps to Reproduce**:

[code]

**Expected Behavior**:
Both `X` and `XS` should be available in the static method.
**Actual Behavior**:
Only `X` is available.

There should be misusage of `IsStatic` on static local methods.

[2019-10-13 10:57] svick opened #39260 "The "Convert to conditional expression" refactoring is sometimes mislabeled"
**Version Used**: VS 16.4.0 Preview 1.0

**Steps to Reproduce**:

Have code like the following:

[code]

Invoke refactoring on the `if`.

**Actual Behavior**:

VS offers to simplify the code, with the suggestion being labeled as "Convert to conditional expression", even though the refactored code does not contain the conditional expression:

![](https://user-images.githubusercontent.com/287848/667

[2019-10-13 13:22] thomaslevesque commented on #39250
That's one way to look at it. But things relying on patterns are usually explicitly called out in the spec, and it's not the case here.

Anyway, it's not a serious issue (or even an issue at all), but it made me curious...

[2019-10-13 13:25] svick commented on #39259
This looks like a duplicate of https://github.com/dotnet/roslyn/issues/38074, which should be fixed in VS 16.4 Preview 1.

[2019-10-13 13:42] huoyaoyuan commented on #39259
Quite sure of duplication, but I cannot see that issue when searching for "completion".

[2019-10-13 13:42] #39259 closed

[2019-10-13 16:00] sharwell commented on #39255
@CyrusNajmabadi we have been tracking this issue from other sources. We'll mark it as an appropriate duplicate during the work week.

[2019-10-13 19:12] svick commented on #23123
I believe this was fixed by https://github.com/dotnet/roslyn/pull/38550. When I run the code from the first post using version 3.4.0-beta3-19511-04 from [MyGet](https://dotnet.myget.org/feed/roslyn/package/nuget/Microsoft.CodeAnalysis.CSharp), I no longer get the error.

[2019-10-14 05:44] vsfeedback opened #39262 "VB.NET code window doesn't scroll to the handler when selecting a control from the drop-down"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/21762/vbnet-code-window-doesnt-scroll-to-the-handler-whe.html)._

---
In VS2013, in the VB.NET code window, selecting a control from the controls list drop-down would cause the code window to auto-scroll to the handler for that control, if that control only had one handler.

[2019-10-14 05:46] #39248 closed

[2019-10-14 07:20] NextTurn opened #39263 "C# virtual keyword recommender does not support private protected members"
**Version Used**: Visual Studio 2019 Version 16.4

https://github.com/dotnet/roslyn/blob/7bc44488c661fd6bbb6c53f39512a6fe0cc5ef84/src/Features/CSharp/Portable/Completion/KeywordRecommenders/VirtualKeywordRecommender.cs#L12-L20

[2019-10-14 07:22] NextTurn commented on #38939
Closing as fixed.

[2019-10-14 07:22] #38939 closed

[2019-10-14 07:48] mgmguardiana commented on #39117
thanks. waiting for further feedback for this.

[2019-10-14 08:27] CreateAndInject commented on #35798
Anyone is working with it?

[2019-10-14 08:29] CreateAndInject commented on #23133
Anyone is working with it?

[2019-10-14 08:33] CreateAndInject commented on #33549
This issue is added to InQueue in Small Fixes a long time, anyone is working with it?

[2019-10-14 10:13] TessenR opened #39264 "Roslyn doesn't understand pattern-matching null check for properties"
**Version Used**:

[code]

**Steps to Reproduce**:

Compile the following code:
[code]
[sharplab ](https://sharplab.io/#v2:D4AQDABCCMB0AiBLAhgcwHYHsDOAXRAxtrAMKYAmApgILrIA2AntotgNwCwAUNwMToBXevWQAjepQiU64yt24gATBBLcA3twhao0MAH4IAM0SV65CAF4Ig4Zx5dtUACwQAstAAUJCAQCUm7Q0HR21EQwgPAlhjU3MLKxt6XygAdjsQ7QCMqJizWAAVTABlXAAnRHRUD1907QBfLIhGkBdXRS8ff2CtIIytMIiCCFYINSMTMwAuayF6CDrkkDTGxxXtHInyAuKyiqqaiAB6Q+H

[2019-10-14 11:44] huoyaoyuan opened #39265 "Keyword recommender doesn't know about struct's readonly members"
**Version Used**:
VS 16.3.4

[code]
No `void` keyword here. A `readonly void` method could still modify global state using the value of instance state, so still meaningful.

---

[code]
`readonly` presents here.

---

[code]
No `readonly` here.

---

[code]
No `readonly` here.

---

[code]
Recommending types instead of accessor keywords.

[2019-10-14 15:43] cston commented on #38129
Fixed in https://github.com/dotnet/roslyn/pull/38177.

[2019-10-14 15:43] #38129 closed

[2019-10-14 15:56] sharwell commented on #39265
@dotnet/roslyn-compiler can you verify all of these locations so we can get them implemented?

[2019-10-14 15:59] sharwell commented on #39262
Related to #31566

[2019-10-14 16:00] sharwell commented on #39262
Related to #37854

[2019-10-14 16:02] sharwell commented on #39260
Interesting. The code fix is converting the code to this conditional expression:

[code]

which is then getting reduced to the form seen in the preview. It may be difficult to know in advance whether or not this simplification applies, so perhaps a more general message like the following would be better?

[2019-10-14 16:11] huoyaoyuan commented on #39265
I have done some investigation:

https://github.com/dotnet/roslyn/blob/97b75fcb5807881b0e768357b82c1a3476a3ec2c/src/Workspaces/CSharp/Portable/Utilities/SyntaxKindSet.cs#L24-L42
Should include `ref` keyword.

https://github.com/dotnet/roslyn/blob/97b75fcb5807881b0e768357b82c1a3476a3ec2c/src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTokenExtensions.cs#L546-L551
Should think `readonly

[2019-10-14 16:31] jaredpar commented on #39265
@RikkiGibson

[2019-10-14 18:21] olegtk commented on #39255
Not a known issue, please route to the editor, @jinujoseph. Thanks!
Just to confirm - is it a regression in 16.3 or 16.4?

[2019-10-14 18:28] vsfeedback opened #39270 "'Add parameter to method' Quick Action can add wrong parameter"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/772301/add-parameter-to-method-quick-action-can-add-wrong.html)._

---
The 'Add parameter' Quick Action can add the wrong parameter in specific situations.
For instance, this will happen when an existing parameter accepts a base class of the passed argument type.
Is this be

[2019-10-14 18:37] allisonchou commented on #25910
@IraJain09 Hi, what version of VS is this on? So far I cannot reproduce the problem using the code provided.

[2019-10-14 18:42] RikkiGibson commented on #39265
All of the locations mentioned by @huoyaoyuan look like valid places to recommend the keyword to me.

[2019-10-14 18:43] ivanbasov opened #39271 "EnC does not show diagnostic when editing files without method bodies"
After adding files without method bodies to PDBs (https://github.com/dotnet/roslyn/pull/39136),
`BreakMode_RudeEdits_DocumentWithoutSequencePoints` fails with no diagnostics (rude edits) on editing a file without method bodies. It seems more work to be done with `CommitedSolution.cs`

[2019-10-14 18:52] jnm2 commented on #39255
I first noticed it in 16.3, but I don't know when the regression started.

[2019-10-14 19:17] gafter commented on #39250
The ECMA specification says

These revisions have not been incorporated into our copy of the specification, but when they are the compiler and specification will be in alignment.

[2019-10-14 19:17] #39250 closed

[2019-10-14 19:19] gafter commented on #39235
We still have a preview language version separate from C# 8.0.  We expect to add features targeting C# 9.0 to that version.  You can continue using the preview version to see those features.

In other words, this is by design.

[2019-10-14 19:22] gafter commented on #39133
You appear to be assuming something about the encoding of nullability annotations.  We should point point you to our actual documentation for how these things are represented.

[2019-10-14 19:34] #39075 closed

[2019-10-14 19:38] huoyaoyuan commented on #39265
And there may be some clearification for `readonly ref readonly`. Quite confusing for ones haven't read changelog.

[2019-10-14 19:44] cston commented on #39133
@pavinan, the compiler emits a NullableContextAttribute(value) on the class with the most common value that would be used for NullableAttributes on the members, and the NullableAttributes with that value are skipped (see [nullable-metadata](https://github.com/dotnet/roslyn/blob/master/docs/features/nullable-metadata.md)).

In the example above, when `Content2` is commented out, the most common Nul

[2019-10-14 19:58] thomaslevesque commented on #39250
@gafter thanks! I didn't think to look at the ECMA spec

[2019-10-14 19:59] addabis commented on #39235
@gafter Well I was reporting this because if you look at the last commit of `LanguageVersion.cs` it's apparent that the semantics have changed. The summary says "Map a language version (such as Default, Latest, or CSharpN) to a specific version (CSharpM)".

[Previous version](https://github.com/dotnet/roslyn/blob/1274da1c3e28162f765de6367b4982c54d4fcf60/src/Compilers/CSharp/Portable/LanguageVersio

[2019-10-14 20:05] addabis commented on #39235
Additionally [LanguageVersionExtensionsInternal.GetErrorCode](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/LanguageVersion.cs#L199) seem to depend on `MapSpecifiedToEffectiveVersion` not returning anything other than specific version.

[2019-10-14 20:17] #38954 closed

[2019-10-14 20:30] CyrusNajmabadi commented on #39117
This has been a longstanding request.  The basic answer we have is:

1. it's really hard.
2. we don't have any sort of design presented that we think can actually solve this.

[2019-10-14 20:31] CyrusNajmabadi commented on #39260
That would be my preference.  Thanks :)

[2019-10-14 20:57] jmarolf commented on #39117
I think a _possible_ solution (though not necessarily reasonable) is to have the project system treat more things like they are "mulit-targeted".  The most common case is that users are using pre-processor symbols that are defined in an existing configuration (i.e. `DEBUG`).  If the project system notified the language service of two "project" (Debug and Release) then the language service could be

[2019-10-14 21:01] #39082 closed

[2019-10-14 21:02] #30669 closed

[2019-10-14 21:07] CyrusNajmabadi commented on #39117
So here's the significant problem:

if we do that, then we already incur a 2*n cost on things like our indices (or worse if there's anything combinatorial here).  i.e. all these features are driven off of indexes that are stored for the project.  If we now have separate projects because this effectively forks a project P into Debug-P and Release-P, then that's a high cost on things like:

1. extra

[2019-10-14 21:08] CyrusNajmabadi commented on #39117
Note: I'm not at all against this.  Just that our previously explorations in the past yielded nothing 'easy/cheap'.  Which was greatly concerning because the impact on mainline scenarios could be quite large.

[2019-10-14 21:47] tiesmaster commented on #36838
@sharwell I like to pick this one up, though, I don't get this reproduced, is this maybe already fixed?

For example, if I go to `NullableWalker` then the `} &&` does not trigger `IDE0055`. Though, if I _add_ a secondary space after the opening `{`, then it does trigger.

![image](https://user-images.githubusercontent.com/460904/66784955-2acffb80-eedc-11e9-8eae-7a0f1100edd9.png)

The same applies

[2019-10-14 21:49] jmarolf commented on #39117
@CyrusNajmabadi 	yes that is exactly the problem.  This problem exists for multi-targeted projects and linked files today (You will see FAR results listed twice for example). I think this would need to exist as an option that is off be default until we resolve the difficult memory issues.

[2019-10-14 21:51] tiesmaster commented on #36913
@sharwell @CyrusNajmabadi I'm going to take a stab at this one, let me know, if I shouldn't for some reason. I'm going to report back here, if I get stuck, or have questions.

[2019-10-14 21:57] CyrusNajmabadi commented on #39117
Right.  And those cases are even *easier* because we don't deal with this sort of case (i believe):

[code]

i.e. we don't go into the other targets to look for *other* declarations we might have to rename as well as the original symbol.  We do look in other targets for references though.  The multi-symbol-declaration is definitely somethin that feels entirely new (i believe).

[2019-10-14 21:59] sharwell commented on #36913
@tiesmaster It should be fine to implement this. There is a chance the specific option changes following a design review, but it should be easy to update the implementation and tests to match regardless.

[2019-10-14 21:59] CyrusNajmabadi commented on #39117
Anotehr fun example.  Say you have:

[code]

Now, latter in code like `#win32` or `#debug` you have all sorts of fun things to have to flow and consider between all those cases....

I think if we were ever to do something here we might limit it *solely* to the debug/release view of the world just to hit hte 90% case.

[2019-10-14 21:59] CyrusNajmabadi commented on #36913
Good luck!  Happy to help out if you need it :)

[2019-10-14 21:59] sharwell commented on #38896
Duplicate of #36913

[2019-10-14 21:59] #38896 closed

[2019-10-14 22:03] RikkiGibson opened #39275 "Fix multi-line error messages in Azure DevOps runs"
Example test failure message: https://dev.azure.com/dnceng/public/_build/results?buildId=381807&view=ms.vss-test-web.build-test-results-tab&runId=11806886&paneView=debug&resultId=122183

It appears as:
`\r\nExpected:\r\n                Diagnostic(ErrorCode.ERR_AttributesInLocalFuncDecl, \"[EnumeratorCancellation]\").WithLocation(13, 70)\r\nActual:\r\n                // (13,70): error CS8652: The f

[2019-10-14 22:04] livarcocc opened #39276 "error MSB6006: "csc.dll" exited with code 137"
@khteh commented on [Thu Oct 10 2019](https://github.com/dotnet/cli/issues/12870)

## Steps to reproduce

![Screenshot from 2019-10-11 10-54-24](https://user-images.githubusercontent.com/3871483/66621543-3e970b80-ec17-11e9-925d-7a2ac8db224f.png)

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:
[code]

[2019-10-14 22:11] gafter commented on #39276
Please provide the source files and a build script that demonstrates the failure.

[2019-10-14 22:24] gafter commented on #39220
This has nothing to do with pattern-matching.  The following program also incorrectly reports no warnings:

[code]

[2019-10-14 22:27] gafter commented on #39219
@AlekseyTs Can you please evaluate whether this is a C# compiler issue or a runtime issue?

[2019-10-14 22:31] gafter commented on #39155
@huoyaoyuan We don't have plans to change the diagnostics.

[2019-10-14 22:31] #39155 closed

[2019-10-14 22:37] gafter commented on #39130
This fix should be offered alongside one that offers to suppress the warning using pragmas.

[2019-10-14 22:39] gafter commented on #39131
This is not a compiler issue or a language issue.  It is a proposal for some API changes to the Expression APIs.

[2019-10-14 22:46] gafter commented on #34239
While I agree that the compiler could generate code to null the task once awaited, this line concerns me
[code]
Waiting synchronously in an async method is a recipe for disaster.  This bug only demonstrates one of the kinds of disaster can result.

As my doctor tells me: if it hurts when you do that, don't do that.

[2019-10-14 22:52] gafter commented on #34451
The specification (for the DIM feature or the language if the DIM feature spec has been integrated) needs to be updated to reflect the resolutions cited.  Then, that portion of the specification can be copied as a comment in the compiler.

[2019-10-14 23:00] tiesmaster commented on #36913
@CyrusNajmabadi Awesome!! Thnx, I'm probably going to need it ;)

I've managed to [reproduce the bug](https://github.com/dotnet/roslyn/commit/dfda1dc8f119782aaca9e8a1690062fc4a482585), but so far, I haven't been able to get it fixed. I have [this](https://github.com/dotnet/roslyn/commit/e3cab96dacc151d8c4eab2d801a039c846ebf43e) so far, but that doesn't "push the brace back".

So I need to do some

[2019-10-14 23:04] gafter commented on #33256
I'm not sure I understand the issue.  The C# compiler is giving an error when an abstract interface member is not implemented (according to the C# rules).  So the C# compiler is following the C# language specification.  Are you saying that's a bug?  I understand we can imagine a C# compiler following looser rules than required by the C# language specification, but I can't tell if that's what you t

[2019-10-14 23:05] gafter commented on #33256
@AlekseyTs Can you please clarify if you are reporting a bug (compiler not behaving to spec) or something else?

[2019-10-14 23:25] AlekseyTs commented on #39219
This is likely a runtime issue.

The following code fails:
[code]

Corresponding IL:
[code]

And the following code succeeds:
[code]

Corresponding IL:
[code]

The only difference I see between them around  IApiControllerCRUD`1::GetAsync method is that it is not abstract and has body for the failing case.

[2019-10-14 23:38] RikkiGibson opened #39278 "Disable /warnAsError in non-Correctness runs"
I have had a few instances lately where my build is fine locally, but I get warnings in CI due to nullability changes in the base branch. This means I have to merge the base branch in, fix it locally, and push back up before getting any test results.

It feels like we might as well put warnAsError in the Correctness build *only* so this kind of thing does not prevent developers from getting test r

[2019-10-15 00:02] tmat opened #39279 "Publish packages to Azure DevOps public feeds instead of MyGet"
**[dotnet5](https://dev.azure.com/dnceng/public/_packaging?_a=feed&feed=dotnet5)** feed

- Microsoft.CodeAnalysis.3.4.0-beta3-final.nupkg
- Microsoft.CodeAnalysis.Common.3.4.0-beta3-final.nupkg
- Microsoft.CodeAnalysis.Compilers.3.4.0-beta3-final.nupkg
- Microsoft.CodeAnalysis.Scripting.3.4.0-beta3-final.nupkg
- Microsoft.CodeAnalysis.Scripting.Common.3.4.0-beta3-final.nupkg
- Microsoft.CodeAnalys

[2019-10-15 00:02] tmat commented on #39279
@jaredpar @jasonmalinowski Makes sense?

[2019-10-15 00:26] jasonmalinowski commented on #39279
Only edit I see is EditorFeatures.Wpf should go in vssdk feed -- even though it doesn't expose an API it's MEF composable, and it's something say VS for Mac consumes. And in practice LanguageServices has a dependency *on* that, so it's odd the dependency would leave the vssdk feed.

The rest looks good.

[2019-10-15 00:28] tmat commented on #39279
@jasonmalinowski Updated.

[2019-10-15 00:42] tmat commented on #39279
/cc @jinujoseph @jmarolf @davidwengier @dmonroym

[2019-10-15 00:45] gundermanc opened #39280 "Roslyn C#/VB language server fails to start"
**Version Used**:
Visual Studio 2019 16.3 and later

**Steps to Reproduce**:

This is an intermittent repro that appears to be the result of the Roslyn language server returning a null connection when its ILanguageClient is called.

1. Open a C# or VB solution
2. Attempt to search for code in Ctrl+Q search box

**Expected Behavior**:
Symbols appear in the box.

**Actual Behavior**:
Occasionally, t

[2019-10-15 00:46] gundermanc commented on #39280
**cc:** @dibarbet

(@heejaechang has moved teams but FYI anyways).

[2019-10-15 00:49] jinujoseph commented on #39255
Routed [here](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1002020)

[2019-10-15 00:49] #39255 closed

[2019-10-15 01:01] jasonmalinowski commented on #39279
Looks good to me then.

[2019-10-15 01:03] khteh commented on #39276
Reply from CircleCI:
[code]
Could that point to potentially memory leak in the toolchain?

[2019-10-15 01:05] khteh commented on #39276
I have 33 projects in the .sln. I can build the .csproj individually without the `error MSB6006`.

[2019-10-15 01:07] gundermanc commented on #39280
This line looks related: https://github.com/dotnet/roslyn/blob/d9f276923b6a9ff7620bcffa5a4b0254fb65d3c2/src/VisualStudio/Core/Def/Implementation/LanguageClient/AbstractLanguageServerClient.cs#L87-L88

It seems that the VS Language Server client is intolerant of null connections as a failure case.

[2019-10-15 03:47] gafter commented on #39235
Based on your latter two comments I'll reopen as a bug.

[2019-10-15 06:13] jmarolf commented on #39117
That was my opinion too. The user could define any set of directives and pass them via msbuild.  I think if we should limit ourselves to what Visual Studio has configured for the solution.

[2019-10-15 07:58] pengjie012 commented on #31290
我也遇到了上述的那个问题 我发现可以先在外部创建一个git厂库,再在里面新建工程就可以了.

[2019-10-15 08:25] pavinan commented on #39133
@cston Ok I understood now.
I need to check NullableContextAttribute before checking Nullable attribute.
Thanks for explanation.

[2019-10-15 08:32] rechkalov opened #39321 "IAsyncEnumerable possible memory leak"
Following code creates "Event" objects. Looks like that no references to them are kept, but last created (and returned) in each stream is not garbage collected. Is this incorrect usage or bug?

[code]

Using TargetFramework netcoreapp3.0

[code]

[2019-10-15 08:33] IanKemp commented on #36570
I am seeing this a lot in VS2019 16.3.4 with a solution containing a .NET Core 2.2 ASP.NET web project.

[code]

[2019-10-15 10:59] PDostalek opened #39285 "[loc][Query][Roslyn] Localizability of 0; "DefinitelyDisableHttpClientCRLCheck""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Definitely disable HttpClient certificate revocation list check

File Name:
Microsoft.NetCore.Analyzers\Core\xlf\MicrosoftNetCoreAnalyzersResources.xlf

==========================================
Query:
Please confirm this

[2019-10-15 11:05] PDostalek opened #39286 "[loc][Query][Roslyn] Localizability of 0; "cmdidErrorListSetSeverityHidden|ButtonText""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
&Silent

File Name:
VisualStudio\Core\Def\xlf\Commands.vsct.xlf

==========================================
Query:
Is silent translatable in this context?
It seems to be a command (other strings):
Now interpreted as "not l

[2019-10-15 12:33] sharwell commented on #39286
@mavasani I believe we should be using "Refactoring" here for consistency with Tools&rarr;Options.

[2019-10-15 12:44] sharwell opened #39288 "Update AbstractEditAndContinueAnalyzer.HasBackingField for NRT changes"
(Details coming shortly)