[2020-05-15 17:40] gafter opened #44294 "Inconsistent verb tense in name for internal symbol types"
We use past tense for most modified symbol classes (e.g. `SubstitutedMethodSymbol`). However, for one category we use a different tense ("Retargeting"). The difference is gratuitous. We should settle on one convention and rename for consistency. I prefer the past tense.

[2020-05-15 17:49] NTaylorMullen opened #44295 "Go to implementation on abstract items returns both the abstract definition + override/impl"
**Version Used**:
![image](https://user-images.githubusercontent.com/2008729/82080538-9b6d0f80-9699-11ea-97ee-328e605d1816.png)

**Steps to Reproduce**:

1. New console app
2. Paste the following minimal repro:
[code]
3. Go to implementation on `Foo` in the `Foo abc;` line.

**Expected Behavior**:
It brings the cursor to `FooImpl`

**Actual Behavior**:
It opens up a window with two entries:
![imag

[2020-05-15 17:55] #11915 closed

[2020-05-15 17:56] jcouv commented on #11915
Fixed by @nbalakin in `master`. Thanks!

[2020-05-15 18:14] gafter commented on #44294
@AlekseyTs and I discussed this and he explained the reason for the difference. I'll let him explain here and close the issue.

[2020-05-15 18:30] CyrusNajmabadi opened #44297 "Consider removing the rename-dashboard/inline-rename experience"
Our current experience is very slick, but comes at the cost of high complexity, and a difficult architecture and impl to make work in scenarios like LSP and Nexus.  I propose we keep good parts of what we have today, while jettisoning the rest.

Specifically:

1. we should *keep* the rename-tracking-smart-tag.  This is a fairly simple edit-state-machine that watches edits and offers the rename-sma

[2020-05-15 18:34] CyrusNajmabadi commented on #44297
Tagging @jinujoseph @kendrahavens @mikadumont

[2020-05-15 19:15] ericwj commented on #44074
Welcome!

Beware though that the second repro (May 13) isn't what my code looked like; it was like the first. I think my difficulty making a repro was because in the first repro the crash doesn't *always* happen, though it did **always** happen in the larger original project where I came accross this.

[2020-05-15 19:28] mikadumont commented on #44297
Yes, I am definitely in favor of removing the highlighted span and the dashboard. The new rename dialog can look like the following:

![image](https://user-images.githubusercontent.com/46729679/82088466-a9755d00-96a6-11ea-8fc1-48ffd1a84205.png)

[2020-05-15 19:55] vsfeedback opened #44299 "CSharpSpellCheckCodeFixProvider encoutered and error and has been disabled"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/11140/csharpspellcheckcodefixprovider-encoutered-and-err.html)._

---
Appeared in yellow top bar while editing source code in editor.

System.ArgumentOutOfRangeException : Position is not within syntax tree with full span [6642..6900)
Parameter name: position
Actual value w

[2020-05-15 20:03] sharwell opened #44300 "FileTextLoader.LoadTextAndVersionAsync can have multiple outstanding requests for the same document"
**Version Used**: 16.5.4

🔗 https://developercommunity.visualstudio.com/content/problem/1020481/vs-1654-crashes-after-opening-a-solution.html

The crash dumps for this issue show many threads loading the same file in `FileTextLoader.LoadTextAndVersionAsync`. Each of these threads requires a large buffer to hold the file content, and together they run the process out of memory.

Multiple (concurren

[2020-05-15 20:25] tmat commented on #44297
I do not like popping up dialog. It takes away focus from the editor. I think we can achieve the desired simplicity by creating just a single green tracking span for the identifier rename is invoked on.

[2020-05-15 20:27] tmat commented on #44297
One of the disadvantages of a dialog is that I can't go to another place in the editor and copy & paste name from there without cancelling the dialog and invoking rename again.

[2020-05-15 20:29] sharwell opened #44301 "Enable unsafe code refactoring creates unnecessarily complex projects"
**Version Used**: 16.6 Preview 4

**Steps to Reproduce**:

1. Create a CPS project
2. Write code with the `unsafe` modifier
3. Apply the code fix to enable unsafe code in the project

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

⚠️ Make sure to enable the `CPSProject_GeneralPropertyGroupUpdated` integration test as part of resolving this issue.

[2020-05-15 20:30] tmat commented on #44300
Do you mean LoadTextAsync should lock while reading the file?

[2020-05-15 20:32] sharwell commented on #44300
@tmat Not necessarily. I'm looking into this.

[2020-05-15 20:54] RamType-0 commented on #43907
AFIK, "captured" means implicit closure class and instance has been created.
Actually, it seems that `nameof` expression never causes capture , so it is inconsistent,it should not be reported.

[2020-05-15 21:01] nnpcYvIVl commented on #32070
@JasonBock I can't reproduce it either.

[2020-05-15 21:04] CyrusNajmabadi commented on #44297
We can talk aobut this on monday.  I think your concerns are valid, but i'm not sure the complexity is warranted or viable for the nexus/lsp world.  Or, put another way, i think we can invest in the scenario by having it be provided by the platform through LSP rather than having roslyn own specialized complex logic here.

[2020-05-15 22:00] artemious7 commented on #44291
thanks for moving my question to the right place. Waiting to see this get fixed

[2020-05-15 22:13] CyrusNajmabadi commented on #44291
Hi @artemious7 can you let me know what assembly or package you're referencing that brings in those methods/types/extensions?  thanks!

[2020-05-15 22:17] artemious7 commented on #44291
Here's part of my project file
[code]

[2020-05-15 22:33] CyrusNajmabadi commented on #44291
Thanks. I can repro this.  it's definitely an odd case.  The compiler accepts calling the extension method in instance form, but not in static method form.  That breaks our system for fixing and resolving conflicts.  i.e. in order to preserve code meaning, refactorings convert to an internal form that does things like make implicit casts explicit, supply inferred type arguments, and invoke extensi

[2020-05-15 22:37] sharwell commented on #44291
@CyrusNajmabadi we may need to add a `SymbolAnnotation` when complexifying extension methods and/or leverage it during the simplification process to restore a working state.

[2020-05-15 23:04] TanayParikh opened #44308 "Find All References doesn't work in LiveShare Guest"
**Version Used**:
VS Master

**Steps to Reproduce**:

1. Create a C# Console Application on VS Master
2. Paste the following into `Program.cs`

[code]

3. Launch a new LiveShare session, and connect to it with another VS Master instance.
4. Do Find All References on `Something();` within the VS Master LiveShare guest.

**Expected Behavior**:
See reference to the usage and declaration of `Something

[2020-05-15 23:43] #42279 closed

[2020-05-16 00:41] jasonmalinowski opened #44312 "Function Pointer syntax puts "expected" IsMissing tokens"
Currently the parser parses each parameter in the function pointer list as a parameter with a missing parameter name. This token is IsMissing even though it's never expected to be there. It seems this breaks invariants in the formatter because the IsMissing tokens are never formatted around:

https://github.com/dotnet/roslyn/blob/d1a015142d692508cd4284c9366abd2dd1e6af56/src/Workspaces/SharedUtilit

[2020-05-16 00:54] brianrob opened #44313 "VBCSCompiler.exe Induces 11 GCs Every 30 Seconds When Not Handling Requests"
**Version Used**: 16.7 Preview 2

**Steps to Reproduce**:

1. Start VS and open a desktop C# project.
2. Build the project.

**Actual Behavior**:
The compiler server, `VBCSCompiler.exe` executes 11 induced GCs every 30 seconds, as long as the server remains alive and isn't handling a compilation request.  I imagine that the goal is to reduce memory footprint when the server isn't in-use, but this

[2020-05-16 01:15] #44062 closed

[2020-05-16 01:19] allisonchou commented on #44308
I believe what you're seeing is due to this bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1094786/
We're temporarily switching back to non-streaming via #44283 until the bug is fixed.

[2020-05-16 01:38] #30327 closed

[2020-05-16 01:38] #44200 closed

[2020-05-16 03:07] #44224 closed

[2020-05-16 04:14] sbomer opened #44315 "Errors while parsing invalid SuppressMessage Target"
**Version Used**:
SDK version 5.0.100-preview.2.20177.6
Microsoft.CodeAnalysis.FxCopAnalyzers: 3.0.0

**Steps to Reproduce**:

Run `dotnet build` on the following source with the FxCop analyzer.
[suppress_repro.tar.gz](https://github.com/dotnet/roslyn/files/4637797/suppress_repro.tar.gz)

[code]

[code]

[2020-05-16 04:21] TanayParikh commented on #44308
Thanks for the clarification @allisonchou! I'll follow that work item & PR.

[2020-05-16 05:00] tmat commented on #44297
Definitely - i'm not saying we should provide a custom complex logic. I'd like the experience of rename within the editor (no dialog) to be provided by platform.

[2020-05-16 08:29] mbpakalin commented on #41315
Problem still persists.

[2020-05-16 18:48] TobiasSekan opened #44319 "[Feature request] Show TargetFramwork in the definition view (go to definition)"
Hello,

It would be very handy, when the definition view show the `TargetFramwork` of the used library, like
[code]

**Version Used**:
Visual Studio 16.6.0 Preview 6

**Steps to Reproduce**:

1. Click on a reference type or value type from a library (Framework, NuGet package, ...)
2. Press `F12`
3. Read the first line

**Expected Behavior**:
The definition view should have a information about the

[2020-05-16 23:30] tmat opened #44321 "NRE from Microsoft.CodeAnalysis.Rename.RenameLocations.<RehydrateAsync>"
**Version Used**:

Version 16.7.0 Preview 2.0 [30112.204.master]

[code]

While renaming in Roslyn.sln.

[2020-05-16 23:30] tmat commented on #44321
@CyrusNajmabadi FYI

[2020-05-16 23:37] ryzngard commented on #39435
I'm going to close this as by design, but I honestly see why there's confusion about this.

When we start a rename session, we highlight the whole identifier. That highlight can be hard to spot the difference with the highlight that happens for all references to the identifier. I'll use dark theme because I think it's more of a culprit than light theme for this issue.

![image](https://user-images

[2020-05-16 23:37] #39435 closed

[2020-05-17 00:15] CyrusNajmabadi commented on #44321
Yup. I just fixed this. Will close out later when I can associate with the right pr.

[2020-05-17 01:39] shaggygi commented on #4284
I came across this today and appears indentation is still not working with Visual Studio 2019.

[2020-05-17 02:59] tmat opened #44326 "Improve design of partner component hosting in Roslyn ServiceHub process"
Currently we allow select partners to run their services in Roslyn's ServiceHub process: Live Unit Testing, Source Based Test Discovery, Razor and IntelliCode. In future we'll need to host XAML LSP.

These components are already required to use External Access layer to access RemoteHostClient (client) and ServiceBase (server) APIs.

**Proposal**

We will keep using `RemoteHostClient` on the client

[2020-05-17 03:05] tmat opened #44327 "Move LUT and SBD services to ISB"
Context: https://github.com/dotnet/roslyn/issues/44326

[2020-05-17 04:11] tmat opened #44328 "RemoteEndPoint.InvokeAsync with custom pipe reader/writer does not handle cancellation, exceptions correctly"
The code an also be simplified.

[2020-05-17 06:09] CyrusNajmabadi commented on #4284
we would likely take a contribution here.  But it's unlikely that we would invest in this ourselves in the near future.

[2020-05-17 08:24] HamedFathi commented on #19978
Unfortunately, I have this problem too

I created a simple console application via `dotnet new console`

[code]

Then I wrote a block of code in another application to get the compilation result by Roslyn

[code]

[code]

But length of Documents is empty so I wrote another block of code to find out what was the problem

[code]
The error is:
[code]

My dotnet core info:

[code]

What should I do to

[2020-05-17 18:27] jnm2 opened #44329 "Unvalidated `{yearRange}` in file_header_template to avoid IDE0073 false positives"
In projects that use years or year ranges, there's really no way to have IDE0073 warn for missing headers or headers that don't match at all because it will warn for almost every file due to the year differing.

https://github.com/dotnet/roslyn/issues/33012 contains rationale about why `{currentYear}` was not implemented, and I agree with all of it.

I'd like to propose `{yearRange}`. When analyzi

[2020-05-17 18:32] JasonBock opened #44330 "Suggest When Unused Generics Exist"
#### Analyzer package

[Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

#### Package Version

v3.0.0 (Latest)

#### Diagnostic ID

No diagnostic ID

#### Repro steps

1. Create a new .NET Core 3.1 console app
2. Create a class in the project like this:
[code]

#### Expected behavior
I'd like to see some kind of error/warning/suggestion

[2020-05-17 18:56] #44220 closed

[2020-05-17 20:33] sharwell commented on #44329
My aversion to `yearRange` is similar to my aversion to `currentYear`. Under US copyright law, changes to the copyright year offer little to no benefit (and undoubtedly offer no benefit within the human lifespan of the code author). Changes to the year, whether by using a range or periodically changing it, introduces a risk of invalidating the copyright year altogether (a pre-dated copyright is va

[2020-05-17 20:57] NickeManarin opened #44332 "Not enough quota when opening Window"
After updating my WPF app from 4.6.1 to 4.8, users started getting this exception (multiple times in a row) when opening windows:

[code]
Unfortunately, I could not get this exception on my machine, so I can't really understand what's happening.

I already tried setting `HandleDispatcherRequestProcessingFailureOptions.Reset`, but people are still reporting crashes to me.

What could possibly be ha

[2020-05-17 21:40] jnm2 commented on #44329
I have a strong aversion to headers of any kind. However, the IDE should not leave people stuck between a rock and a hard place. Either authoritative copyright guidance should be given ("your codebase is wrong") or some scalable means should be supplied to deal with false positives without losing the ability to check whether a header is even present.

[2020-05-17 21:43] jnm2 commented on #44329
I have a strong aversion to headers of any kind. However, the IDE should not leave people stuck between a rock and a hard place. Either authoritative copyright guidance should be given, along the lines of "your codebase's current practice is unacceptable because X," or some scalable means should be supplied to deal with false positives without losing the ability to check whether a header is even p

[2020-05-18 03:06] gafter commented on #44284
Is this issue actionable at this point?

[2020-05-18 03:07] gafter commented on #44293
@CyrusNajmabadi Is this related to work you did?

[2020-05-18 03:42] CyrusNajmabadi commented on #44329
As I mentioned in gitter, would it be sufficient for the ide to just ignore {currentYear} when validating the header?

[2020-05-18 03:44] CyrusNajmabadi commented on #44293
I don't think so. But happy to look.

[2020-05-18 06:29] davkean opened #44335 "ServiceHub is crashing a lot in recent builds"
**Version Used**:
Version 16.7.0 Preview 2.0 [30114.165.master]

[B5BDD07E-ManagedLanguage.IDE.RemoteHostClient-14804-tnshvb4q-1.log](https://github.com/dotnet/roslyn/files/4642345/B5BDD07E-ManagedLanguage.IDE.RemoteHostClient-14804-tnshvb4q-1.log)
[B5BDD07E-roslynCodeAnalysis-15464-v01w2jaq-1.log](https://github.com/dotnet/roslyn/files/4642346/B5BDD07E-roslynCodeAnalysis-15464-v01w2jaq-1.log)
[B5

[2020-05-18 06:35] CyrusNajmabadi commented on #44335
We have a hack to try to deal with that here:

[code]

But it likely isn't working since the stack trace changed. We really need a way to be able to call into nuget safely without it just crashing on these sorts of simple calls.  Do you know who might be able to help with that @davkean ?

[2020-05-18 06:36] davkean commented on #44335
//cc @nkolev92

[2020-05-18 06:39] ryzngard commented on #44335
@CyrusNajmabadi  don't we report an NFW for this?  Or is it being OOP cause `ReportWithoutCrash` to fail?

[code]

[2020-05-18 07:28] CyrusNajmabadi commented on #44335
I think we really just need to fix the exception.  This continued attempt to call this public API and then deal with these exceptions, that we cannot otherwise check for, is just too brittle and difficult.   Literally all we're trying to ask is:

[code]

We need some way to ask this basic question in a resilient, non-throwing fashion.  If that means some sort of `TryGetInstalledPackages(...)` call

[2020-05-18 07:38] ranjan-ranjan commented on #39559
https://stackoverflow.com/a/53060625/5035500

[2020-05-18 11:24] bddckr commented on #33558
Something to be aware of when using this, especially when moving from rulesets to editorconfig: https://github.com/dotnet/roslyn/issues/43051

[2020-05-18 11:33] bddckr commented on #43051
I migrated from rulesets to editorconfig for all analyzer configuration recently and our team is now manually checking CI build results for warnings. With rulesets we could easily make all analyzer diagnostics warnings locally, but errors in CI builds thanks to `TreatWarningsAsErrors`.

I'm looking into a workaround until a solution has been found - any ideas? It looks like for now I can just make

[2020-05-18 12:35] TessenR opened #44338 "Exceptions from `CSharpDeclareAsNullableCodeFixProvider`"
**Version Used**:

[code]

**Steps to Reproduce**:

Place caret at `null` in the following code:
[code]

**Expected Behavior**:
No exceptions

**Actual Behavior**:
![image](https://user-images.githubusercontent.com/5566206/82213568-0a0dcf80-991d-11ea-9d8f-a88d33c2dcca.png)

[code]

[2020-05-18 12:35] mavasani commented on #43051
Tagging @agocke. I believe this behavior is by design. Editorconfig based severity settings take precedence over settings from ruleset file and command line arguments.

[2020-05-18 13:15] mavasani commented on #43051
Actually, I think my last comment is not true. All our repos (roslyn, roslyn-analyzers, etc.) use editorconfig based configuration, we install many analyzer packages that configure bunch of code style rules as warnings for local development (for example, IDE0055 "Fix formatting") and then specify `/p:TreatWarningsAsErrors = true` in CI on msbuild command line and these get bumped to errors and bre

[2020-05-18 13:28] sharwell commented on #43051
@mavasani there are two ways to treat warnings as errors in command line builds. One is an MSBuild flag (`/warnAsError`), which raises the severity of all messages coming from individual tools, and the other is a CSC flag (set via `/p:TreatWarningsAsErrors=true`), which instructs the C# compiler to increase the severity of diagnostics. Our builds set both of these at different times, so it would b

[2020-05-18 13:44] sharwell commented on #44329
I'm not opposed to reviewing this in principle, but in the time I've been working on features in this space I haven't seen specifics presented for any other jurisdiction. We'd need to understand the marginal benefit provided by new functionality in terms of specific laws to know how to extend this - which may or may not be related to the manner in which dates are presented.

For the projects I hav

[2020-05-18 13:57] mavasani commented on #43051
@sharwell - thanks that clears things for me. If the original repro steps use `/warnaserror` instead of `/p:TreatWarningsAsErrors=true` then the analyzer diagnostics are indeed promoted to errors and break build. So at least there is a workaround now.

I also verified that `/p:TreatWarningsAsErrors=true` promotes compiler warnings to errors. So the issue seems specific to analyzer diagnostic. I am

[2020-05-18 14:02] mavasani commented on #43051
This turned out to be a red-herring. The only reason why compiler warning got promoted to an error was that there was no explicit entry in the editorconfig. Let me add a Repro 2 in the original issue description to clarify this is not specific to analyzer diagnostics, but the fact that diagnostic severity settings coming from an .editorconfig file are overriding `/warnaserror` from command line/MS

[2020-05-18 14:12] mavasani commented on #43051
@agocke @sharwell I have updated the original repro steps to confirm that this issue is not specific to analyzer diagnostics.

[2020-05-18 15:04] TessenR opened #44339 "Type inference handles `null` and `default` for reference types differently"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile the following code:
[code]

**Expected Behavior**:
All invocations have `CS8603 possible null reference return` warnings.

**Actual Behavior**:
The last invocation reports `CS8620` because `return null` and `return default` affected result annotation differently even though they both return null for reference types.

@jcouv that could be r

[2020-05-18 15:04] mavasani opened #44340 "Compiler API for getting semantic information about an attribute syntax"
Currently, there is no IOperation API for attributes (#18198). Additionally, there is no API on semantic model that given an attribute syntax node returns the corresponding `AttributeData` which has all the required semantic information about the attribute, i.e. all the resolved constructor and named arguments for the attribute. It would be nice if we can provide either or both of the following AP

[2020-05-18 15:04] mavasani commented on #44340
Tagging @AlekseyTs @333fred

[2020-05-18 15:35] mavasani commented on #43051
The following code is implementing the logic as today.

1. The code to promote a warning to error only kicks if `isSpecified` is `false`
https://github.com/dotnet/roslyn/blob/632020ae5ecdb5e7987be542ad471d7625285a41/src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs#L243-L254
2. There are couple of cases where `isSpecified` is `true`: An explicit diagnostic ID severity entry in ed

[2020-05-18 15:36] TessenR opened #44341 "Roslyn doesn't warn about `default` default parameter value for generics that might be not nullable reference types"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile and run the following code:
[code]

**Expected Behavior**:
Either warning for `T t = default` default paramete value or warning for `=> t` returning possible null value

**Actual Behavior**:
No warnings. The program crashes at runtime with a null reference exception

[2020-05-18 15:51] ArturDorochowicz commented on #43051
@mavasani No, it doesn't repro with rulesets. The first two comments back this up and, additionally, I also discovered this change in behavior when  migrating from rulesets to editorconfig.

[2020-05-18 16:42] jnm2 commented on #44329
This feature doesn't need to validate 100% of the header in order to be more useful than having nothing. `{currentYear}` could imply validation expectations. I was aiming for something that didn't (as strongly), but even if it did imply that, it's still better to have some warnings than no warnings.

[2020-05-18 16:53] CyrusNajmabadi commented on #44329
Can you give examples here?

[2020-05-18 16:59] mavasani opened #44342 "SyntaxEditor.RemoveNode does not remove preceeding blank lines for attribute node removal"
1. Code fix: https://github.com/dotnet/roslyn/pull/44287/files?file-filters%5B%5D=.cs&file-filters%5B%5D=.projitems&file-filters%5B%5D=.resx&file-filters%5B%5D=.vb#diff-dccac1a37411ddc5b87927bd20a7f3fcR51
2. Test showing the behavior: https://github.com/dotnet/roslyn/pull/44287/files?file-filters%5B%5D=.cs&file-filters%5B%5D=.projitems&file-filters%5B%5D=.resx&file-filters%5B%5D=.vb#r426661162

[2020-05-18 17:03] mavasani opened #44343 "SuppressMessageAttributeState.Resolve perf improvement"
See https://github.com/dotnet/roslyn/pull/44287/files?file-filters%5B%5D=.cs&file-filters%5B%5D=.projitems&file-filters%5B%5D=.resx&file-filters%5B%5D=.vb#r426668611

[2020-05-18 17:07] CyrusNajmabadi commented on #44342
I'm not certain if this is SyntaxEditor's responsibility, or hte formatter.  Generally, the model here is that this should add elastic trivia around the edit region, and hte formatter should then use those only to tweak up the space between.

[2020-05-18 17:08] mavasani commented on #44342
Ah, that sounds reasonable. @sharwell?

[2020-05-18 17:20] AlekseyTs commented on #44340
@mavasani The issue makes it sound like there is absolutely no information provide by IOperation and SemanticModel. I believe this is not accurate. I believe we do have support in SemanticModel for attribute applications and it is likely possible to examine symbols for constructors, get information about arguments, etc. Given that we have SemanticModel for attributes, it is alo likely that there i

[2020-05-18 17:25] CyrusNajmabadi commented on #44293
Doesn't repro in latest Roslyn builds:

![image](https://user-images.githubusercontent.com/4564579/82241878-c05bbf80-98f1-11ea-9f7b-b32bf328efef.png)

I'm on:

![image](https://user-images.githubusercontent.com/4564579/82241894-c81b6400-98f1-11ea-9b0b-4b42cfa809f2.png)

Looks to have been fixed.  Thanks for the report!

[2020-05-18 17:25] agocke commented on #43051
Yes, the design was that more specific options, namely syntax-tree specific settings, would win over more general options, like warn as error.

On the other hand, I can see why the current behavior would be confusing. Let's leave this open for now.

[2020-05-18 18:17] mavasani commented on #44340
@AlekseyTs Yes, sorry for not being clear. We do expose the operation tree with an OperationKind.None node. Also semantic model APIs allow you to get semantic information about constituent parts of the attribute node. So, this is not a blocking issue for attribute analysis.

The request here is an enhancement to expose a strongly typed IAttributeOperation with rich properties like Arguments, Named

[2020-05-18 18:23] ryzngard commented on #44335
@CyrusNajmabadi I agree, just trying to diagnose why we started crashing instead of NFW

[2020-05-18 18:25] 333fred opened #44345 "IsSymbolAccessibleWithin does not check all type arguments for inaccessibility"
https://github.com/dotnet/roslyn/pull/44257#discussion_r426081997

It looks like for a NamedType which isn't a definition we should check all type arguments, including from containing types. Could be a breaking change though. /cc @AlekseyTs

[2020-05-18 18:44] mavasani commented on #44330
This might also be a good candidate to be an IDE code style analyzer similar to our existing remove unnecessary analyzers (unused using, unused private members, unused parameters, unused value assignment, unreachable dead code, etc.).

[2020-05-18 18:45] mavasani commented on #44330
Tagging @sharwell

[2020-05-18 19:04] Serentty commented on #44284
It seems to me now like the issue, if there is an issue at all, is with the language server and/or the VS Code plugin, since only it complains about that identifier, not the actual compiler.

[2020-05-18 19:06] Serentty commented on #44284
Yep, I can confirm that I still get a red squiggly and an error about an unexpected character in VS Code. I'm not sure if the language server is in this repository or another one.

[2020-05-18 19:39] CyrusNajmabadi commented on #44330
Note: generics are sometimes used in static contexts as holders.  i.e. `Telemetry<T> { public static SomeMetricValue { get; } }`.  I don't use T here, but it allows me to associate data with a specific type in a very clean and simple fashion.

[2020-05-18 20:17] RikkiGibson opened #44348 "Debug bootstrap build fails when annotations are added to LocalDataFlowPass"
**Version Used**: f98dfe5

**Steps to Reproduce**:

1. Open `src\Compilers\CSharp\Portable\FlowAnalysis\LocalDataFlowPass.cs`
2. Add `#nullable enable annotations` to the top of the file
3. Run `.\Build.cmd -bootstrap -bootstrapConfiguration:Debug`

**Expected Behavior**:
Bootstrap build completes successfully.

**Actual Behavior**:
csc crashes with the following stack trace when building Microsof

[2020-05-18 20:26] RikkiGibson commented on #44341
this seems specific to default parameter values. I wonder if there is some consolidation we could do to try and make default parameter value bugs less common.

[code]

[2020-05-18 20:28] CyrusNajmabadi opened #44349 "Codespaces quick info is not classified"
![image](https://user-images.githubusercontent.com/4564579/82256591-797ac380-990b-11ea-90bf-d382bae98aeb.png)

[2020-05-18 20:30] CyrusNajmabadi opened #44350 "Codespaces: go-to-impl doesn't seem to work."
I opened Roslyn.sln in Codespaces.  I navigated to C:\Users\cyrusn\AppData\Local\Temp\612CA8E9B12E8F6DA8D5CB63808E09D29F0A\6\roslyn\src\EditorFeatures\Core\FindReferences\FindReferencesCommandHandler.cs and tried to do go-to-impl on line 127:

[code]

I did the go-to-impl on FindReferencesAsync.  In Codespaces nothing seems to happen.

[2020-05-18 20:32] CyrusNajmabadi opened #44351 "Ctrl-comma doesn't prepopulate search query in codespaces"
Normally, ctrl-comma will bring up navto with teh text under the caret being what is automatically searched for.  This doesn't work in codespaces.  It just brings up:

![image](https://user-images.githubusercontent.com/4564579/82256858-ec843a00-990b-11ea-879b-3e1b502f691b.png)

So you have to retype the symbol name again.

This also does not work even if the identifier is selected.

[2020-05-18 20:33] CyrusNajmabadi opened #44352 "Codespaces nav-to doesn't show progress"
You dont' get the intermediate progress bar or the real progress bar.  So you have no idea if results are still coming, or if the search is done.

[2020-05-18 20:34] CyrusNajmabadi opened #44353 "Codespaces nav-to is dismissed when VS loses focus"
This is a regression of teh very intentional change made to nav-to to not do this.  When focus changes, nav-to should stay open and continue searching.

[2020-05-18 20:35] CyrusNajmabadi opened #44354 "CodeSpaces nav-to doesn't find symbols that it should"
I have Roslyn.sln opened in CodeSpaces.  I've done a Nav-to for FindReferencesAsync.  I get zero symbol results.  All i get, no matter how long i wait, is:

![image](https://user-images.githubusercontent.com/4564579/82257211-7f24d900-990c-11ea-8bd7-6b22dca13464.png)

[2020-05-18 20:40] RikkiGibson commented on #43652
It seems like we could only expand the optimization in cases where the other initializers are known to be free of side effects. This is not an extremely compelling scenario, especially because there exists a simple workaround in source (delete the initializer).

Perhaps if this is producing a bad experience for `null!` we can revisit, but that should probably be solved by introducing a way to supp

[2020-05-18 20:40] #43652 closed

[2020-05-18 20:41] CyrusNajmabadi opened #44355 "Codespaces: symbols not classified properly"
TYpes and members are not being classified properly.  FOr example:

![image](https://user-images.githubusercontent.com/4564579/82257528-0e31f100-990d-11ea-9a2e-d4a5196cf710.png)

![image](https://user-images.githubusercontent.com/4564579/82257635-3d486280-990d-11ea-999c-5a9149cae645.png)

[2020-05-18 20:57] RikkiGibson commented on #44289
I can't reproduce this in [SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDYB8DEA7AVwwwmAzgAI49TyBYAKAAEAGCpgRgDoARNCAOZ4A9rDQBjKFwDCwgCZwAgjQwBPKGigBuRoyYAmCtMYBvRhQsVgw4RgoBZABQBtAHLCYrohgDqAC2pHGAQCOABKAF0KYQIYdg4WAH4KAAcw80szBksc1IoAXgpCYh1s3IsmAHYKADMIDCg4Uozy61sKAEk8PERHdLLyrPLygHoRikBkwiMAZQAOSoA2fQBIAAUIBAgwOHgECgByFP2KSFUijwo/CAA3Sggi7wpr+tCKAHcAvCoADzQYNDwAnefz8B2CoX2LWGFWq4KaUJ

[2020-05-18 21:09] 333fred opened #44358 "Native integer types from source should be preserved on override"
Today we copy over tuple and dynamic modifiers from source on override, but we do not copy over native integer modifiers. This causes an assert to fire in the compiler for this code:

[code]

It should probably warn or error.

[2020-05-18 21:20] AmadeusW opened #44359 "SuggestedActionSource.TryGetTelemetryId returns false in C#_LSP content type despite providing actions"
**Version Used**: 16.7

**Steps to Reproduce**:

1. Connect to Nexus server
2. On client, attempt a refactoring which runs on the server
  * For example introduce local: `Console.ReadLine();` -> `string t = Console.ReadLine();`
3. Notice an exception in LightBulb telemetry

**Expected Behavior**:

`SuggestedActionSource.TryGetTelemetryId` sets the ID and returns true.
It is expected for entity whi

[2020-05-18 21:21] AmadeusW commented on #44359
@dibarbet here is Editor PR which avoid throwing exception:
https://devdiv.visualstudio.com/DevDiv/_git/VS-Platform/pullrequest/248033
However, we still need Roslyn to identify itself in the C#_LSP content type.

[2020-05-18 21:23] EikeStein commented on #42616
@jcouv Any updates on this? It is not super urgent, though.

[2020-05-18 21:30] dibarbet commented on #44359
@AmadeusW 2 questions -
1)  I assume this should be a different guid between C#_LSP and C#?
2)  Is this guid used for anything else, or can I just create a new one and return that for C#_LSP?

[2020-05-18 22:04] svick commented on #44284
@Serentty [The VS Code plugin for C#](https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.csharp) uses OmniSharp, whose [server part](https://github.com/OmniSharp/omnisharp-roslyn) runs on .Net Framework, which would explain why it uses old character tables. There's an issue with more details about why OmniSharp uses .Net Framework at https://github.com/OmniSharp/omnisharp-roslyn/is

[2020-05-18 22:09] allisonchou opened #44361 "Change back LSP FAR to use streaming once LSP bug is fixed"
Tracking issue for https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1094786/ - once it is fixed, we should revert #44283.

[2020-05-18 22:17] JoeRobich commented on #44297
## Design Review Notes

- How will this effect other features that leave the user in a rename experience?
- Replacing the current experience with a modal dialog would block the ability to interact with the editor (scroll looking for updated references or conflicts) during a rename.
- Check with TypeScript and F# who may be relying on the current experience.
- We would like to maintain the referenc

[2020-05-18 22:19] JoeRobich commented on #44201
## Design Review
- No object to the proposal
- Suggestion to enhance MadsK extension to generate the new form and have code fix to migrate existing configuration to the new form.

[2020-05-18 22:21] CyrusNajmabadi commented on #44297
Also, we discussed this more after the meeting ended.  LSP/Nexus already *has* an inline rename experience (though it could likely use some polish).  We can just try flighting users to that to see their reaction.

[2020-05-18 22:32] #44176 closed

[2020-05-18 22:49] mavasani opened #44362 "Add analyzer/fixer to recommend switching global suppression target string from legacy FxCop format to Roslyn format"
[Global suppressions](https://docs.microsoft.com/en-us/visualstudio/code-quality/in-source-suppression-overview?view=vs-2019#global-level-suppressions) allow suppressing analyzer diagnostics on specific symbols via an attribute that requires a "Target" string argument that encodes the fully qualified name of the symbol. This target can be specified in one of the following formats:

1. Roslyn's [do

[2020-05-18 22:53] JoeRobich commented on #43917
## Design Review
- This is not really a code-style analyzer. If it were to move it would be as a refactoring.
- Any project can reference the Roslyn-Analyzers today, but there is friction if it isn't enabled for a project.
- Could package and ship this as a VSIX.

Proposal:
- Keep the analyzer in Roslyn-Analyzers, but enable it in the Roslyn repo.
- Consider enhancing the Change Signature dialog w

[2020-05-18 22:59] nkolev92 commented on #44335
There's really 1 scenario where NuGet would throw that exception and that's when the project has not been nominated yet.

Similar to some earlier discussions (unfortunately), this all falls under https://github.com/NuGet/Home/issues/9577 and NuGet rewriting all the services to async.

When that does happen we should design a better contract.

NuGet *will* need some sort of a failure scenario like

[2020-05-18 23:42] RayKoopa commented on #12364
This would be _very_ useful for `Matrix4x4` or similar large structs, but making them `readonly` to ensure no copies happen when passing them as `in` operator parameters is awkward as sometimes single value manipulation is needed without creating a completely new matrix.
Or is the compiler or runtime clever enough to see fields of passed-in matrices are only read from, preventing a defensive copy

[2020-05-18 23:58] gafter commented on #44284
Closing, as I expect The VS Code plugin for C# is where that will have to be fixed, and that is being tracked at https://github.com/OmniSharp/omnisharp-roslyn/issues/1703

[2020-05-18 23:58] #44284 closed

[2020-05-19 00:11] jasonmalinowski commented on #42503
This would have been fixed by now since that code doesn't exist -- this was some odd interaction with our workaround for nullable APIs.

[2020-05-19 00:11] #42503 closed

[2020-05-19 00:24] AlekseyTs commented on #44196
@tmat It is quite possible that EnC is broken for RoslynDeployment. I ran into similar issues with a program that doesn't have top-level statements.

[2020-05-19 00:24] 333fred commented on #39559
That link is unrelated to this issue. Tomas has pointed out the likely cause for roslyn specifically.

[2020-05-19 00:25] jasonmalinowski opened #44366 "Completion of unimported members stomps on namespace aliases"
**Version Used**: 3.7.0-2.20267.1+3126e7a9753bf09a99e4c4f152b8dfef76862dc5

Sometimes we have a namespace alias at the top of the file to avoid collisions with common names in a file. A good real-world example is https://github.com/dotnet/roslyn/blob/14a785e3640a075b6233d10e4d3746cc86a96ddb/src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs#L16. The problem is the unimpor

[2020-05-19 00:44] Serentty commented on #44284
That makes sense! Thanks for figuring out why this happens.

[2020-05-19 01:10] tmat commented on #44196
Just occurred to me... are you using master-vs-deps? EnC does not work in master since it requires the latest VS bits.

[2020-05-19 01:43] AlekseyTs commented on #44196
No, I am trying bits from features/SimplePrograms branch, which is almost up to date with master.

[2020-05-19 02:02] tmat commented on #44196
That explains. For end-to-end testing you'd need 1) branch off of master-vs-deps 2) make changes in the IDE to support statement diffing in top-level code.
I can do the IDE work once your branch merges to master. The compiler side work only needs unit testing similar to what's done for other features in `Compilers\CSharp\Test\Emit\Emit\EditAndContinue\EditAndContinueTests.cs`.

[2020-05-19 03:44] AmadeusW commented on #44359
I think it would be a good idea to create LSP variants for the supported guids: C#, VB, XAML (if applicable). If this turns out to be unnecessary, we will be able to join telemetry results.

[2020-05-19 05:18] marek-safar commented on #43652
Perhaps this could be transformed into analyzer warning at least and discourage usage of field initializers to default values

[2020-05-19 05:29] jcouv commented on #42616
@EikeStein Sorry, no update yet.

[2020-05-19 05:32] #44291 closed

[2020-05-19 05:53] athinboy commented on #24349
Still there is not any progress ?!

[2020-05-19 06:55] JosefPihrt opened #44377 "TypedConstant.get_Type() can cause NullReferenceException"
**Version Used**: 3.5.0

Prior to [this commit](https://github.com/dotnet/roslyn/commit/0b3b6d5a28c7b5e10dd312d339b210b1b5c9cef0) code for `TypedConstant.Type` looks like this:
[code]
Now it looks like this:
[code]
which can cause NullReferenceException if the `_type` is null.

[2020-05-19 11:21] dzmitry-lahoda commented on #7171
Innocent
[code]

NO!!!
WEIRD ERROR MESSAGE.

ugly fix
[code]

[2020-05-19 14:55] #36274 closed

[2020-05-19 15:30] myblindy opened #44382 ""Cast is Redundant" warning mistaken in local functions with default enum values, code fix generates un-compilable code"
**Version Used**:
VS 16.5.4

**Steps to Reproduce**:

The following code shows the problem:
[code]

Note that in a top-level function, this is not an issue. This only happens specifically in local functions.

**Expected Behavior**:
No warnings (related to the cast, obviously the minimal code has a whole bunch of other warnings for unused identifiers).

**Actual Behavior**:
Code generates the follo

[2020-05-19 15:39] CyrusNajmabadi commented on #44382
This has been fixed.  I'll create a test to validate this and will close this out.

[2020-05-19 15:42] myblindy commented on #44382
Perfect, thank you!

[2020-05-19 16:31] gundermanc commented on #44351
Command mapping is being reverted for CloudEnv's. This is now an opt-in under 'Preview Features', but this feedback is top of our list for fixing post-crunch time.

[2020-05-19 16:49] jaredpar commented on #43652
@marek-safar  agree this would be a good analyzer. Think we should file an issue on roslyn-analyzers as a potential candidate.

[2020-05-19 16:58] cston opened #44385 "NullReferenceException in SyntaxRemover.VisitGlobalStatement with top-level statement"
1. Run devenv.exe with commit 9be1ef7ec05e9c8cadf5ff048da9cd73266c4920.
2. Create Console Application
3. Replace Program.cs contents with:
[code]
4. Click on fix for `int x = 1;` statement, and choose "Remove unused variable"
[code]

[2020-05-19 16:59] cston commented on #44385
cc @AlekseyTs

[2020-05-19 17:31] CyrusNajmabadi commented on #31022
Fixed with https://github.com/dotnet/roslyn/pull/43636

[2020-05-19 17:31] #31022 closed

[2020-05-19 18:10] #44382 closed

[2020-05-19 18:19] CyrusNajmabadi commented on #44312
Yes.  this is definitely a violation of parse tree expectations.  we should not have missing or skipped tokens/nodes in correctly parsable user code.

[2020-05-19 18:54] cston opened #44387 "NullReferenceException in CSharpCodeGenerationService.AddStatementsWorker() with top-level statements"
1. Run devenv.exe with commit 9be1ef7ec05e9c8cadf5ff048da9cd73266c4920.
2. Create Console Application
3. Replace Program.cs contents with:
[code]
4. Highlight `Func<char, bool>)(`
<img width="456" alt="Program" src="https://user-images.githubusercontent.com/10732005/82366634-5d3c5c80-99c7-11ea-9579-b8f9d47a0427.PNG">

[code]

[2020-05-19 18:54] cston commented on #44387
cc @AlekseyTs

[2020-05-19 19:16] AlekseyTs commented on #44385
@cston Is this a dupe of https://github.com/dotnet/roslyn/issues/44273?

[2020-05-19 20:13] CyrusNajmabadi commented on #42927
This is an issue with expansion/simplification.  THe user starts with:

![image](https://user-images.githubusercontent.com/4564579/82373330-48b19180-99d2-11ea-8117-39042a3fda74.png)

After inserting an event with the navbar, they end up with:

![image](https://user-images.githubusercontent.com/4564579/82373437-6b43aa80-99d2-11ea-965a-84104a677691.png)

Note: i'm not sure why there's an error in th

[2020-05-19 20:31] jasonmalinowski commented on #42927
Can event insertion trigger adding using statements?

[2020-05-19 20:47] AlekseyTs commented on #44387
The call stack looks similar to https://github.com/dotnet/roslyn/issues/43878.

[2020-05-19 21:45] bernd5 commented on #43680
Any comments?

[2020-05-19 21:53] sharwell opened #44395 "Gold bar: AggregateException in SemanticClassificationBufferTaggerProvider"
**Version Used**: 16.7 Preview 1

**Steps to Reproduce**:

Unknown.

**Actual Behavior**:

[code]

[2020-05-19 21:55] jhinder opened #44396 "Invalid keyword suggestions 'and'/'or' may appear after 'global' keyword"
**Version Used**: VS 16.7P1 (`'3.7.0-1.20257.3 (4b5650e5)'. Language version: preview`)

**Steps to Reproduce**:

Invoke Intellisense after any `global::`.

[code]

**Expected Behavior**: The keywords do not appear as they are not valid at that location.

**Actual Behavior**: The keywords "and" and "or" are suggested.

![image](https://user-images.githubusercontent.com/823398/82381347-53981080-9a2

[2020-05-19 21:58] chsienki commented on #44087
We've pushed a temporary fix for this, meaning you should no longer see crashes when combining editorconfigs and generators.

The generated syntax trees don't yet respect the options in the editorconfig, that work is planned and can be tracked via #44223

[2020-05-19 21:58] #44087 closed

[2020-05-19 22:02] CyrusNajmabadi commented on #44396
Taggign @allisonchou

[2020-05-19 22:10] muv1 opened #44397 "Visual C# Command Line Compiler has stopped working"
If I install the **.NET Framework Dev Pack** from here:

<https://dotnet.microsoft.com/download>

If I navigate to `C:\Windows\Microsoft.NET\Framework64`, then using this file:

[code]

If I try to compile I get this:

[code]

I noticed if I remove this it works as expected:

[code]

[2020-05-19 22:34] jhinder opened #44398 "IDE crashes when writing `is` pattern in front of relational pattern"
**Version Used**: VS 16.7P1 (`Compiler version: '3.7.0-1.20257.3 (4b5650e5)'. Language version: preview.`)

**Steps to Reproduce**:

Take the following code:

[code]
Type "a is" at the marked location.

**Expected Behavior**: The IDE does not crash.

**Actual Behavior**: The IDE crashes.

Stack trace:

[code]

[2020-05-19 22:48] jhinder opened #44399 "Gold bar appears when clicking on a discard local"
**Version Used**: VS 16.7P1 (`Compiler version: '3.7.0-1.20257.3 (4b5650e5)'. Language version: preview.`)

**Steps to Reproduce**:

1. Type `_ = 0;` in a method.
2. Click on the discard.

**Expected Behavior**: The discard gets selected/highlighted.

**Actual Behavior**: A gold bar appears, notifying the user about a process crash.

[code]

[2020-05-19 23:18] mavasani opened #44401 "Handle FAR/Inline rename for references in global suppression parameters"
See skipped tests added in https://github.com/dotnet/roslyn/pull/44368

1. TestTypeReferenceInGlobalSuppressionParameter
2. TestTypeReferenceInGlobalSuppressionParameter_GenericType
3. TestTypeReferenceInGlobalSuppressionTypeParameter_GenericType

Few more cases to handle:
1. Type references in return type
2. Type references in generic type arguments. See https://github.com/dotnet/roslyn/pull/4436

[2020-05-19 23:24] #7438 closed

[2020-05-19 23:38] nathan-alden-sr opened #44403 "nint, nuint, and nfloat are not recognized as valid `cref` attribute values in XML documentation"
**Version Used**:

Visual Studio 2019 16.7.0 Preview 1
.NET 5 Preview 4

**Steps to Reproduce**:

Reference `nint`, `nuint`, `nfloat` in an XML documentation `cref` attribute.

**Expected Behavior**:

`nint`, etc. should be accepted as valid `cref`s the way `int` and other C# intrinsic types are.

**Actual Behavior**:

![image](https://user-images.githubusercontent.com/1189759/82388752-55e97300-9a

[2020-05-19 23:41] allisonchou commented on #44170
This should be resolved by #44268.

[2020-05-19 23:41] #44170 closed

[2020-05-19 23:43] allisonchou commented on #41310
This issue is currently blocked by #44202.

[2020-05-20 00:22] nathan-alden-sr commented on #44403
I was told that perhaps `langword` is the correct attribute to use here, but that seems confusing. I guess it would be correct to use `langword` if things like F12 decompile navigation don't work for `nint` and friends?

[2020-05-20 00:35] gafter opened #44406 "CDATA contents difficult to see in the Light (default) theme"
See the image below. The contents of `CDATA` are in a light grey font on a white background. That is so low contrast that it is difficult to read.

![image](https://user-images.githubusercontent.com/3804346/82391773-0a7a9900-99f7-11ea-8e41-9d1008094cfd.png)

[2020-05-20 01:29] tmat opened #44408 "Move DiagnosticAnalyzerService document analysis OOP (refactor)"
`TryAppendDiagnosticsForSpanAsync`
`GetDiagnosticsForSpanAsync`
`GetDiagnosticsAsync`

are running diagnostic analyzer in-proc.

Prereq: support for multiple workspaces OOP (primary, preview, etc.)

[2020-05-20 01:44] gundermanc opened #44409 "NullReferenceException using CodeSpaces/CloudEnv Code Cleanup in client compliant mode"
**Version Used**:
![image](https://user-images.githubusercontent.com/5387680/82396042-d193f180-9a01-11ea-9095-45738d8e123e.png)

**Steps to Reproduce**:

1. Open a cloud environment with a C# solution in client compliant mode.
2. Open solution.
3. Open a C# file.

**Expected Behavior**:
Code cleanup 'broom' command is not visible because it is not yet supported.

**Actual Behavior**:
Code cleanup

[2020-05-20 01:58] jasonycw commented on #44014
Thanks @mavasani, I was having the same issue this month and thought it is ReShaper causing Visual Studio `ctrl + .` not working.
Uninstall the Microsoft Code Analysis 2019 extension bring the popup back again.

FYI
[code]

[2020-05-20 08:24] walterlv opened #44411 "CS8602 CS8604 analysis are not correct after Visual Studio is upgrated to 16.6.0"
**Version Used**:

Visual Studio 16.6.0

**Steps to Reproduce**:

[code]

Just create such code in Visual Studio 16.6.0 and you'll get the wrong CS8602 and CS8604 warning. Before I upgrade to 16.6.0 (e.g. 16.5.4 ) the analysis works fine.

See the minimal reproduction repo: [walterlv/Walterlv.Issues.CSharpNullableCS8604](https://github.com/walterlv/Walterlv.Issues.CSharpNullableCS8604)

**Expected

[2020-05-20 08:48] Kybs0 commented on #44411
good job

[2020-05-20 09:02] CyrusNajmabadi commented on #44408
Note: i think it would be ok to potentially not run analyzers in preview workspace *initially*.  i.e. the benefit we get of moving these OOP far outweighs the benefit of having a squiggle occasionally show up in a preview workspace.

[2020-05-20 10:56] vladyslav-vasyliev opened #44584 "dotnet build: False-positive CS8604 in local function"
I've got a false-positive CS8604-warning after VS Build Tools update: `[CS8604] Possible null reference argument for parameter 'timestamp' in 'TimeGuid TimeGuid.MinForTimestamp(Timestamp timestamp)'.`

This one builds without CS8604:
[code]

This one builds without CS8604 too:
[code]

This one builds with CS8604 for variable `now` in local function:
[code]

`Timestamp` is a class.
`Timestamp.Now`

[2020-05-20 12:10] oliverjanik opened #44414 "Support block (multil ine) expression in pattern matching"
**Version Used**: C# 8

At the moment the following is not possible:
[code]
I get `Invalid expression term '{'`

The obvious workaround here is defining a quick little private function.

[2020-05-20 12:37] Dreamescaper opened #44416 "Error "Symbol's project could not be found in the provided solution""
**Version Used**:
VS 16.7 Preview 1

**Steps to Reproduce**:

Cannot find so far, will update once find out.

**Expected Behavior**:
(no errors)

**Actual Behavior**:
[code]

[2020-05-20 12:43] flyfisher1952 commented on #36930
I have a similar problem in JavaScript. The formatting ruins a regular expression I use to aid in creating
a Guid.
`function newGuid(hasDashes) {
    var guid = hasDashes
        ? ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16))
        : ([1e7]+1e3+4e3+8e3+1e11).replace(/[018]/g, c => (c ^ crypto.getRandomValues(ne

[2020-05-20 12:53] Dreamescaper commented on #44416
Seems to be related to #44399, but I don't have discards in file, where I have this issue.

[2020-05-20 13:46] JasonBock commented on #44330
@CyrusNajmabadi that's a case that I didn't consider. I admit, I'm not sure why this is a good thing, but apparently this is a technique that is used. So, the type and its usage would be this?
[code]
This almost feels like a dictionary approach, where the key is the type, and the value is the metric. Is that correct?

That said (and this is biased to my limited view), would the majority of cases s

[2020-05-20 13:52] mavasani commented on #44330
IMO, we should still fire diagnostics/suggestions for such cases, and a source suppression with a proper justification comment would act as a good documentation on the explicit intent of use of an unused type parameter for holders. We can also consider adding an option to allow users to turn off these suggestions for static generic types.

[2020-05-20 14:30] jcouv commented on #44202
FYI @agocke

[2020-05-20 14:56] AlekseyTs opened #44418 "Several scripting error tests are invalidated due to the fact that top-level statements are now supported in regular code."
[code]

[2020-05-20 15:37] sharwell commented on #43666
I expect we'll be seeing a fair number of reports for this. I've hit it 4 times now since I updated to 16.7 Preview 1 yesterday.

[2020-05-20 15:43] sharwell opened #44420 "Inline Temporary fails to simplify `global::` in top-level statements"
**Steps to Reproduce**:

Inline `val2`:

[code]

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

**Additional Notes**:

When the reducer compares the bound symbols for `global::System.Console.WriteLine` (original semantic model) and `System.Console.WriteLine` (speculative semantic model), the former is binding to `WriteLine(int)` but the latter is reporting an overload resolution fai

[2020-05-20 15:50] AlekseyTs opened #44422 "Several RemoveUnnecessaryCastTests tests for erroneous code are invalidated by "Top-level statements" feature due to the fact that parsing and errors are different"
[code]

[2020-05-20 15:56] AlekseyTs commented on #44418
The tests are temporarily disabled.

[2020-05-20 15:56] AlekseyTs commented on #44422
The tests are temporarily disabled.

[2020-05-20 16:02] jcouv commented on #44273
I'll take a look to block or fix this today

[2020-05-20 16:04] AlekseyTs opened #44423 "Several IDE tests are temporarily disabled due to "Top-level statements" feature"
[code]

The tests are temporarily disabled.

[2020-05-20 16:52] CyrusNajmabadi commented on #44330
Yup!  That's correct. A value you get out of this is that it's very fast and threadsafe.

[2020-05-20 16:58] vsfeedback opened #44424 "Improvements to quick action "Generate Property 'xy'""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1037029/improvements-to-quick-action-generate-property-xy.html)._

---
I have a xunit file with an auto-generated class (Counter) and a missing property (Counter.Name) for this class. My codes looks as following

[code]

counter. Name is underlined in red, because the prope

[2020-05-20 17:23] AlekseyTs opened #44425 "Microsoft.CodeAnalysis.CSharp.CodeGeneration.CSharpCodeGenerationService.AddMethod should be adjusted to deal with "Top-level statements""
[code]

[2020-05-20 17:23] AlekseyTs commented on #44425
CC @sharwell

[2020-05-20 17:33] jcouv commented on #44385
Yes, this is a dupe of https://github.com/dotnet/roslyn/issues/44273. I'm working on a fix. Closing

[2020-05-20 17:33] #44385 closed

[2020-05-20 17:34] pentp commented on #43439
Installed the latest VS 16.7 preview and have been fighting with my muscle memory all day.
Somehow the MRU mechanism isn't reliable here (it depends on some context I guess).

[2020-05-20 17:55] CyrusNajmabadi commented on #44398
@gafter Known issue?

[2020-05-20 17:56] CyrusNajmabadi commented on #44399
This was fixed.  I'll find and close out.

[2020-05-20 17:57] CyrusNajmabadi commented on #44414
Closing out.  THis is a language request.  Those should go to dotnet/csharplang.  Thanks!

[2020-05-20 17:57] #44414 closed

[2020-05-20 17:58] CyrusNajmabadi commented on #44416
This was fixed.  I'll find and close out.

[2020-05-20 18:20] eugenesmlv commented on #44187
I'm working on this one and I'll create a pull request in a couple of days.

[2020-05-20 18:20] ysmoradi opened #44427 "IBuildEngine7 is not provided in Microsoft.Build.Framework"
**Version Used**: 16.5.0

**Steps to Reproduce**:

1. Use 3.6 version of roslyn nuget packages which are using IBuildEngine7 under the hood.

**Expected Behavior**:

MsbuildWorkspace and other roslyn features should work

**Actual Behavior**:

TypeLoadException because IBuildEngine7 is not located in Microsoft.Build.Framework

It's not complicated to test! just install Microsoft.Build.Framework in

[2020-05-20 18:25] gafter commented on #44398
Never saw this before.

[2020-05-20 18:27] RevensofT opened #44428 "Console.WriteLine(Memory.Span) == InvalidProgramException : Cannot create boxed ByRef-like values"
## Example code
[code]

## Exception
Console write type name of span or list of value like value tuple.

## What's really happen.
System.InvalidProgramException: 'Cannot create boxed ByRef-like values.'
![image](https://user-images.githubusercontent.com/7234852/82480144-92e36180-9afd-11ea-92d6-d7fd08d08e44.png)

## Addition
Just finish type `EMS(0)` or `EM.Span(0)` on `With statement` will cause V

[2020-05-20 18:29] jcouv opened #44429 "InlineDeclaration doesn't trigger on top-level statement"
It should trigger in the scenario below, but currently doesn't trigger (test added).

Note: I expect that the removal of the old declaration will fail (it uses `RemoveNode` API without handling global statement scenario).

[code]

[2020-05-20 18:31] gafter commented on #44398
A simpler test is
[code]

[2020-05-20 18:58] jinujoseph commented on #44377
cc @333fred

[2020-05-20 19:09] sharwell commented on #44214
💭 Possibly related to #41478, though the exception is a bit different

[2020-05-20 19:11] CyrusNajmabadi commented on #44429
This ties into my comment from before.  Should we just update RemoveNode to handle this case?   i.e. if we have a wrapper node that wraps a single item, then removal of the child should just remove the parent as well.

[2020-05-20 19:27] jinujoseph commented on #44295
Duplicate of #26167

[2020-05-20 19:28] jinujoseph commented on #44295
cc @jcouv

[2020-05-20 19:28] #44295 closed

[2020-05-20 19:33] sharwell commented on #44387
@jcouv extract method is on my list if I get completion, inline temporary, and add parameter working

[2020-05-20 19:35] sharwell commented on #44429
I thought about this, but it left me feeling really uneasy. I think we should fix the remove operation (caller) to instead remove the correct (parent) node.

[2020-05-20 19:37] mavasani commented on #43789
@jinujoseph Can you transfer this to analyzers repo?

[2020-05-20 19:45] mythz opened #44437 "Allow creating full stand-alone C# programs inside a single .cs"
To build on the very exciting [C# 9 top-level programs feature](https://devblogs.microsoft.com/dotnet/welcome-to-c-9-0/#top-level-programs) it would be objectively awesome if in the same entry point .cs source file with the top-level program could also inline the MSBuild project information inside the same source file, so that full stand-alone programs could be written in a single .cs, e.g:

[code

[2020-05-20 20:14] CyrusNajmabadi commented on #44429
i'm curious why.  We have a few nodes that just exist for this purpose.  i.e. to fit one type-hierarchy into anotehr.  They're not real nodes on their own, but just bridges.  i.e. they don't ever add anything themselves, but just wrap.  In that respect, it feels like removal of them inherently is asking for removal of the wrapper.

I guess we can just update every statement-oriented feature.  But

[2020-05-20 20:15] jcouv commented on #44271
Blocked scenario for now, via https://github.com/dotnet/roslyn/pull/44410

[2020-05-20 20:15] jcouv commented on #44260
Blocked scenario for now, via https://github.com/dotnet/roslyn/pull/44410

[2020-05-20 20:23] TessenR opened #44438 "Visual studio crashes with invalid code with NRT syntax"
**Version Used**:

[code]

**Steps to Reproduce**:

Paste the following code into VS
[code]

**Expected Behavior**:
Compilation error in `override void M4` signature.

**Actual Behavior**:
VS crashes

**Notes**
While the code is not valid as it is there I accidently ended up with it while typing

[2020-05-20 20:25] sharwell commented on #44429
Two reasons:

1. It's a low-level API. It's not unreasonable to expect callers to make valid transformations of the tree, especially the non-trivia portions.
2. It creates weird compatibility constraints, preventing us from ever changing the shape of the tree in the future.

[2020-05-20 21:01] 333fred commented on #44377
@JosefPihrt are you seeing a crash? `TypedConstant._type` should never be null, if there's a crash because that is `null` there's a bug somewhere else.

[2020-05-20 21:09] AlekseyTs commented on #44188
I think I fixed that in https://github.com/dotnet/roslyn/pull/44305

[2020-05-20 21:27] sharwell opened #44443 "'new' keyword not suggested after 'a ? expr |'"
**Steps to Reproduce**:

Invoke completion at `$$` in the following top-level statement:

[code]

**Expected Behavior**:

The `new` keyword is offered.

**Actual Behavior**:

The `new` keyword is not offered.

📝 A test for this exists in `NewKeywordRecommenderTests` but is disabled.

[2020-05-20 21:28] jasonmalinowski commented on #43242
I'm currently upgrading some packages and am deleting these at the same time since it seems to be working.

[2020-05-20 21:29] #44263 closed

[2020-05-20 21:30] JosefPihrt commented on #44377
If `var x = default(TypedConstant)` then I'm seeing a crash for `x.Type`.

[2020-05-20 21:33] nschuessler opened #44444 "Diagnostic suppressor no longer suppresses"
**Version Used**:
16.6 / Roslyn 3.5
**Steps to Reproduce**:

1.  Upgrade to 16.6
2. Open a solution with previous analyzers, suppressor, and visual studio extension
3.  The diagnostics show up even when they should be suppressed.

**Expected Behavior**:

Suppressor implementation should suppress issues to reduce verbosity of errors in the UI.

**Actual Behavior**:

Our extensions released 5/6 and

[2020-05-20 21:37] mavasani commented on #44444
I will investigate, thanks

[2020-05-20 21:38] mavasani commented on #44444
@nschuessler Are the suppressors not working just in IDE live analysis or even from command line builds?

[2020-05-20 21:43] jebwatson commented on #39470
Hi, I would recommend reviewing [this](https://docs.microsoft.com/en-us/archive/msdn-magazine/2017/may/net-core-cross-platform-code-generation-with-roslyn-and-net-core) article explaining runtime assembly creation, specifically the sentence in the [Executing Code](https://docs.microsoft.com/en-us/archive/msdn-magazine/2017/may/net-core-cross-platform-code-generation-with-roslyn-and-net-core#execut

[2020-05-20 21:56] nschuessler commented on #44444
@mavasani  will check and update the thread

[2020-05-20 22:02] davidwengier commented on #43439
Now that 16.7 is out, I hit this on Twitch last night so there are at least 3 more people who know about it too :)

[2020-05-20 22:05] 333fred commented on #43967
I've seen this stack in a few places: VerifySquiggleAndErrorMessageUnderIncorrectDirective ([Run](https://dev.azure.com/dnceng/public/_build/results?buildId=635111&view=ms.vss-test-web.build-test-results-tab&runId=19771230&resultId=100496&paneView=debug)), VerifyHashReset ([Run](https://dev.azure.com/dnceng/public/_build/results?buildId=653945&view=ms.vss-test-web.build-test-results-tab&runId=2030

[2020-05-20 22:40] CyrusNajmabadi commented on #43439
Fixing now.

[2020-05-20 22:41] jcouv opened #44449 "ConvertSwitchStatementToExpression doesn't remove local declaration in top-level statements"
See test marked with this issue link.

Given:
[code]
we should get
[code]
but instead we get
[code]

[2020-05-20 22:42] chsienki commented on #42219
This is supported now via the `is_global` mechanism as of #43889

[2020-05-20 22:42] #42219 closed

[2020-05-20 22:59] tmat opened #44452 "Unless /codepage is specified the build output might depend on the OS code page"
**Version Used**:
Version 16.7.0 Preview 2.0 [30112.204.master]

**Steps to Reproduce**:

[code]

where `a.cs` is a file that contains bytes that are not valid UTF-8.

The compiler attempts to use UTF-8 encoding, fails, and falls back to the default OS ANSI code page.

https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/EncodedStringText.cs#L24-L52

**Proposal**

One option is

[2020-05-20 23:03] tmat commented on #44452
@ryzngard @clairernovotny FYI. For our deterministic rebuild scenario we could capture the code page in the PDB. However, that doesn't completely solve the problem since the code page might not be available on the machine when rebuilding.

[2020-05-20 23:11] 333fred commented on #44377
Unfortunately, there's not a lot we can do about that. You're not meant to be creating `TypedConstant` instances, and we annotate and code for expected use cases. This is why the constructors for this type are all `internal`: you shouldn't be constructing them. If you need to have a non-initialized copy, I'd suggest using a `TypedConstant?` to represent the difference. There are a number of struct

[2020-05-20 23:11] #44377 closed

[2020-05-20 23:21] tmat commented on #44452
@jaredpar @agocke @gafter FYI

[2020-05-20 23:23] jcouv opened #44454 "UseThrowExpression doesn't trigger in top-level statements"
Expecting this test to pass:
[code]

[2020-05-20 23:25] tmat commented on #44452
We should only capture fallback encoding if the compiler actually used it and thus the compilation is already non-deterministic.

[2020-05-20 23:45] #43627 closed

[2020-05-21 00:11] sharwell opened #44459 "Top-level statement completion interferes with 'using' directives"
**Version Used**: features/SimplePrograms

🔗 This issue is very similar to #43439. It should be fixed in a similar way, except the match priority should only be altered in the global statement context where a `using` directive is applicable.

📝 A disabled test for this behavior is added in #44402.

**Steps to Reproduce**:

1. Type `us` in an empty document
2. Press <kbd>Tab</kbd>

**Expected Behav

[2020-05-21 00:13] allisonchou commented on #43952
@Git2930 Thank you for the helpful repro! The cause has been identified and the fix should hopefully be in soon.

[2020-05-21 00:25] Jozkee opened #44461 "Nullability no longer honors null check when it is also an assignment"
**Version Used**:
master (19 May 2020)

**Steps to Reproduce**:

1. Do assignment of the null check expression inside an if statement.

Repro code:
https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+BiAdgVwBtCJhC4ACOXU8gWACgABAJgEZGmBmC1igYQoBvRhTG8eTACwUAsgAoAlMNHi1qtWIBiAex0UAZhQC8FXHADuFXTqUBuDZsdrgewhQCWUAHJFCDhk1xDyN5L19iE0MAOgAFBB0AB0QYAE8KAEJTAmJFZ3ERQKDNJjYATnkDOITkhDTogBUdABkdC0QlRQDiigBfR3

[2020-05-21 01:14] sharwell opened #44465 "RemoteEndPoint.ConnectPipeAsync needs a backoff algorithm"
https://github.com/dotnet/roslyn/blob/ed310b2aa13b59f47b5c442eb15ba00eb8f97390/src/Workspaces/Remote/ServiceHub/Shared/RemoteEndPoint.cs#L280-L281

Performance traces show situations where thousands of timeout exception are thrown within this method (one case today had 158/second), with heavy CPU overhead related to updating timer queues.

[2020-05-21 01:40] CyrusNajmabadi commented on #44465
Tagging @tmat .  It honestly seems weird that we need any of this code.  It's alsnot clear to me why we just don't use pipe.ConnectAsync...

[2020-05-21 02:34] davkean opened #44468 "Microsoft.VisualStudio.LanguageServices has dependencies to packages that don't exist"
**Version Used**:
3.7.0-2.20256.8

**Steps to Reproduce**:
This package has two references (Microsoft.CSharp, Microsoft.VisualStudio.Composition) to versions that do not exist. It looks like its using its own reference number to determine this versions, which is incorrect.

[code]

**Expected Behavior**:

**Actual Behavior**:

[2020-05-21 02:58] davkean opened #44469 "Rename via the new renamer API should dismiss renaming tracking"
After renaming a type to match the class name, the type gets treated as if it was manually renamed and enters a confusing behavior where I get a code fix to perform the rename that I just performed.

**Steps to Reproduce**:

1. Checkout and build https://github.com/dotnet/project-system/pull/6179
2. Create new Console App (.NET Core) and rename Program.cs -> Bar.cs and say Yes to the prompt

**Exp

[2020-05-21 03:01] ryzngard commented on #44469
Thanks! Looking

[2020-05-21 03:31] sbomer commented on #44315
More strange cases that work:
[code]

[2020-05-21 03:35] KoromaruKoruko opened #44471 "Compiler Prediction Error"
# General
Version : 3.1
VisualStudio: 2019 16.5.4

[code]
is the same as
[code]

the above snippet works with no issue but the first one will throw a compile error stating that Y would not be set by the if-statements return.

this has no real implications with this example as using && is by far much better then using ? : but as it stands it is an error in the compilers ability to predict and as su

[2020-05-21 04:20] vsfeedback opened #44472 "Intellisense in xmldoc doesnt like aliases anymore"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1038910/intellisense-in-xmldoc-doesnt-like-aliases-anymore.html)._

---
[regression] [worked-in:16.6 Preview 3]
If you define an alias via using directive this no longer is having issues in Intellisense when inside xmldocs. In normal code it will show up and auto complete f

[2020-05-21 06:14] #43600 closed

[2020-05-21 06:35] jinujoseph commented on #44349
Duplicate of [link](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1128690)

[2020-05-21 06:35] #44349 closed

[2020-05-21 06:42] jinujoseph commented on #44351
Routed to [editor](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1128693)

[2020-05-21 06:42] #44351 closed

[2020-05-21 07:55] bddckr commented on #43051
The suggested workaround does not work for us:

`-warnaserror`, seemingly equivalent to [`MSBuildTreatWarningsAsErrors`](https://github.com/microsoft/msbuild/pull/1928) ([still not documented](https://github.com/MicrosoftDocs/visualstudio-docs/issues/4660)), has no equivalent of `WarningsNotAsErrors`. I.e. there is no `MSBuildWarningsNotAsErrors` currently. That seems to be tracked by https://gith

[2020-05-21 08:20] JosefPihrt commented on #44377
@333fred I do not create instance of TypedConstant. I have existing code that start to crash after update from 3.0.0 to 3.5.0.

Related commit: https://github.com/JosefPihrt/Roslynator/commit/e7a79b2a45ccefdad2c8b5e6d61de2b195fb406d

[2020-05-21 08:47] svick commented on #39470
@jebwatson

1. I believe the article is wrong: to create a .Net Standard 2.x library, you need to reference `netstandard.dll`, not the runtime assembly that contains `object` (which is what you get with `typeof(object).GetTypeInfo().Assembly.Location`).
2. Even if it was right, referencing something outside of the target framework should cause a compiler diagnostic, not `BadImageFormatException`.

[2020-05-21 11:44] PDostalek commented on #43741
and the last one?  @chsienki

49,205 | tfs.web\lcl\enu\ms.vss-code-web.pr-list-resources.resjson | 0; "RequestInto" | {0} request !{1} into {2} | what do the placeholders mean? |  
-- | -- | -- | -- | -- | --

[2020-05-21 12:13] svick commented on #39470
@lpeixotoo

When I run your code on .Net Core 3.0, `emitResult` indicates that the compilation failed:

This is because [the `Console` type is actually in `System.Console.dll`](https://docs.microsoft.com/en-us/dotnet/api/system.console?view=netcore-3.0). To use `Console.WriteLine`, you need to reference all the necessary assemblies, one way would be:

[code]

With this, your code works for me.

[2020-05-21 12:38] svick commented on #39470
As far as I can see, @lpeixotoo, @TylerBurnett and @BobSilent all experienced issues because, due to a bug in their code, they attempted to load an empty assembly. I think the exception message in that case should be improved, so I opened https://github.com/dotnet/runtime/issues/36814 about that.

With that, I think this issue should be closed, since there doesn't seem to be any problem with Rosly

[2020-05-21 12:42] DariuszKalita commented on #41315
No IntelliSense support neither in xaml nor in code. Turning off Load Projects Faster doesn't fix it. VS 16.6.0, Xamarin project.

[2020-05-21 12:56] 333fred commented on #44377
FirstOrDefault creates a default of TypedConstant. Again, this is not valid.

This type is nullable annotated. If we were to put a null test in there, it would have to return null or just throw an InvalidOperationException. The former is a penalty for all consumers that use valid TypedConstants, because they never need to worry about null. The latter is just a different exception. I would not be o

[2020-05-21 13:03] mavasani opened #44477 "OOP crash with ArgumentNullException in BodyLevelSymbolKey.Resolve"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.7.0 Preview 2.0 [30118.8.master]
VisualStudio.16.IntPreview/16.7.0-pre.2.0+30118.8.master

**Steps to Reproduce**:

Got a service hub crash while refactoring code with compiler errors:

[code]

[2020-05-21 13:03] mavasani commented on #44477
@CyrusNajmabadi

[2020-05-21 13:20] #44271 closed

[2020-05-21 13:20] #44454 closed

[2020-05-21 13:55] jhinder opened #44478 "Null state of Linq range variable may be wrong after explicit null/not null checks"
**Version Used**: VS 16.7P1 (Compiler version: '3.7.0-1.20257.3 (4b5650e5)'. Language version: preview.)

**Steps to Reproduce**:

[code]

Hover over `x` in each select clause or Select() call in the first two methods.

**Expected Behavior**: The compiler correctly determines the null state of `x`: 'may be null' after a null check, 'not null' after a not-null check.

**Actual Behavior**: The null

[2020-05-21 14:01] jhinder opened #44479 "Null state of range variable not shown in IDE in simple for-in-where-select query"
**Version Used**: VS 16.7P1 (Compiler version: '3.7.0-1.20257.3 (4b5650e5)'. Language version: preview.)

**Steps to Reproduce**:

Hover over `x` in the last line:

[code]

**Expected Behavior**: The null state of `x` is shown.

**Actual Behavior**: The null state is not shown.
If you remove the `where` clause, or add `.ToString()` to `x`, the null state does get shown.

![image](https://user-imag

[2020-05-21 14:12] jhinder opened #44480 "'when' keyword is not suggested after any pattern in switch expression"
**Version Used**: VS 16.7P1 (Compiler version: '3.7.0-1.20257.3 (4b5650e5)'. Language version: preview.)

**Steps to Reproduce**:

Invoke the completion list at each marked location.

[code]

**Expected Behavior**: `when` is shown in the list, along with all other valid pattern matching keywords.

**Actual Behavior**: `when` is not shown, even though it is valid in all those cases.

[2020-05-21 14:29] Dreamescaper commented on #44366
duplicate: https://github.com/dotnet/roslyn/issues/39785

[2020-05-21 15:18] #43439 closed

[2020-05-21 15:19] #43967 closed

[2020-05-21 16:03] jcouv commented on #44461
I'm not sure I would rank this high in priority, but I agree we could handle that.
I think it's a matter of keeping the value on the right in a split state when analyzing `x = someSplitBoolValue`.

Copied the repro below:
[code]

[2020-05-21 16:57] sharwell commented on #44403
@nathan-alden-sr I would expect `cref` to be the correct usage here, similar to `int` or `string` in the same location.

@jcouv can you review this and let me know if this is an oversight or intentional?

[2020-05-21 17:05] tannergooding commented on #44403
Just noting there is no `nfloat` type. That was a separate proposal to handle the mac/iOS concept and which doesn't have framework/runtime support either.

[2020-05-21 17:35] vsfeedback opened #44488 "modify automatic summary Tags template when using '///'"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/idea/1030312/modify-automatic-summary-tags-template-when-using.html)._

---
Currenltly we have
when I type above function `///`

[code]

would be possible to have ability to modify tempalte what is created?
I would like to add
`/// <search></search>`

and  add `name=`  in return tag

so I

[2020-05-21 17:37] mavasani commented on #41692
Did this regress again? I am repeatedly seeing a gold bar with the following `TaskCancelledException` on cancelling the _Please wait for editor operation to complete_ dialog on Ctrl + Dot:

[code]

[2020-05-21 17:38] sharwell commented on #44488
This is an interesting request. There are two things that make the details of this request challenging:

1. The value within `<search>` is not a constant value, so even if we could generate the element it would just be empty
2. The value within the 'name' attribute of `returns` is similar

My suggestion would be creating an analyzer package similar to [DotNetAnalyzers/DocumentationAnalyzers](https

[2020-05-21 17:39] PathogenDavid opened #44489 "Casting function pointer directly to void and then a function pointer type causes crash."
This may be a bit premature, but I stumbled upon it while checking out the function pointers branch. Since it only happens when you cast all on one line I thought it might be worth mentioning.

Attn: @333fred

--------------

**Version Used**: Current features/function-pointers head ([64d1878d61ac27d5273d8277c786c375fa5c38e8](https://github.com/dotnet/roslyn/commit/64d1878d61ac27d5273d8277c786c375

[2020-05-21 17:39] sharwell commented on #41692
@AmadeusW

[2020-05-21 17:41] jcouv commented on #44403
Since we allow `int` and `string` in `cref`, we should also allow `nint` and `nuint`. Assigned to @cston

[2020-05-21 17:41] 333fred commented on #44489
Thanks, I'll take a look at this. It's certainly not valid code no matter what: an address of expression has no type and cannot be cast to `void*` directly. But we should report an error, not crash :sweat_smile:

[2020-05-21 17:43] chsienki commented on #43741
Hmm, nothing to do with my change. From the path it doesn't even look to be Roslyn related. @dpoeschl?

[2020-05-21 17:56] PathogenDavid commented on #44489
No problem, thanks for looking into it! I'm pretty excited for this feature.

--------

[The proposed spec](https://github.com/dotnet/csharplang/blob/751ebd4669e7e5b077f0d8706936c1ce6a13548e/proposals/function-pointers.md) says otherwise, so it might need to be updated. Specifically this part from [Allow address-of to target methods](https://github.com/dotnet/csharplang/blob/751ebd4669e7e5b077f0d8

[2020-05-21 18:34] vsfeedback opened #44492 "CodeLens marker for inheritance relations (derived types for classes and interfaces, overriden methods, for methods)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1014536/code-lens-marker-for-inheritance-relations-derived.html)._

---
Code lens shows "references" markers for types and methods, but that is too broad of a category. I would find it more helpful if it also showed inheritance relationshipes between types, and overriden metho

[2020-05-21 18:38] mikadumont commented on #44492
Perhaps we can revisit the gutter icons for this experience. Similar to @sharwell's extension to show icons for the following:

1.	Inherited
2.	Inherited + Override
3.	Implementation
4.	Implementation + Override

[2020-05-21 18:49] zspitz opened #44494 "Unexpected CS8762"
**Version Used**:
16.6.0

**Steps to Reproduce**:
[code]

**Expected Behavior**:
No warning

**Actual Behavior**:
CS8762: Parameter 'value' must have a non-null value when exiting with 'true'.

**Additional info**:
Expanding the ternary if doesn't seem to make a difference:
[code]

[2020-05-21 18:49] vsfeedback opened #44495 "Simplify Fully Qualified Class Name"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1029473/simplify-fully-qualified-class-name.html)._

---
From Jetbrains IDE PhpStorm there is a neat function to simplify a fully qualified class name.

Example: Microsoft.IdentityModel.Tokens.TokenValidationParameters

You then right-click on the class name and say "Simplify

[2020-05-21 18:59] vsfeedback opened #44496 "Reduce CS0564 and CS0019's level 降CS0564为警告级别"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1024554/reduce-cs0564s-level-1.html)._

---
<p>Could CS0564 be reduced to warning level in future versions?</p><p>Any operator(include operator &lt;&lt; and &gt;&gt;) that can be overloaded can give any other meaning in essence.Why do we overload these operators?Because we wan

[2020-05-21 19:19] mavasani commented on #44444
@nschuessler Any luck? Did you figure out if this happens only with suppressors in VSIX?

[2020-05-21 19:33] RikkiGibson commented on #44498
I see no reason why we shouldn't do this for nullable, but doing it for some other forms of analysis (such as definite assignment of 'out' arguments described in #44471) may require spec changes.

[2020-05-21 19:40] RikkiGibson commented on #44494
Unfortunately you've hit upon a fundamental limit of C#'s nullability analysis. By the time we hit the 'return' statement, the information we learned about what happens when 'isAfternoon' is true is lost.

This comment explains the fundamental issue, though in the context of a different scenario: https://github.com/dotnet/roslyn/issues/36927#issuecomment-508595947

The simplest fix is probably to

[2020-05-21 19:40] #44494 closed

[2020-05-21 19:41] vsfeedback opened #44499 "Add code snippet "cr" for Console.ReadLine();"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1038485/add-code-snippet-cr-for-consolereadline.html)._

---
As the counterpart of "cw" for `Console.WriteLine();` I'd suggest to add the code snippet "cr" for `Console.ReadLine();`.
I know that you can define custom code snippets, but this would just complete it.

---
### Ori

[2020-05-21 19:42] zspitz commented on #44494
@RikkiGibson Is this the same as #44285?

[2020-05-21 19:42] vsfeedback opened #44500 "About Single line XML comment of C #"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1035288/about-single-line-xml-comment-of-c.html)._

---
In a C# code editor, When I type " /// ", the editor will automatically complete the following code:

[code]
This is very good.
But there are some cases that I just need to write a signle line of comments, So I want to be

[2020-05-21 19:44] RikkiGibson commented on #44471
This feature request requires that we amend the definite assignment specification. Therefore moving to csharplang.

[2020-05-21 19:51] #39351 closed

[2020-05-21 19:57] RikkiGibson commented on #44285
I can't reproduce this in fa4ffc8.

[2020-05-21 19:57] #44285 closed

[2020-05-21 19:58] sharwell commented on #44492
Duplicate of #32149

[2020-05-21 19:58] #44492 closed

[2020-05-21 19:59] sharwell commented on #44500
Duplicate of #43710

[2020-05-21 19:59] #44500 closed

[2020-05-21 20:01] sharwell commented on #44499
Blocked on #31879

[2020-05-21 20:02] RikkiGibson commented on #44494
No. The reason that other situation works is that the returned expression itself tells the compiler that the 'out' parameter is "not null when returning true". Unfortunately some forms of indirection do not work, as in the following examples:

[code]

[code]

[2020-05-21 20:12] vsfeedback opened #44501 "Save debugging state"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1022672/save-debugging-state.html)._

---
<p>It would be great for debugging and unit testing if it was possible to save state at a breakpoint. I would like to point out the classes and variables that should be saved. This would make it easy to start from the breakpoint multip

[2020-05-21 20:14] vsfeedback opened #44502 "Quick actions: implement all interfaces"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1035143/quick-actions-implement-all-interfaces.html)._

---
I have a class which implements 2 Interface. When I use quick actions, I don't have an option to implement all interfaces. I have to implement every single interface.
It would be more comfortable if there is a quick a

[2020-05-21 20:17] nschuessler commented on #44444
@mavasani Trying to get a smaller isolated repro that I can share.  But it seems to work on small test cases that I make up.

[2020-05-21 20:18] RikkiGibson commented on #44438
In debug mode we hit an assert:

[code]

In release mode we get a StackOverflowException (pasting a representative cycle):
[code]

[2020-05-21 20:27] nschuessler commented on #44444
Could it be affected by a Warning as error configuration ? Basically when warnings are errors they can't be suppressed anymore?

[2020-05-21 20:45] 333fred commented on #44489
Huh. I wrote that, but have no memory of adding it, and certainly never intended for it to be in there.

[2020-05-21 20:59] PathogenDavid commented on #44489
😬 [March Fred seemed to like the idea.](https://github.com/dotnet/csharplang/pull/3263)

Happens to the best of us. If it were up to me it'd be an error too since I'd want an error if the method signature changed.

[2020-05-21 21:06] tannergooding commented on #44489
Why wouldn't that be legal? It works for other pointer types:
[code]

I agree it isn't necessarily "good" practice, but given pointers are implicitly convertible to `void*`:

And that the speclet explicitly declares that the type of `address-of to target methods` is a `delegate*`:

I would fully expect `void* x = &method` and `void* x = (void*)&method` (and various other bits, such as passing to a

[2020-05-21 21:09] 333fred commented on #44489
I don't know why March Fred thought that. It's a terrible idea, it means that even introducing a non-conflicting overload could be a source-breaking change, which is just awful.

Other pointer types have a natural type. Function pointers, like other method groups, do not, therefore until there is a function pointer type we don't have a type to convert to `void*`. I'm going to update my current PR

[2020-05-21 21:14] tannergooding commented on #44489
Wouldn't the natural type be `a delegate* which has the equivalent signature of the target method and a managed calling convention`?

Otherwise, how does the language rationalize that `&Method` where `static void Method()` is convertible to `delegate* managed<void>` but not to `delegate* unmanaged<void>` or `int*`/`void*`?
* As an aside, is that bit of the speclet still correct in the face of `Unm

[2020-05-21 21:43] CyrusNajmabadi commented on #44492
Yes please.  My original impl provides ways in teh gutter to navigate teh full inheritance hierarchy (i.e. you could walk up and down it).  I would love to have that again.

[2020-05-21 21:44] CyrusNajmabadi commented on #44496
This is a language request and needs to be filed over at dotnet/csharplang.

[2020-05-21 21:44] #44496 closed

[2020-05-21 21:46] CyrusNajmabadi commented on #44502
Unlikely to do.  Implementing each in turn is just one more step, and this doesn't really warrant the engineering effort to support taking what was two pretty simple steps down to one.

[2020-05-21 21:48] nschuessler commented on #44444
The solution that repros treats warnings as errors, and has a `.ruleset` file that does not mention any of my rules.  I believe it is set to make anything not mentioned as an error.
I see that ruleset files are now considered obsolete to be replaced by `.editorconfig` files.

[2020-05-21 21:55] mavasani commented on #44444
@nschuessler I believe that should not matter. Below are the criteria for analyzer diagnostics that can be suppressed by suppressors: https://github.com/dotnet/roslyn/blob/51b9c3a71ec5bd8de43aa759a520cb753cc01496/src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs#L1469-L1479

[2020-05-21 21:56] mavasani commented on #44444
Even if you have a repro with rulesets, please do share - it would likely provide enough data for us to investigate.

[2020-05-21 22:08] VBAndCs opened #44503 "NameOf can't be used with anonymous types and Tuples"
In both VB and C#, we can't use typeof keyword with members of anonymous type:

[code]

[code]

When hovering over `First` in both languages, the tip shows that it is recognized as a string property, so, why don't you allow using nameof?

The same happens with Tuples:

[code]

[code]

[2020-05-21 22:16] CyrusNajmabadi commented on #44503
Clsoing out.  This appears to be a language request.  Those should go to dotnet/vblang, thanks!

[2020-05-21 22:16] #44503 closed

[2020-05-21 22:19] VBAndCs commented on #44503
I don't have time to double clone that. You should have an option to move it to VB and C#, or do it manually. I reported it, and it is now yours :).
Thanks.

[2020-05-21 23:05] mikadumont commented on #44492
Working with UX to get the icons approved for this.

[2020-05-21 23:35] jnm2 opened #44506 "Struct names sometimes shown using the class name color after updating to 16.7-p1"
**Version Used**: 16.7-p1

**Steps to Reproduce**: After running the VS installer to update first 16.5.5 to 16.6.0 and then the latest 16.6 preview to 16.7-p1, the 16.7 installation showed struct names in the same color as class names. I'm pretty sure this persisted across a couple of VS restarts. I lost the repro when I opened 16.6 to see if it also had the issue. It did not, and when I reopened

[2020-05-21 23:41] JoeRobich commented on #44506
In VS 16.6 could you check Tools > Options > Text Editor > C# > Advanced and let me know if the Editor Scheme is showing "Visual Studio 2017" or "Visual Studio 2019". Since the struct color was introduced in 2019, if the migration to 16.6 determined you should be started on VS2017 (possibly because other custom colors) then you can just flip it to VS 2019 and be good to go.

[2020-05-21 23:46] jnm2 commented on #44506
Mine says 2019, but I lost the repro when I opened 16.6. @Joe4evr?

[2020-05-21 23:46] mavasani opened #44507 "Incorrect IDE0007 (Use implicit type "var") for switch expressions"
See https://github.com/dotnet/roslyn/pull/44491#discussion_r428850149. Applying the suggestion to var causes `error CS8506: No best type was found for the switch expression`

[2020-05-21 23:51] vsfeedback opened #44508 "Refactor for string IsNullOrEmpty"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1034835/refactor-for-string-isnullorempty.html)._

---
Given the following code:

[code]

The IDE warns that string. Length or string. IsNullOrEmpty should be used instead of s_pCartId == "". Unfortunately the lightbulb pulldown does not provide any selections to perform this

[2020-05-22 00:10] pablotdv commented on #41601
How can I disable this feature?

[2020-05-22 00:20] jcouv opened #44510 "FindAllReferences on positional declaration doesn't find usages"
[code]

The compiler should provide enough API support via `AssociatedSymbol` to associate parameters and properties. If not, please ping the compiler team.

[2020-05-22 00:20] KirillOsenkov opened #44511 "Move Microsoft.CodeAnalysis.EditorFeatures.Cocoa.dll to dotnet/roslyn"
The Visual Studio for Mac team has developed a Mac equivalent of Microsoft.CodeAnalysis.EditorFeatures.Wpf.dll, but for the Mac flavor of the editor.

It makes sense to move it to the Roslyn repo so it builds and ships with Roslyn (perhaps in a separate NuGet package).

[2020-05-22 00:41] 333fred commented on #44489
The language rationalizes it in the same way it rationalizes every method group conversion: overload resolution against a known target type.

[2020-05-22 00:48] jmarolf commented on #44502
Agree this is not top priority but I would accept a PR for this personally. If you have a code pattern that requires multiple interfaces be implemented ( which can happen for a variety of reasons) I would see this being helpful.

[2020-05-22 00:52] jmarolf commented on #41601
@pablotdv you can turn this off under Tools->Options->Text Editor->C#->IntelliSense

![image](https://user-images.githubusercontent.com/9797472/82619757-ab9a5880-9b8b-11ea-9553-86888fe17ab0.png)

Would really appreciate any feedback you have on what you do not like

[2020-05-22 01:09] CyrusNajmabadi commented on #44502
Marking as help-wanted.  Could consider taking this *if* the implementation does not make things overly complex.

[2020-05-22 01:12] CyrusNajmabadi commented on #44507
Note: we likely need to prioritize this.  THis will hit anyone who has "must use var" set and then uses a switch-expression with type-inference.

@jinujoseph maybe a good issue for @allisonchou to dive into?

[2020-05-22 01:20] CyrusNajmabadi commented on #44508
This is not in roslyn.  Maybe in roslyn-analyzers?  @mavasani do you know?

[2020-05-22 01:30] tmat commented on #40964
The original issue was fixed by https://github.com/dotnet/roslyn/pull/43752.

Should we file another issue for the unit testing?

[2020-05-22 01:32] tmat commented on #21175
Failing again:

https://dev.azure.com/dnceng/public/_build/results?buildId=654807&view=ms.vss-test-web.build-test-results-tab&runId=20330382&resultId=100267&paneView=debug
[code]

[2020-05-22 01:40] gafter commented on #44398
Fixed in https://github.com/dotnet/roslyn/pull/44441

[2020-05-22 01:41] #44398 closed

[2020-05-22 03:32] sharwell commented on #21175
@tmat The new failure is unrelated and was fixed in #44487

[2020-05-22 03:58] #44472 closed

[2020-05-22 04:02] ocallesp opened #44515 "RenameDocumentAsync() should return error when invalid characters."
`CodeAnalysis.Rename.Renamer.RenameDocumentAsync`(newFileName) should return an error for GetErrors() on the action when newFileName contains invalid characters to avoid renaming symbols.

Remove [this implementation](https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Rename/RenamerProjectTreeActionHandler.cs#L191) from dotnet

[2020-05-22 04:52] Joe4evr commented on #44506
I'd like to point out, I actually *haven't* installed 16.7. I was purely using 16.6 and at some point the struct name color switched to the 2017 style.

@JoeRobich Yep, looks like it got set to 2017 for some reason for me.

[2020-05-22 05:20] paul1956 opened #44516 "Redundant Cast incorrect for SimpleArguments"
**Version Used**:
VS 16.6 and 16.7 Preview 1
**Steps to Reproduce**:
[code]
**Expected Behavior**:
No Cast is Redundant messages
**Actual Behavior**:
Cast is Redundant messages and if you follow suggestion you get error BC30512 Option Strict On disallows implicit conversions from 'Double' to 'Integer'. This happens for all Math functions that return non integers and constants.

[2020-05-22 05:48] smoogipoo opened #44517 "Opening solutions using MSBuildWorkspace mangles Environment.CurrentDirectory"
**Version Used**:

[code]

**Steps to Reproduce**:

1. Open a solution file using `MSBuildWorkspace.Create().OpenSolutionAsync()`.
2. Observe `Environment.CurrentDirectory` getting changed during the load.

[code]

**Expected Behavior**:

`Environment.CurrentDirectory` should not be getting modified.

**Actual Behavior**:

`Environment.CurrentDirectory` changes to each project's directory in seque

[2020-05-22 05:49] jhinder opened #44518 "IDE crashes when using relational pattern on bool constant"
**Version Used**: 16.7P1, master (69b3bf5)

**Steps to Reproduce**:

[code]

**Expected Behavior**: Compiler errors.

**Actual Behavior**: The IDE crashes.

[code]

[2020-05-22 06:01] CyrusNajmabadi commented on #44518
Fixed with https://github.com/dotnet/roslyn/pull/44441

[2020-05-22 06:03] jhinder commented on #44518
I tried it with today's master, where that change should be included, and it still causes an exception.

[2020-05-22 06:05] CyrusNajmabadi commented on #44518
https://github.com/dotnet/roslyn/pull/44441 went into `dotnet:release/dev16.7-preview2`.  Were you able to try that?

[2020-05-22 06:12] alrz commented on #44518
Looks like the stacktrace is different from what #44441 fixes

[2020-05-22 06:18] jhinder commented on #44518
The exception still occurs on `release/dev16.7-preview2`.

[2020-05-22 06:25] CyrusNajmabadi commented on #44518
Thanks.  Tagging @gafter .

[2020-05-22 09:00] poke commented on #44437
These would need some opt-in functionality though. Otherwise I could see that this will just pollute the global namespace with lots of functions that people think are essential or otherwise useful when they are instead rather specialized and highly opinionated.

For example, your `print` example would be totally redundant for me since printing to the console directly is something I rarely do and i

[2020-05-22 09:12] svick commented on #44437
What are the differences and limitations that this would resolve?

[2020-05-22 09:59] jhinder opened #44519 "Gold bar from InlineTemporaryCodeRefactoringProvider"
**Version Used**: VS 16.7 P1

**Steps to Reproduce**:

1. Find a place with a type check of the form
[code]
2. Place the cursor in front of 'var' and bring up the quick actions.

Note: this does not always happen, but I've had it occur several times when browsing code in Roslyn.sln.

**Expected Behavior**: "Inline temporary variable" is offered.

**Actual Behavior**: A gold bar appears: "InlineTem

[2020-05-22 10:00] mythz commented on #44437
The global namespace can already be polluted with most declarations, just not top-level functions which would be most useful in top-level programs.

By that definition most of the BCL is redundant since you'd only be using a fraction of what's available.

You're free to do what you want with your implementation, it shouldn't impact what top-level functions I want to provide for myself & anyone els

[2020-05-22 10:40] polomint commented on #43788
I am also having this exact issue in Version 16.7.0 Preview 1.0

[2020-05-22 13:23] pvpxan commented on #42703
Issue still seems to be present in 16.6.0.

[2020-05-22 17:24] gundermanc commented on #44409
Interestingly, I saw this in 'PPE Internal Staging,' but I am not seeing this in 'PPE Internal'. Perhaps the problem here was somehow caused by the failure of the LiveShare LSP server to start.

[2020-05-22 17:43] tmat opened #44521 "Emit source locations locations of types, members and assembly level attributes in the PDB"
There are a couple of scenarios that would benefit with this additional information.

1) Go To Definition to a definition found in metadata for which source is retrieved from PDB (embedded or source-linked) (https://github.com/dotnet/roslyn/issues/24349)
2) Linker reporting diagnostics (https://github.com/mono/linker/issues/1207)

The second scenario actually asks for location of custom attributes

[2020-05-22 18:37] ryzngard commented on #42703
@pvpxan I wasn't able to reproduce the issue using the steps described in the bug. Do you have more information about steps used or configuration?

[2020-05-22 20:09] jasonmalinowski commented on #44517
@rainersigwald MSBuild has to modify Environment.CurrentDirectory for combability when running tasks, I'd think, right?

[2020-05-22 20:10] jasonmalinowski opened #44525 "Trying to write a second attribute in VB doesn't show type intellisense"
**Version Used**: 3.7.0-2.20271.7+b6cfbdf26a2caa78c01dda64658de30f296fdce8

**Steps to Reproduce**:

1. Try typing a second attribute on a VB method after the first attribute, while it's on it's own line:

**Expected Behavior**: We get type Intellisense.

**Actual Behavior**:

![image](https://user-images.githubusercontent.com/201340/82705997-90802500-9c2d-11ea-9292-7bb7f2ceb0ee.png)

[2020-05-22 20:33] pvpxan commented on #42703
@ryzngard What do you need from me? Here is my process that is now broken:
Lets say I have a variable `int testRename`. Normally if I want to rename this and all references to this, I would just hit `Ctrl + .` and chose Rename testRename to <new name> and it work all work. The option to Rename is not missing since updating to 16.6.0 as I had skipped over 16.5.0.

[2020-05-22 21:07] CyrusNajmabadi commented on #42703
@pvpxan can you provide a repro solutoin where we can try this out?

[2020-05-22 21:11] CyrusNajmabadi commented on #43788
i likely broke this with the OOP work.  investigating.

[2020-05-22 21:19] carlossanlop opened #44526 "CS8762 on !string.IsNullOrEmpty return value"
I added the `NotNullWhen(returnValue: true)` attribute to an `out` string parameter in a method that returns a boolean.

If the very last return consists of `!string.IsNullOrEmpty(s)`, CS8762 gets unexpectedly triggered with this message:

Example:
[code]
I found this while working on the `dotnet/roslyn-analyzers` repo.
I tried to create a SharpLab repro, but it's not getting triggered there.

[2020-05-22 21:56] CyrusNajmabadi commented on #43788
Debugging through, it appears as though IOptionService.OptionChanged is not getting fired in OOP.  So the RemoteTodoCommentsIncrementalAnalyzer isn't hearing about the change and isn't reanalyzing anything (or updating the set of tokens to search for).

@mavasani @tmat Not sure enough about the architecture of OOP to know what to do here.  Presumably when we synchronize over the primary solution,

[2020-05-22 22:04] CyrusNajmabadi commented on #43788
I also checked, and even when the OOP side reruns, it still gets the old value of this option, even on an up-to-date solution snapshot.  Looking at the options we get:

![image](https://user-images.githubusercontent.com/4564579/82712610-38e9b580-9c3d-11ea-8cfe-63dbb7789c62.png)

this option doesn't show up in the change option list either:

![image](https://user-images.githubusercontent.com/456457

[2020-05-22 22:47] mavasani commented on #43788
@CyrusNajmabadi Where is the option defined? Note that we only serialize the options defined in Workspaces and Features layer to the OOP side: https://github.com/dotnet/roslyn/blob/287a25a51324f252e61b6f2186e7df60c8a6161b/src/Workspaces/Core/Portable/Options/GlobalOptionService.cs#L79-L85

[2020-05-22 23:01] mavasani commented on #43788
However, if any option changes then it should generate a solution snapshot with changed options and that should be synced to OOP. So, seems like this should work. Can you check if the solution snapshot with changed options is generated on OOP side?

[2020-05-23 00:14] Tahatoun opened #44528 "Is there a method or a way in Roslyn to enumerate all assemblies used at compile time by a given C# project"
I'm developing an application that detects and eliminates useless external references in a given C# project for example a package referenced but not used. For this I need to enumerate all assemblies used either at compile and runtime. For those used at a runtime, I can get names using reflection specifically calling Assembly.GetReferencedAssemblies(). But for those used only at compile-time I thin

[2020-05-23 01:01] Spongman commented on #37468
I'm having the same issue, but with `IObservable<T?>.Where(t => t != null)`. the solution is not quite as obvious.

[2020-05-23 02:30] V0ldek commented on #40259
@CyrusNajmabadi I think I tracked this thing down. During definite assignment pass variables that are read inside a local function are stored as part of the state. What happens during the analysis of the call from `LocalFunction2` to `LocalFunction1` is, sensibly, a check of all variables read in `LocalFunction1`.

The unexpected behaviour for a `struct S` stems from the fact that definite assignm

[2020-05-23 03:48] CyrusNajmabadi commented on #40259
Tagging @gafter .  Thanks for the analysis @V0ldek !

[2020-05-23 22:48] tmat commented on #43788
I don't think this would be the right approach as it would require holding on state for functionality. It really shouldn't be needed as any service should only depend on the solution snapshot and nothing else.

[2020-05-23 23:34] CyrusNajmabadi commented on #43788
The problem is that hte design of the incremental analyzer is that it only reruns things it needs to rerun.

It has a API for reanalyzing when options change, but it requires to know when options have actually changed.

What do you think should retrigger this analyzer in the OOP side?  Thanks!

[2020-05-23 23:37] tmat commented on #43788
I think the client pull should trigger it.

[2020-05-23 23:38] tmat commented on #43788
The same as diagnostics for closed files.

[2020-05-23 23:50] CyrusNajmabadi commented on #43788
i don't know what that means here.  There is no pulling for todo comments.  They're currently produced and pushed from a BG OOP incremental analyzer.    How do diagnostics know to rerun when some option changes currently?

[2020-05-24 00:04] tmat commented on #43788
Right now I think it might be done by the SolutionChecksumUpdater. It pushes changes to the remote workspace which triggers workspace changed events. The remote Solution Crawler is hooked to these events and should be rerunning analyzers.

This should however go away once we move to LSP diagnostics, where the client is gonna pull.

[2020-05-24 13:59] YairHalberstadt commented on #44109
The relevant part of the spec is this:

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/types#integral-types

The C# compiler chooses to implement this as:

1. convert the nullable char to a nullable int
2. Perform the equality check

Whilst this is suboptimal, it is at least understandable

[2020-05-24 15:06] alrz opened #44534 "Incorrect null warnings with null-check in recursive patterns"
**Version Used**:  287a25a

**Steps to Reproduce**:
[code]

([sharplab repro](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4GIB2BXANliwtwAEcaeBAsAFAACAzIdQEyEDChA3lYdw/dQCyEAsgAYAFAHtgAKzgBjGAH5CEADSEpshcuABKDlx5GoAdwCWMOQAtCYtXsNHunSk7eE50ImMw51AfV0QR3duTyhvf3VfLCCQ0KNqAHYAbnieAF8ndO4IADoAFQkAZRgEMzQAczFdNNd3YEKSsorq2vcQjJCQugZBIUZJGXklFXVNEZ19F1CzADNbO1U9QjMoWxiA/QkEWyjCGN19HKdkutD8otLyqprzhqbr1ruO+

[2020-05-24 15:15] alrz commented on #44534
Another scenario:
[code]

[2020-05-24 16:52] john-h-k opened #44535 "Allow 'uint', 'nuint' (and possibly 'nint') for 'stackalloc' statements"
Currently the only supported size operand of a `stackalloc T[size]` is an `int`. This is frustrating, particularly in interop scenarios where `uint` and `nuint` are your primary types. `stackalloc` takes an unsigned integer in IL anyway, so functionally there will be no difference

[2020-05-24 16:52] john-h-k opened #44536 "Allow 'uint', 'nuint', and possibly 'nint' for stackalloc lengths"
Apparently here might be the most suitable place for this cc @333fred

Currently the only supported size operand of a `stackalloc T[size]` is an int. This is frustrating, particularly in interop scenarios where `uint` and `nuint` are your primary types. `stackalloc` takes an unsigned integer in IL anyway, so functionally there will be no difference, and it would be useful

[2020-05-24 16:53] 333fred commented on #44535
@cston moving this to roslyn because it seems like a bug, not a feature request. Was it intentional?

[2020-05-24 16:53] #44536 closed

[2020-05-24 16:55] 333fred commented on #44536
Dup of https://github.com/dotnet/roslyn/issues/44535

[2020-05-24 17:08] YairHalberstadt commented on #44535
Given that using variable length stackalloc is usually advised against (see https://vcsjones.dev/2020/02/24/stackalloc/. Linus Torvalds banned them from Linux for similar reasons) , making them easier to use is probably a non goal?

[2020-05-24 17:11] john-h-k commented on #44535
I mean, simply validate your input, that is what I do

[2020-05-24 17:14] YairHalberstadt commented on #44535
A) If you validate your input, then converting to an int should be trivial.
B) validating your input effectively means limiting the maximum size of your array to a small constant. In which case it's not necessarily any faster to make it variable length, since VLAs have runtime overhead.

[2020-05-24 17:19] tannergooding commented on #44535
For reference: https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDYB8ACAmARgFgAoHAZgAIBXAOyggDM5L9KBhSgb1Mr9ao4CANkppaMAFSUAsgApxMSgA8AlF0q9+2xdIiUAvJVgQAxgGsIGDAHtTYiQG1lAXQDcW7XxwB2ShA8SbQBfT00g/gpWEQcpWTlqRRV1cK9+XX9DYxgzS2s7WOd3MO1ff0CQsLCooVEM+VoktQ0S9Ik9LJMLK1t7RSKKtNY/ALDQiL5qwRj6uVpEiWSWia8M/SMuvN7C10G0stGV8e0p6LrFgDkFdv8kWOTDAD5/AaqVmpnL67iIO4WlNRPF67N6labnJRXNZ3RqLQEGZ4QV4rE7vcH3KE3X6UeZNVRA

[2020-05-24 17:23] KoziLord commented on #44535
`stackalloc` is a very handy tool to have in scenarios where performance matters and anyone who has a reason to use it will most likely only consider having to cast `uint`, `nint` and `nuint` to `int` nothing more than an annoying inconvenience.

As for variable length stack allocation I don't think that the .NET Core JIT optimises constant size `stackalloc` expressions so they shouldn't be any fa

[2020-05-24 17:27] john-h-k commented on #44535
I never claimed doing it was difficult, it is just repetitive, frustrating, and useless.

But then I must slice my span, which itself has a cost

[2020-05-24 17:28] YairHalberstadt commented on #44535
Oh yes it does. Compare asm for:

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHunHiUGAWQAUASg5ceUgMoAHbADsAPAEsFGAHwNc8hQwC82jNjABrbABsLEMAzUYA2qQCsSALoBuSVO4AzaDAmABYMwrC+DABu2FAMCHZ6Ooqi3j5S8YbkXtRSAL40uUA===

vs

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIGYACMhgYQYG8aHunHiUGAWQAUASwB2GBrlEAvGAEoOXHqoDKAB2ziAPBIwA+aVvEMAvNIzYwA

[2020-05-24 17:33] YairHalberstadt commented on #44535
Consider:

[code]

And you think that removing the cast to `int` is the bit that's annoying enough to make this worth a language change?

[2020-05-24 17:34] john-h-k commented on #44535
I do
[code]

in my use case

And yes, I find the unnecessary cast annoying

[2020-05-24 17:35] YairHalberstadt commented on #44535
Maybe change it to
[code]
?

[2020-05-24 17:42] john-h-k commented on #44535
Personally, I dont't like that. I find it unclear and cryptic. I *like* the
[code]

[2020-05-24 17:51] YairHalberstadt commented on #44535
If this is a bug, this is a bug. However if this is to spec, given that

a) VLAs are risky, a vector for security bugs, and of arguable benefit. Clearly of low enough total benefit that they were dropped from the C standard and removed from Linux.
b) There are trivial ways around the issue. You may not like them, but they are trivial.
c) stackalloc usually appears in performance critical code, and

[2020-05-24 17:53] john-h-k commented on #44535
In what way is this specific change expensive?

* It is trivial to implement
* It is not a breaking change
* It doesn't change the semantics of anything, anywhere

[2020-05-24 17:54] john-h-k commented on #44535
With `uint` this is not needed, and you can just do `size > 256`.

[2020-05-24 18:01] john-h-k commented on #44535
I, and others I have talked to, strongly dislike the behaviour of having a signed type that is actually unsigned, and so allocating `-1` bytes is actually allocating `uint.MaxValue` bytes

[2020-05-24 18:23] tannergooding commented on #44535
Well, realistically speaking even though it is possible (and I provided a working proof of concept: https://github.com/dotnet/roslyn/issues/44535#issuecomment-633262853), it is highly unlikely that anyone will ever actually try to allocate `int.MinValue` bytes, let alone be in a scenario where it could succeed.

In any case, I think `uint`, since it has been blocked forever is likely not a bug. `n

[2020-05-24 18:56] CyrusNajmabadi commented on #43788
Agreed.  We can pull in David Pugh on this as think this is a nice simple area we can test "pulling" of task/diagnostic lists.  This is is a good test area too as this exemplifies why certain change need to force all the data being reacquired.

[2020-05-25 02:04] vsfeedback opened #44537 "VS2019 code intelligence (refactorings and quick edit) are still FAR from being as useful as having R#"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/506387/vs2019-code-intelligence-refactorings-and-quick-ed.html)._

---
I'm going to walk though a series of edits using the built-in helpers to show how poor an experience this really is.

1. Create a new Key class, like this:

`public class Key {}`

2. Somewhere else, writ

[2020-05-25 05:50] CyrusNajmabadi commented on #44537
Roslyn analyzers allow for this as well.  Just choose the "document/project/solution" scope when invoking the fix :)

[2020-05-25 06:03] CyrusNajmabadi commented on #44537
So a good way we could deal with this is that `var key = new Key(eventId, Color.Red);` should offer `generate constructor (without fields)`. This would produce:

[code]

Then, you can just pick a parameter and say to create properties from all of them like so:

![image](https://user-images.githubusercontent.com/4564579/82783120-badf0780-9e12-11ea-9002-158b048eac13.png)

This would be two steps and

[2020-05-25 06:04] CyrusNajmabadi commented on #44537
Can you give an example of when properties aren't placed in the file you expect them to be?  Thanks!

[2020-05-25 07:51] PDostalek commented on #43741
Closing...found issue in the last one. THanks for checking

[2020-05-25 07:51] #43741 closed

[2020-05-25 08:37] alrz opened #44539 "Invalid NotNullIfNotNull contract is not reported"
**Version Used**: https://github.com/dotnet/roslyn/commit/ab680e7d4afb50003b487c28aeb7fcb7c89fd7fe

**Steps to Reproduce**:

[code]
([sharplab repro](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAN0QSwGYE8A+AAgAwAEhAjAHQAimEA5gHYD2smAxlFQMIsAmcAIJMIAG1xRMUANwBYAFABiJgFcxYiMDFxScUdriLCAZnIAmUj1IBvRaQfkzhACykAshExMAFAEp7RzsFR1CPCh8mOAB3fz8qABUWAGUYBG8Gf3kQsId3c0iYuMSUtIyswNzKsPcItQ14pNT0pky/bNy8gvqxRt

[2020-05-25 08:38] yyjdelete opened #44540 "Roslyn crashes when use native int with incompleted switch expression."
**Version Used**:
VS2019 16.7.0 Preview 1.0

**Steps to Reproduce**:
Looks like #44398, but for nint and nuint instead.

https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEBMBGAsAKBQZgAJ1CBhQgb10JuKJQBZCBZACgDsBLdmQgDwCUlAPTCA9gkLsArtxjVaiuYQBehALz9CUAO6cYAYwAWVHIvMXCGdQD5RGADQLLltLbROzlgL4BuZ+YoGACcrCoC/l4WogCC7GIwRoiECHAADghiACbSBnABiqIA+hpanFCENpoYhBDsWZGK3rjeQA=
[code]

**Expected Behavior**:
Compile

[2020-05-25 08:48] V0ldek commented on #613
This appears to be fixed. The error now is "CS4036: 'int' does not contain a definition of 'NonBindableThing' (...)".

[2020-05-25 09:28] TobiasSekan opened #44541 "[CA1508] False positive for "string.IsNullOrWhiteSpace(stringValue)""
**Version Used**:
Microsoft Visual Studio Community 2019 Preview
Version 16.7.0 Preview 1.0

**Steps to Reproduce**:
[code]

**Expected Behavior**:
no CA1508

**Actual Behavior**:
CA1508 -> string.IsNullOrWhiteSpace(stringValue) is always false

[2020-05-25 09:29] Nirmal4G commented on #33695
Why not use `Microsoft.NET.Compilers` for both frameworks and create `Microsoft.NETFramework.Compilers` for `.NET Framework` only package.

Thus we'll have

- `Microsoft.NET.Compilers`
- `Microsoft.NETCore.Compilers`
- `Microsoft.NETFramework.Compilers`

The naming is easy, predictable and understandable. I know that these packages are not officially supported but a lot of people are using it. So,

[2020-05-25 13:24] ltcmelo opened #44544 "Unable to display formatted symbol name with `get_Item` (instead of `get_this`)"
Given a method symbol, `methSym`, that is associated to a property indexer, the string directly printed by calling `methSym.Name` is `get_Item`.

This behavior is fine. What is unexpected (please let me know, if I'm missing an API) is that there doesn't seem to exist any option in [`SymbolDisplayFormat`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.symboldisplayformat?view=ro

[2020-05-25 14:41] ltcmelo commented on #44544
Hum... it that this isn't just "related" to https://github.com/dotnet/roslyn/issues/27264, it's the same problem; just that the property here is `this`.

In any case, since I don't know the internals of the implementation, I'll leave this open, but if the case is an actual duplicate, I guess this one can be closed...?

[2020-05-25 15:49] svick commented on #42287
As far as I can tell, to figure out which property is the indexer, the compiler uses the `System.Reflection.DefaultMemberAttribute`, which is missing from your minimal runtime. When I added this type to RuntimeLibrary, the error went away.

[2020-05-25 18:16] SkSaguaro opened #44545 "Missing CoalesceAssignmentExpression in SyntaxFactory"
**Version Used**:  3.6.0

**Steps to Reproduce**:

1. Call Method

 SF.ArrowExpressionClause(
                  SF.BinaryExpression(
                    SyntaxKind.CoalesceAssignmentExpression,
                    SF.IdentifierName("id", ....

**Expected Behavior**: works

**Actual Behavior**: throws   ArgumentOutOfRangeException

**Reason**:

 There is as case missing in the GetBinaryExpressionOp

[2020-05-25 18:35] bobbymcr opened #44546 "Equivalent switch expression produces suboptimal IL compared to switch statement"
**Version Used**:
.NET Core 3.1.3 (CoreCLR 4.700.20.11803, CoreFX 4.700.20.12001), X64 RyuJIT

This code uses a switch statement to convert an enum value to a char:

    public static class MyLevel
    {
        public static char Translate1(TraceLevel level)
        {
            switch (level)
            {
                case TraceLevel.Verbose: return 'V';
                case TraceLevel.Info

[2020-05-25 19:38] Youssef1313 commented on #44541
Is this related to dotnet/roslyn-analyzers ?

[2020-05-25 19:47] Youssef1313 commented on #44541
I don't get the warning on my machine.
Tested with Microsoft.CodeAnalysis.FxCopAnalyzers v2.9.6
![image](https://user-images.githubusercontent.com/31348972/82839915-37382000-9ed1-11ea-8053-b0380ccfd59c.png)

[2020-05-25 22:31] Tahatoun opened #44547 "Is there a way with Roslyn to get compile-time dependencies?"
I'm developing a project to eliminate useless references in a C#. And I need to detect useless one during the compile-time. I can get the useful one during runtime by inspecting AssemblyRef table using reflection. But be based only in those assemblies presented in AssemblyRef will throw a lot of false positive. for example if we use a static const value presented in a reference,this reference will

[2020-05-25 23:32] gafter commented on #44547
@AlekseyTs Can you please answer this?

[2020-05-26 00:50] 333fred opened #44550 "Pressing `Esc` in the change signature dialog crashes the `ChangeSignatureCodeRefactoringProvider`"
**Version Used**: Version 16.7.0 Preview 3.0 [30125.9.master]
C# Tools   3.7.0-3.20273.2+57af2cd3596ec490ee1208ad7285b8f018b1432a

**Steps to Reproduce**:

1. Invoke change signature on a signature
2. Press escape

**Expected Behavior**:

Immediate cancellation

**Actual Behavior**:

Yellow bar, with this stack:

[code]

@dpoeschl I'm just assuming that this should be assigned to you.

[2020-05-26 01:04] 333fred commented on #44550
In the same area, I'm getting this stack when I attempt to commit a change-signature change with `DEBUG` bits:

[code]

[2020-05-26 01:06] ordinaryorange commented on #39501
@tmat you are correct in that assemblies are not stored on disk. However I think the underlying culprit here is that the `CSharpScript` api has a dependency on a file system being available, and the assembly being available.

[This](https://github.com/dotnet/roslyn/blob/548ad60d7d34d1d1ff7e005b5f494b4c718c0604/src/Scripting/Core/Script.cs#L253) line eventually calls `File.OpenRead()` and there app

[2020-05-26 01:12] jaredpar commented on #33695
In order to support both compilers we had to significantly change the layout of the NuPkg. A significant number of people who were using it both depended on the layout of the package and were auto-updating. That meant changing the package in place would be a substantial breaking change for those customers. Hence we decided that a new package was the smoother approach.

[2020-05-26 01:23] DigitalZilla commented on #41315
Neither disabling _Load Projects Faster_, nor updating to 16.6 (with _Load Projects Faster_ enabled or disabled) fixed the issue for me.

As you can see, I have a very simple class - I'm using [ReactiveExtensions ](https://reactiveui.net/docs/getting-started/compelling-example)to set up some observables. lambda _x_ is _this_, which is the **AppViewModel**. The compiler and mouse-over correctly fin

[2020-05-26 01:44] vsfeedback opened #44551 "Update "propdp" snippet to use nameof"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1046667/update-propdp-snippet-to-use-nameof.html)._

---
The `propdp` C# code snippet creates the following code:

[code]

Notice the `"MyProperty"` string literal, which points to the backing property for the dependency property. This is not ideal, because renaming the pro

[2020-05-26 02:38] NextTurn commented on #43273
Fixed by #44230

[2020-05-26 03:31] #44288 closed

[2020-05-26 03:37] CyrusNajmabadi opened #44553 "CodeAction testing infrastructure does not behave hte same as VS wrt EquivalenceKey"
See https://github.com/dotnet/roslyn/pull/44549 as an example of an issue caused by this.

We have a code-fixer "Generate constructor" which can produce up to two actions to fix a diagnostic.  specifically:

1. Generate constructor
2. Generate constructor (without fields)

This feature has unit tests validating it works and that you should get both of these (and how each individually works).

Howe

[2020-05-26 03:37] CyrusNajmabadi commented on #44553
Tagging @mavasani

[2020-05-26 04:53] mthamil commented on #44411
I've run in to this issue as well:
[code]
When I pass `x` to other methods later where a non-nullable reference is expected, I get errors.
If I change `var` to an explict `object` declaration, the errors go away.

[2020-05-26 05:16] CyrusNajmabadi commented on #44537
So this can currently be done in two steps like so:

![image](https://user-images.githubusercontent.com/4564579/82862706-30131100-9ed5-11ea-8344-290fcbcb62ff.png)

And then:

![image](https://user-images.githubusercontent.com/4564579/82862714-399c7900-9ed5-11ea-8747-8de070cbae21.png)

This leaves the code in the desired form for the user:

![image](https://user-images.githubusercontent.com/4564579

[2020-05-26 05:35] Nirmal4G commented on #33695
The naming I propose is clear, to the point. It's worth the breaking change. Besides, these are not officially supported artifacts, then why the high level of compat?

Depending on NuGet package layout shouldn't be the recommended approach. Publish a Zip or self-extracting package for those scenarios. If you make consumers depend on every aspect of a published artifact, even those that are private

[2020-05-26 05:50] mthamil commented on #44411
Seems like this may be the same or a related issue: https://github.com/dotnet/roslyn/issues/41705

[2020-05-26 06:21] yyjdelete commented on #44540
Add another case for float/double.
https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEBMBGAsAKBQZgAJ1CBhQgb10JuKJQBZCBZACgEpLraeB9QgLyEADADNCASyiEAfEOEB6YQG5uPGv3kATSdLkilqnDwC+uE0A=

`_ = 0f/*0d*/ is >= 0/0;`(For float and double)

[code]

[2020-05-26 08:00] Suchiman opened #44554 "VS should offer to simplify null conditional calls"
**Version Used**: 16.7 P1

**Steps to Reproduce**:
1. Write code
[code]
2. Try to invoke refactorings on it

**Expected Behavior**:
A refactoring is offered to turn this into
[code]

**Actual Behavior**:
No refactoring is offered

[2020-05-26 10:25] mnmr commented on #44537
That option is not always available, and is a bit hidden at the bottom of the dialog (and at the time required mouse to be activated; not sure if that is still the case)

[2020-05-26 10:30] mnmr commented on #44537
Sure, see original issue description above ;) .. to clarify: I put my properties after any fields and above the ctor, mostly because they are used somewhat interchangeably since the introduction of auto properties. It may have inserted them at the bottom of the file because I had none before the refactoring, but ideally it would not move it at all: just put the auto prop where the field was.

[2020-05-26 10:48] ziacik commented on #41234
In my case, this helped as suggested in the ticket:

[2020-05-26 13:11] jaredpar commented on #33695
Disagree.

Older versions of `Microsoft.Net.Compilers` are included in supported products and they are supported in that context.

This isn't necessary. The new package is in circulation, has been adopted in the scenarios that are critical to us and is functioning just fine.

[2020-05-26 13:11] jaredpar commented on #33695
Closing as this work item is complete

[2020-05-26 13:11] #33695 closed

[2020-05-26 13:50] pvpxan commented on #42703
I doubt that would help as this happens to all my projects and any new project I create.

[2020-05-26 15:28] Tahatoun commented on #44547
@AlekseyTs  Please can you answer my question? I really need the answer as soon as possible.
Thank you in advance

[2020-05-26 15:53] AArnott commented on #29696
.shproj projects *do not build*. So they needn't load like .csproj projects load. If Roslyn simply *skipped* these projects completely, that should unblock any read-only customer scenario.

[2020-05-26 16:02] mavasani commented on #43080
Tag @chsienki

This should now be supported in VS2019 16.7 or later with  #42703

1. You need to create a new analyzer config file with a top level entry `is_global = true` and your option settings after that.

2. Then ensure this analyzer config file gets passed to the compiler in the one of the following ways:

   1. via MSBuild:
[code]
   2. via command line arguments to csc.exe:
[code]

[2020-05-26 16:02] #43080 closed

[2020-05-26 16:19] jcouv opened #44556 "Figure out QuickInfo for positional records"
Some places display parameters and others display properties. This also affects FAR.
We need to clarify the desired behavior.

I would propose that we keep the current behavior (some places are parameters and some are properties), but extend FAR to link both world.

----

There is currently no QuickInfo on declaration:
![image](https://user-images.githubusercontent.com/12466233/82924511-4b136e80-9

[2020-05-26 16:29] mikadumont commented on #44537
@CyrusNajmabadi

`Fix all occurrences` is easy to miss and I worked with UX on a more discoverable UI below:

![image](https://user-images.githubusercontent.com/46729679/82925203-44392b80-9f32-11ea-9c09-198bb21dc35a.png)

![image](https://user-images.githubusercontent.com/46729679/82925123-2bc91100-9f32-11ea-8277-3ffb104e8c9f.png)

When I presented it in our design meeting I know there was concern

[2020-05-26 16:29] jcouv opened #44557 "GenerateProperty/Field: consider adjusting behavior for positional records"
Before:
![image](https://user-images.githubusercontent.com/12466233/82925784-130d2b00-9f33-11ea-93ee-c5d6883096a8.png)

After:
![image](https://user-images.githubusercontent.com/12466233/82925872-320bbd00-9f33-11ea-8b09-535944ccd9c5.png)

Should we offer an option to generate a positional member?

Relates to https://github.com/dotnet/roslyn/issues/40726 (test plan for "records")

[2020-05-26 16:33] jcouv opened #44558 "ChangeSignature: should trigger in positional records"
ChangeSignature is currently not offered.
Note: we first need to clarify whether those are parameter or property declarations (tracked by https://github.com/dotnet/roslyn/issues/44556).

![image](https://user-images.githubusercontent.com/12466233/82926193-ae9e9b80-9f33-11ea-9c48-786bb50f4271.png)

Note that we offer ChangeSignature on other constructor parameters:
![image](https://user-images.gith

[2020-05-26 16:43] jcouv opened #44559 "FindAllReferences should find usages of positional members"
Placing your cursor on a declaration of a positional should find usages in construction, property access (probably) and `with` initializers (not yet validated).

Note: we need to clarify whether the declaration of `First` is a parameter or a property (tracked by https://github.com/dotnet/roslyn/issues/44556)

[code]

Relates to https://github.com/dotnet/roslyn/issues/40726 (test plan for "records"

[2020-05-26 16:51] jcouv opened #44560 "Rename tracking doesn't work on positional members"
![image](https://user-images.githubusercontent.com/12466233/82928028-76e52300-9f36-11ea-91a2-b36daf6f5a4f.png)

# Scenario 1 (trigger rename from parameter list in declaration):
[code]
Expected:
[code]

# Scenario 2 (trigger rename from parameter list in declaration, with user-defined property):
[code]
Expected:
[code]

# Scenario 3 (trigger from usage site):
[code]
[code]

# Misc

How do link par

[2020-05-26 16:55] rogerfar commented on #3705
@Logerfo did this not make it in 16.6? I'm having trouble getting it to work.

When I do:
[code]
It still generates warnings, when I do:
[code]
Then warning goes away.

Even I put this in:
[code]
It is supposed to remove all warnings and errors, but it doesn't.

[2020-05-26 16:57] jcouv opened #44561 "DeclareAsNullable doesn't trigger on null default value for positional member"
![image](https://user-images.githubusercontent.com/12466233/82928618-4651b900-9f37-11ea-85b6-07bb78f5efa4.png)

Relates to https://github.com/dotnet/roslyn/issues/40726 (test plan for "records")

[2020-05-26 17:00] mavasani commented on #3705
Compiler warnings (CSxxxx) do not respect `generated_code` option, only analyzer diagnostics. There is an exception though: C# 8 nullable related compiler warnings do respect this option.

If you feel this option should be respected for all compiler warnings, feel free to file a new issue.

[2020-05-26 17:01] AlekseyTs commented on #44547
There is no easy way to get this information today. We have a prototype for an API that returns a set of used assembly references. It is in https://github.com/dotnet/roslyn/tree/features/UsedAssemblyReferences branch. However, at the moment we haven't made a decision when or whether it will become part of the product.

[2020-05-26 17:02] #44547 closed

[2020-05-26 17:19] gafter commented on #44528
Dup of https://github.com/dotnet/roslyn/issues/44547

[2020-05-26 17:19] #44528 closed

[2020-05-26 17:23] gafter commented on #44478
You appear to be assuming that the compiler should assume what the behavior of the `.Where` method should be. The compiler does not currently assume it knows precisely what that method will do.

[2020-05-26 17:30] gafter commented on #44544
There is currently no such API. I think it is fine to track this request in #27264.

[2020-05-26 17:30] #44544 closed

[2020-05-26 18:20] TKharaishvili opened #44565 "C# REPL - ability to inspect code in current solution with Roslyn Apis"
The IDE has this wealth of knowledge about the currently loaded source code stashed in memory somewhere. I think it might be useful to expose it to the C# interactive window for inspection and modification.

**Pros:**
1. The ability to ask non-trivial questions about the codebase
2. Making one-off modifications for which an analyzer or a source generator would be an overkill
3. Prototyping analyze

[2020-05-26 18:33] jcouv opened #44566 "MetadataAsSource: should record types be displayed as records?"
I don't think that's possible at the moment (record types are not marked as such, they are just regular types).
Tagging @agocke @CyrusNajmabadi  for thought

Note: this should not block 16.7p3 release of records preview, in my opinion.

Tentatively, we could use the unspeakable clone method (`<>Clone`) as a way to detect record type.

Note: for init-only properties, we've [already fixed MetadataAs

[2020-05-26 18:39] sharwell opened #44569 "Tests are much slower in the past week"
Sometime in the past week, test runs went from ~60 minutes in CI to ~90 minutes in CI. The cause is currently unknown.

[2020-05-26 18:45] #43290 closed

[2020-05-26 19:15] CyrusNajmabadi commented on #42703
Can you supply tht new project?  sounds like it should be easy to repro if we have that.  Thanks!

[2020-05-26 19:18] CyrusNajmabadi commented on #44537
We got pretty vehement feedback not to do that by the VS community.  People did not want fields and props intermixed.  We should be respecting your current grouping of properties if you have any.  However, if you have none, we pick a default location for properties that has been our fairly consistent location (after constructros) for around 20 years now :)

[2020-05-26 19:18] alrz commented on #44534
Since we do recognize `(null or int)` or `not null` as a null check, it seems like this is only related to recursive patterns.

[2020-05-26 19:25] clairernovotny commented on #43476
Ping on servicing?

[2020-05-26 19:28] tmat commented on #43476
@dsplaisted @jaredpar

[2020-05-26 19:54] CyrusNajmabadi commented on #44565
I believe the repl runs out of process (for many important reasons).  So it would likely be highly difficult to share the information about what's going on in teh VS process with it.

[2020-05-26 19:59] CyrusNajmabadi commented on #44566
Yes, i would expect this to display as a record in MAS.  Do we have any other cases of signature level features that don't have any impact on the generated code (outside of 'partial')?

is there a mod-opt we could put on these just to mark things for useful tooling purposes?

[2020-05-26 19:59] CyrusNajmabadi commented on #44566
btw, how are xml docs going to work for records?  how do you put docs on the properties the record has?

[2020-05-26 20:29] vsfeedback opened #44570 "Autocomplete of suggested argument is not working with return key"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1044138/autocomplete-of-suggested-argument-is-not-working.html)._

---
Autocomplete of suggested argument is not working with return key.

I have this class
[code]

Now, in the controller I add the file type `JsonFileProductService` with the argument name `pro` and I get su

[2020-05-26 20:34] jcouv opened #44571 "Figure out XML docs for positional records"
How do we specify xml docs for positional members (which define both parameters and properties)?

[code]

[2020-05-26 20:35] jcouv commented on #44566
Filed https://github.com/dotnet/roslyn/issues/44571 for xml doc question (thanks!)

[2020-05-26 20:41] xdaDaveShaw opened #44572 "IDE0066 Suggests code that doesn't compile for implicitly convertable types"
**Version Used**: Visual Studio 16.5.4 (also VS Code, latest stable)

**Steps to Reproduce**:

1. Given a class `C` like so:
[code]
2. Write a method with a switch statement on and instance of `C`:
[code]
3. IDE0066 suggests a switch expression as follows:
[code]
This does not compile because:

**Expected Behavior**:
Either IDE0066 doesn't trigger where the generated code won't compile

or

Switch

[2020-05-26 20:50] Zerotask commented on #44570
I made a little typo

I meant the constructor.

[2020-05-26 20:54] CyrusNajmabadi commented on #44570
This is by design.  these items are 'soft selected' so that they don't interfere with the names a user may be trying to write themselves.  i.e. imagine that someone wanted to write:

[code]

So they type `pro<enter>`.  If we commit our item we will override their explicitly chosen name.  That's why we make it so that you have to explicitly choose the item (with `<tab>` or arrow keys).

[2020-05-26 20:55] CyrusNajmabadi commented on #44572
This is actually a bit surprising.  @gafter could you explain how the language sees things differently for the switch expression versus teh switch statement here?

[2020-05-26 21:03] Zerotask commented on #44570
@CyrusNajmabadi Thanks for the input.
In this case I'd click ESC key to cancel the suggestion and then continue, but I get your point.

So the decision here is how likely your scenario is compared to the used clicking the return key for autocompletion.

[2020-05-26 21:24] gafter commented on #44572
A switch statement on a type that has a conversion to the type `string` applies that conversion before doing the switch. That is a legacy behavior of C# switch statements. But it doesn't occur for the switch expression. So the switch expression's input type is `C`. The constant pattern `"A"` is converted to the input type, in this case using the conversion operator, and results in a value that is

[2020-05-26 21:27] CyrusNajmabadi commented on #44572
Got it.  We'll have to check for that concept in our 'convert to switch' logic.  @alrz do you want to take this?  or would you prefer we do it?

[2020-05-26 21:36] rainersigwald commented on #44517
Yes, that's correct. Current working directory is mutable and inheritable and is specified at the project level: MSBuild defaults to project directory, but persists changes when leaving/returning to a project. This is one of the reasons that multithreaded build is not actually multithreaded but multi-_process_.

Roslyn might be able to work around this for API callers by forcing the design-time bu

[2020-05-26 21:46] jmarolf commented on #29696
My understanding is that they are skipped today. You still get a workspace it just does not contain any `shproj` projects

[2020-05-26 21:52] jmarolf commented on #44565
sure, but everything runs out of process now :) We could at least do 1 if we had out own interactive workspace that just populated itself with the current context and then let you run queries against it. That's at least where I would start.

Being able to execute actions against this workspace is a separate issue that I would want to think about but I am generally for a feature that would make lev

[2020-05-26 21:53] CyrusNajmabadi commented on #44570
Yes.  We have experimented with more 'aggressive' forms in the past, where 'enter' could capture stuff like this, and it was met with an extremely negative reaction.   We think it's far more preferable to have some users be more explicit that they want the suggestion then it is to have others have to opt-out of the suggestion.

Tab has been the universal 'commit' key for completion since the first

[2020-05-26 21:58] Zerotask commented on #44570
Okay, I understand. Then I will try to use tab instead of return for the future :)

This issue can be closed then.

[2020-05-26 22:12] #44396 closed

[2020-05-26 22:13] #43952 closed

[2020-05-26 22:27] CyrusNajmabadi commented on #44570
Closing out as by-design.

[2020-05-26 22:27] #44570 closed

[2020-05-26 22:28] vsfeedback opened #44576 "Reneme class and it's filename from a different file works only when current file has same name"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1048747/reneme-class-and-its-filename-from-a-different-fil.html)._

---
<p>I noticed quite odd behavior of rename class and filename feature in Visual Studio 2019 (16.7preview1 as I wrote this).</p>
<p>Please examine following scenarios<br>
1 - You can rename a file when re

[2020-05-26 22:38] mnmr commented on #44537
I just want to point out that there were basically three issues reported here:

1. Refactorings in VS are too simple. Stuff like “remove this. qualifier” should be bundled in “cleanup code” and not be a stand-alone refactoring (to avoid UI clutter)
2. It should be possible to choose what a refactoring does, rather than assuming defaults and forcing the user to perform a series of refactorings to g

[2020-05-26 22:48] CyrusNajmabadi commented on #44537
It already is.

I strongly disagree with this.  We've heard time and time again that people don't necessarily want to make wholesale changes to lots of code.  I know that I (and others on the team) in particular will often just run a single kind of cleanup when we feel its appropriate.

A lot of the current design stems from user feedback on fatigue around choice-itis and option-itis.  i.e. that t

[2020-05-26 23:20] Enderlook commented on #44052
Hi @weitzhandler, it's my first time contributing with code at some open-source repository **and** a codebase of this size, so if I'm doing something wrong please tell me.
I found this has `help wanted` label, so I have been trying to implement it. However, I got stuck and have a few questions.

This is the file I edited to implement my changes, I commented it as best I could:
https://github.com/E

[2020-05-26 23:25] CyrusNajmabadi commented on #44052
hi @Enderlook .  You're definitely welcome to take a PR here.  However, i can't guarantee we would take it.  Specifically, i think we would want to hammer out as a team what we would the design to be here.   Important questions we would want are:

1. do we even want users to be able to customize this?
2. do we want generic levels of customization, or a fixed list?
3. if we allow generic levels of

[2020-05-26 23:28] CyrusNajmabadi commented on #44052
In terms of your questions:

1.  Yup.  It's going to hit a lot of code.  And there will very much be open questions about how to pass this information around (especially if this is cutomizable and users can specify teh order they want, and possibly specify different namespaces).
2. Yup.  It's going to require rethinking how that type would work if it can't just operate syntactically :)
3. We would

[2020-05-26 23:28] CyrusNajmabadi commented on #44052
I've moved this to the next meeting for us to discuss things based on your interest.

[2020-05-26 23:33] jcouv opened #44578 "Test plan for nullable annotations on unconstrained type parameters"
See initial PR https://github.com/dotnet/roslyn/pull/45993

- [x] draft [spec](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-9.0/unconstrained-type-parameter-annotations.md) on dotnet/csharplang
- [x] language version errors for `T?` and `where T : default`
- [x] nullability of `default(T)` and `default(T?)`
- [x] nullability of `var`: `var t = new T();` https://github.com/dotn

[2020-05-26 23:35] genlu commented on #41234
@ziacik Thanks for mentioning that. We are actually using this issue to track the work of making the state of Suggestion Mode more obvious (and actionable) so people can figure out what's going on and switch to regular mode if needed.

I couldn't find a detailed document for suggestion mode (except being mentioned briefly [here](https://docs.microsoft.com/en-us/visualstudio/ide/using-intellisense?

[2020-05-27 00:34] allisonchou commented on #43830
I can repro this issue in 16.7p1 and prior, however it seems to be fixed in Int Preview as of build 30119.10.master (16.7p2).
I will close this issue for now. However, if you continue to see this issue in 16.7.0 preview 2 or later, please let us know. Thank you!

[2020-05-27 00:34] #43830 closed

[2020-05-27 01:21] JoeRobich commented on #42154
Thanks @sharwell, This was resolved with https://github.com/dotnet/roslyn/commit/8fea41a41e2fc3c91e1eb775f4de265f7a19b58e

[2020-05-27 01:21] #42154 closed

[2020-05-27 02:02] agocke commented on #42154
Nice, thanks!

[2020-05-27 02:31] tmat commented on #44565
I like the idea and it should be relatively easy to implement once we have a service that provides solutions to any process by fetching it from the devenv process (or wherever the source of truth is at the moment). This service would likely be IServiceBroker service. I wonder if it is possible to get IServiceBroker instance hosted in an arbitrary process and somehow connect it to the VS services.

[2020-05-27 02:33] tmat commented on #44565
Re [2] - is trivial once [1] is available (assuming that the source files are on the same machine as the Interactive Window host is running on). You get the document file path and write to the file if you need to make any updates.

[2020-05-27 02:35] tmat commented on #44565
Re [3] and [4] - I'm a bit skeptical whether IW is the right tool to do that. Seems like a unit testing framework that makes it easy to run analyzer/cg as a test would be better.

[2020-05-27 03:18] timcassell commented on #16473
Is there already a feature request for that? I was just thinking about using the new switch expression to replace a clunky nested ref ternary expression like that.

[2020-05-27 04:46] #44343 closed

[2020-05-27 04:46] #44362 closed

[2020-05-27 05:02] HamedFathi opened #44586 "OpenProjectAsync: The SDK 'Microsoft.NET.Sdk' specified could not be found."
**Version Used**:

[code]

**Steps to Reproduce**:

I created a simple console application via `dotnet new console`

[code]

Then I wrote a block of code in another application to get the compilation result by Roslyn

[code]

[code]

**Expected Behavior**:

Load all projects without error.

**Actual Behavior**:

The length of `Documents` is **0** so I wrote another block of code to find out what w

[2020-05-27 07:11] Mobrockers commented on #29696
@jmarolf If they are not included in the workspace then we cannot get the syntaxes for the source files included in the projects. Or am I missing something.

[2020-05-27 07:54] YairHalberstadt commented on #43264
Why is this different to any other recursive call? It might well be by design:

[code]

[2020-05-27 08:27] CyrusNajmabadi commented on #43264
Primarily because it is implicit.  i.e. when you have a recursive call, you're doing:

[code]

When you have:

[code]

You really have:

[code]

But it's not at all clear that's what's going on.  Note: i would be fine with an analyzer that detected obviously wrong self-recursion.  i.e. the direct return/call of the exact method with the exact same args.  In that case, this would be the same as nor

[2020-05-27 08:42] YairHalberstadt commented on #43264
I think that would make more sense. Getting a warning for the above tree example would be annoying.

[2020-05-27 08:46] NekoKoneko commented on #42703
Steps to reproduce:
1. Create a new Console App project (.NET Framework or .NET Core)
2. Add the following line to the Main method:
[code]
3. Change variable name to ```j``` via keyboard.
4. Hover over the ```j``` variable and press the light bulb. The Rename command is missing.
<details>

![1](https://user-images.githubusercontent.com/1853737/82996997-76b85680-a00e-11ea-95b1-3178599f5f9e.png)

</

[2020-05-27 09:22] JeffreyMercado opened #44587 "Inconsistent errors with nested verbatim interpolated string literals (@$ vs $@ CS8087)"
Verbatim interpolated string literals using `@$` or `$@` nested within an interpolated string are not handled consistently. They should be equivalent but one has an error (CS8087) if a literal backslash `\` precedes a `{` in the `@$` string. It doesn't matter what form the outer interpolated string is.

[code]

**Version Used**: `.Net Core 3.1.201` and `Roslyn 3.5.0-beta4-20153-05`

**Steps to Rep

[2020-05-27 09:29] HobbsCode opened #44588 "The compiler should allow the return of a span declared and initialized by switch expression."
**Version Used**:
.netcoreapp3.1
VS 16.6.0

**Steps to Reproduce**:
[code]
**Expected Behavior**:
The compiler should allow the returning of the span in the method GetSpan3().

**Actual Behavior**:
The compiler complains that the return statement "may expose referenced variables outside of their declaration scope."

[2020-05-27 12:52] AArnott commented on #29696
Yes you can. The Compile items for them are in the other csproj files by virtue of an Import of a projitems file.

[2020-05-27 13:20] TKharaishvili commented on #44565
Here's what I meant by [3] and [4]:

Currently when I start writing an analyzer/codefix (which I've written several of but am by no means an expert at) I basically have two instances of VS open, 1 - the actual codebase, 2 - the analyzer codebase. And I find myself frequently switching between the two to look at the structure of code I'm trying to analyze and then to write code that analyzes it.
Th

[2020-05-27 13:35] mavasani opened #44589 "Shared projects in Roslyn.sln showing no files in solution explorer"
**Version Used**: Latest 16.7 dogfood build

**Steps to Reproduce**:

1. git clone https://github.com/dotnet/roslyn.git
2. cd roslyn
3. git checkout dfdc4efd75ab7ab67668154323702227a2a805d3
4. restore
5. Roslyn.sln
6. Expand any shared project in solution explorer

**Expected Behavior**:
Shows files:
![image](https://user-images.githubusercontent.com/10605811/83026067-05fc4480-9fe4-11ea-8528-09a95

[2020-05-27 13:38] mavasani commented on #44589
This seems to be due to the recently added work around: https://github.com/dotnet/roslyn/blob/dfdc4efd75ab7ab67668154323702227a2a805d3/eng/targets/Imports.targets#L7-L15

Wrapping the ItemGroup inside a target before CoreCompile seems to fix this issue:
[code]

[2020-05-27 14:20] jnm2 commented on #44534
Is this the same or should a new issue be opened?

Provided by @badcel:

[code]

[2020-05-27 14:46] alrz commented on #44534
I imagine that's the same issue. `Data { Text: { } } d` is a recursive pattern that we don't cover. Note `{ Text: { } t }` already works for `t`, but any nested null state is lost.

[2020-05-27 14:50] alrz commented on #44534
that's strange though. See https://github.com/dotnet/roslyn/issues/42057#issuecomment-593547831 for an example where we do recognize it. So I'm not sure if that's the same issue.

[2020-05-27 14:53] alrz commented on #44572
I'm in the process moving out right now, I don't think I can get to it any time soon. :)

[2020-05-27 15:27] pvpxan commented on #42703
After some more testing, it seems the issue is related to method names that violate rule IDE1006. This is not affecting variables inside of methods for me. Also I am getting a constant error when mousing over options from below.

![image](https://user-images.githubusercontent.com/26392713/83040044-d4e43a00-a00c-11ea-80da-2df168ba32ae.png)

If I mouse over `Configure IDE Severity` FIRST, I get an e

[2020-05-27 16:24] SomebodyOdd opened #44591 "x !is int expression"
**Version Used**:
Master as of [b4e2e1b](https://github.com/dotnet/roslyn/commit/b4e2e1bd1367bc53dca08d999a525b55ac71d552)
(through sharplab.io)
**Steps to Reproduce**:

1. Use "x !is int" expression.

**Expected Behavior**:
This doesn't compile or do compile equivalent to "!(x is int)".
**Actual Behavior**:
It behaves exactly like "x is int".

Is this intended behavior? Visual Studio 16.5.4 C# in

[2020-05-27 16:26] sharwell commented on #31845
This was likely introduced by #25376 (15.7) and eventually fixed by #33595 (16.1).

[2020-05-27 16:35] sharwell commented on #43265
@CyrusNajmabadi This was also reported in https://developercommunity.visualstudio.com/content/problem/1050337/vs-1670-preview-10-createinternalsvisibletomap-nul.html (P1 feedback)

[2020-05-27 16:35] jaredpar commented on #44452
Slight change: `net5` or higher. Essentially this should be the new default going forward.

Curious: why do we feel this is more severe than say the non-determinism that comes from floating point constant folding? Both are host specific forms of non-determinism and it's possible, to some degree, to control both of them. For instance we could force a `conv.r4` at every layer of floating point foldi

[2020-05-27 16:38] sharwell commented on #44321
@CyrusNajmabadi Can you link the PR and update the milestone?

[2020-05-27 16:43] gafter commented on #44591
It compiles as `(x!) is int` just as specified.  There is no `!is` operator.

[2020-05-27 16:43] #44591 closed

[2020-05-27 16:48] vsfeedback opened #44592 "Cannot configure auto-import to be the default intellisense behaviour"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1041127/cannot-configure-auto-import-to-be-the-default-int.html)._

---
For example:

[code]
[code]
[code]

When the cursor reaches the point marked by > in the above example, intellisense suggests Test.MyClass, rather than MyClass with an auto-import of using Test;

If you

[2020-05-27 16:49] vsfeedback opened #44593 "Custom Task List Tokens no longer working in VS 2019 16.6.0"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1041405/custom-task-list-tokens-no-longer-working-in-vs-20.html)._

---
[regression] [worked-in:16.5]
A custom token, like 'EXAMPLE' that annotates a comment line is no longer listed in the task list.  The built in tokens do work.

---
### Original Comments

#### Visual Stu

[2020-05-27 16:53] CyrusNajmabadi commented on #43265
I'm not sure waht to do with this just yet as no good repro has been made. I NRTified this code, and made it much more resilient to potential null values going through.  However, until that gets out, we won't know if this is fixed or not.

[2020-05-27 16:55] CyrusNajmabadi commented on #44593
Dupe of https://github.com/dotnet/roslyn/issues/43788

[2020-05-27 16:55] #44593 closed

[2020-05-27 17:03] vsfeedback opened #44594 "Rename object/variable names no longer available on the context menu"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1043991/rename-objectvariable-names-no-longer-available-on.html)._

---
[regression] [worked-in:All versions prior to Version 16.6.0]
Renaming an object or variable name in Visual Studio Version 16.6.0 no longer provides the 'rename' option on the context menu. It's no long

[2020-05-27 17:04] mavasani commented on #42703
@NekoKoneko @pvpxan Can you check if the refactoring is available for the light bulb that shows up in the margin?

There is also a feedback ticket https://github.com/dotnet/roslyn/issues/44594 reporting the same issue. We need to update fix the lightbulb within the text editor to show applicable refactorings.

[2020-05-27 17:09] mavasani commented on #44594
Similar to the issue reported https://github.com/dotnet/roslyn/issues/42703 and also reported internally in Roslyn discussion forum. We need to fix the lightbulb that shows up within the text editor to show applicable refactorings, currently it only shows code fixes for analyzers and rename tracking is no longer an analyzer/code fix.

[2020-05-27 17:11] NekoKoneko commented on #42703
Yes, it is available in the margin's light bulb.
<details>

![3](https://user-images.githubusercontent.com/1853737/83051111-341a6c80-a056-11ea-9b9e-c3822b3050d5.png)

</details>

[2020-05-27 17:36] tmat commented on #44452
Isn't the floating point deterministic as long as we use the same version of the runtime? Or is there a dependency on the OS/CPU?

Adding the OS encoding would unnecessarily make the build dependent on OS configuration, where it may not today (say all files are UTF8 encoded and the OS encoding is never used by the compiler).

[2020-05-27 17:54] RikkiGibson commented on #44452
I'm a little confused by the problem described in the issue description. We failed to use a UTF-8 encoding, how can we reasonably fall back to UTF-8? I am not very familiar with CodePages so apologies if I'm missing something obvious.

[2020-05-27 18:03] sharwell commented on #43265
Yep just wanted to make sure the priority bump wasn't unobserved.

[2020-05-27 18:04] vsfeedback opened #44596 ".editorconfig file_header_template: can't use # symbol"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1043276/editorconfig-file-header-template-cant-use-symbol.html)._

---
It doesn't seem to be possible to use a `#` symbol in `file_header_template`, without it being parsed as a comment (escaping using `\` doesn't appear to work).

This is annoying when trying to include th

[2020-05-27 18:21] #37511 closed

[2020-05-27 18:26] sharwell commented on #44596
@agocke any thoughts on how we might approach this?

[2020-05-27 18:26] gafter commented on #44452
We already do force a `conv.r4` at every step of constant folding. I believe that is required by the C# language specification.

[2020-05-27 18:31] tmat commented on #44452
@RikkiGibson we are falling back to the OS ANSI code page (unless `/codepage` is specified explicitly).

[2020-05-27 18:32] tmat commented on #44452
@gafter So the decimal operations would only depend on the version of corlib, correct?

[2020-05-27 18:32] gafter commented on #16473
See https://github.com/dotnet/csharplang/issues/3326

[2020-05-27 18:43] jaredpar commented on #44452
@RikkiGibson

Our encoding story is complex and strongly influenced by how the native compiler handled encoding. Essentially though in the absence of an explicit encoding we do the following:

1. Use encoding specified via BOM
1. Use UTF-8
1. Fall back to OS default encoding

In the presence of an explicit `/codePage` argument the compiler will consider that code page only and no others.

What @tm

[2020-05-27 18:44] gafter commented on #44452
@tmat Yes

[2020-05-27 19:06] olegtk commented on #44594
I think it was by design as far back as to Dev14. The intent was I believe that if you hover over a squiggle you indent to fix that particular issue. Why change it now?

[2020-05-27 19:09] olegtk commented on #44594
Also if Roslyn choses to, it can ignore requestedActionCategories in this call and return whatever actions you think are appropriate (I think there are precedents of that already).

[2020-05-27 19:09] mavasani commented on #44594
The core issue was that rename tracking was incorrectly implemented as an analyzer/code fix, and hence always showed up in the latter case. This was fixed by @CyrusNajmabadi to be written as a refactoring, and now no longer shows up.

Isn't the intent for the span based trigger to show all actions relevant on that token span, while the one in the margin shows everything relevant for the entire lin

[2020-05-27 19:11] mavasani commented on #44594
Ah, that sounds reasonable. @CyrusNajmabadi @jinujoseph I think we should treat our refactorings with HighPriority to be equivalent to Code fixes for this scenario and just use "CODEFIX" as its category. I'll work on a fix on the same lines.

[2020-05-27 19:14] olegtk commented on #44594
No, the intent is to show fixes for a specific issue indicated by the squiggle. Even the link in the QuickInfo says "Show potential **fixes**". But providers are free to return any relevant suggested actions anyway.

[2020-05-27 19:18] mavasani commented on #44594
Ah, so it seems like users got into a bad habit of expecting rename tracking refactoring to show up in "Show potential fixes", and see this as a regression now.

[2020-05-27 19:35] jinujoseph commented on #44586
cc @jmarolf

[2020-05-27 19:37] #44517 closed

[2020-05-27 19:39] #44488 closed

[2020-05-27 19:45] CyrusNajmabadi commented on #44594
I actually dont' see any of the value of this behavior.  Indeed, i view it as the opposite.  I don't distinguish "refactorings" versus "fixes".  THey're all just things i want to do with the code.  When my cursor is on something, i often want to refactor it.  It may be a lower priority than potentially fixing squiggled issues, but its' no less valid to show.

I've never really understood why this

[2020-05-27 19:50] jinujoseph commented on #44541
cc @mavasani

[2020-05-27 19:53] sharwell commented on #44553
@CyrusNajmabadi Can you file this issue in dotnet/roslyn-sdk as well? The test harness here is legacy at this point and we don't want the test gap to reappear in the replacement.

[2020-05-27 19:55] alrz commented on #44591
`x! is T` is never useful (no warning to supress). I think this could be a candidate for warning waves to avoid confusion.

[2020-05-27 19:57] sharwell commented on #44556
@jcouv Can you move this to the **Next Meeting** column of the design review project when the proposal is ready to be presented?

[2020-05-27 19:57] jinujoseph commented on #44558
cc @dpoeschl

[2020-05-27 19:58] jinujoseph commented on #44560
cc @ryzngard

[2020-05-27 20:00] olegtk commented on #44594
That's all true in general for the LightBulb. But LightBulb on a squiggle is considered a more focused scenario - see a squiggle, hover, read error description, click on LightBulb, get is fixed. So it's scoped down to that particular squiggle span only, we don't want to pollute it with suggestions unrelated to one particular squiggle. Same for refactorings - there can be refactorings everywhere, b

[2020-05-27 20:03] tmat commented on #44326
@shyamnamboodiripad @Cosifne @NTaylorMullen @mgoertz-msft @CyrusNajmabadi

[2020-05-27 20:10] tmat commented on #44465
We will be able to remote this once this is implemented: https://github.com/dotnet/roslyn/issues/44326

[2020-05-27 20:15] CyrusNajmabadi commented on #44459
In your PR you mentino: > and it's questionable whether we will do this in the future.

Could you clarify this?  Why would we not do this?

[2020-05-27 20:19] sharwell commented on #44459
After discussion with @jasonmalinowski, we realized that the relative order of these keywords has _always_ applied since `using` statements and `ushort` were always allowed in method bodies.

1. A change to ordering at the top level could interfere with method bodies.
2. We have never heard reports about problems typing `using` within a method body, even though `ushort` would be preferred for the

[2020-05-27 20:29] mikadumont opened #44598 "Update help links for IDE diagnostic documentation similar to CA diagnostics"
Quick Info now displays help links for CA diagnostics:

![image](https://user-images.githubusercontent.com/46729679/83067571-bcc7e700-a01b-11ea-8067-a440134310ba.png)

It would be a good opportunity to update/fix the links for documentation for IDE diagnostics:

![image](https://user-images.githubusercontent.com/46729679/83067645-e3861d80-a01b-11ea-9dac-7264d49ac872.png)

Currently the IDE diagnos

[2020-05-27 20:30] sharwell opened #44599 "Consider clarifying IsStatementContext and IsGlobalStatementContext"
Prior to top-level statements, `IsGlobalStatementContext` implied `IsScript`. This is no longer the case, but the behavior of top-level statements is not exactly the same as C# scripts. Currently we have the following:

* `IsStatementContext`: inside the body of an anonymous function or member
* `IsGlobalStatementContext`: a statement at the top level, whether or not the file is a script
* `IsScri

[2020-05-27 20:33] CyrusNajmabadi commented on #43788
hey manish, can you see why the option isn't properly serializing over to the OOP side?

[2020-05-27 20:40] CyrusNajmabadi commented on #44459
i'm not certain i buy the premise that what happens in a method body applies to how people type outside of it.  Similarly there may be people that have never written a `using` in a method but have written hundreds of using-directives.  I do agree that `ushort` feels super unlikely to want to write, but that is even more motivation for me that it not interfere with any existing customers who might

[2020-05-27 20:45] CyrusNajmabadi commented on #43878
@sharwell You fixed the crash in CSharpCodeGenerationService.AddStatements right?

[2020-05-27 20:45] CyrusNajmabadi commented on #42927
Fixed with https://github.com/dotnet/roslyn/pull/44407

[2020-05-27 20:45] #42927 closed

[2020-05-27 21:05] allisonchou commented on #44519
This looks like the same issue as #43666. I'm also not able to get the problem to consistently repro, which has made it hard to determine the source of the issue, but added a check in #43959 to prevent the crash from happening again.

[2020-05-27 21:07] #44519 closed

[2020-05-27 21:24] jasonmalinowski commented on #38484
What seems to be happening is when the selection is moved to the `i++`, the caret ends up landing between the `i` and the `++`. That's supposed to prefer the `i` side of things when we pick which token is active, but some reason we're not here.

[2020-05-27 21:51] mavasani opened #44603 "ArgumentException in VisualBasicChangeSignatureService.GetPositionBeforeParameterListClosingBrace"
**Version Used**: Latest 16.7 dogfooding build

**Steps to Reproduce**:

Say the following exception/gold bar while typing:

[code]

[2020-05-27 21:51] mavasani commented on #44603
@dpoeschl Known?

[2020-05-27 22:18] shyamnamboodiripad commented on #44326
@tmat it may be nice to also call out how callbacks will work and how the new client side interaction with `RemoteHostClient` (and any proposed changes for `Session` objects) looks like...

[2020-05-27 22:32] sharwell commented on #43878
@CyrusNajmabadi Not sure. Need to verify.

[2020-05-27 22:50] vsfeedback opened #44605 "VS is telling me to use Configure await but i can't."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1046936/vs-is-telling-me-to-use-configure-await-but-i-cant.html)._

---
I have an abstract class (Renderer) that provides for it's child class to define a build workload ..

public Func<Task> Build { get; set; }

This workload is called at the appropriate time in a build fu

[2020-05-27 22:57] vsfeedback opened #44606 "Allow go to implementation to jump directly to the single closed-generic implementation"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1049835/allow-go-to-implementation-to-jump-directly-to-the.html)._

---
Visual Studio's "go to implementation" feature (CTRL+F12) is a time saver. But when working on applications that make heavy use of generic types, "go to implementation" pops up a list of all possible im

[2020-05-27 23:02] vsfeedback opened #44607 "Wrong indenting"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1050808/wrong-indenting-2.html)._

---
<p>Found this problem was reported before, appears to have been reported as fixed.  But it is happening again…   The title info for the original report is:</p>
<p>TITLE:  Wrong indenting<br>
DATE:  Olaf van der Spek reported 12/7/2018,

[2020-05-27 23:06] vsfeedback opened #44608 "Calculating Code Metrics Seems to be Broken"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1050804/calculating-code-metrics-seems-to-be-broken.html)._

---
When ever I try to calculate code metrics for a solution of .NET Core projects, it always fails.

---
### Original Comments

#### Visual Studio Feedback System on 5/26/2020, 07:57 PM:

<p>We have directed your

[2020-05-28 00:33] sharwell commented on #44188
@AlekseyTs Thanks for pointing that out. I need to revert that change. The compilation unit is the statement container for global statements.

[2020-05-28 01:41] ZooDoo4U commented on #44607
Hope i didn't add confusion,  Adding the comment i left on the "Developer Community"...

I'm working in a few languages and file types. C#, javascript, html, jsx, css. Normally i turn off *all* auto formatting and will normally fix up the code as desired. First thing i'll do is go in to Tool::Options then Languages and set "Indenting to" "BLOCK". I'm thinking what might be happening, and makes the

[2020-05-28 01:55] Hannosset opened #44614 "Auto Completion behavior is unexpected"
Hi,

I am working with VS2019 latest release available 16.6.0
I like the auto completion and recently it has been updated resulting in a different behavior.

I had an issue with the completion for unimported items and the completion character '>'
after disabling the completion, the behavior the content is indeed different.

...BUT...

I notice the item are sorted alphabetically and the focus is on

[2020-05-28 02:02] CyrusNajmabadi commented on #44607
@DanielRosenwasser can you port this to TS?  I'm going to close out this issue on the roslyn side as it lacks a suitable repro for us to investigate.  @ZooDoo4U if you can find a C# repro please file a new issue on this repo.  Thanks!

[2020-05-28 02:02] #44607 closed

[2020-05-28 02:04] CyrusNajmabadi commented on #44614
@Hannosset can you supply a repro file that demonstrates the issue?  it's hard to condense out what could be going on here since we only have a small screenshot of a few lines of code and cannot reinfer what the state is of hte system that this is contained in.

[2020-05-28 02:18] drewnoakes opened #44615 ""Suppress warning" actions available but have no effect during build"
**Version Used**: Version 16.7.0 Preview 3.0 [30125.18.master]

**Steps to Reproduce**:

1. Kick off a long-running build
1. See error in output, navigate to it in code
1. Forget that the build is running
1. Select one of the "Suppress" options
1. Nothing happens

**Expected Behavior**:

Either the suppress commands are hidden/disabled, or they actually work.

**Actual Behavior**:

Command is avai

[2020-05-28 03:17] Hannosset commented on #44614
Hi,

This would be impossible and illegal as the code is from the Bank and not supposed to leave the office.

I have some personal projects at home, but do not have the time to do anything on it right now.

Chris.

[2020-05-28 03:21] gafter opened #44616 "Records implementation produces properties that spec says it should not."
Regarding the spec sentence

There are a number of tests (like `Inheritance_01`) added in https://github.com/dotnet/roslyn/pull/44595 that demonstrate that the compiler produces properties that the spec says it should not.

[2020-05-28 03:24] CyrusNajmabadi commented on #44614
Ok.  I found a repro.  Here's a scenario that works:

[code]

However, this does not:

[code]

@allisonchou  do you want to take a look?  looks like we'll have to update the code that tries to pick a reasonable variable in scope to properly understand object initializers.

[2020-05-28 03:24] gafter opened #44617 "Record implementation forbids sealed Equals in base, in contradiction to the spec"
Regarding the spec sentence

However, the test `Overrides_01` in https://github.com/dotnet/roslyn/pull/44595 demonstrates that the compiler produces an error rather than omitting the methods.

[2020-05-28 03:30] gafter opened #44618 "Record property fails to override inherited abstract property"
The spec in https://github.com/dotnet/csharplang/pull/3505 says

(Emphasis mine)

However, the test `Inheritance_07` in https://github.com/dotnet/roslyn/pull/44595 demonstrates that the implementation does not obey the specification.

[2020-05-28 04:12] Hannosset commented on #44614
using System;
using System.IO;
using System.Linq;

namespace VaultExplorer.Protocol
{
	[Serializable]
	public sealed class FileItem : ICloneable
	{
		#region VARIABLES
		public DateTime _CreationTime = DateTime.Now;
		public DateTime _LastWriteTime = DateTime.Now;
		#endregion VARIABLES

		#region PUBLIC PROPERTIES
		public string Filename { get; set; }
		/// <summary>
		/// What: The length of th

[2020-05-28 04:46] vsfeedback opened #44620 "CS8602 in local function when referencing variable declared using var"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1041770/cs8602-in-local-function-when-referencing-variable.html)._

---
[regression] [worked-in:16.5]
When using a variable in a local function declared in the owning method with the var keyword you get a CS8602 Dereference of possibly null reference if the local function i

[2020-05-28 07:12] zombeek commented on #43710
For this one-liners, it would be even better just
/// description

[2020-05-28 08:15] sharwell commented on #43710
@zombeek that case looks closely related to https://github.com/dotnet/csharplang/issues/2394#issuecomment-480309557

[2020-05-28 08:22] jez9999 commented on #27712
So how can I upvote this?

[2020-05-28 09:31] alrz opened #44623 "Extension GetEnumerator doesn't work with foreach ref"
**Version Used**: https://github.com/dotnet/roslyn/commit/12cf9a4d580e9fde6a925997d9212a7af7c283b5 (extension-foreach)

**Steps to Reproduce**:

[code]

**Expected Behavior**: Should call GetEnumerator extension and use ref iterator in both cases

**Actual Behavior**: `error CS1510: A ref or out value must be an assignable variable`

[2020-05-28 09:34] alrz commented on #44623
For comparison, this works:
[code]

[2020-05-28 09:48] alrz commented on #44459
IMO `using` is far more common in top-level *and* method body than `ushort` anywhere else.

[2020-05-28 10:12] #44589 closed

[2020-05-28 10:13] CC84 commented on #37876
What is the state of this problem? I justed startet migrating rulesets to editorconfig as "highly recommended" here: https://docs.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2019
I just used the conversion by VS. This changes CodeAnalysisRuleSet to MinimumRecommendedRules.ruleset.

Now CA1014 is no longer a warning and i'm unable to change this bei editorconfig. Main

[2020-05-28 10:44] ReginaldBull commented on #42134
Hello,
Any news about this issue?

[2020-05-28 12:21] alnikola opened #44624 "Change member accessibility level"
**Version Used**:
Version 16.7.0 Preview 3.0 [30126.178.master]
**Expected Behavior**:
Refactoring command changing member accessibility level and optionally renaming it to match the new level naming scheme
Before:
[code]
After:
[code]
**Actual Behavior**:
Not implemented

[2020-05-28 12:24] alnikola opened #44625 "Move method parameter left or right with a key combination"
**Version Used**:
Version 16.7.0 Preview 3.0 [30126.178.master]
**Expected Behavior**:
Refactoring command moving method parameter left or right with a key combination (e.g. Ctrl+Shift+Alt + (->, <-)
Before:
[code]
After:
[code]
**Actual Behavior**:
Not implemented

[2020-05-28 12:25] alnikola opened #44626 "Move a type's member up or down with a key combination"
**Version Used**:
Version 16.7.0 Preview 3.0 [30126.178.master]
**Expected Behavior**:
Refactoring command moving a type's member up or down with a key combination (e.g. Ctrl+Shift+Alt + (^, v)
[code]
After:
[code]
**Actual Behavior**:
Not implemented

[2020-05-28 12:43] alnikola opened #44627 "On type rename adjust names of variables, members, inheritors and their files matching to pattern"
**Version Used**:
Version 16.7.0 Preview 3.0 [30126.178.master]
**Expected Behavior**:
The rename type refactoring command should also rename files, variables, members, inheritors of the renamed type whose old names contains parts of the original type name.
Additionally, it should fix the name of file where renamed type is implemented even if it's invoked from a different file.

Before:
[code]
Aft

[2020-05-28 13:14] Ebeid opened #44628 "Question: Building, Debugging and Testing on macOS"
This is more of a question. Is there a guide to help developers setup an environment for debugging / contributing to Roslyn from macOS ? or the Unix guide is good enough ?

[2020-05-28 14:22] mburbea opened #44629 "Visual studio suggests removing redundant parenthesis for spans that aren't redundant."
**Version Used**: VS 2019 preview 16.7

**Steps to Reproduce**:
Add the following method to a class.
[code]
Visual studio recommends removing the redundant parenthesis in the line `var span = (stackalloc byte[8]);`. However doing so leads to the following errors

**Expected Behavior**:
VS would not suggest to remove the parenthesis.

As an aside, perhaps the issue is that
[code]

[2020-05-28 14:26] mavasani commented on #37876
@CC84 Configuring no location diagnostics with editorconfig should work with the the global analyzer config support that was recently added by @chsienki with https://github.com/dotnet/roslyn/pull/43889. This should be supported in VS2019 16.7 or later

1. You need to create a new analyzer config file with the following contents:

[code]

2. Then ensure this analyzer config file gets passed to the

[2020-05-28 14:48] mavasani commented on #37876
Actually, I spoke too soon. I _expected_ that global analyzer config would have resolved this issue, but it seems that it still does not. The following code in diagnostic filter logic that looks at editorconfig for effective severity only works for diagnostics with location (needs non-null syntax tree):
https://github.com/dotnet/roslyn/blob/ffbb9c7e8f7699c3eb24fa559e6bb381f3405605/src/Compilers/CS

[2020-05-28 15:12] mavasani commented on #37876
@CC84 CA1014 is enabled as a warning by default in FxCop analyzers package. So, if you did not set any ruleset file for your project, the rule should execute fine with the default configuration.

[2020-05-28 15:20] jmarolf commented on #44586
This is related to https://github.com/microsoft/MSBuildLocator/issues/88. There is a dependency that is not being re-directed by the msbuild locator. In `dotnet format` the dependency that caused this was `Newtonsoft.Json`

[2020-05-28 15:35] jmarolf commented on #44625
@alnikola should this also update all the locations that call this method to call in the correct order?

[2020-05-28 15:35] HamedFathi commented on #44586
@jmarolf

How can I fix this issue? (Wait for a fix in `MSBuildLocator` or ...)

[2020-05-28 15:44] jmarolf commented on #44628
I would expect the unix guide to work. Please tell us if not so we can update the docs section. We should add a page for macOS users but we currently run all out test against macOS 10.14.

https://github.com/dotnet/roslyn/blob/ffbb9c7e8f7699c3eb24fa559e6bb381f3405605/azure-pipelines.yml#L232-L236

 As long as you have `git` and `curl` installed running `./build.sh --restore` should get you everyth

[2020-05-28 15:53] sharwell opened #44630 "Incomplete ref-conditionals in top-level script code are not parsed"
Two tests cases in `RefKeywordRecommenderTests` are skipped because top-level script code does not parse incomplete conditional expressions the same as other code.

[2020-05-28 16:08] sharwell commented on #44586
@HamedFathi microsoft/MSBuildLocator#88 applies to projects using custom SDKs, but does not apply to Microsoft.NET.Sdk. It looks like your code above is not installing the MSBuild Locator. You will need to update your project to use it. See the following for details:

https://docs.microsoft.com/en-us/visualstudio/msbuild/updating-an-existing-application?view=vs-2019#use-microsoftbuildlocator

[2020-05-28 16:20] alnikola commented on #44625
It's nice to have as an option, but not required.

[2020-05-28 16:27] alnikola opened #44634 "Add 'default' to generated switch cases"
**Version Used**:
Version 16.7.0 Preview 3.0 [30126.178.master]
**Expected Behavior**:
Add `default` case throwing `NotImplementedException` or `ArgumentOutOfRangeException(nameof(argument))` for generated cases of a switch block

[code]
**Actual Behavior**:
`default` is missing.
[code]

[2020-05-28 16:30] HamedFathi commented on #44586
@sharwell

Thanks, Based on your guidance I add these

[code]

And

[code]

But I got another error

[code]

Did I miss something else?

[2020-05-28 16:41] prejedj commented on #31618
So this is still an issue? Really? Even MS documentation shows users how to use the returns tag without specifying you need a tool like resharper just to see it...

[2020-05-28 16:52] Youssef1313 opened #44635 "Inaccurate error message"
**Version Used**:

Visual Studio 2019

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Two different errors:

1. 'Program': type used in a using **statement** must be implicitly convertible to 'System.IDisposable'.
2. 'Program': type used in a using **declaration** must be implicitly convertible to 'System.IDisposable'.

**Actual Behavior**:

Same error:
'Program': type used in a using **

[2020-05-28 17:05] Youssef1313 commented on #44629
Can someone assign this to me?
I wanna give it a try :wink:

[2020-05-28 17:33] chsienki commented on #37876
@mavasani What's the issue here? That we're not checking the global config for the value?

I thought that it should make it to the tree by virtue of the analyzer config set. From that point on there shouldn't be any special global config handling, no?

[2020-05-28 17:35] mavasani commented on #37876
@chsienki - The core issue is for analyzer diagnostics without location or `Location.None`. Source tree for this diagnostic will be null: https://github.com/dotnet/roslyn/blob/ffbb9c7e8f7699c3eb24fa559e6bb381f3405605/src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs#L125

[2020-05-28 17:37] agocke commented on #37876
We should put the global options that apply to all syntax trees into the SpecificDiagnosticOptions attached to the compilation, not the per-syntax tree options. This should solve the problem.

[2020-05-28 17:40] jnm2 commented on #31618
@prejedj The returns and remarks tags show in IntelliSense as of the 16.6.0 release on May 19.

[2020-05-28 18:25] tmat opened #44639 "CodeLensCallbackListener.GetDocumentIdAndNodeAsync may throw ArgumentOutOfRangeException"
Integration tests in CI build logged an error in CodeLens service hub log:
https://github.com/dotnet/roslyn/pull/44512/checks?check_run_id=714386342

[code]

Added a workaround to `CodeLensCallbackListener.GetDocumentIdAndNodeAsync`, but the code needs to be reviewed to determine if there is a deeper issue.

[2020-05-28 18:27] CyrusNajmabadi commented on #44614
Definitely.  Looking now.

[2020-05-28 18:31] CyrusNajmabadi commented on #44614
I can't repro the MessageB issue:

![image](https://user-images.githubusercontent.com/4564579/83179306-b0ed2b00-a0d6-11ea-8fac-027104c7a700.png)

[2020-05-28 18:36] CyrusNajmabadi commented on #44614
Here's what i see for `Length = new F`:

![image](https://user-images.githubusercontent.com/4564579/83179829-67511000-a0d7-11ea-8ead-2b094fa18f13.png)

However, it's unclear to me what would be preferred here. `Length` is an `int`, and there's not really anything suitable for us to preselect with `new F` that i can think of.  What would you have preferred to have selected here?

[2020-05-28 18:38] CyrusNajmabadi commented on #44614
For the last piece i see:

![image](https://user-images.githubusercontent.com/4564579/83179956-91a2cd80-a0d7-11ea-9cf5-775997efe6b6.png)

However, this makes sense (and has been behavior we've had for 15 years).  `Attributes` is of type `FileAttributes`.  So we preselect that on the right as it's highly likely you're going to write something like: `Attributes = FileAttributes.ReadOnly | FileAttrib

[2020-05-28 18:40] CyrusNajmabadi commented on #27712
Use the thumbs-up at the top:

![image](https://user-images.githubusercontent.com/4564579/83180265-07a73480-a0d8-11ea-9754-b7e35216b97f.png)

[2020-05-28 18:54] CyrusNajmabadi commented on #44634
This can be done with our code-refactorings:

![image](https://user-images.githubusercontent.com/4564579/83181554-e8110b80-a0d9-11ea-9a10-91c51c48a184.png)

I think we would likely take a PR that augumented to this to offer to add a throwing version as well.

[2020-05-28 18:55] CyrusNajmabadi commented on #44635
This doesn't actually seem like it would warrant a different error message.  The error seems totally clear.

[2020-05-28 18:55] CyrusNajmabadi commented on #44629
@Youssef1313 Feel free to just create and submit a PR thanks :)  Ping me when you do and i'll take a look.

[2020-05-28 18:58] Youssef1313 commented on #44635
It'd be better to have accurate error messages. If not two different messages, I suggest the current message changes to:

'{typeName}': type used in a using statement or declaration must be implicitly convertible to 'System.IDisposable'.

[2020-05-28 19:02] CyrusNajmabadi commented on #44635
I don't think there's anything really inaccurate about the error message.  There's nothing confusing or strange about it.  From a user's perspective, this is just a using statement.  It's got he using, it's got the variable, it's got the expression initializing it.  It's a using statement.

Furthermore, the error really has nothing to do with the statement/declaration distinction.  If it did, then

[2020-05-28 19:10] prejedj commented on #31618
Wow @jnm2  Perfect timing! Just updated my VS and sure enough, returns is there. Thanks 👍

[2020-05-28 19:15] prejedj commented on #31618
Now what do we do about the other tags? such as <example>?

[2020-05-28 19:16] StarTrekRedneck commented on #43585
I can also confirm the issue presents when returning focus to VS from a completed console app. In my case, it's a C# console app project that merely does a Console.ReadLine(); hitting 'Enter' allows the application to complete, but when focus is returned to the C# text editor, the cursor is gone. I can evidently still move the invisible cursor around, Backspace, Tab, Enter, and navigation keys wor

[2020-05-28 19:49] clairernovotny commented on #43476
Jared answered in the PR, master goes to both 5.0.xxx and 3.1.xxx branches, so the answer is yes.

[2020-05-28 20:05] jnm2 commented on #31618
I think you might need to type \\\<abc> or use backticks that markdown doesn't eat the tag.

[2020-05-28 20:08] prejedj commented on #31618
Ha, sure enough! sorry. should have previewed first. I am referring to the \<example> tag

[2020-05-28 20:12] JoeRobich commented on #44628
One thing to note is that the [./build.sh targets the Compilers.sln](https://github.com/dotnet/roslyn/blob/master/eng/build.sh#L213) since many projects in Roslyn.sln require Windows to build.

[2020-05-28 20:40] jrmoreno1 commented on #15201
I may be the only person since Cyrus to try this, but I just spent a fair amount of time trying to figure out where I had gone wrong, as I took the "Solution" button at it's word.

[2020-05-28 20:47] mgoertz-msft commented on #44326
@tmat Looks great, so in theory if we were to make `ISolutionProvider` and `PinnedSolutionInfo` public the server would no longer need any IVT access to Roslyn for anything. Are there any parts of the remoting infrastructure in ServiceBase/EndPoint worth sharing though?

[2020-05-28 20:53] RikkiGibson commented on #43883
Fixed by #43582

[2020-05-28 20:53] #43883 closed

[2020-05-28 20:55] RikkiGibson commented on #39275
IIRC this is caused by some unescaping performed by Xunit.

[2020-05-28 21:36] sharwell commented on #31618
I don't think Quick Info is the right UI for examples, but as an author of some long examples I agree it would be nice if users could see them.

[2020-05-28 21:46] Hannosset commented on #44614
Check your configuration of Intellisense please...
Previously, I did not have the option 'Show items from unimported namespaces', it was doing it 'naturally' but not proposing it as a default...

I would recommend to set up a basic bayesian network and decision graph to assist sorting the proposed item with relevances using a bucket list for the characters typed by the end-user.

You probably have

[2020-05-28 21:51] Hannosset commented on #44614
I am sorry but proposing the FileAttribute in a **cloning function** makes no sense. Please reconsider and ask yourself if you want to clone a object and make it different, you obviously would not call it a clone.

Previously, the cloning displayed the members in a vis-a-vis immediately, and only in this example entering 'F' would then propose FileAttributes because Filename is already cloned and

[2020-05-28 21:55] jnm2 commented on #31618
Maybe have a link to expand quick info or open a popup?

[2020-05-28 21:59] Hannosset commented on #44614
Regarding this topic, we clearly have here and advanced issue to solve.

The LHS type is long therefore the RHS should also end up being a long.

New would involve a high probability of an object => look in the available object list from the current object, the included namespace, included external modules that have no namespace that are part of the solution.

List all the long types starting with

[2020-05-28 22:00] mikernet commented on #31618
I think it should just open a tab with the full documentation and render it MSDN style

[2020-05-28 22:02] jnm2 commented on #31618
So an `Open to see example in Object Browser` link?

[2020-05-28 22:06] liqube commented on #43585
This perfectly sums it up.

[2020-05-28 22:14] sharwell commented on #44586
I haven't seen that error before. @jmarolf ?

[2020-05-28 22:23] tmat commented on #44326
Yes, but the service might potentially also need other internal Roslyn APIs depending on what the service is doing.

Not on the server side. The client will still need to use Roslyn's internal `RemoteHostClient` class to invoke remote services that require the solution snapshot.
A major problem right now is that the remote solution snapshot is mirrored from devenv. So, any remote service that need

[2020-05-28 22:30] sharwell commented on #44614
Can you clarify the relation between these two statements? At first read, it looks like a request to turn off a feature but then expect it to still be operational. I'm guessing that's not what the intended meaning was but I'm not sure what the specific request is.

Is there a reason you can't type `FIt` here? Under the rules you mentioned, typing `F` or `FI` would select `FileInfo`, so I can't thi

[2020-05-28 22:36] sharwell commented on #44614
The filtering, ordering, and selection algorithm is extremely complicated, and needs to exhibit three behaviors above all else:

1. It must be fast (observably "instant")
2. If you type valid code, it must not replace that valid code with anything else (there are a few known exceptions to this rule where we retained behavior that is 10+ years old so we don't break muscle memory, but new exceptions

[2020-05-28 22:50] CyrusNajmabadi commented on #44614
yes.  that is correct.  Because `MessageBox` is not in scope.  But i have the option checked that says "still offer items not in scope, but add the import when i select it" so that i can see these guys.  If you have that option *not* selected, you're effectively saying "do not offer items not in scope to me".  In which case, this behavior would be expected.

[2020-05-28 22:54] CyrusNajmabadi commented on #44614
1. This has been our behavior since around VS2005.  I believe that's the release in which we started preselecting enums based on context as they seemed highly likely to be what users would want.  AFAICT, you're the first person to report an issue on *not* wanting this.
2. I see now what you're asking for.  However, that sort of expectation is extremely subtle and it's unclear to me how we infer an

[2020-05-28 22:57] CyrusNajmabadi commented on #44614
yes.  but i don't actually get any sense that your proposed algorithm improves on things.  i.e. i don't get any sense that following this will produce higher quality results more often than it produces more unexpected results that confuse people.

Completion attempts to work in a consistent fashion, and ideally in one that people can intuit the behavior for.  It also needs to do that work in a ver

[2020-05-28 22:59] CyrusNajmabadi commented on #44614
I would agree on this in many cases.  Though the IDE has a few that can generally be trusted upon.  The enum case is one of those in particular (as is completion after `new`).  In those cases, for enums, or concrete types, you should be able to trust that you actually don't need to type anything more than `<space>` to get the right result.

[2020-05-28 23:01] Shrp77AS opened #44650 "vstemplate file reference not found"
I installed the .Net Compiler SDK in the latest (5/28/2020) version of the VS Installer (running 2019 Pro).

When I try to create an _Analyzer with Code Fix (.Net Standard)_ project, I get an error message:

The vstemplate file references a project file
'C:\Users\axxxxxxx.YYYYYYYYYYYYYY\AppData\Local\Microsoft\VisualStudio\16.0_88b5b846\VCT\301b61edb0c5c9d2311f6aa0344af430\~PC\CSharpDiagnostic\CSh

[2020-05-28 23:02] CyrusNajmabadi commented on #44614
I'm honestly pretty skeptical of that.  Note that enums, in particular, are considere very special as our investigations showed that the vast majority of code assigning to an enum did so by immediately referencing the enum type (including in object initializers).

Now, there may be a subtle tweak here if you instantiating an instance of your containing type in one of your instance methods.  Howeve

[2020-05-28 23:11] Hannosset commented on #44614
Related to the feature. It is apparently a new feature and experimental.
In the 16.4 release, the auto completion proposed automatically when entering 'MessageB' the MessageBox object from Forms and proposed to add the using System.Windows.Forms.
Since 16.5 it appeared to have disappeared. Now an new option allows to add much more and a lot of unexpected items in the proposal list. This is why Gen

[2020-05-28 23:12] tmat commented on #40476
@CyrusNajmabadi @jasonmalinowski @sharwell Please review the above proposal and lmk if you have any feedback.

[2020-05-28 23:17] CyrusNajmabadi commented on #44614
I'm really not certain what this part is trying to say.

[2020-05-28 23:19] CyrusNajmabadi commented on #44614
In the 16.4 release, the auto completion proposed automatically when entering 'MessageB' the MessageBox object from Forms and proposed to add the using System.Windows.Forms.

These are the same feature.  We added the completion feature (based on very high demand) to optionally provide options in the completion list for types not currently in scope, which woudl then add an import when selected.

Ge

[2020-05-28 23:21] sharwell commented on #44650
@mavasani have we deprecated the extension in the gallery yet?

[2020-05-28 23:23] CyrusNajmabadi commented on #44614
The completion list pops up to help you type, and to do things like match things like camelcase typing as well as searching/filtering.    It's not telling you "you should use FieldAccessException here", its saying:

This has been the MO for completion since practically day one :)  It's for browsing and finding and quickly completing to the item you want.  Over time it has built up certain smarts a

[2020-05-28 23:25] CyrusNajmabadi commented on #44614
Here's the dilemma.  You clearly want the feature in *some* contexts.  i.e. you typed MessageB, hoping it would offer MessageBox to you (including adding the import for it).  However, in the linked developercommunity issue that very same behavior was something you did not want.  i.e. you wanted to type FileSystem but *not* have it pull in some type that matched that prefix.

This is hard to have "

[2020-05-28 23:26] gafter opened #44651 "Native integral types not accepted as enum base type"
The spec at https://github.com/dotnet/csharplang/blob/master/proposals/native-integers.md says

But that does not work:

[code]

[2020-05-28 23:29] cston commented on #44651
See also https://github.com/dotnet/roslyn/issues/44110.

[2020-05-28 23:35] CyrusNajmabadi commented on #44614
No worries. It's been great hearing your feedback :)

[2020-05-28 23:58] 333fred commented on #44628
Yeah, the setup on Linux/MacOS is pretty straightfoward. We do have a number of vscode tasks that can help ease development, including building particular parts of the environment or running tests in context.

[2020-05-29 00:03] mavasani commented on #44650
Which extension?

[2020-05-29 00:04] Hannosset commented on #44614
Well you do not need to build a whole Bayesian tree though, something similar with the top 10 most probable items based on some basic logic should be more than enough to make the developer happy in more than 86% of the cases.

Bucket list are an easy way to build what you need in a reasonable time frame. Indeed having the 0 char bucket proposing based on the context and the type a small list of th

[2020-05-29 00:07] CyrusNajmabadi commented on #28343
This makes me sad.  can we do this?

[2020-05-29 00:07] CyrusNajmabadi commented on #28343
tagging @DanielRosenwasser  for visibility to see if this has been done for TS.

[2020-05-29 00:13] DanielRosenwasser commented on #28343
I dunno what's happening here. Maybe @uniqueiniquity does.

[2020-05-29 00:19] uniqueiniquity commented on #28343
This makes me sad too. 😄
We have moved to the interface with the horrible name.

[2020-05-29 00:19] Hannosset commented on #44614
I do not see that option...
"still offer items not in scope, but add the import when i select it"
Where is this located?

[2020-05-29 00:20] Hannosset commented on #44614
I was reacting to the below comment
A parameter or local named property with the same type as Property
this.Property (with or without qualification)

[2020-05-29 00:26] Hannosset commented on #44614
I am confused as previously (16.4) the namespace was proposed once the word was auto completed or typed. And all was working very well because you know what namespace you want to use or not. The lit lamp on the left side is very useful and allow you to have full control of what is happening.
For the record, I never never want a namespace to be added automatically without my specific consent the it

[2020-05-29 00:34] Hannosset commented on #44614
Well previously, I had the feeling and the impression the auto completion was 99.99% understanding me and I relied on it very much. It corrected some typos, like 'atri' instead of 'attri' except if I have a variable named atrium (lol) - but was really simply proposing what is most likely to be typed and honestly my programming style hasn't drastically changed, so I suspect the engine behind the au

[2020-05-29 00:37] CyrusNajmabadi commented on #44614
![image](https://user-images.githubusercontent.com/4564579/83208179-e0695b00-a109-11ea-8d37-1c932501b9d6.png)

[2020-05-29 00:37] CyrusNajmabadi commented on #44614
I saw that.  I'm still not sure what you're trying to say.  :)

[2020-05-29 00:39] Hannosset commented on #44614
Strange, it was working before... this is why I am confused now. I got the feeling I am coming from another parallel dimension where the auto completion was behaving differently or I may become senile slowly lol.
I do remember that from 2005 and loved it at the time. I do also remember having a chat with a spectrum specialist at VS in 2000 and we were talking about how to build the auto completion

[2020-05-29 00:39] CyrusNajmabadi commented on #44614
I think you're talking about two separate things:

1. completion lists.
2. lightbulbs.

The lightbulb still exists, and will offer to add the using for a type *if* you fully type it.  i.e.:

![image](https://user-images.githubusercontent.com/4564579/83208293-21616f80-a10a-11ea-8209-884c82f61c03.png)

However, this is for completed stuff, and not incomplete terms like "MessageB" in your example.  T

[2020-05-29 00:40] CyrusNajmabadi commented on #44614
Here's the issue: how do you define *the most probably 10-20 items"?  If we knew how to do that, while meeting the other constraints above, we would do that :)

[2020-05-29 00:43] CyrusNajmabadi commented on #44614
It really hasn't.  It's effectively teh same engine and logic system offering hte items as before.  We did add the following:

1. show items from unimported namespaces.  But you turned that off.
2. occasionally preselect a local/parameter in scope if it matches the type of the immediate context (i.e. prselected `cancellationToken` if you have one in scope and you need to pass one in the current ar

[2020-05-29 00:45] CyrusNajmabadi commented on #44614
I really don't know how or why that woudl have worked.  I've worked on intellisense since VS2002.  I don't recall us ever having anything to offer `Attributes` to you after `Attributes = ...`.  Indeed, the set of things we preselect after `<space>` is extremely tiny (primarily due to there being not enough signal to garner intent, and not wanting to interfere with what the user might be intending