[2018-01-31 15:17] VektorPixel commented on #24308
I was able to reproduce it, but only in VB.NET.
I hope this issue will get some attention.

[2018-01-31 15:48] sharwell commented on #24503
@velociwabbit Keep in mind that questions about code style are not intended to get you to change code style. We want the IDE to work with whatever style you are comfortable with. The questions were simply intended to help create a scenario as close to yours as possible so we can observe (and then fix) the scenario matching your current experience.

[2018-01-31 15:51] velociwabbit commented on #24503
Once again I apologize for the inappropriateness of my rant... but if there are any others that agree with me perhaps we can form a support group (cheaper than therapy!)

[2018-01-31 15:54] sharwell commented on #24503
@velociwabbit The rant doesn't bother me. It sounds like you spend a good portion of your day working with VS and it's natural to feel passionately about something you have so much experience with. Just remember that other readers can't see the messages you sent privately (or their responses), so they won't be aware of any steps we take to help you unless you comment about that part too. 😄

[2018-01-31 15:59] velociwabbit commented on #24503
To be honest this is the first time in ages i have tried to work with MS on anything ... and i am very very impressed with both the turnaround time and degree of professionalism.  (Two statements that would have been heresy 10 years ago.  ). And directly because of this i am going to try Azure for my next  app... I am using aws and frankly the aws documentation appears to have been written by some

[2018-01-31 16:28] moogle001 commented on #19127
Can someone please explain how to use this feature? There is no documentation on how one is supposed to turn on embedded source files through a project file. Looking through the various related issues, the work around stated in the original post seems to be the only solution, and Visual Studio debugger does not step into files embedded in that manner.

[2018-01-31 16:49] jnm2 commented on #19127
Until VS 15.6 is released, the workaround at the top (or @ctaggart's EmbedAllSources nupkg) are the only ways to make this work. Only VS 15.5 and up understand embedded source.

[2018-01-31 17:03] gafter commented on #15939
@AndrewKoransky We have not heard from you in a year. Please reopen if that did not address the issue for you.

[2018-01-31 17:03] #15939 closed

[2018-01-31 17:39] Neme12 commented on #23030
@sharwell I'd love to give it a try but I'm a little discouraged by the fact that it takes me about 10 minutes to load the whole solution including all the package restores until VS becomes at least a little responsive, and even then being VS extremely slow, frequently freezing and sometimes just giving up entirely and hanging until I kill it manually, or the time it takes to build & run or the 90

[2018-01-31 18:15] moogle001 commented on #19127
Thank you @jnm2; based on the close date for #23656 I thought it was already in Visual Studio. Now to figure out why VS 15.5 won't step into DLLs using the work around...

[2018-01-31 18:19] gregg-miskelly commented on #19127
@moogle001 are you getting a prompt to find source for the frame? Or does the debugger not step in at all? If the later, make sure have enabled "Suppress JIT optimization on module load", and if the dll is still optimized after that (because it loads before the debugger attached or is NGen'ed), turn off Just My Code as well. Then make sure symbols are actually loaded.

[2018-01-31 18:24] jinujoseph opened #24560 "Enable Rename file to match class name feature for .Net Core projects"
context https://github.com/dotnet/roslyn/issues/16546
cc @davkean , not sure if this belongs to project system or here.

[2018-01-31 18:30] #21097 closed

[2018-01-31 18:30] #24286 closed

[2018-01-31 18:51] moogle001 commented on #19127
@gregg-miskelly Yes, the debugger asks me to find the source file on disk. I currently have "Enable Just My Code" off, and tried turning on "Suppress JIT optimization on module load", to no avail.

This is what I have in my csproj:
`  <PropertyGroup>
    <DebugType>embedded</DebugType>
    <DebugSymbols>true</DebugSymbols>
  </PropertyGroup>
`

`  <Target Name="PopulateEmbeddedFiles" AfterTargets=

[2018-01-31 18:54] VanKrock opened #24561 "Intellisense propose generic extension for all types if T not resolved"
**Version Used**:  15.5.6

Intellisense propose generic extension for all types if T not resolved

**Steps to Reproduce**:

[code]

[code]

**Expected Behavior**:
Intellisense propose Set only for `ISettable<>`
ideally `Set(string value)` for `ISettable<string>`, `Set(int value)` for `ISettable<int>`

![vs2017expected](https://user-images.githubusercontent.com/3887988/35640918-70405574-06e0-11e8-9

[2018-01-31 19:02] Jinhuafei commented on #21627
@WimBoom do you have repro steps?

[2018-01-31 19:22] gregg-miskelly commented on #19127
@moogle001 it sounds like the debugger isn't finding your sources. Unfortunately I am not aware of a nice easy tool to check. You could try adding this to your project:

[code]

[2018-01-31 19:25] gregg-miskelly commented on #19127
@moogle001 actually wait, I think this is probably the problem -- `(No checksum.)`.

Did you disable checksums in the IDE or did you turn off checksum generation in the compiler? I don't believe embedded sources are supported without checksums.

[2018-01-31 19:25] ctaggart commented on #19127
Try this:
[code]

[2018-01-31 19:26] gregg-miskelly commented on #19127
@ctaggart this is embedded sources, not source link. Will that print embedded sources too?

[2018-01-31 19:27] ctaggart commented on #19127
@gregg-miskelly Yes, it prints `embedded`.

[2018-01-31 19:48] WimBoom commented on #21627
@Jinhuafei I have sorted it out further the problem, maybe it is a third party nuget. With this msbuild in the target file:

  <Target Name="CopyAPPFilesToWebRoot" BeforeTargets="AfterBuild">
    <PropertyGroup>
      <APPFilesFolder>$(MSBuildThisFileDirectory)..\APPFiles\</APPFilesFolder>
    </PropertyGroup>
    <ItemGroup>
      <APPFiles Include="$(APPFilesFolder)**\*" Exclude="$(APPFilesFolde

[2018-01-31 20:42] alrz opened #24563 "IntelliSense: suggest direct enum members where can be inferred"
[code]
Autocomplete should suggest `E.A`, `E.B`, ... in the following cases
[code]
etc.

[2018-01-31 21:11] sharwell commented on #23030
@Neme12

This is pretty much my focus, and I'm not the only one working to fix this. 😄

Here are some tips to improve the experience in the meantime:

1. Use 15.6 Preview 3 (the latest public preview)
2. Make sure to start working with one of the recent branches - we recently disabled the NuGet restore in the IDE while we improve its performance
3. Disable source-based test discovery - this should

[2018-01-31 21:13] sharwell commented on #24563
Duplicate of #19506

[2018-01-31 21:13] #24563 closed

[2018-01-31 21:18] alrz commented on #19506
That's too much typing compared to just clicking arrows and selecting the member.

I see this as an alternative to a language feature that allows `FooBar x = Foo;`.

[2018-01-31 21:21] vsccarl opened #24565 "VS crashing when clicking on Intellisense in Immediate window"
**Version Used**:
d15.6\27329.01 with [olegtk/FixIntellisenseInImmediate](https://github.com/dotnet/roslyn/tree/dev/olegtk/FixIntellisenseInImmediate)
Roslyn 2.7.0.6252601
**Steps to Reproduce**:

1. Create a new VB Console App
2. Add
[code]
3. Set a breakpoint on line 6 `End Sub`
4. F5
5. Open immediate window and start typing `num` to bring up intellisense
6. Double click on `number` in intellis

[2018-01-31 21:40] jaredpar commented on #23030
90 minutes from the command line is way too high. Should be around 13-15 minutes on a decent dev machine 20 on a slower one. Unit Tests should never drift anywhere near the 90 minute mark.

[2018-01-31 21:41] CyrusNajmabadi commented on #24561
@gafter I can see why this would happen.  The IDE just calls: ```LookupSymbols(..., includeReducedExtensionMethods: true)```.  This is clearly a reduced extension method that the compiler would certainly consider.  However, the candidate is not viable as the instantiation of T doesn't match the constraint.

I can see this being a generally difficult issue is we're working with incomplete informati

[2018-01-31 21:42] sharwell commented on #23030
@Neme12 How were you running the tests that took 90 minutes?

[2018-01-31 21:47] moogle001 commented on #19127
@gregg-miskelly Where would checksums be disabled in Visual Studio? I am not familiar with that aspect of the build process.

@ctaggart When I attempt to run the command you suggested I get 'No executable found matching command "dotnet-sourcelink"'; is SourceLink installed separately from VS? I have dotnet runtime and sdk installed.

[2018-01-31 21:48] Neme12 commented on #23030
@sharwell By running `Test.cmd`. I guess my laptop is just too slow, I wouldn't call it a decent dev machine. (I never thought I'd need so much processing power for writing code)

[2018-01-31 21:52] gregg-miskelly commented on #19127
@moogle001 Make sure that 'Tools->Options->Debugging->Require source files to exactly match the original version' is checked.

[2018-01-31 22:17] Neme12 opened #24566 "[Feature Request] Colorized error messages in the IDE"
As you can see in the picture, types can get pretty complicated and I think it would be nice to make them (and other code snippets from error messages) semantically colorized in the IDE. It would make them easier to mentally parse and help distinguish between namespaces, types, keywords and now tuple element names. Is that a crazy idea?

![error](https://user-images.githubusercontent.com/11444821/

[2018-01-31 22:21] JosefPihrt opened #24567 "FatalExecutionEngineError when renaming type parameter"
**Version Used**: VS 15.5.6

**Steps to Reproduce**:

Rename T1 (by clicking F2)

[code]

**Stack Trace**:

[code]

Also when I try to find all references for `Bar` Visual Studio shows no references.

[2018-01-31 22:24] Jinhuafei commented on #21627
@WimBoom  there is a task, KillProcess, defined in Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props. You can use that to kill VBCSCompiler.exe.

[2018-01-31 22:29] nikolami commented on #24503
re: report problem auth:
@velociwabbit wrote: ...if someone was willing to take the time to report a problem that any security to stop that process would not be in the interest of MS or or vs. Why have security on reporting problems full stop?

Very good question. We just discussed it again on the Feedback team.
For customers submitting sensitive information (crash dumps, logs) authentication help

[2018-01-31 22:35] vsccarl opened #24568 "Exception on Go To Definition in WPF InitializeComponent()"
**Version Used**:
d15.6\27330.01
**Steps to Reproduce**:

1. Create a new C# WPF App
2. Open MainWindow code file
3. On `InitializeComponent();` Peek Definition
4. On `InitializeComponent();` Go To Definition

**Expected Behavior**:
The file containing the call is opened.
**Actual Behavior**:
An exception is hit:

Log:
[code]

Peek definition works correctly, and this only seems to impact WPF apps

[2018-01-31 22:39] 333fred opened #24569 "Expose IsPreprocessorSymbolDefined"
For https://github.com/dotnet/roslyn-analyzers/issues/1241 (and similar analyzers looking for empty method bodies), we need to be able to tell whether the method body in question is conditionally included, so we don't flag methods that only contain `Debug` calls that are wrapped in `#if DEBUG` directives. Currently, we have an API that could provide this information, http://source.roslyn.io/#Micro

[2018-01-31 22:52] tyrotoxin commented on #1410
I would recommend to use the AsyncEnumerator library. Example:
[code]

You can find more on [GitHub page](https://github.com/tyrotoxin/AsyncEnumerable), and use it via [NuGet package](https://www.nuget.org/packages/AsyncEnumerator/).

[2018-01-31 22:53] AdamSpeight2008 commented on #24478
@jasonmalinowski Make is simpler to find when filling in bug report / issue, which version you used.
Especially if you've switched branches (which maybe currently behind the bleeding edge latest version).

[2018-01-31 22:55] olegtk commented on #24565
Note: it also repros in VS 15.5 so it's not a recent regression.

[2018-01-31 23:04] gundermanc opened #24571 "Facilitate cross component debugging by deploying to standard 'Exp' hive"
**Version Used**:
~2.7

**Steps to Reproduce**:

1. Open Roslyn solution in one instance of VS
2. Open VS Editor solution in another instance of VS
3. Launch Roslyn F5 instance
4. Launch Editor F5 instance
5. Debug changes

**Expected Behavior**:
Roslyn and Editor should both be deployed to the same VS instance (root suffix hive) in order to facilitate cross component debugging in the same machine

[2018-01-31 23:22] AdamSpeight2008 commented on #24571
May also solve #24180

[2018-01-31 23:31] AdamSpeight2008 commented on #24499
@sharwell Generally speaking anything that involves formatting should under a user changeable option.

[2018-02-01 00:16] AmadeusW commented on #24180
@AdamSpeight2008 to get the instance (e.g. `15.0_e0227681`), read `InstallationID` from `devenv.isolation.ini` which is next to `devenv.exe` (VS process name)
You may also use the [VS Helper tool](https://github.com/amadeusw/vshelper) (and its source code) to get specific installation's command line etc.

[2018-02-01 00:27] heejaechang opened #24574 "add [Obsolete] and checkin VS side change for this change - https://github.com/dotnet/roslyn/pull/24512"
https://github.com/dotnet/roslyn/pull/24512 added shim and it require vs side change (https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/101822?_a=overview)

make sure to add [Obsolete] to shim once vs side change is in.

[2018-02-01 00:36] moogle001 commented on #19127
@gregg-miskelly That did it! Thank you so much. I had that off due to trying to work with symbol source servers, and had no idea it was related to embedded files.

[2018-02-01 00:48] JieCarolHu commented on #24262
Thanks for the repro, I am looking into it.

[2018-02-01 00:54] jasonmalinowski commented on #24478
@AdamSpeight2008 If it's a local run the sha1 and version aren't really guaranteed to be anything meaningful. Any reason you can't just `git show HEAD` when filing?

[2018-02-01 02:50] velociwabbit commented on #24503
Another alternative is to inform the user that the report submittal is not
secure and if they would like to ensure security / authentication that they
would have the option of logging in another time... that way you dont turn
every user into  a larger ponderous corporate user.

optimizing for the extreme guarantees alienation of the majority ...  (not
to make this a political statement of sorts :)

[2018-02-01 03:23] tannergooding commented on #24571
We used to have logic (which still exists in other repositories, but looks to be missing from Roslyn) which allowed you to override the `VSSDKTargetPlatformRegRootSuffix` from RoslynDev (by passing a `/rootSuffix <hive>` parameter to the build script).

IMO, that is the better route overall. Roslyn will be contained by default, but users who want to test components SxS can build and deploy to what

[2018-02-01 03:26] AlexanderMorou opened #24575 "Refactor: Rename - Renaming to Discard doesn't report 'Invalid Identifier'"
**Version Used**:
- Visual Studio 15.5.5
- Project [Advanced Build Settings] - Language Version: C# latest major version (default)

**Steps to Reproduce**:
1. Using the two statements below:

        var (a, b) = (3, 4);
        Console.WriteLine(b);
2. Refactor `b` to `_`
3. Refactor window does not properly indicate that `_` is not a valid identifier.

**Expected Behavior**:
Refactor Rename shou

[2018-02-01 03:26] tannergooding commented on #24571
@jaredpar, do you remember when/why we removed the ability to override the target hive?

[2018-02-01 04:35] dwalleck commented on #23030
Sorry I'm dragging on this. Who thought coding with a newborn around would be difficult? :-) I have a few questions that I'm trying to find the time to put together in sensible form. For the sake of expediency, if I can't get this knocked out in the next day or two would it make sense to let @Neme12 proceed with their solution?

[2018-02-01 04:49] Quppa commented on #24542
As a general comment it's disappointing that 2 of the last 3 minor releases (15.5 and previously 15.3 - see https://github.com/dotnet/corefx/issues/23229) have broken our (not particularly exotic) solution. This sort of issue means we need to be very careful about updating Visual Studio as there is no way to downgrade.

[2018-02-01 05:08] tmat commented on #19127
@gregg-miskelly Why does the setting "Require source files to exactly match the original version" affect embedded sources? We need to reduce the friction.

[2018-02-01 05:37] #16322 closed

[2018-02-01 05:46] jmarolf commented on #24503
A similar issue was also reported here: https://developercommunity.visualstudio.com/content/problem/191828/editing-typescript-files-roslyn-performance-issues.html

[2018-02-01 06:30] gafter commented on #24488
@alrz I don’t understand what the intended semantics would be for an arbitrary node.

[2018-02-01 06:46] gregg-miskelly commented on #19127
@tmat because the way we layout the embedded source file to a temp location requires checksum data. Maybe we could request it anyway, though I suspect very few people turn that option off.

[2018-02-01 06:50] jnm2 commented on #19127
I've turned it off even just for code within the solution when a race condition happened between building and saving a new edit and I didn't feel like starting the debugging session from scratch.

(Such race conditions are more frequent than they used to be with .editorconfig settings being applied via direct save but not via the save that happens when you build.)

[2018-02-01 07:25] alrz commented on #24488
They would be used as the bounds of the region, for example,
[code]
Returns the analysis result for the following region:
[code]

[2018-02-01 09:54] Neme12 commented on #24034
A separate refactoring would definitely be nice and useful on its own.

[2018-02-01 11:11] Neme12 commented on #23030
The first half of the tests takes 10 minutes and the rest takes at least another hour - they seem to get progressively slower. Is that normal? What's weird is that the test summary shows a run time of only about 12 minutes and a finish time an hour earlier (as if it only took 12 minutes). When running them, they take up so much CPU usage that the whole OS struggles to stay responsive, so the probl

[2018-02-01 11:34] AdamSpeight2008 commented on #24180
Thanks @AmadeusW I look in to that. I'll wait to see if the solution to #24571 fixes the issue.

[2018-02-01 11:58] Neme12 commented on #20983
I couldn't find any interface that would abstract over BaseMethodDeclarationSyntax and LocalFunctionStatementSyntax. Is there a way at all to write code that would work with both of them without duplication?

[2018-02-01 13:00] sharwell commented on #23030
@dwalleck My suggestion is to take your time, but if you get to a point where you don't think you'll get to it then let us know. Currently @Neme12 is helping us with another issue (difficulty working in the project), plus we can always find new issues to help people get started whenever. The big advantage for these issues reserved for new contributors is removing pressure knowing there's no way a

[2018-02-01 14:05] Neme12 commented on #23030
@sharwell
I tried working on another issue (#20983) in the 15.6 preview and after implementing it, when I run I get some errors and exceptions. First I thought I probably caused this by my changes but the errors remain when I go back to the previous commit. Is this because of the preview?

This one when loading a project but only when debugging and can be easily skipped:
[code]

but this one happe

[2018-02-01 14:33] jbogard opened #24584 "Misleading CS1628 error message for "in" parameters"
**Version Used**: 7.2

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Error message mentioning the `in` parameter

**Actual Behavior**:

[code]

The parameter is not marked `ref` or `out`

[2018-02-01 15:35] Neme12 commented on #20983
Should this also include delegates and lambdas? 😄

[2018-02-01 15:46] jcouv commented on #24584
Tagging @VSadov @OmarTawfik

[2018-02-01 15:51] mbrierst commented on #20943
I've got the same message.  Different stack trace though:
[code]

[2018-02-01 16:17] benaadams commented on #24584
Its also incorrect as you can do some of these things
[code]

[2018-02-01 16:24] velociwabbit commented on #24503
still waiting for the nda so i can send someone my app.

[2018-02-01 16:57] jcouv commented on #24308
Investigating

[2018-02-01 17:17] AlShadi commented on #23352
`System.InvalidOperationException : Matrix does not contain Key '1A'.
   at Roslyn.Utilities.Contract.ThrowIfFalse(Boolean condition,String message)
   at Microsoft.CodeAnalysis.ExtractMethod.ExtractMethodMatrix.GetVariableStyle(Boolean captured,Boolean dataFlowIn,Boolean dataFlowOut,Boolean alwaysAssigned,Boolean variableDeclared,Boolean readInside,Boolean writtenInside,Boolean readOutside,Boolea

[2018-02-01 17:27] jaredpar commented on #24571
That decision pre-dates me. IIRC though it was done in the early days of Roslyn when we were still working things out (aka stability is not a feature you depended on). Many people in the Roslyn team also work on VS and VS extensions. Taken together it made sense to separate out the Roslyn hive because you definitely didn't want to be investigating extension / VS bugs with an alpha version of Rosly

[2018-02-01 17:49] WimBoom commented on #21627
@Jinhuafei Thanks!

[2018-02-01 17:52] gundermanc commented on #24571
That's definitely a compelling reason and the thought crossed my mind but even if Roslyn is using its own hive it can still end up with other extensions installed if it's using the standard hive reset mechanism:

    %comspec% /C "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VSSDK\VisualStudioIntegration\Tools\Bin\CreateExpInstance.exe" /Reset /VSInstance=15.0_3e76ee20 /RootSuffi

[2018-02-01 18:43] jcouv commented on #24308
I'm able to repro as well. For the record, here are the errors we get out of the compilation:
![image](https://user-images.githubusercontent.com/12466233/35696428-49d9e1dc-073c-11e8-9903-e6737a715944.png)

Note that those errors relate to problems with finding types. I don't fully understand the root cause, but @shengyfu ran into this and provided a solution:
Add the following to the `App.config`

[2018-02-01 18:46] jaredpar commented on #24308
CC @DustinCampbell

[2018-02-01 19:06] CyrusNajmabadi commented on #24503
Ping @DanielRosenwasser

[2018-02-01 19:10] CyrusNajmabadi commented on #20983
You can break teh method and local function into the parts you need to care about and then operate on those distinct pieces.  Often we use a (possibly generic) base class for this sort of common logic, and then have specific subclasses for the individual derivations.

[2018-02-01 19:29] sharwell commented on #24503
@velociwabbit There is an internal discussion going on about how to proceed. The rules recently changed so the team that contacted you is making sure they have the latest information from legal.

[2018-02-01 19:36] #7066 closed

[2018-02-01 20:01] jinujoseph commented on #24568
This fails also on 15.5 as well
And only happens if you leave the peek definition window open else  go to definition works fine

[2018-02-01 20:12] Neme12 commented on #20983
@CyrusNajmabadi Yes, I already did that, thank you.

I stumbled on a bit of an issue though. `CSharpSyntaxGenerator` doesn't know anything about local functions. I'm pretty sure I only need to change `CSharpSyntaxGenerator.WithStatements` to add a case for `LocalFunctionStatement` (I would also do `GetStatements` for symmetry) but it should probably be supported throughout the class in other place

[2018-02-01 20:19] CyrusNajmabadi commented on #20983
Yup.  That sounds right.  Looks like something we missed as we haven't had a need for it until now.

Tagging @dpoeschl .  David, we should probably update our test-pass matrix so that new language features are tested against SyntaxGenerator.  This way we update that, along with teh compiler APIs.

@dotnet/roslyn-ide   Can someone help @Neme12 out with debugging?  F5 VisualStudioSetup (or maybe you

[2018-02-01 20:21] Neme12 commented on #20983
Sorry, I misspoke. I can debug Features & CSharpFeatures but when I step into CSharpWorkspaces it says the source is different and when I hit a breakpoint anyway it's clearly on the wrong line as if that code never compiled.

[2018-02-01 20:23] CyrusNajmabadi commented on #20983
Yup.  That should all work.  Maybe try a rebuild to force that library to be rebuilt and picked up.  Note: you shouldn't have to do this.  But sometimes things break for random reason.  This might get you back into a good state.

[2018-02-01 20:24] Neme12 commented on #20983
I've been trying various things, builds and rebuilds for the last 3 hours without any success.

[2018-02-01 20:42] billti commented on #24503
If you/your company has NDA requirements, then you need to provide the NDA document outlining those requirements for us to agree to, sign, and return. We're happy to do so (assuming the requirements are reasonable) once we receive it.

You already have Sam's email, you can include me also via billti at microsoft dot com. Thanks.

[2018-02-01 22:21] pulverize commented on #23889
Not sure if our solution contains F#. It's pretty large and messy, so I wouldn't be surprised. But, this rename bug just started hitting me over the last few days and we definitely haven't added F# in that timeframe.

`System.AggregateException : One or more errors occurred. ---> Rename Tracking could not update solution.
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanc

[2018-02-01 22:52] CyrusNajmabadi commented on #20983
Yup, no clue.  Someone from @dotnet/roslyn-ide will have to help out here.

[2018-02-01 22:58] meadisu27 opened #24589 "Unable to detect if Full Code Analysis is on/off"
**Version Used**: 1.0.3

**Steps to Reproduce**:

1. In a DiagnosticAnalyzer register a analyzer callback(s) with RegisterCompliationStartAction
2. Observe callbacks don't fire with Full Code Analysis turned off.

**Expected Behavior**:
It's as expected.

**Actual Behavior**
Expose via the public api the "CSharpClosedFileDiagnostics" option so analyzer can make a decision on on how to be registere

[2018-02-01 23:02] nikolami commented on #24503
@velociwabbit - to avoid derailing the github discussion from the original issue, please feel free to ping me my github nickname at microsoft dot com. I'm open to discussing this over email (or if you report a new problem in the developer community VS forums :)

[2018-02-02 00:38] nguerrera opened #24591 "Move to a 2.1.300-preview build of .NET Core SDK"
Currently the roslyn build depends on a daily build of .NET Core SDK 2.2.0-preview.  However, following https://github.com/dotnet/designs/pull/29, the .NET Core SDK release that was going to be named 2.2 is now named 2.1.300.  So recent 2.1.300 builds are actually newer than historical 2.2.0 builds.

Roslyn moving to a 2.1.300 build helps in several ways:

1. We shouldn't reference 2.2.0 SDK in th

[2018-02-02 00:54] CyrusNajmabadi commented on #24538
This is the classic parsing ambiguity caused by 'await' being a legal name. "program.Thing.await" is a legal type name, so it looks like the declaration of a variable called "program.Thing.await program".

There is code both in the parser and in the IDE to try to detect these cases and do the right thing.  But it's tricky to get right and things like this fall out.

[2018-02-02 00:58] CyrusNajmabadi commented on #21024
It woudl certainly simplify things for you :)   But it would also add enormous cost to Roslyn :D

I wrote the original cross language converter sample.  I wrote it to make porting over code from both languages easier.  But it clearly became apparent that even with perfect info, porting over everything with correct semantics was likely never going to be possible.  If you want to write this yourself

[2018-02-02 01:01] CyrusNajmabadi commented on #24538
https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Parser/LanguageParser.cs#L6733 Is the code on teh compiler side to try to deal with this.

And https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationService.cs#L310 is the IDE code to try to handle it.

[2018-02-02 01:03] CyrusNajmabadi commented on #24559
This is how the feature works :)

That's because we couldn't find any implementations.  If we can't find any implementations there's no "source code of the requested item" we could "open" for you.

[2018-02-02 02:53] jmarolf commented on #24559
@MohammadHamdyGhanem I assume you want us to decompile the source if there is none to navigate to?

[2018-02-02 04:17] #21727 closed

[2018-02-02 04:19] jcouv commented on #21727
Fix is merged to master branch, which I expect to ship with 15.8.

[2018-02-02 06:07] jcouv commented on #24559
I suspect the suggestion is that GoToImplementation should download the open-source code (from github or elsewhere on the web, determined somehow) and open that.
For example, if you use NewtonSoft's Json.NET as a nuget package, actual source (rather than decompiled source) should be opened when you invoke GoToImplementation.

I wonder if this is something that package/library authors can already a

[2018-02-02 06:10] jcouv commented on #24542
Tagging @agocke who likely has some context on SharedCompilationId.

[2018-02-02 06:19] jcouv commented on #24537
@taori Could you share more details on repro? A minimal self-contained project reproducing the problem would be ideal.

Does the `AnalyzeDataFlow` call crash, or a later step? From your description, it sounds like step (1) crashes, and step (2) is not executed.
Could you share a stacktrace?
Does any `MethodDeclarationSyntax` cause the problem, even a simple one?

[2018-02-02 06:27] jcouv commented on #24517
If this is indeed a symptom of #20648, we'll want to move this issue to 16.0 (since that other issue is currently slated for 16.0).
Tagging @AlekseyTs as FYI

[2018-02-02 06:35] jcouv commented on #24412
`MetadataImportOptions` will be made a public API in 15.7. See https://github.com/dotnet/roslyn/pull/24468
I'll go ahead and close the issue. Thanks

[2018-02-02 06:35] #24412 closed

[2018-02-02 07:39] AdamSpeight2008 commented on #23205
An solution for the Clusivity problem of the value is give the programmer the option of prefixing it with an attribute, with the assumed default being `(In, Ex)`
[code]

[2018-02-02 07:51] AdamSpeight2008 commented on #23205
Another solution, is subtle change to the operator.

| LB | UB | Op  |  Use  | Range Values |
| -- | -- |---- |------ | ------------------------------ |
| EX | EX |`::` |`0::9` | `   1, 2, 3, 4, 5, 6, 7, 8   ` |
| EX | IN |`:.` |`0:.9` | `   1, 2, 3, 4, 5, 6, 7, 8, 9` |
| IN | EX |`.:` |`0.:9` | `0, 1, 2, 3, 4, 5, 6, 7, 8   ` |
| IN | IN |`..` |`0.:9` | `0, 1, 2, 3, 4, 5, 6, 7, 8, 9` |

[2018-02-02 08:16] ufcpp commented on #23205
@AdamSpeight2008

It's too similar to conditional operators, isn't it?

[code]

[2018-02-02 08:21] AdamSpeight2008 commented on #23205
@ufcpp
If `[  ]` are also part of the syntax then should be okay, or if parenthesis were required then there is no conflict. It is though worth looking into, even it the syntax is different.

[2018-02-02 08:56] xoofx opened #24601 "Generic extension methods with `in this` and T struct not compiling"
Case: Using generic extension method with `in this T` and where T is a struct

**Version Used**:
C# 7.2 (VS 2017 15.5.4)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

The extension method should compile.

**Actual Behavior**:

[code]

[2018-02-02 09:46] MaStr11 opened #24602 "Test localization failures on non english machines: CodeGenRefReturnTests.RefReturnLateBoundCall"
Extracted from the closed PR #24539

**Steps to Reproduce**:

Run `Microsoft.CodeAnalysis.VisualBasic.UnitTests.CodeGenRefReturnTests.RefReturnLateBoundCall` on a non-english machine.

**Expected Behavior**:

Test passes.

**Actual Behavior**:

Test fails because the `expectedOutput:="Public member 'G' on type 'A' not found."` is culture dependent.

**History**

The issue was discussed but not res

[2018-02-02 09:56] MaStr11 opened #24603 "Test localization failures on non english machines: BoundTupleExpression.Display returns a string instead a FormattableString"
Extracted from the closed PR #24539

**Steps to Reproduce**:

Run `Microsoft.CodeAnalysis.CSharp.UnitTests.OverloadResolutionTests.GenericInferenceOnInErrTuples` on a non-english machine.

**Expected Behavior**:

Test passes.

**Actual Behavior**:

Test fails for Diagnostics with a `BoundTupleExpression` because `BoundTupleExpression.Display` returns a localized string (e.g. German during the test

[2018-02-02 10:21] MohammadHamdyGhanem commented on #24559
Sorry if I was not clear. @jcouv made it crystal clear. I'm talking about all. Net open source here in github. I was dealing with the Vector<T> class. Documentsion is poor, and trying to open the html page for vector.cs here in github was a nightmare because it's huge. There is no link to download the source code of one class, or even a namespace. I only can download the CoreFX projec! So, I thoug

[2018-02-02 10:42] MohammadHamdyGhanem commented on #24559
Github can provide a search request url that accepts the full name of a class and returns the link to opebn source file containing it. This way Vs.net code editor can download the requested file and view it, eather in design mode, or in debugging mode. It will be nice if you give us the ability to choose to trace the execution of this source code or just step over it. Also, the code page that resu

[2018-02-02 11:02] MaStr11 opened #24604 "Test localization failures on non english machines: VisualBasicParseOptions.ValidateOptions localizes error argument eager."
Extracted from the closed PR #24539

**Steps to Reproduce**:

Run `Microsoft.CodeAnalysis.VisualBasic.UnitTests.GetDiagnosticsTests.CompilingCodeWithInvalidPreProcessorSymbolsShouldProvideDiagnostics` on a non-english machine. (There are more tests affected by this bug. See the original PR for details).

**Expected Behavior**:

Test passes.

**Actual Behavior**:

Test fails because [VisualBasicPar

[2018-02-02 12:01] Neme12 commented on #20983
Serious question. First I thought it would be unnecessary for lambdas but from I've read about VB, the reasoning as to why they don't have local functions is that you don't really need them, you would use lambdas in those scenarious because they aren't as limited as C# lambdas and are also optimized. So I'm wondering if it isn't a little unfair that C# would have this for local functions but VB is

[2018-02-02 14:47] vsfeedback opened #24609 "Quick Actions and Refactoring - Implementing Interface dumps a ton of "NotImplementedExceptions" after EVERY interface member"
This is pretty ridiculous. I get it, these aren't implemented, but I don't need the hassle of choosing to go through and remove every single exception or having to load the interface and copy over the member definitions. It's ESPECIALLY stupid because any getter-setter property gets two of these giant freaking exceptions for both getter and setter.

It's so bulky and stupid. I don't know who thoug

[2018-02-02 14:48] sharwell commented on #24609
This is related to #5898. Currently an option is provide to control the behavior for generated properties. This issue concerns the design and implementation of a broader option covering all generated members.

/cc @kuhlenh

[2018-02-02 14:50] sharwell commented on #24513
:link: I marked [Bc42024 Visual Basic and VB.NET unused local variable](https://developercommunity.visualstudio.com/content/problem/174841/bc42024-visual-basic-and-vbnet-unused-local-variab.html) as a duplicate of this issue.

[2018-02-02 15:00] jaredpar opened #24610 "List VBCSCompiler as a non-critical process"
Need to update our SWIX files to have the following entry:

[code]

This will allow setup to silently kill VBCSCompiler during installations vs. showing a popup to users. Need to update to the SWIX build 1.0.295 in order for this to take effect.

[2018-02-02 15:23] VSadov commented on #24601
This is bydesign. At least now. Anything that you do with ‘this’ here will have to be an interface call and thus would result in a copy.

The pattern would be nearly always a bad idea - worse than ordinary byval extension.

This is not a first bug report though. I wonder if we should change the error message or just allow this.

[2018-02-02 15:28] VSadov commented on #24601
Also curious if the error prevents some scenario, or just unintuitive.

Why is the expectation that this should compile?

[2018-02-02 15:54] xoofx commented on #24601
Sorry, I have changed `in`  by `ref`...  but not sure to understand why this is not allowed with a struct constraint?

[2018-02-02 15:56] sharwell commented on #24601
💭 I just realized that semantically this doesn't make sense unless the parameter is `ref this T thisArg`. Otherwise calling `Dispose` will not dispose the original instance.

[2018-02-02 15:57] xoofx commented on #24601
It should compile because a struct constraint will resolve to a reification of the method by the runtime, so no interface calls will be in place.

[2018-02-02 15:58] benaadams commented on #24601
But this works in 7.2?
[code]

For `in`, maybe need a `T : readonly struct` constraint?

Also accessing fields would be ok, so maybe warning/error on calling a method/property rather than error for passing in a non-readonly struct?

[2018-02-02 16:01] benaadams commented on #24601
"Warning calling a method on a readonly non-readonly struct will cause a copy; and the method will be called on the copy" - but with better language.

[2018-02-02 16:02] xoofx commented on #24601
Changing back the issue to `in`  for reference. But I don't need/want `in` actually

[2018-02-02 17:06] jasonmalinowski commented on #18204
@jinujoseph @chborl Looks like this is the bug that's tracking that the devenv /build test is currently flaky and disabled. Let's re-enable this as a part of that other bug since it would have caught this.

[2018-02-02 17:42] #24584 closed

[2018-02-02 18:05] DustinCampbell commented on #24499
@AdamSpeight2008: @sharwell specifically mentioned the option this would go under. I don't think we need the granularity of having a special user option just for spaces after commas in string interpolation format specifiers.

@sharwell: I don't think this needs to go to the design meeting unless it's just as an FYI. I don't think it's really all that controversial. Plus @jinujoseph as well.

[2018-02-02 18:28] vsfeedback opened #24612 "New generic class, No prompts if initialization"
The generic T constraint is a subclass of an interface with parameterless constructors, both A and B are properties of the interface new t{a=&quot;&quot;,b=&quot;&quot;}; The IDE does not hint

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/173607/new泛型类时若进行初始化则无提示.html
VSTS ticketId: 544394_
_These are the original issue comments:_

Ariel Yang - MSFT o

[2018-02-02 18:30] sharwell commented on #24612
This issue concerns code like the following:

[code]

[2018-02-02 18:51] agocke commented on #24542
@jaredpar this could be node reuse, combined with using the Microsoft.Net.Compilers package in only some of the projects in the solution. Does that sound possible to you?

[2018-02-02 19:46] CyrusNajmabadi commented on #20983
I never said local functions/lambdas should *not* have this refactoring offered.  Just that it's low priority as it's less common for these entities to need them.  For example, in Roslyn itself i can't recall seeing a single case where a null check was contained in a lambda/inner-function.

[2018-02-02 19:50] Neme12 commented on #20983
@CyrusNajmabadi You didn't say they shouldn't but the proposal doesn't ask for that so I wanted to ask you for your opinion on that, do you think it should be implemented as well if it's implemented for local functions?

[2018-02-02 20:00] CyrusNajmabadi commented on #20983
:)

[2018-02-02 20:01] CyrusNajmabadi commented on #20983
Basically: i don't care.  i wouldn't go and proactively do it myself.  But i have no issue with someone else wanting to do it :)

[2018-02-02 20:07] Neme12 commented on #20983
I see. I didn't know that was a concern. I know that when I install some analyzers, many of them can be annoying but I'm never offended by extra on-demand refactorings. I generally only miss those when I need them and wish there were more. I would expect there to be more in-box in an IDE like VS.

[2018-02-02 20:17] CyrusNajmabadi commented on #20983
Quantity is not better than quality :)

We could easily ship 100+ less useful refactorings.  But the experience around using those refactorings would degrade heavily because of how much irrelevant stuff we were foisting on the user.

Instead, we conscientiously add refactorings/fixes that we think will add significant value without being too much of an experience pain for users.  Telemetry helps u

[2018-02-02 20:23] npolyak commented on #24412
cool thanks

[2018-02-02 20:36] VSadov commented on #24601
That is the conundrum:

This makes sense and allowed.
[code]

The following is a "pit of despair" code.

It is just subtly different from the code above, but at best it leads to suboptimal performance due to unexpected and not apparent copying, and at worst to bugs - since interface invocations are currently always done on a copy.

[code]

Compiler disallows the second variant and that still feels

[2018-02-02 21:01] taori commented on #24537
The AnalyzeDataFlow raises an exception. The exception itself is useful, but it's swallowed within unit tests, so a unit test will not tell you what exception actually happened

[2018-02-02 21:12] #23463 closed

[2018-02-02 21:33] nvmkpk commented on #23803
I reported a similar issue but at a different place where the error would not occur. But that was turned down saying it will be a costly fix. Now this has to be fixed. I would either suggest removing this warning entirely in context of 'nameof' or suggest adding the class name to qualify it instead (later one improves readability).

[2018-02-02 22:11] jcouv commented on #24537
Thanks for the clarification.
What kind of unittest are you describing? Is this a unittest in Roslyn itself, or an unittest created from template project for an analyzer?
Also, could you share the exception raised by `AnalyzeDataFlow`? I'm trying to figure out if the unexpected behavior is in `AnalyzeDataFlow` or in the unittest.

[2018-02-02 23:17] CyrusNajmabadi commented on #24609
FWIW, i like this behavior.  If we don't spit out the throws, then you will get uncompilable code, meaning now you have a huge swath of issues to fix up before your code will even compile.  The current approach allows hte code to be generated, but keeps you in a compilable state, allowing you to then implement the methods on-demand when useful to you.  For example, i use this with EditAndContinue

[2018-02-02 23:25] sharwell commented on #24609
Other IDEs take a slightly different approach, where the default behavior is to essentially `return default;` in each generated method. Out-variables would also be assigned default values in an approach like this.

[2018-02-02 23:28] sharwell commented on #24609
It sounds like the most frustrating aspect of current behavior is actually already addressed. The following selection would prevent the throwing of exceptions from generated properties:

![image](https://user-images.githubusercontent.com/1408396/35759321-81dd5a20-083e-11e8-8d48-ba207d3072ce.png)

[2018-02-02 23:29] CyrusNajmabadi commented on #24609
That has the downside of not being able to run in the debugger and break the moment you hit unimplemented code.  Something i very much take advantage of :)

That said, i would not have an issue with adding an option to allow for that sort of behavior.  Of course, i really don't see it being much of an improvement if you have

[code]

In both cases you need to go delete that line to put in the real

[2018-02-02 23:32] CyrusNajmabadi commented on #24609
That's what makes it seem actually worse.  Now instead of a single simple statement that makes the code compilable, *and* which provides a good debugging loop, we may have to generate many statements that you still have to go fixup to do things right.

--

Note: the option was really added because that's how VB had done things, and we regressed that behavior. As i'm not a fan of having C# and VB h

[2018-02-02 23:36] CyrusNajmabadi commented on #24609
Note that the large part of the complaint seems to be about:

This is addressed by the option we already have.

I'm not really sure i buy the complaint about the rest of the members given that you're going to have to go deal with all the implementations anyway, and my belief is that the majority of non-property interface members will need real logic in their implementations.  So this behavior make

[2018-02-03 00:05] jcouv opened #24615 "F12 on Span type includes unnecessary attributes"
In a new .NET Core project, add a reference to `System.Memory` package from myget (see info below).
Then use `Span` in code and GoToDefinition.

The `IsByRefLike` and the `IsReadOnly` attributes are displayed.
This is likely a compiler problem. The `GetAttributes` method should filter those attributes out.

![image](https://user-images.githubusercontent.com/12466233/35760051-728770ee-0832-11e8-810

[2018-02-03 00:07] OmarTawfik commented on #24615
Maybe related to #24490 as well

[2018-02-03 02:08] tmat opened #24618 "EnC test scenario: Recursive function update"
This scenario has been broken prior Dev15.7.

**Steps to Reproduce**:

[code]

1. In the above code place a conditional BP as indicated with condition `i == 5` and F5.
2. Once the BP is hit update the strings `$"Enter: {i}"` to `$"Enter: {i} (updated)"` and `$"Exit: {i}"` to `$"Exit: {i} (updated)"`.
3. F5

**Expected Behavior**:

The output of the program is:

[code]

[2018-02-03 02:16] #24618 closed

[2018-02-03 06:52] #23459 closed

[2018-02-03 19:44] Neme12 commented on #20983
It would also be helpful if `CSharpSyntaxGenerator.GetDeclarationKind` supported local functions... but somone needs to decide whether that should return Method or there should be a new DeclarationKind... It doesn't recognize anonymous methods (delegates) either although it does recognize lambdas... This class really feels incomplete.

[2018-02-03 21:29] tmat opened #24622 "EnC scenario: stack corruption when editing recursive function"
**Steps to Reproduce**:

[code]

1. In the above code place conditional BP as indicated.
2. F5
3. When the BP is hit, uncomment `// j++;`
4. Step (F11) until `Console.WriteLine(i)` is stepped over.
5. Observe the output.

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2018-02-03 21:37] tmat commented on #24622
Investigation:

The IP is remapped once from IL offset 8 to 8.

IL delta:
![image](https://user-images.githubusercontent.com/41759/35771798-68d23420-08e7-11e8-912c-03cb556d9d11.png)

[2018-02-03 21:49] CyrusNajmabadi commented on #20983
Lambdas and Anonymous delegates aren't considered declarations.  You can observe that by trying to call SemanticModel.GetDeclaredSymbol on one of these.

Sure.  Feel free to do that :)

It should be a new declaration kind.  They're not methods, they're local functions.

Feel free to submit PRs to flesh it out :)

[2018-02-03 22:02] CyrusNajmabadi commented on #20983
Because it's not a declaration of a symbol :)   It's an expression that gets converted into a Delegate.

Neither should be Declarations at all.  I'm not sure why you need a DeclarationKind for them.

[2018-02-03 22:05] CyrusNajmabadi commented on #20983
You can.  Just not using GetDeclaredSymbol.  A lambda is not a declaration for a symbol, same as "new Foo()" is not hte declaration of the Foo type.  There is the point where the symbol is declared.  i.e.:

```class C {}```  or
```delegate void Action()```

And then there are *expressions* that create *values* that have these symbols as their *types*.   So ```new C()``` is not a declaration of C.

[2018-02-03 22:07] Neme12 commented on #20983
But I can get an IMethodSymbol from them from the parameter, what is that symbol's declaration then?

Ok I don't know if they should, you know better than me, I just noticed that lambdas are there and thought that if lambdas are there, anonymous methods should be there too. I don't need it, but I thought it might reduce code duplication (since the syntax generator would take care of C# & VB differ

[2018-02-03 22:09] Neme12 commented on #20983
Ok I understand now, sorry for my ignorance.

[2018-02-03 22:11] CyrusNajmabadi commented on #20983
The parameter is fresh.  If you have ```(int x) => { ... }``` then nowhere else is that 'x' declared.  For example, the Delegate may actually be ```delegate void Foo(int y);```.  The 'y' there is one parameter (which actually can be referenced if you do:

[code]

[2018-02-03 22:12] CyrusNajmabadi commented on #20983
Nothing to be sorry about!  Here's an important thing to know: the Roslyn compiler APIs are designed to be accurate and to properly reflect how the compiler and language work.  That means a lot of subtlety and complexity that people generally don't have to think about when using the language.  But, when exposing compiler guts, and wanting to be able to write really precise features that use them p

[2018-02-03 22:14] Neme12 commented on #20983
@CyrusNajmabadi
What about lambdas being considered declarations in the SyntaxGenerator class then? Apart from DeclarationKind, it refers to them as `declaration` in parameter names all over the place.

[2018-02-03 22:14] CyrusNajmabadi commented on #20983
Now, importantly, that's the APIs in Microsoft.CodeAnalysis.CSharp/VisualBasic.  The code in Microsoft.CodeAnalysis.Workspaces and above is *not* under the same constraints.  The code in there (like SyntaxGenerator and whatnot) are intended to just smooth things out a bit and make it easier to write features.  And SyntaxGenerator is especially lossy because it's intended to smooth out feature codi

[2018-02-03 22:15] CyrusNajmabadi commented on #20983
Sorry, it's still not clear to me *why* you would need to do this.  Let's step back: what are you trying to accomplish, and why is SyntaxGenerator not working for you?  Maybe from that we can come up with a more suitable solution.

Thanks!

[2018-02-03 22:21] Neme12 commented on #20983
So do you think lambdas stay in DeclarationKind rather than be removed?

I don't. One thing I'm a little bothered by is that lambdas are in there and anonymous methods are not. I think either both should be there or none.

And if they were both in there, I just thought it would allow some of the code that tries to find either a MethodDeclarationSyntax or lambda etc to be refactored into the common

[2018-02-04 01:37] CyrusNajmabadi commented on #20983
Honestly DeclarationKind.LambdExpression seems like a mistake.  As far as i can tell, we don't even use it for anything.  It's not even ever referenced in the VB code.

Given that no one in the entire roslyn codebase ever even reads this, i would just deprecate it.

[2018-02-04 01:38] CyrusNajmabadi commented on #20983
Tagging @mattwar for his thoughts here.  @mattwar it seems like DeclarationKind.LambdaExpression was unintentionally added.  First off, while it is returned from GetDeclarationKind, absolutely no code ever reads this value or does anything special with it.  Also, VB doesn't ever use it *period*.

Is there value in this flag?  I get that we probably can't remove it for binary compat.  But i think i

[2018-02-04 01:57] Neme12 commented on #20983
@CyrusNajmabadi would you review the code please? you are the original author of those refactorings I think, is that correct?

[2018-02-04 02:01] CyrusNajmabadi commented on #20983
Can you ping me on monday?  I'm relaxing :D

[2018-02-04 02:08] Neme12 commented on #20983
@CyrusNajmabadi fair enough, sorry :D I didn't expect you to do it now

[2018-02-04 03:01] KirillOsenkov opened #24625 "SuggestedActionsSourceProvider is not resilient against documents that are not part of a workspace"
**Version Used**:
adbce761b91992740c128b7d4233f51b49541e97

**Steps to Reproduce**:

1. Have a C# .cs document that is not a part of a workspace (content type must be CSharp)
2. Open that document in an editor

**Expected Behavior**:
SuggestedActionsSource should be resilient against the situation where the text view/buffer for the .cs document is not added to the workspace.

**Actual Behavior**:

[2018-02-04 03:16] KirillOsenkov opened #24626 "Decompiler: NullReferenceException in DecompileSymbolAsync"
**Version Used**:
adbce761b91992740c128b7d4233f51b49541e97

**Steps to Reproduce**:

When hosting Roslyn outside of Visual Studio we try to go to definition for `System.Windows.Media.Colors` and the decompiler is invoked. When trying to decompile, this line gets called:

http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/MetadataAsSource/MetadataAsSourceFileService.cs,19

[2018-02-04 03:16] KirillOsenkov commented on #24626
cc @sharwell @siegfriedpammer @tmat

[2018-02-04 06:22] jkotas opened #24627 "System.InvalidOperationException: Unexpected value 'TypeExpression expression"
**Version Used**:  2.6.1 (https://www.nuget.org/packages/Microsoft.Net.Compilers/)

**Steps to Reproduce**:

1. Compile attached program:

[Program.txt](https://github.com/dotnet/roslyn/files/1692513/Program.txt)

**Expected Behavior**: Compile error reported

**Actual Behavior**: Compiler crash

[code]

[2018-02-04 11:06] vsfeedback opened #24628 "C# Analyzer gives wrong fix solution"
My code looks like:

[code]

The analyzer suggests using throw expressions:

[code]

But in fact the two are not identical because `MakeKey` method can have side effects.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/187379/c-analyzer-gives-wrong-fix-solution.html
VSTS ticketId: 556384_
_These are the original issue comments:_
(no comments)
_These are

[2018-02-04 16:55] xoofx commented on #24601
Maybe one day we will have methods tag-able with "readonly" and we will be able to introduce proper `in this` otherwise, in the meantime, I'm all for restricting this and getting a more explicit error.

[2018-02-04 18:05] sharwell commented on #24601
@VSadov Does this issue only affect generic methods? It seems like a non-generic method should allow `in this T`, where `T` is a readonly struct.

[2018-02-04 18:23] benaadams commented on #24601
Its only generic methods; non-generic methods allow both readonly structs and non-readonly structs.

It doesn't make sense for generics and non-readonly structs as the only methods you can use are ones constrained by the interface and interfaces don't have field access only properties so every use of a non-reaodnly struct will cause a copy, removing the purpose of `in`.

`in` with a non-readonly s

[2018-02-04 19:14] jcouv commented on #24628
I tried with the following code and didn't see this refactoring offered.
[code]
(on 15.6 preview 1.1)

[2018-02-04 19:15] Neme12 commented on #24628
I don't see it on 15.5.5 either.

[2018-02-04 19:53] jcouv commented on #24627
@VSadov Can you take a look and triage?

[2018-02-04 21:11] CyrusNajmabadi commented on #24625
This looks like it's already checking for null:
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures.Wpf/Suggestions/SuggestedActionsSource.cs,161

[2018-02-04 22:20] sharwell commented on #24628
My best guess is this is either a duplicate of #21612, or just happened to be fixed at the same time.

[2018-02-04 22:29] Neme12 commented on #24628
It seems like exactly the same issue because `arg` is indeed accessed on the line before.

[2018-02-04 23:33] taori commented on #24537
It was a unit test created from a template project for an analyzer. Since i am unable to reproduce it in an isolated project i suspect it's because i did custom try+catch logging to trace an issue which was lacking in the AD0001 issue which made it "silently fail". In an isolated project this does work just the way one would expect it to.

 #24346

[2018-02-04 23:33] #24537 closed

[2018-02-04 23:36] paul1956 commented on #21024
@CyrusNajmabadi working on it but it is going to need to be a cooperative effort, VB needs a few key features that would benefit the language and translation. I am learning some have been added but I didn't know they were there, some are "planned" like slice and some like unchecked need to be added. It will never be 100% but I think a converters will be usable. Adding the ability to include some c

[2018-02-05 01:35] MelbourneDeveloper opened #24630 "Metadata file System.Runtime.dll could not be found"
**Version Used**:
1.0.8

**Steps to Reproduce**:
Can't reliably reproduce

**Expected Behavior**:
The assembly compiles.

**Actual Behavior**:
The assembly doesn't compile, and the error message makes no sense.

We use Roslyn for compiling code inside our app. We've been using it for about a year or so and have had no issues. But, recently we've been getting this error when we try to compile. I ca

[2018-02-05 02:06] sharwell commented on #24609
Yes, that's what I was saying above. For me, the current generation behavior is a reasonable safeguard against shipping unreviewed and likely incorrect code.

For now I'm going to close this as By Design, but if someone wants to work on a proposal for a modified feature that preserves long term correctness of a program with less work for the developer then I would be interested see it.

[2018-02-05 02:06] #24609 closed

[2018-02-05 03:00] vsfeedback opened #24631 "ReplacePropertyWithMethodsCodeRefactoringProvider encounted an error and has been disabled"
Hello,
Since 15.5.5 I am getting ReplacePropertyWithMethodsCodeRefactoringProvider  disabled quite ofter when trying to refactor property with this error:

exception:

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/189826/replacepropertywithmethodscoderefactoringprovider-2.html
VSTS ticketId: 558836_
_These are the original issue comments:_
(no

[2018-02-05 04:04] #24628 closed

[2018-02-05 04:51] Swellenator commented on #19128
I have been building on a TFS 2015 build server with v2.3.x for some time without any problems. Now after updating the v2.6.x I get the error saying it only supports v15. It looks like the check for MSBuild versions was only added in v2.6.x - adding this check seems like a breaking change.

What was happening before with v2.3.x? If I downgrade to v2.4.x it will still compile on my build server, so

[2018-02-05 11:41] OliverNET commented on #24308
Thank you for investigating this issue.
The workaround posted by jcouv works for me.

[2018-02-05 11:41] #24308 closed

[2018-02-05 12:56] vsfeedback opened #24640 "Visual Studio hangs while writing a set property body with a typo"
While writing a property set body, and having a typo, VS hangs, e.g.:

[code]

And then attempt to remove the typo..

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/193242/visual-studio-hangs-while-writing-a-set-property-b.html
VSTS ticketId: 562172_
_These are the original issue comments:_
(no comments)
_These are the original issue solutions:_
(no sol

[2018-02-05 13:10] controlflow opened #24641 "Generic extension method with `in this` parameter fails to compile"
**Version Used**:

master branch @ feb 5

**Steps to Reproduce**:

Compile the following code:
[code]

**Expected Behavior**:

Successful compilation, the same as for `ref` extension version:
[code]

**Actual Behavior**:

[2018-02-05 13:18] Neme12 commented on #24640
Can repro on 15.5.5 but not on 15.6p3 or in latest master.

[2018-02-05 13:21] sharwell commented on #24640
After looking at the performance trace submitted by the user, this appears to be a loop deep inside the language parser under `IncrementallyParse`. Moving to @dotnet/roslyn-compiler.

[2018-02-05 13:23] sharwell commented on #24641
This seems very similar to #24601.

[2018-02-05 13:33] controlflow commented on #24641
Thanks, @sharwell ! What a confusing corner case, I was not realized any kind of member access would copy the struct in generic code since compiler can't tell if `T` is `readonly` struct or not...

[2018-02-05 13:33] #24641 closed

[2018-02-05 13:37] sharwell opened #24642 "Poor error recovery after missing >"
Reported at [Link](https://developercommunity.visualstudio.com/content/problem/187402/roslyn-parser-bug.html)
**Version Used**: 15.6 Preview 3

**Steps to Reproduce**:

[code]

**Expected Behavior**:

A message saying the `>` is missing between `Description)` and `GetAllValues`.

**Actual Behavior**:

48 errors, and an editor that looks like this:

![image](https://user-images.githubusercontent.co

[2018-02-05 13:48] Neme12 commented on #24642
Maybe it would help a little bit (it would definitely help in other cases as well) if the parser recognized a block directly inside a type declaration and parsed it as a BlockSyntax.

[2018-02-05 15:23] Neme12 commented on #24642
I made a prototype of this:
![image](https://user-images.githubusercontent.com/11444821/35812158-884e21ba-0a90-11e8-922c-f624280465d4.png)

to be clear: this does *not* address the underlying issue of the missing `>`. The method signature isn't parsed correctly. This just provides a way to gracefully handle the situation if we do fail to parse the signature and if the parser find a block directly

[2018-02-05 15:51] sharwell commented on #24642
An astute observation! While working on ANTLR 4, we found that a preference to close a nested construct (e.g. insert a missing `>`) typically provided better large-scale error handling than a preference to stay inside a looping construct (e.g. insert a missing `,`).

[2018-02-05 16:29] sharwell commented on #20943
Here's another reproducer. Place the caret before `"d"` and press <kbd>Ctrl</kbd>+<kbd>.</kbd>

[code]

:link: https://developercommunity.visualstudio.com/content/problem/183546/csharpconvertconcatenationtointerpolatedstringrefa-2.html

[2018-02-05 16:49] weltkante opened #24643 "Using ref-assembly feature breaks GoToDefinition"
**Version Used**: VS 15.6.0 preview 3

**Steps to Reproduce**:
1. Create a solution with project A referencing project B where A calls a method defined in B
2. Add `<ProduceReferenceAssembly>true</ProduceReferenceAssembly>` to the project file of project B
3. Press F12 on the call site where project A calls project B (works, goes to definition of B)
4. Compile project, restart VS
5. Press F12 on t

[2018-02-05 16:56] Neme12 commented on #24642
@sharwell True, it does seem a lot less likely that you'd be missing a comma, except when you're writing in a new parameter. Maybe the case of a missing closing bracket/paren was considered less important because the IDE automatically inserts them as you're typing?

As a separate issue, it might make sense to investigate if the parser could make less distinction between scripting/regular syntax an

[2018-02-05 16:58] RytisLT opened #24644 "Local function can access a variable before initialization"
**Version Used**:
Visual Studio 15.5.5
**Steps to Reproduce**:

    internal class Program
    {
        private static void Main(string[] args)
        {
            var result = GuessWhatWillHappen();
            Console.WriteLine($"Is result null? {result == null}");
            Console.ReadLine();
        }

        private static string GuessWhatWillHappen()
        {
            SetStringVal

[2018-02-05 17:07] HaloFour commented on #24644
This looks like the expected behavior to me given the way local functions are hoisted.  The local function wouldn't be allowed to read `foo`, at least not before assigning it.  But the variable would be in scope.

[2018-02-05 17:13] RytisLT commented on #24644
Yep, reading the variable first causes CS0165: Use of unassigned local variable. Still it's super weird that initialization of the variable overwrites value that has been set by a local function. I would expect that writing variable without initialization would also result in a compiler error.

[2018-02-05 17:15] sharwell commented on #24643
Can you list the absolute file paths of the implementation and reference assemblies produced when you compile project B?

[2018-02-05 17:21] sharwell opened #24645 "Verify unused strings are eventually removed from the SQLite string table"
**Version Used**: 15.5.1

:link: https://developercommunity.visualstudio.com/content/problem/164554/cpu-at-20-constantly-in-debug.html

In the performance trace included with the feedback ticket, more than 2GB is allocated in `TryFetchStringTable`, with more than 700MB allocated just for the `byte[]` buffers used to hold the raw database string contents. This indicates one of the following is occu

[2018-02-05 17:46] natemcmaster commented on #23846
Anyone have ideas on what might be going on here? aspnetcore builds fail about once every other day with this.

cc @jaredpar

[2018-02-05 18:12] danmosemsft commented on #23846
Perhaps @jaredpar can confirm whether it's possible for CSC to return 255. IIRC it didn't appear that it could. Suggesting it's from dotnet.exe.

[2018-02-05 18:13] jcouv commented on #24640
`IncrementallyParse` is in IDE code, so it's not obvious what compiler change may have affected its performance.
I took a look at compiler PRs related to parsing since 15.5, but nothing jumped out. Tagging @gafter in case he recognizes that situation.
Otherwise, I'd go ahead and close the issue.

[2018-02-05 18:15] chborl commented on #24228
Hi @alrz , I know you're working on a few different things right now.  Are you planning to do this one soon or should I take a look at it?

[2018-02-05 18:18] VSadov commented on #24627
We are trying to do arg-mixing kind of escape analysis on a node with binding errors. (it is an instance method called as a static).

In other entry points we check for errors, but in `CheckInvocationArgMixing` we do not, possibly hoping that the emthods we delegate to will check, but thy will check children nodes, which may not have an error while the whole thing is still bogus.

Need to add an e

[2018-02-05 18:24] jaredpar commented on #23846
csc.exe can definitely exit with that code and it generally means we exited with an unhandled exception. Possible that's happening here

[2018-02-05 18:30] weltkante commented on #24643
Ok, I got mixed up while playing around and trying to get the feature to work. It appears the steps above are not enough to reproduce the problem reliably, sorry.

Regarding your comment, due to playing around with the output path I had leftover files
1) E:\_code\ProjectDependencyTest\bin\Debug\ClassLibrary1.dll
2) E:\_code\ProjectDependencyTest\bin\Debug\ref\ClassLibrary1.dll
3) E:\_code\ProjectD

[2018-02-05 18:30] danmosemsft commented on #23846
@jaredpar if you guys could do https://github.com/dotnet/roslyn/issues/23743 I'm guessing it would appear in @natemcmaster 's log.

Although I don't think I can explain why it's not appear in the full build log, as I would expect all console output to appear there.

[2018-02-05 18:53] miloush commented on #24377
This might actually be the same or relevant to #20145.

[2018-02-05 18:56] sharwell commented on #24643
Currently the Go To Definition feature is special-cases for reference assemblies only when they are produced by the build for another project in the same solution. See #20833. The specific conditions where it is expected to work are:

1. The reference assembly is produced by another project in the same solution
2. The reference uses `<ProjectReference>` (as opposed to `<Reference>` or `<PackageRef

[2018-02-05 19:07] weltkante commented on #24643
Ok good to know, then I don't have to keep trying getting it to work for normal references.

I don't know whats wrong with project references though, it's kinda flakey, sometimes they just stop working. I removed all temporary output including .vs directory. Then I keep reopening the solution, building and applying go-to-reference. It works for a while then suddenly breaks (turns into ref-assembly

[2018-02-05 19:07] #24643 closed

[2018-02-05 19:13] sharwell commented on #24377
@miloush It will likely be solved in a manner similar to #20145, but I see them as separate issues.

[2018-02-05 20:17] alrz commented on #24228
@chborl I'm on it. I hoped that flow analysis API makes it easier but it would help only in half of the use cases. We'd need CFGs (https://github.com/dotnet/roslyn/issues/24104) to make this precise. I'll try a mixed approach for now and iterate on that. should see if that can cover the cases I have in mind. will open the PR soon.

[2018-02-05 20:24] jaredpar commented on #23846
That's on my listn to do for exactyl reasons like this.

[2018-02-05 20:25] jaredpar commented on #23846
Pretty sure we have another issue which is tracking that. Basically though exactly what you filed there. Will find a way to dupe it out later.

[2018-02-05 20:58] Neme12 commented on #24435
Right now if I want to find a method in the current file I usually do ctr+f to avoid the hassle of doing go to all and then either manually turn on a switch or with a second convoluted keybord shortcut that I will never remember - and even if I did, ctrl+f will always be shorter. This is not ideal. There should be a separate shortcut for navigating within a file.

[2018-02-05 21:23] Neme12 commented on #24225
This is kind of an annoying feature because when you're writing a new method, nobody is using it yet and everything is faded out.

[2018-02-05 21:31] nguerrera opened #24646 "Multi-target build task to net4x/netcoreapp20"
.NET Standard msbuild tasks are problematic and just about everyone has converged on multi-targeting instead (including SDK and core nuget tasks). https://github.com/Microsoft/msbuild/issues/1309 is one example of the problems that can be hit. There are workarounds, but it is fragile.

Recently, the build task added a dependency on Pipes.AccessControl that is not part of the shared framework, so i

[2018-02-05 21:44] #23983 closed

[2018-02-05 21:52] jcouv commented on #24480
Fix is merged for 15.7
Thanks for reporting this

[2018-02-05 21:52] #24480 closed

[2018-02-05 22:06] vsfeedback opened #24647 "Lambda after Local Function will crash VS"
By writing the following code:

namespace LocalFunc
{
    class Program
    {
        static void Main(string[] args)
        {
            void Func() { } =&gt; new object(); // invalid code
        }
    }
}

After couple of seconds VS will freez and crash with the following Stack trace from Event Viewer:

Application: devenv.exe
Framework Version: v4.0.30319
Description: The application request

[2018-02-05 22:49] gafter commented on #24644
This is a little weird, and I admit it might have been better if we had defined things such that the invocation of `SetStringValue()` gives an error reporting that it uses the variable `foo` before its declaration. But I don't see a case for changing things now to make it an error. That would needlessly break existing programs, such as this one:

[code]

@agocke What do you think? Do you think thi

[2018-02-05 22:51] jcouv opened #24650 "GetOperation should succeed on local function with block and expression bodies"
In the test below, `GetOperation` should not return `null` since the semantic model allows querying that piece of syntax.

[code]

Follow-up to https://github.com/dotnet/roslyn/issues/24647

[2018-02-05 22:55] agocke commented on #24644
This was by-design, although it is a little weird. It gets worse though. This is also legal (and by design):

[code]

At this point, I think we've adapted the philosophy, "don't complicate the definite assignment analysis." Essentially, if the analysis concludes its safe, don't get in the user's way. I think it may be too late to go back on that now.

[2018-02-05 23:05] VSadov commented on #23951
CC: @agocke

[2018-02-05 23:07] #24644 closed

[2018-02-05 23:22] VSadov commented on #24627
Simpler repro:

[code]

[2018-02-05 23:45] tannergooding opened #24652 "C# Compiler is not consistent with the CLR for the underlying representation of bool"
### Issue

Today the C# compiler does not emit code handling for `bool` that is consistent with the underlying representation of `bool` in the CLR.

The C# specification states:

The spec also indicates that it is 1-byte. Specifically that the result of the `sizeof(bool)` expression is `1`.

While the ECMA 335 specification states:

false. A bit pattern with any one or more bits set (analogous to

[2018-02-05 23:48] tannergooding commented on #24652
Talked with @MadsTorgersen briefly and it was determined logging an issue for this would be good.

There is the normal concern of this being a breaking change, since any change to the handling of the bools will cause code reliant on that behavior to go down a different code path (this, at the very least, impacts the `&&` code pattern, which treats any number with the first bit set as `true`, and a

[2018-02-05 23:58] yaakov-h opened #24653 "2.6.1: NullReferenceException in BatchFixAllProvider"
**Version Used**:

Microsoft.CodeAnalysis v2.6.1, running on .NET Framework 4.7.1

**Steps to Reproduce**:

This is tricky - I have a program (not open-source) that applies code fixes across large amounts of solutions.

When upgrading it from Roslyn 2.2 to Roslyn 2.6.1, I encountered this exception.

**Expected Behavior**:

Program works as it used to.

**Actual Behavior**:

[code]

Or, simplified

[2018-02-06 00:08] gundermanc commented on #24503
@sharwell Has TextMate been ruled out as a potential root cause? It is used for the colorization of TypeScript and JS. If anyone has ETW traces I'd be happy to take a look.

[2018-02-06 00:12] danmosemsft commented on #23743
Not always getting the callstack for some reason, but still, the exception message should still get the prefix so it appears in less than detailed verbosity. Fundamentally the issue is in normal verbosity (the default) and below, the MSBuild console and file loggers drop all console output that does not match the error warning format. So if you build with "msbuild" and therefore have the default l

[2018-02-06 00:19] jcouv opened #24654 "Unexpected red squiggles when working inside lambda"
[code]

![image](https://user-images.githubusercontent.com/12466233/35835539-17040560-0a90-11e8-857b-9e53ae0e9416.png)

![image](https://user-images.githubusercontent.com/12466233/35835572-47a69e4e-0a90-11e8-9bcb-47959c4e1baa.png)

Removing the extra argument clears the problem:
![image](https://user-images.githubusercontent.com/12466233/35835581-55bd1eb8-0a90-11e8-9da2-e7a973cdb6e7.png)

[2018-02-06 00:33] gafter commented on #24652
The C# language specification is not specific to any particular runtime platform. The only observable consequence of placing something like that in the specification would be the behavior you get when you overlay a bool and a byte in unsafe code. Specifying that would be a peculiar departure from the normal situation in which the specification avoids telling you in detail the way unsafe code works

[2018-02-06 00:38] tannergooding commented on #24652
Only if you limited such code to C#.

It is entirely possible for C# to be consuming code produced by another language where the `bool` value conforms to the CLR definition but doesn't line up with the C# implementation. In which case updating the spec would cause the behavior in that scenario to be well-defined instead of undefined or implementation-specific.

[2018-02-06 00:44] mazhou-msft commented on #24311
Verified in 27404.0.d15.6 and it works as expected.

[2018-02-06 00:55] tannergooding commented on #24652
ILASM, in general. C++/CLI for desktop, although it could realistically be any language compiled to IL (such as C or C++). There are several programs for converting between LLVM bytecode and IL bytecode, for example. `extern` methods are not unsafe and can also return a `bool` value that is not 0 or 1.

As a hypothetical example:
[code]

The C# language would see this as `static bool MyTrue()` and

[2018-02-06 01:05] gafter commented on #24652
See the last entry in https://web.archive.org/web/20160318193105/https://roslyn.codeplex.com/workitem/224 for how we resolved this in 2014. The resolution was that we would document it (presumably, in https://github.com/dotnet/roslyn/tree/master/docs/compilers) but we do not appear to have done so.

[2018-02-06 01:12] tannergooding commented on #24652
I don't the the resolution is exactly correct.

The last comment is making a statement that the runtime bools have more than two states. However, it could easily be argued that they do in fact only have two states (`true`, which is a bit pattern with any one or more bits set; or `false`, which is a bit pattern of all zeros).

For the runtime, a `boolean` with a bit pattern of `10` is equivalent to

[2018-02-06 01:20] tannergooding commented on #24652
O
I'm also not sure it will be clear what a "non-standard" bool is without clearly defining the underlying bit representation of `true` and `false`. Otherwise, the exact definition of a "standard" bool is still dependent on the underlying runtime and the implementation of a given C# compiler.

For example, the current Roslyn implementation is generally inline with the runtime definition, except fo

[2018-02-06 02:05] HaloFour commented on #24652
So wouldn't this also mean that any C# assembly exposing a `bool` wouldn't be CLS compliant because of violations of the ECMA spec?

The argument that C# is independent of the CLR is a copout.  C# exists in an ecosystem with other languages bound by the common contract that is the CLS/CLR.  More than once has the argument been made against various C# proposals given that they would not play well a

[2018-02-06 02:09] sharwell commented on #24067
I observe this if I open [AutomaticLineEnderCommandHandler.vb](https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/VisualBasic/AutomaticCompletion/AutomaticLineEnderCommandHandler.vb). Rather than show *useful* tooltips, all the tool tips just show `Friend`.

[2018-02-06 02:14] jaredpar commented on #24652
The compiler is operating as designed here and has been for the entirety of its existence. Despite the recognition of only 1 value of `true` the .NET ecosystem has moved along just fine. This issue has been brought up several times throughout the history of the compiler. We considered the arguments but ultimately have decided to continue on with this approach.

This issues should be moved to the C

[2018-02-06 02:15] sharwell commented on #24503
I've seen some performance traces recently related to JavaScript, but none yet (knowingly) associated with this particular bug report.

[2018-02-06 02:28] gundermanc commented on #23005
I have filed the following bugs on DEVDIV tracking similar tweaks + suggestions for icons + ordering:

- https://devdiv.visualstudio.com/DevDiv/_workitems?id=561038
- https://devdiv.visualstudio.com/DevDiv/_workitems?id=561047
- https://devdiv.visualstudio.com/DevDiv/_workitems?id=561073

cc: @kuhlenh

[2018-02-06 02:31] vsfeedback opened #24657 "brace indent incorrect after return"
Since 15.5.6 update
typing in c#

if (something)
    {
}

The open brace after a return is incorrectly indented but the close brace is correctly positioned.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/191793/brace-indent-incorrect-after-return.html
VSTS ticketId: 560668_
_These are the original issue comments:_

George Csikos on 1/31/2018, 10:19 PM

[2018-02-06 02:45] gundermanc commented on #24503
Ok, if you see Microsoft.VisualStudio.TMParser on the stack as an offender, send it my direction.

[2018-02-06 02:53] tannergooding commented on #24652
@jaredpar, I had opened it here, rather than csharplang, at the request of @MadsTorgersen.

It also continues being brought up as a pain point every few months. I believe it would help if the compiler was at least consistent, but I'm not sure you could call it that.

The current behavior can currently be described as:
* `value`, `!value`, `left | right`, and `left || right`
  * `false is 0`; `true

[2018-02-06 02:58] vsfeedback opened #24658 "Missing File Banner not using the most common banner?"
I have four C# files with banners, one file has &quot;// Banner 1&quot; and three have &quot;// Banner 2&quot;.

Now I added a new C# file, and try the Missing File Banner code fix.  &quot;// Banner 1&quot; was provided.

How do you decide which banner to use when there are multiple ones inside of a project?

_This issue has been moved from https://developercommunity.visualstudio.com/content/probl

[2018-02-06 03:01] CyrusNajmabadi commented on #24658
We use the first we find in the same project (prioritizing files that are already before before looking at closed files).  The theory being that it's highly unlikely for multiple files in the same project to need or want different banners.

[2018-02-06 03:08] CyrusNajmabadi commented on #24642
That's the approach we've been taking for a while.  We even codified it midway last year when i was doing PRs like: https://github.com/dotnet/roslyn/commit/001294bec07f88fc1229601a0a15de8ad505b3b3#diff-ac2b4121f27df06f497115cc68277654

In general, the strategy to take is to try to get the parser to only try to fit the code to the Syntax-Model.  If you can't fit the code into the SyntaxModel, you d

[2018-02-06 03:10] CyrusNajmabadi commented on #24642
It's not too tough in practice.  Because our parser is hand-written recursive descent, we have the easy ability to write whatever code we want during error recovery.  So we can examine the surrounding state to try to figure out which sort of issue it it and make the right choice based on what we see around it.

By default there is a baked in algorithm that is both correct, and pretty reasonable.

[2018-02-06 03:25] gundermanc commented on #24067
IBlockTags expect both a 'StatementSpan', which should map to the 'block header' (e.g. `if (foo)`) for the block, and a 'Span' which should map to the span of the entire block, except for the header (e.g.: from the ')' to the '}' in a typical if statement).

Since 15.0, Roslyn's been giving us the entire extent of the block as the 'Span' member. To work around it originally, we had a condition in

[2018-02-06 03:29] tannergooding commented on #24652
Basically, what I'm seeing is that the C# spec states there are two values, but the implementation is handling it as if there are more.

That is
* it is not handling it as if it were `0` and `not 0`
* it is not handling it as if it were `0` and `1`

Instead, it is handling it as `0` and `depends on the underlying bit pattern`, which I would view as inconsistent with both the C# and the runtime spe

[2018-02-06 03:30] gundermanc commented on #16395
Though this is a reasonable behavior, after much discussion, it was thought that heuristics would always be suboptimal, so the decision was made to let the language owner specify the horizontal location for the guide via the GuideLineHorizontalAnchorPoint. In this way, the owner has full control over the adornments and are not limited by the half dozen cases we may have thought of ahead of time.

[2018-02-06 03:36] CyrusNajmabadi commented on #24645
Good lord.  The string table just holds project filepath, name, and document filepaths and names, as well as generating a key per document in the project.  To have that allocate that much is insane :)

That's possible.  It's intended to only be called once.  Namely when the provider starts up.  However, there are potential issues that may cause us to fail to get the table and to try over and over

[2018-02-06 03:39] gundermanc commented on #21493
This sounds like something we should do in the IDE side by default. Filed: https://devdiv.visualstudio.com/DevDiv/_workitems?id=562995

[2018-02-06 04:38] gafter commented on #24652
@jaredpar I'm reopening this and assigning it to myself to document the compiler behavior.

[2018-02-06 04:46] jaredpar commented on #24652
The job of the compiler is to emit code that will behave correctly in the face of boolean values that are 1 or 0. The behavior of other values is inconsequential.

Disagree. The compiler correctly handles the cases that it supports: 0 and 1.

[2018-02-06 05:27] tannergooding commented on #24652
This needs to be documented, if not in the language spec, then in a compiler implementation details spec.

In my opinion, The language spec should explicitly state that handling of values with a bit representation different than `true` or `false` is implementation defined. It should also either explicitly list the bit representation of `true` and `false` or also call out that they are implementati

[2018-02-06 05:30] jaredpar commented on #24652
This has been documented several times, some in this various repo. Unfortunately searching for terms like "bool" and "true" is meaningless given our issue size. I'm fine with this being documented as behavior of the compiler. Saying our code gen is inconsistent though is incorrect.

[2018-02-06 05:52] tannergooding commented on #24652
Would it be reasonable to do the following in the language spec?
* In the relevant sections of the spec, add an explicit `Roslyn Implementation Detail` annotation that calls out Roslyn specific behavior
  * Such an annotation should be called out as `informative` text, rather than `normative` text
* Add an explicit `Roslyn Implementation Details` section as an annex to the spec that cross-referenc

[2018-02-06 05:55] gafter commented on #24652
Roslyn documentation belongs in the Roslyn repo. I will add some appropriate documentation for this issue in `docs/compilers`.

[2018-02-06 06:06] jaredpar commented on #24542
That sounds like what is happening here. I'm not quite sure how to combat this tough. It sounds like in this scenario there are multiple versions of the compiler being brought into a single solution via NuGet and ASP Codedom Provider.

When that happens it's pretty much a race condition as to which C# compiler / msbuild task is going to win. Not sure there is really anything in MSBuild that we can

[2018-02-06 07:09] gundermanc commented on #23074
Just hit a few times today in d15.6 27404.0. I don't have any specific repro yet, but there are a few files in the editor solution that seemed to be risk factors for hitting it.

``

[2018-02-06 09:13] Neme12 commented on #24657
[code]
I don't see any return here. What am I missing?

[2018-02-06 11:31] MkazemAkhgary opened #24668 "VS lacks ability to reset expandabale regions"
based on this post you can see that visual studio lacks the ability to do a very simple feature.

https://stackoverflow.com/questions/48639421/how-to-collapse-only-and-only-regions-in-entire-solution

Please add this feature. I like to have my defined regions always collapsed to have minimalist view in entire project.

only when I want, I can expand them. and after some work, I like to set them ba

[2018-02-06 12:19] b0urb4k1 commented on #22190
I guess this Issue is related?
https://github.com/OmniSharp/omnisharp-roslyn/issues/886

[2018-02-06 13:11] MkazemAkhgary opened #24669 "LinkList.RemoveFirst/Last should return node"
Its strange. AddFirst and AddLast returns the node. but remove doesn't return the node. makes it harder to work with LinkList.

I don't think it would be a breaking change to make void method to return something. unless there are reflection uses, but you are not promising on implementation details, do you? please fix it. thank you so much.

[2018-02-06 13:21] HaloFour commented on #24669
Framework changes belongs in the [CoreFX](https://github.com/dotnet/corefx) repository.

[2018-02-06 13:25] HaloFour commented on #24669
This change would certainly be a breaking change.  Method binding in IL is done with the full signature of the method, which includes the return type.  Any existing assemblies using that code would be broken.

You can solve the problem relatively easily with extension methods:

[code]

[2018-02-06 13:33] MkazemAkhgary commented on #24669
good to know. thanks.

[2018-02-06 13:33] #24669 closed

[2018-02-06 15:24] jmarolf commented on #23005
@gundermanc is there a reason these bugs can't be filed on github? We would prefer track work in the open if possible.

[2018-02-06 16:08] MkazemAkhgary opened #24670 "support for recursive DebuggerDisplay ."
It would be nice to have DebuggerDisplay represent complex types recursively. so we don't have to rewrite everything again.

    [DebuggerDisplay("Foo: {FooProperty}, Bar: {BarProperty}")]

here `FooProperty` has its own `DebuggerDisplay` as well as `BarProperty`. It would be nice if this could be chained. (either via additional syntax or simply represent like this by default)

---

I did search o

[2018-02-06 17:47] VanKrock commented on #24561
May be it's real to make more than one "this" in extension method?
[code]

[2018-02-06 18:23] dpoeschl opened #24671 "M.CA.CS.UT.DeclarationParsingTests.ProduceErrorsOnRef_Properties_Ref_Get failed on ubuntu"
https://ci.dot.net/job/dotnet_roslyn/job/dev15.6.x/job/ubuntu_16_debug_prtest/182/ from PR https://github.com/dotnet/roslyn/pull/24552

[2018-02-06 18:24] dpoeschl commented on #24671
[code]

[2018-02-06 19:23] tmat commented on #24670
We do recommend to define a private/internal method `GetDebuggerDisplay` that provides the entire display string:

[code]

In the method you can implement whatever formatting you need, including calling `FooProperty.GetDebuggerDisplay()`.

This is the fastest, most rubust and most flexible approach.

[2018-02-06 19:40] CyrusNajmabadi commented on #24640
@jcouv I think @sharwell meant that it's *deep* under ```IncrementallyParse```.  i.e. ```IncrementallyParse``` calls SyntaxTree.WithChangedText which bottoms out in incremental parsing.

This does sound like an incremental parsing infinite loop of some sort.  Given that @Neme12 can repro it, we should def investigate to see what the core issue is and make sure it was actually fixed.

[2018-02-06 19:45] heejaechang commented on #20390
@vasily-kirichenko I added a way to order analyzers.

by the way, I think it ("We cannot opt into OOP because it's a huge task.") is not fair that since it is hard for F# to move OOP, asking Roslyn to make analyzers run concurrently in in-proc. which we for same reason (huge task to make it possible in usable sense) explicitly cut it.

we explicitly created OOP for the people who want to run thing

[2018-02-06 19:47] CyrusNajmabadi commented on #24653
Are you running in VS?

[2018-02-06 19:48] CyrusNajmabadi commented on #24653
This is def strange given that we should always have a default export for this at the workspace layer:

http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/LinkedFileDiffMerging/DefaultDocumentTextDifferencingService.cs,13

[code]

[2018-02-06 19:48] #24522 closed

[2018-02-06 19:55] CyrusNajmabadi commented on #24067
My recollectoin was that we allowed languages to specify the guide explicitly if they wanted.  But we also had a heuristic htat was good for all the construct cases we could envision across C#/VB (and C-style languages).  Namely, picking the left-most column of either the start/end point.

The reason we wanted this heuristic was because it is *hard* for the language to know this information.  lang

[2018-02-06 20:00] mavasani commented on #20390
I agree with @heejaechang here. No matter how much we improve the performance of analyzer driver and/or analyzers, I don't believe we should run analyzers in parallel in the devenv process (in-proc). We have made multiple attempts at this and every time it has shown to increase allocations, GC, contentions, etc. and has affected Visual Studio performance. This might not be the case for F# right no

[2018-02-06 20:01] CyrusNajmabadi commented on #24668
It sounds like there is an extension that does this job.  is that not good enough here?  Thanks!

[2018-02-06 20:13] sharwell commented on #24640
@CyrusNajmabadi Yes that is what I meant 👍

[2018-02-06 20:17] yaakov-h commented on #24653
No, this is a command-line application running outside of VS.

It crashes both standalone and also when run as a child process with the debugger attached.

[2018-02-06 20:18] jcouv commented on #24640
Right, but it sounds like @Neme12 cannot repro on newer versions. I'm just not sure what fixed it.

[2018-02-06 20:38] JarLob commented on #20390
What about hanging analyzer that do not give a chance to other analyzers to run? #23879
Running them all at the same time may be not the best solution, but some UI indication is needed to notify a user that:
a) some analyzer is still being running
b) all registered analyzers didn't run yet

[2018-02-06 20:39] MkazemAkhgary commented on #24668
@CyrusNajmabadi what extension? I'd like to see, if you refer to that 😺

[2018-02-06 20:41] MkazemAkhgary commented on #24668
I have VS 2017 by the way.

[2018-02-06 20:46] CyrusNajmabadi commented on #24668
It was in the stack overflow post you mentioned :)

![image](https://user-images.githubusercontent.com/4564579/35883313-b0d92f8e-0b3b-11e8-8ff9-58f9b8c4cc3f.png)

[2018-02-06 20:56] MkazemAkhgary commented on #24668
@CyrusNajmabadi  I thought its only for VS 2015. ok ill try it to see if it works. thanks 👍

[2018-02-06 20:59] gundermanc commented on #24067
There is a heuristic baked into the tags which is currently used by Roslyn for positioning. We could have platformized the left-most-brace heuristic too, but my fear was that it's yet another hard-to-explain behavior in what is already a quite complex API. We've already had a lot of confusion as to what the behavior was for the IBlockTags, so for the IStructureTags I erred on the side of 100% expl

[2018-02-06 20:59] MkazemAkhgary commented on #24668
I get this error.

[code]

[2018-02-06 21:34] gundermanc commented on #24067
I was trying really hard to avoid it but I wonder if ultimately the API will need to have some form of custom projection resolver that can adjust the guidelines in projection scenarios.

[2018-02-06 21:37] gafter opened #24675 "C# compiler should report why a delegate conversion failed"
I was recently implementing support for https://github.com/dotnet/csharplang/issues/98 and discovered a regression in the quality of diagnostic for the following situation

[code]

We used to report
[code]

It used to be that `Program.Method` was a perfectly good method group that converts to the delegate type `D` with an error. However, under the new proposed rules for https://github.com/dotnet/c

[2018-02-06 22:11] heejaechang commented on #23879
currently, error list's "..." indicates that there are something running. but it is probably too subtle and aggregated too much information. (it doesn't distinguish source that are running)

we might need to adapt IVsTaskStatusCenterService  which got added recently. tagging @jinujoseph

[2018-02-06 22:12] heejaechang commented on #20390
@JarLob for now, "..." in error list indicates that information. but probably we need to adapt "IVsTaskStatusCenterService" to show more useful data to users.

[2018-02-06 22:19] CyrusNajmabadi commented on #24067
I really don't think it would be that hard to describe.  It's pretty intuitive, and can be explained easily:

"We have a start point and an endpoint.  We take the column of each and draw whichever is leftmost".

But again, every language now needs to do this, and they have to get it correct.  It's unclear to me why this isn't a good default thing to do for all languages, allowing languages to opt

[2018-02-06 22:30] CyrusNajmabadi commented on #24067
I don't think that will work for cases like:

[code]

We don't want hte line coming out the 'e', we want the line coming out of whichever guy is leftmost :)

[2018-02-06 22:36] CyrusNajmabadi commented on #24067
I don't thin i understand this case:

[code]

Roslyn should be passing the BlockSpan.Span as the span from the end of ```)``` to the start of ```}``` and BlockSpan.StatementSpan should be the span from ```If``` to ```}```.  We should be taking the leftmost of those two points AFAICT.  "MyLabel:" shouldn't play into it at all.

[2018-02-06 23:04] olegtk commented on #24668
Here is VS 2017 version: https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProductivityPowerPack2017

[2018-02-06 23:59] VSadov commented on #24348
Not sure if `jmp` will work reliably here. It is a relatively exotic instruction and the support for it may not be uniform on all platforms.
We would be doing `jmp` between a virtual and nonvirtual method and we must assume that the parameter layout of the caller and callee are exactly the same, including if anything is optimized or passed in registers or on stack. I am not sure we can fully guara

[2018-02-06 23:59] marek-safar opened #24677 "Update System.Reflection.Metadata dependency"
**Version Used**: 2.6.1

Roslyn builds and ships using old System.Reflection.Metadata dependency. The [fix](https://github.com/dotnet/corefx/issues/16354) was made to make System.Reflection.Metadata work on big-endian systems but Roslyn is still using very old version.

This blocks using Roslyn on big-endian systems and also makes features/enhancements like #24621 testing harder.

/cc @jaredpar

[2018-02-07 00:07] TaffarelJr opened #24678 "C# compiler should not report CS1983 when ValueTask<T> is returned from async method."
This seems to be the same issue as #19616, and I read through #17417 and #16530 as well. But since they're all closed, and it seems like it's been a while since #12621 was last worked on, I created this new issue.

I've been working with `ValueTask<T>` over the past month or so, and it's been OK (with the `SuppressMessage` attribute), until just today I got this error that I can't get rid of. I wo

[2018-02-07 00:14] jcouv commented on #24678
Tagging @cston

[2018-02-07 02:14] Joe4evr commented on #24652
You wouldn't even need *any* `unsafe`, [explicit layout can do that trick just fine already](https://dotnetfiddle.net/j7TrEd).

[2018-02-07 02:36] smitpatel commented on #22506
@mavasani - It goes away from Error List window after pragma lines are added.

[2018-02-07 03:02] ufcpp opened #24680 "Remove Unnecessary Usings misunderstands extension methods"
**Version Used**:

VS 2017 15.5.6
VS 2017 15.6.0 Preview 3.0

**Steps to Reproduce**:

Write the following code:

[code]

![image](https://user-images.githubusercontent.com/3760955/35896016-7c681ae0-0bfd-11e8-83e5-780590de3ae7.png)

![image](https://user-images.githubusercontent.com/3760955/35896025-8ad44090-0bfd-11e8-912e-9381bbdaeb86.png)

**Expected Behavior**:

Both removes `using System.React

[2018-02-07 04:14] gafter commented on #24680
The namespace `System.Reactive.Linq` is used in this program. It contains methods that are part of the method group designated in the program by `array.Select`. I realize that the result of overload resolution picks some other method, but the compiler does indeed use the specified namespace `System.Reactive.Linq` when analyzing this program.

While this is unfortunate, it is by design.

[2018-02-07 04:14] #24680 closed

[2018-02-07 05:56] MkazemAkhgary commented on #24668
@olegtk great, but how do I access tools now?

[2018-02-07 06:29] gafter commented on #24654
We are finding this method in `CommonTestBase`:

[code]

I don't know why that is considered a better candidate for error reporting than this one in `CSharpTestBase`:

[code]

Note the different type for `symbolValidator`.

[2018-02-07 06:31] gafter commented on #11619
Adding #24654 to this list.

[2018-02-07 06:32] gafter commented on #24654
The gist of the problem is that *none* of the extension methods work. The compiler has heuristics to decide which of them to complain about, which don't appear to do a good job in this case.

[2018-02-07 07:35] alrz opened #24682 "Create solution file containing only projects necessary for IDE feature development"
Roslyn.sln is pretty huge and slows down the development cycle, it's only useful when you want to work across all layers. We have Compilers.sln but there is no Features.sln for IDE-only work. I think compiler tests, for example, doesn't need to be in this solution.

It's also useful to separate C# and VB. I currently workaround this by manually adding projects to a new solution, but it does not al

[2018-02-07 08:09] jcouv commented on #24654
I don't understand how an error on a following statement affects overload resolution for an earlier statement.

[2018-02-07 13:40] IllidanS4 commented on #24348
Thanks for the response! It would be nice to have some sort of varargs forwarding support in the CLR (but I am not sure how many people will actually have a use case for it). I wonder if the `call` instruction would have to be modified in some way, or maybe some supplemental method that takes a *RuntimeArgumentHandle* and a method pointer is a better solution.

[2018-02-07 14:08] abhijitparkhi1983 opened #24691 "MSBuildWorkspace: Exception : Unable to cast object of type 'Microsoft.CodeAnalysis.BuildTasks.Csc' to type 'Microsoft.Build.Framework.ITask'."
**Version Used**: 2.6.1

**Steps to Reproduce**:

1. Create console app using VS 2015 and add nuget reference to Microsoft.CodeAnalysis (.NET framework 4.6.1)
2. On the same machine, VS 2017 comunity version is also installed.
3.  Try to call below program:

[code]
here the **projectPath** is a path of .csproj file.

**Expected Behavior**:
`workspace.OpenProjectAsync(projectPath).Result;` should r

[2018-02-07 14:31] sharwell commented on #24682
@alrz I would prefer not to do this. I understand where you are coming from, but it has a few downsides:

* It increases maintainability costs (though not to the extent it once did)
* One of the most valuable things about the current solution is it helps us get feedback about the performance with a wide variety of developer focuses and workflows

It's probably hard to see as an external contributo

[2018-02-07 16:13] gafter commented on #24654
Any errors anywhere inside the lambda affect overload resolution of the call containing the lambda, which changes the lambda parameter types.

[2018-02-07 17:59] RemyArmstro commented on #779
@basoundr +1 for having a flag to not break other customers, but I would really love the option to have my collection initializers formatted.

[2018-02-07 19:23] alrz commented on #24682
It's not just my workflow, there are obvious reasons that simply loading more projects would hurt performance. Examining all tests (for test explorer), symbols (for code navigation), assemblies (for incremental compilation), etc ,etc. Surely, there is room for improvement in all these, but I think separating things out is cheapest workaround that we can do *right now* and not slow down the whole d

[2018-02-07 19:39] CyrusNajmabadi commented on #24682
I'm with sam on this.  The experience with Roslyn.sln is not good.  But if we don't fell the pain of that regularly, we're far less motivated to improve the performance of things.  That means customers who do have solutions like Roslyn.sln (or worse) are far less likely to have their perf issues addressed.

We also discover perf problems far sooner with a solution like Roslyn.sln.  For example, wh

[2018-02-07 19:42] CyrusNajmabadi commented on #24682
Here's the thing though we don't want any of those to hurt performance.  CodeNavigation (i.e. NavigateTo/FindAllReferences) should have good performance regardless of solution size. If it doesn't, we shoudl fix that.  For example, FindAllReferences puts the majority of its cost into building its index, so that searching and validating results can hopefully be fast, and only cost linearly with the

[2018-02-07 19:45] alrz commented on #24682
Me too. but that's the thing I want *now*, not VS2020. I guess the fastest solution is to have more solutions?

[2018-02-07 19:50] alrz commented on #24682
I don't mind doing this in my worktree. just wanted to know if anyone else has this problem, so we can fix it once and for all. appearly that's actually the case but we need to experience the pain to get motivated.

[2018-02-07 19:56] CyrusNajmabadi commented on #24682
Yup. Having to live with the pain is one of the best ways to get things looked at :)

[2018-02-07 20:00] alrz commented on #24682
now if you need anyone else to also feel that pain, it's kinda sadomasochism, but I agree it works.

Seriously, Roslyn.sln won't go anywhere, so you can force yourself to only work on Roslyn.sln to appreciate how it actually feels.

[2018-02-07 20:05] alrz commented on #24682
I fully understand the thought process here, but I think the only ones that need to know about performance problems are the ones working on performance problems. not anyone else has to get involved in this. I guess it's a pretty reasonable request.

[2018-02-07 20:25] sharwell commented on #24682
We shaved 4+ minutes off of test discovery time in the last 3 weeks by using Roslyn.sln to place pressure on the appropriate teams.

[2018-02-07 20:34] gafter commented on #24652
@Joe4evr Although `LayoutKind.Explicit` does not require `unsafe`, it is unsafe. There is no other way to explain the behavior of explicit layout by reference to the C# language specification. It is too late for the C# compiler to require it only be used in an unsafe context.

[2018-02-07 20:57] #24627 closed

[2018-02-07 21:56] jcouv commented on #22440
I've been thinking about this more. Maybe we wouldn't introduce a naming code style for local functions, but rather introduce one for locals (which local functions would be one of).

[2018-02-07 22:15] cston opened #24696 "Stepping is slow when Callstack Window has "Show Parameter Values" set"
Stepping through Roslyn code is slow when the Locals Window and Callstack Window are visible and "Show Parameter Values" is set. Stepping is noticeably faster when parameter values are not included.

[2018-02-07 23:08] MelbourneDeveloper commented on #24630
Any ideas on this? This is a major issue for us. We just pushed out a version of our app in to production and now we can't compile anything on site. I have to pull the customer's database down, compile it locally and then send the DLLs back out. This defeats the whole purpose of the code generation module in our app.

[2018-02-07 23:08] tmat opened #24697 "Generate Overrides UI doesn't support multi-selection"
**Version Used**:
![image](https://user-images.githubusercontent.com/41759/35946453-a7edd8a6-0c18-11e8-8f7c-43b3611128fc.png)

**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/41759/35946443-9e836a9c-0c18-11e8-8317-4013a8bd7c78.png)

1. Click on an item
2. Shift+Click on another line below the selected item

**Expected Behavior**:

Multiple items should be selected.

**A

[2018-02-07 23:14] tmat opened #24698 ""Fix all in document" doesn't work for "Use expression bodies" refactoring"
**Version Used**:
![image](https://user-images.githubusercontent.com/41759/35946578-3108a9fe-0c19-11e8-9a87-b8bafc52f96d.png)

**Steps to Reproduce**:

1. Open TestMessageProvider.cs in Roslyn.sln (commit 000735ee9c887c644e02c7b8bfb5ae44b06b4621)
2. Invoke "Use expression bodies" on one of the methods or properties
3. Select Fix all in document.

**Expected Behavior**:

Refactoring applied to all

[2018-02-07 23:25] jcouv opened #24699 "Test plan for "stackalloc initializers""
This is a place to collect test ideas and track work items.
Relates to https://github.com/dotnet/csharplang/pull/1122

- [ ] optimization and endianess issue
- [ ] Test `GetOperation`
- [ ] Test [IDE scenarios](https://github.com/dotnet/roslyn/wiki/Manual-Testing)

Tagging @alrz

[2018-02-07 23:26] GrabYourPitchforks commented on #24652
@Joe4evr @gafter I don't think it would make sense to require the `unsafe` keyword anyway. Explicit layouts are completely verifiable IL as long as you're not overlaying references (type safety violation) or private fields of structs (visibility violation). Blitting simple primitives on top of each other doesn't violate either of these conditions.

[2018-02-07 23:33] sharwell commented on #24698
Probable duplicate of #19089

[2018-02-07 23:39] MelbourneDeveloper commented on #24630
I found a workaround. If I copy the file System.Runtime.dll from my bin folder to the path C:\Windows\system32\config\systemprofile\AppData\Local\assembly\dl3\8GTGDQKQ.4QR\V42JN801.7NM\36a4366e\f1f27652_1972d301 the assembly compiles fine.

So, Roslyn is ignoring the path I am telling it that System.Runtime.dll is in and expecting to find the DLL in a hard coded path instead. This does seem like a

[2018-02-07 23:50] MelbourneDeveloper commented on #24630
This is our code for setting up the compiler params. It appears that we are not nominating a target version of .NET. We are using version 4.6.1 of .NET:

        private static CompilerParameters GetCompilerParams(Assembly theAssembly, bool createPDBFile, BuildType buildType)
        {
            //Set the compiler options
            var compilerParams = new CompilerParameters(null, null, true);

[2018-02-08 00:29] MelbourneDeveloper commented on #24630
I can confirm that when CompileAssemblyFromSource() is called, the ReferencedAssemblies collection does not have a reference to System.Runtime.dll . The compiler is hard coding where it thinks the DLL is to be found and ignoring what I tell it.

[2018-02-08 00:49] natemcmaster commented on #23846
Maybe related? We started getting similar failures today, but with exit code 139.

[code]

[2018-02-08 00:54] danmosemsft commented on #23846
139 = SIGSEGV so csc, I guess, segfaulted (or something else in the dotnet process?). If the machine is set up to create dumpfiles, hopefully one can be grabbed.

[2018-02-08 01:00] natemcmaster commented on #23846
macOS created this crash report: [dotnet_2018-02-07-153854_aspnetci-mac-a02.crash.txt](https://github.com/dotnet/roslyn/files/1705312/dotnet_2018-02-07-153854_aspnetci-mac-a02.crash.txt). You were right: EXC_BAD_ACCESS (SIGSEGV). It's hard to say why though. The threads in the dump are native stack traces.

[2018-02-08 01:08] danmosemsft commented on #23846
If yo ulook further down it tells you the thread that crashed:
[code]

is there an actual dump file (maybe in `/cores` ? ). Perhaps the owner of GetMethodDescFromMemberDefOrRefOrSpec can make something of it.

cc @janvorli

[2018-02-08 01:16] natemcmaster commented on #23846
Sorry, we didn't get a coredump for this one. I'll let you know if I capture one on the next failure.

[2018-02-08 01:27] danmosemsft commented on #23846
Presumably the system isn't set up to enable them. You'll want to switch them on?

https://stackoverflow.com/questions/9412156/how-to-generate-core-dumps-in-mac-os-x

[2018-02-08 06:05] gafter commented on #24652
@GrabYourPitchforks Verifiable perhaps, but such code can undermine the compiler's implementation invariants.

[2018-02-08 06:20] alrz opened #24701 "Improve parsing error recovery on an implicit array creation with a length"
It currently produces various syntax errors.
[code]
[code]

[2018-02-08 08:06] CyrusNajmabadi commented on #22440
I'm not sure i would like that.  I use camelCase for locals, but PascalCase for local methods :)

[2018-02-08 09:50] jmarolf commented on #24682
@sharwell and @CyrusNajmabadi 's arguments make sense and I personally want us to focus on rapidly getting to a place where VS 2017.7 or 2017.8 are so good this doesn't matter.  At the same time I don't want to cause contributor pain while we get there.

We essentially have 4 layers today that could be split into separate solutions:
* **Visual Studio Integration**
* **Features**
* **Workspaces*
*

[2018-02-08 11:32] heejaechang opened #24707 ""..." on error list sometimes never go away"
even though there is no activity in devenv, "..." on error list never goes away

[2018-02-08 12:45] AndersMad commented on #24542
I think I can confirm that: If I uninstall nuget Microsoft.Net.Compilers I no longer get `The "EmbedAllSources" parameter is not supported by the "Csc" task` in all the solution projects.

[2018-02-08 13:01] wpsmmb commented on #15556
Another problem in non ASP.NET-projects is the build target changed in 1.0.6, 1.0.7, 1.0.8:

[code]

This will copy the compiler to the path 'C:\bin\roslyn' for non ASP.NET-projects. The older build target shipped with 1.0.5 works fine. [With some magic on private fields _compilerSettings and  _compilerFullPath.]

[code]

[2018-02-08 15:03] abhijitparkhi1983 opened #24709 "Exception : C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v10.0\WebApplications\Microsoft.WebApplication.targets not found"
**Version Used**:
2.3.2
**Steps to Reproduce**:

1. We have a Windows **server** machine having following installed:
- .NET Framework 4.0. to .NET framework 7.2.
-  Build Tool for VS 2013
- Build tool for VS 2015

NOTE: We cannot install any flavor of Visual Studios on this machine as this is a server machine.

2. We have a simple C# application using Roslyn capabilities for opening .csproj projec

[2018-02-08 16:56] rchande opened #24710 "Feature Request: Removed Unused Usings Ignore List"
Copied from https://github.com/OmniSharp/omnisharp-vscode/issues/2018

Regardless of if they are currently used or not in the file, I always like to have
[code]
In my list of usings. It would be fantastic if there was an option that let us specify which namespace should be ignored when the Remove unnecessary usings function is run.

[2018-02-08 17:46] miloush commented on #23890
I believe I hit this in 15.6.0 Preview 4:
[code]

Not 100% sure but I think it was the autocompletion in immediate window.

[2018-02-08 18:54] mavasani commented on #11750
https://github.com/dotnet/roslyn-analyzers/issues/1559: Another customer report of bad user experience due to us skipping the compilation end actions with FSA turned off - the nasty part is that compilation-end diagnostics generated from build are also clearer out from the error list, leading to user non-trusting the error list and getting no sqiggles for issues reported by build.

[2018-02-08 18:54] mavasani commented on #11750
Tagging @jinujoseph @kuhlenh for bringing this up in the next design meeting.

[2018-02-08 18:56] jcouv commented on #24654
From discussion with Neal, I now understand the problem better.

The compiler used to have a heuristic for handling code with errors where the overload that minimizes the number of errors would be preferred. So in this example, the lambda would be interpreted in a a way that it only has 1 error rather than 2.
It sounds like the heuristic changed (possibly to pick the best parameter types individua

[2018-02-08 19:37] tmat opened #24712 "Remove DebugDirectoryExtensions"
The implementation needs to be moved to System.Reflection.Metadata: https://github.com/dotnet/corefx/issues/26935

Remove it from Roslyn once it's available thru SRM.

[2018-02-08 19:38] tmat commented on #24677
Once we update to the latest we can clean up: https://github.com/dotnet/roslyn/issues/24712

[2018-02-08 20:52] jcouv commented on #24701
Linking to https://github.com/dotnet/roslyn/issues/24699

[2018-02-08 21:00] jcouv opened #24713 "Test with AllInOneCSharpCode should fail when new syntax nodes are introduced"
Currently we have to remember to update those tests, and more often than not we forget.

[2018-02-08 21:02] CyrusNajmabadi opened #24714 "Tagging gets very out of sync when typing, and takes a long time to get into a consistent state."
This started happening when i moved to 15.6 preview 4.  I've also confirmed with @sharwell that this isn't happening only on my machine.  A gif will be helpful to show the issue:

![simpleediting](https://user-images.githubusercontent.com/4564579/35998020-41bb3638-0cd0-11e8-96e3-67dd0ca94349.gif)

As you can see tags get very out of sync with the code (the worst example of this is how the ```...``

[2018-02-08 21:03] CyrusNajmabadi commented on #24714
tagging @dotnet/roslyn-ide This is a very bad regression in the editing experience and definitely cannot be shipped like this :-/

[2018-02-08 21:04] CyrusNajmabadi commented on #24714
Note: my guess is that this could be due to the tagging change made here: https://github.com/dotnet/roslyn/pull/23448

That changed tagging and could maybe have led to this.

[2018-02-08 21:08] CyrusNajmabadi commented on #24714
It's possible that this code is at fault:

https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/Core/Implementation/Diagnostics/AbstractDiagnosticsTaggerProvider.cs#L137-L143

The problem being that we *delay* until querying for diagnostics from the diagnostic service, but then we just simply map those diagnostics directly to the *current* snapshot we have.  When this happens during edi

[2018-02-08 21:10] alrz commented on #24713
It does fail, but apparently some nodes can sneak in. (like refs that you mentioned)

[2018-02-08 21:12] CyrusNajmabadi commented on #24714
I think i can fix this.

[2018-02-08 21:14] heejaechang commented on #24714
no diagnostic service doesn't hold onto snapshot. but I dont think the issue is that since diagnostic service will re-analyze active file quite fast. I think we don't need any delay on tag source itself since diagnostic service have delay on its own.

[2018-02-08 21:15] CyrusNajmabadi commented on #24714
We could try that.  Note though that tagging always has some levels of delay.  But if we set it to the lowest, maybe it will be imperceptible.

[2018-02-08 21:16] CyrusNajmabadi commented on #24714
@heejaechang the old system worked because we heard about DiagnosticsUpdatedArgs, which had the Solution that we could look at.  The new system is only given UpdatedEventArgs, which doesn't ahve the Solution.  Would it be bad if the cached diagnostics held onto this?  It would mean keeping Solutions alive.  But they would only be alive in the intermediary period until new diagnostics were produced

[2018-02-08 21:25] heejaechang commented on #24714
that feels dangerous since not all data is for same solution since when there are multiple analyser (1..n), analyzer(n) might not run for a long time due to typing (cancellation) and old solution get alive since that is the last diagnostics reported by analyzer(n).

I think we should make these (http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/Diagnostics/AbstractDiagn

[2018-02-08 21:29] CyrusNajmabadi commented on #24714
That's not really the case.  A major reason for the delay is that we don't want to update the UI too quickly.  We need to ensure that if we do lower the delays that we don't end up degrading the experience where squiggles only appear after 1.5 seconds to not feel like they're too aggressive.

[2018-02-08 21:29] heejaechang commented on #24714
okay. this is not the right delay (http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/Diagnostics/AbstractDiagnosticsTaggerProvider.cs,48)

[2018-02-08 21:29] CyrusNajmabadi commented on #24714
My hope is that with:

[code]

That we will have ok behavior.

[2018-02-08 21:31] CyrusNajmabadi commented on #24714
Can we then at least hold onto the SourceText?

[2018-02-08 21:31] heejaechang commented on #24714
I meant this delay - http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/Diagnostics/AbstractDiagnosticsTaggerProvider.cs,52

[2018-02-08 21:32] CyrusNajmabadi commented on #24714
Can you point me at where these delays are in the diagnostic service code?  I want to understand what delays are baked in there.  Thanks!

[2018-02-08 21:32] heejaechang commented on #24714
ah. no ignore what I said.

[2018-02-08 21:33] heejaechang commented on #24714
now I know why this is happening. give me sec.

[2018-02-08 21:39] heejaechang commented on #24714
this is happening, because one of diagnostic analyzer (1) ran and sent out new diagnostics (based on new solution/sourceText). all other analyzers are based on old solution/sourceText.

when we refresh, right now, we don't refresh just analyzer (1) but all analyzers. now spans are all mixed up (some based on new solution/text, some or based on old solution/text). so all spans except for analyzer (

[2018-02-08 21:41] CyrusNajmabadi commented on #24714
Even with the change to the timings, i still perceive out of sync data:

![image](https://user-images.githubusercontent.com/4564579/35999761-b9028156-0cd5-11e8-848d-e1f2d32bd8d0.png)

See how ```@new``` has its colors shifted due to the overlay of the faded out code being wrong.

[2018-02-08 21:42] CyrusNajmabadi commented on #24714
Yup.  Or just hold onto the SourceText.  The ITextSnapshot can be found from that SourceText at the editor layer.

[2018-02-08 21:42] heejaechang commented on #24714
Yep. delay is not the issue. I wrote about what the issue is (https://github.com/dotnet/roslyn/issues/24714#issuecomment-364257070)

[2018-02-08 21:43] CyrusNajmabadi commented on #24714
My preference would be that DiagnosticService could provide results that specified what point in time they were for.  i.e. by returning the SourceText they were created against.  That would make the service 'Accurate' in the sense that teh tagger would know how to map those results back to the snapshot that was being tagged.

[2018-02-08 21:44] heejaechang commented on #24714
delay is on solution crawler. and these are options for those delays
(http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/SolutionCrawler/InternalSolutionCrawlerOptions.cs)

[2018-02-08 21:46] heejaechang commented on #24714
no you can't do that for old sourceText. SourceText doesn't strong reference ITextSnapshot otherwise, we will have editor text buffer/view leaked all over the places.

[2018-02-08 21:49] heejaechang commented on #24714
DiagnosticService works on top of Solution. it doesn't know or care about editor buffer or view. we can create some other thing that takes care that EditorBuffer <-> SourceText lifetime management (which Diagnostic Tagger used to do) but it shouldn't be DiagnosticService.

if we want to know when the data was created, we can make DiagnosticService to hold onto versions. but I dont think that infor

[2018-02-08 21:50] CyrusNajmabadi commented on #24714
I thought that's why we had SnapshotSourceText...

[2018-02-08 21:52] CyrusNajmabadi commented on #24714
Even the 'Closed' version holds onto an ITextImage which has an ITextImageVersion.  We could, at the very least hold onto that.  That would then let us walk forward from the version at that point, to the version we have when computing tags.  Holding onto the version would would be very lightweight.

[2018-02-08 21:54] heejaechang commented on #24714
no it just means SourceText implemented on top of ITextSnapshot implementation. it is not same instance of ITextSnapshot editor gave us. we create our own one.

we use ITextSnapshot rather than Compiler's StringSourceText since editor's implementation of buffer was more efficient (on memory and modifications).

[2018-02-08 21:58] CyrusNajmabadi commented on #24714
...

Yes.  I'm still not getting why we can't hold onto that.  Do the ITextImageVersions not work there?  I thought all that happened here was that we disconnected from the buffer.  but that we still had good snapshots+versions.  Is that not hte case?

[2018-02-08 21:59] CyrusNajmabadi commented on #24714
or is the clone we make 'disconnected' from the original, and thus the version can't be used for that purpose?  (if so, a pity).

[2018-02-08 22:02] heejaechang commented on #24714
yes. I wanted it as well. so, we don't need to do this dancing between Roslyn buffer <-> Editor buffer thing. the one reason (not all but one of the main reason) we do that Roslyn buffer <-> Editor Buffer dancing is for the TrackingSpan.

if we can make SourceText to support  TrackingSpan then we don't need that conversion most of time (except for PropertyBags which is I believe another main case

[2018-02-08 22:04] CyrusNajmabadi commented on #24714
I'm still very confused.  For open documents, when do we ever have a SourceText that isn't a SnapshotSourceText?  And if we always have a SnapshotSourceText for an open document, then don't we always have a good ITextSnapshot or ITextImage that we can use?

[2018-02-08 22:04] heejaechang commented on #24714
like I write above, we can support trackingSpan internally for only open files since we never push out open file's source text to memory map file. it would be nice that TrackingSpan is fully supported in SourceText publicly. anyway, we can at least make internally supported if we want to.

[2018-02-08 22:06] CyrusNajmabadi commented on #24714
My point is tihs: why would we need to do any *extra* work.  The SourceText for an open document is doing to be a SnapshotSourceText right?  That SnapshotSourceText *already* holds onto the ITextSnapshot and ITextImage.  So why would we need to do anything special with trackingSpans?  The SourceText already has the information in it we need.

[2018-02-08 22:07] CyrusNajmabadi commented on #24714
In other words:  If UpdatedEventArgs held the SourceText for the diagnostics, then that SourceText would be an SnapshotSourceText for open files.  A SnapshotSourceText can be mapped back to the right ITextSnapshot it corresponds to.  Now we have the original ITextSnapshot, and current ITextSnapshot.  so we can just map spans between those trivially.

[2018-02-08 22:07] heejaechang commented on #24714
okay, simply put. if we want to add internal only special ability to TrackSpan for open files. there is nothing prevent us from doing it. just create ExtensionMethod that checks whether SourceText is SnapshotSourceText and use tracking span. that is all you need.

but it can't be generally supported due to memory map file stuff.

[2018-02-08 22:08] CyrusNajmabadi commented on #24714
Why do we need to add anything?  All the information is already there...   we would only need to be able to get the SourceText that was used when creating the diagnostics.

[2018-02-08 22:09] heejaechang commented on #24714
I dont like UpdateEventArgs holding on to SourceText. it is designed specifically not to hold any big data.

[2018-02-08 22:09] CyrusNajmabadi commented on #24714
Sure.  But this is for tagging.  Where we have an open document.  And as such, can be reasonably confident that you are giving us a SourceText we can get an ITextSnapshot back from.  (And, if we fail to do so, we can just ignore that event).

[2018-02-08 22:09] CyrusNajmabadi commented on #24714
Can you then hold onto the ITextImageVersion?

[2018-02-08 22:12] heejaechang commented on #24714
isn't easiest way just update info of analyzer just updated from the tagger?

[2018-02-08 22:13] CyrusNajmabadi commented on #24714
Not sure what that means.  Can you clarify?

[2018-02-08 22:26] heejaechang commented on #24714
first, change this
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Shared/Tagging/EventSources/TaggerEventSources.DiagnosticsChangedEventSource.cs,30

to pass in e to RaiseChanged or e.Id

and then change
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Tagging/TaggerEventArgs.cs,22

so that it can hold onto arbitrary data EventSource want to propagate

in here, make s

[2018-02-08 22:29] CyrusNajmabadi commented on #24714
Having EventSources propagate data is very very risky.  I looked at that another time for anotehr bug.  There are no guarantees about how these get delivered.  For example, if you get mulitple events then previous events may cancel and get dropped on the floor.  So you won't know about data you needed to process.

[2018-02-08 22:30] gafter opened #24718 ""The project system has encountered an error." popup"
Using the Int preview.

I tried running some Roslyn tests from VS using the "Run Tests" TestDriven menu item from the Explorer window.

![image](https://user-images.githubusercontent.com/3804346/36001724-3998e14c-0cdc-11e8-99aa-6a3833a6c93c.png)

[code]

[2018-02-08 22:32] CyrusNajmabadi commented on #24714
The way the current system is designed:  Events are only used to trigger a call to ProduceTagsAsync.  They are absolutely not stateful.  The design is: if we hear about any event at all, we recompute tags using the state of the system and the ITextSnapshot we want to tag.  Tags must be accurate against that ITextSnapshot.

--

Now, one thing we *could* do is to have this diagnostic tagger listen f

[2018-02-08 22:33] CyrusNajmabadi commented on #24714
Let me try this out.

[2018-02-08 22:39] CyrusNajmabadi commented on #24714
But my *strong* preference would still be that UpdateEventArgs could store something that indicates hte text snapshot image version in it for open documents.  It seems like data we would have.

[2018-02-08 22:40] heejaechang commented on #24714
well, that's why old design had what it had.

but,

can we make TagSource to generalize what it does for AccumulateTextChanges? basically we need generic mechanism to aggregate those info.

[2018-02-08 22:42] CyrusNajmabadi commented on #24714
We don't "need" this.  That's an option for how we fix this.  But at great extra complexity for tagging. :)

[2018-02-08 22:42] heejaechang commented on #24714
but then it needs to know what is generated for open files? and open file is mutable state and where all data is based on immutable data (Solution). we need to update based on whether a file is opened and closed.

[2018-02-08 22:44] CyrusNajmabadi commented on #24714
Inside DiagnosticService we have:

[code]

This is waht creates the Data objects here:

[code]

Because we have a DiagnosticsUpdatedArgs  we know the snapshot of the world that we were created against.  I don't see why we could not use this to figure out for open documents what the ITextImageVersion is.  We're at the Feature layer, so all this information is avialable to us.

[2018-02-08 22:45] heejaechang commented on #24714
well. if tagger can support only one way it has set and deny any other trigger and information. then we can go the original route of diagnostic tagger having its own tagger logic rather than try to jam into something it can't be supported.

[2018-02-08 22:45] CyrusNajmabadi commented on #24714
I'm not seeing a problem with that.  For closed files, we simply say "here's the best data we had at the time we computed things".  For open files we say "here's the data we have, and the snapshot version it was created against".   Tagging can completely ignore the former, and use the latter to get precise span information.

[2018-02-08 22:48] CyrusNajmabadi commented on #24714
That route is *super complex*.  I went down there before and it caused all sorts of problems.  The primary issue is that the tagger was not designed to be stateful in this manner and to ensure that all events could aggregate state.

AccumulatedTextChanges is designed to be non-accurate.  Namely, if it is missing or innacurate, we'll still get accurate results *later*.  It's just an optimization th

[2018-02-08 22:49] CyrusNajmabadi commented on #24714
Again, that's very complex.  I'm literally talking about a few line fix here where UpdateArgs can store this value if available... I'm not sure why we're so agains that route.

[2018-02-08 22:50] heejaechang commented on #24714
ITextImageVersion is point to a graph. that is why. it can leak bunch of stuff. and I am not sure why you are against adding value to EventSource to propagate either.

[2018-02-08 22:53] isc30 commented on #23030
Hi, I want to start contributing and getting familiar with the project. Is this a good starting task?

[2018-02-08 22:58] heejaechang commented on #24714
I am not sure why it is so complex. looks like it just need to keep accumulate data in here
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs,58

and then reset in here
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs,712

if that doesn'

[2018-02-08 23:10] CyrusNajmabadi commented on #24714
How?  What stuff does ITextImageVersion point to?

[2018-02-08 23:10] CyrusNajmabadi commented on #24714
I told you why.  I already tried such a change in the past and it turned out to have severe problems because we didn't design the system to *accurately* capture this information.  that's ok for AccumulatedTextChanges because if the information isn't accurate then at worst we're just *more expensive*.  But we don't compute *wrong* data.

[2018-02-08 23:11] CyrusNajmabadi commented on #24714
in other words, AccumulatedTextChanges helps speed things up.  It isn't necessary for correctness.  Making the tagger architecture *stateful* beyond jsut the tags that are stored was an explicit *non-goal* for simplicity.

[2018-02-08 23:15] nguerrera commented on #24718
https://github.com/dotnet/project-system/issues/3161

[2018-02-08 23:16] CyrusNajmabadi commented on #24714
Specifically, accumulation is much trickier when it comes to cancellation. Today, we assume we can cancel and recompute at any time and we'll always get *accurate* results.  With accumulation that's much harder to do.  Now, we have to ensure that the accumulator state is perfectly in sync with the tags produced.  If we ever mutate the accumulator state, but then cancel, then we can miss critical n

[2018-02-08 23:16] heejaechang commented on #24714
so, it can never be changed? if we have need, why not support that?

...

this is the interface right?
http://index/?query=ITextImageVersion%20&rightProject=Microsoft.VisualStudio.Text.Data&file=Model%5CITextImageVersion.cs&line=12

if you hold onto version 0, you are holding onto whole buffer. it is a tip of a bunch bigger data. and same reason, this is not something DiagnosticService will care.

[2018-02-08 23:18] CyrusNajmabadi commented on #24714
Because doing it accurately is very hard.  It *dramatically* increases hte compelxity of an already complex system.  Complexity is horrible in tagging.  We've seen how many race conditions and problems that we've encountered there over the years.  We want to absolutely have a simple system.

[2018-02-08 23:18] CyrusNajmabadi commented on #24714
I can't view http://index links.

[2018-02-08 23:19] CyrusNajmabadi commented on #24714
This is waht ITextImageVersion looks like to me:

[code]

Versions are extremely lightweight. They're just a forward linking chain of edits.  They don't hold onto any graphs.

[2018-02-08 23:20] CyrusNajmabadi commented on #24714
Actually i disagree.  Anyone who wants to accurately know which snapshot these diagnostic spans are associated with will care.  Right now the assumption of the diagnostic tagger is "clients will not care what the spans are, and if they're not accurate with the current Solution snapshot".  I don't believe that's correct.  And htat's different from all other Roslyn services.

[2018-02-08 23:23] heejaechang commented on #24714
ITextImageVersion Next { get; }
 INormalizedTextChangeCollection Changes { get; }

not sure how this is not heavy?

..

if that is true, then we should hold onto sourcetext not only for open file. that is just hack when it says I only hold onto data for open file when the service itself doesn't care whether its data is from open file or not.

[2018-02-08 23:24] CyrusNajmabadi commented on #24714
I would be fine with that.

[2018-02-08 23:25] CyrusNajmabadi commented on #24714
These are extremely light.  That was the whole point of these types.  They allow you to map forward without holding onto the graph of data needed by ITextBuffers, and without holding onto the whole piecetable that's in the ITextSnapshot.

[2018-02-08 23:27] heejaechang commented on #24714
well. same I am fine with adding state to tagger.

..

sure, it is designed for different reason so its behavior is different. if you want correct info. you can always use

http://index/?leftProject=Microsoft.CodeAnalysis.Features&leftSymbol=dvig2bzttnff&file=Diagnostics%5CIDiagnosticAnalyzerService.cs&line=36

then it will behave exactly same as other tagger where it actually computes data for th

[2018-02-08 23:31] CyrusNajmabadi commented on #24714
That would be massively more complex.  Taking massively complex solutions when there are simple solutions is not appropriate engineering tradeoffs.

Again, the tagger is already extremely complex with lots of extension points and a TON of assumptions built in at every layer about what is safe.  The way we handle cancellation through the entire tagging stack is built on these assumptions.  It would

[2018-02-08 23:32] CyrusNajmabadi commented on #24714
Or we can use the solution i proposed in https://github.com/dotnet/roslyn/pull/24719  roughly 50 lines of code that is accurate and cheap.

I do not understand why you continually propose solutions that are either:

1. too expensive
2. too complex

We have effective options here that do not have these drawbacks and which solve the very serious problem at hand.  They can be easily reviewed and do n

[2018-02-08 23:38] heejaechang commented on #24714
because I don't agree what you said

what I proposing seems as simple as what you proposed. and if I put comment that says accumulated data will contains everything reported from EventSource until ProduceTagsAsync successfully ran then there is no confusion or complexity.

I am not sure why that is either more complex or less hacky than adding OpenSourceText on DiagnosticService.

[2018-02-08 23:39] gafter commented on #24488
@alrz I understand what they would be used for. I don't understand the intended *meaning* of such an arbitrary region.

[2018-02-08 23:41] CyrusNajmabadi commented on #24714
You literally said:

I don't know why you're proposing expensive solutions.

[2018-02-08 23:42] heejaechang commented on #24714
that was typo. I meant

[2018-02-08 23:43] CyrusNajmabadi commented on #24714
Heejae, i have tried to make ths work in the past.  It is complex.  There are a lot of cancellation codepaths.  There is a lot of concurrency in tagging.

Your solution is not sufficient either:

This is not sufficient.  Because now you have the issue of what happens when you hear about a new event *while* you are in the middle of ProducingTags.  Now when ProduceTags finishes it needs to know whic

[2018-02-08 23:51] jcouv commented on #24710
I agree it's useful to have some unused usings. For instance, the Expression Evaluator won't let you use Linq methods when debugging unless `using System.Linq;` is there.

If that's the main scenario, another option to consider would be for the EE to always include those namespaces.

Tagging @cston in case something to add.

[2018-02-08 23:51] heejaechang commented on #24714
that seems can be dealt with since we have single point where we know whether something is done or not. (ProduceTagsAsync)

and the thing that handle successful run in http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs,571

and merge stuff back.

or change how cancellation work if that is the root cause of all the comp

[2018-02-08 23:52] CyrusNajmabadi commented on #24714
it is *extremely* complex.  Right now the entire tagger system was built predicated on the assumption about the lack of need to track any state *accurately* beyond just computed tags.  It was also built with a very specific eventing + threading model in mind.  Specifically that it works like so:

[code]

There's a very specific state machine at work here and we've designed every bit of the system

[2018-02-08 23:52] CyrusNajmabadi commented on #24714
No.  That is *not*

[2018-02-08 23:55] heejaechang commented on #24714
if point after this (ProduceTags (cancellable)) is not cancellable. why it is still problem? we did ProduceTags so why cancel that data?

[2018-02-08 23:56] CyrusNajmabadi commented on #24714
In order to do this you need:

1. an extensibility point for clients to indicate additional state they want to track.
2. a way to aggregate additional state data
3. a way to get ProduceTagsAsync/Sync to produce tags using some part of that aggregated data.
4. the ability to hear about newly aggregated data while that is running without it affecting ProduceTags.
5. The ability for ProduceTagsAsync

[2018-02-08 23:56] CyrusNajmabadi commented on #24714
ProduceTags is cancellable after production.  This was intentionally done so we don't waste time doing diffing and reporting tags whne we're only going to replace them shortly after with new tags.

[2018-02-08 23:58] CyrusNajmabadi commented on #24714
Can we please table the discussion of redesigning how tagging is done and either introducing a ton of complexity (accumulation tracking) or unknowns (what would it mean to not cancel tagging).

We have a tagging model that works well, as long as our data sources can actually say "here's the span that corresponds to snaphsot X".  Literally *ever* other part of our system can do that *except* Diagno

[2018-02-08 23:59] heejaechang commented on #24714
since the part before produceTags is always cancellable, not sure whether throwing away already calculated ProduceNewTags is more wasteful then keeping that information.

[2018-02-09 00:03] heejaechang commented on #24714
well if we are going to add some hack, then I would rather make DIagnosticTagger to subscribe to DiagnosticChanged event and hold onto a map (updateargs.Id, ITextSnapshot) and then use that to move span to latest location.

[2018-02-09 00:03] cston commented on #24710
I believe unused namespaces are not included in the PDB currently.

[2018-02-09 00:05] CyrusNajmabadi commented on #24714
I would be ok with that.  Though i'm concerned about the initial set of diagnostics.

[2018-02-09 00:05] Neme12 opened #24720 "CompositionFailedException when using RoslynDev in 15.6"
**Version Used**:  Visual Studio 15.6 preview 4 (happened on preview 3 as well; don't know before that)

When I run VisualStudioSetup/Next or just build and run RoslynDev in 15.6 and open a C# project, I keep getting this exception:
[code]

It keeps constantly getting thrown. If I try to ignore it, VS is completely unusable, it won't allow me to type (but I can navigate). I will even get the excep

[2018-02-09 00:13] jcouv commented on #24647
Fix merged for 15.7

[2018-02-09 00:13] #24647 closed

[2018-02-09 00:14] heejaechang commented on #24714
your PR also won't work for initial data as well since DiagnosticService will have data from closed files or not at all if FSA is off.

[2018-02-09 00:26] CyrusNajmabadi commented on #24714
Alternate approach is here: https://github.com/dotnet/roslyn/pull/24721

I would be fine with this approach as it blends simplicity and accuracy well,

[2018-02-09 06:19] jcouv opened #24725 "Comparison on "default" literal is inconsistent"
![image](https://user-images.githubusercontent.com/12466233/36014315-f2df546a-0d1d-11e8-9823-5fe19f6da74c.png)

![image](https://user-images.githubusercontent.com/12466233/36014318-fb1838cc-0d1d-11e8-85ec-35bf03c029b0.png)

The code shown is in context of `RewriteUsingStatementTryFinally`.
`SyntaxToken` has a custom `==` operator, while `AwaitableInfo` doesn't.

[2018-02-09 06:22] gafter commented on #16591
This situation gets CS0114, not CS0533.

It is true that it may be impossible to implement a hidden abstract method in the base class. My doctor tells me, if it hurts don't do that. Therefore, don't hide abstract members.

[2018-02-09 06:22] #16591 closed

[2018-02-09 06:24] gafter commented on #16591
CS0114 is warning you about a problem you may be placing upon external clients of your API. But if the method is `internal`, there are no external clients.

[2018-02-09 06:31] gafter commented on #17045
I'll document this as a breaking change.

[2018-02-09 08:37] yoyoys commented on #24245
I have same issue, i think it's because intellisense form some plugin

[2018-02-09 09:45] drauch opened #24732 "Installed analyzers should not run in referencing projects"
I've got two projects "A" and "A.Tests", where the second one is referencing the first one. I installed a Roslyn analyzer (via PackageReference) in project "A" and it works just fine. However, the analyzer is also executed for "A.Tests" which I don't want.

I cannot seem to remove it from "A.Tests" though, it is not contained in the csproj, it looks like the transitive dependency forces the analyz

[2018-02-09 09:50] nvankesteren commented on #19618
I do not understand why having an explicit rule in editorconfig to turn a code style check ON be completely overruled by a ruleset that has the same code style check set to NONE. I expect the latter rule to be DISABLED from checking anything (so the editorconfig setting is 'the one that checks the rule'), but that is not the case. So, having a rule in a ruleset set to NONE seems to mean 'suppress

[2018-02-09 09:51] drauch commented on #24732
Okay, it looks like I have to manually add `<PrivateAssets>all</PrivateAssets>` to the PackageReference in the csproj files!

[2018-02-09 10:12] alrz commented on #24488
@gafter Just that the analysis should consider precise starting/ending points of the region for results.

Here's an example,
[code]
We want to know if refactoring this to `out var` could led to def-assignment errors (it does)
[code]
This should result in `x` being in `FlowsIn` collection.

If we do this for the whole statement, `x` no longer flows in.

[2018-02-09 11:22] msbasanth opened #24733 "Xml Documentation on Methods shows difference in SyntaxTree structure with VS2017 IDE code analysis in background Vs explicitly triggered msbuild"
**Version Used**:
Roslyn v2.6.0
VS2017 15.5.6

**Steps to Reproduce**:

1. I have an analyzer for reading the XML Documentation and analyzing it. We have this analyzer added as an analyzer reference to a project where we have methods documented with XML Documentation.
E.g.

[code]

2. I use below code snippet to read XML Documentation.

[code]

3.  This works fine when we do code analysis from VS2

[2018-02-09 13:15] sharwell commented on #23030
@dwalleck Are you still working on this?

@isc30 I would be glad to find you another starting item. Or if @dwalleck is not working on this then it would be good. While we wait for an answer, you can go through the instructions to make sure you have the code checked out and building on your machine: https://github.com/dotnet/roslyn/blob/dev15.7.x/docs/contributing/Building,%20Debugging,%20and%20Tes

[2018-02-09 13:18] sharwell commented on #24732
Duplicate of NuGet/Home#4125

[2018-02-09 13:18] #24732 closed

[2018-02-09 13:29] sharwell commented on #24733
XML documentation output must be enabled, or the compiler will just treat them like normal comments. See #10003, #2773.

We created StyleCop Analyzers rule [SA0001](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA0001.md) for this scenario. It explains the requirement and provides workarounds for problems people may experience when turning this feature on.

[2018-02-09 13:30] sharwell commented on #24733
Duplicate of #10003.

[2018-02-09 13:30] #24733 closed

[2018-02-09 13:37] softlion commented on #21783
In fact there is a real bug which is not fixed:

- create project A (netstandard), use a C#7.1 feature (like default) in its code. Set langage feature to "C# latest" (minor version) for both Debug and Release configs.
- create project B (android) referencing project A
- create a new build configuration only in projet B called "Staging", copied from Release

Build on the command line configuration

[2018-02-09 13:50] sharwell commented on #19618
Something needed to come first. At the time the decision needed to be made, only .ruleset files were considered in the lowest layer of the compiler. Placing .ruleset files with the highest priority means the IDE behavior and the compiler behavior are consistent.

Normally if someone wants to configure a rule with .editorconfig, they omit that rule from the .ruleset file. Is there a reason why this

[2018-02-09 14:46] stuartleeks commented on #17974
Any update on the x-plat story for loading csproj workspaces?

[2018-02-09 15:01] isc30 commented on #23030
@sharwell After following the steps I always get this Test result:

Is it normal?

[2018-02-09 15:09] JosephWoodward commented on #17974
Really interested to know this too! Is it still on the road map?

[2018-02-09 15:39] nvankesteren commented on #19618
Yes. So I have this rule in my editorconfig
`dotnet_style_qualification_for_method = true:warning`
which is being used across editors and across different projects.

I also have a ruleset that applies to my current project, containing -for example- the StyleCop.Analyzers ruleset. Since the current state of the code throws lots of warnings, I decide to disable some part of the rules in the ruleset,

[2018-02-09 16:03] sharwell commented on #19618
Ah, the issue with [SA1101 (Prefix local calls with this)](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1101.md) is it appears to align with the .editorconfig settings [dotnet_style_qualification_for_*](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/9728db377d51b4a4745edc15575bd720f6fa6123/.editorconfig#L12-L16), but in reality the two are unrelated f

[2018-02-09 17:13] jaredpar commented on #23846
Based on the dump here my initial guess is this would be a bug in multi-core JIT. We only recently enabled that and given it's in the stack it's something to look into.

[2018-02-09 17:16] nvankesteren commented on #19618
Thanks for the additional info, that does help a bit! I'm using ReSharper as well, that does make things more confusing when some team members have it and some do not. "Where does this warning come from and why do you not see it at all?" ;-)

But I do have to wonder why the active ruleset editor has to be so confusing. What's with the rules with a 'WithoutSuggestion' postfix? When I have a clean r

[2018-02-09 17:42] sharwell commented on #19618
Can you file a separate issue for this? Better chance it can be improved. 😄

[2018-02-09 17:52] AdamSpeight2008 opened #24734 "[Idea] SubTokens"
With pull request #23984 and #24110 being considered, which rely on parsing a string literal to expose feature / details within that string. Should we have a mechanism that we can hook up to, so can add additional information. These sub tokens will not affect to parsing, syntactic or semantic meaning of the code, that could be used later to provide syntax highlighting.

[2018-02-09 17:55] sharwell commented on #24670
Reopening as a feature request (the above is a workaround but doesn't directly cover the case).

As should be obvious, this would be considered a lower-priority item internally, but I would be interested if someone did manage to make it work. 😄

[2018-02-09 17:57] tmat commented on #24670
@sharwell I'm not sure what you mean by not directly covering the case.

[2018-02-09 17:59] tmat commented on #24670
@sharwell Do you mean that if the `{...}` expression does not return `string` we should check its type for DebuggerDisplay attribute?

[2018-02-09 18:07] sharwell commented on #24670
Yes, exactly that would be awesome 😄

[2018-02-09 18:33] #24348 closed

[2018-02-09 18:35] gafter commented on #24488
@alrz Even if I understand what it means in that particular example, I do not know what it means in general. The existing APIs ensure there is a direct path from the beginning to the end of the region. This API does not.

[2018-02-09 18:40] tmat commented on #24670
@sharwell Agreed.

[2018-02-09 18:44] gafter commented on #17381
This is a year old and isn't being observed. Closing. Please reopen if observed again.

[2018-02-09 18:44] #17381 closed

[2018-02-09 18:48] gafter commented on #17753
Moving to IDE, as `SyntaxGenerator` is in the Workspaces layer.

[2018-02-09 19:02] jaredpar commented on #23846
Multicore JIT was enabled in Roslyn on Dec 8

https://github.com/dotnet/roslyn/pull/23173

This bug started showing up somewhat soon after. Seems more plausible this is the problem.

[2018-02-09 19:06] gafter commented on #18410
I'm not sure why such tests belong in the compiler repository.

We need tests that an array type implements all of the interfaces that the language spec says they should implement. Testing for the full set of interfaces that happen to be implemented in particular core libraries would seem to be a task for the core library tests, not the compiler tests. The compiler isn't doing anything (much) to m

[2018-02-09 19:15] tmat opened #24735 "Set EmitOptions.HashAlgorithmName from value of /checksumalgorithm"

[2018-02-09 19:29] jaredpar commented on #23846
CC @agocke

[2018-02-09 19:33] jasonmalinowski commented on #24720
@Neme12 Which branch are you using?

[2018-02-09 19:34] Neme12 commented on #24720
@jasonmalinowski master

[2018-02-09 19:36] jasonmalinowski commented on #24720
Hmm...that code shouldn't be in that branch. Try a full rebuild to see if that clears it up.

The LoaderLock thing is unrelated but known.

[2018-02-09 20:23] livarcocc opened #24736 "csc.dll exited with code 1"
_From @ryanbrandenburg on February 9, 2018 19:58_

## Steps to reproduce
1. dotnet new mvc
2. Add `.AddFormatterMappings(m => {);` between `.AddMvc()` and `.SetCompatibilityVersion` in 'Startup.cs'.
3. dotnet run

## Expected  behavior
I would expect to get an informative error message about the mistakes I've just made (leaving off a trailing "}" and adding a ";", then trying to call `.SetCompatib

[2018-02-09 20:52] gafter commented on #18470
The compiler has to resolve many different paths (e.g. source files) but it does not provide APIs to get those in absolute form either. It would seem odd to have an API for just this one. Unless there is a widespread need demonstrated for this, I don't see it happening.

[2018-02-09 20:52] #18470 closed

[2018-02-09 21:14] gafter commented on #16846
@HamedFathi Did you figure out the answer to this question?

[2018-02-09 21:16] gafter commented on #18620
The compiler thinks you're declaring something with type `async`. We should have better error recovery for this situation so the IDE is less confused.

[2018-02-09 21:18] gafter commented on #18860
It sounds like code coverage is changing the behavior of the instrumented program - in this case, the compiler itself.

[2018-02-09 21:20] gafter commented on #18860
Connect has been retired, so the link to repro details is dead. Can you please include the repro in this issue?

[2018-02-09 21:24] CyrusNajmabadi commented on #18620
I thought i already fixed this :)

[2018-02-09 21:24] tmat opened #24737 "Replace usage of SHA1 with a non-crypto hash algorithm where not used for security purposes"
- [ ] Calculating MVID and timestamp of PE file when building deterministically
- [ ] PrivateImplementationDetails.GenerateDataFieldName

[2018-02-09 21:26] OmarTawfik commented on #24351
Fixed in #24489

[2018-02-09 21:26] #24351 closed

[2018-02-09 21:35] gafter commented on #19003
I understand the dilemma, and agree it is unfortunate. However, it appears to be a consequence of the language specification. The compiler is doing nothing wrong. Any change to the compiler (e.g. permitting an accessor without a body) would need to be supported by a language feature change, and a change to the `DllImport` to permit it to be used on an event would need to be supported by a library

[2018-02-09 21:35] #19003 closed

[2018-02-09 21:45] Neme12 commented on #24720
@jasonmalinowski  It's working now. I have no idea what changed. I did a lot of rebuilds and restores before including deleting the Binaries folder and even the whole repo. Now it worked.

[2018-02-09 21:45] gafter commented on #19116
@AlekseyTs Please work with @jcouv and @cston to decide if this needs to be done.

[2018-02-09 22:16] gafter commented on #16733
I believe metadata tokens are not fully in lexical order of members. I believe it is in lexical order if you are only considering fields, or only considering methods, but I do not think there is a way to get the lexical order from metadata.

[2018-02-09 22:16] #16733 closed

[2018-02-09 22:21] gafter commented on #19838
Dup of #19003

[2018-02-09 22:21] #19838 closed

[2018-02-09 22:27] gafter commented on #20600
According to https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#nameof-expressions this should be legal. It is therefore a compiler bug.

[2018-02-09 22:35] agocke commented on #23846
@brianrob It looks like this may be caused by multi-core JIT. Could you take a look?

[2018-02-09 22:36] jcouv commented on #24701
Fixed in 15.7. Closing.

[2018-02-09 22:36] #24701 closed

[2018-02-09 22:48] gafter commented on #15929
I think the conclusion here is that such work would not likely be part of Roslyn, but more likely in https://github.com/mono/linker . However, we'll leave this open so people can find this.

[2018-02-09 22:54] #22629 closed

[2018-02-09 22:55] brianrob commented on #23846
@lt72, can you route this to the the right person for investigation?  This looks like it might be related to Multi-Core JIT.

[2018-02-09 22:55] gafter commented on #21323
Issue moved to [dotnet/coreclr #16312](https://github.com/dotnet/coreclr/issues/16312) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-09 22:55] #21323 closed

[2018-02-09 23:19] TIHan opened #24749 "Flakey Test - Microsoft.CodeAnalysis.Editor.UnitTests.InteractivePaste.InteractivePasteCommandhandlerTests.PasteCommandWithInteractiveFormatAsBoxCopy"
**Branch**: master-vs-deps

Test is failing and passing sometimes. Here it is failing:

Microsoft.CodeAnalysis.Editor.UnitTests.InteractivePaste.InteractivePasteCommandhandlerTests.PasteCommandWithInteractiveFormatAsBoxCopy

[code]

[2018-02-09 23:32] 333fred opened #24752 "[IOperation] Support User-Defined Conditional Logical Operators"
[code]
[code]

The BoundUserDefinedConditionalLogicalOperator is currently being exposed as a NoneOperation. This is going to block CFG generation for this scenario until fixed.

/cc @AlekseyTs @dotnet/analyzer-ioperation

[2018-02-09 23:35] Neme12 commented on #24566
This code is not open source right? I look into QuickInfo but didn't find any diagnostics.

[2018-02-09 23:38] gafter commented on #22271
Closing this, as we have no specific plans to make any specific changes.

[2018-02-09 23:38] #22271 closed

[2018-02-09 23:40] jaredpar commented on #24736
@agocke can you take a look at this?

[2018-02-10 00:06] TIHan opened #24754 "Flakey Test - Microsoft.CodeAnalysis.Editor.UnitTests.NavigationBar.NavigationBarControllerTests.ProjectionBuffersWork"
**Branch Used**: dev15.7.x-vs-deps

This is the log of the test:

    Microsoft.CodeAnalysis.Editor.UnitTests.NavigationBar.NavigationBarControllerTests.ProjectionBuffersWork
      System.Reflection.TargetParameterCountException : Parameter count mismatch.
      Stack Trace:
           at System.Reflection.RuntimeMethodInfo.InvokeArgumentsCheck(Object obj, BindingFlags invokeAttr, Binder binder, O

[2018-02-10 00:26] gafter commented on #18620
@CyrusNajmabadi You probably did. I'm going through old bugs. @davkean Can you still reproduce this?

[2018-02-10 00:33] CyrusNajmabadi commented on #18620
Yup.  I don't repro this locally.  Everything works as expected.  I must have missed closing this out when doing the original fix.

[2018-02-10 00:38] brian-reichle commented on #24653
I created a repository with a simple(-ish) demonstration of the issue.

https://github.com/brian-reichle/Issue-Demonstration-24653

The Roslyn2.2 branch works fine, but the Roslyn2.3 and Roslyn2.6.1 branches get the NullReferenceException.

[2018-02-10 00:50] #18620 closed

[2018-02-10 01:13] halter73 commented on #24736
I think this might be an msbuild bug and a dupe of https://github.com/Microsoft/msbuild/issues/2872.

[2018-02-10 01:19] tmat opened #24758 "Test failed in CI: TryGetSymbolTouchingPositionOnLeadingTrivia"
#### Microsoft.CodeAnalysis.Editor.UnitTests.Extensions.ISemanticSnapshotExtensionTests.TryGetSymbolTouchingPositionOnLeadingTrivia (from Roslyn.Services.Editor.UnitTests)

https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_release_unit64_prtest/193/

[code]

[2018-02-10 01:39] eyalsk commented on #24245
@yoyoys May want to open a new issue about it. :)

[2018-02-10 01:43] Neme12 opened #24760 "'Use local function' should be offered for anonymous methods as well as lambdas"
**Steps to Reproduce**:

[code]

Click on `a`. 'Use local function' is suggested. No such thing on `b`.

[2018-02-10 01:43] Neme12 commented on #24760
Can I take this?

[2018-02-10 02:12] CyrusNajmabadi commented on #24760
Go for it!

[2018-02-10 03:26] Pzixel commented on #15929
But in this case it's tied to mono, isn't it?

[2018-02-10 03:39] jkotas commented on #15929
It is not tied to mono. https://github.com/dotnet/announcements/issues/30

[2018-02-10 05:45] HamedFathi commented on #16846
@gafter, Unfortunately not. Finally, I had to find the `mscorlib.dll` file in `C:\Program Files\dotnet` folder and introduce it to the compiler like below. (I know this is a disaster! and this is not a cross-platform way)

[code]

While I was expecting to work in the following way.
[code]

still, I don't know what is the problem!

[2018-02-10 08:56] jinujoseph commented on #23628
@tmat closing this issue, pls reopen if you notice this again

[2018-02-10 08:56] #23628 closed

[2018-02-10 10:31] Neme12 commented on #24760
There's still a pending fix that should probably be taken care of: #23465

[2018-02-10 13:42] Neme12 commented on #24760
I found another bug while browsing through the code:
[code]
`a` and `b` get converted correctly but `c` won't get a default parameter. I will fix this & add a test for it.

[2018-02-10 16:46] Neme12 commented on #24760
I'm afraid there's a much bigger issue with named parameters... but that should go into a separate one.

[2018-02-10 17:23] Neme12 opened #24764 "'Use local function' breaks code that uses named arguments"
**Steps to Reproduce**:

[code]

after invoking 'Use local function' on `d`:

[code]

code doesn't compile because there's no `arg` on `d`.

[2018-02-10 17:26] Neme12 commented on #24764
what should be done here? renaming the parameters in the function signature seems like a bad idea given that everybody uses `Func`s anyway... so should we change all the invocations to the local function argument names?

[2018-02-10 20:55] CyrusNajmabadi commented on #24764
Two options:

1. don't offer the fix.
2. rename the named argument (at the invocation point) to be the new name.

[2018-02-10 21:20] Neme12 commented on #24764
if I were to do this should i really make a separate PR with possible conflicts or just put it in the same one?

[2018-02-10 21:39] CyrusNajmabadi commented on #24764
I'd be fine with it all being in the same PR.

[2018-02-11 07:40] MortInfinite opened #24767 "Project's list of documents should not be empty when project contains one or more .cs files"
**Version Used**:  Microsoft.CodeAnalysis NuGet package version 2.6.1

**Steps to Reproduce**:

1. Create empty console project with .NET framework 4.6, call this project "RoslynTest".
2. Add Microsoft.CodeAnalysis NuGet package version 2.6.1 to project.
3. Add new console project with .NET framework 4.6, to solution, call this project "TestProject".
4. Add the following code to "RoslynTest" proje

[2018-02-11 07:46] MkazemAkhgary opened #24768 "Rename tuple members"
allow to rename tuple names

    (int x, int y) s;

 - right click on `x`
 - select rename

you get this error "You can not rename this element."

Originally I wanted to rename tuple member name from inherited member.

    public override (Foo foo, Bar bar) Current => ...

so renaming `foo` requires me to rename base thus rename every where else manually.

---

Either allow inherited tuple member

[2018-02-11 12:13] Neme12 commented on #24760
What to do here:
[code]

1. fill in parameters from the delegate (in this case & in most cases arg1, arg2)
2. remove arguments at invocation point?

[2018-02-11 16:28] Neme12 commented on #24760
another bug:
[code]
crashes the code fix. will add a test too

[2018-02-11 20:45] CyrusNajmabadi commented on #24760
[code]

Yes.

Definitely not. :)

Could you fix this?  It seems like it's likely just an index out of bounds issue.

[2018-02-11 20:50] Neme12 commented on #24760
@CyrusNajmabadi I already fixed it. It's definitely not an out of bounds issue because in all other cases, the parameters are taken from the anonymous function parameter list, NOT from the delegate. This is obvious with broken code.

[2018-02-11 21:28] CyrusNajmabadi commented on #24734
Sorry, can you clarify what the idea is?

[2018-02-11 21:30] CyrusNajmabadi commented on #17753
Hi @kentcb Can you provide a minimal repro that demonstrates the issue?  Thanks!

[2018-02-11 21:35] CyrusNajmabadi commented on #24566
All the code for this is in dotnet/roslyn.

--

The interesting issue to me is the best way to handle this.  Pulling in @jcouv for this thoughts.  The first way i can think of would be to have the IDE layer grab the diagnostic, and attempt to find types to classify in it the IDE.  Pros, easy to do at one layer of the stack.  Cons: likely to be innacurate.

The better way to handle this would be to

[2018-02-11 21:40] Neme12 commented on #24566
@CyrusNajmabadi That's what I was thinking too, that's why I asked if it was possible without some design changes because I was afraid the compiler probably just outputs this in plain text.

[2018-02-11 21:55] Pilchie commented on #24767
Tagging @DustinCampbell.  Try hooking something up to the `WorkspaceFailed` event, and also taking a look at the `Compilation`'s `Diagnostic`s.  I suspect something went wrong with loading the project.

[2018-02-11 22:50] kentcb commented on #17753
@CyrusNajmabadi Afraid not. I submitted this issue nearly a year ago. I've linked to relevant code though.

[2018-02-12 00:58] Neme12 commented on #24760
yet another bug:
[code]
is converted correctly but this:
[code]
results in a crash.

[2018-02-12 01:12] gafter commented on #24734
We already have a mechanism we can hook up to. It is the string’s value text.

[2018-02-12 02:29] Quppa commented on #24542
The same thing is happening in Visual Studio 15.6 Preview 4, which appears to include a preview of Rosyln 2.7.0 (`csc.exe`'s version is `2.7.0-beta3-62604`).

This time it's the `EmbedAllSources` parameter that is missing.
```C:\Program Files (x86)\Microsoft Visual Studio\Preview\Professional\MSBuild\15.0\Bin\Roslyn\Microsoft.CSharp.Core.targets(101,10): error MSB4064: The "EmbedAllSources" parame

[2018-02-12 02:35] PolywickStudio opened #24772 "Microsoft.CodeAnalysis.Common - need NetStandard 2.0 version"
**Version Used**:
Microsoft.CodeAnalysis.Common - 2.6.1

**Steps to Reproduce**:
1. Add Microsoft.CodeAnalysis.Common to dotnet core 2.0 project.
2. Deploy project on Linux or Windows.
3. Project fails to load in Linux, Windows fresh install.

**Expected Behavior**:
Error due to dependency on netstandard1.3

**Actual Behavior**:
Need a version that compiles or installs on dotnet core 2.0

[2018-02-12 03:14] jmarolf commented on #24772
@PolywickStudio can you give the error you are seeing?

[2018-02-12 03:30] PolywickStudio commented on #24772
On deployment, I get - requires:
System.Text.Encoding 4.3.0

and there's no version for netstandard 2.0 ...

[2018-02-12 03:32] PolywickStudio commented on #24772
is there a way to bind Microsoft.CodeAnalysis.Common to DotNet Core 2.0, or NetStandard 2.0 ?

[2018-02-12 04:02] sharwell commented on #11430
Where is this test? I can't find it to fix it...

[2018-02-12 04:03] sharwell commented on #12291
Where are the impacted tests here?

[2018-02-12 04:10] jcouv commented on #24768
Thanks for reporting this. It's a known issue.
I'll go ahead and close as duplicate of https://github.com/dotnet/roslyn/issues/14115

[2018-02-12 04:10] #24768 closed

[2018-02-12 04:34] jmarolf commented on #24772
I Created a new project that has the following project file contents:
[code]

Both `build` and `publish` work for me and I have `System.Text.Encoding.CodePages.dll` deployed correctly to `bin\Debug\netcoreapp2.0\publish\runtimes\win\lib\netstandard1.3\System.Text.Encoding.CodePages.dll`

I would expect `netstandard1.3` packages to just work in a `netcoreapp2.0`.  Can you give me an example project

[2018-02-12 05:29] heejaechang opened #24774 "Make OOP to use connection pool"
connection pool will make creating new connection to OOP almsot no cost at all. right now it is between 1-15ms based on how busy OOP is at the moment.

this should let feature writer to consume OOP easier than before when they need to make hundreds of connections.

[2018-02-12 07:20] vsfeedback opened #24775 "C# 7.2 private protected not respected by dynamic"
Reproducing program:

[code]

Expected behaviour:

Microsoft.CSharp.RuntimeBinder.RuntimeBinderException: ''NetFXAccessTest.Program.A.Method(int)' is inaccessible due to its protection level'

Actual behaviour:

Outputs '2' to the console.

https://github.com/dotnet/corefx/issues/25521 reports this as far as CoreFX goes. This report is intended as per NetFX.

_This issue has been moved from https:

[2018-02-12 07:20] vsfeedback opened #24776 "csc.exe compiler error -2146232797 with ref struct C# 7.2 modifier"
Hello, both VS 15.5 Preview 5 and the official VS 15.5 fail to compile my library using the C# 7.2 ref struct modifier in one of the structs I'm using.

Here's the link to the exact code that reproduces the error, just clone and try to compile the library &quot;NeuralNetwork.NET&quot;:
https://github.com/Sergio0694/NeuralNetwork.NET/tree/VS_test_csc-compiler-error

Removing the ref struct modifier

[2018-02-12 07:33] vsfeedback opened #24777 "A linq error: System.Data.SqlClient.SqlException (0x80131904)"
A linq like this:

[code]

a error happied:

[code]

but i change the linq order ,like this below,it is normal :

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/156123/a-linq-error-systemdatasqlclientsqlexception-0x801.html
VSTS ticketId: 529808_
_These are the original issue comments:_
(no comments)
_These are the original issue solutions:_
(no

[2018-02-12 08:06] agocke commented on #24736
I agree that the compiler is providing the error message, but it doesn't look like it's getting show to the user. Here's what I see when running the repro using the latest SDK and recording the build output to a file log:

        Using shared compilation with compiler from directory: /Users/angocke/tmp/dotnet-sdk-latest/sdk/2.1.300-preview2-008171/Roslyn/bincore
         Microsoft (R) Visual C# C

[2018-02-12 08:35] vsfeedback opened #24780 ".NET 4.7 - '\0' char in String causes GetHashCode to ignore remainder -- but on x64 only"
The `GetHashCode(...)` function for the **ordinal** `String` comparisons In **.NET 4.7** has a grossly different behavior between running on **x86** versus **x64**. Note: ***I am not talking about the different hash code values, per-platform***, since these are intended as opaque -- rather, the issue here is a ***semantic difference*** in runtime behavior between the two platforms.

On **x86**, th

[2018-02-12 09:36] kalaninja opened #24781 "TReturn of Func<T, TResult> cannot be inferred in if T is value tuple."
I'am not sure if it is actually a bug or not, but this behaviour seems strange to me. Please, consider the following code:

[code]

Can anyone explain why `case3` fails with error

I don't understand why the compiler cannot infer the return type automatically.

[2018-02-12 10:13] Neme12 commented on #24760
another one:
[code]
fix all crashes

[2018-02-12 12:59] aliostad commented on #21627
Having this problem now constantly :/

[2018-02-12 13:08] kindermannhubert opened #24782 "Use local function (IDE0039) - introducing allocations and cannot be disabled by pragma"
**Version Used**: 15.5.5

**Steps to Reproduce**:
Suppose we have following code:
[code]

Action 'a' is allocated only once before while cycle. IDE0039 tells us we can use local function instead of lambda for definition of 'a'. Than we have:
[code]
But now the code is creating new delegate every time we call 'Raise' method in while cycle.

Not sure if it is even possible to be able to decide if ch

[2018-02-12 13:32] Neme12 commented on #24782
Are you sure? I checked this in the debugger and only see 1 allocation.

[2018-02-12 13:37] sharwell commented on #24782
💭 This looks like one of the "stale error list" issues we've seen recently.

[2018-02-12 13:43] sharwell commented on #24772
:memo: The versioning policy of .NET Standard mandates this scenario work without creating a new netstandard2.0 build of the library, so we need to figure out the bug but adding a new target isn't the solution here.

/cc @terrajobst

[2018-02-12 13:57] kindermannhubert commented on #24782
@Neme12 Quite sure. I saw the allocation in IL (was also debugging IL). Also if you add following to start of Main method:
[code]
you will see a difference. Lambda approach is outputting zeroes but in local function approach GC count is still increasing. I'm running it in Release mode/ 64-bits / .NET 4.7.

[2018-02-12 14:03] Neme12 commented on #24782
@kindermannhubert hm, you're right. My bad.

[2018-02-12 14:04] sharwell commented on #14497
@panopticoncentral I cannot find any of the tests mentioned by this issue. Is this still relevant?

[2018-02-12 14:04] sharwell commented on #14502
@panopticoncentral I cannot find the test mentioned by this issue. Is it still relevant?

[2018-02-12 14:07] sharwell commented on #14503
@tmeschter Can this be closed now?

[2018-02-12 14:19] Neme12 commented on #24760
and hopefully the last bug:
[code]
also a crash

[2018-02-12 16:43] MortInfinite commented on #24767
The solution.Workspace.WorkspaceFailed event isn't raised.

The project's compilation's diagnostics contains one entry:
error CS5001: Program does not contain a static 'Main' method suitable for an entry point

[2018-02-12 17:20] DevMatthias opened #24784 "IAssemblySymbol.TypeNames are not fully qualified"
**Version Used**:
15.5.3

**Steps to Reproduce**:
This code is in the context of a DiagnosticAnalyzer
[code]

**Expected Behavior**:
I'm trying  to get an INamedTypeSymbol from an assembly and I would expect that TypeNames is returning fully qualified names that can be used with GetTypeByMetadataName().

**Actual Behavior**:
TypeNames returns just plain type names (even doubles if the assembly con

[2018-02-12 17:21] Neme12 commented on #19904
Should we really have code fixes that only change whitespace formatting? If so, what should this apply to? Just object/array initializers? Parameters as well? How would this interact with code style settings?

[2018-02-12 17:24] tmeschter commented on #14503
@sharwell If the tests pass, sure.

[2018-02-12 17:25] tmeschter commented on #14503
Or alternatively, if we don't expect any integration tests to be working right now.

[2018-02-12 17:28] Jinhuafei commented on #21627
@aliostad do you have msbuild log that I can take a look?

[2018-02-12 17:46] Neme12 commented on #24642
My suggestion was that the parser would parse out GlobalStatementSyntax, just like it does in the scripting dialect.

Of course, I just wasn't sure what it should do in this case or how it can figure out which sort of issue this it. GetAllValues could be a type after all. Do you have in mind some sort of lookahead from the point after the tuple ')' where it would expect either `>` or `,` to look i

[2018-02-12 17:55] AdamSpeight2008 commented on #24734
@gafter  Try, put current we can only attach diagnostics. It be cool if we could also attach sub-nodes / additional highlighting or visualisations.

Given the following
[code]
Say we want to highlight the content of the two following string.
Where the obey the one of the following conditions
  * Is a Constant String Literal
  * Is a Reference to a constant string literal
Only if it is the followin

[2018-02-12 17:58] jaredpar commented on #24736
Closing as a dupe of https://github.com/Microsoft/msbuild/issues/2872. That appears to be the issue here.

[2018-02-12 18:00] Neme12 commented on #22981
Definitely should be done for local functions.

I'd like this for lambdas too. Should they have the same terminology though? They've never been referred to as "expression-bodied" lambdas, and also it's really a different syntactic construct (the arrow is part of the lambda, regardless of where it's expression/block).

[2018-02-12 18:08] lt72 commented on #23846
@noahfalk PTAL

[2018-02-12 18:17] jasonmalinowski commented on #23182
Fixed in dev15.7.x-vs-deps.

[2018-02-12 18:17] #23182 closed

[2018-02-12 18:35] AdamSpeight2008 commented on #24642
I think there is an option with the `syntax.xml` to insert if missing. If so that would good option.

[2018-02-12 18:40] Neme12 opened #24786 "Analyzer suggestion: Use lambda expression"
In the spirit of analyzers that suggest the use of newer language features, I propose an analyzer that would flag anonymous methods and offer to replace them with lambda expressions. Lambda expressions are definitely not a new feature today but they once were and my guess is that if they were introduced after Roslyn, there would have been an analyzer for this already. So maybe it's not a bad idea

[2018-02-12 19:01] gafter opened #24787 "Shortcomings in computing diagnostics for extension methods"
I was recently implementing support for dotnet/csharplang#98 and discovered a regression in the quality of diagnostic for the situation in test `DelegatesFromInvalidOverloads`.

It is caused by a combination of two shortcomings in the computation of diagnostics. First, in `BindExtensionMethod` when we fail to find an applicable extension method, we only report a diagnostic for the first extension

[2018-02-12 19:25] gafter commented on #24734
@AdamSpeight2008 We can currently report diagnostics on any span in source, not just on a syntax node or token. No change to the compiler is needed: even a diagnostic analyzer can do it.

[2018-02-12 19:32] AdamSpeight2008 commented on #24734
@gafter Only Diagnostics not other things, which what this is about.

[2018-02-12 19:38] gafter commented on #24734
I don't know what those other things are. Until we have a language proposal that seems like it is gaining traction and requires this mechanism, I don't see why we should do anything with this issue other than close it.

[2018-02-12 19:51] CyrusNajmabadi commented on #19904
I would think: constructs that people commonly put on multiple or single lines.

Definitely.  Wrapping of parameters is one of the most common stylistic things people do in a codebase.

Presumably the code style setting tells you when something is wrong.  The feature allows you to then quickly get the code 'right'.  For people who don't use codestyles here, the feature just allows you to rapidly t

[2018-02-12 19:55] CyrusNajmabadi commented on #24642
Honestly, you'd just have to write up a bunch of cases, and then see what you could do with the code.  Ideally, whatever strategy you ended up implementing would be fairly lightweight and would not be too complex.

In other words: error recovery is an unending set of work in the parser.  We tend to drive it based on real use cases where things go bad, combined with reasonable tweaks (i.e. looking

[2018-02-12 20:00] CyrusNajmabadi commented on #24734
It be cool if we could also attach sub-nodes that don't affect the syntax or semantics.

Attaching one piece of data to another is fairly easy in .net.  Just use a ConditionalWeakTable.  In fact, that's how we implement annotations!  They're not actually 'attached' to nodes/tokens/etc.  Instead, we just have a table that maps from the underlying node to the annotation.

This has the extra benefit

[2018-02-12 20:21] aliostad commented on #21627
Not sure it is exactly the same issue. Essentially when creating Cloud Service packages in VS2017 and VS2015 from a brand new cloud project created in VS 2017, _rosylin_ folder does not get copied.

I uninstalled 2 Rosylin related packages and issue gone.

Is this the same problem? If so repro is very easy.

[2018-02-12 20:30] jinujoseph commented on #23407
might be a dupe of https://github.com/dotnet/roslyn/issues/11750

[2018-02-12 20:59] panopticoncentral commented on #14502
If it doesn't exist any more, then you can close this...

[2018-02-12 20:59] panopticoncentral commented on #14497
If the integration tests don't exist any more, you can close this.

[2018-02-12 21:10] jaredpar opened #24790 "Rename of parameter not updating callsite"
Repro steps

- Open Roslyn.sln
- Open CSharpTestBase.cs
- Navigate to CompileAndVerify on line 66
- Refactor Rename "additionalRefs" to "references"

Expectation is that it will update callsites using that parameter by name. It does not.

[2018-02-12 21:12] CyrusNajmabadi commented on #24784
By design.  This is intended to just be the plain names of the types.

So, it sounds like you want to get type names, just so you can get the actual types with that name later.  If so... why the indirection.  Why not just get the type you need by walking the Compilation or IAssembly symbol directly?

'GetTypeByMetadataName' is for use with the names you get back for a System.Type when you have *it

[2018-02-12 21:13] jaredpar commented on #24790
Hmm, this bug seems to be intermitently reproing only. I used refactor rename a number of times, got 500 errors after but now when I go back and try and use refactor / rename to clean up it's working.

[2018-02-12 21:26] #15225 closed

[2018-02-12 21:30] Neme12 commented on #20849
But it probably shouldn't reuse the same message?

[2018-02-12 21:41] Jinhuafei commented on #21627
What version of Microsoft.CodeDom.Providers.DotNetCompilerPlatform nupkg are you using? I saw the issue in Cloud Service project last year, but 1.0.8 version should fix the problem.

[2018-02-12 21:44] CyrusNajmabadi commented on #24790
Is it possible Roslyn had not been fully loaded when you invoked the refactoring?

[2018-02-12 21:48] jaredpar commented on #24790
The solution has been up and loaded for 8+ hours at this point.

I think more likely is that other errors were interfering with the IDE ability to do semantic analysis. Big change I'm working on. Possible small errors were causing larger binding issues (although F12 still seemed to work in that case).

[2018-02-12 21:57] noahfalk commented on #23846
@ryanbrandenburg - Are you able to isolate the csc process from the rest of the build to create a smaller repro? I'm checking to see if I can repro within the entire build now.

[2018-02-12 22:00] noahfalk commented on #23846
My attempt to repro only got me to this error:
F:\github\universe\build\repo.targets(88,5): error : No solutions were found in 'F:\github\universe/modules\' [C:\Users\noahfalk\.dotnet\buildtools\korebuild\2.1.0-preview2-15699\KoreBuild.proj

I'm not familiar aspnet's build so all I have done so far is git clone https://github.com/aspnet/universe and then ./build.cmd in the default branch (dev) at

[2018-02-12 22:05] agocke commented on #23743
@jaredpar `throw` does not work. It only preserves the stack information -- it destroys the locals.

[2018-02-12 22:26] CyrusNajmabadi commented on #24786
No.  Anonymous-methods are essentially a mistake of the language.  Something i know i regret when i worked on creating them for C# 2.0.  They were a rush to solve the problem before we made the much better solution of 'lambdas' for C# 3.0.

The IDE should not ever be working to move code toward them.

[2018-02-12 22:28] CyrusNajmabadi commented on #24786
By default yes.  That's the idiomatic way that we've shown with lambdas since the beginning.  They're intended to be lightweight, and the default change should produce the lightest lambdas possible.

Yes.  Same reason as above.

Yes.  Same reason as above.

Potentially.  But this would be another codestyle/feature.

[2018-02-12 22:31] Neme12 commented on #24786
@CyrusNajmabadi Do you think it would be a good addition then?

[2018-02-12 22:36] CyrusNajmabadi commented on #24786
WRT having the feature that converts anonymous methods to lambdas.  I think the idea is nice... but very minor.  We've had lambdas since 3.0.  And we only had anonymous methods in 2.0.  Their usage is very limited,  so very few people would benefit from a tool to fix them up.   So, for example, i would not personally spend time on it since i don't think the benefit would be large enough.  I leave

[2018-02-12 22:43] danmosemsft commented on #23743
@agocke can you clarify -- are you saying that if I have a JIT debugger attached, and it breaks on a `throw;` statement, the locals have been modified by the `throw;` statement?

[2018-02-12 22:44] CyrusNajmabadi commented on #24786
in other words: help customers move their **large** code investment forward when newer and better language features come out.  And help them codify the types of common stylistic preferences we see with widespread use out there.

[2018-02-12 22:50] agocke commented on #23743
If you catch an exception, then rethrow that exception (the `rethrow` IL instruction), and later turn that into a crash dump, that dump will no longer contain information about the local variables from the stack that caused the original exception.

[2018-02-12 22:51] Neme12 commented on #24782
@CyrusNajmabadi with respect to introducing allocations, is this something we're concerned about? This seems to me like an edge case that you'd be doing this in a loop, but I don't know of course. But when working on UseLocalFunction I *was* thinking that if the function isn't actually called and is only used to be converted back to a delegate, then that analyzer is not very helpful and it would p

[2018-02-12 22:52] CyrusNajmabadi commented on #24782
I'm not.  However, i am concerned that one can't disable this suggestion.

[2018-02-12 22:52] Neme12 commented on #24782
Well of course that's the bigger issue here.

[2018-02-12 22:57] noahfalk commented on #23846
@ryanbrandenburg - The build fails for me, but not the repro failure. Instead I see this:

[code]

As an alternative to extracting out a smaller repro you could also try to get the build machines to produce useful dumps:
https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).aspx

[2018-02-12 22:58] CyrusNajmabadi commented on #21122
can i be unassigned from this @sharwell ?  Thanks!

[2018-02-12 23:07] gafter commented on #20600
According to https://github.com/dotnet/vblang/blob/master/meetings/2014/LDM-2014-10-23.md (Yes, C# design notes in the VB repo because that's where the meeting was held)... the compiler was correct until @MadsTorgersen wrote a spec that didn't exactly agree.

[2018-02-12 23:26] Joe4evr commented on #24780
Curious, does this also repro for the `OrdinalIgnoreCase` variants?

[2018-02-12 23:34] AdamSpeight2008 commented on #24790
Was it not updating named argument parameters?

[2018-02-12 23:44] sharwell commented on #24782
@kindermannhubert If you restart the IDE after adding the suppression, do you still see the suggestion dots in the IDE, with a quick info tip saying "Use local function"?

[2018-02-12 23:52] gafter commented on #20600
Having said that, I like what @MadsTorgersen wrote into the spec and I'm happy to make the compiler do that.

[2018-02-13 00:10] jcouv opened #24791 "Cast not simplified or grayed out"
Starting from this code, I inline the two variables:
![image](https://user-images.githubusercontent.com/12466233/36126703-88ba352a-100e-11e8-82d9-5e48278e7a67.png)

That produces the following code, with two unexpected and un-necessary casts:
![image](https://user-images.githubusercontent.com/12466233/36126724-9f4a417c-100e-11e8-8baa-f40ba5702f35.png)

Furthermore, those casts are not recognized a

[2018-02-13 00:12] jcouv commented on #24791
I'm able to repro this problem with the simple code below:
[code]

[2018-02-13 00:19] Neme12 commented on #24791
In 15.5, it gets inserted but greyed out.

[2018-02-13 00:23] jcouv commented on #24791
Thanks @Neme12
Tagging @jinujoseph since looks like regression and adding corresponding label.
I'm using 15.6 preview 5 (`Version 15.6.0 Preview 5.0 [27409.1.d15.6]`)

[2018-02-13 00:29] ivanbasov commented on #22475
It seems that there is an issue on the Debugger side. Therefore, I'm reactivating the Feedback issue and resolving this one.

[2018-02-13 00:29] #22475 closed

[2018-02-13 00:46] TIHan opened #24794 "Flaky Test - FindReferencesCommandHandlerTests.TestSelection"
Here is the flaky test:

2018-02-12T12:46:48.1889818Z          Errors Roslyn.Services.Editor2.UnitTests.dll:
2018-02-12T12:46:48.1890548Z              Microsoft.CodeAnalysis.Editor.UnitTests.FindReferences.FindReferencesCommandHandlerTests.TestSelection [FAIL]
2018-02-12T12:46:48.1891664Z          Command: C:\Users\dlab\.nuget\packages\xunit.runner.console\2.3.1\tools\net452\xunit.console.x86.exe

[2018-02-13 01:04] PolywickStudio commented on #24772
Fixed. it works by putting the System.Text.Encoding.CodePages.dll to:
 \Debug\netcoreapp2.0\publish\runtimes\win\lib\netstandard1.3\System.Text.Encoding.CodePages.dll

[2018-02-13 01:04] #24772 closed

[2018-02-13 01:57] heejaechang commented on #23872
@jinujoseph Cyrus already made a fix.

[2018-02-13 02:04] jinujoseph commented on #23872
I know , this is assigned to you to get this in when  it's good to merge  :-)

[2018-02-13 04:03] jcouv commented on #24791
I tried at home on 15.6 preview 1.1 and got the same result (cast is there after inlining and not grayed out).

[2018-02-13 04:10] jcouv commented on #24775
Tagging @gafter

[2018-02-13 04:10] jcouv commented on #24776
Tagging @VSadov @OmarTawfik

[2018-02-13 04:41] alexzaytsev-newsroomly commented on #21604
Same here, i used VS 15.5.2.

[2018-02-13 05:00] sharwell commented on #14503
@tmeschter you sent a PR shown above to delete the tests. It was never merged so I was asking you to confirm the intent. :)

[2018-02-13 06:09] jcouv commented on #24780
@AlexGhiondea Could you help route? It feels like either a runtime or a BCL issue on desktop.

[2018-02-13 06:39] kindermannhubert commented on #24782
Yes, I do even after restart.

I'm very concerned :). I'm working in environment where allocations are unacceptable and it's unpleasant when IDE suggests you to introduce them (but understand if it's not possible to detect such situations).

I know the example is strange but it is very simplified.

[2018-02-13 07:58] themightylc commented on #7364
15.5.4 and up (15.5.6 now) has been the first ever occurrences of this error for me. It's quite frequent, actually.

[2018-02-13 10:07] CyrusNajmabadi commented on #24782
These refactorings are just giving you information about something you can potentially do.  It's not intended to have exactly equivalent semantics across the change.  For example, the feature which converts string concats into an interpolation does not produce code with the exact same runtime semantics.

I would suggest disabling these feature then :)  In general, we don't design them with a view

[2018-02-13 10:07] CyrusNajmabadi opened #24805 "Mispelling of VS code style option"
![image](https://user-images.githubusercontent.com/4564579/36144367-b0628a2e-1062-11e8-84f4-86a0cbcdd405.png)

"Prefere" instead of "Prefer".

[2018-02-13 10:09] DevMatthias commented on #24784
I'm trying to get a type in an _referenced_ assembly and 'TypeNames' sounds pretty direct for me. Seems SymbolVisitor can do the job to give me the information I need.

Thx for help.

[2018-02-13 10:11] CyrusNajmabadi commented on #24784
I'm still confused.  So you have a referenced assembly... but in order to get one of its types (using a metadata name), you need to get one of its types first to build that metadata name.

Something seems kinda wonky here.  Why do you need to build the type name in the first place?

[2018-02-13 10:13] CyrusNajmabadi commented on #24784
Note: i don't believe SymbolVisitor actually builds Metadata-Names.  It builds strings that overlap metadata names for *some* subset of types.  But it doesn't produce metadata names for all strings.

In other words, given an INamedTypeSymbol from that assembly, it cannot necessarily produce the 'metadata name' string you would use with GetTypeByMetadataName.

[2018-02-13 10:20] DevMatthias commented on #24784
I have to find some types that follow a naming pattern in the referenced assemblies and have to ensure that the members are unique over all matching types. So the analyzer is checking the current compilation target and ensures that it will not violate the rules. See it as some kind of hierarchy without having class inheritance.

I'm totally fine with 'INamedTypeSymbol' because I have to access the

[2018-02-13 10:34] DevMatthias commented on #24784
I'm not building up strings anymore. I wrote my own 'SymbolVisitor' and did something like that to get the types I want.

`SymbolVisitor.Visit(IAssemblySymbol.GlobalNamespace)`

[2018-02-13 11:17] jskeet opened #24806 "in parameter aliasing for non-l-values"
**Version Used**: 2.6.0.62329 (5429b35d)

**Steps to Reproduce**:

Compile and run this code (with `/langversion:latest`)

[code]

**Expected Behavior**:

50, 50 - I'd expect the expression `x + 0` to be treated as a computed value rather than an l-value, and therefore passed via a temporary copy.

**Actual Behavior**:

50, 60 - `x` is passed by reference

Note that if you *explicitly* use the `in

[2018-02-13 11:40] Tragetaschen opened #24807 "Introduce Local generates an invalid return statement for void-returning expression methods"
**Version Used**:

VS 15.6 Preview 4

**Steps to Reproduce**:

[code]

Mark the `100` and "Introduce local constant"

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

![introduce-local-return](https://user-images.githubusercontent.com/1947968/36148045-dfa54738-10ba-11e8-9f1c-4a939014035e.gif)

[2018-02-13 13:53] sharwell commented on #15860
See also #19027

[2018-02-13 14:02] aliostad commented on #21627
@Jinhuafei template installs versions that do not work. And you do not notice it until you deploy since everything locally works. Then to find out you have to turn RDP on, and then find out and dig out.

Default template brings only `Microsoft.Net.Compilers` and not `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` hence I started trying all these versions from 2.0, 2.0, etc and finally 2.6.1.

[2018-02-13 14:24] rshackleton commented on #19128
@mmu69 also experiencing the same issue on VSTS.

`error : Microsoft.Net.Compilers is only supported on MSBuild v15.0 and above`

I can't immediately tell if MSBuild 15.0 is available on the hosted build servers.

[2018-02-13 14:37] Neme12 commented on #24807
I found another bug, which is even more concerning. If you do this inside a local function, it just deletes the whole function:

[code]
introduce local on 50 results in:
[code]

[2018-02-13 14:46] Neme12 commented on #24807
Wow, there's a lot more bugs in this... on constructors for example it doesn't remove the semicolon. I'm taking this.

[2018-02-13 15:57] Pilchie commented on #24805
Why did you do this to us @CyrusNajmabadi ?

[2018-02-13 16:08] Neme12 commented on #24807
It is also completely broken for expression-bodied get & set accessors:
[code]
introduce local on 50 deletes the getter.

[2018-02-13 17:10] olegtk opened #24810 "Roslyn is using deprecated CommandExecutionContext.WaitContext property"
**Version Used**: VS 20127 15.7stg

CommandExecutionContext.WaitContext property is deprecated in VS 2017 15.6 Preview4 in favor of identical CommandExecutionContext.OperationContext property. CommandExecutionContext.WaitContext property is slated to be removed in 15.7.
Roslyn is still using CommandExecutionContext.WaitContext property, which blocks editor from removing it.

This is addressed by h

[2018-02-13 17:43] CyrusNajmabadi commented on #24784
You might want to close this out then :)

[2018-02-13 17:50] CyrusNajmabadi commented on #24805
Well... if you prefere it this way, then no need to change it!

[2018-02-13 17:50] VSadov commented on #24806
similar to https://github.com/dotnet/roslyn/issues/17756
Not as bad as that one (here the accidental lvalue is readonly), but still observable and unexpected.

[2018-02-13 18:27] #23872 closed

[2018-02-13 18:35] Jinhuafei commented on #21627
Sorry for that. The template will be updated in the coming VS2017 update.

[2018-02-13 18:43] glenn-slayden commented on #24780
Yes, it should be BCL. The problem is with MSIL code that exists in the `String.GetHashCode` function in mscorlib.dll. The difference between **x64** and **x86** is due to there being different mscorlib.dll builds for each.

[2018-02-13 18:43] jaredpar commented on #24776
Looks like the link from the initial bug report is broken. @Sergio0694 can you point us to a commit where this problem repos?

[2018-02-13 18:55] Sergio0694 commented on #24776
@jaredpar My bad, I removed that branch a while back as I got no answer from my issue and thought the error was already in your backlog, I'll see if I have a copy of that test branch somewhere, or if I can reproduce the same issue in another branch 👍

[2018-02-13 18:59] jaredpar commented on #24776
@Sergio0694 yeah sorry for the slow response. Ideally VS feedback issues should make it to the right team quickly but it can get delayed at times for a variety of reasons. If you can get the branch please lte us know cause we'd like to make sure that's fixed.

[2018-02-13 19:04] AArnott opened #24811 "Code fix providers should be able to add assembly/nuget references"
Apparently Roslyn can already do this internally courtesy of their [IAddMetadataReferenceCodeActionOperationFactoryWorkspaceService](https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/CodeRefactorings/WorkspaceServices/IAddMetadataReferenceCodeActionOperationFactoryWorkspaceService.cs)
and [InstallPackageDirectlyCodeActionOperation](https://github.com/dotnet/roslyn/blob/master

[2018-02-13 19:05] AArnott commented on #24811
CC: @jasonmalinowski

[2018-02-13 19:08] glenn-slayden commented on #24780
@jinujoseph  The 'Area-IDE' tag doesn't sound right; as I mentioned the problem is with runtime code in the Base Class Library.

[2018-02-13 19:09] Sergio0694 commented on #24776
@jaredpar No worries, I should have just left that branch there 😊
I'm currently recreating a repro for you to use, and in the meantime I've found another related bug.

**Steps to reproduce**:
- Open VS (I'm using VS Enterprise 15.5.5)
- Clone this: [https://github.com/Sergio0694/NeuralNetwork.NET](https://github.com/Sergio0694/NeuralNetwork.NET)
- Inside the `NeuralNetwork.NET` project, go to APIs

[2018-02-13 19:11] 333fred commented on #24650
So, the issue here is that because the binder does not bind the arrow expression, it's not part of the IOperation tree. `SemanticModel` will bind for error recovery, while it was a design decision that IOperation specifically does not look at the error recovery info to ensure there's only one tree.

@AlekseyTs, @jcouv mentioned that you thought the binder should actually bind this during initial b