[2016-05-24 16:36] jinujoseph commented on #10471
Verified this on build 14.0.25323.00 update 3 RC

[2016-05-24 16:36] #10471 closed

[2016-05-24 16:37] alrz commented on #11516
@miloush You can already do that with partial classes. I doubt if implementing interfaces on external classes would be possible without CLR support.

[2016-05-24 16:41] jinujoseph commented on #10507
Verified this on build 14.0.25323.00 update 3 RC

[2016-05-24 16:41] #10507 closed

[2016-05-24 16:42] miloush commented on #11516
@alrz yes I meant external classes. Well I guess that the extending class could be passed to the parameter of desired interface type instead, I don't necessarily see what would you need the CLR support for. It's the same with current extension methods - it is just a compile time thing.

[2016-05-24 16:51] alrz commented on #11516
@miloush It is, because interfaces are dynamically dispatched. for example,

[code]

[2016-05-24 16:59] miloush commented on #11516
@alrz the compiler would just call `IFoo.Foo()` as usual, I would expect it to do work at call site and pass an instance of `Bar` (or another form of wrapper) that implements the interface and has reference to `bar`.

[2016-05-24 17:07] benaadams commented on #10902
Just to clarify on

TaskLikes would require the conversion for this rule to engage; however would the framework defined `ValueTask<T>` have this implicit conversion defined so always engage?

[2016-05-24 17:18] gafter opened #11530 "Tuple implementation rejects implicit operators"
The following code is improperly rejected by the tuple implementation
[code]

This was tested against https://github.com/jcouv/roslyn/tree/tuple-deconstruction (from https://github.com/dotnet/roslyn/pull/11457) at commit https://github.com/jcouv/roslyn/commit/c7b60a478ce0f5993d1e7a85af17545b96611a9e

[2016-05-24 17:19] #11387 closed

[2016-05-24 17:21] #11170 closed

[2016-05-24 17:35] VSadov commented on #11470
I do not think other threads can process events after queue is in completed state. It seems like their attempts to fetch anything from the queue would be eagerly cancelled. But I could be wrong.

Also once the queue is in complete state and waiters are cancelled, WhenCompletedTask is signaled so getting diagnostics does not block and gets whatever is in the diagnostics queue at that time.

[2016-05-24 17:46] gafter commented on #11525
Can you please a concise but complete example demonstrating the scenario and the diagnostic you'd like for that scenario?

[2016-05-24 17:52] nguerrera commented on #5397
As discussed with tmat and others, I will be looking at this. Self-assigning.

[2016-05-24 17:53] cston opened #11531 "MethodSymbol.IsIterator = True for Iterator Property setter"
MethodSymbol.IsIterator = True for Iterator Property setter in VB even though the iterator is specific to the getter.

[2016-05-24 18:00] davkean commented on #8315
Resolved with https://github.com/dotnet/roslyn/pull/8731.

[2016-05-24 18:13] mavasani commented on #11470
You cannot enqueue into a completed queue, but dequeue will work till count is zero. See [here](http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/AsyncQueue.cs,245)

[AsyncQueue.WhenCompletedTask](http://source.roslyn.io/Microsoft.CodeAnalysis/R/cb1badb0a8c80563.html) is only referenced by tests. I was talking about [AnalyzerDriver.WhenCompletedTask](http://source.roslyn.io/#Micro

[2016-05-24 18:24] Pilchie commented on #8172
I suspect this was addressed by the switch to Metadata only reading...

[2016-05-24 18:38] mavasani commented on #11470
@VSadov I also noticed that the test flakiness/fix was only done in future branch - can't the fix be reproed in master? There were no differences between master and future branch in analyzer driver/async queue prior to your fix.

[2016-05-24 18:43] #9887 closed

[2016-05-24 18:56] AlekseyTs commented on #10408
Is this still happening? It doesn't look like an issue in the code that we own.

[2016-05-24 19:02] gafter opened #11533 "Tuple implementation rejects tuple assignment from this"
The current tuple implementation rejects [this sample](https://github.com/dotnet/roslyn/pull/11457#issuecomment-221342460):

[code]

[2016-05-24 19:03] mavasani commented on #11470
Okay, so I found at least one bug in the command line compilers in the future branch: We are invoking GetAnalyzerDiagnostics in a code path without completing trees. See [here](https://github.com/dotnet/roslyn/blob/future/src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs#L512). If `compilation.CompileMethods` returns false, then we will attempt to get analyzer diagnostics without completin

[2016-05-24 19:16] CyrusNajmabadi commented on #8172
Unlikely.  Switching to metadata only means we don't hold onto PESymbols.  However, we will still have the memory overhead for the BKTrees themselves.

[2016-05-24 19:27] pranavkm opened #11535 "Stack traces for types compiled with DebugInformationFormat.PortablePdb are missing source line information"
**Version Used**: 1.3.0-beta1-20160429-01

**Steps to Reproduce**:
[Mvc](https://github.com/aspnet/Mvc) switched to using `DebugInformationFormat.PortablePdb` recently for compiling generated view code. Stack traces for these types don't contain any line information. For instance, here's what an exception stack trace looks like when compiled with `DebugInformationFormat.Pdb`:

[code]

And with `De

[2016-05-24 19:34] AlekseyTs commented on #11530
@gafter Could you confirm that you have https://github.com/dotnet/roslyn/pull/11328 merged when you see the errors?

[2016-05-24 19:42] Pilchie commented on #10689
Given the plan to converge project.json with msbuild, we don't plan to enable this support at this point.

[2016-05-24 19:42] #10689 closed

[2016-05-24 19:58] jcouv commented on #11530
You may want to try those tests in the future branch, which has the latest tuple code.
Only deconstruction-specific tests make sense in the features/tuples branch at this point.

[2016-05-24 20:03] ljw1004 commented on #10902
I need to go back to the drawing board on my analysis. I had misunderstood the way step#1 "ExactMatch" vs step#2 "better conversion target" play off.

(It turns out that if both candidates are an exact match, then it bypasses the "better conversion target" test of implicit conversions entirely.)

I'll spend a day on this, then go back and revise my post.

[2016-05-24 20:21] s-arash commented on #11526
I propose this syntax:
With customer
   .OrderId=0
   .UserId=0
End With

[2016-05-24 20:29] mavasani commented on #11470
I added lot of random delays in AsyncQueue.Enqueue and tried to repro this in both master and future branch (in future I also commented out 10s spin wait added by Vlad). I ran the mentioned test in a loop for more than 30 minutes and also tried running all command line tests multiple times. I am still unable to repro the missing diagnostic failure. Unless we have a repro, even if it happens once i

[2016-05-24 20:37] gdefraiteur opened #11537 "Best Proposals c# 7.0"
My Proposals for c# 7.0

**1: REFLECTION ON PURE DYNAMIC INSTANCE**
1. make a class in a dll loaded at runtime
2. use an instance of the class with reflection to list class members

**Expected Behavior**:
list members

**Actual Behavior**:
error

**2: CLASS SERIALIZATION**
`
// NOTHING IN THIS CLASS IS MADE FOR SERIALIZATION PURPOSE
public class SmthgVeryComplicatedThatIDontKnowWithManyProperties

[2016-05-24 20:48] AlgorithmsAreCool commented on #11537
1. This is possible today with lightweight code generation in the `System.Reflection.Emit` namespace.

2. What does it mean to serialize a type? If it is not value types all the way down you end up needing to serialize the object graph or worse yet trying to store object references persistently. Which is a very bad idea.

[2016-05-24 20:54] gdefraiteur commented on #11537
yea but if c# has native things to serialize root binary data of object graph would be cool.

its a bad idea right now, of course, but for example, javascript can serialize a whole object without knowing a shit about it.

[2016-05-24 21:00] gdefraiteur commented on #11537
bad ideas are only bad ideas until they run well with correct implementation. Store each references persistently if needed, maybe a parameter of compilation would do it, idk, so peoples arent forced to use it.

Why not save references persistently? Maybe some binary file used with programs targetting that type of things.

Also, ability to make dump of a whole program would be cool too.

[2016-05-24 21:04] gdefraiteur commented on #11537
maybe add maps of object graphs from the begining and know a reference is only a reference of object having refs...  value type members...

i talked about ref 512254... we serialize ref 512254, he talk about ref 521424, we allready spoke about ref 521424...

and add options to not serialize references, not serialize references of type, not serialize until that lvl of deepness in ref

[2016-05-24 21:12] mikem8361 commented on #11535
This issue tracked portable pdb support for Exception.StackTrace. https://github.com/dotnet/coreclr/issues/3906.  It has been implemented and the issue closed.

[2016-05-24 21:22] pranavkm commented on #11535
Thanks @mikem8361 . We haven't picked up RTM CoreFx packages yet. I'll give that a try.

[2016-05-24 21:22] #11535 closed

[2016-05-24 21:46] #11529 closed

[2016-05-24 21:57] panopticoncentral opened #11538 "Handle CSharp design rule suppressions in future"
Today's merge from master to future brought along turning on some new rule checks for design rules. I had to suppress several of them in Core and CSharp, mostly for new APIs related to tuples. These suppressions need to be reviewed and fixed.

[2016-05-24 21:58] AlgorithmsAreCool commented on #11537
Whoa, whoa slow down a bit.

The reason it is ~~bad~~ difficult is because ref 1234 in my machine right will not be the same as any of these:

- ref 1234 on your machine
- ref 1234 in another process instance (or app domain) on my machine
- ref 1234 5 minutes from now after the object has been nulled and garbage collected

You would need to store persistent copies of every object that was referenc

[2016-05-24 22:08] mavasani opened #11539 "Stale error list toggle state before a solution is opened"
Currently, we initialize the error list toggle state only when workspace changes (solution add/remove/reload or project add/remove/reload) OR when FSD options change. However, if you start VS and bring up error list without opening any solution or changing FSD options, we might show stale error list state if your settings file or settings store changed from last VS session.

[2016-05-24 22:09] svick commented on #11516
@miloush What about the following:

[code]

Would `is` somehow have to figure out that `Bar` has been extended (how?)? Or would casting to object create a wrapper? Could you then cast back to `Bar`?

Also see  #9132 (same idea, different syntax).

[2016-05-24 22:14] AlgorithmsAreCool commented on #11537
This kind of request should be in [dotnet/CoreFX](https://github.com/dotnet/corefx). But is probably best left as 3rd party libraries and NuGet packages.

Does `System.Net.Sockets` not work well enough for your usecase? Or what about the super fast libuv based socket work in [aspnet/Kestrel](https://github.com/aspnet/KestrelHttpServer)

C# is many things to many people, but it cannot be everything

[2016-05-24 22:20] VSadov commented on #10630
@markhurd - right. copy paste issue. Obviously the replacement should be different.

[2016-05-24 22:32] shyamnamboodiripad opened #11544 "Update nuget dependencies to RTM"
Currently the following nuspecs under src\NuSpec depend on prerelease .net core packages.

e.g. `<dependency id="System.IO.Pipes" version="4.0.0-beta-23428" />`

We need to switch these to release packages by the time we are ready to ship 1.3 RTM.

[2016-05-24 22:41] jinujoseph commented on #11200
Verifying in Verified this on build 14.0.25323.00 update 3 RC

This lets me reference but build fails with warning
warning MSB3274: The primary reference "C:\Projects\net_PCL\pcl1\bin\Debug\pcl1.dll" could not be resolved because it was built against the ".NETPortable,Version=v5.0" framework. This is a higher version than the currently targeted framework ".NETPortable,Version=v4.5,Profile=Profile4

[2016-05-24 23:44] jinujoseph commented on #10485
Verified this on Verified this on build 14.0.25323.00 update 3 RC

References work now

But when you reference console application to incompatible class library ( make the reference to compatible lib and then change the Target to be incompatible) you get this warning in your build output

![image](https://cloud.githubusercontent.com/assets/12449387/15523307/5bc4798e-21ce-11e6-96d7-71f2a51e0a48.png

[2016-05-24 23:50] gafter commented on #11530
@AlekseyTs I am no longer working on the branch from which I reported this. I've identified the specific branch that I was testing. You are welcome to verify whether or not that branch contains #11328.

[2016-05-24 23:56] jinujoseph commented on #10837
The reference works with the above selection ..
But when you point the PCL to Netstandard (default picks .netstandard1.1)
Build fails

![image](https://cloud.githubusercontent.com/assets/12449387/15523583/62aa1d2e-21d0-11e6-9342-a585a78bfc73.png)

[2016-05-25 00:29] HaloFour commented on #11537
C# 7.0 is pretty much locked up right now.  You can feel free to propose stuff for future versions.  You might want to start by breaking this up into multiple separate proposals and target them specifically as what components would be effected.  Include use cases.  You'll also be expected to actually provide implementation details.

I don't see much here that has anything to do with C# or the Rosl

[2016-05-25 00:31] TheOpenDevProject opened #11546 "[Area-IDE] The CSPROJ and Git problem"
Hey Guys,

So as we all know the `csproj` files are XML and are used to describe the project to visual studio. The problem seems to be when branching and merging this file format things very often don't merge properly at all and you have to rebuild the `csproj` XML yourself. This causes big issues in very large projects. I am not sure if another file format would be better suited and have easier m

[2016-05-25 02:43] diryboy commented on #11546
I [heard](https://www.youtube.com/watch?v=P9HqMZviaMg&list=PL0M0zPgJ3HSftTAAHttA3JQU4vOjXFquF&index=0) that the next version of VS would not insist adding entries for files one by one?

[2016-05-25 04:44] TheOpenDevProject commented on #11546
That would be fantastic

[2016-05-25 05:11] xoofx commented on #11475
After a few hours of work, here we go: http://xoofx.com/blog/2016/05/25/inline-il-asm-in-csharp-with-roslyn/ :tada:

[2016-05-25 05:58] jcouv commented on #11347
Quick summary of the API design meeting last week:
The plan of record (keeping the two public APIs and the concept of underlying type) was deemed reasonable to proceed with. That said, there is room to revisit if the details of the alternative proposal are fleshed out.
Let me know if the issue should remain open.

[2016-05-25 06:38] aceindy commented on #4224
Googled why CDW wasn't working anymore in VS2015...ended up here..
I join the ranks, please bring it back !

[2016-05-25 07:01] Licshee commented on #133
IMHO ~~we this problem should be split into two, or~~ at least there are quite a few questions we are discussing:
1) removing "with" keyword should not lead to ambiguity, but only if applied immediately after a method call, it's a visual/readability thing;
2) allow initializer syntax to show up immediately after a variable or field/property doesn't look like a good idea, mostly b/c when we use ini

[2016-05-25 07:12] Licshee commented on #2050
IIRC "using" already has at least four different functions, why want a five?

[2016-05-25 07:18] tmat commented on #11475
@xoofx Nice! Certainly better than strings ;) However a few issues you might want to think about:

a) The IL validation you mention in the blob post (balanced stack, etc.), especially when combined with all other C# language features -- like using il(...) in the middle of expression, etc. Perhaps you could do the final validation once everything is on IL level, but then you won't be able to report

[2016-05-25 07:20] Unknown6656 commented on #11526
Your proposal looks like a C# -equivalent of the VB-keyword `with`.
I am pretty sure,  that this proposal has been made about 100 times before and I will reference the according issues when I found them ;)

[2016-05-25 07:39] drewnoakes opened #11551 "Proposal: Allow var for fields and assigned auto properties"
Repeating the type name multiple times in a line feels outdated since we've had `var` for locals.

---

### `var` for assigned fields

    private readonly Dictionary<UserProfile, HashSet<string>> _stringsByProfile
        = new Dictionary<UserProfile, HashSet<string>>();

Becomes

    private readonly var _nameById = new Dictionary<UserProfile, HashSet<string>>();

### `var` for assigned auto pro

[2016-05-25 07:41] drewnoakes commented on #11546
I think the upcoming `project.json` (and xproj) stuff addresses the problem of csproj churn.

[2016-05-25 07:54] drewnoakes commented on #11516
To clarify what @jnm2 said, it's not possible to allow regular extension events as they are essentially just fields (containing references to subscribers in a `MulticastDelegate`) and extension classes understandably can't have fields. However it should be possible to allow custom/explicit extension events:

[code]

I have difficulty coming up with a valid and useful scenario. If `Person` was `INo

[2016-05-25 08:05] xoofx commented on #11475
@tmat The points you mention are of course things that would have to be handled/crafted carefully for a non-prototype code. That would require certainly more work than the original proposal. I never claimed the opposite. but...

first, I'm making a large difference in nature (and not in levels) between the word "complexity" and "complicated"...
So I don't think that neither the problem nor my solu

[2016-05-25 08:19] dsaf commented on #11551
https://github.com/dotnet/roslyn/issues/2114#issuecomment-150919234

[2016-05-25 08:22] kfdf commented on #118
Is it correct to understand that only references to local variables are not safe to return? And if so, why not just insert a runtime check in the caller that throws an exception if the returned reference points to something that lies in the discarded stack frame? That shouldn't be too much of a performance hit, and it can be optimized away if the compiler can prove that the references is safe.

[2016-05-25 08:45] Thaina commented on #6505
Just have another idea that would make it work like kotlin

maybe just this syntax

[code]

This difference from normal `using` that it has no `=` symbol. So it differ from existing code. And if it not contain `=` symbol then it not dispose, but skip this block if `obj as string` is null

[2016-05-25 08:46] Thaina commented on #8004
Just have another idea that would make it work like kotlin

maybe just this syntax

[code]

This difference from normal `using` that it has no `=` symbol. So it differ from existing code. And if it not contain `=` symbol then it not dispose, but skip this block if `obj as string` is null

[2016-05-25 08:57] dg2k commented on #11526
Thank you so much @Unknown6656 for taking the time to dig into similar past proposals. I've never assumed no-one thought of such a basic need in C# programming and the last sentence of my proposal confirms my very suspicion for the existence of a similar idea.

But at a different level this confirms an important point -- why are proposals widely supported like this one not taken up?  Duplication o

[2016-05-25 09:12] Thaina commented on #11516
As usual I don't like new keyword. We could just reuse

[code]

Since `static class` cannot has base class. It could be use for telling that it is being extension class

[2016-05-25 09:15] Thaina commented on #11516
Another of my concern is generic. Is it support this syntax?

[code]

If we has class implement IPerson. Would the compiler be able to include this extensions class?

[2016-05-25 09:24] Thaina commented on #11031
Really love that `out var` syntax

[2016-05-25 09:35] Thaina commented on #11031
If we already use `if(TryXXX)` it already be the best to let `TryXXX` return boolean and `out var` is the neatest solution to scope thing in if block. for `TryXXX` to return `T?` is for anywhere we don't want to use if and it should be just overload method of existing `TryXXX`

[2016-05-25 09:58] DavidArno commented on #11546
@drewnoakes,

`project.json` would indeed have fixed this. Frustratingly, MS - in all their alleged "openness" - [have unilaterally decided to kill off `project.json` and to switch .net core over to using `.csproj` files](https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/).

Whilst they are of course free to do this, it makes a complete mockery of their "developing in the

[2016-05-25 10:01] Thaina opened #11552 "Reference Nullable and rework nullable"
As for #118 I think we should be able to return ref or null for some function

But then I think maybe we should rework nullable

Maybe nullable should not be its own type anymore, but being something more like enforce syntax; You need to check at compile time to ensure it not null, but then it don't need to use `.Value` to call its member

Something like this

[code]

And this should work with ref

[2016-05-25 10:10] Thaina commented on #11159
@HaloFour I think it should. And while this is new feature anyway we could have it better than we already have

And I could say that we most likely to use extension method on struct. Because normal class could be extended as a derived class but struct cannot. But to have extension method only pass by value stop it. And it is design flawed all along that it can't fix because backward compatible

So

[2016-05-25 10:17] Thaina commented on #11159
Still I'm not agree with operator. Because we can't find reference of duplicate operator like we can find member

[2016-05-25 10:29] Camuvingian commented on #7364
I get this all the time. It seems to happen only when the code is in a broken state. Once this does happen, only a VS restart will fix it.. I will try and nail down a concrete reproduction.

[2016-05-25 10:37] stepanbenes commented on #8004
@Thaina `using` statement already supports expression as its argument

[2016-05-25 11:23] HaloFour commented on #6505
@Thaina

Those scenarios are already handled by proposed type switching:

[code]

Don't see why there should be yet another way to do this, even if it would avoid a second identifier.

[2016-05-25 11:36] svick commented on #6505
@Thaina

Not really. The following is already valid code (and it works for any type that's implicitly convertible to `IDisposable`):

[code]

So this would be a breaking change.

[2016-05-25 12:32] jnm2 commented on #11516
You would be limited to forwarding the handler to other storage accessible via Person, which could be another object on Person or a service (if Person has a service provider) or even a ConditionalWeakTable if worst came to worst. I think the service provider scenario is very likely.

[2016-05-25 13:00] Thaina commented on #6505
@HaloFour I really hate that syntax to the point that I was create #8004 for going against it

[2016-05-25 13:04] Thaina commented on #6505
@svick I forgot it could be used like that because it was state as "not a best practice", and have seen no one use it

[2016-05-25 13:08] MgSam commented on #11516
Is writing `Kind` rather than `Kind()` really worth all this design effort?

Still believe it's not worth doing unless adding instance state is put on the table.
*#extensionfieldsorbust*

[2016-05-25 13:33] Thaina opened #11553 "var(obj as Type) for temporarly transform type"
As oppose to feature Is-As from pattern matching https://github.com/dotnet/roslyn/blob/future/docs/features/patterns.md

[code]

I would like to propose syntax for temporary transform type of variable in a block

[code]

It work like `if(a is Type)` in kotlin that would make compiler see the variable `a` in `if` block as a type specified automatically. But since that would be a breaking change in

[2016-05-25 13:33] mwardm opened #11554 "z3"
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2016-05-25 13:35] Thaina commented on #8004
Thanks @stepanbenes . I forgot that because never see anyone use it. But this was impossible anyway

So I need to redo proposal to #11553 and close this

[2016-05-25 13:35] #8004 closed

[2016-05-25 13:46] vbfox commented on #11193
I hit it multiple time a day in some files, can't really change anything in some of them anymore using Visual Sudio.

Is there a timeline for a fix ?

[2016-05-25 14:01] AdamSpeight2008 commented on #11315
- [ ] Implement an overload of `CreateCompilationWithReferences`  that accepts a string for the first parameter. Maybe a collection of strings?

[2016-05-25 14:02] Thaina commented on #11330
I'm not sure I made it clear or not that what I propose is not I would let void function will return anything out of function. It just return anything to the void

For example
[code]

What I think is because some function may return a code but we don't care that code just want to call function

Such as

[code]

[2016-05-25 15:17] #11554 closed

[2016-05-25 15:19] davkean commented on #11546
Hey, thanks for the bug, we're tracking this over on new project system repro here: https://github.com/dotnet/roslyn-project-system/issues/106

[2016-05-25 15:19] #11546 closed

[2016-05-25 15:38] svick opened #11557 "Roslyn should have an API reference website"
I believe that API reference is an important part of library's documentation, and that there should be a website that contains at least the contents of XML documentation comments, ideally more. MSDN used to be the place for this for all MS products, but that doesn't seem to be the case anymore: [.Net Core has API reference section on its separate documentation site](http://dotnet.github.io/api/ind

[2016-05-25 15:54] daveaglick commented on #11557
The reference source site with browsable, cross-referenced source code is at http://source.roslyn.io

[2016-05-25 16:01] rchande commented on #11193
@vbfox This is now fixed in builds of Roslyn master. @jmarolf should be able to help you install a new build.

[2016-05-25 16:16] omajid opened #11558 "Error when trying to run MSBuildToolset"
**Version Used**:

roslyn: commit 41a4946757bf2a3bbf5911bf221c04a04e64f573
`dotnet --version` is `1.0.0-preview1-002702`

**Steps to Reproduce**:

I did these steps on a RHEL 7 box.

1. clone roslyn.
2. switch to version-1.3.0-beta1-20160429-01 branch
3. cd build/MSBuildToolset
4. Add `"rhel.7.2-x64": { },` to `runtimes`
5. /path/to/dotnet/dotnet restore
6. /path/to/dotnet/dotnet run

**Expected B

[2016-05-25 16:17] eyalsk commented on #11553
I don't know what you dislike about the syntax below and what you really love about your own suggestion but to me the following seems pretty great and solid syntax.
[code]
Some of the suggestion you made are really _weird_, I mean reusing `for`, `const` doesn't make much sense to me.

[2016-05-25 16:50] #11539 closed

[2016-05-25 16:54] Unknown6656 commented on #11526
@dg2k I know exactly, what you mean, I also have the need for the proposal you made ;)

Regarding your point about GitHub's search system: GitHub is primarily based around source control and team project control, less around issue search etc. _(I also absolutely **love** how SO implemented the posting system)_

Regarding your point about why C# does not (yet) have this feature implemented: The dev

[2016-05-25 16:58] agocke commented on #11475
@xoofx Cool prototype! Looking at it, though, I think I like @tmat's proposal more. In order to incorporate your changes we would basically have to create an entire IL sub-language inside C# and validate it all in the compiler. I would prefer to separate concerns here and let an IL compiler handle IL and the C# compiler handle C#.

[2016-05-25 16:59] tmat commented on #11475
@xoofx I understand you haven't spent too much time on your prototype so it doesn't cover everything.
However, the points I raised are important to consider and explain how they would be addressed. It's not just extra laborious work. There is additional design work to be made for all of them. These are the reasons why I said that support for arbitrary IL would be complicated.

The original proposa

[2016-05-25 17:17] #11531 closed

[2016-05-25 17:31] svick commented on #11557
@daveaglick That's not quite the same. I don't want to look at how Roslyn is implemented, I just want to know how to use it. Reference source kind of works for that, but with *a lot* of noise.

[2016-05-25 17:39] miloush commented on #11475
@xoofx by 'complicated' I meant

And by type safety I meant including refactoring. If someone renames `Program`, you don't want to keep the IL string behind.

I am all for having decent IL support (and debugging story), but I understand that this is not the goal of this feature.

In either case if this is intended for public consumption, we will be stuck to supporting this syntax even if better so

[2016-05-25 17:40] kuhlenh opened #11559 "IntelliSense crashes if you change filters to a type with no suggestions"
**Version Used**:
VS '15' Preview 2

**Steps to Reproduce**:
1. type something to bring up intellisense
2. filter by a type
3. change your filter to a different type that displays no items

**Expected Behavior**:
I see "No Suggestions Available" in the intellisense menu
**Actual Behavior**:
VS crashes

[2016-05-25 17:43] jmarolf commented on #11193
@vbfox did you install an extension to get newer versions of roslyn? This crash should only be happening on builds that have the https://github.com/dotnet/roslyn/pull/8170 PR merged in

[2016-05-25 18:04] gafter commented on #11347
The PR introduced only one API for creating tuple types. It lacks an API for creating a tuple type given element types and element names. So this issue should remain open at least until that is addressed.

[2016-05-25 18:12] jcouv commented on #11347
That API already exists in the future branch [here](https://github.com/dotnet/roslyn/blob/future/src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs#L2759).

[2016-05-25 18:31] CyrusNajmabadi commented on #11193
I've hit this on:

![image](https://cloud.githubusercontent.com/assets/4564579/15551709/0f40d9f6-226c-11e6-874d-02c677a8fa9d.png)

Application: devenv.exe
Framework Version: v4.0.30319
Description: The application requested process termination through System.Environment.FailFast(string message).
Message: System.AggregateException: One or more errors occurred. ---> System.ArgumentException: SyntaxT

[2016-05-25 18:39] CyrusNajmabadi commented on #11193
Note: this is in SymbolKey.  Whereas the original fix was in SymbolId.  We'll likely need the same fix in SymbolKey.  Note: ideally we would not have SymbolKey at all.  https://github.com/dotnet/roslyn/issues/11403 tracks the work to remove it and absorb it's functionality into SymbolId.

[2016-05-25 18:41] tmat commented on #11417
@jaredpar As discussed on https://github.com/dotnet/roslyn-internal/pull/994 this seems to be an issue with the solution generator.

[2016-05-25 19:18] lucamorelli commented on #11525
Let's start explaining the situation:
originally in the controller I had this situation

[code]

this way worked fine because all the async closed was closed inside the call. I changed this way

[code]

At this point I started to have problems, both the call to the logging routine worked fine, the first call to the WriteLog inside the routine execute correctly but, without any error or exception,

[2016-05-25 19:22] gafter opened #11562 "Proposal: guard statement"
When reviewing the scoping rules for `out` variables and pattern variables, the LDM discovered that there is sometimes an unfortunate interaction with a pattern of coding that we call the *guard pattern*. The guard pattern is a coding pattern where you test for the exceptional conditions early, handle them, and then bypass the rest of a method by returning, the rest of a loop by continuing, etc. T

[2016-05-25 19:40] svick commented on #11525
Calling sync method from async method is perfectly fine (even if it might not be the best practice). Though I am confused by your code: you claim it is sync, but then you use `await` inside `void WriteLine`, which wouldn't compile. If you actually had `async void WriteLine`, this could have been the source of your problem: you should use `async void` only when you have to.

---

This already cause

[2016-05-25 19:41] mattwar commented on #11562
I'm thinking the keyword 'assert' would read better here than 'guard'.  I'm not sure what guard is guarding.. it seems like it is named after the jargon-y term named after the common pattern of writing code.  And I transpose the u and the a when typing guard all the time. Where as 'assert' is nice because it reads like I'm making a claim about the expression being true and implies that there is no

[2016-05-25 19:43] gafter commented on #11562
@mattwar An assertion is making a claim about the expression, but the guard doesn't make such a claim. It *tests* whether the condition is true or not, expecting that it could be either, and provides code to handle the "not true" case and "get out of there".

[2016-05-25 19:43] CyrusNajmabadi commented on #11562
Why not just:

[code]

?

The 'else' reads *super* weird to me.

With the above i can then write:

[code]

Or

[code]

[2016-05-25 19:45] Pilchie commented on #11562
@CyrusNajmabadi That sounds like Perl's [`unless` statement](http://perldoc.perl.org/perlsyn.html#Compound-Statements)

[2016-05-25 19:45] mattwar commented on #11562
@gafter It seems to work just like a Debug.Assert expression, except it not debug and I get to say what happens when it fails.  That's a strong association that every programmer already has.

Guard just doesn't tell me what it does.  It tells me I have to do a web search to find out.

[2016-05-25 19:49] CyrusNajmabadi commented on #11562
Also, i thnk i like 'unless' as well.  it reads nicely.  "unless n is not null, throw this thing.  unless this int parses, return from what i'm going."   'guard' doesn't immediately translate well in my head.

[2016-05-25 19:53] gafter commented on #11562
Plenty of discussion over on #8181 which however does not discuss the scope rules. Also related is #6400 and the `let` statement in the [pattern-matching specification](https://github.com/dotnet/roslyn/blob/future/docs/features/patterns.md).

[2016-05-25 19:56] svick commented on #11562
Wouldn't it be simpler and more consistent if `out var` variables *were* in scope in the enclosing statement?

To me this makes the most sense: `out` parameters are always set. It's common that they are set to a useful value only under some conditions, but it shouldn't be up to the language to guess what that condition is.

[2016-05-25 19:58] CyrusNajmabadi opened #11563 "When generating a constructor from fields, strip the _ in a field name when generating the parameter names."
Detect this common pattern and name things properly.

[2016-05-25 19:58] gafter commented on #11347
That is not a public API.

[2016-05-25 20:01] hvanbakel commented on #4265
@srivatsn A bit of an old issue here, but are there any plans to suppress by using the attribute as opposed to the pragma? The pragmas have the downside of not having a justification and being harder to spot as opposed to the attributes

[2016-05-25 20:01] jcouv commented on #11347
Sorry, I pointed to the wrong file. The public API is [here](https://github.com/dotnet/roslyn/blob/future/src/Compilers/Core/Portable/Compilation/Compilation.cs#L835).

[2016-05-25 20:01] yizhang82 commented on #11475
agree with @miloush and @tmat. The scope of this feature is to support scenarios that are not possible today in C# and tools such as MCG (interop static codegen in .NET native and eventually CoreRT) need to resort to IL rewriting techniques using CCI, which is complicated (PDB, handling type references correctly, generics) and not performant (two pass >> one pass). Supporting all IL syntax seems n

[2016-05-25 20:02] gafter commented on #11562
@svick The same issues occur with pattern-matching, and for the same reasons. We're pretty comfortable with the tentative scope rules we have today, but this is one particular use case where they rub us the wrong way.

[2016-05-25 20:05] gafter commented on #11347
I see. Thanks!

[2016-05-25 20:07] gafter commented on #8181
What `guard` has to do with pattern-matching is that pattern variables introduced in the expression of a `guard` statement would be in scope in the enclosing block.

[2016-05-25 20:12] lucamorelli commented on #11525
sorry for the mistake, I was reconstructing the previous code. I corrected it now,

Honestly I don't know: the problems started adding the action inside the async function and disappeared moving to a Func

You are right, at the moment I just followed the indication of the code Analyzer, but at the moment is not an issue: the controller is quite short and I check the correctness of the call

[2016-05-25 20:14] pharring opened #11565 "Provide a public API to parse generated names"
I'd like to have a public API to parse compiler generated names, such as `PlatformBlobStore+<>c__DisplayClass52_0+<<TryReferenceInternalAsync>b__0>d.MoveNext` so that I can build more user-friendly names.

It would appear that [`GeneratedNames.TryParseGeneratedName`](https://github.com/dotnet/roslyn/blob/56f605c41915317ccdb925f66974ee52282609e7/src/Compilers/CSharp/Portable/Symbols/Synthesized/Gen

[2016-05-25 20:41] AlekseyTs opened #11566 ""Out Variable Declaration" work items and open design issues"
The purpose of this issue is to track the TODO list and the list of open design issues for the development of the Out Variable Declaration feature for C# 7. There is also a discussion thread for this feature at #6183.

**Open issues:**
- [X] ~~The specification for overload resolution needs to be modified to account for the inference of the type of an _out variable_s declared with `var`.~~
- [X] ~

[2016-05-25 20:55] ljw1004 commented on #11562
I want to offer a counter-proposal which I think is simpler and satisfies most of the same scenarios:

***Proposal: Lifting of `out` variable declarations***. *Whenever a variable is declared with the `out` modifier, its scope is expanded to the enclosing block.*

__Example: TryGet__
[code]

__Example: guards__
[code]

__Example: loop__
[code]

__Example: foreach loop__
[code]

__Example: pattern

[2016-05-25 20:55] xoofx commented on #11475
No problem guys, as I said in the end of my post, I would still be happy with this proposal. :wink:

[2016-05-25 20:56] alrz commented on #11562
This is useful for out variable declaration, but I'd prefer `let` if I want to match a potentially incomplete pattern.
[code]
In both of these examples, the *embedded-statement* may not complete normally, so in my opinion `guard` and `else` should be used here. In contrast, `unless` does not imply such requirement.

I'll also note that `guard` is an can be used for method contracts as well, becaus

[2016-05-25 20:58] npolyak commented on #8803
Why was the functionality deprecated? For example I have an in-memory dynamically compiled and loaded assembly. How do I add it to the compilation?

[2016-05-25 21:15] tmat commented on #8803
I have fixed the wiki page to use ```CreateFromFile```. Keeping this issue around for tracking "un-deprecation" of the original API. The API will be needed in order to remove dependency on compiler internals from scripting.

[2016-05-25 21:22] mharthoorn commented on #11516
Is an extension class really a class? And does it then become a synonym of the extended class? It's better to call it what it is: a class extension, or just extension. The main reason to give an extension a name probably is to be able to find it back in your code. You're not going to reference it by name. The static modifier has no meaning either.

[code]

[2016-05-25 21:34] alrz commented on #11159
I'm thinking that the extension declarations should generate a non-generic static class,

&emsp;*extension-modifiers*<sub>opt</sub> `extension` *type-parameter-list*<sub>opt</sub> *type*  *extension-name*<sub>opt</sub> *type-parameter-constraints-clauses*<sub>opt</sub> *extension-body*

&emsp;`as` *identifier*

So that the optional *extension-name* remains an _identifier_. In case of a generic ext

[2016-05-25 22:17] HaloFour commented on #11562
The one thing I like about guard is that it serves as a helper for validation logic to ensure that the method does bail out:

[code]

This proposed behavior that pattern and `out` variables survive into the enclosing scope is a welcome addition.

As for the `guard` keyword specifically, I don't really care, but I don't think that `unless` conveys the point well enough that the current block is not

[2016-05-25 22:27] npolyak commented on #8803
I am afraid that 'un-deprecation' is not sufficient - creation of reference from dynamic assembly will have to be implemented - here is the code of MetadataReference.CreateFromAssemblyInternal that throws an exception if assembly is dynamic or its location is null or empty:

`            if (assembly == null)
            {
                throw new ArgumentNullException(nameof(assembly));

[2016-05-25 22:32] jasonmalinowski commented on #11048
This has been merged into our internal update branch; the fix was in the legacy project systems which aren't on GitHub.

[2016-05-25 22:32] #11048 closed

[2016-05-25 22:42] tmat commented on #8803
@npolyak Yes, you're right. Additional work is needed. Not all dynamic assemblies will be supported on all platforms though any time soon though.

There is a difference between "in-memory dynamically compiled assembly" and "dynamic assembly" (IsDynamic returning true). The former is an assembly compiled at runtime (dynamically) into a byte[]. The latter is an AssemblyBuilder assembly created by Re

[2016-05-25 23:05] tannergooding opened #11567 "[Infrastructure] MSbuild reusing nodes even with `/nr:false`"
MSbuild seems to reuse nodes even with `/nr:false` passed on the command line.

This causes build failures, such as:

[code]

The code-base in question only calls MSBuild from one location (and always passes `/nr:false`) and all projects are referencing v2.0.0.0 of the Compiler toolset.

[2016-05-25 23:22] jaredpar commented on #11567
Not a Roslyn issue.

[2016-05-25 23:22] jcouv commented on #10997
This regularly repros for me when working on Roslyn (building works, but intellisense dropped references). I captured and shared a [workspace info log]("\\jcouvdev\shared-dumps\RoslynWorkspaceInfo.xml") in case that helps.

[2016-05-25 23:27] pharring commented on #11565
+1 from the App Insights team

[2016-05-25 23:40] gdefraiteur commented on #11537
@HaloFour
1: yea but use that emit things is damn boring. (but i ll look at it for more arguments, just using .GetType().GetProperties() would be better.

2: yea, but i think serializations apis are really boring right now, even the ones from the framework.
If serialization fail, exception, and cant set parameters or what to tell to just ignore them.
I dont know maybe im wrong but i had very bad e

[2016-05-25 23:54] #10190 closed

[2016-05-26 00:01] dfkeenan commented on #11516
I don't think you need the `class` keyword there. `extension` should be the keyword like `class`, `struct` etc.  Also I think a `:` would be better than the word keyword `extends`.

[2016-05-26 00:18] miloush commented on #11516
I do occasionally call extension methods explicitly on the declaring type.

I see the point of static modifier in the current model, as the methods are static. If state can be introduced using extensions, a non-static extending class feels natural way to express it, and can later go with the other familiar syntax (such as inheritance, generics).

Don't forget about accessibility via reflection. If

[2016-05-26 00:32] lorcanmooney opened #11569 "VB partial completion provider qualifies type names when there's a matching member name"
**Version Used**: Version 14.0.25123.00 Update 2

**Steps to Reproduce**:

[code]

Trigger the completion list at $$.

**Expected Behavior**:
The type name in the completion list should not be qualified.

**Actual Behavior**:
The completion list item is qualified with either the containing namespace name or `Global`.

Found as part of #7213 and #4137, but it's not fixed by my current changes.

[2016-05-26 01:05] lorcanmooney opened #11570 "VB unit test failure: ConvertReferenceTypeToIntrinsicValueType"
A VB unit test in the master branch is failing on my machine. I'd guess it's a locale thing: my settings expect dates in **dd/MM**/yyyy format
[code]

[2016-05-26 01:18] Thaina commented on #11553
@eyalsk What I don't like about that syntax? everything

It like you declare object in reverse order of normally
It like you need to write
[code]
It also not use = to declare variable. It just add a variable and assume that variable was set
It counter intuitive from C# in every way

What I like about my syntax
Actually I would like to have it like kotlin. It would do what I propose if we just writ

[2016-05-26 01:28] Thaina commented on #11516
C# have so many keyword that was not used on the class before. Please just reuse it

https://msdn.microsoft.com/en-us/library/x53a06bb.aspx?f=255&MSPPError=-2147217396

There are many keyword it could be use such as
`static class Enrolee : Person`
`static extern class Enrolee : Person`
`static implicit class Enrolee : Person`
`static explicit class Enrolee : Person`
`static virtual class Enrolee :

[2016-05-26 02:08] CyrusNajmabadi opened #11572 "C# Formatting engine should respect when i place an attribute on the same line as a field."

[2016-05-26 02:36] gafter commented on #11553
A swiftish way to handle this would be

[code]

[2016-05-26 02:50] qrli commented on #11562
It seems all we need is to invert the scope of the `out var`, so why not:
[code]
In this way, you don't need to introduce a completely new statement, but only an alternative of `if`: the compound `if not`. It also solves another minor issue: the `!` before the expression is hard to see and usually you need an extra level of parenthesis.

[2016-05-26 03:06] qrli commented on #11516
@Thaina Here `extension` is just a contextual keyword, which means it is treated as keyword only before `class`. It will not break anything.
All the combinations you listed are confusing, if not misleading. I'd prefer simple obvious contextual keyword instead.

[2016-05-26 03:21] Thaina commented on #11516
@qrli I know but even it not break anything, add more keyword is not so good in my opinion
With the same reason we could reuse the old one as contextual keyword too but we don't need to introduce new one

I think `extern class` is not so misleading
And to just make it `static class S : A` can be read as `static class S extend A` also intuitively withou any more keyword

[2016-05-26 03:35] SergeyTeplyakov opened #11574 "Invalid format string for string.Format method"
It seems that format string provided to `stirng.Format` in this [place](https://github.com/dotnet/roslyn/blob/56f605c41915317ccdb925f66974ee52282609e7/src/EditorFeatures/Core/Shared/Utilities/VirtualTreePoint.cs#L128) is invalid:

[code]

This code will fail with format exception because open and close braces should be escaped.

P.S. I've found this bug using my [ErrorProne.Net](https://github.com

[2016-05-26 03:41] paul1956 commented on #9762
@jmarolf this missing "Process" issue still schedule for update 3. I have not found any workaround.

[2016-05-26 03:47] Thaina commented on #11553
I actually don't like let, but that seem interesting alternative

maybe this?
'''C#
object obj;
if(let string obj)
    return obj.Length;
'''

[2016-05-26 04:10] dpen2000 commented on #4941
This issue should probably be closed now

[2016-05-26 06:01] HaloFour commented on #11562
@qrli You're still introducing a new statement and a new keyword.  An "inverted if" also doesn't imply that it would force exiting the current block.

[2016-05-26 06:18] yaakov-h opened #11575 "Possible falsepositive of CS0121 when calling Task.Run"
**Version Used**:
Microsoft Visual Studio Enterprise 2015
Version 14.0.25123.00 Update 2

**Steps to Reproduce**:
Compile this:

[code]

**Expected Behavior**:

The code compiles.

**Actual Behavior**:

[code]

[2016-05-26 06:21] srivatsn commented on #4265
In the suppression file it's always attributes. When suppressing in source, the pragmas provide the advantage that the suppression can be very targeted to an individual statement whereas the attribute will have to be a large scope by like the method or type. We used to offer both options but the extra option seemed to just confuse people as there was no guidance and the current way is more prescri

[2016-05-26 07:12] miloush commented on #11516
@Thaina well `extern` class particularly looks like something you would want to have free in case you introduce actual extern classes.

I admit that I wasn't very happy seeing *two* new keywords either, but there is also cost in making existing keywords mean different things in different contexts.

Another option would be to use metadata, say `ExtensionAttribute` .. oh, wait.. 😉

[2016-05-26 07:57] Thaina commented on #11562
@qril I have request `if!` syntax in the past

But somehow I think it could possible if we just use `else(expression)`

Normally we must use `else if` or `else { }` plainly. So we could add `else()` as another way to use it

I'm not native english speaker so if this sound weird I would support `unless` instead of `if not` or `guard`

[2016-05-26 08:06] miloush commented on #11572
Or method. Or class. Or wherever attributes are allowed...

[2016-05-26 08:09] vbfox commented on #11193
@jmarolf I installed a build to test the OutOfMemory problem we are having (The one that was linked in https://github.com/dotnet/roslyn/issues/10365) at some point but since removed it (It was creating errors at startup) maybe some bits remains.

I didn't pay attention to all the answers to #10365 about the vsix it not being removed correctly as I didn't think I was affected but it seem to be the

[2016-05-26 08:29] dg2k commented on #11526
@Unknown6656 Thanks again for the update and I'm now more in tune with this particular feature request.

I understand GitHub's particular strength vis-à-vis SO -- if there is such thing (or is there?) as the *Oscar of online productivity tools* (or whatever more suitable phrase you can attach here), **GitHub** should get it. Of course, in my opinion ;-)

[2016-05-26 08:32] dsaf commented on #11562
Doesn't this encourage e.g. pushing argument validation down the call chain?

I would personally like to see method contracts #119 implemented first. The concepts are different of course, I understand that.

Alternatively, how about D-style contracts, but changed so that variables declared in the ```in``` contract block are accessible to the ```body```?

[2016-05-26 08:40] qrli commented on #11562
@HaloFour
It adds only a contextual keyword instead of a keyword, which is already better.
Exiting can still be enforced by compiler, if necessary. However, I don't think it is necessary to enforce exiting. There is nothing to continue and access them, as `out` variables are definitively assigned anyway. e.g. I may log the invalid input but continue process with default value.

[2016-05-26 08:45] qrli commented on #11516
@miloush
Or even: ;-P
[code]

[2016-05-26 09:00] Thaina commented on #11516
or maybe
[code]

Yeah, anyway it is not a class, just an extension. It can be extension of struct. So don't need type at all just `static` to enforce staticness, name to find reference, colon to state that it extend from a thing

[2016-05-26 09:03] miloush commented on #11516
@qrli The problem with the first two is that they create inheritance expectations on the extensions itself, like the ability to override another extension.

No but seriously, if state needs to be brought in, it just seems easy to lift the static requirement and require either constructor or explicit operator
```C#```
[Extension]
public class PersonExtensions
{
    public PersonExtensions(Person p)

[2016-05-26 10:00] dtereanszky opened #11576 "MSBuild v14 compiles a semantically incorrect assembly under some rare circumstances"
**Version Used**:
MSBuild v14

**Steps to Reproduce**:
[code]

**Expected Behavior**:
Correct binary is generated.

**Actual Behavior**:
Buggy binary is generated, parameter gets lost during method call. This can be verified by decompiling the binary:
[code]

Please see more details here: http://stackoverflow.com/questions/37457082/msbuild-v14-compiles-a-semantically-incorrect-assembly-under-some-

[2016-05-26 10:05] miloush commented on #11516
Except that you need to keep reference to the instance of extension somewhere and get it back on the same instance of extended object. The above suggestion is not enough indeed.

[2016-05-26 10:07] WiredUK commented on #11576
A simple test using the above code, just switch the order of the parameters and you get different output:

    TestMethodWithParams(args: customerId, whatever: "foo");
    TestMethodWithParams(whatever: "foo", args: customerId);

[2016-05-26 10:20] dtereanszky commented on #11576
Hi WiredUk,

thank you for your suggestion. It works, just as wrapping that very single parameter into an object array:
TestMethodWithParams(args: **new object[] {**customerId**}**, whatever: "foo");

Anyway, these are good as workaround, but currently seems this behaviour is a bug, that should probably be fixed in my opinion.

[2016-05-26 10:47] dg2k opened #11577 "[Proposal] Simplify boolean test of null with objects"
# Synopsis

Every object has those _canonical methods_: `Equals()`, `GetHashCode()`, `GetType()`, `ToString()`, with one more for value type: `CompareTo()`.

Every object also has that _eternal boolean test_: `if(someObject == null) { ... }` or `if(someObject != null) { ... }`. Can we have some simplification here that the compiler can help with by abstracting the boolean test?
# Proposal

A simil

[2016-05-26 11:07] hypeartist opened #11578 "[Proposal] Inline delegate invocation"
Is it possible to make it happen? (Maybe following the same rules applied to ordinary methods)

[2016-05-26 11:07] HaloFour commented on #11577
I don't see how this new notation is any more readable than using the equality operators.  If anything it's more confusing because `someObject.IsNull` should never be capable of evaluating to `true`, it should throw.  This would create weird caveats to the existing semantics of the language.  I argue that it's *less* readable because now anytime you see an attempt to read a property you have to st

[2016-05-26 11:08] HaloFour commented on #11578
You might want to ask that in the [coreclr](https://github.com/dotnet/coreclr) repo as method inlining is a concern for the JIT compiler, not the C# compiler.

[2016-05-26 13:51] orthoxerox commented on #11578
@hypeartist Do you mean things like `(x => Console.Write(x))("Hello");`? This is not supported by the current type inference engine. Delegates must have an explicitly defined type, so they can be assigned to explicitly typed variables or fields, passed as arguments, but not invoked immediately or assigned to variables with inferred types.

[2016-05-26 14:27] dotnetchris commented on #11516
I've been wanting this level of extension support since the day extension methods were announced. This is an absolutely amazing feature to be added to C#

This should fit fantastically with record types and pattern matching. Long live functional c#

[2016-05-26 14:33] npolyak commented on #8803
Hey Tomas
even doing one of them would be a great step forward.
Thanks
Nick

[2016-05-26 15:12] migueldeicaza commented on #8115
Another thought on `defer`.

The real win here is that it can be used for things that are not `IDisposable`.   And while there was a comment earlier from @HaloFour that he sees no validity in the argument, defer is not limited to resources that must be disposed, nor is every resource or operation that requires some finalization always surface a `Dispose()`.

Defer instead introduces a new construc

[2016-05-26 15:44] HaloFour commented on #8115
@migueldeicaza

Quickly scanning those examples I can easily see that the *vast* majority of cases are Swift's reimplementations of `using` or `lock`.  Surprisingly, much more the latter than the former.  Of the remaining cases I mostly see bizarre ways of injecting mutation logic post `return`, e.g.:

[code]

I frankly don't see how that's more readable than the equivalent:

[code]

Sure, one les

[2016-05-26 15:51] svick opened #11581 "InvalidCastException when using an invalid MetadataReference"
I'm experimenting with netmodules and when I try to reference netmodule from a stream, I get `InvalidCastException` at `Compilation.Emit()`.

Looking at the source, [only `MetadataReference.CreateFromFile()` supports netmodule references](https://github.com/dotnet/roslyn/blob/5b77e6d/src/Compilers/Core/Portable/MetadataReference/MetadataReference.cs#L227-L245). That's fine, but the other `Create*`

[2016-05-26 16:17] hvanbakel commented on #4265
Is it possible to have a config switch for this? In existing codebases this is odd as some suppressions will be done using attributes whereas the others will be done using pragmas.

Also, suppressions with attributes can be precise too see this example:
`[SuppressMessage("Microsoft.Design", "CA1045:DoNotPassTypesByReference", MessageId = "2#", Justification = "Needed for struct performance.")]`
Th

[2016-05-26 16:21] svick commented on #11576
I believe this is a duplicate of #4197, which was fixed in 1.1.

[2016-05-26 16:38] shadowfoxish commented on #5033
I watched the video https://channel9.msdn.com/Blogs/Seth-Juarez/Looking-Ahead-to-C-7-with-Mads-Torgersen which towards the end, discusses the nullability specifier for types to disallow a ref type from being null.

Rather than implementing more punctuation, what if we did a keyword similar to ``readonly`` so you would declare a property or variable like this:
[code]
I think this is much more reada

[2016-05-26 16:44] Pilchie commented on #11243
I believe this is a dupe of #11193, can you confirm?

[2016-05-26 16:47] Pilchie commented on #11303
Is it expected that we match the shortcut case insensitively?

[2016-05-26 16:51] dg2k commented on #11577
@alrz - care to share your thoughts for the thumb down? I would appreciate your reason(s) behind it.

[2016-05-26 17:06] bbarry commented on #8115
@migueldeicaza, @HaloFour I suspect by far the most common use case for a defer statement in C# would be lock management structures like `ReaderWriterLockSlim` changing code like [this](https://github.com/hibernating-rhinos/rhino-esb/blob/master/Rhino.ServiceBus/DataStructures/Set.cs) to:

[code]

Here, the necessary naked block in the `Add` method makes me more uneasy about the thought of a defer

[2016-05-26 17:31] alrz commented on #8115
This prints `a 0 b 1` because in swift each case body has its own block.
[code]
No idea how it should work in C# though.

[2016-05-26 17:34] ljw1004 commented on #11361
I think this is "by design".

@gh3x78E, the instance methods you listed are correct but it's important to put them in the right place:
[code]

Those for methods are what allow someone to await something:
[code]

But consider what happens to folks who wish to invoke GetMyAwaitable but are in a *synchronous* context? The standard pattern is for them to invoke GetAwaiter manually:
[code]

You should

[2016-05-26 17:37] rchande commented on #11243
Yes, that's the same stack.

[2016-05-26 17:37] #11243 closed

[2016-05-26 17:38] rchande commented on #11243
@schuettecarsten: This is fixed in recent builds of Master--should be resolved if you install a new VSIX.

[2016-05-26 17:54] alrz commented on #11577
C# doesn't have the concept of "pseudo property" anywhere in the language, besides, this is not a "property" of the object in any ways, it's about the value itself, so if it was null I expect to get an exception if I didn't use the null propagation operator. idiomatically. If you think `IsNull` is any more readable than an operator you can use extension classes — if and only if you do it anywhere

[2016-05-26 17:56] AdamSpeight2008 commented on #11577
@dg2k You can already do this via extension methods.
[code]

[2016-05-26 18:36] ljw1004 opened #11583 "Proposal: language support for Obsolete"
## Background

In C#6, we can basically never remove nor obsolete an old method:
[code]

I propose we add language support for Obsolete:
[code]

## Proposal

### Syntax
Add a new method modifier `obsolete`

[code]

### Semantics

0. Define *less obsolete*: a method without the modifier is less obsolete than `obsolete(...,false)` which is less obsolete than `obsolete(...,true)`. I'm using false=war

[2016-05-26 18:38] VSadov commented on #118
@kldf  At the CLR level - yes we cannot return references to locals and byval parameters. At the C# level the situation is a bit more complex because of lexical scoping.
According to the language semantics a new set of local variables is created when control flow enters  {}. As a result you should not be able to access the variable via a reference when outside of {}. From the language semantics th

[2016-05-26 18:39] alrz commented on #11308
@svick As it turns out, your implementation with local functions DOES NOT defer the state machine creation in `future` branch.

[2016-05-26 18:47] nguerrera commented on #5397
I've cherry-picked @noahfalk's prototype on to the future branch and will build from there: https://github.com/dotnet/roslyn/compare/future...nguerrera:embed-source-in-pdb

[2016-05-26 18:58] AlgorithmsAreCool commented on #11537
@gdefraiteur I reformatted your original post

## My Proposals for c# 7.0

### 1: REFLECTION ON PURE DYNAMIC INSTANCE

make a class in a dll loaded at runtime
use an instance of the class with reflection to list class members

Expected Behavior:
list members

Actual Behavior:
error

### 2: CLASS SERIALIZATION
[code]

### 3: MORE REFLECTION TOOLS
[code]

[2016-05-26 19:00] alrz opened #11585 "Discussion: async/iterator local function captures"
A common use case for local functions is to avoid state machine creation in async or iterator functions before parameter validation, etc. But if you capture any variable or parameter, the corresponding fields will be added to a `class` that we were intended to avoid creating in the first place. The only workaround is to pass every parameter to the local function which has to have a different name.

[2016-05-26 19:03] AlgorithmsAreCool commented on #11537
Also @gdefraiteur,

For runtime code generation, have you looked at the [Sigil](https://github.com/kevin-montrose/Sigil) Library?

And for the reflection helpers, do the newish [Caller Info Attributes](https://msdn.microsoft.com/en-us/library/mt653988.aspx)?

[2016-05-26 19:07] aL3891 commented on #11516
Would be really nice to see this! `extends` feels a bit like Vb though, I prefer `:` as in

    public extension class MyExtensions : Person { ...

I also think `static` could be omitted here because static extension members could just be marked `static` and instance extension methods could be declared as they normally would. it feels a little strange to have non static members inside a static cla

[2016-05-26 19:09] AdamSpeight2008 commented on #11566
Can you clarify this?

The **out variable** can not be referred to, within the other parameters of the method.

[code]
--------
Is the proposal the equivalent to the following?
[code]
If so, then to referred to restriction, isn't a restriction.

-----

Is the **our variable` accessible with then other branches of the `if`?

[code]

[2016-05-26 19:12] ljw1004 opened #11586 "RoslynDeployment suggestions"
@jmarolf

(1) In SolutionExplorer the project which generates RoslynDeployment.VSIX is just called "Roslyn". This is a confusing name, because the name "Roslyn" really refers to every aspect of Roslyn -- not just deployment. I think you should call this project "RoslynDeploymentVSIX" so we know exactly what it's for.

(2) When I set this project as startup and hit F5, it should launch an experimen

[2016-05-26 19:16] AlgorithmsAreCool commented on #11308
This reminds me a little of powershell's `begin`, `process`, `end` blocks for pipeline functions. Thier aim is for code structure, not performance but the idea is similar.

Here is how they do it.

[code]

[2016-05-26 19:20] AlekseyTs commented on #11566
@AdamSpeight2008 As clearly stated at the top of this issue, this **is not** an issue for discussions. There is a discussion thread for this feature at https://github.com/dotnet/roslyn/issues/6183. I'll give you  a couple of hours to move your comments and then I am going to delete them from here.

[2016-05-26 19:28] jmarolf commented on #11586
@ljw1004
1. We should change the name to something sensible.  I can get a pr out for this today.
2. Is obviously something we should fix.
3. This is something that a feel we need to discuss.  The hope is that very soon we will ship builds to customers using this VSIX.  Whatever language that we use should be consistent  RoslynDeploymentVSIX may be fine, but I fear it could be confusing as customer

[2016-05-26 19:30] AdamSpeight2008 commented on #6183
#11566
Can you clarify this?

The **out variable** can not be referred to, within the other parameters of the method.

[code]
--------
Is the proposal the equivalent to the following?
[code]
If so, then to referred to restriction, isn't a restriction.

-----

Is the **our variable` accessible with then other branches of the `if`?

[code]

[2016-05-26 19:32] AlgorithmsAreCool commented on #11577
I'm not sure that this proposal adds enough value to modify the language. Especially with extension methods (and perhaps extension properties soon) allowing us to implement it ourselves.

[2016-05-26 19:37] ljw1004 commented on #11586
3. Maybe a name like "Roslyn Plugin For VS" would be descriptive and suitable for both solution explorer and Tools&Extensions. The Tools&Extensions one could call it with the suffix "(experimental)" to be even more clear.

[2016-05-26 19:39] AlekseyTs commented on #6183
Yes, the proposal would make this
[code]
or this
[code]
an error.

The tentative plan is to use the same scoping rules as for pattern variables, which could be found here https://github.com/dotnet/roslyn/blob/features/outvar/docs/features/patterns.md

[2016-05-26 19:40] AdamSpeight2008 commented on #11586
Could be related to #10239

[2016-05-26 19:41] AlgorithmsAreCool commented on #11578
@hypeartist Some of your pain might go away with [local functions](https://github.com/dotnet/roslyn/issues/259) which are (presumably) able to be inlined.

[code]

[2016-05-26 19:43] jmarolf commented on #11586
Don't see how this is related to #10239, This has nothing to to with the Roslyn SDK templates, this is about building and deploying Roslyn itself.

[2016-05-26 19:46] AdamSpeight2008 commented on #6183
If the out variable is gets defined into a scope local to the statement / expression.
Does that mean it overloads one that is already defined?
Or would that also be an error?

[2016-05-26 20:12] VSadov commented on #10630
Turns out that is not so trivial to arrange reliably.
(kind of a long story, but in some cases Deprecated attributes with same number of parameters look the same, so selectively disallowing one has effect on another)

There is also a compat concern – if there is a chance that someone used the overload with Platform, he will find that the attribute no longer works after installing VS update. That w

[2016-05-26 20:13] AdamSpeight2008 opened #11587 "[Discussion] Unit Test sensitivity."
Partially related to Roslyn. Hence on a separate fork.
[ Unit Test Sensitivity ](https://github.com/AdamSpeight2008/roslyn-AdamSpeight2008/issues/6)

[2016-05-26 20:21] jasonmalinowski opened #11588 "Tag commits used for signed builds automatically"
When a new signed build is completed, we should tag the commit involved automatically. This allows for a large amount of goodness:

1) The insider tool could use this information to provide a change list between two installed builds.
2) We could make a tool that automatically includes a link to a build in an issue once the issue has been fixed by a PR.
3) Developers can more easily understand what

[2016-05-26 20:22] jasonmalinowski commented on #11588
FYI to @jmarolf

[2016-05-26 20:23] jnm2 commented on #11577
These pseudo-properties are jarring; they don't match with anything else in C#. I think it's not even true that every object has the "eternal" boolean test `== null`. There are some objects and contexts for which these properties showing up in Intellisense would look patently dumb

`MySingleton.Instance.IsNull` what? Even if an object could be null I wouldn't want Intellisense to be eternally maki

[2016-05-26 21:20] rchande commented on #11200
@jinujoseph, that's a known issue, tracked by https://github.com/dotnet/roslyn/issues/11067

[2016-05-26 21:20] #11200 closed

[2016-05-26 21:24] rchande commented on #10837
Again, dupe of https://github.com/dotnet/roslyn/issues/11067

[2016-05-26 21:24] #10837 closed

[2016-05-26 21:25] rchande commented on #10485
Dupe of https://github.com/dotnet/roslyn/issues/11067

[2016-05-26 21:25] #10485 closed

[2016-05-26 21:30] isakagren opened #11590 "Proposal: Pipe functionality"
Sometimes when writing statements in C# you have to take the return value from one method and pass it to another one. When writing this, it often times feels like you are writing it in the wrong order. If you want to read a stream, convert it to a string and then parse it as json, today you would write something like this:

[code]

When writing this it feels wrong. You start by writing the json pa

[2016-05-26 21:35] srivatsn commented on #4265
Please open a separate issue to add a codefix that can add the suppressmessage attribute as well.

The MessageId field doesn't have any defined semantics. It's upto the rules to make sense of that and in the old FxCop implementation a handful of rules respected that field. In the roslyn analyzer implementation we aren't looking at that field at all (although we should).

[2016-05-26 21:42] piotrpMSFT opened #11592 "Csc.exe should support producing full PDBs on Nano Server"
Moving dotnet/cli#3226 for @tmat.

@tmat once you're done, if you need anyting from CLI besides pushing a new Roslyn package version please let me know.

/cc @MichaelSimons

## Steps to reproduce

1. Install .NET CLI on Nano Server TP5.  The following Dockerfile illustrates the steps you can use to do this.

[code]

2. mkdir app
3. cd app
4. dotnet new
5. dotnet restore
6. dotnet build

## Expecte

[2016-05-26 21:43] piotrpMSFT commented on #11592
@tmat please set the Milestone and Labels appropriately. Per your conversation with @MichaelSimons this really needs to be done in the next two weeks if we're to absorb a fix into CLI on time.

[2016-05-26 21:45] heejaechang opened #11593 "Create VSI test for telemetry so that we can make sure it doesnt get broken by code change"
our logging is done by static Logger type so making it unit test is not simple since there is no easy way to know which test called the Logger.

so unfortunately, the test need to be integration test. but regardless we should make sure we have a test to make sure telemetry doesn't get broken by code changes.

[2016-05-26 22:17] AlgorithmsAreCool commented on #11590
See also
- #3171
- #5445
- #8947

and kinda
- #2718

[2016-05-26 22:47] jamesqo opened #11597 "[packaging] The nuspecs still use the old .NET Core TFMs"
I was taking a look through the repo and notice that the old .NET Core TFMs (`dnxcore50` and `dotnet`) were still being used in the packaging: [example](https://github.com/dotnet/roslyn/blob/master/src/NuGet/Microsoft.Net.CSharp.Interactive.netcore.nuspec#L19) (if you're on a Linux system you can list all of them yourself by doing `cd src/NuGet && grep -Er 'dnxcore|dotnet'`).

Now that .NET Core R

[2016-05-26 22:53] kfdf commented on #118
Doesn't feel like C#, and what about ref parameters? Maybe just forbidding assignments to ref variables from outer scope will be enough? And, most importantly, the compiler is easy to satisfy in this case.

No arguments about that. But I don't see how can current limitations to ref locals and ref returns work in any reasonably complex scenario, where one not safe to return struct passed by referen

[2016-05-26 23:00] eyalsk commented on #11553
@Thaina

I guess I can agree with you on that given that you refer to the fact that you state an expression and then you declare a variable in order to have an access to it.

If it was possible I'd love to have something like this:
[code]
But I _think_ that this isn't possible and _probably_ been discussed so maybe something like this:
[code]
but honestly, I like the `is` operator proposal too so

[2016-05-26 23:41] joperezr opened #11598 "Csc MSBuild task doesn't support auto detecting the host nor passing it in."
In corefx when building x-plat we use .Net Core MSBuild. The problem is that when msbuild calls the Csc task, the task will try to run it like: `corerun.exe csc.exe` which in windows is fine, but when you are running it x-plat it should change the host to be `corerun csc.exe`. Also, corerun is not the only host in which csc is able to run with, since you could also call it using the dotnet cli as

[2016-05-26 23:45] suprak commented on #4068
Was this fixed in VS 2015 Update 2? I'm still seeing this issue, especially after applying a Code Fix. My compilation completion action is not being called.

[2016-05-26 23:50] mavasani commented on #4068
Tagging @heejaechang - do we now run analyzers reporting only hidden diagnostics when computing project diagnostics?

[2016-05-26 23:50] BillHiebert opened #11599 "Transferring a document to Misc files loses all C# intellisense"
Dev14 U2

Are there known issues around this? Simplest repro
1.  New website, Select Empty C# website
2.  Add App_code folder
3.  Add a new class to App_Code
4.  File\SaveAs – save the new class outside the project cone. This causes a call to transfer the item to the misc files project

The open document has no colorization and the left navigation dropdown is empty where it should show Miscellaneo

[2016-05-27 00:20] heejaechang commented on #4068
@suprak, for perf reason, we made decision not to support hidden diagnostics only analyzers from compilation end analyzers for live analysis.

hidden diagnostics reported from other actions such as symbol, Ioperation, syntax, semantic will work as long as diagnostic reported is on open file itself as it used to be. just compilation end analysis is disabled.

in future, we might be able to support

[2016-05-27 00:23] HaloFour commented on #11583
This sounds like it would cause nightmares in cross language and cross version support.  The existing compilers don't play well with methods that are overloaded by return type.  As long as C# can target earlier frameworks there will always be the likelihood that a C# 9.0 binary will need to be consumed by a project written and maintained in Visual Studio 2005, likely by one of those large influent

[2016-05-27 00:24] suprak commented on #4068
I forgot to add, my diagnostics are no longer hidden. They are now Info. Still there will be times when compilation finished action is not called. ( I don't yet have a consistent repro, but am working on it).

[2016-05-27 00:36] heejaechang commented on #4068
@suprak can you try install this vsix.
https://www.myget.org/F/roslyn-master-nightly/vsix/eb2680f2-4e63-44a8-adf6-2e667d9f689c-1.3.0.60526.vsix

and see whether it still repro? this is roslyn nightly build.

...

basically, just double click vsix to install
and from admin VS developer command prompt do
devenv /updateconfiguration

and then run devenv and see whether it repros.

if you want to unin

[2016-05-27 00:43] Thaina commented on #11553
@eyalsk I don't know what you misunderstand about kotlin but, no it not add noise. kotlin actually remove noise

It work like this
[code]

It is what you actually want,  you already have existing thing that you want to operate on. In kotlin you don't need to make a temporary variable in the scope. Why have noise there?

[2016-05-27 00:49] eyalsk commented on #11553
@Thaina ahh okay, I thought you need to declare an extra variable for some reason but thanks for the clarification.

[2016-05-27 01:33] kfdf commented on #118
One more thought.. second best thing after compile time error is failing fast, and that's what check after return does, whereas currently the compiler can satisfied by promoting local variable to a field. It's a straightforward thing to do and is not too ugly, so is likely to become an accepted practice. But if there is a logical error and a reference to this field is returned, the programs just m

[2016-05-27 03:10] paul1956 commented on #4068
I installed this and #9762 targeted at update 3 is still not fixed, should I expect it to be?

[2016-05-27 03:15] heejaechang commented on #9762
@paul1956 I am not sure how this is related to #4068

[2016-05-27 03:57] paul1956 commented on #9762
I assumed the VXIS you posted is all of update 3 as I said in my comment and this bug was targeted at Update 3

[2016-05-27 04:38] jmarolf commented on #9762
Looks like this is the line throwing the error due to the type `Process` not being  found.

[code]

There is a process type in EnvDTE, specifically [`EnvDTE.Process`](https://msdn.microsoft.com/en-us/library/envdte.process.aspx) however, there has [never](https://stackoverflow.com/questions/11845828/missing-reference-to-system-diagnostics-process) been a version of [System.Diagnostics.Process](htt

[2016-05-27 04:39] #9762 closed

[2016-05-27 05:42] paul1956 commented on #9762
I works up to update 2. But I can make this change.

[2016-05-27 07:52] eyalsk opened #11602 "Proposal: Support other assignment operators as part of the object initializer"
So as an example, today to combine flags you have to do something like this:

[code]

We can't use the or assigning operator as part of the object initializer, so this proposal aims to change that by allowing it like this: (based on @HaloFour's suggestion.)

[code]

A very small proposal but nonetheless useful.

[2016-05-27 08:06] ManishJayaswal opened #11603 "Add symbol server support for portable pdbs"

[2016-05-27 08:07] ManishJayaswal opened #11604 "Add source server support in portable pdb"

[2016-05-27 08:09] ManishJayaswal opened #11605 "Write a tool to convert windows pdb to portable pdb..."
to enable debugging of PCLs built on Windows on other platforms

[2016-05-27 08:21] dsaf commented on #11583
@HaloFour

In practice this is not really a big consideration for Microsoft to be honest.

https://medium.com/swlh/how-one-announcement-destroyed-the-net-ecosystem-on-windows-19fb2ad1aa39

https://news.ycombinator.com/item?id=11761437

I say move fast and break things, introduce default non-nullability retroactively and let the dinosaurs weep.

[2016-05-27 08:59] hypeartist commented on #11578
@orthoxerox
I mean somthing like:

[code]
Get **fn** body inlined (if it meets the inlining rules)

[2016-05-27 11:21] HaloFour commented on #11602
The only reason that the results are different between your two cases is because `XmlReaderSettings.ValidationFlags` has a default set of flags.  An initializer will overwrite it regardless of the syntax.  Your proposed syntax doesn't imply that you intended to add those flags to the existing value.  In fact, your proposed syntax is legal syntax already if you add a `using static`.

Instead I migh

[2016-05-27 11:41] RevensofT opened #11606 "[Proposal] By reference for local variance."
Hi,
Since we have reference arguments I think why not local variance too because reference variance is short opcodes to load and stock value for frequency used object member then normal and it's easy  to read in for/foreach statement because we can stock value back without call them again.

[code]

[code]

Easy to read and reduce bytes code, two birds one stone.

And I have a little complain about

[2016-05-27 11:47] HaloFour commented on #11583
@dsaf

How Microsoft treats new and isolated platforms isn't relevant to their general behavior of obsessively maintaining backward compatibility.  Microsoft did not break how existing .NET apps worked or built on Windows 8 or Windows 10.

This proposal demonstrates they're relatively obsessive about ensuring forward compatibility between versions of the .NET framework and compilers to the extent

[2016-05-27 12:54] miloush opened #11607 "CS0311 (cannot be used as type parameter) at wrong location"
[code]
**Actual**
CS0311	The type 'D.D1' cannot be used as type parameter 'T1' in the generic type or method 'B<T1, T2>'. There is no implicit reference conversion from 'D.D1' to 'B<D.D1, D.D2>.B1'.
underlined **D2**

**Expected:** The same error but at **D1** line.

**Version:** 2.0.0.60428

[2016-05-27 13:46] miloush opened #11608 "'Add using' quick fix offered for CS0305 (using generic type requires type arguments)"
[code]
**Actual:**
CS0305 Using the generic type 'C<T>' requires 1 type arguments.
Quick fix offered: add `using ConsoleApplication1` and generating `ConsoleApplication1.N` class. Neither are relevant nor solving the error.

**Expected:** Quick fix to change `C.N` to `C<T>.N` or nothing.

**Version:** 2.0.0.60428

[2016-05-27 13:47] AlgorithmsAreCool commented on #11578
@hypeartist

I don't think this is possible at all. Here is why, (Forgive me if I tell you things your already know).

Inlining is only done at the JIT(or native compiler) level today and will probably always be done there. The JIT compiles the method `Check` before it is first called with actual data. Put another way, `Check()` only knows `fn` is a reference type at JIT compile time, not what any

[2016-05-27 14:29] eyalsk commented on #11602
@HaloFour thanks, I'll update the suggestion. :)

[2016-05-27 14:36] svick commented on #11590
I don't think `->` would work, since that's already [an existing operator](https://msdn.microsoft.com/en-us/library/s8bz4d5h.aspx).

[2016-05-27 14:41] isakagren commented on #11590
The arrow was just an idea I had. An other possible syntax could be the F# pipe operator `|>`. Using that, the syntax would look something like this:

[code]

[2016-05-27 14:58] Mafii opened #11609 "Default value of properties"
Steps to Reproduce: [TryRoslyn](http://tryroslyn.azurewebsites.net/#K4Zwlgdg5gBAygTxAFwKYFsDcAoADsAIwBswBjGUogQxBBgGEYBvbbGdmfYshgCgEo2HFh1EwAHjAC8MACw5RAX1aiuJcpGQTmMKKmSYYi6TACsObIqA)

When I have a default value for a property and I set the value directly in one of my constructors, the default value is redundant.
Shouldn't the compiler optimize out the first assignment?

    public C(int y)

[2016-05-27 14:59] AlgorithmsAreCool commented on #11590
This feature is something I've wanted ever since i saw it in F#, but i think it needs to be assisted by partial application and/or currying to make it flow well. Just like in F#. Function composition wouldn't hurt either.

[2016-05-27 15:13] hypeartist commented on #11578
@AlgorithmsAreCool
Thanx a lot for such a detailed explaination. Now I see clear. But what about some kind of "call (invocation) chain inspection"? Usually **Func<int> fn** definition (or specialization) are "near" enough to backtrace to it and see what actually **fn** are? May be it can be done even at IL-generation level.

[2016-05-27 15:30] TKharaishvili commented on #11516
+1 for extension arithmetic operators

would be nice to have the ability to write something like `list += item` instead of `list.Add(item)` for existing collection classes.

extension properties would also be very useful for adding strongly typed wrappers around dictionary-like objects, for example a `Session` in asp.net

I'm also in favor of `extension Student : Person` syntax...

[2016-05-27 15:39] isakagren commented on #11590
I agree that Function composition and currying would be great to have in c#, but this is a feature that could be implemented relatively easily today.

[2016-05-27 15:48] BillHiebert commented on #3716
Can we raise the priority of this? Having to manually go back and fix every using is incredibly annoying.

[2016-05-27 16:54] AlgorithmsAreCool commented on #11578
I think this is possible yes. I believe it is called
[Data Flow Analysis](https://en.wikipedia.org/wiki/Data-flow_analysis)
and is a powerful optimization technique seen in c++ compilers typically.

Lets look at a optimizable case:

[code]
In this example the human eye can see that `scale` is a simple reference to a static function. So the C# compiler emit a specialized version of `ScaleData` and

[2016-05-27 17:15] svick commented on #11583
The two scenarios don't sound convincing to me:

In scenario 1, you have to keep the old overload around for binary compatibility, so it has to keep working. Then what is the advantage to hide the overload when recompiling? The one I can see is that the user gets to see only the new overload, but that doesn't seem like a big advantage to me.

In scenario 2, you're changing the return type of a met

[2016-05-27 17:24] eyalsk opened #11612 "Proposal: Reducing the noise when it comes to accessing enums members"
This is basically copy/paste from my other proposal #11602 and an addition to it, it's basically a syntactic sugar that helps to reduce the noise when accessing enums members.

Instead of doing something like this:
[code]
Or this
[code]
Then maybe it's possible to have a syntactic sugar for it and do something like this:
[code]
_This is just an idea if you have a better suggestion please post it a

[2016-05-27 17:27] HaloFour commented on #11612
[code]

[2016-05-27 17:32] eyalsk commented on #11612
@HaloFour Okay, thanks! forgot completely about this feature. :)

[2016-05-27 17:32] #11612 closed

[2016-05-27 17:34] HaloFour commented on #11609
It is possible for a base class to cause access to the field prior to the constructor explicitly assigning it a value.  For example, a base constructor may invoke a `virtual` method which is overridden by a derived class which references that field:

[code]

This would end up printing "X is 5" on instantiation of `Bar` regardless of what the constructor argument is assigned.

Granted, I'm pretty s

[2016-05-27 17:38] svick commented on #11609
I think the CLR is what should make most optimizations. And in this case, it seems it doesn't. This code:

[code]

Generates:

[code]

[2016-05-27 18:45] #10630 closed

[2016-05-27 18:54] gafter opened #11613 "SyntaxTree design for out var"
The syntax trees for `out var` have gone through a couple of revisions (e.g. see #11600 which changes from one design to another), but it isn't clear we've settled on the best final design. One different alternative, for example, would be to have a node to represent a *declaration expression* that is, at present, only parsed inside an `out` argument. We are meeting at 2pm on June 1 to resolve (or

[2016-05-27 19:01] CyrusNajmabadi opened #11614 "If we decide to correct the *case* of an identifier in VB, that should not deprioritize the Add-Import result."
In this case, this should *not* be considered a 'spell checking' match, and the Add-Import result should have normal priority.

@davkean May have also filed this.  But i'm filing it anyways just in case it wasn't.

[2016-05-27 19:24] HaloFour commented on #11590
The conversations around forwarding, currying and partial application are spread around a bunch of issues here.  IIRC, the issue with currying is that it is inherently incompatible with overloading, which is generally forbidden in functional languages.  F# only permits overloading strictly when writing public methods and in those cases it disallows currying.  Pretty much the polar opposite of C#.

[2016-05-27 19:44] svick commented on #11578
@AlgorithmsAreCool

Either that, or [tiered JIT](https://github.com/dotnet/coreclr/issues/4331).

[2016-05-27 19:48] Pilchie commented on #4599
How does this look now - do we need to do more here?

[2016-05-27 19:50] Pilchie commented on #4617
Moving to backlog, because I think this would only be done as part of a concerted effort to really support preprocessor directives a lot better.

[2016-05-27 19:50] AlgorithmsAreCool commented on #11578
@svick I hope that happens one day soon.

[2016-05-27 19:51] Pilchie commented on #4936
Ping again?

[2016-05-27 19:59] Pilchie commented on #5047
At long last, I think this is actually fixed inhttps://github.com/dotnet/roslyn/pull/8170.

[2016-05-27 19:59] #5047 closed

[2016-05-27 20:01] TyOverby commented on #10839
Assigning to @AnthonyDGreen because he said that he wanted this bug for external developers.

[2016-05-27 20:16] Pilchie commented on #7505
Also, at this point we should just merge a real fix in future, where we are targeting 4.6.

[2016-05-27 20:17] balajikris commented on #11388
Roslyn-Master-Signed-Release\20160527.1\xUnitResults\Roslyn.Services.Editor.CSharp.UnitTests.dll.txt:

Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Diagnostics.AddUsing.AddUsingTests+NuGet.TestAddInsideLambda [FAIL]
[code]

[2016-05-27 20:17] Pilchie commented on #7533
We should soon be targeting a more modern netstandard here in future.

[2016-05-27 20:23] Pilchie commented on #8260
@jasonmalinowski Should this be resolved at this point?

[2016-05-27 20:24] jasonmalinowski commented on #8260
I've seen it happens since the last set of fixes. Probably appropriate to move to 2.0 though.

[2016-05-27 20:26] Pilchie commented on #9067
Didn't you merge a change for this?

[2016-05-27 20:34] jaredpar opened #11619 "Lambda parameter influence"
There are a number of issues reported against Roslyn where we are unable to provide Intellisense for, seemingly simple, lamda parameters.  In many cases the same scenario worked in pre-Roslyn days. The root issue here is the compiler is unable to infer a target method / delegate given the partial information provided when typing.

Fixing this requires some changes to overload resolution (danger) a

[2016-05-27 20:37] heejaechang commented on #9067
no, csproj doesn't have this ability. CPS probably should.

[2016-05-27 20:39] jasonmalinowski commented on #9067
The project system was previously not passing DLL paths that didn't exist that it did resolve, and yes, we've fixed that. But at this point the decision to not give us file paths for non-existent DLLs that otherwise had a resolvable path is an MSBuild decision in ResolveAssemblyReferences.

[2016-05-27 20:40] Pilchie commented on #9067
So, this should be closed?

[2016-05-27 20:45] Pilchie commented on #10563
Given the convergence on csproj, we're not fixing this particular bug.

[2016-05-27 20:46] Pilchie commented on #10749
Note - all of the visual studio binaries actually require 4.6 - the issue here is in the nuspec.

[2016-05-27 20:47] Pilchie commented on #10749
@jmarolf: Can you verify this is fixed in the 2.0 packages?

[2016-05-27 20:48] Pilchie commented on #10786
Given the convergence on csproj, we're not going to fix this.

[2016-05-27 20:48] #10786 closed

[2016-05-27 20:50] Pilchie commented on #10791
@rchande: The current state is that this fails immediate after retargeting, but works on project open, right?

[2016-05-27 20:55] Pilchie commented on #11453
@jmarolf can you confirm please?

[2016-05-27 20:56] #11453 closed

[2016-05-27 20:56] #11096 closed

[2016-05-27 20:58] Pilchie commented on #4224
I'm still working on bringing it back, though at this point it will likely be as part of the next version of VS.

[2016-05-27 21:01] RobJellinghaus opened #11620 "[Proposal] Non-Capturing Lambdas with ==>"
A well-known issue in C# programming is inadvertent lambda capture, in which a lambda, which was intended to be statically allocated, mistakenly closes over some local state -- which forces a full display class allocation and delegate allocation.  ReSharper evidently has a warning for this case, but it is as often intentional as not.

Some way for the programmer to express their intent -- that a p

[2016-05-27 21:03] jmarolf commented on #10749
Our nuget packages [here](https://www.myget.org/gallery/roslyn-future-nightly) still say they are compatible with .net 4.5.  Specifically they have:
* net45
* netstandard1.3
* portable-net45 win8

We should change these to:

* net46
* netstandard1.3
* portable-net46 win8

[2016-05-27 21:04] heejaechang commented on #9067
I think this SHOULD NOT be closed. this was one of issues customers explicitly complained while @morrisjoe talked to them.

basically, they want (however the implementation is) all unresolved references to be resolved (in VS) as soon as those missing dlls get resolved in all context and all cases.

right now, it works for nuget package I believe, also it works when dlls somehow can be resolved by

[2016-05-27 21:05] Pilchie commented on #10749
Tag @agocke and @tmat.  Should we actually remove the portable-net46+win8?  I thought it was only there because netstandard didn't exist yet?

[2016-05-27 21:05] carlcom commented on #6763
I am in messy reference hell. This feature is long overdue.

[2016-05-27 21:06] Pilchie commented on #9067
I think @jasonmalinowski's point is that if msbuild doesn't resolve them, then there is no way by which the project system *can*.  It doesn't own the logic of how entries in the file are mapped to paths, msbuild does.

[2016-05-27 21:10] tmat commented on #10749
It's my understanding that if we remove "portable-net46+win8" it would make the packages unusable by clients who still are on nuget 2.0.

[2016-05-27 21:12] brettfo commented on #4936
This was fixed in #9363 and has since been merged into `master`, `future`, and `stabilization`.  Not sure why it's still open, but closing it now.

[2016-05-27 21:12] #4936 closed

[2016-05-27 21:15] jasonmalinowski commented on #9067
When RAR runs, it's given two lists; one is our familiar list of Reference items (that can be paths, strong names, all sorts of fun), and one that is an explicit list of paths. When it spits out ReferencePaths, it drops missing files from the first group, but not the second group. I could imagine during design time builds (or whatever CPS calls those) we should still could collect those missing pa

[2016-05-27 21:26] jmarolf commented on #10749
@Pilchie @tmat we should still change it from `portable-net45 win8` to `portable-net46 win8` though, correct?

[2016-05-27 21:30] Pilchie commented on #10749
Adding the usual suspects... @yishagalatzer, @emgarten, @ericstj.

[2016-05-27 21:39] tmat commented on #10749
@jmarolf What packages are we specifically talking about? Workspaces?

[2016-05-27 21:55] tmat opened #11622 "CSharpNavigateTo integration test failed"
http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p2_prtest/31/

[code]

[2016-05-27 22:25] ericstj commented on #10749
I doubt you run on net46+win8.  Win8 is a subset of net45.  You can't create a PCL project that targets this combo.  Why don't you just package how you build?

[2016-05-27 22:43] jmarolf commented on #10749
@tmat looked at Microsoft.CodeAnalysis.CSharp first.  I can confirm that all the packages have this problem.

[2016-05-27 23:11] Pilchie commented on #7054
This was fixed by https://github.com/dotnet/roslyn/pull/10812

[2016-05-27 23:11] #7054 closed

[2016-05-27 23:29] jasonmalinowski opened #11623 "Crash while debugging Minidump"
**Version Used**: Roslyn-Master-Signed, 1.3.0.60526

**Steps to Reproduce**: I had opened Roslyn.sln, then opened a dump file, and started debugging the dump file. It crashed a few minutes into the debug session.

**Stack:**

[code]

**Expected Behavior**: It doesn't crash.

[2016-05-27 23:29] jasonmalinowski commented on #11623
An internal dump file is available under <team share>\jasonmal\Dumps\Roslyn\11623.

[2016-05-27 23:34] gafter opened #11624 "Warn when a "bad constant value" is used in a program"
In https://github.com/dotnet/roslyn/pull/11536 we changed the way we handle one particular "bad" constant value loaded from metadata. This relates to loading a method from metadata equivalent to this:

[code]

For a client of this code that uses the default value (e.g. `M()`), the Native compiler (prior to VS2015) produced code that would crash at runtime. The Roslyn compiler (in VS2015, including

[2016-05-27 23:35] gafter commented on #11624
/cc @jcouv @AlekseyTs @AnthonyDGreen

[2016-05-27 23:43] ManishJayaswal commented on #11623
The message seems very familiar. I bet I have seen it in one of the Watsons we already have.

[2016-05-27 23:47] PhilBarila commented on #4224
If you are able to deliver it in the next version of VS, I’ll take it!

From: Kevin Pilch-Bisson [mailto:notifications@github.com]
Sent: Friday, May 27, 2016 2:59 PM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: PhilBarila <Phil@Barila.Org>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet/roslyn] Support Code Definition Window (#4224)

I'm still working on bringing it back, though at

[2016-05-27 23:53] gafter commented on #11585
@ljw1004 You may be interested in this.

[2016-05-27 23:54] jasonmalinowski commented on #11338
Duplicate of #8232.

[2016-05-27 23:54] #11338 closed

[2016-05-27 23:54] #11587 closed

[2016-05-28 00:19] tmat commented on #10749
@jmarolf  Is this future branch or master?

[2016-05-28 00:40] jmarolf commented on #10749
@tmat 2.0 is future

[2016-05-28 00:41] HaloFour commented on #11620
While it would involve more syntax I kind of think that such a problem could easily be handled by analyzers.  An assembly or class could be annotated with attributes to specify whether capturing lambdas are allowed, and then additional attributes could be applied to specific methods to white/blacklist capturing:

[code]

It's more verbose and the granularity could only be at the method level, but

[2016-05-28 01:08] RobJellinghaus commented on #11620
I am not sure method granularity is adequate.  Though I agree this would be possible to prototype without parser changes, which is a significant benefit.

I also agree that in many cases, one does want to ensure that *all* lambdas in a given code region don't capture, so perhaps it would be a good experiment to try -- especially accompanied by reliable static lifting of non-capturing lambdas.

[2016-05-28 02:58] nobledog commented on #4224
Hi Kevin,

I can wait. Its return will be greatly appreciated. Thanks for your efforts and for listening to our whining.

Best regards,

Curtis Marx

From: PhilBarila [mailto:notifications@github.com]
Sent: Friday, May 27, 2016 7:48 PM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: nobledog <nobledog@comcast.net>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn] Support Code De

[2016-05-28 05:23] yishaigalatzer commented on #10749
We are working on releasing nuget 2.12 that will support netstandard downlevel, should be out in June timeframe

[2016-05-28 10:13] dasaprakashk opened #11630 "Sample of how to attach ruleset/speciic diagnostic options to a project in MSBuildWorkSpace"
Using Microsoft.CodeAnalysis v1.2.0.0 - When compiling the project with MS All Rules ruleset
using Project.GetCompilationAsync().Result, or adding the SpecificDiagnosticOptions with the same IEnumerable<string, ReportDiagnostic>, the code analysis results provides only one analysis. CS8019: Unnecessary using directive.

Providing sample code I tried below:
var workspace = MSBuildWorkspace.Create()

[2016-05-28 10:24] alrz commented on #11620
With #117 you can use an empty lambda capture list for a non-capturing lambda, e.g. `Where([](i) => 0 > i)`

[2016-05-28 10:29] alrz commented on #11606
#118

[2016-05-28 10:50] christopherpaul commented on #5445
Using some form of the existing invocation syntax `.` was alluded to a couple of times above. One option would be to define a syntax `A.(B)`, where `B` is anything you could assign to an appropriate delegate. So `B` could be a method group or a lambda, for example.

You can then write something such as this:
[code]
This integrates the familiar syntax for invocation with the familiar syntax for con

[2016-05-28 12:15] isakagren commented on #11590
While currying might be impossible to implement, forwarding (piping) should be possible to implement. It doesn't have to be implemented in a “functional” was. As long as you specify what parameter to pipe to, it should be able to handle multiple arguments and overloading without making a lot of changes to the languages inner workings and philosophy.

[2016-05-28 13:27] tumtumtum commented on #1653
With regards to naming, `memberof` could read as "the member of x" or "an instance of System.MemberInfo for x". The later makes sense and in fact matches `typeof` which reads as "an instance of System.Type for x".

Although System.Type extends MemberInfo so theoretically `memberof` should work on System.Type. Maybe `infoof` isn't such a bad idea ;-)

[2016-05-28 14:12] RevensofT commented on #11606
Just read #118 and I hope VB language get this feature too. However I disagree with return reference local because ```ldloca``` ```ldarga``` is reference to an address on stack frame of method and it will be destroy immediately as value type unless method still alive; it should return as object or value like ```ldloc.1 ldind.i4 .ret``` for safety.

[2016-05-28 14:28] AdamSpeight2008 opened #11631 "[VB] Allow Throw in Auto Properties."
**Existing**
In VB.net currently we have to write 5 lines to implement a property that throws.
[code]
**Proposed**
Is now reduced to single line.
[code]

[2016-05-28 16:30] notunknown commented on #4224
I'm glad to hear it is coming back, even if not until the next version of VS.

Out of curiosity -- are there other tool windows in VS that only work in some languages, but give no indication of not working in other languages and leave the user thinking something is wrong with their install?  Most users aren't going to find threads like this one when trying to figure out why a toolwindow isn't work

[2016-05-28 16:44] eyalsk commented on #5445
@christopherpaul this seems interesting! :)

[2016-05-28 18:59] HaloFour commented on #11631
Your proposed syntax would imply that the exception is thrown during initialization, not when attempting to read the property.  That's not legal syntax today, but per the current pattern matching spec, it would be.

[2016-05-28 19:36] svick commented on #11585
A simple `struct` wouldn't work, because the local function might modify a captured variable, which is then read by the parent method. Though this is probably not the common use case, so I think some optimizations regarding the closure allocation would be worthwhile.

[2016-05-28 19:37] svick commented on #11308
@alrz If I understand the generated code correctly, it *does* defer the state machine creation. But it also allocates a closure (a.k.a. display class) as soon as the method starts, so it does not avoid allocation as I was indeed assuming.

[2016-05-28 19:41] svick commented on #11308
@playsomethingsaxman I don't understand how would `sync` block allow `async` constructors. If you have an `async` method, but it only contains a `sync` block, then according to my proposal, it should be the same as a non-`async` method.

[2016-05-28 19:47] alrz commented on #11585
@svick Note that this only happens when your local function is async or iterator; otherwise a `struct` will be passed by ref. So this is probably due to the fact that async/iterator functions cannot accept refs as parameter. Anyhow, the use case you've mentioned is 1% of the times, really, I'd never capture locals in a local function and then mutate them, that'd be a messy code, indeed. Since loca

[2016-05-28 19:49] alrz commented on #11308
@svick You are right, it's a separate class, but there will be an allocation anyways.

[2016-05-28 20:14] alrz commented on #11631
@HaloFour It is mentioned that it'd be allowed as the body of an expression-bodied member, not in the initializer context. Since VB doesn't have an expression-bodied property I think that'd be not applicable.

[2016-05-28 20:45] AdamSpeight2008 commented on #10293
When the run the following code (should be semantically equivalent ).
**Currently**
[code]
output
[code]

**Proposed**

[code]
output
[code]

This is the current block to progressing with this. Seem that it doesn't emit the correct code.
Putting in the ` = 0` on the parameter returns the expected values.

[2016-05-28 21:58] adamralph opened #11634 "Cannot open projects in the Roslyn solution in VS2015 with Update 2"
**Version Used**:
A fresh installation of "Visual Studio Enterprise 2015 with Update 2".

**Steps to Reproduce**:

1. Open Roslyn.sln

**Expected Behavior**:

The solution and all its projects are loaded.

**Actual Behavior**:
Most of the projects are not loaded. If I right click -> "Reload Project" on one of them, e.g. Scripting, I get:

![image](https://cloud.githubusercontent.com/assets/677704/

[2016-05-28 22:06] Pilchie commented on #11634
I believe @rchande was already looking at this, but in our experience if you pick `Skip`, and then when the solution has finished loading, manually go find the project and choose to reload in the Solution Explorer context menu, then it *does* load successfully.

We haven't figured out the root cause yet though :-(

[2016-05-28 22:17] adamralph commented on #11634
@Pilchie I found the cause. It was because I didn't have the VS SDK installed. I added it via the VS setup   dialog and now all the projects load successfully.

So, the dialog regarding Update 1 is extremely misleading. I guess you may want to document this somewhere to prevent more people tripping over like I did.

I'll leave this issue open in case you want to use it track documentation of this.

[2016-05-28 22:18] adamralph commented on #11634
BTW - I already was loading the project manually. I guess the problem you are referring to is something else.

[2016-05-29 01:16] jmarolf commented on #9311
Closed with https://github.com/dotnet/roslyn-internal/pull/1009

[2016-05-29 01:16] #9311 closed

[2016-05-29 02:20] gafter commented on #10293
@AdamSpeight2008 We want both versions to print `R=5 X=5`. When you have it working, please add a unit test to demonstrate that is the way it works.

[2016-05-29 03:07] dpoeschl commented on #10977
Failure link no longer works. :crying_cat_face:

[2016-05-29 03:09] AdamSpeight2008 commented on #10293
@gafter
The unit tests already exist as they're based on the existing ones, just tweaked for the feature. [Here](roslyn-AdamSpeight2008/src/Compilers/VisualBasic/Test/Semantic/Semantics/OptionalArgumentTests_ImplicitDefaultValue.vb)

I've been trying to ask why / what could cause this particular case not work.

[2016-05-29 03:13] dpoeschl commented on #10977
Cross-language FindRefs failure. I thought all the known cross-language test failures were all accounted for, but I'm not sure what's happened in the last 29 days... Any insights @jasonmalinowski or @Pilchie?

[2016-05-29 03:32] HaloFour commented on #11631
@alrz Perhaps, but it would still be weird if the same syntax would silently produce either an initializer or a get accessor based on whether or not the expression is valid in an initializer.  And making an exception for `Throw` would be even weirder.  How common can that use case possibly be?

[2016-05-29 05:38] AdamSpeight2008 commented on #10293
Looks like the Foo arguments are being passed in correctly. Just not being assigned to the parameter.

[2016-05-29 05:52] AdamSpeight2008 commented on #11631
@HaloFour
 It is a lot of boilerplate code to read.

[2016-05-29 11:50] RevensofT opened #11637 "[Bug] VS 2015 can't remove first method of dll when use IL Support extesion."
Microsoft Visual Studio Community 2015
Version 14.0.25123.00 Update 2
Microsoft .NET Framework
Version 4.6.01038
Installed Version: Community
Visual Basic 2015   00322-20000-00000-AA234

**Extension in use:**
- IL Support extension 2.2

**Steps to Reproduce**:
1. Create a new project of class library with IL Support.
2. Compile and you will get an error about duplicate method.
3. Create any method

[2016-05-29 12:14] NickCraver commented on #6563
The confusion here I see is for new devs hitting null reference exceptions here. It's just not expected, they don't know that `.GetEnumerator()` is called underneath and it's a compiler implementation detail that they're hitting which isn't very obvious. I don't want to allocate a new collection of X every time *just to not throw*, and the extension method can only be applied to generic collection

[2016-05-29 14:19] GSPP commented on #11620
Very few code bases are so allocation sensitive that this warning would be of any use. This feature is too niche for the C# language.

Wasn't there a proposal to allow putting compiletime-only attributes anywhere? This could be implemented through static analysis looking for such attributes.

[2016-05-29 14:28] GSPP commented on #11578
This optimization is being done routinely by the HotSpot JVM. The .NET JIT are just very far behind. .NET developers are not *used* to vcalls being optimized away effectively.

From an optimization standpoint the techniques to devirtualize vcalls, interface calls and delegate calls are the same.

The JVM monitors what classes actually are loaded. That way it often knows that a vcall can have only

[2016-05-29 16:12] AlgorithmsAreCool commented on #11578
@GSPP

Good point, Hotspot is a wonderful JIT indeed.

Another thought is Chakra (IE JIT), is also tiered and performs [profile guided monomorphic call optimization](https://blogs.msdn.microsoft.com/ie/2014/10/09/announcing-key-advances-to-javascript-performance-in-windows-10-technical-preview/) at runtime. Chakra can even replace a optimization profile if the execution flow changes to break earli

[2016-05-29 16:19] GSPP commented on #11578
It boggles my mind how a platform that runs on hundreds of millions of servers has such an under-invested JIT. Isn't .NET the platform that is 2nd in the number of servers it drives (where Java is 1st)?!

The amount of money that is wasted on, say, 10% more servers needed due to the sub-par code quality with .NET is unfathomably high. It's the TCO of >10 millions of servers.

Just the amount that

[2016-05-29 16:43] AlgorithmsAreCool commented on #11578
Looking into it a bit, I wonder if the departure of Kevin Frei to Fackbook in july 2014 has slowed advancement of RyuJit. He was codgen dev lead for .NET and RyuJit might have been his design.

[2016-05-29 17:07] GSPP commented on #11578
RyuJIT is based on some pre-existing JIT codebase according to Andrew Ayers in his LLVM talk. He says "it's a baroque codebase that nobody feels quite confident in". This wording is slightly misremembered by me.

It's certainly not entirely new code. The tree-based IR design feels wrong. It's not what state of the art compilers (LLVM, HotSpot) use. I don't think anyone would use such a design if w

[2016-05-29 17:13] AlgorithmsAreCool commented on #11578
Fascinating! I'll have to find that talk.

[2016-05-29 17:19] GSPP commented on #11578
Yeah... I *so* don't understand the strategy. Not sure why a new JIT was created that's hardly better than the old. Maybe it's a stop-gap thing to be able to release CoreClr? Maybe the old JIT was not suitable for that (licensing and patent fears?).

The team has stated that they *want* a tiered JIT. So the stop-gap theory makes sense.

The video is here: http://llvm.org/devmtg/2015-04/ 2:10

"bar

[2016-05-29 18:21] aevitas opened #11638 "Use of type initializer for optional parameters wrongfully compiles"
While going over some code, I've come across an interesting piece of code that is underlined in red in Visual Studio, but does actually compile. The code is close to the following:

        public static void Test(Vector3 vector = new Vector3() { X = 1f, Y = 1f, Z = 1f})
        { }

        public struct Vector3
        {
            public float X;

            public float Y;

            publi

[2016-05-29 18:55] lorcanmooney commented on #11638
Looks like there's a missing check at [src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs#L196](https://github.com/dotnet/roslyn/blob/4bc748b1b79b6dc1ed7e1d33bed1eb157a9ce6fe/src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs#L196). `InitializerExpressionOpt` should be `null`.

[2016-05-29 19:11] gafter commented on #11637
Can you please attach your project to this bug report?

[2016-05-29 19:16] gafter commented on #11609
The compiler is producing exactly the code you asked it to. The CLR is in the best position to produce the most efficient sequence of instructions for any given source.

[2016-05-29 19:18] #11609 closed

[2016-05-29 19:20] gafter commented on #11607
I think the error should be on the line `class D : B<D.D1, D.D2>`

[2016-05-29 19:23] dpoeschl commented on #10099
I guess we need to detect that we're in a High Contrast theme and then use the appropriate system color instead of trying to use the classified colors (which is where the green text is coming from).

[2016-05-29 20:05] aluanhaddad commented on #11631
@AdamSpeight2008 Perhaps the proposal should be to add expression bodied properties to VB. I agree with @HaloFour that an this would be an extremely weird edge case, but if this were part of a more general feature, with a token other than `=`, it would make sense. It would be very odd to have lazy auto properties that could not do anything besides `throw` exceptions.

[2016-05-29 20:15] miloush commented on #11607
@gafter the error indeed is on that line, but it is also on the other line

[2016-05-29 20:16] aluanhaddad commented on #13
@gafter Are local type declarations still on the table? To me this is all about scoping.

[2016-05-29 20:19] aluanhaddad commented on #13
In addition to scoping, I think capturing generic parameters could make this quite useful.

[2016-05-29 20:21] alrz commented on #13
@aluanhaddad #9523

[2016-05-29 20:34] aluanhaddad commented on #13
@alrz Thanks!

[2016-05-29 20:49] AlgorithmsAreCool commented on #11620
I think i agree that this is too niche. If your hot path is so allocation sensitive then i think it is reasonable to fallback to more basic language constructs that involve less compiler magic.

[2016-05-29 20:55] orthoxerox commented on #11578
If only Mike Pall wasn't so tired of writing JIT compilers...

[2016-05-29 21:30] aluanhaddad commented on #9523
I think that scoping(visibility) would be quite useful, but I also agree with @HaloFour that scoping(lexical) is essential. This is very useful in languages like JavaScript and should not be underestimated. Also I think the argument that lexical scoping is the norm in C# combined with the fact that lexical scoping is the best form of scoping there is, is very strong.

I think conflicting reference

[2016-05-29 21:47] aluanhaddad commented on #11620
I don't see the benefit offered by this. The value will be captured if it is used. If it is used, it is needed. In other words you very likely need to write a different function with different semantics. I also dislike the idea of introducing a new syntax for anonymous methods, and less powerful anonymous methods at that.

[2016-05-29 23:51] gafter commented on #6563
It sounds like `Enumerator.Empty<object>()` is exactly what you need. It returns something that implements the non-generic older interface `IEnumerator` too, and it doesn't allocate something on each call.

[2016-05-30 01:02] paulomorgado commented on #6563
@gafter, I think @NickCraver is saying that the `foreach` statement should, instead of `myCollection.GetEnumerator()` it should be something functionally equivalent to `myCollection == null ? Enumerator.Empty<TItem>() : myCollection.GetEnumerator()`.

But that would be a breaking change.

[2016-05-30 01:24] RevensofT commented on #11637
Hi gafter,
This is project link for example of this bug.(I can't upload zip file on github so I upload to google drive instead).
https://drive.google.com/open?id=0B_LVzxeqJvq1cy1RMVBiYkxfYkU

[2016-05-30 02:29] AdamSpeight2008 commented on #11631
@aluanhaddad @HaloFour

I am not proposing *(currently)* for adding expression bodied properties to VB.
The proposal is to only allow the special case of `Throw New Exception()` on an **overridable property** Where the initial value of the backing field is the default value of the type.
Initially this would only be targeting `ReadOnly` auto properties, as I've not seen any other use where 'WriteOn

[2016-05-30 04:21] AdamSpeight2008 commented on #11638
Confirm that this issue is also present in VB.
![vb_issue](https://cloud.githubusercontent.com/assets/900107/15639636/41df334a-2626-11e6-8d66-713d6060a10e.jpg)

[2016-05-30 05:28] AdamSpeight2008 commented on #10293
Currently the Implementation is tentatively producing the expected output.

[2016-05-30 07:18] hypeartist commented on #11578
@GSPP

This is exactly what I was thinking of! (just was lack of needed words :) )

[2016-05-30 10:35] dtereanszky commented on #11576
Hi @svick,

installing "Microsoft Build Tools 2015 with Update 2" solved our problem.

Thank you.

/David

[2016-05-30 10:35] #11576 closed

[2016-05-30 11:10] NickCraver commented on #6563
@paulomorgado Oh no - I'm saying `foreach?` (or other syntax) should behave that way. I am in no way arguing for a breaking change - that simply won't happen. Do I think `foreach` *should* have behaved this way? Yeah, probably...but that ship has sailed, we can't change it now.

[2016-05-30 11:23] HaloFour commented on #6563
[code]

[2016-05-30 11:25] MillKaDe commented on #11491
That is already available as a 3rd party extension for Visual Studio.
Unfortunately I can't figure out, which one - but it must be one of these two:
- "Refactoring Essentials for Visual Studio" (by IC#Code)
- "C# Essentials" (by Dustin Campbell)

[2016-05-30 11:40] svick opened #11641 "Wiki should not claim dotnet CLI supports csi"
The wiki page [*Scripting API Samples*](https://github.com/dotnet/roslyn/wiki/Scripting-API-Samples#getting-started) says:

But, as of dotnet CLI RC2, this is not true. I think this sentence should be removed for now.

See also https://github.com/dotnet/cli/issues/1289#issuecomment-210123326.

[2016-05-30 11:57] paulomorgado commented on #6563
@NickCraver, that was my understanding, but didn't want to open the can of worms of `?` on statements. What's next? `while?`? `lock?`?

@HaloFour, I still operate under the premisse that extension methods should look and behave like instance methods.

[2016-05-30 11:59] MillKaDe commented on #11577
I would prefer a unary prefix opererator for null checks (already suggested in [#9606](https://github.com/dotnet/roslyn/issues/9606)).

[2016-05-30 12:12] NickCraver commented on #6563
@paulomorgado none of those constructs suffer from this issue, nor does `using`, `switch`, etc. - I don't buy the slippery slope argument here. I can't think of even one other block this applies. This is directly and specifically a result of the compiler implementation of `foreach` calling `.GetEnumerator()` underneath and *unexpectedly* throwing a null reference. The argument is simply for more t

[2016-05-30 16:43] Caraul opened #11642 "Crash formatting parenthesized lambda expression"
**Version Used**:
1.2.2

**Steps to Reproduce**:
[code]
**Expected Behavior**:
Formatter.Format succeeds returning formatted node

**Actual Behavior**:
Microsoft.CodeAnalysis.CSharp.Formatting.BaseFormattingRule.SomeParentHasMissingCloseBrace fails with NullReferenceException

[2016-05-30 16:56] Mylan719 opened #11643 "How to implement propper reaction to C# symbol rename."
Hi, I am developing Visual Studio 2015 update 2 extension.
I would like to ask how should I handle event when C# symbol is renamed, so that I can change my custom markup files accordingly.
My use case is such, that I have custom markup file format, that combines C# syntax and html markup.
Usage is following:
**Markup containing C# symbols:**

[code]

**Standard C# file.**

[code]

When user rename

[2016-05-30 18:23] tmat commented on #11641
Fixed the doc.

[2016-05-30 18:23] #11641 closed

[2016-05-30 19:51] tumtumtum commented on #5032
Putting in my vote for implicitly unwrapped optionals and an unwrap operator (the equivalent of ! in Swift).

Would be good if ! could be used with Nullable value types too. x! is more succinct than x.Value because Value is a valid name on any type whereas ! would only work on nullable/optionals.

[2016-05-30 19:53] shahid-pk commented on #11516
why do we need to name the extension class ? is their any language grammar barrier that i am not seeing sorry for my ignorance.

for example we can take a much cleaner approach
[code]

i know it is exactly like how swift does it but still it looks more clean and not alien to C#

[2016-05-30 20:13] aluanhaddad commented on #6563
You `can` define extension methods for non generic types.

I think the problem is that the error message is expressed in terms of the compiler implementation, not that there is an error. Imagine if the error message read "Unable to enumerate null", wouldn't that clear things up?

If methods ignore the nullness of the enumerables they receive, merging the concept of null with empty, they are likely

[2016-05-30 21:01] NickCraver commented on #6563
Yes, if we want to define hundreds of extension methods. I was specifically talking about the generic extension methods proposed earlier, the only *reasonable* thing that may be added in almost all cases.

I agree the error message isn't obvious, and clearing it up would help, but it still doesn't address the usability and verbosity issue of wrapping everything in `if (enumerable != null) { }` tod

[2016-05-30 21:33] gafter commented on #4683
Closing because "we don't need to address this"

[2016-05-30 21:33] #4683 closed

[2016-05-30 22:19] srivatsn commented on #9311
@mavasani we should add this to all our analyzer packages.

[2016-05-30 22:23] HaloFour commented on #11516
@shahid-pk

The name of the extension class becomes a part of the public contract.  If the name of the class were to change existing consumers would need to be recompiled or they would break.  Rather than having to come up with rules for how the compiler would derive a name it's probably safer to just have the developer explicitly provide one.

[2016-05-30 22:27] HaloFour commented on #6563
@paulomorgado

That's your decision, but my code is perfectly legal.  It's pretty convenient to be able to invoke extension methods off `null` specifically to handle easy/fluent checks like that.  Note that throwing `NullReferenceException` when trying to invoke an instance method on `null` is specifically a C# limitation as a part of the language, the CLR is perfectly happy to allow it via the `c

[2016-05-30 22:30] yaakov-h commented on #6563
Please explain which IL opcodes the C# compiler emits that causes this.

My understanding is that NullReferenceException is the CLR's reinterpretation of a low-address access violation, and is not part of C#.

[2016-05-30 22:35] HaloFour commented on #6563
@yaakov-h

C# always uses `callvirt` when invoking instance methods, even if the method isn't `virtual`.  That opcode has the side effect of always throwing `NullReferenceException` if the instance is `null`, which satisfies C#'s language specification requirement:

https://blogs.msdn.microsoft.com/ericgu/2008/07/02/why-does-c-always-use-callvirt/

If C# were to instead use the `call` opcode for i

[2016-05-30 22:41] shahid-pk commented on #11516
@HaloFour
by "if name of the class were to change" i assume you mean name of the existing class for which you wrote the extension ?
But still in the current proposed syntax the name of the existing class is in the public contract

`extension class Enrollee extends Person`

so why would this existing contract not break if someone was to change name of the Person class ?
sorry i am also trying to un

[2016-05-30 22:46] giggio commented on #9311
@jmarolf I can't see the `roslyn-internal` repo, I guess it is private (what is this repo?).
How was this handled?

[2016-05-30 22:49] shahid-pk commented on #11516
and if you meant the extension class by "if name of the class were to change"
then this would be breaking contract in the syntax i proposed too

`extension Person`

if you change the name Person , it will become extension of something else.

[2016-05-30 23:20] HaloFour commented on #11516
@shahid-pk

I meant the name of the extension class.  That extension class becomes a normal CLR class that exposes the extension members as `static` methods that accept the extended class as the first parameter.

[code]

When you invoke the extension methods the compiler rewrites the call into a static method call on the extension class:

[code]

As the extension class is a part of the static meth

[2016-05-30 23:50] aluanhaddad commented on #6563
@NickCraver First of all I did not mean to come off as dismissing the value of returning `null` from a method which returns a collection, if it means improved performance in a critical path, then that is a perfectly valid reason  to use it. My point is that I do not want to see the convenience of this `foreach?` style construct encourage conflation of null with empty.

With regard to performance,

[2016-05-30 23:55] shahid-pk commented on #11516
@HaloFour
thanks for clearing it up i understand it now. And about if i have a novel idea i think their is choice between verbosity "making the developer do more work and be explicit" and simplicity "making the compiler do more work", i like the latter but i know and understand their are constraints for making things simple.

I think the names for the extension can be generated like how names for

[2016-05-31 00:49] aluanhaddad commented on #11516
@shahid-pk
If the name is synthesized based on the name of extended type, how would multiple extension classes that target that type work? Currently it's very useful to define extension methods on types from different namespaces and across different assemblies. Even if the extension classes were somehow implicitly partial and were required to be in the same namespace, how would this work across as

[2016-05-31 00:59] HaloFour commented on #11516
I guess in theory you could dump all of the extension members into a single class defined within the namespace since they could be overloaded by their "this" parameter:

[code]

That way you don't have to worry about generating a name and you'd retain the ability to include extensions via `using`.

[2016-05-31 01:02] NickCraver commented on #6563
@aluanhaddad How do you see this as any different than `?.Max()` or `?.Where()`, etc.? All of these debates applied to the safe navigation (`?.`) operator, and the community saw benefit over any perceived downsides. Have we seen devs go crazy with that and use it everywhere? I certainly haven't, on the contrary: from what I've seen it's very rarely used and almost always where appropriate. In fact

[2016-05-31 01:03] aluanhaddad commented on #5032
Actually this proposal if anything cements null as the de-facto way to indicate an optional value comma thereby encouraging its use. That said, I'm not sure that's a bad thing.

[2016-05-31 01:18] shahid-pk commented on #11516
@aluanhaddad
`How would multiple extension classes that target a type work ?`

You can have one extension type per namespace , you can have another extension for the same type in a different namespace. i assume one would rarely need two different extension types for single type in a same namespace. if one do need to one always have the old syntax :smile:

`Currently it's very useful to define exte

[2016-05-31 03:22] TheOpenDevProject opened #11648 "Ambiguous method call with optional parameters and overload"
**Version Used**:
Microsoft Visual Studio Enterprise 2015
Version 14.0.25029.00 Update 2 RC
Microsoft .NET Framework
Version 4.6.01055
**Steps to Reproduce**:

1. Create a class like so
[code]
2. Make call to method RetrieveAll() << Notice how the call is ambiguous because we did not pass any parameters in.
3. No compile errors are thrown.

**Expected Behavior**:
Compiler should warn or halt compi

[2016-05-31 03:43] SLaks opened #11649 "Compiler crash on base call in an iterator"
Source:

[code]

This crashes the compiler in the Dev15 preview and the futures branch, but works fine on Dev14 / master.

http://tryroslyn.azurewebsites.net/#b:future/f:r/K4Zwlgdg5gBAygTxAFwKYFsB0BhA9gG31QGNkxcIRMBxVCVAJzGIG4AoN4/AQxBBgBCvVDADebGJJgAHBrjSlUAExgA3MA2TBu+GAEkAohGDpG3AEZEAPJGQA+GAFkAFAEoxEqV4RhU+FeYMqNwA1uxeAL4cXly8/AAiMABcgsIeXl6y8iRoKriqjExKIobGpgwW1rYOLu7iGQ0w5sKYteGN3r7+TUGh7Q1R

[2016-05-31 03:44] SLaks commented on #11649
Interestingly, it only crashes if both the base & derived methods are implemented as iterators (!)

[2016-05-31 03:45] TheOpenDevProject commented on #11649
@SLaks Mind showing an example that does not cause a crash?

[2016-05-31 03:47] SLaks commented on #11649
Just change either `yield break` to a normal `return` statement.
eg, http://tryroslyn.azurewebsites.net/#b:future/f:r/K4Zwlgdg5gBAygTxAFwKYFsB0BhA9gG31QGNkxcIRMBxVCVAJzGIG4AoN4/AQxBBgBCvVDADebGJJgAHBrjSlUAExgA3MA2TBu+GAEkAohGDpG3AEZEAPJGQA+GAFkAFAEoxEqV4RhU+FeYMqNwA1uxeAL5sUVy8/AAiMABcgsIeXrLyJGgquKqMTEoihsamDBbWtg4u7uJeXkFaDBAw5sKYNeFSUVFAA===

[2016-05-31 03:49] SLaks commented on #11649
The crash appears (in the debugger) to happen when generating a debug name & syntax offset for the StateMachineCachedState synthesized local for the derived method.

[2016-05-31 04:31] tmat commented on #11649
I remember filing an issue on this a while ago.

[2016-05-31 04:59] CyrusNajmabadi commented on #11403
Other issues include:

1. Many symbols can't be resolved (for example, accessors or tuple types).
2. Symbols are serialized without proper escaping.  For example, if a file path contains ' or | then this will conflict with decoding*

```'``` is used to demarcate strings.  but quotes are not escaped when strings are written out.  As such a filepath with a quote in it will break the symbolid parser.

[2016-05-31 05:14] jaredpar commented on #11053
@Pilchie, @DustinCampbell is this just another instance of #11619?

[2016-05-31 05:19] jaredpar commented on #11649
Thanks for reporting.  Will take a look at this.

[2016-05-31 05:23] jaredpar commented on #11648
Thanks for taking the time to report this issue. This behavior is "By Design".  There is a tie breaking rule to sort out this very problem.  For the spec under **Better Function** in **Named and Optional Parameters"

In this case the method with no arguments wins because all of the arguments, in this case none, were supplied explicitly.

[2016-05-31 05:23] #11648 closed

[2016-05-31 05:24] jaredpar commented on #11634
The underlying issue here turned out to be the lack of the VS SDK being installed.  @Pilchie do we have a bug on the VS team to have a clearer error message here?

[2016-05-31 05:31] jaredpar commented on #11598
Roslyn owns this task and the general experience here.

I think forcing the use of `corerun` here is wrong though.  It's baking in a runtime where one may not be desired.  For instance what if I want to use my own CoreCLR, Mono, etc ...  Instead it would seem to make sense that we always invoke `csc.exe`, or perhaps `csc` on xplat.  It would be the responsibility of the task host to ensure the fil

[2016-05-31 05:39] aluanhaddad commented on #11516
@HaloFour That makes sense, but we would lose the granular extension method importing we gained from the recent addition of `using static`.

@shahid-pk I see I misunderstood what you were proposing. I thought you were saying that the extension class would need to be logically defined alongside the extended class, which didn't make a lot of sense.

For what it's worth, I say just require a name for

[2016-05-31 06:02] Thaina commented on #11516
That not seem right. Given difference namespace in the same module may contain class with same name. To have automatically guess class may be ambiguous

[2016-05-31 06:07] aluanhaddad commented on #6563
@NickCraver I certainly did not mean to come off as accusatory. I apologize.

I do think in general that it's a poor practice to return null for values of type `IEnumerable`, but there are certainly exceptions, and I do not mean to judge. What I would like to avoid however, is the introduction of a new `foreach` construct.

[2016-05-31 06:25] aluanhaddad commented on #11516
@Thaina That's a good point. Synthetic names would likely need to be mangled in some way to help avoid this, and this would complicate tooling and documentation scenarios. I think they should be required to have programmer specified names.

[2016-05-31 07:47] shahid-pk commented on #11516
@Thaina
This name generation was just an example you can always generate the name like how names are generated for anonymous type, or any other way because developer will never have to deal with the names directly.
You could have C>>CCC + class name for example which will reduce the chances of name collision with user defined classes.

[2016-05-31 08:16] miloush commented on #11516
If the name was autogenerated, how would you disambiguate between static methods in your extension and instance methods of the original class?

[2016-05-31 09:36] AdamSpeight2008 commented on #10293
Somehow it has messed up overload resolution. I try and fix that.

[2016-05-31 11:26] shahid-pk commented on #11516
@miloush
the auto generated static class will have a different name which will include name of the original class+ something random/the word extensions/or anything

[2016-05-31 11:27] NickCraver commented on #6563
For `IEnumerable`? Yes sure, it's easy to make the argument for not being null and there are zero allocations ways to achieve this. However, very often our return types are `List<T>`, `Dictionary<TKey,TValye>`, etc. - not the base `IEnumerable<T>`. Do you consider `null` invalid in those cases? We'd certainly rather not new up a collection just to throw it away, especially inside the same assembly

[2016-05-31 11:32] aluanhaddad commented on #11516
@miloush He means the name of the extension class, not its members. But I still think this poses a problem for tooling and documentation. What exactly is gained by auto generating the names anyway? It seems like at adds an extraneous source of complexity to this very worthwhile, but undoubtedly complex proposal.

@shahid-pk Firstly, anonymous types area not shared across assemblies. Secondly, ther

[2016-05-31 11:36] markrendle commented on #6563
`foreach (var i in myEnumerable?)` would seem to fit very nicely with the semantics of the existing null-safe operator, since it is applied to the variable rather than a keyword.

[2016-05-31 11:38] shahid-pk commented on #11516
@aluanhaddad
i agree with your points that it does poses problems for the 4 points you pointed out.

the effort i was putting was to simplify the declaration but i see it now that it will pose many problems and it will not worth making efforts for saving a few key strokes.
Thanks

[2016-05-31 11:47] miloush commented on #11516
I am aware that you mean generating the name of the extending class. You would need the name if you had e.g. a static helper method in the extending class (i.e. a method that wouldn't be extending anything). You cannot fully qualify it if you don't know the name of the class.

[2016-05-31 11:56] aluanhaddad commented on #6563
I generally return these types through interfaces like `IReadOnlyList<T>`. If you are doing that, you can return a static field like the one returned by `Enumerable.Empty<T>` for the extension method on that type. If the collections are exposed via mutable interfaces, then you will need to check for null regardless if you want to make use of that interface.  However, if you are only reading from t

[2016-05-31 12:38] NickCraver commented on #6563
@aluanhaddad The "why?" for most of those is you're making a lot of assumptions about a codebase based on personal experience, which we all do. We only know what we've seen. However, you must realize many people don't use those interfaces, don't want to cast as those interfaces, and all of that complicates code in other ways.

No...I wouldn't. That's the entire point. I want to say "if null, skip

[2016-05-31 13:30] marek-safar opened #11652 "Better conversion target ignores integral types ambiguity"
**Version Used**: 2.0.0.60419

**Steps to Reproduce**:

1. Compile
[code]

**Expected Behavior**:

Ambiguity error.

**Actual Behavior**:

No error. Overload `Foo (Func<string, sbyte> input)` is selected contrary to new C#6 rules described in https://github.com/dotnet/roslyn/blob/master/docs/specs/CSharp%206/Better%20Betterness.md

[2016-05-31 14:53] alfredmyers commented on #10471
I'm able to reproduce the error using Visual Studio 2015 Update 2 targeting .NETStandard1.5.

[2016-05-31 15:04] dekenless opened #11653 "CodeLens throws NullReferenceException"
VS2015 Update 2

1. Open solution
2. navigate to method in code where there are references
3. Pop-up is displayed with "An exception has been encountered. This may be caused by an extension."

From the activitylog.xml:

System.NullReferenceException: Object reference not set to an instance of an object.
at Microsoft.AppInsights.GettingStarted.CodeLens.ExceptionsDataPointProvider.CanCreateDataPoint

[2016-05-31 15:33] rchande commented on #10791
@Pilchie: That's correct.

[2016-05-31 16:46] joperezr commented on #11598
what about keeping it as is with corerun.exe for now, but making the parameter `ToolName` Overridable such that if we need to use a different host we can pass it in to the task?

[2016-05-31 17:03] jmarolf commented on #11643
@dpoeschl

[2016-05-31 17:15] gafter commented on #11652
The new better betterness rules modify the rules for *better conversion target*, but the way that term is used in overload resolution, the compiler's behavior is correct:

For the purposes of determining the better function member, a stripped-down argument list A is constructed containing just the argument expressions themselves in the order they appear in the original argument list.
Parameter lis

[2016-05-31 17:16] cston opened #11654 "Enable FxCop performance rules for Compiler assemblies"

[2016-05-31 17:19] gafter commented on #11652
I may be wrong... "exactly matching expression" is not defined for a method group.

[2016-05-31 17:26] gafter commented on #11652
According to the new rules, `Func<string, sbyte>` (T1) is a better conversion target than `Func<int>` (T2) because T1 is a delegate type D1, T2 is a delegate type D2, D1 has a return type S1 (`sbyte`) and  D2 has a return type S2 (`int`), and `sbyte` is a better conversion target than `int` because there is an implicit conversion from `sbyte` to `int`.

[2016-05-31 17:26] #11652 closed

[2016-05-31 17:27] onovotny opened #11655 "False errors with Roslyn"
I’m getting false errors from Roslyn with the attached solution. Open Rx-New.sln and build. It will compile correctly. Then go to the test project and open Tests.System.Reactive\Tests\Linq\ObservableAggregateTest.cs

![img](https://cloud.githubusercontent.com/assets/1427284/15684073/5a95bb80-2733-11e6-9445-76dfab51e3df.jpg)
[Source.zip](https://github.com/dotnet/roslyn/files/291758/Source.zip)

Se

[2016-05-31 17:31] davkean commented on #11655
@gafter This is likely a design-time build issue, moved it to IDE.

[2016-05-31 17:41] gregg-miskelly opened #11656 "Visual Studio should support EnC from run mode"
Currently, Edit and Continue is only supported while the target process is stopped for C#/VB. If a user tries to edit they get this:

![changes-are-not-allowed-while-code-is-running](https://cloud.githubusercontent.com/assets/11078489/15684496/37ba2e00-271c-11e6-80ae-db7fcbd0337f.jpg)

There doesn't seem to be any good reason to have this restriction any longer, so at some point we should consider

[2016-05-31 17:51] weshaggard commented on #11598
I agree we shouldn't force corerun, we need a way to make it parameterized so people can setup their own host.

[2016-05-31 17:54] Pilchie commented on #11295
@olegtk - these are both core editor settings.  Are you aware of any issues here?

[2016-05-31 17:55] Pilchie commented on #11354
Done now, right?

[2016-05-31 17:55] #11354 closed

[2016-05-31 17:57] #11372 closed

[2016-05-31 18:04] brettfo commented on #11430
This failure is from before the changes to complex XML in #11227 and all VSI tests are currently passing in future so I'm going to optimistically close this since there have been a lot of changes.

That and the fact that Jenkins has already cleaned up this run.

[2016-05-31 18:21] Pilchie commented on #11642
@balajikris can you take a look?

[2016-05-31 18:21] Pilchie commented on #11655
@jasonmalinowski Can you take a look and see what's up here?

[2016-05-31 18:50] olegtk commented on #11295
It's a known issue, but it's on a backlog currently. I don't believe it's limited to VS 15, VS 2015 behaves the same.
"All Languages" is a virtual node that represents aggregated results for all language services. It only takes one language service to not follow a convention to get a checkbox "partially checked".
What's the actual impact of this though? Can't you just uncheck it for C# ?

[2016-05-31 19:20] VSadov commented on #8804
Fixed in https://github.com/dotnet/roslyn/pull/11629

[2016-05-31 19:20] #8804 closed

[2016-05-31 20:09] Pilchie commented on #11559
Actually, I'll take a look at this, since I have an debug environment already set up.

[2016-05-31 20:10] miloush commented on #11295
Correct I don't mind checkbox in "undetermined state" even if it was a new behavior, the issue is that these settings are periodically reset (at least for C#) and it's currently the most annoying thing in VS15. I can reproduce it in almost all sessions on different computers.

[2016-05-31 20:37] JohnHamby opened #11665 "Reenable CA1825 for Roslyn after Roslyn picks up new analyzers"
The analyzer for CA1825 depends on a property of IArgument that is being removed. The checkin that removes the property will need to disable the analyzer for the Roslyn solution.

After Roslyn picks up a new version of the analyzer, CA1825 can be reenabled.

[2016-05-31 21:01] TyOverby opened #11666 "Add VB language version 15 flag"

[2016-05-31 21:25] olegtk commented on #11295
I guess it has something to do with roaming settings (if you sign into VS). Please file a bug via http://connect.microsoft.com/VisualStudio

[2016-05-31 21:47] Pilchie opened #11667 "Completion: Locals and parameters filter doesn't show locals"
**Steps to Reproduce**:
[code]

**Expected Behavior**:
`args` and `local` both show

**Actual Behavior**:
Only `args` shows

**Note**
In [CompletionItemFilter.LocalAndParameterFilter](http://source.roslyn.io/Microsoft.CodeAnalysis.Features/R/88e7332ec5ab0421.html) we only add the tag for parameter.  Also in [CompletionItemFilter.Matches](http://source.roslyn.io/Microsoft.CodeAnalysis.Features/R/43

[2016-05-31 21:48] Pilchie commented on #11667
Tag @CyrusNajmabadi @mattwar

[2016-05-31 22:16] jasonwilliams200OK commented on #6563
`in?` coalesces the pretty syntax + user intent, and it's more C#-y than the other proposed options.

[2016-05-31 22:37] mattwar commented on #11667
@Pilchie on All vs Any, probably. There is only one case that would currently have more than one tag in the filter set, the one you pointed out that was wrong. So we can choose for the behavior to be either way.

[2016-05-31 23:15] joperezr opened #11674 "Microsoft.CodeAnalysis.BuildTask.Portable package should have the target files under contentFiles, not content"
In [the nuspec file for this package](https://github.com/dotnet/roslyn/blob/master/src/NuGet/Microsoft.CodeAnalysis.BuildTask.Portable.nuspec#L38-L39) the target files are being dropped into the "content" folder in the nuget package, which doesn't follow the new nuget package conventions, and causes tools like the dotnet cli to not copy those files to the output when an app is published. Instead,

[2016-05-31 23:17] tmat commented on #11674
I am about to delete the package. The nuspec has more incorrect values than correct.

[2016-05-31 23:19] tmat commented on #11674
Do you need the package?

[2016-05-31 23:23] joperezr commented on #11674
Yes we do, as of now [we were still using in corefx](https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tool-runtime/project.json#L13) an old private built version of this package that was uploaded into buildtools some time ago. Back then I believe that Microsoft.CodeAnalysis.BuildTask.Portable package didn't even existed. There are a bunch of fixes that

[2016-05-31 23:55] lorcanmooney commented on #11638
@AdamSpeight2008 I've opened a PR to fix the C# issue, but I'm not too familiar with VB any more. I can't spot the issue in the screenshot. Should that code compile in VS2015?

[2016-05-31 23:59] CyrusNajmabadi opened #11679 "Generate type does not offer to generate a nested class into a struct."
Looks like we only support generating nested types into classes.

[2016-06-01 00:02] agocke commented on #11674
I have other issues in the task assigned to me (like the one you filed here https://github.com/dotnet/roslyn/issues/11598 :)) so I'll take this one while i'm in the code

[2016-06-01 00:03] tmat commented on #11674
I was thinking I'd just dix the nuspec up for U3

[2016-06-01 00:05] agocke commented on #11674
@tmat If the other changes are also needed, and produce code changes to the Desktop task, it'll need to be done for 2.0 anyway.

[2016-06-01 00:05] tmat commented on #11674
OK, deleting for now.

[2016-06-01 00:57] shaggygi opened #11684 "Add "Initialize Interactive with Project" for Portable and DotNet Core Library Projects"
Noticed this feature was available in VS2015, but didn't see as most of my class projects are portable.  This would be nice to add to portable and .NET Core v1 projects.

[2016-06-01 01:11] CyrusNajmabadi commented on #11090
We don't seem to be seeing any flakeyness here anymore.

[2016-06-01 01:11] #11090 closed

[2016-06-01 03:41] Thaina commented on #11553
Like `:` symbol. I like to use symbol as operator than keyword

[2016-06-01 04:15] eyalsk commented on #11620
I really like how lambdas work in C++ and really want it to work like this.

In C++ I have full control over what gets captured and what doesn't and how I want it either by value or by reference, I'm biased but I'm sure that new comers to the C++ syntax (or capture list) will have no problem to pick it up simply because it's explicit and very clear, not to mention more powerful.

Adding extra char

[2016-06-01 04:48] AlgorithmsAreCool commented on #11620
@eyalsk [See #117](https://github.com/dotnet/roslyn/issues/117)

[2016-06-01 05:10] eyalsk commented on #11620
@AlgorithmsAreCool yeah, I know about this, thanks! :)

Just thought to share my opinion about this suggestion.

[2016-06-01 05:20] benaadams commented on #10449
Example code case from https://github.com/aspnet/KestrelHttpServer/pull/863

[code]

[2016-06-01 07:22] Jand42 commented on #9136
I have been mistakenly using `ignoreAccessibility = true` option for `GetSemanticModel`, changing it to default `false` solved this issue.
Still it was confusing to get nulls for method symbols (on static methods for which the type name was not fully qualified, having extension methods is not necessary) without any candidates or reasons on the `SymbolInfo`.

[2016-06-01 07:22] #9136 closed

[2016-06-01 07:34] wangzq opened #11687 "Incorrect xml documentation id for generic class constructor"
**Version Used**: 1.1.1

**Steps to Reproduce**:

1. Create a generic class with one or more type parameters:

[code]
2. When we instantiate the class using code such as `var x = new Class1<int>()`, and get the symbol when cursor is at the `Class1`, then get the xml documentation id by calling `symbol.GetDocumentationCommentId()`, it will contain the actual data type `System.Int32`, which is incor

[2016-06-01 14:28] jnm2 commented on #9523
`base` must refer to the nested type's base type. We'd need a new keyword, which makes me question the whole magic context thing. *If* you need a reference to the outer `this`, why not explicitly declare an `owner` field, pay-for-play? How terrible is that actually? (It's a bit like service location vs dependency injection. Explicit and visible is better than magic and automatic.)

[2016-06-01 14:57] HaloFour commented on #9523
@jnm2

Java introduces a lot of extra syntax to deal with the implicit `this` of nested and local types.  C# already diverged from that path by not having the concept of "instance" v. "static" nested types but requiring that a nested type manually declare and take a reference to its containing type.  I think that the same rule for local types would be reasonable.  With lexical scoping it would be

[2016-06-01 15:05] jnm2 commented on #9523
@HaloFour I think we're on the same page.

[2016-06-01 15:07] jnm2 commented on #9523
@HaloFour never mind, misread your last sentence.

[2016-06-01 15:10] jnm2 commented on #9523
I'm on the same page here.

This could be pay-for-play with a smart compiler, but this would mean all ctors would have to be injected invisibly and instantiation outside the method's lexical scope would be impossible. What if you need to construct and pass a nested type into a method from outside that scope? Or reflection?

[2016-06-01 15:15] VSadov opened #11689 "Enforce that ValueTuple types are structs"
We seem to be gradually taking some direct or indirect dependencies on tuples being structs already - we allow nullable conversions, may consider ctor invocations equivalent to element-wise assignments into a local with default value, etc...

There is no point in having special support for a case where ValueTuple are classes and it is more robust to just require tuple underlying types to be struct

[2016-06-01 15:47] HaloFour commented on #9523
@jnm2

Exactly, the enclosed values would be passed to a hidden constructor parameter, probably bundled together in a single display reference type.  This is the same as with closures today.

Or, if the local type doesn't define a constructor, or the local type doesn't use those enclosed values within a constructor, those values could just be fields defined implicitly directly on the local type.

[2016-06-01 16:25] jnm2 commented on #9523
Correct. Not sure what I was thinking there.

So... last problem is reflection and serialization (JSON.NET et al). How to they instantiate a nested method type? I can see easily 50% of my use cases involving serialization.

[2016-06-01 16:43] acesiddhu commented on #11492
Ping :)

[2016-06-01 16:44] jaredpar opened #11691 "ObsoleteAttribute prevents correct override checks"
Consider the following code:

[code]

This code should fail to compile because `Method` is not a valid override of the base type due to the mismatch return types.  The presence of the `Obsolete` attribute though seems to allow this causing the compiler to only issue a warning here, not an error.

The compiler will eventually issue the following error:

[2016-06-01 17:07] KevinH-MS commented on #5592
This item is stale, tracked by other issues

[2016-06-01 17:07] #5592 closed

[2016-06-01 17:09] KevinH-MS commented on #8752
I believe we've written the tests we plan to for the time being.

[2016-06-01 17:09] #8752 closed

[2016-06-01 17:10] KevinH-MS commented on #8740
Done!

[2016-06-01 17:10] #8740 closed

[2016-06-01 17:11] KevinH-MS commented on #9146
Done!

[2016-06-01 17:11] #9146 closed

[2016-06-01 17:12] KevinH-MS commented on #10012
This is obsolete.  We're installing VSIXes

[2016-06-01 17:12] #10012 closed

[2016-06-01 17:12] KevinH-MS commented on #10016
Done!

[2016-06-01 17:12] #10016 closed

[2016-06-01 17:18] KevinH-MS commented on #10385
The current plan it to consume CPC via nuget, so we'll track that work using that issue.

[2016-06-01 17:18] #10385 closed

[2016-06-01 17:18] KevinH-MS commented on #10037
As part of this item, we allso need to move the CPC output to the temp folder inside the PerfTests (or some other suitable location).

[2016-06-01 17:21] KevinH-MS commented on #11253
When we move to triggering runs from Jenkins, we won't be uploading to Benchview (at least for the time being), so closing for now.

[2016-06-01 17:21] #11253 closed

[2016-06-01 17:26] KevinH-MS commented on #10719
As part of this item, we allso need to move the CPC output to the temp folder inside the PerfTests (or some other suitable location).

[2016-06-01 17:37] benaadams commented on #11691
Shouldn't it only fail in the case where `isError == true`?
[code]
And the compiler error is wrong?

[2016-06-01 17:38] benaadams commented on #11691
Ahhh... mismatched return types!

[2016-06-01 17:47] TyOverby opened #11692 "[Test Failure] TAO tests fail in windows_vsi_p2_prtest on PR #1016#issuecomment-222856114"
PR: [#1016#issuecomment-222856114](https://github.com/dotnet/roslyn-internal/pull/1016#issuecomment-222856114) *update closed perf tests* by @TyOverby
Failure: http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p2_prtest/38/

[2016-06-01 17:56] jmarolf commented on #11492
I assume you can use the metadata reader to do this.  @tmat would know the specifics.

[2016-06-01 18:38] lorcanmooney commented on #11570
Fixed by #11635

[2016-06-01 18:38] #11570 closed

[2016-06-01 18:41] HaloFour commented on #9523
@jnm2

I imagine that typical reflection scenarios would "just work."  The local type should be the same as any other nested type with the exception of some degree of name mangling and possibly any hidden constructor parameters to support closures.  I don't think either would impact serialization via JSON.NET.

As for deserialization, I assume that this method accepts a `Stream` or a `string` or s

[2016-06-01 18:46] balajikris commented on #11388
\Roslyn-Stabilization-Signed-Release\20160601.1\xUnitResults

[code]

[2016-06-01 19:09] jasonmalinowski commented on #11388
@Pilchie, can we get some traction on this? This has been failing a number of signed builds recently.

[2016-06-01 19:24] #556 closed

[2016-06-01 19:24] AdamSpeight2008 commented on #11638
@lorcanmooney
The potential error has the red squiggly line underneath it.

[2016-06-01 19:30] AdamSpeight2008 commented on #11666
Are the available language features the same as VB14? or is there some new ones?

[2016-06-01 19:40] jnm2 commented on #9523
JSON.NET needs a default ctor. Are you saying a nested type should have a default ctor which calls  the invisible injection ctor with default values for the injected params? The net effect would be that when the nested type accesses the method variables, they are default/null if the type was constructed by JSON.NET and not if the type was constructed within the method. That doesn't sound clean to

[2016-06-01 19:49] Pilchie commented on #11388
Can you take a look at this?

[2016-06-01 20:16] TyOverby commented on #11666
I've been told that tuples, consuming ref returns, and possibly await in catch / finally will be part of vb 15.

[2016-06-01 20:21] HaloFour commented on #9523
@jnm2

I'm saying that as long as the local type doesn't enclose over the method's scope then the constructor would be unaffected.  But if the local type does enclose over a local or whatever then the local type would no longer have any parameterless constructors and you'd have to be aware of that when trying to use the type with something like JSON.NET.

In Java if you declare the following:

[co

[2016-06-01 20:28] tmat commented on #11592
Looks like UCRT is not available on Nano Server.

[2016-06-01 21:10] balajikris commented on #9366
This is affecting a lot of signed builds recently. Please look again.

[2016-06-01 21:27] tannergooding opened #11698 "Medium sized projects take 5-10 seconds longer to load with Low Memory Mode enabled."
**Repro**:
* Install `Roslyn Diagnostic Tools`
* Enable `Force Low Memory Mode`
* Load a medium size project, such as Roslyn-Analyzers

**Result**:
 Project takes around 5-10 additional seconds to load as compared to loading with `Force Low Memory Mode` disabled.

[2016-06-01 21:27] tannergooding commented on #11698
FYI. @ManishJayaswal

[2016-06-01 21:30] agocke commented on #11598
I'm with @jaredpar here: the task is responsible for calling `csc`. If a host needs to run then the `csc` target can be a shell script that calls the host first.

[2016-06-01 21:30] Porges commented on #11562
@gafter Regarding "that doesn't work because `key` and `value` aren't in scope after the `if` statement"... couldn't we fix this by broadening the scope of the variables declared in the `if` statement? I think this would work because we already have wording in the spec that the variable is only "definitely assigned" if the match returns `true`.

More formally:

----

Currently the [patterns propos

[2016-06-01 21:30] mattscheffer opened #11699 "Incorrect Instance Count after debugging in BasicDebuggerIntellisense"
**Version Used**:
ML 25401.01
**Steps to Reproduce**:
Run BasicDebuggerIntellisense.xml via standalone. Contact me for a machine

Failure occurs during the 'Locals from previous block are not visible in the current block' scenario. It looks like there is a timing issue due to the closeTarget action right before the verifyInstanceCount action. Test did not pass on reset.

Scenario: Locals from prev

[2016-06-01 21:31] Pilchie opened #11700 "Add tests for completion filtering"
See https://github.com/dotnet/roslyn/pull/11669 - We don't have any tests for the completion filtering stuff yet.

[2016-06-01 21:32] #11559 closed

[2016-06-01 21:53] gafter commented on #11562
@Porges The reasons for the current scoping rules are, among other things, to help you with code such as a [series of if-then-else](https://github.com/dotnet/roslyn/issues/6183#issuecomment-149752525), so you don't have to invent a new name for each branch.

[2016-06-01 22:02] Porges commented on #11562
@gafter hmm, I would have thought that that would be a rarer situation than things like the above. Thanks for the reasoning, though.

Perhaps you should be permitted to shadow a non-definitely-assigned variable? :grinning:

[2016-06-01 22:06] heejaechang commented on #11430
failed build link - http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_roslyn-internal/job/stabilization/job/windows_vsi_p3_open_prtest/3/

[2016-06-01 22:26] gafter commented on #4480
This problem does not occur in the current `master` branch (milestone 2.0). I'll add a unit test to ensure it keeps working.

[2016-06-01 22:45] gafter commented on #11562
We need to know the scoping of the variables (so we know what is being assigned) before figuring out whether they are definitely assigned or not, so that doesn't work.

[2016-06-01 22:59] gafter opened #11703 "Switch crash during emit in pattern-matching prototype"
The following code was the cause of a crash in emit. I believe the compiler was a pattern-matching preview from Build:

[code]

[2016-06-01 23:29] mattscheffer opened #11704 "Missing IteratorStateMachineAttribute when making a method async during EnC"
**Version Used**:
D14Rel 25401.00
**Steps to Reproduce**:

[code]

1. Create a C# console Application, and change editor text to the above
2. Make a breakpoint at the start of Main
3. Start debugging, and the breakpoint change the following
[code]
to
[code]
4. Try to continue debugging. Note there is no issues in the Error list at this point

**Expected Behavior**:
Debugger should let you continue

[2016-06-01 23:30] agocke commented on #11011
Moving to 2.0 -- wiring through the IDE is the tricky part. Let's not mess too deeply into the project system in 1.3.

[2016-06-02 00:32] jaredpar commented on #10451
This issue can be closed now correct?

[2016-06-02 00:35] tmat commented on #10451
yup

[2016-06-02 00:35] #10451 closed

[2016-06-02 00:35] tmat commented on #10451
Fixed by https://github.com/dotnet/roslyn/commit/0fe99e29c3836862487c6098941a87f7214f908e

[2016-06-02 00:47] CyrusNajmabadi commented on #11374
So this is what i'm seeing:

9>Project 'CSharpCodeAnalysis' is not up to date. CopyLocal reference 'C:\GitHub\roslyn-internal\Open\Binaries\Debug\DeployCompilerGeneratorToolsRuntime_DoNotUse.exe' is missing from output location.
9>------ Build started: Project: CSharpCodeAnalysis, Configuration: Debug Any CPU ------

This is really brutal.  Every build is effectively a full build.

[2016-06-02 00:47] CyrusNajmabadi commented on #11374
Who owns DeployCompilerGeneratorToolsRuntime_DoNotUse.exe and can we get it to properly incrementally build?

[2016-06-02 00:48] gafter commented on #8237
@Pilchie This was on your list of places where the compiler doesn't help much. I'm not sure what you would want of the compiler here. The compiler doesn't make up types that combine the members of existing types for the purposes of error recovery. Is that what you would want? @rchande Please feel free to suggest what we could do to help here.

[2016-06-02 01:30] SLaks opened #11707 "Debugger doesn't show field-like events in objects"
**Version Used**: Dev14 Update 2

Source:

[code]

Set a breakpoint below the variable and hit run.

Expanding the object (in the datatip, locals window, or wherever) shows `i`, but not `E`.

This is extremely annoying when debugging event issues.

[2016-06-02 01:31] SLaks commented on #11707
I can see that it's convenient to hide events for most devs, who don't care, but there should then be an option to show them again.

[2016-06-02 01:43] #8506 closed

[2016-06-02 02:03] tmat commented on #7566
Getting the same exception when renaming in Roslyn solution.

Memory dump:

[code]

[2016-06-02 04:01] tmat commented on #11374
@agocke FYI

[2016-06-02 04:04] dpoeschl commented on #10977
@jmarolf - You seem interested in this.............

[2016-06-02 04:27] #11015 closed

[2016-06-02 04:42] tmat commented on #11704
This was fixed by https://github.com/dotnet/roslyn/commit/c7c829963204d0b083efea2e8977ba7756917430 a week ago. Are the bits in D14Rel yet?

[2016-06-02 05:01] JeroMiya commented on #118
This proposal would increase the complexity of the language, without a significant use case or benefit to offset that complexity. I'm not convinced.

[2016-06-02 07:48] CyrusNajmabadi commented on #11301
Fixed with

[2016-06-02 07:48] #11301 closed

[2016-06-02 07:48] CyrusNajmabadi commented on #11301
Fixed with https://github.com/dotnet/roslyn/issues/11659

[2016-06-02 07:49] CyrusNajmabadi commented on #11241
Fixed with https://github.com/dotnet/roslyn/issues/11668

[2016-06-02 07:49] #11241 closed

[2016-06-02 09:22] Thaina commented on #118
@JeroMiya I have heard something like your words from so many people who was spoiled by fast computer and don't know what `new object` did to memory, how the GC work or how it impact performance, and how struct could be used. People like these always make every little thing a class, generate so many little garbage in memory, and boxing thing with ignorance

[2016-06-02 09:38] Thaina commented on #11562
Maybe we could use `return if`

[code]

[2016-06-02 10:21] sherry-ummen opened #11711 "Question/Issue : "NullReferenceException" when using interactive C#"
**Visual Studio 2015 Update 2**:

**Steps to Reproduce**:

1.#r use to load one of our organization dll (sorry cannot share it)

**Expected Behavior**:
Wanted to call a method from the loaded DLL

**Actual Behavior**:
I get this exception:

`Unexpected error:
System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.CodeAnalysis.Scripting.Hosting.CommonTy

[2016-06-02 12:10] jnm2 commented on #9523
So the deserialization scenario won't work if you close over a local. Guess that makes sense.

I wonder if there is any way to close over the locals by reference so that they can be written as well as read and synced between nested type instances?

[2016-06-02 13:32] SLaks opened #11712 "Inline Temporary Variable creates unnecessary broken cast with generics & booleans"
**Version Used**: Dev14 Update 2

[code]

The Inline Temporary Variable refactoring (on `b`) gives

[code]

[2016-06-02 13:49] tmds commented on #347
When you reflect a method which was declared: `(int sum, int count) Foo()` will there be a way to get the "sum" or "count" names? Or will those be lost when the code is compiled and will you see: `ValueType<int, int> Foo()`?

[2016-06-02 13:52] HaloFour commented on #347
@tmds

The method:

[code]

would actually be something like:

[code]

So you can still use reflection to find the names, but you'd have to inspect the custom attributes of the parameters and/or return types.

[2016-06-02 13:58] bondsbw commented on #11562
@Thaina I kind of like that syntax.

Would that syntax support `throw` as well?

And how about a statement form if returning is all it needs to do?

[code]

[2016-06-02 14:08] tmds commented on #347
@HaloFour where can I find more info on the emitted Attribute?

In [features/tuples](https://github.com/dotnet/roslyn/blob/dcfb3f9c83a77dad7a8a721d7b8413e0dd243d34/docs/features/tuples.md) it says:

[2016-06-02 14:10] HaloFour commented on #9523
@jnm2

Sure.  Java made the decision that enclosing locals from the method scope requires that those locals be `final`, but C# has no such limitation today.  I would expect that if C# were to get nested types like this that it would follow the same strategy that it does with lambdas, where it emits a separate reference type as a container for the locals:

[code]

would be translated into something

[2016-06-02 14:30] Thaina commented on #11562
I think this guard/returnif is just a syntax to enforce error and will be ignore at compile time so everything will work normally include throw

[2016-06-02 14:58] jcdickinson commented on #10378
This can also be achieved with ref parameters, which it is in many game frameworks. In terms of code clarity consider:

    // Without ref-returns and ref parameters for operators, this copies (fermi estimate, probably less):
    // 4 rows * 4 columns = 16 cells
    // 16 cells * 4 bytes for float = 64 bytes per stack frame
    //  64 bytes per stack frame * (1 copy for call + 1 copy for return) =

[2016-06-02 15:11] dsaf opened #11713 "[Suggestion] Remove/relax CS1738 "Named argument specifications must appear after all fixed arguments have been specified""
I like using named arguments for code readability when passing literals. However the subj limitation forces me to either not use them or specify them for every subsequent argument:

[code]

[2016-06-02 16:11] gustavopinto opened #11714 "Studying the evolution of Roslyn's project"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of open-sourcing a proprietary software, for instance, if the project succeed in attracting newcomers. Roslyn was in my list.

To further analyze the impacts of Roslyn’s migration, we analyzed the git log commit history of your project in terms of _number of contributions_, _numbe

[2016-06-02 16:34] tmat commented on #11711
Looks like https://github.com/dotnet/roslyn/issues/11284.

[2016-06-02 16:35] tmat commented on #11284
The scripting issue is fixed by https://github.com/dotnet/roslyn/pull/11296

[2016-06-02 16:35] #11284 closed

[2016-06-02 16:36] tmat commented on #11711
Fixed by https://github.com/dotnet/roslyn/pull/11296

[2016-06-02 16:36] #11711 closed

[2016-06-02 16:52] Pilchie commented on #11653
@olegtk This looks like the core editor indicator, right?

[2016-06-02 16:53] Pilchie commented on #11622
Tag @jasonmalinowski - this is your diagnostic about the text not saving correctly!

[2016-06-02 16:54] Pilchie commented on #11614
Don't you have a PR out for this already?

[2016-06-02 16:55] Pilchie commented on #11574
Fixed by #11584.  Thanks for the report @SergeyTeplyakov, and the fix @AdamSpeight2008

[2016-06-02 16:55] #11574 closed

[2016-06-02 16:57] Pilchie commented on #11563
Fixed by #11664

[2016-06-02 16:57] #11563 closed

[2016-06-02 16:59] Pilchie commented on #11520
@JackUkleja Have you seen the [SyntaxGenerator](http://source.roslyn.io/Microsoft.CodeAnalysis.Workspaces/R/3c40e627ffcd3bf7.html) type that is public?

Tag @mattwar

[2016-06-02 17:00] Pilchie commented on #11518
Fixed with #11676.

[2016-06-02 17:00] #11518 closed

[2016-06-02 17:04] Pilchie commented on #11499
Yes, this is something we've wanted to do for a while now - in fact we were tracking it on our internal backlog as 124326, but we'll use this now.

[2016-06-02 17:06] Pilchie commented on #11498
Since we haven't implemented #11499 yet, we show the completion in suggestion mode, so that it doesn't stomp on what you're trying to type.  At the same time, I believe that the editor picks the width of completion from the initial size of the elements and doesn't resize during the session, which is why this happens.  @olegtk - does that sound right to you?

[2016-06-02 17:08] Pilchie commented on #11491
We're already tracking the conversion *to* expression bodied members in https://github.com/dotnet/roslyn/issues/7045.  I'll make note there that we should also support going back.

@MillKaDe It's in C# Essentials right now.

[2016-06-02 17:08] #11491 closed

[2016-06-02 17:12] mattscheffer commented on #11704
This is still failing in VSUML as well. There was an insertion from Master (which this was pushed to) on Monday, so I would expect these bits to be present.

[2016-06-02 17:17] Pilchie commented on #11339
@davkean @rchande Do you know if this is an issue in the PCL flavor?

[2016-06-02 17:20] Pilchie commented on #11319
For the context issue, when we added multiple context support, we made a deliberate decision to never change the context "automagically", because we weren't sure we could do reliably do it in all cases, and we thought that it was more consistent to just never switch it automatically than have some things update it automatically and others not :-(

For the presentation, it's definitely related to #

[2016-06-02 17:21] tannergooding opened #11716 "Microsoft.CodeAnalysis.CSharp.Scripting.UnitTests.CommandLineRunnerTests.PreservingDeclarationsOnException() fails due to new warning diagnostic."
Failure is occuring in `features/test-impact` branch.

[code]

[2016-06-02 17:37] tmat commented on #11704
We might not have updated VSUML since it's in escrow for U3 RC.

[2016-06-02 17:44] davkean commented on #11339
I think we're setting the Build Action explicitly, about not adding their backing .cs files would be csproj.

[2016-06-02 19:06] #11572 closed

[2016-06-02 19:24] CyrusNajmabadi commented on #11403
Fixed with https://github.com/dotnet/roslyn/pull/11639

[2016-06-02 19:24] #11403 closed

[2016-06-02 19:29] CyrusNajmabadi commented on #11614
Fixed with https://github.com/dotnet/roslyn/pull/11668

[2016-06-02 19:29] #11614 closed

[2016-06-02 19:54] tannergooding opened #11721 "SolutionCrawler fires events out of order when HighPriorityForActiveFile is true."
**Issue**
When an IncrementalAnalyzer has `HighPriorityForActiveFile` set to `true`, the `AnalyzeDocumentAsync` event is fired for the active file before the `NewSolutionSnapshotAsync` event.

**Expected**
`NewSolutionSnapshotAsync` should fire before all other events for a given solution.

[2016-06-02 19:54] tannergooding commented on #11721
FYI. @KevinH-MS

[2016-06-02 19:54] tannergooding commented on #11721
FYI. @heejaechang, @mavasani

[2016-06-02 19:54] tannergooding commented on #11721
FYI. @dotnet/testimpact

[2016-06-02 19:57] balajikris commented on #11642
@Caraul : could you please share the full source for this program that compiles? I'm curious to see how the syntaxNode looks like that can cause this exception in the formatter api.
I pasted this code in a CodeRefactoring template, but i can't seem to find definitions for many methods used here and hence couldn't compile the code.

[2016-06-02 20:01] gafter opened #11722 "No completion offered in partial statement with lambda [VB]"
Similar to #11358, this illustrates that a similar issue arises in Roslyn's VB compiler.

**Version Used:**
Dev14 Update 2

**Steps to Reproduce:**

Type the following program
Go to the commented line, backspace over the .
Type .

[code]

**Expected Behavior:**
Completions offered (members of string)

**Actual Behavior:**
No completions offered

[2016-06-02 20:04] heejaechang commented on #11721
@tannergooding active high priority processor only fires Document related actions such as AnalyzeSyntax and AnalyzeDocument, it will not fire anything else since it doesnt have any logic except those.

by the way, that queue is made specifically for diagnostic analyzer and never tested for anything else.

[2016-06-02 20:06] heejaechang commented on #11721
@tannergooding why are you using highpriority queue? normal queue is not that slow compared to high priority queue. and high priority queue is quite expansive. I think you shouldn't use high priority queue..

[2016-06-02 20:08] olegtk commented on #11498
Yes, sounds right to me. We recently fixed a related issue of completion clipping during filtering (e.g. when you type "<h1" and then hit backspace) - now completion can grow wider (but not shrink) on ICompletionSession.Filter(), but there is no filtering in this scenario. File a bug if it's bad enough.

[2016-06-02 20:14] tannergooding commented on #11721
@heejaechang, we are using high priority queue for the dynamic analyzers, so that visualizations can appear sooner for the active file. The 400ms for high priority vs the 1500ms for low priority makes a significant difference in the feel of 'sluggish' vs 'performant' for the visualizations.

[2016-06-02 20:16] heejaechang commented on #11721
by the way, even if higher priority queue is not used, still active file will run first among tasks scheduled in normal priority queue.

so order will be
documents in high priority queue -> active file in normal priority queue -> visible files in normal priority queue -> opened files in normal priority queue -> closed file in normal priority queue -> projects in low priority queue.

except normal

[2016-06-02 20:19] tannergooding commented on #11721
I believe it is a bug if the active file runs before the `NewSolutionSnapshotAsync` event.

[2016-06-02 20:20] heejaechang commented on #11721
@tannergooding well.. but problem is how impactful it is to system. high priority queue (doing work on 400ms will most likely make it to run on every pause while user typing) is really heavy.

if it was not for compiler errors (especially syntax), we won't even introduce high priority queue.

[2016-06-02 20:22] heejaechang commented on #11721
@tannergooding ya, that's the thing, all other analyzers should just use normal queue. and never use other queues. I might need to hide the fact there is other queue. and hard code what analyzer goes into other queue.

[2016-06-02 20:24] heejaechang commented on #11721
@tannergooding problem for compiler errors was that, we already had that feature long before roslyn, and people have expectation from experience, so we couldn't have it slower than that. but new feature, we don't have that restriction.

[2016-06-02 20:29] tannergooding commented on #11721
However, with some new features, 1500ms is too slow (seems sluggish). So we opted to use the high-priority queue.

Would it not be possible to just have the high priority queue skip processing if there is a `NewSolutionSnapshotAsync` event waiting to be fired? We are already tracking the `CurrentSolution`, so it should be a trivial check (that skips the rest of the high priority processing).

[2016-06-02 20:33] brettfo opened #11724 "Infinite loop when parsing a method body and possible throw exceptions"
**Branch**: future

**Steps to Reproduce**:

1. Set the following C# code in an editor:

[code]

2. Where `$$` represents the cursor's current location, type `(`.

**Actual Behavior**:
Eventual OOM coming from [`LanguageParser.cs`](https://github.com/dotnet/roslyn/blob/future/src/Compilers/CSharp/Portable/Parser/LanguageParser.cs#L9385-L9401) lines 9385-9401.  In short, `this.CurrentToken.Kind` is

[2016-06-02 20:43] heejaechang commented on #11721
certainly we can fix this issue. I am not saying we can't fix this issue. leave the bug open.

but my point is, is it okay for more features to opt in to higher priority queue. I can see the desire to make your feature looks faster. but one of reason solution crawler is created to block people from doing that and make them not to have that control. since otherwise, every one wants to make their fe

[2016-06-02 20:43] #4480 closed

[2016-06-02 20:51] heejaechang commented on #11721
adding @ManishJayaswal as well. with this perf epic going on, I think we should start from less stressing position and only move up when we get feedbacks about it.

also, I am not sure whether, unless one is concentrating on it, 1500ms vs 400ms will change user experience that much in real life.

[2016-06-02 21:00] olegtk commented on #11653
No, it's not a core indicator. This seems to be AppInsights extension, at least according to http://stackoverflow.com/questions/25854264/visual-studio-2013-update-3-problems
Try uninstalling "Developer Analytics Tools" extension.

[2016-06-02 21:13] jasonmalinowski opened #11726 "Audit caching of syntax trees within the Document type"
In Document.cs, there's a `_syntaxTreeResultTask` that caches a `Task<SyntaxTree>`. This seems terribly fishy to @CyrusNajmabadi and I. We expect one of two things to be true:
1. `SyntaxTree`s are expensive, and this shouldn't be cached like this. Instead it should be cached via our usual weak model, or something else.
2. `SyntaxTree`s are cheap, so GetSyntaxTreeAsync() shouldn't need to be async

[2016-06-02 21:41] ManishJayaswal commented on #11721
If we do not use high priority queue then will it always be 1500ms or will it be faster for active and opened files? I am asking because we have a goal of providing some visual feedback within a second.

[2016-06-02 21:50] heejaechang commented on #11721
1500ms is fixed delay for normal queue. but active file will be the first item processed.

...

when you say 1 seconds, is that end result or processing of your components. 1 second end result will be really expensive feature. even such cheap features such as outlining or line separator is set to 1.5 seconds.

by the way, I think no ambient feature (a feature that runs automatically without explic

[2016-06-02 21:58] heejaechang commented on #11721
by the way, there is another option. which is what LB does. LB has 2 modes. one is showing LB when solution crawler (more specifically diagnostic analyzer) finished analyzing current file. (expensive so updated slowly, 1.5s delay). and another mode is updating LB based on span. (cheap and fast)

so when user types, the line user is typing shows LB fast for analyzers that support span based analysi

[2016-06-02 22:14] Pilchie commented on #11724
Tag @jaredpar

[2016-06-02 22:17] davkean commented on #11634
This bug is a portable bug, we basically register a query that runs after a project has failed to open, that causes this dialog to show - that query thinks that "Update 1" isn't installed, when clearly it is implicitly installed by Update 2.

[2016-06-02 22:17] davkean commented on #11634
Without that query, the project would have failed to load with an error about missing targets.

[2016-06-02 22:33] agocke opened #11731 "C# Proposal: Allow `extern` local functions"
# Motivation

For PInvoke methods you often want to provide an `extern` signature for the externally available method, but then immediately provide a "managed" wrapper around that signature for use in the rest of your program. However, because even `private` members can be accessed by other members in the same class there's no way to completely scope away a PInvoke signature to only a single wrapp

[2016-06-02 23:07] playsomethingsaxman commented on #11308
@svick Watch:

[code]

By the way, why did they gut async set?

[2016-06-02 23:21] svick commented on #11308
@playsomethingsaxman But how do you `await` the constructor? If it's more like `async void`, then I don't think that's a good idea.

Also, `await SwitchToThreadPoolAsync()` is generally considered problematic. If you instead used `Task.Run()`, you wouldn't even need `sync` in the first place.

[2016-06-02 23:41] playsomethingsaxman commented on #11308
The constructor isn't to be awaited, if you need that then there's the static factory method pattern. It simply continues initialization without having to call a separate dangling async method that also has the danger of being called again by other class members.

I've built epicly scaleable code with constructs like SwitchTo() because intent just flows so much better and faster. Everyone else is

[2016-06-02 23:42] HaloFour commented on #11731
Is it really that necessary to scope said P/Invoke methods to only their wrapping method?  The method would be `private` to the declaring type either way.  This would only buy you the unutterable name, which doesn't change much since the method couldn't be called externally to the declaring type anyway.

Typically if I'm wrapping P/Invoke calls it's because I need or want to transform the argument

[2016-06-03 02:56] CyrusNajmabadi opened #11737 "Unexpected behavior of IOperation"
IOperation routinely returns IInvalidExpression instance on expressions that are valid.  For example, in the following code:

[code]

This was unexpected to us when using the API.  While i could understand that 'Test' could not be resolved, we still expected to get an IInvocationExpression with appropriate ArgumentsInSourceOrder.  It was also expected that .TargetMethod could be null here as we co

[2016-06-03 02:58] CyrusNajmabadi commented on #11737
Note: these were found by an IDE effort to move off of language specific code and instead work on the language neutral layers only.  In the absence of errors, this seems to work out ok. However, in the presence of errors, it falls over quickly.  As most IDE features need to work with errors (or exist to fix errors in the first place!) this proves problematic.

My hope is that this is not out of sc

[2016-06-03 03:47] CnSimonChan commented on #216
@gafter  So the final decision is disallowing separators immediately after prefixes?

[2016-06-03 06:08] wangzq commented on #11687
More info:

[code]

Expected should be: (as from `csc /doc:`)
[code]

Actual:
[code]

[2016-06-03 07:10] Caraul commented on #11642
Of course no problem:

[code]
It should be a very simple expression a-la (()=>{})

[2016-06-03 07:47] CurtisLusmore commented on #11212
No to mention that you can abstract over the type of list by making _it_ a type parameter too!

[code]

[2016-06-03 08:37] GSPP commented on #11731
This is really nice. Often, a PInvoke method is wrapped to provide a more convenient API to callers. For example, the typical `if (!f()) throw new Win32Exception();` check.

Making the PInvoke function a local function improves code quality by bundling the two inseparable methods together into one artifact. This should improve legibility and tooling.

[2016-06-03 08:41] GSPP commented on #11590
It is amazing to me how often a "pipe pattern" comes up in practical code. It's just a very common thing to do. In fact it's part of why extension methods are so awesome.

[2016-06-03 09:33] AdamSpeight2008 commented on #11737
@CyrusNajmabadi
Isn't it invalid because it is expecting two arguments and you're only supplying one?

[2016-06-03 09:39] AdamSpeight2008 commented on #216
@CnSimonChan  I think it is implement in the `Future` branch.but it needs the feature flag to be set (or the language version to be VB15. Not sure if these features are available by default in that version (15) of the language.

[2016-06-03 09:47] AdamSpeight2008 commented on #11666
@TyOverby I was referring to these [Features](https://github.com/dotnet/roslyn/blob/dcfb3f9c83a77dad7a8a721d7b8413e0dd243d34/src/Compilers/VisualBasic/Portable/Parser/ParserFeature.vb#L52) which are set under a language version.

[2016-06-03 11:34] Giorgio-Reco commented on #7082
Is there any progress on this issue? I'm convinced many developers all around the world are experiencing HUGE problems due to this issue! This causes a loss of about 30-45 minutes of work EVERY DAY. And every developer I know, in my company, and in other companies, working with this version of VS are experiencing it!
Worldwide this is costing millions if not billions of dollars, so please fix this

[2016-06-03 11:48] adamralph commented on #11634
It sounds like the error about missing targets would be much more helpful. Presumably it would contain some clue to the VS SDK being absent.

[2016-06-03 11:58] svick commented on #11731
@HaloFour That sounds like argument against local functions in general, since it's not really specific to `extern` local functions.

[2016-06-03 12:36] alrz commented on #11731
I do like locality of the declaration and the usage. A static class like `NaviteMethods` is useful only when you are considering reusability, other than that, an `extern` local function would be a better approach in terms of better coherency.  I think compiler intrinsics (#11475) would be another compelling use case for this feature, especially those that can be defined with different signatures e

[2016-06-03 13:43] svick opened #11740 "The underlying type of an enum does not have to be a simple type"
**Version Used**: 1.0.0, 1.3.0-beta1-20160602-01

**Steps to Reproduce**:

Compile the following code:

[code]

This compiles successfully, while the C# specification says it shouldn't.

For background, see [this SO question](http://stackoverflow.com/q/37589056/41071). To sum up, the C# specification (version 5.0 or [preliminary version 6.0](https://github.com/ljw1004/csharpspec)) say that _enum-b

[2016-06-03 13:48] AdamSpeight2008 commented on #11740
Isn't `System.Int32` just an alias to `int`?

[2016-06-03 14:02] GSPP commented on #11475
Why is there a need to allow users to define such functions? Could they not be defined once in the `CompilerServices` namespace? The functions are useful for other CLR languages as well. Also, it's not possible to define anything custom anyway. It's a way of *referencing* an intrinsic, not defining one.

[2016-06-03 14:21] svick commented on #11740
@AdamSpeight2008 It's the other way around (`int` is an alias for `System.Int32`). But the grammar here says that you have to use `int` and that `System.Int32` is not allowed, even though both are logically the same.

Also, the old native compiler does not allow this code:

[2016-06-03 14:44] AdamSpeight2008 commented on #11740
Easier to alter the specification text to include` or is an alias to an integral type.`

[2016-06-03 14:58] bkoelman opened #11741 "context.RegisterOperationAction() is not invoked on catch filters"
**Version Used**:
VS2015 Update2 with Microsoft.CodeAnalysis.Analyzers v1.2.0 (also v1.2.0-beta2)

**Steps to Reproduce**:
1. Create an empty Analyzer project. Update Roslyn NuGet references to latest.
2. Replace DiagnosticAnalyzer `Initialize` method with:

[code]
1. Replace existing unittests with:

[code]
1. Enable IOperation support by updating `CreateProject` in DiagnosticVerifier.Helper.cs:

[2016-06-03 15:15] tannergooding commented on #11721
I think the key, since this is dynamic analysis, is that we really only care about three things:

1. A change has happened (document, project, or solution changes)
2. The change can compile (the change is not incomplete and would not fail compilation)
3. The user is not actively making changes

Knowing the delta between the current state and the previous state is useful, but not strictly required.

[2016-06-03 15:38] Mafii commented on #11740
I would say it that this is the best/most intuitive approach. It also seems more logical than the old spec text.

[2016-06-03 15:40] davkean commented on #11634
Absolutely, it's a mistake that this dialog is showing - the check for Update 1 is supposed to succeed, and hence it shouldn't kick in.

[2016-06-03 15:44] axel-habermaier opened #11742 "stackalloc debugging behavior in x64"
**Version Used**:
VS 2015 Update 2

**Steps to Reproduce**:

1. Create a new C# console application.
2. Copy the following code into ``Program.cs``:

[code]
3. Go to the project properties, allow unsafe code and __force x64__.

4. Set a breakpoint at the ``stackalloc`` line.

5. Start debugging.

6. Press F10 to step to the ``return`` statement.

**Expected Behavior**:

Execution moves to the ``re

[2016-06-03 16:29] Pilchie commented on #11726
Tag @mattwar

[2016-06-03 17:03] AnthonyDGreen commented on #11370
Highly unlikely to use ParseParameter here. It's not really a parameter list.
No, I don't expect object initializer syntax will work.

[2016-06-03 17:07] agocke commented on #11731
@HaloFour I agree it's not a game changer, just a quality of life issue. IMO, it makes constructs like the example I posted easier to understand. There's no possibility anyone would accidentally call the PInvoke method without locking with the rewrite.

[2016-06-03 17:25] balajikris commented on #11642
@Caraul : thanks, expected I was missing a using statement or two, and Add using refactoring didn't suggest the `using static Ms.Ca.CSharp.SyntaxFactory`.. hmm, will file a separate bug for that.

[2016-06-03 17:44] gafter opened #11744 "Open LDM Issues in Pattern-Matching"
Here are my top open issues for pattern matching beyond typeswitch. Making progress on these will help inform the shape of what we do for typeswitch (e.g. the grammar, syntax trees, syntactic and semantic constraints, etc).
# Open LDM Issues in Pattern-Matching
### Recursive pattern forms

We've discussed the relationship between positional patterns and tuple patterns, but we haven't followed up o

[2016-06-03 17:50] #10870 closed

[2016-06-03 17:59] HaloFour commented on #11744
Is there a reason to change the wildcard pattern from `*` to `_` other than to look like other functional languages?

[2016-06-03 18:12] TASimpson commented on #7082
@davidroth I am experiencing the same issue of
![image](https://cloud.githubusercontent.com/assets/11613404/15788331/b2dea42c-298c-11e6-8208-83c9b8974fc9.png)
and then my VS2015 will become unresponsive shortly after. Did you ever find a fix for your problem??

[2016-06-03 18:16] CyrusNajmabadi commented on #11049
Yes.  I definitely think we shoudl have an API from the compiler to tell us what chained constructor a constructor calls.

@dotnet/roslyn-compiler

Can we add something like this?  We have APIs to tell you this when there is a this/base call (or an invocation in VB).  However, when the chaining is implicit, it's not clear which constructor is called.  This is an issue especially with wonky constru

[2016-06-03 18:30] CyrusNajmabadi commented on #11049
Note @dotnet/roslyn-compiler It does look like this information may be obtainable through the IOperation level.  Do you think it would be appropriate to expose through the semantic-model/symbol API though?

[2016-06-03 18:31] davidroth commented on #7082
@TASimpson

I could mitigate the problem by uninstalling all third party analyzers (e.x. no more CodeRush4Roslyn, no more Refactoring Essentials etc.). More analyzers == more memory :(

I also noticed that the following events seem to trigger this bug:
 - Switching git branches - probably because of lots of solution changes and reloading of projects projects etc.

- Refactoring: When I work on som

[2016-06-03 18:35] HaloFour commented on #11731
@svick

That might be true if local functions didn't have lexical scoping and close over the scope of their parent method.  That feature is reason enough for local functions, IMO, and it's something that `extern` local functions can't take advantage of.  So the only advantage of an `extern` local function is method-private scoping.  I'm not saying that it's not an advantage, but I can't imagine th

[2016-06-03 19:28] mattwar commented on #11744
v. if (q is Point(x: 3, y: 4) { Length: 5} --  yes, please!

x. if (q is var p)  --  Is this just picking up the null test from is and giving you another variable with the same static type and value?

xi. if (q is {x: 3}) -- does this mean infer the static type of q or that there are dynamic/reflection shenanigans going on?

xii. if (q is (x: 3, y: 4)) -- does this infer the static type of q which

[2016-06-03 19:32] mattwar commented on #11726
GetSyntaxTreeAsync is cheap sometimes, not others.  The first time its not cheap because it needs to get the text (load the document sometimes, etc) and parse it.  Later times it is likely cheap, unless it get kicked out of memory and must be reloaded / reparsed.

Once its first constructed, the SyntaxTree instance is always permanent, its contents are what get kicked out of memory, so its safe to

[2016-06-03 19:36] heejaechang commented on #7082
@jmarolf is that possible to have roslyninsider.vsix with closed side vsix as well so that they can try the fix?

@Giorgio-Reco can you share the project that having the issue so that we can try it out to see what is actually causing the problem? we addressed one that we know but there could be issues that we don't know about.

by the way, have you tried turning off full solution analysis? is that

[2016-06-03 19:37] heejaechang commented on #7082
@davidroth I think  your issue should be addressed by our fix that is scheduled to be released in update 3.

[2016-06-03 19:38] heejaechang commented on #7082
@TASimpson have you tried turning off full solution analysis? does your problem still happen even after turning off full solution analysis?

[2016-06-03 19:47] gafter commented on #11740
This is one of the changes made in C# 6.

[2016-06-03 19:48] gafter commented on #11740
Mads, assigning to you to ensure it ends up in the C# 6 specification. Your latest draft lacks this modification.

[2016-06-03 19:51] gafter commented on #11724
@agocke This is probably residue from the "throw expression" implementation, which is your feature.

[2016-06-03 19:52] jasonmalinowski commented on #11726
But why does this not just get cached once the first thing is returned, instead of what this does which is cache the *second* time it's asked for? And why not just use AsyncLazy's support for this automatically?

[2016-06-03 19:56] gafter commented on #11578
This issue is misplaced in the Roslyn repository. The Roslyn compilers are not intended to perform optimizations, but rather to translate source code into IL. The runtime compiler is where optimization occur (or do not occur, as in this case). You probably want to report this in the [coreclr](https://github.com/dotnet/coreclr) repository.

[2016-06-03 19:56] #11578 closed

[2016-06-03 20:02] tannergooding opened #11747 "PCL doesn't allow you to set 'Allow unsafe code'"
PCL projects where all of the targets support unsafe code, does not allow you to set 'Allow unsafe code' in the IDE.

Repro:
1. Create a PCL project targeting netstandard 1.3 (Desktop and CoreCLR)
2. Right click the project and select 'Properties'
3. Go to 'Build'
4. Examine that 'Allow unsafe code' cannot be set

[2016-06-03 20:03] tannergooding commented on #11747
This is reproducing in D14Rel 25401.00

[2016-06-03 20:04] CyrusNajmabadi opened #11748 "SemanticModel.GetOperation should work when passed an ArgumentSyntax."
This should work, and an IArgument should be returned.

[2016-06-03 20:05] TASimpson commented on #7082
@heejaechang  full solution analysis is off and yes, it still does. I have had to restart VS at least 7 or 8 times today.

[2016-06-03 20:05] tannergooding opened #11749 "IDE gives an error for 'Allow unsafe code' is not supported by one or more of the project's targets."
PCL projects where all of the targets support unsafe code gives an error when AllowUnsafeBlocks is manually set to true. The error message is: 'Allow unsafe code' is not supported by one or more of the project's targets.

Repro:
1. Create a PCL project targeting netstandard 1.3 (Desktop and CoreCLR)
2. Manually edit the project and add <AllowUnsafeBlocks>true</AllowUnsafeBlocks>
3. Reload the proj

[2016-06-03 20:06] tannergooding commented on #11749
This is reproducing in D14Rel 25401.00

[2016-06-03 20:06] tannergooding commented on #11747
FYI. @dotnet/roslyn-ide

[2016-06-03 20:07] tannergooding commented on #11749
FYI. @dotnet/roslyn-ide

[2016-06-03 20:07] Giorgio-Reco commented on #7082
@heejaechang  full solution analysis is off and has been off for a while. Didn't really help that much.
I do have to say we have the SonarLint analyzer installed, and a ruleset for almost every of our 72 projects in the solution.
What I do experience is that the editor very regularly freezes for several (up to 10) seconds when just typing text, and after that i saw the Codelens information got upd

[2016-06-03 20:08] gafter commented on #11744
@HaloFour It is because `_` is an identifier and therefore can be used to disambiguate between `e is Type` and `e is Pattern` when the Type is a tuple type (or the pattern is a tuple pattern), even when you have no intention of using the identifier. You can use the underscore to write `e is Type _`. The fact that other functional languages use it is a bonus.

@mattwar
x. As currently specified, th

[2016-06-03 20:11] #11053 closed

[2016-06-03 20:11] #11358 closed

[2016-06-03 20:11] CyrusNajmabadi opened #11750 "CompilationEndAction not being called."
The UseAutoProp analyzer looks like this:

[code]

Even though we call RegisterCompilationEndAction, the call to the registered lambda never happens.

This means that UseAutoProp doesn't actually work at all.

[2016-06-03 20:11] CyrusNajmabadi commented on #11750
@heejaechang Do you know anything about this?

[2016-06-03 20:12] CyrusNajmabadi commented on #11750
tagging @dotnet/roslyn-analysis

[2016-06-03 20:12] VSadov opened #11751 "Support IntPtr conversions in the method argument rewriter."
IntPtr conversion can stay in the bound tree past lowering in a case where a COM method is invoked in an Expression Tree lambda.

A typical situation where this could happen is when a COM method is tested in a mock framework that is Expression Tree based.

If such conversion is seen by the call argument rewriter a crash/watson would result when code is compiled.

Short repro:
[code]

causes a cras

[2016-06-03 20:23] HaloFour commented on #11744
@gafter

So is it an identifier or a wildcard?  Both depending on context?  What happens if you have a variable in scope named `_` already?  Can you use it multiple times in the same condition, e.g. `if (e is Type _ && f is Type _)` ?  Would it preclude reusing wildcards in other contexts, e.g. as ignored parameters for lambdas:  `foo.Method((_, _) => ...);` ?

I'm fine with the concept and its us

[2016-06-03 20:24] mattwar commented on #11726
@jasonmalinowski  no idea.

[2016-06-03 20:28] mattwar commented on #11744
@gafter  so then 'x' just declares a new variable that has the same type and value as q?

[2016-06-03 20:30] mattwar commented on #11744
@gafter  okay is see (x: 3, y: 4) requiring the static type so the names match, but what about (3, 4)?  Does this work dynamically with ITuple or does it require a statically known type that is a tuple or has a Deconstruct method?