[2016-03-11 10:52] #9469 closed

[2016-03-11 12:42] tumtumtum commented on #1653
For now Ricciolo's excellent suggestion is what I'm doing

    var indexOfCharMethod = TypeUtils.GetMethod<string>(c => c.IndexOf(default(char)));

[TypeUtils.cs](https://github.com/platformdotnet/Platform/blob/master/src/Platform/TypeUtils.cs)

[2016-03-11 13:41] JesperTreetop commented on #9513
The part you quoted works fine.

The expression "t" has a well-defined type even if it is a null-coalescing operation.

This is not a design bug for the same reason that:

    object obj = /* ... */;
    var str = obj?.ToString();
    var uppercase = str.ToUpper();

...is not a design bug in invoking the method ToUpper. Null coalescing is to allow that chain of invocations to safely fall back to `

[2016-03-11 14:52] mavasani opened #9684 "Race conditions in miscellaneous files workspace"
See https://github.com/dotnet/roslyn/pull/9654#discussion_r55794522

[2016-03-11 15:38] jrmoreno1 commented on #4828
I have encountered what may be a variation of this bug.

    Public Class Frm
          Public Class BadCompiler
          Public Property Value As Date?
      End Class

      Private TestObj As BadCompiler = New BadCompiler()
      Public Sub IPE()
          Dim o as Object
          o = TestObj.Value
      End Sub
    End Class

Compiled in release mode with optimizations on, IPE is invalid.

C

[2016-03-11 16:01] mavasani opened #9688 "NavigationBarController asserts when workspace registration changed event is raised from a background thread"
See [line 89] (http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/NavigationBar/NavigationBarController.cs,89) in method `NavigationBarController.OnWorkspaceRegistrationChanged`. `ConnectToWorkspace` asserts that it is invoked from the foreground thread, but it seems RegisterText raises workspace registration changed events from a scheduled task [here](http://source.rosl

[2016-03-11 16:34] mavasani commented on #9688
I am hitting this:

 	Microsoft.CodeAnalysis.Workspaces.dll!Roslyn.Utilities.TaskExtensions.SafeContinueWith.AnonymousMethod__0(System.Threading.Tasks.Task t) Line 150	C#
 	[Native to Managed Transition]
 	Microsoft.CodeAnalysis.Workspaces.dll!Roslyn.Utilities.Contract.ThrowIfFalse(bool condition, string message) Line 86	C#
 	Microsoft.CodeAnalysis.EditorFeatures.dll!Microsoft.CodeAnalysis.Editor.

[2016-03-11 16:41] svick commented on #13
@Porges A lot of that boilerplate could be also removed by using a `record` (part of #206).

[2016-03-11 16:49] mattwar commented on #5561
@vbcodec when you refer to devs do you mean the devs writing the aspects or the devs using the aspects?  Why do you think you won't be able to debug the code injectors?  You certainly will be able to debug them since they are just dotnet libraries. So, for example, you can debug the compiler and step through the individual code injectors. Or are you worried you won't be able to debug the injected

[2016-03-11 17:02] #9369 closed

[2016-03-11 17:27] Pilchie commented on #7046
Moving the rest of these to 2.0

[2016-03-11 17:31] davkean commented on #9666
https://github.com/dotnet/roslyn/issues/8975

[2016-03-11 17:31] #9666 closed

[2016-03-11 17:31] Pilchie commented on #9499
Related internal issue for references is 154302.

[2016-03-11 17:33] davkean commented on #9553
Agreed

[2016-03-11 17:33] #9553 closed

[2016-03-11 17:34] davkean commented on #9668
Dup of https://github.com/dotnet/roslyn/issues/7643

[2016-03-11 17:34] #9668 closed

[2016-03-11 17:46] heejaechang opened #9690 "[Test Failure] xUnit returned error code without errors in prtest/win/dbg/unit64 on PR #9685"
PR: [#9685](https://github.com/dotnet/roslyn/pull/9685) *Merge master into future* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/5098/

**Issue 1: xUnit returned error code without errors**
xunit produced no error output but had exit code 1

[2016-03-11 17:49] davkean commented on #9690
Dupe of https://github.com/dotnet/roslyn/issues/9490.

[2016-03-11 17:49] #9690 closed

[2016-03-11 17:52] Pilchie commented on #9671
Does this log include the new diagnostics you just added to try to help track this down?

[2016-03-11 18:08] heejaechang opened #9692 "[Test Failure] Build Timed Out (+1 more) in prtest/win/dbg/unit32 on PR #9687"
PR: [#9687](https://github.com/dotnet/roslyn/pull/9687) *Merge stabilization into future-stabilization* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/5126/

**Issue 1: Build Timed Out**
The build timed out, or was forcibly aborted after reaching the maximum length. View the log right before the flagged timeout message to see what was happening.

**Issue 2: One

[2016-03-11 18:11] davkean opened #9693 "Microsoft.CodeAnalysis.Editor.UnitTests.Rename.CSharp.ImplicitReferenceConflictTests.RenameMoveNextInVBCausesConflictInForEach failure"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_unit64/738/testReport/junit/Microsoft.CodeAnalysis.Editor.UnitTests.Rename.CSharp/ImplicitReferenceConflictTests/RenameMoveNextInVBCausesConflictInForEach/

Microsoft.CodeAnalysis.Editor.UnitTests.Rename.CSharp.ImplicitReferenceConflictTests.RenameMoveNextInVBCausesConflictInForEach (from Roslyn.Services.Editor.UnitTests2)

Failing f

[2016-03-11 18:17] dpoeschl commented on #9652
Another repro of #9308 (cc: @davkean @jasonmalinowski)

[2016-03-11 18:17] #9652 closed

[2016-03-11 18:17] jasonmalinowski commented on #9693
Also cross language, dupe of #9308.

[2016-03-11 18:18] #9693 closed

[2016-03-11 18:21] #8484 closed

[2016-03-11 18:22] srivatsn commented on #8484
This has been implemented

[2016-03-11 18:22] davkean commented on #9680
See dump: [internalshare]\public\davkean\GitToTfsMirror.dmp

[2016-03-11 18:24] davkean commented on #9445
How are we going with this? Are we making progress?

[2016-03-11 18:28] brettfo commented on #9671
It doesn't include the checks I added (verifying the current line is `End Sub`), but since the expected line has been case corrected but not yet un-indented it does tell us that the test is proceeding too quickly. When I'm back in on Monday I can look further into why the formatting and indention aren't synchronous like expected.

[2016-03-11 18:33] jasonmalinowski commented on #9688
@CyrusNajmabadi and @mattwar , this is an interesting one. If you recall, we ensured that the Visual Studio workspace raised all change events on the UI thread so bugs like this didn't happen. Except that puts the onus on the Workspace implementer to do that, since we use the scheduler of the workspace you registered your text with. Nobody would know to do that. We're either going to have to stren

[2016-03-11 18:33] tannergooding commented on #9445
A temporary workaround, which should bring the machines back online (which should be the highest priority). The actual issue appears to be MEF related, but there is not a machine available on which to repro the issue anymore (as opening VS resolves the issue, which is what was done to debug the test... WinDbg will need to be used if the issue occurs again).

However, if the issue is indeed a MEF b

[2016-03-11 18:33] jasonmalinowski commented on #9684
This is the same problem as #9688, where we are assuming that workspaces did register a task scheduler.

[2016-03-11 18:53] davkean commented on #9445
No, MEF cache issues are the one the number reason our package crashes in VS. Do not bring the machines back online until we have figured out the crash. Pull in Alex if you're having trouble figuring it out.

[2016-03-11 19:00] davkean commented on #9692
Dupe of https://github.com/dotnet/roslyn/issues/7825

[2016-03-11 19:00] #9692 closed

[2016-03-11 19:00] davkean commented on #7825
We hit this again: https://github.com/dotnet/roslyn/issues/7825

[2016-03-11 19:13] Pilchie commented on #9418
This was fixed in #9423.

[2016-03-11 19:14] #9418 closed

[2016-03-11 19:16] mattwar commented on #9688
I don't know anything about any workspace raising workspace events on the UI thread.

[2016-03-11 19:27] CyrusNajmabadi commented on #9688
Strengthening our code would be pretty hard.  Many features depend on events being synchronised on some context for correctness.

Are we saying workspace events can happen on any BG thread?  or will they at elast all happen on the same BG thread?  If hte former, then that's going to take some serious work to strengthen across all our features.

[2016-03-11 19:31] jaredpar opened #9696 "Portable compiler server should use actual IPC"
Today the portable compiler server implementation uses TCP sockets for communication.  This is not ideal as it opens communication across machines when the intent is for IPC in the machine.  This is just a proof of concept implemenation at this time and should be moved to domain sockets / named pipes instead.

[2016-03-11 19:42] balajikris commented on #9418
ha, `fixes #id` syntax in a PR didn't seem to close the bug automatically..

[2016-03-11 19:44] Pilchie commented on #9418
Only if it's merged into master (or in general, the repo's default branch).

[2016-03-11 19:45] KirillOsenkov commented on #9424
Yes, this seems to work:

    InterpolatedStringExpression(
                                        Token(SyntaxKind.InterpolatedStringStartToken))
                                    .WithContents(
                                        SingletonList<InterpolatedStringContentSyntax>(
                                            InterpolatedStringText()

[2016-03-11 19:56] AlekseyTs commented on #4828
@jrmoreno1 This issue is closed and it was about C#. If you can reproduce your problem with the current bits, please, open a separate issue. Include the invalid IL if you can. Thanks.

[2016-03-11 19:56] heejaechang commented on #5902
this is dup of https://github.com/dotnet/roslyn/issues/6809

[2016-03-11 19:56] #5902 closed

[2016-03-11 21:05] gafter commented on #9509
How is this any different than assigning to `CultureInfo.CurrentCulture` (or `Thread.CurrentCulture`) inside `Main`? Why would we add a language feature for something already adequately handled by an API?

So you're suggesting that code that assigns to `CultureInfo.CurrentCulture` (or `Thread.CurrentCulture`) would simply stop working?

I don't see how this helps or enables #9407. How is the compi

[2016-03-11 21:05] #9513 closed

[2016-03-11 21:12] #9529 closed

[2016-03-11 21:30] TyOverby opened #9697 "RemoveByValVb.UnitTests is failing"
http://dotnet-ci.cloudapp.net/job/roslyn_future-stabilization_win_rel_unit32/22/console

[2016-03-11 21:51] mattwar commented on #9688
Without any scheduler hack/magic, workspace events are always on thread pool, so any background thread.

[2016-03-11 22:04] CyrusNajmabadi commented on #9688
This seems concerning.  If that's the case, then you could get events in any sort of order.  For example, you might hear about the removal of a document/project *before* a modification event for that same entity.  It seems like this could get clients into all sorts of trouble.

[2016-03-11 22:08] Pilchie commented on #9688
It's not the case.  We create a [WorkspaceTaskScheduler](http://source.roslyn.io/Microsoft.CodeAnalysis.Workspaces/Workspace/Host/TaskScheduler/WorkspaceTaskSchedulerFactory.cs.html#12) that uses the current synchronization context, which will force the tasks to run on the UI thread in VS.

[2016-03-11 22:14] jcouv commented on #8625
The apparent behavior of the `SyntaxNode.Contains` was good, but the logic was incorrect. It is now fixed and a unittest was added.

Thanks @PaulEremeeff for reporting this issue.

[2016-03-11 22:14] #8625 closed

[2016-03-11 22:21] mattwar commented on #9688
Correct.  I was wrong before.  The workspace inherits the thread context it was created on.  Either way, it uses a task queue, so events won't arrive out of order.

[2016-03-11 22:24] nerai opened #9702 "Visual Studio does not format source code with implicitly typed array (`new[] {1,}`)"
**Version Used**:
Visual Studio 2015
14.0.24720.00 Update 1
.NET Framework 4.6.01055

**Steps to Reproduce**:

Enter this source code fragment in a C# program and format the document:

[code]

**Expected Behavior**:

Fragment formatted similar to this:

[code]

**Actual Behavior**:

Gets formatted like this:

[code]

That is, VS only formats the first and last part of the fragment. Anything betwee

[2016-03-11 22:26] jrmoreno1 opened #9703 "VB compiler emits bad IL"
**Version Used**:
Version 14.0.24720.00 Update 1 of Visual Studio

**Steps to Reproduce**:

Build below in Release Mode
[code]

Run peverify against resulting exe

According to dotPeek, the IL is:

[code]

**Expected Behavior**:
No errors reported.

**Actual Behavior**:
Stack underflow reported.  If the method is called, a InvalidProgramException occurs.

[2016-03-11 23:01] jmarolf opened #9706 "When analyzer or codefix throws, give file and span that were passed to analyzer or codefix"

[2016-03-11 23:15] tmeschter commented on #9706
File and span may not be the best option. For example, if the analyzer throws an exception in one of the compilation actions, there isn't really a file and/or span associated with that.

Presumably we could say what kind of action was being invoked (compilation, symbol, syntax, etc.) when the exception occurred. If it's a symbol action, specify what symbol was involved. If syntax, what syntax kind

[2016-03-11 23:18] CyrusNajmabadi commented on #9688
Ok, that makes a lot more sense. Thank goodness :)

[2016-03-11 23:50] davkean opened #9707 "Opt RemoveByValVB into the default test app.config so it avoids the EventListener bug"
http://dotnet-ci.cloudapp.net/job/roslyn_future-stabilization_win_rel_unit32/22/artifact/Binaries/Release/xUnitResults/RemoveByValVB.UnitTests.dll.out

[2016-03-12 01:02] davkean commented on #6851
We're on VS Update 1 now, so this should be no longer blocked.

[2016-03-12 01:04] balajikris commented on #6851
The blocked label has been removed and there is a PR out. Unfortunately, it seems that the PR needs more work.

[2016-03-12 01:47] AleksandrAlbert opened #9709 "SymbolKind.Preprocessing is not supported for symbol analyzer actions"
I am trying to create a roslyn code analyzer that will require any code written in a #region block to be indented, as follows:

Default Visual Studio behavior
[code]

Desired behavior
[code]

Having never written an analyzer before, my thoughts were that I would have to register a preprocessing symbol action in my DiagnosticAnalyzer
[code]

I get an error however saying that SymbolKind.Preprocessi

[2016-03-12 03:12] Pilchie opened #9710 "[PR Available] Naming Style: Analyzer treats constructor name as .ctor"
**Steps to Reproduce**:

1. Create a rule that all methods should be PascalCased, and set it as an error
2. Write a class with a constructor

**Expected Behavior**:
Ignore constructors, since their naming rule should come from the type.

**Actual Behavior**:
Violation flagged, and fix suggests renaming `.ctor`.

[2016-03-12 03:17] Pilchie opened #9711 "[PR Available] Naming style: Property accessors shouldn't be analyzed"
**Steps to Reproduce**:

1. Create a rule that Methods should be PascalCased and make violations an error
2. Write a property

**Expected Behavior**:
No violations.

**Actual Behavior**:
`get` and `set` are squiggled, and the fix suggests to rename `get_Property` or `set_Property`.

[2016-03-12 03:23] Pilchie opened #9712 "Provide a way for built-in analyzers to run on closed files."
**New General Issue**

We recently set all built-in IDE analyzers to not run on closed files. Let's use this issue to track adding the ability to re-enable running on closed files for built-in analyzers.

**Old Specific Issue**

**Steps to Reproduce**:
1. Write a naming style rule, and set the enforcement to warning
2. Write something that violates the rule
3. Close the file

**Expected Behavior**

[2016-03-12 03:26] Pilchie opened #9713 "Naming style: Should start with default settings for public types/members/etc matching Fx Design Guidelines"
Even if we don't do "schemes" like "Roslyn team", etc, we should ship with some default set of rules that suggest names according to the Framework Design Guidelines.

[2016-03-12 06:44] davkean commented on #9697
Dupe https://github.com/dotnet/roslyn/issues/9707

[2016-03-12 06:44] #9697 closed

[2016-03-12 11:58] heejaechang opened #9714 "CSharpReplIntellisense.4) Verify completion list for #load members"
PR: [#9683](https://github.com/dotnet/roslyn/pull/9683) *fixed analyzer mutating state when it shouldn't* by @heejaechang
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/5054/

**1 Test Failures:**
CSharpReplIntellisense.4) Verify completion list for #load members

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

CSharpReplIntellisense.xml

[2016-03-12 21:35] davkean commented on #9638
This is by design - we added some binding redirects to the pkgdef.

[2016-03-12 22:36] DavidArno opened #9717 "Question: could/will patttern matching expressions support void results?"
Currently - as I understand it - it is proposed that `switch` be extended to support pattern matching and that a new keyword `match` by added to support pattern matching expressions. Assuming a `Option<T>` union, their respective syntaxes might be:

[code]

However, Roslyn already supports, for example, `InvocationExpression` and `SimpleAssignmentExpression` for void expression bodies, such as
[co

[2016-03-13 00:26] HaloFour commented on #9717
https://github.com/dotnet/roslyn/issues/8821#issuecomment-186944869

[2016-03-13 01:38] KirillOsenkov opened #9718 "Consider publishing CSharpAllInOne.cs and CSharpAllInOneCompilable.cs and update for latest language features"
We still have CSharpAllInOne.cs and friends in the old closed repo. There is a lot of value in having a single file to quickly test out language feature support and a lot of people have been asking for it. I have a very old version published on my blog, however the latest source of truth has never been published on GitHub.

We should

- [ ] add CSharpAllInOne.cs and friends in the public Roslyn re

[2016-03-13 09:39] Unknown6656 commented on #9606
and what about the character 'backtick-character' (`` ` ``)? As far as I know, it does not have a great usage inside C#....
One could use it like this:

    int? a = null;
    if (`a) ....   // true
    int b = `a ? 1 : 2;

alternatively, I like the syntax of angled brackets, but it would be confusing:

    int? a = null;
    if ([a]) .... // true
    int b = [a] ? 1 : 2;

[2016-03-13 12:28] AdmiralSnyder commented on #2136
### `IEnumerable<something>` shorthand
I would really like to see a shorthand for `IEnumerable<something>` in Parameter and variable declarations.
I think, `something<>` would be nice.
this would

- make the declaration of Enumerables analog Arrays, thus a `something<>` would be _like_ a `something[]`, meaning there are multiple `something`s there that can be iterated

- remove lots of typing. IEn

[2016-03-13 12:32] alrz commented on #2136
@AdmiralSnyder
I like this suggestion, however, to be not be confused with open generics I'd prefer `T{}` for `IEnumerable<T>` and `{TKey: TValue}` for `IDictionary<TKey, TValue>` as long as it's not ambiguous.

[2016-03-13 13:16] Miista commented on #9517
Instead of deriving the name for the auto property, why not just use the name as it is?
This would avoid the whole thing with unusual casing rules.
It would also abstract over the distinction between ctor parameters and auto properties.

Instead of

    class Person(string firstName, string lastName);

You would have

    class Person(string FirstName, string LastName);

[2016-03-13 13:20] Miista commented on #9606
Let's not add syntactic sugar for the sake of adding syntactic sugar.

[2016-03-13 16:18] MouseProducedGames commented on #118
GameDev often involves initializing large, structured data to some default values. Therefore, I suggest the following pattern for consideration:

`ref largeData[i] = initData;`

This avoids the otherwise needless (in this scenario):

[code]

Granted, it only saves an extra line. But that extra line really doesn't have a reason to exist, and being able to assign directly to a reference to a locatio

[2016-03-13 16:37] svick commented on #118
@MouseProducedGames I don't understand, how is that different from just `largeData[i] = initData;`?

[2016-03-13 16:44] MouseProducedGames commented on #118
@svick: It's an assignment to a ref, not a copy-and-assign to value.

[2016-03-13 16:53] svick commented on #118
@MouseProducedGames Are you saying that `largeData` is an array of `ref`s? Because I don't think that's proposed here and that CLR can't support that.

If it's not an array of `ref`s, just a normal array of `struct`s, then you do need to copy the data.

[2016-03-13 16:58] MouseProducedGames commented on #118
@svick You're missing the point, and misunderstanding it.

This:
[code]
Is getting a reference to a location in an array and assigning data to that reference.

Likewise, this:
`ref largeData[i] =- initData`
Is also getting a reference to a location in an array and assigning data to that reference. Just without one extra, and unnecessary, line.

The bottom example is simply replicating the code in

[2016-03-13 17:05] HaloFour commented on #118
@MouseProducedGames

That wouldn't be possible unless the array was itself of `ref`s or pointers.  You can't avoid the copy, so `largeData[i] = initData` is as good as it gets.

[2016-03-13 17:08] MouseProducedGames commented on #118
@HaloFour Would it help if I gave you the equivalent C++ syntax?

Here:
`(&values[i]) = initData;`

I guarantee, this works exactly as I've actually stated.

And no, you don't need an array of refs to get a reference to a location in an array.

[2016-03-13 17:15] MouseProducedGames commented on #118
...Oh, I see the problem. You've latched on to this statement: "It's an assignment to a ref, not a copy-and-assign to value."

Look, that was in response to this statement: "@MouseProducedGames I don't understand, how is that different from just largeData[i] = initData;?"

And assigning to an indexer often has an extra copy into the setter of the indexer. Since you can ref return from a "this[inde

[2016-03-13 17:20] svick commented on #118
@MouseProducedGames So it's not about arrays, only about custom collections? For those, I believe that just having `ref`-returning getter (and no setter) would achieve what you want, no need for additional syntax.

[2016-03-13 17:23] HaloFour commented on #118
@MouseProducedGames

Ah, so `largeData` is some type with a custom indexer property, not an array?  That's where I think we were getting it confused.

While @svick does mention using a "readonly" property with a `ref` return as the type I am curious if C# would allow treating that as if it were a settable property.  Otherwise you would probably need to assign the `ref` to a local before you then a

[2016-03-13 17:31] MouseProducedGames commented on #118
@svick There's two threads of conversation here. One is about shortening this:

[code]
to this:
`ref largeData[i] // Do something with data without the need to copy to an explicit variable, when you don't need an explicit variable;`

The other is clarifying that assigning to ref can save you a copy to setter, to explain one reason why you'd want to operate on the ref directly.

[2016-03-13 17:33] MouseProducedGames commented on #118
Another reason for using a ref directly would be something like this:

[code]
Which is a bit needlessly long-winded compared to:
`ref largeData[i].oneFloat = 5f;`

[2016-03-13 17:35] svick commented on #118
@HaloFour The original proposal above seems to imply this would be allowed (in the context of methods, but I assume it would work on indexers too).

[2016-03-13 17:38] svick commented on #118
@MouseProducedGames I still think you don't need additional syntax for that. If `largeData[i]` is a `ref`-returning indexer with only a getter, then `largeData[i] = someValue;` and `largeData[i].oneFloat = 5f;` will do what you want. There is no need for the `ref largeData[i]` syntax.

[2016-03-13 17:42] MouseProducedGames commented on #118
@svick: Ah, I misunderstand your point. I thought you were talking about returning a copy from a getter, which left me quite confused.

However, if there's both a copy getter and a ref getter (for example, if the implementer wanted to make the usage explicit) then `ref values[i]` could make it explicit which one you're using. Other than that, though, I think you're right on that one, given that cl

[2016-03-13 18:08] DzonnyDZ opened #9719 "VS IDE just disappears when changing signature of VB method"
**Version Used**: VS 2015 U1 14.0.24720.00

**Steps to Reproduce**:

1. I have following header of VB function ``Public Function CreateConversionDelegate(Of TFrom, TTo)(conversion As Func(Of TFrom, TTo)) As Func(Of TFrom, TTo)``
2. I'm trying to add one more parameter in front of the ``conversion`` parameter
3. So I start typing new parameter name just between ``(`` and ``conversion``
4. No later

[2016-03-13 18:09] DzonnyDZ commented on #9719
Unfortunately Git HUB does not allow me to attach the event log even when zipped.

[2016-03-13 19:20] MouseProducedGames commented on #118
@svick Final update, I think. Looks like the devs came to the same syntax you did; I think I was tripped up by trying to apply the same sort of syntax as I would in C++.

Namely:
[code]

Overall, perhaps allowing a "ref" qualifier, even if pointless, might ease a transition from C++; OTOH, the above format is exactly what I tried to do with array variables when I first learned C# with, IIRC, eithe

[2016-03-13 21:11] DavidArno commented on #9717
@HaloFour,

Yes I'm aware of @grafter's opinion on the matter. I feel his position is ill-thought out though given that `void` expressions are already supported for other language feature via `InvocationExpression`. The pattern-matched `switch` syntax is a train-wreck of a new feature, so I see no logical reason not to support `void match`.

[2016-03-13 21:16] paulomorgado commented on #2136
@AdmiralSnyder,

`something<>` is the syntax for generic types:

    var generic = typeof(something<>);

while `something<other>` a concrete type.

    var c = new something<other>();

So that syntax is out, anyway.

[2016-03-13 21:49] orthoxerox commented on #9517
@Miista that will simplify a lot of internal plumbing for records, but every single FxCop in existence will throw a tantrum when it sees the resulting assembly.

[2016-03-14 00:47] vbcodec commented on #5292
The original() is good and ismple, but how we call original other method (for example Methos2) from replaced Method1, if Method2 also was defined in replacement class ? Maybe there should be additional kewyord called original, so we could write:

      public replace void Method1()
      {
           Console.WriteLine(“entered Method1”);
           original(); // or original.Methos1();

[2016-03-14 01:30] HaloFour commented on #9717
@DavidArno So you've already made your argument and at least one member of the LDM team has weighed in.  I don't see what repeating that argument will buy you considering that you haven't added anything new.  The team clearly has a different idea as to the direction of the implementation of pattern matching in C# than you do.  You're welcome to your opinion that this is a train wreck.  I'm not sur

[2016-03-14 01:57] markhurd commented on #9626
I assume the runtime "crash" is expected as there's no match case for X yet.

[2016-03-14 02:09] markhurd commented on #9599
I've had the similar thoughts with documentation: why can't I refer to private code in XML comments? The answers are similar.

[2016-03-14 02:18] bmay2 commented on #557
It looks like "Y = 0" is being included as the end of a SimpleAssignmentExpression for c when it should be its own AnonymousObjectMemberDeclarator.

I'd like to continue with this, but I'm a little overwhelmed and not sure how or where to proceed. I've stepped through the CompilationWithAnalyzers and other Diagnostics, but that doesn't seem right. Any recommendations for background reading or othe

[2016-03-14 03:19] AArnott opened #9721 "VS crashes when I paste this into a C# file"
**Version Used**: Visual Studio 2015 24720.00 (Update 1)

**Steps to Reproduce**:

1. Copy and paste [the content of this file](https://gist.github.com/AArnott/cb65e7e7718350d268e5) into an empty .cs document open in VS2015.
2. Select [lines 6-13](https://gist.github.com/AArnott/cb65e7e7718350d268e5#file-c-roslyncrashbug-cs-L6-L13) and copy to clipboard.
3. Select [line 19](https://gist.github.com

[2016-03-14 04:42] Thaina commented on #6505
@HaloFour Then another possiblity is `as` keyword

[code]

Another functionality I would like compiler to have is, if we check null and try to use that object it should throw error. Could this be compiler capability without CLR support?

such as
[code]

On the other hand
[code]

[2016-03-14 06:13] Miista commented on #9517
And that is a problem because?

[2016-03-14 09:48] yaakov-h commented on #1981
Won't this remove the method in question from an exception stack trace?

Is there a way that this optimisation could be achieved whilst still preserving the stack trace?

[2016-03-14 09:55] paulomorgado commented on #9599
Besides @svick's points, why would you want to poke/look into my privates?

[2016-03-14 10:00] paulomorgado commented on #9517
Because written code is a social interaction between code writers and **FxCop** and **StyleCop** validate the rules of engagement, @Miista.

[2016-03-14 11:55] HaloFour commented on #6505
@Thaina The `as` operator returns a reference or `null`, not a `bool`, so it couldn't be used directly in a condition like that.  Given that pattern matching will already cover these use cases I don't see why another syntax would be necessary.

Non-nullable reference type (#227, #7445) flow analysis may be able to catch the suspicious use of `null` in your example and issue a warning, assuming `Ge

[2016-03-14 12:29] alrz commented on #9717
@DavidArno The **only** expression that *might* return `void` is *invocation-expression* (naturally), the fact that you are using them in a `match` (or a ternary) doesn't make them return `void`.

Your example could be written like this:
[code]
Which doesn't make sense and produces a compile-time error. Same is true for `match` because C# is not an expression-based language — statements and expres

[2016-03-14 12:59] DavidArno commented on #9717
@alrz,

`InvocationExpression` is used for wrapping `void` statements in an expression and I assume was created for `void` statements in expression-bodied methods. I see no reason, other than "we don't want to" for why `match` can't be parsed to an `InvocationExpression` if that expression is `void`. Do you of another reason?

[2016-03-14 13:07] alrz commented on #9717
It doesn't wrap anything, it is the production rule for a method invocation.

It was there since version 1.0.

Because it's not an invocation expression. I think you are misunderstanding C# grammar.

[2016-03-14 13:38] Thaina commented on #6505
@HaloFour We all know that if we use `a as type` as it would return null. But I think in special case inside `if` block we could add feature to cast and check at the same time instead of just make it null there which has no meaning in if anyway

If we just `if(a as typeB)` normally it would be syntax error. I just propose that so we could make it that this syntax will become type transformer like

[2016-03-14 13:44] m0sa commented on #5561
As mentioned in https://github.com/dotnet/cli/issues/1812#issuecomment-195695358, this feature is going be the underlining provider for aspnet core view precompilation. Because of this fact, I think this should be high priority. Aspnet core won't see any serious usage without view precompilation, simply because it promotes compile-time errors from view files to run-time errors.

[2016-03-14 14:16] miloush commented on #9702
To me it seems that Roslyn avoids to touch anything between { } of array declarations, delegates or object initializers, or even call arguments split on multiple lines, perhaps because people align them in weird way and don't like that to be broken.

I think some formatting needs to be happening here too, and there should be options to configure such formatting.

[2016-03-14 14:16] Miista commented on #9517
I just don’t see why FxCop or StyleCop should dictate how the language should evolve. Shouldn't FxCop and StyleCop adapt to how C# evolves, not the other way around?

[2016-03-14 14:31] alrz commented on #9517
I think something like this were proposed,
[code]
But I didn't see anything like that recently, perhaps it's discarded and the following *is* the accepted convention,
[code]
To be honest, it's overkill to write a *record* like that and repeat every member's name twice.

[2016-03-14 14:58] dsaf commented on #9717
Maybe there could be a standard ```Unit``` type to cater to more functional C# coding style?

https://msdn.microsoft.com/en-us/library/system.reactive.unit(v=vs.103).aspx

http://www.introtorx.com/content/v1.0.10621.0/04_CreatingObservableSequences.html

[2016-03-14 15:02] dsaf commented on #9717
It would of course lead to proliferation of libraries that would not provide ```Action<>``` overloads at all thus breaking the language ideomacy.

[2016-03-14 16:13] DavidArno commented on #9717
@alrz,

I had assumed that `InvocationExpression` was a way of mapping statements to expressions, but the clue was in the name. I've updated the original comment to reflect what I was talking about therefore. Thanks.

[2016-03-14 16:27] tannergooding commented on #9721
FYI. This does not appear to repro in the Update 2 RC

[2016-03-14 16:34] davkean commented on #8970
tag @Pilchie @srivatsn for this week.

[2016-03-14 16:37] davkean commented on #9707
Hit this again: http://dotnet-ci.cloudapp.net/job/roslyn_future-stabilization_win_rel_unit32/22/.

[2016-03-14 16:39] davkean opened #9723 "Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Classification.SyntacticTaggerTests.TestTagsChangedForEntireFile failed"
http://dotnet-ci.cloudapp.net/job/roslyn_future_win_rel_unit32/130/testReport/junit/Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Classification/SyntacticTaggerTests/TestTagsChangedForEntireFile/

Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Classification.SyntacticTaggerTests.TestTagsChangedForEntireFile (from Roslyn.Services.Editor.CSharp.UnitTests)

Failing for the past 1 build (Since Failed

[2016-03-14 16:48] davkean commented on #9602
Hit this again: http://dotnet-ci.cloudapp.net/job/roslyn-internal_future-stabilization_win_vsi_p2/26/

[2016-03-14 16:49] davkean commented on #7441
Hit this again: http://dotnet-ci.cloudapp.net/job/roslyn-internal_future_win_vsi_p2/171/

[2016-03-14 17:03] amcasey commented on #4775
There are some additional notes in internal bug 161523.  In particular, consider leveraging https://github.com/ericstj/buildtools/tree/packageInfra/src/Microsoft.DotNet.Build.Tasks.Packaging/src.

[2016-03-14 17:06] #9624 closed

[2016-03-14 17:09] Pilchie commented on #6863
Can you investigate here, since @dpoeschl is out this week?

[2016-03-14 17:10] Pilchie commented on #9602
Can you look at this since @dpoeschl is out this week?

[2016-03-14 17:11] Pilchie commented on #7369
Can you look at this since @CyrusNajmabadi is out this week?

[2016-03-14 17:26] davkean opened #9727 "Trigging completion list in TypeScript crashes VS"
Stack:
[code]

We believe that this was introduced by: https://github.com/dotnet/roslyn/pull/9279

[2016-03-14 17:28] davkean commented on #9727
This is likely affecting both 1.2 and 2.0.

[2016-03-14 17:36] Pilchie commented on #9721
Yep, but I can repro on U1. Looking to see what the issue was.

[2016-03-14 17:36] jasonmalinowski commented on #9602
Roger.

[2016-03-14 17:36] jasonmalinowski commented on #6863
Roger.

[2016-03-14 17:38] gafter commented on #6505
@Thaina Since the language allows overloading the boolean operators `&`, and indirectly `&&`, it is possible your proposal would change the meaning of code such as the following that currently compiles and runs.

[code]

[2016-03-14 17:46] gafter commented on #9626
@AlekseyTs That is a different problem from the compiler crash. It is possible the compiler crash has been fixed.

[2016-03-14 17:54] #8967 closed

[2016-03-14 17:54] #8966 closed

[2016-03-14 18:02] bbarry commented on #6505
`Student` could have an implicit conversion to `bool` as well couldn't it?

Point is there are lots of nasty little edge cases when it comes to changing semantics of any existing syntactically valid code.

[2016-03-14 18:06] Pilchie commented on #9638
Hey @jasonmalinowski,  @davkean says that this is by design.  Right now, we've excluded this from setup authoring is that safe?

On the other hand, is it safe to just install it even if it has no effect for now to avoid an exclusion that might come back to bite us later?

[2016-03-14 18:17] jasonmalinowski commented on #9638
So here's the back story:

1. The telemetry VSIX was missing the .pkgdef redirects we need to be able to F5 this project like we do with all our existing projects.
2. I added the redirects so I could debug into it as a part of a bug.
3. Since this assembly is not any part of any public API, there's no requirement for us to have the binding redirects there, since there's no redirecting needed. The

[2016-03-14 18:18] #9638 closed

[2016-03-14 18:36] natidea commented on #8434
The Analyzer node issue is now fixed, and is not directly related to this. However this is likely related to the work to determine exchange type dependencies #9096

[2016-03-14 19:36] KevinH-MS commented on #9555
@jmarolf is it possible to get the binaries from the output folder of the Jenkins build that failed?  I think it's going to be near impossible to diagnose this without that.  At the point of failure, ibcmerge's metadata reader is trying to look up the signature for a particular token in a particular module.  Those values aren't reproducible across builds, so I can't really reason about what's gone

[2016-03-14 19:36] jmarolf opened #9729 "Write analyzer to give error if we access a tree without first checking if SupportsSyntaxTree is false"

[2016-03-14 19:52] tannergooding opened #9731 "Compiler does not correctly interpret surrogate pairs when used in an identifier"
The C# specification states that an `identifier` can start with or contain anything matching `letter-character`, which is defined as:
[code]

However, the compiler does not appear to correctly interpret some characters which match the above categories if they are part of a surrogate pair.

For example the sumerian character `𒅴` is categorized as 'OtherLetter' (matching 'Lo' above) when processed t

[2016-03-14 19:52] tannergooding commented on #9731
FYI. @jaredpar, @dotnet/roslyn-compiler

Also, FYI @brettfo who helped discover the issue

[2016-03-14 19:55] TyOverby commented on #9731
@dotnet/roslyn-compiler I think this is a PRI-1 issue.
@davkean Can we get this in through escrow?

[2016-03-14 19:58] AlekseyTs commented on #9731
Is this a regression?

[2016-03-14 20:01] tannergooding commented on #9731
@AlekseyTs, not a regression. It repro's back to the v2.0 native compiler. I don't expect this is a priority (especially since it hasn't been reported or discovered outside a random lunch discussion).

[2016-03-14 20:08] Pilchie commented on #9721
This appears to be an issue in the lexer.  Stack in U1:

[code]

[2016-03-14 20:37] Pilchie commented on #9719
I was able to repro this by typing `something As` before the `conversion` parameter below:

[code]

From @DzonnyDZ's event log which I got by email, the stack was:
[code]

[2016-03-14 21:36] jaredpar opened #9734 "Crash in CLSCompliance checking"
Repro code:

[code]

Repro Steps: Place the caret before `conversion` and type `something As`.  The result is a crash with the following stack trace:

[code]

[2016-03-14 22:07] CyrusNajmabadi commented on #7369
FYI, this is likely due to how we sort items in FullyQualify.  We weight htings with doubles.  It's likely there's some sort of stability issue sorting these.

[2016-03-14 23:12] KevinH-MS commented on #9600
:+1: to @leppie 's analysis.  I think the issue here is just the static "cache".  I'm not sure what the overall goals for your API are, but perhaps this cache could somehow be attached to the ```TypeGenerationResult``` and explicitly passed to subsequent calls to ```TypeGenerator.GenerateType``` (to avoid the static)?

[2016-03-14 23:12] #9600 closed

[2016-03-14 23:32] KevinH-MS commented on #9555
I can't find the "artifacts" folder for either of these failures.  Talked with @davkean, and if we can try to fish out binaries for one of these failures, I can take a look, but failing that, I've got nothing to go on.

[2016-03-14 23:32] #9555 closed

[2016-03-14 23:35] khyperia commented on #9721
I believe this was fixed due to #6844 (similar issue: #8480 ). In particular, the "DP" line in the gist contains the string "81e352855994081499", enough numbers in the "exponent" to trigger the overflow/crash.

[2016-03-14 23:36] gafter commented on #2136
FYI, we've just updated this worklist of C# 7 language features with our current thinking.

[2016-03-15 00:03] gafter opened #9745 "Test issue"

[2016-03-15 00:03] #9745 closed

[2016-03-15 00:04] gafter commented on #9745
@dotnet/ldm FYI, I created a github alias for the LDM. I'm using it here for the first time.

[2016-03-15 00:47] benhongh commented on #2136
@gafter
I see that nullability tracking has been removed from the list. Is it definitely dead?

[2016-03-15 00:56] agocke commented on #7755
Resolved by #9635

[2016-03-15 00:56] #7755 closed

[2016-03-15 00:59] HaloFour commented on #2136
@gafter Nice.  Very curious to see how pattern matching, records and tuples shake out towards the C# 7.0 release.

One suggestion, would it be too much to have a Wiki page with a table of considered features with links to proposals and issues and a category as to how much interest there is in the feature as well as a guestimate as to where it might fall in the language roadmap?  Trying to keep tra

[2016-03-15 01:09] davkean opened #9747 "Standardize naming convention for unit test projects and automatically pull in XUnit.targets"
We should automatically pull in Roslyn.Toolsset.Xunit.targets for tests. I propose that we automatically do this based on a naming convention; if the project ends in "Tests" we automatically pull it in.

[2016-03-15 01:13] yaakov-h commented on #2136
@gafter what happened to non-nullable reference types?

[2016-03-15 01:26] Pilchie commented on #9747
We run tests based on them matching *.UnitTests*.dll, so I think that's a better match.  Note that there are analyzer samples checked in that use mstest but have the .Test.dll naming pattern.

[2016-03-15 02:38] #9707 closed

[2016-03-15 05:30] JoshVarty commented on #8962
Alright, I've got it working. I can compile code, run it, generate deltas and apply them to the running process. The current implementation is [pretty sloppy](https://github.com/JoshVarty/MinimalDebuggerForEnC/blob/8f3410d5e36ce402cb9bbfeac3908d9e0ac1ba69/MinimalDebuggerForEnCWithRoslyn/Program.cs#L48-L96), but it works.

Couple of notes:
- Importing the `SymReaderFactory.cs` code was a bit of a h

[2016-03-15 06:12] genlu commented on #9496
I have an updated script, but trying to fetch/pull from `origin` on the VM failed to authenticate, where can I get the account info?

[2016-03-15 10:51] miloush commented on #9731
I did run into this issue in the past (with different characters). The reason I did not push it through was because the C# specification (version 5.0 anyway) actually says

That is the only Unicode standard mentioned in references. Your character was not added to Unicode until 5.0. In fact, there were _no_ characters above 0xFFFF in version 3.0.

On the other hand,

does not say anything about ide

[2016-03-15 12:39] JoeyFR commented on #206
I like this proposal quite a lot, especially the record feature, but it makes me nervous. People managed to create Big Balls of Muds in the enterprise by painfully maintaining these records by hand to create anemic domain models. Now these people will think : "If they provide first-class support fort that, I must be right". I'm pretty sure that the first use case of this feature won't be data tran

[2016-03-15 12:42] KDWOOD commented on #9087
Greetings, I recently opened a ticket with MS on this very issue.  I understand that this is not slated for fix until Update-3.   What is the anticipated timeline for Update-3?   It was very disappointing that this bug was missed and even more disappointing to learn that a quick fix is not available.

[2016-03-15 13:29] MgSam commented on #2136
Thanks for the update. I'm excited that "generators" are being considered for C# 7.0. Previously there were indications this wouldn't happen for several more versions of the language. I believe getting it in sooner is a better decision because it has the potential to be a very high-impact feature.

One comment- I think generators are not a very good name for this feature given they have a complete

[2016-03-15 14:57] jaredpar opened #9750 "Mac build reporting wrong number of tests"
Our Mac builds are misreporting the number of tests in Jenkins.  Claiming that ony 9 tests ran vs. the hundreds that actually ran.  Need to look into this.

[2016-03-15 15:23] Pilchie commented on #9727
Fixed by #9732 (1.2) and #9742 (2.0 Preview).

[2016-03-15 15:23] #9727 closed

[2016-03-15 15:56] genlu commented on #9270
Done in #9583

[2016-03-15 15:57] #9202 closed

[2016-03-15 16:03] davkean commented on #9642
This looks like an IDE feature request.

[2016-03-15 16:04] davkean commented on #9580
This has been resolved.

[2016-03-15 16:04] #9580 closed

[2016-03-15 16:04] davkean commented on #9579
This has been resolved.

[2016-03-15 16:04] #9579 closed

[2016-03-15 16:12] alrz commented on #4294
Couldn't this be integrated into `let`?
[code]
It helps to use a single `else` for all fallible patterns,
[code]

[2016-03-15 16:14] DustinCampbell commented on #9642
We need to figure out a plan for this.

[2016-03-15 16:16] #9684 closed

[2016-03-15 16:20] DustinCampbell commented on #9702
I think we may need an option to handle this behavior. It's also tracked by #779. I'll figure out a plan here.

[2016-03-15 16:23] alrz commented on #2136
Too bad this one is going away too. While pattern matching does help in common scenarios like `if(o is T t)` I think `match` without ADTs won't add much value.

[2016-03-15 16:49] jmarolf opened #9756 "Put all scripts in Roslyn-SVCS in a central folder"

[2016-03-15 17:18] jmarolf commented on #9670
[code]

[2016-03-15 17:21] jmarolf commented on #9670
dupe of https://github.com/dotnet/roslyn/issues/8178

[2016-03-15 17:22] jmarolf commented on #8178
Can you link to the PR that fixed this issue?

[2016-03-15 17:24] HaloFour commented on #2136
@alrz I'll make the wild assumption that it's more a matter of which features they think they can accomplish in the C# 7.0 time frame and that pattern matching et al. will be metered out over several releases, including ADTs.

[2016-03-15 17:29] Pilchie commented on #7064
This is in now.

[2016-03-15 17:29] #7064 closed

[2016-03-15 17:29] Pilchie commented on #7065
This is in now.

[2016-03-15 17:29] #7065 closed

[2016-03-15 17:30] Pilchie commented on #7062
This is in now.

[2016-03-15 17:30] #7062 closed

[2016-03-15 17:31] Pilchie commented on #7071
Moving this to 2.0 (Preview) to continue working on it.

[2016-03-15 17:36] jaredpar opened #9757 "Build should verify no IVT between compiler and workspaces"
In order to maintain sanity when shipping the compiler and workspaces layer separately there are no uses of `InternalsVisibleTo` between the layers.  Today that is enforced by human review.  Given it's essentially to shipping correct code we should enforce this at build time as well.

[2016-03-15 17:41] #9670 closed

[2016-03-15 17:44] dpoeschl opened #9758 "IDE0006 is defined twice in future"
See: https://github.com/dotnet/roslyn/blob/future-stabilization/src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs

Not sure whether this will actually break anything, but running fixers against unexpected diagnostics (from an unrelated analyzer) can certainly cause failures.

[2016-03-15 17:59] davkean opened #9759 "Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Diagnostics.RemoveUnnecessaryUsings.RemoveUnnecessaryUsingsTests.TestFixAllInDocument failed"
http://dotnet-ci.cloudapp.net/job/roslyn_future-stabilization_win_rel_unit64/22/testReport/junit/Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Diagnostics.RemoveUnnecessaryUsings/RemoveUnnecessaryUsingsTests/TestFixAllInDocument/

Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Diagnostics.RemoveUnnecessaryUsings.RemoveUnnecessaryUsingsTests.TestFixAllInDocument (from Roslyn.Services.Editor.CSharp

[2016-03-15 17:59] davkean commented on #9759
@Pilchie Who do you think owns this?

[2016-03-15 18:01] Pilchie commented on #9759
@mavasani @heejaechang ?

[2016-03-15 18:01] jmarolf commented on #9759
https://github.com/dotnet/roslyn/issues/8178?

[2016-03-15 18:06] alrz commented on #2136
@HaloFour I don't really care for any of the features that currently mentioned in the "some interest" bucket, not that they woudn't be useful at all, they just seem to be very diverse and unrelated. I'd rather have a near complete set of features around functional programming style at my disposal so it can directly affect my coding paradigm. Following a "theme" could be really advantageous if you

[2016-03-15 18:23] davkean opened #9760 "Our Dispose pattern is too noisy"
When implementing an interface that implements IDisposable, we implement the following:

[code]

This is waay too much noise, can we simplify this and have it respect preferences (I want underscores prefix for fields, and no regions)?

[2016-03-15 18:35] heejaechang commented on #9454
fixed https://github.com/dotnet/roslyn/pull/9683

[2016-03-15 18:35] #9454 closed

[2016-03-15 18:48] mavasani commented on #9759
Yes, it seems this is the new code that @gafter added as part for fixing #8178. This one should go to the compiler team.

[2016-03-15 18:53] heejaechang opened #9761 "automatically detect missing metadata reference being available"
**Version Used**:
Dev14 update 2

**Steps to Reproduce**:

1. Open a solution with a project that has missing metadata reference (reference exist in project but actual dll is missing from disk)
2. once solution is opened and shows many errors due to missing reference, copy dll to right location where project is expecting.

**Expected Behavior**:
Roslyn/project system recognize the dll being availa

[2016-03-15 19:03] paul1956 opened #9762 "What happened to "Process" in VB?"
**Version Used**:
14.0.24720.00 Update 1, ,NET 4.6.01038
Microsoft Visual Studio Enterprise 2015
Version 14.0.24720.00 Update 1
Microsoft .NET Framework
Version 4.6.01038

Installed Version: Enterprise
Architecture and Modeling Tools   00322-80000-00000-AA013
Microsoft Architecture and Modeling Tools
UML® and Unified Modeling Language™ are trademarks or registered trademarks of the Object Manageme

[2016-03-15 19:19] HaloFour commented on #9762
It's in the assembly `System.dll` in the namespace `System.Diagnostics`, where it's been since .NET 1.1.

You don't mention what kind of project you're trying to create but I would imagine it's one where either `System.dll` isn't referenced by default or one where `Process` is not accessible.  I don't believe that you are permitted to access that class from Universal applications.

[2016-03-15 19:29] paul1956 commented on #9762
@HaloFour It's a VSIX project that has been working since Roslyn 1.0 and when I went back to it today (after being gone a month) it no longer compiles. The application has not changed but I did lots of updates to Visual Studio that happened since 2/16/2016, I assume one of them changed something to do with system.dll

[2016-03-15 19:30] gafter commented on #2136
@benhongh No, non-nullable reference types are not dead. They are actively being worked on. They simply won't be done in time for C# 7. We need a lot of experience with a prototype to make sure we have the right shape of the feature.

@alrz I agree regarding algebraic data types. This is the current thinking but it is subject to change. Part of the problem is that we are over-committed. If ADTs do

[2016-03-15 19:34] davkean opened #9763 "'New' preselection prepends namespace when preselected type name matches containing method name"
![image](https://cloud.githubusercontent.com/assets/1103906/13791369/0473ef8a-eaaa-11e5-9a6f-b4f791ba6e99.png)

[code]

[2016-03-15 20:10] davkean commented on #7825
And again: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/5207/consoleFull#-2115948695fabbf33-db14-4d24-b37d-77f64eb92e7a

[2016-03-15 20:11] davkean commented on #9759
@jaredpar Can we triage this soon? This is a new failure in future-stabilization.

[2016-03-15 20:13] davkean commented on #9763
Make note the simplifier offers to simplify it after I select the full qualified name.

[2016-03-15 20:17] gafter commented on #9759
Looking at this now.

[2016-03-15 20:19] gafter commented on #8178
This was fixed in #8836

[2016-03-15 20:19] #8178 closed

[2016-03-15 20:27] #6077 closed

[2016-03-15 20:28] AlekseyTs commented on #6077
@tannergooding Please verify.

[2016-03-15 20:35] weshaggard commented on #9338
@jaredpar we need this dependency broken otherwise we have to pull this closure into the shared framework which I would like to avoid.

[2016-03-15 20:37] jaredpar commented on #9338
@nguerrera this is currently assigned to you.  Will you have time to take care of this soon or do I need to assign it out?

[2016-03-15 20:51] davkean commented on #7825
And again: http://dotnet-ci.cloudapp.net/job/roslyn_future-stabilization_win_dbg_unit32/22/consoleFull#-468716515fabbf33-db14-4d24-b37d-77f64eb92e7a

[2016-03-15 20:59] nguerrera commented on #9338
I'll take a look ASAP.

[2016-03-15 21:06] davkean commented on #9247
We've hit this once, haven't seen it since. Let's reopen if we hit again.

[2016-03-15 21:06] #9247 closed

[2016-03-15 21:16] panopticoncentral commented on #1891
+1

[2016-03-15 21:26] nguerrera opened #9769 "Improve JSON string escaping for error log"
This is tracking follow-up work after a pending fix to #9338: #9773.

- [x] ~~~Avoid intermediate StringBuilder and send escaped output directly to the destination.~~~
- [x] Stop escaping '/': it is is optional per JSON spec and several users have expressed that they don't like the way '\/' looks.
- [x] port escaping unit tests from the JsonDataContractSerializer
- [x] remove references to JsonDat

[2016-03-15 21:37] josejmoran opened #9770 "Default constructors C#"
**Version Used**: C# 6

**Steps to Reproduce**: The code below is part of the code we get when we create a project for MVC 5 in ManageController.cs

The code for the controller should be a default controller.  All classes that we create should inherit a default controller that initialize all instance variables.

        private readonly UserManager<ApplicationUser> _userManager;
        private re

[2016-03-15 21:44] genlu commented on #9496
I have updated and tested the insertion script. It doesn't sync/build on a per branch basis since I don't see a point of doing that.

@jmarolf @heejaechang Can either of you take a look at it and close this issue?

[2016-03-15 21:44] josejmoran opened #9771 "Property definition C#"
**Version Used**: C# 6

**Steps to Reproduce**: When we create a class we need to add the properties and always add {get; set;}

It will be great if we only enter the property access level, type and name and the {get; set;} is only needed when we need to control something in the getter or setter of a property.

Now  we need to do this: **public int BookID { get; set; }**

It will be great if we do

[2016-03-15 21:50] josejmoran opened #9772 "Interpolated strings in C# 7 proposed use of @varname"
**Version Used**: C# 6

**Steps to Reproduce**: It is very cool that we are able to use @varname when creating views to access the code behind values.  It is great!  It will be awesome if we can use it also in the interpolated strings like this: Console.Writeline("The price is: @varname:5:2"); So we don't have to put the $ in front of the string and enclose the variable with the {}.

If the @ sign

[2016-03-15 21:54] nguerrera commented on #9338
@weshaggard @jaredpar Opened PR #9773 but have some TODOs noted before we should merge. What is the timeline for getting this merged. Is end-of-week OK?

[2016-03-15 21:58] vcsjones commented on #9770
C# 6 doesn't have default constructors. Are you proposing this should be the default once C# 7 ships (even if it does ship with default constructors)?

[2016-03-15 22:01] jeremymeng opened #9774 "Datatip should not show up for identifiers with the same names but within other contexts"
**Version Used**:

**Steps to Reproduce**:

1. Create a C# console project with the following code
[code]

2. F10 to step debugging
3. Hover mouse over the "args" in the Test() method signature

**Expected Behavior**:
Datatip shouldn't show

**Actual Behavior**:

![image](https://cloud.githubusercontent.com/assets/7583839/13795542/b37d5cc8-eabe-11e5-8727-96cb0a1d1d48.png)

[2016-03-15 22:01] srivatsn commented on #8936
Assigning to Manish to find someone to work on this once @davkean's change is in.

[2016-03-15 22:02] srivatsn commented on #7825
Once we have Larry's watchdog process, we can get dumps for these cases to investigate if the deadlock is in xunit code.

[2016-03-15 22:09] alrz commented on #2136
It's not like that ADTs are something somehow irrelevant and could be added as an *extension* later, I'd say they are part of the the whole pattern-matching capability and for the sake of completeness (pun intended) they should be considered at the same time — I wish.

By the way, I'm happy to see non-nullable reference types are postponed because the proposed implementation was not satisfying at

[2016-03-15 22:16] jaredpar commented on #9759
FYI @natidea this will likely end up with an escrow change required.

[2016-03-15 22:20] VSadov opened #9775 "Compiler captures fixed/pinned locals into async state machine in Debug"
Reported by customer using Update1,
but reproducable in current master

**Steps to Reproduce**:

[code]

**Expected Behavior**:

There pinned local introduced by the fixed statement should stay a pinned local, otherwise ptr may be pointing to random movable memory and cause AVs

MoveNext ()

/o+

[code]

**Actual Behavior**:
/o-

[code]

[2016-03-15 22:40] svick commented on #9771
`public int BookID;` is already a valid syntax to declare a field, so this certainly wouldn't be backwards-compatible.

[2016-03-15 22:43] svick commented on #9772
`Console.Writeline("The price is: @varname:5:2");` is already valid syntax to output the string `The price is: @varname:5:2`, so this wouldn't be backwards-compatible. (The same applies to `$`.)

[2016-03-15 23:19] heejaechang opened #9777 "Tool that generates RoslynLanguageServices.wxs need to include KeyPath="Yes" for pkgdef files"
see this.
https://microsoft.sharepoint.com/teams/DD_Tenets/Acquisition/_layouts/15/WopiFrame2.aspx?sourcedoc={7d98ff50-19aa-4406-b9ca-000e7ea56073}&action=edit&wd=target%28Authoring%2Eone%7C11C4B80B%2D57B1%2D4DC0%2D982F%2DDBDF7A7231C1%2FWhat%20is%20KeyPath%3F%7C8D490882%2DBD45%2D4C98%2DA6CA%2D51E38F2860B6%2F%29

and comment from Raja from this PR.
https://devdiv.visualstudio.com/DefaultCollection/

[2016-03-15 23:52] ManishJayaswal commented on #8936
@davkean please let me know once your change is in and how we can leverage it, if we at all can.

[2016-03-16 00:03] josejmoran commented on #9770
Yes, I think it will be a good idea to add it to C# 7

On Tue, Mar 15, 2016 at 5:59 PM, Kevin Jones <notifications@github.com>
wrote:

--
Regards,

Jose J. Moran
336-347-8688

[2016-03-16 00:05] josejmoran commented on #9771
I just tried it and it worked. Sorry about that.

On Tue, Mar 15, 2016 at 6:40 PM, Petr Onderka <notifications@github.com>
wrote:

--
Regards,

Jose J. Moran
336-347-8688

[2016-03-16 00:10] josejmoran commented on #9772
Now we have to do this: Console.Writeline($"The price is {variableName}"), I suggest that it will be great if we could do it like this: Console.Writeline("The price is @variableName")

I think for C# 7 it will be great to have it.  It is simpler and we don't have to be opening and closing the braces. A single character in front of the variable will be enough.

[2016-03-16 00:15] josejmoran commented on #9770
I mean if we create a class with 3 fields I should get a default constructor for free so I don't have to add code for it unless I need to add some custom logic.  So I can call that default constructor and that constructor will have the logic to set the instance variables.

[2016-03-16 00:15] josejmoran commented on #9770
I made a mistake in the initial

[2016-03-16 00:15] #9770 closed

[2016-03-16 00:25] jmarolf commented on #9496
@genlu where is it?

[2016-03-16 00:28] AnthonyDGreen commented on #1891
I approve of making it public. I'm assuming the name won't be CompilerInternal.

[2016-03-16 01:22] davkean commented on #9096
Where did we land with this @ManishJayaswal?

[2016-03-16 01:36] HaloFour commented on #9772
@josejmoran As @svick pointed out, that is already a valid C# string, so to make the change as you suggested would be a breaking change to the language.

Also, the notation of string interpolation had already been debated in open during the design of C# 6.0.  *Originally* it did lack a prefix and instead used an escape form for the argument holes, not unlike Apple Swift's syntax:  `Console.WriteLi

[2016-03-16 02:03] ufcpp commented on #9731
@miloush
https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/Unicode%20Version.md

[2016-03-16 02:16] davkean commented on #9366
Hit this twice more:
http://dotnet-ci.cloudapp.net/job/roslyn-internal_future_win_rel_eta/171/testReport/(root)/CSharpIntellisense/Dismiss_on_Select_All/
http://dotnet-ci.cloudapp.net/job/roslyn-internal_master_win_dbg_eta/lastCompletedBuild/testReport/(root)/CSharpIntellisense/Dismiss_on_Select_All/

[2016-03-16 02:45] jmarolf commented on #6863
:point_up: stealing from @jasonmalinowski

[2016-03-16 03:16] MgSam commented on #9771
@josejmoran I recommend reading up on the differences between a [field and a property](http://stackoverflow.com/questions/295104/what-is-the-difference-between-a-field-and-a-property-in-c).

[2016-03-16 03:29] jamesqo opened #9784 "Proposal: Type extension methods"
It's common to wish there was a static method defined in one of the built-in classes. For example, let's say you wanted to write your own `Array.IsNullOrEmpty`. You would most likely define an `Arrays` (a la Java) or `ArrayUtilities` class like this:

[code]

While this works, it would be nicer to have the illusion that this is part of the `Array` class itself. We should add some type of 'extensio

[2016-03-16 03:31] nertim commented on #3716
Any idea on when this will be available? Our team just upgraded to VS 2015 and would really appreciate the fix for not adding "simplified" namespaces.

[2016-03-16 03:38] davkean commented on #9445
I investigated this. Both were caused by Test Impact extension being deployed to the RoslynDev hive with different dependencies.

Sigh.

These were supposed to be cleaned @tannergooding, what happened?

[2016-03-16 03:48] #9445 closed

[2016-03-16 03:57] davkean commented on #7825
This build is possible another: http://dotnet-ci.cloudapp.net/job/roslyn_stabil_win_rel_unit32/193/consoleFull#1304221255fabbf33-db14-4d24-b37d-77f64eb92e7a.

There were three test assemblies that failed to finish:
Roslyn.Services.Editor.CSharp.UnitTests.dll
Roslyn.Services.Editor.VisualBasic.UnitTests.dll
Roslyn.Compilers.VisualBasic.Emit.UnitTests.dll
Roslyn.Compilers.VisualBasic.Semantic.UnitTe

[2016-03-16 04:00] davkean commented on #7825
@mavasani Did you look at the dump at \\<team public share>\jasonmal\Dumps\Roslyn\7610\  when you investigated this? If not, can we assign this out to figure out if this an xunit deadlock.

[2016-03-16 04:03] genlu commented on #9496
I updated the `PerformInsertion.ps1` in place.

[2016-03-16 04:04] davkean commented on #9496
Do we check that file in? If not, we should.

[2016-03-16 04:22] davkean opened #9785 "VSI runs have started running unit tests"
For example: http://dotnet-ci.cloudapp.net/view/Roslyn/job/dotnet_roslyn_prtest_win_vsi_p0/483/consoleFull#-16758747638101fac1-935e-4556-95f9-7a0e25ca0b52.

[code]

These runs used to take ~40 minutes, they are now taking over > 1 hour.

[2016-03-16 04:23] davkean commented on #9785
tag @jaredpar Did you think this was caused by your changes?

[2016-03-16 04:26] davkean commented on #9785
We used to have around ~140 tests run per VSI run, it looks like we're running over 60,000

[2016-03-16 04:28] davkean commented on #9490
This has been fixed in #9782.

[2016-03-16 04:28] #9490 closed

[2016-03-16 04:29] davkean commented on #8936
I merged my change in: https://github.com/dotnet/roslyn/pull/9782

[2016-03-16 04:35] davkean opened #9786 "Sign our binaries a little smarter to shave off build time"
@jasonmalinowski says:

[2016-03-16 04:38] jmarolf opened #9787 "RunTests.exe causes IOException when outputting html"
xunit appears to have a race on the `HTML.xslt` file that causes tests to fail when producing html output

[code]

[2016-03-16 04:40] jmarolf commented on #9785
fixed with https://github.com/dotnet/roslyn-internal/pull/702

[2016-03-16 04:47] KevinH-MS commented on #7492
@0x084E the debugger team has provided some detail as to the reason for this change in behavior at:  https://blogs.msdn.microsoft.com/visualstudioalm/2016/02/12/using-the-debuggernonusercode-attribute-in-visual-studio-2015/

It appears that you may be able achieve the old behavior by either:

1. Turning off "Just My Code" (not sure if this will work, but reading between the lines, it might)
1. Set

[2016-03-16 04:47] HellBrick commented on #9702
Introducing an option for this was also mentioned by #8269. Seems like a fairly common idea =)

[2016-03-16 04:48] KevinH-MS commented on #7492
Woops, one additional note--the registry key will only work if you have Visual Studio 2015 Update 2 installed.

[2016-03-16 04:54] davkean commented on #9787
Not sure understand. Is this representing the issue that the file was locked or the fact that the test run failed because of file was locked. If its the latter, it seems somewhat the correct behavior.

[2016-03-16 04:56] paul1956 commented on #9762
@HaloFour My question is what broke and how to I fix it? Below is what is referenced, System.DLL was never directly referenced but the App worked.

![image](https://cloud.githubusercontent.com/assets/12789369/13802406/ad017f7a-eaf8-11e5-895a-3f398bb0604f.png)

[2016-03-16 05:23] mavasani commented on #9688
So I am not sure how this got resolved as by design as no one answered @jasonmalinowski original question: How can an external workspace which gets created on a background thread ensure that it's task queue/scheduler uses the UI context and not the current context? [This](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Workspace.cs,65) line in Workspace's ctor forces the creat

[2016-03-16 06:07] heejaechang opened #9788 "BasicEditAndContinue.xml timeout"
PR: [#9751](https://github.com/dotnet/roslyn/pull/9751) *Merge stabilization into master* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p0/483/

**Issue 1: Build Timed Out**
The build timed out, or was forcibly aborted after reaching the maximum length. View the log right before the flagged timeout message to see what was happening.

Bounty

[2016-03-16 06:07] heejaechang opened #9789 "[Test Failure] CSharpEditAndContinue failed"
PR: [#693](https://github.com/dotnet/roslyn-internal/pull/693) *Merge stabilization into master* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_eta/855/

[2016-03-16 06:31] davkean commented on #9789
@srivatsn Was this the same one you ran into?

[2016-03-16 06:32] davkean commented on #9789
That link is wrong - that's not an EnC failure:

[2016-03-16 06:33] davkean commented on #9787
tag @jaredpar Looks like this was broken in the unification.

[2016-03-16 06:40] davkean commented on #9788
This is the screen that was showing on the timeout: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p0/483/artifact/Open/Binaries/Release/Screenshots/2016-03-16_02-14-46_11%20-%20Modal%20Dialog.png.

[2016-03-16 06:44] orthoxerox commented on #2136
@alrz did you mean writing a whole new programming language? :wink:

[2016-03-16 06:51] davkean commented on #9789
I can't find the issue you referring to, open it if you find it.

[2016-03-16 07:00] DavidArno commented on #9784
Step 1: rename your method to `IsArrayNullOrEmpty()`
Step 2: add `using static ArrayUtilities` to the head of any class/struct using this method and then you can just use it as:
[code]

That covers both your desire for clarity and removes the need for a language change.

[2016-03-16 07:53] heejaechang opened #9790 "BasicGenerateTypeDialog.xml failure"
PR: [#693](https://github.com/dotnet/roslyn-internal/pull/693) *Merge stabilization into master* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_eta/861/

**2 Test Failures:**
BasicGenerateTypeDialog.Generate Type Dialog VB-to-C#
BasicGenerateTypeDialog.Generate Type Dialog Check_Folders_Populating

**Issue 1: Individual TAO Test Failure**
Failing integration

[2016-03-16 07:54] alrz commented on #9784
Dup of #996

[2016-03-16 08:22] 0x084E commented on #7492
@KevinH-MS Thanks for your response (and thanks to the debugger team for writing the blog entry). I will wait for the final Update 2 and give it a try.

[2016-03-16 08:23] alrz commented on #2136
@orthoxerox I had my fight over at #7445 but it seems that it'd be rather unlikely to happen.

[2016-03-16 09:20] CompleteBrains commented on #7034
@DustinCampbell
Thank you, I missed it too.

[2016-03-16 11:05] #9784 closed

[2016-03-16 11:08] josejmoran commented on #9772
The old way using the place holder was changed for the interpolated string,
I think we can agree that it will be fine to do this proposed change if it
makes the code read better and looks more elegant.

Change is always welcome when it is a better way of doing what we love to
do, write beautiful code.

The same way it worked when the change was done to get interpolated strings
into C# 6, the same

[2016-03-16 11:23] AdamSpeight2008 commented on #9772
@josejmoran
Backwards compatibility in regards to syntax is a tenet that is highly unlikely to be broken  in public release.

**Question**:
 How the compiler differenitate between
* `"The price is @price"` **just a string**`and
* "The price is @price"` **your string type**?

[2016-03-16 11:32] bkoelman commented on #9760
I would prefer to have two fixers here: one for "Managed and unmanaged" and one for "Managed only". Then they should generate code without commented-out code blocks, but call into partial methods such as `DisposeManaged` and `DisposeUnmanaged` that compile away when left as-is.

Depending on the type of project, I never have a need to dispose unmanaged resources. For example, ASP.NET sites or serv

[2016-03-16 11:51] josejmoran commented on #9772
We may be able to accomplish this by letting the compiler *inspect the
string*.  If it finds @var1 for example it will replace it with the value
from memory if it does not find a single @ then it is a simple string and
just put it out as is.

We may be able even initially to allow the methods *Write* and *Writeline*
in the *Console* class to take care of that task, this way, I think will be
able t

[2016-03-16 11:53] var1 commented on #9772
Hello!!
You find var1.
Congratulations!

[2016-03-16 12:21] josejmoran commented on #9771
I am talking about the property.  Let's focus on the main idea: Not having
to write a constructor to set all the instance variables if we can get it
for free.

The default constructor will be available to us and we can use it without
having to write the code.  Only if we need some special code in the getter
or setter we will need to create a new constructor.

On Tue, Mar 15, 2016 at 11:17 PM, Sam

[2016-03-16 12:29] #9785 closed

[2016-03-16 12:29] #7369 closed

[2016-03-16 12:40] dee-see opened #9792 "Is there any publicly available way to reach the CSharpMetadataAsSourceService?"
This is a question, not an issue.

I'm trying to figure out how to reach the `CSharpMetadataAsSourceService` class from non-Roslyn code but it seems like all the factories and interfaces around it are internal.

Is this code publicly unreachable by design or is there a public facing class wrapping all of this somewhere?

[2016-03-16 12:48] josejmoran commented on #9771
Thanks for the observation of difference between field and property.  I just made a mistake there.  I meant property.

[2016-03-16 12:48] jmarolf commented on #9790
**BasicGenerateTypeDialog.Generate Type Dialog VB-to-C#**
![image](https://cloud.githubusercontent.com/assets/9797472/13812535/05942a66-eb3a-11e5-93ee-3da9aa8cae5d.png)

[code]

**BasicGenerateTypeDialog.Generate Type Dialog Check_Folders_Populating**
![image](https://cloud.githubusercontent.com/assets/9797472/13812625/6ebc5cca-eb3a-11e5-8e26-ecef607a16f7.png)

[code]

[2016-03-16 12:50] jmarolf commented on #9790
[code]

[2016-03-16 12:51] sharwell commented on #9760
The following code is incorrect:

[code]

Specifically, the call to `GC.SuppressFinalize(this)` should *always* be present. Otherwise, a derived type which adds unmanaged resources to a class implementing `IDisposable` might fail to call `GC.SuppressFinalize(this)`. The only exception to this (at least in user code) is cases where the type is sealed, the dispose logic is placed directly in `Dispos

[2016-03-16 12:59] HaloFour commented on #9772
@josejmoran

I'm sorry, this proposal is most certainly dead-on-arrival.  I can only repeat the arguments that I've already made.

1.  The team will definitely never consider any change that will result in redefining existing legal syntax.  Breaking existing code is a massive no-no.
1.  String interpolation has already shipped.  These syntax debates have already happened.  The side that didn't wan

[2016-03-16 13:01] josejmoran opened #9793 "Elimination of the use of semicolon at the end of every statement in C# 7"
**Version Used**: C# 6

**Steps to Reproduce**:
We all have to put the ; at the end of every statement.  The compiler complain if we don't.  Could it be possible to eliminate the need of adding the semicolon?

It is a dramatic request, but I think at this point we can get rid of it.  The compiler knows when we missed it, it give us an error.  Since it knows, could the IDE analyzer add it automatic

[2016-03-16 13:10] alrz commented on #9793
Dup of #5355 #8071 #2974 whichever you like.

Also https://help.github.com/articles/searching-issues/

[2016-03-16 13:14] alrz commented on #9771
I didn't know that.

[2016-03-16 13:24] josejmoran commented on #9772
I think your observation is wrong.  If you compare the change that was done
when the interpolated string was added to C# 6 were breaking changes.  And
when we have the opportunity to not having to type the $ in front of every
string and {} it does add value to it.  It is cleaner, more beautiful code,
less typing.  What makes this proposal different from the one when the
interpolated string was add

[2016-03-16 13:35] HaloFour commented on #9772
@josejmoran

Well, you have a right to your opinion, but you will be disappointed.

interpolated string was added? None.

Simple, your proposal breaks existing code.  C# 6.0's syntax does not.  Even if string interpolation was never shipped in C# 6.0, even if the feature was never considered up until this point, your proposal could never be adopted as is.  Try to come up with a new syntax, one tha

[2016-03-16 14:17] UnoSD opened #9794 "[Proposal] While scoped variable"
Would be nice to be able to declare variables in a while condition and keep the scope internal:

[code]

Maybe:
[code]

So we avoid declaring a variable outside the loop and the garbage collector can claim it as soon as we get out of the loop.

[2016-03-16 14:20] josejmoran commented on #9772
Hey, this is just a proposal. I don't think there is no need to fight back
because I proposed something.  I was just using the VS and thought it will
be nice not having to type the $ in front and the braces {}.  It is a new
idea because I did not see the discussion you are talking about.

I think it will be better to have interpolated strings the way I said
because it feels better, more comfortabl

[2016-03-16 14:30] eduelias opened #9795 "Stack Overflow on 1024+ fluent chained call"
**Version Used**:
csc bundled with Visual Studio 2015 Professional Edition

**Steps to Reproduce**:
1. Create a fluent chained call like SomeClass.AddProperty(new Property() {...})
2. Chain 1024 or more .AddProperty(new Property() {...}) calls
3. Try to compile

**Expected Behavior**:
Compile without casting Stack Overflow

**Actual Behavior**:
Throws Stack Overflow on compiler

[2016-03-16 14:32] HaloFour commented on #9794
@UnoSD

That's why we have `for` loops:

[code]

This is not the case.  Variable scope within a method is a trick of the compiler.  To the CLR all local slots are scoped for the entire method.  If you leave a reference allocated in a local that reference will not be eligible for collection until that method exits.  You'd have to explicitly set the local to `null`.

The exception to this rule is wh

[2016-03-16 14:34] svick commented on #9772
To me it is obvious that it would be bad to have it the way you say, *because it would be a breaking change*.

To make it very clear: `$"The price is {price}"` is *not* valid C# 5.0 code, which is why adding `$`-prefixed interpolated strings to C# 6.0 was not a breaking change. On the other hand, `"The price is @price"` *is* valid C# 6.0 code, which is why adding this syntax to C# 7.0 would be a b

[2016-03-16 14:50] josejmoran commented on #9772
I just don't see the point of the argument.  Would you say not having to add a semicolon at the end of every statement in C# 7 is a breaking change? Can it be done? I think is achievable.  I already proposed that too.  It will be great if we can have that, right?

These are just ideas, proposals, wish list for C# 7.  I think they are good proposals, I just don't understand why someone come at it l

[2016-03-16 14:57] HaloFour commented on #9772
@josejmoran

Yes, this is described in the three other existing proposals which have all been closed, as well as the discussions that happened on [CodePlex](http://roslyn.codeplex.com/discussions/571190).

Any and all proposed invite discussion and debate.  Proposals with glaring problems will definitely receive very immediate criticism.  You can take that criticism and use it to improve on your p

[2016-03-16 14:59] HaloFour commented on #9771
to write a constructor to set all the instance variables if we can get it
for free.

Could you update the proposal to flesh out this concept?  There's nothing there that describes constructors or field/property initializers.

[2016-03-16 15:09] AdamSpeight2008 commented on #9772
@josejmoran
There's nothing preventing you from forking the compiler, then implementing the proposal.

[2016-03-16 15:20] josejmoran commented on #9771
When I check the code generated by ASP.NET is see this:

    public class AccountController : Controller
    {
        private readonly UserManager<ApplicationUser> _userManager;
        private readonly SignInManager<ApplicationUser> _signInManager;
        private readonly IEmailSender _emailSender;
        private readonly ISmsSender _smsSender;
        private readonly ILogger _logger;

*

[2016-03-16 15:24] josejmoran commented on #9771
Sorry, this is a different proposal.  My bad.

The property one is related to that when I type* prop tab tab* I always get
for example *private Name {get; set;}* by default.

My suggestion is that I should get: *private Name;* as the default and if I
need to add some logic to the getter and setter then I myself add the
necessary get{} or set{} I need.

Thanks

On Wed, Mar 16, 2016 at 11:19 AM, Jos

[2016-03-16 15:30] josejmoran commented on #9772
thanks Adam.  This is what I am talking about, offering options, adding to
the ideas, pointing any possible flaws, but not shutting down or
diminishing the value of it.

I know I can do that.  If I can I may do it.  I know some of the things we
propose sometimes are not easy to accomplish, but hey look where we are now
and how far we've got.

Thanks.

On Wed, Mar 16, 2016 at 11:10 AM, Adam Speight

[2016-03-16 15:31] davkean opened #9800 "[Stabilization] Microsoft.CodeAnalysis.EditAndContinue.EditSession failed"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_future-stabilization_win_vsi_p0/lastCompletedBuild/testReport/(root)/BasicEditAndContinue/Locals_window_updates_after_local_gets_its_type_updated_during_EnC/

MESSAGE:
Type was never loaded: Microsoft.CodeAnalysis.EditAndContinue.EditSession
+++++++++++++++++++
STACK TRACE:
Server stack trace: at Roslyn.Hosting.Test.VerifyInstanceCountAction.CheckT

[2016-03-16 15:46] heejaechang opened #9801 "[Test Failure] MSBuild Error in prtest/win/dbg/unit32 on PR #9798"
PR: [#9798](https://github.com/dotnet/roslyn/pull/9798) *Merge future-stabilization into future* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/5254/

**Issue 1: MSBuild Error**
error MSB3026:  Could not copy "C:\Users\dotnet-bot\.nuget\packages\Microsoft.CodeAnalysis.Test.Resources.Proprietary\1.2.0-beta1-20160105-04\lib\net45\Microsoft.CodeAnalysis.Test.Resou

[2016-03-16 15:57] davkean commented on #9801
Duplicate of https://github.com/dotnet/roslyn/issues/8975

[2016-03-16 15:57] #9801 closed

[2016-03-16 16:00] genlu commented on #9496
I think none of the daily tasks related scripts are checked in right now. I talked with @jmarolf about moving al scripts out of their current locations into a centralized folder (that is not in the local repo), but I think checking them in makes sense too.

[2016-03-16 16:10] UnoSD commented on #9794
Such a silly request from me; I even knew I could do that with for. I'll close it.

[2016-03-16 16:10] #9794 closed

[2016-03-16 16:15] Przemyslaw-W opened #9802 "Mef imports don't work inside CodeRefactoringProvider descendant"
Hi,

I have CodeRefactoringProvider descendant class decorated with ExportCodeRefactoringProvider attribute. It is properly imported by VS - I can see its entries in lightbulb. However, all properties decorated with [Import] attribute are not populated.

[2016-03-16 16:51] svick commented on #9772
The way you're asking that question makes it sound like you don't understand what a breaking change is. It's not subjective: if a code compiled in a previous version of the compiler and new version of the compiler either makes it stop compiling or makes it behave differently, then it is a breaking change.

That means that:
* `$`-prefixed interpolated strings were not a breaking change, because `$`

[2016-03-16 17:02] josejmoran commented on #9772
If you think about it most of the time the changes we make break code.  We
just make it so it doesn't.
I am pretty sure this change can be done.  Basically what you are saying is
that this change will never be implemented because it will be a breaking
change?  I don't think so.

But I will just leave it at that.  This is just a proposal that I know how
I can implement if I have too.

Thanks.

On W

[2016-03-16 17:09] HaloFour commented on #9772
@josejmoran

just make it so it doesn't.

I'm going to have to side with @svick, you don't understand what "breaking change" means.

No, most of the time changes to the C# language do not break existing code.  While the number isn't zero, it's definitely very low single digits, and those specific cases are very esoteric.  The team goes to some great lengths to ensure that it will not happen.  This

[2016-03-16 17:26] amcasey commented on #6072
@tmat Can you please verify my assessment that this was a dup?

[2016-03-16 17:27] amcasey commented on #3939
@KevinH-MS Can you please verify?

[2016-03-16 17:29] amcasey commented on #4811
@genlu Can you please verify this?

[2016-03-16 17:30] amcasey commented on #5390
No reports of further repros.

[2016-03-16 17:31] amcasey commented on #5393
This was really @dpoeschl's fix, so I'm "qualified" to verify it.

[2016-03-16 17:31] amcasey commented on #5423
@genlu Can you please verify this?

[2016-03-16 17:32] amcasey commented on #5924
@heejaechang Can you please verify that this is/was a dup?

[2016-03-16 17:34] heejaechang commented on #5924
@amcasey log is already gone. so can't verify. I will close it since no info is available now.

[2016-03-16 17:34] heejaechang commented on #5924
@amcasey ah, you already closed :)

[2016-03-16 17:35] amcasey commented on #8452
@tmat Can you please verify that you haven't seen this recently?

[2016-03-16 17:37] genlu commented on #9314
Is there a way to know if it's safe to unmark "Keep Indefinitely" for a build?

[2016-03-16 17:38] amcasey commented on #6698
Re-tested today.

[2016-03-16 17:39] amcasey commented on #6689
@rchande Can you please verify that `PrintOptions.MemberDisplayFormat` works for you?

[2016-03-16 17:52] bbarry commented on #9795
Can confirm I am able to crash VS2015 with the following program:

    class Foo {
        private IEnumerable<Property> _properties;
        public IReadOnlyCollection<Property> Properties => new ReadOnlyCollection<Property>((_properties ?? Enumerable.Empty<Property>()).ToList());

        public Foo AddProperty(Property p) {
            return new Foo {_properties = (_properties ?? Enumerable.Em

[2016-03-16 17:54] #8734 closed

[2016-03-16 17:54] #8737 closed

[2016-03-16 18:00] amcasey commented on #5924
@heejaechang If you agree that this issue is a dup of #5927, you can just add the "Verified" label and unassign yourself.  If you disagree, please reopen.

[2016-03-16 18:01] amcasey commented on #5927
There's still a skipped test.

[2016-03-16 18:09] jaredpar commented on #9787
That XSLT file is such a pain.  I've already had to change xunit sources to not take an exclusive read lock on the file.  Looks like we're doing it implicitly as a part of a copy command we run now.  Blarg.

[2016-03-16 18:10] heejaechang opened #9804 "[Test Failure] VSOptionPagesUI.xml (VSOptionPagesUI.Show the CSharp IntelliSense option page UI) failed"
PR: [#705](https://github.com/dotnet/roslyn-internal/pull/705) *Merge future-stabilization into future* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p3/237/

these test failures are first time I saw.

[2016-03-16 18:11] heejaechang opened #9805 "[Test Failure] Individual TAO Test Failure in prtest/win/vsi/p1 on PR #703"
PR: [#703](https://github.com/dotnet/roslyn-internal/pull/703) *Merge master into future* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p1/226/

**1 Test Failures:**
BasicWinForms.Change control property in code

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

BasicWinForms.xml

[2016-03-16 18:20] svick commented on #9771
If you don't actually want to write a property, and instead you want to write a field, then don't start with `prop`<kbd>Tab</kbd><kbd>Tab</kbd>, just write the field directly. Properties have some boilerplate code (the `{ get; set; }` part), so it makes sense to have a code snippet for writing them.

If you really want a snippet to write a field (whether confusingly called `prop` or, say, somethin

[2016-03-16 18:30] davkean commented on #9805
Dupe of https://github.com/dotnet/roslyn/issues/7643.

[2016-03-16 18:30] davkean commented on #7643
Hit this again: https://github.com/dotnet/roslyn/issues/7643

[2016-03-16 18:31] davkean commented on #7643
@Pilchie @DustinCampbell Can we please assign this to someone?

[2016-03-16 18:43] genlu commented on #5562
@amcasey Could you please verify and close this?

[2016-03-16 18:55] KirillOsenkov opened #9807 "MSBuildWorkspace should pass IgnoreMissingImports for more resilient project loading"
MSBuildWorkspace is currently less resilient than Visual Studio when opening projects/solutions. For instance this method:
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces.Desktop/Workspace/MSBuild/ProjectFile/ProjectFileLoader.cs,8004494733583279
should be calling a different overload of the Project constructor (the one that accepts ProjectLoadSettings: https://msdn.microsoft.com/en-us/

[2016-03-16 19:07] genlu commented on #8121
@tmat could you verify and close this please?

[2016-03-16 19:17] genlu commented on #6663
The help text for Up-Arrow and Down-arrow is fixed by #8371.

[2016-03-16 19:18] genlu commented on #6397
@amcasey Could you verify this please?

[2016-03-16 19:23] genlu commented on #9202
@srivatsn Could you please verify this? (After @jasonmalinowski 's change on feature flag get into d14rel)

[2016-03-16 19:23] tannergooding commented on #9445
They were cleaned. Its likely that a stale job or PR ended up running on the machine after hand though.

[2016-03-16 19:37] JohnHamby opened #9810 "Synthesize helper type for dynamic analysis payloads of methods of generic types"

[2016-03-16 19:39] JohnHamby opened #9811 "Accurately identify test methods for dynamic analysis"

[2016-03-16 19:42] JohnHamby opened #9812 "Compute MVIDs for dynamic analysis instrumentation less often"

[2016-03-16 20:17] genlu commented on #9496
Anyway, this is fixed. let's use #9544 to track the issue of how we deal with all those scripts.

[2016-03-16 20:17] #9496 closed

[2016-03-16 20:28] jaredpar opened #9813 "Deterministic builds need a mechanism to control PDB path in PE"
Today the full path of the emitted PDB is embedded into the PE file.  This particular path is intentionally excluded from our standard path mapping code.  Hence this makes it impossible to create identical builds unless:
1. All builds are sourced from identical directory names.
2. Builds do not emit a PDB.

Neither of these is a palatable option.  Not having this capability means we can't easily s

[2016-03-16 20:34] davkean commented on #9496
:+1:

[2016-03-16 20:37] davkean commented on #4174
@srivatsn This is the bug tracking the re-enablement of don't load C# in VB and vice versa tests .

[2016-03-16 20:38] Pilchie commented on #3716
It's not currently scheduled to a milestone.

[2016-03-16 20:46] lgolding commented on #7295
Yes, IOperation's ConstantValue property is now Optional<object>, which is what was required. Verified.

[2016-03-16 21:15] DavidArno commented on #9793
@alrz, #2974 is unrelated to this. However it is indeed a duplicate of #5355 and #8071

[2016-03-16 21:16] DavidArno commented on #9793
@alrz,

Since you seem to be the font of all knowledge on previous requests, is there one specifically related to reducing the noise around read-only properties already, ie suggestions for `SomeProp { get }` or `SomeProp get;`?

[2016-03-16 21:17] davkean commented on #9786
Here you go.

[2016-03-16 21:19] davkean commented on #321
I'm guessing your changes, we're just going to won't fix this?

[2016-03-16 21:20] jaredpar commented on #321
This should be closed.  It was left open by mistake.  Our tests don't run in parallel within assemblies now.

[2016-03-16 21:20] #321 closed

[2016-03-16 21:20] davkean commented on #9491
See this PR: https://github.com/dotnet/roslyn/pull/9782 which effectively does it for project system tests. It shouldn't be hard to mimic this for the entire tree.

[2016-03-16 21:26] brettfo commented on #9241
Currently tracking via #9671.

[2016-03-16 21:43] alrz commented on #9793
Since #8071 is itself closed as a duplicate of #2974 per [this comment](https://github.com/dotnet/roslyn/issues/8071#issuecomment-173643608), so no, it's directly related. I mentioned it for the sake of discussion on that thread.

I'm not "font of all knowledge on previous requests", it's the god-given gift of ability to search issues.

For that particular novel idea to save one signle character y

[2016-03-16 21:53] DavidArno commented on #9793
@josejmoran,

There are languages that are designed to work without semicolons. There are languages that mandate them. Then there are languages that open up a whole world of nasty "gotchas" when they make them optional as it leads to inconsistent syntax. Getting rid of semicolons completely isn't feasible, so if you want to use C#, unless you are prepared to introduce problems, you are stuck with

[2016-03-16 21:57] DavidArno commented on #9793
@alrz ,

I wouldn't want to write `{ get private set }`, or `{ get; private set }` as that would allow a class to sneakily modify parameters and thus break the immutability pattern. The fact that @gafter doesn't see the benefit of reducing one character of noise doesn't surprise me, but thanks anyway.

[2016-03-16 22:01] jaredpar commented on #8975
Can you provide a pointer to information on `UseCommonOutputDirectory`?  Not sure what that implies.

[2016-03-16 22:05] vbcodec commented on #9793
Maybe there is need for totally opposite option: automatically add semicolon to the code by editor (autocomplete). So when you press enter, then editor add semicolon at end of line. One keystroke less per line.

Partially eliminate semicolons probably do not make sense, as it will spark lot of confusion.

[2016-03-16 22:11] DavidArno commented on #9793
@vbcodec,

Now that makes a lot of sense.

[2016-03-16 22:18] alrz commented on #9793
@vbcodec Then you wouldn't be able to format chained methods like this,
[code]

[2016-03-16 22:19] Thraka commented on #9772
Everyone keeps talking about the breaking change but I don't think anyone has actually demonstrated it. Maybe that will help?

@josejmoran, If my program has this:

[code]
If I compile and run this for both C# 6 and 7:

| Language | WriteLine Result |
| ---- | ---- |
| C# 6 | `@myname is andy` |
| C# 7 | `andy is andy` |

Why would anyone do this? There are lots of logging routines that will start

[2016-03-16 22:25] Thraka commented on #9793
@alrz @vbcodec Since this would be an editor change, if you started the next line with a `.` the editor should automatically erase the previous semicolon and continue.

However, with how close the `;` and `ENTER` keys are, I don't know how much time this actually saves and thus becomes a useful feature.

[2016-03-16 22:34] alrz commented on #9793
@Thraka It's not just `.` what about `?` and pretty much everything else. because C# doesn't give a damn about whitespace at all. Perhaps you should specify in what situation it *should* insert a semicolon. That becomes rather complicated just to save one single god damn keystroke.

[2016-03-16 22:37] Thraka commented on #9793
@alrz I agree, I don't think it's really useful at all. I'm just helping @vbcodec's flesh out his suggestion with ways to detect intent. So it would include any sort of character that would continue the line if the `;` was missing.

[2016-03-16 22:58] DavidArno opened #9816 "Proposal: supply a new string suffix that mixes the functionality of @ and $"
Currently, with C# 6, if I want to construct a relative path using a variable, I have two choices:

[code]

It would be useful to have a third option that acts like `@".."` save for string interpolation, so that I could write something like:

[code]

[2016-03-16 23:20] bbarry commented on #9816
`$@"..\..\someDir\{directory}"`

?

[2016-03-16 23:20] JohnHamby opened #9819 "Integrate dynamic analysis instrumentation with lowering"

[2016-03-16 23:31] DavidArno commented on #9816
In my head at least, `$@` seems ugly compared with `$$`. I'm really not fussed over the syntax though: it's the functionality that matters to me. So I'd be happy with `$@`. :grin:

[2016-03-16 23:36] vbcodec commented on #347
I think tuples should be implemented in easy and limited way - v1.0:
- use System.Tuples as vehicles (solves cross assembly compatibility)
- enable casting / interpreting System.Tuple <---> Tuple at language level (ignoring names)
- names defined in tuple, are just aliases for Item1, Item2, ... Reflected tuple will be System.Tuple.

This is enough for most needs.

[2016-03-17 00:15] DavidArno commented on #9795
If ever there was a need for a `CS9999 - WT*&$ are you doing!?!!" compilation error, it would be here...

[2016-03-17 00:16] svick commented on #9816
@DavidArno Then you're in luck, `$@` already works (I assume that's what @bbarry was implying).

[2016-03-17 00:21] DavidArno commented on #9816
@svick,

Wow, I'm impressed: the language team implemented that one fast! :smile:

That's really weird though: I've seen absolutely no documentation of this feature anywhere. Not complaining though, as it's perfect...

Anyway, thanks for the info. Time to close...

[2016-03-17 00:21] #9816 closed

[2016-03-17 00:24] HaloFour commented on #347
@vbcodec The only real difference between what you've described and what is proposed is that instead of using `System.Tuple` and it's kin that new `struct`-based tuples would be added to the BCL and the language feature would depend upon that.  This would reduce the number of allocations and improve performance in most scenarios.  Although it might be nice if the compiler could fallback to `System

[2016-03-17 01:53] vbcodec commented on #347
@HaloFour
In my variant, count tuple names are limited to 7 (max Items in System.Tuples). Practically this is enough.

For improve performance (limit lengthy allocations), there are some possibilites but require modifications. Instead of using System.Tuple, other generic class TuplePool must be used. Objects of these class are pooled, and may be recycled. This class overrides Finalize() method, an

[2016-03-17 01:57] HaloFour commented on #347
@vbcodec

Sure, the number of elements of the tuple would be limited to the arity of the target tuple type.

As for "tuple pools", that seems way overcomplicated and a source of contention, not to mention would still require compiler and BCL support to actually utilize.  Struct tuples eliminates the issues of allocation without requiring any such mechanisms and keeps the compiler story just as sim

[2016-03-17 02:07] #9805 closed

[2016-03-17 02:16] tmat opened #9823 "Incorrect completion in REPL"
[code]

![image](https://cloud.githubusercontent.com/assets/41759/13834364/a27c130e-ebab-11e5-9a3e-876e7fc17f79.png)

[2016-03-17 02:30] davkean commented on #7825
And again: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/5302/consoleFull#-2115948695fabbf33-db14-4d24-b37d-77f64eb92e7a

[2016-03-17 02:42] mavasani commented on #7825
@srivatsn did we figure out who is going to look at this one?

[2016-03-17 03:16] #7136 closed

[2016-03-17 05:14] zanqi opened #9824 "Samples.sln is cannot locate Microsoft.CodeAnalysis dll"
**Version Used**: Code Pulled on Mar 16th, 2016

**Steps to Reproduce**:
1. Clone https://github.com/dotnet/roslyn
2. Run the "Developer Command Prompt for VS2015" from your start menu.
3. Navigate to the directory of your Git clone.
4. Run Restore.cmd in the command prompt to restore NuGet packages.
5. Run msbuild /v:m /m Roslyn.sln
6. Open src/Samples/Samples.sln

**Expected Behavior**:Samples.s

[2016-03-17 06:58] tamlin-mike commented on #7825
Since it seems you are currently stuck on this, I thought I'd have a quick peek at it with fresh eyes, and I have seen two areas I'd myself initially focus on:

1. Disk I/O
Differences between Jenkins and the machines where it doesn't repro.
Disk I/O delays?
In Microsoft.CodeAnalysis.Editor.Implementation.MetadataAsSource.CleanupGeneratedFiles()
I see a call:
 Directory.Delete(_rootTemporaryPath);

[2016-03-17 07:54] atifaziz opened #9826 "CommandLineRunner/csi should emit errors & diagnostics to STDERR, not STDOUT"
**Version Used**: 1.1.0.51109

**Steps to Reproduce**:

See #9791

Open a Command Prompt on 64-bit Windows and enter and execute the following line on the prompt:

[code]

**Expected Behavior**:

That only `NOK` should be displayed on `STDOUT` and the exception text is written to `log.txt` since `STDERR` has been redirected to that file.

**Actual Behavior**:

At the end of execution `log.txt` is

[2016-03-17 09:18] ddur opened #9827 "Why C# compiler accepts and compiles so obvious error?"
**Version Used**: C# 6

**Steps to Reproduce**:
1. `AnyType Identifier {
   get { return Identifier; }
   }`
2. `AnyType Identifier => Identifier;`

**Expected Behavior**: Fail to compile

**Actual Behavior**: Compiles, at run-time runs into infinite loop until Stack Overflow

[2016-03-17 11:16] vbcodec commented on #347
@HaloFour
Thinked more about usage of tuples, and look like tuples based on System.Tuple may probably not be enough.
UI controls use reflection to read / write data from datasources, and for this reason tuples must be auto generated anyway. For the same reason, tuples must be mutable and be objects than structs, to avoid copying between containers. Excluding tuples from being datasources, could be

[2016-03-17 11:28] Przemyslaw-W commented on #9802
Everything works. It was my bad. Sorry for being so hasty with the issue

[2016-03-17 11:28] #9802 closed

[2016-03-17 11:47] HaloFour commented on #9827
That's perfectly legal syntax. The fact that you have an unbounded and uncontrolled recursion issue is a logical one.

See #7695

[2016-03-17 11:56] axel-habermaier opened #9828 "SyntaxGenerator (C#) produces inconsistent type expressions"
`SyntaxGenerator.TypeExpression` produces inconsistent output when used with primitive types. For instance, `SyntaxGenerator.TypeExpression(SpecialType.System_Int32)` produces `int`, whereas `SyntaxGenerator.TypeExpression(symbolForSystemInt32)` produces `System.Int32`. This is inconsistent because all other types (as far as I've seen, at least) are prefixed with `global::`.

`syntaxGenerator.Type

[2016-03-17 11:58] HaloFour commented on #347
@vbcodec Tuples aren't meant to solve the problems of data binding and the like.  They're ordered groupings of related values.  The names of the tuple elements are not a part of a contract; they exist only to assist the developer.

Auto-generated tuples could not be shared between assemblies.  If two methods in two unrelated assemblies use the exact same tuple layout you could not pass that value

[2016-03-17 12:48] ckpearson opened #9829 "Proposal: Null test syntax for indexers"
Currently the null test syntax allows you to do the rather lovely:

[code]

and get a null back if anything in the chain is null.

It would be great if this could be extended to types supporting indexers (where valid indexes are known):

[code]

Which would roughly be the equivalent of:

[code]

Obviously this would only work for types with indexers that can be tested for validity (perhaps introdu

[2016-03-17 13:16] HaloFour commented on #9829
I know that your proposed syntax is only illustrative but it would seem to be affecting the index itself and not the operation of the indexer.  I'm not sure that conflating the syntax and concept of null propagation with "safe out-of-bound checks" is a good idea.  The operations are inherently different, and I would seriously hope that the latter is a significantly less common scenario.

There's a

[2016-03-17 13:22] vbcodec commented on #347
@HaloFour

Code and methods that operates on tuples must be type-ignorant. Only names and values matter. Type of tuples is even more not part of the contract than names. As i have stated previously, move tuples out of data binding is mistake. NET is mostly used in LOB apps, where databinding is basis of these apps.

To methods only. Containers do not store by ref

Why not ? There already exist man

[2016-03-17 13:29] orthoxerox commented on #118
A ref-getter is a very welcome feature. It will help things like array slices work exactly like real arrays. Of course, something like `IRefList<T>` will be required to represent this behaviour.

[2016-03-17 13:40] HaloFour commented on #347
@vbcodec

The CLR is not type-ignorant, nor can it be.

Tuples don't have names.  Only value and ordinal matters.  Type is important because the CLR cannot ignore it, otherwise an `object[]` would be perfectly suitable.

And tuples aren't meant to be used in those cases.  They are a gathering of simple values to satisfy an operation where it shouldn't be necessary to define a contract.  LOB/data-b

[2016-03-17 14:06] andrewjsaid opened #9830 "Proposal: Buildable Immutable Types"
Like the rest of you, I try to create immutable types where possible. Consider the simple `Person` class below:

[code]

As the number of fields grow, the parameters start to get quite out of control. Now consider that the properties of `Person` must be calculated from a variety of sources. In our build method we can either have variables all over the place, or we must create a new `PersonBuilder`

[2016-03-17 14:12] vladd commented on #9827
Detection of this particular case of infinite recursion doesn't bring a lot and is perhaps not worth the effort. (One will immediately see the problem after the first run.) Detection of an infinite recursion in general is impossible as it's the same as Halting Problem. There are several articles written by Eric Lippert on issues like this: [1](http://ericlippert.com/2012/07/17/should-c-warn-on-nul

[2016-03-17 14:30] vladd commented on #9772
If the design team would hypothetically consider the proposed feature for implementation: one can see that the interpolated part lacks a terminator. For a simple case it's clear where the interpolated part ends. What about this:

[code]
? `s1` should be `"0"`, `s3` should be ``"System.Collections.Generic.List`1[System.Int32] .kaunt"``, but what about `s2`?

[2016-03-17 14:42] Thaina commented on #347
@HaloFour

This make me think about my propose #9595 about hasA style interface in generic constraint. This kind of feature can support tuple

Generic function could have generate specific function for each type include tuple. And if we would be able to mock name to match it temporarily this would be possible

[2016-03-17 14:43] HaloFour commented on #9830
There seems to be a bit of crossover between this proposal and records/withers (#206, #5172).  The entire concept could probably be implemented through code-generation (#5561) and a custom attribute rather than making it a proper extension to the language.

[2016-03-17 14:48] HaloFour commented on #347
@Thaina Maybe, but that's something that the CLR certainly does not support at this time and to have tuples depend on a theoretical CLR feature would push back the ability to adopt tuples anytime in the near future.  Also, to have tuples depend on interfaces would also decrease their performance because, even if they were structs, you could not actually use them as the interface without incurring

[2016-03-17 14:49] #9338 closed

[2016-03-17 14:53] Thaina commented on #347
@HaloFour I think in CLR, Generic don't make struct boxing even with interface. It work like generate new function that take that type and just look that if parameter match the constraint

That's why I propose things as generic

[2016-03-17 14:56] AdamSpeight2008 commented on #9772
[code]

This would result in different string for C#6 versus the C# of @josejmoran

[2016-03-17 15:04] svick commented on #9829
1. I think using `?` might be confusing, because this has nothing to do with `null`.
2. The syntax is weird: Is `?` a postfix operator, that can only be used directly inside `[]`? Or is `[?]` a separate operator?
3. For reference types and nullable value types, you can already use `ElementAtOrDefault()`.

[2016-03-17 15:04] josejmoran commented on #9793
Swift language do not have semicolons.  It proves that C# 7 can get rid of it completely.  I vote for having the semicolon completely eliminated.

[2016-03-17 15:10] josejmoran opened #9833 "Default constructors C# 7"
**Version Used**: C# 6

**Steps to Reproduce**:

The code below is part of the code we get when we create a project for MVC 5 in ManageController.cs

The code for the controller should be a default controller. All classes that we create should inherit a default controller that initialize all instance variables.

    private readonly UserManager<ApplicationUser> _userManager;
    private readonly S

[2016-03-17 15:11] lachbaer opened #9834 "Proposal: allow `void` keyword as parameter for methods and lambdas"
Allowing the `void` keyword as lambda parameter would allow for

[code]

This should also be allowed for parenthesized parameters for a consistent look and feel.

[code]

Introducing this syntax extension could make the definition of anonymous methods with the `delegate` keyword 'deprecated'.

Needless to say that `void` must be the only parameter and without identifier name. Otherwise it wouldn't

[2016-03-17 15:16] vbcodec commented on #206
Does pattern matching work for anonymous types or while asking for existence of certaine fields / properties ?

For example, I ask for existence width and height in object::

    if (c is (int width, int height)(var R, *)) Console.WriteLine(R);
or

    if (expr is (int width, int height) v) { // code using v, v is interpreted as tuple}

[2016-03-17 15:16] josejmoran commented on #9772
string s1 = "@p.Count"; // this is valid we don need a terminator.  C# already understand p.Count
string s2 = "@p .Count"; // this will be an error clearly
string s3 = "@p .kaunt"; // this will be an error too

foo example = null;
string email = "email\@example.com";  // we can escape the @ when we need to.

[2016-03-17 15:18] josejmoran commented on #9772
string s1 = "@p.Count"; // this is valid we don need a terminator. C# already understand p.Count
string s2 = "@p .Count"; // this will be an error clearly the compiler will look for @p and try to translate it
string s3 = "@p .kaunt"; // this will be an error too. The compiler will look for @p and try to translate it.

[2016-03-17 15:20] AdamSpeight2008 commented on #9793
It does not prove anything in context to C#. It only proves Swift doesn't require semicolons.

May I suggest that you get a copy of the C# Language Specification.
The elimination of semicolons would lead to ambiguities, or incorrect evaluation to what the coder intended. What was perfectly valid and compiling code,

[2016-03-17 15:28] josejmoran commented on #9772
foo example = null;
string email = "email@example.com"; // this may be related to the same reason why we don't name a
                                                            variable with the name var.  We know we can't so this problem                               falls into that type of issue.  The compiler will try to resolve @example that is the rule.  It is then the programmers fault. and

[2016-03-17 15:31] miloush commented on #9772
@josejmoran  you can name a variable `var`.

[2016-03-17 15:33] RichiCoder1 commented on #9833
If I'm reading this correctly, this sounds like a duplicate of #9517

[2016-03-17 15:34] AdamSpeight2008 commented on #9772
But @josejmoran your syntax is changing the semantic meaning of String Literals, thus breaks existing code.

[2016-03-17 15:34] josejmoran commented on #9772
I have not tried that but I am used to not pick a reserved word for a variable name.  That is my point.  As a programmer you don't name variables or do thinks that you know can create a conflict. You don't use space in a name of a variable or name a variable For.

[2016-03-17 15:37] miloush commented on #9772
@josejmoran `var` is not a reserved word.

[2016-03-17 15:39] HaloFour commented on #9772
So you purposefully don't use keywords that haven't been invented yet?  How very clairvoyant of you.  C# hasn't added a single keyword since 1.0 that has broken existing code.  There's a reason; the C# team doesn't break code., not without a damned good reason.

This proposal is dead-on-arrival.  Just waiting for the team to close it.

[2016-03-17 15:48] heejaechang opened #9835 "[Test Failure] VisualBasic.UnitTests.Diagnostics.RemoveUnnecessaryImports.RemoveUnnecessaryImportsTests.TestFixAllInDocument failed in prtest/win/dbg/unit64 on PR #714"
PR: [#714](https://github.com/dotnet/roslyn-internal/pull/714) *Merge future-stabilization into future* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_unit64/881/

[2016-03-17 15:52] davkean commented on #9835
Dupe of https://github.com/dotnet/roslyn/issues/9759. It has been fixed.

[2016-03-17 15:52] #9835 closed

[2016-03-17 15:52] davkean commented on #9759
This has been merged and fixed. Thanks @gafter!

[2016-03-17 15:52] #9759 closed

[2016-03-17 15:54] davkean commented on #8739
Make sure when this is fixed, that we move it from the skip list in build/scripts/test-determinism.ps1.

[2016-03-17 16:06] JoeStead commented on #9834
I may be missing something fundamental here, but how does your code differ from the following?
[code]

[2016-03-17 16:09] ocoster-se commented on #9772
@josejmoran - consider my valid C# 1.0 code that I have been recompiling with all C# versions that came out since *without* ever changing a line of code:

'''
int index = 6;
Console.WriteLine("@index: {0}", index);
'''

I expect the output to be "@index: 6".

Now, your suggestion would cause the output to be "6: 6". Which is wrong. My code worked fine all this time - that's a breaking change. Maki

[2016-03-17 16:14] copernicus365 commented on #155
Ahem, these are _feature requests_, so the point is, what if this _can _be done? I never said it's already possible, of course not. I do appreciate your expertise, and I do appreciate if some of you low-level, compiler building experts (which I am not) say it's _simply impossible to find a way for this to be done_. If that turns out to be the case, then I'm sorry to have wasted your time.

But in

[2016-03-17 16:20] mgravell commented on #9772
If you need an absolute killer example of why this would be very very bad:

    // existing code from C# 2 or whatever
    var sql = "select * from Orders where Name=@name";

This is **not** somewhere where you want changes to the language changing what the string means. You just added a SQL injection vulnerability and a query plan-cache miss. The existing C# 6 changes **do not risk this**. To get

[2016-03-17 16:22] davkean opened #9837 "CSharpSyntaxGenerator is crashing"
http://dotnet-ci.cloudapp.net/job/roslyn_master_win_rel_unit32/964/consoleFull#-108127087979494335-f7bd-47d0-8771-8661e00c2db2

[code]

[2016-03-17 16:22] davkean commented on #9837
@agocke This looks related to your changes. //cc @jaredpar

[2016-03-17 16:23] tmat opened #9838 "Intermittent hang while running tests"
http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/5274/

Could be Roslyn.Compilers.CSharp.Semantic.UnitTests,Roslyn.Services.Editor.UnitTests,Roslyn.Services.Editor.CSharp.UnitTests.dll or Roslyn.VisualStudio.Services.UnitTests.dll

[2016-03-17 16:26] davkean commented on #9837
VB is failing too:
[code]

This looks like it's only occurring in master at the moment.

[2016-03-17 16:26] HaloFour commented on #155
Java'so return value covariance functions the exact same way that the C# team is implementing it for C# 7.0, through bridge methods.  There is no automatic covariance in Java.  The JVM doesn't support an *automatic* way of transforming the return type any more than the CLR does, it requires the compiler to emit the different signature and to bridge the overridden method.

Either way, the C# team a

[2016-03-17 16:26] jaredpar commented on #9837
It's failing for Release only.  Likely just a config issue in the scripts.  Trying to repro locally.

[2016-03-17 16:28] davkean commented on #9222
Here's another issue only found in release: https://github.com/dotnet/roslyn/issues/9837.

[2016-03-17 16:30] lachbaer commented on #9834
@JoeStead
`(() =>` vs. `void =>`  ;-) better readability
There's a comment in #8594 mentioning the wish of @jaredpar and @agocke to 'ignore parameter list' for lambdas, in order to deprecate the `delegate` anonymous functions.

[2016-03-17 16:34] jaredpar commented on #9837
Minimal repro:

[code]

This won't repro if you build Compilers.sln or Roslyn.sln.  Works fine for Debug though which is really strange.  Still digging.

[2016-03-17 16:40] AdamSpeight2008 opened #9839 "Local Enums."
As we (Roslyn) are looking at Local Inner Functions.
When writing a state machine, we have put the state (indicator) enum outside of the function.

[code]

**Proposed**
If that state (indicator) enum has no meaning outside of that function, then we could _in theory_ include it inside of the function.

[code]

[2016-03-17 16:47] sklivvz commented on #9772
Even if this was not a breaking change, it would still be a bad idea.

Interpolated strings _need to be marked as such_. One way (the original one) is to use an explicit function: `string.Format()`; another (the current version) is to use a marker: `$""`. C/C++/Java/JavaScript use functions; PERL uses markers (`"` string literals interpolate, `'` string literals don't), etc.

The reason is simple:

[2016-03-17 16:47] copernicus365 commented on #155
Okay (bummer), but thanks for the information on Java. Maybe sometime in the future something or other can make this feature a possibility.

[2016-03-17 17:02] davkean opened #9841 "Restore issues warnings around about downgrading a package"
This is in master:
1. Run Restore.cmd:

[code]

I'm unsure if this is a real issue or not, 0.0.0 -> 0.1.0 isn't a downgrade, it's a upgrade. Is the warning reversed?

tag @agocke

[2016-03-17 17:03] alrz commented on #9839
And practically you cannot return or pass a variable of that type anywhere, right? if so, what is the point of a local enum? a real world example would be nice.

[2016-03-17 17:10] ddur commented on #9827
I know that detecting infinite recursion is not always possible.
This is simple case and should be easily detected.

I'm working on small embedded DSL, defined by properties.
It is possible to detect loops in DSL by analyzing expression tree.
But if user defines `Expression<Func<T>> expr => expr;` there is nothing I can do.
Loop will be eventually coded by intent, by mistyping or by "Murphy law".

[2016-03-17 17:13] josejmoran commented on #9772
C# 7 IDE can offer an option where you can compile your code as if it is C# 6 ignoring the special meaning of @varname and your code will be good to go.  C# 7 IDE could offer instant tooltip translation of the strings that have @varname in it and show how the string will be resolved giving instant feedback.  You can always compile your code with C# 6 if you want to. If you want the new feature @va

[2016-03-17 17:16] agocke commented on #9841
I don't think this a real issue – I saw this but haven’t had a chance to follow up yet.

I think the problem is that the Microsoft.Build* packages reference other packages with version=”” which maps to 0.0.0. Technically, this is a downgrade because we’re going to 0.1.0-preview-0005 – a prerelease version, as opposed to 0.0.0, a release version.

MSBuild just needs to stop doing this and the warni

[2016-03-17 17:16] ddur commented on #9827
https://en.wikipedia.org/wiki/Microsoft_Terminator
http://mmjb.github.io/T2/

[2016-03-17 17:17] mgravell commented on #9772
"C# 7 IDE can offer an option where you can compile your code as if it is
C# 6 ignoring the special meaning of @varname and your code will be good to
go."

That is never going to work. It is unnecessary, confusing, and makes the
same code mean **very different things** depending on compiler settings,
which is explicitly something c# tries to avoid. It serves no useful
purpose. Everything you sugge

[2016-03-17 17:19] davkean commented on #9841
Oh, just NuGet treats released -> pre-release a downgrade? Hmm, I'll file a bug to make that a lot clearer. Not obvious.

[2016-03-17 17:19] #9837 closed

[2016-03-17 17:20] atifaziz commented on #9826
@tmat `TestConsoleIO` [adds color markers in the output](https://github.com/dotnet/roslyn/blob/da8ab31358c5c1297d57eaff6fa0bf2a4bfdc932/src/Scripting/CoreTest/TestConsoleIO.cs#L74-L78) that are then tested in `CommandLineRunnerTests` as part of the output (e.g. see [line 183](https://github.com/dotnet/roslyn/blob/8eb34a73f658fd9017f53763152570d59cbb0bde/src/Scripting/CSharpTest/CommandLineRunnerTe

[2016-03-17 17:23] agocke commented on #9841
Filed a bug here: https://github.com/Microsoft/msbuild/issues/528

[2016-03-17 17:27] josejmoran opened #9842 "Instant feedback on the editor of interpolated strings"
**Version Used**: C# 7 new feature request

**Steps to Reproduce**:

If I type the following code in the editor the IDE will be smart enough to translate or resolve the interpolated string and show me the result in a tooltip when I hold my mouse pointer for a second or two.

var price = 500
var message = "The price is @price"  // The tooltip will show: **The price is 500**
1.
2.
3.

**Expected Beh

[2016-03-17 17:28] gafter commented on #206
@vbcodec We have not yet specified pattern-matching support that would work for anonymous types. For tuples, we expect you to be able to write

`if (o is (int x, int y)) ...`

[2016-03-17 17:30] josejmoran opened #9843 "Automatic removal of unnecessary using statements"
**Version Used**: C# 7 feature request

**Steps to Reproduce**:
Right now the IDE inform me of the using statements that are not necessary and gray them out.
It will be awesome if instead of graying them out it will delete the lines automatically so I don't have to.

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2016-03-17 17:35] tmat commented on #9826
Do we need to change the tests at all? We can leave the existing tests using the same stream for both Error and Out. That way we are testing the common user experience on the console.

Then we can have just one or two tests that separate the streams and verify content of each stream separately.

[2016-03-17 17:51] SLaks commented on #9843
This feature already exists; just use the smart action.

Doing that automatically is a horrible idea, because there is no point in which it's safe to do so.

You're asking to make it impossible to write a `using` statement before the code that uses it.

[2016-03-17 17:53] hmemcpy commented on #9842
Syntax aside (which, if you follow your own thread at #9772, especially @mgravel's [comment](https://github.com/dotnet/roslyn/issues/9772#issuecomment-197956740) should make it clear why it won't happen), it is more or less not possible to evaluate **variables** like that, to produce meaningful data without incurring side effects (aka evaluation).

You should look at [Alive](https://comealive.io/)

[2016-03-17 17:54] HaloFour commented on #9842
1. That's not an interpolated string.  `$"The price is {price}"` is.
1. Those expressions are not constants, it's not possible for the compiler to know what the result will be at run time because string interpolation is affected by locale.
1. The C# compiler does not even offer this support for constants, although that might be a useful proposal on its own.

[2016-03-17 17:55] agocke opened #9844 "Use $(CompilerGeneratorToolDir) property in compiler generator projects"
Right now `$(OutDir)` is being used explicitly, but `$(CompilerGeneratorToolDir)` should be preferred.

[2016-03-17 17:59] svick commented on #9834
@lachbaer

If `void` is supposed to ignore the parameter list the way e.g. `delegate {}` does, then I think `void` is a pretty confusing choice, because it would mean `void` does not mean that the parameter list is actually empty.

If it's supposed to be just alternative syntax for `() =>`, then I don't think it improves readability, especially since having two different syntaxes for exactly the s

[2016-03-17 18:02] ManishJayaswal commented on #9788
@drognanar is this related to the change you were making to save to temp folder?

[2016-03-17 18:05] ltrzesniewski commented on #9772
Wow. Guys. Seriously...
Stop feeding the troll.

[2016-03-17 18:06] bbarry commented on #206
Conceptually I think omitting the type name for a property pattern jives well:

    if (c is { width is int v }) Console.WriteLine(v);

(would match any type with a property `width` that is an `int`; including anon types)

Not sure if this is worth doing though...

[2016-03-17 18:09] srivatsn commented on #7825
@lgolding is going to try to get to the bottom of this.

[2016-03-17 18:10] srivatsn commented on #9838
Likely a dupe of #7825. /cc @lgolding

[2016-03-17 18:12] drognanar commented on #9788
I don't think so. The change that creates files in the temp folder was meant to resolve issues with the repl tests (which originally created files in the user directory).

[2016-03-17 18:14] agocke commented on #7139
The MSBuild Task/Targets are no longer a blocker for this, so resolving it.

[2016-03-17 18:14] #7139 closed

[2016-03-17 18:16] bombless commented on #9772
What is the structure of the AST produced by this kind of string literals?

[2016-03-17 18:17] agocke commented on #6407
Resolved with https://github.com/dotnet/roslyn/issues/7139

[2016-03-17 18:17] #6407 closed

[2016-03-17 18:21] lachbaer commented on #9834
@svick *void* acutally means *nothing* and this kind of syntax is just taken from C++.

void foo() means "a function foo taking an unspecified number of arguments of unspecified type"
void foo(void) means "a function foo taking no arguments"

In C++:
void foo() means "a function foo taking no arguments"
void foo(void) means "a function foo taking no arguments"

(from http://stackoverflow.com/quest

[2016-03-17 18:22] agocke commented on #9843
This isn't a language proposal.

[2016-03-17 18:23] alrz commented on #9772
Thank god I'm not @varname.

[2016-03-17 18:25] jaredpar commented on #6407
![image](https://cloud.githubusercontent.com/assets/146967/13856539/e2a35bcc-ec32-11e5-8e25-af9b3675a641.png)

[2016-03-17 18:26] VSadov opened #9847 "ENC Test Coverage: Unique ids should not conflict with ids from previous generation"
There is existing test " UniqueIds()" skipped on TODO
Will be tracked by this bug instead.

[2016-03-17 18:28] Thaina commented on #155
More the reason C# should have anything better than Java

[2016-03-17 18:28] jbogard commented on #9772
Pretty sure at this point we can conclude this was a joke/troll?

[2016-03-17 18:29] VSadov opened #9848 "ENC Test Coverage: hould not re-use locals with custom modifiers"
There is existing test " LocalType_CustomModifiers()" skipped on a TODO
Will be tracked by this bug instead.

[2016-03-17 18:31] VSadov opened #9849 "ENC Test Coverage: Should not re-use locals if the method metadata signature is unsupported."
There is existing test " LocalType_UnsupportedSignatureContent()" skipped on TODO
Will be tracked by this bug instead.

[2016-03-17 18:37] lachbaer commented on #9834
@svick

With this addition you won't have *different syntaxes*, because
[code]
With the upcoming pattern matching just specifying the type without an identifier, e.g. `(int)`, will be common. `(void)` would fit in here, optically, as it states a 'type' without an identifier.

[2016-03-17 18:42] miloush commented on #9842
@HaloFour I believe you might be wrong on 3., with Roslyn IDE now shows constant and enum values in tooltips. It does not evaluate the constant expressions but it seems to infer the enum values.

[2016-03-17 18:52] alrz commented on #9834
I'd like to suggest to use capture list (#177) syntax (alone) for that matter,
[code]

[2016-03-17 19:06] AlekseyTs opened #9850 "It should be possible to access inherited nested types through an unbound generic type in typeof expression"
This is port of http://vstfdevdiv:8080/DevDiv2/DevDiv/_workitems/edit/542581.
It was resolved as "No Repro", but the unit-test (Microsoft.CodeAnalysis.VisualBasic.UnitTests.CodeGenGetTypeOperator.CodeGen_GetType_InheritedNestedTypeThroughUnboundGeneric) remained skipped. It looks like the behavior got regressed.

--------------------
[code]

**ACTUAL RESULT**: error CS0426: The type name 'E' does

[2016-03-17 19:07] HaloFour commented on #9842
@miloush Yes, it does for simple constants, but not for constants that are the result of constant expressions, e.g. `const string BAR = "FOO" + BAZ;`.  I should have been more clear about that.

[2016-03-17 19:10] #7840 closed

[2016-03-17 19:15] AdamSpeight2008 commented on #9842
[String.Format Diagnostics ](https://visualstudiogallery.msdn.microsoft.com/adbded26-4bc1-4d24-be86-61eef8768eee) had the capability of display the potential output as a Info diagnostic.

[2016-03-17 19:16] AdamSpeight2008 commented on #9772
@jbogard but I like troll meat.

[2016-03-17 19:23] heejaechang opened #9851 "[Test Failure] VBSyntaxGenerator.exe failed in prtest/win/vsi/p0 on PR #9831"
PR: [#9831](https://github.com/dotnet/roslyn/pull/9831) ** by @
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p0/494/

[2016-03-17 19:34] jaredpar commented on #9793
Thanks for taking the time to file this.  It does look like this is a dupe of #5355 and #8071.  Resolving and letting discussion continue there.

[2016-03-17 19:34] #9793 closed

[2016-03-17 19:39] tmat opened #9852 "Breaking change: Limit the total size of all user strings within an assembly to 2^24B"
The `#UserStrings` metadata heap is addressable by 24bit index. That means that all user strings   (i.e. arguments to ldstr instructions) in the assembly have to fit into 2^24 bytes after they are serialized to the heap, except for the last string which has to start below 2^24 but can span further.

The order of strings is pretty much determined by the location of the string constant in source and

[2016-03-17 19:40] tmat commented on #9852
@AlekseyTs @nguerrera @gafter @dotnet/roslyn-compiler

[2016-03-17 19:43] leppie commented on #9772
[code]

KABOOM...

[2016-03-17 19:45] josejmoran commented on #9772
"C# 7 IDE can offer an option where you can compile your code as if it is
C# 6 ignoring the special meaning of @varname and your code will be good to
go."

I agree that offering an option may not be the best idea, but it is an option.  Now I think it will be better and will satisfy many of you guys to have C# 7 do the following:

The IDE will inspect the string and if it does not find @ it will ta

[2016-03-17 19:46] #9844 closed

[2016-03-17 19:50] josejmoran commented on #9772
I have a suggestion.  It will discourage people to provide maybe great ideas if all of you focus on trying to defeat an idea suggested by someone.  We are in this all together.  We want the greatest features added to C#.  I think is better that your effort is directed toward build on an idea, maybe point out a flaw and a solution at the same time.  Build on it, make it stronger.  Too much effort t

[2016-03-17 19:52] jaredpar commented on #9772
The proposal as is represents a breaking change to the language.  It has the potential to change the interpretation of existing strings in user code.  For example:

[code]

Today that would simply be interpreted as the literal `"@example"`.  If this proposal was accepted it would switch to `"hello world"`.  That has the potential to pretty massively change existing programs and hence is very unlik

[2016-03-17 19:55] josejmoran commented on #9772
class G
{
  string com;
}
class F
{
  G  gmail;
  void H() => "support@gmail.com";  // Based on my last comment it will work just fine.  It will be taken as is. No programmer knowing the meaning of @ sign in C# 7 will do that.
}

I can mention many ways in which some syntax on any programming language could be messed up.

[2016-03-17 19:58] alrz commented on #206
(Since #6400 has been folded to pattern matching spec, I think this is the most relevant issue to ask this)

Since #4294 *won't fix*, wouldn't it make sense for `let` to be able to declare multiple variables?

&emsp;*simple-let*
&emsp;*complex-let*

&emsp;`let` *local-variable-declarators* `;`
&emsp;`let` *complex-pattern* `=` *expression* `;`

&emsp;`let` *complex-pattern* `=` *expression* *when-

[2016-03-17 19:59] josejmoran commented on #9772
string example = "hell world";
string other = "@example";

Old code will probably use the @ sign for email addresses only. Even if that is not the case. If the string has @example and there is not variable to resolve that has that name then the string will be left as is.

I am pretty sure you don't have old code like the one presented here.

[2016-03-17 20:00] AdamSpeight2008 commented on #9772
@josejmoran How can you be 100% sure of that?

[2016-03-17 20:00] jbogard commented on #9772
"Build on it, make it stronger" is literally what happened with the original string interpolation discussion and resulted in the current design. The flaw has been pointed out. The solution is the current design.

Although this might be a good design proposal for VB, it would so thoroughly break the language that people would get angry and switch to C#.

[2016-03-17 20:03] AdamSpeight2008 commented on #9772
@jbogard No it would make a good design proposal for VB. The same issue will exist there too.

[2016-03-17 20:03] miloush commented on #9772
mgravell pointed out above there is actually plenty of such code, as it is the syntax for SQL parameters.

[2016-03-17 20:05] alrz commented on #9772
:heart:

[2016-03-17 20:07] HaloFour commented on #9772
At this point I'm pretty convinced that this proposal is just @gafter trolling us, perhaps after a little too much green beer.

[2016-03-17 20:07] NickCraver commented on #9772
And SQL parameters. And login domains. Even if it were only one or zero of those things, it would remain a breaking change and a massive security hole.

Brutal honesty here because nothing else is getting through: not every idea is a good idea. People in this thread have very politely laid out why this one is a bad idea. Resources are best spent building things together, but they're not best spent

[2016-03-17 20:08] aafvstam opened #9853 "Visual Studio Immediate window “Internal error in the expression evaluator”"
**Version Used**:
Visual Studio 2015 Update 1

**Steps to Reproduce**:
See
http://stackoverflow.com/questions/36056363/visual-studio-immediate-window-internal-error-in-the-expression-evaluator/36057337

Repro Code:
class Program
{
    static void Main(string[] args)
    {
        List<Test> tests = new List<Test>();
        for(int i = 0; i<100; i++)
        {
            if (i % 2 == 0)

[2016-03-17 20:10] alrz commented on #9772
I'm waiting for this to get labeled "Planning" and freak out.

[2016-03-17 20:10] jbogard commented on #9772
@AdamSpeight2008 exactly! With this breaking change/bug, it would be the final nudge to convert the last remaining VB devs to C#.

[2016-03-17 20:10] hmemcpy commented on #9772
And on the final note: dude, a "breaking change" doesn't mean "compilation error". It means ALL EXISTING CODE WILL LITERALLY BREAK (AKA STOP WORKING AS BEFORE), if this change was made.

There are many other things not to like about C#. String interpolation in its current form is not one of them.

[2016-03-17 20:10] josejmoran commented on #9772
It will work for the parameters and other situations in old code too.  You don't have the variable name in your code to resolve it so C# 7 will just leave it as is.

[2016-03-17 20:12] AdamSpeight2008 commented on #9772
@jbogard It isn't the programming language that makes a great programmer, it how they use it.

[2016-03-17 20:13] jmarolf commented on #9772
The original proposal for interpolated strings as I remember it was
[code]

This proposal solved a few problems.
1. `\{}` is invalid in an unrecognized escape sequence strings before C# 6 so there is no need to worry about breaking changes
2. the brackets `{}` clearly define where the expression begins and ends. as @AdamSpeight2008 pointed out `SomeClass . SomeProperty` can have spaces in between

[2016-03-17 20:13] pedroreys commented on #9772
@josejmoran except you have no guarantee that I don't have a variable with that name. Going back to @mgravell example, let's say my existing code looks like this:

[code]
In this scenario, even if you implement your proposal of having the compiler fall back to the old implementation if it doesn't find a variable in context to make the interporlation, my code will break, because I do have a variabl

[2016-03-17 20:17] miloush commented on #9772
@josejmoran In fact it is a natural choice for SQL parameter variable name:
[code]

[2016-03-17 20:19] jaredpar commented on #9772
When considering back compat it's a bit of a fallacy to ponder why developers would use the language in a particular way.  The amount of customers and scenarios far exceed the creative capacity of a single developer to comprehend.  There is always a scenario that you're not considering.

My motto for this is as follows:

[2016-03-17 20:20] AlekseyTs opened #9854 "Microsoft.CodeAnalysis.VisualBasic.UnitTests.EditAndContinueTests.LocalType_CustomModifiers is failing and is skipped."

[2016-03-17 20:20] jdanyow commented on #9772
`@` is obviously a terrible choice for string interpolation.  The :hankey: (`:hankey:`) emoji is a more natural choice.

[2016-03-17 20:24] josejmoran commented on #9772
I said from the start that if @ does not work we may use $ instead.  And I am sure we may find ways even using the @ sign to avoid the substitution when it involves SQL.

[2016-03-17 20:24] NickCraver commented on #9772
@josejmoran `$` is also a SQL parameter symbol, since C# is used for more than just SQL server.

[2016-03-17 20:25] jaredpar commented on #9772
@josejmoran any character which is legal in a string literal today has the same problem as `@` does.

[2016-03-17 20:25] alrz commented on #9772
![](https://camo.githubusercontent.com/2d865315d17fc42c81e6614b7c1fe096a98d70ac/687474703a2f2f32342e6d656469612e74756d626c722e636f6d2f74756d626c725f6d31723461756f67754831726f6479396d6f315f3430302e676966)

[2016-03-17 20:25] josejmoran commented on #9772
We can use the \ also.

[2016-03-17 20:30] AdamSpeight2008 commented on #9839
@alrz
For example in parsing.
In this [Example](https://gist.github.com/AdamSpeight2008/ca808eeff0fdcdd846d7#file-parse-L51) it is used to track at what the current parsing stage. Useful when I need to resync the parsing.
_I still need to refactor the code, but it works._

[2016-03-17 20:30] CoreyKaylor commented on #9772
I think at this point it would be better to fork the language and call it C@

[2016-03-17 20:32] alrz commented on #9772
What about a double quotation? It has other problems which `@` does not. *Improvement.*

[2016-03-17 20:32] HaloFour commented on #9772
@alrz There's a glitch where if you face backwards and butt-jump repeatedly you will actually go to the next room.  I think that's what @josejmoran is trying to do here.

@josejmoran

You missed that discussion:  [Code Plex: String interpolation](http://roslyn.codeplex.com/discussions/540869)

[2016-03-17 20:34] alrz commented on #9772
@HaloFour You should compile with `--no-butt-jump` flag.

[2016-03-17 20:36] AdamSpeight2008 commented on #9772
Also the grammar of the string interpolation is the same _(mostly)_ for C# and VB.net, so that they don't have learn two different styles, when work on projects that use the other language.

[2016-03-17 20:37] agocke opened #9856 "Intermittent WriteCodeFramentEx failure on dev machines"
The failure looks like:

[code]

[2016-03-17 20:38] nguerrera commented on #9852
Seems reasonable to me.

[2016-03-17 20:38] agocke commented on #9856
I'm still not quite sure what's going on here, but I think referencing the framework should cause this reference to unify with the framework on Desktop?

[2016-03-17 20:39] AdamSpeight2008 commented on #9772
The current syntax for Interpolation Strings hasn't closed the door on prefixing them.
eg. `${culture}"Hello World!"`

[2016-03-17 20:40] josejmoran commented on #9772
The @ sign will still work guys.  The issues you presented are for old code.  In that case you have many options. Compile with C# 6. Add a switch to C# 7 to ignore and fall back to C# 6.  As programmers you should know we find a way.  Have anyone here had to re factor code because of a change on the language you are using?

Let's stick with the @ sign it is already been used with Razor syntax so w

[2016-03-17 20:41] hmemcpy opened #9857 "Proposal: replace single lambda parameter with 'it' or '_'"
Pretty sure this was proposed already, but I can't find it.

The proposal is to omit a single parameter declaration in Lambda expressions in favor of a literal `it` (similar to Kotlin) or an underscore (similar to Scala).

This would allow using the syntax like this:

`collection.Where(it.Name == "Bob")`

etc.

Pre-emptive: haven't thought this thru, or considered any of the corner cases at all.

[2016-03-17 20:42] pedroreys commented on #9772
_had to_ as in my code would break if I didn't make the change? no.

[2016-03-17 20:43] sklivvz commented on #9772
![and_then_a_miracle_happens_cartoon](https://cloud.githubusercontent.com/assets/750257/13860566/e99c3c84-ec80-11e5-96b6-31475c2cba59.jpg)

[2016-03-17 20:44] alrz commented on #9772
By the way, I wonder how the compiler can not figure this out even though I clearly commented my code,
[code]
Easy peasy.

[2016-03-17 20:44] jaredpar commented on #9772
Razor files are not C# code.  It is instead a file format from which HTML and C# code can be extracted.  The code in the file is not literally passed to the compiler but instead transformed and then passed along.

[2016-03-17 20:45] #8762 closed

[2016-03-17 20:47] jh71283 commented on #9772
@josejmoran You have spent more time and keystrokes here trying to convince everybody than you ever will prefixing your strings with $. (Including the {} too)

It's a net loss.

[2016-03-17 20:47] hyrmn commented on #9772
Instead of the @ sign, since that seems problematic.. especially if I'm writing a twitter client... could we maybe do something else instead for interpolation?

We could use a delimiter like `{variable}` instead. If that's not enough to signal to the compiler due to legacy code issues, we could get away with adding just one more character. For example, we could signal that something is an interpol

[2016-03-17 20:50] jmarolf commented on #9804
[code]

[code]

[code]

[code]

[2016-03-17 20:51] josejmoran commented on #9772
The problem is having to add the $ in front, then the two curly braces.  That is my problem with the C# 6.  I like it, it is better than what we had before, but I felt what about @varname.  I hate the one in Swift too I did my effort in that regard to point that out too. \{} and I suggested the same idea one character at the beginning.  I don't recall if I suggested @varname, but pretty sure I did

[2016-03-17 20:51] alrz commented on #9772
Oh sorry, that needs CLR support actually, to emit comments for the runtime. Alternatively, you can just format `C:` or use a hammer.

[2016-03-17 20:52] davepermen commented on #9772
to make sure backwards compatibility is guaranteed, lets use unicode symbols instead of the @...

"Hello 💩FirstName"

[2016-03-17 20:52] chaliy commented on #9857
Drop it or _ entirely, make it sound:

`collection.Where(Name == "Bob") `

[2016-03-17 20:53] AdamSpeight2008 commented on #9857
@hmemcpy I think it was within one of the proposal for pattern matching (or related)

[2016-03-17 20:54] alrz commented on #9772
Wouldn't it be ambiguous? It's not clear that we are greeting the :hankey: or the FirstName.

[2016-03-17 20:54] daveaglick commented on #9857
@chaliy But then how to disambiguate?

[2016-03-17 20:54] svick commented on #9857
Both `it.Name == "Bob"` and `_.Name == "Bob"` are already valid expressions (assuming the variables `it` or `_` are declared. And it's possible that a method has overloads for both `T` and `Func<U, T>` (so both the existing interpretation and your proposed interpretation could be valid).

So I don't think this syntax is a good idea.

[2016-03-17 20:55] davepermen commented on #9772
the 💩 works as the proposed @ and will be compiled away of course

[2016-03-17 20:57] #9772 closed

[2016-03-17 20:58] alrz commented on #9772
I think a  :rabbit: is more consistent and readable though. Also, it has ears.

[2016-03-17 21:00] alrz commented on #9857
Dup of #3561

[2016-03-17 21:03] jh71283 commented on #9772
Guys, guys.
That's really gonna mess up my text based adventure starring poop shooting bunnies.

[2016-03-17 21:08] alrz commented on #9857
Actually no one proposed trailing closures so far, I think that is what #3561 entails,
[code]

[2016-03-17 21:10] hmemcpy commented on #9857
@alrz yes, this would make it into Kotlin https://kotlinlang.org/docs/reference/lambdas.html :)

[2016-03-17 21:18] weltkante commented on #9599
@tvsonar I'd argue that the 'PrivateObject' class is the wrong thing to use in the first place, it looks just like a poor mans reflection, so you get what you asked for. It should not be getting additional support by the language/compiler.

The "right thing" for your use case is improving the tooling to generate a strongly typed proxy class exposing the private implementation details you want to t

[2016-03-17 21:24] AnthonyDGreen commented on #9852
If I understand, you're saying there's already a runtime limit on strings but a loophole where the last string can bleed above that and you want to close this loophole so that the error is more predictable? If so, sounds reasonable to me too.

[2016-03-17 21:24] jmarolf commented on #9772
@josejmoran even if you solve the back compat problem (which would be the bare minimum to move this proposal forward) , how will you specify [formatting options](https://github.com/dotnet/roslyn/issues/9772#issuecomment-198064042)? how will you solve any of the concerns solved in the current design?

[2016-03-17 21:31] tmat commented on #9852
@AnthonyDGreen Correct.

[2016-03-17 21:31] jmarolf commented on #9804
dci-win-rbld-5 appears to have problems, not a test issue

[2016-03-17 21:31] #9804 closed

[2016-03-17 21:33] balajikris commented on #9366
scenario is hitting Ctrl + Space in line 0, col 0 of an empty file and verifying that brings up completion list. From screenshot, completion didn't show up :(

![image](https://cloud.githubusercontent.com/assets/4213867/13861906/204b8e44-ec4d-11e5-8c04-2a0f73847877.png)

[2016-03-17 21:33] leppie commented on #9852
I pity the fool that has a codebase creating this... resources are there for a reason.

[2016-03-17 21:34] VSadov commented on #9852
seems reasonable.
relying on a particular string being last in index is uselessly fragile

[2016-03-17 21:35] AlekseyTs commented on #9852
@leppie This has nothing to do with resources.

[2016-03-17 21:36] josejmoran commented on #9772
Great question.  For formatting options I think we can continue to use the ones we have in place already.
var price = 500
var message = "The price is @price:C2"

[2016-03-17 21:40] mastoj commented on #9772
If you could classify breaking change this would probably be the worst kind of them. Adding this feature would actually not make code break at compile time, which I think is the bare minimum if you introduce a breaking change where the developer must take action to correct the code.

[2016-03-17 21:42] leppie commented on #9852
@AlekseyTs Is #UserString heap not used for string constants? If not, I was mistaken and ignore my comment :D

[2016-03-17 21:43] AlekseyTs commented on #9852
constants aren't resources

[2016-03-17 21:43] miloush commented on #9772
@josejmoran  I guess the question is how do you know when the formatting instructions end? How about a format that contains @?

[2016-03-17 21:43] josejmoran commented on #9772
The backward compatibility is solved by leaving alone any old code with @ in it, because the compiler will not be able to resolve the variable.

Someone pointed a great example of a flaw to this, but those particular cases can be addressed or compiled with C# 6

This is a great example, but we can make the compiler ignore this in some way too.  These may be special cases.

public Orders GetOrdersF

[2016-03-17 21:45] leppie commented on #9852
Yes, but creating 16MB of string constants in your project is friggen insane! You should use embedded resources instead then.

[2016-03-17 21:49] thecodejunkie commented on #9772
@josejmoran the fact that you are having to try and persuade such a large group of people, and continuously failing, should tell you something

[2016-03-17 21:49] mastoj commented on #9772
@josejmoran how does the compiler know what old code is?

[2016-03-17 21:52] alrz commented on #9772
@mastoj That's why you should comment your code. See [#9772 (comment)] (https://github.com/dotnet/roslyn/issues/9772#issuecomment-198074926).

[2016-03-17 21:56] mastoj commented on #9772
@alrz and I also should have made that comment like 10 years ago in case this feature would ever be implemented :)

[2016-03-17 21:57] josejmoran commented on #9772
Let's say you bring old code to the new C# 7.  The compiler may see the @varname in a SQL string or in an email address or maybe in any other string that the programmer used @varname.

C# 7 will do this.  1 - Check if there is a variable it can resolve the @varname to.  If it can't will leave it as is.  So email addresses and SQL statements will not be considered.  The ones the compiler can resolv

[2016-03-17 21:59] Suchiman commented on #9852
@leppie i'm not sure but doesn't razor exactly create string constants for all the text in cshtml? that way you could hit the limit waaay faster.

[2016-03-17 22:00] kiwipom commented on #9772
@josejmoran is my new favourite person.

[2016-03-17 22:02] alrz commented on #9772
@mastoj Acually this is one of [unsolve problems in computer sience](https://en.wikipedia.org/wiki/List_of_unsolved_problems_in_computer_science). Somebody should add it to the list.

[2016-03-17 22:04] amcasey commented on #4516
@heejaechang is there still work to do here?

[2016-03-17 22:05] leppie commented on #9852
@Suchiman: Fair point, for both dynamic and precompiled scenarios :+1: Still easily avoidable by the user.

[2016-03-17 22:15] heejaechang commented on #4516
I opened this bug since I am asked to open. and at the time, I think somebody was saying nuget can be signed. if that is not true, then probably we need to close this.

[2016-03-17 22:32] tmat commented on #9852
Note that if you have a lot of strings in your assembly and not hitting the limit already (or about to hit it soon) is when you have one huge string (>16MB) in the last ldstr instruction of the last method of the last file of your project. In that case you can fit the huge string and not hit the existing limit on index. You can even add more small things moving that huge string further and further

[2016-03-17 22:34] josejmoran commented on #9772
This is a serious discussion. If you have a valid concern to raise you can stay. If you have some absurd or idiotic comment stay out.  I like to believe that everyone here is a professional of high caliber.

[2016-03-17 22:35] ikopylov opened #9863 "Proposal: New IntelliSense suggestions for 'get' and 'set' presence in property declaration"
Currently when one declare a new property there is no any IntelliSense suggestions for `get` and `set` presence.

It would be great to see some very common patterns on the list of suggestions: `get;`, `get; set;`, `get; private set;` and so on. Also it is possible to find a backing fields for that property and suggest getter and setter with them too.

**How it can work**
The suggestions would be s

[2016-03-17 22:40] jbogard commented on #9772
"It may not be perfect but I feel it may work great" see, it's been pointed out that it isn't perfect, in several different ways, and therefore won't work at all. While you might *feel* it would work great, as has been shown, it's shown that it won't work at all.

Also, I should dissuade you of the notion that everyone here is a professional of high caliber. GH issues are primarily for memes and g

[2016-03-17 22:44] pedroreys commented on #9772
What kind of monster are you, @jbogard?

[2016-03-17 23:00] cston commented on #1449
Does not repro with VS 2015 Update 1, and the unit test does not reflect the actual behavior where the type from the previous evaluation is available.

[2016-03-17 23:00] #1449 closed

[2016-03-17 23:01] HaloFour commented on #9772
@josejmoran I don't know if you noticed or not but the C# team has already closed this issue.

You're seriously going to have to learn how to communicate with others and deal with criticism.  This is particularly true when cited evidence as to why the specific syntax proposed has various issues such as introducing new ambiguities or breaking changes.  Like you said, this is a discussion and these

[2016-03-17 23:04] heejaechang commented on #9454
@TyOverby can you verify?

[2016-03-17 23:05] tannergooding opened #9865 "Fully Document the Integration Test Framework"
The new Integration Test Framework is fairly complicated (with a lot of IPC and marshalling of data). It needs a higher level of documentation (equal to its complexity).

The documentation should:
- Make it easy for new users to ramp up on the internals of the framework and to extend the existing functionality or write new tests
- Clearly define where and how each object is created and how each ob

[2016-03-17 23:05] tannergooding commented on #9865
FYI. @jaredpar, @jasonmalinowski

[2016-03-17 23:07] amcasey commented on #4516
@agocke confirmed that nuget packages can't be signed, so it sounds like there was a miscommunication when the bug was filed (possibly by me).  So, what remains is to confirm that everything in the SDK is signed.  @jmarolf can you please confirm that that is the case and then close this bug?

[2016-03-17 23:08] sklivvz commented on #9772
Let's all follow @ltrzesniewski  advice [here](https://github.com/dotnet/roslyn/issues/9772#issuecomment-198006618) and

[![giphy](https://cloud.githubusercontent.com/assets/750257/13863822/a0c0933e-ec94-11e5-9a80-f59c8c8326b9.gif)](https://youtu.be/L0MK7qz13bU?t=1m)

[2016-03-17 23:11] andersforsgren commented on #9772
@josejmoran an actually doable solution to (half of) what you want is this: make your favourite editor or IDE expand "hello @name" into $"hello {name}".

Saved you the typing, doesn't break old code.

As in: it would be a lot (a LOT) easier getting this accepted as one of the syntax helpers offered by VS or Resharper vNext than getting it into C# vNext.

[2016-03-17 23:19] JasonBock commented on #9772
The @center cannot hold. Time to abort this thread. :)

[2016-03-17 23:19] andrewjsaid commented on #9830
Thank you for your consideration and reply.

I agree that this concept could probably be implemented through code-generation and custom attributes (#5561). I think it could probably also be implemented through T4 templates. However I proposed it as a language feature because:
- It is in line with the direction which C# seems to be headed.
- It is a common across-the-board scenario which reduces bo

[2016-03-17 23:25] davkean opened #9866 "Compiler Service tests don't handle spaces"
These tests fail on my enlistment which has spaces (because i enjoy pain):

[code]

[2016-03-17 23:25] davkean commented on #9866
tag @jaredpar

[2016-03-17 23:26] jasonmalinowski commented on #9688
@mavasani: I think you got the answer you were looking for internally?

[2016-03-17 23:28] mavasani commented on #9688
Yes, thank you! Please feel free to close this one.

[2016-03-17 23:29] davkean commented on #9274
@jcouv Are you still hitting this? I'm not seeing this.

[2016-03-17 23:31] heejaechang commented on #9047
@jaredpar can you verify and close?

[2016-03-17 23:42] TyOverby commented on #9454
@heejaechang I haven't seen it fail since then, but I'm no longer watching the builds.

[2016-03-17 23:44] davkean commented on #9454
Have not seen it fail either. Looks like we got this one! Thanks!

[2016-03-17 23:45] davkean commented on #8936
And we hit this again: http://dotnet-ci.cloudapp.net/job/roslyn_future_win_rel_unit32/139/consoleFull#14857372926baeffce-8504-4013-981e-7f26b5265816

[2016-03-17 23:49] jcouv commented on #9274
@davkean Yes, I just verified I can still repro.
I have dotnet/roslyn enlistment, checked out on master, restored, cleaned (-xdf), then build Roslyn.sln, then build BuildAndTest.proj (which has this message).

[2016-03-17 23:56] paulomorgado commented on #347
Although it will introduce complexity to the compiler and allow smelly patterns, it doesn't make any sense, from the language point of view, to limit the number of items in a tuple.

An octople can be made using an heptaple with the first six items and a final tuple for the remaining two. Meaning that, instead of:

    // T1..T7 aren't type parameters but concrete types
    ValueTuple<T1, T2, T3,

[2016-03-17 23:57] jcouv commented on #9463
Commit c41d4f8300d78a1117721d42bcca1307789bbbfd addresses the iterator rewriter part of the problem. I'll start on the async rewriter.

[2016-03-18 00:04] HaloFour commented on #347
@paulomorgado This is exactly what F# does today:

[code]

[2016-03-18 00:23] amcasey opened #9872 "Compiler crash: base call to state machine method, in state machine method"
[code]

This crashes the `future` compiler, but not the `master` compiler.  We have yet to determine why they behave differently.

Thanks @zooba for the report and @tmat for the reduced repro!

We also have half a dozen Watson hits for this crash.

[2016-03-18 00:23] amcasey commented on #9872
FYI @ManishJayaswal, this needs a milestone.

[2016-03-18 00:33] jinujoseph opened #9873 "DryDock Effort: Skipped test which are broken and have no associated workitem."
<WpfFact(Skip:="xunit wait")>
Microsoft.CodeAnalysis.Editor.UnitTests.IntelliSense.ModelTests.ChainingTaskStartsAsyncOperation

<WpfFact(Skip:="true")>
Microsoft.CodeAnalysis.Editor.UnitTests.IntelliSense.ModelTests.ControllerIsNotUpdatedIfComputationIsCancelled

[WpfFact(Skip = "TODO")]
Microsoft.CodeAnalysis.CSharp.EditAndContinue.UnitTests.RudeEditStatementTests.Lambdas_Update_Signature_CustomM

[2016-03-18 00:40] gafter commented on #9804
dci-win-rbld-5 is now fixed. It is possible the current run may fail.

[2016-03-18 00:55] alrz opened #9876 "Discussion: let statement"
Since #6400 was closed, I wanted to discuss some other aspects of `let` statement and potential improvements.
### Variable shadowing

A relaxed form of shadowing were discussed at #8016 which didn't seem to be a desired behavior. I want to propose a restricted form of shadowing for `let` that allows to use same variable name in the pattern as the target,

[code]

This allows us to use the same nam

[2016-03-18 00:56] jinujoseph opened #9877 "Add FixAllProvider API support for flavored nested actions with different interpretations"
copied from http://vstfdevdiv:8080/DevDiv2/DevDiv/_workitems?_a=edit&id=1033012

[2016-03-18 01:01] Vannevelj opened #9878 "Regression: replacing an else-if statement with its body causes parentheses to be aligned incorrectly"
**Version Used**:

Microsoft.CodeAnalysis 1.0, 1.1 & 1.2-rc2

**Steps to Reproduce**:

1. Create a new console app project
2. Paste in the following code:

[code]
3. Try it out with Microsoft.CodeAnalysis versions 1.0, 1.1 and 1.2-rc2

**Expected Behavior**:

Result looks like this across all versions:

[code]

**Actual Behavior**:

Beforementioned result is only obtained for v1.0. Versions 1.1 an

[2016-03-18 01:04] #4516 closed

[2016-03-18 01:09] HaloFour commented on #9876
I don't like the idea of introducing local shadowing, using any syntax.  I don't see why `let` wouldn't fall under the same identifier rules as anything else in the language.

You aren't really talking about multiple *variables*, you're talking about multiple *patterns*.  From what I understand `let` will permit multiple variable patterns as subpatterns, so you could do the following:

[code]

As

[2016-03-18 01:21] nathan-alden commented on #36
Has anyone considered what would/should happen if a developer passes a single `IEnumerable<T>` as the `params` parameter's value? Should the source `IEnumerable<T>` be traversed when it is passed? What happens if the source `IEnumerable<T>` is some kind of stream that has no end? Shouldn't the receiving method initiate the iteration and not the method call itself?

[2016-03-18 01:22] alrz commented on #9876
Because it might introduces new variables in the pattern, and they potentially make the target useless. For example in `foreach` at best you need to introduce a new name even though you don't need the first one (actually I didn't come up with a reasonable name for this particular case).

let (Point(var x, 0), Point(0, var y)) = (point1, point2) else throw new Exception();
[code]

[2016-03-18 01:23] amcasey commented on #9872
A quick diff shows some changes to `AwaitExpressionSpiller`, but they look sane.

[2016-03-18 01:24] amcasey commented on #9872
The changes to `SynthesizedMethodBaseSymbol.cs` might be more significant.

[2016-03-18 01:28] PureKrome commented on #9772
![](https://jabbrlive.blob.core.windows.net/jabbr-uploads/xblF4_9172.gif)

.... and .. some obligatory cat tax...

![](http://funpulp.com/wp-content/uploads/2014/07/cute-cat-l1.jpg)

[2016-03-18 01:28] jmarolf commented on #6863
duping against https://github.com/dotnet/roslyn/issues/9602 which suffers from the same saved file issue

[2016-03-18 01:28] #6863 closed

[2016-03-18 01:30] jmarolf commented on #9772
...and I'm locking this thread

[2016-03-18 01:33] alrz commented on #36
@nathan-alden Depending on the type it will create an array, just like exstings `params` on arrays.

[code]

[2016-03-18 01:41] HaloFour commented on #9876
I understand what you're trying to do, that's generally why anyone would *want* to shadow.  But I think it's a slippery slope and I don't think that it's too onerous to have to assign the pattern results to new identifiers even if you don't plan on using the old one again within that scope.

I think it's more explicit about what is actually happening, though, whereas you're looking for special syn

[2016-03-18 01:44] nathan-alden commented on #36
@alrz I'm not sure I understand your answer. Allow me to demonstrate with an example. Currently, this is what we all have to write in our libraries and frameworks:

[code]

In cases where the developer calls the `IEnumerable<object>` overload, the underlying enumerable won't be iterated until `MyMethod` iterates it (if it ever does). With some of the above comments, it seems like a new array would

[2016-03-18 01:53] HaloFour commented on #9857
C-Omega: :smile:

[code]

[2016-03-18 02:03] HaloFour commented on #36
@nathan-alden The compiler isn't going to materialize the enumerable into an array.  It will only create a new array in the case of trying to call the method with multiple arguments:

[code]

[2016-03-18 02:06] HaloFour commented on #36
@nathan-alden Note that this proposal exists largely to eliminate the pattern that you're following, where you want to accept an `IEnumerable<T>` but you have an overload that accepts `params T[]` just to enable calling the method with variable arguments.  Going forward you could just declare a single method accepting `params IEnumerable<T>` and get the benefits of both.

[2016-03-18 02:26] alrz commented on #9876
As it turns out, no. For example, in #8016 it is proposed that one should be able to shadow locals just for the sake of it and no other reason, really. Since, as I said, it would be not possible to do that and you can just use the target name (if it was an identifier and nothing else), nothing can possibly go wrong.

It's more explicit but it's like you're inlining everything. In this specific exa

[2016-03-18 03:44] alrz commented on #117
Regarding `delegate` deprecation, I'd like to suggest using lambda capture list syntax to omit parameter lists, reaping my comment from #9834:

[code]

[2016-03-18 04:11] nathan-alden commented on #36
Yep yep, cool. Your first reply answers my question. Thanks! :+1:

[2016-03-18 04:22] alrz commented on #5292
Would it possible to alternate compiler generated code for `Equals` in records?
[code]
If calling the `original` is mandatory, I strongly suggest to use `decorate` instead of `replace`.

[2016-03-18 04:31] davkean commented on #9843
@josejmoran I'm not sure I understand the proposal - at what point would you like us to remove them?

[2016-03-18 04:42] Thaina opened #9879 "Type disguise memory block"
I'm not sure what to call this feature but I want something like pointer of type to a memory to fake object

Consider we have types like these

[code]

It actually the same memory layout. It should interchangeable

In C we could just use pointer

[code]

Not only that, it could mock up a type on array or even bytearray

[code]

I would like C# to have this kind of feature that could mock a referen

[2016-03-18 05:10] #9790 closed

[2016-03-18 05:22] ManishJayaswal commented on #9872
@amcasey Is this an EnC issue or compiler issue? Does it only happen during EnC?

[2016-03-18 05:40] ManishJayaswal opened #9880 "C# Interactive: Parse is incorrect when typing before a using directive"
Consider the following code:

u
using System;

In regular C#, this parses as a UsingDirectiveSyntax with leading skipped token trivia for "u". In interactive/script C#, this parses as a GlobalStatementSyntax with a missing semicolon and trailing skipped token trivia for "using System;". In essence, in interactive/script the UsingDirectiveSyntax isn't parsed. The IDE needs it to be parsed in order

[2016-03-18 06:00] leppie commented on #9879
As far as I know, you can do this with unsafe already.

[2016-03-18 06:32] tmat commented on #9872
Crashes during compilation.

[2016-03-18 07:27] jrmoreno1 commented on #2144
First let me say to that I understand that everything starts at -100, and this isn't a pony let alone a unicorn. I'm not trying to say "do it" but rather, "it shouldn't be rejected". Anyway...

Sorta, not all of the properties will ge indexed.  Maybe half, pssoibly less.

And doing it as you suggests works, but it creates an artificial distinction between properties on the wrapper and the indexed

[2016-03-18 07:38] paulomorgado commented on #5292
I'm still :-1: on this proposal.

If the developer of the extended class intended for it to be extended, it should have done it in a well thought and documented way.

[2016-03-18 09:10] lucamorelli opened #9882 "tuples and disposable objects"
Hi,
  I'm following the discussion about tuples, and I have a question about this.
  Often I have methods the return disposable objects (the most common is a ef or ado.net db connection, and to be sure that are correctly dispose I use **using (...**

[code]

Now, if one of the members of the tuple is an object like this, how can I handle its disposal in a proper way? For example I can have a metho

[2016-03-18 09:42] orthoxerox commented on #9879
You can make a wrapper type with explicit layout that contains all three types at offset 0, plus implicit conversions to and from your types. This is a reasonable workaround, in my opinion.

[2016-03-18 09:43] mgravell commented on #9771
Looks to be a troll having some fun; see all suggested issues: https://github.com/josejmoran

[2016-03-18 09:44] mgravell commented on #9842
Looks to be a troll having some fun; see all suggested issues: https://github.com/josejmoran

[2016-03-18 09:44] mgravell commented on #9843
Looks to be a troll having some fun; see all suggested issues: https://github.com/josejmoran

[2016-03-18 09:44] mgravell commented on #9833
Looks to be a troll having some fun; see all suggested issues: https://github.com/josejmoran

[2016-03-18 10:29] alrz commented on #5292
@paulomorgado I don't get it, you mean if the class has partial declarations it should be documented? Sure but this doesn't go beyond assembly boundary so there is no "extended" class, just partial classes which we had before.

[2016-03-18 10:36] lachbaer commented on #9834
@alrz Though that is a valid suggestion, I think that a simple `void` is
1. better to read than `[]()`
2. much better to write (e.g. I have a German keyboard layout, that is awful for brackets, braces, etc.)
3. can just be an alias for it

After reading #117 I think what the comment of the developers actually meant by saying "ignore parameter list" ;-) Nevertheless I for myself like the use of the

[2016-03-18 11:09] paulomorgado commented on #5292
"extended" in the sense that a partial definition (not a partial class) is added to the generated definition.

Isn't this whole proposal about partial class definitions and a way to override/supersede a default definition?

[2016-03-18 11:09] alrz commented on #9834
@lachbaer Unfortunately, it's C#. Every single character counts.: scream:

[2016-03-18 11:20] alrz commented on #5292
@paulomorgado `replace` is only useful when you have a partial class and it's up to you to use #5561 to add a partial declaration or not. Actually I thought that `original` is mandatory in a `replace` declaration and proposed #9178 but it seems that it's not (accourding to #9532).

It's actually about decorating existing members so that one can add additional logic to a method/property. I'm not su

[2016-03-18 11:26] HaloFour commented on #9882
The tuple itself wouldn't be disposable.  As of now I doubt that the `using` statement would be allowed on a tuple type regardless of whether it has some elements that are disposable, but that could be subject to a proposal.

[2016-03-18 12:00] alrz opened #9883 "Request: Analyzer for named arguments"
Named arguments are a great feature to write self-documented code, but if the original author didn't write them you should write every argument by hand which is kinda cumbersome. Also, when you write named arguments you might write them in a random order that makes the compiler to introduce locals to preserve side-effects in order. It would be nice to (1) have an analyzer add all named arguments f

[2016-03-18 12:36] TonyValenti commented on #996
Here's a thought:
What if you had something like this:
[code]

Right now you get an error message saying "Static types cannot be used as parameters" but I don't see why, when you're using a static class, the compiler can't either 1) fill in null for the value or 2) fill in a reference to the static class.  I like this because it keeps the syntax the same as well.

[2016-03-18 13:49] lachbaer commented on #9863
@ikopylov There are some code snippets that all start with `prop...` namely `prop`, `propg` and `propfull`. Try those.

[2016-03-18 13:53] alrz commented on #996
@TonyValenti Because you can't have an instance of an static type. I think this is a matter of compiler finding the method when you write `Console.WriteGreen(message)` so with the syntax above you just write your method as `static` and hint the compiler that it can aprear after the type `Console`.
[code]
There is no need to pass an instance of the type `Console` (and it woudn't make sense because

[2016-03-18 14:47] Tasteful commented on #9657
Also opened a bug at Jetbrains that is tracked here https://youtrack.jetbrains.com/issue/RSRP-455790

[2016-03-18 14:53] wigy-opensource-developer commented on #3394
Milestone: Unknown. So I guess there is a good workaround someone could explain here? Duplicating the whole bookkeeping of a Workspace for each analyser does not seem to be a viable workaround.

[2016-03-18 15:03] Epicycle23 opened #9887 "CType/CBool/etc throwing invalid cast exception depending on the declared variable type although the actual type is the same"
**Version Used**:

vb.net visual studio 2015 update 1

**Steps to Reproduce**:

1. Create a test method

[code]

**Expected Behavior**:

Test passes.

**Actual Behavior**:

Test fails with an invalid cast exception

**In Contrast (it actually does pass the test and does not throw)**

[code]

On a side note: I wasnt even able to decompile the first method, whereas the second one could be decompiled

[2016-03-18 15:21] #7512 closed

[2016-03-18 16:13] gafter commented on #9839
Dup of #9523

[2016-03-18 16:13] #9839 closed

[2016-03-18 16:16] #9857 closed

[2016-03-18 16:27] alrz commented on #9883
By the way, it was rather trivial to write such an analyzer.

[2016-03-18 16:27] #9883 closed

[2016-03-18 16:29] gafter commented on #9882
@MadsTorgersen @VSadov @jcouv FYI

[2016-03-18 16:29] gafter commented on #9883
Perhaps you'd like to contribute it to Roslyn?

[2016-03-18 16:32] gafter commented on #9887
@AnthonyDGreen Do you have any idea what's going on here?

[2016-03-18 16:35] #9599 closed

[2016-03-18 16:37] EgorBo opened #9889 "Compiler doesn't complain on await in an unsafe context."
**Steps to Reproduce**:

1. Create a partial class Class1 with two files: Class1.A.cs and Class1.B.cs,
2. in Class1.B.cs mark it with the "unsafe" keyword so the whole class should be "unsafe" now
3. Create an async method MyMethod() in Class1.A.cs and use some await there (like await Task.Delay(1))
4. Compile it - success
5. Move MyMethod() from Class1.A.cs to Class2.B.cs and compile - compilatio

[2016-03-18 16:45] alrz commented on #9883
@gafter Definitely! I will try to make it into a PR.

[2016-03-18 16:49] amcasey commented on #9872
@ManishJayaswal The crash occurs during batch compilation while synthesizing information required for EnC.

[2016-03-18 16:54] davkean opened #9891 "Add .NETStandard support to our packages"
We need to add .NETStandard support to our packages.

[2016-03-18 16:54] davkean commented on #9891
tag @agocke @jaredpar

[2016-03-18 17:01] #9688 closed

[2016-03-18 17:03] AlekseyTs opened #9892 "ConditionalFact(typeof(IsEnglishLocal)) skips tests when current culture is “en-US”"
It looks like there is a bug in our infrastructure
[code]
is true, even though ```System.Globalization.CultureInfo.CurrentCulture.ToString()```
is “en-US”

It is possible we never run these tests.

[2016-03-18 17:16] amcasey commented on #7371
There are presently no `Flaky` issues referring to this test.

[2016-03-18 17:17] amcasey commented on #6976
There are no active `Flaky` bugs for this test.

[2016-03-18 17:18] svick opened #9893 "CS7068: "Reference to type X claims it is defined in this assembly, but it is not defined" when compiling corefx"
I'm trying to compile corefx using `MSBuildWorkspace` and I'm failing at [System.Diagnostics.Debug](https://github.com/dotnet/corefx/tree/5e7b70c82fefd821a5807b48adbf55fe8b64f16c/src/System.Diagnostics.Debug).

The errors I'm getting are all of the form:

Where X are various basic types like `Object`, `Enum`, `Attribute` or `IEnumerable<>` ([full error list](https://gist.github.com/svick/f05fd1bb4

[2016-03-18 17:19] amcasey commented on #6755
@KevinH-MS Can you please verify?

[2016-03-18 17:20] amcasey commented on #6622
There have been no recent reports of this issue.

[2016-03-18 17:21] amcasey commented on #6533
No recent reports.

[2016-03-18 17:29] jaredpar commented on #6533
This component was deleted entirely so definitely safe to close.

[2016-03-18 17:32] amcasey commented on #6397
Verified that there is a single "Insert Text" item in the undo list.

[2016-03-18 17:33] amcasey commented on #6657
No repro steps.

[2016-03-18 17:35] KevinH-MS opened #9895 "ResultProvider does not handle DkmClrValues with no Type..."
These may be created by the debugger in some error cases where evaluation of the expression fails at a point in the code where no type is handy.

See test:  ```Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.UnitTests.ExpansionTests.ErrorValueWithNoType```

[2016-03-18 17:35] KevinH-MS commented on #9895
FYI @plnelson

[2016-03-18 17:57] AlekseyTs opened #9896 "Need to clarify expected behavior for SyntaxNode.FindNode(Span,...) when parent and child nodes have the same span"
Related to http://vstfdevdiv:8080/DevDiv2/DevDiv/_workitems/edit/755236

See unit-test Microsoft.CodeAnalysis.VisualBasic.UnitTests.Microsoft.CodeAnalysis.VisualBasic.UnitTests.TestSyntaxNodes.TestFindNode

CrefReferenceSyntax and its child IdentifierNameSyntax have the same span. FindNode based on that span returns the parent (CrefReferenceSyntax). Is this correct behavior.

[2016-03-18 18:14] balajikris commented on #9366
This may or may not be the same issue as we're seeing with the CreateWebProject DDRITs, where completion doesn't show up after `@`. That however, I don't think is the empty file case, but the logging I've added for that should help here too?

[2016-03-18 18:32] amcasey commented on #5927
Unskipping: https://github.com/dotnet/roslyn/pull/9897

[2016-03-18 18:44] jaredpar commented on #9872
@VSadov please investigate this today and ensure we're not at risk for a hidden bug here in update 2.

[2016-03-18 19:06] EgorBo opened #9903 "Proposal: multiple using statements"
The proposal is about to have an ability to declare needed namespaces via short one-line format:

How we declare usings now:

[code]

How it can be:

[code]

And to reduce self-repeating by using some special character like '*':

[code]

to let the compiler search Runtime and InteropServices in one of the previously defined namespaces (if there are more than one - to include all of them or to show

[2016-03-18 19:22] gafter commented on #9903
Why would this be a desirable language change?

[2016-03-18 19:24] gafter commented on #9893
Assigning to IDE as `MSBuildWorkspace` is in the workspaces layer.

[2016-03-18 19:29] EgorBo commented on #9903
@gafter For short scripts/one-liners/REPL where the "using" section can be bigger than the actual code. Also sometimes 'using' section is so big so it occupies the whole screen and 80% of text is a copy-paste.

[2016-03-18 19:52] jaredpar commented on #9891
What TFM of netstandard do we need to use?

[2016-03-18 19:58] amcasey commented on #5927
Unskipped: https://github.com/dotnet/roslyn/commit/7eedb32c03262f0de125b1d34487602df638e01e

[2016-03-18 20:01] davkean commented on #9891
¯\(°_o)/¯ but its going to different based on each packages currently supported platforms.

Sent from my Windows Phone
________________________________
From: Jared Parsons<mailto:notifications@github.com>
Sent: ‎3/‎18/‎2016 12:53 PM
To: dotnet/roslyn<mailto:roslyn@noreply.github.com>
Cc: David Kean<mailto:David.Kean@microsoft.com>
Subject: Re: [roslyn] Add .NETStandard support to our packages (#98

[2016-03-18 20:03] AnthonyDGreen commented on #9887
Makes no sense. Must be a bug.

[2016-03-18 20:04] jaredpar commented on #9891
CC @weshaggard to get clarity on the TFM here.

[2016-03-18 20:07] agocke commented on #9891
Also which packages? CodeAnalysis*? The .Net.Compilers package? The .Net.Compilers.netcore package?

[2016-03-18 20:17] UnoSD opened #9908 "[Proposal] Common interface for classes with Identifier property."
Can you please consider adding an interface to all the syntax nodes with an Identifier?

I had to rewrite the same code for various types just because they didn't have a common base (and I didn't want to use reflection).

E.G.
**Microsoft.CodeAnalysis.CSharp.Syntax.MethodDeclarationSyntax**
and
**Microsoft.CodeAnalysis.CSharp.Syntax.ClassDeclarationSyntax**

[2016-03-18 20:19] weshaggard commented on #9891
cc @ericstj
As @davkean said it will be different based on what you plan to target and what your dependencies target.  See https://github.com/dotnet/corefx/blob/master/Documentation/architecture/net-platform-standard.md#mapping-the-net-platform-standard-to-platforms for the targets of the different netstandard versions.

@agocke for .NET Core CLI purposes it should at least be Microsoft.CodeAnalys

[2016-03-18 20:20] tmat commented on #9891
Scripting nugets should target "netstandard1.4" and "net45"

[2016-03-18 20:22] tmat commented on #9891
I think compiler should target "netstandard1.1"

[2016-03-18 20:33] jcouv opened #9910 "ETA fails to run from fresh roslyn-internal build"
When I try to run it, I get "Could not load file or assembly 'Microsoft.VisualStudio.Composition.Configuration'"

Adding a binding redirect (to 14.2) for that assembly uncovered a similar problem with "Microsoft.VisualStudio.Composition". That one was resolved with binding redirect to 14.0. I'm not sure why the difference.

[2016-03-18 21:41] agocke commented on #9891
@weshaggard This implies there are no changes to dnxcore50, is that correct?

[2016-03-18 21:50] cston commented on #1450
No longer repros. Enabled test in #9871.

[2016-03-18 21:50] #1450 closed

[2016-03-18 22:25] #9714 closed

[2016-03-18 23:08] HaloFour commented on #9889
@EgorBo

When you mark only one part of a `partial class` as `unsafe` that doesn't apply to the entire class.  For example, the following is a compiler error:

[code]

Because you have the `async` method in the non-`unsafe` part of the class definition that is considered legal.

[2016-03-18 23:13] KevinH-MS opened #9916 "Too much Console output in Interactive crashes VS..."
This is a contrived example, but @davkean reported encountering this in actual usage...

[code]

**RESULTS:**
We end up with thousands of ```Microsoft.VisualStudio.Text.Implementation.TextVersion``` objects that aren't getting GC'ed.

**EXPECTED RESULTS:**
At some point, we should be releasing memory.

[2016-03-18 23:14] weshaggard commented on #9891
@agocke the document is a little behind some of the current thinking as dnxcore50 will be getting renamed to netcoreapp10 but I don't believe that should impact any of your packages. However if there are any please point them out to me and I can suggest how to change them.

[2016-03-18 23:16] agocke commented on #9891
@weshaggard The Microsoft.Net.Compilers.netcore package consumed by CLI is dnxcore50.

[2016-03-18 23:16] agocke commented on #9891
(Technically, it's just a package with runtimes/any/native/*.exe, where those exes are IL-only, though)

[2016-03-18 23:17] agocke commented on #9891
The references are all dnxcore50.

[2016-03-18 23:26] brettfo commented on #9409
Added logging in dotnet/roslyn-internal#679.

[2016-03-18 23:26] #9409 closed

[2016-03-18 23:30] weshaggard commented on #9891
I'm not entirely sure how Microsoft.Net.Compilers.netcore is being consumed so I would need to better understand who is consuming to suggest whether or not any updates are needed for it. However if everything is in "runtimes/any/native" that means any target can resolve it and if the dependencies are dnxcore50 they can actually be changed to be non-TFM specific as well, it all depends on the plans

[2016-03-19 00:04] VSadov commented on #9872
This is a bug specific to future branch it is caused very indirectly by the local function.

[2016-03-19 00:24] #9274 closed

[2016-03-19 00:32] lgolding opened #9920 "Building clean repo modifies many project.lock.json files"
**Version Used**:

Update 2

**Steps to Reproduce**:

1. Fork dotnet/roslyn
2. Clone the fork
3. Restore.cmd
4. msbuild /v:m /m Roslyn.sln

**Expected Behavior**:
Build succeeds

**Actual Behavior**:
Build succeeds, but 99 project.lock.json files are modified. The only change is that the sha256 of System.Reflection.Metadata/1.2.0 has changed.

[2016-03-19 02:40] davkean commented on #9920
Same in future, can't figure out how we keep regressing this.

[2016-03-19 12:03] lachbaer commented on #9834
Also, if the team decides to implement the "ignore parameters feature", the `void` keyword in this context would easily allow to start implementing it. Adding the capture list feature possibly could be done after that, having already 'prepared' some of its necessary requirements - maybe.

[2016-03-19 14:44] AdamSpeight2008 commented on #9920
What is it that the `project.lock.json` files do? Are they like the visual studio lock files, which are generate when you up a document, from with a project. So that it indicates that it is being edited?
.

[2016-03-19 16:27] vbcodec opened #9924 "Proposal: Type views - completes tuples support"
**Description**
Type views is notion that exhibit members and their types from underlying type. This notion works above existing types and can capture types: classes, records, structs, anonymous types, tuples, interfaces and arrays. Views simplifies working with types, reducing needs for using interfaces, exist only on language level and do not require any CLR support.

**Mapping type members to v

[2016-03-19 16:34] vbcodec commented on #347
I have posted similar proposal #9924, that generalizes support for tuples

[2016-03-19 19:57] lgolding commented on #9920
To understand what project.lock.json is, you first need to know what project.json is.

In NuGet version 3, you specify your NuGet dependencies in a file named project.json -- unlike version 2, where you used a file called packages.config. Also unlike NuGet v2, in NuGet v3 you only have to specify your "top-level" dependencies. If you need package A, which depends on B and C, you only need to speci

[2016-03-19 20:06] paul1956 commented on #9920
Could upgrading to NuGet version 3 cause a working VB project to break? I can no longer find a reference to System.Disgnostics.Process. I asked about this in #9762.

[2016-03-19 20:23] AdamSpeight2008 commented on #9920
@lgolding Thank you.
That leads the to question, what stages that _in-memory copy_ is output to disk, or overrides the "true" project file. As the files on disc would have to changed to affect the git repo.

[2016-03-19 20:24] gafter commented on #2184
I'm thinking of changing how we handle internal symbols. Currently the spec says

I think that in cases where a dependent assembly has `InternalsVisibleTo` access, it can depend on the *real* implementation assembly, so that we can exclude internal symbols from the reference assembly. Thus I propose to change this paragraph to

[2016-03-19 20:28] lgolding commented on #9920
@AdamSpeight2008 That in-memory copy of the project file (synthesized by combining the information in the on-disk project file with the information in the project.json.lock file) is never written back to disk. It is recomputed dynamically on each build.

[2016-03-19 20:37] AdamSpeight2008 commented on #9920
@lgolding
At some stage in the process those modified `project.lock.json` files, have to output on to disc.
If is after step 3? or after step 4?

[2016-03-19 20:48] lgolding commented on #9920
Oh, the lock files. I thought you meant the csproj file. I don't know.

@tannergooding?

[2016-03-19 21:08] orthoxerox commented on #9882
This is an interesting problem. At first glance, tuples should be `IDisposable`, since FDG say:

However, tuples don't really *contain* instances of disposable types, just like `List<T>` doesn't and therefore doesn't implement `IDisposable`. If you get a collection of disposable types, it's your job to dispose of them correctly.

Therefore I think `let

[2016-03-19 21:42] gafter opened #9925 "Incorrect compiler diagnostic for hidden virtual member"
The C# compiler produces an error for this

[code]

But the error is not justified by anything (that I could find) in the C# language specification. We should either describe the required error in the C# specification or modify the compiler to stop producing it.

@AlekseyTs @MadsTorgersen

[2016-03-19 23:42] msedi commented on #7599
Yes. In my opinion this is now absolutely necessary. Having only generics that are not fully equivalent to C++ generics (in functional behaviour) are absolutely mandatory. I guess there are many guys out there requesting this feature. Instead a lot of people here are complaining about syntactic sugar.

[2016-03-19 23:50] msedi commented on #3391
You are always talking about scalar values. But what happens when we have large arrays and we want to add them? Currently having math operation on two very long arrays works only well with unsafe code. Every other implementation I have tested failed completely.

Here I also need to have a pointer on a generic type. It would work well if the numeric type would also support pointers.

[2016-03-20 01:40] jamesqo opened #9926 "Feature Request: Supporting nameof(builtin)"
We support `nameof(Class)` already, it would be nice if we could also do this for built-in types, such as `nameof(string)` or `nameof(char)`. Of course we can use `nameof(Char)`, but that yields different results.

Example of where this would be useful: https://github.com/xunit/assert.xunit/blob/5393af8846737eea79db9ac3b6732e316377ea69/Sdk/ArgumentFormatter.cs#L27-L41

Also supporting this for sel

[2016-03-20 04:33] bondsbw commented on #9882
Do the current tuple proposal/design also include indexed locations?  We could do something like

[code]
or perhaps
[code]

Downside, that is limited to a single item within the tuple.

[2016-03-20 04:35] bondsbw commented on #9882
Possible new syntax which allows disposing of more than one item within the tuple:

[code]

[code]

[2016-03-20 06:49] weshaggard commented on #2184
FWIW for the full .NET Framework we have the internal members in the reference assemblies and I tried to remove them at one point but I couldn't because it broke a ton of things. So while I think it is good not have by default I do think we need an option to include them.

[2016-03-20 11:47] orthoxerox commented on #9882
After sleeping on this, what's wrong with existing language support plus tuple destructuring?

[code]

[2016-03-20 13:11] alrz commented on #9882
I think one should be able to implement `IDisposable` for tuples via #8127

[code]
which is the same as defining an extension method (#258).
[code]
@orthoxerox

let (status, bmp) = TryCaptureImage();
using (bmp) {
   ...
}
[code]

[2016-03-20 13:18] alrz commented on #9882
Although, if just one of the items are `IDisposable` @orthoxerox suggestion would be sufficient.

[2016-03-20 16:12] bondsbw commented on #9882
@alrz It could be used for multiple as well, albeit a bit clunky:

[code]
I would prefer a way to combine them in one line.

[2016-03-20 16:54] NoneGiven commented on #9925
Probably a small typo in "M.B" instead of "B.M"

[2016-03-20 17:13] SergeyZhurikhin opened #9927 "Refactoring encapsulate field - degraded, compared with VS 2013"
**Version Used**:  VS2015Esp1

**Steps to Reproduce**:
There are two classes:

[code]

**Expected Behavior**:
Requires encapsulate field p, so that the external appeal was to the property, and if the internal to the left as it was:

[code]

This is a common case, and he was supported in VS2013.

**Actual Behavior**:
The VS2015 offers two types of refactoring, and both options are missing this comm

[2016-03-20 18:26] ManishJayaswal commented on #2184
:+1: @gafter we can potentially use it for dynamic analysis as well.

[2016-03-20 20:15] lostmsu commented on #114
'async using' looks frustrating. Why not 'await using'?

[2016-03-20 20:20] paulomorgado commented on #9924
Can you show some practical uses of this?

What can you do with this that you can't without this?

[2016-03-20 21:18] JeffCyr commented on #114
I think that `await using` is misguiding, it would imply that the using statement returns an awaitable expression.

You are not `awaiting` the using block, it's a declaration of an asynchronous using statement, this is why I prefer `async using`.

[2016-03-20 22:17] gafter commented on #9925
@NoneGiven Yes, thanks. Fixed.

[2016-03-20 23:27] bkoelman opened #9930 "Nullable reference types: ReferenceEquals(x, null) not considered a null check"
I have been playing with nullable reference types, which is already working remarkably great! To try it out, I have [patched up](https://github.com/bkoelman/ResharperCodeContractNullability/tree/staticnull) my analyzer to convert Resharper's `(Item)NotNull/CanBeNullAttribute` annotations to nullable reference types. Then ran that on an [actual annotated codebase](https://github.com/bkoelman/DogAgi

[2016-03-20 23:39] bkoelman opened #9931 "Nullable reference types: while ((x = Some()) != null) not considered a null check"
I have been playing with nullable reference types, which is already working remarkably great! To try it out, I have [patched up](https://github.com/bkoelman/ResharperCodeContractNullability/tree/staticnull) my analyzer to convert Resharper's `(Item)NotNull/CanBeNullAttribute` annotations to nullable reference types. Then ran that on an [actual annotated codebase](https://github.com/bkoelman/DogAgi

[2016-03-20 23:49] bkoelman opened #9932 "Nullable reference types: Unconstrained generic causes error CS0453"
I have been playing with nullable reference types, which is already working remarkably great! To try it out, I have [patched up](https://github.com/bkoelman/ResharperCodeContractNullability/tree/staticnull) my analyzer to convert Resharper's `(Item)NotNull/CanBeNullAttribute` annotations to nullable reference types. Then ran that on an [actual annotated codebase](https://github.com/bkoelman/DogAgi

[2016-03-21 00:07] bkoelman opened #9933 "Nullable reference types: Internal assertion failures"
I have been playing with nullable reference types, which is already working remarkably great! To try it out, I have [patched up](https://github.com/bkoelman/ResharperCodeContractNullability/tree/staticnull) my analyzer to convert Resharper's `(Item)NotNull/CanBeNullAttribute` annotations to nullable reference types. Then ran that on an [actual annotated codebase](https://github.com/bkoelman/DogAgi

[2016-03-21 01:30] Hosch250 commented on #7070
In VSDiagnostics, we have issues for redundant/missing returns, missing exception blocks, missing summaries, and generally malformed docs (like a missing closing tag), in addition to the parameter ones.

[2016-03-21 02:02] AlekseyTs commented on #9930
@bkoelman Thanks for trying out the prototype. I agree, it makes sense to specially recognize ReferenceEquals calls.

[2016-03-21 02:04] yufeih commented on #9903
How about just introducing `*` to the using statement:

- `using System.Runtime.*;`   Imports all descendant namespaces under `System.Runtime`
- `using System.*;`  Imports all descendant namespaces under `System`, including `System.Runtime`, `System.Runtime.InteropServices`, etc
- `using *;`  Imports all namespaces from all referenced assemblies.

I tend to restrict `*` to only appear at last, but

[2016-03-21 02:07] AlekseyTs commented on #9932
CC @MadsTorgersen

[2016-03-21 02:58] HaloFour commented on #9932
I seem to recall this being a known issue, that without specific CLR changes it would not be possible to unify nullable value and reference types given that the former can only be represented by `Nullable<T>` where `T` must be a value type.  In order for the compiler to correctly implement this method either the `struct` or `class` generic constraint would have to be specified, and to handle both

[2016-03-21 04:08] gafter commented on #9717
The current pattern-matching expression uses language similar to the language describing the result type of `?:`, and does not support void subexpressions for the same reason.

[2016-03-21 04:11] #9717 closed

[2016-03-21 07:42] orthoxerox commented on #9932
@HaloFour the compiler currently barfs on such helper method pairs, see #7459

[2016-03-21 09:05] hmemcpy commented on #9793
Hey Jose, I wrote you an open letter http://hmemcpy.com/2016/03/an-open-letter-to-jose-j-moran/

[2016-03-21 09:18] DaveVdE commented on #9793
Where's Hejlsberg when you need 'm.

[2016-03-21 09:56] orthoxerox opened #9936 "Nullable reference types: homogenizing them and nullable value types."
As of now the following four functions have to be implemented to support nullability for both kinds (and the compiler still fails with CS1940):

[code]

With explicitly nullable reference types one single function should be sufficient to support all four cases:

[code]

where `IsNull()` and `AsNotNull()` are some new language features that work the same way for both nullable value and reference ty

[2016-03-21 10:04] forki commented on #9793
In F# and swift semicolons are optional. But they are required if you are doing two expressions on the same line (see https://developer.apple.com/library/ios/documentation/Swift/Conceptual/Swift_Programming_Language/TheBasics.html)

The pure fact that swift and F# make semicolons optional doesn't prove anything for C#. There are many other things that may break syntax ambiguities (like being white

[2016-03-21 10:23] JohnnyBravo75 commented on #8818
I vote for 'switch' because it is an already used construct in c#.
Its syntax is not the best, but its better to reuse it and give it more power with matching than introducing match as an extra keyword.

[2016-03-21 11:35] bkoelman commented on #9936
`ReferenceEquals(source, null)` today already works for both nullable value types and reference types. It returns `true` when passing in `int? i = null` and `string s = null`.

[2016-03-21 11:44] HaloFour commented on #9932
@orthoxerox

In your case the parameter lists would be identical regardless of the generic constraint.  In the code I listed above the parameter lists would be different as the `struct` generic constraint would force the compiler to treat `T?` as `Nullable<T>`, where the `class` generic constraint would cause the compiler to treat `T?` as just an annotated `T`.  You're already allowed to overload

[2016-03-21 11:57] HaloFour commented on #9936
This is a dupe of #9932.  As mentioned the compiler can't emit a single method that would support both nullable reference types and nullable value types as the types are different which would make the signatures different as well as the containing IL.  `T?` is either `T` or `Nullable<T>` and `Func<T, U?>` is either `Func<T, U>` or `Func<T, Nullable<U>>`, they are not interchangeable.

I don't know

[2016-03-21 12:16] AdamSpeight2008 commented on #8818
My concerns with using `switfch` is that it changes the semantics of it, potentially break compatibility with existing code. Using `match` doesn't as well as indicating that this block is a pattern-match.

[2016-03-21 12:17] AdamSpeight2008 commented on #9793
@DaveVdE Doing better things with his time.

[2016-03-21 12:22] alrz commented on #9932
public void DoSomething(Person? person)
{
    Guard.NotNull(person, nameof(person));
    Console.WriteLine($"Hello {person.Name}!"); // CS8202: Possible dereference of a null reference
}
[code]

[2016-03-21 12:23] orthoxerox commented on #9936
@HaloFour

I'd rather change the CLR in a way that avoids storing a `bool` next to every nullable reference type. `object.ReferenceEquals` works on nullables because it accepts `object`s, and `box` CIL instruction is clever enough to push a `null` onto the stack when it pops an empty `Nullable<T>`. If I go back to my example:

[code]

it looks like we might need a new CIL opcode, e.g., `castnotnul

[2016-03-21 12:26] alrz commented on #9936
:+1:

This is basically [what Rust does](http://smallcultfollowing.com/babysteps/blog/2015/05/05/where-rusts-enum-shines/) when you use `Option<&T>` type.

/cc @HaloFour

[2016-03-21 12:36] HaloFour commented on #9936
@orthoxerox

You mean "nullable value type"?  You'd have to store something as there's no way to express a value type as a `null` otherwise.  What is the `null` value of an `int`?  The CLR needs that flag in order to know to box that `Nullable<int>` as a `null`.

[2016-03-21 12:57] bkoelman commented on #9932
Guys, although I appreciate you thinking along, let's try not to make this issue bigger than need be.

1. No changes in overload resolution, as this concerns [existing working code](https://github.com/bkoelman/DogAgilityCompetitionManagement/blob/master/src/Circe/Guard.cs#L15).
2. Resharpers `[CanBeNull]` attribute just translates to `[System.Runtime.CompilerServices.NullableAttribute]`, which the