[2016-08-31 19:43] kuhlenh commented on #13496
@Pilchie can we get this in P5?

[2016-08-31 19:48] series0ne commented on #13488
@pebezo You're not wrong, great idea! Have you Seen [The Future of C#](https://channel9.msdn.com/Events/Build/2016/B889)? and have you noticed how C# is becoming very JavaScript'esque in some respects (they even say that in the video)

Now on that note, a few days ago I tweeted [Microsoft & Anders Hejlsberg](https://twitter.com/series0ne/status/766714912693481472), suggesting that a single unified

[2016-08-31 20:01] alrz commented on #13493
VB version also generates two try block.
[code]
Not sure if it has any performance penalties, though.

[2016-08-31 20:19] martinvahi commented on #10378
@orthoxerox

May be it helps, if I mention that according to [Андрей Николаевич Терехов](http://ant.tercom.ru/eng/) video series [at YouTube](https://youtu.be/svuWaE3-RWg?t=16s) he and his colleagues developed a Cold War era computer for the then-brand-new Soviet nuclear missiles and, supposedly, they got their inspiration for the missile computer from a project, where they had to build a computer

[2016-08-31 20:29] HaloFour commented on #13488
This duplicates a number of individual proposals.  Specifically constraints by member or operator (which is really just a static member anyway) have been proposed.  As have constraints for primitive types.  I don't think that there are any proposals for union types, though.

Note that C# is kind of limited in what it can really do here.  For the most part C# implements every form of generic constr

[2016-08-31 20:30] JohnHamby commented on #8753
I'm not sure that we would need more compilation events. Executing symbol actions for locals could be driven by the existing event that occurs for analyzing the containing method. When a method is declared, and if there are actions for locals available, get a bound tree for the method and traverse it looking for locals.

This could be layered on top of IOperation in a language-independent way.

Ho

[2016-08-31 20:40] dpoeschl commented on #8753
It adds convenience, and yes I could do the same (painfully) with syntax node actions (or whatever), but it also _completes_ RegisterSymbolAction and removes an undocumented gotcha. If we're gonna leave it this way, can we at least document the gotcha?

[2016-08-31 20:49] HaloFour commented on #10378
@martinvahi

Rather than trying to take a *general purpose* programming language like C# and trying to shoe-horn it into a very constrained and specific space such as highly automatically concurrent programming, why don't you actually use one of the various languages designed for that job?  It's not like any of *those* languages let you write whatever you want and it's magickally concurrent/faster

[2016-08-31 20:50] JohnHamby commented on #8753
I'm actually in favor of enabling symbol actions for locals and parameters, and think that we could do it without adding a lot of internal mechanism. Arguing both sides in hopes of provoking @srivatsn into taking a position...

[2016-08-31 20:50] genlu commented on #9270
@asoifer I did some tests on VS 2015 update 3, with latest roslyn bit built from master branch deployed. I was able to correctly run an `IOperation` based analyzer (which uses `RegisterOperationAction`, `SemanticModel.GetOperation` and co) in a simple console project I created from template.

One caveat I noticed is the feature flag is case-sensitive, i.e. `<Features>IOperation</Features>` works w

[2016-08-31 21:03] jcouv opened #13502 "Update tuple element indices and TupleElementFields API"
Per our latest design discussion, we would give named elements an odd index (a=1, b=3, c=5) and default elements an even index (Item1=2, Item2=4, Item3=6). Other members and fields will get negative indices.

The `TupleElementFields` should be updated accordingly. For `(int a, int, int c)`, it should return three fields: one for `a`, one for `Item2` and one for `c`. We could consider making this A

[2016-08-31 21:04] kuhlenh opened #13503 "[caret placement] Extract Interface"
This is part of our effort to make our quick actions more discoverable by having them triggered where expected.

![image](https://cloud.githubusercontent.com/assets/1402694/18145808/97960c4c-6f81-11e6-8f72-2de00b2ab2da.png)
- We currently only offer this quick fix at (3). **At a minimum, let's offer the fix anywhere in the declaration of the class (1-4).**
- We can also offer these "class-wide" qu

[2016-08-31 21:06] SunnyWar commented on #10378
We have had for years "solvers", such as the [Microsoft Solver Foundation ](https://msdn.microsoft.com/en-us/library/ff524509(v=vs.93).aspx) that can find optimal or near optimal solutions to a large variety of problems. I hope something like this already exists in the compiler. If not, perhaps it should be.  I bet a there are a large number of decisions the compiler makes can be expressed as a Mo

[2016-08-31 21:06] jcouv commented on #13342
@DavidArno Thanks for reporting this. I'm looking into this issue.

[2016-08-31 21:09] jcouv opened #13504 "A unique error code should be used for missing ValueTuple type"
This will greatly simplify the logic for the code fix that will suggest to add a nuget reference.

Relates to https://github.com/dotnet/roslyn/issues/13375 (improving the first time experience for tuple users)

[2016-08-31 21:25] kuhlenh opened #13505 "[caret placement] Encapsulate field does not use refactoring helper service"
This is part of our effort to make our quick actions more discoverable by having them triggered where expected.

![image](https://cloud.githubusercontent.com/assets/1402694/18146731/21ac537e-6f86-11e6-9320-d53076533fe9.png)

Currently, we offer this quick fix at (2-5). If you are 1 space before, e.g. (1), you will not get the fix. I think this should be a bug, but it seems like it's up for debate.

[2016-08-31 21:37] jcouv commented on #11016
This will be fixed by https://github.com/dotnet/roslyn/pull/13453

[2016-08-31 21:45] agocke opened #13506 "Microsoft.CodeAnalysis.UnitTests.SolutionTests.TestRecoverableSyntaxTreeCSharp seems flaky"
It's failed twice in the past two days:

* http://jdash.azurewebsites.net/builds/test?name=Microsoft.CodeAnalysis.UnitTests.SolutionTests.TestRecoverableSyntaxTreeCSharp&viewName=dotnet_roslyn&pr=False&limit=10&startDate=2016-08-30
* https://dotnet-ci.cloudapp.net/job/dotnet_roslyn/job/master/job/windows_release_unit64/567/

I suspect this has the same root cause as https://github.com/dotnet/rosly

[2016-08-31 21:48] AdamSpeight2008 opened #13507 "[Q] More information about a TODO - Bug 889301."
I could do with more information about this bug 889301, is there a unit test. **Edit** [Is this it?](https://github.com/dotnet/roslyn/blob/56f605c41915317ccdb925f66974ee52282609e7/src/Compilers/VisualBasic/Test/Syntax/Parser/ParseDeclarationTests.vb#L651)
What source code did produce the "bug"
[code]
[link](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Parser/Pars

[2016-08-31 21:55] heejaechang commented on #6802
@cheverdyukv one is GC can add more to finalizer queue which again goes away and in VS, we delay release RCW so, making sure that goes away as well.

[2016-08-31 22:08] AlekseyTs commented on #13459
I think there is actually a bug in this scenario.

[2016-08-31 22:10] jcouv commented on #13375
We’re going to go with option 2.

1.	We’ll update the CodeFix to recognize the specific errors from this case.
2.	We are already planning on splitting the Add NuGet package into MS specific packages and 3rd parties and to enable the MS specific ones by default.
3.     We'll update the compiler to produce a specific error code for missing ValueTuple.

[2016-08-31 22:30] #13300 closed

[2016-08-31 22:30] #13365 closed

[2016-08-31 22:31] jcouv commented on #13365
Thanks @svick for reporting the problem. Fixed with https://github.com/dotnet/roslyn/pull/13463

[2016-08-31 22:31] jcouv commented on #13300
Fixed by https://github.com/dotnet/roslyn/pull/13463

[2016-08-31 22:33] #11016 closed

[2016-08-31 22:37] srivatsn commented on #8753
:) You've provoked me now John. Sure, respecting all symbol kinds in RegisterSymbolAction would be great. @dpoeschl, I'd love to take a PR here.

As to it being undocumented, aren't you seeing an analyzer warning when you try to RegisterSymbolAction some unsupported kind? [This analyzer](https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/

[2016-08-31 22:49] tmat opened #13509 "Parser OOMs while parsing incomplete code"
Likely an infinite loop.

[code]

Crash dump at ```%internal_share%\public\tomat\Bugs\13509```

[2016-08-31 22:50] tmat commented on #13509
@jaredpar Known issue? This is with Dev15 Preview 3

[2016-08-31 22:54] Pilchie commented on #13509
Is it the throw expression hang in https://github.com/dotnet/roslyn/issues/12197?

[2016-08-31 23:00] tmat commented on #13509
Yes, that looks like the same issue.

[2016-08-31 23:00] #13509 closed

[2016-08-31 23:07] jmarolf commented on #13507
This is the original bug

# Bug 889301:Parser-more error:''

**Description**
[code]
**Expected**
error 30203: Identifier expected.

**Actual**
[32..39) : error 30213: Comma or ')' expected.
[32..32) : error 30203: Identifier expected.

And I do believe that [this](https://github.com/dotnet/roslyn/blob/56f605c41915317ccdb925f66974ee52282609e7/src/Compilers/VisualBasic/Test/Syntax/Parser/ParseDeclar

[2016-08-31 23:08] #13507 closed

[2016-08-31 23:16] dpoeschl opened #13513 "windows_eta_open_prtest failure "error CS1061: 'ITextBuffer' does not contain a definition for 'GetFeatureOnOffOption'""
windows_eta_open_prtest failure: http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_eta_open_prtest/3216/
[code]

[2016-08-31 23:29] gafter commented on #13334
Rather than add a public API (that is very specific and EnC is the only client we can imagine), I recommend using this code:

[code]

/cc @jcouv @tmat @jaredpar

[2016-08-31 23:29] #13334 closed

[2016-08-31 23:32] dpoeschl commented on #13513
Hmm, seems to only happen on jobs from my PR. Investigating.

[2016-08-31 23:46] CyrusNajmabadi opened #13514 "QuickInfo should let you know if a local is a 'ref' local or not."
Ran into this while using some ref local stuff.  Hovering over the value gives you no indication it's byref.  That's annoying because you don't realize what the semantics are of assigning to it or any of its fields.

[2016-08-31 23:53] dpoeschl commented on #13513
Related to dotnet/roslyn-internal@7186175, but it's only happening on my PR

Closed/reopened the PR to try to get it to target the latest open master.

[2016-09-01 00:38] heejaechang opened #13515 "get rid of external dependecies in Setup.Next"
service hub team added new feature for us that let service hub service to pick up devenv.exe.config for their service.

that should let us to get rid of all these duplicated dependencies in Setup.Next that are required by service hub.

once the new bit FI to our branch, we should get rid of those.

[2016-09-01 01:22] davkean opened #13517 "Visual Studio crash opening Roslyn"
This is in WPT branch.

ArgumentNullException:
Value cannot be null.
Parameter name: path1
[code]

[2016-09-01 01:23] davkean commented on #13517
tag @mavasani

[2016-09-01 01:24] davkean commented on #13517
Oh, this looks the old language service host via CPS not even sure how we're loading in this case.

[2016-09-01 01:24] davkean commented on #13517
But either way we regressed this.

[2016-09-01 01:34] gafter commented on #8753
This is a very reasonable request, but please don't do it by having the compiler produce additional symbol-declared events. The bookkeeping required in the compiler would be quite high (the compiler does not require that a method body be bound precisely once), and the GC churn would be high for existing scenarios (which would not use those events).

[2016-09-01 01:42] mavasani commented on #13517
I saw this today as well and was confused- it's old project system based AbstractProject and the code to compute bin output path from hierarchy is also unchanged. Is outputdir or targetfilename that comes from IVSHierachy null?

[2016-09-01 02:44] martinvahi commented on #10378
@HaloFour

Thank You and the @SunnyWar and others for the answers.

My last proposal was that instead of doing the 2 parts, speed-optimized part and development-comfort optimized part, in 2 different programming languages, the 2 parts might be written both in C#, except that the development-comfort optimized part can use all of C# and the speed-optimized part is allowed to use only a sub-set of C#

[2016-09-01 04:31] gafter opened #13520 "Fail to detect pattern subsumption when there is an intervening case of a supertype"
The following test fails. It succeeds when the `case object o...` line is commented out.

[code]

[2016-09-01 04:40] laedit opened #13521 "/errorlogger add analyzer name in rule properties"
Thanks for the errorlogger switch, it is very useful.
I use it in a little project which parse analysis reports and post to build server like AppVeyor, and I wanted to indicate the analyzer at the source of a rule.

Is is possible to add the analyzer name, and maybe a uri if it's available, to the properties of a rule?

Something like:

    "S125": {
          "id": "S125",
          "shortDescrip

[2016-09-01 07:30] antonssonj commented on #13485
A similar problem in c# #13462

[2016-09-01 10:59] hcd opened #13523 "Visual Basic scripting"
Hi,
When is the "official" VB scripting for Roslyn planned ? Right now, in the NuGet packages, even when using the prerelease package v2.0.0-beta3, there is no Visualbasic scripting included.  If I get the sources from github and build it myself, the Visual basic scripting is there.
But it's not working correctly, eg.  the "globals" feature doesn't work. It doesn't recognize nor compile when I use

[2016-09-01 11:13] HaloFour commented on #10378
@martinvahi

The fact that you conflate "speed-optimized" with parallelism highlights the fact that you don't understand the problem space.  They're not the same thing and they're not written in the same manner.  Such a "dialect" of "C#" would be so *fundamentally* different from C# that it simply wouldn't be C#.  For reference, I suggest you look into [Microsoft Research language Axum](https://en

[2016-09-01 11:32] eugenyshchelkanov commented on #7150
Angular team does a good job of maintaining a changelog: https://github.com/angular/angular/blob/master/CHANGELOG.md

[2016-09-01 12:37] vbcodec opened #13524 "Proposal: Add Exit If to VB"
Will be useful for quick exit, enable to avoid 'iffize' inactive code and 'quicker' exit from subs

First case:
...
If x = 0 Then
Dim y  = 0
...
If y > 1 Then Exit If
...
End If

Here Exit If exits from outer If

Second case:
...
If x = 0 Then
...
Exit If
...
...
End If

Seems like unnecessary, but this is useful when we want to temporarily avoid some code (potentially problematic) from execution

[2016-09-01 12:44] asoifer commented on #9270
@genlu I tried again creating a new project, but its still the same. I checked the flag, and it is correct (in the first <PropertyGroup>, <Features>IOperation</Features>).  I think its correct because if I call InitializeFromModel it works well.

My analyzer program is:
var sln = @"solution path";
var workspace = MSBuildWorkspace.Create();
var userSolution = workspace.OpenSolutionAsync(sln).Result

[2016-09-01 12:55] HaloFour commented on #13524
You already have three ways to do this, on top of the method you mentioned (which is awful):

[code]

[code]

The idea of having some new language structure just so that you can have a fourth way seems extremely unnecessary.  It also seems like it would seem horribly confusing to anyone reading that code who would have to find and identify the `Exit If` construct to note that the remaining code in

[2016-09-01 13:27] vbcodec commented on #13524
@HaloFour
Loops While and For  have Exit While and Exit For, Select Case have Exit Select. Do these exits are awful or useless or misleading devs ? Don't think so. New exit End If looks like missing element to complete these already existing exits

Examples that you provided are worse than Exit If

[2016-09-01 13:53] HaloFour commented on #13524
Loops have `Exit` in order to break from the loop.  It is equivalent to `break` in C#.  It's useful although it's arguable that such constructs encourage poor flow akin to using `goto`.

The `Exit Select` statement is much less useful and could be replaced with a proper condition.  It exists in VB.NET because it is a legacy carryover from VBA/VB6.

Your opinion may be that my examples are "worse".

[2016-09-01 14:16] vbcodec commented on #13524
@HaloFour

"you have many different ways of achieving your goal"
Achieving goal and the way of achieving goal are two different things.

is that really better without using End If ?

[code]

Rather not. More lines, indentations (problematic when too many and using `longer` statements) and more work for adding / removing if especially for multiline pieces of code .

[2016-09-01 14:22] HaloFour commented on #13524
@vbcodec

And more structured.  There's a reason that `goto` is fairly universally discouraged/reviled.  The additional verbosity and indentation is far from onerous and makes the code more readable.  For the frequency in which such a bail-out might be useful I still don't see it justifying the cost of adding a language feature.  That is simply my opinion, though.

[2016-09-01 14:30] controlflow commented on #13432
I must admit: this was a bad idea to suggest `var x` as a "not-null variable pattern" syntax. `var! x` or something else would be a better choice. I was thinking of this syntax only because it some kind of duality between `var s = ...;`/`string s = ...;` declarations and `t is T x`/`t is var x` expressions.

Anyway, I think two core problems must be addressed in some way:
1. Unconditional patterns

[2016-09-01 15:45] srivatsn commented on #13517
Is this for shared projects? We have some shared projects in the Roslyn solution.

[2016-09-01 15:46] mavasani commented on #13517
Yes, it is indeed for shared projects. Is that related?

[2016-09-01 15:47] srivatsn commented on #13517
Shared projects are CPS-based (even in VS2015).

[2016-09-01 15:56] mavasani commented on #13517
Ported to https://github.com/dotnet/roslyn-project-system/issues/428

[2016-09-01 15:56] #13517 closed

[2016-09-01 17:00] gregg-miskelly opened #13526 "Expression compiler should return DkmClrCompilationResultFlags.PotentialSideEffect for constructor calls"
**Version Used**: VS 2015 Update 3

**Steps to Reproduce**:
1. Create the following program

    class Program
    {
        Program()
        {
            Console.WriteLine("Program Created");
        }

        static void Main(string[] args)
        {
            var p = new Program();
            Console.WriteLine(p);
        }
    }

2. Hover over 'new'

**Expected Behavior**:
Expression com

[2016-09-01 17:07] jcouv opened #13527 "Typing ':' (colon) after open-paren should not commit completion"
If you type "i" in `($$)`, `int` is only offered as soft-completion. But it should offer `int` as a hard-selection instead, but with ':' (colon) not being a commit character.

[code]

FYI for @CyrusNajmabadi

[2016-09-01 17:14] CyrusNajmabadi commented on #13527
Thanks.

[2016-09-01 17:22] #13494 closed

[2016-09-01 17:23] gafter commented on #13148
@jcouv Yes, I agree we seem to be in good shape for future syntax extensions, other than out var.

[2016-09-01 17:24] jcouv commented on #13466
Accidentally filed a duplicate issue https://github.com/dotnet/roslyn/issues/13527

[2016-09-01 17:27] jcouv commented on #13504
@CyrusNajmabadi I introduced a new error code for missing ValueTuple type in C#.

For VB, the error seems to have all the information. Let me know if I should also change it.
[code]
FYI for @AlekseyTs

[2016-09-01 17:29] AlekseyTs opened #13528 "Adjust wording for ERR_ExpressionVariableInConstructorOrFieldInitializer error"
[code]

From @cston:
Consider separating cases with comma for consistency with other errors. And remove auto-implemented if not necessary. Perhaps: ... not allowed within constructors, field initializers, or property initializers.

From @gafter:
Also, I believe the first "or" should be "and" (they are both forbidden), so I suggest

This is long-winded enough that you could consider specializing it

[2016-09-01 17:30] jcouv commented on #13342
Fixed by https://github.com/dotnet/roslyn/pull/13522

[2016-09-01 17:30] #13342 closed

[2016-09-01 17:30] gafter commented on #13148
We need to vet the implemented rule with the LDM (as it will need to be added to the language specification). I suspect the most likely rule the LDM will come up with is along the lines of "you're not allowed to have the out argument be an invocation of a method given by its simple name that is `var`."

I'm reopening this issue so that we can get an LDM decision and align it with the implementatio

[2016-09-01 17:47] AlekseyTs commented on #13148
The implemented rule is:

- are not named;
- do not have ref/out modifiers;
- are simple identifiers, or tuple literals without element names.

[2016-09-01 17:48] tmat opened #13529 "XML doc comments don't work for System.String"
Willow uses "doc redirect" for XML doc comments of Desktop FX reference assemblies. For example, mscorlib.xml in FX 4.5 reference assemblies only contains a single line:

[code]

The actual documentation is in the specified file. When showing Quick Info on ```string``` type the doc comment doesn't show up on Willow build  25626.00 from ml branch.

Also the integration test ```CSharpQuickInfo``` ne

[2016-09-01 17:49] panopticoncentral opened #13530 "CodeLens count is inconsistent across partial declarations and linked file"
Currently CodeLens has the behavior of:
- The references WON'T include the current declaration.
- The references WILL include other partial declarations.
- The references WON'T include the current declaration in linked files.
- The references WILL include other partial declarations in linked files.

It's not clear why we do point 3 because it's a declaration that's not the one I'm looking at right

[2016-09-01 17:51] SRGOM opened #13531 "Can somebody from Microsoft comment on how this is connected with Phoenix?"
Is this a complete rewrite or does Roslyn use components from Phoenix?

[2016-09-01 18:22] gafter commented on #13148
I suspect we will want to have similar rules for out arguments and deconstruction declarations. They are currently independent, unrelated implementations.

[2016-09-01 18:31] gafter commented on #13531
Roslyn was written from scratch.

[2016-09-01 18:31] #13531 closed

[2016-09-01 18:32] gafter commented on #13493
Dup of #2331

[2016-09-01 18:32] #13493 closed

[2016-09-01 18:45] CyrusNajmabadi commented on #13504
You should also change it.  We will not look at things like the text of the error.  All we will look at is the error code.  The rest is considered to be a opaque piece of data that we will not try to interpret.

[2016-09-01 19:02] ljw1004 commented on #10902
I want to delve into this question a little further.

----------------

The way I implemented is that the compiler calls a `IsCustomTasklike()` function, which merely checks for the presence of the `[AsyncBuilder(System.Type)]` attribute, nothing more. That’s a nice fast check (could even be done at meta-import time) and is independent of anything else. And I deferred all further validation of the

[2016-09-01 19:58] #13486 closed

[2016-09-01 20:17] ljw1004 commented on #261
Okay, it's September now, so as promised I'm getting back to async streams. My current plan of attack is:

1. Gather together as many "stakeholders" as possible, i.e. folks who have APIs or frameworks or whatever that might work nicer with async streams
2. Concurrently, continue work with my prototype to do the "production" side. As before, it will be a flexible prototype that supports a *superset

[2016-09-01 20:20] jskeet commented on #261
Yep, my work with Google Cloud APIs would benefit. We're currently using System.Interactive.Async and IAsyncEnumerable, if that's relevant. Feel free to include me in any emails, and I'd be happy to join a Hangout or Skype call.

[2016-09-01 20:22] aelij commented on #261
@ljw1004 Service Fabric reliable collections also expose yet another [async enumerable](https://msdn.microsoft.com/en-us/library/azure/mt696088.aspx).

[2016-09-01 20:43] gafter commented on #13383
I've not yet been able to repro this, but I'll keep trying.

[2016-09-01 20:56] jcouv commented on #13397
Closing as duplicate.

[2016-09-01 20:56] #13397 closed

[2016-09-01 21:00] jcouv commented on #13255
I'll close this proposal, as it is a duplicate of #7737 (as @alrz pointed out).

[2016-09-01 21:00] #13255 closed

[2016-09-01 21:04] vladd commented on #261
@ljw1004 Another area which must perhaps benefit from async enumerables is filesystem access APIs. Right now [`Directory.EnumerateFiles`](https://msdn.microsoft.com/en-us/library/system.io.directory.enumeratefiles.aspx) returns just a synchronous `IEnumerable<string>`, [`StorageFolder.GetFilesAsync`](https://msdn.microsoft.com/library/windows/apps/br227276) returns asynchronously the whole list, o

[2016-09-01 21:06] GSPP commented on #261
An important use could would by async LINQ and async PLINQ. Even if just `Where`, `Select` and `ToList/Array` are supported that's a big win. It's rare to order, group or join by a key that's obtained asynchronously.

[2016-09-01 21:43] dpoeschl opened #13544 "Should QuickInfo show the declared accessibility or the effective accessibility of symbols?"
[code]
Should it show as public or internal?

[2016-09-01 21:43] dpoeschl commented on #13544
/cc: @CyrusNajmabadi because we briefly chatted about this offline

[2016-09-01 21:54] #13395 closed

[2016-09-01 22:36] RikkiGibson commented on #5561
I would love to have a code generation API that allows me to basically consume a Compilation and produce a modified Compilation which Roslyn would then use to emit. This would save a lot of repeated work and headaches over a solution which involves running a custom code generator executable that calls Roslyn before running csc as part of the build process.

[2016-09-01 22:55] jmarolf opened #13548 "AcessViolation in Roslyn.Services.Editor.UnitTests2"
[code]

[2016-09-01 23:30] scalablecory commented on #261
@ljw1004 I've long used Ix-Async (now System.Interactive.Async) in my [CSV/etc. parsing library](https://github.com/ctl-global/ctl-data/blob/master/Ctl.Data/IDataReader.cs).

I've also experimented making my own "performant" Ix-Async (it is quite chatty) by having a chunked extension to IAsyncEnumerable to pull down multiple items at once, as is the case with most I/O. I unfortunately don't have t

[2016-09-01 23:32] scalablecory commented on #261
@vladd unfortunately the underlying win32 filesystem apis are not async.

[2016-09-01 23:33] gafter commented on #13432
We already discussed this at great length, and found the current state to be the least offensive overall solution.

[2016-09-02 00:26] heejaechang commented on #12845
I will close this since it haven't repro. please re-active if it repro.

[2016-09-02 00:26] #12845 closed

[2016-09-02 01:45] #13475 closed

[2016-09-02 02:50] eerhardt commented on #8210
@jaredpar - Any plan when this will be fixed?

[2016-09-02 03:08] eyalsk opened #13553 "Proposal: Alternative to DbC"
This is in response to @MadsTorgersen reply on the [.NET blog](https://blogs.msdn.microsoft.com/dotnet/2016/08/24/whats-new-in-csharp-7-0/)

I partly agree with Mads that DbC tends to be verbose and sometimes complicated but this 10% are as useful as solving the null problems.
### Problem:

Checking the input and the output of each method can be both pretty nasty and daunting task for few reasons:

[2016-09-02 04:37] cston opened #13554 "dynamic not reported in EE for base class type argument"
In the EE, the type of `o.F` is `object {int}` rather than `dynamic {int}`. Compare with legacy EE.
[code]

[2016-09-02 05:34] CnSimonChan commented on #13383
I believe it has been fixed in #13382, I tried commit 1d0d05ab91317d366bb14eb34d2f117c32927a83 and that crashes.

[2016-09-02 07:10] nmarcel commented on #13488
So, considering that C# cannot do certain (or a lot of) things because of the CLR, then the question is when and how the CLR will evolve again. Would be interesting to see a blog or "Build 2017 session: The future of the CLR" about that.

[2016-09-02 08:27] series0ne commented on #13488
@nmarcel I agree. Either the CLR needs to evolve, or in the mean time, perhaps Roslyn could pick up the slack with some clever sugar.

[2016-09-02 08:41] dsaf commented on #13553
Attributes would probably need a better treatment then :) https://github.com/dotnet/roslyn/issues/711.

So how is this different from CodeContracts?
Are those ```RangeContract``` attributes going to be evaluated at run-, compile-, post-compile- time?

Personally I would prefer less powerful but language-level contracts(```requires```, ```ensures```).

[2016-09-02 11:38] ghord commented on #13488
This could easily be done by emitting constraint checking code in static constructor of generic type:

    public class MyGeneric<T> where T : myconstraint
    {
        static MyGeneric<T>()
        {
             //check if T fullfils myconstraint and throw TypeLoadException if it does not.
        }
    }

[2016-09-02 11:52] CnSimonChan commented on #13383
The #13382 is still missing some cases. When the left hand is a type or property, and right hand is `()` (In [my comment above](https://github.com/dotnet/roslyn/issues/13383#issuecomment-243493706)), it's OK. But when the left hand is a method, it still crash.

[code]

[2016-09-02 12:07] series0ne commented on #13488
Given the limitations of the CLR in terms of the proposed features, would it be possible to implement them using, essentially Roslyn and syntactic sugar? .NET already does this in several respects

- IEnumerable<T> creates an iterable state machine
- Using async/await creates an async state machine
- Lambda statements are essentially just delegates
- Null progagation is just sugar for a null check

[2016-09-02 12:09] series0ne commented on #13488
@ghord sort of what my rather long comment was getting at. except it would not need to expose any metadata to other compilers since it's just a compiler built factory pattern, implemented under the hood, with things that C# can do already.

[2016-09-02 12:27] HaloFour commented on #13488
@nmarcel @series0ne

It was created early on and hasn't really been updated since, but check out #420.  Making CLR modifications to enable new language features is certainly on their radar.  It just increases the cost associated with any given language feature proposal.  The CLR evolution isn't likely to happen in a vacuum, though, and I'd expect that you'd hear about it through a language adoptin

[2016-09-02 12:37] jnm2 commented on #13488
Just imagine the dotPeek decompiled output 😆

[2016-09-02 12:42] eyalsk commented on #13553
@dsaf

Indeed, I fully agree that attributes need more love. :)

Well, it's unobtrusive because there's no new syntax or calls to specific APIs and it's more extensible.

It should be executed at post-compile-time in another processes and provide feedback asap.

[2016-09-02 13:33] dsaf commented on #13553
These days I am experimenting with an alternative approach:

[code]
(or just use ```TimeSpan``` but that's beside the point of the original sample, I understand)

This way verification naturally happens at compile time and the run time only deals with data (I/O) which is unavoidable. There could be more done to make creating custom domain value types easier, but there seems to be a conspiracy agai

[2016-09-02 13:45] eyalsk commented on #13553
@dsaf I actually always done it this way, coming from heavy object-oriented background so it's natural to me, in fact, I have a clock that I made in C++ many years ago that I do exactly that.

The timer of the clock looks like this:
[code]

Funny thing is C++ is getting the dot-operator in C++17 that will allow custom types to forward calls into native types without creating everything from scratc

[2016-09-02 14:04] dsaf commented on #13553
@eyalsk

Yeah, that's true. It would be nice to apply ```RangeContract``` in the ```Hour``` constructor.

[2016-09-02 14:05] eyalsk commented on #13553
@dsaf yeah exactly. :)

[2016-09-02 15:06] AdamSpeight2008 commented on #13553
The compiler could generate a `<ComplilerGenerated>` local function to perform the argument checks.
[code]
As well as `<CompilerGenerated()>` XML Documentation for each of the args.

[2016-09-02 15:12] eyalsk commented on #13553
@AdamSpeight2008 Yeah, in cases we opt-in, the compiler can do that for us, so it's pretty _neat_. :)

[2016-09-02 15:20] AdamSpeight2008 commented on #13524
First thoughts on `Exit If`, mmm interesting concept. Further thought ut has as issues
[code]
Your first example can be rewritten as
[code]

Also `GoTo` has it's uses and can produce a better easier to understand code than the alternatives.
I've see multiple usage of `GoTo` in the codebases of Roslyn and the dotnet framework, and early bail out is a common use..

[2016-09-02 15:27] HaloFour commented on #13524
@AdamSpeight2008

Hah, that's right.  The use of `Exit` statements to bail out of another construct is almost always used within an `If` statement.  But if you use `Exit If` within an `If` then you'd be bailing out of the bail out condition, not the `If` statement that you're trying to bail out of.  You'd have to twist and combine your constructs in some weird ways in order to actually make the co

[2016-09-02 15:29] AdamSpeight2008 commented on #13524
@HaloFour Unless the `Exit If` *binds?* more strongly to a multi-line if block, than a single line if.

[2016-09-02 15:39] davkean opened #13556 "Options fail to deserialize"
Hit this while debugging, I think it gets swallowed later so not sure of the impact:

The string is was trying to parse was "True", which isn't valid XML.

[code]

[2016-09-02 15:51] gordanr commented on #13553
I agree with @MadsTorgersen that code contracts in 80-90% case deals with nulls, but I find very useful to cover other 10-20% cases. Potentially introducing nonnullable reference types in C# will be a really HUGE step for C#. I know that in long-term plans for the next major release there are not resources for this topic.
Maybe you can consider **language-level contracts** #119 ( requires, ensures

[2016-09-02 15:54] mgravell commented on #261
there may also be some crossover here with the "channels" stuff that David Fowler is looking at; this is *primarily* IO focused - essentially it reverses the direction of `Stream` from pull to push (with async goodness). Perhaps viable as a potential "source" for an async iterator

[2016-09-02 15:57] davkean opened #13557 "[Regression] New Portable Library dialog defaults"
First time use is supposed to select the latest versions of the frameworks:

![image](https://cloud.githubusercontent.com/assets/1103906/18209979/3af9533e-70eb-11e6-87a9-4eee0084cdda.png)

It selects none now.

[2016-09-02 16:00] Nukepayload2 opened #13558 "Proposal: Allow ByRef overloading in VB"
Overloading between _in_ parameters and _out_ or _ref_ parameters is supported in C#.
But in VB, if you want to call one of an overload method which differ only by ByVal and ByRef, the compiler will report error BC31429 ．
This feature was used in some C# class libraries such as CocosSharp, made them incompatible with VB.

**C# signature:**
[code]
**C# call:**
[code]
**Suggested new VB syntax to di

[2016-09-02 16:04] davkean opened #13559 "Inconsistent usage of ".NET Standard Platform" in portable"
![image](https://cloud.githubusercontent.com/assets/1103906/18210213/45e58032-70ec-11e6-9ee7-ab0c81835920.png)

[2016-09-02 16:07] ufcpp commented on #13553
I prefer dedicated type than DbC on parameter. I'd rather like a type alias with conditions, e.g.

[code]

which is translated into code like below:

[code]

[2016-09-02 16:08] dsaf commented on #13553
@gordanr

I think it's important to distinguish between Microsoft Code Contracts and the general principle. I struggle to believe that the statement being referred is correct for the latter.

[2016-09-02 16:08] jrmoreno1 commented on #13403
I don't know if VB is scheduled to get readonly locals, but if so it's going to get even more confusing if readonly local variables can't be passed to as a ref argument but readonly field/properties can.  And if readonly locals are allowed, that's going to cause a lot of confusion between vb and C#.

[2016-09-02 16:10] Pilchie commented on #13243
Happened again in https://github.com/dotnet/roslyn/issues/13548 for PR #13545

[2016-09-02 16:10] Pilchie commented on #13548
dupe of #13243.  In future please provide a link to the actual jenkins run too for more artifacts.

[2016-09-02 16:12] series0ne commented on #13488
This [article about F#'s constraints on MSDN](https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/generics/constraints) lists several of the constraints I would like to see in C#, so as suggested, the F# compiler already creates emulated workarounds for this. With that in mind, I'm leaning towards, "The CLR needs updating" rather than "Let's emulate these in C# too"

[2016-09-02 16:13] dsaf commented on #13553
@ufcpp how would that work for something with more than one field?

[2016-09-02 16:14] Pilchie commented on #13243
Jenkins failure for above is http://dotnet-ci.cloudapp.net/job/dotnet_roslyn/job/master/job/windows_debug_unit64_prtest/3244/

[2016-09-02 16:14] dman2306 commented on #13015
@jstun the point @orthoxerox was making wasn't about the term you used, it was an explanation of why your idea won't work. `ignore` is perfectly valid as an identifier, as in `bool ignore = true;` You can't suddenly tell the world "you can't use `ignore` as a variable name anymore" without there being ramifications. I am sure most of us have seen a line of code like `bool ignore = true;` in large

[2016-09-02 16:16] Pilchie commented on #13513
Is this still an issue?  I think @jasonmalinowski thought maybe your run got kicked off in the middle of a cross-cutting change between Open and Closed?

[2016-09-02 16:16] #13548 closed

[2016-09-02 16:17] Pilchie commented on #13243
Is there an issue with the lifetime of metadata we give out in `TestWorkspace`?

[2016-09-02 16:18] Pilchie commented on #13436
@Hosch250 are you planning on working on a fix for this?

Assigning to @CyrusNajmabadi to keep an eye on.

[2016-09-02 16:19] Pilchie commented on #13438
Thanks for filing the issue.  This - along with several other conditional related refactorings (invert if, convert to conditional expression, etc) are definitely things we want to get to.

[2016-09-02 16:23] gordanr commented on #13553
@dsaf, your Time example is very similar with Jimmy Bogard's DDD approach from the site.
https://lostechies.com/jimmybogard/2007/06/25/generic-value-object-equality/
All entities (hour, minute, ...) are not simple types but classes (more better records). It is not always easy to write a lot of classes, but in the end it is worth. If the entity is created - it's valid. I have very good experience i

[2016-09-02 16:25] Pilchie commented on #13439
Hey @kuhlenh: I think you and @dpoeschl did some thinking here yesterday.  Can you attach a mockup of your plan and pass along to him?

[2016-09-02 16:25] onovotny commented on #261
@mgravell not to be dense here, but isn't Rx already the opposite of Ix? That was the mathematical design. The channels could probably produce IObservable sequences, right?

[2016-09-02 16:27] Pilchie commented on #13455
Tagging @Hosch250 - do you want to take a look at this?

[2016-09-02 16:29] Pilchie commented on #13476
Can you look at updating the test (I assume it is just because it uses a canned project that needs it's TFM updated?)

[2016-09-02 16:30] CyrusNajmabadi commented on #13455
IIRC, we looked at this when the feature was created.  One of the problems is that from the parser's perspective, it has no idea what ```}```s belong to what.  So, in the original code, the ```}``` following the empty switch *does* get parsed as the close curly of the switch.  As such, it's not 'missing' and does not get filled in by refactoring.  Now, one thing we could try to do would be to walk

[2016-09-02 16:32] dsaf commented on #13553
@gordanr

Which is nice, but still means runtime, @eyalsk wants even that compile- or post-compile time.

[2016-09-02 16:32] eyalsk commented on #13553
@gordanr Your example becomes something like the following:
[code]
What you did by introducing Institution is just moving the problem to another place which is fine and reasonable because it reads better but you didn't solve anything.

[2016-09-02 16:34] dsaf commented on #13553
@eyalsk actually he did solve something - the error will be close to source. Unlike e.g. passing a raw ```string``` around. So it's a good practice.

[2016-09-02 16:38] eyalsk commented on #13553
@dsaf Yeah, sure but it doesn't really solve the fundamental problems I wrote about above, that's what I meant when I said that he didn't solve anything, it was a bit of a _stretch_, sorry. :)

[2016-09-02 16:38] Pilchie commented on #13490
I don't think it will be intuitive to users to have the valid spans change when you have completed a valid statement.  We should just show the fix throughout 4, 5, and 6.

Also - we should explore the behavior when you have `else` and `else if` blocks.  Currently you can only fix one at a time and have to move your cursor between them.  Should there be a second fix that adds braces to all of them

[2016-09-02 16:43] gordanr commented on #13553
This implementation of EntityObject fits well both with record types and proposed language-level contracts #119 ( requires, ensures, ...). That means that contracts can also be used in compile-time.
Look, this class is actually proposed record type.

[2016-09-02 16:44] eyalsk commented on #13553
@gordanr They aren't going to add #119... it's no longer on the table this is the reason I wrote this proposal.

[2016-09-02 16:45] Pilchie commented on #13505
Not showing this at 1 has been reported a few times (it used to work in VS2013).  I agree with not showing this if the user selects the whole class - we should only show it if the selection contains just fields.

[2016-09-02 16:46] Pilchie commented on #13514
This comes from `SymbolDisplay`.

[2016-09-02 16:47] Pilchie commented on #13544
Personally I think is should show the *declared* accessibility - `public` in this case.

[2016-09-02 16:48] Pilchie commented on #13544
@DustinCampbell do you have an opinion?

[2016-09-02 16:48] Hosch250 commented on #13455
@Pilchie I would, except I'm busy with college just now.  If it is still around when I'm available, I'll do it.

[2016-09-02 16:48] Hosch250 commented on #13436
Yeah, eventually.  I'm busy with college just now, although I have enough free time to handle it in a couple days.

[2016-09-02 16:50] gordanr commented on #13553
They didn't say NEVER but

#119 is very nice proposal.

[2016-09-02 17:09] Pilchie commented on #13436
Thanks!  As far as I'm concerned there is no rush here.  Having multiple `<param>` tags on the same line is a bit of an edge case anyway.

[2016-09-02 17:09] eyalsk commented on #13553
@gordanr

It's never going to be #119 but you can wait, in fact, we've been waiting for so many years for something like this to be introduced that I don't think Spec# style or CodeContracts or DbC will ever make it into the language and again, this is the reason I wrote this proposal to at least provide a way to validate the input in a succinct manner that doesn't introduce new things, not to men

[2016-09-02 17:11] gafter commented on #13474
Actually, the older versions of the spec appear to say we should support surrogates. For example, see https://msdn.microsoft.com/en-us/library/aa664669(v=vs.71).aspx which implies that the following program should compile without error. Roslyn rejects it.

[code]

[2016-09-02 17:20] gafter commented on #9731
This is also reported as #13474

[2016-09-02 17:20] gafter commented on #13474
This is also reported as #9371

[2016-09-02 17:23] DustinCampbell commented on #13544
I think it should be declared. Making it effective without some other indication of what's happening will just serve to confuse.

[2016-09-02 17:34] gafter opened #13560 "Roslyn rejects \U unicode characters in identifiers"
Roslyn rejects Unicode characters in the range U+10000 to U+10FFFF in identifiers. This is specifically called out as supported in the language specification, but does not work in the compilers. See https://msdn.microsoft.com/en-us/library/aa664669(v=vs.71).aspx . Here is a sample:

[code]

See also #13474 and #9371, which report related errors when surrogate pairs (rather than Unicode escape sequ

[2016-09-02 17:38] gafter commented on #13383
@CnSimonChan Thank you! I now have a repro of the problem and can fix it.

[2016-09-02 17:40] balajikris commented on #13556
this is what @jasonmalinowski and @CyrusNajmabadi feared would be a breaking change with the work i did for Intrinsic type keyword/Framework type code style.

I bet the scenario is reading values from an existing user settings file, where this was a boolean option, but is now a more complex string (with enforcements etc.). So, it won't parse well. The net effect i believe is that we lost your pref

[2016-09-02 18:26] mattwar commented on #13448
Do you also want change events for other properties on document, like FilePath and Folders?  Typically this level of detail is not exposed via separate events and we rely on DocumentChanged event.

@tannergooding is the reason you are needing to listen for remove & add events is due to @balajikris claim that renames current need to be implemented as remove & add document requests?  Or is for any r

[2016-09-02 18:28] dpoeschl opened #13561 "CodeFixes that alter AdditionalFiles do not save the changes"
**Version Used**: VS 15 Preview 4

**Steps to Reproduce**:
1. Enlist in Roslyn, under source control
2. Change something from `internal` to `public`
3. Use the Public API analyzer/fixer to add the newly public thing to the `PublicAPI.Unshipped.txt` file

**Expected Behavior**: `PublicAPI.Unshipped.txt` should be saved, and show as changed under source control

**Actual Behavior**: `PublicAPI.Unshi

[2016-09-02 18:29] dpoeschl commented on #13561
Some potential psychic debugging from @pilchie elsewhere: "Sounds like we're missing a dispose on an invisible editor somewhere"

[2016-09-02 18:30] dpoeschl commented on #13561
Also /cc: @tmeschter

[2016-09-02 18:51] #13459 closed

[2016-09-02 19:01] cybersapiens commented on #13524
A little correction: "Exit Select" never existed in VBA/VB6.
My oppinion is that it is an abomination introduced in VB.NET because of C#. But I may be worng...

[2016-09-02 19:09] DustinCampbell commented on #13490
How do we determine where to put the braces if I invoke the refactoring in (1-3) but I'm adding the if-statement in front of existing code? For example, I start with this.

[code]

Now, I type an if-statement in front of the variable declaration.

[code]

With the caret position at $$, where should the braces go? Obviously, wrapping the now embedded statement changes the program.

A few thoughts (

[2016-09-02 19:48] davkean opened #13566 "Checking two of ASP.NET Core 1.0, UWP or .NET Framework 4.6 in portable checks all of them"
1. File -> New Portable Project
2. Check .NET Framework 4.6 + UWP
3. Click OK
4. Project -> Properties

Expected: Only ASP.NET Core 1.0 and .NET Framework 4.6 to be selected
Actual: All 3 are selected

[2016-09-02 19:50] #13305 closed

[2016-09-02 19:50] jcouv commented on #13305
Fixed by #13546

[2016-09-02 19:52] davkean commented on #13566
This in Dev15 recently install.

[2016-09-02 19:54] davkean opened #13567 "After choosing ASP.NET 1.0, it does not show up in your list of targets"
1. Create a new portable project, choose ASP.NET 1.0 + NET 4.6
2. Choose Project -> Properties

Expected: ASP.NET 1.0 and .NET 4.6 to be listed
Actual: Only .NET 4.6 is listed

Clicking change, I see:

_The selection cannot be targeted by this project type. Create a new non-portable project to target it._

[2016-09-02 20:00] davkean opened #13568 "Creating a new .NET Framework 4.6/UWP/ASP.NET 1.0 asks me retarget to .NET Standard even though I'm already targeting it"
**Version Used**:

**Steps to Reproduce**:

1. Create a new .NET Framework 4.6/UWP/ASP.NET 1.0 portable project
2. Look in project.json, see that my TFM is "netstandard1.3"
3. Click Project -> Properties

Expected: No button to retarget me to .NET Standard:
Actual:

![image](https://cloud.githubusercontent.com/assets/1103906/18216689/36932b7c-710d-11e6-91c1-1257ab30369d.png)

[2016-09-02 20:00] #13426 closed

[2016-09-02 20:20] AlekseyTs opened #13569 "SemanticModel is not supported within VariableDeclaratorSyntax.ArgumentList in field declarations."
SyntaxTreeSemanticModel.GetMemberModel doesn't handle that code location.

[2016-09-02 20:23] AlekseyTs commented on #13417
It turns out SemanticModel doesn't have support for that code location in general. I opened #13569 to track that.

[2016-09-02 20:43] dpoeschl opened #13570 "[PR Test Failure] Fail to restore SRM and find XUnitResults"
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn/job/master/job/linux_debug_prtest/3246/

1. error: Unable to resolve 'System.Reflection.Metadata (>= 1.4.1-beta-24430-01)' for '.NETPortable,Version=v4.5,Profile=Profile7'.
2. [xUnit] [ERROR] - No test reports found for the metric 'xUnit.Net' with the resolved pattern '**/xUnitResults/*.xml'. Configuration error?.

[2016-09-02 20:43] dpoeschl commented on #13570
@tmat Any idea what might be going wrong with SRM?

[2016-09-02 20:56] dpoeschl commented on #13570
Also cc: @agocke

[2016-09-02 20:56] dpoeschl commented on #13570
Rerunning the suite passed.

[2016-09-02 20:59] AdamSpeight2008 commented on #13570
This doesn't look right `*/xUnitResults/.xml` shouldn't it be `*/xUnitResults/*.xml`

[2016-09-02 21:07] ashmind opened #13572 "A way to get recommendations without a Workspace"
I might be very wrong about this, but here is my reasoning.

### Goals

I have a web application that allows people to write C#. Currently it is using a classic request/response model, and I don't maintain a session — I create `ParseTree` and `Compilation` for each request instead.

Looking at the `Recommender` I see that it requires me to create a `Workspace` as well, which would introduce overhe

[2016-09-02 21:11] ashmind opened #13573 "Policy for argument validation in Roslyn code"
What is the policy for argument validation in Roslyn code? I can see places where I can pass `null` and get `NullReferenceException` instead of `ArgumentNullException`.

Are pull requests adding argument validation a good idea?

[2016-09-02 21:16] tmat commented on #13573
Public APIs should throw ArgumentnNullException. If not that'd be a bug. Internal APIs don't need to check anything. It's good to add ```Debug.Assert(x != null)``` to capture the intent or whenever the null ref would not occur later on and might be hard to find where the original problem was.

[2016-09-02 21:18] tmat commented on #13570
@dpoeschl Is it intermittent? If so I suspect entwork error or myget server error.

[2016-09-02 21:25] gafter opened #13574 "Expression evaluator fails to enforce definite assignment"
Variables can now be declared in expressions, but are subject to definite assignment. The following should be erroneous expressions in any context

`e && M(out bool x) || x`
`e is bool x || x`

but the expression evaluator does not diagnose these errors.

(This is different from access to variables in the program being debugged, which are assumed always definitely assigned)

[2016-09-02 21:27] balajikris opened #13575 "CodeStyle Tools Options window : Make preview window resizable"
make it resizable and also choose a better default size

[2016-09-02 21:28] balajikris opened #13577 "CodeStyle Tools Options window : the very first click on the preferences/severity dropdown is swallowed by the datagrid"

[2016-09-02 21:31] gafter opened #13578 "Need tests for expression-bodied ctors, dtors, and accessors"
including semantic model tests targeting those scenarios.

Addendum: This is now mostly done in https://github.com/dotnet/roslyn/pull/13695, but there is a suggestion in https://github.com/dotnet/roslyn/pull/13695#discussion_r78219131 for additional tests:

- features disabled (errors for IDS_FeatureExpressionBodiedAccessor and IDS_FeatureExpressionBodiedDeOrConstructor)
- a direct parsing test fo

[2016-09-02 21:32] CyrusNajmabadi commented on #13436
I'll give you a few days.  If you don't have time though, i can pick this up.

[2016-09-02 21:33] balajikris opened #13579 "CodeStyle Tools Options window : improve keyboard navigation"
1. Have to tab twice to select severity/preference
2. should show drop down on some key (space ?)

[2016-09-02 21:40] CyrusNajmabadi commented on #13481
Looks like the same behavior exists for VB.

We've got the following code:

[code]

@Pilchie @DustinCampbell  I think this was so that if you brought up completion by deleting, we would show you everything in the list, and not just the filtered down items.  I think that's reasonable, however we might want to still do the appropriate work to select an appropriate item, even if we don't filter out i

[2016-09-02 21:43] gafter commented on #13417
Whatever the underlying cause, it is still a bug.

@AndyGerlicher please stop modifying our bugs.

[2016-09-02 21:43] gafter commented on #13569
Dup of #13417

[2016-09-02 21:47] balajikris opened #13580 "CodeStyle Tools Options window : change header row color"
1. today the header color matches the color of the drop downs.
2. unfocused selection on a datagrid row matches the header color.

[2016-09-02 21:49] balajikris opened #13581 "CodeStyle Tools Options window: show correct and incorrect examples in the preview window."
bonus points for squiggling incorrect code with the chosen diagnostic severity.

[2016-09-02 21:50] balajikris commented on #13581
This is probably for Post-RTM.

[2016-09-02 21:55] balajikris opened #13583 "Move type to file refactoring : support Generic types"
we have a couple of options: either strip the generic type arguments or support the backtick notation when creating file names.
Also, verify how rename type to match file and rename file to match type works for generics.

[2016-09-02 21:57] gafter commented on #13148
The LDM rule is the following:
In a syntactic position where an lvalue is expected, we parse `var (...)` as a deconstruction, no matter what `...` is. This specifically applies to
  - [ ] The left-hand-side of an assignment. The only syntactically valid form is as a deconstruction declaration statement; other forms are some kind of error. `var(1) = 2;`
  - [ ] In any expression, following `out` or

[2016-09-02 21:59] balajikris opened #13584 "Move type to file refactoring : detect conflicts ahead of time for Rename type to match file."
Today rename type to match file just calls `RenameSymbolAsync` and does not worry about conflicts. An improvement here would be to detect conflicts ahead of time and display it?

At the least we should add some tests for this case.

[2016-09-02 22:03] gafter commented on #13569
This bug represents all of the *other* `SemanticModel` APIs not discussed in #13417.

[2016-09-02 22:09] dpoeschl commented on #13570
Intermittent. That was also @agocke's guess.

[2016-09-02 22:15] gafter opened #13585 "Please implement CS0075 for casting a negative number"
The code

[code]

used to give a more useful diagnostic in the native compiler than is given by Roslyn.

Please reinstate the old diagnostic for this.

See also http://stackoverflow.com/questions/39091380/why-isnt-the-c-sharp-compiler-able-to-cast-a-literal-negative-value-to-an-enum

[2016-09-02 22:17] jcouv commented on #13375
@CyrusNajmabadi Are you the right person to assign the remaining issues to (splitting and updating the code fix)?

[2016-09-02 22:26] agocke commented on #13570
Yup, I'm going to close this as likely network issue for now.

[2016-09-02 22:26] #13570 closed

[2016-09-02 22:30] balajikris opened #13587 "Simplification APIs should return the reasons for simplifying a node"
SimplifyTypeName Analyzer uses Simplification API to determine whether a name can be reduced. However, the API does not indicate why or what reductions happened.

Simplify to predefined types is one of the reductions handled by the API, but this is configurable by a user option (tools -> option -> codestyle).

To determine whether this particular reduction happened to a node, we attach a Annotatio

[2016-09-02 22:30] #13573 closed

[2016-09-02 22:46] cston opened #13589 "Preserve tuple element names for locals declared in the EE"
At the breakpoint, evaluate `var o = F();`, then inspect `o` in the Locals window. The Type should include element names: `(int X, int Y)`.
[code]

[2016-09-02 22:59] gafter commented on #13148
@AlekseyTs Would you like to take this work, or shall I?

[2016-09-02 23:01] AlekseyTs commented on #13148
Sure, feel free to take it.

[2016-09-02 23:03] AlekseyTs opened #13590 "Declaration of a fixed buffer in a top level script code causes a System.InvalidCastException"
[code]

Observed:
[code]

[2016-09-02 23:03] AlekseyTs commented on #13590
CC @tmat

[2016-09-02 23:08] tmat commented on #13590
@AlekseyTs Nice catch!

[2016-09-02 23:09] HaloFour commented on #13553
I'd think an attribute-driven form of DbC could be largely implemented via analyzers and source generators (to generate code to enforce the contract) without any changes to the syntax.  Could provide a sandbox in which experiments with DbC can be carried out.

To me the most important aspect of any DbC feature would be embedding of the validation requirements within the contract metadata so that t

[2016-09-02 23:10] balajikris commented on #13587
See: http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/Diagnostics/Analyzers/CSharpSimplifyTypeNamesDiagnosticAnalyzer.cs,143
[code]

[2016-09-02 23:50] dpoeschl opened #13591 "Code Style Options are not accessible to Narrator"
![image](https://cloud.githubusercontent.com/assets/235241/18221039/2f615958-712d-11e6-9ffe-1076d9c19060.png)

The dropdowns read the typename instead of the contents.

[2016-09-03 00:40] DustinCampbell commented on #13481
I seem to remember VB filtering on backspace.

[2016-09-03 00:44] lorcanmooney commented on #11489
I've got this all but done. As requested, I've change the commit behaviour for `<space>` to commit only the tag name, and trigger the completion list. Values are now eagerly suggested for a handful of well-known tag/attribute combinations in both C# and VB:

![see-langword](https://cloud.githubusercontent.com/assets/13181165/18221540/be63aacc-7176-11e6-9ab7-1754a49cb0fb.gif)

I've left the other c

[2016-09-03 00:45] Pilchie commented on #13481
Tagging @rchande and @jasonmalinowski in case they remember the behavior for VB.  My memory tends to agree with @CyrusNajmabadi though.  Maybe this is something we changed from VS2013?

[2016-09-03 00:45] tmat opened #13593 "RoslynInsertionTool: better way to discover Willow components"
Currently RIT fetches a TFS log file zip from the target build, finds a log file containing "Upload VSTS Drop" name (corresponding to Microbuild task called "Upload VSTS Drop"), parses the file for `https://.*vsman` pattern and then uses the URLs found this way.  This is very fragile and full of assumptions that need to be true across all repos we insert from. Also, if the URL is not found NRE is

[2016-09-03 01:13] justcla opened #13594 "IntelliSense based on characters to the left of the cursor"
**Version Used**: 14.0.25414.00 Update 3

**Steps to Reproduce**:
Edit a C# file and attempt to replace a token (method/variable/etc) with the assistance of IntelliSense.
1. Place cursor at the beginning of a token you want to replace.
2. Start typing a new token (variable/method/etc)
3. Activate IntelliSense (Ctrl+Space)

**Expected Behavior**:
IntelliSense suggests tokens that match the new word

[2016-09-03 01:13] jcouv commented on #13527
@CyrusNajmabadi I'm wondering how aggressive the change should be.
For `KeywordCompletionProvider` and `SymbolCompletionProvider` in C#, I'm tempted to remove ':' as a commit character in all cases. What would be the downside of that?

Also, I looked around `CSharpCompletionCommandHandlerTests` for verification of commit characters, but couldn't find anything handy. Should I add some validation he

[2016-09-03 01:19] jcouv commented on #13504
Fixed in VB too, with https://github.com/dotnet/roslyn/pull/13571

[2016-09-03 01:19] #13504 closed

[2016-09-03 01:21] jcouv commented on #12960
The OHI scenario will be covered in the OHI work.

[2016-09-03 01:21] #12960 closed

[2016-09-03 01:23] jcouv commented on #11288
Verified that the test no longer crashes. I'll unskip it.

[2016-09-03 01:23] #11288 closed

[2016-09-03 01:25] jcouv commented on #11289
Verified this test no longer crashes. I'll unskip it.

[2016-09-03 01:25] #11289 closed

[2016-09-03 01:28] Bretttt opened #13595 "Allow setting the default value of an optional parameter to one of the non-default parameters"
**Version Used**:

C# 5

**Steps to Reproduce**:

When you are declaring a method with optional parameters, allow the ability to set the default value to one of the previous, non-optional parameters. This feature would help simplify many cases by reducing the need for overloads, and even allow for functionality that was not previously possible. Consider the following example:

[code]

There is cur

[2016-09-03 01:38] HaloFour commented on #13595
Optional parameters are based on a CLR feature that requires that the default value be a constant that can be directly embedded in the BLOB stream of the assembly.  There's no mechanism for C# to embed an expression or code as the default value.

[2016-09-03 04:41] ufcpp commented on #13553
@dsaf how about combination with tuples?

[code]

[2016-09-03 05:04] CyrusNajmabadi commented on #13527
That would not be desirable.  For example, if someone wrote "case Color.Bl<colon>" then it would not complete out to "Black".

No.  I would just write two tests one that verifies that colon does not cause commit in a parenthesized expression case.  And one that verifies that it does with something like "case X.Y".

Do not do this.  These tests are completely bogus and cannot be trusted.  They are

[2016-09-03 06:11] laedit commented on #13521
I was also wondering if it is possible to add the project (name of the csproj, vbproj, xproj, etc.) of the file which is targeted by a result?

[2016-09-03 07:24] miloush commented on #13455
@CyrusNajmabadi Does it need to be that complex? If the rule was "if inserting opening one, insert closing one too", than this would break the following scenario:

[code]
but somehow this looks like not eligible for reporting. Also, the number of errors before and after the quick fix would stay the same.

[2016-09-03 09:24] ijsgaus opened #13597 "Implement interface delegation"
Delegate interface to property or field by syntax with overriding. May have syntax :

[code]

Another syntax:

[code]

Special behavior for event - automatic sender substitutio, when no override

[2016-09-03 11:02] alrz opened #13598 "Proposal: Implicitly dereferenced nullables"
With non-nullable references on the way (#5032), would something like Swift's "implicitly unwrapped optionals" makes sense for C#?
[code]
Although, usage should be discouraged outside of these use cases.

[2016-09-03 12:49] stepanbenes commented on #13598
@alzr Aren't todays reference types already implicitly unwrapped nullables?

[2016-09-03 12:59] HaloFour commented on #13598
Too lazy to look up the references at the moment but I recall the team had already debated the merits of having three types like Swift and decided to not go that route.  Rather they were exploring an `!` operator which would forcibly dereference a nullable type in place:

[code]

[2016-09-03 13:13] alrz commented on #13553
@ufcpp Why it couldn't be a regular record,
[code]

[2016-09-03 13:31] ufcpp commented on #13553
@alrz My code is a example. Maybe your proposal is better to fit C#. Anyway, I prefer constraints on types rather than on parameters.

[2016-09-03 13:33] dsaf commented on #13553
@ufcpp @alrz looks interesting, reminds of Ada:

[code]

They added contracts in the new version as well:
http://www.drdobbs.com/architecture-and-design/ada-2012-ada-with-contracts/240150569

[2016-09-03 13:34] dsaf commented on #13553
@ufcpp

I agree, otherwise method signatures will become very noisy and also have duplication.

[2016-09-03 14:48] alrz commented on #13553
By the way, in my example the constraint is on the primary constructor, if you define another ctor the constraint may not be satisfied unless you call it with the `this` ctor initializer. Overriden methods and interface implementations should be able to inherit constraints to avoid duplication.

[2016-09-03 14:57] gordanr commented on #13553
We can think of 'constraints on types' as a special case of 'constraints on parameters of type constructor'.

Look at records with contracts.

[code]

[2016-09-03 15:58] AdamSpeight2008 commented on #13553
@gordanr  You'll also need to consider what occurs when the constraint isn't satisfied. Does the caller or callee handle it?

[2016-09-03 16:15] eyalsk commented on #13553
I know that using attributes is pretty noisy but bear in minds that I wrote this proposal as an alternative because they don't want to add this feature to the language and in the future if they will ever want to add it, they _can_ build on top of this proposal.

However, seems like 'constraints on types' fits only to records and _simple_ types, how do you handle more complex types, i.e., types tha

[2016-09-03 16:56] orthoxerox commented on #1235
Hm, I've implemented a quick and dirty version of the TCO, and I don't get SOEs over virtual calls in release mode, unless the JIT is smart enough to devirtualize them:

[code]

Now to find out why this fails in debug mode with System.InvalidProgramException...

[2016-09-03 16:56] Viir commented on #13597
Why not implement this using code generation?
One way to model the desired delegation would be to add an Attribute on the member the calls should be redirected to (The Attribute would take the type of the interface as an argument).

[2016-09-03 17:49] leppie commented on #1235
While this is nice, I think it should be a compiler switch for the guarantee, but allow the JIT to do it's own thing.

When the switch is active, the compiler will need do a bit more work (ie TCE) to not make every call (in a tail position) a tail call (as this is a lot more expensive), and revert to normal calls when recursion is not unbounded (this is very hard outside the compiled code, but cou

[2016-09-03 17:50] leppie commented on #1235
@orthoxerox Run PEVerify :D Probably a short code that needs to be long now (been there, got the T shirt ;p)

[2016-09-03 17:57] jcouv commented on #10803
Fixed by #10951

[2016-09-03 17:57] #10803 closed

[2016-09-03 18:04] jcouv commented on #12592
Vlad is working on https://github.com/dotnet/roslyn/issues/12963 which tracks the same thing.

[2016-09-03 18:04] #12592 closed

[2016-09-03 18:07] jcouv commented on #10572
@cston, I think your PR https://github.com/dotnet/roslyn/pull/13392 already fixed this. Can be closed?

[2016-09-03 18:09] orthoxerox commented on #1235
@leppie No, these turned out to be extra opcodes that are there to break on the closing brace (https://blogs.msdn.microsoft.com/zelmalki/2008/12/11/why-are-these-nop-instructions-in-my-debug-build/)

[2016-09-03 18:14] jcouv commented on #10572
@cston, I just tried it and the printing of the method signature still matches the snapshot above.

[2016-09-03 18:19] jcouv commented on #13229
Per our latest design discussion with Vlad and Aleksey, we would give named elements an odd index (a=1, b=3, c=5) and default elements an even index (Item1=2, Item2=4, Item3=6). Other members and fields will get negative indices.

The TupleElementFields should be updated accordingly. For (int a, int, int c), it should return three fields: one for a, one for Item2 and one for c. We could consider m

[2016-09-03 18:20] jcouv commented on #13502
This is a duplicate of https://github.com/dotnet/roslyn/issues/13229

[2016-09-03 19:18] alrz commented on #13598
@stepanbenes This proposal is an extension to non-nullable reference types (#5032) so there will be some difference. And there ain't no "unwrapping" is happening because there is no wrapper type. They're just regular reference types with semantic analysis for null checks. `T!` type is a nullable type that doesn't need to be proven to be not null at the compile-time. because it is already proven ex

[2016-09-03 19:22] alrz commented on #13553
@HaloFour

For an example that does require language support, see https://github.com/dotnet/roslyn/issues/11308#issuecomment-219213073.

[2016-09-03 19:27] HaloFour commented on #13598
@alrz

Indeed, but you'd then need a way to convert from one to the other.  Rather than defining it as a special type, just use the operator to convert.  It also provides nice symmetry with the null-propagation operator:

[code]

Here are the design notes where the Swift three-type approach was considered:  #3910

[2016-09-03 19:34] HaloFour commented on #13553
@alrz

You wouldn't need language support for either iterators or async methods.  The source generator would simply emit a replacement that *isn't* an iterator or an async method:

[code]

[code]

[2016-09-03 19:36] alrz commented on #13598
@HaloFour The proposal is not against `!.` operator as I mentioned it above the `Initialize` method.

Swift which was designed with nullable types from the very beginning had to introduce `T!` to be able to [deal with the exact same scenarios](http://krakendev.io/blog/when-to-use-implicitly-unwrapped-optionals). I think all of them are applicable to C# as well. You can live without it but it would

[2016-09-03 20:41] HaloFour commented on #13598
@alrz

C# wasn't, which is why it can't take the same approach as Swift.  Swift wanted to pretend to discard all legacy but had to interop with Cocoa which had no concept of non-nullable types.  Having strictly non-nullable types worked very poorly with Cocoa.  If it weren't for that the implicitly unwrapped type suffix would be largely unnecessary.  With Cocoa now more appropriately annotated its

[2016-09-03 20:42] jstun commented on #13015
@dman2306 having * as a means for indicating you want to ignore a parameter is nonsense. Every developer is accustom to the * meaning any value, for example when searching *someValue*, means find me all that have someValue in the name. Now we're suggesting that * should be used to indicate ignore does not make sense to me and any other developer who pays attention to the code they write.

Please l

[2016-09-03 20:50] HaloFour commented on #13015
@jstun

Deconstruction also uses the following syntax:

[code]

or:

[code]

or:

[code]

It is completely impossible for the C# compiler to know if `ignore` is an identifier or some special keyword in these contexts.  To reuse an identifier here is simply a bad idea.

[2016-09-03 21:34] tmat commented on #12759
Remaining work:
[ ] Debugger support
[ ] msbuild task/snippet to generate the .json file from GIT repo
[ ] Project System UI
[ ] E2E testing in .NET Core projects

[2016-09-03 21:55] #11604 closed

[2016-09-03 22:53] Bretttt commented on #13594
Coming from Eclipse (where this behavior _is_ implemented) if I choose one improvement to Visual Studio, this would be it.

[2016-09-03 23:16] stepanbenes commented on #13598
Two-type approach is clearly superior to three-type approach. @alzr I must say that I admire your passion about language design. You love C# at least as I do, but sometimes I think you make proposals only to make proposals. Do you really want to write exclamations all over you code?

[2016-09-03 23:20] timgoodman commented on #13015
In addition to the very reasonable objection that `ignore` is already a valid identifier, consider that much of the benefit of having a special syntax is to deemphasize to the reader the parts of the code which aren't important.  A single character is more suitable for this purpose, and `*` is probably the best *available* character.

Some people might find it counterintuitive the first time they

[2016-09-03 23:34] stepanbenes commented on #13015
Nobody mentioned * as already existing dereference operator in unsafe context. Is there really no potential ambiguity or confusion in this context?

[2016-09-03 23:44] jstun commented on #13015
@HaloFour if deconstruction is using ignore as some sort of keyword then how can the compiler tell the difference when I declare a variable named ignore?

@timgoodman if there's a single character to emphasize ignore wouldn't a more suitable character be the bang (!) symbol.

(myX, !) = GetPoint();

[2016-09-03 23:52] alrz commented on #13598
@stepanbenes I wasn't aware of the aforementioned design notes and I am already convinced with @HaloFour's last comment. I don't think discussing ideas would hurt anybody though.

[2016-09-03 23:58] nehmebilal opened #13601 "Common interfaces missing for types that have common methods"
I keep running into cases where two types have common methods but no common interface. This forces me to have code duplication or to resort to using `dynamic` which is not type safe.

For instance, `AddAccessorListAccessors` is in both `PropertyDeclarationSyntax` and `IndexerDeclarationSyntax` but there no common interface that contains this method and is implemented by both classes.

Also `IMetho

[2016-09-04 00:05] timgoodman commented on #13015
That said, regarding `_` (which is really the only option I'd prefer to `*`, if it were available), I realize this would be parsed as an identifier, but how hard would it be to add a rule that an undeclared identifier used like a local variable assignment, or a local variable which is assigned to but never accessed, and whose name is `_`, is treated as "ignore this value"?

This seems like it'd be

[2016-09-04 00:18] jcouv opened #13602 "Prototype: target typed "default""
Work items:
- [x] Parsing
- [x] Target typing
- [x] Overload resolution
  - [x] Report error if failed inference
  - [x] Only non-nullable types should be considered as candidates
- [x] Verify semantic model (GetConstantValue, GetConversion, GetOperation)
- [ ] IDE refactoring to simplify (when possible) or expand
- [x] Write spec ([issue](https://github.com/dotnet/roslyn/issues/17111), [proposal]

[2016-09-04 00:28] nehmebilal commented on #13601
I do see why actually. `AddAccessorListAccessors` in `IndexerDeclarationSyntax` returns an `IndexerDeclarationSyntax` but in `PropertyDeclarationSyntax` it returns `PropertyDeclarationSyntax`.

That being said, you can still do something like:

    public interface ICommon
    {
        ICommon AddSomething();
    }

    public interface IFoo : ICommon
    {
        new IFoo AddSomething();
    }

[2016-09-04 00:50] timgoodman commented on #13015
@stepanbenes I don't think the dereferencing operator could ever appear as the only token in the middle of either `(,` or `,,` or `,)` could it?

[2016-09-04 01:04] HaloFour commented on #13015
@stepanbenes

In both cases where `*` can be used in an `unsafe` context you'd need to supply an identifier in order for that syntax to be valid.  As a dereference operator the syntax would have to be `* identifier` and as a pointer type the syntax would have to be `type * identifier`.  As such I believe that the compiler can correctly discern the context.

@jstun

It couldn't, which is why `ignor

[2016-09-04 01:43] jnm2 commented on #13015
@HaloFour Mutable `_` in a wider scope is almost never the right thing to do. One solution to that would be to force `_` in deconstruction to always mean 'ignore' and if any identifier named `_` is in range of the deconstruction you get a compiler error. I would actually really like that.

It's not that different from when you use `_` for a short lambda and later come back and add a nested lambda

[2016-09-04 02:44] AdamSpeight2008 commented on #13602
What happens if `default` already exists in scope as parameterless method / property

Yes because it save the author having to write the type again.
eg ` SomethingClass<T0,T1,T2> thisparameter = default,  `

[2016-09-04 02:48] AdamSpeight2008 commented on #13015
@jnm ` _ ` isn't a valid identifier.

[2016-09-04 04:00] timgoodman commented on #13015
@HaloFour, well the compiler can tell if you never read the value from a variable, because it generates an "assigned to but never accessed"  warning.  So assuming it's a wildcard in that case seems harmless, even if for some odd reason your actual intent was to store the value in a variable and then never read it.  I'm imagining this means initially parsing it as an identifier and only later sayin

[2016-09-04 04:04] qrli commented on #13488
I'd like to add: such feature is not necessarily limited to generics (as it is in current C#). It could be more general, like C++'s concept or Scala's type trait. It also helps solving the last issue in OP. e.g.
[code]

[2016-09-04 04:28] jcouv commented on #13602
@AdamSpeight2008

`default` is a reserved keyword, so method, properties or constants couldn't use it as name ([example](http://tryroslyn.azurewebsites.net/#K4Zwlgdg5gBAygTxAFwKYFsDcAoADsAIwBswBjGUogQxBBgGEYBvbGNmfYsmANwHswAExiDUAMyrAiyABQBKZq3YBfJW04lykZCPGTpOZUA=)).

[2016-09-04 05:11] AdamSpeight2008 commented on #13602
@jcouv `@default` is though.

[2016-09-04 07:18] alrz commented on #13602
Why? Shouldn't it be equivalent to `default(ITest)`?

[2016-09-04 13:15] jnm2 commented on #13015
@AdamSpeight2008

Even better. The compiler error preventing `_` being used as an identifier when deconstruction is in scope would only have to be implemented for C#.

[2016-09-04 13:56] HaloFour commented on #13015
@jnm2

The wildcard syntax/pattern is being considered for a number of other scenarios aside deconstruction, including currently legal syntax where `_` would be a valid identifier.  One of these scenarios is ignoring a lambda argument.  It's currently not uncommon to see `_` used where a lambda argument is to be ignored:

[code]

or where the lambda is intended to represent a simple property acces

[2016-09-04 13:59] HaloFour commented on #13602
@AdamSpeight2008

The compiler requires that any reference of a keyword as an identifier be prefixed with `@`.  But I can see where the following could be considered ambiguous:

[code]

[2016-09-04 14:13] jnm2 commented on #13015
@HaloFour That fits with what I'm saying. `stuff.OrderBy(_=>_.FirstName);` would be legal, `stuff.OrderBy(_=>int.TryParse(x, _));` would be a compile error because the ignore symbol is used within the scope of an identifier named `_`.

That experience is similar to what happens with even more frequency today, where I'll have something like `stuff.Where(_=>_.FirstName == x);` and later come back an

[2016-09-04 14:25] svick commented on #13602
@HaloFour I don't see how is that different from the following, currently valid code:

[code]

[2016-09-04 14:32] svick commented on #13015
@jnm2 So, with your proposal, there is no way to use wildcard as a lambda parameter and also inside the lambda? That doesn't sound like great design to me.

`_` today is not a language feature, so it makes sense that it does not always works like a language feature that you're emulating using it would. But you're suggesting to make it actual language feature, that doesn't always work.

[2016-09-04 14:36] HaloFour commented on #13015
@jnm2

I don't think you understood me.  I'm talking specifically about scenarios where wildcards are being considered that *don't* involve deconstruction.  One of those scenarios is ignoring lambda arguments:

[code]

If C# were to decide on `_` as a wildcard they should go the Java route and make `_` no longer a legal identifier.  But given the teams hesitation on breaking existing code I doubt

[2016-09-04 14:39] HaloFour commented on #13602
@svick

I agree.  It's not a big enough of a concern to reconsider the feature.  Anyone who explicitly decides to use keywords as identifiers via `@` accepts the responsibility of ensuring that they don't mix them up.

[2016-09-04 17:00] alrz commented on #13598
Closing per #3910.

[2016-09-04 17:00] #13598 closed

[2016-09-04 17:18] alrz commented on #13598
@HaloFour I should note that there is a subtle difference between this proposal and the one that was discussed in #3910. In my examples `T!` takes the legacy unsafe status (explicitly)  and `T` remains as the non-nullable type as currently planned. However, it's still a three-type approach.

[2016-09-04 19:21] jcouv commented on #13602
@alrz There was no LDM discussion or decision on this, but my thinking is that `default` does not overlap with `null` (you can use one or the other, but not both). So `default` would be for structs and non-nullables only.
I agree with you this is not obvious, as you could say `default` is a simplification of `default(ITest)` and today C# allows `ITest i = default(ITest);`. I'll add to the list of

[2016-09-04 19:36] #13481 closed

[2016-09-04 19:36] #13455 closed

[2016-09-05 01:52] AdamSpeight2008 commented on #13602
@HaloFour
[code]
Is that result 3 or 0.

[2016-09-05 02:23] HaloFour commented on #13602
@AdamSpeight2008

Indeed, I already pointed that out.  But as @svick noted that's already the case with `null` and `@null` and, frankly, the developer that takes it upon themselves to use keywords as identifiers accepts the responsibility of not mixing them up.

[2016-09-05 04:41] alrz commented on #13602
@jcou That doesn't seem to be a big win. I expect the following work
[code]
which requires the default to be allowed in optional params and with reference types.

[2016-09-05 05:04] OzieGamma opened #13604 "[Proposal] Stringly typed macros"
Hi,

I was thinking about the proposed generators. Can this not be expanded to macros?

In the sense of LISP/Scala/Rust macros.

I was thinking of a syntax similar to Rust (note the '!'):

[code]

The macro is defined in another, already compiled dll, **similar to analyzers**. We could even reuse the same infrastructure.

Eg:

[code]

NB: I typed this from my phone, I am not sure of exact Node nam

[2016-09-05 05:22] OzieGamma commented on #13604
We could even implement type generators this way:

File GeneratedTypes.cs
[code]

File DbModelGenerator
[code]

[2016-09-05 05:51] 0xd4d opened #13605 "NRE in VisualBasicSyntaxFactsService.GetArgumentsForInvocationExpression (ConvertToInterpolatedStringRefactoringProvider)"
**Version Used**: VS '15' Preview 4

**Steps to Reproduce**:

1. Create a new Visual Basic console application
2. Add `TaskAwaiter` to `Main()`
3. Press Ctrl+.

Source code:
[code]

Relevant Roslyn code:

[code]

`ArgumentList` is `null` here

Call stack:

[code]

[2016-09-05 08:17] dsaf commented on #13604
Depending on implementation it might conflict with non-nullability enforcement in future.

[2016-09-05 09:13] drauch opened #13606 "Debugging: sequence points in property initializers"
We have some classes which are heavily using property initializers, e.g.:

    public MyClass Foo ()
    {
        return new MyClass {
            PropA = someExpr,
            PropB = someOtherExpr,
            PropC = evenMoreLogic == null ? null : evenMoreLogic.Prop;
        };
    }

Unfortunately, the debugger creates no sequence points within the property initializers => if one of those lin

[2016-09-05 09:20] pieroci commented on #12872
@CyrusNajmabadi

Hi, unfortunately the exception that I showed you , is chatched with first chance exception enabled .
I downloaded the roslyn sourcecode for an eventually test in debug.

I will try to send the new update , if I can set it up properly with Application that throws this exception.
Thanks again.

[2016-09-05 11:32] HaloFour commented on #13604
Generators can be effectively expanded to macros, and I expect that in numerous scenarios they will be.  But they wouldn't need any new syntax to do this.  I imagine that many scenarios will arise using attributes:

[code]

What advantage would there be to wrapping that in something that looks like a method call?

[2016-09-05 11:41] orthoxerox commented on #13604
I think for stringly-typed use cases generators should be enough. Str**o**ngly-typed macros will be a much more difficult endeavor and are probably better covered by compiler plugins (although you would need multiple plugins for the parser+syntax tree, bound tree, and optional lowerer and emitter).

[2016-09-05 11:46] alrz commented on #850
Assuming that property blocks maintain their own scopes I think the following will be very common,
[code]
Which certainly is not dry. This is the main use case discussed in the OP where we just need a single field per property.

I think something similar to #7614 or #8364 is a more elegant way of doing this.
[code]
`field` will a contextual keyword that refer to the corresponding field. Since curr

[2016-09-05 15:02] svick opened #13607 "MissingMethodException: VisualStudioProjectTracker.get_Projects() not found"
**Version Used**: master (4d6eb4f)

**Steps to Reproduce**:

1. Clone the Roslyn repo.
2. `Restore.cmd`, `msbuild /v:m /m Roslyn.sln`.
3. Open Roslyn.sln in VS 2015 U3, set Roslyn as the startup project, <kbd>F5</kbd>.
4. Create new .Net Framework C# Console application project.

**Expected Behavior**: No fatal exception.

**Actual Behavior**:

VS breaks in `FatalError.Report` with the following e

[2016-09-05 15:24] jnm2 commented on #13015
@svick @HaloFour Gotcha, I'm on the same page now. I'm satisfied  that `*` is the best option.

[2016-09-05 16:14] bondsbw commented on #850
@alrz I don't think it has to be an either-or scenario.  I mentioned the `field` keyword in the OP, but I do like the idea of being able to condense `get => field;` to simply `get;`, I think that would be useful.

[2016-09-05 16:44] OzieGamma commented on #13604
I prefer explicit macros to the generators. The problem I have with the generators is that they use attributes. It can be unclear what is really happening.

I might be wrong but I think my proposal just requires changing the parser and then invoking the macro on whatever tree was parsed. I dont know the C# grammar that well so there might be conflicts there.

I mean Analyzers do exactly what I wan

[2016-09-05 16:49] HaloFour commented on #13604
@OzieGamma

They don't "use" anything, attributes just provide an obvious and easy built-in way to trigger a generator to do something.  But they aren't limited to members or types annotated with any given attribute; they can generate code based on any convention they desire.  You could also use a syntax built into trivia (comments) to drive generators if you wanted.

Considering that generators w

[2016-09-05 16:55] OzieGamma commented on #13604
Hum, fair enough. I am one of those who hates attributes. I think they look like magic.

What I like about my syntax is that it clearly shows you are invoking a method with a tree at compile time to generate a new tree.

Aren't generators limited to invoking `original()` ? Can they change the tree of original?

[2016-09-05 17:03] HaloFour commented on #13604
@OzieGamma

It looks like you're invoking a method over a declaration, which doesn't make a lot of sense unless you know about how the compiler happens to parse said declarations.  Shrug, not my preference.

Source generators can emit anything they want and they can replace any member(s) they want.  Those replaced members can call the original version of those members by using the `original` keywo

[2016-09-05 18:26] OzieGamma commented on #13604
@HaloFour yes but they still can't inspect the Tree of `original`, can they?

Can the generator attributes have parameters? Can I generate types? How does the generator know how many arguments `original` accepts?

Maybe I underestimate the current generators. The syntax doesn't really matter to me. I care more about having access to the full Tree and being able to generate a new Tree.

[2016-09-05 18:44] HaloFour commented on #13604
My understanding is that generators work a lot like analyzers in that they can inspect the parsed syntax tree as a part of the compilation process.  The difference being that they can inject extra source files into the compilation.  Those source files can do anything that any source file in that project can do.  The `replace` and `original` keywords can then be used by generators when emitting a p

[2016-09-05 18:53] OzieGamma commented on #13604
Ah ok. They can inspect the tree. So it's basically what I proposed but with replace and original as extras?

Feels weird to me

[2016-09-05 19:00] Pilchie commented on #13605
Tag @CyrusNajmabadi and @jmarolf.  Should `GetArgumentsForInvocationExpression` be more resilient here, or should `TryFindInvocation` not call it for this case?

[2016-09-05 19:24] Pilchie commented on #13607
Looks like this is fallout from #12927 - which changed that property to return `ImmutableArray<AbstractProject>` instead of `IEnumerable<AbstractProject>`.

[2016-09-05 19:28] AdamSpeight2008 commented on #13602
It think the following syntax is more in keeping with C#.
[code]
equivalent to
[code]

[2016-09-05 20:18] lorcanmooney opened #13610 "Contextual keywords aren't escaped in symbol display strings."
Contextual keywords such as `await` aren't escaped by `To[Minimal]SymbolDisplayString`, even if the specified options request escaping. This affects completion providers which use the minimizing process to create insertion text.

[2016-09-05 21:32] AqlaSolutions opened #13611 "Task.Result and Task.Wait design flaw leads to deadlock in high loaded applications"
Run this application:

https://gist.github.com/AqlaSolutions/f8c993bfad32dc9be11703fea4e01422

It simulates network engine receiving requests and calling synchronously `IConnection.OnRequestReceived`.  This method calls async method and then synchronously processes the result retrieved with `Task.Result`. The async method may take up to 700 ms.

During run the simulation will decrease time between

[2016-09-05 21:42] benaadams commented on #13611
`Task.Result` and `Task.Wait` block the current thread you should use `await`

The workaround if you are blocking threadpool threads is to set threadpool minthreads to a high number; though that isn't very scalable.

The main workaround is to not use blocking methods in threadpool threads.

[2016-09-05 21:47] AqlaSolutions commented on #13611
@beannaich,

1. I can't use await, because external network engine provides synchronous interface
2. `Task.Result` is just not recommended. When you put it there it actually looks like it works ok and I think many people do that.

[2016-09-05 21:51] benaadams commented on #13611
You are basically hobbling the threadpool with
[code]
try
[code]
and you probably won't have any problems; though its not a good solution

[2016-09-05 21:55] AqlaSolutions commented on #13611
@benaadams, I set TP to low threads number to show the problem. It will also happen on 200 and 1000 threads but it will just take more time and will require modifying the simulation code for more requests. In a real app you will never want to set max threads to such big numbers because it will produce too much threads and make your app very very slow.

[2016-09-05 23:31] jcouv commented on #13602
@AdamSpeight2008

`default` is always a keyword. `@default` is always an identifier.
`int result = default;` // result is set to zero (regardless of any locals called `@default` declared in scope).

[2016-09-05 23:49] HaloFour commented on #13611
https://msdn.microsoft.com/en-us/magazine/jj991977.aspx

In short, don't mix async and sync.  "Async all the way down."  If you can't fit in that model you're kind of stuck.

As for the potential of changing this, those would all be BCL concerns, not language concerns.  C# doesn't know nor care about `ThreadPool` or `Task`.  Check out the https://github.com/dotnet/corefx repo.

[2016-09-05 23:57] benaadams commented on #13611
Raise an issue with NHibernate? A blocking call will block a thread and as you've pointed out the issues with that.

[2016-09-05 23:59] AqlaSolutions commented on #13611
@HaloFour, when "you can't fit" almost everyone suggests to "just use `.Result` here". They all know about "not mixing" but `.Result` looks like exactly for mixing. This deadlock is not obvious and someone may never encounter it during testing.

[2016-09-06 00:37] HaloFour commented on #13611
If NH thinks that DB I/O time is best spent blocking threads then you should seriously find another solution as they are clearly criminally incompetant.  If they're the ones recommending to "just use .Result" that further validates my opinion.  MS docs very clearly state to not do this, as does every article they've written on the subject.

[2016-09-06 00:44] benaadams commented on #13611
If you have to shoot yourself in the foot use `.GetAwaiter().GetResult()` rather than `.Result`, it will give a better exception if something went wrong.

[2016-09-06 01:53] CyrusNajmabadi commented on #13611
Roslyn does not appear to be the right repo for this issue.

[2016-09-06 01:56] CyrusNajmabadi commented on #13602
That seems unfortunate.  It would be nice to have a single literal you could use for everything.

[2016-09-06 01:59] CyrusNajmabadi commented on #13602
Out of curiosity, is there any reason why we wouldn't want to make 'default' as close to 'null' as possible, except that it would also be allowed for non-reference types?

[2016-09-06 02:02] AdamSpeight2008 commented on #13602
Make it behave similarly to VB's `Nothing` when it used in assignment.

[2016-09-06 02:08] terrajobst commented on #13611
@AqlaSolutions

Unless you think the problem is in the code generated by the Roslyn compiler, you should close this issue and file a new one against the `Task` APIs which are part of the http://github.com/dotnet/corefx repository.

[2016-09-06 02:10] CyrusNajmabadi commented on #13602
@AdamSpeight2008 does that bring any interesting additional semantics you care about?

[2016-09-06 02:18] HaloFour commented on #13602
@AdamSpeight2008

To quote @AnthonyDGreen when responding to a complaint about `Nothing` equating to `0` in VB.NET:

In short, that's an absolutely awful idea.

@jcouv

In my opinion, `default` should be nothing more than shorthand for `default(T)` where `T` can be inferred by the compiler.  No more.  No less.  That means that it should absolutely mean `null` where `T` is a reference type or inter

[2016-09-06 02:20] AdamSpeight2008 commented on #13602
If the target type is a class, it assigns it of zero (null). if it target is a structure it assign it the zero value (0).
eg
[code]

I think that comment is about the expression ` Nothing = 0 `. Akin to C's `define NULL = 0;`

[2016-09-06 02:37] CyrusNajmabadi commented on #13602
Is there any difference between those semantics and the semantics of "default(T)" where T is whatever type is present?

[2016-09-06 02:39] CyrusNajmabadi commented on #13602
In other words, i see 'default' as just being shorthand for "default(T)".  Are there additional VB semantics you see on top of that.

[2016-09-06 02:44] AdamSpeight2008 commented on #13602
@CyrusNajmabadi  That's how I also see it, shorthand for `default( T )`. It save the developer writing the type explicitly again. It like the dual of `var`

[2016-09-06 02:55] HaloFour commented on #13602
@AdamSpeight2008

Ok, yes, I agree.  I makes sense for `default` to behave like `Nothing` in VB.NET, which is like `default(T)` in C# today.  What doesn't really make sense is the fact that `Nothing` in VB.NET behaves like that.  😄

[2016-09-06 03:00] AdamSpeight2008 commented on #13602
I hope that's because Erik Meijer had something to do with the implementation.

[2016-09-06 03:03] CyrusNajmabadi commented on #13602
@AdamSpeight2008 Ah ok.  I would not want it to be like VB's Nothing then.  I would prefer it be like C#'s default(T).

[2016-09-06 03:18] Pilchie commented on #13556
I'm seeing that this is causing the keyword/framework option is never getting persisted, and ends up back at Framework type every time I restart VS :(

[2016-09-06 05:42] tenor opened #13613 "Make xxClrGlobalAssemblyCache classes public"
The  **GlobalAssemblyCache**, **ClrGlobalAssemblyCache** and **MonoGlobalAssemblyCache** classes are useful for locating and resolving files in the GAC.
Please make these classes public. The only way to use these classes right now is through InternalsVisisbleTo.

Thanks!

[2016-09-06 06:12] tenor opened #13614 "C# Interactive Window (VS) Task Scheduler deadlock"
**Version Used**: VS 2015 Update 3

**Steps to Reproduce**:

Run the following script in the Visual Studio C# Interactive Window:

[code]
**Expected Behavior**: Print Contents of dictionary.

**Actual Behavior**: Deadlock. It looks like the Task Scheduler schedules tasks on a single thread. Changing the last line in the script to an `await` runs fine.

[2016-09-06 07:20] jmarolf commented on #13605
My suggestion would be to change
`(TryCast(invocationExpression, InvocationExpressionSyntax)?.ArgumentList.Arguments).Value`
to
`(TryCast(invocationExpression, InvocationExpressionSyntax)?.ArgumentList?.Arguments).Value`

Then change the three callsites [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/CodeRefactorings/ConvertToInterpolatedString/AbstractConvertToInterpolatedStringRe

[2016-09-06 07:37] jmarolf commented on #13605
Actually, since `GetArgumentsForInvocationExpression` returns SeparatedSyntaxList we should just update it to handle this case. None of the callers need to be updated

[2016-09-06 07:42] #13611 closed

[2016-09-06 08:02] AqlaSolutions commented on #13611
https://github.com/dotnet/corefx/issues/11463

[2016-09-06 08:49] msedi commented on #7082
I have installed VS2015 14.0.25425.01 Updated 3 but still having problems with memory. When I start VS at the evening with full available memory and leave VS open during the night, come back in the morning and there is almost no memory left (2GB of 32GB). If I look in the process explorer I can see not application that keeps the memory, also Resharper is turned off.

[2016-09-06 12:46] la-yumba commented on #347
+1 for splatting, enabling point-free use of multi-arg functions, e.g.:

[code]

[2016-09-06 14:11] jaredpar commented on #8210
@tmat is working on that.  Will let him comment.

[2016-09-06 14:26] Seteh opened #13616 "Incorrect result of GetDiagnostics() method call for Visual Basic syntax tree"
Visual Basic implementation doesn't catch the `'Return' statement in a Sub or a Set cannot return a value.` diagnostic.

![Actual](http://i.imgur.com/uJIU5E8.png)

While Visual Studio does:
![Expected something like that](http://i.imgur.com/zIEZL7F.png)

**Version Used**: 14.0.25421.03 Update 3.

Code:
[code]

[2016-09-06 14:40] ljw1004 commented on #261
# Recap of async streams

We propose to do a language feature and associated library support for C#8 to support async streams. An async stream is a sequence of values where you might need to await for the next sequence.

## 0. Async stream scenarios

* I like streams in general for reading files and communicating over pipes. I wonder if this language feature will become a preferred alternative to

[2016-09-06 14:51] scalablecory commented on #261
@ljw1004 Please consider a ValueTask type for the return of MoveNext() to support the following common scenario:

	byte[] buffer;
	T val;

	while(true)
	{
		await FillBuffer(buffer);

		while(ParseBuffer(buffer, out val))
		{
			yield return val;
		}
	}

I believe this needs to be part of `IAsyncEnumerator` because many of the LINQ operators will not be able to take advantage of the same pattern m

[2016-09-06 14:54] stephentoub commented on #261
That's not necessary.  If MoveNext completes synchronously, it can return a cached ```Task<bool>``` (which is what async methods already do if they return bool and complete synchronously).  And if it completes asynchronously, a task would still need to be allocated, even with ValueTask.  That actually then ends up making ValueTask a more expensive choice, as it'll always be handing back both a T a

[2016-09-06 14:59] stephentoub commented on #261
@ljw1004, I didn't understand this part.  I do not think any of the ConfigureAwait stuff should be part of the interface.  If foreach is pattern based, then ConfigureAwait can be an extension method on IAsyncEnumerable, providing its own MoveNextAsync/Current members, with MoveNextAsync returning a ConfiguredTaskAwaitable, and the foreach will bind to that.  You'd have something like:
[code]

[2016-09-06 15:13] DavidArno commented on #13602
Definitely agree with others here re `ITest i = default;` being treated as an error. The LDM seem to have misunderstood/ignored the ideas in the linked issues, namely that `default` just be shorthand for `default(T)`, where `T` is known. So the following should apply:
[code]

[2016-09-06 15:16] tiakun opened #13617 "Invalid generic extension call does not report error and then fail to emit module."
**Version Used**:

VS2015 Update 3 with .NET Core Tools Preview 2

**Steps to Reproduce**:
1. Create a generic extension method which return `T` e.g. `public static T Foo<T>(this object obj) => default(T)`
2. Call it somewhere without specifying `T` and invoke any arbitrary member name, like `"abc".Foo<>().FooValue`
3. Compile.

**Expected Behavior**:

Compilation fail with proper error message.

[2016-09-06 15:18] DavidArno commented on #13602
I agree with others here who have questioned why `ITest  i = default;` is viewed as an error. The LDM seem to have misunderstood/ignored the contents of the linked issues, which is that `default` would be the equivalent of `default(T)`, for situations where `T` is known. So the following should apply:
[code]

[2016-09-06 15:24] stephentoub commented on #261
I'm likely in the minority, but I'd actually like to see us:
- Add an ```iterator``` keyword
- Allow but not require ```iterator``` on iterators (not require for reasons of compat)
- Require "async enumerable" on async iterators

Then it's clear just from looking at the signature what kind of transformation is going to be done.
- ```iterator``` => sync iterator
- ```async``` => async method
- ```a

[2016-09-06 15:29] onovotny commented on #261
Wouldn't it need to go into `mscorlib` to enable adding API's that expose async iterators to types defined there? Otherwise, it seems to already have a home in `System.Interactive.Async` as the de-facto location and implementation of the operators?

[2016-09-06 15:36] stephentoub commented on #261
Only if there were existing mscorlib types to which we wanted to add such APIs.  And if/when that happens, then the types can be type-forwarded down.  I do not believe we should do that from the get-go.  We already have many "mscorlibs", for desktop, for coreclr, for .NET Native, for Xamarin, for Unity, ... adding these as a separate package basically makes it "just work" for all of them.  Then la

[2016-09-06 16:13] svick commented on #13616
`GetDiagnostics()` on a `SyntaxNode` or `SyntaxTree` only returns *syntax errors*. But this is a semantic error, so you need to create a `Compilation`:

[code]

This outputs:

[code]

[2016-09-06 16:36] AdamSpeight2008 commented on #7082
@msedi Would you mind expanding on  "left open".
* Is this just the initial screen, no solution / code open.
* Is there a projects loaded?
etc

[2016-09-06 16:41] AdamSpeight2008 commented on #261
@ljw1004  What happens if I await a async sequence the never returns?
What benefits would language support bring rather than libraries?

[2016-09-06 16:41] Pilchie commented on #7082
@msedi Can we please move this to a new issue.  You appear to be talking about something other than the actual VM used by the devenv.exe process, which is limited to 4GB being a 32-bit process.

[2016-09-06 16:50] Pilchie commented on #13610
Moving to compiler since the API is defined there.

[2016-09-06 16:54] msedi commented on #7082
@Pilchie: You may be right and I'm not quite sure who is using the memory. It seems that VS isn't using the memory, also when using the ProcessExplorer there is nothing that tells me who is using the memory. Where VS is still used as a 32bit-Process I'm aware that the process "devenv" is obviously not using it. Of course I can open up another issue, but I thought it fits here. BTW: The 32GB was re

[2016-09-06 16:56] #13544 closed

[2016-09-06 16:56] msedi commented on #7082
@AdamSpeight2008: Sorry for being to vague. VS is left open with all projects loaded. In other words, I work with VS, compile things, leave the solution open, and when I stop working and go home, I leave VS in it's current state - simply don't touching anything anymore.

[2016-09-06 16:59] asoifer commented on #9270
@genlu I discussed this issue with @edgardozoppi an intern who has came back from Microsoft and he told me that I can add this feature flag programatically like this:

var options = aProject.ParseOptions.WithFeatures(aProject.ParseOptions.Features.Union(new KeyValuePair<string, string>[] { new KeyValuePair<string, string>("IOperation", "true") }));
 aProject = aProject.WithParseOptions(options);

[2016-09-06 16:59] Pilchie commented on #13577
This doesn't seem *terrible* if it is just setting focus on the first click.

[2016-09-06 16:59] Pilchie commented on #13579
Does the dropdown not show on Alt+Down (the standard keybinding?)

[2016-09-06 17:03] gafter commented on #13229
Encoding information into odd/even/positive/negative that way is not suitable for a public API.

[2016-09-06 17:05] CyrusNajmabadi commented on #13491
Note: there may be many interfaces to implement.  Keep that in mind with how you 'fix' this issue.

[2016-09-06 17:11] balajikris commented on #13579
Yeah, Alt + Down seems to work (once you tab twice to get to the drop down and select the list itself).

[2016-09-06 17:13] Seteh commented on #13616
@svick Thank you, :thumbsup:!

[2016-09-06 17:17] #13616 closed

[2016-09-06 17:26] jmarolf opened #13619 "Navigate To broken in ETA"
Navigate To is failing at [MefWorkspaceServices.TryGetServiceByLayer](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Host/Mef/MefWorkspaceServices.cs,120)

Job: http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_eta_open_prtest/3364/
Screenshots: http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_roslyn-internal/job/master/job/window

[2016-09-06 17:31] jmarolf commented on #7082
@msedi If you launch Task Manager (Ctrl + Shift + Esc) and sort by memory usage what do you see?
![image](https://cloud.githubusercontent.com/assets/9797472/18283986/deb1fcc2-741c-11e6-876c-df85fd0df865.png)
Also, what OS are you using?

[2016-09-06 17:43] jcouv commented on #13602
@DavidArno There was no LDM discussion of this feature yet.
I got the feedback from you and others in the thread that there is strong interest to allow the `default` literal anywhere the `default` operator could. Thanks :-)

[2016-09-06 17:45] jmarolf opened #13620 "Should not need to Comment "test vsi please""
Any member of the dotnet org should have vsi tests automatically run for their PR.  Only PRs submitted from outside the org should need `test vsi please`

[2016-09-06 17:47] bbarry commented on #261
Note for interested readers: the builder is where this code would be. An async method a user might write would be something like this:

[code]

the builder for this would create a state machine:

[code]

This (combined with the fact that you couldn't have a zero allocations implementation overall without considerable language support) is why `ValueTask<T>` isn't really helpful for `IAsyncEnumerabl

[2016-09-06 17:58] heejaechang commented on #13515
moved to RC. since change required for this is in preview 5 in dev.core. doing this in RC safer.

[2016-09-06 17:59] mattwar commented on #13572
All the API's are designed with the assumption that the caller has a workspace available.  Sometimes, some of the API's have overloads where you can specify the SemanticModel or SyntaxTree up front, because this saves some overhead when you don't have to make an async call.  In other cases, the workspace might only be used to find the underlying language service via the host services API.  However

[2016-09-06 17:59] #13513 closed

[2016-09-06 18:00] dpoeschl commented on #13513
The timing explanation makes the most sense. Closed.

[2016-09-06 18:04] heejaechang commented on #11926
it shows line number with pdb.

[2016-09-06 18:04] #11926 closed

[2016-09-06 18:04] balajikris commented on #13556
Spoke offline with @Pilchie . I'm unable to reproduce this behavior where the settings change fails to persist. If there is a consistent repro, please ping me.

Otherwise, for the issue reported originally in this bug, you'd encounter the setting didn't migrate over for the first time and it would start working after you set it the first time.

[2016-09-06 18:05] heejaechang commented on #11762
no dump. and old issue before all the OOM works. re-open if OOM happen again.

[2016-09-06 18:05] #11762 closed

[2016-09-06 18:06] heejaechang commented on #11721
there is workaround. moving to RC.

[2016-09-06 18:08] heejaechang commented on #11369
this is usual symptom of in proc compilation being broken inside of IDE. with all changes in project system , probably already fixed. please re-open bug to IDE team if it happens again.

[2016-09-06 18:08] #11369 closed

[2016-09-06 18:10] heejaechang commented on #10703
we didn't get any issue reported related to this anymore. closing.

[2016-09-06 18:10] #10703 closed

[2016-09-06 18:11] #12780 closed

[2016-09-06 18:16] benaadams opened #13624 "Cached inline lambdas don't inline well"
As seen in https://github.com/aspnet/HttpAbstractions/pull/704

Using an inline non-capturing lambda creates a lazy static so there are no allocations

[code]

However it inserts the lazy eval in the method; which can increase the code size so as to make it inlinable:

[code]

Moving the lambda to a `readonly static` reduces the code size making the function more inlinable:

[code]

[code]

It wou

[2016-09-06 18:23] heejaechang commented on #10094
@CyrusNajmabadi are you saying people shouldn't use SyntaxGenerator at all? or instead use VBSyntaxGenerator? first language specific SyntaxGenerator is not exposed. and the way SyntaxGenerator works and how it all connected with SyntaxEditor are different than SyntaxFactory and convenience baked into those code generator.

I think we should either expose language specific SyntaxGenerator or put l

[2016-09-06 18:23] heejaechang commented on #10094
@srivatsn @Pilchie @mattwar adding other people for their opinion.

[2016-09-06 18:25] CyrusNajmabadi commented on #10094
People shoudl not use SyntaxGenerator if they're creating something that is language specific.  SyntaxGenerator is for abstacting over VB and C# so you can generate properly for both languages.  If you're doing VB specific stuff you should just use the VB SyntaxFactory API.

[2016-09-06 18:31] heejaechang commented on #10094
@CyrusNajmabadi that seems a bit trouble some. since that kind of subtle thing user will be confused. once people went down on using SyntaxGenerator, they probably will want to use it for all rather than switching to different shape of APIs.

also, this kind of API in syntax generator
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Editing/SyntaxGenerator.cs,72

to be useful then, I thi

[2016-09-06 18:32] heejaechang commented on #9368
no time to do in preview 5.

[2016-09-06 18:34] heejaechang commented on #9206
no functionality issue. but cleaning up code. filter still exist in editor side.

[2016-09-06 18:36] mattwar commented on #10094
It would be okay to include Module in DeclarationKind.  It can be a super set.

It would not work to add a Module factory API on SyntaxGenerator though.

[2016-09-06 18:42] CyrusNajmabadi commented on #10094
We already have had to deal with this numerous times.  When the languages diverge we use language specific solutions.  Only where they share do we use the unified APIs.

[2016-09-06 19:05] cston opened #13625 "Incorrect names in the EE in long tuple"
Names in the last nested tuple of `C.F` are incorrect in the EE.
[code]
Result:
[code]

[2016-09-06 19:24] #13383 closed

[2016-09-06 19:45] svick commented on #13624
This would also mean the delegate is created as soon as the type is loaded instead of only when it's needed for the first time. That could be a non-trivial number of unnecessary allocations for some programs, especially if they use generics a lot.

Presumably, that's why the code is generated this way in the first place.

[2016-09-06 19:57] benaadams commented on #13624
Can still be null coalesced and lazy; just not in the function itself.

[2016-09-06 20:00] agocke opened #13626 "IlasmUtilities can cause unhandled exception when cleaning up temps"
See https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/index?buildId=316944&_a=summary&tab=ms.vss-test-web.test-result-details

[code]

[2016-09-06 20:00] agocke commented on #13626
/cc @jasonmalinowski

[2016-09-06 20:09] #13605 closed

[2016-09-06 20:22] heejaechang commented on #10094
@CyrusNajmabadi yes. we did that many times and what I am saying is doing that is not that intuitive. once one went down of the path of using SyntaxEditor/SyntaxGenerator staying on that API seems more intuitive.

[2016-09-06 20:24] heejaechang commented on #10094
@Pilchie anyway, I will let IDE team decide what is right API. if IDE team think current API is good enough. just close the bug :)

[2016-09-06 20:34] mavasani opened #13627 "Remove IVT from MS.VS.LanagageServices to CodeLens once we stop supporting Roslyn.sln on Dev14"
IVT: https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Core/Def/ServicesVisualStudio.csproj#L287

[2016-09-06 20:46] heejaechang commented on #10094
by the way, if we are going to ask users to use compiler API (SyntaxFactory) for any language specific construct, shouldn't SyntaxGenerator at the compiler layer? when I tried to use SynaxGenerator in code fix for FxCop, it fall short quite quickly since such common thing as GetDecleration won't work with VB.

after that, another thing got in the way was, I was forced to use compiler layer API wit

[2016-09-06 20:46] emsaks opened #13628 "Proposal: add a null-coalescing-assignment operator"
It would be nice to have a null-coalescing assignment operator, like so:

`buffers[i] ??= new byte[4*1024*1024];`

This would help in a case where one operation doesn't need all of the buffers, so it only initializes some of them, and a subsequent operation needs to utilize more of them - instead of re-initializing all of the buffers, it reuse previous ones and only initialize the indices that are

[2016-09-06 20:49] jaredpar commented on #12673
Closing as our expectation is this should just work given the changes to CLI to be MSBuild based.  Please push back if you disagree.

 https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/

[2016-09-06 20:49] #12673 closed

[2016-09-06 20:50] CyrusNajmabadi commented on #13123
Another case of this: http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_release_unit64_prtest/516/console

[2016-09-06 20:55] CyrusNajmabadi commented on #10094
It could have been.  But moving that now would be a breaking change.  Also, SyntaxGenerator does extra stuff that the compiler layer doesn't know how to do.  Moving that down would be difficult.

[2016-09-06 20:58] CyrusNajmabadi commented on #10094
I don't get this point.  Nearly everything at the feature level uses the workspace and compiler APIs.  It's the norm.  The compiler API generally serves as the raw source of data.  And the workspace APIs often serve as the way to operate over that data in a uniform fashion *when* that data is common to both C# and VB.

There is no expectation that someone be able to just use the compiler API.  If

[2016-09-06 20:58] #10094 closed

[2016-09-06 20:59] mavasani commented on #12714
@dpoeschl has a fix for this..

[2016-09-06 20:59] CyrusNajmabadi commented on #10094
Closing this because the intent is that you use SyntaxGenerator when operating generically over Vb and C#.  If you're doing VB specific stuff then you should use the existing features that allow you to target VB directly.

[2016-09-06 20:59] tmat commented on #13123
This is unlikely a bug in the compiler. Morel likely the component that manages metadata references for the tests disposes them too soon, or something like that.

[2016-09-06 21:03] balajikris commented on #8337
@CyrusNajmabadi did the work that decouples completion and formatting. This bug can now be closed.

[2016-09-06 21:03] #8337 closed

[2016-09-06 21:05] terrajobst commented on #13529
AFAIK we discovered this during PCL days. @davkean, any more context or contact?

Otherwise, @rpetrusha & @mairaw: do you guys have any idea where the docs for this feature might be?

[2016-09-06 21:07] jasonmalinowski commented on #13529
This is trivial to implement, it's mostly a question of "how do I interpret that string"? The `%%`s would have made me think environment variables, but `%PROGRAMFILESDIR%` isn't a normal environment variable.

[2016-09-06 21:09] jasonmalinowski commented on #13529
Oh, wait, if we're in Visual Studio we don't read those XML files, we let the core VS service do them. (We'll still have to update our non-VS code.) So does the core VS service support this?

[2016-09-06 21:10] svick commented on #13624
Why not move the whole cold path to the the `Initialize` function?

[code]

(Your version moves 3 IL instructions in this case, mine 5.)

Yeah, I think that in this form, the change makes sense.

[2016-09-06 21:10] terrajobst commented on #13529
For the record, PCLs are using this feature. Take a look at: "C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETPortable\v4.6\Profile\Profile32\Microsoft.VisualBasic.xml"

[2016-09-06 21:13] heejaechang commented on #9341
doesn't repro in dev15.

[2016-09-06 21:15] heejaechang commented on #12325
@bkoelman does this still repro?

[2016-09-06 21:24] jasonmalinowski commented on #13529
So looking at the VS implementation, there are three magic values allowed. `%CORSYSDIR%`, which maps to some "runtime directory path", `%VSPATHDIR%` which maps to the Common7\IDE path, and `%PROGRAMFILESDIR%` which maps to SHGetSpecialFolderPath(..., CSIDL_PROGRAM_FILES, ...)

[2016-09-06 21:26] terrajobst commented on #13529
@jasonmalinowski

Don't know. But I know where to look :smile:

https://devdiv.visualstudio.com/DevDiv/_search?type=Code&lp=search-project&text=CXMLMemberIndexService&result=DefaultCollection%2FDevDiv%2FVS%2FGBmaster%2F%2Fsrc%2Fenv%2Fmsenv%2Fcore%2Fxmlindex.cpp&preview=0&filters=ProjectFilters%7BDevDiv%7D&_a=contents

[2016-09-06 21:38] svick commented on #13628
This is a duplicate of https://github.com/dotnet/roslyn/issues/205 (and few other issues), which was closed by @gafter:

[2016-09-06 21:47] jcouv opened #13630 "Deconstruction should fail if one Deconstruct method is generic and the other isn't"
The second test should fail.

This has implications on evolving the overload resolution rules for Deconstruct to account for known type information on the LHS (`long` and `string` in this example).

[code]

[2016-09-06 21:51] jcouv opened #13631 "Optimization: deconstruction of tuple literal should not construct a ValueTuple"
From LDM discussion today, there was a desire to optimize such case and use temps instead (to respect the evaluation order), or even directly use the locals when possible.

[code]

[2016-09-06 21:57] jcouv opened #13632 "Optimization: Don't use any temps for most straightforward deconstruction"
We can do away with `V_0` and `V_1` in the IL generated below.

[code]

[2016-09-06 21:57] paulomorgado commented on #261
@stephentoub,

👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍 👍

I pushed for that for **C#**!

[2016-09-06 22:02] terrajobst commented on #13611
Thanks!

[2016-09-06 22:05] #13265 closed

[2016-09-06 22:05] jcouv commented on #13265
Fixed by https://github.com/dotnet/roslyn/pull/13599

[2016-09-06 22:09] gafter opened #13634 "Compiler fails to lift some variables in async in Release mode"
[Quoting an internal email discussion]

I was able to reduce the problem down to the following, which also only crashes in release mode only.  I think it must have to do with the number of local variables the async state machine is tracking, but I can’t explain why it doesn’t occur with the “else” block removed.

[code]
The code is running fine with vs 2012 (in release and build mode). But the sam

[2016-09-06 22:34] gafter opened #13637 "C#7 language spec must document restrictions on calling a method named `var`."
See #13636 for details.

[2016-09-06 23:01] #9640 closed

[2016-09-06 23:06] heejaechang opened #13639 "make all IDE analyzers run-able from out of proc"
currently, not all but some of them are run-able. we should make all of them run-able from out of proc by RTM

[2016-09-06 23:07] heejaechang opened #13640 "make diagnostic perf tests run on jenkins"
we should make diagnostic perf test run on each PR and rolling in Jenkins.

[2016-09-06 23:08] heejaechang commented on #13640
@KevinH-MS can you assign it to right person @dotnet/roslyn-perf

[2016-09-06 23:09] jcouv commented on #13527
@CyrusNajmabadi
Thanks for the clarifications.

I think I have it working for `SymbolCompletionProvider` (see PR https://github.com/dotnet/roslyn/pull/13638).

For `KeywordCompletionProvider` I think I'll have to build a `SyntaxContext`, so that the completion provider can tell which rule it should produce depending on context. Does that sound alright?

[2016-09-06 23:09] heejaechang opened #13641 "make service hub available in editor test app"
currently, editor test app doesnt support real service hub. we should make it available in ETA.

[2016-09-06 23:10] heejaechang commented on #13641
@AArnott can you add detail on how to make it hostable in other host than VS here?

[2016-09-06 23:15] heejaechang opened #13642 "add analyzer option pages that controls which analyzers run only opened files and all files"
currently we use effective severity to determine whether we are going to run diagnostic analyzers only for opened files or all files. but that only works because currently severity is per compilation. on going work to make editor config part of compilation will break that (since now diagnostic can have different effective severity per files)

so we no longer can use effective severity as a way to

[2016-09-06 23:15] heejaechang commented on #13642
@srivatsn can you assign it to right person?

[2016-09-06 23:17] heejaechang opened #13643 "find a way to send options to OOP or build efficiently."
after editor config work is done, we need a way to efficiently sync that options between different host such as VS, build, OOP.

[2016-09-06 23:17] agocke commented on #12650
Dup of #9640

[2016-09-06 23:17] #12650 closed

[2016-09-06 23:18] heejaechang commented on #13643
@Pilchie @srivatsn @jasonmalinowski @JohnHamby will we need design meeting? didn't put milestone since I think it is after dev15 work.

[2016-09-06 23:18] heejaechang commented on #13643
for dev15, we will cherry-pick options we know we need and explicitly serialize those over OOP.

[2016-09-06 23:18] agocke commented on #11674
Should be fixed by #13592

[2016-09-06 23:18] #11674 closed

[2016-09-06 23:22] heejaechang commented on #13643
some reasons why we need to sync options between different host are

for build, OOP. we need build and ide to report same diagnostics to do de-duplication. otherwise, build and IDE will report different diagnostics since option is different and IDE will always win.

also, we need to do this efficiently so that we don't realize all options exists in VS.

[2016-09-06 23:23] mairaw commented on #13529
Which feature are you referring to @terrajobst? @rpetrusha has changed the summary of the String class for the 4.6.2 release.

[2016-09-06 23:25] heejaechang opened #13644 "support dynamic diagnostic analyzers"
currently IDE has namingstyle analyzers.
http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/Analyzers/NamingStyles/NamingStyleDiagnosticAnalyzerBase.cs,11

these analyzers will create rules on the fly based on given options. this doesn't fit to current diagnostic analyzers which assumes those sets are known before-hand.

we need a way to support this in compiler diagnostic analyz

[2016-09-06 23:25] heejaechang commented on #13644
open the issue to track on design decision.

[2016-09-06 23:30] dpoeschl opened #13645 "Test Failure: MSB3277: Found conflicts between different versions of the same dependent assembly that could not be resolved."
Link: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn/job/master/job/windows_debug_unit64_prtest/3354/

[code]

[2016-09-06 23:31] dpoeschl commented on #13645
@agocke FYI, I'm retesting to see if it's flaky...

[2016-09-06 23:31] jcouv commented on #13502
Neal clarified that just coming up with an indexing strategy would not meet the public API needs for #13229.
So this here issue is for the indexing strategy, which is internal only.

[2016-09-06 23:38] #13607 closed

[2016-09-06 23:42] jasonmalinowski opened #13646 "Go to Implementation doesn't deal with types that have type forwards"
**Version Used**: daily build from Roslyn master 60906.06

**Steps to Reproduce**:
1. Create a new portable project that's System.Runtime based.
2. Define an interface that uses System.Object in a method parameter.
3. Create a desktop-targeting project, and implement the interface.
4. Go to Implementation on the method from the original interface created in step 2.

**Expected Behavior**: It shoul

[2016-09-06 23:44] jcouv commented on #13630
From discussion with Neal, this behavior is actually good.

[2016-09-06 23:44] #13630 closed

[2016-09-06 23:44] jasonmalinowski commented on #13646
@CyrusNajmabadi this is the reason we saw that issue last week. I've long been suspicious about our symbol comparers and now I'm more suspicious. We have the standard one that does care about assembly identity (and screws up all type forwarding), and one that doesn't care. Find References has it's own custom logic that uses both of these to compare. It seems like this is a landmine for bugs like t

[2016-09-06 23:45] kuhlenh commented on #13439
![image](https://cloud.githubusercontent.com/assets/1402694/18294874/5b466cd0-7451-11e6-8495-ed35699b54e2.png)

This was what we mocked up for V1....

[2016-09-06 23:50] Pilchie commented on #13439
Did we also talk about a way to change severity (or at least disable) from under the "Suppress" menu?

[2016-09-06 23:51] Pilchie commented on #13646
Tagging @brettfo who has been fixing issues related to this all over the place (solution explorer pivots, FAR, etc...)

[2016-09-07 00:07] jcouv commented on #13303
I suspected it was a tuple unification issue, but @VSadov pointed out that VB needs `Implements I.M`.
Vlad, I'll let you close this issue once you check in the updated test. Thanks!

[2016-09-07 00:11] jasonmalinowski commented on #13646
If we're having to fix this up everywhere, then I'm further convinced our abstractions here aren't right. :smile:

[2016-09-07 00:13] gafter commented on #13380
This appears to be broken by #9543. This PR shows why the optimization in overload resolution is not correct.

[2016-09-07 00:27] justcla commented on #13594
Hi Brettt. Thanks for your feedback. Your note about true and false appearing at the top of the list is a slightly different issue. Perhaps you could raise that as a separate item (if it does not already exist). That would be "IntelliSense filtering to only the expected type". And I agree, that would be a very valuable feature.

[2016-09-07 00:33] justcla commented on #13594
Just to be clear, this issue specifically relates to IntelliSense ignoring all characters to the right of the cursor and only showing options that match with characters in the selected word that appear between the previous whitepace (or other delimiter) and the cursor.

As an example, let's say I have the following code:

[code]
and I wish to replace the last line with:

`var currentPosition = end

[2016-09-07 01:31] svick opened #13649 ""Predefined type is not defined or imported" error not shown in Error List"
**Version Used**: VS 2015 U3, master (a7637024)

**Steps to Reproduce**:
1. Create a .Net 4.5 (not .Net 4.6 or newer) Console application in normal VS 2015 (or in VS 2015 started from the Roslyn project in the Roslyn solution).
2. Write the following code into its `Main`: `IFormattable f = $"";`.
3. Build.

**Expected Behavior**:

The following error shows in the Error List, in the Build + Intelli

[2016-09-07 01:42] tenor opened #13650 "Request: Ability to pass CompilationOptions to Script.Compile()"
Currently, there is no way to specify a compilation option when calling `Script.Compile()` or `Script.RunAsync()`. So there is no way to specify allowUnsafe, checked, concurrentbuild, optimizationLevel and other compilation options for Interactive/Script mode.

Please add an overload to `.Compile()`, `.RunAsync()` and `.EvaluateAsync()` methods that accepts a `CSharpCompilationOptions|VisualBasicC

[2016-09-07 02:09] CyrusNajmabadi commented on #261
yeah, i'm definitely not a fan of that.  I prefer to not force ceremony when coding.  I would have preferred to not have 'async' either, but the desire to have things like "await (expr)" unambiguously parse overrode that hope.

Ceremony is ok if it means that the general code inside will be simpler and cleaner.  If, however, there are no ambiguity problems, then i would not want any ceremony.

[2016-09-07 02:12] CyrusNajmabadi commented on #261
Note, IMO, that syntactic ship has likely sailed.  C# has definitely (for many releases now) erred on the side of brevity.  VB has been the language to use if you prefer a more verbose approach to the structure of your code.  I do not envision any reason why the next version of C# of VB would change this.  It's really one of the few reasons you would pick one of these languages over the other.

[2016-09-07 02:15] CyrusNajmabadi commented on #13527
doesn't KeywordCompletionProvider already use a SyntaxContext?

[2016-09-07 02:18] CyrusNajmabadi commented on #13646
THey're almost certainly not right.  I welcome anyone providing a common set of helpers that we can use everywhere.  Note that an important part of this is that this code work across symbols in both VB and C#.  I have no idea what the logic is for type forwarding.  But if anyone does, feel free to submit a fix for this issue.

[2016-09-07 02:19] CyrusNajmabadi commented on #13646
Why do we have multiple different comparers?

[2016-09-07 03:04] tmat commented on #13650
It is intentional that CompilationOptions are not settable. Only a small subset of them is applicable to scripts. We might consider adding AllowUnsafe, CheckOverflow and OptimizationLevel to ScriptOptions and passing them to the CompilationOptions under the hood. Other than these 3 settings I don't quite see why should we expose other options.  Not sure why you'd want to change the defaults.

[2016-09-07 03:21] chrisaut commented on #13336
@TyOverby sorry for the late reply. The first thing I have to say is that it's really awesome to see this getting going.

That being said, I tried running the tests myself, but I'm running into issues.

The readme says:
[code]

Here's step by step what I did:
checkout roslyn repo
Restore.cmd
msbuild /v:m /m Roslyn.sln

Then I tried going to C:\src\roslyn\src\Test\Perf\tests\helloworld and do csi h

[2016-09-07 03:39] tenor commented on #13650
I'd like to set `concurrentbuild=false` and `allowUnsafe=false`. The former should result in faster compilation times in a multi-user environment (although I haven't ran benchmarks), and the latter prevents compilation of unsafe code (and is false by default in the regular compiler).

There are some other options which I don't need but seem useful to specify:

The `assemblyIdentiyComparer` option

[2016-09-07 03:45] tmat commented on #13650
We don't support saving scripts to disk thru scripting APIs. You can, of course, create script compilations yourself and then emit to PE files.

[2016-09-07 04:00] tenor commented on #13650
Yes, you're right. Disregard my last list. Is the `DesktopAssemblyIdentityComparer` necessary for script compilation?

[2016-09-07 05:06] agocke commented on #13624
Wait, the original proposal was a readonly field. What's the change now? Do the null check + initialization in a static method?

I'm not sure the benefit is clear-cut here. It may make the calling method more likely to be inlined, but this seems to imply that the initializer method would never be inlined. Why is one better than the other?

[2016-09-07 05:34] agocke commented on #10854
This is obsolete -- we shouldn't need a pump any more.

[2016-09-07 05:46] TobiasBreuer opened #13652 "Warnings on unused fields not triggered when class is abstract"
**Version Used**: VS 2015 Update 3

**Steps to Reproduce**:

When having an `abstract` class containing `private` fields that are never assigned to or never read, the native compiler (VS 2012) used to issue related warnings CS0414 / CS0649. The roslyn compiler in VS 2015 however does only trigger these warnings when the class is not being marked as `abstract`.

For details please see my related [S

[2016-09-07 05:53] agocke commented on #8113
Also an obsolete bug

[2016-09-07 05:53] #8113 closed

[2016-09-07 06:34] mojtabakaviani opened #13653 "Auto type casting in condition experssion assignment and etc."
by default number is integer, so when assignment to smaller types need casting.
for example:

[code]

but 0,1 in byte range, Roslyn is intelligent and can auto casting.

[code]

[2016-09-07 06:36] jmarolf commented on #4059
![image](https://cloud.githubusercontent.com/assets/9797472/18302090/85d1a526-748a-11e6-992b-b2812e7f495d.png)
Still looks bad on 2.0.0.6090909

[2016-09-07 06:46] benaadams commented on #13624
Don't want the initalizer itself to be inlined as it would only ever be called once for the lifetime of the application, so inlining it would just be dead code after that single activation.

[2016-09-07 06:50] paulomorgado commented on #261
Since you brought up VB, @CyrusNajmabadi, the point I'm are making (and, I guess, @stephentoub) is that C# is all about "there is no magic". `async` tells you that "This is not really a method! The compiler will just let you write this as if it were and will do all the tedious work for you.". The same for iterators, except that you need to read the code to find out that it's an iterator.

[2016-09-07 07:09] alrz commented on #5172
Since all of the parameters are optional, calling the `With` method without args behaves like `Clone`,
[code]

PS: This issue is seriously outdated.

[2016-09-07 07:13] jmarolf commented on #8806
We've added the templates that we wanted.  If someone has any other templates they want, feel free to submit a PR.

[2016-09-07 07:13] #8806 closed

[2016-09-07 07:28] jmarolf commented on #10138
Fixed in roslyn build 2.0.0.6090704

[2016-09-07 07:28] #10138 closed

[2016-09-07 07:32] jmarolf commented on #10997
Can't get this to repro on latest build

[2016-09-07 07:32] #10997 closed

[2016-09-07 07:33] jmarolf commented on #11830
telemetry vsix is now gone.

[2016-09-07 07:33] #11830 closed

[2016-09-07 07:39] jmarolf commented on #12758
@Pilchie you won't believe this, but it actually did add the reference! Looks like this is a case of the Microsoft.VisualStudio.QualityTools.UnitTestFramework not being installed by default.  I'll make sure that if the test snippets are installed, we also install the unit test framework.

[2016-09-07 07:50] heejaechang commented on #4059
this seems not our bug but something we need to ask editor team to make the differ better?

[2016-09-07 07:52] jmarolf commented on #13425
fixed in 2.0.0.6090704
![intellisense_fix](https://cloud.githubusercontent.com/assets/9797472/18304104/5a57c262-7495-11e6-99f1-c76737f5a28b.gif)

[2016-09-07 07:52] #13425 closed

[2016-09-07 07:53] heejaechang commented on #4059
"I believe the red ( in fix preview popup indicates that the character is about to be removed when applying this fix, which is not the case."

I am not sure whether I agree with it. what it tells is ( will be changed to ([NotNull] and I dont see any problem on that.

[2016-09-07 08:03] gulbanana opened #13654 "Comparing a value type to null discards the branch with no warning"
**Version Used**:
csc.exe 1.3.1.60616

**Steps to Reproduce**:
1. clone https://github.com/gulbanana/repro-csc-timespanequals
2. build and run

**Expected Behavior**:
The check in DidIGetTheTime is intended to throw an exception if the optional TimeSpan argument was not passed. However, null was accidentally used instead of default(T); if this check can't ever pass, I expect a compiler error.

**A

[2016-09-07 08:19] benaadams commented on #13654
This is often used as an optimisation in generics that accepts both classes and structs

[2016-09-07 08:29] SherifRefaat opened #13655 "'is' and 'as' operators can guarantee each other's result"
Can you confirm that if a statement that use `is` and returns `true`, substituting the '`is`' operator with '`as`' operator will result in not null result in all circumstances.

**Example:**
[code]

so if '`result`' variable is '`true`' it will guarantee that '`result2`' will always be not null in all cases?

[2016-09-07 08:38] fuszenecker commented on #13655
Hi,

An is expression evaluates to true if the provided expression is non-null, and the provided object can be cast to the provided type without causing an exception to be thrown.

See also: https://msdn.microsoft.com/en-us/library/scekt9xw.aspx

[2016-09-07 08:52] msedi commented on #7082
@jmarolf I have installed Windows 7/x64. Attached are two screenshots of my running processes
![taskmanager1](https://cloud.githubusercontent.com/assets/8020659/18305707/16b6a5ce-74e9-11e6-812e-2d041d5bfa1c.png)
![taskmanager2](https://cloud.githubusercontent.com/assets/8020659/18305706/16b63bc0-74e9-11e6-8f9b-64f8aa642362.png)

[2016-09-07 09:12] dodyg commented on #13655
[code]

Will `x` guaranteed to be a valid casting and not return null in above case?

[2016-09-07 09:39] 0xd4d commented on #13654
[code]

The trick is to enable `strict` mode. Add it to your csproj file:

[code]

[2016-09-07 09:40] 0xd4d commented on #13655
Yes, `is` and `as` use the same IL instruction, `isinst`.

[2016-09-07 09:44] orthoxerox commented on #13655
Yes, and that's why we're getting the new `value is Type variableofType` construct in C#7.

[2016-09-07 09:54] #13655 closed

[2016-09-07 11:08] stephentoub commented on #261
Yes.  For example, take this code:
[code]
Just from reading the beginning of the method, I can't tell you whether passing in null will end up throwing an exception or not, which is very counterintuitive given that in any other unannotated method, I could definitively tell you that.  If it were instead:
[code]
I can see just from the signature that there's something special here and that the normal

[2016-09-07 11:13] svick commented on #13624
@agocke Maybe it will be clearer in IL. Currently this C# code:

[code]

Produces this IL (LINQPad IL syntax):

[code]

With this change (in the latest form), it would produce (except that `InitalizeNullRequestFeature` would be an unspeakable name):

[code]

In other words, the 5 instructions from `IL_0009` to `IL_001A` are extracted to a separate, non-inlineable method.

The benefit is that `get_

[2016-09-07 12:26] benaadams commented on #13624
`readonly static` drops it to just
[code]
But you pay the initalization cost of every lambda in the class when you access one.

[2016-09-07 12:28] gulbanana commented on #13654
Thank you, I'll add that flag. I could've sworn that an earlier c# version successfully warned about this using the default settings...

[2016-09-07 12:28] #13654 closed

[2016-09-07 12:29] benaadams commented on #13624
@svick's approach should work for everything without additional cost (so automatic approach); then the `readonly static` could still be manually added for the second behaviour.

[2016-09-07 12:29] gulbanana commented on #13654
@benaadams, the difference in this case is that it's statically known to be a value type and hence always false.

[2016-09-07 12:37] xaqi opened #13656 "Please support 'var' as function return type instead of return a dynamic"
Anonymous class is convenient, especially for linq. But it's not convenient to return an anonymous class in function. So I have to define a returned type class (boring) or use dynamic (lose VS autocomplete and compile checking).
Why not support 'var' instead of 'dynamic'? VS is able to recognize what the var is by return value, thus the Foo function returns a strongly-typed value, much better than

[2016-09-07 12:56] dsaf commented on #13656
https://github.com/dotnet/roslyn/issues/8404#issuecomment-180173335

[2016-09-07 13:17] dsaf commented on #13653
Related to #1419

[2016-09-07 13:23] alrz commented on #261
I'm curious, why is it important?

As for supporting observables I've suggested #8014 which can effectively produce an IObservable in an iterator method, but also useful to consume other kinds of collections.

[2016-09-07 13:42] svick commented on #13656
The new tuples feature (https://github.com/dotnet/roslyn/issues/347) planned for C# 7.0 aims to improve this. With it, you will be able to write:

[code]

It doesn't work in your exact case, because single-value tuples are not supported.

[2016-09-07 13:55] dsaf commented on #13656
@svick I can't help but think of this:

[code]

The only solution is better method names I guess.

[2016-09-07 13:57] stephentoub commented on #261
Because, at least in the code bases I work in most of the time, one is a bug, the other isn't.  There's also a performance impact to iterators.  As someone who reviews a ton of code, the more obvious such cases, the more likely it is that I'll notice bugs (behavioral or performance) before they ever get checked in.  And as someone writing code, having to explicitly mark the method in order to enab

[2016-09-07 13:57] AndyQi commented on #13656
The tuple is cool. But still need to define the item type and it can't work with complex type such as return new{a=new{b=1}}.

[2016-09-07 14:01] svick commented on #13656
@dsaf You can do it the other way around:

[code]

[2016-09-07 14:02] HaloFour commented on #261
I kinda of agree.  It's a bit too late to fix it with iterators (although maybe a last-minute change to local function iterators?)  However I'd probably be satisfied if VS were to show iterators differently, and if an `iterator` keyword were to be added to the language support a code style that would error if it was omitted.

[2016-09-07 14:06] ufcpp commented on #13656
@AndyQi Tuple can work with complex type such as `(a : (b: 1))`.

[2016-09-07 14:09] dsaf commented on #13656
@svick true, though it puts property name far from values. Though would be kind of consistent with #35.

[2016-09-07 14:13] alrz commented on #261
As I said in my edit, I think an analyzer suffices (you could even forbid it altogether!). Unless there is an actual ambiguity that the keyword could resolve, I don't really think that it would worth to introduce a keyword that was not required up untill now.

[2016-09-07 14:14] terrajobst commented on #13529
@mairaw the feature in our infrastructure to redirect XML IntelliSense files to another location using the `redirect` attribute.

[2016-09-07 14:40] AndyQi commented on #13656
Thanks @ufcpp, resolved my problem, but return a anonymous class looks more convenient.
@dsaf haha, I'm not asking for 3), I want it now but I know you guys need time to develop and test.

[2016-09-07 14:55] stephentoub commented on #261
We will need to agree to disagree.

[2016-09-07 15:06] ljw1004 commented on #10902
Now that the final PR has been merged, I think it's time to close this thread.
https://github.com/dotnet/roslyn/pull/13405#event-779778762

Thanks everyone for your help -- it's been a fun ride!

[2016-09-07 15:06] #10902 closed

[2016-09-07 15:13] shaggygi opened #13657 "Get Error CS0220 in C# Interactive when multiplying"
**Version Used**:
VS 2015 Update 3

**Steps to Reproduce**:
1. Open C# Interactive
2. Enter 60466176 * 36

**Expected Behavior**:
Should return: 2176782336

It appears you can assign the value like this: uint value = 2176782336;

**Actual Behavior**:
I get the following response: (1,1): error CS0220: The operation overflows at compile time in checked mode.

[2016-09-07 15:55] svick commented on #13657
Why do you think this is a bug? For example, the code `uint value = 60466176 * 36;` fails with the same error in normal C#. So why should it work in C# interactive?

[2016-09-07 16:00] AdamSpeight2008 commented on #13657
`Integer.Max = 2147483647` which is greater than the expected `2176782336`. So should not produce the error, even if the literals where unsigned integers.

[2016-09-07 16:03] shaggygi commented on #13657
@svick  Oops.  You are correct.  I was not casting correctly.

60466176 * 36
(1,1): error CS0220: The operation overflows at compile time in checked mode

(uint)60466176 * 36
2176782336

uint value = (uint)(60466176 * 36);
(1,21): error CS0220: The operation overflows at compile time in checked mode

 uint value = ((uint)60466176 * 36);

2176782336

[2016-09-07 16:06] #13657 closed

[2016-09-07 16:43] kuhlenh commented on #13439
![image](https://cloud.githubusercontent.com/assets/1402694/18320577/57e1d744-74df-11e6-8706-c3b90fd3f2e5.png)

@dpoeschl and I were thinking something like this. We didn't want to use the Suppress menu because we figured it would get too long. Happy to hear other suggestions here though!

[2016-09-07 16:48] gafter commented on #9099
Moving to RC as throw expressions will not be in preview 5.

[2016-09-07 16:49] agocke commented on #13624
@svick Thanks for condensing into a single post, I understand your proposal now -- I didn't previously get that you wanted to keep the null check inside the retrieval method.

@benaadams I think your proposal requires more work. Paying an allocation for a type load is probably unacceptable -- the behavior is just too surprising for most consumers. However, it may be possible to get the same lazy b

[2016-09-07 16:54] TyOverby commented on #13336
Hey @chrisaut, sorry you ran into so many issues here, we're definitely working on addressing many of these pain points.

Right now for the reporting, the runner requires git on the path to extract commit information.  This requirement will be moved out of the runner and into a separate reporting tool at a later date.

Interesting.  This shouldn't happen, but we don't have any correctness tests fo

[2016-09-07 16:58] lambdakris commented on #261
While I don't like verbosity, I have to admit that the iterator keyword would be a responsible addition which would make code a bit safer, like in strongly typed FP langs. Speaking of strongly typed FP langs, another stream library that might make a good reference is https://github.com/nessos/Streams.

[2016-09-07 17:03] agocke commented on #13656
Re additional type inference, see my comment here: https://github.com/dotnet/roslyn/issues/17#issuecomment-70357220

[2016-09-07 17:16] jasonmalinowski commented on #10854
@agocke We still have the pump for integration testing. What's the plan for that?

[2016-09-07 17:16] jcouv commented on #10997
I have not encountered this for a while either. Thanks

[2016-09-07 17:17] dpoeschl opened #13658 "[Test] Integration test failure due to focus being stolen by new(?) popup"
http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p2_open_prtest/483/artifact/Open/Binaries/Release/Screenshots/2016-09-06_23-45-50_30%20-%20Exception%20System.Reflection.TargetInvocationException.png

[2016-09-07 17:18] #13528 closed

[2016-09-07 17:18] dpoeschl commented on #13658
/cc: @agocke

[2016-09-07 17:22] AlekseyTs commented on #13460
This issue has been addressed

[2016-09-07 17:23] agocke commented on #10854
@jasonmalinowski Ah I forgot about that.

[2016-09-07 17:26] AlekseyTs commented on #12597
I believe this issue has been addressed.

[2016-09-07 17:26] #12597 closed

[2016-09-07 17:27] dpoeschl opened #13659 "[Test] Many test failures due to "Error List Package did not load""
An example screenshot: Error List Package did not load: http://dotnet-ci.cloudapp.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p1_open_prtest/461/artifact/Open/Binaries/Release/Screenshots/2016-09-07_00-05-55_82%20-%20Modal%20Dialog.png

[2016-09-07 17:28] dpoeschl commented on #13659
Not sure if flaky yet. Re-running...

[2016-09-07 17:30] bbarry commented on #261
Should the possibility of reserving `async`  in arbitrary tasklike methods be considered as a separate issue item for potential inclusion in the same release as #10902 in the event that this slips?

[2016-09-07 17:31] dpoeschl commented on #13659
/cc: @agocke This seems very unrelated to my changes.

[2016-09-07 17:33] AlekseyTs opened #13660 "Scope_DeclaratorArguments_* tests for Out Variables should be cloned for Pattern Variables."

[2016-09-07 17:34] gafter commented on #13649
The behavior is per spec, though not particularly helpful in this case. The program does not have any errors, but cannot be compiled without the required reference. That makes the error an "emit-only" build error (i.e. not an intellisense error).

[2016-09-07 17:36] gafter commented on #13653
If I understand this request, you are asking for "target typing" to see through "?:" expressions.

[2016-09-07 17:41] cston opened #13661 "Assert failure in TupleVirtualElementFieldSymbol..ctor"
Compiling the following results in an assert failure in `TupleVirtualElementFieldSymbol..ctor`: `Debug.Assert(name != null)`.
[code]

[2016-09-07 17:45] #13159 closed

[2016-09-07 17:51] Pilchie commented on #9711
I'm still hitting this on the 0903 build, even though the PR was merged :(

[2016-09-07 17:58] jcouv opened #13662 "VB tuples: support partially named tuple elements"
Note: the tuple element indices should be updated to match C#

[2016-09-07 18:07] #12714 closed

[2016-09-07 18:08] jmarolf commented on #7082
@msedi

This does not appear to be happening in your screen shots.  Please file a new bug if you find out that devenv.exe is taking up all of your system memory.

[2016-09-07 18:12] swn1 opened #13663 "Scriptcs ambient dynamic bound to COM object by host throws RuntimeBinderException"
**Version Used**: Microsoft.Net.Compilers nuget pkg 1.3.2 with ScriptCS 0.16.1.

Custom ScriptHost exposing a member of type dynamic, bound to a COM object interface exposing an automation string property "Name".

**Expected Behavior**: A script
if (Host != null) Console.WriteLine(Host.Name);

prints the name as expected.

**Actual Behavior**: A script
Console.WriteLine(Host.Name);

throws a Runti

[2016-09-07 18:15] DovydasNavickas opened #13664 "Duplicate enum key values do not emit neither error, nor warning"
**Version Used**:
One with .NET CLI 1.0.0-preview2-003121

**Steps to Reproduce**:
1. Create enum
2. Define two keys with duplicate values

**Expected Behavior**:
At least a warning that two enum keys have the same value.

**Actual Behavior**:
No error, no warning :cry:

[2016-09-07 18:23] mairaw commented on #13529
I know very little about that. Not sure if @rpetrusha has more details.

[2016-09-07 18:36] svick commented on #13664
Sometimes, `enum`s intentionally have more than one field with the same value. For example, [out of the ~200 public `enum`s in mscorlib, 13 have values with multiple names](http://ideone.com/d0GKxz).

So this definitely shouldn't be an error, and even a warning is questionable.

[2016-09-07 18:38] DovydasNavickas commented on #13664
Ok, I didn't think about this case. I'm closing the issue as it seems reasonable now. Thanks, for explanation @svick!

[2016-09-07 18:38] #13664 closed

[2016-09-07 18:43] ljw1004 commented on #261
@bbarry I'm no longer concerned about reserving `async`. Mads suggested that it can follow exactly the same kind of rules as `nameof` -- i.e. look it up, and bind to a symbol if there's one defined with that name, otherwise treat it as the contextual keyword. ("It's a keyword only in async method/lambda places where it's not already an identifier").

[2016-09-07 18:50] swn1 commented on #13663
The conditional can be just if (true) ... and it still works.  It's syntax that makes the difference.

[2016-09-07 18:51] #9710 closed

[2016-09-07 18:51] #9711 closed

[2016-09-07 18:53] VSadov commented on #13428
This is ByDesign. Those trivial conversion objects are structs with trivial construction logic (just storing ConversionKind).
The caches were likely created when conversions were classes to reduce allocations. There is no much point to cache struct instances though.

[2016-09-07 18:53] #13428 closed

[2016-09-07 18:59] gafter opened #13667 "Untested code in parsing tuples."
The following code appears in `LanguageParser.cs`:

[code]

but the condition `result.ContainsDiagnostics` doesn't make a difference in any compiler tests. It should probably be removed or tested.

(Note that `ContainsDiagnostics` does not test for errors in the node, or even errors anywhere beneath the node)

[2016-09-07 19:16] CyrusNajmabadi commented on #261
Now that we have analyzers, i definitely lean toward the idea that the language should decide on a good, consistent, default.  People with specialized needs can write analyzers to help call out the issue.

For example, for @stephentoub's case, i would write an analyzer that would warn me if i had argument checking at the start of a method that then contained yields within it.  I might even go furt

[2016-09-07 19:18] agocke commented on #12347
All items are completed.

[2016-09-07 19:20] jaredpar commented on #12347
Where is the VB bug?  This is only complete for C# at the moment.

[2016-09-07 19:22] #13625 closed

[2016-09-07 19:50] rpetrusha commented on #13529
@mairaw @terrajobst I think I know even less about it.

[2016-09-07 20:19] terrajobst commented on #13529
Thanks @mairaw and @rpetrusha. I think that means @tmat and @jasonmalinowski will have to save the day then ;-)

[2016-09-07 20:34] PhatWrat commented on #12607
Same issue.
Microsoft Visual Studio Professional 2015 Version 14.0.25425.01 Update 3
Microsoft .NET Framework Version 4.6.01055

Note that VS is NOT showing "Miscellaneous Files" as noted on linked diagnostics page, but IS issuing IDE0006.  Also, there are no errors or warnings in the log file that is generated (attached)

[InStock.MasterDataInterface_Compile_c379eb77.designtime.zip](https://githu

[2016-09-07 20:56] #11487 closed

[2016-09-07 21:02] dpoeschl commented on #9712
We recently set all built-in IDE analyzers to not run on closed files. Let's use this issue to track adding the ability to re-enable running on closed files for built-in analyzers.

[2016-09-07 21:04] dpoeschl commented on #9712
@mavasani @heejaechang @pilchie, FYI about the new title & shared area path (until we have a design and know what we're doing for this)

[2016-09-07 21:16] jaredpar commented on #13667
Test.  Please ignore.

[2016-09-07 21:16] jaredpar commented on #13667
Test. Please ignore.

[2016-09-07 21:17] jaredpar commented on #13667
Test. please ignore.

[2016-09-07 21:49] jaredpar commented on #13667
Test. please ignore.

[2016-09-07 21:50] jaredpar commented on #13667
Test. please ignore.

[2016-09-07 21:53] jaredpar commented on #13667
Test. please ignore.

[2016-09-07 21:54] jaredpar commented on #13667
Test. please ignore.

[2016-09-07 22:41] jcouv commented on #13302
Fixed with #13666

[2016-09-07 22:41] #13302 closed

[2016-09-07 22:58] lorcanmooney commented on #11489
I've submitted #13671 with the changes for this. Please try it out at your leisure and let me know if any changes are needed.

[2016-09-07 23:17] jaredpar commented on #13667
test. please ignore.

[2016-09-07 23:17] jaredpar commented on #13667
test. please ignoreu.

[2016-09-07 23:34] jaredpar commented on #13667
test. please ignore.

[2016-09-08 00:02] dpoeschl opened #13673 "Code Styles: Should we change the "Suggestion" glyph in the Severity pickers to not confuse Info/Suggestion"
![image](https://cloud.githubusercontent.com/assets/235241/18332610/e757bcbc-751c-11e6-9a9e-67022eb51fe4.png)

Note how it says "Suggestion" but shows the recognizable "Info" glyph. Or are we purposely trying to tie those brands of things together? We're stuck with them being called "Infos" in the Error List, so maybe it's okay to mix the concepts here? It feels wrong, though...

[2016-09-08 00:02] dpoeschl commented on #13673
@Pilchie @kuhlenh @DustinCampbell

[2016-09-08 01:55] chrisaut commented on #13336
Just as a follow up, I changed Perf.Runner to catch if the git thing fails.

It then runs.

[code]

Couple of things:
1) what is it downloading? I think this is the test defined in csharp_compiler.csx. Am I right to assume this is testing compilation of a point in time snapshot of the csharp compiler itself?
Also the downloaded zip is 10mb, 3 of which are from Microsoft.CodeAnalysis.CSharp.pdb (12

[2016-09-08 02:00] eyalsk commented on #13656
Maybe related to #5161.

[2016-09-08 02:23] #13496 closed

[2016-09-08 08:45] ashmind commented on #13628
I think it's worth having, and in fact I did a prototype in the thread linked above (which is https://is.gd/BOcmcy at TryRoslyn). It does not include `||=` and `&&=`, but a full implementation should consider those as they play a similar role.

The implementation isn't too hard, aside from questions in IDE support where I didn't fully understand the implications. It's a conversion -- prototype doe

[2016-09-08 09:00] ashmind commented on #13572
@mattwar Thanks for the detailed reply. I've given it a bit more thought, and while I'm not a fan of this model, I do understand your reasoning and benefits of a consistent approach. And I decided I'll need some services above `Recommender` anyway and so `Workspace` is unavoidable.

Thanks again — I'll close this now.

[2016-09-08 09:00] #13572 closed

[2016-09-08 13:02] alrz commented on #13628
@ashmind I think in the expression context `x ??= y` should be translated to `(x ?? (x = y))` and in the statement context it'll be `if((object)x==null) x = y;`.

[2016-09-08 13:21] alrz commented on #9453
I still think that `break`, `return` and `continue` should also be permitted as an expression,
[code]
Otherwise, it hampers usefulness of the `match` expression.

[2016-09-08 13:28] DustinCampbell commented on #13673
We should have a new icon. What is the going into the Error List?

[2016-09-08 13:47] #13515 closed

[2016-09-08 14:32] stephentoub commented on #261
Changing topics to another part of the proposal...

The main approach we've all been assuming for the interface is:
[code]
With that, a loop like:
[code]
would compile down to something like:
[code]
I think we should consider (at least discuss) an alternative.

The existing ```IEnumerator<T>``` has a well-known design concern: it requires two interface calls per element, one for MoveNext and one f

[2016-09-08 15:06] jaredpar commented on #11272
@agocke committed this a few weeks ago.  Resolving.

[2016-09-08 15:06] #11272 closed

[2016-09-08 15:17] gafter commented on #13460
As noted in #13660, tests are missing for this bug fix.

[2016-09-08 15:20] gafter commented on #13660
Also #13459, which was more specifically about the tests.

[2016-09-08 15:34] mojtabakaviani commented on #13653
Yes,  "?:" expressions is very good example.

[2016-09-08 15:37] gafter commented on #9453
The LDM discussed this (initiated with the enclosed emails), and concluded

-----------------
From: Neal Gafter
Sent: Wednesday, September 7, 2016 1:57 PM
To: C# Language Design Team
Cc: Neal Gafter
Subject: e && throw

Back in March the LDM reviewed the specification of the throw expression

https://github.com/dotnet/roslyn/blob/features/throwexpr/docs/features/throwexpr.md

and, for consistency,

[2016-09-08 15:37] #9453 closed

[2016-09-08 15:42] gafter commented on #10492
The "compatibility council" has been discussing this, triggered by the following email. So far the consensus seems to be that we're OK making the change, which is technically a breaking change to the language.

-------------------------
From: Neal Gafter
Sent: Wednesday, September 7, 2016 4:49 PM
To: Roslyn Compatibility Council @dotnet/roslyn-compat-council
Cc: C# Language Design Team
Subject: Pr

[2016-09-08 15:54] #13078 closed

[2016-09-08 15:54] bbarry commented on #261
how about:
[code]

method is `async IAsyncEnumerable<Foo> Method() { ... }`
...

then via generators functionality it would be possible to do something like:

[code]

where `ValueAsyncEnumerable<T, Ttor>` implements the pattern `IAsyncEnumerable<T>`

and the generator can provide the implementation and voila: zero allocation `IAsyncEnumerable`:

[code]

[2016-09-08 15:55] gafter commented on #13078
@AndyGerlicher Please stop changing labels on our bugs.

[2016-09-08 15:56] gafter commented on #13625
@AndyGerlicher Please stop editing our github issues.

[2016-09-08 16:00] gafter commented on #6967
I suspect a different version of Roslyn is being used for the two scenarios: the one built in to the VS you are using, and the one you built a unit test against.

[2016-09-08 16:07] alrz commented on #261
@bbarry

Except that the implementation can not be `async`,

I'm skewed towards `Task<(bool, T)> TryGetNext()`. It's an `await`  but a single call per element in all cases vs. two interface call per element in the worst case and no `await` in other cases. Absence of `WaitForNextAsync` would also simplify the implementation but I'm not sure if that is a concern.

[2016-09-08 16:09] stephentoub commented on #261
That's very expensive: we can cache a Task<bool> for true and for false, but we can't cache Tasks for any possible (bool, T).  The end result would be an allocation on every TryGetNext call, even the ones that complete synchronously.

[2016-09-08 16:33] alrz commented on #261
@stephentoub Right, that is definitely a concern. However, it can be declared covariant over `T` on master unless I'm missing something.
[code]
While `out` parameters types are not allowed to be covariant because they are represented as `ref` in CLR.

F# uses `option` for this ([source](https://github.com/fsprojects/FSharp.Control.AsyncSeq/blob/master/src/FSharp.Control.AsyncSeq/AsyncSeq.fs#L19-L2

[2016-09-08 16:38] aelij commented on #261
What about `ValueTask<(bool, T)> TryGetNext()`? Should benchmark this against the version with two virtual calls.

I think using two while loops complicates things a bit, both for the iterator implementation and the consumer.

[2016-09-08 17:00] GSPP commented on #261
Is it even clear that per-item overhead matters so much for the async case? Async usually is being used for IO heavy code. It tends to be not particularly chatty.

So if I run an async stream over 100 URLs to download the per-item overhead is unmeasurable for all of the solutions that were discussed here.

The only chatty use case I can think of is async ADO.NET using data readers where each field

[2016-09-08 17:08] ljw1004 commented on #114
Yes happy to champion it!

[2016-09-08 17:09] TyOverby commented on #13336
You are correct in that it's downloading a snapshot of the compiler.

@VSadov: can you comment on this?

Yep, CPC.exe is the ETW trace capture tool that we use.  It *could* be downloaded but right now it needs to live in C:/CPC until I can get some patches into CPC.

For other operating systems, we will have to use other tools.  Apparently there is work being done getting on the coreclr side for c

[2016-09-08 17:14] bbarry commented on #261
@GSPP long stretches of code running without any allocations in the heap means you could do things like run in environments with an altered GC designed under that constraint (or potentially no GC at all, allocate a block at the start of a run where all "allocations" inside that call stack are made).

It isn't necessarily about the performance of some specific bit of code, but about what environmen

[2016-09-08 17:25] swn1 commented on #13663
The analysis about conditional versus expression statement context seems to be a canard.  I've experimented further and it now seems to be pretty clearly a bug.  Inserting unrelated statements around the failing line results in scripts that either always work or always fail, depending in seemingly random ways on what those statements are.  It remains possible I'm wrong but this seems very much lik

[2016-09-08 17:34] bbarry commented on #261
@arlz why would the implementation of `Task<bool> WaitForNextAsync<T>(ref T enumerator)` need to be async?

The general population of users writing `async IAsyncEnumerable<T>` methods would not need to care and the rare people implementing the pattern would likely simply do something with the value and then perhaps call an internal async method. For example a BufferedNetworkStream might be impleme

[2016-09-08 17:37] AlekseyTs commented on #13569
This bug represents all SemanticModel APIs, including the one discussed #13417.

[2016-09-08 17:38] jasonmalinowski commented on #13626
This broke another build: https://devdiv.visualstudio.com/DevDiv/_build/explorer?_a=summary&buildId=321217&tab=ms.vss-test-web.test-result-details

[2016-09-08 17:39] jasonmalinowski commented on #13626
@jaredpar can we get this bug triaged out?

[2016-09-08 17:44] AlekseyTs commented on #13417
This issue is a special case of #13569, which is not specific to Pattern variables. I am closing this issue in favor of #13569.

[2016-09-08 17:44] #13417 closed

[2016-09-08 17:58] #13148 closed

[2016-09-08 17:59] gafter commented on #13148
@AndyGerlicher Please stop

[2016-09-08 18:11] jasonmalinowski opened #13679 "The Visual Studio workspace should consume the new file watching APIs"
A new file watching API was introduced into Visual Studio to let us watch a single directory, and consume those notifications on a background thread. This can prevent us from needing to subscribe to each file separately which should significantly help solution load.

[2016-09-08 18:24] jaredpar commented on #13626
@TyOverby please take a look at this.

[2016-09-08 18:24] jasonmalinowski commented on #13646
@CyrusNajmabadi: I _suspect_ the answer is history. Originally, we had the regular and assembly-ignoring comparer. It's quite possible that the assembly-ignoring comparer existed primarily in places where we should have been looking at type forwarding, but we might have not had the requisite compiler APIs at the point to actually implement it. Then when the bug was fixed for Find References not de

[2016-09-08 18:59] iamcarbon opened #13680 "[Proposal] Type aliases"
This proposal aims to eliminate unnecessary calling costs (boxing, garbage, and vtable lookups) introduced by interfaces and abstract classes by promoting the use of value tuples in methods.

To create syntax parity with interfaces, this proposal calls for the ability name a tuple using a type alias.

### Type aliases

A type aliases allows you name a structure.

example:
[code]

-----

in use:

[

[2016-09-08 19:16] CyrusNajmabadi commented on #13646
That's certainly something we could consider doing.  There are likely two major places where we do equality checks:

1. When we're doing the inheritance walking to see what types to cascade to.  This is tricky as we look at metadata with the assumption that the metadata will mean the same thing regardless of what project it is in.  To do things correctly, we may have to look at the same metadata i

[2016-09-08 19:20] jasonmalinowski commented on #13646
@CyrusNajmabadi The assumption you're mentioning in 1 was weakened with the type forwarding work. It's already completely "normal" to have a type from metadata be in two different assemblies (say mscorlib and System.Runtime) and those are still the same because in some cases there's a façade between them.

[2016-09-08 19:25] srivatsn opened #13681 "VB Compiler outputs to a different binary than the one passed through outputpath in certain cases."
**Version Used**:

**Steps to Reproduce**:
1. Invoke vbc with `vbc foo.vb /t:exe /o:foo.dll`

**Expected Behavior**: Since the output path is specified as foo.dll, the expectation is that there's a foo.dll on disk.

**Actual Behavior**: It outputs a foo.dll.exe because the target is a exe.

.NET Core executables are output as dlls by default because they are run by a different host. Supporting tha

[2016-09-08 19:29] jasonmalinowski commented on #13243
Well, we dispose TestWorkspaces, so at that point the metadata is going to be disposed. What is running beyond the lifetime there? That other link is also gone, do we at least know the _full_ stack of the failure?

[2016-09-08 19:44] Pilchie opened #13682 "Completion should not target type after cast"
In

[code]

We target type and preselect `solution5` after the cast.

[2016-09-08 19:50] gafter commented on #12007
Moving to a bug report against the module list in Visual Studio. For Microsoft employees, you can see the bug at https://devdiv.visualstudio.com/DevDiv/_workitems?id=261802&_a=edit

[2016-09-08 19:50] #12007 closed

[2016-09-08 20:00] gafter opened #13683 "Restore optimization in binary operator overload resolution."
In #13648 we reverted an optimization because it was shown to be incorrect. However, we believe that minor changes can make the optimization correct. See also https://github.com/dotnet/roslyn/pull/13648#issuecomment-245664465

Discuss.

[2016-09-08 20:04] tmat opened #13684 "Remove Interactive Window impl from Roslyn"
Roslyn Willow VSIXes needs to take a dependency on VSIX built from dotnet/interactive-window repo and the one built from Roslyn should be removed.

[2016-09-08 20:06] tmat commented on #13684
Work in progress PRs:
https://github.com/dotnet/roslyn/pull/13674
https://github.com/dotnet/roslyn/pull/13143

[2016-09-08 20:11] gafter opened #13685 "Overload resolution uses quadratic algorithm to find the best candidate."
Overload resolution (unary operators, binary operators, and methods) uses a quadratic algorithm to select the best candidate, because it compares every candidate to every other candidate.

There is a simple linear algorithm that gives the same result: scan once to find a possibly best method, and then scan a second time to ensure that it is better than every other candidate.

[2016-09-08 20:21] iamcarbon commented on #13680
Example:

[code]

[2016-09-08 20:28] gafter opened #13686 "Compiler won't lift asymmetric operator == and !="
I found the following comment in the C# compiler...

[code]

this is confirmed by the fact that the following is rejected

[code]

The question is: should we
1. fix the spec or
2. fix the compiler, or
3. document the variance from the spec?

[2016-09-08 20:33] AdamSpeight2008 commented on #13686
Why does it requires the types to match?

[2016-09-08 21:09] AdamSpeight2008 commented on #13686
I've looked at the VB.net implementation, and it seems (to me) that it can have different types.
[Try Roslyn link](http://tryroslyn.azurewebsites.net/#b:master/f:vb>vb/JYWwDg9gTgLgzgAgMoE84wKYgFCkrRVdLAOgGEIAbSjAYxmAgDs4SBxDJjKYW3caPGRpMIEgBlgTAI7ZstSgEM4iAApQIAcyiKc2BAYRgArgCNKvBHAAWiqBgAmVswgCyiqQAo7GTYmVWMDxMmp4AlGH6htEOoAgAZhAQCAEAYkkA/AgAvAhMEDDWUppR0QaxIAimdimIAEJ2WbkAcgVFIaVlwPEInonJudVQYQg

[2016-09-08 21:18] jcouv opened #13689 "Proposal: Deconstruct could output using a single out tuple type"
This issue is tracking Mads' proposal, which is still being discussed.

Instead of having multiple out parameters, such as `void Deconstruct(out int x, out string y)`, you'd have to write `void Deconstruct(out (int, string) x)`.
From the LDM discussion so far, both of those approaches are as good as far as allowing extension methods and allowing multiple overloads.
The main differences seem to be

[2016-09-08 21:31] swn1 commented on #13663
Repro case, using a .NET object ... so COM is not fundamental to the issue.  https://github.com/scriptcs-contrib/scriptcs-ambient/tree/issue13663

[2016-09-08 21:53] gafter opened #13691 "expression-bodied ctor fails to generate call to base()"
The following test fails on the `features/exprbody` branch:

[code]

with

[code]

[2016-09-08 22:00] gafter opened #13692 "expression-bodied dtor fails to generate call to ~base()"
The following test fails on the `features/exprbody` branch:

[code]

with

[code]

[2016-09-08 22:16] gafter commented on #13692
This failure occurs even when the base call is explicit:

[code]

[2016-09-08 22:34] gafter commented on #13692
@lachbaer Can you work on fixing these issues? I'll check in the tests shortly.

[2016-09-08 22:34] gafter commented on #13691
@lachbaer Can you work on fixing these issues? I'll check in the tests shortly.

[2016-09-08 22:46] gafter commented on #13686
@AdamSpeight2008 It does allow different types, it just doesn't provide *lifted* versions of the user-defined operators when the types don't match. Since `Nullable<T>` applies to struct types and not class types, lifted forms would not make sense for classes.

The behavior of VB has little or nothing to do with this issue.

[2016-09-08 22:51] AdamSpeight2008 commented on #13686
@gafter I'm saying that VB does allow lifted versions of user-defined operators on structs, yet C# doesn't.
Why?

[2016-09-08 22:56] VSadov commented on #12962
fixed by https://github.com/dotnet/roslyn/pull/13669

[2016-09-08 22:56] #12962 closed

[2016-09-08 23:07] AdamSpeight2008 commented on #13686
@gafter  Is the comment
[code]
Actually relate the version of C# the came with dev 11 (C#5) and not Visual Studio? If so is does need to been clarified.

[2016-09-08 23:19] VSadov opened #13696 "IDE crashes when attempting to rename implicitly defined tuple element fields"
default tuple fields such as Item1 or Item10, should be reported as ImplicitlyDeclared when added by compiler.

Tuples of cardinality N will always have element fields Item1 through ItemN

If user does not specify such elements, they are implicitly defined by the compiler. As such they should be  marked as ImplicitlyDeclared. IDE should not try renaming these since there is no source code that pro

[2016-09-08 23:20] VSadov commented on #13696
I have a fix

[2016-09-08 23:25] VSadov commented on #13696
We have a bit of a mess with reporting the locations of implicitly declared tuple fields and with marking them as actually implicitly declared.
It is even worse after we started allowing partially named tuples.

There is also a small problem with IDE not checking whether the fields are actually implicitly declared (it only checks if all locations are in sources which they are in the repro cases).

[2016-09-08 23:27] jasonmalinowski opened #13697 "AdditionalFileItemNames property group breaks CodeModel rename"
**Version Used**: Visual Studio 2015 Update 3

**Steps to Reproduce**:
1. Create a new console application.
2. Add the following into the project file:

[code]
1. Attempt to rename Program.cs to something else. Click "Yes" when asked to rename the type.

**Expected Behavior**: The type gets renamed.

**Actual Behavior**: The type isn't renamed.

[2016-09-08 23:30] VSadov commented on #13696
CC: @jcouv @jaredpar

this should be Preview5 since I am changing this code anyways. That is blocking to support partially named tuples in VB, which in turn we must support because of metadata import from C# and the part that you get partially named tuples in C# all the time very while typing (and that upsets VB if you have mixed solution).

[2016-09-08 23:35] gafter commented on #13686
dev11 is our name for a version of Visual Studio. Since this was reimplemented in Roslyn, it was present in every version of C#.

[2016-09-08 23:37] jaredpar opened #13698 "Change async return builder attribute name"
After some discussion CoreFX decided to change the name of the attribute used to identify the builder for an arbitrary async return to `AsyncMethodBuilderAttribute`.  The compiler needs to adjust to the new name.

[2016-09-08 23:42] gafter commented on #13685
@bbarry Good questions.

The same (as existing) result can be produced with a linear algorithm. Just not the one you provided.

[2016-09-08 23:43] jasonmalinowski commented on #13431
Since @shyamnamboodiripad is out, @natidea let's see if we can start to pick this one up.

[2016-09-08 23:45] AdamSpeight2008 commented on #13686
Ha the spec say nothing about that restriction. Hence the comment.

[2016-09-08 23:46] jasonmalinowski commented on #13645
Moving to interactive as the owners of the code that had warnings while building.

[2016-09-08 23:47] jasonmalinowski commented on #13620
@jaredpar and @Pilchie where did we land on this? I can't remember if the current behavior was intentional or not.

[2016-09-08 23:49] jasonmalinowski commented on #13659
Duplicate of #13032.

[2016-09-08 23:49] #13659 closed

[2016-09-08 23:50] jasonmalinowski commented on #13032
Moving to IDE for further investigation, especially since @heejaechang is mentioning this started behaving differently around the new FAR UI.

[2016-09-08 23:53] jasonmalinowski commented on #12903
How was this breaking restore? If we have to require /nr:false for a normal operation like that, something seems really fishy.

[2016-09-08 23:54] jasonmalinowski commented on #12423
@tannergooding Is there documentation somewhere for how to do that?

[2016-09-08 23:59] AdamSpeight2008 commented on #13282
@Pilchie  We could have additional `DiagnosticSeverity` for the conditional compilations.

[code]

[2016-09-09 00:04] AdamSpeight2008 commented on #12903
@Pilchie
Say if make a change to the code, and run the build command. and it uses an handle. Then causes error windows to be thrown. And abort the test run, there is likely hood that the handles are still be held on to.
So when I correct the problem and the rerun the test, I could get is being used error / warnings.

[2016-09-09 00:17] gafter commented on #13681
I suspect this is by design.

[2016-09-09 02:18] changbowen commented on #9341
@heejaechang I just tried on Microsoft Visual Studio Enterprise 2015 Version 14.0.25425.01 Update 3.
Same code as the screenshot above and it was exactly the same behavior as before. ("Invoke" is underlined instead of "some error").

[2016-09-09 02:59] heejaechang commented on #9341
can you give me repro solution? It tried and it didn’t repro.

-          heejae

From: Carl Chang [mailto:notifications@github.com]
Sent: Thursday, September 8, 2016 7:19 PM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: HeeJae Chang <Heejae.Chang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn] Errors inside VB lambda expression in Visual Studio 2015 not recog

[2016-09-09 03:11] tannergooding commented on #12423
Tagging @mmitche

There is documentation in Jenkins 2.0 if you have the right plugins installed, I'll see if I can pull it up...

[2016-09-09 03:35] mmitche commented on #12423
We have this ability already, though it is disabled (i could change this though).  It was shot down by @jaredpar as some team members use the current behavior to their advantage.

[2016-09-09 04:16] changbowen commented on #9341
@heejaechang
new project -> Visual Basic -> WPF Application, then create a sub in MainWindow.xaml.vb and insert these in the sub:
[code]
"error here" should be underlined (where the actual error is because BeginInit doesnt take any parameters) instead of "Invoke".
Any other errors inside the "invoke" wont get underlined also.

[2016-09-09 04:33] heejaechang commented on #9341
@jaredpar @dotnet/roslyn-compiler it looks like VB is binding Invoke to "Invoke(Func(Of TResult))" when sub() ... contains error. and containing about it couldn't infer what TResult is. which is fine I guess, but problem is it stops there and doesn't show error in Sub() ... itself.

I will give the bug to compiler team.

[2016-09-09 04:36] heejaechang commented on #9341
@changbowen thank you for the repro steps. looks like it didn't repro when I tried since I didn't actually use the Dispatcher but wrote up simple method that accepts delegate without any overloads. it repros with your repro which has multiple overloads for Invoke.

[2016-09-09 04:39] changbowen commented on #9341
@heejaechang Thanks! Happy to help :)

[2016-09-09 08:08] CyrusNajmabadi commented on #13282
This is not necessarily even desirable.  For example, i've routinely encountered (and even written) things like:

[code]

Parsing this simply will not work.  Nor is the act of 'parsing' even something we can do sensibly.  For example:

[code]

[2016-09-09 08:59] alrz commented on #13680
I think an implicit conversion to a tuple would do the same.

[2016-09-09 10:12] isanych commented on #12036
I'm also looking into switching statement/expressions parsing to operations, but also see that not all BoundExpressions have public interfaces, some only implements IOperation with Kind None, so I can see classes with values in debug, but don't have a way to use them in code. Are there plans to fully support operations?

[2016-09-09 11:14] lachbaer commented on #13691
Yes,I'll work on it, but probably not before Sep. 13th

[2016-09-09 12:42] svick commented on #13680
@alrz How do you add an implicit conversion to an interface.

[2016-09-09 12:44] benaadams commented on #261
IO can be incredibly chatty; it might not seem so at aggregate "GetURLAsync" level but it is at the socket level.

[2016-09-09 12:45] alrz commented on #13680
@svick #11159 is probably up for the next version.,

[2016-09-09 12:47] svick commented on #13680
I don't understand why would this be useful: if you know that all implementations of an interface can be represented by a tuple, why not use a tuple (or a simple `struct`) in the first place?

[2016-09-09 13:53] svick commented on #261
@GSPP

I believe a very common pattern in website APIs is paging (for example Wikipedia API and Stack Overflow API use it, to name the ones I've used). The way it works is that you make a request for the first *n* results, then another request for the next *n* results, etc.

And in these cases, some form of async enumerable would be very useful. But (unless you want to have ugly interface using so

[2016-09-09 14:23] Przemyslaw-W opened #13704 "Change signature fails to update calls to indexers inside object initializer"
**Version Used**:
VS 2015 Update 3

**Steps to Reproduce**:

        public class Blah
        {
            Blah x = new Blah() { [1, 2] = 54 };

            public int this[int x$$, int y]
            {
                get { return x + y; }
                set { }
            }
        }

Place caret at $$, invoke change signature, swap x and y parameters

**Expected Behavior**:
call in object i

[2016-09-09 14:25] jaredpar commented on #3174
Does this need to be fixed in preview 5 or can it be pushed out?

[2016-09-09 14:25] iamcarbon commented on #13680
@alrz -- agreed! implicit conversions accomplish the same thing.

Simplifying this proposal to giving tuples names to give them syntax parity with interfaces  while being passed by value (no garbage).

for example:
[code]

[2016-09-09 14:33] svick opened #13705 "Tuples and variance, resulting in type load failure"
**Version Used**: 2.0.0-beta5-60909-06 (latest from roslyn-master-nightly MyGet)

**Steps to Reproduce**:

Compile the following code:

[code]

**Expected Behavior**:

Compilation fails, probably with the following error:

**Actual Behavior**:

Compilation succeeds, but the resulting assembly fails peverify:

[code]

The assembly also fails at runtime:

[code]

---

The same behavior happens when

[2016-09-09 14:33] svick commented on #261
@alrz I'm pretty sure variance shouldn't work with tuples, so I've reported it: https://github.com/dotnet/roslyn/issues/13705.

[2016-09-09 14:34] jaredpar commented on #10891
Didn't we decide in a recent LDM meeting that this should be allowed?

Bug seems out of date with more recent LDM discussions, wanted to get clarity on whether it was still relevant or not.

[2016-09-09 14:40] jaredpar commented on #11598
Closing as I don't feel this is Roslyn's responsibility to handle.  Our build task needs to be flexible enough such that MSBuild, CLI, or any other host can use corerun.exe, mono.exe, etc ... to drive the compiler.  That can be done via a combination of `ToolName` and scripts.

The decision on whether or not to use corerun.exe lies with the host and we should track the bug in the host repo.

[2016-09-09 14:40] #11598 closed

[2016-09-09 14:42] jaredpar commented on #8434
Is this bug still relevant?  Hasn't been touched in over four months.

[2016-09-09 14:45] Przemyslaw-W opened #13706 "Change signature fails to work with lambdas"
**Version Used**:
VS 2015 Update 3

**Steps to Reproduce**:

[code]

Place caret at $$, invoke change signature, swap a and b parameters

**Expected Behavior**:
Type of f gets updated accordingly:

[code]

Arguments in f call get swapped:

[code]

**Actual Behavior**:

[code]

[2016-09-09 14:55] nguerrera opened #13707 "Add embedded source support for Windows PDBs"
The design tracked by #12625 already accounts for Windows PDBs, but an issue where diasymreader can write but not read back embedded sources for documents with no sequence points.

This is to track getting the diasymreader issue resolved and #13138 unblocked.

Tracking it separately to mark the most pressing need (in portable PDBs) done for 2.0 Preview 5.

[2016-09-09 14:58] nguerrera commented on #12625
Closing as the only missing piece (Windows PDB support) which does not impact the command-line or API spec is now tracked by #13707. The rest is in.

[2016-09-09 14:58] #12625 closed

[2016-09-09 14:58] jaredpar commented on #6901
Issue #12379 is tracking this now.

[2016-09-09 14:58] #6901 closed

[2016-09-09 14:59] nguerrera commented on #5397
Closing as #13707 tracks the only remaining work (Windows PDB support). Full support for this in VB and C# for portable PDBs is in.

[2016-09-09 14:59] #5397 closed

[2016-09-09 15:14] jaredpar commented on #10025
@jasonmalinowski this bug appears to be a result of this change by you:

https://github.com/dotnet/roslyn/commit/999cba8b49093d2fc38cb8632adb8854e8414d6a

[2016-09-09 15:15] jaredpar commented on #10026
@jasonmalinowski this has the same root cause as #10025

[2016-09-09 15:17] jaredpar commented on #10239
This behavior is by design.  Repeated attempts to ask the affected parties how this should resolve have not produced a good answer.

[2016-09-09 15:21] jaredpar commented on #10611
Thanks for reporting this.  This ended up also getting tracked via #11649 which we recently checked in a fix for.

[2016-09-09 15:21] #10611 closed

[2016-09-09 15:24] jaredpar commented on #10693
Thanks for taking the time to report this.

This behavior is "By Design" from the perspective of the compiler.  It's simply reporting that in attempting to generate code for `dynamic` it was unable to locate necessary members.  The underlying issue here is that the `dotnet run` process is not setting up the compilation with the correct set of references.

[2016-09-09 15:24] #10693 closed

[2016-09-09 15:30] cston commented on #12659
Fixed in #12975.

[2016-09-09 15:30] #12659 closed

[2016-09-09 15:32] cston commented on #3174
This can be pushed out.

[2016-09-09 15:38] cston commented on #549
See `ExpressionCompilerTests.FlowAnalysis`, currently skipped.

[2016-09-09 15:40] Pilchie commented on #13439
I like that UI, I just think it's odd to have a suppress menu that only includes *some* of the ways to suppress diagnostics...

[2016-09-09 15:47] Pilchie commented on #13620
I believe the original intent was to make it optional so that if you were very sure your change didn't impact VSI, you didn't have to run them.

I'm not sure if that's still the right policy.

[2016-09-09 15:51] VSadov commented on #10891
As far as i know it is still supposed to be disallowed.

[2016-09-09 15:54] jcouv commented on #13527
Fixed by #13638.

[2016-09-09 15:54] #13527 closed

[2016-09-09 16:01] gafter commented on #13691
Thanks!

[2016-09-09 16:10] gafter commented on #10891
Part of the reason we decided to disallow this is that we are considering adding target-typed construction in the future
[code]
We need to disallow `new (T1, T2)` to avoid a syntactic ambiguity.

[2016-09-09 16:15] jaredpar commented on #13620
There are a few reasons for this policy:

1. Non-Microsoft people cannot run VSI themselves.  Hence they end up requesting a test they can't and IIRC it confused the status checks a bit.
2. VSI is too flaky to be included in the default set.

It's possible that 1 is no longer relevatn but 2 certainly is.

[2016-09-09 16:24] jaredpar commented on #9954
Believe this is the issue we discussed in person.

The root problem here is that csc essentially ignores the arguments passed to `Main`.  Instead it calls into Win32 to get the original command line argument (single string) and hand parses it.  This is the behavior of the native compiler and had to be emulated for back compat reasons.

The conclusion we came to is that we only have to do this for

[2016-09-09 16:28] VSadov commented on #10891
Also, allowing "new" with long tuples is a bit of work, while literals provide all the functionality needed with more concise syntax.
Basically why do extra work to just allow same thing be doable in two similar ways?

[2016-09-09 16:32] jaredpar commented on #12926
@agocke please close out once we move over to Net Standard.

[2016-09-09 16:35] jaredpar commented on #13514
Related to https://github.com/dotnet/roslyn/issues/11356

[2016-09-09 16:37] jaredpar commented on #13705
Nice bug!  Thanks for reporting.

[2016-09-09 16:43] #9424 closed

[2016-09-09 16:45] AlekseyTs commented on #10023
@ljw1004 Could you please add a call stack for the exception?

[2016-09-09 16:49] AlekseyTs commented on #10929
@Pilchie Would it be possible to provide more details about what API exactly and for which syntax node doesn't behave as expected?

[2016-09-09 16:53] omariom commented on #13656
I don't like that to find what a method returns I will need to  scan through all its lines.
:-1:

[2016-09-09 17:08] gafter commented on #13667
@jaredpar Did you want to team up in tackling this issue? ;)

[2016-09-09 17:13] mattscheffer commented on #8434
Not with the effort to move integration tests to Willow. If it fails there too then we can reopen the bug.

[2016-09-09 17:14] ljw1004 commented on #10023
Callstack:

[code]

[2016-09-09 17:15] jasonmalinowski commented on #13626
And another one: https://devdiv.visualstudio.com/DevDiv/_build/explorer?_a=summary&buildId=322995&tab=ms.vss-test-web.test-result-details

[2016-09-09 17:15] jcouv opened #13711 "Intellisense: Show friendly tuple names rather than default ones, hide Rest"
This will probably need some new compiler API (work tracked by #13229).

[2016-09-09 17:17] AlekseyTs opened #13712 "Field declarations preceded with a label are not parsed properly"
[code]

Observed:
[code]

Expected: No errors.

[2016-09-09 17:17] AlekseyTs commented on #13712
CC @tmat

[2016-09-09 17:19] jaredpar commented on #13626
The relevant error text is the following:

[code]

Did someone turn on a virus checker in the build lab?

[2016-09-09 17:20] iamcarbon commented on #13680
As this proposal was just sugar over a sound design (tuples + casting), I'm going to close this. Thanks for the feedback everyone.

[2016-09-09 17:20] #13680 closed

[2016-09-09 17:20] #8434 closed

[2016-09-09 17:23] jaredpar commented on #13667
Sorry.  Been using this issue as a test for an application I'm working on.  I'll stop using it now that I fixed the main bugs. :)

[2016-09-09 17:38] jaredpar commented on #12406
@rchande assigning to you based on the internal email.

[2016-09-09 18:46] heejaechang commented on #13243
I got another of these. I made to keep the build forever

http://dotnet-ci.cloudapp.net/job/dotnet_roslyn/job/master/job/windows_debug_unit64_prtest/3433/console

[2016-09-09 18:46] heejaechang commented on #13243
here are callstack

 at System.Reflection.Metadata.Ecma335.TypeDefTableReader.GetExtends(TypeDefinitionHandle handle)
03:27:55      at Microsoft.CodeAnalysis.PEModule.GetBaseTypeOfTypeOrThrow(TypeDefinitionHandle typeDef) in q:\roslyn\src\Compilers\Core\Portable\MetadataReader\PEModule.cs:line 860
03:27:55      at Microsoft.CodeAnalysis.CSharp.Symbols.Metadata.PE.PENamedTypeSymbol.MakeDeclaredBase

[2016-09-09 19:17] karelz opened #13714 "IEnumerable<DateTime> Select with formatting does not work (anymore)"
Moved from dotnet/corefx#7861:

@rmja: Running on the latest bits in the `aspnetcirelease` feed.
Steps to reproduce:
[code]

Expected result: `2016`
http://csharppad.com/gist/f08e21c1f701482902517b23e4117abc
Actual result: `19-04-2016 09:45:29`

@ghost: It seems like in interactive mode, the correct `DateTime.ToString(string format)` overload is not being called in the `Select`'s predicate (instea

[2016-09-09 19:35] VSadov commented on #13502
I have a fix for this as a part of https://github.com/dotnet/roslyn/pull/13713

[2016-09-09 19:47] craigajohnson opened #13715 "Inspecting ValueTuple in VB immediate mode raises Assertion Failed dialog."
**Version Used**:
VS 2015 Update 3 (14.0.25425.01)

**Steps to Reproduce**:
1. Create a VB console app with any line of code in Main, set a break point on that line and run.
2. When reaching the breakpoint, go to Immediate Mode.
3. Type ?(0,1) [Enter]

**Expected Behavior**:
Show:
(0, 1)
  Item1: 0
  Item2: 1

**Actual Behavior**:
Displays an Assertion Failed dialog. (It will display the Tuple val

[2016-09-09 20:09] VSadov commented on #12838
The renaming was disabled (as in # 2), before the refactoring of the syntax model.

I think the restriction should have been preserved after the refactoring. The check on IDE side might be checking for wrong syntax nodes now.

[2016-09-09 20:30] alrz commented on #261
@svick I was suspicious myself hence the "unless I'm missing something" part. 😄

Same would apply to refelece-type-capable Nullable<T> or non-existent Option<T> along with `out` params. So we probably wouldn't get covariant IAsyncEnumerable<T> anyways.

[2016-09-09 20:32] jcouv opened #13716 "Handling d-declaration in script and global statements"
Should we allow `(int a, int b) = (1, 2);` in script?
Most likely, yes. `a` and `b` should be fields.

This has implications on the semantic model for d-declarations outside a class or method.

[2016-09-09 20:48] JoshVarty commented on #10514
I think that's pretty much all the info I'd need, quick double check:

What version of Roslyn maps to the current version of VS 2015 Update 3 (`14.0.545.01`).

Is it Roslyn version `1.3.0` or the latest `1.3.2`?

[2016-09-09 21:11] jnm2 commented on #261
Please don't make `IAsyncEnumerable` invariant if there is any way around it. `IEnumerable` variance has been a tremendous boon for me.

[2016-09-09 21:16] jaredpar commented on #12045
This does appear to be a duplicate of #10693.

The root cause here is that you're not providing the compiler a reference to Microsoft.CSharp.dll.  That DLL holds a lot of members necessary for generating code around `dynamic`.  Adding a reference to this library should fix the error.

[2016-09-09 21:16] #12045 closed

[2016-09-09 21:18] jaredpar commented on #12236
Closing as we haven't seen this failure recently.

[2016-09-09 21:18] #12236 closed

[2016-09-09 21:19] jaredpar commented on #12354
Closing as this appears to be By Design now (or by design mandated by native compat :frowning: )

[2016-09-09 21:19] #12354 closed

[2016-09-09 21:25] JoshVarty commented on #10514
Also one more question: Do you know which versions of Roslyn map to VS "15" releases?

[2016-09-09 21:27] jaredpar commented on #9535
What does NFW mean? Non fatal watson?

[2016-09-09 21:55] gafter opened #13719 "Roslyn fails to give syntax error for incomplete member that contains a lexical warning"
The following program contains an obvious syntax error, but Roslyn compiles it successfully!

[code]

This was discovered while investigating #13667. Each of the places in the parser that tests whether or not a node contains diagnostics should be checked to see if that test is correct.

[2016-09-09 21:56] gafter commented on #13719
The offending code is in `LanguageParser.cs`:

[code]

The first branch of that `if` statement is not correct.

[2016-09-09 22:03] alrz commented on #9932
Since `T?` doesn't affect the underlying type where it's a reference type the following will be permitted,
[code]
As discussed in this thread, for `T?` to work with unconstrained generic types, it should also be allowed to be covariant,
[code]

[2016-09-09 22:04] bbarry commented on #13685
I've created this console app tool to attempt to validate the algorithm to be used against the existing one (which in its current form demonstrates the above code is not a valid replacement):

https://gist.github.com/bbarry/e78dbfec6a9f71d428e92fc37f567572

[2016-09-09 22:15] gafter commented on #13719
I am adding the following test, to be enabled when this is fixed:

[code]

[2016-09-09 22:43] soroshsabz commented on #2136
ITNOA

Hi,

Why immutability dose not important as C++ or even Java in C#?

Some feature like [Allow readonly modifier on local variables, not just properties](https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/suggestions/6019345-allow-readonly-modifier-on-local-variables-not-ju) can be more powerful C#.

thanks

[2016-09-09 23:05] tmat commented on #13716
Yes, we definitely should. The variables would be indeed fields. @AlekseyTs is looking into similar issues around ```out var```.

[2016-09-09 23:08] ppekrol commented on #12045
Following 4 references are provided in the code:
C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.0.0\System.Private.CoreLib.ni.dll
C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.0.0\System.Linq.dll
**C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.0.0\Microsoft.CSharp.dll**
C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.0.0\System.Dynamic.Runtime.dll

This line https:

[2016-09-09 23:12] HaloFour commented on #2136
@soroshsabz See #115.  But it didn't make the cut of features slated for C# 7.

[2016-09-09 23:23] jaredpar commented on #12045
That code works just fine when compiled against a full copy of Microsoft.CSharp.dll.  I just verified it using a Console app targeting .NET 4.5.2.

In this case I'm guessing the Microsoft.CSharp.dll from that directory is a slimmed down copy which is missing the necessary members for the compiler.

CC @VSadov so he can provid emore info