[2018-06-21 04:34] CyrusNajmabadi opened #28040 "Crash while editing"
Got this crash while editing a using statement:

[code]

Watson bucket is:

[code]

[2018-06-21 07:52] xoofx commented on #19505
@ReubenBond all your use cases can be done with a post-compilation step without an IDE integration, the plugin would decide to dump to obj folders the relevant files that it wants to be debuggable. The access to private fields, the fact that it can change existing class to access private fields, the fact that you don't want to have explicit tag partial class, I agree with all your points, that's w

[2018-06-21 08:21] marcelstuder commented on #24691
I had the same issues and was able to reproduce/resolve the problem in this project: [sample-project](https://github.com/marcelstuder/findreferences) - see commit history

Adding BindingRedirects and the `Microsoft.Build.Locator` nuget pacakge as stated above by  @DustinCampbell resolved my issues

[2018-06-21 09:08] m0sa commented on #19505
@jaredpar, as @xoofx say, please re-consider post-compilation.

I think what a lot of people here want is to be able to optimize existing calls (probably with changes directly on the call site, hoisting stuff, etc). All of that code already works without any post-compilation, by doing stuff at run-time (e.g. serializers, ORMs). I like to think of it as comparing Debug and Release builds. You don't

[2018-06-21 10:11] alpergunay commented on #27381
Did you look at the test application which I attached ? Do you need any clarification ?

[2018-06-21 10:14] snickler commented on #28038
How do I go about obtaining one? I was trying to see if I could get a core dump, but everything I tried didn't work.
________________________________
From: Jared Parsons <notifications@github.com>
Sent: Thursday, June 21, 2018 12:04:08 AM
To: dotnet/roslyn
Cc: Jeremy Sinclair; Mention
Subject: Re: [dotnet/roslyn] csc.dll code 139 error when building project on .NET Core 2.1.300 Ubuntu 18.04 ARM64

[2018-06-21 10:43] MohammadHamdyGhanem commented on #28035
@sharwell

This is strange 😊

I fist set up v4.7.2 runtime but it didn't appear in the version list in project properties. So, I setup the devpac but I didn't look in project properties because of the v4.7.03062 thibg!
There is still one odd behavior, after I uninstalled v4.7 and re-instaaled v4.7.2, vs.net aaked me to change the project frsmework to 4.6.1 not to 4.7.2!

[2018-06-21 11:51] snickler commented on #28038
Oh wait, I got it by running `dotnet build /bl`.

[dotnet-2.1.300.binlog.zip](https://github.com/dotnet/roslyn/files/2123455/dotnet-2.1.300.binlog.zip)

[2018-06-21 12:45] mkrueger opened #28041 "[Refactoring] MoveVisualStudio/CSharp/Impl/Debugging/CSharpLanguageDebugInfoService.cs"
https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/CSharp/Impl/Debugging/CSharpLanguageDebugInfoService.cs

We need it as well in visual studio for mac and we simply 1:1 copy that code - if it would be moved to another layer we could get rid of some code duplication.

[2018-06-21 13:08] PhilPJL commented on #27975
@agocke
We're using .NET compilers in a 'not supported' mode (https://github.com/dotnet/roslyn/issues/19128) because I removed condition preventing their use on < MSBuild 15.  That's so I can use them on our TFS 2015 build agent.
Setting UseSharedCompilation works fine locally but fails on the build agent.
So in this case defaulting to UseSharedCompilation would be an issue if we're not able to tu

[2018-06-21 13:55] mavasani opened #28042 "Inefficient code for binding anonymous type properties in C#"
See https://github.com/dotnet/roslyn/pull/28005#issuecomment-398851479

[2018-06-21 15:10] jaredpar opened #28044 "VB runtime missing functionality on Net Core breaks tests"
The VB runtime DLL is missing functionality on the Net Core version. This breaks our tests which depend on it being there as a part of their execution.

Missing functionality includes:

[2018-06-21 15:20] kuhlenh commented on #27974
Yes, I think everyone agrees with this principle. Let's make this option checked by default for 15.8 previews but it must be off in the RTW.

[2018-06-21 15:33] jaredpar opened #28045 "Embedded source length differs when run on CoreClr"
A number of embedded source tests fail when run on CoreClr due to differences in the length of the embedded source files in the PDB. Concrete example is the StandalonePdb test in both the C# and VB emit tests. The diff produced is:

[code]

[2018-06-21 15:33] jaredpar commented on #28045
CC @tmat for visibility.

[2018-06-21 15:35] tmeschter commented on #28036
@CyrusNajmabadi Have you tried the usual steps:

1. Closing and reopening VS
2. Syncing to the latest `master`
3. Restoring again

There were changes to how we pull XliffTasks into projects, but you're the only one running into problems as far as I know. :-)

[2018-06-21 15:47] #27979 closed

[2018-06-21 15:51] tmat commented on #28045
Is the difference between Desktop CLR and Core CLR, or between Windows and Linux/Mac?

If it was the latter my guess would be that it's due to difference in line breaks (`\r\n` vs `\n`).

[2018-06-21 15:54] jaredpar opened #28046 "Tests using Console.WriteLine with four or more arguments fails on CoreClr"
A number of tests execute a call to `Console.WriteLine` with four or more parameters. These end up failing with a `MissingMethodException` when executed on CoreClr:

[2018-06-21 15:55] jaredpar commented on #28045
@tmat this is windows

[2018-06-21 15:59] tmat commented on #28045
Yeah, odd that the checksum is the same. Very odd.

[2018-06-21 17:16] jinujoseph commented on #27499
@333fred  has this been addressed already ?

[2018-06-21 17:23] jinujoseph commented on #26577
This is inside object initialize

[2018-06-21 17:28] 333fred commented on #27499
Yes, this was fixed in #27519.

[2018-06-21 17:28] #27499 closed

[2018-06-21 17:32] #27602 closed

[2018-06-21 17:35] jinujoseph commented on #27598
map to the bug from heejae related to this

[2018-06-21 17:37] #23956 closed

[2018-06-21 17:37] jinujoseph commented on #27209
This was fixed in #24263

[2018-06-21 17:37] #27209 closed

[2018-06-21 17:37] CyrusNajmabadi commented on #28036
i did a git-clean and that seems to have fixed things.  Thanks!

[2018-06-21 17:37] #28036 closed

[2018-06-21 17:40] 333fred commented on #26577
Scenario is something like this:
[code]

The IPropertyReference for the `[GetInt()]` call will have children of (IInstanceReference, IArgument), when evaluation order inside a member initializer is (IArgument, IInstanceReference). @dotnet/analyzer-ioperation, is this something we feel that we need to special case? The IOperation tree makes no guarantees about Children being in evaluation order, an

[2018-06-21 17:41] jinujoseph commented on #27587
This is related to dynamic logical operation

[2018-06-21 17:42] agocke commented on #27975
@PhilPJL We always allow customization of UseSharedCompilation, so if you set it to false that should be respected.

[2018-06-21 17:44] CyrusNajmabadi commented on #28012
@jinujoseph from the conversation over in https://github.com/dotnet/roslyn/pull/28029, it's clear there are several problems here.

From @heejaechang's posts:

Can this be assigned to someone so this issue can be resolved?  20 seconds to format is really bad.  On my own machine it's can be upwards of 100+ seconds!  Clearly, something has gone very wrong.  And we would need to fix this asap before

[2018-06-21 17:45] JieCarolHu commented on #27974
Cool. I will add the top level checkbox and make it checked for preview and off in RTW by default.

[2018-06-21 17:48] jinujoseph commented on #26643
@333fred has this been addressed ?

[2018-06-21 17:53] jinujoseph commented on #25841
@333fred  could you pls add scenario and more context here pls

[2018-06-21 17:54] 333fred commented on #26643
Yes, this was fixed in https://github.com/dotnet/roslyn/pull/26781

[2018-06-21 17:54] #26643 closed

[2018-06-21 18:00] jinujoseph commented on #24752
@333fred , can you pls verify if this is already fixed

[2018-06-21 18:01] jinujoseph commented on #24436
This has already been taken care

[2018-06-21 18:01] #24436 closed

[2018-06-21 18:05] CyrusNajmabadi commented on #27964
@jasonmalinowski Could you give your thoughts on this specific issue.  This is about something i see when i explicitly invoke 'build'.  Some way through the build, the focus switches from the actual build output to the 'intellisense output' window.

[2018-06-21 18:17] 333fred commented on #24752
Fixed in https://github.com/dotnet/roslyn/pull/27070.

[2018-06-21 18:17] #24752 closed

[2018-06-21 18:33] ericmutta opened #28058 "VB: Editor should allow outlining of individual branches in multi-branch statements."
**Version Used**:

Visual Studio Community 2017 v15.5.6

**Steps to Reproduce**:
Enable outlining for code-level constructs as follows:

![vs_outlining_code_level](https://user-images.githubusercontent.com/20465797/41737186-3043267e-7597-11e8-93a3-7566b4309e91.png)

Paste the following code into a VB project:

[code]

As the comments in the code above indicate, you can't collapse individual branch

[2018-06-21 18:46] ericmutta commented on #28058
As an example of why branch-level folding would be really useful, I decided to snoop around the Rosyln code to find something complex, and [found this code](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Binding/Binder.vb#L136):

[code]

There's an `If...End If` statement inside that `Do...Loop` which has a really long `ElseIf` branch, thanks to the explanatory com

[2018-06-21 18:50] CyrusNajmabadi commented on #28058
@ericmutta I believe @AdamSpeight2008 is working on this in: https://github.com/dotnet/roslyn/pull/27617

[2018-06-21 20:15] jasonmalinowski commented on #27964
Yeah, because there's all sorts of insane complexity around how WPF swaps files out here. For this, I'd say the right thing is to delete the window. :smile:

[2018-06-21 20:40] jasonmalinowski opened #28062 "Microsoft.CodeAnalysis.Editor.UnitTests.Diagnostics.DiagnosticsSquiggleTaggerProviderTests.Test_TagSourceDiffer is flaky"
Example failure: https://ci.dot.net/job/dotnet_roslyn/job/master/view/Official%20Builds/job/windows_debug_unit32/2431/

[code]

@heejaechang and @jinujoseph can this get quickly looked at? Hit a few of my PRs and other partner teams too.

[2018-06-21 20:48] 333fred commented on #25841
The scenario is that we don't expose the discard variable in patterns (such as case clauses). We also don't correctly handle CSharp scripting scenarios, where declaration patterns actually declare fields in the resulting class instead of local variables like happens in regular contexts.

[2018-06-21 21:07] ivanbasov opened #28064 "optimize checks in AbstractVsTextViewFilter.GetDataTipTextImpl"
in accordance with feedback for https://github.com/dotnet/roslyn/pull/28060,

1. Move
[code]
into `IVsTextViewFilter.GetDataTipText`

2. Move
[code]
into `IVsTextViewFilter.GetDataTipText`

[2018-06-21 22:02] davkean commented on #12202
I've fixed this so that it does not steal focus.

[2018-06-21 23:03] jcouv commented on #27986
Tagging @gafter

[2018-06-21 23:08] jcouv commented on #27984
I think this is expected: there are two candidates, but one is more specific, so the other one is removed from the candidate list. See [overload resolution rules](https://github.com/dotnet/vblang/blob/master/spec/overload-resolution.md) (bullet 6).

[2018-06-21 23:11] jcouv commented on #27964
Relates to https://github.com/dotnet/roslyn/issues/23266

[2018-06-21 23:16] jcouv commented on #27780
I think this SDK is mentioned in the [build/test instructions for contributors](https://github.com/dotnet/roslyn/blob/master/docs/contributing/Building,%20Debugging,%20and%20Testing%20on%20Windows.md).

[2018-06-21 23:23] jcouv commented on #27031
Tagging @jaredpar for triage

[2018-06-21 23:27] jcouv commented on #27008
Tagging @cston
I don't understand why the compiler complains about mismatching nullability of **reference types** given that the interface uses `int?` (a nullable **value type**).

[2018-06-21 23:39] JieCarolHu opened #28068 "Set CodeCleanupOptions.PerformAdditionalCodeCleanupDuringFormatting default value to false for RTM"
The default value is set to true for 15.8 Preview to promote this new code cleanup feature
Will set it back to false for RTM so users are not silently opting into this feature

[2018-06-21 23:39] JieCarolHu commented on #27974
filed https://github.com/dotnet/roslyn/issues/28068 to reminder myself to set this value to false for RTM

[2018-06-21 23:42] jcouv commented on #26755
@amikulich Have you been able to reproduce this issue with a small code sample? That would help tracking this issue down.
I'd start by catching the exception in a debugger and seeing what key was being added to the dictionary. That should help narrow down the types/members involved to repro this problem

[2018-06-21 23:43] davkean commented on #27964
Going to dup against https://github.com/dotnet/roslyn/issues/12202.

[2018-06-21 23:43] #27964 closed

[2018-06-21 23:45] davkean commented on #27964
This issue is different from the one you are running into @jcouv. Your issue is a design-time build issue, this issue above is a timing issue due to communication between project system and Roslyn.

[2018-06-21 23:48] jcouv commented on #25555
@JBildstein From quick look, your issue sounds like one I'd had encountered before. Here's [some info on solution](https://github.com/dotnet/roslyn/issues/24308#issuecomment-362362524) you may want to try, assuming it's indeed the same problem.

[2018-06-21 23:53] jcouv commented on #25198
Tagging @davkean who may have insights for this.

[2018-06-21 23:53] agocke commented on #13181
cc @AlekseyTs

[2018-06-22 00:01] ericmutta commented on #28058
@CyrusNajmabadi that's exactly what I had in mind. Thanks for helping @AdamSpeight2008 work through it and thank you @AdamSpeight2008 for taking the initiative to implement it :+1: :+1:

@AdamSpeight2008, I see you have `If...End If` and `Select...End Select`. Please don't forget about `Try...End Try` where patterns like this are quite common:

[code]

When you are reviewing the code to make sure

[2018-06-22 00:03] #27338 closed

[2018-06-22 00:04] mavasani commented on #25266
Fixed with https://github.com/dotnet/roslyn/pull/28005

[2018-06-22 00:04] #25266 closed

[2018-06-22 00:04] mavasani commented on #23115
Fixed with https://github.com/dotnet/roslyn/pull/28005

[2018-06-22 00:04] #23115 closed

[2018-06-22 00:04] mavasani commented on #22736
Fixed with https://github.com/dotnet/roslyn/pull/28005

[2018-06-22 00:04] #22736 closed

[2018-06-22 00:05] mavasani commented on #20338
Fixed with https://github.com/dotnet/roslyn/pull/28005

[2018-06-22 00:05] #20338 closed

[2018-06-22 00:07] jaredpar commented on #19505
Optimizing calls almost always end up doing so by violating the semantics of the original code. Asking for this is essentially asking for generators to change the meaning of the code the developers typed. That will lead to less predictability and many, many subtle issues. I'm highly skeptical of generators that attempt to do this.

Even this design requires IDE support. It must be possible to debu

[2018-06-22 00:43] chuckries opened #28071 "Function Resolver always uses native offset 0."
The function resolver should use uint.MaxValue for the native offset of the instruction address of a resolved function name. By using 0, the debugger will bind the bp to the first native instruction of a JIT'd method, which is not where we want to stop. By using uint.MaxValue, the debugger will always find the native offset that matches the IL offset provided, which allows the correct behavior for

[2018-06-22 05:21] xoofx commented on #19505
We are not asking Roslyn doing this. But this is something that is sometimes used in our products that we deliver to our customers but though, I have never been in a situation to violate the original code.

Think for example of providing a rewriter for Linq to expand them to use foreach instead. That's a super useful optimization.

Sure, someone with a compiler plugin could do something wrong, but

[2018-06-22 05:45] xoofx commented on #19505
And I still would like to make this meeting, because I feel that we need to talk in real to clear things up more fluently 😉

[2018-06-22 05:49] m0sa commented on #19505
@jaredpar that's why I'm saying let's call the feature "optimizers". People are not expecting this of optimized code:

Step Into - Debug
[![Step into - Debug][1]][1]

Step Into - Release (optimized)
[![Step into - Release][2]][2]

  [1]: https://i.stack.imgur.com/dWiCJ.gif
  [2]: https://i.stack.imgur.com/q8SHy.gif

[2018-06-22 07:52] mrbaranovskiy commented on #23516
Confirm! Easy to reproduce with Offreg.

[2018-06-22 08:05] 0x0001F36D commented on #21657
I've encountered this problem in present version: 15.7.3

[2018-06-22 08:31] OndrejVrsan commented on #21657
Workaround:
1. Temporarily comment out inherited `Attribute` class, so you'll get e.g.
`
public sealed class MyAttribute // : Attribute
`
2. Perform the inline rename
3. Remove the comment so your class inherits `Attribute` again
`
public sealed class MyRenamedAttribute : Attribute
`

[2018-06-22 08:34] Wizard2007 commented on #4720
in vs 2017 version 15.7.4 it's case still not work. How I can fix it?

[2018-06-22 09:06] IanKemp commented on #17684
Looks like this is addressed by #25561, which is set to ship in 15.8!

[2018-06-22 09:20] juanfranblanco opened #28073 "Feature request: Partial class (master, child)"
Partial classes are normally used for code generation.

The problem arises when a different implementation of a property or a method is required, these properties or methods cannot be simply overridden, and partial methods forces to not have an implementation.

A simple approach would be to be able to mark a partial class (Attribute at the class level) as the Partial.Master.

In this scenario, if

[2018-06-22 09:52] juanfranblanco commented on #28073
An example:

[code]

[2018-06-22 10:07] bkoelman commented on #24938
https://github.com/dotnet/roslyn/issues/27208#issuecomment-397373041

@333fred This tracks the issue I was referring to.

Though I prefer to see this fixed, at the very least this behavior should be documented at https://github.com/dotnet/roslyn/blob/19f49b0f4a0d887547195ec06f9eb6b2e0f21228/src/Compilers/Core/Portable/Operations/IAnonymousFunctionOperation.cs.

Can we have it reopened please?

[2018-06-22 10:28] Makeman-Makeloft opened #28074 "Improve compiler behaviour for extension methods with constraints"
**Version Used**: master on sharplab.io

**Steps to Reproduce**:
[The source code](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAgrgOyQExAagB8ABABgAJiBGAbgFgAoYgZkqoDZKAmNgdnIDejciMqtqnYgBY2ADgAUASkHDRagJaYY5deQC85UvQZqNAOgCSUJcdOjSl64tt3ymOAHdyAeWAArOABjGCVHG1U7agBOeQAiQB4NwBB92OcI8gBfNLSJShkAFThYAB48gD55PPIAD2U9Uuqw1IZMhkYWNkkeABkAUUYhE1d2nOAAe1GAG3IrEvKYAAt1KHJK0dr60Z1lvOMWtvEObnJegH0AZRgMYP60tWH

[2018-06-22 11:50] kraghavk commented on #10830
@RehanSaeed & @fekberg, thanks for the code you guys have put out. It seems like they will work on .NET Framework only? Can you please confirm it is cross-platform compatible?

[2018-06-22 11:55] derkyjadex commented on #28021
This seems to be related to embedding of the VB runtime. The `vbc.exe` command generated by the old style projects doesn't mention anything about the VB runtime, which is equivalent to running it with `/vbruntime+` switch (https://docs.microsoft.com/en-us/dotnet/visual-basic/reference/command-line-compiler/vbruntime).

The `vbc.exe` command generated by the new SDK style projects sticks `/vbruntim

[2018-06-22 13:43] mavasani opened #28075 "Test-only helper IOperation.HasErrors is not working for operation generated from a speculative semantic model"
This helper invokes `SemanticModel.GetDiagnostics`, which is not supported for a speculative semantic model.

[2018-06-22 14:05] gafter commented on #28074
The runtime compiler (jit) already produces excellent specialized code for the general version. There is no need to specialize in source. Moreover, there is no need for these methods at all.

Since you have been banned from this repository, please refrain from posting with any of your accounts.

[2018-06-22 14:05] #28074 closed

[2018-06-22 14:18] HaloFour commented on #28073
Language proposals should be submitted to the [CSharpLang](https://github.com/dotnet/csharplang/issues) repository.

[2018-06-22 14:30] #28073 closed

[2018-06-22 15:05] Makeman-Makeloft commented on #28074
@gafter
Thank for your answer but I closely research this question and looks that for some special cases JIT generate not optimal code. Moreover there are differences between .NET Framework and Core CLR.

Some details you may found here https://github.com/dotnet/coreclr/issues/17981

In general this issue is about extension methods at all, not only about 'is' operator, it is like a sample.

[2018-06-22 15:36] sharwell commented on #26905
I can reproduce this if I quickly press <kbd>Ctrl</kbd>+<kbd>.</kbd>, <kbd>Enter</kbd> before the light bulb has a chance to appear. I believe that in a previous release, this sequence would block waiting for light bulb information to become available, but it now results in a newline.

Once I wait long enough for the light bulb icon to appear, the rapid sequence works the way I would expect (block

[2018-06-22 15:37] sharwell commented on #26905
@olegtk @mavasani to review the previous comment against expected light bulb behavior.

[2018-06-22 16:06] CreateAndInject opened #28076 "Debugger will crash when loading some obfuscated assembly."
**Version Used**: VS2017 15.7.4

**Steps to Reproduce**:

1. Create a project, place [ConsoleApp1.zip](https://github.com/dotnet/roslyn/files/2128391/ConsoleApp1.zip) to the build path, write this code:
[code]
2. F10 to debug it

**Expected Behavior**: Nothing

**Actual Behavior**: Debugger will crash after this line: `var assembly = Assembly.LoadFrom("ConsoleApp1.exe");`
I can't get any tip when

[2018-06-22 16:10] xoofx commented on #19505
You are referring to users in general - as a Roslyn team member, I can understand -  but on our side we are talking about users that are using apps requiring to generate additional/modified code at compile time. In this category of person, I haven't seen them asking for ENC, or them saying "I won't use your product if you don't have ENC". So that's not really an opinion I have, but the reality we

[2018-06-22 16:14] #28071 closed

[2018-06-22 16:33] jinujoseph commented on #28041
cc @jasonmalinowski

[2018-06-22 16:34] DVaughan opened #28077 "IFieldSymbol.ConstantValue for Android Enum value is null"
**Version Used**:
Visual Studio 15.7.4
Microsoft.CodeAnalysis 2.8.2
[RoslynAndroidEnumRepro.zip](https://github.com/dotnet/roslyn/files/2128425/RoslynAndroidEnumRepro.zip)

**Steps to Reproduce**:

1. Create a .NET console application
2. Create an Xamarin Android class library with an Enum
3. Retrieve the fields as in the following excerpt:

[code]

**Expected Behavior**:
The IFieldSymbol.Constant

[2018-06-22 16:34] jinujoseph commented on #28035
cc @Pilchie

[2018-06-22 16:36] jinujoseph commented on #28020
cc @jasonmalinowski , @JieCarolHu

[2018-06-22 16:40] AdamSpeight2008 commented on #28058
@ericmutta I'll probably submit `Try...Catch...End Try` as separate Pull Request.

@CyrusNajmabadi  Should we also extended the `Advanced Options` to include options for these extended out-linings.
[code]

[2018-06-22 16:42] svick commented on #19505
@jaredpar

Doesn't every useful code generator/codegen tool do that too? The whole point is that the user writes one thing, but the code that actually executes is different.

The justification I've heard for the reason that the C# compiler won't do that is that it can't see the implementation of LINQ. But a user that decides to install a "make LINQ faster" optimizer/code generator does know if it'

[2018-06-22 16:43] CreateAndInject commented on #28076
VS2010 can debug it without any error.

[2018-06-22 16:44] Pilchie commented on #28035
Note that there are two different things at play here:

1. The version of the .NET Framework that VS runs against.  This is the version that comes with windows (for Windows 10), or that you install.  Often we call this the "runtime".
2. The version of the .NET Framework that any particular project in VS targets. This is completely orthogonal to the version that is installed. This allows you to tar

[2018-06-22 16:51] jinujoseph commented on #27784
finding the right team to redirect

[2018-06-22 16:52] jasonmalinowski commented on #28041
@mkrueger Should it just be moved down to the EditorFeatures layer?

[2018-06-22 16:52] jasonmalinowski commented on #28041
(or I guess maybe Workspaces or Features if it really relies on no editor stuff)

[2018-06-22 17:07] #27395 closed

[2018-06-22 17:07] nvmkpk commented on #21657
Well better workaround would be to first rename the class and then update references using the light bulb.

[2018-06-22 17:09] sharwell commented on #27330
/cc @olegtk @AmadeusW is this a known bug in the coding conventions library?

[2018-06-22 17:10] jinujoseph commented on #27215
cc @tannergooding

[2018-06-22 17:19] 333fred commented on #24938
Yes, we at least need to document this behavior. The question of what "fixed" means in this case is questionable, because as @gafter pointed out, this is how the language works.

[2018-06-22 17:45] bkoelman commented on #23219
I'd like to start work on a PR to add `IsExpression` and `IsStatement` to `IOperation` in the master branch. It will probably become a large PR. Anything I should be aware of before putting effort into this?

[2018-06-22 17:47] sharwell commented on #27628
@MikeLeicester Please feel free to let us know if you have other questions or concerns. 😄

[2018-06-22 17:47] #27628 closed

[2018-06-22 17:49] CreateAndInject commented on #27390
I think Function breakpoint binding should not ignore it if checked Enable address-level debugging & Show disassembly if source is not avaible.
Although there's no source, I can know whether hint a method, and get the local variables.

[2018-06-22 17:50] sharwell commented on #27649
@DavidKarlas This is an area I find fascinating and have done work on in the past for other projects. Can you expand on this part of your question so I have a bit more context when I reply:

Who is 'we' in this case?

[2018-06-22 17:54] mavasani commented on #23219
@bkoelman First, we should get consensus from the design team on this API. Adding @AlekseyTs @DustinCampbell @tmat @gafter @333fred @jinujoseph @heejaechang for their views.

Once approved, I already had a PR/commit for this work, which was reverted. I think we can start from there.

[2018-06-22 18:01] AlekseyTs commented on #23219
I think this can and should be implemented as an extension helper method with common implementation for both languages. This should not require anything stored inside nodes themselves and should not be part of the IOperation interface

[2018-06-22 18:03] AlekseyTs commented on #23219
For example, see how control flow graph builder deals with this. It does this from the top, but it should be possible to follow the same logic going from the bottom up.

[2018-06-22 18:18] MohammadHamdyGhanem commented on #28035
@Pilchie
Thanks for the details.

[2018-06-22 18:52] CyrusNajmabadi commented on #4720
hi @Wizard2007 I don't repro any problem in:

![image](https://user-images.githubusercontent.com/4564579/41793942-a19bc90e-7612-11e8-96c1-3f106aef0492.png)

Can you provide a repro case where you still see this?

[2018-06-22 18:57] CyrusNajmabadi commented on #28058
I'd prefer not to. W already have:

![image](https://user-images.githubusercontent.com/4564579/41794198-731218d0-7613-11e8-934e-6e55f344caf9.png)

Which is what this would fall under.

[2018-06-22 19:14] CyrusNajmabadi commented on #23219
My personal thoughts are:

1. What purpose do we need this for?
2. What defines a statement or an expression?
3. What do you do when the languages disagree?  For example, assignment is an expression in C#, but a statement in VB.  Perhaps you expose these as extensions, and then the language itself has final say over what it thinks are statements vs expressions?
4. What do you do for constructs tha

[2018-06-22 19:20] tmat commented on #28076
@CreateAndInject What do you mean by "Debugger will crash"? Is the VS crashing, or is it just reporting `error CS009` in watch window?

[2018-06-22 19:40] DavidKarlas commented on #27649
VS for Mac, but afaik, VS has same problem...

[2018-06-22 19:53] CyrusNajmabadi commented on #27649
Can you explain why you need to compare on the UI thread?

basically, someone is going to do the comparison of tags.  Either Roslyn or the host.  So shuffling this around is only valuable if we change things to not be UI thread based.

[2018-06-22 19:57] CyrusNajmabadi commented on #27649
Note: this is because this classifier basically defers work until actually requested.  So anytime we see the doc is touched, we basically say: "we're stale, call back into us!".  Then, when the host calls back into us, we actually compute the tags.

Note: is there a reason you're calling back with the entire span, instead of just the span you need to display in the editor?

[2018-06-22 20:01] DavidKarlas commented on #27649
I thought you can do something smarter then running same thing and do compering(which is what we do). Reason we run this on UI thread is because event(TagsChanged) is triggered on UI thread, you are right we should move this off main thread and calculate actual changed and trigger that on UI thread...

[2018-06-22 20:01] #27649 closed

[2018-06-22 20:48] cston commented on #27390
cc @jinujoseph

[2018-06-22 20:57] CreateAndInject commented on #28076
VS doesn't crash, and it can hit breakpoints, but I can't view variables, there's no tip pop up when my mouse point some variable, and I will get that error when I type something in the watch window.

[2018-06-22 21:07] bkoelman commented on #23219
1. I need this information in multiple analyzers by now (see https://github.com/bkoelman/CSharpGuidelinesAnalyzer/search?q=isstatement&unscoped_q=isstatement). With help of @AlekseyTs and @mavasani I was able to come up with heuristics in the past that seem to work. My project also has lots of unit tests (https://github.com/bkoelman/CSharpGuidelinesAnalyzer/blob/4614080258bfa6544d4a425d4ca84393956

[2018-06-22 21:17] CyrusNajmabadi commented on #23219
THanks for the response.  My feedback to the individual points.

Looking at teh use cases... i'm not sure why you need this.  I mean, your code already goes back to syntax depending on if things are a statement or not.  i.e.: https://github.com/bkoelman/CSharpGuidelinesAnalyzer/blob/97c8bca9201bd8c57da2b3525ec3b2f8427103b5/src/CSharpGuidelinesAnalyzer/CSharpGuidelinesAnalyzer/Extensions/OperationE

[2018-06-22 22:01] AustinBryan commented on #595
Shouldn't style conventions prefer

[code]

Over

[code]
As it looks closer to what we're used to:

[code]

And we're already in the habit of checking the line right above the class name to find the namespace.

[2018-06-22 22:41] jinujoseph commented on #24938
we don't think we should be documenting the exact shape of the tree , as long as the shape is reasonable we should be good . other languages may represent it differently.

[2018-06-22 22:41] #24938 closed

[2018-06-22 22:52] jinujoseph commented on #23810
looks liek this should be fixed already , can you verify and close

[2018-06-22 22:53] #23780 closed

[2018-06-22 22:55] jinujoseph commented on #23572
This is likely to effect Ioperation.

[2018-06-22 22:56] #23400 closed

[2018-06-22 22:57] jinujoseph commented on #23325
there might be a dupe for this , cann't find it now

[2018-06-22 22:58] jinujoseph commented on #23324
Verifiy and to be closed

[2018-06-22 23:00] #23263 closed

[2018-06-22 23:05] jinujoseph commented on #23164
verify and close if fixed

[2018-06-22 23:06] #23152 closed

[2018-06-22 23:07] jinujoseph commented on #23084
dupe of #26206

[2018-06-22 23:07] #23084 closed

[2018-06-22 23:08] jinujoseph commented on #22980
verify and close

[2018-06-22 23:11] jinujoseph commented on #22855
potential dupe

[2018-06-22 23:13] jinujoseph commented on #22587
Verify and close if fixed

[2018-06-22 23:14] jinujoseph commented on #22576
verify and close

[2018-06-22 23:15] jinujoseph commented on #22575
Verify and close

[2018-06-22 23:18] jinujoseph commented on #22554
close and verify

[2018-06-22 23:19] jinujoseph commented on #22477
@jcouv do you have a proposal for this ?

[2018-06-22 23:19] #22446 closed

[2018-06-22 23:22] #22315 closed

[2018-06-22 23:23] #22299 closed

[2018-06-22 23:30] jinujoseph commented on #22233
This should be fixed.
Can you  verify and close

[2018-06-22 23:32] jinujoseph commented on #22228
Verify and close.
Add explanation if not fixed

[2018-06-22 23:34] jinujoseph commented on #22122
We removed the isinvalid

[2018-06-22 23:34] #22122 closed

[2018-06-22 23:35] jinujoseph commented on #22121
Verify and close

[2018-06-22 23:36] jinujoseph commented on #22043
verify

[2018-06-22 23:37] jinujoseph commented on #22031
Verify and add more details

[2018-06-22 23:39] jinujoseph commented on #22030
verify and clarify

[2018-06-22 23:40] #22029 closed

[2018-06-22 23:41] jinujoseph commented on #22021
verify and close

[2018-06-22 23:44] #21866 closed

[2018-06-22 23:46] jinujoseph commented on #21797
verify and see if this is still needed

[2018-06-22 23:47] jinujoseph commented on #21671
To be verified and closed

[2018-06-22 23:49] #21554 closed

[2018-06-22 23:49] #21507 closed

[2018-06-22 23:51] #21279 closed

[2018-06-22 23:51] #21198 closed

[2018-06-22 23:52] jinujoseph commented on #21086
dont see the benefit of this

[2018-06-22 23:53] jinujoseph commented on #20889
mostly fixed , pls verify and close

[2018-06-22 23:54] #20789 closed

[2018-06-22 23:54] #20788 closed

[2018-06-22 23:54] #20760 closed

[2018-06-22 23:55] #20759 closed

[2018-06-22 23:56] jinujoseph commented on #20756
mostly done,
Pls verify and close

[2018-06-22 23:56] #20619 closed

[2018-06-22 23:57] #20366 closed

[2018-06-23 00:00] #20205 closed

[2018-06-23 00:01] jinujoseph commented on #20204
@333fred any chance of getting this done ? or rename the file pls or close it

[2018-06-23 00:03] davkean commented on #25678
@RipPer56 Need a little more information on what you are referring to and APIs if any you are using. If you can provide more information, feel free to open an issue over on http://github.com/dotnet/project-system.

[2018-06-23 00:03] #25678 closed

[2018-06-23 00:05] jinujoseph commented on #19603
old issue closing it , if still an issue pls reopen with current information

[2018-06-23 00:05] #19603 closed

[2018-06-23 00:08] jinujoseph commented on #19925
group it to single issue

[2018-06-23 00:10] jinujoseph commented on #18722
To be duped

[2018-06-23 00:10] #18658 closed

[2018-06-23 00:11] jinujoseph commented on #18550
@333fred can you verify and close

[2018-06-23 00:12] jinujoseph commented on #18537
verify and close

[2018-06-23 00:14] jinujoseph commented on #18351
This should be fixed now.
pls verify and close

[2018-06-23 00:14] #18306 closed

[2018-06-23 00:16] jinujoseph commented on #18225
verify and close

[2018-06-23 00:16] #18214 closed

[2018-06-23 00:17] jinujoseph commented on #18198
group all attributes one

[2018-06-23 00:17] jinujoseph commented on #18112
verify and close

[2018-06-23 00:18] jinujoseph commented on #18074
verify and close

[2018-06-23 00:19] #17838 closed

[2018-06-23 00:21] jinujoseph commented on #17606
verify IUserStatement test

[2018-06-23 00:21] #17597 closed

[2018-06-23 00:28] jinujoseph commented on #10488
Open a separate issue for qualified type names or specifics

[2018-06-23 00:29] #10080 closed

[2018-06-23 00:30] jinujoseph commented on #9309
dupe of userdefinedConditionallogicalbinaryoperator

[2018-06-23 00:31] #9077 closed

[2018-06-23 00:32] jinujoseph commented on #8912
Verify and close

[2018-06-23 00:35] jinujoseph commented on #8904
verify and close

[2018-06-23 00:37] jinujoseph commented on #8895
Verify and close (VB scenario)

[2018-06-23 00:38] jinujoseph commented on #8891
verify and close

[2018-06-23 00:39] #8884 closed

[2018-06-23 00:40] jinujoseph commented on #8854
Merge to single issue

[2018-06-23 00:41] jinujoseph commented on #8852
Merge to single issue

[2018-06-23 00:42] #8763 closed

[2018-06-23 00:44] jinujoseph commented on #8395
fixed

[2018-06-23 00:44] #8395 closed

[2018-06-23 00:44] dasMulli commented on #17666
Wouldn't this be a perfect opportunity for a global tool now?

`dotnet tool install -g dotnet-csi` / `dotnet tool install -g csi`

[2018-06-23 01:40] 333fred commented on #18074
This is not fixed. Getting the IOperation node for either of the literals returns nothing, we should be exposing the literals as children of the IInvalidOperation.

[2018-06-23 01:47] 333fred commented on #8904
We've handled the BoundLValueToRValueWrapper and BoundBadVariable cases, but we don't handle or have test cases for BoundTypeOrValueExpression.

[2018-06-23 02:08] SimonCropp commented on #19505
Happy to hop on a call and hash things out

[2018-06-23 04:33] PetSerAl commented on #27382
Shorter repro case:
[code]

[2018-06-23 04:49] filipw commented on #17666
[dotnet-script](https://github.com/filipw/dotnet-script) is already a global tool, and it supports everything CSI does + more (nuget etc).

what would you need a global CSI tool for? 😀

[2018-06-23 04:50] jcouv opened #28086 "SimplifyName: triggers on foreach where simplification is inapplicable"
![image](https://user-images.githubusercontent.com/12466233/41805852-e489844c-7665-11e8-9ee6-c1112d96e7f8.png)

`test` is grayed out. The code action doesn't make sense (changing the variable name from `test` to `var`).

I suspect this is a regression, as I would have noticed this before otherwise.

[code]

Tagging @jinujoseph for triage.

[2018-06-23 04:59] dasMulli commented on #17666
`dotnet-script` is fine just as well. I like to mess around with interactive mode from time to time. a few minutes ago I wanted to check some decimal numbers for bit masks. which I ended up doing using mono's `csi`. That's what made me think "I should check on the status of this on core"

I also like `csi` for small syntax demos, for which it would be great to have a tool that's available everywhe

[2018-06-23 05:32] OmarTawfik opened #28087 "Exception: Unexpected value 'ArrayAccess' In BoundExpressionExtensions.GetRefKind()"
Examples of the crash:

[code]

And

[code]

[2018-06-23 05:53] CyrusNajmabadi commented on #28086
Fixed with https://github.com/dotnet/roslyn/pull/26952

[2018-06-23 07:10] jaydeepbhowmik1982 commented on #21301
I have same issue for some days. After run window update. While copy some code or press delete button, VS crashed.

[2018-06-23 07:13] filipw commented on #17666
dotnet-script has interactive mode too 🙂

personally I use csi for situations like you mentioned - where I want to be certain that it already exists on the target machine without any extra set up, and since it ships with msbuild tools, it's always there.

On a side note, csi also works on mono, just the default distro is missing System.Runtime.dll that has to be copied into the csi folder.

[2018-06-23 07:14] jinujoseph commented on #28086
Duplicate of https://github.com/dotnet/roslyn/issues/26923
Fixed in 15.8.Preview3

[2018-06-23 07:14] #28086 closed

[2018-06-23 07:15] vsfeedback opened #28088 "Naming convention code style is missing for method parameters and local variables"
I'm trying to enforce a naming convention for method parameters and local variables inside methods, just as I can do for types, fields, properties, etc.  It doesn't seem to exist in the list of available naming style settings.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/276387/naming-convention-code-style-is-missing-for-method.html
VSTS ticketId: 63

[2018-06-23 07:59] mrnams commented on #24542
Install-Package Microsoft.Net.Compilers -Version 2.8.2
This will solve above mentioned error

[2018-06-23 08:53] CreateAndInject opened #28089 "A suggestion syntactic sugar."
I think `if (obj !is string)` /  `if (obj is! string)` is more elegant than `if (!(obj is string))` / `if (obj is string == false)`

[2018-06-23 11:59] cezarypiatek commented on #25962
It looks like the problem came back. Visual Studio 15.7.4

Stacktrace:

[code]

[2018-06-23 14:35] PathogenDavid commented on #28089
C# language features belong over in the [csharplang](https://github.com/dotnet/csharplang) repo.

This feature proposal already exists there as https://github.com/dotnet/csharplang/issues/1338

However it sounds like language designers are leaning towards a syntax like this:

[code]

The proposal for that particular syntax is tracked by https://github.com/dotnet/csharplang/issues/568 and is champi

[2018-06-23 14:59] #28089 closed

[2018-06-23 16:58] paulomorgado commented on #595
What style conventions?

[2018-06-23 18:00] kfreezen commented on #20628
This is happening to me after opening and working on a solution in Visual Studio for Mac and then trying to build the same solution in VS2017 on windows 7.

Error
[code]

There is no project.json in this particular folder, but there are three different `csproj` files for the same code.

[2018-06-23 20:47] bkoelman commented on #23219
Counting statements is for a coding guidelines document that I did not write. The guidance there describes number of statements, not (another indication of) complexity. Given that the document has 324 stars, I am confident there is value in it. But the analyzer should probably be implemented using a syntax walker, which is what I am currently working on.

Some usages can be easily replaced by a sy

[2018-06-24 02:52] heejaechang commented on #28024
I don't believe we own command handler anymore? @olegtk shouldn't command handler takes care of cancellation exception?

tagging @dpoeschl as well.

@jinujoseph I don't think it is our bug.

[2018-06-24 02:54] heejaechang commented on #28024
@jinujoseph it is dup of the closed bug?

[2018-06-24 06:47] jinujoseph commented on #28024
dupe of https://github.com/dotnet/roslyn/issues/28032

[2018-06-24 06:47] #28024 closed

[2018-06-24 11:00] danieljohnson2 commented on #5835
@kasper3, I don't think they are 'taking it into account'- I think they are going ahead with a breaking change. The spec used to promise a new delegate instance each time you did a method group conversion, and this won't be the case anymore. The new behavior will be less predictable.

That said, while this does demand a spec change, I doubt it will be a real problem. It would take some very strang

[2018-06-24 16:07] jcouv commented on #26326
I think UpgradeProject already kicks in once the diagnostic is produced, ie. the first time the project is built.

[2018-06-24 16:11] Neme12 commented on #26326
@jcouv It's not working for me even after I build.

[2018-06-24 16:15] Neme12 commented on #26326
I don't know if this is related, but I'm seeing a really interesting behavior in the error list when filtering:

![image](https://user-images.githubusercontent.com/11444821/41820976-5e292094-77da-11e8-939e-38e8cbc2bd65.png)

![image](https://user-images.githubusercontent.com/11444821/41820981-6009cfc6-77da-11e8-83bd-bfe6f644209f.png)

![image](https://user-images.githubusercontent.com/11444821/418

[2018-06-24 16:18] Neme12 commented on #26326
Regardless of that, since this is a build error there is no squiggle in the editor and no code fix available.

[2018-06-24 19:26] AArnott opened #28091 "IDE0009 misfires when using dictionary initializer syntax within LINQ expression"
Similar to #23381, except related to dictionary initializer instead of object initializer.

**Version Used**: VS 15.8.0 Preview 3 (27821.2.d15.8)

**Steps to Reproduce**:

[code]

Open the Nerdbank.GitVersioning.Tasks/SetCloudBuildVariables.cs file and check out the error list.

**Expected Behavior**:

No warnings.

**Actual Behavior**:

![image](https://user-images.githubusercontent.com/3548/4182

[2018-06-24 21:04] KirillOsenkov commented on #9807
Also perhaps IgnoreInvalidImports: http://source.dot.net/#Microsoft.Build/Definition/ProjectLoadSettings.cs,cf928ad300d72359

[2018-06-24 21:39] DVaughan opened #28092 "AttributeData.NamedArguments is not Populated on Xamarin Android"
**Version Used**:
Visual Studio 15.7.4
Microsoft.CodeAnalysis 2.8.2

**Description**
`AttributeData.NamedArguments` is correctly populated in .NET and .NET Core, but not in a Xamarin Android project.

**Steps to Reproduce**:

[RoslynAndroidCustomAttributes.zip](https://github.com/dotnet/roslyn/files/2131228/RoslynAndroidCustomAttributes.zip)

1. Create a Xamarin Android class library.
2. Create a

[2018-06-24 23:19] snickler commented on #28038
@jaredpar , is that binlog of any use?

[2018-06-25 06:18] twenzel commented on #28021
Thanks a lot, that helped.
But as @derkyjadex mentioned, there should be an UI to define this behaviour. Or, at least, a more prominent note in the documentation about this.

[2018-06-25 06:20] twenzel commented on #28017
Using the compiler switch as mentioned in #28021 the `My` support is there again.

[2018-06-25 07:12] vsfeedback opened #28093 "C# comment <summary> showing in collapsed mode"
Using c# comments

 /// &lt;summary&gt;
        /// Import
        /// &lt;/summary&gt;
        /// &lt;param name=&quot;fileStream&quot;&gt;&lt;/param&gt;
        /// &lt;returns&gt;&lt;/returns&gt;
        Task&lt;long&gt; Import(Stream fileStream);

In collpased mode it shows
/// &lt;summary&gt; Import

The &lt;summary&gt; portion shouldn't be seen

_This issue has been moved from https://devel

[2018-06-25 07:28] CyrusNajmabadi commented on #28093
As far as i know, this is veyr much by-design.  We've been doing things this way in c# for years now.

(unless i'm not understanding what the person is reporting).

[2018-06-25 08:00] vsfeedback opened #28094 ""Format Document" for C#: keyword new and arrays of value tuple"
The &quot;format document&quot; function removes the blank between the &quot;new&quot; keyword and the type, if the type is an array of value tuple.

Example:

// How it should look like
(string a, string b)[] ab = new (string a, string b)[1];

// What the &quot;format document&quot; does:
(string a, string b)[] ab = new(string a, string b)[1];

This is annoying if you use StyleCop, as it violates

[2018-06-25 10:15] amikulich commented on #26755
hi @jcouv
yes, the issue still exists, but I didn't figure out how to reproduce it yet

[2018-06-25 12:53] jnm2 commented on #25127
It's spreading.

[code]

[2018-06-25 13:18] MortenChristiansen commented on #16211
@tmat I've tried applying the things mentioned in this issue but I can't figure out how to generate an assembly using Roslyn which can be consumed by a .NET Core application. I've created a simple [repro](https://github.com/MortenChristiansen/CodegenRepro) - maybe you can see what I'm missing/doing wrong? The idea is that the Codegen console app generates the assembly Thing.dll which the ConsoleAp

[2018-06-25 13:47] idontknowwhY666 commented on #27781
hi jinujoseph, wouldn't be possible to fix already in 10.8? I had to 'fix' that by using older VS 15.0...

[2018-06-25 14:42] mavasani commented on #27208
@bkoelman Can you clarify this? We have a helper method [GetAnalyzerDiagnostics](http://source.roslyn.io/#Roslyn.Test.Utilities/Diagnostics/DiagnosticExtensions.cs,169] that has an optional parameter `Action<Exception, DiagnosticAnalyzer, Diagnostic> onAnalyzerException = null`, which does give propagate the exception info if the caller desires. If you are creating your own `CompilationWithAnalyze

[2018-06-25 14:50] mavasani opened #28095 "Extension method to map an IBranchOperation to the parenting ILoopOperation or ISwitchOperation"
See the second bullet point in Nice to have listed by @bkoelman in this comment: https://github.com/dotnet/roslyn/issues/27208#issuecomment-396575101

[2018-06-25 14:51] mavasani commented on #27208
[IBranchOperation.Target](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/IBranchOperation.cs,22) points the the destination label symbol. [ILoopOperation](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/Loops/ILoopOperation.cs,19) now exposes the break and continue label symbols and [ISwitchOperation](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/ISwitchOperatio

[2018-06-25 14:52] mavasani commented on #28095
[IBranchOperation.Target](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/IBranchOperation.cs,22) points to the destination label symbol. [ILoopOperation](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/Loops/ILoopOperation.cs,19) now exposes the break and continue label symbols and [ISwitchOperation](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/ISwitchOperation

[2018-06-25 14:56] AArnott opened #28096 "CS1061 "Add Using" code fix also changes the name of the method called"
**Version Used**: 15.8.0 Preview 3 (27821.2.d15.8)

**Steps to Reproduce**:

1. Download and extract [this minimal repro solution](https://github.com/dotnet/roslyn/files/2133583/ClassLibrary17.zip)
2. Open ClassLibrary17.sln and Class1.cs
3. Set caret on line 14 and press Ctrl+. to activate quick fix menu.

**Expected Behavior**:

An offer to "add `using NuGet.Protocol;`" (which is what I actually

[2018-06-25 14:57] mavasani opened #28097 "Convenience API to provide operation blocks/roots for a given symbol"
Currently, an analyzer can register an operation block action and get hold of all operation blocks for each symbol that has an associated executable code block. This issue tracks exposing a convenience API for non-analyzer clients to get operations blocks for a given symbol.

See second bullet point in **Essentials** section in the comment from @bkoelman here: https://github.com/dotnet/roslyn/issu

[2018-06-25 14:57] mavasani commented on #27208
Filed https://github.com/dotnet/roslyn/issues/28097

[2018-06-25 14:58] AArnott commented on #28096
OK, I just realized the docs I was reading are out of date. There is no longer a `GetCoreV2` method defined in the library. So I guess this quick fix is a result of some (new?) fuzzy matching logic, which is honestly pretty cool -- if it weren't so subtle it would be better though, IMO.

[2018-06-25 15:02] cston commented on #27375
Currently forwarded types are not exposed as symbols from the forwarding assembly so lookup fails when the type is qualified with an alias to the forwarding assembly. Fixing this is likely to be a significant change. Closing as by design for now. @morganbr, please re-open this issue if it is blocking.

[2018-06-25 15:02] #27375 closed

[2018-06-25 15:04] mavasani opened #28098 "Expose richer IOperation API for queries"
We currently expose an `ITranslatedQueryOperation` to represent the high level operation node generated for a query expression. This issue tracks design and implementation of richer IOperation API, with possible design alternatives:

1. Enhance the subtree of an `ITranslatedQueryOperation`. For example, by wrapping translated invocation nodes for clauses with new query clause operation nodes.
2. E

[2018-06-25 15:05] mavasani commented on #17838
https://github.com/dotnet/roslyn/issues/28098 tracks exposing richer IOperation API for queries. This issue was closed as we do expose an `ITranslatedQueryOperation` for queries.

[2018-06-25 15:12] mavasani opened #28099 "IOperation node for checked/unchecked statement"
We currently expose a bool `IsChecked` on IOperation nodes where checked/unchecked is applicable, such as say [IBinaryOperation.IsChecked](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/IBinaryOperation.cs,45). This issue tracks exposing an IOperation node corresponding to checked/unchecked statement. This feature request would need us to change the C# and VB binders to create new boun

[2018-06-25 15:13] mavasani commented on #28099
See customer request from @bkoelman here: https://github.com/dotnet/roslyn/issues/27208#issuecomment-395763450

[2018-06-25 15:25] mavasani commented on #27208
We have decided against exposing any such information directly on operations nodes and also any extension method for it:

1. `HasErrors` or `IsInvalid` can have vastly different semantics based on client requirements. Is the client looking for syntax errors or semantic errors? Do they want to know of a diagnostic of a specific severity or above or any diagnostic? Do they want to know if the diagno

[2018-06-25 15:29] mavasani commented on #27208
@bkoelman Thanks a lot for your feedback, and your willingness to help us out by contributing in this area. I believe all of your requests or concerns in this issue have now either been addressed or have a separate specific issue tracking them. If you feel something has been missed or disagree with some statements/claims made here, please file a separate issue to discuss and track that work. I am

[2018-06-25 15:29] #27208 closed

[2018-06-25 15:47] jaredpar commented on #28038
@snickler unfortunately no that didn't capture the info we were looking for. Can you try the latest build from the CLI team?

https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-arm64.tar.gz

That has code we added to make this type of crash more visible in logs / command line. That one should put the info we need in the binary log.

[2018-06-25 15:53] jaredpar commented on #19505
@xoofx

No. I'm more worried about the integrity of C#. There is a reason that C# has a spec and that the compiler adhers to that spec with the exception of compat issues. The language provides strong guarantees about how the code will be interpreted and executed. Once plugins can arbitrarily rewrite the code then all those guarantees go away. It becomes impossible for the developer, and the compi

[2018-06-25 15:58] Nikolay-Ch commented on #23083
Hi,
I'm use .NetCore 2.1.300, Visual Studio 2017 v15.3.3 and can't use analyzers... :(
In Visual Studio only one version is worked to me: Microsoft.NetFramework.Analyzers.2.3.0-beta1
If I install 2.6.0 or 2.6.1 - Visual Studio is full or warnings:

Another problem is... when my code is built on a build-mashine by msbuild, I get error:

[2018-06-25 16:14] mavasani commented on #22554
Verified the tree is now correct:

[code]

[2018-06-25 16:14] #22554 closed

[2018-06-25 16:22] mavasani commented on #22031
Seems like this is still reproing for C#, and we have redundant implicit identity conversion nodes for collection. VB seems to have correct tree. See C# unit test [IForEachLoopStatement_WithList](http://index/?query=IForEachLoopStatement_WithList&rightProject=Roslyn.Compilers.CSharp.Semantic.UnitTests&file=IOperation%5CIOperationTests_IForEachLoopStatement.cs&line=91):

[code]

[2018-06-25 16:23] mavasani commented on #22031
As we discussed, the work here is in the C# binder layer to avoid create such redundant bound conversion nodes, which should automatically fix the operation tree. Moving to compiler team.

[2018-06-25 16:23] 333fred commented on #21086
@jinujoseph this would have been useful for the ioperation visualizer, as children is lazily evaluated and we'd like to not force evaluation of the entire tree to determine which nodes can have children. Even if this is implemented as an extension, it would be good to have.

[2018-06-25 16:37] agocke opened #28102 "More tests for pattern using"
Follow up to https://github.com/dotnet/roslyn/pull/27729

Jared suggested a variety of useful tests that weren't included in the original PR. They are:

* Tests to ensure we bind correctly when presented with the pattern + an interface implementation
* Tests where the receiver is a generic parameter constrained
   * To an interface that implements an interface that meets the disposable pattern but

[2018-06-25 16:42] jmarolf commented on #19505
I agree that IL patching as a build step is both:
1. hard to maintain as a implementer
2. difficult reason about as a customer

Correct me if I am wrong @xoofx but I going to be working under the assumption that a solution to our problem would be able to create [LinqOptimizer](https://github.com/nessos/LinqOptimizer) using roslyn apis.

So what do we need?

1. Ability to load compilations (implici

[2018-06-25 16:44] xoofx commented on #19505
@jaredpar

That's a bit exaggerating that the whole integrity of C# would be at stake because a plugin could misbehave. We could perfectly ask the user to report to Roslyn with only safe mode compiler "on". This could be a property in the project to setup.

So today, there are thousands of projects using IL patching solutions (either commercial or things like [Fody](https://github.com/ltrzesniewsk

[2018-06-25 16:49] jmarolf commented on #19505
Yes we have had several compiler bugs where IL weaving caused crashes and it took us a long time to determine that it was not a compiler bug, but an IL weaver bug.

[2018-06-25 16:53] xoofx commented on #19505
So yep, that confirms that you get trouble anyway, even without a compiler plugin in Roslyn... so, the integrity in C# is not doomed 😉

[2018-06-25 16:58] jaredpar commented on #19505
@xoofx

Disagree. This is not about misbehaving plugins. It's about correctly functioning plugins. The only reason for rewriting code is to meaningfully change the way in which the code executes.

Agree these exists and that they should exists. But they should not exist as part of the compiler.

This is a frequent problem for the compiler team. This is true for all the different ways in which deve

[2018-06-25 16:58] agocke commented on #19505
@xoofx This actually presents an ongoing problem for the compiler team. We already spend a fair amount of time chasing down bugs in other products, especially IL rewriters and obfuscators. Increasing the probability that people use these mechanisms has a direct negative cost to our productivity.

This is especially bad for enterprise customers with support contracts, as we are often required to fi

[2018-06-25 17:48] xoofx commented on #19505
So this problem is unavoidable no matter plugins exist or not. But at least, with a plugin infrastructure right into the compiler, we would be able to track through some assembly attributes which plugins have been used. It would at least streamline to identify what has been modifying the code.

But fair enough, I finally got the plot behind the resistance against the post-compilation plugin idea.

[2018-06-25 18:09] mavasani commented on #27997
@mvacha Your source snippet seems to be missing a `using System;` for `DateTime`, which causes the compilation error leading to unbound type `DateTime`, which causes `new DateTime()` to be an invalid operation.

[2018-06-25 18:11] mavasani commented on #27997
Something like: IStructCreationOperation which does not exist yet.

@mvacha With a valid source code snippet, you will get an [IObjectCreationOperation](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/IObjectCreationOperation.cs,19) node for the constructor invocation. Kindly re-open the issue if it is not so.

[2018-06-25 18:11] #27997 closed

[2018-06-25 18:14] chborl opened #28104 "NetCoreTests failing in Jenkins"
These tests: Microsoft.CodeAnalysis.MSBuild.UnitTests.NetCoreTests.TestOpenProject_NetCoreMultiTFM_ProjectReferenceWithReversedTFMs
Microsoft.CodeAnalysis.MSBuild.UnitTests.NetCoreTests.TestOpenProject_NetCoreMultiTFM
Microsoft.CodeAnalysis.MSBuild.UnitTests.NetCoreTests.TestOpenProject_NetCoreMultiTFM_ProjectReference

are failing on master

https://ci.dot.net/job/dotnet_roslyn/view/Official%20Bu

[2018-06-25 18:34] mavasani commented on #26900
Issue seems to be in the VB binder in `BindArrayInitializerList` over [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic/Binding/Binder_Expressions.vb,4270), where we detect an error case and report diagnostic, but generate a `BoundArrayInitialization` with no children instead of one child. This also causes `GetSymbolInfo` to fail on `v1`.

[2018-06-25 18:36] agocke commented on #19505
I think Jared and I have basically different arguments here, fwiw. I don't like post-compilation because, by and large, the results are buggy crap that we inevitably have to debug. Jared's a manager and isn't weighted by such pedestrian concerns 😉. I believe his position is more that the compiler shouldn't be in the job of code rewriting, because our job is to produce a translation engine from C#

[2018-06-25 18:37] mavasani commented on #23810
Verified fixed with https://github.com/dotnet/roslyn/pull/27046. Workaround in Microsoft.CodeAnalysis.Test.Utilities.TestOperationVisitor.VisitEventAssignment has also been removed.

[2018-06-25 18:37] #23810 closed

[2018-06-25 18:41] heejaechang commented on #26577
IOperationTree should return Children in evaluation order. we don't have test for it though. we don't want to put children order in our operation tree test.

any idea on what would be best way to add test for it?

[2018-06-25 18:42] mavasani commented on #23821
Associated the wrong issue in https://github.com/dotnet/roslyn/pull/28101, re-opening this issue.

[2018-06-25 18:43] mavasani commented on #22980
Verified fixed, and unskipped the test with https://github.com/dotnet/roslyn/pull/28101

[2018-06-25 18:43] #22980 closed

[2018-06-25 18:57] SimonCropp commented on #19505
@agocke

This seems unnecessarily antagonistic to many of the people we want to involve in this conversation, ie the people who have experience in IL re-writing.

Also I am certain than many of the owners of those tools that have bugs (as all software does), have spent a non trivial amount of time helping users of their tools (an ms customers), to debug problems that resolve down to a bugs in MS s

[2018-06-25 19:30] agocke commented on #19505
Now you're describing an arbitrary codegen platform. Helping users generate IL, making sure the IL is legal, maybe making sure the IL has some subset of the semantics provided by the initial program -- these are just codegen tools. I don't think inserting this stuff into the compiler is good software design and I don't think the goals of the compiler team are well served by us owning this process.

[2018-06-25 19:44] ivanbasov commented on #28040
There is VSO [397711](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/397711)
It is ranked 287 in 15.7.4. There are Watson heap dumps https://watson/Failure?FailureSearchText=6f329d54-254a-1b2a-028e-e682757b49e1

Scheduling the issue to Dev16.

[2018-06-25 19:48] jasonmalinowski commented on #28062
@heejaechang Chatting with Sam, this is flagging this test as being bad -- something is starting an async operation and never cancelling it.

[2018-06-25 19:48] xoofx commented on #19505
![image](https://user-images.githubusercontent.com/715038/41872031-0798e0f6-78c1-11e8-8485-ec21a62aad7b.png)

Got a Roslyn plugin compiler with my branch [compilation-rewriter](https://github.com/xoofx/roslyn/tree/compilation-rewriter) using the existing diagnostic analyzers infrastructure... Now, it is so tempting to proceed further...

[2018-06-25 19:48] agocke commented on #19505
Btw I didn't mean Fody or other tool is buggy. There's a huge amount of ildasm/ilasm going on that is very buggy. A lot of it from within Microsoft.

[2018-06-25 19:49] ivanbasov commented on #28018
It seems it is related to https://devdiv.visualstudio.com/DevDiv/_workitems/edit/169962 which is scheduled to 15.8.

[2018-06-25 19:57] 333fred commented on #20204
I'd like to get this done in the 16.0 timeframe, but it's definitely low on the priority list.

[2018-06-25 20:04] 333fred commented on #18351
With the changes to the way that GetOperation works, it's no longer possible to retrieve those individual IOperations, as per design decision.

[2018-06-25 20:04] #18351 closed

[2018-06-25 20:05] 333fred commented on #18550
This was fixed with #26781

[2018-06-25 20:05] #18550 closed

[2018-06-25 20:43] agocke commented on #19505
I don't think the job of the Roslyn platform *is* narrow, I just don't think it's an arbitrary code generation platform. I'm sorry if my statements came across as insulting @SimonCropp, I meant them the exact opposite way -- Fody and friends are existing code generation platforms *that are good*. I just don't think they belong in the compiler pipeline. Code rewriting is an important piece, but it

[2018-06-25 21:20] SimonCropp commented on #19505
Replace "compile time" with "runtime", and you have exactly described what the majority of people spend much time on as programmers, debugging interactions between various components. Dont get me wrong this is not ideal, but is the nature of delivering business value. as long as the business value outweighs the friction, then we are ahead in the long run.

I dont see why the compiler should be imm

[2018-06-25 21:23] ivanbasov commented on #26730
It seems it is fixed with https://github.com/dotnet/roslyn/pull/26720

[2018-06-25 21:23] #26730 closed

[2018-06-25 21:29] jmarolf commented on #28096
This behavior has been in since at least 15.3 (@CyrusNajmabadi  to confirm).  If we detect that there is a symbol already defined that is within a certain edit-distance we offer to correct it.  With us knowing about symbols defined in nuget packages we will do this if the only symbol we find is in an unreferenced nuget package.

[2018-06-25 21:30] tmat commented on #28104
There are a few issues with these tests:
- restore errors are not reported
  - at least the tests should assert that `dotnet restore` succeeded and print out any errors if it fails
  - ideally restore binlog would be stored in artifacts for inspection when the test fails
- the tests assumes `dotnet` is installed and its location is in `PATH` and uses whatever version is found there
  - instead the

[2018-06-25 21:40] AArnott commented on #28096
OK. Well as I say, it's a nifty feature. It just caught me off guard.

[2018-06-25 21:42] CyrusNajmabadi commented on #28096
Indeed.  This is by design.  Note: i think there is a *lot* of open space here for "calling out" things that are unexpected.  Whether that is through text (i.e.  ```(fuzzy match)```), or through iconography (i.e. an exclamation glyph or something), is completely open.  Tagging @sharwell @kuhlenh to track this as this goes into the general bucket of giving people confidence about the selections the

[2018-06-25 21:42] #23819 closed

[2018-06-25 21:46] CyrusNajmabadi commented on #28096
here's an idea:  as an example, we already have a glyph we use if we're going to *add* a nuget package.  We use that glyph to help draw the user's attention tot he fact that this is going to do something "big".

We should consider the same for "fuzzy matching". i.e. we should have a custom glyph that indicates that a name change is going to happen.  So that the list is much clearer that this is mo

[2018-06-25 21:51] CyrusNajmabadi commented on #19505
Here's my concern about this though.  In many of the conversations that have come about on this topic, i've often seen the following back and forth:

To which, the response has been something like:

So, it's very hard for me to gauge what is and isn't actually important.  Or why it is/isn't important to be part of the actual Roslyn compiler platform.

If the existing deficiencies aren't a problem,

[2018-06-25 21:59] mavasani commented on #23324
This seems to be caused by the VB binder generating a `BoundArrayLiteral` node wrapping an `BoundArrayInitialization` node, with `ReclassifyArrayLiteralExpression` converting the former into a `BoundArrayInitialization`.

[2018-06-25 22:10] mavasani commented on #22430
Dupe of https://github.com/dotnet/roslyn/issues/18198

[2018-06-25 22:10] #22430 closed

[2018-06-25 22:14] mavasani commented on #22043
Verified the current baseline does indeed have an invalid operation for this case:

[code]

[2018-06-25 22:14] #22043 closed

[2018-06-25 22:28] mavasani commented on #22121
We still seem to generate an operation with `OperationKind.None` for a `BoundMethodGroup` node in the bound tree:

[code]

However, that is wrapped with an invalid operation and we have a separate item tracking implementing BoundMethodGroup support: https://github.com/dotnet/roslyn/issues/19965

[2018-06-25 22:28] #22121 closed

[2018-06-25 22:42] mavasani commented on #20889
This is now fixed. The expected operation tree for foreach statement in the above unit test has the following operation node:

[code]

[2018-06-25 22:43] #20889 closed

[2018-06-25 23:10] heejaechang commented on #28062
@sharwell hmmm.. okay. so all pending works must be disposed? is that basically what this wants? test itself is passing right?

[2018-06-25 23:17] heejaechang commented on #28062
basically, it looks like test doesn't care pending work items in the queue as long as it got things it needs processed. and it close solution crawler in shutdown mode (which is VS shutdown) basically doesn't care anything pending.

[2018-06-25 23:19] heejaechang commented on #21301
@jaydeepbhowmik1982 can you provide us a dump?

[2018-06-25 23:21] mavasani commented on #18537
We do not generate an `IInvocationOperation` for this case now. The actual operation tree is:

[code]

This seems reasonable (note that the OperationKind.None node is for BoundMethodGroup).

[2018-06-25 23:21] #18537 closed

[2018-06-25 23:27] mavasani commented on #9309
Dupe of https://github.com/dotnet/roslyn/issues/19925

[2018-06-25 23:27] #9309 closed

[2018-06-25 23:35] heejaechang commented on #27781
@jinujoseph we should give this bug to servicehub team.

[2018-06-25 23:38] mavasani commented on #22575
Seems that just the output from the dumper truncates middle characters if syntax is longer then certain limit. Not sure if it is worth fixing the dumper format here.

[2018-06-25 23:38] #22575 closed

[2018-06-25 23:41] mavasani commented on #27598
Dupe of https://github.com/dotnet/roslyn/issues/27598

[2018-06-25 23:41] #27598 closed

[2018-06-25 23:43] mavasani commented on #23325
Dupe of https://github.com/dotnet/roslyn/issues/23325

[2018-06-25 23:43] #23325 closed

[2018-06-25 23:43] AlekseyTs commented on #8912
Surfaced as an invocation in https://github.com/dotnet/roslyn/pull/26395.

[2018-06-25 23:43] #8912 closed

[2018-06-25 23:43] mavasani commented on #8852
Dupe of https://github.com/dotnet/roslyn/issues/23325

[2018-06-25 23:43] #8852 closed

[2018-06-25 23:47] mavasani commented on #26176
Also consider exposing `IsChecked` info, as mentioned here: https://github.com/dotnet/roslyn/issues/22021

[2018-06-25 23:48] mavasani commented on #22021
Dupe of https://github.com/dotnet/roslyn/issues/26176

[2018-06-25 23:48] #22021 closed

[2018-06-25 23:50] heejaechang commented on #28018
@ivanbasov awesome thank you!

[2018-06-25 23:50] halter73 opened #28110 "CSC : error CS8002 disappears on rebuild"
**Version Used**:

[code]
[code]

**Steps to Reproduce**:

1. Create a new netcoreapp2.1 project with the `SignAssembly` property set to true.
2. Add an unsigned package reference. I used [RedHatX.AspNetCore.Server.Kestrel.Transport.Linux](https://github.com/redhat-developer/kestrel-linux-transport).
3. Run `dotnet build`.
4. Run `dotnet build` again.

**Expected Behavior**:

Both times I run `dot

[2018-06-25 23:58] mavasani commented on #18112
This seems to be a case where the parse tree itself puts all the text after `Step` into skipped trivia, hence we have no semantic information. Closing by design.

[2018-06-25 23:58] #18112 closed

[2018-06-25 23:59] AlekseyTs commented on #8895
Looks fixed in https://github.com/dotnet/roslyn/pull/22972

[2018-06-25 23:59] #8895 closed

[2018-06-26 01:46] #26180 closed

[2018-06-26 04:15] JieCarolHu opened #28111 "add unit tests for close brace quick info item"
Also considering break down BuildClassifiedTextElementForClassifiedSpans() for easier testing

![image](https://user-images.githubusercontent.com/17056651/41889144-c6f40bbe-78bd-11e8-8f3b-047d77c05a58.png)

[2018-06-26 05:15] xoofx commented on #19505
Using quotes for something we never said is a bit troubling... We did say that the problem exist but we didn't have the choice other than to live with it. That's different, we wouldn't have had this discussion in the first place if we were not already in the wild west looking for something better

Let me reiterate why this plugin architecture is important to be part of Roslyn:

- Compilation time

[2018-06-26 07:14] jinujoseph commented on #27781
waiting to hear back from servicehub team, this might have already been fixed

[2018-06-26 08:10] FlorianHaupt commented on #24031
Would be nice to get this fixed, would save much time.

[2018-06-26 08:13] pedoc opened #28112 "ValueTuple does not work properly when using the dynamic parameter in function"
**Version Used**:
Framework:netcore2.0
LanguageVersion:C#latest(7.3)

**Steps to Reproduce**:
1. create console project
2. test code:
[code]

**Expected Behavior**:
print True,False in console

**Actual Behavior**:
throw a Exception:
`Microsoft.CSharp.RuntimeBinder.RuntimeBinderException:“'System.ValueTuple<bool,bool>' does not contain a definition for 'result1'”`

when `TestTuple` argument Type i

[2018-06-26 08:28] bkoelman commented on #27208
My project has a NuGet reference to Microsoft.CodeAnalysis v2.8.2, which does not contain type `Microsoft.CodeAnalysis.DiagnosticExtensions`. According to source browser, it lives in a project called TestUtilities. Maybe that does not get distributed via NuGet?

For reference, I am using [this code](https://github.com/bkoelman/RoslynTestFramework/blob/253c05695b1c25ec4236a6436cc1747209f331e4/Analy

[2018-06-26 08:55] bkoelman opened #28113 "Provide a mechanism to skip over broken source code"
As an analyzer author, it seems nearly impossible to know when syntax/symbol/operation properties can be `null`, as a result of source code that contains errors. Usually because the user is still typing.

Of course, I can be defensive and put a null check around *every* member access. But that makes the analyzer sources hard to read, so I would rather not do that.

I've tried a few analyzer packs

[2018-06-26 09:00] IanKemp opened #28114 "What Code Analysis rules control whether the "Remove Unnecessary Usings" codefix is shown?"
Visual Studio 2017 version 15.7.4, Windows 10 x64 version 1803 (build 17134.112)

We've tweaked the Code Analysis rules in our solution via a .ruleset file, and now we're no longer prompted to "Remove Unnecessary Usings". Since (apparently) ["Remove Unnecessary Usings" isn't implemented by a single CA rule](https://github.com/dotnet/roslyn/issues/2769#issuecomment-102205388), which rules (and/or p

[2018-06-26 09:13] IanKemp commented on #24680
@gafter Apologies for bumping an old issue, but I don't think I'm understanding your explanation - are you saying that because the applicable `System.Reactive.Linq` extension method `Observable.ToObservable` **could** be called by this program, the namespace in which they're defined is considered as "used" during analysis?

If this is the case, it's very odd - especially considering that doing the

[2018-06-26 09:42] bkoelman commented on #23152
So operations should not expose whether they are statements or expressions because operations are semantic. We (analyzer authors) should not depend on the underlying syntax (or language) too much because it is a different level of abstraction. Or whether the user actually typed the code or that the compiler generated it. Because at this abstraction level such information becomes less irrelevant.

[2018-06-26 09:43] bkoelman commented on #23263
So operations should not expose whether they are statements or expressions because operations are semantic. We (analyzer authors) should not depend on the underlying syntax (or language) too much because it is a different level of abstraction. Or whether the user actually typed the code or that the compiler generated it. Because at this abstraction level such information becomes less irrelevant.

[2018-06-26 11:18] IanKemp commented on #28114
Oh goodness:

* CS8019 "Unnecessary using directive" (Microsoft.CodeAnalysis.CSharp) controls whether or not the code fix is actually offered.
* IDE0005 "Using directive is unnecessary" (Microsoft.CodeAnalysis.CSharp.Features) controls whether or not the unused using's text appears faded-out to indicate it's unused, and thus hint to the above fix.

IMO, these should be named and numbered identical

[2018-06-26 11:18] #28114 closed

[2018-06-26 11:30] IanKemp opened #28116 "Why are code fixes not offered when the Warning Level is set to less than 4?"
Visual Studio 2017 version 15.7.4, Windows 10 x64 version 1803 (build 17134.112)

As per [this Stack Overflow question](https://stackoverflow.com/a/32698012/70345), when a project's Warning Level is set to anything lower than 4, code fixes are not offered. (Note that the question is in regards to VS2015, but the mentioned behaviour occurs in VS2017 as well.)

As one of the comments on the accepted

[2018-06-26 12:04] HaloFour commented on #28112
When you use a `dynamic` in any expression the entire expression becomes `dynamic` and evaluated at runtime.  So when you pass `input` to `TestTuple` as a `dynamic` the compiler skips compile-time checking of the entire expression and `output` is also of type `dynamic`.

Add to that the fact that tuple names don't existing at runtime and you get this confusion.  The `result1` and `result2` pseudo-

[2018-06-26 12:22] scottmcd9999 commented on #26672
I have the same issue running 15.7.3:

 <description>System.AggregateException: One or more errors occurred. ---&gt; System.NullReferenceException: Object reference not set to an instance of an object.&#x000D;&#x000A;   at Microsoft.CodeAnalysis.Editor.QuickInfo.DeferredContentFrameworkElementFactory.CreateElement(IDeferredQuickInfoContent deferredContent)&#x000D;&#x000A;   at Microsoft.CodeAnalys

[2018-06-26 12:28] OmarTawfik opened #28117 "Ref-assigning to a non-ref parameter should be an error"
[code]

[2018-06-26 12:55] scottmcd9999 commented on #26672
I just updated to 15.8, and I still get the issue.

Scott

From: David Kean <notifications@github.com>
Sent: Tuesday, June 26, 2018 8:25 AM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: scottmcd9999 <scott@infotrakker.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn] Opening a Visual Basic file resulted in >100 editor errors about NullReferenceException in DeferredContent

[2018-06-26 13:00] davkean commented on #26672
What's happening, is VS crashing or are you getting this from ActivityLog.xml? Where are you pulling the stack from?

[2018-06-26 13:30] OmarTawfik commented on #28019
That's not an issue with the C# compiler (roslyn), but a bigger issue of the runtime binder not handling `in` parameters correctly. I'll close this and move the bug over to corefx framework:
https://github.com/dotnet/corefx/issues/30665
The binder first needs some work to be able to support them correctly. let me know if you've any other questions.

[2018-06-26 13:30] #28019 closed

[2018-06-26 13:37] OmarTawfik commented on #27831
It is basically a crash during lowering. The rewriter fails when rewriting conversions along with awaited values:

[code]

[2018-06-26 13:48] scottmcd9999 commented on #26672
I get a notif during editing, and I pull it from ActivityLog.xml

Scott

From: David Kean <notifications@github.com>
Sent: Tuesday, June 26, 2018 9:02 AM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: scottmcd9999 <scott@infotrakker.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn] Opening a Visual Basic file resulted in >100 editor errors about NullReferenceException in D

[2018-06-26 13:53] davkean commented on #26672
@JieCarolHu @jinujoseph Got a report that this is still happening on 15.8 Preview 2.

This method still exists: https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/Core.Wpf/QuickInfo/DeferredContentFrameworkElementFactory.cs#L31. Was it supposed to be removed?

[2018-06-26 14:37] pedoc commented on #28112
@HaloFour hi，thanks for reply 😄

in the sample code，`input` not any reference in function `TestTuple`,at this time,compiler shouldn’t skip this directly，so as to avoid the return value becoming `dynamic`?

[2018-06-26 14:48] svick commented on #28112
@pedoc `dynamic` does not consider whatever is inside the called method and I don't think it should. The rule is that when an expression contains a `dynamic` sub-expression, the whole expression is `dynamic` (with the exception of casting).

[2018-06-26 14:53] HaloFour commented on #28112
@pedoc

The fact that you pass `input` to `TestTuple` is what causes the entire expression to be evaluated at runtime.  The compiler at that point will do some rudimentary checks to ensure that the method exists, that it has the correct arity and that any non-dynamic arguments are of the appropriate type.  But the invocation of the method is emitted and bound at run time, instead of trying to cast

[2018-06-26 15:02] mavasani commented on #8394
Also see https://github.com/dotnet/roslyn/issues/19673#issuecomment-305637664

[2018-06-26 15:03] mavasani commented on #19673
Dupe of https://github.com/dotnet/roslyn/issues/8394

[2018-06-26 15:03] #19673 closed

[2018-06-26 15:05] mavasani commented on #27740
Dupe of https://github.com/dotnet/roslyn/issues/8909. Argument to nameof is a BoundTypeExpression, which is currently exposed as operation kind None.

[2018-06-26 15:05] #27740 closed

[2018-06-26 15:14] mavasani commented on #27208
@bkoelman Seems like your code [here](https://github.com/bkoelman/RoslynTestFramework/blob/253c05695b1c25ec4236a6436cc1747209f331e4/AnalysisTestFixture.cs#L99) can be changed to use [this](http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/DiagnosticAnalyzerExtensions.cs,28) overload of `WithAnalyzers` API. The `CompilationWithAnalyzersOptions` wrapping the existing `AnalyzerOption

[2018-06-26 15:35] pedoc commented on #28112
@svick @HaloFour ok,thanks a lot of

[2018-06-26 15:35] #28112 closed

[2018-06-26 15:44] ufcpp commented on #28112
[code]

[2018-06-26 15:46] mavasani commented on #28113
Tagging @AlekseyTs @333fred @dotnet/analyzer-ioperation

@bkoelman `IOperation.HasErrors` was deliberately removed as it conflated two different concepts - (a) semantic tree that exposes semantics of code and (b) diagnostics produced by compiler for invalid syntax or semantics, the latter just being a side effect of compiler execution. Latter information is realistically not needed to analyze sema

[2018-06-26 16:05] jaredpar commented on #28087
Is this the repo for the high hit Watson we've been seeing around `GetRefKind`?

[2018-06-26 16:13] jinujoseph commented on #25595
Closing this as this doesn't repro recently . pls reopen if this is re-occurs

[2018-06-26 16:13] #25595 closed

[2018-06-26 16:15] sharwell commented on #28093
Tentatively marking this as **By Design**. Will update or close based on the outcome of a design review.

[2018-06-26 16:18] jinujoseph commented on #28116
Duplicate of #17286

[2018-06-26 16:19] jinujoseph commented on #17286
Duplicate of #20377

[2018-06-26 16:19] #17286 closed

[2018-06-26 16:19] RyanToth3 commented on #27781
This issue should be fixed in an upcoming preview of Visual Studio 15.8.

[2018-06-26 16:28] jinujoseph commented on #28088
Duplicate of #18121

[2018-06-26 16:28] #28088 closed

[2018-06-26 16:31] jinujoseph commented on #27198
cc Editor team (@olegtk  we will like to work together for multiple language consistency)

[2018-06-26 16:43] snickler commented on #28038
The latest dotnet build, builds and runs properly.

[code]
[msbuilddotnet.zip](https://github.com/dotnet/roslyn/files/2138072/msbuilddotnet.zip)

[2018-06-26 16:43] jinujoseph commented on #25989
cc @tannergooding

[2018-06-26 16:47] jinujoseph commented on #25744
@jmarolf is this done already ?

[2018-06-26 16:50] BillWagner commented on #25744
There's one update for the table above:  The [getting started with syntax transformation](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/get-started/syntax-transformation) using C# has been published.

[2018-06-26 16:51] tannergooding commented on #25989
CC. @kuhlenh

[2018-06-26 17:00] #25586 closed

[2018-06-26 17:07] MaStr11 commented on #25744
I would recommend to not remove the wiki pages but to replace the content with a short explanation that the content has moved and a link to the new location. There are a lot of blog posts pointing to these wiki pages out there.

[2018-06-26 17:13] JieCarolHu commented on #26672
@davkean It is gone in master-vs-deps branch. I am not entirely sure when it will be merged into master.

[2018-06-26 17:29] mavasani opened #28130 "Make ControlFlowGraphBuilder cancellable"
https://github.com/dotnet/roslyn/pull/28079 adds cancellationToken to each of the CFG public APIs. This issue tracks passing down this token to the ControlFlowGraphBuilder and making the Create API cancellable.

[2018-06-26 17:36] mavasani opened #28132 "Exception handling in IOperation and CFG related public APIs"
[SemanticModel.GetOperation](http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/SemanticModel.cs,81) and [ControlFlowGraph.CreateCore](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/ControlFlowGraph.cs,147) catch all exceptions and turn them into NFWs. I think this was originally done for `GetOperation` as it was under a feature flag, and we should probably remove these catch

[2018-06-26 17:45] 333fred commented on #28113
That being said, I can see the demand for having an analyzer option that only runs over "lines" that user is not actively editing, though the granularity of that statement is definitely a question. @bkoelman, what granularity would you envision that being on? Would you expect _all_ code to have no compile errors, or would you expect to only be run on statements that have no syntactic or semantic e

[2018-06-26 17:50] IanKemp commented on #20377
If this was resolved in January, why am I still seeing this issue in June?

[2018-06-26 18:14] ryanbrandenburg opened #28133 "Null Refs from GetBucketSize"
**Version Used**: 2.8.0

**Stack:**
[code]

**Steps to Reproduce**:

1. Clone https://github.com/aspnet/templating/pull/582 on a linux machine
2. Run build.sh -ci

**Expected Behavior**: No Null-Refs, or a more descriptive error about what's going wrong.

**Actual Behavior**: `System.NullReferenceException: Object reference not set to an instance of an object.`

[2018-06-26 18:20] CyrusNajmabadi commented on #23152
@bkoelman Who said that? :)

I would say it's the opposite.  If you need the actual language-level detail (i.e. syntax), go to the language.

[2018-06-26 19:19] sharwell commented on #28116
Reopening since this should have been fixed in version 15.6.

@IanKemp Warning level 0 disables diagnostics, so analyzers/fixes will never work under that configuration. Are you able to reproduce this on warning level 1-3?

[2018-06-26 19:31] cston commented on #27008
Thanks for reporting this issue. Fixed in #28105.

[2018-06-26 21:11] JieCarolHu opened #28138 "close brace quick info does not adjust leading whitespace for comments"
![image](https://user-images.githubusercontent.com/17056651/41939433-a523bf7e-794a-11e8-8695-158ad77f0a18.png)

[code]

[2018-06-26 21:48] 333fred commented on #27034
Fixed by https://github.com/dotnet/roslyn/pull/27126.

[2018-06-26 21:48] #27034 closed

[2018-06-26 21:56] davkean commented on #26672
@jinujoseph mentioned:

@jinujoseph Do you know what actual release this will be making?

[2018-06-26 22:29] heejaechang commented on #28138
it is not just comment, for like multiline string literals and etc

I would like make the function to do following

get classified span from our classifier for a span (the span shown in the quick info)

get line by line texts of the span.

find the base indentation (smallest indentation of the lines)

remove that base indentation from all lines.

adjust span based on the adjustment.

put editor qu

[2018-06-26 22:30] 333fred commented on #21797
Looks like this is not relevant at this point.

[2018-06-26 22:30] #21797 closed

[2018-06-26 22:38] 333fred commented on #21671
@AlekseyTs made this more robust in https://github.com/dotnet/roslyn/pull/26395. Closing out.

[2018-06-26 22:38] #21671 closed

[2018-06-26 23:21] 333fred commented on #8904
Looks like `BoundTypeOrValue` is adjusted in initial binding, before we get the bound tree in the factory. Added a test in https://github.com/dotnet/roslyn/pull/28146.

[2018-06-26 23:33] JieCarolHu commented on #27974
Test plan is added in onenote

[2018-06-26 23:35] JieCarolHu commented on #28068
This change no longer needed. We decided to make Code Cleanup default ON for Preview and RTM

[2018-06-27 00:06] #8891 closed

[2018-06-27 00:21] jinujoseph commented on #26672
if this is marked fixed in 15.8.Preview2 then it ideally it should be in 15.8.Preview2.
can you point to the report where its been seen for 15.8.Preview2 ?

[2018-06-27 00:29] vsfeedback opened #28148 "Auto format document with config styles sorts usings incorrectly"
The .editorconfig has this line in it:

dotnet_sort_system_directives_first = true:suggestion

But applying the new format document incorrectly sorts the usings to put the System in alphabetical order instead of the top.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/281386/auto-format-document-with-config-styles-sorts-usin.html
VSTS ticketId: 638859_

[2018-06-27 00:31] AmadeusW commented on #24565
When user presses `Tab`, the edit comes out fine. When user double-clicks the item, the base buffer (containing `"num"`) is read only, and no edit is made. I will continue investigating this.

[2018-06-27 00:50] davkean commented on #26672
https://github.com/dotnet/roslyn/issues/26672#issuecomment-400297325

[2018-06-27 01:31] ivanbasov opened #28151 "Watch window doesn't handle List<Tuple> properly"
**Steps to Reproduce**:

create a List of ValueTuples, eg

var list = new List<ValueTuple<int,string>>();
list.Add(ValueTuple.Create(123,"abc"));

Add a watch:
list[0].Item1

**Expected Behavior**:
watch window shows 123 (or "abc" for Item2)

**Actual Behavior**:
watch window shows 0 (or null for Item2)

[2018-06-27 02:30] #18225 closed

[2018-06-27 03:58] CodingDinosaur commented on #23060
Seems like this fell off the radar, but this has been coming up for me a lot recently since 15.7.3.

The issue for me is that this happens _after closing_ the _solution_.  I don't feel like VS should be locking files in my repo when I'm no longer working on it.  I routinely close one solution, then run a clean on it before I move on to another solution (I like to keep my local repos tidy), but thi

[2018-06-27 04:37] jasonmalinowski commented on #28104
This should be moved out of the infrastructure path. @jinujoseph or @Pilchie who is owning our MSBuildWorkspace going forward? The work here was done by @DustinCampbell so can't assign it to his "team"... :smile:

[2018-06-27 06:56] PathogenDavid commented on #27008
No problem, thanks for getting it fixed!

[2018-06-27 07:53] jcouv opened #28156 "ChangeSignature loses trivia when removing a parameter"
Invoke ChangeSignature on the following code, remove `arg1` and the indentation will change unexpectedly.
[code]

Before:
![image](https://user-images.githubusercontent.com/12466233/41960339-5bff2e1e-79a4-11e8-8951-a41811dcc144.png)

After:
![image](https://user-images.githubusercontent.com/12466233/41960313-4f4b6e8a-79a4-11e8-911d-a4d50f8e2658.png)

[2018-06-27 07:57] jinujoseph commented on #26672
Was there any customer report from 15.8.Preview2 ?

[2018-06-27 07:59] davkean commented on #26672
@scottmcd9999 commented that he hit this on VS 15.8 at which time only preview 2 was released. Preview 3 was only released today.

[2018-06-27 11:02] scottmcd9999 commented on #26672
Please disregard my error report. My VS upgrade failed, and I was still on 15.7.4 when I reported this. My apologies.

Scott McDaniel

From: David Kean <notifications@github.com>
Sent: Wednesday, June 27, 2018 4:00 AM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: scottmcd9999 <scott@infotrakker.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn] Opening a Visual Basic file

[2018-06-27 11:18] davkean commented on #26672
np, so the question is, is the code that fixed this merged in 15.8? I've not been using VB recently so can't confirm its fixed or not fixed.

[2018-06-27 13:12] mavasani opened #28157 "C# query binder should generate bound anonymous type object creation nodes"
See the original issue https://github.com/dotnet/roslyn/issues/25268, which also mentions that VB binder already does the correct thing. https://github.com/dotnet/roslyn/pull/28143 applied a workaround to this issue in the `CSharpOperationFactory`, which should be reverted once this issue is fixed.

Regardless of how this issue is resolved, we *must* add unit tests here.

[2018-06-27 13:58] mavasani commented on #20756
Issue seems to still repro for C# foreach collection:

[code]

[2018-06-27 14:08] mavasani commented on #22030
PR review comment mentions: `Are there tests that use convert collection to generic IEnumerable, or use For Each pattern? Is for each over a string covered? Same question for C# tests`

Verified we have `IForEachLoopStatement_String` for string case, but we do not have foreach over a collection converted to generic IEnumerable. I will add unit tests to both languages for this scenario.

[2018-06-27 14:28] jcouv commented on #22800
The fix was merged into features/compiler for 16.0.

[2018-06-27 14:28] #22800 closed

[2018-06-27 14:30] mavasani commented on #20756
Seems like we have more than one places where we generate redundant implicit identity conversions. We either need to explicitly filter these out in operation factories OR fix the binders to ensure these are never generated.

Moving this out of 15.8 as these is no loss of information or incorrect nodes being exposed here.

[2018-06-27 14:33] mavasani commented on #21648
Verified this is the only issue related to exposing additional information on `IForToLoopOperation`. Moving out of 15.8.

[2018-06-27 14:34] mavasani commented on #23324
Fix here can be in the binder or operation factory. However, given this issue repros only for an empty array initializer, and there is no loss of information, moving it out of 15.8 as per our current bar.

[2018-06-27 14:43] mavasani commented on #22855
Related to https://github.com/dotnet/roslyn/issues/26780, but not a dupe. That issue tracks missing nodes for array initializer for fields, while this one is for locals. Moving it out to 16.0.

[2018-06-27 14:51] bkoelman commented on #27208
Thanks for pointing this out.
It works when I marshal the exception from the callback to the thread that the unittest is running on (which is different from the thread that the analyzer and callback runs on).

[2018-06-27 14:59] svick commented on #25989
I think that page should be redirected to docs.MS instead, see https://github.com/dotnet/roslyn/issues/25744.

[2018-06-27 17:12] CyrusNajmabadi commented on #28012
@jinujoseph @kuhlenh This investigation is far more important now.  Based on the post here: https://github.com/dotnet/roslyn/pull/28069#issuecomment-400671556, it sounds like you're enabling this feature by default.  If that's the case, then the performance absolutely has to be improved.  I'm seeing easily 60+ seconds on some files.

We should not be opting people into different behavior with such

[2018-06-27 17:38] jmarolf commented on #23060
This is my vote for a solution here.

[2018-06-27 17:53] AmadeusW commented on #24565
First thing that happens when user presses `Tab` is removing the ReadOnly flag in [DebuggerIntellisenseFilter.ExecuteVisualStudio2000](http://index/?query=debuggerintellisensefilter&rightProject=Microsoft.VisualStudio.LanguageServices&file=Implementation%5CDebuggerIntelliSense%5CDebuggerIntellisenseFilter.cs&line=99)

We actually remove this flag pretty frequently (every time user types), but just

[2018-06-27 18:45] bkoelman opened #28161 "AnalyzerRunner rocks!"
No issue this time. Just wanted to express my happiness about AnalyzerRunner. It has enabled me very well to investigate analyzer performance. Command-line switches are useful and the logging too. I have been wishing for a tool like this for years!

Thanks a lot for creating and providing it!

Little suggestion: Maybe in time it can move to https://github.com/dotnet/roslyn-sdk and get distributed

[2018-06-27 19:01] AmadeusW commented on #24565
The read only flag is set to true in `src\env\msenv\core\cmdwin.cpp` when we return from `InternalExec({5efc7975-14bc-11cf-9b2b-00aa00573819}, 770, 0, 0x00000000, 0x00000000)`, in the destructor of `CAutoReadOnlySetter`: `src\env\inc\AutoReadOnlySetter.h:42`

I'm not sure what this is and why this is being called, but the `Tab` handler explicitly removes the ReadOnly flag, while the _Click_ handle

[2018-06-27 19:40] KathleenDollard commented on #19505
Thank you for this list of goals. I think this helps clarify a lot.

I would love to see a similar list of the reasons you think new files cannot solve the problem of editing existing code. Part of the work done prior to the feature cut in 7 was to work to increase the scenarios where separate file generation would solve the problem.

[2018-06-27 20:03] jaredpar commented on #19505
@xoofx

I disagree. Build throughput would be improved here but I think compilation time would be slower. This would be moving code today which executes outside the compiler inside it. Hence it won't get better, only worse. But yes build throughput is likely to improve.

Most designs I think can achieve this but there is significant work involved. I am going to push back on the "when it makes sens

[2018-06-27 20:12] abubakarm commented on #27780
I have that installed already.

[2018-06-27 20:18] #27945 closed

[2018-06-27 20:40] PathogenDavid opened #28163 "IOperation: Expression-bodied properties should have an associated MethodBodyOperation"
**Versions Used**: I originally found this in the official NuGet packages for `Microsoft.CodeAnalysis.Common`/`.CSharp`, version 2.8.2 (latest)

I've also confirmed the issue is present in the latest MyGet nightly build (2.9.0-dev-62826-08)

# Steps to Reproduce

Define a type with a three properties. One fully written out (C#5 style), one with an expression-bodied `get` accessor, and one that is

[2018-06-27 21:02] heejaechang commented on #28012
@JieCarolHu is already looking

[2018-06-27 21:04] jaredpar commented on #28038
Hmm. Nice that we fixed it but I'm still curious what was going wrong here in the first place. Can you try running the following command using the 2.1 toolset?

You may have to adjust the paths slightly to get this to work. But this is the invocation of csc which was crashing. Running this directly should give us the stack trace of the error.

[2018-06-27 21:09] #21776 closed

[2018-06-27 21:16] xoofx commented on #19505
Yes, I was implicitly talking about the compilation time as a whole (built time in this context), from a user perspective today a user can't separate between the compilation time and the IL patcher time (they are part of their build as a whole), but strictly speaking, that's build time, I agree. My early experiments are showing that build time is a big win using an integrated rewriter into roslyn.

[2018-06-27 21:21] ivanbasov opened #28166 "Debugger shows incorrect value for overridden property when referencing the base value"
**Steps to Reproduce**:
Consider the code below. With a breakpoint on the line reading base.X, the debugger will show a value of B instead of A. The output is correct however.

This comes from a Stack Overflow question here http://stackoverflow.com/questions/42837812/property-value-of-base-in-debugger

class Program
{
    static void Main() => Console.WriteLine(new B().X);
}
class A
{
    public v

[2018-06-27 21:39] mavasani commented on #18074
My attempt to fix this specific issue with https://github.com/dotnet/roslyn/pull/28160 identifier couple of additional issues, mentioned [here](https://github.com/dotnet/roslyn/pull/28160#discussion_r198649097) and also a design concern about cascaded/nested diagnostics raised by @333fred [here](https://github.com/dotnet/roslyn/pull/28160#discussion_r198633459).

Moving this out of 15.8 due to ris

[2018-06-27 21:40] mavasani commented on #18074
Moving to the compiler team, as this issue is not specific to IOperation, even existing semantic model APIs return incorrect information for syntax which is not bound.

[2018-06-27 21:45] ivanbasov opened #28167 "IntPtr variable value in debugger is always displayed in Hexadecimal even if the "Display Hexadecimal" is unchecked"
**Version Used**:

**Steps to Reproduce**:

1. Debug the code
[code]

2. Turn off "Display Hexadecimal"
3. Hover over ptr

**Expected Behavior**:
see value in the decimal format

**Actual Behavior**:
see value in the hexadecimal format

[2018-06-27 22:07] #7137 closed

[2018-06-27 22:17] sharwell opened #28169 "Capture crash information for devenv.exe in integration tests"
This could be done with procdump or by recording the .NET event logs after a crash.

/cc @jaredpar @dotnet/roslyn-infrastructure

[2018-06-27 22:25] ivanbasov opened #28170 "Executing "Console.Read();" in the interactive window hangs"
**Steps to Reproduce**:

1. open C# interactive window
2. type `Console.Read();`
3. press enter

**Expected Behavior**:
?

**Actual Behavior**:
The interactive window becomes unresponsive.

[2018-06-27 22:42] jmarolf commented on #28161
@bkoelman can you file and issue on https://github.com/dotnet/roslyn-sdk to add analyzer runner as a tool.  @sharwell are there any issues with licensing?

[2018-06-27 23:06] #22030 closed

[2018-06-27 23:21] JieCarolHu opened #28172 "refactor and merge IndentationHelper and IprojectionBufferFactoryServiceExtensions"
![image](https://user-images.githubusercontent.com/17056651/42004768-21c4f576-7a26-11e8-801a-a30850e86770.png)

[2018-06-27 23:38] JieCarolHu commented on #28148
We have different types of options in .editorconfig
bool option only support <bool>
Code style options support <bool>:<notification level>

dotnet_sort_system_directives_first is a bool option, so it only supports true or false. It will work if you set:
dotnet_sort_system_directives_first = true

[2018-06-27 23:44] #28148 closed

[2018-06-28 00:35] onovotny commented on #28148
I'm not sure I understand. I have true, with a severity specified...

[2018-06-28 00:38] jaredpar commented on #28169
For context: today during CI procdump is attached to every process explicitly launched by our test runner. The devenv process is indirectly launched and as such procdump is not attached.

[2018-06-28 00:55] tmat commented on #28170
Dup of https://github.com/dotnet/roslyn/issues/7743

[2018-06-28 00:55] #28170 closed

[2018-06-28 01:28] SimonCropp commented on #19505
@KathleenDollard

If i understand your question correctly, you are referring to the approach of partials (classes and methods) as sibling files for code gen?

Some restrictions/scenarios are i can think of

 * Partial methods are implicitly private, and therefore they cannot be virtual. This often means u cannot have you code base in a compilable state, and hence cannot get to the code gen phase.

[2018-06-28 01:57] tmat commented on #24565
@AmadeusW Your help with figuring this out is appreciated.

[2018-06-28 03:28] davkean opened #28174 "VBCSCompiler is still being treated as critical process"
According to https://github.com/dotnet/roslyn/issues/24610 and https://developercommunity.visualstudio.com/content/problem/164302/visual-studio-updates-should-not-hang-on-vbcscompi.html, vbcscompiler should no longer be treated as critical process in 15.7. But testing on the latest internal build of 15.8, it still is.

**Version Used**:
Setup: 1.17.1250.618
VS: Version 15.8.0 Preview 4.0 [27821.30

[2018-06-28 03:47] agocke commented on #28174
Everything looks fine on the compiler side. We should loop Setup into this @jaredpar

[2018-06-28 03:49] davkean commented on #28174
It looks like this gets into a catalog.json, any idea where that is stored or how it is produced?

[2018-06-28 04:21] hvanbakel commented on #25748
Given that 15.8 is in preview I'm assuming that this one is not going to make it? I just looked at how it was implemented but the fact that it is throwing an exception inside of 'IsSupportedDiagnostic' feels like a shortcut making this hard to fix.

I would suggest putting this either in the `CompilationWithAnalyzers` or the `AnalysisScope` class where a new diagnostic can be created if any of the

[2018-06-28 04:28] yaakov-h opened #28175 "IDE0039 'Use local function' suggestion breaks code."
**Version Used**:

Microsoft Visual Studio Enterprise 2017 Preview
Version 15.8.0 Preview 3

**Steps to Reproduce**:

1.  Write the following code:

[code]

2. Invoke the IDE0039 code-fix on line 11

**Expected Behavior**:

Resulting code is valid C# and still compiles.

**Actual Behavior**:

Error CS0411: The type arguments for method 'IDE0039.Foo<T1, T2, T3>(Action<T1, T2, T3>)' cannot be inferr

[2018-06-28 04:48] CyrusNajmabadi commented on #28175
@agocke Is this an expected compiler error?  Note: if you use an lambda, even without a type, this works as expected:

[code]

This properly infers the type parameters for 'Foo'.

So it's somewhat surprising that an near equivalent piece of code that uses a local function *with those same parameters, and known return type*, cannot infer properly here.  That definitely doesn't seem expected to me.

[2018-06-28 05:02] agocke commented on #28175
I get the same error if func is a method. This is probably something in overload resolution.

[2018-06-28 05:17] mavasani commented on #25748
I think we should fix this in 15.8 due to compat break.

[2018-06-28 05:49] davkean commented on #27010
I have 3 side-by-side versions of VS installed:

15.7.4
15.8 Preview 3
15.8 Preview 4.0 [27821.3001.d15.8stg]

None of them offer me NuGet packages.

I have the settings turned on.

@CyrusNajmabadi Do you remember what's required to have this feature work? I do remember something about sources needing to be set to default. I noticed I have 2 extra sources that I never added; CLIFallbackFolder, Mic

[2018-06-28 08:00] vsfeedback opened #28176 "Experimental "fix accessibility modifiers" option does not respect dotnet_style_require_accessibility_modifiers in editor config"
When the following is set in the editor config: &quot;dotnet_style_require_accessibility_modifiers = never&quot;

The new experiemental option in Visual Studio Preview &quot;fix accessibility modifiers&quot; adds accessbilitity modifiers despite being set to never.

Note the option is located in: Options &gt; Text Editor &gt; C# &gt; Code Style &gt; Formatting &gt; General

_This issue has been mo

[2018-06-28 10:17] PDukan opened #28178 "Warning depending on static elements order - NullReferenceException"
**Version**:
Microsoft Visual Studio Community 2017 Version 15.7.4
Microsoft .NET Framework Version 4.7.03056
C# Tools v2.8.3-beta6-62923-07

**Example code**:
_Build in Debug configuration!_
[code]

**Expected Behavior**:
Warning about the usage of an uninitialized object's property.

**Actual Behavior**:
NullReferenceException at the creation of the first instance.

[2018-06-28 11:25] huoyaoyuan opened #28180 "Feature request: null coalescing code fix for wider scenarios"
### Before
[code]

### After
[code]

### Update
This actually applies for every scenario that initializes an variable and compares to null.
[code]
comes to:
[code]

Current code fix seems to only apply when `something` is a variable or parameter, not expression?

[2018-06-28 11:43] snickler commented on #28038
@jaredpar - running the command (while running some regex to put quotations around each param), gives me the following message:

[code]
Using `/home/snickler/dotnet-2.1/dotnet exec` instead and removing the second call to `dotnet` results in the following:

[code]
Now, if I use the `dotnet` preview version to run this, I get the following:

[code]

[2018-06-28 12:37] KathleenDollard commented on #19505
OK, we're talking each other on this point, my fault for not being clear about what the feature work cut in 7 was. I don't think anyone will argue that the current partials is the right answer.

I just went back and found [a design idea on how to have generated code replace code](https://github.com/dotnet/csharplang/blob/master/meetings/2015/LDM-2015-09-02.md). Here's the code:

[code]

I believe

[2018-06-28 13:24] svick commented on #19505
@jaredpar

Except there is more than one way in which code can be "better".

For the example of LINQ to foreach optimization, that results in code that performs better, but is harder to understand and maintain. Which is why I would prefer to have LINQ in the source code I'm editing and foreach in the code that's executing.

A code fix is a half-measure: I can use a LINQ query when I first write th

[2018-06-28 14:08] mavasani commented on #19024
The filtering of operation none statements within a block has been removed with https://github.com/dotnet/roslyn/pull/28135. We can use this issue to now tracking adding public API for BoundUnstructuredExceptionHandlingStatement in 16.0

[2018-06-28 15:30] mavasani commented on #25748
I am going to submit a PR that completely removes this new diagnostic from being reported. This diagnostic was intended to be a guidance for the analyzer authors, not the end users using the analyzer as it is not actionable for them. As such it would be much better to implement this as an analyzer that goes into https://github.com/dotnet/roslyn-analyzers/blob/master/src/Microsoft.CodeAnalysis.Anal

[2018-06-28 15:44] mavasani commented on #25748
Filed https://github.com/dotnet/roslyn-analyzers/issues/1727 and opened https://github.com/dotnet/roslyn/pull/28182 to fix this issue.

[2018-06-28 16:32] #25185 closed

[2018-06-28 16:32] KathleenDollard commented on #28044
Should the string methods also be included here, or is something else going on in [this issue](https://github.com/dotnet/core/issues/1577)

[2018-06-28 16:34] tmat commented on #24677
Fixed by https://github.com/dotnet/roslyn/pull/27023

[2018-06-28 16:34] #24677 closed

[2018-06-28 16:34] tmat commented on #25185
Fixed by https://github.com/dotnet/roslyn/pull/27023

[2018-06-28 16:35] jaredpar commented on #28044
@KathleenDollard this issue was originally intended at tracking the missing functions necessary for the compiler suites to run. It's not exhaustive though, just the first errors we hit when running suites. I'm guessing that those functions were used here but just blocked by earlier errors. Will change the `Strings` one to just include the entire type.

[2018-06-28 16:35] tmat commented on #23762
Fixed by https://github.com/dotnet/roslyn/pull/27023

[2018-06-28 16:35] #23762 closed

[2018-06-28 16:35] jinujoseph commented on #24845
@ivanbasov  to triage

[2018-06-28 16:39] WiredUK commented on #28166
@ivanbasov Thanks for moving this one here, when I created it on developercommunity.visualstudio.com I wasn't sure if it was a Roslyn issue or something peculiar to VS.

[2018-06-28 16:48] bkoelman opened #28183 "Questions about IMethodBodyBaseOperation"
**Version Used**:
Microsoft.CodeAnalysis NuGet v2.9.0-beta7-63026-08

I am trying to understand what the new `IMethodBodyBaseOperation` (and its derived interfaces `IMethodBodyOperation` and `IConstructorBodyOperation`) are intended for. So I created an analyzer with a set of unit tests to locate code blocks in various declaration forms. The analyzer runs in one of three modes, based on a constant

[2018-06-28 16:49] jinujoseph commented on #24221
Fixed in 15.8.Preview3

[2018-06-28 16:49] #24221 closed

[2018-06-28 17:01] jinujoseph commented on #23823
@jasonmalinowski  can you provide update and dupe/close

[2018-06-28 17:30] mavasani commented on #28183
@bkoelman This behavior is by design. This new interface is used as the root of operation blocks for C# where you can legally have either an expression body or a regular method body. So it does not apply to field/property/event initializers or cases where you can have only one of this be present in legal code. Let us know if there is still ambiguity.

[2018-06-28 17:32] mavasani commented on #28163
This is by design, as explained here: https://github.com/dotnet/roslyn/issues/28183#issuecomment-401113254

[2018-06-28 17:33] mavasani commented on #28163
Perhaps given that already 2 users felt confused by the semantics of this interface, we should improve the documentation to make the behavior more explicit. Let me submit a PR to improve the documentation.

[2018-06-28 17:35] mavasani commented on #28183
Perhaps given that already 2 users felt confused by the semantics of this interface, we should improve the documentation to make the behavior more explicit. Let me submit a PR to improve the documentation.

[2018-06-28 17:45] mavasani commented on #23821
Validated that the product issue no longer exists. https://github.com/dotnet/roslyn/pull/28149 confirms that removing the test visitor workaround doesn't cause any assert to fire. Keeping this test-only issue open to track removing workaround and adding more unit test coverage around this scenario.

[2018-06-28 18:11] PathogenDavid commented on #28163
Thanks for the insight.

This makes sense from both the standpoint of Roslyn internals and the purpose `MethodBodyOperation` serves in the `IOperation` tree, but I'm not sure if I agree this is something that should affect consumers of the API.

Maybe I don't fully understand the design goals for `IOperation`, but I see `SyntaxNode` trees as "This is the C# code the user wrote" whereas `IOperation

[2018-06-28 18:15] PathogenDavid commented on #28163
Also I noticed in both your commit to change the documentation and in your original comment that you mentioned "initializers", so I'd like to point out that initializers aren't involved in my issue. All three of those property declarations are essentially identical besides the names and constants.

I don't think I'd expect initializers to have a `MethodBodyOperation` since they aren't methods.

[2018-06-28 18:32] mavasani commented on #28163
@PathogenDavid My comment about initializers added in that [commit](https://github.com/mavasani/roslyn/commit/f88f7774d6a82da6bf170943b9ef039923fc81d6) is not to clarify your question, but question posed in https://github.com/dotnet/roslyn/issues/28183#issue-336699389, to clarify that field/property/event initializers (such as `int f = 42;` or `int P { get; } = 42;`) do not use this node. I was ho

[2018-06-28 18:33] mavasani commented on #28163
Also tagging @bkoelman here as I am resolving https://github.com/dotnet/roslyn/issues/28183 as a dupe of this one.

[2018-06-28 18:36] mavasani commented on #28163
Tagging @AlekseyTs @333fred @DustinCampbell @gafter @jcouv @jinujoseph as we should bring this issue up for the next design meeting.

[2018-06-28 18:57] jhinder commented on #28178
The current stable compiler version (Visual Studio 2017, version 15.7.4) is 2.8.3.62923; Roslyn 1.0 is over 2.5 years old now and was shipped as part of Visual Studio 2015 RTM, according to the [Git tag](https://github.com/dotnet/roslyn/releases/tag/version-1.0.0).

I've tried running this code with the latest compiler version, and it doesn't throw any exception.

[2018-06-28 19:05] PathogenDavid commented on #28163
Cool, I just wanted to make sure we were on the same page. Thanks for allocating time to give this issue further consideration.

On a side note, I just wanted to say how much I've been enjoying working with the `IOperation` family of interfaces. They've been extremely useful for the project I've been working on.

[2018-06-28 19:09] pranavkm commented on #28133
Likely a dup of https://github.com/dotnet/coreclr/issues/18525.

[2018-06-28 19:13] SimplerSoftware commented on #6101
This is a bummer.  I was really excited about using Roslyn as a scripting engine but this limits the use case drastically as I understand it.  To only be able to use a predefined class to pass in variables to a script would mean that we would have to have some sort of understanding about what variables are required by the script itself.  The whole idea around a scripting engine would be to have th

[2018-06-28 19:34] mavasani commented on #486
@jinujoseph does this meet the 15.8 bar?

[2018-06-28 19:43] mjsabby commented on #11475
@jkotas @MichalStrehovsky are you sufficiently satisfied with https://github.com/dotnet/roslyn/pull/24621 for `AddressOfMappedData`. I think it's better than what was proposed and I'm using it for my projects. If yes @tmat we can probably remove that from this proposal.

Now only the CallIndirect intrinsic has metadata impact.

[2018-06-28 19:46] jkotas commented on #11475
Yes.

[2018-06-28 20:31] chborl commented on #24075
@CyrusNajmabadi @sharwell , I'm seeing the behavior Cyrus mentioned above, but I'm not seeing IDE0032WithoutSuggestion in either the light-bulb or the errors list.  I also don't see a way to suppress this diagnostic.
![image](https://user-images.githubusercontent.com/25776963/42059117-45ec805c-7ad7-11e8-97ef-24a897d4a294.png)

Do either of you know of changes in this area that would have affected

[2018-06-28 20:58] ivanbasov commented on #19542
Cannot reproduce this with 15.8 preview 4.

[2018-06-28 20:58] #19542 closed

[2018-06-28 21:08] ivanbasov commented on #24845
I tried to repro the issue but got a NFW not a crash:

`System.UriFormatException: Invalid URI: There is an invalid sequence in the string.&#x000D;&#x000A;   at System.UriHelper.EscapeString(String input, Int32 start, Int32 end, Char[] dest, Int32&amp; destPos, Boolean isUriString, Char force1, Char force2, Char rsvd)&#x000D;&#x000A;   at System.Uri.EscapeDataString(String stringToEscape)&#x000D;&

[2018-06-28 21:20] CyrusNajmabadi commented on #24075
@sharwell Just did a bunch of cleanup around diagnostic descriptors.  My best guess is that this fell out from his work.  But i really don't know.

[2018-06-28 21:28] #23823 closed

[2018-06-28 21:45] JieCarolHu commented on #28012
fixed in https://github.com/dotnet/roslyn/pull/28196

[2018-06-28 21:49] #27357 closed

[2018-06-28 22:08] bkoelman commented on #28183
Given the duplicates, can we retarget this issue for the request to add `.ContainingSymbol` then?

[2018-06-28 22:16] miloush commented on #24845
Yes, you get UriFormatException as NFW - that's an unrelated bug, similar to #19542.

I can still reproduce the crash on 15.8 Preview 3, except that the default encoding at least of C# code files seems to have been changed to UTF-8, which is exciting!

Anyway, to reproduce the crash, either open an existing C# file that wasn't saved with Unicode encoding, or, create a new C# console project, and u

[2018-06-28 23:31] jinujoseph commented on #486
No, lets target for 16

[2018-06-28 23:43] OmarTawfik commented on #28087
@jaredpar Yes (Bug 608429).

[2018-06-28 23:44] chborl commented on #25010
It looks like this formatting issue happens with any statement with a comment in a lambda block body.  It doesn't matter where in the block the comment is, but the comment and it's subsequent line are both left improperly indented where the rest of the block has the extra indentation removed.  It happens no matter if you format the document, format the selection, or replace the semicolon.

I'll co

[2018-06-29 04:04] morganbr commented on #27375
Confirmed we can work around this. In case anyone else hits this, we were able to work around it by referencing the Implementation.dll twice -- once with the alias and once without.

[2018-06-29 05:13] cston commented on #27152
Fixed in #28155.

[2018-06-29 05:13] #27152 closed

[2018-06-29 06:37] PDukan commented on #28178
Thank you jhinder! I correct it.
(After a fast search for "how to get roslyn version" I got the next page which misled: https://stackoverflow.com/questions/33556331/how-to-get-roslyn-version-used-by-visual-studio-code-analysis )

[2018-06-29 06:52] #25748 closed

[2018-06-29 07:48] jhinder commented on #28178
I've also found out why it didn't crash for me: my repro project was a .NET Core 2.0 app, and it seems like .NET Core doesn't call the type initializer (static constructor) when calling the constructor.

If you mark `ExampleClass3.ArraySize` as public and add the line `var x = ExampleClass3.ArraySize;` to Main, it will also throw a `TypeInitializerException` on .NET Core.

[2018-06-29 14:07] sharwell opened #28216 "Create combined tests for diagnostic/refactoring pairs"
Currently analyzers and refactorings are tested separately, which leaves the test suite unable to detect certain regressions. See the root cause analysis in #28217 for details.

[2018-06-29 14:17] #25268 closed

[2018-06-29 17:01] 6A commented on #19505
Since we're mentioning PoCs, I thought I'd mention [Cometary](https://github.com/6A/Cometary), which also adds compiler plugins to Roslyn. Instead of being a fork of the compiler, however, it's a simple analyzer that hooks into the inner workings of Roslyn when it is loaded by it, and then rewrites things to load other plugins in memory.

[2018-06-29 17:30] stakx commented on #19505
Citing from [the "Roslyn Overview" wiki page](https://github.com/dotnet/roslyn/wiki/Roslyn%20Overview) (with emphasis added by me):

Having read this issue, I cannot help but thinking that all of this innovation could happen a lot easier if Roslyn provided suitable extensibility points, rather than forcing everyone to come up with their own workaround solutions (inevitable bugs included).

Roslyn'

[2018-06-29 17:47] 6A commented on #19505
Absolutely. Without counting Cometary which is more of a hack, I know two different projects that attempt to bring something close to metaprogramming and/or compiler plugins by forking Roslyn: [Conan](https://github.com/conan-roslyn) and [StackExchange.Precompilation](https://github.com/StackExchange/StackExchange.Precompilation).

Furthermore, the most popular tool right now for extending the com

[2018-06-29 17:48] jaredpar commented on #19505
This issue is about finding the right extensibility points. As has been said several times already: we want to add generators to the language. In fact we spent a **considerable** amount of time in the Dev15 time frame doing exactly that. At the same time we have to find a solution that meets the expectations of our users.

[2018-06-29 18:57] mikem8361 commented on #28038
This doc may be a little help with core dumps: https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md#debugging-core-dumps-with-lldb

[2018-06-29 20:44] #27042 closed

[2018-06-29 21:03] chucker opened #28224 "'BC36970 Failed to emit module' error occurs after changes in edit and continue"
**Version Used**: VS Enterprise 15.7.4, Roslyn 2.8.3-beta6-62923-07

**Steps to Reproduce/Description**:

(This isn't easily reproducible.)

The affected solution is a mixture of VB.NET and C#, and WinForms and WPF. Occasionally, VS's metadata appears to get stuck where _any_ change made using edit and continue causes VB.NET's compiler to fail with BC36970. After stopping and relaunching the debug

[2018-06-29 21:04] chucker commented on #28224
(@tannergooding asked me to tag @tmat and @jinujoseph on this)

[2018-06-29 21:37] justcla commented on #24997
It could even say "Spelling"

[2018-06-29 21:51] justcla commented on #24998
I agree with the assumption that the user is most likely to want to make the trivial fix.

And most certainly, issues that fix errors should be surfaced higher than issues that fix warnings, and those should be higher than fixes that don't fix any known problem.

[2018-06-29 21:54] justcla commented on #24998
This image shows two items and I don't know which is a suggestion and which is a tool.

![image](https://user-images.githubusercontent.com/17131343/42116453-23e2fa60-7bac-11e8-847c-24671c90cfec.png)

There needs to be some visual indicator to help me understand which is which.

(It doesn't help that the low-pri item is above the high-pri item. So I can't even use the relative ordering to give me s

[2018-06-29 21:57] justcla commented on #24996
Sorting gets tricky when we consider ranking items closer to the caret/mouse point.

However, as I understood it, there was a different context menu that would surface when the lightbulb was triggered from a specific point in the line - and that one would favor the item in context.
But there is the general "All issues on the line" lightbulb (shown in the margin).

Is this what's causing issues wit

[2018-06-29 21:58] CyrusNajmabadi commented on #24998
Why do we feel that 'add accessibility modifiers' is higher pri than 'change signature'?

[2018-06-29 21:59] agocke commented on #26678
Fixed by #26683

[2018-06-29 21:59] #26678 closed

[2018-06-29 22:03] justcla commented on #24998
Thanks @CyrusNajmabadi.

Yes, I am assuming the "Add modifiers" is a higher priority because it was surfacing as a warning. (ie. something my VS is suggesting I fix), whereas there is nothing (else) wrong with my method signature and there is no reason whatsoever for me to need to choose that action.

I agree with your comment to @sharwell . I am proposing that suggestions be surfaced higher that

[2018-06-29 22:15] CyrusNajmabadi commented on #24998
Is it actually a warning?  I don't see a squiggle in your code.

There's the rub.   That's very hard to determine (esp. if there is no adornment in the code itself).  Maybe you did want to go to this method to change it's signature :)

[2018-06-29 22:28] agocke commented on #22549
Fixed in https://github.com/dotnet/roslyn/pull/23637

[2018-06-29 22:28] #22549 closed

[2018-06-29 22:31] CyrusNajmabadi commented on #24998
Note: to be very explicit about how i think the experience should be:

1. if there *is* an adornment in the code (i.e. suggestion-dots/warning/error) and you're on that adornment.  Whatever is adorned should likely get highest priority.
2. If there isn't an adornment in the code (i.e. it's a refactoring, or an analyzer with 'none/refactoring' severity), then standard ordering applies.

Note: being

[2018-06-29 22:37] justcla commented on #24998
My bad. It might not have been a warning. All I know is that when I addressed that issue, the overall lightbulb indicator changed to a screwdriver.
It guess it highlights how hard it is to determine the severity of the fix being targeted or the importance of the fix being suggested.

Maybe. But not likely while there is a specific fix being suggested to you.

[2018-06-29 22:43] CyrusNajmabadi commented on #24996
Can you clarify this.  I do not see an error/warning in your code.  Is there one?  In the case of no error/warning, IMO both features are effectively 'tools'.

The problem is that ctrl-dot was hijacked.  It used to mean 'give me the options where i am'.  Now it's the 'give me the options for the line'.  As a user who trained myself to use ctrl-dot for *5+* years, i have completely internalized the

[2018-06-29 22:46] CyrusNajmabadi commented on #24998
I disagree completely.  IN something like roslyn, it's quite likely the case that on most lines i have some sort of analyzer suggestion being offered.  Often just with suggestion dots.  Do i want to fix those?  Not especially.  They're just suggestions about things i can do.  I'm often going to the line to work on other issues.   Now, this may be different if it's an actual error/warning.  And thi

[2018-06-29 22:47] CyrusNajmabadi commented on #24998
IMO, we should actually try to formalize all of this.  Bring up all the relevant concepts that could affect if we wanted a lightbulb item higher/lower and try to actually figure out how they all interact.  Then we can actually take that and code up a solutoin.

Note: such work is still predicated on the assumption that actually ever changing ordering *at all* is a good idea.  There are strong argu

[2018-06-29 22:50] jcouv commented on #28178
Thanks for the details, I can repro.

From what I can tell, the language [spec](https://github.com/dotnet/csharplang/blob/master/spec/classes.md#static-and-instance-fields) does not mention that diagnostics should be produced in such a case.
As far as the compiler is concerned, I think this is also expected as we don't do flow analysis on fields.
Tagging @gafter to confirm.

PS: As @jhinder pointe

[2018-06-29 22:51] CyrusNajmabadi commented on #28178
Can a little clarity on that be provided?  Is that because the runtime doesn't really make any guarantees here about ordering of these sorts of ops?  Thanks!

[2018-06-29 22:54] jcouv commented on #28133
@ryanbrandenburg The issue @pranavkm  linked (thanks!) has the same stacktrace and it was resolved as fixed. Can you try the instructions there to confirm, then close this issue? Thanks

[2018-06-29 23:07] jcouv commented on #28178
Here's my understanding (we can ping David for more details, if needed):
The IL spec says that depending on the "before init" flag, the static constructor should be called early (ie. on initialization or static reference, if the flag is missing), or "late" (if the flag is set).
"Late" is fuzzily defined and Desktop tends to do it early anyways, while Core is more predictable and does it as late as

[2018-06-29 23:11] asoifer commented on #20848
I can't open any solution with mono either.. could someone?

[2018-06-29 23:18] sharwell opened #28225 "Assertion failed when running AttributeTests_WellKnownAttributes.ObsoleteOnVirtual_OnBase"
Failure occurred during [this build](https://ci.dot.net/job/dotnet_roslyn/job/dev15.8-preview4/job/windows_debug_spanish_unit32_prtest/7) of #28043.

[code]

[2018-06-29 23:30] tmat commented on #28224
A few questions
- Does the error list not contain any other information than "Field to emit module"?
- Any chance any of the projects contains `AssemblyVersion` attribute with `*` in the version value, e.g. `1.0.*`?
- Could you collect a memory dump of VS process at the point when the debugger can't continue?

[2018-06-29 23:40] tmat commented on #7663
Fixed by https://github.com/dotnet/roslyn/pull/28006.

The default stays as 64. `#reset 32` switches to 32-bit, `#reset 32` switches to 64-bit.

[2018-06-29 23:40] #7663 closed

[2018-06-29 23:46] blinker57 opened #28226 "# array long"
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2018-06-30 00:31] tmat commented on #24565
Fixed by https://github.com/dotnet/roslyn/pull/28131

[2018-06-30 02:30] CyrusNajmabadi commented on #24998
@justcla I'm very open to such an idea.  However, note that using iconography for other purposes is also something we've wanted to do for many items (and what we already use for some).  For example, the 'add nuget reference' action already uses the an nuget-package icon to help draw out that some serious bizniss is about to go down.

This opens up another issue to raise in the discussion: if every

[2018-06-30 02:50] mazong1123 commented on #28175
I'd like to take a look at this one.

I think we either modify transform the code to the compile-able one:

[code]

Or improve the inference system to infer `Foo(func);`. Which one could be preferred for current Roslyn design?

[2018-06-30 02:52] CyrusNajmabadi commented on #14365
Yes, i think this work is still needed.  @jnm2 just ran into this.  @jnm2 can you point at a commit where you're seeing htis.

[2018-06-30 02:56] CyrusNajmabadi commented on #28175
@mazong1123 We need information first if the language is behaving as expected.  i'm hoping @agocke and @gafter might be able to shed some light on that.

If this is hte language behaving properly, and we don't want to update the language here, then we either need to:

1. disable the fix in this code.
2. make the change you specified.

For the latter, we have a system to help out here.  Effectively

[2018-06-30 02:59] jnm2 commented on #14365
@CyrusNajmabadi https://github.com/jnm2/roslyn/commit/roslyn_14365

[2018-06-30 03:07] jnm2 commented on #14365
The test was `TestCSharp_SetterReferences` in`FindReferencesTests.PropertySymbols.vb`:
https://github.com/jnm2/roslyn/commit/e2156684718d2ac0a4065470e9592f7e7d518166#diff-cf436af41a63a3fa8133dfaf1da9f56fR921

[2018-06-30 03:12] CyrusNajmabadi commented on #14365
@DustinCampbell The test jnm2 reference will fail due to an inability to roundtrip an error-type-symbol for 'System.Int32'.  While this specific codepath is unlikely to be hit by a user in practice (it basically occurs when you don't have a reference to mscorlib), it does demonstrate the problem.

The primary problem is in ErrorTypeSymbolKey.Create/Resolve.

[2018-06-30 03:29] mazong1123 commented on #28175
@CyrusNajmabadi thanks! It's very helpful. I'll look into `Simplifier` class and get familiar with the whole system.

[2018-06-30 03:55] #28226 closed

[2018-06-30 06:53] #27967 closed

[2018-06-30 15:01] jaredpar commented on #28008
Sorry we missed this when filed. It looks like a duplicate of #28087. That is currently in PR and will be fixed for Dev15.8. CC @OmarTawfik for tracking.

[2018-06-30 16:33] jcouv commented on #25223
Fixed by https://github.com/dotnet/roslyn/pull/23817 already.

[2018-06-30 16:33] #25223 closed

[2018-06-30 18:41] OmarTawfik commented on #28008
@ObsidianMinor can you please provide a sample that compiles in release mode? The one you provided (on both master and 2.8.2) throw an IOE (on both release and debug).
I'm fixing the exception, but want to make sure I'm not breaking already compiling code.
@jaredpar will reopen until this minor issue is confirmed.

[2018-06-30 19:14] jcouv opened #28228 "FindAllReferences should handle `Dispose` referenced in `using` and `foreach` statements"
See comment in `ComputeImplicitReferenceConflictsAsync`: ` // TODO: handle Dispose for using statement and Add methods for collection initializers.`

Note, if this done at the same time or after C# 8.0, FAR should also account for `DisposeAsync` in async-foreach and async-dispose statements.

Relates to https://github.com/dotnet/roslyn/pull/28230

[2018-06-30 19:14] jcouv opened #28229 "FindAllReferences should handle `Add` methods used in collection initializers"
See comment in `ComputeImplicitReferenceConflictsAsync`: ` // TODO: handle Dispose for using statement and Add methods for collection initializers.`

Relates to https://github.com/dotnet/roslyn/pull/28230

[2018-06-30 19:16] OmarTawfik commented on #28008
Ah. I found out what was happening. The original crash was fixed in #27030.
My fix is going in 15.8 as well, so it is not a breaking change. My opened PR would make this code illegal and produce the correct diagnostic error.

[2018-06-30 19:16] #28008 closed

[2018-06-30 19:22] jcouv commented on #114
This is a language design issue, so should be moved to csharplang. Since it is already tracked as part of the [async-streams feature](https://github.com/dotnet/csharplang/issues/43) (candidate for C# 8.0, prototyped in [async-streams](https://github.com/dotnet/roslyn/tree/features/async-streams) branch), I'll go ahead and close the present issue. Thanks

[2018-06-30 19:22] #114 closed

[2018-06-30 19:36] jcouv commented on #26525
@jinujoseph I suspect this isn't in Roslyn, and should be forwarded to the editor or debugger team. Can you help route? Thanks

[2018-06-30 20:02] kasper3 commented on #625
Is it planned for next major version? FWIW, community interest can be found here: https://stackoverflow.com/questions/3157066/removing-all-unused-references-from-a-project-in-visual-studio-projects.

[2018-07-01 09:24] LeonG-ZA opened #28232 "Feature idea: Language agnostic source code in non-plain text format"
This isn't really important, but I've had this cool idea for years.

As we all know coding styles can differ a bit between teams and this can cause religious wars...
For example:

Some people like to put curly braces on the same line:
`public void SomeMethod() {`
Instead of:
`public void SomeMethod()`
`{`
There are some other examples, but you get the idea. Somebody might 'fix' the problem and che

[2018-07-01 14:59] jonathanbyrne opened #28233 "Question: How can I get the namespace for a type described by Microsoft.CodeAnalysis.CSharp.Syntax.TypeSyntax?"
I'm working on a code analyzer and I'm trying to figure out how I can find the namespace for a Microsoft.CodeAnalysis.CSharp.Syntax.TypeSyntax object.  More specifically, I am trying to find the namespace for method parameter types.  Any tips on how I can do this?

[2018-07-01 15:16] bkoelman commented on #28113
Although operation contracts are mostly well-documented, syntax nodes are not. And if operations are turned into `IInvalidOperation` in case of errors (instead of a halfly-populated object) then I'm satisfied and this issue concerns symbols and syntax only.

Then I would expect an `IInvalidOperation` instead of `IReturnOperation` with `.ReturnedValue` being `null`. But since `ReturnedValue` is typ

[2018-07-01 16:57] huoyaoyuan commented on #28232
This is similar to storing syntax tree instead of source code.
Keep this in mind ultimately, the program will be stored by something close to compiled IL, together with symbol resource packs. The only additional information is difference, but it's hard to do on structured data.

[2018-07-01 17:06] pquiring commented on #13950
I would like to see the 'weak' modifier added, even if the C# language does not use it, but it would benefit others that use the compiler for other projects unrelated to a .NET framework (ie: do not use garbage collection).

I often use attributes to signal a weak reference::

[code]

But using a keyword would be much more natural.

Thanks.

[2018-07-01 18:02] justcla commented on #24998
@CyrusNajmabadi Indeed! Yes, icons are already well used through VS to help give context.

In this case, there is no need for an item to stand out. The icons are not there to make things stand out. They are there to help users understand more about the item.
If all items have screwdrivers on them, users know they can safely ignore all options. If any items have lightbulbs, users should probably lo

[2018-07-01 19:21] soul4soul opened #28234 "CSharpScript WithReferences vs WithImports"
What are the differences between `WithReferences` and `WithImports`? The [documentation](https://github.com/dotnet/roslyn/wiki/Scripting-API-Samples) shows a code snippet for how to use each but no description of what is actually happening.

[2018-07-01 19:50] tmat commented on #28234
I have updated the [documentation](https://github.com/dotnet/roslyn/wiki/Scripting-API-Samples#addimports) with more details. Hope this helps to clarify.

[2018-07-01 19:50] #28234 closed

[2018-07-01 20:10] CyrusNajmabadi commented on #24998
That's an interesting use case.  Definitely something to consider.

Note that a core problem here is trying to infer intent around a feature that intentionally mixes many different sorts of user available operations.  For example, a lot of the time i'm using the list just to refactor, not necessarily 'fix'.

Now, it seems attractive to then say: icons will make this better, because you can just lo

[2018-07-01 20:17] jamesqo commented on #27108
@heejaechang Please help me out here. I got around to setting up Roslyn on my machine and debugging it in order to better understand how exactly the cache is being used. I made a new console app like this:

[code]

when I set a breakpoint on the Symbol constructor and type a letter like 'e', I do see that it gets hit a lot of times. However, when I set a breakpoint on [`SimpleMRUCache.Touch()`](ht

[2018-07-01 23:32] CyrusNajmabadi commented on #28113
Note: this is hard to rationalize with:

Because perhaps your tree will have *no* errors underneath it, but there are still errors elsewhere that break the invariants you have assumed in your own code.  For example, maybe you are analyzing the entire switch, and there are no errors in the switch, but the switch switches over an an enum that *itself* has errors (for example, duplciated enum members

[2018-07-01 23:34] CyrusNajmabadi commented on #28113
ONe of the simplest things you can do is just call: SyntaxNode.HasDiagnostics.  Or call SyntaxNode.GetDiagnostics() and check for Errors (since warnings are also put on nodes/tokens).  All of the above cases would hit this.

[2018-07-02 00:04] bkoelman commented on #28113
Great tips, thanks.

[2018-07-02 00:08] CyrusNajmabadi commented on #24996
Also, another case we need in the list (which i talked about in: https://github.com/dotnet/roslyn/issues/24998#issuecomment-395934491).  We often want to deprioritize an item the *more unexpected* the change may be.  For example, people often expect a fix to just make a single small change to their code.  When a fix goes and does more than that, we have found htat having it higher up in the list l

[2018-07-02 00:49] NickCraver commented on #27197
Confirming what @davkean is seeing - I have the same behavior in 15.8 Preview 3, `.editorconfig` has no impact.

[2018-07-02 02:42] pongba opened #28235 "Does RunAsync gurantee running on a separate thread?"
I was doing some performance bechmarking and found that RunAsync is actually running on my current thread, so I have two questions:

1. Is this behavior expected? Because I'm trying to do this and RunAsync being actually synchronous will break my code:
[code]
since RunAsync only returns after script completes the run, there's no point in task.Wait(...).

2. But I don't want to simply "wrap up" the

[2018-07-02 03:09] ufcpp commented on #28235
Yes, it is expected.

[code]

[2018-07-02 04:33] pongba commented on #28235
@ufcpp Thanks! Could you elaborate a little bit? I'm not sure I follow. Why would a method called XxxAsync not run asynchronously?

[2018-07-02 05:06] davkean opened #28236 "Project Context switch icon changes when moving caret"
**Version Used**:
VisualStudio.15.Preview/15.8.0-pre.3.0+27825.0

When moving the caret, the icon in projects context switch changes back and forth between icons:
![icons](https://user-images.githubusercontent.com/1103906/42146159-612a1cdc-7e09-11e8-8023-600cfc0fcd94.gif)

[2018-07-02 05:06] davkean commented on #28236
tag @jasonmalinowski

[2018-07-02 05:14] ufcpp commented on #28235
[code]

↓
compiler-generated code:

[code]

↓

similar execution flow:

[code]

[2018-07-02 07:14] Jehoel commented on #26276
I'm running VS2017 15.7.4 with an `.editorconfig` in my project directory with `indent_style = tab` set, and another `.editorconfig` in the solution directory with `indent_style = space` set, and my Tools > Options > Text Editor > C# formatting set to Smart + Tab + 4 spaces - and when I open a `.cs` file in that project and choose Edit > Advanced > Format document it uses spaces instead of tabs.

[2018-07-02 07:37] jinujoseph commented on #26525
Thanks routed to [editor](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/641742)

[2018-07-02 07:37] #26525 closed

[2018-07-02 08:50] pedoc commented on #28112
@ufcpp
yes,it's work but loses grammar advantage.
this is not the expected effect

[2018-07-02 13:12] wachulski commented on #28095
I can start working on it. Could you advise on where you place such extension methods?

[2018-07-02 13:12] soul4soul commented on #28234
That does help. I was hoping to figure out how to automatically add using statements to my scripts. So now I can confirm `*Imports` are the methods I want to use.

1. In the example
[code]
Why does this add a `using static System.Math` instead of just `using System.Math`?

2. Based on the documentation I was expecting the following to work but it doesn't.
[code]
I get an exception `ex.Message = "(

[2018-07-02 13:21] IanKemp opened #28237 "Overload resolution weirdness"
Visual Studio 2017 version 15.7.4, Windows 10 x64 version 1803 (build 17134.112)

The following code compiles:

[code]

Inspecting the output reveals that the `ArrayExtensions.Equals` line is silently being transformed to `object.Equals` which is what allows the code to compile. The IDE also grays out "ArrayExtensions" and suggests a code fix that rewrites it as just "Equals" (the same as the outp

[2018-07-02 14:32] jonathanbyrne commented on #28233
Thank you very much, that was exactly what I needed.  In retrospect, I should have been able to figure that out on my own so I appreciate you helping with such a simple question.

[2018-07-02 14:54] NoofSaeidh opened #28238 "Visual Studio crashed when type { object = ref"
**Version Used**:
15.7.4

**Steps to Reproduce**:
open any method, or C# interactive and start writing:
var temp = new { object = ref

**Expected Behavior**:
Error that "object" appears.

**Actual Behavior**:
Visual Studio crashed

[2018-07-02 14:56] NoofSaeidh commented on #28238
I found this because in generated class there are property: "@object", but intellisense autocorrects it to "object" (and my variable's name started from ref)

[2018-07-02 15:39] AlexanderMorou commented on #11159
Could we simplify the syntax of this and use:
[code]
Internally there should be little difficulty in sharing the parser for extension vs class.
The rationale here is you're changing the logical _intent_ behind 'deriving', and class A : B isn't appropriate, since A doesn't derive from B, it offers extensions for B.  A, for all intents and purposes, doesn't behave like a class.  Instance-level value

[2018-07-02 16:12] jinujoseph commented on #28238
cc @ivanbasov  to triage

[2018-07-02 16:15] sharwell commented on #28235
@pongba This appears to be an external issue, but to point you in the right direction I need to know the type of `script` in your example.

[2018-07-02 16:20] mavasani commented on #28113
@bkoelman I believe @CyrusNajmabadi has made very good arguments explaining our current stance and has also provided workaround(s) in case you still want to execute only when there are no errors/diagnostics. We are responsible for documenting and validating the tree shapes (syntax and semantic) and the analyzer authors are responsible for understanding the possible values of child nodes when analy

[2018-07-02 16:23] tmat commented on #28234
Because `System.Math` is a type, not a namespace.

`System.Console` is a type, so the import imports its members. Change it to `System`.

Yes.

[2018-07-02 16:55] gafter commented on #28237
`ArrayExtensions` contains three `Equals` methods - two are inherited from `object` and one you've declared. Overload resolution has selected the only one of these that works for the actual arguments.

[2018-07-02 16:55] #28237 closed

[2018-07-02 17:00] JoiGud commented on #24137
@mikeharder I tried your workaround and it seems to work. Thank you!

[2018-07-02 17:03] justcla commented on #24998
I don't think this is an issue. The degree to which a feature is impactful is on sliding scale. There are really no discreet values to it; some features are very small, some medium, some big, some very big. What's "impactful" is very subjective.

And anyway, the NuGet icon does not indicate to me that this is impactful. It just indicates that it's NuGet. Some packages have fun icons. Some don't. T

[2018-07-02 17:11] #28087 closed

[2018-07-02 17:44] KirillOsenkov commented on #24998
I personally don't see why all menu items couldn't have icons. NuGet icon will still stand out. Would indeed be nice and informative to have the screwdriver/lightbulb next to each item.

Look in Solution Explorer, all files have icons next to them!

[2018-07-02 17:59] jhinder commented on #28238
I can reproduce this, but only in 15.7.4 and 15.8-pre3, not on the current `master` revision.

Analyzing a dump with WinDbg showed that there was an `InvalidOperationException` coming from `Microsoft.CodeAnalysis.CSharp.BoundExpressionExtensions.GetRefKind()`. This exception was thrown because the switch fell through to the default case (`node.Kind` is `TypeExpression`), which used to throw the ex

[2018-07-02 18:15] tmat commented on #28238
@OmarTawfik Please, confirm that this case was intentionally fixed.

[2018-07-02 18:47] CyrusNajmabadi commented on #24998
I disagree.  The very fact that thsi has an icon *and* that the icon is Nuget calls out that this is more than just any of the normal code actions.  Without a special icon here, you will get more people invoking this thinking it's just some sort of simple 'add using' and ending up installing nuget packages they don't want.

[2018-07-02 18:47] CyrusNajmabadi commented on #24998
I don't think this is sufficient.  I would be ok with this if certain items can override the icon.  But not otherwise.

[2018-07-02 18:53] CyrusNajmabadi commented on #24998
I also disagree with this.  When literally all but two fixes just make source code changes, and then two fixed actually go and change your project, that's very impactful.  It's also not something that is obvious while coding, and may only be something you realize much later when (or if) you're examining a diff.

I don't think we should ignore this.  This has been an issue in the past and people di

[2018-07-02 19:01] KirillOsenkov opened #28240 "Razor: Code in indented @{} block jumps up a line when committed, cannot be repositioned"
See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/585147

When using Tabs and `\n` line endings, use this:

[code]

[2018-07-02 19:03] justcla commented on #24998
This is strongly based on your understanding of NuGet. This is what I meant by having some inbuilt link (in your head) between NuGet and the impact likely to occur. I don't think we can expect all users to be able to easily link specific icons to the impact of the change. I don't know if there really IS such a thing. Does every tool's icon tell you how impactful the change is? Or is it just that y

[2018-07-02 19:06] pongba commented on #28235
@sharwell thanks. Here's my code:

**script.csx**
[code]

**main.cs**
[code]

**Expected Behavior**:
I'm a sleeping beauty..
script should still be running..

**Actual Behavior**:
I'm a sleeping beauty..

**Remarks**
It's not that I don't understand why the behavior is so, what I don't get is why the API semantics is "synchronously run the script" while the naming is xxxAsync - I don't see where t

[2018-07-02 19:10] justcla commented on #24998
OK, if this is an issue, then maybe we need to look at special consideration for items like this.

However, I don't understand how the NuGet icon tells a beginner user that this change will affect their project file.

Perhaps the better solution for this and other specific fixes that have impact wider than the source code is to have an alert/confirmation dialog for those actions.

But where do we

[2018-07-02 19:10] heejaechang commented on #27108
that is usually for closed files. things that not handled by the active cache (usually open files)
http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Workspace/ProjectCacheService.cs,28

see these
http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Workspace/ProjectCacheService.cs,26

for open files.

[2018-07-02 19:13] heejaechang commented on #27108
@jamesqo so are you planning to implement this ? (http://www.jaleels.org/ajaleel/publications/isca2010-rrip.pdf) for Roslyn?

that would be awesome.

[2018-07-02 19:15] justcla commented on #24998
At the end of the day, we need to come to some consensus in order to move forward. (We still need to convince Christian. lol)

The simplest solution to implement would probably involve adding screwdriver icons to all code fixes and lightbulb items to all Roslyn analyzer fixes (error-bulb or warning-bulb).
Items like the NuGet set will probably fall outside this treatment and will keep the icons th

[2018-07-02 19:20] CyrusNajmabadi commented on #24998
That's not actually waht i'm saying :)

I'm saying that this item is *sufficiently* differentiated to draw attention to the user that there is something special here.  So the user pays more attention to it, and then gets more clues that there will be something more going on here vs other fixes they perform.

This is similar to what happened jsut when we deprioritized fixes.  Because a user now has

[2018-07-02 19:20] CyrusNajmabadi commented on #24998
I would certainly be open to trying it out :)

[2018-07-02 19:23] Gav-Brown commented on #24976
CS8019 violations also appear for all:

1. **WPF .g.cs** files
2. Every project via **...\AppData\Local\Temp\.NETFramework,Version=v4.7.2.AssemblyAttributes.cs**.

I'm using VS 15.7.4.

[2018-07-02 19:29] Gav-Brown commented on #5162
Related to #24976 and thus still an issue?

[2018-07-02 19:58] justcla commented on #24998
In the case of the lightbulb menu, I think it's more important to call out which are suggestions vs tools than to help identify which ones will have the greater effect.
But I'm prepared to accept they might both be valid options. In both cases there is useful information that could help a user make a decision about whether to take the action.

[2018-07-02 20:00] justcla commented on #24998
There definitely is an issue. As a user, I am unable to determine which items are suggestions and which are tools, and this is affecting my ability to use the lightbulb. It caused me real issues last Friday, which is why I sent through my feedback about my challenge in knowing what I **should** do.

I am still struggling with this. This is a very real problem for me.

[2018-07-02 20:01] CyrusNajmabadi commented on #24998
I don't know.  Making large scale, unintentional changes to a user's project is a pretty bad thing to do.  I mean, we did get the feedback about this, and we've used this sort of feedback to drive to where we are today.  We've gotten a lot less feedback about the types of concerns that @gundermanc has brought up.

So i'm curious why we're thinking that this new concern is more important.  What is

[2018-07-02 20:06] CyrusNajmabadi commented on #24998
I'm definitely getting confused then.  Because you opened this issue with:

![image](https://user-images.githubusercontent.com/4564579/42183878-466fbfca-7df8-11e8-9e9b-e9720d224548.png)

Here you've described how you don't think ti's good that "generate type" is above "spell-check."

However, the suggested changes to lightbulbs don't change any of this.  Both of these will become "lightbulbs" if w

[2018-07-02 20:08] justcla commented on #24998
I have never had an issue with the size of the impact of a change. And I don't even think adding a single package reference is a particularly impactful change. (Unused references don't really impact the project.)
Also, I'm used to the fact that some changes will affect a single line and some will affect multiple files (ie. rename). It just comes with the territory. I'm curious as to when the issue

[2018-07-02 20:13] CyrusNajmabadi commented on #24998
Not to my knowledge, no.  The point is to make you aware you can do things in this location.  These drop downs have existed since 2005, and have just been a way for us to surface functionality to the user that we feel is relevant to their contextual locaiton.

I don't see how the iconography helps here.  We can't answer which item "[you] should follow".  That's up to you.  There are many things of

[2018-07-02 20:14] justcla commented on #24998
@CyrusNajmabadi , That was @gundermanc who opened with that.
And my apologies, there are several threads that seem to be across these issue.
I raised feedback directly to Christian last week about the issue I had determining which was a suggestion vs lightbulb.

I agree with you about that:
- Generating a type to fix this error should be a "Suggestion" not a tool.
- We should not prioritize spelli

[2018-07-02 20:14] KirillOsenkov commented on #28240
Both Tabs and LF line endings are significant.

[2018-07-02 20:15] CyrusNajmabadi commented on #24998
That's not what generally happens with .nuget.  When you add such a package, you will get things like a package.json (which you may not want at all). It will also add a packages folder to your project, and suck in a bunch of files into it.

[2018-07-02 20:17] CyrusNajmabadi commented on #24998
@justcla Sorry for confusing you two :-/   That's my bad.

perhaps we should start fresh.  I'd like to have an issue that clearly shows a case where we have an issue here, along with the suggested fix and how it directly addresses that problem.

I realize we may already have that in this bug.  but i think the conversation has bounced around far too much, and we should have a clean slate so we can

[2018-07-02 20:18] justcla commented on #24998
That might have been the original purpose when lightbulb was all there was. But now we have the ability to distinguish between code fixes and suggestions - so I want to take advantage of that.

Also, we've received user feedback that showing a lightbulb on every line where an action is possible is terribly distracting. People are asking for the tools to be removed rather than be forced to see a li

[2018-07-02 20:20] justcla commented on #24998
We absolutely can.

We can show which items "might provide the fix you're looking for" (all lightbulbs) and with a screwdriver we can indicate "this will definitely not fix any known issues". That is SO important to me.
I am happy to carefully look through the list of suggestions to see which one will give me the fix I want. But I don't want to look at any "tools" as that's just wasting my time.

[2018-07-02 20:21] CyrusNajmabadi commented on #24998
It's unclear to me how any of the suggestions given so far address that.  Won't the lightbulb still be shown everywhere?  :)

Note: i'm 100% for improvements in this area.  I just want us to be focused and disciplined about it.  We need to understand the cases and decision making that let to current designs, and we have to be cognizant about how changes may negatively affect very important aspects

[2018-07-02 20:21] pongba commented on #28235
I think I know the reason now, here's what I think: (@sharwell correct me if I'm wrong here)

The RunAsync doesn't mean the C#Script is being run on a separate thread, but rather it means the script can use `await` to make itself `async`, e.g.:

**script2.csx**
[code]
**main.cs**
[code]
or more precisely, the (generated-by-Roslyn since C#script doesn't explicitly declare entry point method) implic

[2018-07-02 20:21] justcla commented on #24998
I will create a new issue to address to problem I'm having with no knowing which are suggestions or tools.

[2018-07-02 20:21] CyrusNajmabadi commented on #24998
Thanks!

[2018-07-02 20:22] justcla commented on #24998
No, the lightbulb icon is meant to show the highest severity item. So,In the case where there are no "suggestions", they would see a screwdriver instead (which is much easier to ignore).

[2018-07-02 20:28] justcla opened #28241 "No way to tell a "suggestion" from a "tool""
The lightbulb menu can show a mix of suggestions and tools. Suggestions are things that VS is proposing you seriously consider as a means of fixing a warning or error. Tools are handy things that can change your code - but do not address any known issues directly.

The menu can contain a mix of these items, but there is no easy way for a user to tell which are suggestions and which are tools.

Her

[2018-07-02 20:29] justcla commented on #24998
New issue opened to deal with the problem of not knowing which is a suggestion and which is a tool.

https://github.com/dotnet/roslyn/issues/28241

[2018-07-02 20:30] justcla commented on #24998
True. The issue with the user complaining about the lightbulb was because we were showing lightbulb instead of tool.

[2018-07-02 20:45] CyrusNajmabadi commented on #24998
Can you clarify this :)   I'm not really understanding.  Was this a case where we (Roslyn) misclassified an item in teh list?  If so, do you know which one?   If not, can you provide more detail as to the actual problem?  (Note: opening an issue for that might make the most sense as well, thanks!).

[2018-07-02 20:47] CyrusNajmabadi commented on #28241
Note: In this case, it looks like both of these should be tools.  I don't see anything in the code that would indicate that either is a suggestion.  So it seems buggy (likely on roslyn's side) that we have a lightbulb here.

@sharwell My guess is that we're not properly mapping an analyzer set to none/silent to a refactoring/tool treatment in the UI.  Is this something you were planning to do as p

[2018-07-02 20:48] CyrusNajmabadi commented on #28241
Note: if you actually had suggestion-dots, or a warning/error squiggle for "add accessibility modifiers" then i would expect this to be a lightbulb.  So, for the purposes of this discussion can you add *another* image that shows that?  You'll have to change your severity for the option to require accessibility modifiers.

Thanks!

[2018-07-02 20:54] sharwell commented on #28235
Yes, this is correct. The behavior of `RunAsync` is consistent with the general guarantees of other asynchronous methods in the framework (i.e. the method is allowed but not guaranteed to yield before returning). If you want to force the code to run asynchronously, you can call the method like this:

[code]

[2018-07-02 20:54] #28235 closed

[2018-07-02 20:56] cston opened #28242 "Add SymbolDisplay option to append suffix for unannotated reference types"
There are currently `SymbolDisplay` options to append a suffix for the display of nullable and non-nullable reference types. Consider appending a suffix for unannotated types as well, perhaps `~`.
[code]
Perhaps rename the existing `IncludeNonNullableTypeModifier` option and use a single option to specify whether a suffix is added for non-nullable and unannotated types.

[2018-07-02 20:56] cston commented on #28242
cc @jcouv

[2018-07-02 20:56] justcla commented on #24998
It was in the json editor. The item had never been classified as a "screwdriver" type. I own that area and am managing a bug to address that in the Web Tools area.

[2018-07-02 21:03] justcla commented on #28241
Wouldn't it be nice if I could tell?
That's my whole point.

[2018-07-02 21:05] justcla commented on #28241
When I add null checks and add accessibility modifiers, the icon becomes a screwdriver.

![image](https://user-images.githubusercontent.com/17131343/42186270-e1a58ad0-7e00-11e8-9b29-90417edb4d13.png)

From that I deduced that Change Signature was a tool and the others were suggestions.

[2018-07-02 21:08] justcla commented on #28241
If there were icons beside each item, it would be very clear which ones are real suggestions.

![image](https://user-images.githubusercontent.com/17131343/42186402-69ab1ca6-7e01-11e8-9c18-9dbd7686bda6.png)

[2018-07-02 21:16] justcla commented on #28241
I do think it's weird that lightbulb actions are surfacing where there are no squiggles. Why is there no squiggle for "Add accessibility modifiers"? It's not showing up in the Error List, either. Perhaps it should be a screwdriver too.
Same too for Add null check, which surfaced without any squiggly.

[2018-07-02 21:17] KirillOsenkov opened #28243 "Microsoft.CodeAnalysis.Options.OptionKey should have either DebuggerDisplay or ToString"
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Options/OptionKey.cs,90ca106cabaa4827 should implement either ToString() or have a DebuggerDisplay attribute so it shows useful information in the debugger.

[2018-07-02 21:20] jamesqo commented on #27108
@heejaechang

Of course, I think it's really interesting. I'm just trying to work through the code right now and understand things a bit better before I go delving in.

[2018-07-02 21:24] CyrusNajmabadi commented on #28241
That's not a logical deduction.  We may or may not offer toosl depending on what your code looks like, just as we may or may not offer suggestions based on what your code looks like.  Once you change your code, the set of offered things (be they suggestions or tools) may necessarily change.

[2018-07-02 21:29] justcla commented on #28241
I'll try to provide some other examples where the menu is full of items - some suggestions, some not - and I can't tell which is which.

[2018-07-02 21:30] CyrusNajmabadi commented on #28241
All i'm saying is that i want to address the confusion with the *right* fix.  In my very first post i called this out and brought up the two primary issues i'm seeing.  I'm trying to address this in a systematic way as i believe there are two issues going on.

1. Some things that shuold be surfaced as tools are surfaced as suggestions.  This is your first image.
2. Even when things should be surfa

[2018-07-02 21:30] justcla commented on #28241
Aside from the details of specific fixes (like those mentioned above), what do you think of my made-up image that shows a mix of bulbs and screwdrivers?

[2018-07-02 21:31] CyrusNajmabadi commented on #28241
Yes.  That's what i was asking for when i said:

I think this will demonstrate the problem very well.

[2018-07-02 21:31] CyrusNajmabadi commented on #28241
With the image you provided, it does not make sense.  Since all of those should be tools.  **However**, i think it would make sense if you also had an image that had suggestion-dots, or squiggles in the appropriate location.

[2018-07-02 21:33] Phrohdoh opened #28244 "Request: Use Levenshtein distance (or similar) to improve errors in the event of a misspelled ctor name"
Say I have a class:

[code]

I add a ctor but misspell it accidentally:

[code]

Instead of getting `error CS1520: Method must have a return type` it would be more helpful to get something similar to the following:

[code]

I'm sure this could be expanded to other areas but I believe this would be immediately beneficial with the smallest surface area.

---

This issue was moved from [dotnet/csharp

[2018-07-02 21:33] Therzok commented on #28241
Note: in VSMac, we put code fixes at the top of the list, a separator then list all the refactorings.

I know Roslyn has a MRU cache, not sure how that would behave in that case. We consider code fixes as more important than refactorings by default.

[2018-07-02 21:35] Phrohdoh commented on #28244
@HaloFour suggested implementing this as an analyzer.

I believe this would be most useful if this were shipped, by default, to all users.

Is it possible to write an analyzer that would get shipped to everyone, or would a nuget package need to be discovered by every user before they could benefit?

[2018-07-02 21:35] justcla commented on #28241
If the items were in strict order, a separator would be a good solution.

But we like to mix things up (ie. Rename refactoring), so I don't know if we can rely on a fixed ordering.

[2018-07-02 21:38] CyrusNajmabadi commented on #28244
Fix available here: https://github.com/dotnet/roslyn/pull/28245

[2018-07-02 21:38] Therzok commented on #28241
To expand, we do the following:
[code]

So it's not a fixed order per se, it's just giving refactorings lesser priority due to the fact that they're not really the reason a user went to a squiggle (the equivalent of VS lightbulb) menu in code

[2018-07-02 21:40] CyrusNajmabadi commented on #28241
Note: we have a PR for roslyn as well do make it so that if the user has a selection, then a refactoring that operates on that suggestion is given higher priority.  After all, if i select some subsection of squiggled code so that i can extract it, it's hugely annoying to have arbitrary suggestions take precedence of the code i'm specifically demarcating with my selection to operate on.

--

yaay m

[2018-07-02 21:41] CyrusNajmabadi commented on #28244
Fix looks like:

![image](https://user-images.githubusercontent.com/4564579/42187751-feb5bb90-7e05-11e8-8c73-cfc3a7f4d245.png)

[2018-07-02 21:41] justcla commented on #28241
Here we go.

![image](https://user-images.githubusercontent.com/17131343/42187497-23e0c15e-7e05-11e8-9ecf-12aeeb8fbc69.png)

There's some squiggles, and a bunch of items in the menu.

Can you tell me which ones will address problems and which ones will definitely not?

I know from experience that the last item will NOT fix any of the issues being raised. It is not a suggestion.

[2018-07-02 21:41] Phrohdoh commented on #28244
Does this change the `dotnet` CLI experience at all?

[2018-07-02 21:42] justcla commented on #28241
If it looked like this, it would be clear.

![image](https://user-images.githubusercontent.com/17131343/42187772-16fb6182-7e06-11e8-8351-47b88c096f48.png)

[2018-07-02 21:42] CyrusNajmabadi commented on #28244
Sure, that's true of *everything*.  but we really can't follow that policy.  otherwise, all that would end up up with is that we'd have to ship 100% of all analyzers with the compiler all the time.

[2018-07-02 21:42] CyrusNajmabadi commented on #28244
Ideally no. This should only change the experience for people who use Roslyn's built 'Feature-Layer' analyzers.

[2018-07-02 21:43] Phrohdoh commented on #28244
I figured so which is why I was hoping for a more specific / helpful error message and hit.

But some change is better than none!

[2018-07-02 21:49] CyrusNajmabadi commented on #28244
The problem here is that the space of "specific/helpful" error messages is basically "unbounded".  For example, should the compiler also scan all your referenced assemblies and say: "did you miss adding a 'using X.Y.Z' that has a type called 'Blorp' in it?".

What about scanning *all* assemblies on the machine an saying "did you miss referencing this possible assemby, and and adding this using, an

[2018-07-02 21:56] CyrusNajmabadi commented on #28241
@justcla Yup.  I think we could def try this out.  I'd be interested in the experience.

[2018-07-02 21:58] CyrusNajmabadi commented on #28241
oops.  I misspoke.  We don't have a PR for this.  We already accepted this change back in april :)

[2018-07-02 22:03] Phrohdoh commented on #28244
Then as you and @HaloFour have said this should be implemented as an analyzer instead of directly in the compiler which means it can provide more specific information, IMO.

I do understand that there is a certain threshold of reasonable effort and this is why I've outlined this specific case where you look at a method name and calculate the distance the containing type's name and, if within range

[2018-07-02 22:04] CyrusNajmabadi commented on #28241
Roslyn does not use any sort of MRU cache for lightbulbs.  Our logic is pretty complex, but it can be broken down to a few cases:

1. No selection.  In that case, fixes first, then tools.
2. Selection.  in that case, tools first, then fixes.

Note: we def have some issues where some items are misclassified.  i.e. some things are classified as fixes when they should be tools (and possibly vice vers

[2018-07-02 22:15] CyrusNajmabadi commented on #28241
Ok.  We do the sorting-by-distance last.  Which i *think* then means it actually has the highest priority.  Because it will effectively take all the sorting/grouping we've done so far, and then actually reprioritize everything based on distance.  So, take the above algorithm, but add a section at the top which is: first group things by distance.  Things that are closer are higher, things that are

[2018-07-02 22:16] CyrusNajmabadi commented on #28244
Understood.  Right now though, the 'certain threshold of reasonable effort' is that spell-checking (i.e. edit-distance checking) is past that threshold.  Happy to improve things in the higher layers though where it does fall in the threshold though :)

[2018-07-02 22:22] jamesqo commented on #27108
@heejaechang Looked into the code. As I understand it, right now we are using weak references to do caching, so the GC decides when an object is evicted. In order for RRIP to work, we ourselves have to decide when to evict the object, not the GC.

So in order words, I think we would have to somehow signal to the GC "collect this weakref before this one because it's less likely to hold relevant dat

[2018-07-02 22:30] CyrusNajmabadi commented on #28241
Yup yup.  I'll see what i can do with @sharwell to improve things in this area!

[2018-07-02 22:31] CyrusNajmabadi commented on #28241
I think we'll likely want an 'experiment' around the iconography.  Tagging @kuhlenh to make her aware of these discussions.

[2018-07-02 22:33] justcla commented on #28241
On the issue of sorting by closest distance, I find this odd.
I totally get that when your caret is ON a squiggle, or your selection would trigger an action (like extract variable), those actions should be ranked higher than other actions on that line that are not EXACTLY where the caret/selection is. That is important, as you mentioned, so that you can navigate to the point and trigger the first

[2018-07-02 22:34] heejaechang commented on #28113
perhaps, all they want is us using nullable reference in API so that user know which API they need to expect null or not.

[2018-07-02 22:50] gafter commented on #27969
Possibly related to https://github.com/dotnet/roslyn/issues/19845

[2018-07-02 23:13] heejaechang commented on #27108
@jamesqo if possible, I want this ML logic not to tightly coupled with our actual implementation as I wrote above.

we want to consult this ML box whether we should cache or not or evict or not, but we don't want it to actually cache or evict anything.

[2018-07-02 23:15] heejaechang commented on #27108
here are the comment I wrote above (https://github.com/dotnet/roslyn/issues/27108#issuecomment-391954400)

[2018-07-02 23:18] jamesqo commented on #27108
@heejaechang Ah, but RRIP deals with the actual *implementation*. It assumes a fixed-sized cache (e.g. limited to N entries), and assigns an integer to each cache entry that represents its priority for eviction. That won't work here since the GC decides what order things are evicted, not us, since we're using weakrefs.

[2018-07-02 23:30] sharwell opened #28251 "Undo granularity for completion is too coarse"
**Version Used**:

**Steps to Reproduce**:

1. Add the following code

[code]

2. Place the caret at the end of the first call to `Example`
3. Press <kbd>Ctrl</kbd>+<kbd>Space</kbd>, then <kbd>Tab</kbd>
4. Place the caret at the end of the second call to `Example`
5. Press <kbd>Ctrl</kbd>+<kbd>Space</kbd>, then <kbd>Tab</kbd>
6. Press <kbd>Ctrl</kbd>+<kbd>Z</kbd> (Undo)

**Expected Behavior**:

On

[2018-07-02 23:42] jamesqo commented on #27108
@CyrusNajmabadi [Looks like there isn't one in C# :(](https://stackoverflow.com/a/7102321/4077294)

[2018-07-02 23:58] heejaechang commented on #27108
we can give something concrete to the ML box (which can think of it as the actual entry and hold onto it). and when it says, I want to evict the entry we can convert that to actual tree/compilation/text and evict from our implementation.

I want this kind of abstraction so that we can mix this with other caches as well like MRU or LRU or any other cache we can do explicitly for certain feature sin

[2018-07-03 01:32] CyrusNajmabadi commented on #28241
My view is, unless you are actually ON the squiggle, it should not be artificially surfaced to the top.

This is challenging because the user may often not be (exactly) on an item, but definitely considers themselves at that item.  Consider something like  ```foo();``` (where the user is after teh semicolon).  The squiggle will be on ```foo()``` (because that's where the error is is), but the user

[2018-07-03 03:33] jkotas commented on #27108
It does not today. @Maoni0 has been looking recently into whether we should have an API to make it easy to implement memory-sensitive caches.

[2018-07-03 05:16] cston opened #28255 "CS0695 reported for type parameters that do not unify"
[code]
[code]

[2018-07-03 05:17] cston commented on #28255
Same error reported for:
[code]

[2018-07-03 06:42] KirillOsenkov opened #28256 "Reentrancy in SnapshotSourceText.From() causes exception on Mono"
See Mono Runtime bug https://github.com/mono/mono/issues/8700

Roslyn has a situation where the delegate used to create the value when ConditionalWeakTable.GetValue returns false goes ahead and reentrantly adds the same value to the weak table, so by the time the delegate returns and the ConditionalWeakTable wants to add the result, it is already there, causing this line to throw:
https://github.c

[2018-07-03 06:45] justcla commented on #28241
Interesting thoughts.

I guess I feel differently. I expect accuracy with tools - putting the effort on me to type correctly and place the caret correctly. (Hence why I don't want spell check about Generate variable).
Various tools help with this kind of "accurate typing/placement" behavior. For instance, a good "Go to next issue" command with shortcut can easily move the caret onto the next squig

[2018-07-03 06:47] KirillOsenkov commented on #28256
Here's where Roslyn calls GetValue with a delegate:
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures.Text/Extensions.SnapshotSourceText.cs,84

Their delegate reentrantly calls GetValue through here:
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures.Text/Extensions.SnapshotSourceText.cs,38
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures.Text/Extensions.Text

[2018-07-03 07:39] #25714 closed

[2018-07-03 07:39] jcouv commented on #25714
Fix will ship in 15.8.Preview5.

[2018-07-03 08:32] CyrusNajmabadi commented on #28241
I don't see anything that would have changed any of these issues.  IMO the onus would be on anyone wanting to make changes here to instead have to provide strong demonstrative results that show that these changes are actually an improvement.  These decisions in the past were not made haphazardly.  They were made by a continued focus on sweating these small details and collecting and continually it

[2018-07-03 09:30] GeorgeAlexandria opened #28258 "Incorrect suggestion in the Visual Studio for object creation by global namespace"
Hi,

I'm used **Visual Studio 15.6.6**.
When I try to create a new object, that is contained in a referenced assembly and its namespace is a part of my custom namespace (for example Newtonsoft.Json ), Intellisense give to me the correctly determined suggestion, look at the image below:

![globalavoidexample](https://user-images.githubusercontent.com/13402478/42211223-b717306e-7ebb-11e8-85d5-89efc4

[2018-07-03 12:20] jonathanbyrne opened #28260 "Question: Is there any way to pass configuration to a Roslyn code analyzer?"
Is there anyway a Roslyn code analyzer can make use of external configuration?  Below are examples of what I was looking for but it appears neither of them are possible.

*  Analyzer has access to MSBuildWorkspace object to read project file settings
*  Analyzer is passed properties on "<Analyzer ... />" tag in project file

[2018-07-03 14:25] #28113 closed

[2018-07-03 14:39] sharwell commented on #28260
We are currently working on the ability for analyzers to access values in **.editorconfig**, but the work is not yet complete. Until then, analyzers can access data provided by AdditionalFiles through the `AnalyzerOptions.TryGetValue` API. An example of this usage can be seen in StyleCop Analyzers (which uses it to read **stylecop.json**):

https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob

[2018-07-03 14:58] sharwell commented on #26276
@Jehoel I am not able to reproduce that in 15.8 Preview 3.

[2018-07-03 15:08] sharwell commented on #24571
This would cause a problem at least for the integration tests, which are particularly sensitive to the installation of other extensions. It could also cause problems for 3rd-party extension developers who happen to also contribute to Roslyn. I would prefer we continue to install the extensions to **RoslynDev** by default, but would not oppose allowing it to be overridden by command line builds.

[2018-07-03 15:08] #24180 closed

[2018-07-03 15:22] jamesqo commented on #27108
@heejaechang

Is this something along the lines of what you'd want: https://gist.github.com/jamesqo/ad87331e90a6b8a4ea744f9700e070e2 If not provide a code example of the abstraction you'd want to define.

[2018-07-03 15:23] justcla commented on #28241
Lots to discuss on sorting by caret location. Holding over to discuss this on another issue.

[2018-07-03 15:25] #28117 closed

[2018-07-03 15:27] justcla opened #28261 "Only prioritize location-specific fixes when caret on squiggly"
The order of items in the lightbulb menu changes depending on where your caret is on the line.

It's great to be able to have location-specific items surface at the top of the list when your caret is ON an item, or when there is a selection that would trigger location-specific items, but when the caret is NOT ON a squiggly, the order of items is confusing and unpredictable.

I propose that locatio

[2018-07-03 15:37] justcla commented on #28261
What you've just described is the case where the caret is to the right of something just typed. I agree, in that scenario we should offer help on what was just typed. We have an issue with this today, as the block tagger seems to want to associate the caret with the item to the right. There is an issue I mentioned in the other thread where we fail to do this properly. Is it possible this nearest-m

[2018-07-03 15:44] justcla commented on #28261
Yep. That's what I would want. If I'm not ON an issue, I don't want the noise from issue affecting the full list of items available on the line. Let me have a consistent list of items I can address. If I want the order to change, I will navigate to a particular item.

What if the warning item two chars away has a whole bunch of items (that I really don't care about), but there's an error further a

[2018-07-03 15:47] justcla commented on #28261
Yeah. Fair enough. Again, this is the "I just typed something, now I want relevant fixes" thing. That's a valid scenario.

Eh, maybe. Maybe not. One might argue that fixing the nearest error is best. (rather than a closer warning).

I accept that. Sometimes that will happen anyway, no matter how we order the list.
Users need to control their screen width and line size.

[2018-07-03 15:51] justcla commented on #28261
Again, repeating pattern. The "I just typed something". We need to ensure that always works. But that never puts you in the case where the caret is to the left of the item. Maybe the problem is that we applied a solution designed for one thing to situations that aren't relevant. (ie. navigating caret to other places on the line.)

[2018-07-03 15:54] tmat commented on #24571
You can deploy Roslyn to `Exp` hive (or any other hive) by building with `/p:VSSDKTargetPlatformRegRootSuffix=Exp`.

[2018-07-03 15:55] jonathanbyrne commented on #28260
Thank you!

[2018-07-03 15:57] justcla commented on #28261
Well for one, there have been changes to the way the lightbulb surfaces. (Now favoring left side bar more often). Who knows what subtle effects that's had on the previous design.

But also, most significantly, the Editor team are producing new navigation commands and shortcuts. In particular the GoToNextIssue, GoToPreviousIssue commands that will move the user's caret from one issue to the next. T

[2018-07-03 15:57] Pilchie opened #28262 "WarningsNotAsErrors Intellisense Doesn't Match Build"
_From @owenneil on June 28, 2018 22:46_

When using the "WarningsNotAsErrors" feature Intellisense errors will frequently get out of sync with the actual build, showing with red squiggles and in the errors list when build is successful. I've not been able to figure out the exact combination of conditions, and often simply adding or removing some of the warnings from the list will stop the behavior

[2018-07-03 15:57] Pilchie commented on #28262
@davkean @jasonmalinowski @heejaechang can someone take a look and see where things are going wrong here?

[2018-07-03 15:57] Pilchie commented on #28262
_From @heejaechang on June 29, 2018 18:36_

are we talking about warning as error flag? what is warning as not error? anyway, so are we propagating this from project system to roslyn after the initial setting?

[2018-07-03 15:57] Pilchie commented on #28262
_From @owenneil on July 1, 2018 6:9_

To clarify, the "WarningsNotAsErrors" property allows you to set warnings as errors, but have a specific set still be warnings. It's the opposite of putting a list of warnings in WarningsAsErrors (a whitelist vs blacklist). I've got a project that I'm trying to enable most warnings as errors along with Stylecop and Fxcop analyzers, but trying to fix all the wa

[2018-07-03 15:57] Pilchie commented on #28262
@owenneil what type of project are you working with?  Is it an sdk-style project (.NET Core/.NET Standard), or an original one?

[2018-07-03 15:57] Pilchie commented on #28262
_From @owenneil on July 2, 2018 16:10_

It's a SDK style project, the sample attached is building .Net Core, but my real project is framework (with a SDK style project).

The project file attached is really small, just this:
[code]
Note that while there are duplicates in the list currently, I don't believe my real project has them, and it was just the result of random messing around until I recrea

[2018-07-03 15:57] Pilchie commented on #28262
@owenneil Can you run VS with `PROJECTSYSTEM_PROJECTOUTPUTPANEENABLED=1`, and there should be an extra output window pane with logging that will tell us what the project system passes to the language service?

[2018-07-03 15:57] Pilchie commented on #28262
_From @owenneil on July 2, 2018 17:16_

@Pilchie did that, I'll attach the full output, but here are the command line args, it does seem to pass those flags correctly.
`/checked- /out:obj\Debug\netcoreapp2.1\WarningTest.dll /warnaserror-:CS0169,CS0169,SA1633,SA1200,SA1600,IDE1006,SA1307,CS1591,SA1306,SA1202,SA1310,SA1401,SA1025,SA1522,SA1502,SA1500,SA1210 obj\Debug\netcoreapp2.1\\TemporaryGenerate

[2018-07-03 15:57] Pilchie commented on #28262
Thanks - looks like it.  @heejaechang in this case (for an SDK style project, these should be getting handled by the `CSharpCommandLineParser` [here](https://github.com/dotnet/roslyn/blob/1d3ff23ce9a34dafeb2a142a4540f7fdd58d68ab/src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs#L741).  Can you take a look at the repro, and see if the `Compilation` is created with the right diagn

[2018-07-03 15:57] Pilchie commented on #28262
_From @owenneil on July 2, 2018 20:32_

Hmm, I did a bit more fiddling and managed to get the issue to go away in my bigger project by:
- Removing all duplicate warnings listed.
- Fixing two warnings that were separated by semicolon rather than comma mistakenly.

Not sure why these issues are treated differently in build vs intellisense, which makes this confusing, but I'm glad I can at least stop

[2018-07-03 16:11] Pilchie commented on #28262
Moved to Roslyn, because this seems like the data is getting to the `VisualStudio` layer of Roslyn, but not being translated to `CompilationOptions` properly.

[2018-07-03 16:39] gundermanc commented on #24571
I'm aware of being able to change the property on the command line. The spirit of this issue is to reduce what a user needs to know to be able to effectively contribute to Roslyn, Editor, or any other VS extension.

READMEs can be helpful but there are diminishing returns after they get so big and the user has to discover them before they can be of any use.

Codebase specific magic is what led to

[2018-07-03 17:00] CyrusNajmabadi commented on #28261
I think any such proposal needs to actually enumerate all the cases this will affect in Roslyn and show that this introduces an improvement.

[2018-07-03 17:01] CyrusNajmabadi commented on #28261
This differs from what your proposal was, which said:

When you're to the right of the squiggly, you're not on it. Can you restate what your proposal is?

[2018-07-03 17:03] CyrusNajmabadi commented on #28261
This often happens.  The squiggly will be on some token (like the type of a local), but someone clicks on the 'name' of the local (or f12s there from some other location).  They are two chars away from a squiggle on the type.

Note: i did this earlier today when i had a ```out SemanticModel model``` in my code.  i went to definition 'model' to change this to ```out var model```.  That would have b

[2018-07-03 17:09] CyrusNajmabadi commented on #28261
I'm confused by thsi.  If you're not prioritizing by location, then you have the exact issue i'm referring to.  Where fixes show up for things very far away, instead of based on the current typing context.

Then i would prefer to work on the warning.  Because i moved right there and that's where my attention is.

Again, this is hte normal development flow for: i'm typing and i'm fixing up the thin

[2018-07-03 17:13] gundermanc commented on #24998
@CyrusNajmabadi @justcla, I think we got a bit off message here. I think we have 3 different concerns that are distracting from the original point of this issue:

- **Code generation should be treated differently than fixes** - _This bug_, raised by me in response to a perceived difference between suggestions that trivially fix my mistakes and omissions (add using, fix typo, define field/property,

[2018-07-03 17:15] CyrusNajmabadi commented on #28261
really?  the nearest error may not even be visible.  :)

Users need to control their screen width and line size.

i don't accept that.  That is strictly degrading my experience.  I honeslty don't know what problem this is actually solving.  This will negatively impact the actual user experience *immediately*, for no apperant gain.  I don't believe we've *ever* heard a message saying that the order

[2018-07-03 17:16] gundermanc commented on #24997
My original complaint was that 'spelling' sounds like the action is checking words from a dictionary against words in my code. The name should reflect that action is correcting the name of a type/method/property, etc.

![image](https://user-images.githubusercontent.com/5387680/42234667-1f6fa496-7eaa-11e8-961c-441a29343558.png)

[2018-07-03 17:17] CyrusNajmabadi commented on #28261
Ok.  How do you ensure that that works?  What is the full proposal here?

[2018-07-03 17:20] CyrusNajmabadi commented on #28261
Many of these design decisions were made *given* the left-lightbulb-margin change.

this isn't relevant.  That only affects users who use those commands.  Roslyn needs to consider users (and their muscle memory) who do not use those commands.  We cannot just go and change the model in this circumstance because of new commands they may or may not use.

Note: i highly approve of GoToNext/PreviousIss

[2018-07-03 17:21] CyrusNajmabadi commented on #28261
I don't know what this means.  "GoToLastEdit" doesn't help me.  My last edit is exactly where my caret is.  And my caret is not on a squiggle.  But there is a squiggle 2 characters before where i am.  You're saying i would need some sort of special keystroke to get back to the squiggle?  Or move back in my edit space, just to be able to bring up the right lightbulb?

This is not a good idea.  It b

[2018-07-03 17:25] CyrusNajmabadi commented on #24997
I'm making changes here.  I'll fix the string as part of that.  I'm going to go with "Fix typo"

[2018-07-03 17:32] sharwell commented on #24260
@lhfiedler I recently tried to enable concurrent testing of StyleCop Analyzers using independent MEF containers similar to what you showed. I ran into many problems with the approach and was finally convinced that there is no reasonable way to enable concurrency in this manner.

However, as a second approach I tried switching from MEF 2 to VS MEF as the container host, and found a completely diffe

[2018-07-03 17:33] sharwell commented on #24260
Resolving as **External** since the bug appears to originate in MEF 2 (part of [dotnet/corefx](https://github.com/dotnet/corefx)).

[2018-07-03 17:33] tmat commented on #24571
@gundermanc `VSSDKTargetPlatformRegRootSuffix` is not specific to Roslyn. It works for all projects that use VSSDK. So this is not an inconsistency or "codebase specific magic".

You assume that everyone wants to deploy to the same hive all the time. That is not true. It is not desirable that build of one repository affects build of another repository **by default**.

[2018-07-03 17:35] justcla commented on #28261
This is a problem: "When you're to the right of the squiggly, you're not on it."
It needs to be fixed. Whether you are at the beginning, end or middle of a token, you should get the items that relate to it. It seems we're using nearest sort to work-around this bug.

[2018-07-03 17:41] gafter commented on #28255
Not a bug. According to [the specification](https://github.com/dotnet/csharplang/blob/master/spec/interfaces.md#uniqueness-of-implemented-interfaces):

(my emphasis)

[2018-07-03 17:41] #28255 closed

[2018-07-03 17:42] CyrusNajmabadi commented on #28261
It needs to be fixed. Whether you are at the beginning, end or middle of a token, you should get the items that relate to it. It seems we're using nearest sort to work-around this bug.

What if you're *not* on the squiggly.  I.e. i'm to the *right* of it.  i.e.:

[code]

How do i call "generate method Foo" here?  My cursor is not on the squiggly.  There may be many errors on this line (including o

[2018-07-03 17:45] gundermanc commented on #24996
This was the spirit behind my suggestion for a refactoring category The idea was that these are actions that are impactful, elective in nature, and aren't minimal fixes. I'm not 100% confident that 'refactoring' is the right name/categorization but I do like the idea of presenting them lower in the list and with a different icon (screwdriver rather than error bulb).

This one seems less clear to m

[2018-07-03 17:49] gundermanc commented on #24571
The property is not Roslyn specific but its value is.

I agree it's probably undesirable for various F5 projects to interfere with one another but Exp is the standard and it has IDE tooling in place to support it, such as the 'Start Visual Studio Experimental Instance' and 'Reset Visual Studio Experimental Instance' shortcuts. Neither behave as expected for Roslyn specifically.

[2018-07-03 17:52] CyrusNajmabadi commented on #24996
Note: i wasn't against this.  I just couldn't come up with a rational set of rules about what went in this category :)

"Aren't minimal fix" is realllllllly hard to define.  Indeed, i woudl want a breakdown of all roslyn analyzers, and something explaining what is miminal and what isn't :)

[2018-07-03 17:58] CyrusNajmabadi commented on #24996
It was external and internal.  Here's the explanation (as best as i can make it).  When making a change, people often have an expectation of what the change will do, and what 'scope/area/region' of the code that will be affected.  As i mentioned in my post, having the usings change here was definitely not what people were expecting.

One thing we've been noodling on is actually using the 'namespac

[2018-07-03 18:02] CyrusNajmabadi commented on #24998
@gundermanc Thanks for the write-up.  I agree that that helps break things down.

In terms of the issues:

1. "Code generation should be treated differently than fixes".  I'd be willing ot try something out here.  Do you have an idea about how this would be shown?  Note: i would prefer some sort of different icon rather than repurposing 'screwdriver'.  Otherwise, screwdriver loses meaning. Right n

[2018-07-03 18:07] justcla commented on #28261
Absolutely. That's what I propose. If there is a more important fix further away, it should come to the top. Why deal with a less important fix (or warning) just because it's arbitrarily closer to the caret?

Bear in mind that the fixes will still BE in the list. And if there are no other __more important__ fixes on that line, you're likely to still get the options at the top.

[2018-07-03 18:11] justcla commented on #28261
I guess this problem stems from the fact that we don't provide enough boiler-plate characters when we complete items.

If, when completing a method, we provided the parens and moved the caret inside (similar to the completion experience in json), then the user would not need to type out the rest of the expression, then "go back" to fix issues.

Again, it seems we're using nearest-match to make up

[2018-07-03 18:14] CyrusNajmabadi commented on #28261
This does not help with the case i listed:

[code]

Even if the caret is here:

[code]

You are *still* not on the squiggle.

[2018-07-03 18:16] tmat commented on #24571
Well, perhaps the IDE tooling needs to be updated to supports custom hives.

[2018-07-03 18:16] justcla commented on #28261
If you're not on the issue, it's no longer the typing context. You've moved away.

No you didn't. You just said you're two chars away. That's not "Right there". hence my point. I agree that if you move "right there" you should get the items. But when you're not "right there", you're not there.

Reminds me of the Grand Old Duke of York.

And when I'm on an issue, I'm on an issue. When I'm not, I'm

[2018-07-03 18:17] CyrusNajmabadi commented on #28261
No, we're using 'nearest match' because it really matches user expectation without imposing unnecessary restrictions on them with how they type or what *other* IDE features they use.  A user can write out hte method-call however they want.  They can write it out entirely manually.  They can use some tool that spits out the end parts.  But when they're finally done, they can then go generate it, wi

[2018-07-03 18:18] CyrusNajmabadi commented on #28261
@justcla This is not true.  I'm sorry, but this conversatoin is extremely difficult because it belies a deep misunderstanding of the typing experience in c# and the mental model people have there, which we have supported for more than a decade.

[2018-07-03 18:19] #28260 closed

[2018-07-03 18:19] justcla commented on #28261
We're making up for not providing full brace completion.
We're making up for not adhering to the token immediately to the left.
We're making up for not having good shortcuts to easily navigate to an issue.

And yes, nearest-matching helps overcome all these shortcomings.

Perhaps this can be improved.

[2018-07-03 18:19] CyrusNajmabadi commented on #28261
yes it is.  When i write:  ```Foo(1, 2, 3, 4);```, then my mental model is "i just called the 'Foo' method", not "oh... i'm after the semicolon, therefor if i bring up help, show me things 100+ characters away".

This is clear and consistent feedback we've gotten from users *forever*.

--

BTW, i don't think this back and forht is being helpful.  If you'd like to discuss htis more, reach out on gi

[2018-07-03 18:21] CyrusNajmabadi commented on #28261
How would brace completion help in this specific example?

How would 'adhering to the token immediately to the left' help in this example?

How would that help in tihs example?

Be very specific.  Because we have broken this typing scenario before.  Even if we had *all of the above*, how would that help *this specific typing scenario*?

[2018-07-03 18:22] justcla commented on #28261
I guess we're coming from different coding styles and backgrounds and you're used to working in the world VS has created for users.
I've had different experiences, which have changed the way I work.