[2015-02-16 19:59] Pilchie commented on #541
Is this on the latest bits?  I fixed an issue here a while ago in TFS, but not in time for CTP5.

[2015-02-16 20:01] #40 closed

[2015-02-16 20:03] gafter opened #543 "Please add a VB test for using nameof(X) inside the initializing expression for X"
At the suggesting of @AlekseyTs it would be nice to have a test that verifies that issue #40 is not a problem in VB.

[2015-02-16 20:05] gafter commented on #543
@AlekseyTs this is the issue for the test you requested.

[2015-02-16 20:09] gafter commented on #40
@Przemyslaw-W fixed now.

[2015-02-16 20:43] dpoeschl opened #546 "Format on Paste inserts two blank lines for every line of /// doc comments when newlines are only \r"
Ported from TFS WorkItem: **829954**

---

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR>

**Note**: Yes, this sounds obscure, but this happens if you copy/paste code with doc comments through OneNote.

<BR>**Steps to reproduce:**<BR><BR>1. Save the attached file to your local machine.
1. Create a new C# project and add that file to it.
2. Op

[2015-02-16 20:44] dpoeschl opened #547 "In Quick Info, types in type parameter constraint clauses are not simplified"
Ported from TFS WorkItem: **981839**

---

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR><BR>**Steps to reproduce:**<BR><BR>1. Copy/Paste C#:

&nbsp;

<PRE style="FONT-SIZE: 16px; FONT-FAMILY: Consolas; BACKGROUND: white; COLOR: hotpink"><SPAN style="COLOR: gray"><PRE style="FONT-SIZE: 16px; FONT-FAMILY: Consolas; BACKGROUND: white; COLOR: ho

[2015-02-16 20:48] Pilchie opened #548 "C#: VS Uncomment selection command doesn't work if character sequence "/*" is found in a triple slash comment"
Ported from TFS WorkItem: **999122**

------------------------------

**Repro Steps:**

**Affected Branch:** WPT<BR>**Affected Build:** 21916.00<BR><BR>**Steps to reproduce:**<BR><BR>1. Put the follwing in a C# class:
<FONT color=#808080 size=2 face=Consolas><FONT color=#808080 size=2 face=Consolas><FONT color=#808080 size=2 face=Consolas>

///</FONT></FONT></FONT><FONT size=2 face=Consolas><FONT

[2015-02-16 20:50] gafter opened #549 "Code compiled by the expression compiler should have language rules (e.g. definite assignment) applied."
Code compiled by the expression compiler should follow normal language rules. Specifically, for variables declared within the expression (e.g. within a lambda), it should be an error to use the variable before it has been assigned a value.

We should have unit tests that verify this is occurring.

Placing in the 1.0 (stable) milestone, as it may be a breaking change to add constraints later.

[2015-02-16 20:55] gafter opened #550 "Code compiled by interactive (repl/scripting) should have language rules (e.g. definite assignment) applied."
Code compiled by the interactive and scripting variants of the language should follow normal language rules unless there is a specific decision otherwise. Specifically, for variables declared within the code, it should be an error to use a variable before it has been definitely assigned a value.

We should have unit tests that verify this is occurring.

It would be a breaking change to add the con

[2015-02-16 20:57] #543 closed

[2015-02-16 21:07] amcasey opened #551 "Word selection doesn't work in VB string interpolation literals"
`Console.WriteLine($"stuff before {1 + 2} stuff after")`

If you double-click on "before", "before" should be selected.  Instead "stuff before " is selected.

Note: this works as expected in C#.

[2015-02-16 21:08] amcasey commented on #551
I'm assuming that word navigation (ctrl-left and ctrl-right) uses the same mechanism.

[2015-02-16 21:14] Pilchie commented on #551
Yep, we had an internal bug tracking this that @jmarolf filed, which I've just resolved in favor of this.

[2015-02-16 21:33] #432 closed

[2015-02-16 22:18] Pilchie commented on #541
Confirmed that this was found on a build from before the fix I was thinking of.

[2015-02-16 22:18] #541 closed

[2015-02-16 22:19] Pilchie commented on #541
@MattGal - can you try a new build and add the "Verified" label?

[2015-02-16 22:37] heejaechang opened #553 "AnalyzerFileReference loading non-ngen file"
we shouldn't load non-ngen file when ngen file exist.

...
Name
 Image Load Microsoft.CodeAnalysis.EditorFeatures.dll (D:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\PrivateAssemblies\)
+ ntoskrnl!PsCallImageNotifyRoutines
 + ntoskrnl!MiMapViewOfImageSection
  + ntoskrnl!MiMapViewOfSection
   + ntoskrnl!NtMapViewOfSection
    + ntdll!ZwMapViewOfSection
     + wow64!whNtMapViewOfSe

[2015-02-16 23:16] dpoeschl opened #554 "An active inline rename session is still active"
Ported from TFS WorkItem: **1120490**

------------------------------

**Repro Steps:**

Extract local for all occurrences of **this**. May have to try a few times.

&nbsp;

Module M<BR>&nbsp;&nbsp;&nbsp; Friend Function GetInfoAsync() As Dog<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dim expression As ExpressionSyntax = Nothing

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dim curr = DirectCast(

[2015-02-16 23:50] Pilchie opened #556 "VB Nav Bar: Fields (and constants) are not displayed."
Ported from TFS WorkItem: **1036382**

------------------------------

**Repro Steps:**
[code]
RESULT: F is not listed in the members drop down
EXPECTED: It should be.

NOTE: The assumption is that old vb assumed all fields were at the top and you would use (Declarations) to get there.

[2015-02-17 00:01] mavasani commented on #271
I was able to get a repro and it might possibly be the fallback location issue again, I need to do some more investigation.
However, there is also another issue in here. Any exception from LocalizableString.ToString() shouldn't go unhandled. As LocalizableString is lazily computed, it is never evaluated until we need the Title/Message/Description. For this repro case, it is within DiagnosticFormat

[2015-02-17 00:06] SLaks opened #557 "Type inference fails in lambda in incomplete object initializer"
Source: (note trailing comma)

[code]

IntelliSense will not show any members for `c.`.

[2015-02-17 00:17] Pilchie opened #558 "VB NavBar doesn't always navigate to first member in (especially in Metadata as source)"
Ported from TFS WorkItem: **1036385**

---

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR><BR>**Steps to reproduce:**<BR><BR>1.&nbsp; Add this code to a VB Console app's main method:
<FONT size=4 face=Consolas><FONT size=4 face=Consolas>

</FONT></FONT><FONT color=#0000ff size=4 face=Consolas><FONT color=#0000ff size=4 face=Consolas><FONT col

[2015-02-17 00:34] SLaks opened #559 "Semantic Error in Object Initializer shows nonsensical quick fix"
Source:

[code]

Quick fix:

[code]

This may be related to https://roslyn.codeplex.com/workitem/481

[2015-02-17 00:37] garbervetsky opened #560 "OpenSolutionAsync doesn't get include all Facade references needed to compile a project"
We try to get a compilation from a project loaded using OpenSolutionAsync, it fails reporting that some references are missing.

            var ws = MSBuildWorkspace.Create();
            var solution = ws.OpenSolutionAsync(path).Result;

Example:

            string pathToDll = @"C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.5.2\Facades\";
            var metad

[2015-02-17 00:37] Pilchie opened #561 "Introduce local from "else if" generates local inside else."
[code]

Select `args.Length == 0` and use Ctrl+. to invoke introduce local.

**Result**

[code]

**Expected**
Would be nicer to put the local before the if itself - while it changes semantics if there are side-effects, it's more likely what someone would want.

**Note**
Was reported through the Send-a-smile/Send-a-frown.

[2015-02-17 00:38] SLaks opened #562 "Non-conflicting extension method suppresses Add Using quick fix"
Source:

[code]

No quick fix is offered to add `using X;`.

Removing the existing `using` directive will make the quick fix appear.

[2015-02-17 00:42] garbervetsky commented on #560
I continue to with the description (sorry).
I need to manually add the references mentioned in the examples in other to get a compilation without errors.

[2015-02-17 01:06] khellang commented on #560
Shot in the dark: Isn't there something called [`MSBuildWorkspace.LoadMetadataForReferencedProjects`](http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.Workspaces.Desktop/Workspace/MSBuild/MSBuildWorkspace.cs,515428588aa4c56a)? What happens if you set that to `true`?

[2015-02-17 01:12] garbervetsky commented on #560
It didn't work.

Some of the references are working in with OpenSolutionAsync but I need it
to add some references manually as I shown in the example.

Thanks!

On Mon, Feb 16, 2015 at 5:06 PM, Kristian Hellang <notifications@github.com>
wrote:

[2015-02-17 01:24] #42 closed

[2015-02-17 01:26] khellang commented on #560
What errors do you get? Any of these? http://support2.microsoft.com/kb/2971005. Does the project build fine with VS?

[2015-02-17 01:28] gafter opened #564 "Add a test that a method type parameter can be used in Nameof() in parameter default value in VB"
In the review for the fix for #42, @AlekseyTs suggested we add an analogous test for the issue in VB. Specifically, we should test that a method's type parameters can be used inside a Nameof() expression in the default value for the method's value parameters.

It is possible that there is already such a test.

[2015-02-17 01:32] garbervetsky commented on #560
Yes. I build pertectly with VS.
The project has 30 already references when I loaded. When I add the
references y mentioned in the example I compile in Roslyn too.

On Mon, Feb 16, 2015 at 5:26 PM, Kristian Hellang <notifications@github.com>
wrote:

[2015-02-17 02:26] pdelvo opened #565 "Syntax node actions are not called for field declarations"
After upgrading from beta2 to rc1 I noticed the following:

Syntax node actions are not called for FieldDeclaration's and EventFieldDeclaration's if the underlying variable declaration does have more than one variable declarator. A syntax node action for the variable declaration does not work either, but a syntax node action for the variable declarators works.

To reproduce:
[code]
Testcode:
[code

[2015-02-17 02:54] davidfowl opened #567 "Add ability to provide a CryptoKeyFile as a byte[]"
Today, to provide a strong name, it has to come from a file on disk:

[code]

Instead, I'd like to pass a fixed byte[].

[2015-02-17 05:19] gafter commented on #377
I would rather we fix the code gen bug when not in an expression tree than generate bad code in non-expression-tree scenario just because we have no way of generating the corresponding correct expression tree.

[2015-02-17 05:32] JoshVarty opened #568 "Expose public AbstractOleCommandTarget for command routing"
From http://roslyn.codeplex.com/workitem/243

I've been working on adding various C# language services to a projection buffer. I'd like to add the proper language services to the command chain.

Microsoft.VisualStudio.LanguageServices defines an internal [AbstractOleCommandTarget](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/AbstractOleCommandTarget.cs,9e223f8b13

[2015-02-17 05:36] JoshVarty commented on #568
@Pilchie mentioned on Codeplex we should consider a PR for this issue.

I believe we'd need to make `AttachToVsTextView()` public as well. @SLaks can you weigh in on exactly what you'd need for VSEmbed?

[2015-02-17 05:40] JoshVarty commented on #568
It's been a long time (Since July) that I've looked at this. I believe this might have to make `ICommandHandlerServiceFactory` public as well.

[2015-02-17 08:05] sashas79 opened #570 "Proposal: Library method for iterating over IEnumerable concurrently (ForEachConcurrent)"
ForEachConcurrent iterator over a collection. See below for implementation.

[Explanation](http://csharpandsuch.tumblr.com/post/111076020413/concurrent-collections-with-c-foreachconcurrent)

        public static List<TD> ForEachConcurrent<T, TD>(this IEnumerable<T> src, Func<T, TD> concurrentAsync, bool isRunAsync = false, short magnitude = 2, params object[] args)
        {
            var arDat

[2015-02-17 08:08] sashas79 opened #571 "Proposal: Library method for converting string to/from byte [] (without explicit encoding)"
public static byte[] ToBytes(this string str)
        {
            byte[] bytes = new byte[str.Length * sizeof(char)];

            Buffer.BlockCopy(str.ToCharArray(), 0, bytes, 0, bytes.Length);

            return bytes;
        }

        public static string FromBytes(this byte[] bytes)
        {
            char[] chars = new char[bytes.Length / sizeof(char)];

            Buffer.BlockCopy(b

[2015-02-17 08:12] Przemyslaw-W commented on #40
Great, thanks :)

2015-02-16 21:09 GMT+01:00 Neal Gafter <notifications@github.com>:

[2015-02-17 08:45] jmarolf commented on #570
Could you please explain how this is different from [Parallel.ForEach](http://referencesource.microsoft.com/#mscorlib/system/threading/Tasks/Parallel.cs,2817)?  If you pass in ParallelOptions.MaxDegreeOfParallelism = 64 (or whatever concurrency level you want) it will execute at that concurrency level (this depends on the task scheduler, but the default threadpool acts this way).

[2015-02-17 08:59] khellang commented on #570
Also, aren't these requests best suited for https://github.com/dotnet/corefx?

[2015-02-17 08:59] khellang commented on #571
I thinks this should be filed over at https://github.com/dotnet/corefx :smile:

[2015-02-17 09:20] omariom commented on #437
@tmat, you are right. I tried it with VS 2013 (silly of me) :confused:

[2015-02-17 09:26] khellang commented on #508
In the meantime, I use [this project](https://github.com/khellang/ResourceHelperGenerator) (yeah, the name sucks) for this very thing in all my projects. It's basically just a .targets file and a MSBuild task that's added to the project through NuGet that generates a strongly typed helper for your .resx files residing under the Properties folder :smile:

[2015-02-17 09:40] khellang commented on #508
BTW, there's [a thread over at the .NET foundation forums](http://forums.dotnetfoundation.org/t/include-tools-in-the-open-source-efforts/470) going on about OSS'ing different tools. It might be worth it to add your :+1: on Resgen.exe over there as well? :smile:

[2015-02-17 10:35] HugoRoss commented on #571
And this implementation does only work on the same machine as the processors of different machines may have different endianess and therefore procude different byte-arrays by the same given string.

[2015-02-17 11:01] dsaf commented on #534
If there was a Roslyn + IDE extension tutorial he could do it himself and quickly - just saying :) :

https://github.com/dotnet/roslyn/issues/535

[2015-02-17 11:02] svick commented on #570
Based on your article, you seem to have some issues with PLINQ. Why not ask for improvements of PLINQ, instead of creating a completely new API?

Specific comments regarding your article:

PLINQ uses the ThreadPool, just like ASP.NET, which can indeed sometimes cause issues. But your implementation using `BeginInvoke()` uses the same ThreadPool, so I don't see how it solves anything.
In fact, I be

[2015-02-17 11:03] DavidKarlas opened #572 "NuGet Microsoft.CodeAnalysis.Features package missing"
Hi guys,

I would just like to raise issue of not having Microsoft.CodeAnalysis.Features.Common, Microsoft.CodeAnalysis.Features.CSharp and Microsoft.CodeAnalysis.Features.VisualBasic packages available on NuGet.org(this kinda make sense since source code wasn't public at time of -beta2) or on https://www.myget.org/gallery/roslyn-nightly feed.

This packages don't depend on VisualStudio dependenci

[2015-02-17 11:06] dsaf commented on #109
I know, right? IDE and Roslyn teams really need to work together. It could be very powerful. And I wish DGML was part of Community Edition as well - imagine the diagraming possibilities.

https://github.com/dotnet/roslyn/issues/535

[2015-02-17 11:14] dsaf commented on #535
To be more practical: is there any way I can get the whole solution's semantic model in an editor extension? What are the performance implications of doing this in many extensions?

[2015-02-17 13:39] mkosieradzki commented on #407
@jmarolf Thanks for your recomendation. Actually Recommender.GetRecommendedSymbolsAtPosition does contain MOST of useful (for my purpose) logic inside. Actually CompletionService is not as interesting as the Recommender.

I decided to create my minimalistic WPF code editor from scratch (without using AvalonEdit or stuff) and I must say Roslyn API makes this task quite easy, if not trivial at all :

[2015-02-17 14:32] Ncage1974 opened #577 "Discussion: Type Providers in c#"
Hopefully this is the correctly place for c# language discussion. Has there been any proposals to adding F# type providers to the c# language? Just today i was grimising  at the thought of having to update some large wcf proxy classes that we have. Type providers would make this so easy. I sure it will be helpful in a lot of cases where you have disparate data sources that change frequently.

[2015-02-17 15:18] SLaks commented on #535
To answer your specific question:

If you have a TextBuffer, use http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures.Text/Extensions.cs,66.

If you don't, MEF-import http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/ProjectSystem/VisualStudioWorkspace.cs,17

[2015-02-17 15:18] SLaks commented on #534
Actually, I could do it myself without any tutorials too :)

However, I work at Google and therefore cannot sign the CLA.

[2015-02-17 15:19] SLaks commented on #535
For less-specific information, see http://blog.slaks.net/2014-04-07/exploring-roslyn-part-1-introduction/.
I still need to update this for the more-recent changes (the desktop/portable split, and the fact that everything is now open-source)

[2015-02-17 15:21] SLaks commented on #534
To implement this, modify http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/Intellisense/QuickInfo/Providers/AbstractSemanticQuickInfoProvider.cs,136

[2015-02-17 15:26] SLaks commented on #568
Before implementing this, `AbstractVsTextViewFilter` needs to be refactored.

Right now, it's broken; it has barely-used generic type parameters that make it language-specific, yet it's only registered once per TextView.

It should either be changed to be completely buffer-level (so that a TextView with C# and VB buffers would have two filters), or the type parameters should be removed entirely.

[2015-02-17 15:30] SLaks commented on #568
The type parameter is only used for `_languageService`, which is mostly used to access the `Workspace` or `ComponentModel`.  (I don't know if it's worth supporting a TextView with buffers from _different_ workspaces, but that could easily be fixed using EditorFeatures.Text and mapping down to a buffer)

The only problem is http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementa

[2015-02-17 15:31] SLaks commented on #568
To answer your question, `ICommandHandlerServiceFactory` is used as a ctor parameter, so it needs to be public to make it compile.

[2015-02-17 15:37] erik-kallen commented on #571
Why? It seems clearer to me to explicitly state that you want UTF-16. When could this method possibly be useful (other than to save you from typing ```Encoding.Utf16```, which does not seem like a compelling use case to me)?

[2015-02-17 15:38] SLaks commented on #568
`AttachToVsTextView()` must also be public, or there will be no way to actually use the filter.

[2015-02-17 15:42] HugoRoss commented on #571
The issue arises when converting a Int16 (a Char is kind of an Int16) into 2 bytes. On one processor the letter "A" is converted to "0041" and on another to "4100". If you read/write it on the same machine there is no problem, but if you open it on another machine it might result in a different string.

[2015-02-17 16:44] MgSam commented on #347
Another thought- while not directly related to tuples, the idea that the compiler can provide a strongly-named way of using tuples (avoiding Item1 and Item2) seems like it could be extended to making a more strongly named sort of dictionary (where the items have more meaningful names than .Key and .Value).

I often run into situations where I need to index some collection on more than one dimensio

[2015-02-17 16:46] Pilchie commented on #407
We don't have packages for those because they don't contain any public APIs.  What are you looking for from them?

[2015-02-17 16:48] mikedn commented on #519
The main factor that decides inlining is the native code size - the larger the code, the smaller the chance that the method will get inlined. The .NET's JIT compiler also pays attention to the number of local variables, if there are too many it gives up inlining.

Assigning to a method argument always prevents inlining (in the current JIT compilers). Exception handling (try/catch) also prevents in

[2015-02-17 16:56] RichiCoder1 commented on #524
Yup. I was thinking about whether we should extend that ability to reason to the runtime.

This actually brings up another idea. You mentioned `lazy` on a method with no inputs. Why not expand that idea to introduce the idea of `memoized` methods, and removed the input limit?

[2015-02-17 16:59] Pilchie commented on #568
@jasonmalinowski can you take a look at this, and figure out what all changes would need to happen?

[2015-02-17 17:27] sharwell commented on #568
Alternative implementation of this concept:

* Base class: [`CommandFilter`](https://github.com/tunnelvisionlabs/vsbase/blob/master/Shell.Utility/CommandFilter.cs)
* Derived type specifically for text views: [`TextViewCommandFilter`](https://github.com/tunnelvisionlabs/vsbase/blob/master/Text.Utility/TextViewCommandFilter.cs)

[2015-02-17 17:29] khellang commented on #524
How can you determine if the value has been created or not? If `Lazy<T>` would be an implementation detail and hidden from the developer, there's no `HasValue` property to check.

What about disposable resources? If there's no `HasValue` property, you'd have to actually call the (potentially expensive) `Value` property of the underlying `Lazy<T>` to get the instance, just to call its `Dispose` met

[2015-02-17 17:37] tannergooding opened #578 "Roslyn.VisualStudio.Setup.vsix includes unneeded binaries."
The Roslyn.VisualStudio.Setup vsix includes several binaries that are unneeded and should be removed from the package.

These include:
* Microsoft.Data.ConnectionUI.dll
* Microsoft.TeamFoundation.TestManagement.Client.dll
* Microsoft.TeamFoundation.TestManagement.Common.dll
* Microsoft.VisualStudio.CallHierarchy.Package.Definitions.dll
* Microsoft.VisualStudio.CodeAnalysis.Sdk.UI.dll
* Microsoft.V

[2015-02-17 17:40] DustinCampbell commented on #62
This appears to be working now. I added a regression test with PR #491.

[2015-02-17 17:40] #62 closed

[2015-02-17 17:40] kuhlenh opened #580 "Interactive Design Meeting Notes - 2/13/15"
# Interactive Design Meeting Notes - 2/13/15
## Definitions
- **REPL:** a read-eval-print-loop is a tool that allows developers to execute code snippets in a user-supplied context
- **Scripting:** a light-weight solution for writing simple and small programs. Includes an API for users to execute scripts in host-supplied applications
- **Interactive Window:** the Visual Studio component that will h

[2015-02-17 17:45] RichiCoder1 commented on #524
@khellang I would imagine that the point would be to have it be opaque. So it'd be intentional not being able to access HasValue.

That's a good question, to which I'd have no good answer. Probably would frown on putting an Lazy <IDisposable> property in the first place.

[2015-02-17 17:46] tannergooding opened #581 "Roslyn.Compilers.CSharp.WinRT.UnitTests requires fixup"
Four of the unit tests in Roslyn.Compilers.CSharp.WinRT.UnitTests requires a fixup to include the [ConditionalFact(typeof(OSVersionWin8))] attribute.

These tests include:
* WinMdIReferenceINullableTest
* IVectorProjectionTests
* IVectorViewProjectionTests
* IMapProjectionTests

[2015-02-17 17:48] gafter commented on #347
@MgSam This proposal explicitly describes support for tuples with named members.

[2015-02-17 17:54] khellang opened #582 "Invalid token bug?"
Should this:

[code]

Result in this:

?? I'd expect `foo` to be the invalid token, not `string`... See [example](http://tryroslyn.azurewebsites.net/#b:master/K4Zwlgdg5gBAygTxAFwKYFsDcAobBjAGwEMQQYBhbAb2xjpgAdgAjAsPGAMwHtuYUATpFgBZVKSJRUMALwA+GACIAEqgIE+AdW4CCAE0U4AvkAAA)

[2015-02-17 17:55] coldacid commented on #347
I feel it would be important for tuples to work across assemblies. I could think of a few places in most of the projects I've had at work that would be improved by this proposal, and in almost every case it's in an interface implemented in one assembly and consumed in another. Whether or not the existing Tuple classes are used, serious consideration should be made that this proposal allows for exp

[2015-02-17 17:59] tannergooding commented on #581
Fix is available in pull request #583

[2015-02-17 18:04] agocke commented on #581
What's failing here? I expect verification to fail on non-Win8, so that's why they have CompileAndVerifyOnWin8 only calls, but I didn't expect the actual compilation to be machine dependent

[2015-02-17 18:06] tannergooding commented on #581
Microsoft.CodeAnalysis.Test.Utilities.ExecutionException :
Execution failed for assembly 'D:\Temp\1\RoslynTestFailureDump\3edbeaf2-2d1e-4443-8dc9-c34e07f8f21c'.
Exception: System.TypeLoadException: Could not find Windows Runtime type 'Windows.Globalization.NumberFormatting.DecimalFormatter'. ---> System.PlatformNotSupportedException: Operation is not supported on this platform.
   --- End of inner

[2015-02-17 18:10] agocke opened #584 "IDE suggests refactoring for "add using" instead of "add using static" on static classes"
If you reference a static member of a static class in the current compilation without qualifying on the static class or static importing the class, the IDE suggests a refactoring to "add `using`" on the static class, rather than the syntactically valid "add `using static`"

[2015-02-17 18:10] tannergooding commented on #581
In addition, it doesn't look like 'CompileAndVerifyOnWin8Only' has any check to see what OS we are running on. It simply calls 'CompileAndVerifyWinRT' which itself only creates a standard compilation using the WinRT References and then calls 'CompileAndVerify'.

[2015-02-17 18:12] agocke commented on #524
What if you want it to be thread safe? And what if you want to use InterlockedExchange instead of locking?

[2015-02-17 18:18] khellang commented on #62
Looks, like this has affected the Roslyn codebase (through the codeformatter?) where `when` is used, some examples:

https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/MetadataReader/MetadataDecoder.cs#L1403-L1410
https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/MetadataReader/MetadataDecoder.cs#L1538-L1553

[2015-02-17 18:20] agocke commented on #581
Well, that would do it. I'll take a look. I may have to bring up an older machine.

[2015-02-17 18:25] MgSam commented on #347
@gafter I know, I just thought the problem was similar enough to warrant mentioning here. There really isn't much of a distinction in Github between proposal threads and discussion threads and in any case I don't have a good enough solution in mind to make a separate proposal.

[2015-02-17 18:43] dpoeschl opened #585 "Add direct test covereage for SymbolFinder"
Ported from TFS WorkItem: **975825**

---

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR><BR>**Steps to reproduce:**<BR><BR>Found during mobbing.

&nbsp;

SymbolFinder.FindImplementationsAsync has no calls from test code. We should test it directly rather than rely on tests of consumers of this api.

---

**Revisions:**

1) Created By David P

[2015-02-17 18:44] gafter commented on #570
Please take this suggestion to https://github.com/dotnet/corefx

[2015-02-17 18:44] #570 closed

[2015-02-17 18:44] gafter commented on #571
Please take to https://github.com/dotnet/corefx

[2015-02-17 18:44] #571 closed

[2015-02-17 18:46] gafter commented on #577
There is no language proposal for this yet. We'd welcome one!

[2015-02-17 18:51] gafter commented on #582
No, "foo" is (syntactically) a perfectly valid return type for a property. But "string" isn't a valid property name.

[2015-02-17 18:51] #582 closed

[2015-02-17 18:53] Ncage1974 commented on #577
Thanks Neal for the reply. Being unfamiliar with the process is there anything that i need to do other than this issue i created :). I also created an identical issue under the Roslyn project on codeplex.

[2015-02-17 18:56] rchande commented on #287
@dpoeschl Want to verify this?

[2015-02-17 18:59] danquirk opened #588 "Formatting operations not added to the undo stack separate from committed completion entry"
Formatting operations used to (in VS2013) get their own place in the undo stack following completion behavior. In VS2015 this is no longer the case. Examples:

2013:
![formattingundostackvs2013](https://cloud.githubusercontent.com/assets/7121557/6234988/d59842f6-b693-11e4-8824-65d5c3b9872a.gif)
2015:
![formattingundostackvs2015](https://cloud.githubusercontent.com/assets/7121557/6234993/da07440e-b

[2015-02-17 19:13] AlexSiepman commented on #524
@khellang If you need more control like the object that it returns implements IDisposable and you want only call the Dispose method if IsValueCreated is true, you need to implement the lazyness of the property yourself.

I think in most of the C# projects 98% of the lazy properties has return values that does not Implement IDisposable or the Dispose method is not called. In general I think it is b

[2015-02-17 19:27] jasonmalinowski commented on #568
The type parameters should just be removed, since there's no reason to have more than one filter per view in the theoretical case of a view having C# and VB buffers mapped at the same time.

@JoshVarty: did you have to do anything in the overridden version beyond the simple derived type you showed? I'd prefer not to open it up to arbitrary extensibility but rather just have a factory to produce th

[2015-02-17 19:38] AlexSiepman commented on #524
@agocke As uou can see in the implementation example, I want it to be thread safe (like the default of the Lazy<T> class). I searched for "new Lazy" and C# on the internet in general and more specific on Stackoverflow.com. After a few hundred search results, I found only one example of Lazy<T> that used the option to not be threadsafe. In that rare situation, you need to implement the lazyness of

[2015-02-17 19:44] SLaks commented on #568
@jasonmalinowski Then why does each concrete Roslyn TextView have its own implementation?

http://source.roslyn.io/#Roslyn.VisualStudio.InteractiveServices/Interactive/ScriptingOleCommandTarget.cs,19 and http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/AbstractVsTextViewFilter%25603.cs,4d9f8a6d053d1208,references

Also, http://source.roslyn.io/#Microsoft.VisualStudio

[2015-02-17 19:50] AlexSiepman commented on #524
@RichiCoder1 To be honest, when I suggested the lazy method with no parameters, I considered the option to remove the resrtiction "no parameters". The problem is that this is much harder to implement and it  raises many questions about equality etc. Also you do not need it as much as the simple option. This makes chance that this option is actually implemented so small, that I preferred the simple

[2015-02-17 19:59] gafter commented on #577
We cannot consider a language proposal if there is no language proposal to consider. A suggestion that we consider doing "something like F# type providers" isn't a language proposal that we can do anything with. We would need much more detail.

[2015-02-17 20:04] shyamnamboodiripad opened #592 "Public API analyzer reports an error in VS that doesn't show up during command line builds for a property getter initialized using new expression bodied member syntax"
I am running into the following error when I open Roslyn.sln in VS. But the solution builds fine on the command line.

Error	 *RS0017*	Symbol 'Microsoft.CodeAnalysis.CSharp.Syntax.AnonymousMethodExpressionSyntax.Block.get' is part of the declared API, but is either not public or could not be found	CSharpCodeAnalysis		1

The error has no location. But it is referring to a the getter of a property t

[2015-02-17 20:15] shyamnamboodiripad opened #593 "Errors around referencing csc2.exe and vbc2.exe when opening Roslyn.sln in VS"
When I open Roslyn.sln in VS, I always see the following errors in the error list. The errors (i.e. CS0009) don't show up during build on the command line.

![image](https://cloud.githubusercontent.com/assets/10579684/6236307/795c0008-b69e-11e4-89f8-9c94f9d66a88.png)

- Is it a compiler bug that the above CS0009 errors only show up in VS but don't fail command line build?

- Could we please fix up

[2015-02-17 20:24] jasonmalinowski commented on #568
I suspect Scripting having it's own implementation is legacy fallout from when we supported running the interactive package atop non-Roslyn Visual Studio, and probably isn't needed anymore.

Not sure what you mean by "should return null" -- the helper it calls does exactly that.

[2015-02-17 20:26] cston opened #594 "C# Interactive "#help" command requires <enter><enter> to submit"
In C# Interactive, type: #help<enter>

Result: <enter> dismisses the Intellisense menu that contained "help" but it does not submit the statement. A second <enter> is required to submit.

[2015-02-17 20:26] agocke commented on #593
Not a compiler bug -- project system bug.

[2015-02-17 20:32] MgSam opened #595 "Proposal: File scoped namespaces"
### Background
.NET style guidelines recommend having at most one namespace per file. The current namespace syntax only allows block scope, resulting in every file typically having all of its contents (save using statements) wrapped in a namespace block. This leads to both vertical space being wasted (the curly braces used to delimit the block) and more importantly, horizontal space being wasted,

[2015-02-17 20:34] DustinCampbell opened #596 "VB Code Model: EnvDTE80.CodeFunction2.AddAttribute() throws COMException(E_UNEXPECTED)"
This should just work, but it throws with the following call stack:

at System.Runtime.InteropServices.Marshal.ThrowExceptionForHRInternal(Int32 errorCode, IntPtr errorInfo)\r\n   at Microsoft.VisualStudio.LanguageServices.VisualBasic.CodeModel.VisualBasicCodeModelService.InsertAttributeListIntoContainer(Int32 index, SyntaxNode list, SyntaxNode container)\r\n   at Microsoft.VisualStudio.LanguageSe

[2015-02-17 20:35] SLaks commented on #568
Ah; I did not realize that `GetBufferContainingCaret()` took an optional default contentType.
That's a seriously misleading function; can you make the parameter non-optional and add a parameterless `GetRoslynBufferContainingCaret()`?

[2015-02-17 20:41] #449 closed

[2015-02-17 20:41] jasonmalinowski commented on #560
I suspect the problem here is we're not invoking MSBuild correctly to get façade references added. There really isn't a workaround here.

[2015-02-17 21:07] amcasey opened #597 "Can expression compilers guess name of missing corlib assembly?"
Right now, if the corlib module hasn't been loaded, we extract the AssemblyIdentity of the missing module from a diagnostic and find `MissingCorLibrarySymbol.Instance.Identity`.  It would be nice if we could somehow determine which corlib the debuggee is using an request that one.

[2015-02-17 21:12] agocke commented on #524
@AlexSiepman And yet, all of the lazy code in the compiler uses InterlockedExchange, so there's clearly some use case for it :)

[2015-02-17 21:21] dpoeschl opened #599 "Cross-language references to C# methods with out parameters are not found by FAR, GTD, etc."
Ported from TFS WorkItem: **829965**

------------------------------

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:**

<BR>**Steps to reproduce:**<BR><BR>1. Copy/paste into C# class library:

&nbsp;
<PRE style="FONT-SIZE: 16px; FONT-FAMILY: Consolas; BACKGROUND: white; COLOR: hotpink"><SPAN style="COLOR: blue">public</SPAN> <SPAN style="COLOR: blue

[2015-02-17 21:36] DustinCampbell opened #600 "C# Code Model: FunctionKind for explicit and implicit conversion operators throws COMException(E_UNEXPECTED)"
C# Code Model FunctionKind should return an appropriate vsCMFunction for explicit and implicit conversion operators.

[2015-02-17 21:38] AlexSiepman commented on #524
@agocke Good point! Maybe I should say that is is not used often in line of business apllications.

[2015-02-17 21:40] tmeschter commented on #593
The basic problem is that the VBCSCompilerTests project depends on csc2 and vbc--not to build, but in order to run tests. There doesn't seem to be a good way to represent this in MSBuild, unfortunately.

[2015-02-17 22:03] balajikris commented on #528
@Pilchie we could only extract to fields from inside expression bodied members, not locals. correct ?

[2015-02-17 22:09] cH40z-Lord opened #604 "Allow unchecked in method or class signature, just like unsafe"
I was wondering why the `unchecked` context is not allowed as part of the method or class signature?
Apart from having the same benefits as `unsafe` at method or class signature level, this change would introduce more consistency between both keywords, which is something I have always really appreciated about C# and the .NET Framework.

**Before:**

[code]

**After:**

[code]

Applied to a class:

[2015-02-17 22:20] Pilchie commented on #528
Well, for bonus points we could convert the expression bodied member into a normal one if the user introduces a local.

[2015-02-17 22:34] balajikris commented on #528
sounds great. :+1:

[2015-02-17 22:34] KevinH-MS opened #605 "ArgumentOutOfRangeException at Microsoft.CodeAnalysis.CSharp.CSharpSyntaxNode.ChildThatContainsPosition(Int32 position)"
I keep running into this crash when attempting to delete an argument from a particular method invocation...

Crash dump is located on internal file share under ...\dumps\605

ArgumentOutOfRangeException:
   at Microsoft.CodeAnalysis.CSharp.CSharpSyntaxNode.ChildThatContainsPosition(Int32 position)
   at Microsoft.CodeAnalysis.CSharp.CSharpSyntaxNode.FindTokenInternal(Int32 position)
   at Microsof

[2015-02-17 23:09] mwisnicki opened #607 "Does not work with VS2013"
Trying to open solution with `Microsoft.CodeAnalysis 1.0.0-beta2`:

[code]

I get an exception:
[code]

Looking at the codeplex bugtracker, this issue was already [reported](https://roslyn.codeplex.com/workitem/405) and closed as duplicate of another bug that was since fixed, yet it still doesn't work.

[2015-02-17 23:13] Pilchie commented on #594
We decided long ago that this was By Design, but that "Ctrl+Enter" should submit it as "force submit"

[2015-02-17 23:13] JoshVarty commented on #568
@jasonmalinowski No I only had to inherit and attach it to the the text view I was interested in. However, I should mention that my particular use-case ended up being solved by an `ITextViewModelProvider`.

I suspect @SLaks has better insight into what exactly is needed here.

[2015-02-17 23:18] mkosieradzki commented on #407
I wanted to do some reflection-based calls.

But you are right - I thought Recommender is actually in Features not Workspace - too much code browsing - I confused it with trivial KeywordRecommenders which are in Features - but are not as useful as Recommender.GetRecommendedSymbolsAtPosition.

Thanks that's a really helpful answer.

[2015-02-17 23:18] Pilchie commented on #607
Our official nuget packages require that MSBuild 14 be installed, which can be done without installing all of Visual Studio 2015 by installing the Build Tools MSI.

Alternatively, the source contains code under `#if MSBUILD12` that should eliminate that dependency if you build yourself.

[2015-02-17 23:18] #607 closed

[2015-02-17 23:29] #38 closed

[2015-02-17 23:31] mwisnicki commented on #607
Can you add this information to nuget description ?

[2015-02-17 23:45] mkosieradzki opened #608 "SourceText.WithChanges should create optimized TextLineCollection"
When creating a new SourceText using WithChanges currently lazy Lines collection is not being propagated. When working on larger files ~ 1000 lines+ it starts to be a bottleneck while using SourceText as backing store for the source code editor.

In my opinion if Lines collection has been already resolved subsequent calls to WithChanges should create new objects with lines collection incrementally

[2015-02-17 23:46] alanfo commented on #595
I think this is an excellent idea which should be very easy to implement.

Just one point.

As using directives can be local to a namespace, there would be a difference in meaning between:

[code]
and

[code]
In the first case, the using statement would be local to Foo and, in the second case, it would be global .

However, there would be no practical difference between the two if no other namespa

[2015-02-18 00:08] amcasey opened #610 "DeclarePublicAPIAnalyzer.ReadPublicSymbols seems to be consuming a lot of CPU"
I installed the newest signed build (17.2) and noticed that VS felt sluggish.  Here's the hot path from the profiler:

Function Name | Inclusive Samples | Exclusive Samples | Inclusive Samples % | Exclusive Samples % | Module Name
------------- | ----------------- | ----------------- | ------------------- | ------------------- | -----------
devenv.exe | 39,010 | 0 | 100.00 | 0.00 |

[2015-02-18 00:08] amcasey commented on #610
cc @tmeschter

[2015-02-18 00:11] amcasey commented on #610
I should mention that I'm working in the portable-pdb branch.  Maybe the analyzer is assuming the presence of a file that only exists in master?

[2015-02-18 00:13] AdamSpeight2008 opened #611 "VS2015 Run All Tests."
When I try to use `Test->Run All` I have problems.
[code]
Also I have "missing references" which results red squiggles in the IDE.
[code]

[2015-02-18 00:16] Pilchie commented on #594
NOTE: I'm not saying the design couldn't ever be changed, just that we came to that conclusion last time we discussed it :smiley:

[2015-02-18 00:24] AdamSpeight2008 commented on #611
@jaredpar Suggested trying the following `msbuild /v:m /m /p:CIBuild=True BuildAndTest.proj`
This is the resultant output from the VS Command Prompt
[code]

So I'll try a Run All Test via VS.

[2015-02-18 00:25] gafter opened #612 "Cascaded unreachable code diagnostic after missing break in case block"
Originally from http://roslyn.codeplex.com/workitem/330

----------------------------------------
SSL reported:
[code]
The `case` label correctly gives an error for the missing `break`.
However, the `int i;` statement then gives an incorrect Unreachable Code warning.

[2015-02-18 00:26] tmat commented on #594
Chuck, leave this open for now. We need to get the REPL in shape first. I can't try what the experience is today.

[2015-02-18 00:27] jaredpar commented on #611
Looks like the C++ projects are failing to build.  Don't know why but @agocke may have a clue.

I'd do a rebuild and try that again.

Note: I don't think VS will be the answer here.  The code isn't loadable in VS 2013 and I'm fairly certain the most recent 2015 CTP can't edit our code either.  We are somewhat wedged until the next public release of VS comes out.

[2015-02-18 00:31] DustinCampbell commented on #596
Fixed with pull request #598

[2015-02-18 00:31] #596 closed

[2015-02-18 00:33] DustinCampbell commented on #600
Fixed with pull request #598

[2015-02-18 00:33] #600 closed

[2015-02-18 00:42] gafter opened #613 "Confusing error from compiler around lambda with bad body"
1. Compile this C# code:

[code]

**Expected**: I get some sort of error telling me `NonBindableThing` doesn't exist

**Actual**: I get an error telling me `OtherThingExtensions.Any()` is `private`.

**Remarks**: what? The reciever type of the extension method is a completely unrelated type to `IEnumerable<int>`, and so it's not obvious why `OtherThingExtensions.Any` is even being considered here.

[2015-02-18 00:44] srivatsn commented on #320
@mattwar has fixed this in #609

[2015-02-18 00:48] gafter opened #614 "VB unit-tests use String.ToLower API, which changes its behavior based on the current culture"
Porting bug originally reported by @AlekseyTs

[2015-02-18 00:51] dotnet-bot opened #615 "Make Enter an unconditional commit character for completion"
Ported from TFS WorkItem: **1120288**

------------------------------

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR><BR>**Steps to reproduce:**

****&nbsp;

**in C# type the following **

****&nbsp;
<FONT size=2 face=Consolas><FONT size=2 face=Consolas>

Action = (x|
</FONT></FONT>

&nbsp;

Hit enter, notice the new newline...<BR><BR>Right n

[2015-02-18 00:54] gafter opened #616 "Large semantic error produced vs. simple "too many arguments" error"
**Note**: this is a regression vs. Dev12

**1.** Compile the following VB code:

[code]

**Expected**: a reasonable error telling me I'm constructing C1 with too many arguments in the lambda
**Actual**: something telling me all overloads of Select failed

**Dev12 result**:

[code]

Bug originally reported by @jasonmalinowski

[2015-02-18 01:03] gafter opened #617 "Expose MethodSymbol.CallsAreOmitted and AttributeData.IsConditionallyOmitted"
@erik-kallen reported:

These members provide information which, as far as I can see, is not available anywhere else. Can you please consider exposing them?

[2015-02-18 01:05] #581 closed

[2015-02-18 01:06] gafter opened #618 "API for Lifted operators, please"
@erik-kallen reported:

How can I determine if an `IMethodSymbol` represents a lifted operator? According to `https://roslyn.codeplex.com/discussions/562085`, you have an internal class you could consider making public which would solve the problem. However, I think a property on `IMethodSymbol` would be more discoverable (it is "bloated" with info like `IsCheckedBuiltin` anyway).

[2015-02-18 01:10] srivatsn opened #619 "Enabling rules from solution explorer doesn't do anything if there's a nowarn in the project"
Repro Steps
- Create a project and add the FxCop analyzers to the project.
- Add some code to fire a violation (say - create an empty enum). Enable CA1008 from solution explorer  and see that the violation is reported.
- Now edit the csproj file and add a <NoWarn>CA1008</NoWarn> to the project.
Note that in Solution explorer, the rule now shows up as disabled. Try to enable it.

**Actual**: Nothin

[2015-02-18 01:10] gafter opened #620 "Roslyn VB is more case-sensitive than the native with certain Unicode characters"
[code]

This code prints True Foo when compiled with the native vbc, but only True with Roslyn.
The upper-case form of ǈ, 'LATIN CAPITAL LETTER L WITH SMALL LETTER J' (U+01C8) is Ǉ.

Originally reported by @VladimirReshetnikov

[2015-02-18 01:14] srivatsn opened #621 "Create a perf test for compiling latest Roslyn solution with analyzers"
We should have a perf test that compiles the latest roslyn.sln which will include the latest roslyn analyzers. We can’t use that as a gate for anything because as more code and more analyzers are added the trend will increase but if there are sudden spikes, because of say some AnalyzerDriver changes we can spot them. Currently we don’t have any way of doing that. I believe we have a test that buil

[2015-02-18 01:20] gafter opened #622 "C# error messages are sentences. Most of them end with a period. Some of them are missing the period. We should be consistent."

[2015-02-18 01:23] gafter opened #623 "C# spec should describe recent change: enum base type can be a type expression like System.Int32"
@MadsTorgersen

[2015-02-18 01:27] gafter opened #624 "C# allows static constructor to write to readonly static field of another instantiation (code won't verify)"
There is a small “loophole” in C#. The language allows the following

[code]

But the generated code for the assignments inside the static constructor will not verify.

I don’t think the (safe subset of the) language should be allowing something that requires generating unverifiable code. I prefer to think of this as a compiler bug, and possibly a spec bug too (I didn’t check to see what the spec

[2015-02-18 01:42] gafter opened #625 "Surface unused referenced assemblies to user as diagnostics"
Someone wrote:

Over-specifying dependencies can lead to bottlenecks within our build schedule, reduced parallelism, and longer tool runtimes.

The native linker has the `/VERBOSE:UNUSEDLIBS` option which will flag superfluous libs giving us the necessary clue to have us remove the unneeded dependency from the build spec. The managed compilers lack this similar ability and so we can’t readily trac

[2015-02-18 01:43] gafter commented on #625
@jaredpar wrote:

The method used in our version of the C# compiler was pretty straight forward.  It simply hooks into type name binding and member import.  Those are good choke point for “used” types and at those times we just mark the referenced assembly as used.  Anything not used at the end of compliation is unused and we issue a warning.

Note that this is not a fool proof method and in certa

[2015-02-18 01:44] gafter commented on #625
@MattGertz You were on the original thread for this issue.
/cc @AnthonyDGreen

[2015-02-18 01:54] gafter commented on #108
According to the language specification, the invocation binds to the method on the base class, which is not marked obsolete. So the compiler is correct not to complain.

[2015-02-18 01:54] #108 closed

[2015-02-18 02:03] tmat commented on #625
I don't think this should be implemented in a compiler for the following reason.

The compiler can't avoid reporting warnings that are not actionable for modern apps (CoreClr, Windows Store, Universal). Such apps reference large sets of contract assemblies (e.g. portable profile, nuget sets, etc.) and virtually all apps use only a small subset of them. But the references are bundled together as a

[2015-02-18 02:39] tannergooding commented on #578
@jasonmalinowski Could you take a look at this or assign as needed.

[2015-02-18 04:33] mattwar commented on #83
Yep, cut & paste error.

[2015-02-18 04:50] mattwar commented on #610
Is it reading them over and over again?

[2015-02-18 05:12] gafter commented on #625
@tmat read the original issue for a description of why your suggested approach does not work. Constants are inlined by the compiler and the IL contains no hint of the compile-time dependency.

[2015-02-18 06:51] MattWhilden commented on #622
So... Remove the periods or add the periods?

[2015-02-18 06:55] iskiselev commented on #171
@svick and @mburbea , so if I understand correct, Task can be implemented with something like:
[code]

So we split Task and result storage into to classes: immutable covarint Task and non-variant reult storage.
But it gives us not much more than using interfaces for it.

[2015-02-18 07:22] RevensofT commented on #519
I see, I'm test it(base on `add` on 5) ) and it seem like local variant limit at 8(might be relate with registers), code size no more then 84 on Sub and 58 on Function, exception handling prevent inlining as you said and recursive method too. Thanks a lot @mikedn .

I see, registers is on CPU cache(I guess it should be on L2 or L1).

About delegate, yes, I mean optional parameters, when I wrote th

[2015-02-18 08:43] tmat commented on #625
In that case we should provide API that enables to retrieve that information from the compilation. But we should not issue warnings.

[2015-02-18 08:56] #353 closed

[2015-02-18 09:38] OmerRaviv commented on #448
This may be of interest to @cston or @amcasey . I think this is a fairly dangerous breaking change - any 3rd party consumers that currently use DEBUGPROP_INFO_NOFUNCEVAL expecting that the flag will protect them from causing potentially harmful side effects in the debuggee will break, as the flag will work fine in VS2013 and lower, but is completely ignored in VS2015.

[2015-02-18 10:03] AnthonyDGreen commented on #625
To be consistent with the approach we took for unused Imports/using directives we should surface this as hidden "info" diagnostics rather than warnings. Then the consumer/IDE can make a decision to take action based on other context and would address Tomas's concerns, I think. Maybe we could fade those references in the Solution Explorer.

VB actually has a command in the project properties to pru

[2015-02-18 12:20] heejaechang opened #626 "Crash in CompilationWithAnalyzers.GetEffectiveDiagnostics"
here are call stack.

[7376] System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
[7376]    at System.ThrowHelper.ThrowInvalidOperationException(ExceptionResource resource)
[7376]    at System.Collections.Generic.List`1.Enumerator.MoveNextRare()
[7376]    at System.Collections.Generic.List`1.Enumerator.MoveNext()
[7376]    at System.Linq.Enumerable.Wher

[2015-02-18 12:42] mikedn commented on #519
Indeed, in the x86 JIT compiler that limit is 8. There's also a limit of 10 for the number of method arguments. RyuJIT appears to have increased both limits to 32.

I doubt that there's a particular native code size limit, it's likely that the limit depends on other factors. At a minimum the limit should increase with the number of arguments. It may also depend on [AggresiveInlining](https://msdn.

[2015-02-18 12:47] mkrueger commented on #202
That's a blocker for the mono team as well. At least for inserting new lines the formatter should take the new line option.
I don't care much about changing existing new lines according to that option that much.
Would be nice if they would be corrected as well. But it's more important when inserting new lines.

[2015-02-18 14:14] DustinCampbell commented on #625
Actually, we are planning on removing this command from the VB References property page. We haven't implemented it yet (I don't know that we actually could without information from the compiler), and we also haven't heard a single report about it not working in VS 2015.

[2015-02-18 15:14] jaredpar commented on #625
I don't think this makes sense as a feature inside the compiler for a couple of reasons:

1. It's easy to get 95% of the way done but that last 5% requires a lot of work.  We probably don't have enough time remaining in VS 2015 to get the full 100% and I don't think this is good as a partially done feature.  It will end up giving false positives in the most complex projects.
2. There are actually

[2015-02-18 15:16] erik-kallen commented on #618
@gafter the one called erikkallen on CodePlex is actually me. erikkallen on GitHub is someone else who is probably wondering why he receives messages from the dotnet repo :)

[2015-02-18 15:51] pharring opened #628 "Can AsyncSemaphore be replaced with SemaphoreSlim now?"
@jasonmalinowski mentioned to me the other day that we may (now) be able to delete our AsyncSemaphore implementation and replace it with SemaphoreSlim. AsyncSemaphore was added to workaround a bug in SemaphoreSlim in, I think, .Net Framework 4.0. That bug has since been fixed in a later version of the framework. If the Workspaces layer (where AsyncSemaphore is defined) can take a dependency on the

[2015-02-18 15:53] pharring commented on #628
Tagging as Performance because, while they've been tuned in the past, AsyncSemaphore allocations are not cheap.

[2015-02-18 15:57] jaredpar opened #629 "Upgrading analyzers throws null reference exceptions"
The starting point for this bug is a project that has a NuGet entry for Microsoft.CodeAnalysis.CSharp.Workspaces at version 1.0.0-beta1-20141031-01.  In the Packaga Manager Console issue the following command

That will result in the following errors during the update while adding a new reference to Microsoft.CodeAnalysis.Analyzers package (was not present before the update):

[code]

[2015-02-18 16:03] jaredpar opened #630 "Obsolete messages could be more helpful"
The upgrade from beta1 to rc1 NuGet packages introduced a number of `Obsolete` members.  The messages though are not very helpful:

[code]

This just tells the user the member is obsolete but gives them no direction on how to fix the problem.  Intellisense is also not helpful here because `Begin` has no matches.  I'm forced to go to the metadata view of the file and search for the new member.

 A

[2015-02-18 16:05] jaredpar commented on #630
Also as an aside:

I generally find the move from `Begin` and `End` to type specific names results in a loss of productivity.  Before when working with rewrites on any block construct I could reliably grab `Begin` and `End` to rewrite the tree.  Now I have to remember the type specific name for begin and end on every single block construct.  That results in a lot of searching when instead I should

[2015-02-18 16:13] jaredpar opened #631 "The Kind extension members have no documentation"
Repro:
- Install the rc1 NuGet packages.
- Goto definition on the `Kind()` extension method.

Result is no documentation present.  This is not a flaw in the documentation uptake as other members like `GetTypeInfo` in the same file have documentation.

This is particularly important because the latest update changed how you determine what keyword a given `SyntaxToken` is.  The `CSharpKind` method w

[2015-02-18 16:15] Pilchie commented on #625
You could argue the same thing about the diagnostic for unnecessary usings, but it is in the compiler, simply because it is almost impossible to implement outside the compiler. I think you would find the same thing here. There would be no way for an analyzer to implement the diagnostic correctly.

[2015-02-18 16:16] jaredpar commented on #625
@Pilchie I agree that the analyzer does need the same hook as the unused using feature does.  I don't think it needs any additional hooks though.

Do we not expose that hook yet?

[2015-02-18 16:18] erikkallen commented on #618
Indeed I was wondering that since I am more fond of the Ruby on Rails camp :D

[2015-02-18 16:19] DustinCampbell commented on #625
@Pilchie's right. That's what I meant when I mentioned that we probably couldn't implement the legacy VB Remove Unused Usings without an additional Compiler API. The information about which references are used is just not exposed and we wouldn't be able to do it correctly at a higher layer.

@jaredpar There isn't a hook for unused usings. That is implemented as a diagnostic in the compiler as Anth

[2015-02-18 16:19] Pilchie commented on #625
We don't expose a hook, the compiler reports the diagnostic directly. We tried a hook approach, but it wasn't anything general purpose, there was just a `SemanticModel.GetUnusedUsings()` method.

What would you propose the hook be?

[2015-02-18 16:21] gafter commented on #625
@Jaredpar the hook for unused usings is a diagnostic, which is what I would recommend for this.

This in not proposed for VS2015, but for some later update or release.

[2015-02-18 16:22] jaredpar commented on #625
@Pilchie I'm not familiar enough with the particulars of the unused using rule so I can't detail the specifics.  But given that we keep trying to shove these features into the compiler it smells of a missing API here.

@gafter I disagree.  We are in the API business now.  If we can't provide enough surface area for a diagnostic like this to be written outside the compiler then I'd venture our API

[2015-02-18 16:28] tmeschter commented on #610
@amcasey:
The DeclarePublicAPI analyzer bails out almost immediately if the PublicAPI.txt additional file isn't found.
Which project were you primarily working in? CodeAnalysis.csproj?

@mattwar:
Yes, the analyzer reads the PublicAPI.txt additional file every time the CompilationStart action is called.

[2015-02-18 16:41] jaredpar commented on #62
@khellang indeed.  Formatting the Roslyn code base is how we initially discovered this bug.  I tried to catch all of the bad cases as I did the format but it looks like these slipped through.

I just updated the code formatter to use a version of Roslyn with this fix.  So this will be corrected next time that I run it across the code base.

[2015-02-18 16:41] jaredpar commented on #62
Confirmed the fix is present in the rc1 NuGet packages.

[2015-02-18 16:44] DustinCampbell commented on #625
Hey guys -- this is not something we can ever get right. References are not only present for compilation, but also for runtime (for example, dependency injection). In the world of NuGet packages there are potentially *many* references added to a project that are not used for compilation, but removing them would break the user's program. I can't see us adding this feature in either the compiler or

[2015-02-18 16:55] jaredpar commented on #629
Here is a pre-canned repro for this bug:

- `git clone https://github.com/dotnet/codeformatter.git`
- `git checkout -b repro 8479c0f3779dc98da2175366d3c02af2ba557518`
- Open solution in Visual Studio 2013
- Open Package Manager Console
- `update-package -pre -project Microsoft.DotNet.CodeFormatting Microsoft.CodeAnalysis.Workspaces.CSharp `

[2015-02-18 16:56] #515 closed

[2015-02-18 16:58] tmat commented on #625
+1 for what @DustinCampbell says.

If there is a need to capture the references that the compiler embeds metadata from (constants, NoPIA types) we could add that information to PDBs. PDBs in general contain source information useful for tools (not just debuggers) that is otherwise lost during compilation.

[2015-02-18 17:14] gafter opened #632 "Docs for ISymbol and its derived interfaces should say that they are not to be extended outside Roslyn"
The interface ISymbol and its derived interfaces should contain documentation that they are not intended to be extensible in client code. We intend to evolve these interfaces by the addition of members in future revisions (e.g. the addition of ILocalSymbol.IsReadonly), and we need to avoid having clients inherit or implement the interfaces to avoid breaking compatibility.

I recommend something li

[2015-02-18 17:16] jasonmalinowski commented on #628
The bug was fixed in .NET framework 4.5.1. Our current minimum version is 4.5 so it's not a huge jump to accept it.

[2015-02-18 17:20] gafter commented on #618
oops

[2015-02-18 17:21] gafter commented on #617
@erik-kallen

[2015-02-18 17:22] gafter commented on #323
@erik-kallen your bug originally

[2015-02-18 17:27] amcasey commented on #610
@tmeschter I was working on the Expression Compiler projects.

[2015-02-18 17:27] gafter commented on #625
@DustinCampbell There is no IDE request here. This request is from someone who wants to do the tooling in a build system. But he can't do that without the compiler feature. We don't need to do both the compiler feature and the tooling. We can do the compiler feature and let others do the tooling if that is what they want. Reopening.

[2015-02-18 17:28] RevensofT commented on #519
Thanks, sadly it's not like RyuJIT will be apply to .Net soon.

All I can do is observe CIL code size, not much I can do for clarify conditions to do inlining.

I try to use it before but it seem like I'm not understand its condition to work and a description in MSDN is really not help at all, "The method should be inlined if possible".

I see, thanks again.

[2015-02-18 17:29] gafter commented on #625
I don't feel strongly whether this needs to be an API, a diagnostic, extra info in PDBs, whatever. But only the compiler can do it and get it right.

[2015-02-18 17:35] amcasey commented on #448
@OmerRaviv Thanks!  I'm following up with a debugger dev to see if there's a flag we're failing to consume in the Result Provider.

[2015-02-18 17:38] gafter commented on #625
@tmat do we generate PDBs when not compiling for debug? If not I don't think that is the right place to put the data.

[2015-02-18 17:39] gafter commented on #622
@MattWhilden Yes. Personally I would add them.

[2015-02-18 17:45] DustinCampbell commented on #625
@gafter I was not referring to the IDE request. This feature can't be implemented correctly by the compiler either. Such a feature would still report lots of false positives for binaries that are intended to be used at runtime but not compile time. I can't see this being a viable feature.

[2015-02-18 17:48] DustinCampbell commented on #625
@gafter Consider the case where a contract assembly is used for compilation and an implementation assembly is referenced simply to deploy it next to an app. This feature would report the implementation as unused, giving a false positive.

[2015-02-18 17:52] gafter commented on #40
Assigning to @AlekseyTs for verification.

[2015-02-18 17:53] gafter commented on #42
Assigning to @agocke for verification.

[2015-02-18 17:53] srivatsn commented on #629
Ah I see what's happening. The install.ps1 is calling the AddAnalyzerReference DTE API to add the analyzer but on VS2013 that API doesn't exist. We should add a null-check so that when analyzer packages are installed in 2013, it becomes a no-op.

[2015-02-18 17:54] pnelsonmsft commented on #448
@OmerRaviv, Thanks for reporting this issue!  This is a bug we are aware of and are fixing.  The fix won't make the next CTP, but it will be fixed by RTM of Visual Studio 2015.

[2015-02-18 17:58] gafter commented on #543
@AlekseyTs Can you please verify the fix?

[2015-02-18 18:03] gafter commented on #625
@DustinCampbell I agree it would be possible to use this feature in an incorrect way. One correct way to use the information would be to limit the set of referenced assemblies given to the compiler at build time to improve both compile time and to remove false compile-time dependencies. Removing them from the command line has no effect on the behavior of the compiler (except to make it faster). Th

[2015-02-18 18:06] dpoeschl opened #633 "Constructors mentioned in crefs are classified like types"
Ported from TFS WorkItem: **840118**

------------------------------

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR><BR>**Steps to reproduce:**<BR><BR>1. Copy/paste to a C# file:

&nbsp;
<PRE style="FONT-SIZE: 16px; FONT-FAMILY: Consolas; BACKGROUND: white; COLOR: hotpink"><SPAN style="COLOR: gray">///</SPAN> <SPAN style="COLOR: gray">&lt;</S

[2015-02-18 18:08] dpoeschl opened #634 "Navigate Backward does not include small cursor movements."
Ported from TFS WorkItem: **906952**

---

**Repro Steps:**

**Affected Branch:** Dev14\VSPro_Platform<BR>**Affected Build:** 21514.00<BR><BR>**Steps to reproduce:**<BR>1. Create a new VB Console Application.
1. Set the contents of Module1.vb to the following:

<BLOCKQUOTE style="MARGIN-RIGHT: 0px" dir=ltr><FONT color=#0000ff size=2><FONT color=#0000ff size=2><FONT color=#0000ff size=2>

<FONT fac

[2015-02-18 18:12] tmat commented on #625
@gafter Yes we do generate PDB for both Debug and Release if we are asked for it.

[2015-02-18 18:12] tmeschter opened #635 "AnalyzerFileReference.InMemoryAssemblyLoader should always try to satisfy AssemblyResolve events"
When we load an analyzer assembly A we also hook `AppDomain.CurrentDomain.AssemblyResolve` so that we can handle loading A's dependencies. When our event hook is called we inspect `ResolveEventArgs.RequestingAssembly` and only try to handle the event if the requesting assembly is an analyzer.

In practice we've discovered that `RequestingAssembly` is sometimes null, leading us to miss our chance t

[2015-02-18 18:15] tmat commented on #635
We need to remove the use of AssemblyResolve completely to make the compilers x-plat.
/cc @jaredpar

[2015-02-18 18:21] tmeschter commented on #635
@tmat Can you elaborate?

[2015-02-18 18:32] tmat commented on #635
AssemblyResolve is not available on CoreCLR. @jaredpar has some ideas how to avoid the need for assembly resolution in the compilers.

[2015-02-18 18:38] KirillOsenkov opened #636 "Add compiler switches for /assemblyversion, /assemblyfileversion etc."
Right now setting AssemblyVersion and AssemblyFileVersion is done via assembly-level attributes. For many real-world build systems the versions are passed from an external environment (like CI) and build tooling often has logic to generate files like GeneratedAssemblyVersion.cs etc.

The logic to generate these files is prone to issues, such as it often breaks incrementality (file is written to ev

[2015-02-18 18:40] Inverness opened #637 "Compiler pipeline extension API"
This is a request for a simple API that allows a class to be hooked into the compilation pipeline. At minimum, after the point syntax trees are parsed but before the compilation object is created.

I recently had to make a fork to introduce a [minimalistic implementation](https://github.com/Inverness/roslyn/commit/36886c8b56013427ff4ef0ef9a6555730e0f35f1) of this because I was interested in aspect

[2015-02-18 18:49] #345 closed

[2015-02-18 18:53] dpoeschl commented on #246
Discussed this with @heejaechang and we think the best approach here is to leave continue to only support one ApplyChangeOperation, and to add better documentation to explain that if you require something more complex than a single ApplyChangeOperation, then you should

- Make your own CodeActionOperation
- Don't use *any* ApplyChangesOperations during GetOperationsAsync
- Handle all workspace edi

[2015-02-18 19:04] gafter commented on #625
@tmat I think it would be a misuse of PDBs to require their generation to track the referenced assemblies.

[2015-02-18 19:05] heejaechang commented on #246
Thank you.

I forgot to assign it to you yesterday ☺

-          Heejae

From: David Poeschl [mailto:notifications@github.com]
Sent: Wednesday, February 18, 2015 10:54 AM
To: dotnet/roslyn
Cc: HeeJae Chang
Subject: Re: [roslyn] Make CodeActionEditHandlerService support multiple ApplyChangesOperations, and other Operations that update the solution (#246)

Discussed this with @heejaechang<https://gi

[2015-02-18 19:26] pharring commented on #628
Moving to 4.5.1 would also allow us to eliminate the reflection in TemporaryStorageServiceFactory.MemoryMappedFiles.cs

[2015-02-18 20:17] srivatsn opened #641 "C# shouldn't suggest removing "this." after I've set the option to prefer it"
Ported from TFS WorkItem: <b>1123663</b>

------------------------------

<p><b>Repro Steps:</b></p>
<p>1. Create a new C# console app.</p><p>2. In Tools-&gt;Options, turn on C# option "Qualify member access with 'this'" on the "Code Style" options page.</p><p>3. Use "this." syntax to refer to a class member.</p><p><br></p><p>Result: a lightbulb with the suggestion "Remove 'this' qualification".</

[2015-02-18 20:23] erik-kallen commented on #618
@erikkallen We should have an Erik Kallen meetup sometime :)

[2015-02-18 20:48] srivatsn opened #642 "VB Field Or Property: Wrong type inferred when the usage is on a lambda"
Ported from TFS WorkItem: <b>528229</b>

------------------------------

<p><b>Repro Steps:</b></p>
<P>1. ETA VB</P>
<P>2. Paste the code given below.</P>
<P>3. Ctrl + . on Highlighted and Generate&nbsp;a field or property&nbsp;</P>

[code]

Actual: `Object` is inferred as the type
Expected: `Func(Of Int)`

------------------------------

<p><b>Revisions:</b></p>

1) Created By Balaji Krishnan (11

[2015-02-18 20:51] #448 closed

[2015-02-18 20:52] srivatsn opened #643 "Type inference for GFU and friends doesn't infer method to return Task if ConfigureAwait is used"
Ported from TFS WorkItem: <b>809537</b>

------------------------------

<p><b>Repro Steps:</b></p>
<P>1. Add the following inside Main() inside a new console app:</P><FONT size=2 face=Consolas><FONT size=2 face=Consolas>
<P></FONT></FONT><FONT color=#0000ff size=2 face=Consolas><FONT color=#0000ff size=2 face=Consolas><FONT color=#0000ff size=2 face=Consolas></FONT></FONT></FONT>&nbsp;</P>
<P><FO

[2015-02-18 20:52] svick commented on #637
`SemanticModel` is public, isn't that enough?

[2015-02-18 20:56] gafter opened #644 "Survey memory usage of compiler symbols: how can it be reduced?"
I noticed that source symbols have a side bag with a boolean for every possibly applicable well-known attribute. That is horribly space-inefficient. How much space do our symbols use? How can we reduce the space used? At the very least we should consider sharing the (same) empty bag among all symbols with no attributes.

[2015-02-18 20:58] agocke commented on #611
@AdamSpeight2008 Looks like rebuild is failing due to some idb rewriting issue. Did you try just cleaning and building?

[2015-02-18 20:59] gafter opened #645 "Can we make the batch compiler faster by using one-level trees?"
In the general Roslyn compiler APIs, syntax trees are represented by a two-layer data structure ("green" and "red" trees) to support incremental update. But in the batch compiler we don't generally need incremental update.

It is possible to have a single-level trees used during batch compilation? How would that affect performance? How would it affect the APIs exposed to analyzers?

[2015-02-18 21:08] eatdrinksleepcode commented on #625
@DustinCampbell I am not sure why you think this can't be "done right". The compiler CAN accurately report whether or not a particular reference was used during compilation. Now, acting naively on that information by removing the reference would often be the wrong thing to do; but no one is suggesting that. Instead, tools in the chain that depend on the compiler can consume this information and ta

[2015-02-18 21:09] srivatsn commented on #584
I don't think we show suggestions for add using for a static type. Maybe you ran into a case where the namespace and type name collided? Do you have a repro for this?

[2015-02-18 21:10] eatdrinksleepcode commented on #636
+1

[2015-02-18 21:23] DustinCampbell commented on #625
@eatdrinksleepcode: To be clear, I am *not* disputing that the compiler can't accurately report whether or not a particular reference is used during compilation. It clearly can do that

You're absolutely right that it's possible to have tools ahead of the compiler in the build chain to help remove runtime dependencies. However, if those tools rely on static analysis, there will always be false pos

[2015-02-18 21:34] AlekseyTs opened #647 "Open source Microsoft.CSharp assembly"
Creating an issue to track the open source effort.

[2015-02-18 21:35] AlekseyTs opened #648 "Open source Microsoft.VisualBasic assembly"
Creating an issue to track the open source effort.

[2015-02-18 21:36] eatdrinksleepcode commented on #625
I was not suggesting static analysis or automatic detection of runtime-only dependencies. References that are only needed at runtime can be marked as such in the build configuration. This is how both Maven and Gradle handle this situation.

[2015-02-18 21:37] DustinCampbell commented on #625
@eatdrinksleepcode Sorry, I misunderstood your text "a build tool could detect". Sounds like we're in agreement then. :smile:

[2015-02-18 21:37] AlekseyTs opened #649 "Open source System.Linq assembly"
Creating an issue to track the open source effort.

[2015-02-18 21:39] AlekseyTs opened #650 "Open source System.Linq.Queryable assembly"
Creating an issue to track the open source effort.

[2015-02-18 21:40] AlekseyTs opened #651 "Open source System.Linq.Expressions assembly"
Creating an issue to track the open source effort.

[2015-02-18 21:41] AlekseyTs opened #652 "Open source System.Dynamic.Runtime assembly"
Creating an issue to track the open source effort.

[2015-02-18 21:45] AlekseyTs commented on #652
Creating an issue to track the open source effort.

[2015-02-18 21:45] AlekseyTs commented on #651
Creating an issue to track the open source effort.

[2015-02-18 21:45] AlekseyTs commented on #650
Creating an issue to track the open source effort.

[2015-02-18 21:46] AlekseyTs commented on #649
Creating an issue to track the open source effort.

[2015-02-18 21:46] AlekseyTs commented on #648
Creating an issue to track the open source effort.

[2015-02-18 21:46] AlekseyTs commented on #647
Creating an issue to track the open source effort.

[2015-02-18 21:54] AlekseyTs commented on #647
The source code was formatted, sanitized and ported to https://github.com/AlekseyTs/corefx/tree/Microsoft.CSharp branch. However, since then, there were some changes made to the implementation in the internal code base that haven't been ported yet.

[2015-02-18 21:58] AlekseyTs commented on #648
Dependency on the Interna.Dynamic helpers have been removed.

[2015-02-18 21:59] AlekseyTs commented on #649
Source code and existing tests were formatted and sanitized. We should consider porting more test from desktop.

[2015-02-18 22:02] AlekseyTs commented on #650
Added tests for all public APIs and fixed found issues.

[2015-02-18 22:03] AlekseyTs commented on #651
Dependency on the Interna.DynamicHelpers have been removed. The next step is to bring expression compiler back in.

[2015-02-18 22:04] AlekseyTs commented on #652
Dependency on the Interna.DynamicHelpers have been removed. Next step is to remove dependency on Internal.DynamicDelegate.Augments.

[2015-02-18 22:14] #90 closed

[2015-02-18 22:53] pharring opened #657 "Symbol.IsSupportedOperatorName (C#) appears to be unused and should be deleted"
Was browsing through the C# symbol code and saw [IsSupportedOperatorName] (http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/Semantics/SemanticFacts.cs,d03fb008022be42d).

There appear to be no references to this method, even from test code. Looks like it can be deleted (and its attendant [s_supportedOperators](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/Semantics/Sem

[2015-02-18 22:58] Pilchie commented on #502
@amcasey I don't see either of those methods on the stack you pasted?  @brettfo, this looks like something you've investigated before.

[2015-02-18 23:07] Inverness commented on #637
`SemanticModel` is not mutable, and changes need to be made *before* the syntax trees are compiled since the compilation process is full of internal code.

[2015-02-18 23:10] amcasey commented on #502
@Pilchie I was referring to thread 0x2BD8 in the dump I linked.  I naively assumed that the stacks were related.

[2015-02-18 23:12] Pilchie commented on #502
Ah, thanks - I didn't actually look at the dump :)

[2015-02-18 23:23] gafter commented on #649
Why is this issue in dotnet/roslyn? Is the intent to make these part of the Roslyn repository? That would be very strange indeed.

[2015-02-18 23:25] tmeschter commented on #87
Assigning to @mavasani for verification.

[2015-02-18 23:29] gafter commented on #657
This was an intended part of our public API. We don't know if there are external consumers at this time.

We could defer the allocation of the hash table until it is used by placing the hash table (and its initialization) in a nested class. Do you think that would be worth doing?

[2015-02-18 23:32] tmat opened #659 "VS crash due to ArgumentOutOfRangeException thrown by incremental parser"
Stack trace:

[code]

Crash dump stored on internal share tomat\bugs\659. It isn't that much useful though since the stack is gone. I have added exception filter to IncrementallyParseTreeAsync so we can get a better stack next time.

Repro:
Extract tomat\bugs\659\Roslyn.zip, open AbstractEditAndContinueAnalyzer.cs, go to line 1059

var lambdaBodyMatch = ComputeLambdaBodyMatch(oldBody1, newLambda,

[2015-02-18 23:32] tmeschter commented on #86
Here's what you used to get by default:
![image](https://cloud.githubusercontent.com/assets/10506730/6259021/ef7ddb82-b782-11e4-8f61-fe726aac1b56.png)

And here is what you get now:
![image](https://cloud.githubusercontent.com/assets/10506730/6259032/0fc369fc-b783-11e4-93ce-00fe0f9f8404.png)

Note that you could already group by Analyzer ID; now it is just the default. The project doesn't have man

[2015-02-18 23:32] tmeschter commented on #86
Assigning to @mavasani for verification.

[2015-02-18 23:33] tmeschter commented on #93
Assigning to @jmarolf for verification.

[2015-02-18 23:33] tmeschter commented on #90
Assigning to @jmarolf for verification.

[2015-02-18 23:44] pharring commented on #657
It's on an 'internal' type, so it's inaccessible to external consumers. Did you intend it to be public?

I'm not worried about deferring initialization. It's "BeforeFieldInit", so it should already be deferred.

[2015-02-19 00:00] pharring commented on #659
@tmat Can you remember what you were doing at the time?

[2015-02-19 00:32] tmat commented on #659
Yes, updated the description above with 100% repro.

[2015-02-19 00:50] shyamnamboodiripad commented on #593
I believe it is possible to indicate project dependencies via the solution properties dialog i.e. it should be possible to indicate that csc2 and vbc2 projects should be built before VBCSCompilerTests project without adding these reference. Looks like this is already correctly set up so far as dependency on csc2 is concerned - but the dependency on vbc2 has not been specified.

![image](https://cl

[2015-02-19 00:52] shyamnamboodiripad commented on #593
Regardless, I think we should also look into the above issue that causes this error to be displayed in VS but not during command line builds.

[2015-02-19 00:56] gafter commented on #657
Oh, didn't realize the container was internal.

[2015-02-19 00:56] VladimirReshetnikov opened #661 "Find All References fails to find some references"
* Sync Roslyn git repo to commit `cc4b4333309df6de992de5ca5170698911d5b153`
* Open Roslyn.sln in Visual Studio (with Roslyn language service installed)
* Go to file `src\EditorFeatures\Test2\Simplification\AbstractSimplificationTests.vb`
* At line 19, column 109 there is a `StartsWith` identifier that binds to `string.StartsWith(string)`
* Try to Find All References of this symbol.

__ACTUAL:__
So

[2015-02-19 01:00] jasonmalinowski commented on #447
@stephentoub, the problem here is that the Task that gets returned out of AsyncLazy is a task from a TaskCompletionSource that we have canceled with TrySetCanceled(). I see there's now an overload TrySetCancelled(CancellationTokenSource) that's available in 4.6 but we're still on 4.5. It's also not portable. Do I have alternatives here?

[2015-02-19 01:08] stephentoub commented on #447
No great options, which is why the method was added for 4.6.  The only way I can think of right now pre-4.6 would be to use an AsyncTaskMethodBuilder instead of a TaskCompletionSource.  It exposes SetResult and SetException, and if you call SetException with an OperationCanceledException that wraps the token you care about, that'll cancel the task and put that token into it.  The primary complicat

[2015-02-19 01:13] srivatsn opened #662 "SyntaxGenerator.WithAccesibility doesn't work for property accessors"
If you try to pass in property accessors to SyntaxGenerator.WithAccesibility, it wouldn't set the accessibility. The CanHaveAccesibility method returns false for these.

[2015-02-19 01:18] tmat commented on #447
TaskCompletionSource<TResult>.TrysetCanceled(CancellationToken) is in Project K profile, so we can actually use it once we move to Core CLR.

[2015-02-19 01:19] tmat commented on #447
@Pilchie any reason why not to require 4.6 for Workspaces right now?

[2015-02-19 01:24] jasonmalinowski commented on #447
There's no code we have that relies on the distinction of Faulted w/ OCE vs. Canceled. We do use Faulted w/ OCE as an indication that somebody might have done something bad with a cancellation token (like passed the wrong one around) so we might be hiding bugs but that seems preferable than this issue which is going to be observable to consumers of Roslyn.

One downside of AsyncTaskMethodBuilder i

[2015-02-19 01:39] gafter opened #663 "Roll back warning for struct == null"
Roslyn added a new warning compared to the native compiler: if you attempt to compare a struct value to null
[code]
Roslyn now gives you a warning (the value in this case is always false). It still typechecks because the comparison operator selected is `operator==(Struct? left, Struct? right)`.

Unfortunately this is a breaking change for someone who instructs the compiler to treat warnings as err

[2015-02-19 01:44] stephentoub commented on #447
I'm not clear on the memory costs you're concerned about.  Can you elaborate?  If it's possible that someone else may have already completed the task, then you can check builder.Task.IsCompleted prior to trying to SetResult/Exception on it.  Which means that the only time you run the risk of exception getting thrown that you have to then catch and handle/ignore is if there's a race where the task

[2015-02-19 01:45] stephentoub commented on #447
(Additionally, AsyncTaskMethodBuilder is a struct, so you're actually saving an allocation by switching to it.  You just need to make sure to access its Task property before any asynchronous code is scheduled that could possibly race to access Task.  Remember that this type is what underlies async methods, and its design is specific to that scenario.)

[2015-02-19 01:59] mavasani opened #664 "Use AsyncLazy in AnalyzerManager in shared AnalyzerDriver project"
See review comments from @heejaechang @JohnHamby in pull request #660 for more info.

[2015-02-19 04:46] jasonmalinowski commented on #447
The code that we have that deals with TaskCompletionSources does things like inherit from it vs. have a separate object containing it to avoid the extra pointer in memory. So it's somewhat sensitive. But you're right since AsyncTaskMethodBuilder is a struct embedding that into a class is no worse than anything else.

I'd be worried less about the perf in that approach than the evils of the first-c

[2015-02-19 05:36] eatdrinksleepcode commented on #663
I don't agree with removing the warning, or with the planned "opt-in" mechanism, for the same reason: those who have set the compiler to treat warnings as errors have already indicated their strong desire to prevent obvious errors in their code base. They have already "opted in" by turning on that option in the first place; we shouldn't force them to do so again.

If a new warning is preventing th

[2015-02-19 05:56] gafter commented on #663
When upgrading to a new version of our tools breaks someone's build, it doesn't matter what options have been set - they are likely to reject the new version of the tools. Your logic only works if the person responsible for upgrading the tools, the person who controls the code, and the person who decided to use warnings-as-errors, are all the same person. They are usually not the same person in a

[2015-02-19 06:36] balajikris opened #665 "Visual studio crashes due to BadImageFormatException during EnC"
This happened while dogfooding. I edited an enum value in a method call. Can look for a concise repro if required.
[code]

[2015-02-19 06:46] tmat commented on #665
Memory dump?

[2015-02-19 06:56] balajikris commented on #665
it was a failfast and watson didn't show up. VS disappeared in a flash :worried:

[2015-02-19 07:39] AdamSpeight2008 commented on #611
Also tried `msbuild /m BuildAndTest.proj /p:DeployExtension=false`
@agocke After a Clean and Rebuild of the Solution.
[code]

[2015-02-19 08:08] balajikris opened #667 "Visual studio crashes while previewing Inline Temp refactoring."
1. With latest roslyn bits installed, open C# console app.
2. add the following code without the `$$` characters:
[code]
3.  Place caret at `$$`
4. Ctrl + . and bring up InlineTemp refactoring.
5. It automatically displays a diff preview, which then crashes VS.

[code]

I believe something is wrong at `foreach (var documentId in workspace.GetOpenDocumentIds())` inside `Register()`

If the repro is

[2015-02-19 08:14] AdamSpeight2008 commented on #611
I moved the Local Repo from the location on `E:\GitHub` to `MyDocuments\GitHub\` and it seems to compile (at least via the Dev Cmd Prompt)

[2015-02-19 08:20] tmat commented on #665
Do you have the dlls and pdbs from Binaries\Debug folder?

[2015-02-19 08:28] theoy commented on #508
I agree this is a good idea, though at the moment, the Roslyn/languages team is not currently the owner of this tool. But we're industrious at chasing down the right .NET partners. Assigning this to Mads for now because I remember localized resources came up during the design discussion for String Interpolation for C# 6.

[2015-02-19 08:41] theoy commented on #608
Paging Dr. Neal (@gafter), is our resident parser junkie :smile:

/cc @Pilchie @pharring @jaredpar who I think will be interested in this too. I think we just need to verify that the intended optimization here is aligned with our performance goals in IDE scenarios.

[2015-02-19 08:48] theoy commented on #582
This is a good example where we could present a more intuitive error to the user if someone were to submit a pull request :grin:

[2015-02-19 08:54] hrastyy opened #668 "Pause and continue Event execution"
In some cases I'd like Events not to be rose immediately. Would be nice if you could introduce something like
Button1.Click.Pause(); /\* or */ Button1.Click.Wait();
as well as
Button1.Click.Continue(); // to reset Event functionality ignoring pending Actions
and
Button1.Click.ContinueExecutePending(); // to execute pending Actions and reset Event functionality
And some Attribute in System.Windows.

[2015-02-19 09:15] forki opened #669 "Allow "Send References to F# Interactive" in C#/VB projects"
Visual Studio has a very helpful feature which allows you to right-click on the project references and "Send References to FSI". This will load all the references in the current FSI (F# Interactive) session and you are ready to run scripts which depends in these references.

![image](https://cloud.githubusercontent.com/assets/57396/6264040/cdaab398-b81f-11e4-94e8-a46075968f9b.png)

This feature is

[2015-02-19 09:25] chrisaut opened #670 "Suggestion: Public Compilation Performance Tracker"
As performance is treated as a feature (http://blogs.msdn.com/b/csharpfaq/archive/2014/01/15/roslyn-performance-matt-gertz.aspx) I think it would be nice if there was a public site somewhere that tracked compilation performance of various solutions/projects over time (say nightly).

Something like Firefox's http://arewefastyet.com/

Every night it would get the latest source, and then time compila

[2015-02-19 09:25] raymens commented on #669
I use this feature very often in F# projects. Sometimes I needed to do the same with C# projects but had to do manual references which really slows it all down and is quite a bit of work. I very much would like this feature to be available to more project types, especially c#.

[2015-02-19 09:28] mavasani opened #671 "Exception in 'Microsoft.CodeAnalysis.CSharp.Analyzers.MetaAnalyzers.CSharpReportDiagnosticAnalyzer'"
1. Build Roslyn.sln and start a new VS instance in RoslynDev hive
2. Create a class library project and add references to Microsoft.CodeAnalysis and System.Collections.Immutable.
3. Add below code to the source file

[code]

Got: Message	AD0001	The User Diagnostic Analyzer 'Microsoft.CodeAnalysis.CSharp.Analyzers.MetaAnalyzers.CSharpReportDiagnosticAnalyzer' threw an exception with message 'Sequen

[2015-02-19 09:34] mavasani opened #672 "Exception in 'Roslyn.Diagnostics.Analyzers.ApiDesign.DeclarePublicAPIAnalyzer'"
1.Build Roslyn.sln and start a new VS instance in RoslynDev hive
2.Create a C#/VB class library project

Got:
Message	AD0001	The User Diagnostic Analyzer 'Roslyn.Diagnostics.Analyzers.ApiDesign.DeclarePublicAPIAnalyzer' threw an exception with message 'Object reference not set to an instance of an object.'.			1

[2015-02-19 09:42] JesperTreetop commented on #396
I agree with @MgSam - this is extremely promising.

What I would add is that if this class-and-nested-struct thing will have to rely on neither thing doing anything potentially troublesome, I'd much rather see that the struct would be generated and managed and probably even hidden by the compiler. So, for example, instead of:

[code]

...it could become:

[code]

All the constructors, builders, wi

[2015-02-19 10:00] aluanhaddad commented on #523
I think this would be very useful. In particular it would enable some nice scenarios for writing DSLs.

[2015-02-19 10:24] aluanhaddad commented on #259
I think this would be a very useful feature. This kind of coding can improve organization and reduce namespace pollution. Additionally, If these local functions were permitted to be generic, it would open up some nice scenarios that are not covered by the ```System.Func``` and ```System.Action``` delegate families.

[2015-02-19 12:53] sharwell commented on #670
This could be a misleading report. Would it make more sense to have one test track a specific commit which doesn't change over time, and another that tracks the latest commit.

[2015-02-19 12:53] stephentoub commented on #447
If your worst problem is that in an extremely small window, while debugging, with parallel execution of specific code paths, there may be an extra first-chance exception, I think you've got a winner.

[2015-02-19 13:01] chrisaut commented on #670
@sharwell I think you misunderstood, I don't mean get the latest Roslyn source to measure compiling it, but get the latest Roslyn source, compile that, and than use the output of that to measure compilation times of other solutions. I'm not phrasing this very well :-(

I agree with you that it's best if the exact same source is always compiled: "I was thinking it could time compiling roslyn itself

[2015-02-19 13:25] AdamSpeight2008 opened #674 "(Bug?) Wrong ASCII Range"
[scanner.vb::L580](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb#L580)

Should that `>`
[code]
be `>=`
[code]

[2015-02-19 13:32] sharwell commented on #670
@chrisaut Yes I misunderstood, so I edited my comment now. :+1:

[2015-02-19 16:16] tmeschter commented on #619
@srivatsn There's currently no way for us to determine that the effective severity has not changed. We write the new severity to the .ruleset file and at some later point the language services see that it has updated on disk, read the file, and push the new options to the workspace.

We could write a message to the status bar indicating that we updated the rule set file.

[2015-02-19 16:44] tmeschter commented on #672
I see the problem. Whoops.

[2015-02-19 17:13] Pilchie commented on #670
Tagging @jaredpar - we do generate perf results for a few solutions (including an older snapshot of Roslyn.sln) nightly.  Would it be interesting to publish the results, even if we didn't publish the actual solutions and test scripts?

[2015-02-19 17:16] amcasey commented on #610
@dpoeschl noticed that it was also using quite a lot of threads.

[2015-02-19 17:22] #378 closed

[2015-02-19 17:23] tmeschter commented on #610
@amcasey @dpoeschl That doesn't surprise me. If we saturate the existing threadpool threads with long-running Tasks (like we're doing here) then more threads will be spun up to handle the backlog.

[2015-02-19 17:23] dpoeschl commented on #610
Yeah, I saw what appeared to be a hang in completion. Investigated with @rchande and saw 87 and then 155 managed threads (I'm guessing one per project?) that were all in the DeclarePublicAPI analyzer, I think all waiting for a call to GetAdditionalDocument. The completion model task just couldn't seem to get a thread to run on during this time. Things eventually settled down and the completion tas

[2015-02-19 17:26] dpoeschl commented on #610
Also, @tmeschter, if it's relevant, I was typing in EditorFeatures.

[2015-02-19 17:31] tmeschter commented on #610
@dpoeschl Did you start to see this after installing a recent build of Roslyn like @amcasey?

[2015-02-19 17:33] dpoeschl commented on #610
@tmeschter Yeah, Main-Signed-Release 20150219.1

[2015-02-19 17:54] jasonmalinowski commented on #447
:-)

[2015-02-19 17:59] tmeschter commented on #610
@mavasani We've been using the current toolset compilers and diagnostics for several weeks, so the problem can't just be with the analyzer itself. Has something in the analyzer driver changed recently that might cause it to call the compilation start action more frequently while editing a file?

[2015-02-19 18:08] DustinCampbell commented on #615
I don't think we can make this change. The completion list builder that is displayed in file positions where a lambda can be typed is tied closely to the "suggestion mode" feature that has been in the product [since VS 2010](http://blogs.msdn.com/b/zainnab/archive/2010/01/22/intellisense-suggestion-mode-vstipedit0012.aspx) (activated with Ctrl+Alt+Space).

With suggestion mode, ENTER should legiti

[2015-02-19 18:08] #615 closed

[2015-02-19 18:16] mavasani commented on #610
@tmeschter You are right, I think this is probably due to a bug I introduced in the recent refactoring of consolidating analyzer Initialize method and CompilationStartAction execution for both IDE and compiler drivers. Previously we used to execute these methods on the calling threads itself, which could be a UI thread. In the new design, we create a task to run both these analyzer methods and cac

[2015-02-19 18:33] srivatsn opened #679 "SyntaxGenerator doesn't remove the WriteOnly modifier for a property when it adds a getter."
If you have code like this:

[code]

Try adding a getter to this property like so:

[code]

**Actual**:
[code]

**Expected**:
[code]

i.e with the WriteOnly modifier removed and the getter above the setter. Note that the getter being added below the setter is the behavior in C# as well.

[2015-02-19 18:37] mavasani commented on #610
and my next step would be to work on #664 as this is really an async lazy computation shared between threads...

[2015-02-19 18:39] srivatsn commented on #667
@heejaechang is this from your recent change to add the progress mechanism?

[2015-02-19 18:40] dpoeschl opened #681 "Allow features to take ownership of the workspace and deny external changes"
Specific instances where we want to suppress the lightbulb (and probably other workspace features):
- Inline Rename
- Debugging (but not broken into)

[2015-02-19 18:44] srivatsn commented on #199
Closing this thread since the work is being tracked by #201.

[2015-02-19 18:44] #199 closed

[2015-02-19 18:52] mavasani commented on #610
This should be fixed with #680. I'll kick off a new signed build with the latest sources for dogfooding.

[2015-02-19 18:52] #610 closed

[2015-02-19 18:57] Pilchie commented on #608
Also tagging @mattwar

[2015-02-19 19:13] agocke commented on #584
My original repro was very large. I'll try and get a reduced one.

[2015-02-19 19:18] Pilchie commented on #557
This issue is also happens in VS 2013.  Moving to the compiler, as we just ask them to bind c in this location, and it fails with the additional comma.

[2015-02-19 19:25] dotnet-bot opened #686 "Bitwise Not does not trigger IntelliSense"
Ported from TFS WorkItem: **1071863** /
CodePlex workitem: **http://roslyn.codeplex.com/workitem/329**

Filed by @slaks

Keystrokes:
[code]

Typing the `~` should trigger IntelliSense with the enum type preselected, just like the other two bitwise operators do.

(I'm not sure whether to file this as a bug or a feature request)

[2015-02-19 19:25] Pilchie commented on #686
Same behavior in VS2013.  Note that normally we only trigger on space for these operators, but you don't usually type a space after ~.

[2015-02-19 19:38] svick commented on #668
This sounds like something that could by done by using a library, I don't see why would you need to change the language for this.

[2015-02-19 19:41] heejaechang commented on #667
@srivatsn not sure, but preview should have nothing to do with it.

[2015-02-19 19:51] shyamnamboodiripad commented on #681
This issue specifically mentions rename. However, the workspace ownership is a general problem in other scenarios too. For example, when a debug session is active but code is not at a breakpoint we have similar problem where light bulb offers fixes - but fixes silently fail because workspace refuses to apply the changes in this mode. If we had a mechanism to track workspace ownership, then we coul

[2015-02-19 19:59] VladimirReshetnikov commented on #409
@jaredpar

In some places there is an incorrect assumption that a string length is greater or equal to its prefix length. Here is a simplified example:

[code]

[2015-02-19 20:31] AdamSpeight2008 opened #691 "Unit Tests"
Is it possible to test the individual parts of the compiler in isolation?
* Scanner
* Parser
* Semantic
* etc
Or Test the compiler in isolation, eg just the VB / C# compiler?
A the moment it test both compilers and Editor features.
A 2 hour 15 minute test time is not conducive in finding the source of an issue.

[2015-02-19 20:36] heejaechang opened #692 "re-write analyzer state management code and re-enable test for it"
this is to address #690 issue.

currently, the underlying race can't be fixed with simple change so associated tests are turned off as well. once this is fixed we should re-enable those.

[2015-02-19 20:37] #672 closed

[2015-02-19 20:41] Pilchie commented on #691
You can manually run xunit.console on any particular assembly.

[2015-02-19 21:15] shyamnamboodiripad commented on #681
Thank you @dpoeschl

[2015-02-19 21:20] erikkallen commented on #618
Haha yes we should and who knows there might be more out there :D

[2015-02-19 21:25] #554 closed

[2015-02-19 21:27] chrisaut commented on #670
Yeah sure.  As long as a description is given.  I don't think it's critical that those are open.

[2015-02-19 21:39] tmat opened #694 "VS crash on invalid options specified in .vbproj files"
Handling invalid content of .vbproj files needs to be hardened.

ConvertedVisualBasicProjectOptions constructor may throw various exceptions, which VisualBasicProject.SetCompilerOptions then converts to FailFast.

[2015-02-19 21:59] tannergooding opened #695 "Roslyn.VisualStudio.Services.UnitTests expects static location for CSharpCompilerExecutable"
Roslyn.VisualStudio.Services.UnitTests incorrectly assumes that the C# Compiler Executable will always be in the same directory as the unit test assembly.

This is not the case for our standalone unit tests which run against a VS install instead of a Roslyn Build.

This should be fixed up to search in the MSBuildToolsPath as a fallback if the compiler doesn't exist in the same directory (see Compi

[2015-02-19 22:16] tannergooding opened #696 "Roslyn.Compilers.CompilerServer.UnitTests expects System.Collections.Immutable to have the wrong version"
When 'System.Collections.Immutable' and 'System.Reflection.Metadata' don't exist in the working directory, it expects them to exist under the MSBuildToolsPath and to have the same version as the unit test assembly.

These files should either ignore the version check altogether or check against their correct version numbers.

A better solution may be to have a one time check to ensure VBCSCompiler.

[2015-02-19 22:28] Pilchie opened #698 "Completion: Shift+Home, Delete shouldn't trigger completion"
Ported from TFS WorkItem: **1024155**

---

**Steps to reproduce:**<BR><BR>1. Start with:

<PRE style="FONT-SIZE: 16px; FONT-FAMILY: Consolas; BACKGROUND: white; COLOR: hotpink"><SPAN style="COLOR: blue">Imports</SPAN> <SPAN style="COLOR: black">System</SPAN>
<SPAN style="COLOR: blue">Imports</SPAN> <SPAN style="COLOR: black">System</SPAN><SPAN style="COLOR: black">.</SPAN><SPAN style="COLOR: blac

[2015-02-19 22:41] brettfo opened #699 "Signature help is missing generic parameters"
Ported from TFS WorkItem: **1068424**

------------------------------

**Repro Steps:**

**<FONT size=3>Repro Steps:</FONT>**

    using System;
    using System.Collections.Generic;
    using System.Linq;
    using System.Text;
    using System.Threading.Tasks;

    namespace ConsoleApplication3
    {
        class Program
        {
            static void Main(string[] args)
            {

[2015-02-19 22:48] #691 closed

[2015-02-19 22:56] tmeschter commented on #88
Microsoft.Analyzers.ManagedCodeAnalysis will now be referred to as "Managed Binary Analysis".

Microsoft.Analyzers.NativeCodeAnalysis is sticking with the name it has. With the fix for issue #89, C# and VB users generally won't see this analyzer anyway.

[2015-02-19 22:58] tmeschter commented on #88
Sending to @mavasani for verification.

[2015-02-19 22:58] tmeschter commented on #89
This has been fixed in the rule set editor.

Assigning to @mavasani  for verification.

[2015-02-19 22:58] #89 closed

[2015-02-19 23:00] dpoeschl opened #700 "[Settings] RadioButton-based settings don't set selection on default setting"
Ported from TFS WorkItem: **1025034**

------------------------------

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR><BR>**Steps to reproduce:**<BR><BR>1. Open VS with default settings (any profile will do).

&nbsp;

2. Go to Tools|Options|TextEditor|C#|Formatting|Spacing|Set Spacing For Operators

&nbsp;

**Expected:** "Ignore spaces around

[2015-02-19 23:12] akoeplinger commented on #636
+1. What about [AssemblyInformationalVersion](https://msdn.microsoft.com/en-us/library/system.reflection.assemblyinformationalversionattribute(v=vs.110).aspx)?

[2015-02-20 00:20] #285 closed

[2015-02-20 00:23] amcasey opened #702 "[Portable PDB] Update the Expression Compiler to consume the portable PDB format"
Phase 1: introduce an abstraction over the custom debug info.

[2015-02-20 00:31] gafter commented on #344
This is now documented at https://github.com/dotnet/roslyn/blob/master/docs/compilers/CSharp/Static%20Type%20Constraints.md

[2015-02-20 00:31] #344 closed

[2015-02-20 01:34] jasonmalinowski commented on #447
To follow up on the memory concerns after chatting with @pharring:

Our current Request object that holds onto the state needed for an asynchronous request for the value *derives* (!!) from TaskCompletionSource to save an allocation and through that has the other pointer to the Task object itself. Switching to AsyncTaskMethodBuilder doesn't change the allocation count, but does mean that in additi

[2015-02-20 01:49] stephentoub commented on #447
Is cancellation the common case? You'd only be invoking this in the case of cancellation.

[2015-02-20 01:53] jasonmalinowski commented on #447
It's fairly common. For Roslyn we're regularly starting tasks which then get cancelled when the next keypress comes in. I don't have exact numbers but it's not rare.

[2015-02-20 01:56] stephentoub commented on #447
If we're concerned about the impact of two fields vs an allocation sometimes vs whatever other option, seems like some numbers would be useful to help make a decision?

[2015-02-20 01:59] jasonmalinowski commented on #447
Fair enough, let me get some numbers. The other argument for AsyncTaskMethodBuilder is it's actually safe to use versus randomly changing our behavior. :smile:

[2015-02-20 03:09] AlekseyTs commented on #11
I believe this issue has been addressed already. @VladimirReshetnikov, please verify and close if appropriate.

[2015-02-20 03:13] AlekseyTs commented on #511
@gafter, do consider this issue addressed?

[2015-02-20 05:43] gafter commented on #511
I believe Roslyn is compatible with the native compiler in this area now due to checkin #513, that there is a test for this, and that this is also documented in the compiler spec section of the docs. I didn't realize the bug was not closed. I assigned this to you for verification, please.

[2015-02-20 09:38] mavasani commented on #257
This should now be fixed with #673. However, we still don't report diagnostics from SupportedDiagnostics invoked within WorkspaceAnalyzerManager. We have capability of reporting workspace specific diagnostics now in Features layer. I'll address this in a subsequent change.

[2015-02-20 11:06] Richiban commented on #524
I'd love this idea, but I think that use of Lazy<T> perhaps isn't necessary. The compiler could just insert the necessary so that the property's initialiser is not run in the containing class's constructor, but instead on first access of the property. Not hard to do!

[2015-02-20 12:14] AlexSiepman commented on #524
@Richiban For me it is important that it is very easy to make a property lazy (thread safe). I do not care much about the implementation. This new option makes my application faster, it is easy to create and maintain and the intention is lear for the caller.

[2015-02-20 13:02] mkosieradzki opened #708 "Create nuget package for scripting"
A month ago scripting feature came back. That's great news. Unfortunately it is not available in nightly nuget packages.

I am aware it is work-in-progress and a lot is changing there now, but still it would be great to have a signed versions (this is something you often run in non-full-trust-environment) of Microsoft.CodeAnalysis.Scripting and Microsoft.CodeAnalysis.Scripting.CSharp (through nigh

[2015-02-20 16:32] mwisnicki opened #709 "Proposal: implicitly implement interfaces on abstract classes"
At the moment all methods of implemented interfaces have to be defined by programmer.
I would prefer for this to work like in Java, where all unimplemented interface methods on abstract classes become abstract too.

Please either lift this restriction or introduce additional keyword, for example `implicit`, before interface name to enable implicit abstract implementation.

So, for example, this sh

[2015-02-20 16:43] DustinCampbell opened #710 "VB Pretty-lister removes required explicit line continuation in an interpolated string"
Format this code:

[code]

You get this:

![badcode](https://cloud.githubusercontent.com/assets/116161/6304903/8660ceec-b8dc-11e4-8710-0e08de5a2392.png)

[2015-02-20 17:13] dsaf opened #711 "Custom attributes are not treated as a first-class concept"
Custom attributes are a very special (underappreciated) language construct. The fact that they are classes is merely an implementation detail.

They can be:
- selectively applied to specific language elements;
- allowed (or not) to be applied multiple times;
- inherited;
- overriden.

[code]

Action items:

1) create a separate kind of tooltip for attributes: "attribute ..."
2) present fundamental

[2015-02-20 17:42] rchande opened #713 "Option for Refactor Rename/Find popups not to resize"
Ported from TFS WorkItem: **1087158**

------------------------------

**Repro Steps:**

**Changes to this WorkItem will <u>not</u> be reflected in CodePlex and may<br>be automatically overwritten!**<br>Please go to [http://roslyn.codeplex.com/workitem/414](http://roslyn.codeplex.com/workitem/414) to modify this bug<br>(*unless you are assigning, resolving, closing or adding private comments*).<br

[2015-02-20 17:43] Pilchie commented on #695
Where does Roslyn.VisualStudio.Services.UnitTests ever depend on the compiler executable?

[2015-02-20 17:44] rchande opened #714 "[CodePlex] VB xml-doc-comment shouldn't show completion list for generic type parameters"
Ported from TFS WorkItem: **1087446**

------------------------------

**Repro Steps:**

**Changes to this WorkItem will <u>not</u> be reflected in CodePlex and may<br>be automatically overwritten!**<br>Please go to [http://roslyn.codeplex.com/workitem/435](http://roslyn.codeplex.com/workitem/435) to modify this bug<br>(*unless you are assigning, resolving, closing or adding private comments*).<br

[2015-02-20 17:44] rchande opened #715 "Abstract/virtual events declared in C# should not be overridable in VB, because VB does not support virtual events"
Ported from TFS WorkItem: **529732**

------------------------------

**Repro Steps:**

**Affected Branch:** <br> **Affected Build:** <br> **Affected Product Language:** <br> <br>**Steps to reproduce:**<br> <br> 1.

------------------------------

**Revisions:**

1) Created By Vladimir Reshetnikov (11/28/2012 7:18:19 PM)

(TFS Integration from 'DevdivProjects-Roslyn' Id: 14225 (rev 1);)

---------

[2015-02-20 17:45] rchande opened #716 "Cannot cancel Rename popup when an attempt is made to rename from a Peek view"
Ported from TFS WorkItem: **1073098**

------------------------------

**Repro Steps:**

1. Create a new HTML application with Typescript

2. From app.ts Peek on document (or anything in lib.d.ts)

3. Right click and "Rename" something in the Peek window

4. Attempt to close (x) or "Apply" the rename

&nbsp;

Expected:

&nbsp;

Rename popup closes

&nbsp;

Actual:

&nbsp;

Rename remains open

&nb

[2015-02-20 17:46] rchande opened #717 "Completion list doesn't show locals in a broken code scenario with automatic brace completion."
Ported from TFS WorkItem: **707201**

------------------------------

**Repro Steps:**

REPRO:

1.&nbsp; Paste into a C# editor:

class Program<BR>{<BR>&nbsp;&nbsp;&nbsp; void M()<BR>&nbsp;&nbsp;&nbsp; {<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; for (int i = 0; i &lt; 5; i++)<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; v

[2015-02-20 17:47] rchande opened #718 "Completion tooltip doesn't wrap and gets cut off at the edge of the monitor"
Ported from TFS WorkItem: **945982**

------------------------------

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR><BR>**Steps to reproduce:**<BR><BR>1. If the completion list's tooltip is wide enough, it will reach the edge of the monitor, where it's then cut off. It would be much better if we could somehow wrap it.

-----------------------

[2015-02-20 17:48] rchande opened #719 "Else keyword not recommended"
Ported from TFS WorkItem: **1097332**

------------------------------

**Repro Steps:**

Reduced repro:

&nbsp;
<FONT color=#0000ff size=1 face="Courier New"><FONT color=#0000ff size=1 face="Courier New"><FONT color=#0000ff size=1 face="Courier New">

Class</FONT></FONT></FONT><FONT size=1 face="Courier New"><FONT size=1 face="Courier New"> </FONT></FONT><FONT color=#2b91af size=1 face="Courier Ne

[2015-02-20 17:51] rchande opened #721 "Typing "<see cref" ends up producing borked code."
Ported from TFS WorkItem: **1029279**

---

**Repro Steps:**

If you try to actually type "&lt;see cref" you end up with:

&nbsp;

&lt;see cref="cref"

&nbsp;

I keep running into this and it's really aggravating :)

---

**Revisions:**

1) Created By Cyrus Najmabadi (9/17/2014 12:04:22 PM)

---

2) Edited By Kevin Pilch-Bisson (2/19/2015 3:33:08 PM)

Port to GitHub.

---

[2015-02-20 17:52] rchande opened #722 "VB Completion List: incorrect list after #<preprocessor directive><SPACE>"
Ported from TFS WorkItem: **674781**

------------------------------

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR><BR>**Steps to reproduce:**<BR><BR>1. type the following at the top of a VB code file

&nbsp;

#Const&lt;SPACE&gt;

&nbsp;

**Actual**:

completion for creating field is shown

&nbsp;

<IMG src="http://vstfdevdiv:8080/DevDiv2/Wo

[2015-02-20 17:54] mavasani opened #723 "Assert fired at Microsoft.CodeAnalysis.CSharp.CSharpSyntaxNode.ChildThatContainsPosition(int position)"
Repro Steps:

1. Open Roslyn.sln and open source file \Open\src\Compilers\Core\Portable\DiagnosticAnalyzer\AnalyzerDriver.cs
2. Go to line 715, where this is an if statement with expression if (IsDiagnosticAnalyzerSuppressed(...)
3. Double click on argument "addDiagnostic" to this invocation and hit "Delete" key

Got: Below assert, followed by VS crash (I can share a dump file if needed)

 	Micros

[2015-02-20 17:55] lawrencejohnston commented on #636
+1

[2015-02-20 17:55] pharring commented on #608
I don't believe this affects Visual Studio IDE scenarios because they use editor buffer snapshots and they have their own line tracking. However, other hosts might be using the base SourceText implementations and they've not been tuned for continual modification. For those scenarios, we'd certainly consider improvements to "WithChanges" line tracking.

@mkosieradzki Are you developing your own sou

[2015-02-20 17:57] srivatsn commented on #723
@mattwar has been trying to find a repro for this

[2015-02-20 17:59] DustinCampbell opened #724 "C# parenthesis simplifier needs to be careful in string interpolation"
Consider the following code:

[code]

Parenthesis simplification shouldn't remove the parens inside the interpolation because the colons result in a syntax error.

[2015-02-20 18:00] mavasani commented on #723
Actually I missed one step. Updated repro steps:

1. Open Roslyn.sln and open source file \Open\src\Compilers\Core\Portable\DiagnosticAnalyzer\AnalyzerDriver.cs
2. Go to the definition of IsDiagnosticAnalyzerSuppressed in the same file AnalyzerDriver.cs and delete line with parameter "addDiagnostic"
3. Go to line 715, where this is an if statement with expression if (IsDiagnosticAnalyzerSuppressed

[2015-02-20 18:02] DustinCampbell commented on #710
Fixed with PR #712

[2015-02-20 18:02] #710 closed

[2015-02-20 18:07] basoundr opened #725 "'this' keyword not available in expression-bodied members"
Ported from TFS WorkItem: **1107414**

------------------------------

**Repro Steps:**

**Affected Branch:** <BR>**Affected Build:** <BR>**Affected Product Language:** <BR><BR>**Steps to reproduce:**<BR><BR>1. Create a new C# class library.

2. Add a new class like so:

&nbsp;

class C

{<BR>&nbsp;&nbsp;&nbsp; int p;<BR>}

&nbsp;

3. Try to add the following member to C:<BR><BR>&nbsp;&nbsp;&nbsp;

[2015-02-20 18:13] dpoeschl commented on #540
This is a case where we'd really like to stop providing the underlying diagnostic but we aren't actually changing the solution in any way. We're considering ways of forcing a diagnostic/lightbulb refresh for this situation.

[2015-02-20 18:20] pharring commented on #674
Yes, I think you're right.
Note that, for this kind of perf, we often use the "check the range in one comparison by using unsigned" trick.
i.e. instead of
```if (c >= low && c <= hi) ...```
we do
```if (c-(unsigned)low <= (unsigned)(hi - low)) ...```
I forget exactly where the casts go and you probably also need an ```unchecked``` in there too.
For an example, see [SourceText.cs#L742](https://gith

[2015-02-20 18:34] Pilchie commented on #723
Note - I think that @brettfo also has a bug in SignatureHelp that ends up crashing in `ChildThatContainsPosition`.  @pharring did you change the binary search that is used here recently?

[2015-02-20 18:34] LarsKemmann opened #728 "Proposal: Anonymous discriminated unions"
Scenario: I'm currently factoring out the entity manipulation code from a web application into a standalone library for reuse and easier maintenance. A lot of it takes the following form (totally mangling the details):

[code]

To factor out the entity creation _along with the validation_ requires that the CreateFoo method have a way to map multiple return types into the appropriate HttpStatusCode

[2015-02-20 18:36] LarsKemmann commented on #728
And I apologize in advance for not using correct terminology. I've built one compiler in my life and it only dealt with integers. :)

[2015-02-20 18:39] pharring commented on #670
Thanks for the suggestion. It's right in line with what I've been discussing internally with my colleagues in CoreCLR.

Today, all our performance testing is 'closed' and that's unfortunate. Below is my 'backlog' of user stories. This isn't a commitment, because we've only just begun discussing it and we haven't made a firm plan, but I recognize it's a gap that we have to fill.

As a Roslyn/CoreCL

[2015-02-20 18:46] #464 closed

[2015-02-20 18:51] mkosieradzki commented on #608
@pharring Yes. that's exactly what I am doing :) - what is kinda trivial task with all the support from Roslyn. :)

I am aware that VS is not using SourceText as backing store for source code, but for custom editors it's a great help. (Currently I have created an asynchronous (background thread) wrapper for Lines property resolution and I treat it like a long running operation).

Should I try to c

[2015-02-20 19:00] eatdrinksleepcode commented on #663
I am well aware of the absurdity of the decision making process in many organizations (many of them not so large at all). That has no bearing whatsoever on this decision. It is not up to us to decide policy at such organizations, nor should we be catering to those who have created such silos at the expense of those who haven't. It is entirely reasonable for an organization which does not have appr

[2015-02-20 19:09] balajikris commented on #667
@heejaechang @srivatsn I can no longer repro this with latest code.. I'm okay if you wish to close it, since we don't have a repro or a dump..

[2015-02-20 19:12] dpoeschl opened #730 "Rationalize linked-file related APIs"
For example, the only publicly available version of "GetOpenDocumentInCurrentContextWithChanges" requires an ITextSnapshot. We have a version that accepts a SourceText but it's internal.

[2015-02-20 19:27] DustinCampbell opened #732 "Completion list shouldn't show accessibility modifiers in interfaces"
Filed by @SLaks

Inside an interface body, IntelliSense shows "public" (only; I guess we confused resolved accessibility with legal modifiers).

Inside a property block in an interface, it shows all accessibilities.

[2015-02-20 19:28] billchi-ms commented on #347
Some of this has been said, so some of this is +1 to those comments :-).  My thoughts (albeit colored by a decade plus of hacking Common Lisp) ...

Do not conflate immutability and tuples, let me decide independently how they are used because I know sometimes I want to mutate some state.

Do use structs because a primary use is Multiple Value Return (MVR), and that should be efficient.  In the sam

[2015-02-20 19:41] srivatsn commented on #667
Okay I'll close it and if you see it happening please reopen

[2015-02-20 19:45] srivatsn opened #733 "SyntaxGenerator doesn't support generating OperatorDeclarations"
We have [PredefinedOperator](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/LanguageServices/SyntaxFactsService/PredefinedOperator.cs,d17c5b572f4bf967) which we should probably make public and add an API to SyntaxGenerator that adds a given PredefinedOperator so that Operator declarations can be generated in language independent way.

[2015-02-20 20:20] gafter commented on #663
Having worked on compiler products at a half-dozen different companies, I have a pretty good feel based on hard-learned lessons what works well and what does not work well for the customers. What seems absurd to you is normal in the real world. Breaking compatibility, even in the most technical sense of adding new warnings that *could* be treated as errors, when the user does not change the comman

[2015-02-20 20:53] amcasey commented on #502
Happened again.  I hit backspace and VS vanished.

Microsoft.CodeAnalysis.Editor.Implementation.RenameTracking.RenameTrackingTaggerProvider+TrackingSession+<DetermineIfRenamableIdentifierAsync>d__17.MoveNext()

[2015-02-20 20:57] mattwar commented on #605
This is a bug in syntax trees that occurred recently due to a switch to using binary search for large lists.  The binary search is finding a node by position that is zero-width, which is not a node that is said to contain the position.

[2015-02-20 21:00] dpoeschl opened #735 "Inline rename controls show Rename Overload check box too often"
Ported from TFS WorkItem: **991465**

------------------------------

@slaks reported:*<br><br>The check box certainly should not appear when renaming fields, variables, parameters, or namespaces.<br><br>Ideally, it should not appear unless the the ctor or method is actually overloaded.

------------------------------

**Revisions:**

1) Created By Visual Studio Languages Snap Account (7/21/2014 1

[2015-02-20 21:01] SLaks commented on #735
Is that true?

[2015-02-20 21:02] SLaks commented on #735
And, `tour` should be `ctor` (oops)

[2015-02-20 21:04] dpoeschl commented on #735
@SLaks Updated the description, thanks. This is actually already fixed. We check for [actual overloads](http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/InlineRename/AbstractEditorInlineRenameService.SymbolRenameInfo.cs,58) and pass that through to the [UI](http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/InlineRename/Dashboard/Dashboard.xa

[2015-02-20 21:10] #735 closed

[2015-02-20 21:14] balajikris opened #737 "Visual studio crashes with ArgumentException at CSharpSyntaxNode.ChildThatContainsPosition"
The scenario was typing C# code. I may have changed the name of some local variable as it looks like RenameTracking set off this whole thing.
Saved a dump at %internalshare%\dumps\737
Roslyn bits: 50219

[code]

[2015-02-20 21:17] VladimirReshetnikov commented on #661
It looks like there is a problem with finding references within VB lambdas.

[2015-02-20 21:20] Pilchie commented on #737
This is a dupe of something @mattwar has a PR out for.

[2015-02-20 21:25] dpoeschl commented on #735
Behavior verified on fields, variables, parameters, namespaces, and both non-overloaded and overloaded methods.

[2015-02-20 21:26] balajikris commented on #667
I hit this again and have now captured a dump. Note that this happens on the Main hive and not so much in the Developmental hives, which puzzles me, because the bits on my Main hive are as latest as today's.

[2015-02-20 21:30] balajikris commented on #737
Ah, thanks dupe of #605

[2015-02-20 21:30] DustinCampbell opened #739 "VB Remove Unnecessary Cast breaks parsing of interpolated strings"
Originally filed by @VladimirReshetnikov

[code]

After removing the unnecessary cast, the code parses incorrectly:

![broken code](https://cloud.githubusercontent.com/assets/116161/6309677/8e35898c-b904-11e4-807f-a234f2012ba6.png)

Expected:

[code]

[2015-02-20 21:30] #737 closed

[2015-02-20 21:36] DustinCampbell commented on #724
Fixed with PR #731.

[2015-02-20 21:36] #724 closed

[2015-02-20 21:40] tmeschter commented on #672
Assigning back to @mavasani for verification.

[2015-02-20 21:42] mavasani commented on #672
Yep, already noticed it is fixed with latest sources.

[2015-02-20 22:03] rchande opened #742 "Local does not appear while debugging"
In my branch https://github.com/rchande/roslyn/tree/EventOverriding, while debugging the test "EventsNotOffered" in OverrideCompletionProviderTests.vb, the local "text" does not appear in the locals window. If I try to evaluate it in a Watch or the Immediate Window, I see ``` error BC30112: 'Text' is a namespace and cannot be used as an expression.```

[2015-02-20 22:04] rchande commented on #742
@amcasey may find this interesting.

[2015-02-20 22:12] mattwar commented on #723
This is the same issue as #605 that I have a pull request that fixes.

[2015-02-20 22:20] brettfo commented on #502
Issue is being tracked and fixed as #605.  Closing this in favor of the other one.

[2015-02-20 22:20] #502 closed

[2015-02-20 22:54] amcasey commented on #742
Works on my box.  Please retry with current binaries.

[2015-02-20 23:24] brettfo opened #748 "Allow multi-line interpolated strings in C#."
Multi-line strings (default in VB and available as raw strings in C#) make it very easy to visualize the final form of a string, but it seems that a developer will often need to visualize a multi-line string with additional values inserted.  This can be easily accomplished in VB since all strings are multi-line, but in C# you are restricted to either multi-line (raw) or single line interpolated.

[2015-02-20 23:37] sharwell commented on #748
Didn't these get added in CTP 5?

https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/04882dc916ad75288dda6ede44e406d71cfc6712/StyleCop.Analyzers/StyleCop.Analyzers.Test/MaintainabilityRules/SA1400UnitTests.cs#L742-L744

[2015-02-20 23:39] tmat opened #749 "EnC: Handle lambdas in initializers & constructors"

[2015-02-20 23:40] brettfo commented on #748
Good call!  I tried @$"" but not $@"".

Closing the issue.

[2015-02-20 23:40] #748 closed

[2015-02-20 23:51] balajikris opened #751 "Extract Method incorrect selection expansion in Null propagation causes Assert fail followed by null ref exception at binder "SyntaxFactory.FindConditionalAccessNodeForBinding""
Ported from TFS WorkItem: **1103283**

------------------------------

**Repro Steps:**

1. open VS.

2. paste the following code..

3. Select highlighted code and hit Ctrl + .

&nbsp;

Note that this would repro only the first time in VS since this was triggered by a code action and we immediately disable faulty code actions. One needs to restart VS to repro again.

&nbsp;

code:
<PRE style="FONT

[2015-02-20 23:56] balajikris opened #752 "Suggestion: Select the span automatically based on cursor position for introduce local / constant"
Ported from TFS WorkItem: **1065670**, originally filed by @shyamnamboodiripad

---

**Repro Steps:**

Currently, I&nbsp;if I want to invoke introduce local /constant&nbsp;refactoring on a multiline string literal, I am forced to select the entire string first. It&nbsp;would be nice if&nbsp;I could invoke the&nbsp;refactoring by simply placing cursor somewhere in the string and hitting ctrl +&nbsp

[2015-02-21 00:01] tannergooding commented on #695
The 'CSharpCompilerExecutable' field in 'src/VisualStudio/Core/Test/AnalyzerSupport/AnalyzerDependencyCheckerTests.vb'

[2015-02-21 00:08] tannergooding opened #757 "Intellisense for doc tags displays <term> and <description> should display in proper locations."
Ported from TFS WorkItem: 771225

**Repro:**
- Create a new C# Library
- Add the following code to the project:

[code]
- Attempt to add either `<term>` or `<description>` via intellisens at ``

**Expected:**
  Intellisense should display `<term>` and `<description>` both as valid options for the `<item>` tag.

**Actual:**
 Intellisense displays `<term>` and `<description>` as valid tags under `<l

[2015-02-21 00:26] jasonmalinowski opened #759 "AnalyzerDriver leaks workspaces in tests"
Commit 46a6a2e39213c969c525ad107b6b7ff7c3cafe4b disables a bunch of tests and disables some exception handling logic, since it was causing a leak of Workspaces (and potentially Projects) in unit tests. The underlying issue should be fixed and the tests re-enabled.

[2015-02-21 00:44] gafter opened #760 "Intermittent failure of ConditionalMemberAccessRace002"
I get intermittent failures of ConditionalMemberAccessRace002

When it fails, I see this:

[code]

[2015-02-21 00:53] dpoeschl commented on #446
There's a similar but different failure (seemingly not nameof related) in https://github.com/aspnet/Razor/ if you try to rename "lookupText" here: https://github.com/aspnet/Razor/blob/dev/src/Microsoft.AspNet.Razor/TagHelpers/TagHelperDirectiveDescriptor.cs#L14

[2015-02-21 01:11] balajikris commented on #667
@heejaechang came by and we found that I had diagnostic provider disabled in my Main hive, something i did much earlier to investigate some other bug :disappointed: Everything looks good here. Thanks and apologies.

[2015-02-21 01:12] #667 closed

[2015-02-21 01:33] KirillOsenkov opened #762 "When loading an MSBuildSolution, building project references should be error tolerant"
There is a place where the workspace tries to figure out a project reference to a project type it doesn't have a loader for, by having MSBuild load the project file so we can discover its output path, so we can make a metadata reference if the file is there.

That's two different kinds of loading. The MSBuild API can load any kind of project file, because they are all MSBuild project files regardl

[2015-02-21 01:35] jasonmalinowski commented on #762
Did you feel this previously worked? We've recently discovered some regressions around C# to C++ project references where WinMDs are involved.

[2015-02-21 01:43] jasonmalinowski commented on #759
Manish is already taking a look at this.

[2015-02-21 01:45] jasonmalinowski commented on #447
This is fixed.

[2015-02-21 01:45] #447 closed

[2015-02-21 01:47] KirillOsenkov commented on #762
I think @mattwar has added logic to convert non-C#/VB project references to metadata references if their output assembly exists, and it wasn't error-tolerant since that change. Before that change we never tried to build those referenced projects at all.

[2015-02-21 02:26] jwooley opened #763 "VB - actions duplicated in IDE with multiple imports on same line"
In VS 2015 CTP5 when multiple imports apply on a single line, all of the code actions appear duplicated in the drop down window.
![vbmultipleimportsdropdown](https://cloud.githubusercontent.com/assets/365256/6312453/fb46d872-b946-11e4-8093-2fc713d9799e.png)

[2015-02-21 02:28] jwooley commented on #763
Correcting: Consider sorting the recommendations to make identifying differences easier.

[2015-02-21 10:52] JoshVarty opened #766 "Allow nameof on declarations with var"
I ran into a limitation of `nameof` today shown in the code below:

[code]

The motivating use-case (for me) is logging assignments and declarations of variables.

I wish to turn this:
[code]
into this:
[code]

I scanned http://roslyn.codeplex.com/discussions/570551 and didn't see any mention of this. Was it a conscious design decision to limit `nameof` in this case? Perhaps it's too difficult to

[2015-02-21 13:36] svick commented on #728
So, you're basically asking for anonymous [discriminated unions](https://msdn.microsoft.com/en-us/library/dd233226.aspx)?

Also, why should such type be available only as a method return type, and not also everywhere else where a normal type can appear?

[2015-02-21 14:31] MgSam commented on #595
@alanfo The idea is that the namespace is file-scoped, so the question of whether a `using` statement is local to a namespace or not doesn't really apply. In your examples the behavior would be exactly the same.

However, I do think that the rules for such a file-scoped namespace should probably mirror the rules for `using` statements. Thus, maybe it makes sense to require that the namespace is al

[2015-02-21 15:57] LarsKemmann commented on #728
Yes, exactly!

They could certainly be available more generally. The method return type was the scenario that seemed most useful when I wrote this up.

[2015-02-21 19:14] HaloFour commented on #663
I agree with both sides, but I think that I would probably lean towards @eatdrinksleepcode 's opinion mainly because any organization applying such strict build rules *should* also have a strict set of guidelines in terms of vetting any changes to the environment, including compiler/framework upgrades.

I don't think that this is any different than annotating an existing class or member with `Obso

[2015-02-21 19:28] rojepp commented on #636
+1.
F# already has this. If C#/VB gets it too, there should be a standardized way of passing this information from MSBuild to the different compilers, so you can invoke MSBuild with a version and not have to care about what language each project is built with.

[2015-02-21 19:38] AdamSpeight2008 commented on #766
I thought that `nameof` feature didn't care about the type, all that was required is that the token can be classified as an identifier. eg a named variable.

[2015-02-21 19:41] AdamSpeight2008 commented on #595
What about the case of a partial class spread across multiple files, having different **file-scoped namespaces**

[2015-02-21 22:07] RichiCoder1 commented on #595
Wouldn't it ultimately end up meaning the same thing? File scoped just means the entire file lives in that namespace rather than allowing multiple.

[2015-02-21 22:08] RichiCoder1 commented on #636
:+1:
All assembly info should be configurable easily at compile time.

[2015-02-21 23:08] alanfo commented on #595
@MgSam
Yes, I agree that it makes sense to require that the namespace is always the first non-comment, non-preprocessor line in the file.

@AdamSpeight2008
The compiler would only combine partial classes with the same name if they were in the same namespace, whether file-scoped or not. They would be different classes otherwise.

@RichiCoder1
Yes, it would be the same thing as putting the entire fi

[2015-02-22 01:53] pharring commented on #608
Yes @mkosieradzki, please go ahead. Don't forget to add unit tests to exercise the new code path.
Thanks.

[2015-02-22 01:57] eatdrinksleepcode commented on #663
I am well aware of what happens in the "real world": I live here and work here every day. The fact that these situations exist does not make them any less absurd; nor does it mean that we should be catering to them.

The problem with this viewpoint is that it stands directly in contrast to the "pit of success". You are basically saying that an organization that has siloed decision making and refus

[2015-02-22 01:59] eatdrinksleepcode commented on #663
@HaloFour

You're absolutely right, it is very similar. Unfortunately, the .NET team has often refused to apply the ObsoleteAttribute for exactly the same reasons that have been described in this thread (and I have often raised the same objections to that reasoning).

[2015-02-22 03:21] gafter commented on #511
Closing, as this is fixed. Just needs verification.

[2015-02-22 03:21] #511 closed

[2015-02-22 05:39] gafter commented on #663
@eatdrinksleepcode One person's "right" is another person's "wrong".

We need a solution so that those customers who want to upgrade to a new version of the toolchain (for example, because a bug in the previous toolchain affects them) should be able to do that *without changing anything else* (including their command line and their code).

Those customers, such as yourself, who want all the new wa

[2015-02-22 05:49] gafter commented on #723
Closing as dup of #605.

[2015-02-22 05:49] #723 closed

[2015-02-22 06:07] gafter commented on #659
This looks exactly like the issue that @mattwar is working on.

[2015-02-22 06:08] gafter commented on #620
@VladimirReshetnikov Was this fixed with our recent changes to the way we do case mapping?

[2015-02-22 07:26] gafter commented on #766
@MadsTorgersen @ljw1004 thought you might want to comment on this. The spec implies the current behavior, but that is obviously not what we would want here.

[2015-02-22 10:54] qrli commented on #595
This is what I hoped from version 1. it is not only wasting space, it also makes extra level of brace, where you'll need some IDE plugins make it easy to tell what each brace is for.
It was a copy of C++'s namespace but we know how combersome it is from the managed C++ experience.

[2015-02-22 11:35] qrli commented on #206
I like ztone's idea.
The current proposal is good but the syntax is still too heavy compared to F#, etc. I think it is better to do like how you designed lambda - provide the clean syntax from start.

e.g. for the record Cartisian(double x: X, double y: Y). From other language point of view, it is somehow laughable at the x: X part. Though we know it is because the casing convention. As we are def

[2015-02-22 11:39] qrli commented on #206
For code like:
    case Add(var Left, var Right):
      return Add(Deriv(Left), Deriv(Right));

Readonly variable should be considered as default, so maybe "let" instead of "var", because "let" is already used in LINQ.

[2015-02-22 11:52] vladd commented on #206
@qrli:

Well, it's actually because we need to name both the formal parameters and the properties. If you insist on them having the same name, this would mean that either parameter names or property names will be forced to be out of the customary naming convention. You don't propose to drop the naming convention, do you?

[2015-02-22 11:54] qrli commented on #115
For parameters, no matter it is readonly or val, it is nothing related to the signiture of the method. It is more about the method implementation. Think about interface and virtual methods.
So I think it may be better to be specified in method trait/contract.

[2015-02-22 16:13] RichiCoder1 commented on #595
Haha, sorry @alanfo, that was a response to @AdamSpeight2008. I absolutely agree.

[2015-02-22 17:49] sharwell commented on #663
@gafter The warning in question here caught a real bug in some code I developed. It would be disappointing to see it completely removed. Looking at #738, it seems like there is still a way to have the compiler report this warning ("strict" mode?). Can you clarify the specific steps users would need to take to still have it reported?

[2015-02-22 18:20] gafter commented on #663
To continue to see this warning and others, use the compiler flag /feature:strict. In the future we'll provide a more flexible and supported mechanism to control which warning "waves" you want to enable.

[2015-02-22 20:02] biqas commented on #420
@gafter yes you are right it was not proposing anything for C#, so you can remove it from here (sorry got the topic wrong:-) ). Maybe there will be or is already a something similiar for only CLR/IL, if so it would be fit there.

[2015-02-22 20:28] gafter commented on #526
As this is a CLI spec request, it is out of place in the Roslyn project. Please reopen if you have a corresponding language proposal.

[2015-02-22 20:28] #526 closed

[2015-02-22 20:31] gafter commented on #526
Perhaps the dotnet/clrcore project would be a better match.

[2015-02-22 22:55] aluanhaddad commented on #115
@qrli I think that ```readonly``` should be used in method property signatures, property signatures, and in any place where the type must be stated explicitly. This is consistent with its existing use in field declarations. My suggestion is that ```val``` be chosen as opposed to ```let``` as the keyword for declaring readonly implicitly typed local variables. The reason is that it reads better and

[2015-02-22 23:21] #759 closed

[2015-02-22 23:35] vladd commented on #258
Dear all, isn't this functionality just a simpler version of mixins? If we are considering having mixins in the language, we don't need to just copy a feature from other language.
The motivation from Java tutorial doesn't seem to be very convincing for me: changing the interface which is implemented by other's classes is anyway a breaking change, and having the other's code silently compiling with

[2015-02-23 01:11] gafter commented on #766
The same issue occurs for VB:

[code]

[2015-02-23 06:48] paulomorgado commented on #206
What is the value of the invocation expression not requiring the `new` keyword? What's the use case?

[2015-02-23 07:20] paulomorgado commented on #396
@JesperTreetop, the current record syntax allows having a base class, implementing interfaces and having other members.

[2015-02-23 07:35] paulomorgado commented on #347
@billchi-ms, some proposals for C#7 make it look like we should never have to write types again. but we should stay away of that temptation.

I like the proposal and I think it should be optimized for MRV because it's what we don't have today. Many are using the current Tuple types whit the readability penalties and that should be improved.

I've recently started using Python to work on an existin

[2015-02-23 08:04] qrli commented on #206
@vladd
I know the reason. I didn't mean to change naming convention. It is hard to drop for general primary constructor feature.

But here is talking about the new record type, which still has the chance to have a different design than normal class/struct, where the X and Y may use a different syntax than parameter list. E.g. some way like F# as member declaration as pointed out by ztone, so that

[2015-02-23 08:12] qrli commented on #115
@aluanhaddad
If we are talking about "const" (as in C++) instead of "readonly", I will agree with you.
But for "readonly", it is nothing about the external visible behavior of a method, but only for the convenience of a specific implementation. Enforcing it on a type system provides only trouble.

[2015-02-23 12:30] DavidKarlas opened #776 "Formatter: SpaceAfterMethodCallName is ignored in Attribute"
I'm talking about space between "[Obsolete" and "("Test")]" in example below.

Notice this is regression in VS2015 compared to VS2013. Assuming this setting equals to VS "Insert space between method name and its opening parenthesis" setting.

[code]

[2015-02-23 14:09] dsaf commented on #728
I can easily imagine F# doing this if it did not (over-)use type inference.

BTW it also sounds a bit like http://en.wikipedia.org/wiki/Postcondition

[2015-02-23 15:41] jrieken opened #778 "Make Formatter#GetFormattedTextChanges public"
For OmniSharp we want to use Formatter#GetFormattedTextChanges since that returns a list of text changes which is more useful than a (formatted) syntax node. Therefore, the wish to make it publicly available to others: https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Formatting/Formatter.cs#L314

[2015-02-23 15:45] jrieken opened #779 "Formatter doesn't format sometimes"
Have a CU which contains code like below and from the whole node format that range. Observe that you don't get formatting results.

`sourceText = sourceText.WithChanges(new[] {
                    new TextChange(    new TextSpan(startOffset,      endOffset - startOffset),     request.NewText)
                        });`

From: https://github.com/OmniSharp/omnisharp-roslyn/issues/75

[2015-02-23 16:07] dsaf opened #780 "In Quick Info, ObsoleteAttribute is displayed as "[deprecated]""
Issues:

1) "Deprecated" is used as a synonym for "Obsolete" needlessly
2) Lower case is used - as if it was a language keyword

Suggested resolution: it should be consistent and say "[Obsolete]".

[2015-02-23 16:08] dsaf opened #781 "In Quick Info, only ObsoleteAttribute is being displayed"
Demonstration:

1) copy-paste:
[code]
2) in SampleUsage hover mouse over: SampleBase, SampleEnum, SampleMethod
3) observe that only ObsoleteAttribute is being displayed

Issues:

1) it makes a developer incorrectly assume that this is the only attribute applied or relevant
2) creates a disparity between core platform and third-party developers in terms of IDE API treatment

Resolutions:

1) quick

[2015-02-23 16:10] dsaf commented on #781
Relevant: https://github.com/dotnet/roslyn/issues/780 , https://github.com/dotnet/roslyn/issues/711 , https://github.com/dotnet/roslyn/issues/534

[2015-02-23 17:19] #465 closed

[2015-02-23 17:39] tmeschter commented on #619
Per further discussion with @srivatsn we're going to do the following:

  1. Update the context menu you see when right-clicking on a diagnostic to show the severity in the rule set file, rather than the effective severity. The icons in Solution Explorer will continue to reflect the effective severity.
  2. Move the severity menu items (Error, Warning, Info, etc.) into a submenu called "Set Rule S

[2015-02-23 17:53] tmeschter commented on #465
Assigning to @jmarolf for verification.

[2015-02-23 18:15] srivatsn opened #783 "false positive on CA2235 (field is notserializable)"
Ported from TFS WorkItem: <b>1087151</b>

------------------------------

<br><i><b>@dfev</b> reported:</i><br><br>Using Microsoft.CodeAnalysis.CSharp.FxCopAnalyzers, 1.0.0-beta1-20141031-01.<br><br>I started by following the announcement video on channel9 and created a&nbsp;&nbsp;class with two properties (using auto properties), both being of type int.&nbsp;&nbsp;Class is inheriting ISerializabl

[2015-02-23 18:27] basoundr opened #784 "Change Signature Removes wrong argument at Callsite"
In [CSharpSyntaxContext](http://index/#Microsoft.CodeAnalysis.CSharp.Workspaces/Extensions/ContextQuery/CSharpSyntaxContext.cs, 12) of Roslyn Solution, try removing the argument `position` in any of the syntaxTree extension method call inside the `CsharpSyntaxContext` instantiation using ChangeSig(Invoked through Ctrl+.)

The call site removes `cancellationToken`, which is the second argument, ins

[2015-02-23 18:33] #657 closed

[2015-02-23 18:53] amcasey opened #786 "System.InvalidCastException: Unable to cast object of type 'CompilationMergedNamespaceSymbol' to type 'Microsoft.CodeAnalysis.IMethodSymbol'"
System.InvalidCastException: Unable to cast object of type 'CompilationMergedNamespaceSymbol' to type 'Microsoft.CodeAnalysis.IMethodSymbol'.
   at Microsoft.CodeAnalysis.Shared.Extensions.ISymbolExtensions.ConvertToType(ISymbol symbol, Compilation compilation, Boolean extensionUsedAsInstance)
   at Microsoft.CodeAnalysis.VisualBasic.Extensions.ExpressionSyntaxExtensions.DetermineType(ExpressionSy

[2015-02-23 18:53] amcasey commented on #786
FYI @rchande

[2015-02-23 19:02] gafter opened #788 "InternalImplementationOnlyAttribute analyzer should be in its own nuget"
The implementation of the `InternalImplementationOnlyAttribute` analyzer is quite expensive (compared to an analyzer that is built specifically to protect `ISymbol`). The expense comes from analyzing every attribute on every base interface. An analyzer that is specific to `ISymbol` would just check that the declared type extends `ISymbol`. The justification for its current design is that it would

[2015-02-23 19:05] #279 closed

[2015-02-23 19:06] gafter commented on #367
@AnthonyDGreen Anthony, would you care to chime in on if/when we would want to do this?

[2015-02-23 19:07] ViIvanov commented on #651
Excuse me, can I post a suggestions about System.Linq.Expressions to Roslyn issues? Is this a Roslyn part or BCL part?

[2015-02-23 19:11] rchande commented on #786
@jmarolf Have you guys seen this before?

[2015-02-23 19:16] AlekseyTs commented on #651
System.Linq.Expressions is not part of Roslyn. Please post suggestions at the appropriate BCL forum.

[2015-02-23 19:18] GitTorre commented on #161
This is a great start! I vote Yay.

[2015-02-23 19:26] #443 closed

[2015-02-23 19:51] gafter commented on #258
@vladd The problematic issue with multiple inheritance is state. But unlike mixins, this proposal does not allow the addition of state to interfaces. The default method implementation provided in an interface would be a correct (if inefficient) one based on other methods of the interface. This is like the existing extension method feature but these methods are virtual and can be overridden in subc

[2015-02-23 19:52] gafter commented on #766
I'm going to put this on the back burner until the next language design meeting. If we find this programming idiom compelling, then we'd want to see what the cost is in terms of the added specification complexity. If the idiom is not compelling, then we'd probably leave things in their current state.

Note that it is possible to compatibly support this later, as the change to supporting this idiom

[2015-02-23 20:00] gafter commented on #206
@paulomorgado That is a long story, but I'll try to make it short.

First, we want there to be a syntactically parallel construction between object creation and pattern matching, as that improves the intuition around the meaning of the pattern-matching constructs. One way to do that is to allow creation without the `new`.

Second, there is another step beyond what is provided in sections 2 (record

[2015-02-23 20:21] ViIvanov commented on #651
Thank you!

[2015-02-23 20:28] JoshVarty commented on #766
Sounds good to me. I'm not completely convinced it's worth the additional complexity.

In the use-case I described earlier, we realized the proper approach to rewrite to:

[code]
instead of:
[code]

So we ultimately didn't need this functionality anyways.

[2015-02-23 20:30] dpoeschl opened #789 "TriggerDiagnosticDescriptor doesn't prevent empty preview"
As discussed in PR #773 for Issue #466, using a TriggerDiagnosticDescriptors does not prevent the preview pane from showing.

[2015-02-23 20:31] ljw1004 commented on #766
Josh, could you also tell me since I don't understand by looking at it -- what's the goal of your code? what goal were you originally hoping to achieve with Log(nameof(test),...) ?

[2015-02-23 20:43] #663 closed

[2015-02-23 20:46] JoshVarty commented on #766
We're rewriting code at edit time, compiling it, running it and showing the results of that code. It's a tool similar to Light Table (At 1:20 he demonstrates a similar feature)

The code I was demonstrating occurs at the rewrite phase. We're logging all assignments and declarations as the code is running.

[2015-02-23 20:46] gafter commented on #663
@agocke Can you please "Verify" that this is "Fixed"?

[2015-02-23 20:54] gafter commented on #74
"Area-Language Design" tells me there may be a shortcoming of our current language design. If that is so it needs to be taken to the language design group before implementation work is planned (except perhaps as a prototype of proposed language changes).

[2015-02-23 21:22] #466 closed

[2015-02-23 21:37] pdelvo opened #790 "VBCSCompiler.exe crashes when using Microsoft.CodeAnalysis.Analyzers.1.0.0-rc1"
The compiler crashes when using the analyzers in Microsoft.CodeAnalysis.Analyzers in the 1.0.0-rc1 release in ctp 6 because of a missing resources dll. This was reproduced when trying to build [this tree](https://github.com/pdelvo/StyleCopAnalyzers/tree/roslyn_1_0_0_rc). The cause was that [this analyzer](https://github.com/pdelvo/StyleCopAnalyzers/blob/roslyn_1_0_0_rc/StyleCop.Analyzers/StyleCop.

[2015-02-23 21:44] mkrueger commented on #48
Using the nodes is fine for me.

I use now this method that:

static bool IsEmptyPartialMethod(IMethodSymbol method, CancellationToken cancellationToken = default(CancellationToken))
{
	foreach (var r in method.DeclaringSyntaxReferences) {
		var node = r.GetSyntax (cancellationToken) as MethodDeclarationSyntax;
		if (node?.Body != null)
			return false;
	}

       return true;
}
-----------
I thin

[2015-02-23 21:44] #48 closed

[2015-02-23 21:57] basoundr opened #791 "VS crashes with ArgumentOutOfRangeException: "startIndex cannot be larger than length" for unclosed /* comment in C# source"
Ported from TFS WorkItem: **1108049**

------------------------------

**Repro Steps:**

Paste this C# code into ETA (or VS):
`/*`

System.ArgumentOutOfRangeException: startIndex cannot be larger than length of string.

&nbsp; at string.Substring(int startIndex)

&nbsp; at M.CA.Editor.CSharp.Outlining.CSharpOutliningHelpers.CreateCommentBannerTextWithPrefix(string text = "", string prefix = "/*")

[2015-02-23 21:58] pdelvo commented on #790
This is a duplicate: #271

[2015-02-23 21:58] #790 closed

[2015-02-23 21:59] vladd commented on #258
@gafter
My main point is that extending the interface is **indeed** a breaking change, so making it undercover (so that the developers won't have to adjust their code) is not what I would endorse.

Having said that, I am not proposing adding state to _interfaces_. I think the needed functionality could be provided with mixins by the code like this (speculative syntax):

(old interface)
[code]
(new

[2015-02-23 22:14] jmarolf commented on #786
Have not seen this before.  Will take a look.

[2015-02-23 22:19] jmarolf commented on #790
looks related to the [issue](https://github.com/dotnet/roslyn/issues/271) Manish is looking at

[2015-02-23 22:25] mavasani opened #794 "NRE at Microsoft.CodeAnalysis.CodeFixes.AddImport.AbstractAddImportCodeFixProvider.<GetNamespacesForMatchingExtensionMethodsAsync>"
Object reference not set to an instance of an object.
   at Microsoft.CodeAnalysis.CodeFixes.AddImport.AbstractAddImportCodeFixProvider.<GetNamespacesForMatchingExtensionMethodsAsync>d__20.MoveNext() in C:\Roslyn\Open\src\Features\Core\CodeFixes\AddImport\AbstractAddImportCodeFixProvider.cs:line 240
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.C

[2015-02-23 22:28] mavasani commented on #794
Dump shared at %internal_share%\dumps\794\devenv.dmp

@jmarolf you probably want to take a look.

[2015-02-23 22:47] VladimirReshetnikov commented on #791
@VladimirReshetnikov

[2015-02-23 22:48] VladimirReshetnikov commented on #791
@VladimirReshetnikov adding myself to the issue

[2015-02-23 23:04] gafter commented on #258
@vladd In what sense is adding a virtual extension method a breaking change? The whole point of this feature is that adding them is *not* a breaking change.

[2015-02-23 23:12] #11 closed

[2015-02-23 23:13] tmat opened #798 "SemanticModel exception messages need to be localized"
Exceptions thrown by SemanticModel are not localized.

[2015-02-23 23:47] vladd commented on #258
@gafter Well, what if a class has already a method named like the one being added (but has different semantics)? What if the added method just doesn't fit into the semantics of the class implementing the original interface, so now it would be impossible to implement the updated interface? Say, if we had `interface IDrink { void Consume(); }`, `class Poison : IDrink { ... }`, and now adding `bool D

[2015-02-23 23:49] cston opened #801 "Support code actions in Interactive"
Code actions (e.g.: "Add using") should be available in C#/VB Interactive Windows.

[2015-02-23 23:55] agocke commented on #387
rc1 packages now live

[2015-02-23 23:55] #387 closed

[2015-02-24 00:02] HaloFour commented on #258
@vladd

If the class already had the method and that class was in a different assembly that was not recompiled after the interface was changed then nothing would change.  The method on the class would effectively shadow the interface method and callers to that method would call the class method directly.  Any new code written to call the interface method would call that method directly since the c

[2015-02-24 00:07] mavasani opened #802 "CompilationWithAnalyzers.GetEffectiveDiagnostics API"
See discussions in PR #775.  CompilationWithAnalyzers.GetEffectiveDiagnostics iterates on the passed in IEnumerable, but the API consumer might have changed the contents of the passed in data structure as the API is an iterator API.
Possible actions:

1. Change the API to either take an ImmutableArray parameter or return an ImmutableArray or both, so that source of filtered collection is force com

[2015-02-24 00:07] vladd commented on #258
@HaloFour

Exactly, and that's my point. This is dangerous. Your class now overrides the default method implementation with some arbitrary code, without the conscious decision of the developer, and without any warnings on recompilation.

[2015-02-24 00:10] vladd commented on #258
@HaloFour

No, my point was that adding a new interface method is a breaking semantical change, and as such ought to be a breaking syntactical change as well.

[2015-02-24 00:15] mavasani commented on #626
Issue should now be fixed, IDE Driver's Get*DiagnsoticsAsync have been fixed to return ImmutableArray.

[2015-02-24 00:15] #626 closed

[2015-02-24 00:15] thomaslevesque commented on #258
This problem is easily addressed : make it mandatory to should explicitly `override` the interface method (same as when you override a method from an abstract class). If you don't, then the method already in the class hides the one from the interface (as if you had added the `new` modifier), and it won't be called through the interface.

[2015-02-24 00:22] vladd commented on #258
@thomaslevesque ... unless the existing method already `override`s some other interface's method?

[2015-02-24 00:42] gafter commented on #410
This appears to report two separate issues. First is documentation. Second is for tests.

We should treat this issue as about the documentation only. If you are interested in having the tests dealt with, please add a separate issue for that.

[2015-02-24 00:44] gafter commented on #265
Closing this issue. You're welcome to continue discussing it, but the discussion is not actionable.

[2015-02-24 00:44] #265 closed

[2015-02-24 00:50] gafter commented on #366
We do not believe anything needs to be done in the language specification. This is just a shortcoming (i.e. bug) of the C# compiler.

[2015-02-24 00:52] tmat opened #803 "Order of symbols provided by DataFlowAnalysis should be deterministic"
DataFlowAnalysis exposes various symbol lists (VariablesDeclared, DataFlowsIn, etc.). The order of symbols in these arrays is non-deterministic. The underlying implementation usually dumps the content of a hash set or a dictionary to these arrays.

Since it’s too easy to take a dependency on the order when enumerating items of an array.

[2015-02-24 01:17] tmat opened #805 "Adding a parameter quick-fix"
When an argument is added to a call site the IDE offers a quick-fix to generate a method (if the overload doesn't exist). It would be nice if it also offered a quick-fix to add the parameter to existing method(s).

[2015-02-24 01:53] tmat commented on #665
This issue is caused by out of date compiler toolset. Update to a new one will fix it.

[2015-02-24 02:00] sharwell commented on #565
Note that this issue only occurs if multiple events or fields are declared in the same `BaseFieldDeclarationSyntax`.

[code]

[2015-02-24 02:11] paulomorgado commented on #206
@gafter, I guess I'll have to wait for better samples and specs to grasp it.

Do you mean something like it being a factory-like construct instead of a constructor? Something that can return `null` or something with another type?

[2015-02-24 03:19] gafter commented on #206
Yes, that is exactly right. A static factory.

[2015-02-24 05:51] anhall1 opened #807 "Debugger* attributes not applied to async methods"
DebuggerNonUserCode and DebuggerStepThrough attributes are not correctly applied to async methods

[2015-02-24 10:32] pdelvo commented on #91
What should the new message be like?

What about
```The 'async' modifier can only be used in methods that have a statement or expression body.```

Could changing the error message be a breaking change?

[2015-02-24 10:42] grokys commented on #420
Generic indexers would be incredibly useful for Perspex. We use indexers to allow binding in initialization lists which means at the moment we have to forego compile-time checking. See https://github.com/grokys/Perspex/blob/master/Docs/intro.md#attached-properties-and-binding-pt-2 for an example.

[2015-02-24 11:22] yinon1992 opened #810 "Make ICodeGenerationService public"
This interface was public in the Roslyn 2012 CTP and it's very useful for a variety of uses. Please make this publicly available once more.

[2015-02-24 13:14] pdelvo opened #811 "LanguageExtensions.Kind(SyntaxNode) throws NullRefrenceException"
Both LanguageExtensions.Kind(SyntaxNode) throw a NullReferenceException if the parameter is null. I think checking for null and throwing an ArgumentNullException would be preferable.

https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/CSharpExtensions.cs#L160
and
https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/VisualBasicExtensions.vb#L194

I

[2015-02-24 14:52] pharring commented on #811
Given how often this is called, adding null checks here is likely to negatively impact perf.

[2015-02-24 15:28] Pilchie commented on #810
We are instead, trying to migrate things to use the APIs in the Microsoft.CodeAnalysis.Editing namespace, like `SyntaxGenerator`.  Can you let us know what is lacking from that API set?

Tagging @mattwar

[2015-02-24 15:50] Pilchie commented on #781
This is our intended design.  The Obsolete attribute is special because it affects compilation and causes errors.

[2015-02-24 15:50] #781 closed

[2015-02-24 15:52] Pilchie commented on #780
This has been the case since VS2003, and hasn't been an issue so far.  I don't think we would do work to fix this, but we could consider a pull request that changed it.

[2015-02-24 15:54] Pilchie commented on #779
@basoundr Can you take a look?  @jrieken Can you elaborate on what you mean?  Maybe post a complete Roslyn Console application that demonstrates the issue?

[2015-02-24 15:54] Pilchie commented on #778
@mattwar - what do you think?

[2015-02-24 15:58] Pilchie commented on #694
Can you please give some specific examples?

[2015-02-24 16:01] Pilchie commented on #301
In general, we don't want to "easy to write" extension methods be public, because that leads to a confusing API surface area.

We'd rather have one complete, albeit verbose API and allow people to write their own helpers to avoid questions like: When should I use this method versus the primitives it's built on?

If there are *specific* extension methods that you think are generally useful and prov

[2015-02-24 16:01] #301 closed

[2015-02-24 16:07] jrieken commented on #779
@Pilchie - sorry, the formatting is off. The code looks like shown here (https://github.com/OmniSharp/omnisharp-roslyn/issues/75#issue-57596743) and I expect the formatter to remove the unnecessary whitespace.

[code]

should become something like this

[code]

[2015-02-24 16:17] christophwille opened #813 "Csc Task Issue with CTP6"
https://github.com/icsharpcode/NRefactory/tree/roslyn

This (NRefactory.sln) builds with CTP5, the Preview Build Tools as well as Mono mcs. With CTP6, the Tests projects errors out with a single line error message:

C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.CSharp.CurrentVersion.targets(383,9): error MSB6006: "csc2.exe" exited with code 13838984.

(the line in question is the Csc target)

[2015-02-24 16:21] davidfowl commented on #301
sigh :smile:

[2015-02-24 16:24] #635 closed

[2015-02-24 16:26] yinon1992 opened #814 "GetSpeculativeTypeInfo on "dynamic" returns an error type"
[code]

[2015-02-24 16:59] mkosieradzki commented on #301
I fully agree with @Pilchie . I am implementing my own small scripting IDE based on Roslyn and all usefull APIs that contain actual COMPLEXITIES are exposed. There is no point in exposing trivial stuff like for example keyword recommenders (in my case) or helpers methods like that.

It would make maintenance of API extremely hard. If you really like this helper logic just copy code from this file.

[2015-02-24 17:00] Pilchie commented on #83
This was fixed by the commit above, just had the "Fixes" in the title instead of the description.

[2015-02-24 17:00] #83 closed

[2015-02-24 17:04] Pilchie commented on #235
So, is there anything left of this request that isn't covered by #218?

[2015-02-24 17:13] tmat commented on #811
Agree with @pharring. There is not much value in throwing ArugmentNullException, on contrary - these are extension methods, so usually they will be called as node.Kind(). NullReferenceException is expected from such a call-site if node is null.

[2015-02-24 17:13] #811 closed

[2015-02-24 17:16] tmat commented on #694
I see at least 3 explicit Throws in the function:

[code]

[2015-02-24 17:17] tmat commented on #694
Not counting the fact that Path APIs throw if paths contain invalid characters, etc.

[2015-02-24 17:21] tmat commented on #301
I generally agree. However there is one specific method in this type that seems pretty complex to implement: FindImplementationsForInterfaceMember.

[2015-02-24 17:22] Pilchie commented on #749
Moved to RC2, since we just shipped RC1 bits yesterday :)

[2015-02-24 17:24] dsaf commented on #781
*"This is our intended design."*

Can there be a new label added "design-bug"?

"*The Obsolete attribute is special because it affects compilation and causes errors.*"

Same can be said about this one:

https://msdn.microsoft.com/en-us/library/system.diagnostics.conditionalattribute%28v=vs.110%29.aspx

"Indicates to compilers that a method call or attribute should be ignored unless a specified con

[2015-02-24 17:27] Pilchie commented on #109
This is not something the team is likely to work on, however, we'd be happy to incorporate or link to samples others want to write.

[2015-02-24 17:27] Pilchie commented on #535
This is not something the team is likely to work on, however, we'd be happy to incorporate or link to samples others want to write.

[2015-02-24 17:38] Pilchie commented on #301
We already expose `SymbolFinder.FindImplementedInterfaceMembersAsync` and `SymbolFinder.FindImplementationsAsync`

http://source.roslyn.io/Microsoft.CodeAnalysis.Workspaces/R/2ff44ec7ffcdbeaf.html
http://source.roslyn.io/Microsoft.CodeAnalysis.Workspaces/R/6de07857600d87fb.html

[2015-02-24 17:40] pdelvo commented on #811
This is inconsistant with how IsKind() works. IsKind does not throw a NullRefrrenceException nd contains a null check. I dont think it is good design if have to know the implementation of a method to know how it is going to behave. https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/CSharpExtensions.cs#L29

[2015-02-24 18:00] agocke commented on #813
That usually means the compiler is crashing. Try starting up VBCSCompiler in a debugger or set the property:

`<CscToolExe>csc.exe</CscToolExe>`

[2015-02-24 18:02] agocke commented on #813
Someone got bit by #271 with CTP6 -- you should see if that's also your problem.

[2015-02-24 18:04] tmat commented on #811
That's a different question though - whether or not Kind() and IsKind() should throw an exception (vs. what exception to throw).

[2015-02-24 18:18] christophwille commented on #813
I added CscToolExe to the project - I now get the following output:

1>------ Build started: Project: ICSharpCode.NRefactory6.Tests, Configuration: Debug Any CPU ------
1>  All packages listed in packages.config are already installed.
1>CSC : warning CS8032: An instance of analyzer Microsoft.CodeAnalysis.CSharp.Analyzers.MetaAnalyzers.CSharpReportDiagnosticAnalyzer cannot be created from D:\GitWor

[2015-02-24 18:19] dpoeschl commented on #805
This feature would share a lot of work with another potential feature of including an Add Parameter option to ChangeSignature.

@srivatsn If your team decides to tackle this, I'd be very interested in collaborating & reusing code to enable both scenarios.

[2015-02-24 18:21] agocke commented on #813
Certainly looks similar to #271. If you debug the compiler while it's failing I'll bet you get a similar exception.

[2015-02-24 18:23] christophwille commented on #813
Mind to give me a pointer for the proper debugging? (bonus question: workaround in CTP6?)

[2015-02-24 18:25] tmeschter commented on #813
@mavasani: Does this look like issue #271 to you? If so, can you post the workaround?

[2015-02-24 18:27] agocke commented on #813
My strategy for debugging is usually to find VBCSCompiler (in your NuGet package if you import Microsoft.Net.Compilers or Microsoft.Net.ToolsetCompilers) and start it in a debugger. csc2.exe will attempt to use a VBCSCompiler that's already been started, so it should reuse the one you started. Then if VBCSCompiler crashes you can watch it in the debugger.

If it looks like csc2.exe is starting a n

[2015-02-24 18:28] tmeschter commented on #813
One workaround would be to remove the Microsoft.CodeAnalysis.Analyzers NuGet from your projects.

[2015-02-24 18:30] christophwille commented on #813
@tmeschter in our specific project (NRefactory), removing those isn't exactly an option as we build on top of it.

[2015-02-24 18:30] amcasey opened #817 "FakeSign issue - InteractiveWindow.csproj"
InteractiveWindow.csproj is probably missing a dependency on FakeSign.

"F:\Enlistments\roslyn\src\Roslyn.sln" (rebuild target) (1) ->
"F:\Enlistments\roslyn\src\InteractiveWindow\Editor\InteractiveWindow.csproj" (Rebuild target) (79:2) ->
(FakeSign target) ->
  F:\Enlistments\roslyn\build\VSL.Imports.Closed.targets(73,5): error MSB3073: The command "F:\Enlistments\rosly
n\Binaries\Debug\\FakeSign

[2015-02-24 18:31] agocke commented on #813
@christophwille Couldn't you include them as a reference but not an analyzer?

[2015-02-24 18:33] jasonmalinowski commented on #204
Updating the bug: the current state is the tests that use StopTheThreadPoolContext are disabled, but should be re-enabled when this is removed.

[2015-02-24 18:35] christophwille commented on #813
I removed Microsoft.CodeAnalysis.Analyzers from the Analyzers node (kept Microsoft.CodeAnalysis.CSharp.Analyzers). Also removed the CscToolExe (so I am back to csc2.exe).

It builds now, but the warnings remained (the ones that I posted previously). But the "it is building now" part is the good news.

[2015-02-24 18:36] agocke commented on #813
@christophwille @mavasani This is almost definitely #271.

[2015-02-24 18:37] agocke commented on #813
As a broader issue, we need to make sure that exceptions can't bubble out of analyzers and crash the compiler.

[2015-02-24 18:38] tmeschter commented on #813
@christophwille The Microsoft.CodeAnalysis.Analyzers NuGet package contains no reference assemblies, only analyzers. You should be able to remove it entirely without breaking your build--you just won't have access to those analyzers.

[2015-02-24 18:40] christophwille commented on #813
@tmeschter tried to remove it, but other packages depend on it:

"Unable to uninstall 'Microsoft.CodeAnalysis.Analyzers 1.0.0-rc1' because 'Microsoft.CodeAnalysis.Common 1.0.0-rc1' depends on it."

[2015-02-24 18:41] DustinCampbell commented on #739
Fixed with PR #756.

[2015-02-24 18:41] #739 closed

[2015-02-24 18:48] agocke commented on #813
@srivatsn Do the compiler references somehow require these analyzers? I can understand tying the compiler tools packages to new analyzer versions, but why references?

[2015-02-24 18:49] tmat commented on #301
There is also ITypeSymbol.FindImplementationForInterfaceMember. I missed it for some reason. @davidfowl, does this not work for you?

[2015-02-24 18:56] mavasani commented on #813
@tmeschter @christophwille Workaround is on the analyzer author side, I am planning to make the change on the CodeAnalyzers analyzer assembly. Only workaround from user side is to remove the analyzer reference.

[2015-02-24 18:58] jaredpar commented on #760
This failure indicates we are attempting to unload an `AppDomain` while it was stuck in native code.  Is it possible we are in the PeVerify calls still?

[2015-02-24 19:02] mavasani commented on #813
@tmeschter @agocke @christophwille Actually, I don't think this is #271
That is related to unable to find the resources assembly "'Microsoft.CodeAnalysis.Analyzers.resources". The call stack on this issue shows that the analyzer assembly itself "'Microsoft.CodeAnalysis.Analyzers" could not be found.

Can you verify if this assembly lies in the folder where C# analyzer assembly "Microsoft.CodeAnaly

[2015-02-24 19:08] agocke commented on #813
@mavasani I think it's the same class of issues, namely that the analyzers engine can't handle missing references without throwing an exception.

[2015-02-24 19:09] mattwar commented on #679
Yep.  The modifiers enum doesn't even have a representation of WriteOnly.

[2015-02-24 19:11] srivatsn commented on #813
@agocke - the compiler references don't depend on the analyzers. The codeanalysis package declares the analyzers packages as a dependency so that the analyzers get pulled in when someone installs the codeanalysis package. Nuget's working on the notion of an optional dependency and when they have that this will be made optional so that folks can uninstall the analyzers if they choose to.

[2015-02-24 19:12] mattwar commented on #778
Yes we should do this.

[2015-02-24 19:14] srivatsn commented on #813
Failing to find the reference shouldn't crash the compiler. When CscToolExe is set, it looks like it simply logs a warning. I wonder why in the VBCSCompiler case, it crashing. @tmeschter  can you please take a look at this?

[2015-02-24 19:14] mattwar commented on #659
This is the same as #605 and fixed by #736

[2015-02-24 19:14] #659 closed

[2015-02-24 19:18] agocke commented on #813
@srivatsn I think the compiler is failing to find referenced assemblies, then the analyzer is crashing the compiler. Note the last line in the build log:

    1>C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.CSharp.CurrentVersion.targets(383,9): error
    MSB6006: "csc.exe" exited with code 255.

[2015-02-24 19:19] brettfo opened #818 "Roslyn.VisualStudio.Services.UnitTests.dll - 138 tests fail with Russian language set as primary with localized resources present"
Ported from TFS WorkItem: **1101390**

------------------------------

**Repro Steps:**

**Steps to reproduce (likely to&nbsp;repro with other languages):**<BR>

1. Follow three steps described at [http://windows.microsoft.com/en-us/windows-8/using-multiple-languages](http://windows.microsoft.com/en-us/windows-8/using-multiple-languages)&nbsp;to install Russian language pack and make Russian the p

[2015-02-24 19:20] brettfo opened #819 "Roslyn.Services.Editor.UnitTests2.dll - 74 tests fail with Russian language set as primary with localized resources present"
Ported from TFS WorkItem: **1101389**

------------------------------

**Repro Steps:**

**Steps to reproduce (likely to&nbsp;repro with other languages):**<BR>

1. Follow three steps described at [http://windows.microsoft.com/en-us/windows-8/using-multiple-languages](http://windows.microsoft.com/en-us/windows-8/using-multiple-languages)&nbsp;to install Russian language pack and make Russian the p

[2015-02-24 19:20] brettfo opened #820 "Roslyn.Services.Editor.UnitTests.dll - 77 tests fail with Russian language set as primary with localized resources present"
Ported from TFS WorkItem: **1101387**

------------------------------

**Repro Steps:**

**Steps to reproduce (likely to&nbsp;repro with other languages):**<BR>

1. Follow three steps described at [http://windows.microsoft.com/en-us/windows-8/using-multiple-languages](http://windows.microsoft.com/en-us/windows-8/using-multiple-languages)&nbsp;to install Russian language pack and make Russian the p

[2015-02-24 19:21] brettfo opened #821 "Roslyn.Services.Editor.CSharp.UnitTests.dll - 307 tests fail with Russian language set as primary with localized resources present"
Ported from TFS WorkItem: **1101388**

------------------------------

**Repro Steps:**

**Steps to reproduce (likely to&nbsp;repro with other languages):**<BR>

1. Follow three steps described at [http://windows.microsoft.com/en-us/windows-8/using-multiple-languages](http://windows.microsoft.com/en-us/windows-8/using-multiple-languages)&nbsp;to install Russian language pack and make Russian the p

[2015-02-24 19:23] brettfo opened #822 "'Highlighted reference' color does not get applied."
Ported from TFS WorkItem: **1124584**

------------------------------

**Repro Steps:**

**Steps to reproduce:**<BR><BR>1. On a C# project with full intellisense and IDE build working, changing the 'Highlighted reference' color does not take effect. The 'Highlighted definition' works fine. They both worked OK as I always set them to some custom color.

------------------------------

**Revisions:*

[2015-02-24 19:26] christophwille commented on #813
I checked the locations:

Packages\Microsoft.CodeAnalysis.Analyzers.1.0.0-rc1\tools\analyzers for Microsoft.CodeAnalysis.Analyzers.dll

and

Packages\Microsoft.CodeAnalysis.Analyzers.1.0.0-rc1\tools\analyzers\C# for Microsoft.CodeAnalysis.CSharp.Analyzers.dll

But you can always pull our code pre-removal of the analyzer reference and debug directly.

[2015-02-24 19:37] kuhlenh opened #823 "[Debugging] Allow developers to "rename" Object IDs to memorable indentifiers"
**[Customer Request](http://blogs.msdn.com/b/csharpfaq/archive/2015/02/23/edit-and-continue-and-make-object-id-improvements-in-ctp-6.aspx):**

We would probably want the "name" to be a pseudo-variable that maps to the object id.

[2015-02-24 19:47] #605 closed

[2015-02-24 19:48] mattwar commented on #63
I'm not sure if I'd consider this the one-true-way, but it is at least a way that we are using internally.

[2015-02-24 20:07] pharring opened #825 "Poor codegen for o?.Prop == k"
Consider this code:

    static bool HasLength(string s, int len)
    {
        return s?.Length == len;
    }

I expected this to generate the same code as:
```return (s != null) ? (s.Length == len) : false;```

However, it currently generates the equivalent of:
```return ((s != null) ? new int?(s.Length) : null) == len;```

It's actually a bit worse than that because of the implicit conversion r

[2015-02-24 20:11] pharring commented on #825
@VSadov @gafter opinions?
I notice that if ```len``` is replaced by a constant, then the expected optimization kicks in. i.e.
```s?.Length == 1;``` generates code equivalent to ```(s != null) ? (s.Length == 1) : false;```

[2015-02-24 20:14] dpaoliello commented on #160
For locals, would it be better to "uninitialize" the variable instead of setting it to `default(T)`:
[code]

[2015-02-24 20:16] mavasani commented on #813
_Update: in the other two projects the analyzer is still referenced and no crashes._

@christophwille Does opening the solution in IDE show you any "RSXXXX" live diagnostics in the error list for the project where command line build crashes? Above update gives me a sense that the crash is coming while trying to report a diagnostic generated by this analyzer, and failing to find the resources (esse

[2015-02-24 20:21] RobJellinghaus commented on #161
Can you speak more to the interaction of references with destructible types in this proposal?  Is it valid to take a ref to a destructible type?  On its face it seems to me that it should be valid -- especially a readonly ref -- but I know from our previous experience that there can be issues here, to say the least.  Some clarity on the interaction between ref and destructible would greatly help t

[2015-02-24 20:23] christophwille commented on #813
Yes, I get one RS warning:

Warning	RS1001	Missing 'Microsoft.CodeAnalysis.Diagnostics.DiagnosticAnalyzerAttribute' attribute.	ICSharpCode.NRefactory6.Tests	D:\GitWorkspace\NRefactory\ICSharpCode.NRefactory.Tests\CSharp\CodeIssues\InspectionActionTestBase.cs	209

This is the following:

https://github.com/icsharpcode/NRefactory/blob/roslyn/ICSharpCode.NRefactory.Tests/CSharp/CodeIssues/InspectionA

[2015-02-24 20:24] heejaechang commented on #301
You could take all of Roslyn utility extension methods (that depend on public Roslyn APIs) to another git hub project and change all of them public and publish them as another nugget package.

-          heejae

From: David Fowler [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 8:21 AM
To: dotnet/roslyn
Cc: HeeJae Chang
Subject: Re: [roslyn] Expose useful APIs (#301)

sigh [:smi

[2015-02-24 20:27] mavasani commented on #813
Alright this is #271 I believe. I am going to check in a workaround fix into CodeAnalysis to stop crashing for this scenario in command line builds. I'll continue investigating the root cause of being unable to find the resources from main assembly during command line builds.

[2015-02-24 20:35] mkrueger commented on #301
That's basically what NR6 is about :)

[2015-02-24 20:53] mavasani commented on #813
@christophwille By the way, if you fix/suppress that RS diagnostic as appropriate, the crash probably goes away. Can you give that a try?

[2015-02-24 20:59] jaredpar opened #826 "cref should not be able to access private fields in other assemblies"
This is a continued discussion from issue #77

Today the binding which occurs during a `cref` lookup does not respect accessibility.  This is a back compat behavior to the native compiler which makes sense to a degree.  The ability to reference private fields which are defined in the same assembly does have documentation value.

But I think the dangers of allowing references to private fields acro

[2015-02-24 21:01] jaredpar commented on #161
@RobJellinghaus

Yes taking a `ref` to a destructible would be legal.  In this model the `ref` case actually represents the borrowed case.

[2015-02-24 21:19] #791 closed

[2015-02-24 21:24] tmeschter opened #828 "Analyzer dependencies are in the wrong place"
The Microsoft.CodeAnalysis.Analyzers NuGet package includes several assemblies:

1. Microsoft.CodeAnalysis.Analyzers.dll
2. Microsoft.CodeAnalysis.CSharp.Analyzers.dll
3. Microsoft.CodeAnalysis.VisualBasic.Analyzers.dll

2 and 3 both depend on 1, but it isn't located next to them as expected. This sometimes leads to compilation errors such as

    CSC : warning CS8032: An instance of analyzer Micr

[2015-02-24 21:26] tmeschter opened #829 ""Compiler Platform Console Application" template is missing NuGet packages"
Specifically, it is missing the Microsoft.CodeAnalysis.Analyzers package, even though it is a dependency of the Microsoft.CodeAnalysis.Common package which is included.

[2015-02-24 21:26] tmeschter commented on #813
I've reproduced the crash locally, and I agree that this is a dupe of #271.

There are also two other issues I see here.

  1. The CS8032 warnings you get are because Microsoft.CodeAnalysis.Analyzers.dll is not located next to Microsoft.CodeAnalysis.CSharp.Analyzers.dll, which is where we expect to find it. I filed #828.
  2. In the course of investigating this, I also discovered that the "Compile

[2015-02-24 21:29] brettfo opened #830 "Rename tracking leaks a reference to IWpfTextView."
In `RenameTrackingTaggerProviderTests.cs` add a test method with the body:

[code]

### Result
`Assert.False()` fails because the weak reference to IWpfTextView is still active.

[2015-02-24 21:55] Pilchie commented on #814
You'll need to add some references (like mscorlib, System.Core, Microsoft.CSharp) to your compilation.

[2015-02-24 22:13] #671 closed

[2015-02-24 22:17] sharwell commented on #235
@Pilchie They could be combined, but you can see in #218 that I assumed it's safe to pass the result of `SyntaxFactory.TypeCref` straight into the documentation comment factory methods. This is not currently the case due to the fact that the factory does not translate between the generic forms of the input. Since this is more of a problem with the implementation of `SyntaxFactory.XmlCrefAttribute`

[2015-02-24 22:25] #565 closed

[2015-02-25 00:00] KevinH-MS opened #836 "Roslyn.Compilers.CSharp.Emit.UnitTests.dll (ConditionalMemberAccessRace002) fails intermittantly..."
I'm seeing the following in several builds today:

Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGen.CodeGenShortCircuitOperatorTests.ConditionalMemberAccessRace002 [FAIL]
   System.CannotUnloadAppDomainException : Error while unloading appdomain. (Exception from HRESULT: 0x80131015)
   Stack Trace:
      at System.AppDomain.Unload(AppDomain domain)
      C:\Builds\Roslyn\Main-PerCheckin-Release\src

[2015-02-25 00:17] jasonmalinowski commented on #830
Nitpick for the code: can we refactor out a "TestForMemoryLeaks" context that does the creation of weak references and the GC stuff in a single place?

[2015-02-25 00:28] VladimirReshetnikov commented on #825
I would expect that we optimize it even with non-constant RHS. Looks like a bug.

[2015-02-25 00:32] tmat commented on #825
It's been pointed out that IsKind() and Kind() are inconsistent in that Kind() throws NRE while IsKind() handles null. @AnthonyDGreen what is your opinion on this? Should IsKind() throw NRE as well?

[2015-02-25 01:01] AnthonyDGreen commented on #825
IsKind should throw NRE. We have the ?. operator in the language now, users can be explicit about whether they want operations to be null-propagating. It's actually kind of unintuitive and hides bugs when we implicitly handle it in some places.

Though honestly I've never been very fond of IsKind at all due to the minimal value compared to ==. Perhaps we should remove it?

[2015-02-25 01:15] tmat commented on #825
+1 for throwing NRE.
-1 for removing IsKind - Yes, it's slightly redundant but node.IsKind(SyntaxKind.Foo) actually reads much better than node.Kind() == SyntaxKind.Foo

[2015-02-25 01:21] VladimirReshetnikov commented on #825
NRE should be only thrown by the runtime. If we want to throw anything manually, it should be ArgumentNullException (even for extension methods).

[2015-02-25 01:21] amcasey opened #839 "Stack overflow guards needed in debugger parsing cases"
The SyntaxHelpers.ParseDebugger* methods call directly into parser methods aren't explicitly guarding against InsufficientExecutationStackException (as in, e.g., ParseCompilationUnit).  We need some more guards so that stack overflows don't crash VS in EE scenarios.

[2015-02-25 01:26] DustinCampbell commented on #839
Moving out of 1.0-rc1 milestone since that (VS 2015 CTP 6) was shipped yesterday.

[2015-02-25 01:27] jaredpar commented on #839
@DustinCampbell are you saying I can't ship fixes in the past???  How limiting.

[2015-02-25 01:28] amcasey commented on #839
Haha, thanks. ☺

From: Dustin Campbell [mailto:notifications@github.com]
Sent: Tuesday, February 24, 2015 5:27 PM
To: dotnet/roslyn
Cc: Andrew Casey (ROSLYN)
Subject: Re: [roslyn] Stack overflow guards needed in debugger parsing cases (#839)

Moving out of 1.0-rc1 milestone since that (VS 2015 CTP 6) was shipped yesterday.

—
Reply to this email directly or view it on GitHub<https://github.com/dot

[2015-02-25 01:29] cston opened #841 "Should generate "Catch ex As System.Exception" when no Imports"
1. Create VB project
2. Remove any imported namespaces from project properties
3. In Main(), type "Try<enter>"

Expected: "ex As System.Exception"

Actual: "ex As Exception"

[code]

[2015-02-25 01:29] tmat commented on #825
By throwing NRE I meant just do nothing :) -- that is just dot thru the argument and don't check anything.

[2015-02-25 01:37] DustinCampbell commented on #839
:smiley:

[2015-02-25 01:41] shyamnamboodiripad opened #843 "Seal DiagnosticDescriptor and get rid of the TriggerDiagnosticDescriptor type"
- Seal DiagnosticDescriptor
- Add Create() methods to match the current public constructors (which I suppose we have to keep public for compat?)
- Introduce an additional DiagnosticDescriptor.CreateTriggerDescriptor() that will create a descriptor that's equivalent to the current TriggerDiagnosticDescriptor (i.e. will attach the WellKnownDiagnosticTags.Trigger to it)

[2015-02-25 01:43] shyamnamboodiripad commented on #843
See PR #815 for the discussion that lead to this ask

[2015-02-25 01:48] aluanhaddad commented on #115
@qrli I think we agree.

[2015-02-25 01:55] Melab opened #844 "How to build"
I'm afraid that it is unclear to me on what I need to do to build this. There are no explicit instructions that say what I need to do. Is this meant to be compiled?

[2015-02-25 02:09] gafter commented on #826
@theoy Please consider this a request to the compat council. I expect you'll want some data about the impact. We'll prototype it and see what happens.

[2015-02-25 02:15] gafter commented on #825
It would be great to produce better code for this.

[2015-02-25 02:44] mattwar commented on #825
IsKind doesn't throw because at the time I introduced it there was already an internal extension of the same name that lots of IDE features used, and having it throw caused many of them all to break. I agree that it should throw, but someone's got to find and fix all the call sites that are problematic.

[2015-02-25 02:49] gafter opened #846 "Phase ordering issue in C# compiler with declaration diagnostics."
The field `CSharpCompilation.SemanticDiagnostics` is actually used to gather *declaration* diagnostics. Therefore no additional diagnostics should be placed into it once we are done with that phase. We had no code to check that invariant in the compiler. In practice what that means is that any diagnostics that are placed into this bag "too late" are simply dropped on the floor and not reported.

T

[2015-02-25 02:56] gafter commented on #760
Dup of #836... or is it the other way around?

[2015-02-25 02:57] gafter commented on #836
Dup of #760

[2015-02-25 02:57] #836 closed

[2015-02-25 04:22] DustinCampbell commented on #844
Check out this Wiki page:

[Building, Testing and Debugging](https://github.com/dotnet/roslyn/wiki/Building%20Testing%20and%20Debugging)

It still needs updated for Visual Studio 2015 CTP 6, which was released yesterday, but it should get you started.

[2015-02-25 04:33] sharwell commented on #826
@jaredpar How would you feel about expanding this to the same scope as `InternalsVisibleTo`?

[2015-02-25 04:36] sharwell commented on #826
@jaredpar Also, what about preserving the ability to reference API-visible items across assembly boundaries. This specifically applies to protected members of another type, which could actually be a useful scenario even in public-facing API documentation.

[2015-02-25 04:38] pharring commented on #608
Thanks to @mkosieradzki for the fix.

[2015-02-25 04:38] #608 closed

[2015-02-25 04:39] pharring commented on #608
(updating tags)

[2015-02-25 04:51] pharring opened #849 "IsKind extension method on SyntaxNode should not check for null."
Issue #825 sparked a discussion of the IsKind extension methods.
Specifically, [this one] (https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/CSharpExtensions.cs#L29) for C# and [this one] (https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/VisualBasicExtensions.vb#L47) for VB.

Opinion on the thread is that the null checks should be removed so

[2015-02-25 04:53] pharring commented on #825
The discussion of IsKind can be continued at issue #849. Please keep this issue focused on the code-gen quality for Boolean expressions involving ?.
Thanks.

[2015-02-25 04:57] pharring commented on #811
Entered #849 to track the potential change to IsKind

[2015-02-25 05:01] pharring commented on #628
@Pilchie, Can you (or anyone else) think of a good reason NOT to move to 4.5.1 as the minimum target for the Workspaces layer?
Indeed, perhaps it should be 4.5.2 since support for 4.5.1 is [ending mid Jan 2016] (http://blogs.msdn.com/b/dotnet/archive/2014/08/07/moving-to-the-net-framework-4-5-2.aspx)

[2015-02-25 05:05] gafter commented on #160
@dpaoliello I think making the variable unassigned is a great idea. But I think it would still have to be assigned `default(T)`, as the variable may have been captured by a lambda or ref variable (see #118) and used elsewhere.

[2015-02-25 06:09] bondsbw opened #850 "Proposal: Property-scoped fields"
Here is a typical C# property that wraps a backing field, such that the property includes a little bit of additional behavior:

[code]

Whenever I set `MyProperty` from within that class, I set the property instead of the field so that I ensure the extra behavior runs.  This is always the intended mechanism for writing this data.
# Problem

During maintenance, developers make changes to the class

[2015-02-25 06:42] tmat commented on #760
Do we have a full dump?

[2015-02-25 06:47] tmat commented on #849
Let's not rename. That will cause too much churn.

[2015-02-25 06:49] tmat commented on #628
Not just 4.5.2, we should move to 4.6.

[2015-02-25 07:07] gafter commented on #760
I do not think we have a dump but it fails fairly often

[2015-02-25 07:08] carlos-j-quintero opened #851 "EnvDTE80.CodeProperty2.ReadWrite returns always read-write value for VB.NET body-less properties"
See MS Connect bug report:

EnvDTE80.CodeProperty2.ReadWrite returns always read-write value for VB.NET body-less properties
https://connect.microsoft.com/VisualStudio/feedback/details/1147941/envdte80-codeproperty2-readwrite-returns-always-read-write-value-for-vb-net-body-less-properties

[2015-02-25 07:17] gafter commented on #851
@carlos-j-quintero Can you please explain how this is related to the Roslyn project?

[2015-02-25 07:48] yinon1992 commented on #814
@Pilchie I've updated the unit test with references you've mentioned, but still get the same failure.

[2015-02-25 07:56] DavidKarlas opened #852 "Dev14CTP6 branch or tag missing"
It would be nice to have commit sha which was used to create rc1 packages, mostly so we can rebuild it locally and debug it(.pdbs).

[2015-02-25 07:59] mkrueger opened #853 "Diagnostic system only runs on compilations."
Inside an IDE the use case is:

+ Large project
+ Single files are opened & edited
+ Diagnostics should be shown for just that file and updated during editing.

Currently it's only possible to analyze compilations with:

[code]

That works and I could filter out diagnostics which aren't in the local file. But the problem is doing that every few key strokes - for the whole project - is a bit over t

[2015-02-25 08:38] yinon1992 commented on #814
I just want to stress that if i replace the 'dynamic' with 'int' for example, everything works just fine

[2015-02-25 08:57] carlos-j-quintero commented on #851
Because in VS 2015 the code model of EnvDTE (EnvDTE.ProjectItem.FileCodeModel) has been re-implemented to use Roslyn. See my post:

Code model of EnvDTE using Roslyn internally in VS 2015. Bugs ahead. http://www.visualstudioextensibility.com/2015/01/21/code-model-of-envdte-using-roslyn-internally-in-vs-2015-bugs-ahead/

I have reported other 7 bugs that were fixed by Dustin Campbell, check with hi

[2015-02-25 09:48] jbe2277 opened #854 "ISymbol.GetDocumentationCommentXml() returns always string.Empty"
The call `ISymbol.GetDocumentationCommentXml()` returns always `string.Empty` when the Symbol represents a member of the .NET Framework (e.g. `System.Console.WriteLine`) or a member of a custom Assembly that has a XML documentation file.

It works only for members that are defined via `SourceText` and has the XML comment defined.

I create the assembly references via `MetadataReference.CreateFromA

[2015-02-25 12:54] armenmk commented on #347
Regarding this:

    public (int sum, int count) Tally(IEnumerable<int> values) { ... }

why not express it like this instead?

    public {int sum, int count} Tally(IEnumerable<int> values) { ... }

curly braces express the returned structure, parentheses are perceived rather as function arguments.

[2015-02-25 12:57] coldacid commented on #347
@armenmk I think I'd prefer parens to curlies for the returns. Most languages (that I've dealt with, anyway) that allow for multiple returns use parens on the left side for placing the return values into variables, and curly braces always indicate blocks of code.

[2015-02-25 13:03] armenmk commented on #347
Like this a lot.

[code]

Among others it decouples the flow definition from the returned value(s). Remember how often you create a local variable, assign/reassign it in the function and then return. This is it, but shorter and less verbose.

[2015-02-25 13:29] OmerRaviv opened #855 "SemanticModel.GetSymbolInfo reports an OverloadResolutionFailure when no mscorlib referenced"
Ported over from: https://roslyn.codeplex.com/workitem/489 - this still reproduces in v1.0.0-rc1
[code]
In this code, `symbolInfo.Symbol` is null, and `symbolInfo.CandidateReason` is `OverloadResolutionFailure`. This seems to be a bug. The code in the syntax tree compiles just fine, so there doesn't seem to be any reason for the failure.

[2015-02-25 14:03] DustinCampbell commented on #851
Thanks @carlos-j-quintero -- I'll take a look.

@gafter, this is an IDE bug in the VS Code Model.

[2015-02-25 14:07] DustinCampbell commented on #849
FWIW, I tried to make this extension method not throw on null a year or two ago and it was very challenging. There was just too much code depending on it being null-resilient. Now that it's a public API out in the wild, it might be even harder to change.

[2015-02-25 14:55] jaredpar commented on #826
@sharwell unfortunately any change here is a back compat breaking change.  If I were designing this from scratch I would feel significantly different about this behavior.  Given the back compat constraints though any change here must be targeted and deliberate.

I feel less strong about the problem occurring for `protected` and `internal` members.  Those are modifiers which are designed to open th