[2016-10-12 12:01] miloush commented on #14095
I came here to complain about the removed usings too. I would much prefer if after the quick action, either both files or at least the source file would have the same list of usings as before. I am happy to clear the unused ones if needed, it's not that complicated.

You are basically saying that it is wrong that project/file templates contain usings that are not used by default, and I would disag

[2016-10-12 12:15] miloush opened #14450 "Code Style for usings"
With the new code style feature I would suggest having some coverage for usings, namely
- whether usings should be inside namespaces or at the top level
- whether usings should be fully qualified (cf #3716)
- whether 'System' directives should be sorted first (currently an editor option)

[2016-10-12 12:53] timopomer commented on #14198
truth, anyone who debugged linq extension methods knows exactly the pain of cutting a line of code into different temporary variables for debugging purpuses

[2016-10-12 12:55] DavidArno commented on #14450
Could you add highlighting unused usings to that list?

[2016-10-12 13:45] Opiumtm commented on #1419
I think interfaces should never be used in this "common-type" inference.
Only single common class should. So, if two classes share one common interface and no common parents, array type of `object` should be inferred - as object is a single common class.

Reason: interfaces are somewhat a form of multiple inheritance. Multiple inheritance resolving in typing should always be explicit.

Use type pr

[2016-10-12 13:46] Opiumtm commented on #1470
**Never take interfaces into consideration** when inferring types.
Interfaces are form of multiple inheritance and multiple inheritance **should always** be treated explicitly.

[2016-10-12 13:54] Opiumtm commented on #1419
@dsaf @realbart
Interfaces are form of multiple inheritance so type inferring based on multiple inheritance is unreliable and definitely would break code. So any form of multiple inheritance (interfaces, for example) should always require explicit typing.

[2016-10-12 14:07] miloush commented on #1276
Just for the record, I expected this to work for attaching event handlers too, though I now understand what the issue is.

[code]

@SLaks

Not if it was rewritten to `if (x != null) x.SomeEvent += ...` or am I missing something? Do you want it to be evaluated?

[2016-10-12 15:05] jaredpar opened #14451 "Move bootstrap build back to MSBuild 15.0"
Our bootstrap build temporarily needs to go back to MSBuild 14.0.  There is a bug in MSBuild 15.0 which prevents us from fully loading our bootstrap components and hence invalidates our build.

https://github.com/Microsoft/msbuild/issues/1183

This bug tracks the removal of work arounds on our end.

[2016-10-12 15:21] varocarbas commented on #13878
@tenor

I have some problems to see the compatibility between your original "the spec says the code is fine" and "the spec backs your claim"; because I understand that the code I posted was wrong (= the compiler thinks differently than what I expect).

Logically, but you were using this text to refer to an scenario where only one overload was present. Do you want to consider multiple overloads? Ex

[2016-10-12 15:32] prajaybasu commented on #11923
@AlgorithmsAreCool @eyalsk  Do you guys mind if I quote you in a book or an article ?

[2016-10-12 16:23] miloush commented on #14449
This has biggest impact when you want to use capital letters only to select the type to cast to, as this do not work in suggestion mode:
[code]

[2016-10-12 17:20] jaredpar commented on #14090
I've verified this is a dupe of the primary build race condition #13980

[2016-10-12 17:20] #14090 closed

[2016-10-12 17:55] jasonmalinowski commented on #14442
We could probably just change the API and have one single thing rather than requiring an export for each individual type. There's no good reason why the shape of this API is what it is.

[2016-10-12 17:59] Opiumtm commented on #8302
@alrz

Stop here and now! You're proposing things that doesn't make "anyone" developer's life easier, but make it potentially harder.

You propose feature which would put additional burden on developer's back. It looks more like Adolf Hitler's regime which put you in concentration camp if you're not marching together and not shouts "Zieg heil" loud enough.

So if someone publish indeed useful libr

[2016-10-12 18:05] AlekseyTs opened #14453 "ReturnType CustomModifiers are simply copied from overridden method"
This is not correct when overridden method is generic. The modifiers might refer to its type parameters, they should be substituted with corresponding type parameters of the overriding method.

Should check similar scenario with interface implementation.

[2016-10-12 18:12] AlgorithmsAreCool commented on #11923
I don't mind being quoted. Feel free.

[2016-10-12 18:35] jnm2 commented on #261
Interesting to compare notes with the concurrent development in JavaScript. http://www.2ality.com/2016/10/asynchronous-iteration.html

[2016-10-12 18:54] Opiumtm commented on #12336
[code]

It's counter-intuitive. Indeed it looks like error in source file.

[code]
This approach is much better and understandable from the first sight.

[2016-10-12 18:59] DustinCampbell opened #14455 ""Hide base name" code fix does the wrong thing for const fields"
_Ported from Visual Studio Feedback_

[code]

Apply "Hide base name" from the light bulb.

![image](https://cloud.githubusercontent.com/assets/116161/19323713/f126c8fc-9072-11e6-97cb-bca47196e7ef.png)

Note that there are two problems. First, there's a formatting issue, and second, that's an illegal position for "new" to appear in the language.

[2016-10-12 19:08] DustinCampbell commented on #6713
We just received a request for this on Visual Studio Feedback, so giving this a +1.

[2016-10-12 19:10] whoisj commented on #14186
@theunrepentantgeek that is basically identical to what I was attempting to express, but significantly more clear and less confusing. Thanks 😄

[2016-10-12 19:12] DustinCampbell commented on #12315
Just received a Visual Studio Feedback issue for this, so +1

[2016-10-12 19:34] #13466 closed

[2016-10-12 19:37] mindave commented on #12315
The biggest issue with this 'bug' is that when editing an existing file that has never been edited in VS2015 and use ^K+^D, it messes up good formatting throughout the file.  :(

Sorry, this is just a 'cop out'!?  No one in our organization **ever** uses that format and we've been coding in C since the early '80s

Absolutely loathe to insert 'unnecessary' braces, usually I'll take the time to remo

[2016-10-12 20:20] devedse opened #14461 "Proposal: Extend generic type new() constraint with parameter types"
## Background

Currently C# allows its users to apply the "new()" constraint on methods accepting a generic type to let the compiler know it has a parameter-less constructor.

The following example shows 2 'random generators' that implement the IRandom interface that are being created and then used to return data:

[code]
## Problem

Currently it's not possible to provide a parameter (e.g. a seed)

[2016-10-12 20:37] DustinCampbell opened #14462 "Object Browser/Class View do not show base types or members of types in projects contained in solution folders during search"
![image](https://cloud.githubusercontent.com/assets/116161/19326842/fd5caaca-9080-11e6-9d51-b0b91b422959.png)

vs.

![image](https://cloud.githubusercontent.com/assets/116161/19326854/0b53bf6a-9081-11e6-9118-5352509a8783.png)

[2016-10-12 20:41] aarondandy commented on #119
For that example Code Contracts seems to take the "if it hurts don't do that strategy" and assumes you are not trying to intentionally harm the stability of your system. It does this by requiring methods used in a contract to be `[Pure]` but it does not enforce that the method or property is actually "Pure".

[2016-10-12 20:47] jcouv commented on #14385
Fixed by #14390

[2016-10-12 20:47] #14385 closed

[2016-10-12 20:48] jcouv commented on #14391
Fixed by #14390

[2016-10-12 20:48] #14391 closed

[2016-10-12 20:50] jcouv commented on #13177
Marek added code and test for mscorlib/xamarin (https://github.com/mono/mono/commit/0a515cf13be8b87993c60494d2be80df17031bfe)

It will be part of Xamarin Cycle10 release which is expected to be in line with VS Jan/Feb release.

[2016-10-12 21:02] CyrusNajmabadi commented on #903
@Pilchie how should we track this now?  I think being on my plate doesn't make sense unless we're actually committing to more work items.  Is tehre a general backlog location we can put things?

[2016-10-12 21:19] DustinCampbell opened #14465 "Completion list does not match one first character typed is a digit"
_This is a regression from Visual Studio 2013 reported though Visual Studio Feedback_

Repro steps:

[code]

Press CTRL+J to display the completion list and then type the character `1`.

*Expected Result*: `Moo1` should be matched
*Actual Result*: The completion list is dismissed

This also repros in VB and is also a regression.

[2016-10-12 21:24] dsaf commented on #14461
This seems to be a duplicate of #2206 which is a shame because your version is also well-written.

[2016-10-12 21:42] DustinCampbell opened #14467 "Add "async" when using Generate Method on an await expression"
[code]

Press Ctrl+<dot> at the caret and apply "Generate method 'C.M2'".

Expected Result:

[code]

Actual Result:

[code]

[2016-10-12 21:45] MarkPflug opened #14468 "Proposal: Better code generation"
There currently exist two approaches to code generation (that I'm aware of):

One, is to use SingleFileGenerator (CustomTool) in Visual Studio. This is a "design time" feature of Visual Studio that creates source .cs files that are included in the project, and thus also included in source control. This is currently used for generating the code behind .resx and .tt files, for example.

A second app

[2016-10-12 22:17] happyhebaby opened #14471 "Formatter.Format doesn't format source code correctly."
**Version Used**: Latest version 1.3.2

**Steps to Reproduce**:

For a sample solution source file:
[code]

I run the following function against it:
[code]

**Expected Behavior**:
The formatted source code I expect:

[code]

**Actual Behavior**:
The formatted source code I got:

[code]

[2016-10-12 22:34] happyhebaby commented on #14471
Note this page doesn't render the source correctly in the expected & actual behavior section, you can enter edit mode to see the actual format.

[2016-10-12 22:36] AlekseyTs opened #14473 "Passing a Tuple literal as an argument causes an unexpected failure in emit."
[code]

error BC36970: Failed to emit module 'a0b4d275-d8a2-4343-8785-311269516478.exe'.

@VSadov, @jcouv FYI

[2016-10-12 22:49] adamabmsft opened #14474 "pathof operator"
The existing `nameof` operator is great, but it only returns the name of the leaf node of the path provided.

For example:

[code]

I would like an operator, for instance`pathof`, that lets me do something like this:

[code]

Today I have to write code like this:

[code]

or implement a helper that lets me do this:

[code]

[2016-10-12 22:58] adamabmsft commented on #14474
PS - I realize there might be some objection to the choice `fullnameof`.  That's just the first thing I could think of.  I'm sure there's a better name.

[2016-10-12 23:02] zvilius commented on #4351
This would help me.

Alternatively, I wouldn't mind using "Block Indenting," except that I also want to use "Automatically format statement on ;" and "Automatically format block on }" in order to apply my within-line (Spacing) formatting. If the "automatic formatting" options would respect my indenting when I'm not using "Smart Indenting" then I could accept that solution.

Hmm, but isn't that a g

[2016-10-12 23:14] jmarolf opened #14475 "Naming style fix for namespace throws exception"
**Version Used**:

**Steps to Reproduce**:
1.  create naming style that does not allow lower case namespaces
2.  create a file with a lowercase namespace name

[code]
1. Invoke codefix on namespace

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2016-10-12 23:27] tmat opened #14478 "Remove unnecessary DLLs from InteractiveComponents VSIX"
The package doesn't need to include DLLs that InteractiveHost.exe doesn't depend on, such as Workspaces, Features and EditorFeatures. These are currently duplicated in both InteractiveComponents VSIX and Roslyn LanguageServices VSIX.

[2016-10-12 23:27] tmat commented on #14478
@ManishJayaswal I think we should fix this for RTM to reduce size.

[2016-10-12 23:32] alrz commented on #14474
Since this is only applicable to types I think it's better to just treat `typeof(T).FullName` as a constant. There is an issue for that but I'm not able to find it at the moment.

[2016-10-12 23:39] mavasani opened #14479 "Deadlock closing solutions with CPS projects referencing Shared Projects."
I am hitting a deadlock in the CPS project system with the below callstack.
[ClearProjectData](http://source.roslyn.io/Microsoft.CodeAnalysis.Workspaces/R/19e4be6ac9ac48bd.html) method on the workspace ends up invoking [SetDocumentContext](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Workspace_Editor.cs,97) within a lock, which may end up invoking back into workspace causin

[2016-10-13 00:01] MarkPflug commented on #14468
Also, the generated code for SingleFileGenerators is "editable", which can be problematic since any modifications would be overwritten the next time the file is generated. Ideally, it would be possible to "navigate to" a symbol in the generated code and see source file representation of the AST, but the source would be presented in a readonly view, in much the same way a "from metadata" readonly v

[2016-10-13 00:11] rchande commented on #14078
@CyrusNajmabadi I'm not seeing these errors on Preview 5. Can you upgrade to it and see if they go away?

![image](https://cloud.githubusercontent.com/assets/3751401/19332217/e11ca702-909e-11e6-8316-0c49de3447b3.png)

[2016-10-13 00:11] #14078 closed

[2016-10-13 00:12] CyrusNajmabadi commented on #14078
I believe andy fixed this.

[2016-10-13 00:26] CyrusNajmabadi commented on #13036
Closing this out as we've never heard of any issues around here, and the current behavior seems like a non-issue.

[2016-10-13 00:26] #13036 closed

[2016-10-13 00:29] CyrusNajmabadi commented on #11388
Closing this out.

[2016-10-13 00:29] #11388 closed

[2016-10-13 00:30] CyrusNajmabadi commented on #10121
Closing this out as we don't seem to be hitting this and the unit test deadlocks seem to have been adddressed.

[2016-10-13 00:30] #10121 closed

[2016-10-13 00:55] CyrusNajmabadi commented on #13436
@Hosch250 I did the work here.  We're shutting down on RC soon.  Thanks!

[2016-10-13 01:09] 333fred opened #14480 "Perf test escaping sometimes fails"
The string escaping in perf tests sometimes fails, resulting in broken builds that shouldn't have failed. Some examples include:

* https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_unit64_prtest/1080/console
* https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_unit32_prtest/4807/console

[2016-10-13 02:32] rexcfnghk opened #14481 "[Proposal] Better syntax for initialisers of read-only properties"
The current C#6 syntax between *initialisers for read-only properties* and *expression-bodied properties* are quite similar and easily confused.

Initialisers for read-only properties
---
[code]

Expression-bodied properties
---
[code]

The *syntactical* difference may be subtle but there is a *semantic* difference. For the initialiser, every invocation to `Foo` will return the same `object` insta

[2016-10-13 02:39] AlekseyTs opened #14482 "It appears that TupleConvertedType02 is exact duplicate of TupleConvertedType01"
Perhaps the intent was to use a slightly different test scenario?

[2016-10-13 02:52] jcouv commented on #14302
Fixed by #14464

[2016-10-13 02:52] #14302 closed

[2016-10-13 03:07] CyrusNajmabadi opened #14484 "Move type should not copy doc comments from the containing type when moving a nested type."

[2016-10-13 03:18] alrz commented on #14481
More distinctive than that? Ö

[2016-10-13 04:19] jcouv opened #14485 "Missing warnings for dropping tuple names"
In the test below, there should be warnings on dropped tuple names in the first and second invocation of `M2`.

[code]

FYI @VSadov

[2016-10-13 04:50] CnSimonChan commented on #14471
Please add 4 spaces before every line of code or wrap a code block with ```` (4 back ticks).

[code]

or

<pre>
[code]
</pre>

[2016-10-13 05:24] CnSimonChan commented on #14474
I only found #3759 and #7973, a [comment](https://github.com/dotnet/roslyn/issues/3759#issuecomment-117600170) says there is an issue about `FullNameOf` on CodePlex but I didn't find it.

#10972 also mentioned about "treat typeof(T).FullName as a constant" and "fullnameof()".

[2016-10-13 05:37] xieguigang commented on #14293
@AnthonyDGreen Hi, because of the gdi+ graphics drawing, mathematics calculation related framework development in the VisualBasic may required of a lot of usage of the primitive type, and some implicit type casting may exists. Due to the reason of Option explicit is OFF and Option strict is ON to following the company team coding rule,  implicit type casting can not be compiled, so that a lot of i

[2016-10-13 05:51] markhurd opened #14487 "vbproj honours PdbFile setting, but the executable still expects AssemblyName.pdb"
**Version Used**:
Visual Studio 2015 Version 14.0.25431.01 Update 3

**Steps to Reproduce**:

1. Edit a`.vbproj` to specify `<PdbFile>SomeName.SomeThing.pdb</PdbFile>`
2. Compile and note `SomeName.SomeThing.pdb` is generated.
3. Debug and note no symbols _can_* be loaded.
4. Check the strings in the compiled assembly for ".pdb" and note that the one you find is "AssemblyName.pdb"

**Expected Beha

[2016-10-13 07:58] CyrusNajmabadi commented on #14428
Fixed with https://github.com/dotnet/roslyn/issues/14477

[2016-10-13 07:58] #14428 closed

[2016-10-13 07:59] CyrusNajmabadi commented on #12137
I think matt is looking at this now.

[2016-10-13 08:01] CyrusNajmabadi commented on #11366
I'm going to close this out.  this is very far out from anything supported by FAR today.  For example, if you FAR on a namespace, we don't find the implicit references to them when you access them through types.  If you FAR on a type, we don't find that type if you accessed it through a static extension method in it that you invoked as an instance method.  etc. etc.

[2016-10-13 08:01] #11366 closed

[2016-10-13 08:13] whut commented on #12336
@Opiumtm adding dollar sign before the double-quote for interpolated string is also counter-intuitive if you look from the perspective of C# 5 :)

[2016-10-13 08:22] DavidArno commented on #14481
Um, what is your proposal? At the moment you aren't proposing anything; you are just demanding someone else come up with an alternative for you.

And I completely disagree with your assertion that the syntactical difference is subtle. The two forms are already hugely different. Whilst I feel that:

[code]
is noisy, it does have the advantage of being clearly different to an expression-bodied prope

[2016-10-13 08:24] dsaf commented on #14481
@rexcfnghk Do you suggest that existing code compilation should start failing with errors or warnings? Otherwise you can simply introduce a custom comment convention:

[code]

[2016-10-13 08:29] dsaf commented on #14474
I would prefer full compile-time introspection for known types.

[2016-10-13 08:34] CyrusNajmabadi commented on #8704
Haven't heard about any confusion here on this.  Closing this out as it seems to be only speculative.

[2016-10-13 08:34] #8704 closed

[2016-10-13 08:34] davkean commented on #11366
I don't agree on this - basically leads me to not be able to trust results of FAR. I'm trying to use it find dead code. You don't delete namespace to remove dead code, so I don't care about the results of them.

Don't really understand the complexity here in Roslyn - from a static binary reader standpoint I can see how I would approach this.

[2016-10-13 08:38] rexcfnghk commented on #14481
@DavidArno, I was hoping to get comments whether this is an actual problem to other people first, before I start giving suggestions to an alternative syntax. If the majority (like yourself) are disagreeing with my premise that the syntax is confusing, why bother proposing another syntax? Please don't get me wrong, I am not demanding anything from anyone.

I think the syntactical difference is subt

[2016-10-13 08:45] CyrusNajmabadi commented on #11366
Roslyn FAR doesn't operate on metadata.  It operates on source, and it works in manner whereby it tries to be efficient about finding references, but in a way that means it might not find 'implicit' references.  Specifically, when you do a FAR operation on a symbol, we have to go search the entire solution to see if there are references to that symbol.

1. Literally binding everything in the solut

[2016-10-13 08:53] CyrusNajmabadi commented on #8708
Closing out.  We haven't heard any requests for this. I don't like keeping bugs open for speculative issues.  If we hear about this from customers we can certainly do something in this area.

[2016-10-13 08:53] #8708 closed

[2016-10-13 09:01] devedse commented on #14461
Ah :), well, my goal to get this implemented would still be resolved then.
Any idea how long it usually takes for an item to go from 1-Planning to Implemented / Released?

[2016-10-13 09:08] CyrusNajmabadi commented on #7533
Closing this out as this only downside of this is that spell-checking might not find a result in complex unicode normalization cases (i.e. where the internal string has a normalized codepoint, but the user wrote out something non-normalized).

1. We haven't heard about anyone running into a case where this impacted them.
2. It doesn't seem like that is that important.  Spell-checking, by definitio

[2016-10-13 09:08] #7533 closed

[2016-10-13 09:55] svick commented on #14481
@rexcfnghk

I don't see how *adding* new syntax helps anything. It does not remove any confusion, only adds new confusion. (Why are there two ways to do the same thing? Are there any differences between them?)

[2016-10-13 11:11] stepanbenes commented on #14481
It is too late for the change. Alternative exists: do not use these features introduced in C#6.

[2016-10-13 11:54] zippec commented on #14474
Why not members? `fullname(System.Console.WriteLine)`

I wonder however, what do you expect to get from `fullnameof(IO.Stream)`. Should it be "IO.Stream" or "System.IO.Stream"

[2016-10-13 11:55] xied75 commented on #9882
Sorry to ask, given this got a milestone, what is the conclusion/action that is going to be implemented?

Since "using" is a compiler magic, and most of time people would call it like this:

[code]

It is very reasonable to expect the same magic can dispose tuple returned by method call, it fits us average programmers' understanding of "using".

One of the reason could forcing us to use tuple e.g.

[2016-10-13 12:15] DavidArno commented on #14481
@rexcfnghk,

Whilst I like the idea of the following being semantically identical:
[code]
You haven't really fixed the problem of it being easy to forget that `public object Foo => new object();` will create a new `Foo` every time it's called. You can't change what's already in the language and I agree with @svick that just adding a 3rd option risks confusing people more.

I think this is a traini

[2016-10-13 12:23] stepanbenes commented on #14481
@DavidArno You got me wrong. I use these features very often and I like them. I reacted on this proposal - to change the existing syntax because it is confusing for somebody.

[2016-10-13 12:28] DavidArno commented on #14481
@stepanbenes

My apologies. Post updated to remove my attack :grin:

[2016-10-13 12:34] miloush opened #14492 "Type parameter should not switch to suggestion mode"
**Version Used**: 25807

**Steps to Reproduce**:

[code]

**Expected Behavior**:
Completion mode for typing `Program.N` type parameter.

**Actual Behavior**:
Suggestion mode expecting lambda expression. I don't see how lambda would be appropriate at this place anyway.

![untitled](https://cloud.githubusercontent.com/assets/10546952/19349156/8e9201b6-9149-11e6-9df0-4bd6d59fd957.png)

I believe this

[2016-10-13 12:59] xoofx commented on #118
@jaredpar, not sure to understand why `readonly ref` should be interpreted as a `ref readonly`... Couldn't we have the ability to have a:
- `readonly ref`, i.e. you can do whatever you want on the struct behind the ref, **but you can't modify the ref**
- `ref readonly`, i.e. you cannot modify the struct behind the ref **and you can't modify the ref**  (this would be different from a C++ `const`).

[2016-10-13 13:24] abhijitparkhi1983 opened #14493 "Fully-qualified path for Type defined in different Solution (cross solution project reference)"
We are using Roslyn Compiler for generating a Dependency Graph for a given application code. The **application code can span across multiple solutions and can have references between the solutions** (ex. Service code in one solution, common business logic in another solution etc.)

For the purpose of generating the Dependency Graph, we would require fully-qualified name and exact path of all the c

[2016-10-13 14:01] whoisj commented on #118
@xoofx please can avoid the taint of C here with its `const int const *ptr` non-sense.

I'm having a difficult time thinking of a real scenario where any would want an mutable pointer to an immutable object. The function could too easily just replace the object with its own, mutate as it sees fit, then return control to the caller who would then have a new struct not realizing it. Seems rife with

[2016-10-13 14:10] xoofx commented on #118
No scenario, I don't propose this (as I said above, the pointer `ref readonly` is not mutable).

[2016-10-13 14:14] Thaina commented on #118
In C# world ref of struct is not pointer. It is the object itself. It can only be immutable object

And by the standard of `static internal protected` is the same as `protected internal static`. `ref readonly` and `readonly ref` must be the same

[2016-10-13 14:24] jnm2 commented on #14481
I can say that I've used both heavily and not even once have mixed them up. `=>` is very iconic and still makes me think "function" in my head.

[2016-10-13 14:50] rexcfnghk commented on #14481
OK, points taken. Closing the issue.

[2016-10-13 14:50] #14481 closed

[2016-10-13 14:58] rchande commented on #11067
Fixed in Micro Update, port to VS Next is in progress--closing.

[2016-10-13 15:08] rchande commented on #12452
Fix is in Preview 5.

[2016-10-13 15:08] #12452 closed

[2016-10-13 15:35] fo40225 opened #14495 "Proposal: C# AMP and restrict keyword"
Idea from [C++ AMP](https://msdn.microsoft.com/en-us/library/hh265136.aspx).

Until now, use C# to calculate on GPGPU still not easy

(DirectCompute, OpenGL, OpenCL, CUDA, Vulkan ... etc).

Although .NET have the Parallel class can do parallel for easily like OpenMP, C# lack more simple syntax to do a massive parallel compute like OpenACC, C++ AMP or OpenMP 4.0.

So we need something like this:

[2016-10-13 15:44] alrz commented on #8302
@Opiumtm The sentiment here is not as radical as you think. You already need to lay out assembly boundaries with well defined dependencies. I was proposing a mechanism to make it easier to define these boundaries without going through complexity of dependency management outside of the language i.e. package managers.

[2016-10-13 16:01] Pilchie commented on #14479
I'm pretty sure there is already a bug on @dpoeschl about this (maybe an internal one?)

[2016-10-13 16:02] DustinCampbell opened #14496 "Bring back Go to Definition Navigation Stack"
_[Issue on Microsoft Connect](http://connect.microsoft.com/VisualStudio/feedback/details/2011983/view-popbrowsecontext-command-and-others-doesnt-work)_

We cut the Go to Definition Navigation Stack as part of Roslyn in favor of the standard VS navigation stack that was made more prominent in VS 2012. There are a few requests to bring it back.

[2016-10-13 16:03] jaredpar commented on #118
@xoofx

Reading your comment I think there may be a bit of a terminology difference.  Let me elaborate a bit on the operations for a `ref` that could be affected by `readonly`:

- re-pointing: a `ref` is really just a pointer that is safe.  Hence just like you can change the address a pointer refers to, you could also change the location a `ref` points to.
- mutating the target: this is modifying

[2016-10-13 16:19] adamabmsft commented on #14474
My suggestion of fullnameof added some confusion here.  I don't want an alternate way to find the full name of a type.  If you look at my example it's __not__ trying to resolve `Namespace.TypeName`, but rather it's trying to resolve `identifier.PropertyName.SubPropertyName.EvenDeeperPropertyName`.

FWIW - My scenario is for deep observability.  It's sort of like how in WPF you can data bind a text

[2016-10-13 16:23] svick commented on #14495
What would `restrict(amp)` give you that a combination of extending expression trees to statement lambdas (https://github.com/dotnet/roslyn/issues/2060) and an analyzer to catch invalid code couldn't?

[2016-10-13 16:28] xoofx commented on #118
@jaredpar Ah, sorry, may be I have not been enough clear. I'm not proposing the idea to re-pointer the ref (though, I have never had a need for this, but hey, the idea could grow on me 😄 ) , but to disallow the variable (and the struct behind of course) to be re-assigned entirely.

Let me take an example for a `readonly ref` scenario:

[code]

It allows typically to protect the variable + protect

[2016-10-13 16:37] whoisj commented on #118
It'll be difficult to make a solid case for why we need "immutable references to mutable structs", "mutable references to immutable structs", "immutable references to immutable structs", and "mutable references to mutable structs".

Seems to be `(ref stuct)` and `(readonly ref stuct)` is all we need. One allows for mutable the other is immutable. This is a far simpler set of things to understand a

[2016-10-13 16:42] Hosch250 commented on #13436
Thank you, @CyrusNajmabadi!  Sorry I was unable to get this done for you.

[2016-10-13 16:47] dsaf commented on #14461
No idea. Let's say I wouldn't expect it next year.

[2016-10-13 16:53] Pilchie commented on #14493
How are you getting a document in the first place? In general, I would look at your `Compilation` object and see if it has any diagnostics.

[2016-10-13 17:03] panopticoncentral opened #14497 "Integration tests are failing in Dev15 due to failure to load Microsoft.VisualStudio.Shell.Immutable.15.0"
The integration tests:
- AnalyzersNode
- CodeAnalysisRulesetEditor
- CodeAnalysisRulesetFile
- SolutionExplorer

all fail trying to load Microsoft.VisualStudio.Shell.Immutable.15.0 under Dev15 Preview 5.

[code]

[2016-10-13 17:16] panopticoncentral opened #14498 "NavigateTo integration tests failing on Dev15 due to unimplemented method"
Both BasicNavigateTo and CSharpNavigateTo are failing on Dev15 preview 5 with the error:

[code]

[2016-10-13 17:27] panopticoncentral opened #14499 "EncapsulateField integration tests failing on Dev15 due to changed keyboard shortcuts"
Both BasicEncapsulateField and CSharpEncapsulateField tests fail on Dev15 preview 5 due to the keyboard shortcut Ctrl+R, Ctrl+E not being bound to a command. This hangs the test.

[2016-10-13 17:33] panopticoncentral opened #14500 "CSharpRazor integration test fails on Dev15"
It gets an unexpected result on Dev15 preview 5:

[code]

[2016-10-13 17:37] panopticoncentral opened #14501 "ExtractMethod integration tests fail on Dev15"
Both the BasicExtractMethod and CSharpExtractMethod integration tests fail on Dev15 preview 5. Basic fails with:

[code]

And C# fails with:

[code]

[2016-10-13 17:43] panopticoncentral opened #14502 "CSharpEditAndContinue integration test fails on Dev15"
When running the test on Dev15 preview 5:

[code]

[2016-10-13 17:50] panopticoncentral opened #14503 "FindReferences and MiscellaneousFiles integrations test fail due to missing command Window.ActivateDocumentWindow"
The following integration tests fail on Dev15 preview 5:
- BasicFindReferences
- BasicMiscellaneousFiles
- CSharpFindReferences
- CSharpMiscellaneousFiles

with:

[code]

[2016-10-13 17:59] 333fred commented on #14480
This is because the Pull Title isn't properly escaped here: https://github.com/dotnet/roslyn/blob/master/cibuild.cmd#L98

[2016-10-13 18:05] mattwar opened #14504 "Catch exceptions closer to tree serialization"
When SyntaxTree serialization fails the watsons often capture call stacks too far removed from the actual error due to async.   We should capture these failures closer to the actual error.

[2016-10-13 18:46] tmat opened #14507 "NullReferenceException from inlineRenameSession.InitializeOpenBuffers while binding pattern"
[code]

[2016-10-13 18:54] #10178 closed

[2016-10-13 19:23] prajaybasu commented on #12358
I didn't know that. Sorry though, can't test anything right now since I don't have VS 15 installed right now (and my sems going on).
But the IDE message was definitely unhelpful, and I think any projects using unsafe should have that package automatically added when converting from PCL, if not already.

[2016-10-13 19:39] KevinH-MS commented on #14074
I tried to change to use IRemoteHostClientService, but GetRemoteHostClientAsync is always returning `null`.  I'm using the Roslyn bits from the dev15-rc branch.  Is there something explicit that needs to be done to turn on OOP if we're calling through IRemoteHostClientService?

[2016-10-13 19:44] heejaechang commented on #14074
@KevinH-MS only thing you need should be remotehost option.

[2016-10-13 19:45] KevinH-MS commented on #14074
Isn't that supposed to get set automatically if our package is installed?

[2016-10-13 19:47] heejaechang commented on #14074
I believe it should. but can you check?

[2016-10-13 20:04] xoofx commented on #118
@whoisj, I have been abusing structs for years in C#, because they are lightweight objects, interop nicely with native code and allow to lower substantially pressure on the GC.  And while using them a lot, I have been facing many problems, not only related to performance but also about their safety-ness. Being a strong users of structs makes me looking forward to more powerful abilities (e.g ref l

[2016-10-13 20:10] #8556 closed

[2016-10-13 20:14] 333fred commented on #14480
The root cause is coming from here: https://github.com/jenkinsci/ghprb-plugin/blob/master/src/main/java/org/jenkinsci/plugins/ghprb/GhprbTrigger.java#L360. The pull title needs to be escaped.

[2016-10-13 20:18] gafter opened #14510 "ExpressionVariableBinder created in SourceFixedFieldSymbol"
In SourceFixedFieldSymbol, we see the code directly creating an expression variable binder:

[code]

It should probably create an ExecutableCodeBinder and get the binder from that. This may become a problem if/when we add an expression form, such as the match expression, that has its own scope.

[2016-10-13 20:21] gafter commented on #14510
It may technically be fine for the match expression (whose subexpression may add variables to the *enclosing* scope), but it is inconsistent with the way binders for expressions are produced in a central factory, uniformly throughout the compiler except here, and therefore may cause fragility in the future.

[2016-10-13 20:32] mcardosos opened #14511 "mments"
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2016-10-13 20:33] #14511 closed

[2016-10-13 20:42] KevinH-MS commented on #14074
Where do the options get set?  I just see this in RemoteHostClientService.cs:
[code]

[2016-10-13 20:44] heejaechang commented on #14074
it is option serializer that gets initial value. option serializer has changed between preview 5 and master. which branch are you using? in master, old method might not work. and since in master we are turning on remote host by default (I just checked in change), you don't need regkey set on package installation.

[2016-10-13 20:46] KevinH-MS commented on #14074
I'm using the dev15-rc branch.

[2016-10-13 20:50] heejaechang commented on #14074
ya, reg key won't work for rc since option serialization has changed.

[2016-10-13 21:16] 333fred commented on #14480
@mmitche @TyOverby @jaredpar I've submitted https://github.com/jenkinsci/ghprb-plugin/pull/430 to ghprb.

[2016-10-13 21:20] gafter commented on #14510
See also https://github.com/dotnet/roslyn/pull/14416#issuecomment-253634225 for notes on this.

[2016-10-13 21:51] benaadams commented on #118
@whoisj I see two variants which @xoofx covers

Pass byval semantics with pass byref cost which I think was the `ref readonly` example so (good for large structs and read only use):
[code]
For byref where you want to allow modifications to the original but not allow overriding of properties which is the `readonly ref` first example
[code]
As if you can do the `new MyStruct();` then you can overrid

[2016-10-13 22:01] jcouv commented on #14167
Fixed by #14456

[2016-10-13 22:01] #14167 closed

[2016-10-13 22:06] Pilchie commented on #14331
Given that #14329 is fixed, and a new `ProjectExternalErrorReporter` will be created when it is accessed, we don't think this is required any more.

[2016-10-13 22:06] #14331 closed

[2016-10-13 22:16] AlekseyTs opened #14517 "Should consider adding more helpers for checking various aspects of ConversionKind in VB"
VSadov an hour ago .NET Foundation member
It may be more robust to have extension methods like "IsNullable".
Possibly applies to InterpolatedString as well

[2016-10-13 22:16] AlekseyTs commented on #14517
This is an internal API.

[2016-10-13 22:19] gafter commented on #14255
@AnthonyDGreen @AlekseyTs @VSadov @jcouv @dotnet/ldm Can we please meet to discuss the approach we'd like the VB language specification to take on this issue before we commit to an implementation?

[2016-10-13 22:24] #14473 closed

[2016-10-13 22:44] gafter opened #14519 "Port breakpoint PR for pattern switch to RC"
This commit

https://github.com/dotnet/roslyn/commit/5602a0a7d68871963025372ad5f69f040a462609

should be ported to RC so breakpoints can be set in the when clause of a pattern switch.

[2016-10-13 22:47] mavasani opened #14520 "Handle IWorkspaceProjectContext creation requests with broken BinTargetPath"
CPS Projects which are in unrestored state do have a valid value for binTargetPath - Roslyn should handle this case by creating a unique dummy path per project.

[2016-10-13 22:50] #4435 closed

[2016-10-13 22:51] #7505 closed

[2016-10-13 23:08] VSadov commented on #12763
fixed in https://github.com/dotnet/roslyn/pull/14418

[2016-10-13 23:08] #12763 closed

[2016-10-13 23:35] VSadov commented on #13277
There is no crash any more, so the test can simply be enabled.
Since it is a test only issue, it is not needed for RC.

[2016-10-13 23:39] dpoeschl commented on #14159
Why is it letting you rename ValueTuple at all?!

[2016-10-14 00:02] dpoeschl commented on #14159
Simpler repro
[code]

[2016-10-14 00:34] gafter opened #14524 "GetSymbolInfo for ValueTuple<int,int> says the type is from source"
When I reference the assembly that defines ValueTuple, and then instantiate it in source, the SemanticModel says that the type is defined in source (i.e. all of its locations are "from source").

/cc @dpoeschl @jmarolf @CyrusNajmabadi @VSadov

[2016-10-14 00:40] dpoeschl commented on #14524
@gafter On second validation, it looks like there are no locations in this case, which surprises Rename into crashing since it was invoked on a token. This is probably the desired behavior?

[2016-10-14 00:53] gafter commented on #14524
@dpoeschl Why would you expect that to be a location for the symbol? Did the semantic model report that as a declaration point for the type (i.e. GetDeclaredSymbol returning something)?

[2016-10-14 00:57] dpoeschl commented on #14524
No, GetDeclaredSymbol didn't return anything. It shouldn't be a Location of the symbol in this case.

What I meant to say was: For symbols that have no Locations in metadata, it expected the token to be a Location of the symbol returned by GetSymbolInfo when called on that token. This is no longer the case. Maybe it was a faulty assumption all along and there are other examples where this falls do

[2016-10-14 00:59] eyalsk commented on #14495
This is better left for the framework level and not the language, much like they did with SIMD where they introduced a new type called Vector that is an abstraction over it.

[2016-10-14 01:41] agocke opened #14525 "Speculative-T completion provider does not trigger for generic parameter in async return type"
This test demonstrates the problem:

[code]

The underlying problem here is that local functions don't have the parsing logic to parse `async Task<$$>` as a local function with an `async` modifier and a `Task<>` return type -- instead this is an `async` return type and `Task` identifier.

The logic for members is not as simple for local functions and will require a bit of refactoring.

[2016-10-14 05:55] abhijitparkhi1983 commented on #14493
Hello @Pilchie, Thanks for your response. As of now, I dont directly deal with the Compilation.
As far as the Document is concerned, this is how we get to the document:

[code]
Once we get a document from the above code, we do the following:
[code]
We pass the semantecModel to instance of **CSharpSyntaxWalker** class and finally we call **CSharpSyntaxWalker**'s `Visit(decendendNodes)`.

Hope I was

[2016-10-14 07:02] fo40225 commented on #14495
@svick , `[restrict(amp)]` will be a better design?

@eyalsk, Of course GPU support should be implemented on the framework level, but an expression tree subset (profile) will help provider developer and programmer.

This is exist feature:

    Func<bool> dele1 = () => true;
    Expression<Func<bool>> exp1 = () => true;

    /* modify exp1 to build dynamic LINQ query */

    Func<bool> mod1 = exp1.

[2016-10-14 09:49] Opiumtm commented on #8302
@alrz No, you are proposing rather radical things

[2016-10-14 10:13] mavasani opened #14527 "StandardTextDocument constructor shouldn't force UI thread"
https://github.com/dotnet/roslyn/commit/273c54e06afea14d9fe196aae7032bfa60bc0ef0#diff-051ec54efa102ae7059eb64118683be8R68 added invocation of GetItemId to the constructor of StandardTextDocument, which needs foreground thread access. This is invoked during AddSourceFile. For CPS, we plan to invoke this from background thread.

[2016-10-14 10:16] miloush opened #14528 "Completion item filtering missing filters for snippets and keywords"
**Version Used**: 25807

**Steps to Reproduce**: Turn _Show completion item filters_ on and invoke the autocomplete dropdown.

**Expected Behavior**: The ability to view snippets only (or use the filters to hide them).

**Actual Behavior**: No such filter even when snippets are present in the list.

[2016-10-14 10:40] xen2 commented on #118
+1 to `readonly` ref!

When you deal with large struct and want to avoid copies (think `Matrix`), ref makes a lot of sense.
And of course, we want to have predefined values as `static readonly` (i.e. `Matrix.Identity`).

The problem is we can't use any of the `Matrix` methods that take a ref with those static readonly (i.e. `Matrix.Multiply(ref Matrix.Identity, ref matrix2)`). The only way is to m

[2016-10-14 10:46] Thaina commented on #118
Well, I have remember there is an argument about `readonly ref`. It is about the problem that struct with readonly may not be able to call method. Because, internally, method of struct could modify its value

Maybe we also need `readonly function` to make it compatible?

[2016-10-14 14:10] miloush commented on #14067
Not that it would matter, but this can be hit by much more common edits, such as enclosing foreach in another one, or adding method calls (such as Where) to the enumerated variable.

Anyway, I have hit what I believe is the same bug but for the **if** statement. Let me know if this is a different one and should be filed separately:

[code]

[2016-10-14 14:37] Pilchie commented on #14493
Does `(await project.GetCompilationAsync()).GetDiagnostics().Where(d => d.Severity == DiagnosticSeverity.Error)` return anything?

[2016-10-14 14:56] AdamSpeight2008 commented on #14495
Doesn't Mono already have something along this line.

[2016-10-14 16:20] gafter commented on #14384
Fixed in #14416

[2016-10-14 16:20] #14384 closed

[2016-10-14 16:38] jaredpar commented on #118
@xoofx

Gotcha.  That is absolutely the intent of `readonly ref`.  It's a way to safely take a `ref` to a `struct` that lives in a `readonly` location.  It effectively disallows all mutations, including assignments.

[2016-10-14 16:51] xoofx commented on #118
That's a `ref readonly` in my terminology. 😅  A `readonly ref` would allow partial/controlled mutation but not full assignment (see my example above where `val.Y++;` is possible for a `readonly ref`), which is important when you want to make sure that a callee cannot modify the private/readonly fields/state of the mutable struct but only through its public mutable API.

[2016-10-14 17:07] jaredpar commented on #118
@xoofx

I feel like you're trying to draw a distinction that doesn't really exist though.  Their is no real difference between mutating the `public` and non-public  / `readonly` portions of a struct.  A struct is either mutable in it's entirety or not mutable at all.

This example is clearer if you consider method calls.  Take for example the following, completely legal, method:

[code]

In your d

[2016-10-14 17:23] benaadams commented on #118
@xoofx for params I could see the semi-muatable working as an `in` parameter (due to the loose keyword ordering of C# on `ref` and `readonly`)
[code]
However the `in` paramater wouldn't make sense for a return/local maintaning the same sematics
[code]

[2016-10-14 17:28] AlekseyTs opened #14529 "Unexpected type inference failure when tuples and anonymous delegates are involved"
[code]

a.vb(7) : error BC36645: Data type(s) of the type parameter(s) in method 'Public Shared Sub Test3(Of T)(x As (Func(Of T, T), Integer)?)' cannot be inferred from these arguments. Specifying the data type(s) explicitly might correct this error.
a.vb(11) : error BC36645: Data type(s) of the type parameter(s) in method 'Public Shared Sub Test3(Of T)(x As (Func(Of T, T), Integer)?)' cannot be i

[2016-10-14 17:33] jcouv commented on #14246
Fixed by https://github.com/dotnet/roslyn/pull/14486

[2016-10-14 17:39] AlekseyTs opened #14530 "Invalid lowering of tuple conversion when anonymous delegates are involved"
[code]

	ThrowingTraceListener.cs(24,0): at Microsoft.CodeAnalysis.ThrowingTraceListener.Fail(String message, String detailMessage)
	at System.Diagnostics.TraceListener.Fail(String message)
	at System.Diagnostics.TraceInternal.Fail(String message)
	at System.Diagnostics.Debug.Assert(Boolean condition)
	Lowering\LocalRewriter\LocalRewriter_Conversion.vb(931,0): at Microsoft.CodeAnalysis.VisualBasic

[2016-10-14 17:40] xoofx commented on #118
@jaredpar Yes. The struct itself know its state and is the owner of the implementation details. It disallows the callee to break anything that is not exposed by the public API on the struct, but the implementation in the struct can choose whatever is needed.  Again, the `readonly ref` is just saying = The ref is not assignable by the callee, not that the struct behind is readonly. But I understand

[2016-10-14 17:41] jcouv commented on #9882
@xied75 With our release candidate date closing in fast, this (or some flavor for it) isn't planned for C# 7.0.
Keeping the issue assigned to 2.0 is good to remind LDM to discuss it, but I don't want to give wrong expectations. Most likely we'll want to get feedback and see how people use tuples first, to help prioritize various features.

[2016-10-14 17:48] jaredpar commented on #118
@xoofx

The ability to assign to a struct location and call methods without a copy are equivalent operations.  Adding protection for one without protection for the other is just lulling developers into a false sense of confidence about their code.

This all has to do with how `this` is modeled.  In a `struct` the type of this is `ref T`.  Hence whenever you call a method on a `struct` the target m

[2016-10-14 17:50] 333fred commented on #12137
@tannergooding doesn't the script already prefer Dev15?

[2016-10-14 17:51] happyhebaby commented on #14471
@CnSimonChan, could you clarify why I need to add those spaces? Even if my program has no starting space for each line, after calling format function should it do the right format for me?

[2016-10-14 17:59] tannergooding commented on #12137
This has since been updated to do `
call "%RoslynRoot%SetDevCommandPrompt.cmd" || goto :BuildFailed` which will favor `VS150COMNTOOLS`.

However, due to VS15 removing the default environment variables/etc, you have to add a couple hacks to get this working (I think running from developer command prompt also works, except for NuGet).

The repo in generally needs to be updated to properly locate a V

[2016-10-14 18:21] #13277 closed

[2016-10-14 18:43] CyrusNajmabadi commented on #14471
@happyhebaby Please see how i edited your post to make the code sections work properly.

We'll need a more complete sample from you.  For example, what is the code for InsertTrace?

[2016-10-14 19:02] alrz commented on #8302
@Opiumtm If you want to still be able to use modules form the code is not modularized yet sure, I agree, that should be possible. The proposal probably needs some polishing but chances for this to be implemented approaches to zero so I'll leave it at that.

[2016-10-14 19:22] xoofx commented on #118
Well, If a library A provides a struct (that can be created in a valid state only by lib A using some internal constructors) and and interface with a `readonly ref` method, this can guarantee to an end user implementing it that It cannot modify the struct in unexpected ways that lib A hasn't cover. It provides confidence for user of lib A, but sure, It doesn't save the developer of lib A to make m

[2016-10-14 19:45] happyhebaby commented on #14471
Thanks for the clarification. I thought Simon meant the source code has to be in certain format in order for format to work.
I simplified the logic of InssertTrace (as it involves sensitive info) but the general logic of the function is exactly the same as the real logic, it is added in the repro section.

[2016-10-14 20:07] AlekseyTs commented on #14530
Here is another repro with user-defined conversions, it produces an incorrect IL.
[code]

PeVerify failed for assembly '
[ : C::Main][mdToken=0x6000006][offset 0x00000048] Unrecognized arguments for delegate .ctor.
[ : C::Main][mdToken=0x6000006][offset 0x000000AB] Unrecognized arguments for delegate .ctor.

[2016-10-14 20:35] jmarolf commented on #12444
Fixed with https://github.com/dotnet/roslyn/pull/14249

[2016-10-14 20:35] #12444 closed

[2016-10-14 20:48] CyrusNajmabadi opened #14534 "NonFatalWatsons don't seem to be uploaded."
@jmarolf run into this on his box.  He got a NFW but his event viewer showed no watson bucket actually filed.

[2016-10-14 20:49] Pilchie commented on #12444
Ah, we didn't split it, but we no longer have the behavior where you can install it on a lower framework and get just the portable surface area?

Tagging @jasonmalinowski and @jinujoseph as well.

[2016-10-14 20:51] Pilchie commented on #14534
Tagging @heejaechang - are you familiar with the non-fatal watson code?

Also @tmeschter as reliability champ.

[2016-10-14 20:58] heejaechang commented on #14534
the one we currently have is port of old debugger watson code which rely on certain dll to be in VS that debugger team deploy.

we have now official API from performance team.

we should do this issue.
https://github.com/dotnet/roslyn/issues/9368

[2016-10-14 21:01] jcouv commented on #13938
@VSadov If you have any bandwidth left for RC, you may want to look at the remaining scenarios above that are probably be broken in VB tuples.

[2016-10-14 21:05] jmarolf commented on #12444
@Pilchie since the move to netstandard we have no portable surface area.

[2016-10-14 21:06] jmarolf commented on #12444
That is to say if you have a netstandard1.3 libray, you get the netstandard1.3 surface area.  If you have a PCL that targets something else, there is nothing for you to target.

[2016-10-14 21:10] Pilchie commented on #12444
Sure - but the root customer issue that this was filed to address is that if you had a desktop 4.5 app and referenced the package, you would get some things, but not `MSBuildWorkspace`, but if you targeted 4.6, you would get `MSBuildWorkspace`.  This happened because the portable directory supported 4.5, so NuGet would choose assets from there, when the net46 directory didn't apply.

I presume tha

[2016-10-14 21:13] jmarolf commented on #12444
Correct, in 2.0 you will not be able to use 4.5.2 at all.  All of our assemblies depend on 4.6

[2016-10-14 21:26] jmarolf commented on #13979
@wpanja can you get me a virtual machine that this reproduces on?  I can't get this to happen on any of my update 3 VM.

[2016-10-14 22:32] ManishJayaswal commented on #11032
These tests are not running and are getting updated for willow so closing this issue as it is not actionable.

[2016-10-14 22:32] #11032 closed

[2016-10-14 22:36] ManishJayaswal commented on #10109
Closing as we are updating all integration tests for willow and once it is enabled we will file issues for tests that have problems.

[2016-10-14 22:36] #10109 closed

[2016-10-14 22:56] ManishJayaswal commented on #7399
I think this issue is resolved now as we are running our tests against Dev15 now.

[2016-10-14 22:56] #7399 closed

[2016-10-14 23:03] ManishJayaswal commented on #6666
closing this as it is a dupe of #7743

[2016-10-14 23:03] #6666 closed

[2016-10-14 23:50] #13684 closed

[2016-10-15 01:22] #8691 closed

[2016-10-15 08:03] #14485 closed

[2016-10-15 08:03] jcouv commented on #14485
Fixed by #14532

[2016-10-15 17:12] gafter commented on #14468
@cston I assigned this to you to investigate whether it makes sense in the context of generators.

[2016-10-15 17:38] gafter commented on #12053
It isn't clear from the language specification (quoted below) that this situation is supposed to be an error. The required diagnostics apply to locals (and constants and parameters), but the spec does not include range variables (i.e. fields that are members of a transparent identifier) in the category of names subject to the conflict rule. Intuitively such an error would seem desirable, but it wo

[2016-10-15 17:40] gafter commented on #12053
@MadsTorgersen This issue demonstrates that members of a transparent identifier are not currently subject to the single-definition rule (in the spec and implementation). Should they be?

[2016-10-15 18:25] AlekseyTs opened #14541 "Possibly incorrect logic in SymbolExtensions.IsDefaultValueTypeConstructor"
Relevant portion of code:
[code]

When we are dealing with constructed type, a cast to SourceNamedTypeSymbol will fail. This, however, doesn't mean that the method is not declared in source. This can lead to possibly incorrect result.

This code might be related to supporting explicit parameter-less constructors in structures, but this feature got pulled from the compiler. If that is the case, we

[2016-10-15 20:35] miloush opened #14542 "IntelliSense preselects what I want"
[code]
And the thing indeed preselects `c.I` and `c.B` respectively. That's some serious _IntelliSense_, well played!

[2016-10-15 22:04] eyalsk commented on #11923
@prajaybasu I don't mind it.

[2016-10-15 22:37] miloush opened #14544 "ENC0063 Updating 'out variable' when not updating it"
**Version Used**: 25807

**Steps to Reproduce**:

[code]
1. Put breakpoint on the catch line or step there.
2. Delete the `l.Clear();` line.

**Expected Behavior**:
Be able to edit and continue.

**Actual Behavior**:
ENC0063 Updating a 'out variable' statement around an active statement will prevent the debug session from continuing.

I am cool with updating an 'out variable' not being supported b

[2016-10-16 01:06] eyalsk commented on #8302
@Opiumtm

Proposals aren't meant to be final. :)

Just because you don't like it or think it's too radical you can't tell people to stop do things or propose things, it's for the design team to decide whether it make sense.

That's a good point but like I said above proposals aren't meant to be final.

I can't see the difference between 10 lines of code and 1000k lines of code in terms of quality

[2016-10-16 02:55] CnSimonChan opened #14546 "Compiler crash when getting compeletion form method group"
**Version Used**:

Visual Studio 2015 Update 3

Commit ded36f8ac5d67fbb3da8e4199dbe4a8069d9c1d3 (latest)

**Steps to Reproduce**:

1.  Type `new object().ToString.`

**Expected Behavior**:

Anything reasonable.

**Actual Behavior**:

Visual Studio crashed.

**Stack Trace**:

[code]

[2016-10-16 03:14] VSadov commented on #14260
fixed by https://github.com/dotnet/roslyn/pull/14518

[2016-10-16 03:14] #14260 closed

[2016-10-16 08:50] eyalsk opened #14547 "Making global namespaces available to an assembly? good idea? useful? what do you think?"
Hey guys,

Many times, mostly in my testing projects I need to repeat myself over and over again and I have a bunch of namespaces that exists in all of my testing files.

Something like this:

[code]

[Opiumtm's approach](https://github.com/dotnet/roslyn/issues/14547#issuecomment-254281513):

_I've modified the syntax slightly._

[code]

**Restrictions:**
1. The using group cannot contain another

[2016-10-16 09:04] alrz commented on #14547
Dup of #2044

[2016-10-16 10:15] eyalsk commented on #14547
@alrz yeah it's related but very different approach, will see, what they think about this.

[2016-10-16 11:49] vbcodec commented on #14547
or maybe
import 'file.cs'

[2016-10-16 11:52] svick commented on #14547
That doesn't sound like a good idea to me. AssemblyInfo.cs is currently not special in any way and you want to explicitly name it in the specification? Besides, when compiling using the Roslyn API, there may not even be file names.

---

[code]

C# currently does not have dialects, this does not look like a good reason to start to me. Why would it need to be opt-in or opt-out in the first place? P

[2016-10-16 12:05] alrz commented on #14547
Note: VB supports this though `imports` compiler flag. You can configure global imports in Project Properties > References.

[2016-10-16 12:28] eyalsk commented on #14547
@svick

You're right, then we can just put these namespaces everywhere we would like and then opt-in to them in other files.

Sure, I've just thrown some ideas to see what the community think. :)

@vbcodec I don't think that anything related to the file system in such a way is a great idea.

@alrz Is it strictly VB feature?

[2016-10-16 13:28] miloush opened #14548 "Splitting string literals in HTML uses wrong white space character"
**Version Used**: 25807

I am not sure whether this is a Roslyn issue or ASP.NET issue, but the split string literals option is under C# so I am filing it here. Let me know if I should file it over there, or if this is an unsupported scenario.

My white space settings are spaces for C# and tabs for HTML, both sized 4. This is the result as I was just typing the SQL command and hitting enter at eac

[2016-10-16 13:31] Kalfas opened #14549 "Ideas for new features on C# 7.0 or beyond..."
I have a few features to suggest for the future of this language which I first learn and love.

- **All keyword**: Basically a useful keyword used in multi-assignment. It should set the values of all the declared variables to the value specified on the right hand. Here is an example:
`int int1, int2, int3, int4, int5 = all 0;`
- **Multi-comparison**: Can't really find a good name for that one; I c

[2016-10-16 13:41] svick commented on #14549
The second proposal is a duplicate of https://github.com/dotnet/roslyn/issues/136, which was closed by @gafter:

[2016-10-16 13:44] Kalfas commented on #14549
@svick Thanks for letting me know!

[2016-10-16 14:43] varocarbas commented on #13878
A new example of the referred behaviour (calling non-static from static); this time with the peculiarity that it works on my Visual Studio 2012, but not on my 2015 version (?! Might it have to do with the configuration of the compiler? Note that I am using the default one in both cases).

[code]
As said, I am working on a somehow big code where I am using `dynamic` variables a lot (BTW, quite happ

[2016-10-16 18:28] neilsimp1 commented on #14177
I'm having the same issues, I believe.

Windows 10, VS Community 2015 Update 3, and a .Net Core project.Anytime I save a file, VS freezes and needs me to kill it and restart.

Application Error:

`Faulting application name: devenv.exe, version: 14.0.25420.1, time stamp: 0x57685d85`
`Faulting module name: clr.dll, version: 4.6.1586.0, time stamp: 0x575a139f`
`Exception code: 0xc00000fd`
`Fault offs

[2016-10-16 18:43] vbcodec commented on #14547
switch to VB, and go to projest's settings where you can set globally available namespaces

[2016-10-16 19:15] eyalsk commented on #14547
@vbcodec What do you mean by switch to VB? I get the point where VB has this feature but why would it be strictly a VB thing?

I'm not a VB programmer and I wouldn't convert projects to VB just to have this feature, that's kinda silly, it's like telling people to convert their projects to another language just because this language has a feature they need or not but they still think that it can be

[2016-10-16 23:47] #10527 closed

[2016-10-17 00:04] CyrusNajmabadi commented on #13126
This was fixed with https://github.com/dotnet/roslyn/commit/cd738c498884deee60d8cd5e8c0e97c95459eb06

[2016-10-17 00:04] #13126 closed

[2016-10-17 01:15] CyrusNajmabadi commented on #4993
Hrmm.  I disagree with this evaluation slightly.  Here's the subtle part that is missed.  GetCommandState may delegate to the next handler to and *still* want to execute the command later on.  This is because many command will delegate down to the final command handler to just decide on things like "is typing a character allowed?"    THis is very common so that every feature doesn't have to do thi

[2016-10-17 06:11] jltjohanlindqvist opened #14553 "Implementing missing members of an interface uses .NET framework value types instead of aliased value types"
**Version Used**: Visual Studio "15" Preview 5

**Steps to Reproduce**:
1. Create an interface with a method that has a aliased value type as a parameter, e.g. string, int, bool.
2. Create a class that implements the interface. (don't implement the methods manually)
3. Use the IntelliSense helper to implement the missing members.

**Expected Behavior**: IntelliSense should implement the methods wi

[2016-10-17 07:09] zippec commented on #14547
I wouldn't tie this information to AssemblyInfo as it isn't in any way special from the compiler point of view.

What sounds reasonable to me is that it should:
* Not be part of the language per se
* Not be tied to specific project structure or IDE
* Be explicitly stated in every file to avoid confusion

Which leads me to this design (intentionally similar to `define`):
* New compiler option `/pro

[2016-10-17 08:20] dsaf commented on #14549
Tuple masters, is it possible to do this?

[code]

"Deconstruct" a single numeric value by copying it.

[2016-10-17 08:21] dsaf commented on #14549
@Kalfas an issue per suggested feature is usually preferred, especially when they are unrelated.

[2016-10-17 09:08] ufcpp commented on #14549
@dsaf No it doesn't but, with [target typed default](https://github.com/dotnet/roslyn/issues/13602), might be possible:

[code]

This is equivalent to:

[code]

[2016-10-17 09:55] orthoxerox commented on #14549
@ufcpp There are no target types in your example.

[2016-10-17 10:14] ufcpp commented on #14549
@orthoxerox Yes if int1 ～ int5 are new variables. I meant:

[code]

or

[code]

[2016-10-17 11:28] abhijitparkhi1983 commented on #14493
Hel

[2016-10-17 11:31] abhijitparkhi1983 commented on #14493
Hello @Pilchie, sorry for coming late on this thread.

The above code gives 0 Diagnostic.
Is there any thing else I need to check?

Looking forward to further help from the forum. I am clueless and stuck completely

[2016-10-17 13:01] Kalfas commented on #14549
@ufcpp Still you have to type too much... I suggest something like the example I gave; which pretty much makes your life easier, since it combines multi-assignment and multi-declaration!

[2016-10-17 13:07] dsaf commented on #14549
@Kalfas they are not going to introduce a new keyword ```all``` for such a miniscule use case. Maybe if majority of C# developers were writing math code most of the time... Also see #4294.

[2016-10-17 13:10] zippec commented on #14547
Exactly

That would be awesome

[2016-10-17 15:43] gafter commented on #14549
[code]

"Deconstruct" a single numeric value by copying it.

Yes, but the syntax is a bit different:

int1 = int2 = int3 = int4 = int5 = 0;

[2016-10-17 16:33] Pilchie commented on #14206
@mattwar can you comment on this, having looked into both generators and msbuildworkspace the most?

[2016-10-17 16:35] Pilchie commented on #14241
This is a duplicate of #6713

[2016-10-17 16:35] #14241 closed

[2016-10-17 16:49] Pilchie commented on #14244
This issue does not contain enough description to be able to repro this bug.  Also, we're not likely to fix it for csproj.  If it's still an issue for CPS based projects, it should be filed in the project sytem repository.

[2016-10-17 16:49] #14244 closed

[2016-10-17 17:08] DustinCampbell opened #14554 "Crash during Inline Rename conflict detection in VB"
_Reported via Visual Studio Feedback_

**Steps to Reproduce**:
1. Start with the following code.

[code]
1. Invoke Inline Rename (<kbd>F2</kbd> or <kbd>Ctrl+R, R</kbd>) on `Tester.Close()`
2. Rename `Close` to `Save`

**Expected Behavior**: An unresolvable conflict is reported

**Actual Behavior**: VS crashes

[2016-10-17 17:09] Pilchie commented on #14308
All XML is potentially whitespace sensitive, though I believe the compiler has code to elide shared indentation (@AnthonyDGreen, is that right)?

Still, when we uncomment, we're adjusting the indentation of the first line with the `Dim`, so we should be preserving the relative indent of the rest of the lines too.

[2016-10-17 17:09] Pilchie commented on #14308
Note - this also affects string literals in VB now that they can be multi-line.

[2016-10-17 17:11] Pilchie commented on #14322
Is this the options related NullReferenceException from out of proc serialization?

[2016-10-17 17:12] mattwar commented on #14206
@per-samuelsson instead of using MsbuildWorkspace you can use CommandLineProject with AdHocWorkspace. You'll have to pass all the same arguments into your target that the csc target has and convert them to command line arguments. The result will be the same as if you used MsbuildWorkspace but without using msbuild recursively.

[2016-10-17 17:14] Pilchie commented on #14323
Another options NullRef?

[2016-10-17 17:19] Pilchie commented on #14332
Anyway, I can't repro this in VS "15" Preview 5, so I'm going to close it out.

[2016-10-17 17:19] Pilchie commented on #14332
(Would love it if someone could check if we have a unit test for it though...)

[2016-10-17 17:19] AlekseyTs commented on #12053
Here is an example with a local declaration rather than a lambda parameter:
[code]

[2016-10-17 17:21] Pilchie commented on #14340
Totally agree, but this isn't going to fit before VS "15" ships.

[2016-10-17 17:30] Pilchie commented on #14432
@mavasani are you going to take care of this?

[2016-10-17 17:50] Opiumtm commented on #14547
I think it would be more interesting to use different approach.

Introduce "using batches" concept (`using as` language construct):

[code]

And then you can just reference all bunched together usings in one line
[code]

[2016-10-17 17:51] mavasani commented on #14432
Actually, I am wondering if we actually need to fix this - AbstractProject already implements the error reporter specific VS interfaces: http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/ProjectSystem/AbstractProject_IVsReportExternalErrors.cs,10 and you can just cast the `IWorkspaceProjectContext` to `IVsReportExternalErrors` or `IVsLanguageServiceBuildErrorReporter2

[2016-10-17 18:01] Pilchie commented on #14444
Is the same root cause as https://github.com/dotnet/roslyn/issues/10916 (which I am woefully behind in investigating)?

[2016-10-17 18:02] Pilchie commented on #14449
@CyrusNajmabadi @rchande @jcouv - any ideas here?

[2016-10-17 18:04] #14332 closed

[2016-10-17 18:05] Pilchie commented on #14450
Agreed, though unfortunately, we're not going to have time to get to it in the 2.0 release.

[2016-10-17 18:14] Pilchie commented on #14471
In your code:

You are instructing the formatter to format all nodes that have the `Formatter.Annotation`, but you haven't applied that annotation to any of the nodes in `newRoot`.

You should add the annotation to `traceStatement` inside `InsertTrace`.

[2016-10-17 18:15] #14471 closed

[2016-10-17 18:17] terrajobst opened #14556 "Converting a VB PCL to .NET Standard causes error"
**Version Used**: Visual Studio 2015 Update 3

**Steps to Reproduce**:
- **File** | **New Project**
- Select V**isual Basic** node
- Select **Class Library (Portable)**
- Select these targets:
  - .NET Framework 4.5
  - Windows 8
  - Windows Phone Silverlight 8
  - ASP.NET Core 1.0
  - Xamarin.Android
  - Xamarin.iOS
  - Xamarin.iOS (Classic)
- Double click **My Project**
- Select app designer tab

[2016-10-17 18:22] VSadov commented on #14541
The logic seems to imply that we get OriginalDefinition. Perhaps the code should get the OriginalDefinition just in case.

Parameter-less constructors were always supported, only ability to declare them was introduced and then pulled out. You can still declare such constructors in IL or C++, and possibly in C#/VB v.Next

[2016-10-17 18:28] eyalsk commented on #14547
@Opiumtm hmm this is pretty cool! but I'd go with the following syntax:
[code]
I _think_ that the static modifier is redundant because the compiler can infer that it's a static class and do the appropriate thing but that's just an assumption.

Anyway I like this because it will allow us to group multiple using statements and import them in other places, however, I see two issues here:

1. Discover

[2016-10-17 18:32] CyrusNajmabadi commented on #14449
Assigning to Julien.

Julien, we're probably being too conservative.  If we can infer a known real type, then we probably don't want to switch to suggestion mode.

[2016-10-17 18:35] gafter commented on #14541
There appears to be more code in the compilers to support the declaration of structs with field initializers and/or a default constructor. For example, code starting with the following in `MethodCompiler.cs`...

[code]

[2016-10-17 18:37] Pilchie commented on #10286
Note that we added `Ctrl+T` as an easier shortcut for "Go To"

[2016-10-17 18:38] Pilchie commented on #10288
Potentially related to #14496

[2016-10-17 18:40] Opiumtm commented on #14547
@eyalsk

Yes, they should merge **and** throw compilation warning. To fight ambiguity to some degree, batch usings can be declared inside namespace and then referenced as if it's a part of namespace.

Things that are legal, but potentially problematic ("usings batch" with same name inside same namespace declared inside different source files is a potential maintainability problem) should throw war

[2016-10-17 18:41] #1634 closed

[2016-10-17 18:42] Pilchie commented on #14528
Tagging @CyrusNajmabadi @kuhlenh @markw-t @DustinCampbell

We also don't have a filter for keywords.  I can't remember the thinking here though...

[2016-10-17 18:43] Pilchie commented on #14534
I see that #9368 is assigned to @heejaechang for RC - @srivatsn @heejaechang is that likely to be done?  We really need to get this data to fix issues before RTM.

[2016-10-17 18:44] AnthonyDGreen commented on #14308
@Pilchie I don't believe we elide the shared indentation, as glorious as that would be.

[2016-10-17 18:46] Pilchie commented on #14542
This is "target typing" implemented in https://github.com/dotnet/roslyn/issues/11729.

Glad you like it - I'm pretty excited about it too.

Tagging @rchande @CyrusNajmabadi @DustinCampbell @kuhlenh @markw-t so they see this too.

[2016-10-17 18:46] eyalsk commented on #14547
@Opiumtm Warnings can be left to analyzers. :)

[2016-10-17 18:46] #14542 closed

[2016-10-17 18:46] AnthonyDGreen commented on #14293
Option Explicit OFF or Option _Infer_ Of? Option Explicit just means you can use variables without explicitly declaring them.

[2016-10-17 18:47] AlekseyTs commented on #14541
The code in SymbolExtensions.IsDefaultValueTypeConstructor is also not going to handle retargeting scenario. The cast to SourceNamedTypeSymbol will fail even for non-generic type.

[2016-10-17 18:47] CyrusNajmabadi commented on #14528
Seems like a reasonably request.

[2016-10-17 18:49] AnthonyDGreen commented on #14266
@AdamSpeight2008, that's intuitive though it might have some impact on overload resolution. Incidentally the fact that negative literals aren't compile-time constants is related to why Int32.MinValue isn't expressable as a decimal literal in code.

[2016-10-17 18:54] Pilchie commented on #14548
@CyrusNajmabadi @jasonmalinowski is this an issue with the fix getting the options from the wrong place, or the new per-document options not  respecting projections properly?

[2016-10-17 18:54] Opiumtm commented on #14547
@eyalsk And I think, recursive using batches (using batch that contains another using batch) should be forbidden as it would introduce complex namespace dependency graph with possible cycles. So, using batches should contain only regular namespaces or static types.

[2016-10-17 18:57] Pilchie commented on #14553
This is because the default value for the option at Tools\Options\Text Editor\C#\Code Style\General "predefined type preference" got flipped to "Prefer framework types" somehow.

Let's get this straightened out.

[2016-10-17 18:57] Pilchie commented on #14546
Moving to @VSadov since @jcouv is out right now.

[2016-10-17 19:04] Pilchie commented on #6713
Added to #7056 so we don't forget.  Agree that we should do this when we can

[2016-10-17 19:05] Pilchie commented on #14361
@srivatsn @nguerrera @mavasani - anyone else hitting this? Unfortunately, without a repro we'll have a hard time investigating :(

[2016-10-17 19:05] #14361 closed

[2016-10-17 19:06] Pilchie commented on #14361
Tagging @jasonmalinowski in case he's seen any reports of anything like this too.

[2016-10-17 19:06] #14534 closed

[2016-10-17 19:07] Pilchie commented on #14556
@terrajobst what exact version do you have?  This changed with KB's for Update 3.

[2016-10-17 19:09] eyalsk commented on #14547
@Opiumtm Yeah, I think so too. :)

[2016-10-17 19:21] Pilchie commented on #11643
Sorry for ignoring this issue for so long.  I agree it would be useful, it's just not at the top of our priority list for things to make public.  @mattwar is currently driving most of our public API work, so assigning to him.

[2016-10-17 19:30] Pilchie commented on #14064
@rchande or @CyrusNajmabadi can one of you take a look and see if it's a dupe?

[2016-10-17 19:31] Pilchie commented on #14527
Do you have an alternate proposal?

[2016-10-17 19:33] jaredpar opened #14559 "Formatting invalid tuples + local function hangs"
Consider the following code:

[code]

When pasted into the IDE this will cause a hang during formatting.  The formatting operation is cancelable and once canceled the IDE becomes usable again.

[2016-10-17 19:35] mavasani commented on #14527
Can we pass in an optional itemId (or getItemId delegate) to AddFile? AbstractLegacyProject can invoke the current implementation and CPS project can pass default ItemId

[2016-10-17 19:42] Pilchie commented on #14116
Can you take a look at this since @jcouv is OOF?

[2016-10-17 19:44] Pilchie commented on #14497
This would normally be Area-Analyzers, but since @tmeschter has some familiarity with the code in question, leaving it in IDE for now.

[2016-10-17 19:55] AlekseyTs commented on #14255
We discussed the approach and settled on aggregating (Max) delegate relaxation level across all tuple element conversions.

[2016-10-17 20:11] gafter commented on #12053
This example also falls afoul of the hole in the current language specification that members of transparent identifiers are not subject to the single definition rule.

[2016-10-17 20:17] gafter commented on #10148
I suspect this is referring to part of the implementation of recursive pattern-matching.

[2016-10-17 20:21] AlekseyTs commented on #10148
This is referring to a method of the given signature in SyntheticBoundNodeFactory.

[2016-10-17 20:31] #14528 closed

[2016-10-17 20:53] mgoertz-msft opened #14565 "[XAML] Explicitly opt into Roslyn functionality"
XAML documents participated in too many incompatible language features. This caused many commands to be handled by Roslyn that should have been handled by Visual Studio. The fix is to opt out of RoslynContentType and explicitly opt into the features supported by XAML.

[2016-10-17 21:24] gafter commented on #14337
The desired behavior is as follows

- [ ] For `InstrumentLocalDeconstructionDeclaration`, it should be instrumented just like any other statement.

- [ ] For `InstrumentForEachStatementDeconstructionVariablesDeclaration`, it should be instrumented the same way as `InstrumentForEachStatementIterationVarDeclaration`.

- [ ] For `InstrumentPatternSwitchStatement`, it should be handled the same way as

[2016-10-17 21:26] smitpatel opened #14567 "Convert.ToString is using incorrect method overload for argument of type string in .NET Core"
**Version Used**:
VS 2015 Update 3

[code]

**Steps to Reproduce**:
`Program.cs`

[code]

`project.json`

[code]

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

Given that `Convert.ToString()` is being passed argument of type `String`, the method selected in `net451` is correct one. It should give same output for `netcoreapp1.0` too.

[2016-10-17 21:28] #14465 closed

[2016-10-17 21:31] #8224 closed

[2016-10-17 21:31] #5873 closed

[2016-10-17 21:36] masaeedu commented on #7844
@HaloFour Fair points regarding the runtime impact, but wouldn't there be a way to implement this so that the existence of the interface is erased using information from the assignment location? It would require some changes to the CLR so that an appropriate implementation is JIT-ed out using the structurally compatible concrete type, but this is very similar to how generics work in the CLR alread

[2016-10-17 22:04] terrajobst commented on #14556
That's what Help | About shows me:

![image](https://cloud.githubusercontent.com/assets/5169960/19457384/ea7fd136-947a-11e6-955d-bf3067fc3788.png)

[2016-10-17 22:17] jasonmalinowski commented on #14361
Nope.

[2016-10-17 22:30] gafter commented on #14156
A rough spec appears in https://github.com/dotnet/roslyn/issues/14337#issuecomment-254338630

[2016-10-17 22:30] #14156 closed

[2016-10-17 22:34] Pilchie commented on #14493
At this point it's getting harder to psychic debug - any way you can share the projects involved?

[2016-10-17 22:38] plnelson commented on #6576
Related case (from Jared Parsons):
[code]

When stopped, evaluate `Field.Bark()`.  Works in old EE.  Doesn't work in new EE.

[2016-10-17 22:53] #12550 closed

[2016-10-17 22:53] #13436 closed

[2016-10-17 22:53] #13480 closed

[2016-10-17 23:10] #14484 closed

[2016-10-17 23:30] #12674 closed

[2016-10-17 23:53] gafter commented on #12877
I believe all affected language constructs are addressed in #14535.

[2016-10-18 00:21] eyalsk commented on #7844
@glennblock

Maybe, just as yet another alternative, you can have something like this:
[code]
The type would have to be assigned by an interface.

The benefit of this is that you can gradually update the implementation without breaking anything and opt-in/out based on the convention of the name and you wouldn't need to change existing interfaces, sometimes you might not even own them and you may s

[2016-10-18 00:27] ashmind commented on #14547
I agree with having it explicit, and in-language — if `#projectusings` is in the project file that means no "Find Usages" to find that namespace, no "Rename", no IntelliSense.

But not sure how much benefit named batches would bring over a default set, can't think of many use cases.  Something simple like `using default = { System.IO, ... };` in any file (probably `AssemblyInfo`, but can be anythi

[2016-10-18 00:50] jasonmalinowski commented on #14548
Perhaps both. The existing formatting system had the special backdoor interfaces for getting HTML-editor-specific formatting options which we haven't replaced with the new API yet.

[2016-10-18 01:02] jasonmalinowski commented on #14177
@neilsimp1: that's probably not the same issue, but thanks for the report. I've tracked down the bug on an internal system, trying to figure out it's status.

[2016-10-18 01:23] ufcpp commented on #14549
I came up with an idea, but abuse:

[code]

[2016-10-18 02:33] rchande commented on #14492
The partially typed generic parses as a binary operator expression. The type inferrer tries to figure out what the expression on the right should return and returns the type of the left side which in this case happens to be System.Func`1 because of the `Load` method.

[2016-10-18 02:35] rchande commented on #14064
Yep, dupe of https://github.com/dotnet/roslyn/issues/14056

[2016-10-18 02:35] #14064 closed

[2016-10-18 03:59] CyrusNajmabadi commented on #14308
I need @heejaechang 's help with this.  The issue appears to be as follows.

First, we comment out the selected text.  The comment service transforms

[code]

Into:

[code]

Note that all the code is left aligned.  After this happens, code cleanup takes over and formats this code.  That transforms the above into:

[code]

Note: this indentation is important.  If we don't indent, and then we uncomm

[2016-10-18 04:14] #14255 closed

[2016-10-18 04:15] #14530 closed

[2016-10-18 04:49] tmat opened #14578 "Add Xaml, TypeScript and F# IDE tests"
A few simple tests would be useful, especially covering internal components that the other languages use.

[2016-10-18 05:01] abhijitparkhi1983 commented on #14493
Hello @Pilchie, I am not sure what do mean by "getting harder to psychic debug".  Should I be giving some more information?

The crux of the question is simple. In case where the application contains multiple solutions (which is a very regular case. Roslyn source code also has three solutions under it namely **Compilers.sln**, **CrossPlatform.sln** and **Roslyn.sln**), and when there are cross sol

[2016-10-18 05:12] xieguigang commented on #14293
![2016-10-18](https://cloud.githubusercontent.com/assets/9410171/19465089/ebf77532-9533-11e6-9687-c02f2fb5a528.png)
![2016-10-18 3](https://cloud.githubusercontent.com/assets/9410171/19465094/f0ad8e36-9533-11e6-92ac-8255e165c4b2.png)

@AnthonyDGreen  NoNONONO, I means when Option explicit is OFF and Option strict is ON, the implicit type casting will be an error....... not Option Infer Off

[2016-10-18 05:44] srivatsn commented on #13722
This is done right?

[2016-10-18 05:48] heejaechang commented on #13722
this is already fixed

[2016-10-18 05:48] #13722 closed

[2016-10-18 05:59] heejaechang commented on #14308
I believe vb commit formatter rule is written to never touch anything inside of xml literal (CDATA)

I think same issue will happen to csharp verbatim string.

basically, since formatter can't know the original state of the code before it was commented. when it is commented, formatter see code as it is, and leave literal text as they are.

[2016-10-18 06:00] heejaechang commented on #13260
I believe @CyrusNajmabadi already fixed it.

[2016-10-18 06:01] #13260 closed

[2016-10-18 06:23] per-samuelsson commented on #14206
@mattwar

Thanks for the feedback and the hints. I'll review and try that approach eventually for sure.

[2016-10-18 06:25] xieguigang commented on #14293
![old](https://cloud.githubusercontent.com/assets/9410171/19466560/6650eb7e-953e-11e6-82ce-e6e4f9757482.png)

This new inline type casting syntax looks better than the old style:

![new](https://cloud.githubusercontent.com/assets/9410171/19466568/6d6a356e-953e-11e6-9933-b97f9f742f26.png)

[2016-10-18 07:43] abhijitparkhi1983 opened #14581 "MSBuildWorkspace.OpenSolutionAsync(solutionPath).Result Exception while opening SignalR solution"
**Version**: Latest Roslyn Version 1.3.2

**Steps to Reproduce**:
1. Run code : MSBuildWorkspace.OpenSolutionAsync(solutionPath).Result
2. Here **solutionPath** is the path to the "Microsoft.AspNet.SignalR.Mono.Mobile.sln" solution which in itself is part of the SignalR source code repository from Git.
3. Note: This is a mobile version of SignalR and the machine on which I am trying to run the abo

[2016-10-18 08:29] dsaf opened #14582 "Online preview/branch C# compiler similar to jsfiddle?"
Visual Studio "15" preview 5 is still not recommended to be installed in production environment. So I cannot install it either at home or at work. There is no ready-made virtual machine image. Also I believe I have a good enough idea of new features without going through the pain of a complete setup. Still I want to test a specific pattern matching scenario.

Wouldn't it be nice to have something

[2016-10-18 08:37] hmemcpy commented on #14582
There is already [TryRoslyn](http://tryroslyn.azurewebsites.net), which lets you play with Roslyn branches online.

[2016-10-18 10:36] svick commented on #14567
The overload `System.Convert(string)` does not exist on .Net Core 1.0.1, so the behavior you see is correct.

The overload is planned to be included in .Net Core 1.2, which is scheduled for spring 2017.

[2016-10-18 10:45] Opiumtm commented on #7844
Structural typing essentially is a case of extension of already existing class or interface with another (defined elsewhere) interface. It more like extension methods, but this time it's an extension interface.

Structural typing (do not confuse it with duck typing) is a way to provide polymorphism when it isn't provided by already existing objects. It's a way of bunching together under some inter

[2016-10-18 10:59] semuserable commented on #14177
TL;DR Have the same issue, only reproducible on VS2015 after updating it from 'Update 2' to 'Update 3'.

I have 2 PCs: one with VS2015 'Update 2' and the other VS2015 with 'Update 3'. After updating my first PC VS2015 to 'Update 3' and opening Roslyn.sln, VS crashed on "Preparing Solution..." phase. I have no problems whatsoever opening it on the other PC with VS2015 'Update 3' built-in.

Some log

[2016-10-18 11:17] eyalsk commented on #14547
@zippec Well, it has some value but I agree with you, I don't think it should be allowed.

[2016-10-18 11:17] daveaglick commented on #14582
For completeness, there's also dotnetfiddle.net and gistlyn.com

[2016-10-18 11:44] DavidArno commented on #14582
@hmemcpy,

How do I then work around the "`Predefined type 'System.ValueTuple`2' is not defined or imported`" problem? Surely that should be auto-imported into such an online test system?

[2016-10-18 11:51] LightVolk commented on #12781
This error occurs under version 1.3. Will this bug is fixed for this version?

[2016-10-18 12:03] svick commented on #14582
@DavidArno [You can define your own `ValueTuple` and `TupleElementNamesAttribute`.](http://tryroslyn.azurewebsites.net/#b:master/K4Zwlgdg5gBAygTxAFwKYFsDcAoUlaIoYB0AwgPYA2lqAxsmORCMQOKoSoBOYtO2EAIbpUIAA6DaqeEjTpsAb2wwVMMcABGlXjBRdg9GADVBlYKgAqwMTQA8FgIwAaGBYBMAPmWqlqv2s1tWlcHGABJOQccf1V1LR13cLk3fhiVOKDjU3MrG1QACkcYMEiXRJKMNwBKbxjfNL8IjFCAXmLI6IbVJvQ3GDaK3s6YgF9amDGxgWFRCSkZInRiACVgCAYRMnJ0MTAaLjhu

[2016-10-18 12:16] DavidArno commented on #14582
@svick,

Um, why would I want to do that? :confused:

[2016-10-18 12:45] dsaf commented on #14582
@hmemcpy it's actually quite usable, thanks @ashmind!

[2016-10-18 12:46] dsaf commented on #14582
@daveaglick both don't support C# 7 preview and thus are useless for testing upcoming syntax. I have stable VS 2015 for C# 6. Unless there is a menu/mode that I failed to find?

[2016-10-18 12:53] daveaglick commented on #14582
@DavidArno @dsaf Yeah, no support for latest features on either AFAIK. Just figured I'd drop them in the issue so anyone looking for general online runners in the future who happens to stumble here will find a more complete list.

[2016-10-18 13:10] danipen commented on #3169
@ljw1004 Could you tell us something about the release date of the official C#6 grammar? Thanks!!

[2016-10-18 13:13] svick commented on #14582
@DavidArno Because that's the only workaround I know. Being able to reference the `System.ValueTuple` package would be obviously better, but TryRoslyn does not let you do that.

[2016-10-18 14:07] adamralph commented on #14378
That sounds good, but can we get any details?

[2016-10-18 14:10] adamralph commented on #6900
Of course, it's good that we can extend the scripting API, but the problem then is that we end up creating our own schema, runner to support it, and, ultimately, scripts that are dependent on specific runners. IMHO this is so fundamental that it MUST be built into the scripting libraries itself, so we avoid an ecosystem where several different methods of importing NuGet packages into scripts start

[2016-10-18 16:30] #12175 closed

[2016-10-18 16:30] #14296 closed

[2016-10-18 16:35] huizhonglong opened #14584 "VB Language service not able to handle the case where /nostdlib is passed, but no mscorlib is passed"
Right now, VB language service is broken (broken Intellisense, false squiggles etc) in **DPL** mode.
AnyCode gets the command line args by running CoreCompile target, passes them to Roslyn.
•     In C# case:
o   /nostdlib+ is passed
o   /reference:"….\mscorlib.dll" is explicitly passed

•     In VB case:
o   /nostdlib is passed
o   No mscorlib is passed

Per Kevin:
In VB, unlike in C#, if /nostdli

[2016-10-18 16:36] jmarolf commented on #14378
@adamralph I believe this was explicitly referring to new language features such as tuples being supported in the interactive window.

[2016-10-18 17:16] Opiumtm commented on #6788
@jnm2 Totally agree.

Constructor code **should be** as fast as possible. Slow constructor code that require async execution should be moved into separate initialization method. If constructor code execute so slow it require `async` pattern - it's technically bad beyond repair and urgent code refactoring is needed.

Constructor code shouldn't execute any resource hungry code, it should allocate or

[2016-10-18 17:21] mavasani opened #14586 "Unable to change context for shared project files after closing and re-opening documents"
**Version Used**:
Dev14 Update3 (also repros on Dev15 Preview5)

**Steps to Reproduce**:
1.  Open the attached solution:
   [SharedProject2.zip](https://github.com/dotnet/roslyn/files/536915/SharedProject2.zip)
2. Open source file Class1.cs in the SharedProject2 - verify the navigation bar shows ConsoleApplication1 and ConsoleApplication2 (SharedProject2 is referenced by both these desktop apps).

[2016-10-18 17:23] mavasani commented on #14586
Tagging @srivatsn as an FYI

[2016-10-18 17:37] happyhebaby commented on #14471
@Pilchie Do you mind to provide the complete code? I thought I understood what you meant and made code changes, it did some formatting but still not completely formatting correctly. Thanks.
I looked online, the format sample coming with the api is really simple and it doesn't show much.

[2016-10-18 17:44] CyrusNajmabadi commented on #6788
Why?

Why?

Why?

Why?

[2016-10-18 17:50] mavasani commented on #14479
Another callsite for SetDocument context already ensures that it is invoked outside the lock: http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Workspace_Editor.cs,556. Might be a matter of just refactoring this code path to do the same...

[2016-10-18 17:53] #13268 closed

[2016-10-18 17:54] CyrusNajmabadi commented on #14308
I think a strange thing is that VB auto-indents the commented out code.  C# does not do that.  Is there a way we can get VB to stop doing that?

[2016-10-18 18:09] HaloFour commented on #6788
@CyrusNajmabadi

Your question has already been answered countless times.  Googling "constructor best practices" returns a litany of results that bear out these same guidelines, regardless of OOP language and including such written/published by Microsoft.  Given such I think the burden of evidence falls on those requesting to violate said guidelines as to why its worth enshrining "bad practices" w

[2016-10-18 18:11] Opiumtm commented on #6788
Because constructor's role is to initialize object into consistent initial state. Constructor is assumed to be fast and throw exceptions only if constructor parameters are invalid, as otherwise it would make class consumer code unreliable.

Constructor is conceptually tied to memory allocation and initialization (leaving object in the consistent initial state).

For example, `HttpWebRequest` **doe

[2016-10-18 18:11] CyrusNajmabadi commented on #6788
I asked questions because i remain unconvinced of the validity of those arguments.  I also am not a fan of blanket unilateral statements like "it is technically broken beyond repair and urgent code refactoring is needed."

Explain to me *why* it is broken beyond compare.

[2016-10-18 18:15] CyrusNajmabadi commented on #6788
I see no reason why that assumption should exist.  Indeed, i see no way to make such a claim at all.

I agree with this.  As such, if such initialization requires async work, then it seems sensible that hte constructor be able to be async as well.

I feel like that's your interpretation of what a constructor is.  To me, a constructor simply constructs an object that a consumer can then use.  Imple

[2016-10-18 18:15] heejaechang commented on #14308
2 possibility. vb code comment feature call formatting explicitly or vb commit formatter recognize commenting and moving caret as a cue to do auto formatting.

C# doesn't have any auto formatting except ";" or "}" that probably why it doesn't auto format.

is pre-roslyn era vb auto formatter doesn't do what it is doing now?

[2016-10-18 18:17] #14327 closed

[2016-10-18 18:24] Opiumtm commented on #6788
@CyrusNajmabadi

As always you it's perfectly legal to shoot yourself in a leg and you indeed have many common and extravagant means to do it with pride and style.

There are some common "good practices" considered as "good", but nobody would force you to not violate them. So, from C# language and .NET CLR view it's perfectly legal to connect to database and execute bulk insert of 1 billion rows i

[2016-10-18 18:27] CyrusNajmabadi commented on #6788
How am i shooting myself in the leg?

Is it shooting myself in the leg if a i have a static factory method that does async work, hten instantiates an object, initialized it, and then returns it?  If so, Roslyn is shooting itself in the leg all over the place.

And, if that pattern is fine, i see no reason why it could not be simplified with a language feature to just allow for async constructors.

[2016-10-18 18:30] dpoeschl commented on #14159
Tagging as Tenet-Reliability because it's a crash and I want @tmeschter to know that I fixed a Reliability bug. :smile:

[2016-10-18 18:35] Opiumtm commented on #6788
@CyrusNajmabadi

Noas calling a method have not such assumptions as calling a constructor have.
Method can be resource-hungry, method can throw arbitrary exceptions. Method can be async.

Likewise, properties shouldn't throw exceptions (if possible), shouldn't be resource hungry and should return repeatable result if object state doesn't change (so if you get property value twice and object state

[2016-10-18 18:36] HaloFour commented on #6788
@CyrusNajmabadi

An asynchronous constructor would, by definition, violate that principle.  It can't be expected that the object is in a valid state, or that it has even been created yet.

The rest of the arguments you make are against the decades-old body of OOP design principles that are well documented.  I don't think that it's terribly reasonable to expect that individuals will rehash all of t

[2016-10-18 18:38] dpoeschl commented on #14159
@ManishJayaswal for RC ask mode approval

[2016-10-18 18:42] CyrusNajmabadi commented on #6788
Method can be resource-hungry, method can throw arbitrary exceptions. Method can be async.

I don't see why the same can't be true of a constructor.  I see no reason to have an arbitrary split of "constructors must be like X, methods can do Y."  If we can make it so that constructors can do Y as well, i see no issue with that.

[2016-10-18 18:44] CyrusNajmabadi commented on #6788
Why?  You would never see the instance until asynchronous construction completed.  As such, it's initial existence would represent something valid and would not violate that goal.

[2016-10-18 18:51] CyrusNajmabadi commented on #6788
Your argument is circular.  Constructors shouldn't do X because constructors shouldn't do X.

I'm pointing out that i don't necessarily follow the same assumptions (and they are assumptions as stated explicitly by people here).  You're basing your decisions off of a few beliefs that you hold to be axiomatic.  When i've tried to address the axioms the argument has been that other people also hold t

[2016-10-18 18:54] MgSam commented on #6788
@HaloFour I completely disagree that this circumstance isn't terribly common. As we know, when you make an application async, to get the optimal performance and behavior you usually have to make everything async. So invariably you may have pieces that *are not correctly initialized* until they've performed some kind of asynchronous operation.

Forcing the user to go through the pain of writing a s

[2016-10-18 18:57] Opiumtm commented on #6788
Your argument is based on formal logic, totally disregarding common sense.
Well, in our life too many things are taken as is and their existence is based on simple declaration.

You can deconstruct much of these things, but it wouldn't be productive at all.
As I posted above:

If you are going to the toilet and don't take off your pants before you sit down - it doesn't violate any laws of the natu

[2016-10-18 18:58] CyrusNajmabadi commented on #6788
This is also circular.

We've made hundreds of decisions in the language that make certain constructs behave more similarly to other constructs.  At every point, we could have make the argument to not do so because, well, they were different constructs.  However, we ended up still doing so because we felt that the differences were not sacrosanct.

Note that this has caused consternation in the pas

[2016-10-18 19:00] Opiumtm commented on #6788
@CyrusNajmabadi

Those things are declared as is. Calm down. It's a summary OOP experience from decades of active OOP using formulated as the "good practice".

You would disagree with them because it's based on "circular reasoning". But if you kill other person you would go to the jail and court would declare your sentence as is, based on written law taken as is,

[2016-10-18 19:06] CyrusNajmabadi commented on #6788
Terms like "common sense" are extremely loaded.  It was "common sense" to many that extension methods were a terrible idea.  And yet, here we are.

I don't feel like this is advancing the conversation at all.  Even if i were to accept your analogy, i still don't accept your conclusion.  So what if this is "rather extravagant"?  I don't make language design decisions asking "will people find this e

[2016-10-18 19:08] CyrusNajmabadi commented on #6788
Your analogies are not helping the discussion out.  This is not a court.  No one is being killed.  And the "written law" in this case is the C# Language Specification, which we are discussing changing.  It is well within our purview to assess suggestions, weigh them on their merits, and decide if we should go ahead with them.

[2016-10-18 19:11] Opiumtm commented on #6788
There was huge discussion on them before they're have appeared. And extension methods indeed introduced some helpful and meaningful functionality that was hard to achieve by another means.

Async constructors are totally meaningless and same results can be freely achieved by more convenient means without breaking common constructor design considerations.

You're always can declare static factory m

[2016-10-18 19:11] HaloFour commented on #6788
@CyrusNajmabadi

These aren't my arguments.  I didn't write all of those books on this subject.  Nor did I design any languages or runtimes which effectively bake those concepts in like C++ or the JVM or the CLR.

I think that it's fine to argue that these best practices are outdated or wrong, but to dismiss them is to likely repeat all of the mistakes that eventually led to the consensus as to wh

[2016-10-18 19:12] CyrusNajmabadi commented on #6788
FWIW, i agree with @MgSam 'async' is extremely viral, and every place where we limit it's scope ends up being a pain point for users.  That's why we're doing things like investigating async-iteration and async-disposal.  It's why we went back and made sure that async would work well inside all the parts of a 'try-statement'.

Right now, constructors are on the short list of language constructs tha

[2016-10-18 19:20] CyrusNajmabadi commented on #6788
By this logic, languages like Rust shouldn't exist.  After all, why work on a borrow-checked, memory-safety, model when so many languages baked in the ability for everyone to just stomp over memory?

We look to other languages as useful fonts of information.  But we don't just accept that what they've done is correct or should be blindly adhered to.

I'm not dismissing them.  I'm doing the opposit

[2016-10-18 19:26] CyrusNajmabadi commented on #6788
I want to reiterate this part:

There are three types of discussions that can be put forth concerning the choices others have made here:

1. Total acceptance of their choice.
2. Total dismissal of their choice.
3. Discussion about if that choice is appropriate here.

I've seen several arguments put forth that we should do '1'.  I've seen my argument characterized as '2'.  But really, i'm trying to

[2016-10-18 19:36] alrz commented on #6788
@HaloFour Since an asynchronous constructor would return a `Task` aka "future", you can be sure that the object has been created once it's `await`ed. Async Initialization pattern is just a pattern so in that case you will actually be able to create an object that is not in a valid state because there is no compile-time guarantee that you have called the init method, and if there was, that's just a

[2016-10-18 19:38] Opiumtm commented on #6788
@CyrusNajmabadi

To formulate argument against async constructors in common sense is easy. This concept **doesn't** bring anything new that can not be achieved easily already. LINQ and extension methods, for example, has no means to achieve easily already. LINQ and extension methods had no already existing alternative.

Constructor as a whole can be substituted with static method already. If you w

[2016-10-18 19:48] CyrusNajmabadi commented on #6788
This is not true.  We already had anonymous methods, and we did not *need* lambdas for linq.  Similarly, you could have always called methods statically.  We did not need the ability to call them in instance fashion.  We didn't need ?? as you could have always just done the null-coalescing yourself.  We didn't need ?.  as you could have done null propagating yourself.  We don't need tuples as you

[2016-10-18 19:51] jasonmalinowski commented on #14582
If there's an issue with TryRoslyn then you all should probably file that bug over on https://github.com/ashmind/TryRoslyn. I'm going to close this issue as I don't think there's a request here for us that isn't already satisfied by TryRoslyn (or wouldn't be best done by a contribution there.)

[2016-10-18 19:51] #14582 closed

[2016-10-18 19:56] eyalsk commented on #6788
I really don't understand this, I mean we can defer the creation of the object until the values are available and then create it so bottom line isn't the end result exactly the same thing?

Many patterns in the past became part of the language eventually because they allowed us to express things in logical, succinct and readable manner and finally allowed us to avoid chunks of boilerplate, what ma

[2016-10-18 20:17] jinujoseph opened #14591 "Microsoft.Net.Compilers 2.0.0 package is no longer available on NuGet.org"
The Microsoft.Net.Compilers 2.0.0 package was mistakenly pushed instead of 2.0.0-beta5.  The package was immediately unlisted.  However there are clearly still references to it in the wild which are being actively downloaded.  As such we’re taking the more extreme measure of deleting the package altogether.  If you’re one of the customers who ended up with this package please switch to 2.0.0-beta5

[2016-10-18 20:19] HaloFour commented on #6788
@CyrusNajmabadi

I agree.  I come off as 1, but I'm more 3 as well.  I'm not opposed to reevaluation of the guidelines, but I do think that they should be considered.

Doing too much in one place.  It's almost always a "code smell" indicative of not properly separating concerns.  Said code is often difficult to maintain and validate thus a vector for bugs.

I don't mean 'voodoo' as necessarily bad

[2016-10-18 20:49] CyrusNajmabadi commented on #6788
I don't see how it can be claimed that it's "too much in one place".  And, if it is "too much" then how is it any better if it's the form of a static-async factory method?  Surely if it's too much for a constructor, then it's too much for a factory method.

The core crux of the issue seems to be the equation that "async = too much".  But i have absolutely no reason to believe that that that's the

[2016-10-18 20:54] CyrusNajmabadi commented on #6788
It definitely does for me:

1. It reduces the amount of code i would need to write.
2. It prevents being able to create an instance in an otherwise invalid state.

Without this you're forcing me to break up logic i want to keep together into separate places.  Now i have a constructor that i have to ensure i don't accidentally call from other locations.

Factories are appropriate when i'm making so

[2016-10-18 20:57] CyrusNajmabadi commented on #6788
Which contract is not preserved with asynchronous construction?

[2016-10-18 21:02] CyrusNajmabadi commented on #6788
Yes, and that was from rushing something in too early.  That's not what's being discussed here.  This is the converse, this is about having waited on bringing something in, and then trying to decide if it is now warranted.  To me, it is.  The viral nature of async has shown us that it's quite painful for users once they run into things like:

1. Construction
2. Iteration
3. Disposal

It seems wide

[2016-10-18 21:11] dpoeschl opened #14592 "Flaky unit test Microsoft.CodeAnalysis.Editor.UnitTests.Workspaces.ProjectCacheHostServiceFactoryTests.TestImplicitCacheMonitoring"
See https://ci.dot.net/job/dotnet_roslyn/job/dev15-rc/job/windows_debug_unit32_prtest/63/

[2016-10-18 21:11] dpoeschl commented on #14592
FYI @333fred

[2016-10-18 21:17] Opiumtm commented on #6788
@eyalsk anyway, CLR doesn't support async constructors natively and it definitely would end up as the syntactic sugar around static factory method.

As "async" is indeed viral, anyway I think, constructor isn't a right place to invoke any async method. Async methods are:
1. Assumed to be resource-heavy and can execute long time.
2. Assumed to access external resources (as most common source of asy

[2016-10-18 21:18] orthoxerox commented on #6788
@HaloFour "just add a factory method" is about as valid a reason for not including async constructors as "just write your own enumerator" is for not having `yield`. Factory methods in general are a way around our existing definition of what a constructor is: it's something that returns a *new* object or fails. Lots of code could've been streamlined if constructors were allowed to reuse objects, bu

[2016-10-18 21:21] CyrusNajmabadi commented on #6788
I don't subscribe to any of your assumptions.  My only assumption about async code is that it may operate asynchronously.

How?  The ony way for this to happen would be for the instance to somehow pass an instance of itself elsewhere.  But, if that is allowed to happen, then you could have hte same issue if this was sync or async.   For example, a constructor that passes 'this' to somone else, bef

[2016-10-18 21:24] HaloFour commented on #6788
@CyrusNajmabadi

It does none of those things.  You're still writing a different method, you're just using `static` method syntax instead of constructor syntax.

From MS' own guidelines:

If you're doing something asynchronous then you're not doing minimal work.  You're doing much more than simply creating and initializing the state of an instance.  I do believe that the work necessary to create s

[2016-10-18 21:24] CyrusNajmabadi commented on #6788
Agreed.  Right now, it's not reaching the point where i think it is worth it.  I'd much rather us focus on async-iteration first.  But it's certainly something which i feel would be helpful to users in the future.

[2016-10-18 21:31] CyrusNajmabadi commented on #6788
Yes.  It does those things.

[code]

Nothing stops anything else in this class from calling "new Whatever" and not doing whatever async work i feel is necessary to happen when a new object is created.  The constructor still has to exist, and now i have to manually do work to ensure that validation, construction and initialization all happen together.  With a single constructor i can keep that all

[2016-10-18 21:35] CyrusNajmabadi commented on #6788
I have no idea what this means.  Today there is a syntax for a constructor (which is different in VB and C# BTW).  The syntax defines the accessibility of the constructor and the arguments.  The return type is inferred based on the type that the constructor is in.  That's why, for example, you don't write:

[code]

But instead write:

[code]

The syntax is there to specify that it's a constructor.

[2016-10-18 21:44] 333fred opened #14595 "windows-determinism is broken on dev15-rc"
#14445 broke the windows determinism build for dev15-rc, starting with https://ci.dot.net/job/dotnet_roslyn/job/dev15-rc/job/windows_determinism/13/.

[2016-10-18 21:44] AdamSpeight2008 commented on #6788
I agree with @CyrusNajmabadi we should give the option to use async constructors to the programmer.
Just because a feature is there that you have to us it. We still have `goto label` an `if ... then ... else ... ` which is sufficient for all looping constructs, yet people other forms like `for` or `while`.

[2016-10-18 21:44] Opiumtm commented on #6788
@CyrusNajmabadi

So, why static factory method is an issue for you? I definitely can't imagine use case of async constructor.
Generally speaking, constructor itself indeed is a special case of instance method called automatically by *new* static operator. Can I guess? Because of immutability you don't want to execute instance method to alter object state and you indeed want to do it all in constru

[2016-10-18 21:47] AdamSpeight2008 commented on #6788
@Opiumtm Nobody is forcing you to any of the features available in either language. Just because you can't see a use case doesn't anyone can't and do have use case.

[2016-10-18 21:48] CyrusNajmabadi commented on #6788
Because it splits my concerns of validation, instantiation and initialization into separate locations.  With synchronous code i didn't have that problem, and i don't want to have to now structure my code quite differently just because the orthogonal concern of asynchrony was introduced.

That it isn't purely functional does not mean i should *not* attempt to improve the language in such a manner.

[2016-10-18 21:55] eyalsk commented on #6788
@HaloFour

I vehemently disagree with that notion. The language should guide the developer towards success in design and implementation, not failure. Discussing the philosophical issues with language design after it is released into the wild is how you end up with chapters called "The Awful Parts".

I agree but I can't see how this feature implies anything related to a failure if anything it align

[2016-10-18 21:56] Opiumtm commented on #6788
@CyrusNajmabadi
The starting point is .NET CLR doesn't have support for async constructors so any async constructor in C# would be essentially emulation of it by more convenient means. Then think about CLR-level compatibility across languages and think about reflection. Reflection (resembling CLR level, not language level) wouldn't support async constructors and indeed would see them as a weird co

[2016-10-18 22:06] eyalsk commented on #6788
@Opiumtm

But why it's important?

How this has anything to do with anything? I mean this change nothing, you will just have to call this factory method that returns a task, what's the issue?

[2016-10-18 22:07] Opiumtm commented on #6788
@CyrusNajmabadi

Saving from what boilerplate code exactly???
How much lines of code static factory method adds to source code?
You're saving yourself not from "too much boilerplate code", but indeed are saving your functional ponyland from a mutable internal object state.

[2016-10-18 22:07] CyrusNajmabadi commented on #6788
This is never the starting point for our language.  .Net didn't have support for generics either, but we still made it happen (with work from the CLR).  .Net does not have support for iterators or lambdas, but we still did hte work to expose at the language level.  .Net didn't have support for Nullable, but we added it to it.  etc. etc.

We are not discussing implementation right now.  We are disc

[2016-10-18 22:10] CyrusNajmabadi commented on #6788
I have already provided that information.

Depends on how much work the static factory method was doing.

I'm not sure what you mean by "ponyland", but yes, i'm avoiding mutable state.  I see a lot of benefits toward that, and the language design team strongly feels that that's an area to invest in.  It's an area we get tons of request on, and we're continuously seeing the direct benefits in our o

[2016-10-18 22:13] eyalsk commented on #6788
@Opiumtm Having to do this for multiple objects is unnecessarily repetitive aka boilerplate and finally not intuitive.

[2016-10-18 22:22] Opiumtm commented on #6788
@CyrusNajmabadi

1. Calling a default parameterless empty constructor (provided by compiler already) and assigning new object to local variable
2. Calling an instance async private method (which you could count as an actual async constructor)
3. Returning object to static method caller

Exactly.

It's a 5-liner code including curvy brackets.
It even doesn't break your immutability concept from out

[2016-10-18 22:28] Opiumtm commented on #6788
And indeed it would become one-liner as you can return *this* from async private insance method and chain calls.

[2016-10-18 22:28] CyrusNajmabadi commented on #6788
We've introduced language features to help out with constructs that are far smaller than that :)  Indeed, we introduced a language feature to save you from typing 8 characters :)

Yes it does.  In order for that async private method to set state, my state must be mutable.  That means other methods in my class may accidentally set state.  Other methods may also accidentally construct instance of th

[2016-10-18 22:28] VSadov commented on #14546
fixed by https://github.com/dotnet/roslyn/pull/14589

[2016-10-18 22:28] #14546 closed

[2016-10-18 22:29] CyrusNajmabadi commented on #6788
@Opiumtm

I don't just want external immutability.  I want internal immutability as well.

[2016-10-18 22:33] HaloFour commented on #6788
@CyrusNajmabadi

Claiming that it's circular doesn't invalidate it in any way.

Probably around the same time that the CLR adds a `yield` opcode to support iterators and an `await` opcode to support coroutines.  I think that you know as well as I how far a proposal to modify the CLR would go here, especially given that such a language feature would require absolutely no such changes to implement.

[2016-10-18 22:38] CyrusNajmabadi commented on #6788
Well.. we are having deep discussions with the CLR about many interesting areas.  Coroutines is def high on my list of interests.  :)

[2016-10-18 22:38] Opiumtm commented on #6788
@CyrusNajmabadi
You **fundamentally** can't achieve what you want because of .NET CLR limitations.
Do you understand that anyway async constructor would be syntactic sugar for static factory method/instance async initializer combination? So you should throw your dreams about immutable readonly fields initialization into the trash can as your async code **anyway** would be executing inside private

[2016-10-18 22:41] eyalsk commented on #6788
@Opiumtm I don't know why you insist on arguing on implementation details! there are so many language features that aren't supported by the CLR.. maybe you can have a look at F# haha..

[2016-10-18 22:42] AdamSpeight2008 commented on #6788
@Opiumtm  What's wrong with a little **syntatic sugar**? Just like `async` and `await` is just a `Enumerator`, LINQ is just method calls in the end.

[2016-10-18 22:45] CyrusNajmabadi commented on #6788
The compiler and CLR teams are literally the same team :)

We work directly with the compiler on language decisions.  Several language designers are *on* the compiler team.   Members of the CLR participate with us when we're iterating on the language.

We don't design features with the pessimistic perspective that it can't be done due to CLR decisions of hte past.  We optimistically design feature

[2016-10-18 22:48] Opiumtm commented on #6788
@eyalsk F# have very poor CLS-level cross-language compatibility.
And it's exactly why F# still doesn't have .NET Native toolchain support. .NET Native team have admitted that F# compiles into so extravagant IL that .NET Native team decided to not support F# at all, and promised to support it "maybe in distant future".

[2016-10-18 22:49] CyrusNajmabadi commented on #6788
F# is not relevant to the discussion at this point in time.  We're deciding if async construction is a suitable language feature for a future version of C#.

[2016-10-18 22:52] CyrusNajmabadi commented on #6788
i agree with @AdamSpeight2008 C# 3.0-7.0 have almost entirely been around syntactic sugar in providing things that the runtime doesn't have direct support for.  That's where most of the value has been in language evolution over all this time.

[2016-10-18 22:53] dpoeschl commented on #14475
This will be fixed by https://github.com/dotnet/roslyn/pull/14514

[2016-10-18 22:56] eyalsk commented on #6788
@Opiumtm, @CyrusNajmabadi I gave F# just as an exaggeration. 😄

[2016-10-18 22:57] Opiumtm commented on #6788
@AdamSpeight2008
It's entirely wrong because most of syntactic sugar in C# is implemented as private class/method details (yield, async, anonymous classes and so on) and doesn't surface on the public API.
Async constructors would introduce public syntactic sugar which would have no support by reflection API and what you would see as constructor on language level, wouldn't really be constructor for

[2016-10-18 23:02] ashmind commented on #14582
Just FYI, I don't plan to allow user-selected NuGet packages at the moment, but I'll look into adding `ValueTuple` package explicitly — hopefully this evening (NZ time).

[2016-10-18 23:04] CyrusNajmabadi commented on #6788
And yet some of the sugar does.  Tuples being a primary example.

Why not?  That's like saying "nullable would have no support by reflection".  But we added support and so it works fine.  We are completely capable of updating the .Net platform if it makes sense to do so.

@Opiumtm you seem to be making many different claims, several of which i don't know what your basis is for.  You're making assu

[2016-10-18 23:05] AdamSpeight2008 commented on #6788
Should the CLR at some future time provide better support, we (eg the compiler team) can change the generated API.

That's an **implementation detail**, which I think we can engineer around.

[code]

[2016-10-18 23:10] CyrusNajmabadi commented on #6788
Tuples have public syntactic sugar which have no reflection support.  i.e.:

[code]

Reflecting over the instance returned by GetCustomer will reveal absolutely *nothing* about 'age' or 'name'.  You can't even determine that information unless you somehow flow back to the *original* method that returned the object, as the attributes are stored on that symbol.

Tuples are purely a language level co

[2016-10-18 23:11] ManishJayaswal commented on #14584
Assigning to @mavasani as per email thread.
@Pilchie it would be great to have this fixed in RC - primarily so that we can continue dynamic analysis testing with DPL

[2016-10-18 23:11] #14322 closed

[2016-10-18 23:11] #14323 closed

[2016-10-18 23:12] AdamSpeight2008 commented on #6788
`nameof` is a language only construct.

[2016-10-18 23:21] Opiumtm commented on #6788
@CyrusNajmabadi

You are wrong.

No, because tuples are instance of ValueTuple<> public struct defined in standard library. It's just a short-hand for ValueTuple struct.

Nullables are just short-hand for standard Nullable<T> struct. Again you are wrong.

I have already pointed to language and CLR metadata/reflection inconsistency for async constructors.
If you so desperately want async constructo

[2016-10-18 23:24] CyrusNajmabadi commented on #6788
please show me the reflection that, *given an instance of the object* returned by that method, will tell you the property names "age" and "name" :)

[2016-10-18 23:27] CyrusNajmabadi commented on #6788
I'm talking specifically about the Nullable struct.  There is special support in the runtime to understand that the null value be convertible to the Nullable struct type.  This is unlike *every other struct* where 'null' is not something convertible to instances of that struct.

Nullable is special.  We made it special by baking it core into the runtime.  It behaves unlike *every other struct* wrt

[2016-10-18 23:27] Opiumtm commented on #6788
And if you indeed introduce class factories, it would be great if factory methods would be distinct from regular constructors by having *factory* marker keyword like *async* keyword on method. And *new* language-level operator should support factory methods as if they're constructors.

[2016-10-18 23:28] CyrusNajmabadi commented on #6788
Types were a very low-level and CLR-tied entity.  And we were able to do some fantastic stuff there, sometimes with CLR support, sometimes without.

[2016-10-18 23:28] AdamSpeight2008 commented on #6788
@Opiumtm We not changing the semantic meaning of the existing synchronous constructor, it will co-exist alongside it, not replace it.

[2016-10-18 23:28] CyrusNajmabadi commented on #6788
No design has been put forth that changes the existing concept in any way at all.  As such, the existing concept is not broken at all.

[2016-10-18 23:29] gafter commented on #14595
Fixed in #14596

[2016-10-18 23:29] #14595 closed

[2016-10-18 23:40] jasonmalinowski commented on #14177
@semuserable to confirm if it's the same issue, we need the same information from the Application event log that @neilsimp1 provided. I'd encourage you to file a new bug in that case; it's easier for us to handle one-issue-per-bug (that _might_ be duplicates) than having to split duplicates out of one issue.

[2016-10-18 23:43] Opiumtm commented on #6788
@CyrusNajmabadi

And indeed there is no support for tuple member names across binary assembly boundary. Am I wrong?
Tuple member names are erased during compilation and only type and position check is performed by compiler, so tuple having member names is assignable to any tuple having exactly same CLR signature. You can assign arbitrary member names upon usage indeed.

I have no hatred against as

[2016-10-18 23:45] AdamSpeight2008 commented on #6788
@Opiumtm So you're just arguing about the colour of the bikeshed?

[2016-10-18 23:46] AdamSpeight2008 commented on #6788
**The** hardest problem facing a programming language designer is what to name things.

[2016-10-18 23:47] jasonmalinowski commented on #14177
@neilsimp1: this particular crash is

[2016-10-18 23:47] #14177 closed

[2016-10-18 23:49] Opiumtm commented on #6788
@AdamSpeight2008
No, I'm against radical re-definition of already established language and runtime concept.
If you want to make life better, introduce new concept and avoid confusion with existing concept. And don't merge OOP constructors with factories. It's a different concepts indeed.

[2016-10-18 23:52] Opiumtm commented on #6788
@AdamSpeight2008
Yes, naming is a very accountable task as incorrect terminology would lead to extreme confusion and misunderstanding.

[2016-10-18 23:52] CyrusNajmabadi commented on #6788
In your opinion.  I feel like your strong emotions around this are coloring your arguments.  I would like to discuss the features on their merits as it applies to the language and the set of criteria we use the evaluate things.

[2016-10-18 23:52] AdamSpeight2008 commented on #6788
Why not submit a counter / alternative proposal? So we can discuss the merits and issues.

[2016-10-18 23:56] Pilchie opened #14597 "No default selection enter key behavior radio buttons on IntelliSense pages"
**Steps to Reproduce**:
1. Go to Tools\Options\Text Editor\C#\IntelliSense (or VB).
2. Look at the "Enter key behavior" section

**Expected Behavior**:
One of the radio buttons should be selected.

**Actual Behavior**:
Nothing is selected

[2016-10-18 23:59] Opiumtm commented on #6788
@CyrusNajmabadi radical for traditionalist OOP developer who clearly understand difference between constructors and factories. And I promise you, large amount of hardcore OOP developers would make face palm if you merge constructors with factories on language level.

[2016-10-19 00:00] AdamSpeight2008 commented on #6788
@Opiumtm I gave up trying to change other people's usage and interpretation of *(the)* language ages ago. As it not for me to say what it right or wrong, express an **opinion** not make a judgement.
It like the brace placement, language X is better than language Y argument it solves nothing, gets us nowhere.

Also C# isn't a pure OOP language say like SmallTalk.

[2016-10-19 00:02] CyrusNajmabadi commented on #6788
Yes, you are incorrect.  There is definitely support for tuple members names across a binary assembly boundary. That's precisely why we embed the names into attributes so that they can be seen from the compiler.

[2016-10-19 00:03] CyrusNajmabadi commented on #6788
Similar things were stated about instance versus static methods when we did extensions :)

My goal is not to make traditional OOP developers happy.  My goal is to make the language useful for solving real world problems.  This is not an ivory tower approach to language design.

[2016-10-19 00:07] CyrusNajmabadi commented on #6788
This is incorrect.  Tuple member names are not erased.  They are kept around and are part of the type as far as hte language is concerned.  We also have additional language rules about assignability to enable you to do certain things.  However, the types themselves are not the same as far as the language is concerned.

The CLR represents these concepts one way, and we use attributes to allow is to

[2016-10-19 00:22] VSadov opened #14600 "GetDeclaredSymbol is not working for tuple names in tuple literals"
GTD for   "greeting"  in IDE goes nowhere

[code]

When I debugged, I noticed that  `CSharpSemanticModel::GetDeclaredSymbolCore` just returns `null` - it does not have a case for the element name in a tuple literal.

I think the expected behavior is to return the symbol for the tuple element defined by the literal.

As a result of this, many other scenarios like FAR, rename, etc may get confused.

[2016-10-19 00:23] jcouv commented on #14244
@Pilchie Dave was able to repro the issue in 2 minutes on my box. I filled the issue mostly to track it,  since he understood the repro better than me.
@davkean can you confirm this should be closed?

[2016-10-19 00:26] VSadov commented on #14116
The scenario is no longer causing a crash (so moving out of RC).
The behavior is still not very rational. It looks like the local declaration is assumed as declaring location for a tuple element.

It seems we have a more broad issue with declaring syntax for tuple elements (tracked by https://github.com/dotnet/roslyn/issues/14600 ).

Once that is fixed, this scenario may or may not start working c

[2016-10-19 00:26] Opiumtm commented on #6788
@CyrusNajmabadi so you're trying to dismiss terminology/established common sense and introducing a risks of confusion and misinterpretation, ok? When I have seen this thread I have been shocked by the radicality of proposed concept. And I wasn't alone. @HaloFour also had same opinion on what "constructor" is assumed to be by well-established OOP practice and meaning.
You're dismissing OOP people a

[2016-10-19 00:27] VSadov commented on #14600
My be causing bad behavior in https://github.com/dotnet/roslyn/issues/14116

[2016-10-19 00:36] CyrusNajmabadi commented on #6788
I am trying to have a good faith discussion.  I've provided my own insights and views on the topic and i've engaged with you to better understand yours.  I have simply stated that there is no single audience that i'm trying to cater toward, and that i want each and every language feature to be decided on their own merits.

I understand that you do not like this feature.  You have made that very cl

[2016-10-19 00:37] jasonmalinowski opened #14603 "Insertion tool no longer producing "NO CHANGES" messages if there are no changes"
This support was added in dotnet/roslyn-internal@46b00bfe2fd33daa0c2c9f9faab94dfa4ddbc747 to do "NO CHANGES" instead of an error if there are no changes to insert. It looks like that was recently broken, or isn't working in reasonable scenarios.

[2016-10-19 00:38] eyalsk commented on #6788
@Opiumtm

They don't merge anything because from the language perspective this would look like a normal object construction, how it's done behind the scenes should not be important to you! or anyone else! unless you want to know the details.

The words radical, traditional, hardcore shouldn't be used, this isn't religion/political debate or gaming debate, just because one disagrees with your view

[2016-10-19 00:44] CyrusNajmabadi commented on #6788
👍   Please let's keep charged language out of this.  I think it's marvelous htat we can discuss this and share all our experience and opinions.  But we should always be striving to respect each other and our differing opinions on this and many other topics.

After all, if we all agreed on this stuff, there wouldn't be much purpose in talking about it in the first place right? :-D

[2016-10-19 00:45] AdamSpeight2008 opened #14604 "[Proposal] Concurrent Block"
# Concurrent Block

I'm thinking this along the lines of abstracting away the underlying machinery, so that the programmer can express that this section can be run concurrently. This proposal is for introduction of a new block construct in the C# and VB language, which permits code with the block to be run concurrently.

[code]

[code]

There will be some form of flow analysis to check the "lines"

[2016-10-19 00:49] AdamSpeight2008 commented on #6788
I can appreciate and sympathise as I am the VB,net guy. *(personal preference)*

[2016-10-19 00:56] eyalsk commented on #6788
@AdamSpeight2008 haha... 😄

[2016-10-19 00:59] HaloFour commented on #6788
@eyalsk

LIVID!!! 😠

Just kidding.  I know that I come off as more fervent than I really am.  I don't care much about the feature itself.  I'd prefer explicitly defining factories/builders because I'd rather be explicit about my designs.  I don't have an answer for emulating polymorphic constructors although I can't think of any case where I would want or need to so do rather than refactor the ope

[2016-10-19 00:59] benaadams commented on #14604
What would be the outcome of this?

Equivalent Result A
[code]

Equivalent Result B
[code]

Result A would start running `PartBAsync` when an await in `PartAAsync` was hit (and it's result was not completed) or when it completed if there were no awaits.
Result B would start running `PartA` & `PartB` simultaneously, though the `PartA` would have a slight latency on starting vs Result A.

[2016-10-19 01:06] AdamSpeight2008 commented on #14604
@benaadams  They would run simultaneously as it in a concurrent block.

[2016-10-19 01:06] Opiumtm commented on #6788
@CyrusNajmabadi
You have dismissed our (I and @HaloFour) consideration about "what is expected from constructor".
It isn't an empty expectations. It isn't our fantasies. You can see it as some form of "classic education", so constructor
1. Should be as fast as possible
2. Shouldn't throw exceptions other than because of invalid parameters
3. Should leave object in the consistent initial state
4. S

[2016-10-19 01:16] benaadams commented on #14604
So be the same as?
[code]

[2016-10-19 01:29] AdamSpeight2008 commented on #14604
yep
[code]

[2016-10-19 01:32] AdamSpeight2008 commented on #6788
I interpret **should** and **shouldn't** as mere suggestions, not explicit orders.

[2016-10-19 01:43] Opiumtm commented on #6788
@AdamSpeight2008
Indeed they're mere suggestions for a developer. But if language itself violate those "suggestions" it's much more serious issue than plain developer's lack of common sense.

C++ language is a primary example of the language full of bad language design decisions from the start.
Indeed, C++ language is a one of the most powerful and expressive languages on the planet Earth, but it'

[2016-10-19 01:55] CyrusNajmabadi commented on #6788
I have not dismissed it.  I have stated that i don't hold the same expectation.  It is completely ok for different people to have different expectations and to care about different things.

Interestingly enough, this same argument came around when we did object initializers :)   Many did not appreciate that we made the pattern of using mutable objects easier.  But we recognized that many users *do

[2016-10-19 02:12] AdamSpeight2008 commented on #6788
I agree it a skill we all have to work on (especially in this field), as someone who in the past have made disrespectful comments to people within this repo.
That why I sometime I have breaks from for a few weeks / month, and go does something complete different non-computer stuff. The Team members are custodians and gate-keepers of the languages, they prod and poke, rip and tear, ruminate and cog

[2016-10-19 02:22] Opiumtm commented on #6788
@CyrusNajmabadi one thing I don't understand is why "lack of common sense" or "rather radical" phrases are considered "charged" or heh... "politically incorrect" in intellectual discussion :)
What you see as "rude"... The opposite practice I (for example!) see as a "sterilized" intellectual discussion.
There are undoubtedly inappropriate explicit words and phrases (all mature people know them) whi

[2016-10-19 02:30] CyrusNajmabadi commented on #6788
This is inappropriate.  Please step back and consider what we are talking about here.  It is a feature suggestion to a programming language. Your denigrating characterizations of arguments are not acceptable, even if you couch them as 'sarcasm'. If you want to continue discussing it further, then please do so without the need to resort to hyperbole, attacks on character, and misrepresentations.

F

[2016-10-19 02:31] jasonmalinowski commented on #12642
Dupe of #12618.

[2016-10-19 02:31] #12642 closed

[2016-10-19 02:32] jasonmalinowski commented on #12135
@jaredpar I think this was fixed long ago?

[2016-10-19 02:33] #11883 closed

[2016-10-19 02:33] jasonmalinowski commented on #11883
Job results have gone away...

[2016-10-19 02:33] jasonmalinowski commented on #11818
Job results are no longer available.

[2016-10-19 02:33] #11818 closed

[2016-10-19 02:34] #10844 closed

[2016-10-19 02:34] jasonmalinowski commented on #10788
Results are no longer available to look at.

[2016-10-19 02:34] #10788 closed

[2016-10-19 02:35] jasonmalinowski commented on #10787
Results are no longer available to look at.

[2016-10-19 02:35] #10787 closed

[2016-10-19 02:35] jasonmalinowski commented on #10781
Results are no longer available to look at.

[2016-10-19 02:35] #10781 closed

[2016-10-19 02:36] #10766 closed

[2016-10-19 02:37] jasonmalinowski commented on #10436
@jmarolf Is this necessary now with any of the Willow changes?

[2016-10-19 02:38] #9966 closed

[2016-10-19 02:42] Opiumtm commented on #6788
@CyrusNajmabadi then I definitely should beg your pardon (no sarcasm here) as in that post I have been overly-sarcastic and indeed have crossed the red line of personal insults.

[2016-10-19 03:01] eyalsk commented on #6788
@Opiumtm

Why? let's say that these suggestions/rules are the consensus among developers but do you really, truly think that the language need to be restricted/abide by them?

People can still choose to violate these rules and still have common sense, in fact, not violating certain rules at times would be the opposite of having common sense.

No one can design a language without making mistakes, n

[2016-10-19 03:04] HaloFour commented on #14604
The `concurrent` block itself would block until all of the asynchronous operations have completed?

As for concurrent join patterns I think that extension methods on `ValueTuple<...>` would suffice:

[code]

[2016-10-19 03:25] AdamSpeight2008 commented on #14604
@HaloFour The `concurrent` would block until completion of all concurrent operations.

I do like the extension method idea. `await ( PartAAsync(), PartBAsync ).WhenAny()`

We would have to compare it against the array base approach.

[2016-10-19 03:29] CyrusNajmabadi commented on #14327
Thanks for the report @JosefPihrt !

[2016-10-19 04:10] HaloFour commented on #14604
@AdamSpeight2008

That would violate the principle of "async all the way".  How do you propose to avoid issues of deadlocking when one of those async methods might expect to be able to dispatch back to the now blocked thread?

[2016-10-19 04:36] jaredthirsk commented on #12393
@tmat Sorry I have been busy with other things, but GeirGrusom provided a simple example above of the failed resolution of System.Object in .NET Core.

[2016-10-19 06:45] OlivChu commented on #14065
@jasonmalinowski OK, Thanks a lot.

[2016-10-19 07:08] Opiumtm commented on #6788
@eyalsk

Multiple inheritance implemented that way (one of the reasons why multiple inheritance is often forbidden in languages - live C++ example of it), operator overloading implemented that way, templates implemented that way, "const" keyword implemented that way, "struct" and "class" relationship... Yes, from the start.

[2016-10-19 08:42] 0xd4d commented on #14591
Seems like `Microsoft.CodeAnalysis.VisualBasic` 2.0.0-beta5 hasn't been published: https://www.nuget.org/packages/Microsoft.CodeAnalysis.VisualBasic/

[code]

- Create a C# project (.NET Framework 4.6)
- Add project.json below
- Restart Visual Studio
- Compile

[code]

[2016-10-19 09:28] ashmind commented on #14582
Done and deployed, example here:
http://tryroslyn.azurewebsites.net/#b:master/K4Zwlgdg5gBAygTxAFwKYFsDcAoADsAIwBswBjGUogQxBBgGEYBvbGNmfYsmACkmRhUANDBQAnSLAIBKGAAVmMKKmSZRKtQF9smoA===

[2016-10-19 09:43] vbcodec commented on #14604
Task.WaitAll

[2016-10-19 09:53] DavidArno commented on #14582
@ashmind,

You sir, are a star! :clap:

[2016-10-19 10:09] GeirGrusom opened #14614 "CS0012 in Microsoft.CodeAnalysis.CSharp.Scripting on .NET Core: Cannot find System.Object"
When trying to run scripts on .NET Core with Roslyn.Scripting I always get a failure that it cannot find System.Object. There are three references to `Object`'s assembly in the source code, but none of them resolve correctly.

**Versions used:**
Microsoft.CodeAnalysis.CSharp: 1.3.2,
Microsoft.CodeAnalysis.CSharp.Scripting: 1.3.2

[code]

**To reproduce**:
1. [Clone](https://github.com/GeirGrusom/R

[2016-10-19 10:11] GeirGrusom commented on #14614
Related issue: #12393

[2016-10-19 11:42] eyalsk commented on #6788
@Opiumtm C++ had no MI nor templates right from the start, it was added later, however, they could probably do without MI although C++ has no notion of interfaces so maybe at that time they thought it's vital.

I'm not going to say it's perfect and defend it but I think that overall the language is not so bad.

Anyway, I'm gonna disappear slowly into the void and stop talking about C++ or any othe

[2016-10-19 12:52] dsaf opened #14615 "Switch syntax for using only conditional patterns?"
Consider an example below where a string input is read, then attempted to be parsed to different numeric types and then compared to the max value of a respective numeric type.

In this case the source type being matched is always ```string``` but the target type can be different:

http://tryroslyn.azurewebsites.net
[code]

Does this mean that ```if```-```else``` would be a better choice? But it ha

[2016-10-19 13:03] Kalfas commented on #14549
@dsaf "Maybe if majority of C# developers were writing math code most of the time..."

Not necessarily, my friend. You see, this is mostly useful for declaring fields on the main classes of the applications. For instance, I may have 15 or more variables with the exact same value assigned on startup; `false`. Wouldn't it be really useful to just say `all` and end this thing up?

[2016-10-19 13:18] dsaf commented on #14549
@Kalfas what would be an example of such a main class?

[2016-10-19 13:35] alrz commented on #14615
Related: #13401

[2016-10-19 13:41] Opiumtm commented on #6788
My alternative proposal for async construction:

[code]

This would translate to:

[code]

[2016-10-19 13:59] axel-habermaier commented on #6788
@Opiumtm: I don't get how your proposal is any different from async constructors. Then again, design patterns mostly work around missing language features and once async constructors are supported, several use cases for factory methods (which work around missing language-based constructor capabilities) just vanish.

[2016-10-19 14:07] Opiumtm commented on #6788
@axel-habermaier
My point (on which I argue) is to clearly distinct constructors from factory methods.
So, when you look at code, you would clearly see this isn't constructor.
When you do reflection you would see **consistent picture**.
You wouldn't see missing constructors because them implemented as simulation (as .NET CLR doesn't support async constructors natively).
Another point is ability to

[2016-10-19 15:03] MgSam commented on #6788
Wow, woke up to an inbox of 91 messages in this thread since yesterday. This is the most fervent argument since `private protected`!

@HaloFour

Why? If it's necessary for the object to be initialized to a useful state the constructor is exactly the place for it.

Which is more appealing?

[code]

Also, unclear to me is what you mean by "monolithic". If you mean "does too many things", I'd argue t

[2016-10-19 15:07] niemyjski opened #14617 "File is continuously parsed and never seems to finish."
**Version Used**:
Latest (VS2015)

**Steps to Reproduce**:
1. Open https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Repositories/Configuration/Indexes/EventIndex.cs
2. Make any changes to the mappings or just view them.
3. Watch cpu go nuts and never stop.

**Expected Behavior**:
Source should be parsed and cached and return quickly.

**Actual Behavior**:
The cpu g

[2016-10-19 15:09] svick commented on #14615
Would declaring `raw` as a normal variable and then using `case * when` be acceptable? (It won't work in master, since wildcard patterns are not supported yet.)

[code]

Though this version and your last version are not actually using the `switch` expression, so maybe a special syntax for that could make sense?

[code]

[2016-10-19 15:12] niemyjski commented on #14617
It's worth noting that I have tried with both c# solution analysis on and off and it's still an issue.

[2016-10-19 15:16] DavidArno commented on #14549
@Kalfas,

Really? Like @dsaf, I'd be interested in an example of such a method.

[2016-10-19 15:24] eyalsk commented on #6788
@Opiumtm

If the language allows us to express something as deferred object initialization in a succinct manner and as a big plus it is almost equivalent to the synchronous version then I see no reason to add unnecessary complexity and overhead to get to the same result.

No one here is mixing the concerns of constructors and factories.

No you wouldn't, in fact, you would need to go through yet a

[2016-10-19 15:30] HaloFour commented on #6788
@MgSam

Initializing the object to a useful state, yes.  Doing all of that work necessary to obtain that state?  No.

Variation on the latter with a more accessible constructor so that I can write tests easier.  Depends entirely on what `Foo` represents and what `getData` does, though.

Lines of code is irrelevant.  Method count is irrelevant.  You're likely going to have to read that code signifi

[2016-10-19 15:53] HaloFour commented on #6788
@MgSam

Asynchronous constructors are an abomination!!  😁

[2016-10-19 16:06] mattwar commented on #14112
Jared is the one trying to rid the build of these now.

[2016-10-19 16:20] eyalsk commented on #6788
@HaloFour

This is true but maybe it's not that bad, I mean some state can require some deferred initialization to happen before it can be used or before you can work with it so it's natural to obtain it in this manner so why we need to express it differently than how we need to get it?

[2016-10-19 16:20] Opiumtm commented on #6788
@eyalsk

What complexity? `factory` keyword would do same things but doesn't pretend it's a constructor because it isn't constructor.

Please, read Joel Spolsky's "The law of leaky abstractions". Async constructor is an abstraction which would certainly leak. It's leaky just from the start as reflection wouldn't correctly work with async constructors.

What problem here? Reflection would see **tru

[2016-10-19 16:26] CyrusNajmabadi commented on #6788
This is an assumption on your part.  It's like arguments that assumed that ```Nullable<T>``` would be a leaky abstraction because "null" wouldn't work properly with reflection.  It was an innapropriate assumption.

Furthermore, as mentioned already, we don't design within the restrictions of hte CLR as it has shipped in the past.  If we'd done that then we would have never gotten things like Gener

[2016-10-19 16:27] CyrusNajmabadi commented on #6788
That is not the what we're doing right now.  What we're doing is trying to decide: is this feature right *for the language*.  If it is, we can then move onto: how will this be implemented by C# implementations out there.  We can then decide *at that point* if the ways to implement it are satisfactory or not.

[2016-10-19 16:27] eyalsk commented on #6788
@Opiumtm

Why should I care what it is?

That's not true, again, you imply implementation details that are irrelevant to this discussion!

Again... implementation details. 😄

[2016-10-19 16:34] CyrusNajmabadi commented on #6788
Also: i would prefer to be able to write:

[code]

The factory approach suggested basically means you lose several of the benefits today for constructors.  And you lose it just because your program happens to be async.  That doesn't make sense to me.  They're orthogonal concerns, and i see no reason why they can't be complimentary.

[2016-10-19 16:34] jaredpar commented on #14112
This is a dupe of https://github.com/dotnet/roslyn/issues/13980

[2016-10-19 16:34] #14112 closed

[2016-10-19 16:34] Opiumtm commented on #6788
@CyrusNajmabadi

Well, then I propose one constructive thing about it. If our discussion to become more constructive and not to descend into fervent argument on philosophy, I propose one indeed rational thing:
**This very unclear and controversial topic should go along with proposal of technical CLR changes too**.

You reference to "CLR may change". OK. But without actual proposal of those CLR cha

[2016-10-19 16:38] CyrusNajmabadi commented on #6788
If we decide to take this as a language feature, and *if* we feel that there is not suitable way to implement this on the existing CLR, then we will go that route.  But this is a discussion of the feature *as it relates to the C# langauge*.  Please keep the discussion on topic.

We look at all our features in the context of if they're the right fit for our language first.  We don't want to spend t

[2016-10-19 16:41] CyrusNajmabadi commented on #6788
We have been fine shipping "leaky abstractions" for years.  For example, Tuples *as has been demonstrated several times already* are exceptionally leaky if you go down to the CLR level.  They bear little resemblance to their C# counterpart if you examine things through reflection.

Iterators/Async also bear little resemblance to C# if you go to the IL level.  We accept that these are abstractions

[2016-10-19 16:49] Opiumtm commented on #6788
@CyrusNajmabadi

I disagree. As C# is indeed language built on top of CLR. Compiler is generating IL and emitting CLR metadata.

So, I have stated already that existing CLR isn't suitable to implement this feature.
One major consideration is **reflection**.

You mentioned many C# features that was implemented in the past (nullables, generics, generics variancy).
All those features was implemented

[2016-10-19 17:00] niemyjski commented on #14617
I just installed VS15 and am also seeing this behavior with basic install (no addins). I reported with profiling

[2016-10-19 17:18] eyalsk commented on #6788
@Opiumtm

I know what the _law_ means and I also know what the author of the article speaks about and it has zero relevance to this discussion.

Just to take something from the article.

Fortunately, I'm pretty sure most of us here are pretty competent with C# the language, know enough about object-orientation and don't need to write boilerplate if the language can save it from us!

If and only if

[2016-10-19 17:27] Opiumtm commented on #6788
@CyrusNajmabadi

And on language level async constructors (It's my own personal opinion) isn't a good idea. At least in current form. This idea should be discussed more to refine it (not accept it without further modifications).
If people doesn't agree on some topic and have their own more or less reasonable arguments - it's a clear sign that whole topic should be investigated more deeply. Maybe (

[2016-10-19 17:43] gafter commented on #14617
Not sure if this is a compiler or IDE issue, but compilers seems a reasonable place to assume for purposes of investigation.

[2016-10-19 17:46] gafter commented on #14615
@dotnet/ldm FYI, here is an issue pushing back on the revised scoping rules for if-then-else.

[2016-10-19 18:00] niemyjski commented on #14617
Just loading my solution always seemed to use a ton of cpu usage and it seems to be getting worse (over the past 1-2 years). I always thought it was background services / vs plugins until recently it became so unbearable when I open my index settings (contains tons of expressions) it would get really really bad. I decided to look into it further. I've experienced this in VS2013,2015 and 2016 now.

[2016-10-19 18:21] jasonmalinowski commented on #14060
@routbiplab Any chance you could get some additional information for us?

[2016-10-19 18:22] jasonmalinowski commented on #13556
Indeed, the assumption here is this is a migration issue, and won't be a problem going forward.

[2016-10-19 18:22] alrz commented on #6788
@HaloFour What this means? I'm just curious.

[2016-10-19 18:23] CyrusNajmabadi commented on #6788
Ok.  Your disagreement is noted.  However, this is a language design discussion.  The discussion will be about that as that is how we will move forward with any such proposal.

[2016-10-19 18:25] CyrusNajmabadi commented on #6788
I mentioned many other features *including tuples* which did not involve modifying the CLR, and which present disparate abstractions depending on if you go to the CLR level or not.

As mentioned *already*, *if* we do this feature and *if* we feel the existing abstractions are not sufficient, *then* we will work toward modifying the CLR appropriately.

I'm not sure what else i can say at this point

[2016-10-19 18:27] CyrusNajmabadi commented on #6788
I'm demonstrating that it is a non-goal for abstractions at the CLR and language level to be in sync.  It's nice to have if we can get it.  But it has no bearing on the initial decision about if a feature is something we'd like in the language.  It comes down to how we will implement things and if that implementation strategy is acceptable.  Such a discussion comes *after* we decide if we even wan

[2016-10-19 18:28] CyrusNajmabadi commented on #6788
This is an assumption on your part.  Please stop assuming things about later parts of the process in order to attack the part of the process we're at now.  The discussion we're having now is if this is a good fit into the language as a language feature.  Implementation discussion can happen afterwards *if* we decide it's something we'd like in the language.

[2016-10-19 18:30] CyrusNajmabadi commented on #6788
That's what we're attempting to do here.  You keep sidetracking the discussion with concerns around things like what this will look like in the CLR.  If we could stick to the actual language feature and not go off-topic that would be *awesome* :)

[2016-10-19 18:31] CyrusNajmabadi commented on #6788
Correct.  that's the purpose of the discussion.  It's inappropriate to come in, when people are trying to formulate things, and say "don't do this because it's not formulated well enough."

We're trying to discuss what the actual feature would be so it could morph into an actual proposal.  Please support this process and do not try to derail it.

[2016-10-19 18:32] CyrusNajmabadi commented on #6788
That is being discussed with other proposals.  If you want to discuss that more, i welcome you to take that interest there  :)

[2016-10-19 18:39] AdamSpeight2008 commented on #14604
@HaloFour I don't see how this proposal *violates the principle of async all the way*. It currently to have an async function contain aspects which are executed concurrently (eg Parallel )

[2016-10-19 18:50] Opiumtm opened #14619 "Discussion: generalized templates"
Entire class of language limitations which cause boilerplate code and means to avoid it is a special case of one generic operation.

It's a class template and its specification.

template + template parameters -> concrete class

Generics are special case of this operation.
But if we see at most common OOP patterns they resemble same operation of some generic logic applied to concrete type argument

[2016-10-19 18:51] Opiumtm commented on #6788
@CyrusNajmabadi

#14619

[2016-10-19 18:54] AdamSpeight2008 opened #14620 "[Dicussion] String vs Tuple(Of Char+)"
# String vs Tuple(of Char+)

Is there any performance benefits / deficits?

`( "P"c , "u"c , "b"c , "l"c , "i"c , "c"c )` vs `"Public"`

[2016-10-19 18:58] HaloFour commented on #6788
@CyrusNajmabadi

The factory approach doesn't cause you to lose that functionality.  You just need a constructor to accept the already-obtained data.  But it's a good idea to have such a constructor anyway, not only for testing purposes, but also to allow for consumers that wish to supply their own results from a different source than whatever `async` behavior you plan on hardcoding in.

@alrz

On

[2016-10-19 19:04] AdamSpeight2008 commented on #14619
Also see #174 #8065

[2016-10-19 19:05] mattscheffer opened #14621 "EnC breaks debugging if it is supposed to hit another break point"
**Version Used**:
ML 25818.01
**Steps to Reproduce**:
Create a New C# console application
Add the following lines to the Main method:

[code]

Start Debugging.
At the first breakpoint, uncomment string s = "test"
Hit Continue

**Expected Behavior**:
VS reaches the next breakpoint successfully.

**Actual Behavior**:
A window pops up saying that 'Source is not Available'. Locals, Autos, and other re

[2016-10-19 19:14] HaloFour commented on #14604
@AdamSpeight2008

So you mean to use a `concurrent` block only within an `async` function?  And by "blocking" you mean that the coroutine would not resume until all of the `await`ed tasks have completed?  That wouldn't violate said principle, but that was not apparent from your example expanded code above.

However, I don't think such a `concurrent` block would be necessary.  It's pretty simple to

[2016-10-19 19:20] Opiumtm commented on #14619
@AdamSpeight2008
One important thing to consider is an ability to invoke concrete class construction from template at the runtime, embedding class construction code and metadata into the result binary file - i.e. make this feature first-class citizen having reflection support.

[2016-10-19 19:35] svick commented on #14620
I don't understand the question. In what situations could it make sense to use such tuple instead of `string`?

[2016-10-19 19:41] AdamSpeight2008 commented on #14620
@svick
Which uses less space? Are there situations where having a `ValueTypeString` eg below certain length?

[2016-10-19 19:43] AdamSpeight2008 commented on #14619
@Opiumtm It was more of making you aware of prior topics are this area, and the reluctance to implement templates / macro like language features into C# / VB.net.

[2016-10-19 19:44] jasonmalinowski commented on #13431
This was done by @jinujoseph.

[2016-10-19 19:44] #13431 closed

[2016-10-19 19:54] jaredpar opened #14623 "HostAnalyzerManager NRE's when missing AbstractHostDiagnosticUpdateSource"
Consider the constructor for `DiagnosticAnalyzerService`

[code]

This specifically allows for a `null` value for `AbstractHostDiagnosticUpdateSource`.  In the presence of `null` though and an analyzer load failure the `HostAnalyzerReferenceDiagnosticReporter` object (transitively created from this ctor) will throw a `NullReferenceException`:

[code]

Code link: http://source.roslyn.io/#Microsoft.

[2016-10-19 19:56] jasonmalinowski commented on #13529
Looking at this in yesterday's internal master build, it seems things are generally working. Except somehow System.String itself which doesn't get do comments. Other primitive types get it, and the doc comment is there in the file...but it doesn't work.

[2016-10-19 20:27] #8753 closed

[2016-10-19 20:27] #14337 closed

[2016-10-19 20:27] #14437 closed

[2016-10-19 20:27] #14438 closed

[2016-10-19 20:27] #14439 closed

[2016-10-19 20:58] MadsTorgersen commented on #14615
Thanks for raising the issue!

Switch statements are for when you have conditions that can apply to the _same_ expression. I don't think we are going to change that.

Currently, your scenario is best handled by the if-statement. The fact that you have to use different variable names is by design - although we did discuss it quite a bit. In the end we found that the value of making the variable ava

[2016-10-19 20:58] #14615 closed

[2016-10-19 21:04] bbarry commented on #14615
The scoping rules of that switch statement seem weirder to me than they do for the if statements. I wouldn't expect to be able to re-use a variable name between case statements (even having followed and understanding the current design of the feature).

[2016-10-19 21:17] TyOverby commented on #11009
@suprak This is a tough one, it looks like it is impossible for the method in question (`Microsoft.CodeAnalysis.SyntaxNode.get_EndPosition`) to dereference null.  Would it be possible to get a dump exhibiting this bug?

Also, another recent "impossible" bug was found out to be caused by a profiler injecting code into the running process.  You wouldn't happen to be running a profiler would you?

[2016-10-19 21:18] 333fred commented on #9976
Failed again: https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/dev15-rc/job/windows_vsi_p2/8/artifact/Open/Binaries/Release/VSIntegrationTestLogs/CSharpExpressionEvaluator.html

[2016-10-19 21:33] suprak commented on #11009
Crash was from a customer environment so I don't have a dump and couldn't for sure say if a profiler was running.
However it does seem plausible.

[2016-10-19 22:21] miloush commented on #14544
I hit the same with 'is pattern', the code being something like
[code]
when I tried to replace `"replace"` with `s`.

[2016-10-19 22:22] dsaf commented on #14615
@MadsTorgersen I understand, thank you!

[2016-10-19 22:24] dsaf commented on #14620
https://en.wikipedia.org/wiki/String_interning#Motivation

[2016-10-19 22:53] gafter commented on #14620
@AdamSpeight2008 There exist performance measurement tools that can help you to answer that question in the context of your particular application.

[2016-10-19 23:10] jaredpar commented on #10544
@VSadov is this fixed by the referenced PRs?

[2016-10-19 23:17] gafter commented on #6941
Our internal notes in [OneNote](https://microsoft.sharepoint.com/teams/managedlanguages/_layouts/OneNote.aspx?id=%2Fteams%2Fmanagedlanguages%2Ffiles%2FTeam%20Notebook%2FRoslyn%20Team%20Notebook%20-%20New&wd=target%28Compilers%2FCompiler%20Design.one%7CD0427C1F-43BD-44AA-A337-20E46E56BB4C%2FAdd%20notes%20to%20the%20compiler%20specification%7C369912F5-AFA7-4384-A4F4-E3135160CC86%2F%29) say, in part

[2016-10-19 23:58] gafter commented on #366
The draft ECMA spec for version 5.0 already says

(my emphasis). The bold text is missing from Microsoft's version.

/cc @MadsTorgersen FYI

[2016-10-19 23:59] jasonmalinowski opened #14630 "IDE0018 should have a better message"
![image](https://cloud.githubusercontent.com/assets/201340/19541720/45769536-961d-11e6-8595-cd0e1d439699.png)

It's showing as a description "inline variable declaration", which I read as the adjective form of "there is a variable declaration that is inline", and then went "huh?". I suspect the message should read "variable declaration can be inlined" as that's the 'problem'.

@CyrusNajmabadi

[2016-10-20 00:26] salmelo commented on #1276
Would just like to add a vote to this (and null conditional lvalues in general) for whatever that's worth.

I run into wanting this very frequently when writing code to bridge UI and internal objects.

[2016-10-20 03:34] ashmind commented on #13819
Just to note that performance of
[code]
does not match performance of `foreach` for arrays, since array foreach gets compiled to `for` and doesn't use `IEnumerable` at all.

I definitely vote for some kind of index with no overhead other than one local variable.

[2016-10-20 08:16] uTeisT commented on #1572
Hi @gafter

While testing I came across 2 things related with assignments using `is`

1. Although `if (i is int j) ;` is valid and works fine

I get a `CS0642	Possible mistaken empty statement`

It makes sense as there seems to be nothing to do if `true` but I actually do what I want within the `if` block itself. I wonder if this warning could be avoided somehow.

2. Considering a simple function

[2016-10-20 08:25] uTeisT commented on #10153
Hi

While testing I came across 2 things related with `is`

1) Although `if (i is int j) ;` is valid and works fine

I get a `CS0642	Possible mistaken empty statement` warning.

It makes sense as there is nothing to do if `true` but I actually do what I want within the `if` block itself. I wonder if this warning could be avoided somehow.

2) Considering a simple function like this:

        void T

[2016-10-20 08:39] fanoI commented on #2788
I have understood well that the C# compiler does not permits arithmetic operation on IntPtr?
F# has nativeint...

[2016-10-20 09:50] Pzixel commented on #10153
@uTeisT I think I can answer to your questions:

1) any conditional operator with empty body should be warned by compiler. If you want to avoid it, use empty braces `{}`. It's a common way to do it.
2) in your example I assume that compilers implicitly uses i (becuase it is declared in `if` so its scope is limited by scope of `if` operator so it doesn't exists in the rest of the method. Thus, in f

[2016-10-20 09:56] nzall commented on #9795
I'm curious: what does the spec say about the max length a method chain may have? And is it even sensible to have the possibility of a method chain that's thousands of links long?

@eduelias How did you come across this bug? Did you just do it to see what would happen? Or have you actually come across this bug while working on a real-world project?

[2016-10-20 11:04] uTeisT commented on #10153
@Pzixel 1) Using `{}` would deal with the warning that's true but in this case we don't need a body anyways. While simplifying the usage, such warnings could also be disabled maybe, idk.
2) I see your point (Btw, I think you meant `j` instead of `i`) so maybe that's a bug and it should also give a compile error. Because I can still use `j` out of the `if` scope.

Using VS15P5 btw, if that helps.

[2016-10-20 11:13] HaloFour commented on #10153
@uTeisT

The scoping rules were changed, `j` would remain in scope following the `if` statement.  However it would not be definitely assigned which is why you can't use it as you are trying to.  It'd be no different than the following:

[code]

[2016-10-20 12:31] jcansdale commented on #4434
The NUnit team is suffering from this issue when developing our `Assert` API. We'd like to hide `Equals`, to prevent users from accidentally entering the following:

[code]

When trying to enter:

[code]

The following appears to work fine in Visual Studio 2013, but no longer works in Visual Studio 2015:

[code]

You can find the issue here:
https://github.com/nunit/nunit/issues/1726#issuecomment-

[2016-10-20 13:26] Kalfas commented on #14549
`
        public static bool autoLoadSettings = true;
        public static bool autoSaveSettings = true;
        public static bool allowIDsAbove999 = true;
        public static bool showExitProgramUnsavedChangesWarnings = true;
        public static bool showExitHSVUnsavedChangesWarnings = true;
        public static bool showAllWarnings = true;
        public static bool showAboveID999Warnings

[2016-10-20 13:40] DavidArno commented on #14549
@Kalfas,

Um, apologies if this is rude, but seriously, you actually put real-life mutable, global variables in your code? In 2016?

Sorry, but I need a little lie down. I'm in shock. :scream:

[2016-10-20 13:44] Joe4evr commented on #10153
@uTeisT Another way to deal with that is to just invert the check: `if (!(i is int j)) return;`

[2016-10-20 14:05] Pzixel commented on #10153
@uTeisT [Eric treats itself](http://www.informit.com/articles/article.aspx?p=2425867) the empty statement as design mistake, so I anyway recommend to not use it at all.

@HaloFour I think this is mistake. I understand why they decided do to such thing, but IMHO `use-after-use` and `use-out-of-scope` should be disallowed at all costs.

[2016-10-20 14:07] niemyjski commented on #9795
I wonder if these two are related: https://github.com/dotnet/roslyn/issues/14617

[2016-10-20 14:07] niemyjski commented on #9795
I'm also kind of seeing this behavior but with very large amounts of constant cpu usage with a ton of fluent chained calls.

[2016-10-20 14:07] svick commented on #9795
@nzall

As far as I can tell, it does not say anything about it. Though it is usually understood that an implementation will have some limits.

I think it's sensible to expect that the compiler does not crash.

[2016-10-20 14:15] niemyjski commented on #9795
I'm seeing this in our real world project: https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Core/Repositories/Configuration/Indexes/EventIndex.cs This is very common when using elasticsearch fluent mappings or automapper configuration etc.. This should be top priority.

[2016-10-20 15:38] nzall commented on #9795
@niemyjski Okay, if real projects are being affected by the bug, then it should indeed be fixed.

In the meantime, are there any workarounds? For example, could you split up the method chain in smaller sections so the compiler doesn't choke on it? Or would those splits be optimized away by Roslyn?

[2016-10-20 16:06] niemyjski commented on #9795
I was just thinking that myself (converting some of the chains to methods, seems like the compiler would optimize that).

[2016-10-20 16:13] gafter commented on #10153
In your example, the pattern-matching operation must always succeed:

[code]

But this results in a definite assignment error on the use of j. That is because the current spec says that pattern variables are _definitely assigned when true_ for the pattern-matching operation. The implication is that they are not definitely assigned when then pattern match fails (even though that cannot happen here)

[2016-10-20 17:24] miloush opened #14635 "IDE0008 Do not offer explicit type instead of var for anonymous objects"
**Version Used**: 25807

**Steps to Reproduce**:

[code]

Change the code style settings to prefer explicit style and set the severity to something else than None.

**Actual Behavior**:
Declaration line has no info/warning/error.
Foreach line has IDE0008, suggesting using an explicit type instead, that type being `object` which is a breaking change to the code, and probably impossible suggestion.

[2016-10-20 17:35] controlflow opened #14636 "Breaking change: 'x is nameof' expression"
[code]
This code is no longer able to compile because parser now prefers parsing constant pattern instead of type syntax.

[2016-10-20 17:37] 333fred commented on #13433
Three more SolutionsTests failures:
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_debug_unit32/983/
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_release_unit64/978/
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_unit64/893/

[2016-10-20 17:51] dpoeschl opened #14638 "Ensure all code style analyzers do not run on generated code"
This bit us on Naming Styles and will probably hit again on other code styles unless we ensure they aren't running on generated code.

[2016-10-20 17:52] dpoeschl commented on #14638
See https://github.com/dotnet/roslyn/pull/14634/commits/21c20ac9944fc7100fac7d65f347abc2553733a5 for an example of how to fix this.

[2016-10-20 18:08] 333fred commented on #12222
Another similar failure: https://ci.dot.net/job/dotnet_roslyn/job/dev15-rc/job/windows_release_unit64_prtest/168/console

[2016-10-20 18:24] dpoeschl opened #14639 "Audit our analyzers to see if we can make them concurrent"
There's a flag that enables/disables concurrent analysis, and we should see if we can use it.

[2016-10-20 18:24] dpoeschl commented on #14639
FYI @heejaechang @CyrusNajmabadi

[2016-10-20 18:35] heejaechang commented on #14639
the flag just let engine know whether they are okay to run concurrent. and engine decide whether concurrency will be used or not.

IDE in proc engine, always says no. and never run anything concurrent. OOP engine, always says yes. and run analyzers that are marked as concurrent ready concurrent.

[2016-10-20 18:42] CyrusNajmabadi commented on #14308
Interestingly enough, this reproes for C# *if* you format between the comment and uncomment steps.  You can see this if you attempt to comment the string literal in this code:

[code]

I'm *leaning* toward thinking that the bug is that we indent *left aligned* comments when formatting.  If we didn't do that, tehn we wouldn't have this problem.

Alternatively, we can keep things are they are today,

[2016-10-20 18:44] CyrusNajmabadi commented on #9090
Recursive patterns were cut.  So closing this out.

[2016-10-20 18:53] TessenR opened #14640 "Roslyn doesn't report errors for unknown attributes in local functions' type parameters lists"
Roslyn doesn't report any errors for this code sample (it should report unresolved attribute)

[code]

attempts to compile this code from VS15 Preview 5 ends with following error (which is not very helpful)

[code]

currently this test fails

[code]

with following output:

[code]

[2016-10-20 18:58] controlflow opened #14641 "Breaking change: constant patterns and binary expressions"
[code]
This code no longer compiles in C# 7.0, since `string + ""` now parses as a constant pattern instead of type syntax and additive expression concatenating `""` literal with the results of `is` expression.

[2016-10-20 19:01] gafter commented on #1572
Discussion for pattern-matching has moved to https://github.com/dotnet/roslyn/issues/10153

[2016-10-20 19:01] Kalfas commented on #14549
@DavidArno How else could they be accessible from the other forms as well?

Plus, is there anything bad with making public variables? Lastly, the main point here is about the multi-assignment and not the fact that I use global variables in the main form so that they are accessible from other forms, too.

P.S. My experience is only a year; bear with me, okay?

[2016-10-20 19:05] heejaechang commented on #14308
the reason formatter doesn't change anything inside of the literal is since it is actually changing result of the code. formatter should never change meaning of the code it is given.

when user did comment code feature, they changed the meaning of code and then when it uncomment the code, it introduces new code to code base which is different than original code. formatter doesn't know the original

[2016-10-20 19:11] CyrusNajmabadi commented on #14308
I agree this is not formatting's fault *when it uncomments*.  However, i think that formatting indents a commented out section is problematic, (though i would not use the term 'fault').  THe issue is that we tend to think of 'comments' as being effectively meaningless.  As such, it's safe to move them.  As we've discovered here, when the comments are actually commented-out code, and the user wants

[2016-10-20 19:13] controlflow commented on #14641
I guess you have to raise the allowed binary operator precedence when parsing constant pattern from `> Precedence.Relational` to something higher...

[2016-10-20 19:19] heejaechang commented on #14308
it is up to IDE, but figuring out user's intention can be really hard. it might satisfy one user case but might upset other users like I just commented out this code and format why it doesn't go to right place? or I just uncommented this code that I didn't comment or I hand commented, they it is messing with my string literal?

if problem starts from commenting feature to uncommenting feature, I t

[2016-10-20 19:42] gafter commented on #14641
It was a bug that the compiler accepted this before. The precedence of `+` is higher than the precedence for `is`, and therefore `is` cannot be an operand of `+`. This bug was fixed in the compiler in order to add support for pattern-matching. See https://github.com/dotnet/roslyn/issues/10492

[2016-10-20 19:42] #14641 closed

[2016-10-20 19:43] gafter commented on #10492
Reopening so that we can document what is technically a breaking change.

[2016-10-20 20:22] mavasani opened #14647 "Performance optimization to FileChangeTracker.StartFileChangeListeningAsync"
[ETL Trace](\\manish-test\share_r\vsfeedback\Carlos\Vs15Preview5-AfterLoadProject.etl.zip) shared by a customer who is experiencing 15-20 seconds of VS freeze on attempting to expand the project node in solution explorer shows we are spending about 5% of CPU stacks in Microsoft.VisualStudio.LanguageServices.Implementation.ProjectSystem.FileChangeTracker.<StartFileChangeListeningAsync>b__15_1()	  4

[2016-10-20 20:38] heejaechang opened #14649 "debug assert in C# parser"
**Version Used**:
rc drop with current ml master built (roslyndev hive)

**Steps to Reproduce**:
1. open roslyn-internal in roslyndev with debug bit
2. turn on full solution analysis
3. wait for the assert to show up.

**Expected Behavior**:
no assert

**Actual Behavior**:
assert.

assert is this code
http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Parser/SyntaxParser.cs,1090

code that mak

[2016-10-20 20:41] mavasani opened #14650 "NRE in Microsoft.VisualStudio.LanguageServices.ProjectSystem.DeferredProjectWorkspaceService.<GetDeferredProjectInfoForConfigurationAsync>d__5.MoveNext()"
**Version Used**:
wpt 25807.00

**Repro steps:**

1. Enable Lightweight solution load (DPL) in VS
2. git clone https://github.com/dotnet/roslyn-project-system
3. run "build.cmd" from root of the repo
4. Open src\ProjectSystem.sln

**Got:** VS sometimes crashes after solution load completes (worked fine first couple of times).

**Dump**: Shared [here](\\manish-test\share_r\DPL_crash\devenv.dmp)

**

[2016-10-20 20:42] gafter opened #14651 "Definite assignment versus pattern-matching when pattern always matches"
This issue arises from a [recent question](https://github.com/dotnet/roslyn/issues/10153#issuecomment-255041399) by @uTeisT on pattern-matching.

Consider a pattern-matching operation that always succeeds:

[code]

This results in a definite assignment error on the use of j. That is because the current spec says that pattern variables are _definitely assigned when true_ for the pattern-matching op

[2016-10-20 20:42] mavasani commented on #14650
Tagging @Pilchie

[2016-10-20 20:55] IlyaBiryukov opened #14652 "Roslyn in Dev15 should use MS.VS.Shell.Framework, not MS.VS.Shell.Immutable.*"
Version: _2.0.0-beta6-61010-02_,  commit 4cdc3d8b75cfc4a22d722338c9dafeccb80dc574.

**Steps to Reproduce**:
1. Start Visual Studio Dev15 Preview 5
2. Create a new C# or VB project

**Expected Behavior**:
VS does not load any _Microsoft.VisualStudio.Shell.Immutable.*_ modules. Roslyn assemblies for Dev15 reference _Microsoft.VisualStudio.Shell.Framework.dll_.

**Actual Behavior**:
VS loads _Microso

[2016-10-20 21:10] jasonmalinowski opened #14653 "Crash in find references"
*Repro:* find references in CodeStyleOptions.cs, PreferIntrinsicPredefinedTypeKeywordInDeclaration.

[code]

@CyrusNajmabadi is already looking. FYI to @pilchie as this is with the build we just RIed.

[2016-10-20 21:20] controlflow commented on #14641
Thanks for clarifying, @gafter!

[2016-10-20 21:23] tmat commented on #14652
I think this is due to the fact that Roslyn depends on VS SDK v15.0.25604-preview4 which has Immutable.11 and 10 in its nuget dependencies. Seems like 15.0.25726-preview5 doesn have it anymore, so updating to the newer version should fix this.

@jasonmalinowski FYI

[2016-10-20 21:32] jasonmalinowski commented on #14652
@IlyaBiryukov: but that's a Dev15 thing, right? Code still targeting Dev14 has to use the older versions? FYI to @Pilchie and @tmeschter who are updating some of those references anyways.

[2016-10-20 21:35] IlyaBiryukov commented on #14652
Yep, it's Dev15 Preview5 and beyond. Dev14 still uses the older versions.

[2016-10-20 21:36] jasonmalinowski commented on #14553
@jltjohanlindqvist: did you have previous previews installed on this machine? did you have any previous versions on a *different* machine that we might have synced settings through? I suspect this is some sort of upgrade issue and want to make sure I'm not missing all the cases.

[2016-10-20 21:37] IlyaBiryukov commented on #14652
Yep, VSSDK 15.0.25726-Preview5 has the chanages. Please note that the latest _Microsoft.VSSDK.BuildTools_ package is version _15.0.25728-Preview5_.

[2016-10-20 21:56] jasonmalinowski commented on #13556
Ah, this is migration from previous VS versions. Grr.

[2016-10-20 21:58] dsaf commented on #14549
@Kalfas the code is fine for one year of experience, the suggestion is fine apart for requesting a new keyword/syntax. What matters is:

1) this issue has already been marked with ```Discussion``` yellow label of death, which means it is not going to be seriously considered;
2) the team is so opposed to introducing new keywords/syntax for use cases that are deemed minor, that even scoping rules we

[2016-10-20 22:10] tmat commented on #14652
@jasonmalinowski I have generated and publish the internal VS SDK packages with Preview5 bits (need them for interactive window). Not gonna update Roslyn though to make Jared's life easier. @tmeschter will follow up.

[2016-10-20 22:15] tmat commented on #14652
@IlyaBiryukov Why is Microsoft.VisualStudio.Settings.15 versioned differently than the rest of the SDK? ```15.0.25123-Dev15Preview```

[2016-10-20 22:44] gafter commented on #14649
@jcouv I think this is the assertion you added recently to track down this issue.

[2016-10-20 23:17] IlyaBiryukov commented on #14652
@tmat, a good question for VS extensibility team. I'll ask them why it is so.

[2016-10-20 23:29] mavasani commented on #14432
Confirmed with @huizhonglong that she is now unblocked and doesn't really need this change.

[2016-10-20 23:29] #14432 closed

[2016-10-20 23:35] #12078 closed

[2016-10-21 00:05] agocke opened #14660 "Roslyn should move into a subdirectory of MSBuild in install"
Our current location, next to the MSBuild binaries, is causing problems due to loading installed Roslyn binaries when we mean to load binaries from NuGet or the bootstrap build.

We should instead move the Roslyn compilers to a separate directory so we will not interfere with other Roslyn loads.

[2016-10-21 00:08] OmarTawfik commented on #14313
@gafter I did a scan and it looks like it was fixed in #14464. Let me know if there is anything else you found during the initial search.

[2016-10-21 00:08] #14313 closed

[2016-10-21 00:36] tamlin-mike commented on #14651
I'm not convinced that's a good idea. {} denotes scope. Should really that 'if' in the example introduce 'j' to the _surrounding_ scope? I would have expected it only to be valid within the scope of that statement (i.e. inside the "{}" in this case). That would to me be the path of least surprise.

If starting to release what at first glance seems to be scope-limited variable introductions into ou

[2016-10-21 00:48] tamlin-mike commented on #14639
@heejaechang
Provided the analyzers are run by FxCop (if not, please disregard this comment),

I believe that's an error, especially when it's a 32-bit process.

See: https://developercommunity.visualstudio.com/content/problem/1512/fxcop-even-when-out-of-process-runs-out-of-memory.html

Even the OOP engine should throttle parallelism under resource constrained conditions.

[2016-10-21 01:55] HaloFour commented on #14651
@tamlin-mike

I agree with your sentiment, but the scoping issue was already discussed and effectively decided upon:  #12939

This issue specifically addresses definite assignment of `j` in that scope.

[2016-10-21 02:05] tamlin-mike commented on #14547
Just brainstorming here, but what about calling this "namespacegroup"? It would communicate what it is, and make it impossible for older compilers to understand (since it would be a new keyword, and as explained below also a syntax error).

To be 100% clear, what I had in mind is (at point-of-use):

using namespacegroup Foo.Bar.MyNamespaceGroup;

It would not increase count of '#' directives (thos

[2016-10-21 02:16] tamlin-mike commented on #14651
@HaloFour

Gotcha. OK, so it's (currently, and hopefully for a looong time) limited to 'out' variables, and implicit 'out' variables like 'j' in the scenario presented?

While syntactically a bit confusing at first blush, I now see the merit and I'm less concerned. Provided scope doesn't expand, explicitly or implicitly (even by mistake, f.ex. with an unnamed tuple), I'm (reluctantly, from a synta

[2016-10-21 02:30] tamlin-mike commented on #12939
@Kaelum

At first I was thinking like you - this is not good design. Scope is scope. Obey it.

Then I saw the 'out' var example, and took a step back. F.ex. how else could you both define a new variable and get it to live after a function call when ';' is encountered?

Yeah, it's a convenience feature, but if we consider it like this:
<pre><code>// explicit
int i;
blahblah(..., out i);
</code></pr

[2016-10-21 02:41] heejaechang commented on #14639
@tamlin-mike this is different than FxCop the link is refering to. and code consuming a lot of memory won't use less because it is not run concurrent. the reason VS didn't run those concurrent inproc is not due to VM but due to allocation rate+GC which cause VS to freeze and cause responsiveness issue. this shouldn't be issue for out of proc engine since 1. there is no UI user interact with 2. eve

[2016-10-21 02:46] tamlin-mike commented on #14639
@heejaechang
Thanks for explaining and putting my worries to rest.

[2016-10-21 02:53] heejaechang commented on #14639
@tamlin-mike I think your worry is valid one. we still can get OOM by bad analyzers or a solution having a lot of analyzers installed. which by running things concurrent, more easily get to OOM than not running analyzer concurrent.

if we start to see such situation commonly occurs, we probably need to start moving to 64bit OOP. 64bit process gets more memory space, but it also uses more memory th

[2016-10-21 03:00] tamlin-mike commented on #14639
@heejaechang
OK, so the throttling idea was perhaps not completely wasted after all?

As it seems you're on top of this, would you mind opening an issue (even if just as a reminder) about this very thing? In my mind, it's not really a question about "if", but "when". :-)

[2016-10-21 03:08] heejaechang opened #14664 "support creating remote host based on user extension bitness"
currently, we create 32bit remote host to be safe for user extensions.

instead we should check all user extensions and its dependency and load them to 64bit OOP if there is no extension that require 32bit-ness. if there is such extensions, we should load only those to 32bit OOP and others to 64bit remote host.

[2016-10-21 03:08] heejaechang commented on #14639
@tamlin-mike I have this work item - https://github.com/dotnet/roslyn/issues/14664

[2016-10-21 03:21] tamlin-mike commented on #14639
@heejaechang
While a good idea, it didn't address your concern that in 64-bit process pointers will be double size.

If one AST-producer (or even just plain src text) could share in a read-only section, the consumers could run in separate (reasonably) lightweight 32-bit processes. That was my thinking.

I don't know how much memory is _actually_ saved 32- vs 64-bit "VM" (i.e. .NET runtime). You pr

[2016-10-21 04:57] jltjohanlindqvist commented on #14553
I have VS 2015 Community installed as well, but I don't have the same problem there. No other previous VS 15 preview versions installed, and I'm not logged in to any account in any of the VS instances.

[2016-10-21 05:01] eyalsk commented on #14547
@tamlin-mike

Why do we need to introduce a new keyword? it would be an error anyhow with or without the new keyword and the if you already used the name for a namespace in the same assembly then you can't use it for the namespace group,

BTW, it's not really clear whether you support @zippec's idea or @Opiumtm's idea, I mean in the first part of your post it seems like you relate to @Opiumtm's id

[2016-10-21 06:12] eyalsk opened #14665 "Proposal: Constant expression - Power operator?"
_Disclaimer: I don't know if it's worthy of a proposal but it's really a tiny feature and some people might have some interest in it._

Currently, there are three ways to raise a number to a power:
1. Using left shift but this only works when raising 2 to a power.
2. Using plain multiplications.
3. Using `Math.Pow(2, 3)` or `Pow(2, 3)` but it's not a constant expression.

So what I'm proposing is

[2016-10-21 06:39] srivatsn commented on #13211
Still seeing this.

[2016-10-21 06:39] #12858 closed

[2016-10-21 06:42] #11944 closed

[2016-10-21 06:44] srivatsn commented on #11133
@MattGal can this be reenabled now?

[2016-10-21 06:58] srivatsn commented on #14355
Moved to https://github.com/dotnet/roslyn-analyzers/issues/1081

[2016-10-21 06:58] #14355 closed

[2016-10-21 08:00] DavidArno commented on #14651
@gafter,

"I told you so" is unprofessional, but...

The team ignored lots of sensible advice and (a) introduced `out var` and (b) refused to introduce `guard`. You've made your bed and now have to lie in it. Having introduced leaky scope for variables, C# is going to suffer years of problems like this one.

[2016-10-21 08:05] dsaf commented on #14665
Should there be e.g. square/cubic/... root and absolute value operators as well? Is power operation simply the most common one?

[2016-10-21 08:52] dczuo opened #14666 "type infer from left operand and json style object initialize"
[code]

[2016-10-21 10:32] Opiumtm commented on #6788
@HaloFour
I agree with you partially.
It's very true that feed constructor with data obtained asynchronously previously is conceptually and architecturally good approach.

I disagree on this point:

Basically, asynchronous constructor add almost **no** value (except saving couple of lines of code) and same time introducing a feature that inherently would be misused and would be used to make awful

[2016-10-21 10:59] Opiumtm commented on #6788
About dangers of `async` I can tell personal story.
T10 library (popular Universal Windows library in which I have made some low-level performance optimization commits) had one public release that introduced deadlock into its infrastructure code. This is broken numerous of production UWP apps. I have investigated this issue in T10 library and have created issue with technical results of this inves

[2016-10-21 11:09] Opiumtm commented on #6788
@HaloFour

One consideration about "doing it wrong" is that we are living now in the era of C# open-source code and nuget libraries. So, "doing it wrong" probably meaning very serious problems as typical production code use big bunch of open-source libs from nuget. See personal story above about broken T10 lib when some commit "does it wrong" and introduced noticeable massive impact on library con

[2016-10-21 11:38] Opiumtm commented on #6788
Another problem with async constructors on language level (as it's proposed) - hardcoded `Task<T>` return result.

[code]

So, return type of `new Foo()` operator isn't specified. It's assumed to be `Task<Foo>`
But there is many other awaitable types indeed.
`async` methods at least explicitly specify return type (although compiler would give you error if it isn't `void`, `Task` or `Task<T>`).
So,

[2016-10-21 11:44] Kalfas commented on #14549
How about the ability to add custom keywords or something like that then?

[2016-10-21 12:21] DavidArno commented on #14549
@Kalfas

Whilst it's not universally true, a good rule of thumb in programming is that  if something is proving painful, then you are likely doing it wrongly. There are numerous reasons why having many public static fields in a class that all need initialising is "doing it wrongly", related to lots of fancy buzzwords, such as the single responsibility principle, coupling, cohesion, ease of testing

[2016-10-21 12:32] golfguy0082 commented on #8217
I'm sorry to be an idiot, but where do you set the DebugInformationFormat option?  Is this in the csproj somewhere?

[2016-10-21 13:49] jrmoreno1 commented on #13558
ByVal is the default, why not have it the other way around?

    Dim i = 0
    TestA(i)                  ' TestA(i);
    TestA(ByRef i)        ' TestA(ref i);
    TestB(i)                  ' TestB(i);
    TestB(ByRef i)        ' TestB(out i);
    TestC(i)                  ' TestC(i);

This has the advantage of allowing ByRef to be optional for ref/out parameters in all cases.  I found this issue w

[2016-10-21 14:14] Nukepayload2 commented on #13558
@jrmoreno1
Your suggestion is more sensible. I'll edit the code to your version.

[2016-10-21 15:52] dharmatech commented on #14665
https://github.com/dotnet/roslyn/issues/4594

[2016-10-21 15:52] Kaelum commented on #12939
@tamlin-mike: There are 3 versions of scoping, 1) The old legacy scoping that C#6 and earlier used, 2) The previous C#7 scoping, and 3) The current C#7 scoping.

The previous C#7 scoping made sense, and was extremely useful.  In fact, it did exactly what you are asking.  Going back the my example, "i" would not be in scope.  It simply extended the scope for statements that are followed by a block,

[2016-10-21 15:56] eyalsk commented on #14665
@dsaf Well, yeah, it is actually common and cubic is formulated by power so power is more primitive.

[2016-10-21 16:03] gafter commented on #14651
@DavidArno This isn't a "problem", it is a place where the behavior has to be specified. The same "problem" exists no matter what the scope, due to operators such as `&&` and `||`.

[2016-10-21 16:06] Kaelum commented on #14651
@gafter: Have you, or anyone else, considered this:

[code]

How does this make any sense?

[2016-10-21 16:08] gafter commented on #9090
@CyrusNajmabadi This is labeled Milestone 3.0, when we expect to do it.

[2016-10-21 16:29] HaloFour commented on #14651
@Kaelum

That expression wouldn't be valid anyway, you're trying to declare `i` twice.

[2016-10-21 17:12] HaloFour commented on #14651
@Kaelum

Whether or not the `TryParse` is executed isn't relevant, the variable is still declared twice and the scopes still overlap.  That statement would not be valid even under the previous scoping rules since `i` would have remained in scope for at least the remainder of the expression, *even* if the pattern evaluated to `false`.

[2016-10-21 19:57] alrz commented on #14665
@MgSam #7561?

[2016-10-21 20:31] DavidArno commented on #14651
@gafter,

You are right. It isn't a "problem"; it's a problem.

The way I see it, @HaloFour and I have really quite strongly disagreed with each other over a whole raft of ideas here. Occasionally, we've semi-agreed. On this issue though, we are as one: the new scoping rules are  a mistake. If such often diverse views are so totally in agreement, the language team really ought to stop and take not

[2016-10-21 20:32] eyalsk commented on #14665
@MgSam Yeah well, this isn't really the same, there's two parts to this story, expressiveness of logic and performance, symbols are more succinct by nature and because some popular languages got it like PHP, JavaScript, F# and Python then it makes this operator fairly common.

We can definitely write MathC library that got some deterministic, constant operations if and when something like `constex

[2016-10-21 20:50] TyOverby commented on #9795
@nzall @niemyjski Splitting the fluent chain up into smaller sections is actually a valid workaround.  In a small test inspired by @bbarry's repro, I found that property chains in groups of 100 *don't* crash the compiler, while leaving them ungrouped does trigger the crash.

Basically, if necessary, you can turn this:
[code]

into this

[code]

and you can avoid the crash.

#### repro generation

[2016-10-21 20:57] #14127 closed

[2016-10-21 21:03] leppie opened #14672 "Incorrect CS0453 error"
[code]
[code]

[2016-10-21 21:06] eyalsk commented on #6788
@Opiumtm

It was covered in the OP, not sure where you're going with this. 😄

[2016-10-21 21:06] leppie commented on #14672
:brainfart:

[2016-10-21 21:06] #14672 closed

[2016-10-21 21:13] rohit21agrawal opened #14673 "CPS capability check fails for dotnet core projects"
**Version Used**: d15prerel\25821.00, wpt\25818.00, d15prerel\25819.00
Workloads : dotnetcorepreview, visualstudioextensibility, nativedesktop, netweb

**Steps to Reproduce**:

1. Create a dotnet-core project
2. Try to detect whether project is CPS using the method described at https://github.com/Microsoft/VSProjectSystem/blob/master/doc/automation/detect_whether_a_project_is_a_CPS_project.md
3.

[2016-10-21 21:15] CyrusNajmabadi commented on #6788
This is not valuable for my scenario.  Like with private constructors, i control what i expose and how i allow my object to be constructed.  It's like requesting that for async methods i also expose an sync method that that async method calls to in case i have a consumer that has the data precomputed which it can pass to that method.

A fundamental disagreement here is that some seem to believe th

[2016-10-21 21:22] CyrusNajmabadi commented on #6788
The value it has is that the language feature we've introduced works well across an even wider gamut of the language.  You complained about C++ before.  One of my major issues with C++ is how poorly the different language constructs have (at times) worked together.  One of the benefits today in C# is that you can trust that most language features are available in a uniform fashion across most lang

[2016-10-21 21:26] CyrusNajmabadi commented on #6788
It's good that you bring that up.  This is one reason why async-constructors should probably be offered.  Because people are running into situations where they need async during construction, and they're solving it in improper manners.  Others in the thread have already pointed this out.

This is a case where a limitation in the language in not making async truly cross-cutting is actually somethin

[2016-10-21 21:30] CyrusNajmabadi commented on #6788
All developers make mistakes.  All language features can be used to cause issues.  The absence of  language features can always be worked around by developers.

None of that is relevant here though.  "async" could have been left out of the language entirely.  The async restrictions in "try-statements" could have been left in.  After all, it was something people could work around.  And, after all,

[2016-10-21 21:32] CyrusNajmabadi commented on #6788
With the introduction of ValueTask, it's highly unlikely we would hardcode in ```Task<T>```.

[2016-10-21 21:35] CyrusNajmabadi commented on #6788
An anecdote about someone getting something wrong is not compelling.  People have gotten inheritance wrong.  Large-scale projects have been hurt by a single virtual or interface dispatch.  I recently cleaned up a codepath that was producing tens of GB of garbage because it had a single linq query in it.  Async has certainly caused problems for some, even as it solved problems for many others.  etc

[2016-10-21 21:42] CyrusNajmabadi commented on #6788
A constructor, from the language perspective, can only be referenced in a 'new' expression, and always (ignoring COM) produces an instance of the concrete type that was specified.  From the language's perspective a constructor when invoked produces an instance of a value of that type.  As such, it's trivial to extapolate that out to say that "new"ing an async-constructor produces a Task (or 'TaskL

[2016-10-21 21:45] CyrusNajmabadi commented on #6788
Nothing is baked in.  We have a language.  And we have a runtime that an *implementation* of our language runs on.  There are many implementations and many runtimes.  As mentioned numerous times already, we are totally willing to create a language that has no direct representation on the underlying platform.  For example, i would have been 100% fine with the CLR having no concept of properties.  A

[2016-10-21 23:07] gafter commented on #14651
The "problem" cited is the definite assignment state in a syntactic position where "definitely assigned when true" does not apply. Scope is a separate issue.