[2018-01-15 20:19] dasMulli opened #24247 "PathMap MSBuild property inconsistent with similar properties"
MSBuild properties containing lists are usually separated using semicolons, however `$(PathMap)` needs commas (`,`) as separators, causing confusion when authoring projects since it behaves differently.

E.g. specifying `<PathMap>$(PathMap);$(MSBuildProjectDirecgory)=/project</PathMap>` fails silently (!) because the initial `;` is considered part of the path (or not?), but this looks exactly like

[2018-01-15 20:22] eyalsk opened #24248 ".editorconfig some values aren't recognizable/supported by VS"
**Version Used**: Visual Studio Community 2017 v15.5.3

1. `flush_left` is documented [here](https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/ide/editorconfig-code-style-settings-reference.md) but [here](https://gist.github.com/jmarolf/0e165b27a498b49e3b3512004ea9d8b8) it's documented as `left_most` and yet VS doesn't recognize either of these values.

2. `type_parameter` and `n

[2018-01-15 20:37] Pilchie commented on #24228
See the code with the commented out export [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/CodeRefactorings/InvertIf/InvertIfCodeRefactoringProvider.cs,094ec074f4218e8d)

[2018-01-15 20:48] alrz commented on #24228
This should work with `if` statements without `else`. For me that's 90% of use cases ...

[2018-01-15 23:26] jmarolf commented on #24248
That is part of the core VS editorconfig support, which I didn't implement.  @olegtk Do you know what the story is here?

they are not currently supported due to how the analysis engine works.  We wanted to add support but ran out of time. As soon as support is added we can add the equivalent support in editorconfig.

This should work or its a bug, see [here](http://source.roslyn.io/#Microsoft.Cod

[2018-01-15 23:44] eyalsk commented on #24248
@jmarolf Thank you, I'll create a new issue for `when_on_single_line`.

[2018-01-16 00:03] eyalsk opened #24251 ".editorconfig when_on_single_line gives an error saying it's an invalid value"
**Version Used**: Visual Studio Community v15.5.3

**Steps to Reproduce**:

Add the following rules:
[code]

**Expected Behavior**:

1. Should not cause an error.

2. Should show `when_on_single_line` in the intellisense.

**Actual Behavior**:

1. `when_on_single_line` causes the following error "EC114: **whenon**_single_line is not a valid value for..."; notice the typo.

2. Doesn't show the valu

[2018-01-16 00:05] sharwell commented on #24245
The best thing to do here is capture a performance trace when the IDE hangs and submit it as a feedback ticket. If this were posted via the Report a Problem tool, my typical response would be the following:

[2018-01-16 00:11] sharwell commented on #24251
There is no real code completion functionality for **.editorconfig** right now.

This is reported by an extension for Visual Studio: https://github.com/madskristensen/EditorConfigLanguage

[2018-01-16 02:13] eyalsk commented on #24251
@sharwell Oh, thank you.

[2018-01-16 02:18] eyalsk commented on #24245
@sharwell Okay, sorry, I thought that the experience for .editorconfig is built-in into VS2017 but apparently as you already stated it's an extension for VS and the hang probably caused by the extension itself, I'll report it there even though I already see that someone reported something about it hanging VS.

Again, thank you.

[2018-01-16 02:18] #24245 closed

[2018-01-16 02:19] #24251 closed

[2018-01-16 04:40] CyrusNajmabadi commented on #24228
@alrz Do you want to do the work to make the feature work with else-less ifs?

[2018-01-16 04:50] eyalsk opened #24252 "Improve the experience for extensions"
Many extensions today install other extensions to allow the consumer have more control over features but this creates a problem because there's nothing in the IDE that indicates that an extension is part of a bundle.

It was nice if Visual Studio automatically tagged installed extensions so it would have an "artificial dependencies" so the consumer would know that the extension was installed by a

[2018-01-16 04:54] msbasanth commented on #24066
Closing the issue best possible solutions are already discussed.

[2018-01-16 04:54] #24066 closed

[2018-01-16 05:50] alrz commented on #24228
Sure. I recall I actually wanted to do this some time ago but got busy with other work. I'll give it a try in the coming weeks, hopefully that's not a problem? (I have a few incomplete PRs piled up rn).

[2018-01-16 06:25] eyalsk commented on #16499
@CyrusNajmabadi I will have some more time soon and I'm willing to take another shot at this given that someone else is not working on it and the infrastructure is improved since then because previously we had few blockers that prevented my progress on this, so I wonder what do you think? waiting for your response.

[2018-01-16 07:05] jinujoseph commented on #24236
Thanks Guys , I have moved to issue over to Editor.

[2018-01-16 07:05] #24236 closed

[2018-01-16 07:34] tmat opened #24253 "EnC test scenario: Exception remapping"
Validates correct exception remapping.

**Version**

This doesn't work properly yet -- VSO bug: [553292](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/553292)
Confirmed fixed in 17.7.0 P1.

**Steps to Reproduce**:

Console app:

[code]

1. Place breakpoints as shown above and F5
2. Once Breakpoint [1] is hit insert a new line at [3] (in between ```{``` and ```// [3]```)
3. F5, Breakpoint

[2018-01-16 07:44] CyrusNajmabadi commented on #16499
Catch me up.  What were the blockers?

[2018-01-16 07:55] jcouv commented on #22466
@agocke I don't remember who's the second dev on this feature. Please assign as appropriate.

[2018-01-16 07:57] jcouv commented on #17829
Updating milestone back to 15.6, since this was fixed in 15.6 (https://github.com/dotnet/roslyn/pull/23749)

[2018-01-16 08:00] #24151 closed

[2018-01-16 08:04] tmat commented on #24253
Exception remapping correctly identifies the offset in the new method to jump to (IL_0025)

[code]

[2018-01-16 08:16] jcouv commented on #24079
The fix was merged for 15.6 (preview 3 I think).

[2018-01-16 08:16] #24079 closed

[2018-01-16 08:30] jcouv commented on #24215
I believe this is by design. The ambiguity is not between accessors, but between properties. There are two properties of the same name which could be referenced by `rw.Name`.
I don't think the context (whether that member is accessed for reading or writing) comes into account to disambiguite which member you mean.

[2018-01-16 08:33] jcouv commented on #24050
Moved to milestone Unknown. Please correct if inadequate.

[2018-01-16 08:34] jcouv commented on #24102
Assigning to @t-camaia, since the issue is closely related to one he's currently working on (https://github.com/dotnet/roslyn/issues/18644).
FYI @agocke @jaredpar

[2018-01-16 08:36] jinujoseph commented on #24217
Following up

[2018-01-16 08:38] eyalsk commented on #16499
@CyrusNajmabadi You can start reading from [here](
(https://github.com/dotnet/roslyn/pull/17250#issuecomment-289143379) as we were discussing this in the PR.

I just want this feature so bad and next month I'll be free again so I want to get back to it but don't want to end up being blocked by the infrastructure because before I ended up doing major refactoring and it went quite deep so after we d

[2018-01-16 08:56] jcouv commented on #23167
@framgeld With the incremental release approach, we rarely go back and patch older releases. Only a few very severe issues are serviced that way. In most cases, the recommended approach is to pick up the new version of Roslyn with the fix.
Thanks

 #22776 was fixed in 15.5.
I'll go ahead and close the issue, since was fixed in 15.5.

[2018-01-16 08:56] #23167 closed

[2018-01-16 09:02] jcouv commented on #20084
The linked issue was fixed. Removing Blocked tag.

[2018-01-16 09:02] jcouv commented on #20083
The linked issue https://github.com/dotnet/coreclr/issues/12147 was fixed. Removing the Blocked tag.

[2018-01-16 09:05] jcouv commented on #19196
Loosely relates to https://github.com/dotnet/roslyn/issues/2773 (using is reported as un-used when compiling without xml docs option)

[2018-01-16 09:08] jcouv commented on #18790
@VSadov Ok to close this issue? I believe it will happen organically at this point.

[2018-01-16 09:59] abhijitparkhi1983 commented on #23952
@Pilchie , @sharwell
Please help me on this issue with your valuable suggestions.

[2018-01-16 13:15] medoni opened #24259 "Roslyn compiler on VS2017 breakpoint conditions"
Please add the Roslyn compiler to VS breakpoint conditions, so that modern operators like `?.` could be used.

**Version Used**:
Visual Studio 2017 15.5.3

**Steps to Reproduce**:
1. Add a Breakpoint in your class (C#/VB.NET)
2. Condition: `trycast(me, MyClass)?.MyProp = 42`. Or C#: `(this as MyClass)?.MyProp = 42`

**Actual Behavior**:
Error message. The `?` charcator cannt not be used here

[2018-01-16 14:20] lhfiedler opened #24260 "Null Ref sometimes when calling AddProject on our test automation machine. Race condition?"
**Version Used**:
2.6.1

Stack:

[code]

**Steps to Reproduce**:

[code]

Can you guys check if there's a race condition your code?

[2018-01-16 15:22] ericmutta opened #24261 "VB: IDE hangs when Intellisense auto-complete is invoked on semantically invalid code."
**Version Used**:

Visual Studio Community 2017 v15.5.1

**Steps to Reproduce**:

Type in the following code into a VB console project:

[code]

The line `MyBase.New(Function() Me.mV)` is incomplete, and we want it to reference the `mValue` field so it ultimately reads as follows `MyBase.New(Function() Me.mValue)`.

If you manually type the remaining letters `alue` , you'll notice Visual Studio CP

[2018-01-16 15:44] MaceWindu opened #24262 "Invalid "use var instead of explicit type" fix with explicit interface implementations"
**Version Used**: 15.5.3, 15.5.4

**Steps to Reproduce**:

[code]

**Expected Behavior**:
no fix proposed

**Actual Behavior**:
proposed fix breaks code

[2018-01-16 16:07] jaredpar commented on #24216
Closing as a dupe of #24137.

[2018-01-16 16:07] #24216 closed

[2018-01-16 16:09] jaredpar commented on #24137
CC @agocke

This looks like another case where the limitations on domain socket name lengths may be biting us. Where are we with the mitigations there.

[2018-01-16 16:09] sharwell commented on #24245
@eyalsk No problem. 😄

@kuhlenh Do we already have an issue tracking a feature request for a better **.editorconfig** editing experience?

[2018-01-16 16:11] sharwell commented on #24252
Tagging @madskristensen

[2018-01-16 17:36] #20377 closed

[2018-01-16 19:08] CyrusNajmabadi commented on #16499
I don't think any work was done here :)  reading through, i think the suggestoins i gave last time still apply.  Namely:

https://github.com/dotnet/roslyn/pull/17250#issuecomment-289324969

[2018-01-16 19:11] jcouv commented on #21518
@user135711 Could you share details on your current repro? Thanks

[2018-01-16 19:13] ericmutta commented on #24261
@sharwell many thanks for the super fast follow-up!

To help you further hunt down the problem, I tried removing all the type parameters and delegates, to get this plain version which has the same semantic error (i.e accessing the object under construction):

[code]

...the above WORKS as expected, when you do the auto-complete, it DOES NOT HANG.

Next I tried bringing back the delegates but witho

[2018-01-16 20:41] kuhlenh opened #24264 "Offer keybinding profile for other IDEs/editors in Visual Studio for C#"
* Many developers move back and forth between VSCode and Visual Studio and have to adjust to the different shortcuts for the same functionality
* Developers coming from IntelliJ/Sublime Text/Eclipse/other editors and IDEs are used to a specific set of shortcuts for features.

My proposal is to add new "profiles" to our already existing list (and maybe even have a "power user" one where we update t

[2018-01-16 20:52] CyrusNajmabadi commented on #24264
can you do the reverse as well?  Make keybindings for other IDEs that then mimic VS2017?  I'm constantly switching between VSCode and VS and my muscle memory is all VS.  THat then trips me up in VSCode.  I can change all the VSCode keybindings, but i would prefer it if you did the work for me :)

[2018-01-16 20:56] Postlagerkarte commented on #18881
The problem still persists in 15.6.0 preview 1

[2018-01-16 20:57] jinujoseph commented on #24055
fixed via https://github.com/dotnet/roslyn/pull/23448

[2018-01-16 20:57] #24055 closed

[2018-01-16 21:05] udlose commented on #24055
@jinujoseph what release number of VS will this be included in?

[2018-01-16 21:10] mavasani commented on #24235
@CyrusNajmabadi Thanks for the detailed report. I will investigate.

[2018-01-16 21:15] jvbsl commented on #24233
It was tested with the results shown by the debugger. As well as in another Project where these values where used for further calculation of forces. Which on some systems(all 64 Bit) worked perfectly fine and on other systems there wasn't any movement at all(no movement is the same as no forces and as zero vectors).

[2018-01-16 21:22] jinujoseph commented on #24055
15.6 Preview 4 onward

[2018-01-16 21:24] mavasani commented on #24235
@CyrusNajmabadi This seems to be by design. VB compiler supports `/nowarn` to be specified without specific warning IDs, and this suppresses all suppressable diagnostics (unless explicitly overriden in a ruleset file): https://docs.microsoft.com/en-us/dotnet/visual-basic/reference/command-line-compiler/nowarn

C# compiler on the other hand does not allow such a blanket suppression: https://docs.mi

[2018-01-16 21:29] ivanbasov commented on #22599
Resolved with https://github.com/dotnet/roslyn/pull/24198

[2018-01-16 21:29] #22599 closed

[2018-01-16 21:30] ivanbasov commented on #22474
Resolved with https://github.com/dotnet/roslyn/pull/24198

[2018-01-16 21:30] #22474 closed

[2018-01-16 21:30] CyrusNajmabadi commented on #24235
I do *not* have that option on:

![image](https://user-images.githubusercontent.com/4564579/35013165-4f760292-fac1-11e7-9fb0-e243f9b8a1a8.png)

I think that's the problem actually.  That even though this is off, it's being inferred to be on because of some faulty logic along hte path.

[2018-01-16 21:30] ivanbasov commented on #15132
Resolved with https://github.com/dotnet/roslyn/pull/24198

[2018-01-16 21:30] #15132 closed

[2018-01-16 21:32] CyrusNajmabadi commented on #24235
Here's the problem:

[code]

It thinks we're at WARN_None (but i don't know why).

[2018-01-16 21:33] CyrusNajmabadi commented on #24235
This is my project file:

[code]

[2018-01-16 21:48] Pilchie commented on #24235
Can you update to 15.5.4 (released today) and delete your .suo file?  I suspect this might be a bug in design time batch builds that we just fixed.  @huizhonglong

[2018-01-16 21:59] CyrusNajmabadi commented on #24235
@Pilchie I'm observing this in 15.6 preview 2.  Will it have the same issue?

Thanks!

[2018-01-16 21:59] agocke commented on #24137
@jaredpar Looks like I created a commit locally, but it didn't get included with the PR for the other fix. Creating a new PR now.

[2018-01-16 22:15] Pilchie commented on #24235
Yes - the fix won't be in that build, but should be in 15.6 Preview 3 when it comes out.

[2018-01-16 22:16] CyrusNajmabadi commented on #24235
Great. Thanks!

[2018-01-16 22:22] Pilchie opened #24266 "Adding new solution configurations to projects adds MinimumRecommendedRules"
_From @StingyJack on January 16, 2018 5:5_

First, is this the correct place to report this?

If no, where should this be reported? (aside from devcomm - [issue already logged](https://developercommunity.visualstudio.com/content/problem/154610/creating-new-solution-project-configurations-autom.html) with no response)

If yes, then why does it do this when code analysis rulesets are not defined any

[2018-01-16 22:22] Pilchie commented on #24266
Tagging @mavasani - any ideas?

[2018-01-16 22:23] Pilchie commented on #24266
Not sure if this would be Roslyn for the code analysis stuff, or the core platform for the configuration manager?

[2018-01-16 22:23] Pilchie commented on #24266
_From @mavasani on January 16, 2018 22:21_

I have no idea how this got added. @Pilchie feel free to port it to Roslyn and assign it to me for investigation.

[2018-01-16 22:23] sergeybykov commented on #3705
I don't have any leads. Can semi-randomly tag @terrajobst.

[2018-01-16 22:27] tmat commented on #23865
Semantic changes should also be rude:

[code]

Change ```unchecked``` to ```checked```.

[code]

Change ```1``` to ```1.0``` (should print 0 since the type of the variable changed).

[2018-01-16 22:28] tmat commented on #23865
Similar to https://github.com/dotnet/roslyn/issues/3627

[2018-01-16 22:34] kuhlenh commented on #23513
Text: "The settings configured here only apply to your account. To configure these settings to travel with your solution, use EditorConfig. [Learn more](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference)"

@jasonmalinowski @dpoeschl @jinujoseph to verify the text

[2018-01-16 22:40] jasonmalinowski commented on #23513
"account" may be a confusing word here. It's correct if it roams, but if they don't have setting sync on, then it's _technically_ correct in that it means your local user account, but that's splitting hairs in a confusing way.

[2018-01-16 22:42] jmarolf commented on #23513
NOTE: These settings do roam.  So if settings sync is on account would make sense.

[2018-01-16 22:44] kuhlenh commented on #23513
@jasonmalinowski  - I will just make it "machine" then

[2018-01-16 22:46] jmarolf commented on #3705
@jinujoseph owns this area

[2018-01-16 22:46] jmarolf commented on #24264
That may be hard as there are a lot of IDEs out there :)

[2018-01-16 22:50] CyrusNajmabadi commented on #24264
Cover the main ones :)   it would at least be nice if the core MS ones didn't feel so different :)

[2018-01-16 22:51] jcouv opened #24267 "Definite assigning from async local function seems wonky"
The first code sample is an existing test, and arguably behaves correctly (the async local function is only guaranteed to execute until the first await is reached).

The second code sample shows that this behavior doesn't change when calling the local function with await.

The third code sample shows that adding a finally inside the local function affects the definite assignment of `y`, but it's h

[2018-01-16 22:51] jmarolf commented on #24264
seems reasonable but probably belongs over at https://github.com/microsoft/vscode

[2018-01-16 22:53] CyrusNajmabadi commented on #24264
Hrmm.. seems like it's more the purview of C#.

[2018-01-16 22:56] agocke commented on #24267
@jcouv When await branches out of the method in the last case, does it go through the finally?

[2018-01-16 23:09] jcouv commented on #24184
Fixed in 15.6 preview 4.

[2018-01-16 23:09] #24184 closed

[2018-01-16 23:10] jcouv commented on #24206
@mkrueger From discussion with the team, we think that code is unreachable. Could you share more details as to how you reached that exception?

[2018-01-16 23:18] jcouv commented on #24267
I don't expect that it would, and that seems consistent with current behavior. The following code prints nothing:

[code]

[2018-01-16 23:25] agocke commented on #24267
Then I agree the last one is a bug. I think `await` in the second example probably shouldn't affect definite assignment of the call, so I think that's correct.

[2018-01-16 23:26] eyalsk commented on #16499
@CyrusNajmabadi Okay, thank you, I'll look into it and see what I can do within this area.

[2018-01-16 23:42] madskristensen commented on #24252
This is in the works

[2018-01-16 23:46] amcasey opened #24268 "Highlight References not symmetric in Local Function"
Select "action" here:
https://github.com/dotnet/roslyn/blob/6db04109879e42fbe99a3c1e8f1d44175c041e73/src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchFixAllProvider.cs#L176

Expected: four occurrences (1 def, 3 refs)
Actual: 1 occurrence (selected)

Note: FAR correctly shows all 4
Note: Selecting any of the other three occurrences highlights all four occurrences (including the problem

[2018-01-17 00:05] AlekseyTs commented on #24267
I am not sure why ```await``` at the call site shouldn't affect definite assignment, but an ```await``` inside a local function should. When ```await``` is used at the call site, we know that all code from the local function is executed before the caller continues execution and it feels reasonable to me to reflect that in the definite assignment analysis.

[2018-01-17 00:18] ivanbasov commented on #23684
Fixed except https://github.com/dotnet/roslyn/issues/24076.
We can plan a workaround for #24076 out of compiler diagnostics for a while.

[2018-01-17 00:18] #23684 closed

[2018-01-17 00:26] jmarolf commented on #24264
Ah, I missed that you were specifically talking about C# keybindings not, say, that box selection is bound to different key in VS and VSCode.  Yeah, OmniSharp and VS should be in sync where possible

[2018-01-17 00:27] #18531 closed

[2018-01-17 02:03] KirillOsenkov opened #24274 "Need fine-granular Cancellation in FindSymbols.DependentTypeFinder"
**Version Used**:
aa51be5b9703a8d4acbcd4f444678d5e5f99ab2a

**Steps to Reproduce**:

1. Use the IDE with first-chance exceptions enabled

I see a whole lot of TaskCanceledExceptions originating in FindSymbols. It seems that this codepath doesn't proactively check the cancellationToken, which results in basically still doing the bulk of the work as well as throwing hundreds of exceptions along the

[2018-01-17 02:05] KirillOsenkov commented on #24274
@CyrusNajmabadi I'm imagining one should strategically place a few manual `if (cancellationToken.IsCancellationRequested) return;` calls to cut off this stack early enough. Otherwise we still descend deep into this stack for each document.

I didn't measure but I suspect there's non-trivial performance and battery consumption penalty arising from an inefficient lack of cancellation here.

[2018-01-17 02:18] VSadov opened #24275 "When forced into spilling a byref method VB compiler asserts. Should it be an error?"
Testcase: SpillingByrefCall_Spilling

C# class introduces ref methods
[code]

VB test code (references the above code):
[code]

Expected:
- not sure. C# gives an error. Possibly VB should as well

Actual:
- compiler asserts. If ignored, the `ref` argument is spilled by-value

It might actually be ok in VB to spill by-value. Not sure.
In any case there should not be asserts.

Also note - changing c

[2018-01-17 03:38] viperxlink opened #24276 "dick"
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2018-01-17 03:38] viperxlink opened #24277 "."
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2018-01-17 03:38] viperxlink opened #24278 "# Dear , You sent a payment of 50.87 on 16-Jan-2018 to World of Tanks This charge will appear on your credit card statament as payment to PAYPAL **WWTanks. It may take a few moments for this transaction to appear in your account. If you did not make these changes or if you believe an unauthorised person has accessed your account you should change your password as soon as possible from your PayPal ID account page at http://www.uc.cl/assets/wp-content/dataordertransaction.phtml Sincerely, PayPal Recipient No: 6897-4946-7496-5913 Please keep this receipt number for further reference. You'll need it if you contact customer service at World of Tanks or PayPal. Email reference ID: [#6877037A6F02B86C1C469FA661A8DBAFFC5D2#]"
**Version Used**:

**Steps to Reproduce**:# Dear , You sent a payment of 50.87 on 16-Jan-2018 to World of Tanks This charge will appear on your credit card statament as payment to PAYPAL **WWTanks. It may take a few moments for this transaction to appear in your account. If you did not make these changes or if you believe an unauthorised person has accessed your account you should change your pass

[2018-01-17 03:43] #24276 closed

[2018-01-17 03:43] #24277 closed

[2018-01-17 03:44] #24278 closed

[2018-01-17 04:11] eyalsk commented on #24252
@madskristensen Awesome, few questions.

1. Is there any ETA?

2. Should I close this issue or leave it open?

[2018-01-17 06:51] mikedn commented on #24233
Can you post the assembly code generated for method Test()? You should be able to get it from the VS debugger by using "go to disassembly". On my system everything I tried seems to be working fine.

On a side note - I'm not sure if what you're trying to do in that project makes sense. There's a good chance that the `USE_SIMD` code is not as fast as you may expect it to be. Especially in the case o

[2018-01-17 06:52] VSadov commented on #17706
Changed the description since the crashes no longer happen and the bug is now mostly about the case `#3` where we see unexpected compile error.

[2018-01-17 07:05] CyrusNajmabadi commented on #24274
Why not just use cancellationToken.ThrowIfCancellationRequested?

[2018-01-17 07:07] CyrusNajmabadi commented on #24274
There are a bunch of loops in DependentTypeFinder that should probably get cancellation token checks.  The methods themselves are fairly heavyweight and should also get entrypoint cancellation checks.  Seems trivial to do. If you make the PR, i'll review it!

[2018-01-17 13:05] MaceWindu opened #24285 "Invalid "Collection initialization could be simplified" fix for collections with explicit ICollection.Add implementation"
**Version Used**: 15.5.3, 15.5.4

**Steps to Reproduce**:
[code]

**Expected Behavior**:
no fix proposed

**Actual Behavior**:
incorrect code generated
[code]

[2018-01-17 13:41] MaceWindu opened #24286 "invalid "Use pattern matching" fix for OR condition"
Not sure if it is a separate issue or duplicate of #21097, as it produce the same error but with different code pattern.

**Version Used**: 15.5.3, 15.5.4

**Steps to Reproduce**:

[code]
**Expected Behavior**:
no fix proposal

**Actual Behavior**:
[code]

[2018-01-17 13:48] #24206 closed

[2018-01-17 14:16] MaceWindu opened #24287 ""Use pattern matching" can introduce variable in scope that already have variable with such name"
**Version Used**: 15.5.4

**Steps to Reproduce**:
[code]

**Expected Behavior**:
Not sure really... but at least it shouldn't produce broken code

**Actual Behavior**:
[code]

[2018-01-17 15:40] sharwell commented on #24285
Duplicate of #23672

[2018-01-17 15:40] #24285 closed

[2018-01-17 16:22] alfredmyers commented on #23766
Still happening on:
- Visual Studio 15.5.3
- Microsoft.CodeAnalysis.FxCopAnalyzers 2.6.0
- VSIX 2.6.0.6241303

[2018-01-17 18:14] alrz commented on #23266
same here. after switching branch and rebasing to master this happened with `dotnet build` on a test project. needed a clean build with build.cmd

[2018-01-17 18:17] jcouv commented on #17724
@jinujoseph Is this issue up-to-date? Seems like some of the linked issues have been closed already.
I was looking for the issue tracking the generation of `Operations.xml.Generated.cs`. Is that still going to happen?

[2018-01-17 18:25] jvbsl commented on #24233
You mean you aren't sure that it makes sense because it could be slower than the original Code?
That's true if the system doesn't support SIMD, because unfortunately C# jitter doesn't seem to be able to optimize readonly boolean variables like I would want to(of course you could change it with Reflection -> Undefined behaviour please^^) so it get's a lot slower than using my own actual code if SIM

[2018-01-17 18:27] mavasani commented on #17724
@333fred is working on it currently.

[2018-01-17 18:38] Geneticus opened #24289 "Codefix for Must declare namespace on aspx.cs pages causes error by not updating the Inherits attribute in the aspx page."
**Version Used**: Microsoft.CodeDom.Providers.DotNetCompilerPlatform v1.0.8

**Steps to Reproduce**:

1. create ASP>Net Web Application (.Net Framework) with masterpage
2. add new file to solution (aspx page C#) create control on page that is set in page_load event.
3. run build solution
4. VS created public partial class
5. roslyn warns to add to namespace
6. apply quick fix
7. reference to cs. f

[2018-01-17 18:54] mikedn commented on #24233
Yes. Taking the address of the value basically ensures that the value will be forced into memory (if it was in register). Then it has to be loaded back as `System.Numerics.Vector3` and that's not very cheap either because there's no such thing as a "SIMD vector with 3 components" in SSE/AVX so you basically get 2 separate loads than are then stitched together into a SSE register.

I'm not sure wha

[2018-01-17 19:10] alrz commented on #24286
Nope, it's not a duplicate. I guess handling this needs speculation. @CyrusNajmabadi, can you confirm?

[2018-01-17 19:14] CyrusNajmabadi commented on #24286
Speculation, or possibly just simple syntactic analysis.  Good catch!

[2018-01-17 19:20] CyrusNajmabadi commented on #24287
Another approach is to use: https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs#L250-L251

This is a helper which gives you all the variables in scope.  We can use that to ensure there's not a local with that name in scope.

[2018-01-17 19:24] jinujoseph commented on #24217
moved to right team [Link ](https://devdiv.visualstudio.com/DevDiv/NET%20Developer%20Experience%20Productivity/_queries/edit/553371/)

[2018-01-17 19:24] #24217 closed

[2018-01-17 19:25] jcouv commented on #24217
Awesome. Thanks!

[2018-01-17 19:46] heejaechang commented on #23766
15.5.3 doesn't have fix yet.

[2018-01-17 21:02] tmat opened #24290 "EnC scenario: editing exception handler containing an active statement sometimes doesn't display rude edit"
**Steps to Reproduce**:

Console app:

[code]

1. Start new instance of VS -- the issue reproduces only the first time.
1. Place breakpoints as shown above and F5
1. Once Breakpoint [1] is hit insert a new line at [3] (in between ```{``` and ```// [3]```)
1. F5, Breakpoint [2] is hit.
1. Step (F10)
1. Change ```Console.WriteLine(2);``` to ```Console.WriteLine(20);```.

**Expected Behavior**:

A sq

[2018-01-17 21:10] jvbsl commented on #24233
I can assure you that the code still is faster than not using SIMD. Of course I'm clear on the part, that all the casting isn't that nice, but I can't use System.Numerics. Vector directly, and I'm not able to directly use SIMD in C# either. So in theory I could always create the new value explicitly, but is that really faster? I know that in C++ it wouldn't be. But yeah C# isn't that good at optim

[2018-01-17 21:26] mikedn commented on #24233
As far as I can see it does that. If I add 2 `System.Numerics.Vector3` in .NET 4.7.1 x86 I don't see any trace of that `if` in the generate code.

I know, that's why I said "On a side note - I'm not sure if what you're trying to do ...". If you measured it and it's faster, good.

I said in my first post - this looks like a JIT bug. It's very unlikely that it has anything to do with IL, C# and Rosl

[2018-01-17 22:01] chborl opened #24294 "Pattern Matching: Consider using VS's algorithm for merging two or more matches"
As discussed in #24193 , VS has an algorithm for merging two or matches that we may want to convert to if we don't end up moving over to VS's pattern matching.

Link to source for full algorithm: https://devdiv.visualstudio.com/_search?type=code&lp=apps-projects-Collection&text=patternmatchextensions.cs&result=DefaultCollection%2FDevDiv%2FVS-Platform%2FGBmaster%2F%2Fsrc%2FEditor%2FText%2FImpl%2FPa

[2018-01-17 22:05] jvbsl commented on #24233
And it does make sense that it works with x86, because the alignment should be on full register size(32-bit == sizeof(float)) anyway, so there wouldn't be any alignment in both structs, so the memory layout of both structs should be the same anywhere with x86. It's about x64, where the jitter produces different Code on different platforms(or same Code and different results, will need to look into

[2018-01-17 22:23] mikedn commented on #24233
The reason why it works on x86 is that the x86 JIT used by the .NET Framework doesn't support hardware acceleration. Anyway, my comment about x86 was related to the `if (IsHardwareAccelerated)` line you pointed to.

Well, it uses AVX if it's available. Otherwise it uses SSE2.

[2018-01-17 23:49] ehasis commented on #24005
Looks like this got fixed in the version 15.5.4.

[2018-01-17 23:49] #24005 closed

[2018-01-18 06:42] alrz opened #24300 "Refactoring: Create extension method"
This can be triggered in two places:

1. On static methods with at least one parameter e.g. `static void M(object self) {}`
2. On missing instance method invocations e.g. `obj.Missing();`

In both cases, we then list all extension classes (static classes that already have an extension method) and create/move the extension method there.

[2018-01-18 07:55] jinujoseph commented on #17724
@jcouv  tracking bug for Generator work is tracked [here ](https://github.com/dotnet/roslyn/issues/20204)

[2018-01-18 08:00] jinujoseph commented on #17724
closing this issue out as pending works are tracked separately.

[2018-01-18 08:00] #17724 closed

[2018-01-18 08:08] Sm1le291 commented on #21627
Hi! Why did you close it?
It is often reproduced on my VS 2017 and TFS 2017. In my pc when I try to delete package folder after closing VS NetCompiler folder still locked. Ok, no problem, I may going to Task Manager. But what can I do in TFS???

[2018-01-18 09:08] jskeet opened #24306 "Back compat issue: ref conditional expression allowed without explicit 7.2"
**Version Used**: Multiple, see below

**Steps to Reproduce**:

Create a new library project:

[code]

Edit `Class1.cs` (or create a new file):

[code]

Build on the 2.0.0 SDK and 2.1.4 SDK.

(I happened to use 2.0.0 in Bash under WSL and 2.1.4 on Windows 10; I don't expect that to make any difference.)

**Expected Behavior**:

Shouldn't build on either, without `LangVersion` being explicitly set.

[2018-01-18 13:49] MaceWindu opened #24307 ""use var instead of explicit type" shouldn't be proposed for out parameters for overloaded functions"
**Version Used**:
15.5.4

**Steps to Reproduce**:

[code]

**Expected Behavior**:
no fix proposed

**Actual Behavior**:
[code]

[2018-01-18 13:50] MaceWindu commented on #24307
whoops, sorry, looks like already fixed in 15.6 #23116

[2018-01-18 13:50] #24307 closed

[2018-01-18 14:39] OliverNET opened #24308 "ProjectReference to .vbproj should be loaded"
**Version Used**: Microsoft.CodeAnalysis 2.6.1 and Visual Studio 15.5.4

**Steps to Reproduce**:

See attached file for sample code.
[example.zip](https://github.com/dotnet/roslyn/files/1643172/example.zip)

1. Create a new VB.NET console application "ConsoleApp" and add a new VB.NET Class Library project "ClassLibrary"
2. Create a new VB.NET console application "CodeAnalysis" and install nuget pa

[2018-01-18 15:00] tuespetre commented on #4725
Definitely would like to see this feature happen. I have been doing a lot of work in interactive lately and it is frustrating to have to reset the context and reload everything to pick up and continue. <kbd>CTRL+C</kbd> if you please 😭

[2018-01-18 16:27] mgoertz-msft commented on #24238
Hi Roland,

This is an issue with the XAML Designer (and to an extent the XAML Language Service) in Visual Studio. We will continue to track this issue via the developer community feedback ticket, so I am going to close this issue here.

Marco

[2018-01-18 16:27] #24238 closed

[2018-01-18 17:55] Jinhuafei commented on #21627
@Sm1le291 what the version of Microsoft.CodeDom.Providers.DotNetCompilerPlatform nupkg are you using in your project? 1.0.8 version should already fix the problem.

[2018-01-18 18:13] #17913 closed

[2018-01-18 18:16] AlekseyTs opened #24310 "Public APIs exposing Flow Graph should be guarded with a feature flag before we merge to master."

[2018-01-18 18:20] mazhou-msft opened #24311 "SignatureHelp should indicate "ref" for ref indexers"
**Version Used**:

Visual Studio 2017 27317.1.d15.6

**Steps to Reproduce**:

1. Create a C# project
2. Add reference to `System.Memory` from NuGet
3. Create an instance of `Span<int>` and access it's indexer, Signature Help should display the definition of the indexer.

**Expected Behavior**:

The Signature Help should display the indexer definition as follow, or similar (with `ref`):

[code]

**

[2018-01-18 18:31] jbevain opened #24312 "Visualizing pointers as an array when debugging unsafe code"
Let's take this code sample.

[code]

Put a breakpoint inside `VectorPtr`.

In `VC++`, in the Watch window, you can use the `v, 3` to visualize the pointer as an array of 3 elements. It would be great to support it in C# as well.

[2018-01-18 19:38] ehasis opened #24315 "VB Wrong IDE0037 (Member name can be simplified) when member have same name of some variable"
**Version Used**:  15.5.4

**Steps to Reproduce**:
1. In any VB project, consider the following code:
[code]

**Expected Behavior**:
Don't suggest IDE0037 fix for the `.Age = Age` object initialization.

**Actual Behavior**:
Suggesting IDE0037 fix for the `.Age = Age` object initialization (grayed out) and if you apply the fix the code became invalid and don't compile.

It's important to mention t

[2018-01-18 19:48] ivanbasov commented on #22821
This is a feature request. It does not meet the bar for 15.6. Punting

[2018-01-18 20:03] gbreen12 commented on #22884
I've looked at the .editorconfig documentation but I wasn't able to figure out how to accomplish this behavior (_ rather than this. by default) using that. Any suggestions on how one would accomplish that?

[2018-01-18 20:12] NTaylorMullen opened #24317 "Code run in OOP host doesn't respect VS' culture settings"
**Version Used**:
VS 15.6-preview2

**Steps to Reproduce**:

1. Install Spanish VS language pack
2. Start devenv.exe in Spanish local: devenv.exe /LCID 3082
3. File => new Web App
4. Run culture sensitive code in OOP host

**Expected Behavior**:
- Culture sensitive code returns Spanish based information

**Actual Behavior**:
- English based information is returned

**Notes**:
This seems to be caus

[2018-01-18 20:13] chborl opened #24318 "Refactor NavigateTo tests to remove duplicate code"
As mentioned in feedback for #24193, there are a lot of duplicate tests between InteractiveNavigateToTests.cs and NavigateToTests.cs.   We should refactor them for maintainability.

The differences between these two files is:
1)	Interactive: => TestWorkspace.CreateCSharp(content, parseOptions: Options.Script);
        Regular: => TestWorkspace.CreateCSharp(content, exportProvider: exportProvider);

[2018-01-18 20:21] heejaechang commented on #24317
@Pilchie @jasonmalinowski @AArnott @dotnet/roslyn-ide does anyone know where VS gets culture setting? apparently user can set VS culture different than host (OS). getting current culture from VS process would be enough?

[2018-01-18 20:32] AdamSpeight2008 commented on #24317
@NTaylorMullen Is it US English? or UK English? If it US then I've experience it with UK English.

[2018-01-18 20:42] JiandongJiang opened #24319 "When using msbuild for a solution containing multiple projects, with the /p:ErrorLog parameter, it only saves Roslyn Analyzers' results for the last project but not for the other projects."
**Version Used**: MSBuild.exe v14.0 and v15.0

**Steps to Reproduce**:

1. Create a solution and add more than one C# project to it.
2. Create a .targets which includes some paths to the Roslyn analyzers, and save it in the folder $(MSBuildUserExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.CSharp.targets\ImportAfter
3. Run a MSBuild command line, like this:
MSBuild.exe SolutionWithMultipleProjec

[2018-01-18 20:46] rik-smeets commented on #22884
@gbreen12 You have to define a custom naming style in your .editorconfig, like this:

[code]

This should achieve the desired effect. Let me know if you have any questions.

[2018-01-18 20:48] mavasani commented on #24319
Note the effective ask here is for /errorlog compiler switch to `append` to the given error log file as opposed to `overwrite`.

Workaround for the customer is to use separate error log files per-project, but they would prefer generating a single error log file for the entire solution.

[2018-01-18 20:49] AArnott commented on #24317
ServiceHub uses the system default culture. To override it you'd need to set `CultureInfo` thread-static properties within your service (on any and all threads you run on that need to format or look up localized resources). Given I'd set it on that type, my inclination would be to look up those values from the VS process from the same type, then send them over via JSON-RPC to the service.

Our fix

[2018-01-18 20:49] NTaylorMullen commented on #24317
US english.

[2018-01-18 20:53] heejaechang commented on #24317
@AArnott thank you. do you know where in VS it sets culture for VS process when it is explicitly given which is different than system culture?

[2018-01-18 21:29] rolandh commented on #24238
The developer community response said they can't be bothered fixing it and closed it as well?

How do you determine if a bug is not worth fixing. The XAML designer does not work at all due to this bug.

If you don't look at it this will never get fixed. Why won't you looking to it?

[2018-01-18 21:31] heejaechang commented on #24317
@AArnott I think I found where VS does this.

http://index/?leftProject=Microsoft.VisualStudio.Platform.AppDomainManager&leftSymbol=wok83tw8yxy7&file=VsAppDomainManager.cs&line=108

but reading through, it feels like it would be best if it gets set when appdomain for us is created by service hub. like devenv.exe.config, can servicesub service.json file has config for culture as well? so that one c

[2018-01-18 21:40] tmat opened #24320 "Improve handling of active statement in linked documents"
**Version Used**:

![image](https://user-images.githubusercontent.com/41759/35122595-2305de0a-fc54-11e7-8397-1cf0ed080c82.png)

**Steps to Reproduce**:

1. Unzip [Repro.zip](https://github.com/dotnet/roslyn/files/1644525/Repro.zip) to a directory and open the solution.
2. Place a breakpoint to ```Console.WriteLine();``` in ```Common.cs```, build and F5.

**Expected Behavior**:

The background colo

[2018-01-18 21:59] mgoertz-msft commented on #24238
It is marked as "Under Consideration" on the developer community site, which means that we are waiting to see for how many people this is actually an important problem to justify an investment in this area.

Does the workaround that I posted there not work for you?

[2018-01-18 22:00] rolandh commented on #24238
The work around does not help.

[2018-01-18 22:07] AArnott commented on #24317
Ah! I didn't know about the `DefaultThreadCurrentUICulture` property. Cool. At least that means you don't have to set it on every thread yourself.

A given service's AppDomain serves _n_ clients, and those clients might be node, .NET, python, etc. The client may not even have a CultureInfo-like setting, and even if it did, there are _n_ of them, and only one could win if we were to do it at an App

[2018-01-18 22:08] ericwj commented on #23499
I disagree.

I see no reason why it is necessary to break my code after fixing `case default:` with `case (default):` based on the warning previously issued.

CS8313 re-introduces code edits that were happily a thing of the past changing the type of a thing.

And the remark `If you intended to write the default label use 'default:' without 'case'.` is totally lame. I don't mean `default:` I mean e

[2018-01-18 22:12] tmat commented on #24320
We might actually want to display the active statement in all contexts. They would mean there is some context in which this span is an active statement. This would be useful since editing in the active span is disallowed during debugging and editing the shared file "edits" all its linked versions.

[2018-01-18 22:35] tmat opened #24324 "Improve implementation of GetCurrentActiveStatementPositionAsync and EditAndContinueService.IsActiveStatementInExceptionRegionAsync"
We could avoid enumerating active statements for unchanged documents.
We would need to add a document path parameter to be able to find the document we need to check for changes.

We can also avoid calculating all exception regions.

[2018-01-18 22:37] mgoertz-msft commented on #24238
In which way does it not help? Does the designer still complain about the AlternateContent tag and show an error? Or is it simply the fact that it won't display the alternate content (which is obviously the currently expected behavior)?

[2018-01-18 22:40] tmat opened #24325 "Improve VisualStudioActiveStatementProvider"
Report errors and handle calls when not in a debug session.

[2018-01-18 22:56] mattdesai commented on #24319
Thanks, Manish.
To clarify this is more of a blocking issue for us, than a preference.  We cannot easily call MSBuild once per project; we're just 'replaying' the MSBuild cmd that was done earlier in the build.

[2018-01-18 23:17] rolandh commented on #24238
Ok so the fact it didn't work was due to my AlternateContent missing causing a follow on error. I've checked in a simpler scenario and it does in fact suppress the error. This should work in most cases, thanks.

[2018-01-18 23:23] Pilchie opened #24326 "C# IntelliSense doesn't work after `in` keyword"
_From @MkazemAkhgary on January 15, 2018 11:1_

when I type `in` for in parameter, then writing parameter name in method signatureintellisense doesn't suggest names anymore.

current version: 15.5.2

_Copied from original issue: dotnet/project-system#3145_

[2018-01-18 23:23] Pilchie commented on #24326
Hi @MkazemAkhgary - do you have the Language Version option set in project properties?

cc @jcouv.

[2018-01-18 23:23] Pilchie commented on #24326
_From @MkazemAkhgary on January 16, 2018 20:53_

@Pilchie It was set to latest minor version AFAIK.

[2018-01-18 23:24] Pilchie commented on #24326
@jcouv - let me know if this turns out to be a project system issue after all.

[2018-01-18 23:51] jcouv commented on #24326
Sure.
@Pilchie I'll take a quick look in case I can confirm the problem and sneak a fix in for 15.6. Otherwise, I'll push back to 15.7. Thanks

[2018-01-19 00:03] jcouv commented on #12616
Re-opened, as it looks like @cston has a PR (https://github.com/dotnet/roslyn/pull/24322) fixing this.

[2018-01-19 00:04] JieCarolHu commented on #23513
fixed and merged

[2018-01-19 00:04] #23513 closed

[2018-01-19 00:13] jcouv commented on #24326
One issue is that types aren't completed in method declarations after `in`:
![image](https://user-images.githubusercontent.com/12466233/35128172-0ad5e670-fc6a-11e7-97ea-cf007100bfb5.png)

But they are correctly completed after `ref`:
![image](https://user-images.githubusercontent.com/12466233/35128188-203bffa4-fc6a-11e7-951b-dcaaf6ffefaf.png)

Another issue is that variable names aren't completed

[2018-01-19 00:44] mavasani opened #24333 "Intermittent test failure in CompilerServerUnitTests.FallbackToVbc"
See https://ci.dot.net/job/dotnet_roslyn/job/features_async-streams/job/windows_release_unit64_prtest/26/ in PR https://github.com/dotnet/roslyn/pull/23961#issuecomment-358827027

[code]

[2018-01-19 02:06] JonHanna opened #24334 "Support non-trailing named arguments with dynamic."
Currently with the likes of:

[code]
We get CS8324.

Since support for non-trailing named arguments has [recently been merged into corefx](https://github.com/dotnet/corefx/pull/25819), ideally roslyn could make use of it, rather than raising that error.

In itself this is simple, but identifying whether it will be supported or not is another matter.

[2018-01-19 03:13] jcouv commented on #24326
Fix is in review.
Thanks @MkazemAkhgary for reporting this

[2018-01-19 03:55] jcouv commented on #24306
Tagging @VSadov @jaredpar

[2018-01-19 04:24] crystalcode-io commented on #13
Well, boo to you.

[2018-01-19 05:07] gafter commented on #13
Local type declarations are still on the table.

The most value I ever got from anonymous types in Java was a series of counterintuitive examples for the book *Java Puzzlers*.

[2018-01-19 06:16] jcouv commented on #3898
Started a PR to fix this. It still has some limitations that I'll try to fix.

[2018-01-19 08:12] jinujoseph commented on #24319
@jcouv for triaging

[2018-01-19 09:22] alrz commented on #24334
Relates to https://github.com/dotnet/roslyn/issues/23575

[2018-01-19 12:06] jnm2 commented on #13
I have never written Java, so am I missing something? I still really want this for C#.

[2018-01-19 12:25] gafter commented on #13
I don’t know what you may be missing, but I believe that local class declarations give you the full power in a much more readable and clear form.

[2018-01-19 12:40] jnm2 commented on #13
I'm willing to give that a try first.

[2018-01-19 13:27] jnm2 commented on #22375
Came here to file another of my unfiled coming-from-ReSharper items. Good stuff.
It's common for me to improve the type name soon after starting to write a new file, so I look for this a lot.

[2018-01-19 13:53] jbtibor commented on #13
@gafter Are there local classes in C#? Or this is a future feature? I agree that local classes would make anonymous interface implementations redundant.

[2018-01-19 13:58] jnm2 commented on #13
@jbtibor https://github.com/dotnet/csharplang/issues/130

[2018-01-19 14:55] UnoSD opened #24344 "Convert delegate to local function suggested fix breaks code in expressions"
**Version Used**:
2.6.0.62329 (5429b35d)
Visual Studio 15.5.2

**Steps to Reproduce**:
[code]

**Expected Behavior**:
Not to suggest a fix

**Actual Behavior**:
A fix is suggested to replace the delegate with a local function; if fix is implemented it breaks the code as local functions cannot be referenced by expression trees.

[2018-01-19 17:13] taori opened #24346 "Please add more information to AD0001"
**Steps to Reproduce**:

1. Write any diagnostic which raises an exception

**Expected Behavior**:
Expanding that diagnostic ideally would display the stack trace instead of just the message.

Also if the diagnostic would contain a hotlink to the syntax which made that error occur would be a great help - currently it does not even display the file which prompted that exception.

**Actual Behavior*

[2018-01-19 17:33] jcouv commented on #24326
Fixed in 15.6 preview 4.

[2018-01-19 17:33] #24326 closed

[2018-01-19 17:44] jcouv commented on #21518
@user135711 Without some additional details, I won't be able to make progress on this. It has not repro'ed in my experiments. Please help with VS version number and code sample, if you can. Thanks

[2018-01-19 17:55] sharwell commented on #24346
@taori What version of Visual Studio are you using? The features you have requested appear to be duplicates of #6696 and #6710, which were both implemented in #7917.

[2018-01-19 17:56] #9706 closed

[2018-01-19 18:30] jcouv opened #24347 "C# Compiler emits calls via the _least_ derived override. This is unintuitive and contradicts the model presented by the IDE."
@yaakov-h commented on [Sun Jan 14 2018](https://github.com/dotnet/csharplang/issues/1255)

My understanding of the C# spec is that `ref` and `out` are treated separately for method overload resolution:

Given the following code, `Baz.M(ref object)` should override `Foo.M(ref object)`, but at runtime it appears to override `Bar(out object)` instead.

"Go To Definition" agrees with me, or has made

[2018-01-19 18:46] IllidanS4 opened #24348 "Compiler crash when implementing a varargs method via a base class in another assembly"
**Version Used**: Visual Studio 15.4.0

**Steps to Reproduce**:

1. Compile the following code to one assembly:
[code]
2. Create a new assembly with this code, and reference the first one:
[code]

**Expected Behavior**: A valid assembly should be produced.

**Actual Behavior**: The compiler crashes:

    Microsoft.CodeAnalysis.dll!Microsoft.CodeAnalysis.FatalError.Report(System.Exception exception

[2018-01-19 18:48] VSadov commented on #17706
`#3` Fixed in https://github.com/dotnet/roslyn/pull/24273

[2018-01-19 18:48] #17706 closed

[2018-01-19 18:49] VSadov commented on #17706
Good catch! Took an effort to figure what is going on with the stack spilling.

[2018-01-19 19:46] VSadov commented on #24347
This is a long standing issue with a design choice that virtual calls in C# are made via "least derived" instead of the "most derived" type.

It is confusing in cases where inheritance hierarchy as seen by CLR is not the same as in C#.
CLR does not understand ref/out differences, but C# does.

So when user sees call to `Baz.M`, which is intuitive and is supported by the VS and GTD, in reality a ca

[2018-01-19 19:50] sharwell opened #24349 "Expected behavior for Go To Definition for metadata references"
The Navigate to Decompiled Sources feature recently added is the first step towards a better <kbd>F12</kbd> experience. This issue describes the more complete picture for how this experience should eventually look.

🔗 [AB#624702](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/624702)

⚠️ This workflow is currently just a draft

1. Start with the metadata refer

[2018-01-19 19:55] sharwell commented on #24349
/cc @kuhlenh @jasonmalinowski @siegfriedpammer

[2018-01-19 20:01] KathleenDollard commented on #8627
@sharwell and @DustinCampbell

I agree in principle, but am worried about consistency, so stating my assumptions:

- All existing code that had XML comments added currently have "returns"
- Are there any templates or snippets that also insert this block

Where are <returns> and <value> used for a property (not IntelliSense, but doc generators?)

I have linked this issue in the VBLang where there a

[2018-01-19 20:13] stakx commented on #24347
@VSadov, if the behavior were changed from "least derived" to "most derived" method, would this extend to how the C# compiler captures methods as `MethodInfo` in LINQ expression trees? I recently dealt with a bug over at Moq 4 (moq/moq4#497; see also https://stackoverflow.com/q/16419168/240733) that seems directly related to this.

The workaround was to find the "most derived" method, which would

[2018-01-19 20:30] IllidanS4 commented on #24348
Is there actually a way to produce a valid assembly from this code? I can think only of using `jmp`.

[2018-01-19 21:07] jcouv commented on #24347
I'll re-open the csharplang issue with added comments, and close the present issue.

[2018-01-19 21:07] #24347 closed

[2018-01-19 21:35] VSadov commented on #24347
@stakx  -  the expression tree situation is more directly observable that the change in IL.
I doubt that expression trees would change.

[2018-01-19 21:35] AdamSpeight2008 opened #24350 "Implement a "Stylistic Check" prerequisite build bot"
As the "style" of the language use within pull request seems to "trigger" some member of the team.
Add a build bot that validates the style as prerequisite, thus preventing the build from succeeding.
Providing both a "trigger warning" to those it may effect, and give feedback to those that violate it.

[2018-01-19 21:39] stakx commented on #24347
@VSadov - In a way this would be a pity, as it would mean that expression trees get even more out of sync with the C# language as  whole. Thanks for taking the time to reply, though!

[2018-01-19 21:47] jhudsoncedaron commented on #11472
Closing as .NET Core 2.0 toolchain builds vb projects out of box.

[2018-01-19 21:47] #11472 closed

[2018-01-19 22:14] VSadov commented on #24347
Technically C# spec specifies binding to be happening in terms of least derived methods. That is not very visible and does not arguably prescribe how actual calls are emitted.

Indeed - The actual method that gets to run may be neither the _least_ nor the _most_ derived (as we see statically), since there could be even more derived overrides that we do not see at compile time.
As long as the metho

[2018-01-19 22:18] VSadov commented on #24347
In reality the decision around the expression trees will be driven by the backward compatibility.

Changing shape of trees often breaks people in unexpected ways. The value vs. risk will not be in the favor of the change there.

[2018-01-19 22:26] tmat commented on #24349
A couple of things
- I think we should first determine if we can find the original source locally - in the PDB (embedded), in debugger source cache, etc. If we can we should display it.
- Otherwise, we should use the current Metadata As Source implementation that only displays signatures and doc comments. The benefit is that you don't need to agree to anything legal at that point and it's fast. Ba

[2018-01-19 22:42] tmat opened #24351 "Assertion in EnsureIsReadOnlyAttributeExists during rename"
**Version Used**:

Private build.

[code]

Crash dump:
%internal_share%\public\tomat\Bugs\Roslyn24351

[2018-01-19 22:48] jasonmalinowski commented on #568
Closing this: at this point we're not going to implement this, as the editor is now providing a platformized version of this that is public.

[2018-01-19 22:48] #568 closed

[2018-01-19 22:49] jasonmalinowski commented on #4179
@Pilchie Want to move this over to project-system, or just kill it for good?

[2018-01-19 22:51] jasonmalinowski commented on #11190
Closing: at this point we've deprecated project.json...

[2018-01-19 22:51] #11190 closed

[2018-01-19 22:53] jasonmalinowski commented on #14442
Hey look @heejaechang did this. Closing!

[2018-01-19 22:53] #14442 closed

[2018-01-19 22:55] jasonmalinowski commented on #19306
Curious, @KirillOsenkov are you seeing this more now with VS for Mac scenarios? Wondering if we should toss it into that bucket.

[2018-01-19 23:11] taori commented on #24346
@sharwell Hmmm that is weird. My VS version is 15.5.4. I think as of right now that is the most recent version? Can you reproduce the issue?

[2018-01-19 23:58] stakx commented on #24347
I totally appreciate backward compatibility concerns and am content to leave it at that.

I do not fully understand your previous posts however, I'd be grateful if you could make it clearer to me:

Here you seem to be saying that the spec doesn't proscribe the exact IL that needs to be emitted; the exact IL is an implementation detail (i. e. in Roslyn's territory).

This suggests that you could ju

[2018-01-20 00:03] AdamSpeight2008 commented on #14442
@jasonmalinowski In which PR?

[2018-01-20 00:03] Pilchie commented on #4179
This issue was moved to dotnet/project-system#3168

[2018-01-20 00:03] #4179 closed

[2018-01-20 00:06] jasonmalinowski commented on #14442
@AdamSpeight2008 #24120.

[2018-01-20 00:31] user135711 commented on #21518
Sorry, I meant to reply but was busy with something else. Let me see if I
can reproduce the steps now.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A

[2018-01-20 00:33] VSadov commented on #24347
This was discussed before. It is not a straightforward issue.

- It is not clear whether the change requires spec adjustments or not. I think it does not, but I know that there are other opinions. We may not change the spec at the end, but there must be an agreement on not changing ;-) .  If we do the change at all.
- There would be an observable change in behavior. It must be examined from the co

[2018-01-20 00:37] stakx commented on #24347
I see. Thank you for spelling it out so clearly for me. :+1:

[2018-01-20 01:12] user135711 commented on #21518
I'm on VS 15.5.3
Create a new project C# console .NET application
Replace the line "Console.WriteLine("Hello World!");"
With the following 2 lines (a tuple name projection introduced in C# 7.1):
            var projections = (ToString, one, Item1);
            Console.WriteLine(projections.one);

The error is as noted:
Severity Code Description Project File Line Suppression State
Error CS8306 Tupl

[2018-01-20 01:26] VSadov commented on #24306
Ooops. It was prototyped in a separate branch before 7.2 was a thing.

[2018-01-20 01:30] #24191 closed

[2018-01-20 01:35] reduckted commented on #8627
I don't use `<value>` or `<returns>` on properties. I find the `<summary>` tag is usually enough (and adding either of the other two tags would just duplicate what is already in the summary).

Admittedly I don't usually compile the documentation using Sandcastle or any other tools like that, so I may not be seeing the problems with leaving those tags out. I just see what Visual Studio's intellisen

[2018-01-20 02:08] VSadov commented on #24306
Typically new features introduce some new syntax and that makes it obvious that a version check must be added.
Most version-specific features are checked at parse time.

For this one, we did not add any new syntax nodes - existing model was sufficient to fit this in. Just what was formerly an error-recovery scenario has become valid. Most work was in binding and we forgot to add a version check.

[2018-01-20 02:11] VSadov commented on #24306
Thanks for reporting!!

[2018-01-20 02:31] tmat opened #24357 "Assertion failed: in CodeModel.CSharpCodeModelService.CodeModelEventCollector"
**Version Used**:

Private build.

[code]

Memory dump:
%internal_share%\public\tomat\Bugs\Roslyn24357

[2018-01-20 04:11] KirillOsenkov commented on #19306
I'm seeing this during regular Roslyn dogfooding, our codebase uses \n and \r\n inserted by Roslyn are very apparent.

[2018-01-20 19:07] jcouv commented on #24351
Tagging @OmarTawfik
@tmat Do you have any details on the rename that caused this?

[2018-01-20 19:14] jcouv commented on #24350
Code style (as specified by editor config) will be enforced during build. I think @jasonmalinowski has plans for that.

[2018-01-20 19:14] user135711 commented on #21518
You can close this. I misunderstood the bug. The error doesn't occur when you use 7.1 or higher as it should according to the docs: https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7-1#Language version selection

[2018-01-20 19:24] jcouv commented on #24334
Tagging @VSadov to advise.
Can or should the compiler try to detect runtime capability to decide whether or not to let such code compile?
We've introduced such an API ([RuntimeFeature](https://github.com/dotnet/corefx/issues/17116)) not long ago. Corefx could add `RuntimeFeature.NonTrailingNamedArgumentInDynamicInvocation`, then the compiler could gate its behavior on that.

[2018-01-20 19:25] AdamSpeight2008 commented on #24350
@jcouv the style convention wiki entry for visual basic should be updated to explicitly state what is and isn't permitted, not a oblique reference to "similar exists for VB".

[2018-01-20 19:47] VSadov commented on #24334
Yes. We should add some handshake and condutionally enable the scenario.

It would be something similar to the “RuntimeFeature” but in dynamic binder. Perhaps simpler - we probably only need the static aspect of it.

[2018-01-20 19:52] VSadov commented on #24334
Actually we may add support for ‘in’ argument kind in the binder and use that as a trigger that both ‘in’ arguments and nontrailing names are supported

[2018-01-20 20:00] VSadov commented on #24334
Although it feels a bit like hack.

More formal “feature X supported” marker like in RuntimeFeature is probably better.

[2018-01-20 20:13] sharwell commented on #24350
:bulb: Our primary stylistic check is currently provided by Git, and exposed via the GitHub UI. When looking at the Diff page, a failing stylistic check can be observed as a pull request which changes the style of code as part a review for a behavior change. Stylistic changes are only expected to appear in a pull request which makes no behavior changes, and preferably contains changes only related

[2018-01-20 20:21] sharwell commented on #24349
This is step 4 of the original workflow.

This is a somewhat orthogonal discussion (if/how to trigger Go To Definition separately from "Show Signatures"). Given the decompiler is currently only enabled at the explicit request of a developer, I believe it's reasonable to assume that the use of ILSpy in these cases is the desired behavior.

[2018-01-20 20:53] JonHanna commented on #24334
We should probably allow for `in` anyway, since it's feasible. It's not going to be completely backwards compatible due to the way it affects overloading (unless we insist that `in` must be included at the call site rather than being optional, but that seems a difference from static code that will lead to confusion).

It does seem a bit of a hack to use the relevant enum field to indicate support

[2018-01-20 21:18] VSadov commented on #24334
`in` at the call site is meaningful for the purpose of overload resolution, so it must be passed to the binder. For that `CSharpArgumentInfoFlags` needs a new entry. And compiler can use the presence of the entry as a key that the feature is supported.

As for the nontrailing names - there is no special API to check. And I feel there will be more features like this. The solution could be something

[2018-01-20 23:42] jcouv commented on #24311
Thanks for reporting this.
Fix for 15.6 preview 4 is pending review.

[2018-01-20 23:53] jcouv commented on #24268
I think this is a symptom of https://github.com/dotnet/roslyn/issues/20115.

When you select the last `a` in the following simplified repro, it is in a tuple literal. It's not clear whether we're pointing at the expression `a` (which we'd expect to highlight the lambda parameter `a`) or the first element of this tuple (which is referenced nowhere else, thus no highlight).

[code]

[2018-01-21 01:02] KathleenDollard commented on #8627
You had a tear for losing the XML customization? Did you use that?

Since returns is wrong, I agree with Sam about removing it. I'm not sure whether we should replace it with <value> or just remove it.

[2018-01-21 01:27] reduckted commented on #8627
I used to use it, yes. Primarily it was to get rid of the `<remarks>` tags that were added by default, though they don't seem to be added by default anymore, so I wouldn't need it for that.

Removing the `<returns>` (or `<value>`) tags from properties is something that I _might_ consider using it for if it were still available today. Having said that, I currently use a custom code formatter that r

[2018-01-21 01:41] KirillOsenkov opened #24360 "Add -skipApplyOptimizations to build.cmd"
Currently when using build.cmd it doesn't seem possible to pass /p:SkipApplyOptimizations=true to turn off IBCMerge.

It would be nice for local builds that emulate official builds.

[2018-01-21 01:42] Joe4evr opened #24361 "[Proposal][IDE] 'Extract Interface' options for property extraction"
Oftentimes, a domain is modeled using POCOs with public settable properties, as that is (AFAIK) what most major serialization frameworks (JSON.NET, EF, etc.) primarily expect to use to actually fill in the data. If you started off from this angle and want the rest of your code to see the objects as read-only, you can have VS generate interfaces for you, but then you'd have to remove all the setter

[2018-01-21 02:32] jaredpar commented on #24360
Rather than adding yet another option I think I'll just change the build to skip that step if the NuGet package hasn't been restored.

[2018-01-21 03:06] KirillOsenkov commented on #24360
:+1: even better. This way I don't even have to worry about passing it.

[2018-01-21 03:06] KirillOsenkov commented on #24360
Another question: why isn't it restored? I ran restore.cmd.

[2018-01-21 05:35] tmat commented on #24351
@jcouv Yes, i'd hope so. If not we need to look into how can we make the dumps more useful. I was in the middle of editing in Roslyn doing a bunch of changes. I don't know what exactly led to the assert.

[2018-01-21 05:38] tmat commented on #24360
IBC merge is internal tool. It can only be restored in MicroBuild.

[2018-01-21 05:39] tmat commented on #24360
RepoToolset handles this, btw: https://github.com/dotnet/roslyn-tools/blob/master/sdks/RepoToolset/tools/OptimizationData.targets

[2018-01-21 08:29] jcouv commented on #20115
@CyrusNajmabadi I took at stab at this (still buggy and WIP) in #24363.
Based on my understanding of the problem, I don't think this can be handled by cascading. Cascading functions on the basis of a symbol, but the desired behavior for tuples depends not just on the symbol (a tuple field) but also the current position (are you pointing at the definition of that field or not).
For instance, if you

[2018-01-21 09:21] jcouv commented on #21518
Glad this is resolved. I'll go ahead and close. Cheers

[2018-01-21 09:21] #21518 closed

[2018-01-21 09:25] vsfeedback opened #24365 "Code formatting not working using open directory"
I cloned a git repo containing a .NET Core project.  I used Open Directory in VS 2017 15.5.3 and 15.6.0 Preview 2.0, and both had the same issue.
When editing code, automatic formatting, such as indentation and brace positioning did not function correctly, either indenting too deeply or not indenting at all.  At least some of the code used framework names (Int64) and some used built-in names (long

[2018-01-21 16:55] DenisKudelin opened #24366 "New features proposal for generics and other"
1. Casting to a generic class/interface/struct without specifying generic types + ability to call its non-generic methods without using interfaces:
[code]

2. Support of Delegate and Enum generic constraints:

`class Foo<T> where T: Delegate`

3. Support of generics with generic parameter, at least one level:

`class Foo<T<U>>`
But I very much suspect that it's not possible or too hard to implemen

[2018-01-21 17:28] HaloFour commented on #24366
C# language change requests are taken at the http://github.com/dotnet/csharplang/ repository now.  You'd want to make separate proposals rather than one mega-proposal.  Many of these requests have already been made in one form or another, some championed and some already explained why they're not practical.

[2018-01-21 18:08] jcouv commented on #24366
@DenisKudelin I'll go ahead and close the issue and let you re-open on csharplang. Thanks

[2018-01-21 18:08] #24366 closed

[2018-01-22 06:16] msbasanth commented on #23741
I could get the assembly documentation XML path by,

1. Read (semanticModel.Compilation.Options.XmlReferenceResolver as XmlFileReader).BaseDirectory which gives the project directory.
2. Used Platform(x86) & OptimizationLevel (e.g. Debug) from semanticModel.Compilation.Options to retrieve the correct output path by parsing the project file.
3. Output folder + $"{symbol.ContainingAssembly.Name}.xml

[2018-01-22 08:25] jinujoseph commented on #2773
also reported at [Link](https://developercommunity.visualstudio.com/content/problem/182006/remove-unnecessary-usings-breaks-xml-doc-comments.html)

[2018-01-22 08:37] jinujoseph commented on #23658
Also reported at [Link](https://developercommunity.visualstudio.com/content/problem/183670/when-applying-code-fix-cancel-file-checkout-tfvc-c.html)

[2018-01-22 08:46] vsfeedback opened #24375 "C# intellisense incorrectly highlights nameof keyword with a red squiggly inside of an interpolated string"
The C# editor intellisense is highlighting the nameof keyword inside of an interpolated string with a red squiggly even though the project builds just fine. Two examples of strings that fail are:

A screenshot of the problem has been attached, here is the code from the offending function:

[code]

![image](https://user-images.githubusercontent.com/1408396/35234690-9b7f76fa-ff67-11e7-84c5-7dd11a962

[2018-01-22 09:01] jinujoseph commented on #24315
also reported [here](https://developercommunity.visualstudio.com/content/problem/182277/with-keyword-doesnt-function-properly-in-initialis.html)

[2018-01-22 09:13] jinujoseph commented on #24268
Reported [here](https://developercommunity.visualstudio.com/content/problem/182564/highlight-value-tupple-element-references.html)

[2018-01-22 09:27] vsfeedback opened #24376 "Auto completing quotation mark is not working when using CW code snippet"
If you use the CW code snippet for Console.WriteLine() then you can't auto complete the quoatation mark for the literal string.

If you instead manually type in Console, dot, WriteLine() and type the first quotation mark, then it gets auto completed.

![Snippet](https://developercommunity.visualstudio.com/storage/attachments/21088-vs2017-cw1.gif)

![No Snippet](https://developercommunity.visualstu

[2018-01-22 15:38] miloush opened #24377 "Completion list after deletion breaks snippets flow"
**Version Used**: 27310

**Steps to Reproduce**:

1. Enable _Show completion list after a character is deleted_
2. Invoke a code snippet that would offer intellisense e.g. `prop` or `lock`
3. Press <key>Backspace</key> to delete the default value of the placeholder.
4. Press <key>Tab</key> to move to another placeholder.

**Actual Behavior**: The first list in the entry, e.g. `#if` is entered into

[2018-01-22 20:11] jcouv commented on #24311
Fix is merged for 15.6 preview 4.

[2018-01-22 20:11] #24311 closed

[2018-01-22 20:17] jcouv commented on #24160
Note to self: even if we can confirm this was fixed in 15.6, I need to add some tests to cover this and the variant scenario with `ref` (currently produces an error, even though `field.Deconstruct(...)` works).
Both of those need to be confirmed with LDM.

[2018-01-22 20:22] CyrusNajmabadi commented on #24375
This looks like it could be a dupe of https://github.com/dotnet/roslyn/issues/23667
@sharwell ?

[2018-01-22 20:22] sharwell commented on #6764
Treating warnings as errors inside the IDE hurts developer inner loop efficiency. <kbd>F5</kbd> to debug should work as early and often as possible. Do you still want to keep this open for reviewing the command line behavior?

[2018-01-22 20:26] sharwell commented on #24375
@CyrusNajmabadi That seems extremely likely.

[2018-01-22 20:26] #24375 closed

[2018-01-22 20:26] sharwell commented on #24375
Duplicate of #23667

[2018-01-22 20:28] VSadov commented on #24306
Fixed in https://github.com/dotnet/roslyn/pull/24355

[2018-01-22 20:28] #24306 closed

[2018-01-22 20:57] jasonmalinowski commented on #19306
OK, good to know. @jinujoseph we may need to prioritize this now that cross-plat is actually a thing we care about.

[2018-01-22 20:58] AlekseyTs opened #24379 "Inconsistent (VB vs. C#) IOperation tree is produced for a comparison on an instance of a nullable type with null/Nothing"
C#
[code]

VB:
[code]

Note that VB version has conversion from Nothing literal to object and effectively compares different types. We should consider omitting this conversion and produce C#-like tree.

[2018-01-22 20:59] AlekseyTs commented on #24379
CC @dotnet/analyzer-ioperation

[2018-01-22 21:33] Kentalot commented on #24160
Actually, ref doesn't work with my version of VS and I actually think that's a good thing?  If you use ref with an extension method and can call it w/o using the keyword ref, that's pretty dangerous, isn't it?  The in keyword would not be dangerous since nothing is changing.  I guess we currently have the same problem with mutable reference types being able to be used in extension methods, but val

[2018-01-22 21:36] AlekseyTs opened #24380 "C# IOperation nodes representing values of a nullable type sometimes have constant values"
Example 1:
[code]

Example 2:
[code]

Example 3:
[code]

Note that conversion nodes like the one below have constant values, even though the type of the value is ```int?```, which is not valid for constant expressions.

IConversionOperation (TryCast: False, Unchecked) (OperationKind.Conversion, Type: System.Int32?, **Constant: null**,

Expected: No constant values for such nodes.

[2018-01-22 21:36] AlekseyTs commented on #24380
CC @dotnet/analyzer-ioperation

[2018-01-22 21:45] jcouv commented on #24160
I agree that `in` is sensible here, whereas `ref` seems dangerous, so I'm happy with the current behavior. But I need to confirm that with LDM, as this behavior is an accident of implementation.

Also, it disagrees with the spec:

The current deconstruction [speclet](https://github.com/dotnet/roslyn/blob/master/docs/features/deconstruction.md#resolution-of-the-deconstruct-method) says that "The re

[2018-01-22 21:58] jcouv commented on #18644
Closing the issue on behalf of @t-camaia
The fix was merged to `features/compiler` which will likely ship in 15.7.

[2018-01-22 21:58] #18644 closed

[2018-01-22 21:59] jcouv commented on #24102
Closing the issue on behalf of @t-camaia
The fix was merged to `features/compiler` which will likely ship in 15.7.

[2018-01-22 21:59] #24102 closed

[2018-01-22 22:53] MkazemAkhgary opened #24381 "Quick Action: Convert for to foreach and vice versa"
just like resharper, allow converting for to foreach and vice versa. me not a genius. me realize index is needed where I wrote `foreach`, me realize index is no more needed where I wrote `for`. thanks.:)

[2018-01-22 22:58] kuhlenh commented on #22786
per our design discussion today:
- Remove literal support from Ctrl+Click entirely (there will be no hyperlink when holding Ctrl and hovering over any literal).
- The above should allow ctrl+click on a url to navigate to the webpage.

[2018-01-22 23:14] ivanbasov commented on #24112
It seems that it does not meet the bar for 15.6. Moving it to 15.7 for consideration.

[2018-01-22 23:19] jinujoseph commented on #23030
**per our design discussion today:**

Remove literal support from Ctrl+Click entirely (there will be no hyperlink when holding Ctrl and hovering over any literal).
The above should allow ctrl+click on a url to navigate to the webpage.

[2018-01-22 23:21] jcouv commented on #15399
Tagging @VSadov
We verified that the compiler [produces errors](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDYB8ACAGAAhwEYBuAWACgcBmIgJgIGECBvKgzounAFgICyACgCUbDl0lCAykgLSxMAK4AHDHAIBeAgBM4AMwhKMMCpUkBfKlcoIDBWAiUBjGPLYELQA===) for a tuple containing a ref-struct. But it is possible that the preview version of ReadOnlySpan was not yet marked properly as a ref-struct.

[2018-01-22 23:21] #22786 closed

[2018-01-22 23:21] jinujoseph commented on #22786
Tracked in #23030

[2018-01-22 23:55] jcouv commented on #15399
I downloaded that `System.Memory` package and looked at the ref and implementation assemblies called `System.Memory.dll` and the `ReadOnlySpan<T>` types are missing the `Obsolete` attribute that is supposed to mark ref-structs.

@ahsonkhan It looks like the preview package for System.Memory on nuget is fairly old and lacks some important attributes for the compiler. Is there are more recent previe

[2018-01-23 00:07] agocke commented on #20279
@jcouv @jaredpar This behavior was intentional. This is incorrect code behavior that has an unfortunate ambiguity. One case is @svick's, where `virtual` is just misused as a local function modifier. Another case is the following:

[code]

As you can probably guess, the behavior for that example is that the user is in the middle of typing a new method, `M`, above the existing method `M2`. If we par

[2018-01-23 00:21] jcouv commented on #20279
Thanks for the clarification. I agree that the trade-off in error recovery makes sense. Typing a new method is very common compared to writing a local function (especially one with bad modifiers).

Tagging @t-camaia FYI, since we discussed that earlier today.

[2018-01-23 00:33] ahsonkhan commented on #15399
Yes, the recent previews are on myget (for example 4.5.0-preview1-26122-01 from today):
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Memory

[2018-01-23 01:13] jinujoseph commented on #24194
closed via #23769 , Thanks @olegtk

[2018-01-23 01:13] #24194 closed

[2018-01-23 02:11] jinujoseph commented on #23406
closed as dupe of #23407

[2018-01-23 02:11] #23406 closed

[2018-01-23 02:13] sharwell commented on #18706
Based on an analysis of the feedback ticket, most of the items present were resolved for the 15.6 release. The primary remaining item is a duplicate of #18950.

[2018-01-23 02:13] #18706 closed

[2018-01-23 02:23] tmat commented on #19127
Fixed by https://github.com/dotnet/roslyn/pull/23656

[2018-01-23 02:23] #19127 closed

[2018-01-23 02:37] OmarTawfik commented on #24351
Looking into it.

[2018-01-23 02:46] gafter commented on #24379
I think the result of binary overload resolution in C# should result in the use of `operator ==(object, object)` which should result in a conversion of the right-hand-side. So the difference may be a bug on the C# side.

[2018-01-23 02:56] OmarTawfik commented on #24351
From what I can see, there was a rename code action executing, which renamed `ActiveInstructionId.ActiveMethodId` to `ActiveInstructionId.MethodId`, but then compilation assert failed on compiling the new code, because another type `Microsoft.CodeAnalysis.EditAndContinue.EditSession.Analysis` was a `readonly struct`, and it called `Compilation.EnsureIsReadOnlyAttributeExists()` after it was alread

[2018-01-23 04:01] jcouv commented on #23307
Pushed this to 15.7 because underlying compiler API doesn't exist in 15.6 (we just added it to our 15.7 branch, features/compiler).

[2018-01-23 04:06] tmat commented on #24351
@OmarTawfik You can perhaps try to repo in https://github.com/dotnet/roslyn/tree/ActiveStatements15.6.VS branch where these types are defined, if you can't find some kind of minimal repro involving readonly structs.

[2018-01-23 07:10] KevinH-MS commented on #23628
@jasonmalinowski I cannot assign this to @peterwald any idea why?

[2018-01-23 08:38] #23764 closed

[2018-01-23 08:39] #24317 closed

[2018-01-23 10:04] gafter commented on #24380
This may require some LDM work, as `null` is accepted in places that require a constant value (of a nullable value type), e.g. in a `switch` statement.

[2018-01-23 10:49] MaStr11 commented on #24344
This seems to be fixed by #23136. I made a PR with the test case with the snippet above here #24391. Note: I'm not sure why the version used by @UnoSD offered the fix because #23136 was merged a few days before (but into a different branch).

[2018-01-23 12:08] MaStr11 commented on #24185
This is the code that needs to be changed [MetadataAsSourceFileService.cs#L191](https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/Core/Implementation/MetadataAsSource/MetadataAsSourceFileService.cs#L191) to get the *real* assembly but I have no idea how this could be done. From what I can tell it seems @sharwell added the comment

` // TODO: retrieve path to actual assembly instead o

[2018-01-23 13:58] MaStr11 commented on #24185
So #24291 addresses the *reference assembly problem* and this issue can be reduced to the *header comment*. Can you describe what the header should look like? In a nutshell: Is the header from *metadata* and *decompiled* exactly the same or not? If you can answer that it is clear whether [ AbstractMetadataAsSourceService.AddAssemblyInfoRegionAsync](https://github.com/dotnet/roslyn/blob/master/src/

[2018-01-23 14:06] sharwell commented on #24381
I'm going to close this as a duplicate of #8953 as we continue working on the feature design, though it may get split back out during the implementation portion.

[2018-01-23 14:06] #24381 closed

[2018-01-23 14:42] sharwell commented on #23628
@KevinH-MS Assignees either need to be the original issue author, or they need to be in a team within the dotnet organization on GitHub that has explicit read access to the dotnet/roslyn repository.

[2018-01-23 14:52] jnm2 commented on #22545
Fyi– I made it this far on 15.6 without ReSharper this far, but there's no way I can finish the task I have at hand without going back to ReSharper. I have to look through 223 hits, the overwhelming majority of which are usages of the getter, while the tool window title is `'set_ThisProperty' references`.

[2018-01-23 15:57] jnm2 commented on #19127
@caslan

One of you had observed to me a while back that I had settled on embedding sources in the meantime. I do see that as a temporary workaround. Final nuget packages with source-embedded PDBs are three times the size of the final nuget packages with source-linked PDBs. Other than the size factor, it might be be my preference; internal URLs sometimes change and embedding the source (and puttin

[2018-01-23 16:26] conficient commented on #24315
Duplicate see https://github.com/dotnet/roslyn/issues/23659

[2018-01-23 16:54] BillWagner opened #24394 "Prefer '-' over '/' for options in "csc - help""
This is related to dotnet/docs#4072  "Inconsistent switch usage for C# compiler options.

We found that the options documentation used a mixture of `/` and `-` and we wanted to standardize (knowing that both are supported.)  The community response was overwhelmingly in favor of `-`.

We are well on the way to updating the docs.

I would make the same changes to https://github.com/dotnet/roslyn/blo

[2018-01-23 16:55] tannergooding commented on #23837
FYI. @jaredpar (compiler tests), @jinujoseph (IDE/Scripting tests)

[2018-01-23 16:55] tannergooding commented on #23837
Also FYI @jasonmalinowski

[2018-01-23 17:02] sharwell commented on #24394
I agree with both unification and the choice of `-`.

/cc @jaredpar

[2018-01-23 17:08] MaStr11 commented on #23837
I did a grep '<span class="failure">✘</span>' *.* -c on my test results linked in the issue with this result (If I got this right, the number should show the number of failing tests):

|Test|Failures|
|---|---|
|Microsoft.CodeAnalysis.CSharp.Scripting.Desktop.UnitTests.dll.html|5|
|Microsoft.CodeAnalysis.CSharp.Scripting.UnitTests.dll.html|40|
|Microsoft.CodeAnalysis.VisualBasic.Scripting.UnitTest

[2018-01-23 17:14] jaredpar commented on #24394
Yes we should prefer `-` over `/`. It's more cross plat friendly.

[2018-01-23 17:17] jaredpar commented on #23837
Hmm, I wonder if our non-English test passes of the unit tests have caught up with our new localization process. Seems like some sort of break down has happened here. Following up internally to see what's happening.

[2018-01-23 17:18] BillWagner commented on #24394
I'll submit a PR to address this.

[2018-01-23 17:28] ManishJayaswal commented on #23628
@tmat - we have made some fixes that should reduce allocation but are not certain if this issue is completely resolved. We can't repro it. Can you try on latest d15.6 builds ( latest builds from our dogfooding channel) to see if this resolves the issue you were seeing or not?

[2018-01-23 17:33] jcouv commented on #15399
The preview package is expected to refresh in a couple of weeks.
I'll go ahead and close the issue, since no compiler problem. Thanks

[2018-01-23 17:33] #15399 closed

[2018-01-23 17:50] jmarolf commented on #23837
@dotnet/roslyn-infrastructure Can we have an Jenkins run that is non-english so we don't regress this once its fixed?

[2018-01-23 17:54] jaredpar commented on #23837
@jmarolf that is my intuition on how to fix this. But i'm not sure how well it's going to play with our XLF file process.

[2018-01-23 17:54] jcouv commented on #24160
Got confirmation from LDM. `in` case should remain allowed and `ref` case should remain disallowed.
PR https://github.com/dotnet/roslyn/pull/24396 (currently in review) adds tests and a specific error message for `ref` case.

[2018-01-23 17:57] tannergooding commented on #23837
Assuming we are pulling the expected value from the resource file and the actual value is being given by the product, it should just work. (CC. @tmeschter, @nguerrera)

[2018-01-23 18:17] jasonmalinowski commented on #23837
Agreed with @tannergooding. And yes, now that we have actual loc we can actually test said loc. 😄 Any idea @jaredpar if somebody already has a non-en-US image already setup in Jenkins we could piggy back off of?

[2018-01-23 18:20] tmat commented on #19127
Q1: No. The sources are already stored compressed.
Q2: If you change your repo URL you could set up forwarding to the new URL. The debugger will follow the forwarding.

[2018-01-23 18:23] tmeschter commented on #23837
@tannergooding Yes, I expect that most of these are issues where the test is hard-coding a value that it should instead be reading from the resources.

[2018-01-23 18:24] jnm2 commented on #19127
Q1 for example: compressing after appending all documents to a massive text buffer? Might give better results than compressing each document (or not) individually?
Q2: ✔

[2018-01-23 18:30] tmat commented on #19127
Q1: Perhaps marginally, but then the debugger would need to decompress the entire source in order to show a single file.

[2018-01-23 18:31] jnm2 commented on #19127
Isn't decompression fast?

[2018-01-23 18:31] tmat commented on #19127
Is it?

[2018-01-23 18:41] agocke opened #24397 "Remove location-based custom assembly resolution from the build task"
When CoreCLR implements a proper way to do plugin-based assembly resolution (https://github.com/dotnet/coreclr/issues/15982) we should remove our own custom `LoadAssemblyWithRedirects` from the MSBuildTask.

[2018-01-23 18:41] jnm2 commented on #19127
I've always heard that gzip is ridiculously fast, but we'd need parameters of what's acceptable to test against and how large the combined source can get without getting close to those parameters.

[2018-01-23 19:09] gundermanc commented on #24094
Spec document for IDE Async Quick Info support can be found here: https://microsoft.sharepoint.com/:w:/t/DD_VSIDE/EZ86OPBZuwlMqOfXkF4bn7oBlOoTZhWjaHu2mDV0Tr-HHg?e=c68c0c69ee8c488d8a364ab33bc1d6fc

Please reach out with any questions.

[2018-01-23 19:23] Kentalot commented on #24160
Awesome.  Sounds great.  Thanks!

[2018-01-23 19:28] gundermanc commented on #24094
Are we sure we want to delay this to 15.7? There is a quick info flicker regression that resulted from the underlying API change that regresses the user experience in lightbulb. The problem is that the new API does not support recomputation of the content of an already visible quick info tip, but Roslyn relies on this behavior to not block the UI thread. The flicker tends to occur when querying qu

[2018-01-23 19:37] grabalon opened #24399 "Edit.ExpandSelection from a comment selects the next line"
**Version Used**: 2.7.0.6251805

**Steps to Reproduce**:

1. Create a C# app with code like the following:
[code]

2. Select the word 'test'
3. From the Command Window invoke Edit.ExpandSelection

**Expected Behavior**:
Either the whole comment line or the whole function is selected.
**Actual Behavior**:
InitializeComponent is selected.

[2018-01-23 20:01] #23735 closed

[2018-01-23 20:05] #23497 closed

[2018-01-23 20:21] cston commented on #21500
@palladin thanks for reporting this issue.

[2018-01-23 20:21] #21500 closed

[2018-01-23 20:21] #12616 closed

[2018-01-23 20:53] #23940 closed

[2018-01-23 20:58] agocke opened #24402 "HelpCommand() test is failing on CoreCLR builds"
Looks like this was caused by my PR to switch us to CoreCLR bootstrapping. It's connected with line endings.

[2018-01-23 21:05] Pilchie opened #24404 "Is .ruleset support broken?"
_From @taori on January 16, 2018 19:38_

Recently i figured out that you can configure custom analyzers using ruleset files. This seemed amazing and i utilized it in a project. Oddly enough when i checked out if there are any other built in rules i could utilize they just simply would not work.

![grafik](https://user-images.githubusercontent.com/5545184/35008224-0b994c9c-fafc-11e7-8f0e-333e8ec04f

[2018-01-23 21:05] Pilchie commented on #24404
Tagging @mavasani - this should *probably* be moved to https://github.com/dotnet/roslyn though?

Also - what build are you on?  There was an issue with custom analyzers not working properly in 15.5.0, but it should be fixed in the most recent builds.

[2018-01-23 21:05] Pilchie commented on #24404
_From @taori on January 17, 2018 9:34_

@Pilchie i assume you're talking about the VS build - that would be 15.5.4. Mind you that custom analyzers did work for me but built in ones apparently do not respond to ruleset configuration.

[2018-01-23 21:05] Pilchie commented on #24404
_From @taori on January 17, 2018 10:45_

Apparently the VM i was testing this with originally was not on 15.5.4 - The ruleset does look different now, as well as the analyzers list.
Can't select CA 1001 anymore.
![grafik](https://user-images.githubusercontent.com/5545184/35038524-5c0d6774-fb7b-11e7-8062-52236770e512.png)

Analyzers list used to be empty - now it isn't. While that seems like an imp

[2018-01-23 21:05] Pilchie commented on #24404
How are you installing the custom analzyers?  That looks like the default set that VS provides?  Maybe you need a reference to the NuGet package or extension for roslyn based static analysis?

[2018-01-23 21:05] Pilchie commented on #24404
_From @taori on January 18, 2018 14:25_

This problem isn't about custom analyzers at all - It's about adding VS analyzers not responding to the ruleset configuration (see link of the analyzer which i referenced in my first post). And i can't seem to add them to the screen

![grafik](https://user-images.githubusercontent.com/5545184/35038524-5c0d6774-fb7b-11e7-8062-52236770e512.png)

after interac

[2018-01-23 21:16] svick opened #24406 "Inaccurate error message when type has incorrect number of type arguments"
**Version Used**: master (22 Jan 2018; 03839fa)

**Steps to Reproduce**:

Try to [compile the following code](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAN0QSwGYE8A+AAgEwAEAsrgKIAeADgnFFJgPYB2pA3gL4CwAKBIVq9RszbsAPABUAfN34DBwgMKCug0tpG0GTFhymZ2MJKRMwFcANyCeQA===):

[code]

**Expected Behavior**: An error message that explains that `MyExpression` expects 0 or 1 type arguments, but was used with 2.

[2018-01-23 21:37] agocke commented on #24402
@tmat I've confirmed that the problem with this test is this bug: https://github.com/Microsoft/msbuild/issues/2206

However, I'm not sure what you want the fix to be. It seems like the output of csi should have line endings that match the machine, but it looks like resx files end up with different line endings based on which compiler they were built with. Do you want to move away from resx files t

[2018-01-23 22:34] tmat opened #24408 "Debugging scenario: Call stack with C# and F# frames"
Validates navigation to sources from Call Stack window with frames from multiple languages.

**Steps to Reproduce**:

1. Open a solution with a C# console app that references an F# class library:
[Repro.zip](https://github.com/dotnet/roslyn/files/1657845/Repro.zip)

2. Place breakpoint to `printfn "Hello %s" name` in F# library.
3. F5 with the console app project as a startup project.

The program

[2018-01-23 22:35] samirgunic commented on #24376
As I recall it, this bug did not exist in Visual Studio 2013 nor in Visual Studio 2015.

[2018-01-23 23:18] 333fred commented on #15840
This is causing some false positives for CA1801 (Review Unused Parameters) in the project system repo, because we don't see some methods as actually implementing an interface. There likely a few other false positives in other analyzers that use this method as well.

[2018-01-23 23:48] #24344 closed

[2018-01-23 23:48] VSadov commented on #23130
Actually fixed in https://github.com/dotnet/roslyn/pull/24062

[2018-01-24 00:01] Pilchie opened #24410 "SynaxClassifier exception typing directive at end of file"
**Version Used**:
Latest IntPreview (d15.6 - 27319.1 )

**Steps to Reproduce**:

1. Open Compilers.sln in `dev15.6.x`.
2. Open C:\Code\roslyn\src\Compilers\Core\Portable\CorLightup.cs.
3. Go to the end of the file, add a couple of newlines and type `#error version`

**Actual Behavior**:
Dialog box about extension error.  Activity log has:
[code]

[2018-01-24 00:13] Pilchie commented on #24376
I expect the bug *did* exist in at least VS2015.

Autocompleting braces/quote/etc only works if:

1. The insertion of the first quote is the last non-whitespace thing on the line, OR
2. All other things after it on the line are closing quotes/parens/braces that were inserted by the feature and are currently being tracked (for tab to pass through) for example.

There is nothing that ties the snippe

[2018-01-24 00:34] agocke commented on #20900
Resolved by #24400

[2018-01-24 00:34] #20900 closed

[2018-01-24 00:48] #24408 closed

[2018-01-24 00:54] AlekseyTs commented on #15840
@333fred

Why is it so important to find interface implementation of a particular member in your scenario? If type claims to implement an interface then all interface members are implemented.

[2018-01-24 01:28] 333fred commented on #15840
For the CA1801 scenario, we're trying to find if a given method _is_ an implementation of an interface method, so we know whether or not to skip analysis on the method parameters.

[2018-01-24 01:49] jasonmalinowski commented on #21134
Hmm, it appears internal dumps were expired, and I could _swear_ there was a dump somewhere else but can't find it now. Oh well.

[2018-01-24 01:49] #21134 closed

[2018-01-24 01:51] OmarTawfik commented on #24351
No luck reproducing. But I have a hypothesis. The IDE creates instances of `RecoverableSyntaxTree` during edit operations, and then adds them to the current compilation along with existing the compiler `ParsedSyntaxTree` instances. Is it possible that at some part during the pipeline of (`DocumentExtensions.GetErrorsAsync()`) these trees are mutable/mutated to the new rename value (instead of crea

[2018-01-24 03:07] npolyak opened #24412 "Cannot get internal members of a Type from within INamedTypeSymbol"
I am getting a referenced type from a Roslyn Compilation by using Compilation.GetTypeByMetadataName(...) method. Then I use INamedTypeSymbol.GetMembers() method to get all its member symbols. I am getting all public and protected symbols but neither private nor internal. I do not care much about private member symbols, but internals are a must for me. Is there any way to get them from a Roslyn com

[2018-01-24 03:30] aobatact opened #24413 "Description of Deconstruct"
**Version Used**:
15.5.2
![8](https://user-images.githubusercontent.com/20785944/35312492-11879416-00ff-11e8-8c9f-1b4c82ccf5f2.png)
![10](https://user-images.githubusercontent.com/20785944/35312505-228c9e82-00ff-11e8-920f-9d02a84f0e97.png)

Currently what ever object is deconstructed, it shows the description of deconstructing ValueTuple.

[2018-01-24 05:09] AlekseyTs commented on #15840
Well, after we emit the assembly that method is no longer an implementation method. The real implementation method is a synthesized explicit implementation method in derived class. And inside the base class the method is not implementing any interface. Why are we analyzing already emitted assembly? Shouldn't we analyze source?

[2018-01-24 05:52] jcouv commented on #24413
@aobatact Can you clarify what you expected?

[2018-01-24 05:55] jcouv commented on #24412
You may be looking for the `ignoreAccessbility` flag on `Compilation.GetSemanticModel`.

[2018-01-24 05:58] AlekseyTs commented on #15840
Here is the unit-tests that I think demonstrates the described behavior with some explanations why things the way they are:
[code]

[2018-01-24 09:19] jinujoseph commented on #24094
cc @DustinCampbell

[2018-01-24 09:42] aobatact commented on #24413
I expect that it shows what type it is deconstructed and what parameter it is deconstructed.
If we can, it might be better to show the param in the XML Document.
For example
[code]
If there is some custom Deconstruct method like this and if we point the first Deconstructed parametor, it should show "Gets the value of the current IntTuple instance's first element.".

[2018-01-24 09:46] npolyak commented on #24412
I am not even using semantic model - I do not need it for my purpose. Just pulling the type straight from the compilation and checking its members. Can you give me a code example?

[2018-01-24 11:40] GorisWW opened #24423 "Code completion for script submissions ignores imports from previous submissions"
Hi!

I'm trying do get code completion suggestions for a sequence of c# script submissions. It seems, like imports of previous submissions are ignored.
I use Microsoft.CodeAnalysis.Scripting.Script for script execution, it transfers imports to subsequent submissions correctly:
`-> using System.IO; var x = 5;`
`-> File.Exists("file.txt") // compiles, returns false`

Thanks.

PS
Is there any way to

[2018-01-24 12:57] npolyak commented on #24412
It seems like I resolved the problem but not without a hack.

one has to set a hidden property MetadataImportOptions of the compilation to MetadataImportOptions.All (which is 2). Both the CSharpCompilationOptions.MetadataImportOptions member and MetadataImportOptions enumeration are internal to Microsort.CodeAnalysis assembly. I had to use reflection to be able to set it. In particular I did somet

[2018-01-24 13:04] npolyak opened #24425 "Make enumeration MetadataImportOptions public and the corresponding property settable within CSharpCompilationOptions"
people often need ability to investigate non-public members of types from 3rd party library. Currently `INamedTypeSymbol.GetMembers()` methods returns public and protected methods but no internals. Making MetadataImportOptions settable within the Compilation Options will allow the developers to investigate the non-public members (so that Roslyn capabilities will be more in tune with System.Reflect

[2018-01-24 13:07] npolyak commented on #24412
I opened https://github.com/dotnet/roslyn/issues/24425 requesting to open up the API for setting MetadataImportOptions.
I'll keep this issue open for now in case some one can come up with a better way of achieving this.

[2018-01-24 17:37] tmat opened #24429 "Include crypto hash of Portable PDB content in the PE debug directory as a new record"
**Background**

The PE file (.dll, .exe) currently stores a GUID and a 4B timestamp, which comprise PDB ID, in the debug directory that uniquely identify the content of the Portable PDB. PDB ID is calculated using SHA1 hash in deterministic builds and as random time-based bits in non-deterministic build.

PDB ID allows the debugger to find the right PDB for given PE file. PDB ID is however not goo

[2018-01-24 17:41] olegtk opened #24430 "Refactor Inline Rename command handler to not use chaining"
Related to https://github.com/dotnet/roslyn/pull/23769/files#r162170708.

Inline rename command handler still handles some commands in chained way. Seems like it all can be converted to simple non-chained command handler with refactoring of HandlePossibleTypingCommand() method.

Too risky for 15.6 though.

[2018-01-24 17:48] jcouv commented on #24334
Sounds good. I will bring this up with LDM first (probably can get it on the agenda for next week).

@JonHanna Would you be able to help drive such API on corefx side (once LDM gives thumbs up)?

Some thoughts ahead of the corefx/API discussion:
I'm not completely sure we need a `RuntimeFeature` API in the `Microsoft.CSharp` namespace, as opposed to simply extending the existing API.
If package de

[2018-01-24 17:53] JonHanna commented on #24334
Sure.

Is it possible to use a more recent version of just Microsoft.CSharp? (I pretty much just use what nuget gives me across the board myself, so don't know from experience) and hence for someone to have support for that version while CompilerServices wouldn't think they should?

[2018-01-24 17:54] mavasani commented on #24310
Fixed with https://github.com/dotnet/roslyn/pull/24395

[2018-01-24 17:54] #24310 closed

[2018-01-24 17:56] gafter opened #24431 "Please add design doc explaining constraint checking of well-known generics"
Associated with #24322, the following new guidelines should be documented in https://github.com/dotnet/roslyn/tree/master/docs/compilers/Design

[2018-01-24 17:57] JonHanna commented on #24334
If this can be done from the existing API. I wonder if we should start to namespace the string identifiers a bit, so something like `"Microsoft.CSharp.NonTrailingNamedArguments"`. The list of features is something that is only going to get larger, and eventually get to the point where most people will not know what most features are and be lost as to where to look to find out, and which they can q

[2018-01-24 17:58] mavasani commented on #23667
@jcouv Is this something we plan to implement soon in the compilers? Otherwise, we should probably go ahead with the analyzer bug fix https://github.com/dotnet/roslyn/pull/24071 for now, and keep this as a tracking issue for compiler support and subsequent analyzer removal.

[2018-01-24 18:05] sailro opened #24432 "C# Auto-completion behavior with arrays"
Issue filled on behalf of Adomas Griskelis from Unity3D QA. cc @jbevain

Please have a look at the attached super simple and self-contained repro project:
[AutoCompleteRepro.zip](https://github.com/dotnet/roslyn/files/1660980/AutoCompleteRepro.zip)

**Version Used**:
VS 2017 Entreprise 15.5.4

**Steps to Reproduce**:
1.  Use the attached repro (pure C# project, referencing two included Unity3D ass

[2018-01-24 18:18] sharwell commented on #22541
Duplicate of #23179

[2018-01-24 18:18] #22541 closed

[2018-01-24 18:44] AlekseyTs commented on #23667
Can we clearly summarize what is being proposed here?

[2018-01-24 18:57] mavasani commented on #23667
@AlekseyTs Compiler does not produce CS0103 diagnostic for unbound identifiers within broken lambdas and incomplete members. `AddUsings` code fix provider operates on such compiler diagnostics, and lack of these diagnostics causes us to not offer this code fix for these cases. As a workaround, we added an IDE analyzer that tries to mimic the compiler by scanning for [such cases](http://source.rosl

[2018-01-24 19:52] jinujoseph commented on #23074
@freemstr we were not able to repro this with latest version of VS 15.6
Can you try with the latest version and provide the repro steps for us to investigate pls

[2018-01-24 19:55] AlekseyTs commented on #23667
I am not convinced that the compiler should do this.

[2018-01-24 20:09] CyrusNajmabadi commented on #23667
@gafter For his thoughts here.  The issues around not binding some lambdas, and not binding incomplete members has bit the IDE numerous times.

Basically, for better or worse, the IDE has taken a dependency on compiler diagnostics to drive these features.  In one sense that's good (since trying to reimplement compiler rules is really hard).  But in other, it's not, since you get into situations li

[2018-01-24 20:10] jcouv commented on #24160
After further discussion with LDM, we decided we'll allow the `ref` case as well. It doesn't seem useful, but blocking it seems irregular.
I'll update my PR accordingly.

[2018-01-24 20:12] jcouv commented on #23863
From discussion with @gafter, we consider this by-design. The specified behavior only treating `_` as a discard when the lookup for the identifier returned nothing.

[2018-01-24 20:12] #23863 closed

[2018-01-24 20:24] jcouv commented on #24334
There is a way to ensure that the new `Microsoft.CSharp` binaries depend on new core library: just reference the new member `Microsoft.CompilerServices.RuntimeFeature.NonTrailingNamedArguments` in code.

I don't have a strong opinion on the identifier for this feature, but keep in mind that the pattern for `RuntimeFeature` is to add corresponding properties, but property names can't have punctuati

[2018-01-24 20:24] CyrusNajmabadi commented on #23667
Also, as an aside, from an implementation perspective, one thing you could consider would be removing incomplete members entirely.  In TypeScript we took this approach:

1. If you wanted to make an incomplete member because you had a prefix (like attributes), but not enough to determine what sort of entity it was:
2. Determine the smallest syntactically generatable construct from all the productio

[2018-01-24 22:08] smmalis37 commented on #8928
One addition that would also be really nice is something similar to Resharper's Inspect -> Code Issues In Solution/Project view that shows you all the style issues that could be cleaned up. Personally I like to go through them myself since there are some places where I might be violating a style rule deliberately, but others where I want the rule to apply.

[2018-01-24 22:13] heejaechang commented on #23667
+1 compiler generating all diagnostics and getting rid of this from IDE side.

[2018-01-24 23:02] gundermanc opened #24434 "Move C# EventHookup feature off of Classic Quick Info"
**Version Used**:
Visual Studio 2017 15.6 Preview

**Steps to Reproduce**:

1. Create new C# Console Application.
2. Create new event `static event EventHandler Foo;` in Main class.
3. In main method, type `Foo +=` and C# language service responds with a helpful tooltip indicating that TAB can be used to auto-insert an event handler.

**Resolution**:
- This feature is currently implemented using t

[2018-01-24 23:12] tmat commented on #13276
Fixed by https://github.com/dotnet/roslyn/pull/24428

[2018-01-24 23:16] kuhlenh opened #24435 "Ctrl+T : Go To File Member"
I've had several customers let me know that they had no idea we let them filter by "current document" in Ctrl+T (Go To All). Their expected behavior was that this would be scoped to "current document" by default for members.

![image](https://user-images.githubusercontent.com/1402694/35362206-45ade942-0119-11e8-87b6-7889dda4cc94.png)

Perhaps we can have a smart filter where if they are searching

[2018-01-24 23:17] kuhlenh commented on #24435
One thing that may help is having a keyboard shortcut that is easier. R# users have a command explicitly for "file members" which we can consider doing something similar...

[2018-01-24 23:18] tmat commented on #24435
👎 I have never wanted to find type or member only in the current file. For type it doesn't make much sense if the project follows one type definition per file convention.

[2018-01-24 23:21] gafter opened #24436 "Reconsider BasicBlock.ConditionalBranchKind"
In the context of #24409, I suggest that "conditions" should be boolean expressions exclusively. But the introduced ConditionalBranchKind adds an "ifNull" kind of condition. I would prefer it be expressed as an explicit test against null in the expression, so that the test is a boolean expression.

[2018-01-25 00:08] jasonmalinowski commented on #24351
@OmarTawfik That is always possible, but it's probably the same type of "possible" in that an IDE bug could always be the C# compiler compiling IDE code wrong. It's _possible_, but you might want to exclude more straightforward explanations first. :smile:

[2018-01-25 00:19] gafter commented on #24380
Looking at the C# language specification, a `null` expression can have a constant value. It says at https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#constant-expressions :

[2018-01-25 00:29] AlekseyTs commented on #24380
The spec explicitly names the types that can have constant values and nullable type is not in that list

[2018-01-25 00:30] gafter commented on #24380
The spec says that the null literal is a constant, **or** anything of one of those types. The null literal can be a constant no matter its type.

[2018-01-25 00:35] AlekseyTs commented on #24380
This Conversion is not a null literal. One cannot write this code today:
[code]

[2018-01-25 01:54] tmat opened #24439 "EnC scenario: non-remappable regions cleanup"
[code]

1. Place breakpoints.
2. F5, breakpoint 1 is hit.
3. Insert line `Console.WriteLine(4);` at `// [3]`
4. F10
5. insert 2 lines at ```// [2]```
6. F10

**Expected**

```Console.WriteLine(1);``` is highlighted yellow as the current IP.

[2018-01-25 01:54] #24439 closed

[2018-01-25 03:47] DavidKarlas commented on #24434
On Visual Studio for Mac this is atm still on feature branch but will probably be merged for 15.7.
In theory whoever will be working on migration from `IQuickInfo*` to `IAsyncQuickInfo*` won't have to worry about Mac, just make it work on VS and on Mac it should just work.

[2018-01-25 04:54] OmarTawfik commented on #24351
@jasonmalinowski what I'm trying to know is, during rename, does the IDE create new syntax trees (with the rename operation) and update the compilation (creating a new one effectively), or does it just update the contents of the existing syntax tree object, and then getting diagnostics again (effectively breaking immutability)?

[2018-01-25 05:10] gafter commented on #24380
Agree: an explicit cast in source to `int?` should not be a constant. Thus the error on the first.

The second runs afoul of a restriction on the declared type of a constant declaration. The problem is not that it’s initializer is not a constant (it is) but that a declared constant may not be that type. See https://github.com/dotnet/csharplang/blob/master/spec/classes.md#constants

[2018-01-25 05:28] jessejiang0214 opened #24442 "CSharpScript cannot run in Android and iOS"
**Version Used**:
Install from nuget 2.6.1 for CSharp.Scripting
**Steps to Reproduce**:

1. Create Xamarin project
2. Put these code in
[code]
3. Run and crash both Android and iOS

**Expected Behavior**:
It should return 3 as a result
**Actual Behavior**:
In Android, it throws
`
System.IO.FileNotFoundException: Could not find file "/mscorlib.dll"
`
In iOS it throws
[code]

I haven't tested with i

[2018-01-25 06:41] jasonmalinowski commented on #24351
@OmarTawfik Oh I see your question. We most definitely don't break immutability -- that would be crazy. :smile: The "recoverable" indirection means that if we are under memory pressure we can toss them out of memory and page them back in. But that process should not be observable to you or any client.

[2018-01-25 07:45] CyrusNajmabadi commented on #24435
Please, never do this. 99%+ of all my symbol searches are for symbols not in the current file.  If i wanted the current file, i'd likely just do "ctrl-f" to find-in-file.

[2018-01-25 08:05] jcouv commented on #24442
Tagging @tmat

[2018-01-25 08:11] jcouv commented on #24435
One idea would be to populate the completion with possible filter shortcuts ("f" for file, etc as shown when pressing "?"). Also that "?" list should include a shortcut for "current document".

[2018-01-25 08:20] jcouv commented on #24432
Thanks for reporting this. Does seem to be an issue.
In the array case, the completion is soft-selected, whereas in the constructor case it is hard-selected.

![image](https://user-images.githubusercontent.com/12466233/35377732-335225be-0165-11e8-82c7-a612bd57adca.png)

![image](https://user-images.githubusercontent.com/12466233/35377774-55c065d4-0165-11e8-9c3b-ba357a86d04e.png)

[2018-01-25 11:31] GorisWW commented on #24423
Thank you!
This source file is the one I was looking for.

Maybe, there is some documentation of proper use of code completion API for script submissions?

[2018-01-25 11:31] #24423 closed

[2018-01-25 13:32] fefrei commented on #24232
I don't think this is specific for VB – here's an example for C# that fails to show an error for me: https://github.com/fefrei/vs-editorconfig-mwe

I'm running Visual Studio 15.5.4.

The `.editorconfig` is basically stolen from the example in https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-naming-conventions.

[2018-01-25 14:35] andrevdl opened #24453 "Name rule violation by using VS Toolbox and auto create handler"
**Version Used**:
c#: 7.1
Visual studio: 15.5.4

**Steps to Reproduce**:

1.  Create project with forms
2. Place a button in the form with the toolbox
3. Double click on the button, to auto create the click method/handler for the button

**Expected Behavior**:
The name of the method starts uppercase instead of lowercase

**Actual Behavior**:
The name of the method starts with a lowercase

![image]

[2018-01-25 14:57] loop-evgeny commented on #23887
I also got a similar error in VS 15.5.4, except I wasn't even trying to rename anything:

[code]

What I don't understand is why this causes the whole devenv.exe to crash! Even if some errors occurs in code analysis why can't VS ignore them and continue?

[2018-01-25 14:59] tumtumtum opened #24454 "NormalizeWhitespace improperly inserts a space before format specifiers in interpolated strings"
**Version Used**:

2.6.1

**Steps to Reproduce**:

1. Compile the following code

[code]

**Expected Behavior**:

Should output:

[code]

**Actual Behavior**:

The output includes a space after the `:` and before the `N`. This causes the resulting program to fail to run because ": N" is not a valid format specifier.

[code]

[2018-01-25 15:01] jnm2 commented on #23842
What's your strategy going to be in general for moving analysis APIs from `Microsoft.CodeAnalysis.Workspaces` to `Microsoft.CodeAnalysis`?

[2018-01-25 15:02] sharwell commented on #24454
Related to https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/2289#issuecomment-280200480

[2018-01-25 15:05] sharwell commented on #24453
@jasonmalinowski Do you know where the code implementing this feature lives?

[2018-01-25 16:14] jnm2 commented on #23842
The reason that I ask is that I have to move forward with this analyzer, and @tmeschter strongly advised copying all the logic rather than packing `Microsoft.CodeAnalysis.Workspaces.dll` in the analyzer nupkg together with using reflection. (That approach was working and I'm still not sure what would do wrong, but I believe you.)

The copy-all-the-internal-source approach requires adding `<AllowUn

[2018-01-25 16:44] tumtumtum commented on #24454
Can you give me a pointer as to what it's changing in the syntax tree? I can't see anything different within the `FormatClauseSyntax` that would causing the space to be inserted.

[2018-01-25 16:45] tumtumtum commented on #24454
Oh typical, just after I write the message I find it. There's trailing whitespace trivia on the `ColonToken`

[2018-01-25 18:06] AlekseyTs commented on #24380
The second is not a constant because it requires an implicit conversion and spec clearly describes what conversions are considered to be a constant expression, this conversion is not on the list. The issue here is specifically about conversions, it doesn't matter whether they are explicit or implicit.

[2018-01-25 18:10] tmat commented on #24423
Unfortunately there is not. The source code is currently the best reference.

[2018-01-25 19:18] seriussoft commented on #21024
# Concurrence and Story

I second the ability to mix/match. There are features that as a C# first developer (as in I lean more heavily on C# because it was my first modern language alongside PHP outside of BASIC, QBASIC, VB6/VBA/TI-BASIC/Old-JS/etc) of many self-taught modern languages while going through school to learn the basics of C++/Java).

Sorry...this will be tad long, so you may want some

[2018-01-25 19:27] CyrusNajmabadi commented on #23842
I'm not opposed to these APIs being made available.  But if they are, they need to go through the full public API pass since they can't change once we do this.  They woudl also need a full vetting for correctness**, as well as a full test suite provided.

That said, there are several items listed above that i would not ever want to make public.  For example:
ArrayExtensions/EnumerableExtensions/Ha

[2018-01-25 19:29] CyrusNajmabadi commented on #23842
This is also problematic as many extensions need the workspace.  For example ITypeSymbolExtensions uses the workspace so it can give type symbol information across the solution context.  This is not a concept the compiler layer has *at all*.

[2018-01-25 19:34] jnm2 commented on #23842
To be clear: only `ISymbolExtensions.IsAccessibleWithin` would become public.

This is all that would have to move from ITypeSymbolExtensions to the compiler layer:

<details>

[code]

</details><br/>

In any case, my real ask is for some vetted API that analyzers can use to determine whether a member is accessible from a given context.

[2018-01-25 19:38] 333fred opened #24455 "Allow Decompilation of arbitrary DLLs"
With our integration of ILSpy, we should look at allowing opening of an arbitrary dll so the types and methods can be browsed. I ran into an issue with roslyn where I did a local nuget pack and depended on the binaries from another project, but missed deleting the nuget cache so my downstream project had the wrong version at compile time. I used the ILSpy UI to figure out what was going wrong, but

[2018-01-25 19:39] CyrusNajmabadi commented on #23842
That seems reasonable.  I think such an ask would go to @dotnet/roslyn-compiler .  @jaredpar Is there a recommended way for people to ask for functionality to be exposed from the core compiler layer?

[2018-01-25 19:40] CyrusNajmabadi commented on #23842
I would also retitle this to something like: No API available to determine if one symbol is accessible within another symbol".  The issue would then have to explain what works like "within" mean, and what the general API contract is needed here.

[2018-01-25 19:51] OmarTawfik commented on #24351
Thanks for explaining :)

[2018-01-25 19:52] jnm2 commented on #23842
I have five other compiler-level API requests and one workspace-level API request as well. It would be great to have a process in place. If it makes a difference, I'll offer the manpower to implement whatever the team decides.

[2018-01-25 20:31] agocke opened #24456 "The Roslyn compiler bootstrap should use the output of the Microsoft.(Net|NETCore).Compilers package"
These packages are closer to the layout we use for VS and using them in our bootstrap should help catch issues where we add a reference to one of the projects, but forget to add that reference to the rest of the places the compiler assemblies are deployed.

[2018-01-25 20:47] #24174 closed

[2018-01-25 21:34] CyrusNajmabadi commented on #24094
I can't seem to read that doc.  Is it limited to only teh MS organization?  Any way that could be made public?

[2018-01-25 21:36] HaloFour commented on #21024
@seriussoft

IIRC the only reason it works with ASP.NET WebForms with inline code is that:

1.  The code is compiled on demand at runtime.
1.  The nature of the project creates very strict demarcation between each individual view and any dependency classes.  One compiled-on-demand view cannot rely on another compiled-on-demand view.

As such the compiler is only ever dealing with small individual

[2018-01-25 22:02] jasonmalinowski commented on #24453
Somewhere in the DTE code I'd imagine. @DustinCampbell probably knows more, assuming he hasn't intentionally repressed it.

[2018-01-25 22:25] gafter commented on #24380
Can you please point to the part of the spec that says that a null literal converted to the type `int?` is not a constant? I know the cast *syntax* prevents it from being a constant, but I did not find anything about the conversion itself preventing it from being a constant. The fact that `case null:` is accepted for an `int?` switch suggests the converted `null` is indeed constant.

[2018-01-25 22:46] heejaechang opened #24459 "show users why find all reference can't read metadata information"
find all reference need to read symbol information from metadata references, but as any input, metadata (dll) can contain invalid data, and that can cause exception which cause us to lose any information from that dll for find all references.

for now, we silently ignore it and move on. but it might be better to let users know such failure happened so that user know why find all reference doesn't

[2018-01-25 23:17] seriussoft commented on #21024
@HaloFour

Thanks for offering your insights into why it works. They align with my guesses based on knowledge that hasn't stirred in a while (I've not been focuses on ASP.NET projects in a while).

Yeah, I'm sure it has to do with the order of building, separation of concerns, and limiting building to multiple actions instead of a run-and-gun approach such that the VB.NET and C#.NET code bases don

[2018-01-25 23:45] agocke opened #24462 "VBCSCompiler compiled for `net46` does not work on Mono on Linux"
The problem is that we conflate running on `net46` with running on Windows. The work is probably just to run through the code and make sure we're using operating-specific code based on the operating system, not the runtime.

[2018-01-26 00:33] agocke commented on #24462
cc @jaredpar

I think we should fix this once we get a bootstrapping build for Mono working. Historically we have caught most of our compiler server issues through bootstrapping and I think Mono will be no different.

[2018-01-26 00:49] jmarolf commented on #24435
I think that makes the most sense.  We could look at sorting results such that members in the current file always appear first but that is likely to break some folks muscle memory.

[2018-01-26 00:52] #24006 closed

[2018-01-26 01:15] AlekseyTs commented on #24380
This can suggest many different things, starting with "this is a bug in compiler" and ending with "this is something special about ```is``` pattern". I am leaning towards the pattern peculiarity, perhaps unspecified. And, if unspecified,  that happened exactly due to the inaccuracy in the compiler's implementation around constant folding, things just worked as we wanted them and no-one realized th

[2018-01-26 02:08] tmat opened #24466 "EnC test scenario: Non-remappable region should be reused if no edits are made"
**Steps to Reproduce**:

1. Create C# console application with following code:

[code]

2. Set a condition breakpoint ("i==20") at line "int j = 0;"
3. F5
4. ENC: Add new line "j++";
5. F10
6. F10

**Expected Behavior**:

![image](https://user-images.githubusercontent.com/41759/35421921-bb6a9824-01fa-11e8-94e8-fee9b45f6c22.png)

**Actual Behavior**:

![image](https://user-images.githubusercontent.

[2018-01-26 02:08] #24466 closed

[2018-01-26 02:43] paul1956 opened #24467 "VB TryGetValue with Tuples has issues"
**Version Used**:
VS Enterprise 15.5.4, Roslyn 2.6
**Steps to Reproduce**:
1. With the code below NewNodeList is always empty after TryGetValue
[code]
But if you execute the statement below NewNodeList has correct value, is something broken with TryGetValue and Tuples
[code]
**Expected Behavior**:
NewNodeList and RemoveStatement have the value stored in Dictionary when Key Matches or if dictionari

[2018-01-26 02:52] gundermanc commented on #23159
I'm admittedly not sure. I'm not very familiar with the doc well. @olegtk might know. I suspect this might be a CPS or DotNet project system change in the end.

[2018-01-26 02:54] gundermanc commented on #24094
Sure! I'll try to put it up tomorrow.

[2018-01-26 04:49] CyrusNajmabadi commented on #24467
This would be the same as you writing:

```.TryGetValue(key, new AnyStruct())```

It's not a good idea.  :)

[2018-01-26 05:19] paul1956 commented on #24467
Thanks, should there at least be a warning? Does it ever make sense or is this just another case where VB doesn't quite work with Out variables?

[2018-01-26 06:16] gafter commented on #24380
On the contrary, they *are* part of the representation of a `null` literal. The spec applies to C# programs, not bound nodes.

[2018-01-26 06:30] gafter commented on #24380
The fact that `case null:` works for an `int?` switch is longstanding intentional behavior since nullable types were added to the language. If the spec does not permit that, it is a bug in the spec.

[2018-01-26 07:22] gafter commented on #24380
See https://github.com/dotnet/csharplang/issues/1282 for the ECMA bug and proposed fix. That is a copy of an open issue in ECMA for your reference.

[2018-01-26 07:49] AdamSpeight2008 opened #24470 "Clarity on the design process for VB and C#"
Both the VB and C# language repositories have a read me document that outlines the process for language features. I've extracted out two sections that I think did further clarity.

Especially the following part of `3`

How can they share it with the design team and community for feedback?
Submitting a PR to the Roslyn repo, seems to go against section 4.
Feedback could be a useful especially if th

[2018-01-26 08:02] gafter commented on #24470
You share a prototype for feedback by pointing people to a fork of the Roslyn repository. Microsoft employees tend to use a git branch on the dotnet/roslyn repo, but you can use a branch in your own repo.

[2018-01-26 08:06] AdamSpeight2008 opened #24478 "Display version number after a test run."
Could we also display the various version / build numbers used for the compilers at the end of test run?
*Don't worry about the failures, it just an example output*
[code]

[2018-01-26 08:07] gafter commented on #24470
The kind of feedback step 3 of this process is intended to support is feedback about the proposed language feature as designed, not the code that implements its prototype. Submitting a PR would not solicit feedback about the language feature, but rather solicits feedback about its implementation, which is not what should be happening in step 3.

[2018-01-26 08:13] AdamSpeight2008 opened #24479 "ConditionalAccessOffConstrainedTypeParameter_Field"
Currently seeing these two failures

**Version Used**:
`Microsoft (R) Visual C# Compiler version 2.7.0.62518 (d0445909)`

[code]

[code]

[2018-01-26 08:23] gafter commented on #24470
@jaredpar Do you want to add anything about how an external contributor can prepare a usable prototype of a proposed language feature? Is there a documented way to do that?

[2018-01-26 08:25] jcouv commented on #24479
I've seen such errors in the past (typically in greater numbers though) due to how git checked out files.

[2018-01-26 08:29] jcouv commented on #22951
@jinujoseph @Pilchie Could you help route? Thanks

[2018-01-26 08:29] jcouv commented on #23011
@DustinCampbell Sounds like this issue is being worked on. Who should it be assigned to?

[2018-01-26 08:35] AdamSpeight2008 commented on #24470
@gafter @jaredpar Sorry if I've been a pain on these points, it just frustrating *(probably on both sides)* that I feel really excited to be close to getting the feature working *(at least to my low standards)*. And the key or help to reach it, is not forthcoming. *I understand that it isn't an automatic right, but the occasional scraps from table of the languages gods would be treasured and respe

[2018-01-26 08:37] AdamSpeight2008 commented on #24479
@jcouv It is confusing to me as I'm not touching the csharp code.

[2018-01-26 08:37] jinujoseph commented on #22951
tracked [here](https://devdiv.visualstudio.com/DevDiv/NET%20Developer%20Experience%20Productivity/_workitems/edit/557954)

[2018-01-26 08:37] #22951 closed

[2018-01-26 08:49] alrz commented on #24479
I think this is fixed in https://github.com/dotnet/roslyn/pull/24323

[2018-01-26 09:18] AdamSpeight2008 commented on #24479
Rebased onto latest commit, failures gone.

[2018-01-26 09:18] #24479 closed

[2018-01-26 09:20] CyrusNajmabadi commented on #24467
You could certainly write an analyzer to find these sorts of things.  But this has been how VB has worked since forever, and adding a warning here would be breaking.

[2018-01-26 09:27] paul1956 commented on #24467
I will chalk it up to I learned something new.

[2018-01-26 09:27] #24467 closed

[2018-01-26 09:59] filippobottega commented on #3371
Hello,
  what do you think about this solution?

[http://www.surviveplus.net/en/archives/39](http://www.surviveplus.net/en/archives/39)
[https://www.nuget.org/packages/Surviveplus.XmlCommentLocalization/](https://www.nuget.org/packages/Surviveplus.XmlCommentLocalization/)

  Regards,
    Filippo.

[2018-01-26 10:04] jskeet opened #24480 "C# tuple name inference refactoring can be incorrect"
**Version Used**: VS 15.5.5; csc reports v2.6.0.62329

**Steps to Reproduce**:

Add this code into a project with C# 7.1 or higher enabled:

[code]

**Expected Behavior**:

No suggestions for simplification.

**Actual Behavior**:

- The `foo:` is in light grey, with a tool tip of "Member name can be simplified"
- Applying the suggested fix ("Use inferred member name") results in:
        `var tupl

[2018-01-26 13:17] vsfeedback opened #24481 "Slow response when editing"
While editing VS2017 frequently freezes

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/188907/slow-response-when-editing.html
VSTS ticketId: 558041_
_These are the original issue comments:_
(no comments)
_These are the original issue solutions:_
(no solutions)

[2018-01-26 13:19] sharwell commented on #24481
This appears to be caused by allocations dominated by this stack:

![image](https://user-images.githubusercontent.com/1408396/35441475-3f1a0c72-0269-11e8-98ab-78e22ab93d04.png)

[2018-01-26 14:25] tlycken commented on #22903
@jcouv I'm seing this issue too, as of today (Windows Update installed stuff overnight). Same .NET version as @Soarc reported above. The announcement you linked provides little info, but links to [this document](https://github.com/Microsoft/dotnet/blob/master/releases/net471/KnownIssues/510901-BCL%20Apps%20targeting%20.NET-4.6.1%20that%20use%20.NET%20Standard%20libraries%20might%20be%20broken%20wh

[2018-01-26 14:42] whoisj commented on #3371
@filippobottega can the `xml:lang="{lang}` be appropriated from a separate file?

Having the localization contained in non-source code files is highly desirable. The reason for this is that localization specialists are very often not software developers (vice-versa being true as well), and ought not need to pass through the same barriers as source code changes make.

For example: waiting for revie

[2018-01-26 15:21] filippobottega commented on #3371
I know, but the problem is that from a developer point of view, the documentation is needed near to the code as much as possible.
When I document a class, a property or a method, I need to write the code and the comments in the same time.
I need the possibility to insert Italian and English translations for 2 reasons: first of all to remember what I'm developing (Italian), then to publish my comme

[2018-01-26 15:39] pr-yemibedu commented on #3371
Hello,
 From a developer point of view, I develop in my native language, and have the primary comments in that language too. That is because I am writing small internal applications where my whole team can read and understand what I have provided. For making a solution to be handled by a larger group (international) or available in source to the public, the benefit of having reference points to ex

[2018-01-26 15:40] whoisj commented on #3371
Documentation comments are very different than regular code comments. Documentation comments are used to generate API documentation metadata which is packed into the result assembly. While they can be used as in-line comments, that is not their purpose for being. Supporting the widest number of consumers of a given assembly is generally a good thing, I cannot imagine why anyone would want to limit

[2018-01-26 16:02] sharwell commented on #3371
Multiple languages within the same source file would be absolutely impossible to maintain, at least under the currently-available tooling. No one would be able to look at the code and determine if the comments are correct, and no one would be able to create new comments or edit existing comments.

[2018-01-26 16:04] sharwell commented on #3371
@nguerrera Is there existing (public) tooling in place for localizing API documentation from comments in code?

[2018-01-26 16:09] sharwell commented on #23011
@jcouv The issue as stated is by-design. The relevant side issue of `MSBuildWorkspace` is linked to above.

[2018-01-26 16:09] #23011 closed

[2018-01-26 17:04] cston opened #24482 "Syntax error reported for nullable array cast"
[code]
[code]

[2018-01-26 17:22] xtu commented on #23294
I was redirected to this issue from [here](https://developercommunity.visualstudio.com/content/problem/183840/goto-member-is-not-constrained-by-current-document.html). My original issue is that 'Current Document' toggle does not actually limits the results within the current file.

Click Go To Member and type in some characters, the results may from any files in the solution even the Current Docum

[2018-01-26 17:32] jaredpar commented on #24470
@AdamSpeight2008

I think the best way to do this is to start a discussion on the appropriate language repo, provide a speclet of the feature and link to the implementation branch.

Correct. That's creating a PR that has almost 0 chance of being merged.

This is not a limitation we apply to the community, it's one we apply to ourselves as well. Language features are **hard**. They don't just encom

[2018-01-26 17:43] Spacefish commented on #13
@jnm2 that´s not really the same thing.. anonymous types implementing an interface would allow you to pass them as a reference to multiple callbacks to a long running action / task..  Such a pattern is heavily used in Android in Java..
There are typically multiple things that could happen if you trigger some asynchronous actions.. If you only have one callback/delegate you have to have multiple pa

[2018-01-26 17:49] jnm2 commented on #13
@Spacefish And well I know it. I was answering @jbtibor's question, "Are there local classes in C#? Or this is a future feature?"

[2018-01-26 17:54] joperezr opened #24485 "There is a typo on Microsoft.NETCore.Compilers.props"
[This line](https://github.com/dotnet/roslyn/blob/master/build/NuGetAdditionalFiles/Microsoft.NETCore.Compilers.props#L14) has a typo on the naming of the VisualBasic targets causing corefx to need to work around this by re-setting the property.

how it looks today:
[code]

how it should look instead:
[code]

cc: @agocke @jaredpar

[2018-01-26 17:59] justcla commented on #23294
I've just tested GoToMember with CurrentDocument filter and found that it DID effectively filter on Current Document only.
@xtu - What version are you running?

[2018-01-26 18:13] AlekseyTs commented on #24380
I am not disputing that. However, I do not believe the bu id in the "Constant expressions" section.

The IOperation nodes should reflect the language. If, according to the language, there is no conversion, then there should be no conversion node in the tree. Otherwise, they should not have constant values.

[2018-01-26 19:31] AlekseyTs commented on #24380
@gafter

Please elaborate what is this statement supposed to mean.

[2018-01-26 20:03] alrz commented on #15430
I managed to address the case using DataFlowsIn API here: https://github.com/dotnet/roslyn/pull/24487

[2018-01-26 20:16] gafter commented on #24380
What I mean is that the proposed fix in ECMA (which you can view a copy of in https://github.com/dotnet/csharplang/issues/1282) involves a fix to that section. The proposed fix is

A PR that shows the proposed fixes in context is at https://github.com/dotnet/csharplang/pull/1283

[2018-01-26 20:33] xtu commented on #23294
@justcla I am using 15.5.4. I've recorded a video clip demonstrating the issue I'm having.

https://www.dropbox.com/s/prp4bhfwybg45kt/2018-01-26_17-16-33.mp4?dl=0

You can see the file I opened `LayoutCable.cs` does have a member called `GetLinkInfo`, but the search result list members from files even though they are not part of the solution.

[2018-01-26 20:41] AlekseyTs commented on #24380
And I disagree with the proposal. A simple fact of existence of a proposal doesn't mean that the proposal outlines the right way to deal with the problem. Even if it is the only proposal at the given point in time.

[2018-01-26 20:41] CyrusNajmabadi commented on #23294
Those look like C++ entries.  Those are not handled by Roslyn.

[2018-01-26 20:55] xtu commented on #23294
I have a C++ project in the solution. You are right, those are from C++ header files.

I've tried several times in other C# files. It seems only entries from the current document and C++ header files are listed. I can't see any C# results reported for items that are not from the current document.

[2018-01-26 20:56] jasonmalinowski commented on #24478
@AdamSpeight2008 What would this be needed for?

[2018-01-26 20:56] jasonmalinowski commented on #24478
(not saying there isn't a reason...just not obvious to me.)

[2018-01-26 20:57] CyrusNajmabadi commented on #23294
@Pilchie @jmarolf  Can someone help file an internal bug that states that C++ is not listening to the 'in the current file only' filter?  Thanks!

[2018-01-26 20:58] justcla commented on #23294
Sounds like the results from the C++ search are not being filtered to the current document.

[2018-01-26 21:04] jasonmalinowski commented on #24350
Yeah, once we have .editorconfig we'll probably enable enforcement, but we don't have that today. And I don't see us implementing a new tool prior to it existing -- that's just time we could spend implementing .editorconfig.

That said, having some better docs on VB formatting would be good. What rules should we document that we're not today?

[2018-01-26 21:09] nguerrera commented on #3371
@sharwell I'm not aware of what's available for that. @mairaw, do you know?

It would not be too hard to add it to xliff-tasks. However, I don't think we would use it because localization of docs.microsoft.com is handled completely separately from the process that localizes product strings.

[2018-01-26 21:45] alrz opened #24488 "API request: Provide 'AnalyzeDataFlow(SyntaxNode firstNode, SyntaxNode lastNode)' to give more control over the selected region"
Currently we only can define a region given first and and last statements, but there is no way to specify the exact node for the start and end of a region.

For example, if we want to suggest to use out var in the following code:
[code]
We need to check if x is not being used from the point of declaration up to the out usage and check if it does not flow in (i.e. is definitely-assigned) from the p

[2018-01-26 21:46] #6748 closed

[2018-01-26 22:18] gundermanc commented on #24434
Ported [Modern ToolTip API spec](https://github.com/Microsoft/vs-editor-api/wiki/Modern-ToolTip-API) to GitHub.

[2018-01-26 22:19] #24485 closed

[2018-01-26 22:25] gundermanc commented on #24094
Alright, it's up:

[Modern Quick Info API](https://github.com/Microsoft/vs-editor-api/wiki/Modern-Quick-Info-API) for porting the quick info provider and [Modern ToolTip API](https://github.com/Microsoft/vs-editor-api/wiki/Modern-ToolTip-API) for information about the tooltips APIs upon which they are based.

A few things to look out for:
- Roslyn's event hookup feature used hacks to remove other

[2018-01-26 23:22] jmarolf commented on #23294
Filed an internal bug on the C++ team [here](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/558453)

[2018-01-26 23:47] OmarTawfik opened #24490 "IDE completion for `in` overrides adds unnecessary attributes"
Using this code:
[code]
Now from another assembly, inside the child type, type `override` and wait for the suggestions, and expand `M`, you'll get the following:
[code]
That attribute shouldn't be present.

[2018-01-27 00:33] jcouv commented on #23307
Feature is merged. Targeting 15.7.

[2018-01-27 00:33] #23307 closed

[2018-01-27 00:54] mairaw commented on #3371
I don't think there is. For .NET, since IntelliSense is not generated from the code, the localization happens in the content side. For products like ASP.NET Core which are completely auto-generated from code comments, I still think the comments go through a docs pipeline and then localized. So there is no tool for localizing in code.

Adding @dend (our PM for API reference experience on docs) and

[2018-01-27 01:54] sebastienros commented on #24124
Friendly reminder that this is still happening when I switched to the SDK 2.1.300-preview1-008009

[2018-01-27 10:53] Dreamescaper commented on #24226
Maybe it would make sense to put all such items to the top of the list instead?
I know that currently all the items are sorted alphabetically, but don't really get why.

[2018-01-27 15:40] RemyArmstro commented on #8269
+1 Would love this feature!

[2018-01-27 20:35] carlreinke opened #24493 "CSC doesn't care if out parameter not assigned"
**Version Used**: Microsoft (R) Visual C# Compiler version 2.6.0.62329 (5429b35d)

**Steps to Reproduce**:

[code]

**Expected Behavior**: Show error message and fail to compile.

**Actual Behavior**: Compilation succeeds.

[2018-01-27 20:37] Overrided commented on #23396
Same issue here.

[2018-01-27 20:56] samirgunic commented on #24376
I can confirm that it does exist in Visual Studio 2015, Update 3.

[2018-01-27 22:54] gafter commented on #24493
Please check to see what fields, if any, are contained in `System.Collections.Generic.KeyValuePair` inside of `C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.netcore.app\2.0.0\ref\netcoreapp2.0\System.Runtime.dll`. If it contains no fields in that reference assembly, then the compiler is correct. In that case the `out` parameter is definitely assigned because all (zero) of its fields ar

[2018-01-27 22:56] gafter commented on #24493
To clarify, if that is the case then it is a bug in the reference assembly.

[2018-01-27 23:24] carlreinke commented on #24493
Indeed, there are no fields in that `KeyValuePair<TKey, TValue>` in the reference assembly.  I replaced the original comment with a different example.  `ReadOnlyMemory<T>` does have fields.

[2018-01-27 23:26] carlreinke commented on #24493
Err, I guess the *reference* assembly for `System.ReadOnlyMemory<T>` doesn't have fields either... the assembly that gets used has fields.  Why are there no fields in the reference assemblies?

[2018-01-27 23:54] gafter commented on #24493
That is a bug. We’ll move this bug to an appropriate repository.

[2018-01-27 23:59] tannergooding commented on #24493
@gafter, I believe the issue has already been dealt with on the CoreFX side: https://github.com/dotnet/corefx/pull/26286 and https://github.com/dotnet/buildtools/pull/1859.

However, it was only merged 15 days ago, so nothing has shipped with the fix yet.

[2018-01-28 06:01] jcouv commented on #24432
Fix is ready for review.

[2018-01-28 06:03] jcouv commented on #24490
I missed the part about referencing the code from another assembly. I'll try again.

[2018-01-28 20:19] AlekseyTs opened #24497 "Unit-tests for implementing interface in derived interfaces are broken with new CoreCLR packages"
See https://github.com/dotnet/coreclr/issues/16064 for more information.
The tests are disabled and should be re-enabled once a fix is available

[2018-01-28 20:42] sharwell opened #24498 "Formatter should remove spaces inside interpolated string braces"
**Version Used**: 15.6 Preview 2

**Steps to Reproduce**:

Format the following code in Visual Studio:

[code]

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

:link: Current behavior appears to be implemented in 67cf7c1dcf0db735e1445fab0adbb46297042d64
:link: Related to code review in #24407
:link: Related to DotNetAnalyzers/StyleCopAnalyzers#2295

[2018-01-28 20:44] sharwell opened #24499 "Formatter should add a space after comma in interpolated string format"
**Version Used**: 15.6 Preview 2

**Steps to Reproduce**:

Format the following code:

[code]

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

:link: Current behavior appears to be implemented in 67cf7c1dcf0db735e1445fab0adbb46297042d64
:link: Related to DotNetAnalyzers/StyleCopAnalyzers#2295

[2018-01-28 20:46] sharwell commented on #24499
@DustinCampbell @kuhlenh Let me know if this needs to go to a design meeting before marking it up for grabs.

[2018-01-28 20:46] sharwell commented on #24498
@DustinCampbell @kuhlenh Let me know if this needs to go to a design meeting before marking it up for grabs.

[2018-01-28 21:27] jp2masa opened #24500 "nameof autocompletion on nested class doesn't work for parent class members"
**Version Used**: VS 15.5.5

**Steps to Reproduce**:

1. Create a nested class, like this:
[code]
2. When typing `nameof(P`, `PropertyA` isn't shown as a suggestion, but the code compiles.

**Expected Behavior**:
The code compiles and `PropertyA` is shown as suggestion.

**Actual Behavior**:
The code compiles, but `PropertyA` isn't shown as suggestion.

[2018-01-28 22:17] jcouv opened #24501 "Completion on declaration should prioritize "new""
![image](https://user-images.githubusercontent.com/12466233/35487875-c8c857f8-0435-11e8-96cc-b0e8ac05bc93.png)

Removing "nameof" hopefully will bring "new" to the top, but I'm not certain.

[2018-01-28 22:20] CyrusNajmabadi commented on #24501
it will bring "namespace" to the top right?  that's the next highest prefix-matching item.

[2018-01-28 22:21] CyrusNajmabadi commented on #24501
nameof is legal here.  you might be doing something like:

[code]

For all we know. :)

[2018-01-28 22:21] jcouv commented on #24501
Ah, good point. I'll close then.

[2018-01-28 22:50] jcouv commented on #24500
Tagging @gafter to confirm it's ok for the compilation to succeed (from the [spec](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#nameof-expressions), it wasn't clear to me what the lookup rule inside `nameof` is).

[2018-01-28 22:54] jcouv commented on #23908
@jinujoseph I'm not sure how to route this feature request. Can you help?

[2018-01-28 23:09] gafter commented on #24493
@tannergooding I don't see anything specifically changing `KeyValuePair`'s reference assembly. Isn't its reference assembly produced based on hand-written source?

[2018-01-28 23:10] #24493 closed

[2018-01-28 23:10] gafter commented on #24493
Issue moved to [dotnet/corefx #26624](https://github.com/dotnet/corefx/issues/26624) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-28 23:17] tannergooding commented on #24493
It looks like it has already been fixed, at least somewhere: https://github.com/dotnet/corefx/blob/a3986843153e27e92c89907f58046bb37da0f9eb/src/System.Memory/ref/System.Memory.cs#L108

[2018-01-29 00:16] CyrusNajmabadi commented on #24498
I think this should be controlled by an option.  I, for one, prefer spacing here as i feel it helps visually clarify what's going on.

[2018-01-29 01:28] gafter commented on #24493
And the fix for `KeyValuePair`?

[2018-01-29 01:35] tannergooding commented on #24493
I wasn't able to find the contract assembly for KVP and commented as such on the new issue (forgot to comment as such here as well).

[2018-01-29 01:38] tannergooding commented on #24493
Nevermind, it's in `System.Runtime` and is also correct: https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs#L3907

(GitHub search wouldn't find it, `git grep` did).

[2018-01-29 03:06] gafter commented on #24470
Closed, question answered.

[2018-01-29 03:06] #24470 closed

[2018-01-29 03:08] #24233 closed

[2018-01-29 03:08] gafter commented on #24233
Issue moved to [dotnet/coreclr #16068](https://github.com/dotnet/coreclr/issues/16068) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-29 04:19] velociwabbit opened #24503 "Unexpected slowness with javascript"
**Version Used**:
2017 latest release 4.7.02556
**Steps to Reproduce**:

1. Virtually every single javascript.js file has this problem
2. scroll down to the bottom of the file open then ctrl f to open the find window
3. the system hangs for 20 seconds or more

**Expected Behavior**:
that it work without delay
**Actual Behavior**:
that it reminds me of  software when balmer was in charge

I have re

[2018-01-29 04:52] Pangar commented on #24500
This populated PropertyA once I set class B to inherit from class A while nested.  Weird.
class A
    {
        string PropertyA { get; }

        class B : A
        {
            void MethodB()
            {
                Console.WriteLine(nameof(PropertyA));
            }
        }
    }

[2018-01-29 08:02] jinujoseph commented on #24026
closing this , please reopen if you see the issue again.

[2018-01-29 08:02] #24026 closed

[2018-01-29 08:08] jinujoseph commented on #24130
That matches my understanding

[2018-01-29 08:08] #24130 closed

[2018-01-29 08:16] jinujoseph commented on #24176
following with editor team

[2018-01-29 10:27] Blealtan commented on #24503
Can't reproduce. May you share your system configuration? Besides, I think this should be a Visual Studio issue rather than a Roslyn one.

[2018-01-29 11:20] jmarolf commented on #24503
@velociwabbit javascript and typescript use roslyn for most of their editor functionality so this UI delay is likely coming from the javascript language service itself and being reported as roslyn.  Please follow [these instructions](https://github.com/dotnet/roslyn/wiki/Reporting-Visual-Studio-crashes-and-performance-issues#performance-issues) on how to get a trace so we can diagnose this, thanks

[2018-01-29 12:50] sharwell commented on #24346
@taori Can you show the `Initialize` method of the analyzer which is throwing this exception?

[2018-01-29 12:53] sharwell commented on #24503
Hi @velociwabbit,

@dpoeschl and I worked together on the instructions posted by @jmarolf. This set of instructions has been extremely successful at helping users report problems in ways that allow us to get them fixed efficiently. After you complete the steps, please comment back here with a link to the feedback item you added on Developer Community.

If you encounter problems or are unable to po

[2018-01-29 13:09] sharwell commented on #24274
This is related to #19652, which I plan to revive.

@KirillOsenkov To choose the best approach for resolving this, I will need a performance trace (PerfView) that captures a case where many exceptions are thrown.

[2018-01-29 14:31] LeonidVasilyev opened #24513 "How to disable live code compilation/analysis in Visual Studio 2017?"
**Version Used**: 2.6.0.6232903
Visual Studio 2017 marks `Bar()` with red squiggle before project is built:
![squiggle](https://user-images.githubusercontent.com/1970951/35514725-3178892a-0518-11e8-820f-0476d6e211fc.gif)
Is it possible to alter this behavior to show errors only after manually triggered build?

In Error List I see that the error message is produced by IntelliSense. I tried to disab

[2018-01-29 15:05] sharwell commented on #24513
:memo: This may be a case where the feature was so infrequently used that it became prone to higher rates of regression bugs between releases (lack of use meant bugs in the behavior were not detected).

/cc @kuhlenh

[2018-01-29 15:14] sharwell commented on #24176
I would *expect* this block to cover the functionality:

https://github.com/dotnet/roslyn/blob/67f2d4338d3889d89c642ae4effebd49751d49d7/src/EditorFeatures/CSharp/TextStructureNavigation/TextStructureNavigatorProvider.cs#L63-L67

I'm not sure if the bug lies in the Roslyn implementation or if the editor is just failing to use `ITextStructureNavigator.GetExtentOfWord` for double click operations.

[2018-01-29 15:52] sharwell commented on #23908
@kuhlenh Can you add this to a design review?

[2018-01-29 15:54] sharwell commented on #24501
@jcouv You may need to use `ne` instead of just `n` in the tests that let to this discovery. Separately, it may make sense to prioritize `new` in this case (as a special case without removing `nameof`).

[2018-01-29 16:40] svick commented on #20279
@agocke

Is it? Both in VS and in VS Code, when I type the opening brace of a method, the editor automatically adds the closing brace. So I'm never in a situation where just the opening brace exists, at least with default settings. (It might be interesting to know how many people have "Acutomatic brace completion" disabled for C#, but I don't know how easily are such statistics accessible for you,

[2018-01-29 16:44] gafter commented on #24488
[Does this API help](https://github.com/dotnet/roslyn/blob/14aed138a01c448143b9acf0fe77a662e3dfe2f4/src/Compilers/CSharp/Portable/CSharpExtensions.cs#L948)?

[code]

[2018-01-29 16:54] AlexanderMorou commented on #21024
I wonder if it would be possible to greatly simplify this by the Roslyn team creating and maintaining a cross-language converter.

I recall some of the earlier samples with Roslyn showing off a very simple C#->VB or VB->C# converter.

If we had an official tool that triggered this on a given file, it could, upon detecting changes to the mix-in file, translate it into the proper language (familiar

[2018-01-29 16:57] alrz commented on #24488
@gafter

That just accept a single expression while I needed to specify a non-statement node for the starting and ending points of the region. something like `AnalyseDataFlow(SyntaxNode firstNode, SyntaxNode lastNode)`.

[2018-01-29 16:57] ltcmelo opened #24514 "Why doesn't Roslyn have an IdentifierExpressionSyntax AST node?"
This isn't an issue, but a question. However, I couldn't find a discussion mailing list about Roslyn itself (only for C#/VB as a whole) or an IRC channel - please, let me know if I missed it.

Why isn't there an "identifier expression" node in Roslyn's AST? Compiler infrastructures I've worked with (and wrote) typically have an `IdentifierExpressionAST` node. This allows me to immediately distingu

[2018-01-29 18:00] AdamSpeight2008 commented on #24514
There are two kinds of node that represents the source code
[Syntax Nodes](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Syntax/Syntax.xml) Representing the structure of the text of the source code
[Bound Nodes](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml) Representing the semantic meaning of the code.

[2018-01-29 18:09] ltcmelo commented on #24514
It seems that's internal API, correct? I'm speaking from the perspective of a Roslyn *user* who's writing source analysis. How would you traverse the AST with CSharpSyntaxWalker/Visitor and, out-of-box, match identifier expressions?

[2018-01-29 18:15] 333fred opened #24515 "Editor jump bar doesn't go to correct location for multiple conflicting functions"
Type this code into the editor:
[code]

The function info bar at the top will have 3 different entries for Main, but clicking on any of them will always bring you to the first such defined function, not the one that corresponds to that entry in the list. This is also true for partial classes in separate files: even clicking the greyed-out entry will always bring you back to the same function as th

[2018-01-29 18:29] AdamSpeight2008 commented on #24514
It used to generate the syntax nodes and bound nodes, eg the AST.

[2018-01-29 18:32] mavasani opened #24516 "Intermittent test failure FindReferencesCommandHandlerTests.TestSelection"
See https://ci.dot.net/job/dotnet_roslyn/job/master-vs-deps/job/windows_debug_unit32_prtest/153/artifact/Binaries/Debug/UnitTests/EditorServicesTest2/xUnitResults/Roslyn.Services.Editor2.UnitTests.dll.out.log

[code]

[2018-01-29 18:35] mavasani commented on #21708
Another failure: https://ci.dot.net/job/dotnet_roslyn/job/master-vs-deps/job/windows_release_unit64_prtest/153/artifact/Binaries/Release/UnitTests/EditorServicesTest2/xUnitResults/Roslyn.Services.Editor2.UnitTests.dll.out.log

[code]

[2018-01-29 18:43] mavasani commented on #18637
Another failure: https://ci.dot.net/job/dotnet_roslyn/job/features_ref-reassignment/job/windows_release_unit32_prtest/5/testReport/junit/Microsoft.CodeAnalysis.VisualBasic.UnitTests/MyTemplateTests/MyWinformApp/

[code]

[2018-01-29 18:48] jasonmalinowski commented on #24156
Ouch, yep that's bad.

[2018-01-29 18:48] jasonmalinowski commented on #24156
(I think it *is* in the right click context menu too in VB, unless @kuhlenh removed it...)

[2018-01-29 18:54] agocke commented on #20279
Well, you also have to approximate how many people type `virtual` for a local function. I suspect very few, less than the number of people with automatic brace completion disabled.

[2018-01-29 19:07] JieCarolHu commented on #23030
I'm reserving this for a new first time contributor for the next three days.
Interested in trying your hand at this? Here's what you need to know:
If you are serious about working on this, add a comment here. While multiple people are allowed to participate, I'm willing to go out of my way to make sure the first contributor working on this gets their code merged into Roslyn.
I know more about this

[2018-01-29 19:18] mavasani commented on #24319
FYI: The following workaround resolved this issue and we don't need this feature request anymore:

[2018-01-29 19:18] #24319 closed

[2018-01-29 19:32] ltcmelo commented on #24514
I suspect to have identified at least one potential reason for this design: There's syntax ambiguity in C# and, in order to separately pipeline Roslyn's syntactical and semantic analysis, there's no other way but to make *certain* names expressions (even when they aren't such in a theoretical sense). For a member access expression such as `a.b`, for instance, semantic information is required to id

[2018-01-29 19:46] taori commented on #24346
**Here's the test code which raises the exception:**

[code]

**Analyzer code:**

[code]

**Extension classes:**

[code]

The marked line made both tests work, but figuring out what was wrong was very troublesome. If you strip the code within the catch block and remove the try/catch you'll be getting the NRE i was experiencing.

Hence the request to add more information in AD0001 diagnostic :)

I

[2018-01-29 20:19] #24178 closed

[2018-01-29 20:21] #24175 closed

[2018-01-29 21:11] jmarolf commented on #24514
Its kind of hidden on the ReadMe.md file in the root but we have a gitter chat for general questions
[![Join the chat at https://gitter.im/dotnet/roslyn](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/dotnet/roslyn?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

tagging @gafter for a more detailed explanation but I believe the answer is that the nodes in t

[2018-01-29 21:21] bartdesmet opened #24517 "Invalid expression tree code emitted when using ValueTuple constructors"
**Version Used**: 2.6.0.62329 (5429b35d)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

No exception.

**Actual Behavior**:

[code]

**Investigation**:

The compiler emits:
[code]
rather than
[code]

[2018-01-29 21:31] jmarolf commented on #24513
Disabling full solution analysis does not disable analysis in the current file.  In between VS 2013 and VS 2015 we removed the option to disable design-time analysis.  Sounds like this is a request to bring that feature back.

[2018-01-29 21:40] gafter opened #24518 "Access control should be implemented in compiler layer, not workspaces layer"
See https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions_Accessibility.cs

These language questions (of accessibility) should be implemented in the compiler layer, not the workspaces layer.

See https://github.com/dotnet/roslyn/blob/94ab292d2c79b1675de0d6ff0a7361ecfbf20cfb/src/Compilers/CSharp/Portable/Binder/Semantics/AccessCheck.cs for the

[2018-01-29 21:57] dwalleck commented on #23030
I'd be interesting in grabbing this one, though I might not be able to start until this evening (juggling a newborn!). I'll get everything setup and jump back with the inevitable questions.

[2018-01-29 22:09] JieCarolHu commented on #23030
@dwalleck Thanks Daryl! Please do not hesitate to reply to this thread if you run into any issues or need more information etc.

[2018-01-29 22:18] jcouv commented on #24454
Fix merged for 15.7

[2018-01-29 22:18] #24454 closed

[2018-01-29 22:49] AlekseyTs opened #24521 "Unexpected result of "introduce local for all occurrences" refactoring"
Start with this code:
[code]

Select ```current.ToString()``` within the while loop and do "introduce local for all occurrences" refactoring

Observed result:
[code]

The result is not semantically equivalent to the original code, but it is possible that I have wrong expectations.

Expected:
[code]

[2018-01-29 22:56] gafter commented on #24517
This is possibly a symptom of https://github.com/dotnet/roslyn/issues/20648

[2018-01-29 22:59] CyrusNajmabadi commented on #20279
To give some more context on this.  When the parser encounters an error, it has to decide what to do (and it wants to make that decision quick, so as to to not slow down parsing excessively).  In the case of an error, it has to decide "is the user typing something i would expect in my current context" (and thus, it should be parses locally in the current parser context), or "is the user typing som

[2018-01-29 23:03] CyrusNajmabadi commented on #20279
This is not actually true (though i bet you didn't realize it even with your own typing).  Users *very* often run into mismatched braces even when they have "brace matching on".  This happens because of things like cut/paste, standard editing, and all sorts of other code manipulation patterns that end up easily deleting a brace as they're in the middle of things.  We've actually worked hard in the

[2018-01-29 23:04] CyrusNajmabadi commented on #24514
It does:  It's called. ```Identifier```.  Why is it not called ```IdentifierExpression```?  Because that would have been a wordy mouthful :)

[2018-01-29 23:08] CyrusNajmabadi commented on #24514
Roslyn does do what you want for other 'declarations'.  i.e a ClassDeclarationSyntax points at an Identifier **token** not an IdentifierNameSyntax.

However, the reason it's an IdentifierNameSyntax for namespaces is that it's legal to write a namespace like:

[code]

This means namespaces need a way to do dotted names, and we already have a construct for Dotted names: ```QualifiedNameSyntax```.  B

[2018-01-29 23:09] CyrusNajmabadi commented on #24514
The important question is: why do you need such differentiation.  If you can explain your use case, it would be more possible to explain the code you need to write to properly handle things.

[2018-01-29 23:13] JieCarolHu commented on #23890
@jinujoseph I tested on 27328.0.d15.6, the completion window never appears after I press CTRL+Space. Do we have a separate bug to track this issue?

[2018-01-29 23:13] CyrusNajmabadi commented on #24514
I was one of the designers here :)   The truth of the matter was that we were striking a balance between trying to have the system have distinguished typed for every use, and not making it super painful to use the API.

Another case for this was symbols (i.e. ISymbol).  We went back and forth on if there should be the concept of ISymbolReference and ISymbolDeclaration, with ISymbolReference pointi

[2018-01-29 23:15] CyrusNajmabadi commented on #24518
Oh yes please.  This was a request a long time ago, but it was punted on and pushed on the IDE to do :)  I would much prefer the compiler provide the APIs to answer how to do this (especially as it's very likely the IDE code is wrong for some subtle case, or is not correct across both languages).

[2018-01-29 23:17] CyrusNajmabadi commented on #24521
Yes.  That's the intended way for it to work.  By definition, introducing a local for all occurrences may always change the semantics (unless i guess it was a constant).  The purpose of the feature is to help speed things up when you know you have to make a ton of these changes and you know its safe to do so.  it's not intended to be semantic-changing free.

--

A simpler example is just this:

[c

[2018-01-29 23:18] CyrusNajmabadi commented on #24521
Note: it would be acceptable to me if the IDE gave a warning icon for these features if every doing something not provably safe.  Though, IMO, the rate of warnings might be so high as to be noisy and not actually provide value in many common cases.

[2018-01-29 23:20] woehling opened #24522 "is operator not working if implicit conversion operator exists on generic type"
**Version Used**: 7.2

**Steps to Reproduce**:

    class Base<T>
    {
        //without implicit operator everything works as expected
        public static implicit operator Derived(Base<T> obj)
        {
            return new Derived();
        }
    }

    class Derived : Base<object>
    {

    }

    class Program
    {
        static void Main(string[] args)
        {
            Base<obj

[2018-01-29 23:25] JieCarolHu commented on #24262
@MaceWindu I tested on the latest 15.6 and it seems already fixed. Could you please upgrade to 15.6 and try it again? Thanks!

[2018-01-29 23:39] svick commented on #20279
Thank you all for the explanations, you've convinced me that it's better the way it is. As far as I can tell, that means that everyone agrees and that there is nothing to do here, so I'm closing this issue.

[2018-01-29 23:39] #20279 closed

[2018-01-29 23:56] jmarolf opened #24523 "Blocking on queue in DiagnosticEventTaskScheduler is slowing solution load."
We appear to be queuing more work in the **DiagnosticEventTaskScheduler** in VS 2017.6.  I assume that this is because we are running more expensive diagnostics.  The combined pressure from processing tasks queued to **DiagnosticEventTaskScheduler** is causing solution open to regress by ~30%

Related to [this perf bug](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/541226)

[Baseline Logs

[2018-01-29 23:57] jmarolf commented on #24523
@sharwell Upon investigating [this](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/541226) perf bug it appears to be related to roslyn processing diagnostics

[2018-01-30 00:22] ltcmelo commented on #24514
@CyrusNajmabadi Thanks for the detailed responses and for sharing the design insights. I've recently started with Roslyn and I'm generally satisfied. There a few places, like the one I mention (or in the control-flow API), where I was "surprised".

Here, I don't expect a **token** as `ClassDeclarationSyntax`. The problem isn't that I have an `IdentifierNameSyntax` for an "identifier expression", b

[2018-01-30 00:23] agocke commented on #20279
@svick Thanks for your patience!

[2018-01-30 00:31] CyrusNajmabadi commented on #24514
That's fine.  Understand though that nothing can change here.  It would be a major breaking change, and we don't take those.  :)

My problem is that it's too abstract.  If you wanted an expression evaluator, you'd already have to do major work to understand each sort of expression, as well as understand what context it is contained in.  So you need logic to already understand the surrounding tree

[2018-01-30 00:35] CyrusNajmabadi commented on #24514
BTW, there's a helper for your use case if you want to use it.  SyntaxFacts.IsInNamespaceOrTypeContext will tell you if your expression is in a context where only a type/namespace name is allowed.  And thus where you might see names that should not be thought of as values.

I think you will still need to explicitly check if you're parented by a NamespaceDeclarationNode.  In other word you should c

[2018-01-30 00:43] CyrusNajmabadi commented on #24514
Yes.  That's the case.  But realize that that's going to be the case with virtually any taxonomy we generate.  Either we have to explicitly tease apart every syntactic construct (no matter how similar they are) if they might ever mean anything semantically.  That also means there might be more types of identifiers which might be even more annoying for other usages.

For example, TypeScript has the

[2018-01-30 00:54] ltcmelo commented on #24514
Nice to know, I'll look into `SyntaxFacts.IsInNamespaceOrTypeContext` then.

I can see that. And you've made good choices, my overall perception of Roslyn is positive - I'm enjoying playing with it.

Thanks for the informative discussion.

[2018-01-30 00:56] Kentalot opened #24525 "Allow inline variable declaration for in and ref parameter types"
**Version Used**:
I'm using C# 7.2 and version 15.5.3 of VS 2017 Enterprise.

**Steps to Reproduce**:

[code]

**Expected Behavior**: Compiles and y is usable after calling DoNothing and z is usable after calling DoNothingIn and all of x, y, and z are basically null;

**Actual Behavior**:
Does not compile since you can't inline declare variables for ref or in keywords.  I hope that's clear.  Thank

[2018-01-30 01:21] CyrusNajmabadi commented on #24514
Any time :)

[2018-01-30 01:32] CyrusNajmabadi commented on #20279
Any time :)

[2018-01-30 02:13] jinujoseph commented on #24176
moved over to editor [team](https://devdiv.visualstudio.com/DevDiv/NET%20Developer%20Experience%20Productivity/_queries/edit/559428)

[2018-01-30 02:13] #24176 closed

[2018-01-30 02:24] jinujoseph commented on #23908
_Capturing offline conversation_
It was decided that showing CodeLens on fields was pretty noisy and not as useful (since they’re scoped to the current file). If we wanted to add this, we’d want a separate set of options for the reference indicator and leave this off by default.

@reaction1989 whats the motivation for wanting this feature ? are you looking for fields which are not referenced ?

[2018-01-30 02:49] vsfeedback opened #24526 "Creating a property from a constructor arg in a constructor with an empty body puts the opening brace on the same line."
I have my code formatting set to put opening braces on new lines rather than the same line.  When I have a constructor with an empty body and I give it an argument, I can take the &quot;create and initialize property&quot; quick action.  However, this does not respect my new line setting for braces, i.e. it leaves the opening brace on the same line as the constructor declaration.

_This issue has

[2018-01-30 03:13] HaloFour commented on #24525
Proposals to change the behavior of the language are taken at the [C# Language](https://github.com/dotnet/csharplang/) repository.

[2018-01-30 03:13] Panoone commented on #24055
I only started experiencing this problem today - with all projects - despite having no problem with VS Pro 2017 for months. I tried upgrading to 15.5.6 with no success.

Application: devenv.exe
Framework Version: v4.0.30319
Description: The application requested process termination through System.Environment.FailFast(string message).
Message: System.TypeLoadException: Could not load type 'System.S

[2018-01-30 03:33] CyrusNajmabadi commented on #24055
@Panoone That appears to be a different issue.  It's not an OOM, but rather a type-load failure.

[2018-01-30 04:04] #24525 closed

[2018-01-30 04:04] gafter commented on #24525
Issue moved to [dotnet/csharplang #1289](https://github.com/dotnet/csharplang/issues/1289) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-30 04:23] udlose commented on #24055
@Panoone i had a fellow dev hit that same problem. The fix was to install .net 4.7.1. For some reason it's looking for those assemblies. Once it was installed, the problem was solved.

[2018-01-30 04:43] Panoone commented on #24055
@udlose Thanks, Dave. I'll give it a go. There was a significant Windows 10 update last night and I'm assuming something in that was the culprit.

[2018-01-30 05:24] paul1956 commented on #21024
The main reason to mix code (at least for me) is that no translator can translate perfectly and VB has no equivalent of some C# features, unchecked and unsafe are just a few examples, don't know about VB to C#. If I could get a few key C# library functions like Roslyn's gethash (which uses some of the missing features) available for VB then this feature would be less important. Right now I have on

[2018-01-30 06:06] AlekseyTs commented on #24351
@OmarTawfik I might have found the reason for the assert.
CSharpCompilation.FreezeDeclarationDiagnostics() sets _needsGeneratedAttributes_IsFrozen to true. It is called from CSharpCompilation.GetSourceDeclarationDiagnostics(...), which could actually force only partial completion for the source assembly if a syntax tree is passed in. However, it calls FreezeDeclarationDiagnostics regardless whethe

[2018-01-30 06:14] OmarTawfik commented on #24351
@AlekseyTs that's very helpful! We'll need to make a distinction between completing the full assembly (which we should freeze after), and a pass triggered by the IDE (which we shouldn't).
I'll try to repro and write some tests in the morning! Thanks :)

[2018-01-30 07:06] reaction1989 commented on #23908
Finding non referenced fields is one point.

The other point is that it makes it more easy to navigate in a class. At this time finding the usage of service x you have to use following workflows:

1: Search for the name in the class
2: Go to the implementation and have a look at the CodeLens on class level

I also catch myself that i am using properties just to have the CodeLens 😄

[2018-01-30 10:34] Ghostbird commented on #22663
I have a similar problem. I can't share much info on the proprietary sources, but we have no problem building:
- Windows 10 using Visual Studio Code
- Windows 10 using command line `dotnet build` (arguably identical to using VSCode)
- Windows 10 using Visual Studio
- Debian 9 (Stretch) using Visual Studio Code
- Debian 9 using command line `dotnet build`

We DO have this problem when running on:
-

[2018-01-30 11:06] LeonidVasilyev commented on #24513
I do not find syntax error squiggles that distracting because most of the time I pay attention to them only after I finish writing particular code snippet. But I can see where Stack Overflow OP is coming from. For experienced developer live error squiggles may look like false positives.

Is it correct that you can't disable design-time analysis using registry key? Can you do that using Language Se

[2018-01-30 11:29] jmarolf commented on #24513
There is no way to disable analysis today.

[2018-01-30 12:23] taori opened #24537 "Analyzer silently crashes when calling AnalyzeDataFlow on the semantic model"
**Version Used**:
VS 15.5.4

**Steps to Reproduce**:

1. call AnalyzeDataFlow on semantic model with a MethodDeclarationSyntax as parameter
2. check analyzer unit test diagnostic for exception

**Expected Behavior**:

analyzer should point out the exception (because i should pass the body property of the MethodDeclarationSyntax  instead of MethodDeclarationSyntax  itself)

**Actual Behavior**:

An

[2018-01-30 14:19] Kirill-Maurin commented on #8269
+1, I don't like manual formatting

[2018-01-30 15:02] velociwabbit commented on #24503
While I understand politely admonishing me for my attempt at levity in the creation of this incident (fair enough but it is better than flaming ) I must tell you that asking me  in essence to be more specific in my incident is in some ways (assuming that someone at MS is working on this )  tantamount to the pot calling the kettle black... here is a great example. This link https://github.com/dotne

[2018-01-30 15:10] tannergooding commented on #24503
The "Report a Problem" tool can be found via the help menu:
![image](https://user-images.githubusercontent.com/10487869/35573622-7baae91a-058c-11e8-8a65-3fd2d789f7c5.png)

The the little person icon next to the "Quick Launch" text box:
![image](https://user-images.githubusercontent.com/10487869/35573554-4c3ed862-058c-11e8-84a6-1c193162a2a4.png)

Or via the "Quick Launch" text box:
![image](https:/

[2018-01-30 15:11] velociwabbit commented on #24503
This is getting to the point of being comical in and of itself.

After several minutes of menu and submenu perusal i finally did find the Help->Send Feedback->Report a Problem option only to be asked to login to create a new problem.

The problem is that i am already logged in... and this picture shows this apparent contradiction.  EIther this is a bug or I am not aware of the secret society that

[2018-01-30 15:24] velociwabbit commented on #24503
It appears that we have a Goedel-bug  (i just made that up... but i think it is both specific and useful in this situation)  In other words the bug is manafest   by self referencing.

It also makes the rest of the bugs in my VS instance heisen-bugs since the act of trying to address them is made impossible by the fact that the system itself can never see either the bug itself  a dump of the system

[2018-01-30 15:24] Neme12 commented on #24514
I can understand some of the design choices but it still feels like a little bit of a hack to have an ExpressionSyntax inside a namespace name since it isn't an expression. In my opinion, IdentifierNameSyntax ideally wouldn't be an ExpressionSyntax at all. Even in the case where it's part of a member access expression: `A.B.C` B or C logically aren't expressions, only part of a bigger expression,

[2018-01-30 15:55] sharwell commented on #24523
@jmarolf PerfView is failing to truncate the times to the specific start/stop window. The operation in question occurs on two threads and the window in question is 2650.681ms wall clock time. The absolute maximum value that could be valid for this operation is 5301.362ms, but the number reported above is 20x that.

[2018-01-30 15:55] #24523 closed

[2018-01-30 16:11] sharwell commented on #24503
@velociwabbit Send me an email and I can get you in touch with people who can help. You can find my email by opening one of my pull requests, e.g. #24189, and adding `.patch` to the end of the address. This is a semi-documented GitHub feature derived from [this example API response](https://developer.github.com/v3/pulls/#response).

[2018-01-30 16:12] miloush opened #24538 "No second level autocompletion before await"
**Version Used**: 15.6.0 Preview 3 / 2.7.0.62518

**Steps to Reproduce**:

[code]

(This is a stand-alone repro of what ASP.NET Core project template generates.)

**Expected Behavior**: Autocompletion list after typing the dot before `await`.

**Actual Behavior**: No intellisense. Commenting the `await` line brings it back.

[2018-01-30 17:54] Neme12 commented on #23030
Is that really the only file that has to be changed?

[2018-01-30 18:13] nikolami commented on #24503
@velociwabbit, thank you for trying to report a problem and for following up with us when that failed.I apologize for the issues you're seeing. I'm a developer on the feedback team.

To resolve the "cannot use Report Problem" issue, once you start Report Problem, please click on the link that reads "Re-enter your credentials." It's in the top part of the window, I can see part of it in your last s

[2018-01-30 18:22] sharwell commented on #23030
@Neme12 It's not necessarily the only file that needs to change, but contains the central functionality relevant to the feature. Since the code base is very large, we like to provide a starting point for the investigation as a new contributor won't otherwise know where to look.

[2018-01-30 18:24] Neme12 commented on #23030
I made this work by adding a parameter to `AbstractGoToDefinitionSymbolService.GetSymbolAndBoundSpanAsync` and using a different option in `AbstractGoToDefinitionService` vs `AbstractGoToSymbolService` but I'm not sure if this is the right approach and what things other than literals it might affect.

[2018-01-30 18:29] sharwell commented on #23030
@Neme12 That sounds almost exactly like the approach I saw someone internally propose. A good hint for @dwalleck.

I see you are also a potential first-time contributor. If you'd like, I could make a recommendation for an issue you could take on?

[2018-01-30 18:30] AlekseyTs commented on #24521
I think that there is something that can be done to improve the "accuracy" of this refactoring, even if we are not shooting for semantic equivalence. For example, references to the expression inside ```if```, loop statements and the like, i.e. constructs that represent control flow, should trigger an assignment to the local next to that reference. For the scenario above that would mean that the co

[2018-01-30 18:36] sharwell commented on #24315
Duplicate of #23659

[2018-01-30 18:36] #24315 closed

[2018-01-30 18:48] agocke commented on #24462
Dup of #23255

[2018-01-30 18:48] #24462 closed

[2018-01-30 18:58] mavasani commented on #21700
Another failure: https://ci.dot.net/job/dotnet_roslyn/job/features_compiler/job/windows_release_vs-integration_prtest/169/

[2018-01-30 19:00] mavasani commented on #21559
Another failure: https://ci.dot.net/job/dotnet_roslyn/job/dev15.7.x/job/windows_release_vs-integration_prtest/66/

[2018-01-30 19:04] mavasani commented on #20991
Another failure: https://ci.dot.net/job/dotnet_roslyn/job/features_dataflow/job/windows_debug_vs-integration_prtest/22/testReport/junit/Roslyn.VisualStudio.IntegrationTests.VisualBasic/BasicLineCommit/CommitOnSave/

[2018-01-30 19:11] gafter commented on #13404
Dup of (already fixed) #11278

[2018-01-30 19:11] #13404 closed

[2018-01-30 19:13] gafter commented on #13968
This is over a year old and I have not seen it appearing again. So closing. Please let me know if this recurs.

[2018-01-30 19:13] #13968 closed

[2018-01-30 19:17] jcouv opened #24540 "Surprising completion selection in Roslyn test"
I'd expect that typing "VerI" (note capital 'i') would pick "VerifyIL" because of the capitalization. But it looks like the capitalization was ignored.

![image](https://user-images.githubusercontent.com/12466233/35586122-c96edd74-05ae-11e8-8ce0-a06275167682.png)

@CyrusNajmabadi Is my expectation correct?

[2018-01-30 19:21] gafter commented on #14073
There is no "VB Script" product yet.

[2018-01-30 19:42] CyrusNajmabadi commented on #24514
Syntactically, there is no way to to tell.  When you have:

```A.B.C.D.E.F``` you have no way to tell which of those (syntactically) are namespaces (not a value), types (not a value) or members (values).  So, at the syntactic level, they all end up the same.

Yup.

Then you'd need *something* to represent a standalone name which *was* an expression.  i.e. ```(a)```.

namespaces aren't typed as hav

[2018-01-30 19:45] gafter commented on #15208
Agreed, the spec doesn't say anything about this. The Roslyn binder tries to duplicate, approximately, the previous behavior of the native compiler for compatibility. What you see the compiler doing is what you get.

[2018-01-30 19:45] #15208 closed

[2018-01-30 19:46] CyrusNajmabadi commented on #24521
I would be fine with the feature offering a *third* option.  something like "introduce local for all in nearest  scope" (or something like that) if there was a difference.   I think there's still value in the current behavior.

In other words, offer two or three options:

1. Introduce local for expression.
2. Introduce local for all occurrences in scope.
3. Introduce local for all occurrences.

'2

[2018-01-30 19:52] CyrusNajmabadi commented on #24540
The code is acting as expected.  However, that expectatoin may need tweaking :)

Basically, right now we have a hierarchy of match types, with each match type being superior to the next.  You can find the hierarchy here: https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/PatternMatching/PatternMatchKind.cs

Right now you have a Prefix match and a CamelCasePrefix, but the lat

[2018-01-30 20:34] jcouv commented on #3898
Fix is merged and should ship in 15.7. It adds an `INamedTypeSymbol.IsSerializable` API.

[2018-01-30 20:34] #3898 closed

[2018-01-30 20:47] jaredpar commented on #24072
This is fixked now.

[2018-01-30 20:47] #24072 closed

[2018-01-30 20:52] jaredpar commented on #23959
Working on this today. Here is the conclusions I've come to about the builds

This is not possible to do correctly. Or rather doing a restore up to date check is as expensive as doing restore.

Thought about this a lot over the last two days and decided on the following approach.

- If the Developer Command Prompt points to a compatible MSBuild instance then use that.
- else exit build.ps1 with at

[2018-01-30 21:23] Neme12 commented on #24514
@CyrusNajmabadi My point was that you wouldn't need to have a separate hierarchy, it would all be composed of IdentifierNameSyntax (just as it is today) which would not inherit from ExpressionSyntax.

which inherits from ExpressionSyntax

But anyway this isn't going to change (and even if it did it might make the logic slightly better in my opinion but still it can never correctly separate express

[2018-01-30 21:33] KirillOsenkov commented on #23959
Understood.

This is good enough.

[2018-01-30 21:36] vsfeedback opened #24542 "VS15.5: The "SharedCompilationId" parameter is not supported by the "Csc" task (ASP.NET Web Forms projects)"
After updating to Visual Studio 15.5, the two ASP.NET Web Forms projects in our solution are failing to build with the following errors:

29&gt;C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin\Roslyn\Microsoft.CSharp.Core.targets(137,10): error MSB4064: The &quot;SharedCompilationId&quot; parameter is not supported by the &quot;Csc&quot; task. Verify the parameter

[2018-01-30 21:44] Kritner opened #24543 "Content Include in csproj does not copy to output or publish folders if said included content is created in a previous build step"
**Version Used**:
`dotnet --version` = 2.0.0

**Steps to Reproduce**:

1. Solution file with 4 projects - projects A,B,C,D.
2. Project build order -> C,A,B,D.  Projects A, B, and D, depend on project C.
3. Project A and B generate DLLs that project D will load at run time, loaded and utilized by a similar interface from project C
4. Projects A and B move their Generated DLLs to project D via post

[2018-01-30 21:46] Kritner commented on #24543
I'll try to put together a minimal repro tomorrow morning to help demonstrate the point I'm trying to make

[2018-01-30 21:52] Panoone commented on #24055
@udlose Yep, upgrading .NET Framework resolved the issue. Thanks again.

[2018-01-30 21:53] jaredpar commented on #24072
@mikeharder here is the PR to pull it into preview 1 https://github.com/dotnet/cli/pull/8499

[2018-01-30 22:32] jaredpar commented on #23959
https://github.com/dotnet/roslyn/pull/24544

[2018-01-30 22:37] BobbyCannon commented on #24542
Still very interested in this issue being resolved. ;)

[2018-01-30 22:46] wachulski opened #24545 "Wiki Samples-and-Walkthroughs page has broken samples links"
This wiki page: https://github.com/dotnet/roslyn/wiki/Samples-and-Walkthroughs has at least 2 links that are broken:

1. Samples folder (https://github.com/dotnet/roslyn/tree/master/src/Samples) = GitHub 404
2. Diagnostics folder in the sources (https://github.com/dotnet/roslyn/tree/master/src/Diagnostics) = as above

I found just this instead: https://github.com/dotnet/roslyn/tree/614299ff83da995

[2018-01-30 22:49] grabalon commented on #24540
My comment there actually was still about just comparing PatternMatchKinds. I do think that we can do better here, but it means comparing <PatternMatchKind,IsCaseSensitive> pairs, which would then get their own ordering. I don't think we could do something as simple as compare IsCaseSensitive first because then you'd get weird ordering of exact but case insensitive matches. Imagine the following:

[2018-01-30 22:51] jcouv commented on #20897
I see that @t-camaia merged a fix for 15.6. Thanks!
Marked the issue as fixed and closing now.

[2018-01-30 22:51] #20897 closed

[2018-01-30 23:06] CyrusNajmabadi commented on #24514
That is what IdentifierNameSyntax is.  it's the wrapping of the non-expression 'a' token into Expression form .   :)

This would then be the exact definition of "a separate hierarchy".  it would be a way to describe dotted names that was different from the *other way* of describing dotted names.  As mentioned already, Roslyn did not want to do that as having different syntactic forms for equivalen

[2018-01-30 23:29] #22957 closed

[2018-01-30 23:29] jcouv commented on #22957
Issue moved to [dotnet/project-system #3200](https://github.com/dotnet/project-system/issues/3200) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-30 23:40] jcouv commented on #20427
I suspect this is no longer targeting 15.5. Please update milestone so 15.5 can be closed.

[2018-01-30 23:41] jcouv commented on #18909
I suspect this is no longer targeting 15.5. Please update milestone so 15.5 can be closed.

[2018-01-31 00:28] jmarolf commented on #24545
I need to update this.  In the meantime
1. Samples were moved here: https://github.com/dotnet/roslyn-sdk/tree/master/samples
2. Diagnostics where moved here: https://github.com/dotnet/roslyn-analyzers/tree/master/src

[2018-01-31 00:33] sharwell opened #24548 "Large allocation overhead in NameGenerator.GetCollisionIndices"
**Version Used**: 15.6 Preview 3

:link: https://developercommunity.visualstudio.com/content/problem/188525/ui-delays-in-roslnsln-test-files.html
:link: https://developercommunity.visualstudio.com/content/problem/692953/ide-frequently-slow-and-unresponsive-at-random-int.html
🔗 https://developercommunity.visualstudio.com/content/problem/817870/intellisense-lag-and-huge-number-of-false-red-squi.html

[2018-01-31 00:40] sharwell opened #24549 "Optimize allocations in IsDefinedInSourceTree hot paths"
**Version Used**: 27328.0

:link: https://developercommunity.visualstudio.com/content/problem/188525/ui-delays-in-roslnsln-test-files.html

The performance trace attached to this issue reveals nearly 82MB of `SyntaxReference[]` allocations in `SourceOrdinaryMethodSymbol.IsDefinedInSourceTree`. These should be optimized similar to #23462.

[2018-01-31 00:40] sharwell commented on #24548
/cc @333fred

[2018-01-31 00:40] sharwell commented on #24549
/cc @333fred

[2018-01-31 01:16] sharwell commented on #24548
@jinujoseph I may be looking into this for 15.6

[2018-01-31 01:44] gafter opened #24550 "Constant pattern vs governing type that is unconstrained type parameter"
The following in currently rejected:

[code]

However, these are perfectly reasonable pattern-matching operations. The spec and implementation should change to permit this.

[2018-01-31 01:51] gafter commented on #24514
We made an explicit decision when designing the syntax trees to avoid trees that merely represent "chain productions" of nonterminals in the grammar. One plus of doing things this way is that syntax trees are much more compact. Your observation here is the main downside.

[2018-01-31 01:51] #24514 closed

[2018-01-31 02:53] gafter commented on #14493
@abhijitparkhi1983 I suspect that the compilation that contains the reference does not have a metadata reference to the compilation or assembly where the type is defined. Please provide is with a small, complete, self-contained program that uses Roslyn and illustrates the issue.

[2018-01-31 03:31] seriussoft commented on #21024
@paul1956

I second that stopping at JUST a converter would not serve most of the use-cases I've collected from friends and colleagues. Being able to even the scales for those wanting features from both language-sets would likely be able to get by with a converter if it were done at time-of-compile (instead of a one-off deal) and if there were some limitations such as if you reference the vb.net c

[2018-01-31 04:55] velociwabbit commented on #24503
I would think that if someone was willing to take the time to report a problem that any security to stop that process would not be in the interest of MS or or vs.   Why have security on reporting problems full stop?

IF you are worried about attacks  certainly you could send the  reports and the data to a filter of some sort so that they cannot disrupt any service.

As you might imagine after taki

[2018-01-31 05:19] gafter commented on #14487
Placing in the 16.0 milestone. If this is still really a bug, we should really fix it.

[2018-01-31 05:20] gafter commented on #15817
This is over a year old. We haven't seen it recur, and we don't have a repro, so closing. Please reopen if you can repro it.

[2018-01-31 05:20] #15817 closed

[2018-01-31 05:25] CyrusNajmabadi commented on #24503
@velociwabbit Can you share a repro that demonstrates the problem you're seeing when editing JS/TS.

Having written the JS/TS syntactic infrastructure, i can assure that it was never designed to do any of that :)

It sounds likely that you're running into some issue that's causing unintended pathological behavior.  If you can provide a repro that would go a long way toward address the issue.

[2018-01-31 05:30] CyrusNajmabadi commented on #24503
I can't repro this.  The current JS i'm working with is several hundred kloc.  I removed all the optional semicolons, and i even added a lot of complex ternary expressions to no avail.

--

There is something that could be causing this.  Namely that some part of typescript type-inference are exponential in cost.  This isn't uncommon in type inference systems (C#, C++, haskell, swift, and others al

[2018-01-31 05:38] TyOverby commented on #11252
This is for a perf system that I'm pretty sure we don't maintain anymore.  I'm not up to date with what is currently being used.

ping @agocke for clarification on current perf testing methods.

[2018-01-31 05:39] DanielRosenwasser commented on #24503
Sounds bad. Our team (TypeScript/JavaScript at Microsoft) would be willing to sign an NDA if you'd be willing to share your project with us.

CC @billti

[2018-01-31 07:27] wachulski commented on #24545
Ok, thx.

[2018-01-31 10:05] MaceWindu commented on #24262
Installed latest preview and still see this behavior:
![image](https://user-images.githubusercontent.com/1099238/35616768-897c9fbc-0676-11e8-962a-b5a06ee99c32.png)

[2018-01-31 12:59] Kritner commented on #24543
Here's a reproduction of the issue repository: https://github.com/Kritner/ContentIncludeRepro

* ProjectA and ProjectB always in their post build step push their DLLs to `Runner/dlls`
* If at the time of building `Runner/dlls` is empty, dlls are not copied to output/publish directory, even though `ProjectA` and `ProjectB` are built prior to `Runner` being built.
* If at the time of building `Runne

[2018-01-31 13:05] MohammadHamdyGhanem opened #24559 "Go to implementation command, should view open source code"
**Version Used**:
VS Community 15.5.1

**Steps to Reproduce**:
VS code editor has a "Go to implementation" context menu command. I suggest you allow this command to view the open source code of the requested Item. I need to look at the source code frequently, when documentations are poor to understand what is going on. The viewed source code should appear in VS as a code page, and contain a link t

[2018-01-31 13:32] Kritner commented on #24543
Hmm... it seems I'm mistaken, at some point in both this repo, and my actual case, my project dependencies got goofed up.  In this repo it's probably when i renamed the project, but I'm not sure what would have caused it in the situation where it happened in my actual code.

[2018-01-31 13:32] #24543 closed

[2018-01-31 14:02] velociwabbit commented on #24503
great i am in contact with another person and i will share your offer. and
have him copy you on our correspondance

On Tue, Jan 30, 2018 at 9:39 PM, Daniel Rosenwasser <
notifications@github.com> wrote:

[2018-01-31 14:03] WimBoom commented on #21627
@Jinhuafei i can reproduce this with:
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net461" developmentDependency="true" />

For now I use the follow prebuild event (as workaround)

tasklist /FI "IMAGENAME eq VBCSCompiler.exe" 2>NUL | find /I /N "VBCSCompiler.ex

[2018-01-31 14:38] velociwabbit commented on #24503
i have attempted to disable all typescript processing and all other types of editorial interference in javascript, json, css, html in the options -> text editor ->html... etc sections so if vs is disabling them incorrectly then you are correct in your assessment (about the inference systems).

I also do several other non conventional formatting choices that must be giving the editor trouble.  GIve

[2018-01-31 15:16] velociwabbit commented on #24503
And now that i am finally able to vent my frustration at the brilliant choices lint and other self declared standards bodies have made about how to place code in files there is one more ahem enlightened?  standard that mystifies me.    (And no this comment does not belong here but it should be said somewhere and why not to the VS audience?)

Modularization is like candy ... too much of it and it w