[2022-06-21 19:06] DrLeh commented on #62059
@CyrusNajmabadi sometimes one of them will have a slightly longer stack trace:

[code]

Event viewer shows me 4 errors:

![image](https://user-images.githubusercontent.com/1790357/174878053-92d436d2-8503-490e-ba81-95e344059dce.png)

"Application Error" 1 message:

[code]

"Application Error" 2 message:

[code]

Big stack tracese on the .net runtime errors:
[netruntime-error-1.txt](https://github.c

[2022-06-21 19:10] DrLeh commented on #62059
Last week I had tried regenerating native images with ngen.exe, i got a bunch of errors though so i'm not sure that it worked properly.

[2022-06-21 19:38] jcouv commented on #61451
@Youssef1313 I suspect the problem is that the test runs on a different version of the runtime when running in CI than when running locally. We're discussing how to log this information (runtime version used) to confirm.

[2022-06-21 19:50] kernst123 opened #62064 ".editorconfig code analysis suppressions not always honored"
I have a solution with 38 project.
We have code the code analysis enabled for our projects and we have various code analysis issues suppressed in various .editorconfig files.
I have noticed that on some occasions I will observe compile errors ( we treat all warnings as errors ) due to a code analysis issue that is suppressed in an .editorconfig file.   It does not happen all the time.  Seems to be

[2022-06-21 20:26] AArnott commented on #62059
@drleh Great. Those crash logs will typically include callstacks that are responsible for crashing the remote process. That's where the investigation should continue, typically. Nothing more JSON-RPC can tell you from a different process. All it knows is that the connection died.

[2022-06-21 20:45] DrLeh commented on #62059
@AArnott where can i find the crash logs? is there more info i can provide?

[2022-06-21 20:53] #61857 closed

[2022-06-21 20:53] #61859 closed

[2022-06-21 22:45] dibarbet commented on #42427
Client issue tracking todo comments (external) - https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1537470

[2022-06-21 22:52] tmat commented on #56742
We'll keep the code since it's generally useful when updating to newer version of Debugger Contracts.

[2022-06-21 22:52] #56742 closed

[2022-06-22 03:47] kfechter commented on #61538
Right now, it doesn't generate any fixes to apply, I temporarily added a null check around the failing code so I could debug and step around it.

I'm currently trying to figure out why the call to GetAncestors is returning an empty IEnumerable. I believe it's due to the tNode at line 45 of SyntaxNodeExtensions.cs being null so the yield return is never called.

for the call to GetAncestors when th

[2022-06-22 04:51] kfechter commented on #61538
I don't want to keep spamming anyone listening to this issue, so this will be the last reply for the night. I got it working the way I think it should work based on the original post. Instead of throwing a null reference when error BC30519 occurs in an Attribute, it will now suggest code fixes, and applying them generates the code that the fix suggests.

<img width="664" alt="image" src="https://u

[2022-06-22 04:57] Youssef1313 commented on #61538
@kfechter I think you can open a PR, and reviewers will help suggesting cleaning up the code if needed.

[2022-06-22 04:59] ldsenow commented on #57525
BTW, when do you think we can have this fix in vs 16?

[2022-06-22 05:43] CyrusNajmabadi commented on #57525
@ldsenow These fixes are coming in 17.3.

[2022-06-22 06:30] Bosch-Eli-Black commented on #60446
@jasonmalinowski Is there any chance that this could be bumped up in priority? 🙂  I think this is currently the top issue preventing our project from using source generators.

[2022-06-22 09:37] fitdev opened #62072 "Improper IDE0004 Cast is Redundant Suggestion for Delegates Conversion"
**Version Used**:
Latest: VS 2022 17.3 Preview 2
CS 11 Preview on DotNet 6

**Steps to Reproduce**:

[code]

([Sharplab Repro](https://sharplab.io/#v2:C4LghgzgtgPgxAOwK4BsVgEYoKYAJsKY4CwAUGQAIBMAjJQMy7W4DCAPACoB8uA3mbkFNGLABQBKPgF8BQiiNEYA9kpS4AZioA0TAKycdy1TwAOAJ2wATAJYBjMMGyTeuAGIrcAXg0qA3LgAFCxt7Ry9ccys7B2x/GVIhYVwjNXclPgBzbGB/CGy42UF5PQNklRQuAH5A4Oiw3iyc3Dyc+MTiihoANlxrKBMUO2tgXCUTbDMHJTNWTi5R

[2022-06-22 09:55] manfred-brands commented on #25372
I tried this in an analyzer, but the TypeInfo is the same for nullable and non-nullable types.
NullabilityInfo is: `NullableAnnotation.NotAnnotated`, `NullableFlowState.NotNull`.

What do I do wrong?
[code]

The`TypeInfo` returned for both `node` and `node.Operand` is the same.
I expected that the operator would change this.

[2022-06-22 12:28] kofifus opened #62073 "record primary constructor does not have CompilerGenerated attribute"
[code]

Looking at the main branch 21/6/2022 in sharplab.io I see:

[code]

Is there a reason that this constructor is not decorated with the CompilerGenerated attribute like all other methods ? (see https://github.com/dotnet/roslyn/pull/58542)

[2022-06-22 13:47] broomfn commented on #33539
+1, I

[2022-06-22 14:24] CyrusNajmabadi commented on #62072
@cston ?

[2022-06-22 16:21] AlekseyTs commented on #60896
Implemented in #62044.

[2022-06-22 17:03] TechPizzaDev opened #62077 "Remove unused parameter (IDE0060) on parameter used by [InterpolatedStringHandlerArgument]"
**Version Used**:
Visual Studio 2022 Community 17.2.4
Microsoft (R) Visual C# Compiler version 4.2.0-4.22281.5 (8d3180e5)

**Steps to Reproduce**:

[SharpLab example](https://sharplab.io/#v2:EYLgtghglgdgPgAQEwEYCwAoBAGABAlAOgCUBXGAFyjAFNCBhAezAAcoAbGgJwGVuA3KAGMaAZwDcmHPiIAVGgA8KkjFIDM+JDIDsmAN6ZcR/BoQAWXPNEUAFAEkAYoy6QKABS6NBAE264Wnj7cAJSGxgYYxlG4AIIsLDQw3gAysDQ2AV5QvlwANLgAJABEFGIURcEqUQC+YUZ1uA

[2022-06-22 17:25] BhaaLseN opened #62078 "Behavior difference between "a is not X" and "!(a is X)" patterns"
**Version Used**: Visual Studio 2022 v17.2.4

**Steps to Reproduce**:

1. Have a `!(variable is ClassName)` pattern in a context where `ClassName` is also a property name.
2. Invoke the CodeFix for `IDE0083` to convert this to an `is not` pattern.
3. Compilation fails after this.

See [sharplab](https://sharplab.io/#v2:EYLgtghglgdgNAExAagD4AEBMBGAsAKHQAYACdbAOgBlYBHCgUQA8AHAJwFMBnLqAexhcA3AQLoAzGU

[2022-06-22 17:38] vsfeedback opened #62079 "IntelliSense suggests the "String" class, not the "string" keyword"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/IntelliSense-suggests-the-String-class/1581662)._

---
[severity:It's more difficult to complete my work]
In C# when I write the lower case "string" keyword, IntelliSense suggests always the upper case written "String" class. When I'm choosing it gets automatically faded out with the tip

[2022-06-22 17:41] genlu commented on #62079
I think we should tweak MRU to take capitalization into account and prefer better match over MRU item in such case

[2022-06-22 18:22] cston opened #62080 "Untyped lambda parameters should infer `scoped` from target delegate"
The lambda parameter in the following should be inferred as `scoped R` rather than `R`.

[code]
Expected:
[code]
Actual:
[code]

We'll have to consider the effect of `[UnscopedRef]` as well (needs spec'ing).

Relates to test plan https://github.com/dotnet/roslyn/issues/59194

[2022-06-22 18:31] Soreloser2 commented on #55127
Closing as all the checkbox points for this feature have been created and merged. Moving to existing classes should be in 17.4 with #61519

[2022-06-22 18:31] #55127 closed

[2022-06-22 18:35] jcouv commented on #62078
This is expected from the language/compiler side and results from backwards compatibility concerns with `is` expressions which predate patterns.

From the [patterns doc](https://github.com/dotnet/csharplang/blob/main/proposals/csharp-7.0/pattern-matching.md#pattern-matching):
"Pattern matching introduces a new context where the expression-type ambiguity arises. Previously the right-hand-side of an

[2022-06-22 18:37] #62073 closed

[2022-06-22 19:10] vsfeedback opened #62082 "DateTime tooltip is US format"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/DateTime-tooltip-is-US-format/10070479)._

---
The tooltip used to display the value of a C# DateTime object during debugging is US format.  For most of the rest of the world not using the weird month/day/year ordering, this is horribly confusing.    DateTime objects should be displayed

[2022-06-22 19:22] sangwook96 commented on #59078
@gregg-miskelly
Hi,
Thank you very much for updating your feedback here.
Okay. let us try to use your tools like ildasm/ILSpy (decompiler tool), but I am not sure if we take what we want to know
As you mentioned, we need to get a public API or interface
If you have any progress, please inform us here again
Thanks

[2022-06-22 19:45] jnm2 commented on #61863
@jaredpar Was this missed and can I do anything to provide more info?

[2022-06-22 19:55] gregg-miskelly commented on #59078
To be clear: I am just suggesting using ildasm/ILSpy so that your team can look at the API and see if they see any issues implementing it. You could also potentially prototype implementing an API with a similar shape, but without actually getting called. You will need a new public version to implement it for real.

[2022-06-22 19:59] cston opened #62085 "No error reported for duplicate `ref` in lambda signature"
No errors are reported for lambda signatures below:
[code]

[2022-06-22 20:41] Youssef1313 commented on #62085
The error for other symbols come from https://github.com/dotnet/roslyn/blob/69bdfb29ce4d027c5f5bf70f50be9bebcb5df1aa/src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs#L19

But it looks like lambdas have their own `MakeParameters`:

https://github.com/dotnet/roslyn/blob/220b3ebfd25a839b3abc1b0096eaca0b9de0a3c2/src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs#L303

[2022-06-22 20:44] cston commented on #62085
I'm changing `Binder.AnalyzeAnonymousFunction()` to use `ParameterHelpers.CheckModifiers()` and `ParameterHelpers.GetModifiers()`.

[2022-06-22 22:00] TechPizzaDev commented on #62077
Issue https://github.com/dotnet/roslyn/issues/58168 is invalid. The arguments in the given screenshot *are* unused and there is no interaction with `[InterpolatedStringHandlerArgument]` there either.

[2022-06-23 00:44] AlekseyTs commented on #62073
Yes, there is a piece of syntax that declares the constructor, the parameter list in the type declaration.

[2022-06-23 01:12] AArnott commented on #62059
If it isn't in the Event Viewer, I don't know where else to look. You already found the logs there, but I didn't see the exception information that would typically be there for a managed crash. Given the crash is said to be within the roslyn module, a member of the roslyn team will have to investigate further (that's not me).

[2022-06-23 01:51] sharwell commented on #61368
@Cosifne this issue is bucketing errors incorrectly. The first two items currently in the list failed for:

1. A crash during a completely unrelated test

[code]

2. An exception in ENC

[code]

[2022-06-23 03:04] MarkKharitonov opened #62097 "Redundant recompilation of source code due to file path case sensitivity."
### Issue Description
It is very easy to trigger redundant recompilation of the source code **on Windows**.

### Steps to Reproduce

1. mkdir c:\temp\bug
2. dotnet new classlib
3. dotnet build -bl:1.binlog
4. dotnet build -bl:2.binlog
5. cd ..\Bug
6. dotnet build -bl:3.binlog

Now examine the binary logs:

- 1.binlog indicates the Csc task was run - as expected.
- 2.binlog indicates the Csc task w

[2022-06-23 05:56] yangyud-cn commented on #55526
@JoeRobich the problem is that file itself is all Unix line ending as we always enforced that during git checkin as well as check out.  Then in VS, I have to specifically change these two lines to DOS line ending to fix that warning.  This makes the file a mixed line ending one.   The workaround of auto line ending doesn't look a good one from my point of view.

[2022-06-23 09:47] kirsan31 commented on #24349
The way it's working now (17.2.5) is too bad and not intuitive :(
For example:
[code]
- _Go to Definition_ on `System.Timers.Timer` will show you meta data and then suggest to go to source. It`s ok.
![image](https://user-images.githubusercontent.com/17767561/175269519-10e5e88c-3db6-4684-8501-e229aa8d2a23.png)
-  _Go to Definition_ on `_timer.Interval` will show you meta and no source suggestion. T

[2022-06-23 10:10] KieranDevvs commented on #24349
AFAIK base class library sources will only show from 17.3 and onwards because the feature to find the correct implementation assembly isn't released yet.

(also, use `PeriodicTimer` over all the other timers.)

[2022-06-23 10:15] SolalPirelli opened #62092 ""Implement abstract class" should add "where T : default" when a parameter is covariant in T?"
**Version Used**: Visual Studio 17.2.5 (VisualStudio.17.Release/17.2.5+32616.157 ; C# Tools 4.2.0-4.22281.5+8d3180e5f00d42f0f0295165f756f368f0cbfa44)

**Steps to Reproduce**:

1. Write the following code:
[code]
2. Use "Implement abstract class" on `C2`

**Expected Behavior**:

The resulting code should compile.

**Actual Behavior**:

`M1` is correctly implemented but `M2` is not, as it is missing

[2022-06-23 10:51] Youssef1313 commented on #62092
I think I missed this case in https://github.com/dotnet/roslyn/pull/53318.

[2022-06-23 12:31] SolalPirelli commented on #62092
This happens for implementing interfaces _implicitly_ as well:

[code]

"Implement interface" produces valid code, "Implement all members explicitly" does not. (I like how the preview for the latter already shows the red squiggles within the preview -- how cool is that? 😄 )

[2022-06-23 12:52] davidwengier commented on #24349
The functionality in your screenshot is not a part of Roslyn as far as I'm aware. I suspect you have an extension that is providing that, so inconsistent behaviour might be an issue to report to the extension author.

[2022-06-23 14:18] cston opened #62094 "References within `out` parameter should not be considered as potentially escaping"
The following should compile without errors.

References within `y` should not be considered as potentially escaping the method invocation `F0(ref x, out y)` because `y` is an output only.
[code]
Result:
[code]

Relates to test plan https://github.com/dotnet/roslyn/issues/59194

[2022-06-23 14:40] sharwell commented on #62059
This error was caused by a ServiceHub process crash. Specifically this one:

[code]

[2022-06-23 16:15] sharwell commented on #60446
Maybe, but not necessarily. This specific request is tracked by a different issue:

https://github.com/dotnet/roslyn/issues/48083

[2022-06-23 16:15] cston opened #62096 "Various diagnostics that reference parameters do not include the parameter name"
Compile:
[code]

Result:

Instead, the messages should include the parameter names with the parameter signature:

Or the messages should use the parameter name instead of the parameter signature:

The issue applies to a number of different diagnostics that include parameter arguments.

This issue is referenced in test.

[2022-06-23 16:58] cston opened #62098 "Allow ref field of the containing type"
Allow the following:
[code]

Relates to test plan https://github.com/dotnet/roslyn/issues/59194

[2022-06-23 17:05] RikkiGibson opened #62099 "Close release branches when official build is failing"
I think we need to start aggressively shutting down release branch merges when the signed queue is down. e.g.
1. when a change in the product makes CI on GitHub pass but makes the official build fail, as well as
2. when an underlying queue issue makes the official build fail.

Particularly in scenario (1) it makes it difficult to get RPS data on the changes which have come in since the queue recov

[2022-06-23 17:24] BhaaLseN commented on #62078
I'm ok with either. It was just a bit weird because I ran the code cleanup (specific rules added to profile 2, just to apply the IsNot preferences) on my solution with 10 projects after upgrading the language version to C#10.0 and suddenly it wouldn't compile.

In case it matters, the property was in a base class, so it wasn't immediately visible when looking at the code.

[2022-06-23 17:31] RikkiGibson commented on #62078
It would be useful to know if the issue occurs when the property is in the same class. If it happens to do something "successful" in that situation, we'd want to imitate that behavior when the property is on the base type.

[2022-06-23 18:16] jaredpar commented on #62099
What is our official build pass rate? I worry that if we make it red on a single failure it will cause a lot of pain in getting PRs merged. Wondering if something like consecutive failures will be a better metric.

[2022-06-23 18:27] RikkiGibson commented on #62099
Pass rate for main-vs-deps over the past month:

<img width="1299" alt="image" src="https://user-images.githubusercontent.com/5833655/175368798-2ca57e53-d85e-4b21-b7eb-2ff625f63254.png">

My read of this is that on a release branch, either we are passing 100%, or something has taken the whole queue down, dropping the pass rate to zero or something low depending on how much of the day the queue was

[2022-06-23 18:28] jaredpar commented on #62099
That is more consistent than I would expect. I 'd be fine with starting on a single failure based on that.

[2022-06-23 20:05] RikkiGibson commented on #62078
I was referring to the "before refactoring" state, i.e. if the property is in the same class, is the refactoring offered and if it is used does it result in a similar error.

[2022-06-23 20:49] vsfeedback opened #62105 "Diagnostics Inline: Show Hints, Suggestions, Refactorings, Spelling Errors"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Diagnostics-Inline:-Show-Hints-Suggesti/10034797)._

---
I'd like it if the new "diagnostics inline" showed not only errors and warnings, but additionally hints, suggestions, possible refactorings, and everything else. Even better, if it could be configured, what is shown.

---
### Origi

[2022-06-23 20:56] mikadumont commented on #62105
@akhera99 and @jmarolf I know we plan to make inline diagnostic UX improvements down the line but it may be worth exploring an option to display inline fixes for errors and warnings rather than diagnostics.

[2022-06-23 21:05] vsfeedback opened #62106 "Quick Refactoring - Introduce Parameter Object"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Quick-Refactoring---Introduce-Parameter-/10027620)._

---
It would be useful to have a new quick refactoring to replace a long list of method arguments with a parameter object and ideally replace all call sites with the instantiation of this parameter object.
It's usually burdensome when

[2022-06-23 21:07] sharwell commented on #61368
Reopening to treat this as a story

[2022-06-23 21:17] vsfeedback opened #62107 "Intellisense should display construction hints for aggregate initiliazer"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Intellisense-should-display-construction/10063248)._

---
if I have a type like
struct Point { int x; int y; }

intellisense for construction isn't helpful - it just shows the default, copy, move ctors. but this type is intended to be constructed as aggregate, i.e. auto p = Point{1,2};
I

[2022-06-23 21:17] vsfeedback opened #62108 "c# improve error messages UI"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/c-improve-error-messages-UI/10071640)._

---
When you're confronted with long, multiply-generic types, errors get harder and harder to work with. here's a screenshot from the tooltip over an error squiggle:
![image.png](https://aka.ms/dc/image?name=B409dfca17b864f8c9ddaf89bab6e2330637908

[2022-06-23 21:19] chsienki commented on #61523
# API Review Notes

- Proposal 3 is accepted as-is.
- We won't deprecate the existing APIs (yet) as it seems useful for consumers who aren't interested in non source texts.

[2022-06-23 21:20] chsienki commented on #61636
# API Review Notes
- Approved

[2022-06-23 21:22] chsienki commented on #61971
# API Review Notes

- It would be nice if we had some sort of common array type.
- Should we just make this a breaking change instead of having two different collection types?
  - That could cause issues for in-proc extensions as a binary break
  - We would have to wait for a major version change
  - Too many people use this API
- We should make Items obsolete? and member visible hidden
- If we us

[2022-06-23 21:22] sharwell opened #62109 "Integration tests should clearly indicate "failure to save""
Sometimes tests fail to save all documents in response to a Save or Save All command. Execution of these commands should be followed by an automatic verification that the active (or all) documents are saved, and if not fail the test with an easily identifiable error message. This message will help triage test flakiness due to this common problem.

[2022-06-23 21:24] vsfeedback opened #62110 "Create Implementation Shortcut in right menu for Interface"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Create-Implementation-Shortcut-in-right-/10064168)._

---
With a given interface, using right-click, I can see several useful options (Go To Base, Go to Definition, and Go To Implementation, etc.).

**Feature request**: Add a menu item in the right-click menu for "Create Implementation".

[2022-06-23 21:29] chsienki commented on #61326
# API Review

- This is useful as its avoids a potentially single large allocation
- Still has copies however
  - Would it be more useful to just directly build up the source text
  - Feels like a BCL hole, but we can plug it somewhat
    - If we expose a builder type ourselves then if/when the BCL hole is filled we still have to maintain a parallel impl
    - If we only expose `StringBuilder` and

[2022-06-23 21:30] vsfeedback opened #62111 "'Converted to interpolated string' supports InvariantCulture"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Converted-to-interpolated-string-suppo/10073925)._

---
‘Converted to interpolated string’ works with the following code.

[code]

However, it does not work with `InvariantCulture`

[code]

VariantCulture is often used in text processing where the same result must be obtained.

---
### O

[2022-06-23 21:30] vsfeedback opened #62112 "further simplification of switch() syntax c#"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/further-simplification-of-switch-synta/10066724)._

---
Assuming the following hypothetical:

[code]

I'd like to see the switch block simplified:

[code]

This could also accommodate multiple statements.

[code]

---
### Original Comments

#### Feedback Bot on 6/9/2022, 08:12 PM:

(priv

[2022-06-23 21:41] BearsPunch commented on #24349
17.3 preview 2 added some new features about go to definition, but it still doesn’t work with .net source and libraries like entity framework

[2022-06-23 21:52] zijianhuang opened #62115 "Wrong behavior of compiling for functions with nullable string return when nullable is enabled"
**Version Used**:
.NET run time: 6.0.6, SDK 6.0.301
VS 2022 Pro 17.2.5
Windows 10

**Steps to Reproduce**:

[code]

[Repo](https://github.com/zijianhuang/TestNullableReferenceTypes) is available for testing.

**Expected Behavior**:

Expected 1 from System.Runtime.CompilerServices.NullableContextAttribute

**Actual Behavior**:

The value is 2, telling the function is with a nullable string return.

[2022-06-23 21:58] CyrusNajmabadi commented on #62107
This is not c#, this is c++.  closing out and will move teh VS ticket.

[2022-06-23 21:58] #62107 closed

[2022-06-23 22:00] jasonmalinowski commented on #61523
@shyamnamboodiripad To your concerns there we should get follow-ups on those; we didn't think it in any way impacted this API design.

What sort of information did you want to imagine and where would it come from? Note that since we do serialization/cross process sync we'd have to think carefully about the types involved here.

I would expect they do, were you able to confirm that?

[2022-06-23 22:01] CyrusNajmabadi commented on #55526
afaict, this is working as expected.  Teh newlines are incorrect in the file and the formatter is complaining.  My recommendation would be to not have the tools change the content of code as that very much changes the meaning of it across many tools.  It also breaks things like determinism/etc. all of which depend on the exact byte-contents of a file being the same everywhere.

[2022-06-23 22:47] 0liver commented on #55526
Are Windows-style newlines really a must-have for the formatter to work correctly? Without knowing the internals, this sounds opinionated at best. It also doesn't fit into Microsoft's (.NET Core) ambitions to make *nix systems a first-class citizen.

[2022-06-23 23:08] cston commented on #62115
@zijianhuang, `NullableContextAttribute` is added to methods and type definitions to indicate the nullability of type references that have no `NullableAttribute` attributes (see [nullable-metadata.md](https://github.com/dotnet/roslyn/blob/main/docs/features/nullable-metadata.md)).

For this particular method, is there also an explicit `[return: NullableAttribute(1)]` attribute that indicates the n

[2022-06-23 23:15] CyrusNajmabadi commented on #55526
The formatter should be respecting what is in the editorconfig for the project.

*nix is a first class citizen.  The issue here is that tools that people are using seem to be converting the newlines, leading to the source files being genuinely different on different machines.  If your formatting settings say that crlf should be used, but then your tools convert hte files to lf, then there will be

[2022-06-23 23:19] sharwell commented on #55526
In general, .editorconfig should not specify line endings, and users should use the system line endings. In the rare case where a user needs a particular line ending, in would need to be configured in _both_ .gitattributes and .editorconfig, otherwise some clients would ignore the setting.

[2022-06-23 23:23] sharwell commented on #55526
Linux builds enforce LF line endings by default, and Windows builds enforce CRLF by default. The configuration described by @JoeRobich in https://github.com/dotnet/roslyn/issues/55526#issuecomment-1151428794 will adhere to this on both Linux and Windows.

[2022-06-23 23:25] DerekSMorin commented on #55526
I have windows line endings on my machine, and when it gets committed and pushed to devops I have linux line endings.

I think that is happening because of git settings.

So I'm confused on what the recommended approach is.   What am I doing wrong?

I'm also not sure why I see only a few errors instead of lots of errors.

I put some vscode screenshots here:

https://github.com/dotnet/roslyn/issues

[2022-06-23 23:50] zijianhuang commented on #62115
@cston

You are quite right that `ReturnTypeCustomAttributes[0]` as `System.Runtime.CompilerServices.NullableAttribute` is with value 1 in method AthletheSearch.

In my original test suite, I do have cases testing this as well. And the test cases in the Repo submitted is focused on NullableContextAttribute, since I expected some consistent behavior in AthletheSearch and GetNotNullStringOnNullableE

[2022-06-24 00:12] zijianhuang commented on #62115
@cston

I had read the md again carefully this time. Apparently this:
......
The C#8 compiler uses the following algorithm to determine which NullableAttribute and NullableContextAttribute attributes to emit. First, NullableAttribute attributes are generated at each type reference and type parameter definition by: calculating the byte[], skipping empty byte[], and collapsing byte[] to single byte

[2022-06-24 00:12] #62115 closed

[2022-06-24 00:46] jasonmalinowski commented on #60446
And to highlight this bit from @sharwell's comment:

This area is pretty sensitive and since it requires us touching both paths we definitely won't get to something in 17.3 for this. We could take a look for 17.4 but no promise if we break something. (It turns out one person's "bug" in this area is another person's "of course I need it to work that way!")

[2022-06-24 02:23] RikkiGibson commented on #62098
Is this planned for C# 11?

[2022-06-24 03:53] Bosch-Eli-Black commented on #60446
@sharwell and @jasonmalinowski Thanks 🙂  I guess I had thought that after this bug was fixed, then if I strong-named the source generator and manually bumped the version number whenever I made a change, it would work around #48083.

The problem for us is that step (3) occurs relatively frequently in our source generators (perhaps once every month or two). Our project is still in the development st

[2022-06-24 03:54] Bosch-Eli-Black commented on #60446
And thanks for the update, @jasonmalinowski 🙂

[2022-06-24 04:04] cston opened #62120 "Support ref field assignment in object initializers"
[code]

See [LDM notes](https://github.com/dotnet/csharplang/blob/main/meetings/2022/LDM-2022-06-06.md#question-3-ref-assignment-in-object-initializers).

Relates to test plan https://github.com/dotnet/roslyn/issues/59194

[2022-06-24 04:37] cston opened #62121 "PEFieldSymbol in VisualBasic should set RefKind and RefCustomModifiers for ref fields or include use-site diagnostic"
The `PEFieldSymbol` for a ref field in VisualBasic does not set `RefKind` or `RefCustomModifiers`, and no use-site diagnostics are generated. We should consider doing one or the other.

Relates to test plan https://github.com/dotnet/roslyn/issues/59194

[2022-06-24 05:08] cston opened #62122 "Dereference of ref field should be emitted to IL even if value is ignored"
The dereference of a ref field should be emitted to IL, even if the value is ignored, because the behavior may be observable as a `NullReferenceException`.

The following program should result in a `NullReferenceException` for instance:
[code]

Relates to test plan https://github.com/dotnet/roslyn/issues/59194

[2022-06-24 07:37] Youssef1313 opened #62123 "`UseSimpleUsingStatement` produces bad indentation"
💭 Seems strange that the indentation of this didn't change, but that wouldn't be caused by anything in this PR.

_Originally posted by @sharwell in https://github.com/dotnet/roslyn/pull/59383#discussion_r905564280_

[2022-06-24 09:41] AdmiralSnyder commented on #62108
i think in an ideal world, there should be two kinds of output for error messages: one-line text and formatable multiline text that tooling can parse and improve.

[2022-06-24 11:06] sangwook96 commented on #59078
@gregg-miskelly
Hi
Thank you very much for suggesting your idea.
And then, we are trying to use ILSpy tool.
But what is the project to reverse with ILSPY?
If you know that, could you tell us and could you tell us where we can take it, too?
Thanks

[2022-06-24 12:49] Piedone commented on #55526
Putting this frustrating matter aside, I welcome everyone to reflect on the amusing fact that now, in 2022, we have this bug report for the C# compiler's static code analysis feature because 60 years ago some people needed to instruct electromechanical teleprinters.

[2022-06-24 13:01] BhaaLseN commented on #62078
Oh, sorry, I misunderstood that.

Yes, I just tried this on a test project, I get the refactoring "Use pattern matching" für `IDE0083` in both cases (property in a base class, property in the same class). Both cause compilation to fail.

[2022-06-24 13:09] DrLeh commented on #62059
Updated to vs2022 17.2.5 yesterday, still happening.

[2022-06-24 13:12] cston opened #62124 "Report error if ScopedRefAttribute is used directly in source"
The error reporting has been disabled temporarily in `Symbol.ReportExplicitUseOfReservedAttributes()`.

[2022-06-24 13:26] OldManMeta opened #62125 "CodeLens showing incorrect user as author"
**Version Used**:

Visual Studio Enterprise LTSC 17.2

**Steps to Reproduce**:
you tell me....

**Expected Behavior**:
That it shows the right person

**Actual Behavior**:
It shows the wrong person....

<img width="332" alt="image" src="https://user-images.githubusercontent.com/107874035/175545248-456e4e65-adf3-404f-8abf-13683408a814.png">

To add some context to this - I only have a single accoun

[2022-06-24 13:33] CyrusNajmabadi commented on #62125
@OldManMeta this is not a roslyn issue. Can you file this using VS' feedback mechanism?  It can then be routed to the right team.

[2022-06-24 13:41] sangwook96 commented on #59078
@gregg-miskelly ,
Hi,
I got what you say.
We can reverse [Microsoft.VisualStudio.Debugger.Contracts](https://www.nuget.org/packages/Microsoft.VisualStudio.Debugger.Contracts)  with ILSPY
Thank you very much for sharing it

[2022-06-24 13:44] SunnieShine opened #62126 "It seems like a syntax parser bug when combined `switch` statement and a wrong open square bracket `[` token"
**Version Used**:

VS17.3p2

**Steps to Reproduce**:

Type code like below (I use tabs to trigger the bug, but using spaces may also trigger):

[code]

![image](https://user-images.githubusercontent.com/23616315/175546583-a928fa20-e8c1-40bf-8605-eaba5d748414.png)

Then I input a open square bracket `[` after the colon token `:` case label, the highlight will be messed up:

[code]

![image](https:/

[2022-06-24 13:44] OldManMeta commented on #62125
Hi @CyrusNajmabadi - If I was on a salary, then I would have all day to search and find the single "correct" way to provide the feedback - but I'm not, so I don't. - I'm searching for a **solution**, which came up with a link to issue #39615 which to me looked out of place also on a Roslyn issue list - but was referring to codelens. So out of courtesy, I throw it in here.

I'll close it - the issu

[2022-06-24 13:44] #62125 closed

[2022-06-24 13:59] sangwook96 commented on #59078
@gregg-miskelly, HI,
you can make 'IManagedEditAndContinueEngineService' public only in future VS versions, I mean, in some new major VS version (not in VS 2022) right?

No, this change could be done in any minor release of VS 2022 (example: 17.3).
=> When will you open it in the public, too?

Thanks

[2022-06-24 13:59] CyrusNajmabadi commented on #62125
The issue is not in roslyn, but is in another plug-in to vs which communicates with codelens. Reporting the issue to the vs team can get it routed properly. We are not that team, this is the open source c# repo. Thanks! :-)

[2022-06-24 14:00] CyrusNajmabadi commented on #62125
That's totally reasonable. However, it's unlikely that someone here will have such a solution. Vsfeedback has a better chance of connecting you to someone who would. Thanks!

[2022-06-24 15:02] sharwell commented on #55526
There are three reasons why this could be occurring:

1. Not all files have Unix-style endings in the CI build (this can happen if one or more files in source control is not normalized, or if **.gitattributes** is missing `text=auto` for the line that applies to **\*.cs** files)
2. The CI build is running on a system where `Environment.NewLine` is `\r\n`
3. One or more **.editorconfig** files appl

[2022-06-24 15:25] AlekseyTs commented on #61112
@333fred It looks like ```MergeUseSiteInfo``` was changed to take ```UseSiteInfo``` by ref and return a bool. Does this resolve the issue?

[2022-06-24 15:29] 333fred commented on #61112
I left this issue open for adding test coverage. The bug itself was fixed, but we have no validation of the missing diagnostics.

[2022-06-24 15:36] AlekseyTs commented on #25882
It looks like the test is no longer disabled

[2022-06-24 15:36] #25882 closed

[2022-06-24 15:37] CyrusNajmabadi commented on #62126
definitely an issue with incremental parsing.  Doing this with a debug build results in:

[code]

@jcouv @jaredpar  can you assign/prioritize (note: incremental parsing bugs are very bad.  teh tree is effectively bogus and higher layers are sure to crash soon after).

[2022-06-24 15:39] #625 closed

[2022-06-24 15:41] cg110 opened #62128 "Using a custom Interpolated String handler for logging may skip side effects"
**Version Used**: VS2022 17.2.4

**Steps to Reproduce**:

1. Create a customer Interpolated string handler, that has a last param of out bool isEnabled
2. set isEnabled to false in the handler, eg for a logging handler that's disabled.
3. Log a message where a format has a side effect, eg : $"I'm logging the {i++} entry'
4. find that i isn't incremented.

(A [sharplab](https://sharplab.io/) repro

[2022-06-24 16:18] QuantumDeveloper commented on #60256
@Bosch-Eli-Black Hi.
Working recently on new generator I found that it does not want to work with multitarget assemblies. If I remove multitargeting and leave only `netstandard2.0`, it starts working correctly, but I need multitargeting for my assemblies.

Is there a way to make generator work with such assemblies?
Did you faced with such issue?

[2022-06-24 16:26] svick commented on #62128
This is explicitly called out in [the documentation](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/tokens/interpolated#compilation-of-interpolated-strings) as the correct behavior:

[2022-06-24 16:33] cg110 commented on #62128
I missed that bit of documentation, as I hadn't seen it mentioned in the examples et. I'd seen.

I'll close the issue, I'm more surprised the default handler might skip side effects. I'd have assumed it would just be those that return false for the isEnabled out flag that do.

I suspect if internally I have an enabled flag that throws everything away the side effects would mostly happen as the App

[2022-06-24 16:33] #62128 closed

[2022-06-24 18:04] cston opened #62131 "Enable updated escape rules if `System.Runtime.CompilerServices.RuntimeFeature.ByRefFields` exists"
The updated escape rules are currently enabled with `-langversion:preview`.

The updated escape rules should also be enabled if `System.Runtime.CompilerServices.RuntimeFeature.ByRefFields` exists in corlib, although that is disabled currently.

Relates to test plan https://github.com/dotnet/roslyn/issues/59194

[2022-06-24 18:49] cg110 commented on #62128
Note as mentioned, if I don't use the out bool, but instead check an enabled flag in the AppendLiteral/Formatted calls it does do the side effects (which matches current behavior)

While I anyone relying on side effects in a logging line is probably doing something wrong, I'm sure someone will/is, and don't want the pain of debugging it, as the first request will be can you repro the issue with lo

[2022-06-24 20:11] jaredpar commented on #61900
@danmoseley why did you assign this to the roslyn repo? That directory is created as an implementation detail of the `NamedPipeServerStream` implementation on Unix. The roslyn code doesn't create or manipulate this directly.

[2022-06-24 20:19] #46171 closed

[2022-06-24 20:21] danmoseley commented on #61900
Hmm, I didn't realize that. (Wouldn't it have a CoreFXPipe_ prefix though? https://github.com/dotnet/runtime/blob/7e213b3816d60686169b97969016acd21d62802b/src/libraries/System.IO.Pipes/src/System/IO/Pipes/PipeStream.Unix.cs#L33)

Feel free to transfer back if it's not Roslyn responsible for this.

[2022-06-24 20:22] jaredpar commented on #48833
After some consideration I believe this behavior is by design. It's important to keep the assembly qualification here and shortening it makes it harder for the customer to understand where there files are. The recommendation to the customer in cases like this is to enable long paths or move the build into a shorter root directory path.

[2022-06-24 20:22] #48833 closed

[2022-06-24 20:23] agocke commented on #61900
Roslyn specifies the prefix, but I'm not sure who's responsible for the permissions: https://sourceroslyn.io/#VBCSCompiler/NamedPipeUtil.cs,24

[2022-06-24 20:32] jaredpar commented on #61162
@jcouv can you take a look at this. Could be related to the bug that you just fixed.

[2022-06-24 20:32] 333fred commented on #61636
@tmat is there anything left here?

[2022-06-24 20:34] jaredpar commented on #61119
Closing. Can re-open if we get a stable repro.

[2022-06-24 20:34] #61119 closed

[2022-06-24 20:39] tmat commented on #61636
Nope. Closing.

[2022-06-24 20:39] #61636 closed

[2022-06-24 20:47] tmat opened #62135 "Make ChangeSignature command handler asynchronous and avoid expensive semantic operations on UI thread"

[2022-06-24 21:01] jaredpar commented on #58304
Closing as this behavior is effectively by design as it's unreachable code.

[2022-06-24 21:01] #58304 closed

[2022-06-24 21:39] gregg-miskelly commented on #59078
Assuming you don't find anything that needs to change, my hope would be to make the types public in 17.4.

[2022-06-24 21:39] agocke commented on #61900
@jaredpar looks like there's more than just the named pipe stuff in here though. Idk what it is (what's the AnalyzerAssemblyLoader directory?)

[2022-06-24 23:48] agrtga commented on #54281
VS 2022 Preview 2.0 and this is still a problem.

[2022-06-25 11:14] Youssef1313 commented on #21784
This work is in-progress in #54859 for the other request of the same feature #25206.

However, the option isn't a tristate. It's a true/false where `true` means "force" trailing commas, and `false` means "keep as-is". Tagging @CyrusNajmabadi @sharwell for thoughts of making it tristate.

[2022-06-25 16:08] sangwook96 commented on #59078
@gregg-miskelly, HI,
Thank you very much for updating your comment.
Okay, It's great good news for us.
Excuse me, but when will 17.4 version open to the public? like July, August ??
Thanks

[2022-06-25 17:26] mcquiggd commented on #62059
Same with Visual Studio Enterprise 2022 (Enterprise) - Version 17.2.5

[2022-06-25 20:48] DoctorKrolic opened #62197 ""Edit and continue" errors are not cleared from the document after i stop debugging"
**Version used:**
VS 2022 v17.3 Preview 2

**To reproduce:**
1. Start debugging blazor app
2. Make change, that cannot be taken by hot reload
3. Observe "Edit and continue" error
4. Stop debugging

**Expected behavior:**
The error is gone after I stop debugging

**Actual behavior:**
The error is gone only if I reopen the document

**Demo:**
![devenv_N5smyMEIYc](https://user-images.githubuserconten

[2022-06-25 22:10] sharwell commented on #62059
@DrLeh Can you follow the steps described here to capture a heap dump during the next crash? The heap dump can then be compressed (.zip or .7z) and attached to a report using the Report a Problem feature of Visual Studio. Thanks!

https://docs.microsoft.com/en-us/visualstudio/ide/how-to-increase-chances-of-performance-issue-being-fixed?view=vs-2019#crashes

[2022-06-26 09:38] pinkfloydx33 commented on #62064
I've been noticing this recently as well. Not as many projects in the solution, but same setup with editorconfig files at different levels. We see the same seemingly random behavior where suppressions stop working.

What I can say is that in our case at least, the suppressions are always additive--we're not suppressing a rule and then re-enabling it at a different level. We only ever add new suppr

[2022-06-26 10:00] KalleOlaviNiemitalo opened #62145 "Document C# extension: [return: attribute] on accessor that returns void"
The Roslyn C# compiler allows a `return` *attribute_target_specifier* in the following contexts, where ECMA-334 5th edition § 22.3 (Attribute specification) does not allow it:

- `add` accessor of an event
- `remove` accessor of an event
- `set` accessor of a property
- `set` accessor of an indexer

Please document this extension, to comply with ECMA-334 5th edition chapter 2:

The feature used to

[2022-06-26 10:30] Youssef1313 opened #62146 "`VisualBasicSyntaxFacts.IsEqualsValueOfPropertyDeclaration` throws NRE"
Seeing on 17.3 Preview 2

[code]

It happened when I opened `NamingStyleTests.vb`, but I'm not sure if the repro is consistent.

The stacktrace might help though.

[2022-06-26 10:33] Youssef1313 commented on #62146
Looks like @CyrusNajmabadi has already fixed it in https://github.com/dotnet/roslyn/pull/61725 :)
Closing

[2022-06-26 10:33] #62146 closed

[2022-06-26 10:40] WeihanLi commented on #61454
Hi @jasonmalinowski , any update on this? And should I move this to the MSBuild issues?

[2022-06-26 10:44] anilmujagic opened #62147 "CS8604 false positive with indirect `string.IsNullOrEmpty()`"
I use an extension method for `string.IsNullOrEmpty` for more concise and fluent code, which enables me to write `foobar.IsNullOrEmpty()` instead of `string.IsNullOrEmpty(foobar)`. However, compiler doesn't understand this and gives false positive warning/error.

This issue is basically the same as [CA1062 false-positives in FxCop](https://stackoverflow.com/questions/15188631/code-analysis-rule-ca

[2022-06-26 10:54] Youssef1313 commented on #62147
You need to modify your code to be:

[code]

[2022-06-26 11:01] anilmujagic commented on #62147
@Youssef1313 Thank you!

[2022-06-26 11:01] #62147 closed

[2022-06-26 14:09] levicki commented on #48839
@CyrusNajmabadi

Sorry to necro this issue, but I just wanted you to reflect on what you wrote here in one of your responses and try to clarify that both for yourself and me because frankly, I am confused.

If a feature did not exist until it was added and made on by default, then how can you claim it is used by the majority and cite that as a reason to make it on by default? What kind of circular

[2022-06-26 15:48] CyrusNajmabadi commented on #48839
This is not true. We are not counting if the feature is shown, but if the user actually invokes the feature.

[2022-06-26 15:49] CyrusNajmabadi commented on #48839
Customer feedback is aggregated.

[2022-06-26 17:36] QuantumDeveloper opened #62148 "Source Generators does not work with multitarget dependencies"
**VS 2022 17.3.0 Preview 2**:

I have Source Generator which are using local project reference with multitargeting (`netstandard2.0; net6`)

When I have multitarget references roslyn cannot load correct version and simply says that it cannot load referenced dll.

But if I remove multitargeting and leave only `<TargetFramework>` tag, generator starts working correctly.

So, seems source generators

[2022-06-26 17:49] DataJuggler commented on #48839
I have created an issue for this, twice. It has to do with using a Methods region for example. I indent all code in the Methods region by one tab, and Roslyn compiler has never liked this. Twice you told me 'Not enough people voted for this', so I just learned how to tab over to fix it (constantly).

[2022-06-26 17:52] CyrusNajmabadi commented on #48839
@DataJuggler can you link me to the two issues you created?

[2022-06-26 17:55] CyrusNajmabadi commented on #48839
It's quite possible this is true. I'm not sure why that's inappropriate. We have limited resources and a huge user base.  We're going to focus out efforts on things we feel will benefit much more people over those that benefit a tiny group (or only one person).

Afaict, nearly all software projects work this way. This is, however, one of the reasons that we are open source. Being open source means

[2022-06-26 18:00] DataJuggler commented on #48839
I don’t know how to find old issues. Pre Git Hub days (for me anyway). I remember once an engineer from Microsoft confirmed the bug in VS 2015, but it wasn’t in 2013 VS. The bug is still there in VS 2022.

***@***.***

Often for no reason at all, with all Formatting turned off, VS decides to indent the top line and region for no apparent reason:

Not sure what event fires when all formatting is tu

[2022-06-26 18:03] CyrusNajmabadi commented on #48839
@DataJuggler Please file an issue with a repro and someone can take a look.

If it's a bug we would likely take a community contribution here to fix it. This is a strong benefit of open source. The team can focus on issues and features impacting high amounts of users, but individuals can also contribute to areas they deeply care about, but which are not used by anyone else.

[2022-06-26 21:13] jcouv commented on #62145
Tagging @BillWagner to advise.

[2022-06-26 21:27] RikkiGibson opened #62149 "Nullable type argument inference bug involving method group"
**Version Used**: f7634f7503665406e717d27bbac581b13a0c21b6

**Steps to Reproduce**: [SharpLab](https://sharplab.io/#v2:EYLgtghglgdgNAExAagD4GIYFcA2OLA4CmABETAcQLABQAAgEwCMttdAzCYyQMJMkBvWiRFdOdJgDYSAFRIBJBAB4ZAPgAUc2AAcsAFwCUJALyqSO/QG5hojlykkAqiQCC27TgCeKuE41aYXT1fOgBWHz8SADMsGABjI1No2Lj1C0NrGlESGxFGBlzBQuyJAAYAfnM9IjATEmw8TOzsqGra41d3LzS230UDJuaRVpqAOhkAewBlPQAnWABzdQGSAHpVkjAoAGdtxbIAD20iOOqEEg

[2022-06-27 04:21] Youssef1313 commented on #58159
Closing per https://github.com/dotnet/roslyn/pull/59033/#issuecomment-1166825182

[2022-06-27 04:21] #58159 closed

[2022-06-27 05:16] eatdrinksleepcode commented on #25206
@jasonmalinowski I have not made any progress on it. Other shiny things also grabbed my attention :) Please, please do add it.

[2022-06-27 05:33] Youssef1313 commented on #25206
I've already a PR out, which I hope gets merged soon.

[2022-06-27 06:34] sangwook96 commented on #59078
@gregg-miskelly,
Hi,
How are you?
Thank you very much for updating your feedback here.
I tracked the previous release history.
17.0 - 2021/11
17.1 - 2022/02
17.2 - 2022/05
17.3 - 2022/08(??)
17.4 - 2022/11(??)
I know you and MS are too busy due to lots of requests from others.
But in case of this issue, could you apply it to the 17.3 version?
Thanks!!!

[2022-06-27 12:11] kernst123 commented on #62064
Same here.  We have rules suppress at the top but as we go to lower level directories we add some extra suppressions.
I have 24 virtual cores so I see this problem more than others in our office.  Is there any logging that could be enabled to help diagnose this problem?
Is it possible that I could compile a version locally that I could debug?

[2022-06-27 12:17] AlekseyTs commented on #60380
I am not able to reproduce this issue. If you are still able to reproduce it, please provide clear and complete repo steps and reactivate the issue.

[2022-06-27 12:17] #60380 closed

[2022-06-27 13:05] levicki commented on #48839
@CyrusNajmabadi

What about all the features that change previous editor behavior and do not require explicit invocation such as Tab sometimes inserting spaces instead of Tabs because of smart formatting feature?

Or another real-world example:

1. You add a feature that shows a lightbulb next to a line of code in Visual Studio 2015
2. I see an annoying lightbulb and interract with it trying to fi

[2022-06-27 13:22] DrLeh commented on #62059
@sharwell as i mention in the OP, the "Report a Problem" button doesn't do anything for me. Nothing is opened in my browser when I click the button.

[2022-06-27 15:14] Youssef1313 commented on #60645
I'm looking into this.

[2022-06-27 15:54] sharwell commented on #48839
I already provided details for this in https://github.com/dotnet/roslyn/issues/48839#issuecomment-963334884.

[2022-06-27 16:22] #61847 closed, assigned to 333fred, AlekseyTs

[2022-06-27 16:23] #53798 closed

[2022-06-27 16:24] #53803 closed

[2022-06-27 16:25] jaredpar commented on #59219
This is against the rules of source generators. They should never be making on disk changes directly. Doing so violates both the rules of generators and the correctness of overall builds.

Closing as this is not a supported action for generators.

[2022-06-27 16:25] #59219 closed

[2022-06-27 16:38] cston opened #62156 "Test ref fields in the Expression Evaluator"
See `ExpansionTests.RefField()`.

[2022-06-27 16:39] AaronRobinsonMSFT opened #62157 "EE doesn't display `ref` fields as expected."
The following code should be updated for the new `ref` field support. See https://github.com/dotnet/roslyn/pull/62155.

Note the `RStr` field in the example below is a `ref` field. I would expect the display to be either `ref string` or to point through the `ref` and display the value.

![image](https://user-images.githubusercontent.com/30635565/175991499-e56b5963-4b92-4cac-83d1-440d0f546808.png)

[2022-06-27 16:41] #61991 closed

[2022-06-27 16:42] gregg-miskelly commented on #59078
I am not authorized to comment on release dates. But if you are blocked waiting for work, we may be able to send you private binaries for **testing/development purposes only** that would function on top of 17.3.

We are past the point where 17.3 features can be checked in.

Delta are not dropped to disk at all. Your implementation could choose to do so if that made sense for you. The deltas are st

[2022-06-27 16:48] #55714 closed

[2022-06-27 17:04] CyrusNajmabadi commented on #48839
This would not count as a user explicit invocation of a feature.

This would not count as using the feature.  If you did happen to invoke it, it would only count as a single hit, and we look in aggregate at how many peolpe are using it *repeatedly*, as well as things like how often it is even used when it is shown.

[2022-06-27 17:07] CyrusNajmabadi commented on #48839
Your linked issue is about `do`, but @DataJuggler mentioned:

I don't see teh connection between the issues.  His case appears (afaict from reading what he wrote) to be a case where he wants items within a region indented one more level.

[2022-06-27 17:10] sharwell commented on #62059
You can attach the files in a comment on this issue:
https://developercommunity.visualstudio.com/t/AccessViolationException-in-BinderLooku/10081741

[2022-06-27 17:11] jaredpar commented on #61900
That is the directory we copy analzyer / generator assemblies to in order to do fake shadow loading.

[2022-06-27 17:17] jaredpar commented on #58122
Upon further thinking this is more of a language request vs. compiler bug and as such closing. If there is desire to push forward with this we should open an issue on csharplang as a request.

The reason this is a request is that it has larger impacts. Consider that once we have a `ref` local then it impacts other items like lambda capture, async methods, etc ... It effectively prevents those from

[2022-06-27 17:17] #58122 closed

[2022-06-27 17:50] #50181 closed

[2022-06-27 18:35] Youssef1313 opened #62161 "Local constant is considered unused when it's used as default parameter value for local function"
FWIW this also shows up here:
[code]
X is reported as never used (CS0219).

_Originally posted by @Dweeberly in https://github.com/dotnet/roslyn/issues/60645#issuecomment-1120072143_

[2022-06-27 18:53] AlekseyTs commented on #60259
I think I figured out what could be the reason for the error. From the  [dump file](https://1drv.ms/u/s!Ao4Mfha5mZFZjHun22qxciYWN2Pn?e=bFiRwe), we can observe that ```global using System;``` and ```using System;``` are both in the list of usings to consider during name lookup. Both refer to the same namespace, but the namespace symbols are not identical, that is definitely going to keep them both

[2022-06-27 18:59] tfenise opened #62162 "Generated constructor with invalid parameter name"
**Version Used**:

Microsoft Visual Studio Community 2022, 17.2.5

**Steps to Reproduce**:

1. Enter the following code in a C# project in Visual Studio.
[code]

2. Let the IDE generate a constructor including the field `_0` for me. (Right click on `MyClass`)

**Expected Behavior**:

The IDE generates a functional constructor.

**Actual Behavior**:

It generates:

[code]

[2022-06-27 19:07] dibarbet commented on #62036
The main problem with `Microsoft.VisualStudio.LanguageServices.CSharp.UnitTests` that is causing all the tests to run in one work item is the usage of combinatorial tests.  Currently RunTests looks at annotated test methods to figure out how many tests are in a particular class.  However, `AbstractPersistentStorageTests` defines combinatorial tests that run 20 iterations along with other combinato

[2022-06-27 19:34] vatsalyaagrawal commented on #62099
Agree. Locking down early will help us avoid high-cost investigations/lockdowns later in the cycle.

Automating this scenario will be awesome.

[2022-06-27 19:59] jasonmalinowski commented on #25206
@Youssef1313 Ah, not sure why we didn't assign this to you then!

[2022-06-27 20:00] dibarbet commented on #62036
Jon pointed me to `dotnet test --list-tests` which we should be able to use instead of the current reflection based method to figure out how many tests we have in a dll

[2022-06-27 20:29] RikkiGibson commented on #62036
Do we need to spawn 'dotnet test' subprocesses to get that info? Not possible to use a library method or anything?

FWIW, I am hoping to investigate a larger task later this year to try and implement an XUnit.TestFramework which partitions and runs tests in subprocesses. Don't know yet whether it's possible but hoping very much to be able to 'dotnet test path/to/assembly' and get similar paralleli

[2022-06-27 20:38] dibarbet commented on #62036
It is possible there is one, but I haven't seen anything obvious other than dotnet test.

That sounds great actually!  For now in the short term I think I can get RunTests to work a little better, but am all for a better approach.  It would be great to be able to just run dotnet test.

[2022-06-27 21:08] JoeRobich commented on #62105
### Design Meeting Notes (2022/06/27)
- Maybe we can launch a lightbulb session for the user when the inline error is clicked similar to clicking on the lightbulb.
- Can we just add "Press Ctrl + . to fix" to inform the user how to fix the error?
- Perhaps we can share a message using the tipping service.

Needs a proposal. Should work with UX to ensure a consistent experience across languages.

[2022-06-27 21:15] JoeRobich commented on #62110
### Design Meeting Notes (2022/06/27)
- Different work flow from a lot of our existing functionality.
- Should it default to generating into new file?
    - Don't want to add more UI for capturing implementation filename.
- In case multiple types need to be generated, should we allow generate without navigating to the generated implementation?
- Feature triggered on interface header.
    - Like th

[2022-06-27 21:18] JoeRobich commented on #62106
### Design Meeting Notes (2022/06/27)
- Should we offer refactoring option from a selection containing multiple parameters?
    - Refactorings shouldn't require precision mouse work.
- From Change Signature dialog provide capability to extract parameters to a new type.
    - Looking for a proposal that handles params parameters, cancellation tokens, event handlers, etc…
    - This allows the user

[2022-06-27 21:19] JoeRobich commented on #57973
### Design Meeting Notes (2022/06/27)
Mark as help wanted

[2022-06-27 22:52] jasonmalinowski commented on #61454
@WeihanLi Ah thanks for the ping -- my back and forth with that team got lost in everything else going on. Just to confirm, what version of the SDK are you using?

[2022-06-27 23:34] cston commented on #62085
Fixed in https://github.com/dotnet/roslyn/pull/62155.

[2022-06-27 23:34] #62085 closed

[2022-06-27 23:58] #61935 closed

[2022-06-28 01:08] KirillOsenkov opened #62177 "Typo in API name: `ShouldShowItemsFromUnimportNamspaces`"
https://github.com/dotnet/roslyn/blob/8b9b4b7eae8a60097e68967f56192008d941ecbf/src/Features/Core/Portable/Completion/CompletionOptions.cs#L45

Should be: `ShouldShowItemsFromUnimportedNamespaces`

[2022-06-28 02:46] levicki commented on #48839
@CyrusNajmabadi

Then how did you know that `Use adaptive formatting` feature should be on by default when it was first introduced?

Do you realize that you just admitted you didn't have any telemetry for that?

Worse yet, you didn't bother to ask the users during first Visual Studio launch after the update whether they want `Use adaptive formatting` feature on or off -- you just went ahead and en

[2022-06-28 03:30] CyrusNajmabadi commented on #48839
For features that are part of the inner typing loop, this is done with user studies, long dogfooding periods.  Long periods of requests for feedback from community, etc.

Note: `Use adaptive formatting` is not roslyn.  If you have issues with that feature, please file feedback using:
![image](https://user-images.githubusercontent.com/4564579/176085936-4af9ae3b-baea-4bd2-bb0a-442a79d37c1b.png)

[2022-06-28 03:31] CyrusNajmabadi commented on #48839
That would still be a one-off click.  We aren't marking a bit saying "this user used this" that triggers after a handful of invocations.  We're tracking % of users continually using such features.

[2022-06-28 03:31] #61678 closed

[2022-06-28 03:32] CyrusNajmabadi commented on #48839
This is not a roslyn issue.  Please file feedback using hte system shown above if you are having a medical issue with a piece of UI.

[2022-06-28 04:31] WeihanLi commented on #61454
@jasonmalinowski thanks for your reply, I'm using the latest .NET 7 Preview 5 SDK

[2022-06-28 04:49] Youssef1313 opened #62181 "API proposal: Expose functionality of `SyntaxGenerator.TypedConstantExpression` via a better method"
## Background and Motivation

`SyntaxGenerator.TypedConstantExpression` is a very useful API, but it accepts `TypedConstant` parameter. In most cases (except attributes), we don't (and maybe can't) have `TypedConstant`.

## Proposed API

[code]

Implementation for C# will directly delegate to the internal implementation here:

https://github.com/dotnet/roslyn/blob/a3015838ebea9773834c42322dc129fb3

[2022-06-28 04:49] Youssef1313 commented on #62181
Note that the internal API is used by some codefixes in Roslyn itself, and this is blocking moving these codefixes to the shared Analyzers layer.

cc @mavasani

[2022-06-28 05:57] ShahriyarB commented on #62162
What would you suggest for the name of _0 variable in the constructor?

[2022-06-28 05:57] ShahriyarB commented on #62162
What would you suggest for the name of _0 variable in the constructor?

[2022-06-28 06:02] #61977 closed

[2022-06-28 06:45] mavasani commented on #32985
If implemented, we should implement this as an analyzer/code fix, so we can support build time enforcement. See https://github.com/dotnet/runtime/pull/71361 for this request.

[2022-06-28 09:25] Bosch-Eli-Black commented on #60256
@QuantumDeveloper I'm afraid I don't have any experience there 🙂  I'd recommend filing a new bug.

[2022-06-28 10:26] Youssef1313 opened #62183 "Unused usings not faded"
In, 17.3 Preview 2, open Compilers.sln, open any file and add unused using statement. It's not faded, however, pressing <kbd>Ctrl</kbd>+<kbd>.</kbd> offers to remove it.

![image](https://user-images.githubusercontent.com/31348972/176157140-25464d4b-6d95-4cdd-ab3b-da5974907e84.png)

cc @CyrusNajmabadi @tmat

I have the fade out option in Tools → Options checked:

![image](https://user-images.githu

[2022-06-28 10:50] levicki commented on #48839
It would seem that those studies do not include enough diverse people.

As for dogfooding, it is hard to believe it is really happening considering what kind of stuff gets released in Microsoft's product lineup.

You are right, this is not a roslyn issue, it is not my medical issue, and I apologize for off-topic.

The issue is the mentality of Microsoft product managers and their methodology of de

[2022-06-28 12:29] sangwook96 commented on #59078
@gregg-miskelly,
Hello,
Could you share your private binaries with us?
How can I take it from you via email or anything?
It's really helpful for us.

Thank you very much.

[2022-06-28 13:53] Goolyio opened #62184 "Null coalescing does not work as expected with types that have implicit operators"
**Version Used**: 6.0.101

**Steps to Reproduce**:

1. Create a type that utilises implicit operators so no explicit type conversions are required when returning from a method. For example a result wrapper that looks like
[code]
2. Create a function that could potentially return the type `T` or `E`. For example,
[code]
3. Make a call to something that could potentially return a null response. An e

[2022-06-28 13:54] WalissonPires commented on #32320
+1

[2022-06-28 15:20] CyrusNajmabadi commented on #62183
@mavasani @sharwell ?

[2022-06-28 15:22] CyrusNajmabadi commented on #48839
Yes there is. I showed above where that send feedback button is.

No. It just means that it's possible, as mentioned above, that a determination was still made overall that having something on by default was appropriate.

[2022-06-28 15:25] CyrusNajmabadi commented on #24513
@AntonGrekov our server does absolutely nothing with the video subsystem. If you are having crashes there it is an issue with your hardware.

Please report an issue using visual studio and have it include a trace. We can see what has gone wrong. You can use the instructions here: https://github.com/dotnet/roslyn/blob/main/docs/wiki/Reporting-Visual-Studio-crashes-and-performance-issues.md

[2022-06-28 15:28] CyrusNajmabadi commented on #62181
Which existing features that you want to use this API would pass false for `bool canUseFieldReference`?  My preference would be to not expose that flag and always treat it as true.

[2022-06-28 16:21] tmat commented on #62183
Looking now.

[2022-06-28 16:51] jcouv commented on #62184
I'll follow up to confirm, but I think this is by-design.
We implemented target-typed conditional ([spec](https://github.com/dotnet/csharplang/blob/main/proposals/csharp-9.0/target-typed-conditional-expression.md)) in C# 9. That feature did not include `??`, but I don't remember the reason why.

[2022-06-28 16:54] #62184 closed

[2022-06-28 17:11] #62051 closed

[2022-06-28 17:15] jcouv commented on #62161
@RikkiGibson Assigned to you since you'd been doing some work around binding of default parameter values. I'd also be okay to move this to Backlog milestone, feel free to triage further.

[2022-06-28 17:29] jasonmalinowski opened #62188 "GoToDefinition integration tests failed due to empty file"
The dump is here:

https://dev.azure.com/dnceng/public/_build/results?buildId=1848470&view=artifacts&pathAsName=false&type=publishedArtifacts

The go to definition integration test failed and hung the test because it displayed the "unable to navigate" dialog. Looking at the Compilation in the dump, it appears the source file that would have contained the definition is empty. I don't see a _loadDia

[2022-06-28 17:29] jasonmalinowski commented on #62188
@sharwell Any chance this is a duplicate of something you're already looking at?

[2022-06-28 17:35] tmat commented on #61844
I see issues with diagnostics being not reported or reported multiple times:

https://user-images.githubusercontent.com/41759/176246717-9aa4e250-8f78-44d1-921b-bc92e6fc9c80.mp4

The option value seems to be correctly passed to the analyzer, but the analyzer is not always invoked as I would expect.

[2022-06-28 17:39] tmat commented on #61844
@dibarbet

[2022-06-28 17:41] jcouv commented on #62181
Assigned to area owners. Please re-assign and move to an appropriate milestone when a decision is made.

[2022-06-28 18:12] tmat commented on #61844
@dibarbet
![image](https://user-images.githubusercontent.com/41759/176253318-a7eec4c0-876c-4deb-b977-96d839244c7b.png)

[2022-06-28 18:19] tmat commented on #61844
One thing that does not work with LSP - changing the severity from error to warning does not refresh the diagnostics right away, only if I change the file. Maybe we need to trigger pull on global option change?

[2022-06-28 18:20] tmat commented on #61844
Interesting, even closing and reopening the document after the severity is changed does not update the LSP diag.

[2022-06-28 18:25] tmat commented on #61844
The code that reads the option is not executed.

[2022-06-28 18:39] dibarbet commented on #61844
Good to know!

Ah this is interesting.  The client polls us, but we're looking at the solution snapshot to see if anything has changed before attempting to compute diagnostics.   This doesn't contain global options so even when they change we don't recompute diagnostics.  Is there a global option version / checksum we can cache / look at to see if they've changed since the last request?  I could a

[2022-06-28 19:24] #62062 closed

[2022-06-28 19:33] tmat commented on #61844
Also seeing contract failure when displaying Tools Options under debugger.
[code]

[2022-06-28 20:16] #32985 closed

[2022-06-28 20:16] #54974 closed

[2022-06-28 20:23] #61264 closed

[2022-06-28 20:25] #62126 closed

[2022-06-28 20:59] davidwengier commented on #62197
This should have been fixed with https://github.com/dotnet/roslyn/pull/60081, will have to investigate

[2022-06-28 21:20] tmat opened #62204 "Read SmartIndent option from IEditorOptions"
We read all indentation options from IEditorOptions except for IndentStyle, which appears to not be correctly propagated to subject buffer of a projection buffer by the editor. To work around that we read it directly from global options. We should switch to using `IEditorOptions.GetIndentStyle()` once the editor fixes the subject buffer lookup.

Tracks TODO in code.

[2022-06-28 21:30] ryzngard opened #62206 "Stack Trace Explorer Accessibility Insights Fix"
See attached recording. All items need to be fixed.

[Stack Trace Explorer.zip](https://github.com/dotnet/roslyn/files/9005366/Stack.Trace.Explorer.zip)

[2022-06-28 21:40] CyrusNajmabadi commented on #57494
it's unclear why this is even assigned to compiler.  AFAICT< the stack indicates a bug on the IDE side in `ExpressionCodeGenerator.GetStatementOrInitializerContainingInvocationToExtractedMethodAsync` where we're likely doing an invalid ReplaceNode causing a crash in the replacer when it cannot fit hte replaced node into the location we're replacing.  @jaredpar feel free to reassign to ide here.

[2022-06-28 21:40] davidwengier opened #62207 "Restrict values that trigger "Convert to Utf-8 string" analyzer"
At the moment we will happily suggest any byte array be converted to a UTF string literal, if the values would make for valid UTF-8 strings. We should be a little more strict about it, to avoid some false positives. The following examples all come from the runtime repo.

eg: None of these are characters
https://github.com/dotnet/runtime/blob/6a889d234267a4c96ed21d0e1660dce787d78a38/src/libraries/M

[2022-06-28 21:43] CyrusNajmabadi commented on #62207
Oooh.  please show me what those get converted to :D

[2022-06-28 21:45] davidwengier commented on #62207
@stephentoub might have screenshots, but otherwise I'll be sure to add some when I get to this :)

[2022-06-28 21:48] RikkiGibson commented on #57875
@genlu is there any timeline in which this needs to happen?

[2022-06-28 22:04] stephentoub commented on #62207
[code]
and
[code]
This also highlights another issue... those `.ToArray()`s shouldn't be there in the latter case.

[2022-06-28 22:05] davidwengier commented on #62207
Looks beautiful. You have something against ASCII art?! 😛

[2022-06-28 22:07] CyrusNajmabadi commented on #62207
I agree with david.  That's genuinely amazing :D

[2022-06-28 22:12] davidwengier commented on #62207
All jokes aside, I am honestly not so sure about this any more. In the `DaysInMonth365` case, its pretty clear that leaving those as numbers makes the most sense, and communicates best what the data means, but I'm not entirely convinced that there isn't someone who has `new byte[] _listOfFancyASCIICharacters = ...` that wouldn't prefer the UTF8 string format.

[2022-06-28 22:27] Youssef1313 commented on #62207
Yeah I pointed to that in https://github.com/dotnet/roslyn/pull/61650#pullrequestreview-993136590.

@davidwengier Will you track both issues in this single one?

[2022-06-28 23:10] #61450 closed

[2022-06-28 23:10] #61452 closed

[2022-06-28 23:11] #57213 closed

[2022-06-28 23:12] stephentoub commented on #62207
I think the analyzer should err on the side of false negatives. It only helps with maintainability, and getting it wrong degrades maintainability. I suggest:
- If the values are all const chars cast to byte, e.g. `new byte[] { (byte)'h', (byte)'i'}`, convert it regardless of their values.
- Otherwise, only convert if it contains a blessed subset of values, e.g. Unicode word and digit characters, \

[2022-06-28 23:49] drewnoakes opened #62221 "Rename option "Include overloads" doesn't work"
**Version Used**: 17.3.0 Preview 3.0 [32626.91.main]

**Steps to Reproduce**:

[code]

1. Caret on any of these `M` overloads
2. Invoke rename
3. Check "Include overload(s)"
   ![image](https://user-images.githubusercontent.com/350947/176322702-0d39deb3-da16-4f53-878f-2a80afa09bf7.png)
5. Enter a new name and commit

**Expected Behavior**:

All three methods are renamed.

**Actual Behavior**:

Onl

[2022-06-28 23:50] JoeRobich opened #62222 "StackOverflow in Test_Windows_CoreClr_Release CI"
CI: https://dev.azure.com/dnceng/public/_build/results?buildId=1851006&view=ms.vss-test-web.build-test-results-tab&runId=48752530&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab&resultId=160213 (microsoft)

[code]

[2022-06-29 00:16] davidwengier commented on #62207
Yeah, you're probably right. This is an interesting case:

https://github.com/dotnet/runtime/blob/main/src/libraries/Common/tests/Tests/System/Net/aspnetcore/Http3/QPackDecoderTest.cs#L29
`new byte[] { 0x37, 0x02, 0x74, 0x72, 0x61, 0x6e, 0x73, 0x6c, 0x61, 0x74, 0x65 };` is `"7translate"u8`, so _most_ of the string does actually make sense 🤷‍♂️

[2022-06-29 00:21] jasonmalinowski opened #62227 "Compiler asserting in CSharpSemanticModel.GetImportScopesCore"
Running d1077466a0ab3d3ec4a194f464e0608b3dd58e2d, I hit this assert if I try to use the C# interactive window.

[code]

[2022-06-29 00:21] jasonmalinowski commented on #62227
FYI to @CyrusNajmabadi.

[2022-06-29 00:46] Cosifne opened #62229 "Inheritance margin not working for interactive workspace"
Talked to @jasonmalinowski  offline about this
![Interactive](https://user-images.githubusercontent.com/24360909/176327578-61d4bc13-e1ee-4bf2-9872-ff724845a4c9.gif)

Press F12, navigate from Interactive workspace to metadata workspace,
then it can't navigate back

[2022-06-29 01:07] tmat commented on #62183
I can't reproduce with the latest main build. Both LSP and non-LSP seems to work fine.

[2022-06-29 01:26] #57455 closed

[2022-06-29 01:48] davidwengier commented on #62207
Thanks @Youssef1313, I thought I had a note for following that up, but must have forgot. Will just fix both issues with this.

[2022-06-29 04:07] sangwook96 commented on #59078
@gregg-miskelly,
Thank you very much for your hard work on our issue.
Yes, If you are ready or have anything, please share it with us again.
In fact, we really appreciate it.

[2022-06-29 04:17] mavasani commented on #61823
@bjornhellander It is fine to capture/store context objects in an analyzer and use them later. Certain APIs on context objects wouldn't be meaningful if used later. For example, [AnalysisContext.ConfigureGeneratedCodeAnalysis](https://github.com/dotnet/roslyn/blob/b55ec310613097be69bc8beb4b34f810771d0fa2/src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs#L219)

[2022-06-29 04:32] mavasani commented on #61777
@leoniDEV I am unable to reproduce this on the latest 17.3 preview build. Can you please re-confirm if you are still seeing this? If so, can you please share a repro project?

![image](https://user-images.githubusercontent.com/10605811/176352249-bdbab2d5-87a8-4958-ac1f-94b17be26649.png)

[2022-06-29 04:43] 333fred opened #62232 "Editorconfig UI failing to do anything"
**Version Used**: Version 17.3.0 Preview 2.0

**Steps to Reproduce**:

1. Create a new .editorconfig file
2. Attempt to change the `var` preferences

![Editorconfig not saving](https://user-images.githubusercontent.com/2371880/176353389-84d46521-33a8-459e-ba22-34e0fec24065.gif)

**Expected Behavior**:

Editorconfig setting is updated.

**Actual Behavior**:

Editorconfig setting _appears_ updated.

[2022-06-29 04:53] Youssef1313 commented on #62183
@tmat fwiw, it's not consistent on my side. It randomly works and randomly stops working.

[2022-06-29 04:55] manfred-brands commented on #32358
I had similar issues in the nunit.analyzer for variable initialized in the Setup method and adding support for locally defined methods wasn't that hard: https://github.com/nunit/nunit.analyzers/pull/386/files

[2022-06-29 05:37] Youssef1313 commented on #62232
Duplicate of https://github.com/dotnet/roslyn/issues/56676
Duplicate of https://github.com/dotnet/roslyn/issues/54556

@jmarolf This has been reported too many times now 😕

[2022-06-29 05:50] 333fred commented on #54556
FWIW, @CyrusNajmabadi, this is a data loss bug. Changes I'm making the editorconfig UI are getting lost.

[2022-06-29 05:50] 333fred commented on #62232
Closing as a duplicate of https://github.com/dotnet/roslyn/issues/54556

[2022-06-29 05:50] #62232 closed

[2022-06-29 07:53] davidwengier commented on #62197
@dibarbet are there any known issues with pull diagnostics in 17.3 P2? I can repro this, but the EnC version stuff I added seems to still be working okay, from a quick look.

[2022-06-29 08:07] #62207 closed

[2022-06-29 08:44] Goolyio commented on #62184
Ah interesting, thanks for looking ❤️

[2022-06-29 11:24] mmojgani77 opened #62622 "Decorator pattern for functions in .NET"

[2022-06-29 11:46] mavasani commented on #60978
@JoeRobich @jmarolf @sharwell It seems we no longer do the redirect for `https://aka.ms/roslynsdktemplates`. Do we have a new link to add here?

[2022-06-29 12:07] leoniDEV commented on #61777
After further investigation it seems a problem with the UI.

If you expand the `Analyzers` node in the `Solution explorer` the icons don't reflect the severity setting.
But it seems that the severity is effectively applied correctly.

![image](https://user-images.githubusercontent.com/11667486/176423456-a8f29717-0766-4245-abc8-ce1e057395c2.png)

![image](https://user-images.githubusercontent.com/1

[2022-06-29 12:41] levicki commented on #48839
And in doing so you are being condescending as usual because I am very well aware of how to send feedback for Visual Studio.

What I wanted is to send feedback to Microsoft's upper management but after talking to you I am under impression that even if there was a way it would be an exercise in futility. You people are so set in your ways that you don't even want to consider other viewpoints.

[2022-06-29 13:02] mavasani commented on #58876
Tagging @jmarolf as well. I am personally fine with this if Jon doesn’t have any pushback.

[2022-06-29 13:59] #61810 closed

[2022-06-29 13:59] #61837 closed

[2022-06-29 14:06] jaredpar commented on #57107
Closing as this is completed now.

[2022-06-29 14:06] #57107 closed

[2022-06-29 14:47] vsfeedback opened #62238 "Severe ConditionalWeakTable contention observed on TryParseConversionOperatorDeclaration failure path"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/RoslynCodeAnalysisService-takes-up-all-m/10071654)._

https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1555394

---
[severity:It's more difficult to complete my work] [regression] [worked-in:16.11.10]
Since I updated to Visual Studio 2022 I have many problems with the memory occupa

[2022-06-29 14:51] AlekseyTs commented on #62238
From @sharwell:

[Support syntax for explicit implementation of conversion operators (#… · dotnet/roslyn@847f9c6 (github.com)](https://github.com/dotnet/roslyn/commit/847f9c60edcf75262c4aaa9264419f323955ae6c)

[2022-06-29 15:05] jaredpar commented on #56113
Closing as I don't think the granularity here is worth the extra complexity to our build process. I do understand the value in making sure clients can determine which files came from which generators (which I believe we've achieved). But I don't think we need the extra complexity of only emitting certain files to disk here.

[2022-06-29 15:05] #56113 closed

[2022-06-29 16:30] colgreen opened #62241 "Switch expression using pattern matching on floating point values reports wrong result for double.Nan"
**Version Used**: dotnet 6.0

**Steps to Reproduce**:

Run this console app, taken from: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/patterns#logical-patterns

[code]

**Expected Behavior**:
Output of:

High
**Unknown**
Acceptable

**Actual Behavior**:

High
**Too high**
Acceptable

---

SharpLab currently shows the prblem in the lowered C#:

https://sharplab.io/#v2

[2022-06-29 16:39] jmarolf commented on #62232
focusing on this today

[2022-06-29 16:47] colgreen commented on #62183
I have this problem in VS 17.2.4 (and just upgraded to 17.2.5, and still the same).  The quick menu option to remove unused imports works fine, but the redundant imports/using are never greyed out now.  I would guess this was a recent VS update that did this, my best guess is 17.2.3 as it's been a problem for a while now.

[2022-06-29 17:01] cston opened #62243 "Allow a ref field to refer to a ref struct type"
Currently, `ref` fields cannot refer to `ref struct` types.

[code]

See https://github.com/dotnet/roslyn/pull/62186

See also https://github.com/dotnet/roslyn/issues/62098

[2022-06-29 17:35] Youssef1313 commented on #62222
https://github.com/dotnet/roslyn/pull/61852

[2022-06-29 17:40] jasonmalinowski commented on #57455
@jcouv this was marked for 17.3 but missed the cutoff. Was this something you did want in for 17.3?

[2022-06-29 17:46] Evangelink commented on #58578
Got the same error today:

[code]

[2022-06-29 17:48] JoeRobich commented on #62222
Thanks @Youssef1313. Looks like another case of https://github.com/dotnet/roslyn/issues/45815. Closing

[2022-06-29 17:48] #62222 closed

[2022-06-29 18:14] #61971 closed

[2022-06-29 18:31] jcouv commented on #57455
Thanks for calling this out @jasonmalinowski. From discussion with Jared, I'll cherry-pick the fix to 17.3 (PR https://github.com/dotnet/roslyn/pull/62249)

[2022-06-29 19:11] #61534 closed

[2022-06-29 21:19] RikkiGibson opened #62254 "Public API for "file-local types""
## Background and Motivation

The file-local types feature (#60819) introduces public APIs.

## Proposed API

[code]

[code]

## Usage Examples

`INamedTypeSymbol.IsFile` is needed to implement SymbolKey for file types.

https://github.com/dotnet/roslyn/blob/b547e912fd98d1d32d19e286086b57691b372be0/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs#

[2022-06-29 23:34] RikkiGibson opened #62259 "IDE0040: Accessibility modifiers required should not be reported on file types"
Related to #60819

File types cannot specify accessibility modifiers, so the IDE shouldn't suggest doing so.

**Actual behavior**:
[code]

**Expected behavior**:
[code]

[2022-06-30 00:43] Shivian444 commented on #37876
Why does the IDE imply these settings are editable then by allowing the Severity listbox selection to be changed then? If this was the design, then the IDE should reflect this design decision by making the severity read only.

[2022-06-30 00:59] davidwengier commented on #62197
Thanks. Still repros on P3 for me, even if I get less aggressive with caching on the roslyn side. Will get some LSP logs and log a platform issue :)

[2022-06-30 01:28] davidwengier commented on #62197
Nope, found the issue I think. When ending the debug session, `documentsToReanalyze` is coming back as empty. Any ideas or recent changes you can think of @tmat, while I keep trying to debug?

[2022-06-30 01:48] davidwengier commented on #62197
Okay, we're tracking the document properly in the edit session, but when ending the session, its not the same session, as there is a BreakStateChanged call before that, so we actually restart the edit session just before we end it. Don't know if thats new?

When restarting though, we do seem to the do the right thing and bump version numbers etc. but the diagnostics don't get cleared. Not sure wha

[2022-06-30 02:09] AlekseyTs commented on #57494
It is hard to say what is going on here. Quite possibly the "Extract Method" refactoring places the call at the position where a type is supposed to be syntactically.

[2022-06-30 02:15] davidwengier commented on #62197
Okay so when we get the break state changed, we know there is a document to reanalyze, but the reanalysis does nothing, because the document ID is not in the project that the work coordinator is running on. When we get the end session, there aren't any documents to analyze, because we've cleared them after the break state change.

I'm guessing this is a design time document issue of some kind, bec

[2022-06-30 02:54] drewnoakes commented on #62221
@CyrusNajmabadi I originally saw it with no generics involved. I added one to my test case to see what happened (nothing different) and to ensure that case is also handled as part of a fix.

[2022-06-30 02:59] drewnoakes opened #62267 "New rename UI shouldn't show "Include overload(s)" for locals/params/properties/fields"
**Version Used**: 17.3.0 Preview 3.0 [32629.347.main]

**Steps to Reproduce**:

[code]

**Expected Behavior**:

The new UI doesn't show "Include overload(s)" for `_field`, `Property`, `parameter` or `local`.

In the case of a method rename, ideally the dialog would only include this option when an actual overload existed.

**Actual Behavior**:

The new UI shows "Include overload(s)" for `_field`,

[2022-06-30 03:12] tmat commented on #62197
@davidwengier Thanks for the investigation. Does this repro when using pull diagnostics?

[2022-06-30 03:19] davidwengier commented on #62232
ATM machine

[2022-06-30 03:21] davidwengier commented on #62197
Yes, if I turn on the pull diagnostics flag in Tools, Options, it repros in a normal C# file too

[2022-06-30 03:59] davidwengier commented on #62197
I think there might be two issues here.. I can fix the issue in normal C# files with pull diagnostics turned on (PR soon) but the issue remains in Razor if pull diagnostics is turned off. I thought pull diagnostics was always on for Razor?

[2022-06-30 04:03] dferretti opened #62269 "Are `Microsoft.CodeAnalysis.Location` instances safe to cache in Incremental Source Generators?"
Hello!

I am working on an incremental source generator, and trying to follow all the steps to make it cache friendly.
Specifically, I am building up my own simple domain model that contains just a few strings and other things from basic interfaces it analyzes, and gathering them very early on in the collecting/transforming phases of the generator (step 1 to be exact). This comes from the advice h

[2022-06-30 04:51] CyrusNajmabadi commented on #62269
Could you store a tuple of the file path and span you care about?  That would be small, value-safe, and would have the same semantics as what you have today.

[2022-06-30 05:01] mavasani commented on #60652
This is complete.

[2022-06-30 05:01] #60652 closed

[2022-06-30 05:06] dferretti commented on #62269
Thanks for the quick response! Yeah that looks like it could do the trick. Once I find any symbol's `Location`, I can extract `location.SourceTree.FilePath`, `location.SourceSpan`, and `location.GetLineSpan()` which all look good. And then that is enough for me to use `Location.Create(filePath, textSpan, lineSpan)` on the other side.

[2022-06-30 05:40] mavasani commented on #60978
I am not sure. Maybe @jmarolf @sharwell have a recommendation?

[2022-06-30 06:13] Youssef1313 commented on #62259
https://github.com/dotnet/roslyn/blob/58d8ea0066f649de1bfe1852bb90f56db981bb67/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpAccessibilityFacts.cs#L30-L44

[2022-06-30 06:21] Youssef1313 opened #62274 "Revise SyntaxGenerator for file types"
Add tests for generating file types, and make any necessary changes to SyntaxGenerator

[2022-06-30 06:48] shyamnamboodiripad commented on #61523
@jasonmalinowski At the very least it would be great to expose the `TextDocumentKind` since the enum itself is already public.

The main thing I was interested in knowing for my feature is whether the document in question is a razor file (i.e., `ContentType`). I would imagine that would be populated by whichever component creates the document. Without knowing the `ContentType` I either have to rel

[2022-06-30 07:20] mavasani commented on #61777
Adding @chsienki and @jasonmalinowski.

Thanks @leoniDEV. I investigated this further and it seems the issue here is that diagnostic severity entries in global config files (basically `dotnet_diagnostic.<%RuleId%>.severity` entries) are slipping through the cracks in some of the compiler APIs and IDE handling of analyzer config options.

1. [AnalyzerConfigSet.GetOptionsForSourcePath](https://githu

[2022-06-30 12:35] sangwook96 commented on #59078
@gregg-miskelly,
Hi,
Today, an MS engineer updated his answer on https://developercommunity.visualstudio.com/t/ENC0097-Applying-source-changes-while-th/10069184?entry=myfeedback&ref=native&refTime=1656587508959&refUserId=6acb2e52-33c7-6524-8970-ceab0fd4e368&viewtype=all.
Could you discuss with him our issues?
Because you and he may have another solution.
I appreciate it.

@kusin10, I always thank

[2022-06-30 14:18] ltcmelo opened #62276 "inconsistent back and forth rewrite of `SyntaxTree` and (plain) string sources"
**Version Used**: 4.1.0

**Steps to Reproduce**:

I'm attaching a program that reproduces the issue.
In summary, I'm writing the syntax tree of a C# source with top-level statements into another syntax tree where these (previous) top-level statements are inside a `Main` method. The rewritten syntax (and even the source rewritten from this syntax) look fine, but it the tree contains this diagnostic

[2022-06-30 14:27] AndyAyersMS commented on #59421
Seems like you should at least do (2) above, otherwise it's not easy to figure out how to proceed from the failure message.

[2022-06-30 14:37] CyrusNajmabadi commented on #62276
hey @ltcmelo :)

As mentioned yesterday, the issue is with ParseTypeName.  As you can see if you call that directly, it has the diagnostic on it saying that `void` is not valid.  That's because `void` is not a TypeName as far as the language is concerned.  If you want to construct `void`, you'll need to construct a PredefinedTypeSyntax directly like so:

`SyntaxFactory.PredefinedType(SyntaxFactory

[2022-06-30 15:34] ltcmelo commented on #62276
Ah… correct, I felt into this trap before. Sure, I need to use `PredefinedTypeSyntax`.

But I didn't notice that you touched this topic yesterday, I thought you were referring to the (in)valid identifiers that I previously had, `<`, `>`, and `$` with IL names.

In any case, thanks!

[2022-06-30 16:18] #62238 closed

[2022-06-30 16:32] siegfriedpammer opened #62314 "Loading net60 project into net472 host is not fully supported"
### Issue Description
Note: I am not entirely sure where this bug report belongs, as I am using multiple components and it is hard for me to figure out, which component is failing.

## Context
In my project I use the nuget packages for
* Roslyn (4.2)
* Microsoft.Build (17.2)
* Microsoft.Build.Framework
* and Microsoft.Build.Locator (1.4.1).

I use these tools to open solution files and projects an

[2022-06-30 16:45] AndyAyersMS commented on #59421
I guess I assumed since this issue is still open that there is work to be done.

Looks like the BDN build was using 6.0.3. I suppose that will never work. You are saying that If BDN updated to use a .NET 7 preview for its build then we wouldn't see this problem?

[2022-06-30 17:05] jcouv commented on #59421
I think we're keeping this issue open because we don't yet have a CI leg for this (it was only manually validated).
Yes, roslyn in .NET 7 should have PDB support ARM64 and it should use ARM64 assemblies (better perf than AnyCPU assemblies).

[2022-06-30 17:25] gregg-miskelly commented on #59078
@sangwook96 Thanks for letting me know about the feedback ticket. I resolved it so that Zoe doesn't spend any more time investigating something that isn't supposed to work yet.

[2022-06-30 17:37] CyrusNajmabadi opened #62280 "Disabling Quick Info integration tests due to CI flakeyness."
The following tests are commonly failing: https://dev.azure.com/dnceng/public/_build/results?buildId=1854838&view=logs&j=cd35c29e-b8fa-564f-16e0-bece8461e2f7&t=63994ce8-351b-522b-bb58-0316934d7b0d

  Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpQuickInfo.SectionOrdering: Fail
  Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpQuickInfo.QuickInfo_Documentation: Fail
  Roslyn.VisualStudio.Inte

[2022-06-30 17:40] CyrusNajmabadi commented on #62280
Also reported here https://github.com/dotnet/roslyn/issues/38301 3 years ago.

[2022-06-30 17:47] Soreloser2 opened #62283 "Visual Basic Move Static Members: Refactoring one of multiple fields incorrectly formats whitespace"
**Version Used**:
Visual Studio 17.3 Preview 3

**Steps to Reproduce**:

1. Create a new VB console app
2. Paste the following code:
[code]
3. Select `Foo` and activate the "Move static members to another type..." dialog box, and select only Foo. Use the provided default class creation and press OK.

**Expected Behavior**:
In the new created file:
[code]

**Actual Behavior**:
[code]
This causes an

[2022-06-30 19:30] #62259 closed, assigned to RikkiGibson

[2022-06-30 19:40] Cosifne opened #62286 "TestNavigateToDifferentProjects is flaky"
CI: https://dev.azure.com/dnceng/public/_build/results?buildId=1855092&view=results

Failing snapshot:
![image](https://user-images.githubusercontent.com/24360909/176762971-52cf786d-46fd-4762-ae58-aab86575486a.png)

It looks like [OpenFileAsync](https://sourceroslyn.io/#Microsoft.VisualStudio.LanguageServices.New.IntegrationTests/InProcess/SolutionExplorerInProcess.cs,cc55c024de0b5a35,references)

[2022-06-30 20:29] RikkiGibson commented on #62274
I think it might be expedient to do this at the same time we implement 'INamedTypeSymbol.IsFile'.

[2022-06-30 20:43] Youssef1313 commented on #62274
Yes I attempted to fix this and found that I need this API.

[2022-06-30 22:40] #60259 closed

[2022-07-01 02:48] Forgind opened #62317 "Roslyn analyzer for adding new public API to the unshipped.txt files only adds it to one"
Pretty much as the title says. If you use the "autofix" thing in VS, it only adds it to one of the public api buckets instead of both. This might be on roslyn, but I'm guessing we configure what files exactly it adds it to? So I figured I'd start here.

[2022-07-01 06:16] sangwook96 commented on #59078
@gregg-miskelly,
Thank you very much for updating your feedback here.

[2022-07-01 06:44] kusin10 commented on #59078
@gregg-miskelly Thanks alot for the update.
I would like to ask, that by implementing IManagedEditAndContinueService will fix this ENC0097 error or some more changes be required in MIEngine for that?

[2022-07-01 08:00] mavasani commented on #54666
I believe this has been done.

[2022-07-01 08:00] #54666 closed

[2022-07-01 08:03] mavasani commented on #49250
This is now complete.

[2022-07-01 08:03] #49250 closed

[2022-07-01 08:17] mavasani commented on #42573
This is an issue only on net472 and older frameworks. Everything works fine on net5 and newer target frameworks.

[2022-07-01 08:17] #42573 closed

[2022-07-01 08:19] mavasani commented on #42538
Closing out old issue - we are unlikely to add this feature.

[2022-07-01 08:19] #42538 closed

[2022-07-01 09:53] Youssef1313 commented on #45145
Stackoverflow question was deleted for some reason. Here is the report:

I wrote an analyzer with codefix to remove all the ByVals in VB code as they're useless. The analyzer works, the codefix test passes, but the codefix doesn't work in Visual Studio.

Analyzer:

[code]

CodeFix:

[code]

Unit Tests:

[code]

Visual Studio shows the following error when applying the codefix:

'Analyzer2CodeFixPr

[2022-07-01 10:02] Youssef1313 commented on #45145
This no longer reproduces for me. I'm going to close.

[2022-07-01 10:03] #45145 closed

[2022-07-01 10:07] Youssef1313 commented on #47247
I (after two years :smile) am not much convinced that #47238 has enough motivation for this change.

If someone agrees this shouldn't be publicly exposed, feel free to close.

[2022-07-01 13:36] AlekseyTs commented on #57343
I think the problem is in the user code above https://github.com/dotnet/roslyn/issues/57343#issuecomment-951975628. It creates ```XmlTextSyntax``` node with no tokens, ```tokensForTexts``` is empty at the time. I think this isn't a right thing to do. A node cannot be based on absolutely nothing, it should have at least one token.

[2022-07-01 13:37] #57343 closed

[2022-07-01 14:03] mavasani commented on #59525
Note this analyzer does not use dataflow APIs. It uses the control flow graph API and performs custom dataflow analysis on the exposed CFG.

[2022-07-01 14:27] CyrusNajmabadi commented on #47247
Closing out.

[2022-07-01 14:27] #47247 closed

[2022-07-01 15:52] Hefaistos68 commented on #54217
"Current member" ( #30375) is implemented for replace dialog in 17.5, not seeing any change for quick/intellisense actions though.

[2022-07-01 16:03] jaredpar commented on #62098
No. This section of the proposal is attempting to keep track of what will make C# 11 vs. later releases

https://github.com/dotnet/csharplang/blob/main/proposals/low-level-struct-improvements.md#what-will-make-c-110

[2022-07-01 17:22] AlekseyTs commented on #60045
It looks like this is caused by the fact that ```ImportChain``` caches ```Cci.UsedNamespaceOrType``` instances created for one ```PEModuleBuilder``` and then can reuse them for emit based on a different ```PEModuleBuilder```, which is a wrong thing to do. VB's implementation of ```Cci.IImportScope``` has the same problem, I think.

[2022-07-01 18:22] bartonjs commented on #62024
I'm not sure what signing service unavailability you're referring to, but the best I can think of for detection would be that after a failure you try signing nothing with a new ephemeral key.  If that fails, it seems more likely that it's the algorithm.

[code]

[2022-07-01 18:25] jcouv commented on #61530
Was fixed by https://github.com/dotnet/roslyn/pull/61686. Closing

[2022-07-01 18:25] #61530 closed

[2022-07-01 18:28] bartonjs commented on #62024
(Alternatively, you could try signing nothing with SHA256, then if that works, fall back to SHA1, and if that fails, then you have pretty high confidence)

[2022-07-01 18:28] jaredpar commented on #62024
That's an interesting thought. We could look at doing that.

[2022-07-01 18:45] jcouv commented on #62097
@rainersigwald From chat with @jaredpar, we're just reading `ProjectDir` from MSBuild here and the inputs for this task aren't specifically file paths. So we're wondering why `ProjectDir` isn't canonicalized upstream.

If we wanted `GenerateMSBuildEditorConfig` to canonicalize the values it receives, it would need a heuristic to detect what may be a file path.
@rainersigwald Is there a recommended

[2022-07-01 18:53] cston opened #62318 "Diagnostic reported for `scoped` modifier on non-ref struct type should be a warning only"
CS9048 should be a warning, not an error.

[code]

[2022-07-01 19:17] Youssef1313 commented on #2369
@sharwell Is this still relevant? If it's, I think it will belong to roslyn-sdk repository.

[2022-07-01 19:21] rainersigwald commented on #62097
MSBuild doesn't canonicalize case for anything, because of the expense.

I am not aware of one. @JeremyKuhne I feel like I discussed this with you a long time ago--do you know of one?

[2022-07-01 19:50] gregg-miskelly commented on #59078
That should be all that is needed.

No. VS will enable engines to implement IManagedEditAndContinueService. When an implementation of IManagedEditAndContinueService for Tizen is contributed the issue will go away.

Since the behavior you are seeing is expected, I didn't attempt to reproduce it.

The naming of edit-and-continue and hot reload is confusing. IManagedEditAndContinueService is used to

[2022-07-01 19:58] #61812 closed

[2022-07-01 20:04] RikkiGibson opened #62325 "GetAllowedModifiers for record struct should not include 'ref'"
https://github.com/dotnet/roslyn/blob/1fcfda544da9cb4980da03d46bc753424172b75a/src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs#L1459-L1464

https://github.com/dotnet/roslyn/blob/1fcfda544da9cb4980da03d46bc753424172b75a/src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs#L1497-L1499

'ref' is not allowed on 'record struct' declarations. Should we make a cha

[2022-07-01 20:27] tmat commented on #61416
Signature help: https://github.com/dotnet/roslyn/issues/62135

[2022-07-01 20:30] cston opened #62327 "Report escape error for method invocation with ref argument with narrower lifetime than ref struct argument"
Should report errors for calls to `SetValue*()` below:

[code]

See second rule in [rules-method-arguments-must-match](https://github.com/dotnet/csharplang/blob/main/proposals/low-level-struct-improvements.md#rules-method-arguments-must-match):

[2022-07-01 21:03] jaredpar commented on #62097
It's not just how to canonicalize paths but also how to detect that they are paths. The editor config support here is just feeding through a series of MSBuild properties to the compiler via editor config. The compiler is more / less dumbly writing out name / value pairs. It doesn't have any intuition on what the underlying type of the string is.

I'm not really sure how we could do this in the com

[2022-07-01 21:04] RikkiGibson opened #62331 "Some lookup diagnostics may be missed when a file type shadows a non-file type"
Related to #61500, #60819

https://github.com/dotnet/roslyn/blob/a5407330c0173a8f01e383cd0eba372fe282d484/src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs#L1819-L1826

[2022-07-01 21:08] RikkiGibson opened #62332 "Define meaning of BuckStopsHereBinder.AssociatedSyntaxTree in EE scenarios"
Related to #60819

https://github.com/dotnet/roslyn/blob/a5407330c0173a8f01e383cd0eba372fe282d484/src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs#L24-L31

[2022-07-01 21:12] RikkiGibson opened #62333 "Give a more specific diagnostic when file type collides with non-file type in same file"
Related to #60819

https://github.com/dotnet/roslyn/blob/a5407330c0173a8f01e383cd0eba372fe282d484/src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs#L1072-L1077

[2022-07-01 21:18] RikkiGibson opened #62334 "Support file-local types in EE"
Related to #60819

https://github.com/dotnet/roslyn/blob/a5407330c0173a8f01e383cd0eba372fe282d484/src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationContext.cs#L709-L713

https://github.com/dotnet/roslyn/blob/a5407330c0173a8f01e383cd0eba372fe282d484/src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Binders/EEMethodBinder.cs#L47-L48

[2022-07-01 21:38] cston commented on #62094
Two additional tests from @jaredpar:

[code]

[2022-07-01 21:52] JeremyKuhne commented on #62097
There is an issue tracking this: https://github.com/dotnet/runtime/issues/23871

It isn't easy to do as you have to walk the path to find segments that actually exist to find their cased name. There is an API in Windows that does this for you, but it requires an open handle to the target.

You can make blanket assumptions about casing based on the platform you're running on, but that isn't going t

[2022-07-02 00:33] davidwengier commented on #24349
17.3 includes some more smarts for finding source for .NET 6, which should generally work if you're targetting the most recent SDK that you have installed. eg, if you are targetting .NET 6 and have a preview of .NET 7 installed, then it won't work, but if you have only .NET 6 installed, it should.

Generally speaking, this is correct. Most often when you are "referencing .NET 6" you are referencin

[2022-07-02 00:42] CyrusNajmabadi commented on #61416
You mean 'chang sig' right?  Not 'sig help'?

[2022-07-02 04:58] cston opened #62338 "Remove `ref scoped`"
Remove `ref scoped`, and allow `scoped` and `scoped ref` only.

~~And change the `LifetimeAnnotationAttribute` constructor signature to take a single value.~~ (forked out to https://github.com/dotnet/roslyn/issues/62734)

See https://github.com/dotnet/csharplang/blob/main/proposals/low-level-struct-improvements.md

Relates to test plan https://github.com/dotnet/roslyn/issues/59194

[2022-07-02 05:04] cston opened #62340 "Allow adding `scoped` or removing `[UnscopedRef]` for override, interface implementation, or delegate conversion"
From [spec](https://github.com/dotnet/csharplang/blob/main/proposals/low-level-struct-improvements.md#rules-method-arguments-must-match):

[2022-07-02 06:12] Youssef1313 commented on #62317
I think this is by-design (unfortunately). Given a specific compilation for a specific target framework, the codefix has no way of knowing about public APIs of the other TFMs. It doesn't also know about the other `PublicAPI.(Un)shipped.txt` files.

Tagging @mavasani to confirm

[2022-07-02 06:15] Youssef1313 commented on #62317
If you switch the active TFM in Visual Studio from this dropdown:

![image](https://user-images.githubusercontent.com/31348972/176989034-7a2ddc8d-9f50-4d65-93e9-ab8a00afe88b.png)

Do you see the codefix starts working on the other `PublicAPI.Unshipped.txt` files?

[2022-07-02 06:27] RalfKoban commented on #57343
From an API consumer's point of view I would like to be informed if I make a wrong usage of the API. If it is not allowed to provide no tokens when creating an `XmlTextSyntax`, I - as a proposal - would like to get an exception (such as an `ArgumentException`) thrown that points me on that invalid call so that I can fix it.

Unfortunately, in the current case I'll end in an endless loop later on i

[2022-07-02 12:26] Mr0N opened #62342 "Why doesn't this code work?"
### Description

![image](https://user-images.githubusercontent.com/61237140/177000675-fcc0d23f-1046-4a96-b10d-f8bd303f0b21.png)
Why doesn't this code work?

### Reproduction Steps

using (result.archive) { }
                using (result.image) { }
            using var ccc = File.OpenRead("");
            using (result.archive);
            using (result.image) ;
            using result.archive

[2022-07-02 13:01] Youssef1313 commented on #62342
It's not allowed per the language grammar:

https://github.com/dotnet/roslyn/blob/1fcfda544da9cb4980da03d46bc753424172b75a/src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4#L521-L523

https://github.com/dotnet/roslyn/blob/1fcfda544da9cb4980da03d46bc753424172b75a/src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4#L702-L704

If you don't use parentheses, then `using` should be fol

[2022-07-02 13:07] Mr0N commented on #62342
And why not, the semantics are similar, in theory it should work.

[2022-07-02 13:08] Mr0N commented on #62342
![image](https://user-images.githubusercontent.com/61237140/177002152-4464cacd-cb39-48e9-9c3d-f7a24e1d89bc.png)
Either way, it doesn't work that way either

[2022-07-02 13:26] MarkKharitonov commented on #62097
As an FYI, I found this SO answer useful to me - https://stackoverflow.com/a/9185476/80002

I used it as a basis for my Powershell code that returns canonical full file path, even if the path does not exist. For the non existing parts of the path the decision is arbitrary, I preserve the given case, but if the path is then created with a different case, then my result would be incorrect.

As far a

[2022-07-02 14:27] CyrusNajmabadi commented on #57343
The rule of Roslyn is that you must make the same trees that the parser would produce. Any other tree results in undefined behavior.

Adding all the checks would be an enormous undertaking and would effectively mean duplicating all the behavior of the parser in another location.

Our advice is thus: if generating an equivalent tree is too much of a burden, don't. Instead just generate the right te

[2022-07-02 14:28] CyrusNajmabadi commented on #62342
Because it has identical syntax to a using directive (which is already allowed). E.g. `using System.Collections;`.

So that would be entirely ambiguous syntactically at the top level.

[2022-07-02 14:28] #62342 closed

[2022-07-02 14:46] Youssef1313 commented on #31225
@mavasani Do we still want to introduce such an API?

[2022-07-02 15:00] mavasani commented on #31225
I don’t believe we will add any more code quality analyzers in Roslyn. I am going to close this one.

[2022-07-02 15:00] #31225 closed

[2022-07-02 17:00] Youssef1313 commented on #40935
Isn't is possible the property is called in its implementation under a certain condition that, at some point, stops the cycle?

I don't see why this would be different than a method called in its own implementation? A getter, at the end of the day, is a method.

[2022-07-02 18:57] Youssef1313 commented on #62283
`FieldGenerator.GenerateFieldDeclaration` produces an elastic marker. So I think something is wrong with elastic trivia handling?

[2022-07-02 19:06] Youssef1313 commented on #62283
![image](https://user-images.githubusercontent.com/31348972/177013293-b3d9f5c7-d4d8-4769-939a-017419badb47.png)

😕

[2022-07-02 19:19] Youssef1313 commented on #62283
We were reusing the original syntax, which doesn't have trivia :)

Fixing in #62346

[2022-07-02 21:03] #62283 closed

[2022-07-03 02:23] arvindshmicrosoft commented on #55594
Is there any interim workaround for this?

[2022-07-03 03:20] CyrusNajmabadi commented on #55594
@arvindshmicrosoft this is up-for-grabs.  meaning we'd take a contribution here to get a fix out if you were inclined :)

[2022-07-03 12:29] AraHaan opened #62354 "Potential bug in .NET SDK 6.0.400-preview.22351.4 compiler"
**Version Used**: Locally: ``6.0.400-preview.22301.10``, On Github Actions: ``6.0.400-preview.22351.4``

**Steps to Reproduce**:

This small codebase should be enough to reproduce it: <https://github.com/AraHaan/remora-extensions>.

(I would try sharplab but I fear it might not be as up to date with the version of the compiler that the CI automatically installs using the .NET Install scripts)

**E

[2022-07-03 12:38] Youssef1313 commented on #62354
I think this was intentional. See https://github.com/dotnet/csharplang/issues/5955.
It should be documented as a breaking change if it's not already.

[2022-07-03 12:44] AignerGames commented on #61726
I use Visual Studio 2022 Version 17.2.4 and have the same issue:
Class and file name match
I press F2 (rename) on the class name -> Rename symbol's file is NOT enabled by default and only the class is renamed
Im 100% sure that this checkbox was enabled by default in the previous versions, because I always renamed the class with F2, very annoying.

I see this issue was closed, so will it be fixed i

[2022-07-03 15:22] CyrusNajmabadi commented on #62354
Closing as by design.

[2022-07-03 15:22] #62354 closed

[2022-07-03 15:46] Youssef1313 opened #62355 "Document breaking change regarding interface usage as type argument"
It looks like the breaking change reported in https://github.com/dotnet/roslyn/issues/62354 isn't documented in https://github.com/dotnet/roslyn/blob/main/docs/compilers/CSharp/Compiler%20Breaking%20Changes%20-%20DotNet%207.md

[2022-07-03 16:00] DoctorKrolic opened #62356 "Generic's closing `>` is missing when there is already an identifier name specified"
**Version Used**:
VS 27.3 Preview 2

**Steps to Reproduce**:
[code]
Then type `<`

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

[2022-07-03 16:26] DoctorKrolic opened #62358 ""Generate constructor from members" puts the result above properties"
Roslyn currently puts generated constructor before properties and considers it as an expected behaviour:
https://github.com/dotnet/roslyn/blob/8fd033cd948a2eb33e4af650b7a1b3dd18e914d2/src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.cs#L452-L471
_This is one of the examples, but there are many across all related tests_

However, m

[2022-07-03 16:51] DoctorKrolic opened #62359 "VS setting are very inconsistent in terms of native/custom control usage"
**Version Used**:
VS 27.3 Preview 2

**Demo:**
![devenv_ksOLS7yceb](https://user-images.githubusercontent.com/70431552/177048892-cee595b8-1b33-4b3e-8e20-7e8414b4d06a.gif)

**Expected Behavior**:
All controls are either native or custom

**Actual Behavior**:
Different tabs have different control styles

**Additional context:**
I initially thought that this was windows 11 issue and even opened a tic

[2022-07-03 17:20] Youssef1313 commented on #62359
FYI @ryzngard

[2022-07-03 17:39] lorcanmooney opened #62360 ""Move type to file" misbehaves in shared projects"
**Version Used**: VS 17.2.5

**Steps to Reproduce**:
Invoke "Move type to &lt;file.cs&gt;" on a class in a shared project.

**Expected Behavior**:
The new file should be created in the same shared project.

**Actual Behavior**:
The file is created in whatever project the project-context drop-down is showing, breaking all others that reference the type.

[2022-07-03 18:28] am11 opened #62361 "Stackoverflow with u8 literal concatenation on macOS"
**Version Used**: 4.4.0-1.22328.22

**Steps to Reproduce**:
[jcouv update:] This is not specific to MacOS.

Compile with `dotnet build -p:LangVersion=preview`:
[code]

**Expected Behavior**:

Compilation succeed.

**Actual Behavior**:

[code]

**Additional info**

Without concatenation, the compilation of (combined) u8 literal with length even > 10K does not overflow the stack. So it is the proble

[2022-07-03 18:37] AaronRobinsonMSFT commented on #62361
/cc @cston

[2022-07-03 21:46] davidwengier commented on #62359
I'll leave Andrew to comment on whether there is anything the Roslyn-owned pages can do, but they are at least all internally consistent. The VS options window as a whole, however, is a known trouble area - it variously uses WPF, WinForms and Win32 depending on the page, and each of those have different levels of theming and style support. A VS feedback ticket is a more appropriate place to reques

[2022-07-04 03:39] sangwook96 commented on #59078
@gregg-miskelly,
Hi,
Thank you very much for updating your comment.

=> It occurs like that
1. Check the checkbox, Debug->Options->Debugging->.NET / C++ Hot Reload : Apply Hot Reload on File Save
2. Set the Breakpoint and start F5 (Debugging mode)
3. Just Edit the line on *.cs file.
4. ENC007 Error happens.

I think that the error step(behavior) is simple.

Thank you very much

[2022-07-04 13:05] kernst123 commented on #62064
Any updated on this or my questions?

[2022-07-04 13:27] Youssef1313 opened #62362 "Two UI checkboxes are tied to a single option"
https://github.com/dotnet/roslyn/blob/8fd033cd948a2eb33e4af650b7a1b3dd18e914d2/src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs#L118

https://github.com/dotnet/roslyn/blob/8fd033cd948a2eb33e4af650b7a1b3dd18e914d2/src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs#L124

[2022-07-04 14:30] Youssef1313 opened #62363 "There is no way to get "Snippets behavior"/"Enter key behavior" to the default after change"
In Tools → Options → Text Editor → C# → IntelliSense

![image](https://user-images.githubusercontent.com/31348972/177174740-25cca42d-ea81-42ef-847a-9846d4b39a1f.png)

The default (nothing is selected) refers to "Default" in these two enums:

https://github.com/dotnet/roslyn/blob/8fd033cd948a2eb33e4af650b7a1b3dd18e914d2/src/Features/Core/Portable/Completion/SnippetsRule.cs#L7-L28

https://github.co

[2022-07-04 15:11] CyrusNajmabadi commented on #57525
@muratuygun please file issue with a trace using VS' "report an issue" feature.

[2022-07-04 17:40] VincentH-Net commented on #18354
I finally found out how to enforce NO underscore prefix for private fields in .editorconfig:
![image](https://user-images.githubusercontent.com/1872271/177199653-89b1bd6c-3f35-4655-8d04-f4a54d19f052.png)

[Tweet](https://twitter.com/vincenth_net/status/1544012069577658369) [Gist](https://gist.github.com/VincentH-Net/a88840c96f0083af3064d74e052ad20c)

NJoy!

[2022-07-04 19:54] bbartels commented on #44052
I spent the last couple days building a prototype for this, [see](github.com/bbartels/NamespaceSort) . This is my attempt at emulating the desired functionality outlined in the discussion above. It _may_ deviate slightly from what was discussed as it was difficult to understand what exactly the requirements for this were. It would be great to get some feedback on this, and if everything is as expe

[2022-07-05 05:15] Youssef1313 opened #62365 "search handler assertion failure"
![image](https://user-images.githubusercontent.com/31348972/177254305-af4ff7ed-28a1-4e37-a292-5811b9859652.png)

cc @davidwengier

[2022-07-05 05:18] mavasani commented on #62064
@kernst123 @pinkfloydx33 This is a duplicate of https://github.com/dotnet/roslyn/issues/49718, which seems to be an intermittent race condition. Unfortunately, it has been very hard to track this down, though the investigations are still in progress.

[2022-07-05 05:18] #62064 closed

[2022-07-05 05:22] davidwengier commented on #62365
Ahh the diagnostics tool... I've never actually run that 😛

[2022-07-05 06:58] Youssef1313 commented on #58966
@AlekseyTs In `DocumentationCommentIDVisitor.PartVisitor.VisitNamedType`, we compare `symbol` with `symbol.ConstructedFrom`.

The success case for quick info (in a unit test) gives `true` for the `Equals` call.
The failure case (when running RoslynDeployment) gives `false` for the `Equals` call.

For the success case, both `symbol` and `symbol.ConstructedFrom` was the **same reference**, so it's a

[2022-07-05 07:01] Youssef1313 commented on #58966
Note that removing the `TypeCompareKind.ConsiderEverything2` parameter leads to a correct behavior. So, since this is a "ConsiderEverything **2**", I think it's a good idea if it can be revised to see if it's intended or not per:

https://github.com/dotnet/roslyn/blob/8fd033cd948a2eb33e4af650b7a1b3dd18e914d2/src/Compilers/Core/Portable/Symbols/TypeCompareKind.cs#L17-L18

[2022-07-05 10:01] Youssef1313 commented on #58966
@dibarbet @AlekseyTs I narrowed this down. It's nullable-related issue.

![nullable](https://user-images.githubusercontent.com/31348972/177303166-f0882f8e-3542-4f39-9144-dac3fad6cf5c.gif)

Specifically, here:

https://github.com/dotnet/roslyn/blob/8fd033cd948a2eb33e4af650b7a1b3dd18e914d2/src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs#L1205-L1210

The condition prevents producing a `Const

[2022-07-05 10:28] Youssef1313 opened #62368 "`#nullable enable` adds a "not CLS-compliant" diagnostic"
Extracted from test `WRN_CLS_BadArgType_ConstructedTypeAccessibility`:

[code]

The above produces warnings for M1 and M2:

[code]

If `#nullable enable` is changed to `#nullable disable`, only warning for M1 is produced.

The root cause is very likely the same as https://github.com/dotnet/roslyn/issues/58966.

This issue was actually part of my investigation to figure out a compiler scenario for

[2022-07-05 11:09] Youssef1313 commented on #62368
@AlekseyTs I modified the test in https://github.com/Youssef1313/roslyn/commit/2e1e4b823fb29ec8d2fcc72321de453aea14b1f3. It's supposed to pass, but it currently fails. https://github.com/dotnet/roslyn/issues/58966#issuecomment-1174871588 has some info that I hope could help.

[2022-07-05 12:51] kernst123 commented on #62064
How can you close it only because it is hard to reproduce??
I asked if there was something I could do on my end to help track down the issue.
This is going to become a bigger problem when developer machines have more cores.  I have 24 virtual cores which is why I think I see this more than others.
Please DON'T CLOSE THIS JUST BECAUSE IT'S NOT SIMPLE TO REPRODUCE!

[2022-07-05 12:59] kernst123 commented on #62064
Sorry my mistake.  I thought both were now closes.

[2022-07-05 13:02] kernst123 commented on #49718
I can also duplicate this problem.  I will try installing the [Project System Tools ](https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSystemTools2022) to see if I can still get it to happen.

[2022-07-05 14:35] RikkiGibson opened #62371 "File and required modifiers are missing from CSharpAccessibilityFacts.GetAccessibilityAndModifiers"
I expect the lack of file being handled here to cause problems with a public API path:

https://github.com/dotnet/roslyn/blob/1fcfda544da9cb4980da03d46bc753424172b75a/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpAccessibilityFacts.cs#L126-L143

_Originally posted by @Youssef1313 in https://github.com/dotnet/roslyn/pull/62215#pullrequestreview-1026628792_

[2022-07-05 15:02] RikkiGibson opened #62372 "Fix double write of Microsoft.VisualStudio.Text.Internal.dll"
@RikkiGibson Correctness_Build is failing repeatedly with
[code]

_Originally posted by @JoeRobich in https://github.com/dotnet/roslyn/issues/62225#issuecomment-1170568041_

Tagging @jmarolf @akhera99. We are working around this for now as a commit in #62225 but we should fix the underlying issue sometime soon.

[2022-07-05 16:04] cston commented on #62338
A `ref scoped` parameter does not prevent assigning through the `ref`:
[code]

[2022-07-05 17:15] Forgind commented on #62317
Unfortunately no. I fixed it for net472 then switched to netstandard2.0, and it didn't recognize that there was a problem. (I think that's expected?) Then I switched to net60, and it saw the problem, but when I told it to fix all occurrences, it didn't.

[2022-07-05 18:46] jnm2 opened #62376 "'Convert to raw string without leading whitespace' erroneously strips trailing whitespace"
**Version Used**: 17.3.0-p2.0

This is not the semantics change described by the light bulb fix.

[code]

💡 "Convert to raw string without leading whitespace (may change semantics)":

[code]

The resulting string contains `whereAge >= 18`.

[2022-07-05 18:51] ScottKane opened #62377 "Source generators can't respect DDD"
With the current implementation of source generators, there is no way for generated code to respect a domain driven design.

For example, I have the following projects, both referencing the generator project: `Domain` and `Application`

Domain contains a model with the `Feature` attribute (causes CRUD source to be generated for the given feature):

[code]

To follow proper DDD given only 2 project

[2022-07-05 19:09] CyrusNajmabadi commented on #62377
Why is `Domain` asking for code to be generated in it then?  Why not only have `Application` run the generator?  I'm not really understanding why things are configured in this fashion.

--

For context, we just do what you tell us to do.  If you have a generator in `Domain` and it generates code, then teh code will be generated in `Domain`.  Likewise, if you don't have a generator in `Application`

[2022-07-05 19:14] vsfeedback opened #62379 "'CSharpWrappingCodeRefactoringProvider' encountered an error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/CSharpWrappingCodeRefactoringProvider-/10083833)._

---
VS2022 Pro, x-64, v17.2.5

System.ArgumentOutOfRangeException : 'end' must not be less than 'start'
Parameter name: end
   at Microsoft.CodeAnalysis.Text.TextSpan.FromBounds(Int32 start,Int32 end)
   at Microsoft.CodeAnalysis.CSharp

[2022-07-05 19:16] vsfeedback opened #62380 "Visual Studio inserting // into C# comments"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Visual-Studio-inserting--into-C-comme/10084870)._

---
The issue, including details, is discussed in [this StackOverflow question](https://stackoverflow.com/questions/72789576/prevent-visual-studio-inserting-into-c-sharp-comments).

Summary:
* Using Visual Studio 2019 Pro 16.11.16 (recen

[2022-07-05 19:41] jasonmalinowski opened #62381 "GetOrCreateCompilationWithAnalyzersAsync throwing null reference exception in integration tests"
Looking at integration test runs I'm seeing this stack in one of the log files (ManagedLanguage.IDE.RemoteHostClient). I'm not sure why this isn't being reported or failing tests. Looks like one of the !s on https://github.com/dotnet/roslyn/blob/e8dbd4281676b3fc20999b1f94f57abfac15c228/src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManag

[2022-07-05 20:30] ScottKane commented on #62377
It's done in this way so that domain entities can be marked as features which will generate all the CRUD required for the feature. Even if the model defining the feature was done in `Application`, I would have the same problem in code that needs to be elsewhere.

Having to create a type in each project for each part of a feature needed wouldn't save much time vs just writing all the CRUD operation

[2022-07-05 20:34] #62162 closed

[2022-07-05 20:36] CyrusNajmabadi commented on #62377
if all the CRUD is required for the feature, then what is the issue here?

--

Put another way, if you were writing the code out *manually* please show us how it would look in each project.  Thanks!

[2022-07-05 20:54] #62359 closed

[2022-07-05 21:02] tmat opened #62384 "Avoid using `SolutionOptionSet` (and `ILegacyWorkspaceOptionService`) with `OptionStore`"
`SolutionOptionSet` should only be used to implement `Solution.Options` for backward compatibility and not for storing option in option pages.

[2022-07-05 21:17] davidwengier commented on #62384
I just discovered SolutionOptionSet yesterday, and used it to great effect in https://github.com/xamarin/vsmac/pull/7947

Perhaps I should have used a different approach?

[2022-07-05 21:21] ScottKane commented on #62377
Small repo giving an example of how the CRUD features would be set out manually showing what classes could be available in each project: https://github.com/ScottKane/SourceGenerators

[2022-07-05 21:29] CyrusNajmabadi commented on #62377
What should I be looking at in there?  Which are the files showing what would be generated manually?  Thanks!

[2022-07-05 21:37] ScottKane commented on #62377
That is how the class structure would look if they were to be manually created, what I would like to do is just have a `Feature` attribute to generate all of that for me.

In the sample the example entity is `Domain/Entities/Product`.

There would then be commands and queries for the CRUD functionality in `Application` (AddEditProductCommand, DeleteProductCommand, GetAllProductsQuery, GetProductBy

[2022-07-05 21:39] ScottKane commented on #62377
The classes are lacking an actual body as I don't want to build a working api sample with EF core, MediatR etc but it gives you an idea of the layout of the classes I'm trying to generate.

[2022-07-05 21:43] CyrusNajmabadi commented on #62377
@ScottKane would you be willing to come to discord to discuss this more?  I'm not really understanding waht you're asking for here, and it might be easier to just hash it out with a real-time chat.  Thanks!

[2022-07-05 21:44] ScottKane commented on #62377
Sure no problem

[2022-07-05 21:44] CyrusNajmabadi commented on #62377
ok.  discord.gg/csharp.  You can DM me using 'metasyntactic'.  Thanks! :)

[2022-07-05 21:51] ScottKane commented on #62377
@CyrusNajmabadi I DM'd you on discord

[2022-07-05 22:05] tmat commented on #62384
It's possible we can use `OptionStore` in VS Mac as well, once implemented using a custom `OptionSet`. I'm not sure what exactly is needed there.

[2022-07-05 22:15] jcouv opened #62390 "Find a way to safely restore the switch dispatch optimization for floating-point types"
PR https://github.com/dotnet/roslyn/pull/62322 disabled the balanced dispatch switch optimization for floating-point input types.
Instead of giving up on the optimization entirely for benefit of correctness, we could choose to produce a not-quite-balanced switch dispatch (offering some performance benefits of somewhat balancing) while maintaining the NaN case on the rightmost edge (all `false` pat

[2022-07-05 22:24] #59470 closed

[2022-07-05 22:38] CyrusNajmabadi commented on #62377
Closing out as working as intended.  The right approach is to just example ISymbols in downstream compilations.  It is very much by-design that when compiling one compilation there is zero knowledge that any symbols being references even came from C# (and thus could even have their trees be examined).  We very much want to keep the separation here and only have 'syntax' be a thing that one has acc

[2022-07-05 22:38] #62377 closed

[2022-07-05 22:51] Youssef1313 commented on #62317
@mavasani Isn't fix all supposed to work on the active compilation (ie, if net60 is selected, it should work?)

[2022-07-05 23:30] Forgind commented on #62317
I don't think it's just using the inactive compilation; I tried it with net6.0 without having done net472 first, and nothing changed, so it didn't seem to be hitting either for that case.

[2022-07-05 23:30] AraHaan commented on #62376
I think this behavior is what the feature was intended to do. I would say that ``whereClause`` should prefix itself with the space that is lost.

[2022-07-05 23:37] CyrusNajmabadi commented on #62376
I did write this:

[code]

But i can't remember why :).  I'm not opposed to removing this.

[2022-07-05 23:48] Youssef1313 commented on #62379
Duplicate of https://github.com/dotnet/roslyn/issues/61362

[2022-07-05 23:50] davidwengier commented on #62376
Perhaps that bit of code should only apply if the string doesn't have anything after it except a semi-colon? I quite like that:

[code]

is converted to

[code]

[2022-07-06 00:08] jasonmalinowski commented on #52837
Sending this back through triage -- I think this was assigned to me thinking it was related to source generators.

[2022-07-06 02:04] CyrusNajmabadi commented on #62376
Ah yes. That was the intent. It probably makes sense to delete whitespace and newlines up through and trailing whitespace on the last content line

[2022-07-06 05:48] Youssef1313 opened #62407 "Support 'file' modifier in "IDE0036: Order modifiers" analyzer"
We also need to define the default preferred order for `file`.

https://github.com/dotnet/roslyn/blob/46119cbbf9f39b7b70b82106a59d0ad80aae674a/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpIdeCodeStyleOptions.cs#L20-L30

@RikkiGibson Any specific order you prefer? (e.g, before abstract/sealed? after them?)

[2022-07-06 06:09] RikkiGibson commented on #62407
My instinct is to put them right after the accessibility modifiers.

[2022-07-06 06:13] Youssef1313 commented on #62371
It looks like required is also missing from the list.

[2022-07-06 07:30] TimChen44 opened #62414 "Can Source Generators support dotnet6?"
## Summary

Now, Currently only .NET Standard 2.0 assemblies can be used as Source Generators.
Are there any plans to support dotnet6 assemblies?

## Background and Motivation

## Proposed Feature

## Alternative Designs

[2022-07-06 07:51] Youssef1313 opened #62415 "'Extract base class' doesn't work well for records"
[code]

Invoke lightbulb on `M`:

![image](https://user-images.githubusercontent.com/31348972/177498045-f90ef347-51b0-4168-9af0-30444e1fd390.png)

1. Code action should be "extract base type"

2. Unspeakable `<Clone>$` shouldn't be shown
  ![image](https://user-images.githubusercontent.com/31348972/177498146-02b493f9-4523-431d-b5eb-88035d41173e.png)

3. Same as 1, but for the window title.
4. Gene

[2022-07-06 07:57] Youssef1313 opened #62416 "Revise and combine `GetSymbolModifiers` and `DeclarationModifiers.From` implementation"
https://github.com/dotnet/roslyn/blob/46119cbbf9f39b7b70b82106a59d0ad80aae674a/src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs#L29-L39

https://github.com/dotnet/roslyn/blob/46119cbbf9f39b7b70b82106a59d0ad80aae674a/src/Workspaces/Core/Portable/Editing/DeclarationModifiers.cs#L65-L96

It seems both methods are intended to serve the same purpose. Only the public one should be kep

[2022-07-06 08:00] Youssef1313 commented on #62416
It's best to wait on this issue until https://github.com/dotnet/roslyn/pull/62413 is done and merged.

[2022-07-06 09:03] Youssef1313 commented on #56337
In case anyone tries to reproduce this, this will reproduce in method other than `Main`.

[2022-07-06 09:43] cyclr-adrian opened #62418 "When `csharp_prefer_braces = true:error` build doesn't fail as expected."
**Version Used**:
17.2.5

**Steps to Reproduce**:
1. Clone: [https://github.com/cyclr-adrian/CodeStyleAsErrorDoesntBreakTheBuild](https://github.com/cyclr-adrian/CodeStyleAsErrorDoesntBreakTheBuild)
2. Build solution
3. Notice that the build succeeds and there are no errors in the VS Error List window
4. Open `Program.cs`
5. Clean solution
6. Build solution
7. Notice that the build succeeds but th

[2022-07-06 10:01] Youssef1313 commented on #62418
This is by-design. The compiler doesn't know about the `option = value:severity` syntax. So this is an IDE-only severity.

If you want to set the severity for build, you need to use `dotnet_diagnostic.IDE0011.severity = error`

[2022-07-06 10:03] Youssef1313 commented on #62418
You may also want to add the following to your csproj:

[code]

[2022-07-06 10:25] Youssef1313 commented on #49192
@AArnott I was recently looking into SyntaxGenerator bugs and taking a look at this one now. But.. it seems the behavior is already correct (for abstract) for tooo long, and is tested here

https://github.com/dotnet/roslyn/blob/46119cbbf9f39b7b70b82106a59d0ad80aae674a/src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs#L826-L828

There might be a bug with extern, but I'd like to know

[2022-07-06 13:09] Youssef1313 opened #62421 "'required' isn't offered in records"
[code]

It should be offered here.

https://github.com/dotnet/roslyn/blob/46119cbbf9f39b7b70b82106a59d0ad80aae674a/src/Features/CSharp/Portable/Completion/KeywordRecommenders/RequiredKeywordRecommender.cs#L18-L22

[2022-07-06 13:22] AArnott commented on #49192
I'm afraid it's too long ago for me to remember details. Thanks for looking into this.

[2022-07-06 13:40] Youssef1313 commented on #49192
@CyrusNajmabadi Got any idea how this can happen?

[2022-07-06 15:20] Youssef1313 opened #62426 "Investigate a niche 'required' scenario where the compiler overrides a property from IL"
So here is the scenario:

- Define a `Derived` record that implements a `Base` record.
    - `Base` will be just `record Base;`
    - `Derived` will be written in IL where `EqualityContract` is marked required (add setter to `EqualityContract` in IL if necessary)
- In C#, define a regular record that inherits `Derived`, ie, `record R3 : Derived;`
- Will it compile successfully? It probably shouldn

[2022-07-06 15:45] colgreen commented on #62183
It seems to work for me here for a fresh clone of this repo and opening Compilers.sln. However...

In an unrelated Visual Studio solution at my workplace we had this same problem, but it was persistent (not intermittent). Today I was able to prevent the problem (i.e. make the redundant 'usings' show greyed out) by switching off the following setting in the csproj files (actually set in a single .p

[2022-07-06 16:42] Entiat commented on #32358
Here to say, "Me too" and add another scenario that breaks because of this.

We have created a C# scripting engine in our Windows app (via "dotnet build" and loading the dll in a weakly referenced AssemblyLoadContext, etc. but that's not important right now (and quit calling me Shirley)).

One of the scripting features is that it can display general Form-derived classes for the users from these ot

[2022-07-06 16:49] RikkiGibson commented on #32358
Partial keyword shouldn't affect analysis here. It's possible your .designer.cs file is being treated as generated code and analysis is not actually running on it. If you add `#nullable enable` to the top of your designer file you should see warnings in there start to show up.

[2022-07-06 20:07] Youssef1313 opened #62434 "Improve error recovery for `partial file class`"
Swapping `partial` and `file` ordering should produce error CS0267: The 'partial' modifier can only appear immediately before 'class', 'record', 'struct', 'interface', or a method return type.

Currently, `partial file class C { }` produces the following:

[code]

[2022-07-06 20:11] Youssef1313 opened #62435 "Specifying `file` class as generic constraints crashes the compiler with NRE"
[code]

Seen on SharpLab:

[code]

[2022-07-06 20:25] DelWoodcock commented on #61362
@CyrusNajmabadi

Sorry no project, I was just doing some training videos and it kept popping up. I have restarted VS, then it popped up again.

The code was something like this:

            using (IDbConnection connection = new SqlConnection(connectionString))
            {
                var rows = await connection.QueryAsync<T>(storedProcedure, parameters,
                    commandType: Comm

[2022-07-06 20:40] vsfeedback opened #62436 "New Stack Trace Explorer only works with English stack traces"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/New-Stack-Trace-Explorer-only-works-with/1668935)._

---
[severity:It's more difficult to complete my work]
When you have a stack trace that's not in English the new Stack Trace Explorer cannot parse its syntax and does not create hyperlinks. See both screenshots attached. The original o

[2022-07-06 20:44] Youssef1313 opened #62437 "Convert to 'Program.Main' with `file partial class Program`"
https://github.com/dotnet/roslyn/blob/af92deba757720baa228e833e8271140fd8e47fc/src/Features/CSharp/Portable/ConvertProgram/ConvertProgramTransform_ProgramMain.cs#L37

The above line is likely to fail, since the metadata name for file types is implementation details. So the refactoring won't be offered for:

[code]

It's not an important scenario, but good to fix.

[2022-07-06 21:01] ScottKane opened #62439 "SourceProductionContext and GeneratorExecutionContext should share a common interface for AddSource()"
I noticed that `SourceProductionContext` and `GeneratorExecutionContext` both have the same functionality without an interface defining it.

Given the scenario of a project containing legacy v1 generators not yet updated to v2 and a common emitter shared amongst them to add the source to the generation context, there should be a common interface to expose the `AddSource(string hintName, SourceText

[2022-07-06 21:09] DelWoodcock commented on #61362
@CyrusNajmabadi

I haven't had that issue lately, but it did do once, so I mad sure to kill all the VS processes , restarted VS and it did it again. Sorry I can't be of much help otherwise.

[2022-07-06 21:11] CyrusNajmabadi commented on #61362
when it did it again, can you include the code of hte method around your caret, and where your caret was?  that woudl be enough to solve htis.  thanks!

[2022-07-06 21:20] DelWoodcock commented on #61362
Well I restarted VS tried typing the following and put the cursor over the using statement to refactor and it didn't give me the error.  Sorry, but I will keep this thread in mind if it happen again.

        using (IDbConnection connection = new SqlConnection(connectionString))
        {
            var rows = await connection.QueryAsync<T>(storedProcedure, parameters,
                commandType

[2022-07-06 21:23] #62241 closed

[2022-07-06 21:23] CyrusNajmabadi commented on #61362
Thanks!

Next time it happens, just capture the content of your current method, and what location the caret was at, and that shoudl be sufficient.  Thanks!

[2022-07-06 22:36] Enderlook commented on #44052
Not sure if this may be useful for you but [here](https://github.com/Enderlook/roslyn/tree/improve-sort-using-directives) is how I was trying to implement the functionality back in the day. Thought I only did the parser for the configuration, but I recall correctly, that it also included the tests for the parser at least. Hope it helps.

Sorry for not continuing with this right now, life is not go

[2022-07-06 23:13] bbartels commented on #44052
Ah the tests can certainly come in useful! I will amend my implementation to align with the tests and attempt to migrate it into the roslyn codebase!
Also no worries, have had times where I left open-source work halfway done because life just gets in the way so its difficult to carve out time for voluntary stuff like this!

[2022-07-07 00:37] RikkiGibson commented on #62434
See #61025

[2022-07-07 02:34] #24982 closed

[2022-07-07 04:53] mavasani opened #62456 "Add assertions in compiler for ErrorFacts.IsBuildOnlyDiagnostic"
I'm wondering if we should include any assertions in the compiler that e.g. when binding reports a diagnostic, that diagnostic is not marked as build-only, or when lowering/emit reports a diagnostic, that diagnostic is marked as build-only. No need to decide that in this PR.

_Originally posted by @RikkiGibson in https://github.com/dotnet/roslyn/issues/62237#issuecomment-1176536670_

[2022-07-07 07:45] #61484 closed, assigned to mavasani

[2022-07-07 10:04] vsfeedback opened #62463 "Poor and confusing code analysis experience"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Poor-and-confusing-code-analysis-experie/10084958)._

---
[severity:It's more difficult to complete my work]
I find the VS2019 and VS2022 code analysis experience to be very poor and also quite confusing. Warnings seemingly appear and disappear at random in the Error List window dependin

[2022-07-07 10:19] mavasani commented on #53660
Thank you @DoctorKrolic! Closing..

[2022-07-07 10:19] #53660 closed

[2022-07-07 10:50] chucker commented on #15406
I kind of wish I could establish separate soft and hard boundaries, but this is a good start:

* visually, I have Editor Guidelines set at `80` and `120`
* for Roslynator, I've added this to `.editorconfig`:

[code]

Now, lines >= 80 are more noticeable due to Editor Guidelines, and lines >= 120 also get an IDE warning.

[2022-07-07 13:55] mcpiroman opened #62465 "Public API to compare symbols across different compilations"
## Background and Motivation

I'm working on project with multiple `CSharpCompoiation`s. When I get the same symbol from two of them (e.g. one of them compiled class `Foo` and the other one referenced that class), they are (sometimes?) not considered equal by the `SymbolEqualityComparer.Default`, even though their full name and other properties match.

The compilations either do have the exact sam

[2022-07-07 14:36] CyrusNajmabadi commented on #62465
We've avoided this as there is no well defined meaning of waht 'equality' is across a compilation.  So the expectation is that you would roll your own based on your needs.

As an example: all symbols are effectively reachable from all others.  Which means you can observe any difference across compilations (including location).  So even typing a single space in a file will mean that there are obser

[2022-07-07 14:38] CyrusNajmabadi commented on #62465
This may be because the symbols are retargetted.

If you truly think these symbols should be considered the same, then can you please supply a repro project where they are not, and someone can take a look to see if it's a bug, or it's actually working as intended.  Thanks!

[2022-07-07 15:00] mcpiroman commented on #62465
OK, but is there something that would compare symbols the same way as a .NET runtime does? Of course not for ones like ILocalSymbol or IAliasSymbol as they probably do not exist at runtime.

I have just found out that comment:

But I can't find anything like that in the docs now.

[2022-07-07 15:39] am11 commented on #62361
Normal strings literals do not have this problem when concatenated. Can ""u8 concatenation use the same mechanism as the normal string? (run validation after joining the whole thing)

[2022-07-07 16:46] jcouv commented on #62434
Closing as duplicate of https://github.com/dotnet/roslyn/issues/61025

[2022-07-07 16:46] #62434 closed

[2022-07-07 16:58] tiesmaster commented on #15406
@chucker Funny, I have mine set at `100` and `120` 😅 But sounds like a good strategy, and good way to combine both options 👍

[2022-07-07 17:00] CyrusNajmabadi opened #62468 "Incremental tracking steps can produce no data at all if a substep filters down to no-items."
From: https://github.com/dotnet/roslyn/pull/62444#discussion_r915265469

Even though intermediary steps in teh pipeline produce data, soem final filtering steps whittle that down to an empty set of values.  When this happens, all tracking information is lost.  This doesn't affect correctness of the incremental pipeline (Afaict), but it means that tests have no way to validate that the intermediary

[2022-07-07 17:43] jcouv commented on #62145
@BillWagner Based on this, I think the document should live in the roslyn repo (ie. the implementation). What do you think?

[2022-07-07 17:55] #60640 closed

[2022-07-07 18:07] stephentoub opened #62473 "IDE0074 is offered for pointers"
**Version Used**:

**Steps to Reproduce**:
[code]

**Expected Behavior**:
IDE0074 isn't offered.

**Actual Behavior**:
IDE0074 is offered and the fixer generates invalid code:
[code]
because for whatever reason `??` and `??=` don't work with pointers:
[code]

cc: @CyrusNajmabadi

[2022-07-07 18:19] CyrusNajmabadi commented on #62473
Fun :)

[2022-07-07 18:24] Youssef1313 commented on #62371
The remaining work here is for 'required'.

[2022-07-07 18:36] vsfeedback opened #62474 "Refactoring from implicit to explicit type doesn't seem to work properly with nullabilty"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Refactoring-from-implicit-to-explicit-ty/10087938)._

---
[severity:It bothers me. A fix would be nice]
When refactoring from var using the built in refactoring, it is declaring types as nullable that are explicitly declared as non-nullable on the return type for the method. I have attac

[2022-07-07 18:48] ryzngard commented on #62474
@CyrusNajmabadi yup! https://github.com/dotnet/roslyn/pull/58866  which was in 17.3

This bug was in 17.2, so I'll close

[2022-07-07 18:48] #62474 closed

[2022-07-07 18:50] ryzngard commented on #62474
Can you check if it is fixed in the latest public preview? If not we can reopen

[2022-07-07 19:58] DoctorKrolic opened #62478 "EnC crash"
**Version Used**:
VS 27.3 Preview 2

**Stack trace:**
[code]

**Context:**
I was editing a ```.razor``` file, nothing special. Tried to add a `style` attribute to a `div` (crashed when editing the value of the attribute). No idea why this happened, can't remember anything like this before

[2022-07-07 20:14] cston commented on #61647
Updated proposal based on recent changes to the [spec](https://github.com/dotnet/csharplang/blob/main/proposals/low-level-struct-improvements.md):
- `IParameterSymbol` and `ILocalSymbol` now have a single `IsScoped` property in each case rather than separate `IsRefScoped` and `IsValueScoped` properties
- `LifetimeAnnotationAttribute` takes a single `int` value rather than two `bool` values, and a

[2022-07-07 20:34] #61778 closed

[2022-07-07 20:47] #60347 closed

[2022-07-07 20:48] runfoapp[bot] opened #62479 "AnalyzerConfigDocumentOpenedClosedEvents is flaky"
Runfo Creating Tracking Issue (data being generated)

[2022-07-07 20:48] BenjaminMichaelis commented on #62474
@ryzngard it does in fact look fixed in the latest public preview! I will keep an eye out for this though in the next days and ping here if I see something that looks off. Thanks for doing that!

[2022-07-07 20:50] jasonmalinowski commented on #62479
FYI to @mavasani here.

[2022-07-07 21:13] Youssef1313 commented on #53973
@cston I think this was fixed by @adamperlin in #62104.

[2022-07-07 21:13] 333fred commented on #62254
## API Reviews

* IsFileLocal instead of IsFile
* Could we implement metadata support?
    * Technically, yes, it could
    * However, local to which file? That data isn't preserved
* Expand a bit on the doc comment: mention that it's only true for source, clarify the implementation details.
* No public use case at the moment, we can look at it again when we have a use case

### Conclusion

Approv

[2022-07-07 21:14] 333fred commented on #61647
## API Review

* Need to update the docs for SymbolDisplayMemberOptions.IncludeRef
* For locals and parameters, could we hide IncludeRef and add a new IncludeRefAndScoped with the same value?
* Should we have a ScopedKind now, instead of IsScoped? That way we could adapt to `ref scoped` in the future
    * An enum `ScopedKind`, with `None`, `ScopedValue`, and `ScopedRef`

[2022-07-07 21:26] #53973 closed

[2022-07-07 21:37] #62365 closed

[2022-07-07 21:43] 333fred opened #62485 "Test plan for "Default Lambda Parameters""
Championed issue: https://github.com/dotnet/csharplang/issues/6051
Spec: https://github.com/dotnet/csharplang/blob/main/proposals/csharp-12.0/lambda-method-group-defaults.md

## General

* [ ] Lang Version
* [ ] Sync with partner teams on method group breaking change
* [ ] Missing constant value types
* [ ] Compile BCL
* [ ] Compile VS
* [ ] GetSymbolInfo returns delegate type with default paramet

[2022-07-07 23:02] #59246 closed

[2022-07-07 23:06] iskiselev opened #62501 "Directory separator does not work for .editorconfig"
Directory separator does not work correctly in .editorconfig section. Next does not work:
[code]

At the same time, next will work:
[code]

Unfortunately, it is not so strict as first one - as will also apply generated to `generated_not_really\somefile.cs`

[2022-07-07 23:14] TessenR opened #62490 "Inconsistent / missing errors for scoped keyword usages"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile the following code. [sharplab link](https://sharplab.io/#v2:EYLgtghglgdgNAExAagD4GcAuAnArgY0wAIBlIgbyIF8BYAKAAEAmIgYXvPqKIYGYeALEQCyARgAUrAPYAbGQFNCUKTCIIAlFwpbuAel1EAFvOzyiAclMAzIunxSADvISlzRKOiIQ5UgO7OiKylsWykwM1MIdBUdQOD5CHxDInFrW3snFzJPWDV1CmotWjpuLT5BESZxbM0S7Tq9A2NTd0xzTxgpYm8ZP2dYtLtHALIADyIAXiJBgG4ifSITbGC2EgBOAAYBAA4QIgAVYwshzLcwK

[2022-07-07 23:14] tmat opened #62491 "Consider adding ManagedModuleUpdateStatus.TemporarilyBlocked"
... to indicate intermittent failure that might be resolved if the user tries to apply changes again later on.

An example of such issue is the project containing changes not being fully loaded.

We might want to adjust the error message or offer command that loads the project.

[2022-07-08 00:25] drewnoakes commented on #59517
Note that the property is singular `ProduceReferenceAssembly`, not plural `ProduceReferenceAssemblies`.

Fixed in MSBuild's XSD here: https://github.com/dotnet/msbuild/pull/7799

[2022-07-08 02:13] dibarbet opened #62495 "[LSP] Diagnostics do not refresh on option change"
Diagnostics currently will not be refreshed on global option changes - only when you make a modification to a file with new diagnostics be computed

See https://github.com/dotnet/roslyn/issues/61844#issuecomment-1169090318

This likely requires us to listen to global option change events and store that in our version cache.

[2022-07-08 02:15] dibarbet commented on #58778
diagnostics work in aspx
![image](https://user-images.githubusercontent.com/5749229/177903107-9e90d0b9-5049-45ed-b88a-e8090e47743e.png)

[2022-07-08 02:15] #58778 closed

[2022-07-08 04:29] jasonmalinowski commented on #62381
Turns out this was actually broken by #62257 -- that change was incorrectly causing us to remove the solution-level analyzers, which then exposed a bug in GetOrCreateCompilationWithAnalyzersAsync which is incorrectly assuming a compilation will always exist in the map. That's not correct if the project didn't have any analyzers -- we avoid creating a CompilationWithAnalyzers in that case.

[2022-07-08 06:04] jaredpar commented on #62368
CLS Compliance is generally not checked in .NET Core which is the only place nullable is officially supported.

[2022-07-08 07:38] Youssef1313 commented on #58966
A small compiler repro:

[code]

[2022-07-08 10:25] Youssef1313 opened #62498 "Error List not showing suppressed diagnostics"
**Version Used**:

17.3 Preview 2

![no-suppressed-diag](https://user-images.githubusercontent.com/31348972/177974468-7ae97b41-bd9b-4342-9946-3c6f561f1168.gif)

Error shows before suppression, but didn't show after suppression

Note that I selected "Suppressed" from the Error List filter (which is off by default).

(Same applies to compiler warnings)

cc @mavasani

[2022-07-08 12:00] Youssef1313 opened #62499 "Missing "The variable is assigned but its value is never used" for tuple declarations"
[code]

Expecting to see CS0219 for a1 and b1.

Since this will be a breaking change, this needs to go in a warning wave

[2022-07-08 12:41] #61586 closed

[2022-07-08 13:23] robindegen commented on #36378
I ended up disabling codelens completely because of this. The extra spacing between the lines is too distracting.

[2022-07-08 13:36] Genbox opened #62500 "CS8619 is reported on anonymous types"
**Version Used**:
- .NET 6.0.301
- Visual C# Compiler version 4.2.0-4.22281.5 (8d3180e5)

**Steps to Reproduce**:
I am unable to create a small project that reproduces the compiler warning.
Instead, I'll give what I can so you can investigate the issue.

This is our data class:
[code]

The code that uses it, and have the CS8619 warning:
[code]

When we compile it, we get the following warning:
[co

[2022-07-08 13:40] Genbox commented on #62500
The code I used on SharpLab:

[code]

Note that this does not generate the compiler warning. Unsure as to why.

[2022-07-08 13:45] Genbox commented on #62500
Also, note that I can apparently mute the warning with an explicit cast.

Before:
![image](https://user-images.githubusercontent.com/657616/178003659-ad0db1ea-9f6c-42d1-8af7-54f3b4f71a20.png)

Note: I've set CS8619 to a severity of "error" in a .editorconfig file like this: `dotnet_diagnostic.cs8619.severity = error`. That is why it shows up as an error in the picture above.

After:
Error is gone

[2022-07-08 14:10] Youssef1313 commented on #62500
@RikkiGibson At a first glance, this looks like https://github.com/dotnet/roslyn/issues/51886 ? I'm not quite sure.

@Genbox, can you comment the code at lines from 55 to the end of the method, and see if this still reproduces?

If it no longer produces, do you have a call somewhere in the commented out code that passes 'default' (either explicitly or as a default parameter value? e.g, `_db.SaveCh

[2022-07-08 14:45] Genbox commented on #62500
Looks a lot like #51886.

I can confirm that the issue disappears when I comment out the code.
I don't see anywhere we pass a default from the get-go - however, I think I can create a reproducible test with this new info.

[2022-07-08 15:07] Genbox commented on #62500
Hahaha, this is kinda funny. I've copied out the method and all classes it depends on, but still no dice. Can't reproduce it.
I'm going to try and reduce the project where the error is reproduced. However, it is quite large and complex, so it will take some time.

[2022-07-08 16:08] #62361 closed

[2022-07-08 16:09] jcouv commented on #62361
Fixed merged for 17.4

[2022-07-08 16:14] Youssef1313 commented on #62500
There is also https://github.com/dotnet/roslyn/issues/61516

[2022-07-08 16:20] jcouv commented on #62500
Thanks for reporting this.
Closing as duplicate of https://github.com/dotnet/roslyn/issues/51886

[2022-07-08 16:20] #62500 closed, assigned to nobody

[2022-07-08 16:25] Youssef1313 commented on #51886
@RikkiGibson Here is a [SharpLab](https://sharplab.io/#v2:EYLgtghglgdgNAExAagD4GIYFcA2OLA4CmABETAcQLABQtAAgAwn0CMALANwPNsB0AGVgBHbnRr0AzCwBMJACIQALhAAqATwAORWgG9aJQy2ltGAfhIAhCAGciG7TZK6SAcyJLOJO55IBfWgDxWCUiACcKHFkFZTUtIgBJGAAzAHsAWQgKdzC9AyNNMKgAN2VSegAOFnYSAHEPByIbS3UEhBsAQRt1GABjAAoASnzDfRojCZIhGyUAHkUVRoA+EgRYxqcAXhIYIgB3KagZ+fX4paGxEcnSsNXgDZJttcX4myvJj8++AGUiYl6lP0titdnt3p8IaNwZCYd4+NY7Bs4N

[2022-07-08 16:28] tmat commented on #62491
It would actually be better to wait for the DTB to finish when a change is applied. Investigating.

[2022-07-08 16:46] jcouv commented on #61217
Assigned to @mavasani and @333fred to drive/prioritize as area owners for api-Analyzers

[2022-07-08 16:47] #62269 closed

[2022-07-08 16:50] #62435 closed

[2022-07-08 17:17] 333fred commented on #61217
I don't think just "directory" works. The `.cs` extension is important for understanding what rules to resolve in that directory.

[2022-07-08 17:26] jcouv commented on #62314
Moved to Area-IDE as we think this is a Workspaces API question/issue.
From chat with Jared, here's what we think is going on here:
[code]

The compilation returned by `GetCompilationAsync()` is likely the compilation without source-generated sources, as opposed to the second compilation that is created internally with added/generated sources.
So that would be a compilation without the outputs of

[2022-07-08 17:30] mavasani commented on #61217
Agree with @333fred - I think the workaround looks reasonable to me. If we wanted a new API, it would have to be `public AnalyzerConfigOptionsResult GetOptionsForDirectory(string path, string extension);`. I personally feel the issue mentioned in https://github.com/dotnet/roslyn/issues/61777#issuecomment-1170859556 for the existing API [AnalyzerConfigSet.GetOptionsForSourcePath](https://github.com

[2022-07-08 17:44] jcouv commented on #61457
Records are not a supported feature on older frameworks like netstandard 2.0.
They use some types defined in newer runtimes and also depend on a newer runtime feature (covariant returns) in some cases. That is likely what's causing the problem.

[2022-07-08 17:44] #61457 closed

[2022-07-08 17:45] jnm2 commented on #62376
@AraHaan This seems like an onerous amount of overhead for something that's not really dynamic, just factored across multiple statements. Either way, it's extremely hard to notice that the trailing whitespace has changed; it's not a good pit. Leading whitespace is specifically called out in a way that sounds exclusive.

[2022-07-08 17:49] jnm2 commented on #62376
@davidwengier @CyrusNajmabadi I don't think I like that conversion, and I _really_ don't like the fact that we mention leading whitespace in a way that sounds like nothing else will be changed.

If we have to do any trailing trimming, could we please make this simply remove trailing `\r\n` or `\n`, once?

[code]

Should not be converted to:

[code]

[2022-07-08 18:01] CyrusNajmabadi commented on #62376
@jnm2 definitely.  Feel free to create PR here :)

[2022-07-08 18:11] RikkiGibson commented on #61783
We are working on improving the diagnostic experience here in dotnet/roslyn#61252

[2022-07-08 18:12] jcouv commented on #61783
Closing as duplicate of https://github.com/dotnet/roslyn/issues/61252

[2022-07-08 18:12] #61783 closed

[2022-07-08 18:16] JoeRobich commented on #62314
@jasonmalinowski Any thoughts on this one?

[2022-07-08 18:42] Swiftly1 commented on #61914
Update:

Seems like `Convert ToInt*` behaves weirdly, take a look at this example:

![obraz](https://user-images.githubusercontent.com/77643169/178051817-74d77433-5dc9-4b7b-ac95-8fc61db8efc8.png)

[2022-07-08 18:47] jcouv opened #62503 "Clicking on link in source code opens incorrect URL"
In the example below, the link is properly displayed by the IDE (link is in blue, closing paren remains green), the popup shows the correct link (no closing paren), but when I use CTRL+click to follow the link the URL that is given to the browser includes the closing parenthesis.
I would expect the URL displayed in the popup to be the URL used to open the browser.

![image](https://user-images.git

[2022-07-08 19:00] DoctorKrolic opened #62504 "Localization misinterpretation"
**Version Used**:
VS 2022 v17.3 Preview 2

There is a codefix named `Inline temporary variable`, that, well, inlines the local temporary variable. However, the name `Inline temporary variable` without context can be translated in 2 different ways: when "inline" is a verb and when it is a adjective. Obviously, for the codefix name we need a "verb-variant". The localization team was non aware of the

[2022-07-08 19:06] CyrusNajmabadi commented on #61914
@tmat do you know what might be going on here.  that `Convert.ToDecimal` works in the watch window, but `Convert.ToInt32` does not is... interesting to say the least :)

[2022-07-08 19:09] vatsalyaagrawal commented on #61789
@dibarbet can this be closed?

[2022-07-08 19:14] vatsalyaagrawal commented on #61850
Closing. Please reopen if you have more questions.

[2022-07-08 19:14] #61850 closed

[2022-07-08 19:22] Youssef1313 commented on #31618
@sharwell Is there any needed follow up to https://github.com/dotnet/roslyn/pull/42128 ?

[2022-07-08 19:23] KirillOsenkov opened #62506 "System.ArgumentOutOfRangeException: 'end' must not be less than 'start' in CSharpStructureHelpers.cs:286"
**Version Used**:
Roslyn that shipped in VS 17.2.5

In this line:
https://github.com/dotnet/roslyn/blob/b7a5eaa6d412401d0b6ea43e201d90073b9db655/src/Features/CSharp/Portable/Structure/CSharpStructureHelpers.cs#L286

`hintTextEndToken` is default (for node `internal record PdbFilePathResult(string PdbFilePath);`), so `hintSpan: TextSpan.FromBounds(startPosition, hintTextEndToken.Span.End)` is getti

[2022-07-08 19:25] #61882 closed

[2022-07-08 19:30] KirillOsenkov opened #62507 "Spelling error: `dircetory`"
See https://github.com/dotnet/roslyn/pull/60492#discussion_r840828652

`dircetory` should be `directory`
https://github.com/dotnet/roslyn/blob/b7a5eaa6d412401d0b6ea43e201d90073b9db655/src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.State.cs#L153

[2022-07-08 19:34] KirillOsenkov commented on #60270
See also https://github.com/dotnet/roslyn/issues/62507

[2022-07-08 19:36] jcouv commented on #62503
Closing in favor of https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1568346

[2022-07-08 19:36] #62503 closed

[2022-07-08 19:49] JoeRobich commented on #62504
Yeah... I really need to document this so others know the process. =)

Reported internally at https://ceapex.visualstudio.com/CEINTL/_workitems/edit/656035 (microsoft)

[2022-07-08 20:26] tmat commented on #61914
The original issue says there is `no accessible extension method 'Select' accepting a first argument of type 'List<string>'` error, which I'd attribute to some binding issue with top-level code.

@chuckries This looks like possible VIL interpreter issue.

[2022-07-08 21:14] MichaelSimons opened #62510 "Update projects to build net7.0 TFM"
Source build requires projects to build with the current TFM and/or netstandard TFMs. roslyn is targeting net6.0 and netstandard2.0. Ideally the net6.0 reference would be updated to net7.0. If that is not possible, the TFM could be conditioned for source-build but ideally the regular and source build would be identical.

[2022-07-08 21:14] jaredpar commented on #62097
No because that could semantically change the meaning. Consider that `$(ProjectDir)` is put into .editorconfig specifically because it's meant to be read and processed by analyzers. If we always lowercased the value then it could cause it to point to an entirely different file. For example on a Linux EXT2 FS `~/.editorCONFIG` can be very different than `~/.editorconfig`

After some consideration I

[2022-07-08 21:14] #62097 closed

[2022-07-08 21:21] MarkKharitonov commented on #62097
I think it should be moved to msbuild and left open. It is a performance bug on Windows where devs may compile from different  windows and in VS and on the console. And it is quite easy to fall into the different case for the same file path which would cause recompilations.
Maybe it is not roslyn's business, but msbuild could definitely fix it by lowering the file case for this specific property v

[2022-07-08 21:22] jaredpar commented on #62318
Closing as we decided to leave as an error for now. The primary motivation was making it easier for generators by not requiring them to do semantic lookup on types before adding `scoped` to them. Will revisit if that turns into a real problem.

[2022-07-08 21:22] #62318 closed

[2022-07-08 21:56] RikkiGibson commented on #62510
Could you help us understand that requirement better? I think Roslyn tends to target the most recent LTS which has been released to production. For example, #57567 was merged the day net6.0 came out.

I wasn't sure if we were actually expecting to target net7.0 or to simply wait until the next LTS to update the target (net8.0?). cc @jaredpar

[2022-07-08 23:04] #62507 closed

[2022-07-08 23:41] GalGreenfield commented on #27965
Still an issue in Community Edition in 2022 for me.

[2022-07-09 00:37] jasonmalinowski commented on #62314
I _believe_ MSBuildWorkspace may have limitations where it doesn't support .NET Core projects if it's compiled against .NET Framework. @DustinCampbell may remember whether that's what's going on, although as @rainersigwald observes that does seem odd since VS can do it just fine. It's possible that's an artifact from older .NET Core but the reasons behind that are long since changed.

@siegfriedpa

[2022-07-09 08:04] AntonGrekov commented on #24513
@CyrusNajmabadi This thing is drains absolutly all my RAM memory. Due to this video driver crashes, because of memory lack. Today i even wasnt unable to open WIndows Task Mgr - it errored due memory lacking. All that just after Roslyn Code Ananlysis started to work with my project - i didn't even build or debug project, just opened project that was opened 10-20 times before and didnt had any chang

[2022-07-09 08:32] AntonGrekov commented on #24513
![image](https://user-images.githubusercontent.com/44285258/178098301-c412861f-6dcd-43ff-aad4-3b2f45db0efe.png)

[2022-07-09 08:51] Youssef1313 opened #62522 "Possibly incorrect comment in definite assignment"
https://github.com/dotnet/roslyn/blob/7fc34f9e211bef9499cd1bdf6a11630f12052de1/src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs#L1684

commenting out the code fails the test `PiecewiseStructAssign2` with definite assignment errors. So it has more effect than region analysis APIs.

[2022-07-09 09:41] PhilPJL opened #62523 "CodeNamespace.Members does not include records"
Not sure where or how to report this but was redirected here from the developer community forum.
My original post is [https://developercommunity.visualstudio.com/t/CodeNamespaceMembers-does-not-include-r/10035834](https://developercommunity.visualstudio.com/t/CodeNamespaceMembers-does-not-include-r/10035834)

The issue boils down to EnvDTE does not currently support the record keyword.

[2022-07-09 15:07] CyrusNajmabadi commented on #62523
Yes, this is true. Codemodel is an extremely problematic legacy api. It's slow, mutable, and only usable from the ui thread. It is also not receiving updates. It has been superseded by the Roslyn syntactic and semantic apis. Those apis are much faster, immutable, and can be used safely off of the ui thread.

Thanks!

[2022-07-09 15:09] CyrusNajmabadi commented on #24513
@AntonGrekov please see the comments in https://github.com/dotnet/roslyn/issues/24513#issuecomment-1168869574

This process is container where many components from many teams run in. We will need a reported trace to determine what the issue is here and which team will need to investigate.

[2022-07-09 15:10] CyrusNajmabadi commented on #24513
@AntonGrekov there is a link provided to get the appropriate diagnostic information and traces so that the appropriate team can fix it. Please follow the instructions there. Thanks.

[2022-07-09 15:16] PhilPJL commented on #62523
_It is also not receiving updates._

Point me at the MS statement that says that.  As I understand it Entity Framework Core 7 is planning to use T4 templates so I'm assuming they're not deprecated.

[2022-07-09 15:31] CyrusNajmabadi commented on #62523
^ https://github.com/dotnet/roslyn/issues/62523#issuecomment-1179559126

We haven't updated code model, except for trivial issues, in more than a decade. It and codedom have been replaced with the Roslyn apis for getting full syntactic and semantic information about c# code.  It's one of the reasons we made Roslyn in the first place :-)

The codemodel design was fundamentally too limiting and unma

[2022-07-09 18:28] DaZombieKiller opened #62528 "A `ref T` field where `T` is `unmanaged` is itself treated as `unmanaged`"
Tested with a daily SDK build (7.0.100-preview.7.22358.13):
[code]

**Expected Behavior**:
`error CS0208: Cannot take the address of, get the size of, or declare a pointer to a managed type ('ByReference<int>')`

**Actual Behavior**:
The code compiles successfully.

[2022-07-09 18:30] DaZombieKiller commented on #62528
Worth noting: assuming this is unintended behaviour, [it is currently being relied upon by the reflection stack](https://github.com/dotnet/runtime/blob/1967649721058a457157d4321af3e6fceaa5441b/src/libraries/System.Private.CoreLib/src/System/Reflection/MethodBase.cs#L248-L254).

[2022-07-10 10:30] EzeKees commented on #23973
Same problem here during years....

[2022-07-10 15:25] AntonGrekov commented on #24513
I've reported a problem with wide detailed data range to microsoft team via Report a problem tool
Meanwhile i installed brand new Windows 10 with latests updates from official Microsoft website to a new partition of my ssd drive, installed hardware drivers and just latests visual studio - just the same result, at first and later launches 23-25 gigs of RAM drained and counting........ waiting on is

[2022-07-10 17:37] CyrusNajmabadi commented on #24513
@AntonGrekov can you link me to your report?

[2022-07-10 18:56] gafter opened #62534 "C# compiler improperly permits program with definite assignment error."
**Version Used**:
Roslyn main

**Steps to Reproduce**:

1. compile the program at the sharplab link

(A [sharplab](https://sharplab.io/#v2:EYLgtghglgdgNAFxAJwK4wD4AEBMACLARgHYBYAKAG8K9aDCA2PYAexYBtm8BePBNAKYBuGnSJMWwAFYCAxgjwAPHnhip27EeVG1xBACx4AstBgAKAJR5q5OnbywFATy326UAGZ4zwPAH4lPABCXjUNPAAyCLwAZQEEMxZUZysQWPjE5LwnCwsdexs3OycAOgAVFhj+WABzSyE8AHpGhwBnbLwAEwEPWCgEAXYnPAhW1qgamAFOv3y7AF98xds6fL1WDn

[2022-07-10 19:01] gafter commented on #62241
oops.  Mea culpa.

[2022-07-10 19:15] gafter commented on #61500
I suspect this is not a bug.  Defining your own `System.Void` doesn't define the one that `void` refers to - that type is always the `System.Void` that comes from the "core library".  (Your assembly isn't the core library)

[2022-07-10 21:22] RikkiGibson commented on #62534
https://github.com/dotnet/csharplang/blob/main/proposals/csharp-10.0/improved-definite-assignment.md#-conditional-expressions is meant to address this scenario.

I wrote this specification with the assumption that if a variable is *definitely assigned*, then it is also *definitely assigned when true*. It looks like this isn't how the states are actually codified in the [original specification](htt

[2022-07-10 21:23] RikkiGibson commented on #62528
It feels like it would be reasonable to make people use https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.unsafe.aspointer?view=net-6.0 if they want to keep doing this.

[2022-07-10 22:43] davidwengier commented on #52837
Confirmed this is still an issue with the latest packages

[2022-07-11 03:21] jcouv commented on #62241
@gafter No worries. This is a pretty subtle issue. For the moment, I disabled the optimization because I couldn't think of a good fix to maintain it, let me if you had some ideas on that.

[2022-07-11 03:55] jaredpar commented on #62510
I do not believe we are in a situation where we can change `net6.0` to `net7.0`. Consider that the C# IDE team references our binaries and they must run on a `net6.0` runtime (that is the private runtime that executes inside of Visual Studio). Flipping `net6.0` to `net7.0` would cause the C# IDE to suddenly use our `nestandard2.0` binaries which is likely unexpected. Essentially there are several

[2022-07-11 05:14] drewnoakes opened #62539 "Introduce local adds redundant globally qualified namespace on local's type"
**Version Used**:

**Steps to Reproduce**:

[code]

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2022-07-11 08:13] Albeoris commented on #51666
This is a very annoying problem.

I used 3.8.0 and everything worked well. When I upgraded the package to 4.1.0 (in order to write an incremental generator), this error was thrown.

I installed the latest version of Visual Studio 2022 and it built the project without errors.
I upgraded the package to 4.3.0 and this error throws again.

What the hell is going on? -_-

Generator project - .netstanda

[2022-07-11 10:08] Youssef1313 commented on #62539
This is probably `ExpressionSimplifier`'s fault, which should be affecting `CSharpSimplifyTypeNamesDiagnosticAnalyzer` as well.

[2022-07-11 11:21] MiaoYu-Goh opened #62540 "Warning suppressors should run insofar as not all errors are unsuppressible"
I am a software engineer working on DOTS at Unity Technologies. We use source generators heavily.

When users create a struct that implements `IJobEntity` (a public interface in the DOTS API), the struct needs to be declared `partial`. This allows our source-generator solution to declare another part of the same struct, and generate additional methods and fields in it. Because partial structs trig

[2022-07-11 12:47] Youssef1313 commented on #51666
@Albeoris I think 4.3.0 will only work in Visual Studio 2022 17.3 or higher.

Currently 17.3 is preview, and the latest stable is 17.2. So the options are:

- Use 4.2.0 or 4.1.0
- Use latest Visual Studio *preview*

My recommendation is to use the most minimum Microsoft.CodeAnalysis version that satisfies your needs.

[2022-07-11 15:41] pavel-mikula-sonarsource opened #62544 "Using SourceGenerators leads to CS0016 when path is too long"
**Version Used**: 4.2.0-4.22281.5 (8d3180e5)
Also observed on some previous 4.2.* versions
I'm not sure when I updated to 4.1.*
I think it was working on 4.0.*

**Steps to Reproduce**:

1. Clone https://github.com/SonarSource/sonar-dotnet into path that is at least 45 character long. For example
[code]
3. Open `analyzers\SonarAnalyzer.sln`
4. Try to build it

**Expected Behavior**:

Project should

[2022-07-11 19:10] CyrusNajmabadi commented on #62097
When does this happen?

[2022-07-11 19:28] rainersigwald commented on #62314
MSBuild has "SDK resolvers" that are a pluggable interface (with about 3 implementations, not really intended as end-user pluggable). One of them is the .NET SDK resolver, which uses .NET APIs ([`hostfxr_resolve_sdk2`](https://github.com/dotnet/runtime/blob/41419131095d36fb5b811600ad0dab3b0d804269/docs/design/features/hosting-layer-apis.md#net-core-21)) to figure out the right SDK given `global.js

[2022-07-11 19:41] ryzngard commented on #61973
I don't think this will work for just copy/paste of a file. The contents would also be the same. Instead, I think this should be counted as covered by "Rename file to <class name>":

![image](https://user-images.githubusercontent.com/475144/178345171-14628c4e-5dde-46a5-9316-a12ba07571f4.png)

[2022-07-11 19:50] #62407 closed

[2022-07-11 20:00] siegfriedpammer commented on #62314
So, the proper solution in our case is to always target the latest SDK?
I haven't tested it thoroughly, but I guess, net60 and newer are able to work with projects that target classic .NET Framework, even .NET Framework 2.0 or 3.x? Is that guaranteed?

The only other solution I can come up with is providing a separate build for each major SDK... which is a pity, because it adds a lot of "bloat" to

[2022-07-11 20:34] jasonmalinowski commented on #62082
No idea, maybe @tmat knows what's going on here?

[2022-07-11 21:16] #62381 closed

[2022-07-11 21:19] jasonmalinowski opened #62550 "Logic in GetOrCreateCompilationWithAnalyzersAsync doesn't seem to correctly update cached entries"
This code seems to have a bug in it. On line 37 we check to see if the cached CompilationWithAnalyzers has the correct IdeOptions; if that isn't the case we then try to create a new one. However, the call to ConditionalWeakTable.GetValue on line 49 is going to return the _old_ one and we still return that one. So if the options change, the cache is no longer functioning (we're always creating a ne

[2022-07-11 21:19] jasonmalinowski commented on #62550
FYI @tmat, not sure what this is all breaking.

[2022-07-11 21:19] akhera99 commented on #61973
Conclusion from design meeting:

We would want a "fix-all" for this scenario. A user would do their copy/paste scenarios and a fix-all would be offered to sync file names to type names granted there would be a singular type in the file.

[2022-07-11 22:58] RikkiGibson commented on #62540
I'm wondering if `HasSuppressableWarnings` could be implemented more efficiently than `.AsEnumerable.All()`. I'm also wondering if we could just always run suppressors, even without searching for suppressable diagnostics in advance.

[2022-07-12 00:38] dibarbet opened #62560 "[LSP] Report syntax diagnostics from document pull without waiting for semantic diagnostics"
Reported by @CyrusNajmabadi

Currently there is some perceived slowness in diagnostics because we always compute syntactic and semantic diagnostics before reporting anything to the client in document pull.   It can take a bit to compute semantic diagnostics which is expected.  However, we can generally compute syntax diagnostics fairly quickly and in the old system we would push those first so tha

[2022-07-12 00:57] gundermanc commented on #62560
FWIW Visual Studio's LSP client supports progressive notifications in document diagnostics but it doesn't actually update the UI until all of the notifications have landed.

[2022-07-12 01:05] dibarbet commented on #62560
Thanks for catching it before I tried and failed.  Filed https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1569172

[2022-07-12 01:36] davidwengier commented on #52837
... but of course when building locally the sources are embedded as expected. Joy.

[2022-07-12 02:04] davidwengier commented on #52837
Actually I take that back, it looks like the files are embedded in the PDB, they're just also part of the source link map. I know for Go To Definition i'm checking for embedded source, before source link. Is that the expectation @tmat? Or is it an issue that the files are part of the map (ie, they have the same prefix as the other source)?

@mmitche Does the validation that produced the log above

[2022-07-12 04:47] RikkiGibson commented on #52837
Shouldn't the binlog from the official build tell us if we have these settings right? Should we adjust that job to publish the binlog on a success?

[2022-07-12 05:35] mavasani commented on #62183
@Youssef1313's observation is correct. @tmat below commit seems to have introduced this regression: https://github.com/dotnet/roslyn/pull/58765/files#diff-79a48e9c4861b0c6822ce70a5385deb3a520730889acd0bc8a33b1f904f9a0feL168-L175

Earlier, we use to default to always fading the unnecessary imports and unreachable code for analyzer shipping in the CodeStyle layer. With this change, we default the fa

[2022-07-12 05:39] davidwengier commented on #52837
Indeed, the binlog from the random build I linked above shows us embedding the source of these files correctly:
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/754264/178416745-e547ded5-fceb-4449-983a-8b053adf825f.png">

[2022-07-12 05:40] mavasani commented on #62183
FWIW, I think even the prior implementation of having the analyzer determine whether the diagnostic should be faded or not by looking at the option seems incorrect. Fading is a host concept, not something for the analyzer to determine. IMO, the analyzer should always add the `Unnecessary` custom tag to the diagnostic it reports to indicate fading, and the it should be the responsibility of the tag

[2022-07-12 05:41] Youssef1313 commented on #62183
That means if someone *unchecked* "Fade out unused usings" and is using CodeStyle package, the option will have no effect? Probably *always* fading out and removing the UI options is something to consider?

[2022-07-12 05:43] Youssef1313 commented on #62183
The page refreshed and this comment appeared just after I commented. Yeah that seems more reasonable than my suggestion to remove the UI option.

[2022-07-12 05:43] mavasani commented on #62183
That is the second alternative, I think it might be better to follow https://github.com/dotnet/roslyn/issues/62183#issuecomment-1181338289. Given these fading related options exist, I presume there was some desire/feedback to allow users to control the user experience, so I think we may want to continue supporting them.

[2022-07-12 05:45] mavasani commented on #62183
Thanks, let me work on a PR to clean this up for all fading diagnostics.

[2022-07-12 08:02] Evangelink opened #62561 "Multiple CodeRefactoringProvider failed with InvalidOperationException"
Visual Studio Version 17.4.0 Preview 1.0 [32708.385.main]

`'CSharpPullMemberUpCodeRefactoringProvider' encountered an error and has been disabled.`

Stack trace:

[code]

`'CSharpMoveStaticMembersRefactoringProvider' encountered an error and has been disabled.`

Stack trace:

[code]

`'CSharpExtractClassCodeRefactoringProvider' encountered an error and has been disabled.`

[code]

[2022-07-12 10:26] Youssef1313 commented on #62561
Being fixed in https://github.com/dotnet/roslyn/pull/62509 :)

[2022-07-12 11:49] mavasani commented on #62183
Created #62562 to fix this issue.

However, we would need to ship a new CodeStyle NuGet package in the .NET SDK with this fix to get back the fading when users specify `<EnforceCodeStyleInBuild>true</EnforceCodeStyleInBuild>`.

[2022-07-12 12:13] Meowtimer opened #62563 "Unexpected mutable struct copy when assigning a property of the struct"
**Version Used**:
main (9 Jul 2022)

**Steps to Reproduce**:
1. See https://sharplab.io/#gist:8b2bb153c0c0ab521af9c7e6febac02a

**Expected Behavior**:
The struct property always gets assigned in-place

**Actual Behavior**:
A copy of the struct is made only in the case where the right side is a switch expression.

[2022-07-12 16:15] steveharter opened #62565 "Xml doc produced for function pointers have a blank type"
**Version Used**:
 4.2.0-4.22220.5 (VS 17.2.0 Preview 6.0)

**Steps to Reproduce**:
1. Create a class library:
[code]

2. Turn on allow unsafe code and XML doc:
[code]

Inspect the produced .XML file

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

[2022-07-12 17:06] xperiandri commented on #18354
@VincentH-Net thank you very much for your discovery!!!

[2022-07-12 18:15] thomasdiemar commented on #50112
I have this excat issue also.

`var semantic = compilation.GetSemanticModel(syntaxTree);`
` foreach (var kv in types)
  {
       typesForCurrentClass = kv.Value
            .DescendantNodes()
            .Select(n => semantic.GetTypeInfo(n).Type)
            .Where(n => n != null)
            .Select(t => t.ContainingNamespace + "." + t.Name)
            .ToList();
    }
}`

When typesForCurrentCl

[2022-07-12 18:20] thomasdiemar commented on #50112
So it seems that this issue is closed with no fix?

[2022-07-12 18:20] CyrusNajmabadi commented on #50112
@thomasdiemar do you have a repro?

[2022-07-12 18:22] thomasdiemar commented on #50112
not one that I want to share as it is just a big mess right now.

But I might be able to make another repo where I reproduce it.

[2022-07-12 18:23] CyrusNajmabadi commented on #50112
Sounds good.  If you do run into it again, please open a new issue that includes hte repro steps.  Thanks!

[2022-07-12 19:19] vsfeedback opened #62570 "Visual Basic Options don't export correctly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Visual-Basic-Options-dont-export-correc/10092095)._

---
[severity:It's more difficult to complete my work]
While setting up code guidelines I noticed that the naming conventions i designated for Visual Basic won't get exported with the other settings. Only the general settings for Visua

[2022-07-12 19:21] vsfeedback opened #62571 "Auto-quotes and "$" operator problem"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Auto-quotes-and--operator-problem/10092299)._

---
[severity:It bothers me. A fix would be nice]
I have some sort of problem. When I want to use **'$'** operator in C#, for instance in `Console.Writeline($"Hello world")`, auto-quotes for some reason doesn't work, but it perfectly works w

[2022-07-12 19:46] Youssef1313 commented on #62570
Could someone assign me since I'm doing some automation object work to ensure everything is imported/exported correctly?

[2022-07-12 20:27] CyrusNajmabadi commented on #62570
Done.  Thanks!

[2022-07-12 20:51] AntonGrekov commented on #24513
@CyrusNajmabadi sure, https://developercommunity.visualstudio.com/t/RoslynCodeAnalysisServiceexe-drains-UPT/10091268
i still fighting this... i've done already so many differen solutions from stackoverflow or other sources - no use...
disabled code analysis for all projects, disabled code analysis in studio settings, tried different analyzer versions....

even if it all switched off and even that

[2022-07-12 20:56] thomasdiemar commented on #50112
I made a repo that shows the issue
https://github.com/thomasdiemar/Roselyn_Namespace_Issue.git

Will you reopen this ticket or do I have to make a new?

[2022-07-12 20:58] cezarypiatek commented on #47598
If anyone is still interested in this refactoring, it might be worth taking a look at the `Convert type to record` refactoring from MappingGenerator package https://docs.mappinggenerator.net/refactorings/convert-type-to-record/

[2022-07-12 21:02] CyrusNajmabadi commented on #50112
I'll take a quick look and will let you know!

[2022-07-12 21:15] CyrusNajmabadi commented on #24513
disabled code analysis for all projects, disabled code analysis in studio settings, tried different analyzer versions, and around 10 other solutions....

As mentinoed, this is a generic component host.  Your issue may have nothing to do with code analysis.  That said, thanks for the link, i'll look at it immediately.

[2022-07-12 21:18] CyrusNajmabadi commented on #24513
@AntonGrekov  i don't see any perf traces included with your report.  Did you follow the instructions linked previously (https://docs.microsoft.com/en-us/visualstudio/ide/how-to-increase-chances-of-performance-issue-being-fixed?view=vs-2019#slowness-and-high-cpu-issues)?  Specifically, we need you to include the information related to `"Provide a trace..."`

[2022-07-12 21:38] CyrusNajmabadi commented on #50112
Your workspace failed to load.  It produced the following diagnostics:

  | Name | Value | Type
-- | -- | -- | --
◢ | workspace.Diagnostics | Count = 4 | System.Collections.Immutable.ImmutableList<Microsoft.CodeAnalysis.WorkspaceDiagnostic>
  | ▶ [0] | {[Failure] Msbuild failed when processing the file 'C:\github\Roselyn_Namespace_Issue\Test\Test.csproj' with message: MSB0001: Internal MSBuild Err

[2022-07-12 21:38] CyrusNajmabadi commented on #50112
Reopening this, but changing the title.

[2022-07-12 22:10] CyrusNajmabadi commented on #24513
Looks like it's still uploading and processing the data.  Can you ping me tomorrow on this and i can look?

[2022-07-12 22:20] AntonGrekov commented on #24513
@CyrusNajmabadi Sure, tomorrow i need to work on project that required me to use VS, so i won't forget.

Some more info: launching proejct with any file opened rathat than sources seems to help as i mentioned above. open solution with initial project file(not source) - wait for 5-10 mins - ram rush seems to calm down and stops - now you can use VS

At some point ram taken freezes at 10-12 gb, some

[2022-07-12 22:50] jamiehankins opened #62582 "Visual Studio 17.2.6 Breaks CommunityToolkit.Mvvm"
**Version Used**:  17.2.6

**Steps to Reproduce**:

1. Create a WPF exe project targeting `net6.0-windows`
2. Reference CommunityToolkit.Mvvm like so:
`<PackageReference Include="CommunityToolkit.Mvvm" Version="7.1.2" />`
4. Create a simple class inheriting from `ObservableObject`, like so:
[code]

**Expected Behavior**:
In 17.2.5, it built and ran fine.

**Actual Behavior**:
[code]

It appears th

[2022-07-12 23:12] RikkiGibson opened #62583 "Public API for "Compiler needs to declaratively fail when loading newer analyzers""
## Background and Motivation

Follow-up to #61252

Similarly to `ReferencesFramework` #47100, we want to produce a specific error for a specific kind of analyzer misconfiguration. In this case, we want to give a warning when the compiler loads an analyzer which references a newer compiler than the one currently running.

One common place where this might occur is if you are running VS 17.0 and edi

[2022-07-12 23:13] davidwengier commented on #62197
Fixed in #62270

[2022-07-12 23:33] CyrusNajmabadi commented on #62029
This work was done.

[2022-07-12 23:33] #62029 closed

[2022-07-13 00:30] gafter commented on #62241
Just off the top of my head, I would try to avoid "inverting" relational operators.  That may require keeping a flag in the balanced tree of values for which sense of the comparison operator should be used.

An alternative is to handle the NaN case first, though that is a little unfortunate because NaN is typically an uncommon case.

[2022-07-13 02:14] jamiehankins commented on #62582
@RikkiGibson

Wow, first I've seen of this tool. There's an insane amount of info, but I can't seem to find that needle in this haystack.

Here's the output from building my tiny test project in case you have a better idea of where in there to look.
[msbuild.zip](https://github.com/dotnet/roslyn/files/9098382/msbuild.zip)

[2022-07-13 02:24] RikkiGibson commented on #62582
It's in the Csc task which contains the build errors, under CommandLineArguments

![image](https://user-images.githubusercontent.com/5833655/178636972-a1d14f75-225d-46db-8d42-2a4d55949443.png)

In this case the paths appear to be:

- `C:\Users\jamie.hankins\.nuget\packages\communitytoolkit.mvvm\7.1.2\analyzers\dotnet\cs\CommunityToolkit.Mvvm.SourceGenerators.dll`
- `C:\Users\jamie.hankins\.nuget\p

[2022-07-13 07:36] Jabbl commented on #61726
This is very much still an issue in 17.2.5:\
![image](https://user-images.githubusercontent.com/23106475/178677113-4b3e3a0f-9750-4c3a-a615-49fad58cb432.png)

This is quite annoying since it leads to file- and symbol names mismatching.

[2022-07-13 08:29] DingpingZhang commented on #62582
This is a generic problem that affects all source generator projects.
It seems to occur only when referenced by the nuget package, If referenced in the following (manual reference), there will be no problem, so the test cases within the source generator project are normal.

[code]

[2022-07-13 08:50] Youssef1313 commented on #62501
@iskiselev `/` is used in `.editorconfig` in this repository and it's working as expected. Do you have a complete repro project where things don't work as expected? That will help investigating the issue.

[2022-07-13 09:14] MassVOiD commented on #58217
please give us a way to use the old template, this new way of things is annoying & difficult to manage the code

[2022-07-13 09:44] Youssef1313 commented on #62550
@jasonmalinowski I'm not sure, but are you able to tell/verify if this is causing https://github.com/dotnet/roslyn/issues/61844 ?

[2022-07-13 09:48] Tum4ik commented on #62582
I also have faced the same problem with Refit.

[2022-07-13 11:02] tan-force commented on #62582
I uninstalled VS 17.2.6 and installed 17.2.5 that used to work. It doesn't anymore :-(  Still the same error.

[2022-07-13 11:27] glennawatson commented on #62582
@tan-force seems to be related to dotnet 6.0.7 so you may have to uninstall that version

[2022-07-13 11:45] Sergio0694 opened #62596 "No error for ref fields in non-ref structs"
**Version Used**: VS 17.3.0 Preview 3.0, .NET 7.0.100-preview.6.22352.1

**Steps to Reproduce**:

1. Paste the following code ([sharplab](https://sharplab.io/#v2:EYLgtghglgdgPgZwC4CcCuBjJACAYge3wFgAoAb1OyuwAEBmbFAUwDNtYcAhCFAblIC+QA==)):
[code]
2. Observe no compile error is produced (a `TypeLoadException` is instead thrown at runtime)

**Expected Behavior**:

This should result in some build erro

[2022-07-13 11:53] tan-force commented on #62582
Yes! Uninstalled dotnet 6.0.7, and now it works. Thank you.

[2022-07-13 12:19] svick commented on #62565
This is a duplicate of https://github.com/dotnet/roslyn/issues/46674 and related to https://github.com/dotnet/roslyn/issues/48363.

[2022-07-13 13:31] 333fred commented on #62565
Closing as a duplicate of https://github.com/dotnet/roslyn/issues/46674.

[2022-07-13 13:31] #62565 closed

[2022-07-13 13:44] MiaoYu-Goh commented on #62540
I have managed to implement a fix and verified that it works locally. Here are the changes to the `CommonCompiler.CompileAndEmit()` method:

https://gist.github.com/MiaoYu-Goh/8b8d047b16142d36edb0c2c209252dd2#file-commoncompilerchanges-cs-L1
https://gist.github.com/MiaoYu-Goh/8b8d047b16142d36edb0c2c209252dd2#file-commoncompilerchanges-cs-L23
https://gist.github.com/MiaoYu-Goh/8b8d047b16142d36edb0c

[2022-07-13 13:50] Tum4ik commented on #62582
You still can use the latest version of Visual Studio. Here is a workaround that works for me:
1. Download and install the previous version of .NET SDK (6.0.301) https://dotnet.microsoft.com/en-us/download/dotnet/6.0
2. Add `global.json` file to the root of your solution (where .sln file is located)
3. The content of the `global.json`:
[code]
4. Rebuild solution.

[2022-07-13 14:10] aahz16384 commented on #62582
Source generators still working in actual VS2022 preview.

[2022-07-13 14:23] LadislavLang commented on #62582
I've the same problem in latest preview (17.3.0 Preview 3.0)

[2022-07-13 14:36] candritzky commented on #62582
We have the same problem with a WPF (class library) project that uses **Refit**:

[code]

Something seems to be broken in the **GenerateTemporaryTargetAssembly** build task.

[2022-07-13 15:01] swerve-city commented on #61362
I am on version 17.2.5 and received the same error when following some general training.

`System.ArgumentOutOfRangeException : 'end' must not be less than 'start'
Parameter name: end
   at Microsoft.CodeAnalysis.Text.TextSpan.FromBounds(Int32 start,Int32 end)
   at Microsoft.CodeAnalysis.CSharp.Wrapping.SeparatedSyntaxList.CSharpParameterWrapper.PositionIsApplicable(SyntaxNode root,Int32 position

[2022-07-13 15:03] CyrusNajmabadi commented on #62582
I don't believe this is the  right repo for this issue.  @rainersigwald do you know where this may need to go?

[2022-07-13 15:08] CyrusNajmabadi commented on #24513
Hey @AntonGrekov i don't see a trace attached to https://developercommunity.visualstudio.com/t/RoslynCodeAnalysisService-drains-upto-25/10093330.  But i do see one attached to https://developercommunity.visualstudio.com/t/RoslynCodeAnalysisServiceexe-drains-UPT/10091268.  Will look asap.

[2022-07-13 15:09] CyrusNajmabadi commented on #61362
@swerve-city Awesome.  I repro the issue with that.  Working on a fix now.

[2022-07-13 15:33] CyrusNajmabadi commented on #58217
@MassVOiD there are many ways to handle this.  Including, but not limited to:

1. Choosing this option when creating a new project:

![image](https://user-images.githubusercontent.com/4564579/178773023-0583b1ff-be1b-4a2f-8a3b-31793dfcae01.png)

2. Setting this preference to 'false':

![image](https://user-images.githubusercontent.com/4564579/178773161-cdf357c3-6adb-4c5d-a8c1-42a6183db9fa.png)

If

[2022-07-13 15:47] CyrusNajmabadi commented on #24513
Trace shows teh entirety of the time in:

![image](https://user-images.githubusercontent.com/4564579/178774366-d7b73e6d-2b88-443d-a74a-6480586a56bd.png)

Interestingly the memory allocation hit is here:

![image](https://user-images.githubusercontent.com/4564579/178774749-5a6c8813-a0f7-42dc-a845-347f037b5e74.png)

as a massive single outlier in the total memory allocated here:

![image](https://us

[2022-07-13 15:48] CyrusNajmabadi commented on #24513
@AntonGrekov I'm going to open a new issue on this and migrate this information there.

[2022-07-13 15:50] CyrusNajmabadi opened #62603 "Potential infinite loop parsing anonymous types."
Reported originally by @AntonGrekov in https://github.com/dotnet/roslyn/issues/24513.

Anton provided a trace (https://developercommunity.visualstudio.com/t/RoslynCodeAnalysisServiceexe-drains-UPT/10091268) that demonstrates something going very bad with parsing anonymous types (`new { ... }`).

Repeating the notes from that issue:

Trace shows teh entirety of the time in:

![image](https://user-i

[2022-07-13 15:50] CyrusNajmabadi commented on #24513
Issue opened as: https://github.com/dotnet/roslyn/issues/62603

[2022-07-13 15:56] saivineeth100 commented on #62582
Cannot Install SDK as it is showing error - Another version of this product is already installed

[2022-07-13 15:59] akhera99 opened #62604 "Semantic Snippets - Property Snippet"
Part of #56541

Snippet that introduces a property.

Should be invoked by completion and insert:
`    public int MyProperty { get; set; }`

the "MyProperty" is a placeholder and should be offered to be renamed.

[2022-07-13 16:03] akhera99 opened #62605 "Semantic Snippets - Class Snippet"
Part of #56541

Snippet that introduces a class declaration.

Should be invoked by completion and insert:
[code]

the "MyClass" is a placeholder and should be offered to be renamed.

[2022-07-13 16:05] akhera99 opened #62606 "Semantic Snippets - Struct Snippet"
Part of #56541

Snippet that introduces a struct declaration.

Should be invoked by completion and insert:
[code]

the "MyStruct" is a placeholder and should be offered to be renamed.

[2022-07-13 16:08] akhera99 opened #62607 "Semantic Snippets - Interface Snippet"
Part of #56541

Snippet that introduces a interface declaration.

Should be invoked by completion and insert:

[code]

the "IInterface" is a placeholder and should be offered to be renamed.

[2022-07-13 16:11] akhera99 opened #62608 "Semantic Snippets - Constructor Snippet"
Part of #56541

Snippet that introduces a constructor.

Should be invoked by completion and insert the constructor corresponding to the containing class/struct.

[2022-07-13 16:40] JoeRobich commented on #62504
The internal issue has been resolved. The change will be part of a future localization update.

[2022-07-13 16:52] ThomasGoulet73 commented on #62582
I apologize for the regression. It was caused by my changes in dotnet/wpf#6534 which were backported to .Net 6 in dotnet/wpf#6680.

I posted workaround for this issue here: https://github.com/dotnet/wpf/pull/6680#issuecomment-1183455941. This is an alternative to this workaround: https://github.com/dotnet/roslyn/issues/62582#issuecomment-1183251686.

I'm working on a fix that can hopefully be incl

[2022-07-13 17:26] RikkiGibson opened #62610 "Report when the same analyzer is passed multiple times"
In https://github.com/dotnet/wpf/issues/6792#issuecomment-1183470975 we found a scenario where the build was passing in the exact same analyzer multiple times.

When the same source file is passed multiple times, we give a warning and drop the duplicated file:

https://github.com/dotnet/roslyn/blob/df86b32122818d4dd9a7f0f357924e7fbfe66387/src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs

[2022-07-13 18:21] Markemp opened #62611 "XML Documents for Positional Records don't show example property"
VS 17.2.5

This is sort of a follow-up to https://github.com/dotnet/roslyn/issues/52663, where the xml doc for records added the param element to the synthesized property, which is working great.  However, to add an example, you still have to redefine the properties so that the output xml has the example in each of the property member elements.

For example, here is a simple record with a single p