[2017-10-12 14:54] skorunka commented on #22266
Have seen it in the VS 2017 IDE few times `Unable to cast object of type 'Microsoft.CodeAnalysis.CSharp.Syntax.ParenthesizedExpressionSyntax' to type 'Microsoft.CodeAnalysis.CSharp.Syntax.BinaryExpressionSyntax'.` Not sure what exact line code causing it.

[2017-10-12 15:54] mavasani commented on #22581
It seems the following IOperations have non-null types:

1) IArgument
2) IArrayInitializer
3) PlaceHolderExpression, whose OperationKind is None as we internalized IPlaceHolderExpression.

Skipping these 3 node types allows us to add the above assert.

[2017-10-12 15:55] mavasani commented on #22581
@jinujoseph marking this for discussion so we can decide if this is expected or we need any product changes here.

[2017-10-12 17:11] mavasani commented on #7397
Design decision: We decided to mark both the label and return statement for end block statement.

[2017-10-12 17:15] mavasani commented on #22446
We decided to expose either a new operation kind OR extension method to expose this. We can do the former if we do it in v1 or do the later for v2. @jinujoseph I think we should move this to v2, and implement it based on customer feedback?

[2017-10-12 17:17] mavasani commented on #11859
Design decision: We decided to do nothing here for v1. In v2, we may want to expose implicit operations for such scenarios.

[2017-10-12 17:22] debonte opened #22674 "Compilation.ObjectType.TypeKind == Error after copying WPF solution to a different location on disk"
**Version Used**: Visual Studio 15.5 Preview 2 (d15prerel 27009.3000).  Roslyn version appears to be 2.6.0.62126

**Steps to Reproduce**:

1. Start VS
2. Attach debugger to VS and put a breakpoint in one of the following spots:
a. CSharpCompilation.ObjectType.
b. The XamlLanguageService's CompilationProvider.TryGetReady after it retrieves Compilation.ObjectType (vs\src\xaml\designer\source\xamllan

[2017-10-12 19:01] genlu opened #22676 "[Flaky] SuppressSyntaxDiagnosticsOnTypesCSharp is flaky"
`Microsoft.CodeAnalysis.UnitTests.Diagnostics.SuppressMessageAttributeWorkspaceTests.SuppressSyntaxDiagnosticsOnTypesCSharp` failed in master.

[code]

https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_unit32_prtest/10182/

[2017-10-12 19:07] mavasani commented on #21311
Discussion: do we need this for v1?

[2017-10-12 19:10] mavasani commented on #22200
@333fred is this already done?

[2017-10-12 19:14] mavasani commented on #22029
Just verify if StepValue is implicit, and if so move out to v2 to address Aleksey's suggestion.

[2017-10-12 19:19] #19371 closed

[2017-10-12 19:24] mavasani commented on #15513
@333fred Is this done with your recent changes?

[2017-10-12 19:24] heejaechang commented on #21580
thank you for the dump @Daendel

I think we figured out one of case, probably most of cases belong to this) why it is happening.

more detail here. https://github.com/dotnet/roslyn/pull/22658

[2017-10-12 20:02] 333fred opened #22679 "[IOperation] Should IUsingStatement's block be implicit"
See https://github.com/dotnet/roslyn/pull/22630#discussion_r144369564. Crux of the argument is that the IBlockStatement under an IUsingStatement in VB uses the same syntax as the IUsingStatement, but isn't currently implicit. Should that block be considered implicit?

[2017-10-12 21:04] Pilchie commented on #22674
@tmeschter can you take a look?

[2017-10-12 22:07] jnm2 commented on #22368
In VS 15.4.0, targeting `net47` works, as does targeting `netstandard1.4`. `netstandard1.5` – `netstandard2.0` do not work.

[2017-10-12 22:24] mavasani commented on #22110
Fixed with https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/88928?path=%2Fsrc%2Fedev%2FStaticAnalysis%2Ffxcoptask%2FMicrosoft.CodeAnalysis.targets&_a=overview

[2017-10-12 22:24] #22110 closed

[2017-10-12 22:25] davkean commented on #22110
Thanks!

[2017-10-12 22:53] 333fred commented on #15513
Doesn't look like it, just tested. We still have a non-null Instance here. The reason appears to be that we actually do have a `BoundThisReference` as the `InstanceOpt` of the method group we create the `IMethodReference` from.

[2017-10-12 23:15] 333fred commented on #19763
Failed again: https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/dev15.5.x/job/windows_debug_unit32/58/.

[2017-10-12 23:42] jinujoseph commented on #21311
Assigning to @AlekseyTs  to look into design approach to tackle this

[2017-10-12 23:45] jinujoseph commented on #22581
**Design Team Decision**

We need to to fix IArgument and IArrayInitializer
for PlaceHolderExpression we can handle none for now.

[2017-10-12 23:48] jinujoseph commented on #22586
**Design Team Decision**
No change to be done for V1

[2017-10-12 23:54] mavasani commented on #22679
Design team decision: We will mark the IBlockStatement nodes in VB that have no explicit syntax or same syntax as outer IXXXStatement as Implicit. This needs to be done across all statement nodes in VB, not just IUsingStatement.

[2017-10-12 23:58] jinujoseph commented on #22585
**Design Team Decision**

Make sure to not drop the instance for static member reference, since we are already ignoring operation like type references

[2017-10-13 00:53] gafter commented on #18515
Yes, [you](https://github.com/dotnet/docs/issues/3381) could do it that way too.

[2017-10-13 01:00] rolandh commented on #22660
The existing error message is quite uninformative, I would imagine using wildcards is fairly common so it would be great to see this error message detail some of the information found here.

+1

[2017-10-13 01:52] jcouv commented on #22654
Tagging @gafter

[2017-10-13 02:05] gafter commented on #22654
The pattern-matching lowering code is being rewritten from scratch (to support recursive patterns, too). I expect most of the improvements you seek here will come for "free" in the new code. But it will be some time before that rewrite is ready for prime time.

No, the `whenCondition` can (and typically does) reference the pattern variable.

[2017-10-13 02:24] gafter commented on #22572
Since the local function is in a different scope than the enclosing method, it shadows it rather than overloading with it. That is intended behavior.

[2017-10-13 02:24] #22572 closed

[2017-10-13 05:03] amitsaini12345 opened #22685 "want feature for Data Anonations in MVC"
**.NET Core 2.0**:

**Steps to Reproduce**: IN MVC

1. How i can i common class having Data Annotation attributes of each entity of our models because many of columns have the same data Annotation like max length 100 etc. so that no need to write data annotation for each entities.

**Expected Behavior**:

**Actual Behavior**:

[2017-10-13 08:14] thomaslevesque commented on #22572
@gafter, thanks for the clarification

[2017-10-13 08:40] Daendel commented on #21580
@heejaechang Thank you for your response.

I still don't get it completely. The ticket you referred to is about SQLite, while my solution uses MySQL.

[2017-10-13 09:43] privateField commented on #21580
@heejaechang
After two days of using VS 15.4 we got the same problems again.
Attached 2 files with examples of errors we getting randomly every hour or every 5 min.
First on a machine with VS 15.4.0 Preview 5 Community Edition installed.
Second on a machine with VS 15.4.0 Professional Edition installed.

I can't say that crashes happening when we open a big files or on a WinForms designer.
We just

[2017-10-13 11:31] PawelTroka commented on #5654
So this is still not done?
We really need it for F# scripting and C# scripting.

[2017-10-13 11:43] filipw commented on #5654
It's a community standalone package at the moment, you can plug it into Roslyn if you need. See `Dotnet.Script.DependencyModel.NuGet` here https://github.com/filipw/dotnet-script/releases/tag/0.14.0

[2017-10-13 13:24] HaloFour commented on #22685
I'd suggest that https://github.com/aspnet/Mvc is probably the repository you want to discuss how MVC works with data annotation attributes.

[2017-10-13 14:35] pgrishanov commented on #22632
[ConsoleApp1.zip](https://github.com/dotnet/roslyn/files/1382920/ConsoleApp1.zip)

[2017-10-13 14:37] pgrishanov commented on #22632
Just create dummy app and comipled it in release notes and with debuginfo none.

[2017-10-13 15:41] Logerfo commented on #18814
Is this fix shipped yet? VS 15.3.5 just thrown `"csc.exe" exited with code -2146232797`, involving local function complex changes.

[2017-10-13 16:01] heejaechang commented on #21580
we internally uses SQLite and we had some issue where we cause it to consume a lot of memory causing OOM. the PR is about fixing that problem.

[2017-10-13 16:02] heejaechang commented on #21580
@privateField yep. we found another issue. we are preparing a fix. see the PR for more info #22658

[2017-10-13 16:07] binki commented on #18814
@Logerfo I cannot repro this bug right now with VS-15.3.5. Are you able to reproduce the bug from the code pasted by me or the OP?

If you are able to reproduce the code pasted in this issue, then are you sure that you’re using the roslyn shipped with VS? If I understand correctly, [it is possible to use a different version of Roslyn by installing a nuget package](https://github.com/dotnet/roslyn/

[2017-10-13 16:54] jamescrowley opened #22688 "MSB4062 Assembly with same name already loaded for DotNetCompilerPlatform NuGet"
Apologies if this is not the correct repo - came here via the DotNetCompilerPlatform NuGet package that we're consuming to use C# 7 in our MVC razor views. Switching to the 'dotnet build' toolchain but can't get our project to compile due to issues with this NuGet

**Version Used**:

Microsoft.CodeDom.Providers.DotNetCompilerPlatform (1.0.7)
Microsoft.Net.Compilers (2.3.2)
.NET Core SDK 2.0.2

**S

[2017-10-13 17:38] agocke commented on #18814
@Logerfo It's possible you're hitting a slightly different instance of this bug. Could you check if your problem repros with VS 2017 15.5 Preview 1? It should be publicly available in the preview channel right now and contains fixes for all known local function lowering bugs.

[2017-10-13 17:39] tvand7093 commented on #22416
I was able to reproduce the error in VS Pro 15.3.5, but it seems to work fine (shows the completion list correctly as @ChristopherHaws expected) using the latest master branch. Perhaps this has been fixed?

[2017-10-13 18:17] Logerfo commented on #18814
@binki

No.

Yes.

I did not.

[Done](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDZICYgNQA+AAgAwAERAjANwCwAUKRZQHQDCA9hhnAMYxoOAOyh16DIgGYKAJjJsGAbwZlVZAA4I0ANwjwyHYACs+MMgHEAFIZP8NASjIBeAHxkhAV25iVaqRQAWMgBZa2NTB19VZXo1OLIY+KSDcLtgMWT4mwiAM0tHVzJ0qMzAsgB9AAkw2zN1GXsSzMTSpLQcskt1Zyd3LwxG2Nb4luHkoiDygAt85zcrevsMseTp/OWVsgBfJuSdoaT9uP39oA=).

@agocke

I'm afraid I will not be able to try that unt

[2017-10-13 18:19] agocke commented on #18814
@Logerfo

Yup. 😄

[2017-10-13 18:56] ChristopherHaws commented on #22416
I just did a fresh install of the latest Visual Studio 2017 (15.5 Preview 1) using Roslyn Language Services 2.6.0.6220501 and the code completion issue seems to be fixed, but the errors that appear are still wrong.

![image](https://user-images.githubusercontent.com/5934505/31561688-8867feec-b00d-11e7-89aa-15af3486c9c7.png)

[2017-10-13 20:18] #22429 closed

[2017-10-13 20:23] tmat opened #22690 "VS crash: AbstractInternalsVisibleToCompletionProvider.GetAttributeSyntaxNodeOfToken throws NRE"
[code]

Crash dump: %internal_share%\public\tomat\Bugs\22690

VS build: 15.5.0 P1 (26927.1)

[2017-10-13 20:29] tmat commented on #22690
@jinujoseph This is causing crash when typing in Interactive Window.

[2017-10-13 20:29] #22146 closed

[2017-10-13 20:51] jamescrowley commented on #22688
Closing as I believe this is due to a bug in the NuGet restoration process instead.

[2017-10-13 20:51] #22688 closed

[2017-10-13 21:06] monty241 commented on #9209
From the header I understand that this also might affect dll libraries. We create various vsto applications which should ship as anycpu if possible since some users have excel, word or outlook 32-bit and some 64-bit.

Is there a good way to have these libraries also run in Excel versions with LAA and use the memory advantage, without loosing the option to use them with 64-bit office?

[2017-10-13 21:57] #19924 closed

[2017-10-13 21:57] #16372 closed

[2017-10-13 22:02] mavasani opened #22691 "Remove OperationExtensions.GetRootOperation API"
See [OperationExtensions.GetRootOperation](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/OperationExtensions.cs,91) API. This API existed from original IOperation prototype, has never been implemented and always returns null.

[2017-10-13 22:02] mavasani commented on #22691
@jinujoseph - must for 15.5

[2017-10-13 22:03] mavasani commented on #22691
NOTE: No type implements `ISymbolWithOperation`

[2017-10-13 22:07] mavasani opened #22692 "Add doc comments to public IOperation public APIs"
I noticed that some IOperation APIs in [OperationExtensions](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/OperationExtensions.cs,25200ddc05212e91,references) do not have any doc comments. This could be true for other IOperation APIs as well. We need to audit entire IOperation public API surface and ensure we have doc comments for all of them.

[2017-10-13 22:08] mavasani commented on #22692
@jinujoseph - also needed for 15.5

[2017-10-13 23:11] #22279 closed

[2017-10-13 23:15] mavasani opened #22694 "Remove unused None fields in few public IOperation enums"
1. ArgumentKind.None
2. BinaryOperatorKind.None
3. BranchKind.None
4. CaseKind.None
5. DoLoopKind.None
6. LoopKind.None
7. UnaryOperatorKind.None

[2017-10-13 23:16] mavasani commented on #22694
Tagging @jinujoseph - needed for 15.5

[2017-10-14 00:10] jinujoseph commented on #22690
cc @MaStr11

[2017-10-14 01:46] ivanbasov opened #22696 "EnC Changing active statement in property from block to expression body is not supported"
See Property_BlockBodyToExpressionBody_NonLeaf test

Change from
`class C
{
    int P { get { <AS:1>return M();</AS:1> } }
    int M() { <AS:0>return 1;</AS:0> }
}`
to
`class C
{
    int P => <AS:1>M()</AS:1>;
    int M() { <AS:0>return 1;</AS:0> }
}`
can be supported but now returns a rude edit.

The fix should be arranged in TryMatchActiveStatement. There is an old TODO saying

[2017-10-14 01:46] tmat commented on #22694
Why are we removing them? I believe it's recommended in .NET design guidelines to have values that correspond to default enum value:

[2017-10-14 02:55] onyxmaster commented on #22339
I believe this can be closed since #22340 is merged.

[2017-10-14 02:55] #22339 closed

[2017-10-14 03:00] #22650 closed

[2017-10-14 13:53] AArnott opened #22697 "OnDownloadFullDatabaseStartedWorkerAsync registers bad task with Task Status Center"
**Version Used**: vsuvscore 27013.4000 (~15.6)

**Steps to Reproduce**:

With a debugger attached that breaks on first chance exceptions:
Open VS
New Project  -> C# class library (.NET Framework)

A first chance exception is observed because `VisualStudioSymbolSearchProgressService.OnDownloadFullDatabaseStartedWorkerAsync` attempts to register a task with the Task Status Center with the `RetainOnF

[2017-10-14 18:23] bradwilson commented on #7066
I'm afraid I don't know what opinion you wished I had. 😉

[2017-10-14 18:56] Meir017 opened #22698 "writing a CodeFix to replace methods"
I'm working on writing an analyzer that will be able to replace multiple method calls into other method calls.
I'm using this specifically to create analyzers that will report wrong usages of the library `FluentAssertions`.

for example:
The following code:
[code]
should produce a codefix:
[code]
but I couldn't find a way not to lose the next statements after the part I refactored

![image](https:

[2017-10-14 19:31] terrajobst opened #22699 "Generate Constructor shouldn't generate protected constructor if the class is sealed"
**Version Used**:

Microsoft Visual Studio Enterprise 2017
Version 15.3.5
VisualStudio.15.Release/15.3.5+26730.16
Microsoft .NET Framework
Version 4.7.02556

**Steps to Reproduce**:

Define these types:

[code]

You'll get error CS1729 for `DerivedClass` since it doesn't call the base constructor. Invoke the fixer [Generate Constructor](https://github.com/dotnet/roslyn/blob/9a09a7075983765f9866582

[2017-10-14 22:51] Joe4evr commented on #22152
Nit: Should probably add `.IsNullOrWhitespace` while you're at it.

[2017-10-15 00:34] ashmind commented on #22289
@jasonmalinowski Thanks -- I'll try to implement that (interesting challenge given it's Azure Web App) and let you know. Is it OK if the exception handler triggering the dump wouldn't be first-chance Roslyn one?

[2017-10-15 01:02] ashmind opened #22700 "ArgumentException (duplicate key) in VisitLambdaOrFunction when using `+=` on an indexer with a lambda argument"
**Version Used**:  2.3.2

**Steps to Reproduce**:
[code]
https://sharplab.io/#v2:D4AQDABCCMDcCwAoJIDMUBMEAqBTAzgC4QDeSEFU6IALBALIAUAlKeZR4QBYCW+A2iwgBeAHwQwAXQgBqYRDjsKAXyUQ1aCDwB2xbn34gArAB4dhcQDNpZRBw4BzXMRJQA7BNgRVd+xXzOpD4cPspAA=

**Expected Behavior**:
Code is compiled correctly.

**Actual Behavior**:
[code]

Note that `master` has a different (but similar) error: `System.ArgumentException: a

[2017-10-15 07:22] Corvin666 commented on #19342
This doesn't work for me either. No Resharper installed.

[2017-10-15 20:55] jcouv opened #22701 "Add descriptions to LanguageVersion enum entries"
[code]

[2017-10-15 23:08] jnm2 commented on #4655
I'm blocked on this too. I can't just update via NuGet tools because the path needs to be customized to the individual repository.

[2017-10-15 23:13] JosephWoodward commented on #17968
For anyone coming across this looking for `MSBuildWorkspace` support for .NET Standard then whilst it's still not here yet, there is a library recently released called [Buildalyzer](https://github.com/daveaglick/Buildalyzer) that can create an AdhocWorkspace allowing you to hopefully achieve the same goal.

[2017-10-15 23:33] jnm2 opened #22704 "Proposal: SourceTextReader"
## Problem

I expected to find a `TextReader` implementation called `SourceTextReader` and was surprised to find none.

The docs don't say anything about `TextWriter` specifically, but the closest thing they do talk about is `Stream`. The recommended way to read a SourceText with an API that requires a `Stream` is to allocate an entire copy:

(https://github.com/dotnet/roslyn/blob/master/docs/anal

[2017-10-16 03:53] yaakov-h opened #22707 "VS 15.5 Preview: VerificationException in otherwise valid function"
**Version Used**:
Microsoft Visual Studio Enterprise 2017 Preview
Version 15.5.0 Preview 1.0

**Steps to Reproduce**:

1. Create a .NET Framework Console Application
2. Replace the contents of Program.cs with the code below.
3. Run the program.

**Expected Behavior**:

The program prints "Comparison: 0"

**Actual Behavior**:

The program crashes with a `VerificationException` in `StructyMcStructFa

[2017-10-16 03:55] jcouv commented on #22707
Tagging @gafter @TyOverby

[2017-10-16 03:56] jcouv commented on #22700
FYI @agocke

[2017-10-16 09:14] JohanLarsson opened #22710 "NullReferenceException after upgrading from 1.2.1 -> 2.3.1"
**Version 2.3.1**:

**Steps to Reproduce**:

1. Clone https://github.com/DotNetAnalyzers/PropertyChangedAnalyzers/tree/8d5fc945d8a879214f76e38e8b53111397547505
2. Run tests

**Expected Behavior**:

All tests passed when using 1.2.1

**Actual Behavior**:

[code]

Debugged it and `oldSolution.Workspace.Services.GetService<IDocumentTextDifferencingService>()` returns null now. http://source.roslyn.io

[2017-10-16 11:40] sttz commented on #20848
I'm also affected by this issue, trying to build documentation using docfx on macOS.

I tried building the docs from source but that doesn't work for me because I need to define some constants and that's apparently not possible without a csproj. I also tried building from assemblies but since it's a Unity project, the assemblies don't include documentation.

It seems #21609 is stuck waiting on a s

[2017-10-16 16:52] Pilchie commented on #22710
How is your `Workspace` constructed in tests?

[2017-10-16 16:56] Pilchie commented on #22600
Tag @jaredpar @agocke

[2017-10-16 16:58] Pilchie commented on #22639
I think @jasonmalinowski has seen this before.

[2017-10-16 17:06] svick commented on #22707
This seems to be similar to https://github.com/dotnet/roslyn/issues/22485, except here it's not just PEVerify complaining, it's also the runtime, due to the presence of `AllowPartiallyTrustedCallers`. And the workaround mentioned there does work: adding `<Features>peverify-compat</Features>` to csproj makes the code work for me in VS 15.5 Preview 1.

[2017-10-16 17:17] mavasani commented on #22694
Tagging @dotnet/analyzer-ioperation @AlekseyTs @cston

There was a strong intent in one of our past design meetings to remove unused fields that did not make sense. For example, not sure what BinaryOperatorKind.None would mean. I can definitely change the range of values to start from zero.

[2017-10-16 17:21] mavasani commented on #22694
Also note that [SymbolKind](http://source.roslyn.io/#Microsoft.CodeAnalysis/Symbols/SymbolKind.cs,30fd9c0834bef6ff), [MethodKind](http://source.roslyn.io/#Microsoft.CodeAnalysis/Symbols/MethodKind.cs,10), etc. do not have a None field, but the range does start from zero. I think we should probably match this for our enums.

[2017-10-16 17:46] jasonmalinowski commented on #22289
@ashmind First chance is always better -- you can use exception filters to sometimes pull that off. I'm also not sure if Azure Web App stuff has some dumping support that might do that too? I admit I've lost track of all the diagnostic support we have there today. :smile:

[2017-10-16 18:03] sharwell commented on #22694
`None` is needed for `[Flags]` enum types. Other enums can just let the first value be 0.

[2017-10-16 18:04] mavasani commented on #22694
Addressed with https://github.com/dotnet/roslyn/pull/22695/commits/53a2153c443d8866e61cbd0d7617f8b0e321020f in https://github.com/dotnet/roslyn/pull/22695

[2017-10-16 19:23] jcouv commented on #22707
Tagging @VSadov. We should probably update the breaking changes doc and give a one-liner in the docs (relates to https://github.com/dotnet/roslyn/pull/21269).

[2017-10-16 19:36] VSadov commented on #22707
We could also check for things like `AllowPartiallyTrustedCallers` or  security transparent and disable the optimizations that go beyond verification rules on desktop.

[2017-10-16 19:39] #22640 closed

[2017-10-16 19:41] VSadov opened #22712 "Consider switching to peverify-compat automatically when APTCA or similar attributes are used"
There are cases where we can be sure that code needs to be peverify-compatible.

We should consider checking for that and automatically suppress optimizations that could interfere with that.

See for example bug - https://github.com/dotnet/roslyn/issues/22707

[2017-10-16 19:42] VSadov commented on #22707
logged https://github.com/dotnet/roslyn/issues/22712

At least for APTCA, it seems possible and reasonable to sniff for the attribute and enable compat mode automatically. Same might be true for SecurityTransparent

[2017-10-16 19:43] jinujoseph commented on #21021
This are not ready to be published yet .
Moving this to next milestone to look at ..
- Clean it out of the release folder till we figure out a ship plan
-  Investigate the possibility of moving this to roslyn-analyzer repo

[2017-10-16 20:08] rchande opened #22713 "Fix all for simplify name distinguishes between constructors and static member accesses"
Fix all  on the "simplify name" lightbulb that appears on each instance of `ConsoleApp47` only fixes that instance. It looks like that's because we treat static member access as distinct from constructor invocation. Not sure what the right behavior is, but this was initially confusing to me.

[code]

[2017-10-16 20:24] jaredpar commented on #22600
Think we just need to update the docs here. Need to include the restore of our toolset project first. @khyperia is working on this now and should have the latest good doc

[2017-10-16 20:32] OmarTawfik commented on #22385
I'll take this one.

[2017-10-16 21:54] TylerKendrick opened #22716 "Compiler should resolve constant variables for expressions used in local functions, when declared in outer scope."
**Version Used**:

- VS2017 v15.3.5
- .NET 4.7
- C# 7

**Steps To Reproduce**:

1. Copy the code below into a new console application with the version information specified above.
2. Attempt to build the project.

**Code**:
[code]

**Expected Behavior**:
I expect the build to compile, but for the application to do nothing in particular.

**Actual Behavior**:
The VBCSCompiler.exe and csc.exe crash

[2017-10-16 21:58] TylerKendrick commented on #22716
Code doesn't appear to format as expected, so changing comments in code to block style.

[2017-10-16 22:24] khyperia commented on #22600
My best guess right now is that you need to [restore CoreToolset](https://github.com/dotnet/roslyn/blob/28338e55895396efbaaa56616fcc88b13d4c9bc0/cibuild.sh#L109). It's a really bad experience, and I've been trying to improve our linux build interface, but it's still in a pretty sad place ("run Restore.cmd before building" on Linux? Ugh.)

`restore.sh` should definitely be updated to restore CoreTo

[2017-10-16 22:51] tamlin-mike commented on #22627
Is this a problem in/for C# too, or is it VB-only? A literal should remain a string (in this case), no matter the language.

[2017-10-16 22:54] tmat opened #22719 "IOperation API Review work items"
## API changes

### Preview

- [x] BinaryOperatorKind.Invalid, DoLoopKind.Invalid, UnaryOperatorKind.Invalid
Can we use None instead?

- [x] Remove IHasArguments and IHasOperatorMethodExpression interfaces
Move their members down.

- [x] Rename ArgumentsInEvaluationOrder to Arguments

- [x] Rename IIsTypeExpression.IsNotTypeExpression to IsNegated

- [x] Rename IIsTypeExpression.IsType to TypeOper

[2017-10-16 22:54] tmat commented on #22719
@mavasani @jinujoseph

[2017-10-16 22:57] jcouv opened #22720 "No information on completion in xml tag in xml doc"
There is a little popup that opens when selecting an entry when completing in xml doc, but it shows no information. I'd expect some information about what `c` means, if possible, or no popup.

![image](https://user-images.githubusercontent.com/12466233/31638777-3bcb66f8-b28a-11e7-84b1-d6876852b6f3.png)

[code]

[2017-10-16 22:59] VSadov opened #22721 "`ref readonly` returns should not return references to temps when used with PEVerifyCompat flag"
PEVerifyCompat forces readonly references of readonly fields be ftched off a copy (since direct references are not allowed by PEVerify).

The whole point of a ref return, however, is to return a direct reference.

We should not be returning references to temps in cases which specifically demand references such as ref returns and ref assignments, even if that causes PEverify failure, since returnin

[2017-10-16 23:10] #22011 closed

[2017-10-16 23:12] dpoeschl commented on #22011
@alrz Are there good examples where that keyword suggestion would be useful? If you think there's a scenario there, feel free to file another issue to track it. Thanks!

[2017-10-16 23:18] ericmutta commented on #22627
This particular one seems to be a VB-only bug. This C# stays the way it is (the `_` is not removed while editing):

[code]

[2017-10-16 23:32] mavasani commented on #22719
@tmat We also decided to rename all IXXXExpression and IXXXStatement nodes to IXXXOperationd and merge where appropriate?

[2017-10-16 23:40] #7299 closed

[2017-10-16 23:40] #19878 closed

[2017-10-16 23:50] itzshan commented on #15902
Hi Mavasani,

Could you please explain a bit more about what was done exactly and how? I am also stuck in a similar problem. Appreciate your help!

Thanks.

[2017-10-16 23:56] tmat commented on #22719
@mavasani I believe that was the conclusion of the conversation around expression statement (that's the "Rename -Expression and -Statement nodes to -Operation" item).

[2017-10-16 23:56] tmat commented on #22719
Let's find out what are the nodes that would potentially be merged.

[2017-10-17 00:13] justcla commented on #22509
I had a similar experience.
I saw a FAR list full of results. None of them were applicable.

[2017-10-17 00:52] CyrusNajmabadi commented on #22509
This fits into the general problem of "sometimes the user is doing a rename. and they want to see all the potential affected downstream usages of this member, so we have to aggressively cascade".  i.e. if you were to change that name, things would break, unless you also changed the interface method.  And if you changed that, then that would affect all the types implementing that interface method.

[2017-10-17 00:59] CyrusNajmabadi commented on #22509
There was also no way for the provider to flexibly collapse/expand sections in the initial window (not sure if the editor exposed that).  If so, we could ideally place all cascades in a separate group *and* collapse it by default.

This would massively declutter this list, while also making the information available for those who needed it.

[2017-10-17 01:08] tmat commented on #20345
Similarly the corresponding C# test:

[code]

[2017-10-17 01:08] tmat commented on #20345
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_unit64_prtest/10258/artifact/Binaries/Release/UnitTests/VBCSCompilerTests/net46/xUnitResults/Roslyn.Compilers.CompilerServer.UnitTests.dll.out.log

[2017-10-17 01:10] tmat commented on #20345
https://github.com/dotnet/roslyn/issues/19763

[2017-10-17 01:35] tmat commented on #21559
Also CSharpFormatting.PasteCodeWithLambdaBody2 is failing: https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/8435/testReport/junit/Roslyn.VisualStudio.IntegrationTests.CSharp/CSharpFormatting/PasteCodeWithLambdaBody2/

[2017-10-17 01:37] sharwell commented on #22274
:memo: Lowering the priority of this issue since the problematic user of `Reanalyze` (TypeScript) fixed the acute problem on their side for the 15.4 release.

[2017-10-17 01:56] sharwell opened #22723 "ContainedDocument can leak if exceptions are thrown"
Underlying issue:

During the call to `CreateContainedLanguage`, a call is made to `AbstractProject.AddDocument`. This call adds the `ContainedDocument` to two sets. If the key already exists in the second set, an exception is thrown and the caller will lose the ability to dispose of the `IVsContainedLanguage` instance, leaving a strong reference to the `ContainedDocument` permanently in the first

[2017-10-17 01:57] sharwell commented on #22723
/cc @jasonmalinowski @ToddGrun (I think you are the Todd that Jason was mentioning to me)

[2017-10-17 02:03] Pilchie commented on #22509
That’s what I was thinking too.

--
Kevin Pilch
http://twitter.com/Pilchie
________________________________
From: CyrusNajmabadi <notifications@github.com>
Sent: Monday, October 16, 2017 5:59:21 PM
To: dotnet/roslyn
Cc: Kevin Pilch; Comment
Subject: Re: [dotnet/roslyn] Find All References on a definition finds all usages of any implicit interface method and all their implementations (#22509)

Ther

[2017-10-17 02:42] jcouv commented on #22721
I don't understand.
I thought the purpose of the flag was to avoid a compat break on existing code. We have introduced other features that are not yet PE-verifiable, without trying to implement the compat flag for them.

[2017-10-17 02:49] jcouv commented on #22716
Tagging @agocke

[2017-10-17 03:24] VSadov commented on #22721
The flag cannot help this particular case since the scenario cannot peverify. That would be ok since it is a new feature that cannot be found in old code.

What is not ok is that we still try try honoring the flag and as a result produce bad code.

[2017-10-17 09:19] AdamSpeight2008 commented on #22627
@ericmutta What happens if you `format selection` ? To see if it the issue could be in the formatter.

[2017-10-17 13:10] jeme commented on #13952
@bbi-yggy > Resharper can do that: Generate -> Delegating Members...

It's still code you need to maintain though as you mention.

[2017-10-17 13:22] DavidArno commented on #13952
@jeme,

Do you have a link to how that feature works, please?

[2017-10-17 13:24] jeme commented on #13952
https://www.jetbrains.com/help/resharper/Code_Generation__Delegating_Members.html

[2017-10-17 15:56] mavasani commented on #22719
Tagging @dotnet/analyzer-ioperation @AlekseyTs @cston @nguerrera @tmat

Question on below:

Do we want to even have a single OperationKind for both of these operations? If not, do we retain the Expression or Statement suffixes on the OperationKinds? If we really want to make the operations API to be agnostic of statement/expression semantics, I think we should also have a single OperationKind, say

[2017-10-17 16:19] terrajobst opened #22730 "CodeAction.Priority should be public"
Right now, [CodeAction.Priority](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/CodeActions/CodeAction.cs,c798d8f5a1c87779) is internal.

However, I'd like to provide a "Report an issue" fixer for the diagnostics I produce. For obvious reasons, I want the priority for this to be low, so that other fixers (especially the built-in for suppressions) are reported at a higher priority.  The

[2017-10-17 16:35] tmat commented on #22719
Sounds good to me.

[2017-10-17 16:37] tmat commented on #22719
I think we could drop the "Operation" from the OperationKind names. We can also add the IsXxx methods later if we find them useful.

[2017-10-17 18:01] #22691 closed

[2017-10-17 18:01] #22692 closed

[2017-10-17 18:01] #22694 closed

[2017-10-17 18:06] #15513 closed

[2017-10-17 18:12] Pilchie opened #22732 "project.OutputFilePath is null"
**Version Used**:
15.5 Preview 1

**Steps to Reproduce**:

1. Open an F# .NET Core project.

**Expected Behavior**:
`Project.OutputFilePath` is not `null`

**Actual Behavior**:
It is.

:link: https://github.com/dotnet/project-system/issues/2889

When I looked before, I found this:
I think this is a problem with CPSProject in general.

We should be updating it when the project system calls the BinO

[2017-10-17 18:12] jcouv commented on #17076
I think it would be good for a fresh pair of eyes to take a look at this.

[2017-10-17 18:12] Pilchie commented on #22732
@KevinRansom is this still blocking F# P2P ref support?

[2017-10-17 18:17] gafter commented on #22441
Fixed in https://github.com/dotnet/roslyn/pull/22472

[2017-10-17 18:17] #22441 closed

[2017-10-17 18:21] OmarTawfik commented on #22270
I'll take this one.

[2017-10-17 18:24] sgwatgit commented on #18333
The wiki page about the Nuget packages is definitely helpful. Maybe a link to it could be added to the README if a separate CHANGELOG.md isn't going to be maintained?

[2017-10-17 18:34] jcouv commented on #22270
I'm tempted to leave this as is. What would be the proposed behavior?

[2017-10-17 18:44] OmarTawfik commented on #22270
@jcouv I'll see what is the path of the least friction. The first two errors are clearly wrong and confusing, because the user did not pass arguments with the `out` keyword.

[2017-10-17 19:29] #7397 closed

[2017-10-17 19:29] #22679 closed

[2017-10-17 20:29] AlekseyTs opened #22733 "Roslyn compiled code evaluates side-effects in for loop control variable more times than the same code compiled with native compiler"
[code]

**Expected Behavior (compiled with native compiler)**:
[code]

**Actual Behavior**:
[code]

[2017-10-17 20:51] #21021 closed

[2017-10-17 21:20] jcouv commented on #22440
In compiler code, we use PascalCase for methods, but so far we've used camelCase for local functions. The IDE code uses PascalCase even for local functions.

[2017-10-17 21:29] AlekseyTs commented on #22029
https://github.com/dotnet/roslyn/pull/22705 made sure implicit step is represented by nodes marked as implicit.

[2017-10-17 21:38] AlekseyTs opened #22735 "IPropertyReferenceExpression in an attribute is missing a receiver"
[code]

We probably should have a special node representing an attribute instance as the receiver.

[2017-10-17 21:43] AlekseyTs opened #22736 "IPropertyReferenceExpressions in IAnonymousObjectCreationExpression are missing a receiver"
[code]

We probably should have a special node representing an anonymous type instance as the receiver. Perhaps it should share syntax with IAnonymousObjectCreationExpression.

[2017-10-17 21:47] AlekseyTs opened #22737 "IFieldReferenceExpression for a static field in context of IObjectOrCollectionInitializerExpression has a non-null implicit receiver"
[code]

Observed:
[code]

Expected:
[code]

[2017-10-17 23:29] thauk-copperleaf commented on #22415
Okay, ignore Problem 2. :)

Problem 1 still stands. How do I avoid manually setting the `MSBUILD_EXE_PATH` environment variable? How can I use the MSBuild I've installed via NuGet?

[2017-10-17 23:52] agc93 commented on #20848
@DustinCampbell any movement on this?

[2017-10-18 00:13] jinujoseph commented on #22029
thanks @AlekseyTs , moving the issue to V2

[2017-10-18 06:25] jcouv commented on #13177
[An issue was reported](https://developercommunity.visualstudio.com/content/problem/130199/155-preview-cannot-build-c-projects-using-systemva.html) with 15.5, possibly related to ASP.Net, but not yet diagnosed.

[2017-10-18 06:53] alrz opened #22743 "Warn if a value is never or always null"
**Version Used**: NullableReferenceTypes branch

**Steps to Reproduce**:
[code]

**Expected Behavior**: warning: `o` is never null

**Actual Behavior**: no warnings

Relates to https://github.com/dotnet/roslyn/issues/25592

[2017-10-18 07:05] alrz commented on #22743
Ideally I'd expect three warnings:

- Possible null
- Always null
- Never null

This is in-par with other proposed analysis (possibly on the ide side) for "always true/false" to detect more unreachable code.

[2017-10-18 07:20] kierenj commented on #18093
This would be awesome.  Currently we use "sanity check" unit tests, which use reflection and NCrunch to give feedback about certain classes not being serialisable, missing unit test classes, and hope to extend this to look at architecture rules.

I don't think many would mind if it's realtime or not (per-keypress on the analyser project): using the last-built version should be fine

[2017-10-18 08:33] Tornhoof commented on #13177
Same issue happens on 15.4 after installing .NET 4.7.1 DevPack and changing the framework version to .NET 4.7.1.
I had to  add the ValueTuple Nuget package (4.4) to the projects otherwise it wouldn't compile.
Error is: ``Error	CS8137	Cannot define a class or member that utilizes tuples because the compiler required type 'System.Runtime.CompilerServices.TupleElementNamesAttribute' cannot be found.

[2017-10-18 08:44] nphmuller opened #22745 "Naming Style: Underscore does not trigger violation in camel_case and pascal_case style"
**Version Used**: The version in VS15.4.0

**Steps to Reproduce**:

Git clone the following repo: https://github.com/nphmuller/RoslynNameStyleUnderscore.git

**OR**

1. Create the following .editorconfig rule:
[code]
2. Insert the following code snippet:
[code]

**Expected Behavior**:
Field 2, 3 and 4 should throw a warning.

**Actual Behavior**:
Field 2 throws a warning.

# Additionally
Change li

[2017-10-18 09:06] asukhinin commented on #21580
@heejaechang #22658 was merged 5 days ago. Any estimation on when the fix goes to production? We had to rollback from 15.4 to 15.2, otherwise VS was hardly usable.

[2017-10-18 09:14] nphmuller commented on #17051
@Pilchie Is there a link so we can track when the CLI/CI support is implemented?

[2017-10-18 09:35] heejaechang commented on #21580
@asukhinin can you try 15.5 preview 1?

(https://www.visualstudio.com/vs/preview/) and here is release note (https://www.visualstudio.com/en-us/news/releasenotes/vs2017-Preview-relnotes)

soon, more fix will be released to preview 2.

some fixes were back ported to 15.4 as well, but can't remember exactly what were back ported. but 15.5 should have all fixes.

really sorry about the inconvenience!

[2017-10-18 11:24] MaStr11 commented on #22690
I tried to reproduce this but the *C# interactive window* isn't working in my experimental hive (TypeLoadException for WatsonReporter in VsInteractiveWindowPackage'1.Initialize). I wasn't able to get an NRE in normal code files because [token.Parent](http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.Features/Completion/Providers/AbstractInternalsVisibleToCompletionProvider.cs,77) is never

[2017-10-18 14:10] alfeg opened #22747 "Cannot use array of tuple in Case statement"
**Version Used**:
Visual Studio 15.4 (not sure what version of C# here)

**Steps to Reproduce**:

1. Simple pattern matching switch statement
[code]
**Expected Behavior**:
In Visual Studio 15.2 this code has no errors to compile

**Actual Behavior**:
In VS 15.4 I've got a bunch of syntax errors

Severity|Code|Description
--------|------|--------------
|Error|	CS1513|	} expected|
|Error|	CS0443|	Sy

[2017-10-18 14:18] mavasani commented on #22719
I am wondering if not having `IOperation.IsExpression()` and `IOperation.IsStatement()` and also merging the operation kinds for ternary expression and if statement into a single `OperationKind.Conditional` will mean that analyzer authors that want to analyze just the expression or the statement form, but not both, will be forced to write language specific components in their analyzer that check t

[2017-10-18 14:31] korhun commented on #7492
1. Turning off "Just My Code"
2. Setting the registry key (HKCU\Software\Microsoft\VisualStudio\14.0_Config\Debugger\Engine\AlwaysEnableExceptionCallbacksOutsideMyCode = 1)

does not work on Visual Studio 2015 Update 3

[2017-10-18 14:33] Camuvingian commented on #22294
What's happening with this - it is killing me.

[2017-10-18 14:37] alrz commented on #22747
Fixed in https://github.com/dotnet/roslyn/pull/22102 (15.5)

[2017-10-18 14:46] alfeg commented on #22747
Oh, thanks. I've tried to serach for this issue, and were not able to

[2017-10-18 14:46] #22747 closed

[2017-10-18 14:56] sharwell commented on #22294
@Camuvingian The option to disable the feature altogether should be available starting in 15.5 Preview 2. The other part of the fix - making the feature work when snippets are active - is not yet completed.

[2017-10-18 15:19] jcouv commented on #13177
@Tornhoof I think you're describing a problem that has been identified and acknowledged with 4.7.1.. Can you try and see if the mitigation described in [this thread](https://github.com/Microsoft/dotnet-framework-early-access/issues/9) (manually editing auto-generated binding redirects) works for the issue you're describing?

[2017-10-18 15:38] nphmuller opened #22748 "UseDefaultLiteral IDE Diagnostics (IDE0034) suggest wrong fix"
**Version Used**: The version in VS15.4.0

**Steps to Reproduce**:
[code]

**Expected Behavior**:
No warning

**Actual Behavior**:
Warning IDE0034.

[2017-10-18 15:43] Tornhoof commented on #13177
Yes, manually removing the value tuple redirect fixes it. Unfortunately manually removing something from the auto-generated redirects in the new SDK Project system is a bit of work, for now I prefer my NuGet workaround as it fixes the bindings automatically.

[2017-10-18 15:48] jcouv commented on #22748
Thanks for reporting this issue.
It is likely a duplicate of https://github.com/dotnet/roslyn/issues/22184

[2017-10-18 15:49] jcouv commented on #22743
Tagging @cston

[2017-10-18 15:49] #22748 closed

[2017-10-18 15:50] sharwell commented on #22184
⚠️ When fixing this issue, please include the test case from #22748.

[2017-10-18 15:51] sharwell commented on #22748
@nphmuller Thank you for providing this sample. Even though this appears to be a duplicate, I made a note in the original issue to include your case as an additional test to prevent future regressions.

[2017-10-18 15:54] jcouv commented on #22743
I suspect we won't want to do that because in many cases, the nullable analysis will be imperfect (a trade-off between safety and flooding with warnings). For example, consider `if (a.b.c == null) return; M(a.b); var x = a.b.c?.Length;`.
The compiler may take the lenient view that `a.b.c` is non-null, but `M` could have changed that.

[2017-10-18 16:00] ericmutta commented on #22627
I think it is definitely the formatter. If you type `12_000.29` then move the caret to another line, it kicks in. If you stay on the same line and column then execute format selection it removes it right there and then!

[2017-10-18 16:04] alrz commented on #22743
@jcouv So in your example it's not proven that c is never null i.e it's "possibly null' (which may or may not produce warning depending on how much we want to be optimistic to avoid flooding). This analysis, on the other hand, would be very local and only triggered on definitive cases.

[2017-10-18 16:51] dpoeschl opened #22749 "Rename Tracking appears in the lightbulb even when the new name binds (and the dotted border goes away)"
Ported from https://developercommunity.visualstudio.com/content/problem/126010/undoing-implementation-of-interface-and-changing-t.html

[2017-10-18 17:20] tmat commented on #22719
@mavasani Sounds like a reasonable principle. They don't need to be extension methods, we can have a "Kind" property on the operation interface directly as we do for a loop: http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/Loops/ILoopStatement.cs,19

[2017-10-18 17:26] alrz commented on #22743
I want to add, a "possible null dereference" warning for a definitive null dereference is a lot less useful when it comes to offering a fix - they demand different fixes outright: you add a null check for the former, but the latter is most likely a bug in the logic, or at best is a leftover from a recent change which might be misleading for the reader later on. All in all, I think it could be done

[2017-10-18 17:32] tmat commented on #22719
@CyrusNajmabadi Do you have any opinion on this?

[2017-10-18 17:33] RaoufOsman commented on #21580
I've been using 15.5 preview 1 and haven't had a crash yet (4 days). With previous version (15.4), crashed several times a day. @heejaechang which fixes were back ported?

[2017-10-18 17:55] KevinRansom commented on #22732
This change is necessary for the F# dotnet project - project reference support.

[2017-10-18 18:25] dpoeschl opened #22750 "The "Create new type" dialog layout breaks for long type names"
Ported from https://developercommunity.visualstudio.com/content/problem/129992/the-create-new-type-dialog-layout-breaks-for-long.html

Version used: 15.4

As you can see below, it also messes up the dropdowns.

![image](https://user-images.githubusercontent.com/235241/31735518-07a6caca-b3f7-11e7-94d7-3210a70ff2c1.png)

[2017-10-18 18:55] mavasani opened #22751 "IParenthesizedExpression inconsistency"
Current behavior:
1. C#: Never generated as parenthesis can never change semantics of underlying expression
2. VB: Always generated as parenthesis may change the semantics of underlying expression.

I think we should change 2. so we generate an IParenthesizedExpression only when parenthesis change the semantics of underlying expression in VB, so that the semantics of this operation are clearly def

[2017-10-18 19:13] #22701 closed

[2017-10-18 19:57] heejaechang commented on #21196
closed

[2017-10-18 19:57] #21196 closed

[2017-10-18 20:01] AlekseyTs commented on #22020
@heejaechang Have you opened a separate issue to add tests?

[2017-10-18 20:05] heejaechang commented on #22020
@AlekseyTs I already have PR out I am working on to add test. - https://github.com/dotnet/roslyn/pull/22746

I am fine leaving it open as well. tagging @jinujoseph

[2017-10-18 20:13] jinujoseph opened #22752 "Updated tests for children ordinal and syntax kind and etc"
refer https://github.com/dotnet/roslyn/pull/22726

[2017-10-18 20:13] KevinRansom commented on #22732
I'm going to look at it, now I have tracked down the other stuff.

[2017-10-18 20:14] jinujoseph commented on #22020
Closing this out as tracked [here ](https://github.com/dotnet/roslyn/issues/22752)

[2017-10-18 20:14] #22020 closed

[2017-10-18 20:18] AdamSpeight2008 commented on #22627
@ericmutta
If we take the Integer case (which does preserve digit separators) then the problem exist for a floating point literal. [ReduceTokensCodeCleanupProvider](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/VisualBasic/Portable/CodeCleanup/Providers/ReduceTokensCodeCleanupProvider.vb)
We should have an additional check in each of those cases.

[2017-10-18 20:50] ericmutta commented on #22627
That ought to fix it. I can see by briefly looking at that code that there is a [check](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/VisualBasic/Portable/CodeCleanup/Providers/ReduceTokensCodeCleanupProvider.vb#L92) for digit seperators in the integer literal case which causes it to be returned as is without any replacements.

While on this topic, I think we should file a seperate i

[2017-10-18 20:54] dotMorten commented on #19065
Even worse, now that I upgraded my projects to VS2017, I'm currently getting the same problem with shared projects that uses C#. Now it doesn't know `.shproj` files, which it had no problem with when it was a 2015 project.

[2017-10-18 20:54] tamlin-mike commented on #22627
Lucky VB not having to handle octal numbers... :-)

[2017-10-18 20:59] AdamSpeight2008 commented on #22627
@ericmutta I think so too, but have yet to check. It's getting late in England. so if possible I'll look to or the weekend.

[2017-10-18 21:02] tamlin-mike commented on #22627
As for the wrong return from VisitLiteralExpression, does the following really make sense?
[code]
I'd expect it to return the existing, not *new*, if '_' was included in the literal value. Perhaps it's so simple to change 'OrElse' to 'AndNot'?

[2017-10-18 21:03] ericmutta commented on #22627
Indeed. 20 years writing code and I have never once used octal numbers. Never really figured out why they are are needed (though that may just be laziness on my part 😄)

[2017-10-18 21:04] ericmutta commented on #22627
Much appreciated my friend, given your adventures in the parser/lexer I think this would be a fix you can do!

[2017-10-18 21:17] tamlin-mike commented on #22627
I have a decade+ on you, but the same experience. Never (ever!) intentionally used it.
Once got bitten by it badly when trying to "nice"-up some IP's in some early Win3.11 .ini-file; "Say what? Those are parsed by scanf?!". :-) (I'm pretty sure it's still mandated for HOSTS & co.)

I think that's something no language should mimic from C (and therefore C++). Even something ugly like leading "0o" (

[2017-10-18 21:53] heejaechang commented on #21580
@RaoufOsman good to hear that. tagging @jinujoseph @natidea @sharwell since I don't track all of fixes that got back ported.

but you can go here to see what has been checked in.
https://github.com/dotnet/roslyn/commits/dev15.4.x

[2017-10-18 21:59] jinujoseph commented on #21580
yes, we ported particularity [this ](https://github.com/dotnet/roslyn/pull/22658 )and [this  ](https://github.com/dotnet/roslyn/pull/22340)

[2017-10-18 22:01] mklemarczyk commented on #7490
I just switched to another language that works properly.

[2017-10-18 22:03] jinujoseph commented on #22730
cc @DustinCampbell

[2017-10-18 22:28] AlekseyTs opened #22753 "Use System.Array.Empty method (WellKnownMember.System_Array__Empty) in VB compiler when it is available and an empty array is needed."
For inspiration, see how C# compiler uses it. For example, it is used for empty param arrays, etc.

[2017-10-18 22:44] DustinCampbell commented on #21859
I'm seeing this with 15.5 and it's driving me crazy. I hope we're going to get to this soon, because it breaks the feature pretty badly in .NET Core and .NET Standard projects. We should never be directly references packages in the fallback folder. Could we bump the priority on this one a bit?

[2017-10-18 22:53] DustinCampbell commented on #15003
This still repros for me in 15.5 preview 1. Also, every speaker at VS Live who I've seen demonstrate this feature has had to call out this as a gotcha and complained loudly (to their audience) about it needing to be fixed. It's been nearly a year, can we get this issue bubbled up appropriately?

[2017-10-18 22:57] CyrusNajmabadi commented on #22730
Note: suppressions always go last, no matter what your priority is.  Priority only affects ordering of CodeActions that are located at the same location.

[2017-10-18 23:23] #18171 closed

[2017-10-18 23:23] #18172 closed

[2017-10-18 23:23] DustinCampbell opened #22754 "Naming style code fix does not insert underscores between words"
**Version Used**: 15.5 preview 1

**Steps to Reproduce**:

Create a style definition for a common test naming style.

1. Add an `.editorconfig` file with the following:

[code]

2. Have code like the following:

[code]

3. Apply fix for naming style violation

**Expected Behavior**:

Method name is changed to all lowercase with underscores: `this_is_my_method`.

**Actual Behavior**:

Method name i

[2017-10-18 23:32] keowang opened #22755 "handling program that is not syntactically correct is confusing"
**Version Used**:
2.0.0

**Steps to Reproduce**:
Given a program that does not even compile as follows:

    using System;
    using System.IO;

    namespace ModuleTwo
    {
        class Program
        {

            public static void Main()
            {
                bool ch     = true;

                if (ch) //Console.Write("X");
                else    Console.Write("O");
            }

[2017-10-18 23:35] AlekseyTs opened #22756 "C#: It looks like implementation of LocalRewriter.GetDefaultParameterSpecialNoConversion doesn't handle scenarios when required APIs are missing."
For example:
[code]

[2017-10-18 23:39] CyrusNajmabadi commented on #22755
Sorry, can you be more specific about what issue you see here?  When i try this i get two errors indicating that there is a problem:

[code]

The IDE also clearly squiggles the problem point:

![image](https://user-images.githubusercontent.com/4564579/31747683-f6ace9d0-b422-11e7-8a8c-6058c5dbfccd.png)

[2017-10-18 23:40] CyrusNajmabadi commented on #22755
This sentence doesn't make much sense.  How can syntax errors be indicated if parsing doesn't happen.  Parsing has to happen to know there are syntax errors in the first place :)

[2017-10-18 23:43] MattGal opened #22757 "Null Reference issue seen in AbstractSyntaxClassificationService"
**Version Used**:  Version built into VS 27016.1.d15rel

**Steps to Reproduce**:

1.  Open my large project (can't post publicly but can provide offline)
2.  Try to fix a specific code issue (in this case I'm refactoring some stream API usage if that's interesting)

**Expected Behavior**: No crash

**Actual Behavior**: 3.  DevEnv crashes with null ref
[code]

Crash dump: %internal_share%\public\to

[2017-10-18 23:45] tmat commented on #22757
@jaredpar Might be a candidate for 15.5 fix.

[2017-10-18 23:50] MattGal commented on #22757
If a live repro is interesting I'm making them every 5 minutes.

[2017-10-19 00:10] elachlan opened #22759 "InvalidOperationException in ExtractMethodCodeRefactoringProvider"
**Version Used**:
Visual Studio Community 2017 v 15.4.0
Visual Basic 2017 - 00369-60000-00001-AA072

**Steps to Reproduce**:
I am unsure how I produced the error. But I was working with a foreach loop.

**Expected Behavior**:
No Exception.

**Actual Behavior**:
Exception:

[code]

[2017-10-19 00:17] jaredpar commented on #22757
@cston can you take a look at this

[2017-10-19 00:24] keowang commented on #22755
when given a program like above. Roslyn thinks there is an identifier in the if body. what I did is (`syntaxNode` is the imaginary if body which should not exist at the first place):

    string name = syntaxNode.GetType().Name;

the value of `name` is `IdentifierNameSyntax` I wonder what's the logic here? Sure you can always parse but clearly when there is a syntax error why not just throw an exc

[2017-10-19 00:47] DustinCampbell opened #22760 "Replace Property with Method doesn't insert 'this' when necessary"
**Version Used**: 15.5 preview 1

Note: this should be easy to fix by generating the field assignment with `this.` but marking it with a `Simplifier.Annotation`.

**Steps to Reproduce**:

1. Start with the following code:

[code]

2. Invoke Replace Property with Method on `Value`

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2017-10-19 00:47] CyrusNajmabadi commented on #22755
Roslyn provides an error tolerant parser.  That's because one of the primary use cases for Roslyn is to be used *inside an IDE* (like VS).  Inside an IDE people expect to be able to use features even when code is in error (indeed, that's the *primary* state that code is in while editing).  If Roslyn were to throw an exception when the code was in error, then we would nto be able to provide feature

[2017-10-19 00:48] CyrusNajmabadi commented on #22755
Squiggling the code tells the user where the error is.  If we don't tell the user where the error is, then it's very hard to fix the error :)

[2017-10-19 00:51] CyrusNajmabadi commented on #22755
Roslyn does not consider it a valid program.  Roslyn produces several diagnostics to let you know exactly why the program is invalid.  You can get syntactic diagnostics that tell you what went wrong with parsing.  And if parsing was successful, you can get semantic diagnostics to tell you if there were semantic errors.  Roslyn even allows you to get semantic errors, even in the presence of syntax

[2017-10-19 00:53] benaadams opened #22761 "Only add d__x to Async StateMachine when name collisions"
Currently statemachines created in the same namespace (or perhaps assembly?) have an ever increasing sequence of `d__N` append to their names

![StateMachine Names](https://aoa.blob.core.windows.net/aspnet/statemachine-names.png)

e.g.
[code]
Is there any need to do this except when there are name collisions?

/cc @JamesNK

[2017-10-19 01:00] CyrusNajmabadi commented on #22755
Note: Roslyn's parser is designed to *never* fail on user input.  It always produces a tree, and that tree can always roundtrip *character for character* with the original source it was fed.   As mentioned above, this is important as users may enter arbitrary text into an editor, and we can't have the parser crashing on it.

However, just because roslyn can always produce a tree does *not* mean th

[2017-10-19 01:16] tmat commented on #22761
Yes there is. Why is this a problem?

[2017-10-19 01:24] benaadams commented on #22761
Fair enough :)

[2017-10-19 01:24] #22761 closed

[2017-10-19 02:52] mspost opened #22762 "Feature Request: adding "when" clause to "yield return""
Instead of writing this:

[code]
I would like to be able to write this:

     IEnumerable<string> foo()
     {
           yield return myVariable.GetOtherValue() when v => v != null;
     }

This seems like a natural extension to the way 'when' is used by exceptions.  Alternatively, given the way a property setter has a fixed value 'value', it could be done that way as well, like this:

[code]

Si

[2017-10-19 03:19] cston commented on #22757
Investigating...

[2017-10-19 03:57] jcouv commented on #22762
This is a language design discussion, not a compiler bug. I'll move to csharplang repo.

[2017-10-19 03:57] #22762 closed

[2017-10-19 03:57] jcouv commented on #22762
Issue moved to [dotnet/csharplang #1017](https://github.com/dotnet/csharplang/issues/1017) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-19 07:27] JeremyTCD commented on #22710
I have the same issue with 2.4.0. I'm using the default `AdhocWorkspace` constructor to instantiate a `Workspace` instance to test batch fixes for my diagnostic analyzers:

https://github.com/dotnet/roslyn/blob/ab56a4a6c32268d925014a3e45ddce61fba715cd/src/Workspaces/Core/Portable/Workspace/AdhocWorkspace.cs#L23-L26

`BatchFixAllProvider` attempts to retrieve an `IDocumentTextDifferencingService` f

[2017-10-19 09:41] smourier opened #22765 "CodeRefactoringProvider is not loaded any more"
**Version Used**:
Visual Studio 2017 15.4.0, roslyn 2.4.0.0, latest released versions of all.

**Steps to Reproduce**:
1. Clone and compile this simple VSIX project here https://github.com/smourier/VSIXProject1
2. Debug using VS 2017's devenv.exe /rootsuffix Exp
3. Create a CSharp project (library, console, etc.)
4. Type some code and invoke the Quick Actions and Refactorings context menu item

**

[2017-10-19 10:23] heejaechang opened #22766 "Sqlite exception is leaking from persistent service"
Sqlite is implementation detail and anything about it should never escape persistent service boundary. but it looks like Sqlite exception is leaking from the service.

in dev15.5 preview 1, I got this exception in the service hub log.

[code]

[2017-10-19 10:23] heejaechang commented on #22766
I am a bit confused on Sqlite Busy and Lock exception. when and how those can happen?

[2017-10-19 10:53] vasily-kirichenko commented on #20390
OK, this is a real problem in Visual F# Tools. The sequential loop that executes analyzers one by one is this (`stateSet` represents single analyzer) http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs,45:

[code]
It's _simple_.

My suggestion:

## Please, provide a configuration option (in Roslyn API) that enables runn

[2017-10-19 11:05] vasily-kirichenko commented on #19347
@heejaechang I cannot see "Roslyn" node in settings in VS instance running with `/rootsuffix RoslynDev /log` arguments. Has this feature been removed?

[2017-10-19 11:10] julielerman commented on #22762
sorry, my bad. It was I who pointed Michael to the roslyn repo!

[2017-10-19 12:58] vasily-kirichenko commented on #20390
/cc @Pilchie

[2017-10-19 13:20] sharwell commented on #22766
This issue was fixed for 15.5 Preview 2 by 9577061e928d873e877c5e49152785decd19e21c. Comments are in #22658.

[2017-10-19 14:43] JeWaVe commented on #7621
[disclaimer : I work for altimesh]
Just for you to know there are proprietary compilers doing that for you.

You can have a look at our community product (free) [Hybridizer](http://www.altimesh.com/hybridizer-essentials/) for example, and our [SDK on github](https://github.com/altimesh/hybridizer-basic-samples/tree/master/HybridizerBasicSamples).

In addition, our full product can [target simd](ht

[2017-10-19 15:11] sharwell commented on #20390
One of my relatively short term goals is eliminating the lack of parallelism in both the analyzers and the analyzer driver. If allocations are a problem, then we need to make the analysis allocate less, but making everything slow and sequential just, well, bad.

[2017-10-19 15:55] sharwell opened #22768 "IDE0007 reported for stackalloc to Span<T>"
**Version Used**: 15.5 Preview 1

**Steps to Reproduce**:

[code]

**Expected Behavior**:

IDE0007 is not reported, because a change to use `var` also changes the type of `span`.

**Actual Behavior**:

IDE0007 is reported, and the code fix causes the code to break.

[2017-10-19 16:07] jcouv commented on #22762
No worries. It's easy to relocate.

[2017-10-19 16:42] #22186 closed

[2017-10-19 16:49] jcouv commented on #22768
FYI @OmarTawfik

[2017-10-19 16:52] jcouv commented on #22768
Relates to https://github.com/dotnet/roslyn/issues/22411 (warn for use of `stackalloc` in `var` local).

[2017-10-19 17:01] sharwell commented on #22768
It's similar, but this one appears to be a bug in the diagnostic analyzer not the compiler.

[2017-10-19 17:14] jcouv commented on #22768
#22411 would be primarily an analyzer and codefix too. We might add a compiler warning later on top of that.

[2017-10-19 17:18] Andrey-Anatolyevich commented on #22507
I've reviewed the my original post and realized, that I've made a mistake.

The following statement is wrong:
"So in VS2017 when you'd move mouse over "TypeF" OR "TypeG" of the aforementioned snippet, VS would crash."

Instead I should have written the following:
"So in VS2017 when you'd move mouse over "TypeF" OR "TypeG" of the aforementioned enum **IN PLACES OF IT'S USAGES**, VS would crash."

R

[2017-10-19 17:32] heejaechang commented on #22766
that's good to hear. but still curious. I believe we are using shared connection and no exclusive mode. so in what condition db becomes locked or busy?

[2017-10-19 17:34] sharwell commented on #22766
When using a shared cache, only one connection is allowed to have write access at a time. Subsequent attempts to write from other connections will see LOCKED.

[2017-10-19 17:34] mavasani commented on #22719
Questions:

1. For IOperations representing more than one syntactic construct (e.g. merged if and ternary, merged loops, etc.), we must expose APIs to help distinguish these cases. Should these be properties on the IOperations or extension methods?
2. Interface names: All operation interfaces must have an Operation suffix.
3. OperationKind and Visit method names: Should match the interface name wi

[2017-10-19 17:36] heejaechang commented on #19347
@vasily-kirichenko i should be still there. not sure what you are trying to do with it though.

[2017-10-19 17:40] heejaechang commented on #20390
until we can prove running analyzer in parallel doesn't make VS unusable, this won't be happening. analyzer is not the only thing VS care. one feature shouldn't overrule all other features.

[2017-10-19 17:42] heejaechang commented on #20390
I thought F#'s issue is lack of priority not the parallelism. isn't you guys already experiment and then delay or the concurrency is not actually problem but the order of analyzer being ran was the problem? (slow, heavy analyzer being ran before all other cheap fast analyzer?)

[2017-10-19 17:43] sharwell opened #22770 "Investigate performance improvement for GetDiagnostics"
In large files containing large numbers of blocks, a diagnostic analyzer which called `GetDiagnostics` on blocks performed poorly (#22637). This was unexpected, since the original intent of the semantic model was caching expensive data so it can be reused. Analyzers written with a similar pattern to the original form would benefit if `GetDiagnostics` was optimized to support this scenario.

[2017-10-19 17:44] heejaechang commented on #20390
if you really want concurrency, then you should opt into OOP. analyzers are running concurrently in OOP already.

[2017-10-19 17:47] heejaechang commented on #22766
but all of our connection is shared connection and each process own 1 db, unless there is code path that create a connection without shared connection bit on, this can't happen?

if there is a code path, then, that looks like a bug.

[2017-10-19 17:51] sharwell commented on #22766
This is the scenario that produces a LOCKED result.

* If we used multiple connections but did not use a shared cache, this case would see a BUSY result.
* If we only used one connection instance in the code, we would not see a LOCKED or BUSY result (exclusive access by only one connection all the way from application layer to DB layer).

[2017-10-19 17:55] #22662 closed

[2017-10-19 17:56] OmarTawfik commented on #22768
@jcouv are you planning to work on this one? I can take it otherwise.

[2017-10-19 17:58] heejaechang commented on #22766
I see. I read this again. (https://www.sqlite.org/sharedcache.html) and multiple connection with shared cache is a bit different than Esent it looks like

have we tested which one is better for us? just using 1 connection with concurrent access vs multiple connection with no concurrent access?

[2017-10-19 18:00] jcouv commented on #22768
Go for it!

[2017-10-19 18:03] vasily-kirichenko commented on #20390
We cannot opt into OOP because it's a huge task.
OK, if you so strict about allowing parallel running for F#, adding optional priority to analyzers would be great, this would allow us removing our artificial delays from our heavy-and-no-so-important analyzers.

[2017-10-19 18:42] keowang commented on #22755
Hi I really appreciate your effort to answer my question. Looks like the solution is to invoke

    syntaxNode.GetDiagnostics().ToList()

and traverse that list to check the each individual diagnostics. My question is I see a property `DefaultSeverity` assigned `Error` and another property `Severity` assigned `Error` too. So I am not sure 1)are these two properties the indicators of syntax errors,

[2017-10-19 18:42] jcouv opened #22771 "List conflicting assemblies when two ValueTuple types clash"

[2017-10-19 19:08] ivanbasov commented on #22659
@sharwell, @jinujoseph, the original VSO issue was resolved as duplicate and was assigned to milestone 15.5. Could you please schedule this one or the original one to at least 15.6?

[2017-10-19 19:41] CyrusNajmabadi commented on #22755
Great observation!  In general, this won't matter for true syntax errors (like missing a semicolon).  These will both be 'Error'.  Where this does differ is in *warnings* (for example, the compiler warns if you use a "lower case L ```l```" in a number, as that could be confused for a ```1```).  The 'DefaultSeverity' for these will be 'Warning' (as that's what the compiler will report these as by *

[2017-10-19 19:44] keowang commented on #22755
Yes which means with no customization `DefaultSeverity` will always be` Error` for syntax error and something else for warnings right?

[2017-10-19 19:49] CyrusNajmabadi commented on #22755
Correct.  'Error' for syntax errors, and 'Warning' for syntax warnings.

[2017-10-19 19:53] keowang commented on #22755
Thanks a lot!

[2017-10-19 19:53] #22755 closed

[2017-10-19 19:54] CyrusNajmabadi commented on #22755
You're welcome! :)

[2017-10-19 21:07] CyrusNajmabadi commented on #22659
Interesting.  Currently, i believe we use this for referencing green nodes (which can show up several times in the same tree due to the compilers' aggressive reuse of some nodes).  For example, the same green token may appear many times.  And the compiler also caches small green trees so they can be reused in the same large tree.

One approach we could take would be to have the compiler add a bit

[2017-10-19 21:09] dpoeschl opened #22776 "Incorrect "Add 'this.'" diagnostic for class initializers"
This is reported in a few Developer Community feedback items, I will link them as they're processed.
-  https://developercommunity.visualstudio.com/content/problem/131432/add-this-or-me-qualification-for-class-initializer.html
- https://developercommunity.visualstudio.com/content/problem/129705/incorrect-ide0009-in-object-initializer.html
- https://developercommunity.visualstudio.com/content/probl

[2017-10-19 21:54] jasonmalinowski commented on #21563
@jinujoseph Can we get this assigned out? A quick inspection shows a likely offending line is here:

https://github.com/dotnet/roslyn/blob/4b1c677e0161df22f12073a1493747532152b115/src/Interactive/EditorFeatures/Core/Extensibility/Interactive/SendToInteractiveSubmissionProvider.cs#L83

where that `.ConfigureAwait(true)` means we'll schedule back on to the test thread and then deadlock. It'd result

[2017-10-19 22:10] gafter commented on #19647
I believe this has already been done.

[2017-10-19 22:10] #19647 closed

[2017-10-19 22:31] OmarTawfik commented on #22270
@jcouv I'm now tempted to close this as well. On one hand, the extra errors can be avoided. On the other, there is no clear rule of separating what method resolution errors should be reported VS what not.
I'll close this, until we see value of putting more effort into making these sorts of distinction.
Do you agree?

[2017-10-19 22:46] trparky opened #22780 "Visual Studio does not like OneDrive Files On-Demand"
**Version Used**:
Microsoft Visual Studio Community 2017
Version 15.4.0

**Steps to Reproduce**:
1. Enable OneDrive Files On-Demand in the new Windows 10.
2. Open project contained in OneDrive.

**Expected Behavior**:
Well, I sort of expect it to work.

**Actual Behavior**:
Visual Studio is all kinds of broken with it throwing all kinds of errors, everything from "Object disposed" to just off the

[2017-10-19 22:48] AdamSpeight2008 opened #22781 "ReduceTokensCodeCleanupProvider with Floating Point and Digit Separator"
At `master : 4b1c677`

The current implementation removes digits separators ( #22627 ) , the pull request ( #22767 ) attempts to preserves them, which it does but at a cost of ;-
  * no rounding
  * no removal of trail zeroes
  * no removal of leading zeroes

This issue is to discuss the options available to re-enable them.

[2017-10-19 22:50] AdamSpeight2008 commented on #22781
My initial thoughts is to work on the literal as if it had no digit separators. That some how replace the digit separator in the places the where in the original literal.

[2017-10-19 23:03] OmarTawfik commented on #18799
I'll look into this.

[2017-10-19 23:22] jcouv commented on #22270
I agree

[2017-10-20 00:32] gafter commented on #19500
I tried this on the latest Roslyn (as a unit test, below) and it passes. I'm guessing that whatever the problem was has been fixed.

@jawilliam I'm going to close as fixed. If you find you can repro the problem on the latest bits, please reopen with more details that will enable me to repro.

[code]

[2017-10-20 00:32] #19500 closed

[2017-10-20 01:59] gundermanc opened #22784 "Analyzer or warning for NullReferenceException in 'await Foo?.Bar()'"
**Version Used**:
Visual Studio 15.3.5 + C# 7.0

**Steps to Reproduce**:

1. Write some code similar to `await this.quickInfoBroker.GetSession(this.textView)?.DismissAsync(CancellationToken.None)`. Note the use of the `?.` operator.
2. Call in such a way that GetSession() returns null.

**Expected Behavior**:
Based purely on appearance, it’d be reasonable to assume that the code, once compiled, wo

[2017-10-20 04:54] gundermanc commented on #22784
@jasonmalinowski pointed me to [an existing proposal](https://github.com/dotnet/csharplang/blob/master/proposals/null-conditional-await.md) that is related to this issue, however, I don't think that the referenced `await?` operator addresses my primary concern.

The lack of a null check for the await operator makes async calls using `?.` a bit of a special case that the developer has to be cogniza

[2017-10-20 04:58] paul1956 commented on #22765
Try waiting a long time (minutes in my case). I am seeing the same thing but If I continue to retry the Quick Actions and Refactoring context menu item eventually my code will be called and I will be offered the refactoring. The errors I am trying to fix appear as soon as I change to the new document, this is a new issue with 15.4 and 15.4.1.

[2017-10-20 05:26] mazhou-msft commented on #22776
Repro on d15rel 27017.1 (15.5.0 Preview 2)

Create a new .NET Core Console App and then create a class such as:

[code]

then in an **instance** method, use an initializer:

[code]

Note that the brackets and the code must be in different lines to see the IDE0009 warning. Regardless where you set "preferred this"  option (either editorconfig or Tools -> Options.)

[2017-10-20 05:33] mazhou-msft commented on #17095
@heejaechang sorry for the delay somehow I don't get a notification form GitHub.

I will try to load the project that can repro months back tomorrow, then I will share you details if I still can repro.

[2017-10-20 05:34] mazhou-msft commented on #20688
Confirmed that works.

[2017-10-20 05:37] mazhou-msft commented on #21156
Confirm it is now working good.

[2017-10-20 07:16] bkoelman commented on #22751
Interesting, I have always wondered in what C# code snippet this operation would surface. Well, never, as it turns out. It would be helpful for others to document that on the type.

[2017-10-20 07:29] jinujoseph opened #22786 "Ctrl+click GTD is too aggressive on string literals"
From: Daofa Li
Basically C# identifies all literals as clickable symbols. The worst case is where the string literal is a url. Ctrl+click on the url may open the string metadata in editor as well as open the url in external browser.

Can this be improved not to return literals as navigable symbols? The current behavior doesn’t make much sense to me as a user.
![image](https://user-images.githubuse

[2017-10-20 07:31] jinujoseph commented on #22786
cc @dpoeschl

[2017-10-20 07:32] bkoelman commented on #22743
I see great value in the distinction between "possibly" and "certainly" warnings. For example, const field access and locals should be "certainly" while property access should be "possibly".

The distinction enables teams suppress the "possibly" warnings but require fixing the "certainly" cases.

[2017-10-20 08:40] paul1956 opened #22788 "VB New New Lazy(Of SemanticModel)(Function()... Reports errors in wrong place"
**Version Used**:
VS 15.4.1
**Steps to Reproduce**:
Add the three lines below to MethodResolutionResult.vb and delete everything except the declaration of lazySemanticModel  as shown below.
[code]
2.
![screenshot 2017-10-20 01 20 10](https://user-images.githubusercontent.com/12789369/31811999-693d1934-b536-11e7-866d-7a8599ef821d.png)

3. There is only one error, BC30518 and it is on Lazy which is

[2017-10-20 09:23] pigwing commented on #22780
i have the same problem,55555555555555

[2017-10-20 11:52] smourier commented on #22765
The long time may be coming from pdb symbols being loaded. In my case, there are quick actions available, but only the build-in ones. I can wait hours, it doesn't change anything. My dll is never loaded. I've just updated to 15.4.1 and it doesn't work any better...

[2017-10-20 11:57] sharwell opened #22789 "'langword' completion should not appear after typing <"
**Version Used**: 15.5 Preview 1

**Steps to Reproduce**:

1. In a documentation comment, type `<se`

**Expected Behavior**:

1. `see` is selected in the completion list
1. `sealed` is not available in the completion list

**Actual Behavior**:

`sealed` is available in the completion list, and is selected by default. The language-specific keywords were only intended to appear in completion if `<`

[2017-10-20 13:21] ilmax opened #22790 "Better handling object initializer syntax error"
**VS 2017 (15.5.0)**:

There is an error I actually keep doing when using the object initializer syntax that is end the line with a semicolon instead of a comma, e.g.:

[code]
please note the semicolon at the end of line ``` AnotherProperty = AnotherValue;```. While this is syntax mistake, looks like roslyn is getting confused (a lot actually) with this type of error and put a lot of squiggles und

[2017-10-20 14:49] ivanbasov commented on #22620
resolved in 15.6

[2017-10-20 14:49] #22620 closed

[2017-10-20 15:20] sharwell commented on #22784
For now, an analyzer could be written to handle this. However, `await` could be considered an implicit dereference so this would fall into the warnings already planned for the nullable reference types feature. Considering the new feature is intended to catch scenarios just like this, I'm not sure we need to handle it separately (aside from the separate proposal to make `await` support this case wi

[2017-10-20 15:46] svick commented on #22790
In case you're curious, you can use [this tool](https://roslynquoter.azurewebsites.net/) to see what Roslyn thinks your code was supposed to be. In your case, it's something like:

[code]

Except that the first `}` and `finally {}` are "missing tokens" and `; } catch (Exception ex) {}` are "skipped tokens".

So, Roslyn operates on the assumption that the incorrect `;` ends the whole statement (and

[2017-10-20 16:02] ilmax commented on #22790
Thank you @svick for pointing out the tool, I didn't know about it.

Yeah, I know it and this is a really minor issue, but maybe it could be improved a bit :)
This issue can be used to track parsing error recovery enhancements maybe, otherwise feel free to close.

[2017-10-20 16:08] mavasani commented on #22770
This issue actually caused a big performance bottleneck when we tried to implement `IOperation.HasErrors` which invoked `GetDiagnostics(span)` for the underlying operation, see https://github.com/dotnet/roslyn/pull/20990#issuecomment-317134305. If we want to ever support that API, we will need to fix this.

[2017-10-20 16:53] Joe4evr commented on #22784
Which, as linked, is already tracked on the csharplang repo. :)

[2017-10-20 18:20] dpoeschl commented on #22347
Another: https://developercommunity.visualstudio.com/content/problem/122910/member-name-can-be-simplified-doesnt-apply-the-rig.html

[2017-10-20 19:45] jinujoseph commented on #22690
cc @tmat were you consistently able to repro this ?
@sharwell to validate and triage for 15.5

[2017-10-20 19:53] jinujoseph commented on #21580
Closing this issue via  [this ](https://github.com/dotnet/roslyn/pull/22658 )and [this  ](https://github.com/dotnet/roslyn/pull/22340) , pls reopen if you are seeing RoslynCodeAnalysisService32.exe OutOfMemoryException  in 15.4.1 or 15.5.preview2 or greater
with latest dmp.

[2017-10-20 19:53] #21580 closed

[2017-10-20 20:21] vsfeedback opened #22796 "Visual Studio is wrongfully suggesting that I replace "var" with "string", and ignoring my preferences / the preferences are super limiting."
In Visual Studio 2017, I have it set to prefer &quot;var&quot; when variable type is apparent, but the following line still generates the IDE0008 message:

[code]

I'm really not sure how the variable type could be any more apparent.

The problem is that it's getting confused by the &quot;For built-in types&quot; preference (which I want to not be var for value types such as int, etc.).

Please fi

[2017-10-20 20:28] dpoeschl commented on #7364
Another: https://developercommunity.visualstudio.com/content/problem/130335/introducevariablecoderefactoringprovider-sistemati.html

[2017-10-20 20:34] jcouv commented on #21486
Fixed in the quarterly release following version 15.5.

[2017-10-20 20:34] #21486 closed

[2017-10-20 20:35] jcouv commented on #21486
@jamesqo Thanks for reporting this issue :-)

[2017-10-20 20:52] sharwell commented on #22796
💭 It sounds like the only request here is the ability to treat `string` separately from other built-in types for the purpose of the "for built-in types" preference. If that is the case, then I would be in favor of closing this as won't fix for the following reasons:

1. I have seen multiple teams extensively preferring to treat built-in types by using `var`, and others preferring to treat built-in

[2017-10-20 22:59] jasonmalinowski commented on #21563
This hit another PR today too. @tmat can you verify if ConfigureAwait(false) is at least sufficient here?

[2017-10-21 01:31] paul1956 commented on #22765
The built-in ones and my code refactoring's are available immediately but CodeFixes take 10 or more minutes every time I change documents and it is not related to the size of the document but it related to solution size. I don't know if I should open a separate issue or even how to produce a simple case to reproduce.

[2017-10-21 02:13] heejaechang commented on #22437
@sharwell any idea?

[2017-10-21 05:57] mellinoe commented on #22589
I've hit this in a library of mine as wele.

[2017-10-21 16:00] MrJul opened #22800 "Optimization: `left ?? right` can be optimized to `left.GetValueOfDefault()` when appropriate"
While writing some code the other day, I wondered if, for a variable `x` of type `int?`, whether `x ?? 0` and `x.GetValueOrDefault()` are really compiled to the same IL (I first assumed that they are). To my surprise, they aren't!

`GetValueOrDefault` is faster because it's [implemented as a single unconditional field load](https://github.com/dotnet/coreclr/blob/d33b8ea1e95412108c0a2d56143356f0a5a

[2017-10-21 18:49] jcouv commented on #17338
The method was removed. Closing the issue.

[2017-10-21 18:49] #17338 closed

[2017-10-21 20:00] jcouv commented on #10265
`TypeArguments` has already been updated (it now calls `TypeArgumentsNoUseSiteDiagnostics`). The other dangerous properties have be updated as well.
Closing this issue.

[2017-10-21 20:00] #10265 closed

[2017-10-21 20:04] jcouv commented on #22495
The deconstruction-foreach uses specific syntax. I'll take a stab at this.

[2017-10-21 23:38] terrajobst commented on #22730
I see. In that case it probably wouldn't help me.

[2017-10-22 01:36] jcouv commented on #20229
@jamesqo Could you assist with repro details? Thanks

[2017-10-22 02:05] jcouv commented on #22420
I'll close the present issue in favor of the existing language design issue (dotnet/csharplang#423) for this.
Thanks

[2017-10-22 02:05] #22420 closed

[2017-10-22 02:08] jcouv commented on #22312
FYI @agocke

[2017-10-22 02:08] jcouv commented on #22256
Moving the issue to csharplang.

[2017-10-22 02:09] jcouv commented on #22256
Issue moved to [dotnet/csharplang #1023](https://github.com/dotnet/csharplang/issues/1023) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 02:09] #22256 closed

[2017-10-22 02:17] jcouv commented on #21896
I'm not expert in IDE projects, but I'd suggest `AddBraces` as an example.
You'll see three relevant files:
- an [analyzer](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/AddBraces/CSharpAddBracesDiagnosticAnalyzer.cs) which inspects syntax of interesting kinds and may add a diagnostic
- a [code fix](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/AddBraces/CSharpA

[2017-10-22 02:26] jcouv opened #22801 "NavigateTo on resource string should also find the RESX entry"
Taking the Roslyn solution as an example, `NavigateTo` on [ERR_NoMetadataFile](http://source.roslyn.io/#q=ERR_NoMetadataFile) will find the error code and the resource string in generated file (`CSharpResources.Designer.cs`). But it will not find the entry in `CSharpResources.resx`, which is what you'd need to edit.

Ideally, we'd have some attribute that code generators could sprinkle in generate

[2017-10-22 02:30] jcouv commented on #21852
The developercommunity issue was close as "not a bug". So I'll close the present issue.
If you want to follow up, the relevant repo is msbuild. Thanks

[2017-10-22 02:30] #21852 closed

[2017-10-22 02:44] jcouv commented on #20239
@justindyer Please move this discussion to the csharplang repo. There may already be a suggestion for this (here's a related one: https://github.com/dotnet/csharplang/issues/318).
I'll close this Roslyn issue as it is not a compiler bug. Thanks

[2017-10-22 02:44] #20239 closed

[2017-10-22 03:02] jcouv commented on #19129
This is indeed by design.
You can find more details in the [pattern-matching proposal](https://github.com/dotnet/csharplang/blob/1918cb06e1c8b79e024c688d1c4159046479276d/proposals/patterns.md#scope-of-pattern-variables) and issue https://github.com/dotnet/roslyn/issues/12597.

I'll go ahead and close this. Thanks

[2017-10-22 03:02] #19129 closed

[2017-10-22 03:06] jcouv commented on #19040
As pointed out above, there is a proposal on csharplang. The "non-nullable reference types" feature is being worked on in a C# 8.0 prototype. Mads recently gave an [overview](https://channel9.msdn.com/Blogs/Seth-Juarez/A-Preview-of-C-8-with-Mads-Torgersen) of the current thinking.
Stay tuned :-)

[2017-10-22 03:06] #19040 closed

[2017-10-22 03:12] CyrusNajmabadi commented on #22801
Are these resx files currently in the workspace at all?  If so, this is pretty simple.  If not, this is going to take a fair amount of work.

Note: i will also point out that even if you were to have this, the experience on the compiler side would still be pretty poor.  The reason for this is that it's very difficult to go from an actual user facing string to a resource string.  i.e. if we see an

[2017-10-22 03:18] CyrusNajmabadi commented on #22801
It's worthwhile-ish.  The weirdness would be that we'd either have to:

1. navigate to the location in the actual resx xml file.  (Odd, since users don't normally edit those files).
2. navigate to the row in the resx GUI editor.  Weird, because why would *we* be navigating to that?

The "right" solution, IMO, is that the resx system should *itself* export a Navigate-To provider.  Then, when the us

[2017-10-22 03:27] jcouv commented on #18333
I [added](https://github.com/dotnet/roslyn/pull/22166) a link to the description of the packages themselves.

[2017-10-22 03:41] jcouv commented on #16946
I'll go ahead and close this. Continue the discussion on csharplang if still active.
Here's one issue that seems related: https://github.com/dotnet/csharplang/issues/882. There may be others.

[2017-10-22 03:41] #16946 closed

[2017-10-22 03:43] jcouv commented on #16959
I'll move this discussion to csharplang, as it is not currently actionable as a compiler bug (current behavior is by design).

[2017-10-22 03:43] #16959 closed

[2017-10-22 03:43] jcouv commented on #16959
Issue moved to [dotnet/csharplang #1024](https://github.com/dotnet/csharplang/issues/1024) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 03:46] jcouv commented on #16961
A csharplang issue was created to continue this discussion: https://github.com/dotnet/csharplang/issues/781
I'll go ahead and close OP. Thanks

[2017-10-22 03:46] #16961 closed

[2017-10-22 03:58] jcouv commented on #16769
This was discussed as part of the "target-typed new" proposal (https://github.com/dotnet/csharplang/issues/100).
I'll go ahead and close the Roslyn issue. The discussion should continue on csharplang. Thanks

[2017-10-22 03:58] #16769 closed

[2017-10-22 04:03] jcouv commented on #16815
I'll move this to csharplang (where language design is now discussed). Thanks

[2017-10-22 04:03] #16815 closed

[2017-10-22 04:03] jcouv commented on #16815
Issue moved to [dotnet/csharplang #1025](https://github.com/dotnet/csharplang/issues/1025) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 04:06] jcouv commented on #16553
I'll go ahead and close this discussion. Please open a new one on csharplang and continue there, if you still feel this is valuable.
Thanks

[2017-10-22 04:07] #16553 closed

[2017-10-22 04:10] jcouv commented on #16473
I'll go ahead and close this issue, since this was done in C# 7.2.

[2017-10-22 04:10] #16473 closed

[2017-10-22 04:14] jcouv commented on #16435
See Mads's recent [overview](https://channel9.msdn.com/Blogs/Seth-Juarez/A-Preview-of-C-8-with-Mads-Torgersen) of "non-nullable reference types" being prototyped for C# 8.0. Stay tuned for updates.
I'll go ahead and close this issue. Thanks

[2017-10-22 04:14] #16435 closed

[2017-10-22 04:18] jcouv commented on #16085
@jinujoseph for triage.

[2017-10-22 04:20] jcouv commented on #15811
@tmat It seems this was recently fixed. Can you verify and close?

[2017-10-22 04:25] jcouv commented on #15574
@siddytopcoder We didn't have enough information to investigate and didn't hear back from you. I'll go ahead and close the issue.

[2017-10-22 04:25] #15574 closed

[2017-10-22 04:26] jcouv commented on #15610
I'll move this issue over to csharplang. Thanks

[2017-10-22 04:27] jcouv commented on #15610
Issue moved to [dotnet/csharplang #1026](https://github.com/dotnet/csharplang/issues/1026) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 04:27] #15610 closed

[2017-10-22 04:28] #15487 closed

[2017-10-22 04:28] jcouv commented on #15487
Issue moved to [dotnet/csharplang #1027](https://github.com/dotnet/csharplang/issues/1027) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 04:51] jcouv commented on #12519
@tmat I suspect this was handled already. Please verify and close. Thanks

[2017-10-22 04:52] #12238 closed

[2017-10-22 04:52] jcouv commented on #12238
Issue moved to [dotnet/csharplang #1028](https://github.com/dotnet/csharplang/issues/1028) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 05:06] jcouv commented on #11492
@acesiddhu You'll want to use the MetadataReader type from this [nupkg](https://www.nuget.org/packages/System.Reflection.Metadata).

You can take a look at the methods called `DumpXYZ` in [MetadataReaderUtils](https://github.com/dotnet/roslyn/blob/master/src/Test/Utilities/Portable/Metadata/MetadataReaderUtils.cs#L250) for some inspiration on how to use the API to dig into the metadata.

[2017-10-22 05:08] jcouv commented on #11620
I'll go ahead and close this discussion. Feel free to continue on csharplang.
Here's one issue that's related: https://github.com/dotnet/csharplang/issues/275 (there may be others too).
Thanks

[2017-10-22 05:08] #11620 closed

[2017-10-22 05:11] jcouv commented on #11742
FYI @VSadov @cston

[2017-10-22 05:13] jcouv commented on #10378
@ilexp C# 7.2 adds a number of performance-related features: ref readonly, readonly and ref structs (such as `Span<T>`). We're also considering "ref local reassignment" for a subsequent release.

I didn't seem much activity on this thread for a while. Consider closing if resolved.

[2017-10-22 05:18] jcouv commented on #9345
Is this still applicable?

[2017-10-22 05:20] jcouv commented on #8947
Language design issues are now in csharplang. I'll go ahead and close.
https://github.com/dotnet/csharplang/issues/781 seems to be the most related.

[2017-10-22 05:20] #8947 closed

[2017-10-22 05:25] jcouv commented on #7150
Started some documentation of package versions: https://github.com/dotnet/roslyn/wiki/NuGet-packages
As far as breaking changes, you can find them in documents here: https://github.com/dotnet/roslyn/tree/master/docs/compilers/CSharp
We don't currently have a changelog aside from [language features](https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md).

[2017-10-22 05:27] jcouv commented on #8364
Closing issue since discussion moved to csharplang. Thanks

[2017-10-22 05:27] #8364 closed

[2017-10-22 05:27] jcouv commented on #8560
Moving language discussion to csharplang.

[2017-10-22 05:28] #8560 closed

[2017-10-22 05:28] jcouv commented on #8560
Issue moved to [dotnet/csharplang #1030](https://github.com/dotnet/csharplang/issues/1030) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 05:30] jcouv commented on #6559
Moving language design discussions to csharplang. Thanks

[2017-10-22 05:30] #6559 closed

[2017-10-22 05:30] jcouv commented on #6559
Issue moved to [dotnet/csharplang #1031](https://github.com/dotnet/csharplang/issues/1031) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 05:46] jcouv commented on #3561
Closing since the issue was moved to csharplang. Thanks

[2017-10-22 05:46] #3561 closed

[2017-10-22 05:49] jcouv commented on #3208
Moving language design discussion to csharplang. Thanks

[2017-10-22 05:50] #3208 closed

[2017-10-22 05:50] jcouv commented on #3208
Issue moved to [dotnet/csharplang #1032](https://github.com/dotnet/csharplang/issues/1032) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 05:51] jcouv commented on #2178
I'll close this issue in favor of the csharplang discussion (https://github.com/dotnet/csharplang/issues/205) and championed issue (https://github.com/dotnet/csharplang/issues/287). Thanks

[2017-10-22 05:51] #2178 closed

[2017-10-22 05:52] jcouv commented on #1757
Moving language design discussion over to csharplang. Thanks

[2017-10-22 05:53] #1757 closed

[2017-10-22 05:53] jcouv commented on #1757
Issue moved to [dotnet/csharplang #1033](https://github.com/dotnet/csharplang/issues/1033) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-22 07:03] jinujoseph opened #22802 "IDE0017 Object initialization can be simplified not understanding editorconfig setting."
[View on Developer Community](https://developercommunity.visualstudio.com/content/problem/122440/ide0017-object-initialization-can-be-simplified-no.html)

Running VS 2017 15.3, with default application settings.
In editorconfig at the root the solution we have set dotnet_style_object_initializer = false:warning

Still seeing IDE0017 Object initialization can be simplified as a suggestion (from def

[2017-10-22 08:11] jinujoseph commented on #8269
also requested in https://developercommunity.visualstudio.com/content/problem/124958/code-formatting-does-not-take-effects-on-codes-in.html

[2017-10-22 09:43] jjanuszkiewicz commented on #21580
@jinujoseph Looks great so far - no crashes after one day and memory usage is a lot lower. Thanks!

[2017-10-22 09:43] ilexp commented on #10378
@jcouv Yep, have been excitedly watching the new developments in C# and they definitely address some of the points. Others still remain to be discussed or addressed, but the big unsafe / slice / span part is done and discussion has been diverted to the individual issues in CoreCLR and CSharpLang. Closing this, looking forward to future improvements.

[2017-10-22 09:43] #10378 closed

[2017-10-22 09:54] socmag commented on #18631
Oh boy, took me a long time to get back to this.

So right, if you want to say, build your own Tuple library, and have constructors for all element types that the Tuple supports, for Tuples up to say, length 4 or 5..

Let's say the Tuple elements you support are int32, in64, bool, string, float, double and byte[].

Since C# doesn't support variadic templates you have to write a program that genera

[2017-10-22 10:17] socmag commented on #18631
Going back to te inability to dispatch to a polymorphic overriden function based on a generic type seems like super low hanging fruit. I assume you are already flowing the type information.

Maybe that is the fix here and would be super helpful to a lot of people, even without variadic template support that would open up a huge can of worms.

(Feature request)

[2017-10-22 11:40] benaadams opened #22803 "Mark Statemachines with attribute to identify generating method"
e.g. a `BuilderMethodAttribute` corefx issue https://github.com/dotnet/corefx/issues/24795

## Motivation

From looking at a stack trace (or using the `StackFrame`s) there's a lot of noise; but perhaps more importantly there isn't enough detail to tell what overloads of a method were called for async and iterators due to the name mangling prior to `.MoveNext()`.

e.g.
[code]
Which of these overloa

[2017-10-22 11:56] sharwell commented on #22802
I'm not able to reproduce this in C# or VB. It sounds like a duplicate of #15003.

[2017-10-22 12:08] drewkg commented on #22802
I can no longer reproduce this in VS 2017 15.4.1, versions below this I could reproduce reliably in multiple solutions.

[2017-10-22 12:16] #22802 closed

[2017-10-22 12:46] HaloFour commented on #22803
@benaadams

Reading through the coreclr/corefx issues.  Great work!  I've always wanted something like this.  I wrote my own StackTrace formatting code to log exceptions without the async/iterator nastiness some time ago and ran into the same problems.  I relied on the C#-specific name mangling to at least identify the method group of the generator methods but there was no way to disambiguate betw

[2017-10-22 16:03] socmag commented on #18631
Just as a side note, we are almost done with our platform and we really want the C# support to be as good as the JavaScript and Python support from the get-go, but even better and with the type safety of C++.

There is nothing wrong with the Tuple support in .Net per we, but we need something much more dynamic and our internal structures are nothing like the "cons cells" that back up the current .

[2017-10-22 16:30] tmat commented on #20991
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/8516/

[2017-10-22 16:58] svick commented on #18631
@socmag

Yes, you can't, because that's not something that you can express in IL. Some approaches that are used to work around that:

1. `dynamic`, the quick and dirty (and slow) solution:

[code]

2. A C# 7.0 typeswitch (or a series of type-checks in earlier versions):

[code]

It's not a bug, this is working as designed. If you want to propose a change to the C# language, you should create a sep

[2017-10-22 17:28] 06needhamt commented on #22754
I am interested in working on this issue. But as I have not contributed to Roslyn before I am not sure where to start. I have already forked downloaded and built Roslyn on my machine and signed the CLA.

Any Help would be great
Thanks

[2017-10-22 17:40] Suchiman commented on #22485
@jaredpar

AFAIK this is already in progress here: https://github.com/dotnet/corert/tree/master/src/ILVerify

[2017-10-22 17:51] aelij commented on #22803
I think this can work for any compiler-generated code (lambdas, iterators, and async). Essentially all of them exist within the scope of a parent method. The compiler would just have to locate the top-level method to emit.

With lambdas though, not specifying the mangled method name could be confusing, since they could run completely out of the scope of the containing method. VS formats the names:

[2017-10-22 18:17] jcouv commented on #22485
@Suchiman Yes, that's indeed the effort that we're counting on.

[2017-10-22 18:58] benaadams commented on #22803
Local functions are a bit wild

[2017-10-22 19:02] benaadams commented on #22803
Something like:

Local function => Name
Lambda => Lambda_N or Expression_N
Closure => Closure_N or CapturingLamba_N or ExpressionLamba_N

[2017-10-22 19:05] benaadams commented on #22803
Looks like for source method, attribute will need to be `Type` `MethodName` - can match statemachine to overloads that way; but wouldn't be able to match Local functions or lambdas to an overload that way

[2017-10-22 19:37] tmat commented on #22803
Now consider async lambda :)

[2017-10-22 20:32] paul1956 commented on #22539
Something changed in 15.4/2.4 I am able to run 1,000's of fixes without running out of memory of course it takes days but its progress.

[2017-10-22 22:51] vsfeedback opened #22804 "Cast from int? to int is incorrectly marked as redundant"
see attachement

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/118692/cast-redundant-but-its-not.html
VSTS ticketId: 499179_
_These are the original issue comments:_

David Poeschl [MSFT] on 9/25/2017, 00:41 PM (27 days ago): <p>Thank you for your feedback! Unfortunately, I can't find the attachment you mention. Can you upload it again or just paste th

[2017-10-22 22:52] dpoeschl commented on #22804
Formatted code example:
[code]
Incorrect "redundant cast" is at the $$.

[2017-10-22 22:53] jcouv commented on #22804
@dpoeschl You didn't know that github auto-formats. (j/k)

[2017-10-22 22:56] dpoeschl commented on #22804
Did you update the OP? I just added the "C#" to the code block. I only really made it a separate post so the @vsfeedback folks could see how things auto-formatted, but they can figure it out based on how it looked on developercommunity.

[2017-10-22 22:57] jcouv commented on #22804
Hehe, I did. Not stalking you or anything, I promise ;-)

[2017-10-22 23:12] CyrusNajmabadi commented on #22539
I rewrote the stock batch fixer to to be better.   There is a general problem that our entire system is based on creating a new snapshot and then applying the snapshot all at once (i.e. better to make no changes than to make a partial change that messes up the user's solution).  If that new solution snapshot is sufficiently different from the original solution, it is conceivable that it would take

[2017-10-22 23:24] CyrusNajmabadi commented on #22539
Yes.  It has to work in that manner.  The fixes that are aggregates are all created against the original document.  If you tried to apply them to a changed document then all sorts of bad things could happen.

--

Also, to be clear, there's no way to even pass in 'a temporary document' to the fixers.  The fixers completely control what they do.  Many are just a ```Func<CancellationToken, Task<Docum

[2017-10-22 23:52] sjb-sjb commented on #114
The discussion here about *using* is a good example of one of the many thorny issues around how to evolve the c# language in view of the new async / await paradigm. Recently I opened a similar discussion about asynchrony and *lock* (which so far has not gained much traction). There was also a comment made elsewhere that iteration with *await* inside of *yield* can lead to similar issues as would o

[2017-10-23 05:06] gzak commented on #261
Just wanted to add my vote for enabling `await` within linq queries. In the proposal, there's a statement: "and this isn't a particularly high-value thing to invest in right now", but I disagree. It would make real-life interaction with APIs sooo much more elegant. There are many situations where you need to make several async API calls, each referring to results from previous API calls. Stringing

[2017-10-23 08:13] jinujoseph commented on #21580
@jjanuszkiewicz glad to hear that and thanks for reporting the issue and confirming the fix !!

[2017-10-23 09:07] ararion commented on #21730
👍  #22650

[2017-10-23 09:07] #21730 closed

[2017-10-23 09:07] ararion commented on #21650
👍 #22650

[2017-10-23 09:07] #21650 closed

[2017-10-23 09:51] benaadams commented on #22803
Gone another way

[2017-10-23 09:51] #22803 closed

[2017-10-23 10:21] paul1956 commented on #22539
@CyrusNajmabadi  Most of the code called by https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/CodeFixes/SyntaxEditorBasedCodeFixProvider.FixAllProvider.cs is marked Friend and not callable by my CodeFix unless I port everything from Roslyn Source, I find this true with much of the Sample code as well.

[2017-10-23 12:18] wgutierrezr commented on #18348
I have this issue in _ViewImports.cshtml in a ASP.Net Core 2.0 project. After the VS-2017 upgrade to 15.4.1

Regards.

[2017-10-23 14:13] socmag commented on #18631
With regard yo the last question, I don't want to get into the specifics in too much detail.

But let me put it this way, if a Tuple were a string and there was an arbitrary decision that string representations were packed as bytes up to length 7, then it becomes a linked list of things you'd quite rightly call me crazy.

We have a dynamic Tuple format that is immutable, is lexicographically sorta

[2017-10-23 14:44] socmag commented on #18631
Just to go further, the way the type checker in C++ works is to look forward not only backwards. That's the thing that is missing.

If I pass a DateTime and the generic function tries to call a function based on T and no function accepts a DateTime or a coercive parameter then I'm out of luck and get an error.

[2017-10-23 15:02] Pilchie commented on #22780
Thanks for reporting - we believe these issues will be resolved in the next preview of Visual Studio 2017 version 15.5.  See https://developercommunity.visualstudio.com/content/problem/77492/visual-studio-has-a-conflict-with-onedrive-on-dema.html for more details.

[2017-10-23 15:02] #22780 closed

[2017-10-23 15:04] The-MAZZTer commented on #21729
I may be seeing a similar issue. Any attempt to create variables in the immediate window seems to cause this error for me.

[2017-10-23 16:08] jasonmalinowski commented on #22639
Indeed, a duplicate of #21326.

[2017-10-23 16:08] #22639 closed

[2017-10-23 16:11] davkean commented on #9345
I think it it isn't but I don't work in the Roslyn tree anymore so I'm not sure.

[2017-10-23 16:37] alastair-mcdonald commented on #4224
I would find the CDW very useful. I was disappointed to find it not working in VS 2015 and assumed it would be fixed in VS 2017. Please bring it back asap.
Thanks.

[2017-10-23 17:09] dpoeschl opened #22806 "Add Using from NuGet stopped working in 15.5 on 10/9"
**Version Used**: I can repro on 15.5.0 P1 27009.1.d15rel

**Steps to Reproduce**:

1. Back up and then delete your `%localappdata%\Microsoft\VisualStudio\15.0_<letters>\PackageCache` directory
2. Open a new C# project and type `JsonConvert j;` in a method
3. Wait a few minutes for the PackageCache of NuGet types to repopulate. Ctrl+. on `JsonConvert`.

**Expected Behavior**: Add Using offers to d

[2017-10-23 17:16] socmag commented on #18631
I apologize.

Look I just want things to be better.

I get frustrated at time.

So sorry about that.

[2017-10-23 17:18] dpoeschl commented on #22806
I think it's supposed to jump to `VisualStudioSymbolSearchProgressService.OnDownloadFullDatabaseStartedAsync`, not `VisualStudioSymbolSearchService+LogService`

[2017-10-23 17:29] jasonmalinowski commented on #22732
@KevinRansom Should this be assigned to you instead then?

[2017-10-23 17:46] agocke commented on #22507
@Andrey-Anatolyevich Thanks. I haven't been able to repro this with the isolated code provided, but I think the stack trace is enough for me to work backwards.

As far as I can tell very few people seem to be hitting this, but I can see how this would be a ridiculously annoying bug, so I'll try to get a fix in ASAP.

[2017-10-23 18:35] CyrusNajmabadi commented on #22539
Right, that's why i said "i recommend taking an approach *similar* to what we have in" :)

That type hasn't been vetted as being appropriate for 3rd party consumption.  it's been written to work against the specific patterns and approaches we've taken with many of our fixers (i.e. being SyntaxEditor dependendent).  As such, it's not necessarily reusable for other situations.

My point was, if you

[2017-10-23 18:36] CyrusNajmabadi commented on #18348
HI @wgutierrezr .

1. Can you provide repro case for us to look at?
2. Neal only fixed this 23 days ago.  It's unlikely to have made it into 15.4 (it would likely be 15.5 at the earliest).

[2017-10-23 19:17] heejaechang opened #22808 "add unit tests for ISymbolSearchService and its related interfaces"
we found a regression on the service. we should add tests including OOP parts for it.

[2017-10-23 19:17] heejaechang commented on #22808
tagging @jinujoseph @dpoeschl

[2017-10-23 19:17] heejaechang commented on #22808
related to https://github.com/dotnet/roslyn/issues/22806

[2017-10-23 19:19] Andrey-Anatolyevich commented on #22507
@agocke, Appreciate your help.

Let me know if I can provide you with any other helpful details.

[2017-10-23 20:05] 333fred commented on #22200
@mavasani I merged choice 1, but I still want to check to see if this is a simple case that we can just change in the binder.

[2017-10-23 20:22] #22564 closed

[2017-10-23 20:34] jmarolf commented on #18631
@socmag sounds like there are two problems here:

1. Overload resolution by the compiler is taking too long.  This issue can act as the tracker for improving overload resolution performance
2. There is a need for changes to overload resolution with respect to generics.  This should probably be tracked as a new issue on https://github.com/dotnet/csharplang as this would require spec changes for the

[2017-10-23 21:23] svick commented on #18631
C# is not C++ and C# generics are not C++ templates. Each have different design goals and, as a result, different limitations.

For example, did you ever want to have a C++ DLL that contains templates? You can't do that, because each instantiation of a C++ template is pretty much compiled separately and requires the original source code.

In C#, a DLL exposing generic types is nothing special. But

[2017-10-23 21:36] dpoeschl opened #22810 "Snippets not offered in completion above usings in C#"
**Version Used**: 15.5 Preview2

Can't find the old bug for this, so making a new one.

Developer Community Link: https://developercommunity.visualstudio.com/content/problem/25009/cannot-expand-snippet-at-top-of-source-file.html

[2017-10-23 22:20] controlflow opened #22813 "Dynamic invocations + `in` arguments"
Master branch @ 24.10.2017.

The following invocations produce the same dynamic call site:
[code]

Either disallow `in` modifier in dynamic invocations at all or emit `ref` argument passing instead (this should work with `in` parameters, isn't it?).

p.s. Will `Microsoft.CSharp.dll` be updated to support `in` parameters to allow implicitly `in` arguments passing? cc @VSadov

[2017-10-23 23:23] debonte commented on #22674
We tracked this back to an issue with DTBB where it fails to provide the assembly references to Roslyn when VS is launched from a Razzle prompt.  So, not a Roslyn bug.  You can work around this issue by disabling DTBB ("Allow parallel project initialization").

[2017-10-23 23:23] #22674 closed

[2017-10-23 23:38] #22270 closed

[2017-10-23 23:53] #21451 closed

[2017-10-23 23:59] paulvanbrenk commented on #22776
Consistently see this in all object initializers in the Node Tools code base.

![image](https://user-images.githubusercontent.com/5273975/31918828-83d8a2d8-b813-11e7-9da7-e52051fc4e35.png)

[2017-10-24 01:25] tmat opened #22815 "PathMap incorrectly handles unix-style root path"
On Windows running this command:

[code]

produces document name ```\a.cs``` in the PDB while I expect it to be ```/a.cs```.

The problem is the combination of trimming separators here:

http://source.roslyn.io/#Microsoft.CodeAnalysis/CommandLine/CommonCommandLineParser.cs,209

and then then not having the separator available in this check:

http://source.roslyn.io/#Microsoft.CodeAnalysis/FileSyst

[2017-10-24 01:25] tmat commented on #22815
@jaredpar @gafter

[2017-10-24 01:30] jinujoseph commented on #7364
Another hit
https://developercommunity.visualstudio.com/content/problem/135785/extract-method-encountered-an-error.html

[2017-10-24 01:52] TonyValenti opened #22816 "Property is completed in C# object initializer despite being read-only"
**Version Used**:
Visual Studio 2017 (15.5.0 Preview 1)

**Steps to Reproduce**:

[code]

**Expected Behavior**:
No members show up in AutoComplete when I do var C = ....

**Actual Behavior**:
Both First and Second actually show up even though there is no way I can assign anything to them.

[2017-10-24 01:58] svick commented on #22816
The fixed issue https://github.com/dotnet/roslyn/issues/13158 is almost the inverse of this one. Its fix (https://github.com/dotnet/roslyn/pull/20726) seems to check whether the type or *an interface it implements* has an `Add` method. And array does have that, `T[]` implements `IList<T>`, which has `Add(T)`. But array implements it implicitly, so `new OnlyGets() { First = "" }` doesn't actually c

[2017-10-24 02:58] ufcpp opened #22817 "Confusing error message for Span stackalloc"
**Version Used**:

15.5 Preview 2

**Steps to Reproduce**:

Convert `stackalloc T` expression to `Span<T>`.

![image](https://user-images.githubusercontent.com/3760955/31922647-35df7a40-b8b1-11e7-8603-cca084cb4b09.png)

**Expected Behavior**:

Judging from the [test code](https://github.com/dotnet/roslyn/blob/c83671f83929da8bb0674b99f192c894da9146a0/src/Compilers/CSharp/Test/Semantic/Semantics/Spa

[2017-10-24 03:10] pdelvo commented on #22804
After a lot of debugging I think I tracked down the root cause:

- The analyzer uses a SpeculativeSyntaxModel to check wether or not changing `numbers[(int)position[1]]` to `numbers[position[1]]` would change the semantics.

- While trying to bind `numbers[position[1]]` it correctly notices the overload resolution error.
- This is marked by setting OriginalIndexersOpt to the right (not default) va

[2017-10-24 04:19] #22066 closed

[2017-10-24 04:19] #22486 closed

[2017-10-24 04:26] ericmutta opened #22818 "VB: Editor should provide option to preserve whitespace around assignment operator."
**Version Used**:

Visual Studio Community 2017 v15.3.3

**Steps to Reproduce**:

Over the years VB's pretty printer has become "less aggressive" which is quite handy when formatting code for readability/clarity. For example, with the relaxation around line continuation characters we can now easily write this:

[code]

This flexibilty also applies to the assignment operator, so you can do this:

[

[2017-10-24 10:41] MkazemAkhgary opened #22821 "DebuggerTypeProxy RawView must come first"
when a collection has 1000 items, ill see 1000 items first and I have to scroll down all over (and wait for a lot of time) to see RawView at end.

Why is it like that? it should be at first so some one doesn't want to see 1000 items in collection and just want to access and view internal fields can do that without trouble.

![image 3](https://user-images.githubusercontent.com/15255162/31938624-e81

[2017-10-24 11:03] benaadams commented on #22821
Something like switching [DebuggerTypeProxyExpansion.cs](https://github.com/dotnet/roslyn/blob/fa7f6c9f86f537a93142a96fc688a9147b122491/src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/DebuggerTypeProxyExpansion.cs#L175-L183) from
[code]
To
[code]
?

[2017-10-24 11:13] MkazemAkhgary commented on #22821
@benaadams yes please.

[2017-10-24 11:16] wgutierrezr commented on #18348
Hi @CyrusNajmabadi
My company policy doesn't allow me to send you any type of information. I'm working on a project ASP.Net Core 2.0 MVC with VS2017 Pro, and I had to copy _ViewImports.cshtml for every View folder I have in my project. After upgrade VS2017, when I open any _ViewImport file it shows the code in gray and the message when you have the mouse pointer on any line of code.

It doesn't bl

[2017-10-24 14:33] nickgravgaard commented on #16088
Could I suggest using my elastic tabstops invention? You can try it by downloading this [demo app](https://github.com/nickgravgaard/ElasticNotepad/releases) (run it with `java -jar ElasticNotepad.jar`), and see the core code here: [elasticTabstops.scala](https://github.com/nickgravgaard/ElasticNotepad/blob/master/src/main/scala/elasticTabstops.scala)

Elastic tabstops is already used by a [growing

[2017-10-24 14:46] #22757 closed

[2017-10-24 15:09] maxdeviant opened #22822 "VS 15.4.1 usage unbearably slow when Git source control plug-in is enabled"
**Version Used**: Visual Studio Enterprise 2017 v15.4.1

**Steps to Reproduce**:

1. Turn on Git source control integration (`Source Control > Plug-in Selection > Git`)
2. Open up solution inside of Git repository referencing one or more projects in the same repository
3. `git.exe *32` memory usage skyrockets (Figure 1)
4. `git.exe *32` process disappears; `devenv.exe *32` memory skyrockets, which

[2017-10-24 15:19] mavasani opened #22823 "Do not generate a statement operation within using declaration"
See https://github.com/dotnet/roslyn/pull/22774#discussion_r146455755.

[2017-10-24 15:43] mavasani opened #22824 "IConversion.IsExplicitInCode is redundant"
We now expose IOperation.IsImplicit, so IConversion.IsExplicitInCode is redundant and can be removed.

[2017-10-24 15:48] MkazemAkhgary opened #22825 "Add option to change stack size"
Please add this option to change stack size of executable of project, other wise please explain why such option is not or will not be added.

Thanks in advance.

(this wont be a bad practice, some one who wants to change stack size will do it anyway in end of the day.)

[2017-10-24 15:52] vsfeedback opened #22826 "How should csharp_style_expression_bodied_methods be defined in editorconfig"
It is unclear how one should define &quot;When on single line&quot; value for csharp_style_expression_bodied_methods and alike settings in editorconfig.

ttps://github.com/dotnet/roslyn/blob/master/.editorconfig has a sample using true/false but these settings have 3 values: Never, When possible and When on single line

_This issue has been moved from https://developercommunity.visualstudio.com/co

[2017-10-24 16:03] sharwell commented on #22826
@kuhlenh It seems the [documentation page](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference) is missing information about the `when_on_single_line` value allowed for these options.

[2017-10-24 16:13] #22385 closed

[2017-10-24 16:53] dee-see opened #22827 "Roslyn incorrectly reports a tuple enumerable parameter as unused when the usage is tuple deconstruction"
**Version Used**:
Microsoft Visual Studio Professional 2017
Version 15.4.1
VisualStudio.15.Release/15.4.1+27004.2005

**Steps to Reproduce**:

Using the following code

[code]

**Expected Behavior**:
`tuples` argument of the `Foo` function should be reported as used, Find All References should work, etc.

**Actual Behavior**:
`tuples` argument of the `Foo` function is reported as unused. Find All

[2017-10-24 16:58] mavasani opened #22828 "Add auto verification for Operation.Type property in OperationTreeVerifier"
See https://github.com/dotnet/roslyn/pull/22774#issuecomment-338804156

[2017-10-24 17:06] MkazemAkhgary opened #22829 "[Proposal] Catch StackOverflow with special attribute"
**Proposal**

Why make it hard for users to deal with SO?

Some methods are prone to SO exception, not by infinite recursive, but simply because recursion becomes too deep, some times `stackalloc` can cause this exception too.

attaching special attribute should make this possible and user is aware of performance or memory overheads.

[code]

[2017-10-24 17:28] bradmarder opened #22830 "Dictionary with Func with DateTime does not compile (parsing error)"
[code]

[code]

Doing any of the following will make it compile.
-Changing the `<` sign to `>`
-Changing the `<` sign to `==`
-Removing the line ` [1] = x => true`
-Adding `&& true` to the expression `DateTime.UtcNow < DateTime.UtcNow`

[code]

[2017-10-24 17:54] Andrey-Anatolyevich commented on #22507
@agocke, I've found the line which causes the crash..

You check this file:
http://source.roslyn.io/#Microsoft.CodeAnalysis/InternalUtilities/EnumField.cs,e98746bef4cc9b4a,references
Roslyn.Utilities -> internal struct EnumField -> private class EnumFieldComparer : IComparer<EnumField>
Line 77

This code: ": (int)diff;" crashes if "diff" can't be fit into integer.

Please, fix the error in the com

[2017-10-24 18:03] agocke commented on #22507
Yup, I've already found the issue. :)

However, I'm not sure the that's the root cause or the right fix. Sorting an array to find a single value, as this does in non-flag enums, does not even make sense.

[2017-10-24 18:13] svick commented on #22829
I don't think this a proposal for Roslyn. The compiler has no way to catch the exception, it's the runtime that has to let you do that. As such, I think this proposal belongs to [the CoreCLR repo](https://github.com/dotnet/coreclr/).

[2017-10-24 18:15] MkazemAkhgary commented on #22829
thanks for noting that. ill move this issue. @svick

[2017-10-24 18:16] #22829 closed

[2017-10-24 18:24] 06needhamt opened #22832 "Naming style code fix does not insert underscores between uppercase words"
Variant of #22754

[2017-10-24 18:26] 06needhamt commented on #22754
PR is Out! #22831

[2017-10-24 18:52] jcouv opened #22834 "Fix more instances of GetSpecialType(SpecialType.System_Object, diagnostics, node)"
This was fixed for unary operator, but @AlekseyTs [spotted](https://github.com/dotnet/roslyn/pull/22739#issuecomment-338749075) some more instances.

[2017-10-24 19:00] tmat opened #22835 "Unable to use paths with spaces in PathMap"
Version used: 15.5. Preview 2 (27019.1.d15rel)

Repro:

Create a new .Core console app in a directory that contains spaces (e.g. ```C:\Users\{user}\Documents\Visual Studio 2017\Projects\ConsoleApp1```):

[code]

Edit the project file and add:

[code]

Build and run the app. It should print:

[code]

but prints

[code]

which means the PathMap wasn't applied.

Setting the value to ```<PathMap>"$(MS

[2017-10-24 19:00] tmat commented on #22835
@jaredpar @gafter

[2017-10-24 19:12] Andrey-Anatolyevich commented on #22507
Well, I did not dig deep into code which called crashing part. If you decide it's not right to call the comparer at all, it's fine.
But comparer itself is obviously have the flaw.

I bet, it's good Idea it fix the comparer's flaw. Over that, if other refactoring is appropriate, let it be. But at least VS wouldn't crash any longer.

[2017-10-24 19:36] svick commented on #22830
Based on `git bisect`, this is a regression caused by #22102.

[2017-10-24 19:57] Saibamen commented on #22663
This same with microsoft.net.compilers 2.4.0

[2017-10-24 20:10] agocke commented on #22507
@Andrey-Anatolyevich Yup, we'll definitely fix that for you.

[2017-10-24 20:25] AlekseyTs commented on #7582
Looks fixed already.

[2017-10-24 20:26] #22635 closed

[2017-10-24 20:26] #22723 closed

[2017-10-24 21:10] tmat commented on #21700
Another hit: https://ci.dot.net/job/dotnet_roslyn/job/dev15.5.x/job/windows_debug_vs-integration_prtest/125/

[2017-10-24 21:49] chborl commented on #7043
@dotnet/roslyn-ide and @dotnet/roslyn-analysis, I would like to get your thoughts on how best to approach this based on what I've found in C# Essentials and other analyzer tools on the web, and also how I've seen nameof used in Roslyn.  Please comment on the following scenarios and possible approaches. Which ones do you think should be covered?

Scenario 1) Parameters
Look for arguments that are s

[2017-10-24 21:59] rchande commented on #21700
@dpoeschl @jinujoseph Can you help assign this to someone else?

[2017-10-24 21:59] jcouv commented on #22771
Fixed in post-dev15.5-contrib branch.

[2017-10-24 21:59] #22771 closed

[2017-10-24 22:10] jcouv commented on #13435
Fixed in post-dev15.5-contrib branch

[2017-10-24 22:10] #13435 closed

[2017-10-24 22:16] #22823 closed

[2017-10-24 23:33] khyperia opened #22840 "SyntaxEquivalence.AreEquivalentRecursive does not have a recursion depth bound"
This can cause a stackoverflow in the IDE and cause a VS crash.

I'm not at a Windows machine to repro this in VS, but:

1) Create a file consisting of nothing but 3000 open parentheses
1) Try to edit the file (trigger incremental reparse?)

Expected behavior:

Stack guard stops the comparison (perhaps fails with `ERR_InsufficientStack` somehow?)

From @swgillespie:

[code]

![image](https://user-

[2017-10-25 00:05] VSadov opened #22841 "Readonly references to array elements should suppress covariance check"
intuitively the following should work:

[code]

However, it throws exception at run time:
[code]

The IL pattern that we emit induces a strict dynamic type check for the array's actual element type. That check is not needed since `in` parameter guarantees that it will not be used for writing.

As a result we are not only wasting cycles on unnecessary check, but also preventing completely type-safe

[2017-10-25 00:07] HaloFour commented on #22825
@MkazemAkhgary

[Thread Constructor (ThreadStart, Int32)](https://msdn.microsoft.com/en-us/library/5cykbwz4.aspx)

If 4 MB isn't enough I'd suggest that you're probably doing something wrong.

[2017-10-25 00:08] VSadov commented on #22841
I think we might want to fix this for 15.5

[2017-10-25 00:10] VSadov commented on #22841
CC: @jaredpar  @jcouv

[2017-10-25 04:15] Thaina commented on #10449
I think this is not specific language design but a compiler or IL generator optimization which should alive on roslyn. Thus I request this thread to be reopened here

This feature does not make any change in any language. IL generated is the thing that should be optimized and analyzed

[2017-10-25 05:25] alrz commented on #7043
we could run a look up on any string literal that maches identifier regex, if it succeed, there is a symbol with the same name and we can offer the fix.

[2017-10-25 06:05] jcouv commented on #22830
Thanks all (for the report, tracking down the root cause, and proposing a fix).
Tagging @gafter (given this is a regression, it may meet the bar for 15.5).

[2017-10-25 06:12] MkazemAkhgary commented on #22825
@HaloFour I'm using stackalloc to create a temporary array. size of temporary array is `N + 1` and result size of result is `N`. Its just an optimization. I'm aware of Thread constructor, but why such option is not added?

Here is the use case.

https://github.com/dotnet/csharplang/issues/1040#issuecomment-339159749

[2017-10-25 09:04] therohansanap commented on #11250
Same error

[2017-10-25 09:44] benaadams commented on #22825
You might not want to go too big with stackalloc as it has a zeroing cost. `new Type[N]` is faster because the GC has zero'd the memory up previously (ofc you then pay the GC cost later)

[2017-10-25 10:57] yaakov-h commented on #22825
@MkazemAkhgary If you need a very big array, why not put it in the heap, the place where big memory things are supposed to go?

Stack-allocating 50,000 of something seems like way too big a number... even with a full 1MB default stack you'd only have 20 bytes per object.

[2017-10-25 13:53] Esidar commented on #16088
"Wouldn't it be nice if we didn't have to use ugly monospaced fonts?". No. Code formatting is all about order and structure. Proportional font is anything but order. Proportional is good for reading 1D stream of characters, row by row. Code is about 2D view where rows and columns matter.
Just an opinion and personal preference.

[2017-10-25 15:09] DJacquard commented on #7364
That last submission on Developer Community was mine. In answer to your comment, paradoxically I can't give you steps for repro or a solution that exhibits the problem though it does happen to me reliably. By reliably I mean it will fail precisely when I need to use it in a real-world work situation but never when I'm testing to see if it the function is broken.

[2017-10-25 16:24] jasonmalinowski commented on #7043
I would avoid (or at least deprioritize) Scenario 3. That pattern is a pattern we use in Roslyn when we need a string literal but we otherwise don't really care what the value is; I'm not sure that is necessarily the case for customers. For many, the point of a constant is the value is "fixed" by some external definition (network protocol spec, for example) and renaming a constant shouldn't actual

[2017-10-25 16:50] mavasani commented on #22751
Design decision: Generate parenthesized operations for C#. This makes it consistent and avoids surprises where GetOperation returns null for a parenthesized expression node.

[2017-10-25 17:42] jaredpar commented on #21421
Fixed now.

[2017-10-25 17:42] #21421 closed

[2017-10-25 18:55] #7582 closed

[2017-10-25 20:27] #22196 closed

[2017-10-25 20:51] dee-see commented on #22827
I have the same issue with local variables, not only method parameters.

[2017-10-25 21:58] heejaechang commented on #22766
@jinujoseph @sharwell said this is already fixed.

[2017-10-25 21:58] #22766 closed

[2017-10-25 21:59] heejaechang commented on #22766
@sharwell curious. when Busy or Locked situation happens, does persistent service retry or just throw exception or return false for the caller to handle?

[2017-10-25 22:23] nickgravgaard commented on #16088
@Esidar Elastic tabstops is all about structure, just one based on tab separated columns rather than a 2D monospaced character grid. If you want to use monospaced fonts you still can, but it's not forced on everyone in the team.

But that's all if you use elastic tabstops to keep code aligned as you type in your editor/IDE. If you go the pretty-printer route (like `gofmt`), the elastic tabstops fo

[2017-10-25 22:25] jcouv commented on #22827
@dee-see I'm not able to repro this problem with a vanilla Visual Studio 2017 version 15.5. As shown in screenshot below, there are no errors in the IDE or in the build, and Find All References on `a` works as expected.
I don't think we did any significant change related to tuples since 15.3. So I suspect the problem is indeed caused by one of the add-ins you mentioned.

If you have the error code

[2017-10-25 22:26] jcouv commented on #22817
Tagging @VSadov @OmarTawfik

[2017-10-25 22:30] jcouv commented on #22821
@jinujoseph Could you help route/triage this?

[2017-10-25 22:46] jcouv commented on #22700
@agocke Please take a look and move to 15.later if you don't think this meets the current 15.5 bar.

[2017-10-25 22:48] agocke commented on #22700
I looked into this and it doesn't seem to be a problem in closure conversion -- it's a problem in binding. We end up producing two bound conversion nodes. As far as I can tell, this has been in the product for a while, I don't think it will meet the 15.5 bar.

[2017-10-25 22:48] jcouv commented on #20127
@gafter @VSadov Can you two sync up on updating the status on this test plan? Thanks

[2017-10-25 22:51] jcouv commented on #22261
@VSadov Does this issue meet the 15.5 bar? If not, move to 15.later. Thanks

[2017-10-25 22:55] jcouv commented on #16821
@agocke @khyperia Given the current 15.5 bar, I think we should move this to next release. Let me know if you think otherwise. Thanks

[2017-10-25 23:03] jcouv commented on #18644
Moving to 15.later. Yell if it should stay in 15.5.

[2017-10-25 23:39] tmat commented on #22821
I don't think we want to move Raw View to the front. Raw View is not not what most users want to see.

That said, I think we can improve visualization of arrays in VS. For example, VS Mac displays them using a tree view, where you can dig into parts of the array by groups, e.g.:
[code]

On every level there is at most 10 entries. Getting to the end is easy.

@KayAnd

[2017-10-25 23:41] #22806 closed

[2017-10-26 00:10] 333fred opened #22855 "Missing array bounds for certain VB initializers."
See https://github.com/dotnet/roslyn/pull/22842#issuecomment-339467500.

[2017-10-26 00:17] Leon99 commented on #22663
The same here, Microsoft.Net.Compilers 2.4.0. All good when the package is removed.

[2017-10-26 00:42] benaadams opened #22857 "[Discussion] Method linking"
## Background

For async and iterator statemachines the source method can be linked back from the running method using the StateMachineAttribute and knowledge that the statemachine is defined in a type at the same level as the source method https://github.com/dotnet/coreclr/pull/14655

![Match back](https://aoa.blob.core.windows.net/aspnet/matching.png)

However; this is an implementation detail o

[2017-10-26 01:16] tmat commented on #22857
@tmat

[2017-10-26 01:45] VSadov opened #22858 "Implicit reference conversions to array types should emit cast for verifiability"
The following results in unverifiable code:

[code]

It looks like Roslyn had this bug since V1, while native compiler emits verifiable code.

The reason is that arrays of reference types are assignment-compatible when element types are array-element-compatible. However while an instance of `Derived` can act as an instance of `Base`, it is not true for arrays per verification rules. It is not perm

[2017-10-26 05:40] MkazemAkhgary commented on #22821
@tmat that will work too. It would be also good if you wanted to jump to specified index. When i want to debug a parser i want to see content of arrays, they are not small. That forces me to write separate code to see content.

A textbox that is always visible would help.

[2017-10-26 06:14] aelij opened #22859 "Cannot create an XmlSerializer of a type defined in a script"
**Version Used**: 2.3.2 (VS 15.4)

**Steps to Reproduce**:

In C# Interactive:

[code]

**Expected Behavior**:
Return an `XmlSerializer`.

**Actual Behavior**:
[code]

**Analysis**:
I believe the issue is that generated assembly name for script assemblies contains an invalid character for the file system (`#`), and when the serializer attempts to load a serialization assembly, it fails.

https://g

[2017-10-26 06:30] kentcb opened #22860 "Disable code analysis for generated code in SDK-style csproj"
Ultimately I am trying to exclude all the _.xaml.g.cs_ files from code analysis when consuming Xamarin.Forms from a netstandard library. This does not seem to be possible, making CA next to useless for Xamarin.Forms projects.

**Version Used**:

SDK-style csproj in VS2017.

**Steps to Reproduce**:

1. Create SDK-style project.
2. Make sure there is some generated code, like a Resources.resx
3. Ins

[2017-10-26 07:41] benaadams commented on #22821
@tmat chrome takes a similar approach in is dev console - its a very useful representation

[2017-10-26 12:00] 06needhamt commented on #22367
Can't repo this using the master branch and VS 15.4.1

[2017-10-26 12:18] denzelition opened #22866 "Severity Code Description Project File Line Suppression State Error "csc.exe" exited with code -1073741819."
**Version Used**: Microsoft Visual Studio Community 2017 Visual C# 2017

**Steps to Reproduce**:

Try to run any build whatsoever. Like literally something as simple as "Console.Write("hey"); Console.ReadLine();"

**Expected Behavior**: The code runs. The console pops up and I see "hey" and then press Enter to exit it.

**Actual Behavior**: Building takes very long and eventually fails with this e

[2017-10-26 14:07] sanilpaul commented on #15056
@aggieben I got it resolved by following the last comment in Microsoft/msbuild#2369 . Before creating the workspace, set the environment variable through code. Basically, you would do
[code]

[2017-10-26 14:33] Saibamen commented on #22663
Build log when I deleted Microsoft.Net.Compilers:
https://circleci.com/gh/Saibamen/BriskChat/81

Build process is ok, but I can't test

[2017-10-26 15:08] Esidar commented on #16088
@nickgravgaard I was referring to "proportional fonts" not "elastic tabstops". I don't care if VS will incorporate elastic tabstops :)

... of course as long as there will be option to disable it. People fight on internet over spaces vs tabs :) That's because it changes keyboard navigation (how various key combinations work, the way the cursor moves, etc). I'm assuming your solution is using space

[2017-10-26 15:55] sharwell commented on #22766
@heejaechang I'm not actually sure there.

[2017-10-26 17:04] AlekseyTs opened #22869 "We should consider simplifying an assert in BoundInterpolatedStringExpression.Validate"
See https://github.com/dotnet/roslyn/pull/22795#pullrequestreview-71284928

src/Compilers/VisualBasic/Portable/BoundTree/BoundInterpolatedStringExpression.vb
@@ -36,6 +36,7 @@ Namespace Microsoft.CodeAnalysis.VisualBasic
 #If DEBUG Then
         Private Sub Validate()
             Debug.Assert(Type.SpecialType = SpecialType.System_String)
+            Debug.Assert(Not Contents.Where(Function(conte

[2017-10-26 17:04] jega327 opened #22870 "Formatting throws an unhandled NullReferenceException after upgrading to 2.x"
**Version Used**:

2.4.0

**Steps to Reproduce**:

Run the following sample code:

[code]

**Expected Behavior**:

`Formatter.Format()` returns the formatted class like before (1.x Roslyn Version from about December 2016)... or reports an error, if the class' syntax is wrong.

**Actual Behavior**:

Throws an unhandled exception:

_System.NullReferenceException: Der Objektverweis wurde nicht auf ei

[2017-10-26 17:26] dee-see commented on #22827
`a` works fine indeed, but try finding references on the `tuples` used in the foreach instead.

![image](https://user-images.githubusercontent.com/7252342/32067427-2b9173da-ba51-11e7-893f-ff47d5df1f7a.png)

I get nothing from Find References
![image](https://user-images.githubusercontent.com/7252342/32067316-c6065f08-ba50-11e7-9a14-a2735a3353d8.png)

Same result when I try on an installation witho

[2017-10-26 17:39] jcouv commented on #22827
Ah, indeed. Thanks for the clarification.
This is a duplicate of recently reported https://github.com/dotnet/roslyn/issues/22495. I'll close this issue.
I'll target a fix for 15.6

[2017-10-26 17:39] #22827 closed

[2017-10-26 17:40] jcouv commented on #22495
More details in linked issue.

The screenshot shows that references to `tuples` are not tracked in a deconstruction-foreach:
![image](https://user-images.githubusercontent.com/7252342/32067427-2b9173da-ba51-11e7-893f-ff47d5df1f7a.png)

[2017-10-26 19:07] 06needhamt commented on #21948
PR is Out! #22871

[2017-10-26 19:08] paul1956 commented on #22539
Following the "example" of SyntaxEditorBasedCodeFix sends one does a serious rabbit hole. It depends on a slew of other internal code which I also question being internal, why would ArrayBuilder or SpecializedCollection be internal. I would like to see it made public and let the user beware. Using it for the wrong situations isn't any worse than using the current WellKnownFixAllProviders.BatchFixe

[2017-10-26 19:09] 06needhamt commented on #21946
PR is Out! #22871

[2017-10-26 19:10] 06needhamt commented on #21948
I am currently working on a fix for this along with #21946

[2017-10-26 19:15] mavasani commented on #22736
Design decision: The receiver should be non-null and indicate that it an instance reference to the anonymous object being created.

[2017-10-26 19:16] mavasani commented on #22735
Design decision: Receiver should be non-null and indicate it refers to the attribute instance.

[2017-10-26 19:29] jcouv opened #22872 "[Umbrella] Refresh IL verification"
Recent versions of the C# compiler produce unverifiable code (by current spec). All new compiler tests that hit this just disable the verification step, but we'd like to reverse the trend.
Below is a rough plan how we can be back to verifying the compiler output.

- [ ] Switch to ILVerify in compiler test suite (try, file bugs, perf?)
- [ ] Add support for ref return
    - [ ] Propose informal spe

[2017-10-26 19:30] jcouv commented on #22872
Tagging @discostu105 too, as FYI

[2017-10-26 19:41] mavasani opened #22873 "Add unit tests for IParenthesizedOperation"
See https://github.com/dotnet/roslyn/pull/22846#discussion_r147018917 (context of different syntax nodes as child) and https://github.com/dotnet/roslyn/pull/22846#discussion_r147017789 (error cases)

[2017-10-26 20:07] AlekseyTs commented on #21311
This is what we currently have in compiler:

Symbols:
-	LocalSymbol has RefKind property, but it looks like ILocalSymbol doesn’t have it, it has boolean IsRef property.
-	IParameterSymbol has RefKind

Bound nodes:
-	BoundAssignmentOperator has RefKind
-	BoundReturnStatement has RefKind
-	BoundConditionalOperator has Boolean IsByRef property

I discussed this with @VSadov and @agocke.
Here is our p

[2017-10-26 20:12] 06needhamt commented on #16982
PR is Out #22874

[2017-10-26 21:22] jcouv commented on #22382
Confirmed with Neal that the current behavior makes sense.
- `(x, y) = (1, 2)` requires SVT for binding, although it's not emitted.
- `(x, y) = e` doesn't require SVT for binding (or emitting)

Closing the issue.

[2017-10-26 21:22] #22382 closed

[2017-10-26 22:04] jinujoseph commented on #21311
remove the Addressof

[2017-10-26 22:57] mavasani opened #22877 "Re-enable CA1825 (AvoidZeroLengthArrayAllocationsAnalyzer) once we move the analyzer to latest IOperation APIs"

[2017-10-26 23:11] mavasani commented on #22877
Not required, this rule is already disabled.

[2017-10-26 23:11] #22877 closed

[2017-10-26 23:36] jcouv commented on #22872
@VSadov posted a proposal for informal spec for ref return: https://github.com/dotnet/designs/pull/17

[2017-10-26 23:38] mavasani opened #22879 "Assert about multiple explicit operation nodes with same syntax in VB"
I tried to add following VB test as part of https://github.com/dotnet/roslyn/pull/22846 without doing any source changes and I see the following assert fire: `Assert.False(true, $"Duplicate explicit node for syntax ({operation.Syntax.RawKind}): {operation.Syntax.ToString()}");` where both IDelegateCreation and IAnonymousObjectCreation have same syntax

[code]

[2017-10-26 23:38] mavasani commented on #22879
Tagging @AlekseyTs

[2017-10-26 23:44] AlekseyTs commented on #22879
@mavasani Could you temporarily suppress the assert so that you can get the tree and add it to the issue?

[2017-10-26 23:48] controlflow opened #22880 "Attribute ctor with 'in' parameter + implicit 'in' argument"
**Version Used**:

Master branch from 27.10.2017

**Steps to Reproduce**:

[code]

**Actual Behavior**:

It compiles :) Cecil [crashes](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4G0CCAKAjASgLoCwAUAAIBMABGhSBSVgHRowwICWwArvBQN7EUqGNgDsKomBQAeOPhQC+xeUA==) when trying to read metadata produced.

**Expected Behavior**:

Compiler error over `1` argument range.

p.s. Error message in the case of passing

[2017-10-27 00:32] VSadov commented on #22880
Yes, should be an error. Good catch!

[2017-10-27 00:38] VSadov commented on #21311
Re: operation for ref expression -    alternatively it could just return the operation for the operand.
Just an alternative if returning nothing is inappropriate.

[2017-10-27 00:44] kentcb commented on #22860
Seems one trick is to add this to the `Initialize` method of the diagnostic:
[code]
However, this assumes the consumer has control over the diagnostic, which is true in my case, but am guessing not always.

Also, the heuristic appears to be that generated code is anything with `[GeneratedCode]` or an `<auto-generated>` header. It does _not_ appear to honor `[CompilerGenerated]`.

[2017-10-27 02:26] vsfeedback opened #22881 "Quick actions create duplicate region blocks"
Applying quick action IDE0018 (Inline variable declaration) when the code is inside a region block following a previous region block, the second region block gets duplicated.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/137729/quick-actions-create-duplicate-region-blocks.html
VSTS ticketId: 514426_
_These are the original issue comments:_

Michael Bu

[2017-10-27 02:41] jcouv commented on #22347
Fix merged (should release in 15.6).

[2017-10-27 02:41] #22347 closed

[2017-10-27 05:47] jcouv commented on #22880
@VSadov I feel this is cornercase enough that it wouldn't meet the bar for 15.5.
15.6 ok?

[2017-10-27 05:50] jcouv commented on #22872
@VSadov Note that ILVerify is currently only built for target framework `netcoreapp2.0`, but the compiler emit tests aren't yet built or run for this target. We'll either have to change ILVerify to also target `net46`, or we'll have to find a way for emit tests to target `netcoreapp2.0`...

[2017-10-27 06:06] jcouv commented on #22866
Sorry you're having such a bad experience (compiler crash).
To figure out the root of the crash, I would need a crash dump (here are [instructions](https://github.com/dotnet/roslyn/wiki/Troubleshooting-tips#using-a-registry-setting) on getting one, basically set a registry key, then repro the problem, save the resulting dump file).

If you want to get unblocked for your exams, you could also try u

[2017-10-27 06:08] jcouv commented on #22813
Relates to https://github.com/dotnet/roslyn/issues/22648

[2017-10-27 06:17] jcouv commented on #22859
Tagging @tmat

[2017-10-27 10:51] rik-smeets opened #22884 "Initialize field from constructor parameter defaults to using "this.", where it should default to field with prefixed underscore"
**Steps to Reproduce**:

1. Ensure you don't have custom naming styles set in Visual Studio.
2. Add a constructor to some class with a parameter which is not initialized yet:

[code]

2. Open Quick refactorings (Ctrl + .) at the parameter name and choose: `Create and initialize field (..)` .

**Expected Behavior**:
I expect the field to be created with a prefixed underscore `_` and initialized lik

[2017-10-27 11:04] benaadams commented on #22857
As an example on what change processing the stack trace in this (and a couple other ways) is it transforms this output
[code]
To this
[code]
 https://github.com/aspnet/Common/pull/274#discussion_r147352931

[2017-10-27 13:03] rik-smeets commented on #22884
If you agree, I have a fix ready for this. It can already be viewed [here](https://github.com/rik-smeets/roslyn/commit/144444c144c8a1492ac58b00b668312d46c6f4c7?diff=split).

[2017-10-27 13:59] mkrueger opened #22885 "Bug 60365 - Escaped keywords autocomplete to the unescaped keyword"
Type "@class<space>", when hitting space "@class" switches to "class".

See: https://bugzilla.xamarin.com/show_bug.cgi?id=60365

[2017-10-27 15:51] vsfeedback opened #22886 "VS 2017 15.4 Crashes while editing .cs file"
Apologies for the cross-post, but I am unable to tie this to the existing problem: https://developercommunity.visualstudio.com/content/problem/133454/vs-2017-154-crashes-while-editing-cs-file.html and I am unable to upload the crash dump file to a comment on the original post as requested by Jinu Joseph [MSFT].

I have installed version 15.4.1 as requested and still see the issue reported earlier.

[2017-10-27 15:53] sharwell commented on #22886
The stack trace from the heap dump indicates a problem in the error handling for naming recommendations + naming styles:

[code]

[2017-10-27 17:18] cston opened #22887 "Replace CSharpCompilation._needsGenerated*Attribute_IsFrozen with _declarationDiagnosticsFrozen"
Remove `CSharpCompilation._needsGenerated*Attribute_IsFrozen` fields and replace with `_declarationDiagnosticsFrozen`.

[2017-10-27 17:30] jcouv commented on #22380
post-dev15.5-contrib branch now uses C# 7.2. Closing.

[2017-10-27 17:30] #22380 closed

[2017-10-27 18:07] mojtabakaviani opened #22889 "Anonymous type to value tuple casting"
With many improvments for value tuple type, now if can casting anonymous type to tuple. a big change in MVC when pass model to view. for example:
return model:
[code]
in view:
[code]

but before is must solved #12897

[2017-10-27 18:12] jcouv opened #22890 "Update Roslyn to use RTM version of SDK instead of preview"
Follow-up on https://github.com/dotnet/roslyn/pull/22812 which switched us to using SDK `2.1.1-preview-007094`.

Update: it was updated to `2.2.0-preview1-007622` by Jared since.

[2017-10-27 18:19] agocke opened #22891 "Move compiler test ref assemblies to one of the test resources assemblies"
Some background here:

The compiler tests usually need to compile code against some set of assemblies. Most of those assemblies are stored as resources in a few "TestResources" projects. When the compiler tests need reference assemblies, they pull the resource out of the test resources assembly and use the byte stream to construct a reference assembly in-memory.

There's an important exception to

[2017-10-27 18:20] agocke commented on #22891
fyi @jcouv

[2017-10-27 18:22] agocke commented on #22891
Also see @jcouv's comment here: https://github.com/dotnet/roslyn/pull/22812#pullrequestreview-72587991

We can also remove the workarounds for the "fallback folder" from the SDK.

[2017-10-27 18:35] KirillOsenkov opened #22892 "Rename dashboard cross button doesn't look like a cross"
**Version Used**:
VS 2017 15.3
Windows 10 2 monitors, 200% DPI, each monitor 3840x2160
VS light theme, most settings default

**Steps to Reproduce**:

1. In a C# file, rename an element

![image](https://user-images.githubusercontent.com/679326/32119711-f63be6d8-bb0a-11e7-85f8-7c68c98f4e6a.png)

**Expected Behavior**:
Rename dashboard close button in upper right should look like a cross

**Actual

[2017-10-27 20:04] jcouv commented on #22495
Fix is merged to post-dev15.5-contrib branch (which I think means it will release in 15.6).
Closing

[2017-10-27 20:04] #22495 closed

[2017-10-27 20:05] jcouv commented on #22827
[Fix ](https://github.com/dotnet/roslyn/pull/22878) is merged to post-dev15.5-contrib branch (which I think means it will release in 15.6).
Thanks

[2017-10-27 20:17] uniqueiniquity commented on #16395
@dpoeschl Another possible duplicate case. Please let me know if this is a different issue, but previous investigation of TypeScript indent guide issues have boiled down to our usage of Roslyn.
https://developercommunity.visualstudio.com/content/problem/139664/structure-guidelines-broken-typescript.html

[2017-10-27 20:43] davkean commented on #20101
We're still hits of this in session data.

[2017-10-27 22:53] heejaechang commented on #20101
@davkean do you have a dump? or Watson that I can take a look? I am not sure where that AddRange came from.

[2017-10-27 22:55] davkean commented on #20101
@heejaechang There is no dump, only session data.

[2017-10-27 22:55] davkean commented on #20101
My guess is two packages with the same name but different version.

[2017-10-27 23:11] heejaechang commented on #20101
but code you are referring - https://github.com/dotnet/roslyn/blob/cdde5bd4d36d06b7f8ebe434e82eb5e35b4e1277/src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs#L462

uses MultiDictionary which means it allows multiple value for same key.

so either this is already fixed or actual problem is happening some place else. probably need dump to know sure.

[2017-10-27 23:24] heejaechang opened #22897 "optimize memory used by MethodTypeInferrer"
we got this bug from users.

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/511590

looked, etl from the users
https://vsfeedback.azurewebsites.net/api/fileBlobMetrics/getAzureBlobFromTransferId?transferId=c0009e1c397b45f98ca81dc47aa829ae636443843938150072

looks like issue is this allocating a lot of memory.
http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/S

[2017-10-27 23:25] heejaechang commented on #22897
tagging @sharwell

[2017-10-27 23:38] davkean commented on #20101
You should look at the sessions to see if it's hit past 15.4, Cyrus fixed for that release: https://github.com/dotnet/roslyn/commit/082f9937812a93c339210a7a02e61e73dd4beffc.

[2017-10-27 23:59] michael-freidgeim-webjet commented on #22660
The message should also provide a link, explaining why deterministic is considered a desired setting, e.g.
 http://blog.paranoidcoding.com/2016/04/05/deterministic-builds-in-roslyn.html
and [Compilers should be deterministic: same inputs generate same outputs #372 ](https://github.com/dotnet/roslyn/issues/372)

[2017-10-28 00:26] #22824 closed

[2017-10-28 01:36] #22834 closed

[2017-10-28 21:59] jnm2 commented on #22545
I want something similar but different. ReSharper has right click > "Find usages advanced..." feature where I can find all usages of a property getter or a property setter or the whole property, which I lean heavily on and would like to see in VS.

**Even more useful** to me would be the same thing for fields: find all reads of a field or all writes of a field. (nameof wouldn't count and `ref` wou

[2017-10-28 22:43] CyrusNajmabadi commented on #22545
We have the data for this internally.  It could be expose as a new column in the VS FAR window.  You could hten use that column to 'group by', as you can with the other columns.

[2017-10-28 23:09] jnm2 commented on #22545
I guess that wouldn't be bad, but say you had four classifications: field write, field read, field readandwrite (or ref), and field metadata (nameof). I can sort them but what I really want to do is filter to one of them. Sorting still means I'm scrolling past dozens of hits I don't care about, though the scanning is much nicer with the new column to look at.

[2017-10-28 23:16] jcouv opened #22900 "Fix All for "Use Expression Body for Properties" fixes nothing"
Fixing a single property works, but fixing all does nothing.

I invoke the lightbulb on a single property and get an expected preview. Committing this change behaves as expected too.
![image](https://user-images.githubusercontent.com/12466233/32139365-01dae98a-bbfb-11e7-9865-674251d03cdf.png)

But if I want to fix all occurrences in the document, then there is no effect.
![image](https://user-imag

[2017-10-29 00:11] jcouv opened #22901 "Suggested Name should allow name starting with a prefix"
There are multiple naming conventions which involve prefixes. For instance, `_` for private fields.
But the "suggested name" recommendation doesn't handle such prefixes. In the example below, it should offer `_messageProvider` (amongst others).

![image](https://user-images.githubusercontent.com/12466233/32139611-f5844372-bc02-11e7-94fc-8d0b60225dd8.png)

FYI @CyrusNajmabadi

[2017-10-29 00:57] jinujoseph commented on #22900
@jcouv related to https://github.com/dotnet/roslyn/issues/19089 ?

[2017-10-29 01:13] jcouv commented on #22900
It may be, but the symptoms are not exactly that of #19089.
With #19089, the problem is that fix all only fixes *one*, but the present issue is that fix all fixes *none*.

[2017-10-29 02:37] jinujoseph commented on #22566
reported here https://developercommunity.visualstudio.com/content/problem/115131/editorintellisense-is-showing-non-existance-error.html

[2017-10-29 04:17] jcouv commented on #22889
I'm sorry, I didn't understand the issue.
Does the code you included in your description work? If not, what error are you getting?
If it's possible, could you describe the problem with pure C# (no MVC)? That would help me understand the problem.
Thanks

[2017-10-29 05:49] SergeyTeplyakov opened #22902 "Tuple name inference fail to infer @this element name"
**Version Used**:  master

**Steps to Reproduce**:

[code]

The inferred type is `(Sample, int x)`, but could be `(Sample @this, int x)`.

I work on perf critical application and to avoid closure computation I often pass a tuple into a method similar to [`ConcurrentDictionary.GetOrAdd`](https://github.com/dotnet/corefx/blob/afcbd9a5b9e4ecde2db3a69afd093631f1db91c5/src/System.Collections.Concurrent

[2017-10-29 06:20] jcouv commented on #16016
@tannergooding The instructions seem reasonably up-to-date at this point. Can we close this issue?

[2017-10-29 06:29] alrz commented on #22889
@mojtabakaviani  I think this is a duplicate of #12897 as you mentioned. The example you gave wouldn't be possible without #12897 (and the corresponding feature in EF (or any other LINQ provider)).

[2017-10-29 10:05] Soarc opened #22903 "MissingMethodException when using ValueTuples defined in netstandard2.0 lib from net461"
Microsoft Visual Studio 2017 professional, 15.4.1

**Steps to reproduce**

1. Create netstandard2.0 library and define method that returns value tuple
2. Create net461 console application and add reference to that library.
3. Call method created in 1.

I've created sample project that reproduces issue
https://github.com/Soarc/RoslynCompilerIssue

**Expected Behavior**:
At least should not compile

[2017-10-29 10:34] #16016 closed

[2017-10-29 17:40] jcouv commented on #22902
This is the same behavior as anonymous types: `var x = new { this }; // not allowed` vs `var x = new { @this=this }; // ok`.
I think that's currently by design, so I'll move this suggestion to csharplang repo for discussion.

[2017-10-29 17:40] #22902 closed

[2017-10-29 17:40] jcouv commented on #22902
Issue moved to [dotnet/csharplang #1057](https://github.com/dotnet/csharplang/issues/1057) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-29 18:34] mojtabakaviani commented on #22889
Yes, anonymous types just access in definition block and can not use in deferent code block. #12897 issue is expression trees not support for tuples, but in want can cast anonymous type to tuples.
[code]
in this simple casting anonymous to tuples and can send to other code block.

[2017-10-29 19:34] alrz commented on #22889
no type equivalency is defined between a value type and anonymous types. even if we had support for duck typing, that wouldn't work because tuple names are not present in the type itself, (just as metadata).

[2017-10-29 20:51] kswoll opened #22904 "C# compiler should report CS0165 and the correct identifier when returning an uninitialized struct captured in a closure of a local method"
**Version Used**:
Visual Studio 15.4.1

**Steps to Reproduce**:

Try to compile this code:
[code]

**Expected Behavior**:
For the compiler to report:

Identifying the `return Return();` line inside the `catch` block.

**Actual Behavior**:

The compiler reports:

I believe the current behavior is a bug as the error message is very confusing since I didn't have any field `_ticks` in my code.

[2017-10-29 21:00] maca88 commented on #20848
In order to make it work, you must set the `MSBUILD_EXE_PATH` environment variable.
Add the following line before the lines from the third point:
[code]
To get the correct msbuild path across various operating systems, you can use [this helper method](https://github.com/maca88/AsyncGenerator/pull/65/files#diff-5467dd994d7e4cd45d7811d2b22d82d9R104).

[2017-10-29 21:08] pquiring opened #22905 "IdentifierName Node missing symbol info"
**Version Used**:  2.4.0

**Steps to Reproduce**:

1. compile sample code
2. print SyntaxNode tree

**Expected Behavior**:
IdentifierName node has symbol info

**Actual Behavior**:
In the invocation to setCallback() the IdentifierName SyntaxNode for setCallback has no symbol info making it difficult to analyze code.  The invocation to call() has proper symbol info.

Thanks

[code]

[2017-10-30 00:35] CyrusNajmabadi commented on #22901
Hunh.  I thought i already opened a bug on this :)   I think i talked about this with either @dpoeschl or @rchande .  Shouldn't be hard to do.  And we shoudl make it general.  i.e. if i do this:

```Customer _new```

then we should offer ```_newCustomer``` in the list.

[2017-10-30 02:25] gafter commented on #22887
See https://github.com/dotnet/roslyn/issues/846 for obstacles to this.

[2017-10-30 07:57] jinujoseph commented on #22732
@KevinRansom since we have a work around , should this is closed ?

[2017-10-30 14:48] Pilchie commented on #22901
I think it does *if* you have a naming rule configured, but it doesn't sound like you do.

[2017-10-30 14:56] jnm2 commented on #8210
How bad of a workaround would it be to override the build target with a custom task which makes use of Mono's implementation? https://github.com/mono/mono/blob/mono-5.4.1.6/mcs/class/Mono.Security/Mono.Security/StrongName.cs#L400

[2017-10-30 15:29] rchande commented on #22901
Right, this should work if you have an appropriate naming rule configured.

[2017-10-30 15:31] DustinCampbell commented on #22901
Should it be a bit smarter and recognize that I'm intentionally typing with a prefix?

[2017-10-30 15:32] rchande commented on #22901
We did talk about that at some point; not sure if there's a bug tracking that request.

[2017-10-30 15:33] DustinCampbell commented on #22901
*This* could be that very issue. :smile:

[2017-10-30 16:00] sharwell opened #22908 "Reduce allocations required to get symbol info for extension methods"
**Version Used**: 15.4.1

**Impacted methods:**

Units are ~1/2MB per minute during compilation.

1. Reduce the allocation cost of `MethodTypeInferrer` in `MethodSymbolExtensions.InferTypeArgumentsFromFirstArgument`: (2102 units) Applies to both the instance and the initialization of fields in the constructor
1. `SourceMemberContainerSymbol.GetSimpleNonTypeMembers`: (695 units) The call to `Contai

[2017-10-30 16:04] danmosemsft commented on #22857
Clearly the cleaner stack is an improvement but is it worth retaining some indication of where the async transition happened? It may be relevant.

[2017-10-30 16:20] benaadams commented on #22857
It doesn't differentiate between actual async and a sync completion - they both have the boundary - however I am also experimenting with deeper stack trace insight in a library https://github.com/benaadams/Ben.Demystifier

It marks the methods as `async` and the output is more like:
[code]
However I also have to parse the method's il to get exact overload matching on lambdas/locals without an extr

[2017-10-30 16:59] danmosemsft commented on #22857
I do not understand well how async works, but is it interesting to distinguish whether there was actually an async transition (ie. thread may have done other work) since a method marked async may actually complete synchronously?

[2017-10-30 17:02] benaadams commented on #22857
I'd think so; however the stack traces don't currently differentiate

[2017-10-30 17:17] 333fred opened #22910 "Inconsistent Invalid Expression in VB Array Creation"
See https://github.com/dotnet/roslyn/pull/22842#issuecomment-340513498. With `Dim x(1), y As New Integer`, there is an invalid expression in the tree of the array creation. For `Dim x, y(1) As New Integer`, there is not.

[2017-10-30 17:23] HaloFour commented on #22545
@CyrusNajmabadi

That would certainly scratch my immediate itch if that information was available for both fields and properties.

I think that there is value to the other references types, too, particularly those around where a type is exposed or instantiated.  When refactoring a public type, e.g. hiding it behind an interface, it would help to have a quick way to identify where that type might l

[2017-10-30 17:28] KrzysztofCwalina opened #22911 "Add Language Support for Pinning Span<T>"
Today, Span\<T\> can be pinned, but developers have a hard time remembering the syntax/APIs, and it prevents us from hiding DangerousGetPinnableReference, which is, as the name implies, a dangerous API that can be called in safe context. It would be preferable to hide the method and force users to explicitly and exclusively unsafe constructs.

[code]

This proposal is to add language support that

[2017-10-30 17:53] AdamSpeight2008 commented on #22910
It maybe better to update the parse the first array variable declaration as an Array of Object, then continue to parse the rest as another variable declaration.

[2017-10-30 18:06] jcouv commented on #22903
Thanks for the detailed repro steps. I think there is indeed a problem, but I don't think it's with the compiler.

The compilation of the client project (targeting net461) receives a reference to `C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib\System.ValueTuple.dll` so it has no reason to complain about `ValueTuple` mis

[2017-10-30 18:15] jcouv commented on #22903
I confirmed that the project and compiler behaviors are by design (this solution should build successfully).
Now, for the runtime error, this should work on a machine with .NET Framework 4.6.1 or 4.7 installed, but there is a [known issue](https://github.com/Microsoft/dotnet-framework-early-access/issues/9) when running such programs on a machine with .NET Framework 4.7.1 installed.

Can you confi

[2017-10-30 18:20] tmat opened #22913 "CompilerServerUnitTests.MultipleSimultaneousCompiles failed in CI"
[code]

[2017-10-30 18:20] tmat commented on #22913
https://ci.dot.net/job/dotnet_roslyn/job/post-dev15.5-contrib/job/windows_debug_unit32_prtest/131/testReport/junit/Microsoft.CodeAnalysis.CompilerServer.UnitTests/CompilerServerUnitTests/MultipleSimultaneousCompiles/

[2017-10-30 18:24] heejaechang commented on #20101
"We're still hits of this in session data." @davkean what session data?

[2017-10-30 18:44] jcouv commented on #16717
Is there still work to do for this?

[2017-10-30 18:46] jcouv commented on #16716
Should this be assigned to Ashley?

[2017-10-30 19:01] jcouv commented on #17848
@jaredpar From discussion with Andy, this is indeed a bug. Fixing it will be a small compat break, but given the current 15.5 bar, we're recommending that we take this in 15.6.
Does that sound ok?

[2017-10-30 19:02] jcouv commented on #22261
@VSadov Does this issue meet the 15.5 bar? If not, move to 15.later. Thanks

[2017-10-30 19:55] #22206 closed

[2017-10-30 20:16] VSadov commented on #22880
@jcouv - 15.6
It would not meet the bar for 15.5 at this point. There are obvious workarounds - "do not do this".
It is still a bug. Spec should disallow this scenario.

[2017-10-30 20:51] kasper3 commented on #8210
Will it be available this year or 2018 Q1? A brief status update would be highly appreciated.

[2017-10-30 21:15] jaredpar commented on #8210
Update on this: the work to do strong name signing on CoreClr is complete. It did not make the cut off for the Dev15.5 release but will be in the following release. It should be merged in one of the main branches in the next few days.

[2017-10-30 21:28] jnm2 commented on #8210
Thanks! Good to know because I was considering sinking some time into a workaround package.

[2017-10-30 22:08] davkean commented on #20101
Called out in the threads we have with the feedback team.

[2017-10-30 22:19] heejaechang commented on #20101
@davkean that is different issue than this. that issue is nuget throwing not us. more specifically. this.
var installedPackageMetadata = _packageServices.GetInstalledPackages(dteProject);

service itself is our wrapper on IVsPackageInstallerServices, but regardless, it is nuget throwing. not us for the feedback issue.

[2017-10-30 22:31] davkean commented on #20101
@heejaechang To avoid this being dropped, please confirm that we have stopped throwing these exceptions or a bug has been filed against NuGet. Do not close this bug until we've confirmed it has been fixed, it's one of the top NFW.

[2017-10-30 22:35] ivanbasov opened #22918 "local functions are not supported by SyntaxGenerator"

[2017-10-30 22:56] heejaechang commented on #20101
@davkean hmmm?? that is different issue? I am not sure why you connect that issue with this one?

[2017-10-30 23:11] davkean commented on #20101
Ah my bad, I was under the impression it was the same. Did we file a bug against NuGet for the later issue?

[2017-10-30 23:13] heejaechang commented on #20101
@davkean I didn't check. tagging people who deal with NFW and triaging. @jinujoseph @davkean @ivanbasov

[2017-10-30 23:47] CyrusNajmabadi commented on #22901
Right.  I want this to work *regardless* of the naming rules i've setup.  I may not like _'s.  but if i use one in one of my types, i'd still like good suggestions :)

[2017-10-30 23:47] 333fred commented on #21614
Looking at our current implementation, it appears that this is fixed. The case @AlekseyTs mentioned in his comment is this:
[code]
This is now generating the following IOperation tree, which looks correct to me. Previously, this generated the tree in the linked comment above.
[code]

Given that, I'm going to close this issue. @AlekseyTs, feel free to reopen if you think I'm missing something here.

[2017-10-30 23:47] #21614 closed

[2017-10-30 23:52] DustinCampbell commented on #22901
That's my feeling too. It also might be that the user simply hasn't set their naming rules yet.

[2017-10-30 23:53] Pilchie commented on #22901
Agreed.

[2017-10-31 00:06] AlekseyTs commented on #21614
@333fred Do we have tests that cover scenarios when a standard conversion is needed on top of the operator method call?

[2017-10-31 00:35] heejaechang commented on #19661
I believe we fixed most of OOM cases we know of in latest 15.4

please re-open this if it is still an issue.

[2017-10-31 00:35] #19661 closed

[2017-10-31 00:52] 333fred commented on #21614
@AlekseyTs we do for implicit conversions, https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConversionExpression.cs#L4919.

[2017-10-31 01:28] ivanbasov opened #22921 "C# compiler does not provide a warning about unused lambda variables"
For the code:

[code]

compiler provides a warning for the unused local function but does not for the unused lambda. I expect they should be consistent.
Those compiler diagnostics is used in roslyn-analyzers.

[2017-10-31 01:33] OmarTawfik opened #22922 "Need to revise Roslyn.Test.Utilities"
**Version Used**:

**Steps to Reproduce**:

1.
2.
3.

**Expected Behavior**:

**Actual Behavior**:

[2017-10-31 01:49] JosefPihrt opened #22923 "Symbol from xmldoc/cref is not constructed"
**Version Used**: VS Community 2017 15.4.1

**Steps to Reproduce**:

Let's say I have this code:
[code]

and I want to check symbols for equality:
[code]

**Output**:
[code]

**Questions**:
* Why `a == b` returns False?
* Why `b == b.OriginalDefinition` returns False?
* If this is correct behavior how can I compare these symbols for equality?

[2017-10-31 02:04] maca88 opened #22924 "Make SyntaxNodeExtensions.RemoveNode end of line configurable"
**Version Used**: 2.4.0

Currently, the EOL that [may be added](https://github.com/dotnet/roslyn/blob/614299ff83da9959fa07131c6d0ffbc58873b6ae/src/Compilers/CSharp/Portable/Syntax/SyntaxNodeRemover.cs#L108) by [RemoveNode](https://github.com/dotnet/roslyn/blob/1102ba506092bd6edfcfe1abdc990162ff337d47/src/Compilers/Core/Portable/Syntax/SyntaxNodeExtensions.cs#L260) or [RemoveNodes](https://github.c

[2017-10-31 02:06] jcouv commented on #22921
Tagging @agocke

[2017-10-31 02:14] jcouv commented on #22904
This is very strange indeed. [Repro link](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEAMACFBGA3AWACgjYEBXAYxgwGUZyqiBvIgSABUBLMOGgBwgA7DDG68BggoQwyMRWbXqVqAWQAUASjmFWLHazoNqUKazYGlVDACU4MMgkGbze1m5QB2DCfMBfIub0AJ4u5qxQGAC8GIJwAO6KRpqm7l629o7JfuYUEDAUABYYagCiAB4UcHyiAPaCGqH6rJ42dg5OGin+Ot2+QA==).

[code]

[2017-10-31 02:14] jcouv commented on #22904
@VSadov Does this issue ring a bell by any chance?

[2017-10-31 02:21] agocke commented on #22921
The lambda is used -- it is converted to a delegate. If you converted the local function to a delegate it would also be considered used. This is by-design.

[2017-10-31 03:30] gafter commented on #22825
Labeling Compiler, though I'm not sure the compiler has control over this. May require coordination between compiler and CLR.

[2017-10-31 04:41] lostllama opened #22925 "Can't report problems"
[Video here](https://youtu.be/aaMPxy7jNvc)

**Version Used**:

Visual Studio 2017 Enterprise v15.4.1

**Steps to Reproduce**:

1. Click "Report a problem"
2. Be told that you need to be signed in.
3. Sign in
4. GOTO 1

**Expected Behavior**:

Login to complete successfully and for me to be able to report a problem.

**Actual Behavior**:

The button always remains as "Sign in" even after being sign

[2017-10-31 05:28] sharwell commented on #22897
:memo: This is one part of #22908.

[2017-10-31 05:31] sharwell commented on #22925
@lostllama Thanks for taking the time to find another way to get in contact with us. Your feedback is important and someone should reply soon to help figure out why the Report a Problem feature isn't working as expected.

/cc @Pilchie

[2017-10-31 05:33] sharwell commented on #22923
💭 My understanding is symbols cannot be compared reliably using `==` or `!=`. Using `Equals` (or `EqualityComparer<ISymbol>.Default` which uses `Equals` under the hood) is the only supported comparison.

[2017-10-31 05:39] huoyaoyuan opened #22926 "IDE0016 provides invalid codefix on generic type without constraint"
**Version Used**:
Visual Studio 15.4.1

**Steps to Reproduce**:
[code]

**Expected Behavior**:
T is not constrained, so `??` cannot be applied on it.

**Actual Behavior**:
Code fix to
[code]

How about allowing `??` on unconstrained generic type? For value type, just ignore it, as it implies `== null`.

[2017-10-31 05:44] sharwell commented on #22926
This appears to be a duplicate of #17754.

[2017-10-31 05:47] sharwell commented on #22926
Reopening since this should have been fixed in 15.3, but @huoyaoyuan was observing it in 15.4.1.

[2017-10-31 06:07] sharwell commented on #22768
@jinujoseph Should we bring this into 15.5 since it impacts usability of one of the key new features of the release?

[2017-10-31 06:09] sharwell commented on #22884
@rik-smeets This feature should use the code style of the current project, and not define its own separately. It looks like the bug is the feature currently ignores the current configuration.

[2017-10-31 06:12] sharwell commented on #22900
@jcouv I believe you misread #19089. The bug is that .editorconfig settings are completely ignored for Fix All operations, so it will attempt to apply the Fix All operation using the current Tools &rarr; Options settings. If those settings do not have the same preference for expression-bodied properties, then the Fix All will think there is nothing to fix.

[2017-10-31 06:19] jcouv commented on #22921
I think he means the local called "lambda". It is assigned to but never used. Am I missing something?

[2017-10-31 06:19] sharwell commented on #22901
In other words, after each typed character, the naming suggestions should be updated to have the general form:

[prefix][overlapping][suffix]

Where the text typed by the user is [prefix][overlapping], the original suggestion after typing <kbd>Space</kbd> was [overlapping][suffix], and [overlapping] is the longest viable sequence. If [overlapping] is empty and [prefix] is not empty, a word separat

[2017-10-31 06:22] sharwell commented on #22901
💭 I'm not sure I like the previous comment's behavior. It appears to preclude the use of CamelCase typing for selecting a suggested name. This may require [overlapping] be the longest sequence for which a pattern matches...

[2017-10-31 07:02] lostllama commented on #22925
@sharwell I just tried to open it again just now and it immediately went to the login I had been using previously. Very strange. Temporary server issues, maybe?

[2017-10-31 07:48] jinujoseph commented on #22376
closed via #22811

[2017-10-31 07:48] #22376 closed

[2017-10-31 07:49] jinujoseph commented on #22377
closed via @22811

[2017-10-31 07:49] #22377 closed

[2017-10-31 08:09] kmelodi commented on #7392
Set 'Configuration Manager' => Debug

[2017-10-31 09:30] Soarc commented on #22903
![image](https://user-images.githubusercontent.com/3385495/32216433-705bd46a-be3e-11e7-8edf-e37ce000eec1.png)
Looks like my .netframework release version is 461308, which is installed with Windows 10 Fall Creators Update and is .NET Framework 4.7.1.

But i still think this is a bit confusing: if i use ValueTuples in net461 project it will not compile, but referencing empty .netstandard2.0 library

[2017-10-31 11:18] JosefPihrt commented on #22923
Problem is that `a.Equals(b)` return `false` as well.

I noticed that type of symbol of cref is ConstructedNamedTypeSymbol. Why the symbol is constructed when the expression is FooException\<T\>?

[2017-10-31 11:26] TessenR commented on #22904
@jcouv Take a look at https://github.com/dotnet/roslyn/issues/14097. I believe that this is a consequence of tracking structs piecewise. Technically the error is correct as you have a single unassigned field `_ticks` nested in `timeSpan` field. The message could be better for usages which don't have a single assigned field though.

[2017-10-31 12:00] AbdoDabbas opened #22929 "Using extension methods in scripting APIs in Roslyn throws an exception"
**Version Used**: 2.4.0.0

**Steps to Reproduce**:

1. Create class for extensions and let's call it `HelperExtensionMethods` like this:
[code]
2.  Create a class for global let's call it `ParamsVM` with two properties `X` and `Y`.

The behavior inside the two extension methods doesn't matter, and the properties of `MyClass` doesn't matter also, the most important is extensions are outside `MyClas

[2017-10-31 14:18] pquiring opened #22931 "Enum type appears as Class when referenced in another project"
**Version Used**:
2.4.0

**Steps to Reproduce**:

1.  Create Enum in classlib
2.  Reference Enum in another assembly
3.  TypeKind appears as Class, not Enum

**Expected Behavior**:
TypeKind should be Enum in both projects

**Actual Behavior**:
TypeKind is Enum in classlib project, but appears as Class in other project that references the classlib.

Here is classlib project:

[code]

When you print

[2017-10-31 16:05] pquiring commented on #22931
Note : a workaround is to use BaseType.Name which is "Enum" in both projects.

[2017-10-31 17:13] mariaghiondea commented on #22925
Sorry for the issues! From your video, you aren't signed in into Visual Studio either (they are related), which leads me to believe it was a temporary server issue indeed.
Would you mind sending us the contents of your %temp%\servicehub folder to help investigate? It contains sign in log information. You can add them here or email us at vsfeedback at microsoft.com
-  this is a good alias to use wh

[2017-10-31 17:29] sharwell commented on #22923
Interesting. The value `T` actually has no semantic meaning in the `cref` attribute. For example, `cref="FooException{T}"`, `cref="FooException{X}"`, and `cref="FooException{Object}"` are all equivalent from the perspective of documentation comments and all resolve to the unqualified type `FooException<T>`.

[2017-10-31 17:44] rik-smeets commented on #22884
@sharwell It does use the user's own rules, but has a set of built in rules as a fallback. See lines 39-42 (the comment explaining this) in class `AbstractInitializeMemberFromParameterCodeRefactoringProvider.cs`. So if the user has rules set, these will be honoured, which is correct.

This issue is about the ordering of those built in rules, which, I think, is not the order in which they should be

[2017-10-31 17:45] jinujoseph commented on #22605
assumption is that sqllite being faster , this might be fixed .
Note to self: update 22605 to add dominator analysis to memorywatson

[2017-10-31 17:51] jinujoseph commented on #22690
@ivanbasov , can you check if you are seeing hit for this in Watson

[2017-10-31 18:51] jcouv commented on #15378
I'm not clear where we left this off and a number of things probably have changed (Andy mentioned we removed our dependency on `System.Runtime.InteropServices.RuntimeInformation.dll`, and mono probably added support `System.Text.Encoding.CodePages.dll`?).

Is there still an issue, or can we close?

[2017-10-31 18:56] jcouv commented on #19492
I built on Linux (Docker) just last week using the instructions from the ["building on Linux"](https://github.com/dotnet/roslyn/blob/master/docs/infrastructure/cross-platform.md) page.

Here are the notes I took:
1. Enlist to Roslyn repo on Linux (for this I used Docker and `docker run -it ubuntu bash`, then installed git with `apt-get update`, `apt-get install git`, then `git clone https://github

[2017-10-31 18:58] jcouv commented on #16717
@khyperia @agocke Is there still work to do for this?

[2017-10-31 19:09] jaredpar commented on #16717
This work is done. We can close.

[2017-10-31 19:09] #16717 closed

[2017-10-31 19:10] jcouv commented on #22641
@OmarTawfik Can you take this one?

[2017-10-31 19:18] OmarTawfik commented on #22922
@jcouv here is the issue.

[2017-10-31 19:20] jcouv commented on #22922
I couldn't find an issue for running our tests (syntax and symbol at least) on Mono. Took a [note](https://github.com/dotnet/roslyn/projects/23#card-5428912) in our engineering backlog.

[2017-10-31 19:35] ivanbasov commented on #22921
Yes, the local "lambda" was created but never used, and there is no warning about this.

[2017-10-31 19:37] ivanbasov commented on #22690
@jinujoseph, I could not find any Watson for this issue.

[2017-10-31 19:49] jcouv opened #22937 "Work items and test plan for "tuple equality" feature"
Championed issue: https://github.com/dotnet/csharplang/issues/190

Various scenarios:
- `if (tuple1 == (1, 2)) ...`
- `if (nestedTuple == ...) ...`
- `if (nullableT1 == t2) ...`
- `if (nullableT1 == nullableT2) ...`

Open issues and test ideas:
- [ ] Issue with `this` (issue https://github.com/dotnet/roslyn/issues/25488, PR https://github.com/dotnet/roslyn/pull/25390)
- [ ] Add optimization with N

[2017-10-31 19:56] jcouv commented on #8421
@agocke I see that you removed the usage of `WriteCodeFragmentEx` in `GenerateAssemblyInfo.targets`
(https://github.com/dotnet/roslyn/commit/62b1ad0b0b712fa42f840219269752e06139fe9e#diff-438aef2327a41182a332b2241112065d).
Can this issue be close?

[2017-10-31 20:01] agocke commented on #8421
Yes!

[2017-10-31 20:01] #8421 closed

[2017-10-31 20:04] jcouv commented on #22921
It's the same when the local is initialized from a parameter (rather than a lambda). It does seem unexpected.

[code]

[2017-10-31 20:05] 333fred opened #22938 "Make all Lazy<IOperation>(() => null) Singletons"
One technique would be to use a similar approach to SpecializedCollections/SpecializedTasks in Workspaces.

[2017-10-31 20:12] 333fred commented on #22175
An example of the issue:
[code]

The issue here is on `e(Dummy(TakeOutParam(true, out var x1), x1))`. We have a DeclaratorArgumentSyntax node on the VariableDeclarator, but the IOperation node doesn't have a place to put the resulting bound nodes. To fix this, we should add a new field to `IVariableDeclarator`, `IgnoredArguments`, which will be `ImmutableArray<IOperation>`, to match the underlying

[2017-10-31 20:12] 333fred commented on #22175
Tagging @dotnet/analyzer-ioperation @AlekseyTs for comments.

[2017-10-31 21:16] jcouv commented on #22900
Got it. Thanks for the clarification.
Closing as duplicate

[2017-10-31 21:16] #22900 closed

[2017-10-31 22:09] tmat opened #22940 "Intermittent tagger test failures"
https://ci.dot.net/job/dotnet_roslyn/job/post-dev15.5-contrib/job/windows_release_unit64_prtest/156/

Several tests failed:
[code]

Exceptions:

[code]

[2017-10-31 22:10] tmat commented on #22940
@heejaechang Could this be related to the stuff you're looking at?

[2017-10-31 22:10] tmat commented on #22940
/cc @jasonmalinowski

[2017-10-31 22:15] jasonmalinowski commented on #22940
Dupe of #21326.

[2017-10-31 22:15] #22940 closed

[2017-10-31 22:29] jcouv commented on #22304
@4creators This ("const parameters") was discussed briefly in a recent LDM and the conclusion is it feels fine to address with analyzers.
I'll go ahead and close the issue. Thanks

[2017-10-31 22:29] #22304 closed

[2017-10-31 22:58] paul1956 opened #22942 "VB Model.GetTypeInfo returns wrong result for Test Projects and infinite refactorings"
**Version Used**:
2.4
**Steps to Reproduce**:

1. Set up to call Model.GetTypeInfo(expression, cancellationToken) using project APISampleUnitTests, file SymbolsAndSemantics.vb (this requires a lot of code for me to put here)
2. Set expression = New TestCodeContainer(code) which is fount on line 23
3. Execute  Dim typeInfo As TypeInfo = Model.GetTypeInfo(expression, cancellationToken)

**Expected B

[2017-10-31 23:19] genlu opened #22943 "Syntax mismatch for GetOperation"
The syntax node passed into `GetOperation` and the returned `Operation.Syntax` mismatch, in at least following cases:

[code]

[code]

[2017-10-31 23:37] cartermp opened #22945 "Different refactoring icon shown for me in the same editor"
**Version Used**: 15.5 Preview 2

![different-icons](https://user-images.githubusercontent.com/6309070/32253721-a91c3356-be59-11e7-99a0-558b6309f2da.gif)

Is this intentional?

[2017-11-01 00:30] VSadov commented on #22261
I have verified the repro scenario - in both current Roslyn and old naive CSC a cast is inserted.

I do not think there is a way to fix with without breaking fix for #4471 It looks exactly the case where we were asked to put a cast to match old behavior.

The bug seems to literally asking to undo the change. But then we would break other users....

I think we should continue match native CSC since

[2017-11-01 00:30] #22261 closed

[2017-11-01 01:00] ivanbasov commented on #22599
@jinujoseph, I could not find an easy way to fix yet. I'm not sure that this meets 15.5 bar: it seems that this is a bad diagnostic message. I suggest to punt it to 15.6 and consider moving it back if we will find an the easy fix.

[2017-11-01 03:04] marek-safar commented on #15378
There is still an issue as Roslyn does not provide netstandard compatible tools version. Jared mentioned this is nuget limitation in some way but that was some time ago

[2017-11-01 07:06] ufcpp opened #22950 "Error CS8338 on (in this T) where T : struct"
**Version Used**:

15.5.0 Preview 2.0

**Steps to Reproduce**:

[code]

**Expected Behavior**:

[The spec](https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.2/readonly-ref.md) says

so `(in this T value) where T : struct` should be allowed.

**Actual Behavior**:

Error CS8338

[2017-11-01 09:15] bidolah opened #22951 "Visual Studio crashing when open "App Manifest Designer""
**Version Used**:
Visual Studio Professional 2015
Version 14.0.25431.0.1 Update 3
**Steps to Reproduce**:

1. Create new UWP Blank App
2. Go to solution folder and find this file "*.Shared.projitems" in shared project
3. Edit file. Add some items from parent folder ("..\\..\\"). For Example:
[code]
4. Go to "*.Windows" project in Visual Studio
5. Open Package.appxmanifest in "App Manifest Designer

[2017-11-01 12:01] #22925 closed

[2017-11-01 12:24] #18882 closed

[2017-11-01 12:42] sharwell commented on #22573
@huoyaoyuan There are many different components in Roslyn, each with their own code and test locations. Our general contributor instructions are located in the [**Contribute!** section of the readme](https://github.com/dotnet/roslyn#contribute). The best thing to do is find an issue you are interested in working on, and asking in that issue where to start. We understand that it's easy for new cont

[2017-11-01 12:42] #22573 closed

[2017-11-01 13:11] sharwell commented on #22690
@MaStr11 I have no idea how to reproduce this. Can you sent a PR with the added null check, but no need to add a test since it doesn't reproduce the error.

[2017-11-01 13:39] MaStr11 commented on #22690
Okay. I will do so within the next 2 days.

[2017-11-01 15:12] cston opened #22952 "Remove SynthesizedImplementationMethod.AddSynthesizedAttributes"
Remove `SynthesizedImplementationMethod.AddSynthesizedAttributes`.

See https://github.com/dotnet/roslyn/pull/22820#pullrequestreview-72650279.

[2017-11-01 16:18] Buyduck opened #22953 "ContinueWithAsync: error CS0029: Cannot implicitly convert type 'Child' to 'Father''"
**Version Used**:
VS 15.2 + NuGet package Microsoft.Net.Compilers version 2.4.0
(Got same problem with Roslyn, built from current master)

**Steps to Reproduce**:
If you make 'returnChild()' method static or run all code at once (without ContinueWithAsync) - everything will be ok.

To reproduce run this code:
[code]
**Expected Behavior**:
"Success!" output

**Actual Behavior**:
`Microsoft.CodeAnal

[2017-11-01 17:48] devdutt91 commented on #15479
@mattwar  Could you please tell me what are the redirects you added?
I added the MSBuild redirects, but still sln load has lot of diagnostic errors.

[2017-11-01 18:34] vsfeedback opened #22954 "Espression not supported when mousing over LINQ/SQLite command at runtime"
I'm trying to query my SQLite table by using a LINQ command to search for a string.

public Task&lt;AppMyItem&gt; GetItemAsync(string itemDesc)
{
    Expression&lt;Func&lt;AppMyItem, bool&gt;&gt; expr = i =&gt; i.ItemDesc == itemDesc;
    return database.Table&lt;AppMyItem&gt;().Where(expr).FirstOrDefaultAsync();
}

This is what I tried and it would compile, but at runtime if I put my mouse over t

[2017-11-01 18:47] #21501 closed

[2017-11-01 18:57] TonyValenti opened #22955 "Refactoring Attribute: AttributeAttribute"
**Version Used**:
15.5.0 Preview #2.0
**Steps to Reproduce**:
Use this code:
[code]
Position your cursor on "SomethingAttribute" and press "Control+R R" to rename it.  You'll notice that it only selects "the word "Something" for the renaming.

Give it a name of "CustomAttribute".
The class is incorrectly renamed to "CustomAttributeAttribute"

![rename attribute](https://user-images.githubuserconte

[2017-11-01 19:39] vsfeedback opened #22956 "IDE0034 default expression can be simplified"
The statement

int? x = default(int)

Generates a warning IDE0034 'default' expression can be simplified and the suggestion is to replace 'default(int)' with just 'default'. This is wrong because defalt(int) is 0 while default for int? is null.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/140204/default-expression-can-be-simplified.html
VSTS ticketId

[2017-11-01 19:49] tlentine commented on #22886
Is there a suggested workaround to this issue? I hit this multiple times each day as it stands now.

[2017-11-01 19:56] sharwell commented on #22886
@tlentine Can you post a copy of your .editorconfig here? It sounds like it may contain one or more invalid settings for naming conventions.

[2017-11-01 19:58] jcouv opened #22957 "Add C# 7.3 to build settings drop-down"
Until we come up with a design where the build settings drop-down is populated by querying Roslyn, we have to add entries with every new LanguageVersion...

Once a project-system branch is available for C# 7.3, we should add the proper entry.
Here's the change we did for C# 7.2: https://github.com/dotnet/project-system/pull/2334

![image](https://user-images.githubusercontent.com/12466233/32303134

[2017-11-01 19:58] sharwell commented on #22956
This appears to be a duplicate of #20856, which is fixed for 15.5 (Preview 1 and newer).

[2017-11-01 19:59] #22956 closed

[2017-11-01 20:11] tlentine commented on #22886
Sure!

[editorconfig.zip](https://github.com/dotnet/roslyn/files/1435547/editorconfig.zip)

[2017-11-01 20:13] sharwell commented on #22886
Content of the file attached to the previous comment:

<details><summary>.editorconfig</summary>

[code]

</details>

[2017-11-01 20:15] sharwell commented on #22886
@tlentine It looks like you reference a naming style `camel_case_underscore_style` which is not defined (the lines are commented out). If you uncomment the two lines that define it, does it prevent the crashes?

[2017-11-01 20:18] mavasani commented on #22736
Talked to @AlekseyTs and it seems fine to move this to post 15.5

[2017-11-01 20:18] mavasani commented on #22735
Talked to @AlekseyTs and it seems to fine to move this to post 15.5

[2017-11-01 20:19] KirillOsenkov opened #22959 "Work needed to properly split EditorFeatures / Wpf"
This PR lists some changes that we needed to do to move MonoDevelop to Roslyn 2.6.0:
https://github.com/mono/monodevelop/pull/3228

 - [x] Need to export InlineRenameService
 - [ ] Need to export PreviewFactoryService
 - [ ] Need to export RoslynWaitIndicator
 - [ ] Need to export SuggestedActionCategoryRegistryService
 - [ ] Need to export IPeekResultFactory
 - [ ] Need to export ISignatureHelpBr

[2017-11-01 20:21] mavasani opened #22960 "Unify IOperation API for do an while loop statements"
This was concluded in last design meeting but we did not have a tracking issue.

[2017-11-01 20:22] tlentine commented on #22886
@sharwell  That seems to work! Now to run git blame to find out when & who commented those styles out : )

In all seriousness, thanks for pointing this out - this was driving me crazy.

[2017-11-01 20:32] vsfeedback opened #22962 "IDE0034 C#7 v.latest: message "'default' can be simplified" is incorrect for struct"
In C#7 &quot;latest minor version,&quot; the suggested message &quot;'default' expression can be simplified&quot; is incorrectly given when a struct (value-type) is passed as an Object-typed function argument.

In other words, if you have...

    static void foo(Object z) { }

Then you cannot &quot;simplify&quot; the use of 'default(TimeSpan)' in the following because 'null' will be passed to the

[2017-11-01 20:34] sharwell commented on #22962
This appears to be a duplicate of #20856, which is fixed for 15.5 (Preview 1 and newer).

[2017-11-01 20:34] #22962 closed

[2017-11-01 21:18] AlekseyTs opened #22964 "IOperation.Parent throws System.NullReferenceException on a global statement"
[code]

System.NullReferenceException: 'Object reference not set to an instance of an object.'

[code]

[2017-11-01 21:50] CyrusNajmabadi commented on #22884
I do not see why "fieldWithUnderscore" would be the default:

These are they preferred coding style for these specific repos.  They are not universal, nor should they necessarily be pushed on users by default.

[2017-11-01 22:05] CyrusNajmabadi commented on #22945
Yes.  You get the 'screwdriver' to indicate that there's "something you can do here just because you might want to".  You get the lightbulb to indicate "this is fixing an issue".  Specifically, in this case, the style preference seems to be "prefer block bodies for methods".  So you get a lightbulb going "you should change this to a block, since it doesn't match your style preference".  But you al

[2017-11-01 22:11] mavasani opened #22967 "InvalidCastException in operation factory code (CreateBoundMemberInitializerOperation) while executing latest FxCop operation analyzers"
**Version Used**: Install latest d15rel drop 27031.1.d15rel

**Steps to Reproduce**:

1. git clone https://github.com/JamesNK/Newtonsoft.Json
2. add myget package feed for roslyn-analyzers: https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json
3. install latest preview of Microsoft.CodeAnalysis.FxCopAnalyzers version 2.6.0-beta1-62231-02 to all projects in solution
4. enable FSA for C#

Go

[2017-11-01 22:12] mavasani commented on #22967
Tagging @jinujoseph

[2017-11-01 22:17] mavasani commented on #22967
Tagging @AlekseyTs @cston @dotnet/analyzer-ioperation

It seems like [this](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Operations/CSharpOperationFactory.cs,966) cast is failing and we need to change the type of [IMemberInitializerOperation.InitializedMember](http://source.roslyn.io/#Microsoft.CodeAnalysis/Operations/IMemberInitializerOperation.cs,24) from `IMemberReferenceOperation` to

[2017-11-01 22:40] CyrusNajmabadi commented on #22545
You can get instantiation information simply by looking at the references to the type's constructors (which we automatically cascade to when doing a FindReferences on a type). Is that not sufficient?

[2017-11-01 22:51] gafter opened #22969 "Redundant code in C# lowering"
We have the following in `MakeIsOperator`

[code]

but the callee, `MakeNullCheck`, also does this

[code]

so we should be able to remove the redundant invocation of `MakeConversionNode` from the caller.

[2017-11-01 23:00] cartermp commented on #22945
Ah, that makes sense.  Interesting that the default is to prefer block bodies for methods.  I hadn't configured this.

[2017-11-01 23:00] #22945 closed

[2017-11-01 23:13] tmat commented on #15497
Another one: https://ci.dot.net/job/dotnet_roslyn/job/features_compiler/job/windows_release_vs-integration_prtest/2/artifact/Binaries/Release/UnitTests/VisualStudioIntegrationTests/xUnitResults/Roslyn.VisualStudio.IntegrationTests.dll.out.log

[2017-11-01 23:17] CyrusNajmabadi commented on #22945
Interestingly: if the style is set to 'on:none', it's arguable that perhaps it should be a screwdriver, not a lightbulb.  Tagging @kuhlenh for visibility.

[2017-11-01 23:17] CyrusNajmabadi commented on #22945
And @sharwell as well.

[2017-11-01 23:44] CyrusNajmabadi commented on #12202
I always only see this for .g.cs files not being available (presuable some part of the build deletes/recreates them).  They're effectively useless notifications entirely.

[2017-11-01 23:47] jcouv commented on #22953
Tagging @tmat

[2017-11-01 23:50] CyrusNajmabadi commented on #22672
Cute.  Let me know if you want any info on this @chborl :)

[2017-11-01 23:52] jcouv commented on #22950
Tagging @VSadov @OmarTawfik

[2017-11-02 00:00] CyrusNajmabadi commented on #22416
We improved this through better recognition in teh intellisense engine about what is going on.  The problem is that this code is *fundamentally* ambiguous at the parsing stage.   The parser can see this and can reasonably think that its' seeing a local function declaration that looks like:

[code]

i.e. similar to a local function like:

[code]

We can't determine what is actually going on at pars

[2017-11-02 00:01] AArnott opened #22970 "Unique name for Roslyn's ServiceHub service"
"remoteHostService" is perhaps one of the more generic names one might imagine for a servicehub service, and as the entire IDE shares one common namespace, and collisions like this take out both parties, it would be far preferable if Roslyn came up with something more unique sounding. Perhaps “RemoteRoslynLanguageService”?

[2017-11-02 00:03] CyrusNajmabadi commented on #22697
Did something change here?  i.e. did the platform start adding this parameter validation recently?

[2017-11-02 00:04] AArnott commented on #22970
"snapshotService" seems to be another one that I think Roslyn owns but is too vague to distinguish the feature that it belongs to.

[2017-11-02 00:04] CyrusNajmabadi commented on #22698
Sounds like you're incorrectly manipulating the tree.  You should look at the shape of the syntax tree (I recommend the syntax tree visualizer for this), and see how this is structured.  Then debug through and see how your manipulation affects things.

[2017-11-02 00:06] CyrusNajmabadi commented on #22720
"The third letter of the alphabet" would be a good description to show here.