[2017-09-29 05:21] msbasanth commented on #22368
Thanks @Pilchie ,

It works, I will target netstandard1.3 for now for my analyzers.

Regards
Basanth

[2017-09-29 05:35] TruePluto opened #22420 "Can I use an alias for my ValueTuple type?"
*C# 7.0*:

[code]

Can I use an alias for my ValueTuple type?

[2017-09-29 05:53] TruePluto opened #22421 "Microsoft.CodeAnalysis.Common .netFramework 4.3 or .netFramework 4.7"
Thanks for your attention.
I create a C# project with .netFramework 4.7.
and when I install the package Microsoft.CodeAnalysis.Common to the project. the system told me that many  .netFramework 4.3 assembles should be installed. and i found that

[code]
was required.
**Does the .netFramework 4.3 better than  .netFramework 4.7?**
I'm confused,

[2017-09-29 06:36] #22306 closed

[2017-09-29 07:42] ufcpp commented on #22420
https://github.com/dotnet/csharplang/issues/423

[2017-09-29 08:40] TruePluto commented on #22420
Thank you.
That does frustrate me. I think I will endure the following stupid codes for a long time.

[code]

[2017-09-29 09:32] kamenlitchev commented on #12607
Hello, I encounter the same thing. No errors in build log. Tried setting the LangVersion but same thing happens.

[Yyy.Zzz.UWP_Compile_422e8aed.designtime.txt.zip](https://github.com/dotnet/roslyn/files/1343808/Yyy.Zzz.UWP_Compile_422e8aed.designtime.txt.zip)

[2017-09-29 09:59] schprl commented on #3194
When running the above example I get

which is in Microsoft.CSharp.dll
Did this happen to anyone else?

[2017-09-29 10:08] davidpurkiss commented on #3194
@schprl We've just had an issue regarding dynamic objects and Microsoft.CSharp.dll. We had to remove the Microsoft.CSharp.dll assembly reference to get dynamics working. Might be related.

[2017-09-29 12:16] anakic commented on #19131
Just ran into this issue and this thread was quite helpful, at the very least to confirm I'm not insane.

After adding the "Microsoft.CodeAnalysis.CSharp.Features" nuget package to my VSTO project, opening up a WPF window started taking 9s due to massive jitting of methods in PersentationCore and other WPF dlls (verified in perfview). I'm using .NET 4.6 in my project.

I was able to resolve the is

[2017-09-29 12:44] MSIC-HSR opened #22425 "Potential data race in the file GCManager.cs"
**Version Used**:
Master branch as of 29.9.2017 @ 14:40. Most actual commit as of this writing: [0afe1f6 on Feb 17, 2016](https://github.com/dotnet/roslyn/commit/0afe1f6dd3bd77e138f3df11db883827e1d93770)

**Steps to Reproduce**:
Potential data race in the file [GCManager.cs](https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Core/Def/Implementation/GCManager.cs) on the variable `s_delay

[2017-09-29 14:03] svick commented on #22415
That kind of problem usually means some issue with the debugger. Assuming the code works if you don't use the debugger (even after you evaluate the LINQ query, e.g. using `foreach` or `ToList()`), then I think it makes sense to report this to Rider.

If it doesn't work, can you get the exception's stack trace?

[2017-09-29 14:04] mavasani commented on #22301
I am addressing this as part of https://github.com/dotnet/roslyn/pull/22210, so closing this issue.

[2017-09-29 14:04] #22301 closed

[2017-09-29 14:37] pavele commented on #3705
Do you think that we can provide a fix that is implementation which respects `<auto-generated />`  correctly for the different languages. The format would be correct for the language single line comment statement like these:
c#:
[code]
xml:
[code]
javascript:
[code]

[2017-09-29 14:54] Pilchie commented on #22421
Tagging @terrajobst

[2017-09-29 14:56] philippe-lavoie commented on #22392
I've hooked up the WorkspaceEvent and when trying to load a .net 4.7 csproj file, it returns

Msbuild failed when processing the file '...' with message: The tools version "15.0" is unrecognized. Available tools versions are "12.0", "2.0", "3.5", "4.0"

When trying to load a .net standard 2 project, I get the following:

Msbuild failed when processing the file '...' with message: The SDK 'Microsof

[2017-09-29 15:21] sharwell opened #22427 "Move Compilation creation fully out-of-process"
Currently we create `Compilation` instances both within **devenv.exe** (the main Visual Studio process) and **ServiceHub.RoslynCodeAnalysisService32.exe** (the "OOP" component). Moving managed language features to the OOP component improves our overall ability to ensure the Visual Studio editor layer remains responsive. Unfortunately, many features are not yet implemented in the OOP component, so

[2017-09-29 15:22] DustinCampbell commented on #22392
@phillippe-lavoie: There are couple of reasons why this might happen. My *guess* is that you're running into a bug where MSBuild cannot locate VS 2017 on your machine. Thus, it doesn't find the "15.0" toolset, which is located beneath the Visual Studio 2017 directory. There are a few issues that this might happen:

1. You need to pull newer Microsoft.Build and Microsoft.Build.Framework packages in

[2017-09-29 16:20] livarcocc commented on #22369
@dsplaisted please take a look and move the bug.

[2017-09-29 16:22] stephentoub opened #22428 "Avoid hiding all IsCompilerGenerated fields in MemberExpansion"
MemberExpansion currently hides all members with compiler-generated names.
https://github.com/dotnet/roslyn/blob/6847f1e5a909395aae9456e8f366cbf4deb86b69/src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/MemberExpansion.cs#L73-L79

Why is that valuable?  I'm using a debugger to examine the state of my program, I should be able to look at the state of my program, even if it's stored in c

[2017-09-29 16:25] mavasani commented on #21292
@AlekseyTs is correct - we also generate omitted argument for valid dynamic invocation with omitted arguments:

[code]

Given that `OmittedArgumentSyntax` inherits from `ArgumentSyntax`, I would like to propose that we map omitted argument to an `IArgument` with `ArgumentKind.Default`. User can differentiate between omitted argument and default value argument using the underlying syntax node.

[2017-09-29 16:30] jcouv commented on #22428
Tagging @cston

[2017-09-29 16:33] jcouv commented on #22331
Moving to 15.later, as our plate is pretty full at the moment.

[2017-09-29 16:34] jinujoseph commented on #21292
@AlekseyTs @DustinCampbell  to review the proposal

[2017-09-29 16:36] jcouv commented on #20417
@cston If it's ok, I'm moving this to 15.later.

[2017-09-29 16:38] jcouv commented on #20377
Assigned to Sam since he already has a PR for this.

[2017-09-29 16:39] DustinCampbell commented on #21293
This seems reasonable. I wish we could do something for constructor initializers and attributes before v2, but I understand.

[2017-09-29 16:41] DustinCampbell commented on #21292
Seems reasonable to me.

[2017-09-29 16:42] HaloFour commented on #22401
@dpoeschl

I understand.  Probably not a good idea to shove all of them into the menu as there could be quite a few if you have a type that derives from an abstract class and implements a bunch of interfaces.  The quick action menu on the type name currently shows both but only for the first of the unimplemented interfaces.  But it's not even consistent about that.  If you click on the light bulb

[2017-09-29 16:42] mavasani commented on #21293
Thanks Dustin - I will open separate issues to track (a) Add ILocalSymbolInitializer and (b) Handle constructor initializers and attributes.

[2017-09-29 16:44] mavasani opened #22429 "Add IOperation API for local symbol initializers"
@AlekseyTs recommended we add an `ILocalSymbolInitializer` so we have parity with APIs for other symbol initializers (field/property/parameter)

[2017-09-29 16:45] mavasani opened #22430 "Add IOperation API for attributes"
This will complete our API surface for all initializer code blocks.

[2017-09-29 16:45] mavasani commented on #21293
Filed (a) https://github.com/dotnet/roslyn/issues/22429 and (b) https://github.com/dotnet/roslyn/issues/22430.

Closing this issue.

[2017-09-29 16:45] #21293 closed

[2017-09-29 16:49] jcouv commented on #21437
The issue seems to have been fixed already. In 15.4 preview 3, I get the expected error (and no crash):

![image](https://user-images.githubusercontent.com/12466233/31026489-865532ae-a4fb-11e7-8581-7f364f39960a.png)

I'll go ahead and close. Thanks

[2017-09-29 16:49] #21437 closed

[2017-09-29 17:09] jcouv commented on #21874
Confirmed with Vlad the behavior of `default(T)` (and target-typed `default`) are correct. It is an r-value, so cannot be `ref`'ed.

[2017-09-29 17:09] #21874 closed

[2017-09-29 17:14] philippe-lavoie commented on #22392
I might have made progress, but it's still not working. In the case of a unit test, I'm still getting the above behavior. In the case of a command line tool, I get a different output. The code is at [TestingWorkspaceLoading](https://github.com/philippe-lavoie/TestingWorkspaceLoading) and it isolates the issue for both command line and unit tests import of a VS2017 project (both .net framework and

[2017-09-29 17:15] philippe-lavoie commented on #22392
As seen on my test project, I added all binding redirects and every latest version of Microsoft.Build.* needed.

[2017-09-29 17:19] AlekseyTs commented on #21292
Could you please clarify the proposal, perhaps with examples of scenarios, the current IOperation tree as we have it today and how the proposal will affect them?

[2017-09-29 17:20] dpoeschl commented on #19001
Moving out because there's been no activity on the [Xamarin bug](https://bugzilla.xamarin.com/show_bug.cgi?id=55597), which was resolved a couple months ago.

[2017-09-29 17:22] dpoeschl commented on #21134
Customer reports that they are no longer encountering the problem.  https://developercommunity.visualstudio.com/content/problem/76525/creating-a-nuget-package-from-uwp-library-using-th.html

[2017-09-29 17:26] jcouv commented on #22257
@khyperia Can this be resolved, or is there an action item?

[2017-09-29 17:31] AlekseyTs commented on #22429
I think my concern was mostly around the fact that we don't map any IOperation nodes to EqualsValueClauseSyntax within VariableDeclaratorSyntax, but do this for field and property declarations.

[2017-09-29 17:32] jcouv commented on #22270
The deconstruction is equivalent to `(new Invalid()).Deconstruct(out var temp1, out var temp2);`.
But `Deconstruct` cannot be invoked with `out` arguments. That's why the first two errors are there.

[2017-09-29 17:39] mavasani commented on #22429
I agree with @AlekseyTs - I think we should implement this.

[2017-09-29 17:42] VSadov commented on #21874
It is basically a more general/generic case similar to ``` return ref 0 ```

[2017-09-29 17:43] VSadov commented on #21874
Re: "Methods that return by reference have to return a reference"  - I also think it might be more clear if it is worded this way.

[2017-09-29 17:44] #21484 closed

[2017-09-29 17:45] mavasani commented on #21292
Here are the possible implementations, my proposal is (1), but I am fine with any of these.

1. `IArgument` with `OperationKind.Argument` and `ArgumentKind = ArgumentKind.DefaultValue` and `Syntax = OmittedArgumentSyntax` and underlying argument `Value = null`. Doc comments to clarify that Value can be null for omitted arguments case where we cannot bind to a specific value at compile time.
2. Ret

[2017-09-29 17:45] jcouv commented on #21484
Fix is merged for 15.5

[2017-09-29 17:46] khyperia commented on #22257
@jcouv The original issue can be resolved. There is the additional issue mentioned that `MakeCompilerScriptsExecutable` should be fully added/removed, but that's a tangent.

[2017-09-29 17:57] CyrusNajmabadi commented on #20255
@kuhlenh That's the first i've heard of any issues here.  What CPU problems do you have running it on your machine?

[2017-09-29 18:12] bkoelman opened #22431 "Metadata-as-source does not display summary text inside CDATA"
**Version Used**:
VS Community 2017 v15.3.5.

**Steps to Reproduce**:
1. Create new console project
2. Add NuGet reference to Microsoft.CodeAnalysis
3. Type BinaryOperatorKind, add using and press F12

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

The [source code](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Operations/BinaryOperatorKind.cs) contains seve

[2017-09-29 19:07] jcouv commented on #22257
Thanks. I'll let you make sure there is a tracking issue for the tangent.
Closing this one

[2017-09-29 19:07] #22257 closed

[2017-09-29 19:31] jinujoseph commented on #6894
closing this as individual tasks are maintained

[2017-09-29 19:31] #6894 closed

[2017-09-29 19:55] mavasani commented on #21238
We still have these nodes in the bound tree, but given that we have decided to not expose range variables in v1, we can move this to backlog.

[2017-09-29 19:56] mavasani commented on #11741
Should be fixed with https://github.com/dotnet/roslyn/issues/11741

[2017-09-29 19:57] mavasani commented on #11741
Actually, it should already be fixed as we do return the child nodes of catch clause filter. We also have tests to verify the same.

[2017-09-29 19:57] #11741 closed

[2017-09-29 19:58] jasonmalinowski commented on #21873
@sthiers Apologies for missing the comment on this thread. Those warnings are expected and can be ignored. After you deleted directories, did you rerun the restore.cmd script in the root before trying to build again?

[2017-09-29 19:58] mavasani commented on #21448
Fixed with https://github.com/dotnet/roslyn-analyzers/pull/1308

This analyzer was never turned on Roslyn.sln, so no additional work needed here.

[2017-09-29 19:58] #21448 closed

[2017-09-29 19:59] jasonmalinowski commented on #21799
@DustinCampbell Just to check, you haven't already fixed this by chance with the work you're doing on MSBuildWorkspace right now?

[2017-09-29 20:01] mavasani commented on #22252
@jinujoseph I am proposing Won't Fixing this issue given we have decided to retain the IFieldInitializer API. The only case where we can have multiple symbols own same code block is VB field initializers sharing the As New clause, and the analyzer can register for OperationKind.FieldInitializer to register them.

[2017-09-29 20:02] jasonmalinowski commented on #20322
The majority of this is complete and resulted in #22105.

[2017-09-29 20:02] #20322 closed

[2017-09-29 20:03] jinujoseph commented on #22252
makes sense

[2017-09-29 20:03] #22252 closed

[2017-09-29 20:06] anurse opened #22433 ""Upgrade C# Language Version" code fix adds conditional property groups to csproj"
**Version Used**: Visual Studio 15.4 Preview 3.0

**Steps to Reproduce**:

1. In a C# project with no `<LangVersion>` property attempt to use a language feature not available in the latest major version. For example, a `default` expression.
2. Use the code fix to "Upgrade this project to C# language version 'latest'" (or '7.1', either should do the same thing)

**Expected Behavior**: A single `<La

[2017-09-29 20:06] jasonmalinowski commented on #13643
Closing this as it's tracked by items in the .editorconfig project now.

[2017-09-29 20:06] #13643 closed

[2017-09-29 20:06] jasonmalinowski commented on #13225
This test is dead.

[2017-09-29 20:06] #13225 closed

[2017-09-29 20:06] jinujoseph commented on #20798
@333fred can you verify if we did declarationExpression ?

[2017-09-29 20:07] jasonmalinowski commented on #11984
This test is dead.

[2017-09-29 20:07] #11984 closed

[2017-09-29 20:07] 333fred commented on #20798
We settled on `IsDeclaration` on `ILocalReferenceExpression` and `IFieldReferenceExpression`. https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Operations/ILocalReferenceExpression.cs#L21-L25

[2017-09-29 20:07] #20798 closed

[2017-09-29 20:08] 333fred commented on #20798
Dupe of https://github.com/dotnet/roslyn/issues/18303.

[2017-09-29 20:08] jasonmalinowski commented on #8954
Current plan would be to make this be more free-threaded.

[2017-09-29 20:08] #8954 closed

[2017-09-29 20:09] #22381 closed

[2017-09-29 20:09] jinujoseph commented on #20798
how about tuples var (x, y) = (1, 2); scenario ?

[2017-09-29 20:10] jasonmalinowski commented on #7059
The work of moving the API down is complete, the rest is tracked by https://github.com/dotnet/roslyn/projects/18. This bug is too vague for further handling.

[2017-09-29 20:10] #7059 closed

[2017-09-29 20:12] jinujoseph commented on #18070
dupe https://github.com/dotnet/roslyn/issues/22429

[2017-09-29 20:12] #18070 closed

[2017-09-29 20:13] #9174 closed

[2017-09-29 20:13] jinujoseph commented on #9174
this is done

[2017-09-29 20:14] #19087 closed

[2017-09-29 20:14] jinujoseph commented on #8908
this is done

[2017-09-29 20:14] #8908 closed

[2017-09-29 20:14] AlekseyTs commented on #21292
I was hoping for examples with specific parents. Is the proposal that this node is exposed only for erroneous method/property invocations and for valid late-bound invocations?

[2017-09-29 20:16] jasonmalinowski commented on #17329
We now document the steps to upgrade PowerShell on Windows 7, so we'll call this good.

[2017-09-29 20:16] #17329 closed

[2017-09-29 20:16] jasonmalinowski commented on #17038
Moving forward actually -- this would save a hell of a lot of time...

[2017-09-29 20:17] jinujoseph commented on #21614
@333fred , @AlekseyTs , Is there some thing we need to take care here ?

[2017-09-29 20:17] alrz opened #22434 "Discarded stackalloc infers Span<T> type while var does not"
**Version Used**: master

**Steps to Reproduce**:

[code]
**Expected Behavior**: consistent behavior

**Actual Behavior**: inconsistent behavior

[2017-09-29 20:17] 333fred commented on #20798
That was one of the tests I added.

[2017-09-29 20:18] r-ramesh commented on #22428
Perhaps a member group like [Compiler generated] might be useful (if JMC is switched off)?

[2017-09-29 20:19] jinujoseph commented on #18599
@333fred is this checked in some where ?

[2017-09-29 20:19] #18599 closed

[2017-09-29 20:21] jinujoseph commented on #18073
@333fred , can you check if this still repros

[2017-09-29 20:22] jinujoseph commented on #18019
@heejaechang this should be fixed right ?

[2017-09-29 20:23] jinujoseph commented on #8900
@333fred is your current PR takes care of this ...

[2017-09-29 20:25] 333fred commented on #8900
Not currently, but I can add it.

[2017-09-29 20:25] jinujoseph commented on #7428
Can we validate this with new API's

[2017-09-29 20:26] jinujoseph commented on #7397
lets verify isimplicit flag is set

[2017-09-29 20:26] 333fred commented on #18019
The crash is fixed, but we have a new issue tracked here: https://github.com/dotnet/roslyn/issues/22362.

[2017-09-29 20:26] #18019 closed

[2017-09-29 20:34] jinujoseph commented on #8858
we need to find the dupe and close this one

[2017-09-29 20:35] heejaechang commented on #18225
cs side still doesn't work. so issue is remained open.

[2017-09-29 20:41] jinujoseph commented on #8824
This is done

[2017-09-29 20:41] #8824 closed

[2017-09-29 20:42] heejaechang commented on #18306
@jinujoseph I dont know.. we can test it.

[2017-09-29 20:42] jinujoseph commented on #8769
we removed the API

[2017-09-29 20:42] #8769 closed

[2017-09-29 20:43] heejaechang commented on #18306
@jinujoseph I am not 100% sure what it is asking..

[2017-09-29 20:44] jinujoseph commented on #8765
dupe of https://github.com/dotnet/roslyn/issues/21738

[2017-09-29 20:44] #8765 closed

[2017-09-29 20:52] #22338 closed

[2017-09-29 20:58] jinujoseph commented on #8763
Lets add this tests to see if this still an issue

[2017-09-29 21:02] 333fred commented on #8900
Actually, @jinujoseph, I think that PR is getting pretty big. I'll do this in a followup to keep that PR size reasonable.

[2017-09-29 21:02] jinujoseph commented on #8759
dupe https://github.com/dotnet/roslyn/issues/21738

[2017-09-29 21:02] #8759 closed

[2017-09-29 21:03] jinujoseph commented on #19371
@genlu , can you confirm this is done ?

[2017-09-29 21:05] jinujoseph commented on #18417
can you check if we are marking this as isimplicit?

[2017-09-29 21:05] jinujoseph commented on #18069
dupe of #18722

[2017-09-29 21:05] #18069 closed

[2017-09-29 21:05] ericstj commented on #19053
New piece of data I happened upon today.

ReferenceDependencyPaths is returned as part of BuiltProjectOutputGroupDependency, which is used by both Web Projects and ClickOnce packaging to mean "files that the app wants to copy along side it".  This seems inconsistent with usage, since ReferenceCopyLocalPaths is actually what gets copied next to the app.

Any chance you guys can dig up an initial sp

[2017-09-29 21:07] jinujoseph commented on #8794
dupe of https://github.com/dotnet/roslyn/issues/21292

[2017-09-29 21:07] #8794 closed

[2017-09-29 21:07] jinujoseph commented on #8772
dupe of #18658

[2017-09-29 21:07] #8772 closed

[2017-09-29 21:11] jinujoseph commented on #7582
@333fred this is done ?

[2017-09-29 21:13] jinujoseph commented on #7299
@333fred is this done ?

[2017-09-29 21:15] jinujoseph commented on #21849
dupe of https://github.com/dotnet/roslyn/issues/21196

[2017-09-29 21:15] #21849 closed

[2017-09-29 21:22] jinujoseph commented on #20787
dupe of https://github.com/dotnet/roslyn/issues/19603

[2017-09-29 21:22] #20787 closed

[2017-09-29 21:22] jinujoseph commented on #19603
we should also handle  BoundObjectInitializerMember

[2017-09-29 21:22] #22008 closed

[2017-09-29 21:25] jinujoseph commented on #18216
can we add tests for this

[2017-09-29 21:26] TyOverby opened #22437 " Microsoft.CodeAnalysis.UnitTests.WorkspaceServices.SQLitePersistentStorageTests.PersistentService_Document_WriteReadSameInstance is flakey"
When testing locally

 `Microsoft.CodeAnalysis.UnitTests.WorkspaceServices.SQLitePersistentStorageTests.PersistentService_Document_WriteReadSameInstance`

[code]

[2017-09-29 21:26] #18150 closed

[2017-09-29 21:27] jinujoseph commented on #17889
handled seperately

[2017-09-29 21:27] #17889 closed

[2017-09-29 21:27] #17861 closed

[2017-09-29 21:27] jinujoseph commented on #17861
This is done

[2017-09-29 21:28] jinujoseph commented on #10447
this is done

[2017-09-29 21:28] #10447 closed

[2017-09-29 21:35] AlekseyTs commented on #21292
I think it will be strange to run into an IArgument node when there are no such nodes for other arguments. I am leaning towards option 2.

[2017-09-29 21:36] gafter commented on #21375
I'm going to close this as will-not-fix. The specification for the "R" specifier does not leave room for changing the output. If the output starts changing, our tests will fail, and we can make any needed changes at that time.

[2017-09-29 21:36] #21375 closed

[2017-09-29 21:39] AlekseyTs commented on #21614
I think at the very least we need to fix C# implementation, the problem is described in https://github.com/dotnet/roslyn/issues/21614#issuecomment-323444633.

[2017-09-29 21:42] jinujoseph commented on #17273
@heejaechang is this done ?

[2017-09-29 21:44] heejaechang commented on #18216
@mavasani can you give me an example? I am not sure what it is asking.

[2017-09-29 21:46] heejaechang commented on #17273
yep. done long time ago.

[2017-09-29 21:46] #17273 closed

[2017-09-29 21:46] jinujoseph commented on #8900
makes sense

[2017-09-29 21:51] mavasani commented on #21292
Option 2 sounds fine to me. Yes, the node is only exposed for late bound and error cases where we cannot match it to a default argument. I will send a PR with tests for you to get a better sense.

[2017-09-29 21:56] paveliak opened #22438 ""out var _" crashes the compiler"
**Version Used**:
Microsoft Visual Studio Enterprise 2017
Version 15.0.26228.9 D15RTWSVC
Microsoft .NET Framework
Version 4.7.02046

**Steps to Reproduce**:
1. Create C# project
2. Add [Moq](https://www.nuget.org/packages/Moq) package
3. Compile this program and observe "error MSB6006: "csc.exe" exited with code -2146232797."

[code]
**Expected Behavior**: Program successfully compiles

**Actual B

[2017-09-29 21:57] agocke opened #22439 "`partial` check is in the parser because of initial problems moving it to binding"
In https://github.com/dotnet/roslyn/pull/22403 the checks in bindingfor the location of the `partial` keyword cause us to tug on the `SyntaxReference`. We should consider putting the check back in binding, but in the declaration table to avoid keeping syntax trees alive.

[2017-09-29 22:06] jcouv opened #22440 "Naming codestyles should handle local functions"
The screenshot below shows the list of specifications we currently support.
Can we add local functions?

![image](https://user-images.githubusercontent.com/12466233/31037750-6450e604-a527-11e7-9022-381188fa61bb.png)

FYI @kuhlenh @sharwell @agocke

[2017-09-29 22:13] VSadov opened #22441 "Perhaps rename ArgumentSyntax.RefOrOutKeyword to be RefKindKeyword"
In addition to `RefKeyword` and `OutKeyword` It can now also have a value `InKeyword` so perhaps the original name no longer fits.

It would be technically a breaking change though in the APIs

[2017-09-29 22:16] 333fred commented on #7397
We should also look into synthesized objects like SynthesizedLocals, https://github.com/dotnet/roslyn/pull/22056#discussion_r138746756.

[2017-09-29 22:36] brettfo opened #22442 "DeconstructionAssignmentWithRefReadonlyExtension unit test is failing regularly."

[2017-09-29 22:37] #21277 closed

[2017-09-29 22:40] jcouv commented on #22442
Looks like my PR (which added the test) was green before Omar's PR removed the `ref readonly` syntax. I'll fix the test and re-enable.
Thanks

[2017-09-29 22:49] jcouv commented on #22442
Re-opened, as I need to re-enable the test (with `in` syntax, instead of `ref readonly`)

[2017-09-29 22:56] heejaechang commented on #18216
looks like this bug is not fixed. so probably needed to be fixed first?

[2017-09-29 23:01] jcouv commented on #22442
Vlad has a fix in his PR https://github.com/dotnet/roslyn/pull/22405, but I should make sure the test was unskipped.

[2017-09-29 23:44] VSadov opened #22445 "Consider improving error message when async spilling fails"
ERR_RefReturningCallAndAwait and ERR_RefConditionalAndAwait.

The messages plainly say that ref-returning methods could not be used in the same signature with `await` arguments.
That is no longer entirely true. When passing to an `in` parameter, the scenario coudl work as long it is not a "strict in" situation. - I.E. if user removes `in` in the argument, it will work, so we probably should blame

[2017-09-29 23:49] mavasani opened #22446 "API off IInstanceReferenceExpression to distinguish between this reference and object being created"
See https://github.com/dotnet/roslyn/pull/22410#issuecomment-333237206

[2017-09-30 00:03] VSadov opened #22447 "Obsolete attribute that we put on ref-like types should be "error = true""
It looks like we are setting `error = false`, which might be a good idea for a preview, but it should be `error = true` in release.

We meant this to cause an error, not just a warning.

[2017-09-30 00:23] #22387 closed

[2017-09-30 00:23] #22442 closed

[2017-09-30 00:23] paveliak commented on #22438
A colleague of mine pointed out that I should try updating to the latest version and indeed this issue is fixed in VStudio version 15.3.5. Sorry for the noise. Feel free to close.

[2017-09-30 00:49] WrongBit commented on #12363
A whole year past and all MS did is.... contrast scheme! Definitely playing with colors is more easier than writing useful code.

[2017-09-30 01:43] #21981 closed

[2017-09-30 02:53] jcouv commented on #22438
Yes, I think this was fixed already. I'll go ahead and close.
Thanks

[2017-09-30 02:53] #22438 closed

[2017-09-30 02:55] jcouv commented on #22433
This is a known issue. It's tracked by https://github.com/dotnet/project-system/issues/2732
I'll go ahead and close as duplicate. Thanks

[2017-09-30 02:55] #22433 closed

[2017-09-30 03:03] jcouv commented on #22434
Yes, this is inconsistent, but this currently is by design.
`stackalloc` has a natural type of `Span`, but for backwards compatibility there is one exception: when initializing a local.

Relates to https://github.com/dotnet/roslyn/issues/22411, which proposes an analyzer to warn about such `var` locals. This is also a candidate for a diagnostic with warning waves.

[2017-09-30 03:05] jcouv commented on #22369
FYI @AnthonyDGreen (relates to the VB CLI issue we discussed last week)

[2017-09-30 03:17] jcouv commented on #22332
@anavarro9731 From the thread above and your description ("how variables declared at method-level scope are accessed by local functions within that method"), I think this is a known issue which is fixed in 15.5. The first preview of 15.5 will be available in October.
The distinctive stacktrace is below.

If you have source code to repro, we will confirm this was indeed fixed.

FYI @agocke

[code]

[2017-09-30 03:24] jcouv commented on #22322
Ok, filed https://github.com/dotnet/csharplang/issues/949
Closing this

[2017-09-30 03:24] #22322 closed

[2017-09-30 03:27] jcouv commented on #22441
We can probably manage the breaking change by adding the new API and marking the old one as obsolete.

[2017-09-30 03:32] jcouv commented on #22313
@akash3456 I didn't understand the question.

What roslyn folder do you expect and at what path? Are you getting some error message?
If you have a simple project to reproduce the issue, could you make a zip file and share it?

[2017-09-30 03:38] jcouv commented on #22313
I just saw a thread that may be related to your issue. Take a look in case that answers your question.
https://github.com/dotnet/roslyn/issues/21627

[2017-09-30 03:41] jcouv commented on #21627
Glad to hear this is resolved. I'll go ahead and close the issue.
Feel free to re-open if that's not the case. Thanks

[2017-09-30 03:41] #21627 closed

[2017-09-30 03:57] jcouv commented on #21579
@scegg Thanks for the clarification. I had misunderstood your scenario. You're trying to use types that only exist inside the runtime, and you have an `Assembly` reflection object.
Indeed, I don't think it is possible to use such type from a Roslyn `Compilation`.

I'm trying to think how this could be done, but I'm falling short. In particular, the compiler emits metadata which has assembly refere

[2017-09-30 04:22] jcouv commented on #19341
@heejaechang I didn't understand your comment. In this scenario, the project was built, so the compiler would have produced diagnostics from later stages as well.

Is it possible that the problem is that one window pulls the diagnostics from one compiler instance (which doesn't get past binding), while the other windows gets diagnostics from a different compiler instance (which emits as part of th

[2017-09-30 04:57] jcouv commented on #18201
Seems like this can be closed, no?

[2017-09-30 05:27] heejaechang commented on #19341
IDE maintain set of error code that are marked as live and ones that are marked as build time only.

for those error code that are marked as live (Intellisense + Build) will always prefer one from live even though there are error from build since those error could be staled error. so if error code is marked as live, and live doesnt produce the error but there is one from build. we don't show the o

[2017-09-30 05:47] anurse commented on #22433
Thanks! Gotta remember to search there too when I'm looking for these issues :)

[2017-09-30 06:45] jcouv commented on #22433
No worries. There are multiple repo, so it's not easy to know where to look.
Cheers

[2017-09-30 08:11] jskeet opened #22448 "Default literal diagnostics is over-enthusiastic in conditional operators"
**Version Used**:

- Microsoft (R) Visual C# Compiler version 2.3.2.62116
- VS 2017 Community Edition 15.3.5

**Steps to Reproduce**:

.NET Core 2.0 console app with `<LangVersion>7.1</LangVersion>`.

[code]

**Expected Behavior**:

Diagnostic shouldn't offer to simplify an expression of `default(int?)` to `default` when the latter is actually equivalent to `default(int)`.

Note that the `(int?)`

[2017-09-30 08:20] jskeet opened #22449 ""Find references" ignores collection element initializers"
**Version Used**:

- Microsoft (R) Visual C# Compiler version 2.3.2.62116
- VS 2017 Community Edition 15.3.5

**Steps to Reproduce**:

Create a console app containing the following class:

[code]

Right click on the "Add" method, and select "Find References".

**Expected Behavior**:

The calls from both `GetMapping` and `GetMapping2` should be shown.

**Actual Behavior**:

Only the calls from `Get

[2017-09-30 08:21] alrz commented on #22441
err, https://twitter.com/jaredpar/status/880171504926720000

[2017-09-30 16:37] jskeet commented on #17968
I've been looking at removing the MyGet dependency from the Noda Time build - I'd hoped that now that Roslyn 2.3 is out, I could use the nuget.org packages. Unfortunately, Microsoft.CodeAnalysis.Build.Tasks is still only on MyGet as far as I can see. Without that, I'm back to framework types not being found.

Is there an expectation that this should work now? Very to happy to try to repro in a min

[2017-09-30 17:02] AdamSpeight2008 commented on #22448
Wouldn't be `default(int?)` if target type is taken into account?

[2017-09-30 17:04] svick commented on #22448
This sounds like a duplicate of https://github.com/dotnet/roslyn/issues/21638.

[2017-09-30 17:08] alrz commented on #22448
@AdamSpeight2008

Here the target-type is the type of the other operand, not where the ternary itself is being assigned.

[2017-09-30 17:11] jskeet commented on #22448
@svick: You're right, this is a duplicate of that. Apologies - I looked first, but because that issue doesn't mention "default literal" I didn't find it :(

[2017-09-30 17:11] #22448 closed

[2017-09-30 17:18] AdamSpeight2008 commented on #22448
@alrz  that usage of *target type* is misleading i think it should be *candidate type*.
`targetType target = condition ? canditade0 : candidate1;`
Then use the greatest common type determine the type?

[2017-09-30 17:24] alrz commented on #22448
I mean, whatever type that the compiler tries to "convert" the other side into.

[code]
 `x` is `string` and the conversion operator is called on `this`.

[2017-09-30 17:51] AdamSpeight2008 commented on #22448
@alrz
My understanding is it work like this
[code]

[2017-09-30 18:09] VSadov opened #22450 "IDE visualizes span as [deprecated]"
![image](https://user-images.githubusercontent.com/8218165/31048319-795b052c-a5cf-11e7-91b3-bbda0edc7f12.png)

The Obsolete attributes on ref-like types are a part of compiler/runtime handshake and should not be visualized when follow the pattern.

I am not sure on what side this is - symbol display or some higher IDE level, but these obsolete should be filtered out.

[2017-09-30 18:12] paul1956 opened #22451 "For Each returns wrong error and incorrent refactorings with Option Strict On"
**Version Used**:
VS 15..3.5
**Steps to Reproduce**:
1. Options Strict On, Explicit On, Infer Off
1. For Each Attribute In syntax
 Returns error BC30109 and offers 2 useless refactoring's to add Imports statements or additional qualifiers
For Each X In syntax
Returns error BC30451 which is what I expect
**Expected Behavior**:
Error BC30451 in all cases when Control Variable in For Each does not ha

[2017-09-30 18:36] AdamSpeight2008 commented on #1376
@gafter Could you move this over to the https://github.com/dotnet/vblang repo please.

[2017-09-30 18:45] alrz commented on #22448
It doesn't depend on either side being `default`, just that it doesn't have a type and is implicitly convertible to all types.

Curretly we don't a concept of "greatest common type", we just use the exact types of expressions.

[2017-09-30 18:54] VSadov opened #22453 "Metadata view should not show wellknown/embedded attributes"
![image](https://user-images.githubusercontent.com/8218165/31048358-287ddd86-a5d0-11e7-8d9a-5dd0015f3a29.png)

None of the attributes are really expected in this view.
They do exist in metadata, but since we show something that looks like source, they should be mapped to language features.

This is not a valid syntax. I'd expect something like

[code]

Not sure if this is a matter of symbol displa

[2017-09-30 18:55] VSadov commented on #22453
I think this is 15.later since this is not directly visible

[2017-09-30 18:57] VSadov commented on #22450
I think this is 15.5  since it is very visible.

[2017-09-30 18:58] VSadov commented on #22453
CC: @jcouv - for triage

[2017-09-30 19:05] VSadov opened #22454 "Keyword recommender needs adjustments for "in" arguments"
![image](https://user-images.githubusercontent.com/8218165/31048699-92bb01f4-a5d7-11e7-984e-72f3d22099c0.png)

No "in" in the completion list.

[2017-09-30 19:32] VSadov opened #22455 "`in` and `out` arguments should be disallowed in `__arglist`"
varargs should disallow  `out` and `in` arguments. There is no way the calee can express its part of the contract.

We currently allow both and `out` was allowed in old compiler versions too. We should disallow both.

Arguably it would be a breaking change for `out`, but it is very unlikely it would affect real code.

Example:

[code]

[2017-09-30 19:32] VSadov commented on #22455
15.later since this is in an "undocumented" feature.

[2017-09-30 19:34] VSadov commented on #22455
CC: @jcouv  for triage
Also @gafter since there is a compat concern here.

[2017-09-30 19:42] jcouv commented on #22449
Tagging @jinujoseph for triage

[2017-09-30 20:05] VSadov opened #22456 "When `in` argument matches `in` parameter we forget to record the match in escape analysis"
As a result we may report false and misleading escape errors:

[code]
Since we did not mark "x" parameter as matched by an argument, we think it was supplied an optional value and therefore the whole call is not safe to return by reference.

[2017-09-30 20:51] paul1956 commented on #22060
@jasonmalinowski Sorry I was out of the country with limited internet. The error occurs while trying to run the test after upgrading the project from 4.6.1 to 4.7 and then upgrading all the Roslyn NuGet packages. The problem was solved by manually copying Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll to Test\bin\Debug with no changes to any files.

[2017-09-30 22:56] gafter commented on #18201
Integrated into C# 7.2 and VB 15.5.

[2017-09-30 22:56] #18201 closed

[2017-09-30 22:59] #22244 closed

[2017-10-01 00:41] ChristopherHaws commented on #22416
Updated the title and description of the issue to be more specific about what is failing.

[2017-10-01 01:08] jcouv commented on #22441
Ah, makes sense.
@dotnet/compiler-api  Should we just add the better named property (leaving the existing one), or stick with just the existing one?

[2017-10-01 03:48] #18348 closed

[2017-10-01 05:34] paul1956 commented on #22352
I have found workarounds for many of the cases where Nothing is returned but the case below (found in VisualBasicExtensions.vb) completely stumps me
[code]

[2017-10-01 11:05] alrz commented on #22441
Could we have "soft" obsolete warnings that does not turn to errors with warnaserror? `RefOrOutKeyword` is obviously misleading and wouldn't be the last one that needs to be renamed. Even if we add another property, I think it's good to hint the user about the change.

[2017-10-01 16:09] MikhailArkhipov commented on #20932
Need this to build https://github.com/microsoft/rtvs on OSX when debugging

[2017-10-01 16:40] Korporal opened #22459 "Tuples in Attributes"
I'm using VS 2017.

I tried to create a simple attribute class who's constructor accepts a single Tuple of type (some-enum,string). This compiles.

However when I try to attach the attribute to some member in some class I get CS0181 "Attribute constructor parameter 'Parameters' has type '(API.Disposition, string)', which is not a valid attribute parameter type".

The attribute use in this case loo

[2017-10-01 22:40] HaloFour commented on #22459
The parameter types permitted in the application of an attribute is limited by the CLR to the subset of types listed in that article.  Without modification to the CLR there's nothing that the compiler can do to circumvent that limitation.  But you can still instantiate an attribute in code so other constructors of arbitrary types are allowed.

[2017-10-02 01:08] davkean commented on #21134
While I gathered the crashes from that bug - that bug is not related to above.

[2017-10-02 01:29] AdamSpeight2008 opened #22461 "Refactoring Compiler Tools"
I'm looking at refactoring some of the compiler tools, so they can utilise upto date language features. abstractions and readability.
 * [BoundNodeClassWriter](https://github.com/dotnet/roslyn/blob/master/src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs) ( Covered in PR #22460)
This can be made abstract so the language specific aspects are implement in a de

[2017-10-02 05:21] SyntaxNode commented on #21580
I've encountered this problem in a solution with about 30 projects and with over 150,000 lines of code. Most of the projects are .Net Framework with the exception of 2 .Net Core projects. We did not experience this issue in 15.0, 15.1, or 15.2. When VS begins loading the solution we can see the memory climb up until the ceiling is hit and VS gives us this service crash warning.

[2017-10-02 05:36] dsplaisted commented on #22369
This issue was moved to dotnet/sdk#1622

[2017-10-02 05:36] #22369 closed

[2017-10-02 09:38] RehanSaeed opened #22464 "Optimize Generic new() Constraint"
[Jon Skeet](https://codeblog.jonskeet.uk/2011/08/22/optimization-and-generics-part-1-the-new-constraint/) has a whole blog post describing how the generic `new()` constraint calls `Activator.CreateInstance` which uses reflection, so it ends up being slow.

Workarounds for this at the moment are to use `default(T)` for structs or creating a `Func<T>` lambda using expression trees like so:

[code]

[2017-10-02 11:33] sharwell commented on #22464
:link: Related to (and possible duplicate of) dotnet/coreclr#7592.

[2017-10-02 11:49] sharwell commented on #22441
It turns out this doesn't exist, because we can't stop people from doing this:

https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/baeb1267507f71b49b0f57982e6dcd4c99e4f9af/StyleCop.Analyzers/Directory.Build.props#L25-L28

[2017-10-02 14:22] fred-perkins commented on #7842
Hi, bit late the party, just ran into this issue myself. @erik-kallen did you ever find a way to resolve question 2? I have a use case where i need to process a project using CodeAnalysis with some additional changes to the csproj files externally. I'd like to reload just the project instead of reloading the whole solution.

Thanks in advance :)

[2017-10-02 14:56] kuhlenh commented on #22375
@Pilchie @dpoeschl Just heard a couple customers mention this feature request at MSIgnite last week too.

[2017-10-02 15:05] kuhlenh commented on #22440
@jcouv @dpoeschl Lots of people have asked for local variable support for naming. Do we think local functions would have different style than other locals'?

[2017-10-02 15:20] sharwell commented on #22440
@kuhlenh I typically name local functions in PascalCase, as opposed to other locals in camelCase.

[2017-10-02 15:29] kuhlenh commented on #22440
@sharwell so treat local functions like methods? I'm just trying to figure out if there really is a need to call local functions out separately, or if we set the style to match locals or methods.

[2017-10-02 17:01] svick commented on #22459
CS0181 is not among [the errors listed in documentation](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/). Since you found it confusing, maybe it should be? I'm not sure what is the rule about which errors are documented, but you might want to consider creating an issue on [the docs repo](https://github.com/dotnet/docs), asking for CS0181 to be documented.

[2017-10-02 17:08] mavasani commented on #3562
Closing this out for now - we can investigate if we receive customer feedback about this.

[2017-10-02 17:08] #3562 closed

[2017-10-02 17:42] Korporal commented on #22459
@HaloFour @svick - Thanks for the updates. I guess my primary problem here is that the attribute class itself compiles despite the fact that the arg is invalid for an attribute, shouldn't we get an error here?

[2017-10-02 17:47] dpoeschl opened #22465 ".editorconfig directive dotnet_sort_system_directives_first = false is not regarded"
From: https://developercommunity.visualstudio.com/content/problem/45249/editorconfig-directive-dotnet-sort-system-directiv.html

"System namespaces always come first, no matter what the value of this directive is. Other directives work fine."

[2017-10-02 17:52] HaloFour commented on #22459
@Korporal

Not technically.  You're always allowed to instantiate an attribute via code rather than using attribute syntax in which case those limitations don't apply.  But I could a warning wave candidate if an attribute type lacks any constructors that could be invoked by the runtime.

[2017-10-02 17:54] svick commented on #22459
No, that would be a breaking change. As @HaloFour pointed out, code like `var a = new QueryParametersAttribute((Optional,"gradeType"));` is valid (weird, but valid), so it can't be an error.

I think it could be a warning that's part of a warning wave, though (https://github.com/dotnet/roslyn/issues/1580).

[2017-10-02 17:56] Korporal commented on #22459
OK thanks, you're quite right. Be nice if I _could_ use it with Tuples though...!

[2017-10-02 18:04] HaloFour commented on #22459
For that you might want to open an issue on the [CoreCLR](https://github.com/dotnet/coreclr/) repo.  The CLR would need a way to recognize the family of tuple types and support embedded constant values of those types.

[2017-10-02 18:06] KirillOsenkov commented on #20227
OK, now I'm not convinced that it should work at all. I wonder if the compiler should resolve a type from ProjectA that's been type-forwarded away to some other assembly.

Or are type-forwarders only respected by the runtime, and not the compiler?

I should add that the IDE behavior is correct, i.e. consistent with the compiler. @jasonmalinowski is correct, there doesn't seem to be a difference wh

[2017-10-02 18:09] jasonmalinowski commented on #20227
The compiler chases type forwards.

[2017-10-02 18:17] Pilchie commented on #21358
:link: Also reported in https://developercommunity.visualstudio.com/content/problem/84390/need-to-reload-project-during-multi-targeted-net-c.html

[2017-10-02 18:25] DustinCampbell commented on #17968
`Microsoft.CodeAnalysis.Build.Tasks` is included in `Microsoft.Net.Compilers`

[2017-10-02 18:26] mavasani commented on #7397
I verified the operation tree for empty Sub Block is following and none of the nodes are marked implicit:

[code]

We need to fix this for 15.5.

[2017-10-02 18:26] DustinCampbell commented on #21292
Sounds good

[2017-10-02 18:29] heejaechang commented on #21580
@SyntaxNode I can't say why it is happening without dump and etl. but sounds like this issue if it started to happen in 15.3 - https://github.com/dotnet/roslyn/pull/22185

can you try 15.4 and see whether it is still happening? if it does, can you provide dump?

[2017-10-02 18:29] sharwell commented on #22465
This sounds like a duplicate of #19089, assuming the user attempted to use a Fix All operation here.

[2017-10-02 18:29] heejaechang commented on #21580
@Pilchie @jinujoseph is this PR (https://github.com/dotnet/roslyn/pull/22185) included in lastest 15.4 released to public?

[2017-10-02 18:31] DustinCampbell commented on #21799
I don't *think* I've fixed this, since I haven't ever seen that error.

[2017-10-02 18:33] cston commented on #5157
Tests were added for locals and captured variables in local functions in #18415. Currently, local functions cannot be invoked from the EE, see #16951, and corresponding tests are needed.

[2017-10-02 18:36] jskeet commented on #17968
Humbug - that wasn't enough to get it working. Will try to come up with a minimal example - ideally one that works with the beta packages that Noda Time still uses, but doesn't work with the released ones - and then we can play spot the difference.

[2017-10-02 18:57] cston commented on #18244
@daveaglick, thanks for reporting this issue and for identifying the race condition in `XmlDocumentationProvider.GetDocumentationForSymbol`.

cc @jinujoseph

[2017-10-02 19:26] #22379 closed

[2017-10-02 19:34] jcouv opened #22466 "Test plan for "ref local reassignment""
- [x] Needs a [speclet](https://github.com/dotnet/csharplang/blob/master/proposals/ref-local-reassignment.md)

- [ ] **Using reassignment expression as an RValue**
	- [x] ref-assignments are a target and a value of ordinary byvalue assignment
	- [ ] pass to an `in` parameter when conversion is needed
	- [ ] pass as reordered named value arguments. `M(a: x1 = ref x2, b: x1 = ref x2);`
    	- [ ] ch

[2017-10-02 20:05] Pilchie commented on #21580
It should be in the build released this morning, if not a previous one.

[2017-10-02 20:22] OmarTawfik commented on #22450
@VSadov I'll look into it.

[2017-10-02 20:29] heejaechang opened #22467 "make VS debugger support showing variables defined in 2 assemblies with exact same fully qualified name"
let's say MyNamespace.MyStaticType.MyStaticName is defined in 2 assemblies. right now, if I try to see that variable, VS will complain about they being defined in 2 different assemblies and reject to show the variables.

I think we should support it by just showing both rather than not showing at all. watch window already support tree view. so showing those shouldn't be impossible.

[2017-10-02 21:09] jnm2 commented on #22262
Moved to https://developercommunity.visualstudio.com/content/problem/123895.

[2017-10-02 21:11] dpoeschl opened #22469 "Proposal to bring back the "Sort Usings" command"
Developer Community: https://developercommunity.visualstudio.com/content/problem/46236/bring-back-sort-usings-command.html

"Please bring back "Sort Usings" command to C# editor context menu.

2017 replaced this command with "Remove and Sort Usings", which is not what I prefer doing: I do not want to remove stock usings from the list, because every time I want to use a feature from those, I have t

[2017-10-02 21:11] dpoeschl commented on #22469
+2 more comments in agreement on the Developer Community issue

[2017-10-02 21:12] dpoeschl commented on #22469
@kuhlenh This is a good point. Thoughts?

[2017-10-02 21:17] agocke commented on #22027
Our internal builds were using 15.4, which is not `master`. This does appear to be fixed by the closure conversion rewrite.

[2017-10-02 21:39] agocke commented on #17864
THere's no further work on the compiler side here. We set this bit only for DevDiv and only during toolset insertion. Until DevDiv fixes their bug I'll keep this one around as a tracking item.

[2017-10-02 21:41] #22456 closed

[2017-10-02 21:50] richaverma1 opened #22471 "Refactoring 'Move declaration near reference' for VB results in erroneous code"
**Version Used**: d15rel 26927.1

**Steps to Reproduce**:

1. I have this code -
        Dim b As Integer
        Console.WriteLine("")
        Dim k As Integer = 20
        b = Floor(1.7)
2.  Keep cursor on the first line and hit ctrl+. , select 'Move declaration near reference'
3.  Code changes to
        Console.WriteLine("")
        Dim k As Integer = 20
        Dim b As Integer
= Floor(1.7)

[2017-10-02 21:53] tmat commented on #22467
What if you type an expression

[code]

Should we evaluate all 4 possible combinations if each of the types is there twice?

What we need is the ability to define and then use an extern alias, like in regular C# file.

[2017-10-02 21:55] kuhlenh commented on #22469
Yeah, we've been hearing this frequently enough that we need to consider bringing it back. I really don't want to add more top-level commands to the Context Menu, so we might have to nest this (though that also doesn't seem ideal). Any other ideas?

[2017-10-02 21:57] heejaechang commented on #22467
@tmat you can show existing ambiguous thing for that. it doesn't need to be solved all cases which require a lot of work.

if it can handle simple case, then people can get info out by doing some more typing. right now, it can't even do most basic thing leaving people no other way to do it.

[2017-10-02 21:59] heejaechang commented on #22467
"What we need is the ability to define and then use an extern alias, like in regular C# file." and I am not sure whether this is good approach.

I believe simple thing should be simple. the approach above will make people to be expert on debugger tricks for the most basic thing. I think even though we do the above for complex cases, we should let people to get simple info in simple way.

[2017-10-02 22:01] mavasani commented on #11859
Taking this from @333fred as he already has quite a few urgency now issues.

[2017-10-02 22:04] mavasani commented on #7397
We can fix this in few ways (and we will probably have to do similar fixes in other places in future, so tagging @AlekseyTs, @jinujoseph and @DustinCampbell for the preferred approach):

1. Mark the bound nodes created in the binder as `WasCompilerGenerated = true`, which will flow into `IOperation.IsImplicit`.
2. Explicitly filter out bound Labeled statement and Return statement nodes with EndBlo

[2017-10-02 22:06] mavasani commented on #7397
I prefer 2. as this also ensures parity between C# and VB operation trees.

[2017-10-02 22:06] gafter commented on #22441
There is nothing actively harmful or incorrect about the old overload, so I'm not obsoleting anything.

[2017-10-02 22:07] mungojam commented on #22095
I have been experimenting with PackageReference flags and they seem to almost solve this but not quite. I expect there is a non-breaking change that could resolve this. I think the ideal would be for a way for PackB to reference PackA such that the API of PackA was not exported to anything that just pulls in PackB (e.g. PackC). But the PackA DLLs would still come along and be deployed in any up-le

[2017-10-02 22:24] tmat commented on #22428
@stephentoub The EE presents data stored in the compiler generated fields in a form that makes sense to a person who understands C# language but doesn't necessarily know how the compiler represents language constructs in the metadata. For example, variables that are hoisted in state machines and closures are presented as if they were "regular" locals, even though they are actually fields.

I think

[2017-10-02 22:25] jinujoseph opened #22474 "Out variable declaration with same name as existing variable causes Internal error in the C# compiler"
https://developercommunity.visualstudio.com/content/problem/122978/out-variable-declaration-with-same-name-as-existin.html

Scenario 103-Debugging C# 7 Features

Declare function
static void R(out double x, out int y) => x = y = 4;

In a Main function pause on this line:
R(out double x, out int y);

In the expression window, enter:
R(out var x, out var y);

Expected:
error CS0136: A local or param

[2017-10-02 22:26] mungojam commented on #22095
Now working with it on GitHub: https://github.com/mungojam/TransitiveReferenceFun

[2017-10-02 22:35] jinujoseph opened #22475 "Immediate Window throw expression on null causes Internal error in the expression evaluator."
https://developercommunity.visualstudio.com/content/problem/122928/immediate-window-throw-expression-on-null-causes-i.html

Scenario 103-Debugging C# 7 Features

In the Immediate Windows for a C# project, enter

(object)null ?? throw null

The throw expression should cause a null-reference exception .

Instead, you see "Internal error in the expression evaluator."

cc @ivanbasov  to triage

[2017-10-02 22:48] tmat commented on #22467
Having two types with the same name in two different assemblies is not a "basic thing". Besides, C# developers already understand how to deal with such types in regular C# files. I don't think we should introduce a different way of dealing with such types. We just need to make it easy to define an alias for an assembly while debugging.

[2017-10-02 22:53] mavasani commented on #11859
Need to discuss the right fix here:

1. Add the BoundInvocation with `WasCompilerGenerated = true` to the bound tree for the implicit `MyBase.New` invocation.
2. Do not change the bound tree but just change the operation tree to generate this `IInvocation` wrapped around an `IExpressionStatement`, with both nodes marked `IsImplicit = true`.

[2017-10-02 23:10] tmat commented on #22467
Related: https://github.com/dotnet/roslyn/issues/1530.

[2017-10-02 23:18] ivanbasov commented on #22474
Related to more general one: https://github.com/dotnet/roslyn/issues/16062

[2017-10-02 23:25] gafter commented on #2206
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-10-02 23:25] #2206 closed

[2017-10-02 23:42] #15696 closed

[2017-10-02 23:44] #22305 closed

[2017-10-02 23:52] jaredpar commented on #20932
@MikhailArkhipov this bug is just a tracking issue for us. The real bug is dotnet/sdk#826

[2017-10-03 00:04] jasonmalinowski commented on #22380
@mavasani, @jinujoseph: weren't you looking at getting us moved over soon for dogfooding reasons?

[2017-10-03 00:06] mavasani commented on #22380
Yes, that is correct. We plan to move dev15.5.x branch to consume/dogfood 2.5 FXCop analyzer packages, which also require bumping to the latest 2.5 compiler toolset with latest IOperation changes. @jcouv Can you give some more details for this?

[2017-10-03 00:07] ivanbasov commented on #5157
Thank you, @cston! Let us keep track #16951 and close this one because tests required are already there.

[2017-10-03 00:07] #5157 closed

[2017-10-03 00:14] ivanbasov commented on #13181
Related to https://github.com/dotnet/roslyn/issues/16062

[2017-10-03 00:18] mavasani opened #22477 "Expose richer desconstruction assignment/conversion info in IOperation v2"

[2017-10-03 00:19] ivanbasov commented on #22474
Related to https://github.com/dotnet/roslyn/issues/15132

[2017-10-03 00:21] nguerrera opened #22478 "CscToolExe full path with empty CscToolPath no longer works"
In previous versions, if $(CscToolExe) specified a full path to csc.exe, it would be used even if CscToolPath was unset.

However, this no longer works with latest 15.5 bits.

This was discovered when we were unable to ingest a newer Roslyn in to the CLI without also ingesting a change in the way we the compiler location is set.  Now, with dotnet/cli#7311 the CLI no longer relies on the old behavi

[2017-10-03 00:36] tmat commented on #21579
@scegg On Core CLR you can use [AssemblyExtensions.TryGetRawMetadata](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.metadata.assemblyextensions.trygetrawmetadata?view=netcore-2.0#System_Reflection_Metadata_AssemblyExtensions_TryGetRawMetadata_System_Reflection_Assembly_System_Byte___System_Int32__)

[2017-10-03 00:44] ivanbasov commented on #17936
It seems to be a problem on the VS IDE side. Requested a confirmation from them.

[2017-10-03 00:51] tmat commented on #22402
Tagging @caslan. The debugger owns this window.

[2017-10-03 01:07] OmarTawfik commented on #19274
Re-opening to track re-enabling the feature after 15.5.
cc @tmat

[2017-10-03 01:27] DustinCampbell commented on #7397
I agree, so long as that doesn't break the following code (though I wouldn't expect it to, since the syntax would be different).

[code]

Hmmm... that makes me wonder what the operation tree look like for VB code that uses the implicit function variable:

[code]

[2017-10-03 01:36] OmarTawfik commented on #22450
@roslyn-ide any pointers where to start digging into this?

[2017-10-03 02:02] sharwell commented on #22425
I don't see an issue with `s_delayMilliseconds` in this context. However, the `TurnOffLowLatencyMode()` method could be updated to force `s_delay` to expire if it's called while `GCSettings.LatencyMode` is `GCLatencyMode.SustainedLowLatency`.

[2017-10-03 03:15] stephentoub commented on #22428
Paste this code into a desktop console app in VS, build as debug, and F5:
[code]
When it breaks in, evaluate this in the watch window:
[code]
According to "variables that are hoisted in state machines and closures are presented as if they were "regular" locals", I should be able to expand that and see the hoisted `i` local, but it's not expandable.
![image](https://user-images.githubusercontent.co

[2017-10-03 03:49] CyrusNajmabadi commented on #22450
@OmarTawfik All IDE resources are named after their english content.  So you can just search for 'deprecated' and you'll find the resource.  You can then FindAllRefs on that to find the location it is used.

[2017-10-03 07:10] jcouv commented on #22380
I don't have more details, but @jaredpar can fill in.
My understanding is that RedHat requires that the C# 7.2 compiler be built using an older compiler (such as the C# 7.1 compiler).
This means that moving forward we can only dogfood the compiler in a vNext branch.

[2017-10-03 07:14] SyntaxNode commented on #21580
I'm downloading the latest bits now and will try in the morning. Thnx @heejaechang.

[2017-10-03 10:48] 4creators commented on #22464
@sharwell  imho it seems to be different problem. Here the problem is about using `Activator.CreateInstance` by `new() generic constraint` which may be solved by avoiding use of `Activator.CreateInstance` instead of optimizing `Activator.CreateInstance` what seems to be non trivial according to https://github.com/dotnet/coreclr/issues/7592.

[2017-10-03 13:07] weitzhandler opened #22484 "Restrict "'default' expression can be simplified""
### Motive

Consider this C# 7.1 snippet in Visual Studio 15.3.5:

![image](https://user-images.githubusercontent.com/2716316/31126369-43449d54-a854-11e7-9688-b33d3609ecaa.png)

The compiler offers to "simplify" `default(DateTime)` with `default`, but that's not just a mere simplification, because the return type of the function is `object`, so `default` will return `null` whereas the default `Dat

[2017-10-03 13:20] HaloFour commented on #22484
I agree, the analyzer needs to detect the context in which the expression will be used/assigned.  This is also happening in the following case:

![image](https://user-images.githubusercontent.com/10102290/31127090-d8d80a1a-a81b-11e7-9995-e3bbb70d9453.png)

[2017-10-03 13:32] weitzhandler commented on #22484
I've updated my question with another example.

[2017-10-03 13:45] ufcpp commented on #22484
https://github.com/dotnet/roslyn/issues/21941

[2017-10-03 13:52] marek-safar opened #22485 "Cannot change initonly field outside its .ctor regression"
**Version Used**:  2.6.0.62126 (1758d50b)

**Steps to Reproduce**:

1. Compile following code

[code]

2. peverify output.exe

**Expected Behavior**:

No error (as in previous releases)

**Actual Behavior**:

[IL]: Error: [output.exe : S::ToString][offset 0x00000002] Cannot change initonly field outside its .ctor.

[2017-10-03 14:06] weitzhandler commented on #22484
@ufcpp,
I'm gonna close this issue then.

[2017-10-03 14:06] #22484 closed

[2017-10-03 14:06] weitzhandler commented on #21941
@sharwell
Please read this too: #22484

[2017-10-03 14:56] Pilchie commented on #22380
Is the requirement that we *use* a 7.1 compiler, or that we *be able to use* a 7.1 compiler?  In other words, would using the 7.2 compiler with `/langver:7.1` be enough (the source build could then disable analyzers that won't run on the 7.1 compiler).

[2017-10-03 15:00] khyperia commented on #22478
Just checking - was this _ever_ supposed to work? ( https://github.com/dotnet/cli/pull/7311#discussion_r133783295 ) - CscToolExe _should_ be just the filename, and CscToolPath _should_ be the path, but I'm wondering if we intended support this as a fallback.

[2017-10-03 15:40] mavasani opened #22486 "Ensure correct syntax node is associated with matched BoundOmittedArgument"
See unit test `DirectlyBindOmittedArgument_InvocationExpression` and the baseline operation tree for the test. Issue is explained here: https://github.com/dotnet/roslyn/pull/22444#discussion_r142282133 and the underlying reason is explained here: https://github.com/dotnet/roslyn/pull/22444#discussion_r142439183

[2017-10-03 15:43] jaredpar commented on #22380
No. When doing a source build we must use the same compiler (actual binary) that we previously inserted.

[2017-10-03 15:51] jaredpar commented on #22380
Note that in the future this draconian restriction should go away. Our velocity here is limited by how often we insert into our source partners. Presently that is only when we ship because the source build operation is still very new to us and just not setup for regular use.

There is a big effort underway now to fix that. Make source build easy and regular. Once that happens we will be inserting

[2017-10-03 16:08] #22006 closed

[2017-10-03 16:14] jinujoseph opened #22488 "VS2017 - Message says Download the .NET Compiler Platform SDK even though it's already installed"
copied from https://developercommunity.visualstudio.com/content/problem/60559/vs2017-message-says-download-the-net-compiler-plat.html
After installing the .NET Compiler Platform SDK I continued to get the message directing me to install the SDK (see attached screenshot). The new project types aren't visible unless .NET Framework 4.6+ is targeted. Can you make the message on the right "To begin cre

[2017-10-03 16:30] asoifer opened #22489 "Less information in Initializers (ObjectCreationExpression)"
**Version Used**:  2.3.2 (Release)

Supose we have this operation:

operation = "new M { Title = "Title", Description = "aaa", ReleaseDate = new DateTime(2007, 03, 12) }"
this operation is an object creation expression... then

In the **previous** version of IOperation interfaces we have, this information:

operation.Initializers.ToList()[0].Kind is OperationKind.**PropertyInitializerInCreation**

[2017-10-03 16:43] jinujoseph opened #22491 "Code Analysis Null Propagation"
copied from https://developercommunity.visualstudio.com/content/problem/32532/code-analysis-null-propagation.html

Since the inception of the null propagation operator, code analysis thinks that the Dispose method is not being called. This is a huge problem since I have about 3,000 different object that must be disposed in my project. I cannot determine if I actually am missing one since there are

[2017-10-03 16:46] jinujoseph commented on #22491
This is related to Fxcop Analyzers

[2017-10-03 16:49] nguerrera commented on #22478
It's quite possible that this was never supposed to work. The more important question is whether any client other than CLI nevertheless depends on it working and whether it is acceptable to break them.

Note that the current error message is not actionable. I had to read the code to figure out what was happening. So even if we take the stance that this is supposed to be an error, the diagnostic sh

[2017-10-03 17:21] jcouv commented on #22489
FYI @jinujoseph @heejaechang  for triage

[2017-10-03 17:23] mavasani commented on #21292
We have retained the existing API shape and added unit tests with https://github.com/dotnet/roslyn/pull/22444. Closing this issue.

[2017-10-03 17:23] #21292 closed

[2017-10-03 17:24] jcouv commented on #22485
@marek-safar Which previous version produced an error? Is it VS2017/2015 (Roslyn) or older (native compiler)?

[2017-10-03 17:35] mavasani commented on #22489
We should already have this information in the latest initializer API (not sure if it was part of 2.3.2, but should be part of latest API). See the unit test [ObjectCreationWithMemberInitializers](http://source.roslyn.io/#Roslyn.Compilers.CSharp.Semantic.UnitTests/IOperation/IOperationTests_IObjectCreationExpression.cs,14):

[Source code snippet](http://source.roslyn.io/#Roslyn.Compilers.CSharp.Se

[2017-10-03 17:38] jcouv commented on #22478
Assigned to @khyperia who seems to be working on a fix already.

[2017-10-03 17:57] jeremymeng opened #22493 "C# simplification code fix is not offered for lambda with dynamic parameter"
**Version Used**: Visual Studio 2017 15.3.5

**Steps to Reproduce**:

1. paste the following code into a new C# file
[code]

**Expected Behavior**:
Simplification code fix is available for `System.Console.WriteLine(x)` to remove `System.`

**Actual Behavior**:
Simplification code fix is not available.

Note: it became available after replacing `dynamic` with `object`

[2017-10-03 17:59] asoifer commented on #22489
Thanks Manish, I'll wait for the new releases.
Regards

[2017-10-03 18:08] #22489 closed

[2017-10-03 18:11] dpoeschl opened #22495 "Cannot rename list when foreach-ing over a list of tuples"
From Developer Community: https://developercommunity.visualstudio.com/content/problem/123914/rename-loop-variable-for-list-of-lists-of-tuples.html

Screenshots:
https://developercommunity.visualstudio.com/storage/attachments/13710-renameerror1.png
https://developercommunity.visualstudio.com/storage/attachments/13711-renameerror2.png

[2017-10-03 18:13] jcouv commented on #22485
Tried on native compiler, and I only got a warning for un-assigned field:
[code]

[2017-10-03 18:21] heejaechang commented on #17545
turns out project analyzer is not good for designer attribute

[2017-10-03 18:21] #17545 closed

[2017-10-03 18:22] jcouv commented on #22485
@gafter Could you comment on expected behavior? Thanks

[2017-10-03 18:23] heejaechang opened #22496 "preserve document and project ordering in OOP"
right now, document and project ordering is not preserved between OOP and VS. we want to preserve it.

[2017-10-03 18:26] jimorc opened #22497 "System.ExecutionEngineException in CodeAnalysis.Workspaces.dll"
**Version Used**: 2.03.2.62116

**Steps to Reproduce**:

1. Create a VS2017 extension and add a command.
2. Change the code in the MenuItemCallback method to do something, or just delete all of the code in that method.
3. Build the solution in Debug mode.
4. Click Start to start a test version of VS with the extension installed. Create or load a small C# Win32 console app.
5. Wait a short while.

[2017-10-03 18:39] mavasani commented on #22297
@jinujoseph On second thoughts, we can probably punt this to 15.later. The information is valid only for C# and is easily accessible from the underlying syntax node for the IOperation.

[2017-10-03 18:43] mavasani commented on #20405
This is blocked on https://github.com/dotnet/roslyn-analyzers/issues/459

[2017-10-03 19:07] jcouv commented on #21324
I think the problem is already fixed in 15.4 preview 3 at least.

When stepping through the [code sample](https://github.com/dotnet/roslyn/issues/21324#issuecomment-331733547) from the thread above, I see these two steps, which are correct. The conditional `return` is never executed or highlighted in debugger.

![image](https://user-images.githubusercontent.com/12466233/31143734-11d140f4-a833-11e7

[2017-10-03 19:07] #21324 closed

[2017-10-03 19:08] caslan commented on #22402
@jcouv, if you picked "Function" in the Show Columns drop down, doesn't it accomplish what you want?

[2017-10-03 19:13] jcouv commented on #22402
@caslan Ah, indeed! Thanks much
Maybe we could consider checking it by default?

[2017-10-03 19:13] #22402 closed

[2017-10-03 19:39] dpoeschl commented on #22416
`arg` shows up in the completion list for me at that location when running a build from the latest Roslyn codebase:

![image](https://user-images.githubusercontent.com/235241/31145159-d0296384-a837-11e7-8d7a-64eb0ef9bccd.png)

Does that look like what you want from a completion list?

[2017-10-03 19:40] dpoeschl commented on #22416
Adding "Area-Compilers" and tagging @jaredpar for the question about the set of errors produced in this situation.

[2017-10-03 20:01] #22454 closed

[2017-10-03 20:09] beflint commented on #21627
Have this same problem with VS2015 Update 3.  Scenario is to first clean/build solution, Start without Debugging, Close web page, attempt to clean solution which results in 12 "Unable to delete file ... Access to path is denied.  The only way to resolve is close VS2015 then reopen it.
[MSBuilg.log.txt](https://github.com/dotnet/roslyn/files/1353692/MSBuilg.log.txt)

[2017-10-03 20:19] chborl commented on #22278
@dpoeschl @kuhlenh , one fix would be to not offer the refactoring when already inside an XML tag.  But should we go further and not offer the refactoring when typing a common word anywhere in doc comments, such as is, as, for, of, not, etc...

[2017-10-03 20:31] dpoeschl commented on #8260
This may be another instance of this: https://developercommunity.visualstudio.com/content/problem/28371/type-navigator-is-very-slow.html

[2017-10-03 20:37] mavasani commented on #7397
@DustinCampbell - The `Exit Sub` and `Exit Function` statements both generate:
[code]

This indicates to me that we cannot filter out the label statement, and probably should also retain it as an explicit node as there is syntax marking the label:
[code]

The ReturnStatement for the first case has null ReturnedValue, while the second case has:
[code]

Probably the only change we can make here is t

[2017-10-03 20:42] DustinCampbell commented on #7397
Ah, I hadn't realized that `Exit Sub` and `Exit Function` would be branch statements to the exit label, though it makes complete sense now that I think about it.

So, it seems that, even though these are implementation details, they can be important to the user.

(Now I'm starting to wonder about `On Error Resume Next` :smile:)

[2017-10-03 20:50] DustinCampbell commented on #7397
And, yeah, I think the return statement and returned value have to be marked as implicit.

[2017-10-03 21:02] dpoeschl commented on #22278
It looks like maybe at one point the language services would translate keywords between languages depending on what language you were viewing from: https://stackoverflow.com/questions/693196/how-do-i-reference-a-c-sharp-keyword-in-xml-documentation#comment506691_693227 -- I have not verified this on a pre-Roslyn VS.

Regardless, I would be for switching to an include-list of keywords where we thin

[2017-10-03 21:03] M-Pixel opened #22501 "ConstructorArguments inexplicably empty"
**Version Used**: Microsoft.CodeAnalysis.CSharp 2.3.2

**Steps to Reproduce**: Create a C# netcoreapp1.1 project with the following source code

[code]

**Expected Behavior**: The number **1** and the value **Foo** are printed

**Actual Behavior**: The number **0** is printed

[2017-10-03 21:04] mavasani commented on #7397
The IOperation for the following code also feels weird to me as it has 2 return statements:
[code]

[code]

And the below code too:

[code]

[code]

[2017-10-03 21:07] mavasani commented on #7397
@jinujoseph I am marking this for Discussion, there are quite a few corner cases here that we probably need to bring it up at the design meeting.

[2017-10-03 21:19] sharwell commented on #22278
@dpoeschl In 9e7db74acb14cca35580760d685b309b5b64d62a I restricted the completion lists to only show a subset of keywords.

[2017-10-03 21:26] M-Pixel commented on #22501
This is a workaround that works:

[code]

... which makes me suspect even more strongly that `ConstructorArguments.Length == 0` is a bug.

[2017-10-03 21:51] jcouv opened #22503 "Allow resizing the Attach to Process window"
For some reason, this window has a fixed size, which makes it inconvenient to look through a long list of processes.

![image](https://user-images.githubusercontent.com/12466233/31150825-f83a0ba0-a849-11e7-9c63-ce13a16178e2.png)

Tagging @caslan @tmat

[2017-10-03 22:15] dpoeschl commented on #8293
Duping against https://github.com/dotnet/roslyn/issues/19940

[2017-10-03 22:28] #8293 closed

[2017-10-03 22:54] rchande commented on #7053
Thoughts:
* Add Using builds up some table of type -> namespace. We would probably want completion to pull from the same data. I'm not sure if that table is built up incrementally and stored forever, or if we only add entries when Add Using requests the namespace for a missing type.
* To avoid showing a massive and cluttered list, we might want to add items without usings once there are no filter

[2017-10-03 22:55] jcouv commented on #19333
@heejaechang I set a breakpoint in `CompilationAnalyzer.AnalyzeSemanticModel` as we discussed (and also some of the neighboring methods, `AnalyzeSyntaxTree` and `AnalyzeCompilation`), but I don't see this diagnostic (1729) come through. Yet it shows as an "IntelliSense" diagnostic in the "Error List" window.

My breakpoints in the debugger (where this diagnostic could be produced during binding) a

[2017-10-03 22:58] heejaechang commented on #19333
@jcouv let me find out for you. give me sec

[2017-10-03 22:58] rchande commented on #22376
One way to implement this would be to store the session's start time in the first Model we create and propagate that value through subsequent models. At the time we call the editor to present the list, we could also send a telemetry event. I'm not sure if the editor's completion list has an event we can wait for that will tell us when the list is actually done painting on screen.

[2017-10-03 23:01] smitpatel opened #22505 "Incorrect inference of default literal expression"
I am trying out C# 7.1 feature default literal expression.
[code]
Generates output
[code]
But VS shows me code fix that default expression can be simplified.
![image](https://user-images.githubusercontent.com/1528107/31153072-e8ceb468-a853-11e7-9638-e8a288420a7b.png)
When I get VS to simplify the code
[code]
The code throws exception
[code]

[2017-10-03 23:03] jcouv commented on #19333
@heejaechang Jared helped me out. I set a breakpoint in the constructor for `Diagnostic` and I caught where this error comes from.

[2017-10-03 23:04] jcouv commented on #19333
This is the stacktrace. I'll continue investigating from there.

[code]

[2017-10-03 23:06] heejaechang commented on #19333
it looks like ide bug. it is reported by this

http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/Diagnostics/Analyzers/CSharpUnboundIdentifiersDiagnosticAnalyzer.cs,3eb606bb8ebed752

[2017-10-03 23:07] smitpatel opened #22506 "Suppressing IDE0034 does not work correctly"
Using same example as in #22505
Since inference was incorrect, I went ahead to suppress the suggestion in file. I used VS to add code for suppression.
![image](https://user-images.githubusercontent.com/1528107/31153174-730688c2-a854-11e7-982f-84e2dedcf0d1.png)
Even after adding code for suppression as VS suggested, VS still suggest me the code fix.
![image](https://user-images.githubusercontent.co

[2017-10-03 23:09] agocke opened #22507 "Mousing over enums can crash the IDE due to exception in the compiler"
[Flags]
public enum SomeTypes : long
{
Default = 0,
TypeA = 2,
TypeB = 4,
TypeC = 1024,
TypeD = 1048576,
TypeE = 2097152,
TypeF = 33554432,
TypeG = 67108864,
TypeH = 134217728,
TypeI = 1073741824,
TypeJ = 2147483648,
TypeK = 4294967296,
TypeL = 1099511627776,
TypeM = 2199023255552,
TypeN = 4398046511104,
TypeO = 1125899906842624,
TypeP = 2251799813685248,
TypeQ = 4503599627370496,
TypeR = 90071992

[2017-10-03 23:12] alexzaytsev-newsroomly commented on #12924
@tmat any plans to extend it to .net Core?

[2017-10-03 23:14] dpoeschl opened #22508 "Typing (or overtyping) the close paren of a using statement indents the next line"
From Developer Community: https://developercommunity.visualstudio.com/content/problem/120244/unexpected-indentation-of-unrelated-code-while-wri.html

There's a longer writeup on Developer Community, but the short version is to use this C# code

[code]

And type `using (null)` (including overtyping the close paren if you have automatic brace completion enabled)

**Expected** The same behavior as `i

[2017-10-03 23:20] jcouv commented on #19333
Traced the problem to `CSharpUnboundIdentifiersDiagnosticAnalyzer`. It decides to inspect the lambda because it contains a diagnostic (warning about empty switch statement causes `IsBrokenLambda` to return `true`). Then it inspects all types in the block and checks their constructors, but the logic in `ConstructorDoesNotExist` is too simple and ignores optional parameters.

I'm not sure what is th

[2017-10-03 23:21] jcouv commented on #19333
Thanks @heejaechang for the help. Yes, that analyzer is the source.

[2017-10-03 23:30] agocke commented on #20227
Looks like Project B needs a reference to `Microsoft.VisualStudio.Text.UI.Wpf.dll`. At least, that wasn't mentioned in your repro steps.

[2017-10-03 23:31] jnm2 commented on #14983
I'm still blowing so much time on fixing these and then running into more.

[2017-10-03 23:44] davkean opened #22509 "Find All References on a definition finds all usages of any implicit interface method and all their implementations"
I have a class like the following:

[code]

I want to find all callers to TryGetValue on this type - because I'm about to make a change and see how they use this method. I right click on this and choose Find All References.

This returns me the following results:

![image](https://user-images.githubusercontent.com/1103906/31154101-88912f20-a8f0-11e7-998e-964078885945.png)

Only the RetrievableEntr

[2017-10-03 23:46] jnm2 commented on #5605
@ashmind Anyone can migrate this with ZenHub or a similar tool. Do you want to, or shall I?

[2017-10-03 23:48] Pilchie commented on #22509
Great point - if we do a FAR we should not cascade back down to other concrete implementations of implemented interfaces.

[2017-10-03 23:57] dpoeschl commented on #22347
Also at https://developercommunity.visualstudio.com/content/problem/122795/c-prefer-inferred-tuple-element-names-code-fix-lea.html

[2017-10-04 00:07] 0xd4d opened #22510 "Allow changing read only fields in debugger locals/watch windows"
**Version Used**: VS2017

A feature request:

The debugger doesn't let the user change read-only fields. The debugger should do what the user says, and if the user wants to change a read only field, it should be allowed. We're able to add new fields, classes, but changing the value of a read only field is impossible.

Somewhat related issue: #22428

**Steps to Reproduce**:

Debug the following pro

[2017-10-04 00:08] jcouv commented on #22360
From the [language spec](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#shift-operators):

That surprised me too.
I'll close the issue as by-design (per current spec). Thanks

[2017-10-04 00:08] #22360 closed

[2017-10-04 00:08] #5605 closed

[2017-10-04 00:08] gafter commented on #5605
Issue moved to [dotnet/csharplang #964](https://github.com/dotnet/csharplang/issues/964) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-04 00:15] KirillOsenkov commented on #20227
I see, is this required? You need to have the reference to a project where the type is forwarded from AND the binary where the type is forwarded to?

[2017-10-04 00:16] KirillOsenkov commented on #20227
I guess so, because how it would otherwise know about types members...

[2017-10-04 00:55] gafter commented on #21565
@jaredpar I believe this has already been fixed. Can you please verify?

[2017-10-04 00:57] #18507 closed

[2017-10-04 02:32] jcouv opened #22512 "Implement "Auto-Implemented Property Field-Targeted Attributes""
Started work in branch [field-attribute](https://github.com/jcouv/roslyn/tree/field-attribute)

Spec: https://github.com/dotnet/csharplang/blob/master/proposals/auto-prop-field-attrs.md

Relates to https://github.com/dotnet/csharplang/issues/42

[2017-10-04 05:49] marek-safar commented on #22485
@jcouv this is codegen regression not compiler warning regression

[2017-10-04 06:41] erik-kallen commented on #7842
@fred-perkins No, I did not. I had to resort to reloading the entire solution when a project file changed

[2017-10-04 07:11] jinujoseph commented on #19333
cc/ @dpoeschl

[2017-10-04 07:12] jcouv commented on #22505
FYI @sharwell @CyrusNajmabadi

[2017-10-04 07:57] dzmitry-lahoda commented on #5254
You may get to this page with old, but updated(seems with issues) install of VS Professional 2015 Update 3, even if VS 2017 installed on system and .NET Core SDK.  I have downloaded dotnet-standard-support-vs2015-2.0.0-win-x86.msi from somewhere, install. Things started to work.

[2017-10-04 12:02] MSIC-HSR commented on #22425
Yes, `s_delay` is probably also involved in a data race and should be declared volatile, too.
Did you notice that both variables may cause data races and that data races are per se problematic (.NET memory model)?

The problem with data races is that code may be reordered (as-if-serial semantics) and read/writes may be optimized away (along with other problems). For example, if one task/thread wri

[2017-10-04 12:47] ranuka2 opened #22515 "Could not load file or assembly 'Microsoft.CodeAnalysis.Workspaces, Version=2.3.0.0 in VSIX project"
**Version Used**:
2.3.2

**Steps to Reproduce**:

1. Create a VSIX (c#) project in Visual Studio 2015 Update 3 with .Net framework 4.6
2. Add latest Microsoft.CodeAnalysis library to VSIX project
3. Add menu command to the VSIX project
4. Add following code in menu command action

[code]
**Expected Behavior**:
Roslyn should be able to compile the project and emit output to target location.

**Actu

[2017-10-04 13:01] sharwell commented on #22425
@MSIC-HSR In the cases I referred to, it appears all possible orderings produce observably-correct results. It's roughly an operation with this form:

[code]

[2017-10-04 14:23] onyxmaster commented on #22339
The original proposal is preserved for historical reasons, now thanks to @sharwell I believe that WAL is not needed if locking mode can be changed, the discussion is at #22340.

[2017-10-04 15:29] mavasani opened #22516 "Assert failure in Microsoft.CodeAnalysis.VisualBasic.Binder.ApplyDirectCastConversion"
[code]

Failure call stack:
[code]

[2017-10-04 15:39] jcouv commented on #22485
@marek-safar sorry, I failed to notice the PEVerify step.
Still, can you clarify which version passed?

[2017-10-04 15:45] marek-safar commented on #22485
I tried with Roslyn 2.3 and older and it worked. I guess this is related to the new readonly ref support somehow

[2017-10-04 15:57] #22264 closed

[2017-10-04 15:57] #22447 closed

[2017-10-04 16:02] jaredpar commented on #22485
This behavior is by design. There is nothing that violates type safety here and it is more efficient to avoid the copy for non mutating operations.

[2017-10-04 16:02] #22485 closed

[2017-10-04 16:10] tannergooding commented on #22485
@jaredpar, didn't we add a flag (`peverify-compat` or something) that allows the compiler to emit the old code (in case peverify success matters for users like @marek-safar).

[2017-10-04 16:19] marek-safar commented on #22485
@jaredpar I agree but this is a regression for scenarios where peverify is involved

[2017-10-04 16:19] jaredpar commented on #22485
Yes it is `/features:peverify-compat`

[2017-10-04 16:22] jaredpar commented on #22485
@marek-safar can u elaborate on the scenarios? The runtime team is generally skeptical that PEVerify is in significant use. Hence why it is not keeping up with changes to the language. Scenarios will help us with decisions in this area going forward.

[2017-10-04 16:29] marek-safar commented on #22485
@jaredpar I have experience with it in testing only scenarios, e.g. we use it with Cecil (manipulates the IL) to verify the output IL in various test cases where input source code is C#. I agree this is not significantly important scenarios but it would be nice to keep peverify up-to-date.

[2017-10-04 16:32] tmat opened #22518 "Enable EnC for features embedding attributes (ref readonly, readonly structs, etc.)"
Revert parts of https://github.com/dotnet/roslyn/pull/22177 that introduce Rude edits for these features.

A couple of issues found so far:
1)	This line http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Emitter/EditAndContinue/CSharpSymbolMatcher.cs,432 needs to be replaced by:

                // It is possible that the target assembly doens't have the namespace we are looking for.

[2017-10-04 16:32] tmat commented on #22518
@jinujoseph @OmarTawfik FYI

[2017-10-04 16:35] jaredpar commented on #22485
@marek-safar one option we've been discussing is moving verification to a managed library. Makes it easier to update and use in testing scenarios. The latter is very interesting to the compiler team as well. Would that work for the Cecil scenarios?

Also how do you handle the scenarios that already exist for which PEVerify will fail? Most notably ref returns and netstandard.

[2017-10-04 16:37] sharwell commented on #22505
:memo: Probable duplicate of #22184.

[2017-10-04 16:39] marek-safar commented on #22485
@jaredpar that's something we just have to workaround as it's a new feature (e.g. ref-return) and not strictly speaking a regression.

[2017-10-04 16:44] DavesApps commented on #16072
@gulshan a variation on this idea here:
https://github.com/dotnet/csharplang/issues/965

[2017-10-04 16:49] marek-safar commented on #22485
@jaredpar thinking about it the managed library approach would work just fine for us but it's a lot of work on your side

[2017-10-04 17:03] gafter commented on #22485
Just to make sure I understand the situation with this issue:

This appears to be a functional regression whereby the compiler now produces nonverifiable code for source that used to result in verifiable code. However, we have added the flag `/features:peverify-compat` to support users for whom verification (of older code) is a requirement. Compiling this source with that flag should restore the o

[2017-10-04 17:04] benaadams commented on #22485
Is this new behavior? (Very happy if so) Do the methods get annotated with non-modifying/Pure?

[2017-10-04 17:10] jaredpar commented on #22485
It is related to the `readonly struct` work. Primitives like `int`, `enum`, etc ... are implicitly `readonly`. Those types we understand to be non-mutating (shallowly) and hence can avoid defensive copies.

[2017-10-04 17:10] jaredpar commented on #22485
In other words ... start marking your structs as readonly 😄

[2017-10-04 17:27] OmarTawfik commented on #22206
I'll take a look.

[2017-10-04 17:31] OmarTawfik commented on #19274
R

[2017-10-04 17:31] #19274 closed

[2017-10-04 17:31] OmarTawfik commented on #19274
Replaced by #22518

[2017-10-04 17:46] TessenR opened #22520 "Extract method breaks compilation by introducing naming conflicts"
Extract method refactoring can't handle out variables from deconstruction declarations and declaration patterns. It also doesn't report conflicts for such cases.

**Version Used**:
[code]

**Steps to Reproduce**:

Use `extract method` refactoring to extract first 4 lines (either all of them at once or line by line) of `Main` method in the following code:
[code]

**Expected Behavior**:
Either confl

[2017-10-04 17:49] M-Pixel commented on #17095
Is the `SyntaxTree ... was not found to remove` error always a compiler bug? I ran into it and posted a [StackOverflow question](https://stackoverflow.com/questions/46571071/roslyn-how-to-get-semantic-model-for-renamed-class-without-not-found-to-remove) - I'm not sure if I'm missing some sort of resolve/update step, or if I'm experiencing the same bug that is referenced by this issue.

[2017-10-04 18:23] #21768 closed

[2017-10-04 18:23] #22027 closed

[2017-10-04 18:24] CyrusNajmabadi commented on #22505
Indeed.  I thought this was fixed with the change to ensure that the type of the ```default``` literal after hte change was the same as the type of the ```default()``` expression before the change.  Was that fix not checked in?

[2017-10-04 18:34] tmat opened #22522 "VS crash: ArgumentException from ExternalErrorDiagnosticUpdateSource.AddNewErrors"
Stack trace:

[code]

Crash dump:

%internal_share%\public\tomat\Bugs\22522

[2017-10-04 18:35] heejaechang commented on #22376
@rchande has a time for me to drop by?

[2017-10-04 19:12] heejaechang commented on #17095
@mazhou-msft can you provide me repro?

[2017-10-04 19:36] bbi-yggy commented on #7333
This issue is also of interest with respect to deterministic simulation in peer-to-peer online games. Such games implement networked multiplayer by passing inputs between peers and then running the entire simulation on each peer. (In a similar vein, an input stream can be saved and replayed.) For this to work, the simulation must produce the same results on every peer - games may even support PC v

[2017-10-04 19:45] jinujoseph opened #22523 "Missing file banner refactoring doesn't seem to work"
from https://developercommunity.visualstudio.com/content/problem/122691/bug-day-101-missing-file-banner-refactoring-doesnt.html

Created a new C# dotnet core console app, and added a banner like the following:

/// -=----------
/// This is a banner comment!
/// ------------

to the top of the first two files. Adding a third class does not present me with a refactoring to add a banner comment.

[2017-10-04 19:45] jinujoseph commented on #22523
related to https://github.com/dotnet/roslyn/issues/22280

[2017-10-04 19:51] 333fred commented on #21559
Failure on official integration run: https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/dev15.5-preview1-staging/job/windows_release_vs-integration/2/testReport/junit/Roslyn.VisualStudio.IntegrationTests.CSharp/CSharpFormatting/PasteCodeWithLambdaBody3/

[2017-10-04 19:52] 333fred commented on #21559
@dpoeschl, does this issue need to be retriaged?

[2017-10-04 20:20] gruntruk commented on #19660
@hugufc I'm seeing something similar... looking to use Roslyn for a formula parser/evaluator for financial calculations and see `OutOfMemoryExceptions`. Not sure if you ever had any update on this but figured I'd ask. Thanks!

[2017-10-04 20:44] chborl commented on #22278
Thanks @sharwell!  I will use the same keywords that you use.

[2017-10-04 20:57] jinujoseph opened #22526 "Documentation comment tags conversions get stuck when a cref="System.Int32" is present in the comment."
copied from https://developercommunity.visualstudio.com/content/problem/122710/bug-day-101-documentation-comment-tags-conversions.html

Create a new C# console app.
2. Add a property or method that returns an int.
3. Add a documentation comment with this in the summary:
Returns internal int 5 for this class. Will not be a public, static, string, class, struct, or long. This is just a System.Int32

[2017-10-04 20:57] jinujoseph commented on #22526
cc @dpoeschl

[2017-10-04 21:16] #21330 closed

[2017-10-04 21:26] jkotalik commented on #11742
Hello, I just ran into the same issue on VS 2017 15.4 Preview. Putting a break point on a stackalloc call crashes the application and debugger, and required multiple presses of F10 to progress. Also consistently occurred with the same repo code above.

[2017-10-04 21:39] jinujoseph opened #22529 "C# "prefer inferred tuple element names" option change is not effective immediately"
https://developercommunity.visualstudio.com/content/problem/122804/c-prefer-inferred-tuple-element-names-option-chang.html

I have the following code that shows a suggestion to remove "two:" from the code

var a = new { two = 1 };
var t = (one: 1, two: a.two);

2. Open Tools | Options dialog, locate the "prefer inferred tuple element names" option, and change Severity to Error

3. Click OK button

[2017-10-04 22:02] jinujoseph opened #22530 "Moving variable close to use can add more than one blank line"
[View on Developer Community](https://developercommunity.visualstudio.com/content/problem/122728/moving-variable-close-to-use-can-add-more-than-one.html)
Console.WriteLine("Hello World!");

            int a = 10;

            Console.Write("hi");

            int sum = a + 10;

was refactored to

            Console.WriteLine("Hello World!");
            Console.Write("hi");

            int a =

[2017-10-04 22:31] dpoeschl opened #22531 "Re-enable CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer"
It was disabled by @heejaechang in PR https://github.com/dotnet/roslyn/pull/22532

[2017-10-04 22:33] sharwell commented on #22531
:memo: This analyzer was disabled due to unexpected performance overhead during testing. We'll re-enable it once the underlying performance problem is addressed.

It also needs to be hooked up to the existing option `PreferPatternMatchingOverIsWithCastCheck` at the same time.

[2017-10-04 23:16] jcouv opened #22533 "VB Double arithmetic is sensitive to floating point control word register"
Create new VB Console App (.NET Framework) project with code below:

[code]
Note: the project builds for 32-bit (because the "Prefer 32-bit" option is selected by default in new projects).
Note: this can also repro with other C runtimes in the `DllImport` (not just `msvcr120.dll`).

VS2013 did not have this problem (it is resilient to the register being modified). It produces:
[code]

VS2017 produ

[2017-10-05 00:15] morganbr commented on #8017
We’ve started a WebAssembly experiment in the CoreRT repo and we need your help! Take a look at dotnet/corert#4659 for more details on what’s happening and how to get involved.

[2017-10-05 00:41] Pilchie commented on #22503
Owned by the debugger team - better to file in VSTS.

[2017-10-05 00:49] jcouv commented on #22503
Moved to https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?id=504678

[2017-10-05 00:49] #22503 closed

[2017-10-05 01:09] jcouv commented on #22152
Some various notes from LDM discussions and others:
- [ ] `string.IsNullOrEmpty` should inform flow analysis
- [ ] `TryGetValue` should inform flow analysis
- [ ] Update templates (so new projects have the feature turned on by default)
- [ ] What should IDE show at various points in the method? Does having the feature on or off affect what is shown?
- [ ] Could users annotate some methods to reset

[2017-10-05 01:11] ChristopherHaws commented on #22416
I also found another case where this occurs. When awaiting a method from inside a lambda. This one is a bit different because it only seems to occur when the arg has a property that you are trying to access.

[code]

[2017-10-05 01:19] jinujoseph opened #22535 "C# "Prefer deconstructed variable declaration" scenario is not working"
[View on Developer Community](https://developercommunity.visualstudio.com/content/problem/122815/c-prefer-deconstructed-variable-declaration-scenar.html)
Actual:
1. I could not find the option in the Tools | Options dialog

2. trying the steps in the scenario doesn't show the code action to deconstruct of tuple.

[2017-10-05 01:47] ivanbasov commented on #21879
dupe of  #17936

[2017-10-05 01:47] #21879 closed

[2017-10-05 03:43] SergeyTeplyakov opened #22536 "No warnings if the code is unreachable based on `o is var x` pattern"
**Version Used**:  Master (October 3)

**Steps to Reproduce**:
[code]

**Expected Behavior**:
In the second `if`-statement I would expect to see the 'Unreachable code detected' warning by the compiler.

**Actual Behavior**:
There is the warning in the first `if`-statement but there is no warning in the second `if` statement.

The compiler knows that the code is unreachable and it removes the secon

[2017-10-05 04:37] SergeyTeplyakov commented on #22536
Another weird case:

[code]

In that case, there is no warning and the compiler does not optimize this code away.

[2017-10-05 05:01] ranuka2 opened #22537 "Visual Studio crashed when compiling VB class library with Roslyn based extension"
**Version Used**: Microsoft.CondeAnalysis 1.3.2

**Steps to Reproduce**:

1. Create a VSIX (VB#) project in Visual Studio 2015 Update 3 with .Net framework 4.5
2. Add Microsoft.CodeAnalysis library version 1.3.2 to VSIX project using NuGet
3. Add menu command "Compile" to the VSIX project
4. Add following code in menu command action

[code]
5. Install the compiled extension (VSIX) in VS 2015 Updat

[2017-10-05 07:25] privateField commented on #21580
We have a same exception (OutOfMemoryException ) with VS 15.3 on a 30+ projects solutions and/or big files (2000+ rows).
VS just crashes every 5-10 min, it is become completely unusable.

Is there any update on this?
Is there some specific option/setting that causes a problem and can be disabled temporary?

[2017-10-05 07:37] heejaechang commented on #21580
@privateField fix is released to latest dev15.4 (https://www.visualstudio.com/vs/preview/). can you try that drop and see whether it still repro? here is release note for 15.4 preview (https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes)

[2017-10-05 07:57] privateField commented on #21580
@heejaechang we will try, thank you.

[2017-10-05 08:12] paul1956 opened #22539 "VB WellKnownFixAllProviders.BatchFixer runs out of Memory"
**Version Used**:
VS 2017 15.3.5 All Roslyn Versions
**Steps to Reproduce**:

1. Use Any CodeFix that can fix a lot of issues, for example add AsClause to all of Roslyn
2. You will run out of memory after a few 100 fixes (in most cases you can do a document worth but project never succeeds).

**Expected Behavior**:
I would be nice if the WellKnownFixAllProviders.BatchFixer  stopped before it ran o

[2017-10-05 08:59] JosefPihrt opened #22540 "Inline temporary variable into pattern expression"
**Version Used**: 15.3.5

**Steps to Reproduce**:
[code]

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

[2017-10-05 10:10] sharwell commented on #22536
Related to #22458.

[2017-10-05 12:54] sharwell opened #22541 "Investigate allocation optimization for SourceAssemblySymbol.MightContainNoPiaLocalTypes"
**Version Used**: 15.4

Several profiling reports suggest large (but not overwhelming) allocations occurring within calls to `SourceAssemblySymbol.MightContainNoPiaLocalTypes`. This occurs specifically because the implementation of this property indirectly calls `SourceNamedTypeSymbol.GetAttributes()`, which loads and binds all attributes for all types.

⚠️ Even if the `MightContainNoPiaLocalTypes

[2017-10-05 13:59] mavasani commented on #22430
We decided in the last design meeting to do this in v2.

[2017-10-05 14:03] mavasani commented on #19794
We already have bunch of tests around this: http://source.roslyn.io/#Roslyn.Compilers.CSharp.Semantic.UnitTests/IOperation/IOperationTests_IPatternSwitchCase.cs,0524c8a574e2bf95

[2017-10-05 14:03] #19794 closed

[2017-10-05 14:53] AdamSpeight2008 commented on #22539
Sounds like it is creating a new document for each fix and not reusing an temporary document for each successive fix. Akin to a aggregate function in Linq.
[code]

[2017-10-05 14:57] HaloFour opened #22542 "Request: CodeLens to break down setter/getter references of properties"
Currently the CodeLens adornment for a property will show all references of that property regardless of whether the getter or setter accessor methods are invoked.  I'd like to see that broken down so that I can find references specifically for the setters so that I can identify what parts of a solution are mutating that property.

This could rendered through adornment of the setter/getter themselv

[2017-10-05 15:09] AtsushiKan commented on #22542
I don't use CodeLens but consider this a parallel request for being able to do a "Find References" on just the setter of a property.

[2017-10-05 15:10] HaloFour commented on #22542
@AtsushiKan

Agreed, I am literally typing that one up right now.  😀

[2017-10-05 15:14] HaloFour opened #22543 "Request: Find References support for specific property accessor method"
Currently if you highlight a specific accessor for a property and select Find References it will find all of the references for the property regardless of which accessor is invoked.  I'd like for the feature to be able to isolate only the references for the selected accessor method.  This would be helpful in use cases such as identifying specifically where a property is being mutated.

Interesting

[2017-10-05 15:15] HaloFour commented on #22542
#22543

If it's better to group them into one that would be fine.  Either way I'd like to see better support for isolating the activity on the specific accessor methods of a property rather than treating the entire property as a single entity.  It makes it a bit of a pain to identify such cases as when a very frequently read property might be written.

[2017-10-05 15:29] ghost opened #22544 "A small usability tweak for F2 - Automatically discard surrounding whitespace in requested new name"
**Version Used**:

Visual Studio 2017 - 15.3.5

**Steps to Reproduce**:

1. Hit F2 to rename an identifier.
2. Compose the new name I want into notepad. (Editorial: I <b>vastly</b> preferred the old UI that gave you a regular edit box.)
3. Absently-mindedly hit ENTER because ... muscle memory.
4. Hit Ctrl-A, Ctrl-C (select ALL, copy into clipboard.)
5. Switch back to VS, hit Ctrl-V (paste)
6. VS e

[2017-10-05 15:41] Pilchie commented on #22543
Similar to https://github.com/dotnet/roslyn/issues/17684.

[2017-10-05 15:48] HaloFour opened #22545 "Request: Find All References broken down by use"
This is a feature supported in Red Gate Reflector that I think would be very useful within Visual Studio.

I'd like to see Find References be able to differentiate between the use of the reference and allow either breaking down the references by their use or isolating a specific use type:

1.  Properties by accessor method (**get** vs. **set**)
    ![image](https://user-images.githubusercontent.co

[2017-10-05 16:47] jcouv commented on #22533
From discussion with Jared, the `conv.r8` is important (see his [blog post](http://blog.paranoidcoding.com/2014/12/22/redundant-cast.html) on the matter). It should be emitted whenever there is an explicit cast to double in the code. He remembers this exact problem was fixed in Roslyn for C#.

We need to confirm that the customer has explicit casts in their code. If so, a fix to the Roslyn VB comp

[2017-10-05 17:11] 333fred opened #22547 "Failing Test Microsoft.CodeAnalysis.Editor.UnitTests.Structure.BlockStructureServiceTests.TestSimpleLambda"
https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/master/job/windows_debug_unit32/

[code]
@dpoeschl for triage. Has only failed once in master so far, I'll update if I see more failures.

[2017-10-05 17:13] 333fred commented on #22547
Of note, the change was a compiler-test-only change for IOperation, https://github.com/dotnet/roslyn/pull/22309, which I don't believe could be responsible.

[2017-10-05 17:16] jinujoseph opened #22548 "Follow up on isImplicit mismatch"
Address feedback from https://github.com/dotnet/roslyn/pull/22309

[2017-10-05 17:19] mavasani commented on #22032
Underlying reason for this is https://github.com/dotnet/roslyn/issues/19924, which is currently being addressed with https://github.com/dotnet/roslyn/pull/22479. Unit test changes in that PR confirm this will be addressed by that change.

[2017-10-05 17:19] #22032 closed

[2017-10-05 17:23] agocke opened #22549 "4.7% of csc.exe time spent waiting for two locks"
Here are the two functions that result in 4.7% exl time being spent in Monitor Enter
[code]

[2017-10-05 18:45] TessenR opened #22550 "Extract method on local function is incorrect"
**Version Used**:
[code]

**Steps to Reproduce**:

Extract local function invocation in the following code:

[code]

**Expected Behavior**:
Either semantically equivalent code or conflict.

**Actual Behavior**:

Roslyn produces code that doesn't have any compilation errors but behave differently. This kind of change could be easily overlooked when extracting a big chunk of code.
[code]

[2017-10-05 18:50] dpoeschl opened #22551 "Deconstruct Tuple Declaration is missing from 15.5 Preview 1"
**Version Used**:  15.5.0 Preview 1.0 [26927.1.d15rel]

This feature was introduced in https://github.com/dotnet/roslyn/pull/21870. The commits from that PR are present in the expected branches, including `dev15.5.x`, `dev15.5-preview1`, `dev15.5-preview1-staging`, and the code itself is in those branches as well (it does not appear to have been reverted or disabled). It does not appear in the 15.

[2017-10-05 18:55] dpoeschl commented on #22551
@chborl is trying this now

[2017-10-05 18:59] dpoeschl commented on #22551
FYI @jasonmalinowski @jinujoseph -- this is a checked in feature from 20 days ago, the code for which is present in the expected branches, that isn't appearing in the product in dogfooding. We don't know why yet.

[2017-10-05 19:02] chborl commented on #22551
I confirmed that it's working in RoslynDev using the dev15.5-preview1 sources.

[2017-10-05 19:08] dpoeschl commented on #22551
`C:\Program Files (x86)\Microsoft Visual Studio\Preview\Enterprise\Common7\IDE\CommonExtensions\Microsoft\ManagedLanguages\VBCSharp\LanguageServices\CSharp.Features.dll` does not contain the CodeFix on my `15.5.0 Preview 1.0 [26927.1.d15rel]` machine. @jasonmalinowski Any idea what could have gotten out of sync between the `dev15.5-preview1` sources (where it works) and the installed `CSharpFeatur

[2017-10-05 19:09] dpoeschl commented on #22551
Probably should have tagged @dotnet/roslyn-infrastructure instead of Jason directly. Any ideas?

[2017-10-05 20:09] jasonmalinowski commented on #22551
@dpoeschl What's the version string for that binary on your machine?

[2017-10-05 20:17] heejaechang opened #22554 "IIncrementalOrDecrementExpression having wrong Error type"
see this (https://github.com/dotnet/roslyn/pull/22435/files#r142267000)

[code]

[2017-10-05 20:20] heejaechang opened #22555 "Case reported unreachable even though switch target has error"
see this (https://github.com/dotnet/roslyn/pull/22435/files#r142237785)

[code]

@jcouv think this "                // CS0162: Unreachable code detected
                //                 break;
                Diagnostic(ErrorCode.WRN_UnreachableCode, "break").WithLocation(11, 17)
" shouldn't be reported

[2017-10-05 20:25] 333fred opened #22556 "IOperation tests have lots of trailing whitespace"
With https://github.com/dotnet/roslyn/pull/22309 moving lots of tests to have output on multiple lines, the test were not adjusted to not have trailing whitespace. So now a lot of our tests have trailing whitespace inside the strings, usually after lines that had both a header and value on the same line. These should be updated to not have trailing whitespace.

[2017-10-05 20:27] Pilchie commented on #22377
Assigning to @heejaechang per @jinujoseph

[2017-10-05 20:36] heejaechang opened #22557 "handle FxiedLocalCollectionInitializer bound node kind in IOperation"
see this (https://github.com/dotnet/roslyn/pull/22435/commits/e07a2cfbde6c97d6cca3b236ad516441ea0a6428#r142268100)

since we dont handle the kind, it shows up as Operation.None in operation tree.

[code]

[2017-10-05 20:38] AdamSpeight2008 opened #22558 "CSProj and VBProj diagostics"
It is a bit of pain to try and find duplicate `Includes` in `.vbproj` and `.csproj` files especially when they are not sorted. A diagnostic the highlights them would be helpful, with the code fix to delete them.

[2017-10-05 20:40] heejaechang opened #22559 "IOperation Test Dumper indentation uses 4 instead of 2 sometimes"
see this (https://github.com/dotnet/roslyn/pull/22435/commits/e07a2cfbde6c97d6cca3b236ad516441ea0a6428#r142240694)

I see children uses 4 indentation rather than 2 like others? is this intentional?

[2017-10-05 20:54] GrimSmiler opened #22560 "Opening a solution with MSBuildWorkspace returns an empty solution"
**Version Used**:
15.3.5
**Steps to Reproduce**:

1. download the solution attached
2. enter the path to a solution file
3. debug until `var originalSolution = workspace.OpenSolutionAsync(solutionFilePath).Result;`

**Expected Behavior**:
Child project information should be available
**Actual Behavior**:
Child projects = null
[SolutionRiskMapGenerator.zip](https://github.com/dotnet/roslyn/files/13

[2017-10-05 20:57] jcouv commented on #22555
FYI @gafter on cascading diagnostic in switch statement.

[2017-10-05 21:07] jasonmalinowski commented on #22551
I looked at this with @chborl: the 26927.1.d15rel build contains Roslyn code built roughly on the 14th. Later d15rel builds have a newer insertion that will contain the code.

[2017-10-05 21:21] heejaechang opened #22561 "GetUsingStatementDeclaration is not creating IVariableDeclarationStatement correctly"
see this - (https://github.com/dotnet/roslyn/pull/22435#discussion_r142274418)

this has a bug

[code]

vb factory doesn't handle BoundLocalDeclaration kind so resouceList ends up becomes Operation.Node and filtered out since it can't go into variable declaration statement

[2017-10-05 21:33] heejaechang opened #22562 "add invariant verification to IOperation"
add test and assert to IOperation where there is only 1 explicit operation with same syntax node.

[2017-10-05 21:56] AdamSpeight2008 opened #22563 "[VB] For-Loop Overflow and Underflow"
[Issue in VB Repo](https://github.com/dotnet/vblang/issues/180)
The follow will throw a `System.OverflowException` due to the underlying implementation details.
[code]
We should consider changing the lowering to better handle the cases which approach the numerical type's  MIn or Max values.

suggested lowering form, which should all current allowed for-loop forms.
[code]

[2017-10-05 21:57] jcouv commented on #20229
@jamesqo Could you describe the repro steps in more details? In particular, how do you add the same file twice in a .NET Standard project?

I tried adding the same file via the IDE (didn't do anything). I tried editing the csproj file (but that gave me the msbuild error below, not CS2002).

`Duplicate 'Compile' items were included. The .NET SDK includes 'Compile' items from your project directory

[2017-10-05 22:03] jcouv commented on #6309
@DustinCampbell FYI The same kind of logic is being added to VB as well (https://github.com/dotnet/roslyn/pull/22552). Some casts that seem redundant are in fact useful.

[2017-10-05 22:09] M-Pixel commented on #17095
My case was not a compiler bug. If you take a look at the linked StackOverflow question, there's a very good answer to what was going wrong. I think there's probably an opportunity here to add a more descriptive error when `GetSemanticModel` is given a `SyntaxTree` that the `Compilation` does not contain.

[2017-10-05 22:40] 333fred commented on #21406
This issue is now irrelevant for GetOperation, as we now construct IOperation nodes from the top down.

[2017-10-05 22:40] #21406 closed

[2017-10-05 22:44] OmarTawfik opened #22564 "ref and readonly structs should be displayed in IDE"
For both types, quickinfo and symbol display should be able to hint if they're annotated with `ref` and `readonly` keywords or not.

**Current behavior:**

![image](https://user-images.githubusercontent.com/15987992/31255870-0a4f2000-a9e4-11e7-89e2-2f5b153dce6e.png)

@VSadov 's comment on #19421

[2017-10-05 22:48] heejaechang commented on #22557
IFixedStatement is not included in v1. so not higher priority.

[2017-10-05 23:34] DustinCampbell commented on #22362
Here's some fun code:

[code]

[2017-10-06 00:02] jinujoseph commented on #22091
@kingces95 closing this as the corresponding issue seems to be fixed.

[2017-10-06 00:02] #22091 closed

[2017-10-06 00:11] 333fred commented on #20019
Hit again in dev15.5.x, https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/dev15.5.x/job/windows_debug_vs-integration/44/.

[2017-10-06 01:02] KirillOsenkov opened #22566 "Spurious squiggle sometimes stays in the editor after error is fixed"
**Version Used**:
15.3

**Steps to Reproduce**:

Starting with 15.3 I'm noticing that sometimes in a C# file when I quickly fix an error, a squiggle with the error stays in the editor. Then it keeps tracking with buffer changes and there's no way to remove it. There are no errors in the error list and it compiles fine. Hovering over the squiggle shows the error that used to be there.

I don't reme

[2017-10-06 01:28] jcouv commented on #22550
FYI @agocke

[2017-10-06 02:40] 0xd4d commented on #22566
I think it started in 15.3.4, and it's very annoying.

[2017-10-06 05:47] UweKeim opened #22567 "Link errors in feature status page"
On the page

https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md

the link to "Async main" points to

https://github.com/dotnet/csharplang/blob/master/proposals/async-main.md

But should point to

https://github.com/dotnet/csharplang/blob/master/proposals/csharp-7.1/async-main.md

--------

On the same page, the link to "Default Expressions" points to

https://github.c

[2017-10-06 06:25] jcouv commented on #22567
Thanks. PR pending

[2017-10-06 07:19] heejaechang commented on #22562
merging all related issues to 1 umbrella issue (https://github.com/dotnet/roslyn/issues/22229)

[2017-10-06 07:19] #22562 closed

[2017-10-06 07:30] heejaechang commented on #22566
@jinujoseph looks like we introduced a bug in diagnostic tagger at some point around that time.

[2017-10-06 09:46] thomaslevesque opened #22572 "Incorrect overload resolution when local function has the same name as the enclosing method"
**Version Used**: VS2017 15.3.3

**Steps to Reproduce**:

1. Write the following method:

[code]

2. Build

**Expected Behavior**:

The code should compile without error.

**Actual Behavior**:

The compiler emits an error on `IsRetryableError(ex.InnerException)`:

The recursive call doesn't compile, because the current method is hidden by the local function with the same name. I would have expecte

[2017-10-06 12:04] Alucardz commented on #8280
The Option 'Use Managed Compatibility Mode' also causes the same error in VS 2017 15.3.5

[2017-10-06 13:37] tg73 commented on #21657
Having recently updated to 15.3.1, I'm now seeing the same problem. A workaround is to comment out the base class declaration, rename, and then uncomment the base class declaration.

[2017-10-06 13:37] VSadov commented on #22564
Definitely want to show “ref”.

[2017-10-06 13:53] huoyaoyuan opened #22573 "Object initializer inside array initializer not formatted"
**Version Used**:

Visual Studio 15.3.5

**Steps to Reproduce**:

Sample code:

[code]

**Expected Behavior**:

[code]

**Actual Behavior**:
The object initializer inside array initializer not formatted.

[2017-10-06 13:55] huoyaoyuan commented on #22573
I'm new to  the Roslyn repo, and want to do some contributions. Is there any instructions about adding tests and pull requests?

[2017-10-06 14:29] HaloFour commented on #22572
Given that local functions cannot be overloaded within a method I doubt that they can participate with overloading with other members of the current type.  By using the same name you're effectively shadowing the members which would require that you qualify the function with `this` or the type name.

[2017-10-06 14:51] tmat commented on #8280
@Alucardz Do you have a reason to use 'Managed Compatibility Mode'? We plan to remove the option in future and would like to hear about any scenarios that require it, so that we can address them without need for the compatibility mode.

[2017-10-06 15:27] mavasani opened #22574 "Revisit logic for implicit variable initializer operation in C#"
See https://github.com/dotnet/roslyn/pull/22546#discussion_r143105657. This code path sets variable initializer operation as implicit if there is no explicit initializer syntax (equals value clause). Either confirm that this can happen for error cases by adding a unit test OR remove the code path that sets isImplicit = true.

[2017-10-06 15:31] mavasani opened #22575 "Investigate weird syntax associated with initializer and initializer value"
See https://github.com/dotnet/roslyn/pull/22546#discussion_r143043591

It looks like the syntax node is correct, but why the string is truncated before the With and doesn't include any indication of truncation?

[2017-10-06 15:34] mavasani opened #22576 "IInvalidExpression child node of a variable initializer should be marked IsImplicit"
Seehttps://github.com/dotnet/roslyn/pull/22546#discussion_r143049961

[2017-10-06 15:36] mavasani commented on #22576
Also see another issue where syntax with IInvalidExpression child of IVariableInitializer is incorrect: https://github.com/dotnet/roslyn/pull/22546#discussion_r143050306

[2017-10-06 15:45] Pilchie commented on #22573
This is a dupe of the issue that we deliberately don't format collection initializers.

@sharwell for the question about contributions.

[2017-10-06 15:47] Pilchie commented on #22558
https://github.com/dotnet/ProjFileTools is probably a better place for this.

[2017-10-06 15:47] #22558 closed

[2017-10-06 16:11] 333fred commented on #20370
Another failure, dev15.5-preview1-staging, https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/dev15.5-preview1-staging/job/windows_debug_unit64/4/

[2017-10-06 16:16] 333fred opened #22577 "Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpGoToDefinition.GoToDefinitionWithMultipleResults Failure"
Failed in dev15.5-preview1-staging. https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/dev15.5-preview1-staging/job/windows_debug_vs-integration/5/
[code]
![image](https://user-images.githubusercontent.com/2371880/31287690-ee1f4cf0-aa76-11e7-9b30-6dbdf7130550.png)

[2017-10-06 16:54] jcouv opened #22578 "default literal as default parameter value takes incorrect"
`void M(int? x = default)` should behave like `void M(int? x = default(int?))` with a default value of `null`, but instead it gets a default value of `0`.
Invoking it leads to more weirdness: `M()` uses `0`, while `M(default)` properly uses `null`.

@svick Is working on a fix in PR https://github.com/dotnet/roslyn/pull/22527
This was raised in https://github.com/dotnet/csharplang/issues/970

[2017-10-06 16:59] #22551 closed

[2017-10-06 17:01] davidrea-MS opened #22579 "CS8019 doesn't work during compilation"
**Version Used**: VS 2017 15.3.5

**Steps to Reproduce**:

1. Create new Class Library (.NET Framework) project.
2. Edit Active Rule Set and make CS8019 (Unnecessary using directive) an 'Error'.
3. Compile project.

**Expected Behavior**:
Given that the project starts with a Class1.cs file containing unused using directives, compilation should fail.

**Actual Behavior**:
Compilation succeeds. The

[2017-10-06 17:06] jinujoseph opened #22580 "CSharpRemoveUnreachableCodeDiagnosticAnalyzer contributing to Perf regression during test discovery"

[2017-10-06 17:29] plnelson commented on #8280
I will also point out that switching to the new installer in Visual Studio 2017 broke the legacy expression evaluator's ability to use visualizers.  We did not invest in adding full support for the new installer to the legacy expression evaluator.

[2017-10-06 17:56] AlekseyTs commented on #22574
I think we should keep defensive code.

[2017-10-06 18:23] mavasani commented on #22574
Changed the code to have a Debug.Fail instead - closing this issue.

[2017-10-06 18:23] #22574 closed

[2017-10-06 18:30] mavasani commented on #17813
Re-activating as we have decided to retain this API - this should be fixed in 15.5

[2017-10-06 18:36] mavasani commented on #22576
Another issue where we have more than one explicit nodes with same syntax: https://github.com/dotnet/roslyn/pull/22546#discussion_r143262510

[2017-10-06 18:52] OmarTawfik commented on #22564
@VSadov my understanding is that we would want to show both. Correct?

[2017-10-06 18:53] mavasani opened #22581 "fix IArgument and IArrayInitializer to have null types"
See https://github.com/dotnet/roslyn/pull/22546#issuecomment-334824971

[2017-10-06 18:55] mavasani commented on #22581
Adding this assert caused lot of tests to fail - which likely means hidden bugs. We should try to add this assert and investigate failures asap.

[2017-10-06 18:55] jinujoseph opened #22582 "[C#] converting if to switch refactoring is not offered unless my caret is touch the very first "if" keyword"
[View on Developer Community](https://developercommunity.visualstudio.com/content/problem/122829/c-converting-if-to-switch-refactoring-is-not-offer.html)
"if" is so tiny...

Would it be better if we enable the refactoring when my caret is on leading Space/Tab trivia of "if", on "else if"/"else" too?

[2017-10-06 19:19] #22567 closed

[2017-10-06 19:21] rskar-git commented on #22563
@AdamSpeight2008 I'm concerned that any attempt to address this design flaw in today's `For ... Next` is going to hurt performance, not to mention flub-up those (perhaps foolish) souls who depended on the final value after the last iteration in their code.

Wouldn't it be better to somehow make specialized "lowered code" for Byte/SByte, pretty much in the style that @ericmutta already does in his

[2017-10-06 19:23] iam3yal opened #22583 "Code folding disappears in ASMX files"
**Version Used**: Visual Studio 2010, 2013, 2015, 2017

**Steps to Reproduce**:

1. Create a new Web Forms project.
2. Create a new ASMX file or just copy the following:

[code]

**Expected Behavior**: Code folding shouldn't disappear.

**Actual Behavior**:
Code folding disappears immediately or after few seconds, occasionally it disappears after few minutes but from my tests it's rare so you shou

[2017-10-06 19:30] sharwell commented on #22580
The performance overhead here is caused by allocations of a single element array in the following property, adding up to ~3GiB in the performance trace I saw:

https://github.com/dotnet/roslyn/blob/86fd17e9b49160ef72fc1c4001ffceab275e4118/src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs#L584-L590

The property is used to define the `Symbol.IsDefinedInSourceTree` method:

ht

[2017-10-06 19:31] sharwell commented on #22580
➡️ The initial course of action here is making `Symbol.IsDefinedInSourceTree` a non-allocating method.

[2017-10-06 19:35] sharwell commented on #22580
:memo: Conceptually this new non-allocating method will need to be available outside the compiler core, in order to address issues like #22114.

[2017-10-06 19:49] AdamSpeight2008 commented on #22563
@rskar-git It being a `Byte` as nothing to do with the issue. All of the Integer type suffer from the same problem.

[2017-10-06 19:51] #22533 closed

[2017-10-06 19:53] jcouv commented on #22533
The fix is merged. It will first be available in Visual Studio 2017 version 15.5 preview 2.

[2017-10-06 20:12] rskar-git commented on #22563
@AdamSpeight2008 Yep, I got that. Yet `Byte` has everything to do with how this issue came to light in the first place. Whether `For ... Next` or `for(;;)`, this several-decades old approach to looping has the fatal flaw of when the loop's arithmetic takes it outside of T.MinValue..T.MaxValue.

However, this approach is now, and has been for quite a long time, the "devil we know." And, for good or

[2017-10-06 20:30] darthwalsh commented on #15132
Possibly related to https://developercommunity.visualstudio.com/content/problem/122916/declaring-variable-in-immediate-window-changes-dat.html ?

[2017-10-06 20:34] AdamSpeight2008 commented on #22563
What are the current workarounds?
  * Use larger integer type, and cast back down.
    * At some point there going no more larger type.
  * `Try ... Catch o As OverflowException`
    *  Using executions for control flow.
    *  Slow
  * Special case the last value and repeat the code inside the loop.

We could enable the safety via an option `Option NoOverflowLoops`.

[2017-10-06 21:23] ivanbasov commented on #15132
Thank you, @darthwalsh! It looks like those issues should be investigated together.

[2017-10-06 21:32] OmarTawfik commented on #20382
Bringing to 15.5 for making a decision. @VSadov is this something we should worry about now?

[2017-10-06 21:34] OmarTawfik commented on #18172
Merged from #22283

[2017-10-06 21:35] OmarTawfik commented on #18171
Merged to #22283

[2017-10-06 21:37] MkazemAkhgary opened #22584 "DebuggerStepThrough for partial classes? [DebuggerStepIn]"
[Originally posted here.](https://github.com/dotnet/csharplang/issues/978#issuecomment-334871451)

I have set of classes that are auto generated by tool. but all classes are marked with `DebuggerStepThrough` attribute

the classes are partial, so I can write my code for that class in separate file, however `DebuggerStepThrough` in auto generated part of partial class will affect entire class.

How

[2017-10-06 21:38] OmarTawfik commented on #19421
Duplicate to #22564

[2017-10-06 21:38] #19421 closed

[2017-10-06 21:59] genlu opened #22585 "Should we expose receiver when accessing shared member through instance in VB"
In VB, access of shared member through an instance is not an error, but the qualifying expression will not be evaluated in this case. We currently explicitly dropped the receiver for IRaiseEventStatement when the event is shared. (there might be other places do this as well).

See https://github.com/dotnet/roslyn/pull/22243#discussion_r143186598

[2017-10-06 22:07] CyrusNajmabadi commented on #22580
IsDefinedInSourceTree is virtual, and it seems like it could be appropriately overridden as necessary.

[2017-10-06 22:15] genlu opened #22586 "Should we expose symbol for the method invoked for RaiseEvent statement in VB"
For custom event, the method symbol can be get from `IRaiseEventExpression.EventReference.Event.RaiseMethod`. But this is `Nothing` for field-like event. Is this something we want to add to the `IRaiseEventStatement` interface?

See https://github.com/dotnet/roslyn/pull/22243#discussion_r142796751

[2017-10-06 22:22] ivanbasov commented on #21158
Closing as no repro with a confirmation by @jmarolf
Thank you!

[2017-10-06 23:02] jcouv commented on #21814
Relates to https://github.com/dotnet/roslyn/issues/22332

[2017-10-06 23:37] 333fred opened #22587 "Unexpected Tuple Conversions"
There are some unexpected tuple conversions in the tree. See https://github.com/dotnet/roslyn/pull/22056/files/fe06e85039aee67749b13c161eeb39f79586bf96#r143312179.

[2017-10-06 23:46] #8567 closed

[2017-10-06 23:53] #8345 closed

[2017-10-06 23:58] 333fred opened #22588 "AnonymousTypeCreation initializer IsImplicit is not calculated correctly."
Currently, we calculate IsImplicit from the operand of the AnonymousTypeCreationInitializer. However, this isn't correct as the operand can be an implicit conversion, but the assignment isn't. https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb#L200 is the affected line, see https://github.com/dotnet/roslyn/pull/22056/fi

[2017-10-07 01:12] #20678 closed

[2017-10-07 01:16] jinujoseph commented on #19027
@tmat , is this still an issue ?

[2017-10-07 01:20] tmat commented on #19027
@jinujoseph I don't know.

[2017-10-07 03:26] heejaechang commented on #22561
there is also a question whether IUsingStatement should return both Declaration and Value. and whether Declaration should return IVariableDeclarationStatement rather than IVarialbeDecleration.

[2017-10-07 06:46] Alucardz commented on #8280
@tmat Actually I was trying to get remote debugging on azure (app service web app) to work and one recommendation on stackoverflow was to turn Managed Compatibility Mode on. Didn't work. Issue was related to local policies. But I did encounter the 'could not load this custom viewer' which brought me here, thought I'd mention it.

Thanks for the follow up!

[2017-10-07 13:29] Drawaes opened #22589 "Closure causes anonymous type to allocate even if unused"
**Version Used**:
Latest netcore and 2.0
**Steps to Reproduce**:

1. Method that has a closure at the bottom of method
2. Add an if statement and pass in false to exit early
3. The anonymous type is created and allocated even though the code is never touched

**Expected Behavior**:
Only allocate if the type is actually needed

**Actual Behavior**:
Type is allocated everytime

[Repro Code Solution]

[2017-10-08 08:15] jinujoseph opened #22590 "ExpandSelection/ReduceSelection Option"
[View on Developer Community](https://developercommunity.visualstudio.com/content/problem/24510/expand-selection-does-not-work.html)
I tried setting both "Edit.ExpandSelection" and, separately, "View.ExpandSelection" to ctrl-w to match my ReSharper workflow, but neither one did anything. Resetting to defaults, alt-1 also does nothing.

cc @kuhlenh

[2017-10-08 09:56] AdamSpeight2008 opened #22591 "Fix All in Document, Project, Solution (Test?)"
An interesting side discussion from PR #19999, around a test project to test fix all, and suitable candidate for the codefix to use.

**Related To:**  #22539

[2017-10-08 10:00] AdamSpeight2008 commented on #22591
The original analysis used to gauge the potential usefulness of the proposed feature and code fix, showed 2229 out of 2612 (>85%) from a scan of the Rosyln repo.

[2017-10-08 10:06] AdamSpeight2008 commented on #22591
A possible solution would be to reuse the same document for the next fix, akin to Enumerable.Aggregate.
[code]
So there is only at most one new copy of updated document during the application of the fixes.

[2017-10-08 10:41] trampster commented on #8210
Public signing is not an option for me, I maintain an opensource .net library which is published on nuget, linux is my primary dev environment and having to switch to a windows to build it is a pain.

Please don't make us linux users second class citizens.

[2017-10-08 14:08] sharwell commented on #22591
When working on StyleCop Analyzers, our experience there was the batch fixer was not particularly suitable for Fix All operations. It provided an initial approach, but we considered the proper approach to be implementing a dedicated Fix All operation for each analyzer. The difference between the approaches was so pronounced that we ended up using a ⌛️ instead of a ✔️ on the [StyleCop Analyzers sta

[2017-10-08 17:32] paul1956 commented on #22591
If the batch fix just monitored memory and stopped before running out that would be acceptable since large fixes usually require multiple passes to fix all the issues in many cases anyway. Merging into a single document would also work for fixes that don't have the effect to creating or fixing additional issues. For 1.0 of Roslyn I did implement my own batch fixer but there is a lot of code to get

[2017-10-08 22:01] sjb-sjb opened #22592 "Inappropriate generation of CS 1612"
**Version Used**:
Visual C# 2017 - 00369-60000-00001-AA549

**Steps to Reproduce**:
Unfortunately this error can be inappropriately generated when assigning to a property (i.e. invoking a property setter). An immutable struct can still have a valid property setter, as long as the property setter doesn't actually assign to any fields in the struct. For example,

[code]

**Expected Behavior**:
See a

[2017-10-08 22:35] aggieben commented on #15056
I am also experiencing this issue and can reproduce in LinqPad with a minimal target solution (attached).

[roslyn-15056-repro.zip](https://github.com/dotnet/roslyn/files/1367259/roslyn-15056-repro.zip)

[2017-10-09 03:32] jaredpar commented on #21499
Is there a specific scenario this bug is affecting? Lacking a scenario going to push it out of the 15.5 release.

[2017-10-09 07:20] svick commented on #22592
Since property setters *very often* write the value to a field and the compiler has no way of knowing whether it does so, I think producing the error makes sense: If the error was not produced, it would be too easy to write buggy code.

This means that in the rare, but valid cases where the property setter does not write to a field, you have to work around this by creating a local variable. I thin

[2017-10-09 09:20] KrisVandermotten opened #22594 "String interpolation can be optimized"
String interpolation has proven to be a very successful feature. Some people even replace efficient concatenation by interpolation, assuming the new syntax is just as efficient. However, that is not the case.

The [LDM of May 21, 2014](https://github.com/dotnet/csharplang/blob/172a371cd929d32cc0ef0344a2cee04745975e9d/meetings/2014/LDM-2014-05-21.md) noted:

So far, nothing has been done to optimiz

[2017-10-09 09:35] abhijitparkhi1983 opened #22596 "Visual Studios 2013 Roslyn code Extension Exception: Could not load file or assembly Microsoft.VisualStudio.LanguageServices Version 1.3.1.0"
**Version Used**:
1.3.1.0
Visual Studios 2013

**Steps to Reproduce**:

1. We want to get a reference to the current solution in a solution opened using Visual Studios 2013.
2. For this purpose, we are creating a Visual Studios 2013 Extension Project.
3. In the extension project, we use following  code to get a reference to the current solution:
[code]
4. We have added a nugget reference to **Micr

[2017-10-09 10:17] Tragetaschen opened #22597 ""Extract method" with a generic local function creates invalid code"
**Version Used**: VS 15.3.5

**Steps to Reproduce**:

[code]
Run "Extract Method" on the entire contents of `test`

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]
`NewMethod` gets a generic parameter that isn't available at the call site (error) and generates a warning for the `T` on `foo` within `NewMethod` due to having the same name as `NewMethod`'s `T`.

[2017-10-09 11:08] AdamSpeight2008 commented on #22594
Alignment can optimised too, if expression's type is string.
[code]
and
[code]

[2017-10-09 11:34] Daendel commented on #21580
I am still having the same problem with Visual Studio 15.4.0 Preview 5.0.
Visual Studio crashes constantly. I have 16 GB internal memory. What can I do now?
It seems like Visual Studio 2015 doesn't have this problem.
A lot of developers in our company cannot do their work now...

The error:

`Application: devenv.exe
Framework Version: v4.0.30319
Description: The application requested process termi

[2017-10-09 11:45] KrisVandermotten commented on #22594
@AdamSpeight2008 I know, but that will significantly increase the size of the generated code. Also, in my experience, this happens far less frequently in real world code.

More importantly, I think that is a different case. I wanted to tackle this case first. Alignment can be handled later if deemed useful.

[2017-10-09 11:53] khellang commented on #22594
This sounds like a variation of all the other (closed) issues, like https://github.com/dotnet/roslyn/issues/9212 (see the web of linked issues as well)

[2017-10-09 12:02] KrisVandermotten commented on #22594
@khellang It is a variation on #9212, but the approach taken is fundamentally different. #9212 was about replacing the lowering to `string.Format` completely. This is about leaving the existing lowering for all but one specific (but very common) situation, that can be easily optimized. Also, this suggestion does not require the presence of any method, except for `string.Concat` which is already re

[2017-10-09 12:16] rskar-git commented on #22563
@AdamSpeight2008  The suggested lowering form above won't work with signed types (it can overflow at fourth line, `__EndValue__ - __Value__`). (Also, minor bug at fifth line, should be `If __delta__ < Math.Abs(__Step__) Then Exit While` - otherwise it could skip final value.)

Another proposal to consider:

    ' For v As T = r0 To r1 Step dv
    Dim IsDownTo As Boolean = dv < 0
    Dim vEdgeLo As

[2017-10-09 12:19] scegg commented on #21579
@tmat Thanks. Actually, the main problem is related to dotnet framework instead of core. In core, i have trusted platform at least.

[2017-10-09 12:20] khellang commented on #22594
So https://github.com/dotnet/roslyn/issues/6669? Hence why I said "see the web of linked issues as well" 😉

[2017-10-09 12:28] KrisVandermotten commented on #22594
The key difference between this suggestion and similar suggestions in the past (including #6669), is that this modifies only the case where all fill-ins are strings. Those do not have the complexity of culture-sensitive formatting.

[2017-10-09 12:48] MaStr11 opened #22598 "Provide better API and documentation for SyntaxReferences of partial methods"
**Version Used**:
v2.3.2
**Steps to Reproduce**:
Get an `ISymbol` for a partial method.
e.g. Console App with Microsoft.CodeAnalysis Nuget package

[code]

**Expected Behavior**:

`method.DeclaringSyntaxReferences` and `method.Locations` contain references to both files (as does the ISymbol for class `C1`).

**Actual Behavior**:
[code]

From the documentation comment of `DeclaringSyntaxReferences`

[2017-10-09 13:04] AdamSpeight2008 commented on #22563
It would be nice to have compile-time verified templates so we can optimise the generated code.

[code]

[code]

[2017-10-09 14:19] rskar-git commented on #22563
Yep, compile-time verified templates do seem like a very nice thing.

However, I've been experimenting on this for much of yesterday, and have come to the conclusion that today's CPU is optimized around the idiomatic `for(v=r0; v<=r1; v+=dv){ ... }`, and any attempt to stray from that idiom comes at a performance price. The Debug compile is the first indication of trouble. The Release compile some

[2017-10-09 14:23] mattscheffer opened #22599 "Internal error in Immediate Window when trying to create an already existing variable"
**Version Used**:
D15svc 27004.2002
**Steps to Reproduce**:
1. Create a new C# console app.
2. Add some code to create a variable and add a breakpoint.
[code]
3.  Start Debugging
4. Open immediate window and try to create the existing variable s. Do something like:
[code]

**Expected Behavior**:
It should throw an error explaining that the variable already exists.
**Actual Behavior**:
It sends an

[2017-10-09 15:17] Pilchie commented on #22596
Roslyn is not part of VS 2013 - there is no support for it there.

[2017-10-09 15:18] Pilchie commented on #22590
This was added by the editor team in 15.5.

[2017-10-09 15:24] marcind commented on #21499
Well, the scenario is that an analyzer should be able to rely on this to determine that a variable/field is referenced, but in the case of local functions it does not work, resulting in the analyzer failing to report correctly. Like the referenced xunit analyzer which fires a false positive that a parameter is not being used when in fact it is in an anonymous function.

[2017-10-09 15:31] svick opened #22600 "Cannot build on Linux"
Note: This might seem like a duplicate of https://github.com/dotnet/roslyn/issues/19492, but I think the situation changed since May.

I'm trying to build this repo on a brand new Ubuntu 16.04 Azure VM and I'm not having success.

Attempt 1
---

Follow [Building, Debugging, and Testing on Unix](https://github.com/dotnet/roslyn/blob/master/docs/contributing/Building%2C%20Debugging%2C%20and%20Testin

[2017-10-09 15:33] sharwell opened #22601 "tab_width should fall back to indent_size"
**Version Used**: 15.1

:link: Originally posted on [developer community](https://developercommunity.visualstudio.com/content/problem/46983/conflict-between-vs2017-text-editor-indentation-se.html) by Clinton Ingram (@saucecontrol?).

**Steps to Reproduce**:

Use the following **.editorconfig** file:

[code]

**Expected Behavior**:

The editor formats code with a single hard-tab for indentation, wh

[2017-10-09 15:36] sharwell commented on #22601
:memo: We also have an internal bug tracking editor-related functionality impacted by this interpretation of the EditorConfig file.

[2017-10-09 16:01] sharwell commented on #21499
@ivanbasov Does the same thing occur if the local function is invoked?

[2017-10-09 16:19] khyperia opened #22602 "Flaky build: The type or namespace name 'Loader' does not exist in the namespace 'System.Runtime'"
[code]

Example PRs with repro:

* https://github.com/dotnet/roslyn/pull/22151
* https://github.com/dotnet/roslyn/pull/22424
* https://github.com/dotnet/roslyn/pull/22487
* https://github.com/dotnet/roslyn/pull/22527

Retesting usually resolves it.

[2017-10-09 16:26] HaloFour commented on #22594
My only real concern with such an optimization is that it encodes assumptions regarding the implementation of `String.Format` into the compiler, namely that `string.Format("foo{0}baz", "bar")` will always be functionally equivalent to `string.Concat("foo", "bar", "baz")`.  Who's to say that some future version of the framework won't make `System.String` implement `IFormattable` and offer support f

[2017-10-09 16:47] khyperia opened #22603 "Flaky test: Metadata file 'mscorlib.dll (netstandard 2.0 ref)' could not be opened"
https://github.com/dotnet/roslyn/pull/22487

https://ci.dot.net/job/dotnet_roslyn/job/master/job/ubuntu_14_debug_prtest/6867/

[code]

[2017-10-09 16:49] marcind commented on #21499
In a workaround for this issue that was reported against xunit.analyzers the local function was being invoked: https://github.com/aspnet/SignalR/pull/808/files#diff-f81419b5767af008b375f60977aad33bR123

[2017-10-09 17:08] tmat commented on #21579
@scegg Can you change the project that generates the assembly in a way that allows you to retrieve the byte[] for the emitted assembly?

[2017-10-09 17:10] tmat commented on #21499
Edit and Continue uses this API so the scenario is that we misreport rude edit.

[2017-10-09 17:31] sharwell opened #22605 "SyntaxTreeIndex holding a large working set"
**Version Used**: 15.4 Preview 4

**Steps to Reproduce**:

1. Open Roslyn.sln
1. Work for a few minutes

(I used Go To Implementation a few times, but I do not know what difference that makes.)

**Expected Behavior**:

devenv.exe does not consume memory to the point of failing.

**Actual Behavior**:

During analysis of an OOM condition, 103995 instances of `SyntaxTreeIndex` were holding on to 22.3

[2017-10-09 17:40] sharwell commented on #22596
More specifically, Roslyn 1.x corresponds to the Visual Studio 2015 releases. The minor version number indicates the update, so Roslyn 1.3 would be Visual Studio 2015 Update 3.

[2017-10-09 17:56] #21747 closed

[2017-10-09 17:58] scegg commented on #21579
@tmat Those assemblies are not generated by me, so...

[2017-10-09 18:40] tmat commented on #21579
@scegg I agree it's not ideal. Unfortunately, I don't have a better solution for you at this point. It is possible that in future ```AssemblyExtensions.TryGetRawMetadata``` will be ported to .NET Framework. But there is no ETA for that currently. Updating Roslyn to be able to emit against System.Reflection objects is a lot of work and unlikely to happen in foreseeable future.

[2017-10-09 18:47] tmat commented on #22599
@ivanbasov Could you investigate? This seems like a very basic scenario.
/cc @jinujoseph

[2017-10-09 19:00] ivanbasov commented on #21499
@sharwell, the issue regarding a difference between local functions and lambda which are expected to be the same.
@jaredpar, as @tmat mentioned, EnC uses this API. I'm fine to move the issue from 15.5 to 15.6.

[2017-10-09 19:04] heejaechang commented on #21580
@Daendel can you provide us dump when OOM happened so that we can see what's taking so much memory?

[2017-10-09 19:07] sharwell opened #22609 "StateSet.ContainsAnyDocumentOrProjectDiagnostics heavy allocator"
**Version Used**: 15.4 Preview 4

**Steps to Reproduce**:

1. Open Roslyn.sln
2. Work for a bit

**Result**:

`StateSet.ContainsAnyDocumentOrProjectDiagnostics` allocates ~5% of the total allocation load in devenv.exe. Roughly 75% of this is in `GetActiveFileStates`, while 25% of this is in the concurrent dictionary `GetEnumerator()` call.

[2017-10-09 19:26] sharwell commented on #22580
I'm modifying the return type of `IsDefinedInSourceTree` to be a new value type `SyntaxReferenceCollection`, which allows the benefit to apply in many places where it's used.

[2017-10-09 19:42] jinujoseph opened #22610 "Automatic indentation for method argument attributes is awkward"
[View on Developer Community](https://developercommunity.visualstudio.com/content/problem/39656/automatic-indentation-for-method-argument-attribut.html)

If I want to annotate a method argument with an attribute, most commonly for MEF importing constructors, then it can easily happen that the line gets too long and I'd like to have the attribute and argument on separate lines. The suggested indent

[2017-10-09 19:59] ivanbasov commented on #22599
I believe that the root cause is the same as at https://github.com/dotnet/roslyn/issues/22474. Not sure if it meets the bar for 15.5 but it would be nice to schedule it at least for 15.6.

[2017-10-09 20:08] #22478 closed

[2017-10-09 20:15] jcouv commented on #22478
@nguerrera  This was closed automatically when PR #22487 was merged, but if I read the comments right @khyperia wasn't able to verify end-to-end.
Would you be able to help with that?

[2017-10-09 20:17] jasonmalinowski opened #22613 "Random hang during shutdown"
**Version Used**: 15.0.26927.1 built by: D15REL

Had a random hang during shutdown. I should warn that I had an "external process crashed" gold bar but don't know what happened there. Was running an old build so that bug might be fixed.

**Dump:** ``\\mlangfs1\public\jasonmal\Dumps\Roslyn\22613``

[2017-10-09 20:25] jasonmalinowski commented on #22613
FYI @heejaechang here's the bug I just asked about.

[2017-10-09 20:42] jcouv commented on #22382
Note: although ValueTuple is required to bind, not reference to it ends up emitted.
From discussion with Aleksey that makes sense: the language says there is an expression on the right-hand-side of the deconstruction, and it is a tuple.
I need to check with Neal and Mads whether that is sufficient/acceptable.

[code]
Note: this test should be checked in before closing this issue.

[2017-10-09 20:48] #20095 closed

[2017-10-09 21:09] heejaechang commented on #22613
@jasonmalinowski thank you I will take a look

[2017-10-09 21:24] mavasani commented on #7428
Verify does not repro anymore for any of the mentioned C# or VB cases.

[2017-10-09 21:24] #7428 closed

[2017-10-09 21:30] mavasani commented on #7313
Does not repro on latest Roslyn bits.

[2017-10-09 21:30] #7313 closed

[2017-10-09 21:30] mavasani commented on #20313
@jinujoseph Pushing this out, its a new API.

[2017-10-09 21:33] tmat commented on #18531
I see different exception in EE: InvalidOperationException

[code]

[2017-10-09 22:07] agocke opened #22615 "Inconsistent error reporting with #warning and lambdas, and overload resolution for constructor call"
Repro

[code]

[2017-10-09 22:38] r-ramesh opened #22617 "[EE] Override OnClose for MetadataContextItem"
This tracks the likely fix for the wretched Watson crash tracked by DevDiv VSO Bug 187805. Previous attempts at slaying this beast (https://github.com/dotnet/roslyn/issues/17788 and debugger changes) seem to have not addressed all code paths causing the issue.

The Watson dumps indicate X64 debugging, with the process object unloaded at the point of attempting to read a dangling pointer returned f

[2017-10-09 22:44] DavidArno opened #22619 ""x is var _" results in the expression being true without x being evaluated"
**Version Used**:
C# 7.1, debug mode

**Steps to Reproduce**:
[code]

**Expected Behavior**:
I'd expect `ThrowingMethod()` to be invoked, resulting in an exception.

**Actual Behavior**:
The method, `IsVarMethod()`, returns `1` and no exception is thrown.

This only occurs if the `x is T y` expression uses the var pattern and a discard. Change `var` to `bool` or `_` to eg `y` and the method is inv

[2017-10-09 22:44] r-ramesh opened #22620 "[EE] Unify all classes of CSharpExpressionCompiler"
Currently, only 1 component of CSharpExpressionCompiler implements the IDkmModuleModifiedNotification and IDkmModuleInstanceUnloadNotification. These interfaces are implemented to guard calls to GetMetaDataBytesPtr, to prevent dangling pointer references (and subsequent AV's like the VSO Bug 187805.

However, all 3 classes of the component call into GetMetaDataBytesPtr, and thus 2 classes (CSharpF

[2017-10-09 23:00] khyperia commented on #22478
I wasn't able to verify 100% end-to-end, but did figure out (after writing the original description for the PR) how to test a reasonable chunk of end-to-end-ness (which did catch two bugs...)

When the nuget package gets published next (hopefully tomorrow?), hopefully it's easier to test. (I still don't know how to test fully end-to-end, as this original issue is using system-wide msbuild/csc)

[2017-10-09 23:23] ivanbasov opened #22623 "EnC reports compile error when replacing expression body with normal method and small changes"
Copied from [https://devdiv.visualstudio.com/DevDiv/_workitems?id=503251](https://devdiv.visualstudio.com/DevDiv/_workitems?id=503251)

Affected Branch: VS 2017 15.5
Affected Build: 26927.1.d15rel
Affected Product Language:

Steps to reproduce:

1. Create a C# console app project with the following code

[code]
2. Set BP at the specified line, then F5
3. when VS breaks, change the body of InnerLoc

[2017-10-09 23:48] ivanbasov commented on #12633
Also referred in [https://developercommunity.visualstudio.com/content/problem/88871/cant-debug-properly-a-roslyn-compiled-app.html](https://developercommunity.visualstudio.com/content/problem/88871/cant-debug-properly-a-roslyn-compiled-app.html)

[2017-10-09 23:48] heejaechang commented on #22229
one of known case - https://github.com/dotnet/roslyn/pull/22570#discussion_r143272022

[2017-10-09 23:54] heejaechang opened #22625 "API shape of IUsingStatement"
right now, IUsingStatement's shape is this

[code]

we have 2 design questions.

1. should Declaration use IVariableDeclarationStatement rather than IVariableDeclaration
2. should Declaration and Value be merged?

related to https://github.com/dotnet/roslyn/issues/22561 (https://github.com/dotnet/roslyn/pull/22435#issuecomment-334762937)

[2017-10-09 23:56] ivanbasov commented on #22617
Related to #22620
Consider resolving two VSO reliability items depending on those two issues when fixed.

[2017-10-09 23:58] heejaechang commented on #22625
since using statement can have multiple variable declarations such as below

[code]
but IVariableDeclaration can't support 2 initializers, we don't have option but using IVariableDeclerationStatement unless we change shape of those APIs.

[2017-10-10 00:06] agocke opened #22626 "XML Doc Comment parser does not consider tuple syntax to be valid in crefs"
e.g.,

[code]

Produces warnings

[code]

[2017-10-10 03:27] ericmutta opened #22627 "VB: Editor should NOT automatically remove digit grouping character for decimal literals."
**Version Used**:

Visual Studio Community 2017 v15.3.3

**Steps to Reproduce**:

Try typing this in any VB project `Dim num = 12_000.29`. The editor automatically removes the `_`  digit grouping character. But if you type `Dim num = 12_000` it remains. Not sure why it does this since it doesn't appear to be a syntax error (Immediate window evals it just fine):

![vs_digit_seperator](https://user-

[2017-10-10 04:24] #22193 closed

[2017-10-10 04:29] abhijitparkhi1983 commented on #22596
Thanks @Pilchie  and @sharwell  for the inputs.

I understand that Roslyn is now not supported for VS2013. But if i remember it right, Roslyn was introduced with a support to VS 2013.

I need to get the reference to the current Solution using a extension for VS 2013. Is there any other mechanism, some hack, some different approach to do so?
I can then pass on this solution object to the Code which

[2017-10-10 04:51] sharwell commented on #22596
@abhijitparkhi1983 There is a relatively obscure build (unsupported pre-release) of Roslyn which was available for a short time with Visual Studio 2013. If you build against [that version of Roslyn](https://www.nuget.org/packages/Microsoft.CodeAnalysis/0.6.4033103-beta), you can obtain a `Solution` from a `ITextBuffer` using [this code sequence](https://github.com/tunnelvisionlabs/InheritanceMargi

[2017-10-10 04:56] abhijitparkhi1983 commented on #22596
@sharwell thanks.

Will try out the above approach. But ya if we cannot mix this instance of solution with later releases of Roslyn, it will be a kind of blocker.

Is there any other way in which can achieve  this in some way?
We have a situation where we have a plugin support working for VS 2015 and VS 2017. But there are couple of people who strongly want a plugin support for VS 2013.

[2017-10-10 05:00] sharwell commented on #22596
@abhijitparkhi1983 There is no situation in which a Roslyn-based extension running within a Visual Studio 2013 environment is supported. I'm not saying it can't be done, but you are definitely going to be fighting a steep uphill battle likely all on your own.

[2017-10-10 05:18] abhijitparkhi1983 commented on #22596
@sharwell

Ya i understand. Let me try out with things you have mentioned. Thanks a lot

[2017-10-10 05:18] #22596 closed

[2017-10-10 05:33] SergeyTeplyakov opened #22628 "Suboptimal code for o is 42"
The following code causes two boxing allocations:

[code]

Because the compiler generates the call to `object.Equals(42, o)`.

Similarly, if the `n` is `object`, the `is`-expression causes one boxing allocation when the similar switch statement causes no allocations:

[code]
The code gen is:

[code]

Is there any unobvious reason for this behavior or just code gen simply not optimal and can be imp

[2017-10-10 05:45] 333fred commented on #22625
dupe of https://github.com/dotnet/roslyn/issues/22279.

[2017-10-10 05:45] #22625 closed

[2017-10-10 05:48] 333fred commented on #17606
IUsingStatement at least has no tests in C#, and barely any in VB. We need to verify each of these to make sure they're actually complete.

[2017-10-10 05:51] abhijitparkhi1983 opened #22629 "How to get the actual StartLine of a Method/Class having attributes"
**Version Used**:
2.3.2

**Steps to Reproduce**:

1. In our code we are finding the start line of a Method or a Class based on the below code:
`node.GetLocation().GetMappedLineSpan().StartLinePosition.Line;`
here the node is SyntaxNode for the class/method in picture.
2. The above code works well for all the methods and classes who do not have any attribute decoration associated with it. But in ca

[2017-10-10 06:10] alrz commented on #22629
probably you should get the line number off of the Identifier (method name), since attributes are part of that node and `6` is correct as its start line.

[2017-10-10 06:49] jcouv commented on #22628
I think this is a duplicate of https://github.com/dotnet/roslyn/issues/20642
@TyOverby to confirm.

[2017-10-10 06:50] jcouv commented on #22619
Tagging @gafter

[2017-10-10 06:53] jcouv commented on #22597
FYI @agocke

[2017-10-10 07:43] privateField commented on #21580
@heejaechang
We have installed VS 15.4 preview 5 on one developer's computer yesterday.
During the day he reported an unexpected VS crash twice only.
Both crashed was during the opening WinForms design.

So, it sounds like most problems with crashes are fixed in 15.4

[2017-10-10 08:23] CyrusNajmabadi commented on #22629
As you mentioned, you are getting the actual line number :)   If you want a different line number, you'll have to be more specific about what you want.  For example, a method might look like:

[code]

Which of these lines do you consider the "actual line" that the method starts on?

Once you answer that, you'll likely be able to trivially write the code that gives you the value you want :)

[2017-10-10 08:52] Daendel commented on #21580
@heejaechang
Where can I find the dumps? You mean memory dumps, I suppose?

[2017-10-10 09:25] abhijitparkhi1983 commented on #22629
@alrz this is what it should be. Thanks for your quick reply.

@CyrusNajmabadi very interesting and valid scenario which you have put in. Like i mentioned, the approach suggested by @alrz sounds the way to go. Thanks for your valuable views

[2017-10-10 10:05] pgrishanov opened #22632 "vbc and release mode issue"
I use Visual Studio 2017
vbc version: 2.3.2.62030

Compiling a vb project  with parameters /p:Configuration=Release /p:DebugSymbols=false /p:DebugType=None
produce dll with reference to pdb that is not even produced.

This behavior is not reporduced with previos versions of vbc (e.g. 14.7.2053)

**Expected Behavior**:
Compiler should not included path to pdb when DebugType is set to none

[2017-10-10 13:22] mavasani opened #22633 "Add IOperation API for BoundDiscardExpression"

[2017-10-10 14:16] sjb-sjb commented on #22592
I would suggest making cs1612 be a warning rather than an error. This would draw the situation to the programmers attention, preventing buggy code, but still allow the compiler to compile perfectly valid code. The warning at least can be suppressed by the programmer where appropriate; with an error you are stuck.

It doesn't make sense to have valid code that the compiler refuses to compile simply

[2017-10-10 14:32] sharwell commented on #22592
:memo: CS1612 is the following:

[2017-10-10 14:37] sharwell commented on #22626
Loosely related to #18274.

This is especially problematic due to the way `cref` attribute code completion tries to write exactly the syntax you indicated.

[2017-10-10 14:38] sharwell commented on #22626
Adding **Area-IDE** since code completion and the compiler need to work together here.

[2017-10-10 14:54] mavasani commented on #22111
@tmeschter I know that for the legacy project system there are at least 2 places where we need the default ruleset and ruleset directory being set by this targets file:

1. Code Analysis property page
2. Analyzers node in solution explorer

We do not have the Code Analysis property page in the new project system (correct me if this has changed recently), but we do have the Analyzers dependencies n

[2017-10-10 14:57] UnderNotic opened #22634 "Running roslyn in another process - dependency problem"
Hi,

I'm in situation when I can not use:

[code]
Is there a way do this programmatically because now I'm getting following error:
`"System.TypeLoadException - Could not load type System.Collections.Immutable.ImmutalbeArray1 from assembly "System.Collection.Immutable, Version=1.0.34.0 ..... )`"

[2017-10-10 15:31] KrisVandermotten commented on #22594
@HaloFour

To be precise, the way I implemented my PR, it encodes the assumption that `string.Format("foo{0}baz", "bar")` will always be functionally equivalent to `"foo" + "bar" + "baz"`.

The assumption that `"foo" + s + "baz"` (where `s` is a non-constant string) is equivalent to `string.Concat("foo", s, "baz")` was already encoded in the compiler, as well as the assumptions that `"foo" + ("bar

[2017-10-10 15:51] Daendel commented on #21580
@heejaechang I have created a memory dump of when the window hang
The dump is zipped and chopped in files of 10MB

[devenv.exe_171010_173401.001.zip](https://github.com/dotnet/roslyn/files/1372540/devenv.exe_171010_173401.001.zip)
[devenv.exe_171010_173401.002.zip](https://github.com/dotnet/roslyn/files/1372542/devenv.exe_171010_173401.002.zip)
[devenv.exe_171010_173401.003.zip](https://github.com

[2017-10-10 16:16] sharwell opened #22635 "Rewrite unnecessary code analyzer as a semantic model analyzer"
**Version Used**: Current master branch

From @mavasani:

[2017-10-10 16:22] tmeschter commented on #22111
@mavasani The Analyzers node shouldn't care about whether or not the CodeAnalysisRuleSet property is defined. Mostly it cares about the settings from the file so we can update the Solution Explorer icons and Properties pane to reflect the effective severity, but it doesn't get those directly from the file. It gets them from the compiler layer, which is responsible for reading the rule set file (if

[2017-10-10 16:33] tmat commented on #22634
Could you describe your situation a bit? Are you using Roslyn in a plugin to some other app that you can't modify?

[2017-10-10 16:37] mavasani commented on #22111
Do we support the CodeAnalysis property page in the new project system? I thought we did not.

The default ruleset only affects two scenarios:
1. Legacy FxCop execution - this is explicitly not supported for .NetCore/.NetStandard
2. Live analysis in VS with FxCop analyzers (CA rules defined in the default ruleset) - This experience is already broken for nuget based analyzers as users get different

[2017-10-10 16:45] Pilchie commented on #22111
Why does the commandline not have a default ruleset?  I thought that was exactly what these targets provide?

[2017-10-10 16:50] tmeschter commented on #22111
The value of the `CodeAnalysisRuleSet` property should not vary between design-time and full builds. That is a bug.

[2017-10-10 16:53] mavasani commented on #22111
@Pilchie Yes, you are correct. I got confused that this targets was imported only in VS, but that is not the case. However, with the FxCop analyzers, now we have an option of packaging the default ruleset(s) along with the VSIX/NuGet and set the default in props.

[2017-10-10 16:54] philippe-lavoie commented on #22392
Sorry to bother you with this again, but I'd really (and do mean REALLY) like the ability to unit tests my visual studio extensions. For this, I need the ability to load a workspace inside a unit test. Any traction on this ?

[2017-10-10 17:01] tmeschter commented on #22111
Can you expand on this? When we implemented analyzers we discussed this and decided that VSIX/NuGet packages should _never_ include a .ruleset file because there is no way to compose them. Since they're specified through an MSBuild property only one can win, and the others will be ignored. Default severity should be set in the diagnostic itself, or if for some reason that can't be done, then by up

[2017-10-10 17:26] mavasani commented on #22111
@tmeschter - yes we would need the ruleset composition feature for it.

[2017-10-10 18:10] 333fred opened #22639 "EditorServicesTest Assembly Failure"
Failed in dev15.5-preview1-staging. Failed at the end of test assembly, not during a specific test.
https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/dev15.5-preview1-staging/job/windows_debug_unit32/7/

[code]

[2017-10-10 18:12] OmarTawfik opened #22640 "Users should not be allowed to place [Out] on `in` parameters"
[code]
**Expected:** a compiler error.
**Actual:** attribute is emitted.

cc @jcouv @tannergooding

[2017-10-10 18:15] JosephTremoulet commented on #15929
Several places here mention, as @benaadams [put it](https://github.com/dotnet/roslyn/issues/15929#issuecomment-267794641), "the kind of things done by [LinqOptimizer](http://nessos.github.io/LinqOptimizer/) or [roslyn-linq-rewrite](https://github.com/antiufo/roslyn-linq-rewrite)".  I'm curious: with the referenced tools already available, what's the benefit of doing similar things in an IL rewrite

[2017-10-10 18:16] OmarTawfik opened #22641 "Marshalling methods with `in` parameters should have [In] attribute"
As an optimization, compiler should place `[InAttribute]` if user didn't on `in` parameters in marshaling methods. This saves an extra copy by the run-time on method return. because right now, it is treated as an ordinary `ref`, and the value is copied in and out.

cc @tannergooding @jcouv

[2017-10-10 18:20] OmarTawfik opened #22642 "For `in` parameters non-virtual methods/delegates/etc, they should have modopt(In)"
If you're a library author, and you already have such signature:

[code]

And you want to make use of the new `in` parameters, you cannot introduce an overload in the new API version that let's your users use it. Because they would be identical in IL.
Compiler should put the `modopt(In)` on signatures it doesn't put a `modreq(In)` on to enable overloading.

cc @tannergooding @jcouv

[2017-10-10 18:20] tannergooding commented on #22641
Related to https://github.com/dotnet/coreclr/issues/11830 and https://github.com/dotnet/csharplang/issues/38#issuecomment-303570195

FYI. @yizhang82

[2017-10-10 18:21] tannergooding commented on #22642
The downside to not doing this is that converting an existing signature from `ref` to `in` is a source breaking change.

[2017-10-10 18:25] jcouv commented on #22641
:memo: It's ok to fix this after 7.2, as it is an optimization. Users can manually add the `[In]` as a workaround (when the compiler will add it, it will be superfluous, but won't break).

[2017-10-10 18:25] tannergooding commented on #15929
I think the benefit is that a general purpose tool applies to all IL based languages and can include all optimizations.

Things like stripping the `init` flag from the locals directive so that locals don't have to be zeroed first also applies (this is a big perf boost for some stackalloc scenarios and also applies to methods with a lot of locals).

[2017-10-10 18:27] tannergooding commented on #15929
Other optimizations like replacing multiple comparisons with a single compare and such work as well:
`if (x < 0 || x > 15)` can be transformed to be `if ((uint)(x) > 15)`.

There are tens (if not hundreds) of these micro-optimizations that native compilers do, and things like the AOT could do, but which the JIT may not be able to do (due to time constraints).

[2017-10-10 18:31] jcouv commented on #22642
To capture Tanner's scenarios:
1. You have a shipped `ref` API and then you add an `in` overload. Without OP, we can never enable this scenario. With OP fixed, we could update the language to allow such overloads.
2. You have a shipped `ref` API and you replace it with an `in` API. Without OP, this is a source break to consumers of the API. With OP, this is a binary break.

So the benefit of OP is

[2017-10-10 18:41] mikedn commented on #15929
if (x < 0 || x > 15) can be transformed to be if ((uint)(x) > 15)

That happens to work but another similar one - `if (x == 2 || x == 4 || x == 8 || x == 33)` doesn't work so well because it depends on the target bitness. Sure, you could tell the IL optimizer to assume a particular target bitness but then things start to become a bit blurry, we have IL so we don't need to bother (too much) with th

[2017-10-10 18:42] JosephTremoulet commented on #15929
Thanks, @tannergooding, I realize that roslyn-link-rewrite's scope is narrower than "everything".  What I'm trying to ask is, for the sort of transforms that *are* in its scope, is there a benefit/desire to have an IL rewrite step perform those same ones?  If so, why, and if not, what **similar** transforms have people had in mind when pointing to it as an example?

[2017-10-10 18:53] tannergooding commented on #15929
I would think that a general purpose IL rewriter should be scoped to whatever optimizations are valid and would likely duplicate some of the ones the JIT/AOT already cover. As @mikedn pointed out, there are plenty that can't be done (or can only be partially done) based on the target bitness/endianness/etc.

However, I would think (at least from a primitive perspective) this could be made easier b

[2017-10-10 19:42] JosephTremoulet commented on #15929
Yes, I also realize that an IL rewrite step needn't be limited to things that are in scope for roslyn-linq-rewrite.  This thread has many specific suggestions of those.  I am trying to ask a question specifically about the linq-related suggestions that have been made on this thread, please don't interpret it as a statement on anything beyond that.  Since my question keeps getting buried by answers

[2017-10-10 19:56] tannergooding commented on #15929
Sorry. I had misunderstood your question originally, my bad 😄 (if I still managed to derail your question below, just ping me and I'll remove).

I don't (personally) think there is any major benefit to having the transforms `roslyn-linq-rewrite` performs also duplicated in an IL rewrite step.

However, I do think there are some minor benefits:
* You only have to run one tool, instead of 2 or 3
* H

[2017-10-10 19:59] GrimSmiler commented on #22560
Used Microsoft.Build nuget to solve my problem.

[2017-10-10 19:59] #22560 closed

[2017-10-10 20:14] SergeyTeplyakov commented on #22628
@jcouv Indeed looks like a duplicate.

[2017-10-10 20:19] jcouv commented on #22628
Closing as dupe. Thanks

[2017-10-10 20:19] #22628 closed

[2017-10-10 20:26] jcouv commented on #22642
From discussion with @jaredpar, we won't do this. A couple of reasons:
- we had similar API issues for people switching from `ref` to `out`, which we accepted.
- if we really really want to do this, he thought we could add the modopt later (but we got interrupted in discussion).
- he raised a point about complexity of determining when a method is virtual (there are some optimization cases that int

[2017-10-10 20:43] OmarTawfik commented on #19792
FYI @jcouv moved to `15.later` as you mentioned above.

[2017-10-10 20:43] OmarTawfik commented on #22640
I'll take this one.

[2017-10-10 21:04] #22642 closed

[2017-10-10 21:56] jcouv commented on #22642
Updated notes above. @OmarTawfik @tannergooding Feel free to edit.

[2017-10-10 22:53] tmat commented on #18531
After applying the fix in #22647 the scenario works for me.

[2017-10-10 22:55] jcouv opened #22648 "Should `LoweredDynamicOperationFactory.GetArgumentInfo` handle `in`?"
This was spawned by reviewing code that makes use of `RefKind.Out` and asking whether it should handle `RefKind.In` as well.

[code]

Tagging @OmarTawfik to confirm this accurately describes what we tested.
FYI @VSadov

[2017-10-10 22:58] OmarTawfik commented on #22648
It all comes down to the compiler emitting the correct `Microsoft.CSharp.RuntimeBinder.CSharpArgumentInfoFlags`. Right now there is no `in` flag, and the compiler is not emitting anything. So runtime is reading it as a `ref` parameter, and expecting the call to be so.

[2017-10-10 23:01] jcouv commented on #22578
Fixed by #22527
Thanks

[2017-10-10 23:01] #22578 closed

[2017-10-10 23:08] sharwell opened #22650 "Unbounded SQLite instances/connections contributing to OOM failures"
**Version Used**: 15.3

Currently we fail to bound the number of instances of the following types which are created at runtime:

* `SQLitePCL.sqlite3`
* `Microsoft.CodeAnalysis.SQLite.Interop.SqlConnection`

Associated with these types is a pair of allocations in the native heap. One is 64,000 bytes, and the other is 425,600 bytes. Ordinarily, this would not be a problem. However, it appears that

[2017-10-10 23:32] CyrusNajmabadi commented on #22650
Interesting.  This could definitely happen.  Specifically in the case of a huge amount of concurrent calls into the persistence service.

The worst case would be:

Task-1 makes persistence call, disk is loaded and actual disk writing blocks thread.  Threadpool gets full and continues spawning more tasks, which all end up doing this.  Eventually disk is released and these all complete.  But the poo

[2017-10-11 01:30] #22561 closed

[2017-10-11 01:58] #22395 closed

[2017-10-11 01:59] #22208 closed

[2017-10-11 04:06] VSadov commented on #22648
I think we should make it an error for now and relax that once binder has support for “in”.

[2017-10-11 04:17] SergeyTeplyakov opened #22654 "Suboptimal code for type pattern matching in a switch statement"
The compiler is smart enough to group different clauses with the same type together:

[code]

The generated code roughly looks like this:

[code]

If the switch statement has more than one consecutive type patterns with the same type the compiler will check the type only once and will check different predicates inside the if statement. In the case above it means that only one unboxing operation wi

[2017-10-11 07:05] alrz commented on #22654
Another thing:
[code]
The cast `(int)o` should be postponed until after `whenCondition` is evaluated.

[2017-10-11 07:35] heejaechang commented on #22650
I think I saw from some sqlite doc there is a mode where sqlite serialize all operation to db so that there is basically no concurrency? can we use that mode if we are going to implement our own queue?

[2017-10-11 07:53] heejaechang commented on #22650
we also changed connection to be a shared connection 15.5 which will share all cache and etc rather than creating new data structure for each connections. I wonder whether this still happens for 15.5

[2017-10-11 08:29] Pzixel commented on #15929
@tannergooding

You're so wrong here :) It has huge benefit.

It slows down your code whenever you care about it or not. Because it involves tons of delegate callbacks instead of pure imperative code. If you are working with DB then you don't care because you already are on slow path, but in-memory transformations via linq are so sweet and this slow too, up to 100 times IIRC. For example, in my cu

[2017-10-11 08:35] mikedn commented on #15929
Well, what is that benefit? That was the question.

[2017-10-11 08:40] Pzixel commented on #15929
@mikedn see Steno project, I don't know. MS research, if you know:

![image](https://user-images.githubusercontent.com/11201122/31430236-fb7086de-ae78-11e7-8be2-dd23d880ba14.png)

[2017-10-11 08:44] mikedn commented on #15929
The question was not about the effect of the optimization. I don't think anybody questions the fact that LINQ is not exactly efficient and that replacing the zillion of calls and allocations it generates would speed things up.

The question it about the various optimization approaches. Roslyn rewriter. IL rewriter. And, why not, even "JIT rewriter".

[2017-10-11 08:53] Pzixel commented on #15929
@mikedn

- IL rewriter - _**very**_ complicated, and provide almost same possibilities as Roslyn.
- Roslyn - guarantee to generate valid IL, much more user-frienly, always has an Analyzer API and going to provide r[eplace/original API](https://github.com/dotnet/csharplang/issues/107) which is ideal for this purpose.
- JIT doesn't perform much simpler optimizations so I don't expect its developers

[2017-10-11 11:11] mikedn commented on #15929
So I understand correctly you prefer the Roslyn approach. Not because you actually need such optimizations to be implemented this way but because the other approaches seem more complicated.

Makes sense but at the same time it means that this implementation is tied to Roslyn and thus available to C# and VB only. Other languages will have to do their own thing.

[2017-10-11 11:38] benaadams commented on #15929
The way I see it is
* JIT - Can optimize beyond what is expressible in IL; however is more focused on per function optimizations (always applied)
* Roslyn - converts C# and VB to verifiable IL; some optimization in release (always applied)
* AoT IL rewriter - opt-in configuration; whole program optimizations; linking/tree-shaking; transforms than may produce unverifiable il; function splitting (in

[2017-10-11 11:55] marek-safar commented on #22485
@jaredpar @gafter do you have updated verification spec for this behavior we could use to implement it in our verifier ?

[2017-10-11 12:05] b0urb4k1 commented on #22190
Is there any way how i can circumvent this problem in the meanwhile?

[2017-10-11 12:43] gafter commented on #22485
@marek-safar I believe we have not provided a new verifier spec. Please open a new issue for that.

[2017-10-11 12:55] marek-safar commented on #22485
@gafter here or do you have a different repo for that?

[2017-10-11 14:08] sharwell opened #22659 "Reduce allocation requirements in WriteObjectWorker"
The dictionaries used by `WriteObjectWorker` can become large, and occasionally fail when the IDE is under memory pressure. We should identify sets of objects which cannot be multiply-referenced within the object getting serialized, and avoid adding these objects to the map.

https://github.com/dotnet/roslyn/blob/878ffad23b8b06cb229c9ab31eada7634a473508/src/Compilers/Core/Portable/Serialization/Ob

[2017-10-11 14:45] gafter commented on #22485
@marek-safar Here to start, since the question is about what safety rules Roslyn generates code for.

[2017-10-11 15:21] svick opened #22660 "Confusing error message for wildcard in [AssemblyVersion] on .Net Core"
**Version Used**: .Net Core 2.0.0

**Steps to Reproduce**:

1. Create the following .Net Core 2.0 application:

   csproj:

[code]

   Program.cs:

[code]
2. `dotnet build`

**Actual Behavior**: `dotnet build` produces a confusing error message:

**Expected Behavior**: The error clearly explains that the actual problem is that [wildcard assembly versions are not allowed for deterministic builds](h

[2017-10-11 15:26] daveaglick commented on #20873
I just hit this. I see a fix was included in the tooling for 15.4, but will a new set of packages also go out to NuGet soon? I'm consuming Razor and Roslyn as libraries.

[2017-10-11 17:07] JosephTremoulet commented on #15929
Yes, exactly.  My team is looking at expanding the rewrites available in .NET IL Linker.  I'm currently trying to assess what rewrites people are interested in having made available, for planning/prioritization purposes, which naturally brought me to this issue where there's been much discussion of that.  LINQ rewriting seems to generate a lot of interest, and for the various reasons already menti

[2017-10-11 17:19] jkotas commented on #15929
The difference is credibility. roslyn-linq-rewrite is one-man project, last updated one year ago. It is a custom build of Roslyn compiler. It is hard to use for any serious project in the current form.

[2017-10-11 17:20] #22634 closed

[2017-10-11 17:25] jasonmalinowski commented on #12202
Pulling this back into 15.7 as we've had several more feedback related to this in the last few days.

[2017-10-11 18:12] mikedn commented on #15929
Come to think of it, the real reason such optimizations may not belong in the JIT hasn't been mentioned. These LINQ "optimizations" aren't optimizations in the true sense, those rewriters don't understand the System.Linq code and optimize it, they assume that LINQ's methods do certain things and generate code that supposedly behaves identical. That is, they treat those methods as intrinsics.

That

[2017-10-11 18:54] SergeyTeplyakov commented on #22654
In this case, if there is more than one type pattern with the same type the generated code will unbox the value more than once.

[2017-10-11 18:56] jasonmalinowski commented on #21587
We're going to be taking a different direction here so this doesn't matter now.

[2017-10-11 18:56] #21587 closed

[2017-10-11 19:00] CyrusNajmabadi commented on #21587
What's the different direction? :)

[2017-10-11 19:12] #20103 closed

[2017-10-11 19:14] gafter commented on #20103
This is now fixed in master. The warning now appears with or without the identifier after the type.

[2017-10-11 19:38] onovotny commented on #7053
Is there anything that can be done to get this pulled into 15.5 or another 15.x release? This is the last major thing I use ReSharper for...

[2017-10-11 20:05] #22450 closed

[2017-10-11 20:08] onovotny commented on #7066
Is this done? If I to `ctrl + .` from a ctor to add a new field, it creates it as `private .... `. I want a rule that doesn't emit the default accessibility modifiers.

[2017-10-11 20:28] CyrusNajmabadi commented on #7066
I believe the work was done to allow enforcement of a specific order for modifiers.  I don't think we have anything around default accessibility.

[2017-10-11 20:28] CyrusNajmabadi commented on #7066
Feel free to contribute such a thing though if you think it would be valuable :)

[2017-10-11 20:31] onovotny commented on #7066
I'm not even sure where to begin with such a thing. It shouldn't be an analyzer, it should be an editorconfig setting for .NET.

FWIW, it falls into the category of R# compete.

[2017-10-11 20:49] jkotas commented on #15929
I believe that it is hard for the more interesting Linq optimizations to preserve all side-effects. It should not matter for well-written Linq queries, but it is a problem for poorly written Linq queries.

It is ok for a opt-in built-time tool to change behavior of poorly written Linq queries. It is not ok for JIT to do it at runtime.

[2017-10-11 21:04] JosephTremoulet commented on #15929
https://github.com/mono/linker

Yes, I completely agree it will be more productive to discuss potential new rewrites over there, with separate issues for each.  I wasn't trying to extend general discussion on this thread, just ask a clarifying question about a few specific comments on it (to which I now have the answer, thanks @jkotas).

[2017-10-11 21:05] OmarTawfik commented on #22283
Overriding/Hiding parent members tested in `Microsoft.CodeAnalysis.CSharp.UnitTests.Symbols.OverriddenOrHiddenMembersTests`

[2017-10-11 21:07] jasonmalinowski commented on #22453
Also adding @jinujoseph for IDE statements of how important this is. This is a pretty common feature...I'd be surprised if we didn't fix this up as we went along.

[2017-10-11 21:10] jcouv opened #22662 "Diagnostic when error in nested lambda is annoyingly large"
In the code sample below, two errors are produced:
[code]

Notice that the second error is (1) cascading from the first, and (2) covering a very large span of source (multiple lines). This results in a large area of red squiggles, which is annoying and hides the root cause of the problem (red squiggles on `error()` are drowned out).

Fixing either of these issues (avoid cascade or narrow area) wou

[2017-10-11 21:13] #22283 closed

[2017-10-11 21:21] CyrusNajmabadi commented on #7066
@onovotny You can look at my PR here https://github.com/dotnet/roslyn/pull/20517 which added support for enforcing modifier order.

It's not that difficult to do.

analzyers are how we enforce editor config settings.

--

Note: i already did the work here https://github.com/dotnet/roslyn/pull/20911 to add the option to make accessibility modifiers required, and to have the analyzers+fixer which ad

[2017-10-11 21:24] CyrusNajmabadi commented on #7066
So, to sum up, we currently have:

1. A code-style+analyzer+fixer that allows users to specify modifier order, and to enforce and fixup nonconformant code..
2. A code-style+analyzer+fixer that allows users to specify that accessibility modifiers are required, and to enforce and fixup nonconformant code.

What we are missing is a code-style that allows users to specify that accessibility modifiers

[2017-10-11 21:25] onovotny commented on #7066
Looking at the code here:
https://github.com/dotnet/roslyn/pull/20911/files#diff-379e50afd4d83d3c52706cceaeff98d1R162

Should the value of `never` be equal to `disallowed` or is that semantically different?

[2017-10-11 21:33] CyrusNajmabadi commented on #7066
It's semantically different.  the 'never' (i.e. the default value) means that the user does *not* require accessibility modifiers (i.e. the way we've shipped since forever).  That's a distinctly different value than "redundant modifiers are disallowed".  We'd need a new value to represent that.

Note: this should likely go in a different enum.  The current enum describes when modifiers are require

[2017-10-11 21:37] CyrusNajmabadi commented on #7066
So we currently have "dotnet_style_require_accessibility_modifiers".  We probably need "dotnet_style_require_disallow_modifiers={never,when_unnecessary}"

[2017-10-11 21:38] CyrusNajmabadi commented on #7066
The downside of this approach is that it essentially means that we have two opposing options, one which supercedes the other.

Alternatively, we could have one option, but it would like read very strangely.  i.e. if you had:

dotnet_style_require_accessibility_modifiers=...

What would you put on the right to indicate the idea that you are in fact *not* requiring and *not* allowing accessibility m

[2017-10-11 21:38] onovotny commented on #7066
Still not entirely sold on the fact it's a "disallow." Maybe just a different required style value that says `when_not_default`?

[2017-10-11 21:39] CyrusNajmabadi commented on #7066
Er... what does that mean ?    if it's not the default... then you must have had the modifiers there.

[2017-10-11 21:40] CyrusNajmabadi commented on #7066
The only thing this stuff controls is what happens when the modifier you have is the same that hte language would have picked.

[2017-10-11 21:40] onovotny commented on #7066
That's why I interpreted the `required=never` option as redundant shouldn't be there and `always` is essentially the current behavior

[2017-10-11 21:41] CyrusNajmabadi commented on #7066
but it isn't.  we don't go in and squiggle your code, telling you there's a problem, when you say something like "int field;"  if 'always' is the default, then that code has a problem.

[2017-10-11 21:42] onovotny commented on #7066
That's correct...it should be a problem if `always` is the default. It seems like the issue is that the current default behavior allows/doesn't squiggle for inconsistent style, and I think that's wrong.

[2017-10-11 21:43] CyrusNajmabadi commented on #7066
the option is called "require_accessibility_modifiers" intentionally.  it specifies when an accessibility modifier should be required, and when the system should notify you and let you know when your code is noncofrming.

"never" means "modifiers are *never* required.  i can have them, or not have them, and that's fine".  This has been the default behavior of the IDE for years.  We can't change it

[2017-10-11 21:44] onovotny commented on #7066
So to be consistent with the existing behavior, how about "require_accessibility_modifiers` = `not_redudant`

[2017-10-11 21:45] CyrusNajmabadi commented on #7066
That is very right.  :)   We can't suddenly decide that all the code out there is "inconsistent" and needs squiggling.  Only users can decide that for their own projects.  For example, i would be upset if i downloaded a new version of VS and it decided to start telling me my accessibility modifiers were a problem :)

[2017-10-11 21:46] onovotny commented on #7066
or `require_accessibility_modifiers` = `disallow_redudant `

[2017-10-11 21:46] CyrusNajmabadi commented on #7066
We could have that.  Though it doesn't really read properly.  nothing about htat indicates that "it's *wrong* to put 'private' on a field" for example.

Hence my thought that this shoudl be a different option.  Now the option clearly states that these are the cases wher emodifiers are *disallowed*, whereas the current option indicates these are the cases where modifiers are *required*.

[2017-10-11 21:49] r-ramesh commented on #22617
On further investigation, this is not correct. As of today, the dispatcher takes a lock regardless of if the OnClose method is explicitly overridden, so this fix will not address the problem. This issue can be closed now (I will take back the VSO bug), and I will continue to investigate.

[2017-10-11 21:49] #22617 closed

[2017-10-11 21:49] CyrusNajmabadi commented on #7066
basically: we can definitely just add another option to "require_accessibility_modifiers"  and we can explain what it means.  It's just going to read oddly.  "here is the option that specifies when modifiers are required.  except if you give this one value, and then it specifies when modifiers are actually disallowed".  It's totally doable, and likely the easier to implement (as you won't have to

[2017-10-11 21:49] CyrusNajmabadi commented on #7066
I'm ok with either approach :)

[2017-10-11 21:52] onovotny commented on #7066
yeah, either way is fine with me. challenge is that it's likely an easy update for someone who knows analyzers and less-so for someone who doesn't :)

[2017-10-11 21:54] CyrusNajmabadi commented on #7066
Since our options are effectively a public API, i would prefer we do things the 'right way' and have options that cleanly specify their purpose (i.e. having two options here).

This would be a great way to learn analyzers.   As mentioned, you can already just look at the existing code and augment it for this.  The new option would just slot in next to the current option, and you'd just need to upd

[2017-10-11 21:57] onovotny commented on #7066
Maybe I can nerd-snipe @bradwilson in to this one ;)

[2017-10-11 21:59] CyrusNajmabadi commented on #22453
IMO, this is certainly something that should be fixed.  But it's also not super critical.  i.e. metadata-as-source is certainly not lying to you.  It's showing you the metadata accurately.  Of course, having it closer to the C# representation is def desirable, but that could come later (or be given up-for-grabs) for someone to take.

[2017-10-11 22:06] CyrusNajmabadi commented on #7053
@rchande

I don't think such a table would be necessary.  We could certainly just populate the list with the known typenames that the AssemblySymbol already exposes.  Then, we could lazily find that type for the description when it is shown.

Now, if we want to also show the import that will be added, we would need to know the containing namespace for the type.

This is not currently easily expose

[2017-10-11 22:08] CyrusNajmabadi commented on #7053
That.  Or there could be a new chord that creates this sort of list.  i.e. instead of ctrl-space, ctrl-shift-space.

Also, i'm skeptical that "a massive and cluttered list" is actually a problem.  Today, it's easy to get into a situation where you have a dozen or so imports, and the list already contains 10k+ entries.  At this point the list is already massive and cluttered.  So having more entrie

[2017-10-11 22:18] Saibamen opened #22663 "error MSB6006: "csc.exe" exited with code 8"
**Version Used**: .NET Command Line Tools (2.0.2)

I can't build my project in Linux.
Build log: https://circleci.com/gh/Saibamen/BriskChat/66
Project: https://github.com/Saibamen/BriskChat

[2017-10-11 22:30] onovotny commented on #7053
I would not want an extra chord. I like the way R# presents the types that need an import -- the types are there:

`FrobModel (MyProduct.Models)`. The parentheses only exists for types that are not in scope, so it's obvious. The namespace is not used in camelCase/PascalCase filtering, it's just for display.

I don't think type pollution would be a problem.

Limiting to only being after the filter

[2017-10-11 22:55] CyrusNajmabadi commented on #7053
Discovery seems hard no matter what.  Your list will have 100s of thousands of items in it.  How do you discover anything of value in that, unless you are filtering down to things you think are are relevant?

[2017-10-11 22:55] CyrusNajmabadi commented on #7053
That is the feature :)

[2017-10-11 22:57] CyrusNajmabadi commented on #7053
I'm a bit confused.  Resharper does this through chording.  They have "basic completion": https://www.jetbrains.com/help/resharper/Coding_Assistance__Code_Completion__Symbol.html and "import symbol completion" https://www.jetbrains.com/help/resharper/Coding_Assistance__Code_Completion__Type_Name.html

You can configure if import_symbol_completion is included in basic_completion or not.

This provi

[2017-10-11 23:14] olegtk commented on #7053
Would the list also include all types in NuGet packages (you already collect them for the LightBulb anyway)?

[2017-10-11 23:19] jcouv commented on #18071
A doc issue has been opened to track this: https://github.com/dotnet/docs/issues/1800
@gafter, ok to close OP issue?

[2017-10-11 23:25] onovotny commented on #7053
Here's what I have:

![image](https://user-images.githubusercontent.com/1427284/31471585-7b49caee-aeb7-11e7-9a43-b4e16caaa3b5.png)

The completion behavior is around getting an exact match or not.
It shows imported types first:
![image](https://user-images.githubusercontent.com/1427284/31471976-dca6c970-aeb9-11e7-91ac-ce849626f8dc.png)

Then ones it can see in the transitive closure of packages/pr

[2017-10-12 00:02] jcouv commented on #20873
I expect the packages for 15.4 RTM to be published on nuget this week.

[2017-10-12 00:31] #18071 closed

[2017-10-12 00:40] terrajobst commented on #22421
Hey @TruePluto

Yes, that's expected behavior for any NuGet package that targets .NET Standard 1.x, in this case 1.3. We understand that it looks super busy which is why won't see that many packages with .NET Standard 2.0 anymore.

[2017-10-12 00:40] #22421 closed

[2017-10-12 01:28] jcouv commented on #13435
Queued a PR with a fix (https://github.com/dotnet/roslyn/pull/22666).

[2017-10-12 01:35] pzahra commented on #22294
Honestly, this seems to me like the kind of feature someone just decided to put in because it sounded cool without considering whether it was actually useful or what the consequences would be. Naming a property its own type is a rare occurrence, prefixing Get to it makes no sense, and you'd be hard pressed to figure out from the context of code that hasn't been written yet what the variable is goi

[2017-10-12 01:53] sharwell commented on #22294
@pzahra It seems to vary by the kind of application. In some code bases the current prediction algorithm is almost always correct. Naturally the goal with the feature is expanding the number of projects which fall into the latter set. :smile:

[2017-10-12 06:31] rossdempster opened #22668 "C# Elvis Operator compiler bug: cannot chain from Nullable(Of T)."
**Version Used**:
Visual Studio 15.3.4

**Steps to Reproduce**:
Make a struct as follows:
[code]

With the _nullable_ struct, try to use elvis as follows:
[code]

**Expected Behavior**:
It should compile.

**Actual Behavior**:
It doesn't compile.

A compiler error occurs at the second elvis:
`error CS0023: Operator '?' cannot be applied to operand of type 'long'`

The compiler misidentifies the `?

[2017-10-12 06:35] rossdempster commented on #22668
Could this be a precedence issue?

The following variant will compile:
[code]

[2017-10-12 08:00] Tragetaschen opened #22670 "Extract Method including local function creates a static instead of instance method"
**Version Used**: VisualStudio 15.4.0

**Steps to Reproduce**:

[code]
Run "Extract Method" on both lines in `test`

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

`NewMethod` is marked as `static` so accessing the instance member `bar` becomes a compilation error

[2017-10-12 09:55] marek-safar opened #22671 "No verifier spec is available for new codegen used for non-mutating structs"
**Version Used**: 2.6.0.62126 (1758d50)

To support the new Roslyn behaviour updated verifier spec should be available also for readonly struct codegen (the similar case was by-ref returns). With that, we could update Mono verifier implementation not to reject newly generated code.

The request is extracted from https://github.com/dotnet/roslyn/issues/22485

[2017-10-12 11:18] svick commented on #22668
This is the expected behavior and it's due to the short-circuiting nature of the null conditional operator. If want to learn more about this, have a look at [the C# Language Design Meeting notes where this was decided](https://github.com/dotnet/csharplang/blob/master/meetings/2014/LDM-2014-04-21.md#null-propagating-operator-associativity), or possibly [this Stack Overflow answer by me](https://sta

[2017-10-12 11:23] shaggygi commented on #21604
I tried this with VS 15.4 RTM and appears to now work in C# Interactive.  I can close out unless there is something else being investigated here.

[2017-10-12 11:47] TessenR opened #22672 "IDE0039 'Use local function' breaks code"
**Version Used**:
[code]

**Steps to Reproduce**:

1. Paste the following code into VS.
[code]
2. Convert `MyDelegate local = x => x;` to local function as suggested by IDE0039

**Expected Behavior**:
Either IDE0039 not suggested or code is compilable after such change or conflicts are shown.

**Actual Behavior**:
1. No conflicts:
![image](https://user-images.githubusercontent.com/5566206/31494299

[2017-10-12 13:24] rossdempster commented on #22668
Hi svick.

Thanks for the info. I've had a read through the two links you provided and the explanation makes sense.

I don't think I'll be the last person to be confused by this. The first of your links talks about how the two leading interpretations are equally intuitive, but I feel one of the sides may be slightly overplaying their hand on that front! Mind you I probably would feel that, being c

[2017-10-12 13:24] #22668 closed

[2017-10-12 14:32] BillWagner commented on #18515
You could also link to the version we publish on docs.microsoft.com: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/  It's directly imported from https://github.com/dotnet/csharplang/blob/master/spec/README.md and child documents. We are currently publishing the master branch.