[2020-09-30 11:31] Youssef1313 opened #48193 "IsImplicitlyDeclared for top-level statements"
When the feature was implemented initially, IsImplicitlyDeclared was set to be "true". Later on, it was changed in #44716 to return "false" to workaround IDE issues.

`IsImplicitlyDeclared` is a public API. Based on its documentation, consumers will expect `true` for `<Main>$` and `<Program>$`.

I think it should be back to `true` again, and find another way to fix the IDE issues.

If an IDE featu

[2020-09-30 14:31] Evangelink commented on #43742
@jmarolf By "luck" I now have a reproducer for this issue: https://github.com/dotnet/roslyn-analyzers/pull/4247#discussion_r497532471

[2020-09-30 15:23] AlexNek opened #48196 "VisualStudioWorkspace - too many WorkspaceChanged by solution opening"
**Version Used**:
Microsoft Visual Studio Community 2019 Preview
Version 16.8.0 Preview 3.2

**Steps to Reproduce**:

1. Create VS Package over Wizard
2. Add a command
3. Add a log code
[code]

**Expected Behavior**:
I must receive only one "SolutionAdded" event with correct "WorkspaceVersion".

**Actual Behavior**:
[code]

**Note**
I create the VS Package and have a lot of problems.
One of it - I

[2020-09-30 16:08] AlekseyTs commented on #48193
Saying that a compilation unit with top level statements explicitly declares containers sound s reasonable to me.

[2020-09-30 16:17] Youssef1313 commented on #48193
@AlekseyTs The concern here is the current behavior doesnt match the documentation.

[2020-09-30 16:23] AlekseyTs commented on #48193
I would be fine with updating documentation, if you think that would help. The current documentation is written sufficiently vaguely, it doesn't define what exactly constitutes an explicit declaration. Obviously, years ago we couldn't predict all the new features that we would add to the language. And that definition simply evolves as the language does.

[2020-09-30 16:31] sharwell opened #48197 "AccessViolationException in SyntaxBinderTests.TestOperatorOverloadResolution"
[code]

[2020-09-30 16:45] gundermanc commented on #44409
Perhaps @crmann1 or @olegtk know of a way.

[2020-09-30 17:04] AlekseyTs commented on #45758
After some additional investigation, I am thinking that metadata generation layer shouldn't be using Object.Equals method on instances of Cci interfaces provided by compilers. Whether it does that explicitly or implicitly by using collections , etc. Often we are simply passing symbols as is, but equality of symbols (whatever TypeCompareKind is used by default) isn't really suitable for metadata ge

[2020-09-30 17:07] #44656 closed

[2020-09-30 17:08] huoyaoyuan commented on #47972
This is an interesting mixture of two facts.

First, unconstrained generic type supports `is null` from C# 8, but the analyzer isn't updated for that.
Then, the base class constraint is mis-recognized as no reference type constraint.

[2020-09-30 17:46] #48177 closed

[2020-09-30 17:49] CyrusNajmabadi commented on #48196
But instead it I received the some sequence from DocumentChanged, ProjectChanged, SolutionChanged events with increased WorkspaceVersion.

Yes.  this is by design.  First we add the solution, then we add all the projects/documents to it, causing 'changing' notifications to be emitted.

[2020-09-30 17:49] #48196 closed

[2020-09-30 17:49] mario-rosales commented on #41693
What ended up being the solution for this?

[2020-09-30 17:56] jmarolf commented on #43742
@Evangelink can you paste the SHA to the repo here? Thanks!

[2020-09-30 18:05] GitHubUser30 commented on #41693
Issue have been fixed in Visual Studio 16.6.

[2020-09-30 18:09] Youssef1313 commented on #43742
@jmarolf It should be this commit https://github.com/dotnet/roslyn-analyzers/commit/a7211d0a3f3770d3b0aa860b38b4f4c662bb5ebf

[2020-09-30 18:12] TessenR opened #48200 "Unrecoverable VS error from invalid local function in top level statements"
**Version Used**:
[code]

**Steps to Reproduce**:

Paste the following code in VS. Note that this is the whole file i.e. there's no containing type or method
[code]

**Expected Behavior**:
Error for not resolved `IEnumerable<T>`

**Actual Behavior**:
![image](https://user-images.githubusercontent.com/5566206/94722964-b6969e00-0360-11eb-912e-4ab30541da09.png)

![image](https://user-images.githubuse

[2020-09-30 19:24] Evangelink commented on #43742
Copy-pasting the comments from @CyrusNajmabadi:

[2020-09-30 19:25] TessenR opened #48203 "Roslyn ignores [DisallowNull] attribute for uninitialized non-nullable members"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile and run the following code
[code]

**Expected Behavior**:
Warning for not initialized property with `[DisallowNull]` annotation

**Actual Behavior**:
No warnings. The program crashes at runtime with a `NullReferenceException`

**Notes**
Roslyn uses `[AllowNull]` annotation to suppress not initialized non-nullable fields warnings but doesn'

[2020-09-30 19:31] jmarolf commented on #43742
the fact that it's hard to solve doesn't make it not a bug :)

[2020-09-30 19:49] TessenR commented on #48203
Actually it's the same with `[MaybeNull]` / `[NotNull]` Roslyn respects the former and ignores the latter

[2020-09-30 19:58] Evangelink commented on #43742
Commenting lines 37 to 62 doesn't trigger the issue. Playing around with commenting portions of the code I can say that the issue is being triggered when I comment the `catchClause.SemanticModel.AnalyzeXXX` part. To be even more precise accessing `catchClause.SemanticModel` is ok (i.e. issue is raised) but as soon as I access `AnalyzeDataFlow` then the issue disappear.

[2020-09-30 20:31] jagbarcelo commented on #41693
We are running Microsoft Visual Studio Community 2019 v.16.7.4 and the issue is still there. We still have this issue from time to time. Yesterday once, without going much further back. I'm sorry to say it is not fixed at all.

[2020-09-30 20:46] spadapet commented on #41693
@jagbarcelo If this is the same problem as before where devenv.exe is locking your DLL, can you run the Assembly Load Debugger tool again (see the link in an earlier comment). Last time that gave us a callstack that loaded your DLL into devenv.exe and that one should've been fixed. Maybe there is another way your DLL gets loaded. Let's see if Assembly Load Debugger gives any info.
Thanks!

[2020-09-30 20:47] CyrusNajmabadi commented on #43742
It's not that it's hard to solve.  It's that, as per language rules, teh compiler does consider the namespace used.

That you can remove the namespace and get the same IL is where the confusion comes from.  Is a namespace used if it doesn't impact IL?  Note that a using may be necessary, even if no types/namespaces are actually used from it.  i.e. if you remove it, even though none of its types/na

[2020-09-30 20:48] sharwell commented on #48174
@jaredpar see: https://github.com/pranavkm/repro/blob/0970c67b7b166488145402f833f63ac27e452629/Class1.cs

[2020-09-30 20:49] CyrusNajmabadi commented on #43742
We have 3 choices:

1. IDE computes this.  It doesn't replicate all the compiler rules truly.  We remove usings in some cases where they're needed.  This is bad esp as it can change code meaning.  i.e. the 'using' is needed (even if no types/namespaces are consumed from it) to get teh current IL emitted.
2. Compiler computes this.  It replicates all the rules truly.  But it may consider a using 's

[2020-09-30 21:10] olegtk commented on #44409
That's a common editor extensibility issue in Nexus, similar to https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1120900. We use the presence of the provider as an indication that a feature is supported, which is poor assumption in Nexus. @davidsh is working on designing a better way.

[2020-09-30 21:53] sharwell commented on #48163
This is in reference to the following method:

https://github.com/Youssef1313/roslyn/blob/7d5f6f4f745c2e525e558f896eb2d8803a31da25/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs#L1287-L1329

[2020-09-30 22:13] stephentoub opened #48206 "IDE0051 should factor in new dependency attributes in .NET 5"
**Version Used**:
3.9.0-1.20480.1+b3c3f4875957e51526000898673291d11708d35b

**Steps to Reproduce**:
[code]

**Expected Behavior**:
.NET 5 adds new attributes that enable dependencies not obvious in the code, e.g. those via reflection, to be used for dead code elimination tools like https://github.com/mono/linker to better understand such dependencies.  IDE0051 is such a tool and should ideally res

[2020-09-30 22:21] DmytryEmery commented on #47304
I was also experienced this exact error.

It started with ~5.0 preview 8
and I just tried, and it's still an issue with 5.0 RC1

Downgrading to 3.1 resolves the issue for me.

[2020-09-30 22:22] Youssef1313 commented on #48206
@stephentoub Couple of questions to better understand this:

- Can the attribute reference a field/method outside of the current class?
- If there are method overloads, what's the correct way to use the attribute to specify a specific overload?
- For Visual Basic, which is case insensitive, should the attribute be case insensitive too?

[2020-09-30 22:29] DmytryEmery commented on #47304
After looking around a bit more, it appears RC2 will potentially have the fix:
https://github.com/dotnet/efcore/pull/22449

[2020-09-30 22:32] CyrusNajmabadi opened #48209 "Remove RazorLanguageClient and ClientName from Roslyn LSP model"
This type existed so we could compute push diagnostics and get them sent across for C# or C#-razor.  Now that we've switched to pull diags, this type (and all the logic related to it) can likely go away.

THis will require a change on Razor first (to no longer use this client-name), and then removal on our side of this server and the client name.

[2020-09-30 22:39] jmarolf commented on #43742
@CyrusNajmabadi I agree that the compiler team should investigate first and decide if everything is working as expected. For 2. I do not yet understand why the compiler can't implement a refinement that if a using is used only for overload resolution but not selected that it is not marked as "seen." still I will defer to the compiler team here.

[2020-09-30 22:54] CyrusNajmabadi commented on #43742
Because removal *might* change the meaning, and the compiler doesn't really have any mechanism to determine that cheaply.  It's complex to tell, but imagine the following:

[code]

Here, nothing from namespace `Y` is actually used.  i.e. the call to Goo in `Bar(x => x.Goo(), null);` is a call to X.A.Goo.  *However* if you remove the `using Y;` then this code changes meaning and the second 'Bar' is

[2020-09-30 23:05] jinujoseph commented on #48189
pending insertion

[2020-09-30 23:37] #43051 closed

[2020-09-30 23:39] mavasani commented on #43051
**Update**

- In VS2019 16.8, you should be able to workaround this issue by using global analyzer configs as per https://github.com/dotnet/roslyn/issues/43051#issuecomment-692837489.
- In VS2019 16.9 and later, the original reported issue should be resolved and you can use editorconfig file itself and /warnaserror will escalate diagnostics configured as warnings in editorconfig to be errors.

[2020-09-30 23:41] Corey-M commented on #41883
@YairHalberstadt For nullable value types specifically target typing is *a* solution, but it is unnecessary for this issue. A simple addition to the type determination rules for ternary operators handles this case and any other where a value type and an untyped null are used as the potential results. And it doesn't help in the case of `var x = true ? 1 : 0;` or similar since there *is* no target t

[2020-10-01 02:02] stephentoub commented on #48206
Yes.  Even outside of the current assembly.  So, there are certainly places where there's no way IDE0051 could appropriately respect the attribute, and potentially even times when it could theoretically but doing so could be prohibitively expensive.  It'd be good, though, if the appropriate thought could be put into if/where/when/how it would make sense, so as to have a complete rather than disjoi

[2020-10-01 02:37] BrianFreemanAtlanta commented on #45711
I will take a look at this and see what I can come up with.

[2020-10-01 02:59] huoyaoyuan commented on #48203
The behavior should be expected. Specifically, `[NotNull][DisallowNull] ` behaves very close to `= null! `.

[2020-10-01 03:33] #48193 closed

[2020-10-01 03:40] YairHalberstadt commented on #41883
@Corey-M

I understand your opinion, but this isn't the right forum for them - CSharplang is where language design discussion goes.

It is often the case that the language design team makes decisions that other people don't like. It happens to me all the time. In fact it often happens to members of the team, since they of course often disagree with each other. In such cases it's sometimes possible

[2020-10-01 06:12] Youssef1313 commented on #48206
Probably the IDE team will want to take this to design meeting to decide what are the essential situations to handle and what are the situations that doesn't need to be handled.

[2020-10-01 06:14] Vake93 opened #48214 "Using CodeDom in Source Generators"
I'm not sure if this is the correct place to create issues with regards to C# source generators.

**I'm using dotnet version: 3.1.402**

I'm trying out source generators and if I reference System.CodeDom and use it in the code generator it fails.
Normally I can attach a debugger to the code generator by Debugger.Launch(), but if I'm using System.CodeDom the Debugger.Launch() wont be execute either

[2020-10-01 07:44] MartynJones87 commented on #48070
I'd like to take a stab at fixing this issue please @CyrusNajmabadi

[2020-10-01 07:52] alrz commented on #24224
@CyrusNajmabadi Do we have the infrastructure required for this? I think we need something like CompletionProvider but with the ability to change the whole Document

[2020-10-01 08:07] DavidKarlas opened #48216 "Diagnostic Analyzers are not updated on Solution.WithAnalyzerReferences()"
**Version Used**:
All, but I tested with 3.8.0-4.20464.1

**Steps to Reproduce**:

1. Load whole infrastructure for EngineV2.DiagnosticIncrementalAnalyzer to run
2. Make sure some document is opened and diagnostics is performed to ensure `Microsoft.CodeAnalysis.Diagnostics.EngineV2.DiagnosticIncrementalAnalyzer.StateManager._hostAnalyzerStateMap` cache is filled
3. Call `workspace.SetCurrentSoluti

[2020-10-01 08:48] jagbarcelo commented on #41693
First of all, @spadapet, thanks for your interest.

We've just done the following:

1. Opened VS without code.
2. Enabled **Assembly Load Debugger** and starting a capture with it.
3. Load our solution and open some of the .XAML files so that they are rendered in screen.
4. Compile the solution in Debug mode and run it.
5. Had the application running for a while, checking some of the things it doe

[2020-10-01 09:10] marek-safar commented on #48206
ILLinker uses the same syntax as Roslyn for documentation so it's documented at https://github.com/dotnet/csharplang/blob/master/spec/documentation-comments.md#processing-the-documentation-file

Not sure why it should be. ILLinker is IL-based tool and the attribute specifies metadata value.

[2020-10-01 11:57] TessenR commented on #48203
Could you please elaborate on why it should be expected?

I understand that it currently behaves close to `= null!` because Roslyn ignores the initialization rules for such members but I think this is a bug because the semantics should be very different.

`= null!` uses the suppression operator to ignore all compiler safety rules and assign an invalid value to a member while attributes are designe

[2020-10-01 15:27] CyrusNajmabadi commented on #39689
@genlu ptal.

[2020-10-01 16:25] sharwell commented on #47173
@AlekseyTs I don't have additional context for this. I saw the exception in a crash log so I created the issue.

[2020-10-01 16:30] #47755 closed

[2020-10-01 16:31] AlekseyTs commented on #47173
This doesn't look actionable.

[2020-10-01 16:31] #47173 closed

[2020-10-01 17:07] #47743 closed

[2020-10-01 18:47] cston commented on #41368
@jcouv, does that cycle still occur now that https://github.com/dotnet/roslyn/pull/47968 has been merged?

[2020-10-01 19:01] Youssef1313 opened #48219 "Feature request: Convert to interpolated string code refactoring"
Currently, there is a code refactoring to convert to verbatim string.

![image](https://user-images.githubusercontent.com/31348972/94851030-1e63ec00-0428-11eb-8340-579c73c98ea9.png)

Another possible code refactoring (should only be offered when the string contains `{` and `}` is to convert to interpolated string.

## Example

I wanted something like this while working with unit tests in roslyn an

[2020-10-01 19:36] jcouv commented on #41368
That cycle would occur if we applied the desired fix (see above diff) using the above test.
I didn't make the change described in the diff because I didn't have solution for cycle (would require separating figuring out if reference type without doing full binding).

[2020-10-01 19:40] CyrusNajmabadi commented on #47987
@alrz can you ping me when you have a chance through gitter/discord/etc?  thanks!

[2020-10-01 20:34] Evangelink opened #48222 "New analyzer: Do not mark ref/out parameter with OptionalAttribute"
Marking a `ref` or `out` parameter with `OptionalAttribute` is confusing and will lead to compilation failure if called without the argument.

This analyzer is pretty unlikely to catch issues as `OptionalAttribute` seems to be mainly used on vbnet.

[code]

[2020-10-01 20:35] jmarolf commented on #48222
@333fred would you be OK asking the LDM if this is something that they would accept as part of a new warning wave?

[2020-10-01 20:47] 333fred commented on #48222
Sure, I'll send an email.

[2020-10-01 20:56] allisonchou commented on #44862
According to @genlu, this is likely an Intellicode bug, so reassigning to their team.

[2020-10-01 21:03] #48171 closed

[2020-10-01 21:03] #48172 closed

[2020-10-01 21:25] Youssef1313 commented on #48129
@jinujoseph I believe the "In review" label isn't correct. The PR #48130 doesn't fix this.

[2020-10-01 21:53] genlu commented on #39689
This seems to be a compiler issue. [`ReduceExtensionMethod`](http://sourceroslyn.io/#Microsoft.CodeAnalysis.CSharp/Compilation/CSharpSemanticModel.cs,1666) is unable to filter out the the symbol that doesn't fulfill the constraint like this

[code]

FYI @dotnet/roslyn-compiler

[2020-10-01 22:01] Youssef1313 commented on #48129
The labeling is now correct with #48227 😄

[2020-10-01 22:33] spadapet commented on #41693
@jagbarcelo

When you do this, are any XAML files open in the XAML designer? Basically is step 3 in your repro steps necessary. I'm guessing you did open a XAML file, but just checking to be really sure.

There are some things you can do:

1. If the hang only happens when the XAML designer is loaded in VS, then use the "Send Feedback" button in VS's title bar so that someone on the XAML team can l

[2020-10-01 22:40] louis-z commented on #48133
I'd like to take a crack at it.

[2020-10-02 01:55] AlekseyTs commented on #39689
This is by design. We cannot check constraints that depend on type parameters that cannot be inferred from ```this``` argument.

[2020-10-02 02:21] Sunnie-Shine opened #48233 "Click methods with function pointer parameters on tooltip may make VS crash"
**Version Used**:
VS 16.7.5

**Steps to Reproduce**:

1. Type code
[code]

2. Cursor move to above the method call `M(&Call)`, we can see the tooltip.
3. Click `M` in `M(&Call)` on the tooltip.

**Expected Behavior**:
Jump to the implementation.

**Actual Behavior**:
VS crashes.

[2020-10-02 04:45] davkean opened #48236 "CSharpRemoveRedundantEqualityDiagnosticAnalyzer analyzer is failing with null-reference"
**Version Used**:
Version 16.9.0 Preview 1.0 [30601.208.main]

We're seeing 10s of these across multiple code bases after updating to a recent build.

**Steps to Reproduce**:

[code]

**Expected Behavior**:

**Actual Behavior**:

[2020-10-02 05:02] carlossanlop opened #48239 "Rule proposal: Simplify VisualBasic TryCast and DirectCast calls"
### Describe the problem you are trying to solve

It's very common in the dotnet/roslyn-analyzers repo to have language-specific code to handle Syntax nodes.

In C#, it's pretty easy to cast an object inside a condition:

[code]

But in VB, the casting is a bit more elaborated:

[code]

In the VB example, the left part of the definition of `myCastedInstance` does not need to have the data type of

[2020-10-02 07:24] weitzhandler opened #48238 "Generated string param check exception message doesn't terminate with a period"
**Version Used**:
C# 9, VS 16.7.5

**Steps to Reproduce**:

1. Create a function that takes a string parameter, e.g:
[code]
2. While cursor is on `arg`, hit <kbd>Ctrl</kbd>+<kbd>.</kbd> and select either *Add 'string.IsNullOrEmpty' check* or *Add 'string.IsNullOrWhiteSpace' check*.
3. The generated code will look like this:
[code]
Notice the absence of a period at the end of the exception message.

[2020-10-02 08:03] jagbarcelo commented on #41693
@spadapet

I have tested the same steps as yesterday but without having files of any kind opened in the solution when both compilations were made. The hang still occurs if you run a debug session between the Debug compilation and the final attempted Release compilation (which fails).

So, it seems the culprilt of this is not the XAML designer, which shouldn't have been triggered at all during thes

[2020-10-02 10:44] Youssef1313 commented on #48239
I can work on this if the team accepts the proposal.

[2020-10-02 10:50] Youssef1313 commented on #48236
@davkean Are all of these errors in the **same** analyzer or **different** analyzers that all use IOperation?

[2020-10-02 12:57] Fabi opened #48243 "Wrong behavior when using records with primary constructors and inheritance?"
In the latest .NET 5 preview I played around with records and noticed a for me unexpected behavior.

Given 2 records

[code]

This will result in
![image](https://user-images.githubusercontent.com/246718/94925108-fa071e80-04be-11eb-9a19-61d3957a15a1.png)
and
![image](https://user-images.githubusercontent.com/246718/94925131-02f7f000-04bf-11eb-804d-85c26e538850.png)

My expectation would have been

[2020-10-02 14:22] #48133 closed

[2020-10-02 15:17] #47972 closed

[2020-10-02 15:45] Youssef1313 commented on #48243
Related to (or duplicate of) #47816

[2020-10-02 15:52] tomrus88 commented on #48243
When you use `record R2() : R1(1)`, it will give you Error CS8850 A positional record must have a non-empty parameter list

[2020-10-02 15:52] Fabi commented on #48243
Yea thats what I ment with `Currently it seems that R2 that R1 got an empty constructor defined and R1 expects R2 to have an argument list that matches the given one.`

() would be old behavior too tho

[2020-10-02 15:55] Youssef1313 commented on #48243
Error CS8850 was removed from the compiler. I'm not sure of the exact version it was removed in.

[2020-10-02 15:57] tomrus88 commented on #48243
CS8850 is in latest VS Preview 16.8.0 Preview 3.2, so if it was removed, it happened very recently.

[2020-10-02 15:58] Fabi commented on #48243
Just tested it. works through .NET 5 RC2 command line building but not in Visual Studio Preview.

[2020-10-02 16:01] Youssef1313 commented on #48243
Yeah I just checked. It was just 2 weeks ago in #47805

But I still agree it should work without adding empty parentheses (or at least, a better error message that suggests adding the empty parentheses).

[2020-10-02 16:03] #42457 closed

[2020-10-02 16:34] huoyaoyuan commented on #46587
The behavior of `{ get; }` is the same with `readonly`. `{ get; init; }` is slightly more relaxed.

[2020-10-02 16:50] AArnott opened #48246 "Linq expressions do not produce expected nullable ref annotation warnings"
In the following code snippet, I expect a compiler warning in `Values` and `Values2` because in each case, a possibly (or definitely) null value is added to a sequence that becomes an `IEnumerable<object>` (note the lack of nullable annotation on `object`.

[code]

[Sharplab](https://sharplab.io/#v2:D4AQTAjAsAUCAMACEEAsBuWDkQHQBkBLAOwEdMZYBiYgVwBt6BDAI3oFNF3jWPYsAzMjCIAwrADesRDJwCAPAHsWAK3YBjAC4A+

[2020-10-02 17:06] MartynJones87 commented on #48070
Hello @CyrusNajmabadi Tackling this issue is so far proving to be a steep learning curve for me for my first time in the roslyn codebase!

I think I've narrowed down where the issue is happening to this local method: https://github.com/dotnet/roslyn/blob/0bd72a7c005b59ddb5aba1c11d34c2a9b9315e9c/src/Analyzers/Core/CodeFixes/RemoveUnusedParametersAndValues/AbstractRemoveUnusedValuesCodeFixProvider.c

[2020-10-02 17:10] CyrusNajmabadi commented on #48070
i'm traveling today so can't really help.  but you're on the right track.  i think the idea here is that you'll need to filter that set of GetLeadingTrivia to only include the trivia after any directives (if there are any).  :)

[2020-10-02 17:12] MartynJones87 commented on #48070
Magic! Thank you very much, I'll work on that. Safe travels! Thank you again @CyrusNajmabadi :-)

[2020-10-02 17:36] tmat opened #48247 "Assertion failure in RemoveUnusedMembers.AbstractRemoveUnusedMembersDiagnosticAnalyzer`2"
[code]

Dumps: `\\mlangfs1\public\tomat\Bugs\diagassert`

[2020-10-02 17:43] JordanGreissman opened #48248 "Nullability not being respected by implicit operator"
**Version Used**:
C#8, VS16.7.5

**Steps to Reproduce**:
[code]

**Expected Behavior**:
Code compiles without warning

**Actual Behavior**:
CS8600: Converting null literal or possible null value to non-nullable type

[2020-10-02 18:13] jcouv commented on #41368
@cston Yes, the cycle still occurs after #47968 was merged.

[2020-10-02 18:26] jcouv commented on #24713
Looking back at this issue, I don't really makes sense anymore. Even though we didn't necessarily always update AllInOneCSharpCode with new syntax, that didn't cause any particular problem.
I'll go ahead and close this.

[2020-10-02 18:26] #24713 closed

[2020-10-02 18:32] CyrusNajmabadi commented on #48070
Note: this is in code *shared* between C# and VB.  If you find yourself needing language-specific checks, the two most common ways to do it are:

1. use ISyntaxFactsService for asking *simple* syntactic questions that have clearly defined uniform meaning across both languages (i.e. "is this a single-line-comment?").  Do not put complex logic here.  i.e. this is not a grab bag for a specific featur

[2020-10-02 18:53] tmat opened #48251 "Remove legacy IBC training artifacts from build pipeline YAML and scripts"

[2020-10-02 19:13] decriptor commented on #48236
+1 this for us too
Version 16.9.0 Preview 1.0 [30601.220.main]

[2020-10-02 19:26] jcouv commented on #41368
From discussion with @cston the proposed design would be an extension of https://github.com/dotnet/roslyn/pull/47968 (we can leverage the flags he put in place). To compute `IsValueType` we need to do "less work". We think we can reduce the work further than today by not binding type arguments in type constraints.

[2020-10-02 19:45] sharwell opened #48254 "RefLocalsAndReturnsTests.RefForMultipleDeclarations fails with "Fatal error. Internal CLR error. (0x80131506)""
🔗 https://dev.azure.com/dnceng/public/_build/results?buildId=840073&view=artifacts&type=publishedArtifacts

[code]

[2020-10-02 19:48] CyrusNajmabadi commented on #48206
fwiw, that's challenging as i don't think we have such a concept at all in roslyn.  Would it be more appropriate to remove hte 'overload' concept from these strings and say that all dependencies must be individually specified?

[2020-10-02 20:02] SaculRennorb opened #48255 "csc.exe exited with code -2146232797 on __makeref after stackalloc"
**Version Used**:
VS 16.7.5
dotnet core 3.1.402

**Steps to Reproduce**:
a structs `ToString` override:
[code]

**Expected Behavior**:
clean compile

**Actual Behavior**:
[code]

[2020-10-02 20:25] SaculRennorb commented on #48255
after some reduction; this is a minimal version:
[code]

[2020-10-02 20:36] jaredpar commented on #39689
Adding in a bit of history to issue. The idea of how to handle extension methods and dependent type parameters first came up in #11166. This was based on user feedback and the decision was to ignore dependent constraints when considering extension methods. The motivating scenario is very similar to the one laid out here but with `class` constraints instead of `interface` ones:

[code]

The behavio

[2020-10-02 20:48] iskiselev opened #48259 "Switch expression in exception filter of async method crash compiler"
**Version Used**:
VS 16.7.4 / VS 16.8.0 Preview 3.1

**Steps to Reproduce**:
Compile next source:
[code]

**Expected Behavior**:
Compilation without problems

**Actual Behavior**:
Compiler crashed: "csc.exe" exited with code -2146232797.

[2020-10-02 21:31] sharwell opened #48262 "Integration test failure due to SQLite database locking"
**Version Used**: #48250

🔗 https://dev.azure.com/dnceng/public/_build/results?buildId=840074

**Steps to Reproduce**:

Integration tests

**Actual Behavior**:

[code]

[2020-10-02 23:14] spadapet commented on #41693
@jagbarcelo Right, if you open VS feedback, someone may just ask for more info and a sample project anyway. Or they might know more than I do about debugging build issues.

I'm just about out of ideas, but if I was connecting to your machine to try and debug this, the first things I'd try are:

* Use Process Explorer to search for any process that has any of your DLLs open. Like if your root proje

[2020-10-02 23:54] Youssef1313 opened #48267 "DoNotDirectlyAwaitATask: Don't report when using JoinableTaskFactory"
Yes, it would cover `JoinableTaskFactory.Run` and `JoinableTaskFactory.RunAsync`, plus it would cover cases where the `await` comes after one of these:

[code]

[code]

_Originally posted by @sharwell in https://github.com/dotnet/roslyn/pull/48263#discussion_r499091723_

[2020-10-02 23:54] #48267 closed

[2020-10-02 23:54] Youssef1313 commented on #48267
whops, opened against the wrong repo

[2020-10-03 00:45] #46259 closed

[2020-10-03 03:56] sharwell opened #48271 "Serialization error in AbstractDesignerAttributeIncrementalAnalyzer"
**Version Used**: #48263

🔗 https://dev.azure.com/dnceng/public/_build/results?buildId=840446

**Steps to Reproduce**:

Appeared in servicehub logs for integration tests.

**Actual Behavior**:

[code]

[2020-10-03 04:04] sharwell commented on #48254
Hit this again in #48263

🔗 https://dev.azure.com/dnceng/public/_build/results?buildId=840445

[code]

[2020-10-03 05:06] CyrusNajmabadi commented on #48239
I would champion this.  Note: this would not just be for TryCast/DirectCast, but would be similar to the 'var' rules for C# where you could say:

![image](https://user-images.githubusercontent.com/4564579/94983899-7f102900-04fb-11eb-8272-5147bc12ba1c.png)

these cases would fall under "when variable type is apparent" bucket

[2020-10-03 05:27] CyrusNajmabadi commented on #48262
This is bad, and should be impossible by design.  Here's why.

1. We're getting a SQLITE_LOCKED error being thrown in InsertOrReplaceBlobIntoWriteCache.
2. SQLITE_LOCKED is documented at: https://www.sqlite.org/rescode.html#locked.   There are two potential cases it lists.
2.1 "The SQLITE_LOCKED result code indicates that a write operation could not continue because of a conflict within the same d

[2020-10-03 06:38] yevgeni-zolotko opened #48273 "Can I generate .NET Core assembly with a Roslyn running under .NET Framework"
I would like to compile a .NET Core executable by invoking Roslyn APIs. My "compiler" application is built for .NET Framework, and references Roslyn NuGet packages. So far the assemblies generated by Roslyn as a result were targeted for .NET Framework. And I didn't find a switch to change that. Is that possible, or do I need to use .NET Core version of Roslyn to generate .NET Core executables?

[2020-10-03 06:39] sharwell commented on #48254
Another one in the build for #48269

[code]

[2020-10-03 12:52] AdamSpeight2008 commented on #48239
Should be moved to [VBLang](https://github.com/dotnet/vblang).
It is also disingenuous and disrespectful to other VBLang proposals, when they've been informed the VB.net is receiving any more updates (including tooling)

[2020-10-03 12:52] huoyaoyuan commented on #38081
I cannot reproduce this now.
Line triggered: ArrayList.cs L2696
Version used: VS 16.8 P3.2
The codefix functions well now.

[2020-10-03 12:59] huoyaoyuan commented on #47225
Already fixed by #43542 .

[2020-10-03 14:07] stephentoub commented on #38081
Closing under the assumption it's been fixed in the last year. Thanks.

[2020-10-03 14:07] #38081 closed

[2020-10-03 15:39] Youssef1313 commented on #47225
@huoyaoyuan the diagnostic is produced in #48277
Is it because an old version is used in the repository?

[2020-10-03 15:55] Youssef1313 commented on #42759
@sharwell @stephentoub From what I see in #43542, the codefix was updated to **remove** volatile and **add** `readonly`. This behavior doesn't match any of the comments in the issue.

[2020-10-03 15:58] tomrus88 commented on #24978
Doesn't seems to crash on VS 16.8.0 Preview 3.2. Was it fixed?

[2020-10-03 17:09] vsfeedback opened #48278 "C# refactorings for string building"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1203061/c-refactorings-for-string-building.html)._

---
<p>Given a line like<br><br>string foo = &quot;Hello &quot;  + bar + &quot;!&quot;; <br><br>there should be suggested refactorings like<br><br>string foo = $&quot;Hello {bar}!&quot;; <br><br>and<br><br>string foo = string

[2020-10-03 17:18] vsfeedback opened #48279 "Option to Fold/Collapse the Catch part of the Try-Catch"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1183964/option-to-foldcollapse-the-catch-part-of-the-try-c.html)._

---
I would love to be able to collapse the catch part of the Try-Catch in my code

---
### Original Comments

#### Feedback Bot on 9/15/2020, 03:09 AM:

Thank you for taking the time to provide your suggestio

[2020-10-03 17:23] vsfeedback opened #48280 "Shortcut key to surround C# code block with braces"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1201370/shortcut-key-to-surround-c-code-block-with-braces.html)._

---
In other editors including VS Code, pressing the closing-brace "}" key when a block of code is selected surrounds that code with open/close braces. There are plug-ins and snippets and other clumsy multi-key

[2020-10-03 17:26] vsfeedback opened #48281 "using should provide access to contained namespaces as well as types"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1201345/using-should-provide-access-to-contained-namespace.html)._

---
<p>Allow using to do a partial namespace qualification.  Currently, you cannot do something like</p><pre>using System;
IO. Stream myStream;</pre> <p>you have to either do the fully qualified System.IO.Stre

[2020-10-03 17:27] vsfeedback opened #48282 "Make static implicit on all members in in C# static classes"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1201344/make-static-implicit-on-all-members-in-in-c-static.html)._

---
<p>When I create a static class, the static should be implicitly applied, not merely required, on all members.  Being forced to put static on every member in a static class is silly redundancy for a langua

[2020-10-03 17:28] vsfeedback opened #48283 "#endregion improvement: close region at end region"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1200788/endregion-improvement-close-region-at-end-region.html)._

---
It would be helpful to be able to close a region at the #endregion code, for large regions., instead of having to scroll back, where the matching #region tag is easy overlooked. At the same time it would be

[2020-10-03 17:47] vsfeedback opened #48284 "I want the naming conventions to be more rigorous"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1191738/i-want-the-naming-conventions-to-be-more-rigorous.html)._

---
<p>I hope to achieve more strict naming rules like rider software, which can refer to rider's command and prompt operation for details</p>

---
### Original Comments

#### Feedback Bot on 9/21/2020, 03:47 A

[2020-10-03 18:09] teo-tsirpanis opened #48285 "Please add the "hacktoberfest" topic."
I want to make a contribution to this repository but I also want it to count against my contributions for [2020's Hacktoberfest](https://hacktoberfest.digitalocean.com/). But for this to happen, [the repository must have the `hacktoberfest` topic](https://github.com/digitalocean/hacktoberfest/pull/596).

[2020-10-03 18:38] Youssef1313 opened #48286 "Diagnostic improvements for records"
Suggestions for diagnostic improvements.

1. [SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAN0QSwGYE8kAmIA1AD6YB28CFEANgAQJwDGA9ggQwMIMDeAXwCwAKAACAZiasOXACIMQPfsJGigA=)

    **code:**

[code]

    **suggested improvements:**

    1. Change "class" to "type" in `base class 'C' is less accessible than class 'D'`
    2. Don't leak the unspeakable name `<Clone>$` in the message.

2. This is a

[2020-10-03 18:41] Youssef1313 opened #48287 "Compiler shouldn't allow extension method called "Clone" on records."
Currently, the following code compiles without errors:

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAN0QSwGYE8kAmIA1AD4ACAzAAQJwDGA9ggdQMoDcAsAFC9XVyARgBsggEzUAogA94AOyiZGi3gG9e1LYJrCxbagGEANirgAKGAAtMUdtSgBKTdo09tH6gH1qAXgfc7p5a5ADs1PJwAO7s5o6BHgC+vMk8QA==).

[2020-10-03 19:08] Youssef1313 opened #48288 "Ignore NullableAttribute when implementing abstract class in VB"
## Repro steps:

1. Create a VB class that inherits `SyntaxEditorBasedCodeFixProvider` in Roslyn solution.
2. Apply the codefix to implement the abstract class.

## Expected behavior

No NullableAttributes are added

## Actual behavior

NullableAttributes are added.

[code]

[2020-10-03 21:30] weitzhandler commented on #36248
Can't reproduce:

![image](https://user-images.githubusercontent.com/2716316/95002067-ce785700-05d8-11eb-9d92-637d83ace277.png)

[2020-10-03 21:46] Youssef1313 opened #48290 "<invalid-global-code> is leaked in error message."
**Version Used**:

master

**Steps to Reproduce**:

Discovered by chance.

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNGSAmIDUAfAAQGYACAYwICYSBhEgbwF8g)

**Expected Behavior**:

`<invalid-global-code>` doesn't show in any error messages.

**Actual Behavior**:

**Additional context**:

https://github.com/dotnet/roslyn/blob/69c3537456ebe29fdee0a4371eef63e67a2b4e95/src/Compilers/Vi

[2020-10-03 22:06] Youssef1313 opened #48291 "TypeSymbol.cs and TypeSymbol.vb are out-of-sync"
https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs#L32-L36

https://github.com/dotnet/roslyn/blob/69c3537456ebe29fdee0a4371eef63e67a2b4e95/src/Compilers/VisualBasic/Portable/Symbols/TypeSymbol.vb#L25-L29

These comments says that they must be in sync.

However, the C# version includes a public method `IsTupleTypeOfCard

[2020-10-03 23:36] Youssef1313 opened #48295 "Generate overrides doesn't work correctly for simple records"
[code]

Invoke <kbd>Ctrl</kbd>+<kbd>.</kbd> on `$$` and choose Generate overrides, check "OverrideMe" from the dialog.

## Expected behavior

Remove the semicolon and use `{ }`, and place the overridden method in braces.

## Actual behavior

[code]

[2020-10-04 00:03] Youssef1313 commented on #48295
Same with implementing interface:

![image](https://user-images.githubusercontent.com/31348972/95003992-bbb84f00-05e5-11eb-8b34-907d81c3eaf1.png)

[2020-10-04 03:19] xtofs opened #48304 "Generated IEquatable<> code for records with collection property should compare structurally."
**Version Used**:
https://github.com/dotnet/roslyn/commit/467f6acb07ad34105a9e5d3405ec8fdd1701fc86

**Steps to Reproduce**:
Given
[code]

The following code produces false and false.
[code]

Whereas the following code produces true and true.

[code]

The generated equality comparer for the record uses `EqualityComparer<IEnumerable<int>>.Default`  to compare the Items collection which is just check

[2020-10-04 04:20] VBAndCs opened #48309 "A linQ Range variable error that I think it is not!"
I have this query:
[code]

where s.PayStateID is of type byte, so the query returns `IQueryable(Of Byte)` and first returns byte.
The strange thing is that I get this error in design time:

[code]

[2020-10-04 05:25] PathogenDavid commented on #48243
@Fabi

If you need this change sooner rather than later, the easiest way to do so is to add a reference to the [`Microsfot.Net.Compilers.Toolset`](https://github.com/dotnet/roslyn/blob/9143f2135f42a2c8fdd5f835dc8bcd23b8178932/docs/wiki/NuGet-packages.md#microsoftnetcompilerstoolset) package. (You'll need to have the [pre-release NuGet feed](https://dev.azure.com/dnceng/public/_packaging?_a=feed&fe

[2020-10-04 05:28] CyrusNajmabadi commented on #48304
Closing out as the compiler is behaving exactly as specified as per the LDM decicions here.  If you'd like this behavior to change, it would need a change in the language specification which can happen at dotnet/csharplang.  Note though that htis was again explicit on our part.  If you want collections compared structurally, you can do that by overriding .Equals and explicitly providing the behavi

[2020-10-04 05:28] #48304 closed

[2020-10-04 05:31] CyrusNajmabadi commented on #48287
Closing out as i do not see any language rules we've specified that would disallow this.  If you would like to propose a language rule here, please open a discussion over at dotnet/csharplang.  Thanks :)

[2020-10-04 05:31] #48287 closed

[2020-10-04 05:35] CyrusNajmabadi commented on #48283
Closing out.  The ctrl-] shortcut can be used used to easily jump between regions.

[2020-10-04 05:35] #48283 closed

[2020-10-04 05:42] CyrusNajmabadi commented on #48239
@AdamSpeight2008 This is not a VBLang issue.

I don't know what you're talking about.  We are constantly working on VB.  As i said, I would support this and will bring to the next design meeting to be done.  If you would like to discuss this more, you can come to gitter/discord and discuss it with me.  Other comments about this on this issue will be treated as off-topic and moderated as such.

[2020-10-04 09:59] huoyaoyuan commented on #38053
Deciding if there are ambiguous overloads seems too difficult.
Manual fix is quite simple in this scenario.

[2020-10-04 12:52] AdamSpeight2008 commented on #48239
It simplifies to 'Dim myCastedInstance = TryCast(myOriginalInstance, MyType)', if `Option Infer On` is set, otherwise it changes the type of `myCastedInstance` to `Object` and not `MyType`

[2020-10-04 13:26] AdamSpeight2008 opened #48307 "[VBNET] Name resolution issue?"
Original Discoverer @VBAndCs in [Link To Original Post](https://github.com/dotnet/vblang/issues/575)

**Steps to Reproduce**:

Any code where the name of the variable (being assigned to), with the assignment expression having a property / method with the same name.

Example.   `Dim Length = From s In {"asdf"} Select s.Length`

**Actual Behavior**

![Property_Error](https://user-images.githubuserco

[2020-10-04 13:57] stephentoub commented on #38053
A fix generated by the IDE should not result in compilation errors.

[2020-10-04 14:02] huoyaoyuan commented on #38053
Well, the simplest solution is always adding type when changing to out discard, and let another analyzer to say if it's redundant.

[2020-10-04 15:15] VBAndCs commented on #48307
Thanks @AdamSpeight2008
And it is also OK if we use the lambda form. This gives no error:
`Dim Length = "asdf".Select(Function(s As String) s.Length)`

Note: I can't really tell when an issue belong to the lang, or Roslyn. I thought that this error originated from VB compiler, not something related to the editor and Roslyn.

[2020-10-04 15:52] CyrusNajmabadi commented on #48239
Yup. That's why I support this and would champion this.

Just like with 'use var' we would not offer if it changed semantics.

[2020-10-04 16:00] VBAndCs commented on #48307
C# doesn't have this issue. This works fine:
[code]

[2020-10-04 16:03] CyrusNajmabadi commented on #38053
This fixer is already supposed to use the explicit type if this would cause an ambiguity.  So something weird is happening.  Someone will need to investigate to see why that's not working here.

[2020-10-04 16:08] CyrusNajmabadi commented on #48307
Roslyn is the VB compiler.

[2020-10-04 16:09] CyrusNajmabadi commented on #48309
Duplicate of https://github.com/dotnet/roslyn/issues/48307.

[2020-10-04 16:09] #48309 closed

[2020-10-04 16:20] VBAndCs commented on #48309
@CyrusNajmabadi

But in previous issues, you said to me it is not Roslyn-specific, but belongs to VB compiler. I really can't realize the fine difference between them.

[2020-10-04 16:37] CyrusNajmabadi commented on #48309
Please point out where i said this and i can clarify.

There is no difference.  Roslyn is the C# and VB compiler today (and has been for the last 10 years).

[2020-10-04 17:06] AdamSpeight2008 commented on #48307
Note the code works as expected in VS2017

[2020-10-04 19:45] VBAndCs commented on #48307
May be it is more resent. I never faced this before.
This is another case involving method params:

[code]

[2020-10-04 19:55] VBAndCs commented on #48307
This means they missed a test for this case, and should create it with the fix.

[2020-10-04 20:00] AdamSpeight2008 commented on #48307
I think i've seen the cause, but I can't find it now. One one to lookup option / result options changed.

[2020-10-04 20:17] jnm2 opened #48310 "Suggested positional parameter name should be pascal-cased"
**Version Used**:  16.8-p3.2

![image](https://user-images.githubusercontent.com/8040367/95026107-f0b3b880-065c-11eb-8612-06bf75fb9751.png)

Pascal-cased names should be suggested because these become public properties.

(Also see https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/3168#issuecomment-687880281)

[2020-10-04 20:49] Youssef1313 commented on #43346
@jmarolf I can't reproduce in SharpLab.

![image](https://user-images.githubusercontent.com/31348972/95026744-dc3ee280-0693-11eb-9f54-211bd2fe9954.png)

[2020-10-04 21:37] davidwengier opened #48312 "Quick Info and Intellisense prefer different overloads"
**Version Used**: Version 16.9.0 Preview 1.0 [30604.9.main]

In the example below, Quick Info is showing the overload that takes a string, while IntelliSense is preferring the overload that takes an enum. This is extra annoying when there is documentation comments, as they can't be seen for the parameter that IntelliSense wants me to complete.

![image](https://user-images.githubusercontent.com/75

[2020-10-04 23:19] jcouv commented on #48295
Thanks for reporting this. I have a fix in progress.

[2020-10-04 23:25] Youssef1313 commented on #48295
@jcouv That was too fast! Thanks for working on it.

[2020-10-04 23:58] davidwengier commented on #48209
This should resolve #42630 too

[2020-10-05 00:29] #38516 closed

[2020-10-05 01:01] davkean commented on #48236
I thought this was a bunch, but you are right it's just CSharpRemoveRedundantEqualityDiagnosticAnalyzer.

[2020-10-05 01:02] davidwengier commented on #48209
We need to wait on AB#1224360 before pull diagnostics will be in Roslyn, and thus before this fix can be merged too.

[2020-10-05 01:37] Youssef1313 opened #48315 "MoveToNamespace doesn't work for records"
**Version Used**:

16.8 Preview 3.2

**Steps to Reproduce**:

1. Using the following code:

2. Invoke <kbd>Ctrl</kbd>+<kbd>.</kbd> on the class name and select **move to namespace**.

3. Type any name in the dialog

4. It works:

[code]

5. Repeat the same steps for the record. It doesn't work.

**Expected Behavior**:

Works the same as with class.

**Actual Behavior**:

The record is completely d

[2020-10-05 01:51] davidwengier commented on #48236
I don't think this is in 16.8...

Its in [release/16.8](https://github.com/dotnet/roslyn/blob/release/16.8/src/Analyzers/Core/Analyzers/RemoveRedundantEquality/AbstractRemoveRedundantEqualityDiagnosticAnalyzer.cs) but not [release/dev16.8](https://github.com/dotnet/roslyn/blob/release/16.8/src/Analyzers/Core/Analyzers/RemoveRedundantEquality/AbstractRemoveRedundantEqualityDiagnosticAnalyzer.cs)

[2020-10-05 02:19] Youssef1313 commented on #48236
Probably because https://github.com/dotnet/project-system/blob/b17cab2d0ffab5372e3fac6464d942576840c31e/build/import/Packages.targets#L33

[2020-10-05 03:11] weitzhandler opened #48318 "Suggest adding constructor inside class as well, not only when cursor is on class name"
**Brief description:**

Inheriting from an abstract class that lacks a parameterless constructor results in a compile error, unless a constructor is added.
When hovering over the class name and hitting <kbd>Ctrl</kbd>+<kbd>.</kbd>, the suggestion "Generate constructor <constructor signature>" appears.

My suggestion is that this suggestion should also appear in the context menu for a <kbd>Ctrl</kb

[2020-10-05 03:33] #48295 closed

[2020-10-05 05:08] CyrusNajmabadi commented on #48318
Yes.  this makes sense.  For anyone interested in doing this, we have helpers to ask/answer "is the caret between members in a type".  if so, then offering this refactoring would make sense.

[2020-10-05 05:44] laxmikantht commented on #38872
Thanks for your help..  It's worked for me. The certificate problem is solved after installed KB3004394.

[2020-10-05 05:59] weitzhandler commented on #48318
Gonna try that.

[2020-10-05 06:14] davkean opened #48320 "[LSP] Loading two solutions in the same session faults LSP"
**Version Used**:
Version 16.9.0 Preview 1.0 [30604.13.main]

**Steps to Reproduce**:

1. Load one solution
2. Load another

**Expected Behavior**:
Load successfully

**Actual Behavior**:

![image](https://user-images.githubusercontent.com/1103906/95045545-fd541180-072d-11eb-8a12-bf9181d2d062.png)

[2020-10-05 06:15] davkean commented on #48320
I cannot find the logs for this. ActivityLog is empty.

[2020-10-05 07:13] Fabi commented on #48243
To come back to the old Primary constructor behavior: is it possible to overwrite a auto constructor constructor in records. Something like this worked with old primary constructors (using an abstract class as base though):

[code]

[2020-10-05 10:53] svick opened #48323 "Are two implementations of documentation comment ID generator necessary?"
There are two ways to get a documentation comment ID for an `ISymbol`:

1. `DocumentationCommentId.CreateDeclarationId`/`DocumentationCommentId.CreateReferenceId`
2. `ISymbol.GetDocumentationCommentId`

These two approaches have separate implementations, for example:

https://github.com/dotnet/roslyn/blob/374ee3184a64ca07867320668ec4b1162daa2aa4/src/Compilers/Core/Portable/DocumentationCommentId.c

[2020-10-05 11:44] Sunnie-Shine opened #48324 "Function pointer calling convention keywords should be classified"
**Version Used**:
VS 16.7.5

**Steps to Reproduce**:

Type code
[code]

**Expected Behavior**:
All calling convention keywords (`managed` here) should be colorized.

**Actual Behavior**:
They are in default color.

[2020-10-05 13:12] MartynJones87 commented on #48070
Hello @CyrusNajmabadi Thank you for your feedback on the PR.
I am trying to address the points you raised, but I can no longer build the solution, getting the following error:

![image](https://user-images.githubusercontent.com/1846942/95083706-c3c2dc80-0714-11eb-8211-e98cfbf2161f.png)

Is there a standard set of steps that I could try to get it building again? Thanks very much!

[2020-10-05 13:59] CyrusNajmabadi commented on #48070
Never seen that before. Try killing that process and rebuilding

[2020-10-05 14:19] jmarolf opened #48326 "Generate method does not create new block for record"
Given the code below:
[code]
invoke the codefix to generate a method for `SayHello`

**Expected**
[code]

**Actual**
[code]

[2020-10-05 14:20] jmarolf commented on #48326
CC: @CyrusNajmabadi

[2020-10-05 14:21] Youssef1313 commented on #48326
Fixed in #48313

[2020-10-05 14:32] CyrusNajmabadi commented on #48326
Closing as resolved.

[2020-10-05 14:32] #48326 closed

[2020-10-05 14:43] RikkiGibson commented on #46752
No.

[2020-10-05 14:45] #48323 closed

[2020-10-05 14:51] CyrusNajmabadi commented on #46752
I see:

![image](https://user-images.githubusercontent.com/4564579/95095215-a1629c00-06df-11eb-8551-b758e029f170.png)

[2020-10-05 14:54] CyrusNajmabadi commented on #38872
Closing out as external and as customers have reported this is no longer an issue.

[2020-10-05 14:54] #38872 closed

[2020-10-05 15:01] RikkiGibson commented on #46752
Looks like you did it in #47764 :) Thanks! I just didn't see the changed behavior, perhaps because it hasn't gotten into public preview yet.

[2020-10-05 15:01] #46752 closed

[2020-10-05 15:08] mavasani opened #48327 "CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer should pass the correct code style option"
See https://github.com/dotnet/roslyn/blob/586f6f052eebaa5893ecdcecb9a2be321f3a306f/src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer.cs#L45

It should instead be passing the option used by the analyzer: https://github.com/dotnet/roslyn/blob/586f6f052eebaa5893ecdcecb9a2be321f3a306f/src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWi

[2020-10-05 15:09] RikkiGibson commented on #43398
Revisiting this: we no longer give warnings for any of these, because we just simulate an assignment of the default value to the parameter and join it into the initial state.

We may *start* warning on these once we introduce a warning wave for assigning maybe-null to type parameters which can't be annotated in C# 8. However, this warning should be present in `M1` and `M3`, and not in `M2`.

[2020-10-05 15:09] #43398 closed

[2020-10-05 15:39] jmarolf commented on #43346
yep fixes :)

[2020-10-05 15:39] #43346 closed

[2020-10-05 16:05] #48273 closed

[2020-10-05 16:07] mavasani commented on #48327
Talking offline with @CyrusNajmabadi,  `CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer (IDE0038)` should be a non-configurable hidden severity analyzer, to make it equivalent to a code refactoring. We have implemented it as an analyzer only for ease of implementation.

[2020-10-05 16:36] mikadumont opened #48330 "Visual indicator for deprecated code"
Direct customer ask copying here:

![image](https://user-images.githubusercontent.com/46729679/95106586-8d259b80-06ed-11eb-8ace-7f0cc32040d9.png)

(Twitter comment: https://twitter.com/jeffreypriebe/status/1311831025136279552)

Since the compiler/runtime folks did the work for warnings for deprecated APIs. We can have a visual indicator that lets users know when their code is deprecated.

[2020-10-05 16:49] vsfeedback opened #48332 "warning about TopLevelParameterNameAnalyzer"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1205966/warning-about-toplevelparameternameanalyzer.html)._

---
[severity:Other]
I converted to .net core 5 rc a solution, and inside this solution I have a project created with the React Asp Template.
I compile the program and runs but I have this warning

Analyzer 'Micro

[2020-10-05 16:52] cston commented on #38821
Closing. Any remaining issues can be opened as separate bugs.

[2020-10-05 16:52] #38821 closed

[2020-10-05 16:53] vsfeedback opened #48334 "C# 9 records do not fold like classes do"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1208525/c-9-records-do-not-fold-like-classes-do.html)._

---
[severity:It bothers me. A fix would be nice]
Paste the following code into Visual Studio:

[code]

Visual Studio will let me fold/collapse the class `B` into a single line, but I am unable to fold/collapse the re

[2020-10-05 16:54] raffaeler opened #48335 "Covariant Return causing ReflectionTypeLoadException"
**Version Used**: 5.0.100-rc.1.20452.10
**Steps to Reproduce**:
Running the following code causes a System.Reflection.ReflectionTypeLoadException (see comment below).

**csproj**
[code]

**Program.cs**
[code]

**Expected Behavior**:
I expect no exceptions

**Actual Behavior**:
[code]

[2020-10-05 16:55] Youssef1313 commented on #48334
This is already fixed in #47894

[2020-10-05 17:14] Youssef1313 commented on #48335
Looks like a runtime issue, not a compiler issue?

[2020-10-05 17:44] CyrusNajmabadi commented on #48334
Fixed with https://github.com/dotnet/roslyn/pull/47894

[2020-10-05 17:44] #48334 closed

[2020-10-05 17:45] CyrusNajmabadi commented on #48284
This needs more info.

[2020-10-05 17:47] Spongman commented on #37011
and a year goes by and *crickets*. come on guys, this is a regression in a **major** productivity feature of your product that's been there since .NET began. can you please, at least, respond that you have attempted to repro this?

[2020-10-05 17:48] vsfeedback opened #48337 "removing unused usings when compile errors present"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1198662/removing-unused-usings-when-compile-errors-present.html)._

🔗 [AB#1219172](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1219172)
🔗 [AB#1349846](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/

[2020-10-05 17:58] raffaeler commented on #48335
@Youssef1313 maybe, but since Covarian Returns are a new feature in C# 9, I thought it was better posting it here.

[2020-10-05 19:06] AdamSpeight2008 commented on #48307
@CyrusNajmabadi
Issue seem to be related to forming the `Select` part of the query, as `Let` works find.

[2020-10-05 19:16] CyrusNajmabadi commented on #37011
This has not been assigned and has no responses from a team member. So I think it's a safe assumption to say that no one has attempted to repro this. That said, it sounds like it's happening to a few people and a repro gas been given, so I don't think we'd but a lot with someone else doing that.

Note: this issue is up for grabs. This means that while it's not a high pri for us (and is this on our

[2020-10-05 19:27] svick commented on #48335
This sounds quite similar to https://github.com/dotnet/runtime/issues/41571, which has been fixed after RC1. And indeed, while I can reproduce this in RC1, I get no exception in a RC2 daily build. So think this has already been fixed.

[2020-10-05 19:28] #48071 closed

[2020-10-05 19:30] raffaeler commented on #48335
Thank you @svick. I'll close this.

[2020-10-05 19:30] #48335 closed

[2020-10-05 19:33] CyrusNajmabadi commented on #47889
Fixed with https://github.com/dotnet/roslyn/pull/47894

[2020-10-05 19:33] #47889 closed

[2020-10-05 21:21] CyrusNajmabadi commented on #47445
VS PR for this here: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/279270

[2020-10-05 21:25] sharwell commented on #41880
Design review conclusion: Add the _containing type_ as a fallback `inheritdoc` target for constructors. The rest of the proposal will work automatically from this.

[2020-10-05 21:29] sharwell commented on #45217
This was already implemented in #36028 and released in Visual Studio 2019 Update 16.4.

[2020-10-05 21:29] #45217 closed

[2020-10-05 21:29] sharwell commented on #45217
📝 See https://github.com/dotnet/roslyn/issues/7862#issuecomment-570670412 for an example screenshot

[2020-10-05 21:33] sharwell commented on #41880
### Items that will need updating

Support constructors and update documentation:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs#L279

Redirect from constructor to containing type:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Workspaces/Core/Portable/Shared/Ex

[2020-10-05 21:35] #48236 closed

[2020-10-05 21:42] Corey-M commented on #41883
The relevant csharplang issue has, after some discussion, resulted in the feature being sent back to triage for possible inclusion in C# 10.

[2020-10-05 21:49] sharwell commented on #41880
I'm tentatively marking this one as blocked. During my update, I encountered a concerning scenario which was not discussed in the design review, so we should discuss it before proceeding.

Many default constructors are documented with this message:

Types with these constructors would not be able to benefit from the added Quick Info. In addition, documentation rendering tools may have trouble sepa

[2020-10-05 23:05] BrianFreemanAtlanta opened #48344 "Question: Participate in Hacktoberfest?"
Hacktoberfest is going on this month. They have changed the rules to an "opt-in" policy by adding Hacktoberfest top to the repository. Here is a link - [Hacktoberfest Update](https://hacktoberfest.digitalocean.com/hacktoberfest-update). It's a good way to get new contributors.

[2020-10-05 23:48] jasonmalinowski commented on #48123
@KirillOsenkov: if I wanted to get a sourceroslyn.io instance tested against a branch of Roslyn to see if I'm breaking anything, how would I go about doing that?

[2020-10-05 23:50] sharwell commented on #48330
Duplicate of #26488

[2020-10-05 23:51] #47308 closed

[2020-10-05 23:51] sharwell commented on #48344
Duplicate of #48285

[2020-10-05 23:51] #48344 closed

[2020-10-06 00:28] #40863 closed

[2020-10-06 00:28] #46829 closed

[2020-10-06 00:30] KirillOsenkov commented on #48123
1. `git clone https://github.com/KirillOsenkov/SourceBrowser`
2. (optional) `git checkout SourceRoslynIO` -- master branch works as well but for full fidelity you can use this branch
3. Build.cmd
4. GenerateTestSite.cmd
5. RunTestSite.cmd
6. open http://localhost:5000 or whatever

Bonus points if you can index Roslyn sources, it's trickier ;) See below.

If you want to use MSBuildWorkspace, build

[2020-10-06 00:33] KirillOsenkov commented on #48123
Oh, I may have misunderstood. You want to test whether SourceBrowser works when _using_ the latest Roslyn, not when _indexing_ the latest Roslyn.

That's very easy. You should just need to switch to use the NuGet package versions of your choice (and maybe add a custom NuGet feed to find them). Here's a sample commit where I update to Roslyn 3.8.0 beta3:
https://github.com/KirillOsenkov/SourceBrows

[2020-10-06 00:39] jasonmalinowski commented on #48123
@KirillOsenkov: the answer is probably both. :smile: We're working on switching some parts of the Roslyn build to use source generators, and it wouldn't surprise me if the indexing process is broken or other things are broken.

[2020-10-06 00:45] dibarbet opened #48350 "[LSP] Support streaming and non-streaming requests"
We should switch all streaming implementations to use https://github.com/dotnet/roslyn/pull/48328/files#diff-b126b4224fa4c88209aa1c6647ac21b3 once it gets merged in.

[2020-10-06 00:50] tmat opened #48351 "Incorrect Solution snapshot used for diagnostic analysis"
Repro:
1) Working in Roslyn.sln (branch EncOOP-vs-deps, commit 7e40628e5f873ff23d37d28bf881c77085230b5e).
2) Attaching to another VS
3) 683 errors reported in the error list. These errors do not correspond to the actual state of the solution.

Memory dump and list of errors in:
\\mlangfs1\public\tomat\Bugs\wrong-snapshot

[2020-10-06 00:51] dibarbet commented on #48320
I couldn't personally repro this, and per email thread it is resolved externally by https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient/pullrequest/277206

Resolving this issue, https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1198844 tracks the fix.

[2020-10-06 00:52] #48320 closed

[2020-10-06 01:11] dibarbet commented on #48350
Nevermind, dupe of https://github.com/dotnet/roslyn/issues/48150 and https://github.com/dotnet/roslyn/issues/48151

[2020-10-06 01:11] #48350 closed

[2020-10-06 01:17] Youssef1313 commented on #45368
@sharwell @CyrusNajmabadi I started working on initial implementation for this. But couldn't get it to a working state ;-(
I'm okay if someone wants to take it over or point me to how I can continue working on it.

[2020-10-06 01:27] Youssef1313 opened #48353 "Remove unused member false negative"
**Version Used**:

master

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Warning on both `x` and `y`

**Actual Behavior**:

Warning on `x` only.

[2020-10-06 01:34] Youssef1313 opened #48354 "false positive nullability warning"
**Version Used**:

master

**Steps to Reproduce**:

[code]

**Expected Behavior**:

No warnings

**Actual Behavior**:

    warning CS8602: Dereference of a possibly null reference.

[2020-10-06 02:54] jcouv commented on #48354
You're correct that we can't reach the `ToString` call when `x` is `null`, but the compiler can't know that without doing alias tracking (ie. knowing that `a` and `x` happen to be the same when the test `a?.B` takes place). Such analysis is out-of-scope of nullability analysis.

[2020-10-06 03:00] azrng commented on #48284
Spell-check for words, such as spelling mistakes;New syntax suggestion function;

[2020-10-06 03:00] azrng commented on #48284
Spell-check for words, such as spelling mistakes;New syntax suggestion function;

[2020-10-06 05:01] jcouv commented on #48126
Per LDM discussion on this around June, we want no warning in all those scenarios (returning a non-constant boolean). This was implemented in PR https://github.com/dotnet/roslyn/pull/46201.
Not sure why the negated boolean expressions are getting warnings. Will look into it. Thanks

[2020-10-06 05:07] CyrusNajmabadi commented on #48353
This is potentially out of scope for what the analysis is capable of. similar to how it does not trigger here:

[code]

or

[code]

The diagnostic is around "is this unused" not "can this be removed without any effect on the program".  The latter is much more complex analysis and likely in the domain of another feature entirely.

[2020-10-06 05:09] CyrusNajmabadi commented on #45368
I don't have enough information on what is wrong to give any pointers on what to fix. :)

[2020-10-06 05:29] jcouv commented on #47915
I was not able to reproduce this. I see no nullability warnings on either statements in [sharplab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+ABATARgFgAobABgAJt8A6AEQEsIBzAOwHtYGBjKGgYXYo4AQVYQANgE8oDKAG4SJAMSsArhIkRgEuBTjidcEgDcICCsLDsKAXgqs4AdwoA5dqwDiBxDwAUAEQBAJSKxAwAZhR+Vuw0AJJQ7jCuGhLBFADeJBQUAPp2lnDWNABqkmpwNAAyBswwABbyFAD0LRQA8gDWSA42TuasDKzMJAC+SsRmFrG4hY4u3o4IPBQAPFT4lAB80UGhJJHRsw

[2020-10-06 05:29] #47915 closed

[2020-10-06 05:33] jcouv commented on #41883
Yes, this language question is tracked by https://github.com/dotnet/csharplang/issues/33 already.
If I recall, the addition of target-typing for ternaries prevents us from improving the best common type algorithm in the future (or makes it very complex), so most likely this proposal won't be implemented. One can use a cast or a target-type at the moment.

[2020-10-06 05:33] #41883 closed

[2020-10-06 06:54] #48327 closed

[2020-10-06 10:12] #48354 closed

[2020-10-06 10:15] Youssef1313 commented on #48353
Thanks. Closing as by design.

[2020-10-06 10:15] #48353 closed

[2020-10-06 10:53] stefanloerwald opened #48357 "Source generator runs too early in blazor projects"
Source generators seem to not see correct content of classes when code is written in `.razor` files. I suspect they run "too early" in the build process.

**Version Used**:

Generator using `<PackageReference Include="Microsoft.CodeAnalysis.CSharp.Workspaces" Version="3.8.0-3.final" PrivateAssets="all" />`, compiled with RC1.

**Steps to Reproduce**:

1. Generate a file `Foo.razor` with content `@

[2020-10-06 11:50] louis-z commented on #48027
I'd like to work on this.

[2020-10-06 12:10] svick commented on #34839
The output from `DocumentationCommentId.CreateDeclarationId` I get for the code above (when inside class `C`) is:

[code]

As far as I can tell, this means the issue currently exists only for `dynamic`. The output now is reasonable for tuples, and was already correct for `partial` methods when this was reported. Though I haven't checked what is the behavior of `SuppressMessage`.

[2020-10-06 14:31] Youssef1313 commented on #42760
@sharwell What was the design review outcome? to leave IDE0044 unchanged and create an additional analyzer or something else?

[2020-10-06 14:38] Youssef1313 commented on #40006
@mavasani Did that mean the compiler should produce a warning for the original code? I'm confused as the issue is still marked with Area-IDE.

[2020-10-06 16:35] sharwell commented on #42760
@Youssef1313 The conclusion was to update IDE0044 to ignore fields marked with `[ThreadStatic]`.

[2020-10-06 16:58] sharwell commented on #48324
@333fred please let @JoeRobich know what this is supposed to do and we can get it implemented for 16.9

[2020-10-06 16:59] Youssef1313 commented on #29224
https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs#L914

variableDecl.Initializer is null here, causing a `null` `MemberSemanticModel` to be returned.

[2020-10-06 17:00] Youssef1313 commented on #42760
@sharwell Thanks. I'll work on it. Sounds like a very small fix.

[2020-10-06 17:03] CyrusNajmabadi commented on #47234
@RikkiGibson @jaredpar this is a pretty critical issue that is impacting lots of scenarios.  Can it be prioritized or load balanced?

[2020-10-06 17:07] jinujoseph commented on #48337
cc @JoeRobich

[2020-10-06 17:12] jinujoseph commented on #48285
This has been done

[2020-10-06 17:12] #48285 closed

[2020-10-06 17:14] jinujoseph commented on #48280
Duplicate of #39109

[2020-10-06 17:14] #48280 closed

[2020-10-06 17:15] jinujoseph commented on #48279
Duplicate of #39797

[2020-10-06 17:15] #48279 closed

[2020-10-06 17:17] sharwell commented on #48278
We already have **Convert to Interpolated String** (the first suggested refactoring), but not the others. We'll discuss the additions in Design Review.

Thanks! 😄

[2020-10-06 17:20] 333fred commented on #48291
`IsTupleTypeOfCardinality` should be made internal. It's effectively internal already, as it's in an internal type and not implementing a public interface method. But it would be good to fix that.

[2020-10-06 17:26] sharwell commented on #48219
I want this _all the time_.

[2020-10-06 17:27] jinujoseph commented on #48216
cc @davidwengier for info

[2020-10-06 17:30] sharwell commented on #48214
Words cannot describe how sad I will be if we create Source Generators only to find they are used to resurrect CodeDom. 😭

[2020-10-06 17:33] jasonmalinowski commented on #48324
They're keywords. This works in 16.8; the bug report is against 16.7 and we likely hadn't gotten any of it working there.

[2020-10-06 17:33] #48324 closed

[2020-10-06 17:33] jasonmalinowski commented on #48324
@Sunnie-Shine: this should be working in the latest 16.8 Previews if you want to give those a shot. There's a bunch of other fixes there too you'll want as that's the first real version that has IDE support.

[2020-10-06 17:33] genlu commented on #48027
@louis-z Awesome, thanks! Please let me know if you have any questions :)

[2020-10-06 17:36] jasonmalinowski commented on #48233
This works fine in current 16.8 Previews; @Sunnie-Shine please upgrade to 16.8, as you should see this and a bunch of other function pointer bugs fixed!

[2020-10-06 17:36] #48233 closed

[2020-10-06 17:41] jinujoseph commented on #48058
cc @genlu for info

[2020-10-06 17:42] jinujoseph commented on #48057
cc @JoeRobich

[2020-10-06 17:44] jinujoseph commented on #48048
@olegtk does it belongs to platform ?

[2020-10-06 17:50] mavasani commented on #48082
This is a not yet implemented compiler feature. Tagging @333fred

[2020-10-06 17:50] stefanloerwald commented on #48357
Sample repo: https://github.com/stefanloerwald/Generators.BetterBlazor

File [Index.razor](https://github.com/stefanloerwald/Generators.BetterBlazor/blob/main/IntegrationTestApp/Pages/Index.razor) references components [Component1.razor](https://github.com/stefanloerwald/Generators.BetterBlazor/blob/main/IntegrationTest/Component1.razor) and [Component3.cs](https://github.com/stefanloerwald/Genera

[2020-10-06 17:51] olegtk commented on #48048
Yes. @TobiasSekan, can you clarify your suggestion please: would you prefer docked CodeLens window to be the same as Find All Referenced window or you want to see Find All References window content in CodeLens popup?

[2020-10-06 17:57] genlu commented on #48058
FYI @vivlimmsft, it seems intellicode provided items doesn't show supported framework info.

[2020-10-06 17:58] svick opened #48363 "Define documentation comment ID for function pointers"
The documentation comment ID format for function pointers doesn't seem to be defined. Consider the following code (using recent daily build of Roslyn):

[code]

This prints:

[code]

which shows empty string as the documentation comment ID for a function pointer parameter.

[The function pointers proposal](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/funct

[2020-10-06 17:58] jinujoseph commented on #48010
@mavasani should we move this to roslyn-analyzer repo

[2020-10-06 18:02] CyrusNajmabadi commented on #48271
@sharwell @tmat i literally don't know what i woudl do about this.  We write 3 values like this:

[code]

and we read in 2 values like this:

[code]

If this is failing, then we have a serious issue with our ObjectReader/Writer subsystem :-/

[2020-10-06 18:04] 333fred commented on #48082
The work here is that we need a design for an operation interface for function pointer invocations. It will need to be similar to IInvocationOperation, but some of the things in IInvocationOperation don't apply to function pointers (IsVirtual, for example)

[2020-10-06 18:06] cristianosuzuki77 opened #48364 "[loc] Please lock all strings that shouldn't be localized."
This request is from https://github.com/dotnet/roslyn/issues/39286.
Several strings were not locked, as result, the translation was applied on them.
Could you please apply commenting and lock them?

### **\*.resx**

* [ ] src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
* [ ] src/Analyzers/CSharp/CodeFixes/CSharpCodeFixesResources.resx
* [ ] src/Analyzers/Core/Analyzers/AnalyzersResour

[2020-10-06 18:08] CyrusNajmabadi commented on #48337
In general we do not stop people from using our features just because code isn't compiling.  If we had something which ran automatically, it would likely not want to run in the presence of errors.  However, if the user wants to explicitly run things, that's fine.

[2020-10-06 18:09] jasonmalinowski commented on #48083
So the one problem @vatsan-madhavan you're probably running into is once we've loaded your assembly...the CLR doesn't give us sane ways to unload it or load a different version if the assembly version hasn't changed. @chsienki or @cartermp any chance somebody already has some MSBuild magic to work around this in some way?

[2020-10-06 18:10] 333fred commented on #48363
Whatever we do for pointer types, we should do the same here. Fundamentally, at the runtime level function pointers are just a type of pointer.

[2020-10-06 18:10] cristianosuzuki77 opened #48365 "[loc][query] Assistance with translation"
String Resource ID | 0; "IDS_FeatureDiscards"
-- | --
Source String | discards
Subtenant | dotnet_roslyn
Source Control Link |  
Filename | Compilers\CSharp\Portable\xlf\CSharpResources.xlf
Question | Is this a verb (3. person singular) or a noun in plural? Where will it occur? Please provide a screenshot, if possible. So far, we interpreted this as a noun.

[2020-10-06 18:11] mavasani commented on #48010
I think we should keep this issue here itself. We do not have any analyzers helping correct usage of Syntax Generator/Factory APIs, but instead rely on Roslyn API itself generating good exceptions, i.e. basically `Improve the exception thrown.` request here.

[2020-10-06 18:12] Youssef1313 commented on #48307
Same issue as https://github.com/dotnet/roslyn/issues/15779?

@tmat Based on your comment in the issue above, I think you saw a reason why the program was invalid (I couldn't see that reason). Can you have a look on whether that reason applies to the code in this issue?

[2020-10-06 18:12] cristianosuzuki77 opened #48366 "[loc][query] Assistance with translations."
String Resource ID | 0; "ERR_UnexpectedVarianceStaticMember"
-- | --
Source String | Invalid variance: The type parameter '{1}' must be {3} valid on '{0}' unless language version '{4}' or greater is used. '{1}' is {2}.
Filename | Compilers\CSharp\Portable\xlf\CSharpResources.xlf
Question | could you confirm if "language" refers to a language like English? And, could you provide the meaning of the

[2020-10-06 18:13] Spongman commented on #37011
(( can i please get someone to at least attempt to repro this? i went to the effort to create a minimal repro case. can't someone at microsoft at least do me the common decency of triaging it? does nobody care about QA there any more? ))

So, i Just noticed another weird thing. when Visual Studio opens the "[from metadata]" file, that file lists the source assembly, like this:

[code]

even if i d

[2020-10-06 18:15] jaredpar commented on #47234
@CyrusNajmabadi we're looking into it. Would help if we could get some responses to @RikkiGibson earlier question:

[2020-10-06 18:16] CyrusNajmabadi commented on #37011
This has been triaged to the backlog.  As i mentioned in teh previous post:

[2020-10-06 18:17] CyrusNajmabadi commented on #37011
Metadata-as-source caches teh files i believe.  It would likely take some extra work to make it support the 'user went and deleted the dll' issue that you're reporting.  If you want to open another issue for that it will help track it.  Thanks!

[2020-10-06 18:18] Spongman commented on #37011
thanks. i can read.

[2020-10-06 18:19] Spongman commented on #37011
i really don't think you're helping.

[2020-10-06 18:19] CyrusNajmabadi commented on #37011
This is not a crash.  This is marked as:

and

We report tehse as events when something unexpected happens.  It allows us to see how often this is occurring for users to help decide if it's worth fixing.  Thanks :)

[2020-10-06 18:20] CyrusNajmabadi commented on #37011
You asked if it could be triaged.  I'm pointing out this *has* been triaged.  It is currently on the backlog as 'help wanted'.  i.e. the triaging determined that this isn't high pri enough to schedule into a current or upcoming sprint.  However, if this is important enough for a community member to address, we would take a PR here.  Thanks! :)

[2020-10-06 18:24] CyrusNajmabadi commented on #47234
Basically, just attach debugger to:

![image](https://user-images.githubusercontent.com/4564579/95244190-7c952400-07c6-11eb-9e7f-9174caa87e2b.png)

attach to teh one that use less ram.  The big one is the OOP server for Roslyn.sln itself :)

[2020-10-06 18:27] vivlimmsft commented on #48058
Thanks, I'll follow up in email.

[2020-10-06 18:33] CyrusNajmabadi commented on #37011
I didn't say you should go fix it yourself.  I explained how this has been triaged.  Which is that it's currently on our backlog, but that we would welcome a community contribution if someone external is interested in fixing.  This is how we triage lots of issues that don't rise to the level of being assigned a particular release.

I'd rather be up front and clear about our triage process and waht

[2020-10-06 18:48] TobiasSekan commented on #48048
Hello,
IMHO I would prefer `docked CodeLens window to be the same as Find All Referenced window `

but I think for the most users it would be enough to give the `docked Code Lens window` more and more power, like
* Columns (file, containing member, ...)
* Different `Group by`
* Search in `Code Lens`
* ...

<img width="883" alt="2020-10-06 20_46_19-PowerToys - Microsoft Visual Studio Preview" src="

[2020-10-06 18:51] RikkiGibson commented on #47234
I was unable to set or hit breakpoints when using this method. Could you please confirm whether you are able to set and hit breakpoints when debugging using this method?

Steps I performed:

1. Open Roslyn.sln
2. "Start Without Debugging" on RoslynDeployment project
3. Find the two ServiceHub.RoslynCodeAnalysisService.exe processes in Task Manager, find the PID for the one that uses less memory
4.

[2020-10-06 18:52] svick commented on #48363
@333fred I don't quite understand how does that help define the format for function pointers. Consider the following table:

| C#                     | IL                     | doc Id          |
|------------------------|------------------------|-----------------|
| `int*`                 | `int32*`               | `System.Int32*` |
| `delegate*<int, void>` | `method void *(int32)` | ???

[2020-10-06 19:08] tmat commented on #47234
Memory dump can be found in https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1179103

[2020-10-06 19:43] chsienki commented on #48214
@Vake93 The likely cause is that you're missing some dependency for CodeDom. When the compiler tries to load your generator, it will load CodeDom, which fails, and the generator won't get loaded (hence why nothing executes when you reference it).

You can obviously try and figure out the correct dependency chain for CodeDom, but I would question the need for it. Is there something specific you're

[2020-10-06 19:49] AdamSpeight2008 commented on #48307
@Youssef1313 It is the same issue as #15779.  the variable named `b` is a different `b` to one being qualified as a member access on `pair.b`. So I we understand there is no shadowing,

The reason the I can't find the possible issue, is that if I recall correctly the affected line (and it's a single line) that it is in a kind of unrelated change (according to the pull request). Pull Request is som

[2020-10-06 19:55] cston commented on #19439
`type is MissingMetadataTypeSymbol` is a well-established pattern at this point.

[2020-10-06 19:55] #19439 closed

[2020-10-06 19:58] 333fred commented on #48363
I think it should follow the metadata encoding, in order to be language-agnostic.

[2020-10-06 20:20] olegtk commented on #48048
Good suggestion. Find All References has evolved recently, but CodeLens stayed the same. @jinujoseph please route it to the editor. It won't make 16.9 feature planning, but we will consider it for future releases. Thanks!

[2020-10-06 20:33] jinujoseph commented on #48048
Routed to [platform](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1226273)

[2020-10-06 20:33] #48048 closed

[2020-10-06 21:10] 333fred commented on #45692
Merged into 16.8.

[2020-10-06 21:10] #45692 closed

[2020-10-06 21:23] AdamSpeight2008 commented on #48307
Think this was the [pull request](https://github.com/dotnet/roslyn/pull/47251) where the option changed.

[2020-10-06 21:44] louis-z commented on #48027
No worries @genlu, it was easy to create a test that reproduces the problem. However, I'm thinking that since the code snippet you provided doesn't compile, CSharpImplementImplicitlyCodeRefactoringProvider should simply not report anything. Is that what you had in mind?

[2020-10-06 21:47] JoeRobich commented on #48057
@KirillOsenkov We could take the suggestion from @tmat in [this comment ](https://github.com/dotnet/arcade/issues/5436#issuecomment-626028381). We could update the "eng\build.sh" and "eng\build.cmd" to invoke MSBuild twice. Once isolated to the restore and pass Restore.binlog as the log name. Then a second time to perform the build and other duties with Build.binlog as the log name.

[2020-10-06 22:47] dpugh opened #48370 "Intellisense should not a complete match in favor of a prefix match when typing commit characters"
If I create a toy C# console application, delete the usings, and type "Console." in Main, ConsoleApp1 gets completed in favor of Console (which is what I actually typed), even though Console was in the completion list.
![completion](https://user-images.githubusercontent.com/11394666/95267197-8714e500-07e9-11eb-9e0b-c266e0eae4d2.png)

I understand the desire to avoid silently importing usings but,

[2020-10-06 23:08] mikadumont commented on #33532
Tracking with this issue: https://github.com/dotnet/roslyn/issues/32149

[2020-10-06 23:08] #33532 closed

[2020-10-06 23:22] CyrusNajmabadi commented on #48370
This is intentional and appropriate.  THe "Exact match" is to a namespace *not* in scope.  We do *not* want to match to tehse when there are valid prefix names in scope.  We explicitly did this because we had the previous behavior and it aggravated people to no end as it was causing them to exactly matching things in namespaces they didn't care about and cause those namespaces to be added.

Taggin

[2020-10-06 23:24] CyrusNajmabadi commented on #48370
This woudl be the case no matter what.  if you type a prefix of something in scope, and you're trying to refer to soemthing that does not exist, you may always get completion.  This has been behavior we've had since VS2005.  The option here if you do not want this behavior is to disable this:

![image](https://user-images.githubusercontent.com/4564579/95270436-54221f80-07f0-11eb-9030-694c93fcddaa.

[2020-10-06 23:29] mikadumont commented on #36812
Proposal:

When `track active items` is checked:
![image](https://user-images.githubusercontent.com/46729679/95270252-00173b00-07f0-11eb-81e1-aeee26c38615.png)

Then we automatically expand the nodes within solution explorer of where your selection is in the code:
![image](https://user-images.githubusercontent.com/46729679/95270683-e9251880-07f0-11eb-8ba6-0314bdc6ef55.png)

[2020-10-06 23:44] #39447 closed

[2020-10-07 00:14] mikadumont opened #48381 "Code cleanup support for all EditorConfig options"
Selecting configure code cleanup should show every EditorConfig option:

![image](https://user-images.githubusercontent.com/46729679/95273209-4e7c0800-07f7-11eb-900e-22ad2a175534.png)

[2020-10-07 00:14] mikadumont opened #48382 "Code cleanup support for all EditorConfig options"
Selecting configure code cleanup should show every EditorConfig option:

![image](https://user-images.githubusercontent.com/46729679/95273209-4e7c0800-07f7-11eb-900e-22ad2a175534.png)

[2020-10-07 00:15] mikadumont commented on #48382
Related to https://github.com/dotnet/roslyn/issues/40163

[2020-10-07 00:19] mikadumont opened #48383 "Code cleanup support for third party analyzers"
Configure code cleanup should show every third party analyzer fixer if a user has that third party analyzer package installed (StyleCop). This includes the .NET 5 SDK analyzers:

![image](https://user-images.githubusercontent.com/46729679/95273465-05788380-07f8-11eb-958d-fef869d27e92.png)

[2020-10-07 00:19] mikadumont commented on #48383
This relates to https://github.com/dotnet/roslyn/issues/40163

[2020-10-07 00:39] mikadumont commented on #35708
Proposal:

`Document Outline` should not be empty when selecting a C# file and have the file structure view:

![image](https://user-images.githubusercontent.com/46729679/95274487-d6afdc80-07fa-11eb-9915-d52e3aff6bcb.png)

![image](https://user-images.githubusercontent.com/46729679/95274451-be3fc200-07fa-11eb-89a8-98e61ee8ddcb.png)

[2020-10-07 00:44] #48382 closed

[2020-10-07 00:58] Sunnie-Shine commented on #48233
@jasonmalinowski I'm so sorry :( I don't know the bug had been fixed in 16.8 by the time I opened this issue! Thank you for your reply and suggestion!

[2020-10-07 00:59] Sunnie-Shine commented on #48324
@jasonmalinowski Thank you! I'm sorry for this issue :(

[2020-10-07 01:06] Youssef1313 commented on #48115
If the implementation is updated to use HashCode.Combine (see https://github.com/dotnet/roslyn/issues/47514), we wouldn't probably have this issue. With the current design, the problem does seem to be in the following line:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.Lowered.cs#L286

[2020-10-07 01:08] vsfeedback opened #48385 "Dynamic order of light bulb menu's causes loss of productivity"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1209037/dynamic-order-of-context-menus-causes-loss-of-prod.html)._

---
[severity:It's more difficult to complete my work]
I find I am struggling with the dynamic reordering of context menu items in the C# text editor.  The problem is that it forces me to have to read the c

[2020-10-07 01:09] vsfeedback opened #48386 "Dynamic order of context menu's causes loss of producitivy"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1209037/dynamic-order-of-context-menus-causes-loss-of-prod.html)._

---
[severity:It's more difficult to complete my work]
I find I am struggling with the dynamic reordering of context menu items in the C# text editor.  The problem is that it forces me to have to read the c

[2020-10-07 01:22] KirillOsenkov commented on #48057
Whatever works best, as long as we have a binlog to investigate Restore.

[2020-10-07 01:22] KirillOsenkov commented on #48057
Note the comment about performance, having two phases shouldn’t be longer than a single phase.

[2020-10-07 01:32] Vake93 commented on #48214
Thanks for the explanation I'll try to resolve the dependencies. But shouldn't that be done when the source generator project builds?

As for why I'm using CodeDom; If I'm not using CodeDom, the 2 other alternatives is to use string builder or syntax trees to build the new generated code. If I use string builder maintaining and changers down the line would be difficult. Using syntax tree api is to

[2020-10-07 01:36] Vake93 commented on #48214
That wasn't my intention, sorry. 😅
Source generators are awesome new tool but I think there has to be a better way to build the generated source other than using sting builder and sting concatenation.

[2020-10-07 02:24] tmat commented on #48057
We do have binlog for Restore. It's in Build.binlog. It contains all build phases.

[2020-10-07 02:33] CyrusNajmabadi commented on #36812
Please don't do that :)    def do not want these item expanded by default, and i always use 'track active item'.

Perhaps consider having two options "track active file" and "track active symbol".  The later will do what you're asking about here.

Thanks!

[2020-10-07 02:35] VBAndCs opened #48387 "[VB.NET] Wrong assignments to interfaces do compile"
In design time, when ` Option Strict off`, all assignments to interfaces are OK, even it is obviously impossible because the class doesn't implement the interface. I tested with IEnumerable, IQueryable, and IList. This code sample compiles correctly (and it must not) but gives runtime errors of course!

[code]

Note:
This code will not compile as expected:
[code]

Is there any case that a class th

[2020-10-07 02:47] CyrusNajmabadi commented on #48387
I don't see anything in the spec that would cause errors here in the cases you've mentioned.  `option strict` is covered here:

https://github.com/dotnet/vblang/blob/master/spec/source-files-and-namespaces.md#option-strict-statement

There it says:

Which indicates that non-strict semantics narrowing conversions without an explicit cast are allowed.

The conversions spec says this about narrowing

[2020-10-07 02:49] CyrusNajmabadi commented on #48387
I'm going to close this out as Roslyn seems to be working as expected.  If you disagree please let me know, including links to the appropriate places in the spec that you think the impl contradicts.

If you do not like how the specification works here, then the appropriate thing to do is open an issue at dotnet/vblang.  Thanks!

[2020-10-07 02:49] #48387 closed

[2020-10-07 03:05] VBAndCs commented on #48387
S, why VB refused this:
`Dim y As Foo1 = New foo2`

`Option Strict Off` doesn't allow converting between types without a CType. It allows narrowing (and the risk on the coder). Other cases include base classes and children, Interfaces and implementing classes. Here there is nothing of those cases. It is obviously clear that a runtime error will happen.
So, I think this Interface behaviour should b

[2020-10-07 03:07] VBAndCs commented on #48387
Please Don't close issues before hearing the response on your answer. This is defiantly a bug or at least misbehaviour.

[2020-10-07 03:16] VBAndCs commented on #48387
@AdamSpeight2008 @paul1956 @Happypig375  @pricerc @hartmair @franzalex  @gilfusion
What do you thing about this?

[2020-10-07 03:25] CyrusNajmabadi commented on #48387
That doesn't appear to be a narrowing conversion.  Afaict, there is no conversion that would allow that.  So this isn't allowed because the language has no conversion that for *at all*.

Option strict on/off is about if *narrowing* conversions are allowed are not.

[2020-10-07 03:25] CyrusNajmabadi commented on #48387
If you can point to the part of the spec that you feel demonstrate that, please let me know and i can reopen.  Thanks! :)

[2020-10-07 03:28] CyrusNajmabadi commented on #48387
That's literally what the spec on conversions says:

:)

And option-strict-on is what causes you to get errors if you have a narrowing conversion without an explicit cast.  Since you are in option-strict-off, i'm not seeing what part of the spec says this should be disallowed.  Please point to what you think would disallow this.  Thank you :)

[2020-10-07 03:29] VBAndCs commented on #48387
Option strict on/off is about if narrowing conversions are allowed are not.

This is exactly the case in other wrongly accepted codes!

[2020-10-07 03:33] CyrusNajmabadi commented on #48387
What do you mean?  The spec here says: https://github.com/dotnet/vblang/blob/master/spec/conversions.md#reference-conversions

There is no defined conversion between Foo1 and foo2.  There are defined conversions between `IList(Of Foo1)` and `foo2` and between `IList(Of Foo1)` and `List(Of foo2)`.

If you believe otherwise *point out why using the specification*.  I have linked exactly to the point

[2020-10-07 03:34] VBAndCs commented on #48387
You seem to totally miss the point:
Regardless of Option Strict and Ctype operators, VB doesn't allow any sort of conversion whatever between collections if their elements have different types (even these types are related or can be casted).
IList, IQueryable and IEnumarble must be treated as Collections here. If there is no specification for that, please add it. :)

[2020-10-07 03:35] CyrusNajmabadi commented on #48387
Yes it does.  I just pointed to the part of the spec that allows this.  Again, it is right here:

https://github.com/dotnet/vblang/blob/master/spec/conversions.md#reference-conversions

It says so *right there*.  Any class or interface type can be converted to and from any interface type.  That is exactly the case we have here.

[2020-10-07 03:37] CyrusNajmabadi commented on #48387
IList/IQueryable/IEnumerable are all interfaces.  The specification says that any class/interface type can be converted to/from them.

Specification requests are not filed at dotnet/roslyn.  If you want the specification changed, please file an issue at dotnet/vblang.

[2020-10-07 03:40] VBAndCs commented on #48387
And here is another point to check in specs:
Generic interfaces have a type param, and should be checked in design time. IQuery(Of Foo1) is not related to object only, but also to Foo1. So, there is no way to accept classes of type params other than Foo1. This is a crystal clear situation, and specs should deal with it.

[2020-10-07 03:41] CyrusNajmabadi commented on #48387
The spec does deal with it.  I have linked to where it is dealt with.  If you do not like how the specification deals with it, then the appropriate thing to do is to open an issue at dotnet/vblang where you can put forth a design on how the language should change.  Right now the compiler (dotnet/roslyn) seems to be implementing the language properly.

[2020-10-07 03:43] CyrusNajmabadi commented on #48387
`option strict on` will check at compile time and will produce an error if you are using a narrowing conversion without a cast.  If you have `option strict off` then it will not.  This seems like the easy thing to do here to get hte behavior you are asking for :)

[2020-10-07 04:08] VBAndCs commented on #48387
Let me rephrase:
My practical case involves a LinQ query that returns `IQuerable(Of Fee)`, but in a copy and paste operation I forgot to change the return type of the function from `IQuerable(Of Operation)` fo `IQuerable(Of Fee)`, and got no error in compile time. Here is the conversion is between two incompatible interfaces not a class and an interface, and I think the specs says something about

[2020-10-07 04:17] KirillOsenkov commented on #48057
@tmat in my script I call Restore.cmd and then Build.cmd separately:

[code]

Is this not how I'm supposed to be doing this? When I call just Restore.cmd I see no binlog anywhere.

[2020-10-07 04:35] CyrusNajmabadi commented on #48387
Feel free to point to where you think the spec says this.  If you are correct, i will reactivate the issue.  Absent that, i'm going to keep the issue closed as i can't find anything in the spec supporting that statement.

[2020-10-07 04:39] CyrusNajmabadi commented on #48387
Yes.  You have not enabled `option strict on`.  If you don't enable that then narrowing conversions are allowed.  As the spec says (as i've linked to numerous times), there is a narrowing conversion:

With `IQueryable(Of Operation)` to `IQueryable(Of Fee)` there is no inheritance relationship between either of those types, and those types are not variant compatible.  As such, it's a narrowing conv

[2020-10-07 04:45] VBAndCs commented on #48387
A side question: Can this considered a bug in the language or it is by design:
https://github.com/dotnet/vblang/issues/572#issuecomment-704675444 (and see my next comment on that)

[2020-10-07 04:46] CyrusNajmabadi commented on #48387
@VBAndCs i think you really should read through the spec.  Of high relevance is this part:

You are using permissive semantics.  So all narrowing conversions may occur implicitly.  The examples you have given are all narrowing conversions.  So they are allowed.  If you don't want that, use `option strict on`.

[2020-10-07 04:47] CyrusNajmabadi commented on #48387
@VBAndCs I have hidden your question for being off topic.  If you have questions about that issue, please use that issue to discuss them.  Thanks.  Alternatively, you can discuss it on gitter or discord.  Please don't use other issues to discuss things unrelated to them.

[2020-10-07 05:05] tmat commented on #48057
No, that's not how you should do this. Call `build -r`.

[2020-10-07 05:06] tmat commented on #48057
That said, we should include `-r` in build by default.

[2020-10-07 06:05] Happypig375 commented on #48387
@VBAndCs
[code]

[2020-10-07 07:23] janbaltus commented on #39286
@mavasani
all 3 examples need to be locked or only command  cmdidErrorListSetSeverityDefault|CommandName?

0; "cmdidErrorListSetSeverityDefault|ButtonText"
0; "cmdidErrorListSetSeverityDefault|CommandName"
0; "cmdidErrorListSetSeverityDefault|LocCanonicalName"

[2020-10-07 09:21] davidwengier opened #48392 "Improve F1 help for tokens with multiple uses"
There are a number of keywords and tokens in C# that have different meanings based on context and in a lot of cases our F1 documentation doesn't draw any distinction between different usages, despite there being docs pages written for each use.

This work would be done in conjunction with, or after https://github.com/dotnet/docs/issues/20799 has been completed, to ensure unique `f1_keyword` metada

[2020-10-07 13:34] Ghostbird commented on #39489
I ran into this issue too, it took me a while to figure out where this went wrong. It turns out that because `foo.CustomData` is `dynamic`, the type of `&&` is `dynamic`.
[code]
I read the documentations and understand that it is possible to override the `false` and `&` operator so that the right hand side is evaluated even though `outerEx` is not of `MyException`, and foo was not assigned.

**I'm

[2020-10-07 14:09] Youssef1313 commented on #48392
@davidwengier Should we have another issue to track F1 service for codestyle options?
See https://github.com/dotnet/docs/pull/20892#discussion_r499620992

I tried to give it a look. Here is the IHelpContextService interface.

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/VisualStudio/Core/Def/Implementation/F1Help/IHelpContextService.cs

Its method receives a `

[2020-10-07 14:59] sharwell commented on #48254
Also hit #48391

[code]

[2020-10-07 15:01] sharwell commented on #48386
Duplicate of #48385

[2020-10-07 15:01] #48386 closed

[2020-10-07 15:04] sharwell commented on #48381
Not all .editorconfig options are suitable for automatic cleanup. We've been attempting to avoid placing items in Code Cleanup that have the potential of changing application behavior when applied, even if that change only occurs occasionally.

[2020-10-07 15:07] sharwell commented on #48370
This is correct. One example that hit me all the time is some type in Elfie named `Read`. In any assembly that contained a reference to Elfie, I was not able to declare any `readonly` fields because it always ended up completing that type instead.

[2020-10-07 15:11] sharwell commented on #48370
Note that the specific scenario you describe is more likely covered by the Suggestion Mode option:

![image](https://user-images.githubusercontent.com/1408396/95350119-ad339700-0874-11eb-9e75-5e820a201b26.png)

[2020-10-07 15:11] #48370 closed

[2020-10-07 15:14] sharwell commented on #48364
@cristianosuzuki77 What is the expected syntax for locking? It is easy for us to maintain these comments in new strings as long as the available syntax is documented.

[2020-10-07 15:28] CyrusNajmabadi commented on #48262
Have spent a couple of hours looking into this and i cannot rationalize how this is happening.  All our DB accesses seem safe and are written as per the documented API.  Have asked for the A/B test to be disabled in the meantime.

[2020-10-07 15:56] #42760 closed

[2020-10-07 16:03] TessenR commented on #48126
@jcouv Thanks for clarification.

Could you please also clarify what expressions should produce warnings?
I see a couple of scenarios where there's no warnings even though the expression is known to be constant e.g. there are no warnings in the following methods:

[code]

Is this intended? All these expressions can be used as constants so I expect the compiler to know their values and give warning

[2020-10-07 16:31] Youssef1313 commented on #48247
I suspect the following line to be the problem:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs#L524

Nearly all the callers passes the symbol's original definition. So this line should probably have been:

[code]

[2020-10-07 16:37] MartynJones87 commented on #48070
I'm really struggling with this. I've tried everything I can think of; I've deleted and re-cloned to a different folder on disk, killing any lingering VBCSCompiler and MSBuild processes, pulling from master in case a fix has been made, different terminals. Just keep getting the same error:

[code]

Does anybody else have anything else I can try? Thanks very much!

[2020-10-07 16:52] CyrusNajmabadi commented on #48070
Can you just use `handle.exe` to see what is locking this?  https://docs.microsoft.com/en-us/sysinternals/downloads/handle
?

[2020-10-07 17:14] MartynJones87 commented on #48070
It doesn't appear to be anything locking the file, but the file doesn't exist within that folder:
![image](https://user-images.githubusercontent.com/1846942/95364534-da119980-08c8-11eb-8c1d-3d4a4ea97469.png)

[2020-10-07 17:20] MartynJones87 commented on #48070
There is a little more information in the build errors within VS:
![image](https://user-images.githubusercontent.com/1846942/95365207-c0248680-08c9-11eb-82f7-0ef3007b0b29.png)

[2020-10-07 17:33] CyrusNajmabadi commented on #48070
Have you rebooted?  What does 'handle.exe' say is locking the file?  Can you close VS and trying building outside of it?

[2020-10-07 17:42] mikadumont commented on #32149
Proposal:

Similar to @sharwell's [Inheritance Margin](https://marketplace.visualstudio.com/items?itemName=SamHarwell.InheritanceMargin) extension have inheritance icons in the margin of the Visual Studio text editor. Clicking on the icon helps you navigate to the following:

1. Inheritors / Implemented  ![Implemented 15 9](https://user-images.githubusercontent.com/46729679/95367291-6f8d3900-0889-

[2020-10-07 17:45] MartynJones87 commented on #48070
I have rebooted several times. I've also built from the command line and get the same error.

I've also cleared the Nuget cache and restored again in case something in there was corrupt.

Handle is not reporting anything locking the VBCSCompiler.exe file.

[2020-10-07 17:45] #48117 closed

[2020-10-07 17:49] VBAndCs commented on #48387
The compiler may expect to have a narrowing in runtime, if only the opposite conversion is widening. Dealing with generic interfaces, must force VB to check the generic types, not only the interfaces types, and here Foo1 and Foo2 doesn't have a widening operation to expect they may have a narrowing one in runtime. VB refuses to cast each of them to each other, so, defiantly it must do the same wit

[2020-10-07 18:06] TessenR commented on #48126
Interesting that this `M1` here doesn't have a warning while `M2` does. Looks like a bug to me
[code]

[2020-10-07 18:26] jasonmalinowski commented on #47845
Turns out the impact is VS crashes.

[2020-10-07 18:42] jcouv commented on #47549
Will be fixed by https://github.com/dotnet/roslyn/pull/48393

[2020-10-07 18:47] cristianosuzuki77 commented on #48364
Inside the trans-unit, add {Locked} to the <note> element to lock the entire string or {Locked="lorem ipsum"} if you just want to lock the substring "lorem ipsum" from the entire string.
Eg:
<trans-unit id="AddLaunche">
        <source>'addlauncher' command to the path.</source>
        <target state="new">'addlauncher' command to the path.</target>
        <note>{Locked}</note>
      </trans-unit

[2020-10-07 18:54] sharwell commented on #48364
@cristianosuzuki77 Thanks, that's _super_ helpful! I have also seen some request for clarification of placeholders (e.g. `{0}`). Is there a syntax we can use to document those, or should we just respond to those if/when they are raised during translation?

[2020-10-07 19:01] jasonmalinowski commented on #48214
Adding @cartermp to this, as "I wish I had a saner generation API" is something we've heard from other places too.

[2020-10-07 19:30] #48238 closed

[2020-10-07 19:45] CyrusNajmabadi commented on #48070
Antivirus? Some random user mode driver?  I'm honestly not sure what could be going on.  Windows appears to be saying the file is locked, but the tools that tell you what is locking it appear to say nothing is locking it.  Potentially busted windows install?

Have you tried a different git directory to work out of?

[2020-10-07 19:47] CyrusNajmabadi commented on #48387
I honestly don't know what you're asking for.  As i've pointed out, the compiler seems to be operating as per the spec.  If you disagree you *must* point out the particular parts of the spc that you think it is violating.  Absent that there will be no further movement on this topic.

Again, if you do not actually point out the spec violation that is occurring, nothing will change here.  Also, when

[2020-10-07 19:48] CyrusNajmabadi commented on #48387
I see nothing in the spec that says this is how things work.  The spec is explicit here and refers to "interfaces" as a whole. That means it applies to both normal interfaces and generic interfaces.  So the same rules apply for those.  If you feel otherwise, you must link/quote the section of the specification you feel supports your position.

Further comments that do not do this will not be acted

[2020-10-07 19:53] #44036 closed

[2020-10-07 20:08] jcouv opened #48408 "Display discard values when debugging"
We should try showing discarded values in the debugger if we can. (debugger-discards branch)
Note: F# doesn't show discards while debugging.
Should we also expose them in EE in some way?

Follow-up from https://github.com/dotnet/roslyn/issues/38820 (test plan for lambda discards)

[2020-10-07 20:09] jcouv commented on #38820
Filed a follow-up issue for discards in debugger: https://github.com/dotnet/roslyn/issues/48408
I'll close this test plan now

[2020-10-07 20:09] #38820 closed

[2020-10-07 20:10] cristianosuzuki77 commented on #48364
The <note> can be used for adding explanations of placeholders or of any other contextual information that will help localization.

[2020-10-07 20:11] cristianosuzuki77 commented on #48364
Sorry, the "note" tag can be used for adding explanations of placeholders or of any other contextual information that will help localization.

[2020-10-07 20:12] allisonchou opened #48410 "Implement LSP code action grouping"
Now that support for code action grouping has been added in LSP (https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1168524), we should implement this on the Roslyn side.

[2020-10-07 20:16] alrz commented on #48408
There's some info at https://github.com/dotnet/roslyn/issues/29739

[2020-10-07 20:18] cristianosuzuki77 commented on #39286
@wli3

[2020-10-07 20:28] wli3 commented on #39286
@sharwell @mavasani please work with @janbaltus @cristianosuzuki77 to resolve the issue soon. We are closing on 16.8 loc

[2020-10-07 21:08] jcouv commented on #48408
Oops, didn't realize we had an issue already. Closing as dupe of https://github.com/dotnet/roslyn/issues/29739 :-)

[2020-10-07 21:08] #48408 closed

[2020-10-07 21:14] davidwengier opened #48414 "[LSP] Enable push or pull diagnostics but not both"
Clients can now indicate if they support pull diagnostics as per https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient/pullrequest/279454 so we should check for that, and send push diagnostics as a fallback.

Probably should wait for https://github.com/dotnet/roslyn/pull/48328 to be in to avoid conflicts, or target that branch.

[2020-10-07 23:41] jaredpar opened #48417 "VB has non-deterministic output when anonymous types differ in case"
Consider the following VB code

[code]

[code]

The output of this program is non-deterministic. Because VB is case insensitive under the hood here only a single anonymous type object is created. The casing of the field representing `X` here will be determined by the first use of the anonymous type. Given that our files are bound in parallel if we have an anonymous type that differs by only case o

[2020-10-07 23:43] jaredpar commented on #48417
@AlekseyTs i'm not quite sure what the best fix is going to be here. Think we need to find some way to pick the "best" definition here but I don't have any intuition as to what that would be. Also would like to ensure you agree with the analysis here.

[2020-10-08 00:32] RikkiGibson commented on #47234
Please let me know about [this](https://github.com/dotnet/roslyn/issues/47234#issuecomment-704482322) when you have the chance--it would be great to know where things may be going wrong in my setup to make debugging issues that show up in the IDE more easily. @CyrusNajmabadi @tmat

[2020-10-08 00:37] tmat commented on #47234
@RikkiGibson It doesn't seem like you are debugger the bits built on your machine since those wouldn't be GAC'd.

When I want to be sure the build deploys to RoslynDev hive I do following:
1) delete `C:\Users\{user}\AppData\Local\Microsoft\VisualStudio\16.0_*RoslynDev`
2) `build -d` from command line

[2020-10-08 00:38] 333fred opened #48423 "Add timeout to IApexAsynchronousOperationListenerProviderAccessor.WaitAllAsync"
The external access api does not allow passing a `timeout`, which is why the Apex ManagedLanguages provider uses AsynchronousOperationListenerProvider directly, instead of going through the external access layer. We should add `timeout` as an optional parameter, then move the apex layer off using the API directly.

[2020-10-08 01:51] jcouv commented on #48126
@TessenR Fix is in progress. I was relying on whether the analysis state was conditional, which is different from whether the returned value is constant.

[2020-10-08 02:33] #44076 closed

[2020-10-08 02:47] davidwengier commented on #48392
Yes, that seems unrelated to this one.

[2020-10-08 03:54] AlekseyTs commented on #48417
I think we are ordering anonymous type templates to emit them in deterministic order. If I remember correctly, they are ordered based on lexical order of the first usage. If we are not picking casing of property names in the same order, I think we should. I will have to take a closer look at the current implementation to provide more details, but I think we can solve this problem.

[2020-10-08 04:54] #48027 closed

[2020-10-08 08:24] Bouke opened #48430 "GeneratedMSBuildEditorConfig.editorconfig added to project root"
https://github.com/dotnet/roslyn/pull/43617 introduced generation of editor files. Those should be written to `obj\debug\` (or whatever `IntermediateOutputPath` is pointing to. However for one of my projects it is generating the file in the project's root.

Setting `IntermediateOutputPath` explicitly to ``obj\debug\`` generates the file in the specified folder.

I've added the following to my cspr

[2020-10-08 08:29] MartynJones87 commented on #48070
Bingo! Antivirus it was. I spent so long trying to fix that it I was looking in the wrong place! Thank you very much for your patience, I'll get back to making the fix now.

[2020-10-08 08:52] weitzhandler commented on #48318
I'm on it.

Does this test represent what we want (will add more cases, of course):

[code]

[2020-10-08 09:27] YairHalberstadt opened #48431 "Get rid of "An explicit conversion exists (are you missing a cast?)" from CS0266"
CS0266 has the following error message:

It comes up pretty much everywhere where the target type doesn't match the expression type, since almost any type can be explicitly converted to any other type. However in 99% of cases, it's not the correct solution, and so is just noise - it can also be confusing for users, who may add an explicit cast (thinking the diagnostic means an explicit cast operat

[2020-10-08 09:53] LeaFrock opened #48432 "Tips optimization for covariation"
**Brief description:**

Recently I met a confusing problem about covariation. Details see the link below please,
[dotnet/csharplang/discussions/3985](https://github.com/dotnet/csharplang/discussions/3985)

**Languages applicable:**

C# (I don't know whether VB has covariation...)

**Code example that the analyzer should report:**

[code]
Currently here the compiler reports the error as `...cannot

[2020-10-08 09:55] Youssef1313 opened #48433 "Add F1 help service for codestyle options in .editorconfig"
Tracking issue for F1 service for codestyle options?
See https://github.com/dotnet/docs/pull/20892#discussion_r499620992

I tried to give it a look. Here is the IHelpContextService interface.

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/VisualStudio/Core/Def/Implementation/F1Help/IHelpContextService.cs

Its method receives a `Microsoft.CodeAnalysis.Document`,

[2020-10-08 10:02] JayCroghan commented on #43802
16.4.8 R3 does not fix this issue - I installed it today and opened the massive project and within seconds I get OOM.

[2020-10-08 11:26] Joe4evr commented on #48431
+100. The amount of times I've seen people doing something like `(User)o.Users` because they think that'll get them a single thing out of a collection of things (and proceed to complain that their code blows up) is staggering.

[2020-10-08 12:05] Youssef1313 commented on #47987
I'll work on this.

[2020-10-08 13:05] VitaliySmolyakov commented on #45465
Thanks for fixing that. But why it's still not released?! Who is deciding in which version to release it? So frustrating...

[2020-10-08 13:19] Vake93 commented on #48214
hey @chsienki when I looked at the dependencies for CodeDom there isnt any. (See: [nuget](https://www.nuget.org/packages/system.codedom))
Any idea what else might be the issue here causing generator to not load?

[2020-10-08 13:41] sharwell commented on #43802
@JayCroghan Visual Studio 16.8 Preview 3 and newer fixes this issue (the code which led to this does not exist anymore). However, there may be other problems present. If you file a feedback using the following steps we can start the investigation:
https://docs.microsoft.com/en-us/visualstudio/ide/how-to-increase-chances-of-performance-issue-being-fixed?view=vs-2019#crashes

[2020-10-08 13:47] sharwell opened #48435 "Visual Studio version 16.8 Preview 3.0 does not restore SDK projects"
**Version Used**: 16.8 Preview 3.0

**Steps to Reproduce**:

Run integration tests linked to this bug in CI.

**Expected Behavior**:

Tests pass.

**Actual Behavior**:

Tests fail due to failure to restore SDK references.

[2020-10-08 14:36] mavasani commented on #45465
This should be available in latest 16.8 Preview builds and soon in 16.8 release build, when released.

[2020-10-08 15:41] #38054 closed

[2020-10-08 15:43] CyrusNajmabadi commented on #48318
I would actually say that it should nto be offered here:

[code]

Since this is noton a blank line between members.   I would add a few more cases (i.e. have a type with some fields/methods in it, not just empty).

[2020-10-08 15:49] CyrusNajmabadi commented on #48431
I strongly agree wiht this.  The benefit of the proposal as well is that we can have much better diagnostics and diagnostic-ids for the cases that can be likely fixed up properly.  This can then better drive IDE features to do things like `insert the appropriate subtype cast`.  Tagging @jcouv to see if this is something that could be picked up.

[2020-10-08 15:49] weitzhandler commented on #48318
The compilation error is already here, even if there are no members. What if there aren't gonna be any members, just the constructor boiling down?

[2020-10-08 15:50] CyrusNajmabadi commented on #48214
@jasonmalinowski Wouldn't SyntaxGenerator be one of those 'saner apis'?  Can we not make that type available to be used?

[2020-10-08 15:52] CyrusNajmabadi commented on #45465
After we fix an issue, the code flows into the next release of VS.

Only super critical issues get preemptive patches to address this.  These have to be issues like "vs crashes on start" where the product is literally fully non-functional.  In this case the product is functional, albeit with an annoying bug.  So that will be provided on the normal release cadence for VS.  Thanks!

[2020-10-08 16:23] weitzhandler commented on #48318
The compilation error (CS7036) is already there even if there are no members. What if there aren't gonna be any members, just the constructor boiling down?
My suggestion is, if there is a compilation error (i.e. the base class constructor is protected), it should be offered anywhere in the class.

[2020-10-08 16:26] CyrusNajmabadi commented on #48318
Definitely do *not* do this :)   Consider something like:

[code]

The user's headspsace is not thinking about the class right now, and they are contextually miles away from this error/squiggle.  Just because that error has been reported *somewhere* does not mean the fix for it should be everywhere.

[2020-10-08 16:32] weitzhandler commented on #48318
Agree.
How about we only show it in the space between `Y { /*space*/ $$ /*anything*/`?

[2020-10-08 16:35] weitzhandler commented on #48318
So that:

[code]

[2020-10-08 16:39] Youssef1313 opened #48440 "Records: Current behavior doesn't match spec when re-defining Deconstruct method"
**Version Used**:

master

**Steps to Reproduce**:

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEDMACBcDGB7BAEwwGEBYAKAG9KM6N0GBGANgYBYMARXPAO1gIArjhgAKAJS16NCvQwBfSgqA=).

**Expected Behavior**:

Based on the [spec](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/records), an error is expected:

**Actual Behavior**:

No error.

Not sure if

[2020-10-08 16:41] lsoft opened #48441 "Understanding of generic-class casting performance"
Imagine, we have a set of classes:

[code]

and also we have a generic interface:

[code]

and we have a superclass like the following:

[code]

After that, we want to know about the time consumed by casting `Implementer1000` to various `IInterface<ClassX>`, so we write a test like that:

[code]

Main idea is cast equal count of interfaces (for example 50) from different ranges: [0;49], [450; 499]

[2020-10-08 16:46] vsfeedback opened #48442 "Toggle for C#/.Net default value names"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1208287/toggle-for-cnet-default-value-names.html)._

---
<p>It seems a bit silly for Intellisense to &quot;suggest&quot; shortening &quot;Int16&quot; to &quot;short&quot; - the former is an abstract which guarantees number properties independent of process and language, while

[2020-10-08 16:55] Youssef1313 commented on #48442
Does this suggest adding a code style option to choose between the .NET types and the C# aliases?

(By the way, it's not only a matter of style, See [this blog](https://blog.paranoidcoding.com/2019/04/08/string-vs-String-is-not-about-style.html) from @jaredpar)

[2020-10-08 16:55] RikkiGibson commented on #48440
Could you please clarify why an error would be produced in this case?

[2020-10-08 16:56] mikadumont opened #48443 "When moving/renaming a file/folder the namespace should be renamed automatically"
Waiting on Project System work: https://github.com/dotnet/project-system/pull/6658

[2020-10-08 16:56] mikadumont commented on #48443
Relates to https://github.com/dotnet/roslyn/issues/37243

[2020-10-08 16:57] CyrusNajmabadi commented on #48442
The two types are literally identical. C# recommends using the c# keyword by default since you are in c#. You can also disable this behavior. So the toggle already exists. As we are not going to change the default here, I'm going to close this out as by design

[2020-10-08 16:57] #48442 closed

[2020-10-08 16:59] Youssef1313 commented on #48440
For the same reason as the first case, the spec says:

The signature of the redefinition isn't the expected one (int vs string)

[2020-10-08 17:08] mikadumont opened #48444 "Ability to undo moving a file/folder"
Have the ability to undo moving a file/folder to a project or folder and perhaps have the following warning dialogue pop up:

![warningmessage](https://user-images.githubusercontent.com/46729679/61252629-ff8a1480-a712-11e9-884f-7fccbb5b105b.png)

Tracking issue on project system: [6089](https://github.com/dotnet/project-system/issues/6089)

[2020-10-08 17:12] mikadumont opened #48445 "Move to type to another file even if there is only one type in that file"
Dialogue to look similar to Move to namespace and have an option to remove source file:

![movefile](https://user-images.githubusercontent.com/46729679/61253239-277a7780-a715-11e9-9545-5d21d2484095.png)

Once you select Ok the namespace and type will then get moved to the destination file and if the remove source file is checked the source file will get deleted.

[2020-10-08 17:12] mikadumont commented on #48445
Relates to https://github.com/dotnet/roslyn/issues/37243

[2020-10-08 17:22] RikkiGibson commented on #48440
Thanks, I didn't squint hard enough at it 😄

My feeling at a glance of this is that we should modify the spec to only require expected `static`-ness, `virtual`-ness, parameter ref kinds, etc. on the Deconstruct whose signature matches the expected member for overriding purposes. e.g.:

[code]

We would need to fix the implementation either way.

Tagging @dotnet/roslyn-compiler for thoughts. I do n

[2020-10-08 17:26] jaredpar commented on #48440
The spec already explicitly mentions `static`. It mention matching on signature which is a term that generally encompasses items like ref kinds. Wouldn't hurt to be more specific though. I'm unsure if the omission of `virtual` was a deliberate decision or not. If it was deliberate it may help to be explicit that it's allowed.

@jcouv and @AlekseyTs are best to answer this.

[2020-10-08 17:44] ocallesp commented on #48443
Should we remove this Option ?
![image](https://user-images.githubusercontent.com/510598/95494716-2ef9f200-0953-11eb-95fd-a046a02018ef.png)

[2020-10-08 17:52] mikadumont commented on #48443
Can it be on by default for a release and if all goes well then we can remove the option to opt out?

[2020-10-08 18:08] mavasani commented on #39286
@janbaltus @cristianosuzuki77 Yes, all those strings should be locked and not localized.

[2020-10-08 18:11] jasonmalinowski opened #48448 "Clean up generation of diagnostics for analyzer loads that are used for deduping"
Filing this in reference to https://github.com/dotnet/roslyn/pull/48400/files#r501904464.

The IDE has logic to convert the failure to load an analyzer into a diagnostic, with some special hard-coding of error codes to ensure we can try to dedup them against the compiler diagnostic if the compiler also produces it. We also have to produce our own error message that more or less matches the compile

[2020-10-08 18:24] jasonmalinowski commented on #48430
(note there's a second report of this happening at https://stackoverflow.com/questions/64241729/new-generated-generatedmsbuildeditorconfig-file-since-recent-upgrade/64249123)

[2020-10-08 18:29] chsienki commented on #48430
@Bouke We would expect the generated file to be emitted under the `$(IntermediateOutputPath)`, but it's possible the targets are being included in a non-expected order.

Would you be able to capture a binary log of your build that we could inspect to understand why this is occurring? (https://docs.microsoft.com/en-us/visualstudio/msbuild/obtaining-build-logs-with-msbuild?view=vs-2019#save-a-binary

[2020-10-08 18:40] Youssef1313 opened #48449 "Expanding a file in Visual Studio shows classes but not records"
**Version Used**:

Visual Studio 2019 16.8 Preview 3

**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/31348972/95500002-7198ea00-09a6-11eb-8594-33dd92b8624b.png)

**Expected Behavior**:

Both classes and records are shown.

**Actual Behavior**:

Only classes are shown.

[2020-10-08 18:40] Youssef1313 commented on #48449
I'll work on this.

[2020-10-08 18:41] airbreather commented on #26488
In my ideal world, it works like this (n.b.: I haven't seriously looked at how other languages / IDEs handle this):

- If [`ObsoleteAttribute.IsError`](https://docs.microsoft.com/en-us/dotnet/api/system.obsoleteattribute.iserror?view=net-5.0) is `true`, then the member should be **filtered out**.
    - Reasoning: the compiler will **always** emit an error unless you change the member itself, so I

[2020-10-08 18:47] chsienki commented on #48214
Ah @Vake93 I didn't realize you provided a test solution, I just took a look. It is a dependency flow problem, but not directly because of System.CodeDom.

When you reference an analyzer via `ProjectReference` the dependencies from the analyzer project do not flow automatically. The generator is loaded into the test project, but it fails to load System.CodeDom. The solution is to pass System.CodeD

[2020-10-08 19:04] jcouv commented on #48440
I'm not sure how to best phrase the spec. @AlekseyTs may have an idea.
You can have a user-defined `Deconstruct` that doesn't interfere with a generated one (ie. could have those two overloads in source) or also has the correct accessibility, return type, and static-ness.
`Deconstruct` methods are errors when they prevent us from generating a method but are not proper to use instead of the one we'

[2020-10-08 19:06] Vake93 commented on #48214
![image](https://user-images.githubusercontent.com/8337494/95502338-512d5780-09c7-11eb-9773-2985ddcf9493.png)
@chsienki  Yes that work! Thanks. 😎

[2020-10-08 19:28] ajaybhargavb opened #48452 "Consider making IIndentationService public"
Razor LSP formatting heavily depends on this service to provide correct C# formatting. Because this is internal, we are currently using [reflection](https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/CSharpFormatter.cs#L121) to access this API but we would super appreciate it if this can be made public.

cc @jasonmalinowski @

[2020-10-08 19:41] jcouv commented on #48431
@YairHalberstadt Can you provide some scenario(s) to illustrate current (misleading) behavior with CS0266?
For `int` to `string`, I get "error CS0029: Cannot implicitly convert type 'string' to 'int'" (which is appropriate), not CS0266...

[2020-10-08 19:44] YairHalberstadt commented on #48431
@jcouv you get it when casting pretty much any non sealed reference type to another non sealed reference type (including interfaces)

[2020-10-08 19:46] Youssef1313 commented on #48452
It may be considered to be an `InternalsVisibleTo` instead of public.

[2020-10-08 19:47] Youssef1313 opened #48453 "Make sure ExtractMethod refactoring is working with records"
I haven't tested yet, but from looking at the code, it doesn't appear to support records:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.CallSiteContainerRewriter.cs#L369-L389

[2020-10-08 20:04] PathogenDavid commented on #26488
Personally I'd want to see it there anyway because I think it would cause confusion for people who knew about the now-obsolete API and the obsolete message would hopefully point me to the replacement API.

[2020-10-08 20:31] thomaslevesque opened #48454 "Confused about namespaces and overload resolution"
I just noticed something really weird.

I maintain a [library](https://github.com/thomaslevesque/Linq.Extras) that provides extension methods to `IEnumerable<T>`. This library exposes a `ToHashSet` method. Everything worked fine, until `Enumerable.ToHashSet` was also introduced in `net472`, `netcoreapp2.0` and `netstandard2.1`. Predictably, this caused an ambiguous invocation error when both the L

[2020-10-08 20:39] TanayParikh opened #48455 "<auto-generated> Comment Changes Diagnostics"
**Version Used**: VS Preview 16.8-Preview4

**Steps to Reproduce**:

1. Create a `Counter.cs` file as part of a project.
2. Paste in:

[code]

3. Note, the `System.Diagnostics` FQN is in bright white (it takes precedence over `using System.Diagnostics`.
4. Remove `<auto-generated`. Note the FQN is in a lighter color (signifying it can be simplified `IDE0002`)

**Expected Behavior**: The `<auto-gen

[2020-10-08 20:47] thomaslevesque commented on #48454
OK, answering my own question. I found the relevant section in the C# 5 spec (since no spec is available for later versions), §7.6.5.2:

This behavior was surprising to me, but it's working as specified.

[2020-10-08 20:48] #48454 closed

[2020-10-08 20:49] thomaslevesque commented on #48454
(And it should have been a discussion rather than an issue... Sorry about that, I'm not yet used to the new discussions feature.)

[2020-10-08 21:58] KirillOsenkov commented on #48057
@tmat so what's the purpose of Restore.cmd if I shouldn't be calling it? Whatever it's use is, when run independently it needs a binlog. If it's not used, let's delete it?

[2020-10-08 22:28] Youssef1313 commented on #48455
I believe this design was intentional, most IDExxxx (and analyzers in general - except security-related analyzers) are configured not to work on generated code:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Features/Core/Portable/SimplifyTypeNames/SimplifyTypeNamesDiagnosticAnalyzerBase.cs#L93

If the analyzer reports on the code, then you apply the codefix, a

[2020-10-08 22:36] tmat commented on #48057
Build.ps1 has multiple switches that enable/disable various build phases (restore, build, test, pack, sign, etc.). Build.ps1 is meant to be executed once per build for which you want to see binlog. It runs all specified phases as a single MSBuild invocation and thus produces a single binlog (Build.binlog).

`(Restore|Build|Test).cmd` are just shortcuts that enable the specific phase. You can certa

[2020-10-08 23:00] KirillOsenkov commented on #48057
I guess this is what this bug is about: Restore.cmd should pass -binaryLog to Build.ps1 and specify a different name for the binlog (e.g. Restore.binlog) so it doesn't clash with Build.binlog.

Is this syntax supported? `Restore.cmd -binaryLog`? I'm OK with passing -binaryLog myself, as long as it's forwarded to Build.ps1.

Additionally, is something like this supported? `Build.ps1 -binaryLog:Rest

[2020-10-08 23:34] tmat commented on #48057
No it's not supported. Why are you not just calling `build -r` if your want to build and restore?

[2020-10-08 23:36] tmat commented on #48057
Do you want separate binlogs for restore and the rest of the build?

[2020-10-08 23:43] chsienki opened #48461 "Improve generator tests on desktop TFMs"
We currently only run the various generator load tests on CoreCLR, as the generators are defined in the test assembly itself and so on Desktop TFMs we refuse to load them.

We should split the tests up into more fine grained scenarios that allow us to only disable the invalid cases on desktop rather than all of them.

[2020-10-09 00:04] TanayParikh commented on #48455
Yes. Ideally, `IDE0002` would be present in the `.razor` file as well. From my understanding, razor gets these diagnostics from the underlying `.razor.g.cs` file which is prefixed with the `<auto-generated>` comment.

I don't believe this would be an issue in the razor case. Once the analyzer reports a particular diagnostic, and a code action is applied in the `.razor` file, the generated code wou

[2020-10-09 00:14] Youssef1313 commented on #48455
@TanayParikh I have no idea how the compiler works with `.razor` files. But it sounds reasonable that `.razor` file gets IDE diagnostics, but *not* generated C# file.

[2020-10-09 00:34] louis-z commented on #48219
If there's no rush, I'd be willing to take a stab at it. I too would love to have this.

[2020-10-09 00:37] sharwell commented on #48455
Simplify type names does not run on generated code because it's a _very_ expensive analyzer and generated code is often _very_ large. Even if we don't show suggestions to make changes, we would have to run the analyzer to identify locations to fade.

[2020-10-09 00:44] sharwell commented on #48455
@TanayParikh we should come up with a new title for this. The original question is By Design, but it seems like the actual question you're looking for an answer to involves a _much_ more specific scenario.

[2020-10-09 00:59] Youssef1313 commented on #48219
@louis-z I think you can go for it. You may find existing implementations useful:

- https://github.com/dotnet/roslyn/tree/master/src/Features/Core/Portable/ConvertToInterpolatedString
- https://github.com/dotnet/roslyn/blob/master/src/Features/CSharp/Portable/ConvertToInterpolatedString/CSharpConvertPlaceholderToInterpolatedStringRefactoringProvider.cs
- https://github.com/dotnet/roslyn/blob/mast

[2020-10-09 01:01] carlossanlop opened #48463 "NotNullWhenAttribute for when the return value is not a boolean"
When you have a method that returns a boolean and has a nullable `out` parameter, it is possible to add the nullable attribute `NotNullWhen` to the `out` parameter to specify the case where it won't be `null`, depending on the value of the boolean return type.

Would it make sense to have a `NotNullWhen` attribute for return values with different data types?

For example, let's say you have a meth

[2020-10-09 01:09] Youssef1313 opened #48464 "More IDE adoption to records"
Record's identifier names aren't currently colored. I believe they should have some colorization.

This is mainly because there is no classification for records, see the following code segment:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs#L344-L352

---

**Side node:**

The VB parallel code th

[2020-10-09 02:02] KirillOsenkov commented on #48057
As I said, I didn't know build -r will be sufficient. We can close this. I'm still not sure why not just delete Restore.cmd as it probably causes more confusion than adding value.

[2020-10-09 02:02] #48057 closed

[2020-10-09 02:51] tmat commented on #48351
@jasonmalinowski @jinujoseph Can we prioritize this issue? I keep hitting it.

[2020-10-09 03:16] AlekseyTs commented on #48440
I think the specification is quite clear: "A **positional record with at least one parameter** synthesizes a public void-returning instance method called Deconstruct with an out parameter declaration for each parameter of the primary constructor declaration." And entire that section is about that Deconstruct method. It doesn't say anything about any other Deconstruct methods and there are no speci

[2020-10-09 03:18] #48440 closed

[2020-10-09 04:27] VBAndCs opened #48466 "Single strange behavior"
Try this in C#
[code]

Why are `123456781` and `123456785` converted to `123456784`?
In fact you can test this faster in VB, as the editor changes the numbers as soon as you leave the line!
[code]

`123456779` will be converted to `123456776` and `123456771` to `123456768`!
What does this mean, and why does it happen?
This doesn't seem a round operation to me, and there is no obvious reason to do

[2020-10-09 04:36] VBAndCs commented on #48466
Double also does such exotic things. For example: `12345678912345691.0` will be converted to `12345678912345692.0`

[2020-10-09 05:03] CyrusNajmabadi commented on #48466
https://en.wikipedia.org/wiki/Single-precision_floating-point_format

These are not integers with 7 or fewer digits.  Your integers have 9 digits and are not a power of 2.  So they cannot be converted exactly.  As such, you get a close value as per the specific "string to FP" algorithm used.

[2020-10-09 05:04] CyrusNajmabadi commented on #48466
I recommend reading https://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html to better understand this space and the subtleties therein.

[2020-10-09 05:09] #48466 closed

[2020-10-09 05:09] CyrusNajmabadi commented on #48466
@VBAndCs You may want to consider posting your questions to gitter.im/csharplang or dicord.gg/csharp as they're better avenues for questions/answers.  :)

[2020-10-09 05:12] CyrusNajmabadi commented on #48452
We do expose this publicly by using the ISmartIndentProvider interface.  Can you not use that API?

[2020-10-09 05:16] CyrusNajmabadi commented on #48464
Closing out.  Classification for records is already being handled by @allisonchou  in https://github.com/dotnet/roslyn/pull/47960

[2020-10-09 05:16] #48464 closed

[2020-10-09 05:26] lsoft commented on #48441
Let's focus on `NonIfSet` and try to modify its signature.

1. As usual

[code]

2. Remove parameter
[code]

3. Make parameter System.Object
[code]

(errors is big because of small count of testing iterations)

So, my main suspects are `ldloca.s   V_0` and `initobj    !!T`. I don't know how to progress further.

[2020-10-09 05:34] CyrusNajmabadi commented on #48441
This really isn't a Roslyn question.  Consider asking over at dotnet/runtime :)

[2020-10-09 05:35] #48441 closed

[2020-10-09 07:37] ajaybhargavb commented on #48452
I didn't know those were the same. But we still can't because Razor language server doesn't use MEF :(

[2020-10-09 07:45] davkean commented on #47598
Nerd snipe @CyrusNajmabadi.

[2020-10-09 08:26] #48357 closed

[2020-10-09 08:26] stefanloerwald commented on #48357
Turns out I had a bug in the analyzer which wasn't caught in the unit tests. Sorry about this!

[2020-10-09 09:43] Bouke commented on #48430
I can provide a binary log for internal use; where can I send it?

[2020-10-09 12:39] PathogenDavid commented on #48443
Not all teams use 1:1 folder to namespace mapping, so the opt-out should definitely always be available. (Having it driven by editorconfig might be a nice option.)

Also IMO it should not happen automatically. It should be like renames where you're prompted to accept the change:

![image](https://user-images.githubusercontent.com/278957/95583853-62478a00-0a02-11eb-8a02-84654ed0d2bc.png)

[2020-10-09 13:02] phil-scott-78 opened #48469 "DebuggerDisplay fails when access properties in records"
**Version Used**:

*  5.0.100-rc.1.20452.10

**Steps to Reproduce**:

[code]

**Expected Behavior**:

"Phil Scott" to be display for all three. Well, maybe not the one where I'm going directly to get accessors.

**Actual Behavior**:

Accesssing via the accessors and a method works fine, but receive the error `Property, indexer, or event 'Program.Person.FirstName' is not supported by the language;

[2020-10-09 13:13] Youssef1313 commented on #48365
@cristianosuzuki77  It's a noun (the name of a language feature).
An example where it appears in a full sentence is:

[2020-10-09 13:24] PathogenDavid commented on #48433
This seems out-of-scope for Roslyn to me and should probably be handled by something like https://github.com/madskristensen/EditorConfigLanguage

The extension already shows basic help in a tooltip:

![image](https://user-images.githubusercontent.com/278957/95587870-47781400-0a08-11eb-8f33-083a4a781cb5.png)

It has F1 support, but it seems it needs to be updated. In the previous screenshot, it tri

[2020-10-09 13:33] Youssef1313 commented on #48433
I'd personally prefer if this doesn't require any extensions. Also it should work in a different way than what the extension currently does.

Simply, the extension needs to be updated with links **every** time a new option is added. This isn't how the F1 service is supposed to work.

The F1 service relies on an f1_keywords YML metadata that exist in docs.

[2020-10-09 13:42] sharwell commented on #48452
This is the way to go if you aren't using MEF.

[2020-10-09 14:14] CyrusNajmabadi commented on #48452
Does vs offer no way to get at these types not through mef?  @jasonmalinowski ?

[2020-10-09 14:17] huoyaoyuan commented on #48432
This should be diagnostic clarity. The binding should know the failure reason is missing reference type constraint.

[2020-10-09 14:48] JohanLarsson opened #48470 "NullReferenceException when updating from 3.3.1 to 3.4.0"
Getting:
[code]

When running unit tests using 3.4.0 to 3.8.0-3.final, works when using 3.3.1

[2020-10-09 15:06] huoyaoyuan commented on #48463
This should increase the difficulty of state tracking in compiler.
There are type theory for you for some complex analysis. But, it may cost a lot in compiler implementation.

In this case, if you shape the API with discriminated union, the compiler work could be much simpler.

The biggest reason for `NotNullWhen(true)` is that the pattern is already widely used in BCL. Otherwise, reshaping the AP

[2020-10-09 15:31] jnm2 commented on #46190
I would like to go ahead with a separate section above all other sections that appears on delegate-typed parameters and looks like:

Delegate signature:
(System.CommandLine.Parsing.ArgumentResult result) => int

I'm looking for a green light from the team or further engagement on the design. My reasoning is above for why I think it's presented in a superior way compared to both the single delegate

[2020-10-09 15:35] CyrusNajmabadi commented on #46190
@jnm2 Consider this a green light.  :)

[2020-10-09 15:40] amis92 opened #48472 "CS0267 error message no longer correct (for C#9 partial methods)"
**Version Used**:

Microsoft Visual Studio Community 2019 Preview
Version 16.8.0 Preview 3.1

C# Tools   3.8.0-3.20458.6+b446afd34759150c2ea3b86ab794104e12e64db1

**Steps to Reproduce**:

1. Write code:
[code]
2. Observe CS0267 on `partial` modifier.
3. Be confused by error message.

**Expected Behavior**:

Error message communicating invalid `partial` placement taking new partial methods (non-voi

[2020-10-09 15:49] PathogenDavid commented on #48433
It'd be nice, but editorconfig isn't a .NET-specific thing. I'd worry it'd hamper the ability for built-in Visual Studio editorconfig language support to expand to cover other non-C#/VB domain-specific properties if this is something hampered in Roslyn.

That'd be nice, but new options aren't added all that frequently. Is all the effort of implementing this worth it to avoid updating a JSON file o

[2020-10-09 16:05] jnm2 opened #48475 "Log actions taken by analyzers and source generators to help answer why one is or isn't running"
During development, you would opt in to logging everything related to your analyzer or source generator to answer "why" questions to give you concrete things to try when the source generator is not behaving as expected. Example use cases should probably be collected.

@CyrusNajmabadi:

I'd love there to be diagnostic tooling to answer questions like that with analyzers, refactorings, and code fix

[2020-10-09 16:11] Youssef1313 commented on #48433
For that I think we can just allow the service to work **only** when the editorconfig option falls under a `[*.cs]` or [*.vb]`?

[2020-10-09 16:45] jasonmalinowski commented on #48430
Easiest option is probably to file a feedback ticket on https://developercommunity.visualstudio.com/ which gives you a way to upload files privately. Put a link here to your feedback item so we can link them back up.

[2020-10-09 16:50] jasonmalinowski commented on #48452
The issue wouldn't be MEF as much as the ISmartIndentProvider API also requires them to be composing in the editor and using those APIs too, which seems a bit overkill. @ajaybhargavb: even the workspace APIs use MEF under the covers, so you've been using it whether you realized or not. :smile:

[2020-10-09 16:55] CyrusNajmabadi commented on #48452
Note: i don't actually have anything against this idea.  Previously, this would have been a bad idea as there wasn't one indentation-service, and trying to answer the 'what is the indenation here?' question was nearly impossible.  We did unify this into a pure-data API with a reasonable signature.

My only concern here would be how young this API is and if we would lock ourselves into having to su

[2020-10-09 16:58] TheXenocide commented on #19028
It seemed like we had some luck with including one in a NuGet package, but now I'm now sure if it's quite working consistently. That said, I have some thoughts on how this might work and be prioritized. Here's what I propose:

A new MSBuild ItemDefinition, EditorConfig, with Priority (for sorting the layering as it would if they were in different tiers of the hierarchical folder tree) and Configur

[2020-10-09 17:15] CyrusNajmabadi commented on #48470
Can you give more of the callstack?

[2020-10-09 17:16] CyrusNajmabadi commented on #48470
Tagging @sharwell in case there's an issue with FuncWithBoundArgument itself.  It's not clear to me if the crash is inside that, or inside teh bound func that that is calling.

[2020-10-09 17:59] chsienki opened #48478 "Show how to locally reference generators in the cookbook"
We should have a 'recipe' that shows `PackageReference`ing a source generator locally in the project (we do it in the SDK but don't explain it)

We should cover the 'magic sauce' needed to make the reference work, as well as explain how dependencies [dont] flow and how to use props + targets.

[2020-10-09 18:19] sharwell commented on #48470
This can occur if `SyntaxNodeAnalysisContext.ReportDiagnostic` is called after the syntax node callback returns. Can you show the analyzer code which led to this?

[2020-10-09 18:59] Youssef1313 commented on #46041
I digged into this a little bit, the root cause is the SyntaxContext has a value of `false` for `IsAnyExpressionContext`. This happen specifically in the following line:

https://github.com/dotnet/roslyn/blob/b61d9d2863eebfc76b032e5f8fcd0a918fb27147/src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ContextQuery/SyntaxTreeExtensions.vb#L351

[2020-10-09 19:04] mavasani opened #48480 "We should update the GeneratedCodeUtilities heuristic to consider source files without a file path as generated files, currently they are considered as non-generated files"
@chsienki The only pending item here is `Bug fix: We should update the GeneratedCodeUtilities heuristic to consider source files without a file path as generated files, currently they are considered as non-generated files: http://sourceroslyn.io/#Microsoft.CodeAnalysis/InternalUtilities/GeneratedCodeUtilities.cs,63`. Feel free to close this issue once that is done.

_Originally posted by @mavasani

[2020-10-09 19:05] mavasani commented on #47707
i Filed https://github.com/dotnet/roslyn/issues/48480 for GeneratedCodeUtilities issues
- EditorConfig vs GlobalConfig is now official documented at https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-files?view=vs-2019.
- Other improvements identified in this issue have been fixed.

I am going to close this issue now.

[2020-10-09 19:05] #47707 closed

[2020-10-09 19:09] mavasani commented on #47154
This has been done now: https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-files#precedence

[2020-10-09 19:09] #47154 closed

[2020-10-09 19:31] Youssef1313 commented on #48480
Is it a one-line change here?

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Compilers/Core/Portable/InternalUtilities/GeneratedCodeUtilities.cs#L85

[2020-10-09 19:51] ryzngard commented on #48443
Opt in/out would probably just change the default value of the checkbox to checked/not checked. As for editorconfig, we're working on an analyzer that would help enforce this. @mikadumont @ocallesp we should consider factoring that in to the default behavior for this if possible

[2020-10-09 20:15] CyrusNajmabadi commented on #48480
When do we ever have a source file without a file-path?  That in itself seems like a bug.

[2020-10-09 20:19] mavasani commented on #48480
Source generators

[2020-10-09 20:33] RikkiGibson commented on #48248
Here it is recommended to use [NotNullIfNotNullAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.codeanalysis.notnullifnotnullattribute?view=netcore-3.1). Note that VS 16.8 is required to get the proper behavior in this scenario.

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+BiAdgVwBtCJhC4ACOXU8gWACgABAJgEZGmAGCptgOgAiASwgBzXAHtYwgMZR+AYUko4AQRqEAnlGF

[2020-10-09 20:35] pongba commented on #45197
@tmat @rn-3 I have just met this issue in a similar context. I have a C++/CLI mixed assembly in which I have my Globals class, and CSharpScript::Create. The host application is native, it's linked to the C++/CLI mixed assembly.

This setup has been working prefectly under .NET Framework 4.7.2

However, when I try to upgrade to .NET Core, I immediate met the InvalidCastException on Globals type.

I

[2020-10-09 20:37] chsienki commented on #48480
@mavasani So the reason I didn't do this before is we ended up actually giving source generated files a path. It's not a full 'on disk' path, but it still has a value now.
https://github.com/dotnet/roslyn/blob/b63bda90e030af60b98a16da429d3fe048be3083/src/Compilers/CSharp/Portable/SourceGeneration/CSharpGeneratorDriver.cs#L60

Given that, is there any other case where we'd actually want to report a

[2020-10-09 20:37] jasonmalinowski commented on #48351
@tmat Hmm, these diagnostics are coming from OOP now, right? So we need a dump of that process? Looking at this dump I don't see anything wrong with it, but my ability to dig deep is being hampered by the debugger itself.

Right now we're investigating a case where OOP seems to be having something going bad with processing edits, so it's possible this is a downstream symptom of that.

[2020-10-09 20:39] mavasani commented on #48480
Ah, so then it sounds reasonable to close this issue OR use the current one to track `Setting the flag for source generated files is a different issue`

[2020-10-09 20:44] CyrusNajmabadi commented on #48480
I guess i'm a little confused here.  Isn't this why we give things a hint, so we can gnerate a proper name/path for these things?  I don't expect it to be a path you can do a File.Read from, but i woudl expect them to have a path.  i.e. if i'm using a dictionary where i map this stuff.  Or i need to create a FileLineSpan info and whatnot.  Feels *really* oogy to subvert the system this way.

[2020-10-09 20:44] CyrusNajmabadi commented on #48480
Also, i honestly have no idea what sort of crazy breaks we'll have if this property can now be null.  :-/

[2020-10-09 20:45] pongba commented on #15352
@tmat is looks like the issue shows up in latest version again, see: https://github.com/dotnet/roslyn/issues/45197

[2020-10-09 21:37] tmat commented on #48351
We shouldn't need OOP process dump, assuming that solution snapshot is synchronized correctly between devenv and OOP.
EnC currently runs in-proc and sees the same diagnostics.

[2020-10-10 04:07] Jehoel commented on #33782
BTW, there exists a workaround: manually change `T?` to `Nullable{T}` and then the warnings go away.

So if you have:

[code]
/// <summary>Alias for <see cref="Foo{TValue}(Nullable{TValue})"/>.</summary>
public static String Bar<TValue>(this TValue? value)
    where TValue : struct, IConvertible
{
}
[code]

[2020-10-10 05:51] carlossanlop commented on #48463
The proposed attribute can have a different name. It does not need to share the name with the existing attribute for boolean. That may help simplify the problem.

[2020-10-10 06:23] huoyaoyuan commented on #48463
No. Tracking enum should be more complex than tracking boolean.

[2020-10-10 08:09] sharwell commented on #48435
This was resolved

[2020-10-10 08:09] #48435 closed

[2020-10-10 08:31] vsfeedback opened #48488 "Lock contention in ProjectCacheService.CacheObjectIfCachingEnabledForKey causes high CPU usage and slow Find All References"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/599631/find-all-references-slow-and-high-cpu-usage.html)._

---
Find All References is super slow and VS is using a ton of resources

---
### Original Comments

#### Feedback Bot on 6/10/2019, 04:29 AM:

<p>We have directed your feedback to the appropriate engineering team

[2020-10-10 08:34] sharwell commented on #48488
Marked up-for-grabs to give this method a lock-free fast path:

https://github.com/dotnet/roslyn/blob/59e4c0a28bdd7187d78d93969a7f95b5291a7448/src/Features/Core/Portable/Workspace/ProjectCacheService.cs#L87-L105

[2020-10-10 09:23] sharwell commented on #48480
I'm with @CyrusNajmabadi here. Files produced by source generators should have a path, even if that path is not a physical file on disk.

[2020-10-10 10:03] Chad077 commented on #35025
I have the same issue on my main machine, evaluating local 'this' in the ctor of a type loaded via Assembly.LoadFrom(). On my notebook however, things are working just fine.

Uninstalled VS from my main machine, re-installed using the VSInstaller config exported from my notebook. Tested again without any extensions and a clean source pull but the issues was still there.

Both machines are running

[2020-10-10 10:34] duracellko opened #48489 "NotNullIfNotNull attribute does not work with binary operators"
**Version Used**:
.NET 5 SDK RC1

**Steps to Reproduce**:

Define following operator:

[code]

And use it as following:

[code]

**Expected Behavior**:

Compiler does not report any warning.

**Actual Behavior**:

Compiler reports warning: `warning CS8604: Possible null reference`

**Details**

I was able to reproduce it in unit test:

[code]

Probably same problem is with `NotNullWhen` attribute.

[2020-10-10 10:35] duracellko commented on #48489
This issue may be similar to closed issue #39802

[2020-10-10 13:53] CyrusNajmabadi commented on #48488
Alternatively, remove this and replace with something specific to any services that potentially need this.  For FAR, i'm surprised we would need such a thing as far is designed to get hte compilation/semantic model it needs up front prior to calling into all the finders to process it.    there should be a cleaner design here that can work well.

[2020-10-10 16:38] gafter commented on #48112
[code]

These are not pattern-matching operations. This is the old is-type operator. It would be a breaking change to make this kind of long-accepted code an error.

[2020-10-10 17:09] gafter commented on #45653
[FailingTests.zip](https://github.com/dotnet/roslyn/files/5359454/FailingTests.zip)

[2020-10-10 17:13] sharwell commented on #48488
I believe the caller here was caching syntax trees (GetRoot or something like that).

[2020-10-10 17:50] VBAndCs opened #48492 "VB.NET Editor removes thousands separators from single and double literals"
Write:
`Dim x = 123_456_784.0F`
As soon as you leave the line, it will converted to:
`Dim x = 123456784.0F`

[2020-10-10 17:53] VBAndCs commented on #48492
It happens with decimals too. Try:
`Dim x = 123_456_784D`
Note that the separators will be kept just if you removed the `D`.

[2020-10-10 17:55] RikkiGibson commented on #33782
It's good to hear you were able to work around the issue. Apparently I found a reproducer that works with old LangVersion, but I neglected to reopen the issue. Sorry about that--it does feel like we should address this problem.

[2020-10-10 18:02] CyrusNajmabadi commented on #48488
Yeah, far is designed to process a document at a time. So I think we just want to have a design whereby we do delay computing this until one part of the search needs it. But we then cache until the remainder of the work on that document finishes.

[2020-10-10 18:04] Youssef1313 commented on #48492
The underscores doesn't seem to exist in the generated syntax tree. This could be the reason why the underscores was dropped. Looks like a parser issue to me.

[2020-10-10 18:49] tompazourek opened #48493 "error MSB6006: "csc.exe" exited with code -2146232797 on a complex switch expression"
**Version Used**: Visual Studio 16.7.5

**Steps to Reproduce**: Try compiling the following code snippet (I'm using the default .NET Core Console App in VS).

The issue seems to have something to do with the complexity of the `switch` expression and amount of cases and usage of the `.Any`, but I cannot figure it out.

[code]

**Expected Behavior**: It either compiles (it looks valid to me) or give

[2020-10-10 18:55] Youssef1313 commented on #48493
@jaredpar The stack trace for this is showing a crash in SmallDictionary. Could this be related to your issue https://github.com/dotnet/roslyn/issues/40344?

[2020-10-10 19:15] AlfredoMS opened #48495 "Methods with Tuple on their signatures won't work when added to GlobalSuppressions.cs"
### Analyzer

Any

### Analyzer source

**NuGet Package**: [Microsoft.CodeAnalysis.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers)

**Version**: v3.3.0 (Latest)

VS2019 Version 16.7.5

### Describe the bug

If there is an error flag and I want to add it to the GlobalSupressions file, it won't work when tuples are present in the signature, either the return val

[2020-10-10 20:54] VBAndCs commented on #48492
@Youssef1313
Nice work. Thanks.

[2020-10-10 21:12] svick commented on #48495
I believe my PR https://github.com/dotnet/roslyn/pull/48359 fixes this and I have added a test verifying that.

[2020-10-11 01:04] weitzhandler commented on #48318
In short, I say we show the suggestion if the cursor is anywhere between the class name (current implementation) and the first method/property etc. in class / end of class if none.
Do you agree @CyrusNajmabadi?

[2020-10-11 01:31] CyrusNajmabadi commented on #48318
I don't really agree. I would just stick with what we do elsewhere. Allow it on the header or in between members.

[2020-10-11 01:32] sharwell commented on #48488
I wouldn't rule out the possibility of parallel operations. This was difficult in the past due to memory limits of a 32-bit process, but we no longer have that constraint. I'll try to take a look in the coming week.

[2020-10-11 01:37] weitzhandler commented on #48318
But in between members you're facing the same problem you mentioned before:

[code]

[2020-10-11 02:02] CyrusNajmabadi commented on #48488
Oh, we are parallel here (now that we're out of proc).  The general idea though is that we shouldn't need a cache.  instead, the operations that work on a document can all run at the same time, using the same data.

[2020-10-11 02:04] CyrusNajmabadi commented on #48318
In general though we do have that for several type/member-oriented features.  i.e. someone is in a location they want to add a constructor, so they bring up the lightbulb.  We have that feature (among others) there.

[2020-10-11 02:11] weitzhandler commented on #48318
So anywhere in between member / class openspace?

[2020-10-11 02:43] CyrusNajmabadi commented on #48318
yes.  on blank lines between members in a type.  I believe we have a helper for this (IsBetweenTypeMembers). :)

[2020-10-11 03:42] Shayan-To commented on #17401
Same problem here. DotNet version: `5.0.100-rc.1.20452.10`. With package references:

- Microsoft.CodeAnalysis   3.7.0
- Microsoft.CodeAnalysis.Workspaces.MSBuild   3.7.0

[code]

[2020-10-11 16:21] #48492 closed

[2020-10-11 20:22] #48423 closed

[2020-10-11 21:15] louis-z commented on #48219
I came up with a new implementation, based on [AbstractConvertConcatenationToInterpolatedStringRefactoringProvider](https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs) and its derived classes (thanks @Youssef1313 for pointing me in the right direction 😉). I will submit a PR short

[2020-10-11 21:36] weitzhandler commented on #48318
I've added PR #48503, but this will only work between types, which while useful, doesn't actually resolve my original issue: show the suggestion **before** any members.

Can I implement that too?

[2020-10-11 21:37] weitzhandler commented on #48318
Consider continuing this discussion in the PR.

[2020-10-11 21:50] drewnoakes opened #48504 "Unable to add breakpoint to property init member"
**Version Used**: Version 16.9.0 Preview 1.0 [30607.183.main]

**Steps to Reproduce**:

[code]

1. Put caret on `init`
1. Press <kbd>F9</kbd> to add a breakpoint

**Expected Behavior**:

Breakpoint is added to `init`.

**Actual Behavior**:

Breakpoint is added to `get`.

[2020-10-11 22:04] davidwengier commented on #48219
It's not clear to me exactly what the intentions are for this. If I wrote `string s = "Today is {DateTime.Now}";` then I would expect a "Convert to interpolated string" refactoring to _not_ escape the braces.

[2020-10-11 22:13] Youssef1313 commented on #48219
This is reasonable. But there is already a CA rule suggestion that will handle the case where a `$` token is forgotten (it's not implemented yet).
To make the intent clear, the codefix may use "Convert to interpolated string and escape braces".

[2020-10-11 22:24] CyrusNajmabadi commented on #48219
To me, i think the intent is clear enough :)  we don't try to overly explain exactly every nuance. I think we just try to do what most would expect with reasonably simple text :)

[2020-10-11 22:37] Youssef1313 commented on #48504
The problem could be in:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Features/CSharp/Portable/EditAndContinue/BreakpointSpans.cs#L209-L213

But not sure.

[2020-10-12 01:10] davidwengier commented on #48042
Can't repro, have asked for more info on the feedback ticket.

[2020-10-12 01:14] Gnbrkm41 opened #48507 "Consider making it an error to implicitly fall through without `__fallthrough;` annotation in switch cases"
I've just got bitten by implicit fallthroughs in https://github.com/dotnet/runtime/pull/35713; That makes me wonder how hard it would be to make implicit fallthroughs be warnings / errors, or if it would be worth to do so?

The JIT coding convention states that fallthroughs should be annotated with `__fallthrough;` (https://github.com/dotnet/runtime/blob/master/docs/coding-guidelines/clr-jit-codin

[2020-10-12 02:09] timcassell opened #48518 "Async Method Builder Unexpected Results"
### Description

In a console application in Visual Studio 2019, built to .Net Framework 4.7.2 and .Net Core 3.1, given this main method and async method builder, I am getting unexpected results.

[code]

It seems to be setting the task property properly, but then later it's not set. It seems very similar to the [IL2CPP bug that Unity has with setting fields on a generic struct](https://issuetrack

[2020-10-12 04:28] pricerc commented on #48387
Since I was asked for an opinion.

This is an excellent example of why `option strict on` is so important. If you code with `option strict off`, you're just asking for trouble, and you'll get no sympathy from me for any trouble you get as a result.

As far as I'm concerned `option strict off` is for 'backward compatibility', and should not be used in new code. So you have to add some explicit cast

[2020-10-12 04:52] am11 commented on #47664
This bugfix has made it in 5.0 final and master branches of SDK and arcade repos. MSBuild, however, is still using arcade 3.x branch and 5.0 update work is tracked by https://github.com/dotnet/msbuild/issues/5515.

[2020-10-12 05:37] VBAndCs commented on #48387
@pricerc
I totally disagree.
VB can work in three modes:
1. Fully static typing: `Option explicit on` & `Option strict on`
2. Fully dynamic typing: `Option explicit off` & `Option strict off`
3. Hybrid: `Option explicit on` & `Option strict off`

The third mode is the most useful and make coding faster but still safe with less errors. This is not a legacy as you think. This is the default settings

[2020-10-12 07:53] pricerc commented on #48387
@VBAndCs

You're welcome to totally disagree. I'm just giving you *my* opinion :) (which you asked for :) )

Which comes from my personal experience dealing with hundreds of VB/VBA programs from different people, for over 20 years.

I'm sure there was a discussion somewhere about changing the VB defaults for Strict. I wish they would. Because of the environments I support, I have about 10 differen

[2020-10-12 09:49] Herrmel opened #48512 "Breaking change and possible Bug in SyntaxFactory.ParseCompilationUnit with the new GlobalStatementSyntax"
**Version Used**: Microsoft.CodeAnalysis.CSharp.Workspaces 3.8.0-3.final and 3.7.0

**Steps to Reproduce**:

1. Create .Net Core 3.1 or .Net 5 RC1 Console-Project
2. Use following example Code. This example contains a simple AdHocWorkspace with a single document where i try to parse and insert a new MethodDeclaration after an existing PropertyDeclaration. I check and output the document
<details>

[2020-10-12 13:21] jaredpar opened #48515 "Test Issue Please Ignore"
Testing out the label bot

[2020-10-12 13:22] #48515 closed

[2020-10-12 13:23] jaredpar opened #48516 "Test Issue Please ignore"
Testing label bot

[2020-10-12 13:30] #48516 closed

[2020-10-12 14:11] jaredpar opened #48517 "Test issue please ignore"
@chsienki The only pending item here is `Bug fix: We should update the GeneratedCodeUtilities heuristic to consider source files without a file path as generated files, currently they are considered as non-generated files: http://sourceroslyn.io/#Microsoft.CodeAnalysis/InternalUtilities/GeneratedCodeUtilities.cs,63`. Feel free to close this issue once that is done.

_Originally posted by @mavasani

[2020-10-12 14:14] CyrusNajmabadi commented on #48387
You say it's safe with less errors. But you also don't like that it's unsafe and make these conversion errors. If you don't like that conversion errors then turn on option strict.

[2020-10-12 14:30] #48517 closed

[2020-10-12 14:37] jaredpar commented on #46331
@cristianosuzuki77 any updates here?

[2020-10-12 14:39] jaredpar commented on #46171
@RikkiGibson this slipped my radar, we'll fix in 16.9

[2020-10-12 14:43] jaredpar commented on #45701
Closing as the overall warning waves feature is now implemented and shipping with C# 9. There are a few warnings listed in this issue that didn't make it into 16.8 (time constraint). We will reconsider those in future warning wave iterations.

[2020-10-12 14:43] #45701 closed

[2020-10-12 14:45] jaredpar commented on #45382
@333fred will this get fixed as a part of the existing `IOperation` work that you are doing or is it a separate issue?

[2020-10-12 15:04] 333fred commented on #45382
Separate issue.

[2020-10-12 15:06] Bouke commented on #48430
I've posted the feedback/binary log here: https://developercommunity.visualstudio.com/content/problem/1216427/generatedmsbuildeditorconfigeditorconfig-added-to.html.

[2020-10-12 15:10] CyrusNajmabadi commented on #48512
This is by design (for a few reasons).  First, we do not absolutely guarantee parsing output from version to version.  Some construccts will change parsing depending on the versions you're using.  For example, `record Foo(int i) { }` would previously parse as a method/function.  Now it will parse as a `record`.  On top of this, we absolutely will change parsing around constructs that were previous

[2020-10-12 15:10] #48512 closed

[2020-10-12 15:12] CyrusNajmabadi commented on #48512
Yes.  That is the recommended way to handle this.  Or, just synthesize the node you want directly instead of using 'ParseXXX' functions.  Then you have 100% control and don't have to worry about the parsing functions changing.

[2020-10-12 15:14] CyrusNajmabadi commented on #48512
We could, but that could potentially have other negative implications.  We'd probably want this to be a Global-Function so that other functionality (including IDE functionality) works.

[2020-10-12 15:17] CyrusNajmabadi commented on #48512
You're manually generating a tree.  That won't have any diagnostics in it execpt the ones *you* put in it, or which are in the nodes you're inserting into the tree.  In htis case, you're only inserting the member, and not the trivia that will be on the EOF token in the original compilation unit you parsed.

[2020-10-12 15:27] timcassell commented on #48518
I'm not sure, how do I check that? The language version is set to `Automatically selected based on framework version`.

[2020-10-12 15:55] stephentoub commented on #48518
For reference, you can see that AsyncTaskMethodBuilder passes a ref to its m_task:
https://github.com/dotnet/runtime/blob/912e88d02e7d9beab0f165233e881e7880310912/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncTaskMethodBuilderT.cs#L88
and in addition to updating the state machine field, first stores the created task into that ref:
https://github.com/dotnet/runtime/b

[2020-10-12 15:58] sharwell commented on #48507
@stephentoub This is a C++ feature request. I'm not sure we can do anything about it here.

[2020-10-12 15:59] stephentoub commented on #48507
Oops.  Moved the wrong one.  Thanks.

[2020-10-12 16:03] timcassell commented on #48518
Hm, I do see the potential logic flaw with not updating the ref stateMachine in `AwaitOnCompleted`, but I have seen it working
without updating that cached stateMachine (and I actually followed someone else's example of doing that to cache the stateMachine). So it seems I should actually cache it in `Start` to begin with, then update it in `AwaitOnCompleted`, and that makes sense.

However, what d

[2020-10-12 16:21] Youssef1313 commented on #46587
I can't reproduce.

![image](https://user-images.githubusercontent.com/31348972/95769180-c6df3f00-0cb7-11eb-8b52-8d35ce76315d.png)

[2020-10-12 16:23] timcassell commented on #48518
Actually, I'm a little confused what I'm doing wrong here. It looks like I'm doing the same thing Tasks are with setting the task in AwaitOnCompleted, the only difference is they are setting the task field on the builder first, whereas I'm setting the stateMachine on the promise object before I set the task field to that object, but I'm not sure what difference that makes...

Hm, interesting, so I

[2020-10-12 16:27] stephentoub commented on #48518
Don't know.  Maybe there were some differences, e.g. things written and/or compiled as classes instead of structs.

[2020-10-12 16:36] #48518 closed

[2020-10-12 16:42] vsfeedback opened #48520 "IDE0038 C# Use pattern matching in LINQ Expression"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1210213/ide0038-c-use-pattern-matching-in-linq-expression.html)._

---
[severity:It bothers me. A fix would be nice]
Visual Studio suggests converting this expression:

[code]

to this Expression:

[code]

The Problem is, that "An expression tree may not contain an 'is' pat

[2020-10-12 16:43] vsfeedback opened #48521 "Remove unnecessary cast changes the code behavior"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1210214/remove-unnecessary-cast-changes-the-code-behavior.html)._

---
[severity:It bothers me. A fix would be nice]
I had a small piece of code that converts a char to a 2-digit hex number:

private static string FormatChar(char c)
		{
			return $"{(int)c:X2}";
		}

This w

[2020-10-12 16:54] lsoft opened #48522 "Source generators: no way to get Compilation from generated source code"
My source generator needs to have access to the symbols from the source code passed to previous invocation of `AddSource`. Looks like there is no way to obtain that now.

[code]

Could I ask to add this feature? :)

if I'm allowed to suggest the way, I guess a new method `public readonly struct GeneratorExecutionContext { public Compilation Compile(); }` would be fine. Programmer will be able to c

[2020-10-12 16:55] vsfeedback opened #48523 "Improper outlines for else-if block with multiple line condition"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/195301/improper-outlines-for-else-if-block-with-multiple.html)._

---
In an else-if statement, where the condition takes multiple lines, the dashed lines that appear for outlining are lined up underneatht the &quot;if&quot;, and not the &quot;else&quot;, and they do not app

[2020-10-12 17:05] CyrusNajmabadi commented on #48523
This doesn't repro for me:

![image](https://user-images.githubusercontent.com/4564579/95772977-7691be00-0c72-11eb-8b40-17fcb7ecf328.png)

If you can include a code sample that shows this, that would be very helpful.

[2020-10-12 17:11] Youssef1313 commented on #48522
Until this is fixed, you can use the following as a *workaround*:

1. Refactor the source passed to `SourceText.From` into a constant or a variable (as appropriate).
2. Call `context.AddSource("1.cs", SourceText.From(yourVariableOrConstant, Encoding.UTF8));
3. Do the following to get a new compilation with your added source:

[code]

4. To get the symbol, use the compilation introduced in the prev

[2020-10-12 17:20] #47789 closed

[2020-10-12 17:22] Youssef1313 commented on #48523
@CyrusNajmabadi The screenshot you provided isn't what the original posted was describing. I could reproduce what he wanted to describe:

![image](https://user-images.githubusercontent.com/31348972/95774198-38bb8680-0cc0-11eb-9423-b2d10d1fc65d.png)

Can you re-open?

[2020-10-12 17:33] Youssef1313 commented on #47975
I cannot reproduce:

![image](https://user-images.githubusercontent.com/31348972/95774882-93a1ad80-0cc1-11eb-9503-525a6bb7c676.png)

Am I misunderstanding the issue?

[2020-10-12 17:34] CyrusNajmabadi commented on #48523
Yup.  Reactivating.  Seems to have something to do with multi-line conditions.  May be a dupe of some existing bug.

[2020-10-12 17:37] CyrusNajmabadi commented on #47975
Closing absent a provided a repro case.

[2020-10-12 17:37] #47975 closed

[2020-10-12 17:38] dtivel opened #48525 "Nullable reference: no CS8619 when using `new ValueType<T>()`"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.9.0 Preview 1.0 [30609.169.main]
VisualStudio.16.IntPreview/16.9.0-pre.1.0+30609.169.main
Microsoft .NET Framework
Version 4.8.04084

C# Tools   3.9.0-1.20507.6+4ed928935ce0e5db4327c168dfdad1c820a6a490

**Steps to Reproduce**:

1.  Create a C# .NET Core project.
2.  Add the following code to a new C# file:
[code]

**E

[2020-10-12 17:38] dtivel opened #48546 "Nullable reference: no CS8619 when using `new ValueType<T>()`"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.9.0 Preview 1.0 [30609.169.main]
VisualStudio.16.IntPreview/16.9.0-pre.1.0+30609.169.main
Microsoft .NET Framework
Version 4.8.04084

C# Tools   3.9.0-1.20507.6+4ed928935ce0e5db4327c168dfdad1c820a6a490

**Steps to Reproduce**:

1.  Create a C# .NET Core project.
2.  Add the following code to a new C# file:
[code]

**E

[2020-10-12 17:39] Youssef1313 commented on #48523
@CyrusNajmabadi Your feeling is right. I searched in the issues and found https://github.com/dotnet/roslyn/issues/45682

[2020-10-12 17:39] CyrusNajmabadi commented on #48523
Dupe of https://github.com/dotnet/roslyn/issues/45682.  Closing out.

[2020-10-12 17:39] #48523 closed

[2020-10-12 17:50] sharwell commented on #48525
I believe this would need to be an API analyzer in dotnet/roslyn-analyzers. While `ValueTask<T>` does not generally place constraints on `T`, the default constructor for it needs to.

/cc @stephentoub

[2020-10-12 18:02] #48449 closed

[2020-10-12 18:31] PeteSral commented on #47329
I'm experiencing this same situation in a Windows Forms application, targeting .Net Framework 4.0
Looking at the Locals and Autos and Watch, they are empty.

![Internal error in the Basic compiler](https://user-images.githubusercontent.com/36866437/95778933-b797cb80-0c8e-11eb-95e0-9baf80ccc55d.png)

**I'm running:**

[2020-10-12 18:45] mavasani opened #48530 "Add documentation for Regex and Json diagnostic analyzer (RE0001, JSON001, JSON002)"
https://github.com/dotnet/roslyn/blob/04481d230843e11e010c1c25bb8f132389eccdba/src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/AbstractRegexDiagnosticAnalyzer.cs#L22

1. Follow the steps at [Contribute docs for 'IDExxxx' rules](https://docs.microsoft.com/contribute/dotnet/dotnet-contribute-code-analysis#contribute-docs-for-idexxxx-rules) to add documentation for `RE0001` to [dotnet

[2020-10-12 19:05] #44962 closed

[2020-10-12 19:15] jaredpar commented on #48522
[code]

This returning `null` is expected. The `Compilation` objects are all immutable hence given this is the initial `Compilation` that you are passed initially it does not have the source and hence will not return the new object. In order to get a symbol here you'd need to create a new `Compilation` that had the additional source.

Can u elaborate a bit on why you need the symbol here? This is

[2020-10-12 19:20] Youssef1313 commented on #48522
@jaredpar Not really the first. The same thing was wanted by [this sample](https://github.com/dotnet/roslyn-sdk/blob/d7d6a76464f4f5a14a0ac7ec00384b372be19d80/samples/CSharp/SourceGenerators/SourceGeneratorSamples/AutoNotifyGenerator.cs#L45-L48) in dotnet/roslyn-sdk.

Added symbols are needed in nearly every source generator that generates something based on an attribute. I'll need the added attrib

[2020-10-12 19:33] chsienki commented on #48522
Currently there is no way to reference the symbols you add automatically. As @Youssef1313 notes, you can see in the AutoNotify sample that you need to create a new compilation that contains the generated attribute/class.

We're working on some designs that would allow you to provide certain sources upfront, which can then be referenced in the compilation provided during the execution phase. These

[2020-10-12 19:38] Youssef1313 commented on #45682
@CyrusNajmabadi I need some guidance on this.

I think the following is the part responsible for calculating the span of the dotted line?

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Features/CSharp/Portable/Structure/Providers/BlockSyntaxStructureProvider.cs#L80-L85

but here, the start is always going to be on the "if". Does this span gets updated somewhere

[2020-10-12 20:07] MaStr11 opened #48532 "Test failures in German locale"
**Version Used**:

Latest master

**Steps to Reproduce**:

1. Change windows locale to German
2. Run `build.cmd && test.cmd`

**Expected Behavior**:

All tests pass.

**Actual Behavior**:
 The following tests fail:

[code]
[code]
[code]
[code]
[code]

[2020-10-12 20:13] 333fred commented on #34347
This happened because the version of pwsh you compiled does not have a reference to Windows Forms, which some of the integration tests scripts need. This was fixed a while ago, we only import those things if the integration tests are being run. For that scenario, you will need to use a version of powershell that has a reference to WindowsForms.

[2020-10-12 20:13] #34347 closed

[2020-10-12 21:04] kendrahavens commented on #41880
Design Meeting Notes

* We should show the default message  "Initializes a new instance of the A class," in addition to the inherited comments.

[2020-10-12 21:10] Youssef1313 commented on #45682
Also related to https://github.com/dotnet/roslyn/issues/30300

[2020-10-12 21:11] kendrahavens commented on #47569
Design Meeting Notes
* We should recognize this syntax and update the naming style analyzers to ignore "_<#>"
* We have concerns that "_1" can be used as a parameter and is not actually recognized as a "true" discard. It can be used like a regular parameter name and not get a warning. This makes us want the language itself to recognize these as discards. (Will bring forward at LDM)
  * For this ca

[2020-10-12 21:18] kendrahavens commented on #34981
Design Meeting Notes
* This is a frequent asked we've received over the years.
* Generally this would be valuable, but could have high performance sensitivity and will be using APIs outside of Roslyn.
  * Investigate using CodeLens Find All References lens to scope solution analysis using the Editor's lightbulb APIs.

[2020-10-12 21:23] svick commented on #48520
This is a subset of https://github.com/dotnet/csharplang/discussions/158.

[2020-10-12 21:28] VBAndCs commented on #48387
@CyrusNajmabadi
No. I say I am using this mode for decades, but this is an odd situation that works against my expectations. If is easy to be detected in design time, so, no need to get a runtime error. The powerfulness of the 3rd mod is what makes me ask for this, because forcing developers to use the first mode, will make them hate vb and prefer C#. In the first mode, VB is too verbose with no a

[2020-10-12 21:42] #41324 closed

[2020-10-12 22:18] NTaylorMullen commented on #47691
Other newline scenarios include hitting "enter" inside of a comment as mentioned by: https://github.com/dotnet/aspnetcore/issues/26752

[2020-10-12 22:25] CyrusNajmabadi commented on #48387
It's literally why this option exists :-)

It is. But that's why you can turn on this option. It is literally the option you can turn in to say you want this behavior. We can't make this behavior the default because it would literally break customers all over the ecosystem.

[2020-10-12 22:28] vsfeedback opened #48537 "Visual Studio 2019 keeps restarting after exception in Inline Rename application"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1114309/visual-studio-2019-keeps-restarting.html)._

---
[regression] [worked-in:VS 2019 Preview 3]
Visual Studio 2019 preview 4 keeps restarting after renaming multiple files/locations.

My solution has 40 projects and when I rename a file, which will rename the use everyw

[2020-10-12 22:29] sharwell commented on #48537
[code]

[2020-10-12 22:46] RikkiGibson commented on #48174
A few questions:

1. Does this generated code require meaningful nullable diagnostics? For example, if we completely dodged nullable flow analysis when using `#nullable enable annotations`, and simply emitted the declared nullability of everything, would Blazor be able to adopt that pattern and solve their perf problem in practice?

2. Can we skip nullable lambda return inference when the return t

[2020-10-12 23:10] paul1956 commented on #47975
@CyrusNajmabadi I believe the issue is in the immediate window "very annoying during debugging", but this issue does not say that.

[2020-10-12 23:49] #39405 closed

[2020-10-12 23:49] #41413 closed

[2020-10-12 23:49] #47234 closed

[2020-10-13 00:19] pricerc commented on #48387
Ironically, I'm sure I've seen the exact opposite argument somewhere, where someone was complaining about VB's default 'strict off' behaviour, and why that made VB an inferior language.

Which goes to show, you can't please all of the people all of the time.

[2020-10-13 01:31] davidwengier commented on #40993
The comment above that line clearly indicates that tool windows are a desired target (eg, interactive window) so I don't think thats the right change. I think perhaps we should now be calling the `ActiveView` method when a fixer or refactoring fails, here:
https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/Core/Implementation/EditorLayerExtensionManager.cs#L75

[2020-10-13 01:32] davkean commented on #40993
How will that prevent these messsages from ending up in random tool windows?

[2020-10-13 01:36] davidwengier commented on #40993
Oops, typo, "now" should have been "not". There is a `ShowInfoBarInGlobalView` which seems like it would be a better fit.

[2020-10-13 01:41] #48472 closed

[2020-10-13 01:45] paul1956 commented on #48387
@pricerc LOVE VB, HATE Strict Off you can believe both.

[2020-10-13 03:00] CyrusNajmabadi commented on #48521
Fixed with https://github.com/dotnet/roslyn/pull/45700.

[2020-10-13 03:00] #48521 closed

[2020-10-13 03:47] mavasani commented on #48546
Tagging @dotnet/roslyn-compiler for triage.

[2020-10-13 04:48] sharwell opened #48547 "Comment splitting doesn't account for manual comment splitting"
**Version Used**: 4ed9289

**Steps to Reproduce**:

Press <kbd>Enter</kbd> at the `$$` location.

[code]

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2020-10-13 04:49] sharwell commented on #48547
@CyrusNajmabadi This is a regression introduced by #48217. We should fix it before the feature ships to the public in 16.9 Preview 1.

[2020-10-13 05:34] lsoft commented on #48522
@Youssef1313 @jaredpar @chsienki thanks for replies! I will probably use this workaround.

@jaredpar

I know. Because of that I suggest to add a new method than returns `Compilation`, not `void`. Also, a new method is better than modifying `AddSource`, because it'll give us more flexible and performance.

Sure. Imagine that I have a program with `class A {  }`, and I need a source generator that c

[2020-10-13 05:41] lsoft commented on #48522
That workaround is a viable option for me, but it means that the same generated code will be compiled twice. It's ok for workaround, but not the best for the production. As we can see at the dotnet/roslyn-sdk this need has already been recognized at Microsoft. I hope your team gives a green light to this proposal))

Again, thanks for your comments!

[2020-10-13 05:54] sharwell opened #48548 "CSharpUpgradeProjectCodeFixProvider sometimes reports the wrong version"
**Version Used**: Periodically appearing in integration tests, e.g. #48372

**Steps to Reproduce**:

Run the `LegacyProject_AllConfigurationsUpdated` test.

**Expected Behavior**:

**Actual Behavior**:

![image](https://user-images.githubusercontent.com/1408396/95820890-cbb6e980-0cdd-11eb-8a3c-c34fcaf769a9.png)

|Build|Kind|Start Time|
|---|---|---|
[869712](https://dev.azure.com/dnceng/public/_bu

[2020-10-13 06:02] #47549 closed

[2020-10-13 06:34] ddobric opened #48552 "Nullable reference not recognized"
Following code produces the annotation below:

[code]
![image](https://user-images.githubusercontent.com/1756871/95823747-70f9ae00-0d2e-11eb-9032-2cd2e1730eaa.png)

The property looks like:

[code]

The annotated information is not correct and the application throws null ref exception.

### RT Version
Using 5.0.100-rc.1.20452.10

[2020-10-13 08:08] krt- opened #48553 "Unexpected CS8602 warning"
**Version Used**:
5.0.0-rc.1.20451.14

**Steps to Reproduce**:

[code]

There's no warning if `found` variable is inlined, e.g. `if (!(foo is { }))`

**Expected Behavior**:
No CS8602 warning

**Actual Behavior**:
CS8602 warning

[2020-10-13 08:11] Youssef1313 commented on #48547
Also consider `// This is a$$/* split comment*/`

[2020-10-13 09:17] #48318 closed

[2020-10-13 11:29] JimBobSquarePants opened #51178 "RemoteExecutor crashes on NET Framework 4.7.2 with Microsoft.Net.Compilers.Toolset > 3.3.1"
- [x] This issue is blocking
- [ ] This issue is causing unreasonable pain

I haven't managed to create an isolated example yet but the following exception is thrown for all implementations of RemoteExecutor for methods containing a generic parameter if I use Microsoft.Net.Compilers.Toolset > 3.3.1 in a unit test targeting NET 4.7.2

- No exceptions are thrown with NET Core in all tested Microsoft

[2020-10-13 13:25] Joe4evr commented on #48552
`[AllowNull]`/`[DisallowNull]` only affect input, aka the setter (or more specifically, the implicit setter parameter `value`). As far as the compiler thinks, the getter will return a non-null value, so it doesn't see fit to warn.

In this particular case, the author of the code should make their annotations accurate. 🙃

[2020-10-13 13:51] Joe4evr commented on #48553
[Copied repro into SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAN0QSwGYE8A+AAgEwCMAsAFCEAMABIaQCwDcVtDpAdADKYB2ARzaUqAYn4BXADbSIwaXDpx+8xVXYBmBsToAxAPYG6AbwbaBMOgCEICU3QDmcGCzpQXbgL50vG6tokdADCVCZUdJHmDEx0ALIAFACUEVHhlFGZdGh2dNKYsHQAvHT8cADudHywADyGBgB8DmWV9cm+blmRqV059thGxXkFMFx6mAiwAPIIACJw2BAyMMkiXZF9dAOS/AAmQwPGBaZeIj1ZOHQJAITbeykZ6wD0T5c3CYd0xyZeSQ/rpnOAM+JRa+iMqyBUT8jy6UMihy4tnsJVIn

[2020-10-13 14:18] sharwell commented on #48547
@Youssef1313 that's going to be a much less frequent case. The form I posted is what many people will already be doing prior to the new feature.

[2020-10-13 14:34] mavasani commented on #47754
@sharwell Do you have any alternate proposals here? Unfortunately, this missed the 16.8 release, but I would like to fix this up asap in 16.9 cycle.

[2020-10-13 16:17] jaredpar commented on #48522
I'm still unclear why you need symbols here though. In this case you're generating source hence why do you need a symbol in order to write text?

[2020-10-13 16:18] jaredpar commented on #48546
Closing as this behavior is "By Design". @stephentoub has provided a good summary of the rational here.

[2020-10-13 16:18] #48546 closed

[2020-10-13 16:30] Youssef1313 commented on #48522
@jaredpar To generate source based on a specific attribute that is added in the start of generation process.

[2020-10-13 16:37] 333fred opened #48559 "Make `IDocumentationCommentSnippetService` public"
Today, `IDocumentationCommentSnippetService` is internal, in the EditorFeatures layer, which means external developers (such as omnisharp) cannot take advantage of auto-generating doc comments. https://github.com/dotnet/roslyn/pull/48558 moves the service down to the features layer, but we should also consider making it public.

[2020-10-13 16:41] mavasani commented on #48546
@jaredpar Should we add a note about this to the documentation page that @Youssef1313 pointed in https://github.com/dotnet/roslyn/issues/48546#issuecomment-707329679? If so, @Youssef1313 would you be willing to submit a doc PR for it?

[2020-10-13 16:45] jaredpar commented on #48553
Thanks for taking the time to file this issue. This behavior is "By Design". The flow tracking in the compiler does not track nullable state associated with `bool` values in this way.

[2020-10-13 16:45] #48553 closed

[2020-10-13 16:46] jaredpar commented on #48552
Closing as this behavior is "By Design" as @Joe4evr noted

[2020-10-13 16:46] #48552 closed

[2020-10-13 16:51] BrianBu01 commented on #13
Is it time to revisit this now that Record/Data construct solves most of the mention concerns?

Maybe this idea wasn't right for class interfaces, but it is for Record/Data interfaces.

[2020-10-13 16:53] Youssef1313 commented on #48546
Sure. I can submit a docs PR if this is something you want to doc.

[2020-10-13 16:58] 333fred commented on #48546
Documenting behavior like this seems reasonable to me, as it can be confusing.

[2020-10-13 17:05] mikadumont opened #48561 "Command line way to apply code fixes"

[2020-10-13 17:30] jaredpar commented on #48522
Presumably the generator understands it added the attribute though. It seems much simpler to record that and use that information to make subsequent code generation decisions instead of creating intermediate `Compilation` and querying for symbols.

The reason for pressing on this is getting symbols is not free. Generators which depend on creating N different intermediate symbols to generate a fina

[2020-10-13 17:45] Youssef1313 commented on #48522
@jaredpar I couldnt get the alternative you're describing. I think if the sample in roslyn-sdk is updated to the solution that performs better, it will be very helpful.

[2020-10-13 17:49] GrabYourPitchforks opened #48563 "Using construct "if (pointer is null)" produces invalid IL on latest Roslyn"
The construct `if (pointer is null)` produces invalid IL, per https://sharplab.io/ running on latest Roslyn master.

[code]

[code]

In the _Foo_ method, the compiler emits a `ceq` instruction comparing a _native int_ against a _native int_. However, in the _Bar_ method, the compiler emits a `ceq` instruction comparing a _native int_ against an _O_ (see ECMA-335, Sec. III.3.45).

Per ECMA-335, Sec

[2020-10-13 18:00] Youssef1313 commented on #47346
@jaredpar @sharwell Should this be closed as by-design like https://github.com/dotnet/roslyn/issues/48546? or marked as blocked based on https://github.com/dotnet/roslyn/issues/47346#issuecomment-685149700?

[2020-10-13 18:12] jaredpar commented on #48522
Based on what you described my understanding is there is a single generator here, it is adding an attribute to a class and wants to change later generation behavior based on that attribute. Rather than query the compilation here for the attribute the generator should just note that it added this attribute.

[2020-10-13 18:17] Youssef1313 commented on #48546
Opened docs PR: https://github.com/dotnet/docs/pull/21063

[2020-10-13 18:17] jaredpar commented on #47346
The current behavior is "By Design".

I wouldn't classify this as "blocked" because generally I associate that with bug fixes or design decisions. Essentially I internalize "blocked" as "yes this is a bug but we can't make progress due to a related work item or decision from LDM".

In this particular case though the language is operating as designed. The use of `default` with `struct` is a known h

[2020-10-13 18:20] sharwell opened #48564 "Differences detected in solution checksum"
**Version Used**: 16db183

🔗 https://dev.azure.com/dnceng/public/_build/results?buildId=850293

**Steps to Reproduce**:

Integration tests

**Actual Behavior**:

[code]

[2020-10-13 18:21] Youssef1313 commented on #48522
The source generator adds the attribute definition itself, and doesn't apply it to anything.
The source generator consumer can then add the attribute to some declarations, and the source generator is looking for those declarations where the developer has applied the attribute.

To know what declarations have the attribute, I should get the attribute symbol. But because the attribute symbol is adde

[2020-10-13 18:22] Youssef1313 commented on #47346
That's clear enough. Let me close.

[2020-10-13 18:22] #47346 closed

[2020-10-13 18:26] jaredpar commented on #48522
I'm not sure how better to state my point here but I feel like we're missing something in our communication here.

The generator is in total control of all of the contents that it is adding to the compilation. If the generator adds an attribute and wants to later take advantage of that then it can record that as part of it's generation process. If the generator wants to know which types have the a

[2020-10-13 18:31] Youssef1313 commented on #48522
Let's focus specifically on this part. If the generator defined an attribute, how it can access it *without* creating a new compilation? I don't see an obvious way to do that.

The sample in roslyn-sdk states the same. So basically, if that's wrong, then the sample needs to be updated.

[2020-10-13 18:56] RikkiGibson opened #48566 "Unintuitive diagnostic when missing `>` in type argument list"
**Version Used**: 941dc7e91c835e4f230a8274e0aab2b0fb51ac93

**Steps to Reproduce**:

[code]

**Expected Behavior**: Syntax errors, and perhaps some binding errors about e.g. unexpected number of type arguments, or 'arr' is not a type, or any number of things depending on how we happen to do error recovery in this scenario.

**Actual Behavior**:
[code]

I think the only error of concern in the actu

[2020-10-13 19:05] mavasani commented on #48564
Can you please provide a repro in a branch which has pre-ISB based OOP? This was fixed in 16.7 or 16.8 and seems to have popped up with ISB changes in 16.9.

@jinujoseph @vatsalyaagrawal Its become increasingly hard to investigate things because I don't know if a bug exists due to ISB fragility/bugs or real product bugs elsewhere. Right now, I have no trust in ISB based OOP, and feel we should rev

[2020-10-13 19:15] huoyaoyuan commented on #40365
Side note:
RuleSet designer resets comments in ruleset file. Editorconfig designer should preserve them.

[2020-10-13 19:19] CyrusNajmabadi commented on #48566
This is a type-only location (i.e. not a place where expressions can go).  So we can likely improve error recovery here *enormously*.  What's likely going wrong is that the parser consumes 'int' and hten doesn't know what to do.  It can either finish the argument list, or think it has a missing comma nd continue.  It's taking the latter approach.  Tha'ts what we'd want for `Dictionary<int string>

[2020-10-13 19:28] dibarbet opened #48567 "[LSP] Enable server options via IBrokeredSettingsManager"
For cloud environments we need to make tools -> options settings available / not available via IBrokeredSettingsManager.

Settings for features controlled by the LSP client should be hidden (LSP client is tracking these post 16.9)
Settings that apply to the server should be exposed using the remote settings.

This work was started in https://github.com/dotnet/roslyn/pull/40142 but did not complete