[2017-04-26 23:37] jasonmalinowski opened #19029 "Update the project systems to include .editorconfig files in the fast up-to-date check"
The legacy project system will need to have it's up-to-date checks updated to recognize that .editorconfigs are a new input into the system.

[2017-04-26 23:39] jasonmalinowski commented on #18217
Proposal 1 is the current plan of record.

[2017-04-26 23:47] jasonmalinowski opened #19030 "Add a notification in Tools > Options if an .editorconfig is overriding your project settings"
If you go into Tools > Options and have an .editorconfig overriding something somewhere, we should show that fact there, and give you a way to view the list of files actually impacting it.

[2017-04-26 23:47] cartermp opened #19031 "Go to Definition from C# to F# shows VB Metadata"
**Version Used**:  VS 15.2

**Steps to Reproduce**:

1. Clone or download this repo: https://github.com/cartermp/15.2-E2E
2. Build everything.
3. In `E2E.API/Controllers/ValuesController`, invoke Go to Definition on the call to `PigLatin.ToPigLatin`.

**Expected Behavior**:

Since we don't support Go to Definition between C# and F#, either:

a. A failure
b. Metadata generated in C#.

**Actual Beha

[2017-04-27 00:19] jasonmalinowski opened #19032 "Default PathMaps for .editorconfig"
If a user drops an .editorconfig file in their project root, there is a general understanding that that should apply to all appropriate files in the project. This gets tricky for a few situations:

1. Some things (like the target framework attributes generation) drop stuff in %TEMP%.
2. Some things drop stuff in obj
3. NuGet packages can provide content files, which may come from %USERPROFILE%\.nu

[2017-04-27 00:26] jasonmalinowski commented on #19032
(I could also imagine an argument that if you are doing [CallerFilePath] with things in %TEMP% you're already so off the rails that the compiler isn't remotely deterministic and we're actually making your life better...)

[2017-04-27 00:43] 0xd4d commented on #19031
Perhaps related: https://github.com/dotnet/roslyn/issues/16818

[2017-04-27 03:36] sharwell commented on #19028
The semantics I'm considering would be the following:

* The **.editorconfig** files passed through this mechanism are evaluated without inheritance.
* For evaluating paths in the **.editorconfig** sections, only the filename is provided. In other words, the **.editorconfig** file is assumed to be located in the same directory as the source file, regardless of where the source file is.
* These fil

[2017-04-27 03:40] sharwell commented on #19026
It is my understanding that the ability to control core diagnostic severity was never added to the current .editorconfig implementation, making this a planning item only. Is that correct?

[2017-04-27 03:43] sharwell commented on #18975
I believe Roslyn originally did produce this warning. However, it turned out that it broke real-world projects that were using warnings-as-errors and was permanently removed prior to Visual Studio 2015's release. @jaredpar can provide details regarding whether this is accurate, and also whether or not there remains a way to manually enable this warning.

[2017-04-27 03:45] sharwell commented on #19032
:memo: The primary goal of path mapping is to allow project maintainers to define a **.editorconfig** file that applies to an entire project. Since these maintainers do not have a way to force a user to place additional files in the parent directories of these linked locations, we need a way to "normalize" paths typically used for generated code such that the overall analyzer experience is consist

[2017-04-27 04:19] CyrusNajmabadi commented on #14421
This was fixed with https://github.com/dotnet/roslyn/pull/18837

[2017-04-27 04:19] #14421 closed

[2017-04-27 04:20] CyrusNajmabadi commented on #14026
Closing in favor of https://github.com/Microsoft/TypeScript/issues/15281

[2017-04-27 04:20] #14026 closed

[2017-04-27 04:20] CyrusNajmabadi commented on #13776
Closing for now.  @JoshVarty if you ever get back around to needing this, let us know.

[2017-04-27 04:20] #13776 closed

[2017-04-27 04:21] CyrusNajmabadi commented on #5419
Giving to Ravi as this is in completion.

[2017-04-27 04:23] CyrusNajmabadi commented on #4993
I'm closing this out.  Ideally the new command handler stuff @JoshVarty is working on with @rchande will help adress the fundamental issues here.

[2017-04-27 04:23] #4993 closed

[2017-04-27 05:23] davkean commented on #18593
I ran into this again - this one is slightly different:

<details>
Application: devenv.exe
Framework Version: v4.0.30319
Description: The application requested process termination through System.Environment.FailFast(string message).
Message: System.InvalidOperationException: Unexpected false
   at Roslyn.Utilities.Contract.ThrowIfFalse(Boolean condition, String message)
   at Microsoft.CodeAnalysi

[2017-04-27 05:33] igor-muratov opened #19033 "Compiler crash"
**Any version below apr 17**:

[code]

"csc.exe" exited with code -2146232797

[2017-04-27 05:55] AlekseyTs opened #19034 "Incomplete member name in errors CS0541 and CS0065"
[code]

Observed:
Error	CS0541	'I1.': explicit interface declaration can only be declared in a class or struct
Error	CS0065	'I1.': event property must have both add and remove accessors

Expected:
Error	CS0541	'I1.P10': explicit interface declaration can only be declared in a class or struct
Error	CS0065	'I1.P10': event property must have both add and remove accessors

[2017-04-27 06:01] AdamSpeight2008 opened #19035 "[Test Fail, VB] ConflictMarkerResolutionTests"
Used the version in this pr #17651 (at 76a205b)
[code]

[code]

[code]

[code]

[2017-04-27 06:25] AdamSpeight2008 commented on #19035
Master:  All unit tests pass.

[2017-04-27 08:34] agocke opened #19038 "Test plan for pattern matching generic type parameters"
This is my work-in-progress issue for a test plan for pattern matching generic parameters (https://github.com/dotnet/roslyn/issues/16195).

There should be tests for the following "golden path" scenarios:

* [X] Matching anything against an unconstrained generic parameter succeeds/fails at runtime [@gafter: See tests `TestMatchWithTypeParameter_01` and `TestMatchWithTypeParameter_02` in `CodeGen/S

[2017-04-27 08:36] agocke commented on #19038
cc @gafter

[2017-04-27 11:07] Suchiman opened #19039 "EnC: NRE on edit around closuring Expression<T>"
**Version Used**: VS2017 (26403.7)

**Steps to Reproduce**:
[code]
1. Step to `var result = strings.Where(x => strings.Any());`
2. Uncomment `//Console.WriteLine();`
3. `F10`

**Expected Behavior**:
Edit gets applied and `Console.WriteLine();` becomes next instruction to be executed

**Actual Behavior**:
Temporary local variable of type "ConsoleApp1.Program.**<>c__DisplayClass0#1">**" was "null".

[2017-04-27 12:50] RussKie commented on #18273
Same here debugging WinForms project
<img width="730" alt="screen shot 2017-04-27 at 10 45 58 pm" src="https://cloud.githubusercontent.com/assets/4403806/25483986/7052fc22-2b9b-11e7-970f-31b6fa8aaeba.png">

Windows 10 v1703
Microsoft Visual Studio Enterprise 2017
Version 15.0.26228.4 D15RTWSVC
Microsoft .NET Framework
Version 4.7.02046

[2017-04-27 13:01] henrikklarup opened #19040 "[Suggestion] Add not null attribute flags to parameters"
Add some kind of attribute flags for parameters to defined that null is not a valid value. Something like this.

`public int returnX ([NotNull] Point firstParam)
{
    // Here we don't need to null-check because the parameters is marked.
    return firstParam.X;
}`

[2017-04-27 15:34] sharwell opened #19041 "Duplicate code fix for generate constructor"
**Version Used**: 15.1

**Steps to Reproduce**:

1. Add the following code
2. Use the light build at the **end** of the line where `JsonRpcMessageHandler` is declared

[code]

**Expected Behavior**:

One code fix is provided.

**Actual Behavior**:

Two code fixes are provided, with different titles but identical behavior.

![image](https://cloud.githubusercontent.com/assets/1408396/25491169/c79d16

[2017-04-27 16:12] gafter commented on #16466
I doubt that @MadsTorgersen interpretation is correct. It would lead to some counterintuitive results. See, for example, https://github.com/dotnet/csharplang/issues/271. Moving to the csharplang repo.

[2017-04-27 16:13] gafter commented on #16466
Issue moved to [dotnet/csharplang #507](https://github.com/dotnet/csharplang/issues/507) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-27 16:13] #16466 closed

[2017-04-27 16:27] sharwell opened #19042 "Revert workaround for AsyncSemaphore disposal problems"
After we update Roslyn to a version of vs-threading which includes the change in Microsoft/vs-threading#105, the workaround in pull request #19043 should be reverted.

[2017-04-27 17:07] kuhlenh opened #19046 "Smart Variable Naming doesn't suggest names for List<T>"
![image](https://cloud.githubusercontent.com/assets/1402694/25495142/07515e18-2b31-11e7-9b19-407f004021a1.png)

I would expect it to suggest something like `stops1` (because I already have a local `stops`) or `listOfStops` here. Instead, nothing is suggested.

[2017-04-27 17:34] jcouv opened #19047 "Inline/extract refactorings should warn on left-hand-side of deconstruction"
This relates to the inferred tuple names feature.
Some of the refactorings should add annotations (`ConflictAnnotation`) to indicate this is likely not correct.

[code]

[2017-04-27 17:40] tmat commented on #19039
@Suchiman Thanks for a great repro. Will take a look.

[2017-04-27 17:44] #16870 closed

[2017-04-27 17:45] jcouv commented on #16870
Fixed by #18937 (this will ship in dev15.3)
Thanks for raising the issue

[2017-04-27 18:34] fabianoliver opened #19048 "Compiling scripts targetting .Net 3.5 not possible due to how script entry point is generated"
**Version Used**: Roslyn 2.0.0

**Steps to Reproduce**:

Set up a project, adding net 3.5 reference assemblies (mscorlib, System) as well as the TPL for .Net 3.5  (https://www.nuget.org/packages/TaskParallelLibrary), and to AsyncBridge (https://www.nuget.org/packages/AsyncBridge.Net35/).

Add a document with SourceCodeKind.Script, and compile project.

**Expected Behavior**:

Project should compil

[2017-04-27 18:58] gafter commented on #19038
Subsumption is a **very** weak area of the specification right now.

The rule for subsumption of one type pattern `T t` by another type pattern `U u` (for any types T and U) is that the former is subsumed by the latter if there is an implicit predefined conversion from T to U. That applies in the case that both are type parameters and there is a constraint `where T : U`. There should be and probab

[2017-04-27 19:24] #19007 closed

[2017-04-27 19:42] jaredpar commented on #18975
@sharwell is correct.  The warning is limited to primitive types due the large base of customer code which depended on this warning not firing in versions 3 - 5 of C#.  Here is actually where we implement it

https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_Warnings.cs#L789

[2017-04-27 20:08] jinujoseph commented on #17838
**Design Meeting Decision**

For now lets unblock users with the workaround defined in #18968 . we need to come back and discuss about what the API for queries looks like.

[2017-04-27 20:13] kuhlenh opened #19050 "Initialize Interactive with Project Context doesn't appear for .NET Core projects"
Right-clicked on a project in .NET Core solution and this capability didn't show up at all...

[2017-04-27 20:15] tmat commented on #18273
@brettfo That seems unrelated. Could you please file a separate bug?

[2017-04-27 20:17] tmat commented on #19048
Why is this important? We do not support NET 3.5.

[2017-04-27 20:18] jasonmalinowski commented on #19026
@sharwell: yes. I want to at least have us think through future problems there so we know what the upgrade plan looks like, especially in light of backcompat concerns, before we ship 15.3 and discover we painted ourselves into a corner. I don't think we have issues but want to have at least a strawman.

[2017-04-27 20:19] jasonmalinowski commented on #19028
Your last two questions are the ones that interest me most.

[2017-04-27 20:24] sharwell commented on #19028
@jasonmalinowski Are NuGet packages referenced by a project ordered when using `<PackageReference>`?

[2017-04-27 20:26] gafter commented on #14760
The reason you don't get errors for null comparisons involving ImmutableArray is because of this:
`public static bool operator ==(ImmutableArray<T>? left, ImmutableArray<T>? right); `
and its corresponding `!=`.
So if you have an `ImmutableArray<Foo> x`
The `(x != null)` uses this user-defined operator.
And we don't warn in that case, because we didn't lift anything, we simply used an operator tha

[2017-04-27 20:28] sharwell commented on #19026
We should reserve the properties in the documentation at the same time (and in the same way) we provide the ability to set the severity of diagnostics reported by analyzers, but just not hook them up to the compiler. Aside from that, we just have to define the relative priority of **.editorconfig** next to rule set files and the project file's built-in way to disable warnings or set specific warni

[2017-04-27 20:30] tannergooding commented on #18701
I'm not seeing the issue in the latest internal dogfood build (26424.2-Preview). @rynowak, would this build have your change?

[2017-04-27 20:39] sharwell commented on #18975
@xanatos You can get this warning by enabling the `strict` feature for your project, by adding the following to the `<PropertyGroup>` at the top of your project file:

[code]

[2017-04-27 20:40] #18975 closed

[2017-04-27 20:46] jasonmalinowski commented on #19028
MSBuild ItemGroups implicitly have an order. Whether that order is preserved through the tooling is definitely not something I'd bet a dollar on.

[2017-04-27 21:03] rainersigwald opened #19053 "Should CoreCompile consume the ReferenceDependencyPaths item?"
More context is available at https://github.com/Microsoft/msbuild/pull/1520#issuecomment-271342350.

MSBuild's standard `ResolveAssemblyReferences` target emits a `ReferencePath` item containing references, and additionally emits a `ReferenceDependencyPaths` item containing the facade assemblies needed for the current framework target. Other compile-like steps use `ReferenceDependencyPaths` but `C

[2017-04-27 21:07] fabianoliver commented on #19048
Just to make sure we'on the same page - I'm refering to the target framework version of the output assembly that Roslyn produces upon compilation, not of the application that actually uses Roslyn to compile it.

Correct me if wrong; my impression was that Roslyn is pretty agnostic towards framework versions (i.e. could even compile an assembly targetting .Net 2.0, if you wanted to/took care of the

[2017-04-27 21:10] tmat commented on #19048
@fabianoliver Thanks for providing details of your scenario. Having a concrete scenario helps prioritizing. I still think it's kind of lower priority compared with other scripting work items, but feel free to submit a PR.

[2017-04-27 21:13] tmat commented on #19048
@agocke @AlekseyTs "Async Main" feature is likely using similar pattern as scripting, so this might be an issue for Async Main as well. Can we unify some code and fix both if so?

[2017-04-27 22:32] sharwell opened #19055 "Add IDE analyzer for invalid .editorconfig files"
**Version Used**: N/A

**Steps to Reproduce**:

Add an invalid **.editorconfig** (cannot be parsed).

**Expected Behavior**:

A warning appears in the IDE that the **.editorconfig** file is ignored due to errors parsing it.

This error cannot occur during builds (compat issue), so it needs to be an IDE analyzer only.

[2017-04-27 22:39] VSadov opened #19056 "ShowGenericTypes3 is flaky."
Failed in microbuild twice today.

[2017-04-27 22:41] tamlin-mike commented on #9203
@Pilchie Then consider this at least one more vote. Inline rename (of parameters) can be horribly slow. A test I did this very instant took 16+ seconds to rename one method argument, referenced 27 times in the method. Even worse is renaming methods or fields; it can take literally minutes to rename them - even when so simple as the pop-up with checkboxes saying "3 references in 1 file". I'm not ex

[2017-04-27 23:07] rchande commented on #9203
@tamlin-mike This bug is specifically about my perception that rename tracking is faster than inline rename. Have you compared inline rename with rename tracking in the scenarios that are bothering you? (To use inline rename, simply modify an identifer, and the lightbulb should appear with the option to rename that symbol). We have definitely received feedback (internal and external) about inline

[2017-04-27 23:15] tmat commented on #19048
//cc @TyOverby

[2017-04-27 23:34] VSadov opened #19059 "ReferenceHighlighting tests are flaky"
The following tests have been failing sporadically recently.

CSharpReferenceHighlighting.WrittenReference
BasicReferenceHighlighting.Highlighting

One example where they both failed is:
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/3340/

[2017-04-27 23:35] jinujoseph opened #19060 "Remove the IOperationWithChildren interface once we have designed all the IOperation APIs."

[2017-04-28 00:02] tamlin-mike commented on #9203
@rchande Rename of one (unused) method argument:

Inline: 2 seconds after return until dialog, then 15-17 seconds "Computing...".

Tracking, scenario 1:
Typing new name + approx 22 seconds of "Gathering suggestions" after CTRL+'.', then 1 second with no feedback after selecting the Rename option + another 22 seconds displaying the "Renaming ..." dialog.

Tracking, scenario 2:
Typing new name, wait

[2017-04-28 01:05] rynowak commented on #18701
We didn't make a change to our VSIX. I know we had some changes in the component authoring at some point but I don't have a lot of context on that. Keep in mind we would only be in the box if you have web tools.

[2017-04-28 01:47] sharwell commented on #18818
@jasonmalinowski NuGet currently does not allow you to install two different versions of the same package in a project at the same time. In your scenario, upgrading to 2.0 would eliminate the reports from 1.0 at minimum in the specific project. The only time it would be a problem would be if the analyzer authors create multiple package IDs and a user installs more than one of them - but this issue

[2017-04-28 01:57] sharwell commented on #18818
@heejaechang The approach is "simple and straightforward", but it blocks all of our proposed migration strategies for getting code style analyzers into the build. Most, if not all, of the limitations with the strategy which I mentioned earlier are concrete examples of problems that I suspect will appear during this work.

Under the new plan, multiple analyzers will still be allowed to report the s

[2017-04-28 01:57] shaggygi commented on #19050
@kuhlenh check this issue out... https://github.com/dotnet/project-system/issues/223

I originally added to Roslyn repo, but @srivatsn moved to project-system repo.

[2017-04-28 02:04] sharwell commented on #18996
I'm a bit concerned that these tests are telling us about a real race condition bug in our product.

[2017-04-28 02:56] abhijitparkhi1983 opened #19065 "MSBuildWorkspace.OpenSolutionAsync Throws Microsoft.Build.Exceptions.InvalidProjectFileException for Soluion having .vcxproj project along with .csproj"
**Version Used**:
1.3.2, 2.0.0, 2.0.1

**Steps to Reproduce**:

1. Using a older version of Visual Studios, say Visual Studios 2008, create a .NET Solution which consists of .csproj and .vcproj/.vcxproj projects under one solution.
2. This will create a .vcproj/.vcxproj which uses a MsBuild 3.5 or older version and older version of Visual C++ compiler and libraries.
3.  When we try to open such a

[2017-04-28 04:59] JunTaoLuo commented on #16040
Any updates on this?

[2017-04-28 07:18] jinujoseph commented on #18300
**Design Team Decision**

Design Teams proposal was to go with proposal 2 (Complex shape but richer hierarchy)

[2017-04-28 12:28] sharwell commented on #19065
:memo: My only edit was to the formatting of the stack trace

[2017-04-28 12:49] RussKie commented on #18273
It seems my error stemmed from the fact I was debugging a project on Mac under Parallels desktop and the project wasn't located on the windows' C:\ drive.
This link helped to resolve the issue http://stackoverflow.com/questions/43309509/visual-studio-2017-project-cant-run-debug-in-parallels-desktop-on-mac/43313815

Still the error could be much clearer.

[2017-04-28 12:55] poke opened #19072 "IntelliSense for OperationDescription does not find Behaviors member"
**Version Used**: Visual Studio 2017 v15.1 (26403.7)

**Steps to Reproduce**:
1. Create a new .NET framework project (e.g. console application), and add a reference to `System.ServiceModel`.
2. Declare a variable `op` of type [`OperationDescription`](https://msdn.microsoft.com/en-us/library/system.servicemodel.description.operationdescription.aspx)
3. Try to access the [`Behaviors`](https://msdn.m

[2017-04-28 14:08] heejaechang commented on #18818
@sharwell how users would know what is going on? allowing 2 different analyzers to report same diagnostic ID except vsix one is just confusing.

when moving vsix analyzers to nuget analyzer, asking users to update vsix and install nuget is I am not sure why so bad and needed to be avoided. it is one time thing and users need to update vsix at one point anyway. and this is intermediate issue.

anyw

[2017-04-28 15:24] schoetbi opened #19074 "Mark sourcefiles as being "generated" by filename, project-flag or special string in comment"
The project StyleCopAnalyzers check CS source files for style issues. I use the project flatbuffers that generated cs files but they do neither comply with the stylecop rules nor will they be detected by roslyn as being autogenerated.

Roslyn defines if a file should be considered autogenerated as mentioned [here](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/2195)

I do not know how

[2017-04-28 16:04] kuhlenh commented on #19050
Thanks @shaggygi ! Resolving as dupe.

[2017-04-28 16:04] #19050 closed

[2017-04-28 16:07] TyOverby commented on #19048
This is actually one of the issues that I've solved already for Async-Main.  I should be able to port the fix over to the scripting fairly easily.

[2017-04-28 16:08] jcouv opened #19075 "VB: language version flag 15.3 not properly passed to project system"
Repro:
- Create a VB proj and set language version to 15.3 (in the proj file)
- Type a tuple with inferred names and use the inferred names
- If you build the project, it will build properly
- But the IDE will show red squiggles (it is using language version Default)

[2017-04-28 16:33] AdamSpeight2008 commented on #19075
Default is tied to latest major release, `15.0`.

[2017-04-28 16:35] myblindy opened #19076 "What's new in Roslyn NuGet package 2.1?"
I can't find any change logs, is it safe to use? I've been having the VS2017 C# compiler crash every other compilation (and/or return -2146232797) and I'd love to try a newer version, but installing the package does nothing different. What version of the compiler did I have before? I can't even tell that.

[2017-04-28 17:06] #12436 closed

[2017-04-28 17:06] #16960 closed

[2017-04-28 17:06] #17896 closed

[2017-04-28 17:07] fabianoliver opened #19079 "Solution.WithDocumentSourceCodeKind - Changes aren't applied properly"
**Version Used**: 2.1.0

**Steps to Reproduce**:

See attached code file for a full example:

[UpdateSourceCodeKindExample.cs.txt](https://github.com/dotnet/roslyn/files/965067/UpdateSourceCodeKindExample.cs.txt)

**Expected Behavior**:

Code should run through without errors when instantiating the example class, meaning the solution should correctly have been updated and contain a document with a

[2017-04-28 17:09] jcouv commented on #19075
From discussion with @srivatsn, only the new project system has a generic way of passing the whole command-line through.
The old project system has to go through the un-managed API (`CVbcMSBuildHostObject::SetLanguageVersion`). That method needs to convert from language version as a string ("15.3") to an enum value (`VisualBasic15_3 = 1503` in this case).
Note: the corresponding method for Csc (`C

[2017-04-28 17:11] sharwell commented on #18563
Closing as fixed. For now a workaround, but still it's fixed and should not reappear.

[2017-04-28 17:11] #18563 closed

[2017-04-28 17:13] jcouv commented on #19075
One more thing: while making this change, let's also make sure that language version "Latest" is passed properly (`Latest = Integer.MaxValue`, but it's probably better to pass the specific version, `1503`).

[2017-04-28 17:14] srivatsn commented on #19075
Can you file a bug in the project-system repo for this?

[2017-04-28 17:18] agocke commented on #19076
@myblindy The difference between 2.0.0 and 2.1.0 is very small -- just a change to the .exe.config for the compilers to mandate running on frameworks >= .NET 4.6 and a change to an error message for tuples.

Did you file a bug for your compiler crash?

[2017-04-28 17:18] jcouv commented on #19075
Issue moved to [dotnet/project-system #2088](https://github.com/dotnet/project-system/issues/2088) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 17:37] tmat commented on #19048
@TyOverby Cool!

[2017-04-28 17:43] tmat commented on #18273
@brettfo Do you have a repro or a crash dump?

[2017-04-28 17:59] rchande commented on #9203
@tamlin-mike That's great info, thank you! One additional thing: Can you use the "Send Feedback" tool at the top of the VS window to send a recording of Visual Studio while you wait for inline rename? That will send us a performance trace we can use to diagnose the cause of the slowness. Feel free to mention me (rchande) in the description, that will help me search for it.

[2017-04-28 18:02] jasonmalinowski commented on #18818
@sharwell I missed one clarification in my example: 1.0 was coming from NuGet, 2.0 was coming from VSIX.

[2017-04-28 18:04] #19056 closed

[2017-04-28 19:30] VSadov commented on #18870
Both VB and C# tests are still failing. Failed 4 times in the last 24 hours

[2017-04-28 19:43] jasonmalinowski opened #19087 "AutomaticEndConstructCorrector has unlocalized UI strings"
Here: https://github.com/dotnet/roslyn/blob/9745b0fa5c6d451d7eaffb4bdbd903f0a39d25d0/src/EditorFeatures/VisualBasic/AutomaticEndConstructCorrection/AutomaticEndConstructCorrector.vb#L69

[2017-04-28 19:51] sharwell opened #19089 "Fix All operations ignore .editorconfig"
**Version Used**: Latest master branch

**Steps to Reproduce**:

1. Use Tools&rarr;Options to configure a preference to never use expression bodied properties, with severity Suggestion

1. Add a **.editorconfig** with the following line to override the one in Tools&rarr;Options

[code]

1. Add the following to a document

[code]

1. On the line with `return 3`, use the light bulb to Fix All in Doc

[2017-04-28 19:54] jmarolf opened #19090 "investigate flaky netcore tests"

[2017-04-28 19:54] VSadov opened #19091 "CSharpSquigglesDesktop and CSharpSquigglesNetCore tests are flaky"
VerifySemanticErrorSquiggles
VerifySyntaxErrorSquiggles

[2017-04-28 19:57] sharwell commented on #17183
@tannergooding There are two reasons you could have seen the behavior you did:

1. You had the diagnostic severity for the item set to Hidden (None in Tools|Options). Fix All is disabled in this case but still shows an empty preview. This is a nuisance and #19068 changes the behavior for one specific analyzer to avoid this situation.
2. You used **.editorconfig** to set the severity to suggestion,

[2017-04-28 19:57] VSadov opened #19092 "BasicReferenceHighlighting.Highlighting is flakey"
failed 12 times in last 24 hrs

[2017-04-28 19:59] VSadov commented on #19092
dupe

[2017-04-28 19:59] #19092 closed

[2017-04-28 20:00] VSadov opened #19095 "VerifyMultiFileRename is flaky"
Failed 6 times in last 24 hr

[2017-04-28 20:01] tannergooding commented on #17183
@sharwell, this repro'd in neither of those two cases. As in the repro above, we explicitly turn the diagnostic severity to "suggestion" (from a new .NET Core project which does not have an .editorconfig). This causes the initial lightbulb to display. Then selecting "Fix all" fails.

[2017-04-28 20:01] tannergooding commented on #17183
It is continuing to reproduce in the latest dogfood build of VS.

[2017-04-28 20:02] VSadov opened #19096 "ObjectBrowserNavigation is flaky"
Failed 3 times in last 24hr

[2017-04-28 20:03] sharwell commented on #17183
@tannergooding Can you clarify *exactly* how/where you set the severity to Suggestion? Just to make sure I have an accurate set of steps.

[2017-04-28 20:04] VSadov opened #19097 "PasteCodeWithLambdaBody is flaky"
There have been failures in last 24hr

[2017-04-28 20:06] tannergooding commented on #17183
Tools->Options->Text Editor->C#->Code Style->'var' preferences:->For built-in types = Prefer 'var'/Suggestion (it also repros under 'Warning' or 'Error')

[2017-04-28 20:10] VSadov opened #19099 "ClassificationInPreviewPane is flaky"
There have been failures in last 24hr

[2017-04-28 20:12] VSadov opened #19100 "BasicGenerateFromUsage.GenerateLocal is Flaky"
There have been failures in the last 24hr

[2017-04-28 20:27] JoshVarty opened #19101 "Field missing from completion list"
**Version Used**: 15.0.0+26228.12

First noted: https://github.com/dotnet/roslyn/issues/18359#issuecomment-293069534

I don't believe this is directly related though because this has nothing to do with `switch` and the missing entry is a field.

**Steps to Reproduce**:

1. File > New Solution > C# Console App
2. Add reference to Microsoft.VisualStudio.Shell.15.0
`C:\Program Files (x86)\Microsoft V

[2017-04-28 20:39] tmat commented on #18273
Repro unit test:

[code]

[2017-04-28 20:40] Pilchie commented on #19101
This field has `EditorBrowsable(EditorBrowsableState.Never)`

[2017-04-28 20:41] tmat commented on #18273
@cston Could you take a look? The variable ```x``` is not being defined in the bound block for some reason.

[2017-04-28 20:51] Pilchie commented on #15813
@jcouv What is the new behavior?

[2017-04-28 21:00] rainersigwald opened #19103 "Consider having CopyRefAssembly inherit from Copy"
The new `CopyRefAssembly` task has logic to determine whether a reference assembly is logically identical by comparing MVIDs of the source and destination files. If the MVIDs do not match, it copies the source assembly to the destination path.

As currently implemented, this copy doesn't have all of the bells and whistles of the `Copy` task, which supports retries and special-cases a number of sce

[2017-04-28 21:05] Pilchie commented on #19090
@jmarolf should this go on `dotnet/project-system`?

[2017-04-28 21:07] Pilchie commented on #19074
Tagging @jaredpar @jasonmalinowski @sharwell @mavasani @jinujoseph as we've been discussing this a bunch lately.

[2017-04-28 21:07] #19101 closed

[2017-04-28 21:08] CyrusNajmabadi opened #19105 ""Remove unused variable" shows up above "Add using""
![image](https://cloud.githubusercontent.com/assets/4564579/25547460/1592af9a-2c1c-11e7-889b-0ecd4c643dd9.png)

[2017-04-28 21:10] Pilchie commented on #19072
This member is marked with the `[EditorBrowsable(EditorBrowsableState.Never)]` attribute, which is something that API designers can use to deliberately hide things from IntelliSense.

[2017-04-28 21:10] #19072 closed

[2017-04-28 21:11] jmarolf commented on #19090
@Pilchie the tests live in this repo.  I don't know the strategy, perhaps?

[2017-04-28 21:11] Pilchie commented on #19065
Tagging @mattwar for historical context.

[2017-04-28 21:14] Pilchie commented on #19035
@AdamSpeight2008 Are you sure this isn't related to the VB Scanner changes in that PR?

[2017-04-28 21:17] Pilchie commented on #19031
We don't currently support Go To def from C# to F# (See https://github.com/dotnet/roslyn/issues/8105 for that).  Presumably the metadata as source service just picks VB if it doesn't know what the source language, but we should be generating C#.

[2017-04-28 21:22] CyrusNajmabadi opened #19106 "Naming Styles fantastic failure in broken code."
[code]

Note hte unterminated interface.  First, observe the following suggestion tag span:

![image](https://cloud.githubusercontent.com/assets/4564579/25547764/ffbaf9fa-2c1d-11e7-9d89-910d8538e07b.png)

Next, observe the totally broken suggestion:

![image](https://cloud.githubusercontent.com/assets/4564579/25547771/087da114-2c1e-11e7-8ca5-acdbb18fd7fd.png)

Note: that "IHost" is being picked be

[2017-04-28 21:26] Pilchie commented on #19011
I thought this was a dupe, but I can't see it right now. @rchande Does it look familiar to you?

[2017-04-28 21:29] Pilchie commented on #19001
@jasonmalinowski Do you suspect this is an `AsyncLazy/Workspace` issue, or a compiler issue with the incremental parser?

[2017-04-28 21:30] Pilchie commented on #18994
However, for right now, @CyrusNajmabadi is right - this is not how our experience currently works.

[2017-04-28 21:31] Pilchie commented on #18983
@jasonmalinowski did you have another issue already tracking that?

[2017-04-28 21:32] jasonmalinowski commented on #19001
@Pilchie No idea.

[2017-04-28 21:33] Pilchie commented on #18967
Dupe of https://github.com/dotnet/roslyn/issues/15044

[2017-04-28 21:33] #18967 closed

[2017-04-28 21:33] Pilchie commented on #15044
@srivatsn can you take this - it doesn't appear to have anything to do with DPL, but it's a native crash in csproj.dll

[2017-04-28 21:40] Pilchie commented on #19090
Fair point, but there is no appropriate Area label to classify this.  @srivatsn where would you like to track it?

[2017-04-28 21:42] Pilchie commented on #19001
@KirillOsenkov Any chance you can repro on Windows and get us a crashdump?

[2017-04-28 21:45] jasonmalinowski commented on #18983
I guess I had asked if @jcouv had something tracking it, but didn't follow up. @jcouv?

[2017-04-28 21:49] sharwell commented on #18960
Here's the underlying reason for the dependency:

https://github.com/dotnet/roslyn/blob/ee32351dd2aa588ac7e60a9fdc99ffa894d51f5b/build/Targets/Imports.targets#L457-L465

[2017-04-28 21:52] jcouv commented on #15813
Actual indentation is 12, rather than expected 8.
I haven't investigated in details to understand what is going on.

[2017-04-28 21:55] KirillOsenkov commented on #19001
Unfortunately I'm unable to repro...

[2017-04-28 21:58] rchande commented on #19011
Looks similar to https://github.com/dotnet/roslyn/issues/9763

[2017-04-28 22:03] NetMage commented on #254
It is really hard to tell where some of these proposals go it seems - there are no closing or summary notes on closed issues, and I assume an Open issue means (e.g. general declaration expressions) wasn't included in C# 7.0, but it seems like I should have to go to the C# design notes to tell. Perhaps it shouldn't be possible to close an issue without putting in a comment.

(BTW, is there a meta d

[2017-04-28 22:24] jcouv commented on #18983
Forwarded you notes from last discussion on this (how langver interacts with compiler and analyzers). Key points:

[2017-04-28 22:40] gafter commented on #254
Declaration expressions, as added in C# 7, are discussed in https://github.com/dotnet/csharplang/issues/365 . Related to this is a proposal for sequence expressions at https://github.com/dotnet/csharplang/issues/377 , which is not currently championed in the LDM. Closing this issue.

[2017-04-28 22:40] #254 closed

[2017-04-28 22:42] gafter commented on #2143
Issue moved to [dotnet/csharplang #510](https://github.com/dotnet/csharplang/issues/510) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 22:42] #2143 closed

[2017-04-28 22:45] gafter commented on #11286
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-04-28 22:45] #11286 closed

[2017-04-28 22:47] gafter commented on #8181
Issue moved to [dotnet/csharplang #511](https://github.com/dotnet/csharplang/issues/511) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 22:47] #8181 closed

[2017-04-28 22:49] #11526 closed

[2017-04-28 22:49] gafter commented on #11526
Issue moved to [dotnet/csharplang #512](https://github.com/dotnet/csharplang/issues/512) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 22:50] gafter commented on #6553
See also https://github.com/dotnet/csharplang/issues/512

[2017-04-28 22:51] gafter commented on #8115
Issue moved to [dotnet/csharplang #513](https://github.com/dotnet/csharplang/issues/513) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 22:51] #8115 closed

[2017-04-28 22:52] gafter commented on #11577
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-04-28 22:52] #11577 closed

[2017-04-28 23:03] #11370 closed

[2017-04-28 23:03] gafter commented on #11370
Issue moved to [dotnet/vblang #66](https://github.com/dotnet/vblang/issues/66) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 23:04] #3357 closed

[2017-04-28 23:04] gafter commented on #3357
Issue moved to [dotnet/csharplang #514](https://github.com/dotnet/csharplang/issues/514) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 23:04] gafter commented on #4945
Issue moved to [dotnet/csharplang #515](https://github.com/dotnet/csharplang/issues/515) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 23:04] #4945 closed

[2017-04-28 23:05] #5624 closed

[2017-04-28 23:05] gafter commented on #5624
Issue moved to [dotnet/csharplang #516](https://github.com/dotnet/csharplang/issues/516) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 23:06] gafter commented on #6136
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-04-28 23:06] #6136 closed

[2017-04-28 23:07] gafter commented on #6136
I removed the comment "I am not moving this particular issue because I don't have confidence that the LDM would likely consider doing this.". In fact, the LDM is considering doing this. See https://github.com/dotnet/csharplang/issues/192

[2017-04-28 23:08] #11031 closed

[2017-04-28 23:08] gafter commented on #11031
Issue moved to [dotnet/csharplang #517](https://github.com/dotnet/csharplang/issues/517) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 23:09] gafter commented on #11713
Issue moved to [dotnet/csharplang #518](https://github.com/dotnet/csharplang/issues/518) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 23:09] #11713 closed

[2017-04-28 23:10] gafter commented on #11880
Issue moved to [dotnet/vblang #67](https://github.com/dotnet/vblang/issues/67) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 23:10] #11880 closed

[2017-04-28 23:11] gafter commented on #11889
Issue moved to [dotnet/csharplang #519](https://github.com/dotnet/csharplang/issues/519) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 23:11] #11889 closed

[2017-04-28 23:12] #2114 closed

[2017-04-28 23:12] gafter commented on #2114
Issue moved to [dotnet/csharplang #520](https://github.com/dotnet/csharplang/issues/520) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-28 23:14] gafter commented on #12021
We are now taking language feature discussion in other repositories:
- https://github.com/dotnet/csharplang for C# specific issues
- https://github.com/dotnet/vblang for VB-specific features
- https://github.com/dotnet/csharplang for features that affect both languages

Features that are under active design or development, or which are "championed" by someone on the language design team, have alre

[2017-04-28 23:14] #12021 closed

[2017-04-28 23:22] gafter opened #19115 "Change base invocation in overrides to always call the immediate base class"
@paulomorgado commented on [Mon Apr 24 2017](https://github.com/dotnet/csharplang/issues/499)

Take the following set of assemblies:

##### Assembly A
[code]

##### Assembly B
[code]

##### Assembly C
[code]

##### Program
[code]

Running that program it wil, as expected, pring:

    A->c

If later assembly B is changed to:

##### Assembly B
[code]

without recompiling assembly C, the program will

[2017-04-28 23:27] srivatsn commented on #19090
Let's just move to the project-system repo so that there's place to look at all project system bugs.

[2017-04-28 23:28] srivatsn commented on #19090
This issue was moved to dotnet/project-system#2092

[2017-04-28 23:28] jcouv commented on #18371
I probably won't have time to investigate in dev15.3 timeframe given number of more annoying/breaking issues. Moving to next iteration.

[2017-04-28 23:29] AlekseyTs opened #19116 "Consider creating VerifyModifiers(MethodSymbol, DeclarationModifiers) test helper to use in DefaultInterfaceImplementationTests.cs"
Here is a link to PR comment that prompted creation of this issue https://github.com/dotnet/roslyn/pull/19080#pullrequestreview-35413909.

I personally don't believe it is worth spending time on that refactoring (introducing the helper and changing existing tests to use it) because it is unlikely that significant number of tests added in the future will need that helper.

[2017-04-28 23:32] cston opened #19117 "Test plan for `default`"
# Test plan for `default`
Checklist for implementation of https://github.com/dotnet/csharplang/blob/master/proposals/target-typed-default.md

## General concerns
- [ ] Backward compatibility: report version error with earlier `/langversion`
- [ ] Semantic model behavior
    - [ ] `GetSymbolInfo`
    - [ ] `GetSpeculativeSymbolInfo`
    - [ ] `GetTypeInfo`
    - [ ] `GetSpeculativeTypeInfo`
    - [

[2017-04-28 23:32] srivatsn commented on #15044
This issue was moved to dotnet/project-system#2093

[2017-04-28 23:32] #15044 closed

[2017-04-28 23:33] cston commented on #19117
See https://github.com/dotnet/roslyn/pull/18717

[2017-04-28 23:34] #19117 closed

[2017-04-28 23:52] #18905 closed

[2017-04-28 23:53] Pilchie commented on #18996
@srivatsn @jmarolf these are the ones you just disabled and entered a bug on project-system for, right?

[2017-04-28 23:53] Pilchie commented on #19008
didn't I see that you already have a PR for this?

[2017-04-28 23:54] Pilchie commented on #19011
Ah yes, though that's about the type instead of another member, so leaving this open for now.

[2017-04-28 23:55] Pilchie commented on #19012
I suspect the enum pre-selection code is what is making the upper-case one win.

[2017-04-29 00:00] Pilchie commented on #19042
When do we expect to update to a new version?  Probably not before 15.3?

[2017-04-29 00:16] Pilchie commented on #19079
@fabianoliver if you want to take a look yourself, this should eventually get updated [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Workspace.cs,816), via [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Workspace.cs,1307)

[2017-04-29 00:18] jcouv commented on #19047
I won't be able to get to this in dev15.3.

[2017-04-29 00:19] Pilchie commented on #19105
Eek, let's get this fixed.

[2017-04-29 00:22] Pilchie commented on #18963
@jcouv - removing IDE label until the API exists, since we can't do anything here.

[2017-04-29 00:23] VSadov opened #19119 "Should not zero-out locals when entering a scope, regardless if lifted in a struct."
The whole purpose of Definite Assignment Analysis is to ensure that uninitialized locals cannot be observed. That allows us to not zero-initialize locals when entering a scope because the uninitialized/previous state cannot be observed.

It appears we do zero-initialization when locals happen to be captured in a display struct because of use in Local Functions.  It seems to be a remnant of frame a

[2017-04-29 00:50] jcouv commented on #18994
Notes to self:
Relates to https://github.com/dotnet/roslyn/pull/16861.
For reference, the tests I'll need to add probably look like those: https://github.com/dotnet/roslyn/pull/13638.

[2017-04-29 01:00] jmarolf commented on #18996
This is actually a different set of tests than the one I set a PR out for, but if you asking if this should also be in the project system repo, I would say yes as the intent is the same

[2017-04-29 01:02] jcouv commented on #19075
Looks like we can fix this without project system change. Re-opening compiler issue.

[2017-04-29 01:03] #18480 closed

[2017-04-29 01:56] fabianoliver commented on #19079
That's a bit strange. Above code runs fine for me when I'm creating & linking a project against the respective Roslyn projects directly and compile from scratch. Both for my original github Roslyn clone, which was a few weeks out of date, as well as a live resync; and both in debug as well as release builds.

Yet it fails with the behavior described above when I'm using the Roslyn assemblies from

[2017-04-29 02:00] Pilchie commented on #19079
Check the history, maybe we fixed it :)

--
Kevin Pilch
https://twitter.com/Pilchie
________________________________
From: Fabian <notifications@github.com>
Sent: Friday, April 28, 2017 6:56:46 PM
To: dotnet/roslyn
Cc: Kevin Pilch; Comment
Subject: Re: [dotnet/roslyn] Solution.WithDocumentSourceCodeKind - Changes aren't applied properly (#19079)

That's a bit strange. Above code runs fine for me w

[2017-04-29 08:23] alrz commented on #14252
@gafter there is no cast involved, there is a isinst and unbox in both cases.

[code]
[code]

[2017-04-29 09:25] AndreasTruetschel opened #19122 "Csc ends with error code -2146232797 when using type-matching in specific condition"
**Version Used**:

**Steps to Reproduce**:

1. Add .Net Core project in VS 2017
2. Use the code snippet:
[code]
3. This yields the csc.exe to end with error code -2146232797

**NOTE**
When calling `FirstOrDefault(...)` in a separate line and saving the result to a fresh variable, everything works as expected.
[code]

[2017-04-29 09:35] mgravell commented on #18946
To avoid this, I tend to write them as regular methods then relocate them. Awkward, and i should probably just figure out how to write an analyzer to do it for me...

I've also taken to adding an extra (artificial) scope level when using local functions; so the local names don't collide.

Random syntax idea: allow `static` to be declared, which would disallow all capture (including `this`, which i

[2017-04-29 10:44] fabianoliver commented on #19079
I think you're right..!

v2.1.0 was released on Nuget on April 21, I assumed this was in line with the Github-version of around the same date.

But ILSpy tells me the v2.1.0-Workspace type doesn't have a "OnDocumentInfoChanged" method, which was added with a Commit on Feb 17 ( https://github.com/dotnet/roslyn/commit/a7a9dcbe79e23fe09242f0e0a05fe527e5be0e69 ), so must be some earlier version - and

[2017-04-29 17:18] sharwell commented on #19042
@Pilchie There is no expected update time frame yet. The upstream fix was closed as a tentative wontfix, so we'll see where things go.

[2017-04-29 18:10] KirillOsenkov opened #19127 "Need to expose /embed compiler option through MSBuild"
csc.exe has the /embed option (embed all sources in the portable PDB). There is the EmbeddedFiles MSBuild item that lets you specify the list of files to embed.

However there is no MSBuild alternative to the /embed option and people have to resort to workarounds such as:
[code]

It would be very useful to introduce a new Csc task parameter "EmbedAllSourcesInPdb" or similar. If set, it would autom

[2017-04-29 18:11] KirillOsenkov commented on #12625
I've logged a new issue to expose the /embed option through MSBuild: https://github.com/dotnet/roslyn/issues/19127

[2017-04-29 18:13] PhilPJL opened #19128 "MSbuild issue"
Version used:  2.1

Use TFS 2013 build to build our solution and would like to use C#7.  There was no problem using C#6 and .NET compilers 1.x.

Expected Behavior:  Build successfully
Actual Behavior: Fails with

     ...\Sources\packages\Microsoft.Net.Compilers.2.1.0\build\Microsoft.Net.Compilers.props(13,5): error : Microsoft.Net.Compilers is only supported on MSBuild v14.0 and above [....\SubSy

[2017-04-29 20:39] pixellos opened #19129 "C#7 inline As variable scope is too wide"
**Versions Used**:
2.1.0 (nuget from 24-04-2017),

Release version from
Internal ID: Roslyn-Signed_20170320.4
Internal VS ID: d15rel.26403.00

**Steps to Reproduce**:

1.  new file test.cs with
[code]
2. Compile with csc.exe from newest release
https://github.com/dotnet/roslyn/releases/tag/Visual-Studio-2017-Update-1

**Expected Behavior**:
Build should have pass.
This construct should be treated

[2017-04-30 05:16] tamlin-mike commented on #18631
I found it quite easy to whip together a quite easy repro displaying a _serious_ performance regression of csc 2.1.0.61520 compared to an older (system-installed) 4.6.1586.0 (do not be fooled by the version numbers - it's a bit like Explorer sort order, 2 is larger than 4).

Paste the following in a command prompt:
[code]

The older (64-bit) 4.6.1586.0 compiles the file into an exe in 281 millisec

[2017-04-30 05:29] Thaina commented on #11552
ported to csharplang

[2017-04-30 05:29] #11552 closed

[2017-04-30 07:00] tamlin-mike commented on #18614
@rchande Only four months since I reported that bug. Is the backlog getting thin? :)

@Pilchie Is that part of the proprietary VS source base, or is it in the open Roslyn src? If the latter I can take a look at it.

[2017-04-30 08:53] tamlin-mike commented on #18466
@Pilchie " At this point I can not see a good reason to prefer public fields.": I can see value in this. Imagine a vec3f { float x,y,z; }. Using properties for these would make something already slow even worse. If you have a directory "LowLevelMath" in a folder in a project, I can definitely see value in being able to prefer direct field access over properties _for that directory_ (and subdirs).

[2017-04-30 09:12] tamlin-mike commented on #18378
To me, that example looks like it would not enter the catch if File.Create() threw an exception. That seems to not be the intention of this snippet.

[2017-04-30 09:45] tamlin-mike commented on #18376
It seems to me this boils down to different categories, maybe even modes.

1. Writing (or editing) code. In this mode, you want _immediate_ typing response, and delays in the markup are expected. TODO: Make the delay time a user-setting.

2. Maintaining (or refactoring). In this case you want the markup ASAP when opening the document (without affecting open document, and moving around, speed). A d

[2017-04-30 10:13] tamlin-mike commented on #18282
@Pilchie _and giant set of additional preferences_
Perhaps that's why f.ex. IDEA _have_ that giant set of options. Jetbrains invest development time to implement what customers want. Such customer care obviously raise the bar for the whole industry,  Microsoft included. Except... Microsoft isn't even willing to lift a finger to try to compete!

With that mindset, and Rider "just around the corner"

[2017-04-30 11:05] urasandesu opened #19130 "Prohibit to use double quoted title with wiki"
**Version Used**:
n/a

**Steps to Reproduce**:

1. Clone https://github.com/dotnet/roslyn.wiki.git on Windows

**Expected Behavior**:
All operations should be succeeded.

**Actual Behavior**:
Clone is succeeded but checkout is failed. Because [the title of this page -- it is used as file name -- contains double quote](https://github.com/dotnet/roslyn/wiki/How-to-support-new-C%23-language-features-

[2017-04-30 12:21] jairbubbles opened #19131 "Bad startup performance with .NET Framework 4.6.2"
**Version Used**:  2.1.0

**Steps to Reproduce**:

1. Clone my depot https://github.com/jairbubbles/RoslynCompiler
2. Launch Comparer.exe

**Expected Behavior**:

Compilation time should be fairly identical with all .NET framework 4.6.x versions.

**Actual Behavior**:

Compilation time with .NET Framework 4.6.2 is doubled compared to 4.6.1 or 4.6

*I would be really interested to see if those timi

[2017-04-30 12:40] jairbubbles commented on #19131
@daveaglick As you play a lot with Roslyn you might be interested by this subject.

[2017-04-30 16:07] Rabadash8820 commented on #18466
@tamlin-mike  Good point; gaming and multi-media APIs like Unity3D and SFML are riddled with public float fields.  This reinforces the potential benefit of a `dotnet_style_properties_over_fields` .editorconfig setting, because again, either convention might be appropriate in a given environment.  Don't let the "properties over fields" order throw you; the setting could just as easily be called `do

[2017-04-30 16:23] MichaelPuckett2 commented on #18378
That's fair enough.  I usually don't put braces on the outer using if it's used within nested using statements but I won't argue that the braces line up with the inner using.  So put braces on the outer using and make the catch there... It would look essentially the same.  The point is using could easily contain it's own try catch instead of having to wrap it.

[2017-04-30 16:50] divega commented on #8237
Same issue reported here: https://developercommunity.visualstudio.com/content/problem/50498/intellisense-not-working-for-ef-core-theninclude.html

[2017-04-30 17:14] spottedmahn commented on #8237
Any updates?  Please fix! :)

[2017-04-30 18:23] sharwell commented on #19129
The behavior you are observing is actually by design. It was implemented in order to support common scenarios like this:

[code]

[2017-04-30 18:27] sharwell commented on #19129
I'm leaving this open so one of the language design members can add more context and/or links to related issues to help you understand how to best use this new feature. 😄

[2017-04-30 18:50] CyrusNajmabadi commented on #18282
@tamlin-mike @DavidArno  PRs welcome :)

[2017-04-30 18:51] CyrusNajmabadi commented on #18614
@tamlin-mike You can find this code in https://github.com/dotnet/roslyn/tree/master/src/VisualStudio/CSharp/Impl/Options/Formatting

[2017-04-30 19:12] pixellos commented on #19129
Ok, i've been trying to understand it right, so i put a little piece of code into vs 2017/ .net 4.7.0 (Microsoft.Net.Compilers 2.1.0)

``
using System.Reflection;
using System.Reflection.Emit;
namespace Csharp7
{
    class Program
    {
        public static MethodBase GetSomeMethod => MethodInfo.GetCurrentMethod();
        public static void Main(string[] args)
        {
            var k = Progr

[2017-05-01 03:34] jaredpar commented on #19127
CC @tmat and @nguerrera

[2017-05-01 03:39] tmat commented on #19127
I'm not sure if embedding all sources is the primary scenario. Embedding sources that are generated seems more likely for projects that can use source link for files checked in a source control.

[2017-05-01 03:44] KirillOsenkov commented on #19127
Having sources locally is of great benefit:

 1. For debugging performance (local sources will open faster)
 2. Avoids the security warning in the debugger
 3. For private repos (auth issues etc)
 4. For projects outside of source control, or which are not under source control at build time
 5. The PDB size doesn't grow a lot (esp. compared with Windows PDBs)

[2017-05-01 04:13] tmat commented on #19127
Re 3. Auth will be supported in future. //cc @gregg-miskelly

All these reasons are great, but I still don't think embedding all sources in PDB will be very common. We shall see. I'm not disagreeing though that having EmbedAllSourcesInPdb task parameter wouldn't be good. I'd wait to get more up votes for this proposal though. The alternative (adding a task) doesn't seem like that big of a deal.

[2017-05-01 04:14] #12027 closed

[2017-05-01 04:14] gafter commented on #12027
Issue moved to [dotnet/vblang #69](https://github.com/dotnet/vblang/issues/69) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-01 05:07] KirillOsenkov commented on #19127
I guess my real concern that I haven't voiced yet is the following. Our tools ecosystem is full of friction. NuGet, project.json, MSBuild, dotnet CLI, project systems, etc. they all are a 1000 papercuts, full of hard to diagnose issues. Nothing ever goes smoothly in the build tools world.

I view my personal responsibility in trying to reduce this friction as much as I can, making the .NET tools w

[2017-05-01 06:00] davkean opened #19135 "CSharpUseNamedArgumentsCodeRefactoringProvider crashed with IndexOutOfRangeException"
VS Build: 26426.1 VSUWPT

[code]

Stack:
[code]

[2017-05-01 06:03] davkean opened #19136 "ExtractMethodCodeRefactoringProvider crashed with InvalidOperationException"
VS Build: 26426.1 VSUWPT

Note same code that crashed: https://github.com/dotnet/roslyn/issues/19135.

[code]

[code]

[2017-05-01 06:05] davkean commented on #19136
Might have something to do with a field and a variable with the same name; "pane".

[2017-05-01 06:05] davkean commented on #19135
Might have something to do with a field and a variable with the same name; "pane".

[2017-05-01 06:54] tamlin-mike commented on #18614
@CyrusNajmabadi Thanks.
After having looked into this, it seems the current behavior is to always consume a click as a selection-state change.

1. For a "normal" dialog property page, that is expected, as you don't have a list of options to move around in with cursor-key up/dn.

2. The problem is for the "special" pages, that kindasorta look like list controls, but are not, where if they have any

[2017-05-01 07:36] davkean opened #19140 "Don't get offered usings/spell checker etc inside the method body of an abstract method"
Was doing refactoring where I wanted to convert an abstract method -> virtual method, I added a body to the abstract method and while I got normal intellisense, I did not offered usings or spelling check code actions, etc until I removed the "abstract".

This feels strange to be me, because other invalid constructs such as unrecognized modifiers don't stop me from getting offered these.

[code]

1

[2017-05-01 07:37] davkean commented on #19140
Also don't get colorized keywords.

tag @CyrusNajmabadi

[2017-05-01 08:29] cwe1ss commented on #19127
Full ack @KirillOsenkov!

Working with internal libraries and the .NET core tooling is pretty painful right now. Using project references makes debugging easy but currently is [incredibly](https://github.com/dotnet/cli/issues/5656) - [slow](https://github.com/dotnet/cli/issues/5918) and using NuGet packages is a big PITA as well because you can't easily step into them and you also get the burden o

[2017-05-01 11:38] sharwell opened #19141 "Several VB projects will not load in Roslyn.sln"
**Version Used**: Latest master (commit bab9408961d15d910c3ee48216a586cda58f8265)

**Steps to Reproduce**:

1. Open Roslyn.sln in Visual Studio 2017
2. Observe that **BasicCodeAnalysis** project is unloaded "(load failed)"
3. Attempt to reload the project

**Expected Behavior**:

The project should be loaded.

**Actual Behavior**:

There are several projects affected:

* BasicCodeAnalysis
* BasicE

[2017-05-01 13:17] #19141 closed

[2017-05-01 14:39] ctaggart opened #19143 "authentication support for source link"
I think this is is the correct repository to track authentication support for source link in the Visual Studio debugger, but please correct me if I'm wrong. It sounds like support is planned, but I couldn't find an open issue that is tracking it, so I'm opening this one. Any more details on this would be appreciated. It would be incredibly useful to my company and all other .NET devs in corporatio

[2017-05-01 14:52] rchande commented on #19091
@jmarolf Since you wrote this one, can you take a look?

[2017-05-01 14:54] ctaggart commented on #19127
What if I made a `SourceLink.EmbedAllSources` nupkg that did what you are asking?

[2017-05-01 15:06] kumpera commented on #19001
Maybe it only happens on OSX tha has a shorter default stack size.

[2017-05-01 15:10] Pilchie commented on #19130
I just renamed the page.

[2017-05-01 15:10] #19130 closed

[2017-05-01 15:28] myblindy commented on #19076
I wish I could, but I can't release the code since it's proprietary and I'm fairly certain it's because of the size of the codebase/class and the number of compiler-generated items (inner functions, nested lambda functions, etc).

It really is annoying though, 2 out of 3 compilation attempts fail and the 3rd succeeds most of the time, except if I make some very specific code changes then it refuse

[2017-05-01 15:55] Pilchie commented on #18466
@tamlin-mike What JIT doesn't inline simple property accessors anyway?

[2017-05-01 16:10] jcouv opened #19144 "GetTypeInfo returns strange type for tuple literal with a nullable type"
[code]

[2017-05-01 16:14] ChristopherHaws commented on #17660
@GerjanOnline Can you provide the link to your issue on the developer community site? I would like to upvote it, but I can't seem to find it.

Thanks!

[2017-05-01 16:35] Pilchie commented on #19079
That's quite likely - most of our focus has been on the 2.3 branch, with only a couple of very impactful fixes going to the 2.1 and 2.2 branches.

Sounds like this can be closed as fixed in 2.3.

[2017-05-01 16:35] #19079 closed

[2017-05-01 16:37] rchande commented on #19097
@VSadov When you file these, can you include a link to a PR with a failure?

[2017-05-01 17:15] sharwell commented on #18949
Implemented this morning. While @jasonmalinowski's comment was more agreed to than not, we went with the original proposal for its simplicity (didn't have to come up with colors for all the other items which are red or red-like).

[2017-05-01 17:15] #18949 closed

[2017-05-01 17:21] tamlin-mike commented on #18466
@Pilchie Really? Instead of addressing the issue at hand, namely _source code_, you try to make this a discussion about how a JIT may or may not optimize (while consuming more CPU) unwanted IL (which by its very definition creates bloat)?

I'm sorry, I won't bite. I just wanted to make you aware you're busted, and since it's bad form to feed the trolls, I end this discussion here.

[2017-05-01 17:44] gregg-miskelly commented on #19143
@ctaggart there isn't really a GitHub project that maps to the debugger, though in this case maybe it makes sense. I opened up a UserVoice item to track this: https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/19107784-debugger-should-support-authentication-with-source

[2017-05-01 17:57] gafter commented on #8237
Fixing this would probably require a few weeks of effort.

There is no mechanism right now for the semantic model to “merge” results from distinct (erroneous) trial bindings of a lambda. There is no mechanism for binding an expression with the type of a variable being “either this or that”. The GetTypeInfo API, which the IDE currently uses to get the type from which its completion list is populate

[2017-05-01 18:00] tmat commented on #19127
We are working on improving things. It goes slower than I'd like to but we are making progress.

Let me clarify a few things -- embedding sources doesn't increase DLL size unless the DLL also embeds PDB. Sources are embedded into PDB. PDB can still be a separate file. Yes, if sources are embedded and PDB is embedded then the DLL is gonna be bigger. I would not recommend that for general purpose li

[2017-05-01 18:09] cwe1ss commented on #19127
@tmat - thanks for your response and for clarifying that sources go into the PDB. I used debugType=embedded so I didn't think about this.

👍 This would be amazing! Hope to see it one day!!

[2017-05-01 18:12] sharwell opened #19148 "Update Build Boss to enforce correct project system GUID in solution"
Currently Build Boss does not verify that the project system GUID specified in the solution file matches the project system GUID required for the project. This can become out of sync when a project is updated such that it changes project systems, e.g. #19109. See #19147 for an example of how the solution might need to be updated.

[2017-05-01 18:36] jairbubbles commented on #19127
@tmat Hi, I was wondering if you have plans on remote debugging. Right now if I'm not mistaken, pdb on the distant computer will be ignored. So including pdb in NuGet package is not enough in this case, you must put it on a symbol server which is a bummer as the idea behind having pdb in NuGet packages is NOT to have a symbol server. It's clearly less important but I guess you should include this

[2017-05-01 18:39] tmat commented on #19127
@jairbubbles The idea is that the debugger finds the PDB on the NuGet server.

[2017-05-01 18:49] jairbubbles commented on #19127
@tmat Interesting but how will it know what package to download? I've always thought that from a runtime perspective you can't really know if the assembly comes from a NuGet package or not. Do you plan to change that? If so it would be pretty cool and open opportunities.
Also, why does not the remote server serve the pdb locally ? It seems more universal. It's not like all assemblies come from a N

[2017-05-01 19:02] CyrusNajmabadi commented on #18614
@Pilchie @dpoeschl Can you weigh in on this?  Is there nothing in the Roslyn side of things that can address this issue?

[2017-05-01 19:45] gregg-miskelly commented on #19127
BTW: I created a [UserVoice item for /embedded](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/19107733-debugger-should-support-c-compiler-embed-optio) and a [UserVoice item for SourceLink authentication](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/19107784-debugger-should-support-authentication-with-source).

[2017-05-01 19:49] #18691 closed

[2017-05-01 20:00] jasonmalinowski commented on #19076
@myblindy Please file a bug so we can track it. Even if you can't share code (don't worry, that's the common case) there's still logging and other information we can work with you to collect which can help us understand what is going on.

[2017-05-01 20:41] agocke commented on #19038
@gafter I think this is ready to start working on. Most of the cases I listed were places where we could theoretically refute the match at compile time. It's not clear to me what we want to do in this case. It appears, from the `is` behavior, that we do not attempt to refute anything at compile time.

Maybe this is acceptable, but since it would be a breaking change to change this later, it's some

[2017-05-01 20:44] gafter opened #19150 "Redundant HasValue test in nullable pattern-match"
**Version Used**:

15.3 (master branch)

**Steps to Reproduce**:

1. Compile the following and examine the IL
[code]

**Expected Behavior**:

Only one test for `x.HasValue`

**Actual Behavior**:

Two tests for `x.HasValue`.

[2017-05-01 21:10] urasandesu commented on #19130
Thank you for the quick response!!

[2017-05-01 21:19] gafter opened #19151 "Matching an expression of type `byte?` with a pattern of type `int` should not be allowed"
**Version Used**:

15.3 (master)

**Steps to Reproduce**:

1. Compile the following
[code]

**Expected Behavior**:

Compile-time error "a value of type `byte?` can never be handled by a pattern of type `int`".

**Actual Behavior**:

Compiles with no error. Pattern never matches.

[2017-05-01 21:29] alexschneider-ms opened #19152 "Find all references where a collection is modified"
I'd like to propose the following feature request:

* Find all references to a collection where it is assigned to or modified. When I say modified, I mean like when the operations `List<T>.Add()`, `List<T>.Insert()`, `List<T>.Remove/RemoveAt/RemoveAll`, `List<T>.Reverse()`, etc and so on for Dictionaries, Sets, anything under System.Collections. I'm looking to find any method that actually changes

[2017-05-01 21:40] gafter opened #19153 "Redundant box in pattern-match"
**Version Used**:

15.3 (master)

**Steps to Reproduce**:

1. Compile the following and examine the IL
[code]

**Expected Behavior**:

x is boxed once.

**Actual Behavior**:

x is boxed three times.

[2017-05-01 21:54] ivanbasov opened #19154 "support advanced edits of foreach statements within ENC"
Within a code like:

[code]

we can consider the following edits:
1. var to specific type or interface
2. change a variable name from x to y
3. replacing var x for tuples into deconstructions like (int a, int b)

Currently, those scenarios are considered as rude edits by ENC, i.e. not supported. Need to support them by ENC.

[2017-05-01 22:03] #18811 closed

[2017-05-01 22:32] elijah6 commented on #18678
Although this isn't marked as up-for-grabs, I had a look as it was related to #18750 , which I recently worked on. If it was already analysed and the solution is already being prepared, please ignore...

**Problem summary**
All catch clauses, as well as the end of the try-block, are unreachable, so the implicit return statement is not inserted at the end. But each unreachable catch block emits bra

[2017-05-01 22:44] Pilchie commented on #18787
Also reported in https://developercommunity.visualstudio.com/content/problem/47263/colorcolorblack-intellisense-is-adding-an-addition.html.

[2017-05-01 23:04] mattscheffer opened #19158 "VS crash: 'TryGetDocumentOption' in type 'DocumentOptions doesn't have implementation"
**Version Used**:
RTW + install Roslyn.Deployment vsix from 20170501.1
**Steps to Reproduce**:
1.  Create a new C# .NET core app
2. Wait for crash

[code]

[2017-05-01 23:04] mattscheffer commented on #19158
@mavasani

[2017-05-01 23:07] mavasani commented on #19158
Tagging @jasonmalinowski @sharwell

[2017-05-01 23:09] jasonmalinowski commented on #19158
This is another instance of having mismatched bits. I'm guessing if @brettfo looks at his machine he'll see he has different VSIXes installed from different branches at once. @jaredpar is working on fixing this. (FYI to @Pilchie as well.)

[2017-05-01 23:14] jaredpar commented on #19158
What fix is it imagined that I'm working on here?

[2017-05-01 23:21] jasonmalinowski commented on #19158
@jaredpar Fixing the VSIX feed publishing.

[2017-05-01 23:41] jcouv commented on #18678
Thanks @elijah6 for the investigation. I don't think anyone drilled into this issue yet.
Adding @gafter @VSadov

[2017-05-01 23:43] SLaks opened #19160 "Razor: Override Completions don't work"
**Version Used**: 15.1 (26403.7)

CSHTML Source:

[code]

Pressing Ctrl+Space on `E` will show `The supplied SnapshotPoint is on an incorrect snapshot.
Parameter name: bufferPosition`

[2017-05-02 00:00] jasonmalinowski opened #19161 "Update new project system to support watching for appearing/disappearing .editorconfig files"
Just like #19029 for the legacy project systems, we also need an update for the new project systems too. The appropriate file watching needs to be updated to make sure that works.

[2017-05-02 00:03] chborl opened #19162 "Incorrect offer to interpolate string"
**Version Used**:
Current bits
**Steps to Reproduce**:

1.  paste csharp code
[code]
2. place carat at $$
3.  Ctrl + dot

**Expected Behavior**:
No offer to interpolate string

**Actual Behavior**:
![image](https://cloud.githubusercontent.com/assets/25776963/25599254/910ebb80-2e8f-11e7-8b63-f30bcae91c6e.png)

[2017-05-02 00:17] Ultrahead commented on #10552
I'd use static locals with recursion, but now local functions are included I can handle such use cases with them within the scope of each instance. But there could be cases where shared access among instances is needed, so it's a +1 for me (specially given that it's already present in VB).

[2017-05-02 00:22] ivanbasov opened #19163 "Microsoft.CodeAnalysis.Differencing.Match.ComputeMatchForLabel performance and maintainability improvements"
The Microsoft.CodeAnalysis.Differencing.Match.ComputeMatchForLabel method attempts to approximate an O(N^2) matching algorithm with multiple passes with difference distance thresholds. It is expected that those passes are often executed within O(N). However, it is not guaranteed and, O(N^2) still happens often.

Moreover, it is observed that:
1. Passes perform the same calculations multiple times.

[2017-05-02 00:23] Pilchie commented on #8237
Reported again in https://developercommunity.visualstudio.com/content/problem/50498/intellisense-not-working-for-ef-core-theninclude.html

[2017-05-02 00:52] yizhang82 commented on #18754
Chatted with @jcouv offline. One thing we had enabled for our N tests in the past is to "merge" multiple tests into one at compile time by building them as one EXE, and send it to ILC. This is very effective for small tests, which is the case for Roslyn tests. In particular, Roslyn has concept of test runners that runs the emitted assembly in the target environment, and in theory we could have N t

[2017-05-02 01:00] jasonmalinowski opened #19165 "CS2002 may issue warning with differently cased files"
The generation for CS2002 uses [case-insensitive comparisons](https://github.com/dotnet/roslyn/blob/411d560af6340acc0faa7bac17e3cc1214424581/src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs#L83) which would fail on a case-sensitive file system if you actually wanted different file paths.

[2017-05-02 01:37] gafter commented on #18678
Another option might be to drop the entire catch clause.

[2017-05-02 01:40] #19119 closed

[2017-05-02 01:41] gafter commented on #8237
@Pilchie That's what https://github.com/dotnet/roslyn/issues/8237#issuecomment-298243181 says.

[2017-05-02 01:48] tmat commented on #18678
We need to emit all unreachable code in Debug builds as it can be reached by modifying the method or manually setting the IP.

[2017-05-02 01:49] tmat commented on #18678
Related: https://github.com/dotnet/roslyn/issues/17947

[2017-05-02 02:22] divega commented on #8237
@gafter then the solution that @CyrusNajmabadi described at https://github.com/dotnet/roslyn/issues/8237#issuecomment-278251000 does not apply?

[2017-05-02 03:57] VSadov commented on #18678
The simplest solution would be to make the unreachable leaving branch to leave to itself. - unreachable infinite loop similar to what is done for leaves that are blocked by finallies that never terminate.

In addition it would be nice to remove these catches entirely.
However although in some cases catch may become unreachable as a result of other optimizations so the code that handles such catche

[2017-05-02 04:01] VSadov commented on #18678
@tmat  - keeping unreachable code could be tricky. It can violate numerous IL invariants - unbalanced stacks, reading uninitialized data, missing returns,dropping through the end of EH regions, branching to nowhere...

C# compiler was always removing unreachable code. It is much easier to detect and drop it than ensure that it is well formed.

Not that it is impossible, just to mention that it is

[2017-05-02 04:10] Hosch250 commented on #3590
I'm not a UI expert, but what if you had a drop-down that was closed by default just above the preview? Then, the user decides whether to make the preview box big enough to display both (or it could be display either/or, with the code change being displayed by default, like below).

![image](https://cloud.githubusercontent.com/assets/6299719/25603657/3d828e36-2ec3-11e7-8990-ca3958285f24.png)

[2017-05-02 04:34] #14171 closed

[2017-05-02 05:24] davkean opened #19171 "CSharpAddParameterCheckCodeRefactoringProvider crashes when a project doesn't have any valid references"
1. File -> New -> Console App (.NET Core)
2. Right-click project, and choose Edit ConsoleApp1.csproj
3. Change `<TargetFramework>netcoreapp2.0</TargetFramework>` to `<TargetFramework>IDoNotExist</TargetFramework>`
4. Open Program.cs:
5. On 'args' of `string[] args', CTRL+.

Code action crashes with:

[code]

[2017-05-02 05:25] davkean commented on #19171
I suspect the same will occur if you run this before the project has finished restoring.

[2017-05-02 05:27] davkean opened #19172 ""Add null check" doesn't respect "Code block preferences""
I have code block preferences like so:

![image](https://cloud.githubusercontent.com/assets/1103906/25605104/d99f67fc-2f4b-11e7-9d4e-62b37bef1e34.png)

1. CTRL+. on `args` and choose **Add null check**

[code]

**Expected:**
[code]

**Actual:**
[code]

[2017-05-02 05:30] alrz commented on #19151
"Compiles with no error." and no warnings? I think it'd be nice to inform the user if a pattern will never match.

[2017-05-02 05:38] davkean opened #19173 ""Add null check" is continuously offered if the parameter is of a type that hasn't been resolved"
1. CTRL+. on `args`

[code]

**Expected:** Not to be offered to "Add null check"
**Actual:** Continuously offered to "Add null check" until "String" is been resolved

[2017-05-02 05:39] davkean commented on #19173
Interestingly, this doesn't occur if you change `String` -> `String[]`

[2017-05-02 05:44] davkean opened #19174 ""Add null check" doesn't respect "predefined type preferences""
1. Change "predefined type preferences" to:

![image](https://cloud.githubusercontent.com/assets/1103906/25605441/21ea9fc0-2f4e-11e7-8cb3-3adc66b3e30e.png)

2. Apply "Add null check" on `bar`

[code]

**Expected:**
[code]

**Actual:**
[code]

[2017-05-02 06:00] davkean opened #19175 ""Add argument name" requires you to be on exactly the argument"
1. CTRL+. at $

[code]

**Expected:** To be offered to "Add argument name"
**Actual:** Not offered to "Add argument name"

Note, for highlighting usage and goto definition purposes that character position is considered part of the argument.

[2017-05-02 06:10] davkean commented on #18622
Yeah can still repro this:

![rename](https://cloud.githubusercontent.com/assets/1103906/25605938/c4bffcf6-2f51-11e7-9b94-b18cc566d8b2.gif)

[2017-05-02 07:10] davkean opened #19178 "Confusing error span/error message if you forgot a starting brace in async statement lambda"
I have the follow code, and I've forgotten a brace where indicated:

[code]

Hovering over this shows the following:

![image](https://cloud.githubusercontent.com/assets/1103906/25607217/e8d55f26-2f58-11e7-86ce-9a3dcdf78fff.png)

This is really confusing - CS1998 fires stating that the method is missing an await, but the span of the error message for CS1998 knows to include the statements that hav

[2017-05-02 08:33] ctaggart commented on #19143
@gregg-miskelly  added to User Voice:
[Debugger should support authentication with SourceLink](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/19107784-debugger-should-support-authentication-with-source)

[2017-05-02 12:07] Matt11 opened #19180 "TryParse in C#7 emitting a warning with NullReferenceException"
**Version Used**:
Visual Studio Enterprise 2017 Version 15.1 (26403.7) Release

**Steps to Reproduce**:

1. Create a **C# console application** in VS 2017 (version as above)
2. In **Main** method, insert the following C#7 statement:
    `if (int.TryParse("123", out _)) Console.WriteLine("Syntax OK");`
3. **Compile** the solution

**Expected Behavior**:
No warnings

**Actual Behavior**:
Warning AD0

[2017-05-02 13:13] weitzhandler commented on #18161
I'm also experiencing a crash.
I'm not sure I reproduce precisely, but here's my code:

    enum Gender { Male = 1, Female = 2 }
    var x = (Gender)3;
    x.ToString(); //crash

Anyway, I'd love to know how you recorded your screen like that, is this built in in Windows?

[2017-05-02 13:22] vamsisridhara commented on #17613
this issue resolved when I disable the solution light weight load option.

[2017-05-02 14:37] myblindy commented on #19076
@jasonmalinowski Very well, I'll set up an issue for it. You can mark this closed by the way, @agocke answered my initial question.

[2017-05-02 14:58] Pilchie opened #19181 "Support "Create Derived Type" for interfaces/abstract classes"
See https://github.com/OmniSharp/omnisharp-vscode/issues/1447.

It would be nice to be able to generate a new derived type from an interface/abstract class definition.

[2017-05-02 15:02] myblindy opened #19182 "C# 7 compiler crash / error -2146232797"
**Version Used**:
Original VS2017 compiler, as well as the 2.1 NuGet compiler package.

**Steps to Reproduce**:
This is where it gets tricky, it only happens in one (corporation-owned) project that has a very large class, and that heavily uses the new C# 7 features (value tuples and nested functions). And multiple-level nested lambda functions. I've also tried splitting the larger functions into s

[2017-05-02 15:08] weitzhandler commented on #18600
Issue still exists on VS 15.1 26403.7.

[2017-05-02 15:17] #19035 closed

[2017-05-02 15:17] Pilchie commented on #19035
We're not seeing this in our tests - please let us know if you can repro without your changes.

[2017-05-02 15:19] Pilchie commented on #19001
@jaredpar - I suspect your team is more set up to debug issues on Mono than mine.  Any chance you could take a first look here and see if this is the parser proper or the workspace?

[2017-05-02 15:20] AdamSpeight2008 commented on #19035
@Pilchie It was the change to parser.

[2017-05-02 15:29] ctaggart commented on #19127
I think the scope of this issue is about the `/embed` option to embed all source files. I created a `SourceLink.Embed.AllSourceFiles` nuget package as part of 2.1.1 just now. It works with both C# and F# projects which use different msbuild properties. It is documented here:
https://github.com/ctaggart/SourceLink#embedding-source-files

@cwe1ss Most of the issues you brought up are now listed in K

[2017-05-02 15:37] Pilchie commented on #18600
Yes, the issue is still Open, and is currently targeted at the 15.3 milestone.

[2017-05-02 16:09] rchande opened #19185 "Bad sorting from Metadata as source"
GTD on `Humanizer.On`. This is the result:
![image](https://cloud.githubusercontent.com/assets/3751401/25627312/ffc14ac0-2f16-11e7-8a99-9163b66179d1.png)

We have a LogicalStringComparer in the VS layer that could be used for this sorting.

[2017-05-02 16:38] alrz opened #19186 "Code Style: enforce named arguments for literals"
Note: there is already a refactoring for adding named arguments.

[2017-05-02 17:10] TyOverby commented on #18964
@BattleRush Something is wrong with your repro if you are getting this:

[code]

[2017-05-02 17:18] dpoeschl commented on #18622
That is the lowest resolution gif I have ever seen. Is bandwidth down under *that* bad?

[2017-05-02 17:35] weitzhandler commented on #18600
oops sorry i missed that, thanks for your response, deleting my posts to keep the thread clean

[2017-05-02 17:51] BattleRush commented on #18964
@TyOverby Thats correct. I tested it today again and for `csc /main:Program Class1.cs` I dont get any warnings/errors aswell. Not sure that I did wrong when I first run.

[2017-05-02 17:59] gafter commented on #19151
@alrz A pattern that will never match (based on its type) is intended to be an error. That's why I opened this issue.

[2017-05-02 17:59] gafter commented on #19151
Note to self: See
[code]
for many cases of interest.

[2017-05-02 18:16] #19076 closed

[2017-05-02 18:41] tmat commented on #18678
@vsadov I think we need to distinguish unreachable code within statement, e.g. ```F(throw null, Unreachable())``` vs. unreachable statements (or more generally sequence points). The former is fine to elide. The latter should be preserved. In the latter case I don't think we should get into unbalanced stack issues, since statements always start with empty stack. Not sure about the other issues you

[2017-05-02 18:49] miloush commented on #18810
@lachbaer what if you can't decide at compile time? i.e. the `catch` can have `when` filters...

[2017-05-02 19:22] CyrusNajmabadi opened #19187 ""Register designer attribute" plays badly with new "SDK" projects, leading to tons of UI hangs"
The infrastructure we have for determining if a file is 'designable' ends up sending a firehose of notifications to the UI thread giving the state of *each* document (and whether it it designable or not).  It needs to do this so that it can also clear the designable state for a file as well as mark files as designable.

This is not only bad on its own (thousands of UI notifications), but it also p

[2017-05-02 19:25] CyrusNajmabadi commented on #19187
Tagging @Pilchie @jasonmalinowski @davkean @heejaechang

[2017-05-02 19:26] CyrusNajmabadi commented on #19187
Note: this appears to be far worse after Jared's change.  Possibly because we have far more projects that use CPS now.

[2017-05-02 19:28] CyrusNajmabadi commented on #19187
Potential things we can do:

1. Provide an entirely BG thread mechanism for roslyn to notify the system about these files.  Do nothing on the UI thread.
2. Have the notification batch up.  With the hope that doing a bunch of stuff on the UI thread at once will be helpful.  Note: i don't know if this will actually help.  If each call into CPS ends up being bad, then this will still be a problem.  B

[2017-05-02 19:31] heejaechang commented on #19187
can CPS provide an API one can call from background thread? @srivatsn @davkean

[2017-05-02 19:34] miloush commented on #19040
Language proposals are now in the `csharplang` repo. See https://github.com/dotnet/csharplang/issues/403

(Not sure if your example was meant to be illustrational only, but I would expect `Point` to be a struct and therefore non-nullable.)

[2017-05-02 19:38] miloush commented on #19046
Unless I am not getting it from the picture, this looks like a new feature of suggesting variable names?

[2017-05-02 19:42] srivatsn commented on #19187
Yes we can definitely work on a bg API. This also causes more problems like this - https://github.com/dotnet/project-system/issues/2001 @tmeschter can you work with HeeJae on fixing this?

[2017-05-02 19:43] miloush commented on #19185
Couldn't that be misleading in some cases like COM interfaces where the order of methods matters? Or enum members, for that matter.

Also I assume this would be used only when the source code is not available and the view is generated form metadata, in which case the output would differ based on whether you have a source code and when you don't?

[2017-05-02 19:46] mattwar commented on #19001
This has happened before in a typing-like scenario (lots of small changes) where nothing requests the tree for a long period.  Each change builds up a chain of pending incremental parses.  Eventually, when the request does come, the chain is too long and there is a stack overflow.  This generally doesn't happen in VS typing, since the background parser is always requesting the tree.

[2017-05-02 20:32] lachbaer commented on #18810
@miloush Sorry, I don't understand.

[2017-05-02 20:46] miloush commented on #18810
If I understood it correctly, you would highlight `throw` in
[code]
and in
[code]
but not in
[code]

If that's the case, my question was if you would highlight `throw` in
[code]

[2017-05-02 20:49] 0xd4d commented on #19182
Have a look in `eventvwr.msc` -> `Windows Logs` -> `Application` and see if there's a stack trace. MS doesn't make it easy to find the stack trace and prefer `Environment.FailFast`

[2017-05-02 20:54] lachbaer commented on #18810
That's easy. I would highlight `throw` in **either** case. The only exception is a `break` in a `switch`, because in a standard school book switch example you expect that break to be there in the case blocks, when it is the blocks last statement. In all other places it indicates a premature and at that position not expected jump.

[2017-05-02 21:09] jinujoseph commented on #18246
VB factory checked in via https://github.com/dotnet/roslyn/pull/19073

[2017-05-02 21:10] #19008 closed

[2017-05-02 21:10] miloush commented on #18810
Oh ok I see, I got it wrong then, thanks.

[2017-05-02 21:13] Pilchie commented on #19187
Note - would this also let us update a project a time?  The current impl of this also checks project file readonly state for every file, etc.

[2017-05-02 21:15] CyrusNajmabadi commented on #19187
That would be nice.  It would also be nice to move all the computation entirely OOP.  Right now it's very chatty oop.

[2017-05-02 21:24] CyrusNajmabadi commented on #19187
I'm going to look at two changes that can be made right now (since this perf issue is *really* impacting me badly).

1. Batching UI work so that we don't notify the UI thread once per document in your solution.
2. Avoiding the work entirely for CPS projects (since they don't support this capability anyways) (according to @Pilchie).  We already check "hierarchy.IsCapabilityMatch("CPS")" in some cas

[2017-05-02 21:49] KirillOsenkov commented on #19001
Excellent, looks like this is our scenario (in XS we don't request the tree a lot yet)

[2017-05-02 22:00] davkean commented on #18622
GitHub has a 10 MB limit on files.

[2017-05-02 22:03] davkean commented on #19187
I think we need to design this a little before we do 2). It's not entirely clear to me what happens when we start bringing up WinForms, etc - https://github.com/dotnet/project-system/issues/2100

[2017-05-02 22:05] davkean commented on #19187
What I mean by that is I don't know all the usages of this metadata before I say "we don't need to mark these objects with it". It's going to be entirely based on compat.

[2017-05-02 22:16] mattwar commented on #19001
Maybe someone with a working roslyn build environment can bring my PR forward and submit it?

[2017-05-02 22:27] #16567 closed

[2017-05-02 22:29] dpoeschl opened #19191 "Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpWinForms.ChangeControlProperty [FAIL]"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/3606/consoleFull#6464135312d31e50d-1517-49fc-92b3-2ca637122019

[code]

[2017-05-02 22:30] gafter opened #19192 "Cannot navigate to System.ValueTuple"
**Version Used**:

15.2

**Steps to Reproduce**:

1. Type the local declaration `System.ValueTuple<int, int> x;`
2. Click on `ValueTuple` and hit F12 (navigate to definition)

**Expected Behavior**:

Navigate to the definition of ``System.ValueTuple<T1, T2>`

**Actual Behavior**:

![image](https://cloud.githubusercontent.com/assets/3804346/25642043/2e1004f4-2f4c-11e7-80e9-21a3942dc188.png)

[2017-05-02 23:03] gafter commented on #8237
@divega I'm saying that there is no mechanism to do that today. We could add such a mechanism, but that could be a lot of work.

[2017-05-02 23:05] gafter commented on #8237
For example, if we expose two different parameters as @CyrusNajmabadi suggests, each would have to have a corresponding lambda (even though there is only one lambda in the source).

[2017-05-02 23:09] Trisibo commented on #2487
The reindentation also happens when some some code is autoformated after the preprocessor directives, see https://developercommunity.visualstudio.com/content/problem/50425/c-editor-removes-indentation-of-preprocessor-direc.html

[2017-05-02 23:10] CyrusNajmabadi commented on #2487
@ygoe @Trisibo PRs welcome :)

[2017-05-02 23:24] mattscheffer opened #19193 "Use block/expression body adds extra spaces and reformats if there are comments in the affected code"
**Version Used**:
D15rel 26501.1
**Steps to Reproduce**:
1. Create a new C# Class library (.NET Framework)
2. Add the following method to the class
[code]
3. Activate 'Use expression body' for that method via lightbulb
4. Activate 'Use block body' for that method via lightbulb

**Expected Behavior**:
The code should return to normal.
**Actual Behavior**:
Lots of extra spaces/tabs are added. The co

[2017-05-03 00:37] Pilchie commented on #19187
Yep.  The thought with 2 is definitely around a short term thing to unblock things.

The other use case I know of is the webforms designer and third party "Component" designers.

[2017-05-03 02:56] davkean opened #19196 "Unfinished doc comments cause "used" namespaces to show up as unused"
1. The following:

[code]

Note that the using shows up as unused despite it being used. This is quite annoying if you have unused namespaces turned on as errors like we do in the project system,.

[2017-05-03 02:59] spottedmahn commented on #8237
Hey guys - just want to say thanks for problem solving this for us in the community.  Hopefully you guys can find a solution that is a reasonable number of hours to enchance It.

[2017-05-03 03:05] davkean opened #19197 "Pasting generic type names in doc comments should escape '<' and '>'"
I find myself often passing type names into `<see cref=""/>` constructs, it would be so helpful if the '<' and `>' would be automatically replaced with '{' and '}'.

[2017-05-03 03:18] davkean commented on #18593
Still hitting this...

[2017-05-03 03:52] pawchen opened #19199 "Want summary for the object in the tooltip when hover over its constructor call"
Currently when you hover over the `Something` of `new Something()`, typically you get `Initialize a new instance of Something (with its parameter)`, which is not helpful because I knew it's a constructor call.

It would be great that the tooltip includes the summary of that `Something`. I mean the info from the summary tag below
[code]

[2017-05-03 04:18] davkean opened #19200 "Naming suggestions have an empty useless tool tip"
![image](https://cloud.githubusercontent.com/assets/1103906/25648077/44e3b0e4-300b-11e7-9613-28a13b3ad48c.png)

[2017-05-03 04:51] CyrusNajmabadi commented on #18593
I think @sharwell has been looking into this.

[2017-05-03 06:57] ygoe commented on #2487
@CyrusNajmabadi Tell me where the offending code is and I can try removing it for you. As soon as I find the time setting up a development environment for the code and getting sufficiently familiar with it. More advanced solutions should probably be made by more experienced people in this project.

[2017-05-03 07:02] CyrusNajmabadi commented on #2487
Based on what Matt says, it sounds like it could be in "FormatCommandHandler".  I don't think this is a case of there being "offending code".  It's not like tehre's a section of code that says  "if # is typed, go and do bad stuff".  Rather, there is a confluence of many different components of roslyn interacting with your text and producing a result that is undesirable.

Of note: no effort has bee

[2017-05-03 07:07] aKzenT commented on #18414
I tried the suggestions, but with the netstandard project format I'm having trouble using an external dependency (JSON.NET). Since PackageReferences are not copied to the bin directory, I cannot include them in the nuget-package. If they are not included in the nuget analyzers folder, VS will complain of course.

Is there a way to force the referenced dll to be placed into the output directory so

[2017-05-03 07:13] ygoe commented on #2487
With the above pattern, do you mean writing code while not having closing braces? Which may be the case after an incomplete `#` line?

I imagine the offending code is the part that triggers reformatting when not appropriate. It might be appropriate if the process would actually produce a desirable result. But since it does not, it really shouldn't be called at those times.

I very much prefer too

[2017-05-03 07:15] CyrusNajmabadi commented on #2487
No: i meant the pattern of having code not-indented.  i.e. the style of code referenced in this gist: http://online.ru-zero.com/files/test.cs

[2017-05-03 08:49] yaakov-h commented on #18414
@aKzenT I'm pretty sure you can do that with Copy Local, even with the new SDK.

[2017-05-03 12:13] jairbubbles commented on #19131
I was able to  test on several other machines. It appears that it's not consistent at all:
- on some machines it's slow for all frameworks
- it seems there is some hidden per framework parameter that double the compilation time

[2017-05-03 12:55] NN--- opened #19204 "NullReferenceException from VisualStudio 2017"
**Version Used**:
Visual Studio 2017 - 15.1 (26403.7)

**Steps to Reproduce**:
Not sure.

**Expected Behavior**:
No crash.

**Actual Behavior**:
Crash:
Message	"Object reference not set to an instance of an object."	string

[code]

[2017-05-03 13:22] ygoe commented on #2487
I don't write such code either, and yet the formatting bug happens.

[2017-05-03 13:59] SheaCodes opened #19205 "ServiceHub.RoslynCodeAnalysisService32.exe High CPU Usage when *editing* code"
**Version Used**:
Visual Studio 2017

**Steps to Reproduce**:

1. Open a solution (preferably large)
2. Type one letter
3. Watch Task Manager

**Expected Behavior**:
Visual Studio does not compile/analyze my solution until I explicitly request compilation.

**Actual Behavior**:
Visual Studio appears to be compiling/analyzing my solution which consumes CPU cycles as I continue to write code.

[2017-05-03 14:48] myblindy commented on #19182
@0xd4d Yeah, found it:

[2017-05-03 15:08] yberstad commented on #19205
I have the exact same issue:

![image](https://cloud.githubusercontent.com/assets/2823722/25667159/fdf05440-3022-11e7-9992-3d2d277a5d1c.png)

[2017-05-03 15:34] sharwell commented on #19205
Please don't take my questions as an attempt to discredit your issue, as I definitely do value work to improve the situation taken at face value. :smile:

I'm curious if you have any suggestions for specific scenarios we should be optimizing for that would help you in particular. For example:

* Does the increased CPU usage appear to be causing Visual Studio other programs to perform poorly in som

[2017-05-03 15:52] sharwell commented on #19204
:memo: My only edit was the formatting of the stack trace.

[2017-05-03 15:54] sharwell commented on #19200
This should at least say that it's a suggested name, or something.

[2017-05-03 16:10] rchande opened #19207 "Keywords shown when dotting into namespace in VB attribute"
![image](https://cloud.githubusercontent.com/assets/3751401/25670034/48ae52e0-2fe0-11e7-9e08-6024c520ea2a.png)

[2017-05-03 16:18] tmat commented on #19204
@ericfe-ms Seems like MC++ bug.

[2017-05-03 16:19] NN--- commented on #19204
I have a full memory dump if it helps.

[2017-05-03 16:20] tmat commented on #19204
@NN--- Yes, that would certainly help. Could you share it?

[2017-05-03 16:22] NN--- commented on #19204
Sure.
I'll upload it.
I would like to send link as private message if possible.

[2017-05-03 16:24] tmat commented on #19204
Sure - you can send it to tomat@microsoft.com

[2017-05-03 16:28] SheaCodes commented on #19205
Thank you for your response.

- While the CPU usage does appear to be at low priority (typing responsiveness is not affected), it nevertheless causes my laptop CPU fan to run almost constantly when I'm coding, and my left hand becomes uncomfortably hot because the CPU in my laptop is located underneath where that hand rests. Also, the poor environment :)
- The solution I am working on contains 5 p

[2017-05-03 16:31] rchiodo commented on #19204
Hi,
I own the Managed C++ EE. Issues with the MCEE are not tracked here (and will likely be forgotten about).

Can you log an issue on either https://developercommunity.visualstudio.com or through the Report a problem in VS? And attach the dmp?

Thanks

[2017-05-03 17:01] dguisinger commented on #8237
This really does need to get fixed, I'm glad I found the bug reference after only 30 minutes of trying to figure out why it wasn't giving me the options I expected and wasn't matching EFCore documentation.   This bug is likely a huge source of wasted time and frustration for anyone trying to use  Include().ThenInclude().... or at least someone should update the ThenInclude [documentation](https://

[2017-05-03 17:17] dpoeschl opened #19209 "Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpInteractive.TypingHelpDirectiveWorks [FAIL]"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/3610/

[code]

[2017-05-03 17:34] mattwar commented on #2487
There are 3 things going on:
    1: Unrelated code near the # is being formatted when the line with the  # is being formatted.
    2: The code that is being formatted is not formatted matching the layout of the rest of the code.
    3: There is no way to turn off the formatting when # is typed.

#1 happens because the code in question is all considered trivia by the formatter and exists between ac

[2017-05-03 17:51] diryboy opened #19210 "Nothing happens when run Test.cmd"
It appears that the `Test` target of BuildAndTest.proj has a `Condition="'$(TestDesktop)' == 'true' or '$(TestCoreClr)' == 'true' or '$(TestVsi)' == 'true'"`, but `Run-Test()` from build.ps1 only specify `/p:ManualTest=true`

[2017-05-03 17:55] NN--- commented on #19204
@rchiodo Ok, i'll do it as well.

[2017-05-03 18:13] jinujoseph opened #19212 "Enable A/B testing Gold bar for Live Code Analysis"

[2017-05-03 18:14] gafter commented on #18678
We do not preserve unreachable statements. The following hypothetical unit test passes.

[code]

[2017-05-03 18:17] Pilchie commented on #19210
@jaredpar I heard you were looking at this?

[2017-05-03 18:20] jaredpar commented on #19210
Yep.  https://github.com/dotnet/roslyn/pull/19206

[2017-05-03 18:21] cston opened #19213 "CompilerServer should handle empty build response"
If `ICompilerServerHost.RunCompilation()` throws an `Exception`, the build response stream may be empty. Currently, the server calls `BuildResponse.ReadAsync()` which expects a 4-byte response length.

See `CompilerServerUnitTests.MissingCompilerAssembly_CompilerServerHost` unit test.

[2017-05-03 18:28] tmat commented on #18678
@gafter I guess that's ok. I was suggesting we might want to to improve debugging in some cases but it's not that important.

[2017-05-03 18:29] jcouv opened #19215 "Running compiler tests on latest desktop bits"
This was suggested by @preetikr
I need to think more about this. On the surface, I'm not sure that the compiler tests will add much value, as they exercise fewer paths than the desktop unittests.
Taking the example of ValueTuple, the compiler C# tuple unittests  will only exercise the constructors and the fields. They don't typically invoke the comparison or equality logic, which is most of the Va

[2017-05-03 18:31] NN--- commented on #19204
@tmat Sent link to you. Please share with @rchiodo .
Thanks.

[2017-05-03 18:59] Pilchie commented on #19205
Tagging @heejaechang, @mavasani, and @panopticoncentral, @CyrusNajmabadi

Can you also answer:

1. Do you have Code Lens enabled?
2. Do you have "Full solution analysis" (from Tools\Options\Text Editor\C#\Advanced) enabled?
3. Do you have Live Unit Testing enabled?

If you do have any/all of those enabled, can you try disabling them to see if one of them is a particular offender?  Those are the 3

[2017-05-03 19:03] Pilchie commented on #18983
Internal discussion about whether we could do this for the NuGet package/`CscToolPath` case is continuing.

[2017-05-03 19:05] Pilchie commented on #19136
@davkean what did you select?

Looks like a dupe of https://github.com/dotnet/roslyn/issues/17165, but I don't see any local methods in that code...

[2017-05-03 19:08] Pilchie commented on #19140
Nevermind - pulling back to IDE given that everything else works.

can you give an example?  I can't repro this part.

[2017-05-03 19:11] Pilchie commented on #19135
I don't see an field hat has the name `pane` in your example.

[2017-05-03 19:13] Pilchie commented on #19135
Could this be related to https://github.com/dotnet/roslyn/pull/18912?

@alrz interested in taking a look?

[2017-05-03 19:16] Pilchie commented on #19191
Same old failing to save through DTE on close issue?

[2017-05-03 19:17] jcouv opened #19216 "Test plan for "ref readonly" and related features (7.2)"
Write a test plan for "ref readonly", "readonly structs", "ref and ref readonly extensions" and "ref ternary"

## LDM
- [x] remove `in` syntax from initial release? ([merged](https://github.com/dotnet/roslyn/pull/22182))
- [x] ref readonly locals? (implemented in 7.2, Andy)
- [x] allowing `ref readonly` at call site (for those who dislike auto-ref)? (yes, but we're switching to `in` as keyword)
-

[2017-05-03 19:17] jcouv commented on #19216
FYI @VSadov @OmarTawfik I'll start gathering ideas for test plan.

[2017-05-03 19:17] Pilchie commented on #19187
You've already been looking at this.

[2017-05-03 19:23] Pilchie commented on #19199
In some places in the past, we've distinguished between the constructor and the type by offering constructor info on the `new` keyword, and type information on the type name.

Another approach would be to merge them.

[2017-05-03 19:24] Pilchie commented on #19197
Tagging @kuhlenh this is a potential example of a "smart paste".

[2017-05-03 19:25] Pilchie commented on #19196
We just surface this diagnostic from the compiler, so I expect the issue is there.

[2017-05-03 19:27] Pilchie commented on #19192
Dupe of https://github.com/dotnet/roslyn/issues/17360.  (Fixed for 15.3)

[2017-05-03 19:27] #19192 closed

[2017-05-03 19:27] gafter opened #19217 "Test plan for "default interface implementations""
This is a placeholder for a test plan for the "default interface implementation" language feature. For reference, see also:

- [Championed Feature in the `csharplang` repo](https://github.com/dotnet/csharplang/issues/52)
- [Feature Proposal/Specification](https://github.com/dotnet/csharplang/blob/master/proposals/default-interface-methods.md)
- [Open issue list](https://github.com/dotnet/csharplan

[2017-05-03 19:28] gafter commented on #19217
/cc @jcouv @AlekseyTs

[2017-05-03 19:32] Pilchie commented on #19185
@CyrusNajmabadi wrote some code here to respect metadata order if things came from COM (maybe for Implement interface?)

Are we applying our own sort here, is this "random" or does it come from the metadata order?  I've definitely heard arguments for presenting in metadata order because type authors group "related" methods together in source.

[2017-05-03 19:35] Pilchie commented on #19180
I can repro that in 15.2, but not 15.3.  Moving to compiler based on the stack, but I'm pretty sure this is a dupe. @jcouv?

[code]

[2017-05-03 19:38] Pilchie commented on #19175
@alrz want to take a look?  @CyrusNajmabadi do you know if we have  better for refactorings to use here?

[2017-05-03 19:40] jcouv commented on #19217
Some ideas from a recent PR for your consideration (you evaluate the risk and decide if it's worthwhile to cover):
- interface containing a type containing a nested type
- interface containing a generic type (with its own T, or with T from the containing interface)
- interface containing two chunks of a partial type
- interface containing a partial method and also the partial method implementation

[2017-05-03 19:43] CyrusNajmabadi commented on #19175
We have a helper called "GetTouchingWordAsync" which may be helpful here.  But, since the last token may not be a keyword/idntifier, we probably just need to check if the current token is ```)``` or ```,```, and we're at the start of it, then just move back one token.

[2017-05-03 19:43] Pilchie commented on #19152
1. Note that Find Usages is actually a ReSharper feature, not a VS one :)
2. I agree that what you propose would be very *useful*, but it's also very hard in general.  There is no metadata that specifies what operations modify a collection, so there is no way to know short of a bunch of heuristics what to find.

[2017-05-03 19:46] jcouv commented on #19103
@rainersigwald I probably won't be able to do this in dev15.3 timeframe. I'll move to following milestone. Let me know if that causes pain.

[2017-05-03 19:52] SheaCodes commented on #19205
Ah.

2. I had full solution analysis enabled.

Thank you for your help.

[2017-05-03 19:52] #19205 closed

[2017-05-03 19:58] rainersigwald commented on #19103
That should be fine. While making an unrelated change, I realized there is one wrinkle: you'll also need to continue to provide the `DestinationPath` output (in `Copy` it's named `DestinationFiles`). But that is easy.

[2017-05-03 20:01] JoshVarty opened #19218 "CSharpAddImportCodeFixProvider - Syntax node with not within Syntax Tree"
**Version Used**: 15.0.0.26228.12

**Steps to Reproduce**:

1. New C# solution
2. Following code:
[code]
3. Add reference to `Microsoft.VisualStudio.Shell.Interop`
4. Place cursor on `IVsStatusBar` and press `Ctr+.` to bring up quick fix
5. Observe crash when hovering over option to add `using`.

*Note:* The crash is not present when the `usings` are moved outside of the `namespace`

![image](http

[2017-05-03 20:01] mavasani opened #19219 "BoundNoPiaObjectCreationExpression should expose arguments as child bound nodes"
See https://github.com/dotnet/roslyn/pull/18976#discussion_r114618429. Test name: ParameterReference_NoPiaObjectCreation

[2017-05-03 20:02] tmat commented on #19204
@NN--- Thanks. I will.

[2017-05-03 20:04] jasonmalinowski commented on #18612
Some things to think about for the test plan:

1. Testing build, and rebuild scenarios, and making sure the binaries are correctly deployed in all projects. The fast-up-to-date check could interfere with things.
2. Testing references between C# and VB project references, and ensuring the IDE is working correctly across those. (Do refactorings work, for example?)
3. Testing references to and from C

[2017-05-03 20:05] jinujoseph commented on #18068
@333fred , can you verify if this is still broken with your variable declaration work.

[2017-05-03 20:06] jcouv commented on #19180
Yes, this is a duplicate (of https://github.com/dotnet/roslyn/issues/17229 and possibly another one too).
It was fixed in dev15.3 (https://github.com/dotnet/roslyn/pull/17544) and we were unfortunately unable to pull the fix into dev15.2.

Thanks @Matt11 for filing the issue and sorry for the bug.

[2017-05-03 20:06] jinujoseph commented on #18405
@genlu  can you check if this is still an issue with new api definition and if so we need to fix it

[2017-05-03 20:06] #19180 closed

[2017-05-03 20:06] #18064 closed

[2017-05-03 20:07] Pilchie commented on #19218
@JoshVarty Are you able to repro this 100%?  @dpoeschl/ @CyrusNajmabadi - can one of you investigate?  This may be the other issue from the linked files race.

[2017-05-03 20:07] jinujoseph commented on #18064
We dont' need the uber bug.  All these are legitimate issues that just need to be fixed.  Our design is that if you ask for a sub-syntax-node you should get the operation whose syntax points to that node.  So all this existing behavior is definitely broken.

[2017-05-03 20:08] JoshVarty commented on #19218
I've reproed this 100% on two different projects, but only with `IVsStatusBar` for some reason.

[2017-05-03 20:10] rchande commented on #19200
Confirmed with @dpoeschl that this bug does not affect the user-friendly tenet.

[2017-05-03 20:11] tmat commented on #19204
@NN--- If you file a bug on  https://developercommunity.visualstudio.com please include link here, so we can close this issue and avoid a duplicate.

Thanks for reporting and sending the crash dump. Much appreciated.

[2017-05-03 20:12] NN--- commented on #19204
https://developercommunity.visualstudio.com/content/problem/51697/visual-studio-crash-in-managed-c.html

[2017-05-03 20:12] jinujoseph commented on #18303
we need a way to represent this

[2017-05-03 20:13] aKzenT commented on #18414
Correct me if I'm wrong, but I don't think there is a "Copy Local" option when using PackageReference. I don't see any option for it in the VS IDE and I also don't see any option documented in https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

[2017-05-03 20:15] 333fred commented on #19152
@Pilchie, @alexschneider-ms means the rewritten find all references view, not find usages.

I had one thought here: allow me to filter what references show up by method calls, if the symbol is a valid receiver. So for example, I could use find all references on a variable, then filter the references that show up by method invoked. Or, if I was finding all references to a type, filter by all the me

[2017-05-03 20:16] jinujoseph commented on #17838
we need to collect a lot of information here so that we can then get together to discuss how we want this API to look like.

We need to identify differences between the languages (for example VB is semantic and C# is syntactic).  We need to enumerate all the different types of queries.  We need to understand all the strange VB cases.  We need to get info on transparent identifiers and the like.

B

[2017-05-03 20:17] jinujoseph commented on #18767
Is this relevant anymore now that we don't expose IsInvalid through our API?

[2017-05-03 20:20] #18859 closed

[2017-05-03 20:20] jcouv opened #19221 "Write design doc for "ref locals and return" feature"
Relates to https://github.com/dotnet/csharplang/pull/527#issuecomment-299023032

[2017-05-03 20:27] alrz commented on #19135
How can I repro this? what is the cursor position?

[2017-05-03 20:28] jinujoseph commented on #8895
**Design Decision Meeting**

We should do it.
We will likely need to mark this as 'optional' for scenarios that can't provide this information (for example, IL in the future).
In order to be able to represent something like "Static1.Static2.M" we may end up needing some sort of TypeReferenceOperation so taht we can talk about 'Static1' and fit it into the IOperation system.

We'll likely want to a

[2017-05-03 20:31] jinujoseph commented on #8032
Turned out we probably don't need this any more.

[2017-05-03 20:31] #8032 closed

[2017-05-03 20:32] Pilchie commented on #7251
See also "Internal FeedbackTicket 423728: Pasting of mismatched braces auto indents items under the brace"

[2017-05-03 20:33] jinujoseph commented on #8916
How does this relate to 'dynamic' invocations in C#?  Would we have a single way to represent both?  Or do we need something VB specific?

[2017-05-03 20:37] jinujoseph commented on #8861
@AlekseyTs (from cyrus) Is that not just "IConditionalAccessExpression.ConditionalInstance"?  http://index/?leftProject=Microsoft.CodeAnalysis&leftSymbol=bkhfeezyxx10&file=Operations%5CIConditionalAccessExpression.cs&line=23

[2017-05-03 20:38] AlekseyTs commented on #8916
It somewhat similar, but different enough to keep them separate, I think.

[2017-05-03 20:40] jinujoseph commented on #18915
We're going to close this out currently as being unactionable.

[2017-05-03 20:40] #18915 closed

[2017-05-03 20:41] jinujoseph commented on #18000
@333fred is this being addressed with your recent changes

[2017-05-03 20:43] 333fred commented on #18000
No, this is entirely separate from IVariableDeclaration refactor PR. This will need to be a change in the code that gets IOperations when given a syntax node.

[2017-05-03 20:44] AlekseyTs commented on #8861
I cannot tell. The comment says "Expresson that is conditionally accessed", but the receiver is accessed unconditionally.

[code]

Also it is not quite cleat what is the relationship between ConditionalValue and the receiver. It feels like ConditionalValue should refer to the receiver or have its place marked in some way.

[2017-05-03 20:45] jinujoseph commented on #17998
Design Decision:
We will not allow for this.  It means you have a situation where two syntax nodes in a language will point to the same IOPeration.  Then the IOperation's '.Syntax' will not poitn back at one of these.  That violates a previous design decision.

For now, let's keep things similar between the languages.  We'll only support getting the Operation on the VB block, and not on hte header

[2017-05-03 20:45] jinujoseph commented on #17998
This should be fixed by whoever works on these constructs.  Any declared variables should show up in the operation tree somehow.

[2017-05-03 20:50] jinujoseph commented on #7960
@genlu (from cyrus) Do IArguments not expose the constant value that was passed to the call?  If so, then we shuold have this information.  If not, that's likely a bug that we would want to fix.

[2017-05-03 20:52] Pilchie commented on #19135
Ah, it's local and parameter, not field and variable.  Thanks.

[2017-05-03 20:52] Pilchie commented on #19135
@davkean Do you know where you were?

[2017-05-03 20:56] CyrusNajmabadi commented on #19218
I'd love a repro i could take a look at!

[2017-05-03 20:58] jasonmalinowski commented on #19209
@dpoeschl @VSadov Did we get this test disabled?

[2017-05-03 21:13] tmat commented on #19204
Thanks! I have attached the dump to it.

[2017-05-03 21:13] #19204 closed

[2017-05-03 21:26] Pilchie commented on #19152
For the second, if they appear in the preview (as the method calls do), there is already the "Search" filter which can limit stuff.

[2017-05-03 21:29] dpoeschl opened #19223 "Roslyn.VisualStudio.IntegrationTests.Workspace.WorkspacesNetCore.ProjectReference [FAIL]"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/3638/

Seems to be failing very consistently.

[2017-05-03 21:29] dpoeschl commented on #19223
@dotnet/roslyn-infrastructure

[2017-05-03 21:43] genlu commented on #7960
This information is not currently available. With the change I'm making (to use call rewriter to get arguments), there's a chance the fix will make into 15.3. I'm still testing/experimenting, will provide some update later. And I agree, whether in 15.3 or not, we will fix this :)

[2017-05-03 21:45] JoshVarty commented on #19218
@CyrusNajmabadi Did my "Steps to repro" not work for you? If not, I can probably bring my laptop over to your office tomorrow or something.

[2017-05-03 21:46] CyrusNajmabadi commented on #19218
I'll try it out.  Where do i reference Microsoft.VisualStudio.Shell.Interop from?

[2017-05-03 21:57] jaredpar commented on #19158
How does fixing feed publishing address this problem?  Looks like a straight up crash.

[2017-05-03 22:09] tmat commented on #17731
Once this is done, delete LOC files from Razzle and remove compiler files from Roslyn CoreXT package.

[2017-05-03 22:12] jasonmalinowski commented on #19158
@jaredpar This happens when you have two VSIXes installed from two different branches simultaneously.

[2017-05-03 22:15] jaredpar commented on #19158
Okay ... so why doesn't one win over the other?

[2017-05-03 22:18] jasonmalinowski commented on #19158
@jaredpar Sorry, I wasn't clear: he's getting VisualStudioSetup.Next from one branch and VisualStudioSetup from a different branch. This means any implicit API break between the two causes this.

[2017-05-03 22:22] Pilchie opened #19225 "Convert to binary/decimal/hex deletes leading trivia sometimes"
[code]

If you invoke `Convert to binary` on the `0x1`, it deletes all the leading trivia.  This doesn't happen for `0x2`, or if `0x1` is the only item in the initializer.

[2017-05-03 22:23] davkean commented on #19135
I just repo'd again, I've updated the caret position with a '$'

[2017-05-03 22:25] davkean commented on #19136
I had the `pane' in 'ref pane' selected, I've marked it with '$' and '$'.

[2017-05-03 22:28] davkean commented on #19140
@Pilchie My mistake, I didn't have "System" in scope - and so String wasn't being picked up as a type.

[2017-05-03 22:32] Pilchie commented on #2773
Also reported in http://connect.microsoft.com/VisualStudio/feedback/details/3089240/organize-using-does-not-take-into-consideration-using-within-xml-comments.

[2017-05-03 22:34] davkean opened #19227 "XML Cref IntelliSense has started showing private types from the framework"
I understand it is legal to point to a non-accessible type in cref, I do not, however, think that these should be shown in IntelliSense - I don't remember seeing this until I installed this build, so this feels like a regression:

![image](https://cloud.githubusercontent.com/assets/1103906/25684371/681033f0-30a4-11e7-8017-57cca8bec225.png)

[2017-05-03 22:40] tmat commented on #18612
Also references that use ```AssemblyVersion(*)```

[2017-05-03 22:42] davkean opened #19228 "Cref IntelliSense offers concrete types to generic arguments"
References to instantiated generic types are replaced with their non-instantiated equivalents in the resulting XML documentation,, so why does IntelliSense offer me types in the following case? It gives the impression that this allowed.

![image](https://cloud.githubusercontent.com/assets/1103906/25684497/2b30f9b4-30a5-11e7-8321-d882fbf54d6c.png)

In the above, I'd only expect to be able see 'T'.

[2017-05-03 22:54] davkean opened #19229 "Add a refactoring for removing braces"
There's a new refactoring in S 2017 that adds braces to single line if, while, etc code blocks:

![image](https://cloud.githubusercontent.com/assets/1103906/25684817/cad6367c-30a6-11e7-8c75-f5f66e4457e4.png)

However, I have my settings set to the following:

![image](https://cloud.githubusercontent.com/assets/1103906/25684845/f2af42c4-30a6-11e7-9865-40b2a2c81aaf.png)

And I would like the reverse

[2017-05-03 22:58] tmat commented on #19217
Also EnC for this feature.

[2017-05-03 23:19] JoshVarty commented on #19218
Strange, if I have a space at the top of the file it seems to work:

![image](https://cloud.githubusercontent.com/assets/1249087/25685412/0ec6f2da-301c-11e7-82ec-71198e60709d.png)

If I do no, it doesn't:

![image](https://cloud.githubusercontent.com/assets/1249087/25685417/183b48ac-301c-11e7-992e-80d030f81ba2.png)

Also note that the option is different in each example. It's got different text an

[2017-05-03 23:19] JoshVarty commented on #19218
Oh sorry, that's a different fix... It's not adding the `using`

[2017-05-03 23:33] jcouv commented on #18783
## Dogfooding Roslyn on VS 2017
**Important note: there is a known issue with un-installing this. Use at your own perils. We are working towards a solution.**

#### Installation instructions
1.	Start VS 2017
2.	Go to “Tools\Options\General\Extensions and Updates”
3.	Click “Add”, and enter “Roslyn Nightly on MyGet” for the name and https://dotnet.myget.org/F/roslyn/vsix for the URL:

![1](https://c

[2017-05-03 23:59] VSadov opened #19231 "WorkspacesNetCore.ProjectReference is flakey"
was reported as flakey

[2017-05-04 00:00] VSadov opened #19232 "CSharpInteractive.TypingHelpDirectiveWorks is flaky"
reported as flaky

[2017-05-04 00:01] divega commented on #8237
@gafter, @Pilchie, @CyrusNajmabadi and others:

**TL;DR: Even getting the union of all possible members is not ideal for this API. However we believe a (hopefully) simpler solution would be sufficient to fix the EF Core experience: somehow change Intellisense to give preference to the other overload from the one it is using now.**

### Details

Today @smitpatel  (one of the EF Core developers) cam

[2017-05-04 00:01] divega commented on #8237
@dguisinger good point about the documentation. I have crated an issue in our docs: https://github.com/aspnet/EntityFramework.Docs/issues/394.

[2017-05-04 00:05] CyrusNajmabadi commented on #8237
Do you have a suggestion on how the compiler would know that one particular overload was better than the other?

[2017-05-04 00:11] tmat opened #19234 "Duplicate semantic error during EnC"
Step into Main method in the following console app:

[code]

While debugging add an overload of F to class C like so:

[code]

An error is reported in Error List as expected.

Change the call ```F(100)``` in method G to ```F(1)``` and Continue.

A dialog blocking the Continue action is shown as expected.
The error list now contains a duplicate entry for the error.

![image](https://cloud.githubuse

[2017-05-04 00:28] tmat commented on #18678
@gafter @VSadov Should local variables and constants be emitted when defined in unreachable code?

[code]

Emits
[code]

[2017-05-04 00:30] CyrusNajmabadi commented on #19173
What do you mean by "Resolved" in this context?

[2017-05-04 00:31] davkean commented on #19173
I mean if the namespace that contains the type isn't in scope.

[2017-05-04 00:45] davkean commented on #19200
@sharwell Yeah agreed - TBH I had no idea what these names were when I first encountered them. Took me a few looks to understand what was going on.

[2017-05-04 00:56] davkean opened #19235 ""Use expression body for accessors/properties" generates bad code if body contains #if"
[code]

Use expression body for accessors:
[code]

Use expression body for properties:
[code]

[2017-05-04 01:03] VSadov commented on #18678
@tmat - you should enter another bug for keeping unreachable code in debug emit, where we can discuss these things.

Right now, and as it always have been - dead code elimination is not just an optimization, since it is not optional, and we do it in debug as well. - It is needed to ensure that IL is well-formed. There could be other ways, but this is how it is done now.

For the unused locals - Un

[2017-05-04 01:12] divega commented on #8237
@CyrusNajmabadi, my knowledge of the inner workings of the compiler is very limited, but I suspect it might not be an option for the compiler to *automatically* know that a particular overload is better. E.g. I suspect rules similar to what the compiler uses to choose the most specialized overload in overload resolution wouldn't be applicable here, although the problem seems similar on the surface

[2017-05-04 01:14] VSadov commented on #18678
The final dead code elimination pass is performed when the code is in the form of IL Basic Blocks. It is basically just the control flow graph for the IL we are about to emit and we mark-and-sweep closures of the graph that are not reachable form the entry points.
There is not a lot of distinction between statements and expressions at that point.

What you are suggesting would be better handled by

[2017-05-04 01:28] davkean opened #19239 "Generate field/property should default to "read-only" within a constructor"
I (personally) almost always want read-only fields when generating them from constructors.

If I go via constructor parameter, it defaults to read-only field:

![image](https://cloud.githubusercontent.com/assets/1103906/25687755/72c6348a-30bc-11e7-8ae8-4c6e585ed5fb.png)

If I go via the assignment, it defaults to a read/write field:

![image](https://cloud.githubusercontent.com/assets/1103906/2568

[2017-05-04 01:31] davkean opened #19240 "Generate field/property have inconsistent ordering between constructor argument and assignment"
If I go via constructor parameter, property is listed first:

![image](https://cloud.githubusercontent.com/assets/1103906/25687879/3333e780-30bd-11e7-8b66-ad0328b7a237.png)

If I go via assignment, field is listed first:

![image](https://cloud.githubusercontent.com/assets/1103906/25687875/26c13868-30bd-11e7-8889-b39f3c715931.png)

[2017-05-04 01:36] davkean opened #19241 "Spell checker gives me a suggestion to change an assignment to assign a variable to itself"
[code]

1. CTRL+. where indicated by $

Expected: No given a spell check to assign value to itself:
Actual:

![image](https://cloud.githubusercontent.com/assets/1103906/25687938/ce58c23a-30bd-11e7-9706-6bbbf71fbae5.png)

[2017-05-04 01:49] CyrusNajmabadi commented on #19241
This is by design.  The spell checker suggest potential names that would have been legal in that context. "value" would be legal, and it might be what you want to correct to *given* that you might be changing code, and don't intend the final code to be an assignment.

Note: this is also why completion offers 'value' in that context as well.  Because perhaps you want to actually intend to be using

[2017-05-04 01:51] CyrusNajmabadi commented on #19240
This is by design as well.  Assignment actually orders based on what type of symbol you probably meant (with a lowercase name preferring field, and uppercase name preferring property).  However, in the case where we're *creating* the symbol entire, and we're creating the name on the fly, we have no preferred ordering, and we default to suggesting properties first over fields.

[2017-05-04 01:55] davkean commented on #19240
@CyrusNajmabadi Makes sense, never noticed the order differed based on case, that's nifty.

I have a bunch of these things were the defaults/order never seem to match my preference, not sure what to do with bugs like this. I always prefer fields over properties.

[2017-05-04 01:55] davkean commented on #19241
V

[2017-05-04 01:55] #19241 closed

[2017-05-04 01:56] CyrusNajmabadi commented on #19240
Not sure what to do either.  I always prefer readonly things :)  Maybe some sort of system that learns.  We can assign to @kuhlenh to figure out if there's anything we could do here :)

[2017-05-04 01:58] davkean commented on #19240
@CyrusNajmabadi Yeah, something similar to what adding a using does (does sorted order if it's already sorted), looks at the code and says "hey he tends to use read-only fields in this class, let's default to that"

[2017-05-04 02:00] davkean commented on #19240
I'll close this one though as it's not really an actionable bug.

[2017-05-04 02:00] CyrusNajmabadi commented on #19240
That's a great idea.  The code already tries to infer where to put the member based on your other parameters/initialization statements.   We could definitely try to infer prop vs field.

[2017-05-04 02:00] CyrusNajmabadi commented on #19240
Reopening.  I think we can do better here in the non-empty type case.  I think we'll end up just picking a default when you have nothing for us to go off of.

[2017-05-04 02:49] gafter commented on #8237
We select the overload with the "fewest" errors. I'll look to see if that heuristic can be refined to improve the situation for these APIs.

[2017-05-04 02:58] diryboy commented on #19199
I would prefer the merging approach, having to hover over the `new` keyword to see the constructor info is kinda surprising.

[2017-05-04 03:14] davkean opened #19244 "Attempting to display the light bulb immediately after applying a code fix, causes it be to be immediately dimissed"
I'm unsure if this because Roslyn is causing a focus change that's causing it be dismissed, but I can repro this pretty consistently, see attached video:

![lightbulbdimiss](https://cloud.githubusercontent.com/assets/1103906/25689443/6cc76afe-30cb-11e7-9f6b-4396974e93ea.gif)

Here I'm

1. CTRL+.
2. ENTER
3. CTRL+.

**Expected:** For the lightbulb to remain open
**Actual:** Lightbulb is dismissed

[2017-05-04 03:19] davkean commented on #19244
@CyrusNajmabadi @olegtk What are you thoughts on this? Roslyn or the editor?

[2017-05-04 03:50] StandishMan25 commented on #18161
@weitzhandler it's an app called Screen to Gif, pretty sure this is the same one: http://www.screentogif.com

The gif above is kind of choppy because I cut a lot of frames before saving, I guess it can't handle that too well, but it's awesome otherwise.

[2017-05-04 04:11] gafter opened #19245 "C# command line tests fail in development build"
I get this failure

[code]

which appears to be due to this line

[code]

Not sure how this code is supposed to behave if the `CommitHashAttribute` is missing.

[2017-05-04 04:11] gafter commented on #19245
/cc @jcouv

[2017-05-04 04:17] jcouv opened #19247 "InlineTemporary into a invocation of local function produces bad code"
In the example below, inlining `V` leads to bad code

![image](https://cloud.githubusercontent.com/assets/12466233/25690382/93a8a66e-3045-11e7-858d-df01eb0ceed7.png)

![image](https://cloud.githubusercontent.com/assets/12466233/25690387/a55013de-3045-11e7-8ace-2e4bd7f39f53.png)

FYI @agocke

[2017-05-04 04:18] gafter commented on #12043
Issue moved to [dotnet/csharplang #534](https://github.com/dotnet/csharplang/issues/534) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-04 04:18] #12043 closed

[2017-05-04 05:31] jcouv commented on #19245
I'll stop by tomorrow.
The project file for CodeAnalaysis.CSharp project, which has CSharpCompiler, does include the CommitHashAttribute. So I don't see how it could be missing.

https://github.com/dotnet/roslyn/blob/bab9408961d15d910c3ee48216a586cda58f8265/src/Compilers/CSharp/Portable/CSharpCodeAnalysis.csproj#L27

[2017-05-04 05:50] MRatnam commented on #10813
I have encountered this issue in version when building an installer project from commandline:

  Problem Event Name:	CLR20r3
  Problem Signature 01:	devenv.exe
  Problem Signature 02:	14.0.25420.1
  Problem Signature 03:	57685d85
  Problem Signature 04:	Microsoft.CodeAnalysis.Workspaces
  Problem Signature 05:	1.3.4.60902
  Problem Signature 06:	e4ebe076
  Problem Signature 07:	278
  Problem Signa

[2017-05-04 05:52] CyrusNajmabadi commented on #10813
@MRatnam your issue appears to be something different.  It is an InvalidOperationException, not a StackOverflowException.

[2017-05-04 06:06] MRatnam opened #19248 "InvalidOperationException in Microsoft.CodeAnalysis.Workspaces"
VS2015 Update 3, v14.0.25420.1

1. Solution with 180 projects. Includes CodeAnalysis on many projects. The project is targeted at .NET 4.0 and previously worked without issue on VS2013 i.e. breaking change in Roslyn DLLs somehow. We are using Visual Studio Installer projects (i.e. compiling a .vdproj file). Probably ~ 120 projects are compiled when compiling this setup project.

  Problem Event Na

[2017-05-04 06:13] jaredpar commented on #19231
Looks like a dupe of #19223

[2017-05-04 06:13] #19231 closed

[2017-05-04 07:55] tamlin-mike opened #19252 "Proposal: Make 'YouCannotRenameThisElement' also display where/why it failed."
**Version Used**: VS 15.1 (26403.7)

**Steps to Reproduce**:

1. Rename a lot of symbols using Inline renaming.

**Expected Behavior**:
It should always work to rename a valid identifier.

**Actual Behavior**:
Sometimes, seemingly stochastic, the rename fails somewhere within `Microsoft.CodeAnalysis.Editor.Implementation.InlineRename`, displaying the `EditorFeaturesResources.YouCannotRenameThisEle

[2017-05-04 09:17] yaakov-h commented on #18414
I think you're right. I take that back then.

[2017-05-04 09:53] 0xd4d commented on #19252
MS already uses a special number when something goes wrong, it's -2146232797 [1], aka the "Stack Trace Hidden" error. I think it can also be used when a rename fails.

[1] https://github.com/dotnet/roslyn/issues?utf8=%E2%9C%93&q=is%3Aissue%20-2146232797

[2017-05-04 10:09] weitzhandler commented on #18161
@StandishMan25 Awesome thanks for sharing!

[2017-05-04 10:20] tamlin-mike commented on #19252
@0xd4d ROFL!

[2017-05-04 11:58] alrz commented on #19135
Is there an error `CS0136` on the out var?  Because if that's the case, we bail immediately. :/

[2017-05-04 12:06] jnyrup opened #19253 "IDE0017 removes empty line"
**Version Used**: VS 20017 Version 15.1 26403.7

**Steps to Reproduce**:

1. Start with this program
[code]

2. `Ctrl+.` on `var foo = new Foo();`
3. Select "Object initialization can be simplified"
4. Observe the line below `foo.Bar` being removed, result:
[code]

**Expected Behavior**: Suggestion should not remove the empty line between `Bar` and `horse`.

**Actual Behavior**: Line is removed.

[2017-05-04 12:09] Matt11 commented on #19180
You're welcome. One question: When (and how) will the update find its way into Visual Studio 2017 Enterprise?

[2017-05-04 12:14] sharwell opened #19254 "InvalidCastException in ExtractMethodCodeRefactoringProvider"
**Version Used**: 15.1

**Steps to Reproduce**:

1. Add the following code

[code]

2. Select the `while (true)` and its opening brace

**Expected Behavior**:

The refactoring provider should not crash.

**Actual Behavior**:

[code]

[2017-05-04 14:11] #16077 closed

[2017-05-04 14:23] #8409 closed

[2017-05-04 15:09] diryboy commented on #19210
#19220 fixed this issue, closing.

[2017-05-04 15:09] #19210 closed

[2017-05-04 15:43] mhutch opened #19256 "Completion grouping"
In VS for Mac / MonoDevelop we have a toggleable completion grouping feature that groups members by the type on which they are declared. The rationale is explained here: http://tirania.org/blog/archive/2010/May-09.html

In order to switch to the Roslyn completion engine without regressing, we need this feature.

[2017-05-04 15:47] jcouv commented on #19180
@Matt11 Unfortunately, I could not find announced dates for the VS2017 updates. This fix is slated in the third one (dev15.3).

[2017-05-04 16:13] Pilchie commented on #19256
No need to sell me on the rationale - I'd like to have this feature too :)

[2017-05-04 16:18] Pilchie commented on #19248
@MRatnam - can you see if:

1. There is a .NETRuntime event in your event log near that time?
2. There is a bucket id or failure hash in a Windows Error reporting event?

Also, if you could capture and share a crash dump (which will be big!), that would help too.  You should be able to get Windows Error Reporting to save full crash dumps locally for VS by adding the following to your registry:

[c

[2017-05-04 16:19] Pilchie commented on #19248
Note - I can provide a OneDrive for Business shared folder to upload the dump to if you can capture one.  Go ahead and email me at kevinpi@microsoft.com

[2017-05-04 16:19] Pilchie commented on #19223
@srivatsn / @jmarolf want to move this to the project system repo?

[2017-05-04 16:23] Pilchie commented on #19227
Nothing has changed in this completion provider.  @jaredpar know of any changes to the compiler that could affect `LookupSymbols` results here?

[2017-05-04 16:24] SolderedMushroom commented on #19185
+1 For preserving the order in source. If it's currently "random," then alphabetizing is an improvement, but it shouldn't alphabetize rather than preserve source order. Who wants metadata-as-source for `Person: Age, FirstName, Height, LastName, Weight`?

[2017-05-04 16:25] Pilchie commented on #19256
Tagging @kuhlenh @DustinCampbell @rchande @CyrusNajmabadi @markw-t @hemchans @olegtk.

This is a feature we've discussed a few times for VS, but haven't implemented.  VS for Mac shows one possible way of presenting it, though it's still not very discoverable...

[2017-05-04 16:26] srivatsn commented on #19223
This issue was moved to dotnet/project-system#2124

[2017-05-04 16:26] #19223 closed

[2017-05-04 16:29] jaredpar commented on #19227
No.  CC @AlekseyTs, @jcouv in case they are aware of anything here.

[2017-05-04 16:29] markw-t commented on #19256
It looks a very cool feature to me; combined with filtering it looks like it provides a very powerful API explorer 👍

[2017-05-04 16:45] cphillips83 opened #19257 "Internal error in C# compiler when using Assembly.LoadFrom in IIS and debugging"
I'm not sure if this belongs here as it seems to be related to ASP.NET (only when debugging).

**Version Used**:
.NET 4.6.1 + VS2017 + (IIS OR IISExpress)

**Steps to Reproduce**:
Just a note this would be consider a standard plugin manager design. One project holds the interfaces to a `IPlugin`, another implements those interfaces and a 3rd (ASP.NET project) consumes and loads the implemented plu

[2017-05-04 17:06] olegtk commented on #19244
I think this is something that we already fixed for 15.3, currently the fix is only in lab/vsuvscore though. Send the bug to the editor, we will verify that.

[2017-05-04 17:26] rchande commented on #19256
Very cool 👍

[2017-05-04 17:29] srivatsn commented on #18996
This issue was moved to dotnet/project-system#2125

[2017-05-04 17:31] miloush opened #19260 "Smart variable naming should escape keywords"
**Version Used**: 2.3.0.61627

**Steps to Reproduce**:
[code]
Commit `for`.

**Expected Behavior**: `@for` inserted;

**Actual Behavior**: `for` inserted and CS1519.

[2017-05-04 17:37] miloush opened #19261 "Smart variable naming creating conflicts"
**Version Used**: 2.3.0.61627

**Steps to Reproduce**:
[code]

**Actual Behavior**:
Committing `Program` results in in CS0542 (same name as enclosing type).
Committing `GetProgram` results in CS0101 (conflicting name).

**Expected Behavior**:
Either conflicting names should not be offered, or they should use the same red cross icon like conflicting types do.

[2017-05-04 17:45] jeremymeng opened #19262 "CastExpression should add parenthesis around expression when necessary"
**Version Used**:
2.1.0

**Steps to Reproduce**:

[code]

**Expected Behavior**:

(int)(x+y)

**Actual Behavior**:

(int)x+y

[2017-05-04 17:51] ivanbasov commented on #12435
Resolved by #19063
Pattern matches within switch statements are covered with #17991

[2017-05-04 17:51] #12435 closed

[2017-05-04 18:00] Pilchie commented on #19225
@alrz - want to take a look?

[2017-05-04 18:15] singhsarab opened #19263 "FullyQualifiedName issue with CodeLens"
**Steps to Reproduce**:

1. Create a class library project and write a method inside a nested class, for example:

[code]
2. Use CodeLensReferencesService.GetFullyQualifiedName to get the FQN for the method.

**Expected Behavior**:
FooBarNamespace.OuterClass+NestedClass.Method1

**Actual Behavior**:
FooBarNamespace.OuterClass.NestedClass.Method1

[2017-05-04 19:19] binki commented on #15821
I think seeing `return` inside of a straight up block would be confusing with existing syntax. This code is valid syntax currently and causes a return from `MyMethod`:

[code]

With this proposed syntax, you could do:

[code]

In quickly visually scanning a method, it seems like the `return` in a “returnable block” is not visually distinguishable from a `return` in a nested block which causes the

[2017-05-04 19:19] Pilchie commented on #19244
@davkean can you file internally?

[2017-05-04 19:20] #19244 closed

[2017-05-04 19:20] Pilchie commented on #19247
Presumably, we should just not be expanding the name of the local function.

[2017-05-04 19:25] Pilchie commented on #19252
I think this a great idea, and I would love to see detailed reasons in the dialog.  Unfortunately, we're not likely to have time to address it any time soon, but we'd happily welcome a PR.

[2017-05-04 19:25] YaakovDavis commented on #15821
@binki

To me, the 2 snippets look visually distinct.
In any case, it has been proposed [elsewhere](https://github.com/dotnet/csharplang/issues/249#issuecomment-287038656) to use the following syntax:
[code]

[2017-05-04 19:34] vsccarl opened #19265 "LightBulb dropdown attached to bottom of info pane"
**Version Used**:
d15rel\26503.01

**Steps to Reproduce**:

1. Code in an error. (adding an extra return statement to a method works)
2. Click on the code with the error.
3. Hover over with the pointer to bring up the error/warning popup and lightbulb dropdown

**Expected Behavior**:
LightBulb dropdown attached to the top of the error/warning info popup

**Actual Behavior**:
![image](https://cloud

[2017-05-04 19:51] OmarTawfik commented on #19216
After talking with @cston, it seems that we need to add tests for both EnC and EE for:

1. Generating IsReadOnly attribute if needed.
2. Evaluating ref-readonly-ness from source if necessary.
3. Overload resolution on such parameters.
4. Using attributes from referenced assemblies vs generating a new one.

I was going to do that in #18715, but this is getting too big of a PR, so I'll keep it for l

[2017-05-04 20:10] jcouv opened #19269 "VB: User-defined conversion rejected when its "in" conversion is narrowing and its "out" is widening"
Conversions fail (but are expected to succeed) when they involve:
- narrowing as "in" conversion (such as `int` to `byte`, or a narrowing tuple conversion `(int, object)` to `(int, string)`)
- user-defined conversion
- widening conversion (such as widening nullable conversion

This issue exists in Roslyn and the native compiler.

[code]

The issue was discovered in testing this PR: https://github.

[2017-05-04 20:13] Pilchie commented on #19265
@olegtk FYI

@vsccarl is this behavior different?  I thought the lightbulb was always aligned with the blue `Show potential fixes` link.

[2017-05-04 20:17] #18969 closed

[2017-05-04 20:21] ascott18 commented on #5431
This was already effectively implemented at the SDK level 6 months ago in https://github.com/dotnet/sdk/issues/1

[2017-05-04 20:23] jaredpar commented on #5431
@ascott18 indeed.  In large part because it's very difficult to do at the compiler layer.  SDK was a new arena and hence didn't have the compat concerns.  So we were able to do it by defalut there.

[2017-05-04 20:27] olegtk commented on #19265
it's actually bug #361918, the LightBulb is supposed to be on the upper side indeed, close to the mouse cursor.

[2017-05-04 20:28] Pilchie commented on #19265
Huh.  Shows what I know, but then again I'm not much of a mouse user.

[2017-05-04 20:28] #19265 closed

[2017-05-04 20:28] vsccarl commented on #19265
@Pilchie I always remember it being attached to the top as shown [here](https://msdn.microsoft.com/en-us/library/dn872466.aspx).

vsuml looks like this:
![image](https://cloud.githubusercontent.com/assets/12900364/25723602/8ad8d5da-30cd-11e7-9fc1-471da6028880.png)

[2017-05-04 20:57] drognanar opened #19271 "Calling TryGoToDefinition from a callout causes VS to become a top most window"
**Version Used**:
d15prerel-26423.1 + Roslyn ddef785
also repros in latest vsuml, d15rel, d15prerel

The issue repros after the following change has been merged:
https://github.com/dotnet/roslyn/commit/2f11213119804e665f7e876fa3e372639be4604a#diff-e6e9ed18929cbe35dcd0c4131ab4d6f6R281

**Steps to Reproduce**:

1. Create a callout menu that calls `TryGoToDefinition`.
2. If the callout is focused as

[2017-05-04 20:58] #19171 closed

[2017-05-04 20:59] #19173 closed

[2017-05-04 20:59] #19174 closed

[2017-05-04 21:35] tmat commented on #19216
Is [this doc](https://github.com/dotnet/csharplang/blob/master/proposals/readonly-ref.md) up-to-date, so I can review it to see what's needed to make the debugging experience good?

[2017-05-04 21:40] #19187 closed

[2017-05-04 21:41] tmat commented on #19216
Turns out it isn't. Specifically https://github.com/dotnet/csharplang/blob/master/proposals/readonly-ref.md#metadata-representaion.

[2017-05-04 21:57] gafter opened #19273 "Merge subsumption implementations"
There are a few different implementations of subsumption in the patter-matching implementation:

- One in binding
- One related implementation for warning with the old-style operator `is`
- One in lowering

They should be consolidated. It is likely we can make things more precise in the process.

[2017-05-04 22:01] gafter commented on #19273
"More precise" meaning
- In lowering, better code gen
- In the old-style operator `is`, warnings that we previously failed to detect
- In pattern-matching, detecting more erroneous situations
  - involving impossible matches; or
  - involving subsumption.

[2017-05-04 22:01] OmarTawfik commented on #19216
@tmat for metadata representation specifically, I've the work to enable that in #18715.
Basically, we added a new attribute to the framework (IsReadOnlyAttribute) and we will use that to annotate parameters and return types.

[2017-05-04 22:02] OmarTawfik opened #19274 "Enable EnC and EE scenarios for generating metadata for IsReadOnlyAttribute"
Work is done for compilation in #18715. We need to make sure it is true for both EnC and EE as well:

1. Generating IsReadOnly attribute if needed.
2. Evaluating ref-readonly-ness from source if necessary.
3. Overload resolution on such parameters.
4. Using attributes from referenced assemblies vs generating a new one.

Related to #17287 and #19216

[2017-05-04 22:20] mavasani opened #19276 "Missing Field/Property reference expression nodes in object creation initializer node"
[code]

[code]

**Expected:**
1.  `Left: IOperation:  (OperationKind.None) (Syntax: 'Field')` must be an IFieldReferenceExpression and
2. `Left: IOperation:  (OperationKind.None) (Syntax: 'Property')` must be an IPropertyReferenceExpression

Similar code in VB does contain the field and property reference expressions on Left:

[code]

[code]

[code]

[2017-05-04 22:20] CyrusNajmabadi commented on #18701
I'm hitting this now and i'm unable to install the latest Roslyn LS:

![image](https://cloud.githubusercontent.com/assets/4564579/25727253/1b386e42-30dd-11e7-96dd-08636b4bec2d.png)

I'm on

![image](https://cloud.githubusercontent.com/assets/4564579/25727269/2cd032ac-30dd-11e7-88ad-0a1dbe8a9372.png)

Is there a workaround?  This is preventing dogfooding of Roslyn bits.

[2017-05-04 22:22] CyrusNajmabadi commented on #18701
Note: i can't seem to uninstall Razor support from VS.  However, when i try, it then wants to remove:

![image](https://cloud.githubusercontent.com/assets/4564579/25727333/74bb5722-30dd-11e7-916d-8833cd26dc03.png)

But we need this to build Roslyn.  Can we decouple Razor here?

[2017-05-04 22:27] OmarTawfik commented on #17075
@Pilchie can you please mention the repo?

[2017-05-04 22:35] Pilchie commented on #17075
Devdiv.visualstudio.com

[2017-05-04 22:51] CyrusNajmabadi commented on #18701
False alarm on my part.  It looks like the issue here is Diasymreader, not razor

[2017-05-04 22:58] tmat opened #19280 "Share long-lived pattern matching temps of the same type used in switch"
Consider the following code:

[code]

Currently the compiler generates 4 pattern match temp variables (kind == 35).

[code]

2 of these variables have the same type and their lifespans do not overlap. The second one can thus be eliminated. In fact, in order to map these variables during EnC we need all of these temps to have distinct types.

[2017-05-04 22:59] tmat commented on #19280
@gafter

[2017-05-04 23:00] tmat commented on #19280
/cc @jinujoseph @ivanbasov This needs to be fixed before we can implement EnC support for switch statement.

[2017-05-04 23:10] jinujoseph commented on #17991
blocked on https://github.com/dotnet/roslyn/issues/19280

[2017-05-04 23:12] MRatnam commented on #19248
I found this in Event Viewer. I also have a OneDrive for Business company account so should be able to provide that crash dump.

Framework Version: v4.0.30319
Description: The application requested process termination through System.Environment.FailFast(string message).
Message: System.ArgumentException: Value does not fall within the expected range.
   at Microsoft.VisualStudio.Shell.Interop.IVsR

[2017-05-04 23:12] tmat commented on #19216
@OmarTawfik So we are not using custom modifiers anywhere? Last time I heard we used a mix. How do we mark local variables that are ```readonly ref```? A specification clarifying these would be useful.

[2017-05-04 23:19] Pilchie commented on #19248
Tagging @jmarolf and @jasonmalinowski.  This looks like the issue fixed by https://github.com/dotnet/roslyn/pull/14783.  Did that make it into any VS2015 releases?

@MRatnam can you confirm that you're seeing this when you build on the command line with something like `devenv /build`?

[2017-05-04 23:19] jaredpar commented on #18635
Fixed by #19108

[2017-05-04 23:19] #18635 closed

[2017-05-04 23:21] jaredpar commented on #18273
This looks a lot like a Watson we are tracking

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?id=403646&_a=edit&triage=true

[2017-05-04 23:39] jasonmalinowski commented on #19248
[code]

So no, 2017 only.

[2017-05-05 00:09] MRatnam commented on #19248
@Pilchie Yes I can confirm this is when running via commandline `devenv /build`

[2017-05-05 00:21] heejaechang opened #19284 "make Solution.Options actually part of solution snapshot"
right now, Solution.Options is not actually part of snapshot but use Workspace.Options

we should make it as part of solution snapshot. which means when Workspace option is changed, new CurrentSolution should be created. and all normal process should begin from there such as workspace changed events and etc.

OptionSet should support checksum and support creating checksum without reading all optio

[2017-05-05 00:33] Pilchie commented on #19248
It sounds like using VS2017 is your best option then.

Resolving as a duplicate of https://github.com/dotnet/roslyn/issues/15134.

[2017-05-05 00:33] #19248 closed

[2017-05-05 00:35] davkean commented on #19244
https://devdiv.visualstudio.com/DevDiv/_workitems?id=430197&fullScreen=false&_a=edit

[2017-05-05 00:39] olegtk commented on #19244
thanks! I can repro on Preview, but can't on vsuvscore so I think this is fixed, but we will verify it more thoroughly.

[2017-05-05 00:41] MRatnam commented on #19248
@Pilchie Unfortunately we are unable to use VS2017 due to legacy components which are not supported. Our customers are large corporations with 5 year update cycles and we would not be in a position to update to VS2017 for probably around 12-24 months.
Is there a workaround for builds we can apply to VS2015?

[2017-05-05 00:48] MRatnam commented on #15134
@jmarolf Is there a way to uninstall the VSIX if Visual Studio doesn't open due to the VSIX? One of these previous VSIX patches hosed my VS2015 install.

[2017-05-05 00:51] jmarolf commented on #15134
@MRatnam see steps 1-3 in the post above.  Just uninstall the extension from within Visual Studio

[2017-05-05 00:55] MRatnam commented on #15134
As per previous comment, I was unable to open Visual Studio after installing the VSIX.

[2017-05-05 01:00] jmarolf commented on #15134
@MRatnam oh sorry, you can delete the folder under `C:\Users\%USERNAME%\AppData\Local\Microsoft\VisualStudio\14.0\Extensions` and then run `devenv /updateconfiguration` if that SO solution does not work

[2017-05-05 01:05] #19253 closed

[2017-05-05 01:08] MRatnam commented on #15134
@jmarolf Ah great thanks! Just testing on sandbox now.

[2017-05-05 01:47] MRatnam commented on #15134
@jmarolf Unfortunately I could not install the VSIX. Received the following:

5/05/2017 11:46:24 AM - Install Error : System.Xml.XmlException: The input source is not correctly formatted.
   at System.Xml.XmlExceptionHelper.ThrowXmlException(XmlDictionaryReader reader, String res, String arg1, String arg2, String arg3)
   at System.Xml.XmlExceptionHelper.ThrowInvalidBinaryFormat(XmlDictionaryReade

[2017-05-05 02:45] CyrusNajmabadi commented on #19218
Thanks Josh, that was very helpful.  I was able to track this down with that simple repro.

[2017-05-05 03:03] jcouv opened #19287 "Suggestion: "Build and Run" options should expose MSBuild binary logging"
The new [MSBuild binary log](https://github.com/Microsoft/msbuild/wiki/Binary-Log) option (introduced in MSBuild 15.3) is really handy. It is streamlining the usage of Kirill's structured file logger.
From the command-line, you'd pass `/bl` to `msbuild`.
When using this option, logging to a text file is redundant, since the binary log has more information. So maybe this could be exposed as a new e

[2017-05-05 03:23] scottlurowist opened #19288 "MSBuildWorkspace Projects Sometimes Falsely Reports "HasDocuments""
**Version Used**: 2.1.0

**Steps to Reproduce**:

1. Use MSBuildWorkspace to load a solution in a Roslyn command-line app generated by a Roslyn template.
2. Load the solution asynchrously.
3. Load projects that have C# documents.
4. Run the program on Windows Server 2012 R2.

**Expected Behavior**:
 I expect that each project with documents reports that"HasDocuments" is true. The project will also

[2017-05-05 03:39] MRatnam commented on #15134
After the failed VSIX installation, I am now receiving messages like this:

`c:\Solution\SomeProject.csproj : error  : Project 'SomeProject' could not be opened because the Visual C# 2015 compiler could not be created. Please re-install Visual Studio.`

`c:\Solution\SomeProject.csproj : error  : The application for the project is not installed.`

[2017-05-05 06:36] 7-bit commented on #15134
@MRatnam
I Had the same issue and never got help. Instead he set the state of this issue to "Closed".
After all I had to reinstall Visual Studio :(

[2017-05-05 06:50] jmarolf commented on #15134
@MRatnam @7-bit If all else fails I would try a repair instead of a reinstall

[2017-05-05 06:53] jmarolf commented on #15134
@MRatnam @7-bit Note that installing this VSIX is for validation only, I would not run it in production.

[2017-05-05 07:14] elijah6 commented on #18678
Based on the discussion so far, I have made a change to ignore the entire catch clause if the filter expression is false as @gafter suggested.

[2017-05-05 09:35] tamlin-mike commented on #19252
Having given this some more thought now, an idea popped up that could both sidestep the "l10n required" while providing the extra info many would like. It would apply to a great number of scenarios, not only this, so I wanted to bounce this and perhaps let the concerned parties chime in.

What if instead of a single string and only a simple dialog box (as it is today), extra info could be provided

[2017-05-05 13:11] jnyrup opened #19295 "Inclusion of using is put inside unrelated preprocessor directive"
**Version Used**: VS 20017 Version 15.1 26403.7

**Steps to Reproduce**:

1. Start with this program
[code]

2. `Ctrl+.` on `Console.WriteLine();`
3. Select "Using System"
4. Observe how `using System;` is put inside `#if DEBUG`, result:
[code]

**Expected Behavior**: `using System;` is put *outside* preprocessor directive.

**Actual Behavior**: `using System;` is put *inside* preprocessor directi

[2017-05-05 15:00] sharwell commented on #19295
I would expect the feature to place the new directive inside a logically-equivalent guard. For example, if you were to start with the following code I would expect the result to behave as you observed:

[code]

[2017-05-05 16:15] tmat opened #19297 "Extract Native PDB writer to Microsoft.DiaSymReader"
A correct and deterministic implementation of native PDB writer is tricky and other tools (F#, Cecil, PDB converter, etc.) need it as well. Extract Roslyn's writer to Microsoft.DiaSymReader and make it public.

[2017-05-05 16:19] tmat commented on #19297
@jinujoseph FYI

[2017-05-05 16:25] tarekgh opened #19298 "Not support Chinese for enum context"
@idoop commented on [Fri May 05 2017](https://github.com/dotnet/corefx/issues/19403)

when I do `dotnet build` or `dotnet pack` ,an error occurred:
[code]
**code: enum value:**
[code]

But use VS2013/15/17 build it on windows: Success.
And i saw [#7804](https://github.com/dotnet/corefx/issues/7804), so i set this proj charSet UTF-8,and no BOM.Then build ,same error info.
## Expected behavior
Build

[2017-05-05 16:38] mavasani opened #19300 "OperationKind.FieldInitializerInCreation and OperationKind.PropertyInitializerInCreation are redundant"
https://github.com/dotnet/roslyn/pull/19278 changed `IObjectCreationExpression.Initializers` so we now don't create synthesized ISymbolInitializer nodes for the object member initializer. Instead we return the underlying expression. `OperationKind.FieldInitializerInCreation` and `OperationKind.PropertyInitializerInCreation` were only used for these synthesized symbol initializer nodes and hence we

[2017-05-05 16:43] tmat opened #19301 "Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpWinForms.ChangeControlProperty failed"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/3726/

[code]

[2017-05-05 16:55] Pilchie commented on #19287
It's *certainly* not IDE :)

It's either Project System (tagging @srivatsn), or the core Solution build team in VS Platform...

[2017-05-05 16:58] rainersigwald commented on #18612
@jcouv's initial testing has revealed a couple of interesting project set-up scenarios:

* Legacy csproj that references System.Runtime facades
* New-SDK csproj that references System.Runtime facades through NuGet packages

(I tested the latter during development but broke the former.)

[2017-05-05 17:06] jcouv commented on #19287
Created a VSO issue for this (430822). Closing on github.

[2017-05-05 17:06] #19287 closed

[2017-05-05 17:16] ivanbasov opened #19303 "Support matching complex types between ENC generations"
The `ArrayOfTuples` test (in `EditAndContinueTests.cs`) and a number of other tests seem to be creating ValueTuple types (regular NamedTypeSymbol rather than TupleTypeSymbol).
This is unexpected, as the tuple type unification work is supposed to lift any instances of `ValueTuple<...>` to a tuple `(...)`.

Here's a place to set breakpoint: http://source.roslyn.io/#Microsoft.CodeAnalysis/Emit/EditAn

[2017-05-05 17:21] Pilchie commented on #19271
Per off-line conversation we determined that this was related to calling the API while a WPF popup was active.  Not sure if there is anything we can do different, but conversations are ongoing.

[2017-05-05 17:23] Pilchie commented on #19263
@panopticoncentral any thoughts here?

[2017-05-05 17:24] Pilchie commented on #19262
That is not the purpose of the `SyntaxFactory`.  It is there to construct *exactly* the syntax you ask it to.

[2017-05-05 17:24] #19262 closed

[2017-05-05 18:09] #8942 closed

[2017-05-05 18:13] Clancey commented on #8942
Additionally, it has issues with Linq.
[code]

However slightly changing the code works:

`files.Max(x=> System.IO.File.GetCreationTime(x));`

[2017-05-05 18:50] dauger commented on #18533
I'm seeing this issue on a 2012 R2 server with 4.6.1 installed. I've tried targeting both 4.6 and 4.6.1 to no avail.

FWIW I also tried Microsoft.Net.Compilers v2.1.0

[2017-05-05 18:58] CyrusNajmabadi commented on #19295
PRs welcome.

[2017-05-05 19:00] CyrusNajmabadi commented on #19295
Currently we have no APIs to answer that question.  From the perspective of everything consuming the SyntaxTree code there is only the code that active and the code that is disabled.  We could certainly try to support this, but it would need a fair amount of plumbing/infrastructure to support.  Given that we haven't heard about this issue in 15+ years, it would not be a high pri for me :)

[2017-05-05 19:05] #19218 closed

[2017-05-05 19:07] concubicycle commented on #4068
I'm still having this issue:
[code]

[2017-05-05 19:09] heejaechang commented on #4068
@concubicycle even after "Full Solution Analysis" is on? from tools->options->C#->Advanced ?

[2017-05-05 19:27] concubicycle commented on #4068
Hey, thanks for the response! I just tried that, still not hitting the breakpoint. I might just be missing something simple...

[2017-05-05 19:30] heejaechang commented on #4068
@concubicycle how are you putting this analyzer to VS? vsix, nuget, explicitly adding to project as analyzer reference?

[2017-05-05 19:34] concubicycle commented on #4068
I right clicked the project (A VSIX project), and did Add New Item->Extensibility->Analyzer.

Then I went to the .vsixmanifest file, Added MefComponent and Analyzer.

[2017-05-05 20:00] heejaechang commented on #4068
can you try to add the dll directly to a project's analyzer reference to see whether that works?

[2017-05-05 20:06] concubicycle commented on #4068
Sorry, not sure what you mean

[2017-05-05 20:14] tmat opened #19305 "Add Roslyn VSIX DSRN prerequisite back"
Revert https://github.com/dotnet/roslyn/pull/19304

[2017-05-05 20:22] heejaechang commented on #4068
you can add your analyzer directly
![image](https://cloud.githubusercontent.com/assets/1333179/25762998/f1af2a3e-3195-11e7-8e7b-f53778c4150c.png)

[2017-05-05 20:23] panopticoncentral commented on #19263
@Pilchie It doesn't look like there's a SymbolDisplay option to get plus between nested types, am I reading the code correctly?

[2017-05-05 20:34] jnyrup commented on #19295
Unfortunately there might not be a *single* guard that covers it.

[code]

I've had the issue two or three times recently in a class where I've used preprocessor directives to switch between alias.
[code]
There are properly cleaner ways to archive this, but it was a minor annoyance when my VS is in debug mode but the TFS server compiles in release mode and fails to build.

[2017-05-05 20:39] concubicycle commented on #4068
No luck =(

[2017-05-05 21:00] KirillOsenkov opened #19306 "Make sure Roslyn IDE codegen features use the current line endings"
I've noticed that IDE features such as Sort Usings will use a fixed line ending (Environment.NewLine?) when they need to generate a line break. This creates a problem in a file that uses LF for line endings.

The Editor has options for this: `DefaultOptions.NewLineCharacterOptionId` and `DefaultOptions.ReplicateNewLineCharacterOptionId`. Not sure whether the editor exposes these to the user in som

[2017-05-05 21:01] KirillOsenkov commented on #19306
@joshvarty @olegtk @CyrusNajmabadi

[2017-05-05 21:02] heejaechang commented on #4068
something is wrong with your VS.

I just tried your code and it works.

![image](https://cloud.githubusercontent.com/assets/1333179/25764140/55f3aaa6-319b-11e7-9b59-582413af2e8e.png)

here is code.
![image](https://cloud.githubusercontent.com/assets/1333179/25764152/630360c4-319b-11e7-8eae-53fff812f938.png)

I added analyzers directly through Analyzers node in solution explorer.

[2017-05-05 21:02] mavasani commented on #8884
Re-activating as we still have couple of cases which have not been addressed with #18976. More specifically, parameter references in delegate creation and collection initializers.

[2017-05-05 21:09] sharwell commented on #19295
True, but one could be added. Again in theory. 😄

[2017-05-05 21:22] heejaechang commented on #4068
@concubicycle  by the way, why are you reporting diagnostic that is not supported? this is not allowed.

[2017-05-05 21:39] jairbubbles commented on #19131
I've made some progress and it's seems it's only linked to the way NuGet packages are resolved depending on the framework.

These differences happen on many packages resulting in really different output. When comparing 4.6.1 and 4.6.2 output the differences are subtle:
![image](https://cloud.githubusercontent.com/assets/15875066/25764660/3ebd90f6-31e9-11e7-9154-9b8339c83415.png)

The automatic red

[2017-05-05 21:43] olegtk commented on #19306
DefaultOptions.NewLineCharacterOptionId or IEditorOperations.InsertNewLine() are the only correct ways to insert a new line. Interestingly I think Roslyn already only using these, that was done as part of editorconfig support. They are exposed to users via .editorconfig.

[2017-05-05 21:47] jairbubbles commented on #19131
Hello @terrajobst do you know .Net standard experts that could confirm my theory?

[2017-05-05 21:58] alrz opened #19308 "Optimize away the immediately unwrapped safe cast to nullable value types"
Since we are unboxing the result right away, we can eliminate the intermediate `Nullable<T>` value.
[code]
->
[code]
Rel: #14252

[2017-05-05 22:06] alrz commented on #19308
Note: if the LHS is of a nullable value type or dynamic we may not be able to do this (just like #14252)

[2017-05-05 22:28] OmarTawfik commented on #19216
@tmat the plan (in a future PR) is to use modreqs on parameters and return types to break older compilers and other languages from using it (until they support the feature).
@VSadov can you please comment on the local variables? is there anything I'm missing?

[2017-05-05 22:32] tmat commented on #19216
@OmarTawfik Could you update the spec please?

[2017-05-05 22:34] TyreeJackson commented on #4357
@Thaina Yes, `Undefinable<int>` is can be `undefined` while not able to be `null`.  A variable/field/property being `undefined` is independent of whether or not it is defined but set to `null`.

[2017-05-05 22:45] TyreeJackson commented on #4332
@phi1010 Thanks for the question.

Any type passed in to the `this` constrained parameter that is not the subclass itself, would result in a compiler error.  But even before that, there is a circular base class dependency in this example which would probably fail first with:
error CS0146: Circular base class dependency involving 'SubClass2' and 'SubClass1'

Does that address your concern?

[2017-05-05 23:15] sharwell opened #19309 "Update use of HashAlgorithm to reduce allocations"
**Version Used**: 15.1

PerfView is showing substantial overhead for the creation of a temporary array in `HashAlgorithm.ComputeHash(Stream)`, originating from Microsoft.CodeAnalysis and Microsoft.CodeAnalysis.Workspaces. On my machine, this accounted for more than 3 seconds of time while Roslyn.sln was opening. Code using this method should be updated to use an alternative that allows the use of

[2017-05-05 23:20] jaredpar commented on #19298
@agocke when did we make the fix about encoding and CoreCLR compilers?

[2017-05-05 23:40] agocke commented on #19298
@jaredpar https://github.com/dotnet/roslyn/pull/16308

[2017-05-05 23:55] CyrusNajmabadi commented on #19309
tagging @heejaechang

From talking to heejae earlier, we're nto certain if anything can be helped here.  The issue is that we're not computing the hash and throwing away the value.  We hold onto the value.  So pooling isn't helpful.

[2017-05-05 23:56] gafter opened #19310 "Crash in `is` operator used with tuple"
**Version Used**:

VS2015 most recent update

**Steps to Reproduce**:

1. Type the following statements
[code]

**Expected Behavior**:

Compiler reports "warning, the given expression is never of the provided (long, long) type."

**Actual Behavior**:

Visual Studio crashes.

[2017-05-06 02:03] sharwell commented on #19309
@CyrusNajmabadi The time spent is in ` clr!JIT_NewArr1`. It's literally the buffer allocation using for reading from the stream that's taking time.

[2017-05-06 02:30] CyrusNajmabadi commented on #19309
Related: https://github.com/dotnet/corefx/issues/16622

[2017-05-06 02:33] CyrusNajmabadi commented on #19309
Can you be more specific sam?  I can imagine a lot of different buffers at play here.

[2017-05-06 02:36] terrajobst commented on #19131
Thanks for the detailed report! We're taking a look and will come back to you.

[2017-05-06 02:56] jkotas commented on #19131
The difference that you are seeing is most likely caused by fragile ngen images being available on your machine in the global ngen image cache for one configuration, but not for other configurations.

You can try running `ngen install /ExeConfig:<path to the RoslynCompiler.exe.config> <path to RoslynCompiler.exe>` against the different configuration and check whether it will make the difference go

[2017-05-06 03:59] gafter commented on #8942
@jaredpar Actually, now that I think about it further it might not be the same. This is a *lambda conversion*, not a method group conversion. I'll note to look at that too when we look at bestest betterness.

[2017-05-06 04:40] jaredpar commented on #8942
@gafter the most recent comment is a lambda conversion.  The original question is about method group conversions.

[2017-05-06 07:08] jeremymeng commented on #19262
ah that's right.

[2017-05-06 07:32] jairbubbles commented on #19131
Thank you @jkotas for looking into it!

As we could expect ngening the .exe do fix the issues but I'm in a scenario where I do not want to install my application.

I've tried only nging the new dependencies (`System.Runtime`, `System.Runtime.InteropServices`, `System.Runtime.Extensions`, `System.Reflection`) but it doesn't make any difference.

The real question is: "**do .Net standard libraries i

[2017-05-06 08:07] jairbubbles commented on #19131
Perfview is prety cool, it helps visualize the issue but I still don't get why.

With 4.6.2 it's JITing 2000+ methods in `Microsfot.CodeAnalysis.Csharp.dll` while only 78 with 4.6.1:
![image](https://cloud.githubusercontent.com/assets/15875066/25770930/f6e611ea-3242-11e7-8b42-43b168098a69.png)

They are both the same assemblies.

[2017-05-06 08:10] agocke commented on #18985
The tests seem solid after the SDK change. I'm going to assume that this was related to the deployment, which is now being done using `publish`, which should be more reliable than the system I was using before. Closing for now.

[2017-05-06 13:21] jkotas commented on #19131
Thanks for confirming the problem with perfview.

The problem you are seeing is not really caused by netstandard facades. It is result of how .NET Framework NGen image cache works. Let me explain:

Images in .NET Framework NGen image cache are generated and looked up based on the transitive closure of assembly dependencies. It means that Microsoft.CodeAnalysis.CSharp.dll bound against one set of n

[2017-05-06 13:30] jkotas commented on #19131
You may want to look shipping your application as standalone .NET Core app.

[2017-05-06 14:14] StingyJack opened #19316 "None of these syntax factory types or extension methods seem to line up for adding a base interface"
All versions.

Just trying to take an existing interface, create a new one from it with slightly altered methods (rename, change return type) and then base the new interface on the old one `INewInterface : IOldInterface` has been a 3 hour exercise in flailing. Its still not compiling (or it does, and breaks at runtime), and I'm about to go back to string parsing.

Can these Add and With methods (t

[2017-05-06 15:22] jairbubbles commented on #19131
Seems clearly an option !

Thanks for all the information, it explains all the inconsistent performance I was getting on different machines.

I just updated my win 10 beta and it seems it cleared the nativecache as now I have bad performance for all.

Now that we have nuget packages who are released more and more often it seems we're more likely to have a cache miss and have bad performance. Would

[2017-05-06 16:44] GSPP commented on #15929
Rather than this very limited form of optimization we should have a [tiered JIT](https://github.com/dotnet/coreclr/issues/4331) that is a superset of this proposal from its effects. It optimizes more and should make jitting even faster than before (because we don't need to spend so much time on cold code).

[2017-05-06 19:08] CyrusNajmabadi commented on #19262
You can use SyntaxGenerator.  Which will attempt these sort of niceties. :)

[2017-05-06 19:11] CyrusNajmabadi commented on #19316
@StingyJack You can just call:

[code]

[2017-05-06 19:33] jcouv commented on #19075
Fixed by #19112

[2017-05-06 19:33] #19075 closed

[2017-05-06 20:51] #19105 closed

[2017-05-06 22:47] Pilchie commented on #19306
Cool. I think we just need to hook `DefaultOptions.NewLineCharacterOptionId` up to [`FormattingOptions.NewLine`](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Formatting/FormattingOptions.cs,5e6e6a74c9b192be,references).  @jasonmalinowski is that straightforward?

[2017-05-06 22:49] StingyJack commented on #19316
Thanks but I ended up with the bits at the bottom. I know its more wordy and fragile, but
![image](https://cloud.githubusercontent.com/assets/15381181/25776398/1a7ce1fe-328b-11e7-965b-df4be0d5e84e.png)

^ `TypeSyntax` just does not click. I know what _types_ are, but these Roslyn extension methods burn me all the time by allowing something in the code and compiling only to fail with messages like

[2017-05-06 23:04] CyrusNajmabadi commented on #19316
I don't know how to help with that.  :)

All our syntax factories are autogenerated (so that they're 100% consistent).

Feel free to submit a PR to make the error message better.  I'd have no problem with such a change going through. :)

Note: you could make your code simpler by doing the following:

[code]

Note: i'm not sure why you were created new open/close curlies.  I can't tell if you want

[2017-05-06 23:05] CyrusNajmabadi commented on #19316
Closing as there's no actual bug here.

@StingyJack Feel free to submit PRs that address any issues you have with this API (i.e. with error messages) if you'd like!

[2017-05-06 23:05] #19316 closed

[2017-05-06 23:06] CyrusNajmabadi commented on #19316
You don't need to use anything 'fluent' at all.  The fluent API is to take an existing immutable object and produce new ones from it.  You can always just call all the direct factory methods on SyntaxFactory to do whatever you want.  For example, you can directly call SyntaxFactory.InterfaceDeclaration(...) and provide everything in a non-fluent fashion.

[2017-05-06 23:09] alexanderuv opened #19323 "Unable to use roslyn as a library to create a custom language"
**Version Used**: 2.1

**Steps to Reproduce**:

1. Try to inherit Compilation
2. Boom! internal constructor

**Expected Behavior**:
A true open framework should allow for extension. Why keep everything internal?

**Actual Behavior**:
No chance of proper extension (unless forking roslyn itself, which seems like overkill)

[2017-05-06 23:09] renzska commented on #12156
I'd love to see an option for this. Any plans to make this an option at least?

[2017-05-06 23:11] Pilchie commented on #19323
Roslyn is not intended to be a framework for creating custom languages.  It is intended to be a C# and a VB compiler.

[2017-05-06 23:11] #19323 closed

[2017-05-06 23:14] CyrusNajmabadi commented on #19316
First, these aren't extension methods :)

Second, what would be your approach to avoid the runtime checks?  A core part of the roslyn syntax API is performance.  That means having a struct for a token so that each token doesn't incur an allocation cost.  That means that from a type system perspective, we can't have a distinct type here.  Which means we need a runtime check ot make sure the 'kind'

[2017-05-06 23:21] Pilchie commented on #19263
I'm not aware of a way - Roslyn normally models the source concept of symbols, not how they happen to be encoded in metadata.

[2017-05-06 23:21] Pilchie commented on #19263
@singhsarab Can you elaborate on what the customer impact of this issue is?  Doe it mean that CodeLens doesn't work for nested types?  All indicators, or just some?

[2017-05-06 23:22] Pilchie commented on #19271
Giving to @CyrusNajmabadi to track the possible need to change our use of VS Platform APIs here, or close if no action is necessary.

[2017-05-06 23:25] Pilchie commented on #19288
Can you try installing the 2.3 packages from our (MyGet Feed)[], and hook something up to the `WorkspaceFailed` event.

I suspect that the proble here is either:

1. The Windows Server machine doesn't have the required targeting packs installed, so the design time build fails to create the command line arguments.
2. Binding redirects for the MSBuild assemblies.

[2017-05-06 23:26] CyrusNajmabadi commented on #19271
Our usage is correct AFAICT.  We are calling the platform API exactly as it is documented.  We have no knowledge if we're being called from within a 'on top' flyout.  If VS/WPF have this issue, then it seems like something for the platform to 'fix'.  If it can't be fixed, then it seems like it will simply have to be the case that flyouts do not call this API without dismissing themselves first.

O

[2017-05-06 23:26] Pilchie commented on #19301
Hmm.  #19191 claims that this test is disabled.

[2017-05-06 23:26] #19301 closed

[2017-05-06 23:26] #19271 closed

[2017-05-06 23:28] Pilchie commented on #19306
We're not likely to get to this before 15.3, but we'd welcome a PR if one appeared :-)

[2017-05-07 00:22] jcouv commented on #1445
Test related to this issue is still skipped and failing. Re-opening issue.
[code]

[2017-05-07 00:35] StingyJack commented on #19316
No problem with closing this. It was ranty anyway.

I have several years worth of Wcf service contracts that are used by ChannelFactory, and I want to add Task or Begin/End Async but have no interest in regenerating everything with svcutil.

I tried for a few hours to build new items from scratch instead of copying the existing trees, and just could not get the program to run. After trying to do a

[2017-05-07 00:43] CyrusNajmabadi commented on #19316
TypeSyntax is an abstract type.  It's the root of all potential Type-Syntaxes.  For example, there are types that are:

1. types that are just keywords.  i.e. "int".
2. types that are just an identifier.  i.e. "String"
3. Dotted names: "System.String"
4. Array Types: int[]
5. Pointer types: int*
6. Generic types: ```List<int>```
7. Tuple types: (int, string)
8. Aliased names: X::System.String

And

[2017-05-07 00:45] CyrusNajmabadi commented on #19316
Yes.  If you're making new nodes out of existing nodes, then that's what will happen.  I question *why* you're doing that though.  Why not just make new nodes from scratch.  You don't need to provide unambiguous tokens.  i.e. you don't need to provide the curlies for  a new type-declaration.  Roslyn will add them automatically through the helper factory methods if you leave them out.

[2017-05-07 00:46] CyrusNajmabadi commented on #19316
I recommend this page: https://github.com/dotnet/roslyn/wiki/Getting-Started-C%23-Syntax-Analysis

Using the syntax visualizer can also be super helpful.

[2017-05-07 00:49] CyrusNajmabadi commented on #19316
Note: i would also recommend you look into SyntaxGenerator/SyntaxEditor, which are APIs that try to make some of this work simpelr and easier.  You're directly talking to the low level API whose purpose is to be completely explicit and fully representative of all hte intracacies you have to care about in C# for every single construct.

[2017-05-07 00:56] CyrusNajmabadi commented on #12156
PRs welcome.  :)

[2017-05-07 02:12] AdamSpeight2008 opened #19327 "[VB] Issue "With" Blocks containing Lambdas Modifying fields on "With" object."
@ericmutta reported this in the VB Language Repo ([here](https://github.com/dotnet/vblang/issues/72))
I have found that the following code:

[code]

[code]

...produces different results when the function `DoSomething()` updates the value of `SomeObj` before invoking the function passed in as a lambda.

The two calls to `DoSomething()` should behave identically, indeed when you do the "in-line wit

[2017-05-07 03:28] jasonmalinowski commented on #19306
@Pilchie We have other places I'm pretty sure we use either Environment.NewLine or (worse) crlf directly. Not hard bugs, but would require a test pass.

[2017-05-07 06:27] Thaina commented on #18232
@Pilchie Should this be in roslyn or csharplang ?

[2017-05-07 08:16] RussKie commented on #18273
@jaredpar I don't have access to your link :(

I am consistently having the problem debugging https://github.com/gitextensions/gitextensions project - both on my Windows PC and running under Parallels on Mac.

Is there a way to find more information on what fails/why the error occurs?

[2017-05-07 08:23] jcouv commented on #18737
Note to self: this is tracked on .NET Native in VSO 409209. Still scheduled for dev15.3.

[2017-05-07 09:56] filipw opened #19329 "Unnecessary usings (CS8019) are not reported for script compilations"
**Version Used**:

2.1.0.
I believe the behavior has always been like that though.

**Steps to Reproduce**:

When creating a script (submission) compilation no CS8019 reported.

[code]

If I compile a CSX using regular compilation, it works fine.

[code]

The difference is in the 2nd example compilation is not flagged as submission.

**Expected Behavior**:

`CS8019` should be reported for script c

[2017-05-07 10:29] jmarolf opened #19330 "Provide option to disable formatting on copy"
**Version Used**: d15rel 26505.0

**Steps to Reproduce**:

1. Copy any text

**Expected Behavior**:
No delay

**Actual Behavior**:
A dialog pops up indicating that the text is being fomatted

**NOTE:**  I would at least like an option to disable formatting the copied text.  Honestly what do we lose be not formatting the text?

[2017-05-07 11:20] GSPP commented on #159
This proposal has quite a big concept load and language surface. Shouldn't immutability as a convention, as a comment or as an attribute plus an analyzer be a sufficient solution as well?

I use a lot of immutability and I find that the immutable by convention approach works extremely well.

I'm not sure the language should *enforce* coding patterns much. It should make immutability easy but it al

[2017-05-07 11:43] GSPP commented on #7170
@tmat just tested in VS17 15.1 with Resharper and Power Commands as the only seemingly relevant addons.

[2017-05-07 11:46] pawchen opened #19332 "Want the `interface` `class` `virtual` `override` keywords clickable"
When ctrl + clicked, show something listing all related definitions and allow the items to click and Peek, so one can easily go "up" and "down"?

[2017-05-07 12:07] alrz commented on #15695
I think we should also produce warnings for unused methods, types, etc as part of this effort. That make it really easier to write an analyzer to remove dead code.

[2017-05-07 20:36] Septiple opened #19333 "Constructor with default parameter not found in using statement inside lambda containing a switch statement"
**Version Used**:
Microsoft Visual Studio Community 2017
Version 15.1 (26403.7) Release

**Steps to Reproduce**:

1. Compile the following C# code:
[code]

**Expected Behavior**:
The code compiles without errors.

**Actual Behavior**:
The compiler generates the error: "CS1729 'Class2' does not contain a constructor that takes that many arguments" on the line containing the "new Class2()" expressio

[2017-05-07 20:44] faisalr commented on #19333
This is not a bug, there is implicit default constructor with no argument.

[2017-05-07 20:55] Septiple commented on #19333
The following function exhibits the same behaviour:
[code]

Also, if I remove the "=false" default parameter, I get an additional error ("CS7036 There is no argument given that corresponds to the required formal parameter 'parameter' of 'Class2.Class2(bool)'"), but the other error is still there, where I would expect a single error.

@faisalr: I'm not sure what you mean. If I remove the switch sta

[2017-05-07 21:45] CyrusNajmabadi commented on #11822
Fixed with https://github.com/dotnet/roslyn/pull/15226

[2017-05-07 21:45] #11822 closed

[2017-05-07 23:33] MRatnam commented on #15134
@jmarolf Tried repair and unfortunately the install was still broken with the VC# compiler issue. Uninstalling and reinstalling seems to work.

[2017-05-07 23:46] MRatnam commented on #19248
Shared crashdump via OneDrive to Kevin.

[2017-05-08 02:11] ufcpp commented on #19333
It seems a bug...

[code]

[2017-05-08 02:37] ericmutta opened #19337 "VB: Intellisense for members of delegates created as lambda expressions in With-statement."
**Version Used**:
Visual Studio Community 2015

**Steps to Reproduce**:
Type the following code:

[code]

**Expected Behavior**:
Pressing the dot character before typing ```Invoke()``` should pop-up the intellisense completion list with members from the delegate type implied by the lambda expression ```Function() ...```

**Actual Behavior**:
The pop-up completion list does not show. However adding

[2017-05-08 03:00] tmat commented on #7170
@GSPP Have you tried to disable them?

[2017-05-08 03:57] #16195 closed

[2017-05-08 04:27] CyrusNajmabadi commented on #18556
Fixed with https://github.com/dotnet/roslyn/pull/18557

[2017-05-08 04:27] #18556 closed

[2017-05-08 07:06] singhsarab commented on #19263
@Pilchie Indicators won't work for types whose FQN does not match.
For simple types, since the FQN matches, it works fine.
For nested types, FQN does not match, hence it does not work.

[2017-05-08 07:08] davkean opened #19341 "Missing CS0029 under Build + IntelliSense"
1. File -> New Console App (.NET Framework)
2. Paste the following code
3. Build

[code]

Expected: error CS0029: Cannot implicitly convert type 'FormattableString' to 'FormattableString' to show up in Error List
Actual: No errors show under Build + IntelliSense, switching to Build tab shows the correct error

[2017-05-08 07:21] jinujoseph commented on #18839
workaround https://github.com/dotnet/roslyn/pull/19307

[2017-05-08 09:23] GSPP opened #19342 "C# Interactive shortcut Alt+UpArrow doesn't appear to work in VS 2017 15.1"
Type `1` and `Enter` into the C# Interactive Window to create a history item. Press `Alt-UpArrow`. It does nothing but it should repeat the item according to `#help`.

Before testing this I disabled all extensions that seemed relevant. It does not seem that those keyboard shortcuts can be reconfigured so that would not be relevant either.

This issue was kind of [resolved previously](https://githu

[2017-05-08 09:53] weltkante commented on #12156
@CyrusNajmabadi up-for-grabs on a closed issue?

[2017-05-08 10:49] scottlurowist commented on #19288
I do not have access to our build server where this needs to work, but I can test this in a 2012 VM.

Thanks,
Scott

[2017-05-08 10:56] shaggygi commented on #19342
With my VS 15.1 install, I can...

Type ```var x = 5;``` and <Enter>.
Type a few other lines of code.
If I press Alt-Up or Alt-Down, it will cycle through my lines of code.  This is expected.
If I type ```var x``` and press Ctrl+Alt+Up, it does not cycle to the line of code that started with similar entry.  This is unexpected.

I have ReSharper installed and was not disabled.  I have not tried wit

[2017-05-08 12:41] dsyme commented on #18376
I've not read this whole thread, but I just wanted to mention that I think the default Roslyn delay in type-checking and presenting fresh red-squigglies in the current active file is too long for F#.

See my comment here: https://github.com/Microsoft/visualfsharp/issues/3000#issuecomment-299855523

TBH this also feels like a regression for F# developers because previous versions of Visual Studio g

[2017-05-08 13:19] vasily-kirichenko commented on #18376
I think this is the problem in case of F#. F# language service (and the compiler) is 1. not incremental in file scope (it recheckes the whole file every time it's changed) 2. several times slower than C#'s. What we have as a result: editor features responsiveness feels OK in C# editor and feel very slow - in F# editor, because C# language service adds almost nothing to the artificial delays Roslyn

[2017-05-08 13:30] cartermp commented on #18376
Just to add a bit more weight to this, @dsyme is 100% correct from an experience perspective that F# developers rely on immediate feedback on the squiggles when they're using type inference.  I like @vasily-kirichenko's idea (or something like it) so that we can opt out of these delays.

[2017-05-08 13:45] GSPP commented on #19342
[The shortcuts are hard-coded](https://github.com/dotnet/roslyn/pull/8371/commits/fcbad105bc13e01f0857ad84634fca9d9bee61a0) so I expect them to always work.

[2017-05-08 13:48] sharwell commented on #18844
Sometimes I don't know what's worse, the bug, or the fact that someone wrote code that exhibited the bug. 😆

[2017-05-08 14:10] avifatal opened #19343 "Debugger skips some lines in C# web project on localhost"
**Version Used**:
2017 Preview 2 Version 15.2 26430.1-Preview.
This also happened to me in the 2017 community regular edition,
**Steps to Reproduce**:
Have no idea, very random, In order to fix this I need to rename some variables in the context.

**Actual Behavior**:
See in the screen record below, the debugger I think remember one of the previus code states and debug with the old lines.
https://

[2017-05-08 15:03] jaredpar commented on #18273
@RussKie

Unfortunately that link can't be accessed except by MSFT employees.  It represents a Watson crash of the bug.  I added it here so we can track both issues together.

Don't have more details yet as we are still digging into this.

[2017-05-08 15:59] Pilchie commented on #19263
What indicators?  All of them?

[2017-05-08 16:00] singhsarab commented on #19263
TestIndicators.

[2017-05-08 16:01] Pilchie commented on #19248
We'll take a look at the crashdump to confirm it's the same issue.

For VS2015, if you have a support contract, you can talk to your contact about a requesting a hotfix, but we don't otherwise have a mechanism for shipping fixes for VS2015 right now.

[2017-05-08 16:03] Pilchie commented on #18232
If it involves changing the language specification (which this does, because it changes what happens when dynamic is converted to an interface type), it should be on csharplang.

[2017-05-08 16:03] Pilchie commented on #18232
Tagging @gafter

[2017-05-08 16:12] #14133 closed

[2017-05-08 16:20] panopticoncentral commented on #19263
Is it possible for the test indicator code to construct its internal FQN with "." instead of "+" to match what's coming back from Roslyn? I'm on a slow connection at the moment, so I can't check it myself, I can also look when I get into the office in about 1.5 hours.

[2017-05-08 16:21] scottlurowist commented on #19288
I am sorry, but I don't know what (MyGet Feed)[] is. I'll be happy to do this.

I do have an update.

On my work laptop's Windows Server 2012 R2 VirtualBox image, my tool works with one of our products, but not another product.

I installed Visual Studio 2017 on this same VirtualBox image. I compiled my tool, and now the tool works with the BOTH PRUDUCTS. This is good.

My tool is a command line t

[2017-05-08 16:31] tmat commented on #19343
Do you remember if you edited the code while debugging? Perhaps added or deleted a line somewhere above the code that you stepped thru?

[2017-05-08 17:10] avifatal commented on #19343
Yes I did, it was under edit and continue. But yet again, it is not normal behavior.

[2017-05-08 17:24] mavasani opened #19344 "Semantic break introduced by VBOperationFactory refactoring"
See code in master: http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic/BoundTree/Expression.vb,1467

The operation kind depends on the length of the arguments in master, but is not so in features/operation branch: https://github.com/dotnet/roslyn/blob/features/ioperation/src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs#L1917

[2017-05-08 17:25] mavasani commented on #19344
@heejaechang This is causing failures in some new tests in master when I attempt to merge master into features/ioperation. I am going to skip those tests with this bug, please re-enable when you fix this issue.

[2017-05-08 17:26] mavasani commented on #19344
[code]

See the difference in IIndexedPropertyReferenceExpression dump.

[2017-05-08 17:28] Pilchie commented on #19341
@heejaechang any ideas here?

[2017-05-08 17:30] genlu commented on #7969
This should be addressed by #19237

[2017-05-08 17:32] mavasani commented on #19344
Ah, I also note that even though VisualBasicOperationFactory is in features/ioperation, we are still using bound nodes for IOperation: https://github.com/dotnet/roslyn/blob/features/ioperation/src/Compilers/VisualBasic/Portable/Binding/MemberSemanticModel.vb#L803

[2017-05-08 17:33] genlu commented on #8566
`ArgumentsInSourceOrder` is renamed `ArgumentsInEvaluationOrder` and the issue should be addressed by #19237

[2017-05-08 17:34] Pilchie commented on #19330
This isn't "formatting" as you expect, it's classifying so that rich text copy/paste works.

If you have instances where you are seeing this, we should try to get perf traces and see what's going on.

However, adding an option would need to happen in the VS Platform team.  Tagging @olegtk @markw-t about that.

[2017-05-08 17:35] mavasani commented on #19344
@heejaechang When are you planning to move VB operations to operation factory?

[2017-05-08 17:37] JoshVarty commented on #8962
Closing this because we no longer need the changes discussed.

[2017-05-08 17:37] #8962 closed

[2017-05-08 17:40] mavasani commented on #19344
@heejaechang I am going to create a new file Expressions_new.vb and Statements_new.vb with my merge (this will only have BoundNodes implementing operation with children stuff). Once you delete Expressions.vb and Statements.vb (i.e. move VB to operation factory), you can just rename these files back to Expressions.vb and Statements.vb

[2017-05-08 17:46] heejaechang commented on #19344
@mavasani thank you for the finding the issue. the second one, I thought I already changed and deleted all those.. not sure why those are still there. let me check.

[2017-05-08 17:48] mavasani commented on #19344
@heejaechang I am actually confused about the VB factory status here, let me drop by..

[2017-05-08 17:48] varocarbas opened #19346 "Differences in class instantiation release/debug VS 2012 vs. VS 2015/2017"
**Version Used**:
Visual Studio 2012, 2015, 2017 (exact versions are being displayed in the video).

**Steps to Reproduce**:
I have recorded a [video clearly showing the problem](https://www.youtube.com/watch?v=d__lXHqmPFE). Note that this refers to the library DateParser, whose code is public and can be found [here](https://github.com/varocarbas/FlexibleParser/tree/master/all_code/DateParser) (it

[2017-05-08 17:55] miloush commented on #19332
So many times I wanted to go to the overridden member indeed!

[2017-05-08 18:00] jeremymeng commented on #19262
Thanks for the tip @CyrusNajmabadi! Yes we use SyntaxGenerator too. In this case I don't have a document/project but should be able to get it easily.

[2017-05-08 18:03] CyrusNajmabadi commented on #12156
Sure.  If you want to come with a PR that addresses this, i'd be happy to take this.

[2017-05-08 18:08] CyrusNajmabadi commented on #18376
Please file a bug on Roslyn to expose a way for F# to programmatically change these delays.

[2017-05-08 18:12] #5419 closed

[2017-05-08 18:14] jmarolf commented on #19330
It happens all the time.  I am very aware of when I copy text now because it takes so long.  I never care about rich formatted text.  I would prefer to turn this off an not need to pay the enormous cost.

[2017-05-08 18:18] OmarTawfik commented on #19216
@tmat. Yes. I'll send a PR out later.

[2017-05-08 18:28] cartermp opened #19347 "Add configuration option for diagnostic delays in editor"
This is from this comment: https://github.com/dotnet/roslyn/issues/18376#issuecomment-299944799

F# is hurt a bit by artificial delays in squiggles in the editor.  Because we have type inference, people rely on instant feedback on if something will work via squiggles (or lack thereof).  Because type inference already takes quite a bit of time, any additional delay gives the appearance the editor i

[2017-05-08 18:28] cartermp commented on #18376
@CyrusNajmabadi Done.  #19347

[2017-05-08 18:29] mavasani commented on #19344
There are few failures due to cast exception at below line the VB factory in `CreateBoundParameterEqualsValueOperation`:

`Dim isInvalid As Boolean = DirectCast(boundParameterEqualsValue.Value, IOperation).IsInvalid`

I am going to skip them with this bug.

[2017-05-08 18:32] heejaechang commented on #19341
@dotnet/roslyn-compiler looks like the error is produced at the later stage than what IDE would go. but share error code with other cases where errors are produced in the earlier stage. IDE never gets this particular errors live.

[2017-05-08 18:33] mavasani commented on #19344
`IOperationTests.SimpleCompoundAssignment` is also failing with the below:

[code]

I am going to skip it with this bug.

[2017-05-08 18:41] isaacabraham commented on #19347
Perhaps a slightly nicer option would be to be able to set the _minimum_ delay. @CyrusNajmabadi makes a valid point that I've noticed in the past - if you get *instant* feedback whilst typing and get squigglies in the middle of typing, it can be annoying. If it was possible to set the delay at no less than e.g. 150ms this would avoid that concern, and also (hopefully) help ensure that the IDE resp

[2017-05-08 19:05] jcouv commented on #16697
Whenever this gets fixed, please make sure to un-skip tests that reference this issue, such as this one:
[code]

[2017-05-08 19:12] #2423 closed

[2017-05-08 19:31] cston commented on #18273
@RussKie This error occurs when the expression being evaluated contains nested lambdas where the inner lambda closes over a local declared in the outer lambda.

[2017-05-08 19:51] heejaechang commented on #19341
fix this is a bit tricky. compiler either need to use different error code so that I can distinguish one as live and the other as build only. or we need compiler to put some kind of stage info in diagnostic for IDE to see which stage the diagnostic is created (syntax, declaration, binding, emit and etc).