[2015-05-16 13:22] shaggygi commented on #2787
@romansp Just noticed something else with SyntaxNode.cs.  It includes "CommonSyntaxReferences" in same summary.  I could not find any types based on this.  Should it be two words? "Common SyntaxReferences".
Thx for updating this.

[2015-05-16 16:20] controlflow opened #2834 "nameof(): clarify when invocation is classified as 'nameof' expression"
This code compiles fine and expression is classified as `nameof` expression:
[code]
But if we replace field with method:
[code]
...it produces compiler error:

My expectations: invocation of name `nameof` is only classified as `nameof()` expression when there is no symbols named `nameof` *of any kind*, available in particular scope.

Or am I getting something wrong?

[2015-05-16 19:00] #2576 closed

[2015-05-16 19:10] AArnott opened #2835 "Installing the Microsoft.CodeAnalysis.Compilers NuGet package adds references to my project"
I want to 'lock in' the version of the compiler that I'm building my project with. But when I install the `Microsoft.CodeAnalysis.Compilers` NuGet package, all the other Roslyn-related packages get chained in and added as references to my C# class library project. Can this be avoided?

[2015-05-16 19:15] AArnott commented on #2835
Never mind. I guess I should have been using the `Microsoft.Net.ToolsetCompilers` package.

[2015-05-16 19:15] #2835 closed

[2015-05-16 19:17] sharwell commented on #2834
This reminds me of ... oh wait y'all just hired him nevermind.

[2015-05-16 20:43] Pilchie commented on #2767
Maybe start here: http://source.roslyn.io/Microsoft.VisualStudio.LanguageServices.CSharp/R/a263f2299cc3b03b.html

Unfortunately, we don't have a good way for people outside Microsoft to build and test that code yet :frowning:

[2015-05-17 00:16] miloush opened #2836 "Declared type precedence in new operator (regression)"
Mentioned but not addressed in comments at CodePlex [#138](https://roslyn.codeplex.com/workitem/138).

[code]

This results in Intellisense offering `bool` instead of `Program`. There is no scenario where `bool` would be acceptable at this place (or where the code after cursor would be relevant to what is following the `new` operator).

This worked in previous version of Visual Studio.

[2015-05-17 00:58] miloush opened #2837 "Leave block on single line formatting ineffective without brace completion (regression)"
Settings to reproduce:
C# > Formatting > Wrapping > Leave block on single line `on` (on by default)
C# > Automatic brace completion `off` (newly on by default)

[code]

If semicolon is typed at this point, the formatter decides to reformat the block:
[code]

Likely because it thinks the next closing bracket belongs to the getter which it does not. This parsing strategy (exhibited in other contexts

[2015-05-17 01:38] shyamnamboodiripad commented on #1913
@mavasani Could you please verify this?

[2015-05-17 01:59] shyamnamboodiripad commented on #1759
That is strange here is what I see on a vanilla install of VS build from 5/11 (so there should be no difference in version of MS.CA.dll in play)

[code]

Notice the empty warning above. But there is no info diagnostic about the crash.

I do see the crash in error list -
![capture](https://cloud.githubusercontent.com/assets/10579684/7668738/402a0ab0-fbfd-11e4-8a34-0a7bb45d7a92.PNG)

Are you sure yo

[2015-05-17 05:19] AArnott opened #2838 "VBCSCompiler.exe crashes frequently on Windows 7 with an analyzer installed"
This only repros on a Windows 7 machine. Windows 8 and above is fine.

1. Log into `ddandarno021.redmond.corp.microsoft.com` (ping me and I can make you admin)
2. Open the solution in C:\git\Threading\src
3. Rebuild the solution.

VBCSCompiler.exe will *crash* a few times. Each time with this exception.

Message: An unhandled exception of type 'System.ArgumentException' occurred in Microsoft.CodeA

[2015-05-17 07:19] mavasani commented on #2838
@tmeschter fixed this last week.

[2015-05-17 09:57] ehouarn-perret commented on #2136
Any news about the constraint support for delegate and enums?
Here is a link to bring some memories back: http://blogs.msmvps.com/jonskeet/2009/09/10/generic-constraints-for-enums-and-delegates/

[2015-05-17 12:30] dsaf commented on #2136
@ehouarn-perret Did you read this whole thread? Additional constraints are even mentioned in the opening post itself: "Small but useful" and "Interesting but require CLR support".

[2015-05-17 12:45] HaloFour commented on #2136
To note, as mentioned on Jon Skeet's blog and on here and CodePlex numerous times, supporting delegates or enums as generic type constraints are both currently supported by the CLR, just not by C#.  C# already recognizes and enforces said constraints if you reference another assembly that uses them.

Here are the two existing proposals for this:

#158 Proposal: Support System.Delegate as a generic

[2015-05-17 18:09] paulomorgado commented on #2167
Or have a convention on the first line of the script file to specify the scripting engine.

Or have an argument to `#load` to specify the scripting engine.

[2015-05-17 21:17] dpoeschl commented on #1729
[LocalVariableConflict](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Workspaces/Rename/CSharpRenameRewriterLanguageService.cs,b6e4e87d81321873) assumed that any unqualified invocation expression that matches the name of a local/parameter is a conflict, but this is not true in the case of locals/parameters of delegate types.

[2015-05-17 21:32] tmat opened #2840 "Compiler Server is intermittently keeping .snk file locked past compilation"
[code]

[2015-05-17 22:23] dpoeschl commented on #2714
This also repros for me fairly often in normal coding, and every time when I follow the repro steps (including copying the leading whitespace of the frirst attribute) -- in fact, I'm adding this comment because it just happened to me. :smile: Can @rchande or I swing by to try it out on your machine tomorrow?

[2015-05-17 22:36] Neil65 commented on #227
@HaloFour It wouldn't actually a breaking change because the behaviour would only apply if you use the new nullable types (i.e. with the question mark suffix). Existing code using 'general' (i.e. traditional) references would compile and run as before.

@svik It's not too hard to modify your example so that the compiler would accept it (see below). I would argue that this makes it a bit clearer be

[2015-05-17 22:41] dpoeschl opened #2841 ""The method or operation is not implemented" when setting next statement"
Was working on a fix to #1729 and was doing some EnC debugging while running unit tests.

I initially had basically
[code]
And I broke on ```complicatedExpression``` and EnC'd to
[code]
This put the active statement after both returns, so I dragged it back up to the ```return true```, which caused the below dialog:

![image](https://cloud.githubusercontent.com/assets/235241/7672536/ad8b5692-fcaa-1

[2015-05-17 22:42] dpoeschl commented on #2841
Not sure whether problems setting next statement go under Interactive-Debugging or Interactive-EnC, so adding both sub-labels.

[2015-05-17 22:57] adamralph commented on #2167
That was what I had in mind with the 'language feature' suggestion. I can't really think of an elegant way of doing it though.

[2015-05-17 23:00] tmat commented on #2167
We don't plan on supporting multiple languages in a single script. Note that ```#load```-ing of a script is similar to ```#include```, the target language has to be the same.

[2015-05-17 23:10] adamralph commented on #2167
I understand that that is the case with a plain old fashioned `#load`, but in the case of `#load .. into` (perhaps the directive should be something other than `#load`) we have an opportunity to supply and consume scripts as packages (effectively obsoleting scriptcs script libraries) and build something analogous to other script based platforms, e.g. node, Ruby, etc. This would be way smoother if

[2015-05-17 23:26] Neil65 commented on #227
Sorry, I realised one of the points in my previous post was incorrect so I have deleted it.

[2015-05-17 23:29] tmat commented on #2167
@adamralph #load into as currently design isn't much different from #load. All it does is prefix the names of the members declared on top-level of the target script with the identifier specified in the into clause.

Correct me if I'm wrong, but I don't think you can import Ruby script from Python and vice versa (unless of course on DLR :))

[2015-05-17 23:44] adamralph commented on #2167
@tmat I asked for an explanation of the 'wrapper identifier' some time ago (https://github.com/dotnet/roslyn/issues/2167#issuecomment-95040213) but no-one has answered yet.

The Ruby/Python case is completely different. Those are two distinct runtimes. In the .NET case we are dealing with a single runtime but multiple languages, a design tenet of .NET from day one. This is illustrated by C# and VB

[2015-05-17 23:59] HaloFour commented on #227
@svick Perhaps, but why should `string?` behavior appreciably differently than `string`.  Granted the `?` provides an extra hint but the compiler for all intents and purposes should be treating any such reference as nullable anyway.

I think your code example is exactly the kind of syntax gymnastics I'd prefer to avoid.  You have to invert your logic to make sense and it doesn't feel natural.  We'

[2015-05-18 00:01] tmat commented on #2167
@adamralph I'm confused,
The design notes say exactly what I said above:
"Instead of having  into  generate a "wrapper class," we think we should take the "wrapper identifier" provided by the user and essentially **pre-pend it to every variable and class within the script**. This would prevent creating a lot of duplicated code from arbitrary (transitive)  #load -ing."

Yes, .NET is a single runtim

[2015-05-18 00:16] Neil65 commented on #227
Actually the logic can be either way around depending on your preference (I've changed it my post to match the order in the example by @svick).

[2015-05-18 00:37] glennblock commented on #2167
If you are pre-appending, this will mean all references will be
pre-appended as well right?

Ie if I have Foo() and Bar() and Foo calls Bar and is loaded into Baz then
the call to Bar will become Baz.Bar()? Is '.' even valid in a member name?

One thing I dislike about this that the wrapper brings is automatic
encapsulation of loose variables. Sure the variables are pre-appended so
they should not

[2015-05-18 01:10] gafter commented on #2771
The strategy I'm working on essentially counts the number of "bad character" errors reported by the scanner. When it exceeds a threshold it treats the file as binary. This is a generalization of the "null character" heuristic and is actually easier to implement.

[2015-05-18 01:18] gafter commented on #2749
@tmat I think the code identified above is currently in the compiler.

[2015-05-18 01:25] gafter commented on #2770
That's not an OK customer experience. From an implementation perspective, I would ask why there is no schema. From a customer perspective, I would ask why a VS-generated file produces warnings. The customer experience is confusing and makes no sense.

If this is not a Roslyn issue, please open an appropriate bug elsewhere and close this as a duplicate.

[2015-05-18 01:38] dpoeschl commented on #2605
@lgolding No problem, thanks for reporting it! Can you take a look and verify that it works as expected in this case now and add the Verified label if so? I can find someone else to take a look if needed -- just assign the issue back to me if that's the case.

[2015-05-18 01:40] dpoeschl commented on #2605
Actually, I can't assign it to you for some reason, @lgolding. Do you know why? /cc: @srivatsn

[2015-05-18 02:18] ajensenwaud opened #2844 "System.IO.EndOfStreamException: Failed to read past end of stream when building on FreeBSD"
Hello,
I receive a strange compilation error when attempting to build Roslyn on FreeBSD. I am using the latest Mono build, v.4.0.1.34 on FreeBSD 10.1 (amd64).

See error below:
[code]

OS:
[code]

Compiler:
[code]

Mono version:
[code]

[2015-05-18 02:22] tmat commented on #2167
@glennblock Yes. '.' is valid in member name, but we can mangle the CLR name arbitrarily if needed.

Correct, top-level variables are also accessible thru dotted name. There are several options how to make them truly local to the script - declare them in a block, method, class, lambda, etc.

[2015-05-18 02:24] tmat commented on #2749
@gafter Yes, however the code above is correct - it's just missing an assert that on this code path ```declaredExternAliasesOpt``` is expected to be non-null. I have added such assert. The root cause why it was null was fixed by #1764.

[2015-05-18 02:24] #2749 closed

[2015-05-18 02:38] tmat commented on #2167
@glennblock If the above options for script variable encapsulation turn out to be insufficient we can add another one (e.g. some modifier). For now we think they are good enough.

[2015-05-18 02:39] akoeplinger commented on #2844
This is a known issue in Mono 4.0 and is fixed in later versions (i.e. you need to build Mono from source right now).

[2015-05-18 03:21] #2786 closed

[2015-05-18 03:21] #2787 closed

[2015-05-18 03:23] tmat opened #2846 "Incorrect imports for constructor initializers"
Currently all constructor initializers share the same import list (namespace scope in native PDB) as the synthesized constructor. However, initializers in different declarations of a partial class might be in different lexical scopes with different imports.

Consider the following code broken at the second field initializer:
[code]

![image](https://cloud.githubusercontent.com/assets/41759/7673989

[2015-05-18 04:18] amcasey commented on #2336
The custom debug info for the local indicates that its scope corresponds to the try-block of the synthesized try-catch in the MoveNext method.  However, the final sequence point (i.e. for the closing brace) is on the first statement after the try-catch.

My intuition is that the scope is correct and the sequence point should be moved.  Thoughts, @tmat?

[2015-05-18 04:21] amcasey commented on #2336
Dev12 has the sequence point in the same place and scopes the local to the entire MoveNext method (rather than the try-block), so I guess my intuition was wrong. :)

[2015-05-18 04:38] ehouarn-perret commented on #2136
Alright then, glad to know that those suggestions are still around and have been considered :-)

I'm already aware of what Jon Skeet has found (a long time ago, about 6-7 years ago).
And fully agreed as it has been already pointed out many times this is already supported by the CLR.
Sadly, C# still lacks language counterpart.

Thanks about the links, that was exactly what I was looking for.

[2015-05-18 04:45] amcasey commented on #2336
The scope and sequence point appear to be the same in VB, but the locals appear when stopped on ```End Function```.  Maybe there's code to compensate for this (apparent) bug?

[2015-05-18 05:35] glennblock commented on #2167
Thanks. The lack of encapsulation may not be an issue as if one needs to
they can have a class.
On Sun, May 17, 2015 at 7:38 PM Tomáš Matoušek <notifications@github.com>
wrote:

[2015-05-18 05:35] glennblock commented on #2167
Class, lambda etc
On Sun, May 17, 2015 at 10:35 PM Glenn Block <glenn.block@gmail.com> wrote:

[2015-05-18 06:49] adamralph commented on #2167
@tmat thanks for the info. I hope you understand why some explanation was/is still required. The comment history shows I'm not the only one who requires it. :wink:

I still don't understand how this is going to work. Although `.` is valid in a member name, the only way to refer to the member in C# is by using a unicode escape:

[code]

[2015-05-18 06:51] tmat commented on #2167
@adamralph The name in source does not necessarily need to be the same as metadata name. In source you'll refer to it as Foo.Bar(); in metadata it will be a method 'Foo.Bar' on type '<Script>'.

[2015-05-18 06:56] adamralph commented on #2167
But I can't write `Foo.Bar();` in C# where `Foo.Bar` is a member name. It won't compile. The best I can do is `Foo\u002EBar()`. Am I missing something?

[2015-05-18 08:21] danieljohnson2 commented on #227
I may be in the minority on this, but I feel this implicit null-elimination syntax is too implicit.

Making variable types change depending on which branch of a seemingly-ordinary 'if' you are in is cute, but it'll have to be full of corner cases to maintain compatibility. We'd be better off with some new syntax that can be used with ordinary reference variables too, which will certainly want it.

[2015-05-18 09:40] CnSimonChan opened #2849 "[Bug] VS may incorrectly determine `using System;` is necessary in some WinRT projects"
**Code example:**

[code]

**Note:**

1. Only happen in WinRT projects.
2. You must call a method returning value (but don't save the returned value into a field) in an async method.

**What happened:**

Visual Studio doesn't determine `using System;` is unnecessary. But the code will be successfully compiled after manually removing it.

**What should happen:**

Visual Studio determines `using Sys

[2015-05-18 11:33] giggio opened #2850 "Implement BatchFixAllProvider.AddProjectFixesAsync"
Currently `BatchFixAllProvider.AddProjectFixesAsync` is not implemented, and is throwing:

https://github.com/dotnet/roslyn/blob/3faf03a3e52c1b46bbc3967060cf6406d4ecc9af/src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchFixAllProvider.cs#L162

It should be implemented.

[2015-05-18 11:35] taotao2014 commented on #968
I have the same problem, how to solve？？？, Thank you very much。

[2015-05-18 11:37] taotao2014 opened #2851 "Help ! ,InvalidProgramException when running in x64"
The following program will throw an AggregateException containing an InvalidProgramException when run in x64. When running the program as x86, everything is fine.

Here is a link to a project demonstrating the error; https://dl.dropboxusercontent.com/u/34113139/InvalidProgramException.zip. Run the x86 configuration and it works, switch to x64 and the error appears.

[code]

[2015-05-18 15:08] jaredpar commented on #1039
Moving to 1.1.  I agree this scenario is important but

- At this time it doesn't silently fail.
- Changing the failure to be more palatable post v1 is a non-back compat breaking change.

[2015-05-18 15:09] jaredpar commented on #912
This work is now completed with all of @tmeschter recent changes.

[2015-05-18 15:09] #912 closed

[2015-05-18 15:16] glennblock commented on #2167
@admaralph they own the compiler, they can make it do whatever they want.
:-)
On Sun, May 17, 2015 at 11:56 PM Adam Ralph <notifications@github.com>
wrote:

[2015-05-18 15:17] jaredpar commented on #2840
Did you run handle and verify that it was VBCSCompiler that is holding this in memory?  Or is this just guessing?

[2015-05-18 15:41] tmat commented on #2840
Yes. Verified. Worked after killing VBCSCompiler process.

[2015-05-18 15:42] jaredpar commented on #2840
So you didn't use handle to verify?

[2015-05-18 15:44] tmat commented on #2840
I did. Then I killed the process.

[2015-05-18 15:54] jaredpar commented on #2838
@mavasani can you point to a PR / Commit so we can close this?

[2015-05-18 16:00] tmeschter commented on #2838
@mavasani @jaredpar The crashing code was removed entirely in b615c03e76b91d523ebb160c69ac6a0eb66f6385.

[2015-05-18 16:01] jaredpar commented on #2838
@tmeschter thanks for getting the info!

[2015-05-18 16:01] #2838 closed

[2015-05-18 16:03] jaredpar commented on #2840
Any other info you could provide here to help track this down?

- What solution were you compiling?
- What options were you passing to MSBuild?
- Was this a command line or IDE build?

[2015-05-18 16:07] VSadov commented on #2788
@mburbea  -    F is a transient type in the verifier type system. It is not a real type in metadata sense, since no variable or location can have such type. Only in-flight results of computation can be of type F, which generally means "double or higher precision".

nint can be supported directly as a language primitive that maps to "native int". I wonder, though, what would be gained compared to a

[2015-05-18 16:16] tmat commented on #2840
src\Roslyn.sln from VS.

[2015-05-18 16:17] tmeschter commented on #1579
@shyamnamboodiripad Dealing with relative paths and checking path equality is quite the pain. There's probably some case I simply didn't handle correctly.

[2015-05-18 16:26] VSadov commented on #2771
I agree with @gafter here. "Bad character" case would be a superset of null bytes, unpaired surrogates and other junk that is very uncommon in actual source.
Both C# and VB lexers already have to deal with bad chars, so it makes sense to consider text a complete garbage if it has too many (1000?) bad characters and make the rest of the text one big error.

[2015-05-18 16:30] Pilchie commented on #2771
Yes, that approach sounds perfectly reasonable too.

[2015-05-18 16:33] paulomorgado commented on #2167
@glennblock, just because they can, doesn't mean they should.

I can understand avoiding the collision of a `#load` with existing classes and thus not generating a wrapper class.

But if the collision would exist, then a name collision will still exist.

Given a s.csx script file with:

    int GetMeAnInt()
    {
        ....
    }

loaded with:

    #load s.csx into X

and a class:

    public st

[2015-05-18 16:48] tmat commented on #2167
@paulomorgado You'll get an error that X has already been declared at the declaration of class X.

[2015-05-18 16:58] agocke opened #2853 "Rename build task from Microsoft.Build.Tasks.Roslyn.dll to Microsoft.Build.Tasks.CodeAnalysis.dll"

[2015-05-18 17:01] agocke opened #2854 "Install build task into Roslyn Setup VSIX and stop GACing on MSBuild install"
GACing the build task has some undesirable properties, including that all of its dependencies (CodeAnalysis.CSharp) are not GAC'd. The reason it's GAC'd now is so the IDE can find the host object. If we install the assembly into the Setup VSIX then the IDE can find the host object without GACing and MSBuild will find the task normally (since the task is colocated with MSBuild.exe).

[2015-05-18 17:01] Pilchie opened #2855 "Generate Type should allow generation in a shared project"

[2015-05-18 17:02] RonPenton opened #2856 "Scripting: TypeInitialization Exception upon any usage of Scripting Objects"
I'm running an ASP.NET 5 application, and I've included the latest nightly build from the MyGet NuGet package:

    "Microsoft.CodeAnalysis.Scripting": "1.0.0-rc3-20150514-02",

The code I am trying to execute:

    ScriptState state = CSharpScript.Run("int c = 1 + 2;");
    var value = state.Variables["c"].Value;

The exception I receive:
    "Could not load type 'Microsoft.CodeAnalysis.MetadataF

[2015-05-18 17:03] agocke opened #2857 "Remove csc2/vbc2 from the NuGet package and update the NuGet package to use the new build task."
The NuGet package currently uses csc2/vbc2 to talk to the compiler server. We should instead use the build task to talk to the compiler server. We also only want to do this if the client has explicitly signed up.

The NuGet authoring and props file for the Microsoft.Net.Compilers package should be updated to do this.

[2015-05-18 17:05] jaredpar commented on #2840
I've spent about 30 minutes trying to repro this and am unable to do so.  I've also sluethed through the code and cannot find anyplace which could potentially cause this.  All of our use the SNK in the compiler is done in one shot operations like `File.ReadAllbytes`.

Closing for now.  Please reopen if you can get a dump of the failure.

[2015-05-18 17:11] Pilchie opened #2858 "PrettyListing should insert parentheses around single argument invocations"
In VS2013 and previous, we would insert parentheses around a single argument method call like:

[code]

We stopped doing that in Roslyn because people found it irritating when they pasted blocks of text that didn't parse quite right and the pretty-lister added a bunch of parentheses everywhere.

We should consider bringing the feature back in a more selective way.  Some ideas we had are:
1. Do it

[2015-05-18 17:15] lgolding commented on #2605
@dpoescl Taking you up on your offer to find someone else to verify this, thanks.

[2015-05-18 17:15] lgolding commented on #2605
@dpoeschl  Taking you up on your offer to find someone else to verify this, thanks.

[2015-05-18 17:20] tmeschter commented on #1579
@shyamnamboodiripad I'm not able to reproduce this on the most recent bits. Could you provide more detailed repro steps? Or come find me in the office and we can go through it together.

[2015-05-18 17:22] Pilchie commented on #2837
This is the same issue as https://connect.microsoft.com/VisualStudio/feedback/details/1244563/connect-roslyn-does-not-keep-property-bodies-on-single-line.

[2015-05-18 17:25] Pilchie commented on #2836
I believe this is a dupe of something @rchande recently fixed.  Can you find the issue and close?

[2015-05-18 17:35] rchande commented on #2836
This was tracked by an internal workitem, but is fixed by this commit: https://github.com/dotnet/roslyn/commit/a97484ae74646712bbc17fc33f06a01fbb9c6d7b.

[2015-05-18 17:37] miloush commented on #2837
Oh yes, I knew I filed it somewhere, but was unable to find it! And given the VS is in RC and I am hitting it every day, I thought it might be worth mentioning it at GitHub.

[2015-05-18 17:38] amcasey commented on #2336
Modifying the scopes in ```ScopeInfo.GetHoistedLocalScopes``` seems impractical since there's no distinction (that I can see) between real try-catches and synthesized ones.  Maybe the locals should be associated with different scopes before we even get there?

[2015-05-18 17:39] #1729 closed

[2015-05-18 17:50] tmat opened #2861 "Revisit line ending checks in MarkupTestFile.Parse"
I have removed the below check since it was causing failures on Mac:

http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_mac_prtest/834/console

The root cause is unknown atm.

[code]

[2015-05-18 17:58] dpoeschl commented on #1729
@amcasey As the filer of one of the dupes of this, can you verify the fix?

[2015-05-18 18:06] Pilchie commented on #2038
Moving to 1.1, based on the fact that code actions are the only place where we have 3rd party extensibility at the moment.

[2015-05-18 18:06] dpoeschl commented on #2605
Simple enough bug, verified myself.

[2015-05-18 18:09] tmeschter commented on #2524
PowerShell projects don't support all parts of the project system that the rule set editor looks at. Specifically, when enumerating the set of `EnvDTE.Configuration` items in `EnvDTE.Project.ConfigurationManager` the `Properties` property is unexpectedly `null`. I'll need to harden the rule set edit against this.

[2015-05-18 18:15] adamralph commented on #2167
Joking aside, I did wonder if a new language feature was being proposed here. I can't imagine that allowing `.` in an identifier would be an easy, if at all possible. let alone desirable, thing to achieve.

Indeed, from the original proposal above:

[code]

Wrapper *identifier*, wrapper *variable* - what is this thing?

Assuming the compiler isn't going to allow `Foo.Bar` any time soon, where `Foo

[2015-05-18 18:28] paulomorgado commented on #2167
@tmat, the class X could have been declare before. But that would only result in a different error.

I'm still missing the point of not having a wrapper class instead.

[2015-05-18 18:28] AlekseyTs opened #2862 "Compound assignment to a field within a VB iterator method causes a compiler crash"
[code]

Exception thrown: 'System.InvalidOperationException' in Microsoft.CodeAnalysis.VisualBasic.dll

[code]

[2015-05-18 18:39] srivatsn commented on #2850
This would be need when we start supporting FixAll from outside the editor (where there's no document available). Today that's not a scenario and so we only go down the path where FixAllContext.Document is not null.

[2015-05-18 18:57] AlekseyTs commented on #2862
No repro with /optimize+.

[2015-05-18 19:25] ljw1004 opened #2863 "Immediate window can't resolve dictionary member in UWP app"
Repro:
(1) File>New>VB>Windows>Blank UWP app
(2) Add a Sub New to MainPage.xaml.vb as follows:
[code]
(3) When execution halts at the "Stop" statement, go to the immediate window and type in "? App.Current.Resources.First.Key"

WHAT I GET:
[code]

WHAT I EXPECT: it should give an exception on "First" because the size of App.Current.Resources.Count is zero.

[2015-05-18 19:34] agocke commented on #584
This was a namespace/type collision. Not a bug. Closing.

[2015-05-18 19:34] #584 closed

[2015-05-18 19:37] mavasani opened #2864 "Write a Microsoft.CodeAnalysis analyzer for fixers for FixAll in presence of multiple registered code actions"
**Symptom:** Fix all not available when providing more than one code fix

**User experience:** Fix All is available if a single code action is registered, but disappears as soon as fixer registers multiple code actions.

**Reason:** This is by design if your code fixer is registering more than one fix and you are using the WellKnown BatchFixer.
If the batch fixer is asked to apply a fix all for a

[2015-05-18 19:46] jaredpar opened #2866 "Fix the issue in CheckConnectionTask"
The `CheckConnectionTask` method in the compiler server [is asserting](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/VBCSCompiler/ServerDispatcher.cs#L287) in Debug builds of the compiler.  This assertion is not definitive but happening with decent regularity during both builds and running of the unit tests.

[code]

This code is being disabled for the moment to get Jenkins unstu

[2015-05-18 19:53] #1195 closed

[2015-05-18 19:54] dpoeschl commented on #1195
@rchande Please verify.

[2015-05-18 19:57] Pilchie commented on #2487
Moving out to 1.1 based on Matt's assesement.  Note  that this only an issue around comments - if there are real tokens inside the preprocessor directives, this isn't as bad.

[2015-05-18 20:07] gafter opened #2867 "VB parser runs out of memory when given a VSIX file as text"
It was reported at https://github.com/dotnet/roslyn/issues/2771#issuecomment-102195182 that the VB parser exhausts memory when passed a VSIX file as input. We should consider the same fix for VB as any fix that we apply for C#.

[2015-05-18 20:08] gafter commented on #2771
I filed #2867 for a possible corresponding issue for VB.

[2015-05-18 20:09] VSadov commented on #2851
I have tried the repro sample with latest preview version of Microsoft.CodeAnalysis (which is 1.0.0-rc2), and both 32bit and 64bit configurations ran with not problems. In either Debug or Release.
It is possible that the issue was caused by some bug that has been fixed.

[2015-05-18 20:17] #2684 closed

[2015-05-18 20:17] #2728 closed

[2015-05-18 20:17] #2738 closed

[2015-05-18 20:21] dpoeschl commented on #1750
Verified resolved.

[2015-05-18 20:21] #1750 closed

[2015-05-18 20:25] tmeschter commented on #2738
@mavasani Assigning back to you for verification.

[2015-05-18 20:26] tmeschter commented on #2728
@mavasani Assigning back to you for verification.

[2015-05-18 20:27] tmeschter commented on #2684
@mavasani Assigning back to you for verification.

[2015-05-18 20:28] tmeschter commented on #1710
@mavasani Assigning back to you for verification.

[2015-05-18 20:43] KakCAT commented on #2487
Hi,

shouldn't there be a switch where all autoformatting is disabled?

I mean, this may or not may be important, but I'd really prefer to completely disable autoformatting if typing a '#' in my code is going to mess all my format. Right now my only option is keep using VS2013 and switch to VS2015 to compile when required.

[2015-05-18 20:44] rchande opened #2869 "GFU lightbulb items truncated, can't tell what they do"
With sufficiently long type names, the description of light bulb items is truncated. If you look carefully at the preview, you can see that one item includes the text "Adding 'PackageIdentity'...", but the individual menu items are indistinguishable.

![ligthbulb](https://cloud.githubusercontent.com/assets/3751401/7689803/f1421556-fd63-11e4-8026-12e0c3c2a7fd.png)

[2015-05-18 20:48] mavasani commented on #1759
@shyamnamboodiripad I am able to reproduce this now, but weird that I did see the exception diagnostic in output window earlier.
The issue seems to be that we report analyzer + analyzer exception diagnostics to together. However, computing the message for analyzer diagnostic might throw during reporting these errors, but we don't take a look again at the original diagnostic bag for exception diagn

[2015-05-18 20:51] sharwell commented on #1750
@balajikris @dpoeschl Can you check that this is resolved in the XAML text editor as well (which added CodeLens as a margin)? I recently noticed this bug affecting those files.

[2015-05-18 20:56] Pilchie commented on #2173
Moving to 1.1 at this point.

[2015-05-18 21:06] vbspoony opened #2872 "CodeFix does not fix all occurrences"
A VB CodeFix I wrote works OK, when its suppose to fix only one occurrence. However, it gives the option to fix all occurences, and that does not work. Instead, when you have several classes when a potential fix can be applied, it fixes only one occurrence per class.

A repro can be found here:

http://1drv.ms/1GjUH50

[2015-05-18 21:16] mavasani commented on #2643
@sharwell @shyamnamboodiripad @Srivatsn @heejaechang I think this one seems to be by design, unless we decide to change `CodeFixContext` constructor API parameters.

`CodeFixProvider.RegisterCodeFixesAsync` method invocation from the IDE code fixer service guarantees that none of the diagnostics in the `CodeFixContext` are outside the fixer's `FixableDiagnosticIds`. However, given that the constru

[2015-05-18 21:22] dpoeschl commented on #1750
Removing Verified label until this can be confirmed in xaml.

[2015-05-18 21:31] #1146 closed

[2015-05-18 21:33] AdamsLair commented on #120
I'm [from this CoreCLR issue](https://github.com/dotnet/coreclr/issues/1015) and as @jkotas noted, the issue seems to be related to this one and could be implemented as an addition to the proposed slices.

In short: It's about creating a "view" of an array in order to wrap the same block of data in different element types in order to satisfy the needs of different APIs or libraries. Feel free to j

[2015-05-18 21:41] gafter commented on #2770
I cannot verify that this is resolved. The issue remains in the product and there is no work item elsewhere to address it.

[2015-05-18 21:48] amcasey commented on #2336
I made a quick and dirty change that promotes the outermost ```BoundStateMachineScope``` to the method level and confirmed that it resolves the problem in the EE.  Now I need to find a clean way to make that happen without rewriting a just-constructed tree (or depending on its exact shape).

[2015-05-18 22:16] sharwell commented on #2643
Not worth the breaking change at this point. Besides, you could just as easily make the mistake of using one `CodeFixProvider` in the constructor of `CodeFixContext`, and then passing the constructed instance to a different `CodeFixProvider`. As long as the requirement that a `CodeFixContext` not contain any diagnostics that aren't declared to be supported by a `CodeFixProvider` is documented for

[2015-05-18 22:26] mavasani commented on #2643
@sharwell The documentation would just a guideline rather then an enforcement on API consumers. @srivatsn Does that seem reasonable?

[2015-05-18 22:27] #2862 closed

[2015-05-18 22:27] AlekseyTs commented on #2862
@VSadov Please verify

[2015-05-18 22:34] tmat opened #2876 "VS unresponsive during FAR"

[2015-05-18 22:35] tmat commented on #2876
ETL trace and memory dump: %internal_share%\public\tomat\Bugs\2876

[2015-05-18 22:39] sharwell commented on #2643
@mavasani The "guideline" can be strong though:

[2015-05-18 22:42] sharwell commented on #2643
@mavasani Thinking about it some more, even if this is in place it probably wouldn't eliminate the check from our code. We'd probably just replace the filtering with throwing an `ArgumentException` if an unsupported diagnostic was included in the request.

[2015-05-18 22:46] srivatsn commented on #2643
Agreed. Documentation sounds sufficient.

[2015-05-18 22:59] AlekseyTs opened #2878 "ExceptionUtilities.UnexpectedValue is thrown in Microsoft.CodeAnalysis.VisualBasic.CodeGen.CodeGenerator.EmitStore"
[code]

Exception thrown: 'System.InvalidOperationException' in Microsoft.CodeAnalysis.VisualBasic.dll
[code]

Doesn't repro with /optimize+.

[2015-05-18 23:14] tmat commented on #2876
@pharring FYI

[2015-05-18 23:21] tmat opened #2880 "System.InvalidOperationException in Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.EventHookup.EventHookupCommandHandlerTests.EventHookupInUnformattedPosition1"
While running tests on CI server:
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_windows_prtest/2766/console

[code]

[2015-05-18 23:44] heejaechang commented on #2802
fixed #2820

[2015-05-18 23:44] #2802 closed

[2015-05-19 00:03] tmat opened #2884 "EnC: Fix function remapping while in an exception filter"
Exception filter is effectively a conditional branch. We should emit dead store of the filter return value to a temp to enable proper function remapping.

[2015-05-19 00:14] balajikris commented on #1796
Hi @sharwell , I attempted numerous times to reproduce this issue but couldn't hit it in our latest drops. I also don't find anything suspicious when I inspected this with a debugger attached. Before I close out this issue as Not-Reproducible, I wanted to get confirmation from you if everything works good for you in the recent RC build? when you get a chance, please let me know.

[2015-05-19 00:24] #2441 closed

[2015-05-19 00:39] taotao2014 commented on #2851
hello VSadov,Do not use vs tool to run, run the exe file bin directory。

[2015-05-19 00:49] KKhurin opened #2887 "System.Runtime.CompilerServices leaks memory (in coreclr helloMVC scenario)"
To repro run requests against coreclr hosted helloMVC:
https://github.com/aspnet/Home/tree/dev/samples/latest/HelloMvc

Here are the leaked objects:

[code]

And here is the typical root:

[code]

[2015-05-19 00:50] tmat opened #2888 "Reenable interactive tests after RTM snaps"
Some tests had to be disabled due to removal of public API.

[2015-05-19 00:53] VSadov opened #2889 "Investigate whether we are not releasing temps too early when emitting assignment to a sequence."
Related to https://github.com/dotnet/roslyn/pull/2883

 If sequence returns a field of a struct temp declared on the sequence, we may reuse the temp by the time we do the actual store.

The situation might never arise (and can be proven not to), but it is an assumption that needs at least a comment or better an Assert. Is it is right now it looks suspicious.

[2015-05-19 01:08] #2672 closed

[2015-05-19 01:15] sharwell commented on #1796
It's working for me in the RC build. :+1:

[2015-05-19 01:17] balajikris commented on #1796
Great, thanks for confirming. Closing as Not-Reproducible.

[2015-05-19 01:17] #1796 closed

[2015-05-19 01:19] tmat opened #2891 "improve stepping over exception filters"
Consider the following code:

[code]

The debugger first stops at filter [1] but it doesn't step into the filter function, instead it steps over to [2].

This is the IL:
[code]

We need to place a hidden sequence point on IL_0055.  But it's currently unclear how does the debugger determine that offset in case the filter is more complex expression.

[2015-05-19 01:20] tmat commented on #2891
Note that this is related to #2884.

[2015-05-19 01:48] tmat commented on #2840
Now I see
[code]
while building from VS.
![image](https://cloud.githubusercontent.com/assets/41759/7693961/74f63b28-fd8e-11e4-830f-e0b810ae7866.png)

Memory dump of VBCSCompiler.exe:

[2015-05-19 01:55] tmat commented on #2840
@agocke FYI

[2015-05-19 02:08] amcasey commented on #964
We're actually finding the right type and rejecting it because it's inaccessible.  Presumably, we've failed to plumb the appropriate binder flags through this particular call.

[2015-05-19 02:16] tmat commented on #2421
Moving to post-RTM.

[2015-05-19 02:17] amcasey commented on #964
It couldn't be that simple so we're also getting true from ```SymbolExtensions.IsHiddenByEmbeddedAttribute```.

[2015-05-19 02:43] amcasey commented on #964
```Binder.CheckViability``` also calls ```SymbolExtensions.IsHiddenByEmbeddedAttribute```.

[2015-05-19 02:53] jaredpar commented on #2840
@tmat this report differs significantly from the bug title.  In this case the item being held in memory is the DLL which is loaded by the compiler for processing vs. an external file.  I would expect this behavior to by By Design.  The server is running and it's holding one of its dependent DLLs in memory.

Yes it's a bit odd to be loading from there but that can happen given the proper environmen

[2015-05-19 03:02] #2643 closed

[2015-05-19 03:04] #2761 closed

[2015-05-19 03:17] v-yadli opened #2893 "Calls to Project.CodeModel.AddNamespace crashes VS2015"
How to reproduce:

[code]

Exception thrown:

[code]

The stack trace indicates that the problem is related to the second parameter Location, which is the file path. I also tried to extract relative path from the item I just created through AddFromFile but it produces the same exception.

[2015-05-19 03:18] #2878 closed

[2015-05-19 03:19] AlekseyTs commented on #2878
@VSadov Please verify.

[2015-05-19 03:28] AArnott opened #2894 "AnalysisContext.RegisterCodeBlockStartAction regressed: called twice in the middle of method"
The `RegisterCodeBlockStartAction` method used to be called at the start of each method, and is documented to do so. But after Dev14 RC, Roslyn regressed this and now the method is called twice in a single method, both *after* the method has begun being processed.

This caused a regression to be picked up by one of the unit tests for our own analyzer.

Repro steps:

1. Clone the [Repro project](ht

[2015-05-19 03:33] AArnott commented on #2894
@mavasani volunteered to take this one.

[2015-05-19 03:51] AlekseyTs opened #2896 "System.NullReferenceException in Microsoft.CodeAnalysis.BitVector.EnsureCapacity"
Compile:
[code]

Exception thrown: 'System.NullReferenceException' in Microsoft.CodeAnalysis.dll
[code]

[2015-05-19 04:44] #976 closed

[2015-05-19 05:52] JeffreySax commented on #120
There are really two separate issues here:
1. Adding slicing syntax to the language.
2. Implementing slices for strings, arrays, and other objects.

For many scenarios, especially in technical computing, just allowing the syntax solves the most painful issue of readability. Libraries can take care of the implementation for specific types. This way, the language side of the feature can be fully des

[2015-05-19 06:04] tmat opened #2898 "Compiler is loading native dependency from random directory, not the directory it is running from"
[code]
while building from VS.
![image](https://cloud.githubusercontent.com/assets/41759/7693961/74f63b28-fd8e-11e4-830f-e0b810ae7866.png)

Memory dump of VBCSCompiler.exe:
%internal_share%\public\tomat\Bugs\2840

The compiler is running from the toolset:
[code]

The current directory of the process is
[code]

So it should not be loading binaries from  C:\R5\Binaries\Debug

[2015-05-19 06:05] prasannavl commented on #120
@JeffreySax, I'm guessing you completely misunderstood what slicing really means here. Please read the last few comments, and https://github.com/dotnet/coreclr/issues/1015.

PS: It does require language support. Everything you have mentioned seems to be just an API, which is completely useless without a way to get a consistent `view` of a certain memory area from CLR.

[2015-05-19 06:06] tmat commented on #2840
@jaredpar Fair enough. Just another locking problem. I have opened a new issue: #2898. I don't think the compiler should be loading DLLs from random places. That seems like a security concern. In any case, it's moot now sine we are not gonna ship Diasymreader with RTM. But if we do in future it should always be loaded from next to the compiler (if present). This can't be by design, it actually bre

[2015-05-19 06:06] #2840 closed

[2015-05-19 06:14] jaredpar commented on #2840
The compiler uses DllImport to load this DLL so it's not random. As stated earlier the design of DllImport allows for it to pick DLLs not located next to the compiler.

[2015-05-19 06:15] jaredpar commented on #2898
This is not random. The compiler uses DllImport to load this DLL. The rules of DLlImport allow for this case and isn't something we attempt to override.

[2015-05-19 06:17] tmat commented on #2840
Then perhaps we shouldn't use DllImport.

[2015-05-19 06:18] tmat commented on #2898
Let's keep this open. This is really breaking builds when dogfooding.

[2015-05-19 06:24] jaredpar commented on #2898
Re-closing.  I don't see why this DLL should be special cased over the other items we currently load via `DllImport` (of which there are several).

To my knowledge the `DllImport` code uses the same probing logic of other DLL loads in a process.  If the user environment chooses to override this load order to pick a new DLL then we should be respecting that, not disrupting it.

Note: if the compile

[2015-05-19 06:24] #2898 closed

[2015-05-19 06:29] tmat commented on #2898
Yes, it's picking it up from ```%PATH%```. We could use LoadLibrary from a specific and GetProcAddress. It seems safer and enable app local deployment. I guess if we version the COM interfaces we use globally we are ok. It's just weird to be loading stuff from some other place.

[2015-05-19 06:34] jaredpar commented on #2898
@tmat yes we could use a combo of `LoadLibrary` + `GetProcAddress` but at that point we are basically re-implementing `DllImport` to work around it's defined, and expected, behavior.  Such a change shouldn't be for a specific DLL here but instead should be a code base wide decision.  I don't see us making that type of change.

[2015-05-19 06:45] tmat commented on #2898
@jaredpar http://source.roslyn.io/#Microsoft.CodeAnalysis/SqmServiceProvider.cs,e8c8e2780a8ca4bd

[2015-05-19 07:20] gafter commented on #926
The change was fixed and verified. If there is a previously unidentified problem with it please create a new issue.

[2015-05-19 07:44] h82258652 opened #2900 "C# Ignore checked return"
Take an example:

[code]

The keyword "checked" use like this must use a variable to point to the result.
Why can we remove the variable? We don't need the variable.

[code]

[2015-05-19 07:45] #2777 closed

[2015-05-19 08:08] axel-habermaier opened #2901 "SemanticModel does not return symbol for built-in operator && and ||"
I originally reported this issue on [CodePlex](https://roslyn.codeplex.com/workitem/327), where @gafter confirmed that it is a bug.

I'm reopening this issue here on GitHub so that I can track its progress - in the current VS2015 RC, the bug still has not been fixed and as far as I can tell, no progress has been made to resolve it. Maybe you lost track of the bug when you made the switch to GitHub

[2015-05-19 08:13] mavasani commented on #2894
/cc @JohnHamby @srivatsn @ManishJayaswal @tmeschter

I investigated the repro project and the issue seems that the analyzer that regressed (https://github.com/AArnott/roslynbug2894/blob/master/Microsoft.VisualStudio.Threading.Analyzers/VsServiceUsageAnalyzer.cs) is not correctly implemented, but worked up until rc2 because the analyzer driver wasn't fully utilizing parallelism in analyzer executio

[2015-05-19 08:13] #2894 closed

[2015-05-19 09:00] mavasani opened #2902 "Add documentation/samples to guide the fix authors on correct way to implement a FixAllProvider"
`FixAllProvider` seems to be a very common scenario where the expectations from the code fix author are not very clear and they end up getting confused/making mistakes on the following:

1. When should I use the `BatchFixer` vs write a custom `FixAllProvider`?
2. When should I provide an `EquivalenceKey` for code actions, and what value should it be? How does it affect the fix all application, sco

[2015-05-19 09:02] mavasani commented on #2872
@vbspoony The behavior you described is by design. The well known BatchFixer is designed to work for simple fixers where individual code fixes coming from different diagnostics don't overlap in eventual text spans. It basically invokes your code fixer for each diagnostic of the same kind as the original trigger diagnostic, then tries to merge all the fixed documents. If conflicts are detected betw

[2015-05-19 09:03] #2872 closed

[2015-05-19 10:02] pietervp opened #2903 "Compiler errors when calling a delegate with ParamArrayAttribute parameter"
Following snippet produces a BC30311 and a BC30455 error, which should not be there? I want to copy the paramArray functionality using a delegate.

[code]
[code]

[2015-05-19 10:26] taotao2014 commented on #2851
VSadov，resolved, thank you 。

[2015-05-19 11:30] Belorus opened #2904 "Opening Solution with empty Xamarin.IOS Unified project fails"
await workspace.OpenProjectAsync(ProjPath)

error CS1703: Multiple assemblies with equivalent identity have been imported: 'Microsoft.Build.Framework.dll' and 'Microsoft.Build.Framework.dll'. Remove one of the duplicate references.

At the same time project can be compiled without any issues

[2015-05-19 12:01] Belorus commented on #2904
I'm pretty sure this issue should be fixed on Xamarin side, the only reason why i created ticket here is that everything builds perfectly.

[2015-05-19 13:33] AArnott commented on #2894
Thanks, @mavasani both for your analysis and proposed fixes. I wondered what the thread safety obligations were for an analyzer. Another approach Roslyn might have taken was to instantiate the analyzer multiple times for each parallel track so that no instance had to be thread-safe itself. Did you consider that?

Also: when debugging the problem myself I noticed that 1 or 2 statements were process

[2015-05-19 13:43] davidroth opened #2905 "ENC: Create a list of supported / unsupported / future features in the wiki"
The upcoming ENC feature in Roslyn/VS2015 is really awesome. This is a real productivity boost for every developer - so great work and a big compliment to everybody involved in the team!

Unfortunately some features are still not supported.
I often find myself asking why a certain ENC operation is not supported and if it is possible to support it in the future. Currently there is no public documen

[2015-05-19 14:12] bkoelman commented on #2577
Can I test this fix using VS2015 RC? I would like to verify that my Analyzer+CodeFixProvider now applies correct formatting.

I've built my analyzer in Debug mode. Then opened RoslynLight.sln, set OpenSourceDebug as startup project, F5 (described at [Building, Testing, and Debugging](https://github.com/dotnet/roslyn/wiki/Building%20Testing%20and%20Debugging)).

Upon F5, VS warned me about a releas

[2015-05-19 14:18] redknightlois commented on #120
@JeffreySax Take a look at the link I posted on my comment at the start of the thread. The implementation using common constructs. No CLR support for views of memory, as @prasannavl  explains it, defeat the purpose of Slices by themselves.

The difference in performance is embarrasing, to give a hint with a microbenchmark (which can be totally flawed but its the best we have) we have something lik

[2015-05-19 14:40] Pilchie commented on #2577
@jaredpar said he's going to try to take a look at OpenSourceDebug today and see what's up.

[2015-05-19 14:42] benaadams commented on #120
As an aside its a bit like [TypedArrays](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArray#Syntax) in js?

Specifically the ```new TypedArray(buffer [, byteOffset [, length]]);``` constructor.

[2015-05-19 14:44] mirhagk commented on #2177
`stackalloc` itself should remain as is, because I don't think developers should ever have to worry about it. But `localloc` or something similar should be made safe so that the compiler can optimize it. `localloc` also needs to be made MUCH faster (last I looked into it it did some weird things for allocating and ended up nearly always being slower, even in the simple case of allocate then go awa

[2015-05-19 14:44] jaredpar commented on #2577
The issue #1781 is tracking this problem.

[2015-05-19 14:54] jaredpar commented on #2898
@tmat I don't see how `LoadLibrary` and `DllImport` differ any in behavior here.  They both follow the standard DLL search order as far as I can tell:

The reason we have the behavior you are seeing is DiasymReader is not present next to VBCSCompiler because it's not included in Microsoft.Net.ToolsetCompilers.  Hence the remainder of the DLL search algorithm kicks in.  Eventually it discovers it i

[2015-05-19 14:54] Pilchie commented on #2861
The problem here is when input comes from xml literals, it only has `\n` for line endings, and (at least in the past), various features didn't work the same with differing line endings.

[2015-05-19 14:55] Pilchie commented on #2856
I suspect that this is because the ASP.NET 5 runtime already has it's on version of Microsoft.CodeAnalysis.dll loaded before scripting starts up.

[2015-05-19 14:58] Pilchie commented on #2904
Can you take a look and see if this is something we're doing wrong?

[2015-05-19 14:59] GSPP commented on #2177
@mirhagk the JIT cannot trust the compiler to allocate ref types on the stack. If the compiler is malicious it could subvert the type system. We simply need a flag to tell the JIT to spend more time. For many web apps startup time is irrelevant because deployments are done by switching endpoints. No interruption.

[2015-05-19 14:59] Pilchie commented on #2876
Can you take a look at the ETL and see what's up here?  We should have a cancellable ThreadedWaitDialog up.

[2015-05-19 15:03] Pilchie commented on #2880
@mattwar can you take a look?  @tmat do you know if we have a crash dump?

[2015-05-19 15:06] Pilchie commented on #2691
Clearing milestone and moving to analyzers for triage

[2015-05-19 15:11] mirhagk commented on #2177
Well any work that the compiler does can be verified by the JIT compiler if the JIT compiler does not trust the code. Since these would be "tips" the JIT does not need to actually perform it if it doesn't trust the code and can't easily verify that it's okay.

I'm also thinking in the .NET native case. There are some things that are probably not possible to determine from CIL alone, and when you h

[2015-05-19 15:32] Pilchie opened #2907 "'#' and 'n' should not trigger re-indenting if the indent style is not set to "Smart""
Related to #2487.  Typing "#" or "n", normally cause the formatter to run to re-indent the current line.  That behavior should be predicated on the indent style being "Smart".

[2015-05-19 15:33] Pilchie commented on #2487
@KakCAT You are right - this behavior should NOT occur when the Indent Style option is set to none or block.

[2015-05-19 15:35] VSadov commented on #2851
@taotao2014 - if you think the bug is fixed, could you close the issue? Thanks!

[2015-05-19 15:36] tmeschter commented on #2894
@AArnott This isn't a thread-safety issue per se, as we guarantee we don't call multiple actions on a given analyzer concurrently. Rather, your analyzer actions are not being called in the order that makes intuitive sense.

The ordering rules can be summarized as follows (@JohnHamby, please correct me if I'm wrong; I lifted these from an email you wrote up a while back):

1. For a given compilatio

[2015-05-19 15:43] tmat commented on #2898
@jarepar The search doesn't kick in if a full path is used in LoadLibrary.

Correct, the %PATH% is only relevant if the native library is not present next to the managed one. However, both scenarios (SQM and custom Diasymreader) are light-ups so that will be the case.

The plan was to package the library with compiler server, but don't include it in VSIX when installed with VS, since 1) only EnC u

[2015-05-19 15:43] AArnott commented on #2894
If I register syntax actions in the code block start action, do I need to unregister them to avoid a memory leak or anything? How do I need to be aware of to avoid leaks in my analyzer?

[2015-05-19 15:46] jaredpar commented on #2898
@tmat

Correct.  Haven't seen that proposed as a solution yet though.

If someone is running VS with a `%PATH%` value that contains `DllImport` values then bad things are going to happen.  That is simply the nature of DLL loading.

[2015-05-19 15:46] tmat commented on #2880
@Pilchie I don't think Jenkins saves crash dumps for test crashes, but I'm not positive. @jaredpar?

[2015-05-19 15:49] jaredpar commented on #2880
@tmat it does not. Even if it did though I don't see how it would have helped here because this didn't result in a cash dump, it's just a failed unit test.

[2015-05-19 15:50] tmat commented on #2898
@jaredpar Yeah, that's why DllImport is broken for light-up native dependencies, which is why I filed this bug. How do they know to not include such %PATH%? Does a common developer inspect all VS binaries to see what dependencies they might have and validate their %PATH% doesn't accidentally contain them?

[2015-05-19 15:53] jaredpar commented on #2898
@tmat

I simply disagree with this statement.  There is nothing broken about `DllImport`.  It uses the defined behavior of DLL loading on Windows which has been in place for decades.  It has behaviors that may not be ideal for our situation but they are well understood and tolerated by loads of other applications.

Messing around with `%PATH%` has an impact on every platform out there (Windows, Li

[2015-05-19 15:54] bkoelman commented on #2577
Thanks for the update, I'll track #1781 then.

[2015-05-19 16:06] tmat commented on #2898
@jaredpar  There are (at least) two well-understood and standard ways to load native dependencies. Load by relative path (DllImport) and load by absolute path. One is more suitable for what we want to do. So we don't use it.

[2015-05-19 16:09] Belorus commented on #2904
Same for WP8 and Xamarin.Android.

Only windows forms works ok for me

[2015-05-19 16:20] codespare opened #2908 "Microsoft.Net.ToolsetCompilers package 1.0.0-rc3-20150510-01 triggers phantom code contracts assert"
In the following method, the second contract requires asserts while the debugger shows the 'key' parameter is not null.
That behavior appeared after updating the toolset compiler package from rc2 to rc3. It is distinct from issue #21 that involved yield statements which are absent in this case.
[code]
(and yes, that select/concat horror is in need of refactoring :)

[2015-05-19 16:25] #1743 closed

[2015-05-19 16:26] tmat commented on #926
To fix this issue revert commit:
https://github.com/dotnet/roslyn/commit/c4c6acb1036c53b4ad91e2f92609914a29e602cf

[2015-05-19 16:30] jaredpar commented on #2898
@tmat

I don't understand the inclusion of `DllImport` here.  `DllImport` and `LoadLibrary` have **identical** load semantics: both support absolute or relative paths and both follow the same search sequence.  The choice is simply between absolute and relative paths.

True it's easier to support `LoadLibrary` with absolute paths given they can be calculated dynamically.  But there is no fundamenta

[2015-05-19 16:33] tmeschter commented on #2894
No, you don't need to unregister them.

To avoid memory leaks, try to avoid saving any state in your analyzer (that is, don't store information in fields in the analyzer class). In particular, do not store Roslyn types in your analyzer (e.g. `Compilation`, `ISymbol`, etc.).

Also note that you cannot depend on all of your actions being called. For example, even though we call a code block start ac

[2015-05-19 16:35] srivatsn commented on #2894
[This document](https://github.com/dotnet/roslyn/blob/master/docs/analyzers/Analyzer%20Actions%20Semantics.md) has some more information about the semantics of analyzer actions.

[2015-05-19 16:40] Pilchie commented on #1220
Can you verify?

[2015-05-19 16:41] Pilchie commented on #778
Can you verify for me?

[2015-05-19 16:41] Pilchie commented on #55
Can you verify for me?

[2015-05-19 16:42] Pilchie commented on #1766
@mavasani You've looked at the `SyntaxGenerator` a bunch lately, can you verify this?

[2015-05-19 16:57] gafter opened #2909 "VB Casing behavior difference between VS 2013 and Roslyn"
[A customer reports in DevDiv 1172900]

I have a solution that I can build in VS 2013 without any problem. However, when I try and build the same solution in VS 2015 it will not compile.
I'm not 100% sure if this is a bug with the compiler or not. The project that is having trouble building in VS 2015 is a VB project. The code that is having an error is:
[code]
The compile error is BC31429. The pr

[2015-05-19 16:57] mirhagk commented on #1537
In #595 it was suggested by @paulomorgado to have this same syntax but instead refer to namespaces. So

[code]

would be

[code]

Rather than

[code]

In the context of that proposal I much prefer using this syntax to remove the namespace nesting from every single file, but that would make this proposal not work. Perhaps this is a way to make them work together? But it'd be very confusing whether

[2015-05-19 17:04] tmat commented on #2900
You can achieve the above in more efficient and succinct way:

[code]

[2015-05-19 17:08] amcasey commented on #964
C#'s ```AssemblySymbol.IsValidWellKnownType``` also checks accessibility.

[2015-05-19 17:18] kuhlenh commented on #2905
@davidroth I am working on making a wiki page for this (unfortunately, some edits aren't that cut-and-dried...).

For now, you can see supported edits [here](http://blogs.msdn.com/b/csharpfaq/archive/2015/02/23/edit-and-continue-and-make-object-id-improvements-in-ctp-6.aspx) and [here](http://blogs.msdn.com/b/dotnet/archive/2015/04/29/net-announcements-at-build-2015.aspx). Hope that helps temporar

[2015-05-19 17:22] ManishJayaswal opened #2911 "Move MetadataReference.CreateFromAssembly API to scripting layer"
This API throws on CoreCLR so it is best to move this into the scripting layer for now ( that's where we have a dependency on it)  while we decide what to do with it.

[2015-05-19 17:24] h82258652 commented on #2900
@tmat
But if the parameter are both Int64, we still need checked.

[2015-05-19 17:28] #2896 closed

[2015-05-19 17:28] AlekseyTs commented on #2896
@gafter Please verify.

[2015-05-19 17:38] JeffreySax commented on #120
@redknightlois I strongly disagree that "it is performance what makes Slices attractive and useful as a feature." The principal motivation for adding slicing syntax is code clarity. Yes, it would be nice to have CLR-backed slices of strings and arrays, but it is not necessary to derive lots of benefit from the feature. It is common for numerical code to have 3-4 slicing operations in a single expr

[2015-05-19 17:50] prasannavl commented on #120
@JeffreySax,

In a hypothetical case, where I agree with you - C# already has slices. `x.Skip(2).Take(10);` If you want a refined syntax. Create a small wrapper class. Still not enough? Then, what you're looking for is sugar for the iterator syntax. Now, I don't think this is the best thread to ask for that.

Why, you ask?

* - Here's the problem statement as in the first post:

[2015-05-19 17:54] tmeschter commented on #2707
The problem is that an `AnalyzerFileReference` caches the list of `DiagnosticAnalyzers` it retrieves from the underlying analyzer assembly. If a dependency is missing, it won't be able to retrieve anything. Even if the dependency is later satisfied, we still return the cached results.

I see three possibilities

* Update `AnalyzerFileReference` to only cache the results when there are no errors.
*

[2015-05-19 17:54] redknightlois commented on #120
@JeffreySax Not even an average F# developer here, so I could be completely wrong.

AFAIK on F# after slicing they become sort of sequences which for all intended purposes they are "custom lists" or "views". In essense that is only syntactic sugar (which is better than the current state of affairs) but quoting from the problem statement by @stephentoub

[2015-05-19 17:55] RonPenton commented on #2856
That appears to be it. The MVC Beta 4 package eventually references CodeAnalysis RC2, which doesn't have the file I need.

Since the DLL's all have the same version, 1.0.0.0, is there anything I can do to reference both DLL's at the same time? Or are we back to DLL Hell with ASP.NET 5?

[2015-05-19 17:57] Pilchie commented on #2856
Tag @davidfowl.

[2015-05-19 18:09] #2781 closed

[2015-05-19 18:14] #273 closed

[2015-05-19 18:35] mavasani commented on #2894
@AArnott @tmeschter Andrew has raised couple of distinct issues here, and I feel we should given more detailed documentation and/or samples around these. I also think Andrew's last comment is something that our defined semantics guarantee, but the implementation doesn't and that is a bug (I'll open a separate issue). All the comments made by Tom are perfectly right.

1. State management: How do I

[2015-05-19 18:44] mavasani opened #2914 "Add documentation/samples to guide correct implementation of stateful analyzers"
Analyzers that store mutable state, which is initialized, manipulated and consumed across actions need guidelines around:

1. State management: How do I define/manipulate state in my stateful analyzers? What should be the lifetime/cleanup strategy for resources allocated during my analysis? Does the read/write to my resources need to be thread-safe?
2. Ordering guarantees on analyzer actions: [Thi

[2015-05-19 18:46] #2336 closed

[2015-05-19 18:50] mavasani opened #2915 "Non-nested Syntax node actions for executable code nodes are executed before code block start actions"
Our analyzer semantics document guarantees that syntax node actions for execute code nodes are executed after code block start actions, regardless of where the node action was registered.

Our current implementation in the compiler analyzer driver, guarantees this ordering for nested syntax node actions registered within code block start action, but not for non-nested actions. We should fix this.

[2015-05-19 19:06] KevinH-MS opened #2916 "DataTips don't work in MVC5 Web App (Razor cshtml)"
1.  Create a new C# ASP.NET Web Application (MVC)
2.  Set a breakpoint in ViewStart.cshtml
3.  F5
4.  Hover mouse over a variable or property

**RESULTS:**
![after](https://cloud.githubusercontent.com/assets/6464209/7711434/6840adc8-fe1f-11e4-9f48-8e35ec55c8a1.png)

**EXPECTED RESULTS:**
![before](https://cloud.githubusercontent.com/assets/6464209/7711443/70156912-fe1f-11e4-8c5a-94092a9cfb47.png)

[2015-05-19 19:31] amcasey commented on #2336
@KevinH-MS Can you please verify?

[2015-05-19 19:49] gafter commented on #2909
@AnthonyDGreen @ljw1004 @AlekseyTs Do you have any comment on the behavior change? What should the compiler do in this case?

[2015-05-19 19:51] tmeschter commented on #2782
Fixed by 36a01428629df9b63379e69518bbdb8c06727a10.

[2015-05-19 19:51] #2782 closed

[2015-05-19 19:52] tmeschter commented on #2782
@jinujoseph Assigning back to you for verification. When you've verified this is fixed, please mark the issue with the "Verified" tag. If you run into issues, re-open and re-assign it to me.

[2015-05-19 19:54] tmeschter commented on #2524
The underlying issue has been fixed in Roslyn and in the rule set editor.

[2015-05-19 19:54] #2524 closed

[2015-05-19 19:59] srivatsn commented on #2869
The limit is 80 characters and that is imposed by the editor. Please open an internal bug against the editor.

[2015-05-19 19:59] #2869 closed

[2015-05-19 20:02] mavasani commented on #2915
@srivatsn Is this something to move to 1.1? There is a workaround for this issue, and the fix is likely going to have the risk of regressing missing/duplicate syntax node action execution. I am not sure this one can make it through our new higher bar for 1.0.

[2015-05-19 20:06] sharwell commented on #2902
Also:

:question: What strategies can be used to test a custom `FixAllProvider`?

[2015-05-19 20:07] sharwell commented on #2902
Addressing #201 could make this *much* easier.

[2015-05-19 20:09] #2310 closed

[2015-05-19 20:09] srivatsn commented on #2310
Fixed by #2879

[2015-05-19 20:22] mavasani commented on #201
@sharwell I think the best approach would be to expose APIs/components for different pieces of FixAll and allow the custom implemented FixAllProvider to either derive from some abstract type with overridable plugin points OR invoke helper APIs for default implementation of pieces that it doesn't want to customize.

FixAll has at least 3 distinct computation parts:

1. Compute applicable diagnostic

[2015-05-19 20:27] tmat commented on #2582
@wschae I can't repro with WPF app on the latest dogfood build.

[2015-05-19 20:28] jaredpar opened #2920 "vbc2 exits without displaying errors"
Run into a case where we get an error that vbc2.exe exited with an error code but no actual messages are displayed:

[code]

Errors are being generated under the hood but for some reason they are not being displayed by msbuild.  They are visible if I tweak vbc2.exe to start up under the debugger and pause just before exiting.

To repro this sync back to the following commit and build src\Roslyn.sl

[2015-05-19 20:31] mavasani commented on #2614
I think the issue did exist in RC but was fixed post RC. You may want to try moving to newer nuget packages OR have to wait till the latest Roslyn nuget packages are available.

[2015-05-19 20:38] mattwar commented on #2880
Smells like it could be related to #2832.

[2015-05-19 20:52] mattwar commented on #2904
I'm not sure what is going on.  Is it the xamarin.ios app in VS producing the error on compile?  Is it an app using msbuild workspace producing these errors after opening a project?  Is the xamarin.ios app using msbuild workspace or is it just the msbuild workspace attempting to open the xamarin.ios app?

Can you supply a small code sample that produces the error?

[2015-05-19 21:06] gafter commented on #1310
We are past loc freeze for 1.0. Moving to 1.1.

[2015-05-19 21:26] amcasey opened #2922 "Never show all blank rows in the Locals window"
Was DevDiv 1090371.

_Patrick Nelson (VS) changed State from 'Resolved' to 'Active' and made 15 other changes._
Andrew T fixed GetItems for local variables.  We now need to fix the Result Provider's implementation of GetItems to handle exceptions for each row it calculates.

_Andrew Casey (ROSLYN) added a comment._
Additional consideration: We have a compilation error message that we just drop on

[2015-05-19 21:39] wschae commented on #2582
I still could see the dialog:

![1](https://cloud.githubusercontent.com/assets/4300700/7714607/c2bc85f0-fe34-11e4-854b-26ab8a7493d0.png)

However, in this case, the explanation saying “all threads were executing external code (system or framework code)” seems fine. What about Kevin’s repro step?

[2015-05-19 21:51] ljw1004 commented on #2909
We spent lots of LDM discussing case issues for identifier lookup. We even went so far as to discuss what case should be used when you overload a method. (answer: it should use the case of the thing it's overloading rather than the case you write). And what case should be used when you overload a method that has two differently-cased existing overloads (answer: I forget).

I'm surprised, given how

[2015-05-19 21:52] gafter commented on #2909
After a bit of experimenting, it appears that the old compiler selected arbitrarily which enum member to bind to. Adding new enum members of other names or changing the order of the declarations would change which one would be bound to.

That seems particularly dangerous. If we want to implement this as a compatibility concession, we should at least produce a warning. I do not believe it would be

[2015-05-19 21:56] JohnHamby commented on #2914
These recommendations are good. I think we need a short tutorial on authoring analyzers that includes and expands on this information.

[2015-05-19 22:11] tmat commented on #2898
BTW, just found this:
https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.dllimportsearchpath(v=vs.110).aspx

We should use that.

[2015-05-19 22:34] jaredpar commented on #2898
@tmat at a glance that doesn't appear to be a portable API.  If it was (or is just incorrectly labelled in MSDN) I agree we could consider it.  But it is something we would need to discuss more broadly with the team.

[2015-05-19 22:39] tmat commented on #2898
@jaredpar It is not portable, but that doesn't matter since it's an attribute. The CLR is looking up the attribute by name. So we can define an internal attribute of the same shape and it should be matched.

[2015-05-19 22:48] wschae commented on #2775
It also breaks EnC where C# and VB are treated in a similar way. (See the internal bug 1170899)

[2015-05-19 23:21] #2851 closed

[2015-05-19 23:46] wschae opened #2928 "VB compiler put generated anonymous types under the root namespace, not in the global"
Both Dev12 VB and Dev14 C# compiler put anonymous types under the global:

![2](https://cloud.githubusercontent.com/assets/4300700/7716388/78d7abf6-fe46-11e4-9aca-2b4697a008bf.png)

This is what EE and EnC expects but Dev14 VB compiler put anonymous types under the root namespace, which violates many assertions in EE and EnC. For example, #2775 (and internal bug 1170899):

![3](https://cloud.githu

[2015-05-19 23:47] wschae commented on #2928
@AlekseyTs Filed as suggested.

[2015-05-20 00:01] #2832 closed

[2015-05-20 00:05] AnthonyDGreen commented on #2928
It appears to do this even if the actual anonymous type is generated from an expression in a class that escapes the root namespace through use of an explicit Namespace Global block.

[2015-05-20 00:06] agocke commented on #2920
Supposedly this is fixed by https://github.com/dotnet/roslyn/commit/170f1295288632174d8431508f6dea7c9eb96a4d. Can someone on the analyzer team verify the fix?

[2015-05-20 00:18] amcasey commented on #964
I've talked to @KevinH-MS and @AlekseyTs and I think we're going to drop ```My.InternalXmlHelper``` from ```WellKnownTypes``` and implement it separately so that it will be easier to hook in the EE.

[2015-05-20 00:32] gafter opened #2930 "Discussion: Local Functions"
In #259 it is proposed to add local functions and types. The Roslyn compiler team met today to look at local functions (not local types) in some detail, in preparation for some planned prototyping work by @khyperia. The idea is to be able to define functions in block scope. The C# language design team will consider local functions tomorrow. If this experiment is successful we would look at VB as w

[2015-05-20 00:45] gafter commented on #2930
That would look something like this
[code]

[2015-05-20 01:10] tmat commented on #2930
Should we do iterator lambdas in C# first?

[2015-05-20 02:58] dkallen commented on #119
I like having the C# Compiler take this on as part of the compilation process. But I strongly disagree that fail-fast behavior should be the default.  @TedDriggs explained why very clearly.  Instead, I would recommend that the default failure is to throw an exception. I would also like to see at least a formal ContractException, and optionally descendants PreconditionException, PostConditionExcept

[2015-05-20 03:07] agocke commented on #2930
@tmat No, iterator lambdas don't provide much value -- you end up with a delegate that returns an IEnumerable, which is almost always worse than a local iterator function.

[2015-05-20 03:15] joj opened #2934 "Consider making ICodeActionEditHandlerService (or similar) public"
Annotating nodes with a RenameAnnotation is incredibly useful, but I can think of several other interactive actions I would like to annotate nodes with (for instance, reordering parameters). Custom annotations, with the associated CodeActionEditHandler is the most generic solution I can think of to do almost anything.

I understand ICodeAction... is a very complex interface to make public because

[2015-05-20 05:33] ccmcgeek opened #2936 "Inconsistent handling of escaped identifiers in <param> and <paramref>"
An extremely minor bug, but filing per @jasonmalinowski's request to be captured and triaged appropriately :smile:

## Environment
Windows 8.1 x64 with Media Center, fully patched.
Visual Studio Community 2015 RC, Version 14.0.22823.1 D14REL

## Repro Steps

In a new C# file, enter code:
[code]
Open a new line above method declaration and type `///` to trigger automatic xmldoc generation. Text is

[2015-05-20 06:27] AlekseyTs commented on #2909
I believe behavior of VS 2013 compiler is not intentional and is not deterministic. Roslyn does the right thing, we should consider keeping this behavior.

[2015-05-20 06:47] mavasani commented on #2576
@dbolkensteyn I have added a public API to CompilationWithAnalyzers to allow you to clear saved analyzer state whenever you are done with analyzer instances. Please update your code to invoke this API.

[2015-05-20 06:48] GeirGrusom commented on #119
Fail-fast is ridiculous.

Here is a simple application: it is a designer for a paper airplane competition. It's a client side application, and persistence is done by contestants submitting their work to your servers. To do this they need to fill out a form. First Name, Last Name, Phone and E-mail is required. However the UI developer forgot to add required validation on the e-mail, but the back en

[2015-05-20 07:00] mavasani commented on #2915
Re-assigning to triage, we have 3 options here:

1. Do nothing, and add documentation/samples that recommended way to implement stateful or dependent actions is via nesting of actions. Additionally, write a Roslyn analyzer to flag such incorrect registration.

2. Fix the compiler analyzer driver to match our current analyzer API semantics.

3. Update our analyzer API semantics to explicitly state

[2015-05-20 07:28] Deathspike commented on #119
@GeirGrusom You cannot have contracts on methods that bind arbitrary client-submitted data. As always, when a client is free to send data in a free-form transport method, you will have to validate the data before passing it on into your system. Let's take the example of an ASP.NET MVC site with a SOA architecture. You may put business logic into the domain models and services, and use these from t

[2015-05-20 08:03] paulomorgado commented on #119
@GeirGrusom, (since you brought up the term) your reasoning about compile-time contracts is ridiculous.

What is being presented is not about input validation. It's about contract validation.

You can't bind a call to `x.M(int)` if `x`'s type only has a `M(string)` method.

The compiler will fail fast. You might argue that the compiler doesn't fail fast if you think the purpose of the compiler is

[2015-05-20 08:04] mavasani commented on #1913
Verified.

[2015-05-20 08:07] mavasani commented on #1766
Verified.

[2015-05-20 08:10] Clockwork-Muse commented on #119
@Deathspike - iow, for a bit of clarity, you won't get a runtime error (and lost data) from this, it results in compile errors only.

@GeirGrusom Note that you'd probably end up with exceptions on the server code anyways, just for dealing with deserialization and internal object creation... and it would still cause the submitting client to lose their data, if they didn't catch the returned excepti

[2015-05-20 08:19] paulomorgado commented on #1537
The big difference here is that namespaces don't have inner namespaces (namespace declarations can have inner namespace declarations) and don't have accessibility modifiers.

Unless you are creating the `Outer` class just for the purpose of having an inner `Inner` class, `class Namespace.Outer.Inner` (why stop at just the type) would have to stand for:

    namespace Namespace
    {
        partia

[2015-05-20 08:50] GeirGrusom commented on #119
@paulomorgado either the code fails in compile time, or it fails in run-time. In either case an exception tells you a lot more about what went wrong than killing off the entire app domain will ever do. It also causes code that does not have a exception handler to actually fail-fast; exceptions just doesn't take the kitchen sink as well.

[2015-05-20 09:03] agat50 commented on #2930
As i mentioned in https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/6504697-block-code-as-value-another-syntax-for-semicolon would be nice to see
[code]
Imho, local functions are using one time mostly, so no needs for name\parameters\return type.

[2015-05-20 10:01] paulomorgado commented on #2930
void M()
    {
        var f(int n)
        {
            return (n == 1) ? 1 : n * f(n - 1);
        }

        var x = f(5);
    }

Can't the return type of `f` be inferred on this case?

[2015-05-20 10:02] paulomorgado commented on #2930
Will expression bodied funtions be allowed?

    void M()
    {
        var f(int n) => (n == 1) ? 1 : n * f(n - 1);

        var x = f(5);
    }

[2015-05-20 10:39] GeirGrusom commented on #119
So that we are perfectly clear: during compilation, you think it is OK that if a contract is violated, the process should: Keep finally blocks from running, keep finalizers from running, kill the entire process, write to the system event log and send an error report to Windows? Because that is what [Environment.FailFast](https://msdn.microsoft.com/en-us/library/ms131100%28v=vs.110%29.aspx?f=255&MS

[2015-05-20 10:46] HaloFour commented on #119
@GeirGrusom Slight modification:

I would've written more tests, but the test runner kept crashing!

[2015-05-20 12:12] bkoelman commented on #2462
@srivatsn Sounds like a good solution if that solves the "Language not supported" exception.

The thing is, only after creating a VB Analyzer project and running a file-system diff I discovered which additional references / package imports were needed.

Users that do not have VB installed have no clue how the resolve this error. I believe a better exception message would help, or a simple explanat

[2015-05-20 12:39] bkoelman commented on #2583
@Pilchie Sounds reasonable. In that case, I would expect that a single space after `/* before */` is preserved on reformat. So:

[code]
becomes:

[code]

instead of:

[code]

I can verify that after #1781 is fixed.

[2015-05-20 13:11] dkallen commented on #119
There seems to be some confusion around the "fail fast" topic.
The recommendation of the author, @stephentoub includes 2 different but related ideas around this:
1. if the compiler can detect with certainty that a contract would be violated, this would be treated as a compile-time error
2. most contracts would be detected at runtime and if violated, they would perform Environment.FailFast

I've al

[2015-05-20 13:24] Vannevelj commented on #2614
Looks like I was still on Beta-1. I have now moved to RC 2 and fixed the API changes that came with it. I can't use my tests though: the *Verifier.Helper classes were provided when creating the Diagnostic with CodeFix template solution.

Can I find an updated version of these test helpers somewhere? More specifically: `AnalyzerDriver` is now not accessible. What should I use instead?

Perhaps a mo

[2015-05-20 13:44] GeirGrusom commented on #119
I completely agree, and getting code contracts would be a huge gain, but changing default error handing from exceptions to one step south of setting the computer on fire is a feature I would be very reluctant to use.

Not all developers controml the machine the code is running on, and no matter what tools we use bugs is something users always has to deal with, but I don't want to test the users pa

[2015-05-20 14:01] prasannavl commented on #119
@GeirGrusom, +1

Well written. I completely agree with the above. The C# compiler is fantastic and helps with a ton of scenarios - But  don't ask the compiler to do your dirty laundry for you (for now) - It'll just end up burning your clothes instead, because, hey it's smarter and figured you don't have to do it at all this way.

PS:
Your dirty laundry => Handling the contract exceptions properly.

[2015-05-20 14:15] prasannavl commented on #119
Failing fast on contracts is not going to produce rock solid code as many seem to expect. It'll just up with an unreliable compiler which produces code that may or may not crash despite the user's intention because of some third party contract. Simply put, you're going to loose all deterministic value (which is actually quite an unpleasant irony to what we hope to accomplish with static analysis).

[2015-05-20 14:25] bkoelman opened #2940 "Inconsistencies in Analyzer+CodeFixProvider C# project template"
Please address the following issues in the C# Analyzer+FixProvider project template:

* {AnalyzerName}.Test\Helpers\DiagnosticVerifier.Helper.cs, line 9: Unused namespace import for `System.Threading` can be removed.
* {AnalyzerName}.Test\Helpers\DiagnosticVerifier.Helper.cs, lines 27 + 28: Unused semi-constants `CSharpDefaultFilePath` and `VisualBasicDefaultFilePath` can be removed.
* {AnalyzerNa

[2015-05-20 14:31] paulomorgado commented on #119
@prasannavl, if I recall it correctly (I haven't read the whole thread again), @jaredpar claimed that fail fast would led to better programs, not better code.

Instead of @GeirGrusom's examples, let's take a better one. I'd prefer that a controller for heavy machinery would stop everything on failure instead of keep going. "what's that carbon-based stuff on the way? that wasn't supposed to be ther

[2015-05-20 14:37] bkoelman commented on #2940
Some more:

* {AnalyzerName}.Test\Helpers\DiagnosticVerifier.Helper.cs, line 9: Unused namespace import for `System.Threading` can be removed.
* {AnalyzerName}.Test\UnitTests.cs, line 7: Unused namespace import for `{AnalyzerName}` can be removed.
* {AnalyzerName}.Test\Verifiers\DiagnosticVerifier.cs, line 2: Unused namespace import for `Microsoft.CodeAnalysis.CSharp` can be removed.

[2015-05-20 14:50] bkoelman opened #2941 "Inconsistencies in Analyzer+CodeFixProvider VB project template"
Please address the following issues in the VB Analyzer+FixProvider project template:

* {AnalyzerName}.Test\Helpers\DiagnosticVerifier.Helper.vb, line 5: Unused namespace import for `System.Threading` can be removed.
* {AnalyzerName}.Test\Helpers\DiagnosticVerifier.Helper.vb, lines 22 + 23: Unused semi-constants `CSharpDefaultFilePath` and `VisualBasicDefaultFilePath` can be removed.
* {AnalyzerNa

[2015-05-20 14:50] svick commented on #2930
@agat50 I think named local functions are useful, the lambda syntax can be awkward (and doesn't work well with recursion).

Though your suggestion is not without merit either. I've wanted something similar for `async` blocks executing concurrently (but not necessarily using multiple threads). E.g.:

[code]

Though I guess you could achieve a very similar effect with a library method.

[2015-05-20 14:51] prasannavl commented on #119
@paulomorgado

I don't share the opinion. Because, I think we can safely say that where-ever you can establish that compiler is absolutely sure, static analyzer goes in for the kill at compile time. Perfect. Now where do we get into a scenario of runtime analysis?

When its impossible for the compiler to determine. Now rephrasing that, the input for that method is not absolutely deterministic. Now

[2015-05-20 15:08] prasannavl commented on #119
Adding on to the space ship analogy, the more apt-thing to do, if the faucet leak is indeed dangerous, would be able to interrupt the self-destruct, and say, "Hey you know what, no matter how damaged you are go and land on this deserted zone". So I can at the least salvage what I can of the multi-zillion dollar investment. This is exactly what exceptions let you do.

And fail fast is just "kaboom!

[2015-05-20 15:10] bkoelman commented on #2940
Additional suggestions for improvement:

* {AnalyzerName}\DiagnosticAnalyzer.cs, lines 19-22: Fields `Title`, `MessageFormat`, `Description` and `Category` can be made private.
* {AnalyzerName}\DiagnosticAnalyzer.cs, line 24: `Rule` field can be made readonly and private.
* {AnalyzerName}.Test\Helpers\DiagnosticResult.cs, lines 27-29: Fields `Path`, `Line` and `Column` can be made readonly.

[2015-05-20 15:18] ljw1004 commented on #2930
Lambdas work great in VB already for *all* the use-cases in this thread.

Here's Neal's initial example, which in VB involves less repetition than Neal's C# version since you don't need to write the return type of the lambda. (@agocke you said it's worse than the local function but I don't see any way that it's worse).
[code]

For @agat50 who liked iterator blocks, here's how you'd do them with it

[2015-05-20 15:18] bkoelman commented on #2941
Additional suggestions for improvement:

* {AnalyzerName}\DiagnosticAnalyzer.vb, lines 8-12: Fields `Title`, `MessageFormat`, `Description` and `Category` can be made private.
* {AnalyzerName}\DiagnosticAnalyzer.vb, line 13: `Rule` field can be made readonly and private.
* {AnalyzerName}\DiagnosticAnalyzer.vb, line 26: Sub `AnalyzeSymbol` should be private.

[2015-05-20 15:27] tmeschter commented on #92
There are basically two options here:

1. Add a refresh button to the rule set editor toolbar to refresh the document. This would reload the file, and as a side effect re-query `IVisualStudioDiagnosticAnalyzerService.GetAllDiagnosticDescriptors` and pick up the newly-added analyzers.
2. Add an event to `IVisualStudioDiagnosticAnalyzerService` that fires when analyzers are added to the project. Thi

[2015-05-20 15:27] tmeschter commented on #92
Moving this out to a future update.

[2015-05-20 15:37] agat50 commented on #2930
@svick yes, some kind of static Eval\EvalAsync would help (not very handy cause of verbosity and lambda debug(2015 solve last)). My case is more about reorganizing code, not shorter lambda notation. We get aggressive inline code, small temp vars scope. Your case in interesting too, i didn't thing much about async blocks.

Simple code replacement (my proposal)
[code]

Or actually create anonymous m

[2015-05-20 15:41] tmeschter commented on #1579
I'm going to double-check the following scenarios:

1. Rule set file in the same directory as the project file.
2. Rule set file one level above the project file.
3. Rule set file two levels above the project file.
4. Rule set file up two levels and then down in a subdirectory.
5. Rule set file one level below the project file.
6. Rule set file two levels below the project file.
7. Rule set file o

[2015-05-20 15:45] jaredpar commented on #1781
Some updates ...

The OpenSourceDebug project essentially works by doing the following:

1. Build the workspaces layer and below with the version number 42.42.42.42.
2. Copy all of the DLLs in the workspace layer into a location under `%LOCALAPPDATA%`
3. Insert code base and version redirects into devenv.exe.config for the Roslyn hive to get VS to load those binaries instead of the ones in the VS

[2015-05-20 15:55] tmeschter commented on #1579
Adding a rule set two levels above the project file is problematic. We end up with `..\..\..\TwoLevelsUp.ruleset` instead of `..\..\TwoLevelsUp.ruleset`.

[2015-05-20 16:11] Grauenwolf commented on #119
The program can't stop the machinery if it crashes. It needs to actually send the shutdown command.

Jonathan Allen
Lead Editor .NET Queue
InfoQ/C4Media
619-933-8527

-----Original Message-----
From: "Paulo Morgado" <notifications@github.com>
Sent: ‎5/‎20/‎2015 7:32 AM
To: "dotnet/roslyn" <roslyn@noreply.github.com>
Cc: "Grauenwolf" <jonathan@infoq.com>
Subject: Re: [roslyn] Proposal: Method Contr

[2015-05-20 16:26] agocke commented on #2930
@paulomorgado Expression bodies will be allowed.

Fib is an example of a recursive function whose return type could be inferred. However, the general case requires H-M and during the meeting we agreed that we didn't want to do that kind of non-local analysis right now.

[2015-05-20 16:30] agocke commented on #2930
@ljw1004 You're cheating by using VB syntax ;) An iterator lambda involves an unnecessary delegate and invocation in C# and additional syntax for type annotations. Local functions seem substantially better.

[2015-05-20 16:38] JoshVarty opened #2943 "CodeBlockAction Never Runs"
I modified the default Analyzer template to use `AnalysisContext.RegisterCodeBlockAction` and ran into an issue where my action was never called. To repro use the following:

[code]

What's interesting here is that if I register a `SymbolAction`, my original `CodeBlockAction` starts to work. That is, add:

[code]
and register via:

[code]

I played around with modifying my `CodeBlockAction` (Makin

[2015-05-20 16:40] HaloFour commented on #2930
Yeah, I think eliminating the delegate invocation would be a great benefit.  Being able to enclose the local scope through implicit parameters sounds like it could yield good performance benefits as well.

I do think that there is value for C# to support iterator lambdas.  Sometimes you just want to pass an iterator inline to a LINQ method like `SelectMany`.

Any thoughts to blurring the line betw

[2015-05-20 16:48] agocke commented on #2930
@HaloFour I think there's definitely some room for improvement in optimization for lambdas as well.

[2015-05-20 16:48] HaloFour commented on #119
@prasannavl  Either way, whether the space ship explodes or attempts to safely land should not be decided by the maker of the faucet.

[2015-05-20 16:52] paulomorgado commented on #119
Unless those that designed the spaceship that if the faucet fails, that's what should happen.

But it looks like this is not an option and the only option is "the faucet should not and will not fail in any case. if it does, you're on your onw. good luck".

[2015-05-20 16:53] Pilchie commented on #2936
@amcasey do you know what the compiler expects here?

[2015-05-20 16:57] dsaf opened #2944 "Proposal: support attribute constraints on generic type parameters"
This will make it possible to constrain in a flexible cross-cutting way without having a common base type or an interface. It would be quite beneficial for DSLs and AOP at least.

Example syntax:

[code]

It has been asked and upvoted on StackOverflow multiple times:

http://stackoverflow.com/questions/221687/can-you-use-where-to-require-an-attribute-in-c

http://stackoverflow.com/questions/414667

[2015-05-20 16:58] amcasey commented on #2936
No @ escaping in crefs.  There are probably tests in CrefTests.cs.

[2015-05-20 17:01] Pilchie commented on #2936
Same in `<param name="" />` and `<see paramref="" />` ?

[2015-05-20 17:04] prasannavl commented on #119
@HaloFour, exactly my point. Your progam is this space ship. Faucets are your third party libraries. By employing a contracts which will fail fast on the third party library, you're implicitly open your program to the potential of crashing straight away by a third party library.

@paulomorgado, again, exactly my point. By making it fail fast, you're completely taking the decision off the spaceship

[2015-05-20 17:05] amcasey commented on #2936
I misremembered.  I believe crefs support verbatim identifiers and name attributes do not.
http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Parser/Lexer.cs,3757

[2015-05-20 17:07] amcasey commented on #2936
And here's the test I was thinking of: http://source.roslyn.io/#Roslyn.Compilers.CSharp.Symbol.UnitTests/DocumentationComments/ParameterTests.cs,257

[2015-05-20 17:08] amcasey commented on #2936
@ccmcgeek I couldn't find it in the spec either. :)  We worked backwards from the old implementation.

[2015-05-20 17:19] Vannevelj commented on #2614
Alright, it seems like I've got this to work again. For reference, the changes I made to the included test files are these (after updating to RC 2):

DiagnosticVerifier.Helper.cs:

Lines 65-67

    - var driver = AnalyzerDriver.Create(compilation, ImmutableArray.Create(analyzer), null, out compilation, CancellationToken.None);
    - var discarded = compilation.GetDiagnostics();
    - var diags = d

[2015-05-20 17:20] damageboy commented on #2788
I've decided to reopen the issue because I think this is actually the right place to address this.
The CIL / CLR already supports the types, and the discussion in https://github.com/dotnet/coreclr/issues/963 clearly addresses two points:
* The existence of the native int / native unsigned int in the runtime
* The fact that users CAN write simple structs that wrap around the basic IntPtr type provi

[2015-05-20 17:33] srivatsn commented on #2943
This seems to be the same as #1709 which was fixed post RC unfortunately.

[2015-05-20 18:04] jaredpar commented on #1672
Moving out as this is a documentation issue.

[2015-05-20 18:12] AArnott commented on #2894
Thanks. I applied the suggested change to my analyzer and it passes now. :)

[2015-05-20 18:17] mavasani commented on #2894
Great!

[2015-05-20 18:40] Pilchie commented on #2487
Note that connect bug http://connect.microsoft.com/VisualStudio/feedback/details/1247309/gets-wrong-indentation-for-region-and-endregion is related to this.

Once I wrap some text with `#if false`, we lose the indent of all the `#region`s when the `#endif` is typed.

[2015-05-20 18:46] JoshVarty commented on #2943
Awesome, glad it's already fixed. I mistakenly thought that fix made it into the RC. Thanks!

[2015-05-20 18:46] #2943 closed

[2015-05-20 18:54] whoisj commented on #119
100% agreed about throwing versus failing. Libraries should not decide if an application fails or not unless there's a security concern in play, the app should have the option to manage the failure otherwise. Additionally, development will be frustrating and developers might not understand the condition that caused their app to fail suddenly and without warning.

Maybe a better syntax would use a

[2015-05-20 18:58] AlekseyTs opened #2948 "Possibly incorrect logic in IsMyNamespace extension method"
BasicWorkspace\Extensions\SymbolExtensions.vb - (18, 112) : (containingNamespace.IsGlobalNamespace OrElse Object.Equals(containingNamespace, compilation.RootNamespace))
- I believe it should only check for RootNamespace, checking for global namespace when it doesn't match the root namespace is wrong.
- RootNamespace property is never a merged namespace, the input could be a merge namespace. It is

[2015-05-20 18:59] jaredpar commented on #119
@whoisj

Libraries already have this exact level of control.  The can validate arguments however they choose and take whatever action they like: throw, fail fast, ignore, etc ...  This proposal in no way changes what libraries can do, it only changes the syntax by which they can do it.

[2015-05-20 19:03] whoisj commented on #119
@jaredpar I agree, how ever once syntactic sugar is added to encourage fail fast behavior, people will gravitate towards that behavior. This add little to no value to library development and library development drives language adoption. I honestly see little value in the fail fast model for requires/ensures.

Instead, I agree with the many above you are asking for an exceptional model that enables

[2015-05-20 19:37] mavasani opened #2949 "Write an analyzer diagnostic to detect incorrectly registered related actions"
Related/dependent actions that depend on a start or end action must be registered as nested actions within the start context. This pattern encourages the corresponding state they manipulate to be defined in the correct analysis scope, preventing memory leaks in analyzers.

We should write an analyzer diagnostic that detects related actions registered outside the start action.

[2015-05-20 19:38] mavasani commented on #2949
Setting this to 1.0 milestone as per discussion with @ManishJayaswal

[2015-05-20 19:41] mavasani commented on #2915
I have opened #2949 to track writing an analyzer that flags related actions registered at same level. We can probably move the current issue to 1.1 as this analyzer + more documentation/samples might suffice (i.e. take option 1 above for 1.0 milestone and decide whether to take up 2 or 3 post 1.0)?

[2015-05-20 19:51] #2714 closed

[2015-05-20 19:58] carlos-quintero opened #2952 "System.ComponentModel.TypeDescriptor.GetProperties(codeElement) doesn't return additional properties of EnvDTE80 code elements as in VS 2013"
When you use the file code model (EnvDTE.ProjectItem.FileCodeModel) from a package and you call System.ComponentModel.TypeDescriptor.GetProperties(codeElement) you get less properties in VS 2015 compared with VS 2013.

Consider a package with this code:

        private void MenuItemCallback(object sender, EventArgs e)
        {
           EnvDTE.DTE dte;

           dte = base.GetService(typeof(E

[2015-05-20 20:00] jaredpar opened #2953 "Native compiler crashes on `await` combined with `ref`"
Consider this code:

[code]

This will cause a crash in the native compiler.  Roslyn correctly handles this case but we should add a test case to lock in the better behavior.

Source:

- https://twitter.com/YuvalItzchakov/status/601100730062110720
- http://stackoverflow.com/q/30358141/23283

[2015-05-20 20:05] Yuvalos commented on #2953
It would also be interesting to understand why it isn't working in the native compiler.

[2015-05-20 20:11] Servy215 commented on #2953
Simpler reproduction:

    public class Worker
    {
        private static int foo;
        private static async void DoWork()
        {
            DoNothing(ref foo, await Task.FromResult(0));
        }
        private static void DoNothing(ref int item, int other)
        {
        }
    }

[2015-05-20 20:12] jaredpar commented on #2953
@Yuvalos agreed.

@Servy215 thanks!

[2015-05-20 20:24] jaredpar commented on #849
Had a brief conversation where we considered a variety of solutions to this problem:

[code]

The fully null tolerant scenario has behavior which is simply confusing, too confusing to be our solution.  The full null intolerant solution isn't really feasible at this point.  There is far too much code which depends on the current null tolerant behavior of `IsKind` and it's too late to change it.  He

[2015-05-20 20:24] #849 closed

[2015-05-20 20:25] orthoxerox commented on #2930
Is there a reason why a static modifier is not allowed? If the function doesn't close over any variables it should be rewritten as a static function by the compiler anyway; explicitly marking it as static would allow us to declare that we want the compiler to verify we're not accessing object or method state in it.

[2015-05-20 20:31] jaredpar commented on #2953
Looks like we already have a regression test here

http://source.roslyn.io/#Roslyn.Compilers.CSharp.Emit.UnitTests/CodeGen/CodeGenAsyncSpillTests.cs,658fb588fd9c2000

[2015-05-20 20:31] #2953 closed

[2015-05-20 20:41] jasonmalinowski commented on #1031
There are Windows Error Reporting reports of this crash. If I copy a dot into the clipboard, I can crash it by pasting the dot into the file. Looking at one crash report, they also invoked paste to get the dot in there.

[2015-05-20 20:53] HaloFour commented on #2930
@orthoxerox I don't think it makes sense to conflate the `static` modifier as a declaration of what the local function can or can't enclose.  The compiler could always emit a `static` method even if it did close over `this` members by passing it silently as an argument.

[2015-05-20 20:58] jaredpar commented on #957
Hey ​jogibear9988,

Thanks for taking the time to file this issue.  Looking at the issue though it doesn't appear to be a bug in the Roslyn compiler.  The code in this case is well tested and I verified the fix in question has the same behavior between the VS 2013 C# compiler and the Roslyn based compiler.  The issue instead appears to be in the XAML infrastructure.

[2015-05-20 20:58] #957 closed

[2015-05-20 21:05] factormystic commented on #119
@jaredpar libraries that casually fast fail are typically known as "bad libraries that should be avoided". I don't think it'd be wise to encode that behavior into the language.

It's somewhat unclear how fast fail contracts are superior to exception contracts when exceptions can be caught and optionally fast failed but not the reverse as @GeirGrusom pointed out

[2015-05-20 21:06] mattwar commented on #2904
@belorus do you have more information to clarify this problem?

[2015-05-20 21:07] mattwar commented on #2880
This should be fixed by #2933

[2015-05-20 21:07] #2880 closed

[2015-05-20 21:24] tec-goblin commented on #119
I am surprised on how much the discussion drags on such an absurd proposition on a detail. Let's think of the use cases here: Method contracts,as most successful features in c# would benefit from having existing libraries using them. Right now, most checks of this type throw ArgumentException or likewise. Changing this would break most clients. Not using method contracts in those parts of the fram

[2015-05-20 21:35] vladd commented on #119
I strongly support failing. From my point of view, contracts are a kind of type system extension. So the contract failure should be seen as the error of the same gravity as type mismatch.

The usual method `void Print1(string s)` makes a strong requirement: whatever comes into it must be a `string`. Whoever uses this method must supply whatever the compiler can deduce is a `string`, or otherwise s

[2015-05-20 21:42] tec-goblin commented on #119
It does add. It converts the imperative to declarative, thus allowing good intellisense, self documentation AND the compiler early failing when it can be sure (in dubious cases the compiler could just show warnings).

[2015-05-20 21:52] tmeschter commented on #2707
@mavasani I've come up with three options for fixing this. I'm leaning towards the last one (dropping and re-adding `AnalyzerReferences` with load errors); what are your thoughts on this?

[2015-05-20 21:57] prasannavl commented on #119
@vladd,

Sticking to your very own analogy of the type system extension, type system is highly static. (Let's get to the object parts in a bit). So, when it is a static contract, perfect. Everyone's happy, since the compiler fails on build.

With respect to your analogy, what is equivalent of the runtime analysis? Its using the `object` type. Now, how exactly does the type system handle `object`?

[2015-05-20 22:10] kuhlenh commented on #2905
[Here](https://github.com/dotnet/roslyn/wiki/%5BDRAFT%5D-EnC-Supported-Edits) is the working draft on our wiki.

[2015-05-20 22:13] rchande commented on #2876
@tmat According to the dump, we have the wait dialog up and it's showing some animation. Do you have any repro guidance?

[2015-05-20 22:18] mavasani commented on #2920
I investigated it further and the root cause seems to be specific to the Vbc MSBuild task. [ParseVBErrorOrWarning](http://source.roslyn.io/#Microsoft.Build.Tasks.CodeAnalysis/Vbc.cs,662) method of this task expects diagnostics from the compiler to be in a specific format:

[code]

The diagnostic from public API analyzer has just the error message, not the subsequent 3 lines expected by this method

[2015-05-20 22:19] tmat commented on #2876
@rchande Not really, I was just working in Roslyn.sln looking for various public APIs in the compiler related to scripting. I don't think I saw any dialog. The UI was frozen.

[2015-05-20 22:23] ManishJayaswal commented on #2775
#2937  should make this issue moot @amcasey

[2015-05-20 22:24] #2775 closed

[2015-05-20 22:30] #2889 closed

[2015-05-20 22:33] KirillOsenkov commented on #1622
@mavasani what's the associated commit or checkin that fixes this?

[2015-05-20 22:54] AdamSpeight2008 opened #2964 "Embed OMeta-esque features into the languages."
I think it would be cool if we had [Ometa](http://ometasharp.codeplex.com/) like capabilities available to C# and VB. That way we can create custom DSLs
**Example: OMetaParser in OMeta**
[code]

Imagine the things we could do, especially combined with Roslyn.
* Pattern-Matching over CSharp language nodes.
* Pattern-Matching over VB language nodes.
* Then transforming them.
* Analyser.
Especially w

[2015-05-20 22:54] AlekseyTs commented on #2640
@VSadov Please verify.

[2015-05-20 22:54] #2640 closed

[2015-05-20 22:57] AlekseyTs commented on #2928
@wschae Please verify

[2015-05-20 22:57] Grauenwolf commented on #119
Fail fast means that dynamic typing is no longer safe to use. And I have doubts about using the immediate window as well.

And can you imagine how difficult this is going to make building the library. Every mistake in a post condition becomes an exercise in frustration.

Jonathan Allen
Lead Editor .NET Queue
InfoQ/C4Media
619-933-8527

-----Original Message-----
From: "vladd" <notifications@github

[2015-05-20 23:03] gafter commented on #2771
Fixed in #2957

[2015-05-20 23:03] #2771 closed

[2015-05-20 23:04] gafter commented on #2771
@pharring Please Verify

[2015-05-20 23:23] jmarolf commented on #2791
Fixed with internal changeset  1474285

[2015-05-20 23:23] #2791 closed

[2015-05-20 23:23] jmarolf commented on #2815
Fixed with internal changeset 1474285

[2015-05-20 23:24] jmarolf commented on #2940
Fixed with internal changeset 1474285

[2015-05-20 23:24] jmarolf commented on #2941
Fixed with internal changeset 1474285

[2015-05-20 23:24] jmarolf commented on #2462
Fixed with internal changeset  1474285

[2015-05-20 23:24] #2462 closed

[2015-05-20 23:25] jmarolf commented on #2815
@shyamnamboodiripad could you please verify?

[2015-05-20 23:26] jmarolf commented on #2940
@shyamnamboodiripad could you please verify?

[2015-05-20 23:27] jmarolf commented on #2941
@shyamnamboodiripad could you please verify?

[2015-05-20 23:27] jmarolf commented on #2791
@jinujoseph could you please verify?

[2015-05-20 23:28] jmarolf commented on #2462
@srivatsn  could you please verify?

[2015-05-20 23:34] AdamSpeight2008 commented on #2964
BNF
[code]
Suppose we want a BNF like grammar but with only slightly different rules.
[code]
We simply override the rule(s).

-----
I've written a parser for BNF using this rule based approach. It parses it's own grammar in ~8ms. or ~50ms using an async version.
It still needs some work to enable it invoke delegates with parse results, so the invoked delegate can do something with it, eg return an

[2015-05-20 23:39] #2841 closed

[2015-05-20 23:40] tmat commented on #2841
@dpoeschl As soon as we get a new signed build all IP dragging should work.

[2015-05-21 00:23] #2543 closed

[2015-05-21 00:47] mavasani commented on #1622
You want internal changesets: 1460411 and 1461374

[2015-05-21 00:54] mavasani commented on #2920
I played around with this a bit more and it turns out that analyzer diagnostic reported with a location in additional file doesn’t report any file information. For analyzer diagnostics that have no location or location in source files, the diagnostic output from vbc2.exe has the expected 4 line format:

c:\Roslyn\Open\src\Compilers\VisualBasic\Portable\Semantics\Conversions.vb(20) : error RS0016:

[2015-05-21 01:57] gafter commented on #2930
@paulomorgado

Read the discussion. It is proposed.

Read the discussion. Inferred return type and self-use are allowed but mutually exclusive.

[2015-05-21 02:25] ccmcgeek commented on #2936
@amcasey Heh, fair enough!  Wasn't sure if there were crisper definitions to some of the terms that would have elsewhere distinguished an escaped identifier from otherwise. :)

[2015-05-21 02:30] kekyo opened #2968 "RuntimeBinderException occurred with CSharpScript and DynamicObject."
Sorry poor english...

* I tested CSharpScript and DynamicObject. RuntimeBinderException occurred, but I don't know the cause.
* Used:
  * "Microsoft.CodeAnalysis.CSharp 1.0.0-rc2"
  * "Microsoft.CodeAnalysis.Scripting.CSharp 1.0.0-rc2"

[code]

Any idea?
Thanks.

[2015-05-21 05:44] VSadov commented on #2930
Is there a specific reason to not allow local extension methods?

[2015-05-21 06:08] rexxiang opened #2970 "[C# Feature] Support more feature for LINQ query"
In some complex situation, the LINQ query will be loss the readability and hard to maintain.
so it would be better if the LINQ query syntax improved like below.

allow more condition expression in the join clause. the **equals** expression is the only choice nowdays.
[code]

allow left join clause in LINQ to let the query more simplify .
[code]

--
I'm not good at English, but hope you guys unders

[2015-05-21 06:38] KalitaAlexey commented on #2944
@dsaf Could you write an example of using attribute constraint? Because I have no idea how to use methods of unknown type which implements my protocol

[2015-05-21 07:16] erik-kallen commented on #2930
Wouldn't almost all use cases be solved by just assigning a lambda to ```var```? Define this to use an appropriate ```System.Func``` delegate type. Example:

    int M() {
        var add = (int a, int b) => a + b;
        return add(2, 3);
    }

[2015-05-21 07:37] aluanhaddad commented on #2930
Thank you for the update on this proposal. I have wanted local function declarations in C# for a while and it sounds like the feature design is progressing very nicely.
I agree with @HaloFour that it would be nice if iterator lambdas were supported, but that seems something that would ultimately be a separate feature.

[2015-05-21 08:22] aluanhaddad commented on #2675
@ckpearson
I find the syntax
[code]
very confusing.
And in the case of
[code]
its really confusing especially if ```key``` and ```val``` are of the same type.

That said, I would really love, as you mention, for there to be some form of first class support for partial application.

[2015-05-21 08:38] ppekrol opened #2972 "Error: "csc2.exe" exited with code -1073741819"
Hi,

I'm getting following error during compilation: "csc2.exe" exited with code -1073741819

Just trying to compile RavenDB.VS2015.sln from here https://github.com/ppekrol/ravendb/tree/dnxcore50

Event log:

Application: csc2.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.NullReferenceException
Stack:
[code]

Thanks

[2015-05-21 08:40] Przemyslaw-W opened #2973 "Incorrect evaluation of foreach iteration variable"
When current statement is at opening brace of foreach loop, evaluating of iteration variable inside debugger events loop gives sometimes (not always) incorrect results. This happens only in VS2015. VS2013 and before always evaluated this variable correctly. Not sure if this is bug in the new roslyn based expression evaluator - if not please route this to proper team.

Here is screencast to see it

[2015-05-21 08:41] aluanhaddad commented on #2319
I believe this was a post stating that this feature was being seriously considered at some point. It may have been on the old codeplex site or it may have been in an early C# 6 possible feature list document, but I do not remember. Anyway, I think this would be a nice convenience.
@HaloFour Given the potential ambiguity, I would actually prefer that the full generic syntax ``` new Pair<string, int

[2015-05-21 08:45] aluanhaddad commented on #2397
@HaloFour Yes, the syntax should definitely align with that of pattern matching

[2015-05-21 08:48] HugoRoss commented on #2238
@HaloFour

cit. [It doesn't really matter because at this point it's baked into the language and the spec and cannot be changed without breaking existing code]

With a little effort it could be done: Create a new compiler switch "-NatvieToNullComparison" or something like that and a checkbox in the C# project settings. In the Visual Studio settings add a NatvieToNullComparison-preference checkbox

[2015-05-21 08:56] pdelvo commented on #2972
I think this bug is already fixed. If Im not mistaken this is the same issue as #1764.

[2015-05-21 09:35] ppekrol commented on #2972
Confirmed, compiled 'master' branch and error is gone. Thanks!

[2015-05-21 09:35] #2972 closed

[2015-05-21 11:52] aluanhaddad commented on #2402
I think static interface members would definitely be the way to go. They would be much more powerful and general.

[2015-05-21 12:37] erik-kallen commented on #2930
@aluanhaddad I also use the ```Func<int, int, int> x = (a, b) => a + b``` pattern today, but I think it's quite ugly (and it requires specifying the return type, which could be inferred).

As for recursion, I think it would absolutely make sense to change the spec so the variable being assigned to can be used inside the lambda expression. I am aware that there is some kind of esoteric assignment t

[2015-05-21 12:51] dsaf commented on #2944
@KalitaAlexey You would have to use reflection, as most of internal DSLs do.

[2015-05-21 13:56] breyed opened #2974 "C# structure isn't DRY"
In C#, the curly braces and indentation provide redundant ways to express the structure of namespaces, types, statement blocks, etc. Only the braces are normative, but if the indentation doesn't match, it confuses people. To compensate for the need to repeat ourselves, we use coding guidelines and tools to enforce the pairing.

Of course the redundancy intentional, going way back to C. It allows u

[2015-05-21 14:06] GeirGrusom commented on #2974
Razor has a big benefit from the fact that C# doesn't care about whitespace.

[2015-05-21 15:45] MgSam commented on #2930
While I agree with Lucian that a combination of features would make lambdas able to cover a lot of the use cases here, I think local functions are useful regardless because they'll support a lot more than lambdas can; namely generics, default and optional parameters, and params.

At the end of the day, I think whatever solution is ultimately designed should fulfill the use cases illustrated in the

[2015-05-21 15:52] MgSam commented on #2974
How is whitespace indentation more DRY? You are repeating yourself on every single line by re-affirming what scope you want to be in!

And what happens when you copy and paste a bit of code in a language where whitespace has semantic meaning? You can silently give that code different meaning than what you think it has.

Whitespace indentation is the part I dislike the most about both F# and Python

[2015-05-21 15:53] tmeschter commented on #1579
Fixed by a5497dc3c9bc061c733ff35b0f72d5988bdac5ae.

[2015-05-21 15:53] #1579 closed

[2015-05-21 16:09] gafter commented on #2238
@HugoRoss VS Checkboxes are not part of the C# programming language.

[2015-05-21 16:32] HaloFour commented on #2974
It's especially fun when working on a project where people are mixing spaces and tabs.

No, white space scoping has no place in C# or any C-derived language, and we're better off for it.  There is no lack of CLR languages, including those with white space scoping.  I suggest using them.

[2015-05-21 16:36] Joe4evr commented on #2974
This is where Roslyn's static analysis could come in handy. It probably wouldn't be too hard to write an analyzer that errors at what you consider to be bad whitespacing, but please don't make this a language-level feature, because other people will have different opinions on whitespacing.

[2015-05-21 16:45] davkean opened #2976 "Compiler should warn for unused read-only properties"
I've switched my usage of read-only fields nearly entirely to to read-only properties in C# 6, however, this has resulted in me no longer getting the benefit of the compiler warning when I fail to assign/use them.

For example, the following:

[code]

results in:

[code]

Whereas the following results in no warnings:

[code]

It would be great to get warnings in this case, similar to fields.

[2015-05-21 16:53] rchande commented on #2776
Fixed with #2967

[2015-05-21 16:53] #2776 closed

[2015-05-21 16:54] rchande commented on #2776
@heejaechang Can you confirm this leak is fixed?

[2015-05-21 16:54] VSadov commented on #2887
I think this is currently intended behavior of C# runtime binder. Some binding productions are cached and retained indefinitely.
There should be a natural limit on how many of these will be created.

Is the issue just about observing the caching or it does result in a measurable negative impact in a particular scenario?

[2015-05-21 17:04] gafter commented on #2793
@AlekseyTs Assigning to you as you offered to investigate and prepare a fix.

[2015-05-21 17:04] AArnott opened #2979 "csc2.exe crashes after reinstalling toolset package"
This repros on VSPro_Platform 22919.00

1. Create a new C# console application
2. Run these commands in the Package Manager Console:

        install-package Microsoft.Net.ToolsetCompilers -version 1.0.0-rc2-20150415-05
        install-package StyleCop.Analyzers -version 1.0.0-alpha006

3. Rebuild (no errors printed in error list or output window – yay!)
4. Run these commands in the Package Manage

[2015-05-21 17:16] Pilchie commented on #2952
Can you investigate?  I know we do implement CodeClass2 and friends, (see http://source.roslyn.io/Microsoft.VisualStudio.LanguageServices.Implementation/R/11125c075c08e894.html) for example, but for some reason TypeDescriptor doesn't see those :frowning:

[2015-05-21 17:16] AArnott opened #2980 "Analyzer diagnostic messages printed to error list, but not in build output"
This repros on VSPro_Platform 22919.00

1. Create a new C# console application
2. Run these commands in the Package Manager Console:

        install-package Microsoft.Net.ToolsetCompilers -version 1.0.0-rc2-20150415-05
        install-package StyleCop.Analyzers -version 1.0.0-alpha006

3. Rebuild

**EXPECTED**
3 analyzer warning messages added to the error list *and* printed in the build output w

[2015-05-21 17:18] DustinCampbell commented on #2952
Hmmm... yeah, I'll take a look.

[2015-05-21 17:21] Pilchie commented on #2948
This is an internal extension method, and looking at the 3 callers, the outcome don't seem to warrant tightening this for 1.0.

[2015-05-21 17:22] Pilchie commented on #2934
Can you take a look at whether this is the right extensibility point here?  At this point this can't happen for 1.0 though.

[2015-05-21 17:27] DustinCampbell commented on #2934
Sure. I'll take a look.

[2015-05-21 17:41] ManishJayaswal commented on #2973
I tried it on the latest internal builds and item shows a value "a" while stopped at the opening brace of for each loop. I think this may have been fixed by recent change from @tmat ?

[2015-05-21 17:41] #2973 closed

[2015-05-21 17:42] christopherpaul commented on #1781
@jaredpar Thanks for the update.

[2015-05-21 17:56] DustinCampbell commented on #2825
Fixed with PR #2947.

[2015-05-21 17:56] #2825 closed

[2015-05-21 18:02] chrisaut opened #2981 "Suggestion: Figure out a way to make Task<TResult> covariant"
**Problem statement**
If you have a Method eg.

[code]

you cannot view the ```Task<string>``` as a ```Task<object>```, although logically this should work just fine.

For example you cannot then pass the Task to another (general) method that takes a ```Task<object>``` (it could take a non-generic Task only).

Let's say I have an interface:

[code]

I cannot mark it as ```IAsyncValueProducer<out T

[2015-05-21 18:21] gafter commented on #2828
This sounds like it would be an incompatible change.

[2015-05-21 18:26] whoisj commented on #119
The entire Fail Fast concept feels like this feature was designed for system software development where failing fast is imperative for security reasons. The vast majority of C# code is pure application code, where logging and providing a graceful exit is nearly always ideal over an app just vanishing.

Having the compiler detecting guaranteed bad states is a good idea, but it's a nice to have. Jus

[2015-05-21 18:38] heejaechang commented on #2776
sure

From: Ravi Chande [mailto:notifications@github.com]
Sent: Thursday, May 21, 2015 9:54 AM
To: dotnet/roslyn
Cc: HeeJae Chang
Subject: Re: [roslyn] we are leaking solution in AbstractSymbolCompleteionProvider (#2776)

@heejaechang<https://github.com/heejaechang> Can you confirm this leak is fixed?

—
Reply to this email directly or view it on GitHub<https://github.com/dotnet/roslyn/issues/2776

[2015-05-21 18:39] whoisj commented on #2696
I find myself agreeing with @HaloFour. C# has a long history of assuming mutability and impurity. Asking developers to change their mental model to meet parity with Ruby isn't going to go over well. I would expect a mass rejection.

However, C++ already has a model that works well that C# should follow. Why not invert this discussion and mark methods that **do not** modify their object using the `

[2015-05-21 18:44] whoisj commented on #2974
I'm very much of the mindset that "white space is not code". Style is, and should be in my opinion, a distinctly separate thing from code / logic. I see useful constructs all the time like the following
[code]

These are completely legitimate styles and project use what suites them. Enforcing a style isn't going to help the language, but it will break a lot of existing code.

[2015-05-21 18:56] mavasani opened #2983 "Changes to additional files don't seem to be taken into account by msbuild"
1. Rebuild BasicCodeAnalysis.csproj from command line with msbuild:
    1. `cd \src\Compilers\VisualBasic\Portable\`
    2. `msbuild /m /t:rebuild`, verify build succeeds.

2. Now delete a few lines from any of the PublicAPI.txt files in the folder.

3. Build vb compiler using msbuild: `msbuild /m`

**Expected:** Build fails due to analyzer errors

**Actual:** Build is not even executed and shows

[2015-05-21 19:06] mavasani commented on #2410
Fixed with https://github.com/dotnet/roslyn/commit/900fbf7b918cd358d16c7fb4b54ff7ab4b25291b

[2015-05-21 19:06] #2410 closed

[2015-05-21 19:13] gafter opened #2985 "C# Error message incorrectly lists conflicting overloads"
[A customer reports in DevDiv 1171723]

Given the following code

[code]

EXPECTED (copied from VS 2013):
[code]
ACTUAL:
[code]

[2015-05-21 19:15] gafter commented on #2985
This is a quality of diagnostic issue. The Roslyn diagnostic makes little sense - the two named methods don't conflict, as one is more specific. Still, we are correctly identifying an overload resolution issue. Fixing it may be delicate and therefore unsuitable for attempting in VS2015 at this time.

[2015-05-21 19:15] mavasani opened #2987 "Improve cast simplification for pointer conversions and explicit numeric casts in checked/unchecked context"
#2932 conservatively disables cast simplification in presence of pointer conversions and explicit checked/unchecked expressions and statements.

Post 1.0, we should replace these conservative checks with correctly attempting to deduce whether or not cast removal has any semantic changes. This issue tracks that work.

[2015-05-21 19:38] mavasani commented on #2751
@JohnHamby I am unable to repro this with the latest Roslyn bits, so probably it got fixed recently. I am closing this for now and will re-activate if it repros again.
Sorry to take up your investigation time!

[2015-05-21 19:38] #2751 closed

[2015-05-21 19:49] mavasani commented on #2691
Fixed with https://github.com/dotnet/roslyn/commit/b309d296329829e2f8ef4cda4e42ccb547dd6903 in stabilization branch.

[2015-05-21 19:49] #2691 closed

[2015-05-21 19:51] tmat opened #2988 "Compiler crashes when an empty file is specified as a metadata reference"
The root cause is in the PEReader. Bug https://github.com/dotnet/corefx/issues/1815 is tracking that work. It is however trivial (one-line change) to work around in the compiler.

I think we should fix this for RTM - the fix is small and low risk.

[2015-05-21 19:54] erik-kallen opened #2989 "Proposal: Member scoped to property (and event)"
Sometimes I find myself in a position where I want to guard against the use of a backing field from a property, even from the same class. I therefore propose a feature to scope a member to a property (or event) definition. E.g:

    class C {
        public int P {
            int _p;
            get { return _p; }
            set { ValidateNewP(value); _p = value; }
        }

        public void

[2015-05-21 19:55] mavasani commented on #2707
@tmeschter 3. sounds like a good approach to me too.

[2015-05-21 19:59] mavasani opened #2990 "RS0010 is used by two analyzers"
RS0010 is used by two diagnostic analyzers!!! See [RoslynDiagnosticIds](http://source.roslyn.io/Roslyn.Diagnostics.Analyzers/R/6b7b1b44b2f5eae4.html)

[code]

[2015-05-21 20:12] tmat opened #2992 "Throw an ObjectDisposedException instead of an AccessViolationException"
In the following code, Roslyn throws an AccessViolationException on the last line.
[code]

[2015-05-21 20:14] tmat commented on #2992
We have considered a fix that guarantees no AVs, but it turned out to be a lot of work and also we had concerns about its impact on perf.

As @OmerRaviv sugests in https://github.com/dotnet/roslyn/pull/25 we should do a simple cheap check that covers most of the cases.

[2015-05-21 20:16] Przemyslaw-W commented on #2973
Note, in RC it was showing correct value in watch and locals windows. Only tracepoints and evaluation through the IDebugExpression2  API was affected.

[2015-05-21 20:17] dpoeschl opened #2994 "Pass correct itemIDs to IVsSymbolicNavigationNotify"
Related to internal TFS bug 1169405.

Roslyn currently always passes Nil.

Roslyn can either
1. Only pass Nil on generated files (matching Dev12 behavior)
2. Always pass the actual ItemID (probably a better rule to follow, but requires sync with xaml language services)

[2015-05-21 20:39] jaredpar commented on #2979
I tried and was unable to reproduce this using VSPRO_1 22905 patched with the latest Roslyn compilers.  I'm unsurprised though because we've recently made several fixes in this area (and more on the way).

[2015-05-21 20:39] #2979 closed

[2015-05-21 20:44] jaredpar commented on #2983
This is an external issue.  We don't control the rebuild logic in MSBuild.

[2015-05-21 20:50] jaredpar commented on #2780
Thanks for taking the time to report this issue!

[2015-05-21 21:08] bbarry commented on #2989
exact duplicate #850

but yes :+1:

[2015-05-21 21:15] ManishJayaswal commented on #2973
The issue then is probably in the debugger. I will send this over to debugger folks but it would help if you could also send a smile / connect feedback on it.

[2015-05-21 21:38] Pilchie commented on #2990
Funny.  We spent a bunch of time talking about how/whether we should prevent this from happening, and we ended up doing it ourselves.  Interesting that @jasonmalinowski wrote both of those analyzers though...

[2015-05-21 21:57] carlos-j-quintero commented on #2952
@Pilchie @DustinCampbell It also happens with EnvDTE.ProjectItem.FileCodeModel ( EnvDTE80.FileCodeModel2). FWIW, the bug has an easy workaround, so it is not required a fix for RTM if you feel it is risky.

[2015-05-21 21:58] mavasani commented on #2980
@AArnott @tmeschter @JohnHamby I was able to get a repro for this.

The issue is the StyleCop analyzers package has an analyzer (at least one) with an enabled by default rule, but doesn't register any actions (it has a TODO comment for adding implementation). This wasn't handled properly in our compiler analyzer driver and it was crashing out without executing any analyzers! I plan to:

1. Send a

[2015-05-21 22:07] tmat opened #2999 "EnC: after an edit is applied during exception handling the first statement following the handler is not stepped on"
Repro:

1) Place a breakpoint on the catch clause as indicated in the code below and F5.
2) Update ```Console.WriteLine(2)``` to ```Console.WriteLine(20)```.
3) F10 steps to ```{```
4) F10 steps to ```}```
5) F10 steps to ```Console.WriteLine(20);```, but it should step to ```Console.WriteLine(1)```

Repeating the repro steps 1-4 but placing breakpoint on ```Console.WriteLine(1)``` will result in

[2015-05-21 22:19] #964 closed

[2015-05-21 22:25] mavasani opened #3001 "Assert fired at Microsoft.CodeAnalysis.Diagnostics.AnalyzerDriver.ProcessCompilationEventsCoreAsync"
I hit the below assert while self-building Roslyn.sln with debug bits of Roslyn compiler as the toolset. This doesn't seem to affect release build of the compilers (from the same sources), so probably the assert needs to be re-adjusted here...

Below assert fires:
[code]

**Call stack:**

 	[Resuming Async Method]
 	mscorlib.dll!System.Threading.ExecutionContext.RunInternal(System.Threading.Execut

[2015-05-21 22:28] rchande commented on #44
The new plan here is:

The dashboard isn't focused by default. F2 within a rename field focuses it, F2 outside a rename field commits and tries to start a new session.

[2015-05-21 22:36] AlekseyTs commented on #2662
@balajikris Please verify.

[2015-05-21 22:36] #2662 closed

[2015-05-21 22:53] gafter opened #3003 "Dead assignment in VB compiler conversion from double to long"
See https://github.com/dotnet/roslyn/blob/b2addcbb2479453adf0ec1430948d63d0d25d44f/src/Compilers/VisualBasic/Portable/Semantics/CompileTimeCalculations.vb#L636

The assignment is dead, as the variable is unconditionally overwritten before being used again.

[2015-05-21 22:59] mavasani opened #3005 "Bubble up such exceptions in analyzer driver as diagnostics instead of swallowing them up"
This work item tracks Item (2) in [this](https://github.com/dotnet/roslyn/issues/2980#issuecomment-104433576) comment

[2015-05-21 23:01] jasonmalinowski commented on #2990
Yep, I wrote them at separate times in separate branches, and when I rebased 349040ab32512ada3fc03d90091323d98e69c1e7 I failed to properly merge it. Oops.

[2015-05-21 23:13] agocke opened #3006 "Start building RTM nuget package versions w/out prerelease"

[2015-05-21 23:14] agocke opened #3007 "Update version from 1.0.0 to 1.1.0 and prerelease tag from rc to beta"
The prerelease change should be in master and future.

[2015-05-21 23:29] whoisj opened #3008 "Method Signature Markup for Declaring Reference Ownership Intent"
C# is a managed language. One of the primary things that's “managed” is memory, a key resource that programs require. Programs are able to request memory from the system and that memory can be reclaimed automatically by the system's garbage collector (GC). The GC can only perform its job correctly when references, which is uses to determine if memory is used or available for collection, are manage

[2015-05-21 23:35] mavasani commented on #2980
Fixed by https://github.com/dotnet/roslyn/commit/96bbb86dd1f216cef0d7a8500b063b76c6b7366b in stabilization branch.

[2015-05-21 23:35] #2980 closed

[2015-05-21 23:38] DustinCampbell commented on #2893
Fixed with PR #2996.

[2015-05-21 23:38] #2893 closed

[2015-05-22 00:13] #2891 closed

[2015-05-22 00:19] troyji opened #3012 "Proposal: Meta-Contracts for Dynamics (For Tooling Improvements)"
### Problem

Sometimes you are working with an object whose type you do not know, but know something about.  For instance, I may be working with a `dynamic` object, but I may know that there will be a `FirstName` and `LastName` property.  It would be nice to have a way to inform the tooling about the extra information that you know by declaring meta-contract information.
### Problem domain
- JSON

[2015-05-22 00:30] #300 closed

[2015-05-22 00:30] srivatsn commented on #300
This has been fixed now.

[2015-05-22 01:20] KKhurin commented on #2887
The binder list grows unboundly...
@rynowak is this intended use of the runtime builder?

[2015-05-22 01:21] joj commented on #2934
I'm looking into a way of doing this externally with the current bits. I think I may be able to achieve the same behaviour by implementing an ISuggestedActionSourceProvider. That wouldn't be needed, though, if the default implementation imported something (anything) with an Apply method :)

One thing I'd love to do is to provide a DeleteCode annotation, so code that is not really safe to delete af

[2015-05-22 01:24] rynowak commented on #2887
There's not enough information there to really tell what code is generating this.

My **guess** is that this is coming from callsites in Razor code that access `ViewBag`. This is a very typical Razor pattern, and virtually all user sites will have this kind of code. Can you try to repro after removing all calls to `ViewBag from the layout page and the view?

This isn't a solution, but it will help

[2015-05-22 01:24] Pilchie commented on #2934
Another option here might be to write your own host specific `CodeActionOperation` and have your fix return that after the one to change the code which finds your span and highlights it.

[2015-05-22 01:37] joj commented on #2934
Yeah, or the CodeAction directly, and then I can implement the PostProcess method, which sounds isolated and nice and exactly what I need :) Exposing the edit handler would be more generic, though... but I'm not sure there's an advantage to that.

I need to try some code out and do some thinking to find a clean reusable solution but I will sadly not have time to do it until the weekend.

[2015-05-22 01:55] Suchiman commented on #3012
Sounds like ducktyping, is overlapping with #2146 and #15

[2015-05-22 02:13] AdamSpeight2008 opened #3015 "[Idea] Async Properties"
AFAIK it is currently not possible to have async properties in vb.net (and C#?), as result it isn't possible to implement asynchronous indexes. Some times I like to have indexers the are used for index position lookup of data, maybe from a file. It been used common in code that to keep the code concise I'll implement it as an Indexer.

Async on `Read Write` properties would be I think a little com

[2015-05-22 02:23] AdamSpeight2008 commented on #2981
I was think that we could add a `narrowing ctype` cast to `task<t>`.
By constraining `<T where T : U >`  then realised that to do that it has to implement as a property and we currently don't permit generic args on properties.

[2015-05-22 02:42] gafter commented on #2974
@breyed You appear to be proposing something but you stop short of telling us what your proposal is. Can you please give an example of the syntax you propose would be supported (in addition to what is already supported, presumably).

[2015-05-22 02:57] #2630 closed

[2015-05-22 02:57] #2928 closed

[2015-05-22 02:57] sharwell commented on #2974
I disagree with the premise. If C# mandated that indentation match the braces, then you would certainly violate DRY. This is not the case. Only the braces determine scope, and only one set of braces is required for each scope.

[2015-05-22 03:11] troyji commented on #3012
Similarities with #13

[2015-05-22 03:29] Pilchie commented on #3012
This is definitely something that we want to think about.

[2015-05-22 04:35] chrisaut commented on #2981
TBH I don't understand what you mean by "narrowing ctype". It seems to be a custom, special cased solution for Task.

I think the only proper solution that will play nice with all the other language covariant scenarios is to do this properly by either creating interfaces as I suggested, or somehow add the ability to mark classes themselves as co/contravariant (check only public members) but I'm no

[2015-05-22 04:36] GeirGrusom commented on #3015
I think you can already achieve this. Use an internal async function and just return that task in the property or indexer. You can even have an async setter if you like.

You can't mark a property as async, but you don't really have to.

[2015-05-22 06:41] SolalPirelli commented on #3012
Jon Skeet talked about this back in 2008: http://blogs.msmvps.com/jonskeet/2008/10/30/c-4-0-dynamic-lt-t-gt/

[2015-05-22 07:09] ilmax commented on #2981
+1 on this

[2015-05-22 09:23] dbolkensteyn commented on #2576
Thank you @mavasani

[2015-05-22 09:39] alexsorokoletov commented on #1781
@jaredpar I tried doing these redirects on my own (back there, not with current master) and it was quite hard. I had to sit with reflector and xml editor and write each and every redirect on my own.
Is there a ready working "redirects" template?

[2015-05-22 11:34] breyed commented on #2974
Since C# ignores whitespace when determining structure, it is DRY in its normative definition, as @sharwell points out. However, if you write code without repeating yourself you will have unindented and unmaintainable code. So we repeat the C# structure with whitespace, in a variety of styles, as @whoisj shared. Eliminating the redundancy and stylistic differences would both be a productivity boos

[2015-05-22 11:42] codespare commented on #2908
Hello, I posted an attempt at isolating the issue at https://gist.github.com/codespare/3d8f27231ddcb61eba97
The first file is the source, the second file part of the compiled source decompiled with ILSpy.
The issue doesn't occur in that version, but I found a difference with the decompiled version of the source with issue.
Where the decompiled source without issue goes:
		public TypeDummy(List<Typ

[2015-05-22 13:14] RonPenton commented on #2856
Not sure if this makes a difference, but I have been playing around with this a bit more. I got the latest dev assemblies for everything and tried running that, only this time I get a Missing Method Exception for DesktopAssemblyIdentityComparer.Default.

So I looked into this a bit more, and found that the assembly this is being loaded from is:

C:\Users\Ron\.dnx\runtimes\dnx-clr-win-x86.1.0.0-bet

[2015-05-22 13:18] sharwell commented on #2974
I don't do that. I type the syntax specified by the language, and the editor places it in a logical layout that matches what I typed. Indentation-based layout still requires the programming to type characters when changing scope, but relocates these scope-identifying characters from `{` and `}` to <kbd>Tab</kbd> and <kbd>Backspace</kbd>. This represents a reduction in ergonomic efficiency.

If you

[2015-05-22 13:20] RonPenton commented on #2856
One more update. It seems there was another DNX released since I got latest last night, v11855. Installed that, and the initial example now works. So hooray for that.

[2015-05-22 13:20] #2856 closed

[2015-05-22 13:22] HaloFour commented on #2974
Note that braces do not indicate scope.  They indicate blocks.  The scoping applies to a single statement, and a block qualifies as a statement.

As whitespace is entirely optional as is indentation.  Yes, there are various common styles used to indicate scope, but there are also many instances where one may want to deviate from a style where it makes the syntax visually clearer.  If whitespace di

[2015-05-22 13:26] sharwell commented on #2974
@HaloFour I'm using the term in a more abstract sense to refer to lexical scope. Even in C#, however, the term "blocks" can be confusing because that's not a standard way to refer to the braces of a `namespace` declaration.

[2015-05-22 13:48] breyed commented on #2974
@HaloFour I've written a fair amount of Python and F# and have yet to encounter a case where I've wanted to indent in a way contrary to the language's rules. Can you provide an example where indent-defined structure would be overly constraining?

[2015-05-22 14:15] svick commented on #3008
I think that this would complicate the language too much just to fix a relatively rare issue. A significant benefit of GC is that you usually don't have to think about references too much, it just works.

And your proposal probably wouldn't even fix the issue completely. Consider a LINQ method like `Enumerable.Select()`: it takes a reference to a lambda (which in turn can reference some local vari

[2015-05-22 14:28] svick commented on #2981
I have created [a UserVoice suggestion](https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/5754247-make-task-t-implement-covariant-interface-itask-o) for this some time ago.

[2015-05-22 14:53] bbarry commented on #3012
You aren't really casting here or anything like that, it almost seems like a specific case of pattern matching. I think the syntaxes should align (#206).

[2015-05-22 15:05] viniciusjarina opened #3019 "[Feature] Extension Properties."
Extension methods are very useful, but sometimes you want to extend a type with a property

References: http://blogs.msdn.com/b/ericlippert/archive/2009/10/05/why-no-extension-properties.aspx
http://stackoverflow.com/questions/619033/does-c-sharp-have-extension-properties

[2015-05-22 15:06] OzieGamma commented on #3015
Properties should **only** be used for:
- Values that can immediately be retrieved from memory
- Values that can easily be computed in a short time

Exception can be made (Eg. cashed data, which can be slow the first time it is accessed).
Those are of course only guidelines.
Here is Microsoft's opinion on it;

### Properties vs. Methods

Class library designers often must decide between implementi

[2015-05-22 15:19] codespare commented on #2908
As it turns out, looking at the IL for the example above, ILSpy decompilation is not very fidel. https://gist.github.com/codespare/294f22f195246ad79c3b has the IL for the source compiled with code contract runtime contract checking set to full, which asserts with 'Fail: Precondition failed: key != null  key', and the IL for the source compiled with code contract runtime checking set to none, that

[2015-05-22 15:24] tmeschter opened #3020 "AnalyzerDependencyChecker creates spurious warnings in the Error List"
Analyzer assemblies with code fixes end up with a reference to System.Composition.AttributedModel. The `AnalyzerDependencyChecker` verifies that all of an analyzer assembly's references are either satisfied by other analyzer assemblies, or are already loaded in the process. System.Composition.AttributedModel ships with VS but may not be loaded when this check is performed, leading us to create an

[2015-05-22 15:39] lgolding opened #3021 "Upgrading NuGet.CommandLine breaks Analyzer project"
Repro:
1. Create a project from the "Analyzer with Code Fix (NuGet + VSIX)" template
2. Build the project: it succeeds.
3. In Solution Explorer, right-click the Analyzer project node and select Manage NuGet packages.
4. In NuGet package manager, upgrade NuGet.CommandLine from 2.8.2 (which comes in the template) to latest available (2.8.5 at time of this writing).

Expected: I can still build my pr

[2015-05-22 15:41] sharwell commented on #3021
This is completely fixed if the templates adopt the second suggestion I made in [this comment](https://github.com/dotnet/roslyn/issues/2710#issuecomment-101795942) (using the NuGet package I created for packaging NuGet packages from the output of a single project).

[2015-05-22 15:42] ljw1004 commented on #2834
The current behavior of `nameof` is very similar to the behavior of `var`...

This works fine:
[code]

And this gives an error that it can't convert '15' to Var2.var:
[code]

I think this is great! And it matches my expectation!

[2015-05-22 15:43] sharwell commented on #3019
Duplicate of #112.

[2015-05-22 15:46] sharwell commented on #3019
(By the way @viniciusjarina, duplicates are fine. We don't expect you to automatically know what the 3018 items created before yours was, although a search is advised. If you add your support to an existing proposal it helps build momentum. :smile: )

[2015-05-22 15:48] tmeschter opened #3023 "AnalyzerDependencyChecker warnings should use relative paths"
`AnalyzerDependencyChecker` creates warnings like these:

Instead of using the full path to the analyzer assembly, we should use the relative path from the project to the assembly. I expect this will be shorter and make the warning easier to read.

This is how the warnings currently look in the Error List:
![image](https://cloud.githubusercontent.com/assets/10506730/7774304/14ea5ba0-005f-11e5-9699

[2015-05-22 15:49] ulrichb opened #3024 "Slow performance in ImportAdder + Simplifier + Formatter combination"
In Roslyn 1.0.0-rc2, calling `ImportAdder`, `Simplifier`, and `Formatter` after each other on a C# document with about 1000 lines of code takes nearly a second.

Repro sample: https://gist.github.com/ulrichb/8ec9737d75c7f9fce741

Timing results (executed multiple times to eliminate one-time effects):

[code]

In our scenario, this becomes a problem because we need to format hundreds of files at on

[2015-05-22 15:54] Pilchie commented on #2048
We have a new toolset now.

[2015-05-22 15:54] tmeschter commented on #2983
@jaredpar That's not quite true. We own the core .targets files for C# and VB. It's up to us to tell MSBuild what our inputs and outputs are. If we're not doing that with additional files then MSBuild will have no idea that a change in an additional file requires a rebuild.

Once we've verified that the .targets files properly capture additional files as inputs, we can move this back to Area-Exter

[2015-05-22 15:55] mattwar commented on #2974
It's a good thing my socks are DRY then, ... oh wait.

[2015-05-22 16:09] ljw1004 commented on #2828
Imagine if you had
[code]

Under this proposal, the method "Handle" would now appear in *every single* intellisense drop-down completion list, for every kind of object. For instance `Dim x = "hello" : x.Handle(...)`.

I wouldn't like that at all!

[2015-05-22 16:09] #2828 closed

[2015-05-22 16:12] whoisj commented on #3008
I don't see this as a complication, especially if the second option is provided because only storage classes would need to be updated. Honestly, this would not be needed if the lifetime of objects could be controlled - but over reliance on the GC limits our ability to do so.

@svick, in your example the LINQ query would be scoped correctly, thus there would be no issues unless the results were to

[2015-05-22 16:12] Pilchie opened #3025 "Brace Matching should format embedded statement owner when inserting braces"
From https://connect.microsoft.com/VisualStudio/feedback/details/1338564/connect-formatting-issue.

When automatic brace completion reformats on enter after it inserts the `}`, it only formats the span from `{` to `}`.  With normal format on '}`, we extend the span to the embedded statement owner if there is one.

We should do the same here.

[2015-05-22 16:16] dpaoliello commented on #2569
Ping?
I've submitted a pull request with the fix - can someone please have a look at it?

[2015-05-22 16:16] whoisj commented on #2974
@breyed in my examples, there's nothing "unproductive" about any of them. Simple tools like Astyle and complex IDEs like Visual Studio can be set to automatically format your code. Give the ease by which each developer can format code (so long as whitespace is a non-issue), I completely do not understand your logic.

If whitespace were difficult to manage or a requirement for doing work, I'd agree

[2015-05-22 16:21] lgolding opened #3026 "Analyzer .nuspec file hardcodes values that should come from assembly attributes"
Repro:
1. Create a project from the "Analyzer with Code Fix (NuGet + VSIX)" template.
2. Build the project.
3. In the output directory, rename the .nupkg to .zip, open the zip file, and examine the .nuspec file. Note that it specifies version=1.0.0.0 and authors={project name}.
4. Modify AssemblyInfo.cs, setting (for example) AssemblyVersion=2.0.* and AssemblyCompany=Contoso
5. Rebuild the project

[2015-05-22 16:34] mavasani opened #3027 "NRE at Microsoft.CodeAnalysis.CSharp.Diagnostics.CSharpUnboundIdentifiersDiagnosticAnalyzer.ConstructorDoesNotExist"
I saw the following in my error list:

[code]

'System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.CodeAnalysis.CSharp.Diagnostics.CSharpUnboundIdentifiersDiagnosticAnalyzer.ConstructorDoesNotExist(SyntaxNode node, SymbolInfo info, SemanticModel model)
   at Microsoft.CodeAnalysis.Diagnostics.AddImport.UnboundIdentifiersDiagnosticAnalyzerBase`5.Rep

[2015-05-22 16:43] viniciusjarina commented on #3019
Hey @sharwell I did a superficial search, and didn't find Sorry :wink:

[2015-05-22 16:43] #3019 closed

[2015-05-22 16:58] OzieGamma commented on #3008
Isn't the whole point of a managed language, not having to care about memory management ?
This would make the language more complicated without any real benefit.
You'll still have to 'trust' that libraries don't use slow algorithms, have an efficient implementation ect ...

[2015-05-22 17:17] AArnott commented on #2980
Yay. Thanks, @mavasani

[2015-05-22 17:18] amcasey opened #3030 "Assert in EngineV1.DiagnosticIncrementalAnalyzer.StateManager.VerifyDiagnosticStates"
Microsoft.CodeAnalysis.Features.dll!Microsoft.CodeAnalysis.Diagnostics.EngineV1.DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.VerifyDiagnosticStates(System.Collections.Generic.IEnumerable<Microsoft.CodeAnalysis.Diagnostics.EngineV1.DiagnosticIncrementalAnalyzer.StateSet> stateSets) Line 219	C#
 	Microsoft.CodeAnalysis.Features.dll!Microsoft.CodeAnalysis.Diagnostics.EngineV1.DiagnosticIn

[2015-05-22 17:18] amcasey commented on #3030
I just opened CSharpCompletionService.cs.

[2015-05-22 17:18] amcasey commented on #3030
FYI @heejaechang @mavasani

[2015-05-22 17:19] amcasey commented on #3030
Dump is at %mymachine%/Dumps/DiagnosticAssert20150522.dmp.  Symbols are adjacent.

[2015-05-22 17:44] MadsTorgersen commented on #2834
Agreed with Lucian! This is by design. We already have a distinction between "invokable" and not, that we use in member lookup. We feel that is right to apply here as well. Thereby we are keeping the case of the nameof feature being blocked to a very narrow compatibility scenario.

[2015-05-22 17:44] #2834 closed

[2015-05-22 17:47] tmeschter opened #3033 "Links from Error List et all should not open in VS"
We should not be opening links from the Error List, Light Bulb previews, or Solution Explorer using the in-VS browser. Instead, we should open these links using the system browser via `IVsUIShellOpenDocument.OpenStandardPreviewer()` or `Microsoft.VisualStudio.Shell.VsShellUtilties.OpenSystemBrowser()`.

[2015-05-22 17:54] mattwar commented on #2779
@JoshVarty it looks like a bug we had not adding a few properties to msbuild is causing this to fail.  This has already been fixed for RTM.   You can work around the problem by passing these properties into the msbuild workspace.

"DesignTimeBuild" = "true"
"BuildingInsideVisualStudio" = "true"

[2015-05-22 18:03] mattwar opened #3034 "Msbuild workspace fails to load projects properly when running older tasks."
msbuild.exe and devenv.exe use redirects in config files so that msbuild tasks built against older versions of msbuild API can load & run in the process.  In order to get any app that uses msbuild API or roslyn's msbuild workspace to function correctly, the same redirects must exist in the users app's config file too.

This is an obscure and non-obvious solution.  We should do better.

We can make

[2015-05-22 18:07] jaredpar commented on #2908
@codespare thanks for taking the time to report the issue and get a minimal repro for us.  I took a look and this doesn't appear to be an issue with the Roslyn compiler but instead with Code Contracts.

To verify this I created the following minimal repro which uses a hand coded version of `Contract.Requires` and added output if any of the contracts failed.

Running this using the latest Roslyn co

[2015-05-22 18:07] #2908 closed

[2015-05-22 18:18] mattwar opened #3035 "Add msbuild redirects to workspace unit tests"
This will enable the skipped msbuild workspace test that contains xaml to open the project correctly.

[2015-05-22 18:19] leppie commented on #2834
`nameof` should be identical in behavior to `typeof` in a lexical sense in my opinion. It is much more specific construct than `var`.

[2015-05-22 18:27] #2822 closed

[2015-05-22 19:15] artl93 commented on #3033
This will let you address the issue that the built-in browser is forever stuck in IE7 quirks mode.

[2015-05-22 19:19] Joe4evr commented on #2974
LINQ method chaining?
[code]
If I wasn't allowed to line up the dots because "it's contrary to the language's indentation rules", then it wouldn't be visually pleasing in the slightest.

[2015-05-22 19:45] mavasani commented on #248
@ManishJayaswal @srivatsn @JohnHamby I just attempted to write a compilation end analyzer with a nested syntax node action and hit this particular issue in the IDE, causing my analyzer to either crash or report duplicate diagnostics due to duplicate callbacks.
IDE invokes the syntax node actions which computing diagnostics for active document, and then when computing compilation end diagnostics, i

[2015-05-22 19:58] MgSam commented on #2981
+1 Although I think this probably belongs in the .NET repo and not Roslyn. I remember reading WinRT had something to do with why Task<T> wasn't covariant. I always thought that was such a shame, given WinRT is such a narrow slice of the overall usage of .NET.

[2015-05-22 20:22] KevinH-MS commented on #2916
In ```VenusCommandFilter.GetDataTipText```, we only consider spans with Length 1 when mapping down from the data buffer to the subject buffer.  If I change the check to match spans with Length 0, everthing *seems* to work.  Investigating why the length of the Span is 0 instead of 1...

[2015-05-22 20:56] AlekseyTs commented on #2780
This looks like a bug in VS 2013 compiler. So far, the only scenario I found where an expression ``` CDate(CStr(Nothing))``` is emitted as an empty DateTime is when it is used on the right hand side of an assignment. In other contexts, the VS 2013 and VS 2015 emit similar code. For example:
[code]

Is emitted as
[code]

[2015-05-22 21:03] gafter commented on #2909
This is being discussed by the Compat Council.

Or perhaps it is the compat council who is discussing it...

[2015-05-22 21:03] breyed commented on #2974
@Joe4evr An intent-defined structure can support multi-line fluent APIs. A lightweight C# can use more than just indents to indicate expression continuation (a "." in this case). F# does this. For example, the following is valid F# lightweight syntax:

    db.Posts.Where(fun p -> p.User = user)
            .OrderByDescending(fun p -> p.Date)
            .Take(10)
            .Select(fun p -> (

[2015-05-22 21:13] AlekseyTs commented on #2793
@gafter Please verify.

[2015-05-22 21:14] #2793 closed

[2015-05-22 21:15] AlekseyTs commented on #2774
@amcasey Please verify.

[2015-05-22 21:15] #2774 closed

[2015-05-22 21:27] wholroyd opened #3049 "Consider ability to support additional languages"
I would like to be able to make use of the Roslyn platform to either create my own language or migrate another existing .NET language (Boo, Nemerle, IronRuby, IronPython, etc) onto the platform. However the architecture of the project doesn't seem to be very friendly to such an endeavor as it's very much tied to supporting two hard-coded languages.

[2015-05-22 21:31] mavasani commented on #248
Moving to reconsider for 1.0. If it doesn't meet the bar, we should at least document this.

[2015-05-22 21:36] #2992 closed

[2015-05-22 21:37] #2988 closed

[2015-05-22 21:38] #1979 closed

[2015-05-22 21:38] #2911 closed

[2015-05-22 21:47] tmeschter opened #3051 "Need binding redirects for csc.exe/vbc.exe/vbcscompiler.exe"
Now that we're moving master to be version 1.1 (see #3028) we need binding redirects for csc.exe, vbc.exe, and vbcscompiler.exe so that analyzers built against version 1.0 continue to work against the newer versions.

[2015-05-22 21:50] HaloFour commented on #2974
*You keep using this word [lightweight].  I don't think it means what you think it means.*

What does the following mean in CoffeeScript?

[code]

Answer: completely depends on the version of the transpiler.

And for fun, in order to override the stupidity of the whitespace-sensitivity you had to know two different syntaxes and know when to apply which in order to override the behavior.

Do not wa

[2015-05-22 22:06] whoisj commented on #3008
@OzieGamma that's true, we do still have to trust that libraries use efficient algorithms, etc.

However, I still find myself wishing I could put a contract on the API I write which guarantees that I won't hold a reference on my caller's objects.

[2015-05-22 22:18] JohnHamby commented on #248
If it is possible to fix this for RTM, we should take a shot at it. Manish is correct--this issue will cause trouble.

[2015-05-22 22:54] #2866 closed

[2015-05-23 00:02] Vannevelj commented on #2235
Hey guys, I just came across this issue while looking into creating a Code Fix for, well, the same analyzer you've been making as well. I've been comparing my analyzer to yours and I was interested in hearing your feedback on it. If this code is of adequate quality then I'd be happy to contribute it of course, though I'd like eyes on it first.

	using System;
	using System.Collections.Immutable;

[2015-05-23 00:35] gafter commented on #2909
In the user's test case, the two enum constants have the same value, and the second one is marked [Obsolete]. I'll investigate accepting such programs and always picking the first member found of the given name (only in the particular case of conflicting enum constants that have the same value).

[2015-05-23 01:37] Vannevelj commented on #2557
@mattwar I have found the culprit! Namely: me. In my unit tests, the strings were defined as such:

            var original = @"
        using System;
        using System.Text;

        namespace ConsoleApplication1
        {
            class MyClass
            {
                void Method(Nullable<int> myVar = 5)
                {

                }
            }
        }";

Notice the extr

[2015-05-23 04:08] KevinH-MS commented on #2916
It is correct that the length of the Span should be 0.  The number of spans that we are passed as an argument should be 1.  I think the original author may have conflated the two...

[2015-05-23 04:41] KalitaAlexey commented on #2944
Reflection is slow. I think (templates|traits) would make much more effort

[2015-05-23 04:50] codespare commented on #2908
And it's sorted out in 1.0.0-rc3-20150510-02. Thanks.

[2015-05-23 05:48] breyed commented on #2974
C# is becoming more DRY in general. The proposals in C# 6.0 and 7.0 for import of static type members into namespace, auto property initializers, default values for getter-only properties, and declaration expressions, all remove redundancy without adding any new functionality. Depending on your choice of editor and plug-ins, your tooling will generate much of this redundant code for you (as is the

[2015-05-23 09:32] ManishJayaswal commented on #248
@mavasani  Let's take a stab at a fix for this and see how risky the change is.

[2015-05-23 11:59] dsaf commented on #2944
@KalitaAlexey Performance of reflection is not necessarily a problem. Roslyn is using it, ASP.NET is using it, Entity Framework is using it, most of IoC containers are using it - all without any problems. Traits are more about defining behaviour rather than a contract. At the moment the closest thing is misusing interfaces AKA "using marker interfaces".

[2015-05-23 12:05] dsaf commented on #3015
@OzieGamma To be fair that guidance was created long time ago. Probably even before ```Lazy<T>``` was introduced. If I will see an ```async``` property it will communicate to me that the operation is probably expensive. So it's not misleading. That being said, I don't see myself using async properties.

[2015-05-23 12:17] dsaf commented on #2974
I personally prefer C# syntax over F# syntax, deriving from OCAML was a mistake. More concise != more readable. Besides, there is already a lot of arguing about the best way to format code in current C#. Adding an extra option will make it only worse.

PS: @breyed - I noticed you are using punctuation in your English, those commas and round brackets are non-DRY too, but they do improve readability

[2015-05-23 14:09] breyed commented on #2974
Please forgive, @dsaf, in advance, but I just can't resist: punctuation in English is more normative than I think you realize. For example, the commas around your username in this comment indicate its use as an appositive (rather than a direct object as it would be without surrounding commas). The punctuation changes the meaning entirely. Your postscript is a comma splice (a type of run-on sentenc

[2015-05-23 15:25] HaloFour commented on #2974
@breyed Speaking of syntaxes that have evolved over time.  If you rigorously apply what is taught in academia today to English texts written a century ago it wouldn't make much sense.

You've still yet to propose an alternate syntax.  You have one short example, but all you've done is replace a `{` with a `:`.  You have no choice but to not be DRY given that the lack of anything already has specif

[2015-05-23 15:41] whoisj commented on #3015
@OzzieGamma in theory that makes sense. In practice it is nonsense. Objects can have read only values which make perfect, logical sense but need to use IO to get the data. Imagine software like Git implemented in C#, a Commit object could have  Tree property, but it would require IO to lazy load the object, so instead developers would implement a GetTree() method. Syntactically ugly for no reason

[2015-05-23 16:06] OzieGamma commented on #3015
@whoisj I mentioned cachable data as an exception to the guidelines.

How would you use async properties ?

I don't see myself writing:
[code]
The user shouldn't be able to make the distinction between a property and a variable. It just feels weird to me. Eg:
[code]

What's that supposed to mean ? Is count retrieved each time ? As I user, I expect properties to be cheap: I expect to be able to cal

[2015-05-23 16:15] YaakovDavis opened #3058 "Symbol equality"
It seems like 2 logically equivalent symbols from 2 different compilations are considered "unequal" in the current API.

This makes it hard to rewrite existing code, since you don't have a reliable way of comparing symbols.

Say I have syntax tree T1, containg a class C1.
I calculated S1, the symbol for C1.

Now I modified T1 to get T2, and I want to check all references to C1.
I can't use S1 anym

[2015-05-23 16:42] mattwar commented on #3058
While its not the same thing as SymbolEquivalenceComparer, there is a few API's that could help.

In Microsoft.CodeAnalysis.Editing there is a type SymbolEditor with the API GetCurrentSymbolAsync that will find you the current symbol in the latest solution that corresponds to a symbol from a previous solution.

If aren't working with solutions, you could also try the API that the SymbolEditor uses

[2015-05-23 16:51] Jake456 commented on #3058
Thanks, I'll check out the mentioned APIs.

[2015-05-23 18:16] Jake456 commented on #3058
The types in the .Editing namespace do seem to help with tree editing.

What's missing IMO is a ProjectEditor, that allows you to get the current Compilation after an edit.

Or is there something like this already available? Is there an easy way to get a fresh compilation after editing a node in a single tree?

[2015-05-23 19:48] gandarez commented on #1162
tks for the web link!

[2015-05-23 20:06] HaloFour commented on #2930
Noodle bakin' time:

How about local functions within lambda bodies?  :wink:

[2015-05-23 20:29] dsaf commented on #263
@gafter

Please find my take at requested lexical grammar below (includes portions of existing grammar for context, three dots indicate omitted text). Could you please re-open (unless it's better to create a new one)?

<hr>
...
*operator-declaration:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;attributes<sub>opt</sub>&nbsp;&nbsp;&nbsp;operator-modifiers&nbsp;&nbsp;&nbsp;operator-declarator&nbsp;&nbsp;&nbsp;oper

[2015-05-23 20:34] dsaf commented on #215
@MadsTorgersen Please consider #263 for C# 7 as well. It's currently closed due to absence of lexical grammar, but I have just submitted a draft one.

[2015-05-23 20:35] dsaf commented on #263
Maybe this could be a more general feature of C# 7 subsuming the #215?

[2015-05-23 23:27] mattwar commented on #3058
You can use the DocumentEditor to get the changed document, and then do doc.Project to get the project from it, or manually do it with doc.WithSyntaxRoot. Every time you update a document with new tree nodes, you get a new project and solution too.  From a new project you can always get the updated compilation with project.GetCompilationAsync.  Note, you can also bypass the doc & project altogethe

[2015-05-23 23:38] Jake456 commented on #3058
Sure, but if I rely on docEditor.GetChangedDocument().Project I lose the ability to centralize the changes.

Say I modified doc1, and then made another modification to doc2.
Calling the above from both docs will yield 2 different projects.

I thought the whole point of the *Editor classes is to "fake" a mutable wrapper on top on immutable objects.

SolutionEditor provides a nice solution (hmm..) a

[2015-05-23 23:51] azchohfi opened #3061 "VSIX packages links are not working"
http://visualstudiogallery.msdn.microsoft.com/849f3ab1-05cf-4682-b4af-ef995e2aa1a5
http://visualstudiogallery.msdn.microsoft.com/70e184da-9b3a-402f-b210-d62a898e2887

None of the download links are working. Still, you can download the packages thru VS extension explorer.

[2015-05-24 01:08] D3-LucaPiombino commented on #2060
I am also very much interested in allowing statement-body like @VictorBlomberg for dsl purposes.
It would open some interesting scenarios in manipulating expression trees that right now are a pain.

[2015-05-24 01:10] JoshVarty commented on #2779
I've tried to verify that these properties are a workaround via:

[code]

I'm now receiving two (identical) errors:

[code]

Should the workaround work with RC?

[2015-05-24 01:27] Pilchie commented on #2779
And does this happen with *any* solution you try to open?

[2015-05-24 02:08] JoshVarty commented on #2779
A couple things here:
 - No this doesn't happen with any solution I open. I actually can only repro it on a brand new WPF project. If I open an older solution with a mix of projects (one XAML, some Class Libraries) I can't reproduce the error.
 - I just tested the workaround in a VSPackage and I did not receive any errors. (No errors on either brand new WPF project or the mixed project).
 - The de

[2015-05-24 02:48] pdelvo opened #3062 "The debugger display for sizeof is inconsistent"
Consider this code:
[code]
[code]
Both files have to be in different assemblies. The WriteLine will print 1, but the debugger display and the intermediate window will show 0 for the sizeof expression.

[2015-05-24 02:59] pdelvo opened #3063 "using an empty namespace in a different assembly does not produce a helpfull error message"
Consider this code:

[code]

[code]

Both files have to be in different projects. When you try to compile it in VS or with msbuild, csc will just return error code 1. The problem is the using Assembly2 in the first file. The namespace Assembly2 is empty.

[2015-05-24 06:58] jmarolf commented on #3061
I unlisted the old VSIX so people would not accidentally use then in newer builds, but could still access them from the old builds.  These are the links for CTP 6 [ [Vizualizer](https://visualstudiogallery.msdn.microsoft.com/0f18f8c3-ec79-468a-968f-a1a0ee65b388), [SDK](https://visualstudiogallery.msdn.microsoft.com/ecefb773-36a6-4316-98db-4a87ed8cf5dc)] and RC [[Vizualizer](https://visualstudiogal

[2015-05-24 09:34] h82258652 commented on #2331
How about this?
[code]

use "," to split each using.
all statements must return a disposeable object.
and second statement can use first statement variable, third can use second...

[2015-05-24 11:22] miloush opened #3064 "Compilation without generics"
The C#/VB compilation teams used to be pretty keen on supporting compilation for runtime without generics support, for example, using pattern-based approaches.

The Roslyn compiler does not seem to really care, and while probably nobody builds desktop CLR 1.x applications, the .NET Micro Framework's CLR does not support generics for limited resources reasons and currently needs to use the old comp

[2015-05-24 13:07] JohnnyBravo75 commented on #101
This is one of my top wishes, because memory leak through event handlers are very common.

And the other way around? I declare an event as weak, not the subscribers, so the subscribers can only listen as long as the event is alive and fired?

`
public weak event EventHandler<CustomEventArgs> RaiseCustomEvent;
`

[2015-05-24 13:14] azchohfi commented on #3061
Thanks!

[2015-05-24 13:14] #3061 closed

[2015-05-24 14:58] gafter commented on #263
@dsaf Can you please add some motivating examples and a description of the semantics?

I don't see how that lexical grammar supports the use case described in the original post.

[2015-05-24 16:12] miloush commented on #3064
(Note: The `Interlocked.CompareExchange<T>` issue was fixed with [changeset 1371805](http://roslyn.codeplex.com/SourceControl/changeset/b458647488ef176d879f069cc280bd6d14e583c8).)

[2015-05-24 16:15] mattwar commented on #2779
Do you have the redirects in your config file for the MSBuild dlls?

[2015-05-24 16:46] glennblock commented on #2167
Agreed the identifier gives me an uneasy feeling / feels a big hacky.

[2015-05-24 16:56] gafter commented on #2930
@HaloFour Yes, as you can see from the original issue

[2015-05-24 16:56] svick commented on #101
@JohnnyBravo75 How is that different from normal events? An event is basically just a list of delegates. If the object that holds the list gets GCed, so will the delegates (and potentially also the subscribers).

[2015-05-24 17:03] khyperia commented on #2930
@HaloFour if your question meant within lambdas, not having an ArrowExpressionClause itself, like so:

[code]

then I don't see why not, seeing as the proposal states this, and lambdas can have blocks as bodies:

[2015-05-24 17:29] dazerdude commented on #3015
It would be a little weird, especially in the set case, but you could do it. I'm not sure it justifies itself as a language feature as it adds a fair bit of complexity to properties, while not providing much benefit beyond the syntactic niceness of properties on async functions.

The case I really see for it is the async lazy load case.

This code:
[code]

could become

[code]

Most of the time th

[2015-05-24 18:48] HaloFour commented on #3015
@dazerdude The problem with async setters is that they would be entirely fire-and-forget.  The caller could never know that it failed (or even that it completed).  `async void` was included to allow for async event handlers but I think it was largely a mistake.

[2015-05-24 18:57] dazerdude commented on #3015
I understand that. If I'm not mistaken setters now return the value (so you can chain them). You'd have to have the setters return a Task or Task<T> which would create some really weird expressions.

However, without support for setters I don't see the work justifying itself. To be honest though, I don't really see the work justifying itself with setters for that matter. It's just too complex and

[2015-05-24 19:39] HaloFour commented on #3015
Quite sure they can't return a value.  Chaining property setters wouldn't
syntactically make sense.

On Sun, May 24, 2015, 2:58 PM Hawkwood <notifications@github.com> wrote:

[2015-05-24 20:21] biqas opened #3066 "Weird behavior having two assemblies with same name"
Hi,

I would suggest enhancement options if you reference from a project two different projects with identical assembly name.

1.
It should be avoided through reference explorer with dynamic analysis.

2.
During compilation getting the warning that an assembly is overwritten. (Instead of: MSB6006)

[2015-05-24 20:31] dpoeschl opened #3067 "Seemingly miscalculated EnC rude edit"
![image](https://cloud.githubusercontent.com/assets/235241/7789533/18609e14-0219-11e5-8cb2-5712cecefa3a.png)

[2015-05-24 20:44] AArnott opened #3068 "ASP.NET MVC files in "App_Code" folder get *two* contexts, and many extra errors in error list"
Roslyn appears to get confused and create two Intellisense contexts for just one project in this solution. One of them are incompletely initialized, resulting in several inappropriate errors in the error list.

Repro steps:

1. Git clone https://github.com/AArnott/IronPigeon.git (I'm at HEAD ce8a9d0ee, which is `master` at the moment)
2. Open `src\IronPigeon.sln` using VS2015
3. Build the IronPige

[2015-05-24 21:56] dotMorten commented on #101
@svick it's not different but the reference back often surprises people and causes stuff to "leak". And example is listening to events on static instances. Your class listening will stay in memory for the entire duration of the app. Quite often this isn't intended. Normally when you hold a reference to a static object its fine - your object can still be GC'ed. But because the event handler "points

[2015-05-24 23:44] dpoeschl commented on #3068
This repros on our current basedrop as well.

[2015-05-25 00:11] dpoeschl commented on #3068
I'm not sure where this should be fixed, but here's what I've found so far:

Within the IronPigeon.Relay project, this only repros for files in the ```App_Code``` folder. The Roslyn Solution object contains two relevant projects:
1. The full project:
    * Assembly name: IronPigeon.Relay
    * Contains 32 documents, *including* the App_Code documents
    * References IronPigeon and IronPigeon.Desk

[2015-05-25 00:43] jasonmalinowski commented on #3068
This can sometimes happen if people converted a Web *Site* to a Web *Application* inappropriately, resulting in the build confusion. If the solution is opened in VS 2013, what happens? Does it actually run?

[2015-05-25 01:03] svick commented on #101
@dotMorten Yes, I understand that and I think that some way to fix that should be in the language.

My question was specifically aimed at @JohnnyBravo75's comment about his version of weak event where "the subscribers can only listen as long as the event is alive". Because that's how normal events already work, subscribers don't keep the object with even alive.

[2015-05-25 01:28] AArnott commented on #3068
@jasonmalinowski  VS2013 does not repro the problem.

[2015-05-25 10:22] paulomorgado commented on #3012
I have been requesting that for years, with no luck.

The only difference is that I proposed `dynamic(Type)` in equivalence to `default(Type)` because there isn't any keyword in C# that uses `<Type>`.

There's no need to complicate type specifications. If you need it to implement more that one interface, define one that extends those.

[2015-05-25 10:48] VinothIndian opened #3071 "Remove namespace"
New feature : Add Project wise namespace no need add namespace in each file.

[2015-05-25 14:31] joj commented on #2934
Quick update (more once I finish the code):
It seems to me that the reasonable way to do this is to create my own CodeAction class (AnnotatedCodeAction) that imports an interface that provides CodeActionOperations based on SyntaxAnnotation Kind's in the tree. Then, I override ComputeOperationsAsync, get the ApplyChanges from the base and add my own operations after the changes (before doesn't make

[2015-05-25 14:34] iSynaptic commented on #2060
We now have many different ways to represent code as an object model - CodeDom, LINQ Expression Trees, and now Roslyn.  Since Roslyn is the most complete of all the models (and will continue to be so) is there anyway it could become the basis for lambda expressions going forward?  Perhaps by introducing something like a RoslynExpression<TDelegate> (name not important) in order to support backward

[2015-05-25 15:19] dimaaan commented on #3071
Bad idea :-1:

[2015-05-25 16:23] GSPP opened #3072 "Support the tadpole operators"
VC++ is going to support new arithmetic operators that seem to be exceptionally useful: The tadpole operators (http://blogs.msdn.com/b/oldnewthing/archive/2015/05/25/10616865.aspx).

![t](https://cloud.githubusercontent.com/assets/12032350/7799782/e0f89222-030a-11e5-8bad-f4c5e6a2a6e8.PNG)

C# should support those operators to be aligned with VC++!

[2015-05-25 16:32] pdelvo commented on #3072
I dont really see the value in this. Whats so fundamentally wrong with y + 1/- 1 that it justifies two new operators?

[2015-05-25 16:46] svick commented on #3072
@pdelvo I believe that's the joke. Similar to the "goes to" operator: `while (x --> 0)`.

[2015-05-25 16:48] GSPP commented on #3072
@svick what do you mean by joke? We need the "goes to" operator as well!

[2015-05-25 16:48] pdelvo commented on #3072
With the features that get requested you never know if its meant to be a joke or not ;)

[2015-05-25 17:11] svick commented on #2060
@iSynaptic I wouldn't consider the CodeDOM object model for any new code. It doesn't support even some of the most basic things (like static classes).

And regarding Roslyn and Expression trees, I would actually like to see expression trees expand to be able to do more things (e.g. that you could generate whole types using them), not the other way around, like you're proposing. I think that Expres

[2015-05-25 18:52] VinothIndian commented on #3071
Hello dimaaan ,

Please let me know why this is bad idea ?

Regards,
Vinoth.

[2015-05-25 20:02] glen-84 commented on #347
Does this proposal cover array destructuring? (examples [here](http://roslyn.codeplex.com/discussions/549742))

I also like the simplified syntax for array literals.

[2015-05-25 20:04] mtman commented on #347
Could either tuples or anonymous classes cast to property-only interfaces as in TypeScript?

This would allow to get rid of unnecessary classes in many cases.

[2015-05-25 21:24] dpoeschl opened #3075 "VB TypeInferrer missing some kinds of initializers"
Found during work on PR #3074

For example:

[code]

[2015-05-25 22:34] SunsetQuest commented on #45
+1 for me. I was just searching online for a solution and found this. This would be a nice change. Very often it seems like there are multiple signatures for a function and I can either ....
 - pick a signature and add it - this only shows a single item however
 - use the "O:" trick as it is now but it has drawbacks (not checked, more of a hack)
 - list them all - having to list them all and maint

[2015-05-25 22:44] Joe4evr commented on #3072
What exactly is wrong with using `i++` and `i--`?

[2015-05-26 00:04] svick commented on #3072
@Joe4evr They modify `i`, whereas `-~i` or `i+1` don't.

[2015-05-26 02:07] tmat commented on #3067
@dpoeschl I don't think this makes the bar for RTM. Nice catch though and we should fix in an update.

[2015-05-26 06:03] KalitaAlexey opened #3076 "Consider ability to write Roslyn extensions to extend language"
As I know to extend language is need to rewrite Roslyn compiler.
It would be nice if Roslyn supports extensions which will be translate some bunch of code:
* to another code which is understood with Roslyn
* IL code

[2015-05-26 08:35] SolalPirelli commented on #3071
Duplicate of #2044, which already has a discussion about this.

[2015-05-26 10:23] xprzemekw opened #3078 "Out of memory exception when loading a solution (in v0.7.0 it worked)."
I have a quite large solution which I automatically refactor using roslyn to migrate ASMX Web Services to WCF. Till now I did it using version 0.7.0 of ROslyn, now I switched to 1.0.0-rc2 and solution stopped loading, OpenSolutionAsync ends with OutOfMemoryException after consuming 1.63GB. On v0.7.0 solution loads eating ~74MB. Something went terribly wrong between releases.

Call Stack is as foll

[2015-05-26 10:48] rhnatiuk commented on #119
I wonder, why Microsoft's own Spec# was not mentioned in this discussion? It is well thought thru and developed (they had working compiler), covers all the cases people discuss about here and much more.

Unfortunately, Microsoft killed this research project in favor of vastly inferior Code Contracts.

http://research.microsoft.com/en-us/projects/specsharp/

[2015-05-26 11:30] bradphelan commented on #3072
It's a joke for sure but it already works because the operators _-_ and _~_ are applied one at a time. See

[code]

outputs

[code]

as expected ;)

[2015-05-26 11:32] bradphelan commented on #2981
You can IObservable<T> instead of Task<T>. They are mostly interchangable.

[2015-05-26 12:40] jrieken opened #3079 "Make Indenter public"
For OmniSharp it would be a big bonus to have something like the `Indenter` public: http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.CSharp.EditorFeatures/Formatting/Indentation/CSharpIndentationService.Indenter.cs,93877f82bd311eb9. Similar to the `Formatter` or `Renamer` in CodeAnalysis.Workspaces.

[2015-05-26 14:46] bbarry commented on #2930
Would you be able to make PInvoke calls local (why allow `extern` without attributes)?

    public IconFile GetIcon(string iconResourceFile, int index)
    {
        [DllImport("shell32.dll")]
        extern IntPtr ExtractIcon(IntPtr hInst,
                                  [MarshalAs(UnmanagedType.LPStr)] string lpszExeFileName,
                                  uint nIconIndex);

        ...

[2015-05-26 15:26] AArnott opened #3080 ""Add using" code fix mis-sorts between namespaces sharing a prefix"
Roslyn's Add Using code fix adds the new statement with a sort order inconsistent with the Sort Usings refactoring.

Consider a C# console application with this source code:

[code]

Position the caret at the `SafeRegistryHandle` line and execute the add using code fix. This changes the using statements at the top to be:

[code]

But this sort order is incorrect. And Roslyn knows it, because then

[2015-05-26 15:49] whoisj commented on #101
An ideal way to manage this kind of thing would be to make WeakReference cheaper and easier to utilize. Effectively a way to keep a handle on an object until that object is no longer valid without the curse of keeping the object valid long beyond its intended use simply because you have a handle on it.

This is a bit of a crusade of mine because there's is no explicit way to free memory in C# and

[2015-05-26 15:53] whoisj commented on #3071
@VinothIndian bad idea because you are assuming the use of Visual Studio and therefore the existence of a csproj file. Not all code is compiled this way. At the enterprise level, where you have tens of thousands of C# files to be build, having a project per isn't always feasible. If the namespace is removed, what namespace would you assign objects to when no .csproj is present?

[2015-05-26 16:09] chrisaut commented on #2981
@bradphelan I don't think that's true. IObservable<T> is to Task<T> as IEnumerable<T> is to T, what I mean is, it conveys a will push out valueS (emphasis on plural).

Furthermore, I cannot await, I have to wire up subscribers and all that.
While one can probably find workarounds by rewriting their stuff as IObservable instead of Task of T, this suggestion is to make it "right", not to find workar

[2015-05-26 16:14] whoisj commented on #2044
I'd rather see a feature by where a namespace automatically includes other namespaces. Not sure how it would semantically work, but something like:

[code]

In this way, any use of the namespace in another file would automatically include the namespace included files.
[code]

The suggestion by @apskim is also fairly good, though I'd like to add a twist to it:
[code]

[2015-05-26 16:38] ghost opened #3082 "InsertTokensBefore has non-obvious restriction"
I wrote a fixer like this, to mark a class as static:

[code]

The call to InsertTokensBefore fails with the error "System.InvalidOperationException: The item specified is not the element of a list."

It turns out that the first argument to InsertTokensBefore must be an element of a list, and the "class" keyword is not an element of a list. In fact that's why the parameter name is tokenInList. Int

[2015-05-26 16:59] Inspyro opened #3085 "Simplifier prematurely removes "this" qualifiers in code containing compilation errors"
In the following example ...
[code]

the simplifier **incorrectly** removes the `this` qualifier on the invalid static method invocation, which in the end makes the code valid again. This is unexpected behavior, as the code is semantically changed - An explicit instance call is changed to a static call.

[2015-05-26 16:59] ljw1004 opened #3086 "VB intellisense doesn't show "color color" cases"
As per the screenshot below, VB completion list isn't showing static members off of an instance, even though the "color color" rule lets the compiler happily consume them.

![intellisense-vb-color-color](https://cloud.githubusercontent.com/assets/3316258/7817986/9a851f6c-038d-11e5-8dd6-bbf646254203.png)

WHAT I EXPECT: completion list should show Y.
WHAT I GET: it doesn't.

This repro shows a cons

[2015-05-26 17:00] gafter commented on #3064
I think the compilers should generate code that works around the absence of these particular APIs.

[2015-05-26 17:11] gafter commented on #3071
Duplicate of #2044

[2015-05-26 17:11] #3071 closed

[2015-05-26 17:37] svick commented on #101
@whoisj

I'm confused, in what way doesn't `WeakReference<T>` already satisfy that?

Again, isn't that exactly what `WeakReference<T>` does?

[2015-05-26 17:39] amcasey commented on #2721
Please unskip ````Microsoft.CodeAnalysis.Scripting.CSharp.Test.InteractiveSessionTests.PrivateImplementationDetailsType``` when this is fixed.

[2015-05-26 17:40] srivatsn commented on #3001
Could this result in a release crash? If the assert's assumption is wrong then that's not a 1.0 fix but if there's a bug hiding here we should consider that for 1.0

[2015-05-26 17:44] amcasey commented on #878
Verified that the Locals window reflects the casing specified by the user.

[2015-05-26 17:46] amcasey commented on #964
Verified that XML literals are now usable in the EE (as long as the current module contains My.InternalXmlHelper).

[2015-05-26 17:47] amcasey commented on #1220
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Solution/Solution.cs,945c4dd600dc6fd7

[2015-05-26 17:49] srivatsn commented on #3085
The simplifier itself needs to be able to work on code with errors since in VS, code is mostly broken as users are typing. In this case the simplification being offered wouldn't be so suprising if you look at it in VS, because you will also see a squiggle saying you are calling a static method with this.

In your app, before calling the Simpifier.Reduce method, you could check to see if there are

[2015-05-26 17:51] amcasey commented on #1729
Checked that this repro now behaves correctly in both C# and VB.

[2015-05-26 17:51] svick commented on #2981
@chrisaut While I agree that `IObservable<T>` and `Task<T>` are not interchangeable, you *can* `await` `IObservable<T>` (it returns the last value before the sequence competed).

[2015-05-26 17:52] amcasey commented on #1754
I've been using this regularly - just forgot to add the label.

[2015-05-26 17:52] amcasey commented on #2375
They seem to be passing now.

[2015-05-26 17:53] amcasey commented on #2441
@agocke can you please verify?

[2015-05-26 17:53] VSadov commented on #2887
Since this cannot be fixed with a compiler change. Suggesting Resolution-External.

[2015-05-26 17:56] amcasey commented on #2154
Haven't seen this since moving to the latest base drop.

[2015-05-26 17:57] amcasey commented on #2761
The ```TryCast``` is no longer grayed out.  Also checked ```DirectCast```.

[2015-05-26 18:02] gafter commented on #3086
Filing against the IDE, though I suspect this is a result of the semantic model. If that is determined to be the case, please let us know which API is behaving this way as redirect to the compiler team.

[2015-05-26 18:10] mavasani commented on #3001
Nope, it doesn't. I verified that as well. We should move it to 1.1.

[2015-05-26 18:16] AlekseyTs commented on #2903
@gafter Please verify.

[2015-05-26 18:16] #2903 closed

[2015-05-26 18:32] KevinH-MS commented on #2916
Fixed with commit a143c9035b64507f28bbc0bea1f6c5cdc9392117.

[2015-05-26 18:32] #2916 closed

[2015-05-26 18:47] wschae opened #3090 "[EnC] Delta Metadata for C# anonymous type seems wrong"
* Create C# Console Application with the following code:
[code]
* Update "A=1" to "A=10" and check the delta metadata for this update:

[code]

The second entry seems wrong and it causes EE crashed when reading it.

[2015-05-26 18:47] KevinH-MS commented on #2916
@amcasey, could you verify this?  (did you have some simple MVC app that you created for testing?)

[2015-05-26 18:57] whoisj commented on #101
@svick yes it is what `WeakReference<T>`. However, `WeakReference<T>` is expensive, and in my opinion verbose and unwieldy. Having a language feature supporting weak references encourages their use, and use will encourage optimization of their performance.

Today, we have a cycle of "it's ugly, scary, complicated, and/or non-performant so I don't use them", followed by "nobody uses them, so it's l

[2015-05-26 18:58] OmarElabd commented on #2696
@whoisj Actually that sounds like a really good idea, const could be used for methods that do not modify methods and something like 'volatile' could be used to indicate the opposite. There would need to be some sort of indication from intellisense that a method is marked as 'const'.

[2015-05-26 18:58] Jake456 opened #3091 "Roslyn doesn't build from sources - missing NuGet packages"
When executing `Src\.nuget\nuget restore Src\Roslyn.sln`, I get the following:

Unable to find version '1.0.0-rc3-20150510-01' of package 'Microsoft.Net.ToolsetCompilers'.
Unable to find version '1.0.0-rc3-20150510-01' of package 'Microsoft.Net.RoslynDiagnostics'.
Unable to find version '1.1.36' of package 'System.Collections.Immutable'.
Unable to find version '1.0.21' of package 'System.Reflectio

[2015-05-26 19:54] Pilchie commented on #3024
@pharring @rchande Any input on this?

[2015-05-26 19:59] AdamSpeight2008 commented on #2981
@chrisaut  A narrowing ctype or cast, where the result has the potential to lose some information.
In this example, we lose the fact the inner type is a T
[code]

[2015-05-26 20:04] JohnnyBravo75 commented on #101
@svick
"Because that's how normal events already work, subscribers don't keep the object with event alive"
Yes, I was not stating correct.
I meant, that instead of deciding on the subscribers side, that an reference is weak, I decide on the event side, that all subscriptions are automatically weak.

Suggested:
`
staticInstance.Data.CollectionChanged +~ MyChangedHandler; //weak event reference
stat

[2015-05-26 20:13] tmat commented on #3090
@wschae I'll take a look.

[2015-05-26 20:19] agocke commented on #2853
Git side completed in eb2f0d8bf5f777ed68cc136b79d5ae1c71e14aee and TFS side completed in 1474215.

[2015-05-26 20:19] #2853 closed

[2015-05-26 20:24] JohnnyBravo75 commented on #101
@whoisj

I like your approach, because it is much more general and not limited to events, as I understand?

Btw: Big frameworks/programs often (also xaml/the bindingengine) make heavy use of weak references, without them they would leak.

[2015-05-26 20:24] ljw1004 opened #3092 "VB prettylister gets indent wrong for "End Sub" of a multiline lambda whose final line is a comment"
In VB, if I have a multiline lambda whose last line is a comment, then it gets the spacing of the final "End Sub" incorrect.

REPRO:
![vb-prettylist](https://cloud.githubusercontent.com/assets/3316258/7822413/2d533c72-03aa-11e5-8202-373493fd3996.png)

Look at the above code. Try typing in a space or two or three spaces in front of either "End Sub" line, and then cursor off.

WHAT I EXPECT: the End

[2015-05-26 20:27] pharring commented on #3024
@ulrichb Is this a regression from a previous build?

[2015-05-26 20:37] wschae commented on #3090
Thanks! Note that you may need two edits to see this behavior.

[2015-05-26 20:47] balajikris commented on #2593
The underlying problem is that `RewriteExtensionMethodInvocation` does not handle conditional access expressions. obj.Something() vs obj?.Something(). After that's addressed, we may (not likely though) still need to do some work to make InlineTemp here, but we need expand/reduce working correctly here. sending over to the diagnostics team to have a look.

[2015-05-26 20:49] balajikris commented on #2593
tagging @srivatsn @mavasani for triage/inputs.

[2015-05-26 20:58] brettfo opened #3094 "Object IDs should preserve the leading '$' in the Locals window."
After creating object IDs for some local variables (parameters to the current method), they appeared in the Locals window as `1` and `2` but should have appeared as `$1` and `$2` just like `$exception`.  See screenshot:
![objectid](https://cloud.githubusercontent.com/assets/926281/7823265/25ab9352-03af-11e5-836c-993606caf127.png)

[2015-05-26 21:01] cston commented on #2863
App.Current.Resources.First binds to ResourceDictionary.First() which returns IIterator(Of KeyValuePair(Of Object, Object)) rather than System.Linq.Enumerable.First().

[2015-05-26 21:25] Pilchie commented on #3092
Can you take a look?

[2015-05-26 21:29] Pilchie commented on #3086
@rchande can you take a look and route if necessary?

[2015-05-26 21:29] Pilchie commented on #3079
Can you take a look?  IIRC, Indenter depends a bunch on the editor APIs.

[2015-05-26 21:31] Pilchie commented on #3078
@jasonmalinowski @mattwar Did one of you recently look at a leak in MSBuildWorkspace?

[2015-05-26 21:37] Pilchie commented on #3034
Putting in 1.0 for consideration.

[2015-05-26 21:37] jasonmalinowski commented on #3078
I didn't. @xprzemekw, when it crashes, are you able to make a full memory dump of the process at that point? Then we could take a look at what's causing the leak if you have somewhere to upload it. But it'll be a ~2.0 GB file so if that's unworkable or a huge pain then that's fine.

[2015-05-26 22:20] gafter commented on #3063
@MadsTorgersen What does the language spec say about the *existence* of `Assembly2`? The compilers currently consider an imported namespace to exist only when it is nonempty.

[2015-05-26 23:05] rcook opened #3096 "GetSymbolInfo reports "overload resolution failure" for method group explicitly cast to delegate"
I have found what I believe to be a bug in Roslyn's overload resolution in the presence of explicit casts from method groups to delegate. Consider the following test code:

[code]

I parse this code using Roslyn’s syntax factory and compile it using a CSharpCompilation instance in order to obtain a semantic model. Even though the references to `M0` and `M1` in method M differ only in that there is

[2015-05-26 23:05] dpoeschl opened #3098 "NullRef trying to change analyzer severity"
I was playing with changing analyzer severity via the Solution Explorer context menu, and one particular analyzer stopped working at some point and started producing

![image](https://cloud.githubusercontent.com/assets/235241/7825354/dbe7155e-03c0-11e5-819b-5beac1ffd2ad.png)

Other analyzers in the same assembly continue to work correctly while this one keeps failing.

[2015-05-26 23:34] jakesays opened #3101 "Support unsigned assembly builds"
Currently it is not possible to produce an unsigned Roslyn build without hand editing target files.

A simple fix would be to add `Condition="'$(SignAssembly)' == 'true'"` to the `<RoslynInternalKey/>` setting in VSL.Imports.targets.

With this condition in place, I can simply do:

`msbuild /t:Build /p:PublicBuild=True /p:Configuration=Debug /p:NonShipping=true /p:SignAssembly=false`

and end up w

[2015-05-26 23:58] heejaechang commented on #3030
@tmeschter @mavasani @srivatsn @shyamnamboodiripad so, the actual issue is the way I create unique string for analyzer. so I need to fix it.

but the reason it surfaced now is because the way we create ID for AnalyzerFileReference.

we used to not consider assembly version and that was intentionally done that way. now 2 assembly with different version will be considered two different references ra

[2015-05-27 00:06] rchande commented on #3086
@gafter Is there any reason to believe that the behavior of LookupSymbols has changed recently? If not, this looks like it may simply be a very old IDE bug.