[2017-06-02 00:11] jasonmalinowski commented on #19773
@davkean wrote:

So this is just a dupe of @Pilchie's bug then?

[2017-06-02 00:12] davkean commented on #19773
@jasonmalinowski It's unclear to me why we get into this state though - you throw when we add the file, but that shouldn't be corrupting _your_ state, but it does. Let's just dup it against https://github.com/dotnet/project-system/issues/1350 while I continue investigation of it.

[2017-06-02 00:12] #19773 closed

[2017-06-02 00:14] jasonmalinowski commented on #16684
@FonixAgileSolutions Let me know if @emgarten's change didn't work for you.

[2017-06-02 00:14] #16684 closed

[2017-06-02 00:15] jasonmalinowski commented on #19815
Duplicate of #15497.

[2017-06-02 00:15] #19815 closed

[2017-06-02 00:18] jasonmalinowski commented on #19773
We don't have much code to gracefully handle strange things -- for us more or less if something goes sideways in that code it'll stay going sideways.

[2017-06-02 01:12] Pilchie commented on #19968
It looks like we end up creating the same `IVisualStudioHostDocument` for both files.

[2017-06-02 01:41] davkean opened #19971 "Add a code fix/format to fix modifier ordering"
Unlike VB, C# doesn't fix up the ordering of a modifier:

[code]

Above partial needs to go before class. I never remember the ordering, so we can we auto-fix this or give me a code fix so that I can just CTRL+. then ENTER to fix it immediately.

[2017-06-02 01:56] davkean commented on #19227
This has become really annoying, because internal types that are in the global scope are showing up always such as BidArgumentTypeAttribute from System.Data. I could have sworn this is a regression, anyone got an earlier build to check?

[2017-06-02 02:01] davkean opened #19973 "XML docs for properties don't get their implicit "value" parameter added to intellisense"
Properties:

![image](https://cloud.githubusercontent.com/assets/1103906/26707856/0a1065f6-478b-11e7-9e26-b3d18e19c7c4.png)

Methods:

![image](https://cloud.githubusercontent.com/assets/1103906/26707873/30257eca-478b-11e7-81e1-e1d4c93609c9.png)

[2017-06-02 02:02] davkean opened #19974 "Tooltip for XML comment elements are empty"
![image](https://cloud.githubusercontent.com/assets/1103906/26707892/5bee1382-478b-11e7-988e-8b3379fd9693.png)

[2017-06-02 03:07] davkean opened #19975 "Inserting a TAB after parenthesis completion moves the caret to outside of the parenthesis"
This one is a little hard to explain, but any TAB after the editor has completed my parenthesis results in the caret being moved to outside of the parenthesis instead of inserting a TAB.

This looks caused by the automatic parenthesis completion, because if I repro this where VS doesn't complete my parenthesis then it doesn't occur

Here's a video:

![tab](https://cloud.githubusercontent.com/asset

[2017-06-02 03:11] davkean commented on #19975
This behavior seems very deliberate, so it might have been designed like this, what I don't like about it:

- It interrupts me entering that that exact construct above, I'm trying to make a table
- It's unobvious that I'm in a "special" mode. In other special modes, such as entering snippets, it's obvious that TAB does something special and I need to "escape" out of it.

[2017-06-02 03:40] Pilchie commented on #19968
Hmm - I tried just refcounting in the `_documentMonikers` collection, but the workspace is also unhappy with this.

Turns out that the native project system also gets this exception and swallows it and doesn't set any more properties from the Design Time Build :-/

[2017-06-02 03:42] davkean opened #19976 "[Regression] "Refresh CodeLens Team Indicator" is always showing on the editor context menu"
"Refresh CodeLens Team Indicator" used to only show when right-click on the indicators themselves, they are now showing everywhere in the editor:

![image](https://cloud.githubusercontent.com/assets/1103906/26709864/44771c86-4799-11e7-89ee-4aa13ca44891.png)

[2017-06-02 05:12] piotr-polanski opened #19978 "OpenSolutionAsync - first 5 projects have empty Documents"
Microsoft.CodeAnalysis: 2.1.0

I have solution with 29 projects and after using OpenSolutionAsync only last 24 projects have Documents in them. I tried to hook up to WorspaceFailed event, but it didn't fired.

Any help will be appreciated.
Source code can be found here:
https://github.com/piotr-polanski/EyeOfBeholder/blob/develop/EyeOfBeholder.Uml/UmlEntitiesExtractor.cs

[2017-06-02 06:27] nguerrera commented on #17731
The remaining concern was that the xlf process had manual steps that I did not want to spread to more repos, but the automation tooling for this is now implemented: https://github.com/dotnet/xliff-tasks :)

I'm in the process of rolling out the automation to the 5 repos that already use xlf starting with dotnet/sdk#1291. Once that's done, I'd like to give it a bit of time to bake, and then we can

[2017-06-02 08:32] UweKeim opened #19983 "Previous version "references" of Microsoft.Net.Compilers are not removed from .csproj during a NuGet update"
This is how my .csproj files look like:

[code]

As you can see, for every new "Microsoft.Net.Compilers" package, there is an `<Error>` node added but without removing the `<Error>` node of the previous installed version.

**My question:**

Can you please adjust your NuGet packages so that they remove the previous version from the .csproj files.

[2017-06-02 09:10] UweKeim commented on #19983
The same also seems to happen for the "Microsoft.CodeDom-Provides.DotNetCompilerPlatform" package:

[code]

[2017-06-02 10:37] UweKeim commented on #19983
Maybe [this is a NuGet issue](https://github.com/NuGet/NuGet.Client/pull/1248#issuecomment-302782400) rather than a Roslyn issue?

[2017-06-02 14:19] marek-safar opened #19984 "No warning for unreachable code after throw expression"
**Version Used**: 2.3.0.61719 (5fbdd5c5)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Proper warning about unreachable code

**Actual Behavior**:

No warning.

[2017-06-02 16:51] jcouv opened #19985 "Rename GreenNode to ParserNode"
The red/green distinction is confusing. The green/internal nodes can be derive from `ParserNode` (currently `GreenNode`).
Comments referring to "red nodes" should be updated to say "public nodes".

[2017-06-02 16:57] jskeet opened #19986 "Text for CS1673 needs updating for local methods"
**Version Used**:  2.2.0.61624

**Steps to Reproduce**:

Code:

[code]

**Expected Behavior**:

Initially, I expected this to compile. I'm okay with it not compiling, but the error message should be accurate, explaining that there's a restriction around local methods.

**Actual Behavior**:

Error message, emphasis mine:

There's no anonymous method, lambda expression or query expression here. Unle

[2017-06-02 17:04] tannergooding commented on #19950
It's probably worth noting this section from the C++/CLI [spec](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-372.pdf):

![image](https://cloud.githubusercontent.com/assets/10487869/26736442/e14b01e0-477a-11e7-8462-ef59ef6d5082.png)

[2017-06-02 17:10] sharwell opened #19987 "Incorrect IDE0004 (Cast is redundant) in pattern matching"
**Version Used**: 15.3 Preview 1

🔗 Originally reported by [Thomas Castiglione](https://developercommunity.visualstudio.com/users/21348/873dad1a-b02f-4f5a-8da9-37ef170c009b.html).

**Steps to Reproduce**:

[code]

**Expected Behavior**:

* IDE0004 is not reported on the cast in `(float)1`
* Fixing all violations of IDE0004 does not remove the cast

**Actual Behavior**:

* The cast is removed when

[2017-06-02 17:22] Pilchie commented on #19978
@piotr-polanski can you try the 2.3 packages?  More logging was added to `WorkspaceFailed` then.

[2017-06-02 17:24] Pilchie commented on #19975
This is automatic brace completion, and I thought there was supposed to be a visual treatment that it is part of the session.  @olegtk Do you know if there is a UI treatment?

[2017-06-02 17:27] Pilchie commented on #19973
Does anything look at that xml doc?  I'm pretty sure quick info/sig help wouldn't show it.

[2017-06-02 17:29] Pilchie commented on #19971
modifier analyzer is https://github.com/dotnet/roslyn/issues/7066, and the ability to auto-fix any analyzer with a fix is https://github.com/dotnet/roslyn/issues/7068.

[2017-06-02 17:32] sharwell opened #19988 "Introduce Local refactoring fails to simplify extension methods"
**Version Used**: 15.3 Preview 1

🔗 Originally reported by [Rafael de Lima Reis](https://developercommunity.visualstudio.com/content/problem/63032/introduce-local-for-x-changes-code-and-introduces.html).

**Steps to Reproduce**:

1. Use the following code

[code]

2. Select the expression `array.Select(i => i.ToString())`
3. Press <kbd>Ctrl</kbd>+<kbd>.</kbd>, and select **Introduce local for 'arr

[2017-06-02 17:32] #19988 closed

[2017-06-02 17:33] sharwell commented on #19988
:memo: I will reopen this if I am able to determine a specific reproducer for this.

[2017-06-02 17:49] Pilchie commented on #19911
Any ideas on how to get more info here?

[2017-06-02 17:51] Pilchie commented on #19953
Leaving in 15.3, because this is a regression from the generate default constructor changes, right?

[2017-06-02 17:53] #19971 closed

[2017-06-02 18:10] GrantHoffman opened #19989 "Create a way to check if FixProvider is being called from Preview Window Vs Committed"
**Feature Request**:
    Create a way to tell if the FixProvider is being Called for preview or for comitting.

I've created a Code Fix Provider to Add resources to a file, however these changes should only be applied via final commit.   There is no good way of finding if fix was for preview or for comit  Currently, I am using the call stack as a work around:

        public static bool IsCallFina

[2017-06-02 18:17] Pilchie commented on #19989
You can do this by overriding [`ComputePreviewOperationsAsync`](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/CodeActions/CodeAction.cs,4a60a4dc2ea63ba0) and returning something different. The default impl just calls `ComputeOperationsAsync` though.

[2017-06-02 18:17] Pilchie commented on #19989
l

[2017-06-02 18:17] #19989 closed

[2017-06-02 18:19] piotr-polanski commented on #19978
@Pilchie I've tried erlier with 3.0 and there was nothing...

[2017-06-02 18:21] Pilchie commented on #19978
Can you share one of the projects that gets no documents with us?  (It can be privately over email if you don't want to post here).

[2017-06-02 18:23] piotr-polanski commented on #19978
unfortunately no. Company policy...

[2017-06-02 18:52] #17711 closed

[2017-06-02 18:55] sharwell commented on #19985
💭 I never found this to be a particular barrier; I suspect anyone who needs to work at the layer of green nodes will be in the same boat.

[2017-06-02 19:00] sharwell commented on #19984
:memo: The equivalent code using an `if` statement does produce a warning:

[code]

[2017-06-02 19:04] sharwell commented on #19973
@Pilchie Additional context:

1. This situation would also impact code within a `<summary>` element.
1. We have IntelliSense support for several XML doc comment features that don't appear in the IDE. An obvious example would be all other items that are already shown in the completion dropdown inside the `<exception>` element.
1. We have an active request to show the information from `<exception>`

[2017-06-02 19:09] sharwell commented on #19973
I cannot find any indication that `value` would be a parameter that can be referenced in this manner. The main item leading me to this conclusion is the way [`List<T>.Capacity`](https://msdn.microsoft.com/en-us/library/y52x03h2.aspx) is documented: the `value` parameter doesn't appear at all and the exceptions documentation simply refers to "a value".

@EWSoftware I lean towards closing this as "w

[2017-06-02 19:10] jcouv commented on #19985
@sharwell To your first point, we had a survey in the compiler team the other day during stand up and the confusion is apparent between red and green.

The proposal is to use "parser node" (green) vs "public node" (red) terminology. Alternative suggestions are welcome.

We only track public APIs as part of our contract and support commitment. So while people have been known to access internal APIs

[2017-06-02 19:13] sharwell commented on #19985
Do we have any specific cases where this has caused difficulty for someone working in this layer? How will a naming change make it easier to understand the different semantics between the two layers?

:memo: My suggestion otherwise is only valid in the context of failing to see a clear benefit from the change.

[2017-06-02 19:14] olegtk commented on #19975
That seems to be by design, tab is by default moves caret out of brace completion session, past the closing brace. Roslyn is [doing the same for C#](https://github.com/dotnet/roslyn/blob/614299ff83da9959fa07131c6d0ffbc58873b6ae/src/EditorFeatures/Core/Implementation/AutomaticCompletion/BraceCompletionSessionProvider.BraceCompletionSession.cs#L255).

[2017-06-02 19:19] #17474 closed

[2017-06-02 19:19] #19136 closed

[2017-06-02 19:47] jcouv commented on #19985
I'm not worried about an individual working in the code. You look things up and then you're good to go.

The confusing names impair our ability to communicate clearly and discuss issues in this area as a team. Every such discussion so far was derailed in clarifying which is which, "but I thought it's the other way around", "here's my mnemonic, but I still usually get it wrong", etc. At some point,

[2017-06-02 20:01] amcasey commented on #1145
@ManishJayaswal, can you please unassign me?  I appear not to have permission.

[2017-06-02 20:01] amcasey commented on #7976
@ManishJayaswal, can you please unassign me?  I appear not to have permission.

[2017-06-02 20:22] #19848 closed

[2017-06-02 20:23] jcouv commented on #19848
Fixed by #19870
Thanks @akarpov89 for raising the issue.

[2017-06-02 20:34] ltlombardi opened #19993 "change yahoo link in the Wiki Interactive Window"
This, doesn't work anymore
"http://ichart.finance.yahoo.com/table.csv?s=MSFT&d=10&e=10&f=2015&g=d&a=2&b=13&c=1986&ignore=.csv";

In https://github.com/dotnet/roslyn/wiki/C%23-Interactive-Walkthrough

[2017-06-02 21:23] jcouv commented on #17612
The result from some manual benchmarking is that ref assemblies save 50-80% of the time in incremental build.

The first scenario I benchmarked is building a Roslyn IDE test project from the command-line, and making an non-public compiler change. (Anti-virus turned off, `msbuild /fl /flp:v=diag /v:m /m src\EditorFeatures\CSharpTest\CSharpEditorServicesTest.csproj`)

* Clean build: 1m25s with ref a

[2017-06-02 21:32] jcouv opened #19994 "Further refinements on ref assemblies"
This is a list of possible future improvements (following [dev15.3 refout work](https://github.com/dotnet/roslyn/issues/17612)).

- [ ] Provide a code action to help upgrade projects to deterministic and refout
- [ ] Get telemetry in place to measure impact of this optimization
- [ ] Make the ref assemblies produced by refout and refonly match (as closely as possible) https://github.com/dotnet/ros

[2017-06-02 21:47] EWSoftware commented on #19973
@sharwell I've always been of the opinion that `paramref` was for method parameters since it implies there's a matching `param` element.  I've never considered it for the implied `value` within property setters nor have I ever seen it used that way.  The `param` element doesn't show up on properties either and I wouldn't expect it to.  The Sandcastle presentation styles don't care either way since

[2017-06-02 21:59] davkean commented on #19973
I'm 99% sure that this was a supported construct since both NDoc and Sandcastle days.

From: Eric Woodruff<mailto:notifications@github.com>
Sent: Saturday, June 3, 2017 7:48 AM
To: dotnet/roslyn<mailto:roslyn@noreply.github.com>
Cc: David Kean<mailto:David.Kean@microsoft.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [dotnet/roslyn] XML docs for properties don't get their implicit "va

[2017-06-02 22:11] AlekseyTs opened #19996 "Binding for ForEachVariableStatement doesn't bind Variable expression unless it is a deconstruction left"
For example, see scenario in unit-test GetEnclosingBinderInternalRecovery_11 added in https://github.com/dotnet/roslyn/pull/19995.

This creates problems for SemanticModel because it cannot find information about that expression in a normal way. The approach we have been taking is that expressions like that should still be bound (perhaps ignoring any diagnostics from that) and preserved in the bou

[2017-06-02 22:15] AlekseyTs commented on #19996
This issue will likely have negative effect on IOperation as bound tree will be missing bound information for some portions of code.

[2017-06-02 22:21] EWSoftware commented on #19973
Supported, yes, but not by intent more by default due to the way the inline elements are handled when rendered.  No distinction is made for the member they appear on.  I'd question it's use in IntelliSense since there's really no `param` element to reference on a property.  I'd not expect IntelliSense support for `param` on a property for `value` either.

[2017-06-02 22:43] tmat commented on #7976
This is no longer relevant.

[2017-06-02 22:43] #7976 closed

[2017-06-02 23:37] sharwell commented on #19973
@Pilchie @CyrusNajmabadi Based on what I've seen in the past and feedback from @EWSoftware, my current recommendation is to close this issue as "working by design".

[2017-06-03 00:44] ali-hk commented on #13950
@qrli weak events are very much a necessity when it comes to UWP XAML apps that have custom behaviors (and controls derived from built-in controls). Because the controls themselves are native C++, subscribing to an event such as KeyUp creates a ref cycle that the GC can't know about and the ref counted C++ will therefore always have a non-zero ref count.  This is even more of a problem with custom

[2017-06-03 09:15] bkoelman commented on #19921
Thanks. Verified as fixed in v2.3.0-beta3-61802-09

[2017-06-03 09:15] #19921 closed

[2017-06-03 10:28] CyrusNajmabadi commented on #19984
There is no language in the C# spec about reachability of subexpressions, only reachability of statements.  So this is not an actual bug/issue with Roslyn.

It is, however, a perfectly reasonable request for the language to support this concept.  As such, this should be moved to https://github.com/dotnet/csharplang and recreated as a discussion there.

[2017-06-03 10:29] CyrusNajmabadi commented on #19984
Closing this out.  Feel free to reopen as a discussion on csharplang.

[2017-06-03 12:39] ltlombardi commented on #19993
Hi, May I ask why the issue as closed, without any indication of why?

[2017-06-03 21:06] tmds opened #20002 "SyntaxGenerator: support generating extension methods"
Does the SyntaxGenerator support generating extension methods?

[2017-06-03 23:26] shaggygi commented on #19985
@jcouv Not related to solution for what your proposing, but I would like to eventually see an API that helps when dealing with parent/child similar to the red/green nodes.

See https://github.com/dotnet/corefx/issues/18357

I'm hoping Record Types (possibly coming in C# 8) will help this scenario.

[2017-06-04 01:10] tmat commented on #19993
Sorry, misclick. My bad.

[2017-06-04 05:49] AdamSpeight2008 commented on #19985
@jcouv I agree the names are confusing, especially as they don't reflect their usage.
We also have to consider "non-team" (potential) external contributors.

[2017-06-04 07:08] trentw64 opened #20005 "RegisterCodeFixesAsync called twice"
**Version Used**: Latest install of VS2017

**Steps to Reproduce**:

1. Block on RegisterCodeFixesAsync
2. Debug
3. Mouse over method flagged by analyzer

**Expected Behavior**:
RegisterCodeFixesAsync called once

**Actual Behavior**:
RegisterCodeFixesAsync called twice. Lightbulb shows fix twice. Believe this is impeding the fixall provider from successfully making any change.

[code]

[2017-06-04 07:24] jinujoseph opened #20006 "Watch Window: Add ability to enter type name which will allow displaying the values of static fields and properties."

[2017-06-04 08:06] sharwell commented on #19984
It is my understanding that a warning should be reported on the `x = 2;` line according to the current specification, augmented by the available specification for throw expressions.

**From the specification**

**From the available specification for throw expressions:**

**From the specification for *throw_statement:**

**Questionable parts:**

There is no discussion of reachability in the specifi

[2017-06-04 08:29] rikimaru0345 opened #20008 "How do I determine if a method was nested using only reflection?"
I am analyzing types and methods with reflection and there is a method that contains a nested method.

In the typename I can see the "mangled" name that contains the method where the nested method was defined, as well as the nested methods name.

However I'm not sure how to parse mangled names like this one:
`<<LoopMethod>g__NestedFunction5001_1>d`
(this example would be the IAsyncStateMachine of

[2017-06-04 08:58] #19887 closed

[2017-06-04 09:00] jinujoseph commented on #19626
Closed via #19637

[2017-06-04 09:00] #19626 closed

[2017-06-04 11:30] miloush commented on #20008
1. The part inside `<>d` is generated by [MakeLocalFunctionName](https://github.com/dotnet/roslyn/blob/8ee822e1bdc3c9b118df7a600685a03f4911576b/src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNames.cs#L144) called by [SynthesizedLambdaMethod.MakeName](https://github.com/dotnet/roslyn/blob/d2beae6970b65797bfbeac4f82334fd1f3e89c13/src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/Synt

[2017-06-04 13:02] miloush commented on #20008
And following the same rules, `<...>d` is similar `<...>g`, but means a state machine. So technically, `<<LoopMethod>g__NestedFunction5001_1>d` actually is not a local function name.

[2017-06-04 19:08] jcouv commented on #20008
FYI @agocke

[2017-06-04 19:17] miloush commented on #20008
Yeah, not sure what @rikimaru0345's scenario is, but I wondered whether there were any considerations to make public API for interpreting the names, something like the `GeneratedNames.TryParse...` methods? I can imagine it being useful for tools and I assume it would have been a better solution than everyone writing their ad-hoc parsers...

[2017-06-04 20:31] CyrusNajmabadi commented on #19984
Yes. I can see how that interpretation would hold.  Tagging @gafter @MadsTorgersen for their interpretations here.

[2017-06-04 20:44] CyrusNajmabadi commented on #19985
1. It's an internal detail, so i would have no problem changing the internal names.
2.  However, i don't find any of the names any better. If i say "ParserNode" and "PublicNode" there is nothing about that that explains what the difference is.  I still have to teach someone "ParserNodes are different because they don't contain positions or parents.  As such they can be shared, etc. etc.  PublicNod

[2017-06-04 20:46] CyrusNajmabadi commented on #20008
If we did that, then we'd be unable to change the names here.  We'd effectively be signing up to our internal implementation details being part of our public contract.

[2017-06-04 20:54] CyrusNajmabadi commented on #20008
Note: i do know that we take care to not intentionally change what we emit (becuase some tools do interpret it).  But i see a difference in not-intentionally breaking, vs. actually committing to a specific contract here.

Note: i think it would be fine for someone to make a nuget package for this.  The syntax is simple enough that it wouldn't be hard to do.

[2017-06-04 21:05] rikimaru0345 commented on #20008
@miloush Thanks for the help!

Well the local function is declared `async Task` so when you get the method from a stacktrace it will yield "MoveNext" as name.
Thats why in my code I check if the `.DeclaringType` implements IEnumerable, IEnumerator, IAsyncStateMachine.
And if it does, I take the name of the type as method name and keep working with that :)

`<<LoopMethod>g__NestedFunction5001_1>d`

[2017-06-04 21:22] CyrusNajmabadi commented on #19984
So, reading the spec, i think the current compiler implementation is correct.  Looking at expression statements (since local declarations don't even talk about reachability) they simply say:

In this case, the statement is reachable, so the endpoint is simply considered reachable.

--

Note: i'm not saying that the initial request is incorrect.  I think the language should have the concepts of exp

[2017-06-04 22:16] sharwell commented on #19984
@CyrusNajmabadi You are looking at the specification for C# prior to throw expressions. I was considering the merged result of that and the throw expressions specification, and applied a conflict resolution.

[2017-06-04 22:17] miloush commented on #20008
@CyrusNajmabadi That's why I suggested providing an API, thinking that might still allow you to change what is emitted, rather than people relying on the actual name syntax.

@rikimaru0345 If you didn't knew the original method name or the index then you might have hard time splitting that indeed.

Not really. The `1_1` belongs to the original method, not to the state machine, so how is the state

[2017-06-04 23:06] CyrusNajmabadi commented on #19984
Yeha, but the conflict resolution would not apply (based on my reading).  There simply is no thing that changes the endpoint reachability of expression-statements or local delcaration statements.  If the statement is reachable, their endpoint is reachable.  The only way that would change is if their endpoint reachability was dependent on their nested expression end-point being reachable.  However,

[2017-06-04 23:12] CyrusNajmabadi commented on #19984
I think it's still fully compatible.  Basically, you're looking at:

But there simply is no semantics around expression reachability.  It's literally not a concept the language has.  So you can't take the semantics around statement reachability and just apply it to expressions.

Even if we wanted to apply throw-reachability to apply to expressions, it still wouldn't apply to ternary expressions.

[2017-06-04 23:14] CyrusNajmabadi commented on #20008
If we provide an API, then we can't change it.  You might be using an old version of the API against a new version of the compiler.  If the compiler changes how it emits these things, then this will break people using the old API.

[2017-06-04 23:14] alrz opened #20009 ""Indent open and close braces" doesn't affect switch section block"
When "Indent open and close braces" is unchecked:

**Actual:**
[code]
**Expected:**
[code]

[2017-06-04 23:26] CyrusNajmabadi commented on #20009
What is the following set to:
![image](https://cloud.githubusercontent.com/assets/4564579/26766253/9f5a47ea-4942-11e7-9700-2b63304816b2.png)

?

[2017-06-04 23:30] alrz commented on #20009
@CyrusNajmabadi That indents the whole section,

            switch (a)
            {
                case 1:
                    {
                    }
            }

vs.

            switch (a)
            {
            case 1:
                {
                }
            }

[2017-06-04 23:34] CyrusNajmabadi commented on #20009
Er, sorry:

![image](https://cloud.githubusercontent.com/assets/4564579/26766301/bd6c31de-4943-11e7-8e23-cc4bbd8e164c.png)

[2017-06-04 23:39] alrz commented on #20009
It doesn't indent the block when unchecked but it also leaves statements unindented as well.

How can I have these at the same time:
[code]

[2017-06-04 23:43] CyrusNajmabadi commented on #20009
i don't think we have any facility for that.  Tagging @heejaechang to see how hard it would be to have an option for this.

[2017-06-05 00:04] AlexanderMorou opened #20010 "Debugger Display for property yields incorrect result"
**Version Used**:
15.2 (26430.12) Release

**Steps to Reproduce**:

[code]
Set a breakpoint on `Console.WriteLine(myTest.TestBool is string);`

**Expected Behavior**:
Mousing over `myTest.TestBool`, within the `Console.WriteLine` call, should show 'false'.

**Actual Behavior**:
Mousing over `myTest.TestBool`, within the `Console.WriteLine` call, shows "true"

**Note**:
This can cause odd side-effe

[2017-06-05 00:05] alrz commented on #19985
And at some point you "get used to it". I unconsciously read green as persistent internal etc. Changing it would take that away. If anything, I'd suggest "internal/public nodes" to at least cover a single aspect of it but as @CyrusNajmabadi said that still doesn't fully explain the underlying concept.

[2017-06-05 04:59] tmat commented on #20008
@rikimaru0345 What is your analysis via reflection trying to achieve?

[2017-06-05 05:28] tmat commented on #20006
I'd rather leave this out. One of the design principles for the new EEs is that the evaluated code is a valid C# expression (and perhaps statements in future). We only have one extensions to the regular C# language, which might eventually make it to the scripting flavor thus unifying scripts and EE expressions -- identifiers may start with ```$``` and ```@0x```. These are used to represent special

[2017-06-05 06:56] jcouv commented on #19985
As I pointed out above, I surveyed the compiler team in standup (everyone was there except Neal). That experience undeniably showed that we did not just "get used to it".
Everyone on the team knows the overall design (why we have two kinds of nodes), but almost everyone was unsure which, red or green, refers to which. They are just really bad names.

The desired goal is to align on unambiguous and

[2017-06-05 07:20] tmat commented on #19985
```InternalSyntaxNode```?

[2017-06-05 07:50] eriawan commented on #17009
@jasonmalinowski

sorry, I was busy on my day job for the last 4 days.
Could you elaborate on "projection buffers"? what kind of buffers for TextBuffer implementations?

[2017-06-05 09:23] marek-safar commented on #19984
@CyrusNajmabadi consider following sample (it's just same code shaped differently)

[code]

Now if C# compiler would really follow your statement of

then this code should fail to compile because `z` is not always assigned to before control leaves the current method but it compiles fine.

[2017-06-05 14:51] sharwell commented on #19984
@CyrusNajmabadi I agree that the spec needs to be *much* clearer in this regard. I was simply hoping to see this proceed based on a desire to justify the implementation of a helpful user feature. It's not unlike how throw expressions themselves were implemented without actually being part of the spec.

If you'd like, I can prepare an initial pull request to update [throw expressions](https://githu

[2017-06-05 15:07] pakdev commented on #19661
@heejaechang Nope

[2017-06-05 15:21] alrz opened #20015 "default is not permitted as constant pattern with nullable types"
**Version Used**: master

**Steps to Reproduce**:

[code]

**Expected Behavior**: No error

**Actual Behavior**: A constant value is expected

[2017-06-05 15:55] Pilchie commented on #19661
Also tagging @sharwell who has been looking at some OOMs lately.

[2017-06-05 16:06] kuhlenh opened #20016 "Smart variable naming keep suggesting names after a name is applied"
Type:
[code]

* Press `Space`.
* Apply the suggestion ```dictionary```.
* Press`Space`.  ```dictionary``` will be suggested again. I expected nothing to be suggested (or maybe an ```=```).

![image](https://cloud.githubusercontent.com/assets/1402694/26792019/e707c87a-49cd-11e7-8ed7-7de6f59c5c8f.png)

[2017-06-05 16:21] tommcdon opened #20017 "CSharpLanguageInstructionDecoder implementation of IDkmLanguageInstructionDecoder is slow"
The implementation of IDkmLanguageFrameDecoder.GetFrameName in Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.CSharpLanguageInstructionDecoder is causing slow stepping performance if the callstack or threads windows are open in Visual Studio.  In ETL traces that we have looked it, we see that about half of the time stepping can be spent in this function.

[2017-06-05 17:15] genlu commented on #19921
@bkoelman Thanks for trying it out :)

[2017-06-05 17:18] jcouv commented on #17076
The IL generated and sequence points seem correct. See https://github.com/jcouv/roslyn/commit/9dae4b2a26d1e9c80bbd73139397f48ea32e5bc4

I'll talk to Tomas to confirm if he thinks this is a JIT/debugger issue.

[2017-06-05 17:42] sharwell commented on #20017
@tommcdon Is there a trace we can take a look at to help narrow things down?

[2017-06-05 17:51] twsouthwick opened #20018 "Unclear message when compiler cannot find System.ValueTuple types when NuGet package < 4.4.0"
**Version Used**:

15.3 Preview 2 (26602.0.d15rel)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Targeting .NET 4.6, I add the `System.ValueTuple` 4.3.1 package and it works.
Targeting .NET 4.7, I add the `System.ValueTuple` 4.3.1 package and it works.

**Actual Behavior**:

Targeting .NET 4.6, I add the `System.ValueTuple` 4.3.1 package and it works.
Targeting .NET 4.7, I add the `Sys

[2017-06-05 17:58] sharwell commented on #20018
❓ What version of the System.ValueTuple NuGet package do you have installed? Prior to 4.4.0-preview1-25305-02 I believe it would be confusing to the compiler (type defined in both mscorlib and in System.ValueTuple).

[2017-06-05 18:00] twsouthwick commented on #20018
Ah - I have 4.3.1 installed. I'll give 4.4.0 a shot.

[2017-06-05 18:26] twsouthwick commented on #20018
Ok - installing 4.4.0-preview1-25305-02 seems to fix the issue. Is there already a bug tracking adding better warnings or fixing the ambiguity?

[2017-06-05 18:44] jcouv commented on #20018
@twsouthwick Go ahead and file an issue. Thanks
I agree the message should say something about ambiguity between two types that were found, rather than saying it's missing.

[2017-06-05 18:46] sharwell commented on #20018
@jcouv Does this issue not suffice?

Also, it'd be good to special case the warning if the ambiguity occurs due to System.ValueTuple.dll and either .NET Standard or mscorlib, due to the likelihood of this particular upgrade path.

[2017-06-05 18:49] heejaechang commented on #19347
presentation can be slowed. but actual work (computing diagnostics) can't be controlled per language or feature right now. the delay for actual work is there to reduce work we do on each key stroke. otherwise, we will produce too much garbage that will affect typing responsiveness. (allocation rate goes up, GC runs more often and etc)

current delay is set to current number after years of tweaking

[2017-06-05 18:49] CyrusNajmabadi commented on #19984
Please just open a bug on CSharpLang so that we actually spec this out and approve this as an actual language change.  It sounds like you're interested in this work so I think we could argue you could be the champion here, and you coudl def provide a PR as part of that championing.

[2017-06-05 18:52] jcouv commented on #20018
Sure. Fixed issue title.

[2017-06-05 18:52] twsouthwick commented on #20018
I see we both changed the title at the same time - I'll stop touching it :)

[2017-06-05 18:53] #19785 closed

[2017-06-05 19:17] heejaechang commented on #18056
@mavasani ha ha not yet!

[2017-06-05 19:22] CyrusNajmabadi commented on #19984
Yes.  This sounds like a bug if it is not failing to compile.

[2017-06-05 19:40] heejaechang commented on #19767
@sharwell do we have a dump? not sure why this suddenly happens..

[2017-06-05 19:44] gafter commented on #19984
No, it should compile without any problem. The definite assignment specification for a throw expression says that every variable is definitely assigned after a throw expression. Not a bug.

[2017-06-05 19:46] CyrusNajmabadi commented on #19984
Ah, gotcha.  That is per-spec then.

[2017-06-05 19:47] heejaechang commented on #20009
@basoundr actually added those options. so tagging him to see whether we have an option for it. about supporting what @alrz asking, It should be a matter of just adding one more option if it doesnt already exist.

[2017-06-05 19:48] Pilchie opened #20019 "VS deadlock in integration tests in options."
See Jenkins run: https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/5130/artifact/Binaries/Debug/

It looks like there is a lock acquisition problem between `GlobalOptionService._gate`, and `RoamingVisualStudioProfileOptionPersister._optionsToMonitorForChangesGate`
UI thread callstack is:

[code]

And we have a background thread at:

[code]

[2017-06-05 19:49] Pilchie commented on #20019
Tagging @AlekseyTs as an FYI - this looks like you hit a real product issue.

[2017-06-05 20:00] sharwell commented on #19984
I filed this bug:
dotnet/csharplang#656

If we can agree on the **Intent** section, then this issue can proceed while the details are yet to be worked out in full.

[2017-06-05 20:01] CyrusNajmabadi commented on #19953
Yes.  This is a regresssion.

[2017-06-05 20:15] #19758 closed

[2017-06-05 20:16] 333fred commented on #8851
I tested the following cases:

| Declaration | TypeInfo.Type | TypeInfo.ConvertedType |
| ---------------------- | ---------------- | -------------------------- |
| `Action a = () => { };` | `null` | `NamedType System.Action` |
| `Dim a = Sub() End Sub` | `Nothing` | `Nothing` |
| `Dim a As Action = Sub() End Sub` | `Nothing` | `NamedType System.Action` |

Looks like we'll want to make C#'s versio

[2017-06-05 20:28] TyOverby commented on #19048
@fabianoliver: Can you share a csproj file with the referenced script that causes this behavior?  I have a PR that I believe solves the issue, but I can't get your original failure to reproduce.

Here's my attempt to repro: https://github.com/TyOverby/script-35-repro

[2017-06-05 20:38] jcouv commented on #20010
That seems odd indeed.

Here's what QuickWatch shows:
![image](https://cloud.githubusercontent.com/assets/12466233/26802056/eaddeee0-49f3-11e7-9345-5654aa4d1597.png)

![image](https://cloud.githubusercontent.com/assets/12466233/26802131/32cfc750-49f4-11e7-8784-ff149bc2aa2e.png)

[2017-06-05 21:14] amcasey opened #20023 "Roslyn Suppression Fix Provider should consider language"
Roslyn suppression fix provider should condition the visibility of the suppress (in file, across project) menu items on the presence of at least one suppression fix provider for the project’s language (e.g. typescript).

[2017-06-05 21:14] amcasey commented on #20023
FYI @mavasani

[2017-06-05 21:56] basoundr commented on #20009
Yes, we cannot do something like that today with the available options. We will need to add an option to support something like this. Don't sure what a good name would be too. "Case Content without braces"?

[2017-06-05 21:58] alrz commented on #20009
Indent case blocks (defaults to true for back-compat)

[2017-06-05 22:00] rchande commented on #19160
This already appears to be fixed in 15.3

[2017-06-05 22:00] #19160 closed

[2017-06-05 22:14] omariom commented on #4112
@jaredpar
What was decided on this issue?

[2017-06-05 22:57] #10661 closed

[2017-06-05 23:14] gafter opened #20029 "Simplify some code in LocalRewriter_PatternSwitchStatement.cs"
In a code review, @agocke suggested simplifying this

[code]

to this

[code]

This is in `src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs`

[2017-06-05 23:16] #17090 closed

[2017-06-05 23:16] #19731 closed

[2017-06-05 23:16] #19734 closed

[2017-06-05 23:24] #19916 closed

[2017-06-05 23:27] Jehoel commented on #7
I like this proposed feature based on my experienced with Swift and Objective-C, where parameters have ["parameter name" and "argument labels"](https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/Functions.html#//apple_ref/doc/uid/TP40014097-CH10-ID166) (which better translates to "internal names and external names" in my opinion).

This is most us

[2017-06-05 23:29] jasonmalinowski commented on #17009
@eriawan: https://msdn.microsoft.com/en-us/library/dd885240.aspx#projection

The workflow editor takes a buffer that is a full bit of source (basically, surrounding the expression with a method and a return statement), and then uses projection to display a buffer that is just the expression itself. Roslyn is analyzing the full buffer (because we need a valid file), but you only see the projection

[2017-06-05 23:49] jcouv commented on #17076
Pushing to 15.6 due to bug bar.

[2017-06-05 23:56] jcouv commented on #19892
Moving to 15.6 due to current bug bar.

[2017-06-05 23:57] #8724 closed

[2017-06-06 00:21] Pilchie commented on #20002
I would think this would be just a matter of adding the`this` modifier?

[2017-06-06 00:22] Pilchie commented on #20005
@sharwell - can you take a look and see if this is currently an issue?

[2017-06-06 00:24] niemyjski commented on #5724
WOW, this just bit me too. I upgraded to .net 4.7 and the build fails when my output is logged via console.out

[code]

[2017-06-06 00:28] 333fred commented on #18839
See https://github.com/dotnet/roslyn/pull/20026#discussion_r120241416 for some C#/VB parity considerations.

[2017-06-06 01:11] KirillOsenkov opened #20036 "Possible deadlock/hang in BindNamedAttributeArgument"
See dump and repro at \mlangfs1\public\kirillo\cschang

Sample stack:
[code]

5 threads are sitting in this exact call stack and nothing else is happening.

This was reported by the SQL team as it periodically hangs their builds. I'm not sure this is a hang in csc.exe but the csc.exe process is stuck with the dump and nothing is moving along.

Internal contact: Grant Culbertson.

[2017-06-06 01:37] huoxudong125 opened #20038 "How to get Roslyn Compile Error in IIS"
**Version Used**:

    <system.codedom>
       <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compil

[2017-06-06 06:33] AArnott opened #20040 "GetRenamableDefinitionLocationsAsync throws NullReferenceException"
**Version Used**: 1.2.0 and 2.2.0 both repro the issue.

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Preferably a passing test, although I've been changing my library so I'm not sure if I have a bug of my own.

**Actual Behavior**:

A `NullReferenceException` thrown from within Roslyn:

[code]

[2017-06-06 08:26] marek-safar commented on #19984
@gafter The `z` is not definitely assigned at the end of conditional expression in my second example. It's only that (the unspecified) reachability rules alter the definite assignment to not to consider the expression to be conditional expression.

[2017-06-06 10:57] jcouv commented on #20036
@VSadov Could you take a look and advise for 15.3 course of action?

[2017-06-06 11:07] jcouv commented on #20038
I haven't used ASP.NET in a while, but you can try turning on detailed error reporting:
- https://stackoverflow.com/questions/2640526/detailed-500-error-message-asp-iis-7-5
- https://docs.microsoft.com/en-us/iis/troubleshoot/diagnosing-http-errors/how-to-use-http-detailed-errors-in-iis

Or enabling tracing:
- https://docs.microsoft.com/en-us/iis/troubleshoot/using-failed-request-tracing/troublesho

[2017-06-06 13:26] morgoth1145 opened #20044 "Branch with pipe causing issues with clones on Windows"
**Version Used**:
Current git repo

**Steps to Reproduce**:

1. Clone roslyn repo on Windows
2. Remove "merges/master-to-features/ioperation-20170605-070016|" from ".git/packed-refs" file
3. Run "git fetch"

**Expected Behavior**:
Successful fetch

**Actual Behavior**:
error: cannot lock ref 'refs/remotes/origin/merges/master-to-features/ioperation-20170605-070016|': Unable to create 'F:/open-sour

[2017-06-06 14:02] trentw64 commented on #20005
I discovered last night that this is only occuring when the code fix is installed in a VS 2015 project. I'm not seeing it in VS 2017 projects.

[2017-06-06 15:13] sharwell commented on #20044
I deleted the offending branch.

/cc @agocke

[2017-06-06 15:13] #20044 closed

[2017-06-06 15:44] Pilchie commented on #7364
Also reported in https://developercommunity.visualstudio.com/content/problem/65044/refactoring-tool-rename-fails.html.

[2017-06-06 16:07] Pilchie commented on #20040
Could this be the same thing as https://github.com/dotnet/roslyn/issues/7364?

[2017-06-06 17:05] morgoth1145 commented on #20044
Fetch works fine now.  Thanks!

[2017-06-06 17:29] jcouv commented on #17076
My simplified repro (https://github.com/jcouv/roslyn/commit/9dae4b2a26d1e9c80bbd73139397f48ea32e5bc4) no longer seems to show the issue in VS, but the test Cyrus pointed out still repros. Not sure what happened.
I'll have to resume search for a simple repro.

[2017-06-06 17:44] VSadov commented on #20036
looking

[2017-06-06 17:52] happyhebaby opened #20045 "ClassDeclarationSyntax.ConstraintClauses should return null if not specified."
**Version Used**: 1.3.2

**Steps to Reproduce**: ClassDeclarationSyntax.TypeParameterList returns null when a class doesn't have it, while ClassDeclarationSyntax.ConstraintClauses returns an empty list when it doesn't have it.

**Expected Behavior**: To make the api uniformly interfaced to meet developer's expectation. Keep the uniformity is important for api design as developers don't need to che

[2017-06-06 18:10] TyOverby commented on #19048
@fabianoliver

Using the code in #19623, the following code works now:

[code]

[2017-06-06 18:15] 333fred opened #20046 "IConversionExpression Rework"
[code]
[code]

Note the ConversionKind.Invalid. This is because the underlying BoundConversion has ConversionKind.InterpolatedString, which is not in our public API. This conversion is part of the C# spec, and should be reflected as a conversion type in the IOperation tree. FYI @mavasani @dotnet/analyzer-ioperation.

[2017-06-06 19:07] jcouv commented on #19659
While we're in there, we should consider adding some versioning information in the package description:
- Versions 1.x mean C# 6.0 (Visual Studio 2015 and updates). For instance, 1.3.2 corresponds to the most recent update (update 3) of Visual Studio 2015.
- Version 2.0 means C# 7.0 (Visual Studio 2017 version 15.0).
- Version 2.1 is still C# 7.0, but with a couple fixes (Visual Studio 2017 versio

[2017-06-06 19:39] #18320 closed

[2017-06-06 19:54] VSadov commented on #20036
The repro that is provided actually works for me.
What I noticed is that current compiler compiles the sample much faster than the one packaged with the repro. - both still succeed and produce a binary.

Perhaps the sample hits some particularly expensive codepath that was fixed since the last release (there were several) and it is just slow?

@jcouv  - Considering the difficulties with repro, I h

[2017-06-06 20:08] RyanCavanaugh opened #20049 "Allow public use of CodeActionWithNestedActions"
**Version Used**: Current master

**Steps to Reproduce**:

1. Try to instantiate `CodeActionWithNestedActions`
2. Nope, `internal`
3. 😢

**Expected Behavior**: Should be able to create `CodeActionWithNestedActions` through either some other overload to `Create` or with `new`

**Actual Behavior**: Can't create "grouped" refactorings because there's no public way to create an instance of that class

[2017-06-06 20:08] dpoeschl opened #20050 "Debug asserts in LocalRewriter.BuildArgumentsInEvaluationOrder in invalid code"
**Version Used**: Latest sources

**Steps to Reproduce**:

1. Copy/paste C#:

[code]

2. Waiting usually does it. Or cut/paste the `string.Format` line, Or `Ctrl+.` on the error squiggle, etc.

**Expected Behavior**: No Debug.Asserts

**Actual Behavior**: Debug.Asserts

**Example Stack:**
[code]

[2017-06-06 20:10] dpoeschl commented on #20050
Also noticed by @chborl

[2017-06-06 20:11] gafter commented on #19984
Yes, it is. That is because it is definitely assigned on both branches of the conditional - on the left branch because every variable is definitely assigned after a throw expression, and on the right branch because every variable is "definitely assigned when false" for a constant expression whose value is true (the condition's expression).

[2017-06-06 20:11] KirillOsenkov commented on #20036
@VSadov thanks for looking! By just looking at the callstacks in the dump, can you make an educated guess if a deadlock is possible in that codepath? Is there a rare race condition under which the 5 threads will all deadlock? When I've grabbed the dump the csc.exe definitely didn't seem to be progressing. I even took another dump a few minutes later and it was still in the exact same state.

If Gr

[2017-06-06 20:37] OmarTawfik opened #20053 "Symbols should construct their own modifiers appropriately before looking into overridden symbols"
For the following:

* Methods
* Properties
* Indexers

They should be able to construct their own modifiers appropriately (for example, IsConst for ref-readonly signatures) on both parameters and return types. Later during construction, they should overwrite their own with the overridden signature if both (overriding and overridden symbols) have `RefKind != None`.

Reason for that change is that u

[2017-06-06 21:06] kuhlenh commented on #19260
Ran into this same problem with ```StringBuilder```:

![image](https://user-images.githubusercontent.com/1402694/26851928-529dea8a-4ac1-11e7-9cc9-7120c8d903b8.png)

[2017-06-06 21:07] jcouv commented on #19871
`ErrorCode.cs` has a comment regarding telemetry:
`ERR_FeatureNotAvailableInVersion1 = 8022,        // Note: one per version to make telemetry easier`

@dotnet/roslyn-compiler Can anyone confirm whether having a separate error code per language version actually solves any telemetry problem?

[2017-06-06 21:11] jcouv commented on #17891
You may want to update the documentation at https://github.com/dotnet/roslyn/wiki/EnC-Supported-Edits

[2017-06-06 21:47] fabianoliver commented on #19048
@TyOverby

Great!! Pretty much exactly the same example code I was testing with / that was failing in the previous version. So agree, if above succeeds now the issue is fixed.

Thanks a lot for looking into/fixing this,
Fabian

[2017-06-06 21:53] TyOverby commented on #19048
@fabianoliver Good to hear!  Just remember to include the `WithUsings("AsyncCompatLibExtensions")` call!

[2017-06-06 22:10] jcouv commented on #19659
I started a wiki page for collecting useful information about our NuGet packages:
https://github.com/dotnet/roslyn/wiki/NuGet-packages

[2017-06-06 22:17] rchande opened #20057 "Quickinfo does not work on suggestion dots"
However on suggestion dots, quickinfo does not appear to show what the suggestion is.

[2017-06-06 22:17] Pilchie commented on #20009
Also reported https://developercommunity.visualstudio.com/content/problem/65219/visual-studio-2017-c-switch-case-braces-do-not-pre.html.

Are we sure this isn't a regression?  It feels like braces used to be special cased there.

[2017-06-06 22:39] Pilchie commented on #20040
Leaving in 15.3 in case this is a dupe and helps us understand #7364.

[2017-06-06 22:41] Pilchie commented on #20049
I'm okay with opening this up for 15.6.  @CyrusNajmabadi @DustinCampbell @kuhlenh any objections?

[2017-06-06 22:41] Pilchie commented on #20049
@RyanCavanaugh PS - we take PRs 😉

[2017-06-06 22:43] DustinCampbell commented on #20049
No objections from me since I had to resort to reflection in OmniSharp to proper support code actions. Without exposing this, Roslyn API consumers and code fix authors are at a disadvantage.

[2017-06-06 22:45] Pilchie commented on #19260
Yeah, I didn't consider keywords that were parts of other type names I guess.  Let's pull this back into 15.6

[2017-06-06 22:50] CyrusNajmabadi commented on #20049
We shoudl def make this available.  Though i think teh correct way to do this is to just allow CodeAction to have nested children (that's actually how the property is exposed).  I dont' think there's a need for a distinct subtype.

Also, we have to decide how we want to expose the "can my children be flattened directly into the lightbulb if there aren't that many items?" flexibility that we curren

[2017-06-06 22:50] CyrusNajmabadi commented on #20049
Solution: Just give IVT to ryan.  (note: not typescript.  just ryan).

[2017-06-06 22:53] DustinCampbell commented on #20049
:smile:

[2017-06-06 23:13] Pilchie commented on #18295
Hit this for VB in https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/5207/, https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/5191/.

[2017-06-07 00:06] ashmind opened #20062 "Extremely deep class nesting causes StackOverflowException"
**Version Used**: 2.2.0

**Steps to Reproduce**:

Run the following code:
[code]

**Expected Behavior**:
Some kind of exception explaining how many levels of nesting are supported by C#/Roslyn.

**Actual Behavior**:
Process is terminated due to StackOverflowException.
[code]

[2017-06-07 00:58] AArnott commented on #20040
When I load symbols and source for the thrown NRE, I see that it fails on [this line](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Rename/RenameLocation.ReferenceProcessing.cs#L304-L307).

[2017-06-07 01:00] AArnott commented on #20040
I also can see that this expression specifically is what returns null and then is unconditionally dereferenced: `solution.GetDocument(location.SourceTree)`

[2017-06-07 01:06] Pilchie commented on #20040
Can you get the Text of the source tree and see if it is one of your files.

[2017-06-07 01:34] AArnott commented on #20040
Yes, I'm looking into that now. In the `location.SourceTree` I see a full syntax tree (the full document) from my test. But the Solution.Projects.Documents collection has the same file represented but *only contains the method syntax*: It's just a method body rather than a full compilation unit. And the `MethodDeclarationSyntax.Parent == null`. So since the `SyntaxTree` is different between these

[2017-06-07 01:37] Pilchie commented on #20040
You need to call replace node. If `WithReturnType` doesn't lose its parent, that is a bug.

[2017-06-07 01:55] AArnott opened #20064 "MethodDeclarationSyntax.WithReturnType returns an object with Parent set"
Per discussion in #20040,

[code]

@Pilchie suggests that `WithReturnType` divergent behavior is a bug.

[2017-06-07 01:56] AArnott commented on #20064
Actually though, what if `returnType===method.ReturnType` before the call to `WithReturnType`, such that the `WithReturnType` method can return `this`. In that case, is it legal to return an object where `Parent!=null`?

[2017-06-07 01:58] AArnott commented on #20040
Should a `Document` allow setting a `MethodDeclarationSyntax` as its root node? Or can we say there's a bug there, given it leads to Roslyn throwing NRE later?

[2017-06-07 02:04] jasonmalinowski opened #20065 "Previews for light bulbs leaks solutions"
**Version Used**: 400238e370ef760e178dd7a9db790e5feae7f3fb

**Steps to Reproduce**:

1. Create a new console app.
2. Invoke removed unused usings on the top.
3. Wait for the preview to appear.
4. Dismiss the preview.
5. GC.
6. Run !dumpheap -type PreviewWorkspace

**Expected Behavior**: There shouldn't be any.
**Actual Behavior**: There are two, because the solutions created to drive the preview a

[2017-06-07 02:05] jasonmalinowski commented on #20065
FYI to @Pilchie, @heejaechang, @CyrusNajmabadi, and @jinujoseph....this seems bad.

[2017-06-07 02:07] Pilchie commented on #20040
SyntaxTree supporting arbitrary nodes is deliberate.

Document could maybe protect, but in general, Document doesn't eagerly realize the tree, so I'm not sure we could accurately detect this.

[2017-06-07 02:08] jasonmalinowski commented on #20065
Translating the gc root output a bit, the offender here seems to be https://github.com/dotnet/roslyn/blob/400238e370ef760e178dd7a9db790e5feae7f3fb/src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs#L23. We are starting analysis and using the AnalyzerOptions as the key, but that's never being removed. In the in-proc case the WorkspaceAnalyzerOptions holds ont

[2017-06-07 02:15] heejaechang commented on #20065
this seems due to this PR.

https://github.com/dotnet/roslyn/pull/19277

I will revert the last commit which seems caused the issue.
https://github.com/dotnet/roslyn/pull/19277/commits/a68da9dbf8fb5cebb7461a271cf6c32d28261cec

[2017-06-07 02:16] heejaechang commented on #20065
@jasonmalinowski curious. the solution leaked, is it from PreviewWorkspace? trying to figure out what caused PreviewWorkspace from being leaked.

[2017-06-07 02:18] CyrusNajmabadi commented on #20065
That last commit was added to address race conditions in the code prior to the commit.  Do you know how you can handle the race conditions that will arise if we're not accessing the solution snapshot, but instead accessing .CurrentSolution?

[2017-06-07 02:18] CyrusNajmabadi commented on #20065
This seems to be the issue.  Why is AnalyzerOptions not bein removed once analysis is complete?

[2017-06-07 02:19] jasonmalinowski commented on #20065
@heejaechang The Solution is holding onto the PreviewWorkspace, since Solutions root their workspace.

Reverting that commit is not the correct fix: that would still mean the AnalyzerOptions object _itself_ is being leaked, and would still be leaking all the Workspace objects.

[2017-06-07 02:21] CyrusNajmabadi commented on #20065
The whole chain here is weird.  We have a singleton AnalyzerManager which then has this:

[code]

So... from a single DiagnosticAnalyzer, we hold onto an AnalyzerExecutionContext.  So once a DiagnosticAnlayzer is instantiated and placed into this cache, we hold onto the AnalyzerExecutionContext forever...

Then AnalyzerExecutionContext has this:

[code]

This seems super weird.

How does any of th

[2017-06-07 02:23] jasonmalinowski commented on #20065
@CyrusNajmabadi My reading is the context is intended to be a singleton per analyzer, and then the stuff inside that context is supposed to get cleaned up. But it's not.

[2017-06-07 02:33] heejaechang commented on #20065
@jasonmalinowski @CyrusNajmabadi code was that was for long time though.

this is original code
https://github.com/dotnet/roslyn/pull/19277/commits/e846ff7a8c2322d4a760ba03805aeff8e46cf678#diff-9669ae7e608e196288da6193aebd3a53L123

[2017-06-07 02:37] heejaechang commented on #20065
@mavasani hey manish, is this due to AnalyzerManager singleton issue? how the lifetime of context work here? is it because someone not calling some cleanup on AnalyzerManager?

[2017-06-07 02:46] AArnott commented on #20040
In my case, I have this line:
[code]

Given that tree is realized at least at the root, it could detect it at that point, couldn't it?

[2017-06-07 02:47] heejaechang commented on #20065
@mavasani should we push again to make AnalyzerManager's life time not to be singleton but can be explicitly managed by host? this AnalyhzerManager being singleton is making things to be too complex.

[2017-06-07 02:50] AArnott commented on #20040
When I have a bunch of syntax changes to make, I'm finding it *very* tedious to re-parent it. Is it really this bad, or am I doing it wrong?

[code]

[2017-06-07 02:54] cchamberlain commented on #13802
I just experienced this issue - very tricky to debug since there is zero detail in the `TaskCancelledException`. To figure it out I ran the compilation in a loop with a try / catch, each time it failed with this type of exception, I removed a metadata reference until the project got down to no metadata references. After this I looked at the projects ProjectReferences and noticed the failing projec

[2017-06-07 03:04] heejaechang commented on #20065
@mavasani for preview workspace who should call this? http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/CompilationWithAnalyzers.cs,171a3b0b590b2734,references

but also, this has been this way for long time, not sure why this suddenly happen. my gut feeling is due to conditionalweaktable referencing things in reverse way.

[2017-06-07 03:10] AArnott opened #20066 "Roslyn doesn't select all matching identifiers when in a tuple deconstruction"
**Version Used**: d15rel 26602.0

When the caret is on the local variable within a ValueTuple deconstruction, only that identifier instance is highlighted:
![image](https://user-images.githubusercontent.com/3548/26860668-022da1c0-4af4-11e7-8b77-e7ef5a135207.png)

But when I select the same local variable in another context, all references to that identifier (including the one in the tuple deconstr

[2017-06-07 03:12] heejaechang commented on #20065
@mavasani now with OOP, this host context being maintained for the life time of diagnostic analyzer is no longer true. and we have no evidence that anyone actually care about it since with OOP, all those analyzer must have been all broken no we have no feedback at all for it. so can we remove it now?

[2017-06-07 03:23] AArnott commented on #20040
Now that I've fixed my re-parenting, I see full syntax trees in both places, but the NRE is still firing. I'll see if I can figure out what I may still be doing wrong...

[2017-06-07 04:26] jcouv commented on #19892
Fixed by #19990

[2017-06-07 04:26] #19892 closed

[2017-06-07 04:29] jcouv commented on #20066
Relates to https://github.com/dotnet/roslyn/issues/18371

[2017-06-07 04:32] AArnott commented on #20040
I was still passing in an old `IMethodSymbol` to the `RenameSymbolAsync` method. So mixing of versions also results in NRE being thrown.

[2017-06-07 04:34] jcouv commented on #20062
C# doesn't support any specific levels of nesting. You can change the stack size on your machine to let the compiler handle more and more complex code.
You can get also a stack overflow is a very long fluent call chain (`x.Select(...).Select(...). ... .Select(...)`), but at least such code can be useful. The very deep nesting of types does not seem worthwhile to address, in my opinion.

[2017-06-07 04:35] jcouv commented on #20064
FYI @gafter for triage.

[2017-06-07 04:50] jcouv commented on #20045
The latter API returns a `SyntaxList` which is a struct, so it cannot be `null`. It could be default or empty, and empty seems reasonable/usable.
On the other hand, the first API returns a `TypeParameterListSyntax` which is a class, so `null` makes sense there.

Aside from documentation, I'm not sure how to smooth those edges to make the API more friendly. Also, as you mentioned we are constrained

[2017-06-07 04:59] jcouv commented on #20015
FYI @gafter for triage

[2017-06-07 05:00] jcouv commented on #19986
FYI @agocke for triage.

[2017-06-07 05:09] happyhebaby commented on #20045
Thanks for the clarification.

On Tuesday, June 6, 2017, 9:53:29 PM PDT, Julien Couvreur <notifications@github.com> wrote:

The latter API returns a SyntaxList which is a struct, so it cannot be null. It could be default or empty, and empty seems reasonable/usable.
On the other hand, the first API returns a TypeParameterListSyntax which is a class, so null makes sense there.

Aside from documentat

[2017-06-07 05:12] jcouv commented on #19946
That's by-design. We explicitly [test for that](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Tuples.cs#L481).
If I remember correctly, we visit all the `ValueTuple` types and serialize each of their names. Since a 9-tuple is lowered to `ValueTuple<T1, ..., T7, ValueTuple<T8, T9>>`, both potentially carry names and thus need to be serialized.

[2017-06-07 05:27] jcouv commented on #19959
From checking "Expert .NET 2.0 IL Assembler" (page 220 on Method Parameters), each parameter has input/output flags, comprising of "in", "out" and "opt". I think that's what `[out]` means in the IL from your example.
I think that is not the same as an `OutAttribute`. The attribute probably causes the compiler to set the IL flag, but no vice-versa.

@AlekseyTs @VSadov for confirmation. Thanks

[2017-06-07 05:30] jcouv commented on #19942
@MichalStrehovsky for confirmation and triage.

[2017-06-07 05:34] jcouv commented on #19909
I'm not sure what is the value of writing such test automation. Shouldn't it be good enough to verify once (possibly against different versions of the compiler)? Those shipped compilers are not expected to change.

[2017-06-07 05:35] tuespetre commented on #19946
I could see there being a null value per unnamed 'lifted' tuple element (i.e., the TRest tuple) but why are there so many null values in the example I gave? What purpose are they serving?

In the example you linked to, why is that null value there?

[2017-06-07 05:40] jcouv commented on #19829
Ping @TyOverby @gafter

[2017-06-07 05:47] mavasani commented on #20065
This is a requirement of analyzer execution semantics - Initialize method should get executed only once for the lifetime of the analyzer, which for VSIX Analyzers is lifetime of VS. We cannot get rid of the context when executed in VS workspace. Ideally, we would expose the AnalyzerManager or some variation of it as a public API and the workspace host will control its lifetime and cleanup on Dispo

[2017-06-07 05:48] jcouv commented on #15370
@tmat I assume that you introduced those compiler options. Would you mind updating the doc for those?

[2017-06-07 05:55] mavasani commented on #20065
@heejaechang Whoever creates and maintains analyzer instances owns clearing the analyzer execution state.

If the design team agrees to break the single Initialize call requirement, then we can remove the singleton. Though this will regress perf for Analyzers with expensive Initialize method.

If we decide to retain this requirement, we should move the responsibility of handling the lifetime of an

[2017-06-07 06:00] jcouv commented on #15250
@nguerrera I assume this is part of the embed source feature (https://github.com/dotnet/roslyn/issues/12625) and you're the right person to own this. Can you triage into a milestone?

[2017-06-07 06:11] jcouv commented on #13361
I'll go ahead and close the issue as Answered.

As we start releasing minor versions of C#, such problems are going to become more common. I am tracking a list of issues to smooth this adoption process (more details in https://github.com/dotnet/roslyn/issues/18783).

[2017-06-07 06:11] #13361 closed

[2017-06-07 06:13] jcouv commented on #12806
@gafter I think we more or less dropped the language feature approach in favor of language versions. Should we close this issue?

[2017-06-07 06:16] jcouv commented on #16705
@mavasani Do you still have a repro?

[2017-06-07 06:17] jcouv commented on #16102
FYI @Pilchie I'll let IDE team prioritize this suggestion for Rename.

[2017-06-07 06:20] jcouv commented on #17752
@controlflow @gafter If you have a suggestion for a the error message. I will fix.

[2017-06-07 06:31] AArnott commented on #20040
OK, so after I fixed all my local variable version consistency issues, my scenario works without NRE being thrown.
So I think what we have here is that if a very easy to make bug (for me, at least) exists in syntax tree manipulation code, then Roslyn has a high likelihood of throwing NRE which if closely studied can lead the guilty party to realize their mistake. I'd prefer an exception when the m

[2017-06-07 06:35] jcouv commented on #17255
This is fairly old. I assume it was fixed already. Please re-open if that's not the case.

[2017-06-07 06:35] #17255 closed

[2017-06-07 07:00] #19215 closed

[2017-06-07 07:06] jcouv commented on #19128
Relates to https://github.com/dotnet/roslyn/issues/18533 (the requirements of the compiler packages need to be documented).

[2017-06-07 07:12] jcouv commented on #19033
This seems the same stacktrace as https://github.com/dotnet/roslyn/issues/15322
Ping @agocke to confirm and verify.

[2017-06-07 07:20] #18675 closed

[2017-06-07 07:26] ranuka2 opened #20070 "Is it possible to precompile a web application with Microsoft.CodeAnalysis.MSBuild.MSBuildWorkspace?"
I'm developing a Visual Studio 2015 extension which need to to pre compile a selected web application project and emit the output to a target location. The compiled binary will be submitted to a service for analysis. Is it possible to use Microsoft.CodeAnalysis.MSBuild.MSBuildWorkspace to achieve this? Any Rolslyn based alternatives for this?

[2017-06-07 07:48] jcouv commented on #19946
Each occurrence of ValueTuple is an opportunity to carry names. For each of those possibly named positions, there must either be a null or a name.
As illustrated in the example with y8 and y9, you can have names in those two extra positions. That means you need repo bulls nulls when they are not actually named.
The example that I linked could be part of a more complex type (key value pair of two l

[2017-06-07 07:50] #20045 closed

[2017-06-07 08:11] ashmind commented on #20062
@jcouv
I feel that a library should never allow `StackOverflowException` as it can bring down the whole process.
E.g. if I open this file in VS, the whole VS dies.

Would `System.Runtime.CompilerServices.EnsureSufficientExecutionStack()` give any noticeable performance impact?

[2017-06-07 11:23] carloscds opened #20071 "Tuple Bug"
I'm using Visual Stdudio 17 (15.2) and when I have create a Tuple with named variables, VS shows Item1, Item2 and not correct name of variable.

I have this code:
[code]
After Run code and stop at "var p = People()", VS shows Item1 and Item2 as variable, but correct is "ID and Name".
![vs1](https://user-images.githubusercontent.com/1697221/26875968-8592513a-4b5a-11e7-8844-5d4d2c2dc238.jpg)

Correc

[2017-06-07 11:49] DavidKarlas opened #20072 "Intellisense doesn't work for "Inferred tuple names""
It's possible that I'm not understanding this new feature correctly but it compiles usage of `t.a` just fine.

**Version Used**:
VS 2017 Version 15.3 (26510.0-Preview) Preview
But I'm seeing same thing in VS for Mac after updating to Roslyn 2.3.0-beta1 nuget from nuget.org.

**Steps to Reproduce**:
Enter code below
[code]

**Expected Behavior**:
Not show error and offer code completion.

**Actual

[2017-06-07 11:50] DavidKarlas commented on #20072
/cc: @jcouv

[2017-06-07 12:54] Misiu commented on #1276
Whats the status of this?

I'd like to do this:

`TabListControl?.SelectedIndexChanged += this.OnSelectedIndexChanged;`

but I must add extra check

[code]

I've looked at _Null-coalescing assignments_, but this isn't something I could use in this specific case.

[2017-06-07 14:25] tuespetre commented on #19946
@jcouv sorry, my phone apparently scrolled to the wrong line when I opened your link. Here is what I saw:

https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Tuples.cs#L369

[code]

Now looking at it with fresh eyes I see why the `null` would be there (because `(dynamic e2, dynamic e3)` is the unnamed single element of `ValueTuple<>`.)

But this..

[2017-06-07 15:15] AArnott commented on #18629
I hit this too. I was using deconstruction in my Roslyn analyzer library (Microsoft/vs-threading) which still supports VS2015. I was disappointed to see that I have to use System.ValueTuple, which isn't supported on VS2015's version of Roslyn. So I changed all my ValueTuple use to Tuple and wrote my own Deconstruct extension methods, and the compilation fails because of the missing reference. Yet

[2017-06-07 16:48] jcouv commented on #19946
Exercise for the reader: try to encode the following cases, such that they can be roundtripped (ie not get mixed up with each other):
- `ValueTuple<int, ..., int, (int y8, int y9)>`
- `(int x1, ..., int x9)`.
- `(int x1, ..., int x7, int, int)`

The first case is important, as it creates the requirement to store 11 names for `ValueTuple<int, ..., int, ValueTuple<int, int>` (9 integers).
The same l

[2017-06-07 16:51] mavasani commented on #16705
@davkean @srivatsn - can you provide a repro here?

[2017-06-07 16:51] mavasani commented on #16705
I recall we added a workaround in the project system due to this bug.

[2017-06-07 16:52] MichalStrehovsky commented on #19942
From looking at the test coverage, `[ComImport]`/`[Guid]`/`[InterfaceType]` should work with .NET Native, but maybe there's a bug somewhere. As a blind attempt to work around you could try:

* make the the `IMemoryBufferByteAccess` interface non-nested
* make the `out byte* buffer` into `out IntPtr buffer`

I'm not sure if either would help to work around the possible bug, but it's worth a try.

W

[2017-06-07 16:54] jcouv commented on #20072
Something else is going on. What do the red squiggles say? I suspect they say you need to use Language Version 7.1.

An easy way to verify that is to type `#error version` and look at the error that produces. If you are using C# 7.1, then it will look like this:
![image](https://user-images.githubusercontent.com/12466233/26890696-4ae2c0a8-4b67-11e7-8cff-ea60d9e6f41a.png)

:memo: I get proper compl

[2017-06-07 16:55] stephentoub opened #20074 "Avoid unnecessary write in null-coalescing operator"
**Version Used**:
Microsoft (R) Visual C# Compiler version 2.3.0.61724 (8d1d7ae2)

**Steps to Reproduce**:
Compile this in release:
[code]

**Expected Behavior**:
As the compiler can see that `args` is both the variable being checked and the assignment target, it should be able to avoid the write back to args if args is not null:
[code]

**Actual Behavior**:
Even when the local is found to be non-

[2017-06-07 16:58] DavidKarlas commented on #20072
![image](https://user-images.githubusercontent.com/774791/26890800-28a496c8-4bb3-11e7-9445-0b502ec34d3e.png)

![image](https://user-images.githubusercontent.com/774791/26890823-3c355632-4bb3-11e7-81be-198f90972050.png)

Is it possible this was fixed in newer version?

[2017-06-07 17:06] AlekseyTs commented on #19959
That is correct, C# and VB compilers translate the attribute into the flag and never emit it as an attribute. On import, we do not add attributes that aren't there.

[code]

[2017-06-07 17:07] yizhang82 commented on #19942
@albertofustinoni My guess would be that ref byte * might be what's triggering the bug. It would be good if you can send mail to the mail mentioned by @MichalStrehovsky so that we can better help you there. I'll take a look either way. Thanks for reporting the issue!

[2017-06-07 17:07] heejaechang commented on #20065
@mavasani but that requirement is already broken? OOP does that on every single time it runs analyzers. I believe only one person who insist that requirement was John and I don't believe we need to keep it anymore.

[2017-06-07 17:09] jeremymeng commented on #19959
Got it.  Thanks for the insights! Closing.

[2017-06-07 17:09] #19959 closed

[2017-06-07 17:13] jeremymeng commented on #19955
The parameter doesn't have an OutAttribute per #19959.

So still need a way to figure out whether there's a `out` flag on the parameter.

[2017-06-07 17:13] jcouv commented on #19942
Thanks for the assistance Michal and Yi.
I'll close the issue as External and let @albertofustinoni follow-up with you as recommended.

[2017-06-07 17:13] #19942 closed

[2017-06-07 17:34] jcouv commented on #20072
Thanks for the snapshots. Yes, the whole feature was added in a newer version than what you are using.

Looking at the compiler version and looking at the [source tree](https://github.com/dotnet/roslyn/blob/8f02e04893c4b53cf6ca11b064848888365914d3/src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs) for that version, I can see that the inferred tuple names feature was not there yet.
I think

[2017-06-07 17:49] mavasani commented on #20065
So I digged more into this and it seems this regressed recently with our editor config related work. [WorkspaceAnalyzerOptions](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/WorkspaceAnalyzerOptions.cs,f7c93afef035f537,references), which is really a super hack for IDE analyzers to consume workspace, now strongly holds onto the solution snapshot. I see couple of trivial fixes

[2017-06-07 18:07] jcouv commented on #16355
I'm fixing this along with https://github.com/dotnet/roslyn/issues/19013

[2017-06-07 18:07] dlech commented on #19978
I'm seeing a similar issue in docfx. Unfortunately, I can't reproduce with a simple test case. But, here is how you can observe the problem in docfx itself:

1. Clone https://github.com/dotnet/docfx
2. Clone https://github.com/docascode/docfx-seed
3. Open `All.sln` in the docfx repository in Visual Studio
4. In Visual Studio, select the `docfx` project and open the properties.
5. On the debug page

[2017-06-07 18:24] tmat commented on #15370
Sure. I already added ```/sourcelink```, so the only missing one is ```/embed```

[2017-06-07 18:24] dlech commented on #19978
I added a listener to `WorkspaceFailed` as suggested and got:

[2017-06-07 18:30] tmat commented on #20071
Could you please try with 15.3 Preview? Seems to work now:
![image](https://user-images.githubusercontent.com/41759/26894916-ae4868a2-4b74-11e7-9df5-f2ce93bcf087.png)

[2017-06-07 18:30] jasonmalinowski commented on #20065
That will happen for 15.6, but I think for 15.3 we need to leave this as is.

What is the intended lifetime of the AnalyzerOptions? That's potentially a long-lived type, is that the right pattern? I admit I would have expected that dictionary to be `ConditionalWeakTable<Compilation, Dictionary<AnalyzerOptions, ...>>` so that way as soon as a compilation falls away everything else falls away.

[2017-06-07 18:33] tmat commented on #15250
I think we should finish embedded source support in 15.6

[2017-06-07 18:33] 333fred commented on #8851
Fixed in e047f24c54a3094eeceb54a45427d0c6b310b95a.

[2017-06-07 18:33] #8851 closed

[2017-06-07 18:47] #20072 closed

[2017-06-07 18:48] Pilchie commented on #20070
@ranuka2 I don't know of anyone who has done this.  Generally `MSBuildWorkspace` won't know about any of the embedded code in aspx/cshtml files though, because MSBuild never processes them, so depending on your requirements it may not work.

[2017-06-07 18:50] Pilchie commented on #16102
Note that fixing this probably means updating `SyntaxTreeInfo` to record whether a given file contains any deconstructions.

[2017-06-07 18:58] gafter commented on #10341
@rchande Please move this to an open milestone.

[2017-06-07 19:00] dlech commented on #19978
After adding the System.Threading.Tasks.Dataflow 4.5.24 nuget package, I get:

Then I upgrade all of the Microsoft.CodeAnalysis.* packages from 2.0.0 to 2.3.0-beta1 and got the more informative message:

So, I tried to install Microsoft.Build.Utilities.Core 14.0.0, but this version does not exist on nuget.

I guess I will keep digging...

[2017-06-07 19:08] Pilchie commented on #19978
@dlech: that sounds like an indication that you need to have binding redirects to redirect things to their 15.1 version.  https://github.com/dotnet/roslyn/issues/2779 has some info, though the version numbers to redirect to are wrong now.

[2017-06-07 19:17] dlech commented on #19978
BTW, the docfx project uses Microsoft.Build.Utilities.Core 15.1.548 from nuget. Any bright ideas for resolving this versioning issue?

[2017-06-07 19:17] ashmind commented on #20062
@jcouv Fortunately not encountered in the wild yet, but I have a Roslyn-based web tool (https://sharplab.io) and I want to make sure a troll can't bring down my site by posting malicious code. I could isolate the work into a separate process, but that would create a very large overhead (a process for each user?).

Same concern would apply to any analysis of untrusted code, e.g. indexing GitHub, ma

[2017-06-07 19:34] jasonmalinowski commented on #20065
I'm also not sure if the WorkspaceAnalyzerOptions change was actually the precipitating cause: it turns out we create a PreviewWorkspace for each file in a lightbulb preview, so if we were previously holding onto the Workspace we were still leaking all solutions and workspaces, since the workspace has it's CurrentSolution. We're leaking in the reverse direction (this is solution holding to workspa

[2017-06-07 19:37] nguerrera commented on #19127
Duplicate of https://github.com/dotnet/roslyn/issues/15250

[2017-06-07 19:55] heejaechang commented on #20065
@jasonmalinowski there are too many ConditaionalWeakTables, so it might start to leak since someone somewhere put a type in ConditaionalWeakTable. one thing we know was PreviewWorkspace didn't leak before which I know since I did some work to make sure it doesn't leak.

also, editor's LB will cache last preview window until caret gets moved (LB refreshed) so PreviewWorkspace will be alive until th

[2017-06-07 19:57] heejaechang commented on #20065
@mavasani information on #2830 is slightly outdated. but regardless, end goal is making AnalyzerManager not singleton but something one can create and throw away as one sees.

[2017-06-07 19:58] jasonmalinowski commented on #20065
Given we didn't have any tests on this, I'm not sure I share your confidence there. I agree it didn't leak when you last fixed bugs here...and it was probably regressed thereafter but prior to the WorkspaceAnalyzerOptions change.

[2017-06-07 20:12] jcouv commented on #20062
Ah. Thanks for the clarification. I love that site btw :smile:
Let me think about it and see if the team has some ideas.

[2017-06-07 20:12] Pilchie commented on #19978
@dlech You need to look at the *assembly version* of those assemblies and use it as the target in the binding redirects described in #2779.

[2017-06-07 20:13] heejaechang commented on #20065
@jasonmalinowski well, if you have an idea on how to detect leak in test, I believe many people will welcome that new tool. I believe Kyale tried to add such tool to unit tests and eventually gave up.

[2017-06-07 20:15] jcouv commented on #16102
Thanks for pointing this out @Pilchie
If that helps, there is already an issue which will need indexing deconstructions https://github.com/dotnet/roslyn/issues/18963 (which I will try to implement in 15.6).

[2017-06-07 20:23] Pilchie opened #20082 "Validate the new root is a CompilationUnitSyntax in Document.WithSyntaxRoot"
See https://github.com/dotnet/roslyn/issues/20040.

Some confusion could have been avoided if `Document.WithSyntaxRoot()` validated that the new root was a `CompilationUnitSyntax`.

[2017-06-07 20:24] Pilchie commented on #20040
I filed https://github.com/dotnet/roslyn/issues/20082 to track updating the argument syntax.  I think we'll close this issue though.

[2017-06-07 20:24] #20040 closed

[2017-06-07 20:26] rchande commented on #10341
@Pilchie I moved this into 15.6, feel free to move earlier or later.

[2017-06-07 20:30] Pilchie commented on #10341
@AdamSpeight2008 It looks like you re-opened this for a different case.  Can you file a new issue with detailed and clear repro steps?

[2017-06-07 20:30] #10341 closed

[2017-06-07 20:38] Pilchie commented on #18835
Fixed by #19606.

[2017-06-07 20:38] #18835 closed

[2017-06-07 20:40] gafter commented on #20074
The language semantics of this statement are that it stores into `args` unconditionally. If you're requesting we produce an equivalent but different code sequence, such things are done in the jit.

[2017-06-07 20:41] stephentoub commented on #20074
We really need to move away from this philosophy.

[2017-06-07 20:56] bbi-yggy commented on #13952
Another option to achieve (something similar to) this would be in the IDE - Visual Studio can already help you implement an interface on your class. Visual Studio could be extended to give you the option of implementing the interface by delegating to a field that implements the interface. You would still have the boilerplate interface delegation code, but at least you wouldn't have to write it you

[2017-06-07 21:06] AlekseyTs opened #20083 "Adjust tests once https://github.com/dotnet/coreclr/issues/12147 is addressed"

[2017-06-07 21:07] AlekseyTs commented on #20083
Related to https://github.com/dotnet/coreclr/issues/12147

[2017-06-07 21:10] VSadov commented on #16364
There was another report on this.

[2017-06-07 21:27] AlekseyTs opened #20084 "Adjust tests once https://github.com/dotnet/coreclr/issues/12149 is fixed"
Related to https://github.com/dotnet/coreclr/issues/12149

[2017-06-07 21:29] tuespetre commented on #19946
@jcouv thank you, the 'roundtripping' concept made it click for me. 👍

[2017-06-07 21:29] #19946 closed

[2017-06-07 21:32] CyrusNajmabadi commented on #19953
Fixed with https://github.com/dotnet/roslyn/pull/20020

[2017-06-07 21:32] #19953 closed

[2017-06-07 21:32] TyOverby opened #20085 "IL gen is not protected against errors originating in lowering"
In MethodCompiler.GetEntryPoint, we lower without checking the lowered form for errors.  Right now it is impossible to lower and get errors, but this should be future-proofed.

[2017-06-07 21:36] dlech commented on #19978
Thanks for the advice. I was able to fix the error by manually editing `docfx.exe.config` and adding...

[code]

Now, to figure out how to get it to do that automatically...

[2017-06-07 21:36] jcouv commented on #2052
Seems like `BlockBodyAndExpressionBody_03` was updated since the bug was filed.

Look at `AttributeInMethodBody` instead for repro:

[code]

[2017-06-07 21:42] GrantHoffman opened #20086 "Feature Improve Code Actions should have states."
Code action should should have a way to tell if the changes are Final.  Preferable to support multiple states.

1. Final Actions (action that should occur after a fix is applied completely)

Overriding ComputePreviewOperationsAsync is not sufficient, because ComputePreviewOperationsAsync is Called prior to make all of you changes when using FixAll for Document, Projects, or Solutions.

Additionall

[2017-06-07 21:44] Pilchie commented on #19978
@dlech Adding an `app.config` file to your project (or editing the existing one), should cause the build to copy it to the output directory and rename it, etc.

[2017-06-07 21:47] jcouv commented on #19946
Glad to hear :-)
I took a note to add some details to the tuples feature document.

[2017-06-07 22:05] jcouv commented on #19013
Fixed by #20077

[2017-06-07 22:05] #19013 closed

[2017-06-07 22:05] jcouv commented on #16355
Fixed by #20077

[2017-06-07 22:05] #16355 closed

[2017-06-07 22:05] jcouv commented on #20018
Improved the message with #20077

[2017-06-07 22:05] #20018 closed

[2017-06-07 22:11] sharwell opened #20088 "Incorrect expansion of selection if followed by 'Else'"
**Version Used**: 15.3 Preview 1

🔗 Originally reported by [Kevin O'Donovan](https://developercommunity.visualstudio.com/users/22188/41d80bd8-00b8-455f-920d-7f1dd6b6e8ae.html): https://developercommunity.visualstudio.com/content/problem/65499/extract-method-refactoring-ignores-selection.html

**Steps to Reproduce**:

1. Use the following code

[code]

2. Click in the left margin to select the line

[2017-06-07 22:15] tommcdon commented on #20017
\\vsdbgqa\tommcdon\Traces\ML Cyrus Traces\ReproTrace3.etl.zip

[2017-06-07 22:15] sharwell opened #20089 "Invalid Extract Method result for selection in 'ElseIf'"
**Version Used**: 15.3 Preview 1

:memo: This was found during an investigation of #20088 (specifically, trying to minimize the repro case).

**Steps to Reproduce**:

1. Start with the following code

[code]

2. Select the 5 lines contained within the `ElseIf` clause by clicking and dragging in the line number margin
3. Apply the **Extract Method** refactoring

**Expected Behavior**:

[code]

**Ac

[2017-06-07 22:38] davkean commented on #16705
This isn't referring to Csc, this is referring to the CommandLineParser type. We should separate source files from references. As I found out later, [References are treated and resolved completely](https://github.com/dotnet/project-system/issues/1872) different - the command-line parse itself doesn't resolve them during a parse..

The bug I recall was when you had a compile item that had a path ou

[2017-06-07 22:44] Pilchie commented on #19407
Typo in my PR means we didn't actually force load these projects.

[2017-06-07 22:47] davkean commented on #16705
Once I've fired up a repro I can clearly see that this isn't a bug in the parser:

[code]

Outputs:

[code]

The parser doesn't normalize (which is a reasonable behavior) - which was tripping up our logic that was expecting a normalized path.

We can close this one out.

[2017-06-07 22:47] #16705 closed

[2017-06-07 22:55] jcouv opened #20091 "Some IOExceptions are not caught in Emit"
Some instances were guarded by https://github.com/dotnet/roslyn/pull/19360
But it looks like some other I/O writes are not guarded.

[2017-06-07 22:56] dlech commented on #19978
Thank you once again. It looks like OpenSolutionAsync() is working correctly now.

I think we can conclude that, at least in my case, the problem is caused by the fact that docfx is trying to use a mix of nuget and system dlls.

FWIW, I ran my patched version of docfx on another project and got a new error...

I think this game could go on forever, so I'm going to have to give up for now.

[2017-06-07 22:59] #19048 closed

[2017-06-07 23:15] jcouv commented on #13854
@cston Since you looked at this code recently, can you triage this bug?
I'm not sure if producing the error is a worthwhile break.

[2017-06-07 23:19] AlekseyTs opened #20093 "IDE slowly gets less and less responsive and eventually crashes"
I am editing a big C# file. IDE gets slower and slower to respond and eventually crashes. I sent several Watson dumps.
I also have a dump taken when VS is using close to 2GB of memory, it looks like there might be a memory "leak" somewhere. I captured a dump, it is available upon request.

CC @Pilchie

[2017-06-07 23:20] #17207 closed

[2017-06-07 23:23] AlekseyTs opened #20094 "IDE stop responding completely while a big C# file was edited."
I edited a big C# file. IDE got slower and slower to respond. Eventually it stopped responding at all, I had to kill the process. I captured a dump before killing the process, it is available upon request.

CC @Pilchie

[2017-06-07 23:26] 333fred opened #20095 "IBoundDelegateCreationExpression API"
Given the following C# code:
[code]
We currently get the following IOperation tree:
[code]

This is inconsistent with the SemanticModel. For GetTypeInfo on the M1 IdentifierSyntaxNode, we have a Type of `null` and a ConvertedType of `Program.DType`. Note that the underlying BoundNode structure is actually a `BoundLocalDeclaration`, with an initializer of `BoundConversion`. We actually detect `Conv

[2017-06-07 23:28] jcouv commented on #19221
Assigning a milestone, to document this while the feature is still relatively fresh.

[2017-06-07 23:34] CyrusNajmabadi commented on #20093
Tagging @sharwell .  Can you make your dump available Aleksey?

[2017-06-07 23:34] Pilchie commented on #20094
@sharwell Can you take a look?

[2017-06-07 23:34] CyrusNajmabadi commented on #20093
Can you also provide information about teh version of VS you're using, and what version of the Roslyn insiders vsix you're using if you've updated your vsix.  Thanks!

[2017-06-07 23:38] 333fred commented on #20095
Fyi @dotnet/analyzer-ioperation

[2017-06-07 23:41] sharwell commented on #20094
@AlekseyTs Do you have the Roslyn Syntax Visualizer window open?

[2017-06-07 23:42] VSadov commented on #20036
Looked in WinDbg - it appears to be a deadlock in the JIT/typeloader.

No threads are making progress.
In particular:

=== one thread:
ntdll!ZwWaitForSingleObject(void)+0xa
ntdll!RtlpWaitOnCriticalSection(struct _RTL_CRITICAL_SECTION * CriticalSection = 0x000000b8`ca760e30 Locked with contention, long Increment = <Value unavailable error>)+0xe1
ntdll!RtlpEnterCriticalSectionContended(struct _RTL_C

[2017-06-07 23:47] AlekseyTs commented on #20094
I didn't open it explicitly.

[2017-06-07 23:50] AlekseyTs commented on #20093
[code]

Nothing extra on top.

[2017-06-07 23:57] KirillOsenkov commented on #20036
Very interesting! So it's a bug in the .NET runtime?

[2017-06-08 01:03] VSadov commented on #20036
Yes, i think CLR guys should take a look at the dump/repro

[2017-06-08 01:03] gafter commented on #20064
That is the intended behavior of these With APIs - if you With a part with the value that it already has, you don't get back a new object.

@AArnott is that your scenario?

[2017-06-08 01:18] KirillOsenkov commented on #20036
@karelz do you know who would be the best person to investigate a potential deadlock in the desktop CLR Jit?

[2017-06-08 03:29] nguerrera commented on #15250
Let's track this with #19127. There's bit more detail there.

[2017-06-08 03:29] #15250 closed

[2017-06-08 03:42] nguerrera commented on #19127
There should also be an easy way to embed only generated sources, for the scenario where you SourceLink the stuff in the repo and embed the stuff that's generated.

Here's one approach to that: consider anything in @(Compile) by the time CoreCompile runs that was not in @(Compile) statically as generated.

So we'd have
* EmbedAllSourcesInPdb -> /embed
* EmbedGeneratedSourcesInPdb -> /embed:(set de

[2017-06-08 04:17] AdamSpeight2008 commented on #12806
@jcouv  The issue isn't about code internal to the Roslyn code, as it can access the internal function that check for the presence of a feature, but external user of Roslyn.
For example say I'm writing a analyser to that converts `string.Format` to string interpolation. And the user is targeting a language version that doesn't support it. Then there is no point in the analyser being run or even lo

[2017-06-08 07:39] davkean opened #20101 "PackageInstallerService.ProcessProjectChange is sending non-fatal watsons causing UI delays"
Investigating UI delays in https://developercommunity.visualstudio.com/content/problem/66362/visual-studio-2017-keeps-freezing-on-me.html, I see a bunch are proceeded immediately by the PackageInstallerService sending on non-fatal watsons on UI thread for the following:

[code]

I'm guessing this line is failing:
https://github.com/dotnet/roslyn/blob/cdde5bd4d36d06b7f8ebe434e82eb5e35b4e1277/src/Vi

[2017-06-08 07:52] davkean commented on #20101
Looks like we sent 41 non-fatal watsons in that session - shouldn't these be throttled?

[2017-06-08 07:52] davkean commented on #20101
tag @CyrusNajmabadi

[2017-06-08 08:23] jinujoseph commented on #19526
Tracked [here]([url](https://developercommunity.visualstudio.com/content/problem/23043/quick-watch-doesnt-read-namespaces.html)

[2017-06-08 09:39] MrMatthewLayton opened #20102 "Short-hand "object-literal" syntax for anonymous objects"
Currently when we want to declare an anonymous type we do:

[code]

What I would like to see (just the omission of `new`):

[code]

Or, bring anonymous object / "object-literal" syntax in line with Javascript:

[code]

Rationale

- It looks cleaner
- It would improve readability of objects being serialized/deserialized to JSON
- Code formatting would look cleaner too; for example:
[code]

[2017-06-08 10:14] marek-safar opened #20103 "The given expression is never of the provided type when pattern matching is used"
**Version Used**: 2.3.0.61719 (5fbdd5c5)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

`warning CS0184: The given expression is never of the provided ('object') type` is issued or even CS8121 error to be consistent with other pattern matching checks.

**Actual Behavior**:

No warning CS0184

[2017-06-08 10:15] ctaggart commented on #19127
@nguerrera That is what [SourceLink.Create.GitHub will do](https://github.com/ctaggart/SourceLink#dotnet-sourcelink-git).

I was expecting the Visual Studio 2017 debugger to be able to find embedded source files when it shipped. Is [Debugger should support C# compiler '/embed' option](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/19107733-debugger-should-support-c-

[2017-06-08 11:39] jcouv commented on #12806
@AdamSpeight2008 can such analyzer access the language version for a compilation?
I think the answer is yes, and so that solves the problem (I agree with Jared).
There is strict equivalence between language version and feature support, unlike in the browser world. So exposing the concept of "feature" only increases complexity.
https://github.com/dotnet/csharplang/blob/master/Language-Version-Histo

[2017-06-08 12:05] onovotny commented on #20101
If it helps, I was working on this solution: https://github.com/AArnott/Nerdbank.GitVersioning. I do not have the `NuProj` Addin installed, so I did get an unsupported warning about the NuProj project not being supported.

I got the freezes while typing both in C# code and editing json files (version.schema.json).

[2017-06-08 12:49] nguerrera commented on #19127
@ctaggart Cool. That's more robust as it knows what's in the repo and what's not. This would include. I withdraw the EmbedGeneratedSourceInPdb proposal.

[2017-06-08 14:53] davidroth commented on #18253
Go to all is painfully slow in our solution and frequently causes nasty UI freezes for several seconds.
Considering that this functionality is used hundreds of times a day, I am a bit disappointed that this is targeted for 15.6 only.

[2017-06-08 14:56] Pilchie commented on #18253
The core editor team is also looking at this, and may have a fix for 15.3.  @hemchans - any update on that investigation?

[2017-06-08 15:10] Pilchie commented on #20101
I think that was fixed recently.  Also, what's causing a UI delay about that? Just walking the callstack?  AFAIK, we don't actually much more than that in the NFW codepath.

cc @tmeschter and @heejaechang though.

[2017-06-08 15:46] KorenX opened #20104 "Plz make C# Scratch version"
**Version Used**:
Idk rly

**Steps to Reproduce**:
1.  Make
2.  C#
3.  Scratch version

**Expected Behavior**:
Program C#, but without coding. Maybe an interactive software make online.

**Actual Behavior**:
Program C#. But with coding.

[2017-06-08 15:47] KorenX commented on #20104
☺

[2017-06-08 16:10] gregg-miskelly commented on #19127
@ctaggart the scope for 15.6 hasn't been defined. So it isn't possible to say yet what will and will not make it.

[2017-06-08 16:26] Pilchie opened #20105 "Add tests to verify telemetry for key performance metrics"
We track performance telemetry within our team for 4 key activities:*

1. Find All References
2. Go To searches
3. Inline rename commits
4. Format Document commands

To make sure we don't break that reporting we should write some tests that verify things make it through the pipeline.

From the internal wiki about verifying telemetry:

`*` Other teams track various other activities as well (typing,

[2017-06-08 16:38] hemchans commented on #18253
@AmadeusW is looking at this as part of 15.3 Bug 404590: NavigateTo/GoTo performance is very slow on Roslyn.sln.

[2017-06-08 16:41] Pilchie opened #20106 "Failing test: Microsoft.CodeAnalysis.Editor.UnitTests.Structure.StructureTaggerTests.CSharpOutliningTagger_RegionIsDefinition"
Failed here:

https://ci.dot.net/job/dotnet_roslyn/job/dev15.6/job/windows_release_unit64_prtest/175/

But the test results don't actually include the failure.

[2017-06-08 16:41] Pilchie commented on #20106
@CyrusNajmabadi - can you take a look at what might have happened here?

[2017-06-08 16:53] miloush commented on #20009
I am pretty sure the default settings have been always the way reported, i.e. indented with regards to `case`.

It would have been pretty awkward
[code]

unless you are thinking there was a special exception for when the whole case block is marked with braces only. Either way, if it helps, it behaves the same in VS 2010 - as reported.

[2017-06-08 17:00] heejaechang commented on #18253
@CyrusNajmabadi @Pilchie @hemchans somehow, cyrus's work to make navigate to to run on OOP removed all those UI freeze.

[2017-06-08 17:04] Pilchie commented on #18253
I think the issue is that the platform is asking for the display strings of all the items.  Since @CyrusNajmabadi made that get computed OOP, we just won't return results to the platform until we have them.

[2017-06-08 17:05] heejaechang commented on #20101
according to telemetry team, they do throttle. let me add in team that owns NFW.

[2017-06-08 17:06] 333fred commented on #20046
Note: this should probably be represented as `ConversionKind.CSharp`, unless we think that there is a plan to add interpolated strings with similar semantics to VB.

[2017-06-08 17:07] hemchans commented on #18253
@Pilchie @CyrusNajmabadi did Cyrus' changes get into 15.3 yet? Or is that 15.6 work?

[2017-06-08 17:26] Pilchie commented on #18253
It's not *yet* in 15.3, but the plan is to have it there with an option to enable, but off by default.

[2017-06-08 17:56] CyrusNajmabadi commented on #20101
Roslyn exception fixed with https://github.com/dotnet/roslyn/pull/19894

[2017-06-08 18:02] carloscds commented on #20071
@tmat Works fine with 15.3.

[2017-06-08 18:18] tmat commented on #20071
@carloscds Thanks for checking.

[2017-06-08 18:18] #20071 closed

[2017-06-08 19:07] jcouv commented on #18629
@AArnott I didn't understand.
Roslyn 1.x (corresponding to Visual Studio 2015 and its updates) supports neither tuple, nor deconstruction.
`System.ValueTuple` is just a type and it can be used in C# 6 and older targets.

[2017-06-08 19:08] heejaechang commented on #18697
@jasonmalinowski  and @Pilchie saw different issue on these

[2017-06-08 19:16] CyrusNajmabadi commented on #18253
My changes just went in, behind a user-facing flag.  We're hoping to get enough dogfooding coverage to be able to just flip the switch on it.  We also have hooked this up to an A/B flag so we can enable after shipping if we have high enough confidence on it.

[2017-06-08 19:22] karelz commented on #20036
Looks like type loader - @gkhanna79 should be able to help.
Moving it to CoreCLR is probably best - all Runtime is there, incl. TypeSystem & JIT.

[2017-06-08 19:33] cullen-tsering opened #20113 "Adding items to a Getter Only List Property should throw an exception"
**Version Used**:  .NET Framework 4.6.01590

**Steps to Reproduce**:

1. Given the following code
[code]
**Expected Behavior**:
I was expecting the following line to throw an exeption:
		someObjectA.SomeClassAIds.Add(10);

**Actual Behavior**:
The code executed without error while nothing was added to the list.

**Proposed Change**:
In this case, knowing SomeClassAIds is a getter only property, ha

[2017-06-08 19:39] gkhanna79 commented on #20036
Please assign to @kouvel who can help take a look after moving the issue to coreCLR.

[2017-06-08 19:40] cullen-tsering commented on #20113
The primary motivations is for code maintainability:
First, the result is totally contrary to what the method is expected to do;  the method Add should add it or throw an exception when it cannot add it to the list;
Secondly, devs who are not familiar with the existing codebase can introduce changes and believe it works;  In worst case scenario, this leaks to production and wreak havoc.

[2017-06-08 20:00] VSadov commented on #16364
Fixed in https://github.com/dotnet/roslyn/pull/20087

[2017-06-08 20:00] #16364 closed

[2017-06-08 20:05] CyrusNajmabadi commented on #19963
This is unfortunately unactionable.  TestWorkspace.Dispose is huge and complex.  If we hit this again, please download the artifacts for that failed run.

[2017-06-08 20:05] mavasani opened #20114 "IOperation API support for BoundDynamicInvocation"
This bound node is very similar to BoundCall, except that we have a set of applicable methods instead of a single TargetMethod.

We have couple of choices for the API here:

1. Reuse `IInvocationExpression`, and set the `TargetMethod` to null. In future, when we expose the MethodGroup from IInvocationExpression, the applicable methods can be exposed through this API.
2. Create a new IDynamicInvoca

[2017-06-08 20:06] mavasani commented on #20114
@jinujoseph We can discuss this today.

[2017-06-08 20:06] KirillOsenkov commented on #20036
Filed https://github.com/dotnet/coreclr/issues/12174 and closing this one.

[2017-06-08 20:06] #20036 closed

[2017-06-08 20:19] 333fred commented on #18839
This is another point of inconsistency between VB and C#. In the above example, the lambda expression has a type of null, and a converted type of Action. However, in the VB equivalent code
[code]
the multiline lambda expression has a type of Nothing and a converted type of Nothing.

[2017-06-08 20:21] BillHenning commented on #14823
Hello, sorry to reopen this but I'm attempting to use System.Reflection.Metadata to learn about the public API surface of an assembly and I am hitting stumbling blocks trying to determine method return types.  I am able to get to the MethodDefinition of methods for a TypeDefinition fine.

While MethodDefinition does have methods like GetParameters(), I don't see anything for GetReturnType().  I'm

[2017-06-08 20:29] mavasani commented on #19960
@jinujoseph We can discuss this one today - I added an API proposal.

[2017-06-08 20:36] jcouv opened #20115 "FindAllReferences and QuickInfo need a dual-view of tuples"
If you select the declaration of local `a`, its usages get properly highlighted:
![image](https://user-images.githubusercontent.com/12466233/26949275-2dcf9b66-4c4e-11e7-872a-7628aa1ff4fc.png)

But if you highlight the usage of `a` in a tuple, then its declaration is not properly highlighted:
![image](https://user-images.githubusercontent.com/12466233/26949335-68ba8fec-4c4e-11e7-83b2-17f47e51e7f2.p

[2017-06-08 20:37] jcouv opened #20116 "Rename doesn't track through inferred tuple name"
Select the variable `x` and notice that its usages are correctly highlighted.
![image](https://user-images.githubusercontent.com/12466233/26949060-53627f0c-4c4d-11e7-8b34-caedaeaf05d4.png)

But then when you rename that declaration, you get:
![image](https://user-images.githubusercontent.com/12466233/26949131-9d1f6f74-4c4d-11e7-8725-ac2821a5c0c4.png)

There is a similar problem with anonymous type

[2017-06-08 20:40] AArnott commented on #18629
@jcouv: Roslyn 1.x does not guarantee that the `System.ValueTuple` assembly is around for an analyzer to load. Therefore, one cannot write an analyzer that both works with Roslyn 1.x *and* uses ValueTuple as an implementation detail of the analyzer. The unfortunate thing is that `ValueTuple` has nothing to do with deconstruction itself, and I should be able to write my own deconstructible types or

[2017-06-08 20:40] mavasani opened #20117 "IOperation API support for BoundDynamicMemberAccessExpression"
API Proposal:

[code]

[2017-06-08 20:40] mavasani commented on #20117
@jinujoseph We can discuss this today.

[2017-06-08 20:41] tmat opened #20118 "Compiler emits invalid sequence point when line is longer than 64k"
**Version Used**:

26530.1.d15rel

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Stepping works.

**Actual Behavior**:

The debugger is not able to read the PDB. The sequence point in the PDB is bad:

[code]

[2017-06-08 20:43] jcouv commented on #18371
From discussion with IDE team, this is part of a broader issue. When hovering over a tuple element, there are two possible views: (1) you're pointing at the expression for the element, or (2) you're pointing to a field of a tuple.

This has impact on Find All References and Rename.
This problem also already exists on anonymous types (if you hover over `x` in `var t = new { x };`).
I filled two iss

[2017-06-08 20:43] #18371 closed

[2017-06-08 20:45] jcouv commented on #20066
Filed two related issues with full details and also a similar problem with anonymous types:
https://github.com/dotnet/roslyn/issues/20115
https://github.com/dotnet/roslyn/issues/20116

I'll close this in favor of those. Thanks for reporting this @AArnott !

[2017-06-08 20:45] #20066 closed

[2017-06-08 20:49] GrantHoffman commented on #20086
@Pilchie How can I get a callback after the Visual studio Suggested Action occurs.

I see there is a class:
Microsoft.VisualStudio.LanguageServices.Implementation.Experimentation.AnalyzerVsixSuggestedActionCallback

My Issue: I'm adding resources to a Resx File but I only want to add them after the user decides the changes are final.

Do you know how I can do this?

[2017-06-08 20:52] jcouv commented on #18629
@AArnott Thanks for the clarification. Makes sense.

[2017-06-08 20:55] #20057 closed

[2017-06-08 20:56] Pilchie commented on #20057
Fixed by #20054

[2017-06-08 20:56] mavasani opened #20119 "IOperation API support for BoundDynamicObjectCreationExpression"
This has similar design aspect as https://github.com/dotnet/roslyn/issues/20114#issue-234640941. BoundDynamicObjectCreationExpression is very similar to BoundObjectCreationExpression, except that we do not have a single bound constructor, but instead a method group of applicable constructors. We can either reuse IObjectCreationExpression with null Constructor and expose a MethodGroup of applicable

[2017-06-08 20:57] mavasani commented on #20119
@jinujoseph Another API to discuss today. We should try to cover all DynamicXXX related expressions.

[2017-06-08 21:14] CyrusNajmabadi commented on #19827
I'm looking at your fixture, but i can't see the calls to FindOverridesAsync  or   FindImplementationsAsync .  Can you clarify how i can test your scenario out?

[2017-06-08 21:19] CyrusNajmabadi commented on #20086
What do you mean by "the changes are final"?   It's unclear to me why you can't make the change in GetOperationsAsync and have that just work.

[2017-06-08 21:22] jcouv opened #20120 "LanguageVersion errors should not result in binding errors"
When binding the default value for parameter `x` in `void M(int x = default) {...}` with LangVersion=7, "default" ends up bound as a `BoundBadExpression`. That's because of the logic below, which is sensitive to errors in the syntax tree.
The proposal is to relax this logic, so that it ignores errors produced by LangVersion checks.

@AlekseyTs can comment on the importance/priority of fixing this.

[2017-06-08 21:22] CyrusNajmabadi commented on #20086
The default BatchFixProvider is a singleton.  So there would be no way to have it provide customized behavior.  The recommendation is that you provide your own FixProvider if you have complex behavior (like edits that will overlap each other).

[2017-06-08 21:23] CyrusNajmabadi commented on #20086
Create your own CodeActoinOperation.  We will call "Apply" on it when the action occurs.  So, at the end of Apply, it will be after the suggested action occurs.

[2017-06-08 21:27] CyrusNajmabadi commented on #20086
Note: we could consider exposing some sort of helper subclass of FixProvider that does all the parallelizing, but otherwise makes you responsible for all the editing.  But doing that parallel application isn't that hard to do, so i don't thnk we'd be providing a huge amount of value there.

[2017-06-08 21:29] jcouv commented on #20083
As a side note, I noticed that the CoreCLR issues are in Milestone "Future". It may be good to agree on a more specific timeline for the end-to-end feature.

[2017-06-08 21:45] heejaechang commented on #19767
I couldn't repro the OOM following the described repro steps but I do see quite high memory usage opening many files that contains a lot of references (Code lens taking a while to get back with 99+ references) while OOP service other requests such as todo comments, designer attributes and etc.

this is due to  us caching everything while CodeLens running and if code lens happen to run long time an

[2017-06-08 21:47] mavasani opened #20122 "IOperation API shape for BoundDynamicIndexerAccess"
Same design issue as other BoundDynamicXXX nodes. We can either reuse IIndexedPropertyReferenceExpression or define a new IDynamicIndexedPropertyReferenceExpression with a set of applicable indexers.

[code]

[2017-06-08 21:47] mavasani commented on #20122
@jinujoseph another issue to discuss today

[2017-06-08 21:53] tmat commented on #14823
@BillHenning GetParameters() returns parameter metadata (such as names), but not their types -- that's how the underlying metadata is structured. The return type as well as types of all parameters are encoded in the method signature blob.

You can find an example of signature decoding code here:
https://github.com/dotnet/metadata-tools/blob/master/src/Microsoft.Metadata.Visualizer/MetadataVisualiz

[2017-06-08 21:54] jinujoseph commented on #18089
**Design Team Decision**

we should remove the invalid API. Diagnostics for the ioperation can be derived from the semantic model .if we see a pattern of usage then we can add helper method for it .

[2017-06-08 21:54] jinujoseph commented on #8885
closed based on https://github.com/dotnet/roslyn/issues/18089

[2017-06-08 21:54] #8885 closed

[2017-06-08 21:54] CyrusNajmabadi commented on #19767
Do we have any idea why CodeLens does '4'?

[2017-06-08 21:56] tmat commented on #14823
@BillHenning BTW, You won't be able to get a simple EntityHandle. The type signature can be much more complex than a simple handle. What are you trying to do on high level?

[2017-06-08 21:57] heejaechang commented on #19767
because we wrote that way so that we can get better perf.

http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/CodeLens/CodeLensReferencesService.cs,37

[2017-06-08 22:00] mavasani opened #20123 "IOperation API for BoundStackAllocArrayCreationExpression"
Two possible approaches:

1. Reuse IArrayCreationExpression and add a new bool IsStackAlloc on the type.
2. Add new interface IStackAllocArrayCreationExpression:
[code]

[2017-06-08 22:00] CyrusNajmabadi commented on #19767
I don't get why the perf would be better.  FindRefs already properly walks projects so that they don't need to be cached.

[2017-06-08 22:00] mavasani commented on #20123
@jinujoseph Another API to discuss.

[2017-06-08 22:02] heejaechang commented on #19767
you mean FAR has its own cache so code lens won't need one? otherwise, parse tree or text read will go out from memory as soon as someone let the root node go. same for compilation.

[2017-06-08 22:02] CyrusNajmabadi commented on #19767
Note: that's why FindRefs itself doesn't do any of this caching.  And the normal FindRefs call the user makes is generally quite fast.

[2017-06-08 22:03] heejaechang commented on #19767
so you suggest we simple don't enable cache for code lens?

[2017-06-08 22:04] heejaechang commented on #19767
no idea on what it will impact on perf. it will certainly won't use as much memory, though.

[2017-06-08 22:04] CyrusNajmabadi commented on #19767
FindRefs was written to properly hold onto data while it's working so it would not need external caches.  Specifically:

It orders the projects it processes so that previously built projects are available when needed by a later project.

It splits projects into cliques, so that an entire clique can be let go when moving to the next clique.

When processing a project, we keep the compilation for ju

[2017-06-08 22:05] CyrusNajmabadi commented on #19767
That would def be something i would want us to look at.  I had no idea CodeLens was doing this, or what purpose it serves.

[2017-06-08 22:07] CyrusNajmabadi commented on #19767
Basically, if caching projects was important/necessary/valuable here for perf, then i would expect that we woudl do it when the user actually did a "Find All Referneces" invocation themselves.

[2017-06-08 22:09] gafter commented on #15715
@VSadov I moved this to 15.6 to evaluate if it is fixed by #20087. I am evaluating that now.

[2017-06-08 22:11] heejaechang commented on #19767
well, I could prefer one can enable cache whenever one wants to do some solution wide operation and cache itself is smart enough to not OOM and coordinate things when multiple such operation run.

right now, who doing caching and when matter too much.

[2017-06-08 22:11] mavasani opened #20124 "IOperation API shape of BoundNoPiaObjectCreationExpression"
Two approaches:

1. Reuse IObjectCreationExpression and if needed add a new property to it to expose the GuidString.
2. Add a new interface INoPiaObjectCreationExpression:
[code]

[2017-06-08 22:12] mavasani commented on #20124
@jinujoseph Another issue to discuss today.

[2017-06-08 22:15] mavasani opened #20125 "IOperation API support for BoundThrowExpression"
Proposed API:

[code]

[2017-06-08 22:15] mavasani commented on #20125
@jinujoseph

[2017-06-08 22:16] Pilchie commented on #20101
Assigning to @heejaechang to follow up on throttling in general, since this particular exception is fixed.

[2017-06-08 22:19] CyrusNajmabadi commented on #19767
That's also fine with me.  But, again, it seems weird htat CodeLens caches for FindReferences, then the *real* Find-References-Command doesn't even bother doing this.

What i *could* see being valuable in the Codelens case is that it's going to need to perform several FARs (for all the symbols currently on screen).  in that case, perhaps caching could be valuable. However it doesn't seem to be doi

[2017-06-08 22:20] heejaechang commented on #19767
by the way, FAR does have its own cache. not workspace cache but its own cache. I added them when I improved perf of FAR from 12 seconds to < 1 second long time ago.

http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/FindSymbols/FindReferences/FindReferenceCache.cs,17

that is why it probably didn't need workspace cache... but this cache works fine for 1 FAR, but for multiple FAR, workspa

[2017-06-08 22:21] CyrusNajmabadi commented on #19767
But we disable the cache after each individual search that code-lens does.

[2017-06-08 22:21] heejaechang commented on #19767
workspace cache itself make sure cache is shared when multiple operation is running.

[2017-06-08 22:23] AlekseyTs commented on #20120
I suggest we relax implementation of HasAnyErrors helper to ignore errors caused by language version mismatch.

[2017-06-08 22:27] CyrusNajmabadi commented on #19767
So the question I have is:

Are multiple operations running?  Or is it just one call to FAR at a time?

[2017-06-08 22:27] heejaechang commented on #20101
I sent email to Stephen who explained about throttle to us before. I pinged him again

[2017-06-08 22:28] CyrusNajmabadi commented on #19767
If it's multiple at at time, i can see the value here.  But, as you said, the cache certainly can't be designed such that it causes OOMs.

[2017-06-08 22:30] davkean commented on #20101
@Pilchie If you look at the events, there's a clear correlation between sending a watson and the UI delay end marker. I've personally run into this. where capturing a non-fatal watson visible blocks the UI.

[2017-06-08 22:33] heejaechang commented on #20101
NFW getting dump which freeze the process I can understand, what I dont understand is it happening multiple times. since Stephen told us most likely user won't see it happening multiple times for same issue.

[2017-06-08 22:33] Pilchie commented on #19767
In @sharwell's original repro, this was an OOM in the VS process, not the OOP process, right?

[2017-06-08 22:39] heejaechang commented on #19767
@sharwell  said in the issue above.

ServiceHub.RoslynCodeAnalysisService32.exe crashes with an OutOfMemoryException.

[2017-06-08 22:43] gafter commented on #15715
@jonathanvdc The original issue appears to be fixed in 15.6 by #20087. If there are other scenarios that you feel should be fixed, please file them as new issues describing exactly how to repro them.

[2017-06-08 22:43] #15715 closed

[2017-06-08 22:50] lordofstuff commented on #20101
Hey, Stephen here. I work on the Fault Event API frequently. We do throttle to 10% of fault events sending to Watson, and 10 of those per session. We do not throttle per issue, so if a user hits the same issue 41 times in a session, it's entirely reasonable that they will send four reports during that session. If you want to throttle it per issue, I can help you with that, and we might consider im

[2017-06-08 22:52] Pilchie commented on #20101
From talking to @tmeschter though, we aren't actually collecting those dumps, just the callstack in the telemetry event...

[2017-06-08 22:52] Pilchie commented on #20101
Or are we collecting them, and then just failing to upload them? 😢

[2017-06-08 22:53] heejaechang commented on #20101
@Pilchie that is fixed with https://github.com/dotnet/roslyn/pull/19787

[2017-06-08 22:54] Pilchie commented on #20101
But @davkean is seeing this on existing public bits from 15.2.

[2017-06-08 22:56] heejaechang commented on #20101
@lordofstuff @Pilchie then, it is a question to NFW team. Stephen, I think you guys told us that unless we explicitly add us to the list, the API won't collect dump. is that not true?

[2017-06-08 22:58] lordofstuff commented on #20101
What machines/users it collects dumps from is entirely out of the control of both the Faut event API and consumers of the API. WER itself decides whether it should collect several dumps from the same machine or from a wide variety of sources, or if it has collected enough and does not need any more.

It is true that it should not be collecting a dump if you did not specifically request one, but ev

[2017-06-08 23:00] davkean commented on #20101
Some of the events were clustered together, but for the most part they were not. Whatever it was doing, it was trigging the UI delay timeout - what is that set to? 2 seconds?

[2017-06-08 23:03] lordofstuff commented on #20101
The UI Delay threshold is 1 second, and it's perfectly normal for a Watson report to take that long.

[2017-06-08 23:08] heejaechang commented on #20101
hmmm.. hard to believe NFW would take over 1 second without gathering dump. let me take a look at the kusto.

[2017-06-08 23:14] lordofstuff commented on #20101
A few things to keep in mind:
This occurs in the middle of other CPU work, so there may be other things contributing to the delay before and after the NFW is submitted.
WER does file I/O, launches a new process, and makes network calls while submitting a report.
It freezes all threads and does not pump any messages while the report is being submitted.

This all means that the time can also vary ba

[2017-06-08 23:30] heejaechang commented on #20101
@lordofstuff how do I know NFW created a dump or not from telemetry event?

[2017-06-08 23:34] gafter commented on #20120
We should probably move language version *checks* out of the parser. However, when the language version affects the behavior of the parser (i.e. changes the tree produced) that should remain in the parser.

[2017-06-08 23:34] heejaechang commented on #20101
@davkean @lordofstuff I dont know whether dump is created or not, but I see 6 sampled event among +-70 NFW events. so regardless of dump, sending watson looks like expansive.

[2017-06-08 23:37] CyrusNajmabadi commented on #20095
[code]

Need IsCached (but maybe v2 if really hard to provide)

[2017-06-08 23:37] drcjt commented on #19905
I'd like to use this as a first contribution/patch to Roslyn.

If my understanding is right the core of this test would be like this:

`try
{
	var tmp = await (new { task = Task.Run<string>(async () => { await Task.Delay(1); return ""; }) }).task;
	throw new Exception(tmp);
}
finally
{
	// If reached here then test is successful
}`

[2017-06-08 23:41] masonwheeler commented on #19905
@drcjt Yeah, basically.  But whatever's calling `TestCase.Run()` has to catch and handle the exception.

[2017-06-08 23:56] CyrusNajmabadi commented on #20125
Do this.

[2017-06-08 23:59] CyrusNajmabadi commented on #20123
Consider adding ElementType.

[2017-06-08 23:59] CyrusNajmabadi commented on #20123
Shape looks good.  But this is low pri for now.

[2017-06-09 00:00] gafter opened #20127 "Test Plan for Span<T>, aka interior pointer, aka stackonly struct"
[This](https://github.com/dotnet/roslyn/issues/20127) is a test plan for the feature set variously known as "stackonly structs", "interior pointer", and "Span<T>" targeting milestone 15.6 (C# 7.2), which is related to (but different from) slicing.

See also
- Championed feature at https://github.com/dotnet/csharplang/issues/666
- Proposed safety rules at https://github.com/dotnet/csharplang/blob/m

[2017-06-09 00:07] CyrusNajmabadi commented on #19960
Do we need this if we just hav a general IIndexingOperation?

[2017-06-09 00:10] CyrusNajmabadi commented on #19960
The only thing i can see is that this has IsChecked.  (though how do you have an unchecked/checked pointer element access)?

[2017-06-09 00:21] Pilchie opened #20128 "LSL: P2P references from legacy project to CPS projects are dropped in ASL"
**Version Used**:
Dev15.3 Preview

**Steps to Reproduce**:

1. Enable Lightweight solution load.
2. Open Roslyn and wait for the solution to index and load fully.
3. Close and re-open.
4. Open a file from a legacy project system project (like VisualStudioProjectTracker.cs).

**Expected Behavior**:
P2P refs to CPS projects (like CodeAnalysis) work.

**Actual Behavior**:
They don't, leading to a poo

[2017-06-09 00:30] CyrusNajmabadi commented on #20106
Test failure information:

[code]

This is highly concerning.  We're in a WPF fact, but we're getting foreground thread assert warnings.

[2017-06-09 03:06] BillHenning commented on #14823
@tmat - My company has a syntax highlighting editor control named SyntaxEditor that we produce for various MS platforms like WPF, UWP, etc.  We have a syntax language add-on that supports advanced C#/VB editing with automated Intellisense.  It basically allows anyone making an app to drop our control in and instantly have a code editor like the VS one right in their app.

Our add-on currently uses

[2017-06-09 05:33] davkean commented on #17165
@sharwell @agocke  I ran into this exact stack with the following (valid) code:

[code]
Changing the selection to the area indicated by the $, causes the crash. Will this be resolved by the changes around this?

[2017-06-09 05:52] davkean opened #20131 ""Tested by data point" in CodeLens is failing because RemoteCodeLensReferencesService is returning a collection containing nulls"
HIt this while debugging VS.

No idea who owns the RemoveCodeLensReferencesSerivice, but it's FindReferencesMethodAsync is returning an enumerable with null values:

![image](https://user-images.githubusercontent.com/1103906/26962787-009d28d2-4d2c-11e7-957d-d75fea740d07.png)

This is causing this method in TestedByDataPoint.FindMethodReferences to fail:

[code]

[2017-06-09 05:57] davkean commented on #20131
This occurs happening opening this file: https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/ProjectSystem/VS/Tree/Dependencies/CrossTarget/CrossTargetSubscriptionHostBase.cs.

[2017-06-09 06:00] davkean commented on #20131
Basically this means that you get no _tested by_ data points at all in the ProjectSystem.sln solution which is probably related.

[2017-06-09 06:02] davkean commented on #20131
I cannot find code for RemoveCodeLensReferencesService _anywhere_.

[2017-06-09 06:23] CyrusNajmabadi commented on #20131
Is it not this code: https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Core/Next/CodeLens/RemoteCodeLensReferencesService.cs

[2017-06-09 06:25] davkean commented on #20131
Oh weird, could not find that.

[2017-06-09 07:17] Dresel opened #20134 "[Question] Is it possible to dynamically load Microsoft.CodeAnalysis via LoadFromAssemblyPath?"
I tried loading `Microsoft.CodeAnalysis.dll` via `AssemblyLoadContext.Default.LoadFromAssemblyPath` within a dotnet core application. This fails with an `System.IO.FileLoadException: 'Could not load file or assembly 'Microsoft.CodeAnalysis, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.'` exception.

Is this supported or somehow possible?

[2017-06-09 09:37] lukaseckert commented on #17165
I also experience this issue with valid code. As soon as I have local functions within my outer method, the ExtractMethodCodeRefactoringProvider crashes and VS2017 shows the yellow notification bar that asks me if I want to enable it again.
Consider that piece of code:
[code]
When I uncomment those local functions at the begin of the outer method, selecting any piece of text in the rest of the met

[2017-06-09 10:14] m0sa opened #20135 "Inconsistent CS0433 and CS8179"
**Version Used**:  2.2.0

**Steps to Reproduce**:

If you somehow end up with a `net47` `mscorlib` and a `System.ValueTuple` dll from the nuget package in a compilation, the results are very confusing, and not clear what's wrong. Here's a minimal repro case  as a LinqPad script:

[code]

**Actual Behavior**:
[code]

**Expected Behavior**:
I'd like to see one of the following two options for the li

[2017-06-09 10:24] albertofustinoni commented on #19942
@MichalStrehovsky Making `IMemoryBufferByteAccess` not nested (maybe also moving it into its own file) seems to have done the trick: I have been able to compile in release.

I have sent an email to the address you mentioned about the issue, in any case.

P.S. I know this is not the place to ask, but do you know where to report issues with the C++ compiler? I'm getting "internal error" when compili

[2017-06-09 11:06] miloush commented on #20104
http://baltie.cz/en/whatisbaltie.asp

[2017-06-09 11:29] madelson opened #20136 "Feature request: allow anonymous types to be used as return types and generic arguments"
With C# 7, we can now use named tuples as method return types and generic arguments, which is great. However, these limitations are still imposed for anonymous types.

I propose that we should allow for "naming" anonymous types in these contexts. For example:

[code]

Why should this be added when we can already do this via tuples? I see two main reasons:

* Reflection-based APIs: because tuple pr

[2017-06-09 12:09] ufcpp commented on #20136
dup of https://github.com/dotnet/roslyn/issues/8404, https://github.com/dotnet/csharplang/issues/668
And language feature proposals are moved to dotnet/csharplang.

[2017-06-09 14:29] Pilchie commented on #20113
This isn't a request for a change to either  the language, the compiler, or the tooling.  The only way for something like this to happen would be for List to somehow know that it's a temporary and throw, but it has no way to know that.

Instead, I would structure your code differently:

[code]

Or look into using some immutable collections directly, from the System.Collections.Immutable nuget pack

[2017-06-09 14:29] #20113 closed

[2017-06-09 14:33] GrantHoffman commented on #20086
How can I make a change in GetOperationsAsync it is not a virtual method?
If you're referring to ComputeOperationsAsync/ComputePreviewOperationsAsync?
When you are using a FixAllScope,  other than instance (Document, Project, Solution).
 Both of these methods are called before the changes are actually final,  Since I am writing to a resource file,  Roslyn does not roll back the changes, because th

[2017-06-09 14:42] GrantHoffman commented on #20086
As for the Batch Fix Provider,  When I'm using the document editor, and I add a member, the Batch Fix Provider seems to not be able to merge the changes, because the diagnostic spans are overlapping.  Even though they shouldn't be.  Perhaps the events should be on the code action overloaded for how it handle FixAllScope.

The Batch Fix provider can check if the Code Action Implements an interface

[2017-06-09 15:09] GrantHoffman commented on #20086
How do I use a code action operation? to be more specific what consumes the code action operation? a code action/ fix provider?

[2017-06-09 15:40] GrantHoffman commented on #20086
I tried your suggestion and created a CodeActionOperation, however my apply function is never called.

    public class DelayedApplyChangesOperation : CodeActionOperation
    {
        public override void Apply(Workspace workspace, CancellationToken cancellationToken)
        {
            using (var file = new System.IO.StreamWriter("c:\\temp\\test.txt"))
            {
                file.Write

[2017-06-09 17:08] cullen-tsering commented on #20113
@Pilchie First of all, thanks for comments and the solution that can be used to get out of this situation!
 The point of this issue is not that I lack solution to handle this kind of situation but to point out a problem which is the compiler does not issue an error or even a warning in this context.  List.Add internally does array coping when it has to increase its capacity, which is expansive, th

[2017-06-09 17:11] maca88 commented on #19827
I've simplifed the fixtures in order to have everything in one method.
When I ran the fixtures on my computer (Intel i7 860) I got the following results:

- Version `2.0.0-beta1`
[code]

- Version `2.1.0`
[code]

[2017-06-09 17:13] sharwell commented on #20093
This appears to be a duplicate of #20065, at least in the sense that #20096 fixes it. I see 696 instances of `WorkspaceAnalyzerOptions` holding on to 452 `Solution` instances.

[2017-06-09 17:59] agocke opened #20141 "Unclear TODO comments in data flow"
In the DataFlowsIn and UnassignedVariablesWalker there are comments like the following:

```// TODO: how to handle fields of structs?```

The code, to my eyes, seems to handle fields of structs just fine and we do have a number of tests covering these areas. It's unclear what, if anything, is remaining to be done here.

[2017-06-09 18:38] 333fred commented on #18839
Related to https://github.com/dotnet/roslyn/issues/20095.

[2017-06-09 18:53] yizhang82 commented on #19942
@xiangfan-ms Can you let @albertofustinoni how to report the C++ compiler issue?

[2017-06-09 19:00] xiangfan-ms commented on #19942
For external customer, the official report channel is from VS menu 'Help' -> 'Send Feedback'.
Or you can go to https://vsfeedback/ directly.

[2017-06-09 19:06] CyrusNajmabadi commented on #20086
I don't think you'll be able to preview in this case.  Your preview will just have to be something like a string that just says that you're going to be updating the file.  Roslyn has no general facility for allowing application/rollback of arbitrary actions.

Actually, roslyn has no facility for rollback at all.  All we do is apply changes, and allow VS's undo mechanism to undo things.  if you wan

[2017-06-09 19:06] CyrusNajmabadi commented on #20086
Hrmm.. do you have an example of that?

[2017-06-09 19:10] CyrusNajmabadi commented on #20086
I'm not sure how that would actually work.  There will be many CodeActions being applied, it's not clear which one we ask.  We could potentially as the CodeFixProvider if it wants to resolve the issue though.

[2017-06-09 19:11] CyrusNajmabadi commented on #20086
Yes.  We don't call into this during Preview.  Only during final application.

[2017-06-09 19:31] iDaN5x commented on #8947
Dart lang implemented the cascading operator identically to this proposal.
I could only find one related question in StackOverflow, which suggests it is not that confusing after all.

You could ask the same for constructor initialization syntax...

I'm in favor of this suggestion - it's simple, useful & elegant.

[2017-06-09 19:51] agocke opened #20143 "Redundant work in data flow analysis"
PR https://github.com/dotnet/roslyn/pull/20004 contains redundant work around checking whether we're in a local function and whether or not we've captured a variable within that local function:

https://github.com/dotnet/roslyn/pull/20004/files#diff-cbdf5016ee7e0a00f12e386f9a3bc188R916

This could be cleaned up to prevent checking if we're in a local function twice.

[2017-06-09 19:53] agocke opened #20144 "ReportUnassigned in the UnassignedVariablesWalker only calls `base` if the symbol is a field"
See https://github.com/dotnet/roslyn/pull/20004/files#diff-43d6244112ac8a33733feaa2ae96b46dR64

[2017-06-09 20:03] CyrusNajmabadi commented on #19827
Can you clarify this step: Fetch the NHibernate Submodule

[2017-06-09 20:13] miloush opened #20145 "Smart variable naming suggestion mode ineffective inside snippets"
**Version Used**: 15.3.26606.0

**Steps to Reproduce**:
1. Use `propfull` snippet to declare a property of type e.g. `ConsoleColor` and backing field named `_bestColor`.
2. Hit <key>Tab</key> key to enter the name of the property.

**Expected Behavior**:
`_bestColor` left in place and property name selected

**Actual Behavior**:
The field name is changed to the first entry in the suggestion list,

[2017-06-09 20:18] maca88 commented on #19827
In this step the NHibernate git submodule should be initialized and updated by running the following commands:
[code]

[2017-06-09 21:14] Pilchie commented on #15497
Hit this again in https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/5245/artifact/Binaries/Release/UnitTests/VisualStudioIntegrationTests/xUnitResults/Roslyn.VisualStudio.IntegrationTests.dll.out.log

[2017-06-09 21:18] #20065 closed

[2017-06-09 21:19] mavasani commented on #20093
This should be fixed with https://github.com/dotnet/roslyn/pull/20096, which has been merged now.

[2017-06-09 21:19] #20093 closed

[2017-06-09 21:32] Pilchie commented on #20131
@panopticoncentral any ideas off the top of your head?

[2017-06-09 21:39] gafter commented on #20074
This is a matter of correctness, not philosophy. Unfortunately, these "optimizations" are observably incorrect for some consumers (e.g. A VM which is capable of watching for writes to memory). Only the runtime knows which optimization are equivalent and which are observable.

[2017-06-09 21:40] Pilchie commented on #20113
The compiler can't (in general), tell that the returned collection is a temporary and not a field.  If it was a field, you could add to it with no problem.  It could (maybe) warn in the subset of cases where it can tell that it's a temporary, but that would be pretty rare.

(Even in your example, there is no guarantee that the implementation of `ToList()` that gets called doesn't stash the list in

[2017-06-09 21:41] Pilchie commented on #20113
Tagging @jaredpar for the compiler perspective too.

[2017-06-09 22:12] #19407 closed

[2017-06-09 22:28] panopticoncentral commented on #20131
If CodeLensReferencesService.GetMethodDescriptorAsync fails for any reason, it returns null. So there's probably something about that file that's causing that method to fail.

So, really, two issues: a) Why is the method failing?, and b) FindReferenceMethodsAsync should filter out null after the Select so that it doesn't take down all test finding.

[2017-06-09 23:01] CyrusNajmabadi commented on #20002
That would work for C#, but not for VB.  For VB you'd have to add the right attribute.  And that will be difficult to do correctly since these APIs don't take in compilations.  We could just hack it for VB by manually adding ```<Global.System.Runtime.CompilerServices.Extension>```, but it wouldn't properly simplify.

Do you think we should do that @Pilchie ?

[2017-06-09 23:14] alrz commented on #20074
what if effectively there is no writes to the memory? we already give warnings for self-assignments, but we also deliberately produce code doing it.

also, when we eliminate an intermediate​ local, in practice we no longer "write to that memory", how is that any different?

[2017-06-09 23:16] panopticoncentral commented on #20131
I took a little bit of a look at it. It looks like we've found a reference that's an override, so the reference is the name of the overriding method. We call SemanticModel.GetEnclosingSymbol looking for the enclosing method but in this case we don't get one, and GetMethodDecscriptoAsync just returns null.

Probably we should be handling this correctly, as it means we're likely not showing referenc

[2017-06-09 23:48] CyrusNajmabadi commented on #20002
@tmds Do you need to generate VB as well?  or just C#?

[2017-06-10 00:05] jcouv commented on #19659
Added a link to documentation to the package description and added a note about build tools.

[2017-06-10 00:05] #19659 closed

[2017-06-10 02:47] gafter commented on #20074
We do not eliminate locals when we produce enough information for the VM to identify them.

[2017-06-10 07:22] #20091 closed

[2017-06-10 08:40] rikimaru0345 commented on #20008
@tmat
I'm writing a thing that outputs nicely formatted stacktraces.
It skips over methods that do not help with understanding at all (ThrowHelper, ExceptionServices.*, and many more...).
It "unpacks" method names as best it can by walking up the type hierarchy.
For example showing `<>c__` or `<<Method>b__0>d` is not as nice as simply showing `LambdaExpression` or `async Method`.

It also does som

[2017-06-10 14:18] sharwell commented on #20074
In the more common case of lazy initialization, it is not so easy to perform this optimization, as the constructor could directly or indirectly write a value to the target of the assignment.

[2017-06-10 15:49] sharwell commented on #20093
@AlekseyTs I have now triaged what I believe to be the major issues revealed by the process dump provided for this issue, with the dominating problem now resolved. If #20094 was a crash dump *from the same process*, we can go ahead and close it as a duplicate (the hang would have been caused by extreme GC overhead as we approached the OOM condition). If it is not from the same process, I will inve

[2017-06-10 15:51] sharwell commented on #20065
@mavasani Can you clarify which release this bug first appeared in?

[2017-06-10 17:01] mavasani commented on #20065
I and Heejae feel this happened when Workspace analyzer options started holding onto the solution. Previously it held onto workspace options only. Heejae, did this change happen post Dev15 RTW?

[2017-06-10 17:19] ashkan-saeedi-mazdeh opened #20155 "How to stop a script from running?"
**Version Used**:
Latest from NuGet
**Steps to Reproduce**:

How can I stop a Roslyn script from running other than loading and running it in another AppDomain and shutting the AppDomain down?
**Expected Behavior**:

**Actual Behavior**:

[2017-06-10 18:49] Blue0500 opened #20156 "Inconsistent error messages with nullable types in a type pattern with identifier"
**Steps to Reproduce**:
[code]

**Expected Behavior**:
Trying to use either `Nullable<int>` or `int?` in a type pattern with an identifier should result in CS8116 explaining that nullable types can't be used.

**Actual Behavior**:
Instead, using `int?` results in CS1003, CS1525, and CS0103, while using `Nullable<int>` correctly results in CS8116

[2017-06-10 19:54] CyrusNajmabadi opened #20157 "Integration test failing due to license key dialog showing."
PR failure: https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/5316/

UI thread is currently doing:

![image](https://user-images.githubusercontent.com/4564579/27005864-e7494e00-4ddb-11e7-94db-cd91c28c9cda.png)

[2017-06-10 20:00] CyrusNajmabadi commented on #20157
Tagging @dotnet/roslyn-infrastructure

[2017-06-10 21:44] stephentoub commented on #20074
Not seeing why that would need to be the answer; the compiler could handle the known easy cases and simply not apply such an optimization to others it's not sure about.  That's how lots of compiler optimizations work: specific patterns are recognized and those are optimized, others are not.  In your example (which I'd argue is far from the common case), how would you cause such an indirect write t

[2017-06-10 22:51] Pilchie opened #20158 "Generate Equals and HashCode goldbar in CSharpCommandLineParser.cs"
**Version Used**:
Lastest 15.3

**Steps to Reproduce**:

1. Open Roslyn.sln,  Open CSharpCommandLineParser.cs

**Actual Behavior**:
Gold bar:

[code]

Dump (in case we can still find the exception in it): at `\\mlangfs1\public\kevinpi\GenerateEquals.dmp`.

[2017-06-10 23:32] gafter commented on #20074
The C# language specification is clear in this case that there is a write to the variable. We could use any IL sequence that causes that write to occur.

[2017-06-11 01:02] bkoelman commented on #18089
Using test-driven development for [my `IOperation`-based analyzers](https://github.com/bkoelman/CSharpGuidelinesAnalyzer), life was great. Only when I started dogfooding, many `NullReferenceException`s started to surface due to broken code during typing in the IDE. To overcome this, I [added a check](https://github.com/bkoelman/CSharpGuidelinesAnalyzer/blob/b5bffab636fb3f741158af3df44b79e68772a285

[2017-06-11 03:49] CyrusNajmabadi commented on #20074
Perhaps we could approach this by asking what changes would we make to the language that would not be  detrimental to the C# ecosystem, while also enabling these types of optimizations.

For example, the spec has language like this in one location:

We could consider updating the language to say something similar for simple assignments.  For example, we could augment:

To say "For efficiency reaso

[2017-06-11 05:21] ashkan-saeedi-mazdeh commented on #20155
I found this on MSDN forums but not the doc file mentioned. I'm willing to work on the implementation of I receive pointers.
https://social.msdn.microsoft.com/Forums/vstudio/en-US/09d1b988-9564-47c3-b382-3593515590c8/how-to-stop-pause-or-kill-a-long-running-script?forum=roslyn

[2017-06-11 07:56] TonyValenti opened #20160 "New Refactoring Request: auto-property to property with backing field"
It would be really nice if I could right-click on an auto-property and select:
Quick Actions & Refactorings > Convert to Standard Property

This would convert a line of code FROM:
public long TemplateId {get; set;} = 0;

TO:

private long __TemplateId = 0;
public long TemplateId {
get {
return __TemplateId;
}
set {
__TemplateId = value;
}
}

[2017-06-11 11:29] AdamSpeight2008 opened #20161 "Duplication in Restore command."
**Version Used**:

**Steps to Reproduce**:

1.  In the VS Cmd Prompt `cd ...roslyn folder path.. `
2.  Type 'restore'

**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

[2017-06-11 14:18] AdamSpeight2008 opened #20163 "Regions Text mishandles newlines."
**Version Used**:
`VS2017 Preview`
`Visual Basic 2017 - 00369-60000-00001-AA005`

[code]
**Steps to Reproduce**:

1.  Place caret inbetween quotation marks.
2.  Press Enter / Return.
3. Code should look this

[code]
**Actual Behavior**:
![vs2017preview_issue01](https://user-images.githubusercontent.com/900107/27011672-9c0b816e-4eb8-11e7-8d0d-ac7d938e7d7a.png)

It also results in 4 errors being rep

[2017-06-11 15:28] vdisasm opened #20164 "Exception compiling iterator of tuples with Enum"
**Version Used**:  [Example](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQBMQGoA+ABADAAmwEYAWAbgFgAoauAOwFcx8BRRsI6gb2oEgIk+YIIDG1AL7Vq2AEz4Awtz7YAzISIqAPAAo2TIvgEBLOjCEBKAHytTCI3CjbzfHlV69iB7AHZ823exE5kSCMuaUbpJUUUA) 19 May 2017

Probably related to: https://github.com/dotnet/roslyn/issues/14888

**Steps to Reproduce**:

[code]

**Expected Behavior**:
Compiles fine.

**Actual Behavior**:
warning AD0

[2017-06-11 17:21] jcouv commented on #20164
I will go ahead and close as dupicate of https://github.com/dotnet/roslyn/issues/17841
The issue is fixed in Visual Studio 2017 version 15.3.
Feel free to re-open with details about the version of Visual Studio 2017 that you are using if the issue still repros in 15.3.

[2017-06-11 17:21] #20164 closed

[2017-06-11 17:22] jcouv commented on #20164
Thanks for reporting the issue.

Here are the [previous reports](https://github.com/dotnet/roslyn/issues?q=is%3Aissue+CSharpRemoveUnnecessaryCastDiagnosticAnalyzer+is%3Aclosed) of a similar crash, in case you want to see more details about the fix.

[2017-06-11 17:32] jcouv commented on #20156
@Blue0500 Thanks for reporting this.

I believe the behavior you observe is by-design. It results from precedence rules in parsing to disambiguate the language.
When you are typing `obj is int? num2`, you might be trying to type `(obj is int) ? num2 : num3`.
The compiler prefers the latter parsing interpretation ([more details](https://github.com/dotnet/roslyn/issues/10492)).

FYI @gafter in case

[2017-06-11 17:52] jcouv commented on #20135
@m0sa Thanks for the detailed repro.
Unfortunately, constraints in the implementation will make it quite hard to unify those error messages.
FYI I just made a [change](https://github.com/dotnet/roslyn/pull/20112) to the 8179 error message, since it could occur when the ValueTuple type is ambiguous (imported twice).

As for the specific issue you mention about targeting net46 then running on a mach

[2017-06-11 17:54] jcouv commented on #20120
FYI @TyOverby since he's currently making changes in that area.

[2017-06-11 17:57] jcouv commented on #20010
FYI @cston

[2017-06-11 18:20] m0sa commented on #20135
Thanks for the links. The changed error message makes sense now for the case I've hit. Unfortunately the APIs you pointed me to are internal, though. Are there any plans to make them public?

[2017-06-11 20:02] Pilchie commented on #20160
Hmm - we've been talking about implementing this, and I believe @chborl was planning on doing it soon, but I can't find an issue where we were tracking it, so thanks for filing.

[2017-06-12 02:02] ranuka2 commented on #20070
@Pilchie Is there any Roslyn based alternative approach for this (other than using MSBuildWorkspace)?

[2017-06-12 03:09] tmds commented on #20002
@CyrusNajmabadi c# is my interest. Is it possible using the C# SyntaxFactory.MethodDeclaration?

[2017-06-12 03:46] Pilchie commented on #20070
I don't know.  Maybe somebody over at https://github.com/aspnet/Home would know?

[2017-06-12 04:41] CyrusNajmabadi commented on #20002
Yes.  It would be trivial with SyntaxFactory.  Just pass the right modifiers when you call SyntaxFactory.Parameter so that it has the 'this' modifier on it.

[2017-06-12 04:41] #20002 closed

[2017-06-12 05:03] jcouv commented on #13904
FYI @ivanbasov while you are working on EnC for local functions.

[2017-06-12 05:26] jcouv commented on #19840
I think @CyrusNajmabadi fixed this already. Trying this code sample on [TryRoslyn](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDZICYgNQA+AAgAwAERAjANwCwAUKRZQCx2PlUB0AMmgHYBHdg34QwcKAAcIAYzhkAwgHt+UZRjgBBKVMoMA3gzImKAZgoAmMgAUEygOYJxx00fqnP5srAgw0shQsZACyEAIAFACUrl5k7nFxRADsZPxwAO5kAjAA2iQAulwAynCasjAAPDlI2fwwAHwRzhkAIn4QZAC8DbGJJgn9iQBmyghkETnZ3WQk1NOVZJQkc9l4eDEeQ3GD2/0qahpwXADqCGjwfOmTUex7XgC

[2017-06-12 05:26] #19840 closed

[2017-06-12 05:27] jcouv commented on #19840
Just for clarification, I expect the fix will ship with Visual Studio 2017 version 15.3.

[2017-06-12 09:16] abhijitparkhi1983 opened #20168 "Microsoft.Build.Exceptions.InvalidProjectFileException: The imported project "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v11.0\WebApplications\Microsoft.WebApplication.targets" was not found."
**Version Used**:
1.3.1 / 2.2.0
**Steps to Reproduce**:

1. Download **ServiceStack** from github  (https://github.com/ServiceStack/ServiceStack)
2.  Run following code for all the solutions under ServiceStack source code.
[code]
3. When the above step is executed, we get following exception for project  **\ServiceStack-master\src\ServiceStack.Core.SelfHost\ServiceStack.Core.SelfHost.csproj**:

**

[2017-06-12 12:30] Logerfo commented on #19404
According to https://github.com/DotNetAnalyzers/StyleCopAnalyzers/pull/2327#issuecomment-307642203, the migration was superseded by https://github.com/DotNetAnalyzers/StyleCopAnalyzers/pull/2370, which uses reflection to find members like the one I mentioned, as seen here https://github.com/DotNetAnalyzers/StyleCopAnalyzers/pull/2370/commits/00da27631f2a228a817e20befba4839ae18b61ce#diff-29450f6726

[2017-06-12 13:17] dlarkin77 commented on #15556
@haydenhancock I've been fighting with the answers in that SO thread and so far none of them are working for me. Could I get a look at your Powershell script?

[2017-06-12 13:35] haydenhancock commented on #15556
@dlarkin77 Take a look at the script below. The only thing you should need to change is the location of the bin directory. Let me know if you have any questions.

[Clean-Project.zip](https://github.com/dotnet/roslyn/files/1068301/Clean-Project.zip)

[2017-06-12 14:32] sharwell commented on #19404
@Logerfo Yes, we definitely took things in a different direction for that project. I'm really excited about the possibilities for supporting both Visual Studio 2015 users and C# 7 users from a single library.

[2017-06-12 14:33] sharwell commented on #19404
@rchande Do you know if some of the recent dependencies work makes the NuGet packages easier to install in external projects with less "friction"?

[2017-06-12 14:40] svick opened #20169 "NuGet packages should use open source licenses"
Currently, NuGet packages like [`Microsoft.Net.Compilers`](https://www.nuget.org/packages/Microsoft.Net.Compilers/) or [`Microsoft.CodeAnalysis.CSharp`](https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/) are licensed under licenses like "MICROSOFT .NET LIBRARY (INSTALL AND USE)" or "MICROSOFT .NET LIBRARY", where the former even prohibits redistribution. I think this is contrary to the

[2017-06-12 14:57] dlarkin77 commented on #15556
@haydenhancock Excellent. Thanks very much.

[2017-06-12 15:03] Pilchie commented on #20168
@srivatsn / @livarcocc - does this belong on project system or sdk?

[2017-06-12 15:04] Pilchie commented on #20104
This isn't something that we'll tackle as part of this repo, but people are welcome to use the code here to try something on their own.

[2017-06-12 15:04] #20104 closed

[2017-06-12 15:24] Pilchie commented on #20163
This is actually a question about parsing of strings in `#Region`, and whether multi-line strings should be allowed there.

[2017-06-12 15:25] Pilchie opened #20170 "Dogfooding crash in memory mapped files"
**Version Used**:
VS 2017 Preview 15.3 P 2, + latest Roslyn signed VSIX: 2.3.06181101

**Steps to Reproduce**:

1. Had Roslyn.sln open, rebased my branch to get the latest changes from master (but there weren't any).

**Actual Behavior**:
VS Crash.

**Dump:**
`"\\mlangfs1\public\kevinpi\TemporaryStorageAccessDenied.dmp"`

**Callstack:**
[code]

[2017-06-12 15:29] sharwell commented on #19761
This turns out to be a different issue from the other memory mapped file bugs.

[2017-06-12 15:29] sharwell commented on #20170
Duplicate of #19761

[2017-06-12 15:29] #20170 closed

[2017-06-12 15:32] Pilchie commented on #20160
Found it - #18267

[2017-06-12 15:32] #20160 closed

[2017-06-12 15:55] TonyValenti commented on #18267
This code should also make sure to be aware that getters and setters might have a default value specified.

[2017-06-12 16:00] Pilchie commented on #14030
Merged that internal PR, so this is fixed now.

[2017-06-12 16:00] #14030 closed

[2017-06-12 16:27] livarcocc commented on #20168
This seems like an issue that should go to the SDK. However, @abhijitparkhi1983, did you install the core workload when installing the 2017 BUILD SKU?

[2017-06-12 16:40] conniey commented on #17984
Is there an ETA on getting this fixed? I was trying to consume the stable release Microsoft.CodeAnalysis  2.2.0 but it depends on Microsoft.CodeAnalysis.Elfie.

[2017-06-12 16:45] glucaci commented on #11780
It's still opened?
I have this problem by using the Compiler from NuGet (V 2.1.0).

`##[error]System.UnauthorizedAccessException: Access to the path '...packages\Microsoft.Net.Compilers.2.1.0\tools\Microsoft.CodeAnalysis.CSharp.dll' is denied. ---> System.ComponentModel.Win32Exception: Access is denied`

[2017-06-12 17:40] srivatsn commented on #20168
Note that the .NET Core workload of BuildTools is only in the 15.3 Preview (not sure if it was in Preview1)

[2017-06-12 17:49] AdamSpeight2008 commented on #20163
@Pilchie  More of parsing them as if multi-line strings are allowed. (Even if there not.)

[2017-06-12 17:50] marek-safar opened #20172 "Confusing error message for tuple arguments"
**Version Used**:  2.3.0.61719 (5fbdd5c5)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Meaningful error message

**Actual Behavior**:

error CS0718: 'X': static types cannot be used as type arguments

[2017-06-12 17:57] jasonmalinowski commented on #17984
@conniey Although the package is unlisted (i.e. "hidden") it's otherwise there. What problem are you seeing?

[2017-06-12 18:37] sharwell commented on #20094
@AlekseyTs Was this the same process as the one you filed for #20093, or different? From my investigation of #20093, it was only a matter of time before that process crashed, so I'm hoping to avoid the long separate analysis of this heap dump.

[2017-06-12 19:05] AlekseyTs commented on #20094
It is possible that it was the same process, but later in time. I do not remember for sure. This wasn't a crash, however, it looked like a dead-lock in IDE. Might be a different issue.

[2017-06-12 19:18] heejaechang commented on #19767
simple fix is in 15.6. but ultimately I think we can better cache which can't fit into 15.3. moving to 15.6

bug on better cache is already exist.

[2017-06-12 19:22] heejaechang commented on #18089
@bkoelman every Ioperation has syntax or you can use semantic model (http://source.roslyn.io/#Microsoft.CodeAnalysis/Compilation/SemanticModel.cs,379) to see whether you are dealing with invalid code.

we could provide an extension method for people but you can easily write one yourself based on what you believe by "invalid"

[2017-06-12 19:23] heejaechang commented on #20065
yep after RTM. I believe it happens for 15.3

[2017-06-12 19:57] 333fred opened #20175 "Conversion Expressions for Invalid Nodes"
Consider the following _invalid_ C# code:
[code]
We currently get the following operation tree for `i1 = ;`:
[code]

There is an empty IdentifierNodeSyntax there, and the semantic model exposes a Type and ConvertedType of `null` there. Should we be removing the conversion expression here to match the semantic model, or should we be leaving it in? Thoughts, @dotnet/analyzer-ioperation @AlekseyTs?

[2017-06-12 19:58] CyrusNajmabadi commented on #20175
Seems surprising and unhelpful to have this conversion there (IMO).

[2017-06-12 20:46] bkoelman commented on #18089
An extension method would be fine I guess. Could you provide an example for the descendant invalid case label at the top of this issue? I wonder how to get that from syntax or the semantic model.

[2017-06-12 20:59] jcouv commented on #1580
@AnthonyDGreen Let's discuss when we have the chance.

I'm not sure that makes sense. It seems that the absence of `/warnversion` should mean "none" (that's functionally the same as warnversion 7, for C#).

My current understanding from discussion with Kevin and Cyrus:
We'd have the following options:
- none/missing: that means you are not opting into any additional diagnostics
- N: you dial addit

[2017-06-12 21:03] heejaechang commented on #18089
invalid == ioperation.syntax.GetDiagnostics().Any() || semanticMode.GetDiagnostics(ioperation.syntax.Span()).Any()

something like this.

[2017-06-12 21:05] Pilchie commented on #1580
BTW - If you want to start introducing new warnings for existing code *and* you want people to enable them in their existing projects, I would *strongly* suggest writing code fixes for as many of these as possible.

[2017-06-12 21:20] CyrusNajmabadi commented on #20157
Integration test failure is: https://github.com/dotnet/roslyn/issues/20157

[2017-06-12 21:52] CyrusNajmabadi commented on #19827
Do you mean the ShowBuildMenu.bat that is in "Source\AsyncGenerator.Tests\ExternalProjects\NHibernate\Source"  ?

[2017-06-12 21:53] Pilchie commented on #6787
@dpoeschl Do you think @CyrusNajmabadi new fixes around adding fields for parameters and null checks covers this?

[2017-06-12 21:59] maca88 commented on #19827
Yes.

[2017-06-12 22:02] TyOverby commented on #14806
I believe that this is a duplicate of https://github.com/dotnet/roslyn/issues/10211

[2017-06-12 22:18] dpoeschl commented on #6787
Probably, yes. I'll run through it with @matthejo to confirm.

[2017-06-12 22:33] TyOverby commented on #14806
Closing as duplicate of https://github.com/dotnet/roslyn/issues/10211

[2017-06-12 22:33] #14806 closed

[2017-06-12 22:38] CyrusNajmabadi commented on #19827
Ok.  I got things running.  Investigating now.

[2017-06-12 22:43] 333fred opened #20178 "[IOperation] Throw Expression Support"
Add support for throw expressions to IOperation. FYI @dotnet/analyzer-ioperation.

[2017-06-12 22:43] jcouv commented on #20127
- Should deconstruction with Span be allowed (`void Deconstruct(out Span<int> x, out Span<int> y)`)? If yes, we need to solve https://github.com/dotnet/roslyn/issues/18629 first, since all deconstructions try to make a return type, but `ValueTuple<Span, Span>` is not allowed.

[2017-06-12 23:23] 333fred commented on #20095
@CyrusNajmabadi @AlekseyTs @dotnet/analyzer-ioperation, another set of expressions to consider:
[code]
Currently, this ends up being represented as an ILambda, with the appropriate IConversion from lambda to `Action`. Do we want this to appear the same as a standard lambda, ie a delegate construction with a conversion and lambda?

[2017-06-12 23:42] AlekseyTs commented on #20095
This is another syntax for a lambda, there should be no difference with a regular lambda, I think.

[2017-06-13 00:36] #20158 closed

[2017-06-13 00:38] twsouthwick opened #20179 "Expose IMethodSymbolInternal.IsIterator"
There is no way to determine from a symbol given an `IMethodSymbol` whether the method is implemented as an iterator. There is an internal interface `IMethodSymbolInternal` which exposes an `IsIterator` property (see http://source.roslyn.io/#Microsoft.CodeAnalysis/Symbols/IMethodSymbolInternal.cs,c8f15f835b2ac0d4), but I can't see any way to access it from the public surface area. Can this be expo

[2017-06-13 02:18] jmarolf commented on #19882
found in https://github.com/dotnet/project-system/pull/2429, results [here](https://ci.dot.net/job/dotnet_project-system/job/master/job/windows_debug_prtest/349/)

[2017-06-13 02:19] davkean commented on #19882
@jmarolf That's not corruption. That's someone importing a different version of MicroBuild package - which results in that error. Everyone that shares these images need to agree on version.

[2017-06-13 03:47] CyrusNajmabadi commented on #19956
Done!

[2017-06-13 05:57] AlekseyTs commented on #20175
Seems fine to me, given that this is an error scenario.

[2017-06-13 09:07] sunxinzhe2012 commented on #7053
@DustinCampbell   this feature is so important for us, nearly two years since this issues created,do you have any plans? so thanks!

[2017-06-13 12:56] abhijitparkhi1983 commented on #20168
@livarcocc ,

When you say core workload, you mean .NET Core. Right ?
No I have not. If I am right, we dont get any option to install it while installing the Visual Studios 2017 Build Tool . **Do we have to install .NET Core explicitly on the deployment server for this purpose?**

Was also wondering about the relation between SDK and .NET core. Can you please elaborate.

[2017-06-13 13:02] abhijitparkhi1983 commented on #20168
@srivatsn ,
I dint get you. The installer details say that the Product Version is 15.0.2640.13.
Can you specify a link to the  Visual Studios 2017 Build Tool 15.3 preview version?

[2017-06-13 13:11] abhijitparkhi1983 commented on #20168
@Pilchie ,

Is there any document/list which you can share with me which details all the **pre-requisites** required for **opening any solution** (under any .net application **build on .NET Version 3.5 and above** at least) using **Roslyn** on a **Server machine** where we **dont have any version of Visual Studios installed**.

[2017-06-13 13:49] sharwell commented on #1737
In a recent fit of frustration as I was left unable to proceed with one of my experiments, I filed pull request #19083 to remove this check.

[2017-06-13 13:51] DustinCampbell commented on #7053
@Pilchie, @kuhlenh: We made several IntelliSense improvements for D15 and D15.3. Is this moving further up our list now?

[2017-06-13 13:51] JamesFaix opened #20186 "Private constant fields can be used in attribute declarations on containing class"
**Version Used**: C# 6

**Steps to Reproduce**:

1.  Create a class declaration with a private `const` field.
2.  Put an attribute on that declaration and use the constant as a parameter.

**Expected Behavior**:
I would expect that the constant would be undefined / out-of-scope where the attribute is.

**Actual Behavior**:
It compiles just fine.  However, if the constant is made into a `readonly`

[2017-06-13 14:05] GrantHoffman commented on #20086
@CyrusNajmabadi,  It seems I need a call back to occur when the changes are final, is there a way I can create an event or callback for when   if there isn't a way to tell when the changes are finalized,  Is there a way I can create a callback for when the undo action is called

[2017-06-13 14:48] Pilchie commented on #20168
@abhijitparkhi1983 No - it depends on exactly what types of projects you want to open.  Since MSBuild is an extensible system, any 3rd party can create project types with it's own SDKs etc.  There is no way for us to know what all the dependencies of all projects will be.

[2017-06-13 15:12] vedun-z opened #20187 "CommandLineProject.CreateProjectInfo cannot handle relative analyzer references"
I try to use CommandLineProject.CreateProjectInfo to create a ProjectInfo from a command line that contains an analyzer reference:
[code]

Roslyn 1.3.4 successfully handles such references, however  Roslyn 2.2.0  does not convert a relative path
to an absolute path for analyzer references. Thus creation of ProjectInfo fails with an exception:
[code]

[2017-06-13 15:35] coder-zzo commented on #15556
I encounter the problem on Apache 2 with mod_mono in raspberry 2.
I followed a [stackoverflow post](https://stackoverflow.com/questions/34777551/mono-on-debian-could-not-find-file-srv-www-proj-bin-roslyn-csc-exe) to added below into vHost config

and reload apache 2. The problem was solved.
But got another problems. Apparently mono is too incomplete to .net framework

[2017-06-13 17:19] conniey commented on #17984
@jasonmalinowski Thanks for following up. :) The warning from paket was throwing me off but it appears to be working.

[2017-06-13 17:57] 333fred commented on #20175
I can certainly see why the conversion expression is introduced, but I'm not sure that we should be exposing it globally. It disagrees with what the semantic model says about that node, which we've tried to match in other places. It also seems to me like this is an implementation detail of roslyn, that it needs to introduce a conversion for an invalid expression.

[2017-06-13 18:51] jcouv opened #20189 "Symbols missing when running unittests"
When a unittest fails, only the test code itself gets proper location information (such that you can click on that line and jump to the location in the code). I suspect there is a problem with copying PDBs in our build.
FYI @jaredpar

[code]

I took a quick look at this. There is possibly a data size motivation, as copying PDBs along with all the assemblies copied to the test folders would increas

[2017-06-13 19:10] jcouv commented on #19871
From discussion with Neal, he's not aware of any telemetry benefits of using separate error codes for this specific case. I'll check with Jared too.

[2017-06-13 19:11] CyrusNajmabadi commented on #20086
Can you clairfy what you mean by "are final"?  It sounds like what you're asking for is a way to know then changes are actually being applied o the workspace.  And that is already available through "CodeActionOperation.TryApply".

To do this, you will have to register an undo operation with VS.  Roslyn does not have a generalized undo/redo engine to plug into.

Could you be specific.  What exactly

[2017-06-13 19:35] jcouv commented on #18524
So I tried to repro and strangely I get different errors (but the build still fails):
[code]

[2017-06-13 19:58] jcouv commented on #18629
:memo: From discussion with @VSadov, I'm exploring how to bind the deconstruction to have a `void` type (instead of a tuple type) when the return value of the deconstruction expression isn't used. The binding for conditional access does something of that sort ([inspecting parent syntax](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/Binder_Expressions.cs,7092) to decide if the resul

[2017-06-13 20:26] jasonmalinowski commented on #20169
Assigning to me while I chat with @richlander and @terrajobst. There's already a conversation with the lawyers we can piggy back on I think.

[2017-06-13 21:03] tmat commented on #20169
tagging myself @tmat

[2017-06-13 21:27] heejaechang opened #20193 "take another look on what to cache on arguments"
see this for more detail
https://github.com/dotnet/roslyn/pull/20137#pullrequestreview-43830203

basically, right now for argument what we cache and what we put in the argument array are not 100% same. in between we put fake ioperation node that doesnt have corresponding bound node. we need to figure out what exactly we will cache on argument.

[2017-06-13 21:40] mavasani opened #20194 "Fix operation tree dumper to not print "static" for local function invocations"
See https://github.com/dotnet/roslyn/pull/20177#discussion_r121803906

[2017-06-13 21:42] AlekseyTs commented on #20194
It shouldn't print static at all.

[2017-06-13 21:48] Pilchie opened #20195 "OOP: Operation cancelled crash in document highlights"
**Version Used**:
d15rel.26606.0 with Roslyn 2.3.0.6181304.

Dump file at `"\\mlangfs1\public\kevinpi\HighlightReferencesDogfooding.dmp"`.

Callstack:
[code]

[2017-06-13 21:53] CyrusNajmabadi commented on #20195
Investigating.  However @heejaechang I may need some help here.  Looking at this feature, we don't do anything special with cancellation tokens.  The IDE side uses a normal cancellation token and passes it to the OOP system.  And all we do on the OOP side is access "this.CancellationToken".   So if we're getting some strange cancellation exception, it seems like it might be some sort of race/issue

[2017-06-13 21:56] heejaechang commented on #20195
let me take a look. I want to move to native support of cancellation in StreamJson as well that got added in newer version. I just have one PR required to be in before I start on that change.

[2017-06-13 22:04] CyrusNajmabadi commented on #20195
The issue seems to be with this code:

[code]

_rpc.InvokeAsync seems to eb throwing RemoteInvocationException that is *wrapping* an OperationCanceledException.  However, our local _cancellationToken has not been canceled.  Are we doing any sort of client caching?  Is that causing us to make a call with one cancellation token (which gets canceled), but we're holding onto another cancellation token

[2017-06-13 22:06] CyrusNajmabadi commented on #20195
Found it.  The bug is in:

RemoteHostClientService

Specifically, "lazyInstance" captures the cancellation token of the thread that created it.  But it can be used across many different threads (with different cancellation tokens).  So the thread that originally asked for the client has not canceled, but the "document highlights" thread chooses to cancel.  THis cancels on the remote side, but when

[2017-06-13 22:06] CyrusNajmabadi commented on #20195
Assigning to Heejae.

[2017-06-13 22:25] heejaechang commented on #20195
@CyrusNajmabadi can you link the source? I dont see such thing. http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/Remote/RemoteHostClientServiceFactory.RemoteHostClientService.cs,145

are we talking about VS or unit test?

[2017-06-13 22:26] heejaechang commented on #20195
https://github.com/dotnet/roslyn/issues/20195#issuecomment-308262350

OOP side can't cancel itself unless VS side cancelled operation. OOP side raise cancellation only if VS side raised cancellation since current model of cancellation is closing connection from VS side.

[2017-06-13 22:31] gustavopinto commented on #11714
Hi @kuhlenh,

Yes, you are right. We made no distinction between Microsoft and non-microsoft contributors.

Thanks for the pointer!

Yes, we are taking it into consideration!

[2017-06-13 22:32] gustavopinto commented on #11714
If you don't mind, I have additional questions for you @kuhlenh.

As regarding the motivations, what was the main motivation for open-sourcing atom?

For example, was the main motivation of the companies to attract and retain new contributors?  Or was the main motivation perhaps to promote a profile of open-source-friendliness and get goodwill from the community?

Could you please elaborate a bit

[2017-06-13 22:32] heejaechang commented on #20195
can the HR throw its own cancellation which is not the given one? .. @Pilchie is this reproducible?

[2017-06-13 22:35] Pilchie commented on #20195
No - I don't have a repro 😦

[2017-06-13 22:39] TyOverby commented on #14304
Just to be clear, are you talking about `CreateTupleTypeSyntax` or `CreateTupleTypeSymbol`?

[2017-06-13 22:41] CyrusNajmabadi commented on #20195
@heejaechang When would we have a RemoteInvocationException that holds onto a OperationCanceledException internally?

[2017-06-13 22:44] heejaechang commented on #20195
@CyrusNajmabadi service hub has no idea on cancellation. what it says is in OOP side, someone threw exception with message "task was cancelled". most likely Operation cancellation exception.

[2017-06-13 22:51] jcouv commented on #14304
It would be `Compilation.CreateTupleTypeSymbol`.

[2017-06-13 22:54] heejaechang commented on #20195
@CyrusNajmabadi ya, I already looked through it. couldn't figure out. OOP dump probably required to figure it out since it will tell us which cancellation token is actually thrown. right now, that info is missing. for this.CancellationToken to be thrown, connection must be gone (http://source.roslyn.io/#Microsoft.CodeAnalysis.Remote.ServiceHub/Shared/ServiceHubServiceBase.cs,157) but we only close

[2017-06-13 23:49] Pilchie commented on #20195
@heejaechang - how can I get a dump of the OOP side when this happens?

[2017-06-13 23:55] heejaechang commented on #20195
@Pilchie I think I need to do something on OOP side that if cancellation is thrown and it is not same one as this.Cancellation, I should FailFast the process.

[2017-06-14 00:41] #20157 closed

[2017-06-14 04:02] jcouv commented on #18524
@fduman I was able to build latest `master` branch on a Turkish VM. Just in case, you may want to refresh your enlistment and confirm the problem is still there.
I've also tried to double-check the current culture on that machine (see test app above). If that doesn't match your machine, please let me know so that I can try and repro with better fidelity (and tips for how to configure my machine pr

[2017-06-14 04:48] mkrueger opened #20202 "Exception on Rename"
See:

https://bugzilla.xamarin.com/show_bug.cgi?id=57435

[code]
-------------------------
System.NullReferenceException: Object reference not set to an instance of an object
  at Microsoft.CodeAnalysis.Rename.ConflictEngine.ConflictResolver+<AddDeclarationConflictsAsync>d__9.MoveNext () [0x001cd] in <e121da014f7f4d7d87221a90525b7651>:0
--- End of stack trace from previous location where exception

[2017-06-14 06:24] heejaechang opened #20204 "Create Generator similar to bound node generator that creates basic IOperation types"
we want to create IOperation generator similar to boundnode generator that create basic types from xml files.

the generator should create IOperation interfaces and Operations concrete types.

**Suggestions on generators** (We need to address the following suggestions when we implement the operation node generator)
https://github.com/dotnet/roslyn/pull/20177#pullrequestreview-43626611
https://gith

[2017-06-14 06:25] heejaechang commented on #20204
suggestion on generators - https://github.com/dotnet/roslyn/issues/19720

[2017-06-14 06:26] 333fred opened #20205 "Add VB IOperation support for BoundKind.UnboundLambda nodes"
As the title says, VB currently does not have support for UnboundLambda nodes. We need to add support.

[2017-06-14 06:27] 333fred commented on #20205
Port https://github.com/dotnet/roslyn/pull/20197 over to VB, make note of https://github.com/dotnet/roslyn/pull/20197#discussion_r121856689

[2017-06-14 08:00] marek-safar opened #20208 "No warning for unused local tuple variable"
**Version Used**: 2.3.0.61719 (5fbdd5c5)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Consistent behaviour

**Actual Behavior**:

The warning is issued for t1 variable only

[2017-06-14 08:18] jinujoseph commented on #19924
**Design Team Decision**

_From @jcouv_

The proposal is to represent deconstruction-assignments (`(a, b) = e;`) and deconstruction-declarations (`(var a, var b) = e;`) with IAssignment nodes, containing a left, a right, and a deconstruction conversion.
One follow-up was to check with LDM if the language should say that deconstructions are conversions.

From discussion with @gafter , he think that

[2017-06-14 09:06] alrz commented on #20208
Tracked by #15695.

[2017-06-14 09:08] alrz commented on #20208
It's interesting that tuples are an exception to that rule since tuple literals cannot be `const`.

[2017-06-14 09:11] alrz commented on #20208
I see that's not the actual cause since the two locals are different only by `var`.

[2017-06-14 09:32] abhijitparkhi1983 commented on #20168
@livarcocc

While installing Visual Studios 2015 Build Tool, i dont get an option for Core Workload. I just have following two options under **WorkLoads**:
1. **Visual C++ build tools.**
2. **Web Development build tools.**

I had checked both of them while installing the Build tool.

[2017-06-14 13:46] TessenR opened #20210 "Inconsistent error CS8120: The switch case has already been handled by a previous case."
**Version Used**:
VisualStudio.15.Preview/15.3.0-Preview+26510.0

**Steps to Reproduce**:

Consider the following code:

[code]

**Expected Behavior**:
[code]
is reported either for each switch statement in the program or for neither of them.

**Actual Behavior**:
the error is reported only for some of switch statements in the program.
It is reported for switches over `new object()`, `default(bool

[2017-06-14 13:56] TessenR opened #20211 ""IDE0004 C# Cast is redundant" is reported incorrectly. Strange fix behavior."
**Version Used**:
VisualStudio.15.Preview/15.3.0-Preview+26510.0

**Steps to Reproduce**:

Consider the following program:

[code]

**Expected Behavior**:

"IDE0004 C# Cast is redundant" is not reported. The program obviously won't compile without the casts.

**Actual Behavior**:
Both casts are highlighted as redundant by "IDE0004 C# Cast is redundant".
Fix 'Remove unnecessary cast' is offered but

[2017-06-14 14:42] gafter commented on #18629
@jcouv would the semantic model still follow the language spec and give a tuple type?

[2017-06-14 14:56] rikimaru0345 commented on #4068
Does not work for me either.
I'm trying
- RegisterCompilationStartAction - works
- RegisterCompilationAction (never called)
- RegisterCompilationEndAction (never called)

Severity is "Warning", full solution analysis is turned on.

I'm debugging the analyzer with visual studio.
I started with the example project, then I press F5 to start a new instance of VS.

Diagnostics work, and codefixes work

[2017-06-14 15:09] Pilchie commented on #4068
@heejaechang Isn't this the issue that `CompilationEnd` analyzers only run if Full Solution Analysis is enabled in Tools/Options?

Tagging @kuhlenh

[2017-06-14 15:24] concubicycle commented on #4068
I tried enabling that when I was using this

[2017-06-14 16:01] jaredpar commented on #20210
Believe this is the representative case to examine

[code]

All of the other cases essentially boil down to this core example: a constant expression `null` given an explicit type.

Unsure if this is a bug or not.  Will let @gafter comment.

[2017-06-14 16:04] Pilchie commented on #20202
In VS 2017, renaming of tuple elements is currently blocked off - we haven't implemented it yet.  @dpoeschl do you know where that code lives, in case VS for Mac wants to do something similar until we do support it?

(See https://github.com/dotnet/roslyn/issues/14115 for the primary issue).

[2017-06-14 16:04] #20202 closed

[2017-06-14 16:06] Pilchie commented on #20211
Looks like a duplicate of #19987.  @sharwell do you concur?

[2017-06-14 16:20] GrantHoffman commented on #20086
@CyrusNajmabadi,  what I am looking for is an event that occurs, when the user decided the changes are final.

When you click the Solution Button under code action the changes are precalcuated and technically applied, but in a sense the changes are not final, because if you were to hit the cancel button all of the undo actions would be called.

However, if you decide to hit apply then, the changes

[2017-06-14 16:23] GrantHoffman opened #20213 "VSIX Extensions completely breaks when using a . in the analyzer diagnostic Id"
VSIX Extensions completely breaks when using a . in the analyzer diagnostic Id

**Version Used**:
1.01
**Steps to Reproduce**:

Create a new project,
Change the DiagnosticId to have a '.' in it.

**Expected Behavior**:

Visual studio VSIX Extension Highlights and provides code actions to change the class name `Program` to uppercase

**Actual Behavior**:

Code action and underlining does not Appear

[2017-06-14 16:24] niemyjski opened #20214 "VBCompiler.CompileAssemblyFromFileBatch() is modifying the passed in CompilerOptions"
I was using the legacy VB CodeDom provider to generate VB Code and compile it on the fly for our app. It was working great but we wanted to support newer language features so we brought in the latest Roslyn Code Dom provider via nuget... The change was simple and our c# implementation works flawlessly but I can't even compile the simplest sample due to the VBCompiler is injecting unwanted/invalid

[2017-06-14 16:29] jaredpar commented on #20214
@niemyjski the CodeDom package is owned by ASP.Net, no Roslyn.  Could you please file the bug here?

https://github.com/aspnet/RoslynCodeDomProvider

[2017-06-14 16:29] #20214 closed

[2017-06-14 16:33] #20156 closed

[2017-06-14 16:35] jaredpar commented on #20143
Is this a bug, feature request, etc ...?  Please add the appropriate label to classify this issue.

[2017-06-14 16:38] #20064 closed

[2017-06-14 16:39] jcouv commented on #20208
Thanks for reporting this.
FYI @VSadov

[2017-06-14 16:54] TyOverby commented on #20172
Would this be better if the error message location was at over the "X" and not "Foo"?

[2017-06-14 17:25] CyrusNajmabadi commented on #20086
Why is CodeActionOperatoin.TryApplyChanges not suitable for this?  Thanks!

[2017-06-14 17:40] sharwell commented on #20211
@Pilchie One part of this might be a duplicate. The weird preview/apply behavior is also concerning though.

[2017-06-14 17:41] sharwell commented on #20211
It may turn out that this is a combined duplicate of several other items. I'll investigate to make sure nothing here is new.

[2017-06-14 17:43] heejaechang commented on #4068
@rikimaru0345 @Pilchie ya. it should run if FSA is on unless it has design time build error. with FSA on, do you see any error from closed files?

[2017-06-14 17:44] alrz commented on #20172
`C<X, long> Foo()` would also produce error on `Foo`. If we're going to move it to `X`, constraint checking needs to be updated as well — for a case like `unsafe (int*, int) Foo()`.

[2017-06-14 17:46] TyOverby commented on #20172
@alrz Yeah, I think switching up error location there would be good too.

[2017-06-14 17:52] AArnott commented on #20064
I didn't test whether the returnType was actually different. I don't mind assuming so.

[2017-06-14 17:53] zaccharles commented on #13802
@cchamberlain You just saved me from pulling my hair out. I spent ages trying to work out what was wrong with this project and in the end it had duplicate keys.

Now I have another `TaskCanceledException` with no details as a result of a call to `SymbolFinder.FindImplementationsAsync`. Fantastic...

[2017-06-14 17:58] jcouv commented on #18783
## Consuming C# compiler from ASP.NET
A number of people on stackoverflow are reporting trouble adopting C# 7.0 in their ASP.NET and ASP.NET Core projects. This often has strange symptoms, where the IDE accepts the new syntax (no squiggles), but building the solution or F5 produce errors in the Output window.

This is caused by a mismatch between the built-in compiler (used by VS) and the compiler

[2017-06-14 18:22] svick commented on #18783
As far as I can tell, upgrading the `dotnet` CLI to a nightly version of Roslyn for a single project is not hard (tested with .Net Core SDK 1.0.4 on Windows 10):

1. Add a `NuGet.config` file referencing the Roslyn MyGet:

[code]
2. Add a reference to a nightly version of `Microsoft.Net.Compilers`, e.g.: `dotnet add package Microsoft.Net.Compilers -v 3.0.0-dev-61717-03`.
3. Add `<LangVersion>Lates

[2017-06-14 20:06] sharwell commented on #20094
It appears to at minimum have been impacted by the other issue. For now I'm going to close this as a duplicate. If it reappears, the other changes we've made will reduce the "noise" in the crash dump and hopefully allow us to track down whatever remaining issue could cause it.

[2017-06-14 20:06] #20094 closed

[2017-06-14 20:39] cchamberlain commented on #13802
@zaccharles I'm considering setting up a OS project just to validate the basics that Visual Studio / msbuild should validate. Very easy to end up with a duplicate reference or worse, a misaligned `packages.config` / `csproj` after a messy merge.

Hope you get your issue figured out and interested in the results if you do.

[2017-06-14 20:49] rchande opened #20219 "Integration test failures due to `AnnotationTagger`"
Dump at `https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration/1160/artifact/Binaries/Debug/`

This appears to affect REPL and possibly other projection scenarios.

[code]

[2017-06-14 20:54] Pilchie commented on #20219
@rchande artifacts are likely to get cleaned within about 24hours.  Maybe download the zip and store somewhere?

[2017-06-14 20:59] rchande commented on #20219
Artifacts zip at \\mlangfs1\public\rchande\20219

[2017-06-14 21:52] TyOverby opened #20223 "All VB projects fail to load references in design-time build"
This is what it looks like in the editor:

![image](https://user-images.githubusercontent.com/573215/27156166-c8b4ca9a-5110-11e7-81d3-a3efd2458231.png)

I've tried `git clean -xdf && restore && msbuild Compilers.sln && devenv Compilers.sln` but the issue persists.

dump and workspace log here:
\\mlangfs1\public\tyoverby\workspace_bug

[2017-06-14 21:53] TyOverby commented on #20223
cc @jasonmalinowski @tannergooding @jaredpar @agocke

[2017-06-14 21:54] jaredpar commented on #20223
Please list the version of VS that you are using.

[2017-06-14 22:04] TyOverby commented on #20223
![image](https://user-images.githubusercontent.com/573215/27156631-b89356c0-5112-11e7-9cb8-6a09fbfc7452.png)

[2017-06-14 22:05] mavasani commented on #19902
Fixed with https://github.com/dotnet/roslyn/pull/20177

[2017-06-14 22:05] #19902 closed

[2017-06-14 23:02] mavasani commented on #2830
This is no longer required after #20096

[2017-06-14 23:02] #2830 closed

[2017-06-14 23:15] Pilchie commented on #20223
This is expected, you need at least 15.3 P1 to edit Roslyn.

[2017-06-14 23:32] VSadov commented on #19930
fixed in https://github.com/dotnet/roslyn/pull/19934

[2017-06-14 23:32] #19930 closed

[2017-06-14 23:33] VSadov commented on #19422
this has been implemented

[2017-06-14 23:33] #19422 closed

[2017-06-14 23:50] VSadov opened #20225 "ref struct iterators should be disallowed in async/iterator methods."
The following should be an error:

Also check other long-lived compiler generated temporaries

[code]

[2017-06-15 00:01] VSadov opened #20226 "ref structs should not implement interfaces"
Considering that ref structs cannot be boxed or passed as a generic type argument, implementing interfaces is pointless.

[2017-06-15 00:03] KirillOsenkov opened #20227 "P2P references do not respect [TypeForwardedTo] attributes"
**Version Used**:
Visual Studio 2017 Update 2

**Steps to Reproduce**:

1. Create a new C# class library ProjectA and reference some binary, such as `Microsoft.VisualStudio.Text.UI.Wpf.dll`
2. Add another class library to the solution: ProjectB and make a P2P reference to ProjectA
3. Paste this code in ProjectA:
[code]
4. In ProjectB, use the type:
[code]

**Expected Behavior**:
Should build fine

[2017-06-15 00:07] VSadov opened #20228 "error on disallowed ref-like fields is very confusing"
The error says that fields or _properties_  are disallowed where, in fact propertiees _are_ allowed and turning a field into a property could be a potential fix for the problem.

[code]

[2017-06-15 02:11] jamesqo opened #20229 "Unable to suppress CS2002"
**Version Used**: 2.2.0.61624

**Steps to Reproduce**: Create a new .NET Standard project, add `<NoWarn>2002</NoWarn>` and include some files twice.

**Expected Behavior**: No CS2002

**Actual Behavior**: `Source file ... specified multiple times`

I'm not sure whether this is intentional since not many people want to include duplicate files anyway. However, I need to include duplicate files to wo

[2017-06-15 02:52] jcouv opened #20230 "PublicAPI code fixer doesn't update Unshipped file"
The fixer triggers (lightbulb appears), but the action doesn’t seem to work (no file is changed).
Also, I noticed that the shipped/unshipped files no longer come up in GoTo (Ctrl+,). I suspect they were removed from the project and that may have something to do with the problem.

[2017-06-15 02:56] Pilchie commented on #20230
This is a bug in the project system.  @jasonmalinowski just checked in a workaround, but you might not have it in the branch you were working in yet.

[2017-06-15 03:05] jcouv commented on #20230
Thanks @Pilchie and @jasonmalinowski :-)
I'll close the issue and wait for workaround to propagate.

[2017-06-15 04:12] jcouv commented on #20208
I've made a PR for 15.3 and started discussion with compat council.

[2017-06-15 04:42] CyrusNajmabadi opened #20232 "'Remove unused variable' not offered for unused local functions."
the existing codefix is only defined for LocalDeclarationStatementSyntax.

We shoudl expand it to handle local functions as well.

[2017-06-15 05:08] livarcocc opened #20233 "dotnet build and analyzers"
_From @ppekrol on June 13, 2017 13:36_

Hi,

## Steps to reproduce

I have following project with analyzers that target netstandard1.3
https://github.com/ravendb/raven.codeanalysis

The issue I have is that when using `dotnet build` I'm getting warning as follows:

[code]

 but from VS2017 everything is working as expected.

I've created a sample project that demonstrates the issue
https://github.

[2017-06-15 05:08] livarcocc commented on #20233
@tmat can you take a look here?

[2017-06-15 05:08] livarcocc commented on #20233
_From @tmat on June 13, 2017 23:45_

@mavasani ?

[2017-06-15 05:08] livarcocc commented on #20233
This issue was moved to dotnet/roslyn-analyzers#1236

[2017-06-15 05:08] #20233 closed

[2017-06-15 05:16] rikimaru0345 commented on #4068
I have FSA on, so I assume it should run.

What do you mean by "error from closed files" and "design time build error"?

I get no errors in the ErrorList pane, the Debug output, or any other location I could think of that would report errors.

My "primary" visual studio instance would catch exceptions when/if they happen (and it doesn't so far).

My primary vs instance shows the debug output of th

[2017-06-15 14:12] LokiMidgard commented on #18414
I had a problem with the sample project file. In my case the nuget file was created before the dll's were created in the output folder. I head to build twice to get my nuget package without missing entry's.

Instead of those two entrys
[code]

I used
[code]

and included every used dll manually from the packages folder or from other projects that build before using
[code]

[2017-06-15 14:41] Portikus commented on #12702
So what? This wont be fixed? We have to deal with warnings for every UWP *.g.cs file which has public non commented members? The huge amount of warnings is killing me and make it quite impossible to see real warnings.
Also I'm using SimpleStubs which generates a huge amount of stubs in my project. All not commented..
@DRAirey1 is right :

[2017-06-15 14:44] hickford commented on #15419
You could change the permissions so users can contribute documentation? https://help.github.com/articles/changing-access-permissions-for-wikis/

[2017-06-15 14:58] sharwell commented on #12702
@SolalPirelli @BrainSlugs83 @DRAirey1 @Portikus I've dealt with a great deal of different situations related to this as part of my work on StyleCop Analyzers. While I don't have a "one size fits all" answer, if you get stuck on a *particular* case please feel free to call my attention to it and I can help you work through it so it's no longer a problem.

[2017-06-15 15:02] SolalPirelli commented on #12702
UWP libraries

CS1591 "Missing XML comment"

XamlTypeInfo.g.cs generated by UWP tools for XAML files.

[2017-06-15 15:03] DRAirey1 commented on #12702
Sam, would you please explain to us disabling 1591 whenever you see <auto-generated> in the header of a file won't solve 95% of the issues here.

[2017-06-15 15:04] sharwell commented on #12702
@DRAirey1 I don't have any more say on the rules by which a compiler warning are reported than you have. What I do have is experience working around things that might otherwise block people. 😄

[2017-06-15 15:09] Portikus commented on #12702
UWP Libraries and Apps

CS1591 "Missing XML comment"

*.g.cs like MainPage.g.cs e.g for the Method "GetBindingConnector".
Reproduce:
Just create a Blank App in Visual Studio 2017 and check the checkbox XML documentation file.

[2017-06-15 15:11] Portikus commented on #12702
.NetStandard

CS1591 "Missing XML comment"

SimpleStubs.generated.cs from SimpleStubs version 2.3.3.
https://www.nuget.org/packages/Etg.SimpleStubs/
https://github.com/Microsoft/SimpleStubs

[2017-06-15 15:14] Pilchie commented on #6970
Assigning to @CyrusNajmabadi since he took a stab at it while on a plane ride...

[2017-06-15 15:17] AArnott opened #20238 "Analyzer-generated warnings disappear from Error List after a few seconds"
**Version Used**: d15rel 26612.0

**Steps to Reproduce**:

[code]

Once in VS, build the solution (or at least the Microsoft.VisualStudio.Composition project).

**Expected Behavior**:

The Error List initially populates with several warnings (consistent with warnings in the output window).
![image](https://user-images.githubusercontent.com/3548/27188468-1794806e-51a3-11e7-8322-ef8b07bd90fa.png)

*

[2017-06-15 15:18] justindyer opened #20239 "Feature Request: Assign property value without additional private member boilerplate. And simplify get/set."
As of C# 7.0, if logic is necessary in a property, then an additional member is necessary to store the value.

The simplest form of property looks like this:
`public string MyProperty { get; set; }`

If logic is necessary, then the addition of a member is necessary and usually is boilerplate code that is just more work to write and have like so:

[code]

Ideally, this could be simplified by referr

[2017-06-15 15:19] sharwell commented on #12702
@Portikus I would recommend you disable CS1591 and CS1573 in test projects using one of the strategies documented in the [How to fix violations](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA0001.md#how-to-fix-violations) section of StyleCop Analyzers rule SA0001. If you cannot do that for some reason, then the solution here would be:

1. Request SimpleStubs add

[2017-06-15 15:23] DRAirey1 commented on #12702
Sam, you're late to the conversation.  We all know you can do this manually.  Digging into generated code in the object directories and updating what is supposed to be invisible to programmers is a time-consuming task that is prone to errors.  The end result is we don't want to see warnings that generated code hasn't been documented.  I don't think you or SolalPirelli realizes how often this occur

[2017-06-15 15:29] sharwell commented on #12702
@SolalPirelli @Portikus  I filed an internal bug for the XAML compiler warnings:

![image](https://user-images.githubusercontent.com/1408396/27188931-631fd526-51b5-11e7-969b-7fe80d8a9681.png)

[2017-06-15 15:36] miloush opened #20241 "CS0465 (Introducing Finalize method) on interfaces"
**Version Used**: 15.3 Preview 2

**Steps to Reproduce**:
[code]
**Actual Behavior**:  CS0465: Introducing a 'Finalize' method can interfere with destructor invocation. Did you intend to declare a destructor?

**Expected Behavior**: Does this warning make sense on interfaces? I definitely can't declare a destructor and I am not exactly sure how the interface declaration could interfere with the de

[2017-06-15 15:37] Portikus commented on #12702
@sharwell thank you, the global suppression file will help me with SimpleStubs.
Will we get noticed about updates to the topic?

[2017-06-15 15:38] sharwell opened #20242 "Allow an analyzer to suppress diagnostics"
There are several situations where it would be helpful for an analyzer, or an analyzer assembly, to have the ability to suppress diagnostics reported by another analyzer or as a warning by the compiler. For example:

* StyleCop Analyzers rule to "Use 'this.'" could automatically disable the IDE warning with the same intent
* Analyzers could suppress compiler warnings like CS1591 using application-

[2017-06-15 15:38] DRAirey1 commented on #12702
Actually, I just got through looking at Sam's suggestion.  Turns out I created a similar solution and posted it as a package.  You can check it out at:

https://www.nuget.org/packages/IgnoreGeneratedFilesBuildTask/

[2017-06-15 15:39] sharwell commented on #12702
@DRAirey1 I filed dotnet/roslyn#20242. It's a higher-level feature than the compiler that has come up in multiple discussions. Among other things, it would allow you to create an analyzer package that included logic to suppress warnings (from the compiler or from an analyzer) using logic of your choosing.

[2017-06-15 15:41] sharwell commented on #12702
@Portikus

Probably not automatically, but if you aren't seeing progress you can always ask using the Bug ID from that image.

[2017-06-15 15:41] Pilchie commented on #20223
BTW - this is happening because we started using `default` expressions in signatures, and that broke skeleton assembly generation.

Tag @jcouv

[2017-06-15 15:46] sharwell commented on #20241
:memo: The internal name for a destructor is `Finalize`. C# uses the `~TypeName()` syntax to define one but the compiler emits the method as one that overrides `Object.Finalize`. Someone from the compiler team will be able to give you more specifics about the intent of this particular warning.

[2017-06-15 15:47] majatu opened #20243 "FindReferencesAsync returns nothing for extension in static class"
**Version Used**: 1.3.0.0

**Steps to Reproduce**:

Main project uses extension from another project. With Roslyn i try to find all references of this extension, but it's return nothing, but inside one project works well.

**1.csproj**

[code]

extension sample **2.csproj**

[code]

usage sample **3.csproj**

`"....".My(...);`

**Expected Behavior**:

all references locations are found

**Actual B

[2017-06-15 15:48] sharwell commented on #20226
What about `IDisposable`? A `using` statement requires the type to be `IDisposable` even if it dispatches the `Dispose` call to the method on a particular type.

[2017-06-15 15:57] sharwell opened #20244 "Type style fails to recognize predefined types by their metadata names"
**Version Used**: 15.2

:link: Originally reported by Josh Hufford: [Suggesting both 'var' and explicit type.](https://developercommunity.visualstudio.com/content/problem/68755/suggesting-both-var-and-explicit-type.html)

**Steps to Reproduce**:

1. Set the style for **For built-in types** to **Prefer explicit type**
1. Set the style for **When variable type is apparent** to **Prefer 'var'**
1. Us