[2016-01-22 17:41] leppie commented on #8107
@HaloFour: Not only that, `B` only derives `object`.

[2016-01-22 17:42] HaloFour commented on #8107
@leppie That it does.  I imagine he meant the following:

[code]

[2016-01-22 17:44] Pilchie commented on #8048
We think this is a dupe, but couldn't find it.

[2016-01-22 17:45] Pilchie commented on #8061
Can you figure out what new exception is getting thrown?

[2016-01-22 17:47] Pilchie commented on #8105
This is definitely something we'd like to get to.

[2016-01-22 18:20] TyOverby commented on #8077
I've seen this happen on the following machines:

tbld25
tbld20

I'll update this list as I find more occurrences.

[2016-01-22 18:22] davkean commented on #8077
We should figure out why we're deploying this - DeployExtensions is supposed to be false, so something is causing them to be deployed.

[2016-01-22 18:25] davkean commented on #8077
Also dci-win-bld-3

[2016-01-22 18:52] jods4 commented on #120
@alrz I think I would prefer a third syntax, similar to your second: `{ var first, var ...slice, var last}`
I think it's more consistent with other langages (e.g. destructuring in ES6) and it doesn't preclude `var` usage (unlike your first suggestion). In langages that supports this, that syntax is usually consistent with spread operator (should C# ever get that?), and `params` arguments (although

[2016-01-22 18:52] asik commented on #8107
Is it possible in the IL to have different generic constraints for a method override? That is why C# has you redeclare the constraints at the class level, i.e. to allow:

    public class A<T> where T:IEquatable<T> {}

    public class B<T> : A<T> where T:struct, IEquatable<T> {}

If not, I don't see the point of this and would be against it. It's already bad enough to have to re-declare the entir

[2016-01-22 18:54] alrz commented on #120
@jods4 What do you mean by "more consistent with other languages"?

[2016-01-22 18:56] HaloFour commented on #8107
@asik

No.  The generic constraints are required to be the same.  As far as I can tell they can't even be narrower.  While I agree that it would be unnecessary to have to redeclare them I can understand the desire to strictly for clarity.

[2016-01-22 19:06] TyOverby commented on #8077
This should be fixed in #8110 by explicitly turning deploy-extensions to false.

[2016-01-22 19:32] steveniles opened #8111 "IDE0004 "C# Cast is redundant" suggestion when removing cast would change anonymous member type (and program behavior)"
Here's a simple console app to demonstrate the issue:

[code]

The anonymous type only knows what data type the `shouldBeAnInt` member is by looking at the right hand side of the assignment. Visual Studio 2015 suggests removing the cast to int, but doing so changes the member's type and the output of the program.

Note that the suggestion goes away if you use `var thing = ...` instead of `object t

[2016-01-22 19:45] mattscheffer opened #8112 "VSI tests are unable to deal with segmented quick actions menu."
BasicCodeActions, CSharpCodeActions, and CSharpGenerateFromUsage are all failing in the standalone context on the latest vsuml build due to recent changes to the Quick Actions menu.

BasicCodeAction's is below. As you can see in the exception, the correct text is present. However the testrunner isn't finding that line and isn't finding several of the lines in addition to finding extra 'Preview cha

[2016-01-22 20:04] paul1956 commented on #8048
@pilchie #5375 but it was closed.

[2016-01-22 20:27] jasonmalinowski commented on #8048
@paul1956: that was a unique problem with the Analyzer templates.

[2016-01-22 20:50] dpoeschl commented on #6757
Update: working with the related teams to ensure this gets updated in the next version of Visual Studio.

[2016-01-22 20:56] davkean opened #8113 "The open->closed pump should tell us when it cannot connect"
When the pump goes down, we don't find out until someone notices or when a signed build doesn't kick off.

We just have it tell us, via an email probably, when it cannot pump.

[2016-01-22 20:57] davkean commented on #8113
FYI @jmarolf :)

[2016-01-22 20:57] dpoeschl commented on #7537
Any updates on the status of this? :smile:

[2016-01-22 20:58] dpoeschl commented on #7943
Blocked by https://github.com/dotnet/roslyn/issues/7537

[2016-01-22 21:00] davkean commented on #7537
it's been worked on, in between fires.

[2016-01-22 21:26] genlu commented on #7825
Hit this in #8089

http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/3050/

[2016-01-22 21:29] davkean commented on #7825
And Jason hit it too: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/3048/

@brettfo This is currently marked as "P0" - what's the status of this?

[2016-01-22 21:30] vbcodec commented on #8019
@diryboy
None problems here. If tow threads use the same object and one of them want to replace object, then they must use mutex or monitor for sync, just ordinary synchronization techniques,

@svick
I do not want to cancel anything, but continue procedure with new object's instance

[2016-01-22 21:44] lgolding opened #8114 "IBinaryOperatorExpression.BinaryOperatorKind property getter can throw"
I encountered this bug in IOperation while implementing CA2242, TestForNaNCorrectly.

My analyzer registers an action for `OperatorKind.BinaryOperatorExpression`. The action checks the operation’s `BinaryOperationKind` property to see if it’s one of the floating point comparison operators. If so, it checks to see whether either operand has a `ConstantValue` of `NaN`:

[code]

The analyzer works co

[2016-01-22 21:57] HaloFour commented on #8019
@vbcodec

Which renders the entirety of the CLR completely un-thread-safe.  It would be impossible to overwrite the memory of a class instance atomically making every single method invocation, every single property accessor and every single field access would need to be wrapped by some arbitrary synchronization mechanism.  I'm sorry, the entire concept is horrid.  Having memory flipped out from un

[2016-01-22 22:21] #7932 closed

[2016-01-22 22:23] rchande commented on #7932
Please verify, @rchande

[2016-01-22 22:28] heejaechang commented on #7998
I have hit same issue. should I retest or wait for fix?

[2016-01-22 22:30] davkean commented on #7998
@agocke Assuming Update 1 one is now done - or -blocked-. Please pick this up.

[2016-01-22 22:30] davkean commented on #7998
@jaredpar as FYI

[2016-01-22 22:30] davkean commented on #7998
@heejaechang Please link the build and retest

[2016-01-22 22:31] agocke commented on #7998
@heejaechang You can retest, I'm looking at the build

[2016-01-22 22:31] agocke commented on #7998
Build is http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/3061/

[2016-01-22 22:33] gafter opened #8115 ""defer" statement"
[Swift recently added the `defer` statement](http://nshipster.com/guard-and-defer/). Would that make sense for C# and VB? in C# I imagine it would look something like

[code]

The idea is that the code in the defer block would be executed as the last action in the enclosing block. This would be the same as writing

[code]

[2016-01-22 22:35] jods4 commented on #120
@alrz I was thinking about destructuring arrays in other languages, which is quite similar to pattern matching (albeit unconditionally).
But to be honest my impression wasn't correct about that. After doing some _actual_ research there are as many variations as there are languages. A few examples:
ES6 does it like I suggested: `let [first, ...middle, last] = array`.
Coffeescript does the opposite

[2016-01-22 22:43] panesofglass commented on #8071
@alrz I mean you could write it without whitespace consideration, e.g.

[code]

However, I hardly find this readable even without meaningful whitespace. So how would _you_ write it?

[2016-01-22 22:49] Thealexbarney opened #8117 "Bad behavior with long? switch"
This bug can be reproduced with this example code:
[code]
This code produces the following unexpected output (Aligned for readability):
[code]

Using VS2013 or changing the long? to int? produces the following output, as would be expected:
[code]

[2016-01-22 22:52] vcsjones commented on #8117
Probably a duplicate of #7625

[2016-01-22 22:53] tpetricek commented on #8071
I actually have a suggestion for F# to relax the indentation requirements a bit. I think F# is a bit too annoying in some cases (like the one @alrz mentioned), but that's not really a problem with indentation-based languages in principle :).

See http://fslang.uservoice.com/forums/245727-f-language/suggestions/9156844-relax-some-of-the-indentation-rules and http://fssnip.net/rZ

[2016-01-22 22:58] alrz commented on #8071
I didn't mean to not format the code, but if you manipulate this code it doesn't fail to compile if you missed a space or two. And also, it doesn't really matter how you write it at first, because it wouldn't be an *invalid code* just because of inconsistent whitespaces, you can format it at any time. I think whitespaces are part of your code conversation and compiler shouldn't depend on user pref

[2016-01-22 23:02] dpoeschl opened #8118 "The C# identifier rename operation is not accepting "@" as a permissible character in an identifier"
Ported from internal bug #175773

[2016-01-22 23:09] dpoeschl commented on #8118
Note that you can just type a keyword into Inline Rename without the "@" and we auto-add it for you, even during the rename session. The question here is about the *user* typing the @ themselves.

[2016-01-22 23:17] AdamSpeight2008 commented on #8118
Isn't `@` only valid as the first character in a identifier?

[2016-01-22 23:18] dpoeschl opened #8119 "Inline Temporary Variable fails in VB when references exist with varying casing"
Paste VB (note the lowercase "list" on the `Banana` line):
[code]
Ctrl+. on the declaration of `List` causes `InlineTemporaryCodeRefactoringProvider` to fail and show the infobar.

[2016-01-22 23:19] alrz commented on #8071
@tpetricek What I've found odd about F# is that it removes the need for
curly braces in favor of whitespace significance and then relies on them
for computation expressions. Wasn't it really better to keep it consistent?
As far as I can tell, one of goals of F# is to be concise (which is
something that I like about it) but whitespace significance is just too
much IMO.

[2016-01-22 23:22] dpoeschl opened #8120 "VB Line Commit only fixes up some name casing changes"
Ported from internal bug 175449

Paste VB, change the declaration of `list` to `List`, and move the caret off that line:

[code]

**Expected**: I'm not sure what's expected here. @jasonmalinowski - any thoughts? Fix both? Fix neither?
**Actual**: the `list` reference on the `Apple` line gets capitalized, but the one on the `Banana` line does not.

[2016-01-22 23:26] AdamSpeight2008 commented on #8021
@GeirGrusom + @HaloFour

What should happen in the non generics case?
[code]

Would this only ever output to the console `Hello from Foo!`

[2016-01-22 23:27] dpoeschl commented on #8120
The other thing the customer was encountering here was https://github.com/dotnet/roslyn/issues/2123, where clicking the lightbulb or Ctrl+<dot> would consume the lightbulb and basically not let you use Rename Tracking here.

[2016-01-22 23:31] tmat opened #8121 "#help in VS interactive is incorrect"
A couple of issues - there is a duplicate line:

[code]

These shouldn't be displayed since they don't work (there might be an option that switches the behavior on and off, so #help needs to use that option):
[code]

[2016-01-22 23:32] #4364 closed

[2016-01-22 23:43] HaloFour commented on #8021
@AdamSpeight2008

That syntax has zero purpose.  `Foo.SayHello()` is perfectly sufficient.  C# definitely doesn't need to repeat the mistakes of VB.NET.  Even in the context of this proposal, `static(T)` and `Shared(T)` serves no utility.

[2016-01-22 23:48] HaloFour commented on #8115
@gafter I'd have to see use cases that aren't already sufficiently met through `try`/`finally` or `using`.  It doesn't even seem that Apple could provide a worthwhile example of why you'd use it.

[2016-01-22 23:53] dpoeschl commented on #8119
System.NullReferenceException: Object reference not set to an instance of an object.
[code]

[2016-01-22 23:54] alrz commented on #8115
doesn't RAII address this?

[2016-01-22 23:55] HaloFour commented on #8115
@gafter According to [NSHipster](http://nshipster.com/guard-and-defer/) the `defer` statement should be avoided for contexts other than ensuring resource cleanup.

I'd say that `defer` is Swift's answer to `using` and my opinion is that C# doesn't need a rebuttal or to copy a feature that can be as potentially misused/abused as this could be.

[2016-01-22 23:57] AdamSpeight2008 commented on #8021
@HaloFour  What if I pass in a `bar`?
[code]

[2016-01-23 00:02] AdamSpeight2008 commented on #8021
`static` does help,
[code]

[2016-01-23 00:03] HaloFour commented on #8021
@AdamSpeight2008

No, `status(object)` just makes things confusing.  The proper syntax is `Foo.Hello()` and there is no reason to add some additional keyword to emulate a really bad idea from VB.NET.

[2016-01-23 00:17] AdamSpeight2008 commented on #8021
**@HaloFour**
That only works when you know the type. The methods accepts any type the inherits `Foo`. I ask what what happens when it passed an instance of an object that isn't `Foo`, lets say a `Bar`

[2016-01-23 00:25] Vannevelj opened #8123 "Add ITypeSymbol.IsNullable and ITypeSymbol.Implements"
There are some internal helpers that would be very useful for us too since now we just end up duplicating those same helpers.
I'd rather re-use existing ones that I know will have a solid implementation.

It seems like there is a whole bunch of them under Shared/Extensions.

Created an issue per request by @jmarolf

[2016-01-23 00:34] genlu commented on #7132
Reassigned to @drognanar since he has been working on this issue :)

[2016-01-23 00:35] #7959 closed

[2016-01-23 00:36] HaloFour commented on #8021
@AdamSpeight2008

Simple, `Foo.Hello()`, because static methods aren't virtual.  This is even the case in VB.NET, it will invoke the static method based on the type of the *variable* regardless of what the instance happens to be:

[code]

[2016-01-23 00:44] steffenloesch commented on #7766
Is there any update on this? I understand that there are good reasons for restricting Analyzers to the current compilation, but it also severely restricts Analyzers in my view. If your codebase is spread over several projects in the same solution, then pretty simple scenarios (like the one is described above) are very hard/impossible to implement with Analyzers.

Another scenario that currently do

[2016-01-23 00:54] mattscheffer commented on #4421
I'm still seeing this occur with '\<T\>'. The parens and plus marks are correctly spaced however triangle  brackets don't have the extra spacing.

![image](https://cloud.githubusercontent.com/assets/10537189/12526963/b6b9530c-c128-11e5-83d2-cb880fc83200.png)

[2016-01-23 01:11] Thealexbarney commented on #8117
It looks like this is a duplicate of #7625. My example code works correctly with newer builds of Roslyn.

[2016-01-23 01:11] #8117 closed

[2016-01-23 01:52] baterja opened #8125 "Proposal: Enable implementing interface interface properties with interface implementer."
### Problem
I have nice third-party (Prism) interface like:
[code]
and I want to implement it with my custom INotification implementing class. I have to do it like this:
[code]
Now it is bug-friendly when I want to bind something from Confirmation
[code]
because xaml cannot resolve property in desing-time, because only INotification properties are visible.

Another way to solve my problem is:
[cod

[2016-01-23 02:19] jmarolf commented on #7766
Symbols are never guaranteed to be the same across compilations.  You cannot cache a symbol from one compilation and compare it against one from a different compilation.  The behavior is undefined.

Analyzers are loaded and [initialized](http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/DiagnosticAnalyzer.cs,22) once in Visual Studio, and then passed the information they requested

[2016-01-23 04:31] AdamSpeight2008 opened #8126 "[Bug?] Rename Incorrectly renames original."
If you copy an existing class (either by copying the file, or cut and pasting) Then rename the copy.
It renames the original and where it is referred.
[code]
**Expected**
[code]
**Actual**
[code]
**Possible Fix**
Add an option to restrict the renaming to just this object definition..

[2016-01-23 05:03] diryboy commented on #8115
This reminds me the defer attribute for the script tag in HTML. It allows the browser to parallel the download of the script while continue parsing html. I don't see why this is useful in C#.

[2016-01-23 05:15] dan2002s commented on #8015
My point exactly, using `IClonable` means you won't always get a deep copy unless you use it on classes you've made (assuming you implement it.properly).

Sent from my iPod

On 19/01/2016, at 10:57 PM, "Paulo Morgado" <notifications@github.com> wrote:

[2016-01-23 11:26] vbcodec commented on #8019
@HaloFour
This idea is very simple and help to avoid complex problems or using convoluted workarounds.
Object replacement do not require any new features to protect from concurrency. It is up to devs to provide synchronization where necessary, just like any other currently used techniques with shared data. Do not suggest that such nonsense perfect protection is required, because it is not.
Also, d

[2016-01-23 12:47] HaloFour commented on #8019
@vbcodec

The problem is a complicated, messy, convoluted and inherently unsafe problem to normal issues of learning to design around concurrency and merging.

As for implementation details, even if the Roslyn team loved this (which I can guarantee they won't) they couldn't do anything about it anyway because the CLR doesn't make anything like this possible.  You can try your hand suggesting it to

[2016-01-23 14:12] svick commented on #8125
I believe the technical term for what you want is "return type covariance" and has already been suggested: #357.

[2016-01-23 14:42] alrz opened #8127 "Proposal: Extension Implementations"
Consider this two interfaces.

[code]

So every class that implements `Iterator` is effectively an `Iterable`. To establish this relation, one might think of default methods:

[code]

But this doesn't help because you can't say if the implementor is an `Iterator`. We might define the default method as generic constrained to an `Iterator`.

[code]

But this design is somehow flawed (you might want

[2016-01-23 15:16] alrz commented on #6248
@gafter I think this can eliminate the need for generic-non generic variations of types without breaking existing code,

[code]
doesn't it?

[2016-01-23 15:23] alrz commented on #7644
@BreyerW I think, this needs "intersection types" (#4586) then if you declare `OpenGeneric<>` all `T`s would be considered as an intersection type of all constraints. but I'm not sure about `class` constraint.

[2016-01-23 15:48] shaggygi commented on #8121
This is similar to what I put in recently.  #7170

[2016-01-23 15:55] alrz commented on #7763
@ChristianRygg why not
[code]

[2016-01-23 18:50] tiesmaster commented on #6945
:+1:

[2016-01-23 19:07] HaloFour commented on #8127
I'm not sure that I see how this works.  #258 relies on the concrete class actually implementing the interface so the CLR will expect the slots for the implementing methods which it then wires up to the default implementations in the absence of an override provided by the class.  Without that there are no slots to wire up or to call.  The instance of `A` still can't be cast to an `IHasA`.

[2016-01-23 19:17] davkean commented on #8126
@AdamSpeight2008 you are entering rename mode on the second class for what reason? To update references to itself?

What I mean is if you have the following:

[code]
Are you hoping for the following result:

[code]

Otherwise, what would be the point of enter rename mode on the second class?

[2016-01-23 19:27] alrz commented on #8127
@HaloFour Yes, to cast an object to an interface which we provided the implementation afterwards the vtable shall be handled otherwise. I think this is something that is required to implement traits. But you can freely use it with generic constraints e.g.
[code]
Then we can dispatch the right method from constrained `T`.

[2016-01-23 19:42] davkean commented on #8123
These sorts of issues are easier to make traction on if you call out specific examples of things that you've duplicated or used, and what you use them for.

[2016-01-23 19:42] HaloFour commented on #8127
I'm not sure I see how you can "handle" slots in a vtable that don't exist.  And being able to state that any given type now is a given interface seems quite messy and could have wide ramifications on existing code.  If I had an interface check buried somewhere deep in a library and all of a sudden some unexpected classes started to pass that check it could cause unexpected results.

[2016-01-23 19:43] davkean commented on #8062
Dup of https://github.com/dotnet/roslyn/issues/7998

[2016-01-23 19:43] #8062 closed

[2016-01-23 20:06] alrz commented on #8127
@HaloFour These are known as [trait objects](https://doc.rust-lang.org/book/trait-objects.html) in Rust, when you define a function like `void F(IHasM obj)` the object in question, `obj` in this case, keeps a pointer to the concerete type provided vtable, hence you can pass any object to this funciton. while Rust does this for any trait objects, C# can only consider it only for `trait` types and d

[2016-01-23 20:50] HaloFour commented on #8127
@alrz I've not seen much discussion regarding the actual implementation of traits in C# but I don't think it would be comparable to Rust.  I'd imagine that they'd be more like traits in Scala: interfaces where some of the methods provide default implementations, and that types are then required to extend directly.  You'd need those method slots in the vtable to exist in order to be able to dispatc

[2016-01-23 20:58] Pilchie commented on #4421
I believe this is the expected behavior from VS2013.  I don't think the option has ever controlled a space before the `<` in a generic method.

[2016-01-23 21:00] Pilchie commented on #8120
I would expect neither would get changed, as neither would be part of the "dirty" span in the line commit code, but both should be fixed if you format document.

[2016-01-23 21:06] Vannevelj commented on #8123
The specific example that triggered this was [`ITypeSymbol.IsNullable`](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Shared/Extensions/ITypeSymbolExtensions.cs,9da3d89af760c92a) and used [here](https://github.com/Vannevelj/VSDiagnostics/blob/issue289/VSDiagnostics/VSDiagnostics/VSDiagnostics/Diagnostics/General/TryCastWithoutUsingAsNotNull/TryCastWithoutUsingAsNotNullCodeFix.cs#L116)

[2016-01-23 21:09] alrz commented on #8127
@HaloFour Just like #258 this needs CLR support of course, but if `F2` case doesn't fit on the CLR we'd be ok with generic constraints. I'm not saying that this should be done exactly the Rust way, but C# can adopt some part of it to cover some use cases in the language. I've seen much discussion regarding traits (not much about implementation though) but people want them to do zero-cost abstracti

[2016-01-23 21:46] baterja commented on #8125
Thanks, I've [read it](https://github.com/dotnet/roslyn/issues/357#issuecomment-172994781) and it really is something covering my issue.

[2016-01-23 22:14] Pilchie commented on #7509
Dupe of #7812

[2016-01-23 22:14] #7509 closed

[2016-01-23 22:31] Pilchie commented on #5139
Assigning back to @CyrusNajmabadi.  I think we decided that we wanted to consider bucketing more of the generate options, instead of just the generate type ones as another potential thing here.

[2016-01-24 00:07] aluanhaddad commented on #6248
I'm not sure what that means. Are you saying that there is type equivalence between
[code]
and
[code]
?
If so would be a breaking change because
[code]
and
[code]

[2016-01-24 00:29] firda-cze commented on #5365
**Event subscription** inside initializer is what brought me here (as I was going to suggest it and found this).
There already is `Add` or `AddRange` call for readonly lists (get-only property) and events are actually delegate (handler) lists.

**Calling method** inside the initializer list really sounds like `with` and either only one method will usually be called or it can be chained with fluent

[2016-01-24 02:09] HaloFour commented on #8127
@alrz That it does, but that's a much more limited change to the CLR keeping to the existing type structure and vtable mechanics.  The only difference there being that if an interface defines a member that a concrete class does not implement but there is a known default implementation for the interface that the CLR will automatically assign the default implementation to the existing vtable slot ra

[2016-01-24 02:11] alrz commented on #5365
@firda-cze nested initialization like that doesn't make sense, you have to create the nested object and initialize it in turn,
[code]
which is currently possible.

[2016-01-24 02:40] paul1956 commented on #7750
@jmarolf memory is running out in the Roslyn function (TryMergeFixesAsync) below when I enter the function memory used is 1.5 Gig.
[code]
After 134 CodeAction loops
[code]
This memory increase will continue until all the CodeActions are complete or you run out of memory.
[code]
It seems that this function could monitor memory and exit gracefully before OOM and still fix a reasonable number of issu

[2016-01-24 02:55] alrz commented on #8127
@HaloFour That's not where I'm going with this, I just mentioned traits to make my point and clear up the differences, as I said this has nothing or a little to do with traits but the syntax is flexible enough to be reused for trait implementations as well. You can think of `implement` as a group of extension methods for a type, as an entity, so it just make extension methods more coherent and you

[2016-01-24 03:19] HaloFour commented on #8127
@alrz Whatever it's called I'd think that the CLR mods would remain the same.  You couldn't achieve `F2` without some kind of new typing mechanism.  You couldn't achieve `F3` without the CLR officially supporting duck typing, which is the only way you'd satisfy the generic type constraint, and I don't see how that would (or should) be possible without affecting how the `isinst` opcode behaves.  Yo

[2016-01-24 03:28] alrz commented on #8127
@HaloFour That restriction would apply to interfaces too. I think it addresses your concerns regarding implementation and usage, but it largely depends on #258 and what it would add to the CLR.

[2016-01-24 04:12] jamesqo opened #8130 "Proposal: Adding a scoped index parameter to foreach"
I realize that there are already several other issues (#1651, #1752, and #5194) covering this, but they didn't address exactly what I had in mind so I'm making a new one here.

## Background

A common pattern when working with `IEnumerable<T>` is to capture the index during each iteration of the loop. For example, LINQ has many overloads that take a `Func<T, int>` as well as a `Func<T>`, such as S

[2016-01-24 04:35] jamesqo commented on #8115
It's possible to just simulate this using [Disposable.Create](https://msdn.microsoft.com/en-us/library/system.reactive.disposables.disposable.create(v=vs.103).aspx) from Rx:

[code]

As such I don't think a `defer` statement is needed.

[2016-01-24 08:22] orthoxerox commented on #8130
I like this idea, we just need to make sure this won't conflict with the destructuring assignment syntax.

[2016-01-24 11:18] AdamSpeight2008 commented on #8126
@davkean That's a possible option, restricted renaming to this class.

[2016-01-24 11:23] AdamSpeight2008 commented on #8021
Also if we have extension methods, for `static`.
[code]

[2016-01-24 11:25] ilexp opened #8131 "Toggle Compiler Features per Project"
As C# runs upwards through all the new and exciting versions and more and more language features get added, project owners may want to specify which of them can be used. As a per-project compiler setting, this would not affect libraries or dependencies.

**Examples for opt-out C# compiler features:**
- Record types
- Pattern matching
- Expression-bodied members
- Nullability tracking
- `dynamic` k

[2016-01-24 11:48] AdamSpeight2008 commented on #8021
@GeirGrusom How do you access the singleton?

[2016-01-24 11:59] AdamSpeight2008 opened #8132 "Specify Variance in Delegates."
It would good to be able to specify the variance of the generic type parameters of delegates.
So that this following was able to compile.
[code]

[2016-01-24 13:08] HaloFour commented on #8021
@AdamSpeight2008

That would be a completely unrelated proposal, and there it still wouldn't make any sense because there would be no `this` parameter to be assigned.  Even you omitted the identifier name, and it would make less sense to have a half-parameter just to try to declare where the static extension belonged.

[2016-01-24 13:12] HaloFour commented on #8132
Generic type variance is set by the delegate itself, not an instance of the delegate.  That is a function of the CLR, not the language.  Also, your example is not one of variance, you're trying to use a completely different signature:  `&System.Object` vs. `System.Object`.

[2016-01-24 13:34] HaloFour commented on #8131
Sounds like something that could be solved through an analyzer.

[2016-01-24 14:24] BreyerW commented on #7644
@alrz as i already said side effect of this proposal would be intersection type. However in your linked proposal that seems to be concerned about `if` statement while my proposal is more general (you could use them in classes/struct as fields/property, return them from method etc., and have some extra features that probably never make into 'normal' intersection types like 'intersect' `class` or `s

[2016-01-24 15:37] SolalPirelli commented on #8130
If tuples are added as first-class citizens to the language, this could be replaced by an extension method on `IEnumerable<T>`, without the need for special syntax.

[2016-01-24 15:41] jamesqo commented on #8130
@orthoxerox Probably not, the existing consensus in so far in #6400 seems to lean towards using `let`.

[2016-01-24 15:46] alrz commented on #6248
@aluanhaddad I'm saying that we could get rid of `IEnumerable`.

[2016-01-24 16:07] jamesqo commented on #8130
@SolalPirelli Good point. I assume you mean something like this:

[code]

I agree that would be less work than implementing a new language feature. It would be kinda strange to newcomers though, since you would have some people writing `foreach` and others writing `ForEach`. It's better to provide just one syntax for consistency.

[2016-01-24 16:08] alrz commented on #8130
What's wrong with `GetItems().Select((item,i) => { ... })`?

[2016-01-24 16:10] SolalPirelli commented on #8130
@jamesqo No, I meant an `IEnumerable<T * int> Indexed(this IEnumerable<T> source)` method, which would then be iterated using `foreach(var (item, index) in stuff.Indexed()) { ... }`.

[2016-01-24 16:13] jamesqo commented on #8130
@alrz Because `Select` has to return something (the return type can't be void), so your code would end up looking like this:

[code]

[2016-01-24 16:24] jamesqo commented on #8130
@SolalPirelli Hmm, seems interesting. Would it be possible to omit the parentheses in the tuple declaration?

[2016-01-24 16:28] alrz commented on #8130
@jamesqo @SolalPirelli That was proposed in #6067 but it seemingly dismissed. Then you have to do this:
[code]

[2016-01-24 17:21] dpoeschl commented on #3351
Verify internal bug 162818 when verifying this fix.

[2016-01-24 17:27] dpoeschl opened #8133 "Don't loop forever when trying to create a directory"
Ported from http://roslyn.codeplex.com/workitem/357 by @slaks

My decompiler found the following code in MetadataAsSourceFileService.GetGeneratedFileAsync:

[code]

This seems like a bad idea; the loop should be bounded.

[2016-01-24 17:29] dpoeschl opened #8134 "Rename: Renaming to substring of suffix is highlighted incorrectly"
Ported from http://roslyn.codeplex.com/workitem/140 by @slaks

Source:
[code]

Renaming X to any (case-insensitive) substring of "EventHandler" (such as "vEN" or "E") will highlight only the last occurrence of that substring in the suffix-referencing tokens, and will change both the prefix and the last suffix to match the new name.

 Interestingly, this only happens for synthetic symbols, not shor

[2016-01-24 17:32] dpoeschl opened #8135 "Rename tries to rename explicit metadata interface implementations"
Ported from http://roslyn.codeplex.com/workitem/483 by @slaks

Source:

[code]

Renaming `Y.Compare` will also rename the two references to the interface method, and will show one unresolvable conflict.

[2016-01-24 17:32] dpoeschl commented on #8135
Comment from @Pilchie:

Our ideal behavior here is:

1. We don't update calls that happen through the interface.
2. We *do* put a conflict right on the definition of the method being renamed.
3. You should not be able to invoke rename from the explicit interface implementation when the interface is defined in metadata.

[2016-01-24 17:47] dpoeschl opened #8136 "When doing a rename operation in dark theme, it is very hard to see the cursor position in the symbol"
Ported from internal work item 121121

For example:

![image](https://cloud.githubusercontent.com/assets/235241/12537866/5dfeaca0-c27f-11e5-8b7b-2612691bc729.png)

[2016-01-24 17:48] dpoeschl commented on #8136
From the editor team:

The Roslyn IDE team can detect when the caret is in a rename span and flip the caret color to a more contrasting one.

[2016-01-24 17:56] jmadkins commented on #7273
I'm currently experiencing this issue. Trying to restore Nuget packages and I'm not able to because this Dll is being locked.

[2016-01-24 17:57] dpoeschl opened #8137 "Diff View: Navigating using NavBar in diff view opens new file"
Ported from internal bug 116789
1. Create new C# console app
2. add to source control
3. make changes and compare to version in source control
4. use navbar in right view to select a method

**Expected**: View scrolls to selected method
**Actual**: File in right view is opened in a new window

[2016-01-24 17:57] dpoeschl commented on #8137
I think this bug was introduced with the change that allowed preview tabs to get promoted to regular tabs. When the document is navigated to, we now always ask to reopen it, which causes this behavior. Any fix will have to somehow introduce more context into that process to get both scenarios working correctly.

[2016-01-24 18:06] SLaks commented on #8133
Current source (and reason):
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/MetadataAsSource/MetadataAsSourceFileService.cs,116

[2016-01-24 18:15] dpoeschl opened #8138 "Go to Definition not showing all defs of partial type"
Ported from internal bug 127814 (description edited)

When I hit F12 on the definition of BoundExpression, it only shows me three of the four definitions.  The missing one is in a generated file (BoundNodes.xml.Generated.cs). Still, it seems unfortunate that it's not even included when I GTD within the generated file. My only option seems to be to find a generated member in the member list and go

[2016-01-24 18:34] dpoeschl opened #8139 "Visual Studio crash when renaming explicit interface method implementation"
Ported from internal bug 170064 (description modified)

Create a Console Application project that references a Class Library project, with the following code:

[code]

[code]

Renaming `M` from `Class1` causes a VS crash.

[2016-01-24 18:34] dpoeschl commented on #8139
Call Stack:
[code]

[2016-01-24 18:42] dpoeschl commented on #8139
The explicit implementation is private, so `GetDocumentsAffectedByRename` asserts that the set of `renameLocations` exists entirely in the current project. This is a bad assumption when that symbol is an explicitly implemented public interface method.

[2016-01-24 19:20] dpoeschl opened #8140 "Preview Dialog: highlighting in change lists missing"
Ported from internal bug 125906
1. invoke Rename on some method name
2. click Preview Changes

**Expected**: Dev12

![image](https://cloud.githubusercontent.com/assets/235241/12538355/94b7f2f8-c28c-11e5-9f2d-192c06dca708.png)

Dev12 also has nice highlighting in the code pane, could we do that?

![image](https://cloud.githubusercontent.com/assets/235241/12538357/9d5cae8a-c28c-11e5-926a-de9b0ed4a15

[2016-01-24 19:25] dpoeschl opened #8141 "Change signature on collection initializer add methods"
Ported from internal bug 97241

Steps to reproduce:
1. Try to reorder parameters at the $$:

[code]

[2016-01-24 19:26] dpoeschl commented on #8141
The failure to update these methods is not a regression, but Visual Studio 2013 had a dialog that stated "This member may have compiler generated references with the same name. Refactoring the member will not update these references, which may introduce semantic changes and/or build errors into your code. Do you want to continue?"

[2016-01-24 19:30] dpoeschl opened #8142 "Warn users when manipulating members with special names / signatures that may be implicitly referenced"
Split from #8141 (internal bug 97241)

Visual Studio 2013 had a dialog that stated "This member may have compiler generated references with the same name. Refactoring the member will not update these references, which may introduce semantic changes and/or build errors into your code. Do you want to continue?"

This impacts at least Rename and Change Signature

[2016-01-24 19:33] dpoeschl opened #8143 "The language item of the Code Snippets Manager was changed"
Ported from internal bug 105318

**Expected**:
![image](https://cloud.githubusercontent.com/assets/235241/12538426/2a130c38-c28e-11e5-918d-9001a9222a08.png)

**Actual**:
![image](https://cloud.githubusercontent.com/assets/235241/12538427/2f9e2eb2-c28e-11e5-8024-1fbb94387720.png)

[2016-01-24 19:39] dpoeschl commented on #8143
If we switch to providing all of the snippet authoring in Roslyn, we could fix the name as part of that work.

[2016-01-24 19:43] dpoeschl commented on #8140
Triage, does this still seem appropriate for 1.2?

[2016-01-24 20:22] dpoeschl commented on #8120
Visual Studio 2013 agrees with @Pilchie on both counts.

[2016-01-24 20:23] steffenloesch opened #8144 ""Go to Implementation" across projects with an Analyzer?"
From within an Analyzer, is there a way to do a "go to implementation" (as in Visual Studio) across projects of the same solution? For example, I have a type symbol, and I want to go to the source code of that type, in order to analyze it. If that worked across projects, many solution-wide analyses would be simple to do.

Performance might be an issue, but how much that is an issue will likely var

[2016-01-24 20:28] steffenloesch commented on #7766
Thanks for the very informative answer, @jmarolf !

I don't necessarily need to cache the symbol, a fully qualified type name would be enough in my case, and I could recreate the symbol from that for the compilation in question.

That's great to hear. I personally think that this is a very very desirable feature.

I need to analyze the code of the type in question, to see if it is a bad type. I co

[2016-01-24 20:50] Blecki commented on #8130
You could try more meaningful variable names than 'index'. In your example, 'indexItems1' and 'indexItems2' would be a better name. Further, if you're not using the value of 'indexItems1' after the loop you could just use index over and over. Or you could do this.

    foreach (var indexedValue in SomeList.Select((e, i) => Tuple.Create(e,i)))
         ....

[2016-01-24 22:16] dpoeschl opened #8145 "Nested types from other partial parts are not present in the nav bar"
Ported from internal bug 97926
1. Add two VB files to VS. Define Partial Class C with a part in each file. Add a nested type Class D to one of the parts. Go to the other file and put the caret inside C. "D" is not listed in the middle nav bar.

File1.vb

[code]

File2.vb

[code]

[2016-01-24 22:17] dpoeschl commented on #8145
The current behavior matches that of Visual Studio 2013 and prior, but we'd still like to include these nested types in the nav bar.

[2016-01-24 22:19] dpoeschl opened #8146 "VB: Rename should add Overloads modifier if necessary"
Ported from internal bug 98001

Inline-renaming "NewMethod" to "Foo" in the following code results in a compilation error: `function 'Foo' must be declared 'Overloads' because another 'Foo' is declared 'Overloads' or 'Overrides'.`

[code]

[2016-01-24 22:19] dpoeschl commented on #8146
We can't safely add the "Overloads" keyword to NewMethod because that could itself introduce an error if there is another NewMethod method, so I'm not sure this will easily fit into the existing expand/reduce paradigm.

[2016-01-24 22:53] jamesqo commented on #8130
@Blecki See my updated post. That would definitely work, I just don't think it's readable as it could be.

[2016-01-24 23:10] gafter commented on #8115
The advantages of the `defer` statement over the alternatives are

- They do not require implementing some interface, such as `IDisposable`, or creating helper objects that do.
- They do not add an indentation level to the code, which becomes clumsy when there are more than one.
- They do not move the cleanup code to the end, as try-finally does, but rather keeps the cleanup code logically with th

[2016-01-24 23:28] jamesqo commented on #8115
@gafter Hm, I'm not sure. I was skeptical at first, but the arguments you presented are good.

If we're going to go down that route, we may want to consider adding an option for writing it inline like you can in Go, e.g.

[code]

[2016-01-24 23:47] dpoeschl opened #8147 "NavBar & Change Signature shouldn't show a numeric literal for special values of optional parameters"
Ported from internal bug 100950
1. Paste this code:

[code]
1. Position the caret on the method

**Expected**: In the right NavBar combo, there should be `Foo(decimal x = decimal.MaxValue)`

**Actual**: `Foo(decimal x = 79228162514264337593543950335)`

[2016-01-24 23:48] dpoeschl commented on #8147
Note from @DustinCampbell - I took a look here and appears that the code to show the user's code will need to be factored out of the symbol description service. Or, the symbol description code will need to become a more general service, taking arbitrary symbol formats. At the moment, NavBar can't simply use it without inheriting a bunch of display quirks from Quick Info and Signature Help.

[2016-01-24 23:49] dpoeschl commented on #8147
This also affects the Change Signature dialog "Default" column

[2016-01-25 00:06] dpoeschl commented on #7943
Remove this from ExceptionLog.RegisterKnownExceptions when this is fixed.

[2016-01-25 00:09] paulomorgado commented on #8115
Still not sold on that!

[2016-01-25 00:15] gafter commented on #8123
We will treat this as a feature request for those two specific APIs: `ITypeSymbol.IsNullable` and `ITypeSymbol.Implements`.

[2016-01-25 00:18] gafter commented on #8125
OK, closing as a dup of #357.

[2016-01-25 00:18] #8125 closed

[2016-01-25 00:23] gafter commented on #8130
As the OP points out, this is morally similar to existing issues (#1651, #1752, and #5194), but I'll leave this open for a bit for discussion.

[2016-01-25 00:26] gafter commented on #8132
What is this I don't even

[2016-01-25 00:33] HaloFour commented on #8115
@gafter

1.  If `IDisposable` is the pattern for creating resources which should be cleaned up then I don't see much validity to this argument.  Endorsing an additional pattern, or no pattern at all, would only add confusion.
  1.  Rx provides some fantastic helper methods which can convert any operation into a disposable.  Why add language support to something that can be done easily through a li

[2016-01-25 00:44] benjamin-hodgson commented on #206
I couldn't find any discussion about this, so I'm going to bring it up. Please **don't allow subtyping of records**.

The Scala designers originally allowed what they call "case class inheritance" (subclassing of record types) but later realised it wasn't a good idea and removed it from the language. The most important sticking point is equality.

[code]

Equality that isn't symmetric is not equal

[2016-01-25 00:54] HaloFour commented on #206
@benjamin-hodgson

Well, that specific problem could be solved by having the record only consider another instance equivalent if the operand is the exact same type and not a subclass.

[2016-01-25 00:59] paul1956 commented on #8130
If you are going to do this there needs to be a "Finally" so I can access the index.

[2016-01-25 01:10] jmarolf commented on #7750
@paul1956 before I can take a look, I can't build the project you uploaded. The following extension methods are not included.
..\..\VBCodeRefactoring\VBCodeRefactoring\VBCodeRefactoring\Extensions\AnalizerExtensions.vb
..\..\VBCodeRefactoring\VBCodeRefactoring\VBCodeRefactoring\Extensions\Extensions.vb
..\..\VBCodeRefactoring\VBCodeRefactoring\VBCodeRefactoring\Extensions\GeneratedCodeAnalysisExte

[2016-01-25 01:11] cdomino opened #8148 "VS 2015 - Having two adjecent foreach statements with the same "iterator" variable name results in the second one being null."
See the attached file (for references to the numbers used here). Basically, I have two adjacent foreach loops (i.e. not nested, although the second one is protected by a try…catch) (#’s 1 and 2) with the same variable name ("pm" in this case) for the “iterators.” It appears as though there is scoping issue where the first loop is “disposing” the variable by name; it is null in the second loop (#4)

[2016-01-25 01:17] Blecki commented on #8130
@jamesqo, I can't argue with the readability. I avoid tuples because the names 'item1' and 'item2' are meaningless.

[2016-01-25 01:26] tmat commented on #8148
Have you made any changes to the code while debugging?

[2016-01-25 01:28] alrz commented on #8115
@gafter I don't think that real problem with `using` statement is additional indentions nor that you have to implement an interface — this is not a bad thing at all, so there is a contract for types that need cleanup. I think the actual problem here is that you might forget to dispose disposable types, defer statement doesn't help with this at all, it rather encourages you to not implementat `IDis

[2016-01-25 01:34] HaloFour commented on #8115
@alrz Using `let` as you describe seems like it would be in conflict with #6400 which is proposing that `let` have a completely different function.  Blending the two wouldn't make much sense.  And wasn't move/ownership semantics one of the tricky issues in considering #161?  I'd worry that it would be too easy to lose track of true ownership, particularly if you ever call into an assembly compiled

[2016-01-25 01:37] ufcpp commented on #8115
PowerShell has the trap statement, which has similar usage to the defer statement. The trap statement is little confusing and I prefer the try-catch statement.

[2016-01-25 01:43] cdomino commented on #8148
Hey Tomas –

Thanks for the quick reply!

I first noticed the issue after coming back from a hibernation (I’m on Windows 10, by the way) and I don’t recall if I had explicitly changed the code during that first debugging session. But once I noticed the issue, it remained after cycling VS and even rebooting. That said, this is a large code base, and I make heavy usage of that same pattern (using th

[2016-01-25 01:49] alrz commented on #8115
@HaloFour If we ever wanted it to be the default behavior but yes, then other languages or even earlier versions of C# might be considered as unsafe. But as I said in my first comment here, RAII (using `using`) does need a lightweight version of ownership, otherwise if you pass the object to another method then you're screwed. #161 and #160 are about `destructible` types and `move` keyword, but wi

[2016-01-25 01:58] HaloFour commented on #8115
@alrz  Changing the keywords doesn't change how difficult it may or may not be.  And if developers still need to opt-into it then you still haven't solved any of the problems.  At least with destructible types it was a property of the type and the consumer didn't have to opt-into anything.

RAII doesn't imply anything about ownership.  The convention as it was developed in C++ relies on the lifeti

[2016-01-25 02:10] TKharaishvili commented on #7814
@paulomorgado

Correct, but naming is beyond the focus of this conversation.

@paulomorgado @svick @HaloFour thank you all for voicing your opinions.

I'll close the issue, since there has been no more activity or supportive feedback whatsoever.

[2016-01-25 02:10] #7814 closed

[2016-01-25 02:21] alrz commented on #8115
@HaloFour This is more related to #160 and #161 and somehow covering #181 but probably out of scope of this propoaal, so I just give it up. :smile:

[2016-01-25 02:23] diryboy commented on #7273
My attempt was exclude Roslyn from Windows Defender. Also wanted to disable search indexer, but looks like there's no way to do it. So I just retry 2 times and it works.

[2016-01-25 03:21] tmat commented on #8148
How exactly did you "notice the issue"? Did you step thru the code each time until it hit the exception, or did you just run the program with debugger attached?

[2016-01-25 04:09] MgSam commented on #8115
If the the use case for `defer` is resource cleanup, then it would seem to be an anti-pattern to me to not require that the thing implement `IDisposable`. Implementing `IDisposable` allows tooling to warn you if you create a disposable as a local variable and then never dispose of it. If you make it accepted for resources to not require `IDisposable`, you lose this benefit.

I think method scoped

[2016-01-25 04:27] ManishJayaswal commented on #6755
We should fix this as it will enable $ReturnValue - see internal bug 137772

[2016-01-25 05:38] gafter commented on #8115
I see *lots and lots* of code like this in Roslyn:

[code]

I would *hate* to use IDisposable for this. `defer` would be perfect, as it keeps the "begin" and related "end" code together.

[2016-01-25 05:38] dpoeschl opened #8149 "Audit uses of Workspace.TryApplyChanges that do not observe the return value"
Ported from internal bug 127469

Many places call Workspace.TryApplyChanges but do not observe its return value. Some have //todo comments and some just ignore it (perhaps incorrectly).

[2016-01-25 06:03] techman2553 commented on #8130
How about a mashup of both for and foreach:

    foreachindex(var item in collection, int i = 0, i++)
    {
        Console.WriteLine("item={0}  index={1}", item, i);
    }

This gives you the freedom to change the behavior of the index if you wanted to for some reason:

    foreachindex(var record in records, long pos = 0, pos += 20)
    {
        Console.WriteLine("record={0}  byte position={1}"

[2016-01-25 06:26] LazyBui commented on #7931
It's boilerplate that I'd rather not have to write and in the particular case of `System.Web.UI.WebControls`, that means I would be committed to:
[code]

And so on and so forth. Each one you'd like to exclude ends up adding quite a bit of boilerplate. I would rather be able to specify that one or some of the things from a particular namespace are not things I'm interested in while I am interested

[2016-01-25 06:49] GeirGrusom commented on #8130
[code]

[2016-01-25 07:02] gafter commented on #206
@benjamin-hodgson As @HaloFour suggests, we would never provide an implementation of `Equals` that isn't symmetric.

However, I have to say that inheritance of records has been one the hairier design points for us for other reasons. Disallowing one record from inheriting from another (Scala deprecated that in 2009) seems like a plausible solution.

Hey, @MadsTorgersen, what do you think?

[2016-01-25 07:04] paul1956 commented on #7750
@jmarolf Sorry did not know those files were links
[Extensions.zip](https://github.com/dotnet/roslyn/files/102860/Extensions.zip)

[2016-01-25 07:14] GeirGrusom commented on #8071
Significant whitespace is one of the things I hate about F#. It's annoying. It also introduces the odd behavior that different indentation levels among developers, which is merely a nuisance in C#, can actually break code. If introduced to C# it wouldn't simply break code, in worst case it could make the program behave differently.

[2016-01-25 07:21] leppie commented on #8115
@gafter: That is really dynamic binding. It would be nice to do syntax sugar for what I did in code here http://www.codeproject.com/Articles/153896/Dynamic-Binding-in-C

[2016-01-25 07:28] firda-cze commented on #5365
@alrz Panel1 is get-only (readonly) property, it cannot be assigned to. Same apply to event subscription and list initialization (both are actually get-only and manipulated by other means in initializer - either by `Add` or `Combine`)

But I agree that it could produce a mess and should rather be handled by designer of the class (to redirect whatever property to inner classes to allow easy initial

[2016-01-25 07:33] GeirGrusom commented on #8115
I would like to note that D has had the [scope guard](https://dlang.org/spec/statement.html#ScopeGuardStatement) statement for some time, but it allows you to do something when scope fails, or succeeds as well.

Anyway wouldn't this be more useful as a `using` extension? Allowing a type to determine what happens when the scope fails, succeeds and finishes (which is what using allows) could be usef

[2016-01-25 08:19] laedit commented on #430
Thanks for the amazing work. :smiley:
Is this already usable in VS2015 or elsewhere?

[2016-01-25 08:38] ghord commented on #8115
There is really great talk about  [implementing this feature in C++ by Andrei Alexandrescu](https://www.youtube.com/watch?v=WjTrfoiB0MQ). Some string arguemnts in favor of this there.

[2016-01-25 09:57] orthoxerox commented on #206
@gafter would you provide a double dispatch `Equals` and `==` for records?

[2016-01-25 10:11] ChristianRygg commented on #7763
@alrz I realize that my example doesn't really express the problem clearly enought, but I really would prefer getting the actuall class rather than the interface when handling the message. I could of course do my own casting and type checking, but in my mind this is even more complex than the situation I was hoping to simplify...

[2016-01-25 10:49] alrz commented on #8115
@gafter That use case is really similar to what [`Block` function](https://reference.wolfram.com/language/ref/Block.html) does in *Mathematica*.
[code]
Then there is no need for temporary variable and explicit `defer` to assign it back. If anything, I would prefer this over `defer` because it really encourages bad design (for resource cleanup).

[2016-01-25 11:09] alekole commented on #7030
Non, this code throw "System.Exeption"

[2016-01-25 11:35] alrz commented on #206
@gafter that means we wouldn't have `abstract sealed` classes as well? (`enum class` aside)

[2016-01-25 11:48] dsaf opened #8150 "Null propagation - do we need extra brackets?"
Works:
[code]

Doesn't work *CS1061	'bool' does not contain a definition for 'GetValueOrDefault'...*:
[code]

Doesn't work *CS0266	Cannot implicitly convert type 'bool?' to 'bool'...*:

[code]

[2016-01-25 11:52] dsaf commented on #8150
http://stackoverflow.com/questions/25666993/c-sharp-null-propagating-operator-conditional-access-expression-if-blocks

This also works:
[code]

[2016-01-25 11:54] dsaf commented on #8150
It feels justified but counterintuitive.

[2016-01-25 12:13] GSPP commented on #206
Maybe pattern matching should have a convenient syntax for exact type matches as well, so that you can match a `Person` exactly even if it really is a `Student`. The syntax for that would require a `GetType()` check as the feature design stands.

(This is not meant as a follow up to the inheritance discussion above. It's an independent thought.)

[2016-01-25 12:26] HaloFour commented on #8150
It's necessary because you need to close the null-propagating expression in order to be able to evaluate it.  Without those parenthesis the compiler treats the call to `GetValueOrDefault()` as a part of the null-propagating expression, where the target is `bool`, not `bool?`, and if `someSampleText` is `null` it will skip the call to `GetValueOrDefault()`.

Note that the following does also work:

[2016-01-25 12:34] DavidArno commented on #206
Leaving aside the nastiness that can occur around subtyping record types, I
believe there is another important reason for not allowing subtyping of
records. Inheritance is widely seen as "a bad thing" these days. It clearly
can't be removed from existing language features, but by preventing
inheritance within completely new features like records, it sends a clear
signal to developers that C# is st

[2016-01-25 12:37] DavidArno commented on #206
@Alireza, we already have abstract sealed classes. C#'s static classes are
implemented as abstract sealed classes within the CLI.

David Arno.

On Mon, Jan 25, 2016 at 11:36 AM, Alireza Habibi <notifications@github.com>
wrote:

[2016-01-25 12:39] alrz commented on #206
@DavidArno @188.

[2016-01-25 12:42] alrz commented on #206
@DavidArno #188.

It's funny that how `abstract sealed` classes are confusing that every time that I said that it's been told to me that they are static classes, gosh.

[2016-01-25 12:51] AnthonyDGreen commented on #8132
Hey Adam!

If I understand you right you'd like to be able to specify some kind of variance modifier at the use site--when you construct the delegate--rather than or in addition to within the definition of the delegate itself. **Is that correct?**

The specific example you've given where you believe this will be useful is in specifying that ByRef parameter in a target method could satisfy a ByVal

[2016-01-25 12:55] DavidArno commented on #206
@Alireza,

I'm happy to be educated on what you mean by the term and how it differs
from abstract sealed classes in C++ and the CLI. Please feel free to
explain.

David Arno.

On Mon, Jan 25, 2016 at 12:42 PM, Alireza Habibi <notifications@github.com>
wrote:

[2016-01-25 13:25] orthoxerox commented on #206
@DavidArno #188

[2016-01-25 13:40] GSPP commented on #206
Inheritance is certainly not a bad thing and not bad practice. It's bad when it's used as a hack and not in compliance with the Liskov Substitution Principle which, despite its fancy name, is intuitive to understand.

Record subtyping adheres to the LSP and is intuitive to understand. Is there any concrete problem with it?

It is true that most classes should be sealed or at least not inherited fr

[2016-01-25 13:55] pdelvo commented on #5362
After some research I think I have some more information. I think the problem is, that [this](https://github.com/dotnet/roslyn/blob/ac49fc47bbcf7ef4d507a410a6c57021f9fb549c/src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs#L815-L818) statement is not true in this case. The BindIdentifier method does not handle the "Color Color" case but it should. I dont have time to look into this furthe

[2016-01-25 14:08] gordanr commented on #206
Thanks Jimmy Bogard's class ValueObject (which implements Equals, GetHashCode, ToString), this piece of code can be used in Domain-driven design for creating immutable value objects.

[code]
As I understand record types, this code can be fully replaced with something like

[code]

As a bonus we get support for pattern matching and with operator.

Could someone **confirm** me what I wrote above. I

[2016-01-25 14:41] aserre opened #8151 "Automatic backing field generation for properties"
Add a special "field" keyword similar to "value" in properties, to auto-generate a backing field of the same type as the property. Only generate the backing field if the keyword is present.

[code]

instead of :

[code]

[2016-01-25 14:42] MgSam commented on #8115
@gafter But that only works if there is no other logic you want to come after the restoration of `this.currentMethodOrLambda`. If there is, then you run the risk of the developer adding that into the `defer` block too, making your method into a confusing mess where the code that runs at the end is written at the top of the method body rather than the bottom. The last thing you want when you're rea

[2016-01-25 14:48] tvsonar opened #8152 "Visual Studio crashes when multiple methods with __arglist is added to a class"
If you add the following (invalid) code to a file in Visual Studio, then the IDE crashes:
[code]
I'm using VS 2015 Update 1.

I reproduced the issue while trying to compile this code with Roslyn. I tried to get all diagnostics from a `Compilation` that only contains this code, and I got the following exception. It seems that the method overload resolution throws.
[code]

[2016-01-25 15:10] HaloFour commented on #8115
@MgSam Agreed.  For the most simple cases that may be suitable, otherwise you end up having to defer multiple operations and be extremely conscious as to the fact that they'll execute backwards lexically.  This task is pretty easily accomplished through `try`/`finally` which, while more verbose, is significantly more structured and easier to follow.

[2016-01-25 15:26] dpoeschl opened #8153 "Change Signature: removing parameter leaves empty line in xml doc comments"
Ported from internal bug 125787
1. paste the following code.  Invoke remove parameter on `Foo`, remove `x`, Apply

[code]

**Expected**: no empty xml doc comment line
**Actual**:

[code]

[2016-01-25 15:48] gordanr commented on #206
Heavily influenced by excellent articles The "Designing with types" series(Scott Wlaschin) and From Primitive Obsession to Domain Modelling (Mark Seemann), in my latest project I made successful experiment with immutable value objects based on Jimmy Bogard's class.

[code]

I suppose that with proposed record types this code can be shorten to

[code]
The question about this proposal is **how to ch

[2016-01-25 16:11] orthoxerox commented on #8022
Looks like someone wrote a Scala macro with a very similar syntax: https://github.com/pelotom/effectful

[2016-01-25 17:07] srivatsn commented on #430
Yes, it is in VS2015. You have to set the <ErrorLog>myLogFile.json</ErrorLog> switch in your project file and that will cause myLogFile.json to be created on a build.

[2016-01-25 17:22] Pilchie commented on #4948
Is this possible to fix without support from the editor?

[2016-01-25 17:25] Pilchie commented on #5009
Is this a dupe of #8048?

[2016-01-25 17:26] HaloFour commented on #8151
This is a dupe of #850 and probably a couple of other proposals.

Note that the documented purpose of auto-implemented properties is to offer a concise syntax when no additional logic is necessary in the accessor methods.  If you need additional logic then you can already accomplish this with the full property syntax.  How many variations of syntax do properties really need?

[2016-01-25 17:29] Pilchie commented on #5578
@kuhlenh is investigating this right now.

[2016-01-25 17:34] Pilchie commented on #5948
@dpoeschl @tmat  - have we actually seen this repro?

[2016-01-25 17:38] Pilchie commented on #6121
@dpoeschl can this be fixed on the Roslyn side or does it require editor changes?  If the latter, is there an issue tracking that work?

[2016-01-25 17:40] Pilchie commented on #6276
@mattwar, I believe @heejaechang is investigating some reports of OOMs.  Can you two talk and see if this would help alleviate that?

[2016-01-25 17:47] Pilchie commented on #6702
The first suggestion is tracked by #4510.  However, your point about recognizing indexers and just passing the value is a great one that we should do.

[2016-01-25 17:51] #4487 closed

[2016-01-25 17:51] #5948 closed

[2016-01-25 17:58] jaredpar commented on #6945
Agree.

[2016-01-25 18:04] laedit commented on #430
Thanks for your answer, but I don't understand: we were talking about an xml file, is that still possible?
For the project file, is it a csproj file or the new json format?
And the "Enable CodeAnalysis on Build" is an option or not at all?

[2016-01-25 18:10] srivatsn commented on #430
No we chose to output the results in the [SARIF Format](https://github.com/sarif-standard/sarif-spec) and not XML. The project file I was referring to is the csproj file.

If you have Roslyn analyzers installed to a project, they get run on build automatically - so the "Enable CodeAnalysis on Build" option doesn't mean much. If one wants to disable codeanalysis on build, they would simply remove t

[2016-01-25 18:21] Vannevelj opened #8154 "Replacing a VariableDeclaratorSyntax with DocumentEditor.ReplaceNode introduces an InvalidCastException"
When trying to replace a `VariableDeclaratorSyntax` node with a modified `VariableDeclaratorSyntax` it throws an exception with message

I discovered the issue by modifying the declarator using `.WithAdditionalAnnotations` but an investigation by @dpoeschl indicated that any sort of modification reproduces the problem.

Below the code to reproduce. Using the commented replacement will throw the ex

[2016-01-25 18:47] MatthieuMEZIL opened #8155 "Nullable and comparison"
`(int?)null >= 0` -> false
`(int?)null <= 0` -> false
`(int?)null == (int?)null` -> true
Fine. But why `(int?)null >= (int?)null` -> false?
I would expect true as == is true.
Is it a bug or a feature?
If it's a feature, I would be curious to know the reason.

[2016-01-25 18:50] dpoeschl commented on #8154
@Vannevelj - Thanks for the report & detailed repro!

We get to http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Workspaces/CodeGeneration/CSharpSyntaxGenerator.cs,3085, and then call SplitAndReplace with a LocalDeclarationStatementSyntax as the `fullDecl`. This returns a list of **declarators**, including the updated declarator with the annotation. So far so good.

But then we call ReplaceR

[2016-01-25 18:54] tmat opened #8156 "Investigate failure to continue during EnC"
VS shows dialog that the session can't continue due to compilation errors, but no compilation errors are shown in error list.

Memory dump:
%internal_share%\public\tomat\Bugs\8156

[2016-01-25 18:55] ManishJayaswal commented on #8064
@amandeep18feb But this would leave the expression tree hanging there for ever?

[2016-01-25 18:57] laedit commented on #430
Ok, thanks for the clarification.
In my csproj I have the analyzers like this:
[code]
Is it there that I need to add a switch?

[2016-01-25 18:59] ManishJayaswal commented on #8046
This looks like a bug.

[2016-01-25 19:00] rchande opened #8157 "Fix FAR wait indicator text"
It says something like "Finding references to 'x'", The "to" should probably be an "of".

[2016-01-25 19:05] ManishJayaswal commented on #7140
Closing this out.

[2016-01-25 19:05] #7140 closed

[2016-01-25 19:10] dpoeschl commented on #8154
Actually, I'm not sure about the Area

[2016-01-25 19:15] kuhlenh opened #8158 "Show recently visited document results at top of 'Navigate To'"
If I am working in a large codebase like Roslyn.sln and I type a common keyword (e.g., "Navigate"), the first results that populate the results list get swept away as more and more results get loaded.

It would be great if the top of my results list had the items I visited recently (via 'Navigate To' or 'Find All References' or 'Go To Def'). Most of the time, this is what I'm looking for anyways..

[2016-01-25 19:18] kuhlenh opened #8159 "Somehow indicate if a result is in a C# or VB file"
For example, if I'm in 'Navigate To' I can't tell if my search results are in a C# or VB file...

[2016-01-25 20:00] alrz commented on #8155
The definition of the nullable monad is that if either side of the operation was null the result is null, no matter what operation it is.

[2016-01-25 20:05] alrz commented on #8151
Dupe of #7614.

[2016-01-25 20:18] heejaechang commented on #7373
addressed by #8102

[2016-01-25 20:19] #7373 closed

[2016-01-25 20:20] pdelvo commented on #5362
I think I found the commit that is causing this problem: https://github.com/dotnet/roslyn/commit/92b896ba This would explain why I saw different results before, probably because of different version of roslyn with and without this change

[2016-01-25 20:30] jaredpar commented on #5362
Thanks for the additional information @pdelvo.

[2016-01-25 20:32] srivatsn opened #8160 "Update supported version in the Nuget packages"
Currently they say .NET Framework 4.5 is supported for all packages whereas that's only true for the compiler packages. Workspaces depend on 4.5.2

https://www.nuget.org/packages/Microsoft.CodeAnalysis/

[2016-01-25 20:50] kuhlenh commented on #7860
Got more info on this. If an extension installed has a “#” in the name, the MEF cache gets corrupted...

[2016-01-25 20:57] kuhlenh opened #8162 "Razor code formats braces incorrectly"
![image](https://cloud.githubusercontent.com/assets/1402694/12564251/15f7d460-c363-11e5-9ad2-55f3dcdc7c38.png)

[2016-01-25 21:19] lorcanmooney commented on #7140
So ... was this fixed?

[2016-01-25 21:24] dpoeschl commented on #5948
I haven't seen or heard of this outside this particular report.

[2016-01-25 21:33] vbcodec opened #8163 "Disable warning 'no Await in Async function""
I have base class with few virtual async functions, and derived classes where overrided function mostly do not use await. All of this creates long list with this warning. Think that no such warning should exist, because there is no way that something can go wrong - producing error. Eventually there should be third category - suggestions. You may change meaning of this warning, by movie it to sugge

[2016-01-25 21:53] AdamSpeight2008 commented on #8132
@AnthonyDGreen

All the types specified in a `Func(Of Tin, TResut)` are `ByVal`. I know of no way of specifying that a parameter is `ByRef`
**Workaround**
Except for I think of defining a new delegate, for me to be able to specify the `ByRef` parameter,

[code]

**Desired**
[code]
The compiler would do some *Type-Fu* and I'd have a  `Func(Of <In> Integer, <InRef> Integer, <Out> Boolean>`. That doe

[2016-01-25 21:54] vbcodec commented on #3654
Think this is unnecessary or should be optional. I like in VB clearly expressed relationships, without 'default meaning', at least in this case. With dozens methods in the class, it is much easier to detect where interface is implemented, than go to interface's definition, check what;s inside, and compare with name inside class.

[2016-01-25 22:04] AdamSpeight2008 opened #8164 "Pseudo-Static Extensions [CLR Support?]"
**Proposal (Rough)**

A `Static Extensions`, extend (add) a static member (not instance members) of an object type,

Could this be supported by having an object that provides them of the (target) object's behalf.

[code]

The CLR / Compiler creates and instance of this class (`StaticExtensionManager`).

1, Does the target object already have a member that matches the signature? Then use that.
2. D

[2016-01-25 22:06] ManishJayaswal commented on #7140
@pnelsonmsft is there an internal debugger bug tracking this work? This is not Roslyn specific issue.

[2016-01-25 22:12] srivatsn commented on #3748
I'm seeing the same behavior described by @dbolkensteyn. Reopening this issue,

[2016-01-25 22:23] TKharaishvili commented on #8163
@vbcodec I believe, you can override the virtual functions without using the async modifier in the overriding functions, just matching the method signature is sufficient.

[2016-01-25 22:25] jaredpar commented on #7907
This is not actually a functionality bug.  Crossgen is complaining because we don't specify the full set of dependencies.  The `-MissingDependenciesOK` flag works around this for now.  Moving the resolution to Update 3.

[2016-01-25 22:26] pnelsonmsft commented on #7140
Yes, this is a bug in the debugger and tracked by internal bug 177107.  It is not fixed yet.

[2016-01-25 22:30] jaredpar commented on #5948
Could this be related to #7111 and #7112?

[2016-01-25 22:43] lorcanmooney commented on #7140
Thanks.

@ManishJayaswal  It would be best to add some small explanation when closing an issue like this, since most of us outsiders don't know the internal workings or division of labour.

[2016-01-25 22:51] HaloFour commented on #8132
There is no type-fu that VB.NET can do to make any of the delegates in the `Func` or `Action` family accept a `ref` or `ByRef` parameter.  Even if the parameter *looked* `ByRef` to the caller, it couldn't be `ByRef` to the callee, and any changes made to the parameter would be lost.  The signature of the delegate is simply different.  The type of `ByVal Integer` is fundamentally different from `By

[2016-01-25 22:54] HaloFour commented on #8164
This is a dupe of #996, I think.  This "proposal" is incredibly incoherent.

[2016-01-25 22:58] nguerrera commented on #3670
@dbolkensteyn The log format is subject to change until version: "1.0" is emitted. This is because the specification for the underlying format is still a draft. There is no way to get the old format when building with more recent bits (as the Roslyn itself does). You will ultimately want to use the SARIF SDK (https://github.com/Microsoft/sarif-sdk) to read these files, but no matter what, you will

[2016-01-25 23:19] srivatsn commented on #7766
#6324 is tracking a proposal for an API that would let you share state like this.

#3797 is tracking the work to expose an API that would let an extension do some analysis at the workspace layer (and hence have access to Document\Project\Solution) level. Those analyzers would only run in VS and not at the commandline since the compiler doesn't know anything beyond a project.

[2016-01-25 23:21] AdamSpeight2008 commented on #8164
@HaloFour #996 is a suggestion, this a possible implementation proposal,

[2016-01-25 23:22] srivatsn commented on #8144
As mentioned in #7766, since analyzers are a compiler concept finding implementations across projects is not feasible in an analyzer. I think @jmarolf's suggestion was about providing such an API at the workspace layer so that if we have analyzers that can work at the workspaces level (#3797) then such an API could be used.

[2016-01-25 23:25] AdamSpeight2008 commented on #8132
Wasn't the point of `Func<T>` to reduce the number of custom delegates?

[2016-01-25 23:38] dpoeschl opened #8168 "Roslyn Compilers VSIX does not deploy props file to hive"
/cc: @agocke @jasonmalinowski @jmarolf

I cleaned all my hives, built Roslyn, and the designtime builds in RoslynDev fail with the following (causing all files to open in Misc Files):

[code]

Note: The ROSLYN COMPILERS\42.42.42.42 directory doesn't have a props file.

[2016-01-25 23:39] AdamSpeight2008 commented on #8163
You could disable the warning.
[code]

[2016-01-25 23:42] HaloFour commented on #8164
@AdamSpeight2008 I'll wait until it even remotely resembles one, then.  So far what little there is makes no sense yet manages to be much more complicated than it should ever need to be.

[2016-01-25 23:46] HaloFour commented on #8132
To reduce the number of custom delegates in most cases.  Most methods don't need `ref` parameters.  If you need something special-purpose, such as this, that's why you're free to define your own delegate types at will, and still enjoy all of the language support such as lambdas.

[2016-01-25 23:49] paulomorgado commented on #8115
I'm sorry @gafter, but I'm still failing to see the value of this proposal.

[2016-01-25 23:54] heejaechang opened #8169 "diagnostic engine not working when vsix and nuget analyzers are installed at the same time"
I spent some time but couldn't pin point the root cause yet. I might need help from @mavasani for it. basically, when vsix based analyzers and nuget based analyzers are installed on same VS, some analyzers looks like completely not being called.

I will work with @mavasani once he cames back.

[2016-01-25 23:56] heejaechang commented on #8169
so far what I think I know is that, IDE side, it discovered the analyzer fine, but the driver seems not generating right events for it and completely skip it (not even call initialize method)

[2016-01-26 00:01] jamesqo commented on #8130
@techman2553 I'm not convinced, the whole point of this proposal was to eliminate the boilerplate and the need for a state variable. Your suggestion seems to just move it to a different place (inside the foreach loop).

@GeirGrusom Your solution is good, but there's still a need to write out `Select(IndexedElement<T>.Map)` every time you want the index, which aside from being repetitive can create

[2016-01-26 00:15] jamesqo commented on #8130
The general consensus so far seems to be "we don't need this." If we choose not to go ahead with this proposal, I think we should reconsider the [earlier suggestion](https://github.com/dotnet/roslyn/issues/8130#issuecomment-174313609) about using the new destructuring syntax in loops. That would allow us to do something like this:

[code]

Although it's definitely a bit more verbose than my propos

[2016-01-26 00:19] agocke commented on #6017
This is the Microsoft.CodeAnalysis.BuildTask.Portable package added in #7174

[2016-01-26 00:19] #6017 closed

[2016-01-26 00:22] diryboy commented on #8115
What is the order of multiple defer blocks, and what if exceptions throw in the middle?

[2016-01-26 00:23] #8132 closed

[2016-01-26 00:37] heejaechang commented on #6276
This is memory consumption by a solution with 2 default c# console projects with default references.

[cid:image001.png@01D1578E.B1DA95C0]

Given the size of memory consumption by symbols and compilation, it would be nice if we can unload as much as unnecessary compilations (and dll references) from memory.

Current p2p reference is too aggressive, and blindly make live in memory without actual  b

[2016-01-26 00:38] heejaechang commented on #6276
![image](https://cloud.githubusercontent.com/assets/1333179/12569267/0942235a-c382-11e5-99f4-4cd365a21294.png)

[2016-01-26 00:38] HaloFour commented on #8115
@diryboy If it were to be implemented as it is in Swift, the following C# code:

[code]

would produce the following output:

[code]

[2016-01-26 00:54] heejaechang commented on #6276
@jaredpar can we do #6274 sooner so that IDE can unload a lot of compilation (and its dll references from memory)? for example, vs with Roslyn (open) with 1 file opened from csharp vs test project causes us to load over 100 compilations. we probably can reduce a lot of them with the issue implemented.

[2016-01-26 00:54] alrz commented on #8115
It's like a `finally` block in the middle of nowhere so why not reusing `finally` instead of `defer`. But when I think how messy it can get I tremble.

[2016-01-26 00:59] ManishJayaswal commented on #7140
@lorcanmooney yes fair point. I should have added a comment stating that.

[2016-01-26 01:08] heejaechang opened #8172 "look at memory consumption by SymbolTreeInfo and see whether it can be reduced."
I just took snapshot of Roslyn (open) in vs for something else, and saw this.

![image](https://cloud.githubusercontent.com/assets/1333179/12569725/409e3dda-c386-11e5-8619-9fd09a027156.png)

it looks like top 2 entry consumes about 100MB memory.

[2016-01-26 01:12] heejaechang commented on #6276
another data point. more than half of compilation seems made alive by p2p reference.

![image](https://cloud.githubusercontent.com/assets/1333179/12569779/c076cdc4-c386-11e5-9016-4d7d55dde7d8.png)

[2016-01-26 01:15] jaredpar commented on #6276
If you all want to persue this for update 2 we can move the compiler side back.

[2016-01-26 01:34] amcasey opened #8174 "ObjectDisplay should take a CultureInfo when formatting DateTime objects"
Missed in https://github.com/dotnet/roslyn/commit/d9bc2bb3ca35aca0b8769fb62beb2ac21c474a2a

[2016-01-26 02:01] CyrusNajmabadi opened #8178 "Crash in diagnostics analyzer"
Was editing in roslyn when i got this:

[code]

[2016-01-26 02:15] CyrusNajmabadi commented on #6276
This sounds nice.  However, i'm concerned about two things.
1. that this may trade off memory for churn.  So we release the compilation.  Then the compiler needs it immediately, and it gets regenerated expensively.
2. This won't be effective.   Even if we weakly hold onto compilations, the compilations will still stay around because of symbols that are help by the project's compilation.  i.e. if w

[2016-01-26 02:19] CyrusNajmabadi commented on #8172
SymbolTreeInfo holds onto the BKTree.  So these values shoudln't be summed.

These are the indices used for add-using.  For something the size of Roslyn, these sizes do not surprise me.

[2016-01-26 02:22] mattwar commented on #6276
How are you going to make compilation references lazy?  You would have to make them re/construct themselves in a synchronous code path.  Wouldn't this defeat the purpose of the async API's in the workspace?

[2016-01-26 02:23] heejaechang commented on #6276
once we have this ability, proposal was making background compiler to not only hold onto compilations that are directly related to opened files, but its direct p2p reference compilations.

any indirect compilations that are used by symbols in direct p2p reference compilation will make sure those to stay alive in memory. so all those compilations that are actually never used in compilation in opene

[2016-01-26 02:28] heejaechang commented on #6276
@mattwar I think you are talking about getting syntaxtree being async. but those are already when called from compiler side, we do those synchronously. so we can just treat it as same effect?

and I think it will be really very rarely happen.

[2016-01-26 02:50] diryboy commented on #8115
@HaloFour Any method call within defer block could throw. Any code could throw before defer blocks get a chance to execute. The example code is a good example of writing code backwards without any good reason.

To address the org -> current -> org property change, if to introduce language support, IMO it's better to introduce some feature that could express that one off. For example

[code]

[2016-01-26 02:59] HaloFour commented on #8115
@diryboy

Swift is a lot stricter about exceptions than C# and doesn't permit calling functions that declare that they throw exceptions from within a `defer` block.  As far as I can tell if a function were to fail unexpectedly, such as attempting to forcibly deference a `nil`, that's a fatal situation and the entire program stops.  If the method throws outside of the `defer` blocks then those bloc

[2016-01-26 03:09] Pilchie commented on #8077
Looks like we just hit this again in #8176:  http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/3124/

[2016-01-26 03:13] davkean commented on #8077
I don't trust that build or the changes it attempted to build with - it says that it the PR had already been merged: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/3124/consoleFull#-5668148229d2d7e4c-c23a-4646-ab1a-afaa25e9af32.

[2016-01-26 03:27] davkean commented on #8077
Okay, I looked at this, this is a little confusioning, but it looks like GitHub/pull request builder got confused when you have two PRs out with the same commit. That build you pointed to actually ran against https://github.com/dotnet/roslyn/pull/8177, _after_ it had merged in. Because there's was conflicts, it didn't merge and attempted to ran against whatever Jason's head was, which did not incl

[2016-01-26 04:30] diryboy commented on #8115
@HaloFour

Thanks for sharing.

Me neither.

[2016-01-26 04:48] #8010 closed

[2016-01-26 05:16] dpoeschl commented on #8118
Yes, but if the user doesn't know that Inline Rename will add it for them, they might be hesitant to change the identifier to "int" for fear of messing things up.

[2016-01-26 05:28] CyrusNajmabadi commented on #8172
Note: it's potentially possible we could get rid of the quick map inside SymbolTreeInfo and instead just use the BKTree instead.  If you search the BKTree with a tolerance of 0, then you get the same results that you would have if you searched the rest of the SymbolTreeInfo.  I'd be happy to try this out tomorrow.

[2016-01-26 06:03] RichiCoder1 commented on #8130
Correct me if I'm wrong, but wouldn't it be:
[code]

[2016-01-26 08:08] dbolkensteyn commented on #3670
Thanks @nguerrera - indeed I've realized that Roslyn is compiled itself with a previous Rolsyn milestone C# compiler, on which it depends through NuGet (it initially was surpising to me to see a different format only for Rolyn) - https://github.com/dotnet/roslyn/blob/98447e47aedfb415827ad47cad66582f05780aeb/build/ToolsetPackages/project.json#L6

I've created a ticket on the SonarQube C# Plugin to

[2016-01-26 09:35] paulomorgado commented on #8115
@HaloFour, shouldn't the code be:

    static void Main() {
        Console.WriteLine("Hello");
        defer {
            Console.WriteLine("Foo");
        }
        defer {
            Console.WriteLine("Bar");
        }
        defer {
            Console.WriteLine("Baz");
        }
        Console.WriteLine("World");
    }

[2016-01-26 11:22] alrz commented on #8130
@RichiCoder1 You can't use patterns in `foreach`.

[2016-01-26 12:17] alrz commented on #8115
@HaloFour

Exactly. They probably chose this pattern to avoid repeating a parameter in every function call and ended up with this.

[2016-01-26 12:22] HaloFour commented on #8115
@paulomorgado Ah yeah, copypasta fail.  I'll update.

[2016-01-26 15:23] jakubsuchybio opened #8180 "ObjectInitializerCodeFixProvider crashes and therefore BatchFixAllProvider crashes too"
Hi.
When I wanted to resolve aprox. 60 Warnings via BatchFixAllProvider of CC0008, I encountered crash.
So I started to make it manually and I found one, that is crashing ObjectInitializerCodeFixProvider and I think that was a reason for BatchFixAllProvider crashes.
Here is the snippet:
[code]
Hope it helps to solve these crashes, regards.

Edit: And I am sorry I had opened more Github Projects an

[2016-01-26 15:50] Eyas opened #8181 "Proposal: Guard statement in C#"
## Background

Swift has a guard statement that can be very valuable in writing code that is easy to reason about. See [Swift Guard Statement - why you should use it](http://ericcerney.com/swift-guard-statement/).
## Problem

If we have a function `Foo` that takes an integer that must be positive (`> 0`), we can write that as:

[code]
## Proposed Solution: `guard` statements

[code]
## Benefits

T

[2016-01-26 16:11] alrz commented on #8181
Also check out #119 and for more complicated scenarios #6400 is your friend.

[2016-01-26 16:15] MgSam commented on #2136
@MadsTorgersen Will there be any more design notes forthcoming? It's been many months since the community has had any updates on the shape of C# 7.0.

[2016-01-26 16:23] Eyas commented on #8181
@alrz right.

While I like contract I think this is quite different from #119: the `guard` block could result in an exception thrown for an invalid argument, but could also include non-errored handling of edge cases. E.g.:

[code]

The `else` clause in #6400 is very close to what we want, but:
1. We want to check on `boolean-expression` rather than `pattern`.
2. The conditions we check for can spa

[2016-01-26 16:26] jmarolf commented on #8180
[ObjectInitializerCodeFixProvider](https://github.com/code-cracker/code-cracker/blob/master/src/CSharp/CodeCracker/Style/ObjectInitializerCodeFixProvider.cs#L24) is a code fix offered by [code cracker](https://github.com/code-cracker) Looks like this has already been [filed over there](https://github.com/code-cracker/code-cracker/issues/676).  Closing this issue as this looks to be an exception or

[2016-01-26 16:26] #8180 closed

[2016-01-26 17:03] mburbea commented on #8181
And what's wrong with
[code]

It handles your case. I don't find that `unless` or `guard` Adds a lot of value to the language. It adds another way to do the exact same thing, and then developers will have to learn new syntax, and have another form to worry about when reading code.

[2016-01-26 17:05] LBensman commented on #4224
Please bring CDW back.  Peek function is not quite the same as CDW and the use case is different.  I've been using CDW for awhile and feel like my right arm was just cut off.

Moves like these are exactly why (well, one of the reasons) I turn off telemetry reporting - what I find convenient to use for my coding style or approach is not necessarily right one for others and vice versa.  Loosing feat

[2016-01-26 17:14] Eyas commented on #8181
@mburbea This is what I explained in the "Problem" section, the main issue with the `if (!(...)) {` is that the compiler doesn't guarantee that the embedded statement after the `if`-guard terminates. So I can do something like:

[code]

So yes, benefits are:
1. Checking for the positive condition (`guard (b > 0) else ...`) is "pretty" syntactic sugar
2. Compiler verifies that the `else` clause wil

[2016-01-26 17:16] Pilchie commented on #8126
This is a duplicate of #7291.

[2016-01-26 17:16] #8126 closed

[2016-01-26 17:23] Pilchie commented on #8142
We think the right thing here is to eventually generate conflicts, and we don't think it's worth tracking this dialog as a stop-gap.

[2016-01-26 17:23] #8142 closed

[2016-01-26 17:29] Pilchie commented on #8144
We do NOT currently have this API to make public at the workspace layer.

In our design discussions, the way we would approach implementing something like this is by reversing it and having your analyzer look at all method invocations, instead of looking at method declarations.

[2016-01-26 17:29] #8144 closed

[2016-01-26 17:31] #7766 closed

[2016-01-26 17:32] davkean opened #8183 "Revisit suppressed code analysis warnings in Microsoft.VisualStudio.AppDesigner"
To port the source code for Microsoft.VisualStudio.AppDesigner and Microsoft.VisualStudio.Editors, we've needed to baseline some code analysis warnings so that we could check in:

[code]

We should revisit these, and investigate if we want to fix them.

[2016-01-26 17:34] Pilchie commented on #8158
@kuhlenh Totally agree, but I think this is a core editor request, not something we can solve in Roslyn.  Tagging @markw-t and @olegtk

[2016-01-26 17:34] #8158 closed

[2016-01-26 17:36] Pilchie commented on #8159
Tagging @markw-t and @olegtk.

@kuhlenh any ideas on what this might look like?  It's already distinguished for filename matches, but maybe we could put a small glyph to the right of the project name with the project's glyph?

[2016-01-26 17:37] #8003 closed

[2016-01-26 17:38] Pilchie commented on #8159
Still, This would require support from the editor APIs.  Please file against the editor team.

[2016-01-26 17:40] Pilchie commented on #8162
I know I told you to file this on Roslyn, but `style` sections are not actually handled by us - only the ones that end up with C# code in them.  Can you file against ASP.NET instead?

[2016-01-26 17:40] gafter commented on #8013
You can write an analyzer to warn about this sort of thing, but we cannot and will not make such a breaking change in the language.

[2016-01-26 17:40] #8162 closed

[2016-01-26 17:41] Pilchie commented on #8172
Please take a look and see if we should do anything here.

[2016-01-26 17:41] #8159 closed

[2016-01-26 17:43] steffenloesch commented on #8144
Thanks for the feedback!

Are there any plans to expose an API like that, possibly with some notion of VS-Analyzer? It seems counter-intuitive that something that is very easy to do interactively with VS, is very hard to do with an Analyzer.

@Pilchie , can you please elaborate some more about the 'reverse' approach. I don't quite understand yet what you mean exactly. How would that apply to my 'g

[2016-01-26 17:44] gafter commented on #8021
This is a dup of #154.

[2016-01-26 17:47] gafter commented on #8022
See also #5961

[2016-01-26 17:49] #8076 closed

[2016-01-26 17:50] gafter commented on #8097
We cannot "fix" this issue - it would be a breaking change. There is also no reasonable way to fix it, as the conversion from an interpolated string literal to `string` is an identity conversion.

[2016-01-26 17:50] #8097 closed

[2016-01-26 17:51] gafter commented on #8104
@marcelodeaguiar We invite you to write an analyzer to help diagnose this.

[2016-01-26 17:57] #8150 closed

[2016-01-26 17:57] #8151 closed

[2016-01-26 18:16] CyrusNajmabadi commented on #8172
I don't see any issue here.  This seems reasonable for a project the size of Roslyn.

[2016-01-26 18:27] Pilchie commented on #8144
I'm fine with the notion of adding a Workspaces-layer data API for Go To Implementation (cc @jasonmalinowski about that).  However, I'm loathe to introduce the concept of workspace analyzers that know about multiple projects, since I think a big part of the value of analyzers is their ability to travel with compilation to CI servers, etc.

From you description above here though, it doesn't really

[2016-01-26 19:13] #7983 closed

[2016-01-26 19:26] balajikris commented on #2025
I couldn't repro this locally when i was testing something similar, please see if this reproes before starting on a fix. /cc: @kuhlenh

[2016-01-26 19:36] heejaechang commented on #8172
@CyrusNajmabadi @KevinH-MS @Pilchie if you guys think the memory size is okay, then just close the bug. added @KevinH-MS since this is VM increase, so he probably need to get exception for RI.

[2016-01-26 19:37] heejaechang commented on #8172
@rchande Ravi, this might be the cause of VM you are looking for, just for FYI. it might not have affected RPS at all.

[2016-01-26 19:40] CyrusNajmabadi commented on #8172
Adding 30mb to be able to fuzzy search all of Roslyn (both the source as well as all metadata) is in line with my expectations and seems reasonable to me.

[2016-01-26 19:45] heejaechang commented on #8172
@CyrusNajmabadi sure, i am not saying it is too much added or not, I simply opened the bug since they were top 2 and exclusive memory is 70MB. regardless it is new thing added or something always has been existed, they are still top 2 memory consumer.

the reason I mentioned RPS was I happen to got email about VM increase in Roslyn for RI. might or might not related like I said. since VM increase

[2016-01-26 19:46] CyrusNajmabadi commented on #8172
Ok.  So what would you like to be done with this bug?

[2016-01-26 19:48] heejaechang commented on #8172
@CyrusNajmabadi if ide team thinks the memory consumed is expected and perf team is okay with it (since they need to deal with RPS. by the way, I am not in perf team), just close the bug.

[2016-01-26 20:04] steffenloesch commented on #8144
Thanks for the additional explanation, @Pilchie . Your're right with that's the kind of thing I'm looking for. I thought too that your approach described is what I have to resort to. I was hoping that the result of https://github.com/dotnet/roslyn/issues/6324 would help me with the file access. The advantage of that approach is hopefully that it's performant.

I also agree that being able to run a

[2016-01-26 20:26] HaloFour commented on #8181
@Eyas

#6400 does handle that, `else` must `throw` or `return`.

[2016-01-26 20:33] HaloFour commented on #8181
I will say that the one reason that I dislike this and #119 is that it doesn't offer any proposal for metadata attached to the method to declare such constraints.  Handling illegal arguments is one thing, preventing them from happening is significantly more.

[2016-01-26 20:42] Eyas commented on #8181
@HaloFour See my examples in the comment above:

1. the `guard` clause does not constrain parameters or variables passed, but rather provides a guarantee on these variables _after_ the statement. The `else` clause can simply return (see `fib` example). This is valuable as-is, and is orthogonal to annotating the "type" of a function or scope.
  - I dislike #119 because it actually defines valid and

[2016-01-26 20:47] HaloFour commented on #8181
@Eyas You're right.  I think after the `defer` proposal I was looking for a fight.  :wink:

[2016-01-26 20:49] alrz commented on #8181
@HaloFour Swift FTW :amusement:

[2016-01-26 21:07] michaelcfanning commented on #3670
@dbolkensteyn, we'll be glad to review your SARIF format, if you'd like. we have a vscode extension that provides for validation against the externally published JSON schema. we also have an experimental VS-integrated SARIF viewer that will populate the error list from the file, might also be useful. feel free to ping me directly on this if you'd like. @lgolding, fyi.

[2016-01-26 21:09] jasonmalinowski opened #8186 "Build task shouldn't eat exceptions without logging in InitializeHostCompiler"
Both the Csc and Vbc build tasks have a method called `InitializeHostCompiler` that does what it sounds like. This method eats all exceptions without logging them. As a part of the investigation that led up to #8177, the build task was throwing an exception, swallowing it, and then failing the design time build with no further explanation why. The catch block in InitializeHostCompiler should log t

[2016-01-26 21:12] TyOverby commented on #7689
Looks like this is a problem with jitting again.

There are a few binaries that we don't own that aren't included in this summary.

# NEW

Binary | JitTime msec
----------|-----------------
TOTAL | 8,454.8
C:\Program Files (x86)\MSBuild\14.0\Bin\Microsoft.CodeAnalysis.VisualBasic.dll | 3,479.6
C:\Program Files (x86)\MSBuild\14.0\Bin\Microsoft.CodeAnalysis.dll | 1,730.2
C:\Program Files (x86)\MSBui

[2016-01-26 21:20] alrz commented on #8131
@gafter Can experimental/optional features be enabled by assembly attributes rather than compiler flags?

[2016-01-26 21:33] TyOverby commented on #7689
Looking at the traces anyway, it seems like we're spending more time in MSBuild, but there is less CPU activity going on while that program is running.

[2016-01-26 21:43] msJohnHamby opened #8187 "VB MemberSemanticModel and InitializerSemanticModel track only the first field symbol for field declarations with As New"
For VB field declarations of the form:
    Private F1, F2 As New T()
InitializerSemanticModel, with help from MemberSemanticModel, loses track of the symbol for F2 and creates a field initialization bound node with only the symbol for F1. Symbols for both F1 and F2 should be included.

The assumption that a given initializer applies to only one symbol seems pretty well baked into the semantic mode

[2016-01-26 21:51] ManishJayaswal commented on #6579
@profix898 Can you check what happens with released packages?

[2016-01-26 21:55] alrz commented on #6877
If we unify nullables, which help of higher kinded types I think we can implement generic LINQ operations for nullables and utilize it for `let`.

Besides, although we have nullable references, `T?` meaning two things, depending on the type is awful.

[2016-01-26 21:58] ManishJayaswal commented on #6441
@genlu Dupe of #8121? If yes, then please close one of them.

[2016-01-26 21:58] jdh30 commented on #206
I just want to agree with jonschoning here. Static checking is the elephant in the room: one of the major benefits of pattern matching when done correctly.

[2016-01-26 22:02] paulvanbrenk opened #8188 "Publish Nuget package for Microsoft.CodeAnalysis.EditorFeatures"
TypeScript has a dependency on the Microsoft.CodeAnalysis.EditorFeatures,and having this published on NuGet would significantly simplify our development process.

(As in we would no longer have to publish ourselves in a TypeScrip dev package).

Discussed with @Pilchie, @DustinCampbell, and @CyrusNajmabadi

[2016-01-26 22:02] ManishJayaswal commented on #6226
@JoshVarty - Pinging again to see if this is still an issue with update1.

[2016-01-26 22:05] jasonmalinowski commented on #6840
Now that we're tracking NuGet bugs over in the NuGet GitHub org, we'll let NuGet/Home#1814 be the primary bug and this a dupe.

[2016-01-26 22:05] #6840 closed

[2016-01-26 22:06] pdelvo commented on #5528
I think this issue can be closed

[2016-01-26 22:19] #5607 closed

[2016-01-26 22:22] balajikris commented on #5607
@ljw1004 : I've fixed a class of bugs where typingover fails if the parenthesis occurs after a numeric literal. If you happen to see other cases, please let me know and/or file a bug. thanks.

[2016-01-26 22:33] JoshVarty commented on #6226
Sorry for the slow response. I can no longer repro, so it looks like this particular issue was fixed. Thanks guys! :)

[2016-01-26 22:33] #6226 closed

[2016-01-26 22:41] #5528 closed

[2016-01-26 22:56] jasonmalinowski commented on #3351
I've verified internal bug 162818.

[2016-01-26 23:52] AceHack commented on #8097
This is a big hole in the design then, it makes this feature must less useful.  That combined with the fact that the default is Current Culture makes this very only useful in very niche situation. :(

[2016-01-26 23:58] basoundr opened #8189 "C# Completion List not listing types from VB runtime assembly"
[code]

I am expecting to see the public Type StandardModuleAttribute to be listed in the completion list but it is not listed. But I see the type binding if I happen to type the whole name(StandardModuleAttribute ).

[2016-01-27 00:21] TyOverby commented on #3240
@agocke Is there a reason that this catch https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Compilation/Compilation.cs#L1922 doesn't have a `return false`.

[2016-01-27 00:25] yaakov-h opened #8190 "Roslyn emits invalid Nullable, Nullable<string>."
Using the following test case:

[code]

Expected results:
* Program writes "abcdef" to standard output
* Program exits with code 0.

Actual results:
* `TypeLoadException` at runtime:
[code]

IL of `Program.Main`, as generated by Visual Studio 2015 (Roslyn 1.1):

[code]

[2016-01-27 00:50] gafter opened #8192 "Use (value) tuples for query translation"
If we add Tuples (#347), we could use them in the translation of linq queries instead of anonymous types.

/cc @VSadov @jaredpar

[2016-01-27 00:55] VSadov commented on #8192
I like the idea.

[2016-01-27 00:55] agocke commented on #3240
@TyOverby I believe https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Compilation/Compilation.cs#L1936 deals with that, but you can debug to verify the code path.

[2016-01-27 01:10] gafter opened #8193 "Produce a tool/flag to help diagnose determinism issues in the compilers"
When users get nondeterministic output from the compiler even though they have specified the /determinism flag, sometimes they would like to know if it was their fault (e.g. some input file changed) or our fault (e.g. a bug in the compiler caused it to produce different output for identical input).

To assist with that we could add a flag to the compiler's command-line that causes the compiler to

[2016-01-27 01:14] gafter commented on #8193
@jaredpar apparently did some of this
https://github.com/jaredpar/roslyn/commit/df11287972390fb0616074d3773addcf2a47fb93#diff-a969f68cd2bc892509eb83bec00d060eR66

[2016-01-27 01:34] ManishJayaswal commented on #4688
@drognanar FYI

[2016-01-27 01:37] alrz opened #8194 "Proposal: switch on System.Type"
When it comes to runtime type comparison, [there are multiple ways to do so](http://blogs.msdn.com/b/vancem/archive/2006/10/01/779503.aspx), it's more cumbersome if you want to do it multiple times with `if else`. it would be really nice if we could literally `switch` on `System.Type` or `System.RuntimeTypeHandle` and compiler choose the fastest way, like using `TypeHandle`.

[code]

[2016-01-27 01:38] dpen2000 commented on #8157
References "to" is fine. See second definition of reference here: http://www.oxforddictionaries.com/definition/english/reference with example: "each chapter should have references to books covering the subject in greater depth"

[2016-01-27 01:40] gafter commented on #8097
Yes, it was *intended* to be very useful only in a very niche situation. It is *supposed* to act like a string for most purposes.

[2016-01-27 01:42] ManishJayaswal commented on #4230
@drognanar is this issue fixed.

[2016-01-27 02:00] ManishJayaswal commented on #2578
@grbd have you tried this on top of VS2015 Update 1 bits?

[2016-01-27 02:07] #1375 closed

[2016-01-27 02:12] ManishJayaswal commented on #549
@cston is there anything we need to do here still? If not then please close.

[2016-01-27 02:19] ManishJayaswal commented on #5776
@tmat is this done?

[2016-01-27 02:26] tmat commented on #5776
No.

[2016-01-27 02:41] Pilchie commented on #8189
Does it have `EditorBrowsableAttribute` on it?

[2016-01-27 03:42] Bill-McC commented on #3654
I would not call it un-necessary. Take an example where you have base classes generated, yet you want to add an interface mapping to the derived classes. The only way to do that would be to override the base methods (if allowed), or to provide a set of stub methods.
So let's say you go down the route of providing stub methods, that link back to the base method. The class now comes polluted with du

[2016-01-27 03:55] mavasani commented on #8178
This is a compiler issue - we seem to be generating a symbol declared event after compilation end event. Cyrus, do you have repro?

@gafter may want to take a look.

[2016-01-27 04:03] davkean commented on #8060
This has been fixed.

[2016-01-27 04:03] #8060 closed

[2016-01-27 04:05] svick commented on #8192
Would this apply only to delegate-based providers (like `IEnumerable<T>`)? Because I think doing that would be a breaking change for expression-based providers (like `IQueryable<T>`).

[2016-01-27 04:07] davkean commented on #7998
This has been resolved.

[2016-01-27 04:07] #7998 closed

[2016-01-27 04:10] davkean commented on #7976
@ManishJayaswal Can you please assign this out? We're still hitting this and it falls under the 48 hour rule.

[2016-01-27 04:21] davkean commented on #7869
@ManishJayaswal Can you please assign this out?

[2016-01-27 04:22] davkean commented on #7826
@drognanar What's the progress on this? This falls under the 48 flaky test rule.

[2016-01-27 04:23] davkean commented on #7825
@brettfo I've not seen any progress on this - and we're still consistently hit this.

[2016-01-27 04:48] davkean commented on #7440
We had another hit of this internally.

[2016-01-27 05:20] ManishJayaswal commented on #7976
@amcasey can you take a look?

[2016-01-27 06:05] davkean commented on #6682
I know you didn't have a repro for this - but I hit this on BasicVisualStudio:

Severity	Code	Description	Project	File	Line	Source	Suppression State
Error	AD0001	Analyzer 'Microsoft.CodeAnalysis.VisualBasic.CodeFixes.SimplifyTypeNames.VisualBasicSimplifyTypeNamesDiagnosticAnalyzer' threw an exception of type 'System.ArgumentNullException' with message 'Value cannot be null.
Parameter name: source'

[2016-01-27 06:23] GeirGrusom commented on #8194
It's planned that you can [switch on type using the `is` operator](https://github.com/dotnet/roslyn/blob/future/docs/features/patterns.md) in C# 7.

I think it will look like this:

[code]

[2016-01-27 06:28] CyrusNajmabadi commented on #8178
Nope.  I was just editing, and poof, down went VS.  Hopefully a watson got sent.

[2016-01-27 06:32] dpoeschl commented on #6752
Related to https://github.com/dotnet/roslyn/issues/6717?

[2016-01-27 06:53] davkean commented on #5729
This looks like a bug in [AbstractEditorFactory](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/AbstractEditorFactory.cs,111), where are supposed to be return VS_E_INCOMPATIBLEDOCDATA when the text buffer is already opened in another incompatible editor. This will cause VS to prompt to close the other editor.

The question is, what is an incompatible editor? Does c

[2016-01-27 07:03] davkean commented on #5729
It also looks like we always prompt to close when opening with the code page editor.

[2016-01-27 07:34] hmahajanHM commented on #4434
Is this fixed? I can still see this bug on VS 2015 Professional Update 1 build 14.0.24720.00

[2016-01-27 08:02] dpoeschl commented on #6682
Reopening.  The fix in #7672 is insufficient in the following case:

**Repro**:
[code]

None of the arguments to ConversionsAreCompatible are null, but `Me.SpeculativeSemanticModel.GetTypeInfo(newExpression).Type` returns Nothing when passed a `NothingLiteralExpression`, which we then pass on to `ClassifyConversion`, causing the failure.

**Stack**:
[code]

[2016-01-27 08:09] dpoeschl commented on #6682
That might explain the huge NFW count /cc: @amcasey @jasonmalinowski @Pilchie @jmarolf

[2016-01-27 09:11] qrli commented on #188
For design 2: I think the syntax worth some more thought.
Currently each subclass has its own accessibility modifier, so it is possible to create some strange case. e.g.:
[code]
It is case meaningful or not? I cannot find a usecase for it. So I think it may be better to enforce a single access modifier for all related classes. E.g. only allow access modifier on class C but not on C_n.

[2016-01-27 09:20] qrli commented on #188
Another question: does Design 2 require C_n classes in the same source file as class C or not?
Its syntax does not enforce this. So it looks like I can have one source file for each class, which is the typically standard way to organize.

[2016-01-27 10:07] reader-man commented on #7179
another way to produce the problem, or it might be another one, is as follows:

open a form in winforms, in the designer
, and open Data sources
, then add a new data source
, and select object, and then navigate the projects and select a class
, and after u close the wizard, it crashes VS 2015

note:
make sure that the class object that you select has property like:
`    Public Property prop2 As

[2016-01-27 10:44] alrz commented on #8194
@GeirGusom That's not what I'm talking about.

[2016-01-27 11:46] alrz commented on #8192
@svick I hope not. If expression trees going to support tuples, I think it still can be done for `Expression<Func<...>>`.

[2016-01-27 12:03] alrz commented on #7445
@AlekseyTs Just to mention, `T?` meaning two things is really awful. The fact that, even we have non-nullable reference types, requiring `where T : class` and `where T : struct` isn't really helping. Couldn't we unify nullables with reference and value types with `Nullable<T>`?

[2016-01-27 12:15] heejaechang opened #8197 "VS debugger crash when try to open this dump"
dump is in [mflang file server]\hechang\ee\minidump.mdmp

there are so many exception happening so not 100% sure what is actual exception that caused VS to go down, but it repro every time with the dump.

[2016-01-27 13:09] alrz commented on #8127
Even without interfaces, I think `extension` syntax is a good alternative for defining extension members.
[code]

[2016-01-27 13:18] thorgeirk11 commented on #7158
Any news on this front?

[2016-01-27 13:18] bkoelman opened #8199 "MAS is missing [Serializable] on type Version"
![image](https://cloud.githubusercontent.com/assets/10324372/12614559/f9aeaa28-c500-11e5-935d-6b88b75b62ec.png)

See also https://github.com/dotnet/roslyn-analyzers/pull/815/files#r50766376

[2016-01-27 13:25] bkoelman commented on #8199
Duplicate of #3898

[2016-01-27 13:25] #8199 closed

[2016-01-27 14:13] tvsonar opened #8200 "New line handling changed in Version 1.2"
In version 1.0 the below code produced `lines1 == lines2 == 3`, while in 1.2 an exception is thrown in the last line. It seems like a super special corner case, but it introduces a breaking change in 1.2.

[code]

Exception details:
[code]

This change in behavior was probably introduced in https://github.com/dotnet/roslyn/commit/174bf9450553b5cc45393f0462badebdf2712753, in `ParseLineStarts()`.

[2016-01-27 14:15] HaloFour commented on #8127
@alrz

Maybe, but we already have a syntax for extension methods.  Also, if written like an instance method it might be even less clear that the `this` argument can be `null`.  Not that this is particularly obvious now.

[2016-01-27 14:23] alrz commented on #8127
@HaloFour Currently, I don't know how extension properties would look like, because there is no way to define `this T self` on properties! Besides, with this we get more coherent extension members around types. And as for your argument about nulls, I think we are making progress to not fall into that!

[2016-01-27 14:33] HaloFour commented on #8127
@alrz

Yes, we already have a proposal covering extension properties (and other things):  #112  That's not related to some kind of "extension implementation" though so it doesn't seem particularly related to this proposal.

Sometimes this is quite intentional, but indeed #227 would at least be able to warn when it's not.  Either way since extension methods are static and not invoked via `callvirt`

[2016-01-27 14:39] alrz commented on #8127
@HaloFour Yes it's not particularly related but I wanted a syntax to cover both cases and be consistent with C# overall (`implement` is not). Also, [from SO](http://stackoverflow.com/a/5055086):

So there is no CLR enforcement. Technically, you should check `this` for `null`. I'm just sayin.

[2016-01-27 14:42] HaloFour commented on #8127
@alrz

Technically, yes.  You never know what language might be calling your assembly.  And #227 will do nothing to help that.  :smile:

[2016-01-27 15:24] orthoxerox commented on #8194
Well, it would be nice if types were first-class citizens, but that would require CLR support, I think.

[2016-01-27 15:27] alrz commented on #8194
@orthoxerox I even suspect that this behavior can be neatly implemented as an extension `is` operator (if that would be possible). So, no CLR support at all.

[2016-01-27 15:29] dpoeschl commented on #6682
**Workaround**: Check this checkbox: Tools | Options | Text Editor | Basic | Code Style | Qualify member access with 'Me'

![image](https://cloud.githubusercontent.com/assets/235241/12618161/958bc780-c4c7-11e5-8372-ce5839970d45.png)

This workaround has two **side-effects** (that I can think of so far):
1. You will no longer get a visual indicator of the superfluous `Me.` or the associated code-fi

[2016-01-27 15:32] svick commented on #8192
@alrz I don't understand, how could you make this change backwards compatible?

For example if you have (nonsensical) query like:

[code]

Then currently the generated code is:

[code]

With this proposal, the generated code would be:

[code]

But current LINQ providers expect the former pattern and I think it's very likely many of them wouldn't work with the latter pattern, at least not without m

[2016-01-27 15:36] BillWagner commented on #206
After @benjamin-hodgson mentioned this at NDC, I started running through a lot of thought exercises on how I would use record types, and if making them sealed would really impact my work.

More and more, I like the idea of record types being sealed. The only use case where I would derive record types from other record types would be when I have a JSON format that might support multiple types upon

[2016-01-27 15:43] alrz commented on #8192
@svick It actually depends on the constructed expression tree,

        IQueryable<Program.Foo> foos = null.AsQueryable<Program.Foo>();
        ParameterExpression parameterExpression = Expression.Parameter(typeof(Program.Foo), "foo");
        ConstructorInfo methodFromHandle = (ConstructorInfo)MethodBase.GetMethodFromHandle(typeof(<>f__AnonymousType0<Program.Foo, string>).GetMethod(".ctor", new T

[2016-01-27 15:46] GSPP commented on #206
Developers can make record types immutable by convention. The language should not be in the business of enforcing code patterns most of the time. It can help and encourage them but disallowing something without technical reason must be a very obviously beneficial decision.

As an example, disallowing await inside of a lock statement is good because that's a mistake 99.999% of the time. In case it'

[2016-01-27 15:56] DavidArno commented on #6505
@SamirHafez,

It's interesting that you ask a very similar question to what I was about to post, save yours is the complete reverse to mind.

I'd argue that (a) given C# 7 will support:

    return p match ( //!
        case Student s when s.Gpa > 3.5 :
            $"Honor Student {s.Name} ({s.Gpa})"
        case Student s :
            $"Student {s.Name} ({s.Gpa})"
        case Teacher t :

[2016-01-27 15:57] alrz commented on #8192
OK, one thing that I can think of is member names, but since `Compile` should also work for expression trees containing tuples, this means that the expression tree should keep tuple item names somewhere (for examination) and compile with the original (`ItemX`), so in that case, I think we can transparently replace anonymous types with `ValueTuple`.

[2016-01-27 16:02] DavidArno commented on #6505
In most of the descriptions of how one might use pattern matching in C# 7, I come across statements like "Suppose I have a small hierarchy of types" and the example then uses a set of types that utilise that much hated by many feature, inheritance.

In none of the examples I've seen so far has there been any mention of discriminated unions. Does anyone know whether C# 7 will only implement a poor-

[2016-01-27 16:11] HaloFour commented on #8194
The CLR is fully capable of handling the logic.  The question is how such a statement should be expanded.  I'd imagine it would produce the same IL as a series of `if`/`else` statements since the IL `switch` opcode only works when the values are a range starting at 0 which the runtime type handle would not be.

[code]

effectively equivalent to:

[code]

[2016-01-27 16:16] alrz commented on #8194
@HaloFour `switch` with pattern-matching already turns to mix of `if`, `else` and `switch` (at least this is what F# does). So I assume this can be done in a similar way.

[2016-01-27 16:19] Pilchie commented on #8189
Indeed it does.  https://github.com/dotnet/corefx/blob/c02d33b18398199f6acc17d375dab154e9a1df66/src/Microsoft.VisualBasic/src/Microsoft/VisualBasic/CompilerServices/StandardModuleAttribute.vb#L6

[2016-01-27 16:20] #8189 closed

[2016-01-27 16:21] mavasani commented on #8187
I haven't looked at SemanticModel code for quite a while now. Probably @AlekseyTs or someone else from compiler team may want to take a look.

[2016-01-27 16:23] alrz commented on #8194
Also, I don't know about `IsEquivalentTo` but comparing `TypeHandle` cause no type load and will be emitted directly to IL (see the link in the opening post).

[2016-01-27 16:27] DavidArno commented on #206
I'm definitely with Bill in thinking sealed records would be a step forward.

I'd accept that this could be made an optional thing though as GSPP
suggests. However if so, it should follow the "invariant by default" route
and thus should be sealed unless explicitly declared not. What would be a
huge mistake would be to miss this opportunity to encourage developers down
a better development route, w

[2016-01-27 16:29] HaloFour commented on #8194
@alrz In IL it's all conditional branch opcodes, unless the condition meets the incredibly narrow requirements to make it work with `switch`.  I assume that ADTs in F# have an incrementing tag field which do meet those requirements.

If `if (typeof(Frob).TypeHandle.Equals(type))` is appreciably more efficient then sure, that's probably what the compiler should emit.

[2016-01-27 16:34] HaloFour commented on #206
A new keyword for a non-sealed type?  No thanks.

I think that records should either be always sealed or always not.  While I think it is valid to take recommended patterns/conventions into account when making that decision I think that the team should largely consider the nature of C# as a whole, where types are not sealed by default.  However, if non-sealed record types also complicate their nat

[2016-01-27 16:45] alrz commented on #206
If records being sealed by default then there would be no way to define `Expression` classes (as a real world example of record-like types) as records to be able to use *recursive-pattern* and `switch` on expression trees, because currently there are some non-sealed expression classes. :disappointment:

[2016-01-27 17:02] GSPP commented on #206
@HaloFour yeah that's smells but it could be a contextual keyword like `partial class`. I think that does very little damage to the surface area of the language. Seems feasible. Maybe `inheritable` or `extensible`?

[2016-01-27 17:07] thomaslevesque commented on #206
Making records always sealed would prevent their use in many legitimate scenarios. It would dramatically reduce the usefulness of that feature. I don't mind if they're sealed by default, as long as there's a way to make them non-sealed.

[2016-01-27 17:15] alrz commented on #206
@GSPP I'd prefer `unsealed` but C# is not `sealed` defaulted overall, it would be really confusing. It ***is*** a good practice to define all classes as sealed explicitly if they are not meant to be inherited from (at that point). But I say, let the developer decide. Changing the default in a single scenario is just bad IMO.

[2016-01-27 17:17] miloush opened #8202 "Add using quick fix incorrectly offered for extension methods with CS1501"
[code]

This generates `CS1501 No overload for method 'Multiply' takes 1 argument`. The quick fix offered is to add `using ConsoleApplication1;` which not only does not solve the problem, but it does not make any semantic difference to the code if I am correct.

Note that if there is only one of the overloads in S, you get CS7036 instead and the fix is not offered.

[2016-01-27 17:34] HaloFour commented on #206
@GSPP

It's not the adding of a new keyword that is the problem, it's what that keyword intends to do.  C# requires no keywords to allow a type to be inheritable.  Adding one just makes for confusion because now you have `public inheritable class Foo { }` which means the exact same thing as `public class Foo { }` but you also have `public inheritable class Foo(string bar);` which means something v

[2016-01-27 17:41] amcasey commented on #7826
@davkean We think there's some sort of race in setting the encoding on the pipe.  We can work around the issue by setting it manually, but @drognanar is doing local experiments to try to determine the root cause.  If getting the test unskipped is a priority, let's just explicitly set the encoding and file a new bug to figure out why that's necessary.

[2016-01-27 17:43] gafter commented on #8131
@alrz I'm not sure I understand your question. The compiler command line is what is used to produce an assembly. Of course for every new feature, we need to make sure we say how it is seen from the point of view of previous language features (i.e. if an assembly generated in the presence of the new language feature is used in an older compiler), but I have not seen any language feature proposed wh

[2016-01-27 17:43] leppie commented on #8190
The problem is somehow caused by the `implicit` conversion to string. Changing it to the following, works correctly:
[code]

[2016-01-27 17:48] gafter commented on #206
@alrz

No, it is orthogonal to that. But those would not be record types.

For that example, the base type, `Expression`, would not be a record, and it would be abstract. The derived classes would all be records, and would be sealed.

[2016-01-27 17:49] gafter commented on #8192
I doubt we would change the way we translate to expression trees. That would not make anybody's life easier.

[2016-01-27 17:49] brettfo commented on #7825
Apologies, I've been working in the dark.  While investigating I found another flaky test and #8185 was part of dealing with that.  I'm still working on this one.

[2016-01-27 17:50] gafter commented on #7158
We're pedaling as fast as we can. As soon as we have something a little more settled, we'll publish it.

[2016-01-27 17:52] alrz commented on #8131
@gafter I'm not talking about backward compatibility, I think assembly attributes would be a more desirable way of turning experimental features on/off (related to issues that I've mentioned above). There is a similar feature in Rust: the `feature` attribute, which is used to turn on unstable features.

[2016-01-27 17:59] svick commented on #8192
@alrz I'm not saying it can't be done, I'm saying it's likely that existing providers wouldn't understand it. In other words, I'm not concerned about creating the expression tree, I'm concerned about reading it.

What I'm saying is that I expect that at least some providers expect anonymous types. And if they see something else, they will not work properly. But I have no idea how common this issue

[2016-01-27 18:00] gafter commented on #8131
@alrz I am against having attributes affect the static semantics of the language. We do that as a last resort.

[2016-01-27 18:04] HaloFour commented on #8131
@gafter I think the one feature where it may make sense to have more granular support is non-nullable reference types.  It could be quite cumbersome to migrate an existing project over to supporting it in one go and it would be nice to be able to migrate individual classes or source files at a time.  I don't know of any other language that narrows the nature of the language, though.

[2016-01-27 18:10] ilexp commented on #8131
@HaloFour I'm not sure it is a good idea to allow disabling / enabling language features at a smaller scope than project / Assembly-level. Things would just get really confusing.

[2016-01-27 18:13] HaloFour commented on #8131
@ilexp For the most part I agree with you.  But I think that one language feature is an exception given that it changes the existing semantics of the language on a massive scale.  I fear that people will simply not adopt the feature because it will be too scary/cumbersome to do so in one fell swoop.

[2016-01-27 18:15] AlekseyTs commented on #8187
@JohnHamby Could you explain what is the negative effect for the consumer of the API? Consider adding a skipped unit-test demonstrating this.

[2016-01-27 18:23] JohnHamby commented on #8187
The symptom is that the IFieldInitializer implementation exposed by an As New field declaration presents only the first declared field in its InitializedFields property. In reviewing the recent PR that added IOperation support for explicitly marking initialized field declarations, @AlekseyTs pointed out the need to present all such fields.

[2016-01-27 18:25] amcasey commented on #7976
Confirmed: that change breaks all but one InteractiveWindow test on my box.  Investigating why.

[2016-01-27 18:27] JohnHamby commented on #7293
Addressed by #8087

[2016-01-27 18:27] #7293 closed

[2016-01-27 18:58] gafter commented on #8131
@HaloFour If you're referring to "nullable reference types", we will use attributes to affect *which warnings the compiler will emit*. It doesn't change the static semantics of the code. This is not turning the feature on or off, but rather controlling which diagnostics it reports.

[2016-01-27 18:59] amcasey commented on #7976
Observation: It works under TestDriven.NET, but not directly under xunit.
Observation: this stack frame seems suspicious if our goal is to use a single AppDomain:
[code]

[2016-01-27 19:03] amcasey commented on #7976
https://xunit.github.io/docs/configuring-with-xml.html: "Note that only desktop runners (and desktop unit tests) can use app domains, so this value will be ignored when used with non-desktop runners or with unit tests that are not targetting the desktop CLR."

[2016-01-27 19:04] amcasey commented on #7976
My mistake: the scripting stuff is portable, but the window stuff is not.

[2016-01-27 19:06] amcasey commented on #7976
This might be the same issue: https://github.com/xunit/xunit/issues/592

[2016-01-27 19:07] balajikris commented on #7768
Also, Automatic brace completion must be turned off, to be able to repro this.

[2016-01-27 19:11] HaloFour commented on #8131
@gafter

For everyone who has `/warnaserror+` enabled it might as well be changing the semantics of the language.  That setting has been used to justify never adding new warnings to the language before.

In any case, someone who enables it on a project and seeing a massive barrage of new warnings (or errors) may be quickly tempted to turn it right back off and leave it off.

[2016-01-27 19:13] alrz commented on #8131
@HaloFour isn't the point that it actually report warnings because you've done something wrong?

[2016-01-27 19:15] gafter commented on #8131
@HaloFour You won't get warnings (or warnings-as-errors) unless you *add* an attribute turning them on. So `/warnaserror+` would not be a problem.

[2016-01-27 19:15] HaloFour commented on #8131
@alrz It wasn't wrong before as far as the compiler was concerned.  I'm not arguing against the usefulness of the feature or the correctness of the diagnostic.

[2016-01-27 19:17] alrz commented on #8131
@HaloFour Then you shouldn't get any warnings.

[2016-01-27 19:19] HaloFour commented on #8131
@gafter Exactly, my only argument is that perhaps said attribute should be more granular than assembly-wide so that people can approach migrating in incremental chunks rather than an all-or-nothing proposition.  Think about how you'd react if you were to turn on said feature and get hit with a wall of warnings.  Think about how those big companies react today when Microsoft fixes a bug or makes a

[2016-01-27 19:21] jasonmalinowski opened #8205 "You can invoke Change Signature on very broken signatures"
1. Copy the broken field declaration `private string Lazy<string> _fullPackagePath;` into a new class.
2. Invoke Change Signature.

_Actual:_ I can actually do that. You get a dialog like this:

![image](https://cloud.githubusercontent.com/assets/201340/12625289/01c519d6-c4e8-11e5-9cee-9535d56fe17c.png)

_Expected:_ I can't invoke the feature when parameters don't even have names.

[2016-01-27 19:21] dpoeschl opened #8206 "Comprehensively test the full set of changes to Add Using"
Some testing was done for https://github.com/dotnet/roslyn/pull/7830, but we should do a full test pass, with a proper test plan, before release. Particularly the many ways of NuGet.

/cc: @CyrusNajmabadi @Pilchie @davkean @jasonmalinowski

[2016-01-27 19:22] MgSam commented on #8131
I think this is awful idea. You don't want different pieces of code that are ostensibly the same language but act differently depending what compiler features are turned on or off. Sounds like a recipe for fragmenting a language beyond recognition; not to mention it would greatly increase the cost of implementing and supporting the features for the compiler team.

This should be handled separately

[2016-01-27 19:23] davkean commented on #8183
Be sure to check GlobalSuppression.cs in each project.

[2016-01-27 19:24] yaakov-h commented on #8190
Any chance this is related to #4132?

[2016-01-27 20:06] leppie commented on #8190
@yaakov-h It does look suspiciously similar :+1:

[2016-01-27 20:52] #7182 closed

[2016-01-27 21:13] grbd commented on #2578
Yep just tried this on the latest VS2015 update 1
it looks like csx files are now recognised under studio. So I'll close this down

[2016-01-27 21:13] #2578 closed

[2016-01-27 22:42] joperezr opened #8210 "Feature request: Support full-signing when running on CoreCLR."
On corefx repo, we started using an Open key to fully sign some of our libraries. This key contains both public and private keys, and can be located [here](https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/Open.snk). This worked fine in Windows with the Full MSBuild and x-plat with Mono MSBuild, but it started failing x-plat once we moved to .Net Core M

[2016-01-27 22:42] joperezr commented on #8210
cc @weshaggard @agocke

[2016-01-27 22:47] agocke commented on #8210
This may be an issue with my snk file parser, I'll take it.

[2016-01-27 22:52] jakubsuchybio opened #8211 "Please consider BatchFixAllProvider more verbose"
Hi.
When I run any changes from code-cracker or any other analyzer via BatchFixAllProvider for the whole solution..
First in the last step it is blocking operation on UI thread of VS so it gives me [Not Responding] and Second could there be some more verbosity? Like:
- Searching solution to apply change: {change description} A of N files searched, found B occurences
- Then there is a preview windo

[2016-01-27 23:29] AlekseyTs opened #8212 "SyntaxNode.FindNode(TextSpan) possibly returns different result on linux and mac"
Look at test add in https://github.com/dotnet/roslyn/pull/8203. When the node of interest is looked up by using span
[code]
All four test are failing on linux/mac, but succeed on windows.

http://dotnet-ci.cloudapp.net/job/roslyn_prtest_lin_dbg_unit32/3160/
[code]

Expected: Tests should behave the same way.

[2016-01-27 23:44] genlu opened #8213 "Add comments to explain the process of adding IOperation interface"
It would be useful to have a comment somewhere explaining what to do when adding a new IOperation interface.

[2016-01-27 23:48] alrz opened #8214 "Proposal: Allow otherwise unresolvable simple names to resolve to a generic type of the same name with inferred type parameters"
I want to propose a name resolution for generic types similar to F#'s, plus a relocation extension which I will discuss further.

Usually a separate non-generic class is solely exists to provide static factory methods for a generic type. With this feature there would be no need for that anymore and we can use the same class to define static factory methods and use it while we take advantage of typ

[2016-01-27 23:55] brettfo commented on #7825
As another follow up, we have a dump of the xunit process as it was hung.  I've posted a question in the xunit slack channel asking them what type would contain the name of the hanging test and until I hear back on that I'll keep poking around in WinDbg to try and find the answer.

[2016-01-28 00:19] yaakov-h commented on #7445
I think this would be a lot more sensible if you could overload based on nullability. e.g.

[code]

I'm not intimately familiar with the runtime and compiler platform, but from the little I do know, I don't think that the current approach would allow for this. Perhaps a `modopt` or `modreq`?

[2016-01-28 03:04] amcasey commented on #7976
Here's a reduced test that reproduces the problem outside of roslyn:
[code]

[2016-01-28 03:21] HaloFour commented on #8214
This seems to be overcomplicated, just to avoid writing a non-generic class in order to surface a cleaner API.  I don't like the idea of relocating the generic type arguments around.  What about nested generic types?  The generic type arguments can be the same name in that case (it is a compiler warning).  Seems like a recipe for odd generic incantations of mixing names, commas and semicolons.

It

[2016-01-28 04:21] genlu commented on #6441
Not a dup of #8121. Will fix both.

[2016-01-28 05:09] davkean commented on #7976
What's the underlying exception?

[2016-01-28 05:16] jasonmalinowski opened #8216 "Roslyn.Compilers.CSharp.Symbol.UnitTests failed on mac due to timeout"
Random failure while running tests for https://github.com/dotnet/roslyn/pull/8096.

Build link: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_mac_dbg_unit32/3099

[2016-01-28 05:43] gafter commented on #6400
This has been folded into the pattern matching spec.

[2016-01-28 05:43] #6400 closed

[2016-01-28 05:44] gafter commented on #5154
This has been folded into the pattern matching spec.

[2016-01-28 05:44] #5154 closed

[2016-01-28 05:44] gafter commented on #5143
This has been folded into the pattern matching spec.

[2016-01-28 05:44] #5143 closed

[2016-01-28 05:49] MAX-POLKOVNIK opened #8217 "Cannot compile PDB on Mono - CS0041: Unexpected error writing debug information -- 'The method or operation is not implemented.'"
There is sample:
[code]

But if I remove pdbs from **compilation.Emit (ms, pdbs)** that will compile successfully.
Running without mono all works.

[2016-01-28 06:24] jods4 commented on #7445
@yaakov-h Maybe we could get away without a new syntax?
`T Concat<T>(T a, T b) where T: string`
Or is that too weird that `Concat` is generic although it only supports a single type?

[2016-01-28 06:32] alrz commented on #8214
@HaloFour

This is actually #2319 with a relaxed context. I'd be happy to restrict this only to what F# offers to keep it simple but it seems without relocation it's a lot less useful. For example, without this, even #952 doesn't offer anything to avoid mentioning the parent class and you'd end up with `Option<int>.None()` and it cannot use type inference at all so also `Option<int>.Some(4);`.

Yo

[2016-01-28 06:49] yaakov-h commented on #7445
@jods4 That sounds like a bastardisation of generics to me, and wouldn't necessarily let you do everything you'd want from nullability overloads.

[2016-01-28 06:53] jods4 commented on #7445
@yaakov-h I agree that it feels a bit wrong.
What do you have in mind RE: _"wouldn't necessarily let you do everything you'd want from nullability overloads"_?

[2016-01-28 06:54] yaakov-h opened #8220 "Inconsistent behaviour regarding nameof(instanceProperty.Property) from static method"
Given the following sample:

[code]

This fails to compile with the following error:

However, Intellisense will happily suggest `Bar` and other options, after typing `nameof(foo.`.

If `foo` is static, this compiles and prints `"Bar"`.

I'd suggest one of the following changes are made:

1. Allow nameof(...) on an instance field/property from a static method
2. Remove the suggestions from Intelli

[2016-01-28 06:56] yaakov-h commented on #7445
@jods4: Assume the following:

[code]

(Assuming the postfix-non-null-cast operator `!` makes it in)

How would you do this with only `T Concat<T>(T a, T b) where T : string`?

[2016-01-28 07:09] jods4 commented on #7445
@yaakov-h Ah I see what you mean. The problem is not the signature but implementing the function.
Varying nullability by generic parameters doesn't play nice.

On the other hand, overloads by nullability are not allowed either, are they? As they would compile to exactly the same IL method?

As long as the CLR doesn't support nullable proper, this is going to be hard APIs to model in C# :disappoint

[2016-01-28 07:11] yaakov-h commented on #7445
@jods4 I was under the impression that the CLR can overload by modopt or modreq (e.g. `const` in C++/CLI), but .NET (C#/VB) doesn't handle this properly.

[2016-01-28 07:11] orthoxerox opened #8221 "With clause in query expressions (support for zip)"
I propose to add a `with` clause to the query expression syntax. This will allow us to zip sequences together using either LINQ syntax.

A query expression with a `with` clause followed by a `select` clause

[code]

is translated into

[code]

A query expression with a `with` clause followed by something other than a `select` clause

[code]

is translated into

[code]

This transformation would ha

[2016-01-28 08:43] leppie commented on #8220
Calling on an instance seems counter-intuitive. `nameof(Foo.Bar)` is better, and the correct way.

[2016-01-28 09:00] yaakov-h commented on #8220
I agree, but Intenseness appears to support calling it on an instance, which makes this confusing. I didn't even know that you could `nameof(thingInScope.Property)`.

[2016-01-28 10:06] drewnoakes commented on #8194
Should this only match exact types? What about derived types? Would `case typeof(object)` catch everything or only `new object()`? Either way it's going to surprise someone somewhere.

[2016-01-28 10:09] alrz commented on #8194
@drewnoakes That would be actually nice but then it will depend on the order and we might lose `TypeHandle` optimization.

[2016-01-28 10:58] AdamSpeight2008 commented on #8194
Or it'll turn it into a dictionary lookup, similar to VB.net's `Select Case`

[2016-01-28 11:33] TonyValenti opened #8222 "Constructor Propagation"
Right now if a base class has a constructor with parameters, all derived classes have to basically reimplement the constructor even if there is no functional change.  If a class does not specify _ANY_ constructors, I want it to automatically "inherit" all of it's bases constructors.  This kind of already happens today with the default constructor but I would like this extended to all constructors.

[2016-01-28 11:55] paulomorgado commented on #8131
@HaloFour,

I think your first assessment was the correct one:

[2016-01-28 12:51] JoeBug opened #8224 "Visual Studio 2015 C# code format issue"
In VS 2015 options under Text Editor > C# > Tabs I set Indenting to Smart and checked option Keep tabs.

Now if I auto-format code, everything is formated as expected.
But the space before a comment is changed to spaces if there were tabs:

[Screenshot](http://i.stack.imgur.com/zM0wx.png)

In previous versions of Visual Studio, tabs stays on auto code formatting.
There seems to be no option to cha

[2016-01-28 13:06] DavidArno commented on #206
Currently, `struct` and `class` types are not sealed by default, but can be sealed. `interface` types cannot be sealed. `enum` types are sealed and cannot be "unsealed".

Clearly the is already variation in whether or not types are sealed in C#. Therefore claims that it would be confusing to make record and arithmetic data (ADT) types sealed by default really comes down to the fact that it's curre

[2016-01-28 13:45] laedit commented on #430
I haven't realize that it was a simple `<ErrorLog>report.json</ErrorLog>`.
Sorry for bothering and thanks for your help! :smiley:

[2016-01-28 14:20] qrli commented on #206
Why not simply use internal constructor instead of `abstract sealed`?

[2016-01-28 14:21] Richiban commented on #206
I, for one, support the idea that records have no part in an object hierarchy except when used in an ADT. In other words: records cannot be inherited and must derive directly from System.Object unless they're to be used in an algebraic data type.

Other than this I think that ADTs are an unrelated subject to that of records.

[2016-01-28 14:45] orthoxerox commented on #206
@qrli less boilerplate code, explicitly closed hierarchy to allow completeness checking in switches.

[2016-01-28 14:59] nathanielcook commented on #5365
I'm not sure if it is appropriate for me to "+1" in this manner, but I just wanted to voice my support for event subscription in the object initializer. This is something I've wanted in C# for quite some time.

[2016-01-28 15:58] tmat commented on #8217
What OS are you running on?

[2016-01-28 16:00] tmat commented on #8217
Also, could you run under the debugger and share a stack trace of the first-chance exception?

[2016-01-28 16:14] kuhlenh opened #8226 "Add keyboard shortcut for "Go To Implementation""
Enable non-mouse users to be more productive by giving them a shortcut key for GoToImplementation.

In previous discussions, we considered using 'CTRL+F12' for this.

[2016-01-28 16:18] HaloFour commented on #8222
For reference, this is the syntax that was added in C++11:

[code]

[2016-01-28 16:24] davkean commented on #8220
I believe this is by design - but I'll let @Pilchie correct me.

IntelliSense specifically handles these cases, to avoid getting in your way. For example, as you are writing that line, you might be planning ahead to make `Main` an instance method, or `foo` a static field, which will make code valid.

[2016-01-28 16:33] alrz commented on #8222
What if I don't want to inherit every constructor? There should be some notation to specify exactly those ctors that you want to inherit, either in the base class or the derived class.

[2016-01-28 17:00] MgSam commented on #8222
@alrz There is- exactly what you have today.

[2016-01-28 17:03] alrz commented on #8222
@MgSam Yep, so this is just a matter of tooling I guess.

[2016-01-28 17:03] bondsbw commented on #8222
@alrz If you want to remove a constructor from the set of inherited constructors, simply fall back to the existing syntax where you specify them all manually.  Including any new constructor signature erases all constructor inheritance.

Otherwise if you just want to alter one constructor from that set, you can include that constructor with the same signature and the rest would inherit.  (Not sure

[2016-01-28 17:12] Pilchie commented on #8211
I definitely agree.  Related to #6601

[2016-01-28 17:17] MadsTorgersen commented on #7445
@yaakov-h @alrz These are indeed downsides to the design. The reason for it is to allow APIs to add nullability annotations while staying binary compatible. Using Nullable<T> specifically would also cause a perf hit: That is a struct with two members, one of which (the bool tracking whether the content is null) would be redundant for reference types, yet expensive to carry around.

[2016-01-28 17:20] Pilchie commented on #8188
@davkean had some interesting points about this that we should discuss further.

[2016-01-28 17:24] Pilchie commented on #8202
Good catch - we should check applicability of the extension methods before offering them.

[2016-01-28 17:26] Pilchie commented on #8205
We should probably not offer Change Signature if the method declaraion (not body) contains syntax errors.

[2016-01-28 17:28] amcasey commented on #7976
It's resolving assemblies differently with the flag set (and missing some).  I have the fuslog diff, if you want.

[2016-01-28 17:32] Pilchie commented on #6601
From #8211, some good suggestions:

[2016-01-28 17:32] Pilchie commented on #8211
Let's track this with #6601

[2016-01-28 17:32] #8211 closed

[2016-01-28 17:35] Pilchie commented on #8220
As @davkean says, in the IDE we generally have a principle that we prefer to show more rather than less.  This allows you to type things as you're thinking of them, even if it isn't in the exact right order, rather than having to back up and correct something somewhere else before IntelliSense will let you proceed.

[2016-01-28 17:35] #8220 closed

[2016-01-28 17:37] Pilchie commented on #8224
You've already looked at some reports of issues like this.  Can you take a look and see if this one is fixed?

[2016-01-28 17:39] dpoeschl commented on #8205
We also let you rename "Lazy"

[2016-01-28 17:41] jods4 commented on #7445
@yaakov-h You're right about `modopt`, it's made for that purpose and it does support overloads. We'll see what the C# team decides to use.

[2016-01-28 17:42] alrz commented on #7445
@MadsTorgersen For binary compatibity I believe an attribute would just work (as it does today if you are working with an analyzer) but for a type like `T?` falling back to that approach makes less sense, what if I want to use a nullable value no matter if it's a struct or class as it is part of my library contract? If non-nullability is going to be first-class and the default having a type for nu

[2016-01-28 17:45] dpoeschl commented on #8205
(emphasis added) Great! I was coming up with all sorts of cases with declaration errors where I wouldn't want to get in the way, but I think restricting the scope to syntax errors will work well.

[2016-01-28 17:58] AlekseyTs commented on #7445
Using modopts will break backward compatibility story. It would mean that, once you annotate types in a library, old clients (previously built consumers of the library) won't be able to use now annotated APIs because modopts change signatures.

[2016-01-28 17:59] gafter commented on #8131
@HaloFour We are actively looking at having the attribute that enables the "nullable reference types" feature more granular. In fact, we're experimenting with that right now. But I don't think I would take from that any general principle for how language features should be controlled.

[2016-01-28 18:06] jods4 commented on #7445
@AlekseyTs
Binary compat at runtime:
I'm not very knowledgeable in modopts implementation details. But since modopts _can_ be ignored by languages that don't understand them, wouldn't that mean that if there is no better overload the runtime should still bind to functions with non-matching modopts, if there is no better overloads? Or is that resolution actually performed and encoded at compile-tim

[2016-01-28 18:07] alrz commented on #7445
@AlekseyTs Couldn't we have both? I mean, If I want to take advantage of non-nullable reference types and don't break backward compat I'd use an attribute, and otherwise I'd use the type `T?`.

[2016-01-28 18:14] ctaggart commented on #7119
What is the process for creating the NuGet zip files (release or CI)? I was trying to figure out how to build all the nupkg files for the release and only made 3 of them:
[code]

I was thinking that `BuildNuGets.csx` was going to build all the NuGet packages. Did I do something wrong?
[code]

[2016-01-28 18:19] HaloFour commented on #8131
@gafter I was poking at the implementation notes and I do see that, an attribute that can be targeted to individual types or methods, etc.  That's exactly what I was looking for.

Otherwise I completely agree, I don't think it makes sense to control most language features like that.  I'm not even sure that it would be that valuable to control language features independently from their version.

[2016-01-28 18:27] AlekseyTs commented on #7445
@jods4 Binary compat: Runtime doesn't do overload resolution, it looks for an exact signature match. Compiler can ignore modopts for the purpose of the analysis, but it has to spit them out in signatures anyway

@alrz Are you saying that anyone going after binary compatibility won't be able to use ```?``` in code, but will have to resort to manually encoding this information in attributes, which b

[2016-01-28 18:28] alrz commented on #8222
![image](https://cloud.githubusercontent.com/assets/3105979/12654630/28023b4c-c60a-11e5-9abf-988a396376c8.png)

[2016-01-28 18:49] alrz commented on #7445
@AlekseyTs Yes, "which becomes rather tricky with arrays and generics" you mean something like array of nullables or nullable array of non-nullables? That seems quite rare (I usually want it all be nullable or non-nullable, so `[Nullable] int[]` would just work), however, we still we can mix those two like `[SomeAttr] int?[]` to also be able to use `?` and remain binary compatible, there are other

[2016-01-28 18:50] alrz commented on #7445
@AlekseyTs Yes, "which becomes rather tricky with arrays and generics" you mean something like array of nullables or nullable array of non-nullables? That seems quite rare (I usually want it all be nullable or non-nullable, so `[Nullable] T[]` would just work), however, we still we can mix those two like `[SomeAttr] T?[]` to also be able to use `?` and remain binary compatible, there are other way

[2016-01-28 18:53] miloush opened #8228 "Autocomplete forces new line"
Forgot to file this separately (#2837)...

Update 1 RTM (24720), relevant settings:
C# > Formatting > Wrapping > Leave block on single line  on  (on by default)
C# > Automatic brace completion  off  (newly on by default)

The following code is expected to stay on the same line.
[code]
But instead it turns into:
[code]
The same with:
[code]

Note that if you cancel the autocomplete suggestions of `

[2016-01-28 18:56] amcasey commented on #7976
@bradwilson, this seems like it might be a limitation of xunit, but I can't tell if it's by design.  Any thoughts?  I have a standalone repro if you'd like to investigate for yourself.

[2016-01-28 19:06] miloush opened #8230 "Missing method generation for delegate arguments when other overload exists"
I believe I already filed or discussed this, but cannot find it...
[code]
Actual: Generate property, field, local-only field, local.
Expected: also method, like in VS2013:

![tmpc3d3 1](https://cloud.githubusercontent.com/assets/10546952/12655673/fdc3d6be-c5f1-11e5-9268-9f483c9e20ed.png)
Declaring dependency properties hits this issue.

[2016-01-28 19:30] CyrusNajmabadi commented on #8224
@JoeBug Can you please provide a repro file (ideally as small as possible) that demonstrates the problem?

[2016-01-28 19:30] mattscheffer opened #8231 "Missing C# code snippets in completion list"
Seeing this in latest vsuml build. Some of the common code snippets appear to be missing in the completion list. For example 'cw' (which is Console.WriteLine(); doesn't appear in the completion list, and you aren't able to complete the snippet by tapping twice. Snippets all appear to be present and working still.

![image](https://cloud.githubusercontent.com/assets/10537189/12656261/26a1dbc0-c5b2-

[2016-01-28 19:31] CyrusNajmabadi commented on #6601
I agree.  The issue blocking this was that the editor dialog was not something we could update from the background thread that we're processing on.  The editor has made the UI updatable from the background, so we can do this now.

[2016-01-28 20:16] balajikris commented on #8228
dupe of #7768 ?

[2016-01-28 20:18] miloush commented on #8228
Yep, apparently my search terms weren't good enough.

[2016-01-28 20:18] #8228 closed

[2016-01-28 20:23] CyrusNajmabadi commented on #6601
However, this will only work on update2 or later once we take on this work.  If we want our code to run downlevel, we'll have to do some sort of detection to know what version of the Editor we're on so we can tell if it's safe to update the dialog from the background.

[2016-01-28 20:26] bradwilson commented on #7976
If it's a dup of the referenced issue above, then there's nothing we can do. Without an app domain, there are a lot of things not under our control (probing path, configuration file, etc.).

[2016-01-28 20:30] jods4 commented on #7445
@AlekseyTs by runtime I meant JIT of course...
Thanks for the explanation, I learned something today: `modopt` is encoded by the compiler at call site and has to match the method signature exactly.
Which makes me wonder: how does a langage like C++ handle this? If a method had a non-`const` param, which is marked `const` later on, assemblies compiled against the old version are binary incompatible

[2016-01-28 20:33] DustinCampbell commented on #7179
Thanks @reader-man -- this should be fixed by this change.

[2016-01-28 20:38] alrz commented on #7445
@jods4 Ok, assuming that non-nullability is the default, when you want to opt out without a breaking change you use the `[Nullable]` attribute, it causes the compiler treat the type as before, so it's binary compatible. And when you use `?` you are actually changing the type so it woudn't be.

For example, if you want nullable types for a function `F`, you just need to add that attribute:
[code]
*

[2016-01-28 20:42] HaloFour commented on #7445
@alrz So, if they're required to use `NullableAttribute` they have to remember that:

[code]

is really

[code]

[2016-01-28 20:45] alrz commented on #7445
@HaloFour No, I said when you use `?` you are changing the type, as @AlekseyTs said, "anyone going after binary compatibility won't be able to use `?` in code, but will have to resort to manually encoding this information in attributes" This is what I meant.

[2016-01-28 20:49] HaloFour commented on #7445
@alrz And my point is that that is the attribute notation someone would have to know in order to manually decorate a type.  I recall `modopt` was researched before (probably more than once) and discarded due to the binary incompatibility problem.  Why is it being brought up again?

[2016-01-28 20:51] alrz commented on #7445
@HaloFour I'm thinking that the `NullableAttribute` woudn't have any arguments, is that wrong?

[2016-01-28 20:51] jasonmalinowski opened #8232 "VisualStudioWorkspace can be disposed"
Right now you can dispose VisualStudioWorkspace as a consumer, which breaks all sorts of things. We should disallow that.

[2016-01-28 20:52] HaloFour commented on #7445
@alrz It does, because that's the only way to encode that generic type arguments are nullable.  It follows the same convention that `dynamic` does now.

[2016-01-28 20:56] alrz commented on #7445
@HaloFour "spaghetti against the wall"
[code]
Then compiler could apply the appropriate CLR attribute to the return type.

This is the only way I can think of to opt out default non-nullability without changing the type. Being able to use `?` without `where T : struct` and `where T : class` is really important to me btw.

[2016-01-28 20:57] HaloFour commented on #7445
@alrz Source only attributes, apart from not existing, would never exist in a compiled assembly.  You'd need a "proper" attribute in order to have the persisted metadata for the compiler to analyze.

[2016-01-28 20:58] alrz commented on #7445
@HaloFour Read the line "Then compiler could apply the appropriate CLR attribute to the return type." then the client don't need to write `Nullable(new bool[] { false, false, false, true })`.

[2016-01-28 21:02] GibbOne commented on #5263
For sure this together with #5325 will be very interesting

[2016-01-28 21:05] HaloFour commented on #7445
@alrz  Oh, I see.  Well, that may work, but requires that source-only attributes actually gets picked up and put ahead of non-nullable references, which would likely push all of this out more than a single release.

[2016-01-28 21:07] alrz commented on #7445
@HaloFour Backward compatibility is usually expensive, I think it totally worth it, because, again, `T?` meaning two things, depending on the type, is really awful.

[2016-01-28 21:14] HaloFour commented on #7445
@alrz I don't see how `modopt` would change that.  You'd still have two different flavors of `?` types, one `Nullable<T>` and the other `modopt T`.  Such change would also represent the first time that a compiler could emit an assembly that would not be compatible with previous versions of the compiler regardless of the targeted framework, I believe.

[2016-01-28 21:23] alrz commented on #7445
@HaloFour Lots of proposed features already depend on the targeted framework, with separate branch of .NET framework itself (.NET Core 1.0) it makes more sense to rethink the design and don't repeat the same mistakes again, non-nullability seems most fundamental among others and it's really important how we start to support it. As for `modopt` I don't mind as long as it's not observable.

[2016-01-28 21:28] HaloFour commented on #7445
@alrz Yes, but they don't depend on the version of the compiler.  I can compile an assembly using Roslyn targeting .NET 2.0 and I can consume it from a project using Visual Studio 2005 without issue.

I've not heard of any mention of Roslyn making hard breaks with the full .NET framework and I seriously doubt that a feature such as this would take a hard dependency on such a thing.  The attribute-

[2016-01-28 21:32] alrz commented on #7445
@HaloFour Generics also introduced to the .NET framework on top of non-generic interfaces e.g. `IEnumerable` you do have to write boilerplate but you don't lose backward compat, I was thinking that the same path can be taken for non-nullable references. That's it.

[2016-01-28 21:40] HaloFour commented on #7445
@alrz Yes, but you could still target .NET 1.1 using C# 2.0, compile an assembly, and consume it using C# 1.x without issue.

Anywho, I get what you're trying to do, but if the team is trying to get this feature into the next release (implied by the "Urgency-Soon" tag) I doubt that it will survive any serious consideration for redesign.  And, as mentioned, `modopt`/`modreq` had already been thrown

[2016-01-28 22:11] jasonmalinowski commented on #3351
Fixed by #8096.

[2016-01-28 22:11] #3351 closed

[2016-01-28 22:13] lorcanmooney commented on #8224
Duplicate of #5873. The last comment from @CyrusNajmabadi in that thread suggests this was an intentional change.

[2016-01-28 22:36] amcasey commented on #7976
@bradwilson if I understand correctly, you're saying that xunit depends on having control over app domains to tweak assembly resolution and setting `xunit.appDomain` to `denied` interferes with that.  Is that right?

@davkean how do we want to proceed if we can't disable appdomain creation?  Add a test that sleeps for 10 seconds to work around the EventListener race?

[2016-01-28 23:19] AlekseyTs opened #8234 "Unexpected value 'QualifiedName' of type 'Microsoft.CodeAnalysis.CSharp.SyntaxKind' is thrown by Binder.GetEventSymbol"
This is a repro for Watson bucket tracked by DevDiv 179982.

[code]

Result:
Test 'Microsoft.CodeAnalysis.CSharp.UnitTests.Semantics.BindingTests.EventAccessInTypeNameContext' failed: Microsoft.CodeAnalysis.ThrowingTraceListener+DebugAssertFailureException : Unexpected value 'QualifiedName' of type 'Microsoft.CodeAnalysis.CSharp.SyntaxKind'

	ThrowingTraceListener.cs(25,0): at Microsoft.CodeAnalys

[2016-01-28 23:32] heejaechang opened #8235 "Roslyn dlls being loaded on clicking "New Project" on VS"
Repro is simple, just click “New Project” from VS, and see VSWorkspace get initialized. (and see module list for Roslyn dlls).

this seems happening regardless whether it is related to managed language or not.

[2016-01-28 23:34] heejaechang commented on #8235
opened it based on experience on my dev box. could be red herring,

[2016-01-28 23:39] brettfo commented on #7825
Keeping my notes public, after digging through the dump I've found that the hanging test is [UserHiddenDiagnosticSuppressionTests](http://source.roslyn.io/#Roslyn.Services.Editor.CSharp.UnitTests/Diagnostics/Suppression/SuppressionTests.cs,bf3c1a49a21ba010).  I've started running that test in a loop while I explore the code to try and find the hang.

[2016-01-28 23:40] davkean commented on #7825
:+1: Thanks for keeping me the loop

[2016-01-28 23:57] rchande commented on #8235
@heejaechang I don't see this on my dev box. Can you try to repro on recent InstallDogfood?

[2016-01-29 00:07] heejaechang commented on #8235
@rchande I just checked again, and it is happening on my /rootsuffix RoslynDev.

can you drop by?

here are callstack when it happens.

 	[Native to Managed Transition]
 	[Managed to Native Transition]
 	Microsoft.VisualStudio.Composition.dll!Microsoft.VisualStudio.Composition.RuntimeExportProviderFactory.RuntimeExportProvider.RuntimePartLifecycleTracker.CreateValue() Line 487	C#
 	Microsoft.Visua

[2016-01-29 00:07] Pilchie commented on #8231
This was fixed in the VS editor code internally today. (cc @davkean @dpoeschl)

[2016-01-29 00:07] #8231 closed

[2016-01-29 00:09] heejaechang commented on #8235
I think this is culprit.

Microsoft.VisualStudio.ApplicationInsights.dll!Microsoft.AppInsights.GettingStarted.FileNew.EnableAppInsightsModel.CanAddToProject.AnonymousMethod__0(System.Lazy p) Line 1100 C#
System.Core.dll!System.Linq.Enumerable.FirstOrDefault>

[2016-01-29 00:14] heejaechang commented on #8235
chain seems  IAppInsightsProjectCommandProvider -> IAddAppInsightsToProjectProvider -> AddToUAPProjectProvider  ->  ICodeInjectionFactory  -> CodeInjectionFactory

something like that, and CodeInjectionFactory will import VisualStudioWorkspace.

[2016-01-29 00:27] nguerrera commented on #6749
I've updated the proposal with a second option that I like better.

[2016-01-29 00:35] Pilchie commented on #7623
Unfortunately, we're not able to reproduce this, and without more information we can't make further progress.

[2016-01-29 00:40] heejaechang commented on #8172
@rchande @CyrusNajmabadi giving this to Ravi since he will take a look at a way to get back some memory in VS.

by the way, next sprint I work on diagnostic engine out of proc, so that might save some memory off VS.

also, I have this. https://github.com/dotnet/roslyn/issues/6276 opened. which can also improve VM situation a bit.

[2016-01-29 00:42] heejaechang commented on #6802
@Pilchie I will take a look. @davkean by chance, have you saved dump when that happened? or is there anyone who has dump for this issue?

[2016-01-29 00:42] Pilchie opened #8237 "Completion missing members of lambda parameter in fault tolerance case"
In the code below, `Task` should be shown in completion from one of the overloads of `ThenInclude` but it doesn't.

This case is interesting because there are two applicable overloads.  The ideal thing here would be to merge their individual members for the completion lists, but we don’t do that – we just pick one overload as the “best so far”, and it’s the one with `ICollection<TPreviousProperty>

[2016-01-29 00:44] davkean commented on #6802
Hmm, not surprising I didn't. See attached bug for the watson hits.

[2016-01-29 00:50] rchande commented on #8235
Thanks for tracking that down. I'll take a look tomorrow and file a bug for them.

[2016-01-29 00:50] rchande commented on #8235
(Since they probably don't track bugs on GitHub)

[2016-01-29 00:55] jasonmalinowski commented on #7812
@jaredpar Can you confirm the list of flags I gave above is the full list that was added since 1.0? (note: since 1.0, not 1.1, since we missed some in 1.1 too)

[2016-01-29 01:03] AlekseyTs opened #8238 "[Integer].TryParse no longer compiles"
Ported from DevDiv 164872.

[2016-01-29 02:25] edbenson commented on #7812
Your list has /feature. The error message I'm getting suggests it should be /features.

Error CS8058 Feature 'pattern matching' is experimental and unsupported; use '/features:patterns' to enable.

[2016-01-29 02:37] bradwilson commented on #7976
We end up with an explicitly loaded assembly to get things kicked off if the app domain can't load it implicitly: https://github.com/xunit/xunit/blob/master/src/common/AssemblyHelper.cs

This generally works fine for us without separate app domains, but it is different load behavior than when separate app domains are in play (implicit vs. explicit load context). This should allow any implicit depe

[2016-01-29 02:41] bradwilson commented on #7976
It's also worth mentioning that the ability to turn off app domains w/ desktop unit tests is relatively new, and there is always the possibility that there are bugs hiding inside the behavior. For example, we know that trying to mix app domain and non-app domain tests into the same test run exhibits some unexpected behavior.

[2016-01-29 03:02] tonyMechE commented on #6682
@dpoeschl ---> God bless you sir!

[2016-01-29 03:04] migueldeicaza commented on #8115
I love the idea of the `defer` statement in C#.

It provides an expressive way to state the programmer's desired intention.   While try/finally may accomplish the same work, it pushes the intention far away, and in nested cases becomes inconvenient to navigate.

[2016-01-29 03:28] alrz commented on #6136
Since this is the main issue for extensions I'd like to note `extention class` is redundant and also it should support generics and constraints. See #8127 for an example.

[2016-01-29 03:35] agocke opened #8241 "ValidMemberDisplayFormat fails in Release"

[2016-01-29 03:58] MAX-POLKOVNIK commented on #8217
Running on OS X 10.11.1.
Roslyn do not throw any exception. I throw this manually.
`throw new Exception ("Not compiled: " + result.Diagnostics[0]);`

[2016-01-29 04:45] #8130 closed

[2016-01-29 04:45] gafter commented on #8155
@MadsTorgersen do you want to take a stab at answering this?

[2016-01-29 05:48] JensMeinecke opened #8244 "C# use of enum type - should be optional"
Something that's been bugging me a long time. Now that C# 6 has come up with `using static` concept, I have decided to bring this up for discussion:

When dealing with enums we have constructs similar to the following:

[code]

Now I fully understand why I have to put the first `DialogResult` in that declaration. But I don't understand why the enum type is required in the assignment part. If I omi

[2016-01-29 05:52] JoeBug commented on #8224
Yes, issue [#5873](https://github.com/dotnet/roslyn/issues/5873) is the same.
Is it possible to introduce a option in Tools>Options>Text Editor> * >Formatting>Spacing?

[2016-01-29 06:00] JensMeinecke opened #8245 "Lazy acquisition paradigm and C# Auto-Initializers"
In lots of classes we do something like this:

[code]

In other words we have a read-only property with a backing field that we want to only evaluate once and keep in memory (classic lazy acquisition).

But now that we have Auto-Property Initializers, which automatically create a backing field, couldn't we simply extend this concept to a lazily acquired Auto-Property - in other words, only carry o

[2016-01-29 06:09] JoeBug commented on #8224
@CyrusNajmabadi: You can reproduce this in every file that has a comment on the same line - just insert tabs before the comment:

`using System;			// blah`

[2016-01-29 06:19] tmat commented on #8217
By default Roslyn produces Windows-specific PDBs to ensure backward compatibility. These PDBs enable the full feature set of Windows debuggers (such as expression evaluation and Edit and Continue). However, these PDBs are not possible to read or write on non-Windows systems.

To generate cross-platform Portable PDB format you can set DebugInformationFormat emit option
http://source.roslyn.io/#Micr

[2016-01-29 06:19] #8217 closed

[2016-01-29 06:29] GeirGrusom commented on #8115
I think `defer` is a very vague name though.

[2016-01-29 09:24] Citringo opened #8247 "When code reached the end of switch sections"
I want C# to terminate the switch statement when code reaches the end of switch section.

Because, I always think it is verbose that each switch sections have a break statement.

Like this:
[code]

In this program, If variable "r" is 0, console will show "It's 0." and program will finish.

(Sorry to my bad English...)

[2016-01-29 10:21] heejaechang commented on #6802
@Pilchie  @davkean @amcasey @mavasani I couldn't find watson bucket for it. anyone know who to find one? without it, not much I can do to figure out why it is happening. I can make it at least not crashing but looking at the call stack, VS could get into completely broken state after that.

[2016-01-29 10:22] jods4 commented on #7445
@HaloFour

I don't think that is the compatibility issue with modopt, is it? The ECMA standard says that a compiler is free to ignore modopt it doesn't understand, and nullable types fit into this model.

My understanding is that binary compatibility doesn't work: if Microsoft releases .NET next using nullability annotations everywhere (and they should do that), then existing assemblies built agai

[2016-01-29 10:22] heejaechang commented on #6802
I kind of suspect this could be related to the OOM issue.

[2016-01-29 11:09] DavidArno commented on #8074
I think this request has been prematurely closed. F# has this feature (it uses `_`) for many good reasons, eg for unused parameters in patterns. @dsaf, could you re-open this please (assuming it can be).

[2016-01-29 11:30] alrz commented on #8074
I believe wildcards *will* be supported in patterns.

[2016-01-29 11:36] alrz commented on #8244
Dupe of #952

[2016-01-29 11:45] alrz commented on #8247
Dupe of #1426, though, this is about implicit `break`, not allowing fall through.

[2016-01-29 11:48] alrz commented on #8245
Dup of #3415, #4374 and a couple of others.

[2016-01-29 11:50] Citringo commented on #8247
I don't want to allow fall through. I want to terminate switch block like Select Case of VB.

[2016-01-29 11:54] alrz commented on #8247
@Citringo Then check out #959.

[2016-01-29 11:56] Citringo commented on #8247
I see.

[2016-01-29 11:56] #8247 closed

[2016-01-29 12:05] TanielianVB opened #8248 "What happened to Visual Basic Scripting?"
Today in the [Scripting API Samples](https://github.com/dotnet/roslyn/wiki/Scripting-API-Samples) there's only C# Scripting.

When I install the:

[code]

only the

[code]

comes. Where's the

[code]

?
There are some mentions that indicate that he existed. Example:
["... You can grab the C# scripting package using the following NuGet installation command (there is also a corresponding one for Vis

[2016-01-29 12:10] TonyValenti commented on #5023
Hi All,
I wanted to post another scenario that would be awesome to support.

I've done some work in SMLNJ and Prolog one of the things I love about those languages is how well they can solve what variables/values go where.

Here is a somewhat nasty class series of class definitions.
[code]

I am using Generics as essentially a way of having compile-time "code gen" for identical operations across m

[2016-01-29 12:21] alrz commented on #6788
As an alternative, I would like to suggest extension constructors (#6136) to not hurt people's feelings.
[code]
Inheritance scenarios can be supported in a similar manner.

[2016-01-29 12:23] shaggygi opened #8249 "C# Interactive won't stay assigned to keyboard mapping"
This might be more of a VS issue, but I will assign a keyboard shortcut (Alt + C) for View.C#Interactive like Python Interactive (Alt + I).  However, after a period of time, the mapping will be removed.  This has occurred several times.  I have not tried to perform steps to reproduce as it seems random.  Has anyone else seen this issue?

[2016-01-29 14:55] DavidArno commented on #14
@MadsTorgersen,

It's a real shame that local functions appear to be being chosen over this solution. Local functions completely fail to address the very issue that is behind this proposal: implicit typing. Taking an example from the  "Outline of C# 7 demo at MVP Summit 2015-11-02" [#6505](https://github.com/dotnet/roslyn/issues/6505):

    static void Main(string[] args)
    {
        int Fib(int

[2016-01-29 15:46] davkean commented on #6802
Sorry, I should provide more info - this was an IOException, with the message _There is not enough storage space to process this command IOException_

I believe it was a OOM of some sort.

[2016-01-29 15:51] davkean commented on #6802
I believe you should basically handle IOException and not let it crash VS.

[2016-01-29 15:58] helmsb commented on #85
I'd really love to see Markdown support for comments. It's simple, human readable in it's non-parsed form.

[2016-01-29 16:00] helmsb commented on #2136
I'd really like to see Declaration Expressions make it back into the list. That was one of the features I was most excited about in C#6. Also to echo others, I would love to see an overhaul of XML comments. I think Markdown support would be a good alternative. It's easy to understand, human readable in it's non parsed form and would give formatting control to parsing tools.

[2016-01-29 16:06] HaloFour commented on #2136
@helmsb I'm not a fan of embedding any form of presentation directly into XML comments.  It's relatively simple to take that XML and generate HTML or markdown or some other arbitrary presentation format, but once you start embedding the presentation format you're more or less stuck with that format.

I agree that XML comments are not particularly pleasant to read, or write (I don't think that java

[2016-01-29 16:10] alrz commented on #2136
On that note , with #7655 , it would be fantastic to be able to write markdown with compiler verification and auto completion.

[2016-01-29 16:32] DavidArno commented on #8074
As well as being of use in patterns, the other main use for this feature in F# is for handling functions that return a tuple, triple etc, when the calling code is not interested in all values.

Using the tuple syntax described in [Early View of C# 7 with Mads Torgersen](http://www.infoq.com/news/2015/10/csharp-7-sneak-peek), we may have a method declared as:

    public (int x, int y) Compute(int

[2016-01-29 16:35] alrz commented on #8074
that's exactly what #6400 is about.

[2016-01-29 16:40] HaloFour commented on #8074
And #20, for lambdas.

[code]

I think there is one for `out` parameters as well.

[code]

To note I like the idea of wildcards in many scenarios, I'm just not terribly keen on them for throwaway locals which is what this proposal is specifically about:

[code]

[2016-01-29 17:08] DavidArno commented on #8074
@alrz

#6400 is a hugely mixed bag and it's hard to see what it's actually supposed to be about. The outcome (as documented in the pattern spec) seems to the ideas of `let` being a read-only version of `var`, something to do with patterns and a keyword in front of `(x, y) = ...` tuple notation.

It's very unclear therefore (at least to me!) how this covers the idea of throw-away variables.

[2016-01-29 17:11] DavidArno commented on #8074
@HaloFour,

Allowing throw-away variables in some situations, but not others seems a recipe for a hugely confusing language extension, especially when the `let` stuff is taken into account. We could even end up with

    let * = SomeFunction();

being valid and

    var * =  SomeFunction();

being invalid. Seems an odd decision to me.

[2016-01-29 17:13] Pilchie commented on #8230
The issue here is that we just pick the first overload in this case, but we should be merging the results.

[2016-01-29 17:14] HaloFour commented on #8074
@DavidArno

Per #6400 that is already the case, `let` will support pattern deconstruction (including tuple decomposition) but `var` will not be changed from it's current state.

Also per @alrz 's comment `let` would not support just a wildcard pattern, so `let * = expression;` would not be valid.  But using a wildcard within a complex pattern would be:

[code]

[2016-01-29 17:15] alrz commented on #8074
thrown-away variables are not about `let` or any other constructs, it's a *pattern* (#206). Unlike F#, C# doesn't need `let * = F()` either, because it allows you to just ignore the return value; simply call the function `F();`. As @HaloFour pointed out, ignoring property's return value is a specific scenario in this proposal and deosn't make sense overall.

[2016-01-29 17:15] Pilchie commented on #8237
Is this something we can fix on the IDE side, or do we need changes/additions to compiler APIs.

[2016-01-29 17:18] miloush commented on #8230
The problem with merging I see is if there was one overload with double and one with int, what would you generate as a field?

[2016-01-29 17:41] alrz commented on #258
@gafter If we ever have unified nullables couldn't it be like
[code]
As long as `T` is not nullable?

Also with this we can define a non-generic method on top of generic interfaces, like
[code]
which is great!

[2016-01-29 18:02] mavasani commented on #3748
I was able to repro this - it seemed to have regressed with Update1. The regression test added for this bug (https://github.com/dotnet/roslyn/issues/3748?_pjax=%23js-repo-pjax-container#issuecomment-128052147) didn't catch it as it is run with a single analyzer and the bug repros only when there are multiple analyzers and the driver processes some other analyzer prior to this one - basically its a

[2016-01-29 18:02] CyrusNajmabadi commented on #8224
I believe this is by design.  tabs vs spaces is only about controlling your indentation of code.  It's not about preserving tabs anywhere they might exist in code.  For example, if you have:

```if<tab>(```, then we will convert that to ```if (``` all the time.

I don't believe we'd want to have rules to cover all the cases.  Perhaps it might be sufficient to have a rule that says "if there is a t

[2016-01-29 18:12] dpoeschl commented on #8231
@mattscheffer Just an FYI in case you didn't know, if you hit esc to dismiss completion first, then tab should still expand the snippet. The presence of snippets in the completion list and the expandability of snippets via tab (assuming the completion list is not showing) are unrelated.

[2016-01-29 18:13] amcasey commented on #8241
It appears that property backing fields are included in the member list in Release, but not in Debug.  I'm still investigating.

[2016-01-29 18:36] CyrusNajmabadi commented on #8230
@miloush "Generate field" and "generate method" are two different features.  Do they can have differing behavior.  For "generate field" we can keep the behavior where we just pick one.  But for generate method, we shouldn't just look at one, say "oh, there's no possible method here" and bail out.  We should look through all the overloads to see if there's at least one viable choice that could allo

[2016-01-29 18:37] davkean commented on #7825
Manish, this looks you guys own this test. This is currently, the highest flaky test that we current hit on Jenkins. Please invesigate.

[2016-01-29 18:41] mavasani commented on #7825
@brettfo What would be the easiest way to get this to repro - just run the test in a loop?

[2016-01-29 18:46] amcasey commented on #8241
It appears that we only emit `DebuggerBrowsableAttribute` in Debug binaries.  That's why property backing fields are filtered out in Debug.  In Release they should be filtered out by name, but that filtering is NYI.

[2016-01-29 18:46] DustinCampbell opened #8251 "Test 'Make Method Synchronous' code refactoring"

[2016-01-29 18:49] brettfo commented on #7825
That was my guess, but I haven't been able to get it to fail, even leaving the test looping over night.  I tried stepping through each call to try and find a race or anything that would cause the hang, but I couldn't find it.

FWIW, Jason has a dump of the hung xunit process.  It's on an internal share so I'll message it to you.

[2016-01-29 18:50] amcasey commented on #8241
Removing the Flaky label since this is actually a feature request.

[2016-01-29 18:52] jaredpar commented on #7812
@jasonmalinowski that list looks correct to me.

CC @TyOverby and @agocke in case I missed anything.

[2016-01-29 19:00] #8234 closed

[2016-01-29 19:01] AlekseyTs commented on #8234
@TyOverby Please verify.

[2016-01-29 19:31] AlekseyTs commented on #8212
It looks like the node in question, the "Lifetime" identifier in "Lifetime.Persistent", has different span depending on the OS:
- Windows [130..138)
- Lin/Mac [122..130)

Perhaps the difference is caused by the way line breaks are handled and is expected.

[2016-01-29 19:55] orthoxerox commented on #8221
I tried implementing this, and it looks like making `with` a new contextual keyword would break existing query expressions. I'll try to come up with an alternative syntax. Perhaps a comma instead of `with` or a `join x2 in e2 zip` clause would work better with existing code.

[2016-01-29 20:16] DavidArno commented on #8074
@alrz

Whilst C# does indeed allow the following:

    F();

where `F` is non-void, writing the above code leads to problems. Did I write that because I'm not interested in the return value, or because I didn't realise there was one? In the latter case, the fact that I don't handle it could be a sign of a bug. Good practice suggests therefore that I should make my intentions explicit (as, unsurpri

[2016-01-29 20:17] DavidArno commented on #8074
@HaloFour ,

Do you have a link to a detailed explanation of `let Point(var x, *) = point;`, as I can't get my head around what that syntax means?

Thanks.

[2016-01-29 20:33] punicaaa opened #8254 "Edit and continue / QuickWatch"
we changed our environment from Visual Studio 2008 to 2015 (Update 1) and now we got some strange debug behaviours.

When we hit a breakpoint and insert new lines of code and continue, we are not able to see the variable content of some types in QuickWatch or immediate window anymore. (e.g. DataTables, Images ...)

Error message : A type or generic instantiation needed to evaluate this expression

[2016-01-29 20:39] alrz commented on #8221
@orthoxerox Utilizing extension implementations (#8127):
[code]

Today you can do this the uninteresting way, via a regular extension method and a covariant tuple,
[code]

[2016-01-29 20:55] HaloFour commented on #8074
@DavidArno As I mentioned earlier I don't think language features should be designed around how testing libraries happen to function.  You already have a perfectly valid form of syntax for accepting the result, and you can continue to use the legal identifier `_` to do so if you choose.  Beyond that it's a question of preference for style.  The c-family of languages has never considered it to be a

[2016-01-29 21:27] heejaechang opened #8255 "addtionalfile doesn't support multiple context"
add one file to 2 projects as additional file. and try open the file by clicking the file from solution explorer.

VS crash since additional file is not fully connect to active context mechanism.

[2016-01-29 21:44] heejaechang opened #8256 "make additionaldocument support in workspace consistent with document"
additionalDocument in workspace behave different than document in workspace. there is no document open/close or text changed event but some data we put in workspace and some not. quite inconsistent.

we should either make workspace API which doesnt require Document to TextDocument such as TextChanged event or DocumentOpened event, or we should add event for it as well.

[2016-01-29 22:14] DustinCampbell opened #8257 "IntelliSense and GFU always add "using System;" if its not there"
For example:

[code]

This results in a member being generated with `throw new NotImplementedException();` in the body and `using System;` at the top of the file. The addition of 'using System' can be pretty annoying because the user has to remove unused usings after they implement the body. I propose that we only minimally-qualify `NotImplementedException` if `using System` is already present. Ot

[2016-01-29 22:28] heejaechang commented on #6649
@mjrousos I am working on this. and as I work more on this, this becoming more works than  expected. also we are not sure how we will make people to suppress errors reported in random external files.

now, we are more toward to saying "this is not supported scenario". Roslyn is in the business of analyzing C#/VB code and additional files are added a way to help showing diagnostic in C#/VB file not

[2016-01-29 22:46] DustinCampbell opened #8258 "VB: Dictionary access operator formats incorrectly"
[code]

[2016-01-29 22:46] DustinCampbell commented on #8258
This was reported through VS Feedback

[2016-01-29 22:46] DustinCampbell commented on #8257
This was reported through VS Feedback

[2016-01-29 22:57] DustinCampbell opened #8259 "Outlining spans are not created for parenthesized lambda expressions"
![image](https://cloud.githubusercontent.com/assets/116161/12690463/92dec6a4-c698-11e5-8c03-0bd012e317a3.png)

[code]

[2016-01-29 23:34] jveselka commented on #8155
Eric Lippert may have answered some of your questions here: http://ericlippert.com/2015/08/31/nullable-comparisons-are-weird/

[2016-01-29 23:56] MatthieuMEZIL commented on #8155
@jveselka Thanks for the link.

[2016-01-30 00:00] jasonmalinowski opened #8260 "NavigateTo hangs the UI thread when searching in large solutions"
_Repro Steps:_ invoke Navigate To in Roslyn, and try to use it.
_Expected:_ a nice user experience.
_Actual:_ sadness where the UI gets blocked like crazy.

I attached a debugger to see why we were getting such bad hangs, and it turns out this is our fault. We build an index of [`DeclaredSymbolInfo`](https://github.com/dotnet/roslyn/blob/6288d75afa5d7ae86ab534dfd0100962f3742607/src/Workspaces/Core

[2016-01-30 00:01] jasonmalinowski commented on #8260
Another possible mitigation would be to use the in-progress solution when we get symbols, since we only care to get the source symbol, and only enough for purposes of symbol display. I'm going to try that quick, but that still means getting the symbol is backed up behind parsing which isn't great either.

[2016-01-30 00:11] DustinCampbell opened #8261 "C#: 'new' completion doesn't work for field above attribute"
[code]

It looks to me like the parse tree is in a shape that we don't expect. The attribute gets treated as the `[]` in an implicit array creation expression.

[2016-01-30 00:32] #8238 closed

[2016-01-30 00:33] DustinCampbell opened #8263 "Formatting: Add option to not perform any auto-formatting"
There have been a number of customer complaints through Visual Studio Feedback that unchecking our auto-formatting options doesn't stop all auto-formatting:

![image](https://cloud.githubusercontent.com/assets/116161/12691947/c4da1264-c6a5-11e5-89e8-a023b8b57f19.png)

Apparently, we are auto-formatting when typing closing parentheses as well and '#' get left-aligned regardless of the settings. I p

[2016-01-30 00:33] AlekseyTs commented on #8238
@gafter Please verify.

[2016-01-30 02:11] #6604 closed

[2016-01-30 02:11] #6717 closed

[2016-01-30 02:11] #6752 closed

[2016-01-30 02:23] amcasey commented on #8241
I've added a TODO in the method that's NYI.

[2016-01-30 02:54] nobledog commented on #4224
I haven't been doing as much coding lately but I have been following this thread. I should mention that MS closed the Connect issue I had initially raised this in. The link is below:

https://connect.microsoft.com/VisualStudio/feedback/details/1624176/code-definition-window-not-working-in-vs2015-release-version-was-fine-in-rc

It says the Connect entry is was "Closed as Duplicate" and references b

[2016-01-30 03:39] amcasey commented on #7976
Thanks, @bradwilson, for the explanation.  We're going to try to do some more investigation on this end to try to confirm that that's what's happening and we'll get back to you if we find otherwise.

[2016-01-30 04:03] Pilchie commented on #4224
An update for everyone.  I am the manager of the team responsible for the C# and VB language services.  As such, I was the one who made the decision to cut the Code Definition Window in VS2015.  I was also one of the people responsible for implementing it back in VS2005, and it's something near and dear to my heart.

Replacing the old compilers and language services with Roslyn was a huge task, an

[2016-01-30 04:49] nobledog commented on #4224
Hi Kevin,

Thank you for the detailed response. You clearly use the product. I stand corrected. I am also satisfied that the closure of my Connect thread is not emblematic of a dark conspiracy at Microsoft. (We will leave the alien artifacts hidden in the Redmond HQ basement out of this discussion).

I realize that you have a lot on your plate and I have never suspected CDW would or should be a to

[2016-01-30 08:22] AdamSpeight2008 commented on #8221
What's wrong with using `zip` as the keyword? Also`Zip` doesn't necessarily return a tuple.
I believe it is the only standard LINQ operator that pulls from two sources simultaneously though.

[2016-01-30 08:23] AdamSpeight2008 commented on #8263
@DustinCampbell Get's my vote. Include it for VB.net as well.

[2016-01-30 08:51] orthoxerox commented on #8221
@AdamSpeight2008 someone has `zip` as an identifier in their query expression already, plus the word makes sense only for enumerables, not other monads.

[2016-01-30 09:26] AdamSpeight2008 commented on #8221
@orthoxerox `with` is already a keyword in vb.net.
Having `zip` return a `IEnumerable<Tuple<T1,T2>>` doesn't make sense either, as in the case where you don't want one. You'd have to de-construct the tuple.

[code]

Using `Zip` Query syntax. Similar in style and context to an `Aggregate` Query operation.
[code]

[2016-01-30 09:39] AdamSpeight2008 commented on #8221
Old discussion #100

[2016-01-30 10:34] yaakov-h commented on #7445
@jods:

Doesn't this only apply if .NET next is an in-place upgrade (e.g. 4.5 over 4.0), and not a separate framework (e.g. .NET 4.0 vs .NET 3.5)?

[2016-01-30 11:31] AdamSpeight2008 commented on #8221
@orthoxerox

I've devised the following grammar definition for `Zip ( x In xs) , (y In ys ) Into ...` that is based on the grammar from the Visual Basic Language Specification.

[code]

Suggests that adding a Query Syntax for `Zip` would relatively easy (at least for VB).

[2016-01-30 19:01] jods4 commented on #7445
They allow more breakage, but generally MS keeps a high compatibility level even between side-by-side major releases. In fact, all of the projects I use or maintain run perfectly on 4.6, even those that were compiled for the 2.0 runtime.

Adding `modopt` to many BCL classes would basically mean that _no existing program_ would run on vNext if nothing else changes.

[2016-01-30 19:05] HaloFour commented on #7445
@jods4 With extremely few exceptions you can expect the same going back to .NET 1.0 assemblies.

[2016-01-30 21:53] JoshVarty commented on #6604
:+1: Thanks :)

[2016-01-30 22:15] DavidArno commented on #8074
@HaloFour,

I'm really not following the thinking behind your position here.

* You rightly say that "I don't think language features should be designed around how testing libraries happen to function". I fully agree. If the proposal were for `*` to be made available simply to assist with writing tests, then it would be a questionable feature indeed. It isn't; I simply use it as yet another exampl

[2016-01-31 00:06] alrz commented on #8074
@DavidArno I've been proposed something like `ListChanged(object, EventArgs)` for methods, delegates and records in #6115 which is exactly what C/C++ features, I don't know how much it was appreciated (apparently it wasn't).

The reason is that it'll be a breaking change?

Spec for patterns is not at its final stage and might be changed. Similarly, I argue that *constant-pattern* also should be a

[2016-01-31 01:39] HaloFour commented on #8074
@DavidArno

There is something to be said for consistency, sure.  However, sometimes it doesn't make sense to apply things in absolutes.  For example, you can't use `var` for parameter types or field types.

Should you be able to use `*` to ignore officially declared parameters in a method body as you might to ignore lambda arguments?  In my opinion, no.  It doesn't even matter that the two effect

[2016-01-31 04:23] patoezequiel commented on #996
I'd suggest a syntax like:

`class Extensions {`
&nbsp;&nbsp;`static void InvertColors ( static System.Console )`
&nbsp;&nbsp;&nbsp;&nbsp;`// Interchange background and foregrond of System.Console`
&nbsp;&nbsp;`}`
`}`

To use it like this (and have seizures while running the code):

`while ( true ) {`
&nbsp;&nbsp;`System.Console.ReadKey();`
&nbsp;&nbsp;`System.Console.InvertColors();`
`}`

[2016-01-31 04:38] alrz commented on #996
This can migrate to #6136
[code]

[2016-01-31 04:39] alrz commented on #8214
Closing in favor of #1470.

[2016-01-31 04:39] #8214 closed

[2016-01-31 04:50] alrz commented on #1470
As far as I can tell, this proposal requires two features to work:

1. Otherwise unresolvable simple names to resolve to a generic type
2. Delayed type inference

First of all, `List` should be resolved to `List<T>` as long as there were no other generic/non-generic types in the scope. However, it can be disambiguated with diamond syntax. After that, type argument should be inferred at the first p

[2016-01-31 07:31] tmat commented on #8254
@pnelsonmsft

[2016-01-31 10:09] HellBrick opened #8268 "Decouple Formatter.GetFormattedTextChanges from Workspaces to allow using it in an analyzer"
This is basically a continuation of #7929. The use case here is I want to be able to check if the code formatting satisfies the specific formatting settings and provide warning + code fix if it doesn't. `Formatter.GetFormattedTextChanges` seems like the way to go here, but unfortunately it's part of `Microsoft.CodeAnalysis.Workspaces`, which can't be used in an analyzer without producing tons of w

[2016-01-31 10:11] HellBrick commented on #7929
I've opened #8268 to further discuss the suggested API changes, so I'm closing this one.

[2016-01-31 10:11] #7929 closed

[2016-01-31 10:33] HellBrick opened #8269 "Add an option to apply code formatting to collection initializers"
At this moment VS code formatter never touches the collection initializers. I would guess this is done to preserve a hypothetical manual item alignment, but as someone who never does that, I find it very annoying that I have to format the code inside the collection initializers manually. So I'd like to suggest adding an option to specify whether the formatter should format the collection initializ

[2016-01-31 11:54] AdamSpeight2008 opened #8270 "Typeless Construction"
This proposal is to allow us to write `new( )` inside of a **class** or **structure** to invoke the constructor of the type, we are within.

[code]

**Alternative**
An alternative syntax would be to use `new Me` (`new this` *c#*)
[code]

[2016-01-31 16:28] davjs opened #8271 "Proposal: Return IreadOnlyCollection or IReEnumerable from Select(IReEnumerable)"
As mentioned by Paul Stovell's stack overflow answer "The goal of taking the highest object is noble, but it leaves room for too many assumptions". : http://stackoverflow.com/questions/8240844/handling-warning-for-possible-multiple-enumeration-of-ienumerable

Currently Select() returns an IEnumerable regardless of what has been passed. Because of the fact that we often want to iterate our collecti

[2016-01-31 16:55] benjamingr commented on #8271
ping @headinthebox

[2016-01-31 17:11] alrz commented on #8270
Dup of #35

[2016-01-31 17:54] AdamSpeight2008 commented on #8270
@alrz Not a dupe, this is restricted to only being the type you are in. Target type has nothing to do with it.

[2016-01-31 18:21] alrz opened #8272 "Proposal: Implicit Enums"
With inline enumerations (#3497) one can define an `enum` within parameter declaration,
[code]
and with #952 you can simply call it,
[code]
But the question is, how are you going to use it? Perhaps with a `switch` statement or expression,
[code]
As you can see, you have to repeat all the enum members in `switch` cases and in parameter type itself which might get long and turn into an ugly paramete

[2016-01-31 18:56] alrz commented on #8270
@AdamSpeight2008 While your example clearly defined `One` so that it returns `Foo`, what is the advantage of this over #35?
[code]
Even with self types (#311) you can do the same,
[code]
right?

[2016-01-31 19:09] AdamSpeight2008 commented on #8065
Wrote a little parser and engine for the templating methods.

**Grammar**
[code]

![colorisation](https://cloud.githubusercontent.com/assets/900107/12704038/d9998b3a-c849-11e5-912a-72545140e299.jpg)
Template Engine
![applied](https://cloud.githubusercontent.com/assets/900107/12704076/807c4b04-c84a-11e5-8394-526982b112e4.jpg)

Things left to do.
* Method Header
 `template ComplilationUnit foo ( Sym

[2016-01-31 19:19] alrz commented on #8065
@AdamSpeight2008 :+1:

[2016-01-31 19:20] AdamSpeight2008 commented on #8270
Helpful when writing immutable objects.
[code]

[2016-01-31 19:23] alrz commented on #8270
@AdamSpeight2008 Again, what you actually want is *self types* and naturally you would get concise constructors with #35 because compiler can infer `new` type from the target (return type of `Next` method).

[2016-01-31 19:27] AdamSpeight2008 commented on #8270
@alrz  I don't won't `new me` to mean construct an instance on my return type (even through inference)
Let's say `Reader` has the following
[code]

[2016-01-31 19:50] svick commented on #8271
Are you proposing to not make LINQ lazy in those cases?

For example, since `collection.Select(x => expensiveFunction(x))` will return a collection (not just a lazy enumerable), does that mean `collection.Select(x => expensiveFunction(x)).First()` will compute `expensiveFunction()` for all items in the `collection`?

Or are you just proposing something similar to F# [`Seq.cache`](https://msdn.micr

[2016-01-31 20:27] davidkron commented on #8271
I am not proposing it should have any difference in behavior from the regular Select. I believe having an overload that suddenly is non lazy would be inconsistent and make things very confusing. Thanks for pointing it out though.

How exactly this "collection" would be implemented i think is out of scope as long as it provides the same behavior as a regular `Select()` and implements `IReadOnlyColl

[2016-01-31 22:37] davidkron commented on #8271
I just realized however that if the enumerator/collection would cache the results from the first iteration it could actually break code that depends on side effects executed while iterating. For example: `foo.Where(x => x.member > i++)` .So it would have to be both lazy and recomputed i.e not using any cache in order to be backwards-compatible. (Unless there is some hack to check if a func has sid