[2017-04-05 17:43] Pilchie opened #18467 "CodeFix CS4033: Make method async (stay void) adds the Async suffix"
From: https://developercommunity.visualstudio.com/content/problem/39889/codefix-cs4033-make-method-async-stay-void-adds-th.html

[2017-04-05 17:46] jcouv commented on #18274
Also fixed in VB (which I forgot in the first PR), by https://github.com/dotnet/roslyn/pull/18435

[2017-04-05 17:53] agocke opened #18469 "DebuggerProxy_FrameworkTypes_Lazy test fails on netstandard 2.0"
It looks like this test took an unreliable guarantee on the format of framework types.

[code]

[2017-04-05 17:56] vedun-z opened #18470 "Getting absolute path to CompilationOption.CryptoKeyFile"
I have a `Project` which `CompilationOption.CryptoKeyFile` is a relative path. I want to get access to `CryptoKeyFile`, so I need an absolute path to `CryptoKeyFile`. As far as I understand `CompilationOption.StrongNameProvider` should resolve relative paths to key files, however It does not have public API. I suggest to add a way to get an absolute path of `CryptoKeyFile` without using internal R

[2017-04-05 18:00] jmarolf commented on #18463
@flcdrg [Microsoft.CodeAnalysis.CSharp](https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/) is a nuget package that contains libraries that only run on .NET 4.6 or higher.  It does not contain any analyzers.  Does the same thing happen when trying to add [Microsoft.CodeAnalysis.Analyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers) which does have analyzers?

[2017-04-05 18:00] jasonmalinowski commented on #12116
Going to reactivate this as it seems the tool isn't working properly.

[2017-04-05 18:01] Pilchie commented on #18462
Moving to compiler based on stack

[2017-04-05 18:03] JoshVarty opened #18473 "Improperly formatted/tabbed XML Doc Comment is moved on Caret Position Changed in VB"
**Version Used**: 15.0.0.26228.9

**Steps to Reproduce**:

1. Using following code

[code]
2. Highlight XML Doc Comment
3. Shift+Tab
4. Move caret
5. Observe that XML Doc Comment is repositioned.

**Expected Behavior**: XML Doc Comment is not moved by changes in caret position.

![image](https://i.gyazo.com/b35431ff586df8b20a956d20481ad437.gif)

I don't know VB well enough to be familiar with the

[2017-04-05 18:06] Pilchie commented on #18329
We've been following up on this offline, and have determined that the issue is in NuGet.  @jainaashish has been following up there.

[2017-04-05 18:06] #18329 closed

[2017-04-05 18:14] Pilchie commented on #18449
@davkean - what was your selection in this case?

I would expect extract method to be available in that statement.  It's true that it might not be immediately useful, but it may also be the case that you want to extract it because you're about to change it to do something complicated.

[2017-04-05 18:14] #18449 closed

[2017-04-05 18:14] jmarolf commented on #18423
@taori an explicit design decision with analyzers was that the developer always has control over their environment.  If they want some analysis to be an error then they can increase the severity of that diagnostic.  If they find some analysis to be giving false positives they can turn them off entirely.  It sounds like you are suggesting that analyzer authors be given the ability to set a default

[2017-04-05 18:15] Pilchie commented on #18422
Seems to be sorted out now.

[2017-04-05 18:15] #18422 closed

[2017-04-05 18:17] jmarolf commented on #18414
Portable projects cannot reference Netstandard 1.3 libraries.  I'll need to create a new set of project templates that target Netstandard 1.3.  As an aside, 2.0 has no new apis @yaakov-h what was your reasoning for upgrading?

[2017-04-05 18:20] Pilchie commented on #18460
Why do you expect things to work after uninstalling the packages in 2 and 3?  Also, how did you remove it?

The dialog is a known issue because the projects fail to load.

I expect that the packages you couldn't find come from a different NuGet feed, which you can find in our https://github.com/dotnet/roslyn/blob/master/NuGet.Config

[2017-04-05 18:29] jcouv opened #18474 "HasAssemblyCompilationRelaxationsAttribute should be defined on AssemblySymbol, not SourceModuleSymbol"
[code]

FYI @AlekseyTs

[2017-04-05 18:55] ksmigiel opened #18475 "Strange behaviour with Dictionary and List initializers in C# 6"
**Version Used**:
Roslyn 2.0.0-rc2 (C# 6)

**Steps to Reproduce**:

Run below code
[code]

**Expected Behavior**:
Compiler or static code analysis should raise an error, since it looks like not supported syntax.

**Actual Behavior**:
Dictionary will contain List with two elements {1, 2}

What's more case below is also compiled without problems, but during execution `KeyNotFoundException` exception

[2017-04-05 19:51] OmarTawfik opened #18477 "Invalid error message on passing in parameters by ref"
[code]

**Expected**: error CS1620: Argument 1 must be passed **_without_** the 'ref' keyword
**Actual**: error CS1620: Argument 1 must be passed **_with_** the 'in' keyword

[2017-04-05 19:51] OmarTawfik commented on #18477
cc @VSadov

[2017-04-05 20:16] tmat commented on #13181
The immediate window doesn't support multi-line snippets, nor does it support all statements. First, we need to replace the immediate window with interactive window and then we can extend the support to all statements (including local function declarations).

We should however implement invocation of local functions defined in the current method.

[2017-04-05 21:46] #18357 closed

[2017-04-05 21:59] #17679 closed

[2017-04-05 22:08] Pilchie commented on #18467
@kuhlenh @CyrusNajmabadi what do you think?

[2017-04-05 22:08] Pilchie commented on #18467
@MadsTorgersen @AnthonyDGreen @stephentoub do we have guidance here?

[2017-04-05 22:08] brian-reichle commented on #18414
@jmarolf, we were under the impression that support for the new C#7 syntax was provided through the Roslyn 2.0 libraries. was this incorrect?

[2017-04-05 22:09] Pilchie commented on #18473
But Shift+Tab *is* an edit :)

[2017-04-05 22:09] #18473 closed

[2017-04-05 22:10] cston commented on #18142
@abhijitparkhi1983 What are the values of `CandidateReason` and `CandidateSymbols` on the `SymbolInfo` returned from one of the `GetSymbolInfo()` calls, say the first call for `int`? And what is the runtime type of the `SemanticModel` instance? Thanks.

[2017-04-05 22:11] debonte commented on #18159
Would it be possible to take this in 15.2?  I would need it to fix VS bug 399403.

[2017-04-05 22:14] Pilchie commented on #18466
For 1, I don't think we would ever do it.  The article you mention was written before the convenience of auto-props existed.  At this point I can see a good reason to prefer public fields.

For 2, We have an analyzer and fix that suggests simplifying to an auto-prop if possible, but it (currently) only runs if Tools\Options\Text Editor\C#\Advanced\Enable Full solution analysis is enabled.  There i

[2017-04-05 22:18] mavasani commented on #18414
Yes @brian-reichle is correct. I tried to write an analyzer/fixer that uses the Tuple syntax factory methods, and these are only available in 2.0.0 libraries.

[2017-04-05 22:20] mavasani commented on #18414
@jmarolf Can you post a workaround on #15978 until we have published the new templates?

[2017-04-05 22:27] yaakov-h commented on #18414
@mavasani @jmarolf does this imply that both the workaround and the solution are that Analyzers for 2.0/C#7/etc. must now be .NET Standard 1.3 libraries instead of PCL libraries?

[2017-04-05 22:27] jmarolf commented on #18414
@brian-reichle I was hoping the answer @yaakov-h had was that he wanted to write an analyzer against the new C#7 syntax, but if that was not the case then they could have continued without upgrading.
@mavasani I am not aware of anyway for Portable7 projects to reference netstandard 1.3 nuget packages.

[2017-04-05 22:28] jmarolf commented on #18414
@yaakov-h yes netdstandard has a much larger surface area than PCLs in terms of APIs.  You cannot reference a netstandard library from a PCL (though the reverse is possible).

[2017-04-05 22:34] agocke opened #18479 "Scripting Tuples test has broken references between desktop/coreclr tests"
On CoreCLR System.ValueTuple is in the runtime corlib, meaning that if System.ValueTuple is passed to the scripting compilation, compilations fail due to duplicate tuple types.

On the other hand, if the reference is removed, compilations fail on Desktop since the current corlib does not have System.ValueTuple.

[2017-04-05 22:34] jcouv commented on #17994
@VladimirReshetnikov @alrz In discussion with LDM today, we realized that such cases already exist: constraints are not checked as tightly as interfaces implementations.

In such cases, you will never be able to create a type that satisfies the constraints and this is enforced when you try to declare such type (rather than where constraints are expressed).
As such, we will not be prioritizing this

[2017-04-05 22:39] 333fred commented on #18465
Managed to get dumps of xunit and vs: "\\mlangfs1\public\frsilb\dumps\integration_test_hang"

[2017-04-05 22:39] jcouv opened #18480 "[Work items] infer names on tuples"
Relates to proposal https://github.com/dotnet/csharplang/issues/370 (now championed issue https://github.com/dotnet/csharplang/issues/415)

- [x] C#
- [x] VB
    - [x] Gate feature with VB Language Version
    - [x] That version should be called "15.3"
- [x] Deconstruction (`var t = ((x, y) = (1, 2));`).
- [x] Verify and fix IDE scenarios for C#
- [x] Verify and fix IDE scenarios for VB
- [x] Is i

[2017-04-05 22:50] yaakov-h commented on #18414
@jmarolf the answer @brian-reichle gave is mine as well, we're working on the same Analyzers. 😄

[2017-04-05 23:00] mattwar commented on #5835
Yes, do this. 👍

[2017-04-05 23:03] jmarolf commented on #18465
This is caused by a failing refactoring. Full solution analysis is enabled so it could be any of the test files in use [here](https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspaceBase.cs#L58).

`public class Class1 { }`
`public class Class2 { Class1 c; }`

[code]

[2017-04-05 23:05] CyrusNajmabadi commented on #18467
I think we should not add 'Async'.   There's two types of 'async'.

1. 'async' the keyword, which allows you to use 'await' in your body.  And
2. actually Task (or task-like) async, regardless of how you actually implement your body.

Your task/task-like methods should be called 'Async' to make it clear that these are Task returning and you should do something about that.  Something void, is not t

[2017-04-05 23:09] jamesqo opened #18481 "ExtractMethodCodeRefactoringProvider crashes after a local function is pasted into a method"
**Version Used**: VS 2017

[code]

Here is the code I was writing at the time:

[code]

I had just deleted the two `Assert.Equal` statements from below `var product = ...` and pasted them into the body of the local function when the crash happened.

If it's relevant, here is the code for the `Term` class in my project. Luckily it's largely self-contained:

[code]

[2017-04-05 23:27] VSadov opened #18483 "Examine friendliness of stack-only error messages."
Some error messages are pretty generic and reported while lowering. That was ok when errors were expected to be rare.
With spans these errors could be more common. We should review and refine the error messages and consider moving the detecting that happens in lowering to binding.

[2017-04-05 23:31] alexmcmillan commented on #7364
+1 Irritating as hell.

[2017-04-05 23:36] jmarolf commented on #18465
@CyrusNajmabadi we are seeing it crash [here](https://github.com/dotnet/roslyn/blob/master/src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs#L125) with a null `Parent`

[2017-04-05 23:39] 333fred commented on #18465
Full dump at the null site: "\\mlangfs1\public\frsilb\dumps\integration_test_hang\devenv_integration_test_hang_at_null.dmp"

[2017-04-05 23:44] jmarolf commented on #18414
@yaakov-h @brian-reichle Ah, well I am sorry that I have no easy fix for you other than creating a new netstandard project.   I don't think I'll have time this week to publish those new templates :( but here is an example project file on a netstandard project that should get you started.

[code]

[2017-04-06 00:31] taori commented on #18423
I agree that probably every potential use case i could come up with could be resolved by doing code review. However not every company is big enough to do code reviews, because of reasons like management being too stubborn and not seeing the necessity in it.

This leaves companies, which are focused on project based development, who potentially barely plan on any budget towards QA, with holes in th

[2017-04-06 01:12] jmarolf commented on #18423
@taori There is nothing that we can do to stop developers from doing things on their machines.  A developer could uninstall an analyzer from their project.  I guess we could try and block that, but its a losing battle.  Fundamentally, we don't have anything that can lock a developers machine down like that.  Personally I prefer to trust devs to follow team rules and do whatever validation they can

[2017-04-06 01:15] jmarolf commented on #18423
@taori I do think there is something here though.  Perhaps an easy way to push a set of settings across a team and manage them.  Would you find that useful?

[2017-04-06 01:25] gafter opened #18486 "Compiler treats hidden member as a member"
According to the C# spec, the following should be an error. But the compiler permits it

[code]

Similarly, the following should be an error, but is permitted by the compiler

[code]

[2017-04-06 01:30] taori commented on #18423
Yes, very. A team shared setting to manage analyzer settings would already be a big help, since it would centralize where those settings are and thus allowing to keep track of how they are being set. I think it's resharper which has a similar feature for code style settings, which can also be put into specific locations, which will lock in code styles and prevent overrides. [Resharper - EditorConf

[2017-04-06 01:39] jmarolf commented on #18423
@taori editofconfig support was added to Visual Studio 2017.  R# made sure that they respected them, but you can specify code and naming styles in editorconfig without R#.  Today you can use a ruleset file to configure what severity analyzers are set at across your team. Roslyn does that [here](https://github.com/dotnet/roslyn/blob/master/build/Rulesets) though our setup is admittedly more complex

[2017-04-06 01:52] taori commented on #18423
@jmarolf Yeah, i thought the first time i heared about editorconfig was in some connect video i've watched. I am very glad to hear that. Looks like there will only be feature layering to be done in order for analyzer rulesets to be set up in an intuitive way. At least i was not aware that they existed until now.

In that case i guess this issue can be closed, since it sounds like this feature may

[2017-04-06 02:05] rchande opened #18488 "VisualStudio.SolutionExplorer.AddFile(open: true) doesn't open the file"
Currently worked around in https://github.com/dotnet/roslyn/pull/18440 with an extra call to VS.SE.OpenFile

[2017-04-06 02:49] yaakov-h commented on #18414
It doesn't seem like I can manually install the Microsoft.CodeAnalysis.CSharp.Workspaces package into a .NET Standard 1.3 project...

[code]

[2017-04-06 02:54] yaakov-h commented on #18414
I tried to manually add the `PackageReference` element to the csproj and now I'm getting compiler errors relating to `System.Composition` not existing.

I'd guess it might be possible to build a 2.0-targeting Analyzer if I reference .NET 4.6, but it appears to be impossible with .NET Standard.

[2017-04-06 03:18] jmarolf commented on #18414
@yaakov-h you need  `<PackageTargetFallback>portable-net45+win8+wp8+wpa81</PackageTargetFallback>` in your csproj file

[2017-04-06 03:26] #17785 closed

[2017-04-06 03:27] jcouv commented on #18169
I didn't want to introduce two different diagnostics, but updated message. Hopefully that should minimize the confusion.
`warning CS8123: The tuple element name 'b' is ignored because a different name or no name is specified by the target type '(int a, int)'.`

[2017-04-06 03:27] jcouv commented on #18169
Closed by #18454

[2017-04-06 03:27] #18169 closed

[2017-04-06 03:29] jcouv commented on #17785
We had previously fixed the message to print the target type including element names. I also further refined the diagnostic by tweaking the message (PR #18454).
`warning CS8123: The tuple element name 'b' is ignored because a different name or no name is specified by the target type '(int a, int)'.`

I think that should close this issue.

[2017-04-06 04:43] jcouv opened #18491 "VB: inline a local updates code that should be left unchanged"
In the code below (from `CompilationEmitTests.vb`), inline `peImage`
I don't expect irrelevant code to be rewritten. But inlining the local produces much more complicated code above (which I wouldn't expect to change at all).

Before:
![image](https://cloud.githubusercontent.com/assets/12466233/24738131/8b9f79e2-1a48-11e7-805b-1c4e4044d330.png)

After:
![image](https://cloud.githubusercontent.com/

[2017-04-06 04:55] yaakov-h commented on #18414
@jmarolf aha, I missed that detail. Thanks!

[2017-04-06 04:57] jcouv opened #18492 "Arrows don't navigate Edit.Find box as expected"
## Repro
1. Press Ctrl-F (for Edit.Find)
2. Type something in the search box
![image](https://cloud.githubusercontent.com/assets/12466233/24738377/2226ae7a-1a4a-11e7-8fa5-b5fbb2776a85.png)
3. Press tab once, then use arrow keys (right then down) to go to "Find Next", "Find Previous", "Find All". This works as expected.
![image](https://cloud.githubusercontent.com/assets/12466233/24738405/6239d7c6-

[2017-04-06 05:44] jcouv commented on #13602
This is feature complete, as far as I can tell. No known work left. Completed a manual test pass in IDE.
Ready to merge back to master. I'll close this list now.

[2017-04-06 05:44] #13602 closed

[2017-04-06 05:50] jcouv commented on #18212
I ended up not blocking it.

[2017-04-06 05:50] #18212 closed

[2017-04-06 06:19] davkean opened #18493 "Merge bot keeps pushing empty branches to origin"
I'm constantly deleting merge branches on project system that have no changes. I speculate based on the naming of them (in that they have consecutive dates) that the merge bot is pushing branches to origin even when they have no changes. This might be okay when it used to have a fork, but given it now pushes directly to the repo - it would be great if it didn't do that as these become visible to v

[2017-04-06 06:20] gafter commented on #18486
I blame @ericlippert ;)

[2017-04-06 06:21] davkean commented on #18493
@jasonmalinowski What's the trick to get this on a infrastructure backlog?

[2017-04-06 06:25] jcouv commented on #18481
FYI @agocke

[2017-04-06 06:31] jcouv commented on #18462
Thanks @TessenR for reporting this.
Based on the stack, this is a duplicate of https://github.com/dotnet/roslyn/issues/17229
I will close this present issue and you can subscribe to the other one to track progress.

[2017-04-06 06:31] #18462 closed

[2017-04-06 06:35] jcouv commented on #18458
I see that @svick [already answered ](http://stackoverflow.com/a/43237319/172315) on stackoverflow.
Closing this question.

[2017-04-06 06:35] #18458 closed

[2017-04-06 06:49] jcouv commented on #18394
@spadapet Can you open the two assemblies in ILSpy and confirm whether one is type-forwarding to the other?

Type-forward appear like this (when C# output mode in set in ILSpy):
![image](https://cloud.githubusercontent.com/assets/12466233/24741140/95398cac-1a59-11e7-9adf-453b70740814.png)

@tmat The link that you provided treats `Windows.Foundation.Point` specially, as a "projected type". What doe

[2017-04-06 06:50] jasonmalinowski commented on #18493
@davkean: there's "Infrastructure" projects you can add if you click to the right.

[2017-04-06 06:53] jcouv commented on #18237
Yes. I realized this problem as well. The [fix ](https://github.com/dotnet/roslyn/pull/17894/files) will ship in dev15.3 along with C# 7.1. I've also added a checklist so that we don't forget for next time.

[2017-04-06 06:53] #18237 closed

[2017-04-06 06:54] jcouv commented on #18237
Thanks @dzeitlin for reporting the problem.

[2017-04-06 06:54] jcouv commented on #18188
FYI @gafter

[2017-04-06 06:58] jcouv commented on #18098
Based on the linked stack trace, it looks like a project system issue.
@srivatsn Can you take a look and route/assign?

[code]

[2017-04-06 07:22] fabsenet commented on #15556
We have a TFS2012 build server building our website and after installing the packages, the build is no longer "copy&pasteable" to an iis folder, because, all the roslyn files are no longer in the subfolder "bin/rosly/" but they are all in "bin/":

final location of csc.exe in drop folder is:
\\server\buildresults\buildname\buildnameWithDate\ConfigurationName\_PublishedWebsites\WebProject\ **bin**

[2017-04-06 07:34] davkean commented on #15753
Still running into this, light bulb only shows on this line if I press CTRL+.
![image](https://cloud.githubusercontent.com/assets/1103906/24742821/2fac6d8c-1aef-11e7-83b9-34e1b5f1105f.png)

[2017-04-06 08:25] atifaziz opened #18497 "Inconsistent C# Interactive behaviors for #r directives with DLL extension"
## Version Used

Microsoft&reg; Visual C# Interactive Compiler version 2.0.0.61501 (shipping with Visual Studio 2017)

## Steps to Reproduce

1. Start a C# Interactive session from the command-line using `csi.exe`
2. Enter: `#r "System.Xml.dll"`
3. Enter: `#r "System.Data.dll"`

## Expected Behavior

Expected the reference to `System.Data.dll` to succeed.

## Actual Behavior

The reference to `Sys

[2017-04-06 09:17] abhijitparkhi1983 commented on #18142
@cston

For **sementicModel.GetSymbolInfo(node)**, following are the values for the required attributes:

1. **CandidateReason**: None.
2. **CandidateSymbols**: Length = 0.

What do u mean by **Run-time Type of SemanticModel Instance**? Do u mean to say SemanticModel's **Compilation.ObjectType** ??

One important point to note:
1. **SemanticModel.Compilation.References returns Empty List for versi

[2017-04-06 12:06] flcdrg commented on #18463
Ok.. I see why I'm confused. I was seeing 'CodeAnalysis' and assuming they were all analysers (probably a hang over from using FxCop) - but actually now I understand that those are all Roslyn things, and it's really just the .Analyzers packages (as you say) that are analyzers.

[2017-04-06 12:06] #18463 closed

[2017-04-06 12:48] Nassiel commented on #18460
Aha, well, obviously I told you how to reproduce the steps means how to break the solution to the same status than mine was. The "remove option" is going to the appdata/.nuget folder and remove the version of those packages.

The situation for me was completely different, I updated the project from a really far way commit and I found that the restore command found errors from the nuget package man

[2017-04-06 12:58] Rabadash8820 commented on #18466
@Pilchie  I didn't know about that "Enable full solution analysis" option, I will definitely need to read up on that.  Regarding 1, did you mean that at this point you can _not_ see a good reason to prefer public fields?  If that's the case, then wouldn't an .editorconfig setting for preferring auto-props be desirable?

[2017-04-06 13:56] AmycoFr opened #18498 "Compilation error in VB.Net released 5 April 2017"
**Version Used**: Last VS 2017 Community release uploaded 05/04/2017

**Steps to Reproduce**: Serious compilation error in VB.Net

**My code**

    Public ReadOnly Property IsNomMajuscule As Boolean
        Get
            If Text.Length < 2 Then Return False

            Dim nLettre = 0
            For Each c As Char In Text
                If Char.IsLetter(c) Then
                    nLettre +=

[2017-04-06 15:35] stephentoub commented on #18467
I have mixed opinions here.

On the one hand, I like being able to look at a method and know whether it's going to have initiated work that may continue on beyond when it returns to me synchronously.  That gives me a very strong hint as to whether I can immediately use state that method may have had access to (e.g. a byte[] buffer I passed to it), or whether I need to worry about possible race con

[2017-04-06 15:44] rchande opened #18499 "Multiple info bars in VB file"
New VB console app with the following text:
[code]
Place the caret at position 0 (before class).
Two error bars appear:

'VisualBasicInitializeMemberFromParameterCodeRefactoringPorivder":
[code]

 'VisualBasicAddParameterCheckCodeRefactoringProvider':
[code]

[2017-04-06 15:45] rchande commented on #18499
I have VS set up to dogfood Roslyn and 2.3.0.6160605 is currently installed.

[2017-04-06 15:52] spadapet commented on #18394
I don't see any of those TypeForwardedTo assembly attributes. Here is what I see. The paths to the DLLs came directly from Roslyn's Compilation.References

![image](https://cloud.githubusercontent.com/assets/2523431/24763363/fe624ba0-1aa5-11e7-8641-3a5dc7f7f621.png)

![image](https://cloud.githubusercontent.com/assets/2523431/24763385/0fbdcb9a-1aa6-11e7-8454-eeb2fcb0f333.png)

![image](https://clo

[2017-04-06 15:58] Pilchie commented on #18466
@Rabadash8820 I did mean that (and edited inline to avoid future confusion).

You're right though that we could add an editorconfig setting and diagnostic to push people to properties when they have public fields.  I would expect that to come from the roslyn-analyzers project once we get it backed by editorconfig and more integrated into product.  See [`NonConstantFieldsShouldNotBeVisible`](https:

[2017-04-06 15:58] Pilchie commented on #18466
@jinujoseph - FYI, another diagnostic that already exists in roslyn-analyzers that we should probably just have on by default as a suggestion in VS...

[2017-04-06 15:59] cston commented on #18142
Perhaps the issue is with the project. I created C# Console Application targeting 4.6.1 for both 1.3.2 and 2.0.0. What project type did you create for 2.0.0?

[2017-04-06 16:04] Pilchie commented on #18492
The VS Platform editor team owns find. Please file on VSTS or through send feedback.

[2017-04-06 16:04] #18492 closed

[2017-04-06 16:11] tmat commented on #18394
@jcouv There won't be any type forwarders. The projections are hard-coded in the metadata reader. See link above.

[2017-04-06 16:12] jcouv commented on #18492
Filed https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/405056

[2017-04-06 16:16] tmat commented on #18497
Interesting :-o

[2017-04-06 16:26] hughbe commented on #14098
@gafter friendly ping, I know you're busy. Feel free to point someone else my way

[2017-04-06 16:31] gafter commented on #18486
The nesting is a red herring. This is also permitted by the compiler:

[code]

[2017-04-06 16:37] 0x53A opened #18500 "[Performance] Inline Rename takes minutes to update two references"
**Version Used**:
![image](https://cloud.githubusercontent.com/assets/4236651/24765000/7f0776f4-1af6-11e7-961d-0b0a8a32e706.png)

**Steps to Reproduce**:

Using Inline Rename (Ctrl + R + R) on a method, with two locations (definition and one call) takes literally minutes.

This is in a solution with aprox. 60 C# projects, one C++/cli project and 5 F# projects.

**Expected Behavior**:

It should fi

[2017-04-06 16:41] srivatsn commented on #18098
This issue was moved to dotnet/project-system#1936

[2017-04-06 16:45] abhijitparkhi1983 commented on #18142
Hello @cston
We have created a console application as well with 4.6.1 as a target framework for both 1.3.2 and 2.0.0.
You can check out on the project which I have shared at https://www.dropbox.com/sh/x0al5alppkjxfdo/AACBYsvScWh0pPlvWmmh_zOEa?dl=0

[2017-04-06 16:47] Rabadash8820 commented on #18466
Cool, I appreciate your considering these suggestions!

[2017-04-06 16:51] gafter commented on #18486
@MadsTorgersen

In [Member lookup](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#member-lookup) it says

I am surprised to find absent anything about [method hiding](https://github.com/dotnet/csharplang/blob/master/spec/classes.md#inheritance) by a method with the same signature:

My question is, in short: is this actually a bug, or just something that is really unclear in t

[2017-04-06 17:14] gafter commented on #18486
I've opened an issue against the ECMA specification, which reads:

In 9.7.2.3 we have

However, there is nothing in the name lookup rules making hidden methods inaccessible, or preventing them from being found during name lookup.

In 13.5.1 (Member lookup) it says

Note that there is no reference to signature comparisons in the name lookup rules. There is also the apparently non-normative commenta

[2017-04-06 17:29] CyrusNajmabadi commented on #18499
Fixed with https://github.com/dotnet/roslyn/pull/18487

[2017-04-06 17:29] #18499 closed

[2017-04-06 17:46] debonte opened #18504 "IDE offers suggestion to "Inline temporary variable" where it results in a build error"
**Version Used**: 2.01.0.61520 (d15prerel 26404.00)

**Steps to Reproduce**:

This is similar to #3846, but results in a build error instead of a code behavior change, so perhaps Roslyn should be able to detect this scenario and not offer "Inline temporary variable"?

1. Create a blank C# console app
2. Add the following methods to the Program class:
[code]
3. IDE provides lightbulb to "Inline tem

[2017-04-06 18:03] jcouv commented on #2184
This mini-spec has been expanded into a more detailed design doc (https://github.com/dotnet/roslyn/pull/18501/files). I'll close this issue. The remaining refinement work items are tracked by #17612

[2017-04-06 18:03] #2184 closed

[2017-04-06 18:05] jcouv commented on #16306
Load-balancing back to Aleksey. I didn't get time to investigate.

[2017-04-06 18:44] mavasani opened #18506 "IOperation API entries should stay in PublicAPI.Unshipped.txt"
https://github.com/dotnet/roslyn/pull/18434

Seems like this PR incorrectly moved unshipped IOperation APIs to PublicAPI.Shipped.txt.

Anything that touches the IOperation API surface should be unshipped:
  1. OperationKind
  2. IOperation API surface in MS.CA.Semantics namespace (which includes the IOperation interfaces, OperationWalker, OperationVisitor, etc.)
  3. SemanticModel.GetOperation API

[2017-04-06 18:44] gregg-miskelly commented on #18350
Here are a few more interfaces we will need from a quick review of the EnC APIs --

1. Quickly determine if there are changes to be applied (should ApplyCodeChanges be enabled, and should we actually try to set breakpoints).
2. Mapping from original file/line/column to current positions when there are changes that haven't been applied yet. For example, when we change the current stack frame, so th

[2017-04-06 18:45] MgSam commented on #6788
@alrz Can you port this issue to the CSharpLang repo?

[2017-04-06 18:55] gafter opened #18507 "Checklist for completion of private protected feature"
See also https://github.com/dotnet/csharplang/issues/37

- [x] Developer needs to do an IDE test pass to ensure basic functionality is maintained. See [IDE Test Plan](https://github.com/dotnet/roslyn/blob/master/docs/contributing/IDE%20Test%20Plan.md)
- [x] Reviewer needs to create a flavor of the test plan for the feature involved.  In many cases this will just be stripping out unnecessary elemen

[2017-04-06 19:07] #18465 closed

[2017-04-06 19:32] jaredpar commented on #18498
Moving to the debugger team.  The compiler hasn't made any changes in this time frame and hence is unlikely to be the source of this bug.  Seems more likely to be EE related.  Verified it doesn't repo on RTM, had issues with my dogfood build so haven't been able to check against latest preview.

[2017-04-06 19:32] jaredpar commented on #18498
CC @jinujoseph

[2017-04-06 19:55] sharwell commented on #18506
💭 It's my understanding that PublicAPI.Shipped.txt is intended to reflect the APIs which were accessible in a release which was declared stable. It's primary purpose is to increase awareness regarding changes to what a consumer could have been accessing without the use of reflection. By this approach, the IOperation APIs should be included in PublicAPI.Shipped.txt, even if the API review process t

[2017-04-06 20:02] mavasani opened #18509 "Missing FieldReferenceExpression operations in collection initializers"
Ported from https://github.com/dotnet/roslyn-analyzers/issues/933

=================================

#### Microsoft.Maintainability.Analyzers
#### AvoidUnusedPrivateFieldsAnalyzer
#### Repro steps
1. Open Analyzers.sln
2. Change Dependencies\CodeAnalysis\project.json to include: `"Microsoft.CodeAnalysis.FxCopAnalyzers": "1.2.0-beta1"`
3. Restore NuGet packages for solution
4. Open BasicInvokeTheC

[2017-04-06 20:10] sharwell commented on #18467
I'm in favor of keeping the `Async` suffix. A more appropriate way to avoid the suffix for this case is to remove `async void` methods from the code altogether.

[2017-04-06 20:12] mavasani commented on #18506
I am fine with either approach: keeping only shipped, supported APIs in shipped.txt versus keeping only publically accessible APIs in a stable release. However, my understanding is that these APIs were publically accessible even in VS2015 Update3 (1.3.0 release) and the design time explicitly requested us to keep them in the unshipped file to avoid continuous churn of shipped.txt.

Tagging the rel

[2017-04-06 20:12] CyrusNajmabadi commented on #18467
I don't feel strongly about this one way or the other.  And i like stephen's point that it still helps indicate to your caller that this isn't just a synchronous do-all-work-and-return method.

[2017-04-06 20:26] gafter commented on #14098
The current spec is at https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#user-defined-conditional-logical-operators which says

In this case the operands (which are nullable types) are not of a type that declares these operators. So these requirements are not satisfied.

Having said that, it isn't totally clear in the spec, and I'll file an issue for that to be clarified.

Anywa

[2017-04-06 20:26] sharwell commented on #18423
@taori For a quick audit, you could create a search for all files in a project which contain your analyzer ID. If anyone tried to use `#pragma warning disable` or `[SuppressMessage]`, it will show up in the search query.

[2017-04-06 20:35] sharwell opened #18510 "Incorrect IDE0004 (Cast is redundant) when negating enum value"
**Version Used**: Visual Studio 2017 (15.1 - 26403.0)

**Steps to Reproduce**:

[code]

**Expected Behavior**:

IDE0004 is not reported for the `(int)` cast in `(int)mySign`.

**Actual Behavior**:

IDE0004 is reported for the `(int)` cast in `(int)mySign`. Removing the cast results in the following compilation error:

**Reference**:

This appears related to, but not quite a duplicate of #11008.

T

[2017-04-06 20:42] jaredpar commented on #18506
Yes.  They are public but not supported.  There isn't really a good way to classify them because there really isn't any other API like it.

Correct.  The churn of IOperation in shipped was making it hard to differentiate actual breaking changes from normal IOperation churn.  IIRC caused us to miss one compat issue hence we added this rule.

[2017-04-06 20:44] lachbaer opened #18512 "VisualStudioSetup and /rootsuffix RoslynDev crash in current master branch"
I tried it several times to clean, restore and recompile, always the same problem as stated in the title.
Until now my previous compilations all worked.
I'm trying C# features.

[2017-04-06 20:47] Pilchie commented on #18512
Can you post the callstack of the crash? Also, can you confirm that you're on VS2017, and that you have VisualStudioSetup.*Next* as the startup project?

[2017-04-06 20:48] sharwell commented on #18506
One interesting solution would be incorporation of a "Preliminary" status which the Public API analyzer is aware of. See the **Preliminary Features** section at the bottom of the following page for one case where I used this designation:
http://tunnelvisionlabs.github.io/dotnet-threading/docs-latest/html/e02b9881-f06b-4420-aace-71b176d635db.htm

[2017-04-06 20:55] Pilchie commented on #18506
Such a concept could also help with F#/TypeScript internal dependencies.

[2017-04-06 20:58] AnthonyDGreen commented on #1515
Yeah, just ran into this myself.
![image](https://cloud.githubusercontent.com/assets/10539978/24775197/a52457a6-1ad0-11e7-91ed-57c50f6c13d5.png)

All that empty space next to the exceptions seems kind of a waste and without the reasons the list of exceptions is less useful. But that's just my first impression. I'll keep using it and see if I feel that way.

[2017-04-06 21:01] AmycoFr commented on #18498
Hi Jared,
Thank you fir your prompt response.
I do not know what "Seems more likely to be EE related." means. Is there a setting that would have moved in this VS update?
 
I tried all forms of writing, with intermediate variables. The result is always the same. I created a new project and added this code. Then there it works properly ...
 
In other Class of my development, I also have identical co

[2017-04-06 21:03] OmarTawfik commented on #11497
I'll keep this around until all tests are migrated to be cross-platform as well.

[2017-04-06 21:05] Pilchie commented on #18481
Duplicate of #17165

[2017-04-06 21:05] #18481 closed

[2017-04-06 21:06] jaredpar commented on #18498
This means it seems like it's more likely to be an issue in how the debugger is displaying data than how the code is actually executing.  The term EE short for Expression Evaluator which is a component of the debugger.

Have you tried writing the value to the console with `Console.WriteLine`?  That is a technique for determining if it is a debugger display issue, or an actual representation of the

[2017-04-06 21:08] Pilchie commented on #18491
Is this a dupe of https://github.com/dotnet/roslyn/issues/7504?

[2017-04-06 21:09] Pilchie commented on #18500
Tagging @mgoertz-msft and @AndyGerlicher.  This is when we're calling into Xaml, but it looks like they are calling into MSBuild, and there is a wildcard expansion somewhere that is causing a big disk enumeration?

[2017-04-06 21:09] lachbaer commented on #18512
@Pilchie
I am on VS2017, my startup project is "VisualStudioSetup" - without .Next - and compiling according to the Wiki.

[2017-04-06 21:10] CyrusNajmabadi commented on #1515
I agree with kevin.  I'd be very worried by how cluttered this could become.  It's interesting to me that we haven't gotten any feedback over this over the years.  If we were to do something like this, I would likely want a way to collapse this so that the main meat of the quickinfo weren't drowned out by all the information around exceptions.

[2017-04-06 21:13] Pilchie commented on #18504
Hmm - I can't repro this.  It did the inline correctly for me.

In any case, our general design is *NOT* to block refactorings like this.  Once users know about them, they often want to do the refactoring even if it temporarily introduces a problem, because it's still a shortcut on the way to their final destination.

[2017-04-06 21:13] #18504 closed

[2017-04-06 21:20] lachbaer commented on #18512
@Pilchie
VisualStudioSetup*.Next* is working 😄
What's the point of keeping the ordinary "VisualStudioSetup" still in master branch then and mentioning it in the Wiki?

[2017-04-06 21:22] sharwell commented on #18354
I was just looking at how the naming styles configuration might relate to #18467, and realized that while it's possible to enforce that a particular method ends in `Async`, it's not possible to enforce that a method does *not* end with this suffix. Given that there is also no way to create a naming specification based on the return value, it's probably not the only limiting factor for creating an

[2017-04-06 21:33] CyrusNajmabadi commented on #18467
Based on the three pieces of feedback i've heard, i'm going to consider this by-design for 'make async'.

[2017-04-06 21:34] #18467 closed

[2017-04-06 21:35] Jinhuafei commented on #15556
The root cause of the issue is the CodedomProvider copies Roslyn assemblies to $(OutDir)Roslyn folder which is supposed to be the bin folder under your web application. However on your build server, $(OutDir) points to a different location. You can try the workaround mentioned on this [SO thread](http://stackoverflow.com/questions/32780315/could-not-find-a-part-of-the-path-bin-roslyn-csc-exe). I o

[2017-04-06 21:51] mgoertz-msft commented on #18500
Well, we are just asking the VS project for its references and that seems to be calling into msbuild. That said, we do have it in our backlog to improve the experience around refactor rename, go to definition and find all references but that is a non-trivial effort that won't happen any time soon.

[2017-04-06 21:53] Pilchie commented on #18500
In the meantime - does pressing ESC during this still cancel it?

[2017-04-06 21:55] 0x53A commented on #18500
No, the progress box opens, but the cancel button is greyed out. The only way to cancel would be task manager.

[2017-04-06 21:57] Pilchie commented on #18500
"It" being the call search?  I guess in this case it is blocked in the MSBuild call, so that won't take effect until it returns.

[2017-04-06 21:57] gafter opened #18515 "C# Specifications are not up to date"
We are shipping an out-of-date specification for C# with Visual Studio. We should stop doing that and link to the online specifications.

This is also [tracked internally at 405168](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems?id=405168&_a=edit). and [428131](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems?id=428131&_a=edit).

[2017-04-06 22:21] 0x53A commented on #18500
Btw, the one callstack is inside disk io, but the whole time, vs uses one core, I think it is (mostly) cpu bound.

__microsoft.build.ni.dll!Microsoft.Build.Execution.BuildSubmission.Execute__

That probably does a design time build?

Maybe one of the projects is messed up, so that a design time build actually does a full build?

[2017-04-06 22:22] jmarolf opened #18516 "Make the Roslyn wiki editable by the public"
The [Roslyn wiki](https://github.com/dotnet/roslyn/wiki) is woefully out of date and contradicts some of the documentation checked into Roslyn/master.  We should either delete this wiki or update it and make it possible for the community to submit PRs against it[ like what typescript has done](https://github.com/Microsoft/TypeScript-wiki).

[2017-04-06 22:23] sharwell commented on #15753
@davkean I'm looking at the same behavior happening for me in a file right now. So there's that. 😕

[2017-04-06 22:29] cston commented on #18142
Thanks @abhijitparkhi1983. I compiled and ran your 2.0.0 project with Microsoft Visual Studio Community 2015 14.0.25431.01 Update 3. `symbolInformation` was non-`null`:
[code]

[2017-04-06 22:31] jcouv commented on #18491
Could be related, but this example seems worse as it replaces a simple call to an extension method `Select` with `Linq.ImmutableArrayExtensions.Select`.

[2017-04-06 22:44] dpoeschl opened #18517 "CSharpInitializeMemberFromParameterCodeRefactoringProvider encountered an error and has been disabled"
**Version Used**: Latest dogfooding bits as of this writing.

**Steps to Reproduce**:

1. Checkout this branch: https://github.com/dpoeschl/roslyn/tree/CSharpInitializeMemberFromParameterCodeRefactoringProviderFailure
2. Open "CSharpGoToImplementation.cs"

**Expected Behavior**: No infobar errors.

**Actual Behavior**: Infobar error:

[code]

[2017-04-06 22:48] dpoeschl commented on #18517
(Cyrus already fixed this)

[2017-04-06 22:57] CyrusNajmabadi commented on #18517
Reopening so i can close with gusto!

[2017-04-06 22:58] Pilchie commented on #18500
Can you get a perfview trace for us to look at?

Trace instructions:
•             Download PerfView from http://www.microsoft.com/en-us/download/details.aspx?id=28567 and unzip/copy to a temp directory.
•             From an admin command prompt, run the following to start recording:

c:\temp\perfview.exe collect c:\temp\ReproTrace.etl -CircularMB:4096 -Merge:true -Zip:true -Providers:641d7f6c-48

[2017-04-06 23:00] Pilchie commented on #18491
That's still just expand/reduce being called.

[2017-04-06 23:01] jcouv opened #18518 "Possibly redundant filtering of diagnostics in CompileMethods"
The `GetDiagnostics` method already applies the same filtering.

[code]

[code]

[2017-04-06 23:42] CyrusNajmabadi commented on #18517
Closing with prejudice.

[2017-04-07 00:21] AnthonyDGreen commented on #1515
@CyrusNajmabadi

I can't speak for Craig but prior to VS2015 VB Quick Info didn't display this information at all. And I don't usually use Quick Info in this way. And to my knowledge Roslyn much of the Roslyn APIs (and certainly the internals) don't provide any exception info or if they do they provide types but not reasons. This particular method both has exception type info and reason info _and_

[2017-04-07 00:37] Pilchie commented on #18512
@lachbaer We keep it around because we plan to re-purpose it for Dev16 at some point.

I've updated the wiki though - sorry for that!

[2017-04-07 00:54] Pilchie opened #18522 "OOM in Diagnostic analyzer after changing branches in git"
**Version Used**:
VS: 15.2 (d15rel.26405.2)
Roslyn: 2.3.0.6160605

**Steps to Reproduce**:

1. Open Roslyn.sln and work for a while (with FSA on).
2. Switch Git branches.
3. Choose NOT to reload projects, but do reload files.
4. Close VS.

**Actual Behavior**:
Dump at:
"\\mlangfs1\public\kevinpi\devenv.exe.11980.dmp"

VS OOMs with the stack:
[code]

[2017-04-07 00:54] Pilchie commented on #18522
@mavasani or @heejaechang care to take a look?

[2017-04-07 00:58] jaredpar commented on #18516
My 2 cents: move it to mark down files in the doc folder and delete.  Making it public is not a good idea because it's too easy to abuse.  Or for even well intentioned developers to accidentally put up bad information.

I still remember my horror when I got an email from a developer who appologized because they had deleted several pages from my VsVim WIKI.  I was able to recover but then looking t

[2017-04-07 01:13] lachbaer commented on #18512
@Pilchie Thank you very much for the immediate help! Much appreciated :-)

I keep this issue open for a while in case others currently have the same problem.

[2017-04-07 01:30] Pilchie commented on #18460
What were the restore errors?

[2017-04-07 01:44] tmat commented on #18516
I keep Scripting and ENC up to date. If we move it elsewhere we should add links to the new location.

[2017-04-07 01:45] tmat commented on #18516
The benefit of wiki is that updates don't go thru Jenkins.

[2017-04-07 04:05] abhijitparkhi1983 commented on #18142
Thanks @cston

I think thats the point. On my side, it works for Roslyn Version 1.3.2 and does not for Roslyn Version 2.0.0.
So there has to be some additional installation/package required for Roslyn Version 2.0.0 to work well for the above mentioned scenario.
If the code which I have shared with the team works for Version 2.0.0 as it is on your side, that means there isn't any package related is

[2017-04-07 05:25] jmarolf commented on #18516
Typescript has a public github repo that people can submit pull requests to (https://github.com/Microsoft/TypeScript-wiki) that they then push to the github wiki site (https://github.com/Microsoft/TypeScript/wiki).

[2017-04-07 06:04] fduman opened #18524 "Build problem with Turkish(Turkey) regional settings"
**Version Used**: VS 2017 Enterprise / 15.1 (26403.0) Release

**Steps to Reproduce**:

1. Change Windows's regional settings to Turkish (Turkey).
2. Run Restore.cmd.
3. Run Build.cmd.

**Expected Behavior**: Build.cmd should run without any error.

**Actual Behavior**: There are lots of errors and build failed.  I also cannot build the solution on Visual Studio too.

Output file:  [build.txt](htt

[2017-04-07 07:00] fduman commented on #18524
I may have found the source of the problem. But I have no idea how to test the solution.

I think, in [this line](https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/CSharpParseOptions.cs#L70), we should use the "ToImmutableDictionary" method with StringComparer.OrdinalIgnoreCase parameter. Like:

[code]

[2017-04-07 08:06] lachbaer commented on #18512
@Pilchie
The Wiki link to "Building testing and debugging" on Windows is broken now.

[2017-04-07 08:12] lachbaer opened #18526 "Implemented dotnet/csharplang#323"
@gafter
I have implemented your proposal dotnet/csharplang#323 together with dotnet/csharplang#328 (default coalescing operator). It wasn't so complicated after all. Maybe there are some side-effects I have overseen?
Currently there are no tests.

I would like to submit a PR for a first review.

(See https://github.com/lachbaer/roslyn/tree/DefaultCoalescingOperator)

~Update:
I just encountered a

[2017-04-07 11:28] sharwell commented on #18524
@fduman Thanks for taking the time to narrow this down to a specific case where we can reproduce it. I sent a link to this issue to some team members who work on the build infrastructure; one or more of them should be posting back here soon. 👍

[2017-04-07 14:03] alrz commented on #6788
@MgSam Yes. I'm on it.

[2017-04-07 15:03] 0x53A commented on #18500
I have created a trace of the issue.
This seems to have traced machine-wide, so I would rather not upload it publically.

I have sent the download link to the email from your github profile @Pilchie, hope that is ok.

[2017-04-07 15:32] Pilchie commented on #18500
Perfect - thanks!  We'll try to take a look at it later today.

[2017-04-07 15:53] NSentinel opened #18527 "Inconsistent CS0019 behaviour with nullable enum types"
**Version Used**:
Microsoft Visual Studio Enterprise 2017
Version 15.1 (26403.0) Release
VisualStudio.15.Release/15.1.0+26403.0
Microsoft .NET Framework
Version 4.7.02046

**Code to Reproduce**:

[code]

**1. Compilable version**:

[code]

**2. CS0019 version** (`0` changed to `1`):

[code]

**3. "Fixed" CS0019 version**:

[code]

**4. Simplified version** (somewhat optimized code transformation f

[2017-04-07 16:02] sharwell commented on #18527
The literal 0 is implicitly convertible to any enum type, per [the following](https://github.com/dotnet/csharplang/blob/master/spec/conversions.md#implicit-enumeration-conversions) in the C# Language Specification. No such provision is made for other values.

[2017-04-07 16:05] NSentinel commented on #18527
@sharwell Thanks for quick but detailed answer, so `won't fix` ?

[2017-04-07 16:08] sharwell commented on #18527
@NSentinel No problem. 👍

[2017-04-07 16:09] #18527 closed

[2017-04-07 16:12] jaredpar commented on #18524
@fduman can you get a diagnostic log of the build and send that out?

I'm unsure at the moment if we intended feature options to be case sensitive or not.  Will have to wait for a few more people to get in today to track that down.

What concerns my though is that it shouldn't be necessary here.  Everything is done with exact case today and there are no places where it should be altered in the bui

[2017-04-07 16:15] gafter commented on #18526
@lachbaer To be clear, neither of these are my proposal. The first was proposed by @jacekbe and the second by @lachbaer (you). Neither of these proposals has a champion in the LDM, and neither has been through the language design process to result in a tentative specification against which I could review your implementation.

I am willing to champion the proposal https://github.com/dotnet/csharpla

[2017-04-07 16:20] gafter commented on #18526
I think we would more likely want https://github.com/dotnet/csharplang/issues/398 rather than https://github.com/dotnet/csharplang/issues/328 .

[2017-04-07 16:26] alrz commented on #6788
Moved to https://github.com/dotnet/csharplang/issues/419

[2017-04-07 16:26] #6788 closed

[2017-04-07 16:49] atifaziz commented on #18497
That was my initial sentiment too. 😄

BTW, C# Interactive from within Visual Studio doesn't exhibit this issue.

[2017-04-07 16:55] #17531 closed

[2017-04-07 17:00] tannergooding commented on #8888
Assigning this to @jinujoseph for retriage

[2017-04-07 17:00] tannergooding commented on #8724
Assigning this to @jinujoseph for retriage

[2017-04-07 17:20] AmycoFr commented on #18498
Hi Jared,

Thank you for the time you spent on my problem. I have provisionally resolved it as I told you, by completely changing code. I'm waiting to see what happens next.

But, just one clarification: no I have not tried to print the code on the console. I did not need it because, beyond the debuger (EE) display, the property returns the value displayed by the debuger! This then poses a problem

[2017-04-07 17:28] Pilchie commented on #18512
Thanks - I've fixed up some Wiki issues.  Looks like GitHub's change of Markdown parser broke some stuff, and I've put out https://github.com/dotnet/roslyn/pull/18529 to update the docs about contributing.

[2017-04-07 17:31] mavasani commented on #18522
@heejaechang I looked at the dump and it seems like we have large number of task continuations for diagnostic analysis events. Can you investigate?

[code]

[2017-04-07 18:21] vsccarl opened #18531 "Modifying VB Integer value while debugging causing crash"
**Version Used**: 2.2.0.6160306

**Steps to Reproduce**:

1. Create a new VB Console App
2. Replace code with:
[code]
3. Add a breakpoint on line 5 `Console.Writeline(index) `
4. Start debugguing, then continue at least once
5. In the Autos or Locals window, delete the value of `index` and type a new value

**Expected Behavior**:
The value changes and debugging can continue.
**Actual Behavior**:
V

[2017-04-07 18:23] heejaechang commented on #18522
will do.

[2017-04-07 18:24] mattscheffer commented on #18531
Debugging this shows the exception as the following:
[code]

Continuing brings up the following pop-up window:
![image](https://cloud.githubusercontent.com/assets/10537189/24813927/bdb998bc-1b84-11e7-8a93-a097e2c492c7.png)

[2017-04-07 18:33] 333fred opened #18532 "Unit test failure in roslyn internal"
Roslyn.Services.Editor.CSharp.UnitTests, CSharpEditorServicesTest. Test exited with this exception:
[code]

Creating an issue to track, we'll see if it repros in future runs.
https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/dev16/job/windows_release_unit64/39/

Full unit test log: [Roslyn.Services.Editor.CSharp.UnitTests.dll.4.out.log.txt](https://github.com/dotnet/roslyn/files/906483

[2017-04-07 18:47] vsccarl commented on #18531
I am also able to repro this issue in rtw.

[2017-04-07 19:07] nvankesteren commented on #18342
I have the same issue. I disabled ReSharper to not interfere with my EditorConfig rules, but even then -through lots of trial and error- I'm beginning to make sense of where the Visual Studio settings end and where Code Analyzer rules begin.

I made a fresh new project, and turned off all code analyzer rulesets explicity. Then I began building up a root EditorConfig file, rule by rule. Turns out,

[2017-04-07 19:08] Pilchie commented on #18500
Going to switch this to email for a bit.  From the trace, the time *is* spent all in MSBuild, but interestingly also in the C++ project system.

[2017-04-07 19:08] #18500 closed

[2017-04-07 19:45] mrchops1024 opened #18533 "Nuget package incompatibility between latest versions of CodeDom.Providers.DotNetCompilerPlatform and .Net.Compilers"
**Version Used**:
Latest version of VS2017

**Steps to Reproduce**:

1.  Create a ASP.NET web application with WebAPI
2.  Upgrade nuget package for Microsoft.Net.Compilers from v1.3.2 (default) to v2.0.1
3.  Publish (I tested via folder publishing)
4.  Test API

**Expected Behavior**:
I would expect the API to work without errors.

**Actual Behavior**:

If I downgrade the Microsoft.Net.Compilers p

[2017-04-07 19:55] #15508 closed

[2017-04-07 19:55] #18311 closed

[2017-04-07 20:17] dpoeschl commented on #18432
This uses `SyntaxDiffer.GetTextChanges(SyntaxTree, SyntaxTree)`, and I'm not sure whether the problem is in the linked file diff merging part, or the diffs themselves...

[2017-04-07 20:25] jmarolf commented on #18517
@CyrusNajmabadi @dpoeschl WAT

[2017-04-07 20:32] dpoeschl commented on #18345
@angelsix Thanks for the bug report! I'm not able to repro the problem you're seeing where this .editorconfig is squiggling "myParam". Is that your entire "naming" section of your .editorconfig? Do you have any additional Naming Rules set in the VS Tools | Options | Text Editor | C# | Code Style | General UI? Can you provide any more detail on that?

Regardless, "namespace" isn't currently a suppo

[2017-04-07 20:47] dpoeschl commented on #18340
@davkean These strings are not dynamic in that way. You can change the names of them through the UI, or create your own with special names. The first time naming styles starts up, it grabs a [localized XML blob](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/NamingStyles/Serialization/NamingStylePreferences.cs,f020dbc473670cce) and then stores that as your user setting for that option.

[2017-04-07 20:51] dpoeschl commented on #18121
I don't think we're tracking it elsewhere. Let's use this one to track it.

[2017-04-07 20:59] michalhosala opened #18535 "Inconsistent typing of multidimensional arrays in VB.NET"
**Version Used**: VS: 14.0.25123.00 Update 2

**Steps to Reproduce**:
1. Have the following code
[code]
2. Put cursor over o1 and o2 and observe their types

**Expected Behavior**:
`o1` and `o2` should be of same type

**Actual Behavior**:
`o1` is of type `String(,)` and `o2` is of type `String()()`

My expectations for consistency are driven not only by common sense but also by the fact that `o1`

[2017-04-07 21:01] dpoeschl commented on #17640
Dupe of https://github.com/dotnet/roslyn/issues/17680

[2017-04-07 21:03] #17640 closed

[2017-04-07 21:03] dpoeschl commented on #17143
Fixed with https://github.com/dotnet/roslyn/pull/18530

[2017-04-07 21:03] #17143 closed

[2017-04-07 21:07] AdamSpeight2008 commented on #18535
The type inference is correct, you're put an array in a jagged array. Not into a 2D array.
[code]

[2017-04-07 21:10] michalhosala commented on #18535
@AdamSpeight2008 not sure I follow, can't really see the difference comparing against c# code.

[2017-04-07 21:13] dpoeschl commented on #10916
@Pilchie The OneNote says you're working on porting these to the new test framework. Should I assign this to you, or clear out your name in the OneNote? Regardless, I'd like to just ignore this and see how the ported version works out. Does that seem okay?

[2017-04-07 21:14] dpoeschl commented on #16603
This has been ported to the new test framework.

[2017-04-07 21:14] #16603 closed

[2017-04-07 21:18] michalhosala commented on #18535
@AdamSpeight2008 so is there actually any way to initialize jagged array as I am doing it for `o1` array in c# code?

[2017-04-07 21:24] nguerrera commented on #18340
Is there at least an option to reset to defaults for someone getting stuck in this state?

[2017-04-07 21:34] Pilchie commented on #10916
Yes.  I started working on this, but didn't get very far, and I'm pretty sure I lost the branch :(

[2017-04-07 22:16] mavasani opened #18537 "Incorrect syntax mapping for IOperation corresponding to an invalid invocation expression"
See comment https://github.com/dotnet/roslyn/pull/17938/files/22a068341adc54abad38fa99ec5688f0da852443#r110458305

It seems more logical for the syntax of the receiver to have just Console instead of Console.WriteLine2

[2017-04-07 22:22] jinujoseph commented on #18335
**Design Meeting Notes**

From @CyrusNajmabadi

The idea behind the IOperation API for variables is that it will more faithfully represent how VB treats variables, while avoiding problems around parent pointers and the like.
So, If you have:

Dim x, y as New Z(), m, n as New W()

Then that would be a ’IVariableDeclarationStatement’ with an array of two ‘IDeclarationGroup’s.  The two groups would r

[2017-04-07 22:24] CyrusNajmabadi commented on #18517
Ooops

[2017-04-07 22:24] CyrusNajmabadi commented on #18335
Note: none of the names are set in stone.  The above is just about defining the general shape we'd like.  If you have ideas about good names here, def let us know.

[2017-04-07 22:45] #18275 closed

[2017-04-07 23:10] Pilchie commented on #11250
Sorry, we've been unable to reproduce this so far.

[2017-04-07 23:10] #11250 closed

[2017-04-07 23:26] CyrusNajmabadi commented on #18439
Do i did a little work here to see what we can do.  The problem is this:

Given a specific constructor we're generating in a derived type, there is a *lot* of flexibility, and little knowledge we could use to try to determine what to do here.  First, having the dialog show you members of the derived type is not really suitable.  Those members may not be writable, and may not have any relation to t

[2017-04-07 23:43] jasonmalinowski opened #18541 "Move line up/down triggers line commit and thus can generate code"
1. Type the following code in a new VB file:
[code]

Make sure you don't have a "Then" after the second If.

2. Do Alt+Up

*Expected:* the lines are interchanged but we don't put a Then there
*Actual:* we spit a Then.

[2017-04-07 23:43] jasonmalinowski commented on #18541
I've filed this on behalf of https://developercommunity.visualstudio.com/content/problem/38328/editor-vbnet-move-line-up-with-altup-arrow-breaks.html.

[2017-04-07 23:49] dpoeschl commented on #18340
@nguerrera Not directly in the feature itself. I *think* resetting your C# settings through "Import and Export Settings" would do it, but that's a bit of a heavy hammer. Also I haven't tested this.

Technically, nobody ever gets "stuck" in this state. You can always go through and rename all of the things. It's annoying, but not "stuck". I'm not arguing that it's a good experience, just that there

[2017-04-07 23:53] dpoeschl commented on #17837
@CyrusNajmabadi Looks like you addressed something similar with https://github.com/dotnet/roslyn/commit/1826965ea15fe44ecd590b60f43c72686eb4b51a. Do you think this is fixed by that change as well?

[2017-04-07 23:54] CyrusNajmabadi commented on #17837
Yes.  That should have fixed this issue as well.

[2017-04-07 23:55] dpoeschl commented on #17837
Awesome, thanks Cyrus. And thanks for the bug report @Seairth! This should be fixed in an upcoming release of Visual Studio.

[2017-04-07 23:55] #17837 closed

[2017-04-07 23:59] NSuriyan opened #18544 "MSBuildWorkspace.OpenProjectAsync().Result is null under load"
**Version Used**:
Visual Studio 2015
Microsoft.CodeAnalysis.Workspaces.Desktop.dll 1.0.0.50618
In package Microsoft.CodeAnalysis.Workspaces.Common.1.0.1.nupkg
**Steps to Reproduce**:
I am analyzing over 1000 projects for some pattern of code. I am using MSBuildWorkspace in a standalone analyzer to load these projects using the OpenProjectAsync method.
The MSBuildWorkspace is static and is shared,

[2017-04-08 00:02] dpoeschl commented on #17910
Also, this is a dupe of https://github.com/dotnet/roslyn/issues/7364

[2017-04-08 00:02] #17910 closed

[2017-04-08 00:16] jasonmalinowski opened #18546 "Insertion tool should take a global mutex to prevent shared use of the Git workspace"
Since the insertion tool parties on the Git checkout of the VS source tree, if you manually ran it while an automated job was running on the same machine all sorts of things would blow up. We had one PR where we think this might have happened. It should take a global mutex to prevent that from happening.

[2017-04-08 00:18] jasonmalinowski opened #18547 "We should run the Web Tools tests in a Jenkins queue"
The Web Tools Team has the ability to run their tests on an instance of Visual Studio without a lot of setup. (it's just invoking a few scripts that don't assume any machine state.) Although these probably aren't reliable enough to put as a CI gate, it'd be good to see if a rolling queue is stable enough to catch issues in an outer loop.

[2017-04-08 00:37] genlu opened #18548 "InConversion and OutConversion of VB ByRef argument exposes placeholder nodes as IOperations"
When passing a modifiable element as argument for a VB `ByRef` parameter, the `In/OutConversion`  properties of  the `IArgument` operation would expose placeholder nodes as `Operand` (as those properties themselves are of type `IConversionExpression`).

[code]

[code]

Related: #8905

[2017-04-08 00:44] genlu opened #18549 "`IHasArgumentsExpression.ArgumentsInEvaluationOrder` in C# should not use private implementation"
Currently, there is a lot of logic duplicated in C#'s implementation and there is a lot of opportunities to deviate from what LocalRewriter is doing. I believe our goal should be to return result consistent with what LocalRewriter would produce. As such we should find a way to share that logic, IOperation should not have its own private implementation.

With this in mind, I have made the change fo

[2017-04-08 00:50] genlu commented on #7968
No longer an issue with the API change proposed in #8813, argument is not identified as "named" or "positional" any more, there will only be "explicit" and "default".

[2017-04-08 00:50] #7968 closed

[2017-04-08 01:08] genlu opened #18550 "`WasCompilerGenerated` property on bound node is not a robust way to determine `ArgumentKind` in VB"
The implementation in VB bound tree provides a fully populated list of arguments, including arguments with default value and array that is generated by compiler as argument for `ParamArray` parameter for invocation of expanded form. However, we currently don't have definitive information on the bound node that tells us if

1. it is a default value argument, or
2. it is an array created by compiler

[2017-04-08 06:15] AdamSpeight2008 commented on #18535
@michalhosala The follow VB and C# are equivalent.
[code]
[code]

[2017-04-08 10:26] lachbaer commented on #18526
@gafter

Sorry, no offense :-) You opend #323, therefore...

That would only be the logical advance for pointers 👍

Thank you. Anyhow, I took the programming of it as an exercise. 😄

I would like to state some arguments for #328 here:
#### Pro:
* It doesn't change the current meaning of `??`, no code breaks
* Already allows for evaluating pointers (#323)
* *Wouldn't really hurt* to extend the oper

[2017-04-08 10:30] michalhosala commented on #18535
@AdamSpeight2008 neither your VB.NET nor C# code compiles, compiler is complaining about parentheses., I guess, in case of VB.NET, you intended to write something like:
[code]

It works, thanks for pointing me in the right direction, forgot about the parenthesized expressions, closing... To achieve both `o1` and `o2` from original report to be of same type, change the code to:
[code]

[2017-04-08 10:30] #18535 closed

[2017-04-08 14:49] jskeet opened #18554 "Deconstruction assigning to write-only indexer causes compiler crash"
**Version Used**: 2.1.0.61520

**Steps to Reproduce**: Compile the code below

using System;

[code]

**Expected Behavior**: Indexer is called twice

**Actual Behavior**: Compiler crashes with code -2146232797

Note that uncommenting the getter for the indexer - even though it's not called anywhere - fixes the breakage.

[2017-04-08 15:40] controlflow opened #18555 "Misleading error message for local function"
**Version Used**:
2.0

**Steps to Reproduce**:

Compile the following code:
[code]

**Expected Behavior**:

**Actual Behavior**:

Note that you neither can mark local function with `abstract`, `extern` or `partial` modifier

[2017-04-08 17:09] pumamood commented on #18533
same issue for me

[2017-04-08 17:53] haydenhancock commented on #15556
@fabsenet All of those "answers" in the SO thread aren't very elegant in my opinion and a lot of them didn't even work for me. What I ended up doing is using PowerShell to basically "clean" the output directory. My basic steps in my PowerShell task are:

- set bin directory
- remove all items
- copy all dlls
- copy roslyn folder

Let me know if you are interested in the script and I will send it o

[2017-04-08 19:54] kcnygaard opened #18556 "Invalid code generated when implementing interface through explicitly implemented property"
**Version Used**:
VS 2017 Update 1 and master 85ca862c20fd1cb4192f3a42521eeadcba6828cb

**Steps to Reproduce**:

1. Create a new project with the following:
[code]
2. Put caret in `class AB : IA, IB` line and invoke `Implement interface through 'IA.B'`

**Expected Behavior**:
[code]

**Actual Behavior**:
Invalid code (CS0120):
[code]

[2017-04-08 20:07] gafter commented on #18486
Closing this (compiler) bug, as it appears to be a language spec issue.

[2017-04-08 20:07] #18486 closed

[2017-04-08 20:46] kcnygaard commented on #18556
I went ahead and submitted a pull request #18557 for review that fixes this bug and am signing the CLA now.

[2017-04-08 21:13] jcouv commented on #15072
@gafter Should this be moved to csharplang?

[2017-04-08 22:30] RobinHood70 opened #18559 "IDE0007 triggers on cast in foreach"
**Version Used**: Visual Studio Community 2017, build 26403.0

**Steps to Reproduce**:

1. Create a foreach loop with an explicit cast such as `foreach (Match match in myMatchCollection)`
2. Enable IDE0007

**Expected Behavior**: IDE0007 should not trigger, since the explicit type does not match the type that would be generated from using a `var`.

**Actual Behavior**: IDE0007 triggers, and will i

[2017-04-08 23:38] CyrusNajmabadi opened #18563 "Crash in OOP."
Note: i'm dogfooding a very recent Roslyn.  I just encountered this crash:

[code]

Tagging @heejaechang

[2017-04-09 02:21] jamesqo opened #18565 "Casting null to call custom ==/!= operators is incorrectly identified as redundant"
**Version Used**: VS 2017 RC

![](http://i.imgur.com/QpKxZgv.png)

The cast above is incorrectly identified as redundant; removing the cast would change the behavior by calling `object.ReferenceEquals` instead. This only happens with ==/!= and not other operators like *.

[2017-04-09 03:42] CyrusNajmabadi commented on #18565
I don't believe this is true.  If I write:

[code]

Then this compiles down to:

[code]

So each cast is independently redundant.  Note that if you remove either of the casts, then the other becomes necessary.  And also note that if you try to "remove all" it will only remove one of the casts as it can tell that removing both *would* then be a problem.

[2017-04-09 04:07] jamesqo commented on #18565
@CyrusNajmabadi Nice! I thought the compiler was saying that both casts were redundant, I didn't realize it would update its suggestions when one of them was removed. Just a thought-- perhaps it could darken only one of the casts in such a case, to make it less confusing to the reader? Other than that, I'm closing this issue.

[2017-04-09 04:07] #18565 closed

[2017-04-09 04:10] CyrusNajmabadi commented on #18565
It's an interesting case.  Since you really could remove either of the casts, I think it's honest to show both as redundant within the existing code.  If we didn't fade one, it would somewhat imply that that cast could not be removed (which is not true).  Of course, your point is spot on that this can be construed as meaning that both can be removed safely.

I have no solution I like, so for now I

[2017-04-09 08:17] AdamSpeight2008 commented on #18535
@michalhosala Nope, look at the types I used. `Tuple(of Int32, Int32)` , so I am using tuple literals, the value are the positions in the colloctions.

[2017-04-09 08:49] alrz commented on #7626
Closing in favor of readonly receivers (https://github.com/dotnet/csharplang/issues/421) as it addresses most of use cases mentioned here.

[2017-04-09 08:49] #7626 closed

[2017-04-09 08:58] SeanFarrow commented on #15988
Hi,

What is the best way of creating a document from c# source code, I need a document to write unit tests for this feature.

[2017-04-09 09:33] CyrusNajmabadi commented on #15988
Hi Sean,

Could you clarify your question?  You shouldn't have to do much to add a new test.  If you take a look at:
https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExplicitInterfaceCompletionProviderTests.cs  you'll see how the existing tests work.

 You'll just need to add a new test that uses VerifyItemIsAbsentAsync to ensure that a memb

[2017-04-09 09:53] SeanFarrow commented on #15988
Hi,

Thanks, guess I was trying to complicate things.
Cheers
Sean.

From: CyrusNajmabadi [mailto:notifications@github.com]
Sent: Sunday, April 09, 2017 10:34
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/roslyn] Explicit Interface Implementation Completions show Object methods (#15988)

Hi Sea

[2017-04-09 11:58] JosefPihrt opened #18566 "Conflict is not indicated when renaming a parameter from partial method definition"
**Version Used**: Visual Studio 2017 15.0.0+26228.10

**Code to Reproduce**:
[code]
**Actual Behavior**:
Conflict is not indicated in the IDE.`

[2017-04-09 12:32] SeanFarrow commented on #15988
Hi,

After adding a unit test for this and running the test command, it appears this test is not being picked up.
Any pointers as to why?
I’ve added the XUnit Fact attribute.

From: CyrusNajmabadi [mailto:notifications@github.com]
Sent: Sunday, April 09, 2017 10:34
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Sub

[2017-04-09 16:18] reaction1989 commented on #18229
@dpoeschl i tried to reproduce it with the latest vs2017 release and also with the current master. I could not reproduce it. I could write

`MethodThatWillBeGenerated(nameParameter:)` without inserting an "randomn" Type

[2017-04-09 16:31] jcouv commented on #13964
This proposal has been moved to C# lang repo:
- https://github.com/dotnet/csharplang/issues/189 ("let" and "from")
- https://github.com/dotnet/csharplang/issues/258 ("lambda")

[2017-04-09 16:31] #13964 closed

[2017-04-09 16:36] jcouv commented on #15050
This proposal was moved to C# lang: https://github.com/dotnet/csharplang/issues/125

[2017-04-09 16:36] #15050 closed

[2017-04-09 20:20] CyrusNajmabadi commented on #15988
Hi Sean, can you link me to your PR?  I can pull it down and see what's up.

[2017-04-09 20:40] CyrusNajmabadi commented on #17888
Unable to repro this.  Have asked customer if they can provide the code where they hit this.

[2017-04-09 20:41] CyrusNajmabadi commented on #17645
All of this has been done.

[2017-04-09 20:41] #17645 closed

[2017-04-09 20:48] CyrusNajmabadi commented on #17304
@kuhlenh @Pilchie This relates to the new features that help suggest areas where users can use new C# features.  They are not intended to be used to produce errors if the user *is* using the new language feature.

In other words, 'false' just means "i don't care to use the new language feature" not "it is bad if i use the new language feature".

We're currently using the suggestion/code-style infr

[2017-04-09 20:53] CyrusNajmabadi commented on #17304
Note: that's also why the option is phrased

[2017-04-09 20:55] CyrusNajmabadi commented on #16621
@Pilchie I'm making this unassigned.  I don't think this was meant to be assigned to me.

[2017-04-09 21:01] jamesqo opened #18568 "Multiline method chaining doesn't increase indentation level inside array initializers"
**Version Used**: VS 2017

**Repro:**

[code]

[2017-04-09 21:06] exyi opened #18569 "Display class allocation issues"
The display classes for lambdas should not be allocated always in the start of method, but only when the code actually reaches the lambda creation. I

**Version Used**: VS2017, C#7, Release build, optimization are on

**Steps to Reproduce**:

https://github.com/riganti/dotvvm/blob/master/src/DotVVM.Framework/Controls/DotvvmBindableObject.cs#L89

[code]
**Expected Behavior**:
IMHO it should compile

[2017-04-09 23:06] janjoostvanzon commented on #17304
I kind of like the option, that even trivial coding style rules can be enforced with an error. Could save me a lot of time whining about it to junior developers.

[2017-04-09 23:24] CyrusNajmabadi commented on #17304
@janjoostvanzon You can create an analyzer that checks for and enforces any style rules you want.  I don't believe it should be part of the core experience to keep people from using things like ??.

[2017-04-09 23:42] Tankzor commented on #18533
ditto

[2017-04-10 01:06] JoshVarty opened #18571 "ExtractMethodCodeRefactoringProvider encountered an error and has been disabled."
**Version Used**: 15.1.26405.1

**Steps to Reproduce**:

I'm not sure if this is reproducible outside of my solution. :(
Unfortunately it also doesn't seem to reproduce consistently.

1. Comment out code in `if-else`
2. Lowercase all code within the comment
3. Uncomment it

I've been reproducing it with Ctr+Z and Ctr+Y below:
![image](http://i.imgur.com/UgjKvpD.gif)

Stack
[code]

[2017-04-10 01:07] JoshVarty commented on #18571
Note also that I'm saving the file in the above gif. I don't know if this is required or not, I haven't been able to find a minimum repro for it yet.

[2017-04-10 01:24] gafter commented on #15072
@jcouv yes, I'll move it.

[2017-04-10 01:24] LenonLopez commented on #18533
I've encountered this issue as well.

[2017-04-10 01:24] gafter commented on #15072
Issue moved to [dotnet/csharplang #423](https://github.com/dotnet/csharplang/issues/423) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-10 01:24] #15072 closed

[2017-04-10 02:12] ashmind opened #18572 "Microsoft.Net.Compilers has misleading NuGet description (required framework)"
**Version Used**:
Microsoft.Net.Compilers 2.0.1

**Steps to Reproduce**:

1. Go to https://www.nuget.org/packages/Microsoft.Net.Compilers/
2. The description says "Supported Platforms: - .NET Framework 4.5"
3. Install Microsoft.Net.Compilers in a project, and try to run build on a machine without .NET 4.6.

**Expected Behavior**:
Description says "Supported Platforms: - .NET Framework 4.6" so deve

[2017-04-10 06:15] jcouv commented on #18572
FYI @jaredpar @agocke

[2017-04-10 06:19] abhijitparkhi1983 commented on #18142
@cston , @CyrusNajmabadi , @Pilchie
Looking forward to updates on this thread

[2017-04-10 06:37] alrz commented on #8987
Moved  to https://github.com/dotnet/csharplang/issues/424

[2017-04-10 06:37] #8987 closed

[2017-04-10 07:34] fduman commented on #18524
@jaredpar  I attached the file as a Zip archive.

[msbuild.zip](https://github.com/dotnet/roslyn/files/909300/msbuild.zip)

[2017-04-10 07:51] AdamSpeight2008 commented on #18524
There is a path through the current feature checking could that could throw that error.
#13228 If it invoked throw the parser, but I can't see why it would throw in `Turkish` locale.
Unless it is an issue similar to [this](http://haacked.com/archive/2012/07/05/turkish-i-problem-and-why-you-should-care.aspx/)

[2017-04-10 08:06] SeanFarrow commented on #15988
Hi Cyrus,

See:
https://github.com/dotnet/roslyn/pull/18574
I am blocked with this until we work out what’s going on—I’m sure it’s trivial!
Thanks for any help.
Cheers
Sean.
From: CyrusNajmabadi [mailto:notifications@github.com]
Sent: Sunday, April 09, 2017 21:21
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subje

[2017-04-10 08:26] fduman commented on #18524
Thanks @AdamSpeight2008. I have already had the solution for both C# and VB. But I have no idea how to bootstrap the Roslyn with these fixes.

[2017-04-10 08:59] CyrusNajmabadi commented on #18571
Likely a dupe of https://github.com/dotnet/roslyn/issues/17165

[2017-04-10 11:01] AdamSpeight2008 commented on #18524
Make sure you're on the branch with your fix. I tend to use the VS Cmd Line (as admin) .
After switch to a different branch I do.
[code]
as sometime they not synced to latest commit. Thus pulls the correct NuGet packages.
Once it builds. Do a build and test run.
[code]
Or if it come to I do a `cibuild.cmd` which does the same as it does on Jenkins (PR).
[To try out in VS read this.](https://github

[2017-04-10 13:44] billgr opened #18575 "Proposal: The C# nameof operator should support a way of referring to the current class and method without having to explicitly name them"
## Problem

I should be able to use the **nameof** operator to refer to the current class and/or method in a way that enables me to copy/paste that same statement from one class/method to a completely different class/method without needing to update the class name or the method name.

Something like this is not very copyable:

[code]
After the copy/paste I will need to, obviously, update the messa

[2017-04-10 13:52] CyrusNajmabadi commented on #18575
Instead of using 'nameof', you can use CallerMemberNameAttribute on your actual trace function so that it picks up the caller's name automatically without you having to do anything.

[2017-04-10 13:56] CyrusNajmabadi commented on #18131
Fixed with https://github.com/dotnet/roslyn/pull/18540

[2017-04-10 13:56] #18131 closed

[2017-04-10 14:01] CyrusNajmabadi commented on #17512
Fixed with https://github.com/dotnet/roslyn/pull/17059

[2017-04-10 14:01] #17512 closed

[2017-04-10 14:04] cston commented on #18142
@abhijitparkhi1983 Would you mind including the compiled exe in the 2.0.0 drop? I could compare that to what I compiled.

[2017-04-10 14:50] jaredpar commented on #18524
@fduman thanks for sharing that.  It confirms that it's being cased properly in the build files.

[2017-04-10 15:22] tannergooding commented on #17183
Reopening, this appears to only impact .NET Core projects.

A similar customer feedback bug is here: https://developercommunity.visualstudio.com/content/problem/21740/simplify-member-access-is-not-working-with-net-cor.html

[2017-04-10 15:46] mavasani commented on #17183
We have seen reports of FixAll not working at times for NetCore projects, but none for NetFx projects. I am wondering if this is some race in the new project system. Tanner, do we have a repro?

[2017-04-10 16:05] CyrusNajmabadi commented on #15201
Something for you to noodle on as you look at Fix-all.

[2017-04-10 16:06] Pilchie commented on #15201
Note - I think we can continue to live with this for 15.3.

[2017-04-10 16:12] tannergooding commented on #17183
Customer bug has one.

For this bug it's essentially the same:
1. Create .NET Core Project
2. Turn on Suggestion for `For built-in types prefer 'var'`
3. Write code that triggers the lightbulb (such as `class C { void M() { int x = 0; } }`)
4. Try to fix all occurrences for the suggested lightbulb

[2017-04-10 16:18] dpoeschl commented on #18517
My bad.

[2017-04-10 16:19] CyrusNajmabadi commented on #18517
Assigning to me to look at this.

[2017-04-10 16:23] #18571 closed

[2017-04-10 16:26] ViIvanov opened #18576 "Invalid "CS0165: Use of unassigned local variable""
**Version Used**:

**Steps to Reproduce**:

Try to compile next method:

[code]

**Expected Behavior**:

Really, `result` initialized in first `TryParse` or in second `TryParse`, depended on `formatProvider == null`. I think, compiler can prove that `result` was initialized after `else if`.  May be, comparisons `formatProvider == null` and `formatProvider == null` is not mutually exclusive?

Is an

[2017-04-10 16:27] rchande commented on #18359
@CyrusNajmabadi This case is interesting. We correctly type infer that `VSConstants.VSStd97CmdID` is required and call ToMinimalDisplayString on it. However, ToMinimalDisplayString doesn't account for any qualification that might appear before the position we pass in. It produces the most sensible minimal display string, which is, in fact, `VSConstants.VSstd97CmdID. We'll need to do some work to t

[2017-04-10 16:42] Pilchie commented on #17705
@tmat: Ping?

[2017-04-10 16:50] Pilchie commented on #18098
I'm pretty sure I've seen this before from Watson.  I think it might be when you have a Web project that targets a .NET Framework version that you don't have the targeting pack installed.

[2017-04-10 16:53] Pilchie commented on #18517
Seriously:

![sherlock-stop](https://cloud.githubusercontent.com/assets/312835/24872809/86ef78f0-1dd3-11e7-8b36-bd2c1e202116.gif)

[2017-04-10 16:53] #18517 closed

[2017-04-10 16:54] Pilchie commented on #18541
@jasonmalinowski any idea if this has ever worked?

[2017-04-10 16:55] Pilchie commented on #18544
@mattwar didn't you look at this at some point?

@NSuriyan can you hook something up to the `WorkspaceFailed` event and see if something is reported?

[2017-04-10 16:56] Pilchie commented on #18544
@NSuriyan also - it would be good to try newer packages than those.  In particular, @mattwar added additional logging to `WorkspaceFailed` recently, but you'd need to get the latest packages from our myget source to have those changes.

[2017-04-10 16:58] Pilchie commented on #18556
@CyrusNajmabadi can you take a look at the PR?

[2017-04-10 16:59] Pilchie commented on #18559
Dupe of https://github.com/dotnet/roslyn/issues/14052.

[2017-04-10 16:59] #18559 closed

[2017-04-10 16:59] jdasilva commented on #12625
So there's an answer to the /embed question over on [Stack Overflow](http://stackoverflow.com/a/42759457/287602) and as far as I can tell that seems to be working.  DotPeek would find at least some of the source files and looks to me like it's identifying them as embedded.  I can also see the embedded metadata.  When debugging in VS2017 it doesn't find the source files though.  (I checked Code ver

[2017-04-10 17:00] #17802 closed

[2017-04-10 17:02] Pilchie commented on #18568
Dupe of https://github.com/dotnet/roslyn/issues/779.  We don't actually format inside array initializers...

[2017-04-10 17:02] VSG24 commented on #9793
I would love C# without semicolons.

[2017-04-10 17:02] #18568 closed

[2017-04-10 17:08] jasonmalinowski commented on #18541
@Pilchie No idea. I didn't look.

[2017-04-10 17:11] dpoeschl commented on #18229
@reaction1989 is right. My named argument must have been a substring of an existing identifier.

An example:
[code]
Type `token:` at the $$, and it completes to "cancellationToken:"

Given this, I care very little about this being changed. @Pilchie should we just close this?

[2017-04-10 17:12] Pilchie commented on #18229
Yep.

[2017-04-10 17:12] #18229 closed

[2017-04-10 17:21] jamesqo commented on #8269
I think this would be a good idea, too.

[2017-04-10 17:24] nguerrera commented on #12625
The answer on StackOverflow is correct as to how to pass /embed:X via csproj using @(EmbeddedFiles) items.

However, the VS debugger does not yet support embedded source. cc @gregg-miskelly.

[2017-04-10 17:25] mattwar commented on #18544
Loading of projects into MSBuildWorkspace is not thread safe.  Accessing them once loaded, is thread safe though.  It might work as a shared workspace if you control access to loading through a lock or async queue.

[2017-04-10 17:31] gregg-miskelly commented on #12625
Correct, the debugger doesn't yet support extracting sources from the PDB. At one point there was talk of some team creating a stand-alone tool to extract them out so you could point the debugger at them, not sure if anyone made this. The VS Debugger does support SourceLink if that works for your scenario.

cc @caslan

[2017-04-10 17:43] tmat commented on #12625
@gregg-miskelly The source extraction tool might be something that could be added to http://github.com/dotnet/symreader-converter.

[2017-04-10 18:03] SkyGen commented on #18576
What assignment would be made if it couldn't parse the text?

[2017-04-10 18:15] jdasilva commented on #12625
For this scenario I'm part of team using Stash so I think we may be out of luck -https://github.com/ctaggart/SourceLink/issues/39.  Regardless, the idea of embedding the source and keeping it independent of how we host our repo was very appealing.

I was wondering, though, if it would be practical (as a workaround - direct debugger support would obviously be so much better) to use sourcelink with

[2017-04-10 18:26] gregg-miskelly commented on #12625
@jdasilva I am not certain if this is what you are suggesting, but you could certainly build yourself a tiny HTTP server that would take URLs like:

    http://mymirror/<hash>/<filepath>

And run:

    get fetch -p
    get show <hash> -- <filepath>

And then stream back the results.

[2017-04-10 18:34] jdasilva commented on #12625
Are the get commands part of http://github.com/dotnet/symreader-converter?  That's basically what I had in mind.  If that library (or some other one) would read the source files out of the pdb, you could just read and deliver them as part of the little server.  I was thinking an asp.net core project.

[2017-04-10 18:43] gafter opened #18579 "ConstantValue needs an overhaul"
There are numerous inconsistencies and irregularities in `ConstantValue`. For one, the conversions implemented do not match either language's conversion rules. We should have more extensive documentation and tests, and the implementation should be simplified so as to be more reliable.

See also https://github.com/dotnet/roslyn/pull/18521 and https://github.com/gafter/roslyn/tree/ConstantValue

[2017-04-10 18:48] yizhang82 opened #18580 "C# should emit warning/error for ByValArray/ByValTStr without SizeConst"
**Version Used**:
VS 2017. C# 2.0.0.61501

**Steps to Reproduce**:

1. Add following code
[code]

**Expected Behavior**:

Warning that SizeConst is missing. C# defaults to 1 which rarely is the right thing to do. If we worry about compat we can add this on the highest warning level.

**Actual Behavior**:

No warning about SizeConst.

[2017-04-10 19:07] saul opened #18581 "Roslyn EE regression with F# debug type proxies"
**Version Used**: VS 2017

**Steps to Reproduce**:

Code to reproduce:

[code]

1. Set a breakpoint after this line of code
2. Look at the "Locals" window to inspect `someMap`. Note how there are no members beneath this object, only "Raw View".

This regression is due to [TypeHelpers.cs@192](https://github.com/dotnet/roslyn/blob/614299ff83da9959fa07131c6d0ffbc58873b6ae/src/ExpressionEvaluator/Core

[2017-04-10 19:07] saul commented on #18581
For more information, see: https://github.com/Microsoft/visualfsharp/issues/2184#issuecomment-292645097

[2017-04-10 19:24] #17607 closed

[2017-04-10 19:26] jinujoseph commented on #17598
@mavasani , closing this , reopen if there is any thing pending here

[2017-04-10 19:26] #17598 closed

[2017-04-10 19:42] janjoostvanzon commented on #17304
I meant the ability to insist the use of '?? throw', not keep people from using it! :)

You seemed to suggest, that gentle nudge features need not have the 'Error' or 'Warning' severity option. With my response I wanted to point out, that I like the option of giving even trivial things a heavy severity to lead team members and myself into the right direction.

Got it. Make my own analysers. Analys

[2017-04-10 19:47] Pilchie commented on #9203
This isn't something that we're hearing a bunch of feedback on.

[2017-04-10 19:47] gafter commented on #18576
@SkyGen `Int32.TryParse` is specified to place `0` in the result if the parse fails.

@ViIvanov The compiler is obeying the language specification for definite assignment, which requires an error be produced for this code. The specification does not permit the compiler to track whether or not variables are known to be null or not based on previous tests. Making the compiler do that would require a

[2017-04-10 19:47] #18576 closed

[2017-04-10 19:48] Pilchie commented on #8380
Closing as fixed.

[2017-04-10 19:48] #8380 closed

[2017-04-10 19:49] pranavkm commented on #17304
I can verify this again, but I distinctly recall setting `:false:error` or `:true:error` producing an error in the IDE for other features (such as `csharp_style_var_for_built_in_types`). This seemed like one of the few options where the `:false:error` has no effect. It just seemed like a bug that the `Error` option has no effect:

![image](https://cloud.githubusercontent.com/assets/174281/24879559

[2017-04-10 19:50] Pilchie commented on #7912
Dupe of #18131, and fixed in #18540

[2017-04-10 19:50] #7912 closed

[2017-04-10 19:52] gafter commented on #18569
You're asking that we allocate a new frame on (potentially) every iteration of the loop instead of once, outside the loop. While that might be an improvement for your code, it would be a performance degradation for many other code bases out there. We are not going to make such a change.

[2017-04-10 19:52] #18569 closed

[2017-04-10 19:52] CyrusNajmabadi commented on #17304
The problem here is that many of the "suggestions" are just that, they're just an idea we have on how you can structure your code.  Specifically several of these suggestions may suggest *reasonable* changes, which may end up potentially change semantics (though in very unlikely scenarios).  For example, we have a feature that looks for ```x == null ? y : x``` and suggests that you use ```x ?? y```

[2017-04-10 19:55] CyrusNajmabadi commented on #17304
It's certainly a bug.  The question is: what is the right solution :)

To me, it's *not* making it so that you get an error if you pick "false:error".

Instead, the right solution is separating out the helpful 'nudge' features that offer tiny suggestions and improvements into their own bucket, independent of 'code style'.  While under the covers we use the same infrastructure, these features would

[2017-04-10 19:55] Pilchie commented on #7055
This is in now - pending testing/bugs!

[2017-04-10 19:55] #7055 closed

[2017-04-10 19:56] Pilchie commented on #6467
@srivatsn should this move to project system now?

[2017-04-10 19:59] pranavkm commented on #17304
Sure, a change in verbiage and possibly removing the severity level entirely for these sort of suggestions \ preferences would be better. As it stands, it's confusing. Btw, of all the new C# 7.0 features, our engineering team was happy with or at worst neutral about with everything except this. This was the only feature that they were pretty happy to have errors enabled for. They certainly wouldn'

[2017-04-10 20:02] Pilchie commented on #18250
Is this moved over to the new framework now?  Can this bug be closed because the scenario is deleted?

[2017-04-10 20:03] Pilchie commented on #18108
Deleted yet?

[2017-04-10 20:11] exyi commented on #18569
Sorry, I missed that. Maybe it could be possible to allocate it on the first pass and cache in local...

[2017-04-10 20:17] Pilchie commented on #17729
Hmm - I'm unable to reproduce this with recent bits. @JosefPihrt can you still reproduce it?

[2017-04-10 20:18] Pilchie commented on #17508
Moved to new framework now?

[2017-04-10 20:19] Pilchie commented on #17426
I think the problem here is that with no modifiers, we don't know that this is a local function, so this would mean showing it in any statement context?

[2017-04-10 20:19] JoshVarty commented on #18359
I'm not sure if this is related, but some options aren't showing up in Intellisense.

For example:

`VSStd2K` is not being offered to be as a suggestion in the following code:

[code]

![image](http://i.imgur.com/oUExd3k.gif)

[2017-04-10 20:20] Pilchie commented on #17373
Ping @tmat ?

[2017-04-10 20:24] Pilchie commented on #12406
@rchande didn't you check something in to address this internally?

[2017-04-10 20:27] jaredpar commented on #18580
That isn't a sufficient mitigation for us.  There are too many customers out there who use the highest warning level and consider new warnings for existing code a back compat breaking change (aka adoption blocker).

Given this code worked before, has use cases in the wild (based on the internal emai), taking this request is pretty risky.  I don't see how we could take this outside of warning waves

[2017-04-10 20:30] JoshVarty commented on #18359
I'm not sure if this is related, but in the following code, the suggestion `VSStd2K` is missing from the list.

**Note: I cannot get this to repro with the above code, but it repros if you add a reference to `Microsoft.VisualStudio.Shell.15.0`**

[code]

![image](http://i.imgur.com/oUExd3k.gif)

[2017-04-10 21:34] CyrusNajmabadi commented on #17426
i think it's not really a problem.  We can just see if this is a location where we could be in the return type of a local function, and we add "T", just like we add T when typing in a location that looks like it could be the return type of a method.

It's a heuristic, but it's served us well so far.

[2017-04-10 21:39] Pilchie commented on #17426
Agreed. I was just pointing out that "location where we could be in the return type of a local function" is basically all statement contexts.

[2017-04-10 21:40] CyrusNajmabadi commented on #17426
Yup.  Long live "T"! May its reign be everlasting!

[2017-04-10 21:57] gafter opened #18589 "Test for void in Binder.BindValue(,,, BindValueKind.RValue)"
Nearly every client of Binder.BindValue that expects an rvalue also has to test for the type void. Perhaps it would be better to move that test into Binder.BindValue?

[2017-04-10 22:45] ashmind commented on #5605
@gafter Is there an automatic way to migrate this to dotnet/csharplang?

[2017-04-10 22:54] dpoeschl commented on #10916
Okay, I've removed your name from those entries in the OneNote. Maybe @rchande will be interested. :smile:

[2017-04-10 22:54] #10916 closed

[2017-04-11 00:43] davkean opened #18592 "Symbols are not been published to the internal symbol server"
Unlike the rest of Visual Studio, Roslyn symbols are not being published to the internal symbol server and hence you cannot debug Roslyn binaries simply by pointing to it.

[2017-04-11 00:44] davkean commented on #18592
@jasonmalinowski Are you aware of this?

[2017-04-11 01:05] davkean opened #18593 "Visual Studio crashed in IncrementalAnalyzerProcessor opening Roslyn solution"
Build: VisualStudio.15.int.vsuwpt/15.2.0-Preview+26410.1.vsuwpt

Opened Roslyn, and was looking at source and VS crashed with the following:
[code]

[2017-04-11 04:07] abhijitparkhi1983 commented on #18142
@cston , I have uploaded the required compiled exe which is using Version 2.0.0 at the following location: https://www.dropbox.com/s/m3cc1me9c4ofuqh/Roslyn_Version_2_0_0_WithExe.zip?dl=0.

Hope this will be helpful.

[2017-04-11 04:34] agocke commented on #18144
Looks like another dup of #16895

@jaredpar This is now the third reported dup bug and that Watson has several hundred hits and counting. Should we consider taking the fix for 15.2?

[2017-04-11 04:35] agocke commented on #18144
(Closing as dup)

[2017-04-11 04:35] #18144 closed

[2017-04-11 06:03] davkean opened #18596 "Quick info constantly flashing/refreshing in recent builds"
Build: VisualStudio.15.int.vsuwpt/15.2.0-Preview+26410.1.vsuwpt

Quick Info is constantly flashing like so for errors in my build, not sure if this is Editor or Roslyn:

![quickinfoflashing](https://cloud.githubusercontent.com/assets/1103906/24894823/1d374728-1ed0-11e7-80df-4e53a64ec612.gif)

[2017-04-11 07:44] jinujoseph commented on #18351
**Design Team Meeting**

This is a very corner case scenario. Unless we see more instances of this kind, the decision was that we should not be able to get to the Ioperations of this. We should essentially hide them and return null.

[2017-04-11 07:47] jinujoseph opened #18599 "We should have Operation Visualizer similar to syntax Visualizer."

[2017-04-11 07:48] HekiShavik opened #18600 "ExtractMethodCodeRefactoringProvider crash on method highlight in expression body"
**Version Used**: VS2017 (15.1 (26403.3)).

**Steps to Reproduce**:

1. Create empty ASP.NET Web Application project (I have only testet with this project type).
2. Create empty class in any namespace.
3. Insert the following code:
[code]
Highlight `Testing` in the `TestError` property.

If refactored to `... TestError => Testing() ?? "";` Everything is fine.
The error also happens with a setter.

[2017-04-11 08:23] jinujoseph commented on #18198
**Design Team Decision**.

The approach of IObjectCreation sounds reasonable with the addition of a kind to differentiate if this is kind Attribute. we need to see if there is a way to expose IAttributeCreation for better clarity.

[2017-04-11 14:57] Pilchie commented on #18596
@olegtk Looks like an editor issue to me - We don't generally control error tooltips.

[2017-04-11 15:05] Pilchie commented on #18593
@CyrusNajmabadi can you take a peek at this, since @heejaechang is OOF right now.

[2017-04-11 15:19] Pilchie commented on #18600
Note - I can repro in 15.1, but not the latest 15.3 bits, but I didn't see a dupe with a quick search.  Can you check for a dupe and a unit test for this case?

[2017-04-11 15:22] jcouv commented on #16879
Two updates:
- we're pulling the fix earlier (dev15.2 instead of dev15.3). I don't think there are any announced dates on that either though.
- at least one user ([above](https://github.com/dotnet/roslyn/issues/16879#issuecomment-276868655)) reported that downgrading the ValueTuple package to its pre-release version mitigated the problem. That may be worth a try.

[2017-04-11 15:43] NSuriyan commented on #18544
Thanks. let me try this.

[2017-04-11 15:43] #18544 closed

[2017-04-11 15:56] CyrusNajmabadi commented on #18593
Is there a dump for this?

[2017-04-11 16:03] olegtk commented on #18596
nasty. I can repro it on vsuvscore too. Investigating...

[2017-04-11 16:19] Pilchie commented on #7338
@CyrusNajmabadi: Is this done now with the new dialog based picker, or is there more you were thinking of?

[2017-04-11 16:19] olegtk commented on #18596
looks like Microsoft.CodeAnalysis.Editor.Implementation.IntelliSense.QuickInfo.Presentation.QuickInfoPresenter.QuickInfoPresenterSession.PresentItem keeps calling IQuickInfoSession.Recalculate in a loop.

[2017-04-11 16:20] CyrusNajmabadi commented on #7338
I think it's done now.

[2017-04-11 16:23] Pilchie commented on #13932
Resolving as a dupe of #5898 - don't need both of these to track.

[2017-04-11 16:24] #13932 closed

[2017-04-11 16:29] #7338 closed

[2017-04-11 16:32] Pilchie commented on #17818
@rchande - did these get ported?  Should we just close this bug?

[2017-04-11 16:38] rchande commented on #18596
Looks like this was introduced by https://github.com/dotnet/roslyn/commit/3ef5891043f89145b1e1c1a7de8c0e02acd15c6e

[2017-04-11 16:59] jinujoseph opened #18601 "Implement Ioperation Parent pointer"
- [ ] Discuss about Identity
- [ ] https://github.com/dotnet/roslyn/issues/8640 GetAncestors(IOperation) method

[2017-04-11 17:11] omariom commented on #518
It could  be:

[code]

[2017-04-11 17:13] jasonmalinowski commented on #18592
@davkean: We are (in general) indexing symbols. Looking at builds this morning indexing is happening. We do know that the particular build that is in vsumain as of this writing wasn't retained due to a bug in our build retainment logic; that bug has since been fixed.

In general, our request for any reports like this is to point to the VS build you're not getting symbols for so we can chase down t

[2017-04-11 17:37] Epaminaidos commented on #1484
I cannot believe that you are serious about this. Detecting unused variables is a really basic feature in most languages. And you actually disabled this important in order to simplify some rare edge-cases?
Is there any way to get this check in VS 2017?

[2017-04-11 17:38] 333fred opened #18602 "Broken Tests: CSharp/VB DeleteControl"
Tests:
Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpWinForms.DeleteControl
Stack:
[code]
Screenshot:
![image](https://cloud.githubusercontent.com/assets/2371880/24922376/eb01d58e-1ea2-11e7-9045-d87b018cf9a4.png)

Roslyn.VisualStudio.IntegrationTests.VisualBasic.BasicWinForms.DeleteControl
Stack:
[code]
Screenshot:
![image](https://cloud.githubusercontent.com/assets/2371880/24922385/f1c68e46-1

[2017-04-11 17:38] 333fred commented on #18602
@Pilchie, can you get this assigned please?

[2017-04-11 17:54] gafter opened #18606 "Test plan for "Infer tuple names" aka "tuple projection initializers" (7.1)"
Test plan for "Infer tuple names" aka "tuple projection initializers"
=================

This is a checklist for testing the implementation of https://github.com/dotnet/csharplang/issues/415. I (@gafter) will check items off as I see they are tested.
Items that are checked off but marked with the name of a test have been updated by Julien.

- [ ] We need a specish proposal that clearly describes t

[2017-04-11 18:10] mavasani commented on #18115
Decision:

1. Existing shape of IObjectCreationExpression is fine.
2. Ensure that we do not return IAssignmentExpression when asked for IOperation for `NamedFieldInitializerSyntax`, i.e. `.Field = 2` - this should make the tree consistent

Open question: Do we need to still somehow ensure we expose IFieldReferenceExpression in the IOperation tree rooted at `New F() With {.Field = 2}`? Otherwise, a

[2017-04-11 18:15] CyrusNajmabadi commented on #18115
That's an interesting question.  Can you add it to the questions for the design meeting?

I see the benefit of it being in the tree.  That way people can just register a single callback.  One way we could do that would be to have IFieldInitializer point at the IFieldReferenceExpression instead of directly at the IFieldSymbol.

Note: IFieldInitializer really seems to be defined for the actual field

[2017-04-11 18:24] jasonmalinowski commented on #18572
@agocke Assigning this to you as it seems the other bug mentioned in your PR is currently closed. Feel free to dupe if you have another tracking bug.

[2017-04-11 18:27] jasonmalinowski commented on #18516
I think the TypeScript approach is probably a good thing to do. I'm in favor of moving docs to branches when there is branch-specific docs, but there's a few things that shouldn't be in branch docs because people will be looking at the wrong branch. For example, how to pick which branch you should be contributing too. :smile:

[2017-04-11 18:28] gafter commented on #18579
I used this snippet to produce some tests:

[code]

[2017-04-11 18:31] jasonmalinowski commented on #18460
@Nassiel What were the restore errors you saw?

[2017-04-11 18:43] Pilchie commented on #18512
Fixed in #18529.

[2017-04-11 18:43] #18512 closed

[2017-04-11 18:50] genlu commented on #17587
@AlekseyTs Will `BoundOmittedArgument` ever exposed to IOperation? From what I see in the binder code, it seems the invocation will always contain actual argument expressions rewritten from those `BoundOmittedArgument`.

http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic/Binding/Binder_Invocation.vb,f86ac8cb64a210f3

[2017-04-11 18:55] AlekseyTs commented on #17587
It looks like BoundOmittedArgument nodes can escape initial binding, we even have special lowering for them.

[2017-04-11 18:57] ericstj commented on #518
API was approved in 2014 and its already shipped in numerous frameworks, including .NET Desktop 4.6.  I don't think you can change it compatibly.  You could add a new API and have the compiler use that if present.

[2017-04-11 19:14] jrmoreno1 commented on #18575
duplicate of https://github.com/dotnet/csharplang/issues/345

[2017-04-11 19:15] jrmoreno1 commented on #18575
@CyrusNajmabadi: that won't help with a property

[2017-04-11 19:17] CyrusNajmabadi commented on #18575
What happens when you have a property?  If CallerMemberName doesn't work with properties, maybe that's the bug to fix?

[2017-04-11 19:19] CyrusNajmabadi commented on #18575
Hrmm... i just tried it and it seems to work fine with properties.

[2017-04-11 19:20] omariom commented on #518
So sad.. :)

[2017-04-11 19:39] pr-yemibedu commented on #3371
Hello,
 I think that the key into the resource file has better merits:
1) if you run a tool against the code, you can get a "key not found" warning.
2) it simplifies the origin source to promote updating comments. you may have two or three summaries out of sync on their own and nothing telling you how they differ.
3) it can promote other tooling to work on the code comments in the same way.

Now h

[2017-04-11 19:40] ericstj commented on #518
I'm not saying something can't be done.  I'm just saying that compatibility has to be a design point in any changes made given that this is an already released API.

[2017-04-11 19:49] cston commented on #18142
@abhijitparkhi1983 Your binary looks essentially identical to the release exe I built locally, and the program reports the same results: that is non-`null` values for `GetSymbolInfo()` in each case.

[2017-04-11 20:32] brettfo commented on #18273
FYI, I've also hit a similar issue but a different call stack when debugging a .NET Core app with embedded PDBs:

Exception:
[code]

Stack trace:
[code]

[2017-04-11 20:54] Pilchie commented on #15461
@CyrusNajmabadi you and @tmeschter wrote FAR tests for the new framework, right?  ARe the old ones deleted?  Should this bug just be closed?

[2017-04-11 20:55] jcouv opened #18609 "Fix two "default" tests"
(Updated examples based on discussion and Neal's comments. Also included `null` for comparison and it has the same bugs)

[code]

[2017-04-11 21:26] genlu commented on #17587
@AlekseyTs Ah, yes. I see them in erroneous code like below (when resolution failed), seems it is for error reporting purpose. Form top of your head, will valid code results in `BoundOmittedArgument` after initial binding?

[code]

[2017-04-11 22:23] agocke opened #18610 "C# doc comment compiler takes a dependency on the Desktop Framework System.Xml assembly"
See http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Compiler/DocumentationCommentCompiler.cs,8068d03713a790f2,references

[2017-04-11 22:44] #18359 closed

[2017-04-11 22:56] gafter opened #18612 "Test plan for "ref assemblies" (7.1)"
This is the test plan for "ref assemblies".

See also
- [Language Feature Status](https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md)
- [The `refout` feature branch](https://github.com/dotnet/roslyn/tree/features/refout)
- [PR comparing the refout feature branch to master](https://github.com/dotnet/roslyn/pull/19345)
- [[Work items] Refining ref assemblies](https://gi

[2017-04-11 23:06] gafter commented on #1484
@Epaminaidos We didn't actually "disable" anything here. It is already the case that we do not warn when the initializing expression is a computed value, and that behavior naturally applies to interpolated strings as well. You can file a feature request issue as I suggested if you want us to add a warning for this, but it is too late for us to add features to VS 2017. That has already shipped.

[2017-04-11 23:14] rchande opened #18614 "Can't use mouse to select formatting option lines"
"Tools, Options, Text Editor, C#, Code Style, Formatting, New Lines.

It's currently impossible to just select one of the items in the list with mouse click - it registers as a toggle for the checkbox, no matter where on the line you click. Generally I'm lazy so that's good, but it's not good when I want to select a different item/line.

Please stop toggling yet unselected lines. Only when selecte

[2017-04-11 23:41] VSadov opened #18615 "Make fixed pointer local always backed by a pointer."
Currently, in some cases the fixed variable is backed by the actual pinned managed reference, which is converted to a pointer at use sites inside the fixed block.

While, by itself a correct implementation, it is not the most obvious or efficient for the JIT, since it looks like the managed reference is repeatedly accessed and pinned managed references have more loaded semantics than pointers.

A

[2017-04-11 23:48] jkotas commented on #18615
*Pinned* locals containing managed references. Regular non-pinned managed reference locals are fine.

[2017-04-12 00:28] jcouv commented on #18518
From chat with Aleksey, this serves the purpose of copying diagnostics to a new bag.

[2017-04-12 00:28] #18518 closed

[2017-04-12 00:42] VSadov commented on #18615
@jkotas - fixed to mention "pinned".
That clarifies the reason, but the proposed solution is basically the same.

[2017-04-12 01:05] tmat opened #18618 "EnC: Detect and handle changes of #line and conditional compilation directives"
I don't think we handle these cases correctly since we ignore changes in trivia.
Changes in #line and #define directives could significantly affect the generated delta.

[2017-04-12 02:37] AlekseyTs commented on #17587
Yes.

[2017-04-12 03:15] davkean opened #18620 "Get offered to resolve a type already in scope for an incomplete method"
[code]

1. Place cursor over IReadOnlyCollection and press CTRL+.

Expected: Not to be offered to resolve IReadOnlyCollection as it is already in scope
Actual:

![image](https://cloud.githubusercontent.com/assets/1103906/24939636/25e4b5ec-1f82-11e7-8e1e-d957ca81f7db.png)

[2017-04-12 03:18] davkean opened #18621 "Get offered a smart tag that I cannot drop down for an incomplete method"
[code]

1. Place cursor in ProjectConfiguration
2. Hover mouse over ProjectConfiguration so that a smart tag appears
3. Click Smart tag

Expected: For smart tag to be opened
Actual: Smart tag disappears

[2017-04-12 03:53] davkean commented on #18620
I'm guessing that this is due to the way the compiler parses this due to the generics, I'm seeing the following in the error list:

[code]

[2017-04-12 05:26] abhijitparkhi1983 commented on #18142
@cston  so what could be a possible issue? Where should I look for the issue.
Is there any additional installation required?

Especially the below behavior is strange.
**SemanticModel.Compilation.References returns Empty List for version 2.0.0.
While SemanticModel.Compilation.References returns below List for version 1.3.2**

Can we get any clue out of this?

[2017-04-12 05:36] davkean opened #18622 "After you dismiss "rename mode" for a symbol that is not a type definition, you never get asked to rename it again"
When you change the name of a symbol, Roslyn offers to rename all references to that symbol to another symbol. This only works the very first time however, once you've dismissed it - you never get offered again to rename.

[code]

1. Highlight `IProjectConfigurationsService` in `Program : IProjectConfigurationsService`
2. Type `ICollection`

-- Notice the rename frame is around ICollection --
![im

[2017-04-12 05:41] davkean commented on #18593
Nope :(

@Pilchie Taught me how to fish, and in the future I'll get dumps automatically when we crash.

[2017-04-12 05:42] davkean commented on #18592
I don't have symbols for this build:

[code]

[2017-04-12 06:02] davkean opened #18623 "Get nonsensical code fixes when you've typed a generic type without any type arguments"
I've probably filed this before but I'm filing it again as I can't find it. This annoys me especially with types that are you aren't aware if there are non-generic versions or not (`IReadOnlyCollection<T>` is a perfect example of this - we have `ICollection` and `ICollection<T>`, but there's no non-generic version of `IReadOnlyCollection`)

Here's the behavior:

![resolvenamespace](https://cloud.g

[2017-04-12 06:03] davkean commented on #18623
Sorry for the quick video, GitHub has a limit on file size.

[2017-04-12 07:09] CyrusNajmabadi commented on #16567
What is actually causing the crash?

[2017-04-12 07:25] davkean opened #18626 "Spell checker doesn't run on explicit interface implementations"
_From @davkean on April 12, 2017 5:15_

[code]
1. Attempt to CTRL+. on IProjectConfigurationService in the interface implementation

Expected: To get spell checker to change `IProjectConfigurationService` to `IProjectConfigurationsService`
Actual: Don't get spell checker results

Note I do get add using results in the same position if the problem is just that the namespace is not imported.

_Copie

[2017-04-12 07:34] CyrusNajmabadi commented on #18626
This happens because this is not an area where we offer completion.  If we make a completion provider that suggests explicit interface type-names after you type the return type of a member, then this should light up.

Note: if we do make a completion provider for this, it will need to always be in suggestion mode, as this is a locatoin where a member name can be written.

[2017-04-12 07:35] CyrusNajmabadi commented on #18622
Does this include going and making another edit in the same file, and then going back and editing this symbol name?  Or does it only truly work again if the file is closed/opened.

[2017-04-12 07:36] CyrusNajmabadi commented on #18623
I recommend screentogif.  File sizes will not be a problem then :)

[2017-04-12 07:38] davkean commented on #18621
Why do we offer the smart tag in that case only for you not to be able to select it?

[2017-04-12 07:38] CyrusNajmabadi commented on #18621
No clue.  I haven't debugged through this yet to see.

[2017-04-12 07:39] CyrusNajmabadi commented on #18621
I'm just adding notes for the person who takes a look at this as to probable issue.  It's likely that the detection part of the system thought it was ok.  But the fix portion got thrown off by the wonky tree.

[2017-04-12 07:42] davkean commented on #18622
You are never offered again as far as I can tell, even when I cut the type and paste into _another_ file.

You don't even need undo or ESC to be involved - I found I could repro it simply by making an unrelated change after step 2.

[2017-04-12 07:44] davkean commented on #18622
Actually it's worse - it looks like state is broken for the entire project, I can't enter rename mode again if I have any file open.

[2017-04-12 07:45] CyrusNajmabadi commented on #18623
This might be tricky to fix.  We do need to offer 'fully qualify' in many cases, even when there's an equivalent using in scope.

I'm thinking the appropriate fix is:

1. if no type args are present, get the list of candidate namespaces.  Allow for hits for types with/without generics.
2. For each possible namespace, we then:
3. Walk inside out, seeing what namespaces are imported at each level.

[2017-04-12 07:47] CyrusNajmabadi commented on #18622
Sounds like something broken in the state machine tracking.  First thing to fix will be making it so that you're not in a borked state where rename simply doesn't work again.  Then, it would be a nice-to-have to update state tracking to be better at understanding undo/redo so you get rename offered in cases like this.

[2017-04-12 07:48] CyrusNajmabadi commented on #18622
Tagging @jasonmalinowski in case he has any ideas what would have happened with the rename tracking state machine.

[2017-04-12 09:17] kristersz commented on #17401
I get the same issue on a machine running VS 2015.3 while trying to call OpenProjectAsync() on a project targeting .NET 4.6.2. I have added Microsoft.Build and Microsoft.Build.Tasks.Core NuGet packages both  v15.1.1012 to the project. I have no issues running the application on a machine with VS 2017 installed. Anything I am missing?

LoaderExceptions:
Could not load file or assembly 'Microsoft.Bu

[2017-04-12 09:29] xyting commented on #17401
I get the same issue on VS2017 running on Windows 10 while trying to call `var workspace = MSBuildWorkspace.Create();`
[code]

[2017-04-12 10:27] magnusbakken opened #18627 "Move Type refactor action uses reversed folder path in Core projects"
**Version Used**:
Visual Studio 2017 (build 26403.3)

**Steps to Reproduce**:

1. Create a new .NET Core project. I've tested with ASP.NET Core and CLI projects.
2. Create the folder structure A > B > C inside the project (i.e. B inside A, C inside B).
3. Put a file called D.cs in the C folder, and have it contain two empty root level classes called D and E.
4. Use the refactor action "Move type t

[2017-04-12 10:29] ashmind commented on #18572
Might be an unrelated bug, but does it actually require 4.6.1? Getting weird `EntryPointNotFoundException` on build server with 4.6, but not on local with 4.6.1 (unfortunately don't have the full trace at the moment, but top was something weird like `IReadOnlyCollection<T>.get_Count`).

Going to install 4.6.1 on build server tomorrow, and see if that helps.

[2017-04-12 10:55] magnusbakken commented on #18627
Demonstration:

![refactorfolderproblem](https://cloud.githubusercontent.com/assets/284189/24954341/43dba81a-1f7f-11e7-9bc1-b21e7f5eefc9.gif)

[2017-04-12 12:21] #14620 closed

[2017-04-12 13:17] HekiShavik commented on #18600
This also happens when highlighting other things. Actually just any text between two spaces after the `=>` and before the semi-colon. This could be the null-coalescing operator or the 0 in `get => Testing2() ?? 0;` - except the parentheses and never if there is a syntax error.

I could not find a dupe and no unit test. I do not feel confident to write one.

[2017-04-12 13:17] gongin opened #18628 "Unit Testing ValueTuple with Microsoft Fakes fails to compile when used in interfaces"
I have made this post here for reference: http://stackoverflow.com/questions/43369733/unit-testing-valuetuple-with-microsoft-fakes

**Version Used**:  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />

**Steps to Reproduce**:

1.  Create c# project and unit test project, add project reference in unit test
2.  Create fakes for project
3.  Create interface as below:
public

[2017-04-12 14:09] cston commented on #18142
Perhaps run in the debugger, and enable "Break When Thrown" for all CLR Exceptions. Are any exceptions thrown or is anything unexpected reported to the Output Window?

[2017-04-12 14:15] jskeet opened #18629 "Surprising System.ValueTuple requirement for deconstruction"
**Version Used**: 2.1.0.61520

**Steps to Reproduce**:

Try to compile

[code]

without a reference to `System.ValueTuple.dll`

**Expected Behavior**:

Compilation with no errors. No tuple literals or tuple types are involved.

**Actual Behavior**:

Error:

When compiling with a reference to `System.ValueTuple.dll`, the resulting IL has no reference to `System.ValueTuple.dll`, so why is it require

[2017-04-12 14:18] Pilchie commented on #18622
@dpoeschl Wrote the rename tracking state machine.

[2017-04-12 14:31] Pilchie commented on #18626
Actually I think we *do* get name suggestions now in suggestion mode, but they will be too far from the spell check results.

Given that we will now always be showing a list in this context anyway, it does make sense to show interface names of interfaces that the current type implements.

[2017-04-12 14:51] andrew-vandenbrink opened #18630 "Question: Recommended way to get method signatures"
The FAQ in this link, refer to **old** pattern to get completion list
https://github.com/dotnet/roslyn/wiki/FAQ

Now that completion service is public api, there is new pattern to get completion list

The question is,
What is the recommend way to get method signatures?

Logic in
https://github.com/OmniSharp/omnisharp-roslyn/blob/dev/src/OmniSharp.Roslyn.CSharp/Services/Signatures/SignatureHelpServ

[2017-04-12 14:51] socmag opened #18631 "Class with over 11,000 methods takes a *looong* time to build"
**Version Used**: 1.0.1

(Linux Ubuntu 16.04, Core i7 Skylake, 16GB)

I know this is not a "normal" kind of scenario by any means, but for good reasons I have a class with over eleven thousand methods and it takes quite some time to build, and totally kills VS Code.

I'm sure you have bigger fish to fry than caring about these kinds of fringe perf issues, but just letting you know in case you want

[2017-04-12 15:12] Pilchie commented on #18630
Tagging @DustinCampbell, but this is basically https://github.com/dotnet/roslyn/issues/3540.

[2017-04-12 15:12] #18630 closed

[2017-04-12 15:31] jaredpar commented on #18631
Can you give us a bit more details about the type of methods involved here?  Are they overloads of each other?

[2017-04-12 16:04] TessenR opened #18632 "VS crashes on complex user-defined conversions involving value tuples"
- Create a new C# project in VS 2017 Update 1
- Paste the following code into it
- In a couple of seconds VS will become unresponsive
- Shortly after VS will use over 3 GB of memory and will eventually crash in about 10-20 seconds after the paste

[code]

[2017-04-12 16:06] daveaglick opened #18633 "NullReferenceException inside Microsoft.CodeAnalysis.BuildTasks.Csc.AddResponseFileCommands()"
**Version Used**:
Microsoft.CodeAnalysis.* = 2.0.0
Visual Studio 2017
Inside .NET Framework 4.6.2 console application

**Steps to Reproduce**:

1. Install Microsoft.CodeAnalysis.CSharp.Workspaces into a .NET Framework 4.6.2 console application
2. Write the following code (the project being loaded here is a .NET Framework 4.6.2 library):
[code]

**Expected Behavior**:
The project loads into the wor

[2017-04-12 16:30] StandishMan25 commented on #18161
As an update, the Interactive Window has crashed a few times when doing totally different things. I don't have a repro or even know what was going on in the main Visual Studio instance, but it appears to not solely be on pattern matching. I think it may have occurred when loading the Intellisense menu, but may be coincidence.

[2017-04-12 17:08] abhijitparkhi1983 commented on #18142
@cston
Nops. Nothing different after making the above settings.
I dont see any exceptions in the Output Window.

Any thing else that I should be looking out for??

[2017-04-12 17:13] 333fred commented on #18352
A bunch more failures in the latest VSI tests. FYI @Pilchie. There seems to be more flakyness from this general set of tests, as Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpErrorListNetCore.ErrorsDuringMethodBodyEditing failed on the latest debug build as well.
[code]
![image](https://cloud.githubusercontent.com/assets/2371880/24970287/9daa51be-1f68-11e7-812d-bfad23a0b99e.png)
![image](https

[2017-04-12 17:15] 333fred commented on #18352
Also @jmarolf

[2017-04-12 17:43] Epaminaidos commented on #1484
As far as I can see, this is already tagged as feature-request, isn't it?
Does it make any sense to add another one?
IMO, there should be a warning for each of the following variables:
`int i = 0;
Object o = new Object();
List<int> l = new List<int>();
l.Add(1);`

About "disabling": As far as I read in other sources, this has once been a feature that has been disabled on request of several develop

[2017-04-12 17:49] 333fred opened #18634 "[Flaky Test] Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpCodeActions.FastDoubleInvoke"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/2532/

@Pilchie can you assign this?

[code]
![image](https://cloud.githubusercontent.com/assets/2371880/24971655/90954e16-1f6d-11e7-82b6-91c3ed17e1ae.png)

[2017-04-12 17:56] jaredpar opened #18635 "Make startup more resilient to missing DLLs / config"
The biggest source of Watson entries for the compiler is failed startup due to one of the following cases around manual deployment (xcopy) of the compiler:

- The config files for the compiler (csc.exe.config, vbc.exe.config) are not copied.  There are a number of binding redirect entries in there and having it missing can lead to failure in many cases.
- The dependencies of the compiler (Microsof

[2017-04-12 17:59] 333fred opened #18637 "[Flaky Test] Microsoft.CodeAnalysis.VisualBasic.UnitTests.MyTemplateTests.MyWinformApp"
Failed in https://github.com/dotnet/roslyn/pull/17906.
[code]
@dotnet/roslyn-compiler

[2017-04-12 18:09] jaredpar commented on #18637
Is this related to us not properly isolating the `%TEMP%` directory and hence running out of space?

https://github.com/dotnet/roslyn/pull/18603

[2017-04-12 18:18] CyrusNajmabadi commented on #18626
I agree.  It's something i could whip in quickly if you want.

[2017-04-12 18:44] AlekseyTs opened #18638 "Some tests are utilizing DeclarationDiagnostics property on compilation to verify presence or lack of diagnostics"
This is a wrong API to use for this purpose, ```GetDeclarationDiagnostics(CancellationToken cancellationToken = default(CancellationToken))``` should be used instead. The ```DeclarationDiagnostics```  simply returns a bag that is lazily populated with diagnostics, there is no guarantee that it is fully populated when the test asks for the bag.

[2017-04-12 18:45] 333fred opened #18639 "Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpExtractMethod.SimpleExtractMethod Failure"
[code]

![image](https://cloud.githubusercontent.com/assets/2371880/24973921/67a31486-1f75-11e7-91b3-3b1c6b97c374.png)

https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration/752/

[2017-04-12 19:07] gundermanc opened #18641 "[Suggestion] Find all references filter and/or grouping for XML comments"
**Version Used**: 2.0.0.6150105 (VS 2017 RTW 26228.4)

**Steps to Reproduce**:
![far](https://cloud.githubusercontent.com/assets/5387680/24974496/3204aac2-1f77-11e7-9a37-ae1edc480910.png)

1. Create a C# project
2. Add an interface or class with XML doc comments referencing that class via `<see cref=..>`
3. Right click class name, invoke "Find all references"

**Expected Behavior**:
Some form of f

[2017-04-12 19:16] rufio620 opened #18642 "Setting CSharpCompilationOptions.ScriptClassName does not root script in given namespace"
**Version Used**:
 V2.0.0
**Steps to Reproduce**:

1. Run Repro Project Provided

**Expected Behavior**:
The script should be parsed and compiled using the namespace context of the ScriptClassName, in this case System.Net.  There also does not seem to be a way to add any other context information to the script compilation via workspaces. E.g. Adding global objects that the script can reference.

*

[2017-04-12 19:17] gundermanc opened #18643 "[Suggestion] Default Grouping Collapse/Expand Behavior in FAR with interfaces"
Version Used: 2.0.0.6150105 (VS 2017 RTW 26228.4)

Steps to Reproduce:
far
1. Create a C# project
2. Add several classes that implement the IDisposable interface.
3. Right click an implementation of the Dispose method and invoke "Find all references"

Expected Behavior:
One of the following:
- Group for the concrete implementation of Dispose on the class on which we invoked FAR is the only group t

[2017-04-12 19:24] gafter opened #18644 "Incorrect error for await in local function inside lock"
See https://github.com/dotnet/csharplang/issues/392 for details.

The compiler improperly produces an error when `await` is used inside a local function whose declaration happens to be inside a `lock` statement.

[2017-04-12 19:31] svick opened #18645 "Inaccurate error message when expression tree lambda has the wrong number of arguments"
**Version Used**: 2.0.0

**Steps to Reproduce**:

Compile [the following program](https://tryroslyn.azurewebsites.net/#f:r/K4Zwlgdg5gBAygTxAFwKYFsDcBYAUKSWRFDAOgBlIBHUgUQA8AHAJ1RHAHsIQdcBjADYBDdjADCMAN54YsmAxZtOEADwAxYBD4rIyADS6AfIZioYAXhgAKAJQWTABl4BfIA=):

[code]

**Actual Behavior**:

The compiler produces an error:

`Expression<Func<int, int>>` is not a delegate type, so the error message is i

[2017-04-12 19:58] #18506 closed

[2017-04-12 20:20] cston commented on #18142
@abhijitparkhi1983, I apologize, I am able to repro the issue on a VM with only VS2015 Community edition installed. (Previously, I had tested this on a VM with both VS2015 Community and VS2017.) We'll investigate further. Thanks for reporting this issue.

[2017-04-12 20:23] CyrusNajmabadi commented on #18621
I don't repro this problem myself:

![image](https://cloud.githubusercontent.com/assets/4564579/24977819/45ffeec2-1f83-11e7-97ae-f26c7966b78b.png)

[2017-04-12 20:24] CyrusNajmabadi commented on #18621
Note: i tried caret locations all through that type (including right before/after the ```<``` and ```>``` tokens.  All locations works properly.

[2017-04-12 20:41] Pilchie commented on #18614
Similar to #13577

[2017-04-12 20:46] Pilchie commented on #18620
Yes - it's related to parsing for async.  Moving to the compiler.  @CyrusNajmabadi has some ideas about how we could parse better here.

[2017-04-12 20:51] Pilchie commented on #18627
@srivatsn / @davkean - this sounds like `Folders` in the wrong order for .NET Core project system.

[2017-04-12 20:56] Pilchie commented on #18641
Somewhat related to #17684 - and the desire to support filtering FAR by type of access in general.

[2017-04-12 20:57] CyrusNajmabadi commented on #18621
Tagging @olegtk

[2017-04-12 21:01] ashmind commented on #18572
Can confirm installing 4.6.1 fixes the issue, so the requirement should be 4.6.1, not 4.6.
Here is the stack trace when it's 4.6:
[code]

[2017-04-12 21:04] olegtk commented on #18621
Yep, can repro that. File an internal bug please.

[2017-04-12 21:04] jaredpar commented on #18572
That's disturbing because we explicitly target 4.6 frameworks in our projects (sometimes via NetStandard).  There is no intent to take a dependency on 4.6.1 in this layer because it's unnecessary.

[2017-04-12 21:06] #18621 closed

[2017-04-12 21:13] agocke commented on #18572
Yup, and I've confirmed that we're netstandard1.3 and the projects target 4.6, not 4.6.1

@weshaggard @ericstj Any idea what could be going on here?

[2017-04-12 21:16] jaredpar commented on #18572
@agocke definitely Net Standad 1.3 compliant.  Or at least when I port our code to the new SDK and use NetStandard 1.3 as the target it still compiles fine.

[2017-04-12 21:16] jaredpar commented on #18572
Adding @terrajobst as well.

[2017-04-12 21:37] jasonmalinowski commented on #18592
@davkean: yep, that's pointing to the specific build that we lost. We have just delivered a new build to vsumain, so at this point my advice (which I fully admit isn't good) is to consider pulling those changes in. If that's not an option then @natidea could do a one-off insertion into your branch if you feel that would help.

[2017-04-12 21:38] #12116 closed

[2017-04-12 21:41] natidea commented on #18592
vsuwpt is locked right now, so that's not an option either unfortunately

[2017-04-12 21:41] jasonmalinowski commented on #17432
@jaredpar done, right?

[2017-04-12 21:47] ericstj commented on #18572
I disassembled IsDegenerateQuery and I see the following:
[code]
We added IReadOnlyCollection<T> to Stack<T> in **4.6** .  I suppose the build server might have been in some torn state. Install of 4.6.1 would have fixed that, repair of 4.6 would have done the same. /cc @AlexGhiondea

Anyone have a repro on something other than this one machine?  You should check the version of System.dll loaded if

[2017-04-12 21:49] dpoeschl commented on #16791
These tests are going away and will be replaced with tests against the new framework. It's not worth doing a separate investigation into the old behavior.

[2017-04-12 21:49] #16791 closed

[2017-04-12 21:55] CyrusNajmabadi opened #18649 "Provide extensibility system to map custom completion tags to completion images+filters"
Razor would like this as they have some items they want to put in the completion list that do not map to any of our well known completion tags.  i.e. they want completion for something like "@import" and they'd like a glyph+filter representing "@-directives".

This should not be too difficult to provide, though it would likely be custom to every layer that has a way to present images.  For example

[2017-04-12 21:55] CyrusNajmabadi commented on #18649
Tagging @Pilchie @toddgrun

[2017-04-12 21:58] CyrusNajmabadi opened #18650 "Provide a way for Razor completion providers to not be loaded for normal C# documents."
Razor would like to be able to provide specific types of completion when in a cshtml file.  For example, offering "import" after an "@" token.  At the point where @ is written, this will now be a C# document, so it would be clean for there just ot be customer C# completion provider that handles this case (provided by razor).

However, it would be bad to load this completion provider in a normal C#

[2017-04-12 21:58] CyrusNajmabadi commented on #18650
Tagging @Pilchie @toddgrun @jasonmalinowski

[2017-04-12 22:06] gafter commented on #1484
A proposal to revise the unused variable warning rules is https://github.com/dotnet/roslyn/issues/15695

[2017-04-12 22:22] CyrusNajmabadi commented on #18621
Done: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/407331

[2017-04-12 22:22] jasonmalinowski commented on #16030
@Pilchie Why do you think this is fixed? This doesn't look like @dpoeschl's hang-on-close bug.

[2017-04-12 22:26] jmarolf opened #18653 "Compilers.sln does not build"
**Version Used**:  lastest master

DeployDesktopTestRuntime and CodeAnalysisTest do not build if you clone the repo, restore, and only build Compilers.sln

[code]

[2017-04-12 22:27] davkean commented on #16030
I thought we came to the conclusion that we did?

[2017-04-12 22:28] jmarolf commented on #18653
Looks like we added these as assembly references.  @sharwell is there a reason these are not project references?

[2017-04-12 22:29] jasonmalinowski commented on #16030
@davkean We definitely came to the conclusion...I'm not sure on what basis though. :smile: I don't recall what fix this would have been though at least not with the minidump you have.

[2017-04-12 22:32] davkean commented on #18592
Nah, I ended up building Roslyn myself. If this is just one build, I'll close it.

[2017-04-12 22:32] #18592 closed

[2017-04-12 22:36] ashmind commented on #18572
The build server hdmp references `System.ni.dll`, `4.0.30319.36350`, built by FX452RTMLDR -- seems like a server issue then.

[2017-04-12 22:46] ericstj commented on #18572
Indeed, that's a native image from 4.5.2.  If you have a machine in repro state it's something worth investigating from the setup and/or loader side.  You shouldn't be able to get in a state with 4.6 installed running on 4.5.2 bits (unless there was a pending reboot or power failure during update or something).

[2017-04-12 22:47] Pilchie commented on #16030
The time difference between me saying in 14 days ago, and me assigning it to you 5 days ago still active was when I realized that it wasn't the same issue.  I agree that it's not the `OnDocumentContextUpdated` hang that I thought of the first time.

[2017-04-12 22:48] sys27 commented on #18032
The actual output is formatted by `CommonObjectFormatter.Visitor` and it iterates properties from full inheritance hierarchy (line 324):
[code]

Why do we need to check all base types? As I understand, The `type.DeclaredProperties` collection will contain properties from base classes. Am I right?

[2017-04-12 22:48] dpoeschl commented on #16030
It does look distinct from the one I fixed.

[2017-04-12 22:50] mavasani commented on #18352
The additional diagnostic is coming from our sample analyzer MakeConstCS: https://github.com/dotnet/roslyn/blob/614299ff83da9959fa07131c6d0ffbc58873b6ae/src/Samples/CSharp/MakeConst/Impl/DiagnosticAnalyzer.cs#L23

We shouldn't be building samples when running integration tests. This seems like an infrastructure issue. @333fred @jasonmalinowski who should be looking into this?

[2017-04-12 22:54] jasonmalinowski commented on #16030
@davkean If you happen to still have the dump file I might need it here. Alternatively I can take a WinDBG remote debugger connection if that is easier for you.

[2017-04-12 23:00] davkean commented on #16030
The one without a heap is on our team's internal share as above  - if you absolutely need a heap I can upload in a day or two, my 2 Mbps upload won't be happy though.

[2017-04-12 23:00] gafter opened #18655 "Inline Temporary Variable Refactoring produces invalid code"
**Version Used**: VS2017 RTM

**Steps to Reproduce**:

1. Type the following code in a method
2. Trigger `inline-temporary-value` from the declaration of `t`

[code]

**Expected Behavior**:

[code]

(with appropriate adjustment of uses of `t`)

**Actual Behavior**:

[code]

Along with a compilation error that you cannot use a nullable type with pattern-matching.

An alternative approach would be t

[2017-04-12 23:01] jasonmalinowski commented on #16030
@davkean Unfortunately the heapless one doesn't have symbols/binaries anymore to back it, so I'm just getting 100% useless frames.

Just do a WinDBG remote then. That'll probably mean we're both happier. :-)

[2017-04-12 23:03] davkean commented on #16030
Not sure I understand - you would remote into what exactly? I don't' have a repro.

[2017-04-12 23:04] Pilchie opened #18656 "Extract Method Selection expansion doesn't work if selection starts in an if conditional"
Given the code and selection below, extract method doesn't work.  It seems to be tied to having the selection starting inside the if conditional.

[code]

Originally reported at https://github.com/OmniSharp/omnisharp-vscode/issues/1226

[2017-04-12 23:06] jasonmalinowski commented on #16030
As long as your machine is reachable from mine (corpnet joined?) you can open the dump in WinDBG, and then do something like:

.server tcp:port=12345

That'll give a connection string you can pass to me, and then I can remotely control your debugger. Think of it as ssh-for-debuggers.

[2017-04-12 23:07] 333fred commented on #18352
Buildmaster @jaredpar?

[2017-04-12 23:09] davkean commented on #16030
Why would the dump with heap have better frames?

[2017-04-12 23:11] jasonmalinowski commented on #16030
@davkean The heap dump should have the module images so I can at least get method names.

[2017-04-12 23:13] Pilchie commented on #16030
Note that https://devdiv.visualstudio.com/DevDiv/_workitems?_a=edit&id=291336 has a heap already shared internally.

[2017-04-12 23:23] terrajobst commented on #18572
Looks like everything is like it should be except, the torn server state and the fact that your package description is wrong (.NET Standard 1.3 is only supported on .NET Framework 4.6.1)

[2017-04-12 23:41] genlu opened #18658 "Implement GetArgumentMatchingParameter and ArgumentsInParameterOrder as extension methods"
Those are removed from core `IHasArgumentsExpression` interface, based on the latest interface design. Will likely bring them back as extension methods instead, once the core interface and implementation are finalized. This issue is created to track that.

Related to:
#8813 #8805

[2017-04-13 00:33] WillPittenger commented on #18600
I'm getting this inside a C# DLL source file.  All I do is put the caret on a field inside a property and boom.  I wasn't refactoring anything, but I figure maybe it was going to tell about options for refactoring.  The class in question is nested inside another class in a namespace.

[2017-04-13 00:33] WillPittenger commented on #18600
System.InvalidOperationException : Unexpected false
   at Roslyn.Utilities.Contract.ThrowIfFalse(Boolean condition,String message)
   at Microsoft.CodeAnalysis.CSharp.ExtractMethod.CSharpMethodExtractor.CSharpCodeGenerator.ExpressionCodeGenerator.GetCallSiteContainerFromExpression()
   at Microsoft.CodeAnalysis.CSharp.ExtractMethod.CSharpMethodExtractor.CSharpCodeGenerator.ExpressionCodeGenerator.

[2017-04-13 00:37] davkean commented on #18627
Yeah, dupe of https://github.com/dotnet/project-system/issues/1760:

[2017-04-13 00:37] #18627 closed

[2017-04-13 00:39] jaredpar commented on #18572
Glad to know it wasn't something wrong with our build.  Was quite worried for a minute 😄

[2017-04-13 00:45] terrajobst commented on #18572
There is something wrong with your build: it produces a NuGet package with the wrong description ;-)

[2017-04-13 01:00] jaredpar commented on #18352
Agree.  Believe we've decided that's the case previously as well.  We've just never had the time to make it happen.

[2017-04-13 01:02] jasonmalinowski commented on #18572
@terrajobst We have that icky bit fixed; we're building the updated packages tomorrow. :smile:

[2017-04-13 01:45] davkean commented on #18340
I disagree with this resolution, my machine is now in state that's not clear how I reset just these settings without throwing always all my settings:

![image](https://cloud.githubusercontent.com/assets/1103906/24986516/0ed68382-203e-11e7-91c6-24af52d1c0f4.png)

Because I happened to open the settings page once while I had Japanese selected, it means that these are forever in Japanese? I don't eve

[2017-04-13 03:00] jmarolf commented on #18352
My proposed resolution to this is to build the samples with /p:DeployExtensions=False on ci

[2017-04-13 04:03] abhijitparkhi1983 commented on #18142
@cston Thanks. Looking forward to further communication.

[2017-04-13 04:38] CyrusNajmabadi commented on #18340
@dpoeschl

I'm not sure that's a good idea.  With settings we should only be storing things the user explicitly has set.  If the user hasn't changed the setting, then we probably shouldn't be persisting anything.

If we followed that approach, then the we would always get the fresh set of options for the user, and that should show up properly for the user.  Of course, once they change anything, th

[2017-04-13 04:43] CyrusNajmabadi commented on #18340
@dpoeschl Another thing to consider is the idea that *under the covers* the title for these is 'null', And we map the well known initial settings to localized strings on demand.   That way, when a user provides their own title, we absolutely store and migrate it properly.  However, the well-known rules will have titles that always show up properly until the user changes is away from the default (n

[2017-04-13 04:45] #18626 closed

[2017-04-13 05:33] cston commented on #18142
@abhijitparkhi1983 We're still investigating the issue. In the meantime, @DustinCampbell suggested that installing [VS2017 Build Tools ](https://www.visualstudio.com/downloads/?q=build+tools) may be a work around. Please note, that will install the latest MSBuild and Roslyn compilers.

[2017-04-13 05:39] abhijitparkhi1983 commented on #18142
@cston Thanks for the update. Will install the VS2017 Build Tools and try to check it out.
In the mean time, I would also like to bring to the notice of the team that the above mentioned behavior can be reproduced for even Roslyn Version 1.3.2  on a machine which has no Visual Studios 2015 Setup.

This is a kind of test machine where we have **VS2015 Build Tools** installed along with .NET Framewo

[2017-04-13 05:59] #17432 closed

[2017-04-13 07:00] ljw1004 opened #18665 "IDE0016 false positive"
**Version Used**: VS2017 15.1 (26403.3) Release

**Steps to Reproduce**:

Do File>New>C# Console App and type this code.

![ide0016-false-positive](https://cloud.githubusercontent.com/assets/3316258/24993093/bbb6e8d4-201c-11e7-9a9a-c3b17a053945.png)

**Expected Behavior**:

You should either offer this quickfix which preserves the meaning of the code
[code]

Or if you continue to offer the current

[2017-04-13 07:03] CyrusNajmabadi commented on #18665
Hi lucian.  Great to hear from you.  This was fixed with: https://github.com/dotnet/roslyn/pull/18431

[2017-04-13 07:08] CyrusNajmabadi commented on #18665
A few notes: https://github.com/dotnet/roslyn/issues/17185 is a different sort of case, and we believe it is reasonable to offer the feature in that sort of case.

Your case is clearly one where *important* semantics where changed, and that is def not good.

We agree.  :)

We agree.

--

I want to be clear, we did not close the linked bug with the intent of saying that the feature was flawless and

[2017-04-13 07:09] ljw1004 commented on #18665
Hmm... if I understand right, the fix would disable the message in this case?

Is it possible to instead show the message and suggest the quickfix I adopted?

[2017-04-13 07:11] CyrusNajmabadi commented on #18665
yes.  It's possible.  But it's a feature request for the existing feature to detect and offer that sort of change based on the pattern you have.  I'm definitely totally supportive of us detecting and offering fixes in more cases.  :)

[2017-04-13 07:13] davkean opened #18666 "Null Reference when attempting to navigate to a constructor from Find All References"
I double-clicked the highlighted constructor in Find All References, and VS opened a dialog and said that an extension failed and to look at ActivityLog.

![image](https://cloud.githubusercontent.com/assets/1103906/24994012/542a5016-206c-11e7-842d-5adeb4f01558.png)

Looking at the log I see:

[code]

Double-clicking again does not provide an error. In between Finding the results, and double-clicki

[2017-04-13 07:17] davkean commented on #18666
Oh I I think I renamed this file and then undid that rename - which may have reloaded a project in between, or maybe a solution. I'm not sure. Perhaps the document doesn't exist any more?

[2017-04-13 07:17] ljw1004 commented on #18665
Okay, thanks Cyrus! Will do.

[2017-04-13 07:17] #18665 closed

[2017-04-13 07:30] CyrusNajmabadi commented on #18665
Also, please let me know what additional patterns you'd like to see detected.  As an example, i know i want to add support for finding:

[code]

And suggesting:

[code]

This would be under another option though as i can see some people not likely the potentially clutered look of ```if (!(o is T t))```

[2017-04-13 07:31] kristersz commented on #17401
I solved my issue.. the real problem was with the app build configuration, however, now the Compilation does not seem to resolve any references outside of the solution and the containing assembly of mscorlib types is <Missing Core Assembly>.

[2017-04-13 08:18] kindermannhubert commented on #18344
This is very undesirable while using "Text Editor/C#/Advanced/Enable full solution analyses". Within our team we use only analyzers which you have to respect. So these analyzers cannot report false positives. And we like this analyzer so turning it off is not an option. We want to have common style throughout whole code base.

There is unpleasant inconsistency at variable availability in the same

[2017-04-13 08:36] CyrusNajmabadi commented on #18344
@kindermannhubert  The issue you're encountering has been fixed with: https://github.com/dotnet/roslyn/pull/18109

Here's the experience you get now:

![image](https://cloud.githubusercontent.com/assets/4564579/24996901/85521134-1fe9-11e7-9e2a-2d6691d2039b.png)

[2017-04-13 08:38] CyrusNajmabadi commented on #18344
@kindermannhubert

This current issue is not about false-positives.  It's about someone just not liking the suggestion at all, even though it's totally valid.  If you are getting false-positives, then that's something we'll always want to look at (though we've fixed a whole host of them, and you should get those fixes in the next VS update).  If you encounter these, please file *new* issues on the

[2017-04-13 08:42] kindermannhubert commented on #18344
Thanks for explanation. I was talking about false positives primarily because of example above (wrong fix of methods M2 and M3) which is evidently already fixed.

[2017-04-13 08:44] CyrusNajmabadi commented on #18344
@kindermannhubert Yup.  I totally understand :)   I just don't want tangentially related concerns being cross-discussed in the same issue. Let's leave this issue around the experience for people who do/don't want the feature (even when it's not a false-positive), and move any false positive reports to new issues.

Thanks!

[2017-04-13 08:55] kindermannhubert opened #18668 "IDE0018 (Variable declaration can be inlined) invalid fix"
**Version Used**: VS 15.1 (26403.3)

Example:
[code]
IDE0018 is detected for variable 'x' (it should not be detected). After the fix code looks like this:
[code]
which does not compile because of "CS0165	Use of unassigned local variable 'x'" error (information that 'x' was set to '1' is completely lost).

It's interesting that when you change original code ("var" -> "int"):
[code]
then the IDE0018

[2017-04-13 09:51] mcosmin222 opened #18669 "Visual studio 2017 keeps collapsing pinned windows"
**Version Used**: 2017.1

**Steps to Reproduce**:

1. Create a new solution
2. Pin the solution explorer, to keep it open
3. start and then stop debugging
4. Solution explorer is now collapsed

**Expected Behavior**:
Solution explorer (pinned window) should stay opened because it was opened when I started debugging

**Actual Behavior**:
Solution explorer (pinned window) gets collapsed after I stop

[2017-04-13 11:07] magnusbakken opened #18670 "Use Throw Expression code action discards contents of else-clause"
**Version Used**:
Visual Studio 2017 (build 26403.3)

**Steps to Reproduce**:
Apply the "Use throw expression" code action on a piece of code that performs a null check and throws ArgumentNullException for some variable if it's null, or assigns the variable to a member field if the value isn't null, but which also has an else or else-if clause for the if-statement.

    int? _x;

    public C(int?

[2017-04-13 11:13] JosefPihrt commented on #17729
@Pilchie I can still reproduce it with latest version (15.1.0+26403.3).

It could be caused by the fact that SyntaxFactory contains method **List**. So intellisense thinks that it cannot use **new List** and instead it uses **new System.Collections.Generic.List**.

[2017-04-13 12:15] kindermannhubert opened #18671 "Pattern matching within a lambda within a field initializer (and IDE0019)"
**Version Used**: VS 15.1 (26403.3)

Following code does not compile with error "CS8200	Out variable and pattern variable declarations are not allowed within constructor initializers, field initializers, or property initializers." but i believe it should:
[code]

There is inconsistency between this behavior and IDE0019 (Use pattern matching). IDE0019 is detected in following code:
[code]
and fix o

[2017-04-13 13:31] hughbe opened #18672 "Crash in Microsoft.CodeAnalysis.CSharp.ExtractMethod.CSharpMethodExtractor.CSharpCodeGenerator.ExpressionCodeGenerator.GetCallSiteContainerFromExpression"
**Version Used**:
Microsoft (R) Visual C# Compiler version 2.0.0.61501, Visual Studio 2017 latest version

**Steps to Reproduce**:

Double click on `_rections` before `?? ...`

[code]

**Expected Behavior**:

No crash

**Actual Behavior**:

[code]

[2017-04-13 14:06] JosefPihrt opened #18673 "Unused using directive is not reported."
**Version Used**: Visual Studio 2017 15.1.0+26403.3

**Code to Reproduce**:
[code]
**Expected Behavior**:
using directive `Microsoft.CodeAnalysis.CSharp` is not used so it should be reported.

[2017-04-13 14:12] controlflow opened #18674 "IDE crash on unfinished tuple deconstruction expression"
**Version Used**:

**Steps to Reproduce**:

Paste the following code in VS:
[code]

**Expected Behavior**:

IDE continue working with acceptable parser recovery results :)

**Actual Behavior**:

IDE crash

[2017-04-13 14:13] JosefPihrt opened #18675 "Invalid expression binds to valid TypeSymbol."
**Version Used**: Visual Studio 2017 15.1.0+26403.3

**Code to Reproduce**:
[code]
If we try to obtain TypeSymbol for `x.Kind()` we get `Microsoft.CodeAnalysis.CSharp.SyntaxKind` which does not make sense to me.

[2017-04-13 15:46] Pilchie commented on #18142
The Roslyn Related Packages are there in the Release folder pointing to Roslyn Version 1.3.2.

Note that you need to install the 4.6.1 *Targeting Pack* as well as the 4.6.1 *runtime*. The former contains the reference assemblies that developers use to compile against, the latter contains the actual runtime assemblies production machines can deploy to run against.  Installing the runtime doesn't in

[2017-04-13 15:54] Pilchie commented on #17401
@kristersz - if you use the latest 2.3 prerelease nuget packages from MyGet, @mattwar added additional logging that should help you understand what the msbuild failures are.

[2017-04-13 16:17] #18602 closed

[2017-04-13 16:34] abhijitparkhi1983 commented on #18142
@Pilchie thanks for your input. Will try to install the 4.6.1 Targeting Pack as well as 4.6.1 runtime.
I am a  bit confused with this. So does this mean that Visual Studios 2015 Community version installation  installs the 4.6.1 Targeting Pack?

[2017-04-13 16:52] Pilchie commented on #18673
Starting with compiler, as we just report the results of the API call.

[2017-04-13 16:54] Pilchie commented on #18669
Roslyn doesn't control the window management - can you please file through VS Send Feedback instead?

In general though there are different (independent) window layouts for while debugging and while not debugging, so that you don't have to manage callstack/locals/etc while not debugging, so I expect this is by design from the VS platform team's viewpoint.

[2017-04-13 16:54] #18669 closed

[2017-04-13 16:56] 333fred commented on #18532
Happened again in https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/view/Official%20Builds/job/dev16/job/windows_release_unit64/39/. @jaredpar @dotnet/roslyn-infrastructure, who should this be routed to?

[2017-04-13 16:57] Pilchie commented on #18653
@jmarolf is this blocking you?  @sharwell is OOF until next week.

[2017-04-13 16:59] Pilchie commented on #17729
Yes, you need to have a generic method with the same name.  Updated description with standalone repro.

[2017-04-13 17:02] janjoostvanzon commented on #16255
Any problem with leaving out the discard symbol altogether? For example:
(,) =>
MyMethod(=> Something());
(,x) =>
I guess the you cannot disambiguate between no parameter and one parameter. But would it matter? You're discarding them anyway.

[2017-04-13 17:21] Pilchie commented on #18142
Yes, Visual Studio typically installs several targeting packs.

[2017-04-13 17:41] HaloFour commented on #16255
@janjoostvanzon

Is a single character too verbose?

It would for overload resolution.  There could be two `MyMethod` methods, one could accept `Action<T>` and the other could accept `Action<T1, T2>`.

[2017-04-13 17:43] 333fred opened #18676 "Hanging BasicReferenceErrors Test"
BasicReferenceErrors hung during a test run on https://github.com/dotnet/roslyn/pull/18646.

Screenshot:
![pasted image at 2017_04_13 10_31](https://cloud.githubusercontent.com/assets/2371880/25017036/21912b8c-2037-11e7-8b71-3207876bfe3f.png)

Dump and pdbs: "\\mlangfs1\public\frsilb\dumps\devenv_referenceerrors_hang.dmp"

Assigning to @jmarolf.

[2017-04-13 17:44] jasonmalinowski commented on #18532
@jaredpar had some hack for one WPF bug, but that might not be sufficient. Did we get a crash dump for it or anywhere else? The full stack might be more useful than what it is giving in the log.

[2017-04-13 17:48] #18623 closed

[2017-04-13 17:49] Pilchie commented on #18676
Tagging @CyrusNajmabadi as I think that assert is his.

[2017-04-13 17:52] 333fred commented on #18676
Updated the image, now not sized for ants and with less jpg!

[2017-04-13 17:52] CyrusNajmabadi commented on #18676
Sorry, i can't read the assert!

[2017-04-13 17:52] 333fred commented on #18676
@CyrusNajmabadi just updated it

[2017-04-13 17:52] CyrusNajmabadi commented on #18676
Ah, i see it now :)  yes, that's bad.  Will look when i get into the office.

[2017-04-13 17:57] 333fred commented on #18532
There do not appear to be any dumps in the archived artifacts from that run.

[2017-04-13 18:06] Pilchie commented on #17729
Given the limited nature of the problem, I'm okay with this.

[2017-04-13 18:09] Pilchie commented on #18655
Dupe of https://developercommunity.visualstudio.com/content/problem/32721/ide0016-null-check-can-be-simplified-in-generic-cl.html, and fixed in https://github.com/dotnet/roslyn/pull/18178

[2017-04-13 18:09] #18655 closed

[2017-04-13 18:12] Pilchie commented on #18674
Tag @jcouv does this look familiar to you?

I can't repro on the latest bits, but can on 15.1.

Stackoverflow with callstack:
[code]
and so on.

[2017-04-13 18:15] Pilchie commented on #18672
Duplicate of https://github.com/dotnet/roslyn/issues/18600

[2017-04-13 18:15] #18672 closed

[2017-04-13 18:15] jcouv commented on #18674
Yes, it looks like https://github.com/dotnet/roslyn/issues/17572, which was fixed in 15.3.

[2017-04-13 18:16] #18634 closed

[2017-04-13 18:16] jasonmalinowski commented on #18460
@Nassiel We're happy to investigate the restore errors you saw, so feel free to share them. Until then I'm going to close this bug as there's not much we can do until then, but feel free to reply and we'll reactivate it.

[2017-04-13 18:16] #18460 closed

[2017-04-13 18:17] jcouv commented on #18674
Actually, I take that back. https://github.com/dotnet/roslyn/issues/17572 was not a stack overflow, it was an unreachable exception.

[2017-04-13 18:19] jmarolf commented on #18653
@Pilchie no, a community member reported that Compilers.sln no longer built and this is the result of that investigation.

[2017-04-13 18:22] #18639 closed

[2017-04-13 18:22] jcouv opened #18678 "Emitting bad code with `when (false)`"
[code]

[2017-04-13 18:24] jcouv commented on #18609
The PEVerify issue with `when (default)` is pre-existing problem. It repros with `when (false)`.
Filed  https://github.com/dotnet/roslyn/issues/18678

[2017-04-13 18:26] jaredpar commented on #18532
This is pretty strange.  The NRE is coming on the call to QueueUserWorkItem as the delegate parameter is `null`.  The call site is very constrained here, here is the class in it`s entirety:

[code]

all calls to RegisterCallback are with static readonly fields that are always non-null.  Hence only scenario I can imagine where we call QueueUserWorkItem with a null work item is;

- Constructor is en

[2017-04-13 18:39] CyrusNajmabadi commented on #18670
Ack!

[2017-04-13 18:51] janjoostvanzon commented on #16255
@HaloFour:
About the overload resolution, I agree: it is a problem. Thanks for pointing it out. But aren't there a lot of cases where ambiguity in the C# language results in a compiler error and demands the use of a longer form? I think that 'no character' might just be unambiguous in 99% of the cases.

I don't feel very strongly about my suggestion, but I do like how 'no character' looks better t

[2017-04-13 19:01] CyrusNajmabadi commented on #18676
Hey Fred, so a small problem: the assert is coming from *another* process.  Specifically the OOP process.  We'd have to capture a dump of that to get good info.  In the meantime, i've made https://github.com/dotnet/roslyn/pull/18681 so that we no longer assert, but instead report an NFW.  This should help unblock tings, while still allowing us to collect information to address this problem.

[2017-04-13 19:03] HaloFour commented on #16255
@janjoostvanzon

Shrug, thinking of LINQ most of the extension methods do have overloads, one for just the element and another for the element and the index.  So the issue would be pretty common there.

And no character is less than one character, but it's still a very minor difference.  The use of `_` allowed the parser to keep to the existing identifier parsing rules.  Eliminating all of that wo

[2017-04-13 19:20] jskeet opened #18682 "Can Deconstruct instance methods never be generic?"
**Version Used**: 2.1.0.61520

**Steps to Reproduce**:

[code]

The commented out code produces error messages of:

Now I'd start by arguing that the second message is incorrect: it clearly *did* find a Deconstruct instance method with 2 out parameters and a void return type... but it wasn't deemed appropriate due to the first message.

I'm trying to write (for C# in Depth) the rules of `Deconstru

[2017-04-13 19:51] Spongman commented on #16879
i can confirm that the bug repros with ValueTuple 4.3.0, but not with 4.3.0-preview1-24530-04.

[2017-04-13 19:52] dpoeschl opened #18684 "Rename File to Match Type incorrectly fires in correctly named .xaml.cs files"
**Version Used**: Latest as of this bug filing

**Steps to Reproduce**:

1. Create a WPF application.
2. Open MainWindow.xaml.cs
3. Show the Lightbulb on the declaration of the `MainWindow` class

**Expected Behavior**: No suggestion to rename the file to "MainWindow.cs"

**Actual Behavior**: Suggestion to rename the file to "MainWindow.cs"

[2017-04-13 19:54] jaredpar commented on #18682
CC @jcouv

[2017-04-13 19:55] jaredpar commented on #18629
CC @jcouv

[2017-04-13 20:01] madskristensen commented on #18650
We would like this for 15.4. The change is important so Razor can provide Intellisense for Razor directives which is a highly requested feature. The lack of the feature makes the Razor editor seem broken and incomplete and we've received many many bugs on it from users

[2017-04-13 20:01] madskristensen commented on #18649
We would like this for 15.4. The change is important so Razor can provide Intellisense for Razor directives which is a highly requested feature. The lack of the feature makes the Razor editor seem broken and incomplete and we've received many many bugs on it from users

[2017-04-13 20:03] chucker commented on #18671
This also affects out variables:

[code]

VS will suggest:

[code]

But then fail with CS8200. I'm not sure if this is also IDE0019.

[2017-04-13 20:04] chucker commented on #18671
Possibly a duplicate of #17371

[2017-04-13 20:06] jskeet commented on #18629
(Do let me know if filing this sort of strange picky issue isn't useful, btw. When writing, I tend to explore all kinds of corner cases. This one probably isn't as corner-case-like as most, admittedly - but some really will be. If it's useful to see what surprises more investigative users, that's great - but I certainly don't want to cause churn to no-one's benefit.)

[2017-04-13 20:08] Pilchie commented on #11499
Updating title since this is actually a more general set of features.

[2017-04-13 20:11] jskeet commented on #18682
Now that I've looked at `Deconstruct` overloading a bit more carefully, it feels like only the arity of the "target" is used in order to find a candidate method, which would certainly make sense of this restriction. Is finding the method to deconstruct effectively a matter of trying to transform:

[code]

into something like:

[code]

... and then checking that would work? That would explain a lot

[2017-04-13 20:13] dpoeschl opened #18686 ""Convert if to switch" should only fire if there's at least two checks"
**Version Used**: Current as of this bug filing.

![image](https://cloud.githubusercontent.com/assets/235241/25022499/f03b5eae-204a-11e7-9c68-66e87d2238e5.png)

[2017-04-13 20:16] jcouv commented on #18682
@jskeet Yes, deconstruction translates to something that is very similar to `out var`. Once a method is found by this mechanism, we apply further restrictions (return type, etc).

See https://github.com/dotnet/roslyn/blob/master/docs/features/deconstruction.md

## Resolution of the Deconstruct method

The resolution is equivalent to typing `rhs.Deconstruct(out var x1, out var x2, ...);` with the a

[2017-04-13 20:18] jskeet commented on #18682
Fantastic - thanks very much :)

[2017-04-13 20:18] #18682 closed

[2017-04-13 20:30] jcouv commented on #18629
@jskeet No problem with filing issues that may be questions. Please tag me on tuples and deconstruction questions for a faster triage.

The compiler doesn't emit any `ValueTuple` unless the return value of the deconstruction is used (for example, `((x, y) = (1, 2)).Item1`).
Still, you can "see" tuples in the deconstruction. Technically, the left-hand-side in your example, `(int year, int month, in

[2017-04-13 20:41] Pilchie commented on #9199
Moved to https://github.com/dotnet/roslyn/projects/20.

[2017-04-13 20:41] #9199 closed

[2017-04-13 20:41] CyrusNajmabadi commented on #18666
@dpoeschl This looks like a linked file issue.  Basically, this codepath is intended to be able to fail (hence the "Try" part). however, there has been an added call to:

[code]

The default impl of that basically cannot fail, however, it looks like the impl can fail in VIsualStudioWorkspaceImpl here:

[code]

if this codepath is intended to be called from codepaths that can fail (for example, bec

[2017-04-13 20:42] Pilchie commented on #7046
Done or already tracked in projects

[2017-04-13 20:42] #7046 closed

[2017-04-13 20:42] CyrusNajmabadi commented on #17888
Unable to repro this.  No response from customer.  Closing out.

[2017-04-13 20:42] #17888 closed

[2017-04-13 20:51] genlu opened #18689 "Reenable analzyers that uses IOperation API"
We have to disable a few IOpeartion based analyzers from PR #18494 onward because it has changed IOperation interface. Will need to enable them as soon as the following prerequisite are met:

 - [x] https://github.com/dotnet/roslyn/issues/18549 Fix the implementation of IHasArgumentsExpression.
 - [x] https://github.com/dotnet/roslyn/issues/19022 update analyzers to use the new API, verify their b

[2017-04-13 20:51] genlu commented on #18689
FYI @dotnet/analyzer-ioperation

[2017-04-13 20:58] mavasani commented on #18689
Can you add the disabled rule IDs here?

[2017-04-13 21:25] gafter commented on #18609
For the interpolated string, I think that there is no error in this code, as it is by spec equivalent to called `string.Format`.

We should have `object` as the converted type due to that being the argument type of `string.Format`. Same thing for the interpolation `{null}`.

[2017-04-13 21:26] gafter commented on #18609
The `using` case is analogous to using `null`, which does not report an error.

[2017-04-13 21:45] tmat commented on #18350
@gregg-miskelly

Added

[code]

above.

Re 2. and 3. need to investigate.

4. What are the circumstances under which the baseline metadata become invalid? Can it happen during a debugging session?

[2017-04-13 22:06] gafter commented on #18675
It is the only extension method in your solution. You are also getting an error message for it.

[2017-04-13 22:12] gafter commented on #18673
The extension method `Microsoft.CodeAnalysis.CSharp.CSharpExtensions.ReplaceTrivia(this SyntaxToken token, ...)` is a member of the method group referenced by the expression `root.ReplaceTrivia`, even though it is not selected by overload resolution as the method being invoked. The compiler thus does need to (and does) traverse through that using directive to bind the `ReplaceTrivia` invocation.

[2017-04-13 22:14] gafter commented on #18671
This is a symptom of https://github.com/dotnet/roslyn/issues/16935 .

[2017-04-13 22:14] #18671 closed

[2017-04-13 22:16] gafter commented on #18632
/cc @jcouv @VSadov

[2017-04-13 22:18] gafter commented on #18631
@socmag Could you please provide a source file that illustrates the issue?

[2017-04-13 22:29] Pilchie opened #18691 "Guard dllexport code for sqlite on mono"
See: https://github.com/dotnet/roslyn/pull/18343#discussion_r111498857

To be fixed at https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorage.cs#L112

[2017-04-13 22:32] CyrusNajmabadi commented on #18055
We will do this.

[2017-04-13 22:37] alrz commented on #18686
For reference, this was mentioned in the PR,

[2017-04-13 22:40] gregg-miskelly commented on #18350
4: Depends on how exactly we implement fetching the metadata (ex: making a copy of it vs. just giving out the ICorDebug copy of it). But, at least assuming we are handing out the ICorDebug copy, it would become invalid when that module is unloaded. In the case that the module is still loaded somewhere else, the metadata would still be obtainable, but the language service would need to ask for a ne

[2017-04-13 23:07] #18670 closed

[2017-04-13 23:22] jasonmalinowski commented on #18653
@jmarolf Where did you see that? If you're building in VS and there's missing projects you could see that failure.

[2017-04-13 23:33] JosefPihrt commented on #18675
I assumed that invalid expression cannot have valid TypeSymbol, which does not seem to be the case.

Interesting is that I get can TypeSymbol (method's return type) but I am unable to get MethodSymbol of the expression `x.Kind()`.

[2017-04-13 23:38] tmat commented on #18350
It would be good to avoid copies as much as possible. We wouldn't need this API if we didn't care about making a copy -- we could just read it from the file on disk and close the file.

We use the metadata only when we are calculating the IL/metadata delta. I assume the module won't be unloaded during that time (the debugger is in break state). Instead of the debugger notifying us about metadata t

[2017-04-13 23:44] jcouv commented on #18609
Confirmed that `null` has the same bugs (neither gets a converted type when used in interpolated string or `using`).

[2017-04-13 23:51] jcouv opened #18694 "Make UpgradeProject work for VB"
The driving scenario is tuple inferred names (https://github.com/dotnet/roslyn/pull/18374) (VB 15.3).

Update: also VB 15.5 features.

[2017-04-14 00:16] #18443 closed

[2017-04-14 00:46] jmarolf commented on #18653
@jasonmalinowski  this is from inside VS.  Most open source developers will clone the repo, run restore and then open and build from VS.

[2017-04-14 00:46] gregg-miskelly commented on #18350
@tmat sounds reasonable, but I still feel like there should be _something_ that we can use to have in the documentation that we can say 'here is how you can safely use this API'. If that is an event, or if we just have lock/unlock methods for getting the pointers I don't care. But I think there should probably be something.

[2017-04-14 01:17] CyrusNajmabadi commented on #18676
This should be addressed by https://github.com/dotnet/roslyn/pull/18681   It should at least stop the hang.

[2017-04-14 01:17] #18676 closed

[2017-04-14 03:09] jmarolf opened #18697 "OOP crashes VS on solution TODO parsing"
**Version Used**: Roslyn Nightly 2.3.0.6161309

**Steps to Reproduce**:
1. Open Roslyn.sln
2. Wait

**Actual:**

devenv crashes due to OOP
[code]

[2017-04-14 03:11] #18188 closed

[2017-04-14 03:48] jmarolf commented on #18352
Fixed with https://github.com/dotnet/roslyn/pull/18122

[2017-04-14 03:48] #18352 closed

[2017-04-14 04:08] mwaqasaziz commented on #7396
how i encountered this error in visual studio 2017

i have created two project suppose A and B but when i created project A the first one, in that  i created a class with the same name as project A, now in project B with out adding reference i used class A and Quick Action and Refactoring icon appears asking to add reference of project A to this project B when i click on add reference it started

[2017-04-14 04:10] jmarolf opened #18699 "AbstractLanguageService crashes VS with InvalidOperationException"
**Version Used**: 2.3.0.6161310

**Steps to Reproduce**:

1. Open Roslyn.sln
2. Modify properties of a project

**Actual Behavior**:
Visual Studio crash
[code]

[2017-04-14 04:14] jmarolf commented on #7396
@mwaqasaziz can you attach the callstack?

[2017-04-14 04:38] AlekseyTs opened #18700 "AssemblySymbol.GetWellKnownType API should be removed"
[code]

This method is not used by the compiler in any meaningful way, moreover its implementation is incorrect because it doesn't follow the lookup rules for well-known types. We should remove it before someone uses it by mistake, assuming it does the right thing.

[2017-04-14 04:44] jmarolf opened #18701 "VsixExpInstaller cannot install Roslyn.VisualStudio.Setup.Next because of "Razor Language Services""
**Version Used**:   [roslyntools.microsoft.vsixexpinstaller 0.2.4-beta](https://dotnet.myget.org/feed/roslyn-tools/package/nuget/RoslynTools.Microsoft.VSIXExpInstaller/0.2.4-beta) and latest roslyn master

**Steps to Reproduce**:

1.  download nuget package
2.  run following command
[code]

**Expected Behavior**:
installs successfully

**Actual Behavior**:

[code]

[2017-04-14 05:38] jskeet commented on #18629
If this ever does come up for discussion again, I'd certainly like to urge the team to consider it as a useful change. It probably doesn't matter too much for *application* authors, but I spend all my time writing *libraries* - I try to keep a wide range of targets (e.g. down to netstandard 1.3) and I avoid adding dependencies as far as possible. At the moment, I can add `Deconstruct` methods for

[2017-04-14 07:28] jmarolf commented on #18701
This is not a problem on RTM machines (where we run integration tests).  This only happens on Int Preview builds.  I would expect that this will block us from moving to newer builds of VS in future.

[2017-04-14 11:40] kristersz commented on #17401
Thank you, @Pilchie, for the tip. This is message I got:

[2017-04-14 12:00] davkean opened #18703 "random CPU spikes in idle VS"
_From @abpiskunov on April 14, 2017 0:17_

I was looking at VS at some moment in Task Manager and noticed that CPU started to grow to 50-60%  randomly without any action in VS (it was opened for a while already).  It was going on for sometime, then I decided to catch a trace and took etl: \\vwdbuild01\Temp\antonpis\dump\RandomCPU.etl  and it showed some code analysis going on, not sure if it is ro

[2017-04-14 12:17] sophistson commented on #17368
Thats closed, but I cant find any solution.
btw: A workaround might be: Just Close VS. That helped me.

[2017-04-14 15:30] Pilchie commented on #18676
It occurred to me that we have an `AssertListener` for unit tests that logs the assert and fails the test instead of displaying a dialog.  I guess it's not hooked up in the VS process during integration tests though, which we should do.

[2017-04-14 15:35] Pilchie opened #18704 "VS Integration tests should install an AssertListener in the VS process"
We install an AssertListener for unit tests that logs the assert and fails the test.  We should do the same for the VS process when running VS integration tests, so that they don't just hang the test run.

See https://github.com/dotnet/roslyn/issues/18676 for an example of where we didn't.

[2017-04-14 15:39] Pilchie commented on #17401
That sounds like your .exe.config needs to have BindingRedirects in place to redirect the msbuild task assemblies to the version of msbuild you are using.

[2017-04-14 15:46] Pilchie commented on #18703
@mavasani can you take a look?

[2017-04-14 15:47] Pilchie commented on #18701
@rynowak @toddgrun can you help with this?  We probably need an open version number somewhere...

[2017-04-14 15:48] Pilchie commented on #18699
@brettfo does this look like the watson you had earlier?

@jmarolf did you capture a dump with heap?

[2017-04-14 16:12] Pilchie commented on #18686
@alrz now that we're showing the lightbulb automatically whenever there is a refactoring, this feels like a little too much when we're using it for day to day development.

[2017-04-14 16:20] abhijitparkhi1983 commented on #18142
Thanks @Pilchie

@DustinCampbell Looking forward to further updates on this issue

[2017-04-14 17:10] jcouv commented on #18629
Re-opening the issue to track the request.

[2017-04-14 17:36] mavasani commented on #18549
Do we plan to fix this soon? I presume we want to fix it before we move analyzers repo to use the new Roslyn NuGet packages.

[2017-04-14 17:41] 333fred opened #18705 "[Failing test] Roslyn.VisualStudio.IntegrationTests.Basic.BasicReferenceHighlighting.Highlighting"
https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/master/job/windows_release_vs-integration/760/
https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/master/job/windows_debug_vs-integration/768/

[code]

![image](https://cloud.githubusercontent.com/assets/2371880/25050929/edd8593c-20fe-11e7-8377-1a91ced0b324.png)

[2017-04-14 17:44] 333fred commented on #18428
@ivanbasov, another failure.

https://ci.dot.net/job/dotnet_roslyn/view/Official%20Builds/job/master/job/windows_debug_vs-integration/768/

[code]

![image](https://cloud.githubusercontent.com/assets/2371880/25050988/44059540-20ff-11e7-8f40-96e14a9e9e38.png)

[2017-04-14 17:46] 333fred commented on #18705
The C# version is also failing, probably related. If it's not, @rchande, please open a new issue.
[code]
![image](https://cloud.githubusercontent.com/assets/2371880/25051041/88712424-20ff-11e7-9dfa-0e3e7ada1bb3.png)

[2017-04-14 17:46] genlu commented on #18549
Yes, this is at the top of my todo list.

[2017-04-14 18:29] ChristopherHaws opened #18706 "ServiceHub.RoslynCodeAnalysisService32.exe high CPU when overriding methods from Object"
**Version Used**:
Visual Studio Enterprise 2017 Version 15.1 (26403.3) Release

**Steps to Reproduce**:
1. Open a large solution
2. Open a file that has a class that overrides ToString, Equals, and or GetHashCode

**Expected Behavior**:
It would be nice if we could disable CodeLense from getting the count of references for methods that are overridden from Object to prevent massive CPU spikes.

**A

[2017-04-14 18:50] rynowak commented on #18701
Is this an issue because of our prerequisite for Roslyn? See https://github.com/aspnet/Razor/blob/dev/tooling/Microsoft.VisualStudio.RazorExtension/source.extension.vsixmanifest#L20

Should we remove the 16.0?

/cc @pranavkm

[2017-04-14 18:51] alrz commented on #18686
I think there should be a way to  specify "likelihood" of a refactoring to be preferable, then we show the lightbulb to indicate that there is something than can be done here that is likely to be preferable. In other cases, we still show it in the action menu, I don't really see any reason to make this depend on the number of comparisons since the refactoring clearly says "convert if to switch" an

[2017-04-14 18:52] pranavkm commented on #18701
@Pilchie is there a version range you'd recommend here?

[2017-04-14 19:22] lorcanmooney opened #18707 "Workspace options API behaves very stangely"
From #13430:

In summary:

1. `OptionSet` looks like an immutable snapshot, but the workspace implementation isn't.
2. Reading workspace options always returns [an empty WorkspaceOptionSet](https://github.com/dotnet/roslyn/blob/c723ac13c874b7dd867cca79324535e42fcd5a45/src/Workspaces/Core/Portable/Options/OptionServiceFactory.cs#L118), losing any cached values.

cc @jasonmalinowski

[2017-04-14 19:41] rynowak commented on #18701
I'm getting the sense that this should be `[15.0,)` but I'm not that knowledgable about VS setup things. @Pilchie Please advise as we're trying to get this checked in to our codebase today and get this into our insertion planned for Monday

[2017-04-14 19:44] jinujoseph opened #18709 "For initializations of indexed properties, IPropertyInitializer does not expose the arguments specified for the index."
Reported by @evildour  Refer https://github.com/dotnet/roslyn-analyzers/pull/1142#issuecomment-294216781

[2017-04-14 19:45] jinujoseph opened #18710 "Using SemanticModel.GetOperation on an IPropertyInitializer's Syntax produces an IAssignmentExpression, not the original IPropertyInitializer"
Reported by @evildour Refer dotnet/roslyn-analyzers#1142 (comment)

[2017-04-14 19:45] bkoelman opened #18711 "Comments are lost when changing modifiers via SyntaxEditor"
See https://github.com/dotnet/roslyn-analyzers/pull/1070#discussion_r111505387.

**Steps to Reproduce**:
Consider the next program:
[code]
**Expected Behavior**:
Program output:
[code]

**Actual Behavior**:
Program output:
[code]

Order and precise location of the comments may differ, they just should be preserved.

[2017-04-14 19:46] jinujoseph opened #18712 "When the IPropertyInitializer's Target value is an indexed property or ref returning method, there is no way to get the arguments specified to that target"
Reported by @evildour Refer dotnet/roslyn-analyzers#1142 (comment)

[2017-04-14 19:51] JoshVarty opened #18713 "XML Doc Comment handles Enter incorrectly when there is whitespace before caret"
**Version Used**: 15.1.26405.1

**Steps to Reproduce**:

[code]
1. Place cursor on middle line of doc comment. (Ensure that there is space before cursor)
2. Press enter

**Expected Behavior**:
[code]

**Actual Behavior**:

[code]

![image](http://i.imgur.com/5Hku5UV.gif)

[2017-04-14 19:55] Pilchie commented on #18701
@jmarolf @jasonmalinowski @brettfo do you understand what version this should be specified as?

[2017-04-14 20:03] tmat opened #18714 "Roslyn.VisualStudio.IntegrationTests.Basic.BasicReferenceHighlighting.Highlighting test failed"
[code]

https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/2672/testReport/junit/Roslyn.VisualStudio.IntegrationTests.Basic/BasicReferenceHighlighting/Highlighting/

[2017-04-14 20:20] OmarTawfik opened #18716 "GoToDefinition on method implementation should go to overridden method."
[code]

If I use `go to definition` or press `F12` on `Child.Method` name, I expect it to go to `Parent.Method` (the overridden method). I find this tiny feature to be very helpful instead of manually looking up the inheritance chain to find out which parent class or interface is defining the abstract or virtual parent.

The same is true for parent type (`class` or `interface`), and member type (`

[2017-04-14 20:29] rchande commented on #18704
See https://github.com/dotnet/roslyn/blob/3dff8b3c78945aeae449da2ecd59082696eb2f36/build/Defaults/Desktop/app.config#L10-L17 for example

[2017-04-14 20:33] jasonmalinowski commented on #18701
Yeah, that should probably be `[15.0,)`. No reason we'd break support in a higher version.

[2017-04-14 21:28] jmarolf commented on #18701
Talking to @brettfo its unclear why we are receiving this message.  I'll need to try this out using the default VsixInstaller to see if this is a bug in `VsixExpInstaller` or a bug in the SDK.

[2017-04-14 21:46] rynowak commented on #18701
We're spinning a build of our VSIX without the version cap to see if that will help.

You would run into binary compat issues with the editor, until our insertion on Monday, but we can at least see if this change will fix the setup issue.

[2017-04-14 22:21] #17921 closed

[2017-04-14 22:23] AnthonyDGreen opened #18719 "Sprint 116 Summary"
# Stats 2/10/2017 - 4/14/2017
|  Repository | Bugs Closed| Pull Requests Merged |
|:-------------:|:-------------:|:-------------:|
| [Roslyn](https://github.com/dotnet/roslyn) | [986](https://github.com/dotnet/roslyn/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20closed%3A%222017-02-10..%202017-04-14%22%20) | [769](https://github.com/dotnet/roslyn/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aclosed%

[2017-04-14 23:13] rynowak commented on #18701
BTW you guys have this in one of your templates: https://github.com/dotnet/roslyn/blob/master/src/Setup/Templates/CSharp/Diagnostic/Analyzer/source.extension.vsixmanifest#L23

[2017-04-15 00:14] #10604 closed

[2017-04-15 00:14] #16306 closed

[2017-04-15 00:18] genlu opened #18722 "Add `IInvalidInvocationExpression` interafce"
Currently in C#, an invalid invocation is represented by an `IInvocationExpression` operation, but it might violate the contract of `IInvocationExpression`. For example, we can't provide a list of arguments in evaluation order correctly if we have extra arguments that don't match any parameter, or multiple arguments are matching to a single parameter, etc. On the other hand, making an invalid invo

[2017-04-15 02:46] JosephWoodward commented on #17968
Out of interest @DustinCampbell, how difficult/easy is populating a custom workspace? I presume it would involve including binaries from sources such as local NuGet repositories etc, which seems like a lot of work?

[2017-04-15 08:15] jskeet opened #18727 "Confusing error message when using a var pattern in switch/case with pointer input"
**Version Used**:  2.1.0.61520

**Steps to Reproduce**:

[code]

**Expected Behavior**:

An error message that helps the user understand what's wrong.

**Actual Behavior**:

This is confusing (if you don't happen to be thinking about patterns in general) as the code doesn't contain an `is` or `as` operator.

I can't immediately think of any pattern match that would be valid for pointer types, so p

[2017-04-15 08:48] jskeet opened #18728 "More detail around requirements for integer comparisons in constant patterns"
**Version Used**: 2.1.0.61520

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Compiles with no error, executes and prints "Yes".

**Actual Behavior**:

From the [patterns](https://github.com/dotnet/roslyn/blob/master/docs/features/patterns.md) feature spec:

The expression `x == 10L` is perfectly valid, so why isn't this pattern valid? I'm not suggesting that there should be a change to

[2017-04-15 13:19] AdamSpeight2008 commented on #18728
@jskeet Is the conversion being reported also wrong. Shouldn't it be `Int` to `Long` rather that `Long` to `Int`.

[2017-04-15 13:28] #16615 closed

[2017-04-15 13:30] jskeet commented on #18728
I assume it's trying to convert the constant to the input type, but we'll find out more later, I expect :)

[2017-04-15 15:44] jnm2 commented on #1276
@SLaks Could you migrate this to https://github.com/dotnet/csharplang please?

[2017-04-15 16:38] Hosch250 opened #18730 "System.ArgumentException: 'Syntax node is not within syntax tree'"
**Version Used**: VS 15.1 (latest NuGet packages)

**Steps to Reproduce**:

1. Create a solution with analyzers
2. Create a WPF solution
3. Find all references to a (private) field in all partial classes
4. Call `semanticModel.GetSymbolnfo(referenceNode)`

**Expected Behavior**:

Ideally, this would return the symbol info, even if the declaration was in a different file.

**Actual Behavior**:

Her

[2017-04-15 16:56] Hosch250 commented on #16988
Verified as fixed in VS 2017.

[2017-04-15 18:26] BattleRush commented on #18700
Created pullrequest: https://github.com/dotnet/roslyn/pull/18731

First time commiting to roslyn, let me know if done correctly.

[2017-04-15 19:24] 333fred commented on #18714
Dupe of https://github.com/dotnet/roslyn/issues/18705.

[2017-04-15 19:24] #18714 closed

[2017-04-15 19:39] CyrusNajmabadi commented on #15988
Hey Sean,

You're missing "using System;" in your test.  As such, "IComparable" doesn't bind, and no completion is shown at all :)

[2017-04-15 19:48] CyrusNajmabadi commented on #18730
This is not how the semantic model works.  A semantic model is *explicitly* and *intentionally* tied to a single syntax-tree.  The point is that the semantic model acts as a lifetime construct that one can use to analyze a tree *efficiently*, letting the data be cleaned up when they no longer need it.

If we allowed GetSymbolInfo to work on nodes outside of hte current semantic model's tree, it wo

[2017-04-15 19:48] #18730 closed

[2017-04-15 20:01] SeanFarrow commented on #15988
Hi,

Ok, I don’t know how I missed that, but when you can’t see those are the sorts of things that can happen.
I’ll look at this over the weekend!
Cheers

From: CyrusNajmabadi [mailto:notifications@github.com]
Sent: Saturday, April 15, 2017 20:40
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/r

[2017-04-15 20:05] CyrusNajmabadi commented on #15988
@SeanFarrow I'm sorry for the hassle!  Are there things we could do to make this easier/more understandable/less error prone?

I'm also tagging @dpoeschl who's doing a lot of work on the parts of the IDE experience to make them more accessible and who is passionate about improving things here.  We'd love to get your insight and experience to help us out here.

[2017-04-15 20:18] SeanFarrow commented on #15988
Hi,

It depends how deep your influence goes, there are definitely things that could be improved.
It’s as much about how UI automation is implemented, as much as it is the IdE, I’m happy to have a chat wit hthe relevant people/do any testing if you think that will help.

From: CyrusNajmabadi [mailto:notifications@github.com]
Sent: Saturday, April 15, 2017 21:06
To: dotnet/roslyn <roslyn@noreply.gi

[2017-04-15 20:21] CyrusNajmabadi commented on #15988
I'll let @dpoeschl Take the reigns here.

Specifically though, when it came to the tests was there something that made this particularly difficult to track down?   One thing we've tried to do is to make tests declarative in many cases.  so, in an example like yours, the test says "here's the code representing the user scenario, and here's what i expect (i.e. 'no GetHashCode')".  I'd def like to un

[2017-04-15 20:29] SeanFarrow commented on #15988
In this case, you can’t really do much, it’s probably as declarative as possible. Because strings are used, mainly for the method we don’t want to be available, then the excluding of namespaces won’t show up, therefore the only thing I could think of is to replace the string with a reference to GetHashCode on a type, but then that would mean type introspection to see if the GetHashCode method exis

[2017-04-15 20:52] jcouv commented on #18728
FYI @gafter

[2017-04-15 20:53] jcouv commented on #18727
FYI @gafter

[2017-04-15 22:16] orthoxerox opened #18733 "Generators are built against the wrong runtime."
**Version Used**:
master, dev16 HEADs

**Steps to Reproduce**:

1. Win 10 x64 Creator Update
2. Install VS2017 with 4.7 SDK
3. Clean NuGet cache
4. Clone
4. Restore.cmd
5. msbuild /v:m /m Roslyn.sln
6. Run \roslyn\Binaries\Debug\Exes\CSharpSyntaxGenerator\CSharpSyntaxGenerator.exe

**Expected Behavior**:

No error

**Actual Behavior**:

Unhandled Exception: System.IO.FileLoadException: Could not l

[2017-04-16 00:07] Pilchie commented on #18713
Pretty sure this is a dupe.

[2017-04-16 00:09] #17384 closed

[2017-04-16 01:38] Hosch250 commented on #18730
Thanks for the update, @CyrusNajmabadi. I initially suspected this was the case, but jmarolf told me to file it as a bug.

[2017-04-16 02:51] QwertyZW opened #18736 "TODO: move test code out of compilation object"
https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Compilation/Compilation.cs#L45

https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Compilation/Compilation.cs#L50

[2017-04-16 03:21] evildour commented on #18709
Here is some code which reproduces the issue:
[code]

[2017-04-16 03:24] evildour commented on #18710
Here is some code which reproduces the issue:
[code]

[2017-04-16 03:37] evildour commented on #18712
Note: the issue title (as well as my original comment) is wrong. It should say "When the **IAssignmentExpression**'s Target value..."

However, I just tried this out and this is actually not the case in general: for normal assignments to indexed properties and ref returning methods (I had just made an assumption about this part), you actually can get the arguments from the `IAssignmentExpression.T

[2017-04-16 03:53] kzu commented on #17705
This is happening to me too. I could get an absolute minimal repro for my scenario (an MSBuild task that uses Roslyn).

[WrongDependencies.zip](https://github.com/dotnet/roslyn/files/924078/WrongDependencies.zip)

From the attached readme:

1. Open the solution
2. Build solution
3. Set a breakpoint in UseRoslyn.cs (line 11)
4. F5

Result: exception thrown:

[code]
with a LoaderExceptions showing t

[2017-04-16 03:53] kzu commented on #17705
FWIW, you can see this is happening to others, i.e. https://github.com/AArnott/CodeGeneration.Roslyn/commit/7b268c2384ba05367026a0e49147c5ed49a3bdda

[2017-04-16 04:02] kzu commented on #17705
I just hit another one after that: `System.IO.FileSystem` is *exactly* in the same situation, with `4.0.1.0` being loaded instead of `4.0.2.0`:

The fix in this case is:

[code]

[2017-04-16 05:08] jnm2 commented on #17078
I'm curious if someone can give this question a quick eyeball? Thanks!

[2017-04-16 09:26] WilliamABradley opened #18737 "Using System.Linq Select w/ Named ValueTuple Variables causes .Net Native Compilation Errors"
After Hours on Hours of combing through my over 50,000 lines of code and trying different conditions after days on days of confusion, I discovered an issue with the ValueTuple that caused my app to fail to compile in .Net Native.

I managed to replicate it in the solution below.

**Version Used**:
System.ValueTuple 4.3.0
Microsoft.NETCore.UniversalWindowsPlatform 5.3.2

**Steps to Reproduce**:

[c

[2017-04-16 09:35] WilliamABradley commented on #18737
[TupleLinqIssue.zip](https://github.com/dotnet/roslyn/files/924190/TupleLinqIssue.zip)

Here is the Solution that I used to replicate the issue.

[2017-04-16 13:58] sivabudh commented on #13361
Should we close this issue now?

[2017-04-16 17:33] jcouv commented on #18737
@WilliamABradley Thanks for reporting this. Sorry for the trouble.
Let me try to repro with the project file you provided. The failure didn't include a stacktrace, by any chance? I'll get back to you if I have additional questions.

[2017-04-16 18:12] jcouv commented on #18737
The probject built fine for me. Here's the VS information for my setup. I'll try a different one tomorrow. Could you share yours as well (from Help > About ... menu)?

[code]

[2017-04-16 19:56] jcouv opened #18738 "Bad conversion produced on tuple literal"
[code]

@VSadov What conversion would you expect in this scenario?

[2017-04-16 20:39] CyrusNajmabadi commented on #18737
tagging @tmeschter as he might have some .Net Native insight.

[2017-04-16 20:51] BattleRush commented on #18737
@jcouv I was able to replicate this error (with the download from the comments)

Microsoft Visual Studio Community 2017
Version 15.1 (26403.3) Release
VisualStudio.15.Release/15.1.0+26403.3

In Debug mode it builded just fine but in Release mode I received the exception shown in the post.

Commenting out the TupleTest method would also let me build in Release mode.

[2017-04-16 21:24] gafter commented on #18728
The feature specification is at https://github.com/dotnet/csharplang/blob/master/proposals/patterns.md and it says

While the compiler may indeed generate better code, such as a direct integral comparison, an error is required for this case.

[2017-04-16 21:24] #18728 closed

[2017-04-16 21:29] jskeet commented on #18728
Great, thanks for the link. Will read that in more detail :)

[2017-04-17 00:16] WilliamABradley commented on #18737
Mine happened on VS Community 2017 (15.1 26403.3), with .Net Native Compiler 1.6.1 & 1.6 & .Net Native 15.0.24211.

[2017-04-17 05:45] jcouv commented on #18737
Thanks. I can repro with Release mode.

The problem seems to be in `ILTransformTask`. I'll ping some .NET Native folks for assistance.

[code]

[code]

[2017-04-17 07:27] kristersz commented on #17401
These do not seem to be helping.

[code]

[2017-04-17 09:52] abhijitparkhi1983 commented on #18142
@Pilchie I tried installing  4.6.1 Targeting Pack **NDP46-TargetingPack-KB3045566.exe**.
But the results are the same as mentioned above. It has not resolved the qualified path issue.
Am I missing any thing ?

[2017-04-17 15:20] cston opened #18748 "Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.UnitTests.AccessibilityTests are skipped"
`Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.UnitTests.AccessibilityTests` is an `internal class` so the tests are skipped.

[2017-04-17 15:54] Pilchie commented on #17705
@DustinCampbell can you help take a look at this too?  Maybe we need an end to end sample of how to use MSBuildWorkspace on a machine with only VS 2017. (Just thinking about the .NET Framework piece here, without the .NET Core complications)

[2017-04-17 15:54] Pilchie commented on #6467
Ping @srivatsn?

[2017-04-17 16:27] jcouv commented on #1419
One part of this proposal (finding best common type between `1` and `null` to be `int?`) has been discussed in LDM and is considered for a point release:
https://github.com/dotnet/csharplang/blob/master/proposals/improved-common-type.md

Btw, I'll move this discussion over to csharplang repo. Feel free to continue discussion there.

[2017-04-17 16:27] jcouv commented on #1419
Issue moved to [dotnet/csharplang #450](https://github.com/dotnet/csharplang/issues/450) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-17 16:27] #1419 closed

[2017-04-17 16:48] mattwar commented on #17401
The machine that only as vs 2015 probably needs the redirects that use the 14.x version numbers.  VS 2017 msbuild uses the 15.x version numbers.