[2015-03-07 00:34] VladimirReshetnikov commented on #1103
Note that the C# spec explicitly requires to create a new array instance for every invocation with expanded `params`. It might be observable in many ways, e.g., by using an array in a lock statement. We should only consider optimization to `Array.Empty<T>` if we know for sure the method being invoked does not depend on it (unless we agree to take a breaking change and relax the spec rules here).

[2015-03-07 00:36] tmat commented on #1114
Also throwing exception in a filter is the same as returning false. The exception is swallowed by the CLR.

[2015-03-07 00:41] stephentoub commented on #1103
We'd discussed this back before I checked in the optimization, and the decision then was that it was acceptable and we went ahead with it. Is that no longer the case? I'd never intended for it to apply to expression lamdas and can fix that.

[2015-03-07 01:07] VladimirReshetnikov commented on #1108
This turns out to be not a product bug, but a test bug.
The test `PreferredUILang` (and many other tests) invoke Xunit methods `Assert.Contains(string, string)` and `Assert.DoesNotContain(string, string)` to check presence or absence of a certain substring (1st argument) in a string (2nd argument).

In almost all cases it was clear that intended behavior was to test for presence of that exact sequ

[2015-03-07 01:13] VSadov commented on #1103
This should get fixed since it is a compat break.
Expression trees suppress many optimizations like this because the point of the trees is just to represent semantics of expressions. Since we do not know how expressions will be used, we can't really tell what is more optimal.

[2015-03-07 01:18] VladimirReshetnikov commented on #1103
@stephentoub I was unaware of this decision. Was it supposed to be a change both in the spec and the compiler, or only in the compiler? Could you please forward me any e-mails related to this? Thanks.

[2015-03-07 01:21] tannergooding commented on #1114
Then shouldn't the expected behavior be that the TargetInvocationException wraps the original exception and not the exception thrown by the filter (which, as you indicated, should be swallowed)?

[2015-03-07 01:28] tmat commented on #1114
I did not notice that "Condition Exception" is the message. Strange. Anyways, if the filter just returns false instead of throwing the behavior is expected, right?

So the only problem is that somehow the swallowed exception ends up wrapped in TargetInvocationException. If so then that could be bug somewhere in CLR that nobody probably cares about fixing -- just don't throw exceptions from filters

[2015-03-07 01:30] VladimirReshetnikov commented on #1114
Can we check if the behavior was different in the native VB compiler to see if this is codegen-related or just a CLR problem?

[2015-03-07 02:21] gafter commented on #766
The LDM confirmed that this is an implication of the spec.

[2015-03-07 02:21] #766 closed

[2015-03-07 02:25] gafter commented on #564
@marstr Can you tell me when you expect to work on this?

[2015-03-07 02:25] gafter commented on #564
The following should compile without error

[code]

[2015-03-07 02:31] gafter commented on #1114
This sounds like a CLR/reflection problem. @tannergooding Why did you file it against Roslyn?

[2015-03-07 02:38] tannergooding commented on #1114
It looks to be a CLR problem (see below). Shall I open a bug under dotnet\coreclr?

Console Application:
[code]

Output:

[2015-03-07 02:44] tmat commented on #1114
Sure.

[2015-03-07 04:05] tannergooding commented on #1114
@gafter, misjudgement on my part. Base on my initial investigation I assumed it should have been logged under Roslyn instead of CoreCLR.

The issue has been relogged under dotnet\coreclr as Issue #[410](https://github.com/dotnet/coreclr/issues/410).

[2015-03-07 05:06] gafter commented on #999
The submitter has withdrawn his offer to do this.

[2015-03-07 05:06] #999 closed

[2015-03-07 05:09] gafter commented on #1114
@tannergooding Thanks!

[2015-03-07 05:09] #1114 closed

[2015-03-07 07:37] ashmind opened #1118 "Formatter.Format crashes on BlockSyntax without a parent"
**Code**
[code]

**Exception**
[code]

**Reason**
Block doesn't have a `Parent`, but `IsLambdaBodyBlock` expects it to have one.

[2015-03-07 08:49] marhoily commented on #180
Did you consider just retyping variable after "is" operator like some other languages do?

[code]

[2015-03-07 09:45] filipw commented on #907
we now have a dedicated repo for the new scriptcs engine based on Microsoft.CodeAnalysis libraries. https://github.com/scriptcs/scriptcs-csharp

[2015-03-07 09:57] JoshVarty commented on #451
The referenced samples are available on GitHub.

C#: https://github.com/dotnet/roslyn/blob/b6484300dfafb43af0c27e542ec457a7583e1aa8/src/Samples/CSharp/APISampleUnitTests/FAQ.cs

VB: https://github.com/dotnet/roslyn/blob/da4dbf98e894a20fc4234eede11d7c78e559cea1/src/Samples/VisualBasic/APISampleUnitTests/FAQ.vb

However, the formatting has taken a hit as these have been copied from at least three pr

[2015-03-07 13:10] erik-kallen commented on #966
Oops, sorry. Thank you for taking your time to look into this.

[2015-03-07 13:12] stephentoub commented on #1103
@controlflow, thanks for reporting this.

The first issue is addressed in #1117.

The second issue is more of a separate feature; I've not addressed that.

[2015-03-07 17:22] MgSam commented on #595
I added a link in the proposal to [UserVoice](http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/7181921-file-scoped-namespaces), so you can vote for the feature if it interests you.

[2015-03-07 19:15] gafter commented on #180
@marhoily Yes, we considered it. I'm personally not a fan. What languages do that and how do people feel about those languages?

[2015-03-07 19:19] fsoikin commented on #180
@gafter, TypeScript [does it](http://blogs.msdn.com/b/typescript/archive/2015/01/16/announcing-typescript-1-4.aspx), and people feel awesome about it.

[2015-03-07 19:24] marhoily commented on #180
@gafter I'm only aware of jetbrain's [katlin](http://kotlinlang.org/docs/reference/typecasts.html)
I've never used any such language, I just see that the discussion goes between options ```a is T b``` and ```a is T {}``` when apparently there's a middle ground.
Unfortunately that would be a breaking change at least because some method resolution can go differently in case C# 7 retypes the original

[2015-03-07 19:30] marhoily commented on #180
Also I wonder how relevant the example from Roslyn with complicated if statement. Every textbook I've read advises extract the condition into a separate method. The example I would care for is
[code]
That is so common that Resharper has got built-in snippet. And that seems to go straight into pattern matching basket.

[2015-03-07 20:32] AArnott opened #1119 "Missing file is reported as build break, but not in error list"
When I have a missing file in my C# project, the build fails and I can see the error in the output window. But the error does not show up in the error list of Visual Studio 2015.

[2015-03-07 23:16] kasajian commented on #907
awesome!

On Sat, Mar 7, 2015 at 1:45 AM, Filip W <notifications@github.com> wrote:

[2015-03-07 23:24] glennblock commented on #907
Good work Filip!

[2015-03-08 01:38] pdelvo opened #1123 "VS font + color settings need a restart for tool tips"
If you change color settings e.g. for User defined types you need to restart VS for them to be applied in tool tips. Im not sure if this bug reports fits here.

[2015-03-08 04:13] HaloFour commented on #85
My job function is writing libraries for other developers on other teams in my company to consume, in both C# and Java.  I make it a point to write code documentation using both XML documents and JavaDoc using whatever IDE support provided by Visual Studio and IntelliJ.  Honestly I find them about equally obnoxious.

First, I don't think either actually address the concerns of really writing libra

[2015-03-08 07:47] gafter commented on #180
[code]

[2015-03-08 07:50] gafter commented on #180
@fsoikin @marhoily Do any of the languages that do that have method overloading? I think that combination would be problematic.

[2015-03-08 15:28] biqas opened #1125 "Introduce immutable modifier"
Introducing immutable modifier on class, field, property, event, indexer and method level.

Benefits could be:

- could help express the intention to better understand the class design and behavior
- could make some assumption/prediction/facts for garbage collection.
- could have some inference chain for not mixing immutable with mutable things.
- could have positive effects for lock's

[code]

[c

[2015-03-08 16:47] fsoikin commented on #180
Well, TypeScript does have overloading.

Granted, it's not quite the same kind of overloading, since only signatures can be overloaded, but the body is always the same. In other words, all overloads always share the same implementation.

However, I think for the purposes of the overload resolution discussion, it is the same thing, because the return type depends on resolved overload, which means t

[2015-03-08 16:51] marhoily commented on #180
Kotlin doesn't have full-fledged overloading madness of C# neither, but as well as in TypeScript retyping the variable can lead to compilation error that in what previously was a correct code.

[2015-03-08 18:18] biqas commented on #155
@jvlppm I think it is worth and i also posted some threads in the previous discussion on Codeplex.
http://roslyn.codeplex.com/discussions/562656 and also here on GitHub. https://github.com/dotnet/roslyn/issues/311.

Currently the language is not providing anything which is type safe to achieve this. The curiously recurring template pattern and co-variant overrides are not solving the problem.

[2015-03-08 19:17] HaloFour commented on #1013
This would be an interesting feature.  I've only somewhat messed around with exporting methods like this from an assembly.  If I recall this method was fraught with caveats concerning how and when the framework is loaded, and it also produces unverifiable assemblies.  We ended up going with exporting COM-callable classes instead.

[2015-03-08 19:32] HaloFour commented on #996
I like this idea.  I've frequently wanted to add static helper methods to existing BCL types such as `IEnumerable<T>` or `Task<T>`.

C# syntax aside we'd require either a new attribute or a modification to the existing `ExtensionAttribute` attribute to support the metadata.  It might be better to add a new StaticExtensionAttribute taking the extended the as a ctor parameter to avoid issues with ex

[2015-03-08 20:47] paulomorgado commented on #118
@stephentoub, what I'm having trouble with is understanding how those rules can be effectively enforced.

And a proposal should have an example that works under the proposal.

[2015-03-08 20:51] stephentoub commented on #118
@paulomorgado, how does my example not work under the proposal?  And why do you believe the rules can't be enforced?

[2015-03-08 20:52] paulomorgado commented on #133
@ashmind, I still find the whole thing lacks consistency. You talk about side effects when there aren't any, in comparison.

Sure shorthand would be nice. But that's just it. There are no other pros or cons involved.

[2015-03-08 21:08] paulomorgado commented on #595
@MgSam,

§9.4.2 (Using namespace directives) does not mention the differences, but §7.6.5.2 (Extension method invocations) states that:

This is valid for everyting namespace related. Using directives inside a namespace declaration superside any outer using directives.

So, this is not a style issue and, definetely, there's a difference to the user.

[2015-03-08 21:11] paulomorgado commented on #118
@stephentoub, either that or I totally missed everything.

My understanding is that there's no way the caller can take the result of your `Choose` method as safe to return as reference. Is there? If so, how?

[2015-03-08 21:24] paulomorgado commented on #142
@ashmind,

What would you expect to be the captured names here?

    $"{OneCustomer.Id} = {AnotherCustomer.Id}"

[2015-03-08 22:11] stephentoub commented on #118
@paulomorgado, in this example:
[code]
left and right are both safe to return because they came from the caller.

In this example:
[code]
first, second, and third are all safe to return because they all came from the caller.  max is safe to return because the only refs it's possibly assigned to are those which are safe to return.

If I as a caller wanted to use Choose, e.g.
[code]
Both left and ri

[2015-03-08 23:49] paulomorgado commented on #118
But ChooseByTime isn't returning neither left nor right. It's returning the return value of Choose. Noting but the implementation details of Choose is saying its return value is the same as one of its parameters. What if Choose is an implementation of an interface?

You're restricting the use of Choose to cases where it works without any safeguards or proof that it's safe.

My example shows the op

[2015-03-08 23:54] stephentoub commented on #118
@paulomorgado, your example wouldn't compile... the compiler would error out exactly because it doesn't abide by the rules: your call to Choose is passed ref values that are not safe to return, therefore the result of your call to Choose is not safe to return. I'm sorry if I'm not explaining this well; not sure how to convey it differently.

[2015-03-08 23:57] AdamSpeight2008 commented on #1107
An issue with is disambiguating between return the result of a function call used as a method argument and use this method.
How does C# handle this?

[2015-03-09 00:48] VladimirReshetnikov commented on #1107
VB, unlike C#, does not require explicit empty argument list `()` for method invocations. So, making `AddressOf` optional will either be a breaking change, or will introduce an additional complexity to overload resolution rules (that are already complicated enough).

[2015-03-09 01:03] stephentoub commented on #118
Ah, maybe this is the point of confusion. The implementation doesn't matter because the compiler assumes the worst: regardless of how a parameter is actually used, if any argument isn't safe to return, then the result of the call isn't safe to return. The compiler is conservative in that regard.

[2015-03-09 02:58] ashmind commented on #142
@paulomorgado As per above, there are two options:

1. `"Id", "Id"`
2. `"OneCustomer.Id", "AnotherCustomer.Id"`

I am pretty sure there are reasons why second one isn't a good idea -- looking forward to find out.

[2015-03-09 03:16] pharring commented on #1125
@biqas Thanks for the proposal. Immutability and immutable types are discussed in #159. Please review it and see if it covers all the scenarios you were thinking of. If there's something else, it's best to discuss it there.

Note that ```readonly``` on fields already takes care of your second example.

[2015-03-09 03:16] #1125 closed

[2015-03-09 08:48] paulomorgado commented on #118
A conservative compiler that assumes the worst cannot assume the return value of Choose is safe to return.

Is this what you're proposing?

    public static ref TValue ChooseByTime<TValue>(
        ref TValue left, ref TValue right)
    {
        TValue result = Choose(() => DateTime.UtcNow.Seconds % 2 == 0, ref left, ref right);
        if (result == left) reurn ref left;
        else if (result

[2015-03-09 08:54] paulomorgado commented on #142
@ashmind, there can't be two. which one do you propose and why?

[2015-03-09 09:31] paulomorgado commented on #205
I think this would be a great semantic improvement. It's obvious that the left is being assigned only if it's null.

But the first exemple, at most, just needs a few parenthesis to work now.

[2015-03-09 09:51] paulomorgado commented on #162
@stephentoub, are you thinking about something like NoPIA? Type equivalence wouldn't play a role here and would require to intern implementation and not only interface definitions.

I see this being useful only for .NET Core and assuming only one assembly is doing this. If more that one assembly is interning the same methods, it would defeat the purpose.

I think .NET Core will force libraries to

[2015-03-09 09:55] paulomorgado commented on #254
(Sorry, I don't know of any other way of being CCed when someone replies to this issue. I'll remove it later)

[2015-03-09 09:56] paulomorgado commented on #254
(Sorry, I don't know of any other way of being CCed when someone replies to this issue. I'll remove it later)

[2015-03-09 10:20] paulomorgado commented on #261
@thomaslevesque, the Roslyn link is 404.

[2015-03-09 10:27] Miista commented on #254
There's a subscribe button at the top right of the page.

[2015-03-09 10:37] paulomorgado commented on #254
@Miista, not if you have subscribed to the repo.

[2015-03-09 10:38] thomaslevesque commented on #261
Uh... looks like it's no longer there. A search for `IAsyncEnumerable` returns nothing (the name only appears in a comment). Perhaps it was moved and renamed to something else, or it was just removed.

[2015-03-09 10:53] stephentoub commented on #118
Why do you say that? What specifically about this example do you believe it's problematic?

[2015-03-09 11:12] stephentoub commented on #118
Let's try something else: can you construct an implementation of Choose that will compile based on the aforementioned rules/explanations but where the caller of the method could not assume its return value was safe to return?

[2015-03-09 11:19] paulomorgado commented on #118
No I can't. Because I haven't been able to understand how this would work.

I can understand how, in your implementation of Choose, it is safe to return that reference.

What I can't understand is why its callers can safely return the same reference without intimately knowing its internals..

[2015-03-09 11:31] stephentoub commented on #118
Because it wouldn't be allowed to return anything that's not safe in the case where the caller assumes it is safe. If the only thing the caller passes in are refs that are safe to return, then what could this method return?

- one of those refs: that's safe.
- a ref to an object it allocates on the heap: that's safe
- a ref to some other local or parameter: that's not safe, but it's also not allow

[2015-03-09 11:44] paulomorgado commented on #118
So, this wouldn't be safe, right?

    public static ref TValue ChooseByTime<TValue>(
        ref TValue left)
    {
        ref TValue right = default(TValue);
        return Choose(() => DateTime.UtcNow.Seconds % 2 == 0, ref left, ref right);
    }

[2015-03-09 11:47] stephentoub commented on #118
Correct, that would not compile.

[2015-03-09 12:14] Ibmurai opened #1130 "Quick-fixes which insert #pragma warning disable XXXX are incompatible with previous versions"
The quick-fix will insert #pragma warnings in the style of:

[code]

Where the older compiler only understands:

[code]

This is an annoyance...

[2015-03-09 12:16] GeirGrusom commented on #162
Why does it have to be in the compiler?

A separate tool would be better than the compiler at this, as it could work recursively, which the compiler would be unable to. Also this feature would be very counter-productive during development and debugging. Users also has to *know* beforehand if a library can be statically linked at all, so you can't just toggle "Statically link all libraries" because

[2015-03-09 14:01] judemelancon commented on #952
The concern raised by @TedDriggs strikes me as significant enough to merit being addressed more thoroughly. (I will proceed from the assumption he meant `ConsoleColor` for his example, as it is an enum.)

First off, I must admit I find this change quite aesthetically pleasant, and it really would make some code much less verbose. As such, it pains me to say that this feature is a spooky action at

[2015-03-09 14:53] tenor commented on #595
Hmm, nested namespaces brings up some interesting issues:

[code]
Does class C belong to `Namespace1.Namespace2` namespace or `Namespace2` namespace?
Should the compiler disallow other namespace declarations if a file scoped namespace is in use?

[2015-03-09 15:11] MgSam commented on #595
@paulomorgado @tenor I think the same part of the spec I proposed answers both concerns:

So binding extension methods is not an issue since all using statements would be within the same namespace scope.

It would be unnecessarily confusing and complicating to allow namespace blocks to be declared when a file-scoped namespace is present.

[2015-03-09 15:58] jaredpar commented on #1041
Hey @EricArndt,

Thanks for taking the time to report this issue.  Unfortunately at this time there is no supported way for customers to deploy the changes made above the Workspaces layer to the installation of VS 2015 on their machine.  We understand this is a decidedly bad place to be and it’s one that we are working hard to remedy.  The solution will hopefully come in the VS 2015 Update 1 time

[2015-03-09 15:58] #1041 closed

[2015-03-09 16:47] jaredpar commented on #1107
Was thinking about this proposal over the weekend and I agree with @VladimirReshetnikov that the biggest problem here is the implicit empty argument list.  It makes samples like the following immediately ambiguous with this proposal:

[code]

This code is completely legal today.  In order to be accepted this proposal would need to be adjusted to ensure this code kept compiling.  That would require

[2015-03-09 16:49] Pilchie commented on #780
Based on discussion in #984, we think this should not be fixed on it's own.

[2015-03-09 16:49] #780 closed

[2015-03-09 16:58] #260 closed

[2015-03-09 17:05] ashmind commented on #142
Not when implemented, but within the discussion there can definitely be two options. I believe we'll probably end up with 1 if this is actually implemented, but 2 has some interesting scenarios of its own. So I'm waiting for more feedback to see what other people think.

[2015-03-09 17:08] marstr commented on #564
I'll get this finished by tomorrow morning. Should be easy enough :)

[2015-03-09 17:52] Pilchie commented on #1066
Per the investigation I did and commented on in the internal bug here (1110300), I was able to repro only using NormalizeWhitespace, which is a core compiler API.

[2015-03-09 18:08] ManishJayaswal commented on #994
Assigning to @rchande to validate this is the same issue the @Pilchie mentioned and if it is then close it out.

[2015-03-09 18:14] ManishJayaswal commented on #708
Scripting NuGet packages are now available in nightly Roslyn feed at myget.org

[2015-03-09 18:14] #708 closed

[2015-03-09 18:19] mariaghiondea-msft opened #1135 "Quick watch doesn't understands open generics"
From customer reported through SaS:

Quick watch doesn't understands open generics, e.g.
following code: typeof(List<>)
leads to the error: (1,12): error CS1026: ) expected

[2015-03-09 18:32] #1028 closed

[2015-03-09 18:48] gafter commented on #1028
@VladimirReshetnikov Can you please "Verify" this fix?

[2015-03-09 20:09] tmat opened #1136 "Assertion failed in Microsoft.CodeAnalysis.Notification.GlobalOperationNotificationService.Done"
Memory dump:

%internal_share%\public\tomat\Bugs\1136

Stack trace:

[code]

[2015-03-09 20:19] #1103 closed

[2015-03-09 21:22] ashmind opened #1141 "[Proposal] Implement `IReadOnlyDictionary<string, object>` on anonymous types"
#### Problem

Anonymous types are sometimes used to provide a set of extra arguments using a concise syntax. Most noticeable examples belong to ASP.NET, e.g. in routing and html helpers:

[code]

[code]

However there is no easy way to get values from anonymous type instance without using reflection -- so in best case developer has to use a cache, and in worst case they will write slow code.
####

[2015-03-09 21:28] gafter commented on #1066
NormalizeWhitespace is a thin wrapper over SyntaxFormatter. See https://github.com/dotnet/roslyn/blob/ae1205fe68287242aa71b032deee6965cdfa61f8/src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxNode.cs#L961-L964

[2015-03-09 21:41] gafter commented on #1079
Possibly related to #1027

[2015-03-09 21:49] gafter commented on #108
@VladimirReshetnikov Can you please "Verify" this resolution?

[2015-03-09 21:54] gafter commented on #306
@AlekseyTs Can you please "Verify" that this is fixed?

[2015-03-09 21:54] jaredpar commented on #1141
How do you propose to handle case sensitivity?  In particular should VB anonymous types essentially use `StringComparison.OrdinalIgnoreCase` or do both use `StringComparer.Ordinal` for name comparison?

[2015-03-09 21:54] paulomorgado commented on #1141
I would vote for them to changing that API.

[2015-03-09 21:54] gafter commented on #308
@agocke Can you please verify that this is fixed?

[2015-03-09 21:56] gafter commented on #323
@jaredpar You pulled my pull request, so I'm going to punish you by asking you to verify that this bug is fixed, please :wink:

[2015-03-09 21:57] MgSam commented on #1141
From an API point of view this is an interesting proposal, but from a performance perspective it seems like this would change the whole performance characteristic of an anonymous type because it now needs to build an internal dictionary.

My guess is that scenarios like that in your motivating example are already not performance sensitive (you presumably only need to map your routes once), so it s

[2015-03-09 21:59] gafter commented on #366
Hey @VladimirReshetnikov Can you please "Verify" the behavior, and also that this is either documented in the upcoming language spec and/or in the compiler specification?

[2015-03-09 22:10] balajikris commented on #919
This is fixed by #1113 The perf traces show 100% of CPU time was spent in BloomFilter.ReadBitArray(). Incidentally, @tmat was the one who made a bloom filter change but forgot to update the serialization version number :wink: Deleting the .vs folder cache should fix this, if you do not have the fix sync -ed yet.

[2015-03-09 22:11] #919 closed

[2015-03-09 22:12] gafter commented on #567
I tried to verify this, but I see we failed to add a method CompilationOptions.WithCryptoPublicKey.

[2015-03-09 22:13] ashmind commented on #1141
@jaredpar

Seems reasonable -- are there any disadvantages?

@MgSam

Why? It would essentially be an on-demand `switch`. It could build a lazy dictionary too, I suppose, though it feels like an overkill.

[2015-03-09 22:14] gafter commented on #612
@jaredpar could you please "Verify" that this is fixed?

[2015-03-09 22:16] gafter commented on #803
@AlekseyTs Can you please "Verify" that this has been fixed?

[2015-03-09 22:20] gafter commented on #899
@theoy can you please "Verify" that this is an appropriate resolution?

[2015-03-09 22:21] ashmind commented on #1141
@MgSam
Here is a possible implementation (explicitness removed for readability):
[code]

[2015-03-09 22:21] jaredpar commented on #1141
@ashmind the disadvantage is that it means anonymous types defined in different languages behave differently when viewed as `IReadOnlyDictionary<string, object>`

[2015-03-09 22:23] amcasey opened #1145 "Reuse MethodDebugInfo across EvaluationContexts"
We can only reuse the whole context if we are in the same scope, but we can reuse the MethodDebugInfo anywhere within the same version of the same method.

[2015-03-09 22:23] gafter commented on #932
Reopening as the docs are still wrong.

[2015-03-09 22:26] ashmind commented on #1141
@jaredpar That's a fair point, but I think it would not be unexpected by dictionary-using APIs -- those aren't guaranteed any particular comparer anyway. Also VB refactorings can probably change case in examples like `routes.MapRoute(..., new {  id = "" })` without expecting it to break anything.

[2015-03-09 22:26] gafter commented on #990
@VladimirReshetnikov Can you please "Verify" that this is "fixed"?

[2015-03-09 22:36] VSadov commented on #971
"everything works normally past this assert",
so not RC2

[2015-03-09 22:54] jaredpar opened #1146 "Workspaces should not be outputing an explicit BOM"
Consider the code inside `Workspace.ApplyDocumentTextChange`:

- https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Desktop/Workspace/MSBuild/MSBuildWorkspace.cs#L972

This code is using an explicit UTF8 BOM in the case an encoding can't be detected.  This seems like a bug.  Shouldn't the default be a no-BOM UTF8 encoding?

[2015-03-09 23:01] #1136 closed

[2015-03-09 23:03] gafter commented on #949
@tmat @jaredpar Do either of you (or anyone else, for that matter) know what the C++ compiler's command-line flags are for this? I was not able to find documentation for them.

[2015-03-09 23:12] balajikris commented on #971
Actually, I misspoke, I do apologize for that. It will affect Ctrl + . scenario. light bulb wont pop up and offer  suggestions on ctrl + ., instead an assert failure dialog would pop up. essentially, light bulb could not be expanded from keyboard, one has to click it using mouse to expand and proceed.

This is a debug assert and does not affect the retail builds as far as i know. So, may be it is

[2015-03-09 23:25] gafter commented on #229
@ashmind The proposal for records and pattern matching is #206

[2015-03-10 00:05] marstr commented on #564
Code change is made, waiting for VS15CTP6 to install to run tests. I added this test in src/Compilers/VisualBasic/Test/Syntax/Parser/ParseDeclarationTests.vb with just under Generic Method Declaration tests. Seem appropriate?

[2015-03-10 00:12] gafter commented on #564
We need it to not just parse, but also bind correctly. This should probably be be in symbol tests or binding tests. I suggest adding to the tests in NameOfTests.vb. Please add a test with an "expectedOutput".

[2015-03-10 00:13] marstr commented on #564
Okay, will do!

[2015-03-10 00:34] dotnet-bot opened #1151 "Format Document munges whitespace preceding // single line comments"
Ported from TFS WorkItem: **1041787**

------------------------------

**Repro Steps:**

<OL>
<LI>Set C# formatting rules to use Tabs instead of spaces.</LI>
<LI>Extract the attached C# code file.</LI>
<LI>Enable Visible Whitespace (Edit -&gt; Advanced -&gt; View Whitespace).</LI>
<LI>Observe how the two lines in the Main method have trailing // comments, each exactly one space after the ;</LI>
<L

[2015-03-10 03:08] svick commented on #1141
There's already an existing issue for this: #51. Since this one seems to be more fleshed-out, should the that one be closed?

[2015-03-10 05:17] AdamSpeight2008 opened #1156 "Make reformat on rename optional."
After an rename operation the editor? does a reformatting of the document / project / solution (depending on what is selected). This should be an option for the developer to decide.

[2015-03-10 05:37] heejaechang opened #1157 "make textandversion (recoverabletextandversion) and treeandversion (recoverable tree) works same way"
currently two are similar but the way it works are completely different. and TextAndVersion has an issue where just asking for a version requires having full text. this is especially a big perf issue when some body is asking text version for a forked document.

[2015-03-10 05:38] heejaechang commented on #1157
@jaredpar @pharring opened a bug for the perf issue.

[2015-03-10 05:44] heejaechang commented on #1157
related code
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Solution/RecoverableTextAndVersion.cs,f263730f33004943
http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Workspaces/LanguageServices/CSharpSyntaxTreeFactoryService.RecoverableSyntaxTree.cs,eb5b0e13397f84a5
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Solution/TextAndVersion.cs,58c9881cf69

[2015-03-10 07:38] conniey opened #1162 "Update Syntax Visualizer VSIX for CTP 6"
I am trying to write an analyser with Rosyln with VS Ultimate CTP6, so I was following the README instructions.  But when I try to install
[.NET Compiler Platform Syntax Visualizer for CTP5](https://visualstudiogallery.msdn.microsoft.com/b5104545-29ed-46b2-beb0-351af9ca2d21), it fails with this log.

[code]

[2015-03-10 09:59] bizon-sb opened #1163 "Add integer bit manipulation functions"
There is currently no way to access the powerful bit-manipulation functions that are present on modern processors from C#. I have found these to be very useful for encryption and high performance data structures.
These include bit rotations, finding the highest bit set, counting the number of 1 bits etc.
My suggestion is to include these as static methods to for Int32, Int64 and others in a simila

[2015-03-10 13:17] mkosieradzki commented on #1163
I am afraid you are writing to the wrong project - because this issue is far more related to the mscorlib than to the languages/compilers - especially if you are proposing introducing static methods - not new operators, constructs etc.

I would suggest this project: https://github.com/dotnet/coreclr .

[2015-03-10 13:49] sharwell commented on #1162
https://visualstudiogallery.msdn.microsoft.com/0f18f8c3-ec79-468a-968f-a1a0ee65b388

[2015-03-10 13:59] bizon-sb commented on #1163
You are right, that seems to be a better place for it. I'll close the issue and post it there instead.

[2015-03-10 13:59] #1163 closed

[2015-03-10 14:46] Pilchie commented on #1162
Tag @jmarolf

[2015-03-10 14:46] Pilchie commented on #1156
It should only reformat the spans that are affected by the rename, not the whole document.  Are you seeing something different?

[2015-03-10 14:49] Pilchie commented on #1157
@mattwar - do you want to take a look at this?  I know you had some concerns about the complexity of the way `SyntaxTree` does recovery.

[2015-03-10 14:52] Pilchie commented on #1146
Well, it *was* the design, since that's been the typical thing VS does.  However, given that most non-Windows editors don't handle BOMs well, we should consider changing it.

[2015-03-10 16:02] rchande commented on #994
Yep, this is fixed with #834 .

[2015-03-10 16:02] #994 closed

[2015-03-10 16:18] mavasani commented on #89
Tom pointed out that the filtering is only done for Managed projects to hide native rules, so all is fine here.

[2015-03-10 16:41] HaloFour opened #1165 "Proposal: Support Async Pattern Methods (Cω Chords)"
## Background

In my opinion one of the more interesting ideas in the Polyphonic C# and Cω languages out of Microsoft Research was "asynchronous method chords".  Combined with asynchronous methods this simple syntax provided one of the most elegant ways to express complex synchronization between two or more asynchronous operations.
## Proposal

An asynchronous pattern is comprised of two parts.
##

[2015-03-10 16:49] HaloFour commented on #1165
Updated syntax based on the Cω syntax.

Here are the relevant docs:

[Cω Overview](http://research.microsoft.com/en-us/um/cambridge/projects/comega/doc/comega_whatis.htm)
[Cω Concurrency Examples Tutorial](http://research.microsoft.com/en-us/um/cambridge/projects/comega/doc/comega_tutorials_concurrency_extensions.htm)
[Cω Concurrency Specification](http://research.microsoft.com/en-us/um/cambridge/

[2015-03-10 17:10] jmarolf commented on #1162
I'll update the readme with instructions for CTP6

[2015-03-10 17:11] #898 closed

[2015-03-10 17:14] jaredpar commented on #1157
Dug into this problem a bit deeper today.  The root issue is in [CreateRecoverableTextAndTree](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Solution/DocumentState.cs,cb2652a0e852701f):

[code]

Notice in particular: `cacheResult: false`.  This means any use of the `AsyncLazy<TextAndVersion>`, sync or async, will completely reconstruct the text of the tree using `SyntaxNode.

[2015-03-10 17:19] heejaechang commented on #1157
cacheResult:false is one thing. it will reduce it to happen once, but in this particular case (forked document), it probably doesn't need to happen at all if TextAndVersion works like TreeAndVersion where Text itself is recoverable like tree. then, asking version won't require text being realized.

[2015-03-10 17:19] ggrnd0 commented on #98
@leppie , is it https://msdn.microsoft.com/en-us/library/aa288476(v=vs.71).aspx ?

[2015-03-10 17:20] jaredpar commented on #1157
This has a trickle down effect on the IDE code.  It means that creating items like `SyntaxTreeIdentifierInfo` will both recreate the `SyntaxTree` and the text involved.

[2015-03-10 17:30] leppie commented on #98
@ggrnd0: I guess it would be implemented using the same syntax, but currently you cannot implement user-defined conversions to and from `object`. It is not allowed.

[2015-03-10 17:32] MgSam commented on #396
Are there any additional design notes forthcoming since Feb 4?

[2015-03-10 17:34] ggrnd0 commented on #98
@leppie , i forgot it... there would be an exclusion for value types. +1 for it.

[2015-03-10 17:34] svick commented on #1165
This certainly looks like an interesting feature, but considering existing libraries (TPL Dataflow, Rx, AsyncEx) and that C# 7.0 is likely going to have pattern matching, I don't see a compelling benefit from this.

Do you have any use cases that show what makes this feature useful? I don't think your queue example is that (it's basically `BufferBlock` from TPL Dataflow).

[2015-03-10 17:38] ggrnd0 commented on #98
Another small and strange thing:
Make System.Int32 same like int: you cannot use System.Int32 for `enum`.
But it does not mater if `enum` will be reference type like java.

[2015-03-10 17:57] jaredpar commented on #1157
@heejaechang why not make getting the version independent of the text?  Basically make it a three way tuple (text, tree and version) instead of a two way tuple (text + version and tree).

Even if the text is recoverable it is still being unnecessarily created.  The motivating case here is the code formatter tool.  There are only two times where the text of the tree needs to be realized:

- When pa

[2015-03-10 18:14] #1109 closed

[2015-03-10 18:17] agocke commented on #1007
Closed by #1057

[2015-03-10 18:17] #1007 closed

[2015-03-10 18:40] AdamSpeight2008 commented on #1156
It just effects the renames, but should it if the pretty printer is turned off.

[2015-03-10 18:43] heejaechang commented on #1157
I think that's basically what I am saying. Textandversion and treeandversion becomes asynclazy and text and tree itself in text/treeversion also become lazy. (here two versions are different so can't be shared)

What I described above is already how treeandversion works.

Sent from my Windows Phone
________________________________
From: Jared Parsons<mailto:notifications@github.com>
Sent: ý3/ý10/ý

[2015-03-10 19:16] HaloFour commented on #1165
I know that TPL DataFlow and Rx both include functionality around asynchronous patterns, but they can be quite cumbersome to consume especially when the same asynchronous result could be used in more than one flow.  I don't see join primitives in AsyncEx although I'm not familiar with that library.

I don't believe that the pattern matching proposals for C# 7.0 touch on this form of functionality

[2015-03-10 19:36] svick commented on #1165
What I meant is that you can have a library type similar to F# [`MailboxProcessor<T>`](https://msdn.microsoft.com/en-us/library/ee370357.aspx) (though not exactly, `MailboxProcessor<T>` runs continuously, not one message at a time) and then use a discriminated union as `T` and use `switch` to implement parts of your pattern methods.

[2015-03-10 19:42] brettfo commented on #551
Re-assigning to @amcasey for verification.

[2015-03-10 19:42] brettfo commented on #818
Re=assigning to @AlekseyTs for verification.

[2015-03-10 19:43] brettfo commented on #819
Re-assigning to @AlekseyTs for verification.

[2015-03-10 19:43] brettfo commented on #820
Re-assigning to @AlekseyTs for verification.

[2015-03-10 20:00] HaloFour commented on #1165
That seems like a very different model in that you're waiting for specific messages to be posted to the mailbox and then processing them immediately.  In the case of Cω it doesn't respond at all until all of the messages (signals, whatever) are received.

[code]

[2015-03-10 20:04] #751 closed

[2015-03-10 20:20] HaloFour commented on #1165
The TPL Dataflow non-greedy JoinBlock is probably what best corresponds to this proposal.

[How to: Use JoinBlock to Read Data From Multiple Sources](https://msdn.microsoft.com/en-us/library/hh228610%28v=vs.110%29.aspx)

Here's how that sample could be implemented:

[code]

In my opinion the language semantics eliminates a lot of complicated boilerplate and makes it much easier to follow.

[2015-03-10 20:35] tmat opened #1171 "Implement OSS signing in the compiler when public key is specified in .snk file"
The compiler currently OSS signs the compilation assembly when CryptoPublicKey is set to a valid public key and DelaySign is false  (i.e. sets the "signed" CorFlag bit to true without actually signing the assembly).

We should enable OSS signing also when a public key is supplied via .snk file. Currently we report ERR_SignButNoPrivateKey error if the file doesn't contain both public and private ke

[2015-03-10 21:04] jmarolf opened #1175 "Analyzer description is never truncated in solution explorer"
![image](https://cloud.githubusercontent.com/assets/9797472/6585257/e8d63d6e-c72d-11e4-9638-956d1147cf9b.png)
 Currently we allow analyzer names to be as long the author wants without wrapping them or cutting them off.  Should we have a better user experience here? Perhaps truncating the text with "..." to indicate that the entire text cannot be displayed.

[2015-03-10 21:05] ManishJayaswal commented on #844
No the express version will not work.

[2015-03-10 21:05] #844 closed

[2015-03-10 21:11] ManishJayaswal commented on #462
Let's get this fixed area by area. Kevin once you are done with debugger area, assign this to someone in another feature team who have fix up work to do and update the label.

[2015-03-10 21:16] basoundr opened #1176 "Introduce FormattingOptions.UseTabOnlyForIndentation with testcases"
With the changes in PR #1166 we have removed the option `FormattingOptions.UseTabOnlyForIndentation`.

Since we didn't have testcases backing the behavior of the option we have removed this option.

From discussion with the team, there seems to be 2 purposes:
1. In the case of,

[code]

the second line is tabbed in the Indentation area and the rest of the string is filled with spaces with the help

[2015-03-10 21:27] jaredpar opened #1177 "Formatter shifts VB comments left on empty case statement"
See the following formatter diff for context:

What's happening here is the `Formatter.FormatDocumentAsync` method is shift comments in an empty `Case` statement one shift width left.  For example:

[code]

Will format to:

[code]

[2015-03-10 21:33] paulomorgado commented on #1165
I'm just not too keen to the syntax. I don't like those "multibodied methods".

Instead of declaring "unbodied methods" and "multibodied methods", have you considered declaring just trigger the conditions for each body?

    public whatever MemoryResourceAvailable(MemoryResource memory)
        & FileResourceAvailable(FileResource file)
    {
        // Perform some action on the resources.

[2015-03-10 21:34] ashmind commented on #1141
@svick Right! And I even searched before making a proposal, but somehow missed it.

[2015-03-10 21:44] amcasey opened #1178 "Re-enable the ResultProvider tests in Jenkins"
...once there is a public build including the breaking changes to Microsoft.VisualStudio.Debugger.Metadata.

[2015-03-10 21:46] thomaslevesque commented on #1042
I would like this feature, but only for private members. For public members, I think it's better to be explicit; otherwise you can easily change the type of a member without realizing it, breaking compatibility with client code.

[2015-03-10 22:04] thomaslevesque commented on #508
It would be nice, but it has nothing to do with the C# language itself. I guess it could be done with a custom tool to use instead of ResxCodeFileGenerator, or with a T4 template.

BTW, if you want a better way to write resource strings with format args, you might be interested in [this](http://www.thomaslevesque.com/2014/11/17/stringtemplate-another-approach-to-string-interpolation/); it's a libr

[2015-03-10 22:11] HaloFour commented on #1165
@paulomorgado

That's possible.  For the most part I just took the Cω syntax and adapted them to be asynchronous (in Cω they were blocking calls).  While I agree that the two bodies for one method may seem a little confusing at first I think that it does better convey that they are one method.  It also is a little more DRY in that you don't need to repeat that signature.  Per that specification yo

[2015-03-10 22:11] biqas commented on #159
@pharring as stated in the #1125 issue, an immutable modifier is required. Readonly fields are not solving it.

Example:

[code]

you can do following

[code]

but i was proposing that this should not be allowed. And to detect such modifications an extra immutable modifier is required.

[code]

[code]

So it is not important a type it self is immutable, more important from which context it is used

[2015-03-10 22:29] svick commented on #1165
Yeah, I was focusing on the case where you're waiting only on one message.

You're right that Dataflow is more verbose but it's also mostly more general (even though the arity of its `JoinBlock`s is only 2 and 3, not more). If you wanted, you could write a simple wrapper for this specific joining functionality, bringing the verbosity on par with your proposal (violating the "don't make it a langua

[2015-03-10 22:42] paulomorgado commented on #1165
@HaloFour, take a step back and look at it again.

They are really two methods.

And it's irrelevant if they are:

    public whatever MemoryResourceAvailable(MemoryResource memory)
        & FileResourceAvailable(FileResource file)
    {
        ...
    }

    public whatever MemoryResourceAvailable(MemoryResource memory)
        & NetworkResourceAvailable(NetworkResource network)
    {
        .

[2015-03-10 23:07] gafter commented on #1171
clearing milestone for triage

[2015-03-10 23:09] paulomorgado commented on #1042
All discussions around this, inevitable, come to that, @thomaslevesque. Although theoretically nothing prevents it to be public, the amount of work required by the compiler and the dangers involved.

Being one of those that said "I'll never use that" when `var` was presented and now use it all the time, I would use this.

[2015-03-10 23:12] amcasey commented on #1171
It's probably worth mentioning that Concord.csproj invokes FakeSign directly on assemblies produced by ilasm.

[2015-03-10 23:27] #406 closed

[2015-03-10 23:33] mavasani opened #1180 "Missing <SolutionDir> property in 6 recently added analyzer project files"
All of the project files in Roslyn.sln have a property group element:

`<SolutionDir Condition="'$(SolutionDir)' == '' OR '$(SolutionDir)' == '*Undefined*'">..\..\..\..\</SolutionDir>`

Towards the end of the file we have an import of Nuget.targets based on this variable.

`<Import Project="$(SolutionDir)\.nuget\NuGet.targets" Condition="Exists('$(SolutionDir)\.nuget\NuGet.targets')" />`

I am not

[2015-03-10 23:34] gafter commented on #98
@ggrnd0 You can use System.Int32 for an enum base type in C# 6.

[2015-03-10 23:50] jaredpar commented on #1177
After further investigation it appears to happen for any comments that appear at the end of a `Case` block.  This is independent of whether or not the `Case` block is empty.

[2015-03-11 00:03] SLaks opened #1181 "Signature Help chokes on duplicate overloads"
Source:

[code]

Quick Info works fine, but signature help is invisible.
After pressing Control+Shift+Space, nothing appears to happen, but the up & down arrows are swallowed.

The editor throws a duplicate key exception with the following stack trace:

[code]

[2015-03-11 00:05] SLaks commented on #1181
I'm not sure whether it'd be better to show both invalid duplicate overloads, or to pick just one item & show an error icon.

[2015-03-11 00:11] #1099 closed

[2015-03-11 00:52] HaloFour commented on #1165
@svick

It's quite possible that it's not a common problem.  I think it's useful but even I have trouble finding use cases that aren't esoteric.  Part of me thinks that if we had a tool such as this readily available and understood that we'd find it useful in refactoring existing code or in solving new kinds of problems, like we do with LINQ and `async`/`await` now.

I'd love to pick Eric Meijer's

[2015-03-11 01:06] paulomorgado commented on #1165
In fact, they are 5 methods. The two that wait for the signaling and the 3 signaling.

If they returned something, I don't theses constructs would be the best ones. It would ned to be more like a semaphore with additional context.

Or a messaging pattern would be better for everything. You send messages to some code that is waiting for messages.

[2015-03-11 01:12] HaloFour commented on #1165
@paulomorgado

No, it's 3 methods.  Two mailbox methods and one synchronizing method.  The fact that internally it switches between two different permutations of which mailbox methods are called is an implementation detail, one that is completely hidden to the outside world.

The entire point of this is a messaging pattern, but one that can join patterns between those messages and respond accordin

[2015-03-11 01:21] paulomorgado commented on #1165
Why did you use `&`?

[2015-03-11 01:27] HaloFour commented on #1165
That syntax is straight out of Polyphonic C# and Cω, the specs of which are in one of the first few comments on this thread:

[Cω Overview](http://research.microsoft.com/en-us/um/cambridge/projects/comega/doc/comega_whatis.htm)
[Cω Concurrency Examples Tutorial](http://research.microsoft.com/en-us/um/cambridge/projects/comega/doc/comega_tutorials_concurrency_extensions.htm)
[Cω Concurrency Specifi

[2015-03-11 03:55] ggrnd0 commented on #98
+

[2015-03-11 04:15] dpoeschl commented on #896
I'm guessing these image monikers were added post-CTP6, in which case this code shouldn't be building with /p:CIBuild=true set (or, I think, in RoslynLight.sln). @AdamSpeight2008 - can you confirm what exactly you were building when this failed? /cc: @tmeschter  @srivatsn @jaredpar

[2015-03-11 04:28] dpoeschl commented on #906
For quicker reference, here's the failed build: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest/640/console

The [Building, Testing, and Debugging](https://github.com/dotnet/roslyn/wiki/Building-Testing-and-Debugging) wiki mentions that pull requests will only be accepted from master. @AdamSpeight2008 Is there conflicting guidance on this elsewhere?

@jaredpar Do we intend for PRs to the CT

[2015-03-11 07:39] drewnoakes commented on #396
+1, I really enjoy reading the notes from these design sessions.

[2015-03-11 09:11] paulomorgado commented on #1165
I vaguely remember Cω from those days. Now, those links take longer to open than my web browser cares to wait.

[2015-03-11 13:12] jaredpar commented on #906
@dpoeschl

We only intend for PRs to be accepted to the master branch.  A PR to any of the release branches, except possibly the most recent, will almost certainly fail.

The documentation states that PRs will only be accepted to master.  I'm open to suggestion but I'm not sure how this could be made any clearer.

[2015-03-11 13:59] AdamSpeight2008 commented on #906
@jaredpar, @dpoeschl  I think you need to reread the wiki

[2015-03-11 14:04] AdamSpeight2008 commented on #896
@dpoeschl I was building Roslyn. They maybe Jenkins console output that shows it,

[2015-03-11 14:07] AdamSpeight2008 commented on #611
The original location was a VM shared directory. Which I think was being treated as if it was a network folder? Any how as soon I move it to a local folder (eg `My Documents`) it seems to work.

[2015-03-11 14:18] jaredpar commented on #906
@AdamSpeight2008 can you point us to that place in the WIKI?  It is in error.

[2015-03-11 14:20] jaredpar commented on #906
Additionally could you provide the following information:

- What build of Visual Studio and the SDK are installed on your machine?
- What build errors are you seeing?  Generally a report of a build failure should be accompanied by the actual errors being output.

[2015-03-11 14:32] #1083 closed

[2015-03-11 14:39] AdamSpeight2008 commented on #906
(WIKI location](https://github.com/dotnet/roslyn/wiki/Contributing-Code) 2 item in bullet list.
I'll get back to with the specs, as today I'm not in the same location. *(That's if I haven't deleted that VM)*

[2015-03-11 14:54] yufeih commented on #234
Then Task<void> will also be equivalent to Task

[2015-03-11 15:35] Eugen1344 commented on #1013
Even IL have this feature. Why c# doesn't? If nobody will do it, ill do it by myself, this is not hard

[2015-03-11 16:11] ljw1004 commented on #250
Eric Lippert wrote about the difficulties in eliminating static methods from the candidate set, relating to the "Color Color" problem...
http://blogs.msdn.com/b/ericlippert/archive/2009/07/06/color-color.aspx

[2015-03-11 16:25] #665 closed

[2015-03-11 16:33] tmat commented on #567
The method is on language specific CSharp/VisualBasic-CompilationOptions. Seems like we are missing "common" methods for many other options. Closing this issue and filing a bug to add all of them.

[2015-03-11 16:33] #567 closed

[2015-03-11 16:35] tmat opened #1185 "CompilationOptions are missing With- method for some properties"
Review common compilation options and add missing With- methods (DelaySign, CryptoPublicKey, CryptoKeyFile, CryptoKeyContainer, Platform, etc.)

[2015-03-11 16:45] #1151 closed

[2015-03-11 16:58] amcasey commented on #1178
Correcting milestone.

[2015-03-11 17:35] ManishJayaswal commented on #1003
We have dependency of debugger team here.

[2015-03-11 17:43] jasonmalinowski opened #1187 "Random crash (NullReferenceException) experienced while using signature help"
I don't have any repro, just the crash information. The dump is available on internal bug 1127440.

      Microsoft.CodeAnalysis.EditorFeatures.dll!Microsoft.CodeAnalysis.Editor.SignatureHelp.CommonSignatureHelpUtilities.TryGetSyntax<Microsoft.CodeAnalysis.CSharp.Syntax.AttributeSyntax>(Microsoft.CodeAnalysis.SyntaxNode root, int position, Microsoft.CodeAnalysis.LanguageServices.ISyntaxFactsServic

[2015-03-11 17:58] paulomorgado commented on #250
That won't happen in **C#** if it's already known to be invoking an instance method: `instance.Method()`.

And if you're used to qualify everything in the instance with `this`, you're already in an happy place.

[2015-03-11 18:09] ljw1004 commented on #250
@paulomorgado , that's exactly what Eric wrote. He wrote that

EITHER

* You have one set of overload rules for cases like "this.foo()" and "instance.foo()"
* and a different set of overload rules for cases like "Class1.foo()"
* and a different set of overload rules for cases like "Color.foo()"

OR

* you have just one common set of overload rules for all three cases.

Eric wrote, "rather than com

[2015-03-11 18:24] #1118 closed

[2015-03-11 19:39] dpoeschl commented on #446
With the changes coming in PR #xxx, the ```[Obsolete(nameof(Main))]``` case will no longer crash. Instead, you can use this repro:
[code]

[2015-03-11 19:43] glsantos opened #1189 "Code after return"
I know actually we have the finally keyword which works nice but we need the try block to it works.
So, my suggestion is to make it as a 'native' feature whitout needing the finally block.

Leaving the theory, here's my concept:

<pre>
<code>string MyFunction(string MyString, ref int incrementVar)
{
	return MyString.Reverse()
	{
		incrementVar++;
	};
}</code></pre>

Then, it will be interpreted (o

[2015-03-11 20:36] VSadov opened #1190 "Compiler crash when lowering collection initializer with extension .Add() method + expression trees (VB)"
This is the same issue as in #310 but involving VB. A different fix may be needed though since the pattern was not a compile error in past versions.

[code]

[2015-03-11 20:37] #310 closed

[2015-03-11 20:59] DustinCampbell commented on #851
Fixed with PR #1174.

[2015-03-11 20:59] #851 closed

[2015-03-11 21:21] gafter commented on #250
@ljw1004 I agree with what you wrote and Eric's post. However, the difference is fairly small - you can think of it as being a change to how you construct the candidate sets that are fed to overload resolution. Either way, there is real customer benefit.

[2015-03-11 21:38] rchande opened #1193 "Rename resolves NameOf conflict with erroneous "this""
In the following example, when "z" is renamed to "Fail", the ambiguity within the nameof is resolved by qualifying "Fail" with "this.". This is invalid, since F is static.

[code]

[2015-03-11 21:44] rchande opened #1195 "Renaming a member to a name used within a nameof is a conflict"
In the below example, renaming "F" to "Fail" causes rename to cause an unresolvable conflict in the nameof. If you commit the rename, there are no errors. Rename is probably confused because the nameof binds to more symbols than it used to.

[code]

[2015-03-11 21:48] gafter opened #1196 "Small code change requested in code review."
In https://github.com/dotnet/roslyn/pull/1182/files#r26233973 @AlekseyTs requests that the code

[code]

be replaced by something like

[code]

[2015-03-11 21:53] svick commented on #1189
This doesn't look like it would be worth it to me, your translation shows that it doesn't really save you much typing.

Also, your syntax is very confusing (and possibly hard to parse). Consider:

[code]

If you remove the semicolon after `f()`, then it changes from "create empty list, call `f()`, return the list" to "create list containing the result of `f()` and return it".

[2015-03-11 21:55] tmeschter opened #1197 "Csc.exe crashes when compiling Roslyn with latest Roslyn"
I'm attempting to compile Roslyn with the latest Roslyn bits. Csc.exe fails with the following exception:

[code]

[2015-03-11 22:04] gafter commented on #1013
@Eugen1344 If you prepare a pull request, please call it to my attention and I will shepherd it.

[2015-03-11 22:05] gafter commented on #1189
@glsantos The syntax you suggest is already legal C# and it means something different from what you want it to mean.

[2015-03-11 22:25] ManishJayaswal commented on #890
This was fixed with #708

[2015-03-11 22:25] #890 closed

[2015-03-11 22:35] Pilchie commented on #593
Note - the errors were a bug in the C++ targets that has been fixed in our new base drops.  The warnings are possibly annoying, but have lived forever, and I don't think enough people do this to worry about fixing it now.

Note that as of 2f77a182e77755349867c88e63c558788223d2c0, we don't have those projects anymore, so it won't be a dogfooding issue either.

[2015-03-11 22:35] #593 closed

[2015-03-11 22:35] jaredpar commented on #22
These should be fixed now.

[2015-03-11 22:35] #22 closed

[2015-03-11 22:41] jaredpar commented on #388
It appears this error was a short lived issue.  I went to re-enable this test today to work out the failure and it turns out I forgot to disable it in the first place.  So it's been happily passing for this past month without any reported issues.

[2015-03-11 22:41] #388 closed

[2015-03-11 22:55] dpoeschl commented on #906
We've updated that wiki page to remove references to the "lastest Preview release of VS 2015."

[2015-03-11 22:57] dpoeschl commented on #906
Marking as Blocked until we know whether the build that was attempted is a supported scenario.

[2015-03-11 23:03] #1196 closed

[2015-03-11 23:05] #1086 closed

[2015-03-11 23:11] dpoeschl commented on #896
If you were trying to build Roslyn.sln, then these errors are probably expected. Build RoslynLight or use the /p:CIBuild=true flag with BuildAndTest instead. I'm going to close this particular issue, but if you see failures during one of these kinds of builds, or any more discrepancies in the documentation, please let us know!

[2015-03-11 23:11] #896 closed

[2015-03-11 23:20] VladimirReshetnikov commented on #1027
@amcasey @VSadov @theoy My experiments show that Dev12 compiles this code without errors, but metadata for class `Contract` contains 2 properties with identical signatures `int32 TestContractAssembly.IContract.x()` - it fails to verify and fails to load at runtime. Do we have more info about the real repro? Was it a usable assembly?

If we inline aliases, then the C# compiler includes the extern a

[2015-03-11 23:33] VladimirReshetnikov commented on #1027
@amcasey So far my tests show that aliases correctly refer to distinct non-merged namespaces with `NamespaceKind.Module`.

[2015-03-11 23:33] amcasey commented on #1027
The repro was reduced from an internal partner's code.  I believe they care about the aliases referring to different namespace constituents but don't actually try to implement two different copies of the same interface on the same type.

[2015-03-11 23:34] amcasey commented on #1027
@VladimirReshetnikov Then why are we getting errors about implementing the same property twice?

[2015-03-11 23:39] VladimirReshetnikov commented on #1027
I'm going to close it as "By Design" for now. Let me know if you have any reasons to believe it should compile successfully, and what is the expected output.

[2015-03-11 23:43] ViIvanov opened #1203 "Proposal: "static cast" operator for C#"
It would be nice to have a "static cast" operator in C#.

Existing type cast operator looks similar in cases, when it throws InvalidCastException (or other from user defined type cast operator, for example) and when it not throws (converting to a base type or to an interface or enum type to an underlying type).

I.e. "static cast" is the cast that can be produced without exceptions.

Example:

[co

[2015-03-11 23:51] amcasey opened #1204 "Force loading of workspace projects before beginning EnC session"
In VsENCRebuildableProjectImpl, _vsProject.VisualStudioWorkspace.CurrentSolution.GetProject(_vsProject.Id) sometimes returns null.  This would seem to indicate that the corresponding workspace project has yet to be loaded.  Normally, workspace projects are loaded on-demand, so this would be expected.  However, during EnC, we require baselines for all projects in order to be able to determine what

[2015-03-12 00:06] #776 closed

[2015-03-12 00:14] amcasey commented on #1027
@VladimirReshetnikov explained what I was missing offline: the diagnostic indicates that two names are colliding, not that we're implementing the same interface property twice.  I agree that the behavior is reasonable (if suboptimal) and not a regression.

We'll follow up offline with the team that originally reported the issue.

[2015-03-12 00:22] amcasey commented on #1204
TODO: there's a workaround flagged with this URL.

[2015-03-12 00:35] gafter commented on #1027
I don't see how this can be by design. The language specification says clearly that this should work, and it does not work. I understand that it is not a regression because the native compiler could not handle this, but it is still a bug. What am I missing?

[2015-03-12 00:43] VladimirReshetnikov commented on #1027
The issue does not say what is the expected behavior (including what metadata is expected to be emitted).

[2015-03-12 00:44] gafter commented on #1027
No, the issue does not say. But the language clearly defines what should happen, no?

[2015-03-12 00:50] MadsTorgersen opened #1207 "C# Design Notes for Feb 11, 2015"
C# Design Meeting Notes for Feb 11, 2015
=========================================

The design notes can be found at https://github.com/dotnet/roslyn/blob/master/docs/designNotes/2015-02-11%20C%23%20Design%20Meeting.md

Discussion on these design notes are in this issue.

[2015-03-12 00:51] VladimirReshetnikov commented on #1027
No, the spec is silent about what names in metadata are given to explicit interface implementations. We have established rules for this (it might be breaking to change them), but unfortunately these rules sometimes result in several members of the class having identical names. The underlying platform treats this situation as an error and refuse to load such a type. The native C# compiler did not r

[2015-03-12 00:53] MadsTorgersen commented on #396
I'm a little backlogged on notes, as I've been away for a couple of weeks. Just posted one more set, and there are more to come.

[2015-03-12 00:58] gafter commented on #1027
Of course the spec doesn't say what names are given to explicit implementations in metadata, and neither does this issue request particular metadata names. But the language spec does say that this program should be accepted and defines its semantics.

Our rules never result in several members of the class having identical names *in programs that compile today*, so making programs such as this one

[2015-03-12 01:01] gafter commented on #1027
Having said that, this probably doesn't need to be fixed in the current release.

[2015-03-12 01:04] VladimirReshetnikov commented on #1027
Suppose we decide to always inlude an extern alias in the member name, even if it indirectly referenced by a using alias. It would change metadata names in some programs that were successfuly compiler with the native compiler. If the program uses reflection to access those members, it could be broken. Or, adding an alias to an already long name could overflow name length limitation in CLR. All the

[2015-03-12 01:05] gafter commented on #1027
@VladimirReshetnikov I agree the proposed fixes you describe could break some clients. That suggests we need a subtler change, perhaps only in cases where there are conflicts.

[2015-03-12 01:41] HaloFour commented on #1207
I wonder where this might leave other proposals such as #181, an RIAA-like syntax for `IDisposable`:

[code]

[2015-03-12 02:48] danfma commented on #396
The builder idea is cool and it could be used to generate some kind of DSL for a lot of things, like building an UI or something like a type safe HTML construction, for example.

[2015-03-12 02:54] SLaks opened #1208 "Explicit method group conversion suppresses unnecessary qualification warning"
[code]

`(Action)` is highlighted as unnecessary, but `this.` isn't.
Removing `(Action)` correctly highlights it in gray.

Typename qualifiers for static methods are similarly missed, but namespace qualifiers are not.

[2015-03-12 02:58] MgSam commented on #1207
Agree with the decision to drop destructible types. As I said in that thread, I'd like to see a much more natural solution to the problem of deterministic memory (and other resource) cleanup. Doing that seems like it would almost by necessity require CLR changes.

I don't think the lack of Intellisense for declaring the deconstruction of a tuple-returning method is a problem- it seems highly likel

[2015-03-12 03:03] danfma commented on #1207
@MadsTorgersen, I did not agree with the current design of tuples in the sense that it could only be used on the same assembly of its definition. If you work with other languages, like kotlin, scala, groovy etc, all these languages have a tuple type well defined, based on some generic type often, that can be used across any library (in our case, assembly).

I understood your points, but if the tup

[2015-03-12 03:08] #446 closed

[2015-03-12 03:19] danfma commented on #191
I like your idea but is something like Nermele does and to be honest, I can lost myself easily on something like this:

[code]

But I agree with you, it's powerfull!

[2015-03-12 03:31] #164 closed

[2015-03-12 03:43] #399 closed

[2015-03-12 04:24] tmat opened #1210 "VB EnC: enable editing methods containing captured With-object"
Dim a = New C With { .Q = (Function() .Q).Invoke }

[2015-03-12 04:24] tmat opened #1211 "VB EnC: disable editing methods containing static local"

[2015-03-12 04:25] tmat opened #1212 "VB EnC: enable editing methods containing a complex query clause"
That is a query containing Aggregate, Join, or Group By clauses

[2015-03-12 04:32] tmat opened #1213 "EnC: reduce the number of allocations during tree matching"
We have some inefficient code there that can be cleaned up after support for all VB query clauses is implemented.

[2015-03-12 04:34] tmat opened #1214 "Make SyntaxFacts.IsLambdaBody obsolete"
I have accidentally made this API public a while ago. We should make it obsolete for RC. It is only used in EnC and we don't have an equivalent API for VB.

[2015-03-12 06:07] KalitaAlexey commented on #180
I think this is ugly
[code]
More beautiful and meaningful that
[code]
It looks like variable declaration and it has sense.

[2015-03-12 06:42] ashmind commented on #1207
I think type equivalence in CLR is long overdue. It can be useful for tuples, functions, type redirects and multiple other cases (e.g. ASP.NET's `[AssemblyNeutral]`). In fact, some type equivalence already exists, in form of `[TypeIdentifier]` -- but it seems to be very limited to COM scenarios.

It doesn't have to be some ad-hoc auto-discovered equivalence though -- a solution based on explicit i

[2015-03-12 06:50] GeirGrusom commented on #191
What's the point if the `with` identifier? The pipe operator and underscore seems completely out of place in C#.

[2015-03-12 07:42] AdamSpeight2008 commented on #191
@GeirGrusom The syntax is from Nemerle.
 * `match` isn't an identifier, like `if` and `else` aren't, help delimitate the parts of the match expression
I think of *match (**this**) with {**these**}*
I didn't know the reason why it's there, My thoughts are, is that it disambiguates the grammar.

* The `I` define the start of match clause, it's a lot easier to write than `case:`
* The `_`  is more li

[2015-03-12 07:50] AdamSpeight2008 commented on #180
@KalitaAlexe have a look at #191 and see how that compares.

[2015-03-12 08:11] GeirGrusom commented on #191
Sorry I meant terminal. `with` seems completely pointless. It doesn't solve ambiguities. It's just syntax noise.

I think in order to look more like C# it should use `case` instead of `|`, and default instead of `_`.

[2015-03-12 08:52] khellang commented on #890
Awesome, @ManishJayaswal! :smile:

[2015-03-12 12:57] bgorven commented on #98
Rather than NonNull\<T>, an approach which implies significant compile-time checking against nullable values, both on the part of the compiler and the user, consider Default\<T>.

What is Default\<T>?

Well, I'm glad you asked. Default\<T> is a wrapper type that can hold any value of type T, even null, but can always provide a non-null value when asked. That is, `var a = b!` is semantically identi

[2015-03-12 13:16] svick commented on #396
@danfma Aren't the existing object initializers enough for that?

[2015-03-12 14:21] SLaks commented on #1208
Also, when rename inserts a cast to a delegate type to resolve a conflict, it will unnecessarily qualify the method group reference.
I assume that's the same underlying bug.

[2015-03-12 14:35] dsaf commented on #1203
1. The idea makes sense, but is there a more realistic example? Those overloads do not look like good anyway.

2. The suggested syntax looks too much like TypeScript IMHO - could be confusing with the upcoming record type syntax as well.

[2015-03-12 14:41] gafter commented on #180
@KalitaAlexey When we considered this feature separately (that is, in the nonrecursive way as you are comparing possible syntax forms for), we informally called it the is/as operator. The logic for using `is` is that it returns a boolean. The `as` operator returns a `T`.

I prefer the recursive syntax

[code]

[2015-03-12 14:43] dsaf commented on #953
Relevant discussion:

http://stackoverflow.com/questions/294216/why-does-c-sharp-forbid-generic-attribute-types

[2015-03-12 14:49] mattwar commented on #1157
TextAndVersion is a public API. Changing it to have the text be lazy would be a breaking change, and have lots of downstream effects.  You could, however, introduce a different type internally that has different characteristics.

[2015-03-12 14:57] svick commented on #1203
I think the biggest problem with the syntax is that it's ambiguous with named parameters. Does `M(color : Color)` mean "the value of the parameter named `color` is `Color`" or "the value of the first parameter is `color`, statically cast to the type `Color`"?

[2015-03-12 15:22] jaredpar commented on #1197
Found a minimal repo for this bug:

[code]

[2015-03-12 15:36] VSadov commented on #825
I will take a look at the codegen part.

[2015-03-12 16:13] dsaf commented on #1203
Most intuitive would be saying 'as' or 'like':

[code]

[2015-03-12 16:46] #516 closed

[2015-03-12 17:27] VladimirReshetnikov commented on #1079
@gafter @sharwell The old beahavior was incorrect (and I guess very annoying to many users). If you remove a referenced assembly from `global` alias, and assign it a different one (`pgk` in this case), it seems expected that top-level extension methods declared in that reference should not be globally visible. If you specifically want them in some file or namespace declaration, you should say `usi

[2015-03-12 17:30] amcasey opened #1220 "Consider introducing an overload of Solution.GetCompilationAsync that takes a Project"
While debugging, I noticed that the following stack happens *a lot* in the diagnostic analyzer:

                Microsoft.CodeAnalysis.Workspaces.dll!Microsoft.CodeAnalysis.Solution.GetProject(Microsoft.CodeAnalysis.ProjectId projectId)
                Microsoft.CodeAnalysis.Workspaces.dll!Microsoft.CodeAnalysis.Solution.GetCompilationAsync(Microsoft.CodeAnalysis.ProjectId projectId, System.Threa

[2015-03-12 17:36] leppie commented on #1203
How about:

    M(IList<int>(x));

[2015-03-12 17:39] sharwell commented on #1079
The old behavior did not really make sense to me. My goal was removing items from the IntelliSense list, which it did despite still being able to compile the code. I haven't taken a strong position on the issue of how to handle it (document the intentional deviation from the spec, or leave it corrected). I'm weakly in favor of correcting the behavior since "it's more correct", but would leave the

[2015-03-12 17:51] dsaf commented on #1203
Relevant discussion:

http://stackoverflow.com/questions/1868861/how-to-call-explicit-interface-implementation-methods-internally-without-explici

[2015-03-12 17:51] dsaf commented on #1203
@leppie

I would drop the brackets than:

[code]

[2015-03-12 18:18] davidfowl commented on #572
+1

[2015-03-12 18:21] jaredpar commented on #1197
@tmeschter  I was able to do a self host build of Roslyn.sln with the contents of my PR.  So you should be unblocked for update after that is accepted.

[2015-03-12 18:27] jaredpar commented on #79
Fixed.

[2015-03-12 18:27] #79 closed

[2015-03-12 18:32] forki opened #1222 "Line numbers are not enabled as default"
Please enable "line numbers" as a default for the code editor.

This is a duplicate of https://github.com/Microsoft/visualfsharp/issues/304 and https://github.com/Microsoft/TypeScript/issues/2325, but we think it should be done for all languages (see https://github.com/Microsoft/visualfsharp/issues/304#issuecomment-78557404)

[2015-03-12 18:32] jaredpar commented on #906
This branch is only intended to build on a machine with CTP5 enabled on it.  This was tested at the time the branch created and we haven't pushed any changes to it since then.   If this is indeed not building on a machine with CTP5 + the SDK installed please reopen and attach the build errors.

[2015-03-12 18:32] #906 closed

[2015-03-12 19:06] leppie commented on #1203
@dsaf But then you have to add extra syntax rules to the parser which could cause ambiguity down the line (cant think of anything off the top of my head, but you never know).

[2015-03-12 19:13] gafter commented on #1079
I agree with @sharwell - whether we copy the "bug" from the native compiler or take a bug fix that is technically incompatible, we should document this issue in the compiler specification. Please don't close this bug until it is documented (you can assign the bug to me to add the documentation when we get to that stage).

[2015-03-12 19:25] TedDriggs commented on #119
For myself (and I would imagine many others), the value of this feature is about reducing boilerplate code in favor of more declarative parameter validation. In my boilerplate code, failure to satisfy the precondition produces an `ArgumentNullException`. It would be bizarre if - in a private helper function - I elected to write:

    if (foo == null)
    {
        Environment.FailFast();
    }

It

[2015-03-12 19:30] suprak opened #1224 "Diagnostics and Adornments, Tags and VS UI extensibility"
I'm developing a Diagnostics analyzer. I have been to accomplish what I want.

However I want to take it a step further and extend the look and feel using the existing VS extensibility model.

My question is how is that achieved?

How do I bridge the gap between analyzer-generated Diagnostics and say a Text Adornment service to highlight the locations that contain my Diagnostic?

I have tried seve

[2015-03-12 19:38] gafter opened #1226 "[Proposal] Add Never type and support for methods that cannot return."
Please add a compiler-recognized special type that means "you cannot get here". I suggest it be called `System.Never`.

The compiler would treat a value of the type specially for definite assignment purposes - whenever a value of this type appears on the stack, everything is definitely assigned and the code is unreachable. This type can be used as the return type of a method that cannot return, th

[2015-03-12 19:48] dpoeschl commented on #905
@jasonmalinowski - can you verify?

[2015-03-12 19:50] dpoeschl commented on #554
@amcasey - Back to you for verification.

[2015-03-12 19:52] dpoeschl commented on #540
@jeremymeng - Assigning to you for verification. If you don't have time to verify, let me know and I'll assign it to somebody else. Thanks!

[2015-03-12 20:02] gafter opened #1228 "Unable to build assembly using multiple netmodules built from Roslyn"
Roslyn generated a `PrivateImplementationDetails` class when certain constructs appear in the source - for example a switch statement on a string. Because this type has a fixed name, it is not possible to build an assembly from multiple netmodules, as the name conflicts.

This is a regression from previous versions of the compiler, which added the MVID to the name. However, that was removed in our

[2015-03-12 20:05] gafter commented on #1228
/cc @tmat @VSadov @Pilchie @theoy FYI

[2015-03-12 20:08] #1197 closed

[2015-03-12 20:34] thomaslevesque commented on #1226
Would it allow us to use `() => throw new Exception()` as a `Func<T>` or `Action`?

[2015-03-12 20:57] VladimirReshetnikov commented on #1228
What happens with anonymous types in case of multiple netmodules?

[2015-03-12 21:03] VladimirReshetnikov commented on #825
Please also consider other relational operators, e.g. `list?.Count >= 1`, operators on floating-point and enum types, and VB counterparts.

[2015-03-12 21:09] jmarolf commented on #1162
fixed with pull request #1231

[2015-03-12 21:09] #1162 closed

[2015-03-12 21:16] mattwar commented on #1157
It is perfectly reasonable to change how DocumentState stores this so that version is accessable without causing the text to be recomputed.

[2015-03-12 21:37] gafter commented on #1226
@thomaslevesque Yes, it would.

@amcasey @MadsTorgersen I think that in order for this type to be useful in VB, it cannot be named `Nothing`. Perhaps `Never`.

[2015-03-12 21:53] gafter commented on #357
When implementing multiple levels of overriding of covariant-returning functions, it is no necessary for the compiler to generate a long chain of method invocations. The compiler can implement this with at most a single intermediate method at runtime. That is the way the Java compiler does it.

[2015-03-12 22:02] gafter opened #1235 "[Proposal] Support tail recursion"
For performance reasons, it would be very helpful if some method invocations were to generate tail calls, in which the caller's stack is discarded and replaced by the callee's stack. When the method is calling itself, the compiler can generate a jump to the start of the method.

There are a few ways one might designate that one desires tail calls in the generated code:

1. The compiler could *alwa

[2015-03-12 22:03] gafter commented on #1235
/cc @pharring @MattGertz

[2015-03-12 22:15] svick commented on #1235
AFAIK the CLR already supports tail recursion in some cases. What exactly are the cases where it doesn't and wouldn't it make sense to improve the CLR for those cases, instead of the compiler?

[2015-03-12 22:25] MattGertz commented on #1235
Yes, the CLR supports .tail.  The Roslyn compiler currently has no facility for inserting .tail at all, regardless of what the CLR currently does, however.  This is unlike, for example, F#, where tail recursion is leveraged.

[2015-03-12 22:27] gafter commented on #1228
@VladimirReshetnikov Good question. I suspect it doesn't work with the old compiler but I'll try it.

[2015-03-12 22:38] suprak commented on #19
I would like to chime in and say that having the ability to know when a document has compiled (event) would be very useful for my process as well.

I'm also developing a hybrid VS-Extension and Diagnostic Analyzer application.
Basically I need to know when it's safe (low performance hit) to use `CompilationWithAnalyzers` to determine which of my Analyzers have found Diagnostics and then dress them

[2015-03-12 22:57] mattwar commented on #19
@suprak, what does it mean to have a document be compiled?  Do you mean when all other analyzers have run?  Typically as much work is avoided as possible on individual compilations as new ones are created each keystroke. All semantics (including diagnostics) are computed only on request, asynchronously.  The diagnostics engine that VS uses (similar to CompilationWithAnalyzers), is typically the on

[2015-03-12 23:41] VSadov commented on #1235
Generally JIT emits tail calls when it finds that profitable. In some sense it is a hardware-specific optimization. Same call may benefit from tailcalling on x64 (where stack frames are larger) and not so much on x86 (where register set is limited). Unsurprisingly the JIT is much more aggressive with tail calls on x64.
I think for perf-oriented tailcalls it may still be better to leave it to the J

[2015-03-13 00:15] gafter commented on #1235
Because a thrown exception

[2015-03-13 00:17] gafter commented on #1235
The runtime generally does not do this automatically as that would make it impossible for the runtime to produce stack traces.

[2015-03-13 00:33] tmat commented on #1235
Seems like the cleanest way of doing this would be to add MethodImplOptions.AggressiveTailCall (similar to AggressiveInlining). Then either the compiler would emit tailcall prefix or the jit would just understand the flag.

[2015-03-13 00:51] gafter commented on #1235
@tmat Yes, that was option (4).

[2015-03-13 01:16] tmat commented on #1235
@gafter Kind of. I was trying to point out 1) that we can use an existing attribute and 2) the JIT could do this, not the compiler.

[2015-03-13 01:24] gafter commented on #1235
@tmat Oh, I didn't realize a suitable attribute already existed. When you said "add" I thought you meant we'd add the attribute.

Does the jit already do this? I suspect not since it affects the stack trace, but perhaps the attribute is license to do so.

[2015-03-13 02:13] SLaks opened #1239 "Add using quick fix doesn't show in incomplete lamba"
Source (entire file):

[code]

No quick fix appears in `Exception`.

----

Alternate source with same issue:
[code]
Here, removing the `()` makes the quick fix appear.

[2015-03-13 02:32] SLaks opened #1240 "Formatter inserts spaces instead of tabs after incomplete if"
Source (entire document, with tabs rather than spaces):

[code]

Formatting the document will replace the tab in the last line with spaces.

[2015-03-13 02:33] SLaks commented on #1240
This seems to happen on any line that follows a line missing a semicolon

[2015-03-13 02:47] SLaks opened #1241 "Generate Constructor doesn't appear in statement lambda with missing semicolon"
[code]
No quick fix will appear until a semicolon is added.

This may be a dup of #1239; I'm not sure.

[2015-03-13 03:15] ashmind commented on #1226
It would be very interesting to see some examples.

Would it do the same for `return`? E.g. `return 5` is a never-expression from the POV of the surrounding code.

[2015-03-13 05:40] bordoley opened #1242 "Add Option type to the BCL"
C# lacks type safe semantics to express an optional value. This results in APIs which return null in order to express the lack of a result value. The negative impacts of null pointers are well documented, and an alternative already exists in F# in the form of FSharpOption. It would be useful to extend the BCL to natively support an Option type, preferably in a compatible fashion with the existing

[2015-03-13 06:55] leppie commented on #1235
@tmat Just attributing a method is not sufficient. You could have 2 paths where one is tail callable and the other not. This is probably best left to the JIT to decide. Tail calls in most cases are not cheap.

OTOH, if you could explicitly indicate a tail call, the C# compiler could perform tail call elimination (iow turn it into a while loop, like F#/IronScheme does) which is a very good optimiza

[2015-03-13 06:56] JoshVarty commented on #1222
:+1:

[2015-03-13 06:58] tmat commented on #1235
@ngafter I meant to add a new value to an existing enum that is used by an existing attribute.

[2015-03-13 09:05] paulomorgado commented on #1207
# Tuples #

I think you're overthinking it and trying to overdo it.

Tuples should be just a grouping of nameless values. If you need to name them, deconstruct it.

At first look, it might look like you need the names to understand the return value of this:

    public (int sum, int count) Tally(IEnumerable<int> values)
    {
        var sum = 0; var count = 0;
        foreach (var value in values

[2015-03-13 09:14] paulomorgado commented on #1203
@ViIvanov, I'm trying very hard to understand the value of this proposal.

Other than the way you write the cast, is there any thing new? Any motivation?

[2015-03-13 09:22] dsaf commented on #1203
@paulomorgado, did you read the whole of X2 body? It's not a feature suggestion, it's a fix to existing language design.

[2015-03-13 09:32] paulomorgado commented on #180
@KalitaAlexey, the `is` operator has always been a boolean operator while `as` is an operator of the type of the right expression.

If I look at it as `s is (ExpressionStatement e)`, it still makes sense to me. If `s` is an `ExpressionStatement` (by any valid conversion), than `e` is `s` converted to `ExpressionStatement`.

`s as (ExpressionStatement e)` doesn't make any sense to me. It looks like

[2015-03-13 09:43] paulomorgado commented on #1203
@dsaf, a fix is supposed to be a solution to something that is broken.

I'm failing to understand what it is broken and what the solution is.

[2015-03-13 09:57] dsaf commented on #1203
@paulomorgado, did you read the X2 method carefully? Why is it necessary to use an unsafe cast to resolve the method ambiguity? It can lead to bugs as the code changes.

Related reading:

http://en.wikipedia.org/wiki/Type_conversion

http://en.wikipedia.org/wiki/Function_overloading

https://msdn.microsoft.com/en-us/library/aa691336%28v=vs.71%29.aspx

[2015-03-13 10:19] ErikSchierboom commented on #1242
I would love an option type. Although the base libraries would not be able to change their type signatures, new methods would be able to use it. Add-in some extension methods to convert a nullable value to an option type, and you suddenly get a lot of the benefits of option types without much trouble.

[2015-03-13 10:30] Przemyslaw-W commented on #1207
I think names are essential. For tuples like (int, int, int) relying only
on position when deconstructing just begs for bugs.

I also like the original syntactic sugar around out parameters. I never
liked them and found them as a smell from the old days. I personally
tolerate out only in interop code and when using Try* pattern. Using tuples
to hide out parameters will allow us to treat methods us

[2015-03-13 11:49] paulomorgado commented on #1203
@dsaf , thank for clarifying that the problem is in my reading and not on the writting.

So, if I understand it correctly, the problem is that the cast (`(IList<int>)x`) might fail at run time, but you want the "conversion", not the "conversion if" (`x as IList<int>`).

The proposal is to write this:

    void X(Collection<int> x)
    {
        IList<int> y = x;
        M(y);
    }

in a more succ

[2015-03-13 12:12] vkhorikov commented on #119
I also think code contracts would be used primarily for marking incoming and outcoming values as non-nullable. It would be great if there will be any technique for us to make such validations at a class (assembly?) level so that we don't need to write them everywhere.

In terms of non-nullable reference types, I wrote a blog post about what the current ways are to mitigate the problem: [link](http

[2015-03-13 12:49] MgSam commented on #1207
I agree- names are essential. Without names I'd argue against tuples being in the language. I absolutely do not want to see return signatures of tuple types without names. The likely mess of undocumented, confusing code that such a feature would cause would not be worth the benefit.

[2015-03-13 13:45] ViIvanov commented on #1203
I'm sorry for a late answer.

@dsaf, @svick
1. OK, I will find real examples from my code base. May be code below?
2. I'm OK with other syntax of this operator. Yes, with named arguments colon can be hard.

@paulomorgado
You are right, in a this case a strongly typed local variable now (without static cast operator) is better. But, what about this is example in a linq query?
[code]
We can not use

[2015-03-13 13:50] ViIvanov commented on #1203
@paulomorgado In other words, a static cast operator will be useful in cases, where we can not introduce an explicitly typed local variables or in cases where is to hard to invent a names for these local variables.

[2015-03-13 13:53] ViIvanov commented on #1203
May be, `:>` is better?
[code]

[2015-03-13 14:09] ViIvanov commented on #1203
@paulomorgado
Main concern of static cast operator is tell that we do not need any special conversion operations. We just need to clarify a static type of the expression.

I think, it makes a reading a code simpler, intentions of author of code more explicit.

Local variables is not a good because
1. Author should invent a good names for these variables.
2. Refactoring of code with it variables is

[2015-03-13 14:18] KalitaAlexey commented on #180
I've already figured out my mistake.

[2015-03-13 14:22] ViIvanov commented on #1203
@leppie

If "x" is not a simple expression
[code]
the result IMHO is a not good. I think
[code]
better, when expression and the proposed type of expression visually separated from each other, peer to peer.

[2015-03-13 14:28] dsaf commented on #1203
I doubt that C# team would be open to introducing a new operator (```:>```) for a relatively small problem like this. Even for pattern matching proposal they tried to re-use the switch statement as much as possible.

Is it inspired by F#'s one? https://msdn.microsoft.com/en-us/library/dd233220.aspx
It feels a bit alien to C#.

[2015-03-13 14:47] ViIvanov commented on #1203
@dsaf
Agree. It just purposes. I think a `:` is a better and code like next
[code]
can be resolved by a compiler. I think it's clear it mean a named parameter.

[2015-03-13 15:46] paulomorgado commented on #1235
A way of explicitly requesting for tail calls could help on debugging. Maybe some `MethodImplOptions`.

That way it would be a developer requested action. One would be valid to expect that, if the developer requested, he will know it when debugging. And it will also be explicit for anyone else working on that code.

[2015-03-13 16:10] VSadov commented on #1235
@gafter    JIT definitely does tailcals when running optimized code and not debugging.

The following program works and terminates normally on x64

[code]

Make sure the code is not forced to run on 32bit via "32bit preferred" (where tailcalling is considered generally not profitable) and is not running under debugger (which suppresses JIT optimizations).

===== Output:
2305843005992468481
Press a

[2015-03-13 17:47] leppie commented on #1207
Building on @paulomorgado 's suggestion.

   public ARecord(int sum, int count) Tally(IEnumerable<int> values)

Inline record declaration

[2015-03-13 20:07] Bartmax opened #1246 "Null operator expected error at compilation but got it at runtime."
```bool IsBool = myClass?.myInt == 4;```

this does not throw a compiler error, but we can get a runtime one if myClass is null because bool cannot be null.

I expected this to error at compilation.

Posible suggestions for refactor should be either

change type to bool?
```bool? IsBool = myClass?.myInt == 4;```
assign default value on null something like :
```bool IsBool = myClass?.myInt ?? defau

[2015-03-13 20:10] svick commented on #1207
@leppie I think that syntax is very confusing and would take a lot of getting used to.

When reading that code, you'll be thinking something like:

[2015-03-13 20:14] mavasani opened #1247 "System.InvalidOperationException at Microsoft.CodeAnalysis.CSharp.CodeFixes.AddImport.CSharpAddImportCodeFixProvider.GetDescription"
Got the below exception while trying to apply a quick fix to add using. I don't have a concrete repro or a dump as the exception was logged in the activity log.

System.InvalidOperationException: This program location is thought to be unreachable.&#x000D;&#x000A;   at Microsoft.CodeAnalysis.CSharp.CodeFixes.AddImport.CSharpAddImportCodeFixProvider.GetDescription(INamespaceOrTypeSymbol namespaceSym

[2015-03-13 20:23] mavasani commented on #1247
I just noticed that the file where I was applying the quick fix had static usings and after the fix was applied, the new using was added after the static usings, causing a squiggle for newly added using in the file:

using System;
using System.Globalization;
using System.IO;
using Microsoft.CodeAnalysis.CSharp.Test.Utilities;
using Microsoft.CodeAnalysis.Test.Utilities;
using Xunit;

using static

[2015-03-13 20:23] srivatsn commented on #1247
Looking at the [GetDescription method](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/CodeFixes/AddImport/CSharpAddImportCodeFixProvider.cs,6678aef164ef7d2e,references), it looks like we don't know why we would reach this place. @jmarolf, do you have any ideas when this could get hit. Otherwise, I'm not sure if this is actionalble without a repro or a dump.

[2015-03-13 20:24] srivatsn commented on #1247
Ah looks like our comments crossed midstream. using static is likely the missing case.

[2015-03-13 20:29] pharring opened #1248 "PERF: CPU and allocation spike opening a large, generated file."
An internal user sent me a 2MB machine-generated C# file. When opening that file in VS, we see one core at full utilization for several minutes and many GB of allocations (I observed over 3GB of committed memory).

While this is undoubtedly an extreme case, we should use it to look for bottlenecks.

[2015-03-13 20:31] filipw commented on #531
here's the problem illustarted in a screenshot - Roslyn thinks #load is a bogus language construct
![screenshot 2015-02-15 19 07 49](https://cloud.githubusercontent.com/assets/1710369/6646743/491777d2-c9c8-11e4-8b38-cb938b449ef9.png)

[2015-03-13 20:31] mavasani commented on #1247
Yes, and the type I did an add using for was a nested static type, i.e. CommonDiagnosticAnalyzers is actuall a static class, so the above added using should be "using static Microsoft.CodeAnalysis.CommonDiagnosticAnalyzers".

I wasn't able to repro the exception again though, even after restarting VS. The squiggle in the added using always shows up CTRL + DOT + ENTER

[2015-03-13 20:32] pharring commented on #1248
The file is at <internal FS>\public\pharring\DataContractSerializerHelper.g.cs

From an initial look at the trace, the bottleneck is in the semantic tagger.
From allocation analysis, it seems we're generating thousands of binding errors. Perhaps we should cap it at some limit and stop further semantic analysis.

[2015-03-13 20:35] jmarolf commented on #1247
At the very least we should handle this case.  I suspect that the logic which determines if a using already exists does not take static into account.

[2015-03-13 20:43] leppie commented on #1207
@svick Advanced features require advanced users.

[2015-03-13 20:50] tmat commented on #531
We will support #load in the language.

I don't think we want to let the user extend the language via custom directives. Why do you need  directives like #gist, #http as apposed to exposing the same functionality via (top-level) method calls?

What is the semantics of #gist and #thhp?

[2015-03-13 20:59] VladimirReshetnikov opened #1251 "Replacing an explicit declaration with an equivalent compiler-generated should not trigger RS0017"
See, for example, a declaration of an empty protected instance constructor in the class [`Microsoft.CodeAnalysis.Location`](http://source.roslyn.io/#Microsoft.CodeAnalysis/Diagnostic/Location.cs,15):
[code]

This declaration is redundant. If you remove it from source, the compiler generates exactly the same by default. So, it does not affect a shape of public API in any way.

But when I tried to r

[2015-03-13 21:33] VSadov opened #1253 "Compiler crash when using pointers and lambdas"
Compiling the following code with /unsafe causes a crash

[code]

[2015-03-13 21:42] SLaks opened #1254 "Generic delegate construction isn't marked as unnecessary with overloads"
Source:

[code]

The last two lines bind to the same methods, but the delegate construction isn't marked as unnecessary.

[2015-03-13 22:07] brettfo opened #1255 "Roslyn graph provider enables IsUsedBy and Contains everywhere"
Ported from TFS WorkItem: **1133168**

------------------------------

**Repro Steps:**

1. Partners report that every Solution Explorer graph node they create get Contains and IsUsedBy commands enabled.

2. Also in C#/VB leaf nodes such as fields and methods now get "Scope to This" command enabled (which is useless on leaf nodes and is a regression from Dev12).

Looks like Roslyn enables Contains

[2015-03-13 22:07] RichiCoder1 commented on #531
Both `#gist` and `#http` are essentially `#load`, except with the restriction that they have a valid URI for identifying their resource, and the resource is in a valid format such that it can be loaded as a cs(x) file like `#load`. Or at least that's my understanding. `#gist` especially could be odd since it's structured in a very specific way, and could have multiple "files".

How could a top-lev

[2015-03-13 23:05] srivatsn commented on #1251
While removing the constructor is not a breaking change, adding a parameter would be a breaking change. The analyzer simply points out situations which need to thought about to evaluate if it is a breaking change. It's not worth special-casing this case in the analyzer.

[2015-03-13 23:07] gafter commented on #1228
@VladimirReshetnikov The following test program appears to pass today.

[code]

[2015-03-13 23:10] srivatsn commented on #1224
Today unfortunately, there is no way to get the diagnostics that are computed in a file. We have talked about exposing an so that custom presentation of diagnostics can be done in VS though. We'll use this issue to track that feature request.

[2015-03-13 23:13] suprak commented on #1224
@srivatsn Is there some drawback to using `CompilationWithAnalyzers` for what I described above?

[2015-03-13 23:24] srivatsn commented on #1104
Ideally the vsintegrations tests when run locally should run in the same environment as the lab - maybe in a separate hive that doesn't have the roslyn analyzers installed. We should probably just change the script that installs the vsixes for a vsintegration test to install to a hive with a different name thus keeping it clean,.

[2015-03-13 23:27] srivatsn commented on #1101
Until the toolset is updated there is no way to run the analyzers on Roslyn.sln. If we do update the toolset, then a simple build would catch these issues. Am I missing something here?

[2015-03-13 23:27] #1101 closed

[2015-03-13 23:29] srivatsn commented on #1064
Since no one can derive from Diagnostic, the value of sealing seems limited. Won't fixing this issue.

[2015-03-13 23:29] #1064 closed

[2015-03-13 23:31] mavasani commented on #1101
One sanity check could be to build Roslyn.sln and start an instance of VS in RoslynDev hive and open Roslyn.sln in it and verify no analyzer diagnostics show up in error list.

[2015-03-13 23:31] VladimirReshetnikov commented on #1251
@srivatsn I disagree and kindly recommend to reconsider this desicion. I do not only claim that removal of this constructor declaration is not a breaking change, I do claim that it is not a change at all. It does not change anything in the emitted assembly and is equivalent to re-formatting a code. Forcing a user to update any files to successfully build after this serves no useful purpose, and on

[2015-03-13 23:33] srivatsn commented on #1055
This seems to be the same as #931 which is now fixed.

[2015-03-13 23:33] #1055 closed

[2015-03-13 23:34] srivatsn commented on #1034
@tmeschter aren't you in the middle of updating the toolset?

[2015-03-13 23:39] srivatsn commented on #912
We need to understand how analyzers would be loaded in coreclr.

[2015-03-13 23:41] tmat commented on #531
If they are variations of #load or #r they should just be #load and #r. The host is free to interpret the argument of these directives as necessary.
For example,
```#r "Foo.2.5.1.nuget"``` can add metadata references from the specified nuget package.
```#load "https://whatever"``` can download the target file
```#load "gist://RichiCoder1/6a20333202a3003e5d36"``` can download a gist.
etc.

[2015-03-13 23:44] srivatsn commented on #763
We've done some work here to collapse the same items in the list. So if there was a suggestion to import Microsoft.CodeAnalysis - you should only see it once now. The order of the list is based on the priority of the fixes and the proximity of the issue being fixed. Sorting it would make the important fixes like adding a using not show up as the first item and break muscle memory for people who pr

[2015-03-13 23:44] #763 closed

[2015-03-13 23:45] srivatsn commented on #281
Solution wide analyzers are not currently supported. We'll use this issue to track the feature request.

[2015-03-13 23:55] srivatsn commented on #1224
CompilationWithAnalyzers basically reanalyzes the entire project from scratch and wouldn't use any of the diagnostics that that IDE would have computed incrementally.It will also run the Initialize method of the analyzer again and the contract is that Initialize methods of the analyzers should only be called once per session of the host. So it's really meant for commandline scenarios where you wan

[2015-03-13 23:59] suprak commented on #1224
Well the way I was thinking of it, is to develop my Analyzer and VS Extension.
But instead of adding the Analyzer to a project and then having the extension react to diagnostics, I would just run the analyzers using ` CompilationWithAnalyzers ` and get the diagnostics back directly.

That way I utilize the analysis component and use it in within the extension. However what's not clear to me is whe

[2015-03-14 00:06] srivatsn commented on #1224
There will be a perf impact depending on the solution size. This would be similar to if the VS extension did it's own full build by invoking csc for the solution and getting the errors (if the solution was the size of roslyn.sln for example, then there will be a very visible perf impact). The VS IDE does this in a document by document case and does some caching to not run analyzers when it knows t

[2015-03-14 00:12] suprak commented on #1224
I hear you, but unless you've got a better path for me to follow, this is currently the only way for me to prototype what I'm envisioning. So I'll wait while there is some traction on enabling this sort of capability.

Ideally, today if I call one of the various `GetDiagnostics` methods, I would get back ALL diagnostics, including analyzer generated ones.

It would also be good if this kind of per

[2015-03-14 00:22] srivatsn commented on #1224
Agreed. I don't have a better suggestion for you to prototype.

We originally explored having GetDiagnostics return analyzer diagnostics too but from a layering perspective, running analyzers from within the compiler created a lot of complications. CompilationWithAnalyzers has a GetAllDiagnostics method that returns everthing.

Also agree about the doc comment. I'll add some comments to that type.

[2015-03-14 00:25] srivatsn commented on #1251
I don't disagree. I was just saying that it's not an important enough case. I'll reopen the issue and mark it up for grabs. Feel free to submit a PR.

[2015-03-14 00:29] glennblock commented on #531
@tmat that's an interesting idea.

scriptcs however currently does allow custom directives and this is deliberate. It is one of our core extensibility points / allows scriptcs to be more useful for specific scenarios.

[2015-03-14 00:31] glennblock commented on #531
Plugging in custom directives is an opt-in thing. You basically have to install a global module that contains the handler for those directives. Because it is opt-in, we see no harm in supporting it. It allows people to experiment with ideas that could potentially feed into the platform in the future.

[2015-03-14 00:58] filipw commented on #531
absolutely, I don't think a built in `#load ` can cover every conceivable scenario, even when extensible. Just from the top of my head, for example - what if the HTTP call pulling the code requires basic authentication credentials? What if the `#load` requires a custom media type to be requested from the server? What if I want some code to be pulled from a custom DB connection? I know a lot of peo

[2015-03-14 05:05] WolfieWerewolf opened #1261 "Solution Explorer Shim internal dependencies"
Hi Guys,

Just thought I would let you know that AnalyzersCommandHandler.cs has dependencies on the VS SDK that use internal modifiers.  intarnal static bool IsBuiltInRuleSet and it's dependencies.  As far as I can tell the source is not public for the SDK.  All of this needs to either be made public or moved into Roslyn.

 internal static bool IsBuiltInRuleSet(string ruleSetPath, System.IServiceP

[2015-03-14 08:06] filipw commented on #531
ah one more thing - we discussed some time ago  it might be necessary to use comments to indicate custom directives - so stuff like `\\#foo`

This will surely solve the problem here, but ideally if there was some way to support a custom directive it would be the best :smile:

kind of like right now you are able to pass in pre processor symbol names to `CSharpParseOptions`.

[2015-03-14 10:07] filipw opened #1262 "[scriptcs] Compilations options in scripting APIs"
When working with the scripting APIs there is no way to customize the compilation options to be used.

We'd like to be able to set stuff like `OptimizationLevel.Release`, control allowing unsafe etc

[2015-03-14 10:37] filipw opened #1263 "[scriptcs] IsCompleteSubmission for VB"
is there an equivalent of `IsCompleteSubmission` (https://github.com/dotnet/roslyn/blob/b6484300dfafb43af0c27e542ec457a7583e1aa8/src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs#L1735) for VB?

[2015-03-14 12:43] OmerRaviv opened #1264 "Expression Evaluator Feature Request: Fix "The type ___ exists in both foo.dll and bar.dll" error"
When evaluating expressions in the debugger, it is not uncommon to stumble across this error message, where there is a type with the same name in the same namespace within different loaded assemblies. Especially with MEF-powered applications, this tends to happen more and more, and I've seen many developers get very frustrated with it.

As @jaredpar [noted on stackoverflow](http://stackoverflow.co

[2015-03-14 12:45] filipw commented on #907
hi all,

I have added support for Visual Basic using `Microsoft.CodeAnalysis.VisualBasic` and the related packages.
The code is currently in the same repo as CSharp (https://github.com/scriptcs/scriptcs-csharp/tree/master/src/ScriptCs.CSharp) since both engines share most of the traits - we'll need to figure out how we should organize it.

But - this is a reality now :smile:

![screenshot 2015-03-

[2015-03-14 12:46] WolfieWerewolf commented on #1264
That's a great idea.. you should fork the repo and implement it  for us :-)

[2015-03-14 12:57] filipw commented on #907
it's remarkable how easy it was - the csharp and visual basic engines differ by 4 or 5 lines of code only (!) everything else is shared

[2015-03-14 17:18] Pilchie commented on #907
Love it!

[2015-03-14 17:38] KathleenDollard opened #1265 "Template analyzer test are inconsistent multiple occurrences if multiple fixes"
This issue arises in testing code fixes with the default template test infrastructure.

Definitions:
"Multiple occurrences" for a test is a single string that has multiple triggering occurrences.
"Multiple fixes" is a code fix that offers more than one option

If the file is being tested for a single fix (null is passed for the codeFixIndex), then multiple occurrences are applied to the file befor

[2015-03-14 17:38] KathleenDollard opened #1266 "Testing Code Fixes does not allow alternate spacing or other formatting"
When documents are compared after applying code fixes during testing, obviously, every character counts :)

The default of 4 spaces in the workspace used for creating the fixed documents is arbitrary, and results in significant challenges in creating test data when the developers machine uses a different spacing.

I suggest modifying the VerifyCSharpTestFix and VerifyBasicTestFix methods to accept

[2015-03-14 17:51] KathleenDollard opened #1267 "Analyzer and Code Fix testing should allow alternate test failure messages"
There is no current way to alter the message produced by the Analyzer and Code Fix on failure.

Analyzer and Code Fix testing from the templates has a fixed message

This presents a problem for me because I use sample code files and do not know which sample code file failed without a debug breakpoint to evaluate real-time values.

I would like CodeFixVerifier to accept a delegate to create the mes

[2015-03-15 00:24] SLaks opened #1269 "Incomplete Generic Type shows quick fix to add extra namespace"
Source:

[code]

This will show a quick fix to change `Func` to `System.Func`.

This may be related to #81

[2015-03-15 00:34] SLaks opened #1270 "Rename ignores conflicts from invalid nameof() string literals"
(evil corner case issue)

Source:

[code]

Renaming `A` to any name longer than one character should report an unresolvable conflict.

Optionally (this is not necessarily a good idea, and it certainly not worth doing), it can replace the `nameof` with the old name (under the assumption that GUIDs should not change)

[2015-03-15 01:34] AdamSpeight2008 commented on #906
Note: The VM no longer accessible.

[2015-03-15 03:37] gafter commented on #1242
The Roslyn project is not the right place to make BCL requests. You should either suggest this at https://github.com/dotnet/corefx or https://github.com/dotnet/coreclr (or perhaps both).

[2015-03-15 03:37] #1242 closed

[2015-03-15 03:39] gafter commented on #1246
Can you please provide a complete program that illustrates the issue?

[2015-03-15 11:17] AdamSpeight2008 opened #1275 "Master Test Failures"
I tried to build the latest Roslyn Master, but it fails to pass the Unit Tests.
Unfortunately there are too many to post. So I zipped the test results [Here](http://1drv.ms/18O5INA)

[2015-03-15 11:19] filipw commented on #907
I have reorganized the original C# specific repo into this https://github.com/scriptcs/scriptcs-engines/tree/master/src

It now hosts both C# and VB engines.

[2015-03-15 12:14] SLaks opened #1276 "Feature request: Allow null-propagation operator for event accessors"
Why can't I write code like this?

[code]

Error:

This would be especially useful when writing property setters that add and remove event handlers to their values if non-null.

[2015-03-15 14:03] SLaks opened #1277 "Completions in property initializers show instance members"
[code]

Pressing Ctrl+Space on `a` will show `abc`m even though no instance is available.
Field initializers correctly don't show instance members.

Interestingly, it does not show `this`.

[2015-03-15 14:48] Suchiman commented on #1135
Hi, i did report this, thanks for delegating this to the right devision @mariaghiondea-msft

Additional Information:
If the generic type has only one argument, you get the error as described:
![quickwatch_2015-03-15_15-45-18](https://cloud.githubusercontent.com/assets/7110884/6656415/955af75a-cb2a-11e4-9db3-126b0798c53f.png)

If you try it on a generic type with more than one argument it seems to

[2015-03-15 17:10] raphsharp commented on #953
I would go one step beyond generics Attributes : The first need I have with this feature request is syntactic sugar (avoid recurrent `typeof()`), for things like MEF Exports where I need to embed Type metadata about the exported class. Now I need to write something like :

     [ExportViewModel(typeof(MyVM))]

With generics attributes could write

     [ExportViewModel<MyVM>]

Which is shorter, cl

[2015-03-15 18:52] svick commented on #953
@raphsharp I don't understand why would such inference be useful. If you have an attribute that's applied to a type, you can retrieve the type along with the attribute.

[2015-03-15 18:55] paulomorgado commented on #907
[Cscript](https://technet.microsoft.com/library/ff920171.aspx "Cscript") allows an engine to be specified. Is this how **scriptcs** will support multiple engines?

[2015-03-15 19:05] dsaf commented on #953
@raphsharp good suggestion, there is definitely a room for improvement in terms of AOP in C#/.NET #711

@svick the type argument might be useful within the generic attribute itself.

[2015-03-15 19:11] ashmind commented on #953
@raphsharp I think the best option for new suggestions is to create a new issue -- otherwise they can't be accepted/rejected individually. It would also make it easier to discuss -- multiple suggestions in a thread get confusing quickly.

[2015-03-15 19:18] glennblock commented on #907
@paulomorgado we support multiple engines now. Engines are registered as part of a module. Modules can either load automatically based on extension, OR they can load explicitly by passing the module name as a parameter.

For example, FSharp module loads automatically if you have it installed and have an `fsx` extension.

[2015-03-15 19:37] glennblock commented on #907
Actually we also support modules which will load all the time no matter what, but I am just saying that for completeness. It doesn't affect this thread.

[2015-03-15 21:53] BillWagner commented on #1226
I really like this suggestion.

@ashmind Here are a couple examples of where it could be used:

1. Tools that auto generate methods (think TDD) could write:

[code]

If your type implements IDisposable, properties might be written as follows:

[code]

[2015-03-15 22:10] DavesApps commented on #347
There has actually been a request for multiple return values for some time.  I'm not a big fan of tuples but rather built in syntax for supporting multiple return values.   Take a look at his conversation line for more ideas folks have had: http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/2083753-return-multiple-values-from-functions-effortlessly

[2015-03-15 23:12] paulomorgado commented on #1226
This mean that this `Never` type would have to be implicitly convertible to any type, right?

[2015-03-16 01:32] tmat opened #1278 "C# EnC: Changes in expression bodied indexer not analyzed correctly"
See test Lambdas_Update_CeaseCapture_IndexerParameter1.

[2015-03-16 01:33] SLaks opened #1279 "Add Using Quick Fix doesn't appear in <see cref="">"
Typenames in `<see cref="">` in XML comments do not trigger Add Using or Qualify Name quick fixes

[2015-03-16 01:36] SLaks opened #1280 "Interpolated String literals don't show typename quick info"
Normal & verbatim string literals show quick info for `System.String`.

Interpolated string literals don't show any quick info.

[2015-03-16 03:45] tmat opened #1281 "VS crash: KeyNotFoundException from Microsoft.CodeAnalysis.Completion.Providers.AbstractSymbolCompletionProvider.GetOrCreateContext"
Crash dump:

%internal_share%\tomat\Bugs\1281

Stack trace

[code]

[2015-03-16 03:45] KalitaAlexey commented on #850
I think instead of
```MyProperty@myField```
must be used ```MyProperty```, but the compiler must ensures no setter method will be called. Just assignment to a field. Like in Swift. Because using of setter in constructor may lead to unexpected side effects

[2015-03-16 04:05] shyamnamboodiripad opened #1282 "Diagnostics roundtripped via DiagnosticData have incorrect Diagnostic.Descriptor.MessageFormat"
Looks like we aren't round-triping MessageFormat in the descriptor correctly through DiagnosticData.

I noticed that clicking on the diagnostic id link in preview pane header sends complete diagnostic text (including names of types etc.) to bing. On debugging this seems to be the result of a bug in DiagnosticData implementation (we are not preserving message format when we call Diagnostic.Create w

[2015-03-16 04:10] jaredpar commented on #1261
Thanks for reporting this.  Unfortunately this is a known issue.  This, and the reason for the split between Roslyn.sln and RoslynLight.sln is covered in the [FAQ|https://github.com/dotnet/roslyn/wiki/FAQ#why-are-there-two-solution-files].

In this particular case it is a new API that is just not available yet in the VS SDK that comes with CTP6.

Note: This is not a state that we are content with,

[2015-03-16 04:10] #1261 closed

[2015-03-16 04:16] WolfieWerewolf commented on #1261
Jared,

Thanks for that, in honesty reporting the bug was my cheeky way of making the missing source code public, as I included it in the ticket…  These things are going to happen, Roslyn is a moving target.  With enough persistence it compiles and runs as well as you could expect.

/W

[2015-03-16 04:24] jaredpar commented on #1275
Thank you for reporting the issue.  In the future could you please include a bit more information about the problem.  For example:

- What build of Visual Studio are you running?
- What command did you execute that resulted in failures?
- If the number of failures is too large, perhaps a general description or list of DLLs that had failures, etc ...

Having this information makes it much easier to

[2015-03-16 04:26] gafter commented on #1280
I'm not sure exactly what you mean. Are you saying that after typing `$"...".` you don't get a popup with the members of `string`?

[2015-03-16 04:29] gafter commented on #1226
@paulomorgado Right. But the conversion does not generate any code.

[2015-03-16 06:51] qrli commented on #1207
I agree with paulomorgado. Tuple should not have member names, to be consistent with other popular languages like F#, Python. In case where names are needed, you don't really need a tuple, but something like record class.

With names, e.g. (name: "joe", age: 20), it would be more of a dictionary, thus people may expect features for dictionaries, e.g.
* foreach (KeyValuePair kv in someTuple)
* JSON

[2015-03-16 08:19] mavasani opened #1285 "Constructors of all analysis context structs in DiagnosticAnalysisContext should be made internal"
For example, see http://source.roslyn.io/Microsoft.CodeAnalysis/R/b6140b39b0759dd4.html

These constructors were public as they needed to be consumed explicitly by the IDE driver. Given the current implementation and future plans of merging both drivers, we can safely internalize these APIs. @JohnHamby can probably confirm this and do it as part of his prototype work?

[2015-03-16 08:22] mavasani commented on #1285
Actually, I would need to modify these constructors as part of #252 so I'll take this up myself.

[2015-03-16 09:07] mavasani commented on #1285
And I am going to hand this back to John, as I figured out we can't make this change until the drivers are merged. Even though the constructors of these context types are accessed only from within the shared AnalyzerDriver project, when the shared project is compiled into Features.csproj it needs public access to it.

[2015-03-16 10:29] matlus commented on #1226
I think there are two different requirements here.
1. A method that that never returns
2. The ability to use the following syntax

[code]

currently we need to write code like so:
[code]
For the "never" case. Could we have a method decorated with [Throws] instead of "Never".
[Marking a method as one that throws Exceptions](http://roslyn.codeplex.com/discussions/586357)

[2015-03-16 10:44] AdamSpeight2008 commented on #1281
Is this related to #1006 ?

[2015-03-16 10:48] AdamSpeight2008 commented on #1275
VS2015ctp6
Command ` msbuild /v:m /m /p:CIBuild=True BuildAndTest.proj`

[2015-03-16 12:55] SLaks commented on #1280
No; I mean that the `$"..."` token has no tooltip, unlike `"..."`, which does.

The tooltip doesn't add that much value, but the inconsistency is jarring.

[2015-03-16 13:14] SLaks opened #1287 "Local variable after parameter suppresses completions"
Source:

[code]

(a practical example of this is while typing a constructor before a field declaration)

The `a` parameter does not appear in IntelliSense in the constructor body (where I put the stray `a` token), because of the subsequent local variable.

This is a violation of the principle that text to the right of the caret should not affect IntelliSense, and is particularly annoying when simp

[2015-03-16 13:35] MikePopoloski commented on #1207
Using System.Tuple<> makes the feature unusable for many applications that care about performance. In order to freely take advantage of language-level tuple support, it needs to essentially be free from a performance perspective. I want a method returning a tuple to perform the same as if I'd passed a bunch of out parameters. Having every method call involving a tuple perform a heap allocation wou

[2015-03-16 13:40] paulomorgado commented on #1207
Tehicaly it ouldn't be that hard to load multiple values in the evaluation stack and have them deconstructed on the call site.

The compiler could avoid instantiating the tuple if it was never used as a whole.

But that wouldn't be CLS Compliant.

[2015-03-16 14:13] codespare opened #1288 "Duplicate nuget.exe with 2 versions"
Totally minor, but there is a nuget.exe 2.8.0 under /src and another 2.8.2 under /src/Samples in master.

[2015-03-16 15:27] HaloFour commented on #1207
Tuples (optionally) having names isn't without precedent, and I don't think that the comparison with anonymous types is unfair.  Anonymous types are tuples, and proposal #1141 even aims to implement `IReadOnlyDictionary<string, object>` on them.

While `Tuple<>` and its kin do already exist I have to agree that the implementation makes it less than ideal for a language feature, especially due to a

[2015-03-16 16:25] #760 closed

[2015-03-16 16:37] SteveLasker opened #1289 "Add Analyzer shouldn't be intermixed with other Runtime Reference menu items"
When clicking on the Reference Node, the Add Analyzer... menu comes up.
From my understanding, Analyzer is a debugging, development concept, that received feedback it should be in the references folder, vs. a special folder.
However, it's currently intermixed with other Runtime scenarios, like binary, project references and the older Service References, and newer Connected Services menu items.
![a

[2015-03-16 16:40] tmat opened #1290 "VB SemanticModel.GetEnclosingSymbol doesn't work correctly with lambda parameters/headers"
Consider code

[code]

SemanticModel.GetEnclosingSymbol(span start of ParameterSyntax "a1" )
returns Sub F. It should return the declaring lambda (C# does).

[2015-03-16 16:43] tmat opened #1291 "C# data flow analysis incorrectly reports range variable of the from clause as captured"
Given the following method body:
[code]

```model.AnalyzeDataFlow(memberBody).Captured```

returns 4 variables:
[code]
However, the range variable a is not lifted to closure in this case. It’s translated to parameters of the selector lambdas.

Equivalent code in VB
[code]
Only reports x and y as captured.

Seems like C# got it wrong.

[2015-03-16 16:46] tmat opened #1292 "EnC: VB anonymous type reconstruction from metadata ignores "key-ness""
There seems to be a problem in EnC impl of anonymous types in VB – in AssignTemplatesNamesAndCompile we never set the “key” flag of the field:

```AnonymousTypeDescriptor.ComputeKey(key.Names, Function(f) f, Function(f) False)```

Which then results in clashes – type (a, b) collides with (Key a, Key b), for example. My guess is we need to reconstruct the fact that a field is a “key” from metadata.

[2015-03-16 16:46] mburbea commented on #1207
I'd prefer it be a struct type but I agree entirely with pualomorgado.
It seems odd to me as you normally do not declare the name of fields when you write the return parameter. e.g.

[code]
Is a syntax error. I'd prefer it either be `(int, int)` or `Tuple<int,int>`. However, the main point should be to provide language level understanding in the form of deconstructing, local aliasing, and simplifi

[2015-03-16 16:46] tmat commented on #1292
/cc @cston

[2015-03-16 16:46] Pilchie opened #1293 "Completion not triggered on . in With after numeric literal"
[code]

Completion should be triggered at $$, but isn't.

[2015-03-16 16:48] mburbea commented on #1141
My biggest concern with this feature is that how do you interact with old code that was compiled before this feature. That's why I was suggesting perhaps a different notation like `new ${}`. That way its not backward incompatible as they are technically different types.

[2015-03-16 16:54] tmat commented on #1290
SemanticModel.GetEnclosingSymbol(span start of LambdaHeaderSyntax "Function(a1,a2)" ) also doesn't return the lambda.

[2015-03-16 16:54] HaloFour commented on #1207
If tuples are limited to being unnamed only does the assembly boundary even matter?  A public API like that would be just awful and I think should be discouraged strongly, to the point of the language not permitting it.

If I saw the following signature in an assembly it would make me immediately reconsider using it:

[code]

For many of the examples posted on this thread I think that names are im

[2015-03-16 16:55] tmat commented on #1290
Please consider this P1 - this is blocking lambda EnC for RC.

[2015-03-16 16:56] mburbea commented on #1207
Perhaps a name could appear but would not be compiled to il?
On Mar 16, 2015 12:54 PM, "HaloFour" <notifications@github.com> wrote:

[2015-03-16 17:04] HaloFour commented on #1207
@mburbea

That doesn't solve the problem of the *public* surface of that API being awful.  Encoding it as metadata in the form of attributes on the method is maybe a little better but requires that all consuming languages be supportive:

[code]

That still doesn't seem to solve a lot of the issues with the use-cases, and you still get the performance penalty.  Honestly, tuples being limited to jus

[2015-03-16 17:10] mburbea commented on #1207
What performance issue? Is it because it is a class type as opposed to a struct?

[2015-03-16 17:13] WolfieWerewolf commented on #1207
Couldn’t the Tuple be re-written as a value type?

[2015-03-16 17:16] HaloFour commented on #1207
@mburbea Yep, `Tuple<>` and it's family are classes.

@WolfieWerewolf  Currently `Tuple<T1,T2>` inherits from `Tuple<T1>` and `Tuple<T1, T2, T3>` inherits from `Tuple<T1, T2>`, etc., so no.

[2015-03-16 17:33] paulomorgado commented on #1207
@HaloFour, where have you seen that "currently `Tuple<T1,T2>` inherits from `Tuple<T1>` and `Tuple<T1, T2, T3>` inherits from `Tuple<T1, T2>`, etc." ?

[2015-03-16 17:34] Miista commented on #1207
@HaloFour I don't know of any language that supports tuples where the tuples end up in a public api.

[2015-03-16 17:36] WolfieWerewolf commented on #1207
Is that a reason not to do it?

[2015-03-16 17:38] VSadov commented on #1253
Copied from TFS:1136907

[2015-03-16 17:38] HaloFour commented on #1207
@paulomorgado Ah crap, you're right.  I was thinking of another lib I had worked with recently where tuple types did inherit like that.

[2015-03-16 17:47] Miista commented on #1207
@WolfieWerewolf is that a reason not to implement tuples or? I'm not sure what you're asking. I believe that it's up to the individual developer his he wants to design his api. If he wants to return tuples all the way that's his decision. Of course we should try to discourage "wrong" use of a language feature but we must also recognize that almost any feature can be misused to some extent.

[2015-03-16 17:52] #1177 closed

[2015-03-16 18:44] tmat opened #1294 "Unloading project takes very long time (minutes)"

[2015-03-16 18:45] tmat commented on #1294
ETL trace: %internal_share%\public\tomat\Bugs\1294

[2015-03-16 18:52] latkin commented on #1222
Found an old UserVoice here http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/3273933-enable-line-numbers-by-default, if anyone cares to vote.

[2015-03-16 19:30] gafter commented on #1246
As described above, there should be no null reference exception in your code, and that is by design. You have not provided a test case that demonstrates an exception at runtime.

If I have misunderstood your issue, or you believe this resolution is not appropriate, please reopen this issue.

[2015-03-16 19:30] #1246 closed

[2015-03-16 19:33] JohnHamby commented on #1285
At one point in time, the design team wanted these constructors to be public to make it easier for analyzer authors to write tests. I've never been entirely comfortable with them being public.

[2015-03-16 19:56] mavasani commented on #1285
To me it seems that the right approach is to expose APIs to enable public implementations of the analyzer driver. Exposing just the barebone context object constructors might be good for tests, but that doesn't justify making an API public, especially given that one cannot write a full fledged and performant analyzer driver on top of it. Add to it all the exception handling hooks that need to be i

[2015-03-16 19:57] srivatsn commented on #548
Tagging @dsplaisted who created the TFS bug.

[2015-03-16 20:00] #1157 closed

[2015-03-16 20:03] VSadov opened #1297 "Crash in method separators when opening UnboundLambda.cs"
It appears that opening UnboundLambda.cs in the Roslyn solution crashes VS.
Disabling method separator lines makes the crash disappear.

I think the reason is NRE with stack like the following -

======================================

System.NullReferenceException occurred
  HResult=-2147467261
  Message=Object reference not set to an instance of an object.
  Source=Microsoft.CodeAnalysis.CSharp.

[2015-03-16 20:14] srivatsn commented on #1285
I think testability of an API is a very important aspect of it. Yes one would need to do a lot of work to write their own driver and yes we should expose APIs to make that easier but I see that as an orthogonal problem. These context objects are basically glorified tuples - they contain hardly any functionality and I don't think we are protecting any surface area by making them hard to construct.

[2015-03-16 20:27] Pilchie opened #1298 "Auto properties with initializers shouldn't force a newline before the open brace"
Paste

[code]

Formats poorly.

[2015-03-16 20:34] gafter commented on #1290
It is a bit scary that I find only about three tests for this API.

[2015-03-16 20:40] mavasani commented on #1285
I do see a couple of negatives here:

1. What the tests require is a more fine grained test-only analyzer driver or rather executor, which can be asked to run a set of actions on a given code unit (symbol/node/compilation etc.). Essentially the methods provided by the currently internal AnalyzerExecutor. By providing them just the bare bone context object constructors and asking them to do all the

[2015-03-16 20:50] tmat commented on #1290
Yeah. BTW, I will need it to work for query lambdas as well. I don't have the EnC test cases yet, working on them.

[2015-03-16 20:50] AlekseyTs commented on #650
Completed, see https://github.com/dotnet/corefx/pull/1133

[2015-03-16 20:51] #650 closed

[2015-03-16 20:53] AlekseyTs commented on #649
Completed, see https://github.com/dotnet/corefx/pull/1131.

[2015-03-16 20:53] #649 closed

[2015-03-16 20:55] AlekseyTs commented on #647
Completed, see https://github.com/dotnet/corefx/pull/1128.

[2015-03-16 20:55] #647 closed

[2015-03-16 21:00] Pilchie commented on #1294
Can you take a look and see if this is related to recent work?

[2015-03-16 21:00] mavasani commented on #1285
Btw, I don't see this issue as being critical or blocking for anything in particular. I am totally fine with won't fixing this for now and taking a second look at these APIs when we make the AnalyzerDriver API public in the future. We may want to double check if we really need these to be public at that point.

[2015-03-16 21:02] Pilchie commented on #1281
@AdamSpeight2008 doesn't look related to me.

[2015-03-16 21:03] #1228 closed

[2015-03-16 21:07] Pilchie commented on #1270
I don't think it's worth addressing this corner case.

[2015-03-16 21:07] #1270 closed

[2015-03-16 21:12] #1275 closed

[2015-03-16 21:17] Pilchie commented on #1240
This appears to be the same issue as https://connect.microsoft.com/VisualStudio/feedback/details/950651/incorrect-changed-formatting-of-spaces-tabs-for-the-next-code-row-after-pasting-coding.  Given that that report is older, let's continue to use that for tracking.

[2015-03-16 21:20] gafter opened #1300 "EE unit test EvaluateInitializerExpression fails due to nondeterministic module name"
I have disabled EE test EvaluateInitializerExpression as the generated module contains the module name, which the test does not set. The test therefore fails today.

[2015-03-16 21:23] SLaks commented on #1270
No argument there :)

[2015-03-16 21:25] SLaks commented on #1240
I don't have access to that URL.

[2015-03-16 21:30] Pilchie commented on #1240
Okay, then we can track it twice, it's not the end of the world :smile:

[2015-03-16 21:49] MadsTorgersen opened #1303 "C# Design Notes for Mar 4, 2015"
C# Design Meeting Notes for Mar 4, 2015
========================================

The design notes can be found at https://github.com/dotnet/roslyn/blob/master/docs/designNotes/2015-03-04%20C%23%20Design%20Meeting.md

Discussion on these design notes are in this issue.

[2015-03-16 21:59] ashmind commented on #1141
Since anonymous types are mostly created in the user code to be passed into frameworks (as in examples I provided) and not other way around, it doesn't feel like a huge problem.

If you need to support old code passing untyped anonymous objects into your framework, you can do that -- and you will still be able to gain a performance benefit if you test-cast to dictionary first.

However, depending

[2015-03-16 22:35] tmat opened #1306 "C# EnC: investigate and handle select clauses that don't produce lambdas"

[2015-03-16 22:36] tmat commented on #1306
"See section 7.16.2. The translation is defined recursively. See, for example, see 7.16.2.5 for a case that generates no lambda, and note the exception given in 7.16.2.3. There are a number of special cases and the effects may be subtle due to the recursive interactions of the rules."

[2015-03-16 22:40] gafter commented on #1306
See also the translation for the `join` clause, which may produce up to three lambdas.

The `orderby` clause may produce any number of lambdas.

The `groupby` clause has a special case that causes a lambda to be omitted.

[2015-03-16 22:44] tmat commented on #1306
Re ```orderby``` clause - yes, this is accounted for. Each lambda is represented by OrderingClause not OrderBy clause itself.

[2015-03-16 22:47] #1003 closed

[2015-03-16 22:48] Bartmax commented on #1246
**TL;DR**
Roslyn does work as expected. My bad thinking it was a compiler error.
I'm providing details of what I were facing for completeness.

When trying to reproduce the problem (in a simple scenario). You said, that should **not** throw at run-time (and it doesn't) but was exactly what were happening, so further investigation needed :

I was working with Open XML SDK and some code looks like t

[2015-03-16 22:54] tmat commented on #1306
Re ```join``` - also got this right, I think. There is a lambda body for left expression, lambda body for right expression and pair lambda for creating the pair. An Into clause also produces a "pair" lambda.

[2015-03-16 23:05] gafter commented on #1207
@danfma We are leaning toward a solution that does unify across assembly boundaries.

[2015-03-16 23:14] dotnet-bot opened #1309 "ArgumentException when loading a project with duplicate source files"
Ported from TFS WorkItem: **899254**

------------------------------

**Repro Steps:**

1. EditorTestApp

2. Open the attached solution

3. Observe the exceptions

------------------------------

**Revisions:**

1) Created By Pat Gavlin (3/6/2014 12:45:17 PM)

This is blocking Midori when using CPS for MidBuild project support. Some files include the same .cs file in different build steps; when th

[2015-03-16 23:19] basoundr commented on #1309
Made some initial investigation. The class `MiscellaneousTodoListTable` and `MiscellaneousDiagnosticListTable` calls the method `AddTableSource();` in their constructor body. The exception happens in this method call because this `AddTableSource();`is already called by the base (2 levels deep) constructor and this method adds a key, value pair. hence the exception.

[2015-03-16 23:21] basoundr commented on #1309
Including @KirillOsenkov @Pilchie and I couldn't find Pat Galvin's handle. If someone knows, please add him. I will in the mean while send him a mail

[2015-03-16 23:22] gafter commented on #1306
"A query expression with a `join` clause without an `into` followed by something other than a `select` clause" also produces a "pair" lambda.

[2015-03-16 23:33] gafter commented on #1290
I don't think the query lambdas will work, as there is no "enclosing symbol" in the program other than the enclosing method.

[2015-03-16 23:38] gafter commented on #1226
@matlus No, we do not use attributes to change the way the language type system works. Also, "Throws" would be a misnomer as throwing an exception is only one of the ways that a piece of code can fail to return to its caller.

[2015-03-16 23:41] tmat commented on #1306
There is one thing that I need to double check - if a clause produces multiple pair lambdas that it might confuse the reverse mapping. We can either associate each pair lambda with a different (part of) clause if possible or we can just name them differently, so that the reverse mapping completely ignores these lambdas.  If the reverse mapping doesn't find a an existing lambda in previous generati

[2015-03-16 23:43] tmat commented on #1290
The bound query lambda isn't available?

[2015-03-16 23:44] tmat commented on #1290
I'll double check if I really need them.

[2015-03-16 23:49] tmat commented on #1290
I need to validate that the signatures of the bound query lambdas didn't change. I guess I could validate if all expressions in all clauses of the query have the same type and all AsClauses changed. But that's work that I'd like to avoid if possible.

[2015-03-16 23:49] vladd commented on #1207
@Miista About returning tuples, it's [quite common in Python](http://stackoverflow.com/q/61605/276994).

[2015-03-16 23:52] gafter commented on #1228
@VladimirReshetnikov Anonymous types already contain the module name in the generated class name.

[2015-03-17 00:06] gafter opened #1310 "non-localized text in CommandLineParser"
The following snippets of code from CommandLineParser show places where we have text that needs to be localized.

[code]

[code]

[code]

There are, in total, about 12 places where this problem occurs in that source file.

[2015-03-17 00:08] gafter commented on #1290
These are not lambda expressions in the source, and are not modeled as lambda expressions in the semantic model.

[2015-03-17 00:09] tmat commented on #1290
OK. I'll special case them then.

[2015-03-17 00:34] tmat opened #1312 "VB DataFlowAnalysis.Captured doesn't include range variables captured by a lambda in a query clause"
Consider the following code:
[code]

The set of captured variables for the body of method F() doesn't include "a" and "b".
In C# these variables are reported as captured.

[2015-03-17 00:41] amcasey commented on #702
Phase 1 is essentially complete.  VB hoisted local scopes are too different from C# and the new format to be worth folding into the abstraction, especially since they are naturally consumed as locals.  What remains, however, is code to consume MethodDebugInfo hoisted local scopes in VB.  However, I don't think it makes sense to write this code before it is testable.

[2015-03-17 00:43] KirillOsenkov commented on #1309
@pgavlin

[2015-03-17 01:18] eatdrinksleepcode commented on #1207
The argument for tuple parts needing names because of unintuitive method return values is interesting. We don't currently have any way of specifying a name for the return value of a method, and there are certainly plenty of ways to return an unintuitive value from a method. Such cases would be considered a code smell, the proper remediation of which would be to rename the method such that the retu

[2015-03-17 01:41] #1292 closed

[2015-03-17 01:49] tmat commented on #1214
I'll add the attribute.

[2015-03-17 01:51] tmat opened #1315 "VB EnC: report an error if the type of an expression of a query clause changes"

[2015-03-17 01:54] MgSam commented on #1207
I agree with the comments saying its weird that return types would be named for tuples but are not named in the case of a single return value. However, I don't think the solution to this is to make tuples *less useful* by not having names. I think the natural solution would be allowing all return values to be named- it would both lead to more self-documenting code and provide parity with the speci

[2015-03-17 02:05] tmat opened #1316 "Query EnC: check that we don't produce multiple non-user-code lambdas for a single clause"
There is one thing that I need to double check - if a clause produces multiple pair lambdas that it might confuse the reverse mapping. We can either associate each pair lambda with a different (part of) clause if possible or we can just name them differently, so that the reverse mapping completely ignores these lambdas. If the reverse mapping doesn't find a an existing lambda in previous generatio

[2015-03-17 02:07] tmat opened #1317 "VB EnC: verify we report rude edits for all currently unsupported features"
Static locals, unstructured error handling.

[2015-03-17 02:48] ashmind commented on #1207
But that doesn't change with named tuples.

E.g. what you had previously:
[code]

What you have with tuples:
[code]

Total amount of names is exactly the same aside from the type name.

[2015-03-17 02:57] alexsorokoletov commented on #1108
Just ran the tests on a clean master roslyn repo and it failed with exactly the same error. How can I fix that or what information should I provide?

[2015-03-17 03:00] gafter opened #1319 "Anonymous types in VB do not include the module name, so cannot be combined into netmodules"
See C# test `MultipleNetmodulesWithAnonymousTypes`

A similar test for VB will likely reveal a problem that needs to be fixed.

[2015-03-17 03:06] gafter commented on #1290
@tmat This may be different between VB and C# due to differences between the languages.

[2015-03-17 03:08] gafter commented on #1108
Reopening for @alexsorokoletov who reports this problem still occurs.

[2015-03-17 03:26] alexsorokoletov commented on #981
@KirillOsenkov I'm able to fix that issue, however, I am unable to test it. When I debug RoslynLight.sln/Roslyn.sln, debugged instance of VS 2015 is loading Microsoft.CodeAnalysis.CSharp.EditorFeatures.dll from C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\PrivateAssemblies thus ignoring freshly compiled DLL.

Any advice how to test the code or debug it is greatly appreciated.

[2015-03-17 03:34] KirillOsenkov commented on #981
Adding @rchande @dpoeschl

[2015-03-17 03:55] dpoeschl commented on #981
Discussed this with @alexsorokoletov on gitter. Unfortunately, there's no supported way to see changes at this layer reflected in VS. This is discussed in more detail in #1041.

[2015-03-17 04:07] MgSam commented on #1303
So if you guys aren't adding `InternalImplementationOnly`, what is your plan for the Roslyn interfaces that you don't want people to implement? Perhaps marking them as Obsolete might work, as this will always generate a compiler warning (even though they're not actually obsolete).

[2015-03-17 04:28] rchande commented on #1281
Can you verify, @tmat ?

[2015-03-17 04:28] #1281 closed

[2015-03-17 04:31] rchande commented on #981
@alexsorokoletov You can always submit a PR for us try out :smile:

[2015-03-17 04:33] alexsorokoletov commented on #981
I just don't want to waste your time. If you have time, you would fix this issue. Isn't that the idea behind up and grab. Btw, I was able to test my changes using Live Tree/Live Property features from CTP 6. All my changes are in XAML.

[2015-03-17 04:38] KirillOsenkov commented on #981
On the contrary, you can save us time by submitting a PR. Thanks!

[2015-03-17 04:40] alexsorokoletov commented on #981
Here is a pull request https://github.com/dotnet/roslyn/pull/1320

[2015-03-17 04:47] AlekseyTs commented on #821
It looks like 82 tests are failing at the moment.

[2015-03-17 05:31] tmat commented on #1281
@rchande Don't have a reliable repro. Will install new build tomorrow.

[2015-03-17 06:56] shyamnamboodiripad opened #1322 "Unused usings feature does not deal with trivia correctly"
Unused usings diagnostic analyzer greys out contiguous unused usings. However, it only greys out trivia that is _between_ the first and last unused usings - it does  not grey out trivia present _on_ the first or last unused using (notice how the last comment below is not greyed out)
![1](https://cloud.githubusercontent.com/assets/10579684/6682355/d5a54184-cc34-11e4-92f1-250008053a5f.PNG)

The code

[2015-03-17 07:04] shyamnamboodiripad opened #1323 "Incorrect behavior around directives for unused usings code fix when file only contains usings"
The unused usings code analyzer and code fix are usually careful not to grey out / delete any directives surrounding unused usings.
![3](https://cloud.githubusercontent.com/assets/10579684/6682619/a0c777bc-cc38-11e4-84bd-48babc6de83b.png)
![4](https://cloud.githubusercontent.com/assets/10579684/6682620/a2d56910-cc38-11e4-9387-7bb8560197ce.png)

However, if the file doesn't contain a top level name

[2015-03-17 07:14] qrli commented on #1207
For the `public API returning tuple` use case:
* First, as soon as we have record class, the return record can be declared as easy as
`record SomeResult(bool Success, int Value)`
Then named tuple will not have a big advantage here, or it could be worse by repeating the named tuple declarations.

* Second, for public API, you will have more concerns, such as versioning. For a struct (and assume rec

[2015-03-17 07:18] Miista commented on #1207
My thoughts too.

______________
Søren Palmund

[2015-03-17 07:39] Miista commented on #1303
About the whole "what is the default value of a non-nullable reference type". Maybe say that only types that provide a default no-arg constructor can be used as non-nullable reference types. That would get around the problem of default value (if the no-arg constructor initialized the object correct).

I know that this can make it confusing to know whether a reference type is in fact non-nullable b

[2015-03-17 09:01] #252 closed

[2015-03-17 09:43] SolalPirelli commented on #1303
I think you mixed up `n` and `s` in part of the nullable/non-nullable code example; shouldn't it be like this?

[code]

[2015-03-17 09:57] GeirGrusom commented on #1303
@Miista what does that solve? The only sane thing would be to require that all non-nullable fields are assigned in every constructor. If you have a non-nullable field the compiler cannot generate a default constructor, and it shouldn't. It has to require that the type has at least one defined constructor. If it is parameterless or not doesn't matter.

In my opinion these should be the rulse:
* `de

[2015-03-17 11:51] HaloFour commented on #1207
@qrli

1. You're correct that the short-hand for a "record" class does eliminate much of the usefulness of named tuples, but "record" classes and tuples are the same in that they're both nothing more than shorthand over the existing type system.

1.  This is no different than changing the return type of any method.  And you can't overload on the return type in C#.  But if tuples were simply shorth

[2015-03-17 12:14] Miista commented on #1303
@GeirGrusom

I agree about the requirement for at least one defined constructor (which also initializes all non-nullable fields). However if it's not parameterless what is the result of `default(T)`?

Unless there is some requirement that non-nullable types declare a constructor that initializes all non-nullable fields.

I think this would be okay since the contract for `MyGeneric<T>` only require

[2015-03-17 12:31] GeirGrusom commented on #1303
@Miista

Generics that has a class constraint can return null, which will fail in run-time at assignment, but they can also return `default(T)` which will return a non-nullable containing a `null` value which will end up in a null dereference when the value is used.

[code]

[2015-03-17 13:06] qrli commented on #1207
@HaloFour : I don't think it is easy to make named tuples as simple syntax sugar over normal struct/class. `tuple` implies some specific behavior on them, such as member order, which is important when unpacking:
` (var success, var value) = GetSomeResult(); `
It is not so easy/intuitive to write a normal struct/class to replace it in a fully compatible way.

But I fully agree with you that the syn

[2015-03-17 13:38] HaloFour commented on #1207
@qrli

They're going to be syntax sugar over struct/class either way simply because those are the only types possible in the CLR.  It's not like you can push two values onto the evaluation stack and then pop them at the caller.  The CLR doesn't allow that.  The question is whether they use `Tuple<>` or another shared general-purpose type or if the compiler generates its own types.

When dealing wi

[2015-03-17 15:40] Miista commented on #1303
Since the constraint is `where T : class` and not `where T : class!` the expression `string! f = ReturnDefault<string!>();` should be `string f = ReturnDefault<strong!>();`

You can assign a non-nullable reference to a nullable reference but the reverse is not possible. The same is true here. The non-nullable reference satisfies the generic constraint however the constraint only promises that any

[2015-03-17 15:56] Miista commented on #1303
@GeirGrusom

I don't agree with this.

It isn't immediately visible that non-nullable types are also acceptable. What this says when I read it is that no nullable reference types can be used.

[2015-03-17 16:33] alexsorokoletov commented on #686
Should be somewhere around http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Features/Completion/CompletionProviders/EnumAndCompletionListTagCompletionProvider.cs,1fbbb3952a4ed35c (thanks to @Pilchie)

[2015-03-17 16:33] alexsorokoletov commented on #546
@Pilchie

[2015-03-17 16:33] alexsorokoletov commented on #940
@Pilchie

[2015-03-17 16:34] alexsorokoletov commented on #547
@Pilchie

[2015-03-17 16:35] alexsorokoletov commented on #548
@Pilchie

[2015-03-17 16:39] HaloFour commented on #1303
"The perfect is the enemy of the good" is absolutely right.

Generics seem like a can of worms with non-nullability, especially with any existing generic type.  The runtime simply could not enforce that `List<string!>` doesn't contain a `null` string, especially since that instance could be passed anywhere.

For your own generic types how would `T!` be emitted or enforced?  You'd probably need a m

[2015-03-17 16:48] jmarolf commented on #1247
Fixed with pull request #1302

[2015-03-17 16:50] #1247 closed

[2015-03-17 16:51] #1193 closed

[2015-03-17 17:06] MgSam commented on #1303
I think the team should have a wait-and-see attitude with respect to non-nullability in the language because its such a difficult problem. The `?.` as part of C# 6 hasn't even reached RTM yet. I think that as usage of it becomes more common, the amount of `NullReferenceException`s you'll see in practice will decrease, and so too will the demand for this feature.

(Not that I don't think non-nullab

[2015-03-17 17:35] amcasey opened #1325 "Should UnusedDeclarationsAnalyzer be on be default?"
I'm seeing unused code being grayed out while editing Roslyn.sln in my main hive.  Is that expected?  @srivatsn tells me that the analyzer is currently just a proof-of-concept.

[2015-03-17 17:36] amcasey opened #1326 "UnusedDeclarationsAnalyzer is graying out an in-use method"
Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.EvaluationContext has a private constructor that is called from two public factory methods (in the same file).  Nevertheless, it has been grayed out and the lightbulb is offering to remove it.

[2015-03-17 17:38] gafter commented on #1303
@MgSam We will have an analyzer that goes with the Roslyn nuget packages that checks for clients attempting to extend or implement `ISymbol`. If you create a project that references the Roslyn types then you'll automatically get the analyzers run on your code.

[2015-03-17 18:30] gafter commented on #1290
@tmat Shouldn't SemanticModel.GetEnclosingSymbol(span start of ParameterSyntax "a1" ) return the parameter symbol, since that is the symbol it is part of the declaration of?

[2015-03-17 18:32] #1300 closed

[2015-03-17 18:41] #1214 closed

[2015-03-17 18:42] tmat commented on #1290
That would make sense as well.

[2015-03-17 18:56] CnSimonChan opened #1334 "C#: await in one catch causes following catches cannot re-throw exceptions"
I'm using Visual Studio 2015 Preview, I have some code like the following one:

[code]

Obviously, this method should throw an `ArgumentOutOfRangeException`, **BUT** it will throw a `NullReferenceException` instead, no matter what exception is passed into `catch (Exception)`.

[2015-03-17 18:57] #1297 closed

[2015-03-17 19:13] Pilchie opened #1335 "Code Generator doesn't handle expression bodied properties and indexers"
`BasePropertyDeclarationSyntax` can now be null if the property or indexer is expression bodied, but the SyntaxGenerator doesn't take this into account.

[2015-03-17 20:06] rchande commented on #1294
Can you verify, @tmat ? Note that project unload isn't instantaneous, but shouldn't be nearly as bad as what you were seeing.

[2015-03-17 20:13] brettfo opened #1338 "Update Edit and Continue analyzers to use resource strings"
Update:

- `CSharpEditAndContinueAnalyzer::GetTopLevelDisplayNameImpl()`
- `VisualBasicEditAndContinueAnalyzer::GetTopLevelDisplayNameImpl()`
- `VisualBasicEditAndContinueAnalyzer::GetStatementDisplayNameImpl()`

to use localized resources and update the tests accordingly.

[2015-03-17 20:34] basoundr opened #1339 "Auto Properties Initializer's indentation should be preserved"
Below code
[code]

on formatting becomes
[code]

Notice that `= new List<ExcludeValidationDescriptor>();` has moved one less indentation

[2015-03-17 20:39] rchande commented on #1294
Reactivating pending porting to preview branch.

[2015-03-17 21:42] mavasani commented on #1326
I have seen multiple similar cases of this during editing within Roslyn.sln today. This could be an issue with the analyzer OR the IDE analyzer driver.

[2015-03-17 21:50] mavasani commented on #1325
I think @heejaechang did turn it off by default in #1238 but that may not have been part of the toolset that @tmeschter recently did.
Is it worth doing another toolset update to turn this analyzer off by default? Probably it is also worth implementing #1061 so such cases can be dealt with by just adding a temporary ruleset entry to disable roslyn diagnostics on entire Roslyn.sln, rather then havin

[2015-03-17 21:51] basoundr commented on #1298
Keeping this issue open until we get the fix merged into the preview branch

[2015-03-17 22:33] MattGertz commented on #1294
Approved for next preview.

[2015-03-17 23:18] KevinH-MS opened #1343 "VBCSCompiler seems to hang compiling simple VB project on certain machines..."
I can't repro this everywhere, but on a particular VM, I can reliably reproduce a hang in solution build...

Dump at: [internal file share]\1343\VBCSCompilerHang.hdmp
[code]

[2015-03-17 23:19] KevinH-MS commented on #1343
[code]

[2015-03-17 23:52] tmat opened #1346 "Unused variable initializer should not be faded out"
Currently the entire declarator of an unused variable is faded out. It would be less distractive if just the identifier was faded out.

![image](https://cloud.githubusercontent.com/assets/41759/6700077/eb3d70c0-ccc5-11e4-9500-7324d9abcfca.png)

[2015-03-17 23:57] tmat opened #1347 "Explicit interface implementation methods are considered unused"
The analyzer probably incorrectly implies private & not used in the current class means unused.

[2015-03-18 00:05] #249 closed

[2015-03-18 00:17] tmat opened #1348 "Private constructor marked incorrectly as unused"
![image](https://cloud.githubusercontent.com/assets/41759/6700302/8042500c-ccc9-11e4-998b-c2b4a0a9b70d.png)

[2015-03-18 01:09] amcasey commented on #621
It might be interesting to use "no analyzers" as a baseline.  On my box it's 4-10 times as fast.

[2015-03-18 01:59] qrli commented on #1207
@HaloFour If `tuple` were syntax sugar to normal class/struct, that means normal class/struct also need to support structural equality across assemble boundary, which means ` new MyVector(x, y, z) == new SomeLibrary.Vector(x, y, z) `. I'm not sure if it is good or bad, as it opens a backdoor to the type system, which may introduce security concerns. Personally I'm interested in such ability though

[2015-03-18 08:12] GeirGrusom commented on #1303
@Miista

A common source of `NullReferenceException` is `IEnumerable<T>.FirstOrDefault()` which a lot of developers use over `First<T>()` for no reason what so ever. If we don't implement something in generics they will *still* be able to get a null result here * even* when the type is non-nullable. Should they? Should the code even compile? It is obviously wrong, and with a type constraint the co

[2015-03-18 10:05] vweijsters opened #1353 "No suggested actions offered on empty line in VS2015 CTP6 while codefix is available"
While testing my analyzer and code fix code with VS2015 CTP6 I noticed that no suggested actions are being offered if the cursor is on an empty line.

Adding a single space to the line will make the code fix available as a suggested action.

Code that can be used to reproduce (It is intended to remove trivia at the end of a source file):

Analyzer
[code]

CodeFixProvider
[code]

[2015-03-18 16:00] rchande commented on #1294
@tmat , can you verify this now?

[2015-03-18 16:16] bondsbw commented on #850
Agreed that calling setters in constructors are generally the non-preferred case.  I'm just worried that using the ```MyProperty = someValue;``` syntax would be confusing, because in non-constructor code, that same syntax does something different.

[2015-03-18 16:18] jnm2 commented on #595
I like this idea. The forced amount of indentation has been a minor annoyance over the years, especially when copying. I'm not sure I'd be comfortable doing the same thing to the class declaration, but the beauty of this proposal is that it would work either way according to your preferences.

I have a possible alternative to the single line `namespace`. What about allowing namespaces in class nam

[2015-03-18 16:33] jnm2 commented on #357
If you're planning on shadowing, one extremely important gotcha to add to the list:
Shadowing methods can't inherit method attributes from the base method. I suppose the workaround would be for the compiler to copy all the attributes from the base method. Otherwise, changing the return value on your C# `override` method will silently erase all the method's attributes.

[2015-03-18 16:34] AbubakerB commented on #572
:+1: much needed!

[2015-03-18 16:39] paulomorgado commented on #595
That was my proposal, @jnm2.

And it's not as strange as one might think because this:

    namespace N1
    {
        namespace N2
        {
            class C
            {
            }
        }
    }

is already the same as this:

    namespace N1.N2
    {
        class C
        {
        }
    }

[2015-03-18 16:47] Pilchie commented on #1294
Since this is merged, re-closing.

[2015-03-18 16:47] #1294 closed

[2015-03-18 17:21] jnm2 commented on #595
Oh, my bad. I'm 100% with you there.

[2015-03-18 17:41] Pilchie commented on #1298
We decided not to merge this to the preview branch.

[2015-03-18 17:41] #1298 closed

[2015-03-18 18:02] jaredpar opened #1356 "Warnings during build"
Our builds all include the following warning / diagnostic output:

[code]

This is either an actionable item or the warning should be deleted.  Right now it's just cluttering up the build output and making it harder to track down real errors.

[2015-03-18 18:48] tmat opened #1359 "EnC: bodies of lambdas should be editable even if they overlap with an active statement"
When stopped on a sequence point at "x * 100" the expression "x * 100" should be editable. Currently we report a rude edit since the expression span overlaps with a non-leaf active statement.

[code]

[2015-03-18 19:47] KirillOsenkov opened #1360 "Workspace should be more resilient when it can't read a generated file"
See also DevDiv.979836 — we need a mechanism to re-try failed file load cases

It is quite common for generated files to be included in the project. When the workspace is trying to read this file, it might get access denied. This results in discrepancy between Error List and actual build output and bogus build errors. This is a bad experience, and a regression from the old language service. We hav

[2015-03-18 19:59] eyalesh commented on #347
I'll just post what I've posted in uservoice.

For a very long, long time I've been jealous with some languages that can just return multiple values out of a function, especially the way it's implemented in Ruby and Lua it's just beyond amazing and simple.

Here is the way we can take advtange over this feature in Lua

	function GetPoint2D(x, y)
		-- Do something with x and y
		return x, y
	end

I

[2015-03-18 20:49] AlekseyTs commented on #821
Four test are still failing for me.

[2015-03-18 21:05] #1255 closed

[2015-03-18 22:20] heejaechang opened #1368 "pool stream used in emit"
one of trace from user (http://stackoverflow.com/questions/28607217/compiletimes-with-roslyn-suddenly-drop) shows this is one of top 3 allocations caused by roslyn when emitting.

we should pool the stream.

Name                                                                                                                                                	Inc %	          Inc	Inc Ct	Exc %
 microsoft

[2015-03-18 23:07] agocke commented on #1343
I'm closing this since investigation seems to point to ibcmerge as the problem.

[2015-03-18 23:07] #1343 closed

[2015-03-18 23:16] brettfo commented on #821
Let's try this again: updated in commit 7b98b34d777ea8c97b95891d597a9f1dd097a385

[2015-03-18 23:16] #821 closed

[2015-03-18 23:45] CnSimonChan commented on #437
@tmat I'm using Visual Studio 2015 Preview but the debugger cannot see value of fields after await calls.

### In debugging build, for this code
[code]
Roslyn just creates a field in `MoveNext()` and sets its value to `5` or `10` at their states, but when `Debugger.Break();` hits the field will be its initial value, so debugger only sees `0`.
(Compiled state machine is like:
[code]

### Another pr

[2015-03-18 23:53] gafter commented on #826
@amcasey Just told me "@agocke explained to me offline that we would just update the spots in the code that detect the cref case and suppress accessibility checking to detect the cref case and use modified accessibility checking.  That sound feasible.  Please just be careful not to make the change in BindCref – it’s tempting, but it breaks the SemanticModel."

[2015-03-19 00:26] gafter commented on #1073
/cc @billchi-ms

[2015-03-19 00:47] CnSimonChan commented on #850
I think constructors use `MyProperty.myField` is ok because now `myField` *belongs* to `MyProperty`.

An extra problem is a property must not define a field with same name appeared in the class, compiler should issue an exception indicating field already defined.

I disagree adding a new keyword, first it will limit one property has only one field, or why this field has a special name when others

[2015-03-19 02:06] jnm2 commented on #604
Yes, please! Every time I implement GetHashCode I end up wrapping the entire method body with `unchecked` and braces. I would also add `checked` to go with that.

[2015-03-19 03:00] SLaks opened #1371 "FileBasedXmlDocumentationProvider processes DTDs"
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces.Desktop/Utilities/Documentation/FileBasedXmlDocumentationProvider.cs needs to consume http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Utilities/Documentation/XmlDocumentationProvider.cs,59.

This is a security hole.

While you're at it, please also fix https://roslyn.codeplex.com/workitem/406; you can see my fixed version at htt

[2015-03-19 03:09] SLaks opened #1372 "Assignment after incomplete invocation expression breaks new preselection"
[code]

Pressing Space after `new` will preselect `AppDomain` instead of `string`.

This is quite annoying when inserting generic types above existing code.

[2015-03-19 03:12] SLaks opened #1373 "XAML Designer creates incorrect PCL errors"
Open https://github.com/SLaks/DroidMaster/blob/master/DroidMaster/Core/PersistentDevice.cs, then open https://github.com/SLaks/DroidMaster/blob/master/DroidMaster/UI/SourcePicker.xaml in the XAML designer, and start editing the XAML code.

After a few seconds, errors like this will appear

The project still builds fine.
The errors do not go away until their source file is closed (even after closin

[2015-03-19 06:26] WolfieWerewolf opened #1375 "InteractiveWindow / VisualStudioInteractiveWindow - ContentTypeMetaData.cs"
This is a small one but I thought I would mention it.  The above is duplicated in both projects except the instance in Interactive Window includes only the internal class ContentTypeMetaData whereas the VisualStudioInteractiveWindow project has an additional static class ContentTypeMetaDataHelpers which is necessary to implement the VSInteractiveWindow.

I'm sure both projects will be eventually r

[2015-03-19 07:57] AdamSpeight2008 opened #1376 "(Idea) Compilation Directive / Attribute to ignore syntax formatting"
Attribute: `<IgnoreSyntaxFormatting()>`
Directive: `#Formatting Ignore`

This would inform the Syntax Formatter not to change the formatting of the this file. Just use the file as is. Note that Syntax Colorising would still be used.

**Example**

[code]

Under the default formatting options, in the example used above the assignments wouldn't be aligned. In my opinion making it much harder to disti

[2015-03-19 10:24] dsaf opened #1378 "[Proposal] Disallow public abstract constructors"
As far as I understand there is no reason for public abstract constructors to exist, so why not remove the ambiguity? Unless there is something I don't know.

*"CA1012: Abstract types should not have constructors"*
https://msdn.microsoft.com/en-us/library/ms182126.aspx

[2015-03-19 11:26] emallen opened #1380 "nameof() on collections"
The prohibition against constructs that have the form of indexers as the operand of the nameof() operator causes some awkward workarounds to be needed in the case where the name of an item of a member of a collection is needed. I have a simplified example below:

A few noteworthy items about the example:
1. This tends to arise in cases where an (MV*) model has a collection of submodels.
2. I am tr

[2015-03-19 12:04] AdamSpeight2008 commented on #999
@gafter I'm work on a version with the formatting changes.

[2015-03-19 12:25] SLaks commented on #1376
An attribute is the wrong approach; such a feature should be applicable to arbitrary lines.

For consistency, this should be (at least in C#)

[code]

[2015-03-19 12:35] SLaks opened #1382 "Feature Request: Allow await in top-level Script code"
Can you change the `Script` compiler to put top-level code in a `public async Task Execute() { ... }` to allow `await`s?

This would be very useful when using Roslyn to write scripts to automate async things; users should be able to write both `using` statements (so I can't wrap in my own method) and top-level code.

[2015-03-19 14:43] Przemyslaw-W commented on #1380
You can use type prefixed syntax - "nameof(IItem.Quantity)" and
"nameof(IItem.Name)" respectively

2015-03-19 12:26 GMT+01:00 emallen <notifications@github.com>:

[2015-03-19 15:06] dsaf opened #1384 "[Proposal] Family AND Assembly access modifier (aka infamous "private protected")"
https://roslyn.codeplex.com/discussions/541194

It seems that there is no satisfactory conclusion.

IMHO C# is the primary language for the platform. If something is supported by CLR, then it absolutely has to be supported by C#.

PS: maybe there should be a separate label for things like this (e.g. enum generic constraint, generic custom attributes etc.).

[2015-03-19 15:32] bondsbw commented on #850
@CnSimonChan:

You highlighted the main problem with the ```MyProperty.myField``` approach.  But another problem is that it *appears* to be the same as property/field access on the instance returned by the call to ```MyProperty```, which can cause further confusion.

[2015-03-19 15:58] svick commented on #1378
Are you suggesting to make this a compile error? That would break backwards compatibility and for that, there should be a very good reason. I don't see removing ambiguity as a good reason here, since it's not really that confusing.

[2015-03-19 16:06] dsaf commented on #1378
@svick If there ever going to be a 'strict mode' C# compilation, it would fall into that category. Or it could be a compile warning (it's not a static analysis-level problem really).

[2015-03-19 16:10] Pilchie commented on #1373
Can you take a look and see if this is related to the targets file changes around Facade assemblies, and if it should be transitioned to the designer team?

[2015-03-19 16:16] Pilchie commented on #1372
This is the same issue as https://connect.microsoft.com/VisualStudio/feedback/details/1046005/connect-intellisense-provides-incorrect-auto-completion-suggestion-when-using-object-initializers, and a couple of other internal reports we've had.  We'll use that bug to track it for now.

[2015-03-19 16:18] SLaks commented on #1372
I don't have access to that either :)

[2015-03-19 16:19] SLaks commented on #1372
BTW, if you press Ctrl+Space at the end of the following code, the field name shows as an error type.
I filed a similar bug on Connect a long time ago; should I file this separately?

[code]

[2015-03-19 16:26] Pilchie commented on #1372
It's weird that you don't have access - it's listed as a public connect bug filed against VS2015 Preview.  Maybe you have to register in the Visual Studio section of connect to be able to see it?

For the error type issue, if you are thinking of the one with the title "IntelliSense shows fake error type" that you filed on an insider Preview, we're still tracking it, but I'd be happy to have it her

[2015-03-19 16:33] KalitaAlexey commented on #850
@bondsbw I think about confusion. What if write in constructor like this
[code]
This makes no confusion. Access to backed field must be only from property and from constructor. So name of backed field if extra.

[2015-03-19 16:42] SLaks commented on #1372
I cleared my cookies, and I now have access.

[2015-03-19 16:42] #1372 closed

[2015-03-19 16:54] SolalPirelli commented on #1384
That doesn't seem to be C#'s goal. There are quite a lot of features in the CLR not found in C#, e.g. `try...fault`, method overloads that differ only by the return value, static interface constructors, static indexed properties, tail calls...

[2015-03-19 17:33] VladimirReshetnikov opened #1387 "[Optimization] Avoid runtime Guid parsing for new Guid("0A3976C5-4529-4ef8-B0B0-42EED37082CD")"
Currently expressions like `new Guid("0A3976C5-4529-4ef8-B0B0-42EED37082CD")` are compiled naively, and this results in an invocation of an expensive parsing method at runtime. We could do the parsing at compile-time and invoke a constructor that accepts integer arguments.

Note that expressions of this form are generated by the compiler as part of COM interface instantiations like `new Word.Appli

[2015-03-19 17:47] #1309 closed

[2015-03-19 17:51] iSynaptic commented on #13
+1

[2015-03-19 18:05] #1356 closed

[2015-03-19 18:09] gafter commented on #1387
We generally hesitate to make the compiler understand the semantics of particular APIs.

[2015-03-19 18:15] MadsTorgersen commented on #1303
@SolalPirelli: I did indeed mix up `s` and `n` in the example. Fixed. Thanks!

[2015-03-19 18:15] gafter commented on #1376
This request is misplaced. The code formatter is in https://github.com/dotnet/codeformatter

[2015-03-19 18:19] SLaks commented on #1376
No; I'm pretty sure he's asking about Roslyn's formatter as used by Format Document in VS.

[2015-03-19 18:23] VladimirReshetnikov commented on #1387
Compiler already understands format of Guids, because it generates Guid ctor calls for COM interface instantiations, and also parses and validates [Guid(...)] attributes.

[2015-03-19 18:24] jaredpar commented on #1376
I think @SLaks is correct because the code formatter itself already has this support via the `/tables` option.  That will cause the code formatter to define `DOTNET_FORMATTER` and hence allow code to opt out by adding the following to their code:

[code]

[2015-03-19 18:26] agocke commented on #1387
I dislike special casing, especially for performance improvements that are only theoretical.

[2015-03-19 18:28] agocke commented on #1384
@dsaf This is 100% not a goal of C#. The CLR is the common language runtime, not the C# language runtime. C# happens to run on the CLR, but is in no way the canonical CLR targeting language.

That said, I'm not opposed to the general idea of the modifier. :)

[2015-03-19 19:40] SLaks opened #1391 "Expression-bodied instance members don't show this and base in IntelliSense"
Interestingly, they do show instance members of the class.

[2015-03-19 20:44] AlekseyTs opened #1392 "Microsoft.CodeAnalysis.CSharp.UnitTests.DiagnosticAnalyzerTests.TestReportingUnsupportedDiagnostic fails in presence of localized resources"
Assemblies Run

F:\Roslyn\Main\Open\Binaries\Debug\Roslyn.Compilers.CSharp.Semantic.UnitTests.dll

Summary

Tests run: 3330   Failures: 1, Skipped: 12, Run time: 130.619s

Failed tests

0.037s
✘
 Microsoft.CodeAnalysis.CSharp.UnitTests.DiagnosticAnalyzerTests.TestReportingUnsupportedDiagnostic : Expected: Diagnostic("AD0001").WithArguments("Microsoft.CodeAnalysis.CSharp.UnitTests.DiagnosticAnalyze

[2015-03-19 20:47] AlekseyTs opened #1394 "Microsoft.CodeAnalysis.CSharp.CommandLine.UnitTests.CommandLineTests.IOFailure_OpenOutputFile fails in presence of localized resources"
Assemblies Run
F:\Roslyn\Main\Open\Binaries\Debug\Roslyn.Compilers.CSharp.CommandLine.UnitTests.dll
Summary
Tests run: 179   Failures: 1, Skipped: 0, Run time: 34.729s

Failed tests
0.016s✘ Microsoft.CodeAnalysis.CSharp.CommandLine.UnitTests.CommandLineTests.IOFailure_OpenOutputFile : Assert.Contains() failure: Not found: error CS2012: Cannot open 'C:\Users\alekseyt\AppData\Local\Temp\RoslynTests\

[2015-03-19 20:52] AdamSpeight2008 commented on #1376
@SLaks I'm refering to the Visual Studio IDE formatter. You can disable analysers for specific case via a `pragma`. Have one for disabling formatting changes on a section of code.

[2015-03-19 21:32] shyamnamboodiripad opened #1397 "Adding an analyzer using the roslyn sdk project template shouldn't change existing startup project in solution"
I noticed that if I add one of the roslyn sdk template projects to a solution (right click solution node in solution explorer and add new project), the newly added project becomes the startup project unsetting the startup project that I already had. This seems like a bug. This does not happen when I add other projects (like simple console apps) to my solution.

[2015-03-19 21:35] #1187 closed

[2015-03-19 21:54] shyamnamboodiripad opened #1398 "TestMethod2 test fails out of the box for VB analyzer with code fix template"
Steps:
1. Install Roslyn SDK Project templates
2. Create a new VB analyzer with code fix project
3. In VS select menu Test -> All Tests

Expected: All tests should pass
Actual: TestMethod2 fails with below error (Is it possible to add a test in Roslyn to make sure that the shipping tests in the templates will always pass?)

Assert.IsTrue failed. Expected diagnostic message to be "Type name 'Module

[2015-03-19 22:05] gafter commented on #999
Awesome! Please reopen when done. I can squash the commits when I merge your PR if you need to do it as a sequence of git commits.

[2015-03-19 22:11] AlekseyTs commented on #821
Verified.

[2015-03-19 22:20] gafter commented on #357
@jnm2 Yes, you should expect the compiler to produce code that has the appropriate semantics.

[2015-03-19 22:45] jasonmalinowski commented on #1371
:+1:

The performance improvements would be nice to make, but we can track that as a separate bug and separate commit.

[2015-03-19 23:01] heejaechang opened #1400 "categorize errors from compiler that can be produced live and ones that can't"
in IDE we need to figure out and merge build and live error. without this info, it is so easy to have either duplicated errors (one from build and one from live) or staled errors.

duplicated errors can happen if a user changed location of an error while build is going on. since we can't track text changes for out-of-proc compiler (which we also has no idea what version of text file it picked up f

[2015-03-19 23:01] heejaechang commented on #1400
@srivatsn @AnthonyDGreen @gafter adding some people who can push this API

[2015-03-19 23:26] jmarolf commented on #1397
We do this so the VSIX is debugged on F5.  We can check for other existing projects and bail in that case.

[2015-03-19 23:56] shyamnamboodiripad commented on #1400
This probably doesn't need new API. I think we just want well-known tag that compiler can attach to errors indicating whether or not it is live...

[2015-03-20 00:13] heejaechang commented on #1400
Either way, but I would prefer map if we can figure that out by just ID. If same ID is shared between multiple cases where one can produced by Live and one can’t. then in property since that is where info per diagnostic instance is stored.

-          Heejae

From: Shyam N [mailto:notifications@github.com]
Sent: Thursday, March 19, 2015 4:56 PM
To: dotnet/roslyn
Cc: HeeJae Chang
Subject: Re: [rosl

[2015-03-20 00:15] basoundr opened #1403 "Improve Perf by calling XmlReader.ReadInnerXml rather than constructing the whole tree"
Quoting @jasonmalinowski "We're using an XML reader to create a full tree, only to immediately get stuff back from it. And you could call XmlReader.ReadInnerXml which would just give you the string you want directly and avoid creating a huge pile of garbage."

https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Utilities/Documentation/XmlDocumentationProvider.cs#L43

[Discuss

[2015-03-20 00:47] gafter commented on #1290
Somewhat bad news.

The lambda's "begin" and "end" statements are not considered to be "inside of" the lambda for the purposes of this API. I spent the last three days trying to make it be treated as if inside, and it would require some significant reorganization of a lot of code, both within and outside the compilers, where lots of code depends on the current behavior.

I don't think it is feasib

[2015-03-20 00:48] gafter commented on #1290
/cc @theoy FYI

[2015-03-20 01:32] gafter commented on #1400
The compiler does not have a concept of "live". What does this mean?

[2015-03-20 01:39] heejaechang commented on #1400
@gafter here by live, I meant diagnostics that can be produced by compilation.GetDiagnostics(), and by build means all diagnostics csc or vbc can produce that are not produced by compilation.GetDiagnostics()

[2015-03-20 01:46] tmat commented on #1290
So if the lambda is empty
[code]
then we are not able to get the symbol at all?

[2015-03-20 01:47] coldacid commented on #709
I don't think this should require a new keyword. My own experience with writing abstract classes implementing interfaces is that they only implement one or two interface members and leave the rest to derived classes; having to add another half-dozen abstract declarations of other interface members in this scenario is pointless make-work enforced by the compiler when it should be smart enough to re

[2015-03-20 01:49] sharwell opened #1405 "Difficult to distinguish Error from Disabled"
Quick, find the error(s):

I recommend changing the disabled glyph to gray at minimum. They certainly shouldn't stand out.

![image](https://cloud.githubusercontent.com/assets/1408396/6744563/37222760-ce79-11e4-83e8-46766bb9999f.png)

[2015-03-20 01:56] sharwell opened #1406 "Support configuring multiple diagnostics at a time in Solution Explorer"
Currently, you can only Right Click a diagnostic in Solution Explorer and set the severity if you select one diagnostic at a time. It would be very helpful if you could select multiple diagnostics at a time for this operation.

Solution Explorer presents diagnostics with a very different organizational structure than the rule editor. If a user wants to configure all rules provided by a particular

[2015-03-20 03:10] SLaks opened #1407 "FuncEval error with immutable collections"
Steps:

 1. Clone https://github.com/SLaks/DroidMaster/tree/39493a090c0e422b54ad2cf28068750078c1f94f at that commit
 2. Set Break on errors (except File Not Found0)
 2. Run
 3. Click Open Script Editor
 3. When it breaks on the composition failure, opne any ExportProvider frame, then expand non-empty immutable collection within `this`.

Error:

    Error	Evaluation of method System.Collections.Imm

[2015-03-20 03:45] gafter commented on #1290
If there are any spaces between the `)` and the `End` then you can get it from those spaces.

[2015-03-20 03:46] gafter commented on #1290
You might be able to get it from the API that gives you the symbol for an expression node.

[2015-03-20 03:48] gafter commented on #1400
I thought we already had (or plan to have) a tag that indicated what compilation phase/API the diagnostic was produced from.

[2015-03-20 03:57] shyamnamboodiripad opened #1409 "Analyzer for analyzer references missing when creating projects with roslyn sdk project templates"
When I create analyzer with code fix projects using roslyn sdk project templates, I am seeing that the 'analyzer for analyzer' references are missing under References -> Analyzers.

![capture](https://cloud.githubusercontent.com/assets/10579684/6745779/96d3ff94-ce79-11e4-802e-f2f31f55fe82.PNG)

I can see that that the dlls are present on disk under packages folder - but the references seem to be m

[2015-03-20 04:07] srivatsn commented on #1409
I think this is the issue I fixed yesterday where the install ps1 script had a -Include instead of -Filter. Can you try the latest package?

[2015-03-20 04:10] srivatsn commented on #1406
I believe @tmeschter has already implemented this.

[2015-03-20 04:14] srivatsn commented on #1405
All of the glyphs have been made gray to be consistent with other icons. We got feedback that people thought there was actually an error in solution explorer instead of denoting an error severity. So the icons have been made to stand out less.

[2015-03-20 04:30] sgjsakura opened #1410 "[Proposal] async support for yield keyword"
Hi all., this requirement is triggered when I try to implement a general `SelectAsync` extension method for `IEnumerable<T>` type for an async selector in current version of C#. I wish the source code to be
[code]

But the compiler does not accept the above code and says `yield` is not invalid in this context because the return type of this method is not `IEnumerable<T>` type.

The above code can

[2015-03-20 04:49] sharwell opened #1411 "Is it possible to provide formatting options with the project configuration?"
I was looking into the possibility of providing formatting options as part of a project configuration. The [`IOptionSerializer`](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/Options/Providers/IOptionSerializer.cs) interface stood out, but it doesn't seem like it'd be usable for the purpose of overriding options that come down from the environment (e.g. settings within

[2015-03-20 05:40] shyamnamboodiripad opened #1412 "New icons for rules are too small and very hard to see"
I have to squint to tell the difference between error and disabled.

(For some reason when I attach the below screenshot to the issue it seems to get magnified a little. But the real icons I see on the screen (and in my local copy of this screenshot) are even smaller. I wonder if this is because of high DPI or some such.)

![capture](https://cloud.githubusercontent.com/assets/10579684/6746601/7912

[2015-03-20 06:32] shyamnamboodiripad opened #1415 "Would be nice to hook up "Del" key for removing analyzer references"
Regular references can be removed by clicking on the reference in solution explorer and hitting the "Del" key. It would be nice to have same behavior for analyzer references.

Analyzer References:
![capture](https://cloud.githubusercontent.com/assets/10579684/6747015/1494419e-ce90-11e4-9977-c25f9c5fa990.PNG)

Regular References:
![capture2](https://cloud.githubusercontent.com/assets/10579684/67470

[2015-03-20 06:52] shyamnamboodiripad opened #1416 "Project templates: Rename "Diagnostic.nuspec" file in templates and make it easier to create nuget packages that install correctly"
I created a solution with multiple analyzer + code fix projects created using the Roslyn project templates. I then set output folders for all projects to the same directory expecting to see VSIXes and nugets for both analyzers in the output directory. But when I built the solution, looks like the Diagnostics.nuspec files from the two projects that have "copy to output directory" set to "copy if ne

[2015-03-20 07:08] heejaechang commented on #1400
@gafter if csc/vbc can provide that info through to IDE, that would work as well.

[2015-03-20 07:19] shyamnamboodiripad commented on #1416
Looks like nuget package creation for these projects just packages all dlls in the output folder into a single nuget package. So in the above scenario, I end up with multiple identical nuget packages...

[2015-03-20 07:28] shyamnamboodiripad commented on #1416
Not only are all dlls in the output folder packaged into a single nuget package. Looks like we also add each of these dlls as analyzer references when I consume these nuget packages.

This is quite problematic since I have to then go and remove the analyzer references that don't contain any analyzers to avoid the following annoying warnings.

Warning	CS8033	The assembly *\Documents\Visual Studio 2

[2015-03-20 07:29] mavasani commented on #1400
Is this a correct claim: The only category of diagnostics that csc/vbc command line builds can generate which are never part of compilation.GetDiagnostics() are diagnostics without location (e.g. parse command line argument errors, some fatal exception diagnostics, emit diagnostics)?

If so, probably for live editing scenarios in IDE, only diagnostics with locations in documents (especially the ac

[2015-03-20 07:30] mavasani commented on #1400
/cc JohnHamby I think he has a keen interest in live/build error design.

[2015-03-20 07:47] mavasani commented on #1400
@gafter I think what HeeJae is requesting is that compiler layer maintain a set of what possible diagnostic IDs can be returned by compilation.GetDiagnostics vs full fledged command line build. This way, the compiler analyzer, which is used by the IDE to show live errors, will return only the subset of descriptors/IDs in its SupportedDiagnostics property that can be reported through compilation.Ge

[2015-03-20 08:00] conniey opened #1417 "CSharpSyntaxVisitor not visiting child nodes of VariableDeclarationSyntax"
I am writing a Roslyn diagnostic analyzer that checks the types that a List is initialized with.  But, the CSharpSyntaxVisitor is not visiting the nodes beneath the VariableDeclarationSyntaxNode.  In my concrete visitor, I have overrides for child nodes that should be there but none of the breakpoints are getting hit.  Also, if I do `analysis.Node.ChildNodes().ToArray()` in the Immediate Window, I

[2015-03-20 08:01] heejaechang commented on #1400
@mavasani I think current implementation of CompilerAnalyzer.SupportedDiagnostics are wrong. it treats compiler and compileranalyzer same and return all diagnostics compiler can produce as supported diagnostics for compileranalyzer. and that is not true, compiler is superset of compileranalyzer, so, compileranalyzer should return those diagnostics that it actually can produce as supported diagnost

[2015-03-20 09:07] pdelvo commented on #1417
I reported that and it is already fixed (but there is not an updated nuget package yet): #565

At least I think it is the same thing. Have you tried a Nightly Build?

[2015-03-20 09:37] KalitaAlexey commented on #1410
Your code is incorrect. Task<IEnumerable<TResult>> is awaitable task (which can be awaited once) and then results can be retrieved from  this task.
But body of your method yields IEnumerable<Task<TResult>>

[2015-03-20 10:41] paulomorgado commented on #1410
Are you proposing a `Task<IEnumerable<TResult>>` or an `IEnumerable<Task<TResult>>`?

[2015-03-20 11:33] HaloFour commented on #1410
There is already a proposal to accomplish this:  #261.

But the result wouldn't be `Task<IEnumerable<T>>`, it would likely be something like `IAsyncEnumerable<T>` where you can await on each element in the stream.

[2015-03-20 11:38] sgjsakura commented on #1410
@paulomorgado Actually the problem is `yield` keyword cannot be used in a method with `async Task<IEnumerable<T>>` return type.

Well, if my problem can be solved then `IEnumerable<Task<TResult>>` can be easily converted to `Task<IEnumerable<TResult>>` using a the above code.

Thank you for your kind comment :-)

[2015-03-20 11:42] sgjsakura commented on #1410
@HaloFour Just as I mentioned in this issue, there's some relationship between this issue and the issue #261.

Thank you for your kind comment :-)

[2015-03-20 12:00] sgjsakura commented on #1410
@KalitaAlexey It may be difficult to define the clear concept for yielding in an async method, and it may have to take serious adjustment to compiler code generation for this issue.

[2015-03-20 12:22] HaloFour commented on #1410
@sgjsakura

Indeed, but `Task<IEnumerable<T>>` makes no sense for this since `Task<T>` can only ever return a single value.  You'd be waiting on the full materialization of the iterator.  Also, `async` functions don't imply any threading so the iterator would execute synchronously anyway.  This is why they're looking at alternative return values like `IAsyncEnumerable<T>` where you can await on ea

[2015-03-20 12:37] alanfo commented on #1384
In the CodePlex discussion nearly everybody agreed that `Family AND Assembly` access would be a useful feature.

Indeed, Mads said as much and presumably the feature wouldn't have been proposed in the first place if the C# team didn't believe this to be the case.

The only point of disagreement was what to call it given that `protected internal` is already used for `Family OR Assembly` access.

I'

[2015-03-20 12:59] alanfo commented on #1378
I'd support a compiler warning for public constructors in abstract classes but I wouldn't support disallowing them altogether as this would break backwards compatibility as @svick said.

The time to have disallowed them would have been C# 1.0 but there's been a heck of a lot of water under the bridge since then :)

[2015-03-20 13:36] chrisaut commented on #1387
Does Roslyn not support syntaxrewriters anymore? I remember reading links such as
http://stackoverflow.com/questions/28515505/accessing-symbolinfo-from-modified-syntaxnode-in-roslyn-syntaxrewriter
or
https://joshvarty.wordpress.com/2014/08/15/learn-roslyn-now-part-5-csharpsyntaxrewriter/
or
http://www.mindscapehq.com/blog/index.php/2011/10/20/in-bed-with-roslyn/

that make it seem to me as if you

[2015-03-20 14:45] brandf commented on #524
I like the suggestion above about not using Lazy.  The point of laziness is to defer work until the property is accessed.  With the examples that use Lazy above, the ctor is allocating a Lazy every time.  If the compiler just did the laziness in a getter for the lazy method, then it would be effectively free unless accessed.

[2015-03-20 15:09] MattGertz commented on #1187
Approved for next preview

[2015-03-20 15:31] dsaf commented on #1384
I agree with everything said :).

[2015-03-20 16:43] tmeschter commented on #1406
@sharwell @srivatsn Yes, you can select multiple diagnostics and set them to the same severity all at once.

[2015-03-20 16:49] petr-k commented on #1096
Could you provide the .csproj file in question?

[2015-03-20 17:02] conniey commented on #1417
I tried the latest nightly build on myget, but the same behaviour happens... it's not visiting those nodes. :(

[2015-03-20 17:04] SLaks commented on #1407
For those who are curious, the type involved is

[code]

[2015-03-20 17:12] mavasani commented on #1400
@heejaechang Again I won't say analyzer is wrong, its just conservative, and we can't force any analyzer to return us exact set of descriptors it can report diagnostics, it can always return a superset of what it actually ever reports.

I don't think we need any API here for this analyzer to return the exact set though, as the analyzer is within the compiler layer itself. We will just need the com

[2015-03-20 17:19] dsaf opened #1419 "Stronger inference of a common type of a set of expressions"
This code will currently not work:

[code]

It could go one step further and assume the first common type in the inheritance hierarchy.
Several situations possible:
1. Most straightforward - single common parent type - see above.
2. Primitive types - needs explicit manual resolution.
3. Nullable and non-nullable - should nullable be assumed?
4. Only several common interfaces are shared - it's bett

[2015-03-20 17:36] heejaechang commented on #1400
Returning more is not the issue issue is it returning diagnostic ids for compiler not compiler analyzer is issue since we don't run compiler analyzer from command line but compiler.

Sent from my Windows Phone
________________________________
From: Manish Vasani<mailto:notifications@github.com>
Sent: ý3/ý20/ý2015 10:13 AM
To: dotnet/roslyn<mailto:roslyn@noreply.github.com>
Cc: HeeJae Chang<mailto:

[2015-03-20 17:46] basoundr commented on #1371
Reopening this issue so this could be tracked for RC

[2015-03-20 18:02] mavasani commented on #1400
Well its easy to store this information in a table within compiler layer with current source snapshot, but I think it will be a maintenance nightmare, likely to get out-of-date soon, and cause duplicate or missing diagnostics in error list.

Below are the maintenance overheads in approach of maintaining this table:

1. For every new diagnostic added, developer has to make a conscious decision of w

[2015-03-20 18:22] tmeschter opened #1423 "CSharpSyntaxGenerator.WithGetAccessorStatements assumes property has accessors"
This method assumes that PropertyDeclaration.AccessorList is not null. However, it may be null in the case of expression-bodied properties:

[code]

Right now you can't use `SyntaxGenerator` to modify `Message` without hitting a `NullReferenceException`.

[2015-03-20 18:35] tmeschter opened #1425 "Scripting projects need PublicAPI.txt files"
These files are used by the DeclarePublicAPI analyzer to catch changes in the public API. As we're releasing the scripting binaries through NuGet, we should be tracking the public API surface area.

[2015-03-20 18:40] dotnetchris opened #1426 "[Proposal] Case fall through should be allowed"
C# should really allow proper case fall through. There is no reason it needs to derivate from C with how switch behaves.

Perhaps an alternative would be similar to

`switch unchecked(foo)` and this would allow proper case fall through without changing anything existing.

Having located https://github.com/dotnet/roslyn/issues/168 it already seems like this is supported and that something just spec

[2015-03-20 19:01] heejaechang commented on #1400
Why we have compiler analyzer then? If we are need to special case in the system here and there case by case?

Sent from my Windows Phone
________________________________
From: Manish Vasani<mailto:notifications@github.com>
Sent: ý3/ý20/ý2015 11:02 AM
To: dotnet/roslyn<mailto:roslyn@noreply.github.com>
Cc: HeeJae Chang<mailto:Heejae.Chang@microsoft.com>
Subject: Re: [roslyn] categorize errors from

[2015-03-20 19:15] gafter commented on #1410
I am tempted to close this as a dup of #261, as that is intended to support the scenarios.

[2015-03-20 19:18] mavasani commented on #1400
I thought the only reason to have it was to keep our IDE diagnostic service code cleaner. I am not sure we can ever treat compiler analyzer same as any other analyzer, due to performance requirements anyways (should execute before other analyzers, shouldn't execute SupportedDiagnostics, etc.)

This analyzer doesn't do anything special, except just invoke compiler Get*Diagnostics public APIs in its

[2015-03-20 19:18] gafter commented on #1417
A visitor does is not supposed to *recurse* down to visit children. It only dispatches for the single syntax node you call `Visit` on. So the behavior is by design.

[2015-03-20 19:20] MgSam commented on #1384
Agree with @alanfo. It was silly for this useful feature to be dropped because of minor disagreements about the name. Just vote internally on the name and go with that.

[2015-03-20 19:24] gafter commented on #1419
As I understand it, you are requesting a modification to the *best common type of a set of expressions* specification (C# language spec section 7.5.2.14).

[2015-03-20 19:26] bbarry commented on #1426
I use fall through switches already. It looks like this:

    public int DoSwitch(int i)
    {
        var j = 0;
        switch (i)
        {
        case 0:
            j++;
            goto case 1;
        case 1:
            j++;
            goto default;
        default:
            j++;
            break;
        }
        return j;
    }

You simply have to be explicit about it (the gotos h