[2016-11-27 10:25] aluanhaddad commented on #15538
I definitely agree with this. However, I find @HaloFour's assertion that

to be highly compelling. For example, `var` declarations are mutable bindings but declaring a fresh variable instead of reassigning to an existing one is widely considered good practice<sup>(citation needed)</sup>. I think this is related to reassigning standard, by value, parameters.

[2016-11-27 12:33] vladd commented on #11324
@qwertie Well, if macros really know **nothing** about the language, how would a macro processor distinguish between a code line and a comment? Isn't it forced to use just text replacement with all its awkwardness (akin to C preprocessor)?

[2016-11-27 13:08] matjazmav commented on #13146
I found out that I needed to add this two references to project B to use any functionality from project A:
[code]

Shouldn't all dependencies come with project A (library project)?

[2016-11-27 16:50] qwertie commented on #11324
@vladd the macro processor is given a language-independent syntax tree. That tree may have come out of the EC# parser, or some other parser.

@CyrusNajmabadi

We've talked about this. Renaming the field would have to either fail or force expansion of the macro that generated it... I just considered the latter problem briefly and the problem of _limiting_ how much expansion occurs (avoiding expandi

[2016-11-27 17:05] qwertie commented on #11324
Btw there are some things that would greatly improve the experience of using EC# in Visual Studio. Where should I go for help?

- Right now it's a single-file generator using an ancient COM interface. It is NOT a vsix because SFGs require registry settings to be written and I couldn't figure out how to write registry settings with a vsix. So before I can do anything interesting, I have to escape t

[2016-11-27 17:25] svick opened #15546 "The tuples document is out of date"
The [docs/features/tuples.md](https://github.com/dotnet/roslyn/blob/master/docs/features/tuples.md) document seems to be fairly out of date. Specifically, [the section *Overloading, Overriding, Hiding*](https://github.com/dotnet/roslyn/blob/master/docs/features/tuples.md#overloading-overriding-hiding) does not take into account changes made in recent months (https://github.com/dotnet/roslyn/issues

[2016-11-27 17:55] trolrolo commented on #8280
I have the same problem. I have to use legacy mode. Only in legacy mode I can quick view/browse variables which are COM objects. When I turn off legacy mode I cannot quick view variables which are COM objects.

[2016-11-27 20:56] gafter commented on #15538
@MadsTorgersen I think this is a suitable topic for some upcoming LDM.

[2016-11-27 20:59] gafter commented on #15545
Assigning to @OmarTawfik to investigate if this is a symptom of #14981

[2016-11-27 21:01] timopomer opened #15547 "IEnumerable<T> runs constructor any access(even inspection)"
**Version Used**:
mono 4.8.0
.NET framework 4.6.1
**Steps to Reproduce**:

1. Create a class, preferably with a static integer you can increment to count individual constructor calls
2. Create IEnumerable of the class by selecting an arbitrary array of items
3. Use breakpoints to Inspect with debugger / Try to print or count the elements to cause the constructor to run again

**Expected Behavior**

[2016-11-27 21:09] gafter commented on #15547
This is the way that lazy iterators work: `Select` computes the result on demand, and doesn't cache the result. It only caches the lambda so it can compute the result every time. If you want the result cached, you should use your own implementation of `Select` that does that, or call `ToArray` early on.

I'm not sure why this is posted on the Roslyn repo. Do you think there is a compiler bug?

[2016-11-27 21:09] #15547 closed

[2016-11-27 21:18] timopomer commented on #15547
I thought this has to do with the IDE being broken, if this is intentional im sorry. just my code completely breaking from inspecting it in the debugger called an alarm bell and made me try to reproduce this "bug" for a good while

Thank you
Nonetheless as a suggestion I think the debugger should warn you inspecting the IEnumerable will make the constructors run or some other warning of that kind

[2016-11-27 21:33] alrz commented on #15539
I think I closed this prematurely, because still I couldn't think of any good reason to permit constant patterns directly in top level `is` e.g. `e is 3`. I believe it's just a syntax variation for `e == 3` and may cause unnecessary inconsistencies.

[2016-11-27 21:45] svick commented on #15547
Visual Studio debugger in the same situation says "Expanding the Results View will enumerate the IEnumerable". Maybe VS Code could say something similar.

@timopomer You might consider requesting that at [VS Code's repo](https://github.com/Microsoft/vscode).

[2016-11-27 22:06] timopomer commented on #15547
@svick but im using visual studio for mac (the reskinned xamarin studio) does it have a repo?

[2016-11-27 22:29] aluanhaddad commented on #8409
@CyrusNajmabadi
The problem is that in your opinion, in that of many (most?) JavaScript experts `===` is in fact the only sensible operator. Therefore it is, as you say trivially easy to catch these errors because I ban `==` in my TypeScript/JavaScript. Whenever I read code in these languages that uses `==`, I have to think very carefully about changing it. For example `Dates` in JavaScript are an

[2016-11-27 22:47] aluanhaddad commented on #15487
@gafter
In JavaScript, there is an analogous, useful feature that provides inline renames when deconstructing object literals. However what makes it useful is that object literal property names are both required, _and_ inferrable (e.g. by TypeScript).

On the one hand, it could be really valuable, but on the other hand it would seem to risk turning tuples into records, but just ones with very weak

[2016-11-27 23:09] CyrusNajmabadi commented on #11324
Sorry, this is getting more confusing.  Again, how would the parser actually parse:

[code]

If the parser knows nothing about macros, then the above code would end up with very broken syntax.  It certainly wouldn't create 'call' nodes that a macro processor could handle.

[2016-11-27 23:11] CyrusNajmabadi commented on #11324
I still don't know how you even got pass the parsing phase.  How did you parse the actual code that contains an 'out var'.  i don't care how you transformed it.  I just care how you actually parsed it.  You said that your system required adding no new syntax.  So i'm trying to wrap my head around how you handled a construct which is, by its very nature, *new syntax* :)

[2016-11-27 23:13] CyrusNajmabadi commented on #11324
This violates a core design goal of roslyn.  That the experience you get in the IDE is the same as you get when you build.  We want to ensure that you never experience a situation where the IDE tells you one thing, but the build tells you another.  If Macros make that unfeasible, then it would have to provide an absolutely *enormous* amount of value to make them worthwhile.

[2016-11-27 23:16] CyrusNajmabadi commented on #11324
You're treading entirely new ground.  You can stay here for help.  I'll try the best i can, but what you're asking for may take an enormous amount of work**

--

** Which is what i was saying before.  As we tried going down this path ourselves, we realized it would be many devs spread over many teams in order to accomplish this.  This is not a small amount of work.  It needs design and resources s

[2016-11-27 23:18] CyrusNajmabadi commented on #11324
You've now made the design space much larger.  Saying things like "should have a way" effectively means we need to design and cost precisely that solution.  If that solution is necessary for a "minimum viable product" then that has to be factored in.  If that solution requires work from other teams (like the debugger team), then that has to be established up front so we can know if we can get all

[2016-11-27 23:18] CyrusNajmabadi commented on #11324
Presumably for Roslyn it would come from the Roslyn parser.  So i ask again, what is the syntax for Macros that Roslyn would have to recognize and parse in C# code (we'll get to VB later)?

[2016-11-27 23:23] CyrusNajmabadi commented on #11324
This would be very concerning.  A core value proposition of Roslyn is that is enables the types of accurate features that people can depend on.  If that value prop goes out when people use Macros, then it very much undermines core principles and values that we're trying to deliver and that people expect to have.

We do not introduce new language feature without strongly considering the experience

[2016-11-27 23:28] CyrusNajmabadi commented on #11324
I remain very confused.  You previously said that your system required no syntax changes.  i.e. "Enhanced C# does not allow new syntax."   If you do not allow new syntax... why are you now saying that you would require a number of syntax changes.  And if you don't allow new syntax, how did you accomplish things like supporting out-var?

I really can't reconcile many of these statements that seem c

[2016-11-27 23:33] CyrusNajmabadi commented on #11324
@qwertie Currently, i find this 'proposal' to be far too massive, disorganized, and unclear.  I think a way forward would be to start over with new proposals that have very small scope.  i.e. "I would propose this specific syntax change to the language.  Here are the grammar changes for it, and what purpose it would serve."

We could then discuss each individual piece fully, ensuring htat we'd tho

[2016-11-27 23:43] CyrusNajmabadi commented on #11324
Final note: It's unclear to me what value these macros have over our original SourceGenerator proposals.  The benefit of the SourceGenerator approach was that you could take in C# code, manipulate it (using normal Roslyn APIs) and just produce new trees that the rest of the pipeline would operate on.  There was no need for a new 'macro language' for manipulating trees.  The macro language *was* ju

[2016-11-28 00:27] qwertie commented on #11324
I feel like you must have missed the message in which I talked about the fact that [I added _lots_ of new syntax to EC#](https://github.com/dotnet/roslyn/issues/11324#issuecomment-263102057). Some of that syntax would make sense without a macro system; some of it would not.

[2016-11-28 00:31] CyrusNajmabadi commented on #11324
I'm definitely quite confused (as several messages seem contradictory).  But, for now, i'm going to go with the explicit claim that new syntax is required and that you introduced new syntax to support these features.

If that's the case, and you required syntax changes to be able to support 'out-var' then why would i need macros in order to support out-var?  What do macros buy me?  Since i had to

[2016-11-28 00:35] qwertie commented on #11324
I probably confused you by saying "the parser knows nothing about macros". Sorry about that. In my own mind the syntax is independent, because the parser can do whatever, it's just making a tree, and whether there's a macro system running after it or some other system doesn't matter to the parser. But understandably you don't think about it the same way - you think of C# as a single integrated thi

[2016-11-28 00:37] CyrusNajmabadi commented on #11324
*HOW*.  If the parser does not change, then how do you handle things like your INotifyPropertyChanged example?

The syntax you presented would be rejected by the C# parser.  And if it was rejected any sort of 'processor' would have a heck of a time trying to do anything with the tree we produced.

[2016-11-28 00:38] CyrusNajmabadi commented on #11324
How can hte syntax be independent?  If Macros run on the tree hte parser produces, then the parser has to understand some sort of Macro syntax so it can generate the right sort of nodes that the Macro processor will run on.  If it doesn't, then the tree is going to be massively broken, and it will be enormously painful for any sort of processor to have to work on that tree.

[2016-11-28 00:40] qwertie commented on #11324
Without changes to the parser, you'd have to make do write it with syntax that already exists, maybe something like

    class ImplementNotifyPropertyChanged {
		public string CustomerName { get; set; }
		public object AdditionalData { get; set; }
		public string CompanyName { get; set; }
		public string PhoneNumber { get; set; }
    }

[2016-11-28 00:45] qwertie commented on #11324
To make an analogy, `List<T>` can hold objects of type `Foo` without having any awareness of `Foo`. The macro processor doesn't have generic type parameters, but it does process `LNode` objects, which are language-independent. So in that sense it processes C# without knowing anything about C#.

[2016-11-28 00:46] CyrusNajmabadi commented on #11324
What are LNode objects?  What information do they contain?  How does one get one?

[2016-11-28 00:48] qwertie commented on #11324
`LNode` is the .NET implementation of [Loyc trees](http://loyc.net/loyc-trees/). The API is [described here](http://loyc.net/loyc-trees/dotnet.html).

[2016-11-28 00:51] eyalsk commented on #11324
@qwertie I tried to read this post few times myself and while I understand most of what you're saying I really, strongly recommend you to start fresh and create a new issue, explaining things in the following manner:

1. This is the problem.

2. This is the solution.

3. This is the syntax.

4. This is an example of a macro.

5. This is how it's used at the _callsite_.

6. This is the generated co

[2016-11-28 00:53] CyrusNajmabadi commented on #11324
I'm confused again.  Are you saying Roslyn would be translating nodes into some other API and calling into that to do work?  That sounds quite expensive.  Trees can be huge, and we already do a tremendous amount of work to not realize them, and to be able to throw large parts of them away when possible.

[2016-11-28 00:55] CyrusNajmabadi commented on #11324
Agreed.  I'm getting high level ideas and concepts.  But when i try to dive deeper, i'm seeing contradictions and not-fully-fleshed-out ideas.

Many of your ideas also seem predicated on a whole host of assumptions.  i.e. "we could do X, (with the implication that Y and Z are also done).  And to do Y and Z, we'd need these other things as well."  I can't wrap my head around a clear set of concepts

[2016-11-28 00:55] timopomer commented on #14461
@devedse i know this issue is old, but just in case you wanted to make this you can use (R)Activator.CreateInstance(typeof(R), length)

[2016-11-28 01:05] qwertie commented on #11324
I've been switching back and forth between two tasks - if I thought you were asking me about how EC#/LeMP works then I described EC#/LeMP. But you've also been asking about the IDE experience and things like that, so for those questions I've switched gears and tried to figure out (mostly on the fly) how one would, in broad strokes, translate concepts from LeMP to Roslyn. So this conversation is so

[2016-11-28 01:11] jnm2 commented on #8409
How would that be different from `==` invoking a virtual `Equals`?

[2016-11-28 01:14] CyrusNajmabadi commented on #11324
I think that switch was not clear enough for me :D   And it would be better to just discuss specifically what we would want to do with Roslyn and C# here.

Congrats!  I look forward to hearing from you once you get back!

[2016-11-28 02:12] MaleDong commented on #347
It would be better if:

1) Any tuple return with a defined variable name, the result should also convert this variable name as its property name……ect. Something like this:

var result = SomeTupleResult;   //Suppose "SomeTupleResult" returns me (int a, string b).
result.Item1/Item2;  //This is NOT exclipit
result.a; //Please convert "a" to its property, the same for b.

But for the anoymous definat

[2016-11-28 02:24] HaloFour commented on #347
@MaleDong

That is how tuples would behave according to this proposal and as implemented in the previews/RC.  If a function or property returns a named tuple then the compiler will allow you to reference the elements of that tuple by name.

[2016-11-28 03:33] HaloFour commented on #15525
Another option would be after the property:

[code]

That assumes the purpose of the comment, but it's probably a better guess than above the variable.

[2016-11-28 05:13] agocke commented on #15536
@HaloFour My read of this code is that the local functions are in scope and it captures the `int x` which is in scope of those local functions. However, that variable is not definitely assigned, so it must first be assigned before it is otherwise used.

If this would be an error, I'm not sure what error it would be.

/cc @gafter since this also involves scoping of pattern variables. Do you agree w

[2016-11-28 05:57] tmat commented on #11475
@mjsabby Updated the proposal.

[2016-11-28 06:03] jkotas opened #15553 "Bogus Invalid expression term 'int' error on 2.0.0-rc"
Version used: https://www.nuget.org/packages/Microsoft.Net.Compilers/2.0.0-rc

Steps to Reproduce:

csc test.cs

[code]

Expected Behavior: Compiles successfully

Actual Behavior:

[code]

This bug was found trying to compile https://github.com/dotnet/corefx/ using 2.0.0-rc.

[2016-11-28 06:14] jkotas commented on #11475
The return type should match the argument type, e.g. `byte*` for `byte[] mappedData`.

[2016-11-28 06:23] tmat commented on #11475
@jkotas Fixed

[2016-11-28 06:40] eyalsk opened #15554 "Fluent API formatting suggestion"
Currently, Visual Studio doesn't know how to format the following code:
[code]
What I expect to happen is for all subsequent calls to be vertically aligned with the first dot operator.

So the above code would be formatted like this:
[code]
Alternatively:
[code]
I use R# quite heavily for formatting and it does know how to do it but I think that it would be nice if VS could handle it out of the bo

[2016-11-28 06:52] MichalStrehovsky commented on #11475
I assume there will be restrictions on how much data flow analysis Roslyn can do to get the mapped data array - can I do:

[code]

Or do I have to do:
[code]

If it's the latter, any chance we can make the intrinsic return a `Span<DataType>` so that the user can safely get the length?

[2016-11-28 08:25] #15016 closed

[2016-11-28 09:22] aluanhaddad commented on #8409
@jnm2 it would be exactly the same as invoking `Equals`. I don't want to derail this discussion
[code]
@gafter

Just so long as you don't write
[code]
Because that brings down Visual Studio without fail. I assume this has been reported.

[2016-11-28 10:14] aluanhaddad opened #15555 "Throw in expression bodied lambdas is a syntax error"
**Version Used**:
2017 RC
**Steps to Reproduce**:
@gafter in #13389, it says that a throw expression is permitted as the body of an expression-bodied lambda or method. I receive the error

With the following code
[code]
I'm not sure if this was an intentional change but I don't see it documented. Thanks!
**Expected Behavior**:
Throw expressions may be used in an expression bodied lambda expression

[2016-11-28 10:35] Sc0tTyXL opened #15556 "Could not find file 'XXX\bin\roslyn\csc.exe'."
**Version Used**:
DotNetCompilerPlatform: 1.0.2.0
Visual Studio: 2015
Windows 10

**Steps to Reproduce**:
Project containing a Web site project, a Class library project, a Unit test project and a Windows form project.
(Untested but I suspect a simple Web project + Class library will have the same issues)

1. Check bin\roslyn\ is not empty
2. Make sure the Solution won't be able to build, a simple

[2016-11-28 11:41] matjazmav opened #15557 "Compile C# script in DynamicMethod"
Is it possible to compile C# script into `DynamicMethod`? Or load raw assembly into `DynamicMetgod.GetILGenerator`.

Thanks for any info.

[2016-11-28 12:49] jnm2 commented on #8409
@aluanhaddad Just curious what that gains you that you can't already achieve by having `==` equal to calling `Equals`.

[2016-11-28 13:02] jonathanvdc commented on #11324
Hi everyone. I'm a small-time EC# contributor, and I'm currently working on [`ecsc`](https://github.com/jonathanvdc/ecsc), a command-line EC# compiler. I'm not as knowledgeable about EC# and LeMP as @qwertie, but I thought I'd try and shed some light on how macros work in EC# &ndash; perhaps a different perspective can be helpful. I'll try to explain what `LNode`s are, what the parser does, and wh

[2016-11-28 13:55] devedse commented on #14461
Yeah, that's indeed one of the workaround you can use for now. However I would like to do this type safe at compile time :).

[2016-11-28 14:35] dougives opened #15558 "Variable declared in the scope of an outer function that is written to from inside scope of a local function does not get updated in specific cases.."
**Version Used**:
VS2017 RC 15.0.25920.0, .Net 4.6.01509, csc 2.0.0.61104

**Steps to Reproduce**:
Some background: I wrote a messaging class with a static method to parse a binary message from bytes. It is written in the spirit of how I write ascent parsers in C, where I pass a reference to the index in the source to each function, and the inner functions are responsible for incrementing the inde

[2016-11-28 15:52] philippe-lavoie opened #15559 "System.Collections.Immutable > 1.1.37 is evil"
For whatever reason, each time I upgrade a nugetpackage somehow related to nuget, things start to fail. This time, I'm getting the following error when running a VSIX custom editor.

Method not found: 'System.Collections.Immutable.ImmutableArray`1<Microsoft.CodeAnalysis.INamedTypeSymbol> Microsoft.CodeAnalysis.INamespaceOrTypeSymbol.GetTypeMembers()'.

Turns out that reverting System.Collections.I

[2016-11-28 15:54] MgSam commented on #8409
@gafter Is there any benefit to doing that? Is it not equivalent to `if(a == null || b == null)`?

[2016-11-28 17:00] HaloFour commented on #15536
@agocke

The local function would be in scope since `switch` doesn't introduce any scope of its own, but since `case` does this is a unique circumstance where you'd be able to define a local function that could enclose a variable where the variable would go out of scope but the function would not.  The only time `int x` can ever be assigned is if that case is matched.  Attempting to call that func

[2016-11-28 17:01] alrz commented on #8409
@MgSam It's equivalent to `(object)e == null`, I suppose.

[2016-11-28 17:11] MgSam commented on #8409
@alrz Does that have any semantic difference to `e == null`?

[2016-11-28 17:13] alrz commented on #8409
@MgSam It does merely reference comparison, while `e == null` calls the operator.

[2016-11-28 17:20] TessenR commented on #15536
@HaloFour Some types are always initialized. E.g. it isn't possible for a variable of type 'S' to be uninitialized. What error it would be here?

[code]

I don't like the crazy rules about local functions, too. But tbh I don't see how it is different from this case:
[code]

Shouldn't 'out of scope' variables behave exactly like 'not yet declared' variables? What's the difference?

[2016-11-28 17:33] MgSam commented on #8409
Right, so in any sane implementation of `==` there is no difference.

[2016-11-28 17:38] tmat commented on #15557
No, it is not possible.

[2016-11-28 17:39] tmat commented on #15557
What scenario would you need such a feature for?

[2016-11-28 17:40] HaloFour commented on #15536
@TessenR

I imagine it would be the same error.  It doesn't matter that at the point of `s` being in scope that it's definitely assigned.  The point at which `s` would come into scope never happens, thus it is also not assigned.

It's not really local functions that are the issue here.  Hoisting has some pretty simple and understandable rules and is kept innocuous by the fact that you can only dec

[2016-11-28 17:41] whoisj commented on #8409
Unless you really only want to test `null` and want to avoid unnecessary unused additional comparison costs. @gafter suggests `value is null` will do just this in C#, so this thread is basically moot.

[2016-11-28 17:50] alrz commented on #8409
@whoisj Note that `is` won't work when you want to compare two expressions for reference equality, e.g. `e1 is e2` because expressions are not allowed in patterns. Therefore, you still need to write `(obejct)e1 == (object)e2` or `object.ReferenceEquals(e1, e2)`. In both cases there would be no compiler-time warning if either `e1` or `e2` is of a value type. Also, I think `e is <constant>` such as

[2016-11-28 17:53] ManishJayaswal opened #15560 "Investigate why interactive vsix takes long to load"
RC release was accidentally reporting this as it is not a component that can not be loaded. However we should investigate to see if we can make it faster if we can repro it locally. @mattwar had mentioned to me that he as seen this as well so maybe we can get a local repro.

[2016-11-28 17:56] #9703 closed

[2016-11-28 18:16] agocke commented on #15536
However, there are currently no rules prohibiting _assigning_ an unassigned variable. I think we would have to either come up with a new type of rule for this situation, or change scoping so this is not possible.

[2016-11-28 18:28] eduelias commented on #9795
@nzall We found it at a real project. We have a migrator that checks our database configuration and creates classes of configuration in C# typed objects. This 'creator', if there's a object with a lot of properties or fields, the migrator will generate thousands of chained '.AddProperty()' calls.

We have split the calls into single-calls and fixed our migrator to split when generating classes.

[2016-11-28 19:05] jramsay commented on #15214
@Pilchie, @paulvanbrenk:  I just tested this in d15prerel 25928.00 with & without signing in to VS with my user account — I'm unable to repro so not as simple as cut & paste any code in a JS file.  That said we've had a number of customers report the same issue so other users are hitting this.

[2016-11-28 19:31] CyrusNajmabadi commented on #11324
I can't reconcile this with the code examples given.  If the parser is unware of 'macros' how could it successfully parse:

[code]

This is not legal C#.  If you tried to parse this today then the parser would 'go off the rails', creating tons of skipped tokens and missing tokens.  If that's the case, then the transformation step would have a heck of a time trying to figure out what happened.  If

[2016-11-28 19:38] BreyerW opened #15561 "Proposal: Take ref return into consideration during overload resolution"
In the past when C# team "banned" resolution on left side of members, ```ref return``` did not exist, so this specific case was never considered.

Now ```ref return``` is making his way in and i propose to consider making exception for this specific case in overloading resolution path. C# is in comfort situation since C# require ```ref``` keyword everywhere you want to call or define ref returning

[2016-11-28 19:54] heejaechang commented on #15490
this is fixed

[2016-11-28 19:54] #15490 closed

[2016-11-28 19:57] heejaechang opened #15562 "remove retry once root issue is fixed."
we have retry to workaround root issue owned by other team
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/288961

remove those retry code once root issue is fixed.
http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices.Next/Remote/ServiceHubRemoteHostClient.cs

[2016-11-28 19:58] heejaechang commented on #15041
opened tracking bug - https://github.com/dotnet/roslyn/issues/15562

[2016-11-28 19:58] #15041 closed

[2016-11-28 19:59] #15031 closed

[2016-11-28 19:59] #14993 closed

[2016-11-28 20:03] CyrusNajmabadi commented on #15363
Have tried to reduce the 170MB of allocs here https://github.com/dotnet/roslyn/pull/15541

Let me know if you run into more egregious outliers!

[2016-11-28 20:03] #15363 closed

[2016-11-28 20:05] #15530 closed

[2016-11-28 20:21] #15525 closed

[2016-11-28 20:39] jonathanvdc commented on #11324
Right. So the thing is that the EC# parser doesn't think about what it's parsing in the same way a traditional parser &ndash; like Roslyn's C# parser &ndash; does.

IIRC, the EC# grammar defines something called block-calls, and what you're seeing is really just an example of that. Basically, anything that looks like `identifier { ... }` gets parsed as a call node: `identifier({ ... })`. The parse

[2016-11-28 20:42] CyrusNajmabadi commented on #11324
...

Ok.  So there *is* new syntax defined, and the parser *does* need to be aware of this :)

---

I don't understand.  You just said the syntax for macros was: ```identifier { ... }```.  That's new syntax.  C# doesn't have that syntax today.

[2016-11-28 20:45] CyrusNajmabadi commented on #11324
By and large, neither does Roslyn's parser**.  But the parser still needs to know what syntax is valid or not.  It needs to know what language constructs are in the language.  And so it needs to know what the syntax is for macros.  Otherwise, it will be completely thrown off when it see these constructs.  I mean, you don't have to take my word for it.  Just toss the above syntax into a file and yo

[2016-11-28 20:56] jonathanvdc commented on #11324
Yes, absolutely. EC# defines new syntax. But that has nothing to do with the `ImplementNotifyPropertyChanged` macro in particular.

-------------------------

Yeah. As far as I can tell, @qwertie crafted the `identifier { ... }` syntax specifically for macros. But macros can operate on _any syntax node._ Heck, a macro can even transform syntax nodes that already have well-defined today. In fact, `

[2016-11-28 21:09] AlekseyTs commented on #15477
According to the language specification, "for each" design pattern takes a precedence.
Section 10.9.3 For Each...Next Statements:
[code]

[2016-11-28 21:09] #15477 closed

[2016-11-28 21:19] gafter commented on #15539
@MadsTorgersen I propose we discuss this (disallowing constant patterns on the right of the `is` operator) at an upcoming LDM.

@alrz `e is 3` is not the same as `e == 3`, as it can work even when the type of `e` is `object`.

[2016-11-28 21:26] gafter commented on #15561
@BreyerW I can't tell if you have a specific proposal, or you're just interested in a discussion on the topic. It is very late, but still possible, to make changes for C# 7.

[2016-11-28 21:28] gafter commented on #15561
We had intended to allow calling a ref-returning method in a value (non-ref) context. Are you suggesting we forbid that?

[2016-11-28 21:35] HaloFour commented on #15536
@agocke

This is true, and I guess there's technically no harm in enclosing and reusing the mutable pattern variable out of its scope.  It's incredibly nasty, though, and I can't imagine a legitimate use case.

[2016-11-28 21:38] gafter commented on #15553
Dup of #14785
Fixed in #14799

[2016-11-28 21:38] #15553 closed

[2016-11-28 22:08] mattwar commented on #15479
I was able to repro the 18 thousand diagnostics.  However, msbuild is also failing to build the project on the command line too.  The workspace reports that msbuild API reported a failure when processing the project file.  So I end up with a project with no references, which leads to the 18 thousand diagnostic messages from roslyn.

[2016-11-28 22:14] jasonmalinowski commented on #15517
@rchande and @Pilchie, wasn't this some known issue we're tracking somewhere else?

[2016-11-28 22:15] jasonmalinowski commented on #15556
Sounds like a project system issue somewhere.

[2016-11-28 22:24] mattwar commented on #15479
The command line failure was occurring when building the solution, failing on the package project.  If I just built the dll project then it worked fine.  Msbuild was failing via the workspace because I didn't have the redirects in my app config.  Once I added the msbuild redirects, then the project opened without error and I was able to get compilation and diagnostics..  It ends up with 10 diagnos

[2016-11-28 22:26] shaggygi commented on #12249
Understanding this issue wasn't assigned to a milestone, I wanted to give an updated that I noticed this still wasn't working in VS 2017 RC.

[2016-11-28 22:30] mattwar commented on #15479
I tried both using dev14 and dev15 (on same machine with dev14 installed).  I was able to succeed at opening the project & solution for System.Collections.Immutable.  I was able to get all the metadata references and no diagnostics (except for the hidden ones.)

[2016-11-28 22:32] mattwar commented on #15479
Note: I did also have to do a nuget restore on the project (it has project.json for references)

[2016-11-28 22:32] #15479 closed

[2016-11-28 22:36] #14881 closed

[2016-11-28 22:36] #15476 closed

[2016-11-28 22:43] whoisj commented on #8409
@alrz interesting point. I'd be happy to have a de-reference operator for comparisons, or a compare references/address operator. Either way, having something to avoid needlessly calling into costly compare routines when all one cares about is reference equality.

[2016-11-28 22:55] jnm2 commented on #14697
❤️ https://youtu.be/bRf4iNBw_Ho

[2016-11-28 22:56] jnm2 commented on #14697
❤️ https://youtu.be/bRf4iNBw_Ho

(I would feel the same, but I also know that to everyone watching, you're just a super chill dude.)

[2016-11-28 23:03] niemyjski commented on #6735
Another repo of this after talking to Austen Ott

Steps to reproduce (I wish it was simpler).

1. Clone https://github.com/exceptionless/foundatio.repositories and switch to the elastic5 branch.
2. Next, you'll need to run elasticsearch 5 locally (which requires java :\).
    1. If you have Java and the JAVA_HOME environment variable set, you can just launch elasticsearch by running the \build\Sta

[2016-11-28 23:07] #13559 closed

[2016-11-28 23:30] tmat commented on #12249
You don't need to use the full path, this is sufficient:

[code]

[2016-11-28 23:33] TyOverby commented on #15225
Hit again https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_unit64_prtest/795/testReport/junit/Microsoft.CodeAnalysis.Editor.UnitTests.Rename/InlineRenameTests/VerifyRenameTrackingWorksAfterInlineRenameCommit/

[2016-11-28 23:34] shaggygi commented on #12249
Yep, that worked and good to know.  It used to work by adding `using System.Xml.Linq;`.  Is this coming back?

[2016-11-28 23:41] tmat commented on #12249
We have deliberately changed the set of references loaded by default to match csi.exe, so that all our interactive hosts have consistent configuration:

[code]

You can modify the configuration file:

```{vs install dir}\Common7\IDE\PrivateAssemblies\CSharpInteractive.rsp```

if you'd like to load more references or import more namespaces by default.
Unfortunately, we don't currently support this

[2016-11-28 23:41] agocke commented on #15558
@dougives Thanks for reporting, this looks interesting :)

[2016-11-28 23:42] shaggygi commented on #12249
Oh, also good to know.  In that case, I will go ahead and close this issue.  Thx again for the details.

[2016-11-28 23:42] #12249 closed

[2016-11-28 23:43] bbarry commented on #15529
I think I like the idea of tight scoping on _while_ loops. A while loop today:

    while (condition)
    {
        ...
    }

compiles the same as if it was written (and occasionally it is useful to refactor to this style):

    while (true)
    {
        if (!(condition)) break;
        ...
    }

so scoping this tightly reinforces the idea that this refactoring is precisely true. This:

    whi

[2016-11-28 23:43] tmat commented on #12249
We have an issue tracking the per-user configuration if you are interested: https://github.com/dotnet/roslyn/issues/5976

[2016-11-28 23:53] alrz commented on #15489
I think there was a proposal for disallowing `e is var` because that's pointless! IMO declaration expressions are a better alternative when you just want to introduce a variable in an expression context.

[2016-11-29 00:14] HaloFour commented on #15561
Sounds like this proposal is to allow overloading based on return values but only between `ref` and non-`ref` types:

[code]

But the proposal also implies allowing this for properties/indexers and I'm not sure that CLR metadata would even allow for that.

[2016-11-29 00:57] auott commented on #6735
I investigated @niemyjski's repro steps exhibit the same issue and also verified that the legacy EE gets the correct results.

[2016-11-29 01:16] PhilBarila commented on #4224
@Pilchie, Not seeing it VS2017 RC.  Is there a hope of it going in by RTM, or does "next version of VS"  mean whatever follows 2017?

[2016-11-29 01:23] CyrusNajmabadi commented on #15355
With my change you now get:

![image](https://cloud.githubusercontent.com/assets/4564579/20692839/5b119d46-b58f-11e6-9d30-709a2fc5d1fe.png)

Which is better...

[2016-11-29 01:34] tezine commented on #3976
+1 for this feature!

[2016-11-29 02:08] CyrusNajmabadi commented on #3976
I'm willing to take this feature on.  It probably should tie into David's work for 'Symbol Specifications'.  That way you can define your own symbol specification and give it a color as well.  We'd have similar logic to 'naming style' where the first matching style would be the one we would pick.

Seems like 'Colors' is something we could add to the 'Code Style' folder in Tools|Options.  If i have

[2016-11-29 03:39] qwertie commented on #11324
Well, "macros" is not what defined new syntax. It was "Enhanced C#" (a.k.a. me) that defined the new syntax.

That's basically true, but only indirectly. So here's the whole story.

I decided that, unlike some existing languages with LISP-style macro systems, I wanted a macro system in which macros would _not_ add new syntax, because I believed parsers should be able to succeed without awareness o

[2016-11-29 05:01] #15425 closed

[2016-11-29 05:06] CnSimonChan opened #15570 "Inconsistent formatting in extension methods for tuples"
**Version Used**:

Latest `master` branch

Visual Studio 2015 Update 3

**Steps to Reproduce**:

Suddenly there is an idea in my head: *Can I `await` on a tuple of multiple tasks, then get their results with deconstruction?* So I wrote this extension method:

[code]

However, when I invoke the *Format Document* command, I noticed one thing: **The space after `this` keyword is missing**

[2016-11-29 05:28] agocke commented on #14163
The root cause of this bug seems to be that the symbol key serialization does not work for local functions.

[2016-11-29 05:38] CnSimonChan opened #15571 "Cannot load debug symbols for Roslyn DLLs"
**Version Used**:

Visual Studio 2015 Update 3

**Steps to Reproduce**:

1.  Clone this repo.
2.  Run `Restore.cmd` and `msbuild /v:m /m Roslyn.sln`
3.  Run `devenv /rootsuffix RoslynDev`
4. Start another Visual Studio, Attach to previous `devenv.exe`
5. Open `Modules` window, try load symbols for `Microsoft.CodeAnalysis.*.dll` by selecting from `Binaries\Debug\Dlls\*\Microsoft.CodeAnalysis.*.pdb`

[2016-11-29 06:52] CyrusNajmabadi commented on #11324
...

If you defined new syntax for macros... then macros did indeed define new syntax.

c# does not contain this grammar production.  In order for the c# parser to parse out macros, it would need to understand this new syntax.  I do not see how we can do macros (like you do them) without defining new syntax here.

[2016-11-29 06:57] OlivChu commented on #3976
@CyrusNajmabadi That's great! Hope to see it soon.

[2016-11-29 06:58] CyrusNajmabadi commented on #11324
There is a tension here.  We've avoided overlapping things when there are significant deviations between the forms.  For example, namespaces can have dotted names.  The rest can't.  If the node supports dotted names here, that means that all downstream consumers either need to figure out what to do when they encounter a dotted name in any of these other entities.  Alternatively, the parser might n

[2016-11-29 07:03] CyrusNajmabadi commented on #11324
Finally, i guess i'm just not seeing what purpose macros actually serve over the SourceGenerator proposal.  As you've mentioned, they cannot introduce new syntax.  So all they can do is take existing syntax and manipulate it, to produce new syntax.  But that's what SourceGenerators did.   That's something Roslyn is optimized for, as it allows very extensible transformation of Syntax.

The problem

[2016-11-29 08:18] alrz commented on #8409
Not sure if there is any ambiguity in allowing simple expressions (e.g. variable ref)  in patterns. In that case we can reuse `is` for this purpose and it covers almost all use cases for reference equality check.

[2016-11-29 09:08] BreyerW commented on #15561
Exactly what @HaloFour said.

However, given that you already support implicit dereference to non-ref variable (which, admittely, i didnt taken into account) there may be little to no point in my proposal. Maybe for old libraries that must have at least modifications as possible and favor additions to modifications when upgrading to newer c# but thats all.

Im personally concerned about collection

[2016-11-29 09:41] bkoelman commented on #15559
Yes, I've run into that too in the past. Unfortunately it is nowhere documented that updating packages is tricky when using roslyn.

The problem is that the roslyn assemblies (and dependencies) are already loaded in VS before your vsix is loaded. Whatever your vsix then references is ignored due to binding redirects; your vsix will run against the assemblies that ship with VS. Note this varies per

[2016-11-29 09:44] weltkante commented on #2487
Actually this issue makes it sounds like the impact isn't so bad. It's really bad. So I don't quite see why this keeps getting pushed back:

When I type (or paste) preprocessor directives like #if conditions the IDE unindents all #region directives while the preprocessor directive I'm typing is not yet complete. The damage to the document is never repaired, so after I'm done writing the preprocess

[2016-11-29 10:16] diryboy commented on #3976
It's nice to have so many options, but I find it too distractive to have too many colors and styles in code. And the line between useful and distractive would be different for everyone. Once people find a lot of options are able to change, they either spend a lot of time tweaking themselves, or find a place to download something shared, maybe then do a little changes and move on.

Maybe we need to

[2016-11-29 10:53] alrz opened #15573 "Proposal: Automatic documentation for potential exceptions"
Currently you can carelessly throw exceptions without any documentation for the client unless you  manually write `<exception>` doc tags above the method. I suggest to automate this so that all potential exceptions would be added to method's doc automatically and Quick Info can show them.
[code]
->
[code]
It would be also helpful if a code fix add those tags to include the descriptions of the reas

[2016-11-29 11:13] siddytopcoder opened #15574 "msbuild issue"
Error MSB4019: The imported project "C:\Users\gautams\Downloads\MSBuild.Community.Tasks.v1.5.0.214\MSBuild.Community.Tasks.Targets" was not found.

[2016-11-29 11:48] qwertie commented on #3388
@jmarolf sorry for not doing that, I moved on to other work.

@davkean Thanks. So `master` requires VS "15" to build? The [instructions themselves](https://github.com/dotnet/roslyn/blob/master/docs/contributing/Building,%20Debugging,%20and%20Testing%20on%20Windows.md) still say "VS 2015 Update 3".

If all I have is VS 2015, I should be able to build the `microupdate` branch, right? However, oddly

[2016-11-29 12:09] svick commented on #15573
How do you figure out which exceptions can be thrown in the presence of arbitrarily complex `catch` clauses and rethrow statements?

Consider e.g.:

[code]

Here, the compiler wouldn't be able to figure out which exception can actually be thrown by the method and it will either report exceptions that won't be thrown by the method or not report exceptions that can be thrown (or both).

I'm not sure

[2016-11-29 12:12] HaloFour commented on #15561
@BreyerW

Existing collections couldn't have their indexers modified as that would be a breaking change.  A `ref` type is actually a different type to the CLR.  My assumption is that the majority of existing collections would be unsuitable for ref indexers due to their internal implementations anyway.  Even `List<T>`, which is backed by an array, runs the risk of orphaning any ref it would return

[2016-11-29 12:22] jnm2 commented on #8409
I think `a is b` is the best possible choice over anything I've seen, if it's still open to us.

[2016-11-29 12:24] martaver opened #15575 "Propose compiler support for currying/partial application of delegates/methods."
Currying or partial application (PA) in C# can be achieved quite handily with a few extension methods, such as:

[code]

However, this is only usable where the generic types of the parameters and return values are exposed via the set of Func or Action delegates. If I have a delegate with the equivalent signature, I can't apply either technique.

It would be useful to be able to convert a delegate/

[2016-11-29 12:40] filipw commented on #15557
@tmat not sure if this is related, but I'd like to take advantage of something like [skipRestirctedVisibility](https://referencesource.microsoft.com/#mscorlib/system/reflection/emit/dynamicmethod.cs,102) on `DynamicMethod` for scripts. (kind of like the hypothetical `#r!` feature, where I can access internals/privates from imported assembly)

I can successfully compile the script code with Roslyn

[2016-11-29 13:03] alrz commented on #15573
@svick This will work on static type of exceptions, so your method will likely throw an exception of type `Exception` plus whatever `AnotherMethod` throws, if any. I think that's enough for developer to *know* that's a potential failure. If you want more specific exception types, you should wrap, not rethrow.
[code]
This method will likely throw an exception of type `ExceptionC` plus whatever `Ano

[2016-11-29 13:06] jnm2 commented on #3388
I would like updated VS2017 instructions as well. Struggled last night. `version-1.3.2` built fine via `cibuild.cmd`, but VS crashes when I open the solution.

[2016-11-29 13:09] jnm2 commented on #15573
Statically, if you know what exception types `F` and `G` and `AnotherMethod` can throw, even `catch (Exception) { throw; }` will only every throw one of those known types.

[2016-11-29 13:13] alrz commented on #15573
@jnm2 Sorry, human mistake. :D That's why I like this to be generated by the compiler.

[2016-11-29 13:30] jnm2 commented on #15573
I like this proposal. It would be great to have a warning for missing exception documentation and a quick fix to insert all individually known exceptions, just like how `<params>` works today.
I'm using this which might interest you: https://github.com/CSharpAnalyzers/ExceptionalReSharper
But if it's implemented officially and without the ReSharper dependency, all the better.

[2016-11-29 13:41] DavidArno commented on #15573
I'm confused how you would automate this and where the code fix comes into it. Your code example implies one could remove these comments and have them auto-generated somehow so that they appeared in Quick Info. But a code fix implies they'd be added to the source if missing.

Could you clarify, please?

[2016-11-29 13:47] alrz commented on #15573
@DavidArno The explicit exception documentation (which can be added by the code fix) is only required if you want to write descriptions of the reasons why these exceptions could be thrown (inside `<exception>` tag). Otherwise, it should report potential exception types in Quick Info without any xml doc tag.

[2016-11-29 14:13] jnm2 commented on #15573
As a consumer I'd like this automated feature but the problem could be that I'd rely too heavily on it having been generated. As a consumer, I think it would be better if the static analysis was done by the IDE and presented *in addition* to the doc comments so that you don't have to rely on the author's generation process (and version of compiler).

As an author, I want to write meaningful explan

[2016-11-29 14:15] HaloFour commented on #15575
This sounds like it would depend on #3990.  Otherwise you'd need to define those intermediate delegate types.  The compiler doesn't currently have any special awareness of the `Action<...>` or `Func<...>` delegate families.  Those delegates also don't support `ref` or `out` parameters.

The CLR doesn't currently support signature equivalence for delegate types either.  "Converting" from `MyDelegat

[2016-11-29 14:23] alrz commented on #15573
@jnm2 Most of the time just exception types suffice as one can have an idea of what exceptions could be thrown — in fact, to this day, it's not supported (#1515). Besides, in my opinion, writing documentation is a far more involved process and developers are often too lazy to do that! So, having the compiler figure out the exception types would be a big step to start. This doesn't necessarily disc

[2016-11-29 14:34] DavidArno commented on #15575
As @HaloFour mentions, the CLR doesn't allow conversion between different delegates with identical signatures. However, support around this could be added via the compiler in a trivial fashion (admittedly still needing that wrapping to occur).

For example, when encountering a new non-void delegate type:

[code]

The compiler could automatically emit a new static class with extension methods:
[cod

[2016-11-29 15:47] cston opened #15576 "EE: Use DkmClrModuleInstance.GetSymUnmanagedReader rather than GetSymbolInterface"
`GetSymUnmanagedReader` is required to support symbols for .NET Native modules.

[2016-11-29 15:49] aluanhaddad commented on #8409
I think that would be ambiguous. What if b is a type and a value?

[2016-11-29 16:08] HaloFour commented on #15573
This sounds like something that could be accomplished via an analyzer, albeit a potentially complicated one.  I've not done much work with analyzers.  Can they access the XML documentation of either referenced libraries or annotated methods within the current project?

[2016-11-29 16:14] alrz commented on #8409
@aluanhaddad Currently it is actually allowed but rhs requires to be a constant. The compiler simply prefer the type to retain backward compatibility.
[code]
Renaming the type would cause it to be bound to the constant. However, there is chance that constant patterns would be disallowed in the rhs of the is operator (#15539).

Anyways, so it *is* possible for the compiler to resolve the ambiguity

[2016-11-29 16:19] Pilchie commented on #15571
The random timestamps are an expected side effect of the determinism compiler option, since we know write a hash to the timestamp field of the dll.

I believe that in step 2 we are not deploying the newly built extensions because our build process now assumes VS 2017 RC.

Tagging @jaredpar for confirmation.

[2016-11-29 16:19] #15571 closed

[2016-11-29 16:21] alrz commented on #15573
@HaloFour Sure, but at best they can suggest to add xml doc comments. As a language feature, it would be totally transparent to the user. Otherwise you need to manually run the fix to update xml docs every time code changes.

[2016-11-29 16:22] HaloFour commented on #15575
Source generators don't require partial classes.  That's only necessary if the generated source is going to emit a partial class in order to add/replace existing members.

And you only cared about the `Func<...>` and/or `Action<...>` family of delegates then you wouldn't need any additional compiler support, just a bunch of extension methods.

[2016-11-29 16:24] HaloFour commented on #15573
@alrz

You'd need to enable XML docs for any of this to work as described anyway.  Seems like a poor-man's implementation of checked exceptions.  If we're going to wade in that direction I'd rather see it "done right", although if I recall the team expressed no desire to implement checked exceptions.

[2016-11-29 16:48] alrz commented on #15573
Since this is just an informative analysis and there would be no guarantee in the same sense of checked exceptions, I'd agree that it should not be built into the compiler. I don't know if Roslyn provides any mechanism to do this transparently along the compile process.

[2016-11-29 17:02] DustinCampbell opened #15579 "BasicIntellisense VSI test is broken"
Scenario: XML doc comment intellisense

https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p0_open_prtest/27/

From the expected and actual results, it looks like #15552 caused this regression.

[2016-11-29 17:23] IlyaBiryukov commented on #15214
Here is the repro:
1.	Launch VS and sign in with vslab2@microsoft.com
2.	Create one JS/TS APP
3.	Open one js/ts file
4.	Paste any info in js/ts file or press "Ctrl+V"

[2016-11-29 17:35] MgSam commented on #15573
I think a problem with this is that any such list of exceptions that Roslyn might generate would either be noisy or preclude important cases. NREs, StackOverflowException, OverflowException can potentially happen anywhere.

Another problem is exceptions that are re-used for different things for different purposes- such as InvalidOperationException. The IDE can tell you that this might be thrown bu

[2016-11-29 17:42] HaloFour commented on #15573
@MgSam

I don't think that's necessarily a problem.  Java checked exceptions work in the same manner.  You're expected to document those exceptions that would be thrown due to a breakdown in the method logic, not those that might result due to programmer error or virtual machine failure.

[2016-11-29 17:58] alrz commented on #15573
@MgSam

I'm only talking about explicitly thrown exceptions, not the ones that "potentially happen anywhere." Since .NET framework does provide this information, it would flow out of your code and will be useful for others.

That's why I think that a code fix would not be the right mechanism to implement this. It would be only useful when you want to write full explanation of *why* each exception

[2016-11-29 18:02] HaloFour commented on #15570
Formatting issues aside you might find the following implementation preferable since it doesn't require dispatching another `Task` onto the threadpool:

[code]

[2016-11-29 18:10] alrz commented on #15573
If they used `Single` it *will* fail. If it's not intended to fail, they should have used `FirstOrDefault`. That would be of course a bug, unless it is supposed to bubble up the stack. In that case, it should've been documented. In any case, the auto generated exception tag, doesn't make it harder, if not easier, to find the potential bug! At least, it will help you to investigate the cause and up

[2016-11-29 18:14] tannergooding commented on #12118
Closing. This was completed some time back.

[2016-11-29 18:14] #12118 closed

[2016-11-29 18:29] JoshVarty commented on #14462
There is a related issue when dragging items from the ClassView onto things like UML panes. In VS2015 RTM when you dragged an item the clipboard would have contained "Test\\ClassLibrary5". As of VS2015 Update 1 the clipboard now appears to contain just "ClassLibrary5".

[2016-11-29 18:44] tmat commented on #15559
@philippe-lavoie Can you be more specific about the scenario? What version of Visual Studio are you using. What version of Roslyn package does your package reference? What other dependencies does your package have?

[2016-11-29 19:03] #15298 closed

[2016-11-29 19:03] #15322 closed

[2016-11-29 19:20] #12787 closed

[2016-11-29 19:53] orthoxerox commented on #15573
Have you read Joe Duffy's [blog post](http://joeduffyblog.com/2016/02/07/the-error-model/)? He argues a single `[Throws]` provides enough information for the consumers of your method.

[2016-11-29 20:00] eyalsk commented on #15573
@alrz I like the idea of making exceptions more _discoverable_ but I don't like the xml comments part at all.

[2016-11-29 20:01] alrz commented on #15573
@eyalsk That's why I'm looking for a *transparent* solution that doesn't require developers to opt-in.

[2016-11-29 20:09] alrz commented on #15573
@orthoxerox I suppose `throws` in Swift and `noexcept` in C++ follow the same sentiment. But those would be a breaking change in C# because currently there is nothing to show that if the method throws or not.

[2016-11-29 20:17] aluanhaddad commented on #8409
@alrz that makes complete sense, thank you very much for the explanation.

[2016-11-29 20:33] jnm2 commented on #15573
@alrz

I think that's a good goal but I also think XML doc comments is the wrong place to do it. Possible exceptions should be analyzed by Visual Studio along with IntelliSense and other metadata in my opinion. That is the only way you can get the guarantee you're looking for.

[2016-11-29 20:40] alrz commented on #15573
@jnm2 As I said in the [comment above](https://github.com/dotnet/roslyn/issues/15573#issuecomment-263626848), if we take this out of the compiler, it will no longer depend on the compiler version. xml docs would just be the underlying mechanism to persist this information.

[2016-11-29 20:41] Neme12 commented on #15539
Agreed 100%. To me this not only seems like unnecessary complexity, confusion for beginners, more inconsistency and ways to do essentially the same thing, but also like abuse of the is operator which has always meant instanceof in C#, and never any kind of comparison.

[2016-11-29 21:09] jcouv commented on #14843
There are multiple cases when a constraint is considered satisfied. One of them is an identity conversion (as depicted in the orignal scenario above), but another is an implicit reference conversion (illustrated by scenario below, where `I2` derives from `I1`, the constraint is on `I1` but the type parameter is using `I2`).

From discussion with Aleksey, we think it is not worth addressing the sim

[2016-11-29 21:13] jcouv commented on #14841
@AlekseyTs, no error is reported in the related scenario of type unification through a base class. I'll stop by to discuss the implications for this issue.

[code]

[2016-11-29 21:24] qwertie commented on #3388
@devkean The instructions say "Run Restore.cmd in the command prompt to restore NuGet packages." but there is no such file in master.

Also fun, VS "15" still shows the same error about "ToolsetCompilers" from 18 months ago and NuGetRestore.ps1 is still broken (guess I should have filed that issue). VS "15" Preview 4 doesn't support Roslyn.sln? Oops, that's what I just installed.

[2016-11-29 21:39] #15066 closed

[2016-11-29 21:39] #15355 closed

[2016-11-29 21:40] heejaechang commented on #14978
fixed https://github.com/dotnet/roslyn/pull/15566

[2016-11-29 21:40] #14978 closed

[2016-11-29 21:51] khionu opened #15587 "CSharpScript.RunAsync() fails when providing a Globals object"
**Version Used**: `Microsoft.CodeAnalysis.Scripting 1.3.2 and 2.0.0 RC (Issue occurs with .NET Core 1.1.0 but not 1.0.1)

**Steps to Reproduce**:

1. Use `CSharpScript.RunAsync()`, providing Globals

**Expected Behavior**:
Script is compiled and executed.

**Actual Behavior**:
[InvalidCastException](https://gist.github.com/khionu/a69ab39950035e9533a0484d7627671d)

**Additional Notes**:
I am unsure

[2016-11-29 21:57] Imisnew2 opened #15588 "Regression from csc (C# 5): Type <type> is defined in an assembly that is not referenced."
**Version Used**:
I used the following versions:
* .NET Core 1.1
* .NET Core Tools MSBuild "alpha"

Note that the below steps are using the .NET Core Tools MSBuild "alpha" version, although you can tweak them easily for any .NET Core version.

**Steps to Reproduce**:
1. Create the following source file:
`
using Microsoft.DirectX.Direct3D;
class BadCS0012
{
    void Test(Device d)
    {
        d.V

[2016-11-29 21:58] tmat commented on #15587
C# Scripting is currently only supported on .NET Framework 4.6+, not on .NET Core. We'll look into issues on .NET Core at some point but unfortunately I can't give any estimates on time frame.

See https://github.com/dotnet/roslyn/issues/15352 for details.

[2016-11-29 21:58] #15587 closed

[2016-11-29 22:02] gafter opened #15589 "Bad comment"
I found the following in the C# compiler.

[code]

But the ECMA standard 13.11.1 covers this:

The comment should be corrected.

[2016-11-29 22:35] CyrusNajmabadi commented on #6702
Looked into this:

This is currently non-trivial to do.  ExtractMethod depends *heavily* on the analysis of the DataFlowPass.  And the data-flow analysis returns very coarse information.  Specifically, it just tells us if "arguments" is 'read' or 'written' the extract method point, and if it is 'written' in the extract  method point.  In this case, data-flow tells us that the "arguments" *is* writ

[2016-11-29 22:37] svick commented on #3388
@qwertie [There is.](https://github.com/dotnet/roslyn/blob/master/Restore.cmd) I think you're using [your very old fork](https://github.com/qwertie/roslyn), it's consistent with the list of branches you showed.

[2016-11-29 22:45] CyrusNajmabadi commented on #11700
@rchande I think you're doing htis already?

[2016-11-29 22:51] CyrusNajmabadi commented on #6702
From talking ot @gafter , it's probably more precise to say: we want to know if it was a write because it was the "receiver of a call".

One way we could do this would be if we had a way to get a DataFlowObject where we passed in callbacks that allowed us to control what writes we cared about and what we didn't care about.

[2016-11-29 23:01] gafter commented on #15574
What does this have to do with Roslyn?

[2016-11-29 23:03] jnm2 commented on #15573
@alrz The reason why I think xml docs are not a good underlying mechanism to persist this information is that there is no guarantee that the exception information is reliable. Maybe I didn't use that latest version of Visual Studio and the exception information is misleading if you were expecting it to be generated in general.
It would be much higher fidelity to calculate all this and augment the

[2016-11-29 23:04] gafter commented on #15588
Likely dup of #9370

[2016-11-29 23:26] Imisnew2 commented on #15588
@gafter
FWIW, there are no methods here to perform overload resolution with (unless you consider `set_VertexFormat(...)`):
* CustomVertex is a `sealed class`.
* TransformedColoredTextured is an inner `struct`.
* Format is a `const VertexFormats` field.
* Finally, VertexFormats is an `enum`.

Perhaps there's something I'm not immediately noticing w.r.t. member / overload resolution which causes thi

[2016-11-29 23:38] mavasani opened #15593 "Add SemanticModel.TryGetSpeculativeSemanticModel overload for AsNewClauseSyntax"
Currently, there is no good way to speculate on syntax nodes within an AsNewClauseSyntax in VB. IDE features such as rename, simplification etc. which need to speculate within these nodes have to do an ugly workaround of simulating an EqualsValue node with inner expression of AsNewClause and speculating on that, and then updating the use sites of the generated speculative model to react to this tr

[2016-11-29 23:39] mavasani commented on #15593
Tagging @dpoeschl @AlekseyTs

[2016-11-29 23:44] qwertie commented on #3388
OMG @svick, I am humbled that you correctly diagnosed my inflamed moronal lobe! Thank you!

[2016-11-30 00:36] qwertie opened #15595 "Differences between SourceGenerators and EC# macros"
To focus the [conversation](https://github.com/dotnet/roslyn/issues/11324) with @CyrusNajmabadi about [SourceGenerators](https://github.com/dotnet/roslyn/blob/master/docs/features/generators.md) and macros...

I feel like there are multiple important differences between them, but let me first clarify:
- Where do SourceGenerators fit in the [compilation pipeline](https://github.com/dotnet/roslyn/wi

[2016-11-30 00:51] CyrusNajmabadi commented on #15595
Tagging @cston

[2016-11-30 00:58] CyrusNajmabadi commented on #15595
It's my understanding that SourceGenerators can run on SyntaxTrees to produce new SyntaxTrees.  They have access to the Compilation though, so they can get at any semantic data they need.  There is no concept of 'pipeline' as that's not something we expose to the world.  Our APIs present a model where everything is always up to date.  We just compute things lazily to make that efficient.

Yes.  Be

[2016-11-30 01:18] CnSimonChan commented on #15571
@Pilchie I did a recompilation and yes it didn't deploy them to the experimental instance.

But I can not deploy them with the .vsix package either, VS reports that the XML is not correctly formatted.

Does it mean `master` branch only supports VS 2017 now?

[2016-11-30 01:20] Pilchie commented on #15571
It's currently still possible to build and run tests with VS 2015, but yes, running the bits in VS requires VS 2017 RC now.

Unfortunately, it became too difficult to maintain support for both.

[2016-11-30 01:38] SLaks opened #15598 "Compiler: Unused lambda emits unused method in release mode"
**Version Used**: 0694d5ccc05b7e1cc37c82a1c15c8f9fc23e3775

[code]

`M()` (correctly) compiles to a completely empty method.
However, it still generates a method for the lambda, even though that method is never referenced.

http://tryroslyn.azurewebsites.net/#b:master/f:r/K4Zwlgdg5gBAygTxAFwKYFsDcAoADsAIwBswBjGUogQxBBgGEYBvbGNmANwHswATGALIAKAJTNW7SQEFSyMFwgwqMALwxRqgHyDROSQF9s+oA===

If the lambda

[2016-11-30 01:39] CnSimonChan commented on #15571
I know, thank you.

[2016-11-30 01:51] SLaks opened #15599 "Compiler: NullRef on local method that uses instance and scoped local method"
**Version Used**: 0694d5ccc05b7e1cc37c82a1c15c8f9fc23e3775

[code]

The compiler throws a NullRef:

http://tryroslyn.azurewebsites.net/#b:master/f:r/A4VwRgNglgxgBDCBDAziuBhOBvAUHAuKAOwBcjiVSliYBTAbn0NEljgDcB7KAEzgAqdKgAoAlDmaFCJcgFlxcALwA+ClRr0m06Xh36K5CFxhIIyuAAZtB6WC5dzcgEyLVcY6fNKlcBWJt9AF8pOBCgoA

[2016-11-30 02:18] OmarTawfik commented on #14507
Alright. Spent time today trying possible scenarios, no repro. Please re-open if you do.

[2016-11-30 02:18] #14507 closed

[2016-11-30 02:29] qwertie commented on #15595
The documentation says "Source can be added to the compilation but not replaced or rewritten." If existing code cannot be rewritten, or at least hidden from later stages of the compiler, then ultimately it must be semantically valid or there will be a compiler error.

Is Roslyn somehow optimized to find attributes so that Source Generators triggered by attributes can efficiently locate code they c

[2016-11-30 05:01] gafter opened #15601 "Suggestion: provide better SemanticModel/IDE experience inside broken foreach declaration"
[In a code review it was suggested](https://github.com/dotnet/roslyn/pull/15548#discussion_r90164938) that we should bind and give good SemanticModel (and therefore IDE) experience inside an expression in this context:

`foreach (AnyExpression in e) {}`

where `AnyExpression` is some expression form not legally supported in this context.

[2016-11-30 05:39] AlekseyTs commented on #15508
It feels wrong that parser now produces single type tuple types or tuples. I believe language grammar doesn't allow such syntax. I think it should add a missing comma token and missing type/expression for the second element, this is what we do for other similar situations.

[2016-11-30 05:47] m0sa opened #15603 "Make AdHoc workspaces load without having to install other packages Microsoft.CodeAnalysis.Elfie and Esent.Interop"
**Version Used**:
Roslyn - 2.0.0-rc
Composition 1.0.27

**Steps to Reproduce**:

1. Create new project
2. Install-Package Microsoft.CodeAnalysis.CSharp.Workspaces -Version 2.0.0-rc
3. call `new AdhocWorkspace(DesktopMefHostServices.DefaultServices);`

**Expected Behavior**:
The Workspace gets created with successfully loaded MEF parts from available assemblies.

**Actual Behavior**:

The WithAssem

[2016-11-30 06:01] gafter opened #15604 "Add tests for declarations appearing in a nameof argument"
Since it is *possible* to write a general expression inside of a `nameof()`, such as an expression `(int x, int y)`, `(M(out var x), var (y, z) = e)` etc which are tuple expressions containing declaration expressions, we may want the SemanticModel to work for these declaration expressions and their types, etc. I do not believe we have SemanticModel support for such expressions today, or tests for

[2016-11-30 06:45] gafter opened #15605 "ForEachLoopBinder should use ExpressionVariableFinder"
Now that we have generalized deconstruction, it is possible for the parser to produce an approximate syntax tree for something like

foreach ((M(out var x1, e is string x2), x3) in e) {}

So that we properly handle the scopes of the declarations for x1 and x2, we should use `ExpressionVariableFinder` to build the locals in `ForEachLoopBinder`.

[2016-11-30 07:08] gafter opened #15606 "ForEachLoopBinder should bind bad expressions in the variable part"
Now that we have generalized deconstruction, it is possible for the parser to produce an approximate syntax tree for something like
[code]
So that we properly handle the scopes of the declarations for x1 and its use, we should bind such subexpressions and store them in the initial bound tree. We should also add tests to confirm that this works. We do not currently have bound nodes that can easily

[2016-11-30 07:11] gafter commented on #15606
See `MixedDeconstruction_06` in `CodeGenDeconstructTests.cs`.

[2016-11-30 07:17] gafter commented on #15605
See `MixedDeconstruction_05` in `CodeGenDeconstructTests.cs`.

[2016-11-30 07:48] gafter commented on #15508
@AlekseyTs Right you are. It is actually a bug in the IDE code. Revising the description. Tagging @CyrusNajmabadi and @jcouv who were the most recent authors of that code.

[2016-11-30 07:56] gafter commented on #15508
See #15548 for the PR that skips the affected tests.

[2016-11-30 08:05] CyrusNajmabadi commented on #9346
Have started a concersation with the editor about this. The primary issue is that the editor forces sorting by name when you have the same type of match.  i.e. between two CamelCase matches, we will always get name sorting.

I'm discussing mechanisms with there where the LS can supply an override for this so we can dictate what we want the actual order ot be.

[2016-11-30 09:03] gafter commented on #15606
This works today in the SemanticModel, but not because we cache the initial bound tree. We end up recomputing pieces of it, because we never bound it in the first place. We should.

[2016-11-30 09:10] gafter commented on #15588
@Imisnew2 Yes, I see that. Nevertheless, I suspect the root cause may be the same, and may have nothing to do with overload resolution.

[2016-11-30 11:52] whut commented on #2981
Just a note about the initial suggestion from @chrisaut  on introducing:

[code]

There should be also an interface like:
[code]
And the Task<T> should implement it using explicit interface method implementation, just like the .NET collections do in such scenario. This way I could easily consume task result without knowing what the T is. I think this should be a general design rule for generic typ

[2016-11-30 13:35] alrz commented on #15538
I did a quick scan on roslyn and corefx repos, turns out, the subsequent code of all negated `is` operators that did a cast afterwards, is not reachable. In other words:
[code]
And it actually makes sense. because otherwise it's a potential bug!

So, they all can be rewritten to the following to avoid double cast (#14239):
[code]
@CyrusNajmabadi's example `if (!(x is Y z))   { z = something; }` is

[2016-11-30 13:59] paulomorgado commented on #15538
I don't support this proposal in isolation. Unless the same happens with **if**, **while** and such, Like variables introduced in the **for** statement.

If not, then it will just be confusing!

[2016-11-30 14:09] alrz commented on #15538
@paulomorgado

I think so. A scope at an expression level *will* be confusing. As I said. this issue is not specific to ternary operators. For example, there is absolutely no point for `t` in `return e is T t && t.Foo` to leak.

[2016-11-30 15:01] asvishnyakov opened #15607 "Allow "unsafe fixed" statement or unsafe keyword skipping"
I have a project, where I need to work with unsafe memory buffers. So I have code like this in my project multiple times:

[code]
Please, make it shorter:
[code]
or allow to skip `unsafe` keyword (why we need it, if project has enabled unsafe context in settings?)

[2016-11-30 15:30] mburbea commented on #15607
You can place the unsafe keyword on the class, or the method in question is that not sufficient?

[2016-11-30 16:13] pmunin commented on #2136
One more feature request: Nested types everywhere. Right now developer can create nested type only in Classes and Structs. Why not to allow all the types to have nested types, especially Interfaces? It would be nice to be able to refer some enum or datacontract class/interface declared in the service interface.

[2016-11-30 16:25] HaloFour commented on #2136
@pmunin

I'd suggest creating a new proposal for this.  The comments of this issue aren't scoured for work items.

Note that nested types within interfaces were mentioned as a part of #2238, but not under their own proposal.  There is no limitation against this in the CLR, and VB.NET has always supported it.  Seems that not permitting such nested types was a design decision in C#.  It is explicitl

[2016-11-30 16:54] HaloFour commented on #15607
So this proposal is to change the syntax of *unsafe-statement* to the following:

Since *embedded-statement* already includes *block* it wouldn't be necessary to include both.  That should allow for the `unsafe` keyword to be immediately followed by another statement.  Aside from `fixed` this might also be useful when invoking an unsafe method without having to make the entire method unsafe or to

[2016-11-30 17:01] rchande opened #15609 "ObjectDisposedException invoking Find All References"
Open Roslyn.sln, go to  SymbolCompletionItem.cs and invoke FAR on the first overload of `Create` (at the top of the file). Then invoke FAR on the second overload of `Create` (second method in the file).

Expected: FAR succeeds.
Actual: VS crashes with ObjectDisposedException:
Dump at `\\mlangfs1\public\rchande\farcrash.dmp`
This on the RC build we gave to MVPs.
[code]

[2016-11-30 17:02] rchande commented on #15609
cc @heejaechang @CyrusNajmabadi

[2016-11-30 17:19] pmunin commented on #2136
One more request (please point to proposal if exist): Field initializers should have "this" in context. In many cases we developers still have to use constructor to initialize values, just because we don't have access to "this" in field initializers. Example of expected behavior:

[code]

Foreseeing the question about the order of field initializers execution and how to know which fields of "this"

[2016-11-30 17:29] ryanlederman commented on #12918
I added

`<PropertyGroup>
    <NuGetTargetMoniker>.NETStandard,Version=v1.6</NuGetTargetMoniker>
  </PropertyGroup>`

at the end of my csproj, before the </Project> and after the comment about adding tasks, w/ VS2015.3 and targeting netstandard1.6. It finally compiled for me w/ VS.

[2016-11-30 17:31] thomaslevesque commented on #2136
It doesn't matter which fields are already initialized; the constructor hasn't run yet, so `this` itself isn't considered initialized at this point, and is not safe to manipulate. If you can pass this to another class as in your example, `Node` will receive a reference to a `MyGraph` instance whose constructor hasn't run yet, but it won't know that, so it's likely to do something unsafe with the o

[2016-11-30 17:38] HaloFour commented on #2136
@pmunin

Also mentioned in #2238.  This is another place where VB.NET differs as it does allow referencing `Me` in field initializers.  But VB.NET takes a different tact that C# in that it inlines the field initializers after the call to the base constructor whereas C# inlines them before that call.  As such `this` doesn't exist as the type hasn't been initialized.  This is important as in C# if t

[2016-11-30 17:41] pmunin commented on #2136
@thomaslevesque I understand how it works right now. If it was not clear enough from my post - my point is that current implementation is not user-friendly enough (where developers are the users of you platform), because it does not cover specified scenarios, which I believe are not too rare. I suggested how you can change your platform to cover it. I don't see any feasibility issue that stops to

[2016-11-30 17:50] thomaslevesque commented on #2136
Oh, it would certainly be feasible. But it might be a breaking change, and there was a good reason for the initial design decision (see these [blog](https://blogs.msdn.microsoft.com/ericlippert/2008/02/15/why-do-initializers-run-in-the-opposite-order-as-constructors-part-one/) [posts](https://blogs.msdn.microsoft.com/ericlippert/2008/02/18/why-do-initializers-run-in-the-opposite-order-as-construct

[2016-11-30 17:52] pmunin opened #15610 "Proposal: Access to "this" in field initializers in C#"
Problem: In many cases we developers still have to use constructor to initialize values, just because we don't have access to "this" in field initializers. Example of expected behavior:

[code]
This makes constructor a "semantic bottleneck" and trashes it up with some unrelated pieces of code that should be there near those fields declaration.

Foreseeing the question about the order of field init

[2016-11-30 17:53] jnm2 commented on #2136
@thomaslevesque

How is this any different from putting the initializer in the ctor body? If anything, I think this makes his point stronger. =)

[2016-11-30 17:56] jnm2 commented on #2136
Fwiw `this` access in initializers has my vote. Few things are as consistently aggravating as having to refactor into the ctor body.

[2016-11-30 17:57] pmunin commented on #2136
just created proposal #15610

[2016-11-30 17:57] HaloFour commented on #2136
@jnm2 @pmunin

Seems it all boils down to the following:

Allowing for field initializers to execute after the base constructor would nullify this guarantee.  So any argument would have to demonstrate why that guarantee is no longer necessary.

[2016-11-30 17:58] jnm2 commented on #15610
`this` access in initializers has my vote. Few things are as consistently aggravating as having to refactor into the ctor body. The ability to create delegates to instance methods itself will be tremendous!

I can't think of a single case where it matters to me if the initialization is inlined before or after calling base.

[2016-11-30 17:59] HaloFour commented on #15610
Copying comments to this proposal.

@pmunin

Also mentioned in #2238.  This is another place where VB.NET differs as it does allow referencing `Me` in field initializers.  But VB.NET takes a different tact that C# in that it inlines the field initializers after the call to the base constructor whereas C# inlines them before that call.  As such `this` doesn't exist as the type hasn't been initializ

[2016-11-30 18:04] jnm2 commented on #15610
@HaloFour If you don't call virtual methods in constructors, which ReSharper gets big and loud about so it's hard to miss, this problem goes away in almost every case.

We already are familiar with readonly fields being observed null, because we already put so many initializers in the constructor body just because we can't put them all in field initializers! =D

[2016-11-30 18:04] HaloFour commented on #15610
Maybe an alternative:  https://github.com/dotnet/roslyn/issues/15484#issuecomment-262566638

[2016-11-30 18:07] jnm2 commented on #2136
@HaloFour [answered](https://github.com/dotnet/roslyn/issues/15610#issuecomment-263947387) your copy.

[2016-11-30 18:09] philippe-lavoie commented on #15559
I'm authoring a VSIX extension in Visual Studio 2015. The full packages.config is shown below. Please note, that this is the working version, change 1.1.37 to 1.2.0 or 1.3.0 for that System.Collections.Immutable package and everything breaks.

<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis" version="1.2.2" targetFramework="net462" />
  <package id="Microsof

[2016-11-30 18:09] jnm2 commented on #15484
@eyalsk No worries, I've been making an effort not to do the same =)

[2016-11-30 18:10] heejaechang commented on #15609
this should be fixed in latest master. what drop are you using?

[2016-11-30 18:10] HaloFour commented on #15610
Possible alternative:   https://github.com/dotnet/roslyn/issues/15484#issuecomment-262566638

@jnm2

ReSharper doesn't like it, and the design guidelines recommend to not do it, but it's still legal syntax.  I have seen code that depends on this behavior, despite the dry heaves that it induces.

That said, the compiler could intelligently choose which fields are initialized prior to the base const

[2016-11-30 18:11] jnm2 commented on #15610
@HaloFour I want... both? :D I don't see how refactoring field initializers when that take a dependency on `this`  into an `init` block is any better than having to refactor them into a ctor body.

[2016-11-30 18:12] HaloFour commented on #15610
@jnm2

Not claiming that it is, just keeping similar ideas together.

[2016-11-30 18:17] jnm2 commented on #15610
@HaloFour

I'd be in favor of that.

Here's something I don't understand, maybe you can help me. Why can't I refer to `this` and create a delegate from `this.InstanceMethod` before the base ctor runs? Does the CLR reference itself not exist? No, because otherwise fields couldn't be set. Does the vtable entry for `this.IsntanceMethod` not exist? Obviously it does.

[2016-11-30 18:19] HaloFour commented on #15610
@jnm2

The reference exists, but the CLR considers it uninitialized.  Attempting to use that reference produces unverifiable code.

[2016-11-30 18:21] pmunin commented on #15610
@HaloFour
Essentially it comes down to changing the logic from:
[code]
to:
[code]

Like Class() constructor deal with unassigned readonly fields, the sameway field initializers will deal with it. Field initializers should be just a parts of actual constructor executed right before Class(this);

[2016-11-30 18:21] jnm2 commented on #15610
Can you expand on the logic is behind this? I don't see a significant difference between the base ctor not having finished and the subclass ctor having finished.

[2016-11-30 18:26] jnm2 commented on #15610
I'd better not mention how I've run mass unit tests on project classes deriving from `System.Windows.Forms.Form` and `Control` using `FormatterServices.GetUninitializedObject`, invoking the most derived constructor that has no parameters using reflection, and invoking every `InitializeComponent` on the way back.

I really hated DataSourceUpdateMode.OnValidation. xD

[2016-11-30 18:31] HaloFour commented on #15610
@pmunin

That would be a breaking change.

Rather, I think fields initialized as they are today should still be initialized prior to the base ctor and fields which depend on `this` initialized after the base ctor:

[code]

@jnm2

The base class is considered a black box unto itself and the CLR wants to prevent you from being able to interact with it inappropriately prior to it being initialized.

[2016-11-30 18:31] MgSam commented on #15610
This would be a useful feature if it could be done safely without breaking backwards compatibility. Seems like simply running all initializers that reference `this` after the base constructor call would work. All existing initializers continue to work as-is, but a new set of initializers is now possible. It's true you lose the non-null guarantee for these new initializers, but I think the inconsis

[2016-11-30 18:35] pmunin commented on #15610
@HaloFour
How is that breaking change?
I see that the sequence leads to executing Base field initializers before This field initializers, but right now people those initializers are executed in a static context.  People don't have access neither to This, nor to Base. So I can't imagine breaking scenario - can you give an example?

[2016-11-30 18:42] pmunin commented on #15610
@MgSam @HaloFour  I'd like to make it clear that "non-null guarantee" - is just an illusion as @jnm2 mentioned - in class constructor, readonly fields are not non-null guarantee, and that constructor can execute bunch of [virtual] methods that might depend on using those "readonly" fields. So if constructor does not provide that non-null guarantee, why would field initializer is required to provid

[2016-11-30 18:48] jnm2 commented on #15610
@pmunin It's a breaking change for anyone who
1) relies on virtual methods called by base
2) in the subclass implementation of the same virtual methods, assumes the current guarantees about field initialization order of subclasses and doesn't check whether fields have been initialized before using them

I think this has to be so tiny it's almost non-existent, but it's still breaking.

[2016-11-30 18:52] pmunin commented on #15610
Here is the example of non-null guarantee does not work for existing field initializers in case of static class:

[code]

Output:

[2016-11-30 19:04] pmunin commented on #15610
@jnm2 good point. Can 1st be fixed making InitFields() virtual and executing only in base, like:

InitFields(this){
base.InitFields(this);
//running field initializers one by one.
}

But regardless breaking change can be avoided, introducing new keyword e.g.:

[code]

[2016-11-30 19:13] jnm2 commented on #15610
@pmunin There's no way to take an existing compiled class, say from a NuGet package, and override it, and expect it to contain a virtual `InitFields` which you can override. Plus, what happens if you simply decide not to call the base `InitFields` at all?

[2016-11-30 19:17] HaloFour commented on #15610
@pmunin

"non null" is also a bit of a misnomer there, it should be "non initialized".  Of course any instance field could be set to `null` explicitly.

[code]

Currently above would print `"value"` when you instantiate `Bar`.  However, if you moved field initialization to after the base ctor call it would print nothing.

That guarantee only applies to instance fields, not static fields.  There's

[2016-11-30 19:20] jnm2 commented on #15610
In my opinion @HaloFour's suggestion of keeping non-`this` initializers where they are and putting `this`-dependent initializers after the base ctor is the cleanest.

This does mean that if a field initializer changes to take a dependency on `this`, all field initializers that depended on that initializer will also jump from before the base ctor to after, along with it.

I wasn't even aware that t

[2016-11-30 19:22] jnm2 commented on #15610
(You learn stuff every day. I was also pleasantly shocked to discover that finally blocks in iterator methods are executed on dispose and not just on the final MoveNext. Did not expect that level of sophistication! Kinda handy.)

[2016-11-30 19:25] HaloFour commented on #15610
IIRC that's why `IEnumerator<T>` implements `IDisposable`, simply to make that feasible.  Thankfully iterators came about at the same time as generics otherwise that might not have been the case.  Of course that can lead to bad behavior if you consume the `IEnumerator<T>` manually and never call `Dispose`.

[2016-11-30 19:36] HaloFour commented on #15610
Assuming instance field initializers are changed in that manner the remaining question would be how the compiler determines field dependencies.  Right now static field initializers execute strictly in lexical order which can lead to fun things like the following:

[code]

Worse, with partial type definitions the behavior of the initialization would depend entirely on how the compiler decided to we

[2016-11-30 19:42] ManishJayaswal opened #15612 "Roslyn workspace should send notifications when it has completed the loading of all ...."
projects in Light Weight solution load mode. Else LUT does not know that all projects are loaded and we show uncovered glyphs.

[2016-11-30 19:42] jnm2 commented on #15610
@HaloFour I want lexical order to have nothing to do with it. Option 3 matches instance field initialization most closely, right? Seems by far the most sensible behavior.

Of course, someone has already probably taken a dependency on a static field being uninitialized when accessed. 🙄

[2016-11-30 19:43] gafter commented on #12905
Also possibly an issue in the deconstruction variant of `foreach`.

[2016-11-30 19:46] pmunin commented on #15610
Ideally option 3, but if it'll take another 10 years to add that, then I'd start with the lexical/filename order that I suggested in the original proposal:

[2016-11-30 20:13] CyrusNajmabadi commented on #15612
Can you not use: KnownUIContexts.SolutionExistsAndFullyLoadedContext?

[2016-11-30 20:21] CyrusNajmabadi commented on #12744
@jaredpar We've looked at this and we're not quite sure why this is necessary.  We're explicitly trying to make this break if you recompile (also why we have the Obsolete attribute with 'error: true').  We've preserved binary compat, but if the user recompiles we want them to have to update their code.

We feel this is intentional.  If we added the TextSpan parameter, then that would defeat the pu

[2016-11-30 20:23] sharwell commented on #15610
I'm pretty sure I've used this assumption in shared library code. Though I have no idea where that was now.

[2016-11-30 20:45] Pilchie commented on #15612
No, this is for lightweight solution load - LUT wants to know when Roslyn's background population of the workspace is finished.

[2016-11-30 20:48] gafter opened #15614 "Compiler produces unverified code for ref returns"
This test fails:

[code]

with

[code]

We probably need to test a similar consumption scenario for VB.

[2016-11-30 20:51] gafter commented on #15614
/cc @jcouv

[2016-11-30 20:53] gafter commented on #15614
Test pending in #15548

[2016-11-30 20:55] jcouv commented on #12468
Following discussion with @gafter, we need to confirm with LDM whether `@var(x, y) = e;` should be seen as an invocation. He thought it should not (`@var` and `var` should mean the same thing, because var is not a keyword or contextual keyword).

We also tried the other workaround (putting parens around invocation) and it parses properly after https://github.com/dotnet/roslyn/pull/15548 (although

[2016-11-30 20:59] jcouv commented on #15614
FYI @VSadov

[2016-11-30 21:01] #15134 closed

[2016-11-30 21:15] jaredpar commented on #15614
The verification error is expected here as peverify isn't fully updated for ref returns.  It is still using managed C++ rules which are more restrictive.  For these scenarios we should disable verification for the time being.

[2016-11-30 21:20] rchande commented on #15517
@codingonHP What Roslyn branch/commit do you have checked out?

[2016-11-30 21:29] rchande commented on #15517
Also @codingonHP have you run `restore.cmd`?

[2016-11-30 21:49] OmarTawfik commented on #14981
@CyrusNajmabadi @aluanhaddad this doesn't seem to repro on latest master bits. Will get a VM with a couple-of-months-old bits and write a regression test to make sure we fixed it.

[2016-11-30 22:09] bbarry commented on #15610
The generic `IEnumerator<T>` implements `IDisposable` because there were some .NET 1.0 classes where a `GetEnumerator()` method returned an `IEnumerator` which also implemented `IDisposable`. At that point there was already too much out there to make the breaking change of making `IEnumerator` implement `IDisposable`. Rather than break existing code, it was decided to make `foreach` call `Dispose(

[2016-11-30 22:41] gafter commented on #12468
At the LDM today we recognized that `var`, `@var`, and even versions with unicode escapes are all ways to spell the pseudo-keyword `var` and behave the same. So escaping using `@` won't work. Too bad. But parenthesizing will work.

[2016-11-30 22:48] HaloFour commented on #15610
@bbarry

Of course, but it's still a gotcha, especially since the compiler doesn't even issue warnings when that initializer references a field declared further down the current type definition.

More or less builds on my second method, except adding in non-virtual auto-properties which is a good idea.  I agree that this seems like the most reasonable way without getting too complicated.  Basicall

[2016-11-30 23:13] scalablecory opened #15619 "Extend Out Variable support to LINQ"
Consider this case for out variable use:

[code]

This won't work due to how "out int" is transformed -- it is scoped to the delegate passed to `Where()`. Out variables should be extended for more natural LINQ integration.

[2016-11-30 23:16] scalablecory commented on #15619
I'll note that implementation of this is non-trivial. It would need to be broken down into a `Select`/`Where` pair if it were to be kept within the existing selection of LINQ methods.

[2016-11-30 23:44] HaloFour commented on #15619
Somewhat relevant:

#6400
#6877

Personally I think I'd prefer for `out` declarations to simply "leak" into the wider scope of the query as a range variable.  To me that's the most intuitive and would "just work".

[code]

Of course if C# 7.0 ships without that behavior then it would be too late to consider it and additional syntax would be required to expand the scope.

The same behavior could pr

[2016-11-30 23:47] divega commented on #261
@onovotny I agree with your comments about Ix being carefully designed and implemented. As you know, we were able to switch vNext of EF Core (currently on our dev branch) to the new version that contains the reimplementation of the operators, and we appreciate the advantages of the new implementations.

That said there are still a few issues we should discuss with regards to the API aligment with

[2016-12-01 00:04] eyalsk opened #15621 "The .NET framework version dropdown on the New Project dialog is really out of place"
_Disclaimer: Sorry if this is the wrong place to write it but I've reported this before on uservoice and other places such as msft blogs and nothing was done with it._

This is relevant to all versions of Visual Studio but maybe it can be changed for Visual Studio 15 RTM.

So when we create a new project today in Visual Studio and open the New Project dialog the .NET framework version dropdown app

[2016-12-01 00:06] controlflow commented on #15619
LINQ query syntax looks totally abandoned from the new language features perspective. Deconstruction is not available, out variables won't have "nice" scope in query expression (I guess because of complex transformations involved).

I think I'm actually happy with this (I hope query syntax will die eventually), but this tells something about C# design process and the "composability" of language fe

[2016-12-01 00:15] controlflow opened #15623 "Allow ref-returning get-only auto-properties"
So, currently in C# 7.0 we have old boring auto-properties with set accessors:
[code]
And a new efficient ref-returning get-only (we all hate setters!) _modern_ property pattern:
[code]
New _modern_ property pattern has improved performance of compound operators:
[code]
And more importantly: ability to pass _modern_ properties as an argument to `ref` parameter (we all waited this for years!!):
[co

[2016-12-01 01:19] tmat commented on #8803
Orleans would benefit from this API: https://github.com/dotnet/orleans/blob/22c2a63ab68e94417541a09e074ab6aeb697303f/src/OrleansCodeGenerator/CodeGeneratorCommon.cs

[2016-12-01 01:34] onovotny commented on #261
@divega AFAIK, the reason the `Async` suffix isn't used is so that the operators work with the LINQ syntax conventions. If updating the LINQ syntax to resolve `*Async` versions is in scope, then that would answer that, but I'm not sure that's under consideration.

[2016-12-01 02:01] CnSimonChan opened #15624 "Invalid `Inline temporary variable` fix crashes Visual Studio"
**Version Used**:

Latest `master` branch

Visual Studio 2017 RC

**Steps to Reproduce**:

1.  Paste the following code snippet:

[code]

2.  Press `Ctrl + .` on `$$`

**Actual Behavior**:

There is a `Inine temporary variable` fix, but I don't understand which variable can be inlined, and Visual Studio crashed.

StackTrack:

[code]

[2016-12-01 02:04] MatthieuMEZIL opened #15625 "Variance and struct"
I have the following types:
[code]
I use them with this code:
[code]
But test2 assignment fails with "Cannot implicitly convert type IEnumerable&lt;S1&gt;' to 'IEnumerable&lt;I1&gt;'" because  variance does not seem to work with struct.
Why do we have this restriction?
Is there any plan to support this in the future?

[2016-12-01 02:16] HaloFour commented on #15625
The variance limitations are imposed by the CLR.  My understanding is that this is due to the fact that structs all have different sizes and thus can't share a JITed implementation.  References all have the same size so the JIT can compile the generic type once and share it.

[2016-12-01 02:36] divega commented on #261
@onovotny are you referring to VB query comprehension syntax? Otherwise do you know which operators map to C# comprehension syntax for which this would be a problem? As far as I remember VB provides sugar for many more operators but is strict about their return types. If I am remembering correctly, this means the current naming probably doesn't help.

To clarify, I said previously that it was abou

[2016-12-01 05:44] asvishnyakov commented on #15607
@HaloFour Yep, you're absolutely right. It's all about these curly brackets. Just little syntax sugar.

[2016-12-01 06:55] codingonHP commented on #15517
@rchande : I checked out master branch.
I did try to run restore.cmd but it failed with following error :
System.Management.Automation.RuntimeException: The variable '$_' cannot be retrieved because it has not been set.
   at System.Management.Automation.VariableDereferenceNode.GetVariable(ExecutionContext context)
   at System.Management.Automation.VariableDereferenceNode.PrivateGetValue(Executio

[2016-12-01 07:05] alrz commented on #15619
Also,
[code]
I don't think this would be a breaking change if done later.

[2016-12-01 07:13] scalablecory commented on #15619
@HaloFour indeed, perhaps just leaving it the normal "out" syntax is sufficient. I hadn't considered that a sufficiently optimizing compiler could simply "do the right thing" in the case that the out variable didn't break the scope of the delegate.

[2016-12-01 07:21] aluanhaddad commented on #14981
@OmarTawfik Thanks you. Much appreciated!

[2016-12-01 07:26] CyrusNajmabadi commented on #15529
Mads will have notes at some point.  But one of the conclusions of today's LDM was that we would be revising the scoping for ```while``` loops.  Specifically:

1. variables defined in the condition of the ```while``` loop would only be scoped to the body of the loop.  So if you had a pattern or out-var in a while-condition, you would only be able access it with the span of the while-loop itself.
2

[2016-12-01 07:29] CyrusNajmabadi commented on #14697
We've tweaked scoping for variables declared in while-loop conditions.  I've given an explanation of what we intend to do here: https://github.com/dotnet/roslyn/issues/15529#issuecomment-264097679

Note: our discussions are not over, and we are still examining and evaluating the features for C# 7 to see if there are other things we can do :)

[2016-12-01 07:39] AArnott opened #15626 "C# file opened in "Misc Files" language service project even though it belongs to C# project"
**Version Used**: d15prerel 25930.1

**Steps to Reproduce**:

1. Execute these commands:

        git clone https://github.com/microsoft/vs-threading
        cd vs-threading
        .\init.cmd
        src\Microsoft.VisualStudio.Threading.sln

1. Dismiss the error dialog about not being able to open the NuProj.
1. Open up any .cs file from the Microsoft.VisualStudio.Threading.Analyzers project.

**

[2016-12-01 07:42] AArnott commented on #15626
I wonder if this is related to the fact that I have the Multi-lingual Application Toolkit installed, which does not yet support Dev15. Because when I try to build this project, I get this build error:

[2016-12-01 07:48] AArnott commented on #15626
So when I copy the .targets and tasks from the MSBuild 14.0 folder to the MSBuild 15.1 folder, the build error goes away and Intellisense starts working in VS. So I guess this is just a MAT bug.

[2016-12-01 07:48] #15626 closed

[2016-12-01 08:23] eyalsk commented on #15529
@CyrusNajmabadi so basically variables scope is widened for all cases except while loops? what about expressions that lives outside to control blocks? as mentioned here #15538? got anything to share on that?

[2016-12-01 08:35] mikedn commented on #15625
This isn't a "limitation" of CLR, it's simply how value and reference types work. An interface is a reference type and going from a value type to a reference type requires a boxing conversion. Variance requires reference conversions since these are basically no-op, the compiler and the runtime can lie and claim that `IEnumerator<RefType>.Current` returns `IRefType` even if it actually returns `Ref

[2016-12-01 08:38] MatthieuMEZIL commented on #15625
@mikedn I'm completely aware about the boxing conversion. And, of course with IEnumerable, it's very easy to workaround. However, in some other scenarios. It would be an interesting feature IMHO.

[2016-12-01 08:39] mikedn commented on #15625
Well, it's an interesting feature that cannot be implemented well :smile:

[2016-12-01 08:41] mikedn commented on #15623
I hope this is some kind of joke. `ref` returns are great for certain things but what you are suggesting is pure nonsense. You may as well make the fields public.

[2016-12-01 09:24] DavidArno commented on #15623
I got this far and literally (well figuratively, if truth be told) cried out loud 😭

[2016-12-01 10:35] alrz commented on #15623
It's not. If simply you change it to a method, it work like charm!
[code]
Isn't this supposed to work?

[2016-12-01 10:51] dsaf commented on #15623
There is nothing "modern" about micro-optimisation. Did you mean "expression-bodied"? Modern is going to be like this #5172 :

[code]

PS: I personally hate exposed default mutability not setters.

[2016-12-01 10:52] controlflow commented on #15623
@mikedn how is this a joke???!? Jared Parsons claims passing properties by ref is a highly requested user scenario: https://twitter.com/jaredpar/status/804070933954633728

I believe him! And it is now possible to express such _modern_ properties in C# 7.0! The only thing I want is to reduce boilerplate and extend auto-property syntax just a tiny bit.

[2016-12-01 10:54] dsaf commented on #15623
@mikedn

Not sure it would work with e.g. WPF or Unity3d GUI bindings.

[2016-12-01 10:54] alrz commented on #15623
@controlflow I'd agree with @dsaf. If you are going to expose it like that, there is no reason to use a auto-property (at least not something that I can think of).

[2016-12-01 11:11] DavidArno commented on #15623
@controlflow,

There is nothing "modern" about misusing `ref` returns to make your fully publicly mutable fields look like they are immutable.

This misuse of `ref` returns is a joke, whether you intended it to be or not.

[2016-12-01 11:12] controlflow commented on #15623
@alrz no reason? How about polymorphism? I can implement interface or override base property. Also a lot of binding/serialization frameworks require properties to be used in user types.

[2016-12-01 11:13] controlflow commented on #15623
@DavidArno how do you define "misuse"? Why ref-returning methods and assigning to method invocations is somehow fine and beneficial to everybody, while ref-returning properties are not???

[2016-12-01 11:15] mikedn commented on #15623
You're taking things out of context. The number of scenarios where `ref` returns are truly useful is pretty small but has high impact. For example `ref` returns allows the `Span<T>` indexer to behave like the array indexer. Simply having the ability to create array like types is alone enough to justify the presence of `ref` returns in the language.

Considering your replies in that Twitter convers

[2016-12-01 11:17] DavidArno commented on #15623
Exhibit (a):
[code]
This is a downright offensive misuse of ref returns.

[2016-12-01 11:17] mikedn commented on #15623
@dsaf AFIAK `ref` returns don't work well with reflection and reflection is usually required for UI data bindings. And even if `ref` returns work with reflection you lose property change notification. So, you may as well use fields.

[2016-12-01 11:19] mikedn commented on #15623
Indeed, what's this supposed to mean? The JIT usually inlines trivial property getters and setters so there's no call anyway. How can this be a serious justification for `ref` return properties?

[2016-12-01 11:19] controlflow commented on #15623
@DavidArno

what is the difference between
[code]
and a
[code]
?

I don't think that `Span<T>` usage can be considered as a "offensive misuse" of ref returns.

[2016-12-01 11:21] controlflow commented on #15623
@mikedn I'm not justifying the existence of ref-returning properties, they are already in a language! I'm so happy about this, just asking about corresponding auto-property syntax.

[2016-12-01 11:23] mikedn commented on #15623
You're trying to justify extending the support for `ref` returns by claiming that they're very useful and one of the provided reasons is that a setter call is eliminated. But that call doesn't exist in the first place.

[2016-12-01 11:27] DavidArno commented on #15623
And this is exhibit (b). You are again misusing ref returns. They aren't intended to allow you to start modifying such data Their purpose is to allow optimised returns that expose lots of value data without having to duplicate that data when returning. Using ref returns to *modify* that data is a misuse of this feature.

[2016-12-01 11:39] alrz commented on #15623
@DavidArno As long as we don't have `readonly ref` there is nothing you can do to prevent it.

[2016-12-01 11:40] controlflow commented on #15623
@DavidArno ref returned reference is mutable and `Span<T>` is pretty equal to array, as was mentioned before. What is exactly wrong with data mutation??! So mutating the array element is a "misuse" as well? I don't see connection between mutability and "misuse", whole C# is imperative language built on mutable concepts like variables and fields, why ref returns are somewhat different.

[2016-12-01 11:41] orthoxerox commented on #15623
@DavidArno you should've guessed by now that the design team holds a neutral position on the question of mutability and will not make things immutable when they can be left mutable. Properties can already be made ref-gettable (I actually wonder how much faster `List<T>` will be with a ref indexer), so the only reason for not having ref-gettable autoproperties is nudging the programmers into the pi

[2016-12-01 11:41] mikedn commented on #15623
Now let's not get into the opposite extreme. There's nothing wrong with modifying data using ref returns, it's only the abuse of this feature that could be wrong. The reality is that this feature should have been accompanied by `readonly` and some way to block the copying of user defined value types. As is now it can be used for performance reasons in exotic ways but it's kind of dangerous to do t

[2016-12-01 11:47] mikedn commented on #15623
The `List<T>` indexer is a fine example of why `ref` returns aren't a substitute for setters - the list indexer can't use `ref` return because you'd lose index validation and enumerator invalidation.

[2016-12-01 11:53] DavidArno commented on #15623
@alrz and @orthoxerox,

You are both, of course, correct. I still get frustrated though that their "neutral position on the question of mutability" position inevitably leads to things like this request.

[2016-12-01 11:53] alrz commented on #15623
@mikedn Just to say, iterator invalidation is addressed by ownership in [Rust](https://doc.rust-lang.org/book/references-and-borrowing.html#iterator-invalidation). AFAIK indexers can return ref and still you won't lose index validation. *sigh*.

[2016-12-01 11:54] orthoxerox commented on #15623
Come to think of it, there's one case I know of where a ref property might be useful: interpolation/tweening in video games. There are lots of cases where you have to interpolate some arbitrary value (camera shake, menu panel speed) and this is commonly done by a separate tweener that is called by the game loop. You call a method like `void Register(double startValue, double targetValue, Action<do

[2016-12-01 11:56] orthoxerox commented on #15623
@mikedn How would one lose index validation? Before you return the `ref T` you check the index parameter and throw as usual. And I guess enumerator invalidation will be no worse than enumerator invalidation of an array.

[2016-12-01 12:03] mikedn commented on #15623
For example:
[code]
It's actually worse:
[code]
`AddRange` will likely result in array resizing and now `x` points to element 0 of the old array. Good luck modifying the element 0 of the `list` via `x`.

[2016-12-01 12:12] alrz commented on #15623
Yes, without ownership and immutability it's really easy to shoot yourself in the foot with `ref`. Same code in Rust doesn't even compile.
[code]
I'm just trying to say that throwing a `ref` everywhere doesn't buy you performance for free.

[2016-12-01 12:28] eyalsk commented on #15623
`ref` starts to feel like C pointers, virality and _unsafe_ only in C it's more succinct, isn't the whole point of ref is to be an abstraction over pointers and _safe_ to use everywhere, like without _gotchas_?

In C# 10 we might need unique_ref, shared_ref abstractions similar to C++, go figure. 😆

[2016-12-01 12:34] orthoxerox commented on #15623
@mikedn Yes, and that's what will happen when you replace the list with an array as well. `ref`s are dangerous.

[2016-12-01 12:34] alrz commented on #15623
@eyalsk I just don't what's the rush to ship ref locals before readonly locals. i.e. as soon as possible! Before doing something about immutability, I think that's just wrong. Perhaps if you ask, "it's highly requested feature" is the best answer that you might get. And we all know that how customers request features.

[2016-12-01 12:35] mikedn commented on #15623
Indeed. Once I made an experiment like below in a compiler-like codebase:
[code]
converted to:
[code]
`ValueList<T>` is a `struct` instead of a `class` and the idea is that it saves memory/allocations. This doesn't necessarily require `ref` returns/locals but having those makes it more usable. Making the initial change seemed easy enough, finding all bugs generated by accidental copying of the suc

[2016-12-01 12:40] mikedn commented on #15623
Not really, arrays aren't resizable.

Sort of but not really. My example with list resizing would have resulted in memory corruption/crashes in C++. In C# nothing truly wrong happens, the element list won't be updated but there are plenty of ways to screw up in any language.

[2016-12-01 13:02] eyalsk commented on #15623
@mikedn Ah yeah, my comment wasn't directed to your post but just in general, it feels like ref is the new pointers to me and you're definitely right, you can screw things in any language.

I'm not really against this proposal but to me the point of properties is to expose a _computed_ value or set one.

If I want to increment the age I'd probably have a method called `IncrementAge` and not SetAge

[2016-12-01 14:32] bbarry commented on #15623
Purely in the interest of writing shorter code, I like this.

[code]

vs

[code]

Exposing the ref property vs a field has advantages in that you can change the implementation without it being a breaking change.

I don't know if I could go so far as to call this "modern."

On the other hand, I'd rather not promote `ref` usage into the wider audience of common C# devs even if this particular usage

[2016-12-01 14:43] eyalsk commented on #15623
@bbarry

So changing the behaviour isn't a breaking change? you go from anarchy to democracy.

[2016-12-01 14:51] bbarry commented on #15623
suppose in assembly A you have this class:

[code]

And reference it from assembly B and compile and ship 2 dlls.

You can change the class:

[code]

and compile assembly A and replace it in your result without touching B at all.

[2016-12-01 15:26] SirCmpwn commented on #3391
Registering interest for this feature

[2016-12-01 15:32] HaloFour commented on #15623
I wonder how many frameworks are just going to explode attempting to negotiate objects that expose ref properties.

[2016-12-01 15:35] alrz commented on #15623
I wonder who broke the build.

[2016-12-01 15:44] whoisj commented on #3391
@SirCmpwn there's a "Subscribe" button on the side, which should allow you avoid needlessly posted to get update notifications.

[2016-12-01 15:45] HaloFour commented on #15529
@eyalsk

Actually this should bring `while` back in line with `for` and `foreach` variable scope, and inline with `foreach` for variable isolation (can enclose in lambda without the value changing on you).  That leaves `if` as the outlier, which I think I can live with.

I'm curious about what remains.  I seriously hope the LDM pays a little lip service as to how `out` declarations and pattern var

[2016-12-01 15:46] SirCmpwn commented on #3391
I am familiar with this button. It doesn't register interest, it subscribes to emails. Sending a notification to the participants revitalizes the discussion and draws renewed attention to the issue for planning.

[2016-12-01 15:51] DustinCampbell commented on #15579
Fixed with https://github.com/dotnet/roslyn/pull/15583

[2016-12-01 15:52] #15579 closed

[2016-12-01 15:55] jnm2 commented on #15610
http://joeduffyblog.com/2016/11/30/15-years-of-concurrency/#no-leaky-construction

[2016-12-01 16:00] HaloFour commented on #15610
@jnm2 Well ain't that timely and relevant.

[2016-12-01 16:08] onovotny commented on #261
I'm specifically referring to the LINQ syntax `from`, `select`, `groupby`, that uses a duck pattern match to find matching methods/overloads.

I agree there seems to be two groups as you describe, and there's no keyword equiv of `ToListAsync`, `FirstAsync` or `SingleOrDefaultAsync`, etc. Those could easily be renamed as part of the version that implements the new interface design.

[2016-12-01 16:09] AdamSpeight2008 opened #15628 "[Proposal, VB] Single Line comments in Object Initializers"
Currently the following comment isn't valid.
[code]
I propose that we change the compiler to allow it.
So would have to implement a work around for #15525

Looking at the VB.net specification.
[code]
By modifying `FieldInitializer` to
[code]
[code]
we should enable single line comments.

[2016-12-01 16:13] DavidArno commented on #15529
Surely what remains is everything covered by #15538 (which you created! 😉), namely the scope for all `out/is` expressions that aren't in an `if`, `switch`, `using` or loop.

[2016-12-01 17:53] gafter commented on #15529
The LDM met yesterday and decided to approve this proposed change to the scoping of expression variables in a while loop. Specifically, a while loop written

[code]

will have expression-variables declared in `expr` scoped as if it were rewritten

[code]

We will also make a corresponding change to the `for` loop. A `for` loop written

[code]

will have expression-variables declared in the three p

[2016-12-01 17:55] gafter opened #15630 "Change scoping of expression variables for while, for"
In response to community issue #15529, the LDM met yesterday and decided to approve this proposed change to the scoping of expression variables in a while loop. Specifically, a while loop written

[code]

will have expression-variables declared in `expr` scoped as if it were rewritten

[code]

We will also make a corresponding change to the `for` loop. A `for` loop written

[code]

will have expre

[2016-12-01 17:57] gafter commented on #15630
In testing this change, we should ensure that variables from distinct iterations can be captured, and are distinct from each other.

[2016-12-01 18:01] gafter commented on #15539
The LDM discussed this yesterday and concluded that we intend to support constant patterns in the `is` operator. The idiom `e is null` is useful and much nicer than the current alternative `(object)e == null`.

[2016-12-01 18:01] #15539 closed

[2016-12-01 18:04] gafter commented on #15538
The LDM discussed this yesterday, and we considered the example

[code]

The proposal would disallow this, but we can find nothing so wrong with this style of code that we would want to make it illegal. Confirm the status quo.

[2016-12-01 18:04] #15538 closed

[2016-12-01 18:08] jcouv opened #15631 "Unused variable warning should not be reported if variable name is underscore"
This came up in LDM 11/30/2016.
The compiler won't report unused variable warnings for new kinds of variables (out vars, deconstruction vars, pattern vars) and obviously should not report warnings for discards. The question came up whether the warning should be relaxed for C#6-style variables. That question will need follow-up, but for the case of a local declaration where the local is named under

[2016-12-01 18:12] alrz commented on #15538
@gafter I think the proposal is about pattern variables, not out var.

[2016-12-01 18:14] gafter commented on #12225
The LDM met yesterday and confirmed that we do not intend there to be new warnings for these scenarios, though IDEs and other tools may want to produce helpful style guidance.

[2016-12-01 18:14] #12225 closed

[2016-12-01 18:15] gafter commented on #9021
The LDM met yesterday and confirmed that we do not intend there to be new warnings for these scenarios, though IDEs and other tools may want to produce helpful style guidance.

[2016-12-01 18:15] #9021 closed

[2016-12-01 18:20] bbarry commented on #15529
I vote for discussion remaining here and #15630 stays a purely technical issue for managing the actual change.

[2016-12-01 18:32] alrz commented on #254
I assume that we can use declaration expressions in also ref args. :)
[code]
So there would be no assumption on the default value passed to the argument.

[2016-12-01 19:07] alrz commented on #15610
@HaloFour when it's all about customers, who cares. we *need* leaky constructors.

[2016-12-01 19:08] Andrew-Hanlon commented on #15529
Thank you kindly @CyrusNajmabadi  and @gafter for the update and information regarding the LDM.
I am really elated with the response, pace, and direction on this issue - and I believe it will go a long way to making the powerful new features in C# 7 feel congruent and integrated within the language. Thanks again.

[2016-12-01 19:10] alrz commented on #15529
@bbarry There is nothing left to discuss. yesterday never comes.

[2016-12-01 19:23] pmunin commented on #15610
leaky constructors are already there - the proposal just ask to make it convenient.

C# is a great language, but what concerns me in MS-style platforms - overprotecting users from "confusion" or some imaginary potential issues, they sacrifice the ease of some obvious needs and make them look for a workaround of "features". I bet you won't find a single .NET developer who has not been annoyed at le

[2016-12-01 20:22] gafter opened #15632 "Possible change to location of "Type and identifier are both required in a foreach statement""
The parser usually places an error for missing syntax following the preceding syntax (e.g. on the following token). This includes the error

`Type and identifier are both required in a foreach statement`

which is given when you write

`foreach (Something in expr) { }`

This particular error message is currently placed on the `in` token. It has been suggested that this error might be better placed

[2016-12-01 20:30] gafter commented on #15632
Personally I believe the suggestion would reduce the quality of the diagnostic, but I've filed this issue to track the discussion.

[2016-12-01 20:35] gafter opened #15634 "Compiler permits non-void return of Deconstruct method"
Reported on our MVP mailing list

[code]

In fact, we intend to require that a `Deconstruct` method returns `void`. If it doesn't return `void` then it isn't a deconstruct method. We are considering giving meaning to a non-void return type in the future when we support more complex pattern-matching.

[2016-12-01 20:35] gafter commented on #15634
/cc @jcouv @VSadov @jaredpar

[2016-12-01 20:41] gafter commented on #15538
@alrz Pattern variables can be definitely assigned after the conditional expression, and useful later.

[code]

[2016-12-01 20:50] DavidArno commented on #15538
@alrz,

The team have unfortunately made the decision that `is T` expressions should have the same scope as `out var`'s, so weird scoping is temporary `is T` bars looks like it's here to stay.

[2016-12-01 20:50] alrz commented on #15538
@gafter I think sequence/declaration expressions are more suitable than that.
[code]
In my opinion `is var` is just redundant since it always returns `true`.

[2016-12-01 20:55] DavidArno commented on #15538
@gafter,

In the absolutely vast majority of cases, they won't be useful as they will not be definitely assigned. Sure, they can be (re)assigned, but they could be declared and assigned if they didn't leak, so that offers no advantage either.

But you want consistency over usefulness and so we'll have to live with that weirdness.

[2016-12-01 20:56] aluanhaddad commented on #15538
@g after sorry for beating a dead horse but I just find it's very unfortunate that scoping rules for patterns are being defined for a version of the language lacking so many of the critical aspects of pattern-matching which were actually implemented in earlier previews. The `match` expression you had implemented was immediately applicable to my code and offered dramatic simplifications, improved r

[2016-12-01 20:56] DustinCampbell commented on #12698
@mavasani: What's the status of this? We just had a regression in VB completion that would have been caught by BasicIntellisense. (It was eventually caught when VSI tests were run.)

[2016-12-01 22:01] EdMaurer commented on #15214
JavaScript and TypeScript are getting a lot of feedback about this problem. Please address with quickness.

[2016-12-01 22:27] divega commented on #261
@onovotny ok, I was referring specifically to the ones that can be awaited. For `from`, `select`, `where`, `groupby`, `join`, etc. I agree the names should remain the same.

[2016-12-01 22:32] mavasani commented on #12698
I haven't looked at it since. Someone from IDE or infraswat should investigate

[2016-12-01 22:32] DustinCampbell commented on #12698
@jasonmalinowski: Is this on our backlog?

[2016-12-01 22:36] eyalsk commented on #15538
@aluanhaddad AFAIK the `match` expression is still on the table but needs more discussions, no?

[2016-12-01 22:38] aluanhaddad commented on #15538
@eyalsk thanks, I thought it had been removed pending reintroduction in the next version and that only the `switch` version was being retained for C# 7.0.

[2016-12-01 22:44] eyalsk commented on #15538
@aluanhaddad I really hope we wouldn't have to wait for C# 8 for this. :)

[2016-12-01 22:45] #12901 closed

[2016-12-01 22:46] CyrusNajmabadi commented on #15538
```match``` isn't on the table for C# 7.  I hope it will come soon afterwards.  AFAICT, everyone likes it.  There just isn't enough runway for it.

[2016-12-01 22:47] jcouv commented on #15634
My understanding was we do not care about return type (see existing test for that below).
The deconstruction is equivalent to invoking `Deconstruct` with a bunch of out vars, and we then do a few extra checks (for example, one with params, see [binding logic](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/Binder_Deconstruct.cs,a4cfa09a04317981,references)).
It should be easy enough

[2016-12-01 22:47] CyrusNajmabadi commented on #15538
@alrz

That wasn't my example.  My example was:

[code]

[2016-12-01 22:50] CyrusNajmabadi commented on #15538
Not to belabor the point, but as has been pointed out a few times "weirdness" is in the eye of the beholder.  More people (than even i expected) found inconsistency between out-var and pattern scoping to be super "weird".

We felt there would be more confusion and difficulty if we ended up having to explain two entirely different sets of scoping rules between these different variables.

Once again

[2016-12-01 22:59] gafter commented on #15634
Because when `Deconstruct` returns false, the deconstruction failed and the deconstructed variables should not be definitely assigned. Ignoring a `bool` return value today means we won't be able to make that change later.

[2016-12-01 22:59] HaloFour commented on #15634
If the compiler doesn't care about the return value then it wouldn't be possible to introduce fallible deconstruction in the future, at least in any way that the compiler could enforce, at least reusing the same name/signature as `Deconstruct`.  I think it would be wise to limit the return type of `Deconstruct` to `void` today until those questions are answered tomorrow.

[2016-12-01 23:02] alrz commented on #15538
@CyrusNajmabadi Ok, `if` is an exception, but it changes nothing about other statements e.g. a variable declaration, return, object creation and invocation, in all those cases any usage of the pattern variables is, more or less, a code smell, because the variable would be definitely unrelated to any subsequent code. I don't know if defining a new variable for this is too much, immutability is just

[2016-12-01 23:07] HaloFour commented on #15619
@alrz

It would be a breaking change to expand the scope of `x` later as the query could introduce additional range variables with the name `x`:

[code]

With narrow scoping this is legal.  With wider scoping this is a compiler error.

That's why I think it's important to consider now.  /cc @CyrusNajmabadi

[2016-12-01 23:09] gafter commented on #15538
That's why the compiler complains if you attempt to read the variable. It diagnoses the code smell. But it might be definitely assigned, too:

[code]

[2016-12-01 23:09] CyrusNajmabadi commented on #15619
i'm actually not sure what happens here.  As linq is just supposed to be syntactic transformations using lambdas, i'm not sure what the interplay is with that and pattern/out variables.  Based on the syntactic transformation, my intuition is that they're not in scope.  But i need @gafter @MadsTorgersen to weigh in.

[2016-12-01 23:12] alrz commented on #15619
@CyrusNajmabadi I think the only reason I'd use linq over extension methods is that it manages these variables (for example, let transformation is something that extension methods don't have), therefore I'd expect it to work, otherwise, you should write it manually which wouldn't be that straightforward.

[2016-12-01 23:16] HaloFour commented on #15619
@CyrusNajmabadi

Agreed, this increases the amount of transformation required.  A projection including the variable patterns and `out` declarations must be performed first via `Select`.  I think that the experience is worth it, though.  It will "just work".  Not considering this now removes it permanently from the table and you won't have another opportunity to explore the combination of LINQ and

[2016-12-01 23:31] HaloFour commented on #15619
Alternatively, if you need to punt this until post C# 7.0 you could make it illegal to include an `out` declaration or variable pattern in a LINQ query, just as it is with queries translated into expression trees.  It would at least buy time to consider things.

[2016-12-01 23:32] alrz commented on #15538
@gafter How about:
[code]
(I believe variable declarations should also follow out var scoping as they are always assigned.) But `is` is different. I'm saying that it's just about code style. If you're going to define something as fundamental as variable scoping based on some scary code to make it useful, sure, do as you please. Same goes to `is var`. When we have #254 and #6182, there is no need t

[2016-12-01 23:35] CyrusNajmabadi commented on #15619
Our general intuition on variables is that if an existing construct can already introduce variables, then sub-expression-introduced-variables in that construct should go into that same variable scope.

So, given that, my intuition tells me that if you use an out-var in a 'let clause' then it would go in the same scope as the let-variable.

Open questiosn though on things like where/select.  But, i

[2016-12-01 23:37] HaloFour commented on #15619
@CyrusNajmabadi

And to note, I've seen this pattern used more than once:

[code]

And I've seen that go pear-shaped when parallelism is introduced.

[2016-12-01 23:52] ivatih commented on #13146
Hello i have a similar problem. Two projects, one of them wcf service

[code]
When i execute it in client it's throw exception
System.IO.FileNotFoundException
When I execute without any service  just script it's works well in both projects.

i use: microsoft.codeanalysis version 1.3.2
microsoft.codeanalysis.scripting version 1.3.2

[2016-12-02 00:13] HaloFour commented on #15619
@CyrusNajmabadi

Looking through the LINQ query clauses I'm not sure that it would need to apply to any of them beyond `let`, `where` and *maybe* `from`.  For the rest I'm not sure it makes a lot of sense to introduce range variables.  With a terminal `select` there wouldn't seem to be anywhere for that range variable to go since the result of the expression is what is projected.  For `select into

[2016-12-02 00:35] HaloFour opened #15638 "Proposal: "while" as a LINQ query expression clause"
Low effort/reward proposal:

I propose that the existing C# keyword `while` be added as a LINQ query expression clause.  Unlike `where` which filters out elements that do not meet the condition `while` would include all elements as long as the condition is met.  Since `while` is already a keyword this would not break any existing syntax.

[code]

[2016-12-02 00:41] gafter commented on #15451
See https://github.com/dotnet/roslyn/blob/f90f62b37e579ca87d096cc71488b0fd966d5d81/src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs#L5015

which shows that this is indeed fixed as a side-effect of #15548

[2016-12-02 00:42] vbcodec opened #15639 "Proposal: language support for lazy initialization and modification"
With lazy initialization, creation of objects can be delayed until these object are really needed, potentially saving performance and memory.

Example:

[code]
Properties defined with `Delayed` keyword, will have implemented call to initializers before returning value. Compiler must be smart to extract right piece of code that will be injected into initializer. Method `Init` execute really only la

[2016-12-02 00:44] gafter commented on #15449
The current behavor is the proposed behavior. These comments are removed in #15548.

[2016-12-02 00:54] gafter commented on #10492
The parser now handles these cases correctly; see the test `IsPatternPrecedence` in `PatternMatchingTests.cs` for a unit test that demonstrates that.

[2016-12-02 00:57] gafter commented on #15049
The compiler implementation is mostly done in #15548; the next step would be to delete the 30 lines that produce the diagnostic and add testing. When we schedule this work is to be decided by @jaredpar.

[2016-12-02 03:46] jcouv commented on #15631
FYI @gafter

[2016-12-02 04:03] AdamSpeight2008 commented on #15638
if `numbers = Enumerable.Range(0, Int32.MaxValue)`
Is resultant sequence `0 4 8 12 16` or `0 4 8`

[2016-12-02 05:46] gafter opened #15640 "NullReferenceException in DeclaredInside for deconstruction foreach loop"
The following test fails with a `NullReferenceException`.

[code]

[2016-12-02 05:52] gafter commented on #15619
@scalablecory Do you have a proposed specification, or modification to the current specification? Or is this just a request that someone else figure it out?

[2016-12-02 05:56] gafter commented on #15538
@alrz The decision to make pattern variables mutable is an assertion that assigning to them isn't "scary". So it would not make sense to base other language design decisions on an inconsistent position about that.

[2016-12-02 06:20] DavidArno commented on #15538
@CyrusNajmabadi,

Absolutely agree:

If you come from my position as seeing `out` parameters as at least a code smell, if not an outright anti-pattern, that you don't use, then `is T` scoping will appear ridiculous.

If you like `out` parameters and are excited by `out var` and that's your focus, then `is T` behaving the same way will make sense. Such folk presumably are also likely to re-assign v

[2016-12-02 08:56] dsaf commented on #15639
https://github.com/dotnet/roslyn/issues?q=lazy%20in%3Atitle

[2016-12-02 08:58] DavidArno commented on #15538
@gafter,

Re:
[code]
Sure, `y` is definitely assigned here, but can you think of a genuine situation where you'd want to use `y` obtained in such a way? If `y` were genuinely useful? And if it were, following the decades-old-but-still-good "avoid assignment in expressions" advice from my C days, I'd want to rewrite it like the following to make it clearer:
[code]

I really do not see any real (goo

[2016-12-02 09:38] alrz commented on #15538
In my eyes, compiler's job is to disallow any "bad" code, and it's not just about syntax and semantics, it's also about preventing accidental bugs and that's where language designers should help. Advertising mutability and such as a "feature" and saying that there is nothing that you can not do with a language, whether it is shooting yourself in the foot or not, doesn't seem to be the way of desig

[2016-12-02 10:41] vbcodec commented on #15639
@dsaf
These proposals rely only on first read. My proposal is richer as it delays of evaluation of multiple writes, and automatically extract code responsible for evaluation.

[2016-12-02 11:46] HaloFour commented on #15638
@AdamSpeight2008

The former, since the `i * 2` follows the `while` clause, which should be the same behavior as your VB.NET example.  And yes, I know that VB.NET has a bunch of other query clauses and it would be nice if C# might catch up.  Having to go from query syntax to method syntax and back is pretty jarring.

[2016-12-02 12:40] svick commented on #15639
I don't understand why would something like this make sense.

VB (and C#) is an imperative language: when I create an object, I expect an object to be created now (including any potential side-effects of its constructor), not at some point in the future.

This would either introduce magic that would make code hard to understand, or it would require some sort of tracking which operations are side-e

[2016-12-02 13:04] matthiasburger commented on #3371
Idea of @HaloFour is nice, but implementing translation into an existing tool is a lot of work. I think the solution with
[code]
is less work. multiple summary-nodes are supported in most libraries. A root-node for summary would also be a lot of effort for existing tools.
Imho, idea of @h82258652 and the support for a `<link>`-tag would be great both. Would be very luxurious to have both of them.

[2016-12-02 14:47] qrli commented on #15529
So what's the LDM decision for `do ... while()`?

[2016-12-02 14:48] eyalsk commented on #3371
Another option is to do what we always did and not change it so at the at the source level, we write the comments as usual like so:
[code]
Now, the idea here is to use resource files for localization and the text of the comments themselves as the key for the resource files.

Finally, we need to have some attribute that specifies the resource file for each given language.
[code]

The only _disadvan

[2016-12-02 15:28] qrli commented on #15538
This is a bad example to me. So, to use the leaky matched variable, people have to use this hack. I guess it would become a stackoverflow question&answer. Some hacks are useful, e.g. for performance, but this hack has no good reason to exist except to obfuscate the code IMO.

And unlike `if`, which can use `{if() ... }` to reduce the scope, `{var x = M(e is int y ? y : 0); }` would render `x` usel

[2016-12-02 15:45] DualBrain commented on #13897
Breaking changes... slippery slope.  Let's take the arguments mentioned above and apply them to "other areas"...

1. Its purpose can be achieved via other means

* goto
* unsafe
* (there are plenty more)

This is true of nearly every thing.

But let's discuss goto for a second... there is no argument that nearly every scenario (especially common ones) that there is an alternative way to accomplish

[2016-12-02 15:56] alrz commented on #15538
Oh, "hack" you say, in case folks want to use `if` but do not want the variable to leak:
[code]
easy peasy.

[2016-12-02 15:56] DualBrain commented on #14726
To the best of my knowledge, no version of BASIC has ever allowed for this.

For example, in QB all variables were assumed to be numeric unless they had a $.  You could modify this using DEF___.  It could also be further modified using DIM.  However, if you did declare a variable without a $ as a string using DIM; it still would not work as this suggestion suggests...

x = "a"
DIM x AS STRING
PRIN

[2016-12-02 15:59] DualBrain commented on #14338
I agree.  It would be extremely helpful to be able to reuse the same methods from within the Catch block instead of me having to create an essentially duplicate code non-async method.

Add to that the fact that the feasibility of this is "very possible" since, I believe, C# does have support for this. ;-)

[2016-12-02 16:00] DavidArno commented on #15538
@alrz,

I can't decide whether to hail you a genius, or to send you to the back of the class for such awful code!! 😆

[2016-12-02 16:05] DualBrain commented on #14250
The existing, tried and true, BASIC way of dealing with this is something I believe isn't deserving of change.  Although there are certain keywords that *could potentially* be relaxed; there are many others that definitely could not.

If if Then
  do
Else
  else
End If

It just doesn't fit with the design of the overall language.  Keywords are keywords and the safest approach is to respect that th

[2016-12-02 16:13] DavidArno commented on #15538
Inspired by @alrz, it occurs to me that local functions can be used to prevent `is T` variables leaking. So taking @gafter's example:
[code]
That can be rewritten to:
[code]

😁

[2016-12-02 16:13] sharwell commented on #13897
💭 We use an analyzer to turn `async void` into a compiler error.

[2016-12-02 16:18] DualBrain commented on #13524
I can say that this isn't something that I feel I, personally, encounter as a common problem.  Additionally, I'll add even more ways to handle this should the circumstance arise...

`If employee?.Name IsNot Nothing Then
    Console.WriteLine($"Hello {employee.Name}!")
End If`

Or dare I say...

`If employee.Name IsNot Nothing Then
    If employee.Name Is Nothing Then Goto AbortThis
    Console.Wri

[2016-12-02 16:20] DualBrain commented on #13523
I wouldn't mind knowing the answer to this as well. :-D

[2016-12-02 16:23] orthoxerox commented on #15538
@DavidArno, be careful, next LDM meeting notes might change that too ;)

[2016-12-02 16:42] alrz commented on #15538
@DavidArno  This is so going to be an idiom. :laughing:

[2016-12-02 16:54] stephentoub opened #15644 "Compiler should emit access to auto-prop backing store for access in same compilation unit"
**Version Used**:
1.3.1.60616

**Steps to Reproduce**:
Compile:
[code]

**Expected Behavior**:
Generates the IL for Main:
[code]

**Actual Behavior**:
Generates the IL for Main:
[code]

Primary benefit here would be alleviating a bit of work on the JIT having to inline the accessor, and on avoiding any concern from the developer that such inlining would be done. This could be done wherever the cal

[2016-12-02 17:17] fuzzycactus opened #15645 "CSharpScript.Create does not allow to specify a Previous script"
The CSharpScript compiler checks for the `Previous` script submission to compile first; however, the setting of Previous is not exposed - it appears to be only available in the abstract Script constructor.

How does one set it?

[2016-12-02 18:50] jnm2 commented on #13897
There's no way I can do without this pattern for view model properties:

[code]

Not to mention the (rare) `async void TrySetBoundProperty(int value)` situation.
Exactly how would this be improved by banning `async void`? I'm using it very tastefully here and in a few other scenarios. In each case, it's not the caller's responsibility to know that something async has been triggered.

[2016-12-02 18:56] alrz commented on #13897
If you have to use async void like `override async void` this is totally safe to use:
[code]

[2016-12-02 18:59] jnm2 commented on #13897
@alrz No way I'm swallowing exceptions like that in production code.

[2016-12-02 19:04] DualBrain commented on #11767
I kind of like the idea of guid literals.  Just throwing out there the use of a different prefix/suffix of G instead of #.

As with any addition to the language; clearly more thought should go into it... but my vote right now is that "let's chew on it a bit".

[2016-12-02 19:27] alrz commented on #13897
I didn't mean to just catch it. you should of course handle it, (log etc) and perhaps route it to UI thread, e.g. via dispatcher.

[2016-12-02 20:05] DavidArno commented on #15538
Further thoughts on this, again completely inspired by @alrz's `if/while` hack. Whilst most folk would probably not want to use it directly to work around variable scope leakage, when (if?) source generators get added to the language, then the `while` scope hack, along with eg using local functions to encapsulate `is T` expressions to stop them leaking too could be indirectly used. A source genera

[2016-12-02 20:08] 0xd4d commented on #15644
This only works if the backing field is accessible to the caller. Compiler generated fields (at least generated by C# Roslyn) are private.

[2016-12-02 20:13] stephentoub commented on #15644
Yes. I'm suggesting that when they are accessible, this could be done, similar to how it's done for events.

[2016-12-02 20:31] HaloFour commented on #15619
@gafter

What do you need beyond the query-to-method translations above to at least get the concept considered?  I'd be willing to take a crack at specification amendments.  I'm more interested in the reaction from the LDM at this point.

[2016-12-02 20:51] ivatih commented on #13146
Please help)))) it's very important for me. May be I doing something wrong?

[2016-12-02 21:17] gafter commented on #12940
@AlekseyTs

I reviewed my understanding @mattwar, one of the original members of the Roslyn team, and he confirmed my recollection that it is, in fact, an invariant of the design of the bound trees that they are to be roughly isomorphic in shape with the syntax, and are to retain any semantically significant information. We both feel that these invariants are important and useful, so we should be

[2016-12-02 21:57] cston opened #15647 "EE: Calculate members lazily"
Calculating the set of type member (fields and properties) for a value in the Locals or Watch window is fairly expensive. But the set is calculated early currently to determine whether to mark the value row as Expandable. Consider delaying calculating the members until the value is expanded, perhaps marking the value Expandable in all cases.

[2016-12-02 21:58] gafter commented on #15619
@HaloFour The current specification is completely local and compositional. The proposed translation isn't. I'll let you know what the LDM says.

[2016-12-02 22:01] alrz commented on #15644
Also for read-write properties, the compiler can directly use the underlying field, if accessible.

[2016-12-02 22:02] gafter commented on #15619
@HaloFour Also, the suggested translation only handles expression variables in a `where` clause, but there are lots of other kinds of clauses.

[2016-12-02 22:09] jnm2 commented on #14250
Unambiguous readability is better than convenience in my opinion. Code is read much more than written.

[2016-12-02 22:14] alrz commented on #15644
btw, I wonder how deep compiler currently inlines code and doe not depend on the JIT. Variables for example, that are just referenced once and there is no side-effect in between can be inlined. Also, it seems that there is no optimization on loops. Is ant of these considered for the future, @stephentoub?

[2016-12-02 22:20] #15625 closed

[2016-12-02 22:23] HaloFour commented on #15619
@gafter

Of course, but previously C# had precious few ways to introduce new variables so `let` perfectly fit the bill.

Don't forget `let` and `from` \([see this comment](https://github.com/dotnet/roslyn/issues/15619#issuecomment-264336134)).  I'm not sure that projecting range variables makes a lot of sense in the other clauses but I'm far from opposed to considering something that would apply t

[2016-12-02 22:24] gafter commented on #15644
The language specifies the behavior here, and it is visible in the debugger.

[2016-12-02 22:25] alrz commented on #15644
Perhaps, this should be done only in optimized builds.

[2016-12-02 22:27] Pilchie opened #15648 "Add quick fix to generate a field and initialize from a constructor parameter"
Generate constructor works the other way, but it would be nice to be able to generate a field and an assignment to it after adding a parameter to a constructor.

[code]

With the caret in `string f`, we should be able to generate a field and initialize it.

[2016-12-02 22:33] Pilchie commented on #13426
I added a link to it from the wiki home page, and the sidebar page.

[2016-12-02 22:35] alrz opened #15649 "Proposal: Compilation Pipeline"
Generators (#5561) allow to **add** code to the compilation unit and replace/origin (#5292) can replace members at the **declaration-site**. But still we can't intercept statements or method calls that are potentially outside of the assembly boundaries (e.g. linq calls could be inlined). This is not just about the code itself, one could be able to run an analysis on the code and generate useful in

[2016-12-02 23:28] gafter commented on #15644
We do not generally do optimizations in the front end.

[2016-12-02 23:30] stephentoub commented on #15644
Oh course we do; otherwise what's the difference between debug and release? And we should do more.

[2016-12-02 23:33] gafter commented on #15644
The difference is that we omit debug information. And yes, I agree, we should omit more of it.

[2016-12-02 23:39] stephentoub commented on #15644
We do more than just that. We avoid hoisting locals that aren't needed. We use structs instead of classes where possible. We do const folding. We avoid  boxing in some situations. Etc. If all of that is "debug info" then I'm not sure how a method call instead of a field access is any less "debug info".

[2016-12-02 23:56] jaredpar commented on #13146
CC @tmat as that looks like a scripting issue above.

[2016-12-03 00:48] gafter commented on #15644
@stephentoub "avoiding hoisting" is avoiding a deoptimization that we sometimes perform to support debugging. Constant folding is required by the language specification, not something that we do for performance. Etc.

[2016-12-03 00:52] qrli commented on #15538
@alrz I mean that specific hack to get `y` definitely assigned is bad. Not others.
@alrz @DavidArno Why use `while` when you can simply use `{ }`?
[code]

[2016-12-03 01:00] stephentoub commented on #15644
Oh come on. In C#5 async methods lifted all locals to the state machine, then in C#6 we got smarter and avoided lifting those we could get away without. You're saying that what we did in C#6 was  actually just undoing a purposeful deoptimization, not applying an optimization? :)

We use Array.Empty instead of new T[]. We replace char consts with string consts to choose a better overload of string.

[2016-12-03 01:11] tmat commented on #13146
@ivatih Can you share your project?

[2016-12-03 01:16] qrli opened #15651 "Proposal: Modify sequence expression to allow scope variables like "var x = { e is int y ? y : 0 }""
**Inspiration:**
In current scoping rules, `{ }` can be used to reduce scope of pattern variables and our vars like:
[code]
But there is no easy way for expression statements:
[code]
If we can allow block effectively an expression, like sequence expression, then we can write:
[code]

This is inspired from discussion at #15538.

**Detail Design**
Base on sequence expression. I don't mind too much a

[2016-12-03 01:19] qrli commented on #15538
I just created #15651 to modify sequence expression a bit to allow
[code]

[2016-12-03 01:22] alrz commented on #15651
This'll be ambiguous in case of an array initializer.
[code]

[2016-12-03 01:26] qrli commented on #15651
Yes, I'm just thinking about the array initializer case while I'm posting. Because it sequence expression, an easy workaround is:
[code]
Note the semicolon :-P

[2016-12-03 01:34] qrli commented on #15651
An possible ambiguous array initializer example:
[code]
I think this is very rare case.

[2016-12-03 01:44] alrz commented on #15651
It's not. The ternary returns an array hence x will be a singleton array of another array (implicitly upcasted to object).

Ambiguity has nothing to do with rarity as it must be resolved in the compiler anyways.

[2016-12-03 01:53] CyrusNajmabadi commented on #15612
Is Workspace.WorkspaceEvents not enough?

[2016-12-03 02:36] eyalsk commented on #15651
This is inconsistent you use `{ }` around blocks and then you switch gears and use it around expressions.

So if this should work `var x = { e is int y ? y : 0 }` then this should work too `if ({e is int y}) { Use(y); }`.

[2016-12-03 02:54] eyalsk commented on #15538
@DavidArno

There is only one question here why we need to use heavy machinery at all? this needs to somehow be baked into the language.

It doesn't make sense to me that people will use hacks/tricks or use this feature as is and then in C# 7.X or C# Y they will introduce a new way or a way to deal with scopes and then people will need to revise their code because they really wanted a narrow scope

[2016-12-03 04:38] aelij commented on #15645
The previous script is set when you chain scripts using the [`ContinueWith`](http://source.roslyn.io/Microsoft.CodeAnalysis.Scripting/R/28760f869988b06b.html) method. See examples [here](https://github.com/dotnet/roslyn/wiki/Scripting-API-Samples#chain).

[2016-12-03 04:45] qrli commented on #15651
@eyalsk why do you think that way? `{ }` always creates a scope in current c#, so `if ({e is int y}) { Use(y); }` obviously should _not_ work. Even if we still use `( )` for sequence expression, `if ((e is int y;)) { Use(y); }` will not work either. The important part is not `{ }`, but sequence expression has its own scope. Or do you think `( )` creating a scope is more intuitive?

For the other p

[2016-12-03 04:53] gafter commented on #15644
We actually had to go out of our way to reintroduce the deoptimization around lifting in Roslyn when we noticed the degradation of the debug experience. The "optimization" was the natural behavior of lambda lowering.

If you write string.Concat with a character constant, we do not replace it with a different overload. You're thinking of the string + operator, whose translation is not specified.

W

[2016-12-03 06:11] Joe4evr commented on #15639
`Lazy<T>`?

[2016-12-03 06:23] eyalsk commented on #15651
@qrli

I know, I was referring to your suggestion.

By your suggestion this should work!

No, they aren't the same thing, there's a difference.

[2016-12-03 06:33] pmunin commented on #2136
Few more requests:

1) Declaring local variables or constants easier. E.g.:

[code]
Is there any issue for that created?

2) Making compiler smart enough to compile the following code successfully:
[code]

[2016-12-03 06:49] qrli commented on #15651
Sorry I cannot understand your logic. I said `{ }` creates a scope. So `y` will not leak outside the `{ }` at all. Why do you think it would?

[2016-12-03 07:57] alrz opened #15652 "Proposal: Allow otherwise unresolvable instant methods to resolve to a static method in the same type"
[code]
->
[code]

[2016-12-03 07:59] DavidArno commented on #15651
@alrz,

I don't think the following is ambiguous, other than to a potentially inexperience reader of the code:
[code]
It initiliases the `x` array with `y` or `0` and `y` leaks. To prevent it leaking, it would just need expressing as:
[code]
What am I missing?

@eyalsk,
[code]
Wouldn't work as I understand this suggestion as `{e is int y}` constrains `y` completely to the expression, ie it doesn't

[2016-12-03 08:00] eyalsk commented on #15651
@qrli

Where in the world I said it would leak?

There's obviously a misunderstanding here, so I'll let me try again.

What I'm saying is if you think this should work `var x = { e is int y ? y : 0 }` then all I'm saying is that when the curly braces are applied to any expression, anywhere! it should narrow the scope so if it's applied to an `if` statement like so:
[code]
Then `y` wouldn't leak ou

[2016-12-03 08:04] alrz commented on #15651
@DavidArno It's still a valid array initializer.
[code]
Therefore, it's still ambiguous.

[2016-12-03 08:24] alrz commented on #15638
I think the general solution here is #100,
[code]

[2016-12-03 09:30] orthoxerox commented on #15652
I think you should ask the coreclr team to add these as extension methods instead. I don't think this is a constantly recurring problem that requires a general solution.

[2016-12-03 09:40] ivatih commented on #13146
https://github.com/ivatih/Pad

I have 3 projects:
1) Hosting (lib) just ScriptHost class
2) Console Application: Run scripthost, create host and his endpoint
3) Client, when push the button client try start Console Application with host

[2016-12-03 09:43] alrz commented on #15652
@orthoxerox

That would be a breaking change, because currently `using static` doesn't support extension methods. That'd be corefx though.

[2016-12-03 09:44] ivatih commented on #13146
tmat, thanks for help)

[2016-12-03 10:13] thomaslevesque commented on #2136
I agree. Although it's not *extremely* important to have this, it's inconsistent to be able to declare variables inline for `out` parameters but not for normal parameters.

I don't see the point. It's not very common to write recursive lambda expressions, and it's going to become even less common now that we have local functions.

It's true that there's a gap for delegates that manipulate anonymou

[2016-12-03 12:01] nil4 commented on #13979
I am getting this same issue on VS 2015 Enterprise Update 3 with HP Fortify 16.11, during a command-line build (`devenv.com Solution /build /debug`). Here is the event log entry:
[code]

[2016-12-03 12:03] stephentoub commented on #15644
Yes, and I never said otherwise.  That's what I was talking about.  I'm the one who contributed that:
https://github.com/dotnet/roslyn/commit/b932a6d1dbbebdaf2bfa6e29d3b0f8a8e318cadf

As we do with most optimizations the compiler applies.  They're disabled in debug, enabled in release.

That "natural behavior" required a lot of additional code.  Are you saying that writing that extra code wasn't a

[2016-12-03 12:05] nil4 commented on #13979
Not sure if related, but earlier in the event log a few WER entries related to Visual studio are found. One with the message TestWindowPackage.Initialize failed with exception *System.ArgumentNullException: Value cannot be null.* (SetSite failed for package [TestWindowPackage]). A few more telemetry parameters are logged, but since this machine is not connected to the internet, I will include them

[2016-12-03 12:26] nil4 commented on #15134
@jmarolf  @jasonmalinowski I am getting this same issue on VS 2015 Enterprise Update 3 with HP Fortify 16.11, during a command-line build (devenv.com Solution /build /debug). Below is the event log entry.

I downloaded the VSIX linked above, and looking at the `manifest.json` file inside, I see `dependencies":{"Microsoft.VisualStudio.Component.CoreEditor":"[15.0,16.0)"}`. Thus I have the follow qu

[2016-12-03 12:50] vbcodec commented on #15639
@svick

Languages VB and C# are not only imperative but also declarative. Features like Inheritance, polymorphism, LINQ, async and many other rely on enormous amount of 'magical' code generated by compiler and CLR. Thanks to this magic, you can stay at high level of abstraction.

Editor may highlight code that will be used to initializer, or there may be introduced additional keywords mo more expl

[2016-12-03 12:52] MovGP0 commented on #2136
@pmunin nested classes are indeed considered a useful feature by some developers. However, to my experience there are many ways how developers actually misuse them. Most important ones are:

- nesting hides objects from the project tree, since they don't get their own file. Some project trees I've seen hide more than half of the classes!
- nesting of large classes with lots of business logic in th

[2016-12-03 13:01] a-ctor commented on #13585
@OmarTawfik PR has been merged so this issue can be closed.

[2016-12-03 14:13] cydhaselton opened #15653 "CSC error CS1504 Building CoreClr mscorlib sources"
**Version Used**:
2.0.0-rc with mono runtime v4.9.0
**Steps to Reproduce**:

1. Clone coreclr sources
2. Navigate to src/mscorlib directory
3. Run following command
`xbuild14 /verbosity:diagnostic /p:MSBuildToolsVersion=14.0 /p:BuildOS=Unix /p:CscToolPath=$PREFIX/lib/roslyn/tools /p:CscToolExe=csc.exe /p:target=Clean System.Private.CoreLib.csproj`

**Expected Behavior**:
System.Private.Corelib.dll

[2016-12-03 14:46] svick opened #15654 "Language Feature Status should be updated"
The page [Language Feature Status](https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md) seems to be out of date, specifically when it comes to branches listed for features:

1. It says that Throw Expr is in its own feature branch, when it was merged into master in https://github.com/dotnet/roslyn/pull/13750.
2. Likewise, it says that Expression-Bodied Everything has it

[2016-12-03 14:54] pmunin commented on #2136
@MovGP0, where did I talk about nested classes? If you're talking about code sample, where I included Node class in MyGraph, then I think you missed the whole point of my post.

Some people can misuse milk fueling their cars with it - does not mean milk should not exist.

[2016-12-03 15:07] jnm2 commented on #2136
@thomaslevesque

Maybe not, but here is an awfully common pattern for me:

[code]

[2016-12-03 15:14] alrz commented on #15654
Perhaps, wildcard and deconstruction should be added. Because they are standalone features and do not depend on type switch or tuples.

[2016-12-03 15:47] scott-xu commented on #4655
@sharwell Can you please consider @heaths 's suggestion?

[2016-12-03 15:56] gafter commented on #15644
b932a6d

Because it directly implements the specified language semantics, it isn't an optimization (except by comparison to a previous poor code gen strategy). It is just a better code-gen strategy. The optimization requested in this issue is to generate code different from that required by the language specification.

Yes, I'm saying that the act of writing the Roslyn C# compiler from scratch, in

[2016-12-03 16:08] sharwell commented on #4655
@heaths @scott-xu You are assuming that the project being analyzed exists on disk, and that the file system can be used to locate a file relative to the project. Neither of these are valid assumptions in a Roslyn analyzer.

[2016-12-03 16:17] MgSam commented on #15638
I'd like to see an analysis of C# source in the wild to see how many people actually use the query comprehension syntax. More and more I feel that adding it was a mistake- it tries to be like SQL and hide the *how* behind what its doing. But this is C#, not SQL. There is no query optimizer. Understanding the *how* is important. And the query language is and always will be inferior in functionality

[2016-12-03 16:20] alrz commented on #15644
Wouldn't it make sense to expose compilation pipeline (#15649) and do this as an external pass?

[2016-12-03 16:27] alrz commented on #15638
@MgSam Yeah it's outright wrong. But it looks cool and it sells. I'd rather have a general syntax for monads instead of an incomplete sugar designed for a specific use case. And it's not even optimized for hell's sake.

[2016-12-03 16:33] svick commented on #15639
@vbcodec

None of these change how a sequence of statements execute, they build on top of that, usually using new and very explicit syntax.

Not necessarily. If you call `Init`, multiple times, it could store all the delegates you gave to it and execute them all once the value is actually required.

But I think that multiple initialization is not a very common problem. It's probably not worth addi

[2016-12-03 16:59] Pilchie commented on #15096
I think we still need to catch in the Roslyn code too.

[2016-12-03 17:07] HaloFour commented on #15638
I know that it's used frequently in the projects I work with.  I use both interchangeably, depending on which clauses I need.  I fully admit that bridging query syntax and method syntax is awkward, and with the limitations of the query syntax in C# you have to do it more often than I think is necessary.  I think if C# implemented a few additional clauses it could be much more pleasant.  There is m

[2016-12-03 17:20] jmarolf commented on #4395
@elachlan I can't get this to repro, can you give me the code for LogicBase.vb and Logic.vb?

[2016-12-03 17:49] jnm2 commented on #15638
@MgSam I use it and like it when it is less verbose, aka when I'd have a `.Select(...)` anyhow. I wish it was more flexible so I could use it more.

I don't think it's hiding anything. I've always understood it just as well as the method calls which is it syntactic sugar for. I really don't think you have a point here. If you're talking about EF and query providers, the *how* is just as hidden if

[2016-12-03 18:02] jnm2 commented on #15639
I'd absolutely hate for the compiler to bless one particular mechanism, like `Lazy<>` or `??=` or CAS. They each have their strengths for different applications. It would be terribly imbalanced for the language itself to decide that one way of doing lazy loading was *the* idiomatic way.

[2016-12-03 18:04] jnm2 commented on #15652
Part of me likes this but mostly it seems this would lead to confusion. Usually an API should have a single way of doing things.

[2016-12-03 18:08] stephentoub commented on #15644
So you're saying that something is only an "optimization" if it doesn't comply with the language spec? That doesn't make sense to me as part of the definition of the word.

Yes, that is a form of optimization.

I agree with that. They're both "optimizations", and I believe you're just trying to draw a distinction between those optimizations permitted by the spec and those not permitted by the spec

[2016-12-03 18:15] aluanhaddad commented on #15538
Honestly if we had match expressions it people wouldn't even want to use the pattern variable outside of the scope of the pattern. Since match is an expression and therefore has a value, any declaratively builtup state would be available for projection into the result of the case cause.

[2016-12-03 18:58] jmarolf commented on #15411
@CyrusNajmabadi appears to have removed all uses of the `IWaitIndicator` service in `src\EditorFeatures\Core\Implementation\Suggestions\FixAllGetFixesService.cs`, so we're going to need to add those usages back somehow.

[2016-12-03 19:06] svick commented on #15623
I was curious about this. Turns out there is a difference in performance between the two, but it's fairly small (depending on your point of view).

First, decompiled assembly:

"OldSchool":

[code]

"Modern":

[code]

[Benchmark](https://gist.github.com/svick/4e59c8c08f5f94a8f9faae78e1396ef6) results (using x64 .Net Framework):

|    Method |      Mean |    StdDev |
|---------- |---------- |------

[2016-12-03 19:16] #6742 closed

[2016-12-03 19:16] jmarolf commented on #15411
Well, on further investigation we should remove the vestigial `IWaitIndicator` from `FixAllGetFixesService` but the moving the waiting to `SuggestedAction` *should* have worked

[2016-12-03 19:18] tmat commented on #6742
Let's keep the resolution as is -- that is ```#r "assembly name"``` should use the target CLR Framework assembly resolution mechanism (GAC on Desktop, TPA/Default AssemblyLoadContext on CoreCLR).

[2016-12-03 19:20] tmat commented on #13523
The VB Scripting implementation is incomplete. As @hcd points out there are many issues to be addressed before we can consider it production quality. We would love to get VB Scripting out there but our focus is currently on other features. We would certainly accept any community contributions that get VB scripting to a better shape.

[2016-12-03 19:23] tmat commented on #8248
See also: https://github.com/dotnet/roslyn/issues/13523

[2016-12-03 19:23] #8248 closed

[2016-12-03 19:34] tmat commented on #13523
Currently open VB Scripting issues -- all are up-for-grabs, available for anyone to pick up:

https://github.com/dotnet/roslyn/issues?utf8=%E2%9C%93&q=is%3Aopen%20label%3AInteractive-ScriptingLogic%20label%3ALanguage-VB

[2016-12-03 19:58] mikedn commented on #15623
The only reason why those 2 versions don't generate identical code is a rather unfortunate present limitation of the JIT. That limitation will have to be removed sooner or later (there are already multiple issues opened for that) because it affects many other things, not just this particular use of properties. In fact, even the `ref` version is affected by this, that copy of `rdx` to `r8` is point

[2016-12-03 20:29] CyrusNajmabadi commented on #15644
Overall, i like this idea.  My only concern would be if this was somehow observable, or could otherwise lead to a change in behavior that could reasonably affect someone.  Say, for example, someone used some sort of IL rewriting tool to instrument their code, or do some other action.  Now, they'd see different behavior.

Of course, in that case, it still might be ok, with the caveat that that othe

[2016-12-03 20:30] mikedn commented on #15644
FWIW the JIT was/is considering adding some sort of fast path for trivial methods, that would probably take care of this. And of course, the JIT has the advantage that it can do it for fields that aren't normally accessible.

[2016-12-03 20:38] CyrusNajmabadi commented on #15623
First:

This type of language is just not necessary.  These are tools for solving problems.

Second, I believe 'ref' to be a fairly advanced feature intended explicitly for driving performance in constrained scenarios.  The customers requesting this feature do not want 'ref' purely to get readonly data back.  They want 'ref' returns so they can easily get access to *and* mutate values in their sys

[2016-12-03 20:46] CyrusNajmabadi commented on #15623
There was no rush on this.  It was simply easy to do, and solved a need for several customers.  The difference between the two features is that without ref-returns, some types of programs simply weren't possible for customers.  i.e. the perf overhead of existing C# constructs was always too high for them to get the performance they needed.  Readonly-locals is not the same.  The lack of such a feat

[2016-12-03 21:44] thomaslevesque commented on #2136
@jnm2 you can also use a local function in that scenario ;)

[2016-12-03 21:50] benaadams commented on #5561
Would a generator allow, for example:

Detect anywhere a bool `b` is cast to object and replace with `BoxCache.Box(b)` where BoxCache is defined as the following?

[code]

[2016-12-03 21:51] HaloFour commented on #15623
@CyrusNajmabadi

Indeed, these are tools.  So is a shotgun.  But a shotgun makes a lousy bottle opener.

I agree.  As an advanced tool I also think that it should also come with a warning label.  Otherwise, if `ref` returns are viewed as some idiomatic way to declare properties, encouraged through shorthand like readonly `ref` auto-implemented properties, the likelihood of people using the tool in

[2016-12-03 21:56] HaloFour commented on #5561
@benadams

I imagine that you could do that only if you replace any member that performed such a cast and completely rewrote it without calling the original member.  The fact that each type would have to be marked `partial` might make that a bit tedious.

[2016-12-03 22:21] CyrusNajmabadi commented on #15623
I was simply pointing out that it was a core design goal to enable mutation with refs.  That was a primary scenario that customers need for the problems we were trying to address.

So stating that it's a 'misuse' to allow for mutation of ref-returns does not actually fit with our design goals for the feature.  A core intent is to allow cheap mutation of large value types.  We would certainly like

[2016-12-03 22:28] m0sa commented on #5561
I still hope that one day we'll get full get/set access to the compilation
object,  like we had in dnx icompilemodules. Crazy things (totally valid in
some use cases) like the one @benadams suggest were perfectly doable there.
What's the point of having the whole compiler model available, but not
beeing able to trivially hook into it and modify the compilation, other
than forking csc.exe? Instead

[2016-12-03 22:35] CyrusNajmabadi commented on #15623
7% sounds absolutely massive to me.  We're happy when we introduce a compiler change that gets a <1% improvement on code.

For domains where people are trying to squeeze out all the perf they can (i.e. the same people asking for ref-returns in the first place), such improves are huge.

Remember that ref-returns are for people who still want to code in a safe language like c#, but want to be 'as cl

[2016-12-03 22:37] khionu commented on #15517
I'm having the same issue with VS 2017. Commit: b68450f519df3af2b985a70dee320e83fa35381a

[2016-12-03 22:38] ManishJayaswal commented on #15612
LUT currently does not listen to workspace events directly. It responds to solution crawler events. I am not sure if solution crawler passes this all the time. If it does then maybe LUT first needs to look for this event before starting in lightweight solution load mode.

@KevinH-MS @JohnHamby thoughts?

[2016-12-03 22:38] CyrusNajmabadi commented on #5561
Most likely yes.

[2016-12-03 22:39] CyrusNajmabadi commented on #15612
But this bug is literally titled:

The Roslyn workspace does send events.  Through Workspace.WorkspaceEvents :)

Why not just listen to them?

[2016-12-03 22:43] CyrusNajmabadi commented on #15612
Are you an IIncrementalAnalyzer?

[2016-12-03 22:46] ManishJayaswal commented on #15612
Yes we are using IIncrementalAnalyzer.
We had gone the solution crawler route because it is already tuned to not impact typing responsiveness etc. which we needed for LUT as well. If Roslyn workspace does send an event when it is completely populated in lightweight solution load mode and the solution crawler does pass it along then there may not be anything to do here on Roslyn side. Can you confi

[2016-12-03 22:57] Pilchie commented on #15612
You should confirm, but I think you will get a `SolutionAdded` event when the workspace first gets populated.

[2016-12-03 23:40] svick commented on #15623
@CyrusNajmabadi

Right. My post was in the context of this proposal, where @controlflow made it sound as if `ref`-returning properties are the way of the future and should have every convenience possible (specifically, auto-properties).

7% can indeed be a lot. But considering all the disadvantages of `ref`-retuning properties, and how limited my benchmark is, I don't think it's enough to start sw

[2016-12-03 23:43] jnm2 commented on #2136
Oh I guess! I can hardly wait!

[2016-12-03 23:51] jnm2 commented on #15623
I think everybody basically agrees and is just having different reactions to some apparent trolling on @controlflow's part 😆

[2016-12-03 23:51] CyrusNajmabadi commented on #15612
"Would listening to NewSolutionSnapshotAsync work?"

Why not just listen to the IIncrementalAnalyzer events, aggregating the messages you're hearing, then wait X number of seconds until the last one comes in, and then start processing them?  You can see an example of how we do that in https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs

[2016-12-03 23:57] eyalsk commented on #15623
The thing that bothers me is that the examples don't really demonstrate the usefulness of this feature or the scenarios where this is useful.

Now, I don't have issues with poor examples as long as I can understand what they try to convey.

[2016-12-04 00:24] aluanhaddad commented on #15652
Extension methods are the right way to take care of this. As much as it would be nice to have certain methods, like `String.IsNullOrWhiteSpace`, available, I would really not want all of them.
[code]
[code]

[2016-12-04 00:31] aluanhaddad commented on #15638
LINQ expressions are great. Readability goes way up when there is more than a single projection or a single filter. Compare `GroupBy`, `Join`, `GroupJoin`, `OrderBy`, and `OrderByDescending`. These are all much more readable using query syntax.

[2016-12-04 00:57] pmunin opened #15659 "Proposal: Inline local var and consts declaration in C#"
It would be great if declaring local variables and constants was easier. E.g.:
[code]

[2016-12-04 01:07] pmunin opened #15660 "Issue: C# Assigning variable to inline delegate and using it in the delegate body causes "Using unassigned variable" error"
**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

Another good use case which is very common provided by @jnm2:
[code]
And combined with #15659 it could be something like this:
[code]

[2016-12-04 01:18] pmunin opened #15661 "Issue: var does not handle Generic anonymous functions"
**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

[2016-12-04 01:21] #15652 closed

[2016-12-04 01:21] alrz commented on #15659
#254

[2016-12-04 01:42] HaloFour commented on #15661
Dupe of #14 which was already closed.

In short, delegates are all different types according to the CLR and they are incompatible with each other even if their signature matches.  The C# language has no special knowledge of any specific delegate types, including the `Func<...>` or `Action<...>` delegate families.  If lambda inference were to decide to use `Func<...>`, assuming that could be done u

[2016-12-04 01:55] HaloFour commented on #15660
That is expected behavior.  The variable has not been assigned yet.  This applies to any expressions that attempt to reference the variable before it has been assigned, even if that variable will be assigned as a result of the expression:

[code]

For delegates specifically, local functions alleviate the need for this as their hoisted scope allows them to be self-referential.

[2016-12-04 02:04] pmunin commented on #15660
`int x = x+1;` is different, because variable is used by execution flow before it was assigned.
In case of assigning to a delegate - its body execution flow is deferred and will happen obviously when the variable assignment is accomplished.

[2016-12-04 02:26] HaloFour commented on #15660
The compiler does not track the lambda body as separate from the body of the current method, particularly in the case of a closure.  In any case this feature is addressed by local functions which are being added to C#.

[2016-12-04 02:34] Inverness commented on #5561
I'm agreeing with @m0sa and @RikkiGibson a lot here.

I would like an explanation as for why full access to the compilation object is not being provided.

[2016-12-04 02:42] CyrusNajmabadi commented on #5561
The moment we give access to something, it becomes an API that we cannot change.  That is an enormous burden and we are simply not at the point where we can provide that.

We are trying to expose more of the Roslyn compilation model through the IOperation work.  But even starting that work, we discovered an enormous amount of work that would be necessary to do it properly.  The testing burden alon

[2016-12-04 03:23] Inverness commented on #5561
@CyrusNajmabadi I don't understand the argument because CSharpCompilation already has many members that are part of the public API.

How would allowing the code generator to use methods like AddReferences() then return the new CSharpCompilation instance be creating an enormous burden?

[2016-12-04 04:22] onovotny opened #15662 "Very slow VS builds with cross compile"
**Version Used**:
Microsoft (R) Build Engine version 15.1.371.0
Visual Studio 2017 RC 15.0.25920.0

**Steps to Reproduce**:
clone https://github.com/onovotny/bc-csharp and check out the `netstandard` branch.
Open in VS 2017. Build.

Very slow builds in VS, fast on CLI running dotnet build.

**Expected Behavior**:
Build in VS should be as fast as CLI
**Actual Behavior**:
Build from VS takes about 3

[2016-12-04 04:24] onovotny commented on #15662
Build log from VS:

[code]

[2016-12-04 04:25] onovotny commented on #15662
On the CLI, it takes 11.56 seconds do run `dotnet build` on the same sln after running `dotnet clean`, `dotnet restore`.

[2016-12-04 08:00] MihaMarkic commented on #5561
I don't get it either. Even Dustin Campbell demonstrated a prototype of it a year or two ago AFAIK.

[2016-12-04 09:40] CyrusNajmabadi commented on #5561
There's a big difference between a prototype and a real product.  And as we worked *more* on the feature we discovered that it was larger than expected.  i.e. it would take many more devs across many more teams to do this properly.  There wasn't enough time for all of that for VS17.  Hopefully we'll be able to fit it into a future release.

[2016-12-04 09:42] CyrusNajmabadi commented on #5561
Or, in other words, it's much simpler to make something that just has to work for a toy scenario.  When you start dealing with teh complexities around making that scale up well to humongous projects, and work well with debugging, and work well with versioning, and work well with editing, and work well with refactoring, then things get much much more difficult.

[2016-12-04 10:34] vasily-kirichenko opened #15664 "RenamedSpansTracker location"
In what NuGet package `RenamedSpansTracker` is located? https://github.com/dotnet/roslyn/blob/84bc7eea2e05e9d9d7e1b53c2a107c0ac9857a72/src/Workspaces/Core/Portable/Rename/ConflictEngine/RenamedSpansTracker.cs I'm trying to implement Inline Rename service for F# and I think I should use this class.

[2016-12-04 10:39] CyrusNajmabadi commented on #15411
Agreed.  It's very weird.  SuggestedAction.Invoke has this code called from it:

[code]

I have no idea why this isn't actually doing anything.

[2016-12-04 11:33] cydhaselton commented on #15653
Problem was with invalid characters in source files. Closing.

[2016-12-04 11:33] #15653 closed

[2016-12-04 14:42] onovotny commented on #15662
/cc @piotrpMSFT

[2016-12-04 14:57] kakins commented on #4395
I'm experiencing the same issue, but with multiple "provider" errors, such as SimplifyTypeNamesCodeFixProvider.  I have tried everything from disabling ReSharper to reverting to VS settings from a month ago where everything was working fine.

[2016-12-04 15:00] kakins commented on #7396
Do we know if this fix has been pushed to a recent update?  I'm experiencing the same issue, but with multiple "provider" errors, such as SimplifyTypeNamesCodeFixProvider.  I have tried everything from disabling ReSharper to reverting to VS settings from a month ago where everything was working fine.

[2016-12-04 17:36] Inverness commented on #5561
Again, I don't understand your argument. What is the burden created by allowing the code generator to return a new CSharpCompilation instance that would be used by subsequent code generators and then the compiler? CSharpCompilation already has public API's.

[2016-12-04 20:07] piotrpMSFT commented on #15662
@srivatsn @dsplaisted this is a pretty bad issue. Any ideas?

[2016-12-04 21:00] CyrusNajmabadi commented on #5561
I've explained the difficulties.  We already discovered how complex and challenging the space was, when we only gave the ability to add source files.  Now we have to compound that with the difficulties that would arise if we exposed all the capabilities of the compilation.

Let's just look at a simple case.  Say we exposed the full compilation and you used it to *remove* a file from the compilatio

[2016-12-04 21:08] CyrusNajmabadi commented on #15638
We use it fairly extensively in Roslyn.

Not really no.  Indeed, it tries to be very clear that it's just a rough syntactic translation.  Outside of any clause that uses transparent-identifiers, you can just translate the linq-query-clause to the equivalent method-call syntax.

Right.  And that's a good thing.  Linq-queries enable a convenient way to right queries for any domain.  There's no way w

[2016-12-04 21:13] CyrusNajmabadi commented on #15638
What does this mean?  To be clear, specific domains optimize queries when they can**.  The C# compiler cannot optimize any of this because any such optimizations may be incorrect in the final domain where this code executes.

--

** Examples of optimizations:
1. Any DB back end will absolutely optimize the expression trees that are generated and passed to it.
2. Even linq-to-in-memory-objects opti

[2016-12-04 21:17] CyrusNajmabadi commented on #4395
@kakins Please open a new issue.  This issue is about a crash in "visualbasicaddimportcodefixprovider".  If you're experiencing crashes in other CodeFixProviders, then we'll want to track them separately.

[2016-12-04 21:18] alrz commented on #15638
@CyrusNajmabadi It that means if it is supposed to help with  'ease of use' and 'verbosity' it should not come at the cost of efficiency. I read somewhere that performance was not one of goals of linq, but I don't know what *that* means. The thing that I like about Rust is that it doesn't matter if you use iterator combinators or just write the code manually because they all compile away.

[2016-12-04 21:24] alrz commented on #15638
I just don't see how 'ease of use' and 'verbosity' outweigh performance. Since it is a "language feature" I should be able to use it wherever makes sense and don't worry about performance. When I have to consider implementation details, it loses the value.

[2016-12-04 21:25] CyrusNajmabadi commented on #15638
Linq queries operators are no less efficient than using the linq methods.

[2016-12-04 21:27] CyrusNajmabadi commented on #15638
I don't know what this means.  Does this mean you can't use interfaces?  Since they impose a perf hit when you call an interface method?  Does it mean you can't use a delegate, since an allocation occurs when it is created?  Does it mean you can't use classes, because they have many extra bytes allocated for them in the runtime?

[2016-12-04 21:31] CyrusNajmabadi commented on #15638
Then you are not the target customer.  C# provides many features for all sorts of developers.  Developers who cannot take any sort of additional perf hit will likely find that some of our features are not for them.  However, most developers are not in that boat.  Most developers can take tiny perf hits in the majority of their code that isn't perf sensitive.  And in the rarer perf sensitive areas,

[2016-12-04 21:36] alrz commented on #15638
Oh I was talking about the whole idea of query operators/methods, in general. Sorry if that was off-topic.

There is no alternative for those primitive constructs as the api design directly depend on them. But when we talk about 'ease of use' and 'verbosity' [of the code], there shouldn't be much difference between manually written loops and linq operator. It's not like if I care about 'ease of us

[2016-12-04 21:37] CyrusNajmabadi commented on #15638
Simple.  C# cares about many things.  And 'performance' is only one of those things.  We balance a whole host of factors when creating and implementing language features.

--

The other issue is that 'performance' is exceptionally difficult to define.  For some people the cost of a virtual method call has unacceptable performance.  Does that mean we should have never done interfaces?   For some pe

[2016-12-04 21:39] CyrusNajmabadi commented on #15638
I'm going to assume you meant that you *do* care about performance.

Sure.  That's fine.  So don't use interfaces in your own code.  Don't use branching structures in your own code.  Don't allocate in your own code.  Don't invoke methods in your own code.  etc. etc. etc.  You're free to avoid all the parts of the language that end up impacting perf.

But you are not our only customer.  And your ne

[2016-12-04 21:40] gordanr commented on #15638
Query syntax is probably the most distinctive C# feature. It makes programs easy to read and helps to make less bugs. Personally, LINQ was the main reason why I switched from Java to C#. Of course, if someone don't like queries for any reason, it's no problem to use plain methods, or any other alternative.

[2016-12-04 21:42] elachlan commented on #4395
@jmarolf I will try and isolate it today by copying them into a new project. I will then remove functions one by one until I see a change.

[2016-12-04 21:45] alrz commented on #15638
I'm not! I'm thinking that compiler's job is to introduce human-friendly constructs to generate machine code as good as it could. Perhaps when there is an intermediate representation (i.e IL) this doesn't apply?

[2016-12-04 21:48] CyrusNajmabadi commented on #15638
It was off topic because we're having a conversation about the benefits of linq query syntax.  And why it's beneficial to have it, even if you can accomplish the same thing with method-call syntax.

--

I think you're conflating topics.  Manually written loops and linq operators should not be compared.  Manually written loops should be compared to the linq-API.  The linq query operators are just s

[2016-12-04 21:51] CyrusNajmabadi commented on #15638
I have no idea what this means.  What does "as good as it could" mean?

The compiler tries to generate machine code that is as good as we can given what we know about the language.  We optimize when the language allows for it (see vsadov's recent work on 'this' capturing).

In the case of linq, the compiler, AFAIK, is optimizing things as best as it can given what it knows about the language, and

[2016-12-04 22:41] gordanr commented on #15638
I agree.
Reagarding this proposal, 'while' whould be used in a loop context. I am not completely against 'while' as a replacement for TakeWhile method, but I am not sure If I would use that. For my sense of LINQ, it is too much loop-centric.
Probably, there are other more useful LINQ extensions, i.e. materialization (ToList).

[2016-12-04 22:52] CyrusNajmabadi commented on #15638
So, i think having query operators for 'TakeWhile' makes sense.  But i can't justify why we'd have TakeWhile but not SkipWhile.  As such, i think we'd probably want ```take while <expr>``` and ```skip while <expr>```.

If we could only do one thing it would be to have ```do``` as a linq operator.  But i feel like adding more query support to these operators seems totally reasonable.

[2016-12-04 22:59] HaloFour commented on #15638
Agreed on both counts.  A general-purpose `do` operator would scratch the itch and work for both intermediate and terminal operations, including custom extension methods.  Having other clauses just makes LINQ a little more pleasing to consume.  In either case the goal would be avoiding the requirement to wrap their expression in parentheses or assign to a variable so that they can use the extensio

[2016-12-04 23:09] qwertie opened #15667 "Error building: Automation.RuntimeException in restore.cmd"
**Version Used**: Building master branch on Windows 7

**Steps to Reproduce**:

1. Do [installation prerequisites](https://github.com/dotnet/roslyn/blob/master/docs/contributing/Building,%20Debugging,%20and%20Testing%20on%20Windows.md) (get VS 2015 Update 3, install "VS insider" vsix, clone dotnet/roslyn.)
2. Run "Developer Command Prompt for VS2015", navigate to the directory of Git clone
3. Run

[2016-12-04 23:35] qwertie commented on #15595
I ask because later stages of the pipeline would have more information available than earlier stages, which might lead to paradoxes.

For example, given this method:

    static int Caller() => (int)Called(3);
    static long Called(long x) => x;

If the `SourceGenerator` is, in effect, located somewhere near the "end" of the pipeline, then I expect it would be able to not only get the syntax tree

[2016-12-04 23:38] CyrusNajmabadi commented on #15595
I don't know what pipeline means here :)

[2016-12-04 23:40] CyrusNajmabadi commented on #15595
SourceGenerators can get this.  Because this information is always available.  Because Roslyn represents a complete view of all your code, you can always get at any information at any time.

Indeed.  This is one of the reasons why 'macros' are hard.  But that's hard *regardless of if macros are purely syntactic or not.  Even if macros were just syntax transformations, you may still end up with thi

[2016-12-04 23:40] CyrusNajmabadi commented on #15595
How'd the anniversary go!? :)

[2016-12-04 23:42] paulomorgado commented on #15638
`do` or `apply` 😄

[2016-12-04 23:53] qwertie commented on #15595
Good! Mainly we just spent a day at a mall... eating our favorite foods. Then I got distracted for a couple of days catching up on emails and news. Then I noticed the Roslyn job was gone and kicked myself in the butt (a handy skill if you want to look silly at parties). Are you married?

Since you can't look up semantic info in lexical macros, they don't suffer from the same paradox. I am wonderin

[2016-12-04 23:57] CyrusNajmabadi commented on #15595
An important thing to recognize about Roslyn is that it is a system where everything is immutable.  So there is no paradox, because at any point in time, code only means one thing.  After any trasformations happen you get a *new* system.  And things will be correct or not in that *new* system.  You can then do any sort of analysis you want between the two systems (for example, to tell if something

[2016-12-05 00:01] qwertie commented on #15595
I guess the implication here is that all analysis that was previously done on method bodies and initializer expressions is thrown out.

[2016-12-05 00:04] CyrusNajmabadi commented on #15595
Yes.  Though we can be 'smart' if all the edits are done within method bodies and don't change any visible declarations.  In a language like C# (unlike TS) the contents of a method body cannot affect any signatures of symbols.  So we can reuse the majority of state from the previous compilation, and just recompute the 'bodies' of method-like entities that change.

We make heavy use of this for fea

[2016-12-05 00:33] aluanhaddad commented on #15638
I'd like to add that it's perfectly possible to define your own set of query operators that are implemented even more performantly and still target them with both method syntax and query syntax. This is just a small part of what makes LINQ such a beautiful abstraction pattern. Furthermore, with respect to Performance, I think no one has mentioned the usefulness of PLINQ which, if you're writing st

[2016-12-05 00:36] zanqi opened #15668 "Debug symbol not loaded when debugging VisualStudioSetup"
**Version Used**: Last pulled on Dec 3rd master branch.

**Steps to Reproduce**:

1. Select VisualStudioSetup as startup project and press F5
2. Set a breakpoint in Roslyn's code

**Expected Behavior**:
Breakpoint can be created and hit.

**Actual Behavior**:
Symbol not loaded:

![image](https://cloud.githubusercontent.com/assets/2538192/20870538/24b34408-bac5-11e6-9269-1d0ee1af2fae.png)

Error wh

[2016-12-05 00:50] CyrusNajmabadi commented on #15638
The problem with discussing "performance" is that it's incredible domain specific.  Roslyn, for example, gets massive performance boosts in some areas, precisely be targetting more 'heavy' abstractions.  It's amazing how much faster we can do things thanks to having an immutable API model.  For one things, we pick up the ability to offload work to other threads 'for free'.  Something that was stag

[2016-12-05 01:45] qwertie commented on #15595
Before I start listing out differences, I would recommend that for *either* SourceGenerators or macros, new syntax be added to C# to make the feature more useful. Several changes have been important for EC#, but I would say the two most valuable have been these:

- The "block call" `identifier { statements* }` and `identifier (arguments) { statements* }` are a natural way to represent user-defined

[2016-12-05 04:08] davkean commented on #15662
This issue was moved to dotnet/roslyn-project-system#866

[2016-12-05 04:10] onovotny commented on #15662
Thanks @davkean, wasn't sure where to file this :)

[2016-12-05 04:15] gafter commented on #15644
The Roslyn compiler strives to produce good code, within the guidelines of the C# and VB language specifications. Optimizations that change the code to something different from the requirements of the specifications and that are visible in the IL are, as a matter of design policy, not done in the Roslyn front ends. While the suggested optimization is not observable to some kinds of observers (e.g.

[2016-12-05 04:15] #15644 closed

[2016-12-05 05:13] davkean commented on #15662
Reopening this in Roslyn - Oren found that the majority of this time was spent in the Csc task:

[code]

[2016-12-05 05:42] Dennis-Petrov commented on #5561
@CyrusNajmabadi , IMO, you're making things too complex.
Are you sure, that someone wants to *remove* source files (especially, ones added by user)?
Could you consider much more simple scenario?

I think, we need something like one can do with `Expression`s and their visitors: to get some tree as input, visit it to build new one and return it as the result to compiler. No Intellisense, no design-t

[2016-12-05 07:14] CyrusNajmabadi commented on #5561
@Dennis-Petrov That's exactly what i was saying. This is why we don't want to expose the full roslyn compilation API.  Just representing what it would mean if someone removed a file is extremely difficult.

I don't think we're going to ever do a system unless it fits cleanly into the IDE.  If you just want a system that goes and transforms C# files, then you can already do that today with Roslyn.

[2016-12-05 07:27] jmarolf commented on #15411
So, we're going to need to change some things.
For the fix all case we are showing a dialog to the user while inside of a wait context
[code]

While this is not, in all likelyhood, the root of the problem it fundamentally breaks how the wait context is supposed to work.

[2016-12-05 07:34] CyrusNajmabadi commented on #15411
Definitely tricky.  The PreviewChanges dialog may not come up for a while. So we need a WaitDialog in the meantime so that the user knows that something is happening, and so that they can cancel things if it takes too long.

[2016-12-05 07:45] jmarolf commented on #15411
previously, we only showed the wait dialog while computing the set of code actiions
[code]

This is, conceptually,  how I think it should work. (Unless we refactor the code significantly)
[code]

[2016-12-05 07:54] CyrusNajmabadi commented on #15411
What ensures the Wait dialog for non-fix-all actions?

[2016-12-05 08:12] jmarolf commented on #15411
I guess fundamentally the code action is the only thing that knows when it is complete and when it should stop showing the wait dialog.  Perhaps we can pass something to the code action itself while suggested action is still responsible for starting the wait dialog?

[2016-12-05 08:24] CyrusNajmabadi commented on #15411
Let's chat tomorrow (or in slack now).  I don't think i like that.  And i think there's a much simpler solution we could go for.

[2016-12-05 09:21] DavidArno commented on #15623
@jnm2,

IU went back and looked at #118. Lo and behold, @controlflow downvoted the original ref return/local proposal. So they clearly are trolling here sadly and I, along with other, took the bait. 😠

[2016-12-05 09:37] DavidArno commented on #15623
@CyrusNajmabadi,

In the current "let's sell out the language to the highest bigger" world of the C# language team, you are free to take that view if you want. And with your "7% sounds absolutely massive to me" attitude, the language team will no doubt help to lower the quality of the language further by encouraging premature/micro optimisation behaviour, such as the inappropriate use of `ref`.

I

[2016-12-05 09:38] CyrusNajmabadi commented on #15623
Yes.

[2016-12-05 09:42] CyrusNajmabadi commented on #15623
Then don't mutate variables.

This feature is primarily for that edge case.  'ref' is extremely advanced, and is meant for those who need to squeeze out this sort of performance.  We're not going to create the feature to address the problem for this set of users, and then go and hobble it so they can't use it.

[2016-12-05 09:44] CyrusNajmabadi commented on #15623
The language team will do what we always do.  Assess the needs of customers and determine if and what we feel will be best for the language.  If you want to change that, you're welcome to come join us and bring your own judgement to bear in that process.

Until then, i imagine you'll have to continually be disappointed that we we don't have a special process for ensuring that the changes we make w

[2016-12-05 10:09] DavidArno commented on #15623
I didn't explain that properly then as that is not what I was suggesting. The sort of advice I'd hope to see coming out of the language team would be:

1. Ref returns are a niche feature. You probably don't need to use them and you really shouldn't use them before profiling your code.
2. If you have profiled your code and found that the return-by-value feature of structs is causing performance iss

[2016-12-05 10:26] CyrusNajmabadi commented on #15623
I literally just said: "This feature is primarily for that edge case. 'ref' is extremely advanced, and is meant for those who need to squeeze out this sort of performance."

I can't help you with that.  When we're presenting this feature to new audiences we spend time discussing when and where this feature is appropriate and when and where it isn't.  People presenting the information have routinel

[2016-12-05 10:37] davidroth commented on #5561
@CyrusNajmabadi  I am looking for a Fody/Postsharp replacement. Compile time AOP without any adding or removing of files - just modifying the trees and injecting / replacing code.

These tools are extremely valuable - but come at a cost (slower build times (because assemblies need to be re-processed), debugging issues because of incorrectly written pdb metadata etc.)

If we could consume the compi

[2016-12-05 10:38] CyrusNajmabadi commented on #15623
@DavidArno  I can no longer make sense of your argument.  I originally responded because you stated:

I disagree with this.  And it was a core design goal of the feature that this be possible.  Many (most?) of the customers that wanted this feature, also very much wanted mutation as well.

Now you're saying that we should be messaging:

On one hand, you say that mutation of refs is a 'misuse'.  No

[2016-12-05 10:41] MihaMarkic commented on #5561
I was under impression of AOP as well, same as @davidroth. Hence I can't figure out what is a big deal about it from implementation side (editor, intellisense, etc.). Except for debugging.

[2016-12-05 10:54] CyrusNajmabadi commented on #15623
@DavidArno who do you think this 'highest bidder' was?

In what way do you think the language has "sold out"?  What does it even mean in the context of this discussion, or in the development of C#?  Did we ever claim some cause that we would be somehow loyal to?  Did we make claims about things we would/wouldn't do in the language?

I've been working on this language for a large portion of my life

[2016-12-05 10:56] Dennis-Petrov commented on #5561
No, I just want a system, that allows to inject code at compile-time, like AOP-tools/Code Contracts/etc doing. The same as @davidroth and @MihaMarkic mentioned. And I want it because of the same reason - why one should re-write IL (which at least slowly), if he can re-build tree and give it to compiler?

Debugging - yes, there are details to think about, but support from editor side isn't required