[2018-07-03 18:23] CyrusNajmabadi commented on #28261
it acutally sounds like you're proposing a whole host of editor features to make up for a change you are proposing which is problematic.  Namely that not taking into account where the user is is actually a problem, and in order to address it you'd not only need to introduce a bunch of features, but you'd also need the user to start *using them*.

Again, i'm happy to discuss this more on gitter if

[2018-07-03 18:30] justcla commented on #28261
I'm gald you asked!

If the user types Math.Pow and then it completes with parens and places the caret inside, the user doesn't need to type the extra characters ie. ")" that would move them away from the token they just typed. So they never need to "Go Back". They are ready to act on the token immediately. The user falls out of the habit of having to type-over the boilerplate chars.

Because we d

[2018-07-03 18:30] sharwell commented on #27947
Fixed by #28043

[2018-07-03 18:30] #27947 closed

[2018-07-03 18:31] justcla commented on #28261
I guess it's the Roslyn team who needs to make the decision.

[2018-07-03 18:33] jinujoseph commented on #27688
This doesn't repro , @tmat can you recheck

[2018-07-03 18:37] justcla commented on #28261
`/* lots of code on this line */   Foo(a, b, /*more*/, d); $$ // <-- cursor is that the $$`

Two points:

1. You will still get the option to Generate Foo. We're not discussing adding/removing items. Only the order they appear in the list. If it's a line-action, it will be available.

2. If you are at the end of a line that contains many issues, why wouldn't you address them from the beginning of

[2018-07-03 18:41] CyrusNajmabadi commented on #28261
It needs to be the top item in the list.  You will badly break muscle memory otherwise.  This is not hypothetical.  We did regress this at one point, and people were unhappy.

because that's not what people do. this is the major issue i'm having here with this discussion. You are questioning how people have been working and coding here here and giving us feedback on for years.  For tons of people,

[2018-07-03 18:44] CyrusNajmabadi commented on #28261
That does not help the code case i provided.  Please show how this would actually help *that* case.

I'll walk you through it.  User types.  ```this.Foo(```.  Fine, so you complete with parens and the caret inside.  Now they have ```this.Foo($$)```.  Now they start typing the args they care about.  So they have:

```this.Foo(a, b, /*more*/, d$$)```

Now they want to generate 'Foo'.  Because that's

[2018-07-03 18:46] CyrusNajmabadi commented on #28261
You keep saying this.  But you will not answer the question: how does that help the code case i provided.  I'll walk you through it:

I'll walk you through it. User types. ```this.Foo(a, b, /*more*/, d$$)```.

The caret is to the right of the squiggle.  But 'generate method Foo' is not going to be the topmost item in the list, because you insist that the caret must be *on* the squiggle.

So, again

[2018-07-03 18:47] #24565 closed

[2018-07-03 18:48] CyrusNajmabadi commented on #28261
You have now regressed the scenario.  The user's muscle memory is now broken.  You have actively made things worse for many users by doing this.  This is not hypothetical.  When we break muscle memory here (and in other IDE features) people get *very* upset.  You seem to be disregarding it, hoping that people will just use your new keystrokes.  But that's not the scenario.  Breaking someone's expe

[2018-07-03 18:51] justcla opened #28266 "Refactoring options not available when caret immediately to the right"
Certain code fixes only become available when the caret is on a specific item. For many of these, the code fix will not be available if the caret happens to be at the right of the token.

In this example, I have just typed "2.0". My caret is to the right of the "0". (Indicated in Yellow)
When I open the lightbulb menu there is no option so introduce local var.

![image](https://user-images.githubu

[2018-07-03 18:53] justcla commented on #28266
Another example.

Against a string:

![image](https://user-images.githubusercontent.com/17131343/42239036-90a25de0-7eb7-11e8-9aae-16a8d8759808.png)

No option to generate a constant.

Move caret one spot to the left. Now options appear.

![image](https://user-images.githubusercontent.com/17131343/42239100-bc1a2246-7eb7-11e8-90eb-4c815bd2cb96.png)

[2018-07-03 18:53] CyrusNajmabadi commented on #28261
Agreed.  And those coding styles are not ones we can trivially or haphhazardly ignore.  Even minor changes here can cause much pain for users.  We've experienced that every time we've even tweaked completion ever so slightly.

[2018-07-03 18:56] drognanar opened #28267 "Toggling Show advanced build configurations should update project's configuration"
**Version Used**: 15.8 preview 5

**Steps to Reproduce**:

1. Create a C# console application (desktop)
2. Ensure that `Debug` configuration is used
3. Create an `#if DEBUG` block inside of a class
4. Write a method inside of the `#if DEBUG` block
5. Turn on simplified build (turn off "Show advanced build configurations" in Tools -> Options)

**Expected Behavior**:

Either:
1. Project should be bu

[2018-07-03 19:01] justcla commented on #24998
Thanks.

1. I'm wary of Christian's intent here. Many fixes generate code. The fact that a fix might generate some code (or modify some code) does not mean it's no longer a "Fix". Instead of distinguishing between those that generate some code and those that don't, the more important distinction is those that might fix a known error/warning/issue and those that will definitely not. Those that will

[2018-07-03 19:01] lhfiedler commented on #24260
So we should be using MefV1HostServices instead of MefHostServices for creating truly isolated hosts?  What's the difference?

[2018-07-03 19:09] gafter commented on #27986
This is a dup of #9731 #13474 and #13560. Roslyn does not correctly process identifier characters that are represented as surrogate pairs.

[2018-07-03 19:09] #27986 closed

[2018-07-03 19:17] sharwell commented on #24260
@lhfiedler `MefV1HostServices` is used for convenience, but it's not really the "solution". The main difference is the use of `Microsoft.VisualStudio.Composition.IExportProviderFactory`. The `AsExportProvider` extension method makes the resulting `ExportProvider` *look* like a MEF v1 export provider, but the implementation is completely different. `MefV1HostServices` is the easiest way to connect

[2018-07-03 19:19] gafter commented on #9731
See also #13474 and #13560

[2018-07-03 19:29] heejaechang commented on #28240
@KirillOsenkov can you try https://github.com/dotnet/roslyn/pull/28268 and see whether it fixes your problem?

[2018-07-03 19:42] jinujoseph commented on #25715
Routed to [editor ](https://devdiv.visualstudio.com/DevDiv/NET%20Developer%20Experience%20Productivity/_queries/edit/642812/?triage=true)team

[2018-07-03 19:42] #25715 closed

[2018-07-03 19:45] jcouv commented on #26983
Removed "Language Design" label, since LDM approved such an attribute (tentatively named `NonNullTypesAttribute`).

[2018-07-03 19:47] chborl commented on #24075
Closing as this appears to be fixed in previous work.

[2018-07-03 19:47] #24075 closed

[2018-07-03 19:51] justcla commented on #24996
Minimal fix, complex fix - these are very subjective. What you consider large, I might consider small.
There's no clear way to make such a distinction.

It's either an option that will potential fix an issue, or it WILL NOT fix an issue. If it will not fix an issue it's a tool (or setting). If it will fix an issue, it should have a lightbulb.

[2018-07-03 19:52] jcouv commented on #27443
This was fixed in https://github.com/dotnet/roslyn/pull/27313. Closing

[2018-07-03 19:52] #27443 closed

[2018-07-03 19:54] justcla commented on #24996
Not if importing the using will fix the issue.
If there's an import for a specific class name I've typed, I probably want that one. When I create my own classes, the names tend to be unique. Not always - but most the time. So a rule that says "If there is a matching class that can be imported, use it" will probably return the desired result most time.

[2018-07-03 19:58] CyrusNajmabadi commented on #24996
This is not necessarily the case at all.  The space of used type-names is very large.  I'm actually consistently surprised by how often i type a name that is provided elsewhere, when i'm wanting to generate my own type :)

[2018-07-03 20:24] jcouv opened #28271 "Remaining questions on suppression operator"
- [ ] Should `!` suppress warnings for nested nullability? (answer: yes) (this relates to the behavior of cast) https://github.com/dotnet/roslyn/issues/29642
- [ ] What is the state resulting from `obliviousValue!`? (answer: Top-level non-null, suppressed warnings for nested.)
- [ ] Should `!!` be an error? https://github.com/dotnet/roslyn/issues/29902
- [x] Should `nonNull!` result in a warning f

[2018-07-03 21:17] mavasani commented on #27001
Tagging @jinujoseph

The Code Metrics command handlers are currently statically hooked up with project type GUIDs, hence always show up for all C#, VB and C++ projects, until the Metrics Package gets loaded in VS (which happens when either user first attempts to calculate code metrics or opens the Code Metrics results window). Run Code Analysis command(s) on the other hand has duplicate handling i

[2018-07-03 21:34] #27422 closed

[2018-07-03 21:50] ManishJayaswal commented on #28267
@Pilchie @davkean @heejaechang @jinujoseph @jaredpar  - is this a known issue? It seems like entire rolsyn does not know what configuration the solution is in. This is happening on desktop projects as well. We realized this from the following feedback item - (https://devdiv.visualstudio.com/DevDiv/_queries/edit/638789/?triage=true)

[2018-07-03 21:55] JieCarolHu opened #28272 "Code cleanup runs too slow when there are a lot changes"
When doing code clean up for this LanguageParser.cs file with the "Remove this. qualifier" checked, it tooks 100 seconds to finish the cleanup, as it removes hundreds of "this." qualifier.

[2018-07-03 21:57] heejaechang commented on #28272
@JieCarolHu what is perf if you turn off this qualifier fix?

[2018-07-03 22:13] ivanbasov commented on #27654
from @AmadeusW

Need a later version of the editor than we currently use.

[2018-07-03 22:20] #24997 closed

[2018-07-03 22:20] #28244 closed

[2018-07-03 22:58] gafter opened #28273 "Simplify some region analysis tests"
In a recent code review @jcouv suggested, seeing reams of code like this:

[code]

[2018-07-03 23:01] #19845 closed

[2018-07-03 23:01] #27969 closed

[2018-07-03 23:16] gundermanc opened #28274 "Decompilation navigation box is not cancellable"
**Version Used**:
Visual Studio Int Preview 27823.0.d15.8

**Steps to Reproduce**:

1. Create a project with a reference to a type in a different assembly (i.e.: System.Console)
2. Set the caret in the aforementioned type
3. Enable decompilation in Tools > Options dialog
4. Press F12

**Expected Behavior**:
Warning dialog appears that decompilation is about to happen. At this point, the user can c

[2018-07-03 23:27] gundermanc opened #28275 "Go To support for decompiled types/members"
The experimental decompilation feature in VS 2017 15.8 Preview 3 has proven to be quite nifty for enabling use of code in place of documentation in large projects that share code as binaries (like VS).

![image](https://user-images.githubusercontent.com/5387680/42249019-abdf74a0-7edd-11e8-906e-73aec7eb9048.png)

A missing nice-to-have would be to be able to use 'Go To' to navigate to the decompila

[2018-07-03 23:28] davkean commented on #27001
Feedback here: https://developercommunity.visualstudio.com/content/problem/30872/support-code-metrics-for-net-core-projects.html.

[2018-07-03 23:32] davkean commented on #27422
@JieCarolHu Can you point to the fix?

[2018-07-03 23:33] gundermanc opened #28276 "Decompilation feature does not respect editor line endings"
**Version Used**:
Visual Studio 2017 15.8 Preview 3.0

**Steps to Reproduce**:

1. Create a C# project with a Console.WriteLine()
2. Enable decompilation feature in Tools > Options
3. Set caret on Console and Press F12

**Expected Behavior**:
File is decompiled using user's line endings preference.

**Actual Behavior**:
File is decompiled using tabs.

[2018-07-03 23:34] jinujoseph commented on #27422
fixed via https://github.com/dotnet/roslyn/pull/27818

[2018-07-03 23:38] mavasani commented on #27001
@davkean There are couple of reasons not to do your suggested change now:

1. For long term (16.0), we want the Code metrics feature support to be uniform across project systems and TFMs. If we decide to deprecate it or remove it from VS, it will be removed for all managed projects. If not, it will be fully supported for both project systems and all TFMs. If we decided to do the latter, then we wi

[2018-07-03 23:43] CyrusNajmabadi commented on #28272
Sounds like we shoudl just have a specialized fixer here.  I'm willing to write one.  We're likely going through the simplifier, instead of just directly using SyntaxEditor.

However, like @heejaechang I would like to know how long this takes without this feature checked.

[2018-07-03 23:45] davkean commented on #28267
How did you come to conclusion of the expected behavior?

[2018-07-03 23:52] davkean commented on #28267
(Had to familiarize with this feature again - ignore above)

I just tried C# and Visual Basic Console Apps using legacy project system and cannot repro this. Both projects build to release & `#if DEBUG` are not parsed/highlight/colorized or built.

[2018-07-03 23:52] CyrusNajmabadi commented on #28275
This would be nice.  Note that there are challenges here due to creating the right 'context' in which to do the decompilation.  For example, your type may be found in metadata in many different projects.  Those projects all may have different settings and differents sets of referenced metadata.  This will impact you as you do further things like goto-def on symbols in the decompiled code.

This is

[2018-07-03 23:54] pongba opened #28277 "Are scripts chained together guaranteed to run on the same (managed) thread"
Chaining script together is an awesome feature that can be used to setup a `commonsetup.csx` before third-party script, like this:

**commonsetup.csx**
[code]

[code]

`Ok ok I know Thread.Abort is not a recommended practice, but we can't really afford to put third party script in a separate process / or appdomain just so we can terminate it cleanly. And plus, we do have other more courteous mecha

[2018-07-03 23:56] davkean commented on #28267
Okay, can you try your repro a again, but after 5) wait 30 seconds for the file to be reparsed?

[2018-07-04 00:20] davkean commented on #27001
Help me understand the risk with using context based rules? Here's an example of a definition: https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/Packaging/ManagedProjectSystemPackage.cs#L22.

[2018-07-04 00:34] JieCarolHu commented on #28272
@heejaechang it took 20 seconds if I check all the fixer except the Remove "this." qualifier fixer.

[2018-07-04 00:53] gafter commented on #9731
The language specification for C# (both the online version and the ECMA version) permit characters larger than 16 bits in identifiers, either using a Unicode escape sequence or a surrogate pair of code points. It is a bug that the compiler does not accept them.

[2018-07-04 01:08] dpoeschl opened #28278 "Integration tests failed with "Could not find a suitable Visual Studio Version""
See https://github.com/dotnet/roslyn/pull/28264#issuecomment-402333155:

The integration test results here were weird. The [release tests](https://ci.dot.net/job/dotnet_roslyn/job/dev15.8-preview3-vs-deps/job/windows_release_vs-integration_prtest/10/) passed without issue and the log looks like it ran the tests, but the [debug tests](https://ci.dot.net/job/dotnet_roslyn/job/dev15.8-preview3-vs-dep

[2018-07-04 01:34] jcouv opened #28279 "Expose `/refonly` option via MSBuild Tasks"
Currently, the `/refonly` option can only be triggered from the command-line, whereas the `/refout` option is available via MSBuild.
@onovotny [pointed out](https://twitter.com/onovotny/status/1014281720781209600) that the `/refonly` would be useful too.

[2018-07-04 01:35] jcouv commented on #27153
@agocke This issue would probably still meet the 15.8 bar if you have time. Thanks

[2018-07-04 01:37] onovotny commented on #28279
In general, I think it would be valuable if all command line options were available via MSBuild. At the very least, how about an "escape hatch" where the user can supply extra command line args to a property that gets passed down to csc?

[2018-07-04 01:49] mavasani commented on #27001
On second thought, I feel we should do **nothing** here in 15.8 and instead figure out the story for Code Metrics for 16.0: deprecate it or fully support it for all TFMs, especially as we are very sure that we want to deprecate binary FxCop and the FxCop analysis engine that current Code Metrics implementation is based upon in 16.0.
Current experience for CPS projects, though not ideal, neither bl

[2018-07-04 02:00] ivanbasov commented on #27445
Need `EditorCompletion.CommitBehavior.Cancel` which will appear in later versions on the editor

[2018-07-04 02:22] drognanar commented on #28267
@davkean this is the first time I'm stumbling upon this feature too and definitely using the old project system.

Highlighting does not update after 30seconds. I did notice that running a build command builds into the release folder, but running a debug command builds into the debug folder. Intellisense and other anlyzers seem to use the most recently used configuration. So if I run the build comm

[2018-07-04 02:22] KirillOsenkov commented on #28240
@heejaechang I've tried making this change in our equivalent here:
http://source.monodevelop.com/#MonoDevelop.CSharpBinding/MonoDevelop.Ide.Completion.Presentation/MonoDevelopContainedDocument.cs,605

From first glance, it didn't help. But that's maybe because no one sets the Editor Options in our world. I've also tried manually setting the setting to "\n" and "\r\n" and the bug still was present.

[2018-07-04 02:23] drognanar commented on #28267
It's confusing for both TestWindow's test discoverer and Live Unit Testing as they assume that Roslyn/project system's projects can be matched based on their output paths. However in the scenario where a debug command is run, the Roslyn project's output path targets the debug folder while the project system's project targets the release folder.

[2018-07-04 02:37] davkean commented on #28267
I have zero idea what the expectation is here - I don't know how this feature is supposed to work.

[2018-07-04 04:05] jcouv commented on #27049
@OmarTawfik Would you be able to look at one more issue for 15.8? Thanks

[2018-07-04 04:12] jcouv commented on #26028
@gafter Would you mind taking a look? Thanks

[2018-07-04 04:14] jcouv commented on #28042
Moved out of 15.8 as I doubt we'll be able to get to this in the time left.

[2018-07-04 04:48] CyrusNajmabadi commented on #28272
@JieCarolHu What is the next most expensive fix we are running?

[2018-07-04 05:46] dpoeschl opened #28281 "Test Failure: WorkspacesDesktop.RenamingOpenFiles"
Failure: https://ci.dot.net/job/dotnet_roslyn/job/dev15.8-preview4-vs-deps/job/windows_release_vs-integration_prtest/5/
Roslyn.VisualStudio.IntegrationTests.Workspace.WorkspacesDesktop.RenamingOpenFiles [FAIL]

[2018-07-04 05:47] heejaechang commented on #28272
@JieCarolHu

what is time of default without "this" qualifier fixer? also what is time of all fixers on except "this" qualifier and unnecessary cast fixer?

also, can you also check in the change we made to add Logger instrument? so that people can run it under perf view to see all the perf marker?

[2018-07-04 07:06] CyrusNajmabadi commented on #28272
FYI, i've written a fixer here that matches the pattern we should be using as much as possible for all our analzyers/fixers.  With my fix, we do this in under 1 second (down from 60+).

[2018-07-04 07:15] CyrusNajmabadi commented on #28272
@JieCarolHu Can you try out my branch with yours: https://github.com/dotnet/roslyn/pull/28280

At let me know what the next most expensive thing is?

[2018-07-04 09:30] bigdnf commented on #7673
It would be great to have this - my code is polluted with lot of ConfigureAwait. Pleas do something with this – it should not be a big thing.

[2018-07-04 12:44] Foroughi opened #28283 "batchfixallprovider does work properly"
**Version Used**:
2.8.2
**Steps to Reproduce**:

I have a simple rule that makes devs to use `@this`  for the first parameter of extension methods. like

[code]

which should be

[code]

Here is the problem. If I try to use the code fixer we have created one by one, the fixer works fine, but if I try to use the project-wide fixer I got an error

[code]

Here is the way i`ve impemented the fixer :

[2018-07-04 14:47] jcouv opened #28284 "Proposal: Syntax Hightlighting for Discard"
@Ccursed commented on [Sat Jun 30 2018](https://github.com/dotnet/csharplang/issues/1681)

I propose to highlight the usage of underscore ( _ ), when used as discard character, to be treated like a keyword (this / default / await / etc.) by the syntax highlighting in Visual Studio.

Example:

`SomeObject.SomeEvent += (value1, _) => { //Do Something with only value1 };`

Where the underscore would

[2018-07-04 14:48] jcouv commented on #28284
Moved the issue from csharplang.

[2018-07-04 16:52] svick commented on #28232
I think the biggest issue with this is tooling: How would tools like git or GitHub work in this new world? Or how would editing such a file with vim work?

A much more realistic alternative would be to have a "view" over the source code. So the file stays as it is, but when you view it in Visual Studio, you see it formatted the way you prefer. That way, all tools still keep working.

[2018-07-04 19:02] agocke commented on #27153
@jcouv Thanks! I believe all these cases were fixed in https://github.com/dotnet/roslyn/pull/28118

[2018-07-04 19:02] #27153 closed

[2018-07-05 00:01] jcouv commented on #26597
I have a PR open for this. It only handles generating the declaration for `Deconstruct`, but doesn't generate a working body (unlike Resharper's `Deconstruct` [generator](https://www.jetbrains.com/help/resharper/Code_Generation_Deconstructors.html)). We could add that later.

[2018-07-05 00:15] jcouv opened #28288 "Bad sequence point in switch with pattern matching in async method"
Set a breakpoint in `GenerateDeconstructMethodCodeFixProvider.RegisterCodeFixesAsync` and start debugging any of the tests for this fixer (such as `TestDeconstructionDeclaration_Simple`).
The stepping shows the `return` statement as executed, when it is not actually executed.

![switch-seq-point](https://user-images.githubusercontent.com/12466233/42296693-aa370b42-7fad-11e8-9e67-ba0cc604ad74.gif)

[2018-07-05 00:20] CyrusNajmabadi commented on #26597
This is pretty easy to do.  You can see how i did this in my PR:

https://github.com/dotnet/roslyn/pull/28257/files#diff-3bcf6488917b42c1df649c2d7a7fd0a0R573

We should probably end up extracting this into a helper so we both can share it.

[2018-07-05 00:22] CyrusNajmabadi commented on #26597
BTW, question for you.  Currently, we generate different code for the following two Deconstruct impls:

[code]

Is the intent that hte latter end up as simple and efficient as the former at some point?

[2018-07-05 00:28] CyrusNajmabadi commented on #26597
Ah... and i suppose that coudl be observed. say if the previous write did something that affected the second read...

[2018-07-05 01:06] jcouv commented on #28288
This reminds me of a similar issue (not related to `switch` but possibly to pattern matching): https://github.com/dotnet/roslyn/issues/17076

Tagging @gafter for awareness

[2018-07-05 07:19] UdayaBhandaru commented on #22219
Hi Team is there any update on the Issue. We need this to be fixed ASAP.

[2018-07-05 07:24] TakhirMamirov opened #28289 "Publish Output folder"
I'm using the latest 2.8.2 versions of Microsoft.CodeAnalysis and Microsoft.Net.Compilers in VS2017 for my .netcore application. I'm wondering if I should see the bin/roslyn folder on publish? I don't see that either locally or in Azure deployment. Actually, my app doesn't generate the bin folder at all.

The question came from the next issue. We have MVC app along with API (mentioned above), and

[2018-07-05 08:58] alrz commented on #28232
A similar feature in IntelliJ where you see argument names even if they are not in the original source.

[2018-07-05 09:04] jinujoseph commented on #26672
yes , the code has significantly changed after moving to editor api for quickinfo and was merged for 15.8.Preview2 , and this issue should not be happening in 15.8.Preview2 or latest.

Pls reopen if you find otherwise.

[2018-07-05 09:04] #26672 closed

[2018-07-05 09:18] vsfeedback opened #28290 "IntelliSense: Does not suggest statement corrections correctly"
In a class, I have a boolean property, declared thus:

public bool IsEnabled =&gt; Settings.IsEnabled;

Elsewhere in the same class, I was attempting to write a comparison statement and wrote this statement:

if (isEnabled == isEnabled)

&quot;isEnabled&quot; was the parameter to the function I was writing this code in. &quot;IsEnabled&quot; is the name of the property declared earlier.

As expect

[2018-07-05 09:44] vsfeedback opened #28291 "Rename does not refactor return objects namespaces"
When renaming a class to the same name used in another namespace, the return objects are not renamed with enough namespace to match the specfic class and therefore creates an ambigious reference after refactor

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/280798/rename-does-not-refactor-return-objects-namespaces.html
VSTS ticketId: 638519_
_These are

[2018-07-05 09:47] jinujoseph commented on #27804
reported [here ](https://developercommunity.visualstudio.com/content/problem/286147/csharprenametrackingcodefixprovider-throws-excepti.html) also

[2018-07-05 10:07] vsfeedback opened #28292 "ChangeSignature: Error encountered while changing delegate signature <ChangeSignnatureCodeRefactoringProvider>"
An error was encountered while changing the signature of a delegate:
[code]
_These are the original issue solutions:_
(no solutions)

[2018-07-05 11:12] javvids opened #28293 "overload resolution fails after migrating vb.net from vs2010 to vs2017"
[ClassLibrary2.zip](https://github.com/dotnet/roslyn/files/2166297/ClassLibrary2.zip)
[ClassLibrary2.zip](https://github.com/dotnet/roslyn/files/2166298/ClassLibrary2.zip)

**Version Used**:
vs 2010
vs 2017
**Steps to Reproduce**:
compile the project in vs2010 and vs2017, it fails in vs2017

**Expected Behavior**:
it should compile in vs2017
**Actual Behavior**:
it doesn't compile asking for addin

[2018-07-05 12:55] Therzok commented on #26411
I think this bug got fixed via https://github.com/dotnet/roslyn/pull/25496

[2018-07-05 13:12] JosefPihrt opened #28297 "[Request] Use SymbolDisplayFormat to display modifiers, accessibility and type constraints for a class, struct, interface and delegate"
I would like to display class symbol similar how it is displayed on docs.microsoft.com.

For example if I have public generic class with a constraint I would like to get:
[code]
But with current SymbolDisplayFormat I can get only:
[code]
There are options:
  * `SymbolDisplayMemberOptions.IncludeModifiers`
  * `SymbolDisplayMemberOptions.IncludeAccessibility`
  * `SymbolDisplayGenericsOptions.Inclu

[2018-07-05 15:39] JosephWoodward commented on #17974
Bah, saw this had been updated and got all excited thinking cross-platform support was finally added :(

[2018-07-05 15:46] ardalis commented on #27001
I'd very much like to see Code Metrics support added for Core/Standard projects. Please consider it as a priority to include in an upcoming (soon) release, since currently behavior feels like VS is going backward, losing functionality it's had for many years/versions. Thanks!

[2018-07-05 16:00] Pilchie commented on #28267
The feature here is that by default, the solution is in DEBUG, and F5 will debug a build from the DEBUG configuration, but if you execute just build, it will switch to release, build, and then switch back to debug.

[2018-07-05 16:39] tmat commented on #25439
Looking into this.

[2018-07-05 17:34] jasonmalinowski commented on #28236
Oh that's cute. :smile:

[2018-07-05 17:55] jaredpar commented on #25439
@tmat I actually fixed this quite some time ago. I just forgot to close the issue. We no longer have any dependency on `nuget.exe`.

[2018-07-05 17:55] #25439 closed

[2018-07-05 18:31] gafter commented on #28288
I was able to repro it using the following code:

[code]

[2018-07-05 18:32] tmat commented on #25439
Right, but we don't have `dotnet pack` working either.

[2018-07-05 18:33] tmat commented on #25439
Most of the packages we produce can be built directly from the projects that produce the binaries. Meta-packages need separate project. Some packages need explicit nuspec.

[2018-07-05 18:33] jaredpar commented on #25439
@tmat it does work but via a proxy project file. Do you mean `dotnet pack` directly on the project files themselves?

[2018-07-05 18:34] tmat commented on #25439
Yes

[2018-07-05 18:34] tmat commented on #25439
Already found some bugs in the custom nuspecs we have today that could be avoided by doing that.

[2018-07-05 18:47] jcouv commented on #28288
Awesome. Thanks a bunch!

[2018-07-05 19:46] mavasani opened #28301 "Invalid ConstantValue for the ILocalReferenceOperation generated for LockTaken variable reference in CFG"
Look at any of the flow tests for ILockStatement, for example http://source.roslyn.io/#Roslyn.Compilers.CSharp.Semantic.UnitTests/IOperation/IOperationTests_ILockStatement.cs,455:

[code]

Note that the local reference operation is of type `bool`, but it has a constant value of `null` instead of having no constant value. Issue seems to be at couple of places in the CFG builder where we synthesize

[2018-07-05 19:46] agocke commented on #27463
@jcouv I'm moving this to 16.0 -- I don't think it meets the bar for 15.8.

[2018-07-05 19:47] mavasani commented on #28301
Tagging @AlekseyTs @333fred @jinujoseph @dotnet/analyzer-ioperation

Identified this issue while trying to move the analyzers repo to the latest CFG APIs, it causes lock related tests to assert due to this bug. I will submit a PR to fix this issue soon.

[2018-07-05 20:00] OmarTawfik commented on #27049
@jcouv I'll take this one.

[2018-07-05 21:00] CyrusNajmabadi commented on #28012
Latest numbers using the fixes by @JieCarolHu here: https://github.com/dotnet/roslyn/pull/28196
And from me here: https://github.com/dotnet/roslyn/pull/28280

I'm down to about 15 seconds on a huge file (LanguageParser.cs).

Current trace shows this:

![image](https://user-images.githubusercontent.com/4564579/42347556-134702ec-805b-11e8-91ad-b1554f066a8a.png)

Note the saturation of only a single

[2018-07-05 21:46] ivanbasov commented on #27439
Here is a simple test:
1. create an empty C# file
2. start typeing "`Using Sys`" in the file
3. Got a crash:
` at Microsoft.VisualStudio.Text.Implementation.TrackingSpan..ctor(ITextVersion version, Span span, SpanTrackingMode trackingMode)\r\n   at Microsoft.VisualStudio.Text.Implementation.TextVersion.CreateTrackingSpan(Int32 start, Int32 length, SpanTrackingMode trackingMode)\r\n   at Microsoft.

[2018-07-05 21:46] ivanbasov commented on #27439
Blocked: waiting for @AmadeusW and the editor team to help

[2018-07-05 22:15] CyrusNajmabadi commented on #28012
Note: this reproes every time i run fix-document.  Which indicates that we keep hydrating these trees, and then throwing them out.  Something is very much off-the-rails here.  @jinujoseph Who is the best person to investigate and address this issue?  Note: this affects a very high-visibility feature that is being shipped out to customers now.

[2018-07-05 22:24] nguerrera opened #28316 "SourceLink information is stripped from our symbols on public symbol server"
See also [VSO 643491](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/643491)

If our PDBs are pulled from public symbol server, then they do not have source link information.

Per @tmat, we are moving to a new symbol uploader that should fix this. This is a tracking issue to validate that our public symbols have source link information once we have moved to the new uploader.

[2018-07-05 22:59] KristianWedberg opened #28318 "Proposal: Allow stripping private & internal members from XML documentation file"
**Background**

Adding XML comments to `internal` and `private` members of a class library is very useful to have them show in IntelliSense, and to document exceptions, complex behavior etc.

When generating an XML documentation file however, the `internal` and `private` member documentation is _included_ in the file. This means the file can't be used when publishing the library, e.g. as a public

[2018-07-05 23:16] CyrusNajmabadi commented on #28318
Hi @KristianWedberg Can you clarify this sentence:

What actually breaks here?  Thanks!

[2018-07-05 23:41] KristianWedberg commented on #28318
Revised 2nd paragraph above to say that `internal` and `private` XML comments expose confidential information.

[2018-07-06 00:00] jasonmalinowski commented on #28236
So I think this is what is going on, with some help from @olegtk:

The navigation bar APIs only speak in terms of legacy HIMAGELISTs, so we go through a [particularly gnarly bit of code](https://github.com/dotnet/roslyn/blob/2868849409d44fcd5ecb84bef45575a98018a8c6/src/VisualStudio/Core/Def/Implementation/Extensions/VisualStudioWorkspaceImplExtensions.cs#L25-L66) to go from the ImageMoniker we get

[2018-07-06 00:01] jasonmalinowski commented on #28236
FWIW, the code we have is also being used by the 'preview changes' dialog, so it's entirely possible fixing this is also necessary there too. @ivanbasov any idea if we've seen any crashes in the preview changes dialog around icon handling?

[2018-07-06 00:36] jasonmalinowski commented on #28262
Giving a quick glance at this, looks like the Roslyn layer might be in the clear here -- somewhat. Observe that in the build trace (and what I'm seeing locally opening this in VS), the command line string has `/warnaserror-:…`, and _then_ has the generic '/warnaserror+` later. In the real build, I see `/warnaserror+` first and `/warnaserror-:…`. It seems csc's handling here is defined to be order-

[2018-07-06 01:52] KirillOsenkov commented on #28240
The problem is that the code here does not take tab characters `\t` into account:

http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/Venus/ContainedDocument.cs,e80166dda9e79105

FYI @ToddGrun

[2018-07-06 02:00] KirillOsenkov commented on #28240
I have a MonoDevelop PR available that seems to fix this:
https://github.com/mono/monodevelop/pull/5335

[2018-07-06 02:13] KirillOsenkov opened #28322 "Refactor ContainedDocument.cs to extract reusable logic"
To allow VSMac to avoid maintaining a fork of this file we should extract the reusable logic from
https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.cs
and place it into EditorFeatures layer (make an internal helper).

Start pulling at `FilterTextChanges` and `AdjustIndentation`. If those two are extracted with all dependencies I have a fe

[2018-07-06 02:14] KirillOsenkov commented on #28240
Filed a related bug: https://github.com/dotnet/roslyn/issues/28322

[2018-07-06 02:15] KirillOsenkov commented on #28240
This is no longer blocking VSMac as we have a fix in our fork of the logic.

[2018-07-06 02:22] Suchiman opened #28323 "NRE in InlineDeclarationCodeFix with more than one local on the same line"
**Version Used**:
VS 15.8 Preview 3

**Steps to Reproduce**:
[code]
1. Create a console application with code above
2. Make sure code cleanup is enabled
3. Press CTRL + K, CTRL + D to format the document

**Expected Behavior**:
[code]

**Actual Behavior**:
VS shows ![servicehub host clr x86_2018-07-06_04-18-01](https://user-images.githubusercontent.com/7110884/42356624-d6ef7242-80d3-11e8-9c73-6f2b

[2018-07-06 02:48] wilmerbarriosvilla commented on #22219
hi, my friend, i can send app sample and your check…
all code c# and XAML is store in sql server and compiler in run time.  is very good  3 year init this project
Wilmer Barrios Villa

    El ‎jueves‎, ‎julio‎ ‎05‎, ‎2018‎ ‎02‎:‎20‎:‎15‎ ‎AM‎ ‎-05, UdayaBhandaru <notifications@github.com> escribió:

Hi Team is there any update on the Issue. We need this to be fixed ASAP.

—
You are receiving this

[2018-07-06 03:41] jmarolf commented on #28266
Sounds like we need to allow these refactoring to work on larger spans than they do today.

[2018-07-06 04:35] CyrusNajmabadi commented on #28266
@jmarolf In general, the problem is that most of the features just do a simple 'findtoken' which will find the token on the right of the caret.  They need to check if they're not on anything viable and then look left to see if that works.

[2018-07-06 05:33] justcla commented on #28266
Wider spans are a different thing. The problem here is that it doesn't find something it's touching.

Is it possible there could be something viable on the right, but you intend the one on the left?
Not sure if it applies to any real Roslyn situations. But it's an issue with Expand Selection because, in the case of the first pic (at the top of the issue), it will choose the right parens instead of

[2018-07-06 05:45] cston opened #28324 "Debug.Assert failure in CustomModifierUtils.CopyTypeCustomModifiers with generic overridden method return type"
`Debug.Assert` failure in `CustomModifierUtils.CopyTypeCustomModifiers`:
[code]

[2018-07-06 05:56] CyrusNajmabadi commented on #28266
Not sure if it applies to any real Roslyn situations.

It doesn't really.  We don't ever have a situation where two viable things can be touching (in C# or VB) such that the caret is ambiguous.

These are simply cases where the logic in each of these features for determining what to operate on is simply not written well and did not take "user is on the right side" into account.  They should each b

[2018-07-06 07:03] jmarolf commented on #28266
@CyrusNajmabadi yeah, I guess the right fix is to create some general infrastructure similar to `findtoken` that can be used such that a wider variety of nodes are searched

[2018-07-06 07:24] RedX2501 opened #28325 "Deadlock in VBCSCompiler.exe building a project with analyzer enabled"
**Version Used**:

Visual Studio 2017 15.7.4

**Steps to Reproduce**:

I tried compiling a Unit Test Project in Release mode. The same project and solution work fine in Debug mode.

Executing with msbuild does not change the situation.

I do have "Enable code analysis on build" disabled for this project.

I have found the similar issue #4858 fixed by #5183 but neither of them contained anything th

[2018-07-06 07:30] pasn opened #28326 "Implicit globs are not always respected by Microsoft.CodeAnalysis.Project class"
**Version Used**:

**Steps to Reproduce**:

1. Prepare SLN with single project like the one below.
[code]
2. List files in this project
[code]

Example solution with single project:
[ImplicitGlobRepro.zip](https://github.com/dotnet/roslyn/files/2169393/ImplicitGlobRepro.zip)

**Expected Behavior**:
All files should be listed in compilations list

**Actual Behavior**:
Only files from Platforms dire

[2018-07-06 07:40] jinujoseph commented on #28236
@jasonmalinowski is this a regression ? if so what caused it ?
I think we should investigate to handle this in 15.8 , new API addition seems like a long term work so we should provide a workaround in the mean time if possible.

[2018-07-06 07:52] jcouv commented on #20115
For the record, here are the design notes for tracking and renaming references to tuple elements: https://github.com/dotnet/roslyn/issues/14115#issuecomment-388110309 (it's just a summary, I'll try to dig up the more detailed meeting notes)

[2018-07-06 10:20] kxxt commented on #26505
I got this error , too.

I found this url to download dotnetcore sdk , and tried it on arm64  :
https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.300-linux-arm64-binaries

I can run dotnetcore apps which I complied on Windows , but when I tried to build a helloworld app , an error occured:
"error MSB6006: "csc.dll" exited with code 139"

[2018-07-06 12:30] KristianWedberg commented on #28318
Thanks @jhinder, I had missed that issue.

The main difference is that #12485 only mentions reducing the size of the XML file as a reason for the request, whereas this issue highlights the problem of including confidential information in the XML file, which (at least for me) makes the priority of implementing it significantly higher.

[2018-07-06 16:36] gafter commented on #23207
/cc @333fred

[2018-07-06 17:17] jcouv commented on #28325
@agocke @davkean  for advice on troubleshooting this. Would it be helpful to get a dump file of the process?

[2018-07-06 17:20] agocke commented on #28325
Yup, that would be useful.

[2018-07-06 17:29] jcouv commented on #28325
@RedX2501 Would you be able to share a dump file of the hung process? You can do that from Task Manager:

![image](https://user-images.githubusercontent.com/12466233/42392334-4eed5286-8107-11e8-8212-26fa53383f19.png)

Then share the resulting `.dmp` file with us (via some online drive like DropBox, Google Drive, SkyDrive, ...). Thanks

[2018-07-06 17:44] jasonmalinowski commented on #28262
@Pilchie It's the same code AFAIK. I am worried that targets do this:

https://github.com/dotnet/roslyn/blob/2868849409d44fcd5ecb84bef45575a98018a8c6/src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets#L28

That's an item group -- are we sure we're maintaining ordering?

[2018-07-06 17:44] gafter commented on #9731
In order to fix this for VB too, we'd need an API to lowercase a UTF32 code point. See https://github.com/dotnet/corefx/issues/30879

[2018-07-06 17:51] jasonmalinowski commented on #28236
I'm guessing this has always been broken, but we might have not noticed; test projects having a new icon would mean we have a chance of seeing this now in our own dogfooding.

[2018-07-06 17:51] jasonmalinowski commented on #28236
@jinujoseph I'm guessing this has always been broken, but we might have not noticed; test projects having a new icon would mean we have a chance of seeing this now in our own dogfooding.

[2018-07-06 17:55] brunofvalli commented on #19343
You might be in "Release" as your "Active solution configuration" on Visual Studio. Switch back to "Debug" for the system to behave as it used to.

![image](https://user-images.githubusercontent.com/5949285/42393372-d4e0e31c-811b-11e8-9987-9e654e053c09.png)

[2018-07-06 18:12] mavasani opened #28328 "Intermittent failure in C# unit test ObsoleteOnVirtual_OnBase"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_spanish_unit32_prtest/2392/testReport/junit/Microsoft.CodeAnalysis.CSharp.UnitTests/AttributeTests_WellKnownAttributes/ObsoleteOnVirtual_OnBase/

[code]

[2018-07-06 18:43] jcouv commented on #26505
@xclud I will try to find out how to get a stacktrace from a crashed process on Linux.
Is there any chance you could try and repro on windows? (the troubleshooting experience is easier there)

@kxxt Would you be able to share a crash dump of this crash (since you said it was on Windows)? Here are some [instructions](https://github.com/dotnet/roslyn/wiki/Troubleshooting-tips#using-a-registry-settin

[2018-07-06 20:10] Mawootad opened #28331 "Feature request: Declare multiple properties are identical during property initialization"
Something that I recently ran into that would be fairly easy and uncontroversial as a language feature would be the ability to declare that two properties are equal to the same (given) value when declaring an object with property setting. For example instead of having to do this:

[code]

You could do this:

[code]

I'm uncertain of the low-level handling of property assignment is handled in terms

[2018-07-06 20:31] jmarolf commented on #28262
I though CPS sorted these so this scenario wouldn't work.  F# needed to work around this since file ordering is essentially the same case.

[2018-07-06 20:42] jasonmalinowski commented on #28262
If so, then this bug should move back. And yeah, that being an item group may have not been the right decision originally...

[2018-07-06 21:07] justcla opened #28333 "Expand Selection: Needs to select the inner-most element - even when caret to the right of the token"
When using Expand Selection, if the caret is on the right of a token (and touching it), the Expand Selection function does not look at the token to the left. Instead it operates on the token to the right.

This is a problem when trying to select the variable you just typed.
In this example, when the caret is to the right of the variable "secondValue", pressing Expand Selection results in the right

[2018-07-06 21:08] justcla commented on #28333
This issue first mentioned in issue #28266

[2018-07-06 21:11] jcouv commented on #28288
The sequence points seem correct.
Tagging @tmat for some advice.

[code]

![seq-point](https://user-images.githubusercontent.com/12466233/42400377-259355d8-8126-11e8-83ba-fc2f2d7f77bf.gif)

[2018-07-06 21:14] justcla opened #28334 "Expand Selection: Select all parameters before selecting parens"
When using Expand Selection, if expanding inside a parameter list in a method call, all parameters should be selected before the selection encompasses the enclosing parentheses.
This allows users to easy select all the parameters and clear them.

The current implementation moves from selecting a single parameter to selecting all parameters plus the enclosing parenthesis.

Expanding goes from here:

[2018-07-06 21:21] justcla opened #28335 "Expand Selection: Select full line when only whitespace chars left"
When using Expand Selection, if all the non-whitespace chars on a line are selected, the next Expand operation should select the entire line including the line break.
(Technically, this is position zero on the current line to position zero on the following line.)

For example, expanding from this:
![image](https://user-images.githubusercontent.com/17131343/42400702-82a2aba6-8127-11e8-86c4-9a88ba80

[2018-07-06 21:23] CyrusNajmabadi commented on #28335
Perhaps this logic should just be part of move-lines or duplicate-code.  i.e. if it can see that you've selected all the code on the lines, it should just expand to include the whitespace as well.

[2018-07-06 21:27] justcla opened #28336 "Expand Selection: Select all lines in block - separated by blank line"
When using Expand Selection, expanding from a full line selection should select all lines in the current block - up to the point where a new line is introduced.

The current implementation expands to all lines in the block - regardless of blank lines. Typically, this is everything inside the curly braces.

The expected behavior is to expand from a full line selection
![image](https://user-images.g

[2018-07-06 21:29] CyrusNajmabadi commented on #28334
I'm also worried about changing expansion logic and potentially breaking people who are accustomed to the current behavior.

[2018-07-06 21:31] CyrusNajmabadi commented on #28336
A lot of these issues are missing the "why" part of a files issue.  It's unclear to me why the proposed solution is better than the current behavior. When i've expanded the selection on a statement it's been to select all statements in a block.  This would break that beahvior.

If i want to make line selections, btw, i just make line selections.  i.e. shift-up/down.  I use 'expand selection' preci

[2018-07-06 21:33] jinujoseph opened #28337 "Add telemetry for code clean up feature"

[2018-07-06 21:46] jcouv commented on #26464
Thanks @cdmihai for the comprehensive and simplified repro steps. I'm investigating.

[2018-07-06 21:56] #27974 closed

[2018-07-06 21:57] #27688 closed

[2018-07-06 21:57] tmat commented on #27688
Fixed by the editor.

[2018-07-06 22:08] justcla commented on #28335
Selecting whole lines is useful. Duplicate Code and Move Lines are just examples. Not intended to distract from the usefulness of selecting whole lines.

[2018-07-06 22:11] justcla commented on #28335
Yes, it's very possible this behavior could be implemented at the platform level, but the current implementation is that Roslyn offers the next expanded block. Having the editor artificially expand the selection based on certain rules can be done - but creates an inconsistency. Maybe something to bring in the Editor team to discuss.

[2018-07-06 22:13] justcla commented on #28334
I'll address this first.
This feature has only just been released and has very little usage at the moment.
Also, the current behavior is a result of not having time to complete the feature - specifically, these very issues I'm raising now that should have been part of the original implementation but were outside the scope of the Editor team.

[2018-07-06 22:13] CyrusNajmabadi commented on #28335
Right.  But the point still stands that we could just update those features once... instead of having to fix up N languages.  Note that even if you get all the languages under MS control, will you get all the other languages in the ecosystem to buy into this behavior?

To me, it makes more sense for hte langauges to expose language-based selection.  And editor features can figure out how to bridge

[2018-07-06 22:18] CyrusNajmabadi commented on #28334
Sorry, i'm not seeing where that conclusion is coming from.  Isn't this the ITextStructureNavigator API?  If so, roslyn implemented this 5+ years ago IIRC.

I'm not sure i understand this statement.  The scope of what constitutes "enclosing/firstchild/next/previous/sibling" has always been under the purview of the language.  And roslyn implemented this logic as per what we thought made sense here.

[2018-07-06 22:19] justcla commented on #28334
This allows users to easy select all the parameters and clear them.

Methods can have different overloads based on different parameters. You might want to clear all params so you can put in new parameters.
The other option is you are clearing the contents because you're about to copy the line and fill it with other params.

On the contrary, can you think of a case where it's better to skip over th

[2018-07-06 22:20] justcla commented on #28334
Maybe it's better to chat with Christian about it. I'm talking about the Expand Selection implementation, which is very new. It was implemented by the Editor team. There is only so much that can be done at the platform level and the rest of the work requires tweaks from Roslyn.

This is one such tweak.

[2018-07-06 22:21] CyrusNajmabadi commented on #28334
Because i want to grab them all to place them somewhere else.

Can you explain the reasoning there?  Your use case for selecting all was: " You might want to clear all params so you can put in new parameters."

What if someone wants to clear out the last N parameters?  Woudln't the same logic apply?

[2018-07-06 22:23] CyrusNajmabadi commented on #28334
My primary issue is that it's unclear to me if the tweaks being suggested are actually improvements.  I'm not saying they're not.  But they're just being stated that they are by fiat.  For example, i don't see why expanding on a list of things should go from 1 to N, instead of from 1 to 2 to 3 to ... etc. etc.

I'm trying to understand the logic here so we could come up with a principled set of ru

[2018-07-06 22:25] justcla opened #28341 "Expand Selection: Select all internal block content before selecting enclsoing braces"
When using Expand Selection, after selecting a single line in a block, the next Expand operation should select all the internal content of the block - but not the enclosing braces.

Example. From this:
![image](https://user-images.githubusercontent.com/17131343/42402575-88edc212-8130-11e8-9db8-a6507c615a42.png)

To this:
![image](https://user-images.githubusercontent.com/17131343/42402586-99bdcb64

[2018-07-06 22:29] CyrusNajmabadi commented on #28341
Can you expand on this?  Why is this not helpful?  What is the actual user operation that is happening?  If i want to take this body and copy it to something else... wouldn't i want this selection?

--

Note: this seems like a dupe of your parameter bug.  Basically, it sounds like you're asking for: when on an item in a list, expand to the full list first (not counting delimeters), then expand to

[2018-07-06 22:30] justcla commented on #28335
Then perhaps you can bring that up with the editor team. Right now, the Editor team provide the platform for language teams to supply the next largest block. At the moment it is up to each language to implement the desired behavior.

For now, it is a suggestion for Roslyn implementation.

[2018-07-06 22:33] justcla commented on #28341
Correct. Similar issue. But this time with braces. The other one was parenthesis.

Usually, when copying the body of the method, people are interested in copying the contents - not including the braces. You can easily paste the contents into another method or block, but if it copies the braces, it's not so easy or elegant.

[2018-07-06 22:35] CyrusNajmabadi commented on #28335
I can't file bugs against the editor team (no access to the VSO repo).  I would suggest you open a bug with them to track the discussion.

Right.  And i'm saying: i believe roslyn it implementing the desired behavior (to me at least).  it is mapping the operations appropriate over our tree.

If those selections then aren't ideal for other editor operations, then i would update *those* editor opera

[2018-07-06 22:35] justcla commented on #28334
The principle of Expand Selection is to grab increasingly larger selections of content in a meaningful manner. (Hence, a strict "get the next block as defined by the language block tagger" is too simplified an implementation.)

It is not designed to add siblings to the selection. This is why it does not get 1, 2, 3, etc.

It is designed to quickly expand to parent "groups".

For a better understan

[2018-07-06 22:37] CyrusNajmabadi commented on #28341
Let's chat on gitter.  I'm not actually certain how we come to that conclusion.   :)

Right, each has their pros and cons.  I think i can get behind your approach though.  because a user can still end up selecting the entire construct, just by expanding twice.  It's just unclear to me if that will be too annoying.

[2018-07-06 22:39] justcla commented on #28335
The Editor team told me to raise bugs against Roslyn.

We don't agree that the strict tree based model current being used is the correct implementation of this API by Roslyn.

I'm leaving this bug for tracking against Roslyn.

[2018-07-06 22:41] CyrusNajmabadi commented on #28334
Ok... but what defines 'meaningful' :)

That's odd, given that the interface we were asked to implement has GetSpanOfNextSibling and GetSpanOfPreviousSibling :D

Perhaps those should be used instead.  Then if the user wants to select all the parameters in your example, they can hit "expand to previous sibling" once.  IN general, you won't have that many parameters.  So you would only hit this a fe

[2018-07-06 22:41] justcla commented on #28341
Thank you. That's critical. I want this behavior because I'm not in the habit of pasting curly braces every time I insert code. A user CAN get the braces with one more invocation if they want, but I am UNABLE to get the selection that I want.

[2018-07-06 22:48] sharwell opened #28343 "Remove/replace INavigateToSearchService"
Pull request #28294 introduces a new interface `INavigateToSearchService_RemoveInterfaceAboveAndRenameThisAfterInternalsVisibleToUsersUpdate` which contains a new definition for `INavigateToSearchService`.

1. The F# and TypeScript projects should migrate their implementations of `INavigateToSearchService` to `INavigateToSearchService_RemoveInterfaceAboveAndRenameThisAfterInternalsVisibleToUsersUp

[2018-07-07 01:20] #28238 closed

[2018-07-07 01:22] #27049 closed, assigned to nobody

[2018-07-07 03:47] CyrusNajmabadi opened #28354 "Editor CommandExecutionContext doesn't properly support progress. It is also not threadsafe."
Related issue: https://github.com/dotnet/roslyn/issues/28032 (cancelling an editor context can tear down VS)

More info to follow.

Tagging @olegtk @jasonmalinowski @jinujoseph @dpoeschl

[2018-07-07 03:50] CyrusNajmabadi commented on #28354
Discovered while working on this PR: https://github.com/dotnet/roslyn/pull/28353

Effectively, the new editor CommandExecutionContext (CEC) has an API that indicates it supports progress.  However, progress isn't actually displayed.  This is due to bugs in teh impl (which i will outline below) that cause the messages to update the UI to nor be fired.

Another problem is that CEC itself is not thre

[2018-07-07 03:50] CyrusNajmabadi commented on #28354
Recap of investigation follows:

[2018-07-07 03:50] CyrusNajmabadi commented on #28354
@olegtk @gundermanc i need a little help with this.  I'm trying to use the IUIThreadOperationScope to report both the description and the progress of the work we're doing.

However, even though i'm reporting this information to the scope, it doesn't seem to have any effect.  The UI continues to just show "Formatting document..." (which is the description we provided when making the scope).  i.e.:

[2018-07-07 03:50] CyrusNajmabadi commented on #28354
@olegtk There's clearly something busted here.  Here's the roslyn code where we're about to notify you of the first piece of progress:

![image](https://user-images.githubusercontent.com/4564579/42406054-5cce08f2-8155-11e8-82b0-ae0ff0e22beb.png)

Here, everything is in a good state.  Roslyn has the values 0/1 and we're about to call .Progress.Report on your scope.

Looking at IL spy, that should e

[2018-07-07 03:51] CyrusNajmabadi commented on #28354
@olegtk There appear to be at least three *major* regressions i can identify here:

1. Trying to actually update progress does not work.  This was something supported when roslyn had our own wait dialog.
2. clicking 'cancel' will often crash VS.  I reported this previously, but the appears to be because the code was blindly changed over to the new form without realizing the old form handled the ca

[2018-07-07 03:51] CyrusNajmabadi commented on #28354
Ah.  I see the problem.  VSUIThreadOperationContext.OnScopeProgressChanged does not call base.OnScoprProgressChanged.  So the logic to actually update your cached progress data doesn't happen.  So progress basically does not work with these dialogs.  i.e.:

This is the VSUIThreadOperationContext impl:

[code]

this is AbstractUIThreadOperationContext:

[code]

That collation of values is not happe

[2018-07-07 03:51] CyrusNajmabadi commented on #28354
Now.  what i can't figure out is why the description isn't getting updated in the UI.  the codepaths look ok for that piece of data...

[2018-07-07 03:51] CyrusNajmabadi commented on #28354
Oh, nevermind.  I see what the problem is with the description. it's similar ot the progress problem.  Namely.  When the description changes the scope calls:

[code]

However, OnScopeChanged has no body:

[code]

There is an overridden method called "OnScopesChanged" (not that this is 'Scopes' not 'Scope').  Nothing ends up calling this.  So nothing updates the UI.  AFAICT, unless i'm using this A

[2018-07-07 03:52] CyrusNajmabadi commented on #28354
@olegtk @gundermanc The context object does not appear to be threadsafe either.  There is no protection for AddScope or Scope.Dispose happening on any thread.

[2018-07-07 08:35] hez2010 commented on #26505
@jcouv Actually this issue only occurs on Linux ARM64 system and currently I don't have the environment to repo it. You can try executing "dotnet build" on Linux ARM64, I think this issue will 100% repo.

[2018-07-07 09:41] pongba opened #28356 "Is there any restriction to the syntax / language feature of C# scripting"
This maybe a naive question, but just want to double confirm, since it's not stated clearly in the documentation.

Although I really don't see any reason of restricting language feature in C# scripts, I also don't want to step into showstoppers later on in the project as I'm trying to use the scriping engine for production scenarios akin to Unity's.

So, the script supports **full** C#, right?

[2018-07-07 10:29] ufcpp commented on #28356
It does not support namespace.

[2018-07-07 21:41] sharwell opened #28357 "Interactive window does not clear rectangular selection on escape"
**Version Used**: 15.8 Preview 3

**Steps to Reproduce**:

1. Type `xxx` in the C# Interactive window
2. If the completion window appears, press <kbd>Esc</kbd> to dismiss it
3. Create a box selection around the last `x` by pressing <kbd>Alt</kbd>+<kbd>Shift</kbd>+<kbd>&larr;</kbd>
4. Press <kbd>Esc</kbd>

**Expected Behavior**:

The caret is positioned between the second and third `x`, and no text

[2018-07-07 21:43] sharwell commented on #28357
@jinujoseph @tmat This is a regression in 15.8 preview 3 which is caught by 8 of our integration tests but they are getting ignored.

/cc @gundermanc since this may be related to multiple caret support

[2018-07-08 00:07] pongba commented on #28356
@ufcpp what's the design rationale behind that? I can't see why not.

[2018-07-08 07:41] jinujoseph commented on #16781
also reported [link](https://developercommunity.visualstudio.com/content/problem/280154/valuetuple-with-tab-crashes-formattting.html)

[2018-07-08 07:53] vsfeedback opened #28358 "F12 navigation on an overloaded method doesnt take me to the right method signature definition"
1. I've a solution file in which i cant navigate to function definitions properly. i've enabled code analyzer on build for many of the c# projects in my solution. When i do F12 on an overloaded method i get taken to another method with the same name but not identical signature, eg:  i press F12 on SearchDocuments(a,b,c..30 args) and get taken to SearchDocuments(..5 args). i'm on VS 15.7.4 enterpri

[2018-07-08 07:57] CreateAndInject opened #28359 "Unable to evaluate the expression."
**Version Used**: VS2017 15.7.4

**Steps to Reproduce**:

1. Writes this code:
[code]
2. View these 3 variables in the memory window

**Expected Behavior**: I can view all the 3 variables.

**Actual Behavior**: Both "str" & "num" are ok, but when I view "ptr", I get:
Unable to evaluate the expression.

[2018-07-08 15:37] sharwell opened #28360 "Test WorkspacesNetCore.MetadataReference uses an assembly not available in .NET Core"
**Version Used**: 62d5b054ec1086cae7340aad6022f138c97cd06d

Test results (observed using the new test harness):

[code]

[2018-07-08 15:40] sharwell opened #28361 "WorkspacesNetCore.ProjectProperties does not set OptionInfer"
**Version Used**: 62d5b054ec1086cae7340aad6022f138c97cd06d

Test result (using new test harness):

[code]

[2018-07-08 16:19] sharwell commented on #24565
@tmat 😑

[2018-07-08 17:50] Pilchie commented on #28262
Ah - tagging @davkean.  Can you take a look?

[2018-07-08 22:39] davkean commented on #28262
It doesn't sort them per se - it just doesn't guarantee order as the backing store is a map.

[2018-07-08 22:40] davkean commented on #28262
Closed in lieu of https://github.com/dotnet/project-system/issues/3680.

[2018-07-08 22:40] #28262 closed

[2018-07-09 02:07] Uday858 commented on #21307
Any update on this issue ?

[2018-07-09 03:29] davkean commented on #28325
Create a dump from 32-bit TaskMgr (%WINDIR%\SysWow64\TaskMgr.exe) so that SoS will work.

[2018-07-09 09:00] EdwinEngelen commented on #25962
I'm also experiencing this problem. For me the problem disappears when I move methods to a new class.

For example. I have a class with extension methods A and B. When I add another method C (and don't use it) I get the error. Moving the extension method C to a new class resolves the error.

`
public static class ExpressionExtensions
{
public static bool MethodA(this ExpressionSyntax expressionSyn

[2018-07-09 09:29] TheAifam5 opened #28362 "NuGet License mismatch?"
The Roslyn project uses Apache License 2.0, but in the package of "Microsoft.Net.Compilers" is still the "https://www.microsoft.com/web/webpi/eula/dotnet_library_license_non_redistributable.htm" as a license.

Which of them is valid, which of them should I use?

Regards,
Mateusz Paluszkiewicz

[2018-07-09 14:01] Dorus commented on #16781
Re: my report:

I find it interesting that i do not get any error and formatting works just fine with most names but not `tab` or `second`.

For example `Dim i = {(rr:=1, tab2:=2)}` (vb.net code) works just fine, but `Dim i = {(rr:=1, tab:=2)}` instantly crashes the formatter.

![afbeelding](https://user-images.githubusercontent.com/4461459/42454622-3f38f6d4-8390-11e8-80c3-c13d36a3c81d.png)

[2018-07-09 14:04] Pilchie commented on #28362
Tagging @gafter

[2018-07-09 15:04] akarpov89 opened #28363 "No "error CS0211: Cannot take the address of the given expression" when taking address of 'in' parameter or 'ref readonly' local variable"
**Version Used**:
master 7 July 2018 on https://sharplab.io

**Steps to Reproduce**:
Compile the following program:

[code]

**Expected Behavior**:
Compiler emits diagnostics "error CS0211: Cannot take the address of the given expression" on both address-of operators, because according to specification:

*A compile-time error occurs if `E` is not classified as a variable, if `E` is classified as a

[2018-07-09 15:40] mavasani commented on #22506
This seems to be an issue with all of our code style analyzers. We seem to create a separate descriptor/diagnostic for unnecessary fading: http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/CodeStyle/AbstractCodeStyleDiagnosticAnalyzer.cs,54, and the suppression applied to the reported IDE code style diagnostic does not suppress the fading unnecessary diagnostic. Assigning to @sharwell

[2018-07-09 15:41] mavasani commented on #22276
We are not going to fix this, closing it out.

[2018-07-09 15:41] #22276 closed

[2018-07-09 15:42] #18903 closed

[2018-07-09 15:43] mavasani commented on #18907
Very old perf relatec story.

[2018-07-09 15:43] #18907 closed

[2018-07-09 15:45] mavasani commented on #15323
Assigning to @kuhlenh

[2018-07-09 16:17] mavasani commented on #20918
@AArnott do you still see the performance issues on latest builds?

[2018-07-09 16:22] tmat commented on #28357
This is an editor bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/644841

[2018-07-09 16:23] tmat commented on #28357
Keeping this issue open to track enabling tests.

[2018-07-09 16:52] gundermanc commented on #28357
Tagged for multi caret.

[2018-07-09 17:15] msbasanth opened #28370 "Intermittently unable to modify IsEnabledByDefault through an AdditionalFiles passed to analyzer"
**Version Used**:
Roslyn v2.6.0

**Steps to Reproduce**:

1. In the our analyzer constructor/class level we are setting the IsEnabledByDefault value of the analyzer to true.

DiagnosticDescriptor = new DiagnosticDescriptor(DiagnosticId, Title, MessageFormat, AnalyzerCategory.SpecialRules, DiagnosticSeverity.Warning, true, Description, HelpLink);

2. We have need to change the IsEnabledByDefault ac

[2018-07-09 17:48] #26464 closed

[2018-07-09 18:30] cston opened #28377 "InvalidOperationException in StackOptimizerPass1.IsIndirectAssignment with `x! = null;`"
[code]
[code]

[2018-07-09 18:52] #27289 closed

[2018-07-09 19:03] CyrusNajmabadi opened #28378 "SyntaxEditor could be more efficient when just operating on changes that do not involve lambda callbacks"
SyntaxEditor has a very cool design surface where it allows one to describe a set of changes to a tree as a series of edits (as opposed to a bottom-up tree rewrite).  Those edits can be of two forms.  A ```node->node change``` (i.e. ```editor.ReplaceNode(oldNode, newNode)```) or a ```node->callback``` change (i.e. ```editor.ReplaceNode(oldNode, currentNode => ...)```).  The benefit of the latter i

[2018-07-09 19:03] CyrusNajmabadi commented on #28378
Tagging @heejaechang @mavasani @jinujoseph

[2018-07-09 19:09] cston commented on #26745
See also https://github.com/dotnet/roslyn/issues/26737.

[2018-07-09 19:15] cston commented on #26639
Fixed in https://github.com/dotnet/roslyn/pull/28103.

[2018-07-09 19:15] #26639 closed

[2018-07-09 19:19] jcouv commented on #26464
Fixed in 15.8 (preview 5 I think).

[2018-07-09 19:33] cston commented on #25346
Fixed in https://github.com/dotnet/roslyn/pull/26726.

[2018-07-09 19:33] #25346 closed

[2018-07-09 19:35] heejaechang commented on #28012
we probably need to first confirm that those trees are used by code clean up feature or not. doesn't feels like this perf is measured after disabling all other features. you should either disable all other features when doing this kind of optimization to make sure you are getting data from the actual source or not, or have a way to distinguish data from 1 feature from other others.

second, unless

[2018-07-09 19:36] jcouv commented on #26737
Conversely, `s is null` should also inform nullability.

[2018-07-09 19:37] jcouv commented on #26745
Closing this issue as dupe of #26737, and added a note there about `s is null` scenario.

[2018-07-09 19:37] #26745 closed

[2018-07-09 20:19] CyrusNajmabadi commented on #28012
Right... so something is very bad here.  Because as part of this, i've reached a steady state, have invoked the feature, and now it takes a super long time because trees aare continually being rehydrated.

This is what i thin you should be looking into fixing here.  It's *really* bad, and it indicates something is totally broken in our caching logic.

They are.  Everything has reached steady state

[2018-07-09 20:27] 333fred opened #28381 "Null-coalescing Assignment Work Items"
Tracking issue for null-coalescing work items:

* [x] Expand Tests:
    * [x] Typeless tuples `(null, null)`
    * [x] Tuples that differ by names.
    * [x] `default`
    * [x] `outParam ??= value` (and any other parameter types, like `in`)
    * [x] Chaining `x ??= y ??= z`
    * [x] checked vs unchecked `nullableIntLocal ??= longValue`
    * [x] stackalloc RHS (should fail)
    * [x] Obsolete c

[2018-07-09 20:33] CyrusNajmabadi commented on #28012
@heejaechang Can you take a look at this perf issue? I've tried to wrap my head around VS's caching logic, and it has always been too confusing and difficult to understand for me.  I'm not sure who else on the team would be best to investigate this.  Maybe @sharwell .  However, it seems like you have the most knowledge and experience wrt how that is supposed to work and what might be causing it to

[2018-07-09 20:42] heejaechang commented on #28012
as soon as code clean up is done, our ambient features such as nav bar, solution crawler, colorizer will kick in, you need to separate out those.

[2018-07-09 20:58] CyrusNajmabadi commented on #28012
@heejaechang  These are the perf numbers *while* code cleanup is running.  No changes have actually happened in the slice of time that i have selected.

None of these features are running because no changes ever happened to the project, and the project was at a stable state.

As I mentioned already: these rehydrations are caused by Bind calls in the compiler that are happening in the code-path cau

[2018-07-09 21:00] heejaechang commented on #28012
tagging @jinujoseph @kuhlenh

but, I think we need to set priority first since people are working on other 15.8 issues.

since I don't think we have changed caching since Kyle left the team, our cache behavior should be same since then. so now the question is its impact on code clean up, and I guess that can only be answered by what is current experience on code clean up with default options on wi

[2018-07-09 21:02] CyrusNajmabadi commented on #28012
I don't think ti's a good idea to ship features that people can turn on that tank performance.  Our features shoudl meet an appropriate quality bar, and that means things like being stable, working well, being fast enough, etc. etc.

We don't get to just ship features and then wash our hands of it because someone didn't do a good job on caching years ago.  Or because we haven't actually checked of

[2018-07-09 21:07] CyrusNajmabadi commented on #28012
@jinujoseph @kuhlenh

Can we please get some more attention focused in this area?  Not only is this an area where the feature is being turned on automatically.  But it's also something you are heavily advertising with things like a 'Gold Bar'.  If the intent is to strongly push people toward using this (and i also assume it's to help with competition), then we need to put our best foot forward and

[2018-07-09 21:08] heejaechang commented on #28012
I have been using code cleanup for a while now with default (not even smaller default we have now changed to) and I use "format document" a lot and I didn't feel it was that bad or unusable. but this is subjective matter. so @jinujoseph  and @kuhlenh

[2018-07-09 21:11] jinujoseph commented on #28012
@CyrusNajmabadi  plan is not to turn the feature on by default.  It's a experimental feature which we are promoting via gold bar. Thanks for bringing the perf issue and we will be investigating and improve continuously but don't see as a  ship blocker for this feature.

[2018-07-09 21:12] CyrusNajmabadi commented on #28012
And i regularly hit 20+ second pauses.   I've hit 60+ seconds.  It doesn't help that cancelling was also broken (though i have a PR to help fix that).

The 'default' is not sufficient.  We are shipping this system with teh ability for users to turn all of these on.  This is a supported configuration that people will use.  We need to actually test and use our product in the real scenarios we're all

[2018-07-09 21:14] CyrusNajmabadi commented on #28012
Wait... :)   So the design changed again?  Because it was previously not on by default.  But then the design was changed to turn it on by default during preview (but off at RTM).  But then @sharwell said that the decision changed again, and it would be on by default (even at RTM).

see https://github.com/dotnet/roslyn/issues/28068 for the bug tracking making this 'off by default', which was closed

[2018-07-09 21:15] heejaechang commented on #28012
well. rename things like syntaxnode or fix all for solution on Roslyn easily takes several hours. that doesn't stop me from using rename or fix all features. probably same for other solution wide features.

it is up to users whether they enable all possible fixes or not. and how long it takes will depend on inputs.

I am not saying we shouldn't fix it or look at it. but I agree with @jinujoseph th

[2018-07-09 21:16] heejaechang commented on #28012
this is experimental so that we can keep change design without too much cost

[2018-07-09 21:23] CyrusNajmabadi commented on #28012
This is not acceptable to me.  And i'm surprised anyone on the team woudl find that acceptable.  When i've worked on fixers myself, i always end up running on things on Roslyn to get a sense of how long things take.

For example, even the most recent fixer around adding/removing parentheses was tested against Roslyn itself to ensure suitable performance.  This was always part of our process around

[2018-07-09 21:37] heejaechang commented on #28012
if a tool can do it faster than me doing manually than I am good most of the time. if it can do faster. awesome but it is a tool so as long as it can do what I need it to do, as long as it does it faster than me doing it otherwise, I am good.

one can always do optimization. so we should have a goal rather than just saying we can do it faster.

for example, exchange team which has bigger solution

[2018-07-09 21:49] kuhlenh commented on #28068
**Design decision;**

We are turning this **off by default** until we get results from an A/B test. The first time a user triggers **Edit.FormatDocument** we will surface the gold bar with a message that explains you can configure additional cleanup.

In the A/B test, we want to test having this on by default for some set of people, with "on" settings being the usings (and possibly a C group with

[2018-07-09 23:29] heejaechang commented on #28012
I didn't dig through but just remembered this
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Solution/Solution.cs,879

code fix might be not using PreserveIdentity but use PreserveValue when updating solution with new tree. that basically ask roslyn to save new tree to disk and kick out from memory if possible.

we use it "PreserveValue" as default to be safe (otherwise, cert

[2018-07-09 23:37] WardenGnaw opened #28395 "Different roslyn version generating different IL for pointers"
Not sure if this is an known change but with different versions of Roslyn, the IL generated is different.

**Version Used**: 3.0.0.61717 (09da1925) and 2.9.0.63026 (1c015ea4)

**Steps to Reproduce**:

1. Use the code snippet below:
[code]
2.  Compile with:
[code]
3. ildasm program.cs -> P -> F

**Expected Behavior**: 2.9.0.63026 create P::F : void() IL as
[code]

**Actual Behavior**: While  3.0.0.

[2018-07-09 23:48] 333fred opened #28397 "Test Failure: Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGen.UnsafeTests.TakingAddressOfPointerFieldsIsLegal_Static"
Stack trace:

[code]

Appears to be an AV from the inner test.
https://ci.dot.net/job/dotnet_roslyn/job/features_compiler/job/windows_debug_unit64_prtest/63/testReport/junit/Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGen/UnsafeTests/TakingAddressOfPointerFieldsIsLegal_Static/

[2018-07-09 23:50] ivanbasov commented on #27437
Blocked by #27450

[2018-07-09 23:53] 333fred commented on #26443
Similar failures in the CSharp versions:
**`Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpWinForms.ChangeControlProperty`**
[code]
![image](https://user-images.githubusercontent.com/2371880/42481657-63d056ba-8398-11e8-9698-d7397cf5b2b0.png)

**`Roslyn.VisualStudio.IntegrationTests.CSharp.CSharpWinForms.ChangeControlPropertyInCode`**
[code]
![image](https://user-images.githubusercontent.com/237

[2018-07-10 00:20] ivanbasov commented on #27457
could not find any references to the bug in sources

[2018-07-10 00:32] jmarolf commented on #28395
the version 3.0 hasn't been updated from master in over a year.  @WardenGnaw Why are you consuming an unreleased compiler version from that long ago?

[2018-07-10 00:35] ericmutta opened #28398 "VB: Compiler should reject (or at least warn about) circular initialisation of fields/variables."
**Version Used**:

Visual Studio Community 2017 v15.5.6

**Steps to Reproduce**:

Type in the following code:

[code]

Note that the field `SomeFoo` and the local variable `x` are both initialised with reference to their own value and the code compiles without warnings or errors (but at run-time you can get some hard-to-understand null-reference exceptions until you carefully look at the code and

[2018-07-10 00:41] WardenGnaw commented on #28395
We are grabbing the latest via `nuget install Microsoft.Net.Compilers -Source "https://dotnet.myget.org/F/roslyn/api/v3/index.json" -ExcludeVersion -Prerelease`

[2018-07-10 00:41] kelltrick commented on #28395
We are consuming Roslyn from here: https://dotnet.myget.org/feed/roslyn/package/nuget/Microsoft.Net.Compilers (which has clearly gone out of date)

Where can we pickup a *real* latest version?

[2018-07-10 00:56] jmarolf commented on #28395
[The latest public nuget release](https://www.nuget.org/packages/Microsoft.Net.Compilers/2.8.2) should be sufficient for whatever you want to compile.  I don't understand why you want your code compiled with an unreleased (and therefore unsupported and not fully tested) compiler.

We have several partner teams that consume packages from us via  https://dotnet.myget.org because they need newer api

[2018-07-10 01:01] tannergooding commented on #28395
Keep in mind that "latest version" does not necessarily mean "most up to date" (in the context of pre-release packages)

[2018-07-10 06:40] pasn commented on #28326
It seems that there is similar issue with listing references in project. Is this supposed to work?

[2018-07-10 07:52] dpoeschl commented on #28328
Another one: https://ci.dot.net/job/dotnet_roslyn/job/dev15.8-preview4-vs-deps/job/windows_debug_spanish_unit32_prtest/13/

[2018-07-10 07:52] dpoeschl commented on #28328
FYI @jaredpar

[2018-07-10 08:16] Shyam-Gupta opened #28407 "Null pointer exception in Jenkins build"
PR: https://github.com/dotnet/roslyn/pull/28406

Error in windows_debug_spanish_unit32_prtest

https://ci.dot.net/job/dotnet_roslyn/job/features_compiler/job/windows_debug_spanish_unit32_prtest/67/consoleFull#-410211996a086b3e-df04-41d2-bc4d-43e8f9406d07

23:35:25 ERROR: Build step failed with exception
23:35:25 java.lang.NullPointerException
23:35:25 at org.jenkinsci.plugins.xunit.XUnitProcessor.

[2018-07-10 08:30] dpoeschl commented on #28407
There's an error slightly before that:
[code]

[2018-07-10 09:07] dpoeschl opened #28409 "Test Spanish Queue -- Timeout cloning repo from GitHub."
Example: https://ci.dot.net/job/dotnet_roslyn/job/dev15.8-preview4-vs-deps/job/windows_debug_spanish_unit32_prtest/16/

[code]

[2018-07-10 10:22] dpoeschl opened #28410 ""Roslyn Error: test timeout exceeded, dumping remaining processes""
https://github.com/dotnet/roslyn/issues/26681
https://ci.dot.net/job/dotnet_roslyn/job/features_compiler/job/windows_debug_spanish_unit32_prtest/69/consoleFull#138080395683554902-aff0-4799-9e92-0ada24ce2a06

[code]

[2018-07-10 11:14] breyed opened #28412 "Spurious "cast is redundant" when setting hidden indexer"
**Version Used**: Visual Studio 15.7.4

**Steps to Reproduce**:

Put the following code in the C# editor.

[code]

**Expected Behavior**:
No warnings.

**Actual Behavior**:
"Cast is redundant" warning on cast `(Fruit)a`.

** Variation **:
The same problem occurs regardless of whether `Apple.Properties` is static.

[2018-07-10 12:21] ReubenBond commented on #1891
Any help here would be appreciated: is there a way we can construct the corresponding metadata name for an `INamedTypeSymbol` in a `Compilation`?

[2018-07-10 14:09] AArnott commented on #20918
No

[2018-07-10 14:09] #20918 closed

[2018-07-10 15:47] eugenr79 opened #28414 "MSBuildWorkspace opens the solution wrongly."
**Steps to Reproduce**:

1.  I use the latest roslyn sdk: https://github.com/dotnet/roslyn-sdk/tree/dev15.8.x
2.  Then create xUnit Test Project (.NET Core) from the new project wizard see screencast https://www.screencast.com/t/CotFlvZK04zR
3. Run the SolutionExplorer project from samples and open the test solution
4. If Visual Studio Professional 2017 is installed on the computer then the Projec

[2018-07-10 15:52] kuhlenh opened #28416 "[Code Suggestion] Report "suspicious" comparisons"
If you are using something like ```.Equals()```, alert the user if it is a suspicious comparison--like between a Guid and a string.

[code]

[2018-07-10 16:05] kuhlenh opened #28417 "[Code Suggestion] Loop inspections"
There are several things that can go awry in loops:

- counters or loop control variables may never be changed/updated inside the loop
-  infinite loops in do, while, for
-  redundancy

[2018-07-10 16:10] kuhlenh opened #28418 "Add more cases to 'unused variable' detection"
If a variable is assigned but never used, we don't currently flag it as unused.

[code]

[2018-07-10 16:18] CyrusNajmabadi commented on #28418
FWIW: This has been an explicit design in the language since v1.  This is commonly done by people who want variables so that they they can 'read' them through some other means (often by the debugger).

If we do this, it will likely be something a user has to opt-into.  Otherwise it will noisely make the experience worse for many users.

[2018-07-10 16:19] jaredpar commented on #28328
@333fred can you take a look at this? Short term we should probably disable this on the Spanish queues.

[2018-07-10 16:36] renezweifel opened #28419 "Compiler fails while compiling code with excessive usage of expressions"
**Version Used**: Commit from master 28688494 (appears in VisualStudio 2017 [15.7.4] and previous versions)

**Steps to Reproduce**:

1.  Copy attached code from file [RoslynIssue.txt](https://github.com/dotnet/roslyn/files/2181250/RoslynIssue.txt) into file CommandLineTests.cs in project CSharpCommandLineTest
2. Run (or Debug) new Test TonsOfExpressions
3. Test fails because of exception while co

[2018-07-10 17:12] 333fred commented on #28328
dev15.8-preview4 disable: https://github.com/dotnet/roslyn/pull/28420
master disable: https://github.com/dotnet/roslyn/pull/28421

[2018-07-10 17:31] 333fred commented on #28328
Full stack trace:
[code]

Side note: @jaredpar, any idea why we're not getting line numbers as part of this stack?

[2018-07-10 18:35] 0xd4d opened #28424 "Analyzers are using too much CPU: GetBoundNodes() fails to cache bound static field initializer nodes"
Roslyn code (`internal ImmutableArray<BoundNode> GetBoundNodes(CSharpSyntaxNode node)`):

https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs#L1813-L1817

Bind() is very expensive but the result isn't cached by GuardedAddBoundTreeAndGetBoundNodeFromMap() if it's a static field initializer. This causes very bad perf (lots of CPU usage) by th

[2018-07-10 18:48] heejaechang opened #28426 "cache aggregatedProjectTypeGuid"
the guid is used in error list provider and it depends on STA VS API call (which switch to UI thread to work) we should cache it (it will not change once project is created) so that it becomes free-thread for roslyn usage.

http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Telemetry/ProjectTypeLookupService.cs,27

related issue - https://devdiv.visualstudio.com/DevDiv/_workitems/edi

[2018-07-10 18:51] jaredpar commented on #28328
@333fred pretty sure it's because of the way that we embed / use portable pdbs on Jenkins. @tmat

[2018-07-10 19:35] jcouv commented on #28419
Thanks for the precise repro.
Just to confirm when I run this test, I get a `System.NullReferenceException`. From what I can tell, we're iterating through a builder with Length `0`, and getting one item which is `null`.

[code]

[2018-07-10 19:58] ivanbasov commented on #27453
Scenario failed with new API:

[code]

1. Remove $$ and start at that locaiton
2. Type "Met"
3. Hit Backspace 3 times

**Expected**
"Method" is selected with soft selection
**Actual**
"Method" is selected with soft selection

4. Type "!"
**Expected**
!Met
**Actual**
Method!

In the old API, we check for SoftSelection. If it is, we do not commit.

@AmadeusW  please take a look

[2018-07-10 20:11] renezweifel commented on #28419
Exactly. It seems that it is a multithreading problem wich is not fully reproducable but increases with more usage of expressions (as shown in sample code).
As we saw the call to AnalyzedArguments.Free in the Conversions class seems to be the problem as the resolution itself still holds a reference to the AnalyzedArguments object which is used later in the code where the exception is then thrown.

[2018-07-10 21:14] dpoeschl opened #28436 "Uninvestigated and non-trivial test failures ignored for the purposes of codeflow"
Integration
https://github.com/dotnet/roslyn/pull/28408 - https://ci.dot.net/job/dotnet_roslyn/job/dev15.9.x-vs-deps/job/windows_debug_vs-integration_prtest/4/ (unclear)
https://github.com/dotnet/roslyn/pull/28433 - https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/2659/ (timeout?)
https://github.com/dotnet/roslyn/pull/28433 - https://ci.dot.net/job/dotnet_r

[2018-07-10 21:18] tmat commented on #28395
What is the test that depends on the exact instructions emitted by Roslyn actually testing? Is this just a test issue or does the debugger have some dependency on the exact instructions?

[2018-07-10 21:22] smitpatel opened #28437 "EditorConfig: Code fix for naming violation in subnamespace is missing"
Editor Config file used: https://gist.github.com/smitpatel/4c19bbd0c166e23fdb491a6d70c97a56

For simple program like this:
[code]
It detects namespace naming style violation.
![image](https://user-images.githubusercontent.com/1528107/42538192-132d19dc-844c-11e8-8b41-26b931da726e.png)
Lightbulb also offers correct code fix
![image](https://user-images.githubusercontent.com/1528107/42538212-20cae8f8

[2018-07-10 21:32] brinko99 opened #28440 "IDE0019 suggests Negative Pattern Matching; i.e more complex code"
**VS2017 15.7.3**:

The below triggers IDE0019 which when followed produces negative pattern matching which IMO is poor code. I suggest that pattern matching not be suggested in these circumstances.

It is a common policy to avoid logical negation (!) as it's easy to overlook. In fact, the [MS Pattern Matching](https://docs.microsoft.com/en-us/dotnet/csharp/pattern-matching#the-is-type-pattern-exp

[2018-07-10 21:36] dpoeschl commented on #28407
Another one: https://ci.dot.net/job/dotnet_roslyn/job/dev15.8-preview4-vs-deps/job/windows_release_vs-integration_prtest/15/consoleFull#-410211996a086b3e-df04-41d2-bc4d-43e8f9406d07

[2018-07-10 21:39] tannergooding commented on #28407
FYI. @dotnet/dnceng

[2018-07-10 21:46] MattGal commented on #28407
Filed https://github.com/dotnet/core-eng/issues/3861 to track this, I think this is a side effect of which Tuesday of the month this is sadly.

[2018-07-10 21:56] ReubenBond commented on #1891
@AnthonyDGreen it says above that I unassigned you. That was not my intention, many apologies.
![image](https://user-images.githubusercontent.com/203839/42539802-9381a998-84df-11e8-945d-fa10b8460115.png)
I don't know how that happened, since I do not appear to have the ability to assign or unassign people on dotnet/roslyn:
![image](https://user-images.githubusercontent.com/203839/42539822-9cb4e606

[2018-07-10 22:03] kelltrick commented on #28395
We don't depend on exact instructions, but we do depend on the source info / instruction mapping in the PDBs to be correct. In the past, we have encountered issues where changes to exact instructions will yield malfunctions in the PDB reader libraries which will surface in our tests.

[2018-07-10 22:15] tmat commented on #28395
Could you point to those issues? Whenever such an issue is discovered we need to add a PDB test to Roslyn repo that covers it. What PDB reader libraries do you use?

[2018-07-10 22:46] dpoeschl commented on #28407
Another one from https://github.com/dotnet/roslyn/pull/28442: https://ci.dot.net/job/dotnet_roslyn/job/dev15.8-preview4-vs-deps/job/windows_debug_vs-integration_prtest/16/consoleFull#9373088216ee26338-6221-4f7c-8c8f-1d1d5cb4704a in

[2018-07-10 22:56] 333fred opened #28454 "CSharpFormatting.ApplyEditorConfigAndFormatDocument Failure"
[code]
![csharpformatting applyeditorconfigandformatdocument-equalexception-21 34 38](https://user-images.githubusercontent.com/2371880/42542031-c9e1b626-8459-11e8-982a-9812d48a97bf.png)

Seen here: https://ci.dot.net/job/dotnet_roslyn/job/features_null-operator-enhancements/job/windows_debug_vs-integration_prtest/10/

[2018-07-10 23:18] CyrusNajmabadi commented on #27369
I don't think this dependency can be removed.  Or, i don't know of a good way for that to happen.  Tagging @jasonmalinowski to see if he has any ideas.

Effectively, we have an escape hatch for some analyzers that have code that **must** run on the UI thread (and must get the Workspace to make a decision).  To do this, the analyzer does all the work it can on the background, decides it it should s

[2018-07-10 23:32] CyrusNajmabadi commented on #28440
I don't see why this is considered poor code :)    it was actually called out as the ''guard pattern' when we designed patterns in teh first place :)

I'm really not certain where such a policy has ever been described or enforced.  :)

[2018-07-10 23:36] CyrusNajmabadi commented on #28440
@brinko99 You should be able to disable this fixer by adding hte following to your .editorconfig file:

[code]

This will shut off that diagnostic for you (at least in very current builds of Roslyn).

[2018-07-10 23:42] CyrusNajmabadi commented on #28440
Note: there is also a language proposal to make the parenthese optional here.  So that you can soon write the guard pattern as:

[code]

This will be the expected idiomatic form here.  When that comes, this fixer will also be updated to emit that new form. The championed language proposal is here: https://github.com/dotnet/csharplang/issues/882

[2018-07-11 00:00] olegtk commented on #28236
From the editor perspective this is a legacy troublesome component with inadequate-to-absent test coverage. It would be very risky to make any changes now that we are in Escrow. Let's just fix it the right way in Dev16.

[2018-07-11 00:05] davkean commented on #28236
This makes editing files inside of a test project in the new project system very annoying due to the distracting icon change. Why does legacy test projects icon not show in that drop down? Can we cheaply do the same thing for CPS projects?

[2018-07-11 00:17] DustinCampbell commented on #28414
Hi! A couple of questions:

* Does the project open properly in that install VS 2017 Enterprise? If not, do you have the appropriate workloads installed into that VS?
* If you debug the Solution Explorer sample and inspect the MSBuildWorkspace, does it have metadata references on the loaded solution? I'm wondering if the problem is an issue in the code that populates the solution explorer.
* Have

[2018-07-11 00:42] brinko99 commented on #28440
Thanks @CyrusNajmabadi, this is helpful. The language proposal does improve readability IMO; indeed, it seems that there are many who are not crazy about the current construct (e.g. the above linked documentation note).

The .editorconfig option you mention applies to both the `== null` and `!= null` checks. I much prefer pattern matching for the clean `!= null` check but not the `!= null` check.

[2018-07-11 01:05] jasonmalinowski commented on #27369
What analyzers use that?

[2018-07-11 01:40] anujc commented on #28418
A simpler example is
var numbers = new List<int>();

and never use numbers in your code. R# will grey out the unused code which catches your attention that it needs to be deleted. Expecting something similar in VS.

[2018-07-11 03:53] MattGal commented on #28407
@dpoeschl we continue to have machines rebooting during runs due to Windows update.  I believe I've addressed this specific one, please continue to add them here or  dotnet/core-eng#3861 if you see more.

[2018-07-11 05:54] enihcam commented on #7673
Or maybe we can add a function-level attribute? For example:

[code]

[2018-07-11 07:22] Neme12 commented on #28440
There is also a proposal for `not` patterns #1350, which would allow you to write:
[code]
This would also make the condition more readable, although a little verbose.

[2018-07-11 08:36] bigdnf commented on #7673
It should be for method, class and assembly level ;)

[2018-07-11 09:44] MaStr11 opened #28465 "InternalsVisibleToCompletionProvider lists "XamlProject" entries"
**Version Used**:
15.7.5

**Steps to Reproduce**:

1. Create a solution with two WPF projects (libraries containing a WPF-Usercontrol).
2. Open at least one XAML file per library with the XAML designer
3. Trigger the InternalsVisibleToCompletionProvider

**Expected Behavior**:
Only valid targets for `InternalsVisibleTo` are shown

**Actual Behavior**:
The list contains entries like `ClassLibrary1-

[2018-07-11 13:53] svick commented on #28362
Based on the resolution of https://github.com/dotnet/roslyn/issues/20169, the next version of Microsoft.Net.Compilers will use the more liberal https://www.microsoft.com/net/dotnet_library_license.htm.

Though it's still not an open source license and it's not clear to me why using the Apache license for at least some Roslyn NuGet packages is not an option.

[2018-07-11 15:04] soul4soul commented on #28234
I should of reviewed the documentation more closely. Thank you for clarifying that information.

I'm just putting this here so others can possible find the information. In order to setup the environment so a script can access code from a custom assembly and namespace both `WithImports` and `WithReferences` must be used.

[code]

[2018-07-11 15:04] dagal10 opened #28466 "VB.Net SyntaxGenerator SwitchStatement not including "Case" in "Select Case""
**Version Used**:
2.8.2
**Steps to Reproduce**:
[code]

**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

Am I not understanding or generating the Select Case statement correctly?
I don't see a SelectSection/CaseSection or SelectStatement/CaseStatement that would be used instead of Switch for VB.

I got around the issue for now by using the below, but that doesn't seem correct to me.
[cod

[2018-07-11 15:17] KristianWedberg commented on #12485
As mentioned in the duplicate #28318, including private and internal members in the XML doc file risks exposing confidential information when e.g. publishing a NuGet package.

This forces us to strip all code comments from these private and internal members, which obviously makes our internal code documentation worse, including removing it from IntelliSense.

To me, this makes the priority of impl

[2018-07-11 15:32] jcouv commented on #28362
Resolving as dupe of #20169

[2018-07-11 15:32] #28362 closed

[2018-07-11 15:37] jcouv commented on #28359
Tagging @cston for expression evaluator question

[2018-07-11 15:38] alpergunay commented on #27381
Still waiting an answer for the problem. We are using code injection everywhere in our project but we could not get any answer from you about the problem. If you will not do any analysis we will try to find another approach.

[2018-07-11 15:39] jcouv commented on #28318
I'll go ahead and close this issue as duplicate #12485.
@KristianWedberg Please do add the extra motivation (problem with confidential information) to the original issue. Thanks

[2018-07-11 15:39] #28318 closed

[2018-07-11 15:58] jmarolf commented on #27381
@alpergunay sorry, haven't had the time to look at this.  It is likely the result of an implementation detail in Entity Framework of which I am not very familiar.  From an IL perspective the compiler is generating the same code.

[2018-07-11 17:46] jaredpar commented on #19512
Closing as this hasn't shown up in a while. Will reopen as necessary.

[2018-07-11 17:48] #22130 closed

[2018-07-11 17:50] jaredpar commented on #22329
Given this behavior goes back to the native compiler I'm going to close this out. If a compelling customer scenario arises we can revisit.

[2018-07-11 17:50] #22329 closed

[2018-07-11 17:51] jaredpar commented on #23743
This should be done now.

[2018-07-11 17:51] #23743 closed

[2018-07-11 17:53] jaredpar commented on #23846
This bug is now tracking our re-enabling of multi-core JIT. Moving to 16.0 as it's not going to happen in the Dev15 timeframe.

[2018-07-11 18:05] jinujoseph commented on #22545
related to https://github.com/dotnet/roslyn/issues/24877

[2018-07-11 18:12] jinujoseph commented on #24264
this has been done in 15.8.preview4 by editor team

[2018-07-11 18:12] #24264 closed

[2018-07-11 18:13] jinujoseph commented on #24264
![image](https://user-images.githubusercontent.com/12449387/42591403-6fa229d2-84fb-11e8-910a-052686d15d71.png)

[2018-07-11 18:15] jinujoseph commented on #24435
This has been done by editor team in 15.8.Preview4

[2018-07-11 18:15] #24435 closed

[2018-07-11 18:31] jasonmalinowski commented on #27369
OK, just wanted to sanity-check what was still using this.

In any case, does standard dependency injection patterns solve this for now? Create a ICodeFixForegroundThreadScheduler that is queried to get that? or something else?

[2018-07-11 18:40] CyrusNajmabadi commented on #27369
@jasonmalinowski yup.  taht could probably do it.   if we can't find such a service, then we'd probably want to consider all those CodeActions inapplicable.

[2018-07-11 18:47] CyrusNajmabadi opened #28468 "ServicesVisualStudio depends on C# and VB specific projects"
Specifically:

![image](https://user-images.githubusercontent.com/4564579/42592965-11b690ce-8500-11e8-89ca-025fed21a401.png)

CSharp.Workspaces and VisualBasic.Workspaces

This seems like a layering violation.  @jasonmalinowski Is this intentional?

[2018-07-11 18:54] jasonmalinowski commented on #28468
I have no idea why that would be like that. Can't imagine it's intentional. It dates back to the beginning of us pushing the code into GitHub, so I can't even find somebody to blame. What happens if you remove it? :-)

[2018-07-11 18:55] CyrusNajmabadi commented on #28468
I'll try :D

[2018-07-11 20:11] jcouv commented on #26692
From LDM discussion today:
- we'll use a separate flag (not warning waves) to control the feature
- the flag implicitly changes top-level NonNullTypes context to be `true`
- the flag enables the flow analysis warnings
- if you use any nullability-related feature (`!`, `?` or `[NonNullTypes]`) and the flag isn't set, then we produce a new warning ("please enable the feature")

[2018-07-11 20:12] jcouv commented on #26199
This has been resolved in LDM today. The flag changes the implicit URTANN/NonNullTypes context, but should not otherwise affect binding.

[2018-07-11 20:12] #26199 closed

[2018-07-11 20:21] jcouv commented on #27686
From discussion in LDM today (7-11), oblivious is ephemeral.

For example, `string s = obliviousString;` produces a `string!` for `s`.
And even `var s = obliviousString;` produces a `string!` for s`.
The same applies in method type inference. For example, if you pass an `obliviousString` into `List<T> F<T>(T t)`, you get back a `List<string!>!`.
This way, you can never hold onto an instance of a t

[2018-07-11 20:44] jaredpar commented on #23990
Verified this is fixed now.

https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDZICYgNQA+AAgAwAERAjANwCwAUAwHYRhxQAOEAxnGQKIAPDhgD22OAwDeDMnLII4AMzKwEAV24wyAFXYxZ8mfXmmKAZl36yAYUUR4ACgCUZALwA+MhKUR1GGDoTeQBfBkM5IgAmCkoAdgiyYzN5KgA2CgAWWIAORyoSAG0AXTIIBABzKGdE02SUswA3crJBdytYADo7OAc4FyCGsjDguRGQoA

[2018-07-11 20:44] #23990 closed

[2018-07-11 20:55] jaredpar commented on #28174
This is fixed now.

[2018-07-11 20:55] #28174 closed

[2018-07-11 21:00] cston commented on #28359
@CreateAndInject, I'm able to view all three variables in the Locals and Watch windows in a more recent preview build of Visual Studio, using a C# console application targeting .NET 4.6.1. How do I view variables in the a memory window?

[2018-07-11 22:55] dpoeschl commented on #25627
Happened again: https://ci.dot.net/job/dotnet_roslyn/job/dev15.8.x-vs-deps/job/windows_release_unit32_prtest/19/testReport/junit/Microsoft.CodeAnalysis.VisualBasic.UnitTests/Binder_Expressions_Tests/ConstantFields1/

[2018-07-11 22:59] dpoeschl commented on #28410
Again
https://ci.dot.net/job/dotnet_roslyn/job/dev15.8.x-vs-deps/job/windows_debug_vs-integration_prtest/21/consoleFull#-192897211283554902-aff0-4799-9e92-0ada24ce2a06
https://github.com/dotnet/roslyn/pull/28457

[2018-07-11 23:05] MattGal commented on #28407
I was unable to find any repro'ing from surprise reboots and the fix made for dotnet/core-eng#3861 is definitely on new machines; I'm closing that issue, please ping me if you see more of these and we can investigate again.

[2018-07-11 23:57] TIHan opened #28474 "Solution containing F# and C# projects break some C# tooling, even if projects are not referencing each other"
**Version Used**: 15.6, 15.7.4, 15.8 preview 4

**Steps to Reproduce**:

1. Create new solution
2. Create a C# project and a F# project
3. Try to perform a rename operation in C# and watch it not work

**Expected Behavior**:

Rename should properly rename when pressing Enter.

**Actual Behavior**:

Nothing happens when pressing Enter on rename.

--

This isn't specific to rename, there are other i

[2018-07-12 00:20] jaredpar opened #28476 "Error taking address of fixed sized member"
Consider the following code:

[code]

This code should compile. Instead it incorrectly emits the following error:

[2018-07-12 00:55] pongba opened #28477 "Can't view managed variable content in debugger (mixed mode) due to System::Object in System.Runtime assembly"
**Version Used**:
latest version of C# Scripting API

**Steps to Reproduce**:

1. create a native project (exe)
2. create another C++/CLI project (dll) that bridges the native project with CLR and reference & use C# scripting API
3. write any simple usage of the scripting API and debug run
4. watch any managed variable's value in debug "watch" window

**Expected Behavior**:
value can be shown

**A

[2018-07-12 01:08] jcouv commented on #28419
@renezweifel Thanks for the awesome analysis!
Indeed, it looks like `MethodGroupResolution` holds onto instances of `AnalyzedArguments`, but the codepath that creates those `MethodGroupResolution` also calls `analyzedArguments.Free()`...

Out of curiosity, how did you perform this analysis?
I tried doing this with the "Make object ID" in Visual Studio, but had trouble finding other threads holding

[2018-07-12 01:13] tmat commented on #28477
Could you please share your projects?

[2018-07-12 02:33] CyrusNajmabadi commented on #28466
@dagal10 ```select value``` is legal VB.  The 'case' token is optional.  being unnecessary, the syntax generator does not include it.

[2018-07-12 02:56] davkean commented on #27819
I have the var rules and simplifier fighting each other wanting to undo each other:

![image](https://user-images.githubusercontent.com/1103906/42610016-d1de4fcc-85d2-11e8-89d4-b5f2d57ecc33.png)

![image](https://user-images.githubusercontent.com/1103906/42610040-e7e253f4-85d2-11e8-8b6e-c422f239cdf6.png)

[2018-07-12 03:05] CyrusNajmabadi commented on #27819
Your first picture is a screwdriver.  It is intentional that it is offered and that it can go against your actual settings.  It exists for cases where you want to deviate, and you would still like the IDE's help to generate the type name.

Note that the first one is not suggested to you with any sort of squiggle/dots/etc.  it is simply a tool that you can choose to use if you want.  In this case,

[2018-07-12 03:06] CyrusNajmabadi commented on #27819
Note: we have this model for many part of our system (and intend to have it for pretty much everything that can be flipped between states).   For example, you may have a style preference that you want ```=>``` bodied methods.  But then, you decide on one of your methods you don't actually like that.  So the screwdriver is there to give you quick access to the 'convert to block body' change for tha

[2018-07-12 03:10] davkean commented on #27819
Yeah, looks like I'm getting confused because I'm getting asked to do reverse things in the following:

[code]

My error list states:

[code]

I'm getting asked to do reverse things to `timeoutTask` and `completedTask` for reasons I don't understand.

[2018-07-12 03:17] davkean commented on #27819
Oh, it looks like it's stating that `Task.Delay` obviously returns `Task` but I'm awaiting `Task.WhenAny` which return type is not obvious. Wish there was a way to say "CTRL+." doesn't do refactorings.

[2018-07-12 03:30] CyrusNajmabadi commented on #27819
hrmm.. the problem with the Task.WhenAny is that you're acutally awaiting ```....ConfigureAwait(false)```.  And we don't consider the type 'obvious' there.  We might want to special case that one though and just ask "is the type obvious on hte left of the ConfigureAwait?"

The reason Task.Delay is considered obvious is that's it's a static method on a type that returns an instance of that type.  i

[2018-07-12 03:33] davkean commented on #27819
It's not the ConfigureAwait, it's the await. `Task.WhenAny` returns `Task<Task>`, it's the unwrapped `Task` that its saying is not obvious.

[2018-07-12 03:36] CyrusNajmabadi commented on #27819
Ah, interesting.  I wonder if that's appropriate... or not.   There are many examples of a non-generic type having a static method that returns a generic type.  i.e.  ValueTuple.Create, ImmutableArray.Create, etc. etc.  i think it would make sense to consider that 'apparent'.

[2018-07-12 03:40] CyrusNajmabadi commented on #27819
Note: i actually think both ConfigureAwait and Task<task> are hte problems.  `ConfigureAwait` is a problem due to:

https://github.com/dotnet/roslyn/blob/fe0fe4096f4109652a981f7577a1bf5f5e565d52/src/Workspaces/CSharp/Portable/CodeStyle/TypeStyle/TypeStyleHelper.cs#L132

Here we get the rightmost invocation (i.e. ```ConfigureAwait(false)```).

However, even if we fixed that, we woudl still be block

[2018-07-12 05:18] CreateAndInject commented on #28359
just type the name in the memory window

![pic](https://user-images.githubusercontent.com/2529999/42613931-fe1c3858-85d5-11e8-85a4-b3a84b3d5721.jpg)

[2018-07-12 05:45] renezweifel commented on #28419
@jcouv Also with "Make object ID".
Based on the assumption we had we did the following:
1. Create a breakpoint at OverloadResolutionResult.cs line 204 (It crashed there sometimes in the test)
2. Start debugging the test from above
3. Wait until parallelstack looks something like this by hitting "continue" if not (takes some time):
![image](https://user-images.githubusercontent.com/15030615/4261434

[2018-07-12 06:06] #28468 closed

[2018-07-12 06:37] #28156 closed

[2018-07-12 06:55] agocke commented on #28476
I've been trying to gather context on this bug, the previous bugs, and the feature design all the way back to what we did for C# 7.3. I'd like to record some of what I've found.

First, a reminder of what a pointer is in C#. A pointer is an unmanaged reference, so if a pointer is pointing into a managed object, the GC can move the underlying memory or free it if there isn't something preventing it

[2018-07-12 09:07] TheEres commented on #28091
Does not seem to be linked (!) to Linq.
The offered fix as no preview, and does not modify code.
Pragma suppress in source correctly disable it.

**Version**: VisualStudio.15.Preview/15.8.0-pre.4.0+27906.1
**Project**: .NET Standard 2.0 Class Library
![image](https://user-images.githubusercontent.com/12914051/42623114-5077c900-85c2-11e8-93ed-99158cb6b07e.png)
![image](https://user-images.githubuse

[2018-07-12 10:10] GeroIwan commented on #8237
Would it be an option to have two differently named methods instead of two overloads?
(Asked on https://github.com/aspnet/EntityFrameworkCore/issues/4117#issuecomment-404461872, too.)

[2018-07-12 10:12] PeteBoyRocket opened #28479 "CS1998 is not suppressed by SuppressMessage when building with MSBuild.exe"
**Version Used**:
MSBuild from VS2017 15.7.5

**Steps to Reproduce**:
We see this on our build server and I've reproduced it locally.

Using the SuppressMessageAttribute successfully suppresses the warning in Visual Studio, but when rebuilding using MSBuild the warning is still reported in the console output.
`[SuppressMessage("Compiler", "CS1998")]
public async Task Foo()
{
}
`

Still gives the w

[2018-07-12 11:30] Therzok opened #28480 "Analyzer performance tracking is only enabled in remote host"
**Version Used**:
2.9.0-beta4-63001-02

**Steps to Reproduce**:

1. Run a host workspace without a remote host service
2. Observe that analyzer performance telemetry is not sent

http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs,bc3f6b509cfc8156

**Expected Behavior**:
Analyzer telemetry (perf stats) shou

[2018-07-12 11:47] Therzok commented on #28480
cc @jasonmalinowski @jinujoseph @heejaechang

[2018-07-12 13:53] informatorius opened #28481 "Expression tree should support optional parameters"
I wish expression tree compiler could support invocation with optional parameters.

To get rid of the error message: "An expression tree may not contain a call or invocation that uses optional arguments"

[2018-07-12 14:17] #28466 closed

[2018-07-12 15:20] Therzok commented on #28480
cc @mhutch @slluis @jmatthiesen

[2018-07-12 15:32] cston commented on #28359
From discussing with @plnelson, it sounds like `IntPtr` is not handled in the Memory window currently. Adding @caslan to re-assign this issue. Thanks.

[2018-07-12 15:35] plnelson commented on #28359
The debugger is failing to set DkmEvaluationResultFlags.Address for IntPtr/UIntPtr.  Fix is at VilEvaluationResult/CreateInternal line 609.

[2018-07-12 18:10] heejaechang commented on #28480
that will require little bit of refactoring but possible if we want to.

[2018-07-12 18:44] CyrusNajmabadi commented on #28354
@jinujoseph I haven't heard back from @olegtk.  Can you assign this accordingly?   @jasonmalinowski Is likely a good candidate.

[2018-07-12 19:02] mavasani commented on #28370
This is by design. `IsEnabledByDefault` is for the *default* analyzer configuration, which is tied only to an instance of an analyzer, not context entities such as additional file text or compilation. The value remains the same for the entire lifetime of the analyzer instance.

You can potentially implement a filtering logic at every diagnostic report site in the analyzer code to get your desired

[2018-07-12 19:02] #28370 closed

[2018-07-12 19:08] jinujoseph commented on #28276
related to #25303

[2018-07-12 19:10] mavasani commented on #28283
BatchFixAllProvider does not support code fixes such as yours - see [limitations](https://github.com/dotnet/roslyn/blob/master/docs/analyzers/FixAllProvider.md#limitations-of-the-batchfixer) of the batch fixer. You should implement your own [custom FixAllProvider](https://github.com/dotnet/roslyn/blob/master/docs/analyzers/FixAllProvider.md#implementing-a-custom-fixallprovider).

[2018-07-12 19:10] #28283 closed

[2018-07-12 19:12] PathogenDavid commented on #27527
I can create a separate issue for this, but since this issue also concerns enhancing the documentation on `SymbolKey`, I figured I'd point it out here.

The [main documentation for `SymbolKey`](https://github.com/DustinCampbell/roslyn/blob/d1359e701e4b6388ad43b31a732ac019569f7ca2/src/Workspaces/Core/Portable/SymbolKey/SymbolKey.cs#L46-L48) states the following:

[code]

This statement is incorrect

[2018-07-12 19:53] jcouv opened #28486 "EE appears to use LangVersion=default instead of latest"
![image](https://user-images.githubusercontent.com/12466233/42655931-77b20ec6-85d2-11e8-89e9-e54df8fb6287.png)

FYI @cston

[2018-07-12 20:11] Neme12 commented on #28266
Isn't "expand selection" just doing a walk up the syntax tree? That means it finds the argument list as the parent node and takes it whole span. This would likely have to be special-cased, possibly in a lot more cases where we'd prefer a different behavior.

[2018-07-12 20:13] CyrusNajmabadi commented on #28266
I think the special casing is: if i was on a node in a list, 'expanding' then just selects the span of all the list members.  If that's hte same as when i started (because the list only contains one element), then go up to the parent like today.

I have a prototype of this working.  Seems reasonable.

[2018-07-12 20:15] KirillOsenkov commented on #28480
@jinujoseph any chance we could get this slightly sooner than 16.0? It's OK if this doesn't get checked into any mainstream branch, as long as we can take the NuGets we should be able to consume it.

[2018-07-12 20:27] #27223 closed, assigned to sharwell

[2018-07-12 20:38] olegtk commented on #28032
This is fixed in Preview 5

[2018-07-12 20:42] olegtk commented on #28354
@jinujoseph can you please file and route this to the editor? thanks!

[2018-07-12 20:46] olegtk commented on #28354
Clicking cancel is fixed in Preview5, hopefully progress will be fixed too.
Not sure about thread safety though. Commanding API in general is not thread safe and intended to be only called on UI thread currently. Might be Dev16 improvement though.

[2018-07-12 20:50] CyrusNajmabadi commented on #28354
That seems very strange (to me at least).  The previous progress system didn't have threading concerns here.  And it was specifically designed so it could be used without having to own the UI thread.

If tehre is a threading requirement, it would be good if that could be:

1. doc'ed.
2. checked by the impl so that it throws if used by a non-UI thread.

Because right now it can just silently corrup

[2018-07-12 20:52] olegtk commented on #28354
ok, if it's a regression we should fix it. thanks!

[2018-07-12 20:53] olegtk commented on #28354
A separate thanks for the debugging and root causing these!

[2018-07-12 21:13] jinujoseph commented on #28354
ported over to [editor](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/646739)

[2018-07-12 21:13] #28354 closed

[2018-07-12 21:16] cston commented on #28486
Tagging @jinujoseph to assign.

[2018-07-12 21:17] jcouv opened #28487 "SetUnknownNullabilityForReferenceTypes doesn't fix all type parameters"
In a C# 7 compilation, `class C<T, U> : A<T>.B<U>` results in a base type `A<T!>.B<U>`.
A test that hits that is `ErrorTypeSymbolTests.ConstructedErrorTypes`.

Also, `UsesIsNullableVisitor` probably should have caught that.

Note: there is another issue in `SetUnknownNullabilityForReferenceTypes`. It replaces `string?` with `string~`, but is should leave it alone (see `UnannotatedConstraint_Overri

[2018-07-12 21:47] jcouv opened #28489 "Test plan for "target-typed new""
Compiler:
- [ ] semantic model (no natural type, gets a converted type)
- [ ] IOperation

IDE:
- [ ] formatting (no space in `new()`)
- [ ] QuickInfo should show the type on `new`
- [ ] `UseImplicitType` and `UseExplicitType` refactorings

Initial PR: https://github.com/dotnet/roslyn/pull/25196
Proposal: https://github.com/dotnet/csharplang/blob/master/proposals/target-typed-new.md
Championed issu

[2018-07-13 00:13] jasonmalinowski commented on #28436
@dpoeschl @jinujoseph @sharwell So who is investigating these then?

[2018-07-13 04:06] dgchurchill commented on #23889
This is likely the same underlying issue as https://github.com/dotnet/roslyn/issues/28474

[2018-07-13 04:38] dgchurchill commented on #28474
Seems like this could have been introduced in the following commit:

https://github.com/dotnet/roslyn/commit/95a2444883741b61d44385d9bb7040ba33778ca3#diff-cae35fdca4a58c14603b4de0661109bbR606

and the previous default behaviour was to ignore case:

https://github.com/dotnet/roslyn/commit/95a2444883741b61d44385d9bb7040ba33778ca3#diff-cae35fdca4a58c14603b4de0661109bbL729

[2018-07-13 04:45] MattWolf74 opened #28506 "System.IO.FileNotFoundException: 'Could not load file or assembly 'System.IO.FileSystem, Version=4.0.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.'"
I use a Console app (.Net Target Framework 4.7.2) and imported (via Nuget)
Microsoft.CodeAnalysis.CSharp (version 2.8.2) and
Microsoft.CodeAnalysis.CSharp.Scripting (version 2.8.2)

I then try to run the following simple code:

`using System;
using System.IO;
using System.Reflection;
using Microsoft.CodeAnalysis.CSharp.Scripting;
using Microsoft.CodeAnalysis.Scripting;

namespace TestProject
{

[2018-07-13 06:18] msbasanth commented on #28370
Thanks for the quick response. I will recheck our implementation.

[2018-07-13 09:06] eugenr79 commented on #28414
Hi,
- Yes, the project opens well in the install VS 2017 Enterprise. Here is an image illustrating this.
https://www.screencast.com/t/L3BPaaMa7k
- Yes, when I debug I see the metadata references in the first case and do not see in the another.
- Here is a project to test on.
[CoreProject.zip](https://github.com/dotnet/roslyn/files/2192013/CoreProject.zip)
and here is a video illustrating my test s

[2018-07-13 14:07] GeorgeAlexandria opened #28507 "Incorrect switch snippet applying in Visual Studio for enum which has the same values"
Hi,

I'm used **Visual Studio 15.6.6** (VS).

I try to use snippet of `switch` in VS under the enum, which contains the same values (I don't think that is a bad practices to use the same values), just or example, it would be `Microsoft.CodeAnalysis.MethodKind, Microsoft.CodeAnalysis 2.7.0`, which has `AnonymousFunction = 0, LambdaMethod = 0`. And when you apply `switch` snippet under this enum VS

[2018-07-13 15:17] vsfeedback opened #28508 ""When the variable type is apparent" should be smarter about apparent types (i.e. on the same line)"
I love this feature but I've got to disable the auto refactoring because it's not smart enough yet. Currently, it only seems to detect `var bla = new Bla()`, but not things where the type is still implicit but on the same line, such as:

BlaEnum e = BlaEnum.MyValue;
vs
var e = BlaEnum.MyValue;

and service-locator patterns like
MyService service = requestContext.GetService&lt;MyService&gt;();

vs

[2018-07-13 15:26] vsfeedback opened #28509 "IDE0009 Add 'this' or 'Me' qualification incorrectly reported"
Starting with Visual Studio 15.8.0 Preview 3, Visual Studio has started incorrectly reporting that a variable should be prefixes with `this.` when `dotnet_style_qualification_for_method` is set to true and you are using the variable in curly braces.

For example, the following shows up with errors in my IDE for `value` and `foo` inside of the curly braces due to them not being prefix'ed with `this

[2018-07-13 15:54] vsfeedback opened #28510 "Search an implementation method's reference of an interface doesn't have the result of the reference from the other assembly."
I have a solution, and there are 2 projects in the solution:

Project A, .net standard 2.0 library project, contains an interface IC. And there is a usage of interface IC.

Project B, WPF application, .net framework 4.7.1, has dependency of project A, and there is a class, implemented from IC.

In the interface IC, there is a method MethodD.

When I try to find all the references of MethodD, it di

[2018-07-13 15:59] sharwell commented on #28510
IIRC, I used to observe problems with this when working on the `ITemporaryStorageService` interface in Roslyn. The problems appeared on source.roslyn.io, making it impossible to find the implementations of that interface which we actually used, instead finding only the ones in test code and the trivial fallback implementation. However, the issues on source.roslyn.io appear to have since been resol

[2018-07-13 16:00] vsfeedback opened #28511 "code fix for IDE0032 analyser (Use auto property) creates broken code"
The code fix for IDE0032 analyser (Use auto property) creates broken code. Please check the following example:

[code]

In VS2017 (15.7.4) the field &quot;bounds&quot; will be identified to be convertible to auto property.
Before applying the code fix the UnitTest succeed.
After applying the code fix the UnitTest fails.

The reason - I think - is that the Rect data will be copied when accessing th

[2018-07-13 16:05] jinujoseph commented on #23807
reported [link](https://developercommunity.visualstudio.com/content/problem/277398/rename-class.html)

[2018-07-13 17:17] ryanbrandenburg commented on #28133
This is no longer reproducing for me, so I'm closing it. Thanks!

[2018-07-13 17:17] #28133 closed

[2018-07-13 17:41] jinujoseph commented on #21170
Reported at [DC](https://developercommunity.visualstudio.com/content/problem/289600/c-edit-and-continue-changes-are-not-allowed-for-cr.html)

[2018-07-13 18:34] renzet opened #28521 "Link to download PDF on wiki is dead"
On the wiki page [Roslyn Overview](https://github.com/dotnet/roslyn/wiki/Roslyn%20Overview) the link to download the page as PDF leads to [codeplex](https://www.codeplex.com/Download?ProjectName=roslyn&DownloadId=822125) and is no longer working.

[2018-07-13 20:17] CyrusNajmabadi commented on #26998
Fixed with https://github.com/dotnet/roslyn/pull/28257.  @jcouv @jinujoseph can you close this issue?

[2018-07-13 20:18] #26998 closed

[2018-07-13 21:00] Shyam-Gupta commented on #28410
Another instance: https://ci.dot.net/job/dotnet_roslyn/job/master-vs-deps/job/windows_debug_vs-integration_prtest/272/consoleFull#69118994783554902-aff0-4799-9e92-0ada24ce2a06

PR: https://github.com/dotnet/roslyn/pull/28394

[2018-07-13 21:02] Shyam-Gupta commented on #28410
Requesting @jinujoseph to assign it to someone for investigation. It is affecting codeflow a lot.

[2018-07-13 21:19] dpoeschl commented on #28410
Another one: https://ci.dot.net/job/dotnet_roslyn/job/master-vs-deps/job/windows_release_vs-integration_prtest/271/console

PR: https://github.com/dotnet/roslyn/pull/28439#pullrequestreview-137192849

[2018-07-13 21:23] dpoeschl commented on #28436
@jinujoseph @sharwell Pointing out these actual (but flaky) failures:
#28445 - https://ci.dot.net/job/dotnet_roslyn/job/dev15.9.x/job/windows_release_vs-integration_prtest/5/ (4 seemingly actual failures)
#28495 - https://ci.dot.net/job/dotnet_roslyn/job/dev15.9.x/job/windows_debug_vs-integration_prtest/6/ (4 seemingly actual failures, different from the above 4)
#28439 - https://ci.dot.net/job/do

[2018-07-13 21:35] sharwell commented on #28410
Submitted #28523. We've been running up against the current timeout for a while, and it seems we're now over.

[2018-07-13 21:43] sharwell commented on #28436
* WorkspacesDesktop.RenamingOpenFiles: Fixed in #28516 by 9f4af51e29f9f6994f2bddc039db470f6d6305e3
* Other three: ProcDump stole focus and broke `SendInput`

* VS crashed but we don't currently capture dumps in this case. Recovery tends to be poor due to bugs in the harness.

* Same as previous

[2018-07-13 22:22] MohammadHamdyGhanem commented on #26998
@CyrusNajmabadi
Thanks. Great work.

[2018-07-13 22:53] 333fred opened #28524 "[Design] Enhance QuickInfo with Inferred Nullability"
With the upcoming Nullable Reference Types feature, we'll need to consider how the IDE will expose information about inferred nullability to the user. This issue tracks our thoughts on what the experience should be, as well some interesting scenarios that will help drive our design. This list of scenarios will be updated as we come up with more.

## Scenarios

#### Scenario 1:
[code]
Today, the `T

[2018-07-13 23:11] cston commented on #28524
We'll probably want to display the inferred nested nullability as well as top-level nullability.
[code]

[2018-07-13 23:12] Therzok opened #28525 "Tool to analyze current composition"
Currently, when implementing a Host, there's a ton of hoops that need to be done to ensure the service surface that roslyn defines as possible to implement is done.

Specific scenario 1 - Service is stubbed
There is a stub workspace service implementation in Roslyn, Hosts do not do anything, there is no way to figure out if something is missing. This meant that there was no service to hold recent

[2018-07-13 23:36] jinujoseph commented on #27168
Affected Branch: [27911.0.d15.8]
Affected Build: 15.8.0 Preview 5.0
Affected Product Language:

Steps to reproduce:

1. Create Class Library C# project
2. Add Class1:
public abstract class Class1
{
    [Obsolete]
    public abstract void Foo();
}
3. Add Class2:
class Class2 : Class1
{
    public override void Foo()
    {
        throw new NotImplementedException();
    }
}
4. Hover mouse over unde

[2018-07-13 23:46] jinujoseph opened #28526 "Introduce local for incomplete expression generates code with errors"
Ported from https://devdiv.visualstudio.com/DevDiv/_workitems/edit/646487
Affected Branch: [27907.0.d15.8]
Affected Build: 15.8.0 Preview 4.0
Affected Product Language:

Steps to reproduce:

1. Input in method in C# class following:
var a = 1 +
2. Place cursor after plus
3. Open Quick Actions

Expected: there are no introduce local options for incomplete expression
Actual: there are introduce loca

[2018-07-13 23:52] jinujoseph opened #28528 "The Generate Constructor fix uses variable from the class"
Affected Branch: [27911.0.d15.8]
Affected Build: 15.8.0 Preview 5.0
Affected Product Language:

Steps to reproduce:

1. Create new Console App C#
2. Add new class - Class1.cs:
class Class1
{
    private int v;
}
3. Add to Main method in Program.cs:
var c = new Class1(123);
4. Open Quick Actions for underlined Class1 and choose "Generate constructor in Class1"

Actual: the generated constructor use

[2018-07-13 23:54] Eilon opened #28529 "After `dotnet run` I get "The system cannot open the device or file specified""
_From @sshaginyan on May 6, 2018 5:31_

Hello,

I'm running Ubuntu 16.04.4. dotnet new console runs fine but, when running dotnet run I get his following error messages.

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.4 LTS
Release:	16.04
Codename:	xenial

/app/sdk/2.1.105/Roslyn/Microsoft.CSharp.Core.targets(84,5): error MSB3883: Unexpected exception: [/app/myapp/m

[2018-07-14 00:04] nguerrera opened #28532 "After `dotnet run` I get "The system cannot open the device or file specified""
_From @Petermarcu on July 12, 2018 22:3_

@sshaginyan commented on [Sat May 05 2018](https://github.com/dotnet/core/issues/1499)

Hello,

I'm running Ubuntu 16.04.4. `dotnet new console` runs fine but, when running dotnet run I get his following error messages.

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.4 LTS
Release:	16.04
Codename:	xenial

/app/sdk/2.1.105/Ro

[2018-07-14 00:04] nguerrera commented on #28532
Moving to roslyn since the stack is in Microsoft.CodeAnalysis.CommandLine.BuildServerConnection

[2018-07-14 00:34] nguerrera opened #28533 "High CPU usage in VBCSCompiler.dll and spawns lot of threads when running dotnet run"
_From @Petermarcu on July 10, 2018 20:46_

@sfkshan commented on [Sun May 13 2018](https://github.com/dotnet/core/issues/1553)

I have a simple console project and whenever I run the dotnet run I can see lot of dotnet process spawns and taking more cpu even after the command got excited in the terminal where I executed.

<img width="1440" alt="screen shot 2018-05-14 at 10 21 39 am" src="https://us

[2018-07-14 00:34] nguerrera commented on #28533
Moving to roslyn since these are all high CPU usage in VBCSCompiler.dll.

[2018-07-14 00:35] nguerrera commented on #28533
Duplicate of #24137

[2018-07-14 00:35] #28533 closed

[2018-07-14 03:10] ericmutta opened #28534 "VB: Autocomplete produces incorrect closing tag for XML literals with computed names."
**Version Used**:

Visual Studio Community 2017 v15.5.6

**Steps to Reproduce**:

Suppose you want to type the XML literal `<foo></foo>`. So you type the opening tag name until `<foo`:

![vs_xml_autocomplete_1](https://user-images.githubusercontent.com/20465797/42720200-858e3920-872b-11e8-8280-73fcc1665f42.png)

When you type the closing `>` the editor handily autocompletes the closing tag `</foo>

[2018-07-14 04:19] ericmutta opened #28535 "VB: Autocomplete does not work for XML elements nested immediately inside elements with computed names."
**Version Used**:

Visual Studio Community 2017 v15.5.6

**Steps to Reproduce**:

This may be related to #28534 (I noticed it shortly after filing that issue). Type the following code into a VB project:

[code]

As mentioned by the text in the XML literals above, when an outer XML literal has a literal name like `<bar>`, any nested elements in it WILL have autocompletion for their closing tags, as

[2018-07-14 09:13] JohannesMP opened #28536 "Option to prevent code format from removing extra inline spaces"
## Overview

(Visual Studio 2017 15.7.3)

The automatic code formatting portion of Visual C# projects in Visual Studio can be very useful. It allows you to maintain a consistent code style across your project. However there is one case where I feel an option for it to be less aggressive would solve a lot of formatting woes.

Specifically, if there are more in-line whitespaces than an auto-formatti

[2018-07-14 10:58] jhinder commented on #28532
This is a duplicate of #28529.

[2018-07-14 11:08] jhinder commented on #28526
I cannot access the repro gif after logging in with my Microsoft/live.com account. The error site says something about the user not being found in the directory (or something similar, I get a translated site).

[2018-07-14 12:15] nguerrera commented on #28532
Closing as duplicate

[2018-07-14 12:15] #28532 closed

[2018-07-14 17:31] sharwell commented on #28536
I'm going to tentatively mark this as **Won't Fix**, but will bring up the topic in a design meeting with the team and will update (or close) the issue as appropriate from the conclusion in that meeting. My reasons for this are the following:

1. This is a relatively infrequently used code style
2. It is relatively easy to write an analyzer which validates the desired code style during the build
3

[2018-07-14 18:39] 333fred commented on #28524
@cston is there a scenario where nullability analysis will change the nested nullability from the initially-inferred nullability? In that example, initial correct type of `b` is `string[]`, and I don't believe there's a situation where we'll infer it to `string?[]`, correct? Similarly for `a`, is there ever a situation where we will infer that it's become `string[]`?

[2018-07-14 19:49] jcouv commented on #28524
There are such scenarios:
[code]

The reverse scenario would be more common (doesn't involve suppression operator):
[code]

[2018-07-14 20:34] CyrusNajmabadi commented on #28524
I don't think this is an issue with ToDisplayParts.  I think this is an issue with the current symbolic API.  Right now symbols are very location independent.  so if i have:

[code]

then in both those cases we say that is the 's' local.  And that the 's' local has type 'T'.  However... this is somewhat strange.  Because our API is effectively lying.  Why it is true to say that we have the 's' loc

[2018-07-14 20:39] CyrusNajmabadi commented on #28524
I'm skeptical this is actually a problem.  It seems like it's actually what i want.  If i'm hovering, i'm asking: what does this mean right here.  And the language is telling me.  If that can change, when i'm lower in the code, that's *fine*.

For exapmle, say i have this code:

![image](https://user-images.githubusercontent.com/4564579/42728237-197e32ea-876b-11e8-92ee-f79421bacc12.png)

If i hove

[2018-07-14 20:41] CyrusNajmabadi commented on #28524
I am *highly* skeptical there is a responsiveness concern.  I would like to see data showing what the problem actually is.

Note: that the current design of the compiler is that is already effectively has to bind full lambdas if semantic info is asked inside them. And we're able to do that, even in complex large cases, while meeting the demands of Completion (which has much stricter perf goals vs

[2018-07-14 20:45] CyrusNajmabadi commented on #28524
I'd vote to start with '2'.

[2018-07-14 21:01] JohannesMP commented on #28536
Hi sharwell, thanks for the quick reply! I definitely look forward to further developments on the code cleanup feature.

While the specific code style I described is infrequent, the desire to have code align a certain way is pretty common and there are of course [many](https://blog.jetbrains.com/dotnet/2017/11/28/aligning-code-columns-resharper-rider/) [solutions](https://marketplace.visualstudio.

[2018-07-14 23:30] sharwell commented on #28536
@JohannesMP I agree with your statements in general. The place where this gets challenging is here:

While true, there are a very large number of edge cases where different people have different opinions about the exact number of spaces that apply. In the end, the following approach seems to work well (at least for now):

* Provide a solution out-of-the-box that works well for *most* users which i

[2018-07-14 23:42] 333fred commented on #28524
@jcouv that's not what I'm talking about. I'm not talking about when flow analysis changes "correct" type of a variable. In your examples, the correct type of `array` will always be `string[]`, from declaration onwards. What I mean is when flow analysis changes the inferred nullability _after_ declaration. Is there any scenario where the same variable can be declared as a `string?[]` and then late

[2018-07-15 01:06] CyrusNajmabadi commented on #28524
Here is how typescript handles it:

![image](https://user-images.githubusercontent.com/4564579/42729556-85b848b8-8790-11e8-9bf3-d088f751ca74.png)

![image](https://user-images.githubusercontent.com/4564579/42729558-8ff1ee9c-8790-11e8-8461-d3e32ba77eeb.png)

![image](https://user-images.githubusercontent.com/4564579/42729563-9b37e45a-8790-11e8-8b57-ea0b2ab82d7f.png)

You just hover, and TS tells yo

[2018-07-15 01:23] vsfeedback opened #28550 "Quick actions list has a suggestion before a fix - breaks hotkey flow"
Depending on where in a line the cursor is, the quick actions suggestions can contain a &quot;suggestion&quot; at the top of the list, when what I really want is the error on the same line to be at the top of the list.

This breaks a workflow of the keyboard shortcut, followed by enter to &quot;fix&quot; the resolution problem.
In my case, the suggestion is IDE0024, and the error is CS0103 (I'm mi

[2018-07-15 01:47] CyrusNajmabadi commented on #28550
Tagging @sharwell .  This is an issue where there is a large hidden-diagnostic for "use expression body".  As this is effectively a 'refactoring', it would go in the bucket that it should be prioritized after real suggestions with real adornments (ellipses/squiggles) in the editor.

I think you're tracking these right?

[2018-07-15 02:11] CyrusNajmabadi commented on #28524
Understood.  And thanks for writing that all up.  Was just trying to give my perspective on things, and to hopefully help avoid work that might be unnecessary :)

[2018-07-15 03:40] jcouv commented on #28524
@333fred That can't happen, indeed.

[2018-07-15 03:40] cston commented on #28524
@333fred, flow analysis is used to infer both the top-level nullability and nested nullability of locals at the point of declaration. After that point, flow analysis tracks top-level nullability only, so top-level nullability may change but nested nullability will not.

[2018-07-15 04:00] 333fred commented on #28524
That's what I assumed. It matters for the display in option 1 or 3, as if nested nullability could change that would complicated the display.

[2018-07-15 08:24] vsfeedback opened #28551 "Structure guidelines is wierd C#"
The structure guidelines is wierd in C#

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/45549/structure-guidelines-is-wierd-c.html
VSTS ticketId: 422050_
_These are the original issue comments:_

![image](https://user-images.githubusercontent.com/12449387/42732023-f4e9bb4e-87cd-11e8-9edf-e596143062c1.png)

[File example](https://developercommunity.visua

[2018-07-15 08:42] vsfeedback opened #28552 "C# Quick Actions doesn't work with Extension Methods with out parameters"
<p>C# Quick Actions &quot;Generate method stub for '...' in '...'&quot; doesn't work if the following conditions are satisfied:</p><p>The method that doesn't exist</p><ol>
<li>is in an extension method</li><li>has the same name as the extension method</li><li>has an out parameter</li></ol><p>In Visual Studio 2013, it works fine even if these conditions are satisfied. In Visual Studio 2017, it does

[2018-07-15 10:37] jhinder commented on #26672
I get this exception in my local build (current `master`, revision c4189de0), but not in 15.8 Preview 4, which is curious.

Repro:

1. Open `EditorServicesTest2.vbproj` (from the Roslyn repo).
2. Go to `IntelliSense/CSharpCompletionCommandHandlerTests.vb`, then to `TestMatchWithTurkishIWorkaround1()` (line 2698).
3. Hover over the `GetType` in line 2708.

The NRE happens because `quickInfoDisplay.

[2018-07-15 12:18] sharwell opened #28553 "Brace formatting does not work with "Open Folder""
**Version Used**: 15.8 Preview 4

:link: Originally reported on developer community:
[brace completion with auto formatting, indentation broken in c#](https://developercommunity.visualstudio.com/content/problem/35614/brace-completion-with-auto-formatting-indentation.html)

**Steps to Reproduce**:

:memo: In each of the code examples, `|` represents the caret location.

1. Use the **Open Folder** f

[2018-07-15 15:31] Hoschi1982 commented on #13650
Hey there,

do you plan to make it possible to set the OptimizationLevel for the ScriptOptions?
Actually I can only build the script with the default OptimizationLevel=Debug.

It would be great if you can give me a hint.

Thanks a lot

[2018-07-15 16:39] ravtakhar commented on #27523
Updating the .net compiler to the latest version (2.8.3) resolved the issue for me. I guess it was patched somewhere along the way.

[2018-07-15 17:47] CyrusNajmabadi commented on #28526
Introduce-local should probably not accept trees with syntax-errors *if* there is no selection on the part of the user.

[2018-07-15 19:00] Neme12 commented on #28526
I guess I don't really see what the issue is here. Yes, the resulting code has an error but so does the original. There's no new error introduced.

[2018-07-15 19:05] gafter commented on #27523
@epoyraz Can you please try updating to 2.8.3 and see if that resolves the issue for you?

[2018-07-15 19:08] gafter opened #28557 "VB IDE support for using latest Compiler Version"
@paul1956 commented on [Fri Jun 01 2018](https://github.com/dotnet/vblang/issues/308)

I am trying to use Features of VB 15.5 (named parameters with param arrays) and keep getting messages about using latest compiler but there is no way I found in Visual Studio to specify compiler version or to use latest. For C# there is a CodeFix and IDE option plus the ability to Use Latest (major or minor vers

[2018-07-15 19:15] CyrusNajmabadi commented on #28526
My primary concern is that the feature is offered in the first place.  if i have ```1 + $$```, then bringing up 'introduce local' isn't really even a valid thing to do in the first place.

The intent of introduce local started as "user should be able to select some sub-expr and make an expression".  it expanded out to also include "and if they're on a basic term, allow making a local for that as w

[2018-07-15 19:29] gafter opened #28558 "VB compiler does not diagnose unsafe use of ref structs"
From https://github.com/dotnet/vblang/issues/297#issuecomment-396021567

From https://github.com/dotnet/vblang/issues/297#issuecomment-396047921

From https://github.com/dotnet/vblang/issues/297#issuecomment-396057922

[2018-07-15 19:52] shaggygi commented on #21604
This still appears to be working for me in 15.7.5, so I'm closing.

@m93a The "Initialize Interactive with Project" is being tracked here #26934.

[2018-07-15 19:52] #21604 closed

[2018-07-15 22:02] jcouv commented on #28557
Relates to https://github.com/dotnet/roslyn/issues/17495

[2018-07-15 23:38] agocke opened #28559 "`csc /shared` gives no indication if the compiler server couldn't be used successfully"
This is a well-know problem in the build task, where sometimes the machine has transient I/O failures that prevent the compiler server from being used. For `csc /shared` this problem may be worse because this is not the default behavior and it was specifically opted-in to by the user.

It seems reasonable to provide a warning here if the server failed. If the user is running into the warning regul

[2018-07-16 04:36] ericmutta opened #28572 "VB: Strange "unresolvable conflicts" error when renaming field of anonymous type."
**Version Used**:

Visual Studio Community 2017 v15.5.6

**Steps to Reproduce**:

Type the following code:

[code]

The LINQ query assigned to the variable `qry` uses an anonymous type with two fields `StringVal` and `StringLength`. Right click on `StringVal` and choose Rename, so you can rename it to say `StringValue`:

![vs_rename_anon1](https://user-images.githubusercontent.com/20465797/4274305

[2018-07-16 07:24] MaStr11 opened #28573 "InternalsVisibleToCompletionProvider raises an NRE if a F# assembly is selected"
**Version Used**:
15.7.5
**Steps to Reproduce**:

1. Create VS solution with a C# and F# project
2. Enter `[assembly:InternalsVisibleTo("` in the C# project
3. Select the F# project from the list

**Expected Behavior**:

F# assembly name is inserted (and the public key is inserted if needed).

**Actual Behavior**:

VS displays a message box ("An exception occurred probably caused by an extension."

[2018-07-16 11:56] #28410 closed

[2018-07-16 15:45] sharwell opened #28581 "Code Style Options set via Tools → Options do not automatically refresh"
**Version Used**: 15.8 Preview 4

**Steps to Reproduce**:

1. Set a code style option in Tools &rarr; Options &rarr; Text Editor &rarr; C# &rarr; Code Style
2. Open a document which contains a diagnostic for the item configured in (1)
3. Update the code style option to change the preference and/or severity

**Expected Behavior**:

The diagnostics update in the open file to reflect the new preferen

[2018-07-16 16:07] vsfeedback opened #28582 "Analyzers have a different result for build and intellisense"
After adding static code analyzers:

[code]

The project does not compile, but Intellisense shows no errors.

If I create a ruleset that uses the same rules that cause the compilation to fail, then intellisense shows red squiggles (as would be expected for a failing build)

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/249067/analyzers-have-a-different

[2018-07-16 18:25] allisonchou opened #28584 "Localize strings used in new Tools->Options .editorconfig generation feature"
I submitted a PR [here](https://github.com/dotnet/roslyn/pull/28472) to generate an .editorconfig file from Tools->Options settings. There are some hard-coded strings that may need to be localized.

[2018-07-16 19:59] Therzok commented on #27489
Can we slot this for 15.9?

[2018-07-16 19:59] Therzok commented on #27489
cc @KirillOsenkov

[2018-07-16 21:18] KirillOsenkov commented on #27489
@jinujoseph I've added this to the other 2 blocking issues on the VSMac project: https://github.com/dotnet/roslyn/projects/32

[2018-07-16 21:48] DustinCampbell commented on #28414
I was able to load the references from the project successfully after running `dotnet restore` on the project at the command line:

![image](https://user-images.githubusercontent.com/116161/42785420-44af4056-8907-11e8-999b-f0f08c85b9d4.png)

[2018-07-16 22:14] jasonmalinowski commented on #28409
@dpoeschl Have we seen this again? If not, tempted to just close as this doesn't seem to be terribly actionable.

[2018-07-16 22:59] #26028 closed

[2018-07-16 23:28] jnm2 opened #28586 "Intellisense replaces lambda parameter names as you type"
Start with this code (VS 15.7.5, but I think this has happened for a long time):

[code]

Then, type `foo.Bar(a` and notice that intellisense is getting ready to do a replacement:

<img src="https://user-images.githubusercontent.com/8040367/42788243-7083c196-892c-11e8-9109-1677522950cc.png" width="457" />

And when I type a space before the `=>`, it replaces:

<img src="https://user-images.githubu

[2018-07-16 23:29] #28012 closed

[2018-07-16 23:32] agocke opened #28588 "Test plan for `using var`"
### Definite assignment

Using variables must be definitely assigned before they are used or their lifetime ends. Cases:

* [ ] Jump forward:
[code]

[2018-07-16 23:53] davkean commented on #28012
Why was this closed? Can't seen any linked PR to fix this.

[2018-07-16 23:57] jasonmalinowski commented on #28474
Indeed, that path does look bad. My attempts to reproduce this internally are currently being thrwarted by a worse bug that means creating a C# project prevents F# projects from being loaded.

[2018-07-16 23:59] heejaechang commented on #28012
https://github.com/dotnet/roslyn/issues/28012#issuecomment-401182992

the link is high up there.

...

is your issue still repro?

[2018-07-16 23:59] heejaechang commented on #28012
@jinujoseph looks like @CyrusNajmabadi put another issue in this issue. should we open new issue for it or keep this issue open?

[2018-07-17 00:12] JieCarolHu commented on #23891
@dpoeschl  Could you re-review this pls? Thanks
It was part of this PR: https://github.com/dotnet/roslyn/pull/26119

[2018-07-17 00:17] #23890 closed

[2018-07-17 06:40] MarkusAmshove commented on #28232
[MPS](https://www.jetbrains.com/mps/) is using this and call it a [projection editor](https://www.jetbrains.com/mps/concepts/index.html#projection-editor).

I do like it in a way where the code doesn't matter that much, e.g. I can see the point in specific DSLs where the user doesn't use any version control (or doesn't care).

However, as a developer I don't want to diff XML files as my source fil

[2018-07-17 06:49] mikhail-barg opened #28600 "A collection of issues that appeared when trying to use Roslyn in NetFramework project"
First of all, sorry for a non-descriptive issue title. I'm not sure how to phrase it better, for this is really a collection of issues that I faced while attempting to switch from CodeDOM to Roslyn. Some of them are not related to Roslyn project probably, so if you would be so kind to point me which ones worth reporting as separate tickets, please do so.

So the general thing is that I'm trying to

[2018-07-17 06:57] jinujoseph commented on #28012
@heejaechang  can you file a new issue to track

[2018-07-17 07:00] jinujoseph commented on #28012
Two changes which was merged wrt to this [link](https://github.com/dotnet/roslyn/pull/28196) & [link](https://github.com/dotnet/roslyn/pull/28280)

[2018-07-17 07:19] jmarolf commented on #28600
I would split this into several issues so they can be prioritized and fixed separately.

1. Roslyn assemblies can only be installed via nuget even if they are present on the machine (that feels like a roslyn problem so file a new issue **[here](https://github.com/dotnet/roslyn/issues/new)**)
2. Lots of .NET Standard 1.3 framework assemblies are added if you reference roslyn nuget packages (this al

[2018-07-17 08:59] thexdd commented on #12306
It's been a year already.. pls implement this feature :(

[2018-07-17 12:17] vsfeedback opened #28602 "Hovering the cursor over 'var' when debugging"
In a C# application, it is not always obvious understanding the type represented from the 'var' declarator.
For example:
var result = OneMethod(...);

At development time, hovering the mouse over 'var' works and you can see the effective type that will be assigned to the variable.

When debugging, hovering over 'var' does not produce any result, hence you can't know what is the type of the variabl

[2018-07-17 12:51] Neme12 commented on #28602
I agree. It can be annoying that IDE features are not available during debug and especially edit-and-continue development.

[2018-07-17 12:57] Neme12 commented on #28602
There are challenges of course. What if there's a debug tooltip at the same location? Do we hide the IDE one and only make it available under a keybord shortcut? (probably not discoverable - such a feature may already exist and I wouldn't know about it). Do we somehow show both? (I can see how this would be intrusive during debugging)

![image](https://user-images.githubusercontent.com/11444821/42

[2018-07-17 13:01] sharwell commented on #28602
@Neme12 This issue related to the `var` token, not to the `x` token in your example, so there shouldn't be a conflict.

[2018-07-17 13:04] Neme12 commented on #28602
So the path forward will be to choose a closed set of contexts/tokens where quick info will be enabled?

[2018-07-17 14:46] petersmax commented on #25626
Hi Mike, can you comment if you are still on 2.4?

[2018-07-17 14:58] sharwell commented on #28232
I've heard about this idea in various forms for a long time now, and conceptually I still think it's an interesting research area. However, over time I've realized that developers quickly learn to *read* source code in many different styles, and generally are not at a disadvantage as long as the body of code is consistent with itself. The painful part occurs when developers need to put effort into

[2018-07-17 14:58] #28232 closed

[2018-07-17 15:08] MikeNet commented on #25626
I'm running vs 2017 without issues.  Thanks

On Tue, Jul 17, 2018, 9:47 AM M Peters <notifications@github.com> wrote:

[2018-07-17 15:13] jnm2 opened #28603 "Intellisense should suggest static members of target type"
(Visual Studio 15.7.5)

Intellisense should suggest static members of the target type which return an instance of the target type.

After typing `Foo(e`, wanting to pass an empty immutable array:

![image](https://user-images.githubusercontent.com/8040367/42826164-c48ff752-89b1-11e8-847a-2628f28c573c.png)

After typing `Foo(e` (ReSharper):

![image](https://user-images.githubusercontent.com/804036

[2018-07-17 15:19] sharwell commented on #28603
The easiest initial generalization would be an expansion of the current support for enum values: include target-typed static fields and properties of the target type in completion.

[2018-07-17 15:36] jaredpar commented on #28559
I'm reluctant to include a warning by default as failure is expected here. Our own test infrastructure has demonstrated that failure is the norm here with named pipes, not the exception. That is why our infrastructure checks to see if the number of server failures in CI is below a threshold, not greater than zero.

I think an informational diagnostic is probably the most severe thing we should do

[2018-07-17 15:38] joncham commented on #28559
I'd be happy with more diagnostics. Currently it seems impossible to diagnose if shared mode is being used and why it may have failed.

[2018-07-17 16:21] gafter commented on #28232
Whatever format this source code is in, it would itself be a brand new language different from our existing languages.

[2018-07-17 16:21] jinujoseph commented on #28521
to be duped

[2018-07-17 16:22] sharwell commented on #28521
Duplicate of #25989

[2018-07-17 16:22] #28521 closed

[2018-07-17 16:25] sharwell commented on #28511
:bulb: Someone should add the **expected** and **actual** behaviors for this bug so it's clear from reading the bughow the code is breaking.

[2018-07-17 16:31] #1013 closed

[2018-07-17 16:32] #1445 closed

[2018-07-17 16:33] sharwell commented on #28553
I've seen a handful of formatting bugs related to using Open Folder. We should review these as a group.

[2018-07-17 16:36] WillFM commented on #1013
Hey, @jaredpar, do you mind indicating why this was closed? was the feature implemented/discarded/etc?

Thanks!

[2018-07-17 16:39] jaredpar commented on #1013
I'm in the process of going through our issue backlog and closing out stale issues. This has been largely inactive for 3+ years now and there doesn't seem to be a clear plan for it moving forward.

[2018-07-17 16:45] WillFM commented on #1013
Thanks for clearing that up. But it's understandable, as currently there's not enough demand to move forward with such a feature. bit of a bummer though, still a feature I'd like to see implemented.

[2018-07-17 16:56] sharwell commented on #1013
🔗 See also dotnet/csharplang#308

[2018-07-17 16:58] sharwell commented on #1884
@jaredpar I hit the items described in this issue fairly frequently. Reopening to track as an IDE bug.

[2018-07-17 17:00] jaredpar commented on #1884
@sharwell please confirm with your lead before reactivating. We've been given pretty explicit instructions on how to handle stale issues.

[2018-07-17 17:19] CyrusNajmabadi commented on #12306
@thexdd Would you be interested in contributing here?  I can give you some pointers on how you could start!

[2018-07-17 17:33] sharwell commented on #12306
I'm adding this and #12305 to an upcoming design review to determine if this is a feature we want to start maintaining in the core formatting code.

[2018-07-17 18:03] smitpatel commented on #27381
@jmarolf and others, I investigated into this from EF Core side.
This is the query being run
`var query = dc.Items.GroupBy(x => x.TypeId).Select(y => new { y.Key, Count = y.Count() });`

When it is run from actual code, we get full expression tree. (IQuerable of anonymous type at the end).
When the same piece of code is run from dynamic code, the expression tree is missing. The `GroupBy` being use

[2018-07-17 18:17] thexdd commented on #12306
@CyrusNajmabadi I would love to participate in that, actually.

@sharwell Sounds great. Looking forward to hearing more information regarding this issue!

[2018-07-17 18:32] tmat commented on #28600
The final issue with tests not having binding redirects generated is https://github.com/Microsoft/msbuild/issues/1310.

Workaround is to include this target in your project:
https://github.com/dotnet/roslyn-tools/blob/master/src/RepoToolset/tools/Workarounds.targets#L9-L18

[2018-07-17 18:53] svick commented on #27381
I think this happens because you're compiling without referencing [the `Queryable` class](https://docs.microsoft.com/en-us/dotnet/api/system.linq.queryable?view=netcore-2.1), which is necessary if you don't want to use LINQ to objects.

You can see that when running the following code on .Net Core 2.1. It's based on the code you posted above.

[code]

[2018-07-17 19:08] oatkins commented on #28509
Is this the same issue. With 15.8 preview 4 I get this:

![image](https://user-images.githubusercontent.com/10925800/42839882-1705c4a0-89d3-11e8-8372-fd13f50ccf99.png)

Here, IDE0009 is requesting that `this.` be added *even though it's already there!*

[2018-07-17 19:23] gafter commented on #6603
Fixed in #26846 and #26948

[2018-07-17 19:23] #6603 closed

[2018-07-17 19:26] Neme12 commented on #28584
I am a little bit worried about localizing comments inside `editorconfig` itself. `editorconfig` is almost always intended for teams as opposed to individual developers and it doesn't seem desirable to localize comments in that file based on any particular user's language preference.

For example let's say that my language was other than English but I'm creating an editorconfig for an open-source

[2018-07-17 19:31] heejaechang opened #28621 "Roslyn serialize and deserialize trees while code cleanup consuming a lot of CPU"
more detail here
https://github.com/dotnet/roslyn/issues/28012#issuecomment-402867427

if we can do something to get rid of serializing and deserializing of a tree while code clean up, we should do that.

[2018-07-17 19:34] heejaechang commented on #28621
we might need to add something like Solution.DisablePersistingTree so that tree never get serialized/deserialized to disk.

[2018-07-17 19:38] ericstj commented on #18093
Have you tried doing:
[code]

[2018-07-17 19:47] smitpatel commented on #27381
I verified that fix suggested by @svick works.
Adding MetadataReference to Queryable assembly produces same SQL for all cases in EF Core.

[2018-07-17 20:17] ljw1004 commented on #1884
I personally feel strongly about this one :)

[2018-07-17 21:14] gafter commented on #24518
A new API added in https://github.com/dotnet/roslyn/pull/27312 may be useful to replace some or all uses of the IDE accessibility API.

[2018-07-17 21:16] gafter commented on #23842
A new API added in #27312 may be useful to replace some or all uses of the IDE accessibility API.

Please reopen if you find that this API cannot address your use cases (e.g. you don't have a compilation)

[2018-07-17 21:16] #23842 closed

[2018-07-17 21:17] #27523 closed

[2018-07-17 21:55] CyrusNajmabadi commented on #28584
Falling back to english is equally non-desirable.  If you are a team in japan, entirely populated with japanese team members, why are we emitting english?

This is true of effectively all localization tasks.  We have to gets signals from somewhere, and it's somewhat reasonable to use the locale of the current user as such a signal.  I don't think we need to go to the level of trying to provide sup

[2018-07-17 22:01] jinujoseph commented on #27086
closed via #28469

[2018-07-17 22:01] #27086 closed

[2018-07-18 05:01] sharwell commented on #28357
If it's one of the tests skipped in the commit linked above and the test system is running a 15.8 preview, it almost certainly is.

[2018-07-18 05:03] sharwell commented on #28621
Deserialization only occurs if the tree is not available in memory, and the tree is only not available in memory if the WeakReference was collected by a compacting GC. Disabling persistence in this case has a high likelihood of resulting in OOM crashes.

[2018-07-18 05:04] sharwell commented on #28621
The one real option here is running Code Cleanup exclusively out of process, where we have 64-bit address space available.

[2018-07-18 05:46] alpergunay commented on #27381
Thank you very much to everyone! Adding IQueryable fixed the problem!

[2018-07-18 06:39] CyrusNajmabadi commented on #28621
I would very much like to see this done.  It's always been a bit unclear to me why we're doing anything diagnostic/fix related in-proc *except* where it is mandated because we need access to some sort of VS-only service.

On top of the benefits mentioned here, there's also the very real and significant benefit to VS by greatly reducing GC pressure, manifesting in much better editor latency and use

[2018-07-18 06:45] ghost opened #28630 "VS remove the empty line from the editor in VS 15.8 preview 4 (latest public)"
Create a C# class and (it's internal by default, without specifying the access modifier).

When I format my class it's adding the internal. Is it part of VS functionality or something else, I have Intellicode installed in my VS.

I write 2 static property and 2 non-static property in my class. I put an empty line between these 2 and 2 property.

VS remove the empty line in format when I don't defi

[2018-07-18 06:54] CyrusNajmabadi commented on #28630
@anirudhagupta I don't repro this myself.  Here's the code i tried to test with:

[code]

When i run format-document, i get:

[code]

The spacing seems to have been preserved.  Could you provide a more complete example that demonstrate the problem?  Thanks!

[2018-07-18 06:57] anirudhagupta commented on #28630
namespace abcd.Models
{
    internal class abcd
    {
        private static string API_KEY;
        private static string Endpoint;

        string _keyword;
        string abc;

    }
}

This is my code, I rename variable and it's producing same, I have tested it on the latest preview 158 preview 4.

[2018-07-18 07:05] CyrusNajmabadi commented on #28630
@anirudhagupta Thanks for the updated information.  I repo this now myself.  Looks to be related to fields, not properties.  A nice minimal repo is:

Start with teh following code:

[code]

Run Format-Document on it (with the 'add accessibility modifiers' code cleanup setting on).  It will produce:

[code]

Instead of the expected:

[code]

[2018-07-18 07:06] CyrusNajmabadi commented on #28630
In the meantime @anirudhagupta you can disable this behavior by going here:

![image](https://user-images.githubusercontent.com/4564579/42865399-65c83c8a-8a1e-11e8-8011-3523f862841a.png)

And unselecting:
![image](https://user-images.githubusercontent.com/4564579/42865421-7382cb24-8a1e-11e8-8dbb-aa906061a7c2.png)

[2018-07-18 07:11] anirudhagupta commented on #28630
Thanks, done.

[2018-07-18 07:34] Neme12 commented on #28630
@CyrusNajmabadi are you working on this?

[2018-07-18 07:42] Neme12 commented on #27923
@nprad Are you still interested in fixing this?

[2018-07-18 07:52] CyrusNajmabadi commented on #28630
Nope.  Go ahead if you want to :)

[2018-07-18 07:59] anirudhagupta commented on #28630
Nope, I just report bugs here, Let me know if I can help,  I can contribute in c#.

[2018-07-18 08:13] Neme12 commented on #28630
@anirudhagupta Of course you can contribute if you're interested! Do you know at least a little bit about Roslyn syntax trees and trivia?

[2018-07-18 08:19] anirudhagupta commented on #28630
@Neme12  please tell me where I can get started learning "Roslyn syntax trees and trivia". I never heard this term before.

[2018-07-18 10:13] jmarolf commented on #28630
@anirudhagupta here is where I would start in terms of learning the roslyn APIs.

- [syntax analysis](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/get-started/syntax-analysis)
- [syntax transformation](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/get-started/syntax-transformation)
- [semantic analysis](https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/get-started/

[2018-07-18 11:59] aplocher commented on #19257
It's unfortunate that this was reported over a year ago and nothing has been done to fix it.  My team and I are now running into this issue and I guess the only option is for me to inform each and every one of them that they need to check this checkbox in the settings and undoubtedly lose functionality in VS (like the ability to use certain third party visualizers, as I just discovered tonight)?

[2018-07-18 12:47] jnm2 commented on #23842
Thanks @gafter!

[2018-07-18 12:51] Neme12 commented on #28630
@anirudhagupta If you've never worked with Roslyn before, you can also find some introductory videos to writing analyzers and code fixes (which this feature is), for example here: https://www.youtube.com/watch?v=Iq43Bq0Hen8 If you prefer video, you might find these useful to get started and understand the basics. I also recommend trying to experiment and write your own analyzer or refactoring.

[2018-07-18 14:14] Neme12 commented on #28630
Well, it looks like this is not an easy fix and probably not a good first issue.

The code fix and the syntax generator seem to be working fine (although I would definitely expect it to be simpler). It seems there's the same elastic trivia in both cases (field & property). The difference must be caused by the formatter, my would guess would be that this is somewhere in http://source.roslyn.io/#Mic

[2018-07-18 14:50] tiesmaster opened #28631 ""Separate using directive groups" option not working in the new "C# Code Cleanup", in preview 4"
**Version Used**: 15.8.0 preview 4

**Steps to Reproduce**:

1. Create new full framework console app
2. In Tools > Options > Text Editor > Advanced, enable "Separate using directive groups" (delivered in #21087)
3. Enable the new and shiny "C# Code Cleanup" (introduced in the [previous preview](https://blogs.msdn.microsoft.com/visualstudio/2018/06/26/visual-studio-2017-version-15-8-preview-3/))
4

[2018-07-18 15:15] mikhail-barg commented on #28600
@tmat thanks for the solution!

https://github.com/dotnet/roslyn-tools/blob/master/src/RepoToolset/tools/Workarounds.targets#L9-L18

It really helped, though I had to also declare
[code]
before this target, for it checks this property inside.

[2018-07-18 16:07] gafter opened #28632 "Missing invocation of Nullable<T>.GetValueOrDefault when property pattern is used"
This generated code for the following correctly uses `System.Nullable<int>.GetValueOrDefault()` to get the `int` value out of an `int?` value that is known not to be `null`

[code]

However, the code generated for the following is missing that invocation

[code]

[2018-07-18 16:37] dpoeschl commented on #28436
Adding another one:
https://github.com/dotnet/roslyn/pull/28627 - https://ci.dot.net/job/dotnet_roslyn/job/dev15.9.x-vs-deps/job/windows_release_vs-integration_prtest/11/

[2018-07-18 16:38] dpoeschl commented on #28436
Some more:
https://github.com/dotnet/roslyn/pull/28626 - https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/2791/

[2018-07-18 16:48] gafter opened #28633 "Need to preserve val escape for recursive pattern-matching"
Recursive pattern matching does not compute the val escape for pattern variables in the recursive patterns branch.

[2018-07-18 16:56] gafter opened #28634 "Some switch changes in recursive patterns changes flow graph produced"
In the recursive patterns branch, some flow graphs produced for switch statements is different. The differences need to be investigated. The affected tests are marked with this bug ID.

[2018-07-18 16:57] gafter commented on #28634
The specific issue is that the graph-lowered form sometimes uses `==` operators instead of "is pattern" operators.

[2018-07-18 17:01] gafter commented on #28633
This was fixed in master for declaration patterns in https://github.com/dotnet/roslyn/issues/27218 but that solution does not simply generalize to recursive patterns.

[2018-07-18 17:36] vsfeedback opened #28638 "EditorConfig properties not taken into account when using a snippet"
🔗 [AB#524086](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/524086)
🔗 [AB#1232158](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1232158)
🔗 [AB#1446357](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1446357)

Hi,

my .editorconfig file has the property &quot;end_of_line&quot; set to

[2018-07-18 17:38] jaredpar opened #28639 "GC leak tests are failing on x64 runs"
A number of our tests to ensure we don't leak memory are failing on x64 runs:

[code]

These all pass on Jenkins today but fail in VSTS and locally on developer boxes. The suspicion is that the root cause is a change in the .NET Framework version being used to run the tests. It's unclear what version of .NET Jenkins is running but in all cases the failure is seen the version is 4.7.1+.

Disabling

[2018-07-18 17:51] abelkine opened #28640 "VS 2017 does not recognize comments placed between function definition and its body"
VS 2017

**Steps to Reproduce**:

[code]

[code]

**Expected Behavior**:

Comments should always be of the same color

**Actual Behavior**:

Comments placed between function definition and its body are not recognized.

[2018-07-18 17:51] jaredpar commented on #28639
We've confirmed the difference here is RyuJIT. This is not to say it's a bug in RyuJIT. It's saying that the pattern we use for leak detection doesn't work on RyuJIT here. Probably just a better pattern we should move to. Working with CLR team.

[2018-07-18 18:06] gafter commented on #28000
This is fixed in the pending C# 8 implementation. See [HERE](https://sharplab.io/#v2:EYLgZgpghgLgrgJwgZwLRIMaOQSwG4SoAOsMECAdsgD4ACADAAS0CMA3ALABQ3yMCcDDEYBlAPYBbCADUoAGzgQAKgE8iEbgG9ujXcwDMjMQQQIcAEwiNgYsXMYBRAI5x5yABQB5YACsIQo18ASkZtLj0I5gB2QJ9GHGRRSRl5RVV1RmRk2QVlNSsAMgLHFzd3LKkctPygznC9AF8dPVpDGzsS1zkPcUrUvIyYEIBeAD5GfkU6hqA===).

[2018-07-18 19:00] heejaechang commented on #28621
for this particular code clean up case, the solution is temporary, and it is not 1 solution having multiple documents changed which can potentially have a risk of OOM like rename, but multiple solutions, 1 document changed which won't increase the possibility of OOM since it go away as solution go away. for this particular case, persisting is actually waste of resource since new tree will be neede

[2018-07-18 19:04] heejaechang commented on #28621
or we can ignore and just leave it as it is. if persistence is still there, it doesn't matter where it runs, it will still do serialization/deserialization and allocations and GC can run.

same argument I had for navigate to, find all references, cost is there but I dont think it is big enough to block things.

[2018-07-18 19:33] CyrusNajmabadi commented on #28621
This cost is virtually non-existed for NavTo or FAR.  Both of those *only* stream over their results.  Which is basically tiny.  Even if thousands of results are returned, that's usually < 1mb, which is virtually instantaneous to send to/from OOP.  Again, this was actually measured and validated as part of the original OOP work.  So if transfer time is a problem now, then something has changed.

-

[2018-07-18 19:34] CyrusNajmabadi commented on #28621
To start with... why serialize trees for the active project?  That just seems strange.  Basically it means that almost any request to the compilation that needs to go look at data in the project will cause this perf hit...

[2018-07-18 19:42] svick opened #28653 "Confusing error when assigning result of ref readonly-returning method to a ref local"
**Version Used**: 2.8.2; master from 14 July 2018 (c4189de08b943f87d9f03d45ef01e615800e359d)

**Steps to Reproduce**:

[Try to assign the result of a `ref readonly`-returning method to a non-readonly `ref` local:](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDYB8ACAmAAgGEBYAKAG9yCaCcAWAgWQAoBKa2qs23ghOADMCaAHYwCADwIBefkIIAhCAnYBuTjQC+mgroHCBEACYB7URgCeI8UpXtZAPgIwAFglMB3AqICuGDA0yLSA===)

[code]

[2018-07-18 19:44] heejaechang commented on #28621
you can try yourself. get trace between in VS and in OOP and compare. running features cost is roughly same. OOP case has cost of sending data over between 30-100ms depends on how much data it needs to send over. most of cost is in json conversion, so we could improve it by moving to binary form, but that's based on if we really care on those cost.

I looked old and new A/B testing result. result

[2018-07-18 19:45] AArnott opened #28654 "VS 15.8 Format Document introduces compile error due to IDE0009"
**Version Used**: 15.8 Preview 5 27917.1.d15.8

**Steps to Reproduce**:

1. Have a class like this:
[code]
1. Like `this.`:
![image](https://user-images.githubusercontent.com/3548/42904013-731eaa9e-8a88-11e8-976f-02884d1b266f.png)

1. Configure Format Document to "Apply 'this.' qualification preferences"
![image](https://user-images.githubusercontent.com/3548/42903946-35a643ca-8a88-11e8-8b86-8bd01

[2018-07-18 19:53] heejaechang commented on #28621
I am saying this

since nobody. I mean nobody noticed (including complaining or talking about it) it while we silently test it by turning things on by default (99% on in A/B testing)

only people who looked matrix (such as trace or A/B scorecard or perf telemetry dashboard) can notice it.

as long as numbers are in interaction class, I believe most people will never notice such things.

[2018-07-18 19:56] CyrusNajmabadi commented on #28621
amount 30-100ms.

30-100ms is literally irrelevant when it comes to a feature like NavTo or FAR.  :D

 100ms is already 1/3rd the cost to blink your eyes.   30ms is 1/10th the speed to blink.  :D

I'm a little unclear who needs to eb convinced then :)   We already did the A/B test for OOP something like a year ago.  @kuhlenh has the original data i believe.  The results were in line with our expec

[2018-07-18 19:59] heejaechang commented on #28621
for navbar and FAR, you probably need to convince @kuhlenh  and @jinujoseph and @ManishJayaswal  since I believe they are the ones who decide whether we will make it on by default or not.

for OOP 64bit, probably divisional decision maker especially, perf team.

[2018-07-18 20:02] jinujoseph commented on #28621
It's in my todo list to be followed up for perf  regression/exception and is targetted for 16.0

[2018-07-18 20:02] OmarTawfik commented on #26457
@TessenR the scenarios you've mentioned appear to be fixed for `15.8`, except for this one:

[code]

It produces:
[code]
@jaredpar is this still for 15.8?

[2018-07-18 20:02] tpodolak commented on #4655
Any updates on this one?

[2018-07-18 20:09] gafter opened #28655 "[Nullable] == comparing against a non-null value should inform the null state"
See [HERE](https://sharplab.io/#v2:EYLgZgpghgLgrgJwgZwLQDk4BstWFiAJQkiQDsBjCAFQE8AHFAHwAEAGAAhYEYBuAWABQLAMxcATBwDCHAN5COirmJ4A2LgBYu3ABwAKAJQKl8wUvMcAghygcAvBzIQA7lcMCzFxQEswHPVAAdABC9g4AROFGnl6mXl5BwYHUAPYAyjAI3mQA5u4cAPQFHN4AtvQIKYwIHM5QCGTZOcZeAL4tFhBYyBAd5nHx5onJ6ZlN+UW19Y25/gDyANLRg+0xFn1KlgD8NpIOZNhYHoO+/lB7DpaBAJJkyDBQlBDL8QODiucjGVm5E8VlFSqEBqdQaTQ2ilWgy6PQhcjhQ3EXzGvwMvEKxVBMxy8yWcKhSlWq

[2018-07-18 20:31] sharwell commented on #28436
This is #26442, #26443, #26444

Something crashed, leaving tests in an unknown state where some failed. Considering this a duplicate of #28169.

[2018-07-18 20:32] sharwell commented on #28654
Duplicate of #26893

[2018-07-18 20:32] #28654 closed

[2018-07-18 20:35] drborts opened #28656 "Legacy C# and VB Expression Evaluators still needed to debug DIA SDK COM interop"
**Version Used**: Visual Studio 2017 15.5.3

**Steps to Reproduce**:

1. Setup a C# project to use the Microsoft DIA SDK (using tlbimp to get an interop DLL from the idl shipped with Visual Studio)
2. Debug that project
3. Try to inspect the value of any IDiaSymbol in the debugger

**Expected Behavior**: I can see the properties of the COM object and their values, as I can in VS 2013 and 2015

**A

[2018-07-18 20:42] nguerrera commented on #20400
Can we put this on the next sprint? We just spent a lot of time debugging the issue all over again. cc @tmeschter

[2018-07-18 20:59] nguerrera commented on #20400
cc @Pilchie

[2018-07-18 21:01] tmat commented on #20400
Should this rather be - kill the Roslyn localization stuff in VS repo?

[2018-07-18 21:03] nguerrera commented on #20400
Ideally, yes. But if we don't do that ASAP, then we should do this ASAP

[2018-07-18 21:04] jasonmalinowski commented on #20400
Note that this will still affect 15.8 servicing and 15.9, so we probably need to do both.

[2018-07-18 21:39] tmeschter commented on #20400
Correct; the loc work will happen in 16.0, so we still need to do this.

[2018-07-18 21:44] 333fred opened #28661 "Enable searching/filtering of member-selection dialogs (e.g. picking members to override)"
When attempting to add overrides for a class with a large number of methods (such as visitors), the default sorting according to declaration order in the base class is extremely unhelpful. We should add sorting mechanisms (at least alphabetical) so that users can actually find the method they're trying to override.

[2018-07-18 21:47] AArnott commented on #26893
This is more critical in 15.8 because Format Document applies this as part of bulk fixing everything.

[2018-07-18 22:46] ericmutta opened #28664 "VB: Parameters with same name in unrelated lambda functions are treated as if they were the same symbol."
**Version Used**:

Visual Studio Community 2017 v15.5.6

**Steps to Reproduce**:

Type in the following code:

[code]

There are two lambda functions above with a parameter called `input`. These functions are unrelated, even their bodies are different, but for some reason the editor seems to think the `input` parameter is the same symbol in all four locations where it appears, which confuses sever

[2018-07-18 23:35] davkean opened #28665 "IntroduceVariableCodeRefactoringProvider throws ArgumentOutOfRangeException when highlighting whitespace between attribute arguments"
1. Replace the $$$$ with whitespace, and highlight the same location with mouse

[code]

[code]

[2018-07-19 00:02] OmarTawfik commented on #26457
Also, found out this other crash from further testing:

[code]
[code]

[2018-07-19 00:10] dpoeschl commented on #28436
https://github.com/dotnet/roslyn/pull/28635 - https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/2796/
[code]

https://github.com/dotnet/roslyn/pull/28635 - https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/2814/
[code]

[2018-07-19 00:11] dpoeschl commented on #28436
https://github.com/dotnet/roslyn/pull/28636 - https://ci.dot.net/job/dotnet_roslyn/job/master-vs-deps/job/windows_debug_vs-integration_prtest/289/
[code]

https://github.com/dotnet/roslyn/pull/28636 - https://ci.dot.net/job/dotnet_roslyn/job/master-vs-deps/job/windows_release_vs-integration_prtest/287/
[code]

[2018-07-19 01:46] #28397 closed

[2018-07-19 02:33] nprad commented on #27923
I apologize for the delay on this. Yes, I'm still interested in contributing to this ticket. I'll try to have a PR by the end of the weekend if that okay with you.

[2018-07-19 02:48] CyrusNajmabadi commented on #28661
Hrmm... i'm not sure that's the case.  The intent was to preserve any sort of intentional order on the part of hte base class.

if we're going to do this, i would say that we still need to sort by symbol-kind first.  For example, it's likely i might want to override several grouped properties   ```DProp, EProp, FProp```.  However, if we now put .Equals in betwen that, that's not helpful.

[2018-07-19 02:49] CyrusNajmabadi commented on #26893
FormatDocument will not apply this as part of bulk fixing.  The default set of fixers will only be "remove/sort" usings i believe.

[2018-07-19 02:56] sharwell commented on #26893
@CyrusNajmabadi It doesn't apply it by default, but the option is available and if it gets turned on it will generate broken code for users.

[2018-07-19 03:06] CyrusNajmabadi commented on #28664
This is by designed, based on how the VB language works.  It's similar to how names are relevant in things like anonymous-types.  Here's an example of where this is important:

[code]

You might think the names of the parameters in those ```Sub(x As Integer) Return``` lambdas aren't relevant, but it turns out they are.  If, for example, you change the name of one of them to 'y' (and not hte other)

[2018-07-19 03:10] CyrusNajmabadi commented on #26893
@sharwell Of course.  I was only responding to the concern about what 15.8 does.  This will not be on by default, and is thus not "more critical" IMO.  It's about equally critical as it would be for anyone performing the fix-all (which seems more likely to hit given that's a direct user flow that doesn't involve changing options).

[2018-07-19 03:30] dpoeschl commented on #28436
https://github.com/dotnet/roslyn/pull/28682 - https://ci.dot.net/job/dotnet_roslyn/job/dev15.9.x/job/windows_debug_vs-integration_prtest/10/
[code]

[2018-07-19 03:31] AArnott commented on #26893
AFAIK 15.8 was the first release that hits this bug without explicitly trying to apply the IDE0009 code fix (which I rarely do since I type `this.` everywhere myself or apply it to just one line). But I *do* use Format Document *a ton*. Further, with today's intpreview update, Format Document popped up an InfoBar saying that Format Document wasn't configured yet, and drove me to Configure it, whic

[2018-07-19 03:35] cston opened #28684 "Annotations are ignored when comparing overridden method with [NonNullTypes(false)]"
No warnings are reported for `B.F` and `B.G` even though the annotations do not match the overridden methods in `A`.

See `Overriding_23`:

[code]

[2018-07-19 03:36] cston commented on #28684
cc @jcouv

[2018-07-19 03:40] davidwengier commented on #26893
I have a PR open for this fix (#27459). @CyrusNajmabadi you asked for a couple of more test cases in your review, which I added a little while ago. Is there something else I can do to help get this resolved for everyone?

Even if there are still a few edge cases missed by my change, it still might be a net win to merge it in time for 15.8, as I don't believe it introduces any _new_ problems.

[2018-07-19 03:47] CyrusNajmabadi commented on #26893
@davidwengier I'd def like to test attributes in basically all circumstances.  It honestly seems like a better fix would be to check if we were in an atttribute and not qualify then.

[2018-07-19 04:07] ericmutta commented on #28664
Many thanks for the clarification Cyrus, this is very interesting!

Is there some reference documentation anywhere I can read to get a full understanding of how anonymous (delegate) types behave? Sadly the VB language spec is a rather neglected document (**[last version](https://docs.microsoft.com/en-us/dotnet/visual-basic/reference/language-specification/index) was for VB 11 from SIX YEARS AGO**)

[2018-07-19 04:10] CyrusNajmabadi commented on #26893
I've proposed my fix here: https://github.com/dotnet/roslyn/pull/28685

It's slightly different in that is directly checks specifically if we're in an attribute, and never offers to qualify with ```this.```.  I think it's conceptually cleaner and more clear as to what it's doing.

[2018-07-19 04:14] CyrusNajmabadi commented on #28664
@ericmutta Good question.  It may be fruitful to look at: https://github.com/dotnet/vblang/blob/master/spec/expressions.md

But i can't guarantee this will be spelled out in there!

[2018-07-19 04:32] CyrusNajmabadi commented on #28621
@jinujoseph Yaay.  Let me know if you need anything from me.

[2018-07-19 06:59] MarkusAmshove commented on #28602
I would propose to also use CodeLens to show infered types at *debug* time.

In IntelliJ with Kotlin you can enable `Type hints` which show the infered type:

![grafik](https://user-images.githubusercontent.com/2401875/42926473-cbcc1902-8b31-11e8-9c7b-cd0ae39de591.png)

[2018-07-19 07:14] MSeifert04 opened #28704 "CS0219 Code-fix results in invalid code if the "unused value" is assigned to in the return"
**Version Used**:

Visual Studio 2017 15.7.5 but also Visual Studio 2017 15.8.0 Preview 4.0

**Steps to Reproduce**:

If I have a local variable that is initialized and also assigned to in the `return` statement that boils down to something like this:

[code]

That gives me the following warning:

When I apply the fix "Remove unused variable (CS0219)" that results in code that doesn't compile.

**

[2018-07-19 07:40] MSeifert04 commented on #28704
@CyrusNajmabadi Thanks for the links. It looks like another analyzer (Roslynator) is interfering. After disabling Roslynator it works correctly on 15.8preview4.

[2018-07-19 07:40] #28704 closed

[2018-07-19 08:17] Drawaes commented on #17310
Any news on this? I think @grabyourpitchforks had some ideas around this as well

[2018-07-19 08:37] JohanLarsson commented on #17812
I started getting this yesterday on one machine.
Using [this minimal repro](https://github.com/JohanLarsson/SignRepro) I get failure every time when I rebuild.

If I delete the bin & obj folder the first build fails and the next is successful.

[2018-07-19 09:09] akarpov89 commented on #28363
/cc @VSadov

[2018-07-19 09:23] reduckted commented on #28398
I posted this over in the vblang issue (https://github.com/dotnet/vblang/issues/325), but I'll post it here as well.

C# produces an error if you initialize a field to itself. If you do the initialization in the constructor, then you get a warning (unless I've made a mistake somewhere).

[code]
[code]

[2018-07-19 12:01] sharwell commented on #26893
We also have #28091 and #28509 that would impact usability of Format Document.

[2018-07-19 12:02] sharwell commented on #26893
Duplicate of #23803

[2018-07-19 12:02] #26893 closed

[2018-07-19 16:10] renezweifel commented on #28419
@jcouv Any updates on that issue?

[2018-07-19 18:00] #28476 closed

[2018-07-19 18:01] jasonmalinowski commented on #17812
@jaredpar or @agocke want to take a look at @JohanLarsson's bug? Marking this as a compiler bug now since it seems to be not exclusive to us.

[2018-07-19 18:03] agocke opened #28707 "Using-var rewriter can be folded into LocalRewriter"
I originally proposed a new rewriter pass for the `using var` feature, but I think it's simple enough that it could be put into the VisitBlock in the LocalRewriter. There are only two things I think we need to watch out for:

1. We currently generate a `using` block from `using var` and expect it to be rewritten by a later rewriter. If we keep this structure we need to make sure that the `using` s

[2018-07-19 18:12] 333fred commented on #28661
I can certainly see the use case in some scenarios. Often what I find, though, is that I know what I'm going to implement, and I just need to find those 3 or 4 methods.

[2018-07-19 18:25] agocke commented on #17812
I'll look. I've seen reports of this, but never a reliable repro.

[2018-07-19 18:26] agocke commented on #17812
Oh, this repro is for Win 7... I'll see if I can find a Win7 machine

[2018-07-19 18:59] jcouv commented on #28419
Not yet. It's going to be a subtle fix, as there is a mix of a few patterns of ownership transfer. May have to resort to reference counting. I'm waiting for a colleague to return from vacation (early Aug) to get some advice.

[2018-07-19 19:18] #28064 closed

[2018-07-19 19:45] dpoeschl commented on #28436
https://github.com/dotnet/roslyn/pull/28691 - https://ci.dot.net/job/dotnet_roslyn/job/dev15.8.x-vs-deps/job/windows_debug_vs-integration_prtest/39/
[code]

[2018-07-19 19:50] jinujoseph commented on #28018
related to https://github.com/dotnet/roslyn/pull/26306

[2018-07-19 19:54] JohanLarsson commented on #17812
It started happening on one Win 7 box the day after updating VS to latest. I updated another Win 7 box with same antivirus but don't have the same problem on that machine. Only seen it once in 50 builds on that machine. The machine that is now having problems has been my primary dev machine for a year and I can't remember seeing this bug once before this week.

[2018-07-19 20:21] jinujoseph commented on #25655
related to  https://github.com/dotnet/roslyn/issues/28474

[2018-07-19 20:36] agocke commented on #17812
Could you use something like ProcessExplorer (https://docs.microsoft.com/en-us/sysinternals/downloads/process-explorer) to see if anyone has an open handle to that file the next time you see this?

[2018-07-19 20:37] agocke commented on #17812
As of right now, the only place I can find us actually reading the key file is http://source.roslyn.io/#Microsoft.CodeAnalysis/StrongName/StrongNameProvider.cs,50, which is a simple `File.ReadAllBytes`. Moreover, this code is basically unchanged for years, as far as I can tell.

[2018-07-19 20:39] JohanLarsson commented on #17812
Already did, many times, nothing has been locking the file. Renaming the file works also.

[2018-07-19 20:44] agocke commented on #17812
Hmm. If you totally disable your antivirus, does the problem still reproduce? File.ReadAllBytes seems about as simple as it gets.

[2018-07-19 20:52] JohanLarsson commented on #17812
It is my work computer and it is a bit locked down not sure how to disable McAfee. The other win 7 box I tried on has the same antivirus and should be updated to the same version so not sure av is the issue. I'll add a console app that reads the sdk to the sln tomorrow. Maybe one that reads in a loop and see if it fails when I build. At home now so can't do it right now. Thanks for the ideas, woul

[2018-07-19 20:54] JohanLarsson commented on #17812
Also the repro is just the bare minimum for a signed project to build.

[2018-07-19 20:56] jaredpar commented on #17812
Ah anti-virus is in play? That is almost certainly the cause then. That is exactly the type of build errors we see when anti-virus programs are executing on the machine.

[2018-07-19 21:05] JohanLarsson commented on #17812
I have used this machine the last 6000 commits and don't remember seeing the issue before. Could be a weird coincidence that the antivirus was updated at the same time as I updated VS but unlikely as the other machine should have the same update if so. Also if it is an issue with antivirus it would be nice to find a way because at work I can't really opt out of av. I'll google if there is a way to

[2018-07-19 21:11] agocke commented on #17812
I'm betting it's actually just a race condition that VS updating somehow managed to make more common. It's possible the antivirus and the compiler were always racing and some unrelated change caused them to race faster/closer.

[2018-07-19 21:12] JohanLarsson commented on #17812
If I change the repro project to new csproj the issue goes away. That indicates that it may not be due to antivirus.

[2018-07-19 21:14] agocke commented on #17812
Ah, this may be MSBuild! Could you use Process Monitor to trace file system access to this file? I wonder if MSBuild also access this file.

[2018-07-19 21:15] JohanLarsson commented on #17812
About the race condition: yes it is likely. The machine that is having the issues is a powerhouse desktop. The other machines I have tried on are slower.

[2018-07-19 21:16] JohanLarsson commented on #17812
Do you have a link for how to trace access to the file?

[2018-07-19 21:19] agocke commented on #17812
https://docs.microsoft.com/en-us/sysinternals/downloads/procmon to download. I'm not a procmon expert at all, but here's what I usually do:

1. Configure the filer to only trace system calls that include the given file path.
2. Turn on the setting to drop all the messages filtered out.
3. Start system-wide collection.
4. Run the build.
5. Stop system wide collection.

You should now have a list of

[2018-07-19 22:23] mavasani commented on #22233
Verified fixed, for example http://source.roslyn.io/#Roslyn.Compilers.CSharp.Semantic.UnitTests/IOperation/IOperationTests_IInvocationOperation.cs,30

[2018-07-19 22:23] #22233 closed

[2018-07-19 22:29] mavasani commented on #22228
We still have Operation.None of `x.Equals`, but we do not drop the child IOperation nodes, baseline [here](http://source.roslyn.io/#Roslyn.Compilers.CSharp.Semantic.UnitTests/IOperation/IOperationTests_IForEachLoopStatement.cs,620).

https://github.com/dotnet/roslyn/issues/19965 tracks adding a new IOperation node for bound method group.

[2018-07-19 22:29] #22228 closed

[2018-07-19 23:11] dealdiane commented on #26276
Is there a workaround for us who can't/don't want to install the preview version?

[2018-07-20 01:57] muffadalis commented on #28477
I am having the same issue.

[2018-07-20 05:15] maxbl4 commented on #26505
Have the same issue. Just installed dotnet sdk 2.1.302 on a fresh Debian 9 arm64. And any try to build a project results in error from this topic

[2018-07-20 06:13] MaStr11 commented on #28465
Fixed by #28483

[2018-07-20 06:13] #28465 closed

[2018-07-20 06:14] MaStr11 commented on #28573
Fixed by #28483.

[2018-07-20 06:14] #28573 closed

[2018-07-20 06:38] JohanLarsson commented on #17812
Console app can do `File.ReadAllBytes(snk);` without problems.

[code]

[2018-07-20 07:07] JohanLarsson commented on #17812
Here is the procmon dump for a rebuild that failed:
[code]

Screenie:
![image](https://user-images.githubusercontent.com/1640096/42988200-0b673e32-8bfc-11e8-9038-907002da1ebc.png)

Weird thing about the dump is that it shows success on all rows.
![image](https://user-images.githubusercontent.com/1640096/42988277-431916ac-8bfc-11e8-90af-6f65f18be602.png)

[2018-07-20 07:16] JohanLarsson commented on #17812
I ran a new trace with filter 'ends with' 'SignRepro.snk' with the same result. Thinking maybe it was copied to some temp location.

[2018-07-20 07:18] JohanLarsson commented on #17812
Here is a trace from a rebuild filtered on 'begins with' $(SolutionDir)
[SignRepro_rebuild.zip](https://github.com/dotnet/roslyn/files/2212884/SignRepro_rebuild.zip)

[2018-07-20 07:25] JohanLarsson commented on #17812
I did a search but did not find a way to disable mcafee. Not going to do any hacks such as registry edits on this machine. It seems I'm running in some locked down mode as google results do not match what I see locally.

[2018-07-20 08:23] droosma opened #28725 "Invalid code sample in Wiki page"
So i tried to find a way to pull request this but i could not find it.

on [Getting Started C# Syntax Transformation](https://github.com/dotnet/roslyn/wiki/Getting-Started-C%23-Syntax-Transformation) there is a code sample near the end of the page

[code]

I believe there are 4 error's in there

`String rewriterText = File.ReadAllText(rewriterText);`
should be
`String rewriterText = File.ReadAllTe

[2018-07-20 09:13] akarpov89 commented on #28363
I see the same behavior with **any** variables classified as read-only.

For instance, with `foreach`-loop variables:
[code]
or with `readonly` fields:
[code]

Is it a bug or at some point the rules regarding the taking addresses have been relaxed?

[2018-07-20 09:36] ericmutta commented on #28664
Thanks a lot for the pointers to [expressions.md](https://github.com/dotnet/vblang/blob/master/spec/expressions.md) I will read it in depth when I get a chance :+1:

I've also seen a section on [anonymous delegate conversions](https://docs.microsoft.com/en-us/dotnet/visual-basic/reference/language-specification/conversions#anonymous-delegate-conversions) which may be related to all of this (but wi

[2018-07-20 10:38] Trackerchum opened #28726 "Codeanalysis.Renamer.RenameSymbolAsync not finding or renaming all function symbols in class"
**Version Used**: Microsoft.CodeAnalysis v2.8.2 with NETCore.App 2.1.0

**Steps to Reproduce**:

1. Load in a solution for an external project with AdhocWorkspace
2. Attempt to rename a function within a project with Renamer.RenameSymbolAsync
3. Write changes to physical project

**Expected Behavior**:
All symbols of that function reference are renamed to the new name

**Actual Behavior**:
The fun

[2018-07-20 11:53] GSPP opened #28727 "Consider passing null as this to optimize cached lambdas"
The C# compiler uses a delegate to an instance method when caching a lambda expression. That's being done for performance because delegates to static method are slower.

This:

        new int[0].Select(x => x + 1);

becomes this: https://sharplab.io/#v2:D4AQDABCCMDcCwAocVoDoAyBLAdgRwUSRAGYoAmCAYQgG8kJGoyQAWCAWQAoBKOhpoJwBTAO4RcAFwDaYALpoAysIA2wgMaSuADwgBeAHwRdAagjQehQQF8ktxEA

This means that a d

[2018-07-20 12:06] loop-evgeny commented on #23887
Got this again in 15.7.4

[2018-07-20 12:09] loop-evgeny commented on #23887
Why does this crash the process? The rest of the development environment should be able to continue even if code analysis throws an exception.

[2018-07-20 12:30] Thieum commented on #24030
Can reproduce in 15.7.5

![image](https://user-images.githubusercontent.com/944894/43002541-24fb61e8-8bf7-11e8-99e5-93f67bf0325d.png)

[2018-07-20 12:50] benaadams commented on #28727
Just writing as c# with a cast from null to type then calling instance, I get?

`TypeInitializationException: Delegate to an instance method cannot have null 'this'`

On second point; rather than:
[code]
It could be?
[code]

[2018-07-20 12:55] benaadams commented on #28727
Though I suppose its an issue with multiple lambdas as that would cause early creation of all of them; rather than lazy init?

[code]
[code]
vs
[code]

[2018-07-20 14:17] GSPP commented on #28727
Yes, all lambdas would be created. I suppose that was deemed an issue. I'm thinking of the `Enumerable` class here as an example. The compiler could generate one class per lambda although that surely has other overheads. The lambdas could be batched into N (maybe 10) per static class. That would bound the overhead. For some reason that seems too elaborate to me.

[2018-07-20 14:24] kuhlenh opened #28729 "Formatting rule for columnar formatting"
Support columnar alignment on assignments and properties/members, for example:

![image](https://user-images.githubusercontent.com/1402694/43007482-58c60d7a-8bed-11e8-8fb4-bfecf306c87b.png)

There is a [VS extension](https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.AlignAssignments) that provides some of this support but I think this could be an editor option as well as

[2018-07-20 14:33] gafter commented on #28707
The design philosophy of the local rewriter forbids visiting nodes generated during lowering. We have methods called `MakeXyzzy` to make a given bound node in lowered form; it takes the fields of an Xyzzy node and produces it’s lowered form (never making an Xyzzy as an intermediary). This helper can be used both for lowering an Xyzzy node and elsewhere where a Xyzzy node would be an intermediate l

[2018-07-20 15:01] ericmutta commented on #28398
@reduckted thanks for checking the C# behavior. Apart from the recursive lambda, I reckon that this pattern is almost always a bug in the code (it was in mine!) so a compiler warning like C#'s would be nice to have :+1: