[2017-02-10 14:54] scottdorman commented on #17054
Yea, some of the proposals have/had relatively minor benefit and some that were minor were required in order to implement something larger...and that's not always something that's clearly visible. I doubt there has been a proposal (except maybe some _really_ trivial ones) where there hasn't been some disagreement on the implementation details.

There are a lot of proposals overall and figuring out

[2017-02-10 15:11] Joe4evr commented on #17054
I would very much like to know this. If staying on GitHub is chosen, I would hope that the "Champion" topics become the place to discuss/ask about that proposal. If moving to Discourse is chosen, then having a link to a Discourse discussion topic in the "Champion" issue should be added (similar to issues created on [aspnet/Announcements](https://github.com/aspnet/Announcements/) that link to the i

[2017-02-10 15:26] jonathanbyrne opened #17086 "Intellisense reports CS0234 but compiler succeeds on netstandard2.0 project"
I'm not sure if this is an issue with Roslyn, MSBuild, Visual Studio, or something else but I have to start somewhere.

**Version Used**:
CSC: 2.0.0.61404
Visual Studio: 15.0.26206.0 D15REL
MSBuild: 15.1.545.13942

**Steps to Reproduce**:
1. Create .NET Standard 2.0 Library project
[code]
2. Add class that inherits System.Refelection.TypeDelegator (I suspect that the same problem would occur with

[2017-02-10 15:37] waynebrantley commented on #12393
@epsitec Concerning your blog post.  I was able to take what you wrote and get your sample working.
However, as soon as I use a DateTime time, I am back to the same error.  Any ideas?

[code]

[code]
Not sure what service locator is, so assume you just meant:
[code]

Additionally, not that it matters, but your example code
``var script  = CSharpScript.Create<int> ("42m", options: options, globalsT

[2017-02-10 16:04] waynebrantley commented on #12393
Well, what I said was not exactly true.  It does work for DateTime.  What I am running into is I have a simple extension defined in a class library in a nuget package like this:
[code]
That class library takes a dependency on .net standard 1.4.

If I try to run a script that uses that extension it fails with the DateTime type issue.  If I define that same extension, it works just fine.   So refere

[2017-02-10 16:28] gulshan commented on #16648
Quoting https://github.com/dotnet/roslyn/issues/229#issuecomment-76803909 by gafter

[2017-02-10 16:29] HaloFour commented on #16767
@jnm2

Yes, there will have to be metadata, and that metadata will likely take the form of an attribute.  The attribute itself could be supplied by the BCL, as I assume will be the case with "wither" default values.

I could see your proposal expanded as you mention, using an accessible member as the source of the default value.  The caller would then embed the call to that function if the value w

[2017-02-10 16:42] miloush commented on #17085
My guess would be this is a dupe of #14479 .

[2017-02-10 16:56] jnm2 commented on #16767
Me neither, but once the proposal communication method is sorted let's see how it fits in the bigger scheme.

[2017-02-10 16:58] jnm2 commented on #16767
It could be as simple as not limiting to instance fields and properties. Any instance member, or any static member on any public type in the same assembly. At the very least, the metadata used to specify which field property could have this possible extension in mind.

[2017-02-10 17:05] kuhlenh opened #17087 "Generate Constructor defaults to fields and not auto-props"
I have this constructor already:

[code]

I add a new property `public int Id { get; set; }` and **Ctrl+.** to generate a new constructor to include this new prop `_user = new User(1, "kaseyu", 25, 150, 71, Gender.Female);`:

![image](https://cloud.githubusercontent.com/assets/1402694/22836290/9f0ca002-ef70-11e6-81e3-16be234ab681.png)

Why is it making a new constructor with a bunch of new fields,

[2017-02-10 17:06] TyOverby commented on #17070
@rainersigwald

Right now we are catching most of the exceptions that come from our ToolTask, printing them (to your log), and then returning a failure error-code.  (you can see our current implementation (here)[http://source.roslyn.io/#Microsoft.Build.Tasks.CodeAnalysis/ManagedCompiler.cs,473])

Should we be doing error handling at this level, or should we allow our exceptions to percolate up to

[2017-02-10 17:11] vasily-kirichenko commented on #17085
@miloush no. That issue is fixed in RC4. This is a new one.

[2017-02-10 17:17] dsaf commented on #17054
@MadsTorgersen

This might be off-topic but it would be nice to be able to save _draft_ Issues without making them public. Sometimes it takes more than few minutes to write something up well. This is one of few email advantages, not sure if Discourse has this.

[2017-02-10 17:19] vbcodec commented on #17054
@NickCraver

Sure, Team usually post what they are implementing

@scottdorman

Sure, They even have to do it. Every new issue must be readed anyway, to determine which labels apply to it.

If we define community as team + others, then we have great success and can proudly state that 'development of net languages are entirely driven by community'. But this is joke.
There is clear difference between

[2017-02-10 17:21] DavidArno commented on #17054
@dsaf,

That's what your markdown editor is for.  😉

Even VS Code now has live preview of md files as you type (though it didn't work properly for me for some reason). It's an approach that works well for me at least.

[2017-02-10 17:24] miloush commented on #17085
@vasily-kirichenko I can reproduce this one reliably in couple of recent builds, including 26206. The problem is in the linked files, and I have been told that's a dupe of #14479 several weeks ago. Why do you think it's fixed in RC4?

[2017-02-10 17:27] miloush commented on #17085
Also if you close the shared documents before unloading the project, it shouldn't repro, is that your experience too?

[2017-02-10 17:27] dsaf commented on #17054
@DavidArno how does this help if I want to write something up across several days across different machines? I don't want to save it outside of GitHub and I want to keep it close to where it will be published (Issues/Discussions tab).

[2017-02-10 17:28] rainersigwald commented on #17070
As long as the task fails, the rest of MSBuild should behave identically. If it weren't for the exception-filtering behavior, I'd say that you could just not catch. But since it is there and there's reasonable suspicion that it might be hurting diagnosability in this case, catching everything and failing inside `ExecuteTool` seems better.

[2017-02-10 17:29] vasily-kirichenko commented on #17085
@miloush yes, the projects I'm working on have lots of linked documents, almost all of docs are linked. Unfortunately, I cannot reproduce it on my home machine, either having the docs open or closed.

[2017-02-10 17:30] scottdorman commented on #17054
@dsaf Wouldn't you be doing this in your own fork of the repository to then submit it as a PR once you've finished writing it?

[2017-02-10 17:30] vasily-kirichenko commented on #17085
Because the solution I'm working on freezes VS on exit in 100% of times in RC3, no single freeze on RC4 so far.

[2017-02-10 17:32] miloush commented on #17085
Interesting, my solution still freezes 100% of times on VS exit in RC4.

[2017-02-10 17:33] NickCraver commented on #17054
@vbcodec You're arguing a paradox here. They originated from the team *because those things existed before the GitHub repo did. They were ready to go. So they posted them in a well laid out fashion to kick up the discussion for the current release. Almost all of the proposals in GitHub were started somewhere else, very few language ideas are brand new. Saying that they weren't posted on GitHub to

[2017-02-10 17:34] tmat commented on #16897
I think this is https://github.com/dotnet/roslyn/issues/5517

[2017-02-10 17:38] eyalsk commented on #17054
@dsaf

Can't people use VSCode or similar to write it? and then post it when they feel it's ready? :)

[2017-02-10 17:52] DavidArno commented on #17054
@NickCraver,

Whilst @vbcodec is, in my view, exaggerating when he claims nothing proposed by the community made it into C# 7, calling what he says "alternative facts" isn't helpful. I too share his concerns as to whether the proposal discussion mechanism changes will make any difference. The team have a poor record when it comes to acting on community feedback here:

Local Functions: started out

[2017-02-10 17:54] dsaf commented on #17054
@scottdorman maybe I am just not a confident GitHub user but my preference would be 'New issue -> Save as draft -> Submit new issue' rather than what you are suggesting. However I might be wrong.

@eyalsk would you like a version of Outlook where you cannot save drafts? In the end of the day Word is a much more capable editor. I am just desperately trying to keep up with the modern cloud-based wor

[2017-02-10 17:55] JulienKluge commented on #16963
i thank everyone for the discussion/clarification and will close this thread. I will keep using libraries and System.Numerics.Vector.

[2017-02-10 17:55] #16963 closed

[2017-02-10 18:21] OmarTawfik commented on #14218
@Pilchie can you please check the following?

[2017-02-10 18:24] AlgorithmsAreCool commented on #17054
I think this thread is sliding off topic.

[2017-02-10 18:29] Pilchie commented on #14218
@CyrusNajmabadi can you take a quick look here?

[2017-02-10 18:45] Unknown6656 commented on #17054
I would love it, if the language design was moved to the new GitHub repos -- It would be clean and I would still participate (I absolutely **_hate_** mailing-lists and I would stop contributing, if it would be the new communication platform).
My vote would be:

1. GitHub
2. GitHub
3. GitHub
4. GitHub
5. Smoke signals or some African rain dance
6. Discord
∞. Mailing lists

[2017-02-10 19:01] Pilchie commented on #17085
@dpoeschl Can you investigate?

[2017-02-10 19:05] gafter opened #17088 "Pattern-matching behavior in the presence of different tuple names"
We need to add tests (and fix things if necessary) for cases when tuple names differ in pattern-matching. Since tuples with names aren't supported at the top level, this is for the nested tuple cases.

For example
[code]

- Do we handle subsumption correctly between these two cases?
- Does the compiler produce code to match the first case with the input?

Similar questions arise when two types dif

[2017-02-10 19:08] gafter opened #17089 "Declaration pattern should not support `dynamic`"
Since no runtime object ever has type `dynamic`, it should not be supported as the type in a declaration pattern. The compiler does, today, permit that.

Related to that, when the input is of type `dynamic`, the compiler does not currently permit any type in a declaration pattern (other than `var` or `dynamic`). The compiler should treat such an input as being of type `object`.

[2017-02-10 19:10] ygoe commented on #2487
@weltkante It is actually so bad that it may eventually be fixed in whatever version will be released in a decade or so. A whole industry will have developed to work around that issue by then. Facing that, it will never be fixed not to hurt that industry. So it will forever remain on my public list of VS 2015 bugs.

[2017-02-10 19:12] OmarTawfik commented on #15194
Filed the following bug on Xamarin team:
https://bugzilla.xamarin.com/show_bug.cgi?id=52454

Closing this one.

[2017-02-10 19:12] #15194 closed

[2017-02-10 19:13] gafter opened #17090 "Switch expression instrumentation not produced for constant expression in pattern switch"
Code generation for a pattern switch does not evaluate the switch expression at runtime when it is a constant. Consequently there is no place in the generated code for the compiler to generate the instrumentation, and the compiler does not produce instrumentation for the switch expression in this case. We should evaluate what the proper treatment of this situation should be.

[2017-02-10 19:16] CyrusNajmabadi commented on #17020
That will not work, while achieving all those goals i mentioend.  You will not be able to mix and match tuples in this manner.  If i get a tuple back and it is immutable, then linking to a mutable value-tuple API won't suddenly make those tuples mutable.  I'll still have to take the hit of an additional copy to put it in mutable form.

It's not a premature optimization.  it's a very real perf hit.

[2017-02-10 19:17] gafter opened #17091 "Please add some documentation to pattern-matching implementation"
Specifically, the decision tree classes, `DecisionTreeBuilder`, `SubsumptionDiagnosticBuilder` and related types.

[2017-02-10 19:42] epsitec commented on #16897
@asdfgasdfsafgsdfa I have updated this repository:

https://github.com/epsitec/rnd-csharpscript-netstandard

to include the code I used to do the measurements above.

[2017-02-10 20:08] Pilchie commented on #16621
I don't think I explained myself very well :(

Currently our code style analyzers *only* work inside Visual Studio, but don't work as part of "build" or CI.  We would like to enable the CI scenario, which implies factoring them out so that the *can* be referenced via NuGet packages.  That doesn't mean that we want that to be the *only* way to get them.

At the same time, we should be pulling in so

[2017-02-10 20:24] happyhebaby commented on #16891
Hi Matt, the reason I try to save solution change on each project is because of bug 13802. If I save just once after all project get processed, the final save will fail. Other than that, I basically have exact the same code pattern to iterate each project id as you pointed out, but it keeps on failing on a set of projects while pass on the rest of them.
I have found a work around code on bug 13802

[2017-02-10 20:26] timgoodman commented on #17054
@Unknown6656 Archivability is an issue for smoke signals.  I keep hoping someone will implement some sort of carbon capture to address this, but it seems to be stuck on the backlog.

[2017-02-10 20:28] gafter commented on #16548
I am not able to reproduce this in the current VS2017 preview. @CarlLeth can you please confirm that this is fixed?

[2017-02-10 20:33] gafter commented on #11619
Oh, I see that I can only repro this with auto-parens off. See also https://github.com/dotnet/roslyn/issues/16555 .

[2017-02-10 20:39] Pilchie commented on #14206
`AdHocWorkspace` should work cross-platform.  We don't currently have `MSBuildWorkspace` or `CommandLineProject` working cross-platform.

I expect it's something that we will do at some point, but I'm not exactly sure how that will shake out yet, since both use some Windows specific code (like `DesktopAssemblyIdentityComparer` in `CommandLineProject` and we don't currently use the .NET Core versio

[2017-02-10 20:41] gafter commented on #13840
The bound method group should be replaced by a delegate creation bound node in local lowering.

[2017-02-10 20:44] gafter commented on #613
The gist of the problem is that *none* of the extension methods work. The compiler has heuristics to decide which of them to complain about, which don't appear to do a good job in this case.

[2017-02-10 20:45] gafter commented on #11619
Removing #613 from the list because that isn't really a problem inferring the type of the parameter. It is a problem deciding which overload of the method (none of which work) to complain about in the error message.

[2017-02-10 20:50] MadsTorgersen commented on #17054
All, I've gathered up your ideas for improvements to GitHub's discussion support  (those were **great,**!) and sent them off to @Haacked at GitHub. I hope we can gradually see some improvements.

[2017-02-10 20:57] dpoeschl opened #17093 ""Debug Integration" and "Release Integration" queues are usually hanging, occasionally failing"
Debug: https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration/
Release: https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration/

I hopped on to one of the machines where it was in the middle of failing, and there were ~64 copies of VS running with nothing open in them (completely blank, no start page, nothing). One of the copies said that the E

[2017-02-10 20:58] dpoeschl commented on #17093
@tannergooding I'm told that these are your new integration tests. Any idea what's going wrong? They haven't passed since February 2nd.

[2017-02-10 21:00] dpoeschl commented on #17093
FYI @tmat in case this runs over into next sprint.

[2017-02-10 21:08] eyalsk commented on #17054
@DavidArno

To be fair _iirc_ he didn't say that 80% of the features were implemented I think he talked about scenarios and not too sure about the following but he was mostly speaking about C# 7.0 and 7.X, he also mentioned the `match` expression and he said that they are likely to add it.

I don't want to derail the discussion and I'm really sorry but I feel it's important so here is the thing, I

[2017-02-10 21:09] jnm2 commented on #17054
@eyalsk

Well said.

[2017-02-10 21:09] asdfgasdfsafgsdfa commented on #16897
in every Compile call you are creating a new script:
CSharpScript.Create

after you created a state, continue using it instead of recreating everything it has cached for you, from the example documentation:

    state = await state.ContinueWithAsync("int y = 2;");

you would do something like "return someValue;"

another thing you can do (if you always access the same thing) actually caching the *

[2017-02-10 21:13] tannergooding commented on #17093
It seems that one or more of the tests is failing and the VS instance is not being shutdown completely leading to a hang on subsequent runs.

Looks like the tests are failing because:
[code]

Why it is trying to load the v42.42.42.42 binaries I don't know (these are commit jobs, so they should be getting `-OfficialBuild=true`)

[2017-02-10 21:46] jods4 commented on #16294
@OmarTawfik Just sayin': it still repro on Feb. 7th update. You definitely have a bug here.
My call stack is exactly the same.

[2017-02-10 22:12] aholmes commented on #17054
I feel GitHub is a poor choice for this specifically because of it's flat discussion model. It's difficult to even follow what folks are stating in this thread because it's just a long list of replies. I've seen how important threads are for other discussions and mailing lists (FreeBSD, Linux kernel, PHP, etc). I envisage GitHub will fall on its face for discussing the design of C#.

I vote for Di

[2017-02-10 22:20] #14689 closed

[2017-02-10 22:25] TonyValenti commented on #17054
Perhaps we should put together a proposal for github outlining the
challenges we have with the current system. This may be a way to achieve
the best of both worlds without bringing on an additional platform.

On Fri, Feb 10, 2017 at 4:12 PM Aaron Holmes <notifications@github.com>
wrote:

--
Tony Valenti

[2017-02-10 22:30] OmarTawfik commented on #16294
@jods4 do you have a consistent repro? same vsix or a different one?
Can you please provide the vsix and the build number and I'll reactivate it?

[2017-02-10 22:33] mazhou-msft opened #17095 "Compilation.GetSemanticModel throws ArgumentException: Syntax tree '' was not found to remove"
**Version Used**:
VS 2017 + Roslyn 2.0.0-rc4
**Steps to Reproduce**:

1.  Write an analyzer that use Compilation.GetSemanticModel
2.  Deploy the extension and open a solution to run the analyzer
3.  Expected exception occurred (it was working in a earlier Roslyn version.)

**Expected Behavior**:
The analyzer run with no exception and code can get the SementicModel instance.

**Actual Behavior**:
E

[2017-02-10 22:55] timgoodman commented on #17054
Agreed.  I thought it was a bit disheartening that the initial reaction to the email list plan was not just "I really hate this plan" (which was a fine response) but also a fair bit of "Clearly they don't care about our opinions and are trying to silence us."  It should now be clear that that wasn't true in this case, which is worth considering next time it seems like they aren't listening.  Also,

[2017-02-10 22:55] gafter commented on #15983
@jnm2

Can you please outline the language grammar you have in mind?

[2017-02-10 23:01] jnm2 commented on #15983
@gafter Precisely what @jskeet listed above. It retains perfect consistency with the rest of C#, which is the main motivating factor here in addition to ease of use:

No underscores.

[2017-02-10 23:02] svick commented on #17054
@aholmes

There's nothing to envisage, GitHub has been used for that purposed for quite a while now. Even though the process is moving and changing, it's still GitHub issues. So I think you should be able to look at [the old discussions](https://github.com/dotnet/roslyn/issues?q=label%3A%22Area-Language%20Design%22) to decide for yourself if GitHub is good enough for this.

[2017-02-10 23:03] eyalsk commented on #17054
@aholmes

So you hate flat discussions and yet vote for Discourse? _I don't recall they have an option to change the view but I could be wrong._

[2017-02-10 23:05] gafter commented on #15983
@jnm2 Sorry, @jskeet didn't outline a language grammar. If you don't have any idea either, I'll let the issue sit.

[2017-02-10 23:06] MarkusAmshove commented on #17054
From what I've seen from Discourse I really like it and thinks it is the best platform for this. Especially the browsing *and* mobile experience is far superior to github (for this kind of discussion).

[2017-02-10 23:07] gafter commented on #15983
To be clear, the problem is that `nameof` is treated as an invocation expression for purposes of syntax analysis. And an invocation expression simply cannot have an open type in it.

[2017-02-10 23:10] shaggygi commented on #15938
@jmarolf Have the updates for these summaries stopped.  Looks like the last one was before the holiday break.  Just curious as I looked forward to seeing a glimpse of what the teams accomplished.

[2017-02-10 23:12] jnm2 commented on #15983
@gafter I am not familiar with language grammar, but it seems obvious to me that `nameof` will have to be treated as an entirely new hybrid class of expression.

[2017-02-10 23:13] gafter commented on #15983
@jnm2 I agree, that would work. But we treat it as an invocation expression so we do not break backward compatibility.

[2017-02-10 23:16] jods4 commented on #16294
Ah I did not see the vsix part under the description.
It showed up in my errors just by working on a ASP.NET Core C# app. I have not installed anything yet on top of a fresh VS 2017 RC, Feb 7th install.

[2017-02-10 23:31] jmarolf commented on #15938
@shaggygi I'll be putting a new one up shortly.  We didn't do anything other than bug fixes + holidays for a while.

[2017-02-10 23:31] jnm2 commented on #15983
I want this badly enough that I'll get up to speed on language grammar to help get this through, but I doubt I'm the most valuable person in this thread for that purpose. :')

What if the hybrid expression, the argument to `nameof`, could be an InfoOf expression in reference to the infamous `infoof` operator we've talked about for years. For now it could only be used as an argument to `nameof` but

[2017-02-10 23:32] shaggygi commented on #15938
@jmarolf great!  Thank you

[2017-02-10 23:39] gafter commented on #17089
A test for this is being added in #16928

[2017-02-10 23:56] jnm2 commented on #15983
https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#nameof-expressions

Okay, so the operand to `nameof`, what is currently called the **named_entity** expression, would be what I was calling the InfoOf expression.
And if you took to the `info_of` expression idea, this sentence would be removed:

[2017-02-11 00:06] jnm2 commented on #15983
To get back to basics here, this is what we currently have:

[code]

What if `type_argument_list` was simply changed to allow both open and closed types? (Looking for it's name...)

[2017-02-11 00:09] jnm2 commented on #15983
So there would be a version of `named_entity` but with [`generic_dimension_specifier`](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#the-typeof-operator) instead of [`type_arguments`](https://github.com/dotnet/csharplang/blob/master/spec/types.md#type-arguments).

[2017-02-11 00:21] MadsTorgersen commented on #17054
As for where to do C# and VB language discussion in the future, we (the LDT) have been following the last couple of days' discussion here, and there have been a lot of great points made.

At the end of the day, there are two things that people seem to still fall in different camps on - the good news is that neither are terribly divisive issues; most people seem to be alright either way, even if th

[2017-02-11 00:27] jnm2 commented on #17054
That is perfect.

[2017-02-11 00:30] jmarolf opened #17096 "Sprint 111-113 Summary"
# Note:
These last 3 sprints have essentially been:
![image](https://cloud.githubusercontent.com/assets/9797472/21243307/21ac5cc6-c2cd-11e6-828a-c6e1d51ae68c.png)
But we've recently had time to come up for air so I will attempt to summarize the work of the last 1.5 months.

# Sprint 111-113 Stats

|  Repository | Bugs Closed| Pull Requests Merged |
|:-------------:|:-------------:|:-------------:|

[2017-02-11 00:50] jcouv commented on #15259
Fixed by #16983

[2017-02-11 00:50] #15259 closed

[2017-02-11 01:00] gafter commented on #12680
I'm closing this and letting the LDM decide before doing any work. See https://github.com/dotnet/csharplang/issues/65

[2017-02-11 01:00] #12680 closed

[2017-02-11 01:09] gafter commented on #1384
Moved to https://github.com/dotnet/csharplang/issues/37

When the feature is assigned a release, I'll open an issue here to integrate the implementation.

[2017-02-11 01:09] #1384 closed

[2017-02-11 01:28] #16971 closed

[2017-02-11 01:31] jrmoreno1 commented on #15079
@eyalsk: The Halting Problem says that it is impossible to write a program, that taking another program as input, will always be able to determine that it halts.  You would have to limit what the second program can do, in order to do that.  Specifically, no loops or branches.

As for the program taking 5 years to complete and that being what it takes -- **that is exactly my point**.

From a practi

[2017-02-11 01:33] eyalsk commented on #16916
@HaloFour _Might_ be a good idea to close the post or at least, remove the survey part from the post as I've deleted it.

[2017-02-11 01:37] eyalsk commented on #16905
@MgSam You _might_ want to close the post now that they already decided to stay on GitHub.

[2017-02-11 01:41] gafter commented on #13686
@dotnet/roslyn-compat-council

So it turns out that the C# compiler (all versions) won’t lift a user-defined equality operator (this issue)
[code]
unless `Type1` and `Type2` are identical types. The spec requires all user-defined equality operators defined on value types to also be considered in lifted form, so this is a spec violation.

We can
1.	Carefully evaluate if this can cause a breaking ch

[2017-02-11 01:52] vbcodec commented on #17096
will VS RTM be available to download before ship / release date ?

[2017-02-11 01:57] vbcodec commented on #17096
what reall means "Infrastructure and planning for point releases" ?
Releasing of compilers independent from VS ? (similar to Typescript)

[2017-02-11 02:10] mattwar commented on #13686
Comply! 🙃

________________________________
From: Neal Gafter <notifications@github.com>
Sent: Friday, February 10, 2017 5:41:21 PM
To: dotnet/roslyn
Cc: Matt Warren; Team mention
Subject: Re: [dotnet/roslyn] Compiler won't lift asymmetric operator == and != (#13686)

@dotnet/roslyn-compat-council<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Forgs%2Fdotnet%2Fteams%2

[2017-02-11 02:13] HaloFour commented on #16916
Closed per #17054

[2017-02-11 02:14] #16916 closed

[2017-02-11 02:22] CyrusNajmabadi commented on #12680
Note:

I'd be very wary about allowing a prefix of ```_``` as ```_1``` is already a legal identifier.

[2017-02-11 02:28] CyrusNajmabadi commented on #15983
A simple way to handle this from the grammar would be to just change:

[code]

With normative text to specify that the latter are only legal in the respective locations in typeof/nameof.

--

This grammar would be essentially mimic what we are already doing in the C# parser today.  i.e we support "generic-dimension-specifiers" everywhere, we just report errors if you use them in inappropriate loca

[2017-02-11 02:47] scottdorman commented on #17054
@MadsTorgersen

Specifically regarding the downsides, I know you've collected a lot of the feedback (essentially regarding having Discussions in GitHub that are different than/separate from Issues) and passed it along to @Haacked, so this might be more of a question for him. Do you know if there is a public location (like a GitHub repo for GitHub) where this is being tracked (as an issue) that we

[2017-02-11 03:56] eyalsk commented on #15079
@jramsay Never mind, I confused _halting_ with _blocking_, now some of the things you said make more sense to me. :)

[2017-02-11 04:05] jmarolf commented on #17096
@vbcodec every feature checked into the master branch made it into the latest public RC.  Features checked into post-dev15 will likely not be in the initial version of Visual Studio 2017.  Regarding point releases, its unclear exactly what we are going to do (we are still planning after all), but I believe that the LDM wants release independence like typescript.  Frankly, this is something we will

[2017-02-11 04:13] #15079 closed

[2017-02-11 04:16] chrisaut commented on #17054
I like the "project" idea. For those who haven't come across them before on GitHub, here's one from TypeScript: https://github.com/Microsoft/TypeScript/projects/4

[2017-02-11 04:17] alrz commented on #17096
#6543 and #16664 are not tbe same thing though. :)

[2017-02-11 04:20] jmarolf commented on #10300
Migrated issues to project

[2017-02-11 04:20] #10300 closed

[2017-02-11 04:32] chrisaut commented on #17096
@alrz wrong thread?

[2017-02-11 04:44] jmarolf commented on #7056
moved to projects

[2017-02-11 04:44] #7056 closed

[2017-02-11 04:49] alrz commented on #17096
No, linked PR for the second refactoring in post-rtw doesn't seem to be correct.

[2017-02-11 05:00] jmarolf commented on #10289
moved to project

[2017-02-11 05:00] #10289 closed

[2017-02-11 05:04] jmarolf commented on #17096
@alrz whoops sorry, I updated the summary (though I appreciate @Giftednewt 's contribution as well 😄  )

[2017-02-11 06:16] hughbe commented on #17054
Good to hear. I'd add another feature to my GitHub bucket list - some way to move an issue across a repo. The number of times dotnet/corefx gets an issue that should be in dotnet/roslyn is high!

Here's hoping GitHub will focus on the features you mentioned - time better spent than making the navigation bar black!

[2017-02-11 06:20] alrz commented on #17054
Along with cross-repo issue export, it could be an option to convert an "issue" to "discussion" when we have proper support for discussions. :D

[2017-02-11 07:04] chaitanyapotti opened #17098 "[C# feature request] define operator **"
Hello all,
I would like to propose the functionality to add an extra operator **

Usage : x**y = Math.Pow(x,y)

This usage is common with other languages (Python) and is unambiguous.

Why: While typing formulae in our applications, using Math.Pow() multiple times, makes the expression long and less readable. This implementation solves that problem.

Note: Also, I've read other posts where people h

[2017-02-11 07:08] gafter commented on #15983
The spec grammar is ambiguous, because it requires semantic context to distinguish a `typeof` operator from a method invocation of the same name. The compiler simply parses an invocation expression. So it is the method invocation grammar that needs to be adjusted.

[2017-02-11 07:59] alrz commented on #17098
#4594

[2017-02-11 09:35] DavidArno commented on #17054
@eyalsk,

I fully understand your position and confess that I find your, and @jnm2's, boundless optimism a pleasant balance to  my own cynicism. And the way in which the team have accepted the community's wishes here is cause for hope. I remain sceptical though: that's just the way I am 😊

[2017-02-11 10:05] DavidArno commented on #17020
You of course aren't the framework; you are the language. And value tuples aren't part of the framework either, as they exist in a separate nuget package. Of course it would be very naive of me to think this won't suddenly change, without warning of course, as per what happened to .NET Core and project.json. But until that happens, people can create their own implementations of `ValueTuple` (and i

[2017-02-11 10:09] jmarolf commented on #16820
Inital investigation points to the formatter.  When we format for elastic trivia [here](http://index/?query=CleanupDocumentAsync&rightProject=Microsoft.CodeAnalysis.Workspaces&file=CodeActions%5CCodeAction.cs&line=275) we add the spaces

[2017-02-11 10:22] per-samuelsson commented on #14206
Thanks @Pilchie. That certainly get me one step further.

`MsBuildWorkspace` I've abandoned really, as well as source generators. Now I know I could use `AdHocWorkspace` (I tried experimenting with it, and seem to work).

If I still would want to give `CommandLineProject` a try (even knowing it's NetFramework only at this point), can you hint me on how? Thing is, I've set up this .Core RC3 project

[2017-02-11 10:53] per-samuelsson commented on #14206
Aha, found out my self by thinking a little (and being lucky): it's about the target framework of course. Those `lib/net46` bits will not be brought in unless I retarget to `net46` or higher.

Then again, thanks, and I have no more questions at this point.

[2017-02-11 12:10] jnm2 commented on #15983
@CyrusNajmabadi @gafter Do you need any more guesswork from me or do you have a handle on it? :)

[2017-02-11 12:13] jmarolf opened #17099 "XmlNameTokenSyntax serializes enums as objects"
[this](https://github.com/dotnet/roslyn/blob/post-dev15/src/Compilers/Core/Portable/Serialization/StreamObjectWriter.cs#L94) assert added in [this](https://github.com/dotnet/roslyn/pull/16798) PR exposes a bug in how `Microsoft.CodeAnalysis.VisualBasic.Syntax.InternalSyntax.XmlNameTokenSyntax` is generated.

Currently generated code:
[code]

Correctly generated code:
[code]

[2017-02-11 12:13] jmarolf commented on #17099
@CyrusNajmabadi

[2017-02-11 12:14] jnm2 commented on #17054
Hehehe... it's more specific than that. It actually has a name. [Hanlon's Razor.](https://en.wikipedia.org/wiki/Hanlon's_razor) I don't see it as optimism- I had no idea if the team would in fact do what y'all thought was the right thing- I see it as making an effort to understand what the situation looks like from the opposite point of view.

[2017-02-11 12:44] jmarolf commented on #15889
I can't repro this on the latest build

[2017-02-11 12:44] #15889 closed

[2017-02-11 12:59] benaadams commented on #17020
I think if you are using a strong named implementation, it shouldn't break?

[2017-02-11 15:29] Burton-Radons commented on #4224
It is unfortunate that this feature is no longer supported. It is unacceptable that this feature is no longer supported and doesn't say it's unsupported both in the Code Definition Window itself and the documentation on MSDN. Don't waste our time!

[2017-02-11 15:58] HaloFour commented on #17054
@MadsTorgersen

I'm ecstatic about the reversal.  I'm a little surprised that you guys are sticking with Github, but I do think that it's great to have everything on one platform.  That meeting with @Haacked must have gone really well.  Hopefully Github can evolve to meet our needs.

[2017-02-11 17:01] vbcodec commented on #17054
@HaloFour
That's called 'developing in the open', democracy wins :)
But for lang development @gafter and @MadsTorgersen  will post their proposals, and any community objections will be corrected by @CyrusNajmabadi . That's well established pattern :)

[2017-02-11 17:13] falahati commented on #13015
`void` has other porpuses, I don't like `*` eigher, but I understand the decision that resulted in using it. Also, it does actually mean `anything`. So it makes sense.

[2017-02-11 17:16] eyalsk commented on #17054
@vbcodec What's your point? :)

[2017-02-11 17:22] AdamSpeight2008 commented on #12680
@CyrusNajmabadi  The meaning of prefix here are is, are those define by the language specification.
[code]
If the prefix is missing then it possible for the character sequence to match a identifier (possibly legal) if the underscore separator is first. Though this is unlikely as the prefix is required in this context of digit separators.

[2017-02-11 17:39] HaloFour commented on #17054
@vbcodec

There's a big difference between "open" and "democratic".  It's never been implied that the evolution of the C# language would be a democracy.  We get to watch the process, make suggestions and voice our opinions, but it's still the language team which makes the final call.  I don't have a problem with this.  I might disagree with some of their decisions and prioritization, and I certain

[2017-02-11 17:49] jnm2 commented on #13015
@falahati This is out of date. Further design discussions resulted in the adoption of `_`.

[2017-02-11 17:55] jnm2 commented on #13015
@falahati Here's the new documentation on that: https://github.com/dotnet/roslyn/blob/post-dev15/docs/features/discards.md

[2017-02-11 18:56] craigajohnson commented on #15983
Absolutely yes please to this feature and please include VB.

[2017-02-11 19:42] Gregzy commented on #4224
I must admit the missing CDW is really bugging me now. I think I'm going back to 2012. The feature is passive but is very practical in a multi-monitor environment (no need to do Alt-F12) just to really peek whithout modification.

[2017-02-11 20:21] gafter commented on #17098
Roslyn is the repo for the implementation. The language is now designed over at https://github.com/dotnet/csharplang

[2017-02-11 20:21] #17098 closed

[2017-02-11 23:47] vbcodec commented on #17054
@eyalsk
Just replied to @HaloFour 'little surprised that you guys are sticking with Github', that decision was made by community and not @MadsTorgersen himself. If fact he realized that he rushed with his decision, before asking community for their preference, and with this post gave us that chance.

As for lang development team have all rights for their dictatorship (thankfully transparent), in t

[2017-02-11 23:56] dsaf commented on #17054
Actually it looks exactly like a democracy with all it's advantages and disadvantages. It's just most people are "voting" outside of GitHub.

[2017-02-12 01:36] AdamSpeight2008 commented on #16998
Additional information, another common error message.
[code]

[2017-02-12 14:31] Thaina commented on #16742
I support this but I prefer `is!`

[2017-02-12 14:55] controlflow opened #17103 "`is constant` pattern-matching operation fails to convert constant to type of left-hand-side"
I know it's way too late, but maybe somebody can explain why this `is` constant pattern:
[code]
Works not the same way as similar `switch` statement:
[code]

`switch` statement performs implicit conversion of literal expressions under `case` labels to *"govering-type"* (`byte` in the example above), while `is` expression just uses "nominal"/"default" type of literal expression and in fact first me

[2017-02-12 17:23] miloush opened #17104 "Local functions not in the navigation bar"
Currently we have 3 dropdowns in the navigation bar, projects, types in current file and members in current type.

Local functions are not in there, neither in GoToAll.

Should we have a fourth dropdown with variables/consts and local functions in current member?

[2017-02-12 17:51] gafter commented on #17103
That question would better be asked in https://github.com/dotnet/csharplang .

[2017-02-12 17:55] controlflow commented on #17103
@gafter so you're confirming this is not a Roslyn bug, right?

[2017-02-12 18:09] gafter commented on #17104
I should hope that methods are no so large that you need extensive tooling to navigate within them.

[2017-02-12 18:15] gafter commented on #17103
This appears to be per spec.

[2017-02-12 18:17] gafter commented on #17103
Actually, [the spec](https://github.com/dotnet/csharplang/blob/master/proposals/patterns.md) has a special accommodation for integral types that is not implemented. But that accommodation wouldn't work for a floating-point type.

[2017-02-12 18:30] miloush commented on #17104
I should too. I did end up in the need to jump to a local function from a different place in the file though, so if they were part of the methods shown in the third dropdown or at least reachable through GoTo**All**, that would help.

[2017-02-12 19:49] miloush commented on #17104
Also note that you are talking production code here. One-off tools and sketching things is usually much more wild, yet still valid scenario I would argue.

[2017-02-12 19:58] alrz commented on #7113
This can wait until we have `default` literal. Then it could suggest `default` for any parameter type.

[2017-02-12 22:50] scottdorman commented on #17054
@MadsTorgersen While you're gathering feedback to send to @Haacked, one thing that's extremely annoying is that sorting issues isn't persistent. (This goes to the ability to always keep issues that have been updated floating to the top of the list by sorting them "Recently updated".) Every time I browse to the Issues page of a repo, I have to change the sort option. That's a major pain. I want to

[2017-02-12 22:55] alrz commented on #17054
You could bookmark the page with predefined filters. But I agree it'd be nice if "Discussions" tab sort by activity by default as it bumps up new/updated threads to the top.

[2017-02-12 22:57] scottdorman commented on #17054
@alrz Yes, but then I have a ton of bookmarks for each of the repositories, it only applies to those repos I've bookmarked and I have to remember to use the bookmark each time. It would be better for GitHub to simply remember my last sort choice and always use that.

[2017-02-12 23:35] tinchou commented on #8237
Hey guys,

Just wanted to let you know I'm hitting this issue. I'm using the latest VS 2017 Community RC.

[2017-02-12 23:44] scottdorman commented on #17054
Having it remember my setting would be *even more useful* on mobile where there is no option to sort. (As would autocomplete for @ mentions and a markdown preview.) Hey @Haacked, you're tracking all these requests and getting it to right people, right? (The GitHub backlog isn't public, so we can't track this ourselves.)

[2017-02-13 00:21] eyalsk commented on #17054
@vbcodec I'm sorry that you feel this way but the majority of people voted for GitHub and I'm pretty sure that the design team did their research too and concluded that GitHub is the right platform for them.

I think that changes and conclusions need to be based on reason but from what I can grasp you expect them to do it just because the community said so but this can't really work like that.

[2017-02-13 01:58] vbcodec commented on #17054
@eyalsk

Mainly, yes. While community isn't language designers nor compiler writers, most peoples participating here are experienced programmers, and they care about general experience provided by language. In case when most Giyhub community vote against changes, then team should hold on, and ask larger community to vote on these changes. But I don't think this is happen.

Staying on Github is pro

[2017-02-13 03:24] eyalsk commented on #17054
@vbcodec

More importantly we aren't the designers of C#, we are privileged to contribute, we are privileged to take part in this journey with them.

I honestly believe that they appreciate us for being here and I think that they take our feedback seriously but at the end they have to make decisions and we can't expect them to lean towards the community just because they like us, I mean this is no

[2017-02-13 04:13] scottdorman commented on #17054
At the end of the day, we aren't the ones responsible for the actual language design and aren't answerable to Microsoft for it.

By making the language spec available on GitHub, the team has opened it up for more direct and public discussion as well as the ability for the community to offer corrections and improvements as necessary. By also making the language design process visible outside of the

[2017-02-13 04:48] epsitec commented on #12393
@waynebrantley the initial analysis in my blog post was based on the wrong assumptions. I really need to include multiple .NET Standard projects for the error to show up, as I have demonstrated in the sample solution found at https://github.com/epsitec/rnd-csharpscript-netstandard (and as you found out, this has something to do with referencing code in .NET Standard libraries).

By the way, you ar

[2017-02-13 05:18] epsitec commented on #16897
@asdfgasdfsafgsdfa I tried what you suggested and updated my [sample project](https://github.com/epsitec/rnd-csharpscript-netstandard) accordingly.

See `Program.TimeIt2()` which calls into `StatefulScriptCompiler` class, defined as:

[code]

With this in place, the time to compile the same script goes down from **75ms** to **20ms** which is a big improvement, but still considerably slower than wh

[2017-02-13 10:13] asdfgasdfsafgsdfa commented on #16897
I tested that way as well and I agree. I don't know why it is that slow.

I only managed to avoid the slow compilation time by merging all my code into one big submission to the script instance. In my experience adding more code is essentially free (in time, the eval/compile/run process doesn't take longer), but setting up / starting a compilation always seems to take some initial time even when r

[2017-02-13 13:15] ArgTang opened #17107 "IDE0018 when using out variables"
**Version Used**:
Latest VS 2017, not sure how to see witch Roslyn version is used
**Steps to Reproduce**:
[code]

**Expected Behavior**:
If value is used with an out parameter, IDE0018 should be ignored

**Actual Behavior**:
IDE0018 is raised when var has an `out`

https://developercommunity.visualstudio.com/content/problem/8924/ide0018-false-suggestion.html

[2017-02-13 13:37] deepumi opened #17108 "String Interpolation highlight issue"
**Version Used:**
VS 2017, VS 2015
C# 6.0

String interpolation does not highlight argument(s) if a string contains colon character ":". Please refer the screenshot for more info.

**Actual Behavior**

![image](https://cloud.githubusercontent.com/assets/554039/22885405/4a8eef22-f1c7-11e6-8689-cb4584217a4f.png)

**Expected Behavior**

![image](https://cloud.githubusercontent.com/assets/554039/22885

[2017-02-13 13:49] AqlaSolutions commented on #13952
I need this! Why is it abandoned?

[2017-02-13 16:10] jnm2 commented on #16897
Loading DLLs and jitting the codepaths?

[2017-02-13 16:12] tannergooding commented on #11018
This has been ported to https://github.com/dotnet/csharplang/issues/78

[2017-02-13 16:12] #11018 closed

[2017-02-13 16:13] tannergooding commented on #13119
Ported to https://github.com/dotnet/csharplang/issues/79

[2017-02-13 16:13] #13119 closed

[2017-02-13 16:13] jnm2 commented on #17104
I don't think I'd like local functions to be listed in the class member list, neither would I like having yet another dropdown at the top! What I would like this for the classes and members dropdowns to be unified to a single hierarchical dropdown so I can navigate the entire source file at once without switching back and forth between dropdowns.

Then optionally local functions could be nested in

[2017-02-13 16:14] tannergooding commented on #13240
Ported to https://github.com/dotnet/csharplang/issues/80

[2017-02-13 16:14] #13240 closed

[2017-02-13 16:15] jnm2 commented on #17108
This has bothered me for ages. :') `{key}` should keep the underline (blue if possible) but be white.

[2017-02-13 16:34] miloush commented on #17104
@jnm2 isn't that what Solution Explorer does?

[2017-02-13 16:38] jnm2 commented on #17104
@miloush Not really, because I can't see everything at once in the file without clicking on each node to expand it. Plus I usually have Solution Explorer on another monitor.

[2017-02-13 17:51] 0xd4d commented on #17108
It happens because the text editor has a URL classifier that uses a color that has a higher priority than most other colors. It has no idea about any programming languages and just highlights anything that looks like a link.

A workaround if you don't like to see any highlighted links: disable "Enable single-click URL navigation" in Text Editor / C# / General.

[2017-02-13 17:56] deepumi commented on #17108
@0xd4d I am talking about the argument highlighting issue not the URL.

[2017-02-13 17:58] 0xd4d commented on #17108
@deepumi it's becuase of the URL classifier that the arguments are blue. Its color has higher priority than the other colors you see above. End result: blue text.

[2017-02-13 18:04] DustinCampbell commented on #17104
This is a duplicate of https://github.com/dotnet/roslyn/issues/8648. If you feel strongly about this, we can continue the discussion there.

[2017-02-13 18:04] #17104 closed

[2017-02-13 18:14] jmarolf commented on #14052
fixed with #17102

[2017-02-13 18:14] #14052 closed

[2017-02-13 18:17] miloush commented on #17104
@jnm2 you can set the solution explorer to track the active file, and activate it using keyboard. However I do see the point about expanding the tree, I think it's a bug that the star key does not work to expand it all the way down. Also note that you can create new SE views and scope them to the file, although there seems to be another bug of not showing the classes in that case. Yeah, I don't se

[2017-02-13 18:20] miloush commented on #8648
For the record I was missing a way to navigate to a local function which I know how it's named or where it was. Be it in the navigation bar or through GoToAll doesn't matter, but there should be a way to get there easily without mouse.

[2017-02-13 18:52] tannergooding opened #17109 "Array constructor currently falls under the csharp_style_var_elsewhere category."
If you have an  `.editorconfig` file configured with the following:
[code]

Then, the following statement causes `IDE0008: Use explicit type instead of 'var'`:
[code]

Repro Solution: [ClassLibrary.zip](https://github.com/dotnet/roslyn/files/772064/ClassLibrary.zip)

[2017-02-13 18:52] tannergooding commented on #17109
FYI. @jmarolf

[2017-02-13 19:09] tannergooding commented on #17109
Also FYI. @dotnet/roslyn-ide

[2017-02-13 19:10] OmarTawfik commented on #14218
@CyrusNajmabadi can you please take a look? should this be closed now?

[2017-02-13 19:31] jcouv commented on #17003
Consider adding this to the [IDE test plan](https://github.com/dotnet/roslyn/blob/master/docs/contributing/IDE%20Test%20Plan.md) template.

[2017-02-13 19:35] asdfgasdfsafgsdfa commented on #16897
Yes that would play a **part** in contributing to the time most likely.
But I doubt that's normal, I don't have a slow computer.
3 seconds for just loading the dll(s)? That definitely is excessive, something else must be going on for sure.

[2017-02-13 19:38] gafter commented on #17107
The suggestion to inline the variable declaration looks perfectly reasonable in this context, as variables may be declared in an `out` parameter in C# 7.

[2017-02-13 19:52] epsitec commented on #16897
@VSadov any idea of what might be going on in the sample code provided [here](https://github.com/epsitec/rnd-csharpscript-netstandard) and why Roslyn is unexpectedly slow?

[2017-02-13 20:31] jcouv opened #17111 "Write specification for target-typed default prototype"
Relates to prototype work #13602

[2017-02-13 20:54] OmarTawfik commented on #16294
@jods4 is it possible to share the code snippet that is crashing?

[2017-02-13 20:58] Korporal opened #17114 "Supported nested yield sequences"
Support automatic enumeration of sequences that appear after a "yield return" statement.

The following code is not valid C#

    class Program
    {
        static void Main(string[] args)
        {
        }

        private IEnumerable<int> Values
        {
            get
            {
                yield return 1;
                yield return 2;
                yield return 3;

[2017-02-13 21:13] jods4 commented on #16294
Unfortunately not, it's a complex large closed-source solution :(
And I am not sure what triggers the error, I just noticed it.

I don't know if it can be related or not but I disabled Lightweight solution loading and since then several problems I had disappeared. For example I have not noticed that specific error since then, despite working on the solution quite a lot.

[2017-02-13 21:15] tmat commented on #16897
@epsitec As I mentioned, based on your profile I think this is caused by #5517. The reference binding is slow and not being reused across scripts.

[2017-02-13 21:26] YaakovDavis commented on #17114
What about the following case?

[code]

Should `Values` return `c`, or iterate it?
In F# it's unambiguous due to the special `yield!` syntax. If C# is to support such "digging", it should have a special syntax as well.

Suggestion:
```yield enumerate c;```

[2017-02-13 21:37] Korporal commented on #17114
That did vaguely cross my mind, but in this case the property (Values) specifies a return type IEnumerable<int> not IEnumerable<IEnumerable<int>>.

So I guess in the general case if the expression following yield return is a T return the T as is done today, else enumerate (so far as necessary) and return the individual Ts.

So if e is IEnumerable<T> enumerate these with a compiler generated foreac

[2017-02-13 21:37] miloush commented on #17107
@gafter the issue at the link is a bit different, it's a `foreach` and reuses the out variable after the cycle.

[2017-02-13 21:38] tmat opened #17116 "C# interactive integration test failed: BclConsoleCall"
https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration/313/

[code]

[2017-02-13 21:41] miloush opened #17117 "InvalidCastException in CSharpInlineDeclarationCodeFixProvider"
**Version Used**: 26206

**Steps to Reproduce**:
[code]
Invoke quick action on the first line.

**Actual Behavior**:
[code]

[2017-02-13 21:42] YaakovDavis commented on #17114
I noticed that I had an error in the code (forgot the generic arg); fixed.
See the updated example.

[2017-02-13 21:47] Korporal commented on #17114
Let me show this to better make my case:

        private IEnumerable<int> Values
        {
            get
            {
                yield return 1;
                yield return 2;
                yield return 3;

                foreach (var e in Others)
                    yield return e;

                return Others;
            }
        }

This is illegal C# currently despite the fact

[2017-02-13 21:48] tmat commented on #17093
@tannergooding Was the reason why there are unofficial binaries being used figured out?

[2017-02-13 21:49] YaakovDavis commented on #17114
I forgot the generic arg in my example above, please check the updated example.
It's not about a standalone `return` (which isn't allowed even today IIRC, once you use `yield`). The `yield return` itself is ambiguous in my case.

[2017-02-13 21:49] balajikris commented on #17109
I think you want to start looking here: [IsTypeApparentInDeclaration](https://github.com/dotnet/roslyn/blob/a0a0ca19d7c941cd46d0ce72b60efb63bd076e88/src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpTypeStyleDiagnosticAnalyzerBase.State.cs#L75)

[2017-02-13 21:50] gafter commented on #17107
@miloush That may be true. I'm commenting on *this* issue.

[2017-02-13 21:53] tannergooding commented on #17093
Not yet

[2017-02-13 21:56] Korporal commented on #17114
I'm not seeing the ambiguity (not saying there isn't one - just not seeing it). Can you post more representative C#?

[2017-02-13 22:20] mattwar commented on #16897
This is what I get running a simple test in a VM with latest RC4 Rolyn script bits. (2.4ghz Xeon E5-2673)

[code]
2048 : Run first script.
6 : Run new script (warm).
2 : Run separate script continued new from shared script (warm).
0 : Run same script over and over again (warm).
[code]

[2017-02-13 22:27] KirillOsenkov opened #17118 "Need docs about GlobalStatementSyntax"
As a user, how do I find out about the purpose of GlobalStatementSyntax? Is it documented anywhere?

[2017-02-13 22:36] HaloFour commented on #17114
Proposals and discussions regarding the C# language are moving to the following repo:

https://github.com/dotnet/csharplang

[2017-02-13 22:49] asdfgasdfsafgsdfa commented on #16897
can you do the same for `code = "return (Func<object, string>)(x => x.ToString() + \"123\")"` ?
just curious, you don't have to execute the func that gets returned

[2017-02-13 22:53] tmat commented on #17118
We also need a scripting specification.

[2017-02-13 22:55] 0xd4d opened #17119 "'IDE0027 Use expression body for accessors' removes newline after getter"
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

1. Add code
[code]

2. `Ctrl+.` + `Enter` at `get`

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2017-02-13 23:10] mattwar commented on #16897
@asdfgasdfsafgsdfa  sure..

This is the modified test:

[code]

And here is the timing results:

[code]

[2017-02-13 23:13] mattwar commented on #16897
Lesson to learn.  If you are going to run a lot of small disjoint scripts, you should have them all extend a common empty script.

If you want to hide the start-up time of the first compile & run script then you should execute the empty script async on a background thread (maybe Task.Run), and then depending on your app it is likely this work is already done by the time you execute the first real

[2017-02-13 23:28] mattwar commented on #16897
Here is a simple command line REPL.  With precomputing the first script asynchronously, you probably won't notice any delay by the time you issue your first request.

[code]

[2017-02-13 23:34] AdamSpeight2008 commented on #17118
@KirillOsenkov  Check on the roslyn repo, as it was implemented back on there. It is used in vb the put the namespace into the topmost gloval namespace eg. `Global.Microsoft`

[2017-02-13 23:35] 0xd4d opened #17120 "'IDE0022 Use expression body for methods' removes '#endif'"
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

1. Add code

[code]

2. `Ctrl+.` + `Enter` at `Console`

**Expected Behavior**:

`#endif` is not removed, and in this particular example, the code is unchanged.

**Actual Behavior**:

[code]

[2017-02-13 23:38] gafter commented on #17103
@controlflow I could not reproduce this issue in the latest code base. This test passes:

[code]

And similarly a new project in Visual Studio with that code behaves properly. I suspect you're using an older version of Visual Studio or Roslyn. Can you please verify?

[2017-02-13 23:44] jcouv opened #17121 "Compiler does not take all inputs into account for determinism"
In discussion about editorconfig today, a number of scenarios were mentioned that we know or suspect are not properly accounted for in determinism:
- additional files
- rulesets
- included rulesets from ruleset

FYI @jaredpar

[2017-02-13 23:45] 0xd4d opened #17122 "'IDE0019 Use pattern matching' generates invalid code if type is a nullable type"
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

1. Add code

[code]

2. `Ctrl+.` + `Enter` at `var`

**Expected Behavior**:

Nothing happens since the refactored code won't compile.

**Actual Behavior**:

[code]

[2017-02-14 00:03] AdamSpeight2008 opened #17124 "[Proposal] Convert VB Unit Tests to Multiline String Literals."
Now the VB.net supports multi-line string literals, the usage of XML Literals can be lessened.
The conversion will have to be carefully done as the XML-Literal are white case sensitive as well as indentation aware, they also include escaped characters.
There is a potential gain in test performance and memory usage.

[2017-02-14 00:03] OmarTawfik opened #17125 "Bad error message on const ref fields"
**Valid code:**

[code]
**Invalid code:**

[code]

**Expected:** an error message on `const` specifying that you cannot use `ref` and `const` modifiers together.

**Found:** parser fails with the following errors:

![image](https://cloud.githubusercontent.com/assets/15987992/22908885/be566078-f205-11e6-9d7c-ce71740ecac7.png)

1. CS1525	Invalid expression term 'ref'
2. CS1002	; expected
3. CS1001	I

[2017-02-14 00:04] 0xd4d opened #17126 "Inline temporary variable unindents new statement with comment"
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

1. Add code

[code]

2. `Ctrl+.` and `Enter` at `var`

**Expected Behavior**:

Indented code, something like this or perhaps the comment should stay where it was (inside the block)

[code]

**Actual Behavior**:

[code]

[2017-02-14 00:07] #17114 closed

[2017-02-14 00:12] gafter commented on #17117
/cc @jcouv This is a dup of #16306.

[2017-02-14 00:14] #17117 closed

[2017-02-14 00:14] 0xd4d opened #17129 "Inline temporary variable reformats multiline if condition, unindents the following lines"
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

1. Add code

[code]

2. `Ctrl+.` + `Enter` at `var`

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2017-02-14 00:15] miloush commented on #17117
Yeah, sorry, I tried to search for CSharpInlineDeclarationCodeFixProvider. My repro is a bit more compact though. :)

[2017-02-14 00:16] gafter commented on #17122
The code could be rewritten

[code]

[2017-02-14 00:18] AdamSpeight2008 opened #17130 "More PooledStringBuilder usage cases."
Been looking at moving the VB unit test to use multi-line string literals.
Spotted a few opportunities to use a pooled string builder,
In `ParserTestUtilities.vb` and `CompilationTestUtilities.vb` which should reduce the memory usage.

#17134

[2017-02-14 00:18] gafter commented on #17124
@dotnet/roslyn-compiler I'm not marking this as up-for-grabs as I'm not confident we would want to take the time to review a submission without evidence of real gains.

[2017-02-14 00:21] gafter commented on #14218
@OmarTawfik A good way of disposing of this issue is to add a new (or identify an existing) test for it.

[2017-02-14 00:22] davkean opened #17131 "IntelliSense still outputs "errors" in the Output window when it cannot file files due to races"
1. Create a new Console App (.NET Framework)
2. Delete Program.cs

Expected: No error
Actual in the Output window I get this "error":

[code]

[2017-02-14 00:22] OmarTawfik opened #17132 "Inlining ref returns scenario needs to be enabled through IDE"
Inlining Code Action need to be implemented for ref returns.
See below code, #12838, and #17053.
The test `WithRefInitializer1` was implemented in https://github.com/dotnet/roslyn/commit/c7349324e98e5a9dbc38b9c8a89f09b41d3c2012 to make sure a fixer doesn't appear for ref returns until the feature is properly implemented/tested.

[code]

[2017-02-14 00:23] davkean commented on #17131
I was under the impression this was being fixed for this release - but cannot see a bug that represents it.

[2017-02-14 00:23] 0xd4d commented on #17120
It also removes comments

[code]

=>

[code]

[2017-02-14 00:25] AdamSpeight2008 commented on #17124
Could we at put it on a separate branch to attract `Up-For-Grabs` contributors? as it is big task.
Once it done, and there is evidence of gains merge back into the main repo?

[2017-02-14 00:32] 0xd4d commented on #17119
Same thing with normal methods:

[code]

=>

[code]

[2017-02-14 00:42] MadsTorgersen commented on #17054
Alright, folks. I've updated the READMEs, labels etc. over in [dotnet/csharplang](https://github.com/dotnet/csharplang) to reflect the use of issues there for discussion.

Any further discussion on how this works, **_let's have it over there!_** 😃

I haven't touched [dotnet/vblang](https://github.com/dotnet/vblang) yet. Let's run for a couple of days in C# and get the kinks worked out. But then _w

[2017-02-14 00:42] #17054 closed

[2017-02-14 00:54] svick commented on #17054
@MadsTorgersen Shouldn't [the Roslyn README](https://github.com/dotnet/roslyn/blob/master/README.md) also link to csharplang and vblang?

[2017-02-14 01:22] MadsTorgersen commented on #13686
In principle we should comply of course. This is a rather arbitrary restriction that we would probably never have made as a conscious design choice.

I'm a little concerned, though, about the comment's reference to ambiguities, and about the specter of breaking changes. We've lived like this for many years before we received our first complaint. Are we more likely to break someone than to help som

[2017-02-14 01:44] gafter commented on #13686
I don't feel strongly about this, but actually we've had *zero* complaints about this. I just reported something I noticed in the code. So unless @mattwar (or @DustinCampbell or @AnthonyDGreen) overrules me, I'll document it.

[2017-02-14 01:48] gafter commented on #17124
@AdamSpeight2008 You can make as many forks of the Roslyn repo as you want, and makes branches in there all you want. Evidence of real gains would not prompt us to merge it into the main repo. It would raise the issue to the level of us being willing to consider whether or not we would want to review it. And if we were willing to review it, then the outcome of that review would determine whether o

[2017-02-14 01:50] MadsTorgersen commented on #17054
@svick Great idea, do you feel like contributing a sentence or two there? 😀

[2017-02-14 03:59] gafter commented on #17121
I don't know what you mean by "not properly accounted for". Determinism means that identical inputs result in identical outputs. It does not mean that different inputs result in different outputs. The latter isn't possible, as the output is frequently smaller than the input.

[2017-02-14 04:10] #16896 closed

[2017-02-14 04:11] gafter commented on #7086
Since we're not going to do this, closing.

[2017-02-14 04:11] #7086 closed

[2017-02-14 04:12] jnm2 commented on #16896
@msfcolombo Can you move this to dotnet/csharplang please?

[2017-02-14 04:51] eyalsk commented on #15974
@Thaina Now, that it was added to the backlog you may want to delete all the posts and/or edit your posts and delete all the irrelevant things. I've done so too.

[2017-02-14 05:43] 0xd4d opened #17135 "Ternary operator used inside tuple creation expression causes compiler errors"
**Version Used**: VS2017RC.4

[code]

[code]

When hovering over the error (span: `b ? Field2`), QuickInfo shows two errors:

- A declaration is not allowed in this context.
- Use of unassigned local variable 'Field2'

Is this correct behavior? Did I miss something obvious?

[2017-02-14 05:52] epsitec commented on #16897
@tmat can you clarify what you mean by _based on your profile_ and why this relates to #5517 ?

Following code, all executed inside .NET 4.6.2 program, with no mixing of .NET Standard libraries, and just using `ScriptOptions.Default` is still slow:

[code]

Calling into it with:

[code]

[2017-02-14 06:03] tmat commented on #16897
@epsitec

These numbers suggest a lot of time spent in ReferenceManager:
![image](https://cloud.githubusercontent.com/assets/41759/22917191/20e1dff6-f238-11e6-99bf-846a9a87d6af.png)

#5517 describes an issue where we might not be reusing results of assembly binding between scripts that are chained. I'm not sure if that's still the case. The numbers @mattwar measured are not consistent with that hy

[2017-02-14 06:10] jcouv commented on #17121
My understanding is there is a hash embedded in the output file properties, which is computed from various inputs (including content hash for source files). But not all inputs.
I'll let @jaredpar confirm or clarify.

[2017-02-14 06:34] DustinCampbell commented on #13686
:smile: I'm surprised by the behavior, but I'm also with @MadsTorgersen on this one. Documenting it sounds good to me!

[2017-02-14 08:27] eyalsk opened #17136 "Extensions per solution support"
Sometimes I find myself in situations where I wish I had the option to disable/enable specific extensions for specific solutions mainly for two reasons:

1. The extension is heavy and opening large solutions can take quite some time so you're in the mercy of the vendor to improve the experience, the classic example is using R# with large projects.

2. The extension shouldn't even load because the

[2017-02-14 08:41] ArgTang commented on #17107
You are right, i haven't used that feature before. The (google/bing) search for IDE0018 does not give a good answer yet.

[2017-02-14 11:31] Logerfo commented on #16166
Would the code below be an an achievable optimization?
[code]

[2017-02-14 11:33] alrz commented on #16166
@Logerfo Yes. Looking at the tests, that's what has been implemented.

[2017-02-14 11:38] Logerfo commented on #16166
@alrz is it? http://tryroslyn.azurewebsites.net/#b:master/f:r/MYGwhgzhAEDC0G8BQ1oEsB2AXaBZAFAJQqImoBuYATtPgPoA00ApodALy0CMTATIQG4y0KsywBXKhhZDUAXyRygA

[2017-02-14 11:43] alrz commented on #16166
It's not merged yet. See the linked PR.

[2017-02-14 11:51] Logerfo commented on #16166
@alrz Oh, I see. That's great, then.

[2017-02-14 12:16] controlflow commented on #17103
Argh, looks like I got confused by ILSpy's [decompiled C# code](http://tryroslyn.azurewebsites.net/#b:master/f:r/K4Zwlgdg5gBAygTxAFwKYFsDcAobAHYAIwBswBjGM4gQxBBgAUAnAeyievWwG9sZ+YBEuRgpqyEQDcWYACYwAstUgAKAJR8BvATpjbdBwgjQxCMALwwAjACYcBgwGEWEEC2KoAdAHUmYNAAykKgqZmD0tmqYMAD0MTAAKkzAqJoOAs6u7l6+/qhBECFhEQDMUbHxAGLUxCCp6QC+abrNOpluHj5+gcEqAJIgACw2KsNqUa0ZLh053fm9A8OjZRM6TTrNYhIUhCzuMIsjRiaEahYAfKYw4TD

[2017-02-14 12:19] controlflow commented on #17135
Looks like this is caused by allowed declaration expression parsing inside tuple literal expression.
`b? Field` is parsed as a declaration expression of nullable type `b` with `Field` variable designation, `:` is unexpected token after...

[2017-02-14 12:40] be5invis commented on #16312
But didn't we already have interfaces?

[code]

[2017-02-14 12:54] orthoxerox commented on #16312
@be5invis Could you explain the difference between your proposal and the OP in more detail, please?

[2017-02-14 12:58] be5invis commented on #16312
@orthoxerox I am replying some other replies introduces too many keywords.
@MattWindsor91’s proposal looks very Idris-ish...

[2017-02-14 13:03] snboisen commented on #13015
Oh wow, so _ was possible after all. So happy C# ends up following the same notation used in F# and many other functional languages! 🎉 🎉 🎉
Fantastic job working through the difficulties!

[2017-02-14 13:14] controlflow opened #17138 "Compiler crash: discard designation in expression tree lambda"
**Version Used**:

Master branch @ Feb 14

**Steps to Reproduce**:

Compile the following code:
[code]
Or with shorter form of discard:
[code]

**Expected Behavior**:

Compiler error, similar to "error CS8198: An expression tree may not contain an out argument variable declaration."

**Actual Behavior**:

[code]

[2017-02-14 14:05] jods4 opened #17139 ""Find All References" misses results"
On VS 2017 RC, Feb 7th update.

I have the following `public const string DealGroupValidated` in a partial class. As you can see in the screen shot, it _is_ used in one place.

![image](https://cloud.githubusercontent.com/assets/3832820/22931906/b949d08a-f2c6-11e6-8aee-d3875098e80e.png)

Yet, when I perform a _Find All References_ on this field, it comes up empty.
![image](https://cloud.githubuser

[2017-02-14 14:12] controlflow opened #17140 "Type system HOLE: ref returns are not considered as invariant during variance checking"
**Version Used**:

Master branch @ February 14

**Steps to Reproduce**:

Compile the following code:
[code]

**Expected Behavior**:

Compiler error, similar to CS1961 in the example below:
[code]

**Actual Behavior**:

Code compiles without a single error, program crashes at runtime:

[2017-02-14 14:12] jnm2 commented on #13015
@HaloFour is still saying "over his dead body" :D

[2017-02-14 14:18] josefpihrt opened #17141 "Code fix for CS0428 does not fix the error."
**Version Used**: Visual Studio 2017 RC 15.0.0-RC3+26127.0

**Code to Reproduce**:
[code]

* The code fix is erroneous so it should not be suggested.
* Or it should suggest "Change 'Count' to 'Length'".

[2017-02-14 14:27] HaloFour commented on #13015
@jnm2 Not my place to say that.  I expressed my opinion and the team decided to go that route anyway.  No biggie.  But now there is the liability and onus to educate everyone on the behavior of this feature.

[2017-02-14 14:32] jaredpar commented on #13686
Definitely document.  The thought of making a change here is mildly terrifying.

[2017-02-14 14:36] jaredpar commented on #17121
The other goal of determinism though is content enabled caching.  In order to have proper content enabled caching the compiler at minimum needs to have a full documentation of what is part of the compiler input set.  I do not believe these items are properly labeled as part of that set.

[2017-02-14 15:12] gulshan commented on #16160
I want to add lightweight(local-only) Actor models like nAct and this one to the list- https://github.com/David-Desmaisons/EasyActor
They uses async method calls instead of message passing. A normal worker class attributed as `[Actor]` can be code generated to have basic thread management(attached to a specific thread) where the methods marked as `[Actor.Message]` would be put inside a async Task

[2017-02-14 17:58] jasonmalinowski opened #17143 "IDE test plan needs serious updating"
Our [IDE test plan](https://github.com/dotnet/roslyn/blob/master/docs/contributing/IDE%20Test%20Plan.md) needs some serious updating. Turns out we also had an internal OneNote page that had some overlap.

[2017-02-14 18:09] #17107 closed

[2017-02-14 18:13] gafter commented on #17103
I'll keep this issue open for the addition of a couple of tests in this area.

[2017-02-14 18:37] gafter commented on #13686
"Mildly terrifying"? Is that an oxymoron? 😉

OK, Document it is.

[2017-02-14 18:39] gafter commented on #17121
I understand now.

[2017-02-14 18:53] #14146 closed

[2017-02-14 20:47] Pilchie commented on #17136
This isn't something within Roslyn's ability - this is probably something that should go on the Visual Studio UserVoice or Developer Community site.

[2017-02-14 20:47] #17136 closed

[2017-02-14 21:05] eyalsk commented on #17136
@Pilchie Okay, I'll post it there, thanks.

[2017-02-14 21:05] jcouv opened #17147 "Diagnostic for invalid langversion flag was not updated for C# 7"
The message should mention "7" and also "latest".

[code]

FYI @gafter

[2017-02-14 21:13] #15945 closed

[2017-02-14 21:13] #14119 closed

[2017-02-14 21:13] #15903 closed

[2017-02-14 21:13] #16460 closed

[2017-02-14 21:13] #16650 closed

[2017-02-14 21:13] #16947 closed

[2017-02-14 21:13] #17056 closed

[2017-02-14 21:46] gafter commented on #17140
This kind of bug makes me even more fearful of the bugs we're not detecting because we're not testing using a verifier on the results of compiling programs that contain ref returns.

[2017-02-14 21:49] gafter commented on #17138
Note that this does *not* crash the IDE.

[2017-02-14 21:54] gafter commented on #17135
Fixed in #16834.

[2017-02-14 21:54] #17135 closed

[2017-02-14 22:11] msfcolombo commented on #16896
Thanks. Created [csharplang issue 85](https://github.com/dotnet/csharplang/issues/85).

[2017-02-14 22:12] VSadov commented on #16781
Under no conditions `Alice():=1` would fit the syntax model of `NameColonEquals`.

I do not have other repros, but in theory it does not need to be in a tuple.
Whenever there is a case of `Alice:=1` and `Alice` happens to bind to a method, due to a bug or for a valid reason - this crash will reproduce.

CodeCleanup should not make an invalid syntax transformation conditional on semantics.

[2017-02-14 22:26] jmarolf opened #17148 "VS Crashes on solution reload"
**Version Used**:
![image](https://cloud.githubusercontent.com/assets/9797472/22952369/97afd7d0-f2c1-11e6-932c-4e61d7fa401f.png)

**Steps to Reproduce**:

1. Open Roslyn.sln
2. switch branch in github
3. select "Reload Solution" when Visual Studio detects the change

**Visual Studio Crashes With the Following Callstack:**
[code]

[2017-02-14 22:30] VSadov commented on #17140
Good catch!!
It appears we are missing tests for variance with ref returns.

[code]

[2017-02-14 22:32] controlflow commented on #17140
"Using verifier"? `PEVerify` was updated to allow more managed reference manipulations/returns to handle C# ref-returns usage patterns?

[2017-02-14 22:54] gafter commented on #17140
@controlflow No, that is part of the problem.

[2017-02-14 23:46] jasonmalinowski commented on #17042
Reactivating as I'm guessing @Pilchie wants to use this to track a 15.1 port.

[2017-02-15 00:12] jnm2 commented on #16824
@gafter Should I move this to csharplang?

[2017-02-15 00:13] jnm2 commented on #16745
@gafter Should I move this to csharplang?

[2017-02-15 00:13] jnm2 commented on #9523
@gafter Should I move this to csharplang?

[2017-02-15 00:26] eyalsk commented on #16745
@jnm2 Why not? but because it's your own proposal I think that you should rewrite it based on this [template](https://github.com/dotnet/csharplang/blob/master/proposals/proposal-template.md) and maybe change things based on the feedback you got here as opposed to just copy/paste it.

[2017-02-15 00:28] noblethrasher opened #17154 "No warning (CS0219) on local variables that initialized with interpolated strings, but whose values are never used"
**Version Used**:

Visual Studio Community 2015
Version 14.0.23107.0 D14REL

**Steps to Reproduce**:

Declare and initialize a local variable with an interpolated string, but don't subsequently use the variable.

E.g.

    static void Main(string[] args)
    {
         var name = "Whatever";
         var foo = "Hello, world {name}";   //warning CS2019 since 'foo' is not used.
         var bar = $"

[2017-02-15 00:43] jnm2 commented on #16745
@eyalsk @gafter I've also got a really tempting ZenHub Move Issue button right here that would take the conversation over. Opinions?

[2017-02-15 00:44] #14731 closed

[2017-02-15 00:51] eyalsk commented on #16745
@jnm2 Well, I guess you can do that as long as you feel that there's nothing to add and it's fine as is even though I'd say that you have an "opportunity" here to rewrite it based on the feedback. 😉

[2017-02-15 01:13] 0xd4d commented on #17154
I think it's because there's a call to `string.Format()`. This is consistent with similar code that also don't report this warning.

[code]

IMHO, there should be a warning message but perhaps it would be considered a breaking change.

[2017-02-15 01:38] #11602 closed

[2017-02-15 01:40] jasonmalinowski commented on #16998
@jaredpar: hard to tell from @AdamSpeight2008's description here. Is this a bug some checksum calculator, just some flaky compiler tests, or both?

[2017-02-15 01:49] jcouv opened #17155 "VerifyDiagnostics doesn't print out WithLocation in assertion message"
Take a unittest that expects more than one diagnostic. Delete one of them.
Run the test and look at the assertion message.
Some of the locations are missing.

[code]

[code]

FYI @AlekseyTs

[2017-02-15 03:30] gafter commented on #17154
Dup of #2271

[2017-02-15 03:30] #17154 closed

[2017-02-15 05:07] AdamSpeight2008 commented on #16998
@jasonmalinowski I think that the test runner infrastructure could be flakey.
I on the branch I'm using all of the test pass. Yet I still get the `Unable to calculate content file for ...` messages.

[2017-02-15 05:50] AdamSpeight2008 commented on #16998
@jasonmalinowski @jaredpar  I'm gonna add an additional line after this [one](https://github.com/dotnet/roslyn/blob/da840c51a2088466a300eda658328ae96da69b20/src/Tools/Source/RunTests/Cache/CachingTestExecutor.cs#L42), to output the message to console.

[2017-02-15 05:58] AdamSpeight2008 commented on #16998
Snipped section from output.
[code]

[2017-02-15 06:27] AdamSpeight2008 commented on #16998
A repair of visual studio doesn't help either.

[2017-02-15 07:16] vczh commented on #16312
This means that in the future, when I create a new type which is comparable, besides having to implement IComparable and IEquitable, I have to do the same thing with IOrd again ... which is painful.

Since we already have:
- IComparable<T>
- void DoSomething<T>(T t) where T:IComparable<T> { ... }
- Partial Class (implementing IOrd<T> outside of T is just add a partial class of T which extends IOrd

[2017-02-15 07:48] paulomorgado opened #17157 "C# Interactive doesn't work with tuple syntax."
**Version Used**:
Microsoft Visual Studio Enterprise 2017 RC 15.9.9-RC4+26206.0
Microsoft (R) Visual C# Interactive Compiler version 2.0.0.61404

**Steps to Reproduce**:

* Microsoft Visual Studio Enterprise 2017 RC 15.9.9-RC4+26206.0
1. Open the **C# Interactive** window.
2. Enter `(1,2)`

* Microsoft (R) Visual C# Interactive Compiler version 2.0.0.61404
1. Run `csi.exe`
2. Enter `(1,2)`

**Expe

[2017-02-15 08:02] tmat commented on #17157
The important piece of information here is that the machine has a pre-release version of .NET Framework 4.7

[2017-02-15 09:08] paulomorgado commented on #17157
Or, if you think as a customer, the customer installed VS2017 and tuples don't work on interactive environments.

Isn't .NET Framework 4.7 a requirement of VS2017? I sure didn't explicitly install it.

[2017-02-15 11:59] Giftednewt commented on #17096
@jmarolf Always glad to contribute 😄

[2017-02-15 12:54] Logerfo commented on #14063
This happened to me, RC version 26206.00, but I can't find the steps to reproduce either. Also I'm not sure if that would be the same issue as OP, but here's the call stack, anyway:

[code]

[2017-02-15 16:03] jaredpar commented on #16998
That shouldn't affect anything here.  Our unit tests run independently of Visual Studio.

[2017-02-15 16:09] jake-brandt commented on #3705
Is there any reason why the analyzers are running against code in the obj ("intermediate output") folder? I've even gone so far as to move our immediate output to a ".output" directory outside of the project folder (still within solution folder to keep build definitions simple). Analayzers are still looking at the generated AssemblyInfo.cs. Currently I'm just going to have to suppress CS0579 I bel

[2017-02-15 16:10] jake-brandt commented on #3705
It appears this is related to [https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/726](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/726)

[2017-02-15 16:11] jake-brandt commented on #3705
#https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/726

[2017-02-15 16:12] jake-brandt commented on #3705
If there is anything I can do with a pull request let me know - happy to help as I would love to have this running for our projects.

[2017-02-15 16:26] nonbob commented on #1891
+1

[2017-02-15 17:24] tmat commented on #17157
It is not. Windows Insider update would install it.

[2017-02-15 17:48] Pilchie commented on #16949
@kuhlenh, @DustinCampbell, and I discussed this - we don't think this is high enough value, and has enough doubt to work on right now.  We'd rather see improvements to "Add Braces" to work as a refactoring if there is a selection, and to adjust the trigger span to work in the embedded statement, not just on the `if`.

If you wanted to work on your proposal, I would suggest making it a separate ext

[2017-02-15 17:48] #16949 closed

[2017-02-15 17:51] YotaXP commented on #17108
Perhaps, but `{key}` should not be interpreted as being part of the URL itself when inside an interpolated string, as any attempt to navigate to it will almost certainly fail.

[2017-02-15 17:51] #17099 closed

[2017-02-15 17:55] Pilchie commented on #16988
We were unable to reproduce this with VS 2017 RC.4 - can you give that a try and let us know if it still happens.

[2017-02-15 17:55] #16988 closed

[2017-02-15 17:58] Pilchie commented on #17006
This is a duplicate of https://github.com/dotnet/roslyn/issues/7053.

[2017-02-15 17:58] #17006 closed

[2017-02-15 17:59] Pilchie commented on #17007
Duplicate of https://github.com/dotnet/roslyn/issues/15648

[2017-02-15 18:05] Pilchie commented on #17028
We agree that it's probably just worth disabling this in `Expression` contexts.

[2017-02-15 18:06] Pilchie commented on #17029
Fixed by #17069

[2017-02-15 18:06] #17029 closed

[2017-02-15 18:06] Pilchie commented on #9534
Fixed by #17069

[2017-02-15 18:10] #17007 closed

[2017-02-15 18:14] Pilchie commented on #17068
This is the same issue as https://github.com/dotnet/roslyn/issues/17042.  We'll work on getting a fix into 15.1.  In the meantime, this happens if your `.editorconfig` settings are different than your VS options :-(

[2017-02-15 18:14] #17068 closed

[2017-02-15 18:15] Pilchie commented on #17075
Please file on VSPlatform.

[2017-02-15 18:15] #17075 closed

[2017-02-15 18:19] Pilchie commented on #17108
I have internal bug 172884 tracking this as well, and @dpugh suggested:

•	In your tagger implementation, pass any GetTags() call on to the original tagger.
•	Examine the returned tags and exclude any that contain a $.

[2017-02-15 18:22] Pilchie commented on #17119
I'm pretty sure this is a dupe of #16386.

[2017-02-15 18:23] Pilchie commented on #17120
Would https://github.com/dotnet/roslyn/pull/16987 have fixed this?

[2017-02-15 18:25] Pilchie commented on #17126
Is this fixed by https://github.com/dotnet/roslyn/pull/17016?

[2017-02-15 18:26] Pilchie commented on #17131
Duplicate of https://github.com/dotnet/roslyn/issues/12202

[2017-02-15 18:26] #17131 closed

[2017-02-15 18:30] miloush commented on #17108
Or provide C#/VB aware URL tagger and deprecate the language-agnostic one? Perhaps Roslyn could opt out of it completely rather than going through the results and removing them afterwards, that sounds a bit like waste of user's time to me.

[2017-02-15 18:33] deepumi commented on #17108
Can't  Roslyn ignore colon character  **":"**?

[2017-02-15 18:33] Pilchie commented on #17141
This is the "Spell check" fix which just looks for similar identifiers.  However, we should consider a specific fix for CS0428 to add the parentheses.  And we should also consider a specific analyzer/fixer that suggests moving from `Count()` to `Length` if it exists.

[2017-02-15 18:33] gafter commented on #16824
@jnm2 Sure, if you'd like to discuss it further. But without a suggestion as to *how* it would work, I don't see how it can move past the discussion phase. Perhaps that discussion will trigger an idea in someone's head?

[2017-02-15 18:35] gafter commented on #9523
@jnm2 Sure, if you want to keep the discussion moving.

[2017-02-15 18:35] #10284 closed

[2017-02-15 18:35] miloush commented on #17108
@deepumi Roslyn is not doing it currently at all, it's a global Visual Studio feature.

[2017-02-15 18:36] Pilchie commented on #17129
I think this was fixed by https://github.com/dotnet/roslyn/pull/17016.

[2017-02-15 18:36] deepumi commented on #17108
@miloush Oh! got it. Thank you.

[2017-02-15 18:37] kuhlenh commented on #17051
Yes, here is the [editorconfig documentation](https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference).

[2017-02-15 18:37] Pilchie commented on #17148
Duplicate of #17001

[2017-02-15 18:37] #17148 closed

[2017-02-15 18:38] #17051 closed

[2017-02-15 18:44] #4691 closed

[2017-02-15 18:47] jcouv commented on #4691
The general problem is fixed by #16990, but `CS1998` still reports using the old location.
The reason for that is that multiple IDE refactorings rely on the span of the CS1998 warning to decide if some candidate fixes should be offered.
If you feel we should tackle this one too (since that was the example provided above), we can keep this issue open (and assign to me).

[2017-02-15 19:20] agocke commented on #15699
I'm going to close this as a dup.

[2017-02-15 19:20] #15699 closed

[2017-02-15 20:03] MattGertz commented on #16859
@heejaechang @srivatsn @panopticoncentral @tmeschter I've asked HeeJae & Paul to refocus on the OOP crashes in general.  **For this issue specifically**, given that we are seeing a rapidly rising count of hits, I'd like an RTW solution that does not crash VS, but instead provides some record that the service was shut down (ie. non-fatal Watson).

[2017-02-15 20:05] heejaechang commented on #16859
@MattGertz if we don't crash the VS, what should we do for VS? show users that VS might be unstable? some features such as code lens and etc won't work anymore?

[2017-02-15 20:08] MattGertz commented on #16859
Can we do InfoBar for now?  We can work out something better in subsequent releases.

[2017-02-15 20:09] heejaechang commented on #16859
@MattGertz we can, but now question is vs will be in unstable mode.

[2017-02-15 20:11] MattGertz commented on #16859
@heejaechang Yes, I understand that.  That's what the InfoBar message will say -- something like "Something bad happened, we recommend saving your work & restarting."  That way at least people won't lose stuff, and we'll still have the NFW to investigate.  Work with PM on the exact message.  Loc freeze is Friday, so need this before then.

[2017-02-15 20:14] srivatsn commented on #16859
Agreed. I think the message should say something about the process dying so that they can associate the killing of the process with the message.

[2017-02-15 20:18] heejaechang commented on #16859
alright then.

[2017-02-15 20:18] heejaechang commented on #16859
@morrisjoe are you still our PM?

[2017-02-15 20:34] #9542 closed

[2017-02-15 20:34] #16876 closed

[2017-02-15 20:34] #17088 closed

[2017-02-15 20:37] heejaechang commented on #16859
@MattGertz @srivatsn @morrisjoe another question. once OOP is gone, and we show users info bar.

if user decided to keep us VS, what should we do for features that used to run in OOP.

1. restart OOP and let users to keep use the features.
2. let users to use the features in proc.
3. disable all those features.

[2017-02-15 20:40] MattGertz commented on #16859
@heejaechang What do you recommend, based on cost & risk?  You've listed them in my preferred order.

[2017-02-15 20:40] paulomorgado commented on #17157
OK!

I've noticed that, although the interactive uses the mscorlib ValueTuple, in projects (.NET Framework or .NET Core), the System.ValueTuple package is required.

[2017-02-15 20:42] Pilchie opened #17164 "Reformat braces for methods/properties/accessors on enter"
Given code like:

[code]

If the user hits enter at `$$`, we should fix the newlines for all the braces:

[code]

Similarly for single line methods, etc.

[2017-02-15 20:47] MattGertz commented on #16859
BTW, the string for the InfoBar can be brought to Shiproom before the actual OOP change -- that way, it will give us a buffer on the localization work.  Work with @morrisjoe on that.

[2017-02-15 21:21] jmarolf opened #17165 "ExtractMethodMatrix.GetVariableStyle Throws exception on code with errors"
**Version Used**:
![image](https://cloud.githubusercontent.com/assets/9797472/22995888/8293500a-f381-11e6-923e-4d241adef2f9.png)

**Steps to Reproduce**:

1.  Use Alt+Arrow to move members into lambda that is an argument into a method that is missing semicolon

**Expected Behavior**:
No Crash

**Actual Behavior**:
[code]

Also reported at https://developercommunity.visualstudio.com/content/problem

[2017-02-15 21:29] heejaechang commented on #16859
@MattGertz

First, whatever I do, there will be a chance VS might still crash when OOP goes away. not because I explicitly kill VS, but because some unpredictable unhandled exception caused by forcefully closed connection to OOP.

(2) is the cheapest. problem is it can cause OOM (FSA, codelens, LUT all running in proc)

(1) and (3) are about same work.

but (3) will be safer since it doesn't try t

[2017-02-15 21:31] MattGertz commented on #16859
I will ask Shiproom for guidance in a few minutes and will loop back.

[2017-02-15 21:35] srivatsn commented on #16859
I don't think we should do (2). That opens up a support vector - if features continue to work even if I kill that other process, then we have always to test both scenarios and ensure both works. I think it's safest to do (3) or option (4) show info bar and do nothing. VS will be unstable and it's best for the user to restart anyway.

[2017-02-15 21:38] davkean commented on #12202
The temporary files are being tracked by this: https://github.com/Microsoft/msbuild/issues/1646.

[2017-02-15 21:38] #7922 closed

[2017-02-15 21:39] davkean commented on #12202
However, we output an error every time someone deletes a file from a project.

[2017-02-15 21:40] heejaechang commented on #16859
@srivatsn if we do nothing, then (2) happens.

[2017-02-15 21:49] MattGertz commented on #16859
@heejaechang Second option.

[2017-02-15 21:50] MattGertz commented on #16859
Need to verify that all features work in-proc ,  though.   And please front-end string to Loc.

[2017-02-15 21:56] heejaechang commented on #16859
@MattGertz @srivatsn so decided to this?

(2) is the cheapest. problem is it can cause OOM (FSA, codelens, LUT all running in proc)

[2017-02-15 21:57] MattGertz commented on #16859
Also add a telemetry point in addition to the NFW.   Although NFW  will give us data,  a telemetry point will get to us faster & will be easier to use to watch trends.

[2017-02-15 21:59] MattGertz commented on #16859
Yes,  please go ahead.  We understand that it may OOM.

[2017-02-15 21:59] jaredpar commented on #7926
Have not seen this in recent builds.

[2017-02-15 21:59] #7926 closed

[2017-02-15 22:02] #10027 closed

[2017-02-15 22:04] #8988 closed

[2017-02-15 22:10] jaredpar commented on #9306
Fixed now with our recent obsolete checking work.

[2017-02-15 22:10] #9306 closed

[2017-02-15 22:12] #10022 closed

[2017-02-15 22:14] jaredpar commented on #10293
Given this is a language proposal we should move this to dotnet/vblang.  Closing here.

[2017-02-15 22:14] #10293 closed

[2017-02-15 23:17] CyrusNajmabadi commented on #17087
How would we know what properties to hook up your parameters to?  There are no names or anything else to figure it out.

[2017-02-15 23:20] CyrusNajmabadi commented on #17139
Can you provide a repro project?

[2017-02-15 23:21] #12838 closed

[2017-02-15 23:30] davkean opened #17171 "Extracting class to a separate file does not add EOL in the end of the file"
@krwq said:

This issue was moved from: https://github.com/dotnet/roslyn-project-system/issues/1564

[2017-02-15 23:47] kuhlenh commented on #17087
@CyrusNajmabadi you are brilliant! I am sure you will come up with something 😄

[2017-02-15 23:56] CyrusNajmabadi commented on #17087
Seriously though. I'm not sure what you're asking for.  Can you explain how you think this should be working?  Thanks :-)

[2017-02-16 00:09] kuhlenh commented on #17087
All I did was add a parameter to an object instance that already existed. I wanted the IDE to know that all I did was add a parameter and to then generate a constructor using the new parameter and my existing properties...not just make a whole new set of fields.

[2017-02-16 00:12] jods4 commented on #17139
@CyrusNajmabadi not easily. It's a large private solution :(

I don't know what triggers the bug but this is as well as I can describe it:
- ASP.NET Core project (csproj);
- Lightweight solution loading disabled;
- A `public static partial class` that spans many files, each with...
- one large `public const string` verbatim string (`@"...."`).
- It's used from other classes in the same project, by

[2017-02-16 00:22] jmarolf commented on #17087
I would just match based on indentifier and type.  In C#, if there is a property name `Age` of type `int` and I pass in `int age`  to the constructor it would make send to do `this.Age = age`.  Obviously once this pattern is violated we would cease offering the more specific refactoring

[2017-02-16 00:34] VSadov opened #17173 "Work items for LanguageVersion 7.1 and point releases"
Update (jcouv): Updated the issue to capture proposal and open issues.

Here's the current proposal:

In the IDE, the dropdown will just have new entries, “C# 7.1”, …, “C# 8.0”, in addition to current options.
It will also have a new entry “latest”, which means ‘latest latest’ version. The existing “default” option means ‘latest major’ version.
We will likely re-label “latest” and “default” to fri

[2017-02-16 00:40] CyrusNajmabadi commented on #17087
Kasey, how did you want us to map those random parameters (like 71) to a property?

Are you saying you just want an add-parameter feature?  Or that you want a smarter constructor generated?

[2017-02-16 00:45] VSadov commented on #17173
CC: @jcouv

[2017-02-16 01:17] heejaechang commented on #16859
@srivatsn @MattGertz so (2) seem safer than (3) since most features doesn't know what to do when remote host return null ..

[2017-02-16 01:25] heejaechang commented on #16859
@morrisjoe just to make sure. we not only need string to show users, but a web page to explain things more in detail. just like what we did for low VM.

[2017-02-16 03:19] MattGertz commented on #16859
@heejaechang Please prepare both (2) and (3).  We'll give Shiproom a choice (and we'll need to test (3) a lot).

[2017-02-16 04:33] heejaechang commented on #16859
PR - https://github.com/dotnet/roslyn/pull/17174 - not done yet

[2017-02-16 05:37] lostmsu commented on #14239
I'm going to vouch +1 for at least return expression. It is quite useful for early breaks on nulls similar to throw expression.
E.g. someDict[key] ?? return KeyNotFound;

[2017-02-16 07:00] natemcmaster commented on #16507
FYI we upgraded to a new CLI (RC4) and it seems [my particular code](https://github.com/aspnet/DotNetTools/commit/5a444fa75ccbd3eba1df2df50362bf048d761e64#diff-4c12f0525b7126c796ff0690c5f36b61R141) now compiles now w/o the SO exception.

[2017-02-16 08:03] jcouv commented on #16507
Great, that's what I expected. Thanks for the verification.
I'll go ahead and close the issue.

[2017-02-16 08:03] #16507 closed

[2017-02-16 09:52] alrz commented on #595
@MgSam I really like this feature, perhaps you want to port this to csharplang repo?

[2017-02-16 11:20] LaBrassBanda commented on #5162
This Workaround is only applicable to the AssemblyAttributes.cs file. It is not working for .g.cs files in general. So, still there is a need for ignoring These files.

[2017-02-16 11:38] reaction1989 commented on #16976
Where does that scaling happen? If you point me to that i would try looking into that.

[2017-02-16 13:58] MgSam commented on #595
@alrz Did they state they're not going to port the issues over and its up to the community?

[2017-02-16 14:12] alrz commented on #595
@MgSam From what has happened so far, unless it's already championed, yes.

[2017-02-16 16:06] jnm2 commented on #595
@MgSam yes please port.

[2017-02-16 16:11] bdrajer commented on #7364
Some more details, don't know if this helps...

Microsoft Visual Studio Professional 2015
Version 14.0.25431.01 Update 3

Opened a WinForms control designer, started changing some lambda expressions in the codebehind - at that point, the intellisense was already starting to act strangely (probably not working at all). I pressed F2 to rename a variable that was in non-lambda procedural code. Got th

[2017-02-16 16:22] JosefPihrt opened #17177 "Unresolvable conflict not indicated when renaming identifier."
**Version Used**: Visual Studio 2017 RC 15.0.0-RC4+26206.0

**Code to Reproduce**:

![rename](https://cloud.githubusercontent.com/assets/11931318/23029827/0f633c94-f46c-11e6-8d97-62c90c85f141.png)

[2017-02-16 16:35] AArnott opened #17178 "VS crashes itself shortly after opening solution with .NET Core and UWP project"
d15rel 26214.0

After opening a solution from my MRU and switching to another app, several seconds later VS crashed itself. Here is the info from the Event Viewer:

[code]

[code]

[2017-02-16 16:38] AArnott commented on #17178
This repro'd the next time I opened the solution as well. So just in case it's something in my `.vs` folder, I've zipped up the entire repro solution so you can open it and hopefully it crashes.

[MoneyMan.zip](https://github.com/dotnet/roslyn/files/780782/MoneyMan.zip)

[2017-02-16 16:40] AArnott commented on #17178
It crashed a 3rd time in a row, so I deleted the .vs folder, and it crashed a 4th time anyway.

[2017-02-16 16:52] jnm2 commented on #16824
Issue moved to [dotnet/csharplang #129](https://github.com/dotnet/csharplang/issues/129) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-16 16:52] #16824 closed

[2017-02-16 16:54] jnm2 commented on #9523
Issue moved to [dotnet/csharplang #130](https://github.com/dotnet/csharplang/issues/130) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-16 16:54] #9523 closed

[2017-02-16 17:10] brunocunhasilva commented on #3705
As I mentioned on another post, this missing feature is a huge blocker for adoption on big projects with lots of legacy code/files.
https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/726

We simply cannot afford to go fix or suppress tens of thousands of warnings...

[2017-02-16 17:31] JosefPihrt opened #17181 "Ellipsis is showing even if a diagnostic is suppressed with #pragma"
**Version Used**: Visual Studio 2017 RC 15.0.0-RC4+26206.0

**Code to Reproduce**:

![ellipsis](https://cloud.githubusercontent.com/assets/11931318/23032740/c6976738-f475-11e6-82f9-740f1bf1d19f.png)

[2017-02-16 17:36] Pilchie commented on #7364
@dpoeschl can you take a look here?

[2017-02-16 17:40] Pilchie commented on #16976
It starts [here](http://source.roslyn.io/Microsoft.CodeAnalysis.EditorFeatures/R/09c2dc8bf5eac04b.html) I think.

[2017-02-16 17:43] Pilchie commented on #17181
I think this is the same as https://github.com/dotnet/roslyn/issues/12213 (but with a different type of tag)

[2017-02-16 17:43] #17181 closed

[2017-02-16 17:44] Pilchie commented on #17178
This actually belongs on roslyn-project-system.

[2017-02-16 17:46] mavasani commented on #17178
Yes it is a dupe of https://github.com/dotnet/roslyn-project-system/issues/1563, for which I have a PR out. @AArnott I'll send you a VSIX based on my PR to verify it fixes the crash for your solution

[2017-02-16 17:54] #17178 closed

[2017-02-16 18:23] #16919 closed

[2017-02-16 18:25] AArnott commented on #17178
Thanks

[2017-02-16 18:26] #16935 closed

[2017-02-16 18:28] #17138 closed

[2017-02-16 18:38] #8018 closed

[2017-02-16 18:48] Pilchie commented on #10301
The language design team and compiler are planning on building better null ref tracking directly into the compiler, so closing in favor of that (see https://github.com/dotnet/csharplang/issues/36)

[2017-02-16 18:48] #10301 closed

[2017-02-16 18:50] Pilchie commented on #16632
Actually, this is a duplicate of #10337.

[2017-02-16 18:50] Pilchie commented on #16632
Actually, no this is slightly different

[2017-02-16 18:59] AdamSpeight2008 commented on #16998
@jaredpar I thought that too.
Since two of them contain `Microsoft.VisualStudio` I was just ruling out an installation problem.

[2017-02-16 18:59] kuhlenh opened #17182 "Extract existing style analyzers to NuGet"
So that we can they can work with editorconfig+CI

[2017-02-16 19:00] tannergooding opened #17183 "IDE0007 and IDE0008 do not work for 'Fix all occurrences'"
Attempting to 'Fix all occurrences' for IDE0007 (Use 'var' instead of explicit type) or IDE0008 (Use explicit type instead of 'var') results in Preview Changes dialog that contains no entries:

![image](https://cloud.githubusercontent.com/assets/10487869/23036247/ed95aa82-f436-11e6-82e5-e6537ebad583.png)

[2017-02-16 19:00] kuhlenh opened #17184 "Change configuration of analyzers from the editor"
Add an item to the lightbulb menu Preview to let a user change the configuration quickly from the editoir.

[2017-02-16 19:01] kuhlenh commented on #17184
also as part of this, we could move Suppression from top-level to under the Preview fly-out as well.

[2017-02-16 19:05] jasonmalinowski commented on #16998
@jaredpar So what does "unable to calculate content file for..." mean?

[2017-02-16 19:07] AdamSpeight2008 commented on #16998
@jasonmalinowski I think it has something to do with caching of results.

[2017-02-16 19:16] tannergooding opened #17185 "IDE0016 is suggested in places where it changes the semantics of the code"
Example:
[code]

In the above code, IDE0016 (Null check can be simplified) is suggested for both throw statements.

This would transform the code into the following:

[code]

In the case where `x` is not null, but `y` is, the semantics of the code has changed, because now `_x` will be assigned before the `ArgumentNullException` has been thrown for `_y`.

[2017-02-16 19:24] Pilchie commented on #17185
Why does that matter?  The constructor still throws, so there is no resulting object.

[2017-02-16 19:36] jnm2 commented on #14697
I'm quite liking the scoping rules.

If I need to throw for unrecognized enum values:
[code]

I typically want the switch variable in the exception message. It's nice to be able to refactor to:

[code]

Otherwise I'd have to come up with yet another name for a yet another temporary local, or I'd have to stop using `out` declaration.

[2017-02-16 19:39] jnm2 commented on #14697
Oh boy, I'm thick. This is even better than both:

[code]

[2017-02-16 19:40] tannergooding commented on #17185
@Pilchie, this also repros for methods.

[2017-02-16 19:41] CyrusNajmabadi commented on #17139
Sorry, i can't repro this with that sort of approach.  Were you able to follow those instructions and get a repro for this?  If so, can you link to that project?

[2017-02-16 19:48] #17103 closed

[2017-02-16 19:48] CyrusNajmabadi commented on #17185
Many of our code-actions may change semantics.  That's why it's a suggestion.  It's saying "hey... i notice you could do this.  Do it if you think it makes sense for you".

[2017-02-16 20:22] tannergooding commented on #17185
@CyrusNajmabadi, I understand that, but I think we could also make this better by not breaking semantics where possible 😄 (especially in cases where we let the user turn errors on for some of these suggestions).

[2017-02-16 21:59] #9430 closed

[2017-02-16 22:00] #17091 closed

[2017-02-16 22:01] tmat opened #17188 "#r assembly name completion is broken"
Repro:

1) Open C# Interactive Window
2) Type

[code]

Issue 1:
- The completion list disappears once '.' is hit

3) Press Alt+RigthArrow, the completion list appears, chose "System.Xml" from the list, press Tab to complete.

Issue 2:

Expected result:
[code]

Actual result:
[code]

[2017-02-16 22:02] tmat commented on #17188
This is a regression from Dev14.

[2017-02-16 22:06] tmat opened #17189 "Light bulb no longer works in Interactive Window"
Repro:
1) Open C# Interactive Window
2) Type

[code]

3) Press ```Ctrl+.```.

Expected result:
Light bulb suggesting to add ```using System.Xml.Linq```.

Actual result:
Nothing happens.

[2017-02-16 22:06] tmat commented on #17189
This is a regression.

[2017-02-16 22:07] heejaechang commented on #16859
tagging @KevinH-MS @ManishJayaswal @rynowak these people should have been brought into the discussion.

[2017-02-16 22:46] CyrusNajmabadi commented on #17185
The problem with that is that then makes things so restricted that we basically are hugely limited in terms of how and when we offer this sort of feature.  Effectively anything in the language that could change state (which is a LOT of things) would cause the feature to be disabled.  I'd much rather just say that this was a feature that we would not allow you to change into a warning/error.

It's

[2017-02-16 22:55] TyOverby opened #17191 "Suspected Race Condition in VB Binder"
Test: [Microsoft.CodeAnalysis.VisualBasic.CommandLine.UnitTests.ErrorLoggerTests.AnalyzerDiagnosticsWithAndWithoutLocation](http://source.roslyn.io/#Roslyn.Compilers.VisualBasic.CommandLine.UnitTests/ErrorLoggerTests.vb,267)

Repro steps:

1. In the test, add `\parallel-` to the command-line flags.
2. Run the test *by itself* (this bug does not repro reliably when run with other tests)

My repro s

[2017-02-16 23:12] Pilchie commented on #17189
The lightbulb has only worked in the first submission forever.

[2017-02-16 23:13] Pilchie commented on #15685
Re-opening to track the formatting pages.

[2017-02-16 23:21] CyrusNajmabadi commented on #17122
In this case, we'd have to update all references to not have .HasValue/.Value, so i think we'll just have to disable the fix for now.

[2017-02-16 23:21] mattwar commented on #15603
You have to have the desktop dll to even reference the DesktopMefHostServices type.  You do not need DesktopMefHostServices to use AdHocWorkspace, however.  But if you do reference desktop dll then you have taken dependency on esent and elfie.

I do not entirely understand why these dependencies are needed here in the desktop dll.  I believe they used to be only in VS layer, but HeeJae moved them

[2017-02-16 23:29] jcouv opened #17194 "Typing "core" to filter new project templates doesn't find "Console App (.Net Core)""
1. Open VS2017
2. In the box below "New project", type "core" and enter
No results

![image](https://cloud.githubusercontent.com/assets/12466233/23046106/87fe4370-f45c-11e6-86bc-5a3384f05b33.png)

![image](https://cloud.githubusercontent.com/assets/12466233/23046091/7acdd710-f45c-11e6-90c9-274e230713d9.png)

[2017-02-16 23:30] jcouv commented on #17194
Nevermind, when I clicked the one that appears by default, it said it is not installed (and offered to remove it).

[2017-02-16 23:30] #17194 closed

[2017-02-16 23:32] tmat commented on #17189
You are right. I forgot. I need to fix that.

[2017-02-16 23:37] CyrusNajmabadi commented on #17028
I don't like the idea of disabling things like this.  Basically, we're letting APIs prevent people from moving code to use newer language features.   It also seems like this would be super confusing to people.  The feature will just not work and users will not be able to tell why.

If the language feature is not actually avaialble in ```Expression<T>``` contexts, then it of course makes sense to n

[2017-02-16 23:46] AlekseyTs opened #17198 "MemberSemanticModel.GetDeclaredSymbol(LocalFunctionStatementSyntax shouldn't bind LocalFunctionStatementSyntax"
It should work similar to ```GetDeclaredSymbol(VariableDeclaratorSyntax```, which doesn't bind any syntax.

[2017-02-16 23:53] AlekseyTs commented on #15797
@OmarTawfik This looks like something you are working on.

[2017-02-16 23:54] CyrusNajmabadi commented on #16675
I think this is a good idea.  BUt one thing i don't like is that we have no way to just provide the fully qualified containing type, without also providing full types for things like parameters.  This makes the display names for symbols extremely large and unwieldy.

[2017-02-16 23:56] jods4 commented on #17028
It's EF so not just any expression-consumer. It's probably the _most common one_.

It's also from MS, so maybe you can tell them that. I would love to use `??` inside my EF queries.
(TBH I'm not 100% sure whether the limitation is in EF itself or the providers)

Well at least it's their idea and their fault. I surely learned this from my own mistakes.
If you ask me what would be awesome, it's that

[2017-02-17 00:01] OmarTawfik commented on #15797
@heejaechang @CyrusNajmabadi I've a PR out that does exactly that #17113
This seems like a repro of #15900

[2017-02-17 00:01] #15797 closed

[2017-02-17 00:03] CyrusNajmabadi commented on #17028
Regardless.  I don't like the idea that one API out there basically means we can't offer any refactorings within Expressions.  After all, we basically have to know precisely what it supports and what it doesn't, and we have to never do anything that runs afoul of it.

(TBH I'm not 100% sure whether the limitation is in EF itself or the providers)

Sure.  I'm happy to help with that.  Looks like we

[2017-02-17 00:08] mavasani commented on #16700
[OpenFileOnly](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/IBuiltInAnalyzer.cs,28) method should also pass in the current compilation/project and the analyzer should check if any of its reported DiagnosticDescriptors have error or warning effective severity using this API: http://source.roslyn.io/#Microsoft.CodeAnalysis/Diagnostic/DiagnosticDescriptor.cs,298bc3617e8352cc,r

[2017-02-17 00:16] CyrusNajmabadi commented on #16700
This API seems super difficult to get right.  We have to know which descriptors we're going to generate.  But that requires duplicating knowledge about those descriptors from our analysis code to the OpenFileOnly codepath.

Can you guys show us how you think this should be written?  And demonstrate an approach that is clear and easy to implement so that we don't risk continuing to get this wrong (

[2017-02-17 00:21] mavasani commented on #16700
Correct fix here is to completely get rid of IBuildInAnalyzer and OpenFileOnly hacks in the IDE. All this functionality currently works perfectly fine for non-built in analyzers. I think we should really aim to get rid of this interface and WorkspaceAnalyzerOptions hacks once we can move IOptions into the Analyzer API.

[2017-02-17 00:23] CyrusNajmabadi commented on #16700
ok... so should i just assign this back to you guys?

[2017-02-17 00:24] mavasani commented on #16700
Yes, either HeeJae or me can clean this up once IDE analyzers don't need Workspace.

[2017-02-17 00:26] CyrusNajmabadi commented on #16700
Yeah.  as far as i can tell, this API is impossible to implement.  Because we don't know what the severity even is if we don't know what document you are processing.  That's because options are document-based (thanks to Editor-Config).  So we can't even answer the question if all we get passed is the Workspace.

[2017-02-17 00:27] CyrusNajmabadi commented on #16700
Ok.  Giving back to you.   Let's see what we can do here in the U1 timeframe.

[2017-02-17 00:43] miloush commented on #16675
Perhaps just the member name would do, as you already have the file name?
Another option would be grouping. I guess you can always come up with super large name that will make the results suboptimal to present...

[2017-02-17 01:00] tannergooding opened #17201 "IDE0032 should not be specified for classes or structs with an explicit `StructLayout` attribute"
**Repro**
1. Create a new C# Class Library
2. Set the contents of Class1.cs to the following
[code]
3. Note that IDE0032 (Use auto property) is suggested for both `_x` and `_y`.

**Expected Behavior**
IDE0032 should not be suggested for structs or classes that have the `StructLayout` attribute.

[2017-02-17 01:05] miloush commented on #17028
I 100% agree with @CyrusNajmabadi on this one. The ternary and coalesce operators must be interchangeable here and it's a bug in the consumer if that's not the case. Improvements might be done on the API side so that new language features do not break existing consumers, but this is wrong

The compiler just can't know how you are going to use the expression, how do you suggest it would find out wh

[2017-02-17 01:10] #14218 closed

[2017-02-17 01:45] heejaechang opened #17203 "IErrorReportingService needs to be cleaned up"
in this PR - https://github.com/dotnet/roslyn/pull/17174

I added ability to show infobar in VS main window. and some people believe IDE should always use that which is different behavior than what we have now.

looks like we have some clean up to do on the service.

options are

1. leave things as it is.
2. make everyone to use VS main window
3. make service to accept view to show the infobar exp

[2017-02-17 01:46] heejaechang commented on #17203
tagging @jmarolf for FYI

[2017-02-17 01:47] CyrusNajmabadi commented on #17201
Again, it's a suggestion :)   For example, it would be perfectly reasonable to write:

[code]

This would have the same IL/semantics.  The purpose of many IDE features is to help you efficiently transform your code so that you don't have to do all the work yourself.

[2017-02-17 01:55] tannergooding commented on #17201
Again, I realize these are suggestions :). I am just indicating ways that I think the diagnostics could be improved.

And yes, converting both is reasonable (assuming that the compiler emits the backing fields in the order the properties are listed in the type). Converting only some of them is not, as it changes the layout of the struct.

Some of the suggestions users will want to enforce as code

[2017-02-17 02:57] 0xd4d commented on #17201
I agree that this should be fixed. Some users would want to use this fix on the whole project or solution. Most people don't check the diff before pressing OK, they assume it works. Applying this fix to the above code could break the code, something that will perhaps only be detected at runtime. This is similar to #15018 (fixed by #15023) , it breaks code, and it was fixed.

[2017-02-17 04:04] gafter commented on #17121
What about the set of analyzer assemblies?

[2017-02-17 04:42] Thaina opened #17204 "Let conditional operator ?: work on nullable"
Sometimes we have `bool?` condition. Such as `dictionary?.TryGetValue(key,out value)`

When I want it to `return dictionary?.TryGetValue(key,out value) ? value : null` it cause error

Maybe we should support `?:??` like this?

`return dictionary?.TryGetValue(key,out value) ? value : null ?? null`

or maybe just

[code]

[2017-02-17 04:50] Thaina commented on #16946
`==null` is already shorter than
`notnull`

[2017-02-17 05:19] gafter commented on #17204
Language feature requests no longer go in this repository. They go in https://github.com/dotnet/csharplang

This particular issue is already on the language design team's radar. See https://github.com/dotnet/csharplang/issues/33

[2017-02-17 05:19] #17204 closed

[2017-02-17 05:21] gafter commented on #17121
@jaredpar What is the form of the documentation required to address this issue? Is there an output of the compiler that is the list of things the compilation depended on? Or it is some document somewhere checked into some repository with an English description of the set of inputs that affect the compilation?

[2017-02-17 06:15] Thaina opened #17207 "Could we drop CS1612 on setting struct property?"
Sometimes I made struct just for being wrapper to another class object

[code]

Like so, when that struct was being returned from another property or indexer, it cause `error CS1612: Cannot modify the return value of 'Dictionary<string, DictVector>.this[string]' because it is not a variable`

Changing that struct to be class work fine. I just think it has no reason to cause error for property whil

[2017-02-17 06:41] cston opened #17208 ""Unassigned local" error for reference to "out var" in "group by""
The compiler incorrectly reports `CS0165` for `y == null`:
[code]
[code]

[2017-02-17 10:06] petertiedemann commented on #7673
Just want to confirm that this is a *major* pain for library authors. Installing analyzers into hundreds of projects and then having to set them all to Error severity just to ensure we add this ugly ConfigureAwait call is pretty de-motivating.

But another alternative could be to introduce another await-style keyword as syntactic sugar for await with ConfigureAwait ( false ). Not sure what a good

[2017-02-17 10:07] jskeet opened #17212 "Delegate equality comparisons are very strange indeed"
Discovered during an ECMA meeting. The ECMA standard and the C# 5 specification disagree slightly at the moment, and Roslyn behaves differently to both of them. (The difference between the ECMA standard and the C# 5 spec is not exposed in the code here.)

Roslyn versions: 2.0.0.61213 and 1.3.1.60616; same behaviour

Sample code:

[code]

Note that this code assumes that two separate delegate insta

[2017-02-17 10:34] CyrusNajmabadi commented on #17028
No.  That's not what i'm saying.

Here's the issue:

You're arguing that the IDE should not offer a feature because it might break in the context of Expressions.  However, that issue applies not just to *this* specific issue that was raised with ```??``` but with making *any* changes within Expressions.  After all, any potential language feature we use might break in someone's consumption of Expre

[2017-02-17 10:35] CyrusNajmabadi commented on #17028
Again, that seems like something that Entity Framework should provide.  They are the ones that have the problem with consuming Expressions that are part of the Expression API.  Since that's a domain-specific problem, the solution should come from that domain.

Roslyn and C# are not the Entity Framework.  Limitations in the latter should not be baked into the former.

[2017-02-17 10:42] CyrusNajmabadi commented on #17028
I don't see how blame is even applicable here.

100% of the refactorings we provide are "unsafe" for some definition of "safety".  Extracting a method is 'unsafe' as at runtime something might depend on that new method not being there*.  Renaming is unsafe as something might depend on the actual names used.  If we start defining safety as "must not change anything from any code that might introspe

[2017-02-17 11:17] jods4 commented on #17028
I understand and kind of agree but that's the engineer thinking about ideal software.
Thinking about the real world user experience: first week of trying VS2017 your code almost introduced a bug in my project. "Almost" only because I have experience and recognized the problem the moment I clicked on that refactor button.

And this is very not an obscure use-case. Where I work (enterprisey stuff) E

[2017-02-17 11:40] ufcpp commented on #7673
How do you guys think of an approach with Task-like (Generalized Async Return Types):
https://github.com/ufcpp/ContextFreeTask

This requires no IL-weaving or no new compiler feature.

[2017-02-17 11:43] #11330 closed

[2017-02-17 12:26] jskeet commented on #17212
Update: it's even *more* surprising, as there's actually an `==(MulticastDelegate, MulticastDelegate)` operator, but it's never called by the compiler in the above code... and shouldn't really need to exist, as `==(Delegate, Delegate)` should behave the same way.

[2017-02-17 12:31] jskeet commented on #17212
Oh, and just to add dynamic typing into the mix:

[code]

Output:

[code]

So this behaves how we'd probably *like* it to behave, but it doesn't follow the normal "Resolve overloads as if the compile-time type is the actual execution-time type." Yay.

[2017-02-17 12:57] jskeet commented on #17212
More dynamic typing fun: the dynamic binding *does* enforce the restriction that you can't compare two different concrete delegate types:

[code]

I would propose that the restriction should only be enforced at genuine compile-time, rather than binding-time - so in this case, it would end up calling `==(Delegate,Delegate)` and return false.

[2017-02-17 13:49] jskeet commented on #17207
It's an error because it's definitely buggy code. You'd be setting a property on a *copy* of the value in the dictionary - the value in the dictionary itself wouldn't be affected.

Likewise your `SetX` method wouldn't actually change the value in the dictionary, so again you've got a bug - but the compiler doesn't know that the method is actually trying to modify the state of the struct. It (reaso

[2017-02-17 13:51] Thaina commented on #17207
@jskeet It's affect. Because copy of this kind of struct will copy reference field

[2017-02-17 13:52] jskeet commented on #17207
@Thaina: See my edit - whether the effect is visible or not will depend on previous state, making it an even more subtle bug. You really, really don't want to use a struct like this - it's a recipe for problems.

[2017-02-17 16:04] tannergooding commented on #17185
The following is a valid transformation and is still pretty common.

[code]

While the following is also common and is distinctly known to change the semantics and therefore should not be supported.

[code]

I don't think the restricting the second scenario from being suggested will make this transformation uncommon or unusable at all.

[2017-02-17 16:26] jods4 commented on #17139
@CyrusNajmabadi I just spent 15 minutes trying to create a repro with no success.
Worse, I tried it today in my solution and it works.

As you can see on the screenshots, it did not work 3 days ago.
But I have no idea what triggered this situation.

Any idea?

[2017-02-17 16:56] jaredpar commented on #17121
@gafter it's this file

https://github.com/dotnet/roslyn/blob/master/docs/compilers/Deterministic%20Inputs.md

[2017-02-17 17:13] gafter commented on #17121
Rulesets are explicitly documented, as are "(Binary) contents of all files explicitly passed to the compiler, directly or indirectly"

[2017-02-17 18:41] #17012 closed

[2017-02-17 18:50] jcouv opened #17214 "VisualStudioSetup or VisualStudioSetup.Next don't deploy ExpressionEvaluator or Interactive"
Repro
1. Set VisualStudioSetup.Next as startup project
2. Hit F5
3. In the new instance of VS start debugging something (to load EE)
4. In the new instance of VS, open the interactive window
5. In the initial instance of VS check the loaded modules

You will notice that all the CodeAnalysis modules were loaded from the RoslynDev hive folder (ie. correctly), except for the ExpressionEvaluator and I

[2017-02-17 18:52] jcouv commented on #17214
FYI @cston

[2017-02-17 19:26] kuhlenh opened #17215 "Convert to interpolated string doesn't work for concatenated strings"
[code]

If you press `Ctrl+.` here, you get the option to convert this to an interpolated string. However, if you have this:

[code]

Then the quick fix is no longer offered.

[2017-02-17 19:29] CyrusNajmabadi commented on #17028
Right.  But that 'reasonable expectation' is broken for *all* refactorings.  Any customer might run in some environment where that expectation does not hold.

Again, i do not want to not provide features because there may be an API out there that does not support the transformations we provide.  You may report this issue today, but then someone reports an issue with extract-method in Expressions t

[2017-02-17 19:33] CyrusNajmabadi commented on #17028
I want to address this bit:

We have never gone for an approach on refactorings where no-bugs will be introduced.  Indeed, we strive for a balance where the feature can be generally widely available and useful, while still working properly for the majority of cases out there.  This is true with every refactoring we provide.  Refactorings can and do introduce issues (like runtime changes), and we'v

[2017-02-17 19:36] CyrusNajmabadi commented on #17185
It will make it much more restricted.  For example, if you have:

[code]

Now the feature can't even be offered.  Even if it's something that the user would want.  And it's definitely the case that there's lots of code that looks like that.

Again, the feature is simply a suggestion, stating that we can transform this code if *you* want it transformed.  It's up to you to decide if this is what you

[2017-02-17 20:18] jods4 commented on #17028
It's your call.
But I'd like to point out that, to me, a lot of your comparisons seem inappropriate.

I'm sure that you understand what I mean. Outside of `Expression` that we discussed here, can you give me a reasonable example where transforming `x == null ?` into `x ??` or `x.?` can introduce a bug?

Everyone knows Reflection and Dynamic code are the big offenders because they are impossible to

[2017-02-17 20:32] heejaechang opened #17217 "improve how to handle OOP killed NoOpSession case"
right now Session.InvokeAsync returns default(T) if OOP is killed by users to indicate features that OOP is gone.

this seems not intuitive to know what is going on.

3 options.

1. make CreateSession to return null rather than NoOpSession.
2. make Session to throw to indicate this bad situation
3. make InvokeAsync to return some result type user can check to see the call actually succeeded.
4. ma

[2017-02-17 20:39] pakdev opened #17218 "Provide an option to the diagnostic suppression codefix to use SuppressMessage vs. pragmas"
I understand the rationale behind adopting pragmas as the defacto suppression codefix as discussed in [this issue](https://github.com/dotnet/roslyn/issues/4265), but mixing pragmas and [SuppressMessage] in large, existing codebases is non-ideal. It would be nice if there was an option/configuration file that could tweak the suppression mechanism the codefix employs.

[2017-02-17 20:42] CyrusNajmabadi commented on #17028
Yup :)

I've been bitten by rename bugs with Expressions.  Since the expression consumer wants to map that name to something it knows about, if you change the name, you break things at runtime.

Yup.  Same issue.  I've had htat break since the parameters no longer map to a sproc properly on the other end.

Another example is 'convert property to method'.  This broke with Expressions since there wa

[2017-02-17 20:43] CyrusNajmabadi commented on #17028
What if someone comes and says "Rename doesn't work in my Expression consumer XXX context"? :)  What should we do then?

[2017-02-17 20:47] jods4 opened #17219 "Regression? Rename and Anonymous Types"
VS 2017 RC, Feb 7th update.

Consider this:
[code]
Answer is, obviously: `{ x = 42 }`.

With 2017 RC, renaming `x` to `y` gives:
[code]
Answer becomes: `{ y = 42 }`.

The return type has unexpectedly changed.
I seem to recall (am I wrong?) that in VS 2015 the result was:
[code]
Renaming `x` to `y` but keeping the returned shape identical.
The latter behavior seems more correct to me.

[2017-02-17 20:59] jods4 commented on #17028
If it can get the name then it involves Reflection. The question was to cite an unsafe C# refactoring outside of Reflection and Dynamic code.
As I said, nobody expects Reflection (or framework that use names in your code, hence reflection under the hood) to be refactoring safe.

Same for your change parameters answer.

The _Convert property to method_ is more like it. Makes me wonder if at least a

[2017-02-17 21:06] SleepyDeb commented on #16090
No crash in VS 2017

[2017-02-17 21:11] kuhlenh commented on #17028
Hi all!

We can all agree that refactorings and quick actions are great because they not only help developers be more productive but also they can be valuable learning tools. Roslyn enables us to quickly write these productivity tools and have confidence that our tools have a high-fidelity understanding of the language so that we can empower all .NET developers to efficiently build the products/ga

[2017-02-17 21:25] jods4 commented on #17028
One last thought that just occured to me:
I don't have VS 2017 at hand right now, but does this have a _Fix all occurrence_ command?
If yes, it makes this 100x worse. Because you might be looking at normal code, thinking "yeah great simplification, go ahead on the whole project" and totally miss the problematic sites.

This new consideration makes me lean toward @kuhlenh's second option: distinct

[2017-02-17 21:31] cston opened #17225 ""Unassigned local" error for reference to "out var" in lambda with error parameter"
Reports `CS0165` for `z > 0`:
[code]
[code]

[2017-02-17 21:35] cston commented on #17225
`y` is an error type since it does not correspond to a parameter in `Func<int, bool>`, and as a result, each of the `&&` operators are treated as `LogicalAnd` operators (rather than short-circuiting `LogicalBoolAnd` operators) in flow analysis.

[2017-02-17 21:37] cston commented on #17225
Perhaps the same issue as https://github.com/dotnet/roslyn/issues/9121.

[2017-02-17 21:54] lachbaer commented on #8364
Discussion moved to [dotnet/csharplang#140](https://github.com/dotnet/csharplang/issues/140).

[2017-02-17 22:18] bkoelman commented on #15978
@jmarolf After installing this in VS2017 Community RC4, I'm not seeing the project templates. I have installed the Extensibility, Web and Windows workloads. Am I missing something?

![image](https://cloud.githubusercontent.com/assets/10324372/23085276/10025b8e-f567-11e6-89f9-a291f7076c96.png)

When trying to install via project template named "Download the .NET Compiler Platform SDK", it tells me

[2017-02-17 22:45] bkoelman commented on #16757
Should VS2017-RC4 contain this fix? I'm asking because #16209 still fails there.

[2017-02-17 22:46] bkoelman commented on #15978
After installing this in VS2015.3 Community Edition, the templates are gone too.

[2017-02-17 23:58] AlekseyTs commented on #16757
@bkoelman

No. Unfortunately, the fix didn't make it into VS2017.

[2017-02-18 00:00] jmarolf commented on #15978
@bkoelman change your .NET Framework version to be 4.6 instead of 4.5.2

[2017-02-18 00:02] #13270 closed

[2017-02-18 00:02] #13631 closed

[2017-02-18 00:02] #13632 closed

[2017-02-18 00:02] #16166 closed

[2017-02-18 00:02] #16311 closed

[2017-02-18 00:02] #16869 closed

[2017-02-18 00:04] jcouv commented on #16869
Fixed by #17027
With the fix, `(x, y) = (1, 2)` doesn't need to invoke the `ValueTuple` constructor.

[2017-02-18 00:04] jcouv commented on #13632
Fixed by #17027
With the fix, many temps have been optimized away (mostly as the result of not storing the initial parts on the right in a ValueTuple and fetching them out).

[2017-02-18 00:05] jcouv commented on #13631
Fixed by #17027

[2017-02-18 00:08] jcouv commented on #13270
Fixed by #17027

The `BoundDeconstructionAssignmentOperator` now has:
 - a `BoundTupleLiteral` as its Left,
 - a `BoundConversion` as its Right, holding:
     - a tree of `Conversion` objects with Kind=Deconstruction, information about a Deconstruct method (optional) and an array of nested `Conversions` (like a tuple conversion),
     - an `BoundExpression` as its Operand.

There are some further

[2017-02-18 00:08] jcouv commented on #16311
Fixed by #17027

[2017-02-18 00:09] jcouv commented on #16166
Thanks for reporting this issue.
This optimization was implemented along with a number of other deconstruction optimizations which avoid invoking the ValueTuple constructor.
Fixed by #17027

[2017-02-18 01:00] gafter commented on #14882
I am treating these three issues together: #14882, #13840, #13915

[2017-02-18 01:13] #17208 closed

[2017-02-18 01:37] jcouv opened #17228 "vbi crashes on (1, 2)"
Set `vbi` as startup project in Roslyn and launch it.
Type `(1, 2)` or `()`
Crash with `Exception thrown: 'System.NullReferenceException' in Microsoft.CodeAnalysis.VisualBasic.dll`

The problem is in `IsPartOfLinqQueryNotFollowedByNewLine`, which iterates over the parent chain of `token` (which is a closing paren). The crash happens when `node` becomes `null`.

 	Microsoft.CodeAnalysis.VisualBasic

[2017-02-18 01:47] NickCraver commented on #16587
Here's a screenshot of what this looks like on MiniProfiler - I'd argue it's just unusably bad at the moment - what are the chances this sees love before release?

<img width="1385" alt="screen shot 2017-02-17 at 20 27 34" src="https://cloud.githubusercontent.com/assets/454813/23088920/c0e70c6e-f54f-11e6-9c01-f04d69f02539.png">

Why do we need all of that "No references found" noise? It's irreleva

[2017-02-18 02:01] tmat opened #17229 "VS Crash: NRE in Microsoft.CodeAnalysis.CSharp.Binder.CheckFeatureAvailability"
VS build 26209.1 D15rel

Stack trace:

[code]

Crash dump:

%internal_share%\public\tomat\bugs\17229

[2017-02-18 02:04] StingyJack opened #17230 "Proposal: Add a compiler warning/error be added for unused results of functions on an immutable"
dotnet/corefx suggested [this](https://github.com/dotnet/corefx/issues/16263) be better requested over here.

I was trying to add Using directives to a compilation unit. While I eventually got it right, this took a few evenings of looking elsewhere in my code for the source of the problem before stumbling on the actual trouble area.

An example to illustrate
[code]
I hope this illustrates the usag

[2017-02-18 02:36] tmat opened #17232 "VS Crash: ArgumentOutOfRange exception from Microsoft.VisualStudio.Language.Intellisense.Implementation.DefaultCompletionSessionPresenter.<MeasureOverride>b__76_0"
Seems like something went wrong with completion UI.

Specified argument was out of the range of valid values.
Parameter name: index

Stack trace:

[code]

Crash dump:

%internal_share%\public\tomat\bugs\17232

[2017-02-18 03:00] jcouv opened #17233 "Assertion failed in ObjectWriter.WriteValue"
Sorry I don't have more details. The popup came up and I just copied the stack.
I think this was on version 15.0.26215.1 D15REL.

[code]

FYI @CyrusNajmabadi since you added this assertion recently.

[2017-02-18 03:23] jcouv opened #17234 "IDE crash when typing ?1 in Immediate windows (ViewTextSpan)"
I think I'm hitting different bugs, as I'm getting at least two different stack traces.
This is on version 15.0.26216.1 D15REL.

This one seems related to Intellisense.

Repro:
1. Create a trivial VB app (Console, .Net framework 4.6, attached zip file). Then debugged it and hit a breakpoint.
2. Type `?1` in the Immediate window.
3. Get a crash.

I have a dump file:\\\jcouvdev\shared-dumps\issue-17

[2017-02-18 03:36] jcouv opened #17235 "IDE crash when typing ?1 in Immediate windows (SourceMemberContainerTypeSymbol.AddMember)"
I think I'm hitting different bugs, as I'm getting at least two different stack traces. This one doesn't seem to repro as easily as the other one (linked below).
This is on version 15.0.26216.1 D15REL.

One seems related to the evaluation of `?1` in EE. It may be related to global code.

Repro:
1. Create a trivial VB app (Console, .Net framework 4.6, attached zip file). Then debugged it and hit a

[2017-02-18 03:42] CyrusNajmabadi commented on #16587
Zero chance :)   RTM is effectively locked down.

I am interested in improving things here in teh near future though.  We also welcome PRs.

[2017-02-18 03:42] jcouv opened #17236 "The setting for Enter key behavior does not show a default selection"
This is the case both in C# and VB.
Once the user makes a selection, it behaves as intended, from what I can tell.

![image](https://cloud.githubusercontent.com/assets/12466233/23090040/fd241a20-f548-11e6-9a34-6a5ee5f7337c.png)

FYI @CyrusNajmabadi

[2017-02-18 03:44] CyrusNajmabadi commented on #16587
I disagree that it's irrelevant.  :)  There may very well be references to those items.  And knowing which items are/aren't referenced can be very relevant.

[2017-02-18 03:47] CyrusNajmabadi commented on #16587
Can you share your project that demonstrates this issue.  It's unclear to me why the same symbol would show up twice.  Unless tihs is a linked file, and then it's actually two separate symbols (each which may have many references scattered around).  If that's the case, then it really is showing 'definition' and then 'path'.

[2017-02-18 03:49] CyrusNajmabadi commented on #16587
I'm sorry, i'm not seeing how things are grouped by project.  Here's the first grouping:

![image](https://cloud.githubusercontent.com/assets/4564579/23090089/0481be70-f54a-11e6-8cbf-ec5372988e5d.png)

i.e. grouping by symbol (if we really do think these are two different symbols).

Then we group in this manner:

![image](https://cloud.githubusercontent.com/assets/4564579/23090092/18931be8-f54a-11

[2017-02-18 03:51] CyrusNajmabadi commented on #16587
In that case, i would turn off grouping entirely.  Then you'll simply get the list of all references.   Note: linked files will be over represented (since each representation of hte linked file may seem to have unique references).  I'm definitely open to finding a way to simplify that presentation.  However, it really will be weird.  A linked file does belong to multiple projects (and can have dif

[2017-02-18 03:52] CyrusNajmabadi commented on #16587
I'd be very interested in mockups showing what you expect to see with the current settings you've picked.

Thanks!

[2017-02-18 03:55] jcouv commented on #17235
@cston This is the exception we ran into together. Unfortunately, my machine didn't generate a dump file :-( I've not be successful in hitting this again.
Do you remember anything else about the context? Was it a null ref exception or something else?

[2017-02-18 03:59] CyrusNajmabadi commented on #17028
A couple of things to point out:

That's not actually the case :)   Lots of the Expression API just exposes the names of things.  For example "Parameter.Name" and whatnot.  You can get at the names of things without using reflection as that's sort of the point of Expression (to give you the information about the shape of the source code without having to go through reflection).

Same thing.  [Invo

[2017-02-18 04:03] jcouv commented on #17235
I've not been able to repro this (after 10 or so tries). I'm only hitting #17234 now.

[2017-02-18 05:33] Pilchie commented on #16587
Regarding duplicate results - I suspect that @nickcraver has a .NET Core project that is cross-targeting multiple frameworks.

[2017-02-18 08:15] tmat commented on #17214
We should merge all Roslyn VSIXes except for .Next into a single one. No reason to have multiple of them.

[2017-02-18 08:48] lanwin commented on #7673
@ufcpp pretty nice solution. Why they didnt added something like that to the TPL?

[2017-02-18 09:02] michaelcheers opened #17238 "Returning results from functions could be made easier"
I find myself writing
[code]
a lot. So, I think there should be a new feature which lets a variable be a result.
[code]
So, because we put returning, it returns it at the end of the function. Also, so if you have to return something somewhere else: you could use
[code]
So, `return;` would return the "returning" values.

[2017-02-18 09:08] eyalsk commented on #17238
@michaelcheers You may want to post this at the new C# language design [repo](https://github.com/dotnet/csharplang) and close/delete this one.

[2017-02-18 09:10] michaelcheers commented on #17238
@eyalsk, OK.

[2017-02-18 09:10] #17238 closed

[2017-02-18 10:30] HamedFathi opened #17239 "Question : Is there anyway to convert a Type to SyntaxTree in .NET Core ?"
suppose, I have Person Type (only type not source code).
Can I get SyntaxTree of this type ?

for example
**SyntaxTree syntaxTree = CSharpSyntaxTree.ParseType(typeof(Person));**

[2017-02-18 11:04] alrz commented on #17239
Compilation.GetTypeByMetadataName

[2017-02-18 11:14] KrisVandermotten commented on #11958
I said

That should be if the _converted_ types are all the same. For example, the parentheses can be removed in

    int Add(int a, short b, short c) => a + (b + c);

Any progress?

[2017-02-18 11:26] HamedFathi commented on #17239
@alrz , Can you provide a snippet code for me ? I am not familiar with GetTypeByMetadataName.
I need a working sample If you can.

[2017-02-18 11:53] be5invis commented on #7561
So... should we use a F\*-style effect marker that forms a lattice?
We have **Total** at the lowermost position (purely functional, guaranteed return), then we have **Divergence**, **State** and **Exception**. And the effect marker of “general” C# functions are **CSharp**...

cc. @nikswamy @catalin-hritcu @simonpj

[2017-02-18 12:29] miloush commented on #17164
Unless the formatting preference is to keep opening braces on the same line I guess.

Also, what do you suggest to happen to the setter?

[2017-02-18 12:47] bkoelman commented on #15978
Thanks, that helps. Perhaps a note at https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.NETCompilerPlatformSDK about switching framework version would be helpful, as the default framework after VS installation is set to v4.5.2. Also the text there does not mention VS 2017.

Please see my findings below.

* The analyzer project file contains `<TargetFrameworkVersion>v4.5</

[2017-02-18 13:47] reaction1989 commented on #16976
@dpoeschl  I can not reproduce this issue on the current master.
I am running a 13" Full HD Display.

![image](https://cloud.githubusercontent.com/assets/873751/23093634/003d0032-f5e9-11e6-8427-7ffa41d9afde.png)

[2017-02-18 13:51] Thaina commented on #16321
moved https://github.com/dotnet/csharplang/issues/143

[2017-02-18 13:51] #16321 closed

[2017-02-18 14:13] bkoelman commented on #15978
Additionally, the Test project does not reference the Microsoft.CodeAnalysis.Analyzers package. But when doing anything with the packages in the test project (for example: `update-package -reinstall Microsoft.CodeAnalysis`), it automatically adds 1.0 because there seems to be a dependency to it. After the NuGet operation, the user experiences the "ADxxx Analyzer threw exception" error, for which w

[2017-02-18 14:21] bkoelman commented on #15978
The .vsixmanifest contains a line referring to .NET framework 4.5:
[code]

Consider changing this also to 4.6, if that makes sense.

[2017-02-18 15:20] DustinCampbell commented on #11958
I've got a fix. Just filling out the tests.

[2017-02-18 16:51] jcouv commented on #17214
I agree they should be merged. Tanner did mention this is a subtle change though. The best as I understood: VSIX projects also produce a binary which have a name or identity and RPS detects when those change.

[2017-02-18 18:08] bkoelman commented on #15978
Something else: when creating a new analyzer project, then trying to update packages to latest rc4 bits, updating the Test project succeeds, but the analyzer project fails with:
[code]

[2017-02-18 18:15] Pilchie commented on #15978
That last one is because the 2.0 packages only target .Net Standard. You'll need an "imports" statement, but I'm not sure how to do that in packages.config of the top of my head.

Soon we will likely release a .Net Standard based template for analyzers for C# that should help with some of these.

[2017-02-18 19:01] jnm2 commented on #16442
For posterity: there was some good conversation that got deleted, now available here: https://jsfiddle.net/tv33k6xv/embedded/result/

[2017-02-18 19:06] NickCraver commented on #16587
Total disagreement here for sure - IMO they're 100% irrelevant. I searched for all usages of `SetViewedAsync()` on `SqlServerStorage` (a specific implementation of the `IAsyncStorage` interface (repo here: [MiniProfiler](https://github.com/MiniProfiler/dotnet/tree/4c22c572bef039117b7064e0c35e832d75f7b032)). I searched for where **that** was used. Not *every other implementation*, which is what the

[2017-02-18 19:46] eyalsk commented on #16442
And for the _lazy_ of us. 😄

<table class="d-block">
      <tbody class="d-block">
        <tr class="d-block">
          <td class="d-block comment-body markdown-body markdown-format js-comment-body">
              <p>This is inspired by the immaculateness of Go code.<br>
As an example, see <a href="https://github.com/google/btree/blob/master/btree.go">https://github.com/google/btree/blob/master/

[2017-02-18 19:56] jnm2 commented on #16442
|
@eyalsk quick question: how did you render that border without making the contents bold?
|
|-|

[2017-02-18 19:58] jnm2 commented on #16442
<table><tr><td>
[code]
</td></tr></table>

[2017-02-18 20:11] dpen2000 commented on #16003
@davkean This should be closed now as #16212 fixed

[2017-02-18 21:43] CyrusNajmabadi commented on #16587
We might want to then include an option to show/hide this stuff.  For me, it's very relevant.  That method may be an implementation of some interface method, and i want to know who is calling me through the interface, and who is calling me directly.  For example, if i have:

```class CFoo : IFoo { public void MFoo() { ... } }``` and I search for ```MFoo```, then I will be unhappy with it saying "t

[2017-02-18 21:45] CyrusNajmabadi commented on #16587
As mentioned above, these things are loosely coupled.  Your code may only be referenced through an interface method that you don't even realize you're implementing.  Stating 'there are no references' then gets extremely weird and makes users have to perform several steps to figure out how your code is actually being referenced in your project.

[2017-02-18 21:45] CyrusNajmabadi commented on #16587
I think that's somewhat reasonable to provide.  We can try looking into that.

[2017-02-18 21:49] agocke opened #17243 "Race condition in adding DefaultSyntaxValue diagnostics in SourceComplexParameterSymbol"
Adding diagnostics after an Interlocked.CompareExchange is a race condition if the thread which succeeds in setting the default syntax value is paused before it adds the diagnostics and another thread binds without seeing the diagnostics.

[2017-02-18 21:50] CyrusNajmabadi commented on #16587
It actually isn't.  It's two unique symbols.  You can see that just by looking at the output of your build.  You'll have multiple dlls with different symbols in them.  It's not hte same definition at all.

This is also easy to demonstrate through code like:

[code]

There are two totally unique class symbols here, each belonging to a distinct namespace.  The way to think about linked-files and sha

[2017-02-18 21:51] NickCraver commented on #16587
Sure, that's fair - so why don't we show *that*? I would have no objections to showing the symbol I searched for, and another section that's `<Interface>.Symbol` and a list of those usages in another section - that seems totally reasonable and very helpful. But the current situation doesn't do that, it shows *every possible implementation* of the interface, and whether they are used.

Let's say I

[2017-02-18 21:54] CyrusNajmabadi commented on #16587
It's bad here.  But it's not always bad.  If someone wants to actually ask "i want to know how this specific interpretation of this symbol is referenced".  I know I routinely ask that with code that we share between the Roslyn Compiler and IDE projects.

But, again, I'm not arguing against trying to improve the UI.  I can see us opting to give the simplified view (that merges disparate definitions

[2017-02-18 21:55] CyrusNajmabadi commented on #16587
Right click on the column headers:

![image](https://cloud.githubusercontent.com/assets/4564579/23097150/d3517a1e-f5e1-11e6-9276-35a0149176b3.png)

I'll let the editor team know that they should likely provide a 'None' option under the "Group by" dropdown.

[2017-02-18 21:55] NickCraver commented on #16587
I think that's mixing *compiler output* (yes, you're right), with *what I'm editing* (what most developers care about). I'm working with one chunk of code. I'm using an IDE to do it. I don't want 1 line of code to be treated like 12 because the tooling is generating 12 outputs from it (all usually the same). That should not be the user experience.

The tooling experience should be for the concerns

[2017-02-18 21:57] CyrusNajmabadi commented on #16587
@NickCraver As i've mentioned several times, I understand what you are saying for you. But, for me, there are times when i definitely want this information, and I find it quite useful.  Right now we've erred toward a model that provides all the information so that you have what you need if you want it.  That does mean things are not great if you don't want it.  But I don't want to assume that we s

[2017-02-18 22:03] NickCraver commented on #16587
@CyrusNajmabadi I'm not discounting you sometimes want it, it's only a question of usability and defaults if we can provide both experiences. How often would you saw you want a split view vs. a combined view (from the target framework grouping perspective)?

I disagree that's we're hiding the information (that's my confusion), if we clearly show a comma-delimited list. And what are we taking away?

[2017-02-18 22:04] CyrusNajmabadi commented on #16587
That's fair.  We can definitely explore only showing the direct inheritance hierarchy (i.e. only up/down from the initial symbol you search for), and not continuing to cascade updown.  Here's the problem though, say you have this code:

[code]

If I search for references to 'C.F' I'd have to still cascade through all interfaces.  i.e. someone might be calling C.F through a reference to IBar.  This

[2017-02-18 22:05] CyrusNajmabadi commented on #16587
I don't know what you mean.  As mentioned originally, can you show some mockups of what you're talking about?  I feel like you have some ideas in your head, but i don't know what they are :)   If you show me waht you mean, that will help out a lot!

[2017-02-18 22:06] CyrusNajmabadi commented on #16587
I haven't objected.  I just don't know what you're asking for.  Hence why i keep asking for an actual mockup so i can be on hte same page as you :)    I simply don't precisely know what you're asking for, and it would be helpful if that were presented to get to the heart of things.

Thanks!

[2017-02-18 22:15] CyrusNajmabadi commented on #16587
@NickCraver I'm totally in agreement :)     Just to be clear, i'm totally behind improvements here.  I'm just trying to explain many of the things we need to take into account and be careful of.  Once we get your ideas, we can start coming up with a total list of things that we can potentially work on.  To start with, i'd like to potentially just collapse items that don't have any references.  You

[2017-02-18 22:17] agocke opened #17244 "LocalFunctionTypeParameterSymbol duplicates a lot of code"
There are few differences after the lazy evaluation problems were fixed in https://github.com/dotnet/roslyn/pull/17014. We should try to unify this type with the other TypeParameterSymbols.

[2017-02-18 22:22] NickCraver commented on #16587
All of this is with MiniProfiler ([direct link](https://github.com/MiniProfiler/dotnet/tree/e723bdc56beb77a463603c46e53f319082bfcdb0)).

Here's current:
<img width="1140" alt="screen shot 2017-02-18 at 17 11 06" src="https://cloud.githubusercontent.com/assets/454813/23097263/6d1c2de0-f5fd-11e6-9342-a3d12f5bbf82.png">
Notice it's identical, but repeated per framework...it'd get a lot worse if I had

[2017-02-18 22:27] CyrusNajmabadi commented on #16587
Ok.  So i can see how that would work.  However, we'd have to figure out what to do in the case where the set of references was not identical.

@dpoeschl Given a Roslyn project that represents a shared-project, how do you get the set of all projects that it can represent.  i.e. here:

![image](https://cloud.githubusercontent.com/assets/4564579/23097339/429501d0-f5e6-11e6-8ffc-8adf27dd3027.png)

We

[2017-02-18 22:45] jmarolf commented on #15978
Thanks @bkoelman I think these issues need to be fixed:

- The updated SDK adds the copyright line at the top of all three project files
- I would recommend adding a package reference to Microsoft.CodeAnalysis.Analyzers v1.1 in the Test project.
- The .vsixmanifest contains a line referring to .NET framework 4.5
- When creating a new analyzer project, then trying to update packages to latest rc4 b

[2017-02-19 05:47] ufcpp commented on #13216
Ported to https://github.com/dotnet/csharplang/issues/145

[2017-02-19 05:47] #13216 closed

[2017-02-19 06:20] ufcpp commented on #15108
Ported to https://github.com/dotnet/csharplang/issues/146, https://github.com/dotnet/csharplang/issues/147

[2017-02-19 06:20] #15108 closed

[2017-02-19 07:22] ayman-metwally-developer commented on #6897
May I know the plan of this feature? the answer will direct a major design decision.

[2017-02-19 12:29] JosefPihrt opened #17245 "Conflict not recognized when renaming identifier in declaration expression"
**Version Used**: Visual Studio 2017 RC 15.0.0-RC4+26206.0

![renamedeclarationexpression](https://cloud.githubusercontent.com/assets/11931318/23102287/f288638c-f6a6-11e6-9706-1d13ab54ba5e.png)

[2017-02-19 13:19] timopomer commented on #17219
what is the `new {}` syntax supposed to do? just curious

[2017-02-19 14:20] rnagpal opened #17246 "Strange behaviour while Unit testing for memory leak using WeakReference"
I'm trying to write a unit test for testing a memory leak.

**Steps to Reproduce**:
[code]
I added a finalizer: `~TestClass() { Console.WriteLine("TestClass instance finalized");}` and I noticed that the finalizer gets called as part of GC commands in the Assert case but when I replace it with if condition, the finalizer doesn't gets called as part of the GC commands and hence the reference's targ

[2017-02-19 15:18] jods4 commented on #17219
@timopomer Creates an [anonymous type](https://msdn.microsoft.com/en-us/library/bb397696.aspx)

[2017-02-19 15:21] rnagpal opened #17247 "Finalizer not getting called for Disposable type objects"
**Steps to Reproduce**:
This is my code:
[code]

This is how I defined TestClass:

[code]
**Expected Behavior**:
I do see "Disposing TestClass" being printed after the using statement as expected but I also expect "TestClass Finalizer called" to be printed after the GC commands I run. I ensured that I skip calling GC.SuppressFinalize(this); in the Dispose method. Looks like disposed variables don'

[2017-02-19 15:33] #14401 closed

[2017-02-19 16:01] rnagpal commented on #17247
If I convert this to a non-disposable class and update the code like below, I do see the finalizer being called after the GC commands.

[code]

This is how TestClass is defined:

[code]

[2017-02-19 16:59] svick commented on #17239
What should the returned `SyntaxTree` contain? Do you expect Roslyn to fully decompile the type? Because AFAIK, Roslyn does not contain a decompiler.

[2017-02-19 17:13] gafter commented on #17247
This appears to be an issue/question better posed in the coreclr repository.

[2017-02-19 17:13] gafter commented on #17246
This appears to be an issue/question better posed in the coreclr repository.

[2017-02-19 18:00] jcouv commented on #11154
@DustinCampbell What's your thoughts on priority?
Given that the common scenario will be to use tuple syntax and not `ValueTuple`, I'm moving this out of 2.1.

[2017-02-19 18:08] jcouv commented on #16870
Relates to https://github.com/dotnet/roslyn/issues/1580 (support for warning waves)

[2017-02-19 18:43] DustinCampbell commented on #11154
That makes sense to me. Adding @Pilchie as FYI.

[2017-02-19 19:13] HamedFathi commented on #17239
Decompiler is so bigger than my need, of course you right this is task of a decompiler.
Is there any way for convert a type to roslyn syntax tree?

[2017-02-19 19:24] CodeSingularity commented on #11773
Why not abbreviate the syntax even further? allow the type

[2017-02-19 19:26] CodeSingularity commented on #11773
Why not abbreviate it even further?

This syntax is similar to the Extension method syntax. The Generic type could be automatically inferred with the following syntax:

[code]

[2017-02-19 20:08] jcouv commented on #16543
Relates to https://github.com/dotnet/roslyn/issues/15381 (which suggests that we should only report one error, instead of two)
Currently, one error comes from trying to bind the `Deconstruct` invocation, while the second error is added to say that the deconstruction failed.

[2017-02-19 20:15] jcouv commented on #16170
FYI @VSadov
This was likely fixed (at least in C#) by https://github.com/dotnet/roslyn/pull/16659

[2017-02-19 20:19] jcouv commented on #14277
It will help for repro and verification to have a specific scenario that is impacted. Could you provide one?

[2017-02-19 20:58] jcouv commented on #15837
I tried it just now ([TryRsolyn](http://tryroslyn.azurewebsites.net/#b:master/HYQwtgpgzgDiDGEAEBhA9sKaA2ECCMM2AlvCAC7EYDMAUAN61LNLzYhRRIAKATmgHNe4Ji0YsJSKOQqkkANzTEAJkgCyIYsAAU03loEBtALpIQvAVACUoyUnF3JW8khVIAvEgCMAOgDiEOQAkuQQYAA8zgB82lYA3LaOzGgARgBWEPAuxKFgHt7+gSFh4THxiRIAvonViTAArikk8FIylC1sHFwAogAeoZhUmIkOdg1NctKyLQAqSAHBueEzMeQAFsRcqRlZrrk2SaNJSLyB9bzASMoQAGYg9djk2jPlSdVVtJVAA===)) and got a p

[2017-02-19 21:06] bkoelman commented on #15978
@jmarolf Thanks for explaining, sounds like a good plan!

Just to make sure: the CopyLocal settings is not something that needs attention?

[2017-02-19 21:06] rnagpal commented on #17246
Created an issue in coreclr repo: https://github.com/dotnet/coreclr/issues/9673 and closing this one.

[2017-02-19 21:06] #17246 closed

[2017-02-19 21:07] rnagpal commented on #17247
Created an issue in corclr repo : https://github.com/dotnet/coreclr/issues/9674 and closing this one.

[2017-02-19 21:07] #17247 closed

[2017-02-19 21:53] jcouv commented on #14938
Depends on https://github.com/dotnet/roslyn/issues/1580 (support for warning waves)

[2017-02-19 23:02] gafter commented on #7971
Reopening; the PR quoted as fixing this actually just added a (skipped) test for it. I'm not saying I know for sure the problem still exists, but I don't have any evidence that it has been fixed, so I'm reopening this for investigation and possible fixing.

[2017-02-19 23:26] tmat commented on #7971
I am not aware of any fix we made to address this.

[2017-02-20 01:07] gafter commented on #9091
Let statements are no longer part of the pattern-matching design.

[2017-02-20 01:07] #9091 closed

[2017-02-20 01:07] gafter commented on #9088
Let statements are no longer part of the pattern-matching design.

[2017-02-20 01:07] #9088 closed

[2017-02-20 01:08] gafter commented on #9029
The let statement is not part of the latest patterns design.

[2017-02-20 01:08] #9029 closed

[2017-02-20 01:08] gafter commented on #9083
The let statement is not part of the latest patterns design.

[2017-02-20 01:08] #9083 closed

[2017-02-20 01:08] gafter commented on #9084
The let statement is not part of the latest patterns design.

[2017-02-20 01:08] #9084 closed

[2017-02-20 01:08] gafter commented on #9085
The let statement is not part of the latest patterns design.

[2017-02-20 01:08] #9085 closed

[2017-02-20 01:08] gafter commented on #9086
The let statement is not part of the latest patterns design.

[2017-02-20 01:08] #9086 closed

[2017-02-20 04:29] #17126 closed

[2017-02-20 04:29] #17129 closed

[2017-02-20 05:26] TheOtherSamP commented on #11773
@CodeSingularity I considered the possibility of allowing something along these lines to simplify usage, but if we allow this the signature of `Animal<TSelf>` would clash with `Animal`. Currently it's possible to override a type definition on the number of type arguments, interfering with that in any way seems like a no go.

[2017-02-20 05:54] TheOtherSamP commented on #16312
@orthoxerox You referenced my issue https://github.com/dotnet/roslyn/issues/11773 as being solved by type classes in https://github.com/dotnet/roslyn/issues/16312#issuecomment-271152541, could you please explain how type classes solve this? Perhaps I'm missing something, but I don't think they do. Particularly and specifically, https://github.com/dotnet/roslyn/issues/11773 allows functionality (a

[2017-02-20 05:56] ctaggart commented on #12759
I hope to have the tool for creating the source link out later this week. In the spirit of writing the tests first, I just posted a prerelease of dotnet-sourcelink that can test all the checksums in a Portable PDB.

[code]

[code]

Progress.
https://github.com/ctaggart/SourceLink

[2017-02-20 06:17] tmat commented on #12759
@ctaggart Cool. dotnet tools usually pick up the project context from the .csproj in the current directory. Perhaps the PDB should be picked up from the project rather than passing on command line ```-p .\bin\Debug\netstandard1.4\ClassLibrary1.pdb```?

/cc @srivatsn

[2017-02-20 06:33] tmat commented on #12759
@srivatsn Do we have a design guideline for dotnet tools? How dotnet tools should correspond to msbuild task, etc.

[2017-02-20 07:46] orthoxerox commented on #16312
@TheOtherSamP
If `MakeFriends(T @this, T other)` is a method defined in a type class, you can add instances that implement it for every class in the hierarchy without destroying substitution rules as you would with a virtual method with `TSelf`.

[2017-02-20 10:35] TheOtherSamP commented on #16312
@orthoxerox Okay, I understand where you're coming from. I don't think this is really the same thing though as it needs to be implemented each time. That's fairly different from a non virtual method implemented in the base.

Thank you for clarifying though, much appreciated.

[2017-02-20 13:54] controlflow opened #17254 "Diagnostic clarity: misleading error message"
Error messages for constant patterns under `is` can be misleading comparing to similar situation with `switch` statement patterns:
[code]

[2017-02-20 14:06] DavidArno commented on #16869
@jcouv,

Could you clarify please, will #17027 make it into C# 7 (for VS2017 RTM), or will this appear in C# 7.1+?

[2017-02-20 14:30] AdamSpeight2008 opened #17255 "Integration Test Failure"
A recent commit has introduced a failing unittest.
[Failure](https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_release_vs-integration_prtest/162/testReport/junit/Roslyn.VisualStudio.IntegrationTests.CSharp/CSharpInteractive/ForStatement/)
which is causing unrelated Pull Requests to fail.

[2017-02-20 15:28] 0xd4d opened #17256 "Completion listbox isn't shown after typing `?? throw new `"
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

1. Add code

[code]

2. Add `new ` (space after new) after `throw`

**Expected Behavior**:

Completion listbox pops up

**Actual Behavior**:

Nothing happens.

[2017-02-20 15:31] 0xd4d opened #17257 "Expression bodied constructor line doesn't get auto formatted on semicolon"
**Version Used**: VS2017RC.4

**Steps to Reproduce**:

1. Add code

[code]

2. Add a semicolon after `public Program()=>field=1`

**Expected Behavior**:

The line gets formatted

**Actual Behavior**:

The line doesn't get formatted.

[2017-02-20 16:54] miloush opened #17258 "Extension methods named as properties kill intellisense"
**Version Used**: 2.0.0.61413

**Steps to Reproduce**:
[code]

**Expected Behavior**: `i` to be offered for autocompletion

**Actual Behavior**: `i` is missing in the list. The parameters info tooltip shows `IEnumerable<int>.Count()`.

[2017-02-20 17:11] svick opened #17259 ""Entry point cannot be marked async" error not showing in Build + IntelliSense Error List"
**Version Used**: VS2017RC (VisualStudio/15.0.0-RC.5+26206.0)

**Steps to Reproduce**:

1. Create a new .Net 4.6.2 Console application.
2. Add the `async` modifier to `Main()` (turning it into `async void` method).
3. Build.

**Expected Behavior**:

The following error shows in the Error List in the default Build + IntelliSense mode:

**Actual Behavior**:

The error shows in the Output window and

[2017-02-20 18:19] gafter commented on #17254
The message is different because the meaning is different.

`e is A.B` looks for a type named `A.B` as its first choice for how to interpret this. That is required for backward compatibility.

`case A.B` looks for an expression named `A.B` (which is hoped to be a constant). That too is required for backward compatibility.

That is the reason the errors are different.

Does this answer address your

[2017-02-20 18:25] gafter commented on #17258
Because you've typed `<`, you are now entering type parameters for the generic extension method `Count`.

[2017-02-20 18:29] alrz commented on #17254
Could that be relaxed to allow those cases but with a precedence for binding according to previous versions to retain backward compatibility? e.g. `e is X` first look for a type and then a constant, conversely, `case X` look for a constant and then for a type?

[2017-02-20 18:44] AArnott commented on #12759
This is a matter I've been discussing with @ctaggart. He is of the opinion that SourceLink should ship as a CLI tool, with a simple MSBuild wrapper. I'm advocating for just MSBuild integration so that it's totally automatic.

MSBuild doesn't (yet?) support loading MSBuild Tasks and their dependencies from restored packages the way CLI tools do though, which is what @ctaggart is focusing on. I work

[2017-02-20 18:48] gafter commented on #17254
@alrz That is exactly what we already do.

[2017-02-20 18:50] controlflow commented on #17254
@gafter the error states that "The type name 'X' does not exist in the type 'C'", so it looks like the `C` reference in `o is C.X` is bound to type `C`, but in fact it is bound to constant `D.C`. Removing `D.C` constant fixes the error.

[2017-02-20 18:54] alrz commented on #17254
@gafter Somehow, but we don't go further in case of a failure. If we were, the example in the OP would compile fine.  `C.X` as a type is unresolvable in `is C.X`, we could, however, bind it to the constant `C.X`, or vice versa for `case C.X`.

[2017-02-20 18:57] OmarTawfik commented on #9019
@didemg can you please attach the value of `text` and `vbRefs` in your sample code?
The file attached is a C# parser. Not sure how it is related to the VB crash.

[2017-02-20 19:00] VSadov opened #17261 "lifted comparison codegen can be improved"
In the codegen of lifted comparison operators some conditional branches seem unnecessary.
They only serve to shortcircuit trivial bool operators over locals - that does not seem very profitable.

We should do something like in: https://github.com/dotnet/corefx/pull/15941
( Also check https://github.com/dotnet/corefx/pull/17535 if that is better )

Example:

We emit lifted equality for `left` and `

[2017-02-20 19:23] gafter commented on #9100
Positional patterns will not be inferred from constructors.

[2017-02-20 19:23] #9100 closed

[2017-02-20 19:36] #17140 closed

[2017-02-20 19:38] gafter commented on #17254
@controlflow The name `C.X` must be bound either as a type or as a (constant) expression. As an expression it fails (because there is no constant named `X` inside `D.C`, which is what `C` as an expression binds to). As a type it fails because there is no such type `C.X` anywhere. Since the backward-compatible behavior is to treat it as a type, we select which of these two errors to report by doing

[2017-02-20 20:37] OmarTawfik commented on #15837
Yes. Fixed in #15966, and a test for that case is added in https://github.com/dotnet/roslyn/blob/49415ad4794c95265007a80a5fd9e1f519509dd9/src/Compilers/CSharp/Test/Semantic/Semantics/BindingTests.cs#L3430

[2017-02-20 21:02] tmat commented on #6526
Fixed.

[2017-02-20 21:02] #6526 closed

[2017-02-20 21:04] #17122 closed

[2017-02-20 22:00] CyrusNajmabadi commented on #17028
I've got a mitigation change available here: https://github.com/dotnet/roslyn/issues/17264

We will warn if you do this.  But we will still allow the user to make such a change if they want.

[2017-02-20 22:27] jcouv commented on #16869
The plan of record is for this optimization to ship with 7.1 (along with PRs currently being merged with milestone=2.1).

[2017-02-20 22:29] jods4 commented on #17028
Don't know if this is included in your change, but would be nice if I could do a "fix all occurrences" with "except in `Expression`".

[2017-02-20 22:30] CyrusNajmabadi commented on #17028
It is not included in the change.  We can consider making such functionality available.

[2017-02-20 22:59] ali-hk opened #17265 "VS analyzer doesn't show important messages about why an analyzer failed or stopped"
I've written a code refactoring that adds some documents under folders. If the user has a folder in the file system that's not part of the project and the refactoring then tries to generate a file into that folder, it fails and shows the "Analzyer disabled because it stopped working, enable/ignore" banner, but the user will have no idea why and no way to figure this out.
A COMException gets thrown

[2017-02-21 00:07] controlflow commented on #17254
@gafter the only confusing part is "does not exist in the type 'C'". If expression `C` is bound to `D.C`, it has type `string`, not `C`, isn't it?

[2017-02-21 01:03] Pilchie commented on #17233
I'm pretty sure @jmarolf fixed this already.

[2017-02-21 01:06] gafter commented on #17243
This refers to the following code:

[code]

[2017-02-21 01:12] gafter commented on #17254
@controlflow When we're looking up a type, we don't bind the part before the dot as an expression.

[2017-02-21 01:29] VSadov opened #17266 "Double evaluation in pattern matching"
The following code prints "eval" twice

[code]

[2017-02-21 01:30] VSadov commented on #17266
reproduces as of master @  Feb 13

[2017-02-21 01:30] VSadov commented on #17266
@gafter

[2017-02-21 02:21] CyrusNajmabadi commented on #16934
@bpierson Are you going to be able to get to this?  If not, i'll take it.  Thanks!

[2017-02-21 02:29] CyrusNajmabadi commented on #16873
i can't find a repro for this.  If you get a repro can you collect a dump next time?

[2017-02-21 02:29] #16873 closed

[2017-02-21 02:31] CyrusNajmabadi commented on #17013
We can potentially use the [BackgroundTaskManager](https://devdiv.visualstudio.com/DevDiv/_git/BackgroundTaskManager) here.

[2017-02-21 03:21] gafter commented on #17261
@VSadov Can you please spell out the issue (what kind of source, what IL do we generate now, and what IL would be better)?

[2017-02-21 04:20] alrz commented on #17028
Rather than a separate option, fix-all preview could deselect those cases by default as there is a warning?

[2017-02-21 05:53] dornstein commented on #2901
**Bummer.**  Such an obscure bug, but...  I just hit this and it really is a pain that I now have to hard-code handing of just this special case.   I'm writing a translator that translates from a subset of csharp to another language and when traversing through the parse tree I can use the semantic model for operator resolution -- except in this case. :-(

I see somebody added [Up for Grabs] but I

[2017-02-21 06:00] tmat opened #17268 "Source server links in PDBs don't work due to line ending difference"
The links in Roslyn PDBs point to https://raw.githubusercontent.com, which serves source files as they are stored in git. The build server checks out files with Windows line endings however.
As a result the compiler calculated SHAs differ from what debugger calculates for the content dowloaded from https://raw.githubusercontent.com.

[2017-02-21 06:09] CyrusNajmabadi opened #17269 "Crash writing a VB implements clause that did not resolve."
[code]

[2017-02-21 09:30] siegfriedpammer opened #17271 "Question: Is there a way to override isEnabledByDefault: false in Unit Tests?"
In our unit testing base classes we use the following to initalize the environment:

            var syntaxTree = parseTextFunc(text.ToString());

            Compilation compilation = createCompilationFunc(new[] { syntaxTree });
            var diagnostics = new List<Diagnostic>();

            var compilationWithAnalyzers = compilation.WithAnalyzers(ImmutableArray<DiagnosticAnalyzer>.Empty.Add(n

[2017-02-21 10:20] miloush commented on #17258
Hmm I see... that's a bit ambiguous indeed. In that case the list should contain items from both options I guess?

[2017-02-21 10:39] siegfriedpammer opened #17273 "Analyzer (SyntaxNodeAction) not being called for all parts of partial method"
**Version Used**:
Visual Studio: `15.0.0-RC.4+26206.0 (Community)`
.NET: `4.6.01586`
Roslyn: `2.0.0-rc4` nugets

**Steps to Reproduce**:

1. Create the following analyzer:

		[DiagnosticAnalyzer(LanguageNames.CSharp)]
		public class MyAnalyzer: DiagnosticAnalyzer
		{
			static readonly DiagnosticDescriptor descriptor = ...;

			public override ImmutableArray<DiagnosticDescriptor> SupportedDiagnost

[2017-02-21 11:15] controlflow commented on #17254
OK, I think I finally got it 👍

[2017-02-21 11:15] #17254 closed

[2017-02-21 15:37] bpierson commented on #16934
Hi Cyrus, I would appreciate if you did. I'm going to work on my git skills
on a few lower profile projects first. :) Thanks.

On Feb 20, 2017 7:21 PM, "CyrusNajmabadi" <notifications@github.com> wrote:

@bpierson <https://github.com/bpierson> Are you going to be able to get to
this? If not, i'll take it. Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2017-02-21 16:43] JosefPihrt opened #17274 "Implement Abstract Class - using directives are inserted at the beginning of a document"
**Version Used**: Visual Studio 2017 RC 15.0.0-RC4+26206.0

**Code to Reproduce**:
[code]
**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

[2017-02-21 16:57] gafter commented on #17121
Reopening until editorconfig fallout is clear and documented.

[2017-02-21 17:03] josefpihrt opened #17275 "Intellisense + Capital Letters"
**Version Used**: Visual Studio 2017 RC 15.0.0-RC4+26206.0

![intellisense](https://cloud.githubusercontent.com/assets/11931318/23174998/5d6a29a2-f85e-11e6-9184-2a6f6d3b3ed5.png)

* Currently, when I type **CR**, a method with name **C...R...** is selected only if there is no method with name **Cr...**

* I would propose that if I type **CR** and there is a method with name **C...R...**, it should

[2017-02-21 17:20] srivatsn commented on #12759
Adding @blackdwarf @piotrpmsft @livarcocc for guidance around CLI tools.

[2017-02-21 17:59] gafter commented on #2901
It can't be treated like other operators because the operands are not evaluated before the operator.

[2017-02-21 18:41] #17266 closed

[2017-02-21 18:41] Pilchie commented on #17269
@rchande is this the issue that you were just looking at?

[2017-02-21 18:44] RobJellinghaus commented on #11620
If we had capture lists, then no, we would not.

The overall point of the proposal was to allow the programmer to express that the lambda _should not_ capture, so that any inadvertent capture would be flagged as an error.  The assumption is that non-capturing lambdas are an important enough case (due to their ability to be statically allocated) that special support to facilitate their use is warra

[2017-02-21 18:57] AlekseyTs commented on #16337
If I remember correctly, assembly level attributes are de-duped based on the target attribute and values as part of attribute merging across all modules. It would be interesting to see if native compiler behaves in the same manner.

[2017-02-21 19:10] AlekseyTs commented on #15840
This is likely caused by the fact that C# compiler has to add an explicit interface implementation stub inside Class2 because the Class1.Name property is not virtual and is defined in another assembly.

[2017-02-21 19:22] ig-sinicyn commented on #16337
@AlekseyTs

It does. Same behavior on с# 3 compiler (VS 2008).

[2017-02-21 19:28] rchande commented on #17269
@CyrusNajmabadi Do you remember what you did to repro this?

[2017-02-21 19:29] CyrusNajmabadi commented on #17269
I was writing an implements clause in a project that had tons of resolution errors.

[2017-02-21 19:32] axel-habermaier commented on #2901
@gafter: So contrary to what you wrote on CodePlex two years ago, you no longer believe this to be a bug?

[2017-02-21 19:51] generateui opened #17279 "Relax unicode constraints"
Obviously, copying APL like
[code]
may not be exactly an improvement over the current situation. However, I can see value in using unicode characters as variable names `var Δ = value1 - something` or `var ∑ = prices.Sum()`.

Currently, some symbols are valid C#, such as `ε`.

Proposal: identify usefull unicode symbols and allow them to be used in C# symbol names such as class names, variable names

[2017-02-21 20:10] cston opened #17280 "Binder.IsApplicable should not need to check convertibility of arguments after first bad argument"
`Binder.IsApplicable` currently checks convertibility of all arguments. Could `IsApplicable` simply return an error result based on the first non-convertible argument, even in the error recovery case?

[2017-02-21 20:14] cston commented on #17280
@gafter, @vsadov FYI.

[2017-02-21 20:16] jeremymeng opened #17281 "NullReferenceException when selecting a switch label with errors in pattern matching"
**Version Used**:
VS 2017 d15rel 26214.1
**Steps to Reproduce**:

1. paste the following code in a C# file
[code]
2. double click to select "Unknown"

**Expected Behavior**:
No error
**Actual Behavior**:
Error about extract method code refactoring provider

[code]

[2017-02-21 20:42] gafter commented on #2901
If your expectation is to get an operator like `bool.operator |(bool, bool)`, when `||` appears in the source, then that is reasonable and this could be considered a bug. If you expect `bool.operator ||(bool, bool)` then that isn't reasonable.

[2017-02-21 20:54] gafter opened #17283 "Do not bind unbound lambdas until needed for error recovery"
When no method is applicable in an invocation, we can avoid binding lambdas until needed in the SemanticModel. Presumably we'd bind them lazily when needed against applicable delegate types. That might make the compiler faster, particularly in the batch compilation scenario.

Related to #17280

/cc @cston @VSadov

[2017-02-21 21:18] #17120 closed

[2017-02-21 21:21] svick commented on #17279
[The C# spec says](https://github.com/dotnet/csharplang/blob/6027ad5a4ab013f4fb42f5edd2d667d649fe1bd8/spec/lexical-structure.md#identifiers):

I think that (mostly) following the Unicode standard is the right approach.

The actual rules are that any Unicode characters that are letters are allowed in identifiers. This means that this code is valid C#:

[code]

Notice that I used U+03A3 GREEK CAPITA

[2017-02-21 21:24] CodeSingularity commented on #11773
I see your point.

Would it possible to disallow the 'this TSelf' syntax if there are conflicting definitions?
(classes with the same name and no 'this' Generic)?

[code]

Another example, with generics

[code]

[2017-02-21 21:35] VSadov opened #17285 "More parsing tests for `readonly ref`"
* deconstruction declarations
* out var declarations
* declaration patterns
* for loop
* patterns?
* more ideas?

[2017-02-21 21:51] jasonmalinowski commented on #8467
It's done this for quite awhile now.

[2017-02-21 21:51] #8467 closed

[2017-02-21 22:00] jasonmalinowski commented on #15875
These are gone now.

[2017-02-21 22:00] #15875 closed

[2017-02-21 22:02] jasonmalinowski commented on #16179
@eliassal Let us know if you still are running into issues.

[2017-02-21 22:02] #16179 closed

[2017-02-21 22:02] jaredpar commented on #16998
I should change the word to info / diagnostic instead of error.  It basically means that there was an issue caluclating the content file for a test case.  99% of the time this is due to a missing reference that we need to add to the "okay to be missing list".

Ideally I'd put nothing in the log.  The problem is that I can't archive a single artifact on correct builds unless I archive everything el

[2017-02-21 22:03] #15195 closed

[2017-02-21 22:03] jasonmalinowski commented on #15058
@cston: what's the problem with the current setup?

[2017-02-21 22:04] CyrusNajmabadi opened #17286 "Compiler 'warning level' affects if we show 'suggestions' or not."
If projects change their warning level (say to 0), here:

![image](https://cloud.githubusercontent.com/assets/4564579/23187125/93aa0f98-f83e-11e6-8c6d-f3281f8d9efa.png)

Then suggestions will no longer show up.  This doesn't make sense to me.

[2017-02-21 22:06] jasonmalinowski commented on #13620
So now that we're on a fixed pool of machines, any reason not run them for everybody already in the org? Understanding of course my statement does _not_ apply to outside the org.

[2017-02-21 22:06] VSadov opened #17287 "[Umbrella] Readonly ref workitems"
Tracking bug of smaller work items:

- [x] turn this bug into a readme.md document for the feature.

- [x] syntax model parsing
    - [x] more tests for syntax/parsing if necessary
    - [x] operators: should they be able to return by ref readonly? currently parser fails.
- [x] binding right RefKind, some testing
   - [x] `in` parameters
   - [x] `ref readonly` parameters
   - [x] `ref readonly` r

[2017-02-21 22:07] jasonmalinowski commented on #13204
@tmat: looks like you already did this?

[2017-02-21 22:10] cston commented on #15058
@jasonmalinowski The current setup is perhaps good enough. Feel free to close this issue.

[2017-02-21 22:11] jasonmalinowski commented on #12519
We don't have projects with test-specific files anymore.

[2017-02-21 22:12] tannergooding commented on #13620
@jasonmalinowski, there is no reason why they shouldn't be able to run for those in the Microsoft/DotNet orgs by default now.

[2017-02-21 22:15] jasonmalinowski commented on #12137
@tannergooding Any reason to keep this bug alive at this point? I suspect we've cleaned most of it up by now.

[2017-02-21 22:17] #10560 closed

[2017-02-21 22:17] jasonmalinowski commented on #10408
This is an old-style build problem, we aren't using this anymore.

[2017-02-21 22:17] #10408 closed

[2017-02-21 22:18] jasonmalinowski commented on #10177
@CyrusNajmabadi Are you see thing this these days?

[2017-02-21 22:18] tannergooding commented on #12137
I believe it has all been cleaned up now. @jaredpar could probably confirm since he has done the most recent work in this area.

[2017-02-21 22:19] CyrusNajmabadi commented on #10177
Nope.  It's been good for a few months.

[2017-02-21 22:19] #10177 closed

[2017-02-21 22:20] jaredpar commented on #12137
Keep this for now.  Let me close it out with my xcopy work.

We still do have hard codings (deliberately) 😦

[2017-02-21 22:20] jasonmalinowski commented on #9491
We are using binding redirects again for the desktop side of things.

[2017-02-21 22:20] #9491 closed

[2017-02-21 22:21] jasonmalinowski commented on #9377
Going to close this until we reactivate that project.

[2017-02-21 22:21] #9377 closed

[2017-02-21 22:23] jasonmalinowski commented on #8896
Moving to compiler since it's a compiler test helper.

[2017-02-21 22:30] Pilchie commented on #17286
@mavasani or @heejaechang do you know why this is?  Also, is it only if it is `0`?

[2017-02-21 22:32] jasonmalinowski commented on #6406
This is done.

[2017-02-21 22:32] #6406 closed

[2017-02-21 22:32] Pilchie commented on #17165
Do you have a repro or dump?

[2017-02-21 22:32] tmat commented on #12519
We still have build\Defaults\Desktop\app.config and build\Defaults\Portable\app.config

[2017-02-21 22:33] jasonmalinowski commented on #6356
This is definitely working now.

[2017-02-21 22:33] #6356 closed

[2017-02-21 22:33] Pilchie commented on #17171
There is an `.editorconfig` setting for this that we should obey.

[2017-02-21 22:33] mavasani commented on #17286
I have no idea - I know the IDE driver uses diagnostic severity in some way to determine what analyzers to execute for closed files, but don't know if anything is using the warning level. Likely a bug...

[2017-02-21 22:34] jasonmalinowski commented on #6159
@jaredpar @agocke How are we building on Linux today? I've lost track. This bug looks most stale.

[2017-02-21 22:35] jasonmalinowski commented on #4672
Azure VMs are available these days, I don't think there's more work to do here.

[2017-02-21 22:35] #4672 closed

[2017-02-21 22:36] Pilchie commented on #17185
Yeah, I'm not inclined to stop offering this in this case.

[2017-02-21 22:36] #17185 closed

[2017-02-21 22:40] jasonmalinowski commented on #8160
These were updated long ago.

[2017-02-21 22:40] #8160 closed

[2017-02-21 22:41] Pilchie commented on #17234
Is this the same issue as the "Ctrl+J", number case?

[2017-02-21 22:42] jasonmalinowski commented on #7356
@jaredpar Did you fix this?

[2017-02-21 22:42] Pilchie commented on #17232
@olegtk @dpugh does this look familiar to either of you?

[2017-02-21 22:42] Pilchie commented on #17236
Dupe of https://github.com/dotnet/roslyn/issues/14597

[2017-02-21 22:42] #17236 closed

[2017-02-21 22:43] #7356 closed

[2017-02-21 22:43] jaredpar commented on #7356
Yep.

[2017-02-21 22:43] brettfo commented on #12116
Fixed by dotnet/roslyn-internal#1589.

It's running on an internal machine as a scheduled task, not as an Azure job, but there's a bigger work item to migrate all such tools to an Azure job.

[2017-02-21 22:43] jasonmalinowski commented on #4775
#15422 is tracking us moving to proper integration test, since that brings other goodness too.

[2017-02-21 22:43] #4775 closed

[2017-02-21 22:44] jasonmalinowski commented on #297
I'm going to close this. This isn't infrastructure, and I agree that audits are good, I suspect a bug isn't going to motivate that.

[2017-02-21 22:44] #297 closed

[2017-02-21 22:45] Pilchie commented on #17258
VB does some merging of lists in similar cases, but we don't in C# that I know of. Perhaps we should consider it.

[2017-02-21 22:46] Pilchie commented on #17274
I thought we had fixed these to detect comment banners...

[2017-02-21 22:47] Pilchie commented on #17275
Tag @kuhlenh @CyrusNajmabadi @rchande @DustinCampbell

How do people feel about changing match preferences in cases like this?

[2017-02-21 22:48] Pilchie commented on #17239
@HamedFathi what are you trying to do - in general, there is no guarantee that you can ever get a `SyntaxTree` for a type - it may come from a metadata reference for example.

[2017-02-21 22:49] Pilchie commented on #17232
@tmat should probably file internally, as this is all VS Platform IntelliSense code.

[2017-02-21 22:49] #17232 closed

[2017-02-21 22:49] jasonmalinowski commented on #6546
@jaredpar We do this now as a part of your tool, no?

[2017-02-21 22:54] #5155 closed

[2017-02-21 22:55] jasonmalinowski commented on #6974
We're using dynamic machines now, and with the work happening to easily make repro machines we won't need this.

[2017-02-21 22:55] #6974 closed

[2017-02-21 22:56] jasonmalinowski commented on #9729
Moving to IDE: these are IDE bugs due to IDE dependencies, so it's not a core infrastructure problem.

[2017-02-21 22:57] heejaechang commented on #17286
this is compiler code so tagging @dotnet/roslyn-compiler

but looking at the source code
http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Compilation/CSharpDiagnosticFilter.cs,116

giving 0 to that looks like it will filter out any diagnostics that has warning level bigger than 0 (if 0 is given) which means, all diagnostics except error.

[2017-02-21 22:58] jasonmalinowski commented on #12116
@brettfo We should move this to Azure now instead of creating more debt.

[2017-02-21 22:59] heejaechang commented on #17286
question on whether suggestion should be part of compiler diagnostic error mechanism or not will be design question. right now, analyzers are compiler's concept which has no difference than compiler generated diagnostics.

so, if user set to filter out any diagnostics that has warning level bigger than 0, than suggestion will be filtered out.

[2017-02-21 23:01] #15058 closed

[2017-02-21 23:02] #8458 closed

[2017-02-21 23:15] jasonmalinowski commented on #16998
Then shouldn't we fail the test run until it's fixed? Otherwise this feels like leaving warnings in the build with warnings-as-errors off...unless they're enforced they do no good.

[2017-02-21 23:17] CyrusNajmabadi commented on #17275
Basically, an exact case-sensitive, CamelCase match would beat out case-insensitive other matches.  I think that's ok.  If the filter text contains capital letters, that's a strong signal this is what the usre wants.  I think we could safely take this.

[2017-02-21 23:20] jasonmalinowski commented on #12137
@jaredpar Can you update the bug/title to reflect current problems?

[2017-02-21 23:25] #6858 closed

[2017-02-21 23:28] #9093 closed

[2017-02-21 23:28] gafter commented on #17286
Probably the warning level should only affect filtering of warnings.

[2017-02-21 23:31] mavasani commented on #17286
@gafter - I like your suggestion, though I am not sure if this will be a breaking change or not.

[2017-02-21 23:32] AlekseyTs commented on #16901
I am not able to reproduce the error with 2.0.0.61413 compiler.

[2017-02-21 23:34] jasonmalinowski commented on #16322
@reaction1989 Hmm, sorry this particular bug got missed. That should have worked. Are you still seeing this?

[2017-02-21 23:35] jasonmalinowski commented on #16036
@tmat Did you fix this for that ngen bug for the earlier RC release?

[2017-02-21 23:35] agocke commented on #16356
I've written a Python script for this. Currently finding a place to put it. :)

[2017-02-21 23:36] jasonmalinowski commented on #15559
Taking this bug as I'll be bringing up with the SDK team.

[2017-02-21 23:37] #8028 closed

[2017-02-21 23:38] #12691 closed

[2017-02-21 23:38] olegtk commented on #17232
not a known to me issue.

[2017-02-21 23:43] heejaechang commented on #17286
@gafter suggestion is currently concept in compiler, so what method are we giving customers if users do want to filter out all suggestions?

[2017-02-21 23:43] jasonmalinowski commented on #15890
@jaredpar Do we have a GitHub project or tag or something else where we're tracking the netstandard20 move to?

[2017-02-21 23:43] jasonmalinowski commented on #15668
@zanqi: are you still able to reproduce this?

[2017-02-21 23:45] jasonmalinowski commented on #15517
Ah, we're tracking that issue over at #15667.

[2017-02-21 23:45] #15517 closed

[2017-02-21 23:46] #8285 closed

[2017-02-21 23:47] jasonmalinowski commented on #7677
Moving these to the areas impacted by the list of files to see if there's any work to still do. Infrastructure isn't a vacuum cleaning service for other team's code. :smile:

[2017-02-21 23:48] mavasani commented on #17286
@heejaechang - end users can still suppress suggestions by using `/nowarn:<SuggestionID>`. I think Neal's suggestion was to update the first part of the if condition in the code you pointed to do the "warning level" based filtering only for diagnostics with severity Warning:

[code]

[2017-02-21 23:49] jasonmalinowski commented on #11593
@heejaechang Can you share the PR?

[2017-02-21 23:51] heejaechang commented on #11593
you mean this ?
https://github.com/dotnet/roslyn-internal/pull/1432

[2017-02-21 23:59] jasonmalinowski commented on #9252
Thinking about this: this configuration isn't a branch-specific statement, but rather code-specific statement. A newly-created release branch will not conform to not having myget feeds, and also as we create new branches from other release branches we want the "it doesn't depend on myget"-ness to flow along.

Is there any reason we shouldn't just make a work item towards the end of a release to ju

[2017-02-22 00:06] kuhlenh commented on #17275
:+1: ran into this today...wanted to do ```DateTime.Now.AD``` to filter to ```AddDays()``` but it kept just preselecting ```Add()```. As long as we make it case-sensitive, this should be fine.

[2017-02-22 00:07] DustinCampbell commented on #17275
I"m also in favor of this. Sounds like a good tweak to me.

[2017-02-22 00:07] jasonmalinowski commented on #12187
@brettfo Once you've got the other two things off your plate, can you investigate this and see if this is still a problem? I think the best process here would be to try making your own little branch off of 2.0.0, version it 2.0.1 (but leave assembly at 2.0.0), do an insertion and see what blows up. Since we'll be doing this at some point for servicing in the net few weeks, we should front-load thi

[2017-02-22 00:09] jasonmalinowski commented on #9227
Just validated that yes, this is working.

[2017-02-22 00:09] #9227 closed

[2017-02-22 00:10] jasonmalinowski commented on #8469
We're going to move to VSTS releases.

[2017-02-22 00:10] #8469 closed

[2017-02-22 00:10] NickCraver commented on #5343
Echoing Oren here, in getting this every day and it's extremely annoying. It turns Visual Studio into notepad for the #ifdef sections that it bugs on. Please give this bug the severity of the impact it has.

[2017-02-22 00:10] jasonmalinowski opened #17289 "Move insertion triggering to VS Team Services releases"
Right now we trigger releases from a machine. We should integrate these into VSTS releases.

[2017-02-22 00:11] jasonmalinowski commented on #8468
This will be subsumed by release tracking, since VSTS does that.

[2017-02-22 00:11] #8468 closed

[2017-02-22 00:12] jasonmalinowski commented on #9756
Closing this: the removal of the scripts is being tracked by other issues right now.

[2017-02-22 00:12] #9756 closed

[2017-02-22 00:14] jasonmalinowski commented on #10868
Oops just filed #17289 not realizing this was still around. That other bug is the new plan.

[2017-02-22 00:14] #10868 closed

[2017-02-22 00:15] tmat commented on #16036
Yes.

[2017-02-22 00:15] #16036 closed

[2017-02-22 00:15] jasonmalinowski commented on #17093
@tmat @dpoeschl How is this coming?

[2017-02-22 00:16] jasonmalinowski commented on #11593
Ah yes, that. What's holding it up?

[2017-02-22 00:16] JosefPihrt commented on #17275
I realized that name can also start with two upper-case letters (interface name). So I would say that priority should go like this:

1. **AB...**
2. **A...B...**
3. **Ab...**

[2017-02-22 00:17] jasonmalinowski commented on #9415
This has been working for awhile.

[2017-02-22 00:17] #9415 closed

[2017-02-22 00:19] tannergooding commented on #17093
They should no longer be hanging at all and should be running and consistently passing now (they are running on PRs by default now even).

A run will occasionally fail due to the following error: `The "EnableExtension" task failed unexpectedly.`. This seems to be general flakiness with `/p:DeployExtension=true`

[2017-02-22 00:21] jasonmalinowski commented on #16301
@jaredpar Are you working on this? I'm guessing not, and I'll move it properly to the infrastructure backlog.

[2017-02-22 00:23] jaredpar commented on #16301
No I'm not at the moment.

[2017-02-22 00:48] jeremymeng commented on #17281
I found that the same exception is thrown even the code is valid, e.g., when selecting the matched variable `_` in error-free code.

[2017-02-22 01:00] 333fred opened #17290 "New line settings not taking"
**Version Used**: d15rel/26220.01

**Steps to Reproduce**:

These steps seem to need to be _exactly_ these, it's easy to miss the repro.
1. Open the new lines settings
2. Uncheck or check the first two options (new lines for types and methods). When doing this, you _must_ click in the box, such that focus is still on the list of settings on the left hand side. This becomes important in step 3...
3

[2017-02-22 01:27] jasonmalinowski commented on #17268
The debugger is going to support updating line endings when resolving, so we won't have to do anything here.

[2017-02-22 01:27] #17268 closed

[2017-02-22 01:34] #16022 closed

[2017-02-22 02:08] heejaechang commented on #11593
previously, VSI were all failing. I haven't tried for a while. so all might be okay now.

[2017-02-22 03:49] AlekseyTs opened #17293 "Symbols used to represent Local Function can spill their diagnostics into global declaration error bag"
LocalFunctionAttributeOnTypeParameter test started failing due to this after order of binding of nodes by SemanticModel got changed. I commented the failing assert out, the test is not skipped.

[2017-02-22 05:58] HamedFathi commented on #17239
@Pilchie suppose I have Poco assembly contains 'Student','Person',... I want to convert Person class or Student class to SyntaxTree convert object(Type) to SyntaxTree

typeof(Person) => SyntaxTree
or
Person => SyntaxTree

when we have a source code we can get SyntaxTree easily  but How can I get SyntaxTree from a Type or Instance ?

[2017-02-22 06:33] CyrusNajmabadi commented on #17239
Are you asking for something that would decompile the type and generate the *approximate* source code that would have generated it?

I say "approximate" because there's no relation to a System.Type and a CSharpSyntaxTree.  A System.Type could have come from many sources.  C#, VB, F#, C++/CLI.  Heck, it could have come from straight IL.  Unless you provide more information, this seems like not a ve

[2017-02-22 06:46] HamedFathi commented on #17239
@CyrusNajmabadi  @Pilchie , Why do you say no relation between a System.Type and a CSharpSyntaxTree ? suppose I use a template engine with a Type

typeof(Person)

with reflection I can create class template

public PropertyType Name {get;set;} // public Guid Id {get;set;}
public PropertyType Name {get;set;} // public int No {get;set;}
public PropertyType Name {get;set;} // public string Name {get;