[2015-10-15 08:00] orthoxerox commented on #5961
@HaloFour no it shouldn't, that's what Scala is for ;)

However, function piping is important for objectless programming style.

@alrz Am I correct that `foo?` is equivalent to `(foo!=null)?foo:(throw new ArgumentNullException(nameof(foo))`?

[2015-10-15 08:13] khellang commented on #5979
Well, the most common example I can think of is scanning for types, e.g. to
1. Discover web framework controllers/modules. (Granted, these usually work in an AppDomain scope, but still)
2. Register things in an IoC container. http://docs.autofac.org/en/latest/register/scanning.html#scanning-for-types
3. Gather entity configurations (with EF). https://msdn.microsoft.com/en-us/library/system.data.en

[2015-10-15 08:16] Tiliavir opened #5994 "Evaluate script with types instead of whole namespaces"
Is there a way to only register specific types instead of whole namespaces?

Currently I'm working with something like the following, where I reference the whole assembly and namespace of a type:

      var opt = ScriptOptions.Default
                             .WithReferences(MetadataReference.CreateFromFile(type.Assembly.Location))
                             .WithNamespaces(type.Namespace);

[2015-10-15 08:24] dsaf commented on #5966
What is the plan for other languages: http://stackoverflow.com/questions/5456989/is-the-new-feature-of-c-sharp-4-0-optional-parameters-cls-compliant ?

[2015-10-15 08:27] bkoelman commented on #4059
@dpoeschl Can I view the new behavior somewhere? Is this in Update1 RC?

[2015-10-15 09:45] alrz commented on #5961
@orthoxerox what is this `foo!`?

[2015-10-15 09:50] alrz commented on #5402
@gafter It is defined under *pattern* so it would be used in `match`, `switch` or with `is` operator.

[2015-10-15 10:33] alrz commented on #5961
@HaloFour Re "Returning bool? is appropriate..."
I see, that is kind of a "monadic null checking" but since we have a special operator just for this purpose and C# is not that functional I think it would be more useful with `default(T)`.

[2015-10-15 11:09] orthoxerox commented on #5961
@alrz If I remember correctly, that's the "cast to non-nullable or throw" operator from the nullability tracking proposal.

[2015-10-15 11:14] alrz commented on #5961
@orthoxerox I don't see such a thing in #5032. Anyway, this won't throw any exception, because if `foo` was `null` `Bar` won't be called at all.

[2015-10-15 11:18] bkoelman commented on #5975
Does removing equivalenceKey here make my usage (https://github.com/dotnet/roslyn/issues/4078) impossible?

[2015-10-15 11:23] orthoxerox commented on #5961
@alrz it's in #5033

[2015-10-15 11:41] gordanr commented on #5881
Before C#6 introduced expression bodies on method-like members, I have never thought about short one-line methods. I was surprised how many one-line methods exists.

Now I noticed that there is another often pattern in my codebase. One-line using.

[code]

[code]

This is not proposal. I would only like to know, could anyone this shorter notation 'new using' or 'using new' be useful?

[code]

[cod

[2015-10-15 11:58] #3111 closed

[2015-10-15 12:20] HaloFour commented on #5961
@orthoxerox No kidding.  Scala is about as fun to read as an ASCII sneeze, and don't get me started on Java interoperability.  But function piping avoids no more objects than nested function calls and C-family languages have been fine with that for decades.  Or we have extension methods which make rewriting that as fluent quite easy.

Your assumption is exactly why I find this proposal confusing.

[2015-10-15 12:35] alrz commented on #5961
@HaloFour With #5444 you can do more with forward pipe, for example
[code]
It's not limited to nested, static or single parameter functions. It's all about order of execution and code style. Whatever you prefer.

But about confusion you referred, yes I assumed that the operator `?` can affect the expression tree up to some point. which was not a good idea. I suggest a `checked`-like keyword which

[2015-10-15 12:44] HaloFour commented on #5961
@alrz It is exactly the same as nested function calls, except that sourcing multiple parameters from expressions is messier.  And your proposal for supporting multiple parameters separately from using tuples by using named arguments is only more confusing since it blends the two forms.

There are dozens of languages targeting the CLR.  If my preference is for COBOL-like syntax, I don't expect C# s

[2015-10-15 12:58] alrz commented on #5961
@HaloFour I don't think that it would be considered exactly the same way that I proposed, but it will be a "forward pipe operator" anyway. I'll be happy to discuss this with you further over #5445 since the subject is irrelevant to this title.

[2015-10-15 13:21] #4524 closed

[2015-10-15 13:36] whoisj commented on #5881
@gordanr I'm not sure what you gain with that over something like (which works today)

[code]

[2015-10-15 14:02] WenningQiu opened #5995 "Failed to download Microsoft.CodeAnalysis.Scripting nightly build"
I was trying to download Microsoft.CodeAnalysis.Scripting version 1.1.0-rc1-20151014-15 from https://www.myget.org/F/roslyn-nightly/ but failed due to error "
Unable to resolve dependency 'System.Reflection.Metadata (≥ 1.1.0-beta-23413)'". Can someone publish the required System.Reflection.Metadata version?

Thanks!

[2015-10-15 14:06] gordanr commented on #5881
It is more compact notation without "(var ctx =  ) { return ctx }". It can be more readable, but I'm not sure is it worth to implement.
I don't say that it's an extraordinary idea. Just call for brainstorming. Maybe someone can generalize thing and get realy good idea looking at that.

[2015-10-15 14:12] orthoxerox commented on #5882
Duplicate of #5402

[2015-10-15 14:12] #5882 closed

[2015-10-15 14:21] bbarry commented on #5881
@gordanr that is an interesting thought, if instead of a new  *using-local-variable-declaration* statement, there was a new *using-object-creation-expression* ...

It sounds like something much more complex; anywhere you can declare a variable, you can inject disposable semantics?

    {
        var a = new using FluentClass(...).MethodReturnsSomethingElse(...);
        var b = new using FluentCla

[2015-10-15 14:26] ljw1004 opened #5997 "VisualBasicAddImportsCodeFixProvider crashes"
I frequently get this crash, like, once every four hours of coding
![bug2](https://cloud.githubusercontent.com/assets/3316258/10516589/d44c744e-730d-11e5-8555-22025053bc44.png)

It's happened on a wide variety of projects in a wide variety of circumstances but I've not yet found a reliable way to repro it, and if I get a crash then re-enable it then try to get the crash again, I don't see anything

[2015-10-15 14:36] HaloFour commented on #5881
@gordanr That sounds like it would be more appropriate in the context of #5402 which seems to have an expression form of `using`.

[2015-10-15 14:53] glennblock commented on #5979
As @khellang said this is pretty common. One use case I have used this for is controllers for Web API where the controllers themselves are authored within a script. The assembly is passed to an Assembly Resolver which reflects through the in-memory compiled assembly to get the controllers. Another common example would be a unit-test runner that executes tests within a script.

[2015-10-15 15:09] sharwell opened #5999 "Cannot add AdditionalFiles in custom targets file"
I'm working to resolve issues surrounding the use of **stylecop.json** as an `AdditionalFiles` item used by our analyzers. For additional background on this work, see DotNetAnalyzers/StyleCopAnalyzers#1581.

I created the following **StyleCop.Analyzers.targets** file and imported in as part of our project:

[code]

In the main C# project file, I have the following item:

[code]
### Description of

[2015-10-15 15:17] whoisj commented on #5881
Ya know, it sounds a lot like we're striving for a form of RAII here. :wink:

[2015-10-15 15:23] sharwell commented on #5999
This appears to be caused by caching of some form. When I first created the **.targets** file, it contained an error which caused it to not add the correct files to `AdditionalFiles`. I then modified the file to the form above (which works properly for a build).

:exclamation: Note that restarting Visual Studio **does not** force the IntelliSense engine to reload the updated **.targets** files. If

[2015-10-15 15:24] HaloFour commented on #5883
It's funny, the negative stigma became attached to `goto` rather than the spaghetti code that it helped to facilitate.  Now everyone avoids `goto` but is more than willing to write a rats nest in its place.  In C# specifically I think that the stigma is misplaced as the compiler and CLR put pretty strict rules on where you can jump.  It's not like the 50s or 60s when you could jump clear across th

[2015-10-15 15:26] HaloFour commented on #5881
@whoisj The `IDisposable` version of it, but basically yes.

[2015-10-15 15:40] jonschoning commented on #5154
What is the compiler behavior in the presense of case-guard's, since the compiler will not be able to prove exhaustiveness for the whole expression.  Error? Warning? Silent?

[2015-10-15 15:52] gafter commented on #5154
For the purpose of completeness analysis, case guards are always assumed to possibly fail unless the guard expression is a constant expression whose value is `true`.

[2015-10-15 16:00] Pilchie commented on #5876
`Error occurred while restoring NuGet packages: Unable to find a version of package 'Microsoft.NETCore.Portable.Compatibility' that is compatible with version constraint '[1.0.0, )'.`

That sounds like you have VS NuGet restore enabled at Tools\Options\NuGet Package Manager\General - "Allow NuGet to download missing packages".

For the vbicore issues, they are known.  I have PR #5893 out to fix th

[2015-10-15 16:00] whoisj commented on #5881
@HaloFour

That's the closest we're going to get with the CLR and GC they way they are today.

[2015-10-15 16:01] rhencke commented on #5881
@whoisj:  You caught me. :)

[2015-10-15 16:19] tmeschter opened #6001 "Within the Roslyn build, treat AD0001 as a warning/error"
@jaredpar came across an issue where the public API analyzer was throwing an exception in its compilation start action (see https://github.com/dotnet/roslyn-analyzers/issues/312). This effectively disabled the analyzer for the rest of the project build.

The exception was surfaced as an AD0001 diagnostic, but unfortunately these are surfaced as *info* diagnostics rather than warnings or errors. Th

[2015-10-15 16:26] davkean opened #6002 "Visual Studio crashes when replacing a VB parameter type with %"
1) Given:

[code]
2) Using the keyboard, select "as Boolean" and pressed Delete key followed by Shift-5 ("%"), so the result was:

[code]

It looks like in FileCodeModel.GetParameterElementForCodeModelEvent we're heading down the ```return null ``` path.

Stack:
[code]

[2015-10-15 16:26] daveaglick commented on #4127
I just hit this problem. In my scenario, I'm running a console app which brings in a library assembly via reflection that references the Roslyn libraries via NuGet packages. The library is in the same solution and itself is referenced by the console app, so everything ends up in the same directory after build.

I had initially referenced just the Microsoft.CodeAnalysis.CSharp.Workspaces package (w

[2015-10-15 16:26] davkean commented on #6002
tag @DustinCampbell

[2015-10-15 16:31] Pilchie commented on #5973
The tab insertion is purely textual (and has been since VS2005), so this is the expected behavior.  The snippet files themselves don't have a way of indicating what syntactic construct they are valid in.

[2015-10-15 16:32] Pilchie commented on #5997
You already fixed one issue here - is it possible to confirm that @ljw1004 is just hitting that?  @ljw1004 - are you running the Update 1 CTP? It should have the fix in it.

[2015-10-15 16:37] Pilchie commented on #5999
This is a known limitation of either the project system or msbuild itself.  We're not sure which, but @davkean and I were just talking about it yesterday.  This is something we hope to address in the next major VS release as we move to a new project system based on CPS.

For the closing and re-opening, we cache the results of the IntelliSense build in the .suo, which is likely the second issue you

[2015-10-15 16:42] bbarry commented on #5961
assuming some sort of null checked operator  (`foo!` for example, #5033)

    bool result = Bar(foo?);

should be the same as

    bool result = foo != null ? Bar(foo!) : default(bool);

aside from the idea that the former is thread safe and the latter is not (foo could potentially be changed between the conditional evaluation and the method call).

----

This feels like postfix conditions in perl

[2015-10-15 16:42] balajikris commented on #5972
Fixed internally with PR 5513

[2015-10-15 16:42] #5972 closed

[2015-10-15 16:43] balajikris commented on #5972
Fix should be in last night's build.

[2015-10-15 16:45] daveaglick commented on #4127
A little more information...

If I break in the `CSharpProjectFile` constructor to see what's going on, I discover I'm getting an error under the hood while trying to get the `ICommandLineArgumentsFactoryService` from the `CSharpProjectFileLoader` in the call to `GetLanguageServices(this.Language)`:

![2015-10-15_12h41_44](https://cloud.githubusercontent.com/assets/1020407/10520782/2505fe74-733a-1

[2015-10-15 16:45] HaloFour commented on #5154
Spaghetti against the wall, but how about `else` clauses for guards?  Then you wouldn't have to repeat the pattern.

[code]

Although that might not be any clearer to just sticking a ternany op in there:

[code]

[2015-10-15 16:49] daveaglick commented on #4127
Also, #2779 looks possibly related/same.

[2015-10-15 16:55] jonschoning commented on #5154
@gafter Understood, yes: case guards are always assumed to possibly fail. My actual question pertained to how this fact affects what kind of match expressions the user can write.

Specifically, if the user is, or is not, *required to add additional non-failing clauses* in the presence of these clauses that could fail.

[2015-10-15 17:04] ljw1004 commented on #5997
No, not running Update1 CTP.

I tried using a separate instance of VS to attach to the first crashing instance, and I turned on first-chance exceptions, but even when the crash occurred it still failed to trigger the debugger.

I got a consistent repro [video below]. Source code is at \\ddfiles\team\Public\lwischik\repro\repro-imports.zip
![repro-imports](https://cloud.githubusercontent.com/assets

[2015-10-15 17:30] Pilchie commented on #5975
No, this is specifically about the overload that has the nested actions for displaying a submenu.

[2015-10-15 17:31] daveaglick commented on #4127
Just one more note: As @JoshVarty mentioned in #2779, the CS1703 error I was seeing looks like it was just masking the real problem and was only present because of the debugger. Adding the binding redirects referenced in that issue allowed me to take a closer look at what was really going on.

It turns out the root of the issue appears to be that there is no `ICommandLineArgumentsFactoryService` r

[2015-10-15 17:42] Pilchie commented on #4127
Did you deploy Microsoft.CodeAnalysis.CSharp.Workspaces to the directory where you run your console application from?  There isn't a hard dependency on it from the language neutral workspace code, but it should be loaded if it is present.

[2015-10-15 17:42] gafter commented on #5154
@jonschoning The set of cases in a match expression must be *complete*, in the sense that the compiler must be able to show that all inputs are handled by some case.

[2015-10-15 17:50] tmat commented on #3194
No update, it's still on backlog.

An alternative workaround would be to add an indirection:

[code]

[2015-10-15 17:50] #5207 closed

[2015-10-15 17:50] daveaglick commented on #4127
Okay, pretty sure I've found the problem. Apparently if Project Foo references project Bar, and project Bar has an assembly reference Baz, Baz will not be copied to the output folder for Foo, even if both the reference from Foo to Bar and the reference from Bar to Baz both have Copy Local. Bar has to actually *use* a type from Baz for it to be copied over to the output directory for Foo. I didn't

[2015-10-15 17:54] tmat commented on #5979
It seems to me that most of these scenarios would be addressed by providing ```IEnumerable<Type> Script.GetDeclaredTypes()```. Correct?

[2015-10-15 17:57] khellang commented on #5979
Yes. That would cover a lot of scenarios :smile:

[2015-10-15 17:57] jonschoning commented on #5154
I think I've failed to communicate my point clearly. In any case, imho using guards without a catch-all clause at the end will force some awkward looking match expressions.

[2015-10-15 18:05] #5054 closed

[2015-10-15 18:07] mattwar commented on #4127
Yes, this is the root cause.  The null ref exception has been fixed with the code changes you noted.  But the actual problem is due to the language specific workspace library not being loaded dynamically at runtime because it is missing from the deployment directory.   If the null ref problem wasn’t happening, you’d have gotten a different exception that would have told you that the language was m

[2015-10-15 18:08] reudismam opened #6005 "Refactor the code to use the equals expressions that evaluate the method call to Kind consistently"
I would like to refactor the Roslyn code to use consistently the equals expressions that evaluates the method call to Kind. For instance, the attached snapshot of the class SyntaxTreeExtensions.cs presents in the same if statement the code pattern "**Kind() == SyntaxKind.***" and "IsKind(SyntaxKind.*)". I would like to refactor the code to use only the pattern "**IsKind(SyntaxKind.*)**".
![csharpk

[2015-10-15 18:11] genlu opened #6006 "Crash when right-click `analyzers` node in solution explorer"
Here's how to repro the crash:

1. you open the solution first time in a VS session,
2. not all the projects finished loading
3. right click on the analyzer node in a loaded project.

Here's the exception and call stack:
[code]
[code]

[2015-10-15 18:26] GSPP commented on #5154
It seems like some questions such as whether to statically enforce exhaustiveness or not cannot be decided by reasoning alone. You kind of have to see how it works out in real code bases. Maybe it turns out it is too onerous. Similar example: Java checked exceptions seem like a good idea but they turn out to add little and be onerous.

@gafter I'm curious: Will the team gather practical experience

[2015-10-15 18:32] glennblock commented on #5979
Yes that should work, if one needs the assembly they can grab it from the
type.

On Thu, Oct 15, 2015 at 10:57 AM Kristian Hellang <notifications@github.com>
wrote:

[2015-10-15 18:32] glennblock commented on #5979
Thanks @tmat
On Thu, Oct 15, 2015 at 11:32 AM Glenn Block <glenn.block@gmail.com> wrote:

[2015-10-15 18:41] tmat commented on #5979
@glennblock The reason why I don't want to expose assembly directly is because scripts may be compiled into multiple assemblies (e.g. in REPL) and we don't want different behavior between REPL and scripts.

GetDeclaredTypes() will also handle type hiding in REPL.

[code]

GetDeclaredTypes() will return the last defined C, not the previous ones.

[2015-10-15 18:44] jonschoning commented on #5154
@gspp the compromise most langs seem to take is to do the completeness check as @grafter described, but to produce warnings instead of errors.

[2015-10-15 18:49] tmat commented on #5994
@Tiliavir We don't have such feature currently. Adding a reference to a script is similar to adding a reference to a C# project file. The project can access all public types in the referenced assembly.

You'd need to either make all other types internal or move the types you want to expose to script to a separate assembly.

[2015-10-15 18:51] tmat commented on #5995
@nguerrera

[2015-10-15 18:55] alrz commented on #5154
@jonschoning It has to be complete because `match` is an *expression*.

[2015-10-15 18:56] GSPP commented on #5154
@jonschoning I also favor the warnings approach because 3rd party vendors can develop sophisticated analyses that csc.exe will never be able to perform. Coverity will offer extremely good analysis while Resharper will provide simple, practical analysis. I don't think the language needs to force this issue.

All "real" developers will use R# while beginners will still benefit from the more simple c

[2015-10-15 18:57] jonschoning commented on #5154
@alrz it is an expression in FSharp as well.  You simply get a `MatchFailureException` if you ignore the  warningshttp://fsharpforfunandprofit.com/posts/match-expression/

[2015-10-15 18:58] glennblock commented on #5979
Nice, thanks for the clarification. Most frameworks that I know of that
accept assemblies also accept type collections so this should work.
On Thu, Oct 15, 2015 at 11:42 AM Tomáš Matoušek <notifications@github.com>
wrote:

[2015-10-15 19:01] alrz commented on #5154
Then what is the point of ADTs ? A run-time error is not as useful as a run-time exception. Because the former will not find its way to released code. It's always better that you catch errors in compile-time rather than run-time.

[2015-10-15 19:03] GSPP commented on #5154
@alrz it's not *always* better. It's a trade-off because false positives are involved. For example, C# allows division by zero which the type system could prevent. Would be a bad trade-off.

[2015-10-15 19:04] nguerrera commented on #5995
It is published to https://www.myget.org/F/dotnet-core/ feed. You should be able to use that.

[2015-10-15 19:05] jonschoning commented on #5154
@alrz if you dont want run time errors, then dont use guards and dont ignore the warnings.

[2015-10-15 19:05] MattGertz commented on #3119
D'oh, Jared warned me this might happen due to a workaround we had to do to commit it that day, I meant to follow up and forgot.  #5727.

[2015-10-15 19:05] #3119 closed

[2015-10-15 19:07] mavasani opened #6007 "Syntax analysis is not re-executed in the IDE diagnostic service on adding global suppressions"
1. Create a new C# class library with below code:
[code]

2. Install [codecracker](http://www.nuget.org/packages/codecracker/1.0.0-rc3) analyzer nuget package (check "Include prerelease" checkbox in Nuget package manager).

3. Change rule _"CC0065 (Remove trailing whitespace)"_ to be a warning from the ruleset editor.

4. Build project and see CC0065 diagnostic:
[code]

5. From the lightbulb menu

[2015-10-15 19:08] mavasani commented on #6007
/cc @heejaechang @morrisjoe @srivatsn

This will cause bulk suppress syntax diagnostics in error list to persist as active, even though we added global suppressions for them.

[2015-10-15 19:10] alrz commented on #5154
That's because in F# you can use patterns right in the function parameters, then, in obvious cases you can simply write `fun (Pattern p) -> ...`  which of course produces a warning.

If your patterns are not complete just use the `switch` statement and there will be no exception *or* error.

[2015-10-15 19:11] gafter commented on #5154
@GSPP We do intend to make features such as this one "experimental" for a while to gather feedback before it is in its final form.

[2015-10-15 19:14] jonschoning commented on #5154
Using switch gives goes too far in the other direction... the compiler doesnt give feedback on those...  i think the complier should check match exprs and tell you if it is not complete, this is the whole point of match, but if we also want guards, then maybe warnings would be more appropriate than errors.   If we insist on errors, guards dont make as much sense imho

[2015-10-15 19:14] Aethon commented on #1891
+1 srsly.

[2015-10-15 19:20] HaloFour commented on #5154
Bleh, almost sounds like `case *` (or equiv.) should just be required.  Run-time exceptions due to a missed case would be awful.

Would multiple cases involving the same pattern but different guards check the pattern multiple times or would the compiler be smart enough to emit the check once?

[2015-10-15 19:26] alrz commented on #5154
Guards are used in conditions that a pattern can't check on it's own e.g. `case Const(a) when a > 0: ...` So you should look at them as a whole. A ternary operator as @HaloFour pointed out couldn't replace with a case guard, because other patterns will lose their chance to involve.

[2015-10-15 19:28] gafter commented on #2104
@ygc369 You are welcome to suggest this in [dotnet/coreclr](https://github.com/dotnet/coreclr)

[2015-10-15 19:28] #2104 closed

[2015-10-15 19:29] jmarolf commented on #5997
This doesn't repro on the latest Update 1 build.  Tracking option for diagnostics with https://github.com/dotnet/roslyn/issues/2697

[2015-10-15 19:29] #5997 closed

[2015-10-15 19:29] jonschoning commented on #5154
@HaloFour what do you mean by `check` here, a compile-time check for completeness or the run-time check to see if the data matches the pattern?  for the former, mputting a guard on a pattern means the compiler can't include it in the completeness check.  I mean, if you have way to figure out exhaustiveness for arbitrary boolean expressions against values in a type...publish ;)

[2015-10-15 19:31] ljw1004 commented on #5997
@jmarolf, did you get it to repro on VS2015 RTM? I ask because in all of these cases, the repro is never very solid. So a "didn't repro" signal doesn't mean much unless you got a positive repro elsewhere.

(still, closing the bug is fine, and I can always file a new one if I see it again. Thanks for tracking the option.)

[2015-10-15 19:33] tmat opened #6010 "[ask mode] Update Roslyn to use Microsoft.DiaSymReader.Native 1.3.0"
Currently we use 1.2.0-rc, which doesn't support deterministic PDB ID. The new version should be available by the EOW -- we are waiting for the C++ team to deliver it.

[2015-10-15 19:33] gafter commented on #6005
I don't even know where to classify this. Besides not knowing what component to assign it to, it isn't really actionable by us.

[2015-10-15 19:34] tmat commented on #6010
@MattGertz

[2015-10-15 19:35] heejaechang commented on #6007
basically, allowing this suppression will make all of syntax based analyzer to be same cost as semantic based analyzer. and I don't think there is any way to get around it if we support this.

[2015-10-15 19:37] gafter commented on #5986
#5988 says it fixes #5986, and #5986 says it fixes #5988. But neither has any description of what it is supposed to accomplish.

[2015-10-15 19:40] alrz commented on #5154
@HaloFour How about
[code]
`else` would interfere with the fact that `match` doesn't accept a `default` case.

[2015-10-15 19:41] gafter commented on #5966
@alrz is there a corresponding CLR proposal?

[2015-10-15 19:42] HaloFour commented on #5154
@jonschoning If you're referring to my question I mean "check" as in invoking the `is` operator (or whatever necessary to carry out the specified pattern).

[2015-10-15 19:43] mattwar opened #6012 "RecoverableTextAndVersion using lock improperly."
The GetValueAsync API should be using the semaphore slim asynchronously.  Instead, it is using it synchronously, across an await call.  Maybe we need an analyzer here.

This is related to connect issue/devdiv work item 132147.

[2015-10-15 19:44] jonschoning commented on #5154
ah yes, that's the destructuring at run-time.. (I have no qualms about optimizations there)

[2015-10-15 19:45] gafter commented on #5154
@HaloFour

This is the reason the spec is careful to not specify the evaluation order of patterns, so that the compiler can reuse already computed conditions.

[2015-10-15 19:48] jonschoning commented on #5154
Evaluation order isn't necessarily top-down?  This is suprising, then it would be *even more* awkward to use guards, which i believe rely on an ordering of clauses to determine which guards match first.

[2015-10-15 19:52] alrz commented on #5966
@gafter there isn't AFAIK

[2015-10-15 19:52] gafter commented on #5154
@jonschoning No, evaluation order of guards is top-down. And the earliest case clause that matches wins. But the compiler is allowed to perform the matching of patterns in any order.

[2015-10-15 19:52] HaloFour commented on #5154
@gafter Spiffy.  Then at least it's not a big deal to have the pattern repeated in order to be complete.

@alrz Since a straight `else` clause would preclude the expression from matching against other patterns it's really kind of irrelevant.  `else` guards would be syntax candy to allow not repeating the pattern over again, which may be nice, but as long as the compiler can avoid re-evaluating the

[2015-10-15 19:54] gafter commented on #5966
@alrz This doesn't seem like the sort of thing we'd want to put in the language absent CLR support.

[2015-10-15 20:03] alrz commented on #5966
@gafter obviously it needs CLR support to expose the modifiers. but since we have optional parameters already this would make them more useful in case of the need to declare another method just for restricting parameters.

[2015-10-15 20:10] WenningQiu commented on #5995
Thanks nguerrera!

[2015-10-15 20:13] alrz commented on #5961
@bbarry With the proposed syntax you can do that: `var x = y? :> z;` which is equivalent to `var x = z(y?);` which is equivalent to `var x = y!=null?z(y):default(T);` where `T` is the type that function `z` returns. The operator `?>` is not proposed.

[2015-10-15 20:18] mattscheffer opened #6014 "Codelens fails to populate reference count in a just added VB multiproject solution"
1. Create a new VB Console Application.
2. Add a 2nd VB console application to the project.
3. Open Module1.vb from the newly added project.

![image](https://cloud.githubusercontent.com/assets/10537189/10526332/04fd535c-733f-11e5-9178-8c68d87f8324.png)

It never changes from the above. You can still hover over the dash to see that it is 'trying' to load references but it never does and the (Alt +

[2015-10-15 20:18] mattscheffer commented on #6014
@balajikris

[2015-10-15 20:19] alrz commented on #5154
@HaloFour Oh I didn't get your intention for `else`. Yeah it make sense. Although it's quite a confusing  keyword in that context. But since it will be optimized, I don't mind repeating the pattern.

[2015-10-15 20:21] tmat opened #6015 "Proposal: Hiding imported namespaces from script using extern aliases"
When the host adds a reference to a library there is currently no way to narrow the set of types and namespaces the script can see. All the global namespaces declared by the library get imported, which clutters the global namespace of the script.

The host should be able to alias the assembly and then only import specific namespaces/types to the script's global namespace like so:

[code]

The abov

[2015-10-15 20:29] agocke opened #6017 "Add MSBuild task+targets to netcore package"

[2015-10-15 20:30] alrz commented on #5154
I think `default:` is more readable than `case *:` why don't we have both just like in `switch`? (of course one of them would be allowed)

[2015-10-15 20:37] gafter commented on #5154
@alrz because `default` is handled out-of-order in `switch`, and `match` handles the cases in order.

[2015-10-15 20:39] gafter commented on #5966
@alrz In the unlikely event that the CLR team adds this feature, we'll look at adding language support.

[2015-10-15 20:43] heejaechang opened #6022 "add support for HelpKeyword so that error list can support offline help viewer properly"
existing HelpLink only works with online situation, we need HelpKeyword support as well to support offline sitatuion.

[2015-10-15 20:44] Pilchie commented on #6014
I believe this is fixed by an open PR in the internal code for CodeLens right now.

[2015-10-15 20:44] heejaechang commented on #6022
fix
https://github.com/dotnet/roslyn/pull/5907 and https://devdiv.visualstudio.com/DefaultCollection/DevDiv/Default/_git/VS/pullrequest/5553

[2015-10-15 20:49] tmat opened #6023 "Test ExternalDiagnosticUpdateSourceTests.TestExternalDiagnostics_RaiseEvents is failing"
http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/86/testReport/junit/Microsoft.VisualStudio.LanguageServices.UnitTests.Diagnostics/ExternalDiagnosticUpdateSourceTests/TestExternalDiagnostics_RaiseEvents/

[2015-10-15 20:50] heejaechang commented on #5915
@jaredpar can you tell me which tests are disabled?

[2015-10-15 20:51] tmat opened #6024 "Tests CscTests.PathMapOption and VbcTests.PathMapOption are failing"
http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/86/

[2015-10-15 20:53] tmat commented on #6024
@gafter

[2015-10-15 20:53] tannergooding commented on #6024
@tmat That was fixed last night, it should no longer be repro'ing (the job listed is from last night as well).

[2015-10-15 20:53] tmat commented on #6024
ok

[2015-10-15 20:53] #6024 closed

[2015-10-15 20:54] balajikris commented on #6014
No, this is a Roslyn bug. This is one where i saw VSProjectTracker pushing projects with `null` compilationoptions to workspace hosts. Happens only for VB, happens only when adding a new or an existing project to the solution.

[2015-10-15 20:54] jaredpar commented on #5915
@heejaechang I didn't disable any tests with this change, I just disabled this specific assert because it can't be made correctly with the current architecture of the tests.

[2015-10-15 20:55] balajikris commented on #6014
I'll add more info..

[2015-10-15 20:58] tmat commented on #6023
@tannergooding Has this failure also been fixed?

[2015-10-15 21:03] paul1956 commented on #6014
This VB only issue is covered below with a repro
[code]
And reported as a confirmed bug
[code]

[2015-10-15 21:03] alrz commented on #5154
@gafter

So that is only applied to `switch`, or by "the evaluation order of patterns" you mean just the *pattern* part not the whole `case`? Doesn't it make it impossible to change a `switch` to `match`? There will be rules for using `default` in `switch` for patterns, because it has the `default` case already so why you don't apply them to `match` too? Is the reason for all this is that `match`

[2015-10-15 21:13] balajikris commented on #6014
@paul1956, thanks, I'll see if they're related and dupe this if necessary.

[2015-10-15 21:17] Pilchie commented on #5039
Moving to 1.2, as I don't think this can be fixed by roslyn without additional information in the project.lock.json file.

[2015-10-15 21:18] alrz commented on #5961
This make the operator `?.` ambiguous and the reason is, with introducing `?` there is no need for `?.` operator.
[code]
Actually what is proposed here is a generalized version of null-conditional operators.

So the is is two options left:
- Remove the previous `?.` or `?[` operators and introduce the generalized version `?`. Although, for backward compatibility this needs to return `null` in case

[2015-10-15 21:22] alrz commented on #5961
@gafter I wonder why the team didn't consider this at first place and specialized it just for member access?

[2015-10-15 21:24] rchande opened #6027 "Jenkins reports "Build failed no problems identified""
If we had the information necessary to fail the build, surely we can get Jenkins to print something other than "No identified problems" :smile:

[2015-10-15 21:24] rchande commented on #6027
cc @jmarolf

[2015-10-15 21:25] jaredpar opened #6028 "Public API analyzer not running reliably in Roslyn"
There is a bug in the Public API analyzer that causes it to throw on startup when there are duplicate entries in API files:

https://github.com/dotnet/roslyn-analyzers/issues/312

A recent change to our code base inadvertently triggered just such a case in our API files.  This added `SourceKind.Interactive` to both the shipped and unshipped files:

https://github.com/dotnet/roslyn/commit/2f6d4739e

[2015-10-15 21:25] rchande commented on #6027
cc @jasonmalinowski

[2015-10-15 21:29] tmeschter commented on #6028
The first bullet point is tracked by #6001.

[2015-10-15 21:30] jaredpar commented on #6028
@tmeschter good catch.  Should have a PR here in a bit that covers both.

[2015-10-15 21:44] HaloFour commented on #5961
That makes no sense.  Null propagation doesn't work without member access of some sort.  It's how that works in the variety of languages that already support it like Swift and Oxygene.  What is `var result = value?;` even supposed to mean?  You can't get `null`er than `null`.  And suggesting that it should return some kind of default makes just as little sense especially given that the default of

[2015-10-15 21:52] alrz commented on #5961
@HaloFour Yes that doesn't make sense. Because you actually do null-checks when you want to *use* a value. whether in a member access or function call or whatever. Returning `default(T)` makes sense when you want return a *value type*. while it doesn't change anything when working with a reference type. btw, the reason for existing a `default(T)` is this little difference between value and referen

[2015-10-15 21:57] balajikris commented on #6014
okay the VSIX project issue is different from this.

1. Note that the VSIX repro steps is File -> New Project dialog, whereas this bug is about Adding project to existing solution. (file -> new project works fine in this bug's case)

2. In recent internal drops, the VSIX bug doesnt repro :smile: Lots of bug fixes went in codelens since vs2015 RTM and it likely got fixed.

[2015-10-15 22:00] alrz commented on #5961
@HaloFour  your example makes sense when "referential transparency" applies, e.g. the assignment `let result = value? in ...;` (#3718)

[2015-10-15 22:01] HaloFour commented on #5961
Except that null propagation propagates `Nullable<T>` in place of an expression that would result in `T`, so `default(T)` doesn't apply and doesn't make sense.  It also is not designed to propagate up to parent nodes of the expression, only to children.  It's right-associative for a reason (which was not the initial design, btw).  The discussion as to the reason for the null propagation operator i

[2015-10-15 22:02] heejaechang commented on #2475
@srivatsn @Pilchie is supporting people to use Roslyn to their own host (up to Editor layer) one of scenarios we want to support? I know we are trying to support case where people use Roslyn as service (up to Feature layer) but how about people who want to use up to Editor layer? is that "no" since it require editor component that belong to VS and not open sourced?

[2015-10-15 22:06] Pilchie commented on #4936
I suspect this is NOT a regression from RTM, but it's still pretty painful.

[2015-10-15 22:08] Pilchie commented on #5384
We're going to have to continue thinking about this in 1.2.

[2015-10-15 22:08] Pilchie commented on #5548
The first issue sounds like the same thing as #5343

[2015-10-15 22:11] SLaks commented on #2475
Just because it's not open-source doesn't mean people can't use it...

[2015-10-15 22:11] HaloFour commented on #5961
#3718 is just a form of declaration expressions with a more complicated syntax.  It doesn't make sense in that context either as `result` would still be assigned some value (`null`) and the remainder of the expression executed.  Unless you're claiming that it wouldn't be, which would be a different proposal altogether, and even more unintuitive.

[2015-10-15 22:15] heejaechang commented on #2475
@SLaks I shouldn't say Open Source, but issue with license. I don't think those VS components (even though they are host independent) are allowed to be used out side of VS or Microsoft product (not 100% sure though)

[2015-10-15 22:17] MattGertz commented on #6002
Approved pending tests passing.

[2015-10-15 22:22] Pilchie commented on #5139
This is somewhat improved, but I think there is more to do in Update 2.  In particular, I'd like to collapse Generate property, field, readonly field, and local a bit as well.

[2015-10-15 22:22] alrz commented on #5961
Since let-in syntax followed by an *expression*, if `value` was `null` then the *expression* would not be evaluated and `default(T)` shall return where `T` is the type of that *expression*. I don't see why it would be a different proposal since I do proposed using `?` in an *expression* too. (Note that the whole let-in returns ergo it is also an *expression*.

Exactly, why null propagation make it

[2015-10-15 22:22] SLaks commented on #2475
I checked this when I first wrote VSEmbed, and I didn't see anything in the license terms about using DLLs.  (IANAL)

[2015-10-15 22:27] HaloFour commented on #5961
@alrz Which means that you're amending the purpose of that proposal.

Null propagation propagates nulls.  The null of a value type is `default(T?)`.  This is on purpose and by design.  Without that you couldn't use that coalescing operator in order to provide your own default value, which would make `s?.Length ?? -1` or `o?.IsSomething ?? true` impossible.

[2015-10-15 22:34] alrz commented on #5961
I think wanting a `default(T)` (like `false`) from that expression is more common. You can see countless of times that this is happened in roslyn code itself, and they had to use the old fashioned way of `if(obj != null && obj.IsSomething )` to not allocate an unnecessary `Nullable<bool>` while this is exactly the main purpose of the `?.` operator.

[2015-10-15 22:37] brettfo commented on #5548
The second issue is also due to #5343 because the context hasn't changed so the error tags are from the old context.

[2015-10-15 22:37] brettfo commented on #5548
Closing in favor of #5343.

[2015-10-15 22:37] #5548 closed

[2015-10-15 22:39] Pilchie commented on #5873
Unfortunately, we're not going to have time to address this in 1.1, but I want to keep thinking about it.

[2015-10-15 22:39] Pilchie commented on #5343
We've been looking at this a bit, and think that David has more context

[2015-10-15 22:44] gafter commented on #4337
Fixed in #6030

[2015-10-15 22:44] #4337 closed

[2015-10-15 22:44] HaloFour commented on #5961
@alrz

Being common isn't relevant, providing the choice to the developer is, and that is only possible if the expression returns `null`.  Either way, that ship has sailed with C# 6.0 and the likelihood of the C# team considering a breaking change to it is a complete non-starter.

This is the exact same behavior as with Apple Swift.  Optional chaining always results in an `Optional<T>`.   `residen

[2015-10-15 22:46] Pilchie commented on #4607
Is this a crash, or is the exception handled here?

[2015-10-15 22:51] jaredpar commented on #6010
CC @tannergooding

[2015-10-15 22:51] Pilchie opened #6034 "Convert to property doesn't work with expression bodied members"
[code]

Invoke convert to property and you end up with:

[code]

We should remove the `{get;}` in this case.

[2015-10-15 22:52] alrz commented on #5961
@HaloFour unnecessary cast I mean.

This is exactly what is recommended to avoid in any production design. It should make sense not just providing a choice for the user. The point is, you can live without `?.` but it makes life easier because it's very *common* that you want to access an object's member which might be `null`, you know.

[2015-10-15 22:54] davkean commented on #6028
For contributors, this results in a message showing up in in the Error List similar to:

Message	AD0001	Analyzer 'Roslyn.Diagnostics.Analyzers.ApiDesign.DeclarePublicAPIAnalyzer' threw an exception of type 'System.ArgumentException' with message 'An item with the same key has already been added.'.

[2015-10-15 23:05] HaloFour commented on #5961
Casts are cheap, as is the overhead of unwrapping a `Nullable<T>`.

Wait, are you seriously arguing that a "production design" programming language should eliminate choices for the developer?

Which is exactly why `?.` does exist, and why it works so well with the `??` operator, despite your objections.  It's behavior is not going to change.

[2015-10-15 23:05] davkean opened #6035 "Inside Visual Studio, VbiCore fails to build"
Opening Visual Studio, you might see errors like so:

[code]

This is known, and caused by the project system unable to correctly initialize the compiler.

For now, you can ignore them, they do not block the real build.
To hide them, unload the project or switch the Error List to only show errors from Build.

[2015-10-15 23:06] davkean commented on #6035
@agocke or @Pilchie, which one of you are fixing this?

[2015-10-15 23:08] jaredpar commented on #5993
@AlekseyTs I believe this is a duplicate of #4163.  Can you confirm?

[2015-10-15 23:09] agocke commented on #6035
#6004

Just waiting for tests to pass.

[2015-10-15 23:10] davkean commented on #6035
Will leave this open until your fix is checked in.

[2015-10-15 23:11] jaredpar commented on #5819
@wanton7 right now it's not possible to reinstall Roslyn on top of Visual Studio.  There is a limitation in VS that is being addressed in update 1 that will enable us to do this.

Short term though you can just disable the compiler server so that it doesn't start up at all when building.  To do this add the following line to your csproj / vbproj file

[code]

[2015-10-15 23:11] #5819 closed

[2015-10-15 23:17] alrz commented on #5961
Yes they are, but the team still prefer to not use it for a reason, right?

Yes, check out the closed issues.

Anyway, so you are against the first [bullet](https://github.com/dotnet/roslyn/issues/5961#issuecomment-148523929) too? Regarding backward compatibility.

[2015-10-15 23:18] davkean opened #6036 "Inside Visual Studio, the error list shows a bunch of warnings around not being able to reference projects"
__Symptom:__
You receive warnings in the Error List, similar to:
[code]
__Resolution:__
You need to [upgrade your Universal Windows App Development Tools](https://github.com/dotnet/roslyn/wiki/Getting-Started-on-Visual-Studio-2015) to 1.1 or later

[2015-10-15 23:22] diryboy commented on #5876
@Pilchie Yes, I have VS restore enabled, I can live with this bug anyway. And thanks for the info on VbiCore.

[2015-10-15 23:23] AlekseyTs commented on #5993
@jaredpar Not exactly. It looks like this issue is about the order of ByRef and custom modifiers in the signature of a parameter. I am not aware of any issues in this particular area in RTM. Still, it is possible that the issue is fixed by the changes we’ve made around custom modifiers' handling since RTM, but this needs real confirmation/verification.

[2015-10-15 23:25] gafter commented on #6017
@agocke Milestone 1.1?

[2015-10-15 23:28] agocke commented on #6017
@gafter Yup, sounds good

[2015-10-15 23:31] HaloFour commented on #5961
You'd have to ask them.  My guess would be that C# 6.0 features are very underrepresented in the Roslyn codebase, primarily because the majority of that code was written before those features existed and they didn't bother rewriting it.

There is a big difference between deciding to not adopt unnecessary features or syntax which does not fit the language vs. designing those features with a specifi

[2015-10-15 23:33] KevinH-MS opened #6037 "Ambiguity when referencing Microsoft.CodeAnalysis.CSharp in Interactive"
[code]

[2015-10-15 23:51] amcasey commented on #6037
I think @tmat mentioned that we were pulling in the 1.1 copy for the host.  Presumably, we're pulling in the 42.42 copy as a result of your ```#r```.

[2015-10-15 23:52] alrz commented on #5961
It doesn't change the nature of the existing operators, it just generalize them by segregating them into one new operator and the existing one. Actually, if that happens it would be a smart design with backward compatibility in mind. That's why introducing `check` keyword wouldn't help. You say that it's impossible or it's not worth the effort?

[2015-10-15 23:55] paulomorgado commented on #5966
Optional arguments (parameters aren't really optional) used on non-private (and, with extreme careful, internal) members is a recipe for disaster.

And this proposal just adds more confusion to it.

[2015-10-15 23:57] KevinH-MS opened #6038 "Shebang should be a DirectiveTriviaSyntax"
The original design was for it to be treated as a single-line comment.  We've decided we'd prefer represent it with a proper ```DirectiveTriviaSyntax```.

Draft of shape for new node:
[code]
The text after the ```!``` will be a ```PreprocessingMessageTrivia``` on ```EndOfDirectiveToken```.

```IsActive``` should always be ```true```.

[2015-10-16 00:05] srivatsn commented on #3707
We've run into more instances of this causing problems and decided to take the break and increase the severity of AD0001 to warning.

[2015-10-16 00:07] alrz commented on #5966
@paulomorgado Two terms used interchangeably, but yes "optional arguments" would make more sense. I was just wondering why do they exist the way they do now, while it's highly recommended to avoid them? I just wanted to make them more useful and maybe they should've implemented by implicitly declared overloads instead of injecting default values in callsite. Since that wouldn't backward compatible

[2015-10-16 00:07] #5966 closed

[2015-10-16 00:08] AlekseyTs opened #6040 "ImplicitNamedTypeSymbol methods declared unreachable are actually reachable through RetargetingNamedTypeSymbol"
This is a port of DevDiv 150341 (Watson crash)

src\Compilers\VisualBasic\Portable\Symbols\Source\ImplicitNamedTypeSymbol.vb
[code]

[2015-10-16 00:10] CyrusNajmabadi commented on #5343
I aready created a fix and test FYI :)

[2015-10-16 00:19] davkean opened #6042 "Tests completely fail to run via the command-line"
1. Running the following as called out on the wiki (https://github.com/dotnet/roslyn/wiki/Building-Testing-and-Debugging)
[code]
Results in:

[code]

[2015-10-16 00:29] tannergooding commented on #6042
@davkean, does this repro after running:
1. `git clean -xdf`
2. `git fetch --all --prune`
3. `git merge upstream/master`
4. `msbuild /v:m /m BuildAndTest.proj /p:PublicBuild=true /p:DeployExtension=false`

[2015-10-16 00:29] paulomorgado commented on #5966
They exist in Visual Basic for historical reasons and are useful in C#, not for producing them but for calling things like COM (and badly written Visual Basic :smile:).

I use them myself on private methods only. They are safe to use this way.

[2015-10-16 00:42] tmat commented on #6037
@amcasey is probably right. Hmm.

[2015-10-16 00:43] tmat commented on #6037
The host assembly needs to be aliased.

[2015-10-16 00:43] davkean opened #6043 "If you build Roslyn.sln inside Visual Studio, you get a bunch of warnings and project.lock.json files throughout the tree end up getting modified"
__Symptom:__
When building inside Roslyn.sln inside Visual Studio, you might see warnings in the Error List like so:
[code]
And project.lock.json like:

![image](https://cloud.githubusercontent.com/assets/1103906/10531197/b18465e2-7363-11e5-8c75-7cb96e98a346.png)

__Resolution:__
Turn off NuGet package restore during the build:
* Uncheck **Tools** -> **Options** -> **NuGet Package Manager** -> **G

[2015-10-16 00:48] davkean commented on #6042
It doesn't seem to run any tests now:

[code]

[2015-10-16 00:58] jaredpar opened #6044 "API Review Followup - Analyzers/Suppression"
These are the remaining items from our 1.1 API review:

- CompilationWithAnalyzerOptions should be sealed
- CompilationWithAnalyzerOptions.AnalyzerOptions should be renamed Options
- SuppressionInfo should be sealed
- AnalyzerTelemetry API changes as per [this](https://github.com/dotnet/roslyn/issues/5974#issuecomment-149987997) comment.

[2015-10-16 01:02] davkean commented on #6042
Hmm, that might have been due to the NuGet restore failures above, if I manually do a restore and run again, it appears to actually be running tests - but it appears I'm missing tests @agocke had ~80 "tests" (which I think is referring to test assemblies), whereas, I have only 39. I'll consider this particular resolved and will open up two different issues for the restore failure and missing tests

[2015-10-16 01:02] #6042 closed

[2015-10-16 01:04] bbarry opened #6045 "Get rid of CS1674"
The following code is potentially a memory leak:

    public class Shape {
        public void Move(object to) {
            var mover = GetMover();
            mover?.Move(to);
        }
        public virtual IMover GetMover() {
            return new ManagedMover();
        }
    }
    public interface IMover {
        void Move(object to);
    }
    public class ManagedMover : IMover {

[2015-10-16 01:21] tannergooding commented on #6042
@davkean, there are currently only ~39 unit test assemblies.

[2015-10-16 01:35] #5995 closed

[2015-10-16 01:41] davkean opened #6051 "ExpressionEvaluator.CSharp.ResultsProvider tests are failing in master"
__Repro:__
[code]
__Result:__
xunit crashes

Failing test is ExpansionTests.MultipleItemsAndExceptions
Code:
[code]
Stack:
[code]

[2015-10-16 01:53] davkean opened #6052 "Getting a FileLoadException when manually running xunit against a test assembly"
__Symptom:__
When running xunit manually against a test binary, tests fail with something similar to:
[code]

__Cause:__
By default Roslyn builds with [Open Source Signing](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/oss-signing.md). This is incompatible with the CLR's Shadow Caching that xunit turns on by default.

__Resolution:__
Simply pass the -noshadow switch to th

[2015-10-16 02:05] sharwell opened #6053 "Large amount of time spent in ExecuteAndCatchIfThrows"
During my investigation of DotNetAnalyzers/StyleCopAnalyzers#1618, I ran the sampling profiler on **csc.exe** compiling **StyleCop.Analyzers.csproj** (the specific command was obtained by invoking MSBuild with diagnostic verbosity, and searching for csc.exe in the resulting log).

The resulting output showed `AnalyzerExecutor.ExecuteAndCatchIfThrows` as the primary time consumer. The most concerni

[2015-10-16 02:10] ManishJayaswal commented on #5949
@tmat what is the user impact of doing this workaround?

[2015-10-16 02:14] ygc369 commented on #3334
@GeirGrusom
Can Roslyn include all libraries needed by Android and IOS?

[2015-10-16 02:15] ManishJayaswal commented on #5537
We decided to not use this mechanism to hide members of the loaded script. We are not convinced if hiding actually makes sense in scripting scenario where people deal with source text all the time.

[2015-10-16 02:15] #5537 closed

[2015-10-16 02:32] ygc369 commented on #2177
If C# language can provide a safe version of stackalloc, it should also provide a new safe type ---- array on stack(like this:https://github.com/dotnet/roslyn/issues/126). If there is any difficulty to provide a safe version of stackalloc, C# language should at least allow initialization to follow the unsafe version.

[2015-10-16 02:33] ygc369 commented on #2171
Apple's Swift language has this feature.

[2015-10-16 02:33] dpoeschl commented on #6051
@davkean Just disable the failing tests, then it's not a "Known Contributor Issue" and just a disabled test bug on that team.

[2015-10-16 02:35] dpoeschl commented on #6051
Oh, you can't tell which test is failing in the suite?

[2015-10-16 02:42] ygc369 commented on #2144
nobody is interested in this?

[2015-10-16 02:44] AlekseyTs commented on #5992
@TyOverby Please verify.

[2015-10-16 02:58] davkean commented on #6051
No, I haven't figured that out - how do you do that given I can't attach? I'm assuming there's a log somewhere.

[2015-10-16 03:00] ManishJayaswal commented on #4393
This does not repro anymore.

[2015-10-16 03:00] #4393 closed

[2015-10-16 03:08] gafter commented on #5961
I wonder why @alrz didn't wonder this earlier.

[2015-10-16 03:09] ManishJayaswal commented on #550
We do apply definite assignment rule and an error is give when an unassigned variable is used. We just need to add test for this scenario.

[2015-10-16 03:11] ManishJayaswal commented on #5167
@tmat  moving this to 1.2 milestone

[2015-10-16 03:12] gafter commented on #550
I remember reviewing the PR where this was implemented.

[2015-10-16 03:25] ManishJayaswal opened #6054 "ctrl+z after pasting a multiline submission undoes only the last line"
multiple ctrl+z are required to delete one line with each ctrl+z

I would expect everything that I had pasted to be undone with one ctrl+z

[2015-10-16 03:25] ygc369 opened #6055 "Please allow to create class with dynamic size"
C/C++ has this feature, why C# doesn't have?
for example:
class A
{
    int a;
    long b[]; /\* The memory of b is in the memory of instances of class A. b is not an independent object and can't be referenced directly, but accessing elements of b is allowed. The length of b is determined/specified when creating instances of class A. The default length of b is zero. */

[code]

}

A e1 = new[10] A

[2015-10-16 03:27] ManishJayaswal opened #6056 "cut and paste should be greyed out when previous submissions or outputs are selected."
currently paste does noting and cut behaves like copy.

[2015-10-16 03:29] davkean opened #6057 "[Flaky Build] "Out of memory" and "Task was cancelled" while attempting to restore Roslyn's solution"
__Symptom:__

You run:
[code]

and get output like the following:

[code]

__Resolution:__
This is being tracked by this [bug](https://github.com/NuGet/Home/issues/1586) over on NuGet.org.

To avoid, run:
[code]

[2015-10-16 04:51] agocke commented on #6017
Thinking this should be a separate MSBuild-focused package

[2015-10-16 05:03] davkean commented on #4542
Assigning to Ravi for the moment as looks like @Pilchie triaged but did not assign.

[2015-10-16 05:27] ManishJayaswal opened #6060 "cut and paste options ( on right click) should be grayed out when previous submissions"
or outputs are selected.Currently paste does nothing and cut behaves like copy.

[2015-10-16 05:51] ManishJayaswal commented on #5923
@tmat  moving to 1.2

[2015-10-16 05:55] ManishJayaswal commented on #2246
@tmat  moving to 1.2

[2015-10-16 05:57] ManishJayaswal commented on #5301
@tmat  what is the customer impact of this issue?

[2015-10-16 06:00] ManishJayaswal commented on #5212
@genlu pasting inside interactive window currently does not copy prompt. In general pasting inside Interactive seems fine. It is pasting in the regular editor where prompts need to be suppressed.

[2015-10-16 06:51] Tiliavir commented on #5994
@tmat: thanks for the clarification. Adjusting the referenced assembly is not a solution for me, since I want to reference classes from the .NET framework - e.g. sometimes I want to allow usage of DateTime, Convert, and Math but not of OperatingSystem and others in the same namespace ...

How ever, I understand your concept from a design point of view (even though I consider the functionality I me

[2015-10-16 06:59] leppie opened #6061 "Show valid attribute locations for warning C0658"
Warning C0657 shows valid attribute locations when a recognized but invalid location is used.

Warning C0658 should also show valid attribute locations

Repro:
[code]
Following warnings are reported:
[code]

[2015-10-16 07:01] mavasani commented on #5974
Based on our internal discussions:
We need **some** means to access analyzer action counts from the core compiler layer for reporting telemetry in IDE –analyzer execution is now a blackbox for the v2 IDE analyzer driver. Our alternatives are:

1. Retain the current public API
2. Propose a better/refined API
3. Remove the API and don’t report analyzer action counts as part of telemetry

I’d prefer

[2015-10-16 07:01] Tiliavir commented on #3194
@tmat: Thank you very much, that is a nice workaround! I will rewrite my code as a workaround until this is implemented!

[2015-10-16 07:08] ygc369 commented on #6055
A class can only have at most one array with dynamic length, but can have more than one inline arrays with fixed length.
for example:
class A
{
    int a[10]; // fixed size
    int b[20]; //fixex size
    object c[]; //dynamic size
}

[2015-10-16 07:11] ygc369 commented on #2097
any progress?

[2015-10-16 07:36] ygc369 commented on #2097
@HaloFour
Not same as https://github.com/dotnet/roslyn/issues/126, this one is more ambitious.
C# language should have the ability to use class as struct or use struct as class.

[2015-10-16 08:19] dsaf commented on #6055
It would be nice to see the motivation and reasoning explaining why it would be a valuable feature. Is it about memory layout and performance or ease of use? Formatting of sample code is not done properly so it's hard to read.

Why doesn't C++ have all the Haskell features?

[2015-10-16 08:35] alrz commented on #5961
@gafter you got me there

[2015-10-16 08:53] alrz commented on #6045
#357 solves this.

[2015-10-16 09:14] bkoelman commented on #5975
@Pilchie Ah yes, I see now. Sorry to interrupt.

[2015-10-16 09:32] diryboy commented on #5739
To be honest I often overlook the icon, maybe I have some difficult to distinguish different kinds of them. I understand that icons are used to save some space, but it would be nice to add some text overlay to the icon, however it's too small.

[2015-10-16 09:47] dsaf commented on #5739
@diryboy There is no universal graphical symbol for "abstract" or "class" or "abstract class". It's a hard problem even with more concrete concepts: http://ux.stackexchange.com/questions/1795/when-to-use-icons-vs-icons-with-text-vs-just-text-links

Luckily ReSharper and ET come to rescue:

![image](https://cloud.githubusercontent.com/assets/3845650/10538789/e73234c8-73f2-11e5-997f-2105f5d463b4.png

[2015-10-16 10:19] danielcweber commented on #261
As async streams are now being brainstormed in #5383, I took the occasion and rebased my proof of concept of async streams found [here](https://github.com/danielcweber/roslyn/tree/AddAsyncIteratorSupport). It still works for the [simple example](https://github.com/dotnet/roslyn/issues/261#issuecomment-105960240) (and probably for complexer ones, too).

[2015-10-16 10:25] diryboy commented on #5739
@dsaf I do see an `A` over the left of the icon on your screenshot, that's what I'm talking about.

[2015-10-16 10:35] dsyme commented on #5383
You might want to take a look at this AsyncSeq library in F# - http://fsprojects.github.io/FSharp.Control.AsyncSeq/.

Cancellation is fully supported and you barely need to think about it inn the implementation - F# async propagates cancellation tokens behind the scenes - C# made cancellation tokens more explicit when they did their version of the feature, see http://tomasp.net/blog/csharp-async-g

[2015-10-16 10:39] bkoelman commented on #6005
@reudismam Note that there's a semantic difference: `.IsKind()` performs a null check. So, in your first example, `token.Parent` can be `null`, while `token` cannot.

By changing all to `.IsKind()`, the "null-is-not-expected-here" information is lost.

[2015-10-16 12:35] mavasani opened #6066 "Performance issues in bulk suppressing diagnsotics from error list"
Currently, it takes quite a while (>10 mins) to bulk suppress 1000+ issues from the error list. We need to improve the perf for RTM.

[2015-10-16 12:43] HaloFour commented on #2097
@ygc369

I'm not aware of any CLR functionality that would allow you to allocate a normal class on the stack or within the memory of another class.  C++/CLI fakes it by still allocating the classes on the heap and using copy constructors.

[2015-10-16 12:56] alrz opened #6067 "Proposal: Allow patterns in foreach statement"
A syntactic sugar for `foreach` statement to be able to use patterns in place of the variable declaration,
[code]
If the pattern was not fallible there would be no `else continue` in the translation.

[2015-10-16 12:57] DustinCampbell commented on #6002
Fix merged into stabilization

[2015-10-16 12:57] #6002 closed

[2015-10-16 13:02] monoman commented on #2097
An experiment on Stack Allocation of classes can be found here:
http://xoofx.com/blog/2015/10/08/stackalloc-for-class-with-roslyn-and-coreclr/

Rafael Teixeira
O..:.)oooo

On Fri, Oct 16, 2015 at 9:43 AM, HaloFour <notifications@github.com> wrote:

[2015-10-16 13:26] HaloFour commented on #6055
Arrays are references in the CLR.  C# fakes fixed arrays by creating a struct of a fixed size and adding it as a field to the class.

[2015-10-16 13:27] alrz commented on #6067
wait a minute, third example looks very very familiar.

[2015-10-16 13:51] zuraff opened #6068 "Status/plan for support of NuGet packages (project.json) in Workspace API"
Hi,
can you please tell me what is the current status/future plans for support of parsing project.json files by Workspace API ? Are NuGet dependencies stored in project.json file resolved ? Is the API capable to tell which *.dlls are effectively referenced by a project through NuGet dependencies ?

Thanks

[2015-10-16 15:03] alrz commented on #60
`using` declarations in C++ are pretty neat. What about this syntax
[code]
Note that `friend` is a new modifier which is used for composition over inheritance scenarios.

[2015-10-16 15:05] zinvob commented on #5497
Another logic that should be added if possible. If more than one if/while/for etc. "block" without brackets exists within the current block, check indentation and select the one matching indentation. If that's hard to do, show a windows with lines for selecting the if/while/for etc. you want to match on (or just match selection within the editor). Best would be selection based on same indentation

[2015-10-16 15:15] Ricciolo commented on #1653
Any news about this request? Because many times I've this need. The compiler can work in the same way it compiles the Expression<T>, using ldtoken   MethodBase::GetMethodFromHandle.
As workaround, in order to have compile time check, I generally use Expression then I look for the member:
[code]
But I don't like it so much

[2015-10-16 15:27] bbarry commented on #6045
This has nothing to do with variance.

It is a usability issue faced by library writers when using interfaces and unsealed types in extensible ways.

Perhaps my example was a little too abstract. Consider a real world example of where this occurs: `IEnumerable.GetEnumerator()`

Suppose you were writing an extension method for `IEnumerable` (not the generic one) and manually enumerated over it:

[2015-10-16 15:56] davkean opened #6069 ""Output type 'Console Application' is not supported by one or more of the project's targets." for portable console applications"
We've turned VbcCore and CscCore into console applications, but we now complain about this in portable:

[code]
Not sure if we need now to have a ConsoleApplication concept inside PCL, or whether we should just stop complaining.

[2015-10-16 16:05] davkean opened #6071 "For external contributors, dotnet-bot appears to spam for every build/test run"
See: https://github.com/dotnet/roslyn/pull/3669 as a example, dotnet-bot has replied and commented 6 times this pull request. Perhaps it's comment for at least every build/test run?

[2015-10-16 16:06] davkean commented on #6071
Apparently you just fixed this?

[2015-10-16 16:06] davkean commented on #6071
@tannergooding Apparently, you just fixed this?

[2015-10-16 16:08] amcasey commented on #6056
I think cut's behavior is expected - it's what I would expect anyway.  I'll compare paste to (e.g.) metadata-as-source.

[2015-10-16 16:09] sharwell commented on #6045
I currently strongly disagree with this proposal. In the original example, `IMover` does not implement `IDisposable`, and `GetMover` returns an `IMover` object. To me, this is prima facie evidence that a `using` statement is not needed as part of the use of `GetMover`. Since a `using` statement is not needed, CS1674 will not be reported and thus does not cause a problem.

[2015-10-16 16:10] zooba opened #6072 "InteractiveWindow.ProcessPendingSubmissions only processes one pending submission"
See [`ProcessPendingSubmissions`](https://github.com/dotnet/roslyn/blob/7fb8879dd8f42f344f91509fe2af1bcd0a1532f0/src/InteractiveWindow/Editor/InteractiveWindow.UIThreadOnly.cs#L729):

[code]

This is important because [`IInteractiveWindow.SubmitAsync`](https://github.com/dotnet/roslyn/blob/7fb8879dd8f42f344f91509fe2af1bcd0a1532f0/src/InteractiveWindow/Editor/InteractiveWindow.cs#L195) (as implemen

[2015-10-16 16:11] zooba commented on #6072
Ping @alexandersher, @dinov, @ManishJayaswal

[2015-10-16 16:13] davkean opened #6073 "Inside Visual Studio, CsiCore/VbiCore projects are complaining about not being able to reference portable scripting projects"
Inside Visual Studio, since sync'ing https://github.com/dotnet/roslyn/pull/6004, the VbiCore and CsiCore projects are complaining about not being able to reference the portable projects:

[code]

Looking at the projects, this is because their project.json is missing support clauses, mentioning that they support the same or compatible targets as the projects they are referencing.

I'm not sure what

[2015-10-16 16:15] davkean commented on #6035
This is now resolved.

[2015-10-16 16:15] #6035 closed

[2015-10-16 16:19] davkean commented on #6073
Weirdly, VbcCore and CscCore are in the same bucket here - and should also be complaining, as they don't have support clauses either, not sure why they aren't complaining @rchande?

[2015-10-16 16:37] tannergooding commented on #6071
@davkean I fixed it yesterday when I reverted the temporary workaround for our switch of master to v1.2. This should not be occurring today (community PRs should only see a single dotnet-bot comment, which is requesting a roslyn dev to review the code and reply with 'test eta please' so we can validate it does not break out integration build).

[2015-10-16 16:41] tmat opened #6074 "VS crashes (AV) in MemberRangeMap.UpdateMemberRange_NoLock"
Crash dump at

%internal_share%\public\tomat\Bugs\6074

There is something strange going on - the callstack points to a method that doesn't have any dereferences, so it might be deeper issue than what can be seen in the source (bad IL, CLR JIT bug, memory corruption, etc.). Also, it wasn't straightforward to capture this dump. VS just disappeared. It was necessary to attach a debugger, stop at the

[2015-10-16 16:46] amcasey commented on #6074
Dup of https://github.com/dotnet/roslyn/issues/5894.

[2015-10-16 16:46] #6074 closed

[2015-10-16 16:50] amcasey commented on #6072
Related to https://github.com/dotnet/roslyn/issues/5964.

[2015-10-16 16:52] xperiandri opened #6075 "Generic methods with the same name but diferent constraints"
Why this is not possible?
[code]

As constraints are different compiler can figure out which method to call.

[2015-10-16 17:05] ManishJayaswal commented on #6072
We should fix this for 1.1.
@dotnet/interactive FYI

[2015-10-16 17:09] ManishJayaswal commented on #5986
@tmat please validate that this is true and then close.

[2015-10-16 17:11] ManishJayaswal commented on #5967
This is covered in #5979 so closing this as dupe.

[2015-10-16 17:11] #5967 closed

[2015-10-16 17:18] tmeschter commented on #6012
@mattwar An analyzer for this seems simple enough. Could you file an issue at [dotnet/roslyn-analyzers](https://github.com/dotnet/roslyn-analyzers)?

[2015-10-16 17:31] tannergooding opened #6077 "EmitSequenceOfBinaryExpressions_03 is still flaky"
FYI. @agocke, @jaredpar

The `EmitSequenceOfBinaryExpressions_03` unit test is still flaky in some scenarios because the new expression size (up to 8192 from 4096) is not large enough to always produce the diagnostic.

Would a better solution be to dynamically keep checking the expression until the stack overflows (so start with an expression that contains some number of binary expressions, say 20

[2015-10-16 17:32] jaredpar commented on #6077
Do you have a link to one of the failures that we could look at?

That approach seems reasonable in theory.  @AlekseyTs would this work in the actual test implementation?

[2015-10-16 17:39] tannergooding commented on #6077
It is occurring in our signed build so no link available, but the error is as follows:

[code]

[2015-10-16 17:42] amcasey opened #6078 "Remove RoslynImageCatalogGuid"
Once the RTM version of `KnownImageIds.vsct` is available, we can start consuming `CSInteractiveWindow` and `VBInteractiveWindow` from there.  For now, we've defined our own symbol, `RoslynImageCatalogGuid`, with identical values.

[2015-10-16 17:50] KevinH-MS opened #6079 "FormatException when typing "0" (zero) in incomplete statement"
![capture](https://cloud.githubusercontent.com/assets/6464209/10549058/89acd082-73f3-11e5-88ff-6bad091a7591.PNG)

Dump at:  [internal file share]\6079\FormatException.dmp
[code]

[2015-10-16 17:51] KevinH-MS commented on #6079
@gafter is this related to your recent changes?

[2015-10-16 17:53] alrz opened #6081 "Proposal: Method Forwarding"
This feature (inspired by C++ `using` declarations) provides some sort of mixin capability in C#.
### Syntax

&emsp;*using-modifiers*<sub>opt</sub> `using` *using-modifiers*<sub>opt</sub> *using-target* *using-characteristic*<sub>opt</sub> `;`

&emsp;*simple-name*
&emsp;*simple-name* `::` *identifier*  *type-parameter-list*<sub>opt</sub> *parameter-type-list*<sub>opt</sub>

&emsp;`(`   *parameter-

[2015-10-16 18:00] bbarry commented on #6045
@sharwell `using` is not needed in the original example (which is here in the first code sample having extra code removed and identifiers renamed). The idea that someone might provide a class that implements both `IMover` and `IDisposable` wasn't on the radar of the author.

The trouble happens that the original API shipped. Some time later the replacement author received a bug report because a us

[2015-10-16 18:03] zooba commented on #6072
Not just related - it's the same issue. Feel free to close this one as a dup.

[2015-10-16 18:05] amcasey commented on #6072
Dup of #5964.

[2015-10-16 18:05] #6072 closed

[2015-10-16 18:08] alrz commented on #1653
I dig that `Test` method.

[2015-10-16 18:49] gafter commented on #6079
Sure looks like it.

[2015-10-16 19:27] #5992 closed

[2015-10-16 19:27] #6028 closed

[2015-10-16 19:45] AlekseyTs commented on #6040
@TyOverby Please verify.

[2015-10-16 19:45] #6040 closed

[2015-10-16 20:42] #6012 closed

[2015-10-16 20:44] reudismam commented on #6005
Thanks, @bkoelman! This is true. However, if token is null, the code will throw a null pointer exception when evaluating token.Parent in the second condition. Do you think it is relevant to have this "null-is-not-expected-here"  information in this context? I noticed that the Roslyn team performed this change in many other locations, even when you have token.kind(). For instance, in the current co

[2015-10-16 20:56] ManishJayaswal commented on #5936
@KevinH-MS I thought we had blocked it. Looks like in #5643 we only disabled ctrl+F12 but apparently there are other ways to get to it. oh well :-)

[2015-10-16 21:11] ManishJayaswal commented on #5832
This has been fixed with and internal change

[2015-10-16 21:11] #5832 closed

[2015-10-16 21:19] ManishJayaswal commented on #5657
@tmat  moving this to 1.2

[2015-10-16 21:23] AlekseyTs commented on #5993
@jaredpar I am able to reproduce this issue with current bits. It looks like only interface implementation is affected, overriding is not. Should be easy to fix, I think.

[2015-10-16 21:26] ManishJayaswal commented on #5598
@ashleydavis this is currently not officially supported although we want to enable this. We will look into it.

[2015-10-16 21:34] daveaglick commented on #2145
+1 to this. I know there's also talk about first-class tuple support for multiple return value scenarios (I.e., #186), but I'd also like to see some sort of support for optional out parameters in addition to that (or before it, if tuples turns out to get delayed). I hate having to declare variables I never intend to use or having to write wrapper methods.

[2015-10-16 21:41] #5978 closed

[2015-10-16 21:47] alrz commented on #2145
@HaloFour @dsaf ignoring all parameters: `delegate { }` ignoring some of them `(case *, x) => {}` (#6067) the `case` is needed because C# won't allow direct patterns in parameters.

[2015-10-16 22:07] danieljohnson2 commented on #6075
I think it'll be difficult to make this unambiguous, if you allow arbitrary constraints. Class-vs-struct seems simple enough, but consider:

    void MethodName<T>(T value) where T : IConvertible {...}
    void MethodName<T>(T value) where T : struct {...}
    void MethodName<T>(T value) where T : new() {...}

    MethodName<int>(42); // T=int; which is called?

The three methods could, in theory,

[2015-10-16 22:36] AlekseyTs commented on #5993
IL for the interface:
[code]

[2015-10-16 22:59] tmat commented on #6010
Updated the versions in the title and description to correct ones.

[2015-10-16 23:01] ManishJayaswal commented on #6073
@davkean looks like you already have a fix for it.

[2015-10-16 23:03] lorcanmooney commented on #613
I just hit this _exact_ issue. The compiler flagged an inaccessible extension method from another project as an error, when the actual problem was a typo in one of the arguments I was passing.

Also, earlier today I had something along these lines:
[code]
In general, overload resolution errors don't seem too helpful in these scenarios. Maybe a more general fix could be considered, where it doesn't

[2015-10-16 23:05] ManishJayaswal commented on #5558
Presumably we can put some assembly level attribute that would give compile errors in such cases instead of a runtime error.

[2015-10-16 23:10] ManishJayaswal commented on #5979
@tmat moving this to 1.2 milestone

[2015-10-16 23:11] alrz commented on #5187
@gafter Speaking of a `switch`-like statement on the time axis, I first thought it's a language feature for something like @stephentoub's wonderful [solution](http://blogs.msdn.com/b/pfxteam/archive/2012/08/02/processing-tasks-as-they-complete.aspx) regarding processing tasks as they complete. I want to suggest a syntax which also covers that case (because your tasks don't always come in a list).

[2015-10-16 23:50] gafter opened #6094 "Script code should compile against a reference assembly and run against a runtime assembly"
When a C# script references a package for some API that is delivered in a nuget package that provides a reference assembly for the API, it should *compile against* that API's reference assembly rather than the runtime assembly.

/cc @jaredpar

[2015-10-16 23:58] mattscheffer opened #6095 "[C# Interactive] Cutting and pasting a line with the | character adds an extra space"
Try the following
Type `test|`
With the cursor after the | cut the line with ctrl + x
Then paste the line back with ctrl + v

Expected: `test|`
Actual: `test |`

Note the extra space between test and |.

Additionally if you ctrl+z to undo the paste, it removes the extra space added from the paste. Using another undo removes the line entirely.

[2015-10-17 00:16] gafter commented on #1484
@ljw1004 The interpolated string feature is specified to behave as a call to `string.Format`. The corresponding code with `string.Format` also lacks the diagnostic. So I am closing it as by design.

If you'd like a diagnostic for both cases, please file a new issue.

[2015-10-17 00:16] #1484 closed

[2015-10-17 00:19] gafter commented on #305
This is particularly useful for generating a *reference assembly* when there are errors in the sources. It allows more efficient cross-project builds in the IDE, and it supports producing reference assemblies from "skeleton" source.

[2015-10-17 00:25] davkean commented on #6095
This looks by design. On paste, I assume we're formatting in interactive similar to a normal editor. We insert a undo unit for formatting changes, so that's why CTRL+Z undoes the extra space.

[2015-10-17 00:36] davkean opened #6098 "[Blocked] Linux machines are failing to run jobs due to "hung process""
Lots of the Linux machines have [hung process](http://dotnet-ci.cloudapp.net/job/roslyn_prtest_lin_dbg_unit32/225/), breaking lots of jobs

dci-ub-bld-12
dci-ub-fbld-1
dci-ub-bld-15

[2015-10-17 00:39] davkean opened #6099 "[Blocked] dci-win-rbld-12 has run out of disk space"
We're running our of disk space due to NuGet issue: https://github.com/NuGet/Home/issues/1608. We should isolate %TEMP% on a per job basis and blow it away on cleanup.

@mmitche said:

[2015-10-17 00:59] tmat opened #6100 "Copy & paste from VS REPL sometimes doesn't preserve the color of error messages"
Repro:
[code]

Select all content of the REPL (Ctrl+A) and paste to Word. The keyword is blue but the error is black.

Note that if the selection starts at the first submission it works fine.

[2015-10-17 01:11] tmat commented on #6094
We intentionally compile against runtime assemblies.

In future, we will provide an option to select a platform and compile against reference assemblies of that platform. But we will always have a mode (the default) where we compile against runtime assemblies.

[2015-10-17 01:15] tmat commented on #6094
Related: https://github.com/dotnet/roslyn/issues/4788

[2015-10-17 01:31] tmat opened #6101 "Scripting API: metadata references not backed by a file don't load"
Scenario:

[code]

fails since the in-memory assembly is not registered with InteractiveAssemblyLoader.

[2015-10-17 01:35] davkean commented on #6071
This is still occurring, it happened for this https://github.com/dotnet/roslyn/pull/4508 when I replied to the thread.

[2015-10-17 01:36] davkean commented on #6071
And this one: https://github.com/dotnet/roslyn/pull/5385#issuecomment-148874063

[2015-10-17 01:46] tmat opened #6102 "[Portable Pdb] Clean up Microsoft.DiaSymReader.PortablePdb and Tests"
When we moved to project.json we neeed to workaround some issues. Remove the workarounds.

Related: https://github.com/dotnet/roslyn/pull/4863

[2015-10-17 01:49] tmat opened #6103 "Scripting: Improve formatting of anonymous types"
Instead of
[code]

Print something like
[code]

[2015-10-17 01:56] tmat opened #6104 "NFW while typing anonymous type in REPL"
Type:
[code]

[code]

[2015-10-17 02:00] tmat opened #6105 "Error text in InteractiveWIndow is not properly colored"
Submit to VS REPL (change the path to point to roslyn bin) and notice that part of the exception text is not red.

[code]

[2015-10-17 02:06] tmat opened #6106 "Implement paste special in Interactive Window"
Scenario: copy & paste from a sample on web, in e-mail, doc, etc.

Copy the following text to the IW:

[code]

Since we are copying from browser, which is unaware of prompts, we get the following result:

[code]

We should provide "paste special" experience similar to Office, which gives the user the choice to strip the prompts.

[2015-10-17 02:13] tmat opened #6107 "'.' typed in #r argument should trigger completion"
We should provide completion after typing dot:

[code]
Also Alt+RightArrow should select one of the Microsoft.CodeAnalysis* assemblies:
![image](https://cloud.githubusercontent.com/assets/41759/10556512/d83301ae-7439-11e5-82fe-b0160743dac4.png)

[2015-10-17 02:39] dfkeenan commented on #5558
Does this mean that going forward the minimum .Net target framework will be 4.6?  If so is this just for scripting or will this become the minimum target platform for all of roslyn (on desktop)?

[2015-10-17 02:42] gafter opened #6109 "Error in scanning "1.0e-99999999999999999999999"; should convert to zero"
The literal `1.0e-99999999999999999999999` should scan as the value `0.0`, but it acts as if it is an overflow (compile-time error).

[2015-10-17 02:51] #949 closed

[2015-10-17 02:54] KevinH-MS commented on #5598
If you're just looking to play around with the C# Interactive Window, I'd recommend you check out:

http://www.microsoft.com/en-us/download/details.aspx?id=49189

If you're looking to make changes to the window and try them out in VS, then you can check out https://github.com/KevinH-MS/roslyn/commit/daa536a4a7deece4c9877004d041c79db59a6d2a.  It was branched quite a while ago, but if you make the s

[2015-10-17 03:07] gafter commented on #5154
I'm wondering if the `case` keyword is too much, and just a comma would be better:

[code]

[2015-10-17 03:34] dfkeenan commented on #5558
At the very least you could update the the description of the NuGet package to say the supported platforms is 4.6 not 4.5 as it currently does.

[2015-10-17 03:59] cston commented on #3712
Fixed in #6076

[2015-10-17 03:59] #3712 closed

[2015-10-17 06:07] SolalPirelli commented on #5154
@gafter: If you're willing to break the switch/match duality, removing `case` seems great, IMHO it's just visual noise. Especially because most match statements will be on multiple lines, in which case (ha!) it becomes a big rectangle of noise:

[code]

At least that's what I think when writing Scala, which also has `case` in its `match`. Maybe that's because I'm used to F#'s terser syntax, though

[2015-10-17 06:49] alrz commented on #5154
then it makes sense to remove `case` from #6067 so #20 would be possible, and parentheses from tuple syntax should be removed too.
[code]

[2015-10-17 09:28] alrz commented on #6067
This can also used to ignoring parameters (#20, #2145 and #2397)

[2015-10-17 09:29] diryboy commented on #5172
Agree.

New case, if combine Rectangle/Square and Person/Student
[code]
What should happen if we execute the following code?
[code]

[2015-10-17 09:36] ygc369 commented on #6055
@dsaf
It's about performance, reduce the total count of objects, make GC faster. (Arrays are objects too!)

[2015-10-17 09:59] MI3Guy commented on #6055
It would be especially nice for immutable collections. I think it would require CLR support however
.

[2015-10-17 11:31] alrz commented on #136
What about `if(-10 > a > 5) {}`

[2015-10-17 12:38] ygc369 commented on #6055
@MI3Guy
What you said is just what I want to say.It's suitable for immutable collections.
I think that CLR may already support it.

[2015-10-17 14:10] alrz commented on #5154
[code]
I'd say 4th is better.

[2015-10-17 14:15] SolalPirelli commented on #5154
@alrz The nice thing about `*` (with/without `case`) is that it doesn't introduce any new syntax or separate case since `*` is supported anyway. And your 5th case looks confusing.

[2015-10-17 14:18] alrz commented on #5154
@SolalPirelli That's actually based on a syntax mentiond in this [#5402 comment](https://github.com/dotnet/roslyn/issues/5402#issuecomment-147885124). `(` *statements expression* `)`.

[2015-10-17 14:30] lorcanmooney commented on #126
I was ported the SHA-3 algorithm to C# recently, and this would have made it a bit easier. The algorithms state is modelled with a 5x5 array of 64-bit integers, so supporting multidimensional arrays is something I'd like to see. On the surface at least, it seems like it would be a fairly easy transformation back to a 1-dimensional offset.

[2015-10-17 14:31] ygc369 opened #6111 "Please provide two features to realize "copy-on-write""
(I've submited this idea to the coreclr forum:https://github.com/dotnet/coreclr/issues/1792, but I don't know if that is the right place, so I submit it here too.Maybe this idea need both effort.)

If some "half-immutable" objects can copy on write, a lot of memory would be saved.
To realize this, two features are needed.
(1)  I need to get the reference count (rc) of an object to decide whether t

[2015-10-17 15:03] gafter commented on #6094
@tmat as long as we do not recommend scripting or interactive as ways of experimenting with an API, that works fine.

[2015-10-17 15:07] gafter commented on #5172
Yes, in both cases it is an error to try to `with` properties not declared in the parameter list of the static type of the left-hand-side.

[2015-10-17 15:13] Joe4evr commented on #6111
If you could please learn [how to Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code) and put your samples into code blocks (both here and in #6055), that'd make it a lot easier to understand your examples. Thanks in advance.

[2015-10-17 15:19] diryboy commented on #5172
In the second case `b`'s static type is `A`, so `X` is in the parameter list.

[2015-10-17 15:23] alrz commented on #6067
The problem with this design is that if you try to override some method that has multiple overloads, compiler doesn't know which one you are overriding. So there should be a hint to the compiler about type of the target object.
[code]

[2015-10-17 15:38] tannergooding commented on #6071
It seems to only be happening when you reply to community pr. @mmitche, any ideas?

[2015-10-17 15:39] tannergooding commented on #6057
Closing as issue already has a resolution.

[2015-10-17 15:40] tannergooding commented on #6052
Closing as issue already has a resolution.

As additional context, this will be resolved (no need to pass -noshadow) when #6088 is merged.

[2015-10-17 15:41] tannergooding commented on #6043
Closing as issue already has a resolution.

[2015-10-17 15:41] #6043 closed

[2015-10-17 15:41] tannergooding commented on #6036
Closing as issue already has a resolution.

[2015-10-17 15:57] Alirezanet commented on #4892
bump . it was great future . bring back it pls :(

[2015-10-17 16:00] HaloFour commented on #6055
@ygc369 To my knowledge the CLR does not support anything like this currently.  The CLR determines the size of the class based on its fields and allocates the memory for it before the constructor is executed.

[2015-10-17 16:17] gafter commented on #5172
@diryboy I didn't see that. So in the former case it is a compile-time error "X not a parameter of B". In the latter case you get back a new `A`.

[2015-10-17 16:21] gafter commented on #126
@lorcanmooney Your wish is my command. The following now works in C# 6.

[code]

[2015-10-17 17:21] diryboy commented on #5172
@gafter Isn't that decapitated `b`? As it was constructed with `new B(1, 2)`.

[2015-10-17 17:38] gafter commented on #5172
@diryboy Indeed, it is decapitated. I think we should allow you to override the underlying factory methods if you want another behavior, as there is no universally reasonable default.

[2015-10-17 17:49] lorcanmooney commented on #126
Ah, classic @gafter.

[2015-10-17 17:52] HaloFour commented on #126
@gafter Given the issue I had assumed that @lorcanmooney meant multidimensional fixed buffers.

[2015-10-17 17:57] lorcanmooney commented on #126
@HaloFour You are of course correct. My terminology was ... imprecise. On further reflection, maybe I should open a separate feature request for the multidimensional part, since it may not be directly tied to this proposal.

[2015-10-17 18:01] HaloFour commented on #126
@lorcanmooney Well, the "enhancements" in the title is also quite vague.  :)

Unless I'm missing something multidimensional fixed buffers seems like it would just be a question of math, emitting the correct multiplier per rank.

[2015-10-17 18:13] afscrome opened #6112 "Stable Roslyn Packages on nuget.org point to pre-release licences"
The Microsoft.CodeAnalysis.CSharp 1.0.0 package at https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/1.0.0 links to a pre-release / preview licence ( http://www.microsoft.com/web/webpi/eula/dotnetcompilerplatform_redistributables_preview.htm ) .  Given that the 1.0.0 packages are stable packages, I'd expect them to point to a different licence.

[2015-10-17 18:25] vladd commented on #6055
I don't see how this solves the problem in general. If we are to allow "inlining" the _last_ array field, why shouldn't we allow "inlining" of all array fields? (Just because C++ can't do it?) The feature is too weak to be helpful.

[2015-10-17 18:34] vladd commented on #6075
This is a consequence of the fact that the generic constraints are currently not a part of a function signature. See [this Jon Skeet's article](http://codeblog.jonskeet.uk/2010/10/28/overloading-and-generic-constraints/) for more details.
Are you proposing to change the function overload resolution's way of working?

[2015-10-17 19:09] davkean opened #6113 "Jenkins doesn't list test failures, even though there are some"
My job states:

![image](https://cloud.githubusercontent.com/assets/1103906/10560697/bf73ebd6-74c7-11e5-8470-b18be2491564.png)

However, this is the log (full log [here](http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/203/console)):

In particular, this part of the log:
[code]

Clearly test failures, however, from here I cannot see what actually failed.

[2015-10-17 19:59] alrz commented on #5429
Also for `default` this could be useful.
[code]

[2015-10-17 20:06] alrz commented on #2114
@aluanhaddad you example cause
1. capture variable SimpleQuery or `this` if it's a property.
2. invoking/evaluating SimpleQuery in iteration

[2015-10-17 20:26] tmat commented on #5949
http://source.roslyn.io/#Microsoft.CodeAnalysis.Scripting/Script.cs,292

[2015-10-17 20:28] tmat commented on #5949
[code]
Doesn't report warnings of the first code snippet in the resulting diagnostics.

[2015-10-17 20:32] tannergooding commented on #6113
@davkean, if there was a failure and it is not available in the Jenkins test results, then xunit probably failed to output a log altogether. If you will examine the rest of the log (specifically where it parses the xunit log files) you will notice that the failed test (Microsoft.CodeAnalysis.Scripting.Desktop.UnitTests) did not have a log file for processing:

[code]

[2015-10-17 20:33] #6052 closed

[2015-10-17 20:38] alrz opened #6114 "Proposal: Method type-parameter-list inference"
Considering #1042, #1470, #2114, #2319, #4423, #5168, #5429 and others, there is a strong demand for a more powerful type inference in C#. Although, this one is missing:
[code]
Compiler would infer types that are not in the scope as type parameters in order of args first and then the return type.

This also can be extended to use in delegates and record type declarations.

[code]

[2015-10-17 20:45] aluanhaddad commented on #5154
@gafter I think having a keyword to introduce each pattern is easier to visually parse if there are more than a few cases. It is also more extensible if future versions of the language ever allow patterns to be used in more constructs.

[2015-10-17 21:00] davkean commented on #6113
Either way, Jenkins says there's no test failures, but clearly there is.

[2015-10-17 21:21] alrz opened #6115 "Proposal: Allow optional names in some places"
While C# is fusing records and ADTs together, there is still a need for more concise declarations of "records".  Types in in these contexts are [expressive enough](http://fsharpforfunandprofit.com/posts/function-signatures/) and there is a chance that one never use them and put them directly in `switch` or `match` which doesn't rely on arg names. Also they are more useful in #5718 where you are de

[2015-10-17 22:16] dpoeschl commented on #6112
/cc: @amcasey

[2015-10-17 22:33] paulomorgado commented on #6067
I'm sorry but I can't understand what you're proposing.

Can you provide more examples of producing/consuming code using this proposal?

[2015-10-17 22:38] alrz commented on #6067
@paulomorgado The original post is all examples by the way! It's about inserting a `case` *pattern* in place of a variable/parameter declaration so one can use extracted values from patterns. So basically
[code]
is equivalent to
[code]

[2015-10-17 23:03] AdamSpeight2008 commented on #136
@alrz  Workaround already exist you just need lift it into another type. [Here](http://www.dreamincode.net/forums/blog/217/entry-4704-false-assumption-comparision-operators-return-booleans)

[2015-10-17 23:43] diryboy commented on #5172
@gafter I see

[2015-10-18 00:27] ygc369 commented on #6055
@vladd
allowing "inlining" of all array fields would be better if possible.

[2015-10-18 01:30] ashmind commented on #136
@alrz Is your proposal equivalent to "Solution A" above?

[2015-10-18 02:05] tmat commented on #5949
I already have partial implementation. Just needs to be finished.

[2015-10-18 02:06] HaloFour commented on #6114
Typos turning into generic type parameters?  No thanks.

[2015-10-18 02:07] tmat commented on #5813
Blocked on https://github.com/dotnet/roslyn/issues/6010

[2015-10-18 05:03] diryboy commented on #5366
Ah, also hit this, it's annoying. The session should dismiss if user typed anything outside of the field, but not when cursor moved, in case it moves back.

[2015-10-18 05:38] diryboy opened #6121 "The outline box of the inline rename is misleading"
It looks like a snippet field to me, but hitting <kbd>Enter</kbd> doesn't "commit".
![image](https://cloud.githubusercontent.com/assets/159110/10562714/48930a30-759c-11e5-9517-2542c108a349.png)

 In VS2013 there was a little underline, and I can associate that with <kbd>Ctrl</kbd> + <kbd>.</kbd>, I understand that little underline can be too subtle for somebody to spot, could be the reason why cha

[2015-10-18 06:07] alrz commented on #6114
@HaloFour this could be addressed by forcing `TName` convention but currently there is no such thing in the language.

[2015-10-18 06:07] #6114 closed

[2015-10-18 07:02] ForNeVeR opened #6122 "Make string interpolation work properly with constants"
Consider this non-working example:

[code]

At the same time, the following will work:

[code]

Should they really be so different? I think it's a good idea to make string interpolation generate constant strings if invoked on compile-time constants.

[2015-10-18 07:05] ramzzzay commented on #6122
Yep, i mean it's will be a great job to make .Net more user friendly.

[2015-10-18 07:20] diryboy commented on #5878
MAS is metadata in the first place, source code is just a representation, so every element it binds to should be reflected by the "color".

That's a different story from the source you're currently authoring, if something doesn't "color" as expected, you can do a Go To Definition to find out why, and decide whether change the accessibility for the referenced element, or not reference it at all.

[2015-10-18 07:42] alrz commented on #136
@ashmind I think it hasn't to be *ternary*. A tree of chained comparison operators could be translated into multiple comparisions and `&& ` or `||` operators.

Quantum superpositions look a lot like [`Listable` functions](https://reference.wolfram.com/language/ref/Listable.html) in *Mathematica* which apply the operator to the list and returns a list (behaves like a functor).

Although, this can b

[2015-10-18 08:24] alrz commented on #6122
@ramzzzay I'd say developer-friendly, the term “user” can describe an individual who uses drugs, btw.

[2015-10-18 08:53] ramzzzay commented on #6122
@alrz yes, good correction bro, i said it on automatic =)

[2015-10-18 10:42] mariusGundersen commented on #176
Having looked at [this video on (potential) C#7 features](https://channel9.msdn.com/Blogs/Seth-Juarez/Looking-Ahead-to-C-7-with-Mads-Torgersen), I'm thinking that this feature would be no more complex or ambiguous than pattern matching. In fact, it would probably be a simplification of pattern matching, and could be implemented as a translation scheme that uses pattern matching. I'm therefore goin

[2015-10-18 12:37] alrz commented on #5154
My ideal syntax so far:

&emsp;`(` *match-sections default-case*<sub>opt</sub> `)`

    match-labels *expression* *gaurd-labels<sub>opt</sub>

&emsp;`case` *pattern* *guard-label* <sub>opt</sub> `:`

&emsp;*case-guard* `:` *expression*

&emsp;`default` `:` *expression*

I'm just sayin.

[2015-10-18 13:14] SLaks opened #6123 "Rename doesn't resolve conflicts by reducing extension method invocations"
Source:

**ProjectA**:

[code]

**ProjectB** (references ProjectA):

[code]

Rename `Extensions2` to `Extensions`.

The invocation will become an unresolvable conflict.

Instead, it ought to reduce it to `0.M()`.

Although this scenario is a bit of a corner case, I think it would be nicer to reduce extension method invocations instead of expanding to `global::Namespace.Extensions.Method()`, even w

[2015-10-18 13:19] SLaks opened #6124 "Rename reports false conflict for equivalent reduced symbols"
_astoudningly evil corner case_

Source:

**ProjectA**:

[code]

**ProjectB** (references ProjectA):

[code]

Renaming `Y` to `X` will report an unresolvable conflict at `X.M(X)`, even though the compiled output of that statement [isn't changed at all by the rename](http://tryroslyn.azurewebsites.net/#f:>ilr/MYGwhgzhAEDC0G8BQ1XWAewHYQC7QEst8ANaAXmgAYBuFNANwwIBNoBBACgEpFoSAdAFlOJbjWgBfeqiatoAIR58Am

[2015-10-18 15:13] AdamSpeight2008 opened #6125 "CompilerServerUnitTests Failure(s)"
The week I got a new computer, just built Roslyn for the first. Got the following test failure(s).
https://gist.github.com/AdamSpeight2008/8d7a720f57b8b46cdc42

[2015-10-18 15:27] gafter commented on #5154
What does `case 3: 4 where e: 6` mean as a *match-section*`?

[2015-10-18 15:31] gafter commented on #176
@mariusGundersen you can start you work as a fork of the features/patterns branch, where pattern matching is implemented.

[2015-10-18 15:36] alrz commented on #5154
@gafter It would be equivalent to `o match(case 3 : 4 case 3 when e : 6 ...)` I assumed you meant `when`.

[2015-10-18 16:19] gafter commented on #5154
That is confusing, because patterns are normally considered *in order*.

[2015-10-18 16:34] alrz commented on #5154
@gafter That makes sense when you break your `match` in lines
[code]
if you haven't any normal case:
[code]
Yes *patterns* are considered in order, and so do case guards here, but if the first one has no case-guard then it will behave like a fallback for following case guards.

`unless` implies that you applied a logical *not* to case guard condition, like `if` and `unless` in Ruby. but this is no

[2015-10-18 16:41] gafter opened #6126 "Incorrect condition in `AddSynthesizedAttributes`"
See the comment https://github.com/dotnet/roslyn/pull/5447#discussion_r40827825

The offending code is at
https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs#L161 :

[code]

This condition is always true.

[2015-10-18 16:49] gafter commented on #5154
Don't `but when` and `unless` mean the same thing?

[2015-10-18 17:01] alrz commented on #5154
It does make sense but this syntax keeps all case guards consistent (declared with a `when`), I just wanted to point out that it's possible to simplify the `match` in case of having multiple case guards for one pattern. I'm not saying that it has to be `when` for all of them. If you say that this is more expressive
[code]
I do agree.

[2015-10-18 18:42] mikedn commented on #6055
C++ doesn't actually have this feature. It just happens that it usually works but as far as the language specification is concerned any attempts at using such tricks puts you in the "undefined behavior" land. In particular, C++ doesn't have any built-in way to instantiate such types. The closest you can get is to allocate the required amount of memory and then use placement new to initialize the i

[2015-10-18 19:52] dpoeschl commented on #6121
@diryboy What theme do you have installed? By default, the Rename Tracking outline tag is dotted.

[2015-10-18 20:22] gafter commented on #5154
I'm not sure I believe either is better than the original proposal. In any case it would be a compatible extension.

[2015-10-18 20:27] alrz commented on #5154
@gafter What about prohibiting repeated patterns? I think this, at least, can simplify runtime pattern matching procedure and compile-time rules (besides more concise and concentrated `match` expressions).

[2015-10-18 22:17] paulomorgado commented on #6114
+1 @HaloFour

[2015-10-18 22:20] alrz commented on #6114
@paulomorgado come on, this is already closed :))

[2015-10-18 23:35] diryboy commented on #6121
No I did not change the theme or install any plugin that changes theme, it's the default Blue theme with dark background color, I just changed the Foreground Color of Rename Tracking to red as I changed to a dark background.

[2015-10-19 01:41] ashmind opened #6129 "[Proposal] Expose methods for property and event accessors"
#### Problem

It's sometimes convenient to use an event or property accessor in a generic way.

For example, property cannot be passed by reference, but you might want to pass its setter. In current language this is often done by `v => x.Property = v`, which is an extra delegate that is verbose, inefficient, and hides property from type inference of the enclosing call.

In the same way, any genera

[2015-10-19 02:01] jaredpar commented on #6098
Is there a reason we can't a `kill -9` to our scripts that start coreclr?

[2015-10-19 02:45] SLaks opened #6131 "Rename doesn't resolve conflicts by passing default parameter values"
[code]

Rename `Y` to `X`.

**Expected**:

[code]

[2015-10-19 02:48] SLaks opened #6132 "Rename doesn't resolve same-class conflicts by specifying the classname"
[code]

Rename `Y` to `X`

**Expected**:

[code]

[2015-10-19 02:51] SLaks commented on #6132
Similarly, if you invert the situation and move the parameter to the instance method, it won't insert `this.`

[2015-10-19 03:03] SLaks opened #6133 "Rename doesn't resolve identical-name conflict by casting to base type"
[code]

Rename `Y` to `X`.

**Expected**:

[code]

[2015-10-19 03:05] SLaks opened #6134 "Rename doesn't insert new keyword"
[code]

Rename `Y` to `X`.

I would expect it to insert `new` to avoid the compiler warning.

(unless you want to deliberately alert people to the issue by adding the warning?)

[2015-10-19 03:10] SLaks commented on #6133
Additional example:

[code]

Rename `Y` to `X`.

**Expected**:
[code]

[2015-10-19 03:13] SLaks commented on #6132
Additional example:
[code]
Rename `Y` to `X`.

**Expected**:
[code]

[2015-10-19 03:15] SLaks commented on #6133
The additional example is a dupe of #3552

[2015-10-19 03:48] weitzhandler opened #6135 "Proposal: Always allow omission of braces for single line statements (try, catch, finally, property, get, set, etc.)"
Instead of:

    try
    {
      Run();
    }
    catch (Exception e)
    {
      Log(e);
    }
    finally
    {
      Close();
    }

This should be allowed:

    try
      Run();
    catch (Exception e)
      Log(e);
    finally
      Close();

Likewise,

    public string MainPhone
    {
      get
      {
        return Phones.FirstOrDefault()?.Number;
      }
      set
      {
        SetPhon

[2015-10-19 04:22] gafter commented on #5154
@alrz These would all be compatible extensions to the proposal, so need not be done at the same time as the basic construct. My concern with `default` is that because it is handled out-of-order in `switch`, people will expect it to be handled out-of-order in `match`. Not allowing it removes that confusion.

[2015-10-19 04:25] krwq opened #6136 "Proposal: extension everything"
Easiest explanation in the example:

[code]

[2015-10-19 05:23] mavasani commented on #5861
@paul1956 I am unable to repro this. Can you please let me know how did you setup your vsixmanifest file? VS IDE requires your to provide an analyzer asset of type File in the following format:
[code]
Did you specify the path to the temporarily generated Analyzer1.dll from obj folder? Otherwise, I don't see how you can specify the analyzer asset if your diagnostic analyzer is defined in the same p

[2015-10-19 05:25] mavasani commented on #5861
I am resolving this as by design - you cannot avoid packaging the analyzer in a separate assembly. Kindly re-open if you disagree.

[2015-10-19 05:25] #5861 closed

[2015-10-19 05:27] mavasani commented on #4376
Verified by the customer who reported this issue.

[2015-10-19 05:30] mavasani commented on #4073
Verified by the customer.

[2015-10-19 05:31] mavasani commented on #4254
@heejaechang can you please verify?

[2015-10-19 05:32] mavasani commented on #4068
@srivatsn can you verify or assign to someone to verify? I did add a unit test while fixing this.

[2015-10-19 05:34] paul1956 commented on #5861
The reason I did it is because my analyzer needed to read a file in the solution where I store some options. The VSIX provided the button logic to set the options and can update a class in the PCL library when the option changes but I could not figure out how to initialize the option.  I agree with your By Design but there has to be a way for the PCL to get options since other add-in seem to have

[2015-10-19 07:01] JoshVarty opened #6138 "[Question] How do I get all the INamedTypeSymbols in a given compilation?"
I've been trying this for about 45 minutes now, but I can't seem to figure out how to get a list of all of the `INamedTypeSymbol` available in a given compilation. I tried digging through the `Compilation.GetTypeByMetadataName` stuff, but couldn't figure it out.

I tried using `Compilation.GlobalNamespace.GetTypeMembers()` and it seems to give me all the `IModuleSymbols` that are referenced by the

[2015-10-19 07:33] NN--- commented on #6135
The only problem that try-catch is not an expression making this proposal a little bit useless.
If inline try-catch is changed to be an expression, it will be a nicer change.

old::
[code]

new:
[code]

[2015-10-19 07:55] weitzhandler commented on #6135
@NN---
I would stick to the original non-expression version.
A `for`, `foreach`, `do-while` statements are all non-expression blocks that allow inline statements.

[2015-10-19 08:02] NN--- commented on #6135
In that case there is no real advantage of removing braces.
You can inline braces in one line for short statement.

[2015-10-19 08:13] Munksgaard commented on #669
+1

[2015-10-19 08:30] mattscheffer commented on #6095
The bug here is the extra spaced added when `test|` is pasted. Not the undo. The extra space doesn't occur in any of the other editor windows.

[2015-10-19 09:51] AdamSpeight2008 commented on #136
@alrz using `or` wouldn't work well for vb.net. The extension methods work for both languages, see
(Exts.*)[https://www.nuget.org/profiles/adamspeight2008?showAllPackages=True]

[2015-10-19 09:55] alrz commented on #136
It would use another syntax for disjunctive patterns.

[2015-10-19 10:59] svick commented on #6136
So, it's a unified syntax for instance extension methods (already in the language), static extension methods (#996), extension constructors, extension properties (#112) and possibly extension operators (#4945)?

[2015-10-19 11:38] dsaf commented on #6129
Related to #1653.

[2015-10-19 12:21] sharwell commented on #6136
It seems pretty straightforward. It also seems to cover everything except two items, which I'm hoping can be addressed by the eventual solution.

1. The ability to place the extension class in a different namespace from the original
2. The ability to use `using static` to bring the extension methods defined by a specific class into scope without the rest of the types/members from its namespace

[2015-10-19 12:56] SLaks opened #6140 "Rename doesn't resolve conflicts by wrapping a token in parentheses"
_astoudningly evil corner case_

[code]

Rename `Y` to `X`.

**Expected**:

[code]

[2015-10-19 12:57] SLaks commented on #6140
An alternative resolution would be to rename the lambda parameter so that it's no longer the same as the typename.

[2015-10-19 13:06] SLaks opened #6141 "Spec Inaccuracy: Identical simple names and type names can be ambiguous"
This statement has never been true; since C# 1.0, there have been cases where this rule introduced ambiguities and created compile-time errors where there otherwise would not have been.

[code]

[2015-10-19 13:17] SLaks commented on #6122
Note that this isn't so inconsistent; `"A" + 1` is already not a constant expression (because it involves a conversion).

[2015-10-19 13:17] SLaks commented on #6138
You need to recurse through all of the namespaces in the global namespace

[2015-10-19 13:22] bbarry commented on #6136
How about:

    internal extension class AExtensions : A

Could an extension class share instance fields between extension members?

    ...
    int callcount = 0;
    public void Method() { callcount++; ... }
    public int CallCount { get { return callcount; } }

        ...
        var a = new A();
        a.Method();
        a.Method();
        var b = new A();
        b.Method();
        Cons

[2015-10-19 13:41] daveaglick commented on #6138
Yep - I've found the easiest way to do the recursion is with a `SymbolVisitor`:

[code]

[2015-10-19 13:48] SLaks commented on #6138
@daveaglick You can syntax-highlight that code by wrapping it in
[code]

[2015-10-19 13:49] SLaks commented on #6138
See also http://stackoverflow.com/a/32937808/34397

[2015-10-19 13:51] daveaglick commented on #6138
@SLaks Holy cow - I had no idea I could force language highlighting. One of those simple little things I never picked up...thanks!

[2015-10-19 13:55] SLaks commented on #6138
Also, your visitor won't catch nested types.

[2015-10-19 14:00] MgSam commented on #6136
This is a good idea. It neatly solves the problem the design team has faced of how to add static extension methods with a decent syntax. The fact that the current extension method syntax then becomes obsolete is probably not a bad thing either- as I've always found the current syntax to be overly subtle and not particularly well designed.

[2015-10-19 14:01] daveaglick commented on #6138
Yeah, just left that out - there's actually a pretty full example here that does:
https://github.com/Wyamio/Wyam/blob/develop/Wyam.Modules.CodeAnalysis/AnalyzeSymbolVisitor.cs

[2015-10-19 14:11] ForNeVeR commented on #6122
Yes, I understand that it's because number-to-string conversions uses current locale, so it won't be constant value across machines. I'm talking only about string concatenation here.

[2015-10-19 14:14] kindermannhubert opened #6142 "Cast is redundant (IDE0004) analyzer bug"
There is a bug at IDE0004 Analyzer.

In following code snippet it proposes to remove 'enum to int' cast even though it changes runtime behaviour.

[code]

[2015-10-19 14:15] SLaks commented on #6122
It would be very confusing to have this feature only work for strings and no other types; I don't think that's a good idea.

[2015-10-19 14:17] davkean commented on #6095
The behavior above is what we do you paste "test|" into a method body in the editor. Here's what happen when I tried your repro in the editor:

![image](https://cloud.githubusercontent.com/assets/1103906/10580199/3da9a68e-7631-11e5-8f83-e660bb7e827b.png)

On paste, we reformat the code - and we think "test |" is an expression, and put a space between "test" and "|". On undo, we let you undo just t

[2015-10-19 14:18] ForNeVeR commented on #6122
It is already working only for strings and not for another types; it is already confusing :)
Compare the following:

[code]

[2015-10-19 14:19] SLaks commented on #6122
I know, but hiding the concatenation in interpolation syntax makes it more confusing.

[2015-10-19 14:29] AdamSpeight2008 commented on #6122
There is the additional issue the arghole `{ value , alignment : formatting }` can have alignment and more formatting applied to it.

I was in the process of update [String Format Diagnostic](https://visualstudiogallery.msdn.microsoft.com/adbded26-4bc1-4d24-be86-61eef8768eee) to handle string interpolations as well, when me computer broke. Now that I have new one I can get back to it. It could pro

[2015-10-19 14:40] daveaglick commented on #6136
I like this a lot - neatly ties up a lot of the extension concepts floating around. What about extending interfaces (obviously without static members), or would this syntax be exclusively for classes? I.e.:

[code]

Perhaps the declaration syntax proposed by @bbarry (`internal extension class AExtensions : IA`) would work better in this case because it makes it obvious the extension class is an ac

[2015-10-19 15:21] HaloFour commented on #6129
How would you pass a property setter if not by a delegate?  You mean trying to pass off a property in place of a `ref` parameter?  I don't see how the compiler could accomplish that.

[2015-10-19 15:37] HaloFour commented on #6136
I don't know, I like the explicitness of the current extension method syntax as accepting the instance via a parameter.  With this syntax the compiler would need to add the `this` parameter changing the signature which may be confusing, particularly with reflection scenarios.

I also have concerns about the concept of extension properties (and events) given that they're not just accessor methods b

[2015-10-19 15:41] JoshVarty commented on #6138
Thanks guys, that should be more than enough to get me started. :)

[2015-10-19 15:41] #6138 closed

[2015-10-19 15:46] amcasey commented on #6112
Thanks for the report!  We're working to correct the license now.

[2015-10-19 16:09] alrz commented on #6122
I'm sure that he meant "string constants".
On Oct 19, 2015 16:47, "SLaks" <notifications@github.com> wrote:

[2015-10-19 16:12] alrz commented on #6135
addressed by #5402.

[2015-10-19 16:15] jaredpar commented on #6113
Looks like it is running into the following issue:

https://github.com/dotnet/corefx/issues/3793

[2015-10-19 16:15] alrz commented on #6129
didn't #5444 address this?

[2015-10-19 16:20] mmitche commented on #6099
@davkean Thanks for the heads up.  We'll find out what's going on with that machine.  The TEMP folder is filled with 50 gigs of RoslynTestFailureDump

[2015-10-19 16:37] Pilchie commented on #6142
I believe this is a dupe of something you already fixed for 1.1?

[2015-10-19 16:43] Pilchie commented on #6134
Note that as of 1.1, there is a fix to add new for you if you are missing it.

[2015-10-19 16:49] Pilchie commented on #6123
I'm not sure that I agree that we should simplify to extension invocation in general.  Usually when people write extension method calls as static invocations it's because they wanted them to be that way.

[2015-10-19 16:50] Pilchie commented on #6121
I believe the issue here is that if you change the color, it loses the dotted state of the marker.  Tagging @olegtk and @martw-t.

[2015-10-19 16:52] Pilchie commented on #6121
@dpoeschl Can you follow-up to confirm?

[2015-10-19 16:54] dpoeschl commented on #6121
Right, I totally forgot about that. Even applying the default dark theme color causes it to lose the dotted border. Sorry for the misunderstanding @diryboy.

[2015-10-19 17:06] alrz commented on #5154
@gafter

Why would it be "confusing" when it's a compiler-error anyways? Allowing it only in the end of the expression is the same.

And why I think this is needed now, consider this
[code]
This one turns to a huge and confusing `match` expression in current syntax, btw, conjunctive patterns were not possible to simulate here, so I just skipped `D` and `E` cases,
[code]
Besides, because case order

[2015-10-19 17:09] KevinH-MS commented on #5558
@dfkeenan I can't answer the question about the minimum target for all of Roslyn, but yes, updating the Nuspec for this would be a very *reasonable* thing to do.  I'm on it! :smile:

[2015-10-19 17:29] KevinH-MS commented on #2501
This looks like the same issue as internal bug 114090.

[2015-10-19 17:31] davkean commented on #6125
Can you attach/share/link to Binaries\Debug\xUnitResults\Roslyn.Compilers.CompilerServer.UnitTests.dll.xml?

[2015-10-19 17:42] cston commented on #550
Tests added in #6143.

[2015-10-19 17:42] #550 closed

[2015-10-19 17:48] DustinCampbell commented on #6142
This is a dupe of https://github.com/dotnet/roslyn/issues/4037, which is already fixed for 1.1 with https://github.com/dotnet/roslyn/pull/5029.

[2015-10-19 17:48] #6142 closed

[2015-10-19 17:57] mattscheffer commented on #6095
Ah you're right. It doesn't repro on Dev12 which is what I had on my home machine when i tried to repro this.

[2015-10-19 18:10] AdamSpeight2008 commented on #6125
@davkean Updated the gist
Failure seem to `Access Denied`
So gonna see if it the AV software that doing that, by excluding that folder from scans,

[2015-10-19 18:12] WillRay opened #6148 "Compilation error when generic type matches overload method that takes that type"
This was initally found [in this StackOverflow post](http://stackoverflow.com/questions/33177145/visual-studio-2015-does-not-compile-when-generic-type-matches-overloaded-method).

The code below will compile in VS2013. However, in VS2015 it will give the following error:

[code]

[2015-10-19 18:19] AdamSpeight2008 commented on #6125
@davkean Kaspersky thinks its a Trojan!
[code]

[2015-10-19 18:21] gafter commented on #6125
Since this is a problem with your AV software and not Roslyn, I'm closing this.

[2015-10-19 18:21] #6125 closed

[2015-10-19 18:27] gafter commented on #6077
Assigning to 1.2 as this is not urgent (the test is now skipped).

[2015-10-19 18:28] #6079 closed

[2015-10-19 18:29] gafter commented on #6079
Fixed in the stabilization branch by #6084.

[2015-10-19 18:30] gafter commented on #5940
The debug directory itself is specified in the PE/COFF, section 5.1.1. (pages 71-72):
https://msdn.microsoft.com/en-us/windows/hardware/gg463119.aspx

The IMAGE_DEBUG_TYPE_REPRO is a new value for Debug Type.

[2015-10-19 18:43] KevinH-MS commented on #6038
Fixed by f0fb89d66f31bddffa37ca1757a426b881b3980a

[2015-10-19 18:43] #6038 closed

[2015-10-19 18:56] mavasani opened #6149 "Document /reportanalyzer format"
The csc and vbc command lines now include an /reportanalyzer option, which enables console reporting of relative execution times for analyzers. The output format is some tabular data.

This issue tracks documenting this switch and its output format in markdown format.

[2015-10-19 18:57] mavasani commented on #3670
This issue now tracks documenting just the /errorlog format, which will happen post 1.1

https://github.com/dotnet/roslyn/issues/6149 tracks documenting /reportanalyzer, which will happen before 1.1

[2015-10-19 18:58] JoshVarty opened #6150 "Add a SymbolWalker class"
I like the approach taken by the [`SyntaxWalker`](http://source.roslyn.io/#Microsoft.CodeAnalysis/Syntax/SyntaxWalker.cs,201af9b1a46bc9d4). It separates the traversal scaffolding code from my implementation. It would be nice to have a similar API available at the symbol level. Currently to traverse the symbols in a given compilation we must inherit from `SymbolVisitor` and write all the scaffoldin

[2015-10-19 19:16] srivatsn commented on #6023
Per Manish, @heejaechang was in a recent discussion about this issue. Is this fixed now?

[2015-10-19 19:21] srivatsn commented on #6007
Can we have the suppression codefix request a reanalysis and so only for those cases, it's costly but the normal typing scenarios aren't affected.

[2015-10-19 19:26] srivatsn commented on #4265
A context menu item has been added for suppressing issues from error list.

[2015-10-19 19:26] #4265 closed

[2015-10-19 19:27] AdamSpeight2008 commented on #6125
I need to exclude the folders
[code]

[2015-10-19 19:30] heejaechang commented on #6007
@srivatsn what about people manually typing suppression. due to cache and manual typing, I think what Manish suggested is only simple solution.

otherwise, we can go a bit more complex one which involves caching last suppress attributes in the solution per project and whenever there is a top level change, we diff them to see whether we need to re-analyze projects and create a new version (suppress

[2015-10-19 19:36] jonschoning commented on #5154
@alrz for `case D or E when c2: e1 ` there would be ambiguity in the variable binding names contained in `D` that could conflict with the variable binding names in `E` that are bound in scope for `e1`

[2015-10-19 19:42] alrz commented on #5154
@jonschoning As I mentioned in #5402 "both patterns must bind the same set of variables with the same types", this applies to multiple cases too.

[2015-10-19 19:53] amcasey opened #6152 "Detect and report expiring credentials"
Community edition & VSO token

[2015-10-19 19:53] amcasey commented on #6152
Proposal: create a unit test that will start failing the day before.  Add comments to the unit test explaining how to fix the issue.

[2015-10-19 20:02] agocke commented on #6098
This appears to be a deadlock in the analyzer driver. Manish can you look at this? You'll need to ssh into the ub-bld-12 machine. I've left a `screen` session running. You should be able to resume using `screen -x` once you get on the machine.

[2015-10-19 20:02] orthoxerox commented on #5154
Why not extract `when`s into a separate nested expression? It could either be a `?:?:?:?:` monster or a prettier `cond`like expression like another `match`. This would simplify the analysis of the `match` expression a whole lot.

[2015-10-19 20:05] alrz commented on #5154
@orthoxerox Fortunately, I answered this in the [comment](https://github.com/dotnet/roslyn/issues/5154#issuecomment-148496881) above.

[2015-10-19 20:08] #5993 closed

[2015-10-19 20:09] AlekseyTs commented on #5993
@VSadov Please verify.

[2015-10-19 20:10] KevinH-MS commented on #5558
The next time we publish the nugets, the ".NET Framework 4.5" text will be removed from the package description.

[2015-10-19 20:11] davkean commented on #6098
Wonder if this is #4858.

[2015-10-19 20:12] davkean commented on #6098
@mavasani this is blocking the majority (all?) of our Linux runs at the moment, could you take a look today at this?

[2015-10-19 20:13] MgSam commented on #6136
@HaloFour

On method rewriting- this is already done extensively with async and iterator methods, so it doesn't seem like a big jump to apply a similar concept elsewhere.

I'm not sure I follow the second point correctly, but an implementation of extension properties could use the `ConditionalWeakTable` to store state for a type externally.

[2015-10-19 20:16] orthoxerox commented on #6129
@alrz not really.

A property behaves like a field of some type `T`, but is actually a pair of `Func<T>` and `Action<T>` accessor method. This proposal would allow us to access these accessors directly to pass them around. For example, take a look at this SO question: http://stackoverflow.com/questions/27034107/passing-and-storing-a-reference-to-an-object-field-to-another-object-without-ref . You

[2015-10-19 20:19] HaloFour commented on #6136
@MgSam

Rewriting the method body, sure, but the signature is always left intact.

My second point isn't about extension "fields" or state, which is a set of problems unto itself.  It's that while "extension properties" might fake syntax of feeling like a property that they can't be properties where reflection metadata is concerned making them useless in many of the scenarios used for properties l

[2015-10-19 20:22] davkean opened #6155 "[Flaky Build] Sample projects are picking up references from bin, sometimes causing a race"
See [log](http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/1167/consoleFull#429197940a82fefab-f698-416f-8fca-58544c94cd4e)

[code]

Notice that the test project is picking up Immutable from the bin directory, which it shouldn't be and it's  race because it gets deployed by some other project into the bin directory as per this case.

[2015-10-19 20:23] davkean commented on #6155
tag @jmarolf

[2015-10-19 20:23] alrz commented on #6129
@orthoxerox Exactly, in #5444 you can get that pair of delegates

[code]

[2015-10-19 20:30] HaloFour commented on #6129
@orthoxerox It doesn't result in a double-delegate invocation.  There is only one delegate invocation, but that calls a helper method on a display class created in order to hold onto the enclosed instance.  Creating the display class does involve an allocation and I don't know how aggressively the JIT could eliminate that.  It would be nice if Roslyn could detect the delegates of properties and op

[2015-10-19 20:32] amcasey commented on #5964
Step 1 is moving ```State = State.WaitingForInput;``` to ```PrepareForInput```.  That solves the state transition problem.  After that, there's a hang in the wait we wait for the list of submissions to complete.  I'm still working on that one.

[2015-10-19 20:33] alrz commented on #6129
IIRC `Delegate.CreateDelegate` uses `BindToMethodName` or `BindToMethodInfo` and that's what is the point in that proposal, avoid that additional lambda.

[2015-10-19 20:38] ashmind commented on #6129
Sorry for the confusing description. What I meant is eliminating an internal class/method created by the compiler -- of course in a delegate use case there would still be a delegate, but it would point directly at an accessor, as people noted above.

[2015-10-19 20:43] alrz commented on #5444
There is one trade-off here, LINQ expressions would generate the lambda expression anyway, can this optimized to use the method references ?

[2015-10-19 20:48] ashmind commented on #6129
@alrz Your example of  #5444 syntax is interesting, but does not seem to cover events?

Overall #5444 seems like it can be combined with this proposal into something like `User::FirstName.get` which would be simpler for overload resolution as you don't have to consider both `Action` and `Func`.

[2015-10-19 20:52] ashmind commented on #6129
@orthoxerox

Not completely, as ref is less flexible than a delegate -- you can't pass it into some nested lambdas, etc.
Though one alternative I considered was having `ref x.Y` convertible to some `Ref<T>` with set/get delegates and maybe even a `Name`. That would have been amazing, but I have a feeling C# team wouldn't go that far.

[2015-10-19 20:52] alrz commented on #6129
I think the reason behind not allowing `var` for delegates is what you said, overloads. Then it can infer the overload from the target delegate type
[code]
There is no need to specify `.get` part, because this can be inferred from usage. But about event, I can't imagine any reasonable use case for that.

[2015-10-19 20:59] davkean commented on #6051
This is 100% repro on my box. I got a debugger attached, and will update the repro.

[2015-10-19 21:11] davkean commented on #6051
Looking at the failure it looks slightly different what I reported last time - here, it looks like a real test failure, we're attempting to read a property that throws an ArgumentException, that ArgumentException is wrapped in a TargetInvocationException, this through the filter, which reports the exception and crashes the process.

[2015-10-19 21:20] TyOverby opened #6159 "All tools should be runnable on CoreCLR"
* [ ]  Visualizers
    * [ ] Metadata Visualizer
    * [ ] Pdb2Xml
* [ ] Compilers Bound Tree Generator
* [ ] CSharp Error Facts Generator
* [ ] CSharp Syntax Generator
* [ ] Fake Sign
* [ ] Open Source Debug
* [ ] Run Tests
* [ ] Visual Basic Error Facts Generator
* [ ] Visual Basic Syntax Generator

[2015-10-19 21:45] davkean opened #6162 "Multiple mscorlibs are being passed in the compiler in indeterministically"
[Log](http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/1163/console).

[code]

I'm guessing that NuGet build task is promoting .NET 2.0 mscorlib from the package into the resulting project, and for some reason RAR is not unifying them.

[2015-10-19 21:57] balajikris opened #6163 "AssemblyMetadata and ModuleMetadata's CreateFromStream api's overload needs better documentation?"
[code]

In the overload that takes a bool with a default value of `false`,
 1. it is unclear what the api does when the bool is `true`
 2. it is unclear when the stream should be disposed - can it be disposed asap versus should it be kept alive until the metadata is alive.

My inference was that if one wants to handle disposing the stream themselves (sooner or later), they are better served by usi

[2015-10-19 22:58] bbarry commented on #6136
What if lowering was done like this; given this extension class:

    internal extension class AExtensions : A
    {
      private int field = 0;
      public A(int someSpecialConstructor) : this()
      {
        ExistingMethod(someSpecialConstructor);
      }
      public void Method()
      {
        ++field;
        ExistingMethod(field);
      }
      public static void StaticMethod()
      {

[2015-10-19 23:07] v-codeel opened #6165 "BasicRazor and CSharpRazor fail in Standalone B2B Dogfood runs"
When trying to create an ASP.NET Web Application, the project creation fails, and an exception is thrown.

When performing the steps manually, I noticed that the option to add Application Insights was missing.

This issue seems to be only on the build-to-build runs.

Here's the stack trace:
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. --->

[2015-10-19 23:16] dfkeenan commented on #5558
@KevinH-MS Cool Beans!  Though I am not sure if I read the description until after I started looking at the problem.  I was too busy mashing the install button with excitement. :smile: So nerdy lol.

[2015-10-19 23:31] davkean opened #6166 "[Tracking] Test assemblies that have deadlocked recently"
This is tracking bug for assemblies that we need to look into making them more reliable as they have deadlocked at least once on Jenkins but have long since been torn down to get a repro:

Using this is a tracking bug and will try to repro this on another machine:

Count|__Assemblies:__
-----|-----
4|Roslyn.Compilers.VisualBasic.Semantic.UnitTests.dll ([log1](http://dotnet-ci.cloudapp.net/job/rosl

[2015-10-19 23:35] CyrusNajmabadi commented on #5760
Fixed with https://github.com/dotnet/roslyn/pull/5822

[2015-10-19 23:35] #5760 closed

[2015-10-19 23:36] CyrusNajmabadi commented on #6150
THe problem here is that Syntax is a tree, while Symbols are a graph.  How does the SymbolWalker terminate?

[2015-10-19 23:36] mavasani commented on #6098
This is not related to #4848. I debugged this, discussed a fix with @AlekseyTs and am working on sending out a PR.

[2015-10-19 23:37] diryboy commented on #6121
So you are changing the border to dotted? That's ok. Thanks.

[2015-10-19 23:39] amcasey commented on #6099
We believe this was the source of the temp files: https://github.com/NuGet/Home/issues/1608

[2015-10-19 23:40] amcasey commented on #6099
We may still wish to mitigate by cleaning our temp folder, possibly by putting it next to our binaries, as @Pilchie suggested.

[2015-10-19 23:40] amcasey commented on #6098
A workaround is currently in place, so new failures are not expected.

[2015-10-19 23:42] amcasey commented on #5422
@dpoeschl Is there more to do here?

[2015-10-19 23:44] heejaechang commented on #6023
@srivatsn let me take a look, not sure what the issue is.

[2015-10-19 23:47] #5920 closed

[2015-10-19 23:49] davkean opened #6167 "[Tracking] Tests that have failed a few times"
Tracking bug against me to track tests that have failed indeterministically that I need to look into

Failure Count | Test|Log
------------- | -------------|-------------
1|Microsoft.CodeAnalysis.CSharp.UnitTests.IncrementalParsingTests.IncrementalParseTopDownCommentOutLines |[log](http://dotnet-ci.cloudapp.net/job/roslyn_prtest_lin_dbg_unit32/212/testReport/junit/Microsoft.CodeAnalysis.CSharp.Uni

[2015-10-19 23:56] davkean opened #6170 "Upgrade to NuGet to 3.2.1 reduce the number of infrastructure issues"
There are few bugs that our infrastructure is running into due to the build of NuGet we're using, we should upgrade to at least 3.2.1.

["Out of memory" and "Task was cancelled" while attempting to restore Roslyn's solution](https://github.com/NuGet/Home/issues/1586)
[NuGet package fails to load often with the Roslyn solution](https://github.com/NuGet/Home/issues/1597)
[NuGet is creating lots of t

[2015-10-19 23:58] paul1956 commented on #6099
This is not the only place a Roslyn build fails due to having 65535 temp files. If I have close to that number and try to build Roslyn I get random failures. When I first reported this I was told there was a fix coming to allow a larger number of temp files is that not true? It would certainly cut down on support calls and always being told to clean out my temp folder.

[2015-10-20 00:00] davkean commented on #6099
@paul1956, which random in particular are you running into? Is there bugs you've filed on it? Can you point me to them?

[2015-10-20 00:04] #6073 closed

[2015-10-20 00:16] mavasani commented on #6098
Sent a PR against the stabilization branch: https://github.com/dotnet/roslyn/pull/6171

[2015-10-20 00:21] bbarry commented on #6136
I think explicit cast operators to interface adapters could be defined as well:

    public abstract class A
    {
      public abstract void ExistingMethod(int i);
    }
    public interface IB
    {
      void ExistingMethod(int i);
      void NewMethod();
    }

    internal extension class AExtensions : A, IB
    {
        void NewMethod() { }
    }

now any class that derives from `A` can be

[2015-10-20 00:22] dfkeenan commented on #6136
I have been thinking along the similar lines.  But was thinking more like:

[code]

Where the "inheritance" bit is what defines what the extension is targeting.  That way you can define it where you like (namespace etc.) and only include it where necessary via a `using` as you currently do for extension methods.

Not sure I am keen on being able to add state to existing types this way though.

[2015-10-20 00:53] davkean commented on #6098
The workaround cleans up the machine, but I don't think prevents the deadlock in the first place, right?

@jasonmalinowski

[2015-10-20 01:15] paul1956 commented on #6099
I reported them on the Microsoft Support Forum https://social.microsoft.com/Forums/en-US/e2946261-000c-4969-acbc-f00df41f7289/vs-2015-was-working-then-stopped?forum=vssetup and someone there recommended I cleanup temp files (I did have 65535 of them). It was also filed on Microsoft Connect https://connect.microsoft.com/VisualStudio/feedback/details/1171345/exception-when-opening-editor

The sympto

[2015-10-20 01:20] davkean commented on #6099
Ah, this could be caused by absolutely anything that calls Path.GetTempFileName. ie While we might have fixed the leak that leaked the temp files in this case, or crashed because GetTempFileName threw, there might be other leaks, or other issues due to this. This particular leak is caused by a new change in NuGet 3.0, but is fixed in newer builds.

The fix is easy; clean out your %TEMP% directory.

[2015-10-20 01:25] davkean opened #6173 "Diff'ing a VB file crashes Visual Studio"
__Repro:__

1. Sync https://github.com/davkean/roslyn/tree/dev/davkean/donotdelete_Bug6173 locally
2. In Team Explorer, right-click on branch, and choose __View History__
3. Double-click the most recent commit, __e9730e79__
4. Right-click on __MiscDiagnosticUpdateSourceTests.vb__ and choose __Compare with Previous__

__Expected:__ Diff to show
__Actual:__ Diff shows, but ~4 or 5 seconds later VS c

[2015-10-20 01:38] paul1956 commented on #6099
@davkean  Visual Studio 2013 Update 5 does not cause a build to fail in this exact case with 65535 temp files, with VS2013 Update 5 and an identical solution file, the build succeeds. I don't know how they fixed it. Generally with multi-terabyte driver failing or crashing when there are 65535 temp files seems unacceptable, at least detect it and tell me to clean my temp files. The real solution sh

[2015-10-20 01:54] davkean commented on #6099
@paul1956 Unless you believe it to be Roslyn issue (in which case, file on Github), can you file a bug on [Microsoft Connect](http://connect.microsoft.com/VisualStudio) or use Send-A-Frown with the build issue you encountering?

This issue is tracking the infrastructure for building Roslyn itself - nothing we do to fix this issue, will resolve your problem.

[2015-10-20 02:09] tmat commented on #1171
See https://github.com/aspnet/dnx/blob/pawelka/snk/src/Microsoft.Dnx.Compilation.CSharp.Common/SnkUtils.cs for SNK file reader.

[2015-10-20 02:17] tmat commented on #1171
DNX needs this feature.
//cc @davidfowl

[2015-10-20 02:47] paul1956 commented on #6099
@davkean the Out of Temp Filenames is reported on Microsoft Connect,(#1171345) and Microsoft User/Developer forums and marked as closed. Mark Wilson-Thomas Program Manager Visual Studio Editor Team, believed it is fixed in VS2013 Update 5 and will be fixed in VS2015 Update 1. I did  Send a Frown when it happened and so have others. If your builds are on Update 1 and are seeing the issue someone sh

[2015-10-20 02:53] davidfowl commented on #1171
https://github.com/aspnet/dnx/blob/pawelka/snk/src/Microsoft.Dnx.Compilation.CSharp.Common/SnkUtils.cs

/cc @moozzyk

[2015-10-20 03:22] #5964 closed

[2015-10-20 04:24] srivatsn commented on #6001
This has been fixed.

[2015-10-20 04:24] #6001 closed

[2015-10-20 05:03] #6111 closed

[2015-10-20 05:17] JoshVarty commented on #6150
My thought was to visit them from the global namespace descending to child namespaces and types. Then from those types to methods and properties. Then from those methods/properties to their parameters, type arguments and locals. (Perhaps I'm missing something, but can we not think of this approach as traversing a tree?)

However, in looking over `IMethodSymbol` and `IPropertySymbol` I don't see an

[2015-10-20 05:17] #6150 closed

[2015-10-20 05:18] moozzyk commented on #1171
Fixing link https://github.com/aspnet/dnx/blob/72b0f325959a06d7b9d92aa438df0dc889a73ec3/src/Microsoft.Dnx.Compilation.CSharp.Common/SnkUtils.cs

[2015-10-20 05:51] CyrusNajmabadi commented on #6150
Ok.  So now you get to an IParameterSymbol.  Would you then 'walk' into it's type?  If so, then you face recursion problems.  If not, then what are you walking, just trees?

If that's the case, you could simply use a SyntaxWalker and call GetDeclaredSymbol on all the nodes it hits.  You'll then have a SymbolWalker.

[2015-10-20 05:56] JoshVarty commented on #6150
No I wasn't thinking about walking the type of the `IParameterSymbol`, we'd stop when we reached it. The idea is that the underlying type there would have been visited elsewhere. (It's an `INamedTypeSymbol` so it would have been visited as the child of a namespace at some point).

I think you're thinking about visiting symbols on a document level. My thought process was to create something that wo

[2015-10-20 06:35] ManishJayaswal commented on #6165
Dupe of internal bug 155838

[2015-10-20 06:35] #6165 closed

[2015-10-20 06:43] aml11 commented on #5993
Wow, quick response, thanks.
Might I ask when Milestone 1.2 is expected to get to beta/release?

[2015-10-20 07:00] gafter commented on #3064
One issue is the compiler's use of constrained/callvirt when calling a virtual method of a struct, which we do to preserve (not box) the identity of the receiver. This instruction was added with generics. This is observable if, for example, you override the ToString method on a struct and it has a side-effect (for example, cacheing the string form into a field of the struct for performance reasons

[2015-10-20 07:04] gafter commented on #3064
/cc @dotnet/roslyn-compiler @AnthonyDGreen @jaredpar @VSadov Resuming discussion from an email thread onto this issue.

[2015-10-20 10:22] miloush commented on #3064
From the email thread it looks like `constrained` should not be a problem for .NET Micro Framework. It also supports `unbox.any` for example, which was introduced with generics too. The trick here is that in the case of MF, it is not strictly CLR 1.x, but rather CLR 2.0 without generics and unsafe.

I am not sure if Roslyn needs to support pre-CLR 2.0 or similarly limited customers but I would lik

[2015-10-20 11:55] Lukazoid commented on #5835
:+1: for this, also as per the comment by @mburbea is there any interest in caching for delegates in generic methods? Is it worth creating a separate issue for it.

[2015-10-20 12:50] stephentoub commented on #5835
Roslyn already does this.  For example, with this code:
[code]
the code generated for ```GenericMethod<T>``` looks like this:
[code]

[2015-10-20 12:59] MgSam commented on #6136
@HaloFour These are good points, but I think both seem minor in the scheme of things. I wouldn't expect an extension property (or anything else) to be any more available by type reflection than an extension method is today, and the difference could theoretically be highlighted in the IDE by colorization (although at present the colorization provided to C# by VS is still stuck in the 1990s). It see

[2015-10-20 13:58] bkoelman commented on #6005
It's not confusing to me that there are two ways to inspect `Kind` (with and without a null check). Instead, they help me to better understand the code regarding where `null`s are (un)expected to appear.

[2015-10-20 14:07] Lukazoid commented on #5835
Oh sweet, I did verify the IL but forgot I wasn't using Roslyn yet at work!

[2015-10-20 14:17] CyrusNajmabadi commented on #6150
I don't think it's wrong.  I think it's just an interesting view over something intrinsically graph-like.

Why not, once you hit a member, just go back to the syntax and go dive in and get the symbols?

[2015-10-20 14:56] sgranade commented on #4351
I just stumbled on this issue in looking to move to VS2015, as our house style involves not indenting namespaces. In @basoundr's suggestion above, we'd set `IndentNamespaceContent` to false.

[2015-10-20 15:09] davkean commented on #6098
We're also continually hitting deadlocks on Window machines also, for example: http://dotnet-ci.cloudapp.net/view/roslyn/job/roslyn_future_win_rel_unit32/13/consoleFull#-16758747638101fac1-935e-4556-95f9-7a0e25ca0b52.

[2015-10-20 16:12] daveaglick commented on #85
Perhaps a simple key-value syntax with Markdown support (with extensions for tables, which aren't really part of Markdown but lots of implementations have them).

## Syntax

I'm thinking something along the lines of:

[code]

## Mapping to Current XML Comment Elements

The general idea here is that each comment item would be indicated simply by `key: value`, where `key` is one of `Example`, `Remar

[2015-10-20 16:13] #3707 closed

[2015-10-20 16:49] amcasey opened #6178 "[Flaky Test] Roslyn.InteractiveWindow.UnitTests failing with race in Stabilization"
http://dotnet-ci.cloudapp.net/job/roslyn_stabil_win_dbg_unit32/33/

[code]

[2015-10-20 16:49] amcasey commented on #6178
FYI @dotnet/interactive

[2015-10-20 16:57] Pilchie commented on #4447
The original issue around spaces in the path affecting FakeSign has been fixed by https://github.com/dotnet/roslyn/commit/1423adecbf377334ad6da40ddeb54ec62c267586.

[2015-10-20 17:00] dpoeschl commented on #6121
In the light/blue themes, the border is already dotted. The problem is with the VS platform theming capabilities, which don't allow us to theme the *color* for the dark theme without inadvertently dropping the dotted style. Would adding the dotted style be enough of a distinction to avoid the snippets confusion? Here's what it looks like in the blue theme:

![image](https://cloud.githubusercontent

[2015-10-20 17:09] AlekseyTs commented on #5993
@aml11 We can’t comment on release dates till they are finalized and publicly announced.

[2015-10-20 17:26] mavasani commented on #6098
The fix has been checked into stabilization and master - can someone from mlinfraswat take care of merging this into future and also driving the toolset update?

[2015-10-20 17:27] amcasey opened #6179 "Microsoft.CodeAnalysis.Scripting.UnitTests.dll failing intermittently"
http://dotnet-ci.cloudapp.net/view/roslyn/job/roslyn_stabil_win_dbg_unit32/31/console

[code]

[2015-10-20 17:30] amcasey commented on #6179
FYI @tmat

[2015-10-20 17:35] tannergooding commented on #6098
@mavasani. The changes are merged. If that is the last thing required for this issue, can you please close it?

[2015-10-20 17:47] HaloFour commented on #85
XML documentation comments and JavaDoc/Rust comments are very different animals.  The first only describes the metadata and leaves the presentation to the processor.  The latter embeds the presentation directly in the comment.  I think that it's a bad idea to explicitly tie the comments and the presentation format together.  If my target isn't HTML or Markdown (and that is frequently the case) the

[2015-10-20 17:49] davkean commented on #6051
Turns out I have HKEY_CURRENT_USER\SOFTWARE\Microsoft\ExpressionEvaluator\EnableFailFast set to 1, this causes you to tear down the process. I had this turned to diagnose another issue with @amcasey.

Talking to @KevinH-MS, it seems like this test case isn't actually testing or going down the path we would expect it to - the mock debugger we have is leaking the exception from the property get, whi

[2015-10-20 17:49] mavasani commented on #6098
@tannergooding We eventually need a toolset update to ensure we don't see this on local dev boxes - you can track that work through this issue or some other way. Feel free to close this if it is the latter.

[2015-10-20 17:51] KevinH-MS commented on #5558
Well, that's often a sound problem solving strategy.  Try it again...see if it fails in the same way.  :wink:

More seriously though, I'll leave this issue open and try to figure out a way to get a better error message from VS/msbuild when we try to add this reference.

[2015-10-20 17:56] davkean commented on #6178
This is caused by https://github.com/dotnet/corefx/issues/3793 (I added a cause for it last week and its listed on the front page). Given we're hitting this a lot and we're not going to see a fix from .NET for a while, we should probably consider submitting a PR to xunit to make them avoid this path.

[2015-10-20 17:59] davkean opened #6180 "Jenkins failures aren't getting sent to submitters"
Jenkins failures are getting sent to the Swat team, but not to the original submitter:

![image](https://cloud.githubusercontent.com/assets/1103906/10616367/9f09f4e0-7719-11e5-9e42-24331ab4e1be.png)

[2015-10-20 18:01] daveaglick commented on #85
@HaloFour Fair enough about the separation of content and presentation, it's a good point.

I think what bothers me most about the XML comment format is that it's not really written for the person reading the code, it's written for some future processing engine to work with. I know XML is supposed to be "human readable", but every time I come across a large block of XML comments, it takes me a bit

[2015-10-20 18:07] MgSam commented on #85
Agree with @daveaglick; outside of the BCL, most XML docs are read exclusively in the code itself. The current syntax is horrific for reading (and writing). The documentation syntax should be make reading and writing easier and not harder.

Also, the Javadoc-like syntax I propose in the parent post is not tied to HTML or any other output.

[2015-10-20 18:09] davkean commented on #6051
Going to remove Contributor pain, as the chance that someone will run into this is pretty low.

[2015-10-20 18:09] sab39 commented on #5154
Some of these abbreviated syntaxes are starting to look a lot like the ternary, so why not go all the way and use `?` and `:` instead of `:` and (some combination of `,` or `:` or `case`)?

[code]
I'm not up to date on the proposals but I've seen some things that suggest that there's already a plan to allow:
[code]
That syntax looks an awful lot like something that ought to be permitted in a terna

[2015-10-20 18:10] HaloFour commented on #85
@daveaglick I don't feel much better looking at JavaDocs.  Documentation comments, in any format, eat a lot of real estate and even in simpler form aren't really meant to be human readable.  This is where I think there could be significant tooling improvements.  Instead of documentation comments being a blob of text the IDE could parse them and replace them with just a formatted summary and provid

[2015-10-20 18:31] daveaglick commented on #85
@HaloFour So much this. Regardless of what (if any) syntax changes are made, better tooling would make them so much easier to work with.

[2015-10-20 18:43] MgSam commented on #85
@HaloFour It seems like a relatively minor deviation to me. There are many variations of JavaDocs- JSDoc probably being the most popular. Like with any technology, you learn the differences when you start using it. It's far more difficult from someone coming from one of these other languages to adapt to C#'s XML docs than to learn about a few slight differences.

[2015-10-20 19:04] ManishJayaswal commented on #6098
We do a toolset update every sprint so assigning it to Andy to close this out when next toolset update is done.

[2015-10-20 19:26] gafter opened #6182 "Proposal: Sequence Expressions"
We propose a form of expression that allows you to declare temporary variables before the final result of the expression. We replace the existing parenthesized expression with the following

The scope of any variable declared in a _parenthesized-expression_ is the body of that _parenthesized-expression_.

The type of a _parenthesized-expression_ is the type of its final expression.

At run-time th

[2015-10-20 19:30] alrz commented on #6182
:+1:

[2015-10-20 19:38] gafter opened #6183 "Proposal: out var declaration"
This feature would allow a variable be declared at the same time that is it passed as an out parameter:

A variable declared this way is read-only and scoped to the enclosing statement. More specifically, the scope will be the same as for a _pattern-variable_ introduced via pattern-matching.

You should be able to use the contextual keyword `var` for the variable's type, in which case the specific

[2015-10-20 19:39] KevinH-MS commented on #6051
Based on offline discussion, we feel that we should ***always*** fail fast in unit tests, and fix the mock to mimic the real product behavior in this case.  We don't want to be accidentally relying on the error handler for correct behavior.

[2015-10-20 19:43] agocke commented on #6098
Assigning to Tanner to assign to the infra person who does the toolset update :)

[2015-10-20 19:50] gafter commented on #5154
@sab39 That question was answered at https://github.com/dotnet/roslyn/issues/5154#issuecomment-147231683

[2015-10-20 19:57] leppie commented on #953
Reflection API support would also need to be added for this to work, currently `GetCustomAttributes` will fail trying to get a generic custom attribute.

[2015-10-20 20:07] alrz commented on #5154
@sab39 So
[code]
would be
[code]
Although, I didn't take pattern order into the account.

[2015-10-20 20:18] sab39 commented on #5154
@gafter, my proposal is slightly different from that, though: I'm following the existing proposal for a _new_ syntax construct for match, just as this proposal is, and reusing punctuation from the ternary to make it look more familiar and readable for developers already familiar with the ternary. I didn't mention it in my original post but I was assuming the new syntax would allow guards as well.

[2015-10-20 20:26] ZhichengZhu opened #6184 "Microsoft.DiaSymReader.PortablePdb.SymBinder.GetReaderFile"
Hi Roslyn team(@tmat),
For this Microsoft.DiaSymReader.PortablePdb.SymBinder.GetReaderFile api, based on the source code seems the searchPath is useless.  The only way to search the file is just based on the file name. I guess maybe we should look at how CCI implement this feature. Using searchPath to get the reader is one of the key scenario which shouldn't be missed.

Thanks,
Zhicheng Zhu

[2015-10-20 20:27] HaloFour commented on #5154
@sab39 I don't see how that is an improvement over the proposed syntax.  It's more verbose and due to being ternary ends up requiring a final clause regardless of completeness.  As @gafter stated, `match` isn't supposed to feel like a chain of ternary operations.

[2015-10-20 20:27] bbarry commented on #6183
To clarify:

    if (int.TryParse(input, out var value))
    {
        // value here
    }
    else
    {
        // value here (ignoring the fact it doesn't make sense in this particular case)
    }
    //value not in scope

but

    bool test = int.TryParse(input, out var value);
    // value not in scope?

[2015-10-20 20:32] jonschoning commented on #5154
I'm not sure about this "conjunctive" or "disjunctive" syntax in #5402 .

The purpose of pattern matching should be structural decomposition of the items being matched, and though It was said that "both patterns must bind the same set of variables with the same types", i fail to see how this makes sense except for a very limited amount of cases.  What would the compile errors look like in when the

[2015-10-20 20:57] gafter opened #6186 "Bad code generated for nullable parameter default value of a new instance"
The following code is rejected by VS2013 and accepted by VS2015. Once accepted, it is obvious it should print `True`. But it prints `False`.

[code]

/cc @VladimirReshetnikov

[2015-10-20 21:03] agocke opened #6187 "csc/vbc crashes on coreclr -23419 on Linux"
ExecutionEngineException while trying to load satellite assemblies. Note sure what the root cause is, yet. -23413 works.

[2015-10-20 21:05] agocke commented on #6187
/cc @janvorli

[2015-10-20 21:05] sab39 commented on #5154
@HaloFour I think my more fleshed out proposal is exactly equivalent to the current proposal except that
* It omits the braces (or parens)
* It uses the word `match` instead of `case`
* It combines the existing proposal's outer `match` keyword with the first `case`
* It uses `?` instead of `:` or `=>`
* It uses `:` instead of `,` or `;`

That's one fewer keyword and omitted braces - so other than

[2015-10-20 21:14] janvorli commented on #6187
@agocke There was a bad merge in the coreclr repo for several days, which by mistake reverted few commits, including my fix to an unhandled exception processing when the exception was caused e.g. by an assembly referencing an assembly that didn't exist.
So your issue can be caused by that. It was fixed again last night.

[2015-10-20 21:19] agocke commented on #6187
@janvorli Great, thanks! Do we expect a new MyGet upload soon that contains the fix?

[2015-10-20 21:27] janvorli commented on #6187
I don't actually know how often is the coreclr packaged.
@mmitche do you know that?

[2015-10-20 21:41] orthoxerox commented on #6183
Do we really need this with struct tuples and nullables? Why not enhance the stdlib with `int? Int.TryParse(string input)` and `(int quotient, int remainder) Math.DivRem(int dividend, int divisor)` instead?

[2015-10-20 21:50] orthoxerox commented on #6182
Why not

?

[2015-10-20 21:52] FunctionalFirst commented on #6183
What about using tuples to capture out parameters as in F#?
[code]

[2015-10-20 21:54] alrz commented on #6182
@orthoxerox because it will be ambiguous with expression-bodied lambdas (discussed at length in #5402).

[2015-10-20 21:58] vladd commented on #6183
@gafter Do I understand the use case right:

[code]
makes `r` non-readonly and `n` readonly? If so, both of them are "just function output arguments", why the difference?

[2015-10-20 22:01] alrz commented on #6183
@FunctionalFirst That would totally change method invocation semantics for any value. However, with #6067 you can deconstruct the `out` variable right away.

[2015-10-20 22:09] FunctionalFirst commented on #6183
@alrz  Only for methods with out parameters, and it's a good change as it improves the locality of return values. You can also deconstruct the tuple right away with pattern matching.

[2015-10-20 22:11] davkean opened #6190 "[Flaky Tests] Tests that do pe-verification are indeterministically failing"
The VB and C# emit tests were failing inconsistently with ([log](http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/357/)):

[code]

C# also failed with something similar a few days. Have zero idea what's causing this.

[2015-10-20 22:12] davkean commented on #6190
I'm looking into this.

[2015-10-20 22:16] davkean commented on #6190
Here were the C# failures: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/252/

[2015-10-20 22:16] AlekseyTs commented on #5993
@aml11 In the meantime, you can use explicit interface implementation as a workaround.

[2015-10-20 22:17] mavasani commented on #6007
@heejaechang We decided in triage meeting that lets do the minimal change for Update1 for the suppression via code fix scenario. Post update1 we can tackle this more generically to handle manual edits - that needs lot more perf validations to happen.

[2015-10-20 22:18] gafter commented on #6183
@bbarry Not quite. The variable will be scoped to the "then" clause only (not the "else" clause) because that's the way pattern variables work. But correct: "out variables" in a local variable initializer do not escape to the enclosing scope. If you want it in the enclosing scope you know where to declare it.

@orthoxerox We do no intend to revisit every existing API that uses out parameters, chan

[2015-10-20 22:22] Giftednewt commented on #3300
If I create a PR for this is someone able to verify that this change does indeed resolve the issue?

[2015-10-20 22:23] gafter commented on #6182
@orthoxerox Because that would break compatibility by making `(1+1)` a syntax error for two reasons - first, because `1+1` is not one of the expression forms allowed as an *expression-statement*, and second, because it lacks the semicolon that is part of an *expression-statement*.

[2015-10-20 22:25] amcasey opened #6191 "ibcmerge fails intermittently"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_future_win_vsi_p0/21/

[code]

[2015-10-20 22:27] gafter commented on #6191
Wrong repro?

[2015-10-20 22:27] #6191 closed

[2015-10-20 22:28] miloush commented on #3064
Just found out that unlike the latest native compiler, Roslyn does not seem to require `Nullable<T>` for shift operators in VB.

[2015-10-20 22:31] davkean commented on #6190
Hmm, those C# failures can't be trusted, they ran on a box that had run out of disk space.

[2015-10-20 22:32] gafter commented on #6141
@SLaks The rule in this case does not result in ambiguity in name lookup, it results in a method group. The ambiguity you see is an overload resolution ambiguity, not a name lookup ambiguity.

[2015-10-20 22:34] jmarolf commented on #3300
@Giftednewt I'd be happy to take a look

[2015-10-20 22:37] gafter commented on #6055
@ygc369 The possible benefits to a (very) few users of this feature would have to be weighed against the cost to all users of the platform in the runtime overhead of a more complex CLR and complexity in garbage collection.

[2015-10-20 22:40] gafter commented on #6122
String interpolation is defined in terms of an invocation of `string.Format`. It therefore isn't, formally, a constant.

[2015-10-20 22:40] #6122 closed

[2015-10-20 22:42] gafter commented on #6135
What is the motivation for the proposed change? Why is it a good idea at all?

[2015-10-20 22:47] gafter commented on #6136
We've been thinking about this and calling it "extension everything", so I updated the title.

[2015-10-20 22:48] gafter commented on #3673
I think we'd be more likely to take #5445 instead.

[2015-10-20 22:49] amcasey opened #6192 "Mono intermittently segfaults"
http://dotnet-ci.cloudapp.net/job/roslyn_future_lin_dbg_unit32/20/

[code]

[2015-10-20 22:50] amcasey commented on #6192
This bug is mostly here to advertise the known issue - it's not particularly actionable.

[2015-10-20 23:05] gafter commented on #5154
It appears the proposed syntax suffers the *dangling else* ambiguity, but proposes it be resolved based on semantics (whether the patterns are complete) rather than syntax. Ugh.

[2015-10-20 23:09] HaloFour commented on #6183
@gafter Do the same scoping rules apply to conditional operations?  Probably wouldn't matter much unless another out declaration was used in the false expression.

[2015-10-20 23:17] gafter commented on #4692
The Roslyn compiler now handles this without complaint.

[2015-10-20 23:17] #4692 closed

[2015-10-20 23:22] VSadov commented on #6186
I believe this should be a compile error

[2015-10-20 23:24] gafter commented on #4692
I've moved this issue to the ECMA committee.

[2015-10-20 23:27] Lukazoid opened #6195 "IDE rules don't fail builds"
When using code analysis with the IDE rules under `Microsoft.CodeAnalysis.CSharp.Features` enabled and their action set to `Error`, if one of the rules is violated, I correctly get the error message, however if I attempt to build the project, the build succeeds.

Is this the intended behavior of these IDE rules? It seems very unintuitive to see `2 Errors` and `Build Succeeded` at the same time.

*

[2015-10-20 23:30] sab39 commented on #5154
@gafter I hadn't noticed it, but yes, you're right (of course) that it has that ambiguity. I certainly didn't intend to resolve it by semantics! It's a good point against the proposal. (I'd resolve it the same way that `x && y || z` is resolved, by picking a precedence and using parentheses to override it, but I'm happy to drop the proposal anyway on the basis that it doesn't seem to be appealing

[2015-10-20 23:49] gafter commented on #4555
Moved to private repo https://github.com/ECMA-TC49-TG2/spec/issues/434 for the ECMA specification.

[2015-10-20 23:49] #4555 closed

[2015-10-20 23:50] #4294 closed

[2015-10-20 23:53] gafter commented on #4005
Why would it be nice?

[2015-10-20 23:57] diryboy commented on #6121
Not immediately but acceptable as there is some different, need time to correct, because color is changable between VS instances, some remote desktop instance are shared and won't allow me to change. I originally wanted it to be underline.

I'm using blue theme with editor background color changed to dark, not dark theme that makes everything in VS dark.

[2015-10-21 00:04] gafter commented on #6183
@HaloFour If you declare a pattern variable or an out variable in the condition of a ternary expression, it will be in scope throughout the enclosing statement (unless it is part of the condition of an if statement, in which case it won't be available in the else clause). However, in the case of a pattern variable, it is likely not to be *definitely assigned* within the third clause of the ternary

[2015-10-21 00:11] MatthieuMEZIL opened #6197 "cast issue with object"
C# allows to use (uint)0 and (uint)(object)0U
But it does not allow (uint)(object)0

Why this restriction and is it something that could be handle in the future?

[2015-10-21 00:11] gafter commented on #6141
I'm moving this issue to the ECMA site. https://github.com/ECMA-TC49-TG2/spec/issues/435

[2015-10-21 00:11] #6141 closed

[2015-10-21 00:12] dfkeenan commented on #6136
@MgSam

WPF is an Entity Component System which has been designed with a special use case in mind (Styling, property inheritance etc.).  Each DependencyObject is a collection of it's own state.  Having object state stored in a static collection in another class seems like GC/performance issue just waiting to happen.

JavaScript objects are also a collection of there own state.  JavaScript allow bo

[2015-10-21 00:17] tumtumtum opened #6198 "Proposal: Add support for implicit auto-casting of incoming method parameters"
The proposed language feature makes it easier to implement overridden such as Object.Equals(object) by allowing parameters to implicitly be casted to a specific type using the as operator.

Example without:

[code]

Example with new feature:

[code]

[2015-10-21 00:18] Inverness commented on #5561
I think code generation support for the compiler would be fantastic. I'd love to be able to do something similar to what PostSharp provides.

PostSharp's more limited free version, and the requirement to submit an application to get an open source project license makes me unwilling to look at it for anything but larger projects at work that we would invest money in.

I'd like to be able to have gr

[2015-10-21 00:32] gafter commented on #6186
@VSadov I think I agree, but we should find a spec quote to support that.

[2015-10-21 00:32] weitzhandler commented on #261
Interesting idea.

[2015-10-21 00:35] paulomorgado commented on #6182
Why is it named sequence?

[2015-10-21 00:36] gafter commented on #6182
@paulomorgado Because it evaluates the expressions sequentially for side effects. Got a better name?

[2015-10-21 00:46] davkean opened #6199 "EditorFeatures tests are getting downgraded versions of Microsoft.CodeAnalysis.Test.Resources.Proprietary"
Editor Features tests are getting downgraded versions of test package:
[code]

No idea what affect this has, but it's dirtying the logs and making builds harder to diagnose.

[2015-10-21 00:47] davkean commented on #6199
Related to this, looks like it's also causing this conflict when building:

[code]

[2015-10-21 01:08] paulomorgado commented on #6183
Aren't the "**then**" and the **else** two branches of the same **if** statement?

So, this:

    var result = ThisOrThat("123", out var value)
        ? value
        : value;

will not be the same as:

    int result;
    if (ThisOrThat("123", out var value))
    {
        result = value;
    }
    else
    {
        result = value;
    }

I'm not worried about all the refactorings out there bec

[2015-10-21 01:26] gafter commented on #6183
@paulomorgado Yes and yes.

The reason for this rule is that we expect people to often write code like

[code]

and we don't want to force them to have to think up new names for every `node`. This trick doesn't work in the ternary expression because the scope is expanded to the enclosing statement.

[2015-10-21 01:29] paulomorgado commented on #6182
@gafter, this used to be referred as declaration expressions, right.

Aren't you afraid it might be confused with "as opposed to asynchronous expressions"?

And, no! I don't have a better name. Yet!

[2015-10-21 01:33] svick commented on #6197
Eric Lippert has [an article explaining this](http://ericlippert.com/2009/03/03/representation-and-identity/).

The short version is that it would make each unboxing operation much more complicated. You can use either `Convert.ToUInt32((object)0)` or `(uint)(dynamic)0` instead.

[2015-10-21 01:36] HaloFour commented on #6198
Your use case sounds better accomplished through pattern matching:

[code]

[2015-10-21 01:39] alrz commented on #6182
what about compound expressions?

[2015-10-21 01:45] svick commented on #6198
It feels to me that this would promote a bad practice: a method that claims to support a wider set of types than it actually does.

`object.Equals(object)` is pre-generic, I don't think modern code should be designed like this (except of course you have to override `Equals(object)` even in modern code).

Do you have other examples where this would be useful?

[2015-10-21 01:45] paulomorgado commented on #6183
@gafter, isn't that use case covered by pattern matching constructs like `match` and `switch`?

[2015-10-21 01:49] ufcpp commented on #6182
What is its result type? That of the last expression? I receive the impression from the name "sequence expression" that its result type is an array of each expression.

[2015-10-21 02:05] alrz commented on #5154
@gafter Is this syntax ambiguous?
[code]
Looks more like a *query-expression* but for pattern matching (or even without initial `match`?)

[2015-10-21 02:32] sab39 commented on #5154
Yup, same way as mine.
[code]
Is Thing3 matched against a or b?

[2015-10-21 02:34] alrz commented on #5154
@sab39 In these cases you have to parenthesised it, just line LINQ.

[2015-10-21 02:59] gafter commented on #6183
@paulomorgado No, not always, including in this example where the second if condition starts with a boolean expression.

[2015-10-21 03:01] gafter commented on #6182
@paulomorgado No, this is not the same as declaration expressions. That was where you could do declare a variable at its first use, something like `M(int x = 12, x*x)`.

The type and value is the type and value of the last expression.

[2015-10-21 03:08] #6197 closed

[2015-10-21 03:09] gafter commented on #6197
We do not have any plans to change the semantics of cast to do the conversion.

[2015-10-21 03:12] SLaks commented on #6141
Why is that private?

So an ambiguity in name lookup would mean that ambigous between (eg) a method and a type?
I see.

[2015-10-21 03:12] gafter commented on #6198
The effect that you're trying to achieve belongs inside the body of the method as it is not part of the method's contract. So we are unlikely to do this.

[2015-10-21 03:16] gafter commented on #6136
@dfkeenan Additional state (e.g. a field) is something we are not likely to support in a feature like this.

[2015-10-21 03:20] gafter commented on #6135
@weitzhandler

It looks ambiguous.

[code]

[2015-10-21 03:26] gafter commented on #6115
This proposal hypothesizes a lot of things we are unlikely to do.

We don't need the language to help for declaring tuples, as it will be done once in the platform for everyone to use. Any slight savings there will just save me a few keystrokes, and help nobody else. I've already typed more keystrokes here than I would save.

I doubt we'll take on any of the other issues this is suggested to "impr

[2015-10-21 03:35] gafter commented on #6081
I'd rather we do proper mixins. This proposal doesn't save many keystrokes except in the case where you "include all" of the members, and that seems dangerous.

[2015-10-21 03:38] gafter commented on #6075
This requires CLR changes that I would be reluctant to request.

[2015-10-21 03:46] gafter commented on #5909
I don't see anything special about *double* dispatch from a language point of view, compared to a more general *multi* dispatch. Since you can express double dispatch directly using visitors (and few people actually need to in commonly written code), it doesn't seem a prime candidate for language support.

[2015-10-21 03:48] gafter commented on #5883
We don't have that as a goal.

[2015-10-21 03:48] #5883 closed

[2015-10-21 03:48] davkean commented on #6071
Until we fix this issue, how do I turn off this bot? It's extremely annoying and making us look silly, see: https://github.com/dotnet/roslyn/pull/6128.

[2015-10-21 03:55] gafter commented on #5429
I marked this as "Need More Info", as we'd like you to suggest what modifications to the type inference specification you'd like to see to address this.

[2015-10-21 03:58] jasonmalinowski commented on #6071
Oops, I just deleted a few examples #6128. Sorry. :frowning:

[2015-10-21 04:07] gafter commented on #6141
It is private because that's the way the ECMA thing is run.

Do you want me to see if I can get you invited to the ECMA team?

[2015-10-21 04:13] gafter commented on #4670
We're planning to do pattern matching per #206 to address this issue.

[2015-10-21 04:13] #4670 closed

[2015-10-21 04:14] SLaks commented on #6141
That'd be awesome, although I'm not sure how much time I'll have for it.

On Wed, Oct 21, 2015, 12:07 AM Neal Gafter <notifications@github.com> wrote:

[2015-10-21 04:14] gafter commented on #4537
@MadsTorgersen Do you want to relay this to the ECMA spec effort?

[2015-10-21 04:15] #4532 closed

[2015-10-21 04:15] mavasani commented on #6066
Fixed with https://github.com/dotnet/roslyn/commit/04b35434969163266daf51278536e58b16c235a8

[2015-10-21 04:15] #6066 closed

[2015-10-21 04:19] miegir commented on #206
I don't like proposed **is** operator because:
* It defeats the main concept of records/pattern matching where you can *construct* and *deconstruct* them, i.e. receive with pattern matching exactly the same parameters that are used when constructing the class.
* Proposed **is** operator should calculate all of its out arguments even when only one ore two can be needed, i.e. performance of such ope

[2015-10-21 04:21] weshaggard commented on #6187
@janvorli it is packaged and uploaded daily. When did the code fix for this go in?

[2015-10-21 04:24] #6199 closed

[2015-10-21 04:33] weitzhandler commented on #6135
@gafter
This is also looks ambiguous, but as long as the rules are clear there is no problem:
    if (x)
      if(y)
        Go();
      else
        Remove();
    else
      Throw();

I understand this is not a very essential feature, but I like to keep single-liners without braces, and the try blocks break my coding patterns...

[2015-10-21 04:35] gafter commented on #206
@miegir Indeed, when `operator is` is not overridden, the compiler will generate code for the pattern-matching operation to directly access the properties in the caller. If you use the *property-pattern*, it will access only those properties that you use.

[2015-10-21 04:37] davkean commented on #6057
This is still an issue until we upgrade NuGet, let's leave it open so that it's still linked from https://github.com/dotnet/roslyn/wiki/Building-Testing-and-Debugging.

[2015-10-21 04:38] davkean commented on #6099
@paul1956 Looked internally, this bug was missed for inclusion as part of Visual Studio 2015, but was fixed as part of Visual Studio 20125 Update 1.

[2015-10-21 04:39] davkean commented on #6099
Going to close this, as looks like we're out of the woods on these issues, we've moved %TEMP% to be specific per job, and we're deleting it on cleanup.

[2015-10-21 04:39] #6099 closed

[2015-10-21 04:41] davkean commented on #6098
Going to close this bug - we're not seeing failures anymore, so don't need toolset update earlier than normal. Let's keep a watch and do the toolset update if we this on internal and signed builds.

[2015-10-21 04:41] #6098 closed

[2015-10-21 04:52] davkean commented on #6027
This isn't really actionable. That thing that says "No identified problems" is a plug-in; it runs a set of custom regex's looking for issues to highlight on that front page. If you run into a build failure that says "No identified problems", then it's because no one has registered one.

They are easy to register, and when you encounter a build failure where we didn't identify something, add one:

[2015-10-21 04:54] davkean commented on #5913
I believe @amcasey just added one.

In the future, they are easier to add, visit http://dotnet-ci.cloudapp.net/failure-cause-management/ and click Create New.

[2015-10-21 04:55] davkean commented on #5913
Oh, nevermind, misread this.

This is turning "warnings" -> "errors", not MSBuild errors -> Failure cause. My mistake.

[2015-10-21 04:56] janvorli commented on #6187
@weshaggard It went in yesterday at 11:24 pm PST

[2015-10-21 04:59] alrz commented on #5961
@gafter "won't fix" as it's not possible or it's not worth the effort? I was really looking forward to this, it would simplify a geat deal of repetitive code and save some property/method calls along the way (my third example).

[2015-10-21 05:00] davkean commented on #4654
What was the resolution to that? Looks like we added WpfFact, was this completed?

[2015-10-21 05:01] davkean commented on #4440
Why do we actually build .NET 2.0 mscorlib?

[2015-10-21 05:10] weshaggard commented on #6187
OK I would expect the package for tonight's official build would have the fix and should be published tomorrow morning.

[2015-10-21 05:40] paul1956 commented on #6099
@davkean I don't understand what you closed. Does this mean you are not building with Update 1 so you hit the same bug or is the bug not really fixed with Update 1? Does your moving %TEMP% only apply to internal builds and normal users building Roslyn will still see it? Please clarify what was closed?

[2015-10-21 05:47] davkean commented on #6099
@paul1956 This issue that I opened is tracking the Roslyn build infrastructure - and has nothing to do with Visual Studio or the issue you are hitting.

The issue you are hitting has been fixed for Visual Studio 2015 Update 1. Any communication regarding it is better done on the original Microsoft Connect issue over here: https://connect.microsoft.com/VisualStudio/feedback/details/1171345/exceptio

[2015-10-21 05:50] orthoxerox commented on #6136
Any chance of supporting extension virtual/abstract methods? They might have an unwanted side effect of breaking *your* code when you reference an assembly with them, and they might require CLR changes, since there's no place in the vtable left for them, but they are or so useful.

[2015-10-21 06:09] davkean commented on #2156
Thanks for the great suggestions This issue has long since moved on, please feel free to file individual issues for anything that we've overlooked or you think we're not doing correctly.

[2015-10-21 06:09] #2156 closed

[2015-10-21 06:11] davkean commented on #1171
Dropping the infrastructure, this is a compiler feature.

[2015-10-21 06:11] jmaine commented on #4005
It would simplify common patterns like this in the code:
[code]
to
[code]

Second, `using` would not swallow up exceptions into a black hole if something between the braces throws an exception and `Dispose()` also throws an exception and would allow the user to retrieve the suppress exception if he or she wanted to or needed to. (I personally do not mind if `try` or `using` is used for this featur

[2015-10-21 06:12] davkean commented on #1524
@ManishJayaswal In this on track for the 1.1 milestone?

[2015-10-21 06:17] davkean commented on #1920
@gafter You marked this as an infrastructure bug, but this looks like request for a compiler API. Marked it as such, feel free to move it I've marked it incorrectly.

[2015-10-21 06:18] davkean commented on #2099
This issue is a little stale, so closing it. Feel free to reopen or open a different a issue if you are still running into issues.

[2015-10-21 06:18] #2099 closed

[2015-10-21 06:20] davkean commented on #2251
@tmat Please reopen on github.com/nuget/home/issues

[2015-10-21 06:20] #2251 closed

[2015-10-21 06:20] davkean commented on #2408
@AnthonyDGreen What's the status of this?

[2015-10-21 06:22] davkean commented on #82
@mihailik We no longer ship on top of Visual Studio 2013, so closing this out. Feel free to reopen, or file a new issue if you are still running into issues.

[2015-10-21 06:22] #82 closed

[2015-10-21 06:24] davkean commented on #210
Going to dup this against #4886, as they are both tracking the same issue.

[2015-10-21 06:24] #210 closed

[2015-10-21 06:25] davkean commented on #267
@ManishJayaswal Is this on track for 1.1?

[2015-10-21 06:26] davkean commented on #192
Untagging, removing the milestone so that this goes through triage.

[2015-10-21 06:30] davkean commented on #297
This doesn't have anything to do with infrastructure as it's a product issue.

Moving to compiler for lack of a better place, and because Jared's currently assigned to it. I'm guessing this isn't on track for 1.1.

[2015-10-21 06:31] davkean commented on #321
@jaredpar Is this relevant anymore?

[2015-10-21 06:31] davkean commented on #363
Untagging infrastructure, this is test bug in the compiler.

[2015-10-21 06:34] davkean commented on #462
Removing infrastructure, these are test bugs against product areas.

[2015-10-21 06:35] davkean commented on #505
@dongliu3 You're running against some old bits, can you try against recent bits and see if you are still running into issues? If so, feel free to reopen or create a new issue.

[2015-10-21 06:35] #505 closed

[2015-10-21 06:37] davkean commented on #451
@AnthonyDGreen What's the plan around this

[2015-10-21 06:47] tmat commented on #4440
We build Expression Evaluator against mscorlib 2.0 public surface.

[2015-10-21 06:48] tmat commented on #4440
We don't need to sign it. It doesn't ship.

[2015-10-21 06:48] #4440 closed

[2015-10-21 06:50] orthoxerox commented on #6183
Why not? Why implement better syntactic constructs and then keep using the old ones? `out` parameters are worse than proper return values from all standpoints. I'm not talking about removing the old APIs or even deprecating them in the next version, but about providing a more fluent alternative.

[2015-10-21 07:03] MatthieuMEZIL opened #6207 "Use inference for part of non inferable generic arguments only"
When we have a method like this:

[code]

It's great that the compiler can infer generic arguments from the call.

But when one generic argument cannot be inferred, we need to specify all.

It would be great to have a way to specify only generic arguments that cannot be inferred.

Ex:

[code]

[2015-10-21 08:15] alrz commented on #6081
@gafter I'd say that this is a common pattern in composition over inheritance principle. This proposal is not about saving keystrokes, it actually allows one to use another (inner) object members in a more explicit and concise way, without inheriting from it. Since you will specify exact access modifiers on the target members, why would it be dangerous?

I didn't quite get what you meant by "the r

[2015-10-21 08:31] alrz commented on #6115
@gafter Not just tuples, per se, I meant all record types in which member names are not that important, *such as tuples*.

This would be a great addition to record type declaration syntax, because they are meant to be concise and expressive. I can imaging this will be useful in *pattern record types* such as ones that I mentioned in #5718.

[2015-10-21 09:16] tumtumtum commented on #6198
I wasn't suggesting that it would be part of he method contract. The implementation would be completely within the method body and would not change the method contract.

But fair enough.

[2015-10-21 10:17] davidfowl commented on #1695
Lets's make this happen! What's next?

[2015-10-21 10:44] alrz commented on #5143
Shouldn't `return` be an *expression* as well?
[code]

[2015-10-21 11:13] stepanbenes commented on #5143
@alrz I don't get it. What would be the type of returned object?

[2015-10-21 11:18] alrz commented on #5143
@stepanbenes `return` would be like `throw` it returns `never` itself which can convert to any type. Currently, for that to work you have to use `switch`:
[code]

[2015-10-21 11:28] stepanbenes commented on #5143
@alrz So, you want to change the behavior of return keyword to throw the exceptions? Otherwise, what would be the value of the never object?

[2015-10-21 11:29] alrz commented on #5143
@stepanbenes Sorry I made a mistake, `never` means that method doesn't return. But I think this should be possible.

[2015-10-21 11:33] stepanbenes commented on #5143
@alrz So, the return expression indicates that the method does not return? I am confused.

[2015-10-21 11:35] stepanbenes commented on #5143
@alrz The problem is that some value has to be assigned to variable t in your example, unlike with throw expression... But what value?

[2015-10-21 12:46] MgSam commented on #6136
@dfkeenan Take a look at the `ConditionalWeakTable` class I mentioned earlier. It holds only weak references, so when your object is GCed so is any data associated with it. In fact it was specifically designed for this sort of use case when they built the DLR.

[2015-10-21 12:49] MgSam commented on #6136
@gafter It seems like extension properties would be mostly useless if you cannot store additional state with them.

[2015-10-21 12:55] sharwell commented on #6136
I would be in favor of supporting additional state as part of an extension class for any reference type. Support for this functionality has been available in the CLR since .NET 4.0 as part of supporting various dynamic languages. It's not always the most efficient approach, but it's reasonable to think for certain applications it would make implementing new functionality much easier.

[2015-10-21 13:10] tenor opened #6208 "Can't tell if script has a return value"
I'm unable to determine if a script has a return value without an InternalsVisibleTo to CodeAnalysis.

The `Compilation.GetSubmissionResultType` method returns both the result type and an indicator that the script has a return value but the method is internal to CodeAnalysis and I don't see any alternative to get this information.

The `Compilation.ScriptCompilationInfo` property seems like a good

[2015-10-21 14:27] tpetrina commented on #6207
I second this. It would be great if we could specify non-inferrable generic arguments similar to optional parameters for functions.

[2015-10-21 14:39] ghost opened #6209 "DeclaringSyntaxReferences returns empty list on the underlying ILocalSymbol of a catch statement's variable"
In VB.Net with the following input:

[code]

when I query the `DeclaringSyntaxReferences` of the local symbol of `exc`, an empty list is returned.

The problem seems to be that `VariableLocalSymbol` expects to have a `ModifiedIdentifierSyntax`, but in case of the catch statement it has an `IdentifierNameSyntax`, so it returns empty list: http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.Vi

[2015-10-21 15:01] davkean opened #6210 "Linux builds are timing-out due to what appears to be a deadlock"
[Log](http://dotnet-ci.cloudapp.net/job/roslyn_prtest_lin_dbg_unit32/402/consoleFull#-16758747638101fac1-935e-4556-95f9-7a0e25ca0b52)

[code]

@mavasani Can you look into this?

[2015-10-21 15:04] davkean commented on #6210
Or rather, can we start with one of the @dotnet/roslyn-compiler team?

[2015-10-21 15:07] davkean opened #6211 "Windows Jenkins builds are failing to missing Deterministic parameter on Vbc/Csc task"
[Log](http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/379/consoleFull#-189014258379494335-f7bd-47d0-8771-8661e00c2db2)

[code]

[2015-10-21 15:13] davkean commented on #6180
Now they've also stopped being sent swat at all ([Log](http://dotnet-ci.cloudapp.net/job/roslyn_prtest_lin_dbg_unit32/402/consoleFull#-16758747638101fac1-935e-4556-95f9-7a0e25ca0b52), [Log](http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/379/consoleFull#-189014258379494335-f7bd-47d0-8771-8661e00c2db2))

[2015-10-21 15:15] mavasani commented on #6210
@agocke If you can help attach lldb to the hung process so I can attach with an ssh just like last time, I can take a look.

[2015-10-21 15:22] davkean commented on #6155
Dropping infrastructure, this is an IDE bug or whomever owns the samples.

[2015-10-21 15:23] davkean commented on #6113
Going to close and resolve this, I added a fault cause for this to catch it.

[2015-10-21 15:23] #6113 closed

[2015-10-21 15:24] davkean commented on #5918
Moving this to compilers, as they own it, not infrastructure.

[2015-10-21 15:24] davkean commented on #5918
Oh, no sorry, these are samples. Who owns samples?

[2015-10-21 15:35] CyrusNajmabadi commented on #5975
I think the equivalence key should remain.  It still makes sense that multiple actions might try to present two of these with teh same equivalence key, and we'd then want to dedupe htem.  I don't believe it's always the case that that means their first actual CodeAction's equivalence key would then be the same.

It is true that for the *single* CodeAction (generate type) that uses this new facilit

[2015-10-21 15:36] CyrusNajmabadi commented on #5898
I would prefer this to be an option for both VB/C#.  Both should have a 'prefer auto properties when generating code' option.

[2015-10-21 15:55] maxtoroq opened #6212 "`and` and `or` as alternatives to `&&` and `||`"
This would make programs easier to read.

Category: Boolean conditional logical operators

[2015-10-21 16:00] gafter commented on #6210
This may be the recently fixed #6177 #6172

[2015-10-21 16:04] CyrusNajmabadi commented on #6034
Opening so we track fixing this for Update1.

[2015-10-21 16:05] gafter commented on #6136
@orthoxerox Not without the CLR team's help. We have higher priority things we'd ask for.

@MgSam @sharwell There are lots of things (computed but not stored) extension properties are useful for. The use of `ConditionalWeakTable` slows down the GC substantially when it is used, so we're not ready to base a language feature on it. On the other hand, you could use a `ConditionalWeakTable` in the imp

[2015-10-21 16:09] gafter commented on #6081
@alrz See https://en.wikipedia.org/wiki/Mixin and http://docs.scala-lang.org/tutorials/tour/mixin-class-composition.html

One advantage of mixins over composition as you propose is that when you call a virtual method on `this` from inside the mix-in code, you are calling the final overrider in the original object. If you do it using forwarding you get the overrider in the object to which you forwa

[2015-10-21 16:12] tmeschter commented on #6195
@Lukazoid This is expected. Those particular rules exist in the IDE, but not in the compiler, so they aren't run as part of the build. You'll get the same behavior with any Roslyn-based analyzers installed as a VS extension (VSIX) rather than as NuGet packages or as manually-added analyzer references.

A couple of other notes:

The `Enable Code Analysis on Build` check box is a legacy option that

[2015-10-21 16:13] gafter commented on #6183
@orthoxerox Because there is lots of code using the recommended style, and we'd prefer not to jerk our customers around from one fad to another. I imagine some API authors may want to provide alternatives, but I also expect that we may elect to do as F# does and treat out parameters as tuple results, in which case API authors won't have anything to change.

[2015-10-21 16:15] mavasani commented on #6210
@gafter The log shows that we successfully built the toolset compilers from latest sources (which should have the AsyncQueue fix). We are seeing a hang when trying to build with these locally built toolset - the hang is in a VB project so looks strikingly similar to the prior deadlock. I can take a look once Andy can setup an ssh session for me.

[2015-10-21 16:17] davkean commented on #6195
@tmeschter You've explained his behavior, but not why this behavior exists. Can you expand on that? Why are they only run in the IDE?

[2015-10-21 16:19] gafter commented on #1920
I think the bug is in your code, here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Razor/Compilation/SyntaxTreeGenerator.cs#L36-L38

You are specifying a source path whose contents do not match the text given to the parser. The VS debugger finds the file at that path and rightfully complains that it isn't the right source.

[2015-10-21 16:22] amcasey opened #6214 "VB CodeGenWithEvents.TestNameOfWithEventsSetterParameter is flakey"
From master_win_dbg_unit64

[code]

[2015-10-21 16:23] mavasani commented on #6044
I am going to split this into 2 items - I'll move the MSBuildProjectLoader related changes to a separate issue and assign it to @mattwar

[2015-10-21 16:23] davkean commented on #6210
@mavasani @stephentoub says:

[2015-10-21 16:24] mavasani opened #6215 "API Review Followup - MSBuildProjectLoader APIs"
These are the remaining items from our 1.1 API review:

- MSBuildProjectLoader.LoadProjectInfoAsync should take ImmutableDictionary parameters
- MSBuildProjectLoader.LoadSolutionInfoAsync should take ImmutableDictionary parameters

[2015-10-21 16:24] tmeschter commented on #6195
@davkean I'm not sure what you're getting at. The rules in question are built into the IDE, not the compiler, and it is the compiler that runs static analysis rules during build.

[2015-10-21 16:24] mavasani commented on #6215
Ported from https://github.com/dotnet/roslyn/issues/6044

[2015-10-21 16:26] sharwell commented on #6195
If the IDE-installed rules ran as part of the in-IDE build, it would result in IDE builds and command line builds having potentially very different outputs. For example, a user with code-cracker installed as a VSIX could end up filing a bug report that an open source project does not build due to an analyzer error (or perhaps a warning when the project uses `/warnaserror`). They would be forced to

[2015-10-21 16:27] gafter commented on #5961
@alrz I'd rather crush your hopes now than leave you hanging forever :wink:

I have a lot of concerns about this - how far up the expression does this operator infect things; how does it affect the type sysem; how does it affect readability; what syntactic issues arise from a postfix `?` operator? It feels to me like the language would be worse with this addition rather than better.

I can't imagi

[2015-10-21 16:28] stephentoub commented on #6210
Debugging instructions are here:
https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md

[2015-10-21 16:32] davkean commented on #6195
@tmeschter What about these rules make them IDE specific? Why can't they be run as part of the build?

[2015-10-21 16:33] mavasani commented on #6210
Thanks @davkean @stephentoub. Andy walked me through the lldb/SOS commands couple of days back, and I used those to identify the root cause of the deadlock. However, he had done all the setup for me - I just had to ssh into the machine and it was already running lldb attached to the hung process, with the sos plugin loaded.

Given that this deadlock repros very rarely, we probably want to attach t

[2015-10-21 16:39] davkean commented on #6210
Following up offline.

[2015-10-21 16:45] gafter commented on #4005
(Note to self) this looks a lot like Java's try-with-resource construct.

[2015-10-21 16:48] tmeschter commented on #6195
@davkean Two reasons:

1. The code implementing these rules resides in VS-specific assemblies that generally aren't available to the build system.
2. These rules exist primarily to support IDE features like Simplify Type Name and Remove Unused Usings, so the IDE is the logical place for them. I suppose another option would have been to bundle these rules and the related fixes into NuGet packages (

[2015-10-21 16:52] ManishJayaswal commented on #267
@SirCmpwn @davkean We have started tagging all public releases. So I am closing this issues.

[2015-10-21 16:52] #267 closed

[2015-10-21 16:52] SirCmpwn commented on #267
Thanks!

[2015-10-21 17:01] Pilchie commented on #5975
That's not what equivalence key is used for.  It's used to determine which fixes "line up" when invoking fix-all.  In this case there is nothing to "apply" for this action in a fix-all, so it can't be equivalent to something else.

[2015-10-21 17:02] #6095 closed

[2015-10-21 17:05] srivatsn commented on #6195
Closing this as by design per @tmeschter's and @sharwell's explanations

[2015-10-21 17:05] #6195 closed

[2015-10-21 17:11] srivatsn commented on #192
In order to provide options to configure the location of tests and to provide the option to skip generating the test projects and to get the opportunity to name the test project, we would need a wizard. That's a feature and not a bug. Moving this to the backlog.

[2015-10-21 17:12] mavasani commented on #6210
I was able to ssh to the Linux node, but it seems the hung process was aborted:
[code]

Next time we see this repro, we should make sure not to abort the build and take the node offline - ping me and I'll take a look immediately.

[2015-10-21 17:14] mavasani commented on #6210
Or probably just take a dump when it repros again, even that should suffice. I am closing this issue now.

[2015-10-21 17:14] #6210 closed

[2015-10-21 17:15] alrz commented on #6081
@gafter I know what they are, I just wanted to know how they would look like in C#, anyway, I see your points. Whatever they would look like, they would be safer than `using` declarations. Should I narrow this to `private internal` access modifier or that is unlikely as well?

[2015-10-21 17:29] HaloFour commented on #4005
That being the case I'd think I'd prefer Java's syntax to the syntax proposed above.  This syntax is one missing curly brace away from being mistakenly associated with the wrong `try` block.

Is there a particular reason why `try` blocks require curly braces?  If they didn't you could always use `try using (...)` although I imagine the formatter would still fight over the indentation of the block

[2015-10-21 17:32] HaloFour commented on #6212
Do they provide any additional benefit beyond being easier to read specifically for people who aren't already familiar with the plethora of other languages that share the same Boolean operators?  If not I don't see why it would be worth the effort.  I wouldn't favor this any more than I would favor forcing VB.NET to accept `&&` or `||` as alternatives to its Boolean operators.

[2015-10-21 17:44] maxtoroq commented on #6212
@HaloFour Not <q>specifically for people who aren't already familiar with the plethora of other languages that share the same Boolean operators</q>, it would make it easier for everyone, including experienced programmer. Syntax matters.