[2016-03-03 19:43] bondsbw commented on #8457
Or even implicit conversion of infix binary operators to prefix unary:

[code]

[2016-03-03 19:47] alrz commented on #8457
obj is Person { Regex.Matches(LastName, pattern) }
[code]

It doesn't make sense to turn "a pattern that matches against an identifier" to a full blown expression.

[2016-03-03 20:05] alrz commented on #9411
@bondsbw The direct correspondence of linq operators to extension methods caused this limitation, using operators like `==` could have been ambiguous in that context. But this is not the case for property patterns, and the `==` operator wouldn't translate to something else here. That's why I prefer to use operators.

@HaloFour I don't know how linq and patterns are related that makes you suggest t

[2016-03-03 20:12] CyrusNajmabadi commented on #9330
This is not what has been proposed.  I'm unaware of any proposal that would make is that "all types should be compatible with positional pattern matching".

We are *exploring* ideas here.  Ideas which may make is so that *some* types are automatically compatible with parts of pattern matching, without having to add any new code anywhere to support this feature.  This is similar to what we did with

[2016-03-03 20:15] svick commented on #9453
Is this just for consistency, or is there actually a situation where you would want to write `|| throw Exception()`?

It sounds very similar to the `or die()` idiom from PHP, but I don't think it would be actually usable that way, since `||` is not allowed as statement expression.

[2016-03-03 20:18] CyrusNajmabadi commented on #9330
No compiler magic has actually been discussed.  No proposal has been brought forward, and there still has not been any actual exploration of this space.   it's very hard to talk about things like "reasonable approach[es]" when we don't actually have an actual proposal to discuss :)

It's actually been tasked to me to go out and see what sorts of actual algorithms could potentially be spec'ed out,

[2016-03-03 20:20] CyrusNajmabadi commented on #9330
The same thing exists today with any method/constructor.  If you change the shape of it, you can easily break things.  For example:

```public Point(int x, int y)```

Change those around, and you've broken every person who constructs a point.  Constructors are part of your public API contract.  If you change them, then you run the risk of breaking code.  That would remain the same if the construct

[2016-03-03 20:22] alrz commented on #9330
@CyrusNajmabadi As @axel-habermaier said, your example could be written by a record declaration for `Node` and could be deconstructed positionally right away. What this proposal is suggesting causes "non-record types" becomes positionally deconstructable out of the box. I'd love to see a real world example that clears up this use case where a positional deconstruction would be useful for a "non-re

[2016-03-03 20:23] CyrusNajmabadi commented on #9330
Why would an operator *not* end up cluttering up the types?  Why would a method like this clutter up IntelliSense?  We own the intellisense experience (literally, i'm one of the primary contributers to it :) ), so we can provide whatever sort of experience we want here in terms of how this is actually presented and made available there.

[2016-03-03 20:25] JiriZidek commented on #9330
@CyrusNajmabadi

Yes, we all know this. And we know it is dangerous. But the things you described above would be much more vulnerable to this problem.

[2016-03-03 20:26] CyrusNajmabadi commented on #9330
But i don't want to write it as a record.  I want to write it as a class :)

The argument i've been countering is one that stated that positional deconstruction shouldn't exist at all, in any form.  MgSam, for example, does not believe that positional is ever ok.  To the point that he extremely dislikes it even for normal construction or invocation.

No one said it would be too much.  I'd be fine

[2016-03-03 20:27] CyrusNajmabadi commented on #9330
Why?

[2016-03-03 20:28] alrz commented on #9330
Why?

[2016-03-03 20:28] JiriZidek commented on #9330
@CyrusNajmabadi
Because classes typically have much more properties.

[2016-03-03 20:30] CyrusNajmabadi commented on #9330
@JiriZidek And...  :)

Could you be more specific about why this makes it more of an issue?

[2016-03-03 20:30] HaloFour commented on #9411
@alrz Purely spaghetti.  Not a proposal/suggestion as much as illustration.

[2016-03-03 20:37] CyrusNajmabadi commented on #9330
Note: i'd like to pull back a bit because it's clear there are several different arguments that are overlapping, and that's clearly causing some confusion.  Examples of the different arguments i've seen are:

1. Positional deconstruction is bad *no matter what*.
2. Positional deconstruction is ok for some types (like records), but not ok for others.
3. Positional deconstruction is ok if it's opt i

[2016-03-03 20:43] HaloFour commented on #9330
@CyrusNajmabadi

Operators are organized and managed quite separately, not just by Visual Studio (as if that's the only tool) but also by the compiler.  But my complaint is more that `GetValues` is a name which conveys a meaning which is quite different from this one in various other contexts.  What the heck does `DbDataReader.GetValues` have to do with deconstruction or pattern matching?  Or `Enu

[2016-03-03 20:45] bondsbw commented on #8457
@alrz Sorry, I wasn't clear since I didn't copy all of @HaloFour's example.  `pattern` was used as a variable (not a placeholder for a syntax pattern):

[code]

[2016-03-03 20:48] Pilchie commented on #4973
Closing, since this was fixed in stabilization by #9056.

[2016-03-03 20:48] #4973 closed

[2016-03-03 20:48] CyrusNajmabadi commented on #9330
I never made such a claim...

I was simply addressing the points about intellisense as that's something i'm intimately familiar with.

Nothing is set in stone.  'GetValues' was just used to convey the idea of how this might be exposed through a method.  it was never intended to come across as insisting that the name *must* be 'GetValues'.  As with most of our work that allows people to opt into a

[2016-03-03 20:48] mavasani opened #9456 "xunit produced no error output but had exit code 1"
Opening this issue to investigate failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/4797/. All the tests seem to have passed in the build, but xunit still returns with code 1 and no logs for investigation.

_xUnit returned error code without errors_
_xunit produced no error output but had exit code 1_

[2016-03-03 20:56] jmarolf commented on #7643
failed in https://github.com/dotnet/roslyn-internal/pull/630
http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p3/181/artifact/Open/Binaries/Release/VSIntegrationTestLogs/CSharpWinForms.txt

[2016-03-03 20:57] alrz commented on #9330
@HaloFour

I think this is because C# is conflating records and "named tuples" (not items, the tuple itself). For example,
[code]
That is clearly a named tuple, but still, nothing would stop you to deconstruct "records" via property patterns.

[2016-03-03 20:59] DavidArno commented on #9330
@bbarry,

To pick up on something you suggested, I'm a big fan of the option type, but I suspect your syntax:

[code]
will be unnecessary. Assuming the team are working on discriminated unions (waiting for the design notes around that area, hint, hint @MadsTorgersen), it (a) should be able to be expressed simply as:

[code]

and (b) it needs baking into the .NET core/framework/BCL or whatever it's

[2016-03-03 21:00] jcouv commented on #9167
Both of those types (`CompilerGeneratedAttribute` and `DebuggerHiddenAttribute`) are [explicitly required](http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic/Lowering/AsyncRewriter/AsyncRewriter.vb,298) in the VB compiler.
I will check the behavior of native VB compiler to confirm this is by design.

[2016-03-03 21:01] brettfo commented on #7643
I'm going to yield to @DustinCampbell on this one; given that force~~-choking~~-saving or building doesn't solve this, is there an event we can listen to, short of adding calls to `Thread.Sleep()` or polling?

[2016-03-03 21:03] DavidArno commented on #9330
@alrz,

At the risk of appearing a bit thick, is there any reason why tuples and records can't be the same thing if positional composition is supported for records?

[code]
is then just declaring an anonymous record?

[2016-03-03 21:03] bbarry commented on #9330
I think positional deconstruction by way of some method which must run in its entirety even for partial deconstruction is ipso facto bad.

There is perhaps some syntax that enables positional deconstruction syntax to expand to an equivalent property deconstruction syntax that is ok, but permitting the compiler to do extra work implicitly that gets thrown away is bad.

@DavidArno I think it is some

[2016-03-03 21:05] alrz commented on #9330
@DavidArno All tuples are `ValueTuple<T,U>`, etc provided by the BCL, but records are a concrete class/struct on their own.

[2016-03-03 21:07] AnthonyDGreen commented on #9049
I believe per my other feedback to @CyrusNajmabadi we're replacing this method with specific methods for each operator. That's consistent with how we've done Binary expressions and would remove the need to add this enum at all.

[2016-03-03 21:08] DavidArno commented on #9330
@alrz,

I suspect F# has already answered this question for me, but if the tuple proposals are just syntactic sugar over the BCL `Tuple<>` types, how does the naming of the parameters work? `Tuple<T,U>` just results in `Item1`, `Item2` etc, whereas in my example they are called `real` and `imaginary`. Wouldn't reflection show them up as the former?

[2016-03-03 21:08] JiriZidek commented on #9330
@CyrusNajmabadi

method signature has hardly more then 10 params (rare), I estimate that average would be 3
class has easily 50 props, avarage would be domain-dependent - remember WPF clases ?

compare `(a,b,c)`
and `(a,b,c,d,c,f,g,h,i,j,k)`
the more items, the more mess can happen - n!

[2016-03-03 21:09] ManishJayaswal commented on #9119
@tmat Can we close this issue now?

[2016-03-03 21:09] alrz commented on #9330
@DavidArno They will be erased during compile-time. Read the spec (#347).

[2016-03-03 21:10] bbarry commented on #9330
As to needing to be baked in, for large scale interop yes; but the type could be used by the compiler as a well known type simply by being declared in the correct namespace.

[2016-03-03 21:10] DavidArno commented on #9330
@alrz,

My bad; thanks.

[2016-03-03 21:13] tmat commented on #9167
I don't see reason why they should be required. I also see a comment where you pointed at
[code]

[2016-03-03 21:17] CyrusNajmabadi commented on #9330
@JiriZidek I think you may then be arguing against a position i haven't made.  I'd never argue that you should use positional in all cases.  There are certainly cases (like the one you presented that i would agree would likely not be good candidates for positional).

It's the same argument i'd make for calling a method with 10 optional parameters when you only need to pass in a 2-3 values.  Just u

[2016-03-03 21:17] alrz commented on #9330
@JiriZidek

and (a,b,c,d,c,f,g,h,i,j,k)
the more items, the more mess can happen

That's why we have named arguments for method invocation and property patterns. You still can use property patterns with records. It's just a matter of actually using it.

[2016-03-03 21:18] davkean commented on #9456
It has logs:
[code]

Which points to: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/4797/artifact/Binaries/Debug/xUnitResults/Roslyn.InteractiveWindow.UnitTests.dll.out.log

Which states:
[code]

Basically a dupe of https://github.com/dotnet/roslyn/issues/8936

[2016-03-03 21:18] #9456 closed

[2016-03-03 21:19] #4688 closed

[2016-03-03 21:22] CyrusNajmabadi commented on #9330
@alrz  Yup!  That's how i thnk it about it as well.

For construction/calling, we have nominal and positional.  I think there's value in having both for deconstruction as well.  Of course, it's up to the individual circumstance to decide which is best.  But having both tools available seems very nice to cover the wide spectrum of scenarios out there, as well as the disparate opinions on what is th

[2016-03-03 21:23] CyrusNajmabadi commented on #9049
I think the question was: do you want additional methods for other special VB operators?  And, if you do, does that have to happen in 1.2 or can that wait until people ask for it?

[2016-03-03 21:23] tmat commented on #9055
The guidelines say:

DO provide a value of zero on simple enums.
Consider calling the value something like “None.” If such a value is not appropriate for this particular enum, the most common default value for the enum should be assigned the underlying value of zero.
[code]

In our case ```MemberDisplayFormat.SingleLine``` is a reasonable default value, so there is no need to introduce another one

[2016-03-03 21:23] #9055 closed

[2016-03-03 21:25] JiriZidek commented on #9330
@alrz

Not exactly. For classes named args flavor would be prevalent. Positioning would be rare - is it worth the effort then ?
I am just afraid you guys spending time on a feature, that would not be so used ?

[2016-03-03 21:27] tmat commented on #9119
Fixed by https://github.com/dotnet/roslyn/commit/afec3b7f5e94cfc08579f56da39cb46c5ac3a8ac

[2016-03-03 21:27] #9119 closed

[2016-03-03 21:28] steffenloesch opened #9458 "Analyzer DiagnosticSeverity level for QuickInfo only?"
Is there are way to set the DiagnosticSeverity level of an Analyzer rule, in a way that in Visual Studio a diagnostic is only shown on the mouse-over QuickInfo, but not with a squiggle and not in the Error List window? I'd like to (ab-) use Analyzers to show some additional information in the QuickInfo for certain language constructs.

DiagnosticSeverity.Info gives Error List information, but no m

[2016-03-03 21:30] alrz commented on #9330
@JiriZidek What effort? With record declaration you are defining properties in order, so the same order is used in positional deconstruction, still you can use property patterns to avoid [this style of coding](https://github.com/fsharp/fsharp/blob/master/src/fsharp/ast.fs#L691-L749) (that was actually what F# lacked at first and then they instroduced named union fields).

[2016-03-03 21:32] dpoeschl commented on #9276
Closing in favor of main tracking bug #9308.

@jasonmalinowski This is a crosslanguage rename test failure. If you see any reason to keep this separate from the rest, feel free to reopen.

[2016-03-03 21:32] #9276 closed

[2016-03-03 21:32] bbarry commented on #9330
@JiriZidek

It appears to be straightforward and perhaps necessary for tuples.

It appears to be straightforward and perhaps useful for records.

It seems to be an open question on the necessary complexity and usefulness for other types. Still it is very much worth at least evaluating what this might be.

[2016-03-03 21:32] JiriZidek commented on #9330
@CyrusNajmabadi

In fact having both posibilities would be great. But still I'd like to see at as opt-in and some more polished syntax without words.

[2016-03-03 21:34] dpoeschl commented on #8946
Closing in favor of main tracking bug #9308.

@jasonmalinowski This is a crosslanguage rename test failure. If you see any reason to keep this separate from the rest, feel free to reopen.

[2016-03-03 21:34] #8946 closed

[2016-03-03 21:39] DavidArno commented on #9330
@JiriZidek,

After following the debate, I'm coming down in favour of allowing positional decomposition, simply because it will be useful sometimes. The only reason though is due to the existence of the Roslyn analyzers.Taking an unrelated example, I view class inheritance and `out` parameters as an anti-pattern and code smell respectively. I can therefore use Roslyn analyzers to enforce my team's

[2016-03-03 21:58] mythz commented on #9330
The language with the most unused features doesn't win, it makes the language more complex and requires more effort for new devs to learn - increasing learning/ramping up costs, devaluing its appeal to prospective devs that overall adds negative value. Given language features can never be removed the onus should be for every feature to justify its existence where the value it provides should be me

[2016-03-03 21:59] AnthonyDGreen commented on #9049
So you're saying we still need the enum? Are there similar enums elsewhere in the generator API?

[2016-03-03 22:03] CyrusNajmabadi commented on #9049
No.  The enum has been removed and replaced with individual methods.  However, there is still the question of: are there *additionanal* methods we'd want to add for VB specific operators.  Or can we wait on that for 1.3 and later.

[2016-03-03 22:07] alrz commented on #8457
@bondsbw I'm trying to show you the alternative way (using active patterns) to do that which I think is not ambiguous, so it's not totally impossible.

 Yes, that's what *you* know but the compiler doesn't.

[2016-03-03 22:09] KathleenDollard commented on #9330
How would find all references work? I can check that for any constructor or method today. Would that work (since the constructor isn’t actually called, just used by the compiler to find a property).

From: Alireza Habibi [mailto:notifications@github.com]
Sent: Thursday, March 3, 2016 3:29 PM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: KathleenDollard <kathleen@mvps.org>
Subject: Re: [roslyn]

[2016-03-03 22:12] jcouv commented on #9167
@tmat Makes sense.

I noticed another situation similar to the one your test encounters with AsyncRewriter. That other one is in [IteratorRewriter.vb](http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic/Lowering/IteratorRewriter/IteratorRewriter.vb,88).
I'll try to find a unittest that hits IteratorRewriter and fix it together.

[2016-03-03 22:17] AnthonyDGreen commented on #9049
If the enum is gone I consider this issue closed. We can deal with any omissions in 1.3.

[2016-03-03 22:18] #9049 closed

[2016-03-03 22:19] Pilchie commented on #9454
Can you take a look?

[2016-03-03 22:27] balajikris commented on #9454
I made us capture dumps for this but can't find dumps in build artifacts. :disappointed:  Will dive in.

[2016-03-03 22:29] CyrusNajmabadi commented on #9330
@KathleenDollard

I haven't spec'ed out all the IDE work.  I presume you're referring to *possible* future where we do some sort of work to support positional deconstruction based on what your constructor shape is.

Now, in that hypothetical model of how we might do things, my initial intuition is that FindAllRefs on the constructor would find a match at the pattern deconstruction point.   This fi

[2016-03-03 22:31] jaredpar commented on #9247
Granting an exception for this flaky behavior.

The WPF layer has logic that executes on `AppDomain` exit to unhook native and managed resource pairings.  For example removing customer WNDPROC values.  The way this is hooked means it unconditionally runs on process exit.

This code is simply not well insulated against error.  There are at least two known cases where this code throws due to what ap

[2016-03-03 22:31] agocke commented on #9414
The NuGet package versions are just based off the Roslyn semantic version. Do the binaries somehow have the right assembly versions?

[2016-03-03 22:31] balajikris commented on #9454
ha. turns out my diagnostics is in master and this failure is in future. codeflows were frozen and my change isn't in master yet. With things as they are currently, I have nothing left to wait until another instance of this occurs in master..

[2016-03-03 22:32] bondsbw commented on #8457
@alrz

Nonsense, it is completely unambiguous that `pattern` was a string variable.  How do you come to any other conclusion?

[2016-03-03 22:33] jasonmalinowski commented on #9247
I'm unfamiliar with the code you're mentioning -- can you give a pointer to them? Curious to see what workarounds exist.

[2016-03-03 22:33] agocke commented on #9414
Just checked -- yeah the problem here is much more serious. The binaries are version 1.3. Most likely a bad merge. Re-assigning to infrastructure.

[2016-03-03 22:35] jaredpar commented on #9247
@jasonmalinowski see the stack trace in the bug report.

None. WPF is hooking the `AppDomain` exit logic.  Unhandled exceptions from this call back result in process failure.  There is no way for us to hook this call.

I've actually brought this up to the CLR team because it's one of many cases where we keep getting bitten by unhandled exceptions from `AppDomain` exit.

[2016-03-03 22:37] TyOverby commented on #9454
can you give me the hash for your diagnostics commit?

[2016-03-03 22:38] ManishJayaswal commented on #9064
@tannergooding Can you take a look why this is flaky?

[2016-03-03 22:40] ManishJayaswal commented on #8936
@amcasey I thought we had worked around the EventListner issue? Is this still happening?

[2016-03-03 22:43] amcasey commented on #8936
@ManishJayaswal We _guessed _that a 10 second delay would work around the problem _most_ of the time.  I believe it's still happening.

[2016-03-03 22:45] ManishJayaswal commented on #7869
@KevinH-MS can you take a look at this?

[2016-03-03 22:48] bbarry commented on #9330
I think fair counter examples of that are Javascript and Perl. Both languages have been highly influential for over 20 years with numerous features borrowed into other newer languages (there is a reason the acronym pcre exists after all) and widely used. I doubt anyone would argue either of them is not in contention for the prize "most unused features" either.

Still in this case arguing over whet

[2016-03-03 22:51] ManishJayaswal commented on #7826
@drognanar did you ever get a change to pursue this investigation further. Looks like it is only happening in test run and it does not repro manually hence I am removing the flaky label. The test is still disabled so we should investigate this soon hence leaving it in 1.2 milestone.

[2016-03-03 22:51] alrz commented on #8457
@bondsbw How about `LastName`? For each identifier the compiler should check target type (in this case `Person`) to see if it has a property with that name and match agaist it, otherwise it should lookup the variable in the containing scope? And what happens if you actually add such variable/property in that scope later? There will be some crazy scoping rules that is not really necessary IMO. All

[2016-03-03 22:59] TyOverby opened #9460 "CSharpLinkedFile.xml is failing on the future-stabilization branch"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_future-stabilization_win_vsi_p2/4/console

[2016-03-03 23:09] mythz commented on #9330
Yep great languages reinforcing my point. Perl is famous for making incredibly terse and unreadable code, took 16 years to ship its latest Perl 6, its popularity has been declining for years where it's no longer on GitHub's top languages or a choice among new Startups, [nor has it been a strong influence for other languages](http://exploringdata.github.io/vis/programming-languages-influence-networ

[2016-03-03 23:10] jaredpar commented on #8470
@cston can you take a look at this? @jasonmalinowski just hit this separately and found his way back to this bug.  Woudl like to get this in for 1.2 if possible.

[2016-03-03 23:12] amcasey commented on #8936
@ManishJayaswal According to the comments on https://github.com/dotnet/corefx/issues/3793, it should be fixed in 4.6.2.

[2016-03-03 23:13] balajikris commented on #9454
I'm going to try it locally and see if I can work out some magic.

[2016-03-03 23:19] bondsbw commented on #8457
@alrz Ok, I was under the impression that you had issue with what I mentioned.  Your issue seems to be at a much more fundamental level, with the general form

and the ambiguity surrounding the resolution of _identifier_.

But I don't think that's necessarily a problem, right?  At the _top_ level of such a pattern, the identifier has to be in the local scope.  _Inside_ a property subpattern, it wo

[2016-03-03 23:21] davkean commented on #8936
That doesn't help us.

[2016-03-03 23:32] lgolding opened #9461 "Expose IsAssignableTo from SemanticModel"
This is used by two analyzers and about to be used by a third one. Because it is implemented differently in C# and VB, you can't just make a helper method out of it in Analyzer.Utilities. Rather, each analyzer that needs it needs to have a base class that does almost all the work, and then C# and VB derived classes whose only purpose is to copy the implementation of IsAssignableTo from Roslyn.

[2016-03-03 23:36] CyrusNajmabadi commented on #9330
Please let's avoid the language wars here.

[2016-03-03 23:39] dpoeschl commented on #8867
I'm now pretty certain this is a dupe of #6863

[2016-03-03 23:41] dpoeschl commented on #6863
See `<InternalShare>\public\davip\8867FailureArtifacts.zip` for a dump.

Basically, we change the text of an open document, close it (with the SaveFile=true flag), and then try to GTD or GTI. According to the dump above, this fails because the Document still has the _old_ text in it, not the text we told it to save.

[2016-03-03 23:43] balajikris commented on #9454
final update for now: didn't have luck running the test several times in a loop on my local box. It always passes.

[2016-03-03 23:55] davkean opened #9462 "DiagnosticAnalyzerDriverTests.DiagnosticAnalyzerDriverIsSafeAgainstAnalyzerExceptions failing"
PR: [#9429#issuecomment-192021694](https://github.com/dotnet/roslyn/pull/9429#issuecomment-192021694) *Only collect archives in the case of aborted or failed runs.* by @CyrusNajmabadi
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4786/

**1 Test Failures:**
DiagnosticAnalyzerDriverTests.DiagnosticAnalyzerDriverIsSafeAgainstAnalyzerExceptions

**Issue 1: Test Failures**
Th

[2016-03-03 23:55] davkean commented on #9462
cc @mavasani

[2016-03-03 23:56] p-e-timoshenko commented on #9407
I can't agree that this case isn't an unexpected behavior. The string interpolation syntax looks like strings. You expect similar behavior when you write "Field 'FirstName' is required." or $"Field 'FirstName' is required.".

I understand that the interpolated string $"..." converts to String.Format:

[code]
The code converted by compiler to following code:

[code]
I test it by ILSpy.

It may be a

[2016-03-04 00:02] davkean commented on #9445
We've had to take RBLD-3 offline as well: http://dotnet-ci.cloudapp.net/computer/dci-win-rbld-3/

[2016-03-04 00:03] davkean commented on #9445
Ty, when things calm down tomorrow can you take a look?

[2016-03-04 00:07] jcouv opened #9463 "Iterator compilation crashes when known types aren't available"
The test below fails, but it should report diagnostics instead for some types and degrade gracefully for other types.
To repro, make sure the corlib is missing `IDisposable.Dispose` or `IEnumerator.MoveNext` or `IEnumerable<T>.GetEnumerator` or `System.Threading.Thread` as those types will be added to the shared mincorlib shortly.
This problem also exists with the VB compiler.

On the C# side, the

[2016-03-04 00:20] jmarolf opened #9464 "[Test Failure] Roslyn.InteractiveWindow.UnitTests.dll Test Failures (+1 more) in prtest/win/dbg/unit32 on PR #9431#issuecomment-191697366"
PR: [#9431#issuecomment-191697366](https://github.com/dotnet/roslyn/pull/9431#issuecomment-191697366) *Only log formatting events in telemetry when they are enacted by the …* by @jmarolf
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/4737/

**Issue 1: Test Failures**
There were test failures, see Test Results above.

**Issue 2: xUnit returned error code without errors**
xu

[2016-03-04 00:40] rchande commented on #9335
This test passes most of the time, so I think the best strategy is probably to take a dump when it fails so we can see what's rooting the object. @jasonmalinowski will have a PR out soon that will let us dump the unit test process.

[2016-03-04 00:58] davkean opened #9469 "Future NuGet zip is out of date"
PR: [#9465](https://github.com/dotnet/roslyn/pull/9465) *Add InternalsVisibleTo TestImpact in Features...* by @KevinH-MS
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_lin_dbg_unit32/4758/

**Issue 1: Packages need to be updated**
A new package was introduced, but the Azure store of the packages was not updated. Please follow: https://github.com/dotnet/roslyn/blob/master/docs/infrastruct

[2016-03-04 00:59] davkean commented on #9469
@TyOverby  can you pick this up tomorrow too?

[2016-03-04 01:05] davkean commented on #8936
We're also still apparently running into it on open builds again: https://github.com/dotnet/roslyn/issues/9464

[2016-03-04 01:05] davkean commented on #9464
Dupe: https://github.com/dotnet/roslyn/issues/8936

[2016-03-04 01:06] #9464 closed

[2016-03-04 01:25] TyOverby commented on #9469
@davkean I've updated the nuget zip, and also rewrote the documentation in #9472

[2016-03-04 01:50] davkean opened #9474 "Stop copying files into the MSBuild directory on sign builds"
We copy the compiler into the MSBuild directory on signed builds. I have no background on this, but should absolutely stop doing this.

[2016-03-04 01:51] davkean commented on #9474
[code]

[2016-03-04 01:56] davkean opened #9475 "Microsoft.CodeAnalysis.UnitTests.WorkspaceServices.PersistentStorageTests.PersistentService_Document_SimultaneousReads failed in signed build"
This failed in a signed build for stabilization:
[code]

[2016-03-04 03:38] WayneEllery commented on #7082
We are having the same issue with our Dev team. I've also installed Update 2 RC and it still has not fixed the issue. We are using Resharper and CodeLens. When first opening the solution it is about 1Gb and then memory increases and after 4 hours or so it goes over 2GB and then Visual Studio becomes unresponsive.

[2016-03-04 03:47] gafter commented on #9452
One reason to allow this is that the scope of pattern variables is likely to be shared by other constructs that will not have definite assignment issues, such as "out var".
[code]

[2016-03-04 04:10] gafter commented on #9452
The same reasoning might apply to multiple field initializers.

[2016-03-04 05:04] davkean opened #9477 "Don't generate locproj's for files we don't own"
We currently generate locproj's for framework assemblies from NuGet packages - they don't need localization, they have already been localized. If we want these to be localized we should grab the localized resources dlls.

[2016-03-04 06:04] davkean commented on #9477
Right now we're "localizing" these dlls I think we shouldn't be:

[code]

[2016-03-04 06:05] jmarolf commented on #7082
Out of curiosity, how many of those reporting problems on this thread are using resharper?

[2016-03-04 06:19] davkean opened #9480 "InteractiveFeatures.csproj has a dependency on System.Diagnostics.Process package for no reason"
InteractiveFeatures.csproj has a dependency on the System.Diagnostics.Process package for no reason, it's a desktop project, it can use Process from System.dll.

System.Diagnostics.Process package isn't even supported to work on .NET 4.6 or 4.6.1. This was introduced in this commit: https://github.com/dotnet/roslyn/commit/a70cdce693c6ab2497f47d1f64fed27556eb35b1.

This package should be removed, a

[2016-03-04 06:29] davkean opened #9481 "Microsoft.CodeAnalysis.Elfie needs setup authoring"
We need setup authoring for Microsoft.CodeAnalysis.Elfie, as it has none.

[2016-03-04 06:41] ManishJayaswal commented on #9481
I think Cyrus added this dependency.

[2016-03-04 06:52] ManishJayaswal commented on #9480
@tannergooding can you take a look at this? This commit,https://github.com/dotnet/roslyn/commit/a70cdce693c6ab2497f47d1f64fed27556eb35b1. looks like a revert.

[2016-03-04 10:06] MrJul opened #9482 "Proposal: allow overriding single accessor properties with multiple accessors"
## Description

Currently, a `virtual` or `abstract` property having a single `get` or `set` accessor can't be overridden with a property having both accessors. This proposal removes this limitation.

How the override is written doesn't matter: explicit accessors as well as auto-properties are permitted.

The following code is now valid:

[code]
## Why
1. This kind of construct is already allowed

[2016-03-04 11:59] HaloFour commented on #9482
Seems reasonable.  I think it's much cleaner than having to define `SetX` methods in order to accomplish the same thing.  I wonder why the C# team decided to not allow this.

To minor/obvious mentions, just for the sake of completeness:

Additional accessors with different accessibility levels should be permitted:

[code]

Under Implicit implications, if the property is marked as `override sealed`

[2016-03-04 12:35] nirvinm commented on #2136
Just wondering if it is possible to replace logical operators **&&, ||, !**  with  **and, or, not** respectively
It will improve code readability a lot.

`
if ( temperature > 98 and temperature < 105 or pressure == 780 )
{
}
`

[2016-03-04 12:35] MaceWindu opened #9483 "Hardcoded compiler path in Microsoft.CodeDom.Providers.DotNetCompilerPlatform"
Not sure if this is proper place to report it, but I see some defects related to DotNetCompilerPlatform logged there.

**Version Used**:
1.0.20820.0 (1.0.1)

**Expected Behavior**:
Path to compiler executable could be configured.

**Actual Behavior**:
Path to compiler is hardcoded and the only way to use library is to put compiler on that way (ugly way to support Roslyn by ASP.NET) or change it us

[2016-03-04 12:41] HaloFour commented on #2136
@nirvinm

#6212

[2016-03-04 12:49] MaceWindu opened #9484 "String literal do not escape \u2028 (line separator) unicode character"
**Version Used**:
1.1.0.51202 (1.1.1)

**Steps to Reproduce**:

[code]
Literal value will contain unescaped \u2028 character.

**Expected Behavior**:
code == "\"\\\u2028\""

**Actual Behavior**:
code == "\"\u2028\""

In our project we use code generation using CodeDom and Roslyn and there are two unicode characters that requires to apply extra replace-fu now:
- NEXT LINE : **\u0085** escaped prope

[2016-03-04 13:48] jedidja commented on #7082
I'm not running ReSharper or any other similar extension and there are a couple others on our team with the same issue. We _also_ have people with ReSharper installed who experience the same issue.

[2016-03-04 14:10] isaacabraham commented on #9330
@CyrusNajmabadi

So are we saying that the constructor defines the deconstruction shape? Interesting. So - would the constructor be one written by the user, or auto-generated? If the former - that at least is explicit so can be reasoned about more easily. But what if there are fields on the type not included in the constructor - e.g. calculated fields. And what if there are multiple constructors?

[2016-03-04 14:15] HaloFour opened #9485 "Discussion: Additional Patterns"
I wanted to start this issue as a discussion for the types of patterns that have not yet been speced out in the [pattern matching proposal](https://github.com/dotnet/roslyn/blob/future/docs/features/patterns.md).  I'd like to keep it pretty open but focused on the types of patterns that have been mentioned in the proposal but not yet fleshed out, patterns from other languages or patterns that may

[2016-03-04 14:29] guercheLE commented on #2136
@nirvinm following your thought, add "then" and replace curly braces with "begin" and "end" and you'll will have vb.net syntax.

[2016-03-04 14:30] HaloFour commented on #9485
I'd like to consider this issue a syntax playground.

If I missed something in the mentioned languages or there are other novel forms of patterns in other language feel free to comment and I'll update this list.  Same if I missed a proposal already made to this repository.

/cc @alrz

[2016-03-04 14:32] guercheLE commented on #2136
@nirvinm On vb.net "and" and "or" are not "short circuited", due to legacy vb6 code ported to vb.net. For that vb.net has additional "AndAlso" and "OrElse"

[2016-03-04 15:02] TonyValenti commented on #9330
@isaacabraham  -
You have a great point about having multiple ways to do the same thing.  I've heard many developers over the years actually complain about there being multiple patterns to do the same thing.  What they want more than features is a consistent way to use those features.

[2016-03-04 15:06] MaceWindu commented on #9484
Update:
Executed Roslyn tests with surrogates - it also fails for each pair: SURROGATE+\u2028, but I think this one is not a Roslyn issue, because when I try to save it to file with UTF8 encoding I get following exception from UTF8 encoder class:
[code]

[2016-03-04 15:29] marxidad commented on #9330
@TonyValenti @isaacabraham

It's better for that to be a matter of style (enforced by code analyzers) or convention (encouraged by default behaviors). Even Python, with its one-right-way design principle is mostly a matter of style. Even little-endian arhcitectures uses big-endian memory storage. However, Haskell's enforcement of capitalized type names seems to work for _them_. It all comes down t

[2016-03-04 16:09] alrz commented on #9482
Related: #6559

[2016-03-04 16:13] tannergooding commented on #9480
@ManishJayaswal, That is a revert of a revert, so it is actually re-adding a commit which was undone due some CI issues we were seeing.

I will resolve the problem for now and double check with @tmat and @agocke, on why this was done in the first place.

[2016-03-04 16:13] tannergooding commented on #9481
@davkean, is this just setup authoring on the VS side?

[2016-03-04 16:25] Pilchie commented on #9481
Yes. @tannergooding and/or @jmarolf can you take a look at why the insertion tool didn't generate the authoring for this?

[2016-03-04 16:33] tannergooding commented on #9481
I believe I had originally told @jmarolf that SetupAuthoring changes need to be explicilty reviewed and validated that they are correct by a human.

There have been several instances in the past (and at least one that would have been included in this build, #9480) where there was an invalid dependency change.

Additionally, having the insertion tool additionally check setup authoring will make it

[2016-03-04 16:36] HaloFour commented on #9482
Only somewhat related.  This issue is purely a C# limitation, the CLR/IL has no issues with adding a new accessor method to a property in a derived class.  Single inheritance ensures that the property metadata can only exist once.

However, in the case of #6559, the property metadata is duplicated since technically the properties on the two interfaces are unrelated to one another, and while there

[2016-03-04 16:40] davkean opened #9487 "Portable library properties page fails to load when the project contains a project.json that cannot be parsed"
See: https://twitter.com/mteper/status/705241495574413312

[code]

[2016-03-04 16:43] whoisj commented on #2136
It will improve code readability a lot.

No, no it would not. It would on serve to help those who cannot read the code to kind of better misunderstand the code. It would make writing the code significantly more painful and only serve to remove more legitimate names by stealing them for keywords.

AND

`&&` does not mean "and" it means "test the next condition only if the prior condition was true,

[2016-03-04 16:44] Pilchie commented on #9481
But that's what BuildDevdivInsertionFiles already does - it generates WiX based on the contents of our VSIXes. Why didn't that happen here? (Yes, I agree that insertion PRs should always be reviewed, but that's orthogonal to this question).

[2016-03-04 16:55] tannergooding commented on #9481
Ah, your right. I was referring to the other setup authoring files we end up touching, that are outside the scope of what DDIF can generate (such as the MSBuild WiX files).

And it looks like DDIF did correctly generate SetupAuthoring for Elfie. I'm going to go look at the insertion tool and the PR to try and find out why it wasn't included.

[2016-03-04 17:05] tannergooding commented on #9481
@Pilchie, @davkean, @jmarolf. The insertion utility is incorrectly ensuring the `robocopy` always has an exit code of 0, and throwing an exception otherwise.

For robocopy, an exit code of 0-7 (inclusive) indicates success (0 is success with nothing copied, and 1-7 provide additional information on how the operation succeeded) and an error code above 8 indicates failure (8-15 are failure, with add

[2016-03-04 17:14] alrz commented on #9485
- Slice patterns (#120, #8987) - also can be introduced as list flattening syntax (Rust)
- Range patterns - also can be introduced as a construction syntax (as proposed in #7632)
- Sequence wildcard patterns (proposed in #5811 but usable in tuples and recursive patterns)
- Runtime type patterns (#8194). I think this should be considered as a pattern per [this comment](https://github.com/dotnet/ros

[2016-03-04 17:22] MaceWindu commented on #9484
Update: Tested CodeDom and surrogate pairs - no additional errors.

[2016-03-04 17:26] tannergooding commented on #9414
This ended up being an issue with the signed build definition. It has since been resolved.

[2016-03-04 17:39] #9414 closed

[2016-03-04 17:53] davkean commented on #9480
We need this fix this morning, so that we can kick off a build with it.

Please make it against master, and against future-stabilization. Thankss

[2016-03-04 17:58] tannergooding commented on #9480
See: https://github.com/dotnet/roslyn/pull/9488

[2016-03-04 18:00] nirvinm commented on #2136
@whoisj  Why can't 'and' do short circuiting as &&.  Though && is more symbolic than 'and', both do the same thing.

[2016-03-04 18:01] agocke commented on #9480
You reverted your own change :)

[2016-03-04 18:12] tannergooding commented on #9480
My local repo is in a weird state, it somehow pushed the change directly to dotnet/future-stabilization, even though the dotnet remote is set to 'no_push' and the tracking branch is origin/future-stabilization

[2016-03-04 18:12] tannergooding commented on #9480
The PR is mostly just for tracking the actual change.

[2016-03-04 18:15] CoolDadTx commented on #9330
The only feature mentioned that seems remotely useful outside of "language" people is with.  The other options, to me, add more syntactical rules to learn and yet provide no actual value.  Why would I ever bother using the positional deconstruction approach (along with worrying about maintenance issues) when the standard constructor/object initializer syntax is cleaner, easier to read and more res

[2016-03-04 18:19] davkean commented on #9462
And again: http://dotnet-ci.cloudapp.net/job/roslyn_future-stabilization_win_dbg_unit64/5/testReport/junit/(root)/DiagnosticAnalyzerDriverTests/DiagnosticAnalyzerDriverIsSafeAgainstAnalyzerExceptions/

[2016-03-04 18:22] davkean opened #9490 "Project System tests are again hitting the EventListener bug"
To workaround the fact that xUnit doesn't respect binding redirects, when AppDomains are turned off, we turned AppDomains back on for the project system tests here: https://github.com/dotnet/roslyn/commit/2b745834828016c2078418a573be3c266bf38a1e.

Unfortunately, this has us hitting the EventListener bug again:
http://dotnet-ci.cloudapp.net/job/roslyn_future-stabilization_win_rel_unit32/5/artifact/

[2016-03-04 18:22] isaacabraham commented on #9330
@CoolDadTx I can say from personal experience that pattern matching and deconstruction in general are definitely very, very powerful feature and can save lots of boilerplate, especially around conditional branching statements (particularly when conditions stretch over multiple variables) - code is generally simpler to read and reason about. If whatever syntax can be thought up and settled upon fit

[2016-03-04 18:23] TyOverby commented on #9445
do we have any logs for this failure?

[2016-03-04 18:25] davkean commented on #9445
Look back through the failed VSI runs.

[2016-03-04 18:29] alrz commented on #2136
As @HaloFour said, this is #6212 all over again. while C++ does feature a complete set of alternative operators, that's not because of expressiveness issue and yet the reason is not applicable to C#.

See http://en.cppreference.com/w/cpp/language/operator_alternative

[2016-03-04 18:32] davkean opened #9491 "Need a way to simulate binding redirects when running under xunit with "AppDomain=denied""
We now by default disable AppDomains under xunit, see https://github.com/dotnet/roslyn/blob/future/build/Defaults/app.config#L6.

Unfortunately, this means that binding redirects no longer work, because we're running inside of xunit's AppDomain 0, and hence inherit its binding context and its app.config.

We need a way to simulate these binding redirects when AppDomains turned off as otherwise, we

[2016-03-04 18:36] davkean commented on #9491
If we go with 2), we should make sure we use one of xunit's extensibility points to run _before_ tests have launched. Such as their test framework, Brad states:

[2016-03-04 18:37] MadsTorgersen commented on #9330
Two points:

First of all, let me just say that my initial example above was extremely simplistic, because the point wasn't to argue the value of the features, but to examine the range of possible mechanisms beneath them. I think that @CyrusNajmabadi and others brought up much more compelling examples of where you'd want positional deconstruction.

Secondly, there's a viewpoint inherent in the ori

[2016-03-04 18:40] davkean opened #9493 "Microsoft.CodeAnalysis.Editor.VisualBasic.UnitTests.Diagnostics.RemoveUnnecessaryImports.RemoveUnnecessaryImportsTests.TestFixAllInProject (from Roslyn.Services.Editor.VisualBasic.UnitTests) failure"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_future-stabilization_win_rel_unit64/5/testReport/junit/Microsoft.CodeAnalysis.Editor.VisualBasic.UnitTests.Diagnostics.RemoveUnnecessaryImports/RemoveUnnecessaryImportsTests/TestFixAllInProject/

Microsoft.CodeAnalysis.Editor.VisualBasic.UnitTests.Diagnostics.RemoveUnnecessaryImports.RemoveUnnecessaryImportsTests.TestFixAllInProject (from Roslyn.Se

[2016-03-04 18:42] Pilchie commented on #9475
Can you take a look?  Maybe talk to @mattwar and/or @heejaechang about these tests.

[2016-03-04 18:44] Pilchie commented on #9487
Is this a dupe of something already fixed in 1.2?

[2016-03-04 18:47] isaacabraham commented on #9330
@MadsTorgersen OK, if we're talking about something akin to F# active patterns that makes a lot more sense. I agree that they're definitely very powerful and help make a lot of complex matching logic sane.

[2016-03-04 18:52] tannergooding commented on #9480
Master side change is here: https://github.com/dotnet/roslyn/pull/9495

[2016-03-04 19:05] jaredpar commented on #5283
This bug hasn't been touched since October.  What's the status?  Is there a reason that it missed update 2?

[2016-03-04 19:09] tannergooding commented on #9481
This should now be fixed.

[2016-03-04 19:14] jaredpar commented on #8764
Thanks for reporting.  This looks to be a duplicate of #7236.  This fix will appear in VS 2015 Update 2.

[2016-03-04 19:14] #8764 closed

[2016-03-04 19:15] tannergooding opened #9496 "Insertion script needs to be updated to automatically pull latest sources and build insertion tool"
FYI. @jmarolf, @davkean, @dotnet/roslyn-infrastructure

The insertion script is currently set to just run the pre-built insertion utility.

It should be changed to automatically pull the latest sources, build the insertion utility, and then run (possibly on a per-branch basis).

[2016-03-04 19:15] AdamSpeight2008 commented on #9407
@p-e-timoshenko
My analyser [String Format Diagnostic](https://github.com/DotNetAnalyzers/StringFormatDiagnostic) is capable of informing the developer about this. Currently I'm in the initial stages of developing an updated date version. That uses a new implementation of the parser, that better handles malformed strings. The updated version will also include diagnostics covering interpolation str

[2016-03-04 19:16] davkean commented on #9496
Don't assign these by default to me, I triage them daily.

[2016-03-04 19:24] jaredpar commented on #8762
In this specific case the removal of the field load is unobservable but this is not true generally.  Consider the following modification on your sample:

[code]

In this case removing the assignment is potentially observable.  The field is tagged with `beforefieldinit` and hence the call to `GetValue` occurs on the first usage of `X`.  Even if that usage is a redundant assignment.  Removing this c

[2016-03-04 19:25] tannergooding commented on #9481
Or it will be momentarily, #9496 is an issue, so I need to rebuild the insertion utility locally first. There were also several changes made to the utility that have not yet been checked in

[2016-03-04 19:25] jaredpar commented on #8762
Instance variables are another case where removing the self assign is observable.  Although a bit obscure it is possible for `this` to be `null`.  Hence removing a self assign instance variables is potentially removing a NRE from the code.

[2016-03-04 19:43] CyrusNajmabadi commented on #9330
@isaacabraham

We are *considering* (but have not even proposed or spec'ed out how it would work) a system whereby constructors could be taken into account whne using positional pattern matching.

The general intuition we have is:

1. The type can fully describe its deconstruction shape (though some mechanism we haven't specified yet; possibly a method; possibly an operator).  This takes priority

[2016-03-04 19:47] CyrusNajmabadi commented on #9330
@isaacabraham

We have not investigated or spec'ed anything out yet. I have no idea :)

All things being equal, i would be ok with that.  But i'm ok with non-idiomatic when things are not equal.  In my personal opinion there is enough value in brevity and symmetry to warrant positional deconstruction (plus it's practically required for tuples).  As such, i think we'd want them.  But this will not

[2016-03-04 19:49] CyrusNajmabadi commented on #9330
@TonyValenti

Consistency is in the eye of the beholder :)    To me deconstructoin is the parallel of construction.  As such, it's *inconsistent* that i can construct something some way, but not deconstruct it another way :)

[2016-03-04 19:56] KevinH-MS commented on #7505
Test run is going...should have an answer in a couple hours...

[2016-03-04 19:58] isaacabraham commented on #9330
@CyrusNajmabadi Thanks for the detailed answers. And yes, I know this is a very early stage of design - and it's great that you and the rest of the team are pro-actively getting feedback at this stage too. I don't expect you to have all the answers just yet - but questions like this from myself and others are probably useful to you all the same :-)

And of course LINQ is a great example of that po

[2016-03-04 19:58] mythz commented on #9330
Wouldn't that only makes sense for "dumb" constructors i.e. that only set properties that map 1:1 with constructor arguments? In which case you can get by with no constructor and setting the properties in an object intializer. How's it going to work when there's no relationship between arguments and type fields.

[2016-03-04 20:03] alrz commented on #9330
Using type invocation for records; that just makes sense,
[code]
But for regular classes that you use `new`,
[code]
This is what F# is doing, it requires `new` just for regular classes (§6.4.2)

So it is reasonable to not be able to deconstruct them in the same way.

[2016-03-04 20:09] CyrusNajmabadi commented on #9330
I personally try to use immutable objects as much as possible.  So, unfortunately, object initializes are off the table for me.

[2016-03-04 20:11] CyrusNajmabadi commented on #9330
In your eyes, sure.  In mine no.  I can positionally construct something.  I would like to be able to positionally deconstruct something.

--

Anyways, i'm not sure we're making any progress here.  The feedback has been heard.  There is a lot of pushback against positional deconstruction/matching in certain circumstances.  At this point, i'm not sure debating any further is adding any new informat

[2016-03-04 20:14] CyrusNajmabadi commented on #9330
I'm really hesitant to go there.  The language has thrived so far making judicious choices about allowing people multiple ways to do things.  Linq is a great example.  When i talk to many C# developers it's literally at the top of their list for things they love about C#.  Turns out that flexibility and non-presciprtive attitude turned out to be a huge benefit, even if it means we don't have total

[2016-03-04 20:14] KevinH-MS commented on #5283
No resources to work on it...

[2016-03-04 20:16] alrz commented on #9330
@CyrusNajmabadi I meant if we use `is new` to hint the compiler that it's ok to use those sort of matching of parameter and property names, I'd be ok with that. That is truly symmetrical construction and deconstruction.

[2016-03-04 20:21] CyrusNajmabadi commented on #9330
@alrz

Potentially, though i can see issues with that.  We've always used 'new' to indicate that you're constructing.  So in this specific case you would not want the 'new' because you would explicitly *not* be constructing.  Indeed, as you'd be doing the opposite, there's a strong argument to be made that 'new' could be considered very inappropriate here.

Note that the symmetry i was referring t

[2016-03-04 20:21] tannergooding commented on #9481
Should be resolved now.

[2016-03-04 20:22] CyrusNajmabadi commented on #9330
Note: no syntax is set in stone.  We'll definitely want to evaluate a bunch of options here.

[2016-03-04 20:35] jaredpar commented on #8800
I'm curious why this is being filed as an issue against Roslyn.  The CoreCLR issue identified the root behavior as a RyuJIT bug.  Roslyn's participation was to no longer generate the IL pattern that exposed the RyuJIT bug.  The IL emitted by Roslyn was itself valid, it just exacerbated the underlying issue.   That work was completed prior to Roslyn RTM hence I'm unsure what this issues is intended

[2016-03-04 20:35] alrz commented on #9330
@CyrusNajmabadi Yes, but I'm thinking that another keyword should do, because `is Node(..)` in case of a non-record type is way different than simple matching of the type and "positional properties", it matches the "names" not positions (yes positions are significant in the pattern itself but eventually the compiler depends on names), so in my opinion it deserves its own keyword because semantics

[2016-03-04 20:51] jaredpar commented on #9483
This package is owned by the legacy ASP.Net team.  I'm unsure exactly where a bug on this should be filed.  I've contacted the appropriate team though and am going to leave this issue open until they can comment / port it to an area they are looking at.

[2016-03-04 20:54] tmat opened #9497 "EnC: OutOfMemoryException thrown by LongestCommonSubsequence.ComputeCostMatrix"
When editing large methods (1000s of statements).

The algorithm is currently allocating N^2 matrix. It can be optimized to N D or O(N).

Repro:

[code]

[2016-03-04 20:59] jaredpar commented on #9407
Thanks for taking the time to report this issue.  Unfortunately this behavior is by design.  Interpolated strings involve function calls under the hood and hence are not constant values.  This means they can't be included as attribute values or assigned to `const` local, field members.

[2016-03-04 20:59] #9407 closed

[2016-03-04 21:04] jmarolf commented on #7082
Thanks @jedidja, good to narrow things down.  For everyone on this thread that has this happen to them, it would be greatly appreciated if you clicked **Send A Frown (Report a Problem)** as per @davkean 's [instructions](https://github.com/dotnet/roslyn/issues/7082#issuecomment-169145851)

[2016-03-04 21:07] AdamSpeight2008 commented on #8752
I think the perf test(s) should at least use all of the feature of the languages, not just a subset.

[2016-03-04 21:08] alrz commented on #9407
@jaredpar Wouldn't it make sense to have a subset of string interpolation syntax to preserve constness of the string? For example `$$"Method Name: {nameof(TestMethod)}" translates to `String.Concat` calls, hence it is a constant.

[2016-03-04 21:16] MichaelKetting commented on #8800
It was never a CoreCLR issue. It was only filed over there because CoreCLR was mistaken for the .NET 4.5.2 CLR.

The issue can only be reproduced on a system that uses .NET 4.5 x64 without RyuJIT installed, provided that the code was compiled with Roslyn.

[2016-03-04 21:22] shmao commented on #9483
@MaceWindu , thanks for submitting the issue. Can you please explain a little bit on why you need to change the compiler location?

FYI, I've copied this issue to our internal database. For submitting other issues related to this package in the future, you can either report a bug at [Microsoft Connect](https://connect.microsoft.com/VisualStudio/Feedback/LoadSubmitFeedbackForm?FormID=6240) or find

[2016-03-04 21:23] jaredpar commented on #8800
The CoreCLR team identified the original issue as a bug in the JIT.  Perhaps they mislabeled it as RyuJIT.  But @jkotas did positively identify this as a known bug in desktop CLR which repro'd prior to 4.6.  Given the information in your bug it seems likely this is the issue he identified.

It's possible there is a Roslyn bug here, although it seems unlikely.  But I would expect in such a case tha

[2016-03-04 21:25] whoisj commented on #2136
Because `&` means "and", without the short-circuit. And, not short-circuiting is sometimes necessary.

Same goes for `|` meaning "or" without the short-circuit.

[2016-03-04 21:35] whoisj commented on #9482
:+1:

[2016-03-04 21:37] balajikris commented on #9475
Notes:

This has nothing to do with the PersistenceService itself I guess. Just an IOError when deleting directories during clean up.
Some reasons as to when this can happen: http://stackoverflow.com/questions/329355/cannot-delete-directory-with-directory-deletepath-true

[2016-03-04 21:43] gafter commented on #9407
@alrz that is not a constant string either. The string resulting from `$$"Method Name: {nameof(TestMethod)}"` can depend on the current culture, though it would be horrible for a culture to make it so.

[2016-03-04 21:46] HaloFour commented on #9407
@gafter

That's insensitive to my Pig Latin heritage.  :frowning:

Seriously, though, I do think that @alrz 's argument is that a double `$$` would be some kind of strict interpolation mode, perhaps one where only const expressions are permitted.  Although that doesn't seem like much of an improvement over just `+`.

[2016-03-04 21:47] alrz commented on #9407
@gafter but `const string a = "TestMethod: " + nameof(TestMethod);` is a constant ...

[2016-03-04 21:50] alrz commented on #9407
@HaloFour

That is why we have string interpolation, which one do you prefer
[code]
$$ could simply translate to `+` for interpolations.

[2016-03-04 22:08] davkean commented on #9475
Yes, but that could be a product bug - ie we could be holding onto a file too long.

[2016-03-04 22:14] huizhonglong opened #9499 "ArgumentNullException thrown from CommandLineProject.CreateProjectInfo()"
**Version Used**:
Latest master
**Steps to Reproduce**:
Get a .csproj containing analyzer items that need to be installed via nuget packages. I picked the one in Step 1.
1. git clone https://github.com/code-cracker/code-cracker.git
   Now those packages are not installed yet, go straight to step 2.
2. Generate the command line args for CodeCracker.csproj by executing msbuild target "CoreCompile",

[2016-03-04 22:29] AdamSpeight2008 commented on #9407
If the target is `const string` then the interpolation string could enforce const-ness of the arguments. Then the result is a constant string rather than a string.

[2016-03-04 22:46] jaredpar commented on #9131
@cston can you take a look at this?  We fixed a couple of bugs in this area during update 2.

[2016-03-04 22:49] tannergooding opened #9500 "Unify our MyGet feeds to be named off our branches"
Our MyGet feed names are not currently unified. Most, but not all, are 'roslyn-<branch>-nightly'. We should standardize on a single naming convention to simplify our infrastructure.

[2016-03-04 22:54] tannergooding opened #9501 "Update our MyGet upload script to dynamically detect the branch"
Currently our MyGet upload script is hard-code, per-branch, on the feed it should upload to. We should instead make this more robust and dynamically query the current branch from Git.

[2016-03-04 22:54] tannergooding commented on #9501
This is partially blocked on #9500

[2016-03-04 23:26] tannergooding commented on #9480
This should be fixed now.

[2016-03-04 23:45] #6979 closed

[2016-03-04 23:45] #8358 closed

[2016-03-04 23:48] gafter commented on #9407
@AdamSpeight2008 The problem is that there is an implicit argument to string interpolation, which is the current culture. We cannot enforce that the current culture is a constant, because it isn't a constant.

[2016-03-04 23:56] tannergooding commented on #9407
@gafter, I believe he is implying that the where `string x = $"TestMethod: {nameof(MyTestMethod)}"` is converted to `string x = string.Format(CultureInfo.CurrentCulture, "TestMethod: {0}", nameof(MyTestMethod))` (which is resolved at run time). We should have a new language feature so that string interpolation is pre-computed at compile time, so that `string x = $$"TestMethod: {nameof(MyTestMethod

[2016-03-05 00:00] heejaechang commented on #9475
@davkean in production, we don't delete those file in .vs folder. we do switch when IVsWorkingFolder event happens, we let handle go and switch and delete old one. but if there is someone who hold onto handle, we will handle that case gracefully.

[2016-03-05 00:02] tmat commented on #9407
The compiler can't assume anything about the implementation of string.Format, not even that the platform it's running on is the same as the program it targets and thus the implementations of string.Format are the same.

[2016-03-05 00:08] alrz commented on #9407
I don't know what is the problem with translating interpolation to a bunch of stirng concatenation operators at the interpolation sites, in that case you may not be able to use culture dependant features like `:` etc. That's why I proposed another form (double-dollar) which preserves constness of the string.

[2016-03-05 00:11] HaloFour commented on #9407
@alrz Interpolation is *always* culture dependency because it *always* uses the current culture to format, even if you're only interpolating strings.  Technically the culture could intercept and rewrite those strings to whatever value it wants, regardless of format specifier or other options.  You'd need a new form of interpolation which is explicitly designed to concatenate or something of that n

[2016-03-05 00:30] alrz commented on #9407
Still all the options above seem promising,

- Use the current system culture at compile time
- Constness enforcement if the target was `const`
- A strict form that translates to string concatenations

The thing is that if the user want a constant, he/she woudn't care what the culture is, and probably woudn't want to use culture dependant features. That's why you may forced to use string concat in

[2016-03-05 00:41] tannergooding commented on #9064
There appear to be three issues here:
1. The CreateUserFile action uses the user profile directory rather than the temp folder
2. We reuse the same file name (c.csx and temp.csx) in multiple locations rather than generating a unique filename.
3. It appears that CreateUserFile is sometimes maintaining a handle (although I am not sure how, since it is just using `File.WriteAllText`) to the generated

[2016-03-05 00:49] MgSam commented on #9482
I've always wondered why this restriction existed. I've run into it a number of times. If there's no CLR reason for it, I agree it should be removed.

[2016-03-05 00:54] AdamSpeight2008 opened #9508 "[VB, Intellisense] suggestion of Case is unexpected."
**Version Used**:

[code]

**Steps to Reproduce**:
1.

[code]
1. After the `Exit Select` type space
2. Wait for Intellisense
3. `Case` is offered.
4. Select it.
5. It is interpreted as a new `Case` statement.

**Expected Behavior**:
No `Case`
**Actual Behavior**:
`Case` is offered as a suggestion

[2016-03-05 01:02] AdamSpeight2008 commented on #9407
Why can't the assumed culture at compile-time be `CultureInfo.InvariantCulture `?

[2016-03-05 01:11] AdamSpeight2008 opened #9509 "[Proposal] Preprocessor Directive Culture / Option Culture"
The idea of this preprocessor directive is to enforce the culture that is to be used be default.

[code]

[code]

Thus the programmer can override it and specific a specific culture.
So that features like  #9407 would be possible.

[2016-03-05 01:18] davkean opened #9510 "Test result upload on signed build failures"
/publish:https://devdiv.visualstudio.com/defaultcollection,/publishbuild:Roslyn-Stabilization-Signed-Release_20160304.2,/publishresultsfile:F:\Builds\5519\DevDiv\Roslyn-Stabilization-Signed-Release\bin\xUnitResults\Roslyn.Services.Editor.UnitTests2.dll.xml,/teamproject:DevDiv,/platform:Mixed Platforms,/flavor:Release
Publish : https://devdiv.visualstudio.com/defaultcollection,PublishBuild : Roslyn

[2016-03-05 01:41] gafter commented on #9407
@AdamSpeight2008 The defined semantics of an interpolated string is that they use the culture at runtime, not at compile-time.

[2016-03-05 04:01] Symfony2 commented on #2136
Hello Everyone
What do you think about multi chek feature for C#
Smth like this:
`
enum Math{
   One, Two, Three, Four
}

Math someVar;

void DoSmth(Math someVar){

if(someVar = Math.One || Math.Two || Math.Three)
      return;

//some logic...
}

`

[2016-03-05 04:03] alrz commented on #2136
@Symfony2 #8533

[2016-03-05 04:27] #9480 closed

[2016-03-05 04:37] davkean commented on #9499
Compiller?

[2016-03-05 05:21] jcouv commented on #9167
The async and iterator rewriters in VB have been relaxed not to mandate the existence of those optional attributes.
The C# compiler didn't need any change.
Merged PR #9476.

[2016-03-05 05:21] #9167 closed

[2016-03-05 05:34] tmat opened #9511 "Review implementation of C# Binder.ImportChain property"
ImportChain doesn't currently include global imports. This is likely incorrect within script context.

See also ImportsTests.ImportChainEquality.

[2016-03-05 10:54] jedidja commented on #7082
@jmarolf Ok, submitted. We have about 20 projects in our solution and are running Community Edition. We've tried 2015 Update 2 RC and still see the same problem. I'd be happy to do a screen-sharing session with anyone on the team if that would help.

[2016-03-05 12:23] jedidja commented on #7082
What's really odd is that the 30-35% CPU usage happens regardless of machine. It's the same on both my desktop (i5-3570K 3.4Ghz) and also on my 2015 Macbook Pro (i7 2.5 Ghz) under Parallels.

[2016-03-05 12:51] MichaelKetting commented on #8800
@jaredpar Thanks for persisting on this. I managed to miss jkotas's response on the other thread and am sorry for that. I'll quote it here to make tracking this easier by consolidating the threads. I hope that's all right.

by @jkotas in https://github.com/dotnet/coreclr/issues/3155#issuecomment-185316493

We're haven't been able yet to do a repro that doesn't include 100MB of dll's yet hosted in

[2016-03-05 12:55] HaloFour commented on #9509
Even if you could specify the culture the user could override some of those settings, which still makes it non-deterministic and not suitable for compile-time evaluation.

[2016-03-05 13:21] marek-safar opened #9513 "Null-propagating operator with await still throws NRE"
**Version Used**: Microsoft (R) Visual C# Compiler version 1.2.0.60220

**Steps to Reproduce**:

[code]
1. compile
2. run produced .exe

**Expected Behavior**:

The behaviour is actually inline with C# 5 spec which in section "Classification of await expressions" uses following description

However, that's C# 5 which does not cover `null-propagating operator` at all. This looks like oversight in C

[2016-03-05 13:57] p-e-timoshenko commented on #9407
@tannergooding
"" - in the beginning there were ordinary string,
$"", $$"", $$$"", ... )

@AdamSpeight2008
"The idea of this preprocessor directive is to enforce the culture that is to be used be default."
Once more, It would be grateful to add such useful C++ preprocessor directive as following:
#define MACRO_NAME ...
By the way, the C ++ language flew up for the last time and has surpassed C# (h

[2016-03-05 14:12] HaloFour commented on #9407
@p-e-timoshenko Sorry, the ship has sailed regarding the syntax and semantics for string interpolation.  Those debates all played out on CodePlex.  Notably the original syntax did not use a prefix and used a form of escape sequence within normal strings, and the consensus was that this was not a good idea.

[2016-03-05 15:15] MaceWindu commented on #9483
@shmao, your question made me think a lot :)
Well, maybe it will not sound as a good reason, but using default hardcoded path is inconvinient for us. Right now I reset it to empty (current application folder) through reflection and to add compiler to new regular project or test project I just need to add compiler binaries as references.
With default path it will be more work, taking into accound t

[2016-03-05 15:50] alrz commented on #9513
#7556

[2016-03-05 15:56] manixrock opened #9514 "Proposal: Regex repetition syntax"
# The Issue

If we want to match a list of any kind in regex, we currently have to make certain compromises. For example, say we wanted to match a list of names, such as: `Anna,Bob,Charlie` (a more complex example would be a list of phone numbers, or url's, so imagine the regex is potentially long and complex).

We could try:

[code]

However that doesn't match our original text as it requires a f

[2016-03-05 16:02] svick commented on #9514
How is this related to the C# language? If you're proposing changes to the `Regex` class, those should go to https://github.com/dotnet/corefx.

[2016-03-05 16:24] manixrock commented on #9514
@svick Thanks, submitted as an issue there: https://github.com/dotnet/corefx/issues/6685

[2016-03-05 16:50] isomorphisms commented on #8217
I am getting this error too.

[2016-03-05 16:51] isomorphisms commented on #8217
I am getting this error too.

[2016-03-05 17:15] manixrock commented on #8947
I accidentally closed this issue a week ago by mistake. I reopened it soon after, but I haven't seen any comments since. How can I check that the issue is indeed open?

[2016-03-05 17:42] p-e-timoshenko commented on #9407
@HaloFour
https://roslyn.codeplex.com/discussions/570614
https://roslyn.codeplex.com/discussions/570292
https://roslyn.codeplex.com/discussions/577567
https://roslyn.codeplex.com/discussions/540869 (Q. Hole syntax?)
https://roslyn.codeplex.com/discussions/546467

_
..."The only characters that require escaping are ", {, and } which are escaped by doubling Useful because \ is a common use case, and

[2016-03-05 17:47] HaloFour commented on #9407
Quite, but it doesn't matter because string interpolation already shipped, the syntax won't be subject to breaking change, and you'd have to demonstrate a really big reason why another form of interpolation is worth implementing.

[2016-03-05 18:00] bondsbw commented on #8947
It shows Open at the top.

[2016-03-05 18:01] alrz commented on #9407
@HaloFour

I think @jods4's argument in #9212 could be "a really big reason" to introduce that kind of interpolation in the language and it doesn't interfere with anything that already been shipped.

Preserving constness is another "big reason" to doing this.

To not introduce another form I'd be ok with context-sensitive translation e.g. allowing interpolation for `const` targets and in attribute

[2016-03-05 18:12] HaloFour commented on #9407
Possibly, but it's not like any of these limitations are a surprise.  The issues of culture and performance were all already debated and C# 6 shipped with the result of those conversations.  String interpolation was not designed to fit the scenarios described here, and that was intentional.

[2016-03-05 18:17] royog commented on #7034
I cannot get this command (View.SynchronizeClassView) to work at all. I'm on VS 2015 Enterprise V 14.0.24720.00 Update 1 using C#.

[2016-03-05 18:19] manixrock commented on #8947
@bondsbw Got it, thanks.

[2016-03-05 18:27] alrz commented on #9407
I think this issue being filed as a "bug" is consequence of a surprise.

The culture dependance of string interpolation is totally understandable but inability to use it in other contexts when it makes sense is not. It's like `await` in `catch`, however it doesn't restrict anything in these contexts, but you must use constant strings in attributes already.

 I'm saying that you should be able to c

[2016-03-05 18:30] DustinCampbell commented on #7034
Unfortunately, VS 2015 Update 1 does not include this bug fix (it was released on November 21st). However, VS 2015 Update 2 RC was just released a few days ago and does include this.

[2016-03-05 18:47] HaloFour commented on #9407
I meant by the design team, who have already closed this issue since this behavior is by design.

I'm not disagreeing (or agreeing) with these arguments, I'm only pointing out that they were already made while this feature was still being designed.  The syntax and behavior changed several times due to community feedback.  What shipped is the result from those collaborations same last year.  I'd be

[2016-03-05 18:48] asvishnyakov commented on #7082
@jmarolf I had this issue both in clear Visual Studio and with ReSharper

[2016-03-05 19:14] ayende commented on #9330
One thing that worries me when I'm reading this is performance. In particular, runtime performance of those features.
Linq, as a good example, is already a no go feature in high performance code, because while it is extremely readable, the cost of delegate invocations and lambda allocation can be extremely high.

Looking at the proposed work the compiler has to do to support those features, I'm af

[2016-03-05 19:37] CyrusNajmabadi commented on #9330
@ayende Could you be more specific.  What work in particular do you think would be an issue?

[2016-03-05 20:53] jrmoreno1 commented on #2144
Well, I like the idea, but it's been out there for a while and rejected because of "ambiguous syntax" (not sure what is ambiguous about it myself).  I like the idea, because semantically an indexed property is **not** an item in a collection.  In fact I found this while checking to make sure that it hadn't been added since the last time I thought it would make things easier.  In this case I was ho

[2016-03-05 21:31] alrz commented on #2144
If the the type has an indexer you would get that syntax,
[code]
And if you define `Foo` property as a "indexed property" it'll become ambiguous. I don't see why this is useful.

[2016-03-05 22:09] gafter opened #9515 "[Pattern Matching] Should a property-pattern be capable of referencing an event?"
In a _property-pattern_ such as `P { X is var x }`, should it be allowed that `X` is an event member of `P`?

[2016-03-05 22:22] HaloFour commented on #9515
I don't think so.  It's not like event accessors return anything that can be used to match, so there's nothing to be assigned to `x`.

Unrelated, but is the `=` in the pattern a typo or is the syntax for property patterns changing?

[2016-03-05 22:37] svick commented on #9515
@HaloFour The accessors do not, but the backing field of a field-like event can be read from within the same class.

[2016-03-05 22:45] HaloFour commented on #9515
@svick This is true, but how many real use cases are there for matching over `this` or your own kind?  Not to mention, exactly what would you be matching?  Or would this simply be shorthand for deconstruction during a self-matching expression?

[2016-03-05 23:36] jrmoreno1 commented on #2144
@alrz and you see value in writing and instantiating a class in order to return an indexed value? The class Foo is never going to be used for anything other than the property Foo in Bar. As for the ambiguity -- I still don't see it, at least as far as the compiler is concerned.  For people looking at the line in isolation, it wouldn't be clear whether it was an indexed property or a property for a

[2016-03-05 23:54] alrz opened #9516 "Proposal: Property initializer for readonly properties"
Consider the following attribute.
[code]
Currently, for declaring this attribute you may write something like this:

[code]
Because you wanted `Optional` property be, well, optional, you are forced to make it mutable.

Instead, you could write it like this:
[code]
But ...
[code]
And things can get weirder,
[code]
Actually, it might be unfortunate that despite of the fact that you are assigning `Op

[2016-03-06 00:17] HaloFour commented on #9516
Your implementation would make it impossible to explicitly pass a `null` to an optional argument of a reference type.  While I'm sure that you're using attributes for illustration it is worth nothing that attributes play by a completely different set of rules than normal object instantiation.

[2016-03-06 00:19] HaloFour commented on #9516
I also don't see any issue in optional constructor argument names actually being optional.  If I want to save a few keystrokes and rely on positional construction (which is, ya know, the default), why shouldn't I be able to?

[2016-03-06 00:29] gafter commented on #9509
This "issue" is far from complete. What, precisely, would be your proposed specification for what the culture is at runtime?

[2016-03-06 00:30] alrz commented on #9516
@HaloFour

[code]

They already do, `Optional = value` inside constructor argument list turns out to be a property initializer which in turn, requires the property being publicly mutable.

So why you would you use named arguments in attributes in the first place, you could define all of them in the constructor (perhaps, as optional arguments), right?

[2016-03-06 00:30] gafter commented on #9513
The NRE follows the specification as written.

[2016-03-06 00:30] #9514 closed

[2016-03-06 00:39] HaloFour commented on #9516
@alrz

I meant for the consumer of said attribute.  If the default was `new object()` but you wanted to pass `null`, you'd be SOL because the code couldn't tell from an explicit `null` v. an omitted argument.

If object initialization syntax was considered in the C# 1.0 timeframe it's possible that we would have seen different syntax for attributes.  Object initialization does require mutable prop

[2016-03-06 00:44] HaloFour commented on #2144
From http://roslyn.codeplex.com/discussions/542484

And that nested type can be a struct, no allocations necessary.

[2016-03-06 00:48] alrz commented on #9516
@HaloFour If a null is desired, the default should have been null too because immutable properties are not meant to be changed. perhaps you should consider a full properties declaration for that matter, e.g.
[code]
It doesn't make sense to provide a syntax for every possible situation.

So you're against #229 too, right? because the point is to initialize readonly auto properties without an explic

[2016-03-06 00:56] alrz commented on #2144
See,
[code]

If it doesn't matter why don't you use a method instead? You are basically suggesting a method that has `[]` instead of `()`,
[code]
Why is *this* important then?

[2016-03-06 00:59] alrz commented on #2144
As for assignment, `ref` returns make it possible, but for more complicated scenarios you should seriously consider a method.

[2016-03-06 01:00] HaloFour commented on #9516
@alrz

No, if an explicit `null` is desired the "optional" argument shouldn't decide to override it with whatever the default happens to be.  This is not the behavior for either property initializers or optional parameters:

[code]

I find it unnecessary.  I don't think I'm the only one:  https://github.com/dotnet/roslyn/issues/9330#issuecomment-190848528

[2016-03-06 01:12] alrz commented on #9516
@HaloFour In #9330 it has been proposed to use case-insensitive name comparisons in property initializers, it doesn't suggest anything to actually avoid the constructor.

Anyway, I think this scenario has got enough attention and probably it is no longer an issue.

[2016-03-06 01:12] #9516 closed

[2016-03-06 05:11] jasonmalinowski commented on #9408
Yep, it should be a dupe of #9308.

[2016-03-06 05:11] #9408 closed

[2016-03-06 05:12] jasonmalinowski commented on #9308
This was fixed by @TyOverby in #9504.

[2016-03-06 05:12] #9308 closed

[2016-03-06 06:28] alrz commented on #9330
@CyrusNajmabadi

I thought about this and now I think I understand why. There are types that are not records really but happen to have some immutable properties which are initialized in the constructor by parameters. For example,
[code]
And of course, it totally makes sense to have a symmetrical construction and deconstruction for this type.

The solution proposed here is dealing with two issues:

[2016-03-06 07:13] TonyValenti commented on #9330
I like deconstruction but I feel as though the property names themselves
should be specified.  I believe this would leave the code much less brittle
and a lot easier to understand.

Why not do something like this?

[code]

On Sun, Mar 6, 2016 at 12:29 AM, Alireza Habibi <notifications@github.com>
wrote:

--
Tony Valenti

[2016-03-06 08:15] jkotas commented on #8800
These fixes are included in .NET Framework 4.6 and VS2015.

[2016-03-06 08:39] orthoxerox opened #9517 "Proposal: primary constructors"
To introduce positional deconstruction and bridge the gap between records and full-scale classes, I propose the addition of primary constructors.

**Primary constructors for structs and standalone classes**

A class with a primary constructor looks like this:

[code]

What does a primary constructor do?

- it defines a readonly auto property for each parameter. The name is derived from the paramet

[2016-03-06 08:41] orthoxerox commented on #9330
I wrote my primary constructor proposal in #9517. The idea is to avoid trying to deduce a deconstructor from a constructor if the constructor is not primary. This way positional deconstruction will work only in those cases where it is likely to be used.

[2016-03-06 09:12] MichaelKetting commented on #8800
Thanks for confirming this. This means we definitely found additional issues since I know we have the RTM versions installed at the very least.

[2016-03-06 10:08] alrz commented on #9517
I believe primary constructors were proposed before and currently spec draft for records does have an optional class body so you can define other members in it.

[2016-03-06 10:30] orthoxerox commented on #9517
@alrz I cannot find the record spec in https://github.com/dotnet/roslyn/tree/future/docs/features

[2016-03-06 11:41] alrz commented on #9517
@orthoxerox It's proposed in #206 in the same form that you've presented here.

[2016-03-06 12:12] orthoxerox commented on #9517
@alrz looks like it has been excluded from the working draft in the sources. I would've said "great minds think alike", but this proverb is much less flattering in Russian.

[2016-03-06 12:44] paulomorgado commented on #9330
@CyrusNajmabadi,

There is a lot of pushback from very few. It might be the case that a large mass of people agree with your view and think you're defending your points in very reasonable way. I do!

[2016-03-06 14:37] orthoxerox commented on #9330
@CyrusNajmabadi I agree that positional deconstruction is a good and useful feature, as long as it's opted into by implementing a custom deconstructor or a primary constructor.

[2016-03-06 15:24] jaredpar commented on #9000
Can you elaborate on how this would be useful for us / user?

[2016-03-06 15:33] jaredpar commented on #9313
I believe this behavior is by design as @HaloFour noted.  @AlekseyTs can you verify.

[2016-03-06 15:35] jaredpar commented on #9339
In general the compiler doesn't make such optimizations and instead relies on the JIT to do so.

[2016-03-06 15:35] #9339 closed

[2016-03-06 15:37] jaredpar commented on #9381
@agocke is this an issue that you've already fixed?

[2016-03-06 15:41] jaredpar commented on #9499
@huizhonglong can you post the full message and stack trace of the exception?

This appears to be an analyzer issue.  CC @srivatsn

[2016-03-06 16:44] glopesdev commented on #8064
@ManishJayaswal what do you mean by leaving the expression tree "hanging there forever"? `Expression` trees as well as `DynamicMethod` instances are all eligible for garbage collection and should be handled by the GC as usual.

After all the talk about enabling C# scripting, I just don't understand how this use case has managed to fly under the radar for so long...

_**Expression trees are hands-d

[2016-03-06 18:00] alrz commented on #9517
FYI, #4481, #6997

[2016-03-06 18:18] tmat commented on #9000
https://github.com/dotnet/roslyn/pull/9002 fixed EnC for compilations that have a compilation reference to a dependency that uses wildcard in assembly version. However, it's still broken for cross-language P2P references since those are PE references and we can't tell whether the assembly version contained wildcard or not from metadata.

[2016-03-06 18:29] tmat commented on #8064
This is more of a general compiler feature than scripting-specific feature. Moving to Compiler.

[2016-03-06 18:35] tmat commented on #8064
@glopesdev If we were to emit scripts into collectible code we'd need a better collectible code gen from the CLR. This feature request is tracked here:
https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/suggestions/6120992-support-for-collectible-assemblies

[2016-03-06 18:51] jrmoreno1 commented on #2144
@HaloFour I gave an example of creating a facade around Sesssion where a page id is used to avoid collissions between tabs. Most of the properties should be indexed. C#, unlike VB, requires that an indexed property be the default property of a class. C# is conflating two entirely separate concepts, and in doing so being unclear.

@alrz in VB, where that works, it calls the indexer in Bar (which re

[2016-03-06 19:12] glopesdev commented on #8064
@tmat I understand and agree that better collectible code generation is very desirable to really lift .NET into full scripting galore.

_However_, my point was that code generated by `Expression` trees _is already collectible today_ because of `DynamicMethod` ([see here](https://msdn.microsoft.com/en-us/library/system.reflection.emit.dynamicmethod.aspx)). No need to modify anything about the CLR r

[2016-03-06 19:37] tmat commented on #8064
@glopesdev I agree emitting expressions into Expression Trees would be beneficial for some scenarios, where the set of C# language features is limited to what ETs can represent today. However, there are many features that can't be represented purely in ETs, e.g. any feature that produces compiler-generated type (e.g. anonymous type, lambda closure, etc.).

[2016-03-06 19:48] glopesdev commented on #8064
@tmat agreed, support for collectible anonymous types and lambda closures would change the landscape of what's possible today with .NET scripting.

I hope this will be supported via a thin-layer around the CLR, like `DynamicMethod`.

[2016-03-06 20:03] HaloFour commented on #2144
So your facade exposes a bunch of "named indexable" properties each taking the same index and each returning a different value?

[code]

Why would that be better than having one normal indexer which returns an object containing all of the properties for that page?

[code]

Then you can pass all of the properties around without each consumer having to know/care about how they're indexed.

Your use

[2016-03-06 21:45] neofuji commented on #35
I think the problem can be solved by explicit `()`.
Because anonymous types cannot be constructed with `new()`.

Examples:
[code]

[2016-03-06 22:45] gafter commented on #35
@AdamSpeight2008 Not really, as this is a new proposed syntax form. It has no effect on overload resolution for existing code. However, the specification and implementation would likely be nearly as complex as the spec for the type of a lambda (where we have to essentially try every possibility to see what works).

[2016-03-06 23:40] diryboy commented on #7171
What would it be if `await?`ing a `Task<TStruct>` where `TStruct' is value type? Compiler error?

[2016-03-06 23:51] alrz commented on #7171
@diryboy I think this is related to #5032 whereas `await?` only makes sense for a nullable `Task` (or any other awaitable) since `Task<TStruct>?` still can be null in that case, therefore, the result would be a `TStruct?`.

[2016-03-07 00:00] alrz commented on #7171
That said, to be able to use `await?` on a generic `Task<T>?` it must be known at compile-time that `T` is a `class` or `struct` because as it currently specified `T?` is quite different when `T` is a reference type or it is a value type.

[2016-03-07 00:03] diryboy commented on #7171
@alrz Ok, so my question is not applicable here actually.

[2016-03-07 00:24] davkean commented on #9316
@jasonmalinowski Do you think this is the same cause that @TyOverby just fixed?

[2016-03-07 00:39] davkean commented on #9361
Dupe of https://github.com/dotnet/roslyn/issues/9308

[2016-03-07 00:39] #9361 closed

[2016-03-07 00:40] davkean commented on #9367
Dupe of https://github.com/dotnet/roslyn/issues/9308

[2016-03-07 00:40] #9367 closed

[2016-03-07 00:41] davkean commented on #9249
Dupe of https://github.com/dotnet/roslyn/issues/9308

[2016-03-07 00:41] #9249 closed

[2016-03-07 00:42] davkean commented on #9316
Dupe of https://github.com/dotnet/roslyn/issues/9308

[2016-03-07 00:42] #9316 closed

[2016-03-07 01:41] gafter commented on #9484
The root cause of this is https://github.com/dotnet/coreclr/issues/3542 . We can work around it in the Roslyn compilers.

[2016-03-07 02:32] gafter commented on #259
We have local functions lined up for C# 7 already done in the future branch, so I'm going to close this as done. If someone wants local type declarations, please open a separate issue for that.

[2016-03-07 02:32] #259 closed

[2016-03-07 05:51] JoshVarty commented on #8962
Alright I've finally got it.

Noah Falk from Microsoft helped me navigate the the debugger landscape and I followed [this tutorial](https://blogs.msdn.microsoft.com/jmstall/2005/02/19/3rd-parties-and-edit-and-continue-part-2-debuggers/) to generate the deltas.

My implementation is available [here on GitHub](https://github.com/JoshVarty/MinimalDebuggerForEnC/blob/4a2b3723c9f7997d0cc671a675fba8dd0b

[2016-03-07 06:50] hmemcpy commented on #8962
@JoshVarty this isn't directly related to your suggestion, but there are couple of more code bases you could look at, to maybe get some more ideas about EnC and/or debugger API:

1. [mdbg](https://www.microsoft.com/en-us/download/details.aspx?id=2282) - the Microsoft Debugging Sample: a reference implementation of a managed debugger, wrapping the Cor* APIs nicely.
2. [Wicca](http://www.cs.columbia

[2016-03-07 07:44] tmat commented on #8962
@JoshVarty So you're ok with having to attach the debugger? Note that only one debugger can be attached to a process.

[2016-03-07 08:08] timgoodman commented on #258
Is there any chance we could get a syntactic sugar for implementation-through-composition, like Jon Skeet suggests in his answer here?
http://stackoverflow.com/questions/255553/is-it-possible-to-implement-mixins-in-c

That would allow you to support default methods (putting the default implementation in its own class, e.g. DefaultIEnumerator) which the consumer of the interface opts in to by addin

[2016-03-07 08:38] timgoodman commented on #9330
I like the proposed positional deconstruction syntax.  I'm guessing the folks objecting to it or finding it confusing aren't familiar with pattern matching in other languages.  But adding pattern matching to C# is very high on a lot of people's wish lists (including mine).  A great thing about C# has been the willingness to add awesome features of other languages even if it means people had to lea

[2016-03-07 09:05] jcchalte opened #9520 "Difference in lambda construction/evaluation depending on subsequent usages"
**Version Used**: VS2015 Update 2 RC,  .NET 4.6.1

**Steps to Reproduce**:

We have some code related to Entity Framework which does not execute with the same behaviour at runtime on VS2015 in contrast to the exact same code compiled and executed with VS2013.

Our function is decomposed in 2 calls
The first call executes an Entity Framework query using multiple joins and retrieve relevant data in

[2016-03-07 11:03] DavidArno opened #9521 "Proposal: Implicitly cast lambdas to matching signature delegates"
Consider the following code example for invoking a method in the display thread for a winforms application:

[code]

Currently, this code won't compile and must be written in one of the following two ways:

[code]

The signature of the lambda can easily be determined at compile-time and thus it would be possible to implicitly cast it to `MethodInvoker` (or have the compiler generate the required e

[2016-03-07 12:36] jmecosta opened #9522 "MSBuildWorkspace run diagnostics only on selected files"
hi,

im creating a diagnostic runner based on MSBuildWorkspace, i would like to tell the analyser when i do

[code]

to report issues only on selected files. Now when i do

[code]

i get issues reported in all files in project.

is there something i can use to achieve this currently.

thanks in advance
jc

[2016-03-07 13:06] HaloFour commented on #9521
Why would the compiler cast that delegate to `MethodInvoker`?  The method doesn't accept a `MethodInvoker`, it accepts a `Delegate`.  There is no specific delegate that it requires since it invokes the delegate dynamically.  The issue is that the compiler has no idea what specific delegate to use without inference based on the target of the assignment and there is no signature equivalence of deleg

[2016-03-07 13:15] DavidArno commented on #9521
Ha, that'll teach me not to check the signature of `Invoke` properly. I thought I'd found a good example of what I was after. Back to the drawing board! :)

[2016-03-07 13:15] #9521 closed

[2016-03-07 14:31] bbarry commented on #9330
I'm not opposed to it either, I think it should be implicit for records and tuples and explicitly opted in via extension methods or something like that for other types. Further I think it should result in basically the exact same IL for deconstruction that property patterns do (there should be 0 runtime cost using this form vs property patterns).

[2016-03-07 14:33] paulomorgado commented on #7171
`??` is the **null coalescing operator**

[2016-03-07 14:34] HaloFour commented on #9520
You sure it's identical code in both places?  The only reason that I can think of that the second statement would result in the EF error trying to process the queryable is that the first statement isn't actually materialized and you're still working with the original `IQueryable<T>` at that point.  Like perhaps there are multiple paths and one of them isn't calling `ToList()`.  Without seeing the

[2016-03-07 14:40] HaloFour commented on #9330
@bbarry

Isn't that self-contradicting?  If decomposition is enabled by an extension method it would have to invoke different IL than a pattern property, namely a static method call, which would then proceed to populate it's `out` variables (or tuple return value) in any way that it saw fit.

[2016-03-07 14:43] MichaelKetting commented on #8800
Okay, the test machine used .NET 4.5.1 (v4.5.50938).
One build machine used MSBuild Tools 2015 (v14.0.23107.10) and a direct call to MSBuild.
The other build machine used Visual Studio 2015 Update 1 (v14.0.24720.00 Update 1)

A repro in .NET 4.5.2 wasn't done (yet) but I took away from this discussion that the fix is only in .NET 4.6 so the patch level of .NET 4.5 shouldn't matter.

[2016-03-07 15:44] jnm2 commented on #9330
Just addressing the casing issue: isn't the best of both worlds available? Property names should still be PascalCased and parameter names should still be camelCased. To match, the parameter name should be required to be identical to the property name but with the first character changed to lowercase.

No case-insensitivity necessary. I agree that it would be an unwanted cost to add insensitivity h

[2016-03-07 15:44] bbarry commented on #9330
Not necessarily. A `GetValues()` method isn't needed at all beyond the fact that it has a signature that provides a way to impose order on the relevant properties. This order could be derived for example from the `With()` method as I described above https://github.com/dotnet/roslyn/issues/9330#issuecomment-191834692

[2016-03-07 15:46] HaloFour commented on #9330
I threw together a little crappy microbenchmark comparing some different decomposition strategies.  Mileage may vary but here's the numbers it spits out for me:

Benchmark | Debug 32-bit | Debug 64-bit | Release 32-bit | Release 64-bit
---- | ---- | ---- | ---- | ----
Properties | 8.63 | 8.76 | 1.01 | 0.51
Instance `out` | 22.37 | 21.36 | 1.51 | 0.50
Instance tuple | 50.60 | 52.75 | 4.53 | 10.57
S

[2016-03-07 15:50] HaloFour commented on #9330
@bbarry What is the benefit of that over the argument names of the constructor?  Seems that it's still voodoo, it's just been moved to a different place and still requires new syntax with new grammatic rules beyond being a simple extension method.  How would those special `with` methods be represented by normal IL/C#?  Attributes?

[2016-03-07 15:54] jnm2 opened #9523 "Proposal: Nested local type declarations"
Extend the languages to support the declaration of types in block scope.

As per [gafter's instructions](https://github.com/dotnet/roslyn/issues/259#issuecomment-193063943). This would be a terrific feature for the same reasons as local functions: scoping, keeping together when moving, declaration closer to the usage.

[2016-03-07 15:57] bondsbw commented on #9515
@svick Why not then match on the backing field itself, instead of the event?

[2016-03-07 15:57] bbarry commented on #9330
Constructors that currently exist for types aren't necessarily one to one with properties on the type. I don't think anything special is necessary in applying that contextual keyword to the method signature other than applying those semantic rules to the method.

[2016-03-07 16:00] bbarry commented on #9330
That said I am not sure that specific syntax is a great idea; only that it is a possible way to achieve the functionality.

[2016-03-07 16:05] svick commented on #9515
@bondsbw If it's a field-like event (e.g. `public event EventHandler X;`), then you access the backing field by writing the name of the event (similar to get-only auto-properties in C# 6).

[2016-03-07 16:09] bondsbw commented on #9515
@svick Ok, didn't know that's what you were talking about.  I thought you were talking about custom `add`/`remove` mechanism with a separate backing field.

[2016-03-07 17:01] KevinH-MS commented on #7505
Sorry for the "dog ate my homework" excuse here, but the run results still aren't on the share where I'd expect.  I reached out to the RPS team to figure out what's up.  If I don't hear back this morning, I'll kick off another run.

[2016-03-07 18:04] DustinCampbell opened #9528 "Ctrl+Enter should commit IntelliSense"
This is a regression from Visual Studio 2013 in both VB and C#.

**Steps to Reproduce**:
1. Create a new Console App.
2. In Main(...), press Ctrl+J to bring up IntelliSense
3. Press Ctrl+Enter

**Expected Behavior**: The currently selected item is committed.

**Actual Behavior**: It's not. Edit.OpenLineAbove is invoked instead.

[2016-03-07 18:17] balajikris commented on #9454
For the record, couldn't do anything about the above failure (in mavasani's PR) as well, as it occurred in stabilization and my diagnostics are not in stabilization. waiting for something to happen in master and future.

[2016-03-07 18:21] shmao commented on #9483
@MaceWindu, thanks for explaining how you use the new CodeDOM provider. The package was shipped by ASP.Net team to [enable the new Roslyn compiler in ASP.NET applications](https://blogs.msdn.microsoft.com/webdev/2014/05/12/enabling-the-net-compiler-platform-roslyn-in-asp-net-applications/). The scenario where the CodeDOM provider is used in custom code generation was not considered as a main scena

[2016-03-07 18:23] UnoSD opened #9529 "Null conditional assignment operator"
Please consider this enhancement:

Any version:

Null conditional assignment:

Would be nice to have an operator to assign a value just when it's null:

[code]

[2016-03-07 18:31] #9046 closed

[2016-03-07 18:37] AlekseyTs opened #9530 "PatternVariableFinder is lacking explicit visibility modifier"

[2016-03-07 18:38] JoshVarty commented on #8962
Unfortunately it looks like the API requires a debugger to be attached. I have to set some JIT compiler flags when the module is first loaded and I'm not sure how I could do so without attaching the debugger. (It *might* be possible, but I'm not nearly familiar enough with the CLR to figure out how).

Anyways, it will still work for my use-case. We have full control over the process and we'll be t

[2016-03-07 18:38] bbarry commented on #9529
#205

[2016-03-07 18:40] AlekseyTs opened #9531 "PatternVariableFinder doesn't follow style conventions for field names"
Should also check other new fields introduced by/for Pattern Matching implementation.

[2016-03-07 18:41] jasonmalinowski commented on #9316
It's definitely plausible.

[2016-03-07 18:42] jasonmalinowski commented on #9316
It's definitely plausible. We had a hit yesterday in master but we didn't hook up the logging to that particular test so we can't say for certain either way. I have no problem with closing this.

[2016-03-07 18:44] #8815 closed

[2016-03-07 18:52] #9354 closed

[2016-03-07 18:53] axel-habermaier commented on #9515
What does it even mean to match a delegate? I don't recall delegate matching to be proposed so far. Did I miss something? Does it match the delegate's invocation list?

[2016-03-07 18:54] marek-safar commented on #9513
@gafter I know that's why I wrote the explanation suggesting this is design bug.

[2016-03-07 18:54] ManishJayaswal commented on #8936
@davkean @amcasey Do we need an exception for this till we move to 4.6.2 or is there a workaround we are looking to implement?

[2016-03-07 18:55] ManishJayaswal commented on #9275
@amcasey do you know if this is still an issue?

[2016-03-07 18:56] davkean commented on #8936
No exception - we're hitting this too many times. What's not linked here is all the failures we're hitting the signed builds.

Either you guys probably to figure out how to run tests without an isolated AppDomain.

[2016-03-07 18:58] amcasey commented on #9275
@ManishJayaswal I'm not aware of any changes in this area that would have resolved the problem.

[2016-03-07 19:07] ManishJayaswal commented on #8927
@drognanar FYI
I think we fixed this to be ctrl+E, ctrl+E.

[2016-03-07 19:07] #8927 closed

[2016-03-07 19:11] ManishJayaswal commented on #8926
@drognanar fixed this in #9190

[2016-03-07 19:11] #8926 closed

[2016-03-07 19:14] ManishJayaswal commented on #8724
@tannergooding is this still an issue?

[2016-03-07 19:16] HaloFour commented on #9523
I guess my question here is what kind of "local" types are we discussing?  Full-fledged types which just happen to be declared and scoped within a method block?  Anonymous implementations of an interface or parent type?  All of the above?  What are some specific use-cases?

From my experience with Java it seems that anonymous implementations are quite common (not even including functional interfac

[2016-03-07 19:21] jnm2 commented on #9523
Full-fledged types which just happen to be declared and scoped within a method block. I think anonymous implementations are another topic which apparently [won't happen](https://github.com/dotnet/roslyn/issues/13#issuecomment-1734132810 (bit sad about that).

One use case that I've had in mind is smart tuples, structs that are one step away from anonymous types but that implement an interface or h

[2016-03-07 19:57] HaloFour commented on #9523
Ok.  In my opinion, the biggest advantage to local types over nested types is the ability to enclose its parent scope.  The question is then how to deal with collisions/shadowing with that scope.

1.  Could you declare a field with the same name as a variable within the local type?
1.  If the local type inherits from a base class that exposes an accessible field what happens if there is already a

[2016-03-07 19:58] alrz commented on #7171
@paulomorgado What a surprise.

[2016-03-07 20:34] amcasey opened #9534 "[NFW] NRE in ITypeSymbolExtensions.IsEnumType"
Seen 4 times in 14.0.25*

[code]

Format is `DeclaringType::ReturnType Signature`.

[2016-03-07 20:37] amcasey opened #9535 "[NFW] NRE in RetargetingModuleSymbol+RetargetingSymbolTranslator.Retarget"
Seen 127 times in 14.0.25*

[code]
[code]
[code]
Format is `DeclaringType::ReturnType Signature`.

[2016-03-07 20:37] amcasey commented on #9535
FYI @AlekseyTs

[2016-03-07 20:39] tannergooding commented on #8724
@ManishJayaswal, I believe so.

[2016-03-07 20:39] amcasey commented on #7920
84 hits in 14.0.25*

[code]

[2016-03-07 21:05] huizhonglong commented on #9499
System.ArgumentException occurred
  HResult=-2147024809
  Message=Can't resolve analyzer reference: 'Unresolved: E:\Repos\code-cracker\packages\codecracker.CSharp.1.0.0-rc5-1047\analyzers\dotnet\cs\CodeCracker.Common.dll'.
  Source=Microsoft.CodeAnalysis.Workspaces.Desktop
  StackTrace:
       at Microsoft.CodeAnalysis.CommandLineProject.CreateProjectInfo(String projectName, String language, IEnum

[2016-03-07 21:24] ManishJayaswal commented on #8724
@tannergooding Ok, I will leave it on your plate then.

[2016-03-07 21:25] srivatsn commented on #9499
The issue here is that CommandLineProject.CreateProjectInfo() throws an exception when there's an invalid reference or analyzer that's passed in. Moving to IDE since they already have an internal bug tracking the change needed to fix this issue.

[2016-03-07 21:32] jnm2 commented on #9523
I see the rules as identical to nested types but with more limited scope:

1. Don't see why it would be helpful to restrict this to be different than nested types.
2. Need an example, not visualizing this one
3. Nested types don't have a reference to the containing type's `this`. I don't see how local types would be able to maintain a reference to the outer `this` either. It would be counter-intui

[2016-03-07 21:49] HaloFour commented on #9523
@jnm2

So you don't think that local types should enclose the scope of their parent method?  Why should local types be different than any other aspect of C# where lexical scoping is the norm?  Without lexical scoping I don't really see much point to local types at all.

[2016-03-07 21:54] kuhlenh opened #9538 "Installing the compilers NuGet package plus the CompilerExtension VSIX results in conflicts"
**Steps to Reproduce**:
1. Open an ASP.NET web app
2. Try to build

**Expected Behavior**:
Website builds with no errors.

**Actual Behavior**:
![image](https://cloud.githubusercontent.com/assets/1402694/13584475/a67ba722-e46b-11e5-84f8-e69a2569633a.png)

[2016-03-07 21:55] kuhlenh commented on #9538
@jaredpar for FYI because he also ran into this

[2016-03-07 21:55] HaloFour commented on #9523
To note, with local types I'd expect the following to work:

[code]

If local types also supported "hoisting" as local functions do I would expect that it would continue to work with `g` defined after `Local`.

[2016-03-07 21:59] jnm2 commented on #9523
If you think it's valuable, I won't argue with that.
What's the mechanism by which each instance of `Local` accesses a reference to the instance of `C`, since it's not injected through the ctor?

[2016-03-07 22:02] HaloFour commented on #9523
@jnm2

The same way local functions and lambdas do, the actual locals/fields/whatever are enclosed and promoted to fields on a state machine that is accessible to both the declaring method and the local type.

[2016-03-07 22:16] alrz commented on #9523
I think one compelling use case for this is to avoid methods like `Observable.Create ` and passing delegates which is not an attractive option at all,  though, I'd prefer anonymous local classes for that specific example.

[2016-03-07 22:29] jnm2 commented on #9523
@HaloFour Conceptually that makes sense but mechanically, what does `new Local()` get transformed to? `new CompilerGeneratedScope(this, new Local())`?

[2016-03-07 22:33] eyalsk opened #9539 "Proposal: Declarative approach to exception handling"
_disclaimer: I'm not a compiler guy so I have no clue what are the challenges (if any) to implement something like this as part of the language but I'm really curious and I would love to hear more about it from anyone in the community or the devs._

**TL;DR** _Can we come up with ways to declarative approach to do exception handling? meaning that when we read a method, exception handling isn't get

[2016-03-07 22:39] jmarolf commented on #9493
Dupe of https://github.com/dotnet/roslyn/issues/8178

[2016-03-07 22:39] #9493 closed

[2016-03-07 23:11] HaloFour commented on #9523
@jnm2

Possibly.  What the compiler does now for lambdas that enclose `this` or member access is that it emits a private nested type that has a field of that type and it assigns that field to `this`, then it just performs the member access directly.  Something like this:

[code]

I don't know if local functions did this differently, it was mentioned that they could silently insert `ref` parameters

[2016-03-07 23:26] davkean commented on #9469
What's going on with this?

[2016-03-07 23:47] jcouv commented on #7840
@AlekseyTs
The code you copied above doesn't match `SynthesizedFieldSymbolBase.AddSynthesizedAttributes` or its history.

Looking at the current code for that method and after the fix for #7809, `Compilation.TrySynthesizeAttribute` (called from `SynthesizeDynamicAttribute`) should now perform those checks and return null. So the attribute won't be added if the types aren't available or have a use-

[2016-03-07 23:49] KevinH-MS commented on #8736
Fixed by https://github.com/TyOverby/roslyn/pull/1

[2016-03-07 23:49] #8736 closed

[2016-03-08 00:14] gafter opened #9542 "Test code coverage of pattern-matching implementation."
The pattern-matching implementation started out as a prototype, and reflects a specification that is in flux; it is not in its final production-ready form. The implementation needs to be reviewed in detail against the final specification once it exists, and we should ensure we have code coverage of the relevant code paths of the implementation.

[2016-03-08 00:25] jmarolf opened #9544 "Roslyn Insertion Tool will checkout files that only have whitespace changes"
may be lib2gitsharp bug.

[2016-03-08 00:32] jcouv commented on #7809
Modified code per recommendation and verified.

[2016-03-08 00:32] #7809 closed

[2016-03-08 00:57] #9131 closed

[2016-03-08 01:08] mavasani commented on #9462
Fixed with https://github.com/dotnet/roslyn/pull/9502

[2016-03-08 01:08] #9462 closed

[2016-03-08 01:55] CnSimonChan commented on #7898
I also believe this is a dupe but I can only find this one so I post here.

--------

This problem also happens on `protected` constructors. When a class have two overloaded constructors like this one.

[code]

When typing `new ClassA(|`, IntelliSense will preselect `EnumA` but display there is no overload. But this problem doesn't happen on `DoSomething()` method.

--------

There is also a rever

[2016-03-08 02:34] eyalsk commented on #9330
It isn't crystal clear to me whether With(...) and GetValues(...) are methods that people need to implement or it's just methods that the compiler generates, can someone clarify that for me?

[2016-03-08 03:21] #7845 closed

[2016-03-08 03:59] heejaechang opened #9547 "[Test Failure] Individual TAO Test Failure in prtest/win/vsi/p0 on PR #651"
PR: [#651](https://github.com/dotnet/roslyn-internal/pull/651) *Merge stabilization into future-stabilization* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p0/173/

**1 Test Failures:**
BasicGoToDefinition.Go To Def opens in a provisional tab if document wasn't already open

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

BasicGoToDefin

[2016-03-08 04:00] heejaechang commented on #9547
@dotnet/roslyn-infrastructure is this known issue?

[2016-03-08 04:00] heejaechang opened #9548 "[Test Failure] Individual TAO Test Failure in prtest/win/vsi/p2 on PR #651"
PR: [#651](https://github.com/dotnet/roslyn-internal/pull/651) *Merge stabilization into future-stabilization* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p2/174/

**1 Test Failures:**
CSharpGotoDefinition.Go To Def opens in a provisional tab if document wasn't already open

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

CSharpGotoDef

[2016-03-08 04:00] heejaechang commented on #9548
@dotnet/roslyn-infrastructure is this known issue?

[2016-03-08 04:04] davkean commented on #9548
It looks like: https://github.com/dotnet/roslyn/issues/6863

[2016-03-08 04:04] #9548 closed

[2016-03-08 04:04] davkean commented on #9547
It looks like: https://github.com/dotnet/roslyn/issues/6863

[2016-03-08 04:04] #9547 closed

[2016-03-08 04:05] davkean commented on #6863
We're seeing this in more runs. Both CSharp and VisualBasic go to definition failed in above linked.

[2016-03-08 04:08] davkean commented on #6863
Given both failed in the same run - this can't be a coincidence.

[2016-03-08 04:13] davkean commented on #5212
Removed "Approved for Next Preview".

[2016-03-08 04:41] tmat commented on #8962
If you have full control over the process that you're good. I assume though that you won't be placing breakpoints, right?

How are you building the base binary and pdb for the project? Invoking regular build action on the solution?

First you'll need the initial baseline. That requires access to the .dll and the .pdb. You can use helpers from http://source.roslyn.io/#Roslyn.Test.PdbUtilities/Pdb/S

[2016-03-08 04:52] JoshVarty commented on #8962
Nope, no breakpoints.

Right now we're not using the regular build action. We're calling `Compilation.Emit` directly. (This means any special post-build tasks like IL weaving/rewriting are ignored). Currently we emit into memory and load that directly into an `AppDomain` to avoid hitting disk.

If you'd like I can work on this and submit a PR where we can discuss what needs to be made public. Once

[2016-03-08 04:55] tmat commented on #8962
I don't think anything needs to get public atm. You should copy the PDB helpers for now.

Not sure I understand. Are you building the project directly in the process that's running it?

[2016-03-08 05:03] heejaechang opened #9549 "[Test Failure] TestGenerateEventInCSharpFileFromImplementsWithType in prtest/win/dbg/unit32 on PR #649"
PR: [#649](https://github.com/dotnet/roslyn-internal/pull/649) *Merge stabilization into master* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_unit32/741/

another cross language test failure

[2016-03-08 05:03] JoshVarty commented on #8962
Do you think producing the `SemanticEdit` is feasible without opening up `AbstractEditAndContinueAnalyzer` or the `TreeComparer` classes? That's the part I'm most worried about.

Another question: Can we just ignore PDBs? Currently we're not emitting them as we're not setting breakpoints. The CLR's EnC API doesn't seem to require PDBs either.

Today we are, but we'll have to change our implementat

[2016-03-08 05:04] heejaechang opened #9550 "[Test Failure] RenamingCompilerGeneratedDelegateTypeForEventCascadesBackToEvent_1 in prtest/win/dbg/unit64 on PR #649"
PR: [#649](https://github.com/dotnet/roslyn-internal/pull/649) *Merge stabilization into master* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_unit64/746/

[2016-03-08 05:05] heejaechang opened #9551 "BasicIntellisense fails in ETA."
PR: [#648](https://github.com/dotnet/roslyn-internal/pull/648) *Merge master into future* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_eta/741/

**3 Test Failures:**
BasicIntellisense.Signature help shows up
SplitFile.VB keyword highlighting
SplitFile.C# Formatting

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

BasicIntellisense.xml

[2016-03-08 05:07] CnSimonChan opened #9552 "Async methods may break debugger in special situation"
**Version Used**:

Visual Studio 2015 Update 1

**Steps to Reproduce**:

1. Create a project with following code:

        static int MethodUsesLambda(Func<int> action) => action();

        static async void Do()
        {
            {
                var a = 1;
                var b = 1;
                System.Diagnostics.Debugger.Break();
            }

            {
                var a = 1;

[2016-03-08 05:36] #8470 closed

[2016-03-08 07:25] #8756 closed

[2016-03-08 07:25] #8516 closed

[2016-03-08 07:25] #8754 closed

[2016-03-08 07:28] heejaechang opened #9553 "[Test Failure] All WPF access got failed in prtest/win/dbg/eta on PR #648"
PR: [#648](https://github.com/dotnet/roslyn-internal/pull/648) *Merge master into future* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_eta/744/

exception from all over the places when WPF try to access UIElement from UI thread. it claims elements are already owned by different threads.

[2016-03-08 08:21] orthoxerox commented on #9330
@eyalsk You can implement them yourself if you need them, records will implement them for you, the open question is whether any other classes should get them for free or not.

[2016-03-08 09:11] jasonwilliams200OK opened #9554 "Design-time builds should not lock tasks coming from packages"
**Steps to Reproduce**:

1. Open a project in VS2015 which has dependency on `Microsoft.Bcl.Build.Tasks.dll`.
2. Build the project and keep the project opened.
3. While the project is still opened in VS after the build, open cmd and cd into the solution directory and run `rmdir /s/q packages` (or PowerShell's `rm -r -fo packages`).
  * Alternatively, if the project is under git SC, run `git clean

[2016-03-08 09:45] jmarolf opened #9555 "[Build Failure] PGO failed in prtest/win/vsi/p2 on PR #634"
PR: [#634](https://github.com/dotnet/roslyn-internal/pull/634) *Only log formatting events in telemetry when they are enacted by the …* by @jmarolf
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p2/179/

01:16:55 EXEC : error : the following exception was thrown while processing profile data [d:\j\workspace\roslyn-intern---c8b69d52\Open\src\EditorFeatures\Core\3qkrx0rd.t

[2016-03-08 10:24] jmarolf opened #9556 "[Test Failure] Visual Studio Timed Out Running CSharpSnippets.xml in prtest/win/vsi/p3 on PR #634"
PR: [#634](https://github.com/dotnet/roslyn-internal/pull/634) *Only log formatting events in telemetry when they are enacted by the …* by @jmarolf
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p3/192/

**Issue 1: Visual Studio Timed Out**
Visual Studio Timed Out

**File1 Before Opening File2**
![image](https://cloud.githubusercontent.com/assets/9797472/13598700/2b7db45

[2016-03-08 10:38] jmarolf opened #9557 "[Test Failure] Individual TAO Test Failure in prtest/win/vsi/p1 on PR #634 (Venus)"
PR: [#634](https://github.com/dotnet/roslyn-internal/pull/634) *Only log formatting events in telemetry when they are enacted by the …* by @jmarolf
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_vsi_p1/173/

**1 Test Failures:**
BasicVenus.Generate Type Into App_Code Folder

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

BasicVenus.xml

[code]

[2016-03-08 12:31] DavidArno opened #9558 "Please improve the documentation around which proposed features are on which branch"
Currently, we have a `future` branch a collection of `features/*` branches, each of which implement one or more proposed features for C# 7. It's possible to follow the instructions on the [Building Testing and Debugging](https://github.com/dotnet/roslyn/wiki/Building-Testing-and-Debugging) page to download and build one of these branches and then run Visual Studio to test them. However, not all br

[2016-03-08 13:43] Suchiman opened #9559 "Inline temporary variables doesn't handle anonymous types correctly"
**Version Used**: VS2015.1

**Steps to Reproduce**:

1.
[code]
2. Place cursor at $
3. Press CTRL + . and choose `Inline temporary variable`

**Expected Behavior**:
[code]

**Actual Behavior**:
[code]

[2016-03-08 14:30] svick commented on #9523
@HaloFour Lambdas can only be passed around as delegates (object reference and `MethodInfo` pair), which makes referencing the closure easy. But types can be passed as generic type parameters or `Type`, which don't have anything like that.

Imagine the following methods:

[code]

And I tried using them with your `Local`:

[code]

Would that work? If yes, how? If not (because `Local` wouldn't actua

[2016-03-08 15:08] HaloFour commented on #9523
@svick

That is an excellent point.  In Java a local class can never have a parameterless constructor.  It always accepts at least the instance of the parent type as an argument, even if it never uses it, as well as other enclosed variables.

I don't think that lexical scoping would be possible unless the constructor of the local type can be automatically modified by the compiler to accept the enc

[2016-03-08 15:51] bkoelman commented on #9522
You can filter the results on `diagnostic.Location.SourceTree.FilePath`.

[2016-03-08 16:01] jmecosta commented on #9522
Yes that what I do, however I would like to avoid the overhead of analysing
all the projects in files in the project

On Tue, 8 Mar 2016 17:52 Bart Koelman, <notifications@github.com> wrote:

[2016-03-08 16:19] bkoelman commented on #9554
I've seen such locks also in the past. Not with this specific assembly, but others in the packages folder. Even after VS closes or has crashed. I guess the hanging lock is caused by the out-of-process compiler server.

[2016-03-08 16:23] davkean opened #9565 "RenameMoveNextInVBToUpperCaseOnlyCausesConflictInCSForEach failing"
Branch: Master
Build: http://dotnet-ci.cloudapp.net/job/roslyn_master_win_dbg_unit32/922/testReport/junit/Microsoft.CodeAnalysis.Editor.UnitTests.Rename.CSharp/ImplicitReferenceConflictTests/RenameMoveNextInVBToUpperCaseOnlyCausesConflictInCSForEach/

[code]

[2016-03-08 16:24] davkean opened #9566 "RenameCrefCrossAssembly_VisualBasic failing"
[code]

[2016-03-08 16:25] davkean opened #9567 "AddMissingReference.AddMissingReferenceTests.AddProjectReferenceBetweenMixedLanguages2 failing"
http://dotnet-ci.cloudapp.net/job/roslyn_master_win_rel_unit32/920/testReport/junit/Microsoft.CodeAnalysis.Editor.UnitTests.Diagnostics.AddMissingReference/AddMissingReferenceTests/AddProjectReferenceBetweenMixedLanguages2/

[code]

[2016-03-08 16:29] davkean opened #9568 "Bug529989_RenameCSharpIdentifierToInvalidVBIdentifier failing"
http://dotnet-ci.cloudapp.net/job/roslyn_future_win_dbg_unit32/lastCompletedBuild/testReport/Microsoft.CodeAnalysis.Editor.UnitTests.Rename/RenameEngineTests+VisualBasicConflicts/Bug529989_RenameCSharpIdentifierToInvalidVBIdentifier/

[code]

[2016-03-08 16:29] jasonwilliams200OK commented on #9554
Agree there are others as well. That's why I keep one instance of PowerShell running to execute `kill -name devenv; kill -name msbuild; git clean -xdf; ./SolutionName.sln` every now and then. devnenv and msbuild are two processes holding the assembly handles. In my experience, for 95+% of cases it is `Microsoft.Bcl.Build.Tasks.dll` in use.

[2016-03-08 16:30] davkean commented on #9565
https://github.com/dotnet/roslyn/issues/9565, https://github.com/dotnet/roslyn/issues/9566 and https://github.com/dotnet/roslyn/issues/9568 all look related.

[2016-03-08 16:30] davkean commented on #9566
https://github.com/dotnet/roslyn/issues/9565, https://github.com/dotnet/roslyn/issues/9566 and https://github.com/dotnet/roslyn/issues/9568 all look related.

[2016-03-08 16:30] davkean commented on #9568
https://github.com/dotnet/roslyn/issues/9565, https://github.com/dotnet/roslyn/issues/9566 and https://github.com/dotnet/roslyn/issues/9568 all look related.

[2016-03-08 17:09] davkean commented on #9369
We should make sure that stabilization publishes to its own feed.

[2016-03-08 17:10] tannergooding commented on #9369
Stabilization is already publishing to its own feed. I fixed this last week: https://www.myget.org/feed/Packages/roslyn-stabilization-nightly

[2016-03-08 17:20] tannergooding commented on #3929
This was resolved with PR #9374

[2016-03-08 17:20] #3929 closed

[2016-03-08 17:27] dpoeschl commented on #9567
@davkean Another xlang bug that you can probably get rid of now.

[2016-03-08 17:38] HaloFour commented on #9539
I don't see why moving the exception handling outside of the method would make it easier to read.  If anything it makes it more complicated since you then have to discern how the compiler might wire up the different handlers and then actually follow the handlers to where they perform their action.  This type of syntax also completely precludes the ability to use exception filters (`when`) or patte

[2016-03-08 17:39] DustinCampbell commented on #9559
This is already fixed in Update 2. It was fixed with this PR #6432 as part of fixing #6306.

[2016-03-08 17:39] #9559 closed

[2016-03-08 17:46] Pilchie commented on #6821
Fixed (in stabilization) by #9208.

[2016-03-08 17:46] #6821 closed

[2016-03-08 18:10] jasonmalinowski opened #9572 "Ordering between GFU and Rename tracking is incorrect"

[2016-03-08 18:11] whoisj commented on #9539
The one use-case I could see here is not having to write repetitive `catch` clauses.

Too often I see this repeated ad nauseum `try { .. } catch (Exception e) { Log(e); throw; }` perhaps a way to add a handler at a higher level could make for less boiler plate? Would like obscure intent however.

[2016-03-08 18:12] jasonmalinowski commented on #9568
This is a dupe of #9308.

[2016-03-08 18:12] #9568 closed

[2016-03-08 18:12] jasonmalinowski commented on #9565
This is a dupe of #9308.

[2016-03-08 18:12] #9565 closed

[2016-03-08 18:12] jasonmalinowski commented on #9566
This is a dupe of #9308.

[2016-03-08 18:12] #9566 closed

[2016-03-08 18:13] jasonmalinowski commented on #9567
This is a dupe of #9308.

[2016-03-08 18:13] jasonmalinowski commented on #9550
This is a dupe of #9308, since that PR doesn't yet include the public side changes.

[2016-03-08 18:13] #9550 closed

[2016-03-08 18:14] jasonmalinowski commented on #9549
This is a dupe of #9308 since the internal build didn't have the public changes that would fix the flakiness issue.

[2016-03-08 18:14] #9549 closed

[2016-03-08 18:26] heejaechang opened #9573 "[Test Failure] Test Failures in prtest/win/dbg/unit64 on PR #9560"
PR: [#9560](https://github.com/dotnet/roslyn/pull/9560) *Merge master into future* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4921/

**2 Test Failures:**
Microsoft.CodeAnalysis.Editor.VisualBasic.UnitTests.Diagnostics.GenerateEvent.GenerateEventTests.TestGenerateEventForRemoveEventMultiLineLambdaIntoCSharp
Microsoft.CodeAnalysis.Editor.UnitTests.Rename.Rena

[2016-03-08 18:49] #7700 closed

[2016-03-08 18:51] #9567 closed

[2016-03-08 19:23] VSadov commented on #8800
From what I see, we have a case where there is a snippet in your code that when compiled with Roslyn compiler, hits a bug in JIT64 in 4.5

This kind of bugs are typically not contextual. The surrounding 100Mb of code is most likely irrelevant, but there is a convoluted combination of  try/catch/switch/goto or some other control flow that is supposed to operate with ThreadAborts and which causes th

[2016-03-08 19:27] CyrusNajmabadi opened #9575 "Generate constructor offered when trying to actually generate on overloaded method."
I had this code:

[code]

Note that i'm in a method called ```IsCompatible``` and i'm trying to generate a *new* overload of this method (with one less parameter).

Expected: I get offered generate method.

Action: I get offered generate constructor and generate method.  Generate constructor is also *above* generate method really breaking muscle memory:

![image](https://cloud.githubusercontent.co

[2016-03-08 19:45] mavasani opened #9576 "NRE during inline rename session at Microsoft.CodeAnalysis.Shared.Utilities.AbstractSpeculationAnalyzer`9.EnsureReplacedExpressionAndSemanticRoot"
**Version Used**:
1.02.0.60227 of Roslyn binaries from Stabilization branch - unfortunately the symbols have been deleted for this drop but probably call stack is sufficient?

**Steps to Reproduce**:
I hit this crash while attempting to rename a type in Roslyn.sln, and mistakenly typing the same name as an existing type. I don't have repro steps.

**Dump**: `\\<%internal_share%>\public\mavasani\Re

[2016-03-08 20:18] #9484 closed

[2016-03-08 20:54] agocke commented on #9381
This has been resolved. M.C.C has a dependency in `-rc` on System.Reflection.Metadata 1.2.0-rc3-23811, which has been uploaded to NuGet.

[2016-03-08 20:54] #9381 closed

[2016-03-08 20:55] jmarolf commented on #9557
[code]

[2016-03-08 20:56] agocke commented on #9381
Note: stabilization has a dependency on `-rc2-23826`, which is also on NuGet.

[2016-03-08 21:29] TyOverby commented on #6863
This is happening in at least `stabilization` and `future-stabilization`

[2016-03-08 21:31] TyOverby commented on #8936
This is happening in at least `stabilization`

[2016-03-08 21:33] TyOverby commented on #9454
This is occurring in at least `future`

[2016-03-08 21:33] tmat opened #9579 "Insert System.Reflection.Metadata 1.2.0"

[2016-03-08 21:34] tmat opened #9580 "Insert System.Reflection.Metadata 1.2.0"

[2016-03-08 21:47] davkean commented on #9096
Have we made any progress on this front?

[2016-03-08 21:54] AlekseyTs opened #9581 "A missing definite assignment error for a 'using' local."
[code]

Observed:
No errors or warnings.

Expected (VS2013 behavior):
[code]

[2016-03-08 22:38] bondsbw commented on #9539
I could see something like this being useful for reusable exception handling.  In the following example I reuse an exception handler.  I tweaked the syntax a bit, to exception handler classes instead of methods.

[code]
The latter example shows how you could chain exception handlers if you wanted to handle multiple types of exceptions, or if you wanted multiple handlers for different purposes for

[2016-03-08 22:40] eyalsk commented on #9539
@HaloFour

Well, it depends what you read so I don't really understand why would it make things more complicated...

I mean if you're trying to understand what a method does then exception handling isn't part of what the method does and when I'm reading a method I don't really care how it handles exceptions.

If you do care about exception handling then you can easily read the method responsible f

[2016-03-08 22:41] bondsbw commented on #9539
The only question I'd have is how to `throw` after the exception is handled.  If you specify the behavior it in the `try using` clause (e.g. `try using ExceptionLogger throw`) you would only get one behavior or the other.  The handler signature could be updated to return an enumeration that specifies the behavior instead of void:
[code]
Or maybe go so far as to have a special syntax sugar:
[code]

[2016-03-08 22:43] #9258 closed

[2016-03-08 22:51] HaloFour commented on #9539
How a method handles its exception is exactly part of what that method does.  Even if it's reusing some logic from elsewhere, the method has to opt-into doing it, and nothing stops you from calling some reusable method in your exception handler now.

Any syntax that you could propose would be significantly crippled compared to proper exception handling.  You immediately lose all of the scoping tha

[2016-03-08 22:57] #6809 closed

[2016-03-08 22:57] #9158 closed

[2016-03-08 23:07] kuhlenh opened #9582 "Code Style: Introduce "suggestion" or "hint" classifications"
Right now you can classify options with Error, Warning, or Info. Let's introduce a Suggestion or Hint that will help developers learn alternate ways of doing things.

From interviews with developer leads, this is especially helpful for junior developers.

[2016-03-08 23:09] eyalsk commented on #9539
@HaloFour sometimes you need to lose something to gain something else, this isn't replacements for all scenarios or removal of the try/catch block, just like you don't use the using statement for no reason, you won't be using it when it's not necessary.

_If your exception handler is doing so little that this functionality fits the bill then you're probably doing exception handling wrong anyway._

[2016-03-08 23:23] HaloFour commented on #9539
Logging and rethrowing is an anti-pattern (and something that this feature can't even accomplish due to the inability to use the IL opcode `rethrow`).  I also agree that long-winded exception handlers are a bad practice.  I don't do either.  My exception handlers are almost exclusively limited to throwing a new exception that better explains *why* something went wrong.  Said exception handlers are

[2016-03-08 23:35] tmat opened #9585 "Reimplement GenerateSatelliteAssemblies to support deterministic build and x-plat"
GenerateSatelliteAssemblies uses AL (assembly linker) task to build satellite assemblies.

The resulting dlls are non-deterministic (timestamp, mvid) and the task is not x-plat. We should provide a task based on System.Reflection.Metadata that is both deterministic and x-plat.

[2016-03-08 23:35] tmat commented on #9585
@jaredpar FYI

[2016-03-08 23:55] royog commented on #7034
Awesome! I just installed **VS 2015 Update 2 RC**, and the **SynchronizeClassView** functionality is **_indeed working_** in this release as you have indicated.

Thank you Dustin!

I'd love to see that <-- over --> icon on top of the Class View window someday ... just like the one on the top of the Solution Explorer window. I'm sure lots more devs would use it (and know it existed) if it were prom

[2016-03-09 00:17] eyalsk commented on #9539
@HaloFour fair enough, I agree with most of what you wrote but logging and rethrowing _sometimes_ make sense iff we can't catch the information farther in the stack but yeah, even in this case we can throw a new a exception and pass the current one as an inner exception and finally log everything in a centralized place so I guess we're in agreement on this.

What _really_ bothers me with the curre

[2016-03-09 00:33] KevinH-MS commented on #7505
Okay, I've reset two tests (both C# Desktop and Web) several times, and I've convinced myself that this no longer leads to a clear increase in VM usage.  Please feel free to revert my revert. :+1:

[2016-03-09 00:36] balajikris commented on #9454
@TyOverby could you please link me to the failure, i dont see any here: https://github.com/dotnet/roslyn/pulls

[2016-03-09 00:56] AArnott commented on #9096
I sure hope so, because @ilyabiryukov is wrapping up his work to solve the problem on our side.

[2016-03-09 00:58] davkean commented on #9096
Clearly you need to leave room for bugs?

[2016-03-09 01:08] ManishJayaswal commented on #9096
I believe @ilyabiryukov was working on moving the types we know were causing issues into immutable assembly. This work is to identify all dependencies so that we can evaluate if more types need to be moved or we need to work around the fact that they can not be moved.

[2016-03-09 01:18] amcasey commented on #4516
@jmarolf Is this still true?

[2016-03-09 01:23] jmarolf commented on #4516
I don't know what this means nuget packages can't be signed.  are their contents unsigned?

[2016-03-09 01:44] davkean opened #9589 "RPS and Jenkins should be isolated from Elfie database updates"
We download package database in the background inside Visual Studio. This leads to non-deterministic results in test runs and performance runs. We should prevent this.

[2016-03-09 01:45] davkean commented on #9589
tag @jaredpar @CyrusNajmabadi

[2016-03-09 02:09] gafter commented on #9005
[code]

How is the parser supposed to know what to parse as a pattern and what to parse as an expression?

[2016-03-09 02:12] HaloFour commented on #9005
@gafter Input parameters are expressions, output parameters are patterns.

[2016-03-09 02:21] alrz commented on #9523
If we simply don't have a *name* for the local class, then it's impossible for a user to fall into those confusions. Basically, an anonymous type declaration instead of a local type declaration. In @HaloFour 's example, the `Local` name is just referenced once, so why do you need to name it? And if so, I think existing nested classes are good enough for that use case. In F# we do have object expre

[2016-03-09 02:27] HaloFour commented on #9523
@alrz Without a name how could you create one outside of a combined declaration/initialization?  I think that would fall under #13 and that hasn't gone over well.

[2016-03-09 02:28] alrz commented on #9539
Related: #4890

[2016-03-09 02:36] alrz commented on #9523
@HaloFour #13 syntax doesn't make sense to me, it actually does combine declaration and initialization. I'm talking about (Java) anonymous classes.  For parsing issue I could think of `new class B()` because I can't imagine any use case that you would need to combine object initialization and class declaration.

[2016-03-09 03:13] gafter commented on #9005
@HaloFour And how is the *parser* supposed to know which is which when it is parsing a pattern-match, e.g.

[code]

See, the first one is an invocation expression so when we look-up `M` we skip types and only look at things that are invocable. Of course it would be a syntax error if there were a bare `*` between the parens, as that isn't an expression. The second one is a pattern, so it looks up a

[2016-03-09 03:15] HaloFour commented on #9523
@alrz The "explicit" syntax of #13 is pretty much exactly Java anonymous classes except with C# syntax.  If you're going to declare the local type but use it elsewhere you'd still need to name that type, otherwise how would you instantiate it?

[2016-03-09 03:33] alrz commented on #9523
@HaloFour While you declaring it?
[code]

[2016-03-09 03:33] HaloFour commented on #9005
@gafter I see.  I don't know how to answer that question.

Reading that statement in my head it could have so many different inflections that it's a little difficult for my parser to determine your intent.  (see what I did there? :smile:)  If said unification could lead to more interesting scenarios with pattern matching then I could see that being worth it, but I have no idea what that would enta

[2016-03-09 03:45] davkean commented on #9454
Another hit count: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_dbg_eta/4891/

[2016-03-09 03:46] davkean commented on #9551
Split file is dupe of https://github.com/dotnet/roslyn/issues/9454

[2016-03-09 03:46] davkean commented on #9454
And another: https://github.com/dotnet/roslyn/issues/9454

[2016-03-09 03:50] alrz commented on #9005
@gafter But only constant expressions are allowed inside patterns. Currently as specified, closest expression that you can use in a pattern is a *constant-expression* (via *constant-pattern*) right? So I assume same would apply to an "extension pattern",
[code]
All input parameters must be a constant. Quoting yourself from #5811:

[2016-03-09 03:53] balajikris commented on #9454
wonderful, let there be dumps!

[2016-03-09 05:44] Thaina opened #9595 "Please support generic constraint for hasA"
Suppose we have a DotProduct function for Vector3

[code]

But we have another class which contain float X,Y,Z.

[code]

And we just want to reuse DotProduct without the need to create new Vector3

So I think C# should support a function that could take generic and constraint with hasA style not only isA style

I mean normally generic constraint will only use `where T : SomeType`. I think in addit

[2016-03-09 06:03] benhongh commented on #2136
Why is #161 (Destructible Type) in both "Some Interest" and "Probably Never" buckets?

[2016-03-09 06:11] AArnott commented on #9096
Well if you have any more types you need moved please let us know ASAP.

[2016-03-09 06:21] ufcpp commented on #2136
@benhongh
in https://github.com/dotnet/roslyn/blob/30433ecabc62c7f1edf0025e65a97fc36dfdb692/docs/designNotes/2015-02-11%20C%23%20Design%20Meeting.md

[2016-03-09 07:31] Ytrog commented on #174
If I understand correctly this proposal is a bit like defmacro in Common Lisp. Or is this more like inline T4?

[2016-03-09 08:29] dpoeschl opened #9596 "The presence of a Priority Low fix causes ExtensionOrdering amongst Medium Priority fixes to be violated"
http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p2/415/artifact/Open/Binaries/Release/VSIntegrationTestLogs/CSharpCodeActions.html

Rename Tracking is still provided, and the ordering between it and Generate Type wrong:

![image](https://cloud.githubusercontent.com/assets/235241/13629372/8bc65080-e58d-11e5-9502-93fd59af571f.png)

Original fix ordering based on extension order:

- Fi

[2016-03-09 08:40] dpoeschl opened #9597 "Fuzzy Add Using in C# adds redundant namespaces (when behaving only as SpellCheck)"
![image](https://cloud.githubusercontent.com/assets/235241/12434910/b972b83e-bebe-11e5-94de-eb540adbb3d5.png)

[2016-03-09 08:40] dpoeschl commented on #9597
FYI @CyrusNajmabadi

[2016-03-09 08:40] svick commented on #9595
This looks like a variant of structural typing (#7844, #2146) and I'm pretty sure it would require CLR support (#420).

[2016-03-09 09:03] orthoxerox commented on #9595
@svick this feature doesn't necessarily require CLR support to work (F* has dependent types and effects without CLR support), but CLR support is necessary to avoid type erasure.

[2016-03-09 09:12] dpoeschl commented on #8412
@jmarolf - You fixed a bunch of these before, and it didn't repro for me when I tried it last. Does this look like one of the ones you fixed?

[2016-03-09 09:15] Thaina commented on #2146
I would prefer that we could alias and cast or check for a group of type than making new implicit interface

For solving your problem it would better if we just

[code]
[code]
[code]

Syntax is `(type,type)` or maybe `(type & type)` and `(type | type)`

But it would require CLR support

[2016-03-09 09:15] dpoeschl commented on #7660
I checked in a suspicious check to see if this is happening because of some caching problems. https://github.com/dotnet/roslyn/pull/9319

If that's not the cause, then it's back to the drawing board on all of the `GetLineNumberFromPosition` bugs.

[2016-03-09 09:15] dpoeschl commented on #7660
Moving to 1.3 to revisit this once we have some real world data from the 1.2 release.

[2016-03-09 09:16] dpoeschl commented on #9460
No build artifacts. :crying_cat_face:

[2016-03-09 09:17] dpoeschl commented on #9460
Please reopen the next time this happens and we have build artifacts. For now I don't see anything actionable in just the log.

[2016-03-09 09:32] dsaf commented on #9539
The suggestion(s) are not declarative but are pretty imperative by the way. Declarative is something like this:

[code]

Java's ```throws``` also comes to mind.

[2016-03-09 09:49] Thaina commented on #6505
As for this
[code]

Can we just make it like [Kotlin language](https://kotlinlang.org/docs/reference/typecasts.html) that, in any block which contain `is` type checking, that variable will transform to that type in and only in that block

[2016-03-09 11:15] svick commented on #9595
@orthoxerox If type erasure was used, how would the generated IL actually access the members? Using  `dynamic`?

[2016-03-09 11:17] tvsonar opened #9599 "[Proposal] Extend nameof to handle non visible members too"
This is a proposal to extend `nameof` to handle inaccessible members. There are similar proposals to include the full name of the referenced construct with namespaces, so ideally the syntax should support all these extensions.

Given the following code, the test is not resilient to changes to the private member name.
[code]

However, with minimal changes to `nameof`, we could write something like

[2016-03-09 11:49] svick commented on #9599
The problem I have with this is that it effectively makes names of *private* members part of the *public* contract.

Another problem is that it would mean that referencing a reference assembly and referencing an implementation assembly suddenly start behaving differently.

Also, I don't think the language should make unsupported operations easier (even if they are sometimes necessary).

[2016-03-09 12:26] HaloFour commented on #6505
@Thaina

That would be a breaking change since existing code which performs comparisons like this might find the compiler resolving different members or overloads using the variable.

[2016-03-09 12:38] eyalsk commented on #9539
@dsaf it depends how you look at it.

The declarative part is really the point where you don't need to provide catch statements as a control flow, you just need provide the method that handles it, so in that sense you specify _what_ you want to catch and let the compiler deal with _how_ to structure it.

_In computer science, declarative programming is a programming paradigm—a style of building th

[2016-03-09 13:09] gregsdennis commented on #2146
@Thaina, I think your idea is good.  I like the idea of declaring the shorthand in the using statement.

I think the `(type | type)` syntax would explain the concept better in code.  It is literally "this or that type."

[2016-03-09 13:40] dsaf commented on #9539
Some alternatives for discussion.

Monadic form implementable today:

[code]

Minimal try-catch syntax extension:

[code]

Same refactored with ```using```:

[code]

[2016-03-09 13:47] HaloFour commented on #2146
The `(A, B)` syntax is proposed for tuples.  I like `(A & B)` since the intersected type would have to implement both interfaces.  The concept of `(A | B)` is interesting, a type that implements either interface and the consumer can only access shared members. Java does have limited typing like this in exception handlers, e.g. `catch (IOException | SQLException exception) { }`.

I wonder how much

[2016-03-09 13:57] eyalsk commented on #9539
@dsaf I actually love the suggestions because it kinda solve most of the things @HaloFour was speaking about.

The syntax is much more terse and nice to work with.

Here are few more ideas based on your suggestions:
[code]
Here is one more suggestion:
[code]

[2016-03-09 14:04] gregsdennis commented on #2146
@HaloFour, you are correct: the desired syntax for this should be `(A & B)`.  (Early morning; brain not booted.)

[2016-03-09 14:09] HaloFour commented on #9539
Adding expression-bodies to more statements has already been brought up and the LDM stated that they didn't desire to do so outside of method bodies, so I don't think that `catch (Exception exception) => expression` is likely to be considered.

Relevant comment:  https://github.com/dotnet/roslyn/issues/7881#issuecomment-191885743

I don't really see what the rest of that syntax buys over what you

[2016-03-09 14:09] DavidArno commented on #9599
I 100% agree with @svick. In my opinion this would severely damage the ability to encapsulate the inner workings of a class.

The test should never, have been written in the first place. Tests should only ever access public APIs; they should never directly access any inner workings of an assembly or class.

[2016-03-09 14:15] eyalsk commented on #9539
@HaloFour Well, it the same reason why we have expression bodies on methods, it makes the syntax terse and more pleasant.

I see the point I guess, having too much of these can do the exact opposite.

[2016-03-09 14:19] jnm2 commented on #9523
@alrz What you are describing is exactly the topic of #13. I'd like to differentiate this topic (allowing types to be locally scoped) from that one (anonymous implementation types).

[2016-03-09 14:22] dsaf commented on #9539
I am personally only using expression bodies on truly one-liner methods - sparingly.

[2016-03-09 14:27] dsaf commented on #9539
@HaloFour curly brackets could be made optional without expressions. Although I am neutral on that matter. I think Microsoft's guideline enforces curly brackets even on ```if-else``` statements.

[2016-03-09 14:31] tvsonar commented on #9599
@DavidArno I understand that private methods should not be directly tested, and all tests should operate on the public interface. In real life however this is not always possible, otherwise I don't see why Microsoft would give you a class (`PrivateObject`) that does exactly this.

Violating the encapsulation is a strong reason, and I guess introducing this extension to `nameof` would not bring eno

[2016-03-09 14:34] HaloFour commented on #9539
@dsaf I know that with `try` blocks the curly braces are required because otherwise the compiler would not be able to determine which `catch` blocks are associated with which `try` blocks in the case of nested `try` blocks.  As for why `catch` and `finally` also require curly braces, I'm not aware of any syntactic reasons other than perhaps consistency.

[2016-03-09 14:34] bbarry commented on #6505
Here is a pathological case that would work differently in existing code vs if that code worked the way you were suggesting:

    public class Person {
        public string Name { get; set; }
        public decimal Gpa { get; set; }
    }

    public class Student : Person {
        public new decimal Gpa { get; set; }
    }

[2016-03-09 14:37] HaloFour commented on #6505
Another would be:

[code]

[2016-03-09 14:41] paulomorgado commented on #9599
@DavidArno, one should never say never! :smile:

But, still, :-1: on this proposal.

[2016-03-09 14:41] gsantopaolo opened #9600 "Huge memory leak when creating types with Roslyn"
**Version Used**:  Microsoft.CodeAnalysis.CSharp 1.1.1  (  Install-Package Microsoft.CodeAnalysis.CSharp -Version 1.1.1 )
.Net Framework 4.5.2
Visual Studio 2015 UP1

**Steps to Reproduce**: execute method at the following link: [http://pastebin.com/gSVzZV1E](http://pastebin.com/gSVzZV1E)

by calling it like that way [http://pastebin.com/5YD8Me4m](http://pastebin.com/5YD8Me4m)

**Expected Behavior

[2016-03-09 14:55] dotnetchris commented on #2136
@whoisj I absolutely do. I already write all negative if statements as `if(false == foo.IsAnnoying)` using the ! operator inside of a logic statement is just absurdly easy to overlook or accidentally delete without any cognizance that you entirely changed the logical result.

[2016-03-09 15:01] DavidArno commented on #9599
@paulomorgado,

I can't help it; I'm a man of absolutes. Never compromise on code quality. Damn, I said "never", again...

[2016-03-09 15:41] gafter commented on #9005
@alrz

[2016-03-09 15:42] heejaechang opened #9602 "[Test Failure] Individual TAO Test (CSharpLinkedFile.xml) Failure in prtest/win/vsi/p2 on PR #9601"
PR: [#9601](https://github.com/dotnet/roslyn/pull/9601) _Fixed race in diagnostic tagger_ by @heejaechang
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p2/438/

**5 Test Failures:**
CSharpLinkedFile.Verify if projects have been set up correctly with conditional compilation symbols
CSharpLinkedFile.Verify adding a linked file to another project when the file is open in the

[2016-03-09 15:42] gafter commented on #9005
@alrz The fact that a *pattern* can only be a constant does not help disambiguate the syntax very much.

[2016-03-09 16:02] christianarg opened #9606 "Idea: Simplify null check syntax"
**Context**
C#6 incorporated the very handy ?. operator. This way I can change this

`if(someClass != null && someClass.someField == "someValue)
{
  ..
}
`

into this:

`if(someClass?.someField == "someValue)
{
  ..
}
`

That's pretty nice.

**Idea**

When I have to check if a variable is null, I have to do this:

`if(someVariable == null)
{
..
}`

Wouldn't it be nice if we could do something like

[2016-03-09 16:38] MichaelKetting commented on #8800
@VSadov Yes, so far, your analysis is correct.

Going forward:
1) Yes, exactly. We still have customers using .NET 4.5 and can't just change the requirements of our product version in between major upgrades.

2) That's what we're hoping for once we can reproduce it in a smaller sample :)

3) That's easy, theoretically. We just have to add 'throw' statements where they are missing in case of a Thre

[2016-03-09 16:39] HaloFour commented on #9606
You'll get this with pattern matching:

[code]

Are you otherwise proposing a new Boolean operator to detect whether or not a value is `null`?

[2016-03-09 16:44] svick commented on #9606
I *think* this syntax would be ambiguous with the ternary operator: if you have two `?` before a single `:`, how is the compiler (and the programmer) supposed to figure out which one is for the ternary operator and which one is for your proposed null check operator?

I'm unable to come up with a reasonably simple compiling example. But my problem is mostly to get the types right and the parser doe

[2016-03-09 16:45] marek-safar opened #9607 "nameof operator and ambiguity"
**Version Used**:  1.2.0.60220

**Steps to Reproduce**:

Compile following

[code]

**Expected Behavior**:

No compilation error.

**Actual Behavior**:

error CS0229: Ambiguity between 'IA.Prop' and 'IB.Prop'

`nameof` operator cares only about name not actual types which compiler does in method `M` case but it does not for `Prop` property.

[2016-03-09 17:12] diryboy commented on #7273
Looks like the latest commit d4a72e5 by #9592 does not have this issue. I'll try later on another 2 PCs next week to see if the issue is really gone.

[2016-03-09 17:20] davkean commented on #9557
It looks like @heejaechang is fixing this?

[2016-03-09 17:45] DustinCampbell commented on #9551
@balajikris, could you take a look at BasicIntelliSense?

[2016-03-09 17:46] DustinCampbell commented on #9553
@jasonmalinowski, please take a look.

[2016-03-09 17:49] DustinCampbell commented on #9573
@jasonmalinowski, is this a dupe of the cross language flakiness that's already been fixed?

[2016-03-09 17:52] DustinCampbell commented on #9538
@jasonmalinowski, could you verify that this is fixed with your changes to the project system, and/or fix it?

[2016-03-09 17:52] davkean commented on #7273
Thanks, keep us updated.

[2016-03-09 17:52] DustinCampbell commented on #9589
Yes, this needs to become deterministic.

[2016-03-09 17:53] AlekseyTs opened #9608 "Pattern locals declared in initializers of 'using' locals cannot be referenced"
[code]

The test fails with unexpected errors:
[code]

[2016-03-09 17:54] AlekseyTs commented on #9608
Related to #8817

[2016-03-09 17:54] heejaechang opened #9609 "[Test Failure] Test Failures (+1 more) in prtest/win/dbg/unit64 on PR #9605"
PR: [#9605](https://github.com/dotnet/roslyn/pull/9605) *Merge stabilization into future-stabilization* by @vslsnap
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4995/

**Issue 1: Test Failures**
There were test failures, see Test Results above.

**Issue 2: xUnit returned error code without errors**
xunit produced no error output but had exit code 1

I am not sure which t

[2016-03-09 18:03] davkean commented on #9609
Log: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/4995/artifact/Binaries/Debug/xUnitResults/Microsoft.VisualStudio.ProjectSystem.Managed.VS.UnitTests.dll.out.log

Dupe of https://github.com/dotnet/roslyn/issues/9490

[2016-03-09 18:03] #9609 closed

[2016-03-09 18:08] #7869 closed

[2016-03-09 18:18] davkean opened #9610 "dci-win-rbld-5 needs to have its console session fixed"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_future-stabilization_win_vsi_p0/12/

[2016-03-09 18:21] CyrusNajmabadi commented on #9093
PR for this here: https://github.com/dotnet/roslyn-internal/pull/636

[2016-03-09 18:22] CyrusNajmabadi commented on #9415
PR for tihs here:
https://github.com/dotnet/roslyn-internal/pull/636
https://github.com/dotnet/roslyn-internal/pull/632

[2016-03-09 18:24] tannergooding commented on #9610
Fixed.

@mmitche, did you disconnect using the desktop shortcut when checking the disk cleanup issue yesterday?

[2016-03-09 18:25] #9610 closed

[2016-03-09 18:25] davkean commented on #9610
Thanks!

[2016-03-09 18:26] dpoeschl commented on #9555
Got another hit of this.

[2016-03-09 18:29] AlekseyTs opened #9612 "Unexpected errors are reported when pattern locals conflict with regular locals declared within the same statement"
The following test fails
[code]

Unexpected error:
[code]

The following test fails:
[code]

Unexpected error:
[code]

Related to #8817.

[2016-03-09 18:31] heejaechang opened #9613 "make https://github.com/dotnet/roslyn/pull/9601 to only adjust span for stale diagnostic case"
https://github.com/dotnet/roslyn/pull/9601 makes tagger to always adjust spans for invalid span. but @CyrusNajmabadi want it to be only for staled diagnostics.

follow the comment for better fix.

[2016-03-09 18:40] TyOverby opened #9614 "CrossLanguage ETA test is failing on Master"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_master_win_rel_eta/945/console

[2016-03-09 18:51] TyOverby opened #9615 "BasicGoToDefinition failing on master win vsi p0"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_master_win_vsi_p0/960/console

[2016-03-09 18:58] davkean commented on #9460
We hit this again: https://github.com/dotnet/roslyn/issues/9602.

[2016-03-09 19:25] jasonmalinowski commented on #9573
Yes, this is a dupe of #9308. Since this was yesterday morning's merge, the fix wasn't in future or carried along this PR yesterday morning. I've verified the fix was not included by inspecting the raw DLLs from the build artifacts.

[2016-03-09 19:25] #9573 closed

[2016-03-09 19:27] TyOverby commented on #9615
@davkean

[2016-03-09 19:28] TyOverby commented on #9614
@davkean

[2016-03-09 19:34] TyOverby opened #9617 "Console sessions are not present on some machines"
On rbld-5, vsi tests fail to capture screenshots because the disconnect script was not set to run as admin.

Solution: Log in to all machines that run VSI tests and set the script to run as administrator.

[2016-03-09 19:50] orthoxerox commented on #9595
@svick it could emit specialized methods for each type, for example. Or use `dynamic`, yes.

[2016-03-09 20:04] gafter opened #9620 "IOperation code crashes with pattern-matching"
One way of enabling new features in stabilization is to define the preprocessor symbol `__DEMO__` in the build options. That happens to enable both IOperation and pattern-matching. But the analyzer driver crashes (causing the IDE to crash) when it encounters pattern-matching code.

(This is fixed in the features/patterns branch in https://github.com/dotnet/roslyn/commit/482060e546585207e8e3d1154c7

[2016-03-09 20:10] DustinCampbell commented on #9576
It looks like this can happen if we expand a return statement inside of a lambda expression that has no expression.

[2016-03-09 20:12] AdamSpeight2008 commented on #174
@Ytrog
Bit like inline T4 (minus the active parts), plus the template is validated by compiler.
So you'd get errors at design-time. ie it's not a string but code.

[2016-03-09 20:17] balajikris commented on #9454
Nailed one.. Don't have a very pretty dump because i don't throw an exception per se, but yet have enough info i hope..

this is why split file is failing:
[code]

[2016-03-09 20:18] balajikris commented on #9454
At this point, whoever owns DiagnosticIncrementalAnalyzer should take over this.

/ cc: @davkean

[2016-03-09 20:20] AdamSpeight2008 commented on #9509
@gafter If the culture is specified via `#Culture fr-FR` at runtime the culture is `fr-FR` as the programmer dictated what the culture is. This **can not** be overridden. If no culture is specified, then at runtime, it is whatever the local culture is.

[2016-03-09 20:25] HaloFour commented on #9509
@AdamSpeight2008 How would this actually be implemented?  Would ever single member be required to automatically check the current thread culture and current UI culture and replace them with the specified culture, and then replace them back when the thread exits that member?  What about satellite resource assemblies?  IIRC there are a lot of times and places where you can't just change the culture

[2016-03-09 20:27] HaloFour commented on #9509
And what would happen in the middle of one of these files/sections if the programmers changes the thread/UI culture?  Or calls a method passing a specific culture?

[2016-03-09 20:46] AlekseyTs opened #9624 "PatternVariableFinder.FindPatternVariables should take builder as a parameter"
From @cston: "Consider allocating patterns here and passing to FindPatternVariables as an argument, so the instance is allocated and freed in the same method."

[2016-03-09 20:59] bmay2 commented on #686
After some poking around, I'm thinking of modifying CSharpTypeInferenceService.TypeInferrer to call InferTypeInBinaryOrAssignmentExpression() in InferTypeInPrefixUnaryExpression() for the BitwiseNotExpression case. Am I headed in the right direction?

[2016-03-09 21:00] davkean commented on #9617
This has been fixed.

[2016-03-09 21:00] #9617 closed

[2016-03-09 21:01] balajikris commented on #9551
This is another instance where ETA caught and logged an exception in the background and moved on..
From the dump, **ETA** is trying to update progression UI from the background thread and WPF duly throws.  What Im not sure yet is why this would only occasionally fail. This isn't a product bug btw.

[code]

[2016-03-09 21:04] Pilchie commented on #9454
Tag @heejaechang

[2016-03-09 21:17] gafter opened #9626 "Compiler crash with pattern-matching"
The attached project crashes the compiler prototype for pattern-matching:

![image](https://cloud.githubusercontent.com/assets/3804346/13650669/9d0ad40e-e5f8-11e5-98e6-8ef0855dc9a1.png)

[PatternSample.zip](https://github.com/dotnet/roslyn/files/166103/PatternSample.zip)

[2016-03-09 21:18] DustinCampbell commented on #9481
@Pilchie and I believe this is already done, no?

[2016-03-09 21:18] #9481 closed

[2016-03-09 21:19] DustinCampbell commented on #9475
Moving to 1.3. It doesn't seem like this is actually a product issue based on @heejaechang's comment.

[2016-03-09 21:30] DustinCampbell commented on #8708
@Pilchie thinks we did something around this but isn't sure what it was. Moving to 1.3.

[2016-03-09 21:37] heejaechang commented on #9454
I will take a look.

-          heejae

From: Kevin Pilch-Bisson [mailto:notifications@github.com]
Sent: Wednesday, March 9, 2016 1:05 PM
To: dotnet/roslyn <roslyn@noreply.github.com>
Cc: HeeJae Chang <Heejae.Chang@microsoft.com>
Subject: Re: [roslyn] ETA test SplitFile is flaky (#9454)

Tag @heejaechang<https://github.com/heejaechang>

—
Reply to this email directly or view it on GitHub<https://g

[2016-03-09 21:44] jmarolf commented on #9556
@heejaechang has a fix out for this https://github.com/dotnet/roslyn/pull/9601

[2016-03-09 21:50] dpoeschl commented on #9596
Fix rejected for 1.2. Moving to 1.3 (FYI @DustinCampbell @CyrusNajmabadi)

[2016-03-09 21:52] jmarolf commented on #9557
fixed by #9601

[2016-03-09 21:52] #9557 closed

[2016-03-09 21:57] nikeee opened #9627 "Proposal: Compile Time Function Execution"
Let's take this code:

[code]

This works as expected, therefore, the value of `AnotherConstString` will be set to `"FooBar"` by the compiler. The IL does not contain anything like `AConstString + "Bar"`. Instead, any use of the constant values above will be inlined to its constant value.

Now take a look at this code:

[code]

This already works as of today. The difference here is that `AnotherCo

[2016-03-09 21:58] alrz commented on #9606
[code]
this is not ambiguous but needs look ahead to figure out it's not a null coalescing operator.

[2016-03-09 22:07] dpoeschl commented on #8350
Closing out, since this really is done. I have a few spots in the matrix to fill in above based on my OneNote notes, but nothing of consequence.

[2016-03-09 22:07] #8350 closed

[2016-03-09 22:08] alrz commented on #9606
[code]
But this is ambiguous, however compiler could parse it as a null conditional when you dot off a "null check expression".

[2016-03-09 22:26] Pilchie commented on #686
@rchande, @dpoeschl, @CyrusNajmabadi any of you have any ideas here?

[2016-03-09 22:31] CyrusNajmabadi opened #9629 "[Test Failure] <description> in prtest/win/vsi/p1 on PR #9588"
PR: [#9588](https://github.com/dotnet/roslyn/pull/9588) *Revert "Revert "Merge pull request #6636 from CyrusNajmabadi/asyncLazy""* by @CyrusNajmabadi
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p1/422/

No Console Session

Tao cannot take screenshots, so we're probably not running in a console session. Halting the test run because this can cause unexpected test failures

[2016-03-09 22:39] davkean commented on #9629
This has been fixed.

[2016-03-09 22:39] #9629 closed

[2016-03-09 22:40] CyrusNajmabadi commented on #686
Seems like that might work :)

GLHF!

[2016-03-09 22:41] svick commented on #9627
In the case of `static readonly` field, what is the point of optimizing the IL? Under normal circumstances (JIT compilation), it will behave as a constant during JIT anyway (i.e. the CLR executes the field initializers and only then JIT compiles the method, knowing the field can't change).

In the case of interpolated strings, `string.Format()` is not a pure function (it depends on the current cul

[2016-03-09 22:46] davkean opened #9630 "Microsoft.CodeAnalysis.CompilerServer.UnitTests/CompilerServerUnitTests/MultipleSimultaneousCompiles/"
http://dotnet-ci.cloudapp.net/job/roslyn_master_win_rel_unit64/927/testReport/junit/Microsoft.CodeAnalysis.CompilerServer.UnitTests/CompilerServerUnitTests/MultipleSimultaneousCompiles/

[code]

[2016-03-09 22:50] #7648 closed

[2016-03-09 22:52] DustinCampbell commented on #9572
Dupe of #9596

[2016-03-09 22:52] #9572 closed

[2016-03-09 22:54] AlekseyTs commented on #9626
I can compile successfully using csc.exe, but the executable crashes at runtime:
[code]

[2016-03-09 22:56] balajikris commented on #9553
build artifacts are gone already :anger:  I'm guessing this is the same root issue as https://github.com/dotnet/roslyn/issues/9551

[2016-03-09 23:06] svick commented on #9606
@alrz I meant something like `a? +a? +a : a`, which could be either interpreted as `(a != null) + a ? (+a) : a` or as `a ? ((+a) != null) + a : a` (both interpretations can actually compile, if the type of `a` is crazy enough to overload the necessary operators).

[2016-03-09 23:17] rchande commented on #686
That sounds like the right change.

[2016-03-09 23:27] balajikris commented on #9551
On 2/25/, http://dotnet-ci.cloudapp.net/job/roslyn-internal_stabil_win_dbg_eta/151/consoleFull#-202045483561aefe2b-268e-4e71-8c03-11b4c0acbfbc
[code]

[2016-03-09 23:30] balajikris commented on #8352
Initial testing done for 2.0 (Preview). Want to do some work post-preview in determining New feature suggestions. Moving to 2.0 (RC)

[2016-03-09 23:37] davkean commented on #9454
By looking at the code, I'm convinced that this doesn't impact negatively: http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/EngineV1/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs,167.

[2016-03-09 23:43] #9608 closed

[2016-03-10 00:11] pranavkm opened #9632 "AVE when running multiple dotnet builds in parallel"
**Version Used**:
1.2.60202 that comes with CLI version 1.0.0.001540

**Steps to Reproduce**:

Launch dotnet build on multiple projects in a `Parallel.For`

**Actual Behavior**:

The build failed with the following stack trace:
[code]

Remainder of the stack trace: https://gist.github.com/pranavkm/0c65e901154100fbcf60

[2016-03-10 00:21] jaredpar commented on #9630
Took a quick look and I understand what is going on here.  Will have a fix out tonight or early AM.

[2016-03-10 00:28] TyOverby opened #9633 "BasicWinForms.xml is failing on Future"
http://dotnet-ci.cloudapp.net/job/roslyn-internal_future_win_vsi_p1/166/console

[2016-03-10 00:38] pranavkm commented on #9632
Log from event viewer if that helps:

[code]

[2016-03-10 01:33] jmarolf commented on #9556
Underlying issue is the same as https://github.com/dotnet/roslyn/issues/9557

[2016-03-10 01:33] #9556 closed

[2016-03-10 01:37] balajikris commented on #9551
Found the issue:

ETA's implementation of MS.VS.Progression.IconService invokes the func and creates the image whereas VS' implementation does not realize the func immediately, its lazy. Thus ETA ends up creating UIElements on background threadpool threads and gets lucky or unlucky when it tries to access them again.

[code]

[2016-03-10 02:07] alrz commented on #9005
@gafter Right, in an indexer pattern, the constant argument is not *inside* of the pattern itself.

[2016-03-10 02:34] alrz commented on #9606
@svick I see. If it was a *prefix operator*, then it woudn't be ambiguous in this example at least,
[code]
But still parsing is a little tricky. Also, just like `throw` expression, it could be restricted to some specific contexts such as first operand of the ternary operator, conditional expression of the if statement and so on.

[2016-03-10 03:06] HaloFour commented on #9606
Outside of the simplest of cases this "operator" produces some really confusing looking code.  I don't think it's worth it just to avoid typing a few extra characters.  Null propagation and pattern matching should eliminate most of the "need" of something like this anyway.

[2016-03-10 03:10] alrz commented on #9005
It's interesting that the same ambiguity doesn't exist in F#,
[code]
Even though they are exactly the same, syntactically.

[2016-03-10 03:15] Pilchie commented on #9596
We pulled this back into 1.2 and merged the PR (#9572)

[2016-03-10 03:15] #9596 closed

[2016-03-10 03:19] Pilchie commented on #8226
Fixed in `stabilization` by #9586.

[2016-03-10 03:19] #8226 closed

[2016-03-10 03:20] alrz commented on #9606
@HaloFour That was my point, if the context is restricted the it woudn't be possible to use it out of the simplest of cases, just directly inside `if` and other *conditional-expression*s.

[2016-03-10 03:21] eyalsk commented on #9330
@orthoxerox thank you for the clarification. :)

[2016-03-10 03:21] Pilchie commented on #9051
We decided not to fix this due to risk.

[2016-03-10 03:21] #9051 closed

[2016-03-10 03:41] Thaina commented on #9595
All along I was thinking that generic is always emit specialize code for each type

When we make a generic class with static array for example
[code]
we will get difference array for each type we put in, especially for struct because each struct has difference memory size

So I think it would be the same for method. Generic should and could emit specific code for each type we put in, that's why I

[2016-03-10 03:44] alrz commented on #9595
Related: #154 #8986

[2016-03-10 03:50] leppie commented on #9600
`dynamicReferences` is static, and you keep adding to it.

[2016-03-10 04:11] Thaina commented on #9595
@alrz That's right the concept is similar. But I think it would be better to keep it limit in only where clause. If we need to defined trait we need to import new keyword, handle it on all existing method. That would be overkill and confusing with interface

This kind of constraint syntax may limit like constraint class/struct. while we could constraint that it must be struct on the first, this mu

[2016-03-10 04:14] alrz commented on #9595
So you're avoiding a new keyword? Your example is a hodgepodge of new syntaxes.

[2016-03-10 04:20] alrz commented on #9595
@orthoxerox `dynamic` is not a workaround for everything that doesn't fit into type system, it just facilitates incorporation with dynamic languages. You, as a programmer, should not use it wherever the type system doesn't sufficiently satisfies your needs, and if the compiler siletly use it I would have a heart attack immediately.

[2016-03-10 04:23] Thaina commented on #9595
@alrz Yes it is new syntax but it scope in only after where clause. So it limit the place it will break with other things. And no new syntax and keyword in wider scope than that

I am totally agree with your point about dynamic

[2016-03-10 04:29] Pilchie commented on #9366
We appear to have hit this again on the internal signed build for `stabilization` 1.2.20160309.4.

[2016-03-10 04:31] alrz commented on #9595
@Thaina You're trying to shove all the member constraints inside of the `where` clause, that doesn't necessarily simplifies the implementation, rather it complicates the readability and parsing outside of simple cases (which I doubt that the proposed syntax is able to represent). All in all, there are numerous proposal for this scenario, I'm not fond of any syntaxes here but the thing is that this

[2016-03-10 04:47] jmarolf opened #9638 "Setup Authoring generated for Roslyn_Microsoft.VisualStudio.LanguageServices.Telemetry_Microsoft.VisualStudio.LanguageServices.Telemetry.pkgdef"
**Steps to Reproduce**:
1. Build `Roslyn.sln`
2. Build `Setup.proj`

**Expected Behavior**:
No telemetry setup authoring

**Actual Behavior**:
[code]

[2016-03-10 04:48] Thaina commented on #9595
@alrz Yes, because most of generic constraint function most likely a simple 2-3 members. It promote modularity and decoupling that a function should not do so much work and should decouple as much as possible. We always just need a little set of member. And then we could reuse other generic function that share the same constraint

So we actually don't need to constraint many things if we build thi

[2016-03-10 05:53] muratg commented on #9632
:eyes:

[2016-03-10 06:23] brandondahler opened #9639 "VB - Optimized compilation of async method skips disposal if enumeration happened last"
**Version Used**:
VS 2015 Update 1 Enterprise
.NET Framework 4.6
Visual Basic Compiler version 1.1.0.51204

**Steps to Reproduce**:
1. Compile VB Console Application below with optimizations on.
2. Execute program

**Expected Behavior**:
Console should output "Disposed".

**Actual Behavior**:
Console outputs "Finaiized".

**Work Arounds**:
- Compile without optimizations on; or
- Uncomment GC.Keep

[2016-03-10 06:58] agocke opened #9640 "Publish a portable tasks+targets nuget package for the compiler build task and use it in the toolset"
See build_toolset.ps1 in https://github.com/dotnet/roslyn/pull/9635

[2016-03-10 07:07] agocke opened #9641 "Portable C# targets reference targets file with incorrect casing."
The `Microsoft.Portable.CSharp.targets` file in both the `v4.5` and `v5.0` directories reference the `Microsoft.CSharp.Targets` file. The file is actually named `Microsoft.CSharp.targets`. On case-sensitive file systems this presents an issue.

See build_toolset.ps1 in https://github.com/dotnet/roslyn/pull/9635

[2016-03-10 07:11] agocke opened #9642 "Microsoft.NuGet.Build.Tasks+targets should be available as a 4.6/netcore NuGet package"
See build_toolset.ps1 in https://github.com/dotnet/roslyn/pull/9635

[2016-03-10 07:40] AqlaSolutions commented on #7678
I would like to see this feature too! To avoid "implementation" problems I would allow such access for current class only. It also makes a sense because backing fields are private.

[2016-03-10 07:48] m0sa commented on #7678
@zippec that obviously wouldn't work for `ref` properties.

@AqlaSolutions yup, that's basically what a private access modifier on the backing field implies.

[2016-03-10 08:06] alrz commented on #8457
@HaloFour I think unifying expressions and patterns which is required for extension patterns throw most of the syntax proposed here away, modulo "known types". I think something like this works fine,

&emsp;*type-pattern*
&emsp;*recursive-pattern*
&emsp;*property-pattern*

&emsp;*constant-pattern*
&emsp;*wildcard-pattern*
&emsp;*let-pattern*

&emsp;*type* *identifier*

&emsp;*identifier* `=` *patt

[2016-03-10 08:10] tvsonar opened #9644 "Analyzer in csproj.user file is not properly picked up"
When putting an `Analyzer` item in the `csproj.user` file, the analyzers are not properly loaded. The analyzer references show up in the `References/Analyzers` in the Solution Explorer, and even the underlines, fadings work in the code editor windows, but the issues (error/warning/info) don't show up in the Error Window.

**Version Used**: Visual Studio 2015 Update 1

**Steps to Reproduce**:

1. C

[2016-03-10 08:44] ViIvanov commented on #7678
Just for me, adding an ampersand (for example) before a name of the auto-property for reference to the backing field is better than implicit referencing in ref/out context:
[code]
May be, ampersand should be changed to something else, because in unsafe context it not obvious.

[2016-03-10 08:48] alrz commented on #9005
I wrote up a hypothetical alternative syntax for patterns in [#8457 comment](https://github.com/dotnet/roslyn/issues/8457#issuecomment-194723573), I think it satisfies the requirement for this proposal.

[2016-03-10 08:52] MichaelKetting commented on #8800
Okay, I have sort of good news. While the bug is still elusive, we where able to determine that it doesn't happen with Visual Studio 2015 Update 1.

Complete version spec:
Issues exists:
MSBUILD.exe: 14.0.23107.0
CSC.exe: 1.0.0.50618
(aka MSBuild Tools 2015 RTM)

Issue resolved:
MSBUILD.exe 14.0.24723.2
CSC.exe: 1.1.0.51204
(aka Visual Studio Update 1)

Now, for the next problem: The official down

[2016-03-10 09:57] lachbaer opened #9645 "GenerateNullCoalescingBadBinaryOpsError crashes"
**Version Used**: current future branch

**Steps to Reproduce**:

`StringBuilder sb = null ?? throw new ArgumentNullException();`

**Actual Behavior**: (BoundThrowException)rightOperand.Display == null in GenerateNullCoalescingBadBinaryOpsError raises Debug.Assert in AssertMessageSerializable

[2016-03-10 11:02] #9613 closed

[2016-03-10 14:05] DustinCampbell opened #9646 "Code Model: External code properties do not implement OverrideKind and ReadWrite from EnvDTE80.CodeProperty2"
Sadly, these properties were missed in the Roslyn implementation of Code Model, simply because, years ago, C# forgot to implement EnvDTE80.CodeProperty2 while Visual Basic did. This breaks some ASP .NET scaffolding scenario, as described on Microsoft Connect in https://connect.microsoft.com/VisualStudio/feedback/details/2187798/mvc-view-scaffolding-not-working.

[2016-03-10 14:08] #9576 closed

[2016-03-10 14:58] HaloFour commented on #9639
It also works if you add another member to `Disposable` and then call it explicitly after the `Await` loop.  I'm thinking that the VB.NET compiler is optimizing away lifting the `disposable` local to a field on the state machine which is resulting in the local remaining `Nothing` after the continuation resumes.  You get the same behavior if you write that expansion yourself.  I don't know what 201

[2016-03-10 15:02] HaloFour commented on #9639
Also seems to affect simple cases like this:

[code]

Removing the loop does make this work.

[2016-03-10 16:46] davkean commented on #6863
Again: http://dotnet-ci.cloudapp.net/job/roslyn-internal_stabil_win_vsi_p2/lastCompletedBuild/testReport/(root)/CSharpGotoDefinition/Go_To_Def_opens_in_a_provisional_tab_if_document_wasn_t_already_open/

[2016-03-10 16:54] davkean commented on #9615
Dupe of this: https://github.com/dotnet/roslyn/issues/6863

[2016-03-10 16:54] #9615 closed

[2016-03-10 16:55] davkean commented on #6863
And again: https://github.com/dotnet/roslyn/issues/9615

[2016-03-10 16:56] #9630 closed

[2016-03-10 16:56] davkean commented on #7196
I've not seen this in 3 months and logs are long gone.

[2016-03-10 16:56] #7196 closed

[2016-03-10 17:03] davkean opened #9652 "[Test Failure] Microsoft.CodeAnalysis.Editor.UnitTests.Rename.RenameEngineTests.LocationsIssue"
PR: [#667#issuecomment-194956663](https://github.com/dotnet/roslyn-internal/pull/667#issuecomment-194956663) *Update InstallDogfood app.manifest to no longer require admin.* by @tannergooding
Failure: http://dotnet-ci.cloudapp.net/job/roslyn-internal_prtest_win_dbg_unit32/772/

**1 Test Failures:**
Microsoft.CodeAnalysis.Editor.UnitTests.Rename.RenameEngineTests.LocationsIssue

**Issue 1: No ident

[2016-03-10 17:06] davkean commented on #9638
Why is no setup authoring expected for this?

[2016-03-10 17:08] davkean commented on #9460
Dupe of https://github.com/dotnet/roslyn/issues/9602

[2016-03-10 17:08] #9460 closed

[2016-03-10 17:11] tannergooding commented on #9638
@davkean, I would assume because we haven't had it before (it is a new file being generated).

That being said, it only contains the binding redirects for the assemblies included in the VSIX, so I would question why we haven't had it before and say that we should be including it.

[2016-03-10 17:12] davkean commented on #9490
And http://dotnet-ci.cloudapp.net/job/roslyn_future_win_dbg_unit64/123/consoleFull#1265391396f8aae81d-4bec-45a1-8770-9e05a4fee5ca.

[2016-03-10 17:13] davkean commented on #9638
Assemblies don't contain binding redirects - pkgdef's do. What does this assembly actually do?

[2016-03-10 17:14] davkean opened #9653 "Microsoft.VisualStudio.LanguageServices.UnitTests.Progression.InheritsGraphQueryTests.TestSolutionWithMultipleProjects (from Roslyn.VisualStudio.Services.UnitTests)"
http://dotnet-ci.cloudapp.net/job/roslyn_future-stabilization_win_dbg_unit64/lastCompletedBuild/testReport/Microsoft.VisualStudio.LanguageServices.UnitTests.Progression/InheritsGraphQueryTests/TestSolutionWithMultipleProjects/

_Edit by @brettfo:_
[Direct link to failing test](http://dotnet-ci.cloudapp.net/job/roslyn_future-stabilization_win_dbg_unit64/14/testReport/junit/Microsoft.VisualStudio.La

[2016-03-10 17:18] tannergooding commented on #9638
The setup authoring is for a new pkgdef file that was not being created before (it is 'new' as of the commit which switched us to semantic version 1.3), and the pkgdef contains the binding redirects for our Telemetry assembly (which collects our telemetry data).

[2016-03-10 17:24] DustinCampbell commented on #8412
I was able to reproduce the crash with the latest stabilization bits.

[2016-03-10 17:32] gkhanna79 commented on #9632
@pranavkm Can you please share the exact steps for repro?

[2016-03-10 17:33] jaredpar commented on #9632
This is a crash in native code that disappears when crossgen is no longer used.  We should just use the CLI bug to track this.  Having two bugs across repros confuses the issue.

https://github.com/dotnet/cli/issues/1785

[2016-03-10 17:33] #9632 closed

[2016-03-10 17:41] davkean commented on #9638
oh, so this looks valid. What branch is this Jon?

[2016-03-10 17:46] Eilon commented on #9632
@gkhanna79 right, when the NI files are deleted, the problem goes away.

[2016-03-10 17:55] mavasani opened #9655 "Add support for 3rd party result providers for Language Services such as Find All References, GoToDefinition, etc."
Currently, Find all references, GoToDefinition, NavigateTo, etc. language services are strongly coupled to VS workspace and do not have extensibility points for third parties to plugin their results for improved semantic search experience. We should provide these extensibility points in all the appropriate language services for semantic search.

**Work items**:
1. Refactor the core language servic

[2016-03-10 17:55] mavasani commented on #9655
Tagging @srivatsn

[2016-03-10 18:00] DustinCampbell commented on #8412
Looks like the problem is when the simplification engine expands a lambda's parameter list when there are more than one parameter. This is pretty bad.

[2016-03-10 18:19] sbrickey opened #9656 "Proposal : readonly setter for auto property"
Many classes have fields which are only assignable during constructor (readonly field), but need to be exposed externally, which is best implemented as a property.

Example:

    private readonly string basePath;
    public string BasePath { get { return basePath; } }

To reduce the code, I would like to propose a READONLY modifier for auto properties, presumably only useful on the setter.

Exampl

[2016-03-10 18:22] sbrickey commented on #9656
obviously, the syntax is open to suggestion... the intention is to simply to enable cleaner code

[2016-03-10 18:27] lachbaer commented on #9656
Since C# 6 (VS 2015) you can use get-only autoproperties for this:
[code]

[2016-03-10 18:38] kuhlenh opened #9657 "[Interactive] Alt+Enter incorrectly triggers C# Interactive"
**Version Used**:
VS2015 Update 2 RC

**Steps to Reproduce**:
Please see https://github.com/aspnet/Tooling/issues/420 for more information.

**Expected Behavior**:
Alt+Enter shouldn't trigger C# Interactive.

**Actual Behavior**:
Alt+Enter triggers C# Interactive depending where cursor is

[2016-03-10 18:40] lachbaer commented on #9656
But it would be nice to have a 'readonly' setter ;-) i.e. a setter that can only be called from the constructor. So the check-logic for a valid value could be with the property. I know that there is no CLR support for this. But maybe a `readonly` with the property and an analyzer checking for this constraint would help? The only addition would be the `readonly` keyword, that is represented in the

[2016-03-10 18:42] Pilchie commented on #9657
Didn't we make changes to Alt+Enter post-RC.  If so, can we get someone to install the latest U2/Roslyn builds together with R# and see if this is still a problem?

[2016-03-10 18:44] amcasey commented on #9657
@tannergooding Made an intriguing guess:

My suspicion is that ReSharper, when it is installed and the user selects the binding overrides, will preserve whatever command the binding is currently assigned to and will fall back to that command in certain scenarios and that uninstalling ReSharper would cause the binding to be reassigned to whatever command had ownership originally.

I believe this wo

[2016-03-10 18:46] jasonmalinowski commented on #9614
Another dupe of #9308. Turns out the pump wasn't running and so the fix hadn't been pumped to internal master until this morning.

[2016-03-10 18:46] #9614 closed

[2016-03-10 18:49] Pilchie commented on #9657
R# doesn't generally do that, @kuhlenh says that if you disable/uninstall, you lose the normal VS keybindings until you reset.

[2016-03-10 18:52] gafter opened #9658 "Need documentation for CSharpCompilation.ClassifyConversion"
There is no documentation for `CSharpCompilation.ClassifyConversion` (only an obsolete non-doc comment).

[2016-03-10 18:55] stepanbenes commented on #9656
`readonly set` sounds strange...

[2016-03-10 18:59] lachbaer commented on #9656
The syntax I propose is
[code]

[2016-03-10 19:28] gafter opened #9659 "Compiler crash if using new literal features without enabling them"
If you attempt to use the new lexical features without enabling them, the compiler attempts to produce a diagnostic without a proper fill-in, resulting in a string.Format exception.

[2016-03-10 19:55] gafter opened #9661 "Need custom warning for unused local function"
An unused local function needs a warning, but not this one:

[code]

[2016-03-10 20:10] gafter opened #9662 "Add DEMO mode to parser for enabling new features with preprocessor symbols"
We already have a mode to enable experimental features for development. Please split it up into an appropriate user-visible subset `__DEMO__` and a more experimental subset `__DEMO_EXPERIMENTAL__`.

[2016-03-10 20:16] HaloFour commented on #9656
C# 6.0 does allow you to assign the value of readonly auto-implemented properties in the constructor:

[code]

Readonly auto-implemented properties are given a private readonly backing field, which is what the constructor is assigning to directly.  The property could not have a "proper" setter accessor method because the CLR will enforce that only constructors of that type may assign a value to th

[2016-03-10 20:37] Pilchie commented on #8139
Fixed by #9010.

[2016-03-10 20:37] #8139 closed

[2016-03-10 20:42] heejaechang opened #9666 "[Test Failure] MSBuild Error in prtest/win/dbg/unit64 on PR #9665"
PR: [#9665](https://github.com/dotnet/roslyn/pull/9665) ** by @
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/5062/

**Issue 1: MSBuild Error**
error MSB3026:  Could not copy "C:\Users\dotnet-bot\.nuget\packages\System.Collections.Immutable\1.1.37\lib\dotnet\System.Collections.Immutable.dll" to "d:\j\workspace\roslyn_prtest---45fcf4bc\Binaries\Debug\System.Collections.Imm

[2016-03-10 20:50] Tasteful commented on #9657
I tested to disable R# and then the C# Interactive is not triggered any more with the Alt+Enter command. When I enabled R# again the strange behavior start showing up again.

[2016-03-10 20:52] chkn commented on #347
I realize I'm a bit late to the party, but I'd like to propose an alternate approach. Let's take the original example (I'm not advocating any particular syntax, so I'll just use the syntax Mads used in the original post):
[code]
I propose that this emit the following declaration under the covers:
[code]
As previously [mentioned](https://github.com/dotnet/roslyn/issues/347#issuecomment-73658138), F

[2016-03-10 21:10] HaloFour commented on #8457
@gafter

On top of the other issues that I pointed out above.  I do agree that the one could not be considered an alternative to the other.  At best, shorthand for a pattern guard:

[code]

While I do think that the syntax would be nice and concise and relatively easy to understand I'm worried that it does open a can of worms.

This proposal is more about kicking around ideas for bridging the gap

[2016-03-10 21:17] HaloFour commented on #347
@chkn It's interesting conceptually.  Would that work for oneples, e.g. `void F(out int x)`?  Would the compiler disallow people from writing `void F(out int x, out int y)` overloaded with `(int x, int y) F()`?

IIRC, F# just uses `System.Tuple<>` now.  It can understand and transpose `out` parameters but that's not the mechanism it emits.

[2016-03-10 21:19] orthoxerox commented on #9595
@alrz I am not proposing that we *use* `dynamic` for this feature at all, I'd rather get some proper CLR support instead.

[2016-03-10 21:33] rchande commented on #9335
Logging has been added.

[2016-03-10 21:33] #9335 closed

[2016-03-10 21:35] heejaechang opened #9668 "BasicWinForms.Change control property in code"
PR: [#9650](https://github.com/dotnet/roslyn/pull/9650) ** by @
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p1/464/

**1 Test Failures:**
BasicWinForms.Change control property in code

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

BasicWinForms.xml

[2016-03-10 21:41] DustinCampbell opened #9669 "[Test Failure] Test Failures (+1 more) in prtest/win/dbg/unit32 on PR #9667"
PR: [#9667](https://github.com/dotnet/roslyn/pull/9667) *Fix crash in Inline Rename (future-stabilization)* by @DustinCampbell
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/5090/

Note: I'm putting this under Infrastructure but I'm not sure.

**Issue 1: Test Failures**
There were test failures, see Test Results above.

**Issue 2: xUnit returned error code without errors**

[2016-03-10 21:47] shmao commented on #9483
As I mentioned above, the package is to enable the new compiler in ASP.Net web applications/websites. The CodeDOM provider inside was designed to be used by ASP.Net code generation. More generic custom code generation is not supported by the provider. Therefore we decided not to make a change in the provider to support the scenario of this issue.

@MaceWindu, thank you again for your submission.

[2016-03-10 21:59] heejaechang opened #9670 "Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Diagnostics.GenerateTypeTests.GenerateTypeTests.GenerateTypeInExistingEmptyFile_Usings_DefaultNamespace"
PR: [#9648](https://github.com/dotnet/roslyn/pull/9648) ** by @
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit64/5058/

**1 Test Failures:**
Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Diagnostics.GenerateTypeTests.GenerateTypeTests.GenerateTypeInExistingEmptyFile_Usings_DefaultNamespace

**Issue 1: No identified problem**
No problems were identified. If you know why this

[2016-03-10 22:00] heejaechang opened #9671 "BasicVenus.Script Block: Smart Indent On Moving out of current line"
PR: [#9648](https://github.com/dotnet/roslyn/pull/9648) *\* by @
Failure: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest_win_vsi_p1/466/

**1 Test Failures:**
BasicVenus.Script Block: Smart Indent On Moving out of current line

**Issue 1: Individual TAO Test Failure**
Failing integration tests:

BasicVenus.xml

Bounty

[2016-03-10 22:00] heejaechang opened #9672 "[Test Failure] xUnit returned error code without errors in prtest/win/dbg/unit32 on PR #9648"
PR: [#9648](https://github.com/dotnet/roslyn/pull/9648) ** by @
Failure: http://dotnet-ci.cloudapp.net/job/roslyn_prtest_win_dbg_unit32/5082/

**Issue 1: xUnit returned error code without errors**
xunit produced no error output but had exit code 1

[2016-03-10 22:00] natidea opened #9673 "Editor Crash on Renaming Type Parameter"
**Version Used**:
VS2015 Update 2 RC 14.0.25029

**Steps to Reproduce**:

Given following code fragment:
[code]
Attempting to rename `ObjT` causes a crash

[2016-03-10 22:20] Pilchie commented on #9673
Dupe of #7440,  fixed by @dpoeschl.

[2016-03-10 22:20] #9673 closed

[2016-03-10 22:39] #9646 closed

[2016-03-10 22:48] dpoeschl opened #9674 "[PR Available] Missing localization in new Code Style UX"
**Version Used**: Current code from 2.0 Milestone

![image](https://cloud.githubusercontent.com/assets/235241/13687249/075307ce-e6cf-11e5-86ab-05b8e60b74a2.png)

Not positive about 2, maybe those terms don't normally get loc'd? Need to check...

[2016-03-10 22:48] dpoeschl commented on #9674
FYI @balajikris @jinujoseph

[2016-03-10 23:16] agocke commented on #8421
Note: We'll also need to change this for the xplat netcore MSBuild.

[2016-03-10 23:16] brettfo commented on #9633
This appears to be the same underlying issue as #7643 (`*.Designer.vb` isn't getting updated appropriately), so closing this in favor of that.

[2016-03-10 23:16] #9633 closed

[2016-03-10 23:20] gafter commented on #8457
@HaloFour Matching against the pattern `4` is not the same as saving to a variable and then comparing against `4`, in part because that variable might be of type `object` and therefore not of the correct type. So no, it is not the same as a pattern guard.

[2016-03-10 23:22] #9241 closed

[2016-03-10 23:25] brettfo commented on #9365
Pre-emptively closing this because we added some logging to the `stabilization` branch which will help diagnose this when it happens in the future and all we can do now is wait.  Fixed in PR dotnet/roslyn-internal#638.

[2016-03-10 23:25] #9365 closed

[2016-03-10 23:33] HaloFour commented on #8457
@gafter I agree, that's what I was trying to say.  If a syntax like `Student { GPA == 4.0 }` is considered I would treat that like a guard condition and not like the constant pattern.  In that case, if `GPA` happened to be of type `object` then that comparison would be a compile-time error as operator `==` cannot be applied to operands of type `object` and `double`.

[2016-03-10 23:51] srivatsn commented on #9522
You can call `GetAnalyzerSyntaxDiagnostics(syntaxTree)` and `GetAnalyzerSemanticDiagnostics(semanticModel) to get the diagnostics for a single file.

[2016-03-10 23:58] srivatsn commented on #9458
Currently there's no way to do this. We've talked about offering some extensibility to customize the presentation of a diagnostic through an extension and if we had you could mark the diagnostic as Hidden and provide the tooltip. https://github.com/dotnet/roslyn/issues/1224 tracks that work.

[2016-03-10 23:58] #9458 closed

[2016-03-11 00:02] srivatsn commented on #8131
Closing the issue since the consensus seems to be that one could write an analyzer for this.

[2016-03-11 00:02] #8131 closed

[2016-03-11 00:04] srivatsn commented on #8067
@mavasani - can you verify that this is fixed now?

[2016-03-11 00:08] srivatsn commented on #8700
Closing as dupe.

[2016-03-11 00:08] #8700 closed

[2016-03-11 01:02] jasonmalinowski commented on #9538
Looking at the full errors if I reproduce on an Update 1 + InstallDogfood machine:

    C:\Users\jasonmal\AppData\Local\Microsoft\VisualStudio\14.0\Extensions\e10y1sp3.tyn\Microsoft.CSharp.Core.targets(88,11): error MSB4064: The "Features" parameter is not supported by the "Csc" task. Verify the parameter exists on the task, and it is a settable public instance property.
    C:\Users\jasonmal\AppD

[2016-03-11 01:12] davkean commented on #7512
This failed again:

Microsoft.CodeAnalysis.Editor.UnitTests.Threading.ForegroundNotificationServiceTests.Test_Delay (from Roslyn.Services.Editor.UnitTests)

Failing for the past 1 build (Since Failed#1065 )
Took 0.16 sec.
add description
Stacktrace

MESSAGE:
Assert.True() Failure\r\nExpected: True\r\nActual: False
+++++++++++++++++++
STACK TRACE:
at Microsoft.CodeAnalysis.Editor.UnitTests.Threadin

[2016-03-11 01:14] davkean commented on #7512
This line failied: http://source.roslyn.io/#Roslyn.Services.Editor.UnitTests/Threading/ForegroundNotificationServiceTests.cs,84

[2016-03-11 01:28] sbrickey commented on #9656
well. Nevermind then :)

[2016-03-11 01:28] #9656 closed

[2016-03-11 01:29] Thaina commented on #347
I really like this idea when I think that we could go backward compatibility to all `out` and `ref`

We could even do this for a non void function. Like TryGetValue
We could
`(var exist, var value) = dictionary.TryGetValue(key);`

[2016-03-11 01:33] davkean commented on #9469
Where did we land with this?

[2016-03-11 02:12] davkean opened #9680 "Git2TfsMirror is running out of windows handles"
[code]

This is happening daily.

[2016-03-11 03:21] Porges commented on #13
That's disappointing.

Here's an example that came up today. Let's say we have some class `IParseMessages`:

    interface IParseMessages
    {
        bool Parse(IMessage message);
    }

Now we want to be able to add other stages to this (think something like the handlers in ASP.NET), which can decide whether or not to invoke the "base" message handler. None of these handlers know anything about

[2016-03-11 03:56] balajikris commented on #9551
Fixed via dotnet/roslyn-internal#682

[2016-03-11 03:56] #9551 closed

[2016-03-11 04:33] #8412 closed

[2016-03-11 05:03] TyOverby commented on #9469
@heejaechang ?

[2016-03-11 06:59] davkean commented on #9672
Dupe of https://github.com/dotnet/roslyn/issues/9490

[2016-03-11 07:00] davkean commented on #9669
Dupe of https://github.com/dotnet/roslyn/issues/9490

[2016-03-11 07:00] #9669 closed

[2016-03-11 09:42] jmecosta commented on #9522
@Sridhar-MS thanks for the hint, i will investigate it and reopen if i need.

[2016-03-11 09:42] #9522 closed

[2016-03-11 09:59] m0sa commented on #5561
+1 for DNX style preprocessing

The dotnet cli currently just ignores the preprocess sources - https://github.com/dotnet/cli/issues/1812

[2016-03-11 10:05] m0sa commented on #7300
Still, `CSharpCompilation.Emit` is very closed down. It would be great if there would be an extension point to hook into the process of creating IL and pdb.

[2016-03-11 10:52] heejaechang commented on #9469
now zip version is 18. I just confirmed it and all test passed.