[2022-11-14 17:51] CyrusNajmabadi commented on #65405
We definitely do not want to turn this on as a suggestion.  It's not expected that raw strings be the idiomatic way to write these cases.

[2022-11-14 18:23] ssg commented on #65379
Yes, this is .NET Framework 4.8.1. This issue didn't happen with NetAnalyzers 6.0, but VS 2022 deprecated it with compiler warnings, so we had to remove the package and use what's in VS itself. I pushed a repro at https://github.com/ssg/IDE0052Repro. This is the code:

[code]

The compiler says the private static member is unused:

But NUnit is able to find the class member using it:

<img width="

[2022-11-14 18:29] Youssef1313 commented on #65379
@ssg NUnit doesn't care whether you use `nameof` or not in the first place. At the end, this is just a string constant. So, even `[TestCaseSource("values")]` will work (but I don't recommend hard-coding the string - just demonstrating NUnit's view of things).

[2022-11-14 18:41] bbarry opened #65417 "when a function includes both a ref and out parameter CS8352 is now thrown"
**Version Used**:  17.4 (worked in 17.3)

**Steps to Reproduce**:

[code]

vs:

[code]

**Diagnostic Id**: CS8352

**Expected Behavior**:

Ideally working code in 17.3 remains working code in 17.4.

Assuming this is an intended spec change at least should be well documented as a breaking change somewhere.

If it is a spec change, why would the `ref` parameter make a difference (why does the second

[2022-11-14 18:48] bbarry commented on #65417
I am able to work around it by changing the parameter `rest` to a `ref` parameter:

[code]

[2022-11-14 19:07] Youssef1313 commented on #65379
If you're dealing with the compiler APIs, you get to see what the thing inside `nameof` binds to (as a symbol), but outside the compiler, it's just a string.

So, the analyzer sees that `values` inside `nameof` binds to the parameter (because of the new feature). Hence, the field `values` is considered unused.

[2022-11-14 19:25] cston commented on #65417
@bbarry, thanks for reporting this.

The breaking change is expected. With the addition of ref field support in C#11, the compiler assumes that `ref` or `in` parameters to a method may be captured in a `ref struct` returned from the method - either returned directly or returned in an `out` parameter.

The breaking change is described [here](https://github.com/dotnet/roslyn/blob/main/docs/compilers

[2022-11-14 19:26] DoctorKrolic commented on #65405
I mean, it is mostly naming problem. Refactoring doesn't fix anything, so it cannot have _fix_ all scopes)

There is no rule, that you should use pattern matching instead of `as` cast and null check either. But this is an `IDExxx` rule, while case with raw strings isn't. From my understanding, there is not that much difference here.

Well, even if hidden by default, having an analyzer opens a lot

[2022-11-14 19:43] CyrusNajmabadi commented on #65405
Sure it can.  It's the scopes that the code fixup is applied to.  'fix' doesn't mean "broken".  It's akin to "fixing lunch" :)

[2022-11-14 19:45] CyrusNajmabadi commented on #36930
@JoseMarcenaro can you provide an example of what you mean?

[2022-11-14 19:55] ssg commented on #65379
@Youssef1313 I'm not surprised that compiler knows about it, but do you know if, say, source generators also have access to that information?

[2022-11-14 19:58] Youssef1313 commented on #65379
@ssg Generators deal with the compiler API, so I guess nothing blocks them from knowing that info.

[2022-11-14 20:13] bbarry commented on #65417
... but only if you are using C#11 (and targeting net7.0 / is it possible to use 11 while targeting netstandard2.0 or net6.0?).

The above code is all C#10 (targeting net6.0).

I feel like it would be helpful to identify and acknowledge breaking changes to previous versions of the language when updating the compiler.

[2022-11-14 20:22] Youssef1313 opened #65419 "No completion for parameter names inside `nameof` in attributes"
[code]

There should be completion for `myParam` inside `nameof`

[2022-11-14 21:08] JoseMarcenaro commented on #36930
@CyrusNajmabadi

Use case 1:
**Google Analytics script block or other third-party JS plugins**
If the page doesn't render the exact code provider (because of tabs and whitespace) the console page warns you that the tool "is not installed"

Use case 2:
Depending on the styling and whitespace settings
```Toys<b>R</b>Us```

may not render the same results as
[code]

[2022-11-14 21:16] 333fred commented on #65331
Yes, that looks correct @bernd5.

[2022-11-14 21:25] CyrusNajmabadi commented on #36930
@JoseMarcenaro Neither of those cases seem to involve C# or VB code.  Not sure the correspondence between what you're asking for and the Roslyn project.  Can you clarify?

[2022-11-14 21:28] JoseMarcenaro commented on #36930
@CyrusNajmabadi  Maybe this is not the right place.

I'm referring to the possibility of include some markup (pragma or other) in .cshtml Razor views.

Thanks!

[2022-11-14 21:29] CyrusNajmabadi commented on #36930
@JoseMarcenaro can you give an example of that?  e.g. how you'd write the code today and where you'd place the pragmas/comments to disable things?

[2022-11-14 21:31] JoseMarcenaro commented on #36930
@CyrusNajmabadi  in a Layout .cshtml Razor code

[code]

[2022-11-14 21:35] 333fred commented on #36930
In theory.

[2022-11-14 22:01] sharwell commented on #36930
@JoseMarcenaro I would not expect the HTML formatter to follow this directive. Due to the way C# formatting works in Razor scenarios, I would also not expect the directive to work for C# code in those scenarios.

[2022-11-14 22:58] JoseMarcenaro commented on #36930
Ok @CyrusNajmabadi,  @sharwell , @333fred
That is understandable. Thanks anyway for taking the time to considering the issue!

[2022-11-14 23:58] #64923 closed

[2022-11-15 02:04] codetuner opened #65426 "Documentation Xml does not contain documentation from Source Generators generated code"
**Version Used**:

Microsoft.CodeAnalysis.Analyzers: 3.3.3

**Steps to Reproduce**:

1. Have a Source Generator project containing a Source Generator generating a class in your code, including XML comments. I.e:

            [Generator]
            public class CustomGenerator : ISourceGenerator
            {
                public void Initialize(GeneratorInitializationContext context) {}

[2022-11-15 03:38] davidwengier opened #65427 "Add more Go To Def telemetry"
To better understand what our feature usage is, and what gaps exist, it would be good to get a bit more telemetry out of our Go To Def system:

* How many requests result in decompiled code being displayed
* A hash of the DLL of the reference, to identify which are System vs non System DLLs
* When we timeout, is there a subsequent successful request made? (potentially can just be calculated using

[2022-11-15 04:29] Youssef1313 opened #65428 "`ERR_AssgReadonlyStatic` only under `#nullable enable`"
@jcouv This is *likely* symbol comparison we discussed before for https://github.com/dotnet/roslyn/issues/58966 and https://github.com/dotnet/roslyn/issues/62368. You were interested in a more important scenario, and I think there is one. The following test fails with nullable enabled.

[code]

![image](https://user-images.githubusercontent.com/31348972/201826551-2c9d878d-60ce-4e95-9383-360dbf966a

[2022-11-15 04:42] 333fred commented on #65428
https://sourceroslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/Binder.ValueChecks.cs,1040 probably needs to be `AllNullableIgnoreOptions`

[2022-11-15 05:03] cston commented on #65417
Updated breaking change [description](https://github.com/dotnet/roslyn/blob/main/docs/compilers/CSharp/Compiler%20Breaking%20Changes%20-%20DotNet%207.md#method-ref-struct-return-escape-analysis-depends-on-ref-escape-of-ref-arguments) to include `ref` parameters returned through `out` parameters.

[2022-11-15 05:04] #65417 closed

[2022-11-15 05:22] SunnieShine opened #65429 "Type `T[]*` reports parser error"
**Version Used**:

VS 17.5p1

**Steps to Reproduce**:

Type a code snippet that uses `int[]*`:

[code]

[sharplab](https://sharplab.io/#v2:EYLgtghglgdgPgYgA4CcIHNIAIDuEUyzpYAmUAzhMADYCmWAwgMoAcArAAwcA0jrAzACYAjAFgAUBIACHLFOEA6AEoBXGABcoYWgoCSGlLHJQAxuQDc02fIBsWACpU6lya9tY1lAGb1qAexhiXXVaNBCAISh1cgAKf0CAKix8NABPXlh1LDpA9QALDI0kqSk/FXUASgkAbwkseqwAN3wsYAhyWgA1WhMsAF4sbpN1PxRBNhsFBhRaCBCYgFphCpcGppbY

[2022-11-15 06:03] KrisNie commented on #62079
![image](https://user-images.githubusercontent.com/20340761/201838530-6c78ed6d-49bf-47ae-a876-4a75685ab706.png)

I still have this issue in my VS.

Microsoft Visual Studio Professional 2022
Version 17.4.0
VisualStudio.17.Release/17.4.0+33103.184
Microsoft .NET Framework
Version 4.8.04161

Installed Version: Professional

Visual C++ 2022   00476-80000-00000-AA224
Microsoft Visual C++ 2022

ASP.NET

[2022-11-15 06:12] KrisNie commented on #62079
Sorry, I see it's the problem of ReSharper.

Have a nice day!

[2022-11-15 07:55] ismaelhamed commented on #41640
For me, setting both `EnforceCodeStyleInBuild` and `GenerateDocumentationFile` finally made the compilation failed for `IDE0005` but not for `CS8019`.

[code]

[2022-11-15 07:59] Youssef1313 commented on #41640
@ismaelhamed I think you should never need CS8019

[2022-11-15 08:07] ismaelhamed commented on #41640
@justinmchase what's the point of `CS8019` then?

[2022-11-15 08:18] Youssef1313 commented on #41640
@ismaelhamed CS8019 is what makes IDE0005 work. The idea is that it's harder to implement "unused usings" analyzer outside of the compiler. So, this is implemented as a hidden diagnostic (CS8019) in the compiler, and IDE0005 just bridges CS8019 to the user.

https://github.com/dotnet/roslyn/blob/28754bb176aa35823cb1cca60b259448c856d0a8/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/He

[2022-11-15 08:22] ismaelhamed commented on #41640
@Youssef1313 Got it now, thanks! Key point is `CS8019` being "a hidden diagnostic".

[2022-11-15 10:38] Youssef1313 commented on #52991
How does that work with the following?

[code]

[2022-11-15 11:52] jfheins opened #66475 "50x slower build with .net 6.0.403 compared to 6.0.402"
### Describe the bug
With the new path release of .net 6, our build times increased significantly.
A `dotnet publish` that takes under one minute with .net 6.0.402 now takes about 50 minutes with .net 6.0.403

We see this behaviour in our self-hosted agents (running Ubuntu) but I can also reproduce this locally on Mac M1.

<img width="1133" alt="image" src="https://user-images.githubusercontent.co

[2022-11-15 13:21] #65381 closed

[2022-11-15 14:26] stephentoub opened #65435 "Compiler should elide null checks when it's provable they're unnecessary"
**Version Used**:
[7a9b666](https://github.com/dotnet/roslyn/commit/7a9b666da2368fbb2ab850851e076eb230c1f0b3)

**Steps to Reproduce**:
[code]

**Expected Behavior**:
The `?.` and `??=` involve provably unnecessary null checks and should be elided in code gen.

**Actual Behavior**:
All three contain a null check:
[code]

In many such situations, the coreclr JIT can detect the unnecessary check and

[2022-11-15 14:37] sharwell commented on #65435
Note that eliding the unnecessary checks would only be possible when optimizations are enabled in the compiler. In other cases, it's possible that interactive debugging could reintroduce cases where the check is required again.

This is similar to #34714, but more difficult because the code fix is introducing a (possible) behavior change. Currently it's not possible for analyzers to distinguish be

[2022-11-15 14:39] stephentoub commented on #65435
I'm suggesting the compiler itself would do the analysis and issue the diagnostic.

[2022-11-15 14:56] sharwell commented on #41640
The IDE also uses CS8019 to fade out unnecessary usings in generated code files, where it would never actually report an IDE0005 diagnostic. CS8019 reports _all_ unnecessary usings, while IDE0005 filters those down to only report actionable ones.

[2022-11-15 15:53] #61631 closed

[2022-11-15 16:45] AIZ-THerring commented on #54925
Opening by default in the new UI mangles my .editorconfig file before I even have a change to switch to text view.

Please provide CLEAR right-click options in the solution explorer context to open as text or open in the UI and provide an option somewhere so that we can specify our preferred default if we just double-click the file to open it out of habit.

[2022-11-15 16:51] #63904 closed

[2022-11-15 17:22] eerhardt commented on #65062
@CyrusNajmabadi - will this be fixed for `7.0.200`? We are putting workarounds into source-build to get unblocked. But we shouldn't be shipping with those workarounds: https://github.com/dotnet/installer/commit/a1525e5c10a0193142364db6fc487ffff7b56b40.

[2022-11-15 17:33] RikkiGibson commented on #65429
It would be useful to know if this problem is particular to use inside 'fixed' expressions or if it is the same for locals, parameters, etc.

[2022-11-15 17:34] seoworl commented on #64839
i realy need more info on that

[2022-11-15 17:34] Youssef1313 commented on #65429
@RikkiGibson Not specific to fixed.

[2022-11-15 17:41] RikkiGibson commented on #65435
I think this would be a big change, especially the part to actually change codegen. To do this we would probably have to introduce an "absolutely not null under any conditions" state, in addition to the usual "not null" flow state used in nullable analysis :)

[2022-11-15 18:16] #63307 closed

[2022-11-15 18:18] CyrusNajmabadi commented on #65429
The original code looks *very* intentional.  there are explicit tests that disallow this.  Did something change here wrt what we think should be legal or not?  @jaredpar ?

[2022-11-15 18:28] Youssef1313 commented on #65429
For reference, it was done in https://github.com/dotnet/roslyn/pull/32431.

[2022-11-15 18:56] jaredpar commented on #65429
The part about the nullable annotation is confusing me a bit. Is that saying a work around for the bug is to add the nullable annotation?

There was an explicit change to allow pointers to managed types in C#. Previously that was an error but now it's a warning. This was part of the general theme of [downgrade errors to warnings](https://github.com/dotnet/csharplang/blob/main/meetings/2022/LDM-202

[2022-11-15 18:57] CyrusNajmabadi commented on #65429
Gotcha.  Then making this change def makes sense to me.

[2022-11-15 19:02] Youssef1313 commented on #65429
When parsing a type, the parser says: if we got `*` and previous token was `]`, don't parse. So adding the `?` in between makes the parser happy.

[2022-11-15 19:14] palenshus commented on #37483
I tried the suggested workaround of renaming the variable to _, but now I get an `SA1313: Parameter '_' should begin with lower-case letter` warning. Seems like I'm caught between a rock and a hard place

[2022-11-15 19:16] tmat opened #65439 "Throw in CPSProjectFactory.GetIntermediateAssemblyPath"
Tracks TODO in code blocked on updating CI to the latest VS build.

[2022-11-15 19:28] CyrusNajmabadi commented on #37483
@palenshus   SA1313 is not part of Roslyn.  Sounds like an issue to take up with them.  Thanks!

[2022-11-15 19:36] CyrusNajmabadi commented on #65429
Agreed. We should parse according to our grammar (which allows this).  Disallowing (if we want that) should be done semantically.

[2022-11-15 19:37] jaredpar commented on #65406
@333fred to confirm dupe

[2022-11-15 19:42] 333fred commented on #65406
Unrelated. I'm not sure whether we really support this scenario, however. We generally don't process property bodies when considering nullability of fields, but we might make an exception for MemberNotNull of required properties. We'll need to run it by LDM.

[2022-11-15 19:46] Youssef1313 commented on #65429
@CyrusNajmabadi Umm.. Revisiting the grammar in https://github.com/dotnet/csharpstandard/blob/draft-v7/standard/grammar.md, it doesn't seem it allows it?

Following is part of the grammar:

[code]

[2022-11-15 19:48] isadorasophia opened #65442 "MissingMethodException when calling method prior to hot reload change"
**Version Used**: VS 17.4 with .NET 6/7
**Steps to Reproduce**:
1. Debug the following app with F5
[code]
2. Enter break state and modify Bar()
[code]
3. Continue

**Expected**
We successfully hot reload and call Bar().

**Actual**
When calling bar, we see an exception being thrown.

`System.MissingMethodException: 'Attempted to access a missing method.'`

**Fix**
Consider adding a better error me

[2022-11-15 19:50] vsfeedback opened #65444 "VS2022 Preview + Extension issues"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS2022-Preview--Extension-issues/10200977)._

---
On latest VS2022 Preview environment many of the exstions are failing and getting below error:
![image.png](https://aka.ms/dc/image?name=Be8337c5cf0b4487fb0750bc91494913c638040569167430791_20221114-160836-image.png&tid=e8337c5cf0b4487fb07

[2022-11-15 19:52] tmat commented on #65442
@davidwengier

[2022-11-15 20:12] RikkiGibson commented on #65429
This strikes me as a case of using grammars to enforce semantic rules, which we don't really do in the implementation. The "grammar" effectively in use in the implementation permits parsing many invalid programs simply so we can have a better guess at what the user meant to do. The corresponding spot in the grammar generated by the implementation is:

https://github.com/dotnet/roslyn/blob/1c349c70

[2022-11-15 20:48] palenshus commented on #37483
I found https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/2599 and added to it, for anyone else coming here for the same issue...

[2022-11-15 20:58] jasonmalinowski commented on #65444
@CyrusNajmabadi Were you already investigating this one?

[2022-11-15 21:00] jasonmalinowski commented on #65295
@WeihanLi Normally the answer is "right after release", but that doesn't mean we sometimes don't run into issues; this got held up due to some packaging fixes that had to happen. @jaredpar @ryzngard anything further to add?

[2022-11-15 21:01] jasonmalinowski commented on #64587
@Youssef1313 what happens if you try clearing out the RoslynDev hive? Or do a full rebuild?

[2022-11-15 21:03] ryzngard commented on #65295
Correct. Since it's a manual process there can be slight delays. Generally we snap to VS releases for our package releases. 4.4.0 is with VS 17.4 GA for example. We have to verify the packages, possibly modify dependencies to final releases, and do manual validation prior to publishing them.

[2022-11-15 21:38] Youssef1313 commented on #65378
I'm suspecting this to be a regression from https://github.com/dotnet/roslyn/commit/29a29d54e5ddd609650d47cb58318f874f0b99f0

[2022-11-15 21:42] #64587 closed

[2022-11-15 21:43] CyrusNajmabadi commented on #65444
@jasonmalinowski No.  I was not.

[2022-11-15 21:48] RikkiGibson commented on #61999
We addressed this in 17.4, but further issues were observed which we think we can address at a later date. Tracked in #64098.

[2022-11-15 21:49] #61999 closed

[2022-11-15 21:55] jaredpar commented on #64703
@RikkiGibson can you help clarify here?

[2022-11-15 21:56] Youssef1313 commented on #65378
I cannot reproduce the issue.

[2022-11-15 21:57] jaredpar commented on #65000
Duping off the primary issue here: #37468

[2022-11-15 21:57] #65000 closed

[2022-11-15 22:00] jaredpar commented on #65301
Neither am I but at this point it's clear the compiler is issuing the return type in any non-void case. I can't see us changing that at this point to line up with the docs. Think we should approach this as a documentation bug to be fixed up.

[2022-11-15 22:05] RikkiGibson commented on #64703
We don't expect these attributes to have any effect when the return type is not `bool`. Let's fix that. I'd also like to be able to introduce warnings or errors about misuse of these on an ad-hoc basis.

I know we had wanted to do a more comprehensive dive into *warnings for misuse of nullable attributes*, but we didn't end up having the time over the past year or two. We have a nullable working g

[2022-11-15 22:12] davidwengier commented on #65442
There is a possibility we can be smart enough to trampoline the call for this one. Otherwise, better exception message content suggestions welcome :)

[2022-11-15 22:31] tmat commented on #65442
Something like "Method has been deleted or its signature changed by Edit and Continue. Update the caller to avoid this exception."?

[2022-11-15 22:45] RikkiGibson commented on #65369
I think we would be happy to take a contribution to indicate that the nullable conversion warning is on the result of a user-defined conversion, rather than being on the operand itself.

[2022-11-15 22:57] CyrusNajmabadi commented on #65429
I think we have to do that :)  Otherwise we're not a compliant impl :)

[2022-11-15 23:03] rainersigwald commented on #36397
This should be fixed in MSBuild now--we have an AssemblyLoadContext per task-assembly path, which should get you isolation.

[2022-11-15 23:37] #65295 closed

[2022-11-15 23:38] jasonmalinowski commented on #65408
@CyrusNajmabadi @mavasani Any reason we shouldn't do this?

[2022-11-15 23:46] jasonmalinowski commented on #65390
Assigning to @CyrusNajmabadi to keep driving the conversation, but yes, this is tricky. I think @DoctorKrolic might be on to something to put yield break/return along with the classic one, but I'd still be hesitant to see the original removed without some extra telemetry guiding that most folks were just selecting a new one.

[2022-11-15 23:52] jasonmalinowski commented on #65359
@Bgajic-mono Do you know which version of VS you were using before where this worked?
@tmat any idea if this is similar to the other regressions if something is handling options badly?

[2022-11-15 23:54] jasonmalinowski commented on #65389
We'll keep the 17.4 open since we're still doing bugfixes for it. @jaredpar any reason we can't close the rest?

[2022-11-15 23:56] CyrusNajmabadi commented on #65408
Generally speaking, because it's not a good representation of things (and really should be removed).  References can be bucketed into many disparate concepts.  So finding the write way to represetnt that isn't clear.

[2022-11-15 23:57] jasonmalinowski commented on #65310
@tmat Thoughts on this?

[2022-11-16 00:01] tmat commented on #65359
This makes me think it's probably the same issue as fixed by https://github.com/dotnet/roslyn/pull/65382.

[2022-11-16 00:11] jaredpar commented on #65310
@tmat thoughts will be more modern than mine. So take anything he says over what I say below.

Back when I was in charge of the EE (12+ years ago) the intent was that evaluation in the EE should mimic evaluation at that point in the code file as close as possible (the EE has some limitation on correctness here). That has some negative effects as mentioned in this bug but overall generally matches

[2022-11-16 00:18] tmat commented on #65087
Seems like an issue in the debugger.

[code]

Works fine for classes, it's off for structs.

Likely the debugger doesn't handle the following pattern well:

[code]

[2022-11-16 00:27] jaredpar commented on #65412
Moving to IDE as this is less an infra issue and more their tests aren't partitioned here such that they can run on Linux.

[2022-11-16 00:30] arkalyanms commented on #65064
@jaredpar Does this need a 17.4 servicing? There are a few feedback tickets around it that @mavasani looked at against 17.4 GA.

[2022-11-16 00:44] jaredpar commented on #65174
I agree it would be nice if we had matching branches like this. It would actually solve a lot of other problems we have. We've considered this a few times but we cannot find a reasonable way to due this with the current set of restrictions that we have in place without adding a lot of overhead.

The rough restrictions we have:

- All of our release branches must be protected (no direct pushes)
- A

[2022-11-16 00:44] #65174 closed

[2022-11-16 00:52] jaredpar commented on #65389
None I'm aware of.

[2022-11-16 01:11] jasonmalinowski commented on #65419
@CyrusNajmabadi did we never implement this?

[2022-11-16 01:13] jasonmalinowski commented on #65419
Looks like this is a duplicate of #60812.

[2022-11-16 01:13] #65419 closed

[2022-11-16 01:35] WeihanLi commented on #65295
Get it, thanks

[2022-11-16 01:57] RikkiGibson commented on #65310
EE does err on the side of permissiveness though, right? For example, EE is allowed to violate accessibility rules, i.e. even if a member is not accessible at the current statement in the debugger, the EE is still permitted to access it.

I would be curious to know if there are more ways the "just let the user access things" experience could happen besides "bind to dynamic and move on". For exampl

[2022-11-16 06:16] kzu commented on #34636
Sure. I don't want the conversation to derail from the original bug that would be awesome to get fixed here ;)

[2022-11-16 06:29] Bosch-Eli-Black commented on #52914
I remember another issue where it was discussed that ideally, Roslyn/VS would automatically call `NormalizeWhitespaces().ToFullString()` on all generated code, so that exceptions thrown in genertated code would have stack traces with reasonable and consistent line numbers.

Is that still on the table? If so, maybe it would make sense to implement that and then get telemetry from VS to see if this

[2022-11-16 06:30] bjornhellander opened #65455 "Question: Roslyn version in Visual Studio 17.4?"
Hi!

I am assuming that each version of Visual Studio is using a particular version of Roslyn. Please correct me if I am wrong :-)
Anyway, I found this page: https://learn.microsoft.com/en-us/visualstudio/extensibility/roslyn-version-support?view=vs-2022 but it does not list the new 17.4. I was wondering if any of you can tell me which version is used in 17.4?

[2022-11-16 06:34] Youssef1313 commented on #65455
It is the same pattern that is documented in this page. VS 17.x will use Roslyn 4.x (the same `x`).
So 17.4 uses 4.4.

[2022-11-16 06:37] soydivision commented on #11250
Just use _Ctrl + h_ for replacing.

[2022-11-16 06:40] CyrusNajmabadi commented on #52914
It is absolutely not in the table. C# is definitely whitespace sensitive, and doing this could def break code.  We should not automatically do anything. Of you want normalized code, and that's ok for your domain, then just normalize it first.

[2022-11-16 06:51] Bosch-Eli-Black commented on #52914
I'm referencing https://github.com/dotnet/roslyn/issues/49685#issuecomment-738078844

@AArnott Would you mind weighing in on this? 🙂

[2022-11-16 06:51] bjornhellander commented on #65455
Execllent! Thank you, @Youssef1313!

[2022-11-16 06:59] Bgajic-mono commented on #65359
@jasonmalinowski @tmat I rolled back to 17.3.6 and it's working properly there.

[2022-11-16 07:52] RikkiGibson commented on #65355
I wonder if we could get a null AttributeClass here if the attribute type is defined in an assembly which is not referenced in the compilation. e.g. LibraryA defines SomeAttribute, then LibraryB uses SomeAttribute on a symbol, and in your compilation you only reference LibraryB.

It's possible we end up filling in some kind of error/placeholder attribute in that case, though.

[2022-11-16 10:26] Tragetaschen opened #65456 "Extract Method does not reproduce nullability of generic parameters of method parameters"
**Version Used**:
17.5.0 Preview 1.0

**Steps to Reproduce**:
[code]
Run `Extract Method` on the return statement line

**Expected Behavior**:
The NewMethod's parameter type should be `Dictionary<string, string?>`.

**Actual Behavior**:
The NewMethod's parameter type is `Dictionary<string, string>` (note the missing `?` on the second generic parameter), which results in an immediate nullability er

[2022-11-16 11:39] jjonescz commented on #65426
Thanks for reporting this issue. However, I cannot reproduce the problem. [This example](https://gist.github.com/jjonescz/02a66a267888ec347ebd8594e7c167c0) generates the following XML doc:

[code]

[2022-11-16 14:34] pawchen commented on #65356
I experience similar issue after upgrading to VS17.4. When I notice the squiggles are not updating, VS typically indicates low priority background tasks are running, but it appears that they never finishes, then I open Task Manager and notice a CPU core is running at 100%. Then I have to restart VS.

This happens quite often but it happens randomly.

[2022-11-16 14:46] #65360 closed

[2022-11-16 14:48] akoeplinger commented on #65415
Looks related to https://github.com/dotnet/roslyn/issues/61900

[2022-11-16 14:48] sharwell commented on #65356
@wmjordan Can you link to this issue:

[2022-11-16 14:48] #65356 closed

[2022-11-16 14:49] sharwell commented on #65356
Resolved as external pending investigation on the feedback system. We don't have a way to provide data on GitHub for this type of investigation to proceed via an issue here.

[2022-11-16 14:51] akoeplinger commented on #65415
I also think I saw either the sdk or nuget running into a similar issue but can't find the relevant GitHub issues.

[2022-11-16 14:54] sharwell commented on #65356
Found the issue:
https://developercommunity.visualstudio.com/t/ServiceHubRoslynCodeAnalysisServiceexe/10176856

[2022-11-16 15:11] a74nh commented on #65415
Curiously that issue is asking for permissions to be made more restrictive (755->700), whereas the "quick fix" for this issue would be be less restrictive (755->777).

(Agree that the proper fix for this would be to create directories per user).

[2022-11-16 15:28] dmcnaughton-nbc opened #65460 "CA2252 - Static Abstract Build Error with Preview Features Enabled"
**Version Used**: .NET 7.0 SDK 7.0.100

**Steps to Reproduce**:

1. Create .NET 6 project with following configuration
![image](https://user-images.githubusercontent.com/37875998/202221481-fca08d16-432d-4eee-a85c-6090f7da681e.png)

2. Implement code using **static abstract** method
3. Build project
4. Receive following error: IDataTableHelper.cs(9,38,9,60): error CA2252: Using both 'static' and 'a

[2022-11-16 15:38] omajid commented on #65174
Not to put words in @ayakael's mouth, but my main point of confusion has always been "I need to send a fix to .NET 6.0.1xx; which roslyn branch should I target?" I think that might be easier to resolve. Perhaps the README can include a list of  which branch of this repo maps to which .NET SDK branch (if any)? Or even the other way around something like:

---

# .NET SDK branch mapping

- For chang

[2022-11-16 15:48] dmcnaughton-nbc commented on #65460
A temporary work-around is to create a **global.json** file and setting the sdk version to 6.X. Documented here: https://dev.to/polarbit/how-to-change-default-dotnet-sdk-version-43ph

[2022-11-16 16:05] ceztko opened #65461 "Altering the preprocessor symbols with Project.WithParseOptions() does not re-evaluate conditionally included documents"
**Version Used**:

Microsoft.CodeAnalysis 4.4.0

**Actual Behavior**:

Altering the preprocessor symbols of a `CodeAnalysis.Project` with `project.WithParseOptions((project.ParseOptions as CSharpParseOptions)!.WithPreprocessorSymbols(new string[] { "NEW_DEFINE" }))` does not cause the project to load conditionally included documents with a `DefineConstants.Contains()` condition such the following:

[2022-11-16 16:13] ayakael commented on #65174
Right, indeed. The problem is that `release/dev17.1` is a lot newer than what's referenced in `release/6.0.1xx` of `installer`. In fact, the referenced patch is already in that branch. Its current `global.json` even requires `7.0.100-preview.2.22153.17`. Maybe it's a fluke, perhaps `release/6.0.1xx` does have a branch, just with a different name.

[2022-11-16 16:24] omajid commented on #65174
Yeah, I was just giving an example. I don't know the branch matching `release/6.0.1xx` either :cry:

[2022-11-16 16:37] AArnott commented on #52914
I disagree with @sharwell that CsWin32's whitespace problem or perf problems are solved. We avoid NormalizeWhitespace completely now because it is unacceptably slow. Instead, we have our own `FastSyntaxFactory` class and use the Banned API analyzer to forbid use of SyntaxFactor and a bunch of overloads on various syntax classes because they use elastic trivia which kicks in some automatic normaliz

[2022-11-16 17:13] Youssef1313 opened #65464 "Revise `ContainsDiagnostics` usages in parser"
@CyrusNajmabadi The following currently compiles due to [another use](https://github.com/dotnet/roslyn/blob/d4b6140d5ea3642f9696ff84ec402fb651a12fe1/src/Compilers/CSharp/Portable/Parser/LanguageParser.cs#L558) of `ContainsDiagnostics`:

[code]

I guess we should revise every use of ContainsDiagnostics in the parser.

_Originally posted by @Youssef1313 in https://github.com/dotnet/roslyn/pull/65440

[2022-11-16 17:17] Youssef1313 commented on #65460
This is by-design. See https://github.com/dotnet/designs/blob/main/accepted/2021/preview-features/preview-features.md#meaning-of-property-in-multi-targeted-projects

[2022-11-16 17:25] TKharaishvili commented on #37468
In TypeScript I do this:

[code]

looks much uglier in C#:

[code]

but maybe that could be helped by this - https://github.com/dotnet/csharplang/issues/5354

my two cents...

[2022-11-16 17:58] CosminSontu opened #65465 "Extract Method in file with top-level statements results in compile error"
**Version Used**:
Visual Studio 2022 v17.4.1
**Steps to Reproduce**:

1. Open file with top-level statements that has at least a record declaration
2. Apply ExtractMethod refactoring (edit: via VS Keyboard shortcut "Ctrl-R,M" in my case)
3. Build your project, you get CS8803

A minimal repro, with source-code provided, is ideal.  Using [sharplab](https://sharplab.io/) is preferred for compiler/lan

[2022-11-16 18:00] Youssef1313 commented on #65465
Similar to https://github.com/dotnet/roslyn/issues/49649. But not sure if the root cause is the same.

[2022-11-16 18:10] dmcnaughton-nbc commented on #65460
@Youssef1313 Thanks for the additional info, since this does appear to be a duplicate of that ticket I'll mark this as closed.

For those who find this thread, the solution is to add `
    <GenerateRequiresPreviewFeaturesAttribute>true</GenerateRequiresPreviewFeaturesAttribute>` to your csproj file when you use `<EnablePreviewFeatures>true</EnablePreviewFeatures>` on a project targeting a **Target

[2022-11-16 18:10] #65460 closed

[2022-11-16 18:27] jasonmalinowski commented on #65310
I don't know what it looks like to implement this, but that would be fantastic!

[2022-11-16 18:42] Youssef1313 commented on #65464
https://github.com/dotnet/roslyn/blob/d4b6140d5ea3642f9696ff84ec402fb651a12fe1/src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs#L117

https://github.com/dotnet/roslyn/blob/d4b6140d5ea3642f9696ff84ec402fb651a12fe1/src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs#L164

I can't quickly find a case where the `ContainsDiagnostics

[2022-11-16 19:41] CyrusNajmabadi commented on #65465
Could you please supply a repro @CosminSontu   e.g. a snippet of code, and the span you were applying the refactoring to?  Thanks!

[2022-11-16 19:47] Youssef1313 commented on #65465
@CyrusNajmabadi

[code]

The refactoring isn't offered when not in a nested construct it seems? not sure if that's a bug.
and this specific bug only reproduces when there are using statements.

[2022-11-16 19:49] Youssef1313 commented on #65465
Note: Extract local function is already offered and does the right thing. Extract method shouldn't be offered in the first place for top-level statements.

That might be already done, but not done properly (since we already don't offer when the selection is a global statement syntax - though we should consider nested constructs too)

[2022-11-16 19:53] Youssef1313 commented on #65465
https://github.com/dotnet/roslyn/blob/d35a6cb849e44e98e5387c8d702aa8db0f6fb4f9/src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionValidator.cs#L111-L115

Here we only check if the direct selection parent is global statement. We should go higher up in the tree.

[2022-11-16 19:56] AlekseyTs opened #65470 "Receiver of a call taking InterpolatedStringHandler is unexpectedly copied in a way that mutations performed by the method are not observable"
[code]

Observed:
[code]

Expected:
[code]

[2022-11-16 20:01] AlekseyTs commented on #65470
At the same time the copy doesn't occur when receiver is a ref parameter:
[code]

[2022-11-16 21:11] jaredpar commented on #65142
Unfortunately we can't do that because it causes our builds to be non-deterministic. Time is generally a bad metric in the compiler because so many outside sources can influence it: power of the box, other actions happening on the box, the changes to the code size over time, etc ...

This is why we've invested in the `/p:ReportAnalyzer` property to provide the timing information so customers can m

[2022-11-16 21:11] #65142 closed

[2022-11-16 21:11] #64985 closed

[2022-11-16 21:55] RikkiGibson commented on #31916
This issue was mentioned in a revision of #62641.

[code]

[2022-11-16 22:48] #65362 closed

[2022-11-16 23:09] jaredpar opened #65474 "Missing inputs in the key file"
Recently discovered that there are several inputs we are not tracking in the key file that need to be tracked:

- [ ] source link file
- [ ] ruleset file
- [ ] resources

[2022-11-16 23:55] jasonmalinowski commented on #65461
This is effectively by design, since the Project snapshot you're using isn't linked back to the original MSBuild to retrigger any evaluation of the MSBuild in the way you want. What might work for what you're trying to do would be to fire up a new MSBuildWorkspace and in the Create() method you can pass a list of additional properties to pass along, where you could set DefineConstants to something

[2022-11-16 23:55] #65461 closed

[2022-11-16 23:55] jasonmalinowski commented on #65461
And it might help @ceztko if you can clarify a bit more of what your scenario is here as far as giving pointers in different directions.

[2022-11-16 23:57] jasonmalinowski commented on #65455
In general, always subtract 14 from the VS major.minor to get to Roslyn version. Note the patch level things will vary a bit, and we also won't discuss what happened when 15.5 somehow became 2.6. :smile:

[2022-11-17 00:34] wmjordan commented on #65356
@sharwell

Yes, it is the issue. Sorry for having brought trouble to you.
They said that issue had been fixed.

[2022-11-17 00:38] wmjordan commented on #65356
@pawchen
I've hereby written a thing to monitor the system CPU usage merely for this bug.
You can [download the extension](https://marketplace.visualstudio.com/items?itemName=wmj.Codist) and turn on the CPU monitoring feature on VS.

[2022-11-17 00:40] #65455 closed

[2022-11-17 01:30] #63324 closed

[2022-11-17 01:32] dibarbet commented on #63324
Analysis is now gated by the LSP feature flag itself, so will be enabled by default when LSP pull diagnostics is on by default
https://github.com/dotnet/roslyn/pull/65468

[2022-11-17 01:58] CyrusNajmabadi opened #65477 "Fix-All for analyzers marked as syntax-only still computes semantics."
Found while trying out fix-all for the new formatting analyzers (https://github.com/dotnet/roslyn/pull/65476 and https://github.com/dotnet/roslyn/pull/65467) on roslyn.sln.  Have provided Manish with a trace, but the majority of time is being spent in semantic binding:

![image](https://user-images.githubusercontent.com/4564579/202335289-220d21aa-28dc-43c9-8fef-e55162f43e80.png)

These analyzers a

[2022-11-17 02:34] CyrusNajmabadi commented on #64993
@Bosch-Eli-Black I'd recommend filing a VS issue.  :)

[2022-11-17 02:45] Bosch-Eli-Black commented on #64993
@CyrusNajmabadi Fair enough! 🙂  Will track via https://developercommunity.visualstudio.com/t/easy-copy-code-without-indentation/1156022

[2022-11-17 04:17] #65392 closed

[2022-11-17 05:38] mavasani opened #65479 "Enhance newline formatting option for placement of ? and : in multiline conditional expression"
I agree with @Youssef1313 - I have seen users who prefer enforcing the former style, so if there is anyway we can get a 3-state option value (enforce style a, or enforce style b or disable), then that would be fantastic.

1. Style a: Multiline conditional expression must have a newline following the `?` and `:` tokens
2. Style b: Multiline conditional expression must not have a newline following t

[2022-11-17 06:22] Bosch-Eli-Black commented on #49685
@AArnott Do you think it'd be worth filing a separate issue with your suggestion from https://github.com/dotnet/roslyn/issues/49685#issuecomment-738078844 (code generated by source generators should automatically be normalized)?

I fear that excellent suggestion will be lost among the other comments in this issue 🙂

[2022-11-17 06:40] CyrusNajmabadi commented on #49685
automatic normalization absolutely cannot happen.  It breaks semantics.  Normalization doesn't preserve the original meaning of code, and thus must absolutely only happen in an opt-in fashion.

[2022-11-17 06:55] Bosch-Eli-Black commented on #49685
@CyrusNajmabadi Example? I'm having a hard time visualizing.

[2022-11-17 07:23] Youssef1313 commented on #65479
Same applies to `ArrowExpressionClausePlacementDiagnosticAnalyzer` being added in https://github.com/dotnet/roslyn/pull/65476

Feel free to move that to a separate issue.

[2022-11-17 07:27] pawchen opened #65482 "Initializer member complete too aggressive at first"
**Version Used**:  VS17.4

**Steps to Reproduce**:

1. Define some struct
[code]
2. Initialize it somewhere, type `new A Enter {`, `$$` means my caret:
[code]
3. `F1` is aggressively selected at this point, but muscle memory leads me to hit Enter again, expecting
[code]
Actually
[code]

[2022-11-17 07:32] ceztko commented on #65461
Thank you for the prompt answer. The scenario is a code generation task, where I have to load a project and ensure all relevant  files are selected for compilation, also based on externally passed defines. The fact, as you stated, that the `CodeAnalysis.Project` is not linked to the original MSBuild project is clarifying why what I was trying couldn't work. On a quick test creating the `MSBuildWor

[2022-11-17 07:42] CyrusNajmabadi commented on #49685
[code]

Move 'Foo' and you change the meaning of the code and what is emitted.  There are tools *today* that use these sorts of locations to make decisions.  Changing the code around can change that and violate expectations they have for how code will be laid out (e.g. putting multiple things on the same line that may not have been before).

SGs are not a quick-and-dirty system that tries to infer

[2022-11-17 07:44] CyrusNajmabadi commented on #65482
Yes.  We should not be hard selecting items here.  If we're doing that, that's def a bug.

[2022-11-17 10:13] CosminSontu commented on #65465
In my case I had a record defined at the end of the top-level statements file. The Ctrl-R-M refactoring created the extracted the extracted method at the end of the file ( after the pre-existing record declaration ). Moving the method declaration above the record declaration fixed the aforementioned compiler error.

[2022-11-17 10:14] Youssef1313 commented on #65465
@CosminSontu Did you also see an "Extract local function" refactoring that already does the right thing?

[2022-11-17 12:05] mavasani opened #65484 "Optimize perf for FixAll code path in CompilationWithAnalyzers"
FixAll for an analyzer diagnostic in document/project/solution requires to compute the analyzer diagnostics in tree(s)/compilation(s). This analysis is driven by compilation event queue, and in order to generate the required compilation events, we invoke the following calls: https://github.com/dotnet/roslyn/blob/dcd1063fe1a406a0072b0647d9d692f4f8db33f4/src/Compilers/Core/Portable/DiagnosticAnalyze

[2022-11-17 13:02] corngood opened #65485 "IDE0058 removes `using` from variable declaration"
**Version Used**:

dotnet sdk 6.0.403

**Steps to Reproduce**:

`dotnet new console`

Program.cs:

[code]

.editorconfig:
[code]

run `dotnet format`

**Diagnostic Id**:

IDE0058

**Expected Behavior**:

no functional change to the code

**Actual Behavior**:

Main is changed to:

[code]

[2022-11-17 13:53] AArnott commented on #49685
I think normalization will always be a perf hit and should therefore always be opt in. But I am curious when whitespace normalization would ever change the semantics of the code. @CyrusNajmabadi in your example, where would normalization move `Foo` such that semantics would change? Certainly rearranging code relative to each other can cause a problem, but how does adding/removing whitespace break

[2022-11-17 13:55] pawchen commented on #65482
It appears that it has something to do with the `required` keyword. This only happens when the struct has a required member.

[2022-11-17 14:23] CyrusNajmabadi commented on #49685
I consider a "break" to be any scenario where the compiler emits different IL or metadata. In that event what is in the final dll is not the same as what would be there if no normalization had happened.

The above example demonstrates one case where such a break would occur.  Location of code is reflected in the IL we emit, and I know if at least two cases where SG authors use that information. E.

[2022-11-17 14:34] Sergio0694 opened #65486 "Implement interface members code fix doesn't add <inheritdoc/> over generated members"
**Version Used**: 17.4

**Steps to Reproduce**:

1. Define an interface with some members
2. Define a class implementing the interface
3. Click on the "implement all interface members" code fix

**Expected Behavior**:

Roslyn should also add `/// <inheritdoc/>` over generated members.

**Actual Behavior**:

The generated members have no XML docs.

[2022-11-17 14:48] AArnott commented on #49685
File/line info is in the PDB though. That's not IL or metadata. Are you only talking about moving source code invalidating where the SG expected to find the code references in the PDB? Or are you saying that adding whitespace changes IL or metadata in the dll itself?

[2022-11-17 14:48] CheloXL opened #65487 "NoStdLib is not beign respected after net7 upgrade"
**Version Used**:
.NET SDK:
 Version:   7.0.100
 Commit:    e12b7af219

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.22621
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\7.0.100\

Host:
  Version:      7.0.0
  Architecture: x64
  Commit:       d099f075e4

.NET SDKs installed:
  6.0.201 [C:\Program Files\dotnet\sdk]
  6.0.301 [C:\Program Fil

[2022-11-17 14:55] CyrusNajmabadi commented on #49685
No. It's also in IL. See my example from above. This is a technique already being used.

[2022-11-17 15:09] Youssef1313 commented on #65486
Aren't doc comments implicitly inherited in this case?

[2022-11-17 19:38] #55969 closed

[2022-11-17 19:49] DoctorKrolic commented on #61727
@genlu The issue is resolved (I believe by https://github.com/dotnet/roslyn/pull/65262):
![devenv_LLrbF2HPDF](https://user-images.githubusercontent.com/70431552/202544724-5669c2dc-fded-46d2-8627-21bb7a98feb4.png)

[2022-11-17 19:52] CyrusNajmabadi commented on #65477
@mavasani as you do thsi work, i'd recommend continually profiling (i can help with this).  I think these sorts of issues are smeared all over the place, and we're as slow as our weakest point here.  So unless we steadfastly drive to no semantics, we stay slow.

[2022-11-17 20:19] AlekseyTs commented on #65470
For this test:
[code]

Observed:
[code]

[2022-11-17 20:51] CyrusNajmabadi opened #65491 "When we remove solution crawler, we can remove remote global notification service."
This system exists so that OOP can know when a build is going on, so it can throttle solution-crawler.  If we have no solution crawler, there is no need for this complex system to remain.

[2022-11-17 21:01] jasonmalinowski commented on #65491
@CyrusNajmabadi Do we have a general tag/project for the tracking all the cleanup from solution crawler?

[2022-11-17 21:05] CyrusNajmabadi commented on #65491
No. Not that i'm aware of.

[2022-11-17 21:06] jaredpar commented on #65487
Tried a quick repro and mscorlib is being provided to the compiler here which is the root of the errors:

<img width="762" alt="image" src="https://user-images.githubusercontent.com/146967/202559665-a1fb8405-1284-4b32-8b71-4b14c18419f8.png">

Note: I do not know if the SDK intended for this to work or not. I will let them decide but we're definitely getting mscorlib passed here.

[2022-11-17 21:13] jasonmalinowski commented on #65087
@tmat: assigning to you until we figure out where to move this.

[2022-11-17 21:21] #65308 closed

[2022-11-17 21:28] vsfeedback opened #65493 "Visual Studio 17.4.1 with .NET 7.0 autofix for CA1854 applies incorrect refactor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Visual-Studio-1741-with-NET-70-autof/10202859)._

---
Was using a Dictionary with ContainsKey() to check a key and then later retrieving the value for that key. Visual Studio suggested using TryGetValue() to avoid a double lookup. When I applied the automatic suggestion the ContainsKey()

[2022-11-17 21:29] allisonchou opened #65494 "[Automated] PRs inserted in VS build main-33117.159"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/293e6fec465d871299ab5d2226c135e32d8f6962...0d79c9d9ff528a1b3b1de0c04ecb65c53e44fa5c?w=1)
- [Consult secondary index to avoid looking in a document for unit-test matches. (65436)](https://github.com/dotnet/roslyn/pull/65436)
- [Report analyzer telemetry for lightbulb code path in OOP (65212)](https://github.com/dotnet/roslyn/p

[2022-11-17 21:29] #65494 closed

[2022-11-17 22:15] omajid commented on #65174
Any thoughts, @jaredpar ?

[2022-11-17 23:02] codetuner commented on #65426
Hi! I'm sorry, it's indeed more subtle than I thought. After further investigation I found it seems to relate to where the code is generated to and when it is generated. But I'm working on a sample to reproduce the problem.

[2022-11-17 23:17] 333fred commented on #65358
Language features need to be requested on dotnet/csharplang, not roslyn. This is also a duplicate of https://github.com/dotnet/csharplang/discussions/6567, https://github.com/dotnet/csharplang/discussions/6536, and https://github.com/dotnet/csharplang/discussions/6637.

[2022-11-17 23:17] #65358 closed

[2022-11-17 23:44] Serexx commented on #62059
In case it helps -with regard to the first error message in the above OP:

 this https://github.com/dotnet/roslyn/issues/49544 was closed because it was a duplicate of this https://github.com/dotnet/roslyn/issues/49005, which in turns appears to have been flagged as "resolved" by simply producing a polite error message. Th errors was solved by telling us that we have an error and handing us a stac

[2022-11-17 23:44] codetuner commented on #65426
Ok here I have it: https://gist.github.com/codetuner/ab68269bf631f8413c3c5b85d1d325b3
The solution consists of 3 projects. See the README in the Gist.
When running, Swagger shows documentation for the Id property of the SupplierDto class (which is not generated by the SourceGenerator), but does not show documentation for the Id property of the CustomerDto class (which is generated by the SourceGen

[2022-11-18 00:45] aikeneic97 commented on #63863
We believe that every woman is stunning and deserves to be pampered. That’s why we’re here to empower you all with the transformational power of hair. After all, **[Unique Hair Extension](url=https://theuniquehairextensions.com/)** was developed because every woman deserves to be at her best.

[2022-11-18 00:52] #57243 closed

[2022-11-18 00:56] isadorasophia commented on #65087
@tmat I looked into the debugger side of this, it seems that [CordbJITILFrame::GetIP](https://github.com/dotnet/runtime/blob/98fcb3d7aead3a72af512c278cfc0bec33fc3e5e/src/coreclr/debug/di/rsthread.cpp#L7969) returns an IL offset of 0x09 at:
[code]

When evaluating classes, it returns 0x07 instead:
[code]

That's interesting, because the debugger simply reflects whatever DBI returned us with `ICorDe

[2022-11-18 01:27] wmjordan opened #65496 "C# Extract Method refactoring failed if "Not all code paths return""
**Version Used**:
VS 17.3 or later (up to 17.5 preview 6)

I have posted [an issue in VS feedback](https://developercommunity.visualstudio.com/t/C-Extract-Method-refactoring-failed-if/10173076) before, but no reply except asking me for reproducing steps.

**Steps to Reproduce**:

1. A C# file with the following code.
2. Select `if (a == 1) { return "err"; }`
3. Execute the _Extract Method_ command

[2022-11-18 02:55] pawchen opened #65498 "Formatting for stackalloc as a parameter lost one indentation"
**Version Used**: VS17.4

**Steps to Reproduce**:

1. Have a function that accepts `Span`, for example `void F(Span<int> span, int p2)`.
2. Call it passing `stackalloc` as the first argument:
[code]
3. Format document (<keyboard>Ctrl+K,D</keyboard>), expecting no changes.
4. Actually
[code]

In my real world case `int`s here are `enum`s.

[2022-11-18 03:43] Bosch-Eli-Black commented on #49685
@CyrusNajmabadi Would you mind expounding on those two cases where SG authors use file/line info to look up data in a map that the SG has prepopulated? 🙂  I'm having a bit of trouble following.

[2022-11-18 04:19] terrajobst opened #65499 "Unable to reference netmodule"
**Version Used**:

[code]

**Steps to Reproduce**:

Run the following code:

[code]

**Expected Behavior**:

It prints the number of modules, which should be 2.

**Actual Behavior**:

It crashes with an exception:

[code]

After stepping through the sources, it seems to me as if the problem is here:

https://github.com/dotnet/roslyn/blob/dc04e499a090e9e2277ef358eb385905fd4a6003/src/Compilers/Core/

[2022-11-18 07:41] mavasani opened #65501 "Performance improvements for FixAll diagnostic computation for syntax-only analyzers"
@mavasani this appears to be an improvement, but still not as much as i hoped.  Profiling with this change, i see the majority cost is here:

![image](https://user-images.githubusercontent.com/4564579/202539185-5810f26a-0382-4841-8b14-e50cbb097567.png)

Basically, we are still getting a compilation (despite only caring about syntax).  And compilations are extremely expensive for us due to skeleton

[2022-11-18 09:32] Youssef1313 commented on #65499
Similar issue: https://github.com/dotnet/roslyn/issues/11581

[2022-11-18 09:49] mavasani opened #65502 "Big tagger delay in refreshing squiggles in the editor"
~**This is regression in 17.5 dogfood builds, does not repro on 17.4 release builds**~ This seems to repro on both 17.4.1 and 17.5

**Version Used**:

[code]

**Steps to Reproduce**:

1. Open Roslyn.sln
2. Open source file `Compilation.cs` in `Microsoft.CodeAnalysis.csproj`
3. Goto line 115 and repeatedly remove and add back the semicolon at the end of the statement in a loop

**Expected Behavior*

[2022-11-18 09:58] mavasani opened #65503 "Inline diagnostics in the editor do not get cleared up"
**This is regression in 17.5 dogfood builds, does not repro on 17.4 release builds**

**Version Used**:

[code]

**Steps to Reproduce**:

1. Check the below Tools Option checkbox:
![image](https://user-images.githubusercontent.com/10605811/202673479-d6f63b25-e0b2-4c69-9b69-81e54caa81c9.png)

2. Open Roslyn.sln
3. Open source file Compilation.cs in Microsoft.CodeAnalysis.csproj
4. Goto line 115 and

[2022-11-18 10:41] Youssef1313 commented on #63508
Update on my previous comment:

I think the spec in https://github.com/dotnet/csharplang/pull/1749 isn't yet "official", so unsure whether this is really a bug or not.

[2022-11-18 11:06] cremor opened #65504 "IDE0200 is misreported and its editorconfig setting affects IDE0039"
**Version Used**:
Visual Studio 17.4.1

**Steps to Reproduce**:

1. Create a new .NET 7 console app project
2. Add an .editorconfig file with the following content:
[code]
3. Add a new class with this method:
[code]
4. Notice that both IDE0039 (Use local function) and IDE0200 (Lambda expression can be removed) are reported as expected.
5. Change the `csharp_style_prefer_local_over_anonymous_functi

[2022-11-18 11:16] cremor commented on #65479
There is already the similar setting `dotnet_style_operator_placement_when_wrapping`, see MicrosoftDocs/visualstudio-docs#3641
But I think that both should stay separate. I justed wanted to mention it so that maybe the same option wording (`end_of_line` and `beginning_of_line`) can be used.

[2022-11-18 11:30] akoeplinger commented on #65415
I just found the change I had in mind: https://github.com/dotnet/msbuild/commit/7f3a30cd04aa884699b7980a9209aade28f1eca2

[2022-11-18 13:48] jjonescz commented on #65426
Thanks for taking the time to create the sample. I can reproduce the problem now.

If you add `<EmitCompilerGeneratedFiles>True</EmitCompilerGeneratedFiles>` to a `PropertyGroup` in `WebApplication6.csproj`, you will see that the source generator produces this file:

[code]

No documentation comment is generated. The problem is that your source generator extracts documentation comment XML from a r

[2022-11-18 13:48] #65426 closed

[2022-11-18 13:55] #62960 closed

[2022-11-18 13:57] #63890 closed

[2022-11-18 13:58] #62161 closed

[2022-11-18 14:00] jjonescz commented on #61007
See #65300.

[2022-11-18 14:00] #61007 closed

[2022-11-18 14:07] jjonescz commented on #59770
Optional parameters have been implemented: #65438.

[2022-11-18 15:37] CyrusNajmabadi commented on #65502
Do you have the lsp experience enabled?

[2022-11-18 15:49] mavasani commented on #65502
Nope

[2022-11-18 16:57] CyrusNajmabadi commented on #65502
The only difference in aware of is that we switched from push diags here to pull (even outside of lsp). I wonder if something got much worse there.

Might also need to check if the diags are going as slow as the slowest link (e.g. semantic diags).  We may want individual taggers for syntactic vs semantic.

[2022-11-18 18:00] #13719 closed

[2022-11-18 18:28] vsfeedback opened #65591 "Template formatting with namespace style leads to mis-aligned content"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/WeatherForecastController-does-not-forma/10205694)._

---
In a new Blazor Webassembly App project with ASP.NET Core Hosted, in the server app, the WeatherForecastController does not format correctly.

It formats like the screenshot:

The closing brace for the string array is placed at th

[2022-11-18 18:43] CyrusNajmabadi commented on #65502
@mavasani we're currently using this:

[code]

Is there an API that gets us things like just syntax-diagnostics so that we can spearate out syntax/semantics/analyzer diagnostics?

[2022-11-18 19:01] #65396 closed

[2022-11-18 19:12] jcouv commented on #51289
Closing test plan as completed. Issue with [FAR](https://github.com/dotnet/roslyn/issues/58190) isn't blocking.

[2022-11-18 19:12] #51289 closed

[2022-11-18 20:02] #62727 closed

[2022-11-18 20:49] allisonchou opened #65509 "[Automated] PRs inserted in VS build main-33118.127"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/0d79c9d9ff528a1b3b1de0c04ecb65c53e44fa5c...d2c4aa1dff22b59ef2fffc92f167ae7dcf85c9fc?w=1)
- [Support new all-in-one-symbol-search APIs. (65449)](https://github.com/dotnet/roslyn/pull/65449)
- [More tests for an issue around constrained calls (65385)](https://github.com/dotnet/roslyn/pull/65385)

[2022-11-18 20:50] #65509 closed

[2022-11-18 21:14] jasonmalinowski commented on #65503
I've been running into this too.

[2022-11-18 21:40] sharwell commented on #65486
Yes, as an IDE feature.

This has always been the case for implementing an interface. I'm not sure we need to include the explicit `<inheritdoc/>` when the IDE will do it for you anyway.

[2022-11-18 21:44] Youssef1313 commented on #65486
Do tools like docfx will implicitly inherit docs?

The compiler will also warn about missing doc comment for public member (if `GenerateDocumentationFile` is true). So for someone treating warning as errors, the codefix is effectively producing a code that doesn't compile.

[2022-11-18 21:55] Sergio0694 commented on #65486
This is exactly what happened for me in ComputeSharp 🙂

Also I will add, having an explicit `<inheritdoc/>` still gives you more info, as you can just glance at code and know whether a given method is just without XML docs, or whether it's inheriting those. Additionally, especially when reading code outside of an IDE, it makes it much easier to tell whether a given method is implementing an interf

[2022-11-18 22:29] CyrusNajmabadi commented on #65486
I would be ok adding this if the user has that compiler error enabled.

[2022-11-18 22:43] #61204 closed

[2022-11-18 23:39] #53300 closed

[2022-11-19 01:39] mavasani commented on #65502
There is none right now, but definitely seems we would need one. In fact, the push Disha background analysis executes in 4 steps as below, and we might have to do the same:

1. Compiler syntax diagnostics
2. Analyzer syntax diagnostics
3. Compiler semantic diagnostics
4. Analyzer semantic diagnostics

Do we return streaming diagnostics or would the platform need separate APIs for syntax and semant

[2022-11-19 01:42] mavasani commented on #65502
So it seems this also repros in 17.4.1 for customers: https://developercommunity.visualstudio.com/t/Extremely-slow-to-update-real-time-compi/10204121#T-N10206358-N10206847

we are seeing lot of customer reports for very slow diagnostic refresh in 17.4.1 and if it turns out to be the same issue then we might need to take this for servicing

[2022-11-19 01:45] CyrusNajmabadi commented on #65502
Our intent with LSP diagnostics is to effectively have separate requests, and this is supported by the LSP spec and is coming soon from VS LSP client.  However, that is contingent on LSP diagnostics being turned on by default.

The situation here is the non-LSP case where we own the taggers.  We'll likely have to have 3 squiggle taggers here.  Streaming wouldn't wokr as taggers only show updates w

[2022-11-19 01:46] mavasani commented on #65502
@CyrusNajmabadi one thing to call out is error list is refreshing at expected fast rates. Only the squiggles in the editor are extremely slow to refresh. Is the Error list still based off push diagnostics?

[2022-11-19 01:47] CyrusNajmabadi commented on #65502
Good to know.  We can like likely do the same for taggers by just having 4 of them, all subclassing a common type.

[2022-11-19 01:48] CyrusNajmabadi commented on #65502
Yes, error list is push based still.  But will go to pull when we turn on LSP.  It will be based off of the N diagnostic requests though, so syntactic stuff should happen first for both squiggle/error list, then the rest, etc.

[2022-11-19 01:49] CyrusNajmabadi commented on #65502
I'll look into this on monday.  @arkalyanms for possible servicing need, i anticipate any fix here being small in scope and low risk.

[2022-11-19 03:24] mavasani commented on #65502
@CyrusNajmabadi we may want to consider just reverting the taggers back to push diagnostics for 17.4 servicing (if possible) and do the correct fix for pull diags in 17.5

[2022-11-19 03:32] CyrusNajmabadi commented on #65502
Yup.  That's an option.  PR was https://github.com/dotnet/roslyn/pull/63858.  not sure if we've heard neough to warrant a full rollback.

[2022-11-19 08:43] Rekkonnect opened #65515 "CS0452 and CS0718 error sometimes reported on unintuitive locations"
The [CS0452](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0452) and [CS0718](https://docs.microsoft.com/en-us/dotnet/csharp/misc/cs0718) errors are inconsistently reported on either the type arguments themselves, or the symbol of the types.

Specifically, they are reported on the symbol *using* the type `G` with the erroneous type arguments when it's:
- a type that inherits `G`
- a method

[2022-11-19 13:54] DoctorKrolic opened #65517 "`Inline temporary variable` adds unnecessary cast and introduces warning"
**Version Used**:
Latest `main`

**Steps to Reproduce**:
[code]
Inline `str`

**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

[2022-11-19 15:45] CoolCoderSuper commented on #65503
Happens to me as well

[2022-11-19 15:56] CoolCoderSuper opened #65519 "Document outline not showing all members vb"
**17.5.1**:

**Steps to Reproduce**:

1. Add method with a handles clause or add variable with WithEvents modifier

**Expected Behavior**:
The method or variable would show up in document outline.

**Actual Behavior**:
They do not show up in document outline.

[2022-11-19 19:20] DoctorKrolic opened #65520 "Compiler treats `string?` as `string`"
**Version Used**:
17.5 Preview 1

**Steps to Reproduce**:
[code]

**Expected Behavior**:
No nullability warnings because type of `str` is nullable string `string?`, so the inferred generic type should be `string?`

**Actual Behavior**:
![devenv_qx3RzbBI7C](https://user-images.githubusercontent.com/70431552/202867723-38a25111-0def-4338-bb99-14c88bc5f91b.png)

**Additional context:**
1. I expect to

[2022-11-19 21:00] OwnageIsMagic opened #65521 "List pattern indexable requirement binds to this[object] indexer"
**Version Used**: SharpLab main (18 Nov 2022)

**Steps to Reproduce**:

[code]
https://sharplab.io/#v2:EYLgtghglgdgNAFxAJwK4wD4GIaoDZ4TB4CmABACZQDORpAsAFAACADGQBpkC8ZAggG4mAemFkAtAHtk4kcLaceZZgEYALADoAIlADGCKJJgRkATwA8sBHDJWAfEMZMA+kpgkA7pwAUASlvUZADadqwAuo5MzABM/EwA3kxkycoAzLYwCGQIABY0QVa2YTx2ZCqOKWkZWbn5ksAAViT6RSXZOciSXrgEAIQVKczphQDCkuhZ3KXlTAC+QA==

**Diagnostic Id**:

for dict:
`error CS1503

[2022-11-19 21:10] eatdrinksleepcode commented on #41666
Even automatically generated changesets need to be reviewed. Tools can make mistakes; changes which are supposed to be benign can have unintended consequences. The current all-or-nothing behavior of the formatter creates unacceptably large and difficult-to-review changesets when introduced to an existing unformatted codebase.

That several different types of changes can all be described as "whites

[2022-11-19 21:15] CyrusNajmabadi commented on #41666
It's unclear why this case needs config. Can you give an example if where it's a problem?  Currently it seems to be a complaint about vscode, so I would recommend asking them for a solution here.

[2022-11-19 23:56] cston opened #65522 "Ref safety errors reported for deconstruction assignment with discard"
Compile with VS 17.4.0 / csc 4.4.0-3.22518.13 (7856a68c):
[code]

**Expected Behavior**:
No errors

**Actual Behavior**:
(12,9): error CS8352: Cannot use variable '(s2, _) = s2' in this context because it may expose referenced variables outside of their declaration scope
(12,19): error CS8350: This combination of arguments to 'Extensions.Deconstruct(Span<int>, out Span<int>, out Span<int>)' is dis

[2022-11-20 00:13] 333fred commented on #65397
I will note that changing the name of a thing, and then invoking the rename thing quickfix, does generally seem to work. The other way never does in my MAUI projects.

[2022-11-20 04:12] #65470 closed

[2022-11-20 06:01] jcouv commented on #65521
FYI @alrz

[2022-11-20 06:04] jcouv commented on #65520
This behavior is expected. In generic type inference, the flow-state of expressions matters, not their declared types.
See https://github.com/dotnet/csharplang/blob/main/proposals/csharp-9.0/nullable-reference-types-specification.md#generic-type-inference
Closing as by-design

[2022-11-20 06:04] #65520 closed

[2022-11-20 06:09] jcouv commented on #65515
I agree the diagnostic locations (directly on faulty type arguments) would be more helpful.
FWIW, the two errors on parameter `incoming` are properly reported in VS. Not sure why it's not showing up in sharplab...

[2022-11-20 06:58] NN--- commented on #40665
@jaredpar I have encountered this behavior while writing a test.
It makes unobvious that this code warns:

[code]

[2022-11-20 07:58] alrz commented on #65521
- `Index` is implicitly convertible to `object`, therefore `this[object]` is preferred; it's the winning candidate for `this[Index]`.
- `Dictionary<int, int>` won't work because no type substitution is considered when looking for `this[int]`

The behavior is consistent with indexer access in both cases: `new X()[^1]`.

[2022-11-20 08:55] Rekkonnect commented on #65515
That's weird; using VS 17.5.0 Preview 1.0 I found the errors be reported on `incoming` instead of its type arguments.

[2022-11-20 15:12] OwnageIsMagic commented on #65521
I meant by means of user defined conversion operator, not boxing. Boxing `Index` is almost always is the wrong thing to do, and I would be glad even if compiler would consider only exact `this[Index]`.
i.e. pattern matching `OrderedDictionary` is always silently wrong.
Didn't get point about _type substitution_.

[2022-11-20 18:19] jhinder opened #65528 "Autocompletion offers type parameters that already have a `where` constraint"
**Version Used**: VS 2022 17.5 Preview 1

**Steps to Reproduce**:

Invoke autocompletion at the marked locations.

[code]

**Expected Behavior**:
1. The autocompletion inserts `T2` as that's the only type parameter without an existing type constraint.
2. Nothing happens because there are no autocompletion items.

**Actual Behavior**:
1. The autocompletion list opens, offering both `T1` and `T2`. !

[2022-11-20 18:37] CyrusNajmabadi commented on #65528
This is less a bug and more a question of of it's better to help speed things up, or require the user to have to write out everything manually. The user may just be in the middle of hacking up a whole lot of their code. Generally speaking in opposed to filtering down in these cases where the list is small. It can be useful in some cases (for example with large override lists or property lists) to

[2022-11-20 22:27] hamarb123 opened #65529 "Bug with pointer to array (unsafer unsafeness)"
**Version Used**: SDK 7.0.100 in VS 17.4.0

**Steps to Reproduce**:

As a part of the unsafer unsafeness in C# 11, it seems that we can now take pointers to objects like so:
[code]

But it seems like it doesn't work properly for array types:
[code]

VS even seems to think this should be possible:
![image](https://user-images.githubusercontent.com/25316035/202929465-d6ffd653-ddd8-473f-b020-0cb87826

[2022-11-20 22:31] hamarb123 opened #65530 "Possible bug: TypedReference* (and other restricted types) don't generate Warning CS8500"
**Version Used**: SDK 7.0.100 in VS 17.4.0

**Steps to Reproduce**:

When taking pointers to any managed type (classes, ref structs, and structs with object members), it is supposed to generate CS8500:
![image](https://user-images.githubusercontent.com/25316035/202929807-9a66884f-a0ca-4e28-89d0-0405b2cf5192.png)

These restricted types (`TypedReference`, `ArgIterator`, `RuntimeArgumentHandle`) are

[2022-11-20 22:35] 333fred commented on #65529
Duplicate of https://github.com/dotnet/roslyn/issues/65429.

[2022-11-20 22:35] #65529 closed

[2022-11-20 22:36] earloc commented on #41171
I have a similar situation. While generating code my `source-generator` might [emit warnings](https://github.com/dotnet/roslyn/blob/main/docs/features/source-generators.cookbook.md#issue-diagnostics).
However, users might not be able to suppress such warnings, which might be very annoying especially if [TreatWarningsAsErrors](https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/compi

[2022-11-20 22:39] hamarb123 commented on #65429
FYI I also discovered this 9 days ago https://github.com/dotnet/csharplang/discussions/6692 (https://github.com/dotnet/roslyn/issues/65529), so it's clearly something that people may run into.

[2022-11-21 02:02] JamesNK opened #65531 "Embedded languages - support customizing tooltip"
Roslyn supports colorizing embedded languages:

![image](https://user-images.githubusercontent.com/303201/202943815-ab245869-c36d-4e53-b52f-97d6b51e682e.png)

However, the tooltip, when over the embedded language string, is always `class System.String`

For strings with an embedded language, it would be helpful if the tooltip could be changed depending on the part of the string the mouse pointer i

[2022-11-21 02:03] JamesNK commented on #65531
cc @CyrusNajmabadi

[2022-11-21 05:31] mavasani commented on #65304
Closing this issue as relevant issues have been filed in the respective repos - see https://github.com/dotnet/roslyn/issues/65304#issuecomment-1309882140

[2022-11-21 05:31] #65304 closed

[2022-11-21 05:34] mavasani commented on #65209
@Tragetaschen Can you please confirm if the behavior you are experience is similar to https://github.com/dotnet/roslyn/issues/65502, i.e. error list refreshes at a reasonable rate and has up-to-date diagnostics, but the squiggles in the editor are slow to update or stale?

[2022-11-21 05:45] mavasani commented on #65502
Another customer report of the same issue on 17.4: https://developercommunity.visualstudio.com/t/Error-highlighting-is-frequently-incorre/10204101

[2022-11-21 05:50] mavasani commented on #65502
Another potential report based on the provided screenshot (waiting for user confirmation): https://developercommunity.visualstudio.com/t/What-is-wrong-with-your-Intellisense/10202223

[2022-11-21 05:54] mavasani commented on #65502
https://developercommunity.visualstudio.com/t/COMPILER-SUCKS-IN-2022-1740/10196022 is very likely the same issue as well.

[2022-11-21 06:54] LeaFrock commented on #35357
Still no progress 💢 ? I'm sucked in this problem when I want to write a source generator.

[2022-11-21 07:35] Youssef1313 commented on #65528
I agree with @CyrusNajmabadi

I think, if anything should be done here, the improvement would be to preselect the first type parameter that doesn't yet have a constraint. So in repro in the original issue, both T1 and T2 will exist, but T2 is the one that is preselected. Though this might be acceptable only if the fix is going to be too small?

What do you think @CyrusNajmabadi ?

[2022-11-21 12:17] Tragetaschen commented on #65209
I have just checked in 17.4.0.

It reproduces and the squiggles vanish, but the error list empties as well.
The order is "squiggles vanish" and a couple of milliseconds later "error list empties".

![image](https://user-images.githubusercontent.com/1947968/203051982-7267f8f9-3cf3-4f6f-871d-99f9962ee644.png)

[2022-11-21 13:24] AlexRadch opened #65534 "Regular and generic methods with the same name in top-level statements cause compiler errors CS0308, CS0128"
**Version Used**:
Microsoft Visual Studio Community 2022
Version 17.4.1
VisualStudio.17.Release/17.4.1+33110.190
C# Tools   4.4.0-6.22559.4+d7e8a398ef479a908e76bded82150c39251d0c9c

**Steps to Reproduce**:
Write regular and generic methods with the same name in top-level statements.
[code]
See full code in [sharplab](https://sharplab.io/#v2:CYLg1APgAgTAjAWAFBQAwAIpwCwG5lqZwB0AcgK4C2ApgE4CWAxgM75LI

[2022-11-21 14:17] SolalPirelli opened #65535 "CS1998 proposed fix "Make method synchronous" should not be offered for overrides and interface implementations"
**Version Used**: VS 17.4.1 (VisualStudio.17.Release/17.4.1+33110.190 ; C# Tools 4.4.0-6.22559.4+d7e8a398ef479a908e76bded82150c39251d0c9c)

**Steps to Reproduce**:

1. Write the following code:

[code]

2. Open the lightbulb menu for the CS1998 ("the async method lacks await operators") warning

(Note: this also repros with a non-abstract `C` and a `virtual` `M`, or with `C` being an `interface`)

[2022-11-21 14:25] SolalPirelli opened #65536 "CS1998 proposed fix "remove async modifier" produces non-compiling code when returned type differs from the return Task's type parameter"
**Version Used**: VS 17.4.1 (VisualStudio.17.Release/17.4.1+33110.190 ; C# Tools 4.4.0-6.22559.4+d7e8a398ef479a908e76bded82150c39251d0c9c)

**Steps to Reproduce**:

1. Write the following code:

[code]

2. Open the lightbulb menu for the CS1998 ("the async method lacks await operators") warning

(same with `Task<IList<int>>` and `return new List<int>()`, etc.)

**Diagnostic Id**: CS1998

**Expecte

[2022-11-21 14:29] AArnott opened #65537 "SyntaxNodeExtensions.ReplaceNodes nullable ref annotation should allow null"
**Version Used**: 4.4.0

The `SyntaxNodeExtensions` class declares this method:
[code]

The signature forbids `null` to be returned from the `computeReplacementNode` function, although I have code that does that and it works fine. This creates a false CS8603 warning when my delegate returns `null`.

[2022-11-21 14:35] svick commented on #65534
This code correctly doesn't compile, because those aren't *methods*, they're *local functions*. And you can't overload local functions.

[2022-11-21 16:22] AlexRadch commented on #65534
The compiler generates two static (not local) methods
`internal static double <<Main>$>g__Sum1|0_0(IEnumerable<int> values)` and
`internal static TResult <<Main>$>g__Sum2|0_1<T, TResult>(IEnumerable<T> values)`.

See generated code in [sharplab](https://sharplab.io/#v2:CYLg1APgAgTAjAWAFBQAwAIpwCwG5lqZwB0AcgK4C2ApgE4CWAxgM75LIBuAhregHZUARnWboAvP2oB3dPT4AXANoBddAG90cADToYOgMw7sOgKw6Avm0490zKnHHoAyvY

[2022-11-21 16:24] CyrusNajmabadi commented on #65528
I think it's be ok with it. But it's also so minor that I don't care about it :-)

[2022-11-21 16:27] CyrusNajmabadi commented on #65534
That's the emit strategy. From the perspective of the language though, they are local functions, and thus do not support overloading.

[2022-11-21 16:28] CyrusNajmabadi commented on #65534
Closing this out as the compiler is following the spec properly here. If you'd like to have this be allowed, please open a discussion at dotnet/csharplang. Thanks!

[2022-11-21 16:28] #65534 closed

[2022-11-21 16:36] Youssef1313 commented on #65528
Yeah I agree, that's why I mentioned "this might be acceptable only if the fix is going to be too small"

[2022-11-21 16:52] AlexRadch commented on #65534
Wow, [I get it now](https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/top-level-statements#semantics), thanks!

[2022-11-21 18:12] CyrusNajmabadi commented on #65502
Revert PR available here https://github.com/dotnet/roslyn/pull/65538.

@arkalyanms What should we do to work through the servicing process?

[2022-11-21 18:24] arkalyanms commented on #65502
Will follow up on the revert PR. Thanks!

[2022-11-21 18:34] CyrusNajmabadi opened #65540 "Use separate columns in sqlite to store key-info."
Tracking issue so i don't forget about this.  Our current sqlite strategy is to form a singular column-key out of disparate pieces of data (e.g. project-file-path, document-file-path, feature-key, etc.).  This works, but requires work in the application logic itself to form and use this key.  As Andrew showed in the cloud cache impl, this is unnecessary and these can just be individual columns the

[2022-11-21 21:50] hugener opened #65545 "InsertMembers with method declarations to an interface declaration causes modifiers to be reset"
**Version Used**:  4.4.0

**Steps to Reproduce**:

1. In an analyzer codefix, I use the SyntaxFactory.MethodDeclaration to create a method declaration with public, static modifiers and an implementation to leverage default interface methods. (https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/default-interface-methods)
2. Insert methods into an interface declar

[2022-11-21 23:14] JamesMenetrey opened #65550 "[NativeAOT] Decorating functions with UnmanagedCallersOnlyAttribute does not export them for executables"
## Introduction
NativeAOT conveniently enables _Class Library_ projects to export native symbols in the export table of the PE, typically functions, which is an excellent asset for interoperability with unmanaged software.

In native applications (e.g., written in C/C++), using the directive `extern __declspec(dllexport)` similarly creates an entry in the export table for the given function. This

[2022-11-22 01:58] allisonchou opened #65554 "[Automated] PRs inserted in VS build main-33121.346"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/d2c4aa1dff22b59ef2fffc92f167ae7dcf85c9fc...5ea46be9f2ccedb2c56627b3cec93838b9f6e231?w=1)
- [Merge pull request 65382 from tmat/IndentFix](https://github.com/dotnet/roslyn/pull/65382)
- [Merge pull request 65280 from CyrusNajmabadi/symbolSearch17.4](https://github.com/dotnet/roslyn/pull/65280)

[2022-11-22 01:59] #65554 closed

[2022-11-22 03:06] Arthri opened #65556 "Types are not suggested after `required` modifier"
**Version Used**: 4.4.0-3.22518.13 (7856a68c) on VS 17.4.0 x64 with .NET 7.0.100 x64 SDK

**Steps to Reproduce**:

1. Create a class
2. Type `required`
3. Type any type name such as `str`
4. <kbd>Ctrl</kbd> + <kbd>.</kbd> to pull up suggestions

A minimal repro, with source-code provided, is ideal.  Using [sharplab](https://sharplab.io/) is preferred for compiler/language issues whenever possible.

[2022-11-22 05:02] #25311 closed

[2022-11-22 06:57] Youssef1313 commented on #65556
Fixed in https://github.com/dotnet/roslyn/pull/64593 (in 17.5 Preview 1)

[2022-11-22 07:05] #65367 closed

[2022-11-22 07:11] #65323 closed

[2022-11-22 08:20] rominator1983 opened #65562 "Analyzers created with Microsoft.CodeAnalysis 4.4.0 cannot be used with .net 6"
**Version Used**:
dotnet 6.0.403
Microsoft.CodeAnalysis 4.4.0

**Steps to Reproduce**:

1. Create a new code analyzer as a package based on Microsoft.CodeAnalysis 4.4.0
2. Use that new code analyzer inside a .net 6 project
3. compile the .net 6 project with dotnet build

**Diagnostic Id**: CS9057

**Expected Behavior**:
Project builds

**Actual Behavior**:
Compilation gives the following error:
[c

[2022-11-22 08:40] owebia commented on #44329
Why not allow a regular expression to validate the file header?

For example, the following syntax could be used:
`{year/[0-9]{4}/2022}` (`{variableName/validationRegularExpression/defaultValue}`)

With such functionnality, we would be able to define our own variables and still benefit from the IDE reporting.

[2022-11-22 08:45] mavasani commented on #65502
Another customer report for the same issue: https://developercommunity.visualstudio.com/t/Errors-are-not-cleared-in-code-window/10206510.

@CyrusNajmabadi @akhera99 It seems many customers that report this stale squiggles issue also see #65503. I am wondering if #65503 also manifests due to this issue of switching to LSP pull diagnostics for tagger OR would we need a separate fix + backport for #6

[2022-11-22 08:47] mavasani commented on #65503
This is being reported by many customer feedbacks on 17.4, so we need to evaluate any fix here for 17.4 servicing.

[2022-11-22 09:03] Youssef1313 commented on #65502
Also on Twitter: https://twitter.com/mariusk007/status/1594930592545579008

[2022-11-22 11:05] mavasani commented on #65502
Reported in https://developercommunity.visualstudio.com/t/Intellisense-not-working-consistently-17/10200700#T-ND10209377

[2022-11-22 11:33] mavasani opened #65563 "Debug-only test failures in ExternalDiagnosticUpdateSourceTests"
Failing stack:

[code]

Failed run: https://dev.azure.com/dnceng-public/public/_build/results?buildId=89938&view=results

[2022-11-22 14:07] kerrpeter commented on #14983
This works in VS Code, but not Visual Studio.

[2022-11-22 14:48] tallichet opened #65598 "Generics implementations with nullable of non struct don't match type"
### Description

Hello,

Given the following interface:
[code]
The implementing class where T is `string` is correct
[code]

But one with a base type, as int or long, does not want the ?. To be able to compile, the implementation should look like this:
[code]

If I want to have `int? UpdatedBy { get; set; }` I have to define the constraint to `T : struct`. But then, I cannot use string.

### Repro

[2022-11-22 15:28] svick commented on #65546
[Here is the repro code in a more convenient form:](https://sharplab.io/#v2:CYLg1APgAgTAjAWAFDIG4EMBOACALgY2wF5sA7AUwHdsAVcgZ1wGEAbde+gCgEoBuNLNgDmAVwCWwAIKZM6AJ7FsnAOLjgAbQC6Afm4VqqieoDMm/iiQFFVsMLXTZc3tgD0L7AHsA1shslREg7yzm7Y5DIeOEwAygAcAGwwAAzIyLC0DMxsHMgA3sjYhdhQxsVw8RmMrOz0ngAO4ei4kbacdFXZtQAeADTYhho62HLcxAB8BUVT+pVZNTzmAL6pSEA==)

[code]

[2022-11-22 16:25] stephentoub opened #65566 "VerifyAllCodeStyleFixersAreSupportedByCodeCleanup tests are failing"
**Version Used**:
abfab568aadd0406c6b78722790c1276244f3b8a

**Steps to Reproduce**:
Run the VerifyAllCodeStyleFixersAreSupportedByCodeCleanup test with main.  PRs are failing with it.

**Expected Behavior**:
Passes

**Actual Behavior**:
[code]

[2022-11-22 17:30] Youssef1313 commented on #65566
https://github.com/dotnet/roslyn/pull/65564

[2022-11-22 17:40] sundarDossGithub opened #65567 "Roslyn - .Net core solution Compilation Fails"
**Version Used**: Microsoft.CodeAnalysis 4.4.0

**Steps to Reproduce**:

1.   workspace = MSBuildWorkspace.Create()
       workspace.OpenSolutionAsync(solutionInfo.LocalSolutionPath);
2. Restore Packages using Dotnet restore
3. solution.GetProject(project.Id).GetCompilationAsync()
4. Compilation fails with below errors, but the references are there in dotnetpackages
     The type or namespace name

[2022-11-22 18:03] dliedke commented on #62059
This is happening for me with Visual Studio Enterprise 2022 17.4.1.
I removed all VS.NET application and reinstalled but no luck.
This issue was not happening before VS.NET 17.4 release. But even with the rollback I could not make it work anymore.
Please advise, also VS.NET is hanging after some time and code is lost.

[2022-11-22 21:35] #65556 closed

[2022-11-22 21:44] arkalyanms commented on #65566
Tagging @mavasani to buddy land this PR.

[2022-11-22 21:46] arkalyanms commented on #65562
The seems to have hit an unsupported compiler analyzer part of the matrix. But will let Jared pass judgement.

[2022-11-22 22:43] NTaylorMullen opened #65572 "Add editorconfig support for `is null` instead of == null (and `not` variant)"
**Brief description:**
Using `is null` instead of `== null` can be preferable in order to avoid operator overloads for `==`. Many codebases are now adopting this pattern.

Describe your **code style** rule here: Wherever you see `==` null prefer `is null`, wherever you see `!= null` prefer `is not null`.

**Languages applicable:** C#

**Code example that the analyzer should report:**

[code]

[2022-11-22 23:20] Therzok opened #65573 "Exception thrown on solution load in VSMac"
**Version Used**:
4.5.0-dev (tip of https://github.com/dotnet/roslyn/pull/65568)

**Steps to Reproduce**:

1. Open a maui project in VSMac
2. Look in the log file for exceptions

**Expected Behavior**:

No exception (@CyrusNajmabadi mentioned this might cause some events to be discarded).

**Actual Behavior**:

https://gist.github.com/Therzok/ee0716447f7dbe8f40f0767bf1eb029a

**More information**:

[2022-11-23 00:03] JamesNK commented on #64851
@DustinCampbell

[2022-11-23 00:06] CyrusNajmabadi commented on #64851
this is effectively a feature request (as with the rest of hte asp stuff).  It would be best if you can let us know how critical this stuff is so we can see about fitting into upcoming sprints.  Thanks.

[2022-11-23 00:30] JamesNK commented on #64851
(background: I was just demoing route tooling to Dustin 😄)

This isn't critical. I think the route tooling experience is in an acceptable place today without rename support. However, rename is a valuable addition to the experience.

A lot of the work in route tooling is to make method parameters feel like a natural extension of route parameters. Users will find it odd that rename doesn't work.

[2022-11-23 01:41] JamesNK commented on #65531
As an addition to the ASP.NET Core tooling experience, this is a nice to have feature.

[2022-11-23 03:30] mavasani commented on #65502
Reported in https://developercommunity.visualstudio.com/t/intellisense-not-working-Please-fix-this/10208337

[2022-11-23 03:39] mavasani commented on #65502
Slow squiggles refresh - https://developercommunity.visualstudio.com/t/Do-not-redline-faulty-objects-and-sugges/10206065

[2022-11-23 03:45] mavasani commented on #65503
Reported in https://developercommunity.visualstudio.com/t/Bug---Inline-Error-Reporting-tooltip-s/10172624

[2022-11-23 05:32] sujayvsarma commented on #65503
As the reporter of that particular bug -- if you see the issue history on Dev Community, it was first reported by me for build `17.3.6 PREVIEW`. I can CONFIRM that this issue still exists in the current Preview as well as in the `RTM 17.4.1`.

Also, as I noted in my last comment on the dev community ticket, the issue is so horrible on the Preview build that I've had to stop using it completely.

A

[2022-11-23 07:25] #65563 closed

[2022-11-23 08:11] Youssef1313 opened #65577 "`dotnet_style_prefer_is_null_check_over_reference_equality_method` not respected by other features"
![image](https://user-images.githubusercontent.com/31348972/203497868-d6896f4e-75af-4055-9f69-b64f47488992.png)

Code generation features should probably respect this code-style option.

Tagging @sharwell as he mentioned this for a similar option in https://github.com/dotnet/docs/issues/22450#issuecomment-765558476

also @mavasani @CyrusNajmabadi

[2022-11-23 08:11] sercey commented on #62059
I removed all VS.NET application and reinstalled but no luck.
This issue was not happening before VS.NET 17.4 release. But even with the rollback I could not make it work anymore.
Please advise, also VS.NET is hanging after some time and code is lost.

Same here (VS 2022 17.4.1). After open any ASP.Net MVC5 project, and a razor file, it always throws this in a couple of minutes. I try to repair VS

[2022-11-23 08:18] Youssef1313 commented on #65572
This would be a generalization of IDE0041, I think

[2022-11-23 08:19] jjonescz commented on #65566
Fixed in #65575.

[2022-11-23 08:19] #65566 closed

[2022-11-23 08:30] Youssef1313 commented on #65572
Duplicate of https://github.com/dotnet/roslyn/issues/56859

https://github.com/dotnet/roslyn/issues/56859#issuecomment-940455225

[2022-11-23 08:46] allisonchou opened #65578 "[Automated] PRs inserted in VS build main-33122.497"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/5ea46be9f2ccedb2c56627b3cec93838b9f6e231...3f65b818a94d74f2230bda40382ea755702fe674?w=1)
- [Add experimental formatting option to control places of `?` and `:` in a conditional expression. (65467)](https://github.com/dotnet/roslyn/pull/65467)
- [Enhances the set of cases 'use pattern matching' works for.   (65314)](https://gi

[2022-11-23 08:46] #65578 closed

[2022-11-23 10:23] paulssn opened #65580 "`SyntaxTree.GetChanges()` returns non-deterministic results"
**Version Used**: 4.4.0
**Reproducible for**: C#, VB.NET

### Context
We were analyzing a problem reported by users, and ended up debugging and trying to understand the behaviour of `SyntaxTree.GetChanges()`. A 3rd-party-library uses the returned changes for code formatting, with sometimes completely unexpected results.

### Steps to Reproduce:

1. Run the provided sample program from [here](https

[2022-11-23 10:43] richardissimo opened #65581 "Microsoft.CodeAnalysis.NetAnalyzers warns that I should be using version 7.0.0; but there isn't a release version of 7.0.0 yet"
**Version Used**:
microsoft.codeanalysis.netanalyzers 6.0.0

**Steps to Reproduce**:

1. Create a .Net SDK project (e.g. C# library, .net 6)
2. Add a package reference to microsoft.codeanalysis.netanalyzers\6.0.0
3. Compile it (after the prerelease versions of that package are published but before the v7.0.0 of that package is released)

**Diagnostic Id**:

`C:\Users\redacted\.nuget\packages\micro

[2022-11-23 11:14] Youssef1313 commented on #65580
Might be related to https://github.com/dotnet/roslyn/issues/17498

cc @CyrusNajmabadi

[2022-11-23 11:20] Youssef1313 commented on #65581
This belongs to dotnet/roslyn-analyzers, and I think the message is pretty much by-design.

Which version of the .NET SDK are you using? (I see you mentioned you have .NET 6 library, but I assume you're referring to TargetFramework, not SDK version)
If you're using .NET 7 SDK, then this warning is by-design. As the message mentions, you could remove the package reference and get the analyzers from

[2022-11-23 12:28] Sergio0694 opened #65584 "BadImageFormatException with virtual static interface properties"
**Version Used**: 4.5.0-ci (https://github.com/dotnet/roslyn/commit/ed12a880a3454a00e58bc829cefb80bd94adfb3d)

**Steps to Reproduce**:

Paste and run this code ([sharplab](https://sharplab.io/#v2:EYLgtghglgdgNAFxAJwK4wD4AEBMBGAWAChiAVAUwGcEAeASQCEJkA+ACgEoBuMq2pgF7tuxYljwA2AARYALFIrUapYcSnqpAdwAW5ZOQVSQUugDEA9ueIBvNRvEBONqQB0AOVRhgekUQC+okSwCHoAZhAAxgZmljZ26uLSEMDUyJEIUsFSHl56UtZSAObkCFxSAf6BwWGR0

[2022-11-23 12:30] GerardSmit opened #65585 "CA1822 on implicit implementation of a static interface member"
**Version Used**:

[code]
(while testing; this also applies to .NET 7.0.100)

**Steps to Reproduce**:

1. Create an interface that contains an `static abstract` property.
2. Create an interface that implements the interface and override the property with an implicit implementation.
3. In Rider EAP you will now get a `CA1822` error: "Member '...' does not access instance data and can be marked as s

[2022-11-23 12:32] GerardSmit commented on #65584
FYI, this seems to be running fine in the CoreCLR runtime (.NET 7.0):

[code]

[2022-11-23 12:42] GerardSmit commented on #65584
Just saw that the result is 10, 10 instead of 10, 20. This is because the property is not public in the class:

[code]

Changing it to a public property:

[code]

Gives the expected result:

[code]

[2022-11-23 12:55] Youssef1313 commented on #65585
Is this error coming from ReSharper?

---

I'm not able to reproduce the CA1822, but this belongs to dotnet/roslyn-analyzers anyway.

[2022-11-23 13:03] GerardSmit commented on #65585
This seems to be the case. I really need to remember to disable ReSharper in these cases 🥲

Without ReSharper I'm not seeing CA1822 in Visual Studio. So this seems to be a Rider specific bug.

Because it's Rider-only I'll report this to JetBrains. Sorry for the trouble.

[2022-11-23 13:03] #65585 closed

[2022-11-23 13:13] AlekseyTs opened #65586 "Side effects of implicit Range indexer on a struct type are not propagated to the receiver"
Compile and run:
[code]

Observed output: 0

Expected output: 1

Change `S` to a class and observe expected output produced.

While fixing local rewrite for this issue, we should also make sure generic scenarios similar to https://github.com/dotnet/roslyn/issues/63221 are handled properly as well.

[2022-11-23 13:41] AlekseyTs commented on #65586
Another scenario:
[code]

Observed:
[code]

Expected:
[code]

[2022-11-23 14:44] 333fred commented on #65584
Sharplab.io is not on 7 yet, there isn't a bug here.

[2022-11-23 14:49] 333fred commented on #65584
Ok, I was wrong, sharplab is on 7 now.

[2022-11-23 14:54] 333fred commented on #65584
@ashmind, is the instrumentation doing something weird here?

[2022-11-23 15:24] CyrusNajmabadi commented on #65580
Yes, this is by design. The only requirement of GetChanges is that the changes be accurate. I.e. applying the changes to one text gets you three other. There are no guarantees beyond that.

The only way would be to write your own diff system.

[2022-11-23 16:56] ltcmelo commented on #53943
I'm observing this crash too (in a nondeterministic way).

[2022-11-23 17:55] TessenR commented on #63565
The same behavior again in the latest main branch:

[code]

Compile the following code:
[code]

Expected result: compiles without errors
Actual result: `error CS8986: The 'scoped' modifier of parameter 'x' doesn't match target '<anonymous delegate>'.`

@AlekseyTs will you reopen this issue or should I create a new one?

[2022-11-23 18:03] ashmind commented on #65584
@333fred Yep looks like a SharpLab rewriting issue, [if rewriting is disabled this does not fail](https://sharplab.io/#v2:EYLgtghglgdgNAFxAJwK4wD4AEBMBGAWACgsAGAAgGUALCZABwBkJgA6AJXQSjAFMBuYsQDaEAM5jeYYABsAniHIA5APYBJRu14B3ZFG4wA5gF0hRACq8xCADxqAQnQB8ACgCUgi1duOAXq48zLDwANnIsABZyS2sbcwDiciTybWpeZF5o8kU1ADEVFWIAb0Tk4IBOF3NWJVRpdMCiAF8zWAR0gDMIAGNMvILi0qTgsJZrZB6EcjblOuB08iLyQ14EfnIW5taYduQu3vIHOmzD

[2022-11-23 18:53] jasonmalinowski commented on #62059
To folks pasting the stack with "Cannot enqueue data after PromiseNotToEnqueue" in it, that's a duplicate of #65064. We have a fix internally for that one in 17.5, but since it's fairly risky we're still looking at a plan for bringing the fix back to 17.4. @jaredpar may have further comments there.

[2022-11-23 19:21] AlekseyTs commented on #63565
@TessenR

Was it working as expected after the fix mentioned above?

[2022-11-23 19:29] TessenR commented on #63565
@AlekseyTs I believe it was working at some point, but I don't remember when exactly I tried it.

I think it might be caused by the fact that `[UnscopedRef]` now can affect whether a delegate conversion or an override is valid without affecting `DeclarationScope` of parameters, i.e. in the last example both `ref int x` and `[UnscopedRef] ref int x` are considered `Unscoped`, so perhaps now it's re

[2022-11-23 19:34] AlekseyTs commented on #63565
Sounds like this is a possible regression. Apparently `ref` returns somehow make a difference.
This code is fine:
[code]

But this causes error CS8986: The 'scoped' modifier of parameter 'y' doesn't match target '<anonymous delegate>'.
[code]

[2022-11-23 19:38] etvorun opened #65589 "TextDocument.Folders is always empty for additional files"
**Version Used**:  4.300.22.22804

**Steps to Reproduce**:
1. Unzip attached file.
2. Open MauiApp4\MauiApp4.sln
3. Use Solution Explorer to open (and debug Roslyn internals) MyControl.xaml, LinkedControl.xaml and dark.xaml from SharedMaui project.
[MauiRepro.zip](https://github.com/dotnet/roslyn/files/10078571/MauiRepro.zip)

**Expected Behavior**: [TextDocument.Folders](https://github.com/dotnet

[2022-11-23 19:45] etvorun commented on #65589
This is related to [#44131](https://github.com/dotnet/roslyn/issues/44131). XAML intellisense needs to know project relative paths. For example, in order to display completion for `<Button Background='...'` it needs to walk merged resource dictionaries like `<ResourceDictionary Source='views/resources/Styles.xaml'>`  or `<ResourceDictionary Source='/MyLib;component/controls/colors.xaml'>`. Thus we

[2022-11-23 20:31] #65584 closed

[2022-11-23 20:31] 333fred commented on #65584
Thanks @ashmind!

[2022-11-23 21:15] tmat commented on #65580
@CyrusNajmabadi This is not great. Likely cause of test flakiness: https://github.com/dotnet/roslyn/issues/39696

[2022-11-23 21:21] AlekseyTs commented on #63565
If nothing is returned, the parameter doesn't cause any problems:
[code]

Perhaps return of ref structs also affecting the behavior.

[2022-11-23 21:26] CyrusNajmabadi commented on #65580
Any other approach would not allow the impl to make optimization decisions (like using the nodes if they have them, and falling back to a full diff approach if not).  I can't see any way of changing this safely.  If we want some sort of deterministic diff, it will likely have to be through a new API that guarantees that and uses no concepts of referential identity or node caches to make any determ

[2022-11-23 21:32] TessenR commented on #63565
Here's a counter example ツ
[code]

Anyway, right now we are just exploring when the `scoped` modifiers are validated in conversions and the condition for this is written in the method I linked above.

I believe that the error is reported when `scoped` modifiers must match (as determined by `SourceMemberContainerTypeSymbol.RequiresValidScopedOverrideForRefSafety`) and when `[UnscopedRef]` is presen

[2022-11-23 22:18] TanayParikh commented on #65591
For Roslyn folks who may be investigating; the templates are correct, however there seems to be some misalignment being introduced.

[2022-11-23 23:12] AlekseyTs commented on #63565
Sure, it appears that compiler doesn't always complain about parameter ```[UnscopedRef]ref int x```. Its presence on its own isn't sufficient for the error to appear.

[2022-11-24 00:32] VladimirReshetnikov opened #65594 "[C#] Stack Overflow when a method pointer type appears in an attribute"
**Version Used**:
[code]

**Steps to Reproduce**:

1. Create a new C# project:
`dotnet new classlib`

2. Add the following C# code to the project:
[code]
4. Build the project:
`dotnet build`

**Expected Behavior**: No stack overflow.

**Actual Behavior**: The build fails with stack overflow:

[code]

[2022-11-24 02:13] harvinders commented on #52017
[code]

After adding I was able to debug and see that my source generator worked. Sort off, after the control exits the `Execute()` I get an exception. My consuming project is `net6.0-windows10.0.22621.0` and already has `System.Text.Json.SourceGeneration` Analyzer. Is it because the above csproj is also adding `Microsoft.CodeAnalysis.CSharp`, just the way it adds `System.Text.Json`?

[code]

[2022-11-24 03:57] HobbsCode opened #65596 "Excessive Roslyn computation in 17.4 possibly related to refs"
**Version Used**:
VS 17.4.1
.NET 7

**Steps to Reproduce**:
In the repro below, more Appends lead to massive sustained computation by Roslyn.

[code]

**Expected Behavior**:
No noticable spike in computation.

**Actual Behavior**:
Massive computation.

[2022-11-24 04:23] CyrusNajmabadi commented on #65596
Can you collect a perf-view trace and link to it?  We can see what component is causing the issue.

[2022-11-24 04:27] kant2002 opened #65597 "Crash inside FlowAnalysis"
**Version Used**:

/home/loongson/.nuget/packages/microsoft.net.compilers.toolset/4.5.0-1.22553.5/tasks/net6.0/Microsoft.CSharp.Core.targets(80,5): error :

**Steps to Reproduce**:

1. git clone dotnet/runtime
2. ./build.sh clr+libs

Not yet sure if this repro on non-loongson architecture.

**Diagnostic Id**:

If this is a report about a bug in an analyzer, please include the diagnostic if possibl

[2022-11-24 05:17] CyrusNajmabadi commented on #65597
Can you specify the git sha for the runtime you have cloned?

[2022-11-24 06:01] kant2002 commented on #65597
Most current one - https://github.com/dotnet/runtime/commit/78b3f9ddfab76eb99cd02c2744d3c2d055ed7270

[2022-11-24 07:08] kant2002 commented on #65597
That's minimal repro which I come up with for now
[code]

[2022-11-24 07:52] RapGeneral commented on #60867
+1, this issue is very annoying. As someone who uses code cleanup a lot, in order to keep my code tidy, its very frustrating when I forget about this bug and merge... VS does not have an option to import all missing usings, and for big files that usually have a lot of imports its a very big pain to add them back. Please prioritise fixing this.

[2022-11-24 08:53] allisonchou opened #65599 "[Automated] PRs inserted in VS build main-33123.395"
[View Complete Diff of Changes](https://github.com/dotnet/roslyn/compare/3f65b818a94d74f2230bda40382ea755702fe674...413319eb370210c93296ea90aa73987e41ee8521?w=1)
- [Add asserts for debug only test failures and fix tests (65565)](https://github.com/dotnet/roslyn/pull/65565)
- [Make sure the container syntax node is not GlobalStatements (65570)](https://github.com/dotnet/roslyn/pull/65570)
- [Increa

[2022-11-24 08:53] #65599 closed

[2022-11-24 08:59] neon-sunset commented on #60546
Why is this the case for new projects/default editorconfig?

[2022-11-24 09:45] schrufygroovy opened #65601 "C# formatter does not indent base initializer on its own line"
**Version Used**:
C# Visual Studio
[code]

**Steps to Reproduce**:

GIVEN:
`.editorconfig` with indent size to 4 and only spaces allowed
[code]

WHEN:
I have a constructor initializer in a new line with wrong indention (not multiple of 4)
[code]

THEN:
I would expect some error because of wrong indention (not multiple of 4).

Repository: https://github.com/schrufygroovy/indention-bug/blob/main/Ind

[2022-11-24 09:53] Youssef1313 commented on #56859
@jmarolf There are other types in the BCL, e.g, `System.Xml.Linq.XName`. Should we consider anything coming from corlib instead of `System.String` only?

[2022-11-24 10:00] Youssef1313 commented on #65601
The editorconfig syntax you have is wrong. There shouldn't be `:error` at the end. It is just `indent_style = space` and `indent_size = 4`

Does it work if you remove the `:error` suffix?

[2022-11-24 10:17] paulssn commented on #65580
Hmm, doesn't seem ideal. But nevertheless, thanks for the clarification!

I think I don't understand, What is guaranteed? 🤔

[2022-11-24 11:35] Youssef1313 opened #65602 "Compilers generated code isn't validated in CI when only source generators are changed"
Validation is conditioned on `compilerChange` being true here:

https://github.com/dotnet/roslyn/blob/35ac8cb689bebf24cb977121a6539e47789b4351/azure-pipelines.yml#L237-L245

which is run only if there are changes to `src\Compilers` or `src\Dependencies`:

https://github.com/dotnet/roslyn/blob/35ac8cb689bebf24cb977121a6539e47789b4351/azure-pipelines.yml#L206-L208

If a PR has changes only to the ge

[2022-11-24 11:50] Tragetaschen opened #65603 "The code fix for CA1050 "Declare types in namespaces" does not recognize .editorconfig's csharp_style_namespace_declarations"
**Version Used**:
17.5.0 Preview 1.0

**Steps to Reproduce**:

1. `dotnet new console`
2. Add a .editorconfig with `csharp_style_namespace_declarations = file_scoped:warning`
3. Add a C# source file with
[code]
4. Run the code fix for the CA1050 message

**Diagnostic Id**:
CA1050

**Expected Behavior**:
The code fix should create a file-scoped namespace.

**Actual Behavior**:
The code fix creates

[2022-11-24 12:31] Youssef1313 commented on #65603
CA1050 doesn't have a codefix. This is the `CSharpSyncNamespaceCodeRefactoringProvider`

[2022-11-24 13:54] CoolCoderSuper commented on #65519
It also doesn't properly show the last member of enum if the enum is last symbol in the file.
![image](https://user-images.githubusercontent.com/76707331/203801153-42c500cb-9d21-4be9-a8c4-2e76f0427874.png)
![image](https://user-images.githubusercontent.com/76707331/203801230-188e7c9d-cfed-4ec9-ba73-b4194437f8bc.png)

[2022-11-24 14:04] CyrusNajmabadi commented on #65580
What the function gives you back a list of changes that, when applied to the old text, gives you the new text. It is acceptable, for example to get a single text change replacing the entirety off the old text with the contents of the new text.

[2022-11-24 14:08] CyrusNajmabadi commented on #60867
@RapGeneral this is on the backlog. But if it's something you are passionate about, we would likely take a community pr here if you wanted to contribute it.

[2022-11-24 14:09] #65598 closed

[2022-11-24 14:12] CyrusNajmabadi commented on #60546
Not sure what you're asking.  But the reason is so that the code we generate is consistent with 99.99% of these code out there. If users want to use the new style, they just enable this option and are done.

[2022-11-24 15:46] #65403 closed

[2022-11-24 16:46] schrufygroovy commented on #65601
@Youssef1313 I have updated the editor config to remove the `:error` suffix. I thought it's just optional.

Does not improve anything. Still same issue.

[2022-11-25 07:10] richardissimo commented on #65581
@Youssef1313 Whilst that is true, it's also just a matter of time before this issue occurs again, with 8.0.0, and then 9.0.0, etc.

[2022-11-25 08:11] kant2002 commented on #65597
After I replace content of `microsoft.net.compilers.toolset/4.5.0-1.22564.5` with custom built `Microsoft.CodeAnalysis.CSharp.dll` and `Microsoft.CodeAnalysis.dll` I receive this happy stack trace.

[code]

Location of code which seems to be trigger that verification is https://github.com/dotnet/runtime/blob/4832236b4820ca83bbc9ce96003c2029b85c6ce2/src/libraries/System.Runtime.InteropServices.Java

[2022-11-25 10:00] alrz commented on #65521
If you don't want the compiler to call `this[object]`, you could add `this[Index]` and redirect it to `this[int]` overload.
This behavior is inherited from range indexers from C# 8.0, so changing that is simply not an option.

The indexer on the dictionary is defined as `this[TKey]`, not `this[int]`. The compiler won't pick it up even if `TKey` is `int`.

[2022-11-25 11:25] akoeplinger commented on #63863
We actually have a tracking issue in runtime here: https://github.com/dotnet/runtime/issues/53420

According to runfo it fails about twice a week.

[2022-11-25 11:31] user98392 commented on #60449
Visual studio 17.4.1
The bug appears when creating user controls at least in custom control library project.

[2022-11-25 12:15] Yankes commented on #3225
Another place affected by this is `MediatR` and `Send` interface, when you want to navigate to implementation you need first go to type definition then click FAR to find handler implementation:
[code]

Overall I see conflict there as sometimes I would like see included type usage but other times I would be interested in only specific constructor usage.
Question is would be better to split FAR in t

[2022-11-25 14:29] lsoft opened #65607 "`Microsoft.CodeAnalysis.ProjectDefaultNamespace` is null for `sqlproj` with custom default namespace."
**Version Used**:
4.0

**Steps to Reproduce**:

1. create sqlproj
2. open project option page, change default namespace to the something different
3. check `Microsoft.CodeAnalysis.ProjectDefaultNamespace` for this project, it will be null.

Looks like there is no way to get custom default namespace via Roslyn for `sqlproj`.

**Expected Behavior**:

Because `sqlproj` allowed to contains a C# code (

[2022-11-25 14:47] vsfeedback opened #65608 "Comments should be aligned with the text below, not above."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Comments-should-be-aligned-with-the-text/10211415)._

---
[severity:It bothers me. A fix would be nice]
Can we change the alignment of comments so they're aligned with the lines that follow them rather than the line that they follow?

![image](https://user-images.githubusercontent.com/14

[2022-11-25 14:49] vsfeedback opened #65609 "csharp_style_pattern_matching_over_as_with_null_check incorrect results near labels and goto statements"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/csharp_style_pattern_matching_over_as_wi/10211340)._

---
Code cleanup is supposed to produce code that functions identically to the original.

One of the rules in my set, I think it is csharp_style_pattern_matching_over_is_with_cast_check, but possible csharp_style_pattern_matching_over

[2022-11-25 14:53] vsfeedback opened #65610 "Prevent auto removal of spaces between brackets"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Prevent-auto-removal-of-spaces-between-b/10209826)._

---
[severity:It bothers me. A fix would be nice]
I regularly use 'rectangular' operations like copy/paste/type when performing operations on multiple variables.
for example.

[code]

Keeping the spaces makes it easier to select recta

[2022-11-25 14:54] sharwell commented on #65610
Related to #28729

I'm not aware of any current formatting rule that would allow this. I'm also not aware of any specific prior request for allowing this style.

[2022-11-25 15:28] OwnageIsMagic commented on #65521
I hope we both agree that it's not reasonable behavior, but it looks like `won't fix` (Maybe resolving in through warning wave is feasible?).

_Just another bittersweet feature (like slicing not returning Span by default)._

[2022-11-25 15:42] Youssef1313 commented on #65610
A little bit simialr to https://github.com/dotnet/roslyn/issues/51389

[2022-11-25 15:45] mavasani commented on #65502
P0 bug reported at: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1686342

[2022-11-25 18:35] jkotas commented on #65597
Right, the first thing to check is whether it repros on x64 or arm64. If you are only able to reproduce it on loongson, it is most likely a bug in the loongson port.

[2022-11-25 18:37] jkotas commented on #65597
This runs thousands of times each day in dotnet/runtime CI. It means that this repros on loongson only

[2022-11-25 19:05] sharwell commented on #37910
This is showing up in a few other cases involving syntax errors. In my experience, the solution is not nearly as complicated as presented above. When an edit to a document results in a syntax error being introduced, there are two options for handling it:

1. Ignore all previous outlining regions, and calculate the new ones to the best of the ability from the new syntax tree
2. Construct the new ou

[2022-11-25 19:22] Youssef1313 opened #65612 "`GenerateDeconstructMethodCodeFixProvider` should support positional patterns"
[code]

I think the codefix should be offered for the above code, the result would be:

[code]

[2022-11-25 19:23] Youssef1313 commented on #65612
Actually this should fail this assertion:

https://github.com/dotnet/roslyn/blob/62646c22f6bd7b213e7e15dbc0dfadfe47a1e30f/src/Features/CSharp/Portable/CodeFixes/GenerateMethod/GenerateDeconstructMethodCodeFixProvider.cs#L62

[2022-11-25 20:10] DoctorKrolic opened #65613 "Expand `Use pattern matching` analyzer/codefix to suggest property patterns"
It would be nice, if VS could offer to use pattern matching for code like this:
[code]
or this:
[code]
The expected end result looks like:
[code]
Real-world usage case where this could be helpful: https://github.com/dotnet/roslyn/pull/65249#discussion_r1024514721

[2022-11-25 22:50] dliedke commented on #62059
When fix will be released? It seems I am coding in notepad. Almost everything is failing in the text editor.

[2022-11-25 23:08] iiKuzmychov commented on #44891
Why after 2 years it still doesn't work correctly??

[2022-11-25 23:26] CyrusNajmabadi commented on #44891
@iiKuzmychov this is currently on the backlog.  So this does not take priority over all the other work we have on our plates.  If you'd like to contribute a fix here though, we'd help get that in!

[2022-11-25 23:34] reduckted commented on #65502
Also reported here: https://developercommunity.visualstudio.com/t/IntelliSense-for-NET-has-got-slow-after/10211080

[2022-11-26 00:01] CyrusNajmabadi commented on #65502
This is not likely the same issue. Pull diagnostics would not lead to a minute of waiting. We'd need a trace to set what's going on.

[2022-11-26 00:32] reduckted commented on #65502
It's been closed as a duplicate of this issue.

[2022-11-26 00:44] bugarinov commented on #57585
A workaround is to use the LINQ methods directly i.e.:
[code]
which returns
[code]

[2022-11-26 01:13] mavasani commented on #65502
All the symptoms in the feedback ticket match this one. @reduckted can you please quickly check if the errors are updated at properly and at a fast rate in the error list while you type?

[2022-11-26 01:23] CyrusNajmabadi commented on #65502
Feedback ticket says:  "I must wait half a minute until IntelliSense displays it."  that's *def* out of the realm of anything i would expect (Even with pull diagnostics).  We def need a trace here to figure out what's gone so wrong :)

[2022-11-26 02:01] #20640 closed

[2022-11-26 03:08] jcouv commented on #65521
Thanks @alrz for the analysis. This looks expected based on overload resolution rules. This is the same behavior resulting from indexing: `new X()[^1]` ([sharplab](https://sharplab.io/#v2:EYLgtghglgdgNAFxAJwK4wD4GIaoDZ4TB4CmABACZQDORpAsAFAACADGQBpkC8ZAggG4mAemFkAtAHtk4kcLaceZZgEYALADoAIlADGCKJJgRkATwA8sBHDJWAfEMZMA+kpgkA7pwAUASgDaAHoqALqOTMwATPxMAN5MZInKAMy2MAhkCAAWNP5WtiE8dmQqjkkpaRnZuZLAAFYk+gVF

[2022-11-26 03:08] #65521 closed

[2022-11-26 03:09] reduckted commented on #65502
I posted a screen recording in [this comment](https://developercommunity.visualstudio.com/t/IntelliSense-for-NET-has-got-slow-after/10211080#T-N10212555) that might help. I'll attach it here as well:
https://user-images.githubusercontent.com/10321525/204069941-33e613b6-4657-4216-b6f0-cb371aeee820.mp4

In that scenario, all I was doing was adding line breaks. The error list always showed the errors

[2022-11-26 03:28] mavasani commented on #65502
So seems there are 2 issues here:

1. With 17.4, squiggles are being refreshed after all compiler and analyzer syntax and semantic diagnostics have finished computing. Earlier it would compute compiler syntax errors upfront and refresh it instantly. This is being tracked by this issue, and porting the fix for this issue to 17.4 should restore squiggles refreshing quickly again.
2. Few minutes dela

[2022-11-26 04:31] VBAndCs opened #65615 "[VB.NET] Using the `Convert to conditional expression` quick fix generates a wrong DirectCast"
I have this code(with a missing `End If`)

[code]

I used the quick fixes to convert the `if v` statement to an if expression and I got this
[code]

Which is strange and also gives an error, because direct cast can't be used with doubles and integer.
So, regardless the outer block has a proper close or not, this should not effect this fix, and DirectCast shouldn't be used between types that are no

[2022-11-26 05:18] CyrusNajmabadi commented on #65615
@VBAndCs We'd be happy to take a fix here if you'd like to contribute one.  Let us know and we can help you with it.

[2022-11-26 05:21] CyrusNajmabadi commented on #65615
@VBAndCs can you provide a larger repro?  Specifically, providing the definition of `value`?

[2022-11-26 05:53] VBAndCs commented on #65615
[code]

[2022-11-26 06:11] reduckted commented on #65502
I've just tried doing this through "Report a problem" and as soon as I edit the file to cause a compilation error, an internal error occurs and no errors are shown.

![image](https://user-images.githubusercontent.com/10321525/204074817-62240fe9-169a-4b90-8fee-eb1b003592ff.png)

[code]

It seems I'm not the first to encounter this: https://developercommunity.visualstudio.com/t/Intellisense-in-VS202

[2022-11-26 15:33] CyrusNajmabadi commented on #65502
Can you just use perfview and collect a trace manually?

[2022-11-26 16:42] jaredpar commented on #62059
That fix is around a tricky race condition. We wanted to give it a few weeks to settle in our preview builds before back porting it for servicing (wanted some real world testing to make sure there were no adverse side effects of the change). Expectation is this will be back ported next week to a servicing release of 17.43

[2022-11-26 17:12] dliedke commented on #62059
Thanks for the update @jaredpar ! Using VS.NET 2019 for now as backup.

[2022-11-26 17:17] CyrusNajmabadi commented on #65615
Thanks!

[2022-11-27 10:50] bjornhellander commented on #63013
Any chance on getting some attention to this?

Since the release of Visual Studio 17.4 (Roslyn 4.4.0) this now happens IRL (as in "not just in tests") when applying the code fix for SA1503 in StyleCop.Analyzers. See https://github.com/DotNetAnalyzers/StyleCopAnalyzers/issues/3581.

[2022-11-27 13:27] benjamin-asdf opened #65624 "Unhandled exception. System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime, Version"
**Version Used**:

4.4.0

**Steps to Reproduce**:

1.
[code]
this registers `/usr/share/dotnet/sdk/7.0.100/`

[code]

The essential thing for me is chsarp 9 language features.

2. open solution, `GetCompilationFromSolution`

TestProj.csproj
[code]
TestProject.sln

[code]
Program.cs
[code]

**Expected Behavior**:

Better error that tells me for example
1. what sdk was needed
2. what sdk it had
3. w

[2022-11-27 14:23] svick commented on #65624
Could you provide all the code necessary to reproduce this? Probably the best option is to create a GitHub repo or attach a zip file here.

[2022-11-27 14:58] bjornhellander commented on #63013
I added https://github.com/bjornhellander/BlockFormattingProblem as a simpler repro, in case it helps.

[2022-11-27 15:21] DoctorKrolic opened #65625 "Make `Covert to raw string` refactoring understand interpolation"
Currently `Covert to raw string` refactoring is not suggested, when invoked over interpolation string. It would be very helpful, if it can unserstand code like
[code]
and automatically determine how many interpolation tokens is required, so the result of converting code from above would be
[code]

[2022-11-27 17:21] CyrusNajmabadi commented on #63013
@tmat sounds like maybe the same issue as the option serialization bug?

[2022-11-27 17:33] CyrusNajmabadi commented on #65625
@allisonchou for visibility

[2022-11-27 21:26] AlekseyTs commented on #63565
@cston It looks like this is a regression from #65153. More specifically from this change https://github.com/dotnet/roslyn/pull/65153/files#diff-f1dd35829350df4e369550b5aee43764f85e7a1233ea79e1b4df174a40e8e2dd in SourceComplexParameterSymbol.cs.

Also, the fact that an error is not reported for a simple scenario like ```var e = ([UnscopedRef]ref int x) => x;``` is likely to indicate an inconsisten

[2022-11-27 22:20] RickStrahl opened #65627 "Discussion: Provide an easier way to add MetaDataReferences from Types"
## Background and Motivation

*I hope this is in the right place for a discussion.*

I have a small scripting library that is built ontop of Roslyn compiler libraries to dynamically compile C# code into assemblies/types.

One huge sticking point in usage of this tooling is the complexity of adding `MetaDataReferences`. There are a number of issues but there's at least one scenario that I have no s

[2022-11-28 03:12] tmat commented on #65580
Seems like GetChanges should have returned an opaque type that does not expose the exact list of TextChanges, but instead just a method to apply the changes to text. As it is right now it is too easy for the caller to not realize the non-determinism and use the returned text changes in a way that leads to propagating the non-determinism.

At minimum this should be documented in the API. Maybe we s

[2022-11-28 03:15] tmat commented on #65580
Actually, we use the method in multiple features and propagate the non-determinism. How are our tests not failing randomly? :(

[2022-11-28 08:35] Youssef1313 commented on #65612
@AlekseyTs Are we missing `GetDeconstructionInfo` overload for `PositionalPatternClauseSyntax` on the compiler side? This will make the job easier on the IDE side.

[2022-11-28 09:29] Ouakil commented on #58782
The issue is still lingering and was not addressed appropriately.

![Capture](https://user-images.githubusercontent.com/4854943/204241356-b83b772c-c66d-4e56-8c23-6b3aeef89087.JPG)

[2022-11-28 09:35] moses70 opened #65630 "<AnalysisLevel>latest-all</AnalysisLevel> seems to be not effective when switching to .NET7"
**Version Used**:
SDK 7.0.100 with Visual studio 17.4.1

**Steps to Reproduce**:

1. Install .NET6 SDK and .NET 7 SDK in parallel (latest versions)
2. Create a C# project with a global.json selecting .NET6
3. Use &lt;AnalysisLevel&gt;latest-all&lt;/AnalysisLevel&gt; in csproj
4. Using some example code, targeting .NET48 with &lt;EnableNETAnalyzers&gt;true&lt;/EnableNETAnalyzers&gt;
5. Verify the n

[2022-11-28 09:56] tudor-turcu commented on #18273
Unfortunately the issue still wasn't fixed in VS 2022
![image](https://user-images.githubusercontent.com/14958262/204248327-5a33b10f-1f8b-41f8-ba8e-96af22f165de.png)

[2022-11-28 09:57] Youssef1313 commented on #65630
@mavasani Is this the issue fixed in https://github.com/dotnet/roslyn-analyzers/pull/6258 ?

[2022-11-28 10:01] mavasani commented on #65630
Seems very likely. @moses70 Can you please check if adding an explicit NuGet package reference to https://dev.azure.com/dnceng/public/_artifacts/feed/dotnet7/NuGet/Microsoft.CodeAnalysis.NetAnalyzers/versions fixes the issue? This fix has been inserted into the dotnet/sdk repo and should be part of the next .NET 7 servicing patch.

[2022-11-28 10:51] reduckted commented on #65502
@mavasani I managed to create a ticket: https://developercommunity.visualstudio.com/t/Error-squiggles-disappear-when-there-are/10214653

[2022-11-28 11:14] moses70 commented on #65630
Works for me!
Thank you for the quick response and workaround.

[2022-11-28 12:04] mavasani commented on #65502
Thanks @reduckted. Unfortunately, the CPU stacks for the collected trace does not show any diagnostic analysis running in the background. @CyrusNajmabadi can also check if you see anything interesting in the collected trace?

[2022-11-28 12:25] mavasani commented on #65630
Duplicate of https://github.com/dotnet/roslyn-analyzers/issues/6245

[2022-11-28 12:25] #65630 closed

[2022-11-28 14:04] vsfeedback opened #65632 "Peek definition on tuple element goes to the element itself, not the corresponding variable"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Peek-definition-on-tuple-element-goes-to/10213758)._

---
[severity:It's more difficult to complete my work]
When using "Peek definition" on an element of a tuple, and that element is a variable, peek definition doesn't go to the variable definition as expected (and as "Go to definition"

[2022-11-28 15:03] stephentoub opened #65634 "Nullable flow tracking doesn't work through pointer dereference"
**Version Used**:
https://github.com/dotnet/roslyn/commit/07c6b71f9d061a28296b5c6791c4f60014356784

**Steps to Reproduce**:
[SharpLab](https://sharplab.io/#v2:EYLgtghglgdgPgYgA4CcIHNIAIDuEUyzpYAmUAzhMADYCmWAHAKwAMLAsAFAACLW3ARgB0AESgYYAe3IAXKAGNyAbi5duAZiwBXGJQBm9bgCYsAYS4BvLlhv9NgvgFkAFCIgyIAKlLuIASmtbK05bUKwRWmAtdCEAQXJyWhQZZxJfAFoAPgA1CGotegosKRlirWpqPxUQsJtuAHYfDyzc/Npq0IBfLm7ONU1ZFC15UrcPS0C6

[2022-11-28 15:25] nschuessler opened #65635 "Question: Packaging of Roslyn analyzer nuget"
I have gotten some feedback on my analyzer nuget package from a customer.

The 'Bug' is that my analyzer nuget package has dependencies on other nuget packages and that causes problems.
When adding my analyzers package to a project I get an entry like this:

[code]

There are only analyzers in the package, but I suspect because `build` and/or `runtime` are added by default, that this ties my analy

[2022-11-28 16:05] edgariscoding commented on #62059
Also experiencing this issue on VS 2022 v17.4.1.

![image](https://user-images.githubusercontent.com/12093243/204324896-18b8c757-a83c-4b10-9c5d-64e225f49846.png)

[2022-11-28 16:23] Therzok opened #65636 "Constant folding isn't done when interpolated string contains at least one variable"
**Version Used**:
Not sure, whatever sharplab/Default is at.

**Steps to Reproduce**:

Explained in this [sharplab snippet](https://sharplab.io/#v2:D4AQTAjAsAUCDMACciDCiDetE8QYwHsA7AZwBdkIAGRABwCcBTAMwEsAPRAXkQCIGWHAHS8A3LGy4A9FMQAVABasSiZYjZFGknAkoA2SjQByBAGoBDeq3MAjADaNuAPkQASXhgFt2AXyFFzAFtGMQkYXEQZeSUVNQBXIgJaMlZA1gAvRgATABpEcyIs1TIAchUErMZ6cgKs2wchbWQkEAgDVpoAMVYAuwAZcwBPAjiyIyDGAAoeih7K9gBKZ

[2022-11-28 17:36] CyrusNajmabadi opened #65637 "Investigate if IDiagnosticAnalyzerService can cache results, even if asked for a subregion of a file."
Currently, it only caches if the entire file is queried for diagnostics.

[2022-11-28 17:42] andriipatsula opened #65638 "The `SyntaxGenerator` class does not generate default values for parameters of member/constructor/operator."
## Background and Motivation

The `SyntaxGenerator` class does not generate default values for parameters of member/constructor/operator.
Issue to track on our side: https://github.com/dotnet/arcade/issues/11734

[SyntaxGenerator.cs#L171](https://github.com/dotnet/roslyn/blob/main/src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs#L171):
[code]
we call `public SyntaxNode ParameterDeclaration(

[2022-11-28 17:43] andriipatsula commented on #65638
cc. @RikkiGibson , @ViktorHofer , @smasher164

[2022-11-28 17:49] CyrusNajmabadi commented on #65638
yes.  seems like unintentional.  will fix.

[2022-11-28 17:56] andriipatsula commented on #65638
@CyrusNajmabadi , the same issue is for `ConstructorDeclaration` and `OperatorDeclaration` methods. Could I kindly ask you how much it could take to fix this issue? Either I copy/past couple of classes from roslyn into sdk (`Microsoft.DotNet.GenAPI` project) to support default parameter generation or will wait till it resolved.

[2022-11-28 18:02] CyrusNajmabadi commented on #65638
I don't get hte need for this for operators.  Optional values make no sense tehre.  Why do you need that?  My fix will fixup constructors.

[2022-11-28 18:11] andriipatsula commented on #65638
yeh, sorry. Agree

[2022-11-28 18:13] jasonmalinowski commented on #62059
@edgariscoding Can you file a new bug on that one? That's not something I think we've seen before.

[2022-11-28 18:14] jaredpar commented on #40665
@NN---

I understand but that is the expected behavior here. The code `obj.Equals(null)` is a declaration that the developer thinks `obj` can be `null` at this line and the compiler responds accordingly. The xUnit team can help with this scenario by marking the API as `[DoesNotReturnWhen(true)]` and that would allow the compiler to respond appropriately here. But as written the code is behaving as

[2022-11-28 18:15] edgariscoding commented on #62059
Yep, done

https://developercommunity.visualstudio.com/t/Feature-Diagnostic-analyzer-runner-is-/10214845

[2022-11-28 18:45] jasonmalinowski commented on #63013
@sharwell There was a servicing fix for some VS for Windows related issues [here](https://github.com/dotnet/roslyn/pull/65382), but those changes would only impact the reading of the settings in VS for Windows. Furthermore:

@tmat's change would have regressed in the 4.4 line, not in 4.3. So this very much seems to be an unrelated issue.

[2022-11-28 20:52] davidwengier commented on #58782
@Ouakil ENC1002 is a very generic "something went wrong" error code, so it is possible you are running into a different issue. It would be best to open a new issue, or file a VS Feedback request, with details of what you are doing when you get that error, ie what type of code updates you are making, what type of project, etc.

[2022-11-28 20:52] tmat commented on #65627
You should be able to use [TryGetRawMetadata](`https://learn.microsoft.com/en-us/dotnet/api/system.reflection.metadata.assemblyextensions.trygetrawmetadata?view=net-7.0`) API and `MetadataReference.CreateFromImage` as a workaround for now.

[2022-11-28 21:10] CoolCoderSuper commented on #65333
Add this to VB as well

[2022-11-28 21:12] #64783 closed

[2022-11-28 21:12] #56587 closed

[2022-11-28 21:56] jakobbotsch opened #65648 "Writes through `UnscopedRef` allows bypassing lifetime rules"
**Version Used**:
57cfbe6f5ba818c42485bf15f03146f15546e12e

**Steps to Reproduce**:

The following example compiles:

[code]

[Sharplab Example](https://sharplab.io/#v2:EYLgtghglgdgNAFxFANnAJiA1AHwAIBMAjALABQeADAAR5EB0AIlBAOYwD2AzglAMZd6AYQ7oApgEEYEFAE8uULgG5yVWgwBKAVxi8wY4RzAAHVGIBOAZQsA3fmOXlVAZloFqGscfMdyAb3JqIOpvKBsIBDF1ADZaABZqACEIdAAKczEAMw8sywRzLT4Edy4CAEpA4ICyYNrqWARqcJQtKIBeaiJKShUauqDPTL

[2022-11-28 22:00] 333fred commented on #65406
https://github.com/dotnet/csharplang/issues/6754 will be discussed by LDM on Wednesday. There are some subtleties to this request: chained constructors, in particular, are more difficult than they appear on the surface, as we would need to use `MemberNotNull` attributes to infer a _starting_ state for the mentioned members, not just an ending state.

[2022-11-28 23:34] cston opened #65651 "Unexpected ref safety error reported with `out _` with C#7.2 ref safety rules"
Compile with .NET 6 and `-langversion:10`:
[code]

**Expected Behavior**:
No errors

**Actual Behavior**:
(8,16,8,17): error CS8352: Cannot use variable 's' in this context because it may expose referenced variables outside of their declaration scope

[2022-11-28 23:36] jaredpar commented on #65648
This has similar problems as #62618. Essentially we're returning a `ref` value with RSTE and STE of *current method*. That allows for the re-assignment to occur. My instinct is the STE here should be *calling method* but I'm not 100% confident in that.

[2022-11-29 00:03] CyrusNajmabadi opened #65652 "Fully-Qualify fixer serializes symbols as part of normal processsing."
This feature should work solely by doing all work on the OOP side and only marshalling simply data back to the host.

[2022-11-29 00:16] RikkiGibson commented on #65648
In this scenario I would expect an equivalent diagnostic for both `s1.RefField = ref value` and `s1.Ref.RefField = ref value`.

[2022-11-29 00:23] RickStrahl commented on #65627
Thanks for that - that looks promising but... I had no luck getting this to work.

Basically what I'm now doing is this:

[code]

`References` is a `HashTable<PortableExecutableReference>` I'm adding refs to, then pull them out during compilation.

When this code triggers with an in-memory assembly the `unsafe` code seems to work to retrieve a metadata referncee (I get true and buffer and I can ad

[2022-11-29 00:47] RikkiGibson commented on #65651
Why are no errors expected? If we compile under 7.2 then we expect the out argument may be returned by reference. I would just expect a similar error in Test1, Test2 and Test3. Right?

[2022-11-29 00:50] RikkiGibson commented on #65634
I think fixing this would require us to treat the *pointed-at* variable as a child slot of the pointer variable.

[2022-11-29 02:00] cston commented on #65651
The `Span<int>` instances are returned by value from `Test1`, `Test2`, `Test3`.

[2022-11-29 02:03] tmat commented on #65627
I see, we don't have a readily available factory that takes only the metadata blob -- CreateFromImage takes PE image (the entire dll/exe file), but TryGetRawMetadata only returns the metadata section of that file.

You'll need to construct AssemblyMetadata object and then call GetReference on it. First, use ModulMetadata.CreateFromMetadata to create ModuleMetadata and pass it to AssemblyMetadata.C

[2022-11-29 04:18] jaredpar commented on #65522
@RikkiGibson on the surface looks pretty similar to #64784

[2022-11-29 04:21] jaredpar commented on #65545
The other consideration is whether or not changing the behavior will impact existing use cases. Have to consider existing customers may be depending on this behavior. Not sure that we can safely change this.

@333fred to confirm

[2022-11-29 06:33] RickStrahl commented on #65627
Thank you... this gets me a little closer now:

[code]

Roslyn can now resolve the reference and compile the code which I guess solves this particular problem...

It would be nice if there was a more obvious way to do this - like an overload that can use an active type to create the metadata reference (presumably using similar code).

Thank you...

The next problem though is that the runtime activ

[2022-11-29 06:33] #65627 closed

[2022-11-29 07:37] paulssn commented on #65580
Ok, got it - thanks!
What would be the way to apply the changes to the old text, ie is there some roslyn API for that? I'd like to check whether this works reliably.

[2022-11-29 08:10] mavasani commented on #65503
Reported in https://developercommunity.visualstudio.com/t/Editor-reports-errors-when-there-are-non/10213836

[2022-11-29 09:20] weltkante commented on #65638
Nice 👍 - ran into this exact problem when trying to write an IIncrementalGenerator that generats forwarding stubs to another object.

[2022-11-29 09:22] JoasE opened #65658 "Property initializer with dependent property does not warn of possible null reference."
**Version Used**: 11

**Steps to Reproduce**:
Create a class with 2 required init properties.
Define a backing filed for one of the properties and reference the other property in the init body.
Building the code below does not show a possible null reference warning.
Running the code throws a NullReferenceException in the `init => _weirdProperty = Test.Name + value;`

[code]
https://sharplab.io/#v2

[2022-11-29 10:16] mavasani commented on #26527
Tagging @stephentoub who hit the same issue in attempting to author a new code fixer. Definitely confusing experience as only someone who knows about this limitation of batch fixer will be able to workaround by using the document based fix all provider.

[2022-11-29 10:19] #65477 closed

[2022-11-29 14:08] sybren9 commented on #61467
There's 2 separate issues here at play which both apply to the same problem;

1. Code Cleanup operation is applying code fixes for diagnostics that are marked as Refactoring Only, which should not happen as pointed out by @sharwell
2. Visual Studio is missing severity 'none' as an option in the code style menu.

2nd issue seems to also have been mentioned a bunch of times ( [here](https://github.c

[2022-11-29 14:21] sharwell commented on #63508
This is a bit of a weird case, so it's not yet implemented. Options include:

* Inheriting from the `param` with the same name
* Inheriting from the parameter with the same index (which may or may not have the same name)

[2022-11-29 14:40] mblichowski commented on #60818
**Very** annoying

[2022-11-29 15:40] sharwell commented on #65247
💡 Adding a blank line before the TODO comment should fix this.

We already fixed the case where the comment is immediately followed by a line of code (#29482), but in this case it's followed by a blank line.

[2022-11-29 15:47] CyrusNajmabadi commented on #65580
Not at computer, but it's basically SourceText.WithChanges

[2022-11-29 15:51] CyrusNajmabadi commented on #65638
SyntaxGenerator cannot be used by source generators. It exists at a higher layer (workspaces) not available to generators

[2022-11-29 17:25] weltkante commented on #65638
ah, too bad

[2022-11-29 17:44] jez9999 commented on #65247
Yeah but I don't want to follow it by a blank line.

[2022-11-29 18:06] DoctorKrolic commented on #65658
1. The `Name` property of the `Test` class isn't marked as nullable string (`string?`)
2. It is absolutely legal to concatenate `null` with some string (even the null `string`). For instance, try to run this program:
[code]
You will get empty output, not the null ref exception crash

3. Having your code written the way, when the order of properties in initializers changes the state of the program

[2022-11-29 18:09] DoctorKrolic commented on #65658
The `Test` property isn't marked as nullable. When you add the `?`, the warning is there: https://sharplab.io/#v2:C4LgpgHgDgNghgSwHYBoAmIDUAfAAgJgEYBYAKFwGYACAqgYSoG8yrWbrcAWKgWQAoAlExZtRANzgAnKsDABnYFQC8VJGADuVACrzgAJTABHAK4JJYNAEkkCYCNGtmpBy6oB1MGbQAFSQHsoMElgAE9lKgAiOAiUe1dWHQVwtU1ExUYqADk4AFswcIiAIwiqAF840VKAbjjy0jqyMkoafG1dAxMzC2tbMidRKEkECVkqczg0PyQYMNxCAAYqAH11T0kff0DgkJrSOObzTvM0NoUAflP0qg

[2022-11-29 19:51] eatdrinksleepcode commented on #41666
@CyrusNajmabadi The original issue had nothing to do with VSCode, nor does mine. The problem is simply that the developer may want to apply some types of whitespace reformatting and not others, and the tool doesn't allow that. Virtually every other kind of change can be applied at a granular level, but not whitespace changes; and there is no obvious reason why that should be the case.

I am curren

[2022-11-29 20:37] JoasE commented on #65658
@DoctorKrolic I understand that. The issue is that it can be null during the `init` phase of the class. For example, when doing the below, the compiler does show a warning about the reference being null:
[code]
https://sharplab.io/#v2:C4LgpgHgDgNghgSwHYBoAmIDUAfAAgJgEYBYAKFwGYACAqgYSoG8yrWbrcAWKgWQAoAlExZtRI1gF8yU0mUo18VACpgAzsDrAA9gCcA6nB1JkAczLNSoqDoQA3OMDBUdYOGi1IYATxqEADFQA+gDuYAg6aAAKOlpQYDrA

[2022-11-29 20:46] JoasE commented on #65658
I understand that this might not be the best code. But it still could happen, and a warning could prevent users from writing even worse code (one where `NullReferenceException`'s could occur.) or help them understand why their code isn't very good.

[2022-11-29 20:56] CyrusNajmabadi commented on #41666
Because we'd need some technical solution to make thsi possible, and that is non-trivial.  We're also not really in support of the idea of partial application of formatting, or making things very complex with knobs and whatnot.

It's still unclear where this is a problem, regardless of what host (vs/vscode) you might be in.  The general idea here is that this is just a formatter that formats based

[2022-11-29 20:58] #65427 closed

[2022-11-29 22:21] udlose commented on #22921
any updates on this?

[2022-11-29 22:31] CyrusNajmabadi commented on #22921
@udlose the issue is currently on the backlog. Thanks!

[2022-11-29 23:23] 333fred commented on #65545
This is an IDE api. Moving over there for triage.

[2022-11-29 23:34] RikkiGibson commented on #65658
What you're asking for here is an interprocedural flow analysis. Unfortunately, this is something we have ruled out in general because of the computational complexity of doing so.

We might be able to make small adjustments to heuristics which are self-contained to set/init accessors. But this will require some investigation of the impact (i.e. potential of adding warnings to existing code) and a

[2022-11-29 23:39] RikkiGibson commented on #4304
Duplicate of #1891

[2022-11-29 23:39] #4304 closed

[2022-11-30 00:24] udlose commented on #22921
For 5 years! SMH

[2022-11-30 00:29] CyrusNajmabadi commented on #22921
@udlose You're welcome to contribute here if you're interested.  It's on our backlog, which means that it's not viewed as important as the other critical work impacting our customers.  But we do work with the community to help them out if individuals are interested in addressing issues they personally find more painful.

[2022-11-30 00:49] #65638 closed

[2022-11-30 00:55] 333fred commented on #22921
As alrz pointed out a few years ago, this is a duplicate of https://github.com/dotnet/roslyn/issues/15695. Closing this one out. Everything Cyrus said does apply to that other issue.

[2022-11-30 00:55] #22921 closed

[2022-11-30 04:38] mavasani opened #65678 "Add tests for incremental member edit analysis"
We need to probably write some test accessors to be able to write unit tests. Let me open a tracking test issue.

_Originally posted by @mavasani in https://github.com/dotnet/roslyn/pull/65676#discussion_r1035521101_

[2022-11-30 06:20] jcouv commented on #65636
Assigned to @333fred for consideration.

The snippet is:
[code]

[2022-11-30 07:19] 333fred commented on #65636
We'd accept a PR to implement this, but are unlikely to prioritize it ourselves, given the relatively little gain involved.

[2022-11-30 10:53] weltkante commented on #65658
I don't think "interprocedural flow analysis" is the primary point here. The order in which `init` accessors are called upon is arbitrary (depends on the call site) so all init bodies should treat their non-nullable variables as potentially having null values - just like in a constructor.

Asking for members being set in the constructor to be excluded from this treatment would be a bonus and not t

[2022-11-30 13:13] AbstractionsAs commented on #48008
@sharwell How do you get the full exception from the binlog? I only get the short one there as well..

[2022-11-30 13:16] controlflow opened #65682 "Pattern matching over generic requires C# 8.0 instead of C# 7.1"
**Version Used**: main branch

**Steps to Reproduce**:

Compile the following code with `/langversion:7.3`:
[code]

**Expected Behavior**:

Code compiles fine. Pattern-matching over open generic types was introduced as a part of C# 7.1 language version.
This is caused by those lines of code using `IDS_FeatureRecursivePatterns` instead of `IDS_FeatureGenericPatternMatching`:

![image](https://user-

[2022-11-30 14:27] Youssef1313 commented on #65682
Previous seemingly related issues:

https://github.com/dotnet/roslyn/issues/34905
https://github.com/dotnet/roslyn/issues/34678

[2022-11-30 14:37] vsfeedback opened #65683 "Intellisense switch expression produces invalid code from `not` pattern"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Intellisense-switch-expression-produces-/10214198)._

---
\[severity:It bothers me. A fix would be nice\]

[code]

Intellisense option to change this to a switch expression produces this invalid code:

[code]

It should be:

[code]

---
### Original Comments

#### Tracy Wang [MSFT] on 11

[2022-11-30 14:45] RobSiklos opened #65684 "NotNull annotation warning for parameter even though it's checked for null"
**Version Used**:  .NET 7.0

**Steps to Reproduce**:

Compile [the following code](https://sharplab.io/#v2:CYLg1APgAgTAjAWAFBQAwAIpwHQBECWAhgOYB2A9gM4Au+AxpdgMLnACmAgqYQDYCelfJQDcyZFADMmGOiboA3uKlYAbJgAs6AEpsAjgFd8AJzYA1XvmABlakfyliACgDaAOXLVX+njwC6mOFQAfnRKAEpkRSR0GPQAI3JyHnQhLx8AeSMAUQBbAAdqPnQAXgDUbABJSjSeTNyCvkdw0WjYgBUACyNyAHcKgDM2o302R1TvWuz8wrCWgF90AHpF2SsADgB2LZB0AAVCI0Ictmo2I3QAckoL9Bz9Gn

[2022-11-30 14:56] Youssef1313 commented on #65684
Following will prevent the warning:

[code]

@RikkiGibson Is this by-design?

[2022-11-30 15:19] RobSiklos commented on #65684
@Youssef1313 Yes, that will prevent the warning, but the point isn't really about the nullable check, it's about the `[NotNull]` attribute on the return value causing a warning even when the method won't return.

Maybe here's a better example:

[code]

[2022-11-30 15:34] controlflow opened #65685 "Conversion operator clashes with the explicit impls"
**Version Used**: main branch

**Steps to Reproduce**:

Compile the following code:
[code]

**Expected Behavior**:

Code compiles fine. There is no other members in the type for `operator int` to clash with.

**Actual Behavior**:

[2022-11-30 16:23] Youssef1313 commented on #65685
https://github.com/dotnet/roslyn/blob/15683879b536f1a2dc59b99543ea9d076ec65190/src/Compilers/CSharp/Portable/Symbols/ConversionSignatureComparer.cs#L51-L71

@AlekseyTs Is the implementation above correct?

[2022-11-30 16:39] AlekseyTs commented on #65685
Without taking a closer look, it is quite possible that the problem is not in the comparer. An explicit implementation cannot conflict with a regular declaration, so there is really no point in comparing their signatures.

[2022-11-30 17:09] Youssef1313 commented on #65685
@AlekseyTs The callsite of the comparer is a `HashSet` where we add members of a type to check for duplicates. If we are not going to modify the comparer, we'll probably need to split this `HashSet` into two, one for implicit conversions and one for explicit conversions.

What I had in mind earlier is something like this. Is that wrong for some reason?

[code]

[2022-11-30 17:12] AlekseyTs commented on #65685
@Youssef1313 Are you working on a fix or just curious?

[2022-11-30 17:20] AlekseyTs commented on #65685
Again, without taking closer look, I think that explicit implementations shouldn't be added into ```conversionsAsConversions``` set. They are not regular conversions.
[code]

[2022-11-30 18:41] #65652 closed

[2022-11-30 18:51] RikkiGibson commented on #65684
The compiler doesn't track what possible values a bool variable could have at a given point. We do expect a warning for the `ThrowIfTrue(isBad)` case.

[2022-11-30 18:55] RobSiklos commented on #65684
Thanks @RikkiGibson , that makes sense.

So what's the best way to get around this warning? Should I just suppress it locally by enclosing in a `#pragma warning disable/restore` pair?

In this case, I know for a fact that the `RequireValidString` method cannot exit unless `s` is non-null. Is there any way for me to tell this to the compiler so it doesn't give me the warning, since it can't discove

[2022-11-30 18:57] RikkiGibson commented on #65684
`Debug.Assert(s is not null)` is commonly used for this.

[2022-11-30 18:58] #65684 closed

[2022-11-30 19:00] Youssef1313 commented on #65682
@jaredpar Is this not a bug?

[2022-11-30 19:26] angelru commented on #34192
This keeps happening in visual studio 2022

[2022-11-30 20:28] r-pankevicius commented on #59988
Still here...
[code]

Waiting for 17.5.

[2022-11-30 20:59] RikkiGibson commented on #65658
The language makes many simplifying assumptions for usability. For example, the following produces no warnings, and gives an NRE at runtime.

[code]

This is because we think that usually you are going to call methods after construction, but we don't want to stop you from calling methods during construction.

Certainly, init/set accessors are more on the side of "you're going to call this when not

[2022-11-30 21:04] chsienki commented on #64266
Closed via https://github.com/dotnet/roslyn/pull/65223

[2022-11-30 21:11] #64266 closed