[2015-02-25 15:24] gafter commented on #853
I think we went too far removing the SemanticModel API that returns compiler diagnostics for that source file.

[2015-02-25 15:28] gafter commented on #855
@OmerRaviv Can you confirm that the compilation has no diagnostics? after it is created in this repro?

[2015-02-25 15:46] mkrueger commented on #853
Not just compiler diagnostics.

Esp. the use case:
'I have a custom list of analyzers and want them to run on a single file' is very important.

[2015-02-25 15:46] jaredpar opened #856 "Visual Basic BinaryOperators.Test1 fails on CTP6"
The `BinaryOperators.Test1` suite fails on a machine with only CTP6 installed.

It is hard to understand why this failure occurs because this suites is essentially running an `Assert.Equal` on strings that are over 100,000 characters long.  For now I'm just going to disable it when we move to CTP6 in Jenkins.

[2015-02-25 15:54] carlos-quintero opened #857 "EnvDTE.CodeElement GetStartPoint(EnvDTE.vsCMPart.vsCMPartBody).Line returns wrong result if declaration uses more than one line"
See MS Connect bug report:

EnvDTE.CodeElement GetStartPoint(EnvDTE.vsCMPart.vsCMPartBody).Line returns wrong result if declaration uses more than one line
https://connect.microsoft.com/VisualStudio/feedback/details/1148659/envdte-codeelement-getstartpoint-envdte-vscmpart-vscmpartbody-line-returns-wrong-result-if-declaration-uses-more-than-one-line

I think that in past CTPs the problem also happe

[2015-02-25 16:17] AlekseyTs commented on #74
Before resolving this issue, please ensure VB handles similar scenarios in the same way. Please add a unit-test if we don't have one (all VB tests for conditional access are in Compilers\VisualBasic\Test\Semantic\Semantics\ConditionalAccessTests.vb).

[2015-02-25 16:17] OmerRaviv commented on #855
@gafter I neglected to check this - I get warning on unneeded usings, but also get two errors:
[code]
and
[code]

Solving the latter does not solve the former. Am I missing something?

[2015-02-25 16:22] OmerRaviv commented on #855
If I copy paste the code in the repro into a blank new Console application, and NuGet install `Microsoft.CodeAnalysis.CSharp`, it compiles just fine without requiring any reference to System.Runtime.

[2015-02-25 16:24] jaredpar commented on #271
In addition to this bug we should be hardening the compilation process against analyzer failures.  If an analyzer fails with an unhandled exception the compilation should result in a `Diagnostic` vs. a crash.

Do we have a bug tracking this yet?

[2015-02-25 16:44] Pilchie commented on #628
For csc, if we move to CoreCLR, targeting 4.6 definitely makes sense.  For the workspaces layer, if we want to reach maximum penetration, 4.5.2 is a good target since it is on Windows Update, whereas 4.6 won't be for a while.

tag @theoy, since he has done some thinking about this too.

[2015-02-25 16:48] Pilchie commented on #235
Thanks Sam - moving over to the compiler as this is a Syntax level API.

[2015-02-25 16:49] mavasani commented on #271
@jaredpar We already ensure that any callbacks into analyzers are wrapped within a try/catch all (see AnalyzerExecutor.ExecuteAndCatchIfThrows method, which is used for all analyzer callbacks). This one is a special case as LocalizableString.ToString() is lazily evaluated only when we need to report/localize a diagnostic. I have a bug to ensure that we wrap all places where LocalizableString is co

[2015-02-25 16:55] jaredpar commented on #271
@mavasani

The method seems suspect to me because whether the exception propagates to the rest of the compiler is configurable via the delegate.  That means the compiler must be hardened against analyzer exceptions which we don't actually want to do.

I can't see a reason why that `catch (Exception)` shouldn't be an unconditional catch.  The filter should be deleted.

Is there a specific reason it

[2015-02-25 17:04] jaredpar opened #860 "Many shadow copy suites fail on CTP6"
Most of the suites in Mircosoft.CodeAnalysis.Scripting.UnitTests.dll and some interactive suites fail on Jenkins when converted to CTP6.  All of the failures appear to be related to shadow copy.  Disabling for now until we can track down the issue.

[2015-02-25 17:06] mavasani commented on #271
The delegate returns false (and hence exception unhandled) only in below circumstances:

1. For our built-in IDE analyzers (EnC analyzer, simplify names, etc.), we need crash dumps for any crashes in there (see IBuiltInAnalyzer). We were planning to move to non-fatal watsons. I think @heejaechang was doing some work for it, but I am not sure if that is already done for IDE analyzers.
2. Tests veri

[2015-02-25 17:09] Pilchie commented on #814
Thanks for the updated repro.  I'm not sure what's going on, but this does look like a bug to me.

[2015-02-25 17:10] jaredpar commented on #271
For item 1 understand the need for better crash dumps.  But that can be done in the `when` block and still have the exception be caught by the the `catch`.  Essentially consider if the current `Func<Exception, Analyzer, bool>` was instead simply `Action<Exception, Analyzer>`.  That would allow for better dumps and the easy understanding that exceptions never propagate to the compiler.

For item 2

[2015-02-25 17:13] yinon1992 commented on #814
thank you

2015-02-25 19:09 GMT+02:00 Kevin Pilch-Bisson <notifications@github.com>:

[2015-02-25 17:17] gafter commented on #855
I'm going to guess that `Assembly.GetExecutingAssembly().GetReferencedAssemblies()` does not include mscorlib. If that is true it might be a bug (elsewhere). Try adding the assembly containing `typeof(object)` and see if that helps.

[2015-02-25 17:22] jamesgaunt opened #861 "Create MetadataReference to assembly in ASP.NET 5"
I'm trying to create an ASP.NET 5 application which uses Roslyn, and references one of the project assemblies.

If I just create a ASP.NET Web Application (or Console Application), and reference Microsoft.CodeAnalysis, then the following code throws a System.ArgumentException: Empty path name is not legal.

            MetadataReference.CreateFromAssembly(this.GetType().Assembly);

Stepping into t

[2015-02-25 17:24] OmerRaviv commented on #855
No, it does include mscorlib, and even if I manually remove it and add `MetadataReference.CreateFromAssembly(typeof(object).Assembly)`, same result.

[2015-02-25 17:25] tmat commented on #855
Microsoft.CodeAnalysis is a portable library. When referencing portable library from a non-portable library you need to add references for runtime façade assemblies (C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6\Facades).

If you enable logging from msbuild you'll see that it adds these references automatically when compiling the Console application.

[2015-02-25 17:28] OmerRaviv commented on #855
@tmat Ah, I see, thank you for the clarification. I'm closing this issue then, as there doesn't seem to be anything Roslyn should have done differently.

[2015-02-25 17:28] #855 closed

[2015-02-25 17:30] tmat commented on #861
We don't support referencing in-memory assemblies right now.

[2015-02-25 17:33] tmat opened #862 "Support metadata reference to in-memory Reflection Assembly"
We need to define a new set of PE symbols that delegate to Reflection model instead of reading metadata from PE image -- because there is no PE image in this scenario.

[2015-02-25 17:36] tmat commented on #861
I have filed issue 862 to track this feature request.

[2015-02-25 17:41] gafter commented on #74
This issue, its fix, and tests are for C# only. Please add separate issues for VB is you have concerns there.

[2015-02-25 17:43] mavasani commented on #271
I agree, everything here can be achieved through Action<Exception, Analyzer>. Realistically 1. is the only use case for it, others seem to be just where this got re-used. It will probably be some work on @heejaechang to ensure that non-fatal Watson handler for IDE analyzers is registered with the IDE analyzer driver. @srivatsn Do you agree with the proposed change? Should I open a separate issue t

[2015-02-25 17:44] davidfowl commented on #861
@jamesgaunt ASP.NET 5 has an API for this. You can do what Razor does https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Razor/Compilation/RoslynCompilationService.cs#L132

[2015-02-25 17:46] gafter commented on #851
Thanks. Now that I know I'll route these issues in your direction.

[2015-02-25 17:48] jamesgaunt commented on #861
@davidfowl that is fantastic!  Thank you very much.

[2015-02-25 17:50] Pilchie commented on #841
While true, I expect the number of VB Projects that don't have Imports System is low enough to not worry about too much.

[2015-02-25 18:00] pharring commented on #628
Agreed. 4.5.2 for now.

[2015-02-25 18:05] jasonmalinowski commented on #628
Agreed -- let's do 4.5.2. I agree we _should_ consider 4.6 (it'd make some stuff I just did easier) but let's not let the mythical future prevent us for doing something we all agree on now.

[2015-02-25 18:05] cston opened #863 "VB assert failure: "captured local should not need rewriting""
Assert failure compiling the following with vbc.exe /t:library c.vb

Imports System
Imports System.Threading.Tasks
Class C
    Shared Function F() As Object
        Throw New ArgumentException()
    End Function
    Shared Async Function M() As Task
        Dim o As Object
        Try
            o = F()
        Catch e As Exception
            o = e
        End Try
    End Function
End Class

[2015-02-25 18:08] carlos-j-quintero commented on #857
The problem seems to be in file: CodeModel\VisualBasicCodeModelService.NodeLocator.vb

Line 307 (Function GetTypeBlockStartPoint):

                        Dim statement As StatementSyntax = typeBlock.BlockStatement
                        While statement IsNot Nothing
                            Dim [next] = statement.GetNextNonEmptyStatement()
                            If [next] IsNot Nothing

[2015-02-25 18:10] Pilchie commented on #507
To bump this, the dependency should be there in the "rc1" packages that work with VS 2015 CTP 6.

[2015-02-25 18:26] tmat commented on #628
Sounds good. Although it's not that mythical :)

[2015-02-25 18:28] jasonmalinowski commented on #628
Until the commit happens that moves us to 4.6, it's mythical!

[2015-02-25 18:36] gafter opened #864 "(VB) Conditional access expression in other contexts where expression value is ignored"
Corresponding to C# issue #74, there are the following expression-lambda-like forms in VB:

[code]

(where the result of M() is an unconstrained type parameter)

The first of these (assignment to `l`) is currently not accepted by the VB compiler, though it should be.

[2015-02-25 19:17] agocke commented on #271
I don't agree with

[2015-02-25 19:18] mavasani opened #868 "Never let exceptions go unhandled from AnalyzerExecutor.ExecuteAndCatchIfThrows"
See proposal in comments for #271 to use Action instead of Func for processing analyzer exceptions.

[2015-02-25 19:18] agocke commented on #271
I don't agree with crashing the compiler until we have a non-fatal Watson story. The analyzers cannot crash the compiler. The compiler is in RC.

If getting dumps is important, I think the work item to produce a non-fatal Watson needs to be elevated.

[2015-02-25 19:19] dotnet-bot opened #869 "[Feedback] Holding backspace in the Immediate Window to delete text throws an error"
This bug has to be handled in the TFS. Closing this bug

[2015-02-25 19:22] jaredpar commented on #271
@agocke Let me be a bit more clear about my thoughts:

1. An exception from an analyzer should **never** propagate into compiler code.  The caller of the analyzer should wrap in a `try / catch` and convert to the appropriate failure case in the compiler for the specific call.
2. The host of the compiler should be able to treat analyzer failures as fatal if they like.   For example I think the comp

[2015-02-25 19:23] agocke commented on #271
@jaredpar I agree with this, but I think it also means we need a compiler work item to harden all analyzer entry points against exceptions.

[2015-02-25 19:23] mavasani commented on #271
Command line compiler will never crash for explicit callbacks into analyzers, its the exception from IDE analyzers that is under scrutiny here. Its just that this method is in a shared project used by both IDE and compiler drivers.
Additionally, I think @heejaechang has already done the work for non-fatal Watsons and even VS won't crash in this scenarios, it will handle these exceptions, though he

[2015-02-25 19:37] agocke commented on #271
@mavasani @jaredpar

Despite not being an explicit entry point into the analyzers, I treat hooking the assembly resolve as a compiler entry point into the analyzers.

My position here would be that the entire event handler is wrapped in a try-catch.

[2015-02-25 19:39] mavasani commented on #271
Agreed, that is addressed by #865

[2015-02-25 19:44] #869 closed

[2015-02-25 19:45] mavasani commented on #271
I am going to merge the PR for this issue and close this issue. Please add any more comments on this scenario into #868

[2015-02-25 19:48] mavasani commented on #271
Fixed with commit 600c0e4in PR #835

[2015-02-25 19:48] #271 closed

[2015-02-25 20:33] #612 closed

[2015-02-25 20:51] ViIvanov opened #871 "DebuggerDisplayAttribute and ImmutableArray<> bug"
1. Create a default Console Application in a MSVS 2015 CTP 6.
2. Add reference to a System.Collections.Immutable.1.1.33-beta
3. Replace code in Program.cs to:
[code]
4. Run debugger.
5. When debugger stops at breakpoint, move mouse pointer over a "test" variable. Tooltip shows

Should be

[2015-02-25 20:53] Pilchie opened #872 "Should not indent inside verbatim interpolated strings"
Hit enter inside:

[code]

*Result*
Indented 4 spaces past `var`.

*Expected*
Caret in column zero.

[2015-02-25 20:55] jasonmalinowski commented on #593
I'm not sure I follow what the problem is here. Once the project references are correctly specified, is there still a problem?

[2015-02-25 21:01] ViIvanov opened #873 "Non-RDT buffers (Annotate, Compare Files, etc.) do not classify or populate NavBar"
I have a C# project that hosted on GitHub. When I execute for a .cs-file command Annotate from a context menu in a Solution Explorer, Annotate window displayed without coloring:

![gitannotatewithoutcoloring](https://cloud.githubusercontent.com/assets/795200/6380417/8d75715c-bd4a-11e4-8efd-69c091e2e29b.png)

MSVS 2015 CTP 6

(@dpoeschl) Edit: This also occurs in the Compare Files modal window:

![

[2015-02-25 21:05] bbarry commented on #524
@RichiCoder1, @AlexSiepman A method implementation for methods with parameters could do something like this:

    public lazy string FormalName(string first, string last, string title, string suffix) {
        return $"{title} {first} {last} {suffix}";
    }

becomes:

    public string FormalName(string first, string last, string title, string suffix)
    {
        return __value_FormalName.GetOr

[2015-02-25 21:11] tmat commented on #871
Although this is a bug that should be fixed, using arbitrary expressions in debugger display attribute is not recommended. Use a simple identifier or a parameter-less method call. See "Using Expressions in DebuggerDisplay" in article https://msdn.microsoft.com/en-us/library/x810d419.aspx.

[2015-02-25 21:26] ViIvanov commented on #871
Thanks, @tmat, I will use right expressions!

[2015-02-25 21:53] heejaechang commented on #271
non-fatal watson is done. I hope our diagnostic engine v2 work remove the need for delegate completely.

[2015-02-25 21:58] heejaechang commented on #868
I hope we use neither action or func, but just let host explicit set try/catch around the driver and deal with exception whatever way they want.

[2015-02-25 22:31] VladimirReshetnikov commented on #366
I'm OK with the new behavior, but I also believe the spec needs to be clarified. The current wording is

[2015-02-25 22:48] amcasey opened #878 "Don't canonicalize the names of locals declared in the VB Immediate window"
We do so now because DkmInspectionContext.GetObjectTypeNameById is case-sensitive.  Once we have an API for retrieving their names (DevDiv #1129766), we should switch to retaining the user-specified names and doing our own case-insensitive comparisons (as for regular locals).

[2015-02-25 23:55] amcasey commented on #208
@agocke Please verify and label "Verified"

[2015-02-26 01:57] basoundr commented on #872
There are other scenarios that needs to be handled as well when entering Return at `$$`

I would assume the below scenarios get zero indentation and start at the beginning of the new line
1. `var s = $@"$$"` - repro case
2. `var s = $@"There is some text$$"`
3. `var s = $@"There is some text $${variable}"`
4. `var s = $@"There is some text {variable}$$"`

There are some other scenarios where the l

[2015-02-26 02:13] srivatsn commented on #853
@gafter - The API to return compiler diagnostics is still [there](https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Compilation/SemanticModel.cs#L345) and hence this is not a compat issue.

@mkrueger  is asking for a way to get analyzer diagnostics for a single file. AnalyzerDriver is the type that has a way to do this but it is far too complicated with a single golden path

[2015-02-26 02:29] gafter commented on #853
Ah, right, we can trigger the analyzes with this api, but there is no way to get the results of the analyzers before the compilation is done.

[2015-02-26 02:38] paulomorgado commented on #160
@gafter, I think it needs to be one way or the other. And O like @dpaoliello 's suggestion better than @stephentoub 's. And this is where the compiler can bring value over simply using an `Interlocked` method.

If the variable has already been captured, this might be a problem and the user must choose if she want the variable captured or move its value. And it's not hard to work around it.

This:

[2015-02-26 02:58] jasonmalinowski commented on #204
This is now fixed.

[2015-02-26 02:58] #204 closed

[2015-02-26 04:10] dpoeschl opened #885 "Provide a way to recalculate Roslyn's lightbulb state/contents without solution change"
Related to bug #540 (with PR #770 & #983)

For RenameTracking, we will clear the rename tracking diagnostic on Escape and trigger DiagnosticsUpdated, which will trigger SuggestedActionsSourceProvider.OnDiagnosticsUpdated. We need some way to trigger OnDiagnosticsUpdated to refresh its lightbulb state/contents without versioning the solution. One suggestion is to use a null value for DiagnosticsUpd

[2015-02-26 04:15] dpoeschl opened #886 "RenameTracking should be a DocumentDiagnosticAnalyzer"
The RenameTrackingDiagnosticAnalyzer should really be a DocumentDiagnosticAnalyzer instead of a DiagnosticAnalyzer because of the way it breaks out of the expected scope of regular DiagnosticAnalyzers by statically accessing the workspace. Instead of accessing the workspace statically from a regular DiagnosticAnalyzer, we can switch to being a DocumentDiagnosticAnalyzer, and get the workspace from

[2015-02-26 04:15] dpoeschl commented on #886
Tagging @heejaechang in case I've omitted any details.

[2015-02-26 06:01] gafter commented on #160
@paulomorgado Generally when you have two otherwise orthogonal language features, if there is a special rule for when they are used together that is a bad language design smell. So your suggestion that move() and capture are mutually exclusive sounds like a bad idea to me.

This feature was carefully designed to be part of a coherent set of features including #161, for which there is some practica

[2015-02-26 07:08] mavasani opened #887 "Handle exceptions from public abstract methods of LocalizableString"
Following methods of LocalizableString: ToString(formatProvider), Equals and GetHashCode are abstract and can throw exceptions. DiagnosticDescriptor constructor takes localizable arguments for Title, MessageFormat and Description, but these are not converted to string until they are actually consumed by the host to report diagnostics. Hence these exceptions can escape the try/catch around analyzer

[2015-02-26 07:10] mavasani commented on #257
SupportedDiagnostics invocation has now been fixed in the IDE to catch and report exceptions.
The only pending issue in this area is now captured by #887, I am closing this issue.

[2015-02-26 07:10] #257 closed

[2015-02-26 07:51] ManishJayaswal opened #888 "hitting backspace aftertyping "#load " in interactive window causes NRE"
Type "#load " in interactive window ( notice the blank after d) and hit backspace.
expected: blank is deleted
actual: NRE

[2015-02-26 07:53] ManishJayaswal opened #889 "getting history of commands not working in interactive window"
Open interactive window and type some commands. The type alt+up arrow. This should bring up last submitted command. Instead it throws an error.

[2015-02-26 07:55] ManishJayaswal opened #890 "Add Scripting APIs to Roslyn NuGet package"

[2015-02-26 10:29] mkosieradzki commented on #890
This is duplicate to: #708.

[2015-02-26 10:51] khellang commented on #890
:grin::+1:

[2015-02-26 10:59] Mpdreamz opened #892 "Formatter missing options"
This ties into: https://github.com/dotnet/roslyn/issues/202

I would like to request builtin support for CSharpFormatter for the following properties:

**TrimTrailingWhitespace**: this will remove trailing whitespace from lines.
**InsertFinalNewLine**: to ensure a file always ends with a newline
**MaxLineLength**: Controls wrapping of long lines (nice to have)

This will allow the default formatte

[2015-02-26 11:51] Przemyslaw-W opened #893 "CTP6 crash"
VS 2015 CTP6 crashed with unhandled exception:

System.ArgumentNullException
Value cannot be null.
Parameter name: v
   at System.Windows.PresentationSource.CriticalFromVisual(DependencyObject v, Boolean enable2DTo3DTransition)
   at Microsoft.VisualStudio.Language.Intellisense.Implementation.LightBulbQuickInfoPlaceHolder.get_IsMouseOverAggregated()
   at Microsoft.VisualStudio.Language.Intellisen

[2015-02-26 13:26] chrisaut commented on #524
The proposal is that this would return a T, and not a Lazy\<T\>, correct?

Aren't we talking about Caching/Memorization at this point? What part about this is "Lazy"?

To me, lazy implies that while I get "something" back that I can extract the value from, it isn't computed until it is really needed. That is, while a might call method/property x to get a Lazy\<T\>, store that in a local, I may lat

[2015-02-26 14:23] AlexSiepman commented on #524
@chrisaut

Yes.

The implementation is lazy, not the return value. '**cached**' may be a better name for the new modifier the lazy. With "cached" it is clear the return value is not lazy.

@chrisaut : Is 'cached' a better name for the new modifier? I might change/improve the proposal...

[2015-02-26 14:56] DustinCampbell commented on #893
I just saw encountered the same crash on my home machine when hovering over a diagnostic squiggle in the editor. The squiggle was also on a symbol, and there was a little flicker as the editor tried to display two Quick Info tooltips: one for the symbol and one for the diagnostic. And, of course, the diagnostic had a code fix as well, so the editor attempted to display the light bulb next to the t

[2015-02-26 14:57] DustinCampbell commented on #893
I'm applying the "Area-Analyzers" and "Area-IDE" labels, but it could ultimately turn out to be a VS editor bug.

[2015-02-26 15:42] Pilchie commented on #872
For your case 1 (`var s = $@"There is some text {$$StaticClass.memb}"`) we should indent one additional level.

For the case you mention inside the lambda, I think the current behavior is correct.  In general if something isn't the start of a statement then we want it to be indented to show that it's part of the previous line.

[2015-02-26 15:43] dotnetchris commented on #227
Yes yes yes, my god yes.

The billion dollar mistake infuriates me. It's absolutely insane that references allow null by default, since i know c# will never be willing to fix that but this is atleast a viable alternative.

[2015-02-26 15:44] DustinCampbell commented on #893
Dump is in \\mlangfs1\public\dustinca\Dumps\Crash_Issue_893_DustinCa.dmp

[2015-02-26 15:51] chrisaut commented on #524
Yes I think cached would be better.

But I don't think this should be part of the signature at all. To a consumer, the fact that it's cached is kind of irrelevant, this is an implementation detail IMO.

Your proposed solution:
[code]
But this is not much shorter than what you can do with C# already if you just create an ImplicitLazy implementation that just supports implicit operator to T and from

[2015-02-26 15:55] Pilchie commented on #893
This looks like a duplicate of an internal on the VS editor team (1129765).

[2015-02-26 15:55] #893 closed

[2015-02-26 16:45] Pilchie commented on #873
@dpoeschl I believe you already have some bugs about files opened by TFS not being part of the workspace - can you take a look at this as well?

[2015-02-26 16:47] Pilchie commented on #892
For the first two, do you really want options, or do you just want the formatter to always do those things?

For the last, I doubt we would implement that in time for VS2015.  It's actually quite difficult to do a good job at it.  I had it implemented back in 2004 to be included in VS2005, but we cut it because no one was ever happy with the heuristics about how to wrap the lines.

[2015-02-26 16:56] AdamSpeight2008 opened #896 "KnownMonikers?"
[code]

[2015-02-26 17:05] Mpdreamz commented on #892
I really want them to be options (since @editorconfig dictates them to be).

I threw the latter in there as a serious nice to have but fully appreciate its a significant challenge to implement it well.

[2015-02-26 17:10] Pilchie commented on #892
Got it.  I've put this in the unknown milestone with an Up for Grabs label, because I don't think it's something we will spend time working on anytime soon, but if there was a PR to add support then we'd be happy to review.

[2015-02-26 17:10] Pilchie commented on #892
(At least for the first two, if someone seriously wants to implement wrapping, let's  have a discussion about approaches and heuristics first :smiley:)

[2015-02-26 17:15] Mpdreamz commented on #892
Roger I better get my butt in gear to get that PR going and no worries my confidence level does does not extend to implementing wrapping :smile:

[2015-02-26 17:57] marstr commented on #564
I can take a look at this.

[2015-02-26 18:19] agocke opened #898 "All Analyzer entry points need to be audited to make sure that every one is wrapped in a catch-all exception handler"
Analyzer exceptions (even from the analyzer engine) should never propagate exceptions into the compiler  (see #865 for an example) and every entry point into analyer code, including things like hooking assembly load, need to be audited for this.

[2015-02-26 18:38] pharring opened #899 "[Proposal] Add an API for clients to get at assembly metadata without creating a compilation"
Today you have to create a Compilation and add an assembly reference to that before you can get at the metadata.

We have a number of clients who would like to use Roslyn APIs to read metadata from assemblies that aren't necessarily associated with a compilation. They can do it, but it's a bit long-winded.

When doing this, we should ensure that, if the assembly in question is already loaded via s

[2015-02-26 19:04] jaredpar opened #900 "Deadlock getting SemanticModel for BasicResultProvider.CoreSystem.vbproj"
The project file for BasicResultProvider.CoreSystem.vbproj contains the following snippet:

[code]

This effectively causes the same project, BasicResultProvider.vbproj, to be loaded twice when this project file is opened.  The difference between them is they have different settings due to the CoreSystem.Settings.targets import.

MSBuildWorkspace is interpreting this project as having a circular r

[2015-02-26 19:13] KevinH-MS opened #901 "DataTips not available for items with AggregateExpansion (ObjectDisposedException in DkmClrValue.EvalFlags)"
1. Create a C# Console App with the following code:
[code]
2. F5 (hit breakpoint)
3. Open Locals Window (see that "c" exists)
4. Attempt to expand DataTip for "c".

**RESULTS:**
DataTip displays "?"
[code]

[2015-02-26 19:22] mavasani commented on #868
@heejaechang I think that sounds even more dangerous and difficult to track then an explicit catch all in the core ExecuteAndCatchIfThrows method, what if some code new code path needs to invoke into the analyzer but doesn't catch all exceptions or does some custom exception handling?
Having a single point where we callback into the analyzer and wrap it with a try catch and never let exceptions es

[2015-02-26 19:45] heejaechang commented on #868
@mavasani not sure functionality wise, someone calling ExecuteAndCatch ... if func or action given is better than, explicitly putting try/catch around action.

[2015-02-26 19:51] mavasani commented on #868
@heejaechang Current approach of Func is not better as it decides whether or not to catch exception and exception may escape or go unhandled. However, approach of taking in an Action to do some custom host specific work on exception, such as report non-fatal Watson, is better as we will catch exception, invoke this delegate, but won't allow exception to leave the try catch. Seems more maintainable

[2015-02-26 19:57] balajikris opened #903 "Suggestions for Find Refs"
Related to #891, I wanted to open an issue that tracks improvements/suggestions to Find references.

Combined list of suggestions:
1. ~~shorten file paths (@DustinCampbell)~~ https://github.com/dotnet/roslyn/commit/3459653f5ecfc7b353f2391b35fa255bcdb352ed
2. allow filters: filter references (@balajikris)
   - ~~by project.~~ https://github.com/dotnet/roslyn/commit/3459653f5ecfc7b353f2391b35fa255bc

[2015-02-26 20:10] gafter commented on #182
We are tracking this proposal as #357. It does not require CLR/IL support. We would do what Java does (emit bridge methods).

[2015-02-26 20:20] heejaechang commented on #868
@mavasani I am not arguing about that. I am basically saying rather than we provide helper for it. let host (the one that run actions) do that themselves.

- heejae

[2015-02-26 20:26] jaredpar commented on #868
@heejaechang that makes the solution ambiguous.  I cannot look at the code and know that exceptions don't escape into the caller.  Having an `Action` makes this completely obvious at a glance what is happening in this code.  No possibility of accidental regressions, bad uses of the `Func`, etc ...

[2015-02-26 20:36] AlexSiepman commented on #524
@chrisaut and @RichiCoder1: I have update my proposal from 'lazy' to 'cached'. Thanks for your input.

@chrisaut: Your little gist is one of the best options so far, but still does has about the same disadvantages as I described in my proposal.
* The implementation is outside the property, If you go to the implemantation of the property, you don't see the implementation because it is implemented i

[2015-02-26 20:37] heejaechang commented on #868
hmmm if caller (host) decides to let exception escape, what is problem? isn't that host's decision? I understand compiler host doesn't want that to happen. and it is fine for them to catch all. same for IDE however way they decide. but why it shouldn't crash my console app?

[2015-02-26 20:40] AlexSiepman commented on #524
@bbarry : I added your option to the proposal. This way I might ask to much and get nothing at all, but I like your option to much to ignore it...

[2015-02-26 20:47] jasonmalinowski opened #905 "Rename completely breaks reference to backing fields of ReadOnly properties"
*Repro Steps:*

1. Paste in the following code into a project:

    Class C1
        Public ReadOnly Property P As String

        Sub M()
            _P = "asdf"
        End Sub
    End Class

2. Choose rename on P.
3. Don't actually type anything
4. Press enter

*Expected:* nothing happened
*Actual:* the _ was deleted and thus breaks the code

[2015-02-26 21:09] AdamSpeight2008 opened #906 "Dev14CTP5 branch fails to build."
This is recommended as the base branch for pull requests, but it doesn't even build.

See #824

[2015-02-26 21:14] kuhlenh opened #907 "Interactive Design Meeting Notes - 2/25/15"
# Interactive Meeting Notes - 2/25/2015

We met with scriptcs team this morning.

## We discussed our milestones
- Enable scriptcs to opt-in to using the new Roslyn compiler
- Unify scripting (nuget management, language semantics, directives)
- Integrate their interpreter to execute our scripts
- Figure out the debugging scenarios and experiences
## We discussed our vision

Imagine: a script writt

[2015-02-26 21:28] jaredpar commented on #868
@heejaechang the problem is that if any host can let an exception escape then the exception handling has to be built into the compiler.  The compiler is not resistant to exceptions here and we do not want it to be.

What should the compiler do?  Let the exception escape all the way out of the compile process?  If so that means callers of the compiler should also except to handle exceptions?

There

[2015-02-26 21:32] heejaechang commented on #868
@jaredpar no, compiler can use what you guys are talking about. this helper with Action. I am just saying make it host's implementation. but part of API.

[2015-02-26 21:39] ellismg opened #909 "Warning CS0675 fired in Dev12 but not Dev14"
The following code generates CS0675 when built with Dev12, but doesn't on Dev14 (I think I am using the Dev14 CPT 5 build.  The build number is 14.0.22512.0 DP).

[code]

I'm not sure if this is a regression or by design change.

[2015-02-26 21:43] jaredpar commented on #868
@heejaechang I am fine with the API taking an `Action` to be applied to the `when` block.  So long as the catch is unconditional my concerns are molified.

[2015-02-26 21:56] heejaechang opened #910 "Dynamically turn on and off esent"
esent is there for scalibility. but small solution doesn't actually need esent and we could hold all information in memory without worrying too much about VM.

create some mechanism to track those and dynamically turn on or off esent.

[2015-02-26 21:59] brettfo commented on #821
Assigning to Aleksey to resolve once the other loc bugs are fixed (#818, #819, #820)

[2015-02-26 22:07] #717 closed

[2015-02-26 22:08] tmeschter commented on #910
What is the advantage to turning it off?

[2015-02-26 22:09] #719 closed

[2015-02-26 22:15] #900 closed

[2015-02-26 22:18] agocke opened #912 "Remove all Assembly load from the compilers"
Currently the analyzers use specialized assembly load logic (AnalyzerFileReference) for certain assembly references. This is not compatible with CoreCLR and needs to be removed.

[2015-02-26 22:20] agocke opened #913 "Remove MetadataCache"
Incompatible with CoreCLR (http://source.roslyn.io/Microsoft.CodeAnalysis.Desktop/R/2de39448d0953b04.html). Looks like it's not used anyway.

[2015-02-26 22:21] ilmax opened #914 "VS2015 CTP6 + Roslyn Analyzer Issues"
Hi, I'm trying to create a custom analyzer but I'm facing some issues.
I'm following instruction found in post [1](https://msdn.microsoft.com/en-us/magazine/dn879356.aspx) and [2](https://msdn.microsoft.com/en-us/magazine/dn904670.aspx) to get started so I downloaded the VS2015 SDK from [here](http://www.visualstudio.com/en-us/downloads/visual-studio-2015-downloads-vs.aspx) and the SDK templates f

[2015-02-26 22:23] agocke opened #915 "Remove binary serialization from the compiler"
This is all Serializable types. Incompatible with CoreCLR. Currently the only use is CodeLens.

[2015-02-26 22:25] #839 closed

[2015-02-26 22:28] glennblock commented on #907
We're very excited about this collaboration, thanks for reaching out!

[2015-02-26 22:35] ManishJayaswal commented on #611
@AdamSpeight2008 looks like this issue is resolved so closing this out

[2015-02-26 22:35] #611 closed

[2015-02-26 22:49] heejaechang commented on #910
Esent has its own cache, which is about 40-50MB native memory. If solution size is not big enough, just caching in memory will be smaller than the cache.

-          heejae

From: Tom Meschter [mailto:notifications@github.com]
Sent: Thursday, February 26, 2015 2:09 PM
To: dotnet/roslyn
Cc: HeeJae Chang
Subject: Re: [roslyn] Dynamically turn on and off esent (#910)

What is the advantage to turning

[2015-02-26 23:12] tmeschter commented on #896
@AdamSpeight2008 Could you provide some context on this issue? What solution are you trying to open?

[2015-02-26 23:16] srivatsn commented on #898
#865, #868 and #887 are basically all the entry points from the compiler. However, it will be good to get another pair of eyes on it. Assigning to @tmeschter

[2015-02-26 23:50] tmat opened #919 "VS unresponsive, eating 100% CPU during rename"
With dogfood build 226.4.

Dumps and ETL traces %internal_share%\tomat\919

[2015-02-26 23:51] gafter commented on #564
@marstr That would be awesome!

[2015-02-26 23:57] gafter commented on #227
The "billion dollar mistake" was having a type system with null at all. This would not fix that, it just makes it slightly less painful.

[2015-02-27 00:03] #409 closed

[2015-02-27 00:13] dotnetchris commented on #227
@gafter what I want most is for C# to drop nulls entirely unless a reference is specifically marked nullable, but i know that will never happen

[2015-02-27 00:33] kasajian commented on #907
If you remove the variable of what is feasible, and focus solely on end-user experience, the workflow that's ideal is something like this:

I see a .csx file on the disk.  I can edit it.  Run it from the command line., etc.   Just like scriptcs does today.   However, in addition to that, I want to be able to pen the .csx file from within Visual Studio and image it behaving as if I just opened a so

[2015-02-27 00:36] glennblock commented on #907
@kasajian we also have this approach which works for debugging: https://github.com/scriptcs/scriptcs/wiki/Debugging-a-script

Today it doesn't get full intellisense etc, but it "could". It would also be nice as WebMatrix has to just be able to point to a folder and open it without needing any sln or anything.

[2015-02-27 00:38] VladimirReshetnikov opened #920 "Constants of types float, double, decimal in error messages should be represented using valid C#/VB literals, regardless of the current culture."
For example, see test `Microsoft.CodeAnalysis.CSharp.UnitTests.SemanticErrorTests.CS0030ERR_NoExplicitConv02`.

The value `double.PositiveInfinity` should be represented in the error message as `double.PositiveInfinity` rather than culture-specific string `Infinity` or `∞`.

[2015-02-27 00:57] gafter commented on #227
@dotnetchris There is no way to shoehorn that into the existing IL or C# semantics.

[2015-02-27 01:15] #901 closed

[2015-02-27 01:16] kasajian commented on #907
Thank you.  I did reference that.  Debugging in the way you describe works good.   But it isn't just debugging.  It's really a hybrid that I'm looking for.  I want all the benefits of scriptcs but with the option of not giving up any if the benefits for visual studio.

I'll set it up.  I was more curious if anyone else has attempted to share source between scriptcs and visual studio.

Kenneth Kasa

[2015-02-27 01:44] glennblock commented on #907
Well you can edit the scripts in VS as well, which is why I mentioned it. I
don't think refactoring will work though.

I am not aware of anyone doing this, but does not mean they are not.  The
one challenge with what you are describing though is namespaces. If you
want your scripts to work between both, then you cannot have namespaces in
the classes as those are not supported in script as Roslyn w

[2015-02-27 01:46] gafter commented on #864
This issue was recommended by @AlekseyTs in #799

[2015-02-27 01:55] AdamSpeight2008 commented on #896
Same as in #611 (VS205ctp6)

[2015-02-27 02:11] #366 closed

[2015-02-27 02:18] gafter commented on #377
I'm licking this cookie.

[2015-02-27 02:59] kasajian commented on #907
glenn, thanks.   Now that you mention it, I remember reading about that.   You're right.   Namespaces will need to be avoided.

If anything else comes to mind, let me know.

[2015-02-27 03:04] Pilchie commented on #907
We talked a lot about namespaces in the meeting described by Issue #122.  As mentioned in the NOTE under `#load`, we considered having `#load` of a .cs file (not a .csx file) switch to using CS semantics, though there were some technical issues with that.

We didn't feel that it was something we needed on day one, but it was definitely attractive for the reasons you mention.

[2015-02-27 03:46] glennblock commented on #907
@Pilchie `#load` as you are describing to allow reusing standard .cs files from a script does sound useful. I agree it is not needed for day one.

@kasajian are you asking for full IDE support for scripts? meaning intellisense, refactoring etc for csx files?

[2015-02-27 03:49] Pilchie commented on #907
@glennblock well I definitely want full IDE support for scripts.  Why wouldn't you?

[2015-02-27 03:52] kasajian commented on #907
Kevin, thanks for the response.

"Asking for" isn't how I would put it.   I was describing what I believed
to be the utopian view of what I would want.  I am not actually making a
feature request.   What I'm asking is, for someone who wants to have the
luxury of C# script with no build-step, like with scriptcs, but have all of
the advantages of Visual Studio, what process would they follow?  I bel

[2015-02-27 04:28] gafter opened #926 "Produce PDBs with deterministic GUIDs"
When compiling with debug enabled, both the C# and VB compilers produce PDB files, and reference the PDB's GUID in the main assembly. But our current mechanism for producing PDBs generate random GUIDs, which results in a different compiler output each time the compiler is run. Because we'd like the compiler to be deterministic, the GUID in the PDB should only vary when needed (e.g. when the source

[2015-02-27 04:36] gafter commented on #377
Recommendation:

1. Fix the normal (non expression-tree) case.
2. Make sure the expression-tree case works the same as today (broken for Nothing).
3. File a new issue about getting the expression-tree case to behave the same as the normal case.

[2015-02-27 04:41] madstt commented on #907
:+1:

[2015-02-27 04:44] gafter commented on #909
Labeling "Compatibility" as it would be hard to add this warning back after we release a compiler that does not detect it.

[2015-02-27 08:19] glennblock commented on #907
@Pilchie I want that without a doubt! :-)

[2015-02-27 10:42] HaloFour commented on #227
I think there is value in stepping back and watching the Swift and Obj-C communities battle it out over this issue.  Apparently despite the slick appearance of optionals in Swift it creates a number of severe nuisance scenarios, particularly in writing the initialization of a class:

[Swift Initialization and the Pain of Optionals](http://www.scottlogic.com/blog/2014/11/20/swift-initialisation.htm

[2015-02-27 11:25] mavasani commented on #592
Should be fixed with #911

[2015-02-27 11:25] #592 closed

[2015-02-27 11:37] filipw commented on #907
@Pilchie on the editor front and overall authoring experience, we are also involved in the omnisharp-roslyn effort to introduce scriptcs support there - as a 3rd project system (MSBuild, ASP.NET 5, scriptcs)

[2015-02-27 11:44] mavasani commented on #813
This should be fixed with #831

[2015-02-27 11:44] #813 closed

[2015-02-27 11:56] romanov opened #928 "OpenSourceDebugPackage did not load correctly"
Hello.

1. I've installed VS2015 on Windows 10 (Hyper-V)
2. Installed SDK
3. Cloned repo
4. Made some changes in Microsoft.CodeAnalysis.CSharp
5. Builded everything
6. Ran OpenSourceDebugPackage

No effect inside it and:
![error1](https://cloud.githubusercontent.com/assets/644179/6412065/43f7504e-be90-11e4-86e0-08ac6b23919f.png)

Thank you for any help.

[2015-02-27 13:18] provegard opened #931 "An assembly must have a 'dll' extension in order to be used as an analyzer"
I installed Visual Studio 2015 Preview, then ran `Install-Package Microsoft.CodeAnalysis -Pre` in the Package Manager console. While the output says "Successfully installed 'Microsoft.CodeAnalysis 1.0.0-rc1'", I also got the following:

[code]

[2015-02-27 13:24] provegard commented on #931
With Visual Studio 2013, I get these error instead:

[code]

[2015-02-27 13:40] provegard opened #932 "MetadataFileReference is internal"
I'm trying to follow `csharp-semantic.pdf` under docs/samples. When I add this code:

[code]

I get a compilation error because MetadataFileReference is an internal type.

[2015-02-27 13:47] provegard commented on #932
Got it to work using `MetadataReference.CreateFromAssembly(typeof (object).Assembly)`, so I suppose the sample doc should be updated.

[2015-02-27 15:13] dotnetchris commented on #227
@HaloFour checked exceptions was the only positive statement I ever have to say about Java, other than ICloneable actually being you know, cloning.

[2015-02-27 15:38] Pilchie commented on #932
Yes, this is deliberately exposed through the factory methods now.  There are (unfortunately) a lot of things that need to be updated in that document.

[2015-02-27 15:39] Pilchie commented on #928
@KevinRansom or @jaredpar care to take a look?

[2015-02-27 15:41] Pilchie commented on #903
Let's use this to track feedback on the new design as people get to use it and see what we want to try and pull in for RTM.

[2015-02-27 15:43] Pilchie commented on #919
Can you take a look?

[2015-02-27 17:13] jaredpar opened #934 "Bug in TryApplyChanges causes it to rewrite all line endings"
The bottom of this issue has a complete code snippet that demonstrates the problem.  It's as minimal as I could make it but in summary it does the following:

- Opens up the CodeAnalysis project.
- Defines a symbol that isn't used anywhere in the code in the parse options.
- Runs the formatter on every file.
- Undefines the symbol.
- Applies the changes.

The apply changes portion will cause every

[2015-02-27 17:17] jaredpar commented on #931
Thanks for reporting this issue!

The errors in the second portion is a known issue tracked by #639.  I'm not familiar with the first set of errors though and will leave this open in case it represents a different issue we need to fix.

[2015-02-27 17:18] jaredpar commented on #926
CC @jaredpar

[2015-02-27 17:21] Pilchie opened #935 "Add Using should work for extension methods even if other methods are in scope."
Consider a programming referencing Roslyn binaries:

[code]

Place cursor on the line with the call to `NormalizeWhitespace()`.

*Result*
No lightbulb suggesting to add `using Microsoft.CodeAnalysis;`

*Expected*
There should be.

*Note*
This is happening because the `using Microsoft.CodeAnalysis.CSharp;` is pulling in another extension method named `NormalizeWhitespace()` which doesn't apply to t

[2015-02-27 17:42] dpoeschl commented on #935
See related internal TFS item #772321 that fixed a couple similar cases.

[2015-02-27 17:44] balajikris opened #936 "Introduce constants not available for auto prop initializer"
Ported from TFS WorkItem: **1130497**
<br>originally filed by @jeremymeng

------------------------------

**Repro Steps:**

<br> 1. paste the following code into a C# class<div><br></div><div>int prop4 { get; } = 1 + 2 + 3;</div><div><br></div><div>2. select 1 + 2 + 3</div><div>3. ctrl+[dot]</div><div><br></div><div><div>**Expected**:</div><div><br></div><div>options to generate constants in clas

[2015-02-27 17:47] balajikris opened #937 "Incorrect selection expansion for Extract Method when selecting inside null propagation"
Ported from TFS WorkItem: **1130473**
<br> originally filed by @jeremymeng

------------------------------

**Repro Steps:**

<br> 1. paste the following code into a C# code file<div><br></div><div><div>class C</div><div>{</div><div>&nbsp; &nbsp; void M()</div><div>&nbsp; &nbsp; {</div><div>&nbsp; &nbsp; &nbsp; &nbsp; (new C())?.ToString(); &nbsp;// A</div><div><br></div><div>&nbsp; &nbsp; &nbsp;

[2015-02-27 17:55] RichiCoder1 commented on #907
I'm also very interesting in this as I use cake-build/cake, and I know they'd benefit from a powerful IDE experience for scripts, as well as an exstensible model for script context and directives.

[2015-02-27 18:06] tmeschter commented on #931
@jaredpar I don't think you mean issue #639.

@jmarolf Is this fallout from us simply attempting to add everything in the directory as an analyzer?

[2015-02-27 18:12] jaredpar commented on #931
@tmeschter correct.  I meant #629.

Another reminder that I shouldn't communicate with people until I've finished my first cup of coffee :frowning:

[2015-02-27 18:21] srivatsn commented on #931
@jmarolf is aware of this and is fixing it already. While enumerating the files a -File is missing in the script and so it's trying to add the directory as an analyzer. When the script was written this error wasn't being thrown and hence wasn't caught.

[2015-02-27 18:31] gafter commented on #926
@VladimirReshetnikov pointed me to the possibly relevant http://stackoverflow.com/questions/17799013/what-do-directory-names-like-d0c3bddd4add4e87b2b5e803303b8d772-in-visual-studio/17799377#17799377

[2015-02-27 18:32] basoundr opened #939 "Dont Format inside Array Initializers"
Repro code:
[code]

The above code on format should remain the same but we are giving this
[code]

It seems the array element if preceded by a comment gets formatted. This should not happen.

[2015-02-27 18:32] gafter commented on #926
CC @kirill

[2015-02-27 18:32] gafter commented on #926
CC @KirillOsenkov

[2015-02-27 18:34] rchande commented on #715
Can you verify this @VladimirReshetnikov ?

[2015-02-27 18:45] dpoeschl opened #940 "Remove trailing space after <enter> between arguments (etc.)"
Inspired by all of the trailing spaces that were removed by the CodeFormatter in #933
1. Paste C#:

[code]
1. Place the caret before `"Cat"` and press enter

**Expected**: The "Cat" argument is moved to the next line and the previous line's trailing space is removed.
**Actual**: The trailing space is left on the previous line.

Dev12 had the same behavior, so this is _not_ a regression.

[2015-02-27 18:58] gafter commented on #360
The table in question in the code is the following in `MetadataHeapsBuilder`:

[code]

[2015-02-27 18:59] AlekseyTs commented on #40
Verified

[2015-02-27 19:23] AlekseyTs commented on #543
Verified

[2015-02-27 19:32] AlekseyTs commented on #511
Verified

[2015-02-27 19:36] AlekseyTs commented on #651
Dependency on Internal.DynamicDelegate.Augments has been removed. Expression compiler is brought back.

[2015-02-27 19:36] AlekseyTs commented on #652
Dependency on Internal.DynamicDelegate.Augments has been removed.

[2015-02-27 20:02] AdamSpeight2008 opened #943 "(Pref?) A Rolling Cache."
Could the Scanner benefit from a "rolling cache" to speed up the looking up characters?

[code]

It could help in the situations where the scanner checks against the same index,
I've choose a size of 8 characters as that (as far as I can tell) is the most that is peek at.

eg [here](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Scanner/ScannerXml.vb#L127)

[2015-02-27 20:48] gafter commented on #344
@jaredpar Can you please verify that the documents described are now in the Roslyn repository, and then mark this issue as "Verified"?

[2015-02-27 21:06] rchande commented on #700
I can't reproduce this. I reset VS to the default C# settings and looked at the radio buttons, both of which have some selection. Can you take a look?

[2015-02-27 21:07] #700 closed

[2015-02-27 21:15] gafter commented on #360
As far as I can tell, the code already handles making these user strings deterministic via a method `ResolveStringTokenFromPseudoStringToken` which produces the indices in the order in which they are first referenced in the code as it is placed in the IL output.

@tmat Can you please look at this to confirm my understanding is correct?

[2015-02-27 22:18] amcasey opened #946 "No locals are shown when debugging the VB EE"
The VB ResultProvider defines its own copy of EditorBrowsableAttribute so that it won't have to take a dependency on System.dll.  As a result, when you are debugging a process that has the ResultProvider loaded, there will almost certainly be two copies of EditorBrowsableAttribute.

In VB, the assemblies that the expression compiler returns to the debugger include Microsoft.VisualBasic.Embedded, w

[2015-02-27 22:22] amcasey commented on #946
Possible mitigations:
1. The only reason the ResultProvider defines its own EditorBrowsableAttribute is to satisfy the generated Resources.Designer.cs.  If we could remove that dependency, we could remove the second definition.
2. I'm not aware of a reason we need to emit Microsoft.VisualBasic.Embedded in every assembly produced by the expression compiler.  If we didn't need to do that, we wouldn'

[2015-02-27 22:33] shyamnamboodiripad commented on #903
I think adding search would be extremely useful. For example, I am currently working on some changes to the Simplifier API and I often find myself triggering find all references for 'Simplifier.Annotation'. There are ~180 references for this annotation in Roslyn.sln. But I always know which references I am looking for (for example, sometimes I only want to see references that are inside any of the

[2015-02-27 22:48] AdamSpeight2008 opened #947 "(Proposal) Unification of the internals of TryScanToken and ScanTokenFullWidth"
This proposal is based from a comment in Scanner.vb ( [source](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb#L1209) )
`  ' REVIEW: Is there a better way to reuse this logic? `
I think this is because the methods `TryScanToken` and `ScanTokenFullWidth` look extremely similar in terms of internal implementations.

**TryScanToken** ( [source](https

[2015-02-27 23:23] gafter commented on #223
I see there is also a skipped test `AnonymousDelegates` which I will investigate to see if it is the same issue.

[2015-02-27 23:24] amcasey commented on #946
Microsoft.VisualBasic.Embedded is included when all of the following are available: System.Linq.Enumerable, System.Xml.Linq.XElement, System.Xml.Linq.XName, System.Xml.Linq.XAttribute, System.Xml.Linq.XNamespace.  (See VisualBasicCompilation.IncludeInternalXmlHelper.)

[2015-02-27 23:50] agocke commented on #223
jenkins retest this please

[2015-02-27 23:50] glennblock commented on #907
:+1: @filipw!

[2015-02-28 00:25] gafter commented on #360
I sat down and looked at this code with @tmat, and we believe it is deterministic.

If someone discovers otherwise, please PLEASE let us know. Based on our investigation I'm closing this.

[2015-02-28 00:25] #360 closed

[2015-02-28 00:26] amcasey commented on #946
@AnthonyDGreen suggested never including the embedded trees in expression compiler-produced assemblies.  That sounds reasonable and will solve the immediate problem.

[2015-02-28 00:27] #223 closed

[2015-02-28 00:28] gafter commented on #223
@agocke can you please verify?

[2015-02-28 00:42] gafter opened #949 "PDB format and caller file name arguments include full path names in compiler output"
Because the PDB file format includes the full path name of source files, the Roslyn C# and VB compilers will produce different output when the paths are different from one compilation to another. In particular, in a cloud build environment the build output might not be deterministic from one build machine to another.

Related to this, the caller file name attribute encodes the full path name. That

[2015-02-28 01:00] gafter commented on #947
I don't know what to do with this issue. @AdamSpeight2008 tried a refactoring and failed. Now what?

[2015-02-28 01:01] gafter commented on #943
@AdamSpeight2008 What is the performance impact of your change? Does is pass the build-and-test?

[2015-02-28 01:13] AdamSpeight2008 commented on #947
@gafter I consider it more of a proposal than a issue. The general premise is that it is potentially possible to unify those two methods.

Unfortunately in this current implementation (of mine) there is an issue. It may inspire someone to do a better *(working)* implementation.

[2015-02-28 01:16] AdamSpeight2008 commented on #943
@gafter Don't know yet, as I currently don't have a working installation of VS

[2015-02-28 01:18] AdamSpeight2008 commented on #943
There is some potential gains as the scanner doesn't need to do multiple lookups of the same indexed / offset character.

[2015-02-28 01:53] #868 closed

[2015-02-28 02:41] mavasani opened #950 "Seal DiagnosticAnalyzer.Equals, GetHashCode and ToString"
We use analyzers as keys for various maps.

[2015-02-28 03:00] mavasani commented on #950
@heejaechang for your recent change where you invoke Analyzer.GetHashCode, can you instead use GetUniqueId extension in Features layer? That should work right? I am not sure what GetHashCode override on DiagnosticAnalyzer should return.

[2015-02-28 03:44] ufcpp commented on #949
I'd like also the #line directive to have the same option, especially for T4 template. T4 generates a full path #line directive.

[2015-02-28 07:46] mikedn commented on #943
But it's not like those lookups involve database or web service calls, the characters are simply retrieved from a character array. What makes you think that a cache that uses linear search will provide any gains over directly accessing the required char element?

Large look ahead cases like the one you link to would probably be better served by something like `PeekAheadString(3, "CDATA[")`, a sing

[2015-02-28 07:54] heejaechang commented on #950
Return ReferenceEqualityComparer.Instance.GetHashCode(this); and Equals do same.

-          heejae

From: Manish Vasani [mailto:notifications@github.com]
Sent: Friday, February 27, 2015 7:01 PM
To: dotnet/roslyn
Cc: HeeJae Chang
Subject: Re: [roslyn] Seal DiagnosticAnalyzer.Equals, GetHashCode and ToString (#950)

@heejaechang<https://github.com/heejaechang> for your recent change where you invok

[2015-02-28 08:07] heejaechang commented on #138
this should have been fixed.

[2015-02-28 08:29] heejaechang commented on #138
commit SHA: de6406023b41cd481bcc9297ef887e3ddf8aaba3

[2015-02-28 08:29] #138 closed

[2015-02-28 08:32] heejaechang commented on #349
re-enabled. commit - 933230866cb2c90e14db5e7e60a5bc0c1e11eaba

[2015-02-28 08:32] #349 closed

[2015-02-28 14:36] XuTpuK commented on #132
I met similar problem and I think problem of this verbosity is "braces conception". Somewhere (like in "if {}" braces make REAL block, which wraps local piece of functionality. But in case of "try {}" these braces just mark portion of operators (in the same scope!) which should be "guarded". But language architectors doesn't bother with that and declare ANY braces as a "block". Probably something

[2015-02-28 14:55] XuTpuK opened #951 "[Proposal]: borrow Pascal's "with" operator"
It's unnecessary to say how it reduces code when many fields should be initialized!

    with (var ClickedColumnInSecondGrid = GetColumn()) {
        .Width = 100;
        .OnWidthChanged += Action;
    }

Note that opposite to automatic property initializer, here we can assign event handlers too!
And of course multiple objects can be "with"-ed:

    with (config, window) {
        .Width = .MainW

[2015-02-28 15:53] Joe4evr commented on #951
1) I think VB already has this, at least in large part, so this would at least provide some more feature parity.
2) You can't assign event handlers in object initializers? Never tried that before, so I didn't know.
3) In your second example, how is it determined which property belongs to which object?

[2015-02-28 17:14] srivatsn commented on #156
I don't think we would want to put this in the compiler given the analyzer extensibility mechanism is well suited to do exactly this kind of analysis.

[2015-02-28 17:14] #156 closed

[2015-02-28 17:15] #521 closed

[2015-02-28 17:19] markrendle opened #952 "[Proposal] Allow otherwise unresolvable simple names to resolve to an enum member of the target type"
There are probably dozens of reasons why this wouldn't work, but I was just looking at an API with a method `ListContainers(bool)` (it was in Go) and thinking about enums being better than Boolean flags, when it occurred to me that in .NET, expressing enums can be verbose.

In cases where the type can be determined from argument, property or field type, why does one have to type the enum name? Wou

[2015-02-28 17:47] gafter commented on #943
Closing for now, as we have no plans to act on it. If you have evidence that this works, passes tests, and has some benefit, please reopen and submit a pull request.

[2015-02-28 17:47] #943 closed

[2015-02-28 18:53] mkosieradzki commented on #951
I generally don't like introducing features encouraging nasty (imperative ;) ) programming style. I don't think that any state alteration should be made easier in C#, but that's mine point of view.

For me It's perfectly ok that there are tons of initialization helpers which give strong preference towards functional style and there are no helpers like this for imperative code (state alteration MUS

[2015-02-28 23:24] ashmind commented on #952
This is something I wanted for a while (one way or another), but wouldn't static imports cover most of the use cases? Sure they aren't as neat since you need an import, but they do not need any other new features to be added.

[2015-02-28 23:29] XuTpuK commented on #951
@Joe4evr  Easy as 123 - by uniqueness of column names. And if _used_ names are equal, you have to specify which object you access.

[2015-02-28 23:30] ashmind commented on #173
Why? Let's say you write `X(() => y)`, and you have a set of static imports. Wouldn't the resolution here be just as complex as in `(() => x).X()`?

[2015-02-28 23:31] XuTpuK commented on #951
@mkosieradzki If you like "functional" style, what are you doing in C#? Use power of F# before you loose your power on USELESS comments.

[2015-03-01 00:13] ashmind opened #953 "[Proposal] Allow generic attributes"
#### Problem

For some attributes (e.g. `TypeConverterAttribute`) that are used to reference types, the current usage looks like this:

[code]

This has two disadvantages:
1. You can't guarantee that the type matches the requirements of the attribute -- e.g. has an empty constructor or inherits `TypeConverter`.
2. The syntax is a bit verbose.
#### Suggestion

I suggest that the generic attributes

[2015-03-01 00:26] ashmind commented on #14
There seem to be quite a few different proposals here at the same time.
The case I am most interested in is `var x = (Y y) => y;`, whether through `Action`/`Func` or static method -- inner functions seem like a whole new complexity to replace minor inconsistency.

As for the conversion, item 4 in #420 should cover it.

[2015-03-01 00:34] ashmind commented on #351
@HaloFour Some attributes seem redundant:

Attribute            | Equvalent
---------------------|-------------------------------------
[CallerTypeName]     | CallerMethod.ReflectedType.Name
[CallerNamespace]    | CallerMethod.ReflectedType.Namespace
[CallerFullTypeName] | CallerMethod.ReflectedType.FullName
[CallerType]         | CallerMethod.ReflectedType

[2015-03-01 02:31] AdamSpeight2008 opened #954 "(Proposal) Make Multiple PeekAheadChar( ) Comparisions simpler"
In the [scanner](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb#L1495) there are multiple occasions where we compare the results of multipe calls to `PeekAheadChar` against the characters of a desired sequence of characters. In essences do the following character match this string.
**Example**
[code]
It would make the code much simpler if this wa

[2015-03-01 03:04] AdamSpeight2008 commented on #954
**Implementation 2**
This implementation uses recursion.
[code]

[2015-03-01 05:02] gafter commented on #864
Removing milestone so it can be prioritized in triage.

[2015-03-01 05:07] gafter commented on #954
@AdamSpeight2008 What is the performance impact of your suggested change?

[2015-03-01 05:09] gafter commented on #953
3 and 4 are not pros, nor are they cons. 2 is marginal. 1 is the only justification that makes enough sense to consider it as a language feature. Do you have any use cases?

[2015-03-01 05:11] gafter commented on #952
@markrendle This already works with static import, and there is at least one source file in the Roslyn compiler that uses it extensively.

[2015-03-01 06:28] AdamSpeight2008 opened #955 "[Concept] Method Overloads with Specific Arguments."
This concept is to allow to the programmer to write method overloads that have specific argument values, that is invoked in favour of the less specific method.
It think it be easier to see the idea of the concept with some examples.

Let's start with a simple example. **Fibonacci**
[code]

If the method `Fib` is invoked with the argument `0` , then the first overload is used.
If the method `Fib` i

[2015-03-01 07:31] ashmind commented on #953
To me 3 is important -- I don't see a reason why CS0698 exists in the first place, and removal of special cases should make language easier to learn and understand (especially since actual implementation can be done outside of the Roslyn team now).

I agree on 2 and 4.

Example attributes that could benefit from this (e.g. by defining a generic attribute subclass for old cases, and by defining the

[2015-03-01 08:38] mikedn commented on #954
Are you quoting me as an answer to the performance impact question? How so, I didn't make any definite statements about performance impact, I said "probably".

Besides, in my comment I specifically mentioned the large number of calls required by that code. Your proposed implementation doesn't do anything to address that, you still have 7 calls and on top of those you have additional code that wasn

[2015-03-01 11:40] AdamSpeight2008 commented on #954
@mikedn

If `Array` had a method that allowed you compare a sub-section of an array with another array.
[code]
Then that 7+ calls could a lot smaller.

-----
That recursive function you just dismiss of hand.
It is tail-recursive so can easily be expanded *(by the compiler)* then simplified.
Since it has relatively simple known bounds.
[code]
Expanded *(parenthesis likely unbalanced.)*
[code]
Simpl

[2015-03-01 11:59] svick commented on #955
In functional languages that have a similar feature, like F# and Haskell, it's just shorthand for pattern matching (proposed for C# in #206). Should this feature be the same? E.g. allowing code like:

[code]

If I understand the proposal correctly, it's basically just more succinct way to write a `switch`, where every case returns. E.g.:

[code]

Wouldn't it be more useful to create a shorthand fo

[2015-03-01 12:10] AdamSpeight2008 commented on #955
@svick I was thinking more along the lines of your first example. See [Magpie](http://magpie-lang.org/)

[2015-03-01 12:28] mynkow opened #956 "Package for Microsoft.CodeAnalysis.CSharp.EditorFeatures.Text"
Is there any nuget package for Microsoft.CodeAnalysis.CSharp.EditorFeatures.Text.dll?

I am trying to access http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures.Text/Extensions.cs

[2015-03-01 12:42] jogibear9988 opened #957 "Sharpdevelop XAMl Designer Sample no longer works when compiled with Roslyn"
SD XamlDesigner Sample does not longer work when compiled with roslyn.

Exception:  The Ressource "icsharpcode.wpfdesign.designer;v5.1.0.4987;themes/icsharpcode.wpfdesign.designer;v5.1.0.4987;component/controls/controlstyles.xaml" could not be loaded.

The problam is it uses the Version in the XAML load string: {ICSharpCode.WpfDesign.Designer;v5.1.0.4987;component/Controls/ControlStyles.xaml}, wic

[2015-03-01 14:19] kreig commented on #637
It would be extremely useful. Please consider adding of this functionality.

[2015-03-01 17:02] pharring commented on #954
@AdamSpeight2008 Thanks for the suggestion. We welcome suggestions from anyone whether experienced or novice.

I like the NextAre/PeekAheadString idea and I agree that it would simplify plenty of callsites in the VB scanner. Performance aside, it's easier to read, easier to comprehend and easier to check for correctness, so it scores well for code maintenance.
Performance-wise, in most places it's

[2015-03-01 17:23] AdamSpeight2008 commented on #954
@pharring Does the VB compiler have to be strictly 100% VB?
If not we could use C#'s unsafe
[code]

For performance it may require additional support from the underlying platform. Eg some native implementation.

[2015-03-01 17:50] romanov commented on #928
Same story on Windows 8.1 x64

[2015-03-01 17:55] pharring commented on #954
The VB compiler can, and does, call into helper methods in the core compiler assembly. Frankly, though, I wouldn't reach for unsafe for this routine unless I had performance data to show it was a bottleneck.
This inner loop is likely to be just as fast for short strings:

[code]

[2015-03-01 19:32] XuTpuK opened #959 "[Proposal] make 'switch' more real-life usable"
'switch' operator was blindly copied from C/Java, but 1) by some strange reason lost ability to fall from one branch to another 2) still unusable like in original languages

What is "nature" of 'switch'? SWITCH code branches, running exactly one of 'em! So if I declare branch "case 1: do_that", why the hell I should worry about all that "break"s, "fall through" and so on?!

Switch should BE the sw

[2015-03-01 19:49] gafter commented on #959
@XuTpuK Are you suggesting that we should make the "break" optional?

[2015-03-01 21:04] jogibear9988 commented on #957
Code: https://github.com/icsharpcode/SharpDevelop/tree/master/samples/XamlDesigner

[2015-03-01 22:48] sharwell commented on #959
@XuTpuK The issue of fall-through came up in another discussion; [my comment there](https://github.com/dotnet/roslyn/issues/168#issuecomment-72131789) gives an example of the current C# syntax for fall-through.

My interpretation of the overall request is the same as @gafter (a request to make `break;` optional). Can you confirm that we understood you correctly?

For background, you may also be in

[2015-03-01 23:24] sharwell commented on #953
This is actually a limitation with the IL. While the attribute type itself can be declared as a generic type, the use of an attribute is expressed as a row in the CustomAttribute table (ECMA-335 §II.22.10). This table represents the "type" of the attribute as a reference to the constructor. Unfortunately (for this request), this property only supports a "MethodDef" or "MemberRef" index. The former

[2015-03-01 23:29] sharwell commented on #953
Ignore my previous comment (now deleted). The generic type arguments for a generic attribute type can be encoded in the MemberRef metadata table, by representing the "Class" field as a TypeSpec.

[2015-03-02 02:47] XuTpuK commented on #959
@sharwell I don't think "break" is needed at all - that's the point! EVERY "case" should be implicitly finished with jump to the end of "switch".
I read what Eric said, but he just juggle with useless terminology, giving no any reason why the hell we deal with "break" at all! Nobody cares is it "statement list" or "code branch", we care only about ONE thing: one of many branch should run. Period.

[2015-03-02 02:56] gafter commented on #959
@XuTpuK Just to make sure I understand, you'd prefer that if a programmer writes

[code]

Then this should print `two` when `i == 2`, and not print anything when `i == 1`. Is that correct?

[2015-03-02 03:22] gafter opened #961 "Bad diagnostic when conversion from double to int? overflows"
The following program gives the error `Cannot convert type 'double' to 'int?'`

[code]

But in fact you *can* convert a value of type `double` to `int?`. The problem in this case is that the conversion overflows, which requires an error. But this error message is misleading.

[2015-03-02 03:29] gafter commented on #262
See also https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/2557231-enums-constraint-for-generics

[2015-03-02 03:52] Melab commented on #844
Does the Express version work with it?

[2015-03-02 04:15] pharring commented on #825
@VSadov do you want to take a look at the code generation issue?

[2015-03-02 07:47] ibrahimbensalah commented on #959
i need a downvote here ;P

[2015-03-02 08:33] ibrahimbensalah opened #962 "[Proposal] method overloading with respect to generic type constraints"
I find it hard to create fluent builder classes for hierarchical classes. As an alternative I find it easy to write builder extension methods, Consider the following example

[code]

Now we can write fluent build statements for A
[code]

And we can write the same for B
[code]

Unfortunately, there is a problem. If we want to add yet another Init builder extension for a different class, say class C

[2015-03-02 08:44] Przemyslaw-W commented on #953
Glad I'm not the only one. https://roslyn.codeplex.com/discussions/542178

2015-03-02 0:29 GMT+01:00 Sam Harwell <notifications@github.com>:

[2015-03-02 10:17] mikedn commented on #953
Problem is, the main advantage of this proposal is the support for generic constraints but the constraints can be easily circumvented by using the base attribute. You'd need to obsolete the TypeConverter's Type constructor to convince people to use the generic TypeConverter attribute and that's unlikely to happen. Besides, for some of these attributes (DesignerAttribute especially) it's more commo

[2015-03-02 12:01] XuTpuK commented on #959
@gafter Nope. Both cases (1 & 2) are labels for one statement block.

[2015-03-02 12:03] XuTpuK commented on #959
@ibrahimbensalah  You need just a bit more brains, not a "downvote". I cannot explain every beginner why code should be short, obvious and predictable, just believe me - 'switch' in current form is a stupid legacy.

[2015-03-02 12:55] Joe4evr commented on #959
For some reason I thought this was already possible, but then I tried it real quick and apparently it's not. (Weirdly enough, it says `Control cannot fall through from one case label ('case: 2') to another.` or whichever case is on the bottom. I didn't know falling happened from the ground up. :laughing:)

[2015-03-02 13:11] sharwell commented on #953
A long discussion on a closely related scenario with the opposite conclusion is in dotnet/corefx#271.

[2015-03-02 13:14] sharwell commented on #959
@XuTpuK The rationale used during the original design which included the break statement is part of the first link I posted. Here is the specific excerpt:

@Joe4evr The error with the code is due to missing a `break` at the end (before the `}`), not between the two case labels.

[2015-03-02 13:30] Joe4evr commented on #959
@sharwell Oh, derp.

So that part about using multiple case labels for a single statement block **is** already possible just fine. Then yeah, there is no added value to this proposal other than attempting to make `break` implicit, which isn't happening as per the above quote. You want to fall through to another block? Use `goto case`. You want to get out of the switch? Use `break`. Don't like `bre

[2015-03-02 13:35] svick commented on #962
I think this is mostly a duplicate of #250, point 2.

Though having the two overloads in the same class is not part of that issue, and I believe it would require CLR change.

[2015-03-02 14:36] chrisaut commented on #959
[code]
It's probably not my place to say this, but can we enforce some sort of etiquette on here? I've noticed this is not XuTpuK's first case where he/she is using an extremely confrontational tone.

Telling other users that they need a "brain" and patronizing them as beginners surely does not foster a good discussion environment.

[2015-03-02 14:41] mburbea commented on #962
How would this scenario be disambiguated?
[code]

[2015-03-02 14:51] GeirGrusom commented on #959
I think the rationale for making break obligatory is excellent. It's not a useful feature, and when you need fall-through it's very easy to make it work anyway.

If the switch needed any rework it would be to make it act more like expressions i.e. that they can return a value, and look more like classes instead of a goto-list.

[2015-03-02 15:50] ibrahimbensalah commented on #962
@mburbea your scenario could in no way be disambiguated, but my scenario could be. If it is ambiguous then it is ambiguous and if it is not it's not.

Compare your scenario with the following using 'normal' methods, which would also cause compilation errors, which is totally acceptable

[code]

My scenario is more equivalent to something like this

[code]

[2015-03-02 16:05] erik-kallen opened #963 "[Proposal] AddRange in object initializers"
I try to always make collection properties readonly, like

[code]

This saves NullReferenceExceptions and is IMO a very good idea to do, but it does cause a problem: I can't use the class in an object initializer when the number of elements are not known compile-time.

Today I need to write

[code]

I propose extending object initializers so I could instead write

[code]

The compiler should be ab

[2015-03-02 16:12] mkosieradzki commented on #959
@chrisaut +1

I absolutely agree that break should be non-optional. In my opinion it's worth to make switching easier/shorter but through functional-style pattern-matching constructs, which don't have "follow-up" issues because they always end with an implicit "return".

But there is already an active discussion about pattern-matching style constructs in #206 .

[2015-03-02 16:19] ibrahimbensalah commented on #959
@XuTpuK I can't argue with you about my brain, thinking about it reminds me of the Halting Problem.

[2015-03-02 16:32] Joe4evr commented on #229
So I came up with a possible solution to this. Should I post it in this thread or make a new proposal?

[2015-03-02 17:00] chrisaut commented on #963
Well, your code as posted would throw NRE because nowhere do you set MyList to anything. I assume you mean you set this in the constructor of C. I'm also not sure why this would change if the compiler knew the number of items at compile time.

So what your asking is that in any object initializer if a property with a non public setter whose type has a public AddRange(IEnumerable<T> items) method a

[2015-03-02 17:02] #122 closed

[2015-03-02 17:03] #213 closed

[2015-03-02 17:39] #863 closed

[2015-03-02 17:40] jaredpar commented on #961
The choice of this error message was deliberate as it is what the native C# compiler does in this scenario.  I have no objection to changing though it as I agree it's confusing.

[2015-03-02 18:23] erik-kallen commented on #963
1. Yes, I meant that the constructor initializes the list (updated sample to reflect this). If I know the number of items compile-time, I can write

    var c = new C { MyList = { item1, item2, item3 } };

2. No, my proposed syntax (at least this time) is that if a collection initializer contains one element and a call to an Add method would not compile, then try AddRange instead.

3. You are righ

[2015-03-02 18:25] amcasey opened #964 "Figure out how to use My.InternalXmlHelper in the VB expression compiler"
If the expression compiler isn't going to emit embedded declarations into the assemblies it returns to the debugger, then it won't be able to evaluate expressions depending on My.internalXmlHelper.  My intuition is that we should probably look for a declaration of that type in a loaded module.

In the interim, users will see a diagnostic about InternalXmlHelper being unavailable.

[2015-03-02 18:46] gafter commented on #959
@XuTpuK We of small brains need things explained using small words. Please be patient and help us become more than beginners.

[2015-03-02 18:47] gafter commented on #229
@Joe4evr What is your idea?

[2015-03-02 19:00] agocke commented on #229
@Joe4evr @gafter He also happens to have a marvelous proof that his proposal is optimal, but unfortunately it's too long to fit into a Github comment. ;)

[2015-03-02 19:19] gafter commented on #962
Closing as a dup of #250. The specific scenario cited here would require a CLR change.

[2015-03-02 19:19] #962 closed

[2015-03-02 19:28] Joe4evr commented on #229
@agocke lol, I'm not going to Fermat-levels here, but I feel this much better suited to the language than that inner struct implementation that was suggested 3 weeks ago.

@gafter It comes down to implicitly generating a constructor, just like the parameter-less default constructor that's already made if one isn't provided. This particular one will have all of the getter-only auto-properties as pa

[2015-03-02 19:34] Pilchie commented on #956
Yes - the one for CTP 6 is: http://www.nuget.org/packages/Microsoft.CodeAnalysis.EditorFeatures.Text/1.0.0-rc1

[2015-03-02 19:34] #956 closed

[2015-03-02 19:48] erik-kallen opened #966 "Emitted assembly is emtpy (custom mscorlib)"
When running this project: https://dl.dropboxusercontent.com/u/34113139/BugWithCustomMscorlib.zip, it prints an error message. I guess the custom mscorlib which is used has some issue with it, but everything was fine with Roslyn beta1-20141031-01. IMO, it shouldn't be a silent error anyway.

Here is the program text (also in the attached archive):

[code]

If the program being compiled is changed

[2015-03-02 19:51] svick commented on #963
What if the collection initializer could result in a call to *extension method* called `Add`? That way, I think the rules would be actually simpler (it would behave more like normal overload resolution) and you could easily create an extension that looks something like `public static void Add<T>(this List<T> list, IEnumerable<T> items)`.

[2015-03-02 19:59] shyamnamboodiripad commented on #593
vbc2 and csc2 are native assemblies and we are adding references to these from the managed test project that contains tests for the compiler server. This leads to warnings / errors in the error list in VS that never go away (see original issue description for screenshot describing these errors). I *think* we are doing this to ensure that vbc2 and csc2 are available at the time when the tests are r

[2015-03-02 20:02] ashmind commented on #229
@Joe4evr seems similar to my struct idea. It is simpler, but in your case any new property will become a binary breaking change -- which I tried to avoid.

[2015-03-02 20:02] agocke commented on #229
@Joe4evr This looks like the same backing implementation as the pattern matching `record` class, the difference being that you use the constructor directly rather than setting fields. The `record` also has much simpler and more succinct syntax IMHO. That is, this is the in-source definition of your example:

    record class Foo(string Bar);

And you can declare one simply by `new Foo("Bar text bl

[2015-03-02 20:04] erik-kallen opened #968 "InvalidProgramException when running in x64"
The following program will throw an AggregateException containing an InvalidProgramException when run in x64. When running the program as x86, everything is fine.

Here is a link to a project demonstrating the error; https://dl.dropboxusercontent.com/u/34113139/InvalidProgramException.zip. Run the x86 configuration and it works, switch to x64 and the error appears.

Program:
[code]

Actual output:

[2015-03-02 20:08] gafter commented on #229
@Joe4evr @agocke There is no longer any need for the `record` modifier in the pattern-matching spec.

The intent of the current pattern/records proposal is that the compiler will generate the constructor based on the properties given in the class declaration. You could put other properties in the body to get additional read-write properties that do not have corresponding constructor parameters.

@

[2015-03-02 20:14] vasily-kirichenko opened #969 "Error "csc2.exe" exited with code -1073741568."
1. Try to build Hopac.Core project from Hopac solution from here https://github.com/Hopac/Hopac (all the other project in that solution are F# ones, so you need Visual F# Tools installed to open the solution).
2. C# compiler fails with `Error "csc2.exe" exited with code -1073741568. Hopac.Core`

It's successfully compiled with VS 2015 CTP 5, but is not with CTP 6.

[2015-03-02 20:19] aviatrix opened #970 "The type 'Object' is defined in an assembly that is not referenced."
I'm  running the syntax parser [sample provided](https://github.com/dotnet/roslyn/blob/master/docs/samples/csharp-syntax.pdf) and i keep getting this exception ( and couple of other similar to this one)

[code]
However this only shows up in the VS debugger when i'm debugging in VS 2015 ctp 6, with the VS ctp 5 SDK (not sure if it matters)

![octo cat](https://i.imgur.com/7DpjfBJ.png)

I'm not enti

[2015-03-02 20:20] AdamSpeight2008 commented on #961
What about this as the error message but without the braces.

`{Double} with a Value of {Double.MaxValue} is in expressible within the type {Int?}`

[2015-03-02 20:30] thomaslevesque commented on #229
It's an attractive idea, but it comes with a few issues:

- as mentioned by @ashmind, adding properties breaks binary compatibility
- when would a constructor be generated? Only when there isn't an explicit one?
- in which order would the constructor parameters be declared? same order as the properties? In this case, changing the order of the properties would be a breaking change at the source lev

[2015-03-02 20:30] Joe4evr commented on #229
@ashmind That's the one thing, yes, but if the parameters are made optional, then the most one would have to do in case of a library update is rebuild against the new version (provided the library author doesn't make consumers do more, but I think at that point, the author probably would've used an explicit constructor in the first place).

@agocke The main thing is that you can't assign to read-o

[2015-03-02 20:50] agocke commented on #229
@Joe4evr As I said, they generate a constructor, so the constructor parameters become the field values. The only difference between the mapping between your implementation and records is that you've overridden the object initializer syntax to map to a constructor. Records don't contain an extra layer of indirection -- they just us a constructor directly.

[2015-03-02 20:57] SolalPirelli commented on #963
This is already the case as of C# 6. ([source](http://roslyn.codeplex.com/wikipage?title=Language%20Feature%20Status&referringTitle=Documentation))

[2015-03-02 21:27] #946 closed

[2015-03-02 21:36] balajikris opened #971 "Assert failure at Csharp Binder, triggered by Intellisense when typing expression-bodied members with AnonymousMethodExpressions"
1. Open visual studio with debug bits of Roslyn
2. In a C# file, type
`
    Func<int, int> X() => delegate (int y)
    {
        return 8;
    }
`
3. Assert fail dialog pops up while typing the `return` statement.

[code]

[2015-03-02 21:38] #725 closed

[2015-03-02 21:45] #695 closed

[2015-03-02 21:49] brettfo commented on #822
Unable to repro on current bits as it appears to have been fixed by commit 855519d9019c2dc05af8df14f417366075fda7c0 on 2 February 2015.  MS-only: see internal bug for more information.

[2015-03-02 21:49] #822 closed

[2015-03-02 22:11] svick commented on #963
@SolalPirelli You're right. But I think that means that this proposal doesn't make much sense, since the desired syntax can already be achieved.

[2015-03-02 22:12] ashmind commented on #229
@gafter

That's interesting -- which issue has the latest discussion?

@Joe4evr
It is not easy to rebuild a library -- e.g. if you have libA and libB on NuGet using different version of libC -- which is expected to be compatible, but isn't. Of course it happens with other things as well, but the less of those are there, the better.

----
Overall I don't see a better way than struct if we want to h

[2015-03-02 22:34] jaredpar commented on #961
@AdamSpeight2008 it is expressible though.  They key here is that `Double.MaxValue` is a constant.  If it were a non-constant with the exact same value the code would work fine.

[code]

[2015-03-02 22:39] jogibear9988 commented on #957
It now works.

I need to change the URI in my custom ResourceDictionary from
       _uriStart = string.Format( @"{0};v{1};component/", nm.Name, nm.Version);
to
      _uriStart = string.Format( @"/{0};v{1};component/", nm.Name, nm.Version);

but I was wondering why it was working with the old compiler?

[2015-03-02 22:43] paulomorgado commented on #959
The fallthrough is lost is C# because compilers are free to reorder switch cases. That's also why, if we need to continue on another case, we need to explicitly jump (`goto`) it.

Not having a an explicit `break;` hinders readbility when cases like the one presented by @gafter come into play.

If I were to equate brain sizes to proposals... never mind.

[2015-03-02 22:47] jogibear9988 commented on #957
This fixed the error:

https://github.com/jogibear9988/SharpDevelop/commit/25481b6c87dea614104ed40bf81c94509abc28f7

but I don't know why it worked before...

[2015-03-02 23:05] paulomorgado commented on #952
@gafter, I kind of like @markrendle's proposal. This would equate to have enums implicitly staticaly imported when the value is known to be of an enum type. This would be scoped to that expression instead of the whole file.

[2015-03-02 23:12] gafter commented on #966
I think we need your mscorlib.dll to repro the problem.

[2015-03-02 23:15] VladimirReshetnikov commented on #966
@gafter the mscorlib.dll in the ZIP archive linked from the first comment.

[2015-03-02 23:18] gafter commented on #966
Oh. [Never mind](https://www.youtube.com/watch?v=V3FnpaWQJO0).

[2015-03-02 23:42] tmeschter commented on #969
@vasily-kirichenko Try adding this property:

`<CscToolExe>csc.exe</CscToolExe>`

to the project file and build again. That may turn up more useful error information.

[2015-03-02 23:52] pdelvo commented on #969
Those high error codes are hinting at a managed exception. I tried to compile it, it crashed and I looked at the event viewer. Its a NullReferenceException:
[code]

[2015-03-03 00:03] gafter commented on #952
How would we do this without it being a breaking change?

[2015-03-03 00:06] amcasey opened #976 "Extract Local on interpolated string should not produce constant"
Extract the argument to WriteLine as a local:

    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine($"{DateTime.Now.ToString()}.{args[0]}");
        }
    }

Expected: variable
Actual: constant

[2015-03-03 00:07] VladimirReshetnikov commented on #961
@jaredpar The last line will not compile without an explicit cast.

[2015-03-03 00:47] pdelvo commented on #969
I tried a newer version of the compiler. The bug us already resolved in e561c8ca

[2015-03-03 00:58] heejaechang commented on #692
resolved externally.

[2015-03-03 00:58] #692 closed

[2015-03-03 01:03] heejaechang commented on #245
it doesn't repro anymore.

[2015-03-03 01:03] #245 closed

[2015-03-03 01:13] #74 closed

[2015-03-03 01:20] gafter commented on #74
@agocke Can you please verify this is fixed?

[2015-03-03 01:39] amcasey opened #980 "How do I add a resx file to a Shared Project?"
It isn't available through the wizard and when I did it manually, I couldn't figure out how to get it to generated the Designer.cs file.

[2015-03-03 01:47] KirillOsenkov opened #981 "Inline Rename Dialog - mouse cursor needs to be arrow on the Apply button"
If you hover over the Apply button in the Inline Rename Dashboard, the mouse cursor is set to Beam (like the rest of the editor). We should probably set the cursor to Arrow on the entire dashboard.

[2015-03-03 06:53] paulomorgado commented on #952
I haven't given that much thought, but I suppose it's the same as with static imports. Only that the static import is only in effect at that expression that as a type of the enum.

Imangine this:

    namespace Enums
    {
        public enum SomeEnum
        {
            SomeValue,
            AnotherValue
        }
    }

    namespace ConsoleApplication5
    {
        using Enums;
        usin

[2015-03-03 07:06] paulomorgado commented on #119
@HaloFour

Yes! That's ridiculous!

The hosting environment should implement its own fail fast strategy which, for SQL Server would never be what you're sugesting I sugested.

[2015-03-03 07:09] paulomorgado commented on #119
@jaredpar

Sory! Abuse of language. I meant "the compiler" as that thing that runs I click build on Visual Studio.

[2015-03-03 07:17] paulomorgado commented on #264
@AnthonyDGreen

Probably not the best of usages, but I've done something like this in the past:

    using System.Windows.Forms;

    namespace PauloMorgado.SomeApplication
    {
        using PauloMorgado.Windows.Forms;

        ...
    }

I like to have my utility namespaces with the same structure as the extended ones (framework, some vendor, some library, etc.).

I remember reading (a long tim

[2015-03-03 07:26] paulomorgado commented on #215
@tmat,

I also don't have a use-case. Probably the teams working on porting .NET to *nix systems have some experience by now.

Your DCO (Decimal-Coded Octal - as opposed to [BCD](http://en.wikipedia.org/wiki/Binary-coded_decimal "Binary-coded decimal")) seems good enough for me to handle permissions.

[2015-03-03 09:37] petr-k commented on #934
Could not reproduce on the latest version, is there anything special about your setup? Do the line endings change to LF or CR instead or CRLF in your case?

[2015-03-03 10:11] XuTpuK commented on #959
@sharwell  I see absolutely nothing what explains why we need 'break'. Did you read _carefully_ my proposal? I explained clearly that "FALL THROUGH" is the least necessary thing we need from a simple SWITCH operator. If you repeat something after "well known Lippert" it doesn't make his useless words more meaningful, huh? Just read again proposal and try to explain by yourself WHY we need break. I

[2015-03-03 10:17] XuTpuK commented on #959
@chrisaut  My time is priceless, so every time I spend it on discussions, SOMETHING MEANINGFUL should be posted to consider. Show me what "useful" ibrahimbensalah said and I immediately bring my sorry. Nothing useful - you and your ibrahimbensalah say sorry and disappear with your troll-like comments, OK?

[2015-03-03 10:22] XuTpuK commented on #959
@paulomorgado There is nothing about "readability". Let's extend your logic on 'if' operator:
    if (somecond) {
        doit();
        // oh, it's so unobvious that 'if' finished! Let's make explicit exit!
        break;// huh, SO MUCH readability! And code is so clean!
    } else {
        // yep, "else" also can be considered as "default" in "switch"!
    }

So what? Where is readability - I

[2015-03-03 13:00] paulomorgado commented on #69
@alanfo

No it isn't.

Have a look at this post: [Customizing string interpolation in C# 6](http://www.thomaslevesque.com/2015/02/24/customizing-string-interpolation-in-c-6/)

[2015-03-03 13:04] sharwell commented on #959
@XuTpuK You claim that the only point of a `switch` statement is to identify the single case which needs to run, and then leave the `switch` statement at the end of that case. However, this is not the case in any of the other frequently used languages containing a `switch` statement with a syntax similar to C#. In each of the others, the lack of a `break` statement allows for falling through to th

[2015-03-03 13:31] GeirGrusom commented on #953
How is that an issue that concerns the C# compiler? How is it an issue at all? Changing existing usage of attributes is not worthwhile, and the old attributes will continue to work, so why stop anyone?

Why? It literally has no benefit to anyone to obsolete the old attributes. It would be counter-productive.

How does that concern generic attributes?

Why is that the compiler's problem?

[2015-03-03 13:35] erik-kallen commented on #966
I think this should have the "Bug" label; even if there is a problem with the mscorlib, there should be either a diagnostic or an exception, silently producing invalid code is not a good behaviour.

[2015-03-03 13:52] AdamSpeight2008 commented on #954
I was thinking about the following implementation.
[code]

A possible concern is excessive object creation (eg the string) triggering a GC,

[2015-03-03 14:33] leppie commented on #98
I know this is closed, but box and unbox user-defined operators on value types would be nice.

Use case: Would allow user to control interning without having to call another method.

[2015-03-03 14:42] jaredpar commented on #934
@petr-k

The "line endings" portion is just the best message I could get out of git.  The most obvious symptom is a good portion of files, in particular ".designer.cs", started showing up as binary diffs.

This is reproducible across a couple of machines using the latest NuGet drop.  What version did you use?

[2015-03-03 15:08] mikedn commented on #953
Who says it the compiler's problem? This is a language feature, not some obscure compiler implementation detail that isn't part of the language specification. And as with all language features it's worth considering the pros and cons.

Use cases have been requested to support this language feature. Uses cases have been provided and I pointed out that some of these uses cases are not representative

[2015-03-03 15:38] mattwar commented on #934
It probably the encoding that changed.

[2015-03-03 15:42] petr-k commented on #934
Yes, it changes the encoding from UTF-8 to UTF-16 (little endian). I will look into it, if that's okay?

[2015-03-03 15:45] Pilchie commented on #934
Sure!  I've looked at some encoding issues before, but there must still be some missed cases.

[2015-03-03 15:49] mattwar commented on #934
Changing parse options should trigger all documents to lazy reparse, which will make it look to TryApplyChanges that all documents changed, which they probably did anyway.  The problem probably lies in the logic that queues up the lazy reparse, not carrying forward the correct encoding.

[2015-03-03 16:11] pharring commented on #954
A few 'nits', then a suggestion (I hope you don't mind that this turned out to be long. I used it as an opportunity to 'teach')

1. I'd probably replace the ```If chars is Nothing``` check with ```Debug.Assert(Not String.IsNullOrEmpty(chars))```. This is a private routine and no caller should be passing Nothing or an empty string.
2. There's an extra ```Not``` on line 4.
3. Nit: You have 'double e

[2015-03-03 16:44] tmeschter commented on #468
We're actually going in a different direction to fix this. The rule set schema does not allow for an action of Default, and there are many problems with adding it (notably, the need to update FxCop to do something reasonably with that action). Instead, I'm going to update the compilers and language services so that the general diagnostic options from the command line (e.g. `/WarnAsError`, `/NoWarn

[2015-03-03 16:53] Pilchie commented on #980
Shared project item management isn't part of Roslyn.

[2015-03-03 16:53] #980 closed

[2015-03-03 17:13] AdamSpeight2008 commented on #954
@pharring
I don't mind at all, the rationale beyond one's design can be a such a good learning tool.
Those 'nits' or more like 'tics' I easily miss. When I'm just ruffing out the code I tend to use a mixture of programming languages.
Renaming `PeekAheadChar` to just `Peek` does makes the code much easier to read.

This is implementation has an IL size of 55.
[code]

[2015-03-03 17:36] petr-k commented on #934
It does occur in the latest NuGet drop, but when I try it against the sources in the current master (at bbdf786020298704e13b98709bfea060ad1334f4) and step through, the issue is gone.

[2015-03-03 17:40] srivatsn opened #987 "Inline Temporary Variable adds redundant parentheses for conditional access expression"
Ported from TFS WorkItem: <b>1091928</b>

------------------------------

<p><b>Repro Steps:</b></p>
<P>1. Start with the following code:</P>
[code]
<P>2. Apply Inline Temporary Variable on 'x'</P>
<P><STRONG>Expected Result:</STRONG></P>
[code]
<P><STRONG>Actual Result:</STRONG></P>
[code]

[2015-03-03 18:20] petr-k commented on #928
Same here.

[2015-03-03 18:40] #872 closed

[2015-03-03 18:51] balajikris commented on #971
Yeah, it does seem like a compiler issue since it is not just intellisense. All refactorings (Ctrl + .) hit this too and everything works normally past this assert.

[2015-03-03 18:58] #818 closed

[2015-03-03 19:11] petr-k opened #989 "Git branch for CTP6"
Since the instructions on how to install and build Roslyn indicate that one should checkout the branch matching the downloaded VS preview, a branch for the current CTP6 is needed.

[2015-03-03 19:14] jaredpar commented on #989
Where do you see this instruction?   I tried to remove that from the WIKI because it is no longer accurate.

[2015-03-03 19:16] gafter opened #990 "Breaking change: C# can no longer assign to static readonly field of another instantiation"
The following code compiled and ran on previous versions of C#. In Roslyn this does not compile:

[code]

[2015-03-03 19:18] gafter commented on #990
The native compiler allowed this code, and the code passes the verifier and runs “correctly”. However, it is certainly not allowed by the intent of the language specification, the code almost certainly contains an error, and the generated code violates the CLI specification (for the init-only constraint). It is a verifier bug that this code passes the verifier.

I propose we allow this code in Ros

[2015-03-03 19:21] gafter commented on #990
@VSadov pointed out to me that we should decide whether we want to expand this relaxation to getter-only autoprops. I think we should not, as that is a new feature.

/cc @theoy @VSadov

[2015-03-03 19:30] VladimirReshetnikov commented on #990
AFAIK, PEVerify.exe always gave an error for this code:
[code]

Related MS Connect bugs:
* https://connect.microsoft.com/VisualStudio/feedback/details/1133185/static-constructor-of-generic-class-cannot-set-readonly-field
* https://connect.microsoft.com/VisualStudio/feedback/details/1144959/compile-error-setting-readonly-static-field-from-cctor

[2015-03-03 19:47] petr-k commented on #989
Main repo page, section **Source code**, link "Building, testing and debugging the sources", section [Install and build Roslyn](https://github.com/dotnet/roslyn/wiki/Building%20Testing%20and%20Debugging#install-and-build-roslyn).

I tried to run via OpenSourceDebug, but it threw an error saying the package could not be loaded. VS ActivityLog.xml indicated that the package assembly manifest did not

[2015-03-03 20:05] gafter commented on #990
@VladimirReshetnikov I see I was testing the verifier on the wrong executable. Yes, the verifier rejects the code. I updated the bug description.

[2015-03-03 21:03] ManishJayaswal commented on #860
@cston  we should enable these tests in Jenkins.

[2015-03-03 21:07] chlowell opened #994 ""One or more errors occurred" while deleting characters in Immediate Window"
1. In the Immediate window, invoke a function which returns a collection. Here are a few which reliably repro the bug for me in a new console application:

        Enumerable.Range(0, 37).ToList()
        new System.Collections.Generic.HashSet<int>(Enumerable.Range(0, 37))
        System.Diagnostics.Process.GetProcesses()

2. Press your up key to re-enter the same expression.
3. Hold down backspac

[2015-03-03 21:14] gafter commented on #952
@paulomorgado With static import, the meaning of your code doesn't change unless you change your source code. I'm concerned that your proposal could change the meaning of existing code when the source has not changed. I'd need to see the precise name lookup rules you propose to know.

[2015-03-03 21:16] ilmax commented on #914
Issue 2 is solved using the new roslyn templates, I have somehow missed that templates have changed since CTP5, I've found a link on Gitter.
Issue 1 is still present.

[2015-03-03 21:19] gafter commented on #959
@XuTpuK please keep the comments and feedback professional. We will not tolerate abusive conversations on this repo.

[2015-03-03 21:21] #820 closed

[2015-03-03 21:22] ashmind commented on #953
I don't really see it as a feature that would directly benefit those attributes (though even subclasses would make those somewhat nicer to use). The thing is -- there are a lot of APIs created for .NET all the time, including MS obsoleting some APIs, creating new APIs, etc.

Based on the attributes we see now, it's not hard to see that those APIs are likely to use similar approaches -- and in thos

[2015-03-03 21:28] XuTpuK commented on #959
@sharwell First of all, let's state - we programming on **C#**. And this language evolves. What's the deal to look at legacy outdated languages like C++/C/Java? Why you don't worry about "6 spaces indent" in Fortran? Just imagine that shock when fortran-guy come and see there is characters before 6-th position!! Same ridiculous is your worry about C++ guys. And hell, dude, C# exist TWELVE YEARS, d

[2015-03-03 21:29] XuTpuK commented on #959
@gafter See my comment directly above - THAT is "professional discussion", not a moaning "I need downvote" from ibrahimbensalah.

[2015-03-03 21:37] gafter commented on #953
The -100 points don't come primarily from implementation effort. It comes from increased complexity of the language.

[2015-03-03 21:43] amcasey opened #995 "Spurious rename conflict"
Invoke Rename (don't actually need to change name) on the first "nextAction" reference (not definition).  Three unresolvable conflicts are reported, some in other methods.

[code]

[2015-03-03 21:44] amcasey commented on #995
FYI @dpoeschl

[2015-03-03 21:45] ashmind commented on #953
But doesn't removal of CS0698 decrease complexity? I can't speak for all developers, but for me language feels simpler when a feature such as generic classes works everywhere -- instead of breaking for edge cases (such as attributes).

[2015-03-03 21:47] #819 closed

[2015-03-03 21:47] gafter commented on #959
While the design of the `switch` statement may leave much to be desired, it is already in the C# language and familiar to many programmers. Falling through from one case to another is often error-prone, so we disallow it. However, we allow the simple case of fall-through where there are no statements between one case label and the next.

If we were to change the language to say that there is an im

[2015-03-03 21:47] #959 closed

[2015-03-03 21:50] markrendle commented on #952
Hi, sorry, been unable to post for a few days so couldn't respond.

The issue with `using static` is that it's pretty common for multiple enums in a particular area to have common member names; for example `BindingFlags` and `FieldAttributeFlags` both have `Public` (I like this example because having half a dozen verbose `BindingFlags` values OR'd together really clutters up a `GetProperties` call

[2015-03-03 21:52] gafter commented on #951
Is this different than #133 ?

[2015-03-03 21:54] ashmind opened #996 "[Proposal] Static extension methods"
#### Problem
In modern C#, it is possible to add extension methods that imitate instance methods, but not static methods.

There are quite a few use cases for this:

1. Direct API extension for popular static classes
`Console`, `Assert`, `Path`, etc.
This can be worked around if library authors switch to statically imported instance properties instead of classes, but it is extremely unlikely to be

[2015-03-03 22:02] mavasani commented on #247
I spend some time playing around with this and have a few observations:

1. Repro (1): Remove all entries from PublicAPI.txt in CodeAnalysis.csproj and open any one source file with a public declaration and invoke fix all in project.

Behavior with Roslyn in Main hive: Only the Public API entries for that source file get added.
Behavior in RoslynDev hive: All entries for entire project always adde

[2015-03-03 22:17] jmarolf commented on #829
@tmeschtert this was fixed with an internal code change. Could you please verify?

[2015-03-03 22:17] #829 closed

[2015-03-03 22:19] jmarolf commented on #629
@jaredpar this was fixed with an internal changeset 1424664. Could you please verify?

[2015-03-03 22:19] #629 closed

[2015-03-03 22:19] jmarolf commented on #931
@jaredpar this was fixed with an internal changeset 1424664. Could you please verify?

[2015-03-03 22:19] #931 closed

[2015-03-03 22:21] ashmind opened #998 "[Proposal] Make `this` optional for extension methods used within the current class"
#### Problem

I wouldn't say this is a common problem, but it is pretty noticeable in some cases.
One example is ASP.NET MVC/WebApi.

Currently `Controller` and `ApiController` provide quite a few useful helper methods to the descendant classes. However it is not possible to add new helper methods in the same fashion without introducing an intermediate base class.

E.g. consider this controller ac

[2015-03-03 22:31] paulomorgado commented on #952
@gafter, it's @markrendle proposal, not mine. I'm just supporting it.

This might make code, that otherwise wouldn't compile, compile. But I don't think it would break any code that compiles now.

But I do understand your caution. Importing statics will involve explicitly changing the code while this wouldn't.

[2015-03-03 22:34] Pilchie commented on #994
I think @rchande just checked in a fix for this.

[2015-03-03 22:40] paulomorgado commented on #996
Leaving, for the moment, how would that be declared, can you show some examples of how would that be used and its benefit and how would the compiler translate it?

[2015-03-03 22:45] paulomorgado commented on #998
I always qualify access to instance members with `this.`. So, this wouldn't be for me.

But, as @ashmind states, the confusion is already set with static imports...

[2015-03-03 22:53] SolalPirelli commented on #996
One possible syntax would be to copy [F# type extensions](https://msdn.microsoft.com/en-us/library/dd233211.aspx): to extend type `X`, declare another type `X` with the same full name (i.e. in the same namespace).

[2015-03-03 22:58] ashmind commented on #996
@paulomorgado

Example translation:
[code]
translates to
[code]

[2015-03-03 23:00] ashmind commented on #996
@SolalPirelli I considered this -- could also be an extension of `partial` keyword to allow cross-assembly partials.

The problem is -- what happens with instance methods? If we allow them, it would introduce a totally different syntax for instance extension methods. If we block them, it becomes a bit weird/inconsistent.

[2015-03-03 23:04] mikedn commented on #953
I suppose that depends on what exactly language complexity is. I could say that this feature adds an alternative way of doing things and that means that the developer has to make a choice. `TypeConverterAttribute` with a constructor taking a `Type` parameter or `TypeConverterAttribute<T>`?

Which choice is better and why? Is the generic version really "nicer"? Nice is rather subjective, for exampl

[2015-03-03 23:17] ilmax commented on #451
Some news on this?

[2015-03-03 23:24] ashmind commented on #953
@mikedn Your points are all very valid.

I don't see choice here as a bad thing, mostly because it is consistent with the same choice around type-accepting methods (`type.IsDefined(Type)` or `type.IsDefined<T>()`, etc) and classes.

I think that logically it can easily be using T in type signature though:
[code]

It's just that `TypeConverterAttribute` offloads creation to other parts of the frame

[2015-03-03 23:43] paulomorgado commented on #161
Even with @gafter's [comment](https://github.com/dotnet/roslyn/issues/160#issuecomment-76126932) on #160, I can't help to feel that if you __move__ the value out of a variable, that variable should be treated as not having a value, which is not the same as having the type's default value. The variable should be treated as not definitely assigned and, thus, not needing destruction.

As for fields,

[2015-03-03 23:46] jaredpar commented on #161
@paulomorgado that is how we ended up defining it in our previous implementation.  Essentially if we know the value definitely has no value via a `move` then we are free to treat it is unassigned.

There are some odd ball corner cases that you need to deal with but as a whole it works out.

[2015-03-03 23:47] jmarolf commented on #192
Looked into how we could fix this.  [Looks like this is a common issue for templates](http://stackoverflow.com/questions/3882764/issue-with-visual-studio-template-directory-creation).  I would need to defer the project create logic to our own wizard, which would call the DTE apis directly.  Not hard, but not as easy as checking a box.

[2015-03-03 23:47] paulomorgado commented on #996
@ashmind

Where does this `TaskPolyfill` come from? What is it? An inner class or a property?

[2015-03-03 23:53] paulomorgado commented on #996
@ashmind, as of now, the `partial` keyword identifies a partial type definition and not a partial type.

[2015-03-04 00:14] ashmind commented on #996
@paulomorgado

A public static class in `SomeThirdPartyNamespace`.

I know -- this could be extended though. But at the moment I'm not advocating for that -- just looking at syntax options.

[2015-03-04 00:25] ilmax commented on #996
I really like the idea, and hope to get this feature!

The syntax is a tricky part, I personally don't like using an attribute to recognize static extension methods, what about this?
```public static void WriteColoredLine(this static Console, string line, ConsoleColor color) {}```

Essentially we add ```static``` after ```this``` and the static type we would like to extend.

[2015-03-04 00:55] srivatsn commented on #247
No there's not github issue tracking it. Please file one.

[2015-03-04 01:06] AdamSpeight2008 commented on #954
Building and Unit Testing an implementation.

[2015-03-04 01:28] XuTpuK commented on #959
@gafter You understand it wrong. There is NO breaking change:

    switch(a) {
    case 1:
    case 2: // it's just two labels for the same branch
        do_smth();
        // implicit break;
    case 3: ; // oops! Empty statement means "it's explicit branch - finish it with 'break' "
    case 4: code for case '4'
    }

Even if some "mattern-matching switch" will be introduced, it doesn't make l

[2015-03-04 01:37] gafter commented on #952
OK, I'll reopen this so it can be considered as a separate approach for handling enums.

[2015-03-04 01:42] gafter commented on #953
I agree that removing otherwise arbitrary language restrictions would not trigger the -100 complexity penalty. Of course we still need to measure the bang-for-the-buck, by weighing the complexity of changing the language specification and implementation (of both C# and VB, and probably F# as well) versus the benefits of the change.

[2015-03-04 01:45] AnthonyDGreen commented on #959
@XuTpuK, your earlier comment was deleted due its rude / offensive nature. Please keep the discussion on this topic professional. If you continue to post comments of this nature we will have to consider more serious actions like banning.

[2015-03-04 01:46] AdamSpeight2008 opened #999 "(Proposal) Shorten Some Commonly Used Method Names."
I propose that we rename a few commonly used methods to be shorter which will aid in the readability of the scanner source. Making spotting common usage pattern a little easier.

Currently | Proposed
------------ | -------------
[CanGetCharAtOffset](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb#L396) | `CanGet( at As Integer ) As Boolean`
[PeekA

[2015-03-04 01:52] gafter commented on #959
@XuTpuK I understand precisely. You want two labels with no statement between them to behave fundamentally differently at runtime than two labels with an empty statement between them. That is why I said

It was because I understood that what you want is too subtle for code readability that I closed this issue.

[2015-03-04 02:17] amcasey commented on #964
Moving to 1.0 (stable), per @ManishJayaswal

[2015-03-04 02:18] amcasey opened #1002 "The expression compiler tests aren't running in Jenkins"
They're unit tests and should be part of the suite.

[2015-03-04 02:19] amcasey opened #1003 "Split the ResultProvider into .Net 2.0 and Portable versions"
They will consume different Concord binaries and be signed with different Authenticode certificates, but should share the same source code.

[2015-03-04 02:29] mattwar commented on #934
This seems to be fixed a while ago by @Pilchie, but we should still be better at remembering the correct encoding.

The general problem is that you can possibly call Document.WithSyntaxRoot(newRoot) before ever accessing the text or tree (thus never loading the text from disk and discovering the encoding). The solution was to use an encoding of null whenever Document.WithSyntaxRoot is called, and

[2015-03-04 02:33] jmarolf commented on #828
@tmeschter This is fixed internally with checkin 1424915. Could you please verify?

[2015-03-04 02:33] #828 closed

[2015-03-04 02:41] gafter commented on #999
I can imagine accepting a pull request that does this, but it is hard to imagine the Roslyn team doing this themselves.

[2015-03-04 02:43] jaredpar commented on #1002
Thanks for filing this bug.  I filed a bug a for some of the other suites that failed on Jenkins when we moved to CTP6 but missed this one :frowning:

IIRC this was failing due to to MS.Debugging.Engine trying to run even though it was only delay signed.

[2015-03-04 02:55] gafter commented on #567
@davidfowl Why did you close this? Is it no longer a request?

[2015-03-04 03:01] AdamSpeight2008 commented on #999
@gafter It would a big diff to do in one PR.
My plan was to do a branch for each and see if they build and test separately
Then merge.

[2015-03-04 03:13] amcasey commented on #1002
Yeah, I'm pretty sure we're not fake-signing the copies we ILASM.  What surprises me is that the ResultProvider tests *are* running.  They consume the same binaries.

[2015-03-04 03:15] AdamSpeight2008 commented on #999
Just running the build + test for `Peek`

[2015-03-04 03:55] AdamSpeight2008 opened #1006 "Single Test Failure possibly due Locale."
This the second time I've encountered this single test failure.
[code]
if I build via jerkins no failures.

I think it was introduced somewhere between #958 (no failures) and #1001 (1 failure)

[2015-03-04 03:57] #540 closed

[2015-03-04 04:07] agocke opened #1007 "Remove ETW loggers from the compiler"
We were previously using some ETW loggers in the compiler to profile. We're not using the information anymore and several times it has been accidentally enabled and caused perf regressions due to the high amount of traces being logged. We should remove the logging and re-add it in more interesting places if we want to investigate similar problems in the future.

[2015-03-04 04:57] pharring commented on #954
Sorry I didn't comment before you did the pull request, but I don't think minimal IL size is a productive endeavor (except in extreme cases). In order to do that, you introduced an additional comparison at the end and the peculiar -1 initialization and a Do..While. IMO, it's harder for a casual reader to check for correctness.

I'd recommend the For... Next version I posted above.

[2015-03-04 05:08] #551 closed

[2015-03-04 05:28] HellBrick commented on #996
Would something like this be possible?
`public static void Console.WriteColoredLine( string line, ConsoleColor color ) {}`

Since the class that declares such a method will probably need to be static anyway, it's a safe bet that it won't be able to implement an interface, so no possible conflicts there. However, just in case this restriction may lifted somewhere in the future or a better way to di

[2015-03-04 06:06] #887 closed

[2015-03-04 07:51] tmat commented on #567
Working on it.

[2015-03-04 08:19] chrissie1 commented on #907
Ah yes, VB, awesome.

[2015-03-04 08:20] Przemyslaw-W commented on #953
@mikedn <https://github.com/mikedn>

public sealed class TypeConverterAttribute<T> : TypeConverterAttribute {
    public TypeConverterAttribute() : base(typeof(T)) {
    }
}

This is based on provided use case, but it is a bit contrieved
example. Consider situation where you need to introduce completely new
attribute which needs to take some type as its input. Then you have
two choices - go with t

[2015-03-04 08:37] gerich-home opened #1009 "IndexOutOfRangeException when trying to Emit/GetDiagnostics from a Compilation"
Hi,

I am playing with Roslyn API and as an experiment I build a simple AOP framework that rewrites methods decorated with aspect attributes in the existing syntax tree in order to call aspects on method boundaries.
When I was trying to Emit assembly from the rewritten Syntax Tree I get an uncaught IndexOutOfRangeException (Index was outside the bounds of the array.)
Stack Trace:
[code]

Steps to

[2015-03-04 08:40] mavasani commented on #251
Moving back to Tom for verification.

[2015-03-04 09:12] paulomorgado commented on #996
I don't know if this is possible at the CLR level, but would it be enough if the compiler would not treat as ambiguous if the same fully qualified name of exists in more than one assembly?

I'm failing to see the benefit of:

    Console.WriteColorodeLine(ConsoleColore.Balck, "test");

Over:

    MyConsole.WriteColorodeLine(ConsoleColore.Balck, "test");

Specially now that we have static imports.

[2015-03-04 09:31] mavasani opened #1011 "FixAll should work across all supported langauges of the underlying fixer"
Repro steps: Remove all PublicAPI.txt entries from independent projects and ranging across VB and C# (CSharpCodeAnalysis.csproj, BasicCodeAnalysis.csproj and Workspaces.csproj). Trigger fix all in solution from a source file in CSharpCodeAnalysis.csproj

Behavior: All correct entries generated for both C# projects, but no entries generated for BasicCodeAnalysis.csproj. This is probably more of a m

[2015-03-04 09:35] mavasani commented on #247
Filed #1011 for FixAll support across all supported languages of the underlying fixer.

Regarding Repro (2), I have been unable to repro it after trying it numerous times. It only reproed once for me, but since then it seems to work fine. This is most likely a skeleton assembly issue where skeleton assembly for CodeAnalysis was not available for one time it did repro. It may also still be a race c

[2015-03-04 09:54] chrisaut commented on #996
I think the main benefit is discoverability. It just "feels" better.

I really likes this proposal. As for syntax, I agree with @HellBrick :
[code]
This feels the cleanest IMO, and the Type.Method syntax already has a precedence for explicit interface implementations (IInterface.Method) so it doesn't look all that out of place. Of course static extension methods, just like regular ones, need to be

[2015-03-04 10:14] XuTpuK commented on #959
@gafter Nope, you said I offer "breaking changes". Now you changed your arguments, but they again are inconsistent, because in 99.9999% cases we DO NOT need "empty operator"! Readability (and reliability) will increase since we don't dirt code with unnecessary "breaks" and always make sure we have exactly one branch to execute. Shortly, I ask for a syntactic sugar to skip UNNECESSARY operator "bre

[2015-03-04 10:28] chrisaut commented on #959
Readability will certainly not increase, ";" is way too easy to overlook.
Reliability ..... I don't even know what that means, what is more reliable?

C# is not a language for code golf where every character needs to go away. Clear, unambiguous code is way more important. Are you seriously saying that difference between
[code]
and
[code]
is easy to spot at a glance?

gafter did not say you offer b

[2015-03-04 10:54] XuTpuK commented on #959
@chrisaut See my comment above and appropriate percentage. I don't understand what fun you found in issuing arguments which are nothing, but theoretical ideas behind the beer. From *practical* POV nobody will need to "skip one value" - most of the cases are "run one of many branches". From this POV we just waste characters to explain compiler what he already knows. Why? Just because somebody's kno

[2015-03-04 11:00] mavasani commented on #553
@heejaechang I thought AssemblyName.GetAssemblyName cannot cause an image load, it fetches the assembly name without loading the assembly into appdomain. https://msdn.microsoft.com/en-us/library/system.reflection.assemblyname.getassemblyname(v=vs.110).aspx
Are we sure ngen image was available?
In host analyzer manager we just invoke Assembly.Load(AssemblyName.GetAssemblyName(fullPath)), where full

[2015-03-04 11:09] XuTpuK commented on #959
BTW for people who forgot history: switch was introduced as a syntax sugar for constructions like:

    if (a == 1)
        do1
    else if (a == 2)
        do2
    ...

As you see, not even mention of "fall through" or jump to the case label - these hacks was introduced in C, because C itself is a "high level assembler", which allows any crazy tricks. C# is a high level language, trying to save p

[2015-03-04 11:11] filipw opened #1012 "[scriptcs] handling importing of invalid namespaces in the REPL"
In the old Roslyn CTP we used a bit of a hack to recognize invalid namespaces in user's submission.

The code is located [here](https://github.com/scriptcs/scriptcs/blob/148e0f642282933fb1ac0c7e0c3515660609a931/src/ScriptCs.Engine.Roslyn/RoslynScriptEngine.cs#L137) and it used reflection against a field called `pendingNamespaces`

What what happen is that if user tried to do something like this in

[2015-03-04 11:12] filipw commented on #1012
@kuhlenh looks like only team members can assign labels

[2015-03-04 11:12] chrisaut commented on #959
He means if the "break" were implicit in all cases, then it would be a breaking change. This is not your suggestion. It was just a general remark regarding implicit breaks. Of course @gafter himself can confirm if that is indeed what he meant, I don't want to speak for him.

The breaking change is not the argument against this, it's an argument against a different proposal that just came up in thi

[2015-03-04 11:20] ashmind commented on #112
@sharwell just found this, but btw I've created #996 today specifically for static extension methods.

@ErikSchierboom A bit of an offtopic, but a weird thought: third-party libraries such as xUnit could adjust their API, allowing something like [this](https://gist.github.com/ashmind/7f8f0a725de5f21ab411). I don't expect BCL to do anything like that though, so static extension methods is still a b

[2015-03-04 11:27] Przemyslaw-W commented on #959
While I really hate XuTpuK's attitude, I tend to agree with him in one
place. I don't think anyone will be forced to write

switch(a) {
case 1: ;
case 2:
    do_smth();
}

It should be perfectly fine to explicitly put break there if one needs
to introduce a noop branch:

switch(a) {
case 1:
    break;

case 2:
    do_smth();
}

It needs to be allowed for backward compatibility reasons. However, wh

[2015-03-04 11:30] heejaechang commented on #553
Microsoft.CodeAnalysis.EditorFeatures.dll (D:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\PrivateAssemblies)

it is loaded from private assemblies, so ngen image must exist.

can you do windbg sxe ld EditorFeatures to check?

I think the callstack above is from etl trace from RPS run. let me re-check etl trace tomorrow.

[2015-03-04 11:34] ashmind commented on #996
It is interesting to also consider the design in a wider context.

There is #112 for extension properties (no syntax yet?) and there might be static extension properties in the future. I can't say I'm a fan of `Type.X` declaration syntax above (maybe I'll just need to get used to it) -- but it is definitely well-suited to support static extension properties.

[2015-03-04 11:46] GeirGrusom commented on #959
@XuTpuK It seems you forgot history.

Switch wasn't introduced in C. It already existed in B, and B had more or less taken it directly from BCPL's `switchon` statement. BCPL took this from ALGOL 60 which had a very strange syntax for the concept, but it existed nonetheless.

[2015-03-04 11:56] ashmind commented on #953
That where the main question comes in -- considering that the change can be done by community -- how should that be weighted?

At this point you probably know the approach better than me, but just in case it is useful:
My first thought would be to put it on some low priority up for grabs list.

Items there would never be implemented by Roslyn team because of other more important work. However, a f

[2015-03-04 11:58] XuTpuK commented on #959
@Przemyslaw-W I hate myself, thanks for support. :)

end of void methods

Exactly! While both, we and compiler, know that "case" is finished, we still forced to say "OK, I'm done!". WHY??
And despite fears of others, I declare: it does NOT break any compatibility! "break" still here, but become optional. Switch does NOT allow to "fall through" (and even can reorder branches), so no more fears "one

[2015-03-04 12:03] chrisaut commented on #112
@ashmind is right, we should think about this in a wider context. I think the only way to do so is to not cling to the existing syntax for extension methods (but of course keep it functional for methods for legacy support).

What about something like this:
[code]

Something like this would solve all these extension requests.

[2015-03-04 12:10] ErikSchierboom commented on #112
@ashmind Interesting design, although I do hope static extension methods will get integrated.

[2015-03-04 12:27] jasonwilliams200OK commented on #708
+1000000
**Please** add REPL APIs, so we can get some cool stuff via [scriptcs](https://github.com/scriptcs/scriptcs/).
Related: https://github.com/scriptcs/scriptcs/issues/614.

Copy @filipw, @khellang.

[2015-03-04 12:32] filipw commented on #708
This is related to #907

[2015-03-04 13:06] mikedn commented on #953
Yes, in general choice is good. Unfortunately not all developers make the best choices and sometimes it makes sense to limit choice.

You could do that but in most cases it won't be useful. The consumer of the attribute doesn't usually know the type at compile time so it would be impossible to use `T CreateConverter()`. It has to be `TypeConverter CreateConverter()` and it has to be accessed via t

[2015-03-04 14:00] #794 closed

[2015-03-04 15:15] danfma commented on #161
Hey guys,

As a naive guy I could just say to put a **delete** keyword to forcely deallocate some object, executing the destructor. It's simple, effective but not safe at all.

But, in complement with that, we could grab the ideas from the rust language which defines borrowed pointers and that is only guaranted by the compiler (so no modifications at the runtime are needed). Most of what was discu

[2015-03-04 15:42] Eugen1344 opened #1013 "c# adding [DllExport] feature"
I am sure that c# need [DllExport("Foo")] attribute that will compile to .export [1] as Foo in IL code. So we will be able to export functions to unmanaged code to make posibility to write libraries for c++ for example.

[2015-03-04 15:43] Eugen1344 commented on #1013
Currently we need to decompile library, add .export directive and compile it back again. It is quite annoying

[2015-03-04 15:47] Pilchie commented on #995
I wonder if this is the same underlying issue as http://roslyn.codeplex.com/workitem/181?

Tag @slaks

[2015-03-04 15:55] Pilchie opened #1014 "Go to Definition: Support Namespaces"
It would be nice to be able to invoke Go To Definition on a reference to a namespace.

Results should populate the Find Results with one definition for file which includes the namespace, and references at all qualified names and using/imports directives.

For metadata, we could generate a file per assembly listing the types in that namespace from the assembly.

[2015-03-04 17:25] HellBrick commented on #112
@chrisaut that's an interesting syntax. However, I think those 'extensions fields' may be pushing it too far: attaching state to another class along with behavior just doesn't feel right or intuitive.

Having said that, I kind of like the idea of marking class as an extension container for a specific target class and thus avoid writing `this` or the class name in every method or property declarati

[2015-03-04 17:31] TedDriggs commented on #952
This still seems brittle to me. Consider the following case, where SomeClass has a constructor that accepts a `Color`:

    public class Okay
    {
        public void DoSomething()
        {
            var foo = new SomeClass(Red);
        }
    }

Now I add a new property to my class:

    public class Okay
    {
        public Okay(Color reddish)
        {
            this.Red = reddish;

[2015-03-04 17:40] chrisaut commented on #112
Sure,  I agree it's kinda weird.  But otherwise you can't do property setters or events. Well I guess properties could write store their value somewhere else. But events? I don't know of a good scenario for either of those,  but why limit it?

My main point was that it would feel natural to declare and use these when a dedicated extension class is introduced.

[2015-03-04 17:42] amcasey commented on #995
@Pilchie Possibly.  It definitely seems important that the parameter is captured by a lambda.  I'd also like to note that my repro is reduced from real Roslyn code.

[2015-03-04 17:45] chrisaut commented on #952
Wouldn't the same problem occur with that code if there was a using static System. Color?  Meaning of the code silently changing?

[2015-03-04 17:48] GitTorre commented on #161
@danfma "As a naive guy I could just say to put a delete keyword to forcely deallocate some object, executing the destructor. It's simple, effective but not safe at all."

I don't think that's naïve at all (it's exactly what you need when memory needs to be freed exactly when you need it to be freed due to, say, memory pressure in the environment you have no control over...), but I agree it obviou

[2015-03-04 17:49] Pilchie commented on #995
@amcasey I saw that, which is why I kept this one active :smile:.  If there are real cases where this is happening, we should investigate.

[2015-03-04 17:56] amcasey commented on #1002
<![CDATA[System.IO.FileLoadException : Could not load file or assembly 'Microsoft.VisualStudio.Debugger.Engine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. Strong name validation failed. (Exception from HRESULT: 0x8013141A) ---- System.Security.SecurityException : Strong name validation failed. (Exception from HRESULT: 0x8013141A)]]>

[2015-03-04 18:02] amcasey commented on #1002
The public key token of the Microsoft.VisualStudio.Debugger.Engine in the output folder is (correctly) b03f5f7f11d50a3a.  I suspect that we're actually loading a different copy at runtime.

[2015-03-04 18:07] amcasey commented on #1002
Nope, procmon shows that we are loading the correct copy.  I guess I get to learn more about strong names. :)

[2015-03-04 18:21] MgSam commented on #161
A `delete` keyword is an obsolete solution before its even proposed- you used to have to do these kinds of things in Objective C before ARC came around. .NET should be looking at a more modern alternative for memory management that doesn't require all this explicit memory management that inevitably results in mistakes and thus bugs.

[2015-03-04 18:28] brettfo opened #1016 "Introduce constant copies trivia twice"
Ported from TFS WorkItem: **1065689**

---

**Repro Steps:**

Select highlighted text and Ctrl + . and invoke fix to introduce local constant, where `[|` and `|]` denote the start/end of the highlight:

[code]

Notice that the second comment ends up getting inserted twice:

[code]

**Revisions:**
1) Created By Shyam Namboodiripad (10/16/2014 11:52:37 PM)

---

2) Edited By Brett Forsgren (11/5/201

[2015-03-04 18:32] RobJellinghaus commented on #161
A known valid pattern is to have a destructible local representing some resource, then pass it down to other objects and methods as a readonly ref.  This ensures that those methods can rely on that reference not being deleted as long as they have access to it.

(It does require that the methods not capture the reference's value and expect it to remain valid, unless proper copy construction is prov

[2015-03-04 18:37] brettfo opened #1017 "Inline Temp should keep comments"
Ported from TFS WorkItem: **580497**

🔗 Also filed as [AB#1292137](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1292137)

---

**Repro Steps:**

[code]

Inline a.

**ACTUAL:**

[code]

**EXPECTED:**

[code]

---

**Revisions:**

1) Created By Vladimir Reshetnikov (1/17/2013 10:43:16 AM)

---

2) Edited By Collin Deel (Chinasoft) (4/11/2014 12:55:31 PM)

Resu

[2015-03-04 18:46] MrJul commented on #953
While the attribute usage is nice, retrieving them seems cumbersome.
To use the sample example as yours:

before:
[code]

after:
[code]
Even with a simple extension method to avoid repeating this logic over and over, you still need some base class or interface implemented (to cast your attribute to) to use it. This applies to every `*Converter`/`*Provider` attribute you mentioned.

Off the top of

[2015-03-04 18:49] HellBrick commented on #112
It may appear natural to try that, but I'm afraid that's a feature that can easily be abused. If you want to attach an additional state to an instance of a class, I think in majority of cases it would be much better to either derive from it or to create a wrapper around it. Either way, you are explicit about your intentions. Using some automagical attached weak field references with an unclear lif

[2015-03-04 19:17] MrJul commented on #953
How does `AttributeUsage.AllowMultiple = false` work with generic attributes: does it limit the usages to one and only one attribute instance, or one instance per generic type?

[2015-03-04 19:38] mikedn commented on #953
Well, yes, that's why the generic TypeConverter I have shown above inherits from the non generic TypeConverter, so you can retrieve (and use) the generic attribute the same way you can retrieve the non generic one. Ashmind mentions "some interface" implementation in his `MyConverterAttribute<T>` which I presume it serves the same purpose.

Probably it doesn't because the rules for this case haven'

[2015-03-04 19:41] mavasani commented on #1006
I thought this could be due to https://github.com/dotnet/roslyn/commit/356854df558807fc5a9bc2e58cf759a0c9deb3d1 ( #985 ), but that was merged into dotnet/roslyn late yesterday night and your issue was filed before that. So something else seems to have caused this. I am unable to repro this failure locally either. Does this repro consistently on your machine? If so, could you collect a dump and sha

[2015-03-04 20:01] #468 closed

[2015-03-04 20:13] AdamSpeight2008 commented on #1006
My repo master has first initiated at the at 97b84b5279c4935c3b44595a004e81110ed43e9d
and no build or test issue occurred  For r#1001 to sync I had to Pull and the from on the test has had the one failure since.

My machine is in the Locale `(UTC) Dublin, Edinburgh, Lisbon, London` but the VS2015ctp6 is `English (USA)`
I'll clear out the bin folder and rebuild and test.

[2015-03-04 20:16] mavasani commented on #1006
Thanks, that information helps, let me try to setup a machine with your environment and try to get a repro.

[2015-03-04 20:25] AdamSpeight2008 commented on #1006
I'm just doing the clean build and test which usually takes about 30mins. I'll add and update once it's complete.

[2015-03-04 20:47] mavasani opened #1020 "DeclarePublicAPI fixer adds a duplicate entry in PubicAPI.txt for public expression bodied members"
Note: This repros only in RoslynDev hive not in main hive, but probably will start reproing once we update our toolset compilers/analyzers.

Repro steps:

1. Open a source file in CSharpCodeAnalysis.csproj and add a public method to CSharpCompilation so as to fire the DeclarePublicAPI diagnostic.
2. Ctrl + . and select Fix all occurrences in project and apply changes.
3. Compare the local copy of

[2015-03-04 20:55] shyamnamboodiripad commented on #641
I was unable to reproduce this issue in recent builds including the recently shipped CTP6 build. When the option to qualify member access with 'this.' is checked, we correctly refrain from offering the fix to remove 'this' qualification.

![image](https://cloud.githubusercontent.com/assets/10579684/6493103/4baf62b4-c26d-11e4-8264-2cbef2f0d158.png)

[2015-03-04 20:55] #641 closed

[2015-03-04 21:09] AdamSpeight2008 commented on #1002
Also see #1006

[2015-03-04 21:13] KirillOsenkov opened #1022 "Compilers shouldn't overwrite output assembly if it already exists and is byte-by-byte-identical"
One of the main reasons of overbuilding and poor build incrementality is that any assembly change triggers cascading rebuilds of all dependent assemblies transitively.

Work is happening to make the Roslyn compiler deterministic, i.e. subsequent invocations on same inputs produce byte-by-byte identical outputs. One last piece remaining is making sure we don't overwrite the output assembly if the b

[2015-03-04 21:18] #220 closed

[2015-03-04 21:19] #788 closed

[2015-03-04 21:24] gafter opened #1023 "Roslyn analyzer that restricts implementation of ISymbol should be specialized"
The Roslyn analyzer that checks for `InternalImplementationOnlyAttribute` should be revised to remove that attribute and instead specialize the implementation to specifically test for types that contain `ISymbol` or one of its subinterfaces in the base clause.

(Action item from the 2015-03-04 LDM)

[2015-03-04 21:26] jaredpar commented on #102
@XuTpuK your comment was deleted due its rude / offensive nature. Please keep the discussion on this topic professional.  If you continue to post comments of this nature we will have to consider more serious actions like banning.

[2015-03-04 21:39] srivatsn opened #1025 "Inline temp doesn't remove casts in some specific cases in VB"
Try inlining `x` in the following code:

[code]

**Expected:**
[code]

**Actual:**
[code]

[2015-03-04 21:42] jaredpar commented on #102
@ashmind @GoEddie @xanather @HaloFour @ErikSchierboom @shunsukeaida  sorry.  I don't know how this particular thread flew under our radar for so long.  If you see behavior like this in the future that we aren't addressing please feel free to email me and I will handle it.

[2015-03-04 21:45] GoEddie commented on #102
Thank you.
________________________________
From: Jared Parsons<mailto:notifications@github.com>
Sent: ‎04/‎03/‎2015 21:42
To: dotnet/roslyn<mailto:roslyn@noreply.github.com>
Cc: GOEddie<mailto:ed.elliott@outlook.com>
Subject: Re: [roslyn] Allow multiple return values in C# (#102)

@ashmind @GoEddie @xanather @HaloFour @ErikSchierboom @shunsukeaida  sorry.  I don't know how this particular thread

[2015-03-04 21:55] amcasey opened #1027 "Incorrect behavior when using alias refers to namespace in using alias"
[code]

Both IContract types are the same - they expose an int property "x".  Roslyn incorrectly reports that IContract.x has already been implemented.

This works if you inline the using aliases.

I strongly suspect that the alias points to the merged namespace symbol, rather than to the namespace symbol contained in the assembly symbol referenced by the extern alias.

[2015-03-04 22:08] gafter commented on #1022
I am skeptical that this is an appropriate thing for a command-line compiler to do.

[2015-03-04 22:25] gafter opened #1028 "Breaking change: VB can no longer assign to static readonly field of another instantiation"
The following code compiled and ran on previous versions of VB. In Roslyn this does not compile:

[code]

The native compiler allowed this code, and the code runs “correctly” when the verifier is disabled. However, it is certainly not allowed by the intent of the language specification, the code almost certainly contains an error, and the generated code violates the CLI specification (for the init

[2015-03-04 22:26] VSadov opened #1029 "Restore requirement for struct constructors to always have formal parameters."
It has been a long standing requirement that C# and VB struct constructors would always have parameters. We have tried to relax this requirements in C#6.0 to make structs more consistent with classes.

While overall parameterless constructors in structs are valid from IL perspective, without a convenient way to declare them they were virtually nonexistent. As we performed more and more testing, we

[2015-03-04 22:29] shyamnamboodiripad opened #1030 "Roslyn light bulb provider implementation of HasSuggestedActionsAsync() and GetSuggestedActions() should respect supplied ISuggestedActionCategorySet"
Roslyn's light bulb provider completely ignores the supplied ISuggestedActionCategorySet in the above APIs. Regardless of the requested categories, HasSuggestedActionsAsync() only returns true if we have code fixes (that are not ‘suppression’ fixes). GetSuggestedActions() on the other hand returns all suggestions (fixes, refactorings and suppressions) regardless of the requested categories.

Inste

[2015-03-04 22:29] #990 closed

[2015-03-04 22:38] paulomorgado commented on #161
Just to be clear, @jaredpar, by definitely not assigned I mean all the rules for unassigned variables apply. It will be a compiler error, from then on, to read the variable without writing something to it first.

[2015-03-04 22:41] gafter commented on #952
@markrendle Can you tell me what changes you are proposing to the name lookup rules? In the case of a method call, one does not have a target type until the proper overload has been resolved, but we need to bind the arguments in order to resolve the overload. I don't see how to specify (or implement) the feature requested here.

[2015-03-04 22:42] ljw1004 commented on #1028
I agree that the code should be rejected in Roslyn. We've always considered a compiler bug when we generate unverifiable code.

[2015-03-04 22:42] paulomorgado commented on #952
@TedDriggs, you changed the code and caused it. What @gafter is concerned about is unchanged compilable code where some the compiler will now assume it's an __enum__ member where it wasn't before.

As @chrisaut stated, if you use static imports, you'll have the same problem.

[2015-03-04 22:47] jmarolf commented on #794
@mavasani Can you verify that this is fixed?

[2015-03-04 22:47] mavasani commented on #553
_it is loaded from private assemblies, so ngen image must exist._

Are you sure that is always true?
I just installed the latest drop from VSPro_1 branch and see that none of Microsoft.CodeAnalysis.* assemblies are ngen'ed (_ngen display Microsoft.CodeAnalysis.EditorFeatures_). Opening a C# project loads EditorFeatures from private assemblies, confirmed through procexplorer.
So I explicitly ngen'e

[2015-03-04 22:49] paulomorgado commented on #952
@gafter, it's more complicated than this but let me try.

1. If the expression with the enum members is not resolvable, statically import all enums in scope
2. ...

It's a tall order...

What if this would only happen if the parameter name was specified?

[2015-03-04 22:51] mavasani commented on #794
Well, I don't have a repro. I hit this while dogfooding. Closing this out.. Thanks for the fix.

[2015-03-04 22:54] mavasani commented on #553
Please re-open if you have a repro machine with ngen'ed images installed and AnalyzerFileReference is causing load of non-ngen image.

[2015-03-04 22:54] #553 closed

[2015-03-04 22:56] heejaechang commented on #553
Installing VS should ngen. But since it doesn’t force ngen execution right away, there might be a period you don’t see ngen image.

Do

ngen executeQueuedItems

you will see all of VS ngen request being  executed right away.

-          Heejae

From: Manish Vasani [mailto:notifications@github.com]
Sent: Wednesday, March 4, 2015 2:47 PM
To: dotnet/roslyn
Cc: HeeJae Chang
Subject: Re: [roslyn] Analy

[2015-03-04 23:00] ilmax opened #1031 "Renamer throws InvalidCastException"
Building a CodeFix to adjust namespace to match folder structure, I initially tried to delegate the renaming work to the Renamer class which unfortunately throws *InvalidCastException Unable to cast object of type 'Microsoft.CodeAnalysis.CSharp.Syntax.QualifiedNameSyntax' to type 'Microsoft.CodeAnalysis.CSharp.Syntax.IdentifierNameSyntax'.*

The repro are steps are super easy, just pass to the Ren

[2015-03-04 23:16] gafter commented on #953
@ashmind

The first step here would be a proposed update to the C# and VB language specifications. This isn't something we're planning, so we are not creating an issue for it beyond this one. But if someone does propose detailed specification changes, we would consider those specs and decide if a community-submitted implementation would be welcome.

[2015-03-04 23:23] mavasani commented on #553
Thanks Heejae. That command force ngen'ed and after that I verified that opening a C# project + applying IDE fixes only loads native images, one from private assemblies is never loaded. Probably something went wrong in the RPS run?

[2015-03-04 23:23] theoy commented on #1027
Note, this was reported by a Microsoft team based on their real world source code, in their migration to use Roslyn.

[2015-03-04 23:24] heejaechang commented on #553
I just checked recent etl from RPS, looks like I can't find non-ngened image anymore. so might have been an issue of RPS or drop for that particular run.

[2015-03-04 23:24] gafter commented on #1028
@AnthonyDGreen @DustinCampbell @ljw1004 @MadsTorgersen @gafter @srivatsn @theoy Paging the compat council to consider the proposed outcome.

[2015-03-04 23:25] ashmind commented on #953
How is this done? As a pull request against the spec document?

[2015-03-04 23:30] jaredpar commented on #161
@paulomorgado yes, that is what I mean.

[2015-03-04 23:31] gafter commented on #952
@paulomorgado I think that could work... what if the name is a member of more than one enum type? Ambiguity error?

[code]

[2015-03-04 23:32] gafter commented on #952
Having the parameter name specified shouldn't make any difference, as it could be the name of a parameter in more than one method.

[2015-03-04 23:34] gafter commented on #953
@ashmind The language spec documents are not open-source at the moment, so you'd have to write diffs (by hand) from some recent version of the published specs.

[2015-03-04 23:46] markrendle commented on #952
@gafter I'm afraid I don't know enough about name lookup rules to answer that, but what @paulomorgado said sounds right to me :)

Obviously `var x = UnqualifiedMemberName` wouldn't work; this is similar to `var f = MethodName` not being valid. But `BindingFlags x = Public` would work.

[2015-03-05 00:18] mavasani opened #1034 "Update all PublicAPI.txt in Roslyn.sln and move to a newer toolset"
#359 updated DeclarePublicAPI analyzer to include returns types in symbol names. However, we haven't updated our toolset analyzers to include the fix. This makes Roslyn.sln unsuable in RoslynDev hive for debugging dogfooding issues. Almost all public APIs have squiggles as the PublicAPI.txt for all projects still have the format without return types.
Additionally when someone tries to update the t

[2015-03-05 00:24] dpoeschl commented on #1031
We don't currently support renaming namespaces in ways that add or remove namespace parts. In the Inline Rename UI, we block periods from being typed in the identifier being renamed, so this exception only happens when the API is called directly with an invalid (i.e. dotted) newName argument. We should make this limitation clearer in the documentation and throw a better exception.

[2015-03-05 00:31] paulomorgado commented on #952
@gafter, this would work just the same as static imports but only scoped to the method call.

In order for this to work, all enums in scope would have to be imported. And that can be a lot.

[2015-03-05 00:35] gafter commented on #826
@AnthonyDGreen @DustinCampbell @ljw1004 @MadsTorgersen @gafter @srivatsn @theoy Paging the compat council to consider the proposed outcome.

[2015-03-05 00:38] XuTpuK commented on #102
@jaredpar Daddy is coming and punish bad child? Partly I agree that some words could be skipped, but in my environment I have nobody who is so infantile to become offended for word "stupid". It's OK to be stupid, it's not OK to show it on public and jump to discussions. If you *carefully* read my proposal and unbeliveable stupid comments on that you'll see that not so much "professional" I found h

[2015-03-05 00:52] KirillOsenkov commented on #1022
I've spoken with the build team and they agree this is something that probably belongs on the build system side.

They could do content-based up-to-date check as opposed to timestamp comparison when copying from Intermediate (obj) to Output (bin).

[2015-03-05 00:52] #1022 closed

[2015-03-05 03:02] #987 closed

[2015-03-05 03:55] EricArndt opened #1038 "Null Reference Exception When Deploying OpenSourceDebug to Experimental Hive With CTP 6"
![roslyn nre](https://cloud.githubusercontent.com/assets/2079517/6498977/3685ed0a-c2c1-11e4-8d6e-f8469f37dc58.PNG)

**StackTrace**:
[code]

[2015-03-05 03:59] agocke opened #1039 "Review fallback behavior when we can't set the OutputEncoding with the /utf8output flag"
Jared pointed out in https://github.com/agocke/roslyn/pull/1 that we thow an exception if we try to set the console encoding to Utf8 and fail, but we silently swallow the exception if we fail to reset the encoding after setting it. We should review this decision. See http://source.roslyn.io/#csc/Csc.cs,28 for an example.

[2015-03-05 04:00] agocke commented on #1039
My feeling is that we probably shouldn't let the exception bubble out like we currently do, but we also shouldn't silently fail to obey the user's request for UTF-8 output. I think we should catch the exception in all instances and surface a diagnostc.

[2015-03-05 04:04] dpoeschl commented on #1038
Hey @EricArndt, can you dig into the exception's StackTrace and add it to your bug report?

[2015-03-05 04:08] EricArndt commented on #732
Should any of the accessibility modifiers be shown in IntelliSense since they're not legal to have in the interface body?

![interface](https://cloud.githubusercontent.com/assets/2079517/6499092/4cb2dae6-c2c3-11e4-8a20-0fb2465ccd8b.png)

[2015-03-05 04:13] dpoeschl commented on #1038
Based on the stack trace, this bug was fixed internally (TFS #1125168). I'm looking for workarounds.

[2015-03-05 04:22] Pilchie commented on #732
No.  That's the bug :smile:

[2015-03-05 04:27] EricArndt commented on #732
OK. Just making sure. :smile:

[2015-03-05 04:33] dpoeschl commented on #1038
Discussed with @EricArndt offline. We resolved the issue for him by
    - Deleting the Roslyn hive under %localappdata%/Microsoft/VisualStudio/14.0Roslyn
    - Deleting the Roslyn hive under %appdata%/Microsoft/VisualStudio/14.0Roslyn
    - Deleting the HKCU\Software\Microsoft\VisualStudio\14.0Roslyn & 14.0Roslyn_Config folders

[2015-03-05 04:34] #1038 closed

[2015-03-05 04:50] EricArndt opened #1041 "Changes do not get deployed to the Roslyn hive with CTP 6"
When trying to fix #780, I was unable to see any of the changes I had made in the Roslyn hive. When I submitted the pull request to test it on the build machine, [tests failed](http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_prtest/690/) in such a way that showed that the changes I made did indeed have an effect. You can see this on the pull request for the issue (#984). Here is what I see in the

[2015-03-05 06:45] sgjsakura commented on #112
The language design for extension properties may simple using indexes, just like:
[code]
If there's more than one parameters in the indexer, this will raise and extension indexer property like
[code]
The extension properity is just a code-sugar for shorten writting. User may use a Dictionary other way to store the property value, or just provide a computed property. But anyway The background-field

[2015-03-05 07:12] sgjsakura opened #1042 "[Proposal]Allow declaring type inferring for type members with in-place initializiers."
C# 3.0 intruduced the keyword "var" for type inferring for local variables. Can it be extended into type members with in-place initializiers?

e.g.

[code]

I don't know if this is feasible for compilers.

[2015-03-05 07:20] DavidKarlas commented on #852
I think milestone is wrong here... It should be 1.0-rc1

[2015-03-05 08:49] MrJul commented on #996
:+1:

Alternative syntax:
[code]
or
[code]

[2015-03-05 09:21] paulomorgado commented on #996
What do you propose for overload resolution?

[2015-03-05 09:22] ashmind commented on #996
@paulomorgado Same rules as for instance extension methods (I don't remember all the details, but in practice it seems to work pretty well).

[2015-03-05 10:00] paulomorgado commented on #996
@ashmind,

There's a well known hierarchy regarding inheritance and extension methods and it's very clear what an extension method is regarding instance extensions.

The same rules won't apply until a relation between extender and extended is well defined. What do you propose?

[2015-03-05 10:12] paulomorgado commented on #1042
Why do all but `const` require `var`? Or why doesn't `const` require `var`?

[2015-03-05 10:13] ashmind commented on #996
@paulomorgado Instance extension methods are only considered based on compile-time type of the instance -- I don't see much difference between that and static extension methods.

The rules would be something similar to:
1. If any existing `static` method matches these arguments, use it
2. Try `static` extension methods in scope (error if ambiguous)

[2015-03-05 10:15] fschmied commented on #179
@thomaslevesque The point is that you would get a compiler error if you added a new enum member without adding a `case`.

I would propose the `switch all` feature should work for enums (even as they are now) and transparently include a `default` case that throws an exception (or, possibly, invokes the same behavior as a failed contract check, see #119).

Consider the following scenario:

    publi

[2015-03-05 10:18] fschmied commented on #119
I would like to be able to use the `requires` feature to eliminate errors about missing branches.

E.g.

    public enum MyEnum { One, Two, Three };

    public string GetText (MyEnum myEnum)
      requires defined(myEnum)
    {
      switch (myEnum)
      {
        case One: return "Single";
        case Two: return "Pair";
        case Three: return "Triple";
      }
      // No error about miss

[2015-03-05 10:30] paulomorgado commented on #179
What would happen if another value is added to the enum and the consumer code isn't recompiled?

[2015-03-05 10:37] fschmied commented on #179
@paulomorgado In the variant with `requires`, a contract violation would arise (e.g., an exception or a fail-fast approach). In the variant without `requires`, the automatically implemented default branch would run.

[2015-03-05 11:12] mavasani commented on #950
@srivatsn @JohnHamby can you please look at this? I think we should fix this for rc2 milestone.

[2015-03-05 11:15] srivatsn commented on #950
Makes sense. Let's do it.

[2015-03-05 11:26] gerich-home commented on #1009
I've continued my investigations, and I tried to compare Syntax trees:
[code]

If you compare these trees by yourself, you will see that `a.Rank` equals `0` and `b.Rank` equals `1`.
I've compared the contents of `a.Sizes` and `b.Sizes` and obeserved that `b` contains single child node of type `OmittedArraySizeExpressionSyntax`.

So the problem here is that when you create array type with the follo

[2015-03-05 12:25] paulomorgado commented on #227
I really can't understand what the problem is about `null`!

Look at a `string` as a box of `char`. I can wither have a box or not (`null`). If I have a box, it can either be empty (`""`) or not (`"something"`).

I don't know that much about __F#__ but I can't see `Option` doing anything better here. It's still about wither having a box or not. But what guarantee does __F#__ give me that I still h

[2015-03-05 14:25] ufcpp commented on #411
@VladimirReshetnikov Some Japanese developers were aware that C# 6.0 has a breaking chage related to the Unicode character classes: Katakana Middle Dot is no longer available for identifiers in C# 6.0.
https://github.com/ufcpp/UfcppSample/blob/master/BreakingChanges/VS2015_CS6/KatakanaMiddleDot.cs
This change would be better to be documented.What do you think?

[2015-03-05 14:30] chrisaut commented on #112
I'm not saying it's a good idea to attach state to an object.

But, doing just that is a "natural" requirement/expectation if you want extension properties (and events)..

Otherwise you cannot do auto-properties (where would compile store  value?), which may make the feature feel incomplete again.

Even if that were disallowed, if you still allow property setters, developers will try to come up wi

[2015-03-05 16:47] svick commented on #1042
@paulomorgado One problem with `const var` is that it's an oxymoron: is the value *constant* or can it *vary*?

[2015-03-05 17:41] paulomorgado commented on #115
(sorry, but I haven't read all the comments with the required and deserved attention)

I do agree that having unmodifiable locals is very useful. For closures and code correctness.

But I think, like with fields, there are to use cases that could be leveraged: **readonly** and **const** locals.

A **readonly** local would be pretty much how @stephentoub specified.

A **const** local would be like

[2015-03-05 17:43] #619 closed

[2015-03-05 18:25] gafter commented on #1009
The Roslyn compilers do not support compilation from hand-built trees, because such trees are typically not in a form that could have been built by the parser for a correct (or even incorrect) program. To diagnose the problems with your hand-built tree, serialize it into a string and then run the parser on the result. Do you get back an identical tree? If not, you've likely identified the problem.

[2015-03-05 18:26] #1009 closed

[2015-03-05 18:31] dotnetchris commented on #227
@paulomorgado what it fundamentally boils down is I as the author of code should have the authority to determine whether null is valid or absolutely invalid. If I state this code may never allow null, the compiler should within all reason attempt to enforce this statically.

While the ```?.``` operator is something, it still doesn't eliminate throw if(x==null) because there is no valid response ev

[2015-03-05 18:41] dsaf commented on #711
It seems that custom attributes are becoming a major feature of Type Script as well:

https://twitter.com/ahejlsberg/status/532579556155482112
http://blogs.msdn.com/b/typescript/archive/2015/03/05/angular-2-0-built-on-typescript.aspx

Time to properly support them in IDE across all languages.

[2015-03-05 19:29] paulomorgado commented on #227
What costs billions of dollars are bad programmers and bad practices, not `null` by itself.

The great thing with null reference exceptions is that you can always point where it was and fix it.

Changing the compiler without having runtime guarantees will be just fooling yourself and, when bitten by the mistake, you might not be able to know where it is or fix it.

Sure I'd like to have non nullab

[2015-03-05 19:36] gerich-home commented on #1009
As I mentioned, I serialized, parsed and compared resulting tree with orinal one and they are different.
According to your words it is likely a problem.

Please explain if my understanding is wrong.

[2015-03-05 20:02] pharring commented on #1007
I'll take a look at this.

[2015-03-05 20:24] #530 closed

[2015-03-05 20:25] mavasani commented on #530
@srivatsn probably someone else should verify the fix? I did add a test that failed prior to this change though..

[2015-03-05 20:26] srivatsn commented on #530
Yes I'll verify it. Thanks

[2015-03-05 20:37] gafter commented on #1009
@gerich-home I think we agree that was the problem.

[2015-03-05 20:44] tmeschter commented on #695
Assigning back to @tannergooding for verification.

[2015-03-05 20:45] tmeschter commented on #619
Assigning back to @srivatsn for verification.

[2015-03-05 21:36] SLaks opened #1053 "Rename doesn't disambiguate expression-bodied members"
Source:

[code]

Renaming `M` to `N` (or vice-versa) will correctly disambiguate the first line, but will show an unresolvable conflict on the second.

[2015-03-05 21:39] SLaks opened #1054 "Rename ignores conflicts from cascading overrides"
Source:

[code]

Renaming the first `A` to `B` will not show any conflicts.

Ideally (since the class is internal), it should change `B()` to an explicit interface implementation.

[2015-03-05 21:47] theoy commented on #1028
Since the C# workitem was rc2, also putting this in rc2.

[2015-03-05 21:48] theoy commented on #999
Nice to have.

[2015-03-05 21:49] theoy commented on #970
Tentatively for RC2 until we understand it more.

[2015-03-05 21:51] theoy commented on #968
Looks like a dupe of dotnet/corefx/issues/320! The fix is available, we'll be picking up the new version of immutable soon (already have this scheduled).

[2015-03-05 21:51] #968 closed

[2015-03-05 21:52] theoy commented on #961
Nice to have.

[2015-03-05 21:55] theoy commented on #957
This is really surprising that switching to Roslyn would cause this to break - perhaps it there was a switch in the underlying URI library instead (at the same time)?

[2015-03-05 21:55] bricelam opened #1055 "Analyzers package errors on install and uninstall"
Installing the [Microsoft.CodeAnalysis.Analyzers](http://www.nuget.org/packages/Microsoft.CodeAnalysis.Analyzers/) package (or any package that depends on it) results in the following error.

[code]

Uninstalling the package results in this error.

[code]

[2015-03-05 21:56] theoy commented on #947
Let's consider this, but we need to understand the perf ramifications.

[2015-03-05 21:59] theoy commented on #915
Agree on rc2 for now, but we'd like to understand this better :)

[2015-03-05 22:01] theoy commented on #909
Approved for 1.0-stable.

[2015-03-05 22:02] theoy commented on #899
We need to think about this some more - the compilation has some meaningful representation about the context from which the metadata will resolved.

[2015-03-05 22:03] #934 closed

[2015-03-05 22:05] theoy commented on #861
Considering this a dupe of #862.

[2015-03-05 22:05] #861 closed

[2015-03-05 22:07] theoy commented on #856
We should investigate for 1.0

[2015-03-05 22:08] theoy commented on #854
If this is fixed by #897 it may make 1.0-rc2

[2015-03-05 22:12] theoy commented on #807
Yeah, you probably want those copied down from the original async method.

[2015-03-05 22:12] theoy commented on #807
Wonder what the native compiler does. Need to investigate.

[2015-03-05 22:16] theoy commented on #620
Is the Roslyn behavior "better" than the native compiler, by Unicode standards? If so we probably want to retain the new behavior. Please investigate.

[2015-03-05 22:17] theoy commented on #614
Has this already been fixed?

[2015-03-05 22:22] theoy commented on #522
We are reluctant to make a change without fully understanding the compat story.

[2015-03-05 22:24] theoy commented on #519
This issue reports five separate issues, and therefore is not really actionable. We'll split it up.

[2015-03-05 22:25] pharring commented on #1007
@agocke See PR #1057

[2015-03-05 22:31] theoy commented on #363
Let's try to get our tests clean.

[2015-03-05 22:32] theoy commented on #327
Nice catch. Would be nice to fix, but we can live without it for 1.0.

[2015-03-05 22:36] theoy commented on #200
Stealing this b/c I think there is a private discussion related to this as well.

[2015-03-05 22:37] tmeschter opened #1058 "UnusedDeclarationAnalyzer analyzer fires when it shouldn't"
The UnusedDeclarationAnalyzer fires on many symbols that are, in fact, used. While attempting to move forward to new versions of Microsoft.Net.ToolsetCompiler and Microsoft.Net.RoslynDiagnostics I counted about 2,000 violations in Microsoft.CodeAnalysis.dll alone; a quick inspection revealed that most if not all were spurious errors.

Unless the analyzer is fixed or disabled we will be unable to m

[2015-03-05 22:38] theoy commented on #183
I agree that internal by default is a better approach, but I think that this is unfortunately a compat break. We'll treat this a feature request to enable alternate behavior.

[2015-03-05 22:42] theoy commented on #966
We should not be emitting here, we should instead give a compiler error or ICE.

[2015-03-05 22:45] theoy commented on #564
Gah, wanted to assigned to @marstr. Need to get you added as a contributor.

[2015-03-05 22:55] mavasani opened #1060 "SemanticModel.GetDeclaredSymbol doesn't return the getter symbol for C# expression bodied property initializer"
None of the descendant nodes of expression bodied property in C# returns the getter method symbol for that property when GetDeclaredSymbol is invoked on them. This seems wrong as the getter method symbol has IsImplicityDeclared = false, and also has its location as the ArrowExpressionClauseSyntax.

I think we want to handle GetDeclaredSymbol(ArrowExpressionClauseSyntax) to return the property gett

[2015-03-05 23:12] tmeschter opened #1061 "Need a solution-wide rule set file"
Essentially all of our projects use the Roslyn diagnostics, but they don't share a .ruleset file. This makes it difficult to turn off a rule that is misbehaving (see #1058).

We should have a single .ruleset file that is referenced from the .targets files. If a particular project needs its own settings for some reason, then it can have its own rule set that includes the base rule set.

[2015-03-05 23:19] heejaechang opened #1064 "seal Diagnostic type"
currently Diagnostic is public abstract type so all abstract/virtual method can

1. throw
2. can return null

either we need to audit all of our engine code to properly deal with them or we should seal the diagnostic type.

[2015-03-05 23:21] heejaechang commented on #1064
for 1, we could do what we did for descriptor. for 2, we can use the pattern compiler uses (abstracts are all protected, and public ones can't be overriden)

[2015-03-05 23:21] AdamSpeight2008 commented on #947
@theoy The current perf ramifications is that it doesn't work.

[2015-03-05 23:26] mavasani commented on #1064
I should add that this is not an immediate concern for rc2 milestone as Diagnostic has internal abstract methods, so we can only have internal implementations. We should address this for the long term though.

[2015-03-05 23:35] heejaechang commented on #1064
@mavasani we are lucky :)

looks like we have these two methods WithLocation and WithSeverity that are internal abstract.

[2015-03-05 23:43] mavasani commented on #88
@tmeschter I still see Microsoft.Analyzers.ManagedCodeAnalysis as the analyzer ID for FXCop analyzers for a managed project's default ruleset. This is yesterday's VSPro_1 drop.

[2015-03-06 00:03] mavasani commented on #89
@tmeschter  I only see the partial fix for this one latest VSPro_1 drop.
For managed projects, the ruleset editor correctly hides the native rules, but there seems to be varying behavior for C++ Win32 project.

Repro 1:
1. devenv /resetsettings
2. Create a new C++ Win32 project and open any ruleset from Properties -> Code Analysis tab.

Got:

![defaultruleset_1](https://cloud.githubusercontent.com

[2015-03-06 00:10] gafter commented on #1042
@svick `var` means "variable". It doesn't mean that it can *vary*. The name comes from mathematics, where the same name might (or might not) bind to different values at different times, but nothing varies or mutates.

[2015-03-06 00:12] gafter commented on #1042
It is unlikely we would do this, for two reasons.

First, we believe that types provide valuable documentation at the class level.

Second, it introduces the possibility of cycles in the analysis that the compiler must do to determine types:

[code]

Now, what is the type of `A.N`?

[2015-03-06 00:20] gafter opened #1066 "Problem formatting .cs files"
There is a problem while formatting (indenting, adding/erasing whitespaces and/or newlines, etc.) directives such as #endregion, #pragma, etc..

The problem lies within the following classes/functions:
-SyntaxFormatter
-NormalizeWhitespaceCore
-NormalizeWhitespace

These functions are inconsistent with the CSharp compiler, which allows lines such as:

[code]
where the conventional way of doing thi

[2015-03-06 00:23] gafter commented on #1066
This bug was originally reported at http://roslyn.codeplex.com/workitem/490

[2015-03-06 00:27] gafter opened #1067 "CS0185 (C#) experienced on 'lock' statement in unconstrained type parameter"
A customer reports:

Fairly easy to workaround, but as far as I can tell it's perfectly valid code (and definitely worked in previous versions of VS). When lock is used on a template parameter, it seems to always generate `"error CS0185: 'T' is not a reference type as required by the lock statement"`

[code]

[2015-03-06 00:28] gafter commented on #1067
@theoy says:

[2015-03-06 00:51] SLaks opened #1068 "Rename doesn't disambiguate by casting to base type"
[code]

Renaming `Y` to `X` should change the callsite to `((B)new D()).X()`.
It also ought to add `new` to the now-shadowing declaration.

[2015-03-06 00:54] gafter commented on #1028
Compat council outcome was same as for C#: code should be accepted even though incorrect, and diagnosed under `/feature:strict` and in the first warning wave.

[2015-03-06 00:54] SLaks commented on #1068
More-realistic example:

[code]

[2015-03-06 00:59] SLaks commented on #995
I'm not sure how related this is to my earlier issue.

I don't think I've _ever_ seen Rename show unresolvable conflicts with the original name ;)

[2015-03-06 01:01] gafter commented on #899
To add to the comment by @theoy ...

Because the symbol table is a *language-specific* view of the IL, we need to know which language to view it as. For example, when you write

[code]

whether or not the name lookup is case-sensitive or not is dependent on which language your compilation is.

[2015-03-06 01:01] #899 closed

[2015-03-06 01:22] gafter commented on #411
@ufcpp Noted in #1070

[2015-03-06 01:24] gafter commented on #620
See also #1070 where we recognize that Roslyn has been updated to comply with a more recent Unicode version.

[2015-03-06 01:30] gafter commented on #947
@AdamSpeight2008 Well, I'll close this then. If you get something working please post a new pull request. I don't think an issue is necessary if the pull request stands on its own.

[2015-03-06 01:30] #947 closed

[2015-03-06 02:02] gafter commented on #377
@AlekseyTs Please unassign if the rc2 timeframe is unrealistic for you.

[2015-03-06 02:05] ufcpp commented on #411
@gafter thanks!

[2015-03-06 02:07] gafter opened #1073 "Ruleset file format should be specified"
The syntax and semantics of the ruleset file should be added to our docs.

[2015-03-06 02:08] gafter opened #1074 "The C# and VB compiler command-line switches should be added to our docs"

[2015-03-06 02:13] AdamSpeight2008 commented on #947
I'll have another look at this now that I have a know good building and testing base.

[2015-03-06 02:58] HaloFour commented on #351
@ashmind

That they are.  Technically you wouldn't need anything beyond `[CallerMethod]`, `[CallerFilePath]`, `[CallerLineNumber]` and `[CallerColumnNumber]` in order to derive all of that information, and if those were the only attributes that existed then I would be completely happy.  It is the existing attribute `[CallerMemberName]` which set the precedent for attributes only resulting in porti

[2015-03-06 03:54] sgjsakura commented on #1042
@paulomorgado Add `var` after `const` is also acceptable but seems to be redundancy. In VB when you use `Const` to declare variables you do not need to use `Dim` any more. Anyway, this is not a serious problem and they both are OK.

[2015-03-06 04:08] sgjsakura commented on #1042
@gafter Yes I agree that cycle dependency is a serious problem. This may occurs on static members which crosses different classes (Initializer of an instance field has much more limitations than static fileds).

Maybe the auto infering can be applied with some limitations, actually the most useful scene is just initialize an field with an default value like:
[code]

[2015-03-06 04:44] sharwell opened #1079 "Behavior change for extension methods in global namespace"
I observed a breaking change in Visual Studio 2015 CTP 6.

### Steps to reproduce

1. Create a new console project.
2. Install the [dnpextensions](https://www.nuget.org/packages/dnpextensions/) library from NuGet.
3. In Visual Studio, set the **Aliases** property for the **PGK.Extensions** assembly reference to `pgk` (instead of the default `global`).
4. Add the following line to the `Main` method

[2015-03-06 05:03] #954 closed

[2015-03-06 06:25] jogibear9988 commented on #957
I've SharpDevelop on the same Computer, wich compiles for DotNet 4.5 and there it works!

[2015-03-06 06:45] davidfowl opened #1081 "Allow specifying the entry point metadata token"
Today when you make a console application with csc, the compiler assumes the entry point should be Program.Main, that's fine but it would be great if the compiler APIs allows an arbitrary metadata token to be set as the assembly entry point.

/cc @tmat

[2015-03-06 07:31] #950 closed

[2015-03-06 08:37] default0 commented on #1029
I agree with the reasoning for restoring this requirement.
However, the optimization in Activator.CreateInstance is invalid independent of this constraint. Due to the nature of interoperability of IL-based languages, it is still possible for some other (maybe even 3rd-party) IL-based language to allow a construct like this, and have good reasoning behind why they want to do it.
The CLR should be d

[2015-03-06 08:49] JohnHamby commented on #950
Yes, this is a good idea.

[2015-03-06 08:50] Neil65 commented on #227
Thanks everyone for engaging in discussion on this topic. I have some responses to what people have said but I haven't had time yet to write them down due to working day and night to meet a deadline. I'll try and post something over the weekend.

[2015-03-06 09:40] mavasani opened #1083 "InvalidOperationException at Microsoft.VisualStudio.LanguageServices.dll!Microsoft.VisualStudio.LanguageServices.Implementation.ProjectSystem.AbstractProject.ValidateReferences"
Repro steps:
1. Build Roslyn.sln in Debug
2. devenv /rootsuffix RoslynDev
3. Open Roslyn.sln in the VS instance in RoslynDev hive
4. File -> Open -> $Roslyn\Open\src\Compilers\CSharp\Portable\Syntax\AnonymousMethodExpressionSyntax.cs

Got:
System.InvalidOperationException with message {"Sequence contains no elements"}

 	Microsoft.VisualStudio.LanguageServices.dll!Microsoft.VisualStudio.LanguageSe

[2015-03-06 09:41] zgxnet commented on #595
Absolutely support! This is a very nice feature. It is really a waste of indentation to put every class inside a namespace scope. And it is an easy feature.

[2015-03-06 11:59] mkosieradzki commented on #595
The indentation point is actually quite convincing. This is going to be a long shot: all this makes sense because statistically many developers actually have single namespace per file, but many developers also have single class per file and some nested classes. Maybe it's a good idea to allow similar syntax for classes then?

[code]

or

[code]

[2015-03-06 12:08] zgxnet commented on #595
Very nice proposal. I like the idea of file scope class. It will allow very clean code.

[2015-03-06 12:56] gerich-home commented on #1009
In such case I do not understand why no Bug label is applied to this issue, why it is still just a Question?

[2015-03-06 13:03] GeirGrusom commented on #227
On Generics:

I don't think generics should be allowed to be invoked with non-nullable references unless there is a constraint on the generic method.

[code]

[2015-03-06 13:04] tenor commented on #595
I don't see any real benefit to this proposal. It saves the developer a few keystrokes per file and removes an extra level of indentation (which any decent IDE can do automatically) but doesn't improve readability.

[2015-03-06 13:27] svick commented on #1067
I take it that generating code that throws at runtime when `T` is a value type is not worth it?

[2015-03-06 13:38] gafter commented on #1067
@svick what IL sequence do you recommend for that effect?

[2015-03-06 14:22] mikedn commented on #1067
I don't think that throwing an exception at runtime solves the compatibility problem. Code like that can actually work correctly even if T is a value type. In this particular case Data is a parameter, a copy of what other threads my access at the same time. The fact that lock is ineffective in this case has no ill side-effects.

[2015-03-06 14:58] svick commented on #1067
@gafter I can't think of anything better than using reflection:

[code]

[2015-03-06 15:39] paulomorgado commented on #595
Having something scoped to the compilation unit (file) is nothing new to **C#**. `using` directives can be scoped at the compilation unit level or namespace body level.

Because there are differences between compilation unit scoped and namespace scoped `using` directives, the proposal should account for that.

The [using keyword](https://msdn.microsoft.com/library/zhdeatwt.aspx "using (C# Referenc

[2015-03-06 15:51] theoy commented on #1067
@mikedn is correct, it's unfortunate that the lock is ineffective when a value type, but that doesn't mean that we can graduate that to a `throw`. :frowning:

@svick - standard way to condition for value type is: `(default(T) == null)` (and any other `null` conditions that you need). Several versions of the JIT will statically determine that result at JIT time so that it has very little overhead.

[2015-03-06 16:02] svick commented on #1067
@theoy I don't think you want nullable types to behave like reference types when it comes to locking.

[2015-03-06 16:02] mkosieradzki commented on #595
I think @paulomorgado proposal is a nice compromise. It can be done, because namespaces do not have any modifiers what makes them different from classes, methods and so on.

[2015-03-06 16:12] MgSam commented on #595
I think this is an implementation detail. Is there a difference in behavior to the user? If not than it doesn't really matter which is used.

This would be both confusing and demonstrably less useful. Style guidelines recommend one class per file, but often you see files with more in them than just a single class. More than one namespace per class, on the other hand, is almost never seen.

Visual

[2015-03-06 16:16] Richiban commented on #728
What you've described is very very close to F#'s active patterns. I rewrote your example in F#, tell me if it's close to what you wanted in readability, then maybe the feature can be ported over!

[code]

[2015-03-06 16:32] gafter commented on #1009
Because it is not a bug. Roslyn is not *supposed* to be fed syntax trees that could not have been produced by the parser.

[2015-03-06 16:40] paulomorgado commented on #118
What happens with this?

    var data = GetData();
    ...
    ref SomeStruct GetData()
    {
        var ss1 = new SomeStruct();
        var ss2 = new SomeStruct();

        return ref Choose(ref ss1, ref ss2);
    }
    ref SomeStruct Choose(ref SomeStruct ss1, ref SomeStruct ss2)
    {
        return whatever ? ref ss1 : ref ss2;
    }

`GetData` might not be aware that `Choose` is returning on

[2015-03-06 16:44] gafter commented on #118
@paulomorgado You would not be allowed to return a ref to a local variable or parameter.

[2015-03-06 16:46] mkosieradzki commented on #595
For imperative-style it is a minor upgrade, but for functional-style it's a major upgrade. In imperative style you have a lot of short instructions one per line, control structures makes a lot of indents and outdents. In functional approach you have some definitions - sometimes one-per-line each consisting of usually long expression where IDE gives hand with utilities like word-wrap.

I think this

[2015-03-06 16:58] jaredpar opened #1086 "Cancel AnalyzerDriver at the end of a compilation"
This method deals with the treatment of `AnalyzerDriver` within `CommonCompiler.RunCore`.

In the case that the compilation fails early, say in declaration or member binding, the compilation will not fully populate the event queue.  This means that `AnalyzerDriver` will not complete as it has several tasks waiting for the queue to complete.  The driver and all of the associated analyzers will all

[2015-03-06 17:19] paulomorgado commented on #133
@ashmind,

Can you give an example of what syntax ambiguities does the use of `with` remove?

Can you elaborate on the **cons** part?

Are you aware that this:

    var x = new X {
        A = a,
        B = b,
        C = { D = { d1, d2 } }
    };

is translated into this?

    X tmp = new X();
    tmp.A = a;
    tmp.B = b;
    tmp.C.D.Add(d1);
    tmp.C.D.Add(d1);
    X x = tmp;

The use cases f

[2015-03-06 17:35] srivatsn commented on #662
This is fixed now with f1bb6ff. Assigning to myself for verification.

[2015-03-06 17:35] #662 closed

[2015-03-06 17:37] srivatsn commented on #679
f1bb6ff adds the writeonly modifiers. Simply calling WithGetAccessors doesn't remove the WriteOnly modifier but that is probably better behavior to keep the SyntaxGenerator agnostic of semantics. Assigning to myself for verification.

[2015-03-06 17:37] #679 closed

[2015-03-06 17:38] paulomorgado commented on #140
That code translates to something like:

    Func<X, Y> f = new Func<X, Y>(New.Y);
    var ys = Enumerable.Select(xs, f);

And, like @mikedn said, creating a new object is a bit more that just calling a constructor.

Calling the constructor involves another method:

    Y <>call_ctor(X x)
    {
        return new Y(x);
    }
    ...
    Func<Y> f = new Func<Y>(<>call_ctor);
    var ys = Enumerable

[2015-03-06 17:42] ViToni commented on #37
Reading that `__arglist` ist legacy I'm wondering what "The Right Way(TM)" would be to do it.

In my case there is a `C` library I would like to use which implements logging via a callback set by a function pointer and uses vargs. Using a delegate works to the point where I need acces to the `vargs` of the logging function since delegates cannot be defined with an `__arglist`.
Trying to be clever

[2015-03-06 17:43] paulomorgado commented on #118
@gafter, the only difference between my `Choose` method and @stephentoub's one is that mine does not have the selector passed as a delegate. Did I miss something here?

[2015-03-06 17:48] stephentoub commented on #118
@paulomorgado, the compiler would only let you return a ref to something that it new was either on the heap or that came from the caller.  In my example, the ref inputs to the method were all from ref parameters (or ref locals to ref parameters), so the compiler would conclude that the result of the Choose method met the criteria and would allow its returned ref to be returned.  But in your exampl

[2015-03-06 17:55] #1025 closed

[2015-03-06 18:10] paulomorgado commented on #118
@stephentoub, forget my `Choose` method. Your's is the best that can be done and you just published it to NuGet and I added it to my project. How can the compiler know  where the return valur of `Choose` is coming from? My `GetData` is just complying to the contract of `Choose` to get its result and pass along as all the code written so far and to be written in the future does.

What you're saying

[2015-03-06 18:11] gafter commented on #969
Closed as this appears to be fixed as described above by @pdelvo

[2015-03-06 18:11] #969 closed

[2015-03-06 18:17] stephentoub commented on #118
@paulomorgado, I understand the confusion, but that's not what I'm saying.

There would be some rules about what it would be safe to return, e.g.

- refs to variables on the heap are safe to return
- ref parameters are safe to return
- out parameters are safe to return
- a ref returned from another method is safe to return if all refs passed to that method were safe to return (by this same set of

[2015-03-06 18:19] amcasey commented on #1002
https://github.com/amcasey/roslyn/commit/87f7716f9dc530db2fef7af2fa72b6ea90ac4aa2

[2015-03-06 18:19] #1002 closed

[2015-03-06 18:57] #905 closed

[2015-03-06 19:07] tannergooding commented on #695
Everything is all good. Marked as 'Verified'.

[2015-03-06 19:08] #789 closed

[2015-03-06 19:09] gafter commented on #1073
There is a placeholder at https://github.com/dotnet/roslyn/blob/master/docs/compilers/Ruleset%20File.md

[2015-03-06 19:10] srivatsn commented on #843
This is resolved by #1065

[2015-03-06 19:10] #843 closed

[2015-03-06 19:11] balajikris opened #1093 "VS crashes as diagnostic analyzer could not get document name"
Install 20150306.1 signed roslyn bits
Open Roslyn.sln
VS crashes, by this time mouse and keyboard inputs are not pumped. So i couldn't get a dump. I barely managed to dismiss the crash dialog.
[code]

[2015-03-06 19:29] gafter opened #1094 "VS crash in Analyzers with latest Roslyn"
![See image](https://cloud.githubusercontent.com/assets/3804346/6534659/f85ac80a-c3f3-11e4-88f7-1f692ef231d8.png)

[2015-03-06 19:30] gafter commented on #1094
@srivatsn This is preventing Roslyn development.

[2015-03-06 19:32] srivatsn commented on #1094
Looks to be the same as #1093. @heejaechang please prioritize this bug.

[2015-03-06 19:32] #1094 closed

[2015-03-06 19:34] gafter commented on #1094
Worked around this by installing the 20150304.1 dogfood update.

[2015-03-06 19:39] #803 closed

[2015-03-06 20:14] madelson opened #1096 "MSBuildWorkspace fails to open solution where a .csproj doesn't have a compilation target"
I am trying to use Roslyn to compile a VS2013 solution for code analysis purposes. The solution has many projects, one of which has no .CS files (we just use it to store JS and CSS files. It has a bunch of MSBuild steps to minify, lint, etc. these files).

When I run the solution through Roslyn, I get the following error:

Microsoft.Build.Exceptions.InvalidProjectFileException : The target "Compil

[2015-03-06 20:29] heejaechang commented on #1093
fixed #1095

[2015-03-06 20:29] #1093 closed

[2015-03-06 20:29] HaloFour commented on #951
@XuTpuK

This has been requested since long before C# went 1.0 and the designers already weighed in on it many, many times.

My opinion is that `with` has no purpose.  You can get the same semantics by assigning an expression to a simple short-name variable within a specific scope.  Then you can at least continue to refer to the result of the expression, which you cannot do with `with` which is ad

[2015-03-06 20:42] jaredpar opened #1097 "Upgrade BCL NuGet Packages to RC"
Once we pass ZBB and have the bandwidth to update the BCL packages we need to re-merge this PR.

https://github.com/dotnet/roslyn/pull/1077

[2015-03-06 20:51] gafter commented on #966
`compilation.Emit` returns a value of type `EmitResult`:

[code]

You need to check the `EmitResult` for success and any error messages. In your case it does contain an error message (the compiler-generated code for an anonymous type uses `string.Format`, but your mscorlib does not provide it).

`error CS0656: Missing compiler required member 'System.String.Format'`

[2015-03-06 20:51] #966 closed

[2015-03-06 20:53] tmat opened #1099 "VS crash: NRE from VB binder while typing complex LINQ query"
Repro:

[code]

Start typing "Take While" clause after "Distinct".

Crash dump:

%internal_share%\tomat\Bugs\1099

Stack trace:

[code]

[2015-03-06 20:53] ashmind commented on #133
I'm not sure if there are any in the spec at the moment, but allowing `x { A = 3 }` for arbitrary `x` seems confusing and may block some other features from being introduced in the future.

E.g.
[code]
I suppose it can be avoided if initializers are limited to method call results only.

Yes, however I don't want to write it myself for factory methods, given that translator is already in the langua

[2015-03-06 21:06] #951 closed

[2015-03-06 21:17] ilmax commented on #914
More on this,

VS actually crashes just by **devenv /rootsuffix Roslyn** via cmd, I tried /log with no luck since the log is not even created.

Inspecting Event Viewer I found those entries

Faulting module name: KERNELBASE.dll, version: 10.0.9926.0, time stamp: 0x54bddbdc
Exception code: 0xe0434352
Fault offset: 0x000a5498
Faulting process id: 0x1244
Faulting application start time: 0x01d0584fe10

[2015-03-06 21:22] srivatsn commented on #914
The crash for #1095 was just introduced yesterday. This must be something else. Can you try to clean your Roslyn hive and build again (delete %AppData%\Local\Microsoft\VisualStudio\14.0Roslyn

[2015-03-06 21:23] tmeschter commented on #898
I took a look at this, and the only unprotected entry point I see is a place where our Solution Explorer code calls `SupportedDiagnostics`. I'll fix that and close the bug.

[2015-03-06 21:33] ilmax commented on #914
Unfortunately delete that folder didn't fix the problem, but I now have one more event in Event Viewer related to the crash, see detail below

Event Name: CLR20r3
Response: Not available
Cab Id: 94551073286

P1: devenv.exe
P2: 14.0.22609.0
P3: 54d86122
P4: Microsoft.VisualStudio.Shell.Connected
P5: 14.0.22609.0
P6: 54d8503d
P7: 94e
P8: 23
P9: System.NullReferenceException
P10:

C:\Users\MDonini.FA

[2015-03-06 21:38] srivatsn commented on #914
The Microsoft.VisualStudio.Shell.Connected reference reminded me of a crash because of VSO that someone pointed out. Here's what they did to get it working:

Can you try that to see if it works for you?

[2015-03-06 21:46] mavasani opened #1101 "Diagnostics test for validating that Roslyn.sln is dogfoodable with Roslyn signed drops"
Lately we have been bitten multiple times by changes to Roslyn analyzers/diagnostic engine causing certain difficult to test issues to be caught during dogfooding Roslyn.sln with the newer signed drops. We have also seen certain Roslyn analyzers not staying clean on Roslyn.sln, causing us pain in moving to newer diagnostics toolset when some other bug fixes have caused the analyzer/fixer behavior

[2015-03-06 21:50] ilmax commented on #914
Hell yeah! that worked! thank you!

[2015-03-06 22:03] srivatsn commented on #914
You are welcome. I'll close this issue since both your problems seem to have been resolved.

[2015-03-06 22:03] #914 closed

[2015-03-06 22:05] controlflow opened #1103 "Array.Empty<T>() optimization issues"
[code]

Produces this code:
[code]

1. This C# 6.0 change can break various LINQ quotation translators, since nobody knows what `System.Array.Empty<T>` method actually do and how to translate it. We should disable this optimization inside expression trees.

2. When expression tree code is lowered, we can see a lot of `new Expression[0]` or `new ParameterExpression[0]` expressions (passed to `param

[2015-03-06 22:11] mavasani opened #1104 "Clean all diagnostics related VSIntegration tests when all Roslyn/FxCop analyzers are installed"
Our setup for running VSIntegration tests on our build machines doesn't include installing the Roslyn analyzers and FXCop analyzers. However, doing a local build of Roslyn.sln installs these in the RoslynDev hive. Additionally, doing an InstallDogdood of latest signed drop installs the Roslyn analyzers. In both these scenarios, certain diagnostics related VSIntegration tests fail due to additional

[2015-03-06 22:13] theoy commented on #947
@adamSpeight2008 - Awesome! Thanks a bunch for all your involvement so far, and let us know if you run into trouble. We've been progressively replacing closed source tools and processes so that we can all be on equal footing as well as consolidate support of the workflows 😃

[2015-03-06 22:28] AdamSpeight2008 opened #1107 "(VB) Make AddressOf optional / implicit"
Let's say we have the following method signature
`Function Where(Of T)( xs As IEnumerable(Of T), pred As Func(T,Boolean) As IEnumerable`
and we want to call .

We could use
* a lambda function:   `Where( MyPileOfClothes, Function(c) c.Smell = Smells.Ok )`
* a named lambda `SmellsOk`  `Where( MyPileOfClothes, SmellsOk )`
* a normal function `SmellsOk` `Where( MyPileOfClothes, AddressOf SmellsOk )`

[2015-03-06 22:34] AdamSpeight2008 commented on #947
@gafter Up a new pull request, so I can annoy @jaredpar some more. Don't be giving me Ideas now.

[2015-03-06 22:50] gafter commented on #864
This is not so easy to fix, as it runs against VB language constraints. Specifically, there is a language constraint that the body of a single-line Function lambda must be a value. C# does not have any equivalent constraint, which is why it was straightforward to fix corresponding issue #74.

The equivalent of the following works in C#, but not VB:

[code]

Unless VB accepts the above, making a sp

[2015-03-06 22:50] gafter commented on #864
/cc @AnthonyDGreen your comments on this?

[2015-03-06 22:53] gafter commented on #864
FYI, this was the text of the unit test I was working on for this:

[code]

[2015-03-06 23:05] VladimirReshetnikov opened #1108 "CommandLineTests.PreferredUILang fails on some machines"
There is a reported test failure that occurs on certain machines. It is likely a culture-related issue. It does not reproduce on my machine, but I have an idea what might cause it. The test is currently skipped due to a different bug.

[code]
<br><sup>Also tracked as DevDiv 1119609.</sup>

[2015-03-06 23:11] #269 closed

[2015-03-06 23:15] jmarolf commented on #269
@shyamnamboodiripad can you verify this?

[2015-03-06 23:15] AlekseyTs commented on #864
I feel that the following two statements should be equivalent:
[code]

Today they are not. This does look like a feature request to me.

[2015-03-06 23:16] tmeschter opened #1109 "EnC rude edit unit tests are failing"
In Roslyn.Services.Editor.CSharp.UnitTests.dll:

* Lambdas_InsertAndDelete_Scopes1
  * Output:
[code]
* Lambdas_Insert_ThisOnly_Top2
  * Output:
[code]

[2015-03-06 23:27] shyamnamboodiripad commented on #269
Sure I will

[2015-03-06 23:28] stephentoub commented on #1103
Thanks, @controlflow.  I'll take a look.

[2015-03-06 23:52] AnthonyDGreen commented on #864
We discussed this when we introduced Async. Because in VB = can mean either assignment or equality it's critical to have clear rules with single-line how to interpret the body.

[code]
When we introduced Async there were now the potential for three kinds of lambdas:

[code]

This was one of the last issues we discussed when debating whether the representation in VB of a task-returning async method

[2015-03-06 23:59] #1029 closed

[2015-03-07 00:26] tannergooding opened #1114 "Exception Filter can cause different behavior when invoked via reflection."
*This was found in an article posted by someone in the community.*

The expected behavior in an exception thrown by the filter should be ignored/treated as false. This is what occurs when the method is invoked directly. However, when the method is invoked via reflection, the exception thrown by the filter is not ignored and causes the invocation to fail.

Console Application:
[code]

Expected Outp

[2015-03-07 00:33] #864 closed

[2015-03-07 00:34] tmat commented on #1114
This is by design. Reflection wraps exceptions in TargetInvocationException.