[2017-11-02 00:09] CyrusNajmabadi commented on #13952
As can Roslyn (i added it when we first did Roslyn 'implement interface'):

![image](https://user-images.githubusercontent.com/4564579/32303688-68f92274-bf27-11e7-8a02-bc562dda841a.png)

[2017-11-02 00:12] CyrusNajmabadi commented on #22294
It's useful to me.  I use it for the majority of my names :)

[2017-11-02 00:15] jcouv commented on #22931
@pquiring How do you print out the SyntaxNode tree?

When I use semantic model APIs to `GetTypeInfo` on the "TestEnum" type in the second project, I see the expected `TypeKind`.

Here's what I tested (I also tested with the code from the description):
[code]

[2017-11-02 00:16] jcouv commented on #22924
Tagging @gafter @DustinCampbell for thoughts on this request.

[2017-11-02 00:18] CyrusNajmabadi commented on #22789
Note: this is not exactly a regression of that form.  For example, say the language added an actual ```<seattle>``` tag.  It would not be a regression that ```<se``` selected "seattle", even though people used to just type ```<se``` expecting it to hit ```<see```.

That said, i agree with you that in this case ```<somelangword``` isn't actually legal, and we should properly be using the ```<``` to

[2017-11-02 00:21] 333fred commented on #22737
The main issue for discussion is whether variable initializers have implicit receivers or not. Certainly the IOperation nodes will be marked as implicit, as each initializer will share the same receiver. However, I'm of opinion that because initializers are just sugar over manually setting each property on the object in question, we shouldn't drop the instance reference, as we wouldn't if they wer

[2017-11-02 00:22] CyrusNajmabadi commented on #22790
Note: i think this should be done.  This is actually how i implemented the exact same feature over in TypeScript: https://github.com/Microsoft/TypeScript/blob/master/src/compiler/parser.ts#L1917

In that parser/language, people routinely make this mistake (since you use semicolons for interfaces/object-types, but commas for object literals, etc.).  So we just leniently allowed the core delimited-l

[2017-11-02 00:31] jinujoseph commented on #22488
This should be fixed in 15.5.Preview4 and later

[2017-11-02 00:31] #22488 closed

[2017-11-02 00:32] CyrusNajmabadi commented on #22810
This was intentional back since the yee olde days of the native language service.  When we added snippets it greatly degraded the *perceived* intellisense experience when typing using directives.  That's because you used to only see this tiny number of keywords that strongly demonstrated that the IDE knew exactly what was going on and was directing you to type only legal things.  Once snippets wer

[2017-11-02 00:33] CyrusNajmabadi commented on #22810
Basically, a by design limitation to make one common experience better at the cost of making a far less common scenario worse.

[2017-11-02 00:34] 333fred commented on #22362
Design Decision:

We standardize VB and C# on having the same tree structure here. In C#, we will have a `LocalDeclarationStatementSyntax` -> `IVariableDeclarationGroup`, `VariableDeclarationSyntax` -> `IVariableDeclaration`, and `VariableDeclaratorSyntax` -> `IVariableDeclarator`. In C# declarations, we will always have 1 group and 1 declaration, with n declarators.
In VB, we have `LocalDeclarati

[2017-11-02 00:36] jcouv commented on #22923
@JosefPihrt
Thanks for the detailed repro. I don't think there is a bug here.
`a` is the generic type `FooException'1`, but `b` is a constructed type `FooException<T>` with a `T` defined at the class level.
This constructed type is constructed from the generic type (which is `a`). So `a == b.ConstructedFrom`.

[code]

I'll go ahead and resolve the issue. Feel free to ping me if that didn't make se

[2017-11-02 00:39] heejaechang commented on #22970
sure. I can add Roslyn for all services we own.

[2017-11-02 00:52] jcouv commented on #22905
@pquiring I wasn't able to reproduce the problem. Can you clarify what you mean by "print SyntaxNode tree"?

Here's what I tried:
[code]

[2017-11-02 00:55] chborl commented on #22672
Thanks @CyrusNajmabadi!  I'll take a look at this in the next couple of days.

[2017-11-02 00:59] jcouv commented on #22866
@denzelition Were you able to update Visual Studio, or capture a crash dump, by any chance?

[2017-11-02 01:04] jcouv commented on #22663
@Saibamen
From your description, my natural inclination is to assume there is a problem with your project, not with the compiler.
Would you be able to narrow down the repro somewhat, to support the idea that there is a problem with the compiler or compiler package?

[2017-11-02 01:31] jcouv commented on #22660
I agree. Queue a fix (https://github.com/dotnet/roslyn/pull/22973).
Thanks for the feedback.

[2017-11-02 01:33] jcouv commented on #22911
@VSadov What do you think about this?

[2017-11-02 01:38] jcouv commented on #22632
FYI @tmat

[2017-11-02 01:40] jcouv commented on #22536
Introducing warnings on existing code requires the "warning waves" feature (https://github.com/dotnet/roslyn/issues/1580).

[2017-11-02 02:20] jcouv commented on #22501
Confirmed there is a problem.
Simplified the repro a bit (below). We'll need to investigate further.

[code]

[2017-11-02 02:27] jcouv commented on #22459
The comments are correct. The current behavior is by-design.

My initial thought was this would be nice to support. But on second thought, why would you pass a tuple into an attribute, rather than passing two arguments/properties? The benefit seems small, especially given the hurdles to make this happen.

[2017-11-02 02:54] jcouv commented on #22923
On further reflection, I think this raises the question of whether the symbol from the `cref` should have been constructed too. I don't know the answer.

[2017-11-02 04:15] jcouv commented on #15890
@jaredpar Do you know if serialization made it into NET Standard 2.0?

[2017-11-02 04:16] jcouv commented on #20900
@agocke @khyperia What's the proper milestone for this work item?

[2017-11-02 04:59] jcouv commented on #18379
We've made a change to get more information in Watson dumps. I'll go ahead and close this issue, and we'll use Watson issues to follow up as needed.
Thanks for reporting the problem.

[2017-11-02 04:59] #18379 closed

[2017-11-02 05:54] AArnott commented on #22970
Thanks!

[2017-11-02 05:55] AArnott commented on #22697
Not so far as I'm aware. In fact I'd like to support not providing this delegate. But we haven't implemented that feature yet.

[2017-11-02 09:13] MkazemAkhgary opened #22978 "Change Visual studio build path for Ram disk"
Currently I have Visual Studio 17 V 15.4.2
Is it possible to set different build path for projects? for example instead of

`C:\Users\[UserName]\source\repos\[MyProject]\[bin|obj]`

move it on

`M:\Users\[UserName]\source\repos\[MyProject]\[bin|obj]`

note that project it self is inside `C` but temporary files are moved somewhere else. I have drive `M` which is a 16GB ram disk.

**Benefits of usin

[2017-11-02 11:05] #22368 closed

[2017-11-02 11:07] msbasanth commented on #22368
Comment from @Pilchie helped. For now decided to continue with netstandard1.3 until Visual Studio start deploying netstandard2.0 binaries.

[2017-11-02 11:13] #19498 closed

[2017-11-02 11:16] #22754 closed

[2017-11-02 12:59] filipw commented on #17666
FYI [dotnet-script](https://github.com/filipw/dotnet-script) project has been upgraded recently to support .NET Core 2.0. It is also integrated into OmniSharp in order to provide language services in Visual Studio Code.

[2017-11-02 15:49] mavasani commented on #22967
So, I investigated this further and looks like the `IMemberInitializerOperation` is only used for C# for [BoundObjectInitializerMember](http://source.roslyn.io/#q=BoundObjectInitializerMember). VB creates a simple assignment bound node/operation with member reference as the left and initializer expression as the right. I think we should make the tree shape consistent across languages using either

[2017-11-02 16:19] jcouv commented on #22923
@dotnet/roslyn-compiler Do you know what is the expected symbol for the `cref` in `/// <exception cref=""MyException{T}""></exception>`? Should we expect a generic type or a constructed type (with `T` from the class definition)?

[2017-11-02 16:31] mavasani commented on #22967
I read the specs for [C#](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#object-initializers) and [VB](https://github.com/dotnet/vblang/blob/master/spec/expressions.md#object-creation-expressions) object/collection initializers and realized that only C# supports the nested object member initializers of the form mentioned in http://source.roslyn.io/#Microsoft.CodeAnalysis/Oper

[2017-11-02 16:39] nikolami commented on #22925
Thanks for reporting this issue! I added a spinner before the loading to make it more obvious something is still loading. Will release in a future update of Visual Studio.
![image](https://user-images.githubusercontent.com/18406914/32338219-5c253cd8-bfb1-11e7-9116-40b6826c6131.png)

[2017-11-02 16:44] mavasani opened #22979 "Naming for IMemberInitializerOperation"
See https://github.com/dotnet/roslyn/issues/22967#issuecomment-341465839 and https://github.com/dotnet/roslyn/issues/22967#issuecomment-341479997 about the confusion.

[2017-11-02 16:47] mavasani opened #22980 "Duplicate explicit operation node for same syntax for code with invalid collection initializer"
Execute the below IOperation unit test without any source changes (test not yet added):

[code]

Got:
[code]

[2017-11-02 16:50] kuhlenh opened #22981 "Use expression-bodied member doesn't work for local functions"
If I have a single-line local function, we don't offer to make it into an expression-bodied member. We do offer this for single-line methods, though.

[2017-11-02 16:52] svick opened #22982 "Possible refactoring: turn task.Result into await"
Sometimes, especially when prototyping, I use an asynchronous API like `HttpClient` from synchronous code, which means I end up with calls to `.Result` (or `.Wait()`) everywhere. If I later decide to make the code asynchronous, I have to change all those `.Result`s into `await`s. It's not a complicated process, but it is tedious. Also, I might miss one `.Result`, which would mean the resulting cod

[2017-11-02 17:01] rik-smeets commented on #22884
I completely agree they should not be pushed on users. However, if you view it like that, right now the `this.` variant is "pushed" on users.

But I don't see it that way. I just see them as fallback options, so a fix is provided to introduce a field from a constructor even if the user did not explicitly create styles in Visual Studio. I think having a default in that specific case is just fine.

[2017-11-02 17:46] 333fred commented on #15497
Also happened in the integration tests, https://ci.dot.net/job/dotnet_roslyn/job/master/job/windows_debug_vs-integration_prtest/8738/artifact/Binaries/Debug/UnitTests/VisualStudioIntegrationTests/xUnitResults/Roslyn.VisualStudio.IntegrationTests.dll.out.log.

[2017-11-02 19:27] jcouv commented on #22501
@M-Pixel The problem is that the constructor for your attribute type is not properly named.
Changing `MyAttribute(string message) {}` to `MyAttributeAttribute(string message) {}` makes things work as expected.
Closing the issue as by-design.

[2017-11-02 19:27] #22501 closed

[2017-11-02 19:30] 333fred commented on #22070
No longer repros.

[2017-11-02 19:30] #22070 closed

[2017-11-02 20:35] 333fred opened #22988 "Lambda conversion when argument is parenthesized fails in VB."
[code]
Fails with a duplicate explicit syntax node expression. This is because it's not considered a delegate creation conversion, as the operand is a BoundParenthesizedExpression.

[2017-11-02 20:36] jinujoseph opened #22989 "Solution Load Perf"
- [ ] [483683 ](https://devdiv.visualstudio.com/DevDiv/_workitems?id=483683&_a=edit)Move Roslyn off HostObject initialization
- [ ] [501654](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/501654) Initialize Roslyn off UI thread, free-threaded API (Legacy, CPS, LSL)

[2017-11-02 20:40] CyrusNajmabadi commented on #22539
I didn't say "take the code as is and use it", i said that you should look to it as an example of how you can write a more domain specific batch fixer that can do better in certain circumstances.  The general design is simply: "Get your diagnostics, create a syntax editor.  Process each diagnostic, making whatever changes you want to that editor.  Finally return the total edited tree."   The actua

[2017-11-02 20:45] jcouv commented on #22411
@VSadov From discussion with @OmarTawfik, such an analyzer would be annoying (introducing warnings in existing code), which is exactly the same problem as compiler warnings.
This makes me think we should wait until we support warning waves.

[2017-11-02 20:45] 333fred commented on #22988
This actually appears to be an issue in the conversion reclassifier, as we have a tree of: BoundConversion, BoundParen, BoundConversion, BoundLambda. Both the inner conversion and lambda are marked as explicit in code.

[2017-11-02 20:47] CyrusNajmabadi commented on #22566
I've also run into this.  Note: i have pushed for years for their to be a simple API exposed by the diagnostics subsystem for aggregrating and eventing diagnostics for a document.  Currently, there is no such API, and consumers must instead use several *undocumented* APIs and eventing sources to try to figure out what the actual state of the system is.  One such system is the diagnostic tagger.  I

[2017-11-02 20:51] CyrusNajmabadi commented on #22566
Another point to note: we've had barely any issues with all our other taggers (which we have at least a dozen of).  The reason for this is that all our other taggers sit on top of systems that clear supply an authoritative source of data and events to care about.  Because of that, the tagging infrastructure can work reliably for as long as VS stays up.

Diagnostics is the one exception here, and t

[2017-11-02 20:54] CyrusNajmabadi commented on #22924
When does RemoveNode add an EOF?  Why is RemoveNode ever adding anything?

[2017-11-02 21:09] CyrusNajmabadi commented on #22981
We likely need to add an option for that.  My guess is these features were added around the same time, so we didn't end up absorbing local functions into the expression-body work. Tagging @agocke .

Note: should we do the same for lambdas?

[2017-11-02 21:13] jinujoseph commented on #22979
no change to the API name , improve the doc comment

[2017-11-02 21:31] sharwell commented on #22923
@jcouv It's not supposed to be constructed.

[2017-11-02 21:36] maca88 commented on #22924
One example that occurred to me is when `KeepUnbalancedDirectives` option is used. In [this unit test](https://github.com/dotnet/roslyn/blob/94ab292d2c79b1675de0d6ff0a7361ecfbf20cfb/src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNodeTests.cs#L2327) an EOL is added before `#region Fred`.

[2017-11-02 22:35] dpoeschl commented on #18650
FYI @AmadeusW -- it looks like we need a way for Razor completion to happen in C# buffers, but only on .cshtml files. That is, we may need to allow providers to (optionally, probably) specify extensions in their mef export.

[2017-11-02 22:38] sharwell commented on #18650
@dpoeschl Extensions are bad for this. It should be a separate derived content type instead.

[2017-11-02 22:55] pakrym opened #22994 "Wrong error message for `in ref` parameters"
**Version Used**:
https://github.com/dotnet/roslyn/commit/7dfc2fa4ee55c7c8c391ddbfc3fc4312c0c617db

**Steps to Reproduce**:
https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDZICYgNQA+AAgAwAERAjANwCwAUEQMwUBMZAwmQN4Nn8UWRACxkAsgAo0AOzII4AMzIyYygJQ8+AgL4NtQA===
[code]
**Expected Behavior**:
[code]
**Actual Behavior**:
[code]

[2017-11-02 23:35] 333fred commented on #22988
@AlekseyTs and I have taken a look at this, and we've come up with an initial plan to handle this. First, we need to remove some conversions that are getting generated for nested parenthesized expressions. If, for example, you had `Dim((((Sub() Console.WriteLine()))), Action)`, you would have BoundConv -> BoundParen -> BoundConv -> BoundParen -> BoundConv -> BoundParen -> BoundConv -> BoundLambda.

[2017-11-02 23:58] CyrusNajmabadi commented on #22924
Oh.  I misread.  I thought it was EOF, not EOL.  Yes.  EOL should be configurable.  SyntaxRemoveOptions would be a good place to put this info.

[2017-11-03 00:12] paul1956 commented on #22539
@CyrusNajmabadi  the issue is the examples and SyntaxEditorBasedCodeFix use the internal API's so to use them as a starting point I need to clone the internal API's. Also using SyntaxEditor as a starting point is not something that can be "whipped up rather simply" without internal knowledge even Bing can't find documentation on usage. All that said, with the fixes in 2.4 I can process 1,000's of

[2017-11-03 00:20] #22362 closed

[2017-11-03 01:10] jinujoseph commented on #22266
also mentioned at https://developercommunity.visualstudio.com/content/problem/142350/vs2017-1542-csharpconvertiftoswitchcoderefactoring.html

[2017-11-03 02:00] sharwell commented on #22536
@jcouv It seems like these are warnings that should have been added with the new feature. In each case above, the syntax was not valid at all until C# 7.

[2017-11-03 02:05] jinujoseph opened #22996 "Update to new version of SQLite"
The version to switch to 3.19.3 https://www.nuget.org/packages/SQLitePCLRaw.bundle_green/1.1.8

[2017-11-03 02:22] MelbourneDeveloper commented on #112
Yeah sharing code in XF is a real pain because this feature does not exist. All the code in WPF, Silverlight, and UWP uses "DataContext", but the same thing in Xamarin Forms is inexplicably "BindingContext". If I could put an extension property on all BindableObjects, immediately, code sharing would be a lot easier.

[2017-11-03 02:22] MelbourneDeveloper commented on #11159
Yeah sharing code in XF is a real pain because this feature does not exist. All the code in WPF, Silverlight, and UWP uses "DataContext", but the same thing in Xamarin Forms is inexplicably "BindingContext". If I could put an extension property on all BindableObjects, immediately, code sharing would be a lot easier.

[2017-11-03 02:53] jcouv commented on #22536
@sharwell Our practice on breaking changes for new features is they are less tolerable as minor versions pass (the bar raises). I'll forward you guidelines from Jared on breaking changes. In short, only egregious bugs should be up for consideration in the 3rd update after release (ie roughly 9 months of adoption).

[2017-11-03 04:38] ufcpp opened #22997 "Optimization for range-based switch"
Ported from https://github.com/dotnet/csharplang/issues/198#issuecomment-340677919

## TL; DR

I want the following `switch` to be optimized to `O(log N)`.

[code]

## Background

I recently implemented [a Unicode grapheme breaking algorithm](https://github.com/ufcpp/GraphemeSplitter). In this library, [a `switch` statement](https://github.com/ufcpp/GraphemeSplitter/blob/master/GraphemeBreakProper

[2017-11-03 05:52] #22588 closed

[2017-11-03 08:07] jinujoseph opened #23001 "Fix SemanticModel.GetOperation to return distinct Ioperation nodes for distinct syntax nodes"
found by @AlekseyTs

I looked at some failures flagged by the verifier added by PR https://github.com/dotnet/roslyn/pull/22917.
It looks like many of them are caused by the fact that our implementation adjusts the passed-in syntax node by using SyntaxFactory.GetStandaloneNode method:
        /// <summary>
        /// Gets the containing expression that is actually a language expression and not jus

[2017-11-03 12:44] #22768 closed

[2017-11-03 12:47] mikedn commented on #22997
While there's no question that `switch` needs improvement, further and improved analysis of your specific case is likely needed.

For a start, you should ensure that the benchmarks are representative for your scenario. I doubt that random numbers reflect actual Unicode text.

Also, the binary search with array version is pretty poor, there are numerous improvements you could make there. Just a few

[2017-11-03 14:52] Saibamen commented on #22663
@jcouv
Today I've recreated solution from scratch - created new projects with newest Visual Studio 15.4.
Commit: https://github.com/Saibamen/BriskChat/commit/5cfb5b1ddbd18e99505908fb685a7689a4444aab
Build log: https://circleci.com/gh/Saibamen/BriskChat/93

With Microsoft.Net.Compilers 2.4.0:
Commit: https://github.com/Saibamen/BriskChat/commit/03eb1297c73b1c88decc7ff8e06629110035aa7e
Build log: ht

[2017-11-03 15:03] pquiring commented on #22931
I use this project to print the SyntaxNode trees.

github.com/pquiring/CSPrintTree

I'll attach the print outs from bug1 and bug2.

In bug2 you'll see that the Enum looks like a Class according the the Type.TypeKind.

[bug1.txt](https://github.com/dotnet/roslyn/files/1441446/bug1.txt)
[bug2.txt](https://github.com/dotnet/roslyn/files/1441447/bug2.txt)

[2017-11-03 15:05] mavasani commented on #22979
Already done as part of #22983 - closing this issue.

[2017-11-03 15:05] #22979 closed

[2017-11-03 15:09] pquiring commented on #22905
I use this project to print out the SyntaxNode tree:

github.com/pquiring/CSPrintTree

I'll attach the print out of the program.  In the output I added *BUG* where the problem occurs.

[bug.txt](https://github.com/dotnet/roslyn/files/1441467/bug.txt)

[2017-11-03 16:43] mavasani commented on #18073
Test is unskipped and executing fine

[2017-11-03 16:43] #18073 closed

[2017-11-03 17:09] #22964 closed

[2017-11-03 17:11] jcouv commented on #22905
There are errors/diagnostics in the code that you're analyzing, which are visible because the nodes near the "*BUG*" marker have `Type.Kind=ErrorType`. Code with errors cannot be successfully be bound, which means that syntax won't successfully be associated with symbols.
You can find out the errors in the code by looking at diagnostics on the compilation.

The behavior you describe still appears

[2017-11-03 17:11] #22905 closed

[2017-11-03 17:11] sharwell commented on #22822
Hi @maxdeviant,

That definitely looks unpleasant (to say the least). I've tried to reproduce this but haven't been successful so far. Can you follow the steps in the following page to provide us with data to resolve this? After filing the feedback ticket(s), you can add a comment here with a link to them and I'll go hunt this down. 😄

https://github.com/dotnet/roslyn/wiki/Reporting-Visual-Studio-

[2017-11-03 17:28] jcouv commented on #22931
Binding of symbols cannot complete when there are errors (the compiler will do the best it can) and I see in bug2.txt that there is `TypeKind=Error` in a few places.
Look at the diagnostics to understand why.

[2017-11-03 17:30] 333fred commented on #21509
With the new GetOperation method, this is no longer relevant. Closing.

[2017-11-03 17:30] #21509 closed

[2017-11-03 17:42] AlekseyTs opened #23004 "System.NullReferenceException is thrown by CSharpOperationFactory.DeriveArguments for erroneous ElementAccessExpression"
[code]

System.NullReferenceException: 'Object reference not set to an instance of an object.'

binder was null.

[code]

[2017-11-03 18:47] 333fred commented on #22175
Design Decision:
Do it.

[2017-11-03 18:57] VSadov commented on #22997
Interesting.

I am not sure that a lot can be done to help `case uint i0 when 1536 <= i0 && i0 <= 1541:` - to morph that into binary search with range checks compiler would need to prove that it is indeed a range check and that comparisons are not producing or observing sideeffects and that ranges in different cases are not overlapping (if they are, then lexical order of cases matters), etc..

It

[2017-11-03 18:58] jcouv commented on #22663
@Saibamen Thanks for the comparative results.

I checked out both commits on Windows, loaded the solution and rebuilt solution from Visual Studio. The build succeeded in both cases. Let me know if that's not the case for you.

I'm trying on Linux (Ubuntu 16 in Docker), as it seems that's what your logs indicate. But commit 5cfb5b1 doesn't pass `dotnet build`.

Here's what I ran:
[code]

Produces
`

[2017-11-03 19:12] VSadov commented on #22950
The error is correct. The document is wrong. It is not really a spec it was the initial proposal of the feature. A lot changed since then.

I will try fixing up the document to reflect the final state of readonly references.

[2017-11-03 19:27] VSadov commented on #22921
[code]

[2017-11-03 19:28] sharwell commented on #22945
Yes, hidden (aka none, silent) should show as a refactoring, not a fix.

Limitation here is due to the way severities are assigned to diagnostics reported by the code style analyzers.

[2017-11-03 19:30] VSadov commented on #22921
In any case, making this a warning now could potentially break somebody's code, so IMO, the bar for making suggested change would be fairly high

[2017-11-03 19:35] sharwell opened #23005 "Refactoring icon should be applied per-diagnostic"
See #22945

It appears the refactoring icon is being incorrectly triggered currently.

**Expected Behavior**:

* If one or more diagnostics is reported on the line with severity info (suggestion) or higher, show as a fix
* If diagnostics appear on the line, but all have severity hidden (none, silent), show as a refactoring
* If no diagnostics appear on the line but refactoring operations are avail

[2017-11-03 19:36] sharwell commented on #22945
@CyrusNajmabadi I filed #23005 to get this fixed

[2017-11-03 19:39] sharwell commented on #22921
@ivanbasov I would encourage you to provide feedback for dotnet/roslyn-analyzers#459 and/or dotnet/roslyn-analyzers#461.

[2017-11-03 19:47] VSadov commented on #22921
Right - "unused parameters" analyzer is one of my favorite from the old FxCop perf subset. Especially the special case about unused "this" - "why is this an instance method?".

Also, since we now have "_" discard, it could be easier to argue that unused locals are generally useless (except for debugging, maybe) and thus are likely to be mistakes/typos/bugs.

It is just because in either case there

[2017-11-03 19:53] VSadov commented on #22911
I am working on a more general proposal for a pattern-base pinning.

It should be able to answer the interop question for types such as `ImmutableArray`, `Span`, heapable `Utf8String`, and so on in a more general way. There is clearly a need.

[2017-11-03 19:59] 333fred opened #23006 "Expose array rank specifiers in typeof"
In IOperation, we don't expose bound nodes inside array rank specifiers on types. For example:
[code]
This is why we are special casing typeof expressions in `AssertTypeFromOperation` https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs#L1078

[2017-11-03 20:02] 333fred opened #23007 "Expose invalid nodes under bad foreach"
In `foreach` statements, we don't expose some error scenarios, so IOperation doesn't have nodes in the tree. An example is GetEnclosingBinderInternalRecovery_11,
[code]
This is why we are special casing foreach expressions in AssertTypeFromOperation https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs#L1078

[2017-11-03 20:06] CyrusNajmabadi commented on #22945
Thanks!

[2017-11-03 20:20] ivanbasov commented on #22921
Thank you, @VSadov! For https://github.com/dotnet/roslyn-analyzers/issues/461, it was decided some months ago to use just compiler warnings as an input. Do you mean we should not rely on compiler warnings and should have own code for the purpose?

FYI: @mavasani, @333fred

[2017-11-03 20:34] #21311 closed

[2017-11-03 21:40] ivanbasov commented on #22921
@VSadov, could you please consider adding a new warning id for those cases?
@mavasani, if there are other approaches to provide diagnostics not as warnings or errors, please let us know.

[2017-11-03 21:46] #22660 closed

[2017-11-03 22:04] AlekseyTs opened #23009 "The same IOperation node is used in two places in the tree for a conditional access in an error case."
[code]

Current parent is ConditionalAccess and we are trying to set a Call.
The following expression is evaluated to true:
[code]

In other words the IOperation for ```base``` expression is used as a IConditionalAccessOperation.Expression and as a IInvocationOperation.Instance. The IInvocationOperation is a IConditionalAccessOperation.WhenNotNull in that case.

[code]

[2017-11-03 22:07] jcouv commented on #22997
FYI @gafter @khyperia

[2017-11-03 22:15] thauk-copperleaf opened #23011 "Microsoft.CodeAnalysis.Workspaces.Desktop.dll is missing from the netstandard1.3 version of Microsoft.CodeAnalysis.Workspaces.Common NuGet package"
But it is present in the `net46` version of that package.

Is that an accident? If yes, how can it be resolved?

Is that on purpose? If so, then why isn't that assembly included?

Any help would be most appreciated; I am having great difficulties creating a C# Library project (either targetting .NET Standard, or .NET Framework 4.6.2/4.7.1) that uses Roslyn and a corresponding C# .NET Framework-bas

[2017-11-03 22:36] 333fred commented on #21740
This has been fixed.

[2017-11-03 22:36] #21740 closed

[2017-11-03 23:08] Saibamen commented on #22663
@jcouv
Thanks for investigating my problem.

I think you must run `dotnet restore` before build ;)

I'm able to build project in Windows 10 with latest Visual Studio, JetBrains Rider. AppVeyor runs it correctly too: https://ci.appveyor.com/project/Saibamen/briskchat/build/1.0.128

Only `dotnet build` (build full solution, builds separate projects: DataAccess, BusinessLogic and BusinessLogic.Tests

[2017-11-03 23:16] MkazemAkhgary opened #23012 "Add Go To Implementation option for Deconstruct calls"
Currently (without use of resharper) there is no convenient way to know which deconstruct is being resolved when you for example write this.

    var (x, y) = GetResult();

it would be nice if there was a easy an convenient way to navigate to deconstruct overload that is being used.

[2017-11-03 23:28] mavasani commented on #18722
Re-opening to track adding this interface in v2.

[2017-11-03 23:29] mavasani commented on #11737
This work is now tracked with https://github.com/dotnet/roslyn/issues/18722 - adding IInvalidInvocationOperation in v2 of IOperation feature work.

[2017-11-03 23:29] #11737 closed

[2017-11-03 23:30] Pilchie commented on #23011
It is on pupose because that assembly relies on APIs that aren't present in .NET Standard.

[2017-11-03 23:37] Leon99 commented on #22663
My project is Core 2.0

[2017-11-04 00:13] thauk-copperleaf commented on #23011
That just means a .NET Core library won't be able to load the DLL; since I'm targeting .NET Standard then I can use the version from `net46`. At least I've copied over the DLL directly into my project, and that seems to work.

[2017-11-04 03:19] davidfowl commented on #22911
YESSS!!

[2017-11-04 07:53] jameslinden commented on #22600
@khyperia Using `dotnet restore` for BaseToolset and CoreToolset doesn't fix the errors I get when trying to `dotnet build CrossPlatform.sln`:

8 Errors when building all of the same log:
`/usr/local/share/dotnet/sdk/2.0.2/Microsoft.Common.CurrentVersion.targets(4406,5): error MSB3030: Could not copy the file "/Users/jlinden/.nuget/packages/microsoft.csharp/4.3.0/ref/netstandard1.0/Microsoft.CShar

[2017-11-04 08:43] agocke commented on #22600
@jameslinden Could you try running `./build/scripts/restore.sh` from the `post-dev15.5-contrib` branch? I've just made a few fixes here that may help.

[2017-11-04 08:58] jameslinden commented on #22600
@agocke Doesn't seem to work, I've already installed the dotnet SDK but it thinks I haven't.  Here's the output when I use restore.sh:

[code]

[2017-11-04 09:01] agocke commented on #22600
I think we may be using a special preview version of the SDK, so the version you installed may not be sufficient. You may want to try running the `obtain_dotnet.sh` script in the same directory, which should download a compatible version.

[2017-11-04 09:10] jameslinden commented on #22600
@agocke After getting the newer dotnet cli from the obtain_dotnet.sh script, here's my output:

[code]

[2017-11-04 09:13] jameslinden commented on #22600
Meant to do dotnet restore instead of build.  I'll try it again.

[2017-11-04 09:33] jameslinden commented on #22600
@agocke The restore finished but this branch doesn't have a `CrossPlatform.sln` I can run dotnet build on, is there something else I should be doing instead?

[2017-11-04 09:45] jameslinden commented on #22600
@agocke I switched to master after using the restore from the `post-dev15.5-contrib` branch and built CrossPlatform.sln without the appearance of errors.  I'll try using the API.  Thanks for the help.

[2017-11-04 09:58] MkazemAkhgary opened #23013 "Add option to change relative path of project builds."
Please add this option in `Options/Projects and Solutions/Locations`

 - Project Builds Relative Path

default value should be equal to `Projects location` option.

**Notes to consider:**

user should not be able to specify exact build path of project. because it will cause collision on different projects. so if this path is specified for builds:

`C:\Project Builds`

final path of each project wi

[2017-11-04 16:48] jcouv commented on #23012
Relates to https://github.com/dotnet/roslyn/issues/16529

[2017-11-04 18:03] pquiring commented on #22905
The diagnostics say this:
`error CS0103: The name 'Console' does not exist in the current context`
If I add System to the Console call it then says this:
`error CS0234: The type or namespace name 'Console' does not exist in the namespace 'System' (are you missing an assembly reference?)`

In the compiler setup I use the following:

                String lib = typeof(object).Assembly.Location;

[2017-11-04 18:06] pquiring commented on #22931
The diagnostics say:
`error CS0012: The type 'Enum' is defined in an assembly that is not referenced. You must add a reference to assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'`

But I add a reference to the other project using:
`                compiler = compiler.AddReferences(MetadataReference.CreateFromFile(lib));`
Where lib is the dll from the other

[2017-11-05 00:11] agocke commented on #22600
@jameslinden As of `post-dev15.5-contrib` you can just use `Compilers.sln`. The `CrossPlatform` solution was a subset of `Compilers` -- I've ported the rest of it to build on Mac and Linux (just building though, if you want to use the net46 output, you'll still have to run that under Mono or on Windows. The netcoreapp2.0 output runs everywhere).

[2017-11-05 01:34] jcouv commented on #7004
Language issue was moved to https://github.com/dotnet/csharplang/issues/42
Implementation started for 7.3: https://github.com/dotnet/roslyn/issues/22512

[2017-11-05 01:34] #7004 closed

[2017-11-05 01:46] jimorc commented on #22497
This is no longer happening. I have no idea what changed, just that it no longer occurs.

I will reopen if it happens again.

[2017-11-05 01:46] #22497 closed

[2017-11-05 01:53] jcouv commented on #19984
Per @gafter's comment this is by design. I see that a csharplang issue was filed.
I'll go ahead and close OP. Thanks

[2017-11-05 01:53] #19984 closed

[2017-11-05 01:56] jcouv commented on #22313
I didn't hear back on requested clarifications. I'll go ahead and close the issue. Thanks

[2017-11-05 01:56] #22313 closed

[2017-11-05 01:59] jcouv commented on #22671
Relates to https://github.com/dotnet/roslyn/issues/22872

[2017-11-05 02:28] AlekseyTs commented on #23001
I think we don't need to fix SyntaxFactory.GetStandaloneNode, we should just stop calling it.

[2017-11-05 02:31] #22967 closed

[2017-11-05 05:58] ufcpp commented on #22997
@mikedn

I've tried the suggested improvements: https://github.com/ufcpp/GraphemeSplitter/commit/4159c73f626e74ea5e27cf7d384a01de71a525b1

|          Method |       Mean |     Error |    StdDev |
| --------------- |-----------:|----------:|----------:|
|  ByBinarySearch |   3.349 ms | 0.0152 ms | 0.0135 ms |
|        BySwitch |   3.597 ms | 0.0136 ms | 0.0114 ms |
|      ByBinaryIf |   2.386 ms |

[2017-11-05 09:15] stakx opened #23015 "CS0612 warning about obsolete member not suppressed when it is referenced by a ObsoleteAttribute placed on a method"
**Version Used**: Visual Studio 15.4.0

**Steps to Reproduce**:

1. Create a C# console app or class library project and paste the following code into a new code file:

[code]

**Expected Behavior**: No compiler warnings should be emitted about `Old` being obsolete. (The two methods that reference `Old` are themselves marked `[Obsolete]`. The `[Obsolete]` attributes that themselves refer to `Old`

[2017-11-05 12:51] sputier commented on #22955
It seems this one would be a good start for a first contrib on Roslyn. I'll try to handle it !

[2017-11-05 15:42] vsfeedback opened #23016 "Add this or me qualification rule triggered incorrectly in return statement"
Have the following code:

            return new UserSession
            {
                UserId = subject
            };

Where UserSession is a simple class with property UserId. I'm getting green squiggles under the UserId in that statement, suggesting I add this or me qualification.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/126539/add-this-or

[2017-11-05 15:45] sharwell commented on #23016
@zaytsev-victor This was reported in 15.5 Preview, but @dpoeschl was unable to reproduce it on the first attempt.

[2017-11-05 16:29] jamesqo opened #23017 "GetDeclarationKind on variable declarations never returns DeclarationKind.Variable"
https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs#L2135 checks if the variable declaration's parent is `null`, meaning the declaration must be the root node, before it returns `DeclarationKind.Variable`. I don't think any well-formed C# program can have a variable declaration as the root node, so it seems like a mistake.

[2017-11-05 16:31] zaytsev-victor commented on #23016
@sharwell I was able to reproduce this issue with the following code
[code]

I will take a look.

[2017-11-05 18:27] sharwell commented on #22884
The current defaults match the default behavior of this functionality going back to at least Visual Studio 2013. Considering we now have a way for individual projects to change the behavior as part of the .editorconfig settings for the project (a feature we are actively working to encourage adoption of), I am against changing the fallback behavior at this time.

:memo: This comment reflects my vie

[2017-11-05 18:40] sharwell commented on #22921
@ivanbasov As long as the analyzer uses the compiler warnings as input, it will suffer from the same limitations as the compiler warnings. If you want to expand the set of supported cases, it would need to be implemented as part of the analyzer code.

[2017-11-05 19:12] zurichero commented on #21627
Still the same problem... :-(
Microsoft.Net.Compilers 2.4.0
Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.08

Re-/installed both packages... still the same problem from time to time.
only solution is to kill the process VBCSCompiler.exe

[2017-11-05 20:09] lukasf commented on #112
@MelbourneDeveloper: Extension properties are not real properies. They cannot be seen by reflection on the target object, so they will not be picked up by any data binding based framework such as Xaml UWP or Xamarin Forms. This will not help you in any way.

[2017-11-05 21:11] CyrusNajmabadi commented on #22884
True.  But this is also how things have been since the first days we offered any of these features.  I would prefer that we just stick with that as a default, and allow users to use our existing style features to opt out if they want.

--

For better or for worse, .net and C# have remained very un-opinionated on these topics.  It's only very recently that we've even made some style guides.  And th

[2017-11-05 21:48] CyrusNajmabadi commented on #22931
It's not sufficient to just have a reference to the other project.  The compiler does not transitively pick up metadata references from that project.  After all, say you had the following setup:

[code]

This is legal, and normal.  When compiling B, the compiler only uses the you provided to it directly (i.e. the A dll and Foo2.dll.

So, you need to tell your other compiler instance that it has a

[2017-11-05 21:56] paul1956 opened #23019 "EV Error BC36946 using NameOf with Async Function"
**Version Used**:
VB 15.4
**Steps to Reproduce**:
1. copy program fragment below in VB code window
[code]
**Expected Behavior**:
No Errors
**Actual Behavior**:
Error BC36946 The implicit return variable of an Iterator or Async method cannot be accessed.

[2017-11-05 21:58] CyrusNajmabadi commented on #23017
I think that check is only looking at new code created.  I think for existing code, it expects to be called on things like the field declaration, or local declaration statement declaration.

[2017-11-05 22:05] CyrusNajmabadi commented on #22923
I could see things going one of two ways here.  Because it's a type, and we have no way of representing instantiated generic types in doccomments, we should always just get a non-constructed 'original' type definition here.  i.e.  ```List{X}``` ```List{Y}``` and ```List{Whatever}``` always just give you the 'original' type for ```List<T>```.

However, then there is the case of generic methods.  i.

[2017-11-05 22:08] CyrusNajmabadi commented on #22539
True.  I should have been clearer.  What is more accurate is: this can be whipped up simply, if one is already familiar with the public SyntaxEditor API.

What is "it" in your "and it does not ignore" clause mean?  Thanks!

[2017-11-05 22:13] CyrusNajmabadi commented on #22266
I believe this was fixed with https://github.com/dotnet/roslyn/pull/21362

[2017-11-05 22:37] sharwell commented on #22539
@paul1956 As an alternative, consider looking at the fixes in StyleCop Analyzers. The [StyleCop Analyzers Status](https://stylecop.pdelvo.com/) page has a code fix column. Code fixes with ⌛️ use a deterministic variant of Roslyn's original batch fixer, but the ones with ✔️ use targeted high-speed fixers that do not rely on the batch fixer and can handle hundreds of thousands of fixes without probl

[2017-11-06 00:52] paul1956 commented on #22539
@CyrusNajmabadi  I have a code fix provider and am trying to fix error ERR_StrictDisallowImplicitObject for example, if I set a project to require As Clause on every declaration the compiler correctly reports them on generated code, this is especially true in Forms projects and Roslyn for example. But trying to fix those is a waste of time because they get regenerated. So I want my batch fixer to

[2017-11-06 02:00] sharwell commented on #22539
@paul1956 Here's an example of a Fix All Provider which removes `this.` from locations where it is not required:

https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/79abcc6a19554dc0148bc2afa14dfb97e1f9a02c/StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/ReadabilityRules/SX1101CodeFixProvider.cs#L68-L100

[2017-11-06 02:50] Thealexbarney opened #23020 "Generation of the GetHashCode method of anonymous types is not deterministic"
**Version Used**:
Commit 72b8f88b0d

**Steps to Reproduce**:

1. Create the following .cs file:
[code]
2. Compile it with core MSBuild
3. Copy the output .dll elsewhere and compile it again
4. Alternatively, use csc and set the `deterministic` flag:
`dotnet csc.dll Program.cs /target:library /deterministic /noconfig /reference:"C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.netcore.app\

[2017-11-06 03:06] jcouv commented on #23020
Tagging @gafter

[2017-11-06 03:08] jcouv commented on #23012
Also relates to https://github.com/dotnet/roslyn/pull/22934 (PR currently being reviewed), which adds a compiler API exposing information about deconstructions. That can be used by the IDE to find out what `Deconstruct` method is involved at a certain location.

[2017-11-06 03:09] jcouv commented on #20900
Ping @agocke @khyperia
What is the status and proper milestone for this issue? Thanks

[2017-11-06 03:16] jcouv commented on #23012
I'll close this issue in favor of #16529. I think GoToDefinition makes more sense, and, regardless, we only need one issue for IDE to track this navigation request. Thanks

[2017-11-06 03:16] #23012 closed

[2017-11-06 04:34] jcouv opened #23022 "C# and VB changes missing from VS 15.5 release notes"
See https://www.visualstudio.com/en-us/news/releasenotes/vs2017-Preview-relnotes

[2017-11-06 05:27] jameslinden commented on #22600
@agocke Sorry to bug you with a seemingly newcomer question but I'm not very familiar with resolving dependencies for a dotnet project.  I was able to get the DLLs to build on Mac, but I'm not sure how to properly install them into my GAC for use since invoking gacutil on the DLLs gives me errors pertaining to the DLLs not being "strong-named".

I tried manually creating a project from scratch wit

[2017-11-06 05:58] jameslinden commented on #22600
@agocke Actually, I got up and running just by using nuget in Visual Studio to add Microsoft.CodeAnalysis.CSharp and System.Runtime.Loader to a dotnet core project.

[2017-11-06 06:36] jcouv commented on #22817
@VSadov for comment and triage.

[2017-11-06 08:20] paul1956 commented on #22539
@sharwell thanks for the example, before I try another implementation I would like to understand how the SyntaxEdit is supposed to work. I am using your DocumentBasedFixAllProvider as a starting point and when I look at Editor.GetChangedRoot it is always the original document.
[code]

[2017-11-06 10:02] vsfeedback opened #23026 "codelens detects wrong author"
After moving a file I am marked as the author of every method in that file.  This is not what `git annotate` would say (it knows the file was just renamed).

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/142868/codelens-detects-wrong-author.html
VSTS ticketId: 518703_
_These are the original issue comments:_
(no comments)
_These are the original issue

[2017-11-06 10:09] jinujoseph commented on #22266
also mentioned [Link](https://developercommunity.visualstudio.com/content/problem/142896/%E1%84%8F%E1%85%A9%E1%84%83%E1%85%B5%E1%86%BC-%E1%84%8C%E1%85%AE%E1%86%BC-%E1%84%92%E1%85%AA%E1%84%86%E1%85%A7%E1%86%AB-%E1%84%89%E1%85%A1%E1%86%BC%E1%84%83%E1%85%A1%E1%86%AB%E1%84%8B%E1%85%A6-%E1%84%82%E1%85%A9%E1%84%85%E1%85%A1%E1%86%AB%E1%84%89%E1%85%A2%E1%86%A8-%E1%84%87%E1%85%A1%E1%84%80%E1%85%A1-%E1%84%8

[2017-11-06 10:11] robert-j-engdahl commented on #23026
Just wanted to add that I was the original creator of this issue via VS feedback (and I am on github too).

[2017-11-06 11:02] SomeAnon42 commented on #14050
project.json is kinda dead, so guess I'll just close this one.

[2017-11-06 11:02] #14050 closed

[2017-11-06 11:40] paul1956 commented on #22539
I am going to close this, it looks like between the 2.4 fixes and the examples by @sharwell most people should be able to implement something that doesn't run out of memory. Plus #22591 should address the missing testing for batch fixers over large projects. I would still like to understand why SyntaxEdit doesn't work as expected but that is really a separate issue.

[2017-11-06 11:40] #22539 closed

[2017-11-06 12:29] pquiring commented on #22931
I do add a reference to System.Enum with this code:

[code]

Then I add the reference to the other project and STILL get errors.

Why doesn't the compiler see System.Enum from this reference?

[2017-11-06 14:06] ArztSamuel commented on #22872
ILVerify is now also targeting `net46`, since https://github.com/dotnet/corert/pull/4862.

[2017-11-06 16:17] Therzok opened #23027 "PatternMatcher does not match end of string"
**Version Used**:
2.6.0

**Steps to Reproduce**:

1. Have a class named MainClass in the project
2. Use solution explorer and search for "lass"

**Expected Behavior**:
MainClass is shown

**Actual Behavior**:
No results are found

This behaviour is an improvement over the current matcher. We used to have this functionality in VS4M, but switching to the roslyn navigate to search service makes us lo

[2017-11-06 16:55] Flamtap commented on #21627
@beflint @zurichero

Did you guys try using the exact `Microsoft.Net.Compilers` package version that `Microsoft.CodeDom.Providers.DotNetCompilerPlatform` installs as a dependency? See my [previous comment](https://github.com/dotnet/roslyn/issues/21627#issuecomment-329541823).

[2017-11-06 17:01] sharwell commented on #23027
This is currently by design (substring matches must start at a word boundary), but I'm considering was to expand this in the future. The A/B testing telemetry points to start considering changes to pattern matching behavior will go out in 15.6.

I'm hesitant to implement this directly, preferring instead to focus on the algorithm as a whole having the ability to correctly determine what the user w

[2017-11-06 17:08] Jinhuafei commented on #21627
@zurichero the latest version of DotNetCompilerPlatform will try to kill VBCSCompiler.exe if it fails to copy Roslyn bits. Do you have msbuild log that you can share?

[2017-11-06 17:17] beflint commented on #21627
Jinhauafei ... there is log attached to mey Oct 3 comment.

[2017-11-06 17:32] beflint commented on #21627
Flamtap, I am current running following versions in my solution:
-Microsoft.CodeDom.Providers.DotNetCompilerPlatform  1.0.5
-Microsoft.Net.Compilers.2.3.2
Was previously running following version but had to downgrade to 1.0.5 because VS2015 would not let me publish:  Downgrade allowed me to publish, but the Roslyn compiler problem still persisted.
-Microsoft.CodeDom.Providers.DotNetCompilerPlatfor

[2017-11-06 17:38] thauk-copperleaf commented on #23011
@Pilchie Is there any task currently scheduled to remove `Microsoft.CodeAnalysis.Workspaces.Desktop`'s dependencies on .NET Framework APIs?

If not, what would you estimate the effort required as? Would this be something plausible for someone external to MS to do, and submit as a PR?

[2017-11-06 17:48] sharwell commented on #23011
@thauk-copperleaf Currently @DustinCampbell is investigating the possibility of moving one or more APIs from the desktop-only down to .NET Standard, including but not limited to cases enabled by new APIs in .NET Standard 2.0. I know it is a highly-involved task (especially since we have compatibility concerns to consider), so he would be the one to ask about it.

[2017-11-06 18:41] jinujoseph opened #23030 "Ctrl+click GTD on a simple number argument creates link to type"
Reported by Mark Wilson-Thomas
Ctrl+Click Go To Definition on a simple number argument creates link to type! Not what I wanted...

 ![image](https://user-images.githubusercontent.com/12449387/32457762-05ab5b18-c2df-11e7-93d3-9d2b2c12a82c.png)

[2017-11-06 18:42] jinujoseph commented on #23030
also look at https://github.com/dotnet/roslyn/issues/22786

[2017-11-06 18:43] amcasey commented on #22923
It looks by design to me.  The two `T`s are unrelated.  You should have `a.OriginalDefinition == b.OriginalDefinition` though.

[2017-11-06 19:25] CyrusNajmabadi commented on #22539
If you debug into your code, do you see the calls to .ReplaceNode happening?

[2017-11-06 19:47] CyrusNajmabadi commented on #23027
Yup. As Sam said, currently 'by design'.  We used to support arbitrary substring matches in the past, and hte number of false positives was too high.  Furthermore, when we actually discussed things with users, we found that this wasn't something that people really intentionall meant to do.  I mean... who searches for "ocument" instead of "Document" or "Doc" or "D"?

The only times where this bit p

[2017-11-06 19:50] CyrusNajmabadi commented on #23030
I'm curious what they did want to happen.  That said, ctrl-click navigation on literals seems unlikely for people to do.  I'm guessing it was just fast-fingering that let to a suboptimal result.  At least with symbols, people can see hte value.  But the value for literals is so low that it would likely be better to just suppress things entirely than show a result that won't be appreciated.

[2017-11-06 20:06] AlekseyTs commented on #22923
This is in line with my recollection of the design. The ```T``` inside ```FooException{T}``` is not a reference to the type parameter in  ```class FooException<T>```. Otherwise, references to APIs in other types simply wouldn't work, the type parameters simply wouldn't be in scope. Therefore, the names inside ```{T}```  do not really matter, each of them "declares" a new "fake" type and ```FooExce

[2017-11-06 21:16] sputier commented on #22955
In [InlineRenameSession.cs, line 378](https://github.com/dotnet/roslyn/blob/878ffad23b8b06cb229c9ab31eada7634a473508/src/EditorFeatures/Core/Implementation/InlineRename/InlineRenameSession.cs#L378), there is a use to `IInlineRenameInfo.GetFinalSymbolName()` whose implementation ([AbstractEditorInlineRenameService.SymbolRenameInfo](https://github.com/dotnet/roslyn/blob/878ffad23b8b06cb229c9ab31eada

[2017-11-06 22:00] kuhlenh opened #23033 "EditorConfig Option csharp_preferred_modifier_order is missing `const`"
We're missing the `const` modifier from the list of possible options for `csharp_preferred_modifier_order`

[2017-11-06 22:24] DustinCampbell commented on #23011
@thauk-copperleaf : Which APIs from Microsoft.CodeAnalysis.Workspaces.Desktop are you trying to use?

[2017-11-06 22:36] thauk-copperleaf commented on #23011
@DustinCampbell Pretty much just `var workspace = MSBuildWorkspace.Create();`

[2017-11-06 22:39] DustinCampbell commented on #23011
OK. Yes, this is being worked on in https://github.com/dotnet/roslyn/pull/21670. Ultimately, I expect that we'll move MSBuildWorkspace into a separate package.

[2017-11-06 23:26] jasonmalinowski commented on #15871
This is now a dupe of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/501654 internally, and since these are both just tracking bugs for work I'll give the internal cross-team one precedence.

[2017-11-06 23:26] #15871 closed

[2017-11-06 23:28] jasonmalinowski commented on #20227
@KirillOsenkov Correct.

[2017-11-06 23:28] jasonmalinowski commented on #20227
At this point I'm going to close this since as far as I can tell, there is no product bug here...

[2017-11-06 23:28] #20227 closed

[2017-11-06 23:29] jasonmalinowski commented on #19911
At this point this is no longer actionable since we've lost the logs.

[2017-11-06 23:29] #19911 closed

[2017-11-06 23:35] jasonmalinowski commented on #16599
@jmarolf What does this bug mean today? If I do reset settings, it won't actually reset codestyle because it won't reapply the defaults?

[2017-11-06 23:38] jasonmalinowski commented on #9602
This test system was deprecated months ago.

[2017-11-06 23:38] #9602 closed

[2017-11-06 23:39] jmarolf commented on #16599
@jasonmalinowski correct there is a xml file that get deployed with VS that contains all the default settings.  We will want to update this to contain all of the new rules that we've added in the past year.

[2017-11-07 00:03] jnm2 commented on #22184
This is bugging me pretty regularly.

[2017-11-07 00:25] jcouv opened #23037 "ChangeSignature doesn't handle Deconstruct properly"
The refactoring introduces errors in error-free code.

[2017-11-07 00:47] CyrusNajmabadi commented on #22184
Strange.  We use a speculation analyzer here to check if ReplacementChangesSemantics.  I'm curious why that's not returning true for cases like this.  Certainly the type changing from 'Int32' to 'Object' should flag this as a semantics change...

[2017-11-07 00:57] VSadov commented on #22671
Proposal of extension to IL verification rules that would account for new features were posed here:

https://github.com/dotnet/designs/pull/17    -  ref returns
https://github.com/dotnet/designs/pull/21    -  readonly references

I think the further discussions should happen over there.

(note there likely will be some minor work on the Roslyn side to be fully compliant with the rules, once we agr

[2017-11-07 00:57] vsfeedback opened #23039 "Ctrl+. Fix all "Use expression body for methods" problems in document doesn't do anything"
108-WinForms app with ASP.NET Web API backend

1. Clone https://github.com/cartermp/15.x-E2E

2. Add .editorconfig from https://gist.githubusercontent.com/kuhlenh/50fdabc40918255747c156cc1412f491/raw/5222b2fd781ada4f59d4132e085836a118764eff/.editorconfig

3. In ValuesController, put the cursor on Get(string word) definition's &quot;return&quot;

4. Ctrl+. &gt; Use expression body for methods &gt;

[2017-11-07 00:57] #22671 closed

[2017-11-07 01:19] mjnorman opened #23040 "Intellisense not properly picking up model members when using @model IEnumerable <type>"
**Version Used**:
VS2017 netcoreapp2.0

v 15.4.2, although happened on previous patch also.
**Steps to Reproduce**:

1. Create razor view with `@model IEnumerable <anytype>`
2. Using @Html.DisplayNameFor (), intellisense does not recognize the model properties inside the IEnumerable.  It will only show the IEnumerable methods.

**Expected Behavior**:
Intellisense should show model properties in th

[2017-11-07 01:20] CyrusNajmabadi commented on #23037
Note: there are two acceptable levels of user experience here:

1. at least informing hte user that there is a problem.
2. attempting to keep the code error free: in this case possibly by reordering things at the deconstruction site.

[2017-11-07 01:23] CyrusNajmabadi commented on #23040
Could you provide a gist (or example here) with a full source code example of this?

[2017-11-07 01:24] mjnorman commented on #23040
Sure thing.  --

Ok, better with specifics for sure.

Given the following model:
[code]

The scaffolded cshtml page is created as below:

[code]

Ok no issue so far, everything works fine.  You'll notice that in the table header section, the @Html.DisplayNameFor() method is taking <model.member> as input, and everything compiles and runs.
However, if you attempt to use intellisense in the header s

[2017-11-07 01:27] VSadov commented on #22872
FYI: updated with the reference to another draft. Now for the "readonly references" rules.

https://github.com/dotnet/designs/pull/21

[2017-11-07 01:30] CyrusNajmabadi commented on #23040
Based on the linked issue, i'm guessing this is a dupe of https://github.com/dotnet/roslyn/issues/8237.  However:

1. I'm don't know enough to state that with certainty.
2. Even if it is a dupe, we should def keep your issue tracked so that any fix is validated against your usecase.

Tagging @sharwell @jinujoseph on this.

[2017-11-07 01:37] mjnorman commented on #23040
Just read through that and definitely looks the same.

[2017-11-07 02:19] paul1956 commented on #22539
@CyrusNajmabadi  Yes and I debug.Write the old and new nodes and verify they are always the same type (mostly NewVariableDeclaratorSyntax) differing only by presence or absence of  an AsClause. The extracted code about has no If statements before the Editor.ReplaceNode and no Try Block so it would throw.

[2017-11-07 02:47] ivanbasov commented on #22921
Thank you, @sharwell! We definitely can have the whole or partial implementation of on the analyzer side. However, implementation for the rule was intentionally replaced with compiler warnings some months ago. Since compiler performs parsing for the purpose, we would like to understand if we can/should it and extend its diagnostics. If we can get it, it would be great. If it is impossible, we will

[2017-11-07 03:15] tmat opened #23042 "Intermittent test failure: EmitForwarder_OverlappingGeneric"
Test Microsoft.CodeAnalysis.CSharp.UnitTests.Symbols.Metadata.PE.TypeForwarders.EmitForwarder_OverlappingGeneric failed:

https://ci.dot.net/job/dotnet_roslyn/job/post-dev15.5-contrib/job/ubuntu_16_debug_prtest/260/testReport/junit/Microsoft.CodeAnalysis.CSharp.UnitTests.Symbols.Metadata.PE/TypeForwarders/EmitForwarder_OverlappingGeneric/

[code]

[2017-11-07 04:16] aluanhaddad commented on #22672
I also have this refactoring suggested in a case where it breaks code.

Here is a minimal repro
[code]
IDE suggests replacing `f` with a local function which prevents it from being the receiver of the extension method `Apply`.

Let me know if I should open a separate issue.

**Version Details:**
Microsoft Visual Studio Professional 2017 Preview
Version 15.5.0 Preview 3.0
VisualStudio.15.Preview/15

[2017-11-07 06:07] jcouv opened #23043 "UseNullPropagation codefix doesn't recognize `x is null ? null : x.y` pattern"
Also, `ReferenceEquals(foo, null) ? null : foo.y`

[code]

[2017-11-07 06:42] jcouv commented on #23022
@jaredpar While we're updating release notes, it may be a good idea to document some known issues that we found with previous releases. For instance the wrong value of `default` in a default parameter (in 15.3, fixed in 15.5, https://github.com/dotnet/roslyn/issues/22578).

[2017-11-07 10:31] ranuka2 opened #23048 "Emit DLL for a single file in a project with Roslyn"
I need to emit .dll and .pdb for a single .cs/.vb file in a project. Is this possible with Roslyn?

[2017-11-07 11:28] xieguigang opened #23050 "[Compiler Bug?] "Shared ReadOnly Property" in a strucutre type caused Reflection operation failed."
**Version Used**:
Microsoft Visual Studio Community 2017
Version 15.4.2
VisualStudio.15.Release/15.4.2+27004.2006
Microsoft .NET Framework
Version 4.7.03013

Installed Edition: Community

Visual Basic 2017   00369-60000-00001-AA025
Microsoft Visual Basic 2017

I found a bug of Reflection operation on the structure type in VisualBasic, when the structure type have a **shared readonly property**, th

[2017-11-07 11:49] Therzok opened #23051 "Fuzzy matcher does not work with incremental pattern changes"
**Version Used**:
2.6.0-vs-for-mac-62217-03

**Steps to Reproduce**:

1. Have a class named `Test`
2. Write `Tempt` letter by letter in the search bar. `Test` is not matched
3.  Paste in `Tempt` . `Test` is matched.

**Expected Behavior**:
`Test` is matched in case 2.

**Actual Behavior**:
`Test` is not matched.

Possibly a regression in https://github.com/dotnet/roslyn/commit/47b80b58459c5c991c0f

[2017-11-07 12:33] pquiring commented on #22931
I found the fix, after googling it I ended up at bug # 16846

So I added this code:

[code]

And it works now!  Please close ticket.

Please update the documentation for Roslyn.  Just adding the dll from typeof(object).Assembly.Location is not enough.

[2017-11-07 12:33] pquiring commented on #22905
I found the fix, after googling it I ended up at bug # 16846

So I added this code:

[code]

And it works now!  Please close ticket.

Please update the documentation for Roslyn.  Just adding the dll from typeof(object).Assembly.Location is not enough.

[2017-11-07 13:51] denzelition commented on #22866
@jcouv Ah, sorry for taking so long with the response. I've uhh... circumvented the issue by manually deleting the folders Visual Studio is located in and reinstalling. I did this because the Installer didn't do anything, regerdless of permisssions or wether or not it was a fresh copy off of the official website.

So, I just deleted everything, got a fresh installer and everything seems fine now.

[2017-11-07 15:17] smourier commented on #22765
It looks like it was fixed with Visual Studio updates (I'm running Visual Studio 2017 15.4.2)

[2017-11-07 15:17] #22765 closed

[2017-11-07 15:29] paulirwin commented on #2981
Here's an example that I ran into that perfectly demonstrates this problem (anonymized):

[code]

Of course, there is a workaround to this by marking the method as async and adding await after the return, but this results in an unnecessary performance hit as now it has to generate the full async state machine and synchronization context work instead of just passing the Task along. I'm not sure if

[2017-11-07 16:18] jcouv commented on #22866
Glad things worked out.
I'll have to close the issue as we don't have much information to narrow or repro the issue (does sound like a setup issue). If you encounter this again, please try the "report an issue" button in Visual Studio, as it may capture more information about the state of the installation. Thanks

[2017-11-07 16:18] #22866 closed

[2017-11-07 16:19] jcouv commented on #22931
Glad things worked out. Thanks

[2017-11-07 16:19] #22931 closed

[2017-11-07 16:21] MaStr11 commented on #22096
@zaytsev-victor The issue is about the query syntax. See [Query Syntax and Method Syntax in LINQ](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/query-syntax-and-method-syntax-in-linq) for the differences. I have a PR pending for this here #23049.

[2017-11-07 17:05] jcouv opened #23052 "UpgradeProject doesn't offer 7.2 or latest on readonly ref"
@jaredpar mentioned this:

![upgrade-project-readonly-ref](https://user-images.githubusercontent.com/12466233/32506907-b0cb5898-c39a-11e7-8e6b-86b741af0e49.png)

Seems like it’s missing the language version 7.2 / latest.

[2017-11-07 17:52] jcouv commented on #23052
@jaredpar Works for me. I'll stop by to see your repro, and I'll add tests.

![image](https://user-images.githubusercontent.com/12466233/32509086-2de631da-c3a1-11e7-8806-c16a5edc22b9.png)

![image](https://user-images.githubusercontent.com/12466233/32509105-3cf30d38-c3a1-11e7-9fd1-1f6202f4746f.png)

[2017-11-07 17:53] sharwell commented on #23039
Almost certainly a duplicate of #19089 (the Fix All operation ignores .editorconfig, instead using whatever is in Tools &rarr; Options).

[2017-11-07 18:04] jcouv commented on #23052
Works now on Jared's machine :-S

[2017-11-07 18:04] #23052 closed

[2017-11-07 18:06] #22581 closed

[2017-11-07 18:15] VSadov commented on #22817
Yes, this is because of the use of old Span<byte> that does not have expected shape.

The newest can be obtained at:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Memory

4.5.0-preview1-25906-03 is the latest one

The error basically tells that Span<T> is not as we expect, but does not get into details of what exactly is wrong.

It would be unusual to see errors of this kind going

[2017-11-07 18:17] jcouv commented on #22817
@ufcpp Please update the package.
I'll go ahead and close the issue.

[2017-11-07 18:17] #22817 closed

[2017-11-07 18:20] VSadov commented on #22817
Also the fix could be fairly involved. There is one place where we decide if a given type is "the special span type" or just some random type named span (which is not an error by itself).

Then there is another place that checks if conversion is possible. Since at this point  "Span" type is just a random type, the conversion is not possible and that is what reported. It would take quite an effort

[2017-11-07 18:28] Suchiman commented on #22817
@VSadov
[code]
thinking too simple? But its probably still not worth it since this shouldn't happen once `Span<T>` ships as stable

[2017-11-07 18:45] brantburnett commented on #20907
I think that this question is somewhat larger than just Visual Studio.  My understanding is that .editorconfig currently or will in the near future also apply to VS Code.  On top of that, the .editorconfig format is open source and not necessarily VS specific.

If there are multiple products using the file format, it seems like a fail-soft approach to new features included in the file makes the mo

[2017-11-07 19:00] #22751 closed

[2017-11-07 19:03] #22960 closed

[2017-11-07 19:30] VSadov commented on #22904
Looks like this is a scenario specific to local functions. Normally we would give an error on the whole struct if none of the fields is assigned.

[2017-11-07 19:55] #22789 closed

[2017-11-07 20:02] agocke commented on #22904
Actually, this is a duplicate of https://github.com/dotnet/roslyn/issues/13103. Closing as duplicate.

[2017-11-07 20:02] #22904 closed

[2017-11-07 20:09] CyrusNajmabadi commented on #22539
That is very strange then.  I think a repro project would have to be made in order for someone to dive in an see what was wrong.  Alternatively, if you wanted to debug into SyntaxEditor itself, that might reveal why no change is occurring.

[2017-11-07 20:10] CyrusNajmabadi commented on #22672
@aluanhaddad I think it's fine to keep that case rolled into this one.

[2017-11-07 20:13] sheinema commented on #7364
+1 v15.4.2, happens consistently several times per day, VS restart required.

[2017-11-07 20:30] #23039 closed

[2017-11-07 20:45] gafter commented on #22830
Integrated in https://github.com/dotnet/roslyn/pull/22856

[2017-11-07 20:45] #22830 closed

[2017-11-07 20:47] CyrusNajmabadi commented on #23051
One option here is to break the results into fuzzy/non-fuzzy portions, and cache the results only for the non-fuzzy scan.  :-/

[2017-11-07 20:48] xperiandri commented on #18354
So when? Critical feature!

[2017-11-07 20:58] aluanhaddad commented on #22672
@CyrusNajmabadi thanks!

[2017-11-07 21:05] zaytsev-victor commented on #22096
@MaStr11 I missed that it is a bout query syntax. Thanks (:

[2017-11-07 21:19] AlexanderMorou commented on #20010
Just curious, but is this still on point for 15.5?

The link provided is inaccessible to me.

[2017-11-07 21:28] #22028 closed

[2017-11-07 21:31] pablonardone commented on #11297
Hello, can someone summit a complete example of the solution, because I can't make it work.
Thanks.

[2017-11-07 21:39] jcouv commented on #20010
@AlexanderMorou Yes, the linked issue was resolved as fixed for 15.5.

[2017-11-07 21:44] jcouv commented on #22830
@bradmarder This fix will make it into 15.6.

[2017-11-07 21:47] thauk-copperleaf commented on #23011
@DustinCampbell That's good news! Is there a planned release for this change?

[2017-11-07 21:57] DustinCampbell commented on #23011
Not yet, no.

[2017-11-07 22:05] aoancea commented on #23011
I'm looking into that exact issue now :)

[2017-11-07 22:14] #23004 closed

[2017-11-07 22:14] #23009 closed

[2017-11-07 22:26] paul1956 commented on #22539
@CyrusNajmabadi I have been asking since Roslyn 1.0 how to debug my code into Roslyn and have yet to see anything for someone outside the development team to be able to do it. Since 2.0 I can finally build Roslyn from Master without errors because of excellent easy to follow instructions and provided scripts.

The good news is that with the solution above from @sharwell  I can do a BatchFixer over

[2017-11-07 22:35] #23001 closed

[2017-11-07 22:44] jcouv opened #23058 "SourceFieldSymbol.HasRuntimeSpecialName should check that containing type is enum"
It feels like we should at least check that the containing type is an enum.

[code]

Relates to https://github.com/dotnet/roslyn/pull/22664#discussion_r149507555

[2017-11-07 22:52] #23017 closed

[2017-11-07 22:55] CyrusNajmabadi commented on #23043
I agree with @jcouv that recognizing this pattern isn't really important.  Given that "is null" was added after "?.", it would be unlikely that someone would write this pattern instead of just using ?. directly.

That said, it *would* be nice to detect ```ReferenceEquals(foo, null) ? null : foo...```.  But really it's a very minor improvement.

[2017-11-07 23:17] CyrusNajmabadi commented on #22539
I just get the roslyn sources, add my code to it, choose "ServicesVisualStudio" as the startup project, build everything, and hit f5.  Does that not work for you?

[2017-11-07 23:20] jasonmalinowski commented on #18650
I wonder if the right design here is that Razor can export the provider on the surface buffer, and Roslyn can export ours on our C# buffer, and the intellisense API we're designing should just request both and merge both. Arguably, the fact that "import" after @ is a valid syntax is valid not in C#, but in the surface razor buffer and so that's exactly the level it should be applied at. This would

[2017-11-07 23:27] CyrusNajmabadi commented on #22539
Great!  Looking at that code, it's the same sort of approach that we use with the SyntaxEditor solution.  Both simply build up a set of work to do and just apply them to the document in one go.  The only real benefit of the SyntaxEditor approach is that it works well for fixes that need to go beyond just doing ReplaceNodes.  i.e. some fixes involve multiple add/remove/insert/replace operations.  I

[2017-11-07 23:32] sharwell commented on #23043
:memo: I'm planning to reserve this and the `ReferenceEquals` version for a first-time contributor. Details tomorrow.

[2017-11-07 23:35] jcouv commented on #23048
Yes. Create a CSharpCompilation object (or it's VB counterpart), passing in the source as a string and adequate assembly references, then call Emit.

https://joshvarty.wordpress.com/2016/01/16/learn-roslyn-now-part-16-the-emit-api/
https://stackoverflow.com/questions/24658381/roslyn-csharpcompilation

[2017-11-07 23:36] CyrusNajmabadi commented on #23043
Agreed.  They would be great 'up for grabs' fixes.

[2017-11-07 23:56] davkean opened #23060 "Can no longer git clean solution directory with VS open"
Attempting to git clean my repo while Visual Studio is open now complains about files being locked. This looks like a regression in recent minor updates:

[code]

[2017-11-08 00:03] npolyak commented on #11297
What exactly does not work?
My code is quite distributed, so it is better that you describe your solution.
In general first you create the your Modules. You need to compile them with OutputKind NetModule. Make sure there are no compilation errors.
Then you create an empty assembly. It should reference all the modules you'd created before. To convert a module code into module reference use ModuleMe

[2017-11-08 00:12] gafter opened #23062 "Private Protected for VB"
Roslyn, in master, has support for the protection modifier combination `Private Protected` in VB. However, according to the design notes, it was intended that the modifier be named `ProtectedAndFriend`. See https://github.com/dotnet/vblang/blob/master/meetings/2014/LDM-2014-03-12.md

One way to correct this to align with the design notes would be to
1. Add support for `ProtectedAndFriend` and `Pro

[2017-11-08 00:19] CyrusNajmabadi commented on #23060
@sharwell Perhaps the change to exclusive access in sqlite?

IMO, this is acceptable behavior.  This is a folder being used by the IDE while it is running in VS.  It is not expected that this would be removed out from under it while running.

--

As a workaround, is it possible to add .vs to your gitignore so that git doesn't try to do anything with it when you're doing cleans and whatnot?

[2017-11-08 00:21] CyrusNajmabadi commented on #23060
Note: you are passing -x which is telling git to remove the folder, even if you already told it to ignore it.  That's likely always going to be painful as long as roslyn continues to lock this file.  I'm not sure if there's any way to get the benefits of the recent sqlite work, while also making the file unlocked unfortunately.

[2017-11-08 00:22] davkean commented on #23060
The IDE has always handled that it was removed underneath it. Remember, for this to be added to .gitignore, you basically have to change every single repo in the world.

[2017-11-08 00:33] CyrusNajmabadi commented on #23060
I don't think that's the case.  There were certainly folders in VS2005 and whatnot that couldn't be removed while the IDE was running.  It's likely at the switch to Roslyn this became possible.

Or, in other words, the ability to remove this folder was never an intentional design point of the IDE. It may have fallen out because of certain design decisions, but it was never a guarantee.

--

Now, w

[2017-11-08 00:53] davkean commented on #23060
Which folders did VS2005 create in the source repo?

[2017-11-08 01:00] tmat commented on #23060
Perhaps SQLite can be updated to open the files with delete sharing. Depending on what APIs git uses on Windows this might make it possible to delete the files while SQLite is still able to read/writer the content.

[2017-11-08 01:06] CyrusNajmabadi commented on #23060
I believe we kept the .projdata file under some directory there.  But, as you can imagine, it's been a long time since having to work on that, so i don't remember the exact directory :)

[2017-11-08 02:13] jasonmalinowski commented on #3
@tmat I think you get the honor of closing the oldest active issue in Roslyn. :smile:

[2017-11-08 02:30] tmat commented on #3
@jasonmalinowski Cool. My pleasure. Fixed by https://github.com/dotnet/roslyn/pull/23038.

[2017-11-08 02:30] #3 closed

[2017-11-08 02:55] eerhardt opened #23066 "RunCsc.cmd needs to quote %HOST_PATH%"
**Version Used**: 2.6.0-beta2-62211-02

**Steps to Reproduce**:

1.  Install https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.2.0-preview1-007522/dotnet-sdk-2.2.0-preview1-007522-win-x64.exe to `C:\Program Files`.
2. `dotnet build` the following project

[code]

**Expected Behavior**:
Build is successful.

**Actual Behavior**:
The build fails with

[code]

Doing a `/v:diag` build log, you can

[2017-11-08 03:13] DavidKarlas commented on #3
THANK YOU!!! When will this come to master?

[2017-11-08 03:33] 333fred commented on #21671
This is because the node we were expecting to be the receiver here, BoundConditionalAccessReceiver, isn't actually used until local rewriting. Instead this is a BoundRValuePlaceholder node, with the syntax node of the entire conditional expression. I'll update the handling of this case to look for a syntax of that, and dig through the syntax to set it to be that of the actual receiver.

[2017-11-08 06:20] onyxmaster commented on #23060
Maybe .vs folder can be moved to temp or appdata? Pollution and matching (identification) would be a problem though.

[2017-11-08 06:44] paul1956 commented on #22539
@CyrusNajmabadi built Roslyn, did Add Existing for my project, built Roslyn again, set ServiceVisualStudio as Startup Project and I get "A Project with an Output Type of Class cannot be started directly, I think I am missing something. Also do I need to change anything in my project to get the Roslyn Dll's from the Master I built instead of NuGet? Most of my Reference Point to NuGet packages.

[2017-11-08 06:52] AdmiralSnyder opened #23069 "Suggestion: Syntax Visualizer should be able to freeze to a specific document / caret location"
**Version Used**:
VS 2017 15.4.2
**Steps to Reproduce**:
When i do analyzer development, I often use syntax visualizer to help me.
but whenever i find out something about a file whose structure i am looking into, and want to code it  into my analyzer, the syntax visualizer refreshes with the caret of my analyzer file where i type.

**Expected Behavior**:
I suggest that the Syntax Visualizer window

[2017-11-08 09:45] AdmiralSnyder opened #23072 "allow to split LeadingTrivia or TrailingTrivia off of a SyntaxNode"
**Version Used**:
VS 2017 15.4.2
**Steps to Reproduce**:
when doing AddMembers for a ClassDeclarationSyntax where there is a closing #endregion before the closing brace, the new members are inserted into the region.

**Expected Behavior**:
the new members should be inserted directly before the closing brace of the classDeclarationSyntax

**Abstraction**:
Find a way to insert a SyntaxNode before an

[2017-11-08 09:57] jinujoseph commented on #21301
also reported at https://developercommunity.visualstudio.com/content/problem/145998/systemargumentoutofrangeexception-when-editing-c-c.html

[2017-11-08 10:12] jcouv commented on #22835
@khyperia has a PR that allows spaces in pathMaps from command-line. @tmat can you take a look and confirm whether it addresses your screnario from msbuild too?
https://github.com/dotnet/roslyn/pull/23053

[2017-11-08 12:02] ranuka2 commented on #23048
I have creates the following sample application based on provided references. However it failed to compile classes with partial classes, also some files failed with inaccessible due to its protection level. Can you help me to resolve this?

[code]

[2017-11-08 14:08] sharwell commented on #23060
:memo: Sounds related to #19768

[2017-11-08 14:12] sharwell commented on #22539
@paul1956 I believe the startup project should be VisualStudioSetup.Next

[2017-11-08 14:54] sharwell commented on #23072
💭 I'm not sure I agree with the expected behavior here. Also, for code fixes that need better control over the trivia involved in the fix, it's easier to operate directly on the `SyntaxTree` instead of using one of the generator abstractions. I lean against making a change here for the following reasons:

1. The requested behavior is available through a lower-level API
2. Changing the behavior her

[2017-11-08 15:39] pablonardone commented on #11297
Thank you Nick for your replay. Sorry for not being clear. I just made a new repository at [github](https://github.com/pablonardone/RoslynTest1) with your code in order to test it and share it with you, hoping that you can test it as well. What does not work is the LoadModule that fails with System.IO.FileLoadException.
Thank you very much.

[2017-11-08 15:40] hardhub commented on #13951
It looks strange... Should you get null reference exception if myObject is null?

[2017-11-08 15:50] alrz commented on #13951
I think we could translate the assignment operator of the form:
[code]
to a ternary of the form:
[code]
- If type of the assignment expression is nullable, `fallbackValue` is emitted as `default(T)` where `T` is the type of that expression.
- If type of the assignment expression is non-nullable, `fallbackValue` is emitted as `default(T?)` where `T` is the type of that expression.

Similarly, we ma

[2017-11-08 16:00] npolyak commented on #11297
I'll try to get back to you on this. Give me a day or two.

[2017-11-08 16:07] vsfeedback opened #23073 ".vs/{solution}/v15/sqlite3/storage.ide prevents git cleaning"
Because of this file, I cannot peform this command while Visual Studio is open:

&gt; git clean -fxd

I receive this error:

&gt; Unlink of file '.vs/SimpleExec/v15/sqlite3/storage.ide' failed. Should I try again? (y/n)

This is because Visual Studio is locking this file. To perform a git clean, I have to close Visual Studio, perform the clean, and then re-open Visual Studio. This is very annoying

[2017-11-08 16:09] NPatch commented on #4381
Btw, with VS2017 it still repros. Not only that but even removing the analyzer and readding it doens't help.

[2017-11-08 16:09] sharwell commented on #23073
:memo: This issue is related to #19768 and #23060, but differs specifically in that it requests the git clean operation work *without closing Visual Studio*.

[2017-11-08 16:14] sharwell commented on #4381
This will always occur in the following two cases, which are outside the ability of Roslyn to fix:

1. The analyzer assembly does not have a strong name
2. The analyzer assembly version number does not change between the two packages

[2017-11-08 16:19] adamralph commented on #23073
Looking at #23060 - that looks like the exact same issue that I am reporting. I'd say this issue is a duplicate.

[2017-11-08 16:20] AdmiralSnyder commented on #23072
I did not find a suitable way to solve it using the syntaxtre. I can only insertafter or insertbefore tree elements of the same kind, so there seems no way to put a syntaxnode after a trivia. Or am i missing something?

[2017-11-08 16:33] heejaechang commented on #4381
tagging @jinujoseph and @mavasani

detecting and restarting are 2 different issues. if we move analyzer completely to OOP, even for open files, we can reload analyzers without restarting VS once we can reliable detect when we need to do that.

[2017-11-08 16:33] adamralph commented on #23073
BTW @sharwell thanks for the tip with `-e` option. I've wrapped `git clean -fxd -e .vs` in a `cmd` file in my path as a workaround. I'd rather just exclude the entire .vs folder as it doesn't concern me what VS is doing in there. When I want to do a true git clean I'll do that with VS closed and run the usual command.

[2017-11-08 16:37] heejaechang commented on #21301
@jinujoseph @ivanbasov 2 are different issues.

for this, I moved explicitly to NFW
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/Diagnostics/AbstractDiagnosticsTaggerProvider.TaggerProvider.cs,85

crash can't happen anymore.

the other bug you linked is happening on syntax tagger not diagnostic tagger. sound like issues are not tagger but something is wrong in work

[2017-11-08 16:39] NPatch commented on #4381
I'm sure they are. Just saying that both of them can lead to a lot of time being wasted just to verify your changes.

[2017-11-08 16:47] jcouv commented on #23069
Tagging @jmarolf

[2017-11-08 16:48] jcouv commented on #23066
Sounds like this was concurrently fixed (by https://github.com/dotnet/roslyn/pull/23034).

[2017-11-08 16:50] jcouv commented on #22707
@VSadov Good to close?

[2017-11-08 17:12] jega327 commented on #22870
I did some further testing and Debugging. The exception was thrown at `var parentKind = node?.Parent.Kind();`, because `Parent` was null.

I checked if just an enclosing namespace is missing, but nope. Looking for an alternative, I discovered that building the SyntaxNodes via a `Document` and `SourceText.From` results in proper formatting:

[code]
Debugging revealed that my class declaration is wr

[2017-11-08 17:23] heejaechang commented on #4381
@NPatch I think right now, what you are doing is probably ones we specifically decided not supported scenario yet.

for analyzer author, we have this idea.
https://github.com/dotnet/roslyn/issues/18093

tagging @jinujoseph @mavasani

[2017-11-08 17:34] tmeschter commented on #4381
@NPatch If the analyzer assembly doesn't have a strong name then the version is ignored completely.

This scenario runs up against the limitations of the runtime's assembly loading mechanisms. Notably, there's no way to unload an assembly once it is loaded, and once an assembly is loaded the runtime will not load another assembly with the "same" name (where "sameness" takes into account binding re

[2017-11-08 17:41] vsfeedback opened #23074 "ArgumentOutOfRangeException in SyntacticClassificationTaggerProvider.TagComputer.AddClassifiedSpansForPreviousTree"
When editing C# code, the frequently IDE raises the following error (since 15.5 pre1):

[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/145998/systemargumentoutofrangeexception-when-editing-c-c.html
VSTS ticketId: 521343_
_These are the original issue comments:_

Jérôme Laban on 11/7/2017, 06:17 AM (27 hours ago): <p>Here's a detailed log of the

[2017-11-08 17:44] jcouv opened #23075 "UseNullPropagation should handle boolean scenarios"
Offer codefix from:
  `data != null && data.HasNonSerializedAttribute`
to
  `return data?.HasNonSerializedAttribute == true`

[2017-11-08 18:03] sharwell opened #23076 "RegisterPrimarySolution called on UI thread, resulting in UI delays"
The following operation blocks the UI thread, resulting in thousands of reported cases of UI delays averaging nearly 4 seconds.

https://github.com/dotnet/roslyn/blob/bc16b0126f340014b39eaa0482f89d74463455dc/src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.WorkspaceHost.cs#L60-L62

:link: Reported internally as [DevDiv 521503](https://devdiv.visualstudio.com/DevDiv/_worki

[2017-11-08 18:09] NPatch commented on #4381
Thanks for all the info. I'll try strong naming it and retry using different versions.
The project reference solution would be a good option to have. At least, you'd have testing that way inside VS. But I haven't looked at the thread yet so don't know if it's difficult or not. Will read though.

[2017-11-08 18:45] heejaechang commented on #4381
@tmeschter my thinking was just restarting OOP (OOP already supports it) when analyzer is re-loaded. I think it is fine since it is a rare occasion and simpler since we don't need to implement our own mechanisms for loading and all other binding issues.

[2017-11-08 18:47] NPatch commented on #4381
Can you tell me what OOP stands for? I'm guessing it's some component in VS?

[2017-11-08 18:48] heejaechang commented on #4381
@NPatch OOP -> Out of process :) sorry.

[2017-11-08 18:48] NPatch commented on #4381
No problem. Thanks!

[2017-11-08 19:01] VSadov commented on #22707
Yes. we have short term a solution that we believe is the right balance between desire to use new features and produce code compatible with old verification rules: https://github.com/dotnet/roslyn/pull/22772

We are also working on extending verification rules:
https://github.com/dotnet/designs/pull/17
https://github.com/dotnet/designs/pull/21

[2017-11-08 19:01] #22707 closed

[2017-11-08 19:07] sharwell commented on #23060
:memo: This issue is related to #19768, but differs specifically in that it requests the git clean operation work *without closing Visual Studio*.

My understanding is implementing this feature would require one of the following:

1. Relocate the SQLite cache so it's no longer part of the repository.
1. Provide the ability to explicitly disable caching.

[2017-11-08 19:07] sharwell commented on #23073
@adamralph Looks like you are correct. I misread #23060.

[2017-11-08 19:07] #23073 closed

[2017-11-08 19:09] vsfeedback opened #23078 "The C# compiler does not provide diagnostics about invalid explicit struct layouts."
Created a simple .Net Framework Console App. When I start debugging, I get a tab titled &quot;Break Mode&quot; with the header text &quot;The application is in break mode&quot;. There are no breakpoints in the application, and if I click &quot;Continue execution&quot; in this tab, none of my code executes and no actual breakpoints are hit.

_This issue has been moved from https://developercommunit

[2017-11-08 19:13] agocke commented on #23078
This generally appears to be by-design. The C# compiler has never provided diagnostics around invalid explicit layouts, including the native compiler.

To do so now would be a breaking change, but would it be reasonable to do so if the resulting program fails to type load anyway? The CLR immediately produces an error on type load saying:

[code]

[2017-11-08 19:14] agocke commented on #23078
cc @jaredpar

[2017-11-08 19:16] agocke commented on #23078
On the other hand, it seems that if the type is not used, the program will run without error in the CLR, so maybe this change would be worse than I thought.

[2017-11-08 19:20] mavasani commented on #22943
Tagging @AlekseyTs @jinujoseph

[2017-11-08 19:24] mavasani commented on #22068
Investigated further and there were primarily 2 issues here:

1) Invalid conversion info when delegate creation was involved. Fred has already taken care of this.
2) We still have BoundRangeVariable in the operation tree, which should have been rewritten to BoundParameterReference to lambda parameter. This still exists and I will file a separate issue to track it.

[2017-11-08 19:24] AlekseyTs commented on #22943
@mavasani Is it still reproducible after the fix for the qualified expressions?

[2017-11-08 19:25] mavasani commented on #22943
Ah, I didn't notice there was a qualified member access. Let me double check, but likely this is no repro. I will close it out.

[2017-11-08 19:27] mavasani opened #23079 "BoundRangeVariable should not exist in the C# operation tree"
As noted in https://github.com/dotnet/roslyn/pull/21356#issuecomment-327624443, we are still exposing bound range variables in C# operation tree, which should have been rewritten to bound parameter references to lambda parameter.

[2017-11-08 19:27] mavasani commented on #23079
@AlekseyTs @jinujoseph Do we want to target this for 15.5?

[2017-11-08 19:28] mavasani commented on #22068
(2) is now tracked with https://github.com/dotnet/roslyn/issues/23079

[2017-11-08 19:28] #22068 closed

[2017-11-08 19:28] AlekseyTs commented on #22943
The first scenario is not a qualified member access. Make sure to check that one too.

[2017-11-08 19:32] CyrusNajmabadi commented on #23073
I believe another workaround is to not use -x, and to just add .vs to your .gitignore file.

[2017-11-08 19:33] AlekseyTs commented on #23079
I think it would be good to fix for 15.5.

[2017-11-08 19:34] CyrusNajmabadi commented on #23075
I specifically did not do this when i did hte original work.  It's not clear to me that the new form is better than the old form.  First, as you can see, they're identical in length.  second, i think it can be confusing to see an "== true" clause when doing booleans since it's normally unnecessary.

If you were to provide this, i think it would have to be gated by a user visible switch *separate*

[2017-11-08 19:44] CyrusNajmabadi commented on #23060
I did some google spelunking, and checked out the parts of the sqlite API that seemed relevant.  I couldn't find a way to not have the lock, but also get the benefits of the recent changes.

It seems like there is an existing solution in the git tooling space already that is intended to address this sort of thing.  Specifically, adding .vs to the .gitignore file.  I've thought about this more, and

[2017-11-08 19:54] sharwell commented on #23060
@CyrusNajmabadi You can also use this:

[2017-11-08 19:55] CyrusNajmabadi commented on #23060
Yup!  That way seemed less nice though as it was *extra* stuff to write :)   But i guess it would be hte most correct thing to do in case you really did want git to clean all the *other* stuff you normally told it to ignore.

[2017-11-08 19:57] sharwell commented on #23075
I agree with @CyrusNajmabadi here.

[2017-11-08 19:59] CyrusNajmabadi commented on #23060
Note: looking at the historical situation, i'm def more sympathetic here.  I think i got rid of .projdata back in vs2008 (since, horrifically, having that home-grown database actually caused worse memory usage, worse CPU usage, and all sorts of corruption issues (who would have thunk it)).  So it's been nearly a decade without an intentional file lock caused by the C# LS.

There have, of course, b

[2017-11-08 20:00] jcouv commented on #23075
Alright, I'll close then. :-)

[2017-11-08 20:11] CyrusNajmabadi commented on #23075
It's a perfectly reasonable feature request/issue :)  I'm just saying: make sure it's separately configurable by the user.  I can totally imagine some users wanting this, and not liking htat they have to manually update all their code.  In as far as providing a broad swath of helpful refactorings, this would definitely fit into that goal.  :)

Sorry if i came across negative.  I wasn't trying to b

[2017-11-08 20:22] AdamSpeight2008 commented on #23062
What does the VB language specification say? regarding `ProtectedAndFriend`

[2017-11-08 20:28] mkrueger commented on #3976
+1 on that - we really could need that for visual studio for mac. Since we supported more fine grained classification options.

[2017-11-08 21:26] Pilchie commented on #23060
Can we distinguish between "Close VS" and "Close Solution"?  If I have VS still running, but have closed the solution, can I clean the .vs directory?

[2017-11-08 21:36] mavasani commented on #21238
This is no longer required once https://github.com/dotnet/roslyn/issues/23079 is fixed as these bound nodes will not be in operation tree.

[2017-11-08 21:36] #21238 closed

[2017-11-08 22:06] paul1956 commented on #22539
@sharwell this does not answer the other issue, how do I find all the Roslyn DLL's that I was getting from NuGet that I now need to get from Roslyn Master source?

[2017-11-08 22:16] mavasani commented on #22943
Verified that neither of these cases repro.

For the first case, GetOperation on `int[0]` returns null as it is an ArrayTypeSyntax. If I query GetOperation on `new int[0]`, it returns an `IArrayCreationOperation` with same syntax as passed in.

Second case was explicitly handled in the PR that removed GetStandaloneNode.

[2017-11-08 22:16] #22943 closed

[2017-11-08 22:23] mavasani commented on #22719
Re-opening to track some more API renames needed in OperationExtensions (`dynamicExpression` to `dynamicOperation`)

[2017-11-08 22:38] jcouv commented on #23075
No worries. What prompted me to close was that I was swayed by your argument that the refactoring doesn't compact code (so the refactoring isn't desirable).
But actually one example above had `return` and the other didn't. We're saving a few characters ;-)
From:
  `data != null && data.HasNonSerializedAttribute`
to
  `data?.HasNonSerializedAttribute == true`
I'll re-open ;-)

[2017-11-08 23:39] jhealy opened #23083 "FxCop beta - Analyzer cannot be created. Needs Microsoft.CodeAnalysis 2.6.0"
**Version Used**:
fxcop 2.6.0-beta1-62231-02

**Steps to Reproduce**:
1. Build .net core 2.0 console app.
2. As instructed at   https://dotnet.myget.org/feed/roslyn-analyzers/package/nuget/Microsoft.CodeAnalysis.FxCopAnalyzers/2.6.0-beta1-62231-02 install package into project using npm.
3. Install-Package Microsoft.CodeAnalysis.FxCopAnalyzers -Version 2.6.0-beta1-62231-02 -Source https://dotnet.my

[2017-11-08 23:44] 333fred opened #23084 "IInvocationOperation should implement IMemberReferenceOperation"
https://github.com/dotnet/roslyn/pull/22972#discussion_r149580815.

[2017-11-08 23:45] jhealy commented on #23083
Moving fxcop down to 2.3.0-beta2-62118-03 allows it to work.  Would still like to know where to dig out the requires Microsoft.CodeAnaylsis for the later versions.  Thanks...

[2017-11-09 00:04] jcouv commented on #20900
Moving to 15.6 from discussion with Andy, as there is a known issue with quoted parameters that should be resolved before the package is marked as "release", and that bug is only getting fixed in 15.6.

[2017-11-09 00:13] chborl commented on #22266
Thanks for the heads up, @CyrusNajmabadi.  I confirmed that this is fixed in 15.5 by [21362](https://github.com/dotnet/roslyn/pull/21362)

I wasn't able to reproduce the bug on 15.5 so I undid the code change from #[21362](https://github.com/dotnet/roslyn/pull/21362) and was able to repro it there.  Also, I verified that 15.4.2 did not contain this fix, but 15.5 does.

[2017-11-09 00:14] #22266 closed

[2017-11-09 00:36] gafter commented on #23062
@AdamSpeight2008 The language specification for existing versions of the VB language don't say anything about those, as those were never previously part of the language. You could have looked that up rather than asking. We generally don't "leave as is" language features in the language that appeared by accident.

[2017-11-09 00:44] agocke commented on #15378
@marek-safar, @jcouv, and I talked about this offline. Some takeaways:

1. Our package currently contains a lot of dependent assemblies that are built for .NET 4.6 on Windows Desktop CLR and are incompatible with Mono. By bundling these assemblies in the `tools` directory of `Microsoft.NET.Compilers` we're creating work for Mono users to delete these harmful assemblies.

2. This package isn't curr

[2017-11-09 00:49] jaredpar commented on #15378
Just the exes or the dll projects as well? Hoping it's just the exes ...

Why did we land on this vs. just creating a separate Mono package? The manner in which we build the Microsoft.Net.Compilers package today is meant to be an exact replica of how our bits work in an MSBuild layout. This helps give us confidence that the product we're building today will run when we insert it into MSBuild (test

[2017-11-09 00:50] agocke commented on #15378
@jaredpar I'm fine with the separate package approach as well. I was most persuaded by the argument that this makes it confusing for users who are trying to find the package and accidentally pick the non-Mono compatible one.

[2017-11-09 01:43] marek-safar commented on #15378
The argument for a single package was the easy way to ship C# compiler prototypes as a single package

[2017-11-09 02:19] #22719 closed

[2017-11-09 03:19] 333fred opened #23088 "Assert Compound Assignment tree shape in BoundAssignmentOperator.Validate"
https://github.com/dotnet/roslyn/pull/23041#issuecomment-343035552

[2017-11-09 03:35] jinujoseph opened #23089 "Migrate Roslyn to Editor’s PatternMatcher and delete its own copy"

[2017-11-09 03:51] #22585 closed

[2017-11-09 03:54] 333fred opened #23090 "Adjust assert wording"
IInstanceReceiver->IInstanceOperation
https://github.com/dotnet/roslyn/pull/22972#discussion_r149861173

[2017-11-09 03:56] #22737 closed

[2017-11-09 04:15] #22175 closed

[2017-11-09 04:21] MhdTlb commented on #22601
Can I work on this?

[2017-11-09 04:25] MhdTlb commented on #21907
Can I work on this?

[2017-11-09 04:37] #17813 closed

[2017-11-09 04:39] VSadov opened #23091 "Optimize `foreach` into `for` for Span/ReadOnlySpan"
https://github.com/dotnet/coreclr/pull/14922   introduces foreach pattern support in Span/ReadOnlySpan

Similarly to arrays and string, we can detect and emit `for` loop instead of `foreach` which would be faster for reasons explained in the linked PR.

[2017-11-09 05:00] jcouv commented on #15378
If we choose to go with single package, let's document the package (on our wiki, https://aka.ms/roslyn-packages).

[2017-11-09 05:14] 333fred opened #23093 "Follow up on nits in https://github.com/dotnet/roslyn/pull/23041"
https://github.com/dotnet/roslyn/pull/23041#discussion_r149866255 Directly test ICompoundAssignmentOperation.GetIn/OutConversion directly.
Currently tested indirectly by the TestOperationWalker.

https://github.com/dotnet/roslyn/pull/23041#discussion_r149868186
Does not exist, should create.

https://github.com/dotnet/roslyn/pull/23041#discussion_r149869119

[2017-11-09 05:25] 333fred commented on #23093
Also this:
IInstanceReceiver->IInstanceOperation
https://github.com/dotnet/roslyn/pull/22972#discussion_r149861173

[2017-11-09 05:25] 333fred commented on #23090
Tracking follow up with https://github.com/dotnet/roslyn/issues/23093.

[2017-11-09 05:25] #23090 closed

[2017-11-09 05:25] 333fred commented on #23093
https://github.com/dotnet/roslyn/pull/23041#issuecomment-343035552

[2017-11-09 05:26] 333fred commented on #23088
Tracking follow up with https://github.com/dotnet/roslyn/issues/23093.

[2017-11-09 05:26] #23088 closed

[2017-11-09 05:33] 333fred commented on #23083
@jhealy the version on myget has not been released, it's based on version 2.6.0-beta3-62227-02 of codeanalysis. I'd suggest sticking to the publicly-released version of the analyzers, available [here](https://www.nuget.org/packages/Microsoft.CodeAnalysis.FxCopAnalyzers/2.3.0-beta1). When VS 2017 update 5 is released (due before the end of the year), we will be updating all the analyzers built from

[2017-11-09 05:33] #23083 closed

[2017-11-09 05:39] jaredpar commented on #15378
The compiler already ships multiple packages today: desktop and coreclr. Hence there is already no single package for compiler prototypes. Adding a different package for mono is the more consistent approach here.

Again, one of the direct goals of the Microsoft.Net.Compilers package is to have a method of shipping our exact MSBuild layout as a single package. This ensures that we can safely ship p

[2017-11-09 05:54] agocke commented on #15378
Having just done a quick test, it looks like we would need to add a `net47` target to *every* assembly, not just `csc`.

[2017-11-09 06:09] #21738 closed

[2017-11-09 09:02] DavidArno opened #23098 "Deconstruct expressions do not seem to match types to resolve which Deconstruct to use"
**Version Used**:
VS 15.5.0 Preview 3.0, though the same behaviour exists for other VS2017 versions.

**Steps to Reproduce**:
Attempt to compile the following code:
[code]

**Expected Behavior**:
The compiler should correctly select the `Deconstruct` that matches the types of the deconstruct (` public void Deconstruct(out string x, out string y)`).

**Actual Behavior**:
The compiler complains that

[2017-11-09 09:15] adamralph commented on #23073
.vs is already in my ignore file. Ideally, I want to "as much of `-fxd` as possible" so I think `-e` is the slightly better workaround for me.

[2017-11-09 09:19] paul1956 opened #23099 "VB Reports Error BC32042 where it shouldn't"
**Version Used**:
VS 2017 15.4.3
**Steps to Reproduce**:

1. Change Option Infer to Off in StackScheduler.vb then an error appears on Line 71
[code]
2. LocalInfo must be a variable because of where it is, but since it has the same name as a Structure, Class or Type the compiler is returning the wrong error. This is similar and may be related to #22451 but a more general issue and the error is diff

[2017-11-09 09:20] adamralph commented on #23060
@Pilchie if the solution is closed then yes, it appears .vs can be cleaned. However, I don't think that alleviates the problem sufficiently. The time to reload the solution can also be significant, even more so that VS start up time. The Roslyn solution is a great example! 😉

[2017-11-09 09:44] SetTrend commented on #13951
@hardhub: 👍  😳

Oops ... Edited my original posting to show expected behaviour. Thanks for pointing it out!

[2017-11-09 12:02] anydream opened #23100 "The C# compiler failed to compile "obj is byte*[]" form"
**Version Used**:
Visual Studio 2017
C#7.1
.NET Framework 4.7

**Steps to Reproduce**:

1. Try to compile this code:
[code]

**Expected Behavior**:
Compile success.

**Actual Behavior**:
Program.cs(8,20,8,24): error CS1525: Invalid expression term 'byte'
Program.cs(8,25,8,26): error CS1525: Invalid expression term '['
Program.cs(8,26,8,27): error CS0443: Syntax error; value expected

[2017-11-09 12:34] adamralph opened #23101 "Improve logic around showing/hiding stack frames in scripting hosts"
_As [requested](https://github.com/dotnet/roslyn/pull/23029#discussion_r149212388)._

As discussed [here](https://github.com/dotnet/roslyn/pull/23029#discussion_r149200229), [CommonMemberFilter.IsHiddenMember](http://source.roslyn.io/#Microsoft.CodeAnalysis.Scripting/Hosting/CommonMemberFilter.cs,50) returns `true` for stack frames related to generated members. The script entry point is a generate

[2017-11-09 14:34] HaloFour commented on #23100
The `is` operator doesn't work with pointers.  I believe that limitation is inherited from the CLR `isinst` opcode not being able to distinguish between different pointer types.

[2017-11-09 14:43] freemstr commented on #23074
The issue is reported in VS 15.5, I encounter this in 15.4.3 which makes it a production issue,
any workaround is appreciated.

Application: devenv.exe
Framework Version: v4.0.30319
Description: The application requested process termination through System.Environment.FailFast(string message).
Message: System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Para

[2017-11-09 14:48] alrz commented on #23098
Relates to https://github.com/dotnet/roslyn/issues/19825

[2017-11-09 14:54] DavidArno commented on #23098
Thanks @alrz.

I'll close this and move it to csharplang as a feature request.

[2017-11-09 14:54] #23098 closed

[2017-11-09 15:36] jhealy commented on #23083
My real angle on  this is I'm hoping the newer ones pickup more dispose/memory leaks.  "big ole customer" trying to take core system to prod and its wuffing out miserably.  Found a few dispose/lock contention manually, but hoping new core analyzers did better job.  Thanks for the advice btw.  I'm a PFE - jhealy@youknowwhere.

[2017-11-09 15:59] Pilchie commented on #23060
@adamralph Pretty much my entire job right now is working on improving solution load time.  I'm pretty familiar with the problem 😜

Was just checking to see whether the implementation was at least working as designed...

[2017-11-09 16:01] Pilchie commented on #23060
BTW - 15.5 Preview includes some significant changes for non-SDK .NET Framework projects, and some improvements for SDK (.NET Core/.NET Standard) projects.

Would love to get peoples impressions.

We've got more underway for 15.6, especially for SDK projects.

[2017-11-09 16:02] NPatch commented on #4381
If I understand @tmeschter 's response now that I reread it, even with strong-naming and different versions, the analyzer won't be reloaded after the first time in a single VS session.
Also correct me if I'm wrong but the Component Cache won't remove it's entry for the Analyzer even if you remove it from the session, so it's easier to fetch if you want to re-add it. And the re-adding will ignore t

[2017-11-09 18:19] AdamSpeight2008 commented on #23062
@gafter I did look it up, point was if it isn't in the specification yet. The LDM can decide to just update the spefication, as the feature has in at least 2 release versions of the language (VB14/15). So changing it now would be breaking source code backwards compatibility, between the updated version and those version of VB.

[2017-11-09 18:39] VSadov commented on #22841
Fixed in https://github.com/dotnet/roslyn/pull/23055

[2017-11-09 18:39] #22841 closed

[2017-11-09 18:39] VSadov commented on #21979
Fixed in https://github.com/dotnet/roslyn/pull/23055

[2017-11-09 18:39] #21979 closed

[2017-11-09 18:39] VSadov commented on #22880
Fixed in https://github.com/dotnet/roslyn/pull/23055

[2017-11-09 18:39] #22880 closed

[2017-11-09 18:39] VSadov commented on #22858
Fixed in https://github.com/dotnet/roslyn/pull/23055

[2017-11-09 18:39] #22858 closed

[2017-11-09 18:57] VSadov commented on #22712
Yes. we have short term a solution that we believe is the right balance between desire to use new features and produce code compatible with old verification rules: #22772

We are also working on extending verification rules:
dotnet/designs#17
dotnet/designs#21

[2017-11-09 18:57] #22712 closed

[2017-11-09 18:58] VSadov commented on #22721
Fixed in #22772

[2017-11-09 18:58] #22721 closed

[2017-11-09 19:00] VSadov commented on #22062
Fixed in https://github.com/dotnet/roslyn/pull/23055

[2017-11-09 19:00] #22062 closed

[2017-11-09 19:15] agocke commented on #23066
Yes, it was. @eerhardt this was fixed in `post-dev15.5-contrib`. Is this a blocker for CLI? Do we need to backport this to 15.5?

[2017-11-09 19:47] eerhardt commented on #23066
From my understanding of the code, by default the CLI `dotnet build` doesn't use `RunCsc.cmd`.  `RunCsc.cmd` only gets invoked if a user PackageReferences to `Microsoft.NETCore.Compilers`.

@khyperia can correct me if I'm wrong.

So this isn't really a "blocker for CLI" in that respect.

Are you planning on shipping a `Microsoft.NETCore.Compilers` NuGet package for 15.5 that has this bug in it?  I

[2017-11-09 20:09] sharwell opened #23104 "Analyzer runner: differential cost for documents"
During recent performance investigations, we've observed cases where individual analyzers were costly within the context of specific documents in the solution. To improve performance in transient cases, it would be exceptionally valuable to do the following:

[code]

At the end of the test, a table could be presented of the most expensive analyzers in the context of specific problematic documents.

[2017-11-09 20:53] tmeschter commented on #4381
@NPatch If the assembly has a strong name *and* the version has changed we should be able to load the new version in the same VS session. We will not be able to unload the old version, but I would expect us to stop using it in favor of the new one.

Which "component cache" are you referring to? A MEF cache?

The relevant version is the `AssemblyVersion`. The `AssemblyFileVersion` is not relevant f

[2017-11-09 20:56] NPatch commented on #4381
Yeah, unless that doesn't take part in it. It stands to reason that they get cached somewhere since removing them doesn't remove this issue.
I tried both of them anyway but it didn't help.

[2017-11-09 21:13] jcouv commented on #18963
Merge fix, expected to ship in 15.6

[2017-11-09 21:13] #18963 closed

[2017-11-09 21:26] sharwell commented on #22601
@MhdTlb Yes. Do keep in mind that I'm not certain this is an issue that may or may not have an easy solution. If you get stuck, let us know and we'll try to track down the right person to unblock you. :smile:

[2017-11-09 21:26] jinujoseph opened #23105 "Roslyn & Completion API"
- [ ] Port Microsoft.CodeAnalysis.Editor.Implementation.Intellisense.Completion.Controller.Session.ModelComputer [1] and relevant code to completion.Implementation.VisualStudioCompletionSession.OpenOrUpdateAsync

- [ ]	Attempt to implement the proposed API with Roslyn’s completion provider, specifically
a.	Completion.Definition.IAsyncCompletionItemSource [3]
b.	Completion.Definition.IAsyncCompleti

[2017-11-09 21:29] khyperia commented on #23066
https://github.com/dotnet/roslyn/pull/23034#issuecomment-342331327

I think we've already answered that :)

[2017-11-09 21:33] sharwell commented on #21907
@MhdTlb It looks like @zaytsev-victor already submitted a pull request for this. If you're looking for a good first issue, might I suggest #23043? :smile:

[2017-11-09 21:37] sharwell commented on #23043
This issue is reserved for a first-time (and non-Microsoft) contributor for the next 3 days. In particular, @MhdTlb has first call.

Helpful starting points:

* Pull request #23014 implemented a very similar feature
* A complete (or near-complete) unit test for C# is provided in the original bug report above
* Here is our getting started document: https://github.com/dotnet/roslyn/wiki/Contributing

[2017-11-09 21:54] jcouv commented on #16810
Assigned @agocke, since mentioned he wanted to take this issue. Thanks

[2017-11-09 22:19] VSadov commented on #22455
@dotnet/roslyn-compat-council - are we ok with this change compat-wise?

[2017-11-09 22:32] tannergooding commented on #22455
@VSadov, what about `ref`?

[2017-11-09 22:42] jcouv commented on #23101
Tagging @tmat

[2017-11-09 22:44] jaredpar commented on #22455
Need to send an email to compat council. Not enough will respond to the github notification.

[2017-11-09 22:45] VSadov commented on #22455
`ref` is ok. Varargs can be byref and work just fine.
It is the contracts of `in` and `out` that do not make sense in vararg case - callee essentially cannot promise anything - whether it will or will not write through the refs.

If we use `in` or `out` at cal site we end up with situation where caller trusts its own annotation, which is pointless.

[2017-11-09 22:45] VSadov commented on #22455
@jaredpar - right, Will send.

[2017-11-09 23:14] paul1956 opened #23106 "Question on stepping through Roslyn CodeAnalysis DLL's"
**Version Used**:
2.x
**Steps to Reproduce**:

1. There are instruction on how to contribute that explain how to fix a bug in Roslyn and test that using startup project VisualStudioSetup.Next
2. I can't find instruction on how to test my CodeFix that includes Roslyn Dll's as NuGet packages. I want to step into a Roslyn DLL. If I add my code to Roslyn.sln I need to remove all the NuGet packages, an

[2017-11-09 23:21] #19609 closed

[2017-11-10 00:10] agocke commented on #23066
OK, just making sure 😄. In that case I'm closing as resolved by https://github.com/dotnet/roslyn/pull/23034

[2017-11-10 00:10] #23066 closed

[2017-11-10 00:36] VSadov commented on #19831
simpler repro:

[code]

crashes with NRE in /o+

Seems like a bug in async capture analysis.   `obj` must be captured here and it is not.

[2017-11-10 00:42] #16547 closed

[2017-11-10 00:47] ivanbasov opened #23108 "Feedback for Analyzer Runner Tool"
Here is feedback from https://github.com/dotnet/roslyn/pull/23087 we decided to process with separate PRs:

- [ ] some analyzer require additionaltext, we need to think about how to support such analyzer
on
`var newCompilation = compilation.RemoveAllSyntaxTrees().AddSyntaxTrees(compilation.SyntaxTrees.Select(t => t.WithRootAndOptions(t.GetRoot(), t.Options.WithFeatures(new[] { new KeyValuePair<str

[2017-11-10 01:08] 333fred opened #23109 "IOperation Support for Mid Statements"
IOperation does not yet support Mid Statements. When we do, we'll need to update the implementation of VisualBasicOperationFactory.CreateBoundAssignmentOperatorOperation to handle them.

[2017-11-10 01:22] #2644 closed

[2017-11-10 01:23] #21674 closed

[2017-11-10 03:12] davkean commented on #22789
I just hit this regression as well, but can you help me understand a few things:

1) Typing `<sealed` and `TAB` results in `<see langword="sealed"/>` not `<sealed` like you are implying.
2) After living with the new behavior for a day, I actually like it. It makes it significantly easier to write the `<see langword="[langword]"/>` construct, I'm not impressed by my original suggestion here: https:

[2017-11-10 03:13] heejaechang commented on #23106
tagging @mavasani

[2017-11-10 05:25] #22994 closed

[2017-11-10 08:52] AdmiralSnyder commented on #23072
@sharwell how do you suggest i do this with SyntaxTree?

[2017-11-10 09:14] rifano84 commented on #12255
Another solution is to reference directly the System.Collections.Immutable.dll using the project references

[2017-11-10 10:40] vblazhnov opened #23111 "Not filled copyright info in roslyn/License.txt"
**Version Used**:
master
**Steps to Reproduce**:

1.  Open https://github.com/dotnet/roslyn/blob/master/License.txt
2. Find " Copyright [yyyy] [name of copyright owner]" template

**Expected Behavior**:
Template is filled

**Actual Behavior**:
Template is not filled

[2017-11-10 15:46] mavasani commented on #23106
@paul1956 Can you try the following:

1. Build Roslyn.sln with `/p:DeployExtension=true /p:OfficialBuild=true` so the Roslyn bits are deployed to RoslynDev hive and have version 2.6.X.
2. Change the deployment hive in your Analyzer/CodeFix project from `Roslyn` to `RoslynDev`. This can be done by changing the VSIX/Setup project's  `VSSDKTargetPlatformRegRootSuffix`property. Your project file shoul

[2017-11-10 16:06] khyperia opened #23112 "Flaky test: TestRemoteHostConnect"
`Roslyn.VisualStudio.Next.UnitTests.Remote.ServiceHubServicesTests.TestRemoteHostConnect`

Failure in `windows_release_unit32_prtest`: https://github.com/dotnet/roslyn/pull/22291

Failure in `windows_debug_unit64_prtest`: https://github.com/dotnet/roslyn/pull/23053

Failure in `windows_debug_unit32_prtest`: https://github.com/dotnet/roslyn/pull/23141

Failure in `windows_release_unit32_prtest`: ht

[2017-11-10 16:49] jeromelaban opened #23114 "Cross targeted project with different targetframeworks fail to load MetadataReferences"
**Version Used**:
VS15.4

**Steps to Reproduce**:
1. Create an empty solution
2. Create a project named A with `<TargetFrameworks>net46;netstandard1.0</TargetFrameworks>`
3. Create project named B with `<TargetFrameworks>net46;netstandard2.0</TargetFrameworks>`
4. Make the B project reference A
5. With Roslyn workspace APIs do the following:
[code]

**Expected Behavior**:
The `project.MetadataRefe

[2017-11-10 16:50] mavasani opened #23115 "Incorrect order of initializer operation nodes in anonymous object creation in query clause"
See https://github.com/dotnet/roslyn/pull/23080/files#r150128874

Source:
[code]

Operation Tree:
[code]

[2017-11-10 17:27] Pilchie opened #23116 "Use var incorrectly changes out variable declarations to var"
**Version Used**:
VS2017 15.5 P3

**Steps to Reproduce**:

[code]

**Expected Behavior**:
No suggestion to convert `int` to `var`, since it changes overload resolution to the `object` overload.

**Actual Behavior**:
Suggestion which breaks code.

[2017-11-10 17:33] Pilchie opened #23118 "Use local function breaks when passing delegate to method taking object"
**Version Used**:
VS2017 15.5 P3

**Steps to Reproduce**:

[code]

**Expected Behavior**:
No suggestion to convert `f` to a local function, since it breaks the call to `AssertSame` **or** a cast to the `Func` type at the callsite.

**Actual Behavior**:
Suggestion, which breaks the callsite.

Also the newline in the declaration of `f` looks really bad.

[2017-11-10 17:34] Pilchie commented on #23118
Tag @CyrusNajmabadi - interested in fixing?

[2017-11-10 17:34] Pilchie commented on #23116
Tag @CyrusNajmabadi  - interested in fixing?

[2017-11-10 17:42] sharwell commented on #22789
@davkean You can get `<see langword="sealed"/>` by typing `sealed` and pressing <kbd>Ctrl</kbd>+<kbd>Space</kbd>. This means you can also convert any existing use of e.g. `null` in a documentation comment with `<see langword="null"/>` by placing the caret anywhere within the word and pressing <kbd>Ctrl</kbd>+<kbd>Space</kbd>.

[2017-11-10 20:00] xt0rted opened #23119 "Intermittent build failure after upgrading to latest version"
**Version Used**:
Microsoft.Net.Compilers 2.4.0
Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.8

The two different messages I'm getting in my build log are
[code]
[code]

I had this happen on Azure/in Kudu a few months ago but was unable to get the build to succeed so I rolled back my NuGet packages to their original versions and builds started working again. At the same time I did get th

[2017-11-10 20:14] adamralph commented on #5654
@filipw I'm looking at `NuGetMetadataReferenceResolver` but I can't see how it's providing NuGet references. It seems to merely wrap another resolver and when the `#r` starts with "nuget" it returns a reference to its own assembly, which contains no other types. What am I missing? Where is the download of the package happening?

[2017-11-10 20:32] adamralph commented on #5654
From https://github.com/dotnet/roslyn/pull/5653#issuecomment-145575763:

That comment was written in **October 2015**. More than two years has passed and we still don't have this, IMHO, essential feature. I see that 8 days ago, it was removed from the 15.6 milestone (I was excited to see it on that milestone) and moved to "unknown". Is there a reason this keeps getting postponed (2 years and count

[2017-11-10 20:34] CyrusNajmabadi commented on #23118
Sure!

[2017-11-10 20:35] CyrusNajmabadi commented on #23118
Can it be assigned to me so it shows up in my github queries?  Thanks!

[2017-11-10 20:35] CyrusNajmabadi commented on #23116
Sure.  assign plz.

[2017-11-10 20:37] adamralph commented on #6900
Is this a duplicate of https://github.com/dotnet/roslyn/issues/5654 ?

[2017-11-10 20:40] adamralph commented on #17666
I see that the current build produces `C:\Code\dotnet\roslyn\Binaries\Debug\Exes\csi\netcoreapp2.0\csi.dll`. If that was renamed to `dotnet-csi.dll` would we then not have `dotnet csi`? I'm not sure there's a reason to build it into the `dotnet` shell itself.

[2017-11-10 20:42] adamralph commented on #17666
BTW - is this not a duplicate of https://github.com/dotnet/roslyn/issues/6882 ?

[2017-11-10 20:47] daveaglick commented on #5654
I agree. NuGet provides an excellent extensibility model for scripting and makes bootstrapping all the requirements for a script much, much easier.

[2017-11-10 20:50] adamralph opened #23120 "Include csi.dll in Microsoft.Net.Compilers.nupkg"
The current build produces these two outputs:

- Binaries\Debug\Exes\csi\net46\csi.exe
- Binaries\Debug\Exes\csi\netcoreapp2.0\csi.dll

(Plus supporting DLL's.)

However, only the net46 output is packaged into the tools folder of Microsoft.Net.Compilers.

It would be great if the netcoreapp2.0 output could be packaged as well, so we can use it on non-Windows platforms.

[2017-11-10 20:51] adamralph commented on #15496
The current build already produces `Binaries\Debug\Exes\csi\netcoreapp2.0\csi.dll` and supporting files, but it looks like it's just not distributed anywhere. See https://github.com/dotnet/roslyn/issues/23120

[2017-11-10 21:14] Pilchie commented on #23118
Unfortunately no.  GitHub only allows you to assign to "contributors"

[2017-11-10 21:35] CyrusNajmabadi commented on #23118
:'(

[2017-11-10 22:17] TylerHelmuth opened #23123 "Microsoft.CodeAnalysis.Scripting.CompilationErrorException: '(1,8): error CS1503"
**Version Used**:
.Net 4.6.1
VS 2015 w/ Update 3
Nuget Package: Microsoft.CodeAnalysis.CSharp.Scripting V2.4.0

**Steps to Reproduce**:
[code]

**Expected Behavior**:
"test" is written to the Console.

**Actual Behavior**:
Error is thrown when executing .RunAsync

Unhandled Exception: Microsoft.CodeAnalysis.Scripting.CompilationErrorException:
(1,28): error CS1503: Argument 1: cannot convert from

[2017-11-10 22:43] vsfeedback opened #23124 "Visual Basic methods with nested type constraints can't be used as extension methods"
Are extension methods more than just &quot;syntactic sugar&quot;?

Sub exampleMethod(Of T, TList As IList(Of T))(list As TList)
End Sub

compiles just fine.

&lt;Extension&gt;
Sub exampleMethod(Of T, TList As IList(Of T))(list As TList)
End Sub

results in

Extension method 'exampleMethod' has type constraints that can never be satisfied

_This issue has been moved from https://developercommunity.

[2017-11-10 22:45] agocke commented on #23124
@AnthonyDGreen Can you take a look at this and tell me if I'm missing something? I can't see why there would be unsatisfiable type constraints.

[2017-11-10 22:57] vsfeedback opened #23126 "VB incomplete assignment gets parsed and compiled successfully"
Using VB .Net 2017

The lines does not produce any errors:

        dim tl_x, br_x as integer
        dim tl_y, br_y as integer
        ' top-left
        tl_x =  tvCfgCon.Location.X + tvCfgCon.Size.Width   + 5
        tl_y = pnlHeader.Location.Y + pnlHeader.Size.Height + 5
        ' bottom-right
        br_x = pnlBottom.location.X + ' second addend is missed!
        br_y = pnlBottom.location.Y

[2017-11-10 23:01] vvuk opened #23127 "method param ExplicitDefaultValue returns null for negative integer default values"
**Version Used**: 2.4.0

**Steps to Reproduce**:

Compile and run this code:

[code]

The resulting output should have "-1" as the default value for param `b` of `someMethodB`.  Instead, it's null:

[code]

Any negative value becomes null; values >= 0 work fine.

[2017-11-11 00:08] CyrusNajmabadi commented on #23089
Hey Jinu, can you clarify what thsi means?  Is this having Roslyn use a platform exposed pattern matcher?  If so, can we ensure that the latest work we did in this area was ported into the platform code. (there was a lot of optimizations that improved performance/allocations).  We shoudl also ensure that all our latest PatternMatcher tests run successfully against a platform pattern matcher.

[2017-11-11 00:10] CyrusNajmabadi commented on #13951
1. As a language proposal, this should probably go to csharplang.  Paging @jcouv as he's good at moving these.
2. A big part of ?. is not executing code once null is hit.  i.e. if i have:

```x?.Foo(a1, b1, c1)``` then a1, b1, c1 are not evaluated if x is null.  It seems strange that in ```x?.y = z``` that z would be evaluated if it's not going to be assigned into anything.

[2017-11-11 00:20] CyrusNajmabadi commented on #22096
Does goto-def work here?  If not, it would be nice to support that as well.

[2017-11-11 00:26] jcouv opened #23130 "Enable PE verification in tests of unsafe code"
Currently `CompileAndVerify` (`src/Test/Utilities/Portable/CommonTestBase.cs`, line 126) automatically skips PE verification if the compilation has unsafe flag. We should tighten this and identify individual tests for unsafe code that should skip PE verification.

[code]

Tagging @VSadov

[2017-11-11 00:29] CyrusNajmabadi commented on #23076
@jasonmalinowski We talked a long time back about WorkspaceHost being async. IIRC, it was an issue even before OOP because we used to use this report events for the codelens system to use (before we took ownership of that).  I seem to recall you thinking it would be very hard to do that (esp. given that so many project/solution/vs apis are synchronous and UI thread bound.  Do you remember any of y

[2017-11-11 00:35] jasonmalinowski commented on #23076
@CyrusNajmabadi We are already working on fixing this.

[2017-11-11 00:40] CyrusNajmabadi commented on #23072
Speaking on behalf of Sam, the SyntaxTree is a fully representative structure that gives you the ability to make any sort of change you want.  In your case, if you have this ClassDeclarationSyntax node, then you can just grab the .CloseBraceToken off of it.  You can then fully access the trivia of that token and make whatever new structure you want.

In your case, you would grab all the leading tr

[2017-11-11 00:45] CyrusNajmabadi commented on #23076
Great!  Definitely interested in seeing what the fix will be here.

[2017-11-11 00:51] CyrusNajmabadi commented on #2981
This looks like something that needs to be on csharplang (if it's asking for a language change), not dotnet/roslyn.  Though it's unclear to me what the actual proposal is.

[2017-11-11 00:59] agocke commented on #16356
I looked around and can't find my script :/

[2017-11-11 01:19] jasonmalinowski commented on #16356
Reactivating because we still need this, but it's not @agocke's problem anymore. :smile:

[2017-11-11 01:19] VSadov commented on #23130
Just specifying AllowUnsafe does not necessarily mean that the result must be unverifiable.

I think this "don't try" should be removed. It would be ok to suppress verification for individual tests or test areas, but it does not feel right to do at the level of common test helper.

[2017-11-11 01:38] paul1956 commented on #23106
@mavasani
1. Where do I put /p:DeployExtension=true /p:OfficialBuild=true? I know how to build Roslyn using Build.cmd or open Roslyn.sln in Visual Studio and select Build/Build Solution; are you saying  I need to do something different?
2 Everyone has said I need to add my project to Roslyn, and build it. It looks like you are saying I keep my solution separate (which is good because I have menu c

[2017-11-11 02:09] taori opened #23131 "Unexpected behavior for is operator"
**Version Used**:
VS 15.4.2 Project set to current minor version of C#.
**Steps to Reproduce**:

		static void Main(string[] args)
		{
			TestWithConcreteOption();
			TestWithInterfaceOption();
			TestWithDerivedOption();
			TestWithObjectOption();

			Console.ReadKey();
		}

		private static void TestWithConcreteOption()
		{
			var interfaceOption = CreateOption();
			var context = CreateContext(

[2017-11-11 02:16] tmat commented on #23106
@paul1956 Let's step back a little bit. I don't think you should need to do anything in Roslyn repository in order to develop and debug your analyzer. Were you not able to debug thru Roslyn assemblies when referencing them from your project outside of Roslyn repository?

[2017-11-11 02:25] paul1956 commented on #23106
I can debug my Analyzer with Roslyn Dlls (NuGet Packages) as a black box I just step over them. But I have found issues where I believe Roslyn is not behaving correctly and I am trying to step into Roslyn specifically the SyntaxEditor.ReplaceNode and ForEachStatementInfo.ElementType where I get unexpected results and don't know where to start.

[2017-11-11 02:48] jcouv commented on #23123
Tagging @tmat

[2017-11-11 02:50] jcouv commented on #23099
@AlekseyTs Would you mind taking a look and advise on priority?

[2017-11-11 03:03] jcouv opened #23132 "Tighten PE verification in CompileAndVerify"
Currently, we either run the verification or we don't.
Instead, we should always run the verification and either expect that it succeeds or expect that it fails.

FYI @VSadov

[2017-11-11 03:57] xt0rted commented on #23119
Cross posting from https://github.com/aspnet/RoslynCodeDomProvider/issues/10

I don't think the issue is related to this repo, so I'm closing the issue since I found a resolution to it. Feel free to reopen or ask for more info if there could be a deeper issue here.

[2017-11-11 03:57] #23119 closed

[2017-11-11 09:43] AdmiralSnyder commented on #23072
oh, i didn't come up with that idea. and didn't find anything like this by googling. is there a roslyn faq or tutorial to write something for?

[2017-11-11 14:34] anydream commented on #23100
@HaloFour  But the type ``byte*[]`` isn't a pointer type, it actually an array type.
And that code can compiled by older csc.exe compilers.
So I think maybe that's a bug, not feature.

[2017-11-11 16:36] adamralph commented on #6882
What about vbi and fsi? Would it not be better to leave them all separate and explicitly call `dotnet csi`, `dotnet vbi`, or `dotnet fsi`?

[2017-11-11 16:41] adamralph commented on #23120
FYI, I've altered the title to be more general, i.e. relating to all the tools, rather than just csi.exe.

I've also added a proposal to put the `net46` and `netcoreapp2.0` to each be put in a subfolder of `tools`.

[2017-11-11 16:59] gafter commented on #23131
You are testing for types that are not the dynamic type of the object.

[code]

[2017-11-11 17:02] gafter commented on #23123
Did you try looking at the error messages from the script before attempting to run it? Are there errors? Do they look correct?

[2017-11-11 17:12] CreateAndInject opened #23133 "Instance member signatures are shown in a static member context"
**Version Used**: vs2017 15.4.3

**Steps to Reproduce**:
write: System.Text.RegularExpressions.Regex.Match(

**Expected Behavior**:
Show only static methods overload
**Actual Behavior**:
Show both static and instance methods overload

By the way, there are two repositories "reslyn" & "project-system", which one is the correct place talking about Visual Studio issue？

[2017-11-11 17:19] sharwell commented on #23133
Normally you take a best guess: project items go to project-system and C# editor/debugging features normally go in Roslyn. There are other repositories as well. If you send something to the wrong one we will help move it to the right place. 😄

For this issue, you found the right repository! 🎉

[2017-11-11 17:45] CreateAndInject opened #23134 "Can not use suggestion completion mode in Watch window."
**Version Used**: vs2017 15.4.3

**Expected Behavior**:
Can toggle between suggestion and standard completion modes or allways use suggestion completion mode in Watch window.
**Actual Behavior**:
Can only use standard completion mode in Watch window.

[2017-11-11 18:54] kurtgronbech commented on #21799
I'm back looking at this issue again. Here's the call stack after catching an exception on

`Microsoft.Build.Evaluation.ProjectCollection.GlobalProjectCollection.UnloadAllProjects();`

Call stack:

[code]

So it looks like it is the exePath parameter in
System.Configuration.ConfigurationManager.OpenExeConfigurationImpl which is the problem. Related to ToolsetReader..

Any ideas about what's going

[2017-11-11 19:15] ektrah commented on #23111
The template is part of a section that explains licensors how to use the Apache License. It's not the actual copyright notice for the licensed software.

It might be a good idea to add the actual copyright notice for Roslyn somewhere the project root, though. I've found myself looking for it in the past as well. Other license texts (e.g., MIT) typically have a template for the copyright notice, so

[2017-11-11 19:49] gafter commented on #22592
`this.Relay` is an rvalue, not an lvalue, so you can't modify one of its fields.

[2017-11-11 20:04] gafter commented on #20624
I suspect the reference assembly for the netstandard framework does not contain the private backing field of type `T` for the struct `Nullable<T>`. If so, the bug is in the reference assembly, not the compiler.

[2017-11-11 20:31] AdamSpeight2008 commented on #23127
There are only positive literals, the negative is an operator.

[2017-11-11 21:33] kurtgronbech commented on #21799
Seems related to all of these

https://github.com/Microsoft/msbuild/issues/2369
https://github.com/Microsoft/msbuild/issues/2310
https://github.com/Microsoft/msbuild/issues/2427
https://github.com/dotnet/roslyn/issues/15056
https://github.com/dotnet/roslyn/issues/21583
https://github.com/dotnet/roslyn/issues/21275

All of these solutions/workarounds works for me:

**Workaround 1)**

Setting MSBUIL

[2017-11-11 21:39] taori commented on #23131
@gafter Yeah. i guess i can see why it isn't working.

Do you disagree though, that adding analyzer warnings should be added to interface+object creation to avoid this?

My guess is that the is operator works this way to avoid doing reflection on runtime objects to see if the object matches the type which it is being checked for.

[2017-11-11 22:24] gafter commented on #23131
@taori You are confusing the static type of the container, `IToolContext<IOption>`, with the dynamic type of the thing it contains, `IGeneratorOption`. The type argument of the former does not have to be the same as the latter. The container might not even contain anything that could be checked at runtime, or it may contain multiple things of different types (e.g. if it is a `List<T>`).

I'm not s

[2017-11-11 22:24] #23131 closed

[2017-11-11 22:25] #3995 closed

[2017-11-11 22:26] #11492 closed

[2017-11-11 22:26] #13422 closed

[2017-11-11 22:27] #22459 closed

[2017-11-11 22:27] #22592 closed

[2017-11-11 23:45] CyrusNajmabadi commented on #23116
FYI, i'm trying to do this.  But hte experience on 15.3.4 with Roslyn.sln seems to be worse than before.  I'm routinely seeing:

![image](https://user-images.githubusercontent.com/4564579/32694539-42e2d7a6-c6f7-11e7-9a77-048b2c101a14.png)

Also, EnC seems totally broken.  If i f11 and cause a file to open, then EnC will report a rude edit occurred and I'll have to stop debugging.

[2017-11-11 23:47] CyrusNajmabadi commented on #23116
Also, it's still doing the thing where projects rebuild even when nothing chnaged.  Just doing ctrl-f5 always ends up causing this to build:

[code]

Effectively, there is no inner loop possible right now.  Which is pretty painful :-/

[2017-11-12 01:05] vsfeedback opened #23137 "c# CS0162 missing message for 'throw' after 'break' in switch [Ide]["
string xxx = &quot;xxx&quot;;
            switch (xxx)
            {
                case &quot;&quot;:
                    throw new Exception();
                    break;                  // (A)

                default:
                    break;
                    throw new Exception();  // (B)
            }

In the code above (A) gives:

CS0162 Unreachable code detected

(B) gives no messag

[2017-11-12 01:22] Pilchie commented on #23116
I would *highly* recommend installing the preview channel and trying 15.5 Preview 3.

[2017-11-12 01:25] CyrusNajmabadi commented on #23116
What's the link to the preview channel?  Thanks! :)

[2017-11-12 01:34] CyrusNajmabadi commented on #23116
Ok.  PRs provided for the two bugs.  Happy to help out with Roslyn :)   Very much looking forward to the perf improvements coming down the pipe!

[2017-11-12 01:39] Pilchie commented on #23116
We appreciate it!  Preview channel is at https://visualstudio.com/vs/preview.

[2017-11-12 01:51] vsfeedback opened #23138 "Snippet Misbehavior: value is overwritten"
(using VS v15.3.5)
Today I noticed a new problem with some of my snippets. I'll give an example using one of the simplest ones--prop.

1. enter &quot;prop&quot;, hit TAB
2. for the type, enter List&lt;int&gt; (hit TAB)
3. with the property name selected, enter &quot;TestProp&quot; (hit TAB)
As soon as TAB is pressed, the &quot;TestProp&quot; is replaced with &quot;list&quot;. The expected behaviou

[2017-11-12 02:19] jakeswenson commented on #4330
Hey @CyrusNajmabadi, been a while!
I have no idea if this is still an issue. I can close this issue if you'd like?

[2017-11-12 03:29] jnm2 commented on #19143
This can't come soon enough as far as my company is concerned.

[2017-11-12 07:11] AlekseyTs commented on #23099
I think the current error is accurate, it is never valid for the  loop control variable to refer to a type. The "BC32042 Too few type arguments" error would lead people to believe that adding type arguments can actually fix the problem, but that is not the case.
The error "BC30451	'localInfo' is not declared. " is expected with Option Infer Off.

Below are the relevant quotes from the language spe

[2017-11-12 09:50] paul1956 commented on #23099
@jcouv , @AlekseyTs  you have the issue backwards and your analysis is agreeing the error is wrong. BC32042 is the error returned and it make no sense in this context, and to quote you "The error "BC30451 'localInfo' is not declared is expected" but not what is returned.

[2017-11-12 12:36] alrz opened #23140 "var patterns should be assigned in multi-label switch sections"
**Version Used**: 7.1

**Steps to Reproduce**:
[code]
**Expected Behavior**: compile with no error

**Actual Behavior**: error: use of unassigned variable `x`

[2017-11-12 15:47] svick commented on #22592
@gafter The point here is that `this.Relay.Text = "hello";` does not try to modify any `Relay` fields, it tries to set a property. And yet the compiler does not allow it.

[2017-11-12 16:01] gafter commented on #22592
Calling a property set method requires passing a `this` parameter by reference, which can only be done for an lvalue.

[2017-11-12 16:07] reaction1989 commented on #14979
@Pilchie this can be closed or?

[2017-11-12 17:41] svick commented on #23127
@AdamSpeight2008 At the semantic layer, the syntax used shouldn't matter. The parameter has a default value, so `IParameterSymbol.ExplicitDefaultValue` should return the default value.

---

The problem here is that the compilation does not include a reference to required basic types. If you look at the diagnostics of the compilation, you will get:

(5,20): error CS0518: Predefined type 'System.Ob

[2017-11-12 19:07] AlekseyTs commented on #23099
@paul1956 Thank you for pointing this out. I guess, I got used to bug reports listing an observed behavior first and then stating the expectations. Sorry about that.

[2017-11-12 19:09] AlekseyTs commented on #23099
Smaller repro:
[code]

Observed:
[code]

Same behavior in native compiler.

[2017-11-12 19:24] AdamSpeight2008 commented on #23127
@svick It has to be something to do with `IParameterSymbol` has been implement on some node.
[code]
Works as expected.

[2017-11-12 19:52] jcouv commented on #23140
Tagging @gafter
Personally, I don't see the value. Just remove `case 1:` and `case 2:`.

[2017-11-12 19:57] alrz commented on #23140
Imagine there are other sections as well, and you're switching on a function. the only workaround is to use a local here, but logically I'd expect this to work because var pattern is not meant to fail in any ways.

[2017-11-12 20:13] gafter commented on #23140
@alrz According to the specification, the lexically first matching case pattern is the one that determines the code to be executed. No subsequent patterns are considered in determining the matching switch section. Since `case 1` causes `case var x` to be bypassed, the variable `x` is not definitely assigned.

This is by design.

[2017-11-12 20:13] #23140 closed

[2017-11-12 20:28] VSadov commented on #22911
FYI: Proposal for the Pattern based fixed statement - https://github.com/dotnet/csharplang/pull/1100

[2017-11-12 21:29] #18713 closed

[2017-11-12 21:30] #21373 closed

[2017-11-12 22:39] svick commented on #23123
When I try running the code, the exception I get is:

I think this error is correct (the casing of the `Globals` property `C` doesn't match the casing used in the continuation, `c`).

I used VS 2017, but I'm not sure how could that affect this. Can you share your whole project? What is the version of .Net you're running the code on? How are you running the code?

[2017-11-12 22:47] #21687 closed

[2017-11-12 23:12] Pilchie commented on #14979
Tag @jinujoseph - @reaction1989 I could imagine someone specifying a margin on the control to make this look a little nicer someday.

[2017-11-13 00:33] vsfeedback opened #23142 "C# Code Containing LINQ Incorrectly Formatted When Using Surround With Snippet"
Step 1. Write a multi-line LINQ statement (using the extension methods, not the keywords).

Step 2. Select the statement and type Ctrl-K + Ctrl-S to invoke the snippet menu.

Step 3.  Select the surround with option and use &quot;using&quot;.

Step 4. The LINQ statement is not correctly formatted.

I've wasted lots of time over the past couple of years fixing this text. Ctrl-K + Ctrl-D (auto-forma

[2017-11-13 00:34] vsfeedback opened #23143 "Comment templates doesn't respect end_of_line = lf in .editorconfig"
Visual Studio doesn't respect the .editorconfig end_of_line.

1. save .editorconfig in the project root with the following content.

root = true
[*.cs]
end_of_line = lf

2. Open a file that has only LF as newline characters.
3. add a comment to a property by typing ///
4. observer how the newline now are CRLF

_This issue has been moved from https://developercommunity.visualstudio.com/content/prob

[2017-11-13 02:27] paul1956 commented on #23099
@AlekseyTs Does "Same behavior in native compiler." mean it is not a bug? Your argument was that the functionality did not agree with the spec and with Native compiler there were no code fixes that could fix this issue, providing a better error doesn't seem like a breaking change. With Roslyn it is more difficult to look for all the possible wrong errors that might be a BC30451 and I don't think a

[2017-11-13 02:38] paul1956 commented on #22451
Short Repo
[code]

[2017-11-13 03:11] AlekseyTs commented on #23099
Not at all. I reactivated the issue. Right? This information could be a useful for deciding priority for this issue.

[2017-11-13 03:23] paul1956 commented on #23099
@AlekseyTs  Thanks.

[2017-11-13 03:35] npolyak commented on #11297
Hey Pablo,
sorry for the delay, I finally made it work! (it only took me half a day:) )
the working solution is under https://github.com/npolyak/SimpleRoslynAssembly/tree/master/RoslynTest1
The key is that Every time you call Emit (in our case within EmitToArray), the emitted result is slightly different (perhaps due to the versioning). So the key is that you have to use the same byte array for cr

[2017-11-13 06:46] KarloX2 opened #23145 "Scripting API: Is there a way to abort a long running script?"
**Version Used**: V2.4.0

**Steps to Reproduce**:

1. Use the Scripting API like explained here: https://github.com/dotnet/roslyn/wiki/Scripting-API-Samples
2. Run a script that takes very long or forever (e.g. with an infinite loop or sleeping very long).

**Expected Behavior**:

I'd like to be able to abort the script if it doesn't complete within a defined time span.

**Actual Behavior**:

The

[2017-11-13 07:31] cdie commented on #22550
I have an example that in fact does break compilation. Here's some dummy code to demonstrates what is going wrong:

[code]
It gives inconsistent extraction and create a method that doesn't have neither list or firstA as parameter, and does break compilation.
Issue is created on VS dev community, that refer this thread
https://developercommunity.visualstudio.com/content/problem/148551/extract-metho

[2017-11-13 07:39] agocke commented on #22550
I believe that the parent issue is a consequence of https://github.com/dotnet/roslyn/issues/21975

[2017-11-13 07:54] AdamPew commented on #22688
Have you managed to find any solutions for the first build error issue?

[2017-11-13 13:05] pablonardone commented on #11297
Now it's working perfectly!!. Thank your very much Nick.
If you do not mind I'll leave the working code at [github](https://github.com/pablonardone/RoslynTest1) in case it could be useful for someone else.

[2017-11-13 13:25] npolyak commented on #11297
absolutely! I am writing a small code project article on this topic. will send you a link when done.

[2017-11-13 15:19] sharwell commented on #23043
Since I haven't heard back from @MhdTlb, I'm going to open this up to other first-time contributors (still reserved for first-time/non-Microsoft).

[2017-11-13 15:22] sharwell commented on #23043
Tweeted about it: https://twitter.com/samharwell/status/930093456030085127

[2017-11-13 15:23] TylerHelmuth commented on #23123
Sorry, I forgot to undo something before I posted. I've corrected `.ContinueWith("new TestClass().HelloWorld(C)")` to pass big C to the HellowWorldMethod.  I've also updated the post to say .Net 4.6.1

I should also note that the script is fine if compiled normally with the rest of the code instead of with Roslyn.

Finally, if I using a native C# class like List<string> instead of my own class, ev

[2017-11-13 15:32] MhdTlb commented on #23043
@sharwell  I'm having hard time to build the project with VS2017 on Windows 10 machine.

[2017-11-13 15:41] sharwell commented on #23043
@MhdTlb Can you be more specific (steps taken, error message seen)?

/cc @dotnet/roslyn-infrastructure

[2017-11-13 15:53] huoyaoyuan opened #23146 "VB editor provides redundant namespace in IntelliSense"
**Version Used**:
VS 15.4.3, 15.5.0 Preview 3.0
**Steps to Reproduce**:

1. Minimal reproduce code:
[code]
2. On the commented line, type `l.Add(New `

**Expected Behavior**:
IntelliSense suggets `A` after `New`. The variable name `a` should not be valid in the context after `New`.

**Actual Behavior**:
IntelliSense says `f as List(Of MyNamespace.A)`, and suggets `MyNamespace.A` after `New`, then

[2017-11-13 16:27] svick commented on #23123
Sorry, I should have fixed the obvious capitalization error myself. Yeah, now I can see the exception you're reporting. To me, it looks like a bug in Roslyn.

As a guess, I think it could be related to the fact that the original script has two references to your assembly: one included by default with an unspeakable alias and one included by your `MetadataReference`. The continuation script then so

[2017-11-13 17:04] TylerHelmuth commented on #23123
I think you're onto something with the Continuation Script comment.  When I remove the ContinueWith line and add a variable in the original script, it works
[code]

[2017-11-13 17:13] TylerHelmuth commented on #23123
I can also confirm that splitting it into a "continue from previous state" state produces the same error
[code]

[2017-11-13 17:27] tmat commented on #23145
If you want a reliable cancellation I'd recommend running the scripts in a separate process. This is how C# Interactive Window in Visual Studio is implemented.

[2017-11-13 17:41] KarloX2 commented on #23145
@tmat Not easy in my case. That would require many changes as the script is given a callback interface that allows access to information held in the server process.
Do you think that a separate AppDomain could solve it?

[2017-11-13 18:07] jinujoseph commented on #23074
Also reported [here](https://developercommunity.visualstudio.com/content/problem/146608/exception-in-editor-1.html)

[2017-11-13 18:12] vsfeedback opened #23147 "Intellisense suggestion (null check can be simplified) causes incorrect code flow"
See code example beflow. The exceptions being (conditionally) thrown are reversed when applying the intellisense suggestion (null check can be simplified).

ORIGINAL CODE
------------------
[code]

CODE AFTER APPLYING INTELLISENSE SUGGESTION
---------------------------------------------------------
[code]

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/

[2017-11-13 18:38] tmat commented on #23145
@KarloX2 You will have the same problem with AppDomain. It's harder to cleanly terminate a thread and unload the AppDomain.

[2017-11-13 19:16] npolyak commented on #11297
https://www.codeproject.com/Articles/1215168/Using-Roslyn-for-Compiling-Code-into-Separate-Net
here is the article - I think you owe me a 5:)

[2017-11-13 19:24] #23072 closed

[2017-11-13 19:27] uniqueiniquity commented on #16395
One more duplicate case: https://github.com/dotnet/roslyn/issues/16395https://developercommunity.visualstudio.com/content/problem/148578/indent-guide-lines-in-javascript-is-misaligned.html
Again, let me know if you determine that this is a different issue from the above.

[2017-11-13 19:39] CyrusNajmabadi commented on #23147
This is a known 'by design' approach to this feature.  This is a suggestion, allowing you to know a potential simplification.  It does not verify that there will be absolutely no change in semantics.  Indeed, for it to guarantee that, it would effectively be unable to be offered in nearly all the cases it is offered today.

If the potential for semantic change is not acceptable to you, i would rec

[2017-11-13 20:20] VSadov opened #23148 "Consider allowing user locals to share underlying slots for debug purpose."
Due to limitations of CCI and related debug information encoding we are currently unable to use same underlying implementation for more than one local - even if scopes a disjoint.

There are two major scenarios:
- when locals are mapped to actual IL slots
- when locals are mapped to backing fields due to async/iterator rewrite

In the second case we are going to allow reuse in Release (since savin

[2017-11-13 20:23] #23118 closed

[2017-11-13 20:24] #22672 closed

[2017-11-13 20:28] sharwell opened #23149 "'Use local function' breaks code (remaining case)"
From @CyrusNajmabadi in https://github.com/dotnet/roslyn/pull/23136#issuecomment-343706220:

[2017-11-13 20:30] sharwell opened #23150 "Use Local Function refactoring doesn't work when delegate is invoked with Invoke"
The following test shows a case where the Use Local Function refactoring is not available. However, since the *only* member invoked on the delegate is `Invoke`, the refactoring could be provided.

⚠️ A new test will need to be created showing that the refactoring is still not offered if another member is invoked on the delegate, such as `ToString()`.

https://github.com/dotnet/roslyn/blob/3a34dce9

[2017-11-13 21:25] jcouv commented on #22512
Merged into features/compiler with C# 7.3.

[2017-11-13 21:25] #22512 closed

[2017-11-13 21:55] npolyak commented on #11297
I removed the old repository and added the code from the article instead: https://github.com/npolyak/RoslynAssembly/tree/master

[2017-11-13 21:59] jnm2 commented on #19127
@tmat

This lack is causing pain my company and a few others pain. There are a number of votes now: https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/19107784-debugger-should-support-authentication-with-source

How soon can we expect some movement in this direction?

[2017-11-13 22:33] 333fred opened #23152 "Expression-Bodied Throw Statements still use IExpressionStatementOperation"
In non-expression-bodied contexts, we don't have IExpressionStatementOperations wrapping IThrowOperations. We do for expression-bodied members however.

[code]
Produces
[code]

[code]
Produces
[code]

FYI @AlekseyTs.

[2017-11-13 22:38] AlekseyTs commented on #23152
@333fred What is the syntax for the ```throw new NotImplementedException()```? If it is an expression, the the shape of the tree looks expected to me.

[2017-11-13 22:46] jcouv commented on #23130
I'll have a PR for https://github.com/dotnet/roslyn/issues/23132 soon. After that, could you help with the tightening the testing for unsafe code?

[2017-11-13 22:49] 333fred commented on #23152
It is an expression, but I'm thinking that we should fix up the tree here to be a single IThrowOperation in all scenarios. I ran into this when implementing https://github.com/dotnet/roslyn-analyzers/pull/1353, these two things feel like they should be identical from an IOperation perspective.

[2017-11-13 22:49] 333fred commented on #23152
Also tagging @dotnet/analyzer-ioperation.

[2017-11-13 22:52] gafter commented on #18750
Fixed in https://github.com/dotnet/roslyn/pull/18933

[2017-11-13 22:52] #18750 closed

[2017-11-13 22:54] AlekseyTs commented on #23152
We will not be able to get rid of throw expressions completely. Whatever analyzer you are writing, you should be prepared to deal with them and then, I believe, it wouldn't make much difference.

[2017-11-13 22:57] mavasani commented on #23152
I agree with @333fred that the trees should be identical for both cases mentioned above. Is there a specific reason we have an IExpressionStatementOperation for expression bodied member case but not for regular method body case?

[2017-11-13 23:01] AlekseyTs commented on #23152
Statements are mapped to statements, expressions are mapped to expressions.

[2017-11-13 23:15] CyrusNajmabadi commented on #23150
Agreed.  Note though that the refactoring would have to change the code from an invocation of 'Invoke' to a direct invocation of the local function.  i.e. ```local.Invoke()``` is not ok, but ```local()``` is ok.

[2017-11-13 23:31] VSadov commented on #23130
no problem. It will be mostly adding "verify: false" to select unsafe testcases.

[2017-11-14 00:22] jcouv commented on #23130
Thanks. Do wait for my PR to go in first. It will use `verify: Verification.Fails` instead of `verify: false`.

[2017-11-14 00:29] #23116 closed

[2017-11-14 00:41] AlekseyTs opened #23154 "System.NullReferenceException is thrown for dynamic object member initializer"
[code]

Observed:
[code]

[2017-11-14 00:48] vsfeedback opened #23155 "inline temporary variable creates invalid output"
Relevant code: https://github.com/mrexodia/AStyleHelper/blob/e44405801ed92e945672a10b9e1b49f1ad472f26/AStyleHelper/AStyleHelper.cs#L29

If you use the &quot;inline temporary variable&quot; feature it will propose invalid output:

https://i.imgur.com/D2w3XV1.png

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/144318/inline-temporary-variable-creates-inva

[2017-11-14 00:49] dpoeschl commented on #23155
We could consider not offering to inline variables being initialized to a new object creation.

[2017-11-14 03:37] paul1956 commented on #23106
@tmat any next steps or guidance?

[2017-11-14 03:42] tmat commented on #23106
@paul1956 I am following up internally on why our public symbols are not working for stepping into Roslyn code. They should be. Will get back to you shortly.

[2017-11-14 03:42] mavasani commented on #23106
@paul1956 Sorry, I forgot to reply. You can try the following:

1. Open VS developer command prompt.
2. From the root of Roslyn enlistment execute `msbuild /m /v:m /p:OfficialBuild=true /p:DeployExtension=true Roslyn.sln`
3. Open the .csproj file for your analyzer/fixer setup project (VSIX project) and replace `<VSSDKTargetPlatformRegRootSuffix>Roslyn</VSSDKTargetPlatformRegRootSuffix>` with `<VSS

[2017-11-14 03:58] CyrusNajmabadi commented on #23155
Couple of notes:

This output doesn't look invalid to me.

I don't see why.  It may be precisely what someone wants.  In general 'inline variable' will always change semantics.  As long as the initialization does any computation, then you'll now do that computation multiple times.  Inline-var is also allowed when it causes the computation to happen after where it used to happen.

Inline-variable i

[2017-11-14 04:27] KarloX2 commented on #23145
@tmat can you please explain the problem? By saying "harder" do you mean complicated but feasible, or just not possible under certain conditions (which)?

[2017-11-14 05:00] MkazemAkhgary opened #23157 "add struct as file template."
you can create new class or interface when creating new file. why not list struct for sake of completeness?

[2017-11-14 06:46] paul1956 commented on #23106
1. I think I need /p:SkipApplyOptimizations=true for step 2 or I get errors
2 For step 4 above I am running the production version of Visual Studio when I hit F5 and when did I tell my project to use Roslyn Bits instead of the NuGet packages?
3. When I hit F5 I get a new version of Visual Studio that normally has my VSIX and I load a test project (Roslyn/Samples.sln) that my CodeFix can fix. The s

[2017-11-14 06:47] caslan commented on #19127
@jnm2, we have recently bumped up the priority of this work item based on user feedback. It is the next work item on our list that we are going to take on in this space (i.e. it should start in the next week or so). It is too early to share timeline / target VS release at this point. Hope this helps.

[2017-11-14 09:43] NinjaSciurus commented on #19072
Why would you deliberately hide a non-deprecated public property from IntelliSense? This only makes developing harder and more time-consuming...

[2017-11-14 12:06] ehasis commented on #19940
I'm also having the same issue with VS2017 15.4.3. If the property or method have EditorBrowsableAttribute setted to EditorBrowsableState.Advanced, then looks like VB.NET editor interprets as EditorBrowsableState.Never. In C# editor this does not happens.

[2017-11-14 12:13] sharwell commented on #19940
I am able to reproduce the items mentioned by @gdroumpalis and @ehasis in version 15.4.3. The **Hide advanced members** option is grayed out, and behaving as though it's permanently enabled. One of the following needs to happen:

1. Enable the option and follow its setting properly
2. Leave the option disabled and stop hiding advanced members

[2017-11-14 13:43] jamescrowley commented on #22688
@AdamPew no, I got blocked by this and was intending to come back and try again at a later stage.

[2017-11-14 14:07] d1mnewz commented on #22184
related [csharplang/#1080](https://github.com/dotnet/csharplang/issues/1080)

[2017-11-14 14:31] HaloFour opened #23159 "Proposal: Show partial directory name in tab for project items with the same file name"
#### Problem

I'm currently working on a project where it's relatively common for there to be multiple related types of the same name but spread across different assemblies and namespaces.  Working on modifications often requires changes in two or more of these types.  Visual Studio only shows the file name in the tab in the editor which can make it difficult to keep track of which project item is

[2017-11-14 14:49] jnm2 commented on #19127
That's what I wanted to hear! Thank you!

[2017-11-14 14:55] eerhardt commented on #12167
This appears to be fixed.  I tried compiling a project that looks like

[code]

And it compiled just fine.  This bug can be closed.  I would close it, but I don't have permission.

We should also remove this comment from the dotnet/sdk repo:

https://github.com/dotnet/sdk/blob/35471d2fa7d6ce4a94035f08c5661ea722299a08/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.props#L123-L124

[2017-11-14 17:09] mavasani commented on #23106
@paul1956 Sorry, I had missed couple of things in my steps. I have updated the above comment https://github.com/dotnet/roslyn/issues/23106#issuecomment-344137376 and also performed these steps locally to confirm I can debug both Roslyn and analyzer/fixer sources in the same VS instance. Can you please try again?

[2017-11-14 18:44] xCyborg commented on #21327
Any updates on this? I still can't find how to use the latest language features in csi or C# interactive.

[2017-11-14 19:00] lucasseries900 opened #23163 "Bad MSIL code generated for expression causing incorrect return value when using null operator with generic type constructor"
64 bit Microsoft Windows 7 Enterprise OS
OS Version: 6.1.7601 Service Pack 1 Build 7601
.Net Version: 4.6.1590
Visual Studio Version: 15.3.3

**Steps to Reproduce**:

1. See stack over flow link for simple vb.net console applications that show how to reproduce.
2. https://stackoverflow.com/questions/47278596/null-operator-returns-incorrect-value-when-using-generic-type-constructor-v
3.

Expected t

[2017-11-14 19:03] VSadov commented on #19831
Even simpler repro without async. Clearly a hole in definite assignment analysis.

[code]

[2017-11-14 19:05] jcouv commented on #21327
This was fixed in 15.5 (not sure exactly which preview) which is why I closed the issue.
PR: https://github.com/dotnet/roslyn/pull/21331

[2017-11-14 19:07] jcouv commented on #21327
Verified this works:

[code]

[2017-11-14 19:10] jcouv commented on #23022
Jared added C# 7.2 to the release notes for next 15.5 preview.

[2017-11-14 19:10] #23022 closed

[2017-11-14 19:27] mavasani opened #23164 "Incorrect IsImplicit implementation for bad expression and bad statement in VB and C#"
Issue seems to be in the implementation of `CreateBoundBadExpressionOperation` and `CreateBoundBadStatementOperation` factory methods in both VB and C#. For example, see http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Operations/CSharpOperationFactory.cs,1013

Current implementation is `bool isImplicit = boundBadExpression.WasCompilerGenerated || boundBadExpression.ChildBoundNodes.Any(e =>

[2017-11-14 19:31] jcouv commented on #13951
Moving to csharplang

[2017-11-14 19:31] #13951 closed

[2017-11-14 19:31] jcouv commented on #13951
Issue moved to [dotnet/csharplang #1106](https://github.com/dotnet/csharplang/issues/1106) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-14 20:01] #20624 closed

[2017-11-14 20:01] gafter commented on #20624
Issue moved to [dotnet/corefx #25251](https://github.com/dotnet/corefx/issues/25251) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-14 20:28] #23093 closed

[2017-11-14 21:19] jnm2 commented on #19127
The only other thing that is probably just as important is for the debugger to locate pdbs in NuGet packages without them being present in the build output. Is that being tracked anywhere?

Right now the legacy csproj SDK copies the pdbs from the NuGet package into the consuming project's build output along with the dlls, but the new csproj SDK does not. The workaround as a consumer is to add `<Al

[2017-11-14 21:21] jnm2 commented on #19127
Wait, I'm wrong. I don't know of any way to cause the .pdb to be copied to the build output with the new csproj SDK.

[2017-11-14 21:26] jnm2 commented on #19127
Is the ideal that the PDBs will be copied (as in the issue you linked) instead of having the debugger locate them in be able to locate them in `%userprofile%/.nuget/packages` without them being present in the build output?

[2017-11-14 21:30] tmat commented on #19127
@jnm2 Correct. Changing the VS debugger (and all other tools that use PDBs) to understand nuget cache would be non-trivial effort and introduce undesirable dependencies on nuget cache structure.

[2017-11-14 21:55] mavasani opened #23166 "Unused parameter in Microsoft.CodeAnalysis.CSharp.Binder.CheckFieldRefEscape (potential bug?)"
Enabling CA1801 (unused parameter rule) fires it for [CheckFieldRefEscape](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/Binder.ValueChecks.cs,a204c04b97fd2e6c) and [CheckFieldLikeEventRefEscape](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Binder/Binder.ValueChecks.cs,09e0b3ce0e53064a) for parameter `checkingReceiver` being unused. We should either use this parameter or

[2017-11-14 22:00] KonstantinRyazantsev opened #23167 "csc.exe exited with code -2146232797 (Local functions)"
**Version Used**: VS 2017 version 15.3.1

**Steps to Reproduce**:

1.
[code]
2. Build

**Expected Behavior**:

**Actual Behavior**:

Code: MSB6006
Description: "csc.exe" exited with code -2146232797
File: Microsoft.CSharp.Core.targets
Line: 84

[2017-11-14 22:01] mavasani opened #23168 "Unused parameter in Microsoft.CodeAnalysis.CSharp.SyntaxFactory.MethodDeclaration"
See http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Syntax/MethodDeclarationSyntax.cs,35. Parameter `semicolonToken` is unused in the method body, but it seems it should either be passed as the last argument to the call to SyntaxFactory.MethodDeclaration OR we should check that the token is default syntax token and throw an exception otherwise. Either case, we should not ignore an argument

[2017-11-14 22:52] CyrusNajmabadi commented on #22184
This does not repro for me.  ```int i = default(int)``` offers to change this to ```int i = default```.  But ```object o = default(int)``` does not offer the change.

[2017-11-14 22:58] kentcb commented on #22184
@CyrusNajmabadi What version of VS?

![image](https://user-images.githubusercontent.com/1901832/32809603-53d53e6c-c9e7-11e7-98ca-5608a1ec9860.png)

[2017-11-14 23:06] lineralpha commented on #22786
This bug is causing issue reported in this feedback: https://developercommunity.visualstudio.com/content/problem/135746/mouse-cursor-stuck-to-the-pointer-hand-icon.html

When the string literal is a url, both the navigable symbol tagger (which drives ctrl+GTD under the hood) and url tagger change the mouse cursor to hand pointer. When mouse moves out the url they both restore the mouse cursor to p

[2017-11-14 23:08] agocke commented on #20871
Fixed by #22476

[2017-11-14 23:08] CyrusNajmabadi commented on #22184
15.5p3:

Available when valid:

![image](https://user-images.githubusercontent.com/4564579/32809884-89aa3d98-c94d-11e7-9fb4-1eb7e47527ea.png)

But not when invalid:

![image](https://user-images.githubusercontent.com/4564579/32809895-93adb996-c94d-11e7-928b-9a8170b6944b.png)

[2017-11-14 23:08] #20871 closed

[2017-11-14 23:13] jcouv commented on #23132
Fixed

[2017-11-14 23:13] #23132 closed

[2017-11-14 23:14] #20434 closed

[2017-11-14 23:16] jcouv commented on #16716
Closing as fixed, from discussion with Ashley. Thanks

[2017-11-14 23:16] #16716 closed

[2017-11-14 23:24] paul1956 commented on #23106
@mavasani In step 7 It is not loading from where you said and the symbols are not loading
[code]
When I look for Workspace.pdb for example. the only place I find it is
[code]
My project is getting CodeAnalysis from NuGet, do  need to modify it to get the DLL from somewhere else and if so how?

[2017-11-14 23:27] TrevyBurgess commented on #7614
Regarding [#850](https://github.com/dotnet/roslyn/issues/850).

This person is talking about an anonymous class. That's the logical equivalent of a lambda function. Think of it as a lambda class.

When a basic property is credited, the compiler creates a hidden field to hold the data. I just want that field exposed within the property. It is not an inner class. It is an encapsulated field. This is

[2017-11-14 23:27] #7614 closed

[2017-11-14 23:30] mavasani commented on #23106
Seems like it is using Microsoft.CodeAnalysis.dll built without `/p:OfficialBuild=true`, which should set the version to 2.6.X. Maybe you can try deleting the contents of the entire folder `15.0_BB17500CROSLYNDEV` in your VS hive and try to build again?

Your project is just referencing the CodeAnalysis assemblies from nuget package references. At runtime it is using whatever version of Microsoft.

[2017-11-14 23:31] jcouv commented on #23167
I'm able to build the code above in 15.5 preview 4.

@KonstantinRyazantsev Would you mind trying with a preview of 15.5 as well? A number of local functions issues were fixed in 15.5.

FYI @agocke

[2017-11-14 23:33] jcouv commented on #23159
@HaloFour Consider the "custom document well" [extension](https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.CustomDocumentWell) as a mitigation. It has an option to color tabs by project.

[2017-11-14 23:34] jcouv commented on #23166
@VSadov Could you take a look?

[2017-11-14 23:58] mavasani opened #23171 "Unused parameter in"
See method [ApplySourceSuppressions](http://source.roslyn.io/#Microsoft.CodeAnalysis/DiagnosticAnalyzer/SuppressMessageAttributeState.cs,282a2d21a0fd420f). CA1801 fired for this method as parameter `symbolOpt` is unused. This seems like a bug as this method calls `IsDiagnosticSuppressed`, which has 2 overloads: one with symbolOpt parameter and one without it. Currently it is calling the later over

[2017-11-14 23:59] mavasani commented on #23171
Tagging @jinujoseph

[2017-11-15 02:26] KirillOsenkov commented on #22959
cc @jasonmalinowski Remove MS.VS.Text.UI.Wpf.dll reference from MS.CA.VisualBasic.EditorFeatures.dll

[2017-11-15 03:16] KirillOsenkov commented on #22959
Basically a good exercise would be removing a reference to MS.VS.Language.StandardClassification.dll and see what breaks. Ideally move things needing Peek, SignatureHelp, etc. to EditorFeatures.Wpf.

[2017-11-15 03:27] HaloFour commented on #23159
@jcouv

That looks like it'll help in most cases, thanks!

[2017-11-15 03:47] KirillOsenkov commented on #22959
Also there are 4 usages of ImageMoniker in EditorFeatures:
[code]

Would be nice to remove those if possible, so we don't have to bring in MS.VS.Imaging and MS.VS.ImageCatalog.

[2017-11-15 03:47] xiaolu6t opened #23174 "A Csharp Expression Bug In Task Function!"
**Version Used**:
Visual Studio 2017
**Steps to Reproduce**:
1.
 I found i compile bug。
 This is my Code.
[code]
Please fill this bug.
email:
348764327@qq.com

[2017-11-15 03:54] KirillOsenkov commented on #22959
Looks like we'll also need Microsoft.VisualStudio.CodingConventions.dll

[2017-11-15 04:02] jcouv commented on #22815
@khyperia Good to close?

[2017-11-15 04:03] jinujoseph opened #23175 "ExtractMethodCodeRefactoringProvider encountered an error and has been disabled"
I’ve got this version of VS:

![image](https://user-images.githubusercontent.com/12449387/32818109-2b83d76e-c976-11e7-87ec-a9f35f7364aa.png)

 I  tried to select this [section of code](https://devdiv.visualstudio.com/DevDiv/_git/PostBuildSteps?path=%2Fsrc%2FSubmitPullRequest%2FProgram.cs&version=GBdev%2Frickkr%2FaddJobUri&_a=contents&line=301&lineStyle=plain&lineEnd=352&lineStartColumn=1&lineEndCo

[2017-11-15 04:15] KirillOsenkov commented on #22959
RemoteControl is a problem for us:
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/SymbolSearch/SymbolSearchUpdateEngine.RemoteControlService.cs,98e79e054c6ed0c9

[2017-11-15 04:39] jcouv commented on #22352
@paul1956 I tried this with latest bits (15.5 bits) and didn't see a problem.

[code]

[2017-11-15 04:44] #22815 closed

[2017-11-15 04:44] #21639 closed

[2017-11-15 05:20] jcouv commented on #16102
This was fixed as part of implementing FindAllReferences for Deconstruct methods (PR https://github.com/dotnet/roslyn/pull/22934) in 15.6.

Here are the [tests](https://github.com/dotnet/roslyn/pull/22934/files#diff-155288bd1ba17a47966d80352348ba4c) that verify that a conflict warning is produced for renaming a Deconstruct method that is used in a deconstruction.

Closing this issue.

[2017-11-15 05:20] #16102 closed

[2017-11-15 05:25] npolyak opened #23176 "replace/original feature"
What is happening with replace/original feature described in https://github.com/dotnet/roslyn/blob/master/docs/features/generators.md? It seems the keywords are still not part of the language.

[2017-11-15 05:30] jcouv commented on #21941
Thanks for reporting this issue.
It was fixed by this 15.5 PR: https://github.com/dotnet/roslyn/pull/20856
Closing

[2017-11-15 05:30] #21941 closed

[2017-11-15 05:58] jcouv commented on #18716
I'm glad to hear that you ran into the same problem and naturally arrived at the same solution: GoToDefinition triggered on a definition should go "up" to overridden and implemented methods.

I prototyped this (https://github.com/dotnet/roslyn/pull/22963) and it felt pretty natural/usable.
The next step is for the IDE team to confirm this design fits well into broader navigation plans, then we can

[2017-11-15 06:08] jcouv commented on #20383
Relates to https://github.com/dotnet/roslyn/pull/22963

[2017-11-15 07:04] jcouv commented on #23176
Relates to https://github.com/dotnet/roslyn/issues/19505

The language feature is only a part of the end-to-end story, and it turns out the tooling/IDE work to make this a good experience is quite significant. So while the language feature was prototyped in the C# 7.0 timeframe, the feature is not on the roadmap for 7.x or 8.0 at this point.
Thanks for voicing your interest, it will help rank rela

[2017-11-15 07:23] paul1956 commented on #23106
I deleted C:\Users\PaulM\AppData\Local\Microsoft\VisualStudio\15.0_bb17500cRoslynDev and reran the command above in step 2. Then if I look under extensions\Microsoft\* I see 2.6.0.5673500 so I think that is being built correctly.
![image](https://user-images.githubusercontent.com/12789369/32823610-9e096fda-c992-11e7-8f23-bc34a2d1c9f2.png)

[2017-11-15 10:05] CyrusNajmabadi commented on #19072
Roslyn didn't hide anything.  The API designer decided they did not think this was a member that should be shown in intellisense.  You would have to talk to the authors of that API why they felt this should not be used.

[2017-11-15 10:09] CyrusNajmabadi commented on #18716
FWIW, i think your approach seems quite reasonable and should be done.

[2017-11-15 10:14] paul1956 commented on #22352
@jcouv I agree many of the cases I first reported are fixed in 2.6 but I am still seeing other cases where nothing is returned. How can I find out what was fixed? I am working on how to step through ElementType so I can report the path causing the issues. For Example from AbstractFlowPass.vb
[code]
I am also looking at using your example so I can produce simple tests that fail.

[2017-11-15 10:26] NinjaSciurus commented on #19072
I was not trying to blame the Roslyn team, sorry if my comment suggested that. I am just looking for ideas why hiding public members might be useful in general because I get the feeling that I am missing something fundamental. As for the Behaviors property, you are right, only its development team can answer that.

[2017-11-15 12:08] paul1956 commented on #22352
@jcouv where do I get CreateCompilationWithMscorlibAndVBRuntime the  one in Roslyn Master uses all kinds of Internal stuff and is not easily isolated for use by VB.

[2017-11-15 12:23] huoyaoyuan commented on #23174
Providing the type of `context` helps focusing the issue. (Seems ASP.Net?)

[2017-11-15 13:48] npolyak commented on #23176
The **replace** key would be very useful even outside of the full 'generators' story. I wanted to use it for Single File Generators so that the main code would be clean and the partial class generated by a Single File Generator would contain the boilerplate code. I wonder if it is possible to factor the **replace** feature out and implement it separate from everything else?

[2017-11-15 14:11] kindermannhubert opened #23178 "==/!= operators on structs and comparing to null"
**Version Used**: VS 15.4.4

**Steps to Reproduce**:
This code:
[code]
does not compile with error "Operator '==' cannot be applied to operands of type 'MyStruct' and '\<null\>'.". That's ok.

But code:
[code]
compiles fine. After disassembling you can see no code for "if (myStruct == null) myStruct.ToString();" is emitted (which is correct).

**Expected Behavior**:
I believe second example should

[2017-11-15 14:29] mavasani commented on #23106
That is expected. You should either try to step into this property while debugging or open the source file of interest and set a breakpoint in it's accessor.

This looks like source to symbol mismatch. Are you able to open up the source file with that property and set a breakpoint? If not, you can either uncheck the debugging option "Require source files to exactly match the original version" to s

[2017-11-15 15:01] pablonardone commented on #11297
Great job!!

[2017-11-15 16:31] sharwell opened #23179 "SourceModuleSymbol.ContainsExplicitDefinitionOfNoPiaLocalTypes forces expensive binding"
`SourceModuleSymbol.ContainsExplicitDefinitionOfNoPiaLocalTypes` forces all attributes to be bound, resulting in extreme performance and/or reliability problems when using the IDE.

https://github.com/dotnet/roslyn/blob/a604cefecd2cba10803a872c580cfb7a9e0883ad/src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs#L146-L150

🔗 [Slowdown and then crash](https://developercommunity.visual

[2017-11-15 17:04] jasonmalinowski opened #23181 "Remove use of Microsoft.VisualStudio.Language.Intellisense from the IIntellisensePresenter interface"
Right now IIntellisensePresenter has a parameter that references types out of Microsoft.VisualStudio.Language.Intellisense assembly which we need to cut out.

#20540 is a partial implementation of this, but doesn't fix Quick Info which is the source of the problem and what we need to fix anyways.

[2017-11-15 17:07] jasonmalinowski opened #23182 "Microsoft.CodeAnalysis.VisualBasic.EditorFeatures still references Text.UI.Wpf"

[2017-11-15 17:11] jasonmalinowski opened #23183 "EditorFeatures (non-WPF) is importing ISignatureHelpBroker which it shouldn't"
ISignatureHelpBroker should only be consumed by the presenter in the WPF layer.

[2017-11-15 17:13] jasonmalinowski commented on #23181
Oops this is a duplicate of #20525.

[2017-11-15 17:13] #23181 closed

[2017-11-15 17:15] jasonmalinowski opened #23184 "SymbolSearchUpdateEngine needs thinking of how it should work for VS for Mac"
@KirillOsenkov claims it's bad [here](https://github.com/dotnet/roslyn/issues/22959#issuecomment-344480992) but didn't articulate.

[2017-11-15 17:15] jasonmalinowski commented on #23184
@KirillOsenkov can you explain what is bad here?

[2017-11-15 17:16] jasonmalinowski opened #23185 "Peek needs to be moved to EditorFeatures.Wpf"

[2017-11-15 17:31] jasonmalinowski opened #23186 "Roslyn needs to unify onto a single version of the wait indicator service"
Right now the editor snapshotted a copy of our IWaitIndicator/IWaitContext stuff, which means anybody trying to compose Roslyn has to implement those interfaces twice. One is good, two is bad.

[2017-11-15 17:33] jasonmalinowski commented on #22959
OK I've migrated what I think is still the open items to https://github.com/dotnet/roslyn/projects/32. Let's use the project from here on out, since having a mondo issue like this is impossible to carry on conversations about individual items, and means I can't tag them in PRs to keep them closed.

[2017-11-15 17:34] #22959 closed

[2017-11-15 17:41] sharwell opened #23187 "Investigate possible Solution rooting in AbstractDocumentSpanEntry"
**Version Used**: 15.4

🔗 [Visual Studio 2017 Constant Crashing](https://developercommunity.visualstudio.com/content/problem/120273/visual-studio-2017-constant-crashing.html) ([Internal feedback ticket](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/500336))

**Steps to Reproduce**:

⚠️ The following is speculation; the situation has proven difficult to pinpoint.

1. Use **Find All Referen

[2017-11-15 17:41] sharwell commented on #23187
@CyrusNajmabadi You've done work to eliminate situations like this in the past. Would you like to look at this one?

[2017-11-15 17:51] jcouv commented on #22352
@paul1956 I wrote that test in context of Roslyn tests (for example in `CodeGenTuples.vb` as a random place) as it was expedient.
You could either do the same, or set up your own compilation. The code for `CreateCompilation...` is in `src\Compilers\Test\Utilities\VisualBasic\CompilationTestUtils.vb` and basically does `VisualBasicCompilation.Create` with a source tree (parsed from the test input),

[2017-11-15 17:53] gafter commented on #3711
This isn't a language design issue - the language spec is clear that this should work. We just need the runtime API to make it work. See https://github.com/dotnet/coreclr/issues/1712

[2017-11-15 18:05] KirillOsenkov commented on #23184
Basically it's bringing in Microsoft.VisualStudio.RemoteControl.dll and we see crashes on Mac where we don't have this .dll. We could work on adding it, but it might need bringing more and more dependencies in a transitive fashion.

We'd rather factor out the implementation of how it talks to RemoteControl to EditorFeatures.Wpf or elsewhere, so that behavior is provided by the host.

[2017-11-15 18:19] khyperia opened #23188 "Flaky test: TestGetDiagnostics2"
https://github.com/dotnet/roslyn/pull/23180

[code]

[2017-11-15 18:20] mavasani commented on #23079
Fixed with https://github.com/dotnet/roslyn/pull/23080

[2017-11-15 18:20] #23079 closed

[2017-11-15 18:22] KirillOsenkov opened #23189 "Investigate removing Imaging dependency from EditorFeatures.dll"
We currently don't have MS.VS.Imaging.dll and MS.VS.ImageCatalog.dll on VSMac as they don't make any sense in the Mac world.

We see four usages of ImageMonikers by EditorFeatures:
[code]

If it is feasible, we should refactor these out to EditorFeatures.Wpf.dll.

[2017-11-15 18:44] tmeschter opened #23190 "alink.exe doesn't handle our AssemblyInformationalVersionAttributes"
The `AssemblyInformationalVersionAttribute` takes a free form string as its value, and when compiling code using csc or vbc this value becomes the "Product version" reported in the "Details" tab of the Properties of the resulting file.

Roslyn includes the "NuGet" version plus the commit hash, like so:

However, this doesn't work when generating satellite assemblies using al.exe; it erroneously ex

[2017-11-15 18:57] jcouv commented on #23176
@npolyak I don't understand the details of your scenario well enough, but my intuition is that you can achieve most **replace** scenarios with `virtual` and `partial`.

LDM didn't feel that `replace` is useful absent source generators, and source generators are costly (IDE, performance, etc). The last [LDM notes](https://github.com/dotnet/csharplang/blob/5cb84f4a66fd27dcd13395b12870f93e232ec3c5/me

[2017-11-15 19:00] tmeschter opened #23191 "al.exe doesn't support public signing"
al.exe is used to produce satellite assemblies in the "desktop" build. However, unlike csc/vbc it does not support public-signing of assemblies. Our current workaround for producing satellite assemblies in dotnet/roslyn is to delay-sign them whenever public-signing is specified (see [commit 7c8a6921](https://github.com/wli3/roslyn/commit/7c8a692198e8f97bce86eae41c6d3bd9f0b2c9c4)) but we can't ship

[2017-11-15 19:01] HaloFour commented on #23178
This is expected behavior.  [Per Eric Lippert](https://stackoverflow.com/questions/2022425/comparing-structs-to-null/2022553#2022553):

[2017-11-15 19:01] jcouv commented on #23176
I'll close the present issue. Feel free to voice your interest on https://github.com/dotnet/csharplang/issues/107

[2017-11-15 19:01] #23176 closed

[2017-11-15 19:13] kindermannhubert commented on #23178
Thanks, I understand.

But still I think it should be reported by compiler.

At the same link you provided:

[2017-11-15 19:16] jasonmalinowski commented on #23184
@KirillOsenkov thanks!

[2017-11-15 19:18] KirillOsenkov opened #23192 "Move CodingConventions dependency out of EditorFeatures.dll"

[2017-11-15 19:51] AmadeusW commented on #23189
* Microsoft.VisualStudio.Imaging is indeed platform specific.
* ImageCatalog might be useful because it maps user-friendly names to monikers.
* Microsoft.VisualStudio.Imaging.Interop itself is a fairly minimal assembly that can be embedded.

![image](https://user-images.githubusercontent.com/1673956/32856813-c2908ede-c9fa-11e7-89e1-8e100def47bd.png)

@KirillOsenkov does mono support embedding inte

[2017-11-15 20:17] tmeschter opened #23193 "Need a newer SDK with fixed CoreGenerateSatelliteAssemblies"
If build using core MSBuild, there will be an error as following

[code]

This is due to https://github.com/dotnet/sdk/issues/1748. That issue tracks the work to fix the bug in the SDK; this bug will be used to track our adoption of an SDK with a fix in dotnet/roslyn.

[2017-11-15 20:20] tmeschter opened #23194 "Fix the duplicate VSCT IDs in Roslyn"
Basically, the Roslyn VSCT files sometimes re-use an ID, associating it with a different GUID. This is fine, except that XliffTasks currently expect IDs to be fully unique within a .vsct file.

[2017-11-15 20:22] tmeschter opened #23195 "Copy XLF files to Roslyn repo"
Copy the XLF files for Roslyn from the VS repo to dotnet/roslyn, and integrate them into the VS build.

[2017-11-15 20:24] tmeschter opened #23196 "Produce Willow packages for satellite assemblies"

[2017-11-15 20:28] tmeschter opened #23197 "Delete loc-related files from VS repo"
This includes:

- Removing XLF files migrated to Roslyn in #23195.
- Removing any related setup authoring.

[2017-11-15 20:28] AmadeusW commented on #23189
We could platformize the image catalog, such that all (xplat) language services can use user-friendly names for images (just like KnownMonikers) but internally we would use our own implementation of ImageMoniker.

Using our own ImageMoniker wouldn't be anything new -i t turns out that the imaging library also uses their own ImageMoniker which is different than the COM-compatible ImageMoniker.

How

[2017-11-15 21:19] KirillOsenkov commented on #23189
Let's have that discussion in an appropriate forum with all stakeholders involved. Great idea about properly solving our strategy there.

[2017-11-15 21:22] npolyak commented on #23176
sorry for a delay answering you.
Here is an example - a class implementing INotifyPropertyChanged class. Most property simply need to add a boiler plate code like `OnPropertyChanged(nameof(<propName>))` at the end.
I intended to create a class that would define such properties as Auto properties, and provide an Attribute so that a single code generation would know to convert them to field backed p

[2017-11-15 22:24] CyrusNajmabadi commented on #23187
This is currently by design afaict.  So that we can show things like tooltips for the entries in FAR.  Also, the FAR list is virtualized.  So data is retrieved on demand.  If we don't store the snapshot, we risk someone making an edit, then scrolling the list, and then seeing incorrect data shown.

These are all "solvable" issues.  But are non-trivial and would need a fair amount of work to implem

[2017-11-15 22:26] CyrusNajmabadi commented on #23187
Actually, i might be wrong about the on-demand data.  I think due to the OOP work, we actually precompute the data we'll need for presenting the FAR rows (not counting the tooltip).  The tooltip could likely just try to retrieve whatever data was current, accepting that it might not be there (i.e. if the file was edited to the point that the loc doesn't exist), or that it might be incorrect (i.e.

[2017-11-15 22:26] agocke opened #23200 "TestExecuteInInteractiveWithDefines sometimes hangs"
See https://ci.dot.net/job/dotnet_roslyn/job/post-dev15.5-contrib/job/windows_debug_unit64_prtest/356/

[2017-11-15 22:37] agocke commented on #23200
The stack is as follows:

[code]

[2017-11-15 22:50] sharwell commented on #23187
If this is true, we could probably get away with not holding the solution reference. For the case I was looking at, this could result in a substantial reduction in memory load.

[2017-11-15 22:51] sharwell commented on #23187
@CyrusNajmabadi Is there a way to hold a document independently of the solution? That way we have the document content from the time of the search but not the entire solution containing it.

[2017-11-15 22:54] CyrusNajmabadi commented on #19072
Sometimes an API author needs to expose some member for part of their system to work, but they don't want that member to be used by other callers.  It's rare, but sometimes necessary due to factors specific to their domain.

Similarly, sometimes there are members exposed that will actually be confusing to users and will just end up doing the wrong thing.  For example, Assert libraries often pick u

[2017-11-15 22:57] CyrusNajmabadi commented on #23178
This was tried at one point, but it broke many customers, violating our rules on compat.

We have a concept called "warning waves" where customers could opt into more aggressive warnings.  This warning is known to be a prime example of one we'd like to add once that system is built.

[2017-11-15 22:59] CyrusNajmabadi commented on #23184
I think we'd really like to have "Microsoft.VisualStudio.RemoteControl.dll" avaiable on the mac.

Indeed, given how simple the impl is for that dll, it's unclear to me why it wouldn't be available.  All that dll does is proved a nice caching front end for http requests to azure hosted data.  VS already uses it extensively for lots of subsystems that need to do things like update feeds.  It seems l

[2017-11-15 23:03] agocke commented on #23200
Another instance here: https://ci.dot.net/job/dotnet_roslyn/job/post-dev15.5-contrib/job/windows_release_unit32_prtest/359/

[2017-11-15 23:03] agocke commented on #23200
Same stack:

[code]

[2017-11-15 23:05] CyrusNajmabadi commented on #23187
Well, one could always hold onto the sourcetext.  Then, you could do something like this:

1. Store SourceText and DocId.
2. Get Workspace.CurrentSolution.
3. Get the current document for that DocId.  (or add the document if it's not there anymore).
4. Replace it's text with the text that was captured.

Then, create the preview workspace using that forked solution.

The only cost then is how many

[2017-11-15 23:09] CyrusNajmabadi commented on #23187
Note: if we did the above, then the tooltip would always show the correct text, though the highlighting might be incorrect.  But that's totally ok IMO.  In most cases things would look great and users would be none the wiser.  If users really did dramatically cahnge their code (i.e. changing the type system), they might be able to observe some small differences, but i doubt anyone would notice or

[2017-11-15 23:18] jasonmalinowski commented on #23184
@CyrusNajmabadi This is just for NuGet package search feature where we'll also add NuGet packages? If so, then For Now(tm) we'll just move it to a different layer, as we have none of the downstream requirements working for VS for Mac either.

[2017-11-15 23:53] KirillOsenkov commented on #23184
Longer term I definitely have a work item to make it available. It's just this is blocking high priority short term work, so the quicker the fix the better. Also we suspect there might be a Mono runtime bug to deal with, so I'd rather not get into that now. But overall I agree with the sentiment.

[2017-11-15 23:57] AlekseyTs opened #23203 "InvalidCastException is thrown when user defined conversions involves integer overflow"
[code]

Observed:
[code]

[2017-11-16 00:06] sharwell commented on #23187
@CyrusNajmabadi Thanks for the feedback here! I think the approach is solid and I'll look into an efficient representation option for closed files.

[2017-11-16 00:13] #23154 closed

[2017-11-16 00:17] agocke commented on #19763
Failed in https://ci.dot.net/job/dotnet_roslyn/job/post-dev15.5-contrib/job/windows_release_unit32_prtest/366/

[2017-11-16 00:26] gafter opened #23205 "Checklist and open issues for C# range (..) operator"
A Range `..` operator is proposed for C# 7.3. This tracks compiler work for that feature.

Proposals:
- https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/ranges.cs
- https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/index-range-changes.md

See also some discussion elsewhere
- https://github.com/dotnet/csharplang/issues/185
- http://khyperia.com/range.html
-

[2017-11-16 01:22] jcouv commented on #23178
Linking to warning waves: https://github.com/dotnet/roslyn/issues/1580

[2017-11-16 01:38] paul1956 commented on #22352
Found the source for CreateCompilationWithMscorlibAndVBRuntime but getting the references from VB has provide to be difficult.

[2017-11-16 02:27] CyrusNajmabadi commented on #23184
Whatever you think is best :)  I'd like it to be available at a layer such that it works for VS4Mac and VSCode.

[2017-11-16 02:27] CyrusNajmabadi commented on #23187
Tnx!

[2017-11-16 02:37] HaloFour commented on #23205
Would a type be able to accept a `Range` as an indexer argument, e.g. `foo[1..10]`?  Personally, from an API/syntax point of view I think that's what I'd prefer for slicing arrays, strings or spans.

Would also be nice for the compiler to know how to optimize away enumerating over a range, so that:
[code]
would be translated to:
[code]

[2017-11-16 03:12] jasonmalinowski commented on #23184
Oh yeah, I want it there too. Unfortunately what I want and what is compatible with our engineering time allotted tend to differ... :-)

[2017-11-16 03:36] khyperia commented on #23205
Yes - to me, this is 95% of the purpose of this feature.

We had two options to support slicing:

* Add a new operator type, "slice". This would be entirely distinct from an indexer, and part of the syntax to call this operator is the `x..y` syntax (`..` would sort of become something like the comma in a method call - very built-in to the calling of the operator itself).
* Add a very minor languag

[2017-11-16 03:37] VSadov opened #23207 "Consider merging AbstractFlowPass and PreciseAbstractFlowPass"
There were good intentions in separating AbstractFlowPass and PreciseAbstractFlowPass, but right now the diff seems to be unused.

In particular `PreciseAbstractFlowPass.VisitTryStatement` is essentially a dead code right now since the containing class is abstract and the method is overriden in the only derived class.

The problem with dead code is that we cannot effectively maintain or evolve it

[2017-11-16 03:38] VSadov commented on #23207
CC: @gafter @AlekseyTs

[2017-11-16 04:48] gafter commented on #23205
@HaloFour

I would expect `Range` to both implement `IEnumerable<int>` and also implement the `IEnumerable` pattern using a value type. The latter is generally what permits the runtime to optimize it; the C# compiler then doesn't need to do anything.

[2017-11-16 04:50] gafter commented on #23207
The separation was there to support the dispose checker, which is no longer in the compiler. So is all the infrastructure to track exceptions in the pending branches. If you're getting rid of `PreciseAbstractFlowPass`, then you can get rid of that too.

[2017-11-16 05:36] jcouv commented on #22872
I went through the C# emit tests and [classified](https://github.com/dotnet/roslyn/pull/23210/files#diff-21f74235fa50cbcb57190284b2578455) the observable differences in behavior between ILVerify and PEVerify. Also updated the OP notes.

I need to investigate some of them to confirm whether they are a Roslyn problem or an ILVerify problem (for instance, I suspect the one labelled "Mscorlib" may be

[2017-11-16 05:38] tmat commented on #23190
There are many issues with ALink. I believe fix no. 2 is the right way to go: the msbuild targets should be updated.

[2017-11-16 10:09] xiaolu6t commented on #23174
.net framework 4.0
Microsoft.Bcl.Async 1.0.168
Newtonsoft.Json 10.0.3

My project is here:
https://gitee.com/LucasDot/NFinal2
the csharp file is:
https://gitee.com/LucasDot/NFinal2/blob/master/NFinal/ActionResults/JsonResult.cs

[2017-11-16 11:49] loslor commented on #2246
Hi,

I've stumbled myself upon this problem. So, I guess it's not solved?

I've used a type in a dynamic Assembly created with Roslyn as daveaglick points out, and then passed a Globals object using this type. It gets a System.NotSupportedException: Can't create a metadata reference to an assembly without location when trying to run the script.

I'm using the DLLs coming in Nuget Microsoft.CodeAna

[2017-11-16 12:33] portal-chan commented on #23205
minor nitpick: Rust is changing the syntax for closed intervals from `...` to `..=`

[2017-11-16 13:17] sharwell opened #23215 "IDE0032 (Use Auto Property) does not work when full solution analysis is disabled"
**Version Used**: 15.5 Preview 3

🔗 Observed while investigating [this community report](https://developercommunity.visualstudio.com/content/problem/150002/ide0032-performs-less-than-ideal.html).

### Steps to Reproduce

1. Add a property:

[code]

### Expected Behavior

The `_text` field is grayed (unnecessary code), and a code fix is provided to convert the field to an auto property.

### Actual

[2017-11-16 13:19] sharwell opened #23216 "IDE0032 (Use Auto Property) Fix All does not work"
**Version Used**: 15.5 Preview 3

🔗 Observed while investigating [this community report](https://developercommunity.visualstudio.com/content/problem/150002/ide0032-performs-less-than-ideal.html).

### Steps to Reproduce

1. Attempt to apply a Fix All operation to IDE0032 (Use Auto Property)

### Expected Behavior

Fix All, when available, fixes all instances of an issue within the specified contex

[2017-11-16 13:25] sharwell opened #23217 "Disable IDE0032 until it works"
**Version Used**: 15.5 Preview 3

🔗 Observed while investigating [this community report](https://developercommunity.visualstudio.com/content/problem/150002/ide0032-performs-less-than-ideal.html).

**Steps to Reproduce**:

1. Attempt to use the Use Auto Property diagnostic and code fix

**Expected Behavior**:

1. Code does not break
2. The code fix works
3. The fix all operation either work or is n

[2017-11-16 13:32] HaloFour commented on #23205
@khyperia @gafter

I whipped up a quick "benchmark" and I'm seeing that a struct enumerator over a range struct being about 4x slower in 64-bit release mode outside of any debuggers.  I'm sure that someone could write a better benchmark but I doubt that you could ever actually approach a raw loop short of the JIT completely converting the range enumeration to one.

I look at a `Range` type as bein