[2015-04-01 16:02] scottcarr opened #1733 "Assertion fails in GetDiagnostics() on CodeAnalysis.Desktop.csproj"
Hello,

I have a Roslyn-based tool I'd like to try running on Roslyn itself.  I'm trying to open the projects and get diagnostics like:

[code]

My issue is the above code works for me with rc1 (that I installed with NuGet) but not when I compile rosyln myself from the github master branch.  With the Roslyn I compiled,  I get this assertion failure:

![assert_fail](https://cloud.githubusercontent.

[2015-04-01 16:54] bkoelman opened #1734 "Please expose GetUsingNamespacesInScope(...) publicly"
The method:

public static ISet<INamespaceSymbol> GetUsingNamespacesInScope(this SemanticModel semanticModel, SyntaxNode location) { ... }

in namespace:

Microsoft.CodeAnalysis.CSharp.Extensions.CommonSemanticModelExtensions

is a public method in an internal class. Please consider exposing this, so that it can be called from within my diagnostics analyzer and code fix provider.

[2015-04-01 16:55] brettfo opened #1735 "Leading comment causes next statement to indent improperly"
### Repro
Given the following file with the cursor at '$$':

[code]

### Result
If &lt;enter&gt; is pressed, the class declaration gets indented one level to this:

[code]

### Expected
No indention

[code]

[2015-04-01 17:08] brettfo opened #1736 "'is' and 'as' keywords improperly recommended after decimal."
### Repro

'$$' indicates cursor position.

[code]

Type a period "."

### Result
`is` and `as` appear as recommended keywords.

### Expected
No recommended keywords.

[2015-04-01 17:13] scottcarr commented on #1733
I guess the difference is the assertion is removed from the release build.  I verfied this by changing to my build of master to release.  The question is if that assert failing matters?

[2015-04-01 17:14] balajikris commented on #1721
Yep, interesting, I'll take this :smiley:

[2015-04-01 17:24] balajikris opened #1737 "[Debug only] CodeActionEditHandlerService has long running work on UI thread that makes debug bits unusable."
See [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/CodeActions/CodeActionEditHandlerService.cs,100) and [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/CodeActions/CodeActionEditHandlerService.cs,156) . These go through every single document in the solution and gets diagnostics while committing a lightbulb item. This makes

[2015-04-01 17:35] balajikris commented on #1702
**Callstack**:

[code]

[2015-04-01 17:35] #377 closed

[2015-04-01 17:36] AlekseyTs commented on #377
@gafter, please verify that the issue has been addressed.

[2015-04-01 17:42] Pilchie commented on #1702
Thanks @balajikris.  Moving to compiler.

[2015-04-01 17:46] #1713 closed

[2015-04-01 18:49] Pilchie commented on #1736
Similar to internal TFS bug 863345.

[2015-04-01 19:04] mavasani commented on #247
Moved back to @tmeschter for verification.

[2015-04-01 19:06] mavasani commented on #802
I think we need to at least do (2) or (3), otherwise the API is bound to throw for any consumer that is passing a truly delay-computed IEnumerable.

[2015-04-01 19:09] mavasani commented on #1392
This should be fixed with #1714

[2015-04-01 19:10] mavasani commented on #1392
Moved to @AlekseyTs for verification.

[2015-04-01 19:52] gafter commented on #1504
[code]

[2015-04-01 19:57] mavasani commented on #1254
@SLaks this is by design, or rather an unsupported simplification.

Our cast simplifier currently tries to detect unnecessary explicit casts, but doesn't deal with trying to detect redundant invocation expressions, which would be semantically equivalent via an implicit conversion in the simplified code. Note that implementing such a simplifier would be no trivial as there is no easy way to determi

[2015-04-01 20:35] SLaks commented on #1254
I'm only talking about delegate constructors, which (I think?) should always be semantically equivalent to an explicit cast.

How is this harder?

[2015-04-01 21:12] mavasani commented on #248
@srivatsn do we want to do anything about this bug for v1 engine?

[2015-04-01 21:18] scottcarr commented on #560
Is there any update on this?  It's a pretty big hurdle for my tool because I want to be able to open multiple complicated projects.  If, for example, I try to open all the projects in RoslynLight.sln, some are missing references and others aren't, so I can't just blindly add references like in the OP (or I get duplicate references).

It seems to me that for a given solution, there is no way to rel

[2015-04-01 22:07] jasonmalinowski commented on #560
No, we haven't fixed the bug yet. (Sorry.) Why does the original workaround not work for you? Since it's updating the existing solution in-memory, once you've done the workaround you can use it as any other solution you got from OpenSolutionAsync.

[2015-04-01 22:08] mavasani opened #1741 "Analyzers with infinite recursion in Initialize method"
1. Write an analyzer that has infinite recursion in its Initialize method.
2. Add it as a project analyzer reference and open the project in VS.

Expected: Stack overflow exception reported in error list, but VS stays reasonably responsive.
Actual: VS hangs and crashes after some time. Even though the Initialize method is invoked on a separate thread via the Solution crawler, we seem to block the

[2015-04-01 22:25] KevinH-MS opened #1743 "Support DynamicView for objects implementing IDynamicMetaObjectProvider"

[2015-04-01 22:45] SLaks opened #1744 "Incomplete catch block in lambda doesn't show Add Using quick fix"
Source:

[code]

The Add Using/Qualify Name quick fix will not appear until after adding `) {`.

[2015-04-01 23:20] scottcarr commented on #560
I assume that you mean the original workaround is to add the missing references manually by AddMetaDataReferences.

It doesn't work for me because the idea for the tool I'm working on is: you give it the path to any arbitrary solution and it just does its thing (a source-to-source translation of sorts) to every project in that solution.  For some arbitrary solution/project I don't know what refere

[2015-04-01 23:24] weitzhandler opened #1746 "Proposal: XML literals and embedded expressions in C#"
Hi,

I am a born VB dev. Currently I develop only C# because I prefer the terse syntax over VB's verbose words, but I do miss some awesome features we had in VB.
One of the most notable and very compelling features I do miss very much, is the awesome [XML literals](https://msdn.microsoft.com/en-us/library/bb384629.aspx) and [Embedded Expressions](https://msdn.microsoft.com/en-us/library/bb384964.a

[2015-04-01 23:25] jasonmalinowski commented on #560
The bug being tracked here is it will only miss Façade references for portable libraries. If you're seeing cases where other references are missing, then this isn't the bug you're looking for.

[2015-04-01 23:33] AdamSpeight2008 commented on #1746
What's preventing you from using both languages in a Solution?

[2015-04-01 23:38] weitzhandler commented on #1746
@AdamSpeight2008 First of all, as I mentioned, when I have a code base in C# and I want to link out several classes in a different platform.
But you missed the point, I wasn't complaining or asking for workarounds, I was merely suggesting a feature. Sorry if I sounded different, feel free to edit my post if you're a contributor.

[2015-04-01 23:50] ManishJayaswal commented on #1618
@amcasey @cston  FYI, I assigned this to Chuck

[2015-04-01 23:55] AdamSpeight2008 commented on #1746
@weitzhandler
Put the XML processing part in seperate DLL so it can can be referenced in a C# Project (or any other .net language).

[2015-04-01 23:56] #1444 closed

[2015-04-01 23:59] weitzhandler commented on #1746
Again Adam thanks for trying to help, I know how to work around that, but this post is not about how to workaround the lack of this feature, but a request and discussion on how to implement this language feature in the C# language.

[2015-04-02 00:00] amcasey commented on #1618
The last two commits of https://github.com/amcasey/roslyn/tree/GH1618 are the beginning of a fix.

[2015-04-02 00:15] AdamSpeight2008 commented on #1746
I think it would be hard or require a rewrite of the C# lexer and parser, to be statful like VB.net, As the grammar rules for XML are different to VB's. For example '<' has ~18 different meaning in vb.net depending on where it is used.

[2015-04-02 00:17] weitzhandler commented on #1746
But AFAIK C# has no `<` as an expression beginning token.

[2015-04-02 00:19] weitzhandler commented on #1746
There is the leftshift operator which is a double `<<` - invalid as XML literal anyway

[2015-04-02 03:13] sharwell opened #1750 "Cannot type '²' in a method, or in the documentation comment for a method"
This is a regression from the behavior in Visual Studio 2013.

### Steps to reproduce

1. Open a document which is located in a project using Git for source control, and which contains a method.
2. Insert the caret inside the body of a method.
3. Wait for Code Lens to show the number of changes which have been made to the method. For example, it might say "3 changes".
4. Type <kbd>Alt</kbd>+<kbd>0

[2015-04-02 04:28] aluanhaddad commented on #1651
I also think this would be useful, but if tuple support is added to the language #347, this feature request would be implementable with a simple extension method.
Given the proposed syntax for tuples, consider the following:
[code]

[2015-04-02 06:45] Przemyslaw-W commented on #1746
AFAIK c# paradigm is to stay away from technology specific features. So I
doubt we'll ever see xml literals or json literals built into the language
itself. I think this is also a reason we don't have close to the metal
support for INotifyPropertyChanged.

2015-04-02 2:19 GMT+02:00 Shimmy <notifications@github.com>:

[2015-04-02 12:31] davepermen commented on #1746
Hmm I use json outside of webdev all the time. I never use XML anymore. So no, it makes no sense to support one specific tech over the other.

[2015-04-02 12:34] davepermen commented on #1746
Instead, transpilers like jsx (XML inside JavaScript) or razor (c# inside html) would be more flexible off the main language projects.. Something like csx (XML inside c#) as an own project instead?

[2015-04-02 12:59] dsaf commented on #1746
How about this:

[code]

Where ```XML``` is your custom imported static method:

[code]

...and ```XmlStringAttribute``` is used by Roslyn to highlight and process the string the way ReSharper handles custom string formatters?

http://www.jetbrains.com/resharper/webhelp80/Code_Analysis__String_Formatting_Methods.html

![image](https://cloud.githubusercontent.com/assets/3845650/6964362/47b0902c-d94

[2015-04-02 13:15] dsaf commented on #1665
Compare this:

[code]
...to this:
[code]
In the first case I need to remember that the default value is ```0``` and spend few seconds figuring that out. The problem exists, but I am not sure this syntax is a solution.

[2015-04-02 13:23] MgSam commented on #1746
@gafter I love the "Over Our Dead Bodies" label and "When Heck Freezes Over" milestone. Responding entirely through metadata.

[2015-04-02 13:37] weitzhandler commented on #1665
When extension methods were introduced people were also paranoid about it
but we got used to it and now ex properties is baking.
In not saying caution should not be taken but I do think it's still worth
consideration. I don't think it's something hard to get used to after all.

Sent from my Android
On Apr 2, 2015 4:15 PM, "dsaf" <notifications@github.com> wrote:

[2015-04-02 13:42] weitzhandler commented on #1746
Yeah my wife woke up from my laughter this morning...

Anyway @dsaf I believe you never actually saw how XML literals works and
feels in VB.
Wrapping it in quotes is missing the whole point.
Am I the only over around heavily using XML? Am I the only one who got to
taste VB literals?

Sent from my Android
On Apr 2, 2015 4:23 PM, "MgSam" <notifications@github.com> wrote:

[2015-04-02 13:51] MgSam commented on #1746
I think there's a few reasons this wouldn't happen:
a) XML is out of favor now in favor of lighter protocols like JSON.
b) Adding embedded DSLs into a language has a really high bar to get over. LINQ query comprehension syntax is the only case where anything has passed this bar for the C# team.
c) There are other, more general features which probably mostly satisfy this need. I've proposed before

[2015-04-02 14:09] jeromelaban opened #1751 "GeneratedCodeAttribute support is missing"
With FxCop, there was the ability to exclude specific types or members from analysis using the GeneratedCodeAttribute.

I'm seeing this issue with the IXamlTypeInfo implementation, as well as with any kind of tool that generates code as part of the <Compile /> node.

Having a support for GeneratedCodeAttribute would help a greatly for code generators and having their code excluded automatically.

[2015-04-02 14:36] momijin opened #1752 "[Proposal] Expansion of foreach statement"
### Proposal

Expansion of foreach statement

1. Composite foreach statement
2. Automatic generated variable
3. Finally block

### Example

#### Composite foreach statement

The composite foreach statement is follow to:

[code]

It is similar to nested foreach statements.

[code]

But their behaviors are different when `break` statement is used. In the former it breaks and finishes a foreach loop,

[2015-04-02 15:00] scottcarr commented on #560
So should I create another issue or ...?

I made an SO question: http://stackoverflow.com/questions/29416135/how-can-i-resolve-all-references-with-roslyns-opensolutionasync

[2015-04-02 15:49] tmeschter opened #1753 "Microsoft.*.Core.targets files don't capture all inputs"
The Microsoft.CSharp.Core.targets file currently lists the following in the Inputs attribute of the Target element:

[code]

This does not include `@(Analyzer)`, even though these should be considered inputs as well (also `@(AnalyzerDependency)` when that is added).

Microsoft.VisualBasic.Core.targets has the same issue.

[2015-04-02 16:22] shyamnamboodiripad commented on #1508
A hunch: It may be that compiler is correctly reporting these but MSBuild won't report them under 'Minimal' verbosity which is the default for VS.

[2015-04-02 16:28] shyamnamboodiripad commented on #1587
Investigate restricting inheritance on Location (such that we can have derived types for well known location types such as SourceLocation and MetadataLocation - but no external implementations).

[2015-04-02 16:29] paulomorgado commented on #1752
Feels like too much work for too little benefit.

For example, if you want to break out of an onion of loops, just refactor that o a method and `return`. It works with `for`, `foreach`, `while`, etc.

[2015-04-02 16:31] cston opened #1754 "Locals declared in the Immediate Window should be included in the Locals Window"
1. F5:
class C
{
    static void Main()
    {
        System.Diagnostics.Debugger.Break();
    }
}

2. In the Immediate Window:
var o = new C();

Expected: Locals Window should contain "o"
Actual: Locals is empty

[2015-04-02 16:34] kasajian commented on #17
You're right.   I thought about this a little more and I think I was getting confused with C++ templates a lot.   In C++, it would, in fact, be an int, not a generic.

I agree that it wouldn't be a generic now.

Now, on to the request itself.   Can someone explain (if you don't mind taking the time), how would something like this:
    public static Add( x, y )
    {
        return x + y;
    }

no

[2015-04-02 16:46] HaloFour commented on #17
There's no reason to expect the parameter types or return type to be `int` for that method.  They could be anything, even heterogeneous types.  If the method isn't generic then what could it possibly be?  A compile-time template expanded to any infinite number of permutations depending on how it's called?  Having the compiler just stamp it as `int` "just 'cause" makes absolutely no sense.

Type in

[2015-04-02 17:11] pdelvo commented on #17
[code]
would have to be transformed into something like this:
[code]

Because how do you know that both arguments have the same type? How do you know that adding those two arguments will give you the same type? This is just getting messy and a lot more complicated.

To you question `how would something like this [...] not be preferable in a large percentage of the cases.`:
It is not preferable if

[2015-04-02 17:25] jasonmalinowski commented on #560
@scottcar, oh, sorry, I was thinking you were describing a different issue. Guess it was the same, sorry for the confusion. :disappointed: I'll comment on the StackOverflow question shortly.

[2015-04-02 17:33] bbarry commented on #131
What if the foreach expression was enhanced like this:

    foreach
    (
        var item in items;
        var index = index;
        var isFirst = once;
        var firstOfCondition = once && Condition(item) //; optional for last foreach statement declaration
        /*
        available contextual variables:
        index: auto generated index to enumerable
        once: true until after it su

[2015-04-02 17:51] gafter commented on #1724
Closing as a dup of #140

[2015-04-02 17:51] #1724 closed

[2015-04-02 17:58] AdamSpeight2008 commented on #1746
I think the tag should be `Over Ander's Dead Body`

[2015-04-02 18:01] AdamSpeight2008 commented on #1746
@dsaf VB.net has language support for XML-Literals.So for example if if rename a node, put forget to alter the closing node. It is a compile-time error. If you also import the schema you'll get intellisense support as well.

[2015-04-02 18:27] HaloFour commented on #1746
Everything old is new again:  :smile:

[Cω - Content Classes Tutorial](http://research.microsoft.com/en-us/um/cambridge/projects/comega/doc/comega_tutorial_content_classes.htm)

[2015-04-02 18:30] AdamSpeight2008 commented on #1746
@weitzhandler
``` <variable ```

Is that:-
* a less than sign followed by an identifer;
* an incomplete xml node?

[2015-04-02 18:45] Sebazzz commented on #1636
Perhaps for access to an inherited abstract property that has been marked in the current class as sealed? That would cause a viable lookup otherwise which is unnecessary if the property or class is marked sealed.

[2015-04-02 18:53] controlflow opened #1757 "[Proposal] "Default values" for out parameters"
In methods with `out`-parameters it is very common to see first statements like:

[code]

While definite assignment rules are definitely good thing to have in C#, statements like this (to satisfy definite assignment rules) looks pretty silly in methods with "early" returns. It may be convenient to allow out parameter "initialization" with some constant default value in-place, using optional parame

[2015-04-02 19:42] ViIvanov commented on #1757
Can I call this method like that:
[code]
? Is this side effect?

[2015-04-02 20:27] controlflow commented on #1757
@ViIvanov this is declaration-site feature, just to satisfy definite assignment rules. "Default" value has nothing to do with invocations, it's should not be stored in metadata with `[DefaultValue]` attribute.

[2015-04-02 20:44] svick commented on #1757
I don't understand, why does the current syntax look silly?

Also, I think that using the same syntax as optional parameters without actually making the parameters optional would be confusing.

[2015-04-02 20:48] shyamnamboodiripad commented on #1508
Yes looks like the compiler is producing info diagnostics correctly - but MSBuild does not include this in the build output by default. If I set the build output verbosity in VS to 'Detailed', then I can see the info diagnostics in the build output -

![capture2](https://cloud.githubusercontent.com/assets/10579684/6973336/efe20a2a-d93e-11e4-8232-be11543d540a.PNG)

![capture](https://cloud.githubus

[2015-04-02 20:48] #1508 closed

[2015-04-02 20:54] MgSam commented on #1757
Agree with @svick. The risk of confusion with this syntax is pretty great, as seen by @ViIvanov's question.

I don't think syntax making it easier to add new methods that use out parameters should really be a priority, as the proposed tuples feature will be much nicer for the caller to interact with and serve the same purpose (returning multiple values).

[2015-04-02 21:19] rchande commented on #1736
There are similar issues in VB that we should fix at the same time.

[2015-04-02 21:32] balajikris opened #1758 "Codelens does not work well in Websites"
Codelens doesn't play well in web scenarios, I'm compiling issues here.
1. The adornment is not enabled for web files like .aspx or .cshtml etc.
2. Location info is incorrect for references in .cshtml files for functions defined in App_Code for which we do show references. See screenshot below.
3. Add a .cs file to App_code folder and consume the code in a Helper1.cshtml file under the same App_co

[2015-04-02 21:39] shyamnamboodiripad opened #1759 "Exceptions thrown from within custom LocalizableString implementation used in analyzer not resulting in info diagnostic during command line builds"
1. Create an analyzer using template
2. Create a custom derived type of LocalizableString that throws an exception from within its GetText() method.
3. Replace the initializer for MessageFormat in the analyzer with code to instantiate the type created in 2 above ```internal static readonly LocalizableString MessageFormat = new MyLocalizableString(); ```
4. Create a console app and add the above an

[2015-04-02 22:01] srivatsn commented on #248
No I think we should just wait for v2 to solve this problem.

[2015-04-02 22:02] srivatsn commented on #802
Fair enough. Can you add a comment about it then? - i.e (3)

[2015-04-02 22:37] shyamnamboodiripad commented on #1519
@mavasani, you are right this was a dupe. Removing the C# project causes the error to be reported correctly. If I then add back the C# project, I can see all the diagnostics that should have been present.
![capture](https://cloud.githubusercontent.com/assets/10579684/6974874/2e09331c-d94b-11e4-81dd-e95eb18f5d7e.PNG)

I was confused because the repro for this issue was consistent (behaves the same

[2015-04-02 22:37] #1519 closed

[2015-04-02 22:58] shyamnamboodiripad commented on #1412
I have contacted the folks in VS who created these icons for us requesting to make these larger.

[2015-04-03 00:12] agocke opened #1764 "Compiler NREs when emitting PDBs with an extern alias inside a namespace"
This example causes an NRE in the compiler:

[code]

The problem is probably in DefineNamespaceScopes, where we assume that all extern aliases will be on the outermost scope. However, GetAssemblyReferenceAlias should also do a null check before Contains on `declaredExternAliases`.

[2015-04-03 00:12] bondsbw commented on #1746
@dsaf So here's a thought... there has been some discussion about making the string interpolation mechanism extensible using prefixes, e.g.

[code]

A benefit of extensible string parsing is that ```XML$``` could hook into the IDE and provide the syntax highlighting and intellisense that XML literals enjoy in VB.

[2015-04-03 00:18] pharring opened #1765 "Should DocumentId, ProjectId and SolutionId be sealed?"
Right now DocumentId, ProjectId and SolutionId are not sealed. Should they be?
@mattwar ?

[2015-04-03 00:19] kentcb opened #1766 "VB's SyntaxGenerator.MethodDeclaration does not round-trip on System.Void"
When passing a return type to VB's `SyntaxGenerator.MethodDeclaration` method, passing a type symbol for `System.Void` results in a `Function` rather than a `Sub`:

[code]

This fails with:

[code]

[2015-04-03 01:23] kasajian commented on #17
We can start by scoping this down to a few places where inference would be an obvious advantage.

class fields and properties would be useful.

Another place is the return type of a function and declaring a Func or Action.   For instance:

BEFORE:

    public void SomeMethod()
    {
        Func<int, int, int> Add = (x, y) =>
        {
            // some other code.
            return x + y;

[2015-04-03 02:20] HaloFour commented on #17
@kasajian That case was proposed before.  The problem is that the compiler doesn't know the type of the delegate based on the signature of the lambda.  That probably wouldn't matter if delegates shared a form of type-equivalence.  Delegates already bring a bit of overhead, targeting one to another doubles that.

[2015-04-03 03:07] yeaicc opened #1772 "I can not find all references for the symbol"
(Sorry, my English is very poor....)
When i want to find all refs for a symbol like this:
[code]
I found 8 refs.In fact,i found 9 refs in Visual Studio.
Is it ? bug?

[2015-04-03 03:12] yeaicc commented on #1772
In fact,all refs in a .cs file

[2015-04-03 03:16] GregRos commented on #1572
I think extension of the existing `switch` and `try-catch` syntax is best, in order to avoid alienating people, especially people who don't know much about pattern matching or what it is. The `try-catch` syntax is actually a great thing to base things on, because that is the one example of pattern matching C# does support (it even has guards now!). Calling is `switch` is probably a bad idea though

[2015-04-03 04:51] pharring opened #1773 "Bug: C#. Find all references doesn't work with "static bool operator ==""
If you have a class with an explicit "operator ==", then "Find All References" doesn't work (it returns no results).

It looks like VS 2013 behaved the same way, so it's not a regression, but it is surprising.

Note that CodeLens finds the references OK.

[2015-04-03 04:54] pharring commented on #1772
@yeaicc Thanks for the bug report. Please can you give a more complete repro? Note that Visual Studio lists the definition as well as any references which may be why you're seeing 9 total 'references'.

[2015-04-03 04:54] shyamnamboodiripad commented on #1595
The root cause here is probably #1030. We should not be returning refactorings during hover because I believe light bulb only asks us for code fixes in this case.

[2015-04-03 04:58] shyamnamboodiripad commented on #1631
This is a dupe of #1595 that @amcasey had logged. As you mention above there are two issues we need to fix here. The 2nd issue (i.e. we shouldn't return refactorings when only asked for code fixes is captured in #1030.

[2015-04-03 05:23] #1353 closed

[2015-04-03 07:51] yeaicc commented on #1772
Yes,I got it.Visual Studio lists the definition .....

Thank you so much

[2015-04-03 10:55] momijin commented on #1752
@paulomorgado

Thank you for your kind comment.

[2015-04-03 10:56] #1752 closed

[2015-04-03 13:58] #1772 closed

[2015-04-03 14:37] jaredpar commented on #1765
:+1:

Looking around there are a number of `public` types that seem like they would be a good fit for `sealed`.  Have we done a review of these types recently?

[2015-04-03 14:45] nvivo commented on #17
While I don't like the proposal itself, I don't get with this kind of argument (I saw it many times in it's various forms in other issues).

Any proposal here is to change the language in a way to make the proposal possible, and that implies changing the spec, compiler, runtime or anything else to achieve that goal. So, you could say that "the compiler doesn't know something" or "the spec doesn't

[2015-04-03 14:55] HaloFour commented on #17
@nvivo I completely agree.  The important part is the next sentence which discusses why removing that limitation can be considered problematic.  It's also not to say that it can't or shouldn't be done, it just outlines what would likely have to be resolved (or considered) before being able to move forward.  I'm personally a fan of the very inferred lambda/delegate syntax he proposed, I was more or

[2015-04-03 15:01] tmeschter commented on #88
OK, fixed for real this time. Re-assigning to @mavasani for verification.

[2015-04-03 15:01] #88 closed

[2015-04-03 15:08] mattwar commented on #1765
Yes, the should be sealed.

[2015-04-03 15:34] tmeschter commented on #1710
@mavasani Do we really need an ID property on `AnalyzerReference`, or should we just update `HostAnalyzerManager` to create better unique IDs? Is this problem specific to VS scenarios because it has multiple sources of analyzers, or could it conceivably occur in other hosts as well?

Or would it make more sense to de-duplicate at the individual analyzer level, rather than the `AnalyzerReference` l

[2015-04-03 16:00] christopherpaul commented on #928
Sadly, the fix doesn't fully solve the problem. Although the experimental VS instance no longer complains about the package, all the assemblies other than the OpenSourceDebug assembly are loaded from the VS install directory rather than the VSIX that I'm trying to debug. The debugger rightly complains that it can't load symbols:

![image](https://cloud.githubusercontent.com/assets/6624896/6984538/

[2015-04-03 16:03] basoundr opened #1776 "Generate Type not appearing the First time Ctrl+. in the Attribute List Context"
Paste the below code

[code]

Note that the `Foo` in the `AttributeList` Context is with the Capital 'F'. Now press 'ctrl + dot', to Generate Type `Foo`. Instead of getting the codefix to generate type, we see that 'Foo' gets modified to 'foo'. Issuing 'ctrl + dot' again shows the codefix to generate type 'foo'.

Expected: Generate Type for `Foo` when 'ctrl + dot' was issued the first time

[2015-04-03 16:08] tmeschter commented on #1601
@shyamnamboodiripad I can't repro this using the steps above--VS won't let me rename the file in step 5. Can you provide a couple more details?

1. In step 2, how exactly did you create the file in the solution folder? Did you right-click on the solution in Solution Explorer and select "Add | New Item...", or did you do something else?
2. In step 3, did you add the `<CodeAnalysisRuleSet>` property

[2015-04-03 16:14] tmeschter commented on #1597
Yes, we ignore rules that do not have an explicit setting in the rule set file.

[2015-04-03 16:20] Pilchie commented on #1773
There are a variety of "implicit references" that we would like to be able to find but don't currently.

[2015-04-03 16:22] Pilchie commented on #1765
Keeping in rc2 since this is a API breaking change, so it's better to take earlier.

[2015-04-03 16:24] Pilchie commented on #1758
I believe that the design was to not show any references that come from .cshtml files since they are transient depending on whether the file is open or not.  @DustinCampbell @tmeschter Can one of you confirm?

[2015-04-03 16:30] drake7707 commented on #1746
Just use the razor engine, that way you won't clutter your code with xml bloat and you still have the expressiveness that comes with model binding in an xml view.

Example: http://stackoverflow.com/questions/5943396/how-do-i-output-xml-with-asp-net-razor
And https://github.com/volkovku/RazorTemplates to use it without MVC or ASP

[2015-04-03 16:34] #1500 closed

[2015-04-03 16:38] tmeschter commented on #1758
I don't recall if we or the CodeLens team explicitly designed for any of these scenarios.

I'm not a web developer, but my understanding is that you would not generally define types and members in .cshtml/.vbhtml files to begin with. If that is true, there may not be much value in enabling the adornment.

References are calculated in the CodeLens process, and I don't think that process has any way

[2015-04-03 16:40] jaredpar commented on #928
@christopherpaul yes please file a different issue for this.

CC @jasonmalinowski in case he has an idea what is going on here.

[2015-04-03 17:11] richardtallent commented on #98
Code contracts would be an improvement, but IMHO they treat the symptom, not the disease, as it were.

Say your method only accepts whole numbers, but uses an `int` parameter, which can theoretically be negative. Sure, putting a contract on the parameter to ensure it is >= 0 provides some protection, but it just moves the problem, so now the callee either has to do the same checks or defaulting be

[2015-04-03 17:17] christopherpaul opened #1781 "OpenSourceDebug - wrong assemblies loaded"
Following on from #928.

When I debug the OpenSourceDebug project, the original compiler assemblies are loaded instead of the ones from my build.

These are the steps I went through:
* I started with an Azure VS2015 CTP6 VM
* Installed the SDK (& opened VS to set up license)
* Cloned Roslyn repo (master, commit 121900f9)
* Restored nuget packages for RoslynLight.sln (command line)
* Build & test (

[2015-04-03 17:20] christopherpaul commented on #928
@jaredpar OK, I've raised #1781.

[2015-04-03 17:44] balajikris opened #1782 "Contract failure in VisualStudioWorkspaceImpl while opening a .cshtml file in the editor."
1. open a Asp.Net **vNext** Web Application - choose Asp.Net 5 Preview Web API template
2. double click Views-> _GlobalImport.cshtml to open it in the editor
3. Contract failure dialog shows up
4. Vs Freezes after dismissing the dialog, colorization fails. Sometimes you dont get the contract failure but vs freezes rightaway. Repro is consistent.

[code]
[code]

[2015-04-03 17:45] adamralph commented on #98
@richardtallent you make some very good points which should be taken note of. I guess the anti-pattern you've sniffed out there is a flavour of [PrimitiveObsession](http://c2.com/cgi/wiki?PrimitiveObsession).

[2015-04-03 18:19] Pilchie commented on #1782
@heejaechang I think you just added this, no?

[2015-04-03 18:24] Pilchie commented on #1765
Re-opening to track port to preview branch.

[2015-04-03 18:29] heejaechang commented on #1782
@Pilchie yes. I did. so, hierarchy for the document does get changed.

[2015-04-03 18:33] heejaechang commented on #1782
@AArnott Andrew, my assert found a case where IVsHierarchy for shared project being changed in web case. is there a way to get notified for such case?

[2015-04-03 18:43] Pilchie commented on #1782
Also tagging @dpoeschl so he sees this.

[2015-04-03 18:51] jaredpar opened #1784 "Support /define values surrounded by quotes"
`xbuild` will produce `/define` entries in the RSP file which have the following format:

[code]

`mcs` appears to handle this case correctly but `csc` does not.  We need to extend `csc` to support this to make it easier to integrate into our cross platform tool chains.

[2015-04-03 19:20] AArnott commented on #1782
@heejaechang Yay for asserts! :)
ASP.NET 5 doesn't support "shared projects". Are you talking about their stub hierarchies used for the language service? Documents should never be owned by these, I believe.
In general though, you can hook IVsRunningDocumentTableEvents to be notified when a document transfers in ownership.

[2015-04-03 19:54] agocke commented on #17
No. While we may consider *requesting* changes to the runtime, the language design certainly does not have the power to force runtime changes and I would be very surprised if we get *any* runtime changes in the near term.

[2015-04-03 19:59] Pilchie commented on #1765
Ported to preview in #1783.

[2015-04-03 19:59] #1765 closed

[2015-04-03 20:24] heejaechang commented on #1782
found the issue. validating a fix. I need to bring this to RC though since fix caused this is RC fix.

[2015-04-03 20:25] nvivo commented on #17
@agocke

Of course, that's what I meant. That it's possible to change those things, not that they will be changed at the first chance.

[2015-04-03 20:34] balajikris commented on #1782
that's great. It is also blocking me in finding a repro for a watson crash.

[2015-04-03 20:35] asbjornu commented on #98
Brilliant ideas, @richardtallent! I'd love to see something like that in C# one day.

[2015-04-03 20:39] heejaechang commented on #1782
@balajikris you can unblock yourself using this - https://github.com/dotnet/roslyn/pull/1786/files - before I check this in.

[2015-04-03 20:41] balajikris commented on #1782
@heejaechang Awesome, thank you.

[2015-04-03 20:41] tmeschter opened #1787 "Opening a rule set file from a solution folder does not open it in the <All> context"
Split from #1579.

1. Create a new project.
2. Add a new rule set file by right-clicking on the solution item in Solution Explorer and selecting "Add | New Item...". Save the file next to the solution.
3. Add the rule set file as a linked file to a project.
4. Right click the rule set file and click 'Set Active Rule Set' - the operation succeeds and there are no errors.
5. Double-click on the rule

[2015-04-03 20:42] tmeschter commented on #1579
This is really two issues:

1. You can't use 'Open Active Rule Set' after 'Set Active Rule Set' when the rule set is a linked file.
2. If you open a rule set from a top-level solution folder it opens in the context of a project, rather than the <All> context.

I'm going to use this bug to track issue 1, and I've opened #1787 to track issue 2.

[2015-04-03 20:42] heejaechang commented on #1782
#1786 - PR sent.

[2015-04-03 21:03] #1659 closed

[2015-04-03 21:52] #1736 closed

[2015-04-03 21:52] rchande commented on #1736
Can you verify, @brettfo?

[2015-04-03 22:00] kasajian commented on #17
HaloFour, can you explain to me what you mean when you say "The problem is that the compiler doesn't know the type of the delegate based on the signature of the lambda." ?

Let me make the code simpler by making the transformation one step at a time, so it's clear which step you feel is the problem

So let's start with:

    public static var Add(int x, int y)
    {
        return x + y;
    }

Th

[2015-04-03 22:06] adamralph commented on #98
Of course, we do already have a type system which allows us to encapsulate such things :wink:

The 'contracts' demonstrated above are a shorthand for value types. Whilst the syntactic sugar may drastically reduce LOC, and I welcome such improvements, we shouldn't shy away from practising this encapsulation today just because the convenient shorthand doesn't yet exist.

We should also take care not

[2015-04-03 22:24] HaloFour commented on #17
@kasajian The problem is that last step.  Once you've lost `Func<T1, T2, TResult>` the compiler cannot determine which specific delegate type to use.  `Func<T1, T2, TResult>` is just one possibility, but there can be infinite possible delegate types with the exact same signature, and they are all considered distinct incompatible types to the CLR.

[code]

It's possible to work around it with the f

[2015-04-03 23:46] heejaechang commented on #1782
checked in #1786

[2015-04-03 23:46] #1782 closed

[2015-04-03 23:47] kasajian commented on #17
@HaloFour Thank you for the explanation.

I think that we have some constraints that we're working under, the details of which are not always obvious to me.   We have various necessary abstractions.   I can imagine implementing a language feature that's merely "syntactic sugar" on top of the existing language, is the least intrusive.   For instance, C# 6's "expression-bodied function members" feat

[2015-04-04 00:01] HaloFour commented on #17
@kasajian Well I can't speak for the compiler team.  My comments are mostly parroting matters on the subject (of inferred lambda types) that happened previously (I think on CodePlex).

From how I've heard it described is that every feature needs 100 points to be implemented, but because every new feature inherently involves work and future support that every proposal starts with -100 points.  It h

[2015-04-04 01:48] tmat opened #1795 "NullReferenceException from inlineRenameSession.InitializeOpenBuffers"
Memory dump:

%internal_share%\public\tomat\Bugs\1795

Stack trace:

[code]

[2015-04-04 02:26] richardtallent commented on #98
Adam, you're right, it is a form of PrimitiveObsession. I use structs to resolve this in my own code and it works brilliantly, but syntactic sugar around to accomplish the same thing more expressively would be a welcome change.

I agree about not "traveling half the distance," but I think there should be room for allowing contracts to be composed:

[code]

This is straightforward (but terribly wor

[2015-04-04 05:10] kasajian commented on #17
@HaloFour  Thank you for a very clear explanation.

Do I just close the issue now?

[2015-04-04 06:37] romanov commented on #1781
https://github.com/dotnet/roslyn/issues/1041 ?

[2015-04-04 06:50] sharwell commented on #1698
Duplicate of #29.

[2015-04-04 06:56] sharwell opened #1796 "CodeLens does not count references to extension methods"
When calculating the number of references to an extension method, CodeLens ignores all calls to the extension method which take the form of an instance method invocation. This makes it very easy to accidentally remove an extension method which is used during a code review for unreferenced code.

[2015-04-04 07:06] sharwell commented on #1753
You *can* add it, but I don't think it will make a difference. This particular build target intentionally bypasses the dependency up-to-date check provided by MSBuild in favor of one that's built into the `Csc` task implementation by including `$(NonExistentFile)` in the set of declared outputs. With this item in the declared outputs, the `CoreCompile` target will never be considered up-to-date by

[2015-04-04 07:15] sharwell commented on #1751
Food for thought: If an attribute was provided that allowed a code generator to exclude itself from custom analyzers, how would you write an analyzer that reported company policy violations inside generated code?

As an active developer on a number of analyzers, the approach we're looking at right now is per-analyzer consideration of whether the input should be ignored based on conditions like an

[2015-04-04 10:04] Sebazzz commented on #1235
Isn't the point here that the generation (or not) of the tail call should be deterministic, and not based on environment or JIT. The only way to guarantee tail call is if the compiler generates them, not if the JIT does (which cannot be predicated).

[2015-04-04 11:38] christopherpaul commented on #1781
@romanov Yes, I saw that issue too, but my assumption was that all the compiler/code analysis assemblies would lie below the "Workspaces layer" and should therefore be deployable and debuggable in the Roslyn hive. So I *think* this is a separate issue.

[2015-04-04 12:47] HaloFour commented on #17
Nah, leave it open.  Let the compiler team weigh in on it.
On Apr 4, 2015 1:11 AM, "Kenneth Kasajian" <notifications@github.com> wrote:

[2015-04-04 15:29] hishamco opened #1797 "Readonly Auto-properties Issue"
I used readonly auto-properties in the following code
[code]
instead of duplicate the code in both constructors, I called the parametrized constructor inside the the default one, but I got "Implicit reference to object under construction is not valid when calling another constructor".
So is this a bug?!!

[2015-04-04 15:53] sharwell commented on #1235
@gafter I think the first thing you need to decide is whether you want C# developers to be able to use tail call elimination as a key factor in algorithm implementation. For this to happen, developers must be able to rely on tail call elimination, which means two things:

1. The compiler must insert the `tail.` prefix on these calls
2. The source code must be able to express a semantic requirement

[2015-04-04 15:54] sharwell commented on #420
@gafter I'd like to make a proposal regarding `StackOverflowException`. Where would be the most appropriate place to put that?

[2015-04-04 18:08] jeromelaban commented on #1751
@sharwell that's forward thinking which is interesting, yet my comment was about an existing feature that is provided by FxCop that still makes sense for non-compiler generated code.

We also considered adjusting custom analyzers for specific exclusion rules, but it requires to handle all analyzer context registrations. This turns out to be inefficient to handle for some type of generated code (e.

[2015-04-04 19:54] adamralph commented on #170
:+1: this is a nasty bug which cost me a lot of time today.

Note, I am using `Microsoft.CodeAnalysis.Scripting.CSharp.CSharpScript.Run()` directly.

To find out what was going on, I compiled and emitted the script to disk and in the decompilation I can see:

[code]

We can see that the last line is invoking the wrapper around the `Do` method and attempting to assign it's `void` return to `submiss

[2015-04-04 19:56] AdamSpeight2008 commented on #1235
How does F# handle debug and tail recursion?

[2015-04-04 19:59] adamralph commented on #170
I would like to make plea that this is fixed before 1.0 release. Without it, any script which ends in a dynamic method call will fail.

[2015-04-04 22:41] Joe4evr commented on #1797
It's not the ReadOnly that's the problem, but the fact that you can't call a constructor from another one of the same type (AFAIK). Instead, you can just omit the `Me.New(Host, Port)`, since the compiler will already insert the given values for those properties into the constructor, anyway.

[2015-04-05 05:34] hishamco commented on #1797
@Joe4evr I'm agree with you but I want to call the parametrized constructor to execute the rest of the code instead of the duplication

[2015-04-05 16:02] BrannonKing opened #1798 "Let's compete with these other languages"
In considering C#’s primary competition, I’ve written up some key differences between each language. I feel like we could actively compete with most of these in C#. I feel like a lot of the syntactical sugar enhancements that came with C# 6.0 were failing to address these more critical needs. Feel free to disagree or add to. I realize that there are already many discussions about these in this ver

[2015-04-05 18:26] BrannonKing commented on #1798
You bring up an interesting point. A lot of recent grads at my workplace came out of school knowing Python. I don't fully understand the appeal to the language. My guess is that its licensing and platform availability have given it an edge. Also, it has some great and useful libraries for scientific work. I still feel that this is one of the major weaknesses of the .NET platform. For whatever reas

[2015-04-05 20:34] WolfieWerewolf commented on #1798
Brannon,

Given that IronPython is a .NET language I wouldn't look at it as
"competition" at all but rather a logical integration.  IronPython is
built on top of the DLR and does some very interesting things that C#
doesn't currently do but could be made to.  For me the appeal to
IronPython is it's dynamic capabilities, I know a lot of c# die-hards
beat the "Type Safety" drum but in reality C# isn

[2015-04-05 21:31] BrannonKing commented on #1798
I recognize that many programmers work in multiple languages on a given day, but I don't consider that to be ideal. I want each member of my team to have a thorough and deep understanding of the language they are working in, which is easier without having to write code in multiple languages. (Yes, if you can make WPF puke you're doing better than me; it usually fails silently.) I recognize that ma

[2015-04-05 22:03] WolfieWerewolf commented on #1798
Brannon...thanks for the thoughtful response.  I appreciate that and agree, for the majority of use cases it's probably best to deep dive one language and do it incredibly well... I suspect my environment is unique so I grab the tool that does the job quickly at the time and move on.  My world is iterative and constantly changing...just because I want to write software that I can refractor at runt

[2015-04-05 22:52] srivatsn commented on #1698
Closing this one - we'll use #29 to track this issue.

[2015-04-05 22:52] #1698 closed

[2015-04-05 22:53] srivatsn commented on #1666
Please file a TFS bug on the shell team for this.

[2015-04-05 22:53] #1666 closed

[2015-04-05 22:59] sharwell commented on #1666
I created an [Open in External Browser](https://visualstudiogallery.msdn.microsoft.com/46c0c49e-f825-454b-9f6a-48b216797eb5) extension, but it doesn't support Visual Studio 2015 right now. But it's [open source](https://github.com/tunnelvisionlabs/OpenInExternalBrowser) too.

[2015-04-05 23:52] srivatsn opened #1800 "MoveToTopOfFile Code Issue should keep imports sorted"
Ported from TFS WorkItem: <b>638275</b>

------------------------------

<B>Steps to reproduce:</B><BR><BR>1. Copy/paste the code:

[code]

<P>&nbsp;</P>
<P>2. Invoke the code action on line 11 to move the imports statement</P>
<P>&nbsp;</P>
<P><STRONG>Expected</STRONG>: Imports statement is placed in sorted order</P>
<P><STRONG>Actual</STRONG>: Imports is placed at the end of the first contiguous

[2015-04-06 00:33] #1636 closed

[2015-04-06 12:26] vladd commented on #1671
My feeling is that the language core is not a proper place for such a feature (the scenario seems to be pretty rare), but a good case for a decent metaprogramming facility (which is not currently discussed by the dev team, but definitely needs to be introduced into the language).

[2015-04-06 13:28] HaloFour commented on #1798
I think taking this approach is entirely wrong.  It's great to look at what other languages do well and to consider how those features would improve on the C# language, but this isn't a competition.  We don't want "the one true language" because all languages have intentional differentiation.  C# is not a functional language and will never be on par with real functional languages.  Nor is it an un

[2015-04-06 15:19] svick commented on #1798
@HaloFour

When it was first announced, I was hoping WinRT could be that. That you could write your library in one language (CLR-based or not) and then easily consume it from another language. But it seems WinRT is pretty much meant only for WIndows Store apps (and even if it wasn't, being COM-based probably ties it pretty strongly to Windows).

I think a similar approach could make sense, but it

[2015-04-06 15:52] agocke commented on #17
@HaloFour I've already weighed in. It's up to the language design team now to resolve the issue.

[2015-04-06 16:52] Pilchie commented on #1796
Do you have a specific repro, and which build are you using?  I can't repro this using:
[code]

[2015-04-06 17:14] dpoeschl commented on #1795
It appears to be failing on [this line](http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/InlineRename/InlineRenameSession.cs,143):

[code]

And ```openBuffers``` is non-null. Unfortunately ```text``` is not available in the dump. @tmat, does this repro on your machine?

[2015-04-06 17:25] #1663 closed

[2015-04-06 18:01] balajikris commented on #1796
I wonder if the scenario was something like this: a method symbol defined in a project and consumed in projects A and B via an assembly reference. Now, reference counts at usages in A and B would be incorrect.

If so, we recently fixed a bug where shadow copying of metadata references could fail, thus leading to incorrect reference counts.

[2015-04-06 18:21] sharwell commented on #1796
Using Visual Studio 2015 CTP 6, it seems the problem occurs when the caller is in the same class as the extension method. I didn't realize that previously.

[2015-04-06 18:24] sharwell commented on #1796
From **SpacingExtensions.cs** in DotNetAnalyzers/StyleCopAnalyzers@98c5b7a418c752fa0a7c70d4a3144c31afc3c16a. The first `WithoutWhitespace` method is actually not used, but the second is obviously used and shows 0 references.

![image](https://cloud.githubusercontent.com/assets/1408396/7009465/12edc36e-dc60-11e4-949a-397b37a31f54.png)

[2015-04-06 18:26] jmarolf commented on #1538
@shyamnamboodiripad  could you please verify this?

[2015-04-06 18:49] heejaechang commented on #1666
@srivatsn is the template that has the link "About .Net ... " ours? if so, can we make the link < a href  ... > thing to open browser in external window?

[2015-04-06 19:56] tmat commented on #1795
Yes. But I don't have reliable repro steps. Text is probably not null - it can only be null if TryGetText returns true, no? Or maybe there is a bug in code that creates TextAndVersion? Perhaps we should put some checks in the constructor that makes sure text is never null.

[2015-04-06 20:22] jasonmalinowski commented on #1781
It might still be related, it's hard to say. It's not clear to me if issue #1041 was specifically about a Workspace change being undeployable, or more generally that all ability to make changes is broken. :-/

[2015-04-06 20:55] gafter commented on #1797
@hishamco The initialization of `Host` and `Port` occur in the any final constructor (i.e. one that does not chain to another constructor of the current class). Since your first constructor is not a final constructor, it does not initialize `Host` and `Port`. Since you attempt to read `Host` and `Port` before chaining, you would be reading the default values of those fields (`Nothing` and `Nothing

[2015-04-06 20:55] #1797 closed

[2015-04-06 20:56] gafter commented on #1797
@ljw1004 Can you please label this issue "Verified" if you agree with the resolution?

[2015-04-06 20:58] gafter commented on #1764
@AlekseyTs Is this related to an issue you've been investigating?

[2015-04-06 21:11] ljw1004 commented on #1797
The line in the spec is $9.3.1 Instance Constructors: "Because Me is not considered to be constructed until after the call to a base class constructor, the parameters to a constructor invocation statement cannot reference Me, MyClass, or MyBase implicitly or explicitly"

[2015-04-06 21:16] jmarolf commented on #559
This has been fixed.  Please verify this in the next release after CTP 6.

[2015-04-06 21:16] #559 closed

[2015-04-06 21:29] AlekseyTs commented on #1764
@gafter I do not believe so.

[2015-04-06 21:33] hishamco commented on #1797
@gafter I never heard that the initialization will happen in the final constructor, thanks for clarification
@ljw1004 I already seen such chain call in ```StreamWriter```  but when I used the readonly auto properties the issue occurs

Anyhow, I modify the code using optional paramters
[code]
please let me know if there's improvement can I do in the previous snippet ..

[2015-04-06 21:54] mavasani opened #1811 "Assert fired at VisualStudioWorkspaceImpl.GetDocumentIdInCurrentContext for a document in shared project"
1. Build Roslyn.sln from the main hive
2. Start devenv from the RoslynDev hive with the locally built bits, and open \Open\src\Roslyn.sln
3. Open source file VisualBasicDeclarationComputer.vb
4. Click on its base type `DeclarationComputer` in the inherits clause and hit F12

Got: Below assert fires with the given call stack.
The host document here is `DeclarationComputer.cs`, which isfrom a shared

[2015-04-06 21:59] gafter opened #1812 "Diagnostic when FormattableStringFactory is missing should mention platform version"

[2015-04-06 22:24] AlekseyTs commented on #807
It looks like this is not a behavior change in Roslyn. None of the attributes applied to an async or an iterator method are propagated to the corresponding MoveNext method.

[2015-04-06 22:46] #802 closed

[2015-04-06 23:00] jmarolf commented on #1397
This has been fixed internally (Templates are not open source yet).  @shyamnamboodiripad can you verify this?

[2015-04-06 23:00] #1397 closed

[2015-04-06 23:09] tmat commented on #807
Correct, we preserve the suboptimal behavior of Dev12.

[2015-04-06 23:28] cston opened #1813 "VB AsyncRewriter should ignore accessibility in the EE"
1. Run:

Imports System
Imports System.Threading.Tasks
Class C
End Class
Module M
    Sub F(Of T)(f As Func(Of Task(Of T)))
    End Sub
    Sub Main()
        System.Diagnostics.Debugger.Break()
    End Sub
End Module

2. At the breakpoint, evaluate:
F(Async Function() New C())

Result:
Error because 'C' is internal.

[2015-04-06 23:46] srivatsn commented on #786
Fixed by #1809

[2015-04-06 23:46] #786 closed

[2015-04-06 23:49] tmat opened #1815 "VB EE: report error on invalid constant value"
We should report an error if the value of a constant can't be retrieved from PDB or the retrieved value is invalid.

[2015-04-06 23:50] tmat commented on #1815
RTM or later.

[2015-04-07 00:38] cston commented on #1618
commit 8faa178

[2015-04-07 01:09] gafter commented on #1797
@hishamco The problem still occurs here:

[code]

[2015-04-07 01:15] gafter commented on #420
@sharwell I have no idea because I don't know what you have in mind. If you want to propose a library/API change then you want https://github.com/dotnet/coreclr/

[2015-04-07 01:51] dpoeschl commented on #325
@Pilchie Is this required for 1.0 (stable)? Can we mark this as Up For Grabs instead?

[2015-04-07 01:52] dpoeschl commented on #290
Clearing the milestone so @Pilchie can triage this. :smile:

[2015-04-07 02:17] jmarolf commented on #403
This does not have to do with nullable types. I believe this is fixed in the next public release after CTP 6. I cannot repro this on the most recent (internal) build of roslyn..

[2015-04-07 02:17] #403 closed

[2015-04-07 02:20] jmarolf commented on #1667
This is the design used by both the Azure SDK and Xamarin.  There is no way to uninstall the templates in the VSSDK and we cannot programatically install a template from the new project dialog.

[2015-04-07 02:20] #1667 closed

[2015-04-07 03:12] dpoeschl commented on #1795
@tmat - I've checked in some more detailed null checks. If you think you can reproduce the issue at all, can you please install the latest bits and try again? Thanks!

[2015-04-07 03:35] Pilchie commented on #325
No, you are right, this can go in Unknown/Up for Grabs

[2015-04-07 04:46] SergeyTeplyakov opened #1823 "Strange implementation of Optional<T>"
Roslyn code base contains public struct called [Optional<T>](https://github.com/dotnet/roslyn/blob/8771786e5a80e9d27ffb40702f5cca558ca6fabb/src/Compilers/Core/Portable/Optional.cs). This type is similar to [Optional type](http://en.wikipedia.org/wiki/Option_type) but the implementation is looks weird to me.

From my perspective, any optional type should hold following invariant: if the `HasValue`

[2015-04-07 08:44] mavasani commented on #1709
@mattwar I am unable to repro this issue, I have also added compiler/IDE tests for code block actions to confirm that these are triggered ( see #1827 )

Probably I need more context to repro this:
1. Were you seeing the issue only during method body editing? IDE has a special code path to optimize for those scenarios.
2. Were you able to set a breakpoint and verify that Start/End pattern actions w

[2015-04-07 12:30] jaredpar commented on #1741
Why would an analyzer with an infinite loop report a stack overflow exception?

[2015-04-07 12:37] SolalPirelli commented on #1823
Regardless of which contract this thing should satisfy, `HasValue` is always true, there's clearly something odd here. GitHub's search says the constructor is never called outside of the class itself, so maybe it's just unused code?

[2015-04-07 12:52] orthoxerox commented on #179
I think there should be two compiler error codes: one for switches with no default clause, and one for switches with one. This way you could elevate the first one to an error and keep the other one as a warning. I also do not think turning this into a real runtime check is necessary, since this might cause problems for existing consumers, as @paulmorgado suggested.

[2015-04-07 13:16] SLaks opened #1830 "Compiler Happily Emits Task<void>"
Source:

[code]

**This should [not compile!](http://tryroslyn.azurewebsites.net/#b:master/f:sr/K4Zwlgdg5gBAygTxAFwKYFsDcAoUlaIoYB0AKgBYBOqAhgCb5k0gDWIOAbjZTMjALwxSzFsQBKwCAAopASgEA+GAG9sASGrJglCDADCAewggDAG1TEAQqlQAHOTgC+snEAA=)**

The IDE also happily reports that `t` is a `Task<void>`.
Running it throws a TypeLoadException: `The generic type 'System.Func`1' was used with an invalid instantiatio

[2015-04-07 14:14] mavasani commented on #1741
My bad, the repro steps must say, analyzer with infinite recursion in Initialize.

[2015-04-07 14:39] ljw1004 commented on #1797
I can't see any improvement. I guess it's impossible to combine autoprop-initializers with a common constructor that uses those initializers. Your workaround looks decent.

[2015-04-07 15:38] JasonBock commented on #953
Someone asked for a use case:

[2015-04-07 15:40] Pilchie commented on #1811
@heejaechang can you take a look?

[2015-04-07 15:41] JasonBock commented on #953
Someone asked for a use case:

https://github.com/jasonbock/injectors

I created a generic attribute in IL and used that in my library. Works just fine and it made my design pretty simple. Could I have done it with typeof or a different way? Sure, but using generics IMO made this easy.

I really don't see any good reason why this shouldn't be added in C#.vnext.

[2015-04-07 15:42] Pilchie commented on #317
This may have just been because Jenkins didn't have the latest msbuild bits.

[2015-04-07 15:48] SergeyTeplyakov commented on #1823
@SolalPirelli This is a struct, so default constructor was used indirectly via calling `default(Optional<object>)`. The easiest way to find all references is to use [source.roslyn.codeplex.com](http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis/Optional.cs,86bbd87a0ffc79bf,references).

[2015-04-07 15:48] MattGertz commented on #1798
HaloFour's response is very much along the lines with how we've tended to think of language coverage onsite.  Although the notion of competition is unavoidable at some level, I personally think of each language as a tool that's probably very good for certain things, pretty good at other things, and perhaps not the right tool for yet other areas -- in much the same way that my workshop at home is f

[2015-04-07 16:16] Pilchie commented on #1373
Okay - we believe we know what is causing this issue.  You should be able to work around it by adding an MSBuild property to your project:
[code]

We'll keep looking to see what the right fix is on our end.

[2015-04-07 16:44] bartkoelman opened #1831 "Calling context.ReportDiagnostic() from RegisterCompilationEndAction() callback produces warnings without squiggles or code fixes"
In CTP6, my Analyzer provides a callback for RegisterCompilationEndAction(). Using a custom visitor, it acts on method/field/property symbols. It then produces warnings in the Errors list as expected, but double-clicking on them does not jump to the source code (line numbers are displayed). Also there are no squiggles on the affected symbols and the FixProvider is not invoked when hovering over th

[2015-04-07 16:45] rchande commented on #1287
Completion is filtering out locals declared after the caret (which the second "a" is), but LookupSymbols doesn't even return the parameter "a".

Compiler team, is there anything you could do here to prevent the parameter from getting suppresed?

[2015-04-07 16:46] jasonmalinowski commented on #1823
`Optional.HasValue == false` and `Optional.HasValue == true && Optional.Value == null` do have two distinct meanings. One example is the Optional type being used in the function GetConstantValue:

- `Optional.HasValue == false` means "a constant value could not be determined for this expression"
- `Optional.HasValue == true && Optional.Value == null` means "a constant value was determined for this

[2015-04-07 16:46] rchande commented on #1287
Feel free to reassign to me and move back to IDE if not.

[2015-04-07 16:47] #742 closed

[2015-04-07 16:49] AlgorithmsAreCool commented on #1830
Despite this being an obvious bug, i wish it was legal to use void as a generic parameter.

[2015-04-07 16:49] SergeyTeplyakov commented on #1823
Thanks, Jason.

This should be clearly stated in the documentation for this type. It is too easy to reinterpret the meaning of this type in a wrong way.

[2015-04-07 16:51] SergeyTeplyakov commented on #1823
Closing this issue as by design.

[2015-04-07 16:51] #1823 closed

[2015-04-07 16:55] SLaks commented on #1830
@AlgorithmsAreCool Feel free to file a feature request in dotnet/coreclr.

[2015-04-07 16:59] mavasani commented on #1831
All these issues have been fixed post-CTP6 by @heejaechang

However, I am not sure I understand this: _"When I change my analyzer back to respond on RegisterSymbolAction directly, all works fine. However then my Analyzer cannot search all symbols in the solution for existence of a special attribute reliably"_

The attribute symbol should be defined in the compilation. You should be using a Registe

[2015-04-07 17:14] #1278 closed

[2015-04-07 17:28] jasonmalinowski commented on #1823
Actually I take back what I said about "purely coincidental" -- the doc comment is actually terribly misleading since it mentions a specific constraint to "value type". If you want to write a doc comment and send the pull request feel free to do so, otherwise we can try writing something better. (I'm often a fan of the person who was confused fixing the comment, because if we write it we might mak

[2015-04-07 17:41] erik-kallen opened #1832 "Reported conversion type"
It is my understanding both conversions in the following program should be null-literal conversions, but that is not what is reported (using rc-1).

[code]

[2015-04-07 17:53] brettfo opened #1834 "InvalidCastException at VisualBasicSyntaxFactsService.TryGetDeclaredSymbolInfo"
Ported from internal work items 1152014 and 1153151.

-----

### Repro
Create a new VB console application then paste this directly below the `Module` definition:

[code]

### Result
System.InvalidCastException: Unable to cast object of type 'Microsoft.CodeAnalysis.VisualBasic.Syntax.CompilationUnitSyntax' to type 'Microsoft.CodeAnalysis.VisualBasic.Syntax,TypeBlockSyntax' at VisualBasicSyntaxFact

[2015-04-07 18:24] #1696 closed

[2015-04-07 18:49] mattwar commented on #1709
I can still repro it.

Yes, I can set break points and stop at Start/End actions, but not on CodeBlock action directly.  If I register as code block action then the analyzer does not run and I don't get diagnostics, but if I switch to start/end then my analyzer is run and I do get diagnostics.

My analyzer is here:  https://github.com/mattwar/nullaby/blob/master/src/Nullaby/Analyzer/NullAnalyzer.c

[2015-04-07 18:52] lawrencejohnston commented on #1830
@SLaks @AlgorithmsAreCool This is suggested in #234.

[2015-04-07 20:02] carlos-j-quintero opened #1839 "EnvDTE.CodeFunction.StartPoint, EndPoint, GetStartPoint, etc. cause exception for VB.NET "Declare Sub"/"Declare Function" methods"
See MS Connect bug:

https://connect.microsoft.com/VisualStudio/feedback/details/1232254/envdte-codefunction-startpoint-endpoint-getstartpoint-etc-cause-exception-for-vb-net-declare-sub-declare-function-methods

I didn't detect this bug before because there was a previous bug #148.

[2015-04-07 20:35] carlos-j-quintero opened #1843 "EnvDTE.CodeFunction.FunctionKind causes COMException for Sub New() in VB.NET instead of returning vsCMFunction.vsCMFunctionConstructor"
See MS Connect bug:

https://connect.microsoft.com/VisualStudio/feedback/details/1232304/envdte-codefunction-functionkind-causes-comexception-for-sub-new-in-vb-net-instead-of-returning-vscmfunction-vscmfunctionconstructor

I didn't report this before because there were another bugs #149 and #150 that were breaking my tests earlier.

[2015-04-07 20:35] VSadov commented on #1784
Old native CSC handles this case as well.

[2015-04-07 20:35] agocke commented on #1445
This was a break caused by the diagnostics team due to the added "ErrorLog" parameter.

[2015-04-07 20:52] rchande commented on #446
@jasonmalinowski Can you verify this?

[2015-04-07 21:08] basoundr commented on #1619
Got dumps from @IlyaB and the issue did not repro. I am going to close this bug as 'not repro'. If this bug happens again we can reopen this issue.

[2015-04-07 21:08] #1619 closed

[2015-04-07 21:22] #317 closed

[2015-04-07 21:29] FlorianRappl opened #1845 "Status on CS1720 warning for extension methods"
In the past there has been a connect bug on displaying CS1720 warnings for extension methods. The original report can be viewed on https://connect.microsoft.com/VisualStudio/feedback/details/695362/c-compiler-gives-incorrect-warning-expression-will-always-cause-a-system-nullreferenceexception-for-extension-methods.

Basically the issued bug can be described by the following question on StackOverfl

[2015-04-07 21:35] AlekseyTs commented on #1392
@mavasani I still see the failure.

✘
 Microsoft.CodeAnalysis.CSharp.UnitTests.DiagnosticAnalyzerTests.TestReportingUnsupportedDiagnostic : Expected: Diagnostic("AD0001").WithArguments("Microsoft.CodeAnalysis.CSharp.UnitTests.DiagnosticAnalyzerTests+AnalyzerReportingUnsupportedDiagnostic", "System.ArgumentException", "Reported diagnostic with ID 'ID_2' is not supported by the analyzer. Имя парамет

[2015-04-07 21:53] dotnet-bot opened #1847 "ElasticTriviaFormatting does not insert line break after # directives"
Ported from TFS WorkItem: **530167**

---

**Repro Steps:**
1. run the following unit test

&nbsp;
<SPAN lang=EN>
<P dir=ltr align=left><FONT color=#0000ff size=2 face="Consolas,Lucida Console"><FONT color=#0000ff size=2 face="Consolas,Lucida Console"><FONT color=#0000ff size=2 face="Consolas,Lucida Console">var</FONT></FONT></FONT><FONT size=2 face="Consolas,Lucida Console"><FONT size=2 face="Con

[2015-04-07 21:56] Pilchie commented on #1834
Re-opening to track porting to preview.

[2015-04-07 22:37] Pilchie commented on #1834
Fixed by 3dd55d8

[2015-04-07 22:37] #1834 closed

[2015-04-07 22:44] brettfo opened #1850 "Audit usage of CType() and DirectCast() to TypeBlockSyntax"
As discovered in item #1834, the parent of a VB constructor block isn't necessarily a TypeBlockSyntax.  In searching the code base for explicit casts to this type, I found 6 instances in VisualBasicEditAndContinueAnalyzer.vb where a node's parent is assumed to be a TypeBlockSyntax, but that's not necessarily the case and the incorrect cast could crash VS.

### TODO
Audit the 6 instances I found to

[2015-04-07 22:45] brettfo commented on #1850
FYI @tmat

[2015-04-07 22:47] #32 closed

[2015-04-07 23:23] AlekseyTs opened #1851 "Unit-test Microsoft.CodeAnalysis.CSharp.UnitTests.ResultsViewTests.GetEnumerableException fails with non-English language set as primary on the machine"
Assemblies Run

Roslyn.ExpressionEvaluator.CSharp.ResultProvider.UnitTests.dll

Summary

Tests run: 211   Failures: 1, Skipped: 3, Run time: 11.345s

Failed tests

0.038s
✘
 Microsoft.CodeAnalysis.CSharp.UnitTests.ResultsViewTests.GetEnumerableException : Assert.Equal() Failure Position: First difference is at position 1 Expected: "Exception of type 'E' was thrown." Actual: "Выдано исключение типа

[2015-04-07 23:29] AlekseyTs opened #1853 "Roslyn.Services.Editor.CSharp.UnitTests.dll - 24 unit-test fail on Russian OS with localized resources present"
See #821 for repro steps.
------------------------------
Assemblies Run

Roslyn.Services.Editor.CSharp.UnitTests.dll

Summary

Tests run: 11063   Failures: 24, Skipped: 52, Run time: 424.894s

Failed tests

0.020s
✘
 Microsoft.CodeAnalysis.CSharp.EditAndContinue.UnitTests.RudeEditStatementTests.Lambdas_Insert_Catch1 : Actual: Diagnostic(RudeEditKind.InsertLambdaWithMultiScopeCapture, "x1", "!VQ1Yq

[2015-04-07 23:32] AlekseyTs commented on #1853
I assume these are all test issues. Once the root cause of the failures are understood, let's discuss what would be the appropriate way to address them.

[2015-04-07 23:35] Pilchie commented on #1853
Note that all but one of these are in Edit and Continue.

[2015-04-07 23:35] AlekseyTs opened #1854 "Unit-test Microsoft.CodeAnalysis.CSharp.UnitTests.ReferencedModulesTests.DuplicateTypesAndMethodsDifferentAssemblies fails in presence of localized resources"
See #821 for repro steps.

--------
Assemblies Run

Roslyn.ExpressionEvaluator.CSharp.ExpressionCompiler.UnitTests.dll

Summary

Tests run: 392   Failures: 1, Skipped: 7, Run time: 11.131s

Failed tests

0.028s
✘
 Microsoft.CodeAnalysis.CSharp.UnitTests.ReferencedModulesTests.DuplicateTypesAndMethodsDifferentAssemblies : Assert.True() Failure
   в Xunit.Assert.True(Boolean condition)
   в Microsof

[2015-04-07 23:37] AlekseyTs opened #1855 "Unit-test Microsoft.CodeAnalysis.VisualBasic.UnitTests.ReferencedModulesTests.DuplicateTypesAndMethodsDifferentAssemblies fails in presence of localized resources"
See #821 for repro steps.

------
Assemblies Run

Roslyn.ExpressionEvaluator.VisualBasic.ExpressionCompiler.UnitTests.dll

Summary

Tests run: 340   Failures: 1, Skipped: 9, Run time: 12.605s

Failed tests

0.076s
✘
 Microsoft.CodeAnalysis.VisualBasic.UnitTests.ReferencedModulesTests.DuplicateTypesAndMethodsDifferentAssemblies : Assert.Equal() Failure Position: First difference is at position 7 Ex

[2015-04-08 00:23] SLaks commented on #1373
Worked!
Thanks

[2015-04-08 02:57] Pilchie commented on #1843
Let's see if this is simple enough to pull into preview.

[2015-04-08 02:58] Pilchie commented on #1839
Let's see if this is simple enough to pull into preview.

[2015-04-08 08:04] FstTesla opened #1857 "Lowest common supertype in conditional expression"
In a conditional expression `b ? x : y`, the last two operands determine the type of the whole expression. Essentially the procedure consists in taking the type of `x` and checking whether `y` is implicitly convertible to it, or viceversa, otherwise a compile-time error occurs.

This implies that the following expression does not compile:
[code]
even if it could (should) reasonably compile, with t

[2015-04-08 08:30] default0 commented on #1857
It isn't clear to me how a lowest common supertype can be used to infer that (b ? 42 : null) should be of type int?.
int itself inherits from a ton of Interfaces and System.ValueType, which in turn inherits from System.Object, while null is specified to have no type. Where does int? come from in this case? To me it sounds like the lowest common supertype in this case would be an intersection type

[2015-04-08 09:04] heejaechang opened #1859 "figure out when we can cache shared project IVsHierarchy"
in some situation such as asynchronous project load of a shared project where shared file is loaded before shared project, IVsHierarchy is not available at source add time. we need to figure out when we can cache IVsHierarchy for such situation.

we also need a way to figure out whether something is project k project or not using just project (without document)

[2015-04-08 09:19] FstTesla commented on #1857
From a formal type-system point of view, it isn't quite right that `null` has no type: `null`'s type, let's call it `Nulltype`, is a subtype of any reference type and, most important, _is implicitly convertible to `Nullable<T>` for any `T`_.
You're right if you say that the intersection all of `int`'s interfaces is a common supertype between `int` and `Nulltype`, but _it's not the lowest_. A simpl

[2015-04-08 09:24] GeirGrusom commented on #1857
Or `null` is a type with a single value `null` which is implicitly convertible to any reference type.

[2015-04-08 09:26] heejaechang opened #1860 "figure out a way to support project k scenario in persistent service"
our persistent service assumes (project.filepath, document.filepath) tuple is unique in a solution. that was true until project k. in project k, new concept of context is introduced where (project.filepath, document.filepath) is no longer unique.

we need to figure out a way to properly support project k in persistent service.

[2015-04-08 09:33] dsaf commented on #1746
@AdamSpeight2008

As far as I understand Roslyn can tackle both without altering C# syntax.

[2015-04-08 09:51] bartkoelman commented on #1831
Hi mavasani, thanks for your suggestions.

Good to know about analyzer instance lifetime, I was wondering about that. I have now switched to using the RegisterCompilationStartAction/SymbolAction pattern, which exactly fits my needs and solves my issues.

I am aware of Compilation.GetTypeByMetadataName(), but in my scenario I search for a named type that is not fully qualified. It may occur in any

[2015-04-08 10:46] default0 commented on #1857
I think my issue with understanding was being focused on the supertype thing, instead of implicit convertibility. Thanks for Clearing that up!

[code]
What about this case though? What type should result have? `Nullable<int>` or `A`? Or should this be a compiler error?

[2015-04-08 11:07] FstTesla commented on #1857
In my opinion the expression `b ? 5 : null` should have type `Nullable<int>` and, consequently, so should the `result` variable. In fact, user-defined implicit conversions should be considered only after other kinds of implicit conversions fail, as already happens in most context (such as overload resolution). This also means that if one explicitly typed `result` as `A` no compile-time error shoul

[2015-04-08 13:04] thorgeirk11 opened #1863 "Inline temporary variable removes comment."
I encountered this when I was inlining a variable with alot of comments around it:

[code]
When I inline the foo temp variable the important comment gets removed.

![image](https://cloud.githubusercontent.com/assets/2693474/7045676/b8d11890-ddef-11e4-8ebb-7ece41e40eb6.png)

[2015-04-08 13:12] weitzhandler commented on #1746
Maybe consider a general abstract language level API to serialize/access/iterate/linq over tree data, which will allow the implementations for Json, XML and other tree-oriented storage mechanism.

[2015-04-08 16:21] Pilchie commented on #1860
Tag @dpoeschl

There is an IntelliSense project name that we use to distinguish between the contexts.  We could make the tuple include that and just use null for most projects.

[2015-04-08 16:42] balajikris commented on #1863
reproes with latest code from dotnet/master

[2015-04-08 16:52] Pilchie commented on #1863
Similar to #1017.

[2015-04-08 16:58] aolszowka commented on #131
I would vote against adding such a language feature, I feel a LINQ extension method, as has been suggested here, should be written if this is a feature desired. If it should be a part of the BCL is up for debate as well in my mind. I do not see a valid use-case that an Extension method could not be used to fulfill the requirement.

As Raymond Chen states every feature starts out at -100 points, I

[2015-04-08 17:26] brettfo commented on #1863
Confirmed, dupe of #1017.

[2015-04-08 17:26] #1863 closed

[2015-04-08 17:41] svick commented on #1857
If you write `var x = b ? "hello" : 3.14;`, what is the type of `x`? If it's the intersection type and `x` is compiled as CIL local, then that local would need to have some type that's supported by the runtime. Or are you saying the compiler should use casts to make it appear as if intersection types were real?

[2015-04-08 18:57] jmarolf opened #1867 "Have compiler return semantic errors in lambdas even in the presence of syntax errors"
Today, the compiler does not return semantic errors inside lambdas in the IDE if there are syntax errors.   This causes several quick fix scenarios to fail inside lambdas (for example #1239, #1241, and #1744 are all caused by this problem).

Consider the code sample below from issue #1239:
[code]

_new C(0)_ will never be squiggled by the IDE because of the lack of a semicolon.  This makes quick-f

[2015-04-08 19:16] heejaechang commented on #1860
@Pilchie  ya, probably that is what we need to do. but before that, I want to make sure that there is just other unique key I can use rather than file path.

[2015-04-08 19:26] heejaechang commented on #1831
@bartkoelman diagnostic has properties that you can store string.

by the way, even though GetSymbolsWithName is not as expensive as walking whole symbols in the compilation, it is still quite expensive operation. if you really need to do it, you should use CompilationEndAction or do it only once and cache metadataname string of the symbol you found so that next run you can just use GetTypeByMetad

[2015-04-08 20:54] mavasani commented on #1709
@mattwar Finally got it to repro. The issue doesn't repro if you register both the CodeBlockAction and CodeBlockStartAction, the IDE runs both the actions for that case (as in the added tests). If you register just the CodeBlockAction, IDE is skipping it just as you indicated. I'll work on a fix. Thanks!

[2015-04-08 21:04] #1722 closed

[2015-04-08 21:12] gafter commented on #620
I'm closing this issue on the assumption that the new behavior is "better" than the old behavior and compatible with more recent versions of the Unicode specification.

If you (anyone) has information suggesting otherwise, please reopen.

[2015-04-08 21:12] #620 closed

[2015-04-08 21:19] basoundr commented on #1839
Ported from TFS WorkItem: **1153282**

------------------------------

**Repro Steps:**

When you use the code model (EnvDTE) to get if the start / end edit points of a VB.NET method that is a &quot;Declare Sub&quot; or &quot;Declare Function&quot; method, you get NotImplementedException or NotSupportedException. In VS 2013 this worked fine.

Steps to reproduce:

1) Create a package in VB.NET with

[2015-04-08 21:28] basoundr commented on #1843
Ported from TFS WorkItem: **1153305**

------------------------------

**Repro Steps:**

When you use the EnvDTE.ProjectItem.FileCodeModel to get the function kind of a method, EnvDTE.CodeFunction.FunctionKind doesn&#39;t return vsCMFunction.vsCMFunctionConstructor for a VB.NET method &quot;Public Sub New()&quot;. Instead, it causes COMException.

Steps to reproduce the problem:

1) Create a VB.NE

[2015-04-08 22:11] basoundr opened #1873 "Some VisualBasicCodeModelService APIs not handling Declare Function and Sub"
`VisualBasicCodeModelService` does not handle Declare Function and Sub in the following APIs
1. `SetType`
2. `InsertParameterIntoContainer`
3. `GetFunctionExtender`

@DustinCampbell @carlos-j-quintero Are these scenarios that we should handle?

[2015-04-08 22:44] #1709 closed

[2015-04-08 22:45] mavasani commented on #1709
@mattwar This should be fixed now, I verified with your analyzer as well.

[2015-04-08 22:58] qwertie commented on #420
I like the concept of "CLR unification across assemblies", assuming it means structural type unification. I have [written about](http://loyc.net/2014/dotnet-annoyances.html) the pain of the fact that `Predicate<T>` is different from `Func<T,bool>` and that an `IList<T>` is not a `IReadOnlyList<T>` (although the latter problem is obviously harder to solve in the runtime). There are lots of stupid t

[2015-04-09 00:35] #1784 closed

[2015-04-09 00:36] balajikris commented on #1721
Hmm, the specified example seems to work for me in the latest drops. screenshot below. @jskeet do you mind emailing me (<balajik@microsoft.com>) the zip?  It is possible that I'm missing something here, as I do not recall any changes around this from CTP6 to date :smile:

![image](https://cloud.githubusercontent.com/assets/4213867/7058347/307e6c56-de15-11e4-8928-cb66f0676f2c.png)

[2015-04-09 00:48] basoundr commented on #1839
Opening the bug to track for preview

[2015-04-09 00:50] AdamSpeight2008 opened #1876 "Two Errors.vb in Solution Explorer?"
VS2015 + Roslyn Solution

Does anyone see two `Errors.vb` in the solution explorer?
![vs2015_2_errors](https://cloud.githubusercontent.com/assets/900107/7058497/88ab61f0-de5a-11e4-8a7f-b0cf9f759a92.jpg)

[2015-04-09 00:54] basoundr commented on #1843
Reopening to track for preview

[2015-04-09 00:56] AdamSpeight2008 commented on #1857
@svick  `var x = b ? "hello" : 3.14;` That should be `object'.
Similar to how VB.net uses **LCS** on array literals.
[code]

[2015-04-09 02:52] AlekseyTs commented on #1190
@VSadov, please verify.

[2015-04-09 02:52] #1190 closed

[2015-04-09 04:06] theoy commented on #1830
Nice catch! :)

[2015-04-09 04:33] Pilchie commented on #1839
Re-closing now that this is merged to RC.

[2015-04-09 04:33] #1839 closed

[2015-04-09 04:52] #1764 closed

[2015-04-09 04:52] #1030 closed

[2015-04-09 06:16] jskeet commented on #1721
Thanks @balajikris - will email you now. Here are my corresponding screenshots for the four different variants of accessibility (class and method). The screenshots were taking with R# active, but turning R# off completely doesn't change the CodeLen results, so I don't *think* it's related to that.

![internal-public](https://cloud.githubusercontent.com/assets/17011/7061318/34002b80-de88-11e4-95e6-

[2015-04-09 07:38] mavasani commented on #1741
@srivatsn I am not sure if there is a good way to deal with this. We cannot catch a StackOverflowException. Unless the analyzer is executed in a separate process or an appdomain, not sure if there is a way to fix this.

[2015-04-09 07:51] FstTesla commented on #1857
That is the easiest way, but not the only one nor the cleanest. For instance you could choose a more specific type by picking the first of the calculated intersection.

An effective run-time support for `var v = b ? x : y`, given that the expression type is an intersection `T1 & ... & Tn`, could take two forms:

1. After evaluating the expression (so that it's on top of the stack), it is dup-ed _n

[2015-04-09 07:51] JoshVarty commented on #1680
Do you remember why serialization of nodes was removed? I recall seeing an explanation on StackOverflow (Perhaps by @Pilchie) but I can't seem to find it.

I suspect there's a good reason for the removal and it's unlikely things have changed. If that's the case, I'll go ahead and close this issue.

[2015-04-09 09:10] ljw1004 opened #1884 "Intellisense failure for await in non-async method (regression from VS2013)"
**Summary** VS2015 C# intellisense fails to show intellisense for the result of an await operator in a non-async method. VS2015 VB intellisense fails to colorize await in a non-async method, fails to show intellisense for the await operand, and fails to show intellisense for the result of the await operator. These four bugs are all regressions from VS2013 and break muscle memory.

**Detail**

It's

[2015-04-09 10:35] dsaf commented on #1857
Related to #1419. Good implementation of intersection types would answer most of the questions there.

[2015-04-09 10:42] dsaf commented on #1798
Sounds like making C# more like Scala. I wholeheartedly agree :). F# with human-friendly syntax is all I want.

[2015-04-09 15:29] Pilchie commented on #1680
The main reason was to make the core APIs part of the portable profile, which doesn't support Serialization.

[2015-04-09 15:39] Pilchie commented on #1873
I suspect that at least the first two should work.  Can you look at the VS2013 implementation and see what it did?

[2015-04-09 15:40] Pilchie commented on #1843
Closing, as this was merged into preview last night.

[2015-04-09 15:40] #1843 closed

[2015-04-09 15:40] Pilchie commented on #1795
Moving out of 1.0-rc2, since we don't have anything actionable here right now.

[2015-04-09 15:53] balajikris commented on #1721
Thanks @jskeet . I did verify that codelens works well on the solution you shared. Must have been fixed by one of our recent changes to codelens.=

[2015-04-09 15:54] #1721 closed

[2015-04-09 16:45] bartkoelman commented on #1831
@heejaechang thanks for helping out.

Diagnostic's CustomTags is what I used to pass Analyzer results to the FixProvider, must have looked over it before.

Also I implemented caching as you suggested. To get the full metadata name I used the code at http://stackoverflow.com/questions/27105909/get-fully-qualified-metadata-name-in-roslyn.

Very nice!

[2015-04-09 16:50] mavasani commented on #1831
@bartkoelman Diagnostic.Properties (http://source.roslyn.io/#Microsoft.CodeAnalysis/Diagnostic/Diagnostic.cs,47) was added very recently to allow storing a custom property bag per-diagnostic instance. Descriptor's CustomTags allows storing tags per-descriptor which cannot be configured per-diagnostic instance created through the descriptor.

[2015-04-09 16:53] gafter commented on #1857
This is a dup of #1419.

[2015-04-09 16:53] #1857 closed

[2015-04-09 17:04] erik-kallen commented on #618
Is this being considered?

[2015-04-09 17:06] erik-kallen commented on #617
Since this is set to be in milestone 1.1, is there a workaround to get the information (except from using private reflection)?

[2015-04-09 17:08] erik-kallen opened #1888 "Conversion.UserDefinedFromConversion and UserDefinedToConversion"
The Conversion class has two useful non-public members: UserDefineFromConversion and UserDefinedToConversion. Can you please consider making them public?

(Btw, currently I am using private reflection to get to them and it seems that they sometimes report NoConversion when they should have returned Identity).

[2015-04-09 17:29] srivatsn commented on #1741
I wouldn't think so. The only reason I was interested was because of the claim of this being a regression.

[2015-04-09 17:30] srivatsn commented on #1595
Fixed by #1824

[2015-04-09 17:30] #1595 closed

[2015-04-09 17:30] srivatsn commented on #1631
Fixed by #1824

[2015-04-09 17:30] #1631 closed

[2015-04-09 17:37] balajikris opened #1890 "Opening a document from a project with unresolved nuget references opens it in Misc files project"
1. clone any github project that has nuget references, but do not resolve nuget references just yet.
2. open a document from this project.

**Actual**:
Document opens as a Misc files project. No errors in error list.

**Expected**:
Document opens in the correct project context and squiggles show up for members that have missing references.

cc @dpoeschl

[2015-04-09 17:45] JoshVarty commented on #1680
Makes sense, I doubt that's going to change so I'll close this.

[2015-04-09 17:45] #1680 closed

[2015-04-09 17:45] dpoeschl commented on #1890
When we last investigated this, the failure to find the references halted msbuild before it could tell us about the files in the project, which is why open in Misc Files until you fix the references. I'm not sure why they do this, or if there's some historical reason (maybe they're trying to save us from having to show hundreds of thousands of errors and squiggling everything)? Any ideas @jasonmal

[2015-04-09 17:52] balajikris commented on #1796
@sharwell It looks like this works in our latest internal drops. Screenshot below. I also tried via downloading the zip and also by forking the project (in case the git provider had something to do with it), but it seems to work in both cases. I suspect that it could have been fixed due to some of our recent changes, but I am not sure yet. I will spend a bit more time trying to break it :smile:

!

[2015-04-09 18:01] mavasani commented on #1741
Yes that was my bad. IDE is still responsive if the Initialize method has an infinite loop, so we haven't regressed. We can probably ignore the stackoverflow case. I'll close the bug.

[2015-04-09 18:01] #1741 closed

[2015-04-09 18:07] #1392 closed

[2015-04-09 18:08] mavasani commented on #1392
@AlekseyTs can you please re-try? It should be fixed with #1882

[2015-04-09 18:10] svick commented on #1680
Would it be possible to use some other serialization that is supported in PCL (say, JSON.NET) for this, instead of binary serialization?

[2015-04-09 18:15] bartkoelman commented on #1831
@mavasani In CTP6 it's not yet available. Currently I clone the initial descriptor, adding in the custom tags, each time a diagnostic is reported. This seems to work fine. Was the .Properties added for convenience only or am I missing something?

[2015-04-09 18:21] mavasani commented on #1831
@bartkoelman Nope, it was added because cloning descriptors is not the correct way to add per-diagnostic properties. A descriptor is supposed to represent metadata for all diagnostics with a given ID, and you should create just a single instance of descriptor per ID. Custom tags on diagnostic descriptor should represent custom properties about all diagnostics with an ID. Property bag on the diagno

[2015-04-09 18:26] mavasani commented on #1831
@srivatsn @heejaechang We should probably add verification code to Diagnostic.Create to verify that the passed in descriptor is reference equals one of the descriptors returned from DiagnosticAnalyzer.SupportDiagnostics, and if not throw?

[2015-04-09 18:35] heejaechang commented on #1831
@srivatsn @mavasani ya, we should enforce that.

[2015-04-09 18:39] heejaechang opened #1891 "expose "SymbolDisplayCompilerInternalOptions" to public"
http://stackoverflow.com/questions/27105909/get-fully-qualified-metadata-name-in-roslyn

user should have easy way to contruct metadata type name that can be used with Compilation.GetTypeByMetadataName.

https://github.com/dotnet/roslyn/issues/1831#issuecomment-91318801

[2015-04-09 19:05] kuhlenh opened #1892 "Interactive Design Meeting 3/27/15 & 4/3/15"
# Interactive Design Meeting 3/27/15 & 4/3/15

Definitions
-------------
 - **REPL:** a read-eval-print-loop is a tool that allows developers to execute code snippets in a user-supplied context
 - **Scripting:** a light-weight solution for writing simple and small programs. Includes an API for users to execute scripts in host-supplied applications
 - **Interactive Window:** the Visual Studio compo

[2015-04-09 19:07] bartkoelman commented on #1831
@mavasani Thanks for your clarification. I will add a TODO for it in my code and update when the next drop becomes available.

[2015-04-09 19:29] mavasani commented on #1891
+1

[2015-04-09 20:12] balajikris commented on #1750
The bug seems to be in the VSEditor. I'll create an internal TFS workitem for them and keep this open as a tracking bug to provide updates.

[2015-04-09 20:27] shyamnamboodiripad opened #1893 "[Feedback] When I control dot on a class name, it suggests me to add the sugested namespac"
Ported from TFS WorkItem: **1144956**

------------------------------

**Repro Steps:**

**Affected Branch:** <br> **Affected Build:** <br> **Affected Product Language:** <br> <br>**Steps to reproduce:**<br>&nbsp;

simpler&nbsp;repro code:

<br>

namespace A.B<br>{<br>&nbsp;&nbsp;&nbsp; class T1 { }<br>}

namespace A.C<br>{<br>&nbsp;&nbsp;&nbsp; using System;<br>&nbsp;&nbsp;&nbsp; class T2<br>&nbs

[2015-04-09 20:27] JoshVarty opened #1894 "Question about Facades, PCLs and Missing References"
I'm trying to build a workaround for #560

I should preface this by saying: I do not fully understand PCLs and Facades. I have been cobbling together information on this problem from Stack Overflow, GitHub Issues and Twitter.

I have two projects:
- MemoryMappedQueue **(Class Library)**
- MemoryMappedQueue.Tests **(Class Library)**
 - References xunit.abstractions.dll
 - References xunit.assert.dl

[2015-04-09 20:33] paulomorgado commented on #1892
Why `#load` and not `#l` like `#r` and `#u`?

What role does `PowerShell` play here?

Is this just for coding environments like Visual Studio or for other package uses like `OneGet`?

[2015-04-09 20:34] Pilchie commented on #1894
Actually, I think the easiest workaround (now that we understand the problem) is to use the overload of `MSBuildWorkspace.Create()` that allows you to specify properties, and specify `CheckForSystemRuntimeDependency` as `true`.

Let me know if that works.

[2015-04-09 20:37] Pilchie commented on #560
After investigating #1373, I think a workaround would be to use `            new MSBuildWorkspace.Create(new Dictionary<string, string> { { "CheckForSystemRuntimeDependency", "true" } });
`

[2015-04-09 20:49] JoshVarty commented on #1894
<3

That works perfectly. Sounds like I should spend a little more time learning MSBuild.

[2015-04-09 20:49] #1894 closed

[2015-04-09 20:51] JoshVarty commented on #560
@Pilchie's solution works for me. I believe a number of people are going to keep running into this problem.

What do you guys think about making this property default to true for `MSBuildWorkspace`? I imagine the people who want to set it to false will at least already know it exists.

[2015-04-09 20:54] Pilchie commented on #560
I'm trying to make this property stop existing and make msbuild do the right thing automatically in more places.  If that falls through, then yes, we should make this the default in `MSBuildWorkspace`.

[2015-04-09 20:58] JoshVarty commented on #560
:+1:

[2015-04-09 21:09] glennblock commented on #1892
Hi @kuhlenh thanks for sharing this. I have a few concerns/questions on the proposal.

First, on `#load` for packages. The question here is should package loading be a separate concern from the code. If you look at node as example, the `package.json` has the node modules. This enables tooling to easily come along and either search that file for installing modules, OR update that file if you do a `

[2015-04-09 21:11] glennblock commented on #1892
Forgot to mention the other question, `#u`. Can you describe more on what that is / why it is needed / how it will work?

[2015-04-09 21:23] tmat commented on #1892
@glennblock Re #load of nuget package. It's up to the host to support this. If your host prefers to list nuget packages separately in package.json and then consult that file before compiling the script that's fine. However, the advantage of having nuget references directly in the script (in #load directive) is that the scirpt file is all I need. Everything is specified there. I don't need to carry

[2015-04-09 21:26] tmat commented on #1892
@glennblock Re #u: the init script uses #u to define imports available globally, that is to the script including the package.

[2015-04-09 21:27] mavasani opened #1897 "Add MSBuildWorkspace support and Workspace APIs for new diagnostics related MSBuild properties."
We recently added "ErrorLog" and "ReportAnalyzer" properties to MSBuild targets file + MSBuild support for the same.
We need to add corresponding support to MSBuildWorkspace and also add Workspace APIs on Project to expose these two properties.

[2015-04-09 21:30] glennblock commented on #1892
@tmat Yes it could scan, but it also means individuals have to scan through all files to find the packages that are used. Having a separate place for packages is a well defined pattern in node, Ruby, Java (pom.xml) etc. Developers are accustomed to this pattern. They know go to the xxxx file to find if packages are present or not. Also there's the question related to installation. If I want to sup

[2015-04-09 21:40] stirno commented on #1892
My question regarding `#load NuGet.pkg` is.. where would the package contents (~/packages/<package>/*) be downloaded to? Relative the script being run seems bad. This is 'fixed' by the convention-based package.json/package.csx/whatever by locating packages relative to it.

[2015-04-09 21:57] tmat commented on #1892
@glennblock As I said, I get there are scenarios where a separate packages.json is advantageous. And we should support them. However, we should imo also support nuget #load in the script, so that one can create standalone scripts (simple samples, shell scripts, etc.).

@glennblock Obviously, some convention to prevent pollution would be a good idea. We were thinking about a similar convention to P

[2015-04-09 22:00] Pilchie commented on #1892
@stirno In the world of dnx, we would restore packages to your %UserProfile%\.dnx\packages\ directory anyway, instead of having a packages folder in your solution.  (We're also hoping to do this for non ASP.Net projects :smile:)

[2015-04-09 22:06] shyamnamboodiripad commented on #1631
Could you please verify that this is fixed @heejaechang?

[2015-04-09 22:07] shyamnamboodiripad commented on #1595
Could you please verify that this is fixed @amcasey?

[2015-04-09 22:08] shyamnamboodiripad commented on #1508
Could you please verify this @mavasani?

[2015-04-09 22:26] gafter commented on #618
It is unlikely for the VS2015 timeframe. Perhaps in an update several months later.

[2015-04-09 22:28] balajikris commented on #1721
I was able to reproduce this on CTP6 and from the exception that was being thrown, I was able to ascertain that this was happening due to the same root cause issue that caused [connect bug 1165799](https://connect.microsoft.com/VisualStudio/feedback/details/1165799/connect-excessive-disk-io-usage-in-microsoft-alm-shared-remoting), which is one of the things we fixed after CTP6.

[2015-04-09 22:34] heejaechang commented on #1631
sure

[2015-04-09 22:34] glennblock commented on #1892
@tmat no objection to supporting inline package syntax for simplicity / REPL.

[2015-04-09 22:35] glennblock commented on #1892
@Pilchie as long as I don't end up with a mini-gac hell I am ok with that. Based on what we saw with our own global package woes, I worry about that.

[2015-04-09 22:36] glennblock commented on #1892
@Pilchie the nice thing about a local packages folder is everything is completely isolated. You don't accidentally get dependencies you didn't bet on, but which were satisfied based on a heuristic.

[2015-04-09 22:49] MadsTorgersen opened #1898 "C# Design Notes for Mar 24, 2015"
C# Design Meeting Notes for Mar 24, 2015
========================================

*Quote of the Day:* If we have slicing we also need dicing!

Agenda
------

In this meeting we went through a number of the performance and reliability features we have discussed, to get a better reading on which ones have legs. They end up falling roughly into three categories:

* Green: interesting - let's keep lo

[2015-04-09 22:50] shyamnamboodiripad commented on #1412
We now have new better looking icons for this that we need to check in internally. @tmeschter could you please handle the updating of the icons?

[2015-04-09 22:57] heejaechang opened #1899 "Generate method CodeFix shows same fix for two different diagnostics"
it looks like when a line contains two unknown identifier, it shows same fix for two different diagnostic.

and bad thing is it can't get to the other one.

[2015-04-09 22:58] heejaechang commented on #1899
![image](https://cloud.githubusercontent.com/assets/1333179/7078765/3237e86c-ded1-11e4-8d30-0ded04416491.png)

[2015-04-09 23:00] heejaechang commented on #1899
Context.User, here User is type from metadata.

[2015-04-09 23:06] dpoeschl commented on #903
Adding a comment from internal TFS bug #1027712 (from @CyrusNajmabadi):

[code]

With the response from Kevin:

[code]

[2015-04-09 23:19] dpoeschl commented on #1156
Hi @AdamSpeight2008, can you give an example of what's being formatted unacceptably? Rename can cause new code to be introduced (by qualifying members, introducing casts, etc.) and we probably really do need to format that new code regardless of the setting (sometimes the unformatted code produced by our syntax generation APIs don't even have forced spaces between words until they are formatted).

[2015-04-09 23:31] jasonmalinowski commented on #560
Yeah, @Pilchie's suggestion is most emphatically a workaround.

[2015-04-09 23:34] CyrusNajmabadi commented on #903
Note: we do "shorten file paths" for the TypeScript case:

![image](https://cloud.githubusercontent.com/assets/4564579/7079174/36f37af6-ded6-11e4-939a-b5ebf1646474.png)

It's super nice, and makes the UI seem much more cluttered.

Other things to do:

1) Categorize references by 'Read/Write' usage.
2) Classify the text that is shown.  It's basically a big wall of black text.
3) Potentially show a

[2015-04-09 23:36] paulomorgado commented on #1898
Have you given any consideration to nested methods?

[2015-04-09 23:54] balajikris opened #1900 "Smart Tag shouldn't be offered for 'AddressOf' expression"
Ported from TFS WorkItem: **529510**

---

**Repro Steps:**

<FONT size=3>

Step1. Open New VB file.&nbsp;

Step2: Copy and paste the following code:

&nbsp;

<PRE style="FONT-FAMILY: Consolas; BACKGROUND: white; COLOR: hotpink; FONT-SIZE: 16px"><SPAN style="COLOR: blue">Module</SPAN> <SPAN style="COLOR: #2b91af">Module1</SPAN>
    <SPAN style="COLOR: blue">Public</SPAN> <SPAN style="COLOR: blue">

[2015-04-10 00:03] balajikris opened #1901 "Global keyword not in the completion list after Implements"
Ported from TFS WorkItem: **530779**

------------------------------

**Repro Steps:**

1. The following code is valid but while typing the "Implements Glob", "Global" keyword is not in the completion list (Also repros after Inherits)

&nbsp;

&nbsp;&nbsp;&nbsp; Public Interface I1

&nbsp;&nbsp;&nbsp; End Interface

&nbsp;&nbsp;&nbsp; Class F<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Implement

[2015-04-10 00:08] balajikris opened #1902 "introduce variable generates Let clause in wrong location in aggregate context"
Ported from TFS WorkItem: **531203**

---

Select `Math.Abs(x) > 1` and introduce variable

**Repro Steps:**

[code]

_Actual_:

[code]

_Expected_:

[code]

---

**Revisions:**

1) Created By HeeJae Chang (11/28/2012 9:23:37 PM)

---

2) Edited By HeeJae Chang (11/28/2012 9:23:38 PM)

Associated with changeset 29671: let argument in aggregate function be extractable

---

3) Edited By Kevin Pilch

[2015-04-10 00:16] balajikris opened #1903 "Type inference should infer enumerable item type inside a lambda"
Ported from TFS WorkItem: **726766**

------------------------------

**Repro Steps:**

1. Paste this code

[code]

2. Invoke Generate Method on Foo

&nbsp;

*Expected*:
[code]

*Actual*:
[code]
------------------------------

**Revisions:**

1) Created By Kirill Osenkov (6/28/2013 1:30:35 PM)

------------------------------

2) Edited By Kirill Osenkov (6/28/2013 1:32:05 PM)

Dev12 generates this

[2015-04-10 00:20] balajikris opened #1904 "NRE in GetLocationSpan() of ReferenceHighlightingViewTaggerProvider.TagProvider"
Ported from TFS WorkItem: **806504**

------------------------------

**Repro Steps:**

1. Create a VB Project
2. Introduce an [Alias -ed User Imported Namespace](https://msdn.microsoft.com/en-us/library/t4ttw1f9.aspx) through the Project Property page
3. Open a file in the project and reference the Alias.

*Expected* : The identifier to be highlighted

*Actual* : No Highlights

------------------

[2015-04-10 00:24] balajikris opened #1905 "Change Signature: Should not be available for the enclosing method when caret is on semicolon of invocation"
Ported from TFS WorkItem: **910525**

---

**Repro Steps:**
1. Start with the following code:

[code]
1. Place the caret before or after the semi-colon of the invocations to M1 or M2.
2. Press Alt+DOT and invoke Change Signature

_Expected_:
Change Signature dialog should appear for the invocation the caret is touching.

_Actual_:
Change Signature dialog appears for Main()

---

**Revisions:**

1)

[2015-04-10 00:27] balajikris opened #1906 "Brace highlighting shouldn't have a tagger delay when you type )"
Ported from TFS WorkItem: **929503**

------------------------------

**Repro Steps:**

Right now, when you type ) or ] or any closing brace, we don't highlight the brace you just closed and it's matching open brace until a half second or so. This breaks a core scenario: where you're closing lots of parentheses and you are trying to figure out if you got them all. Instead of immediately seeing whi

[2015-04-10 00:31] balajikris opened #1907 "Roslyn supplies TargetFrameworkMoniker (and other params) incorrectly in help query"
Ported from TFS WorkItem: **937176**

------------------------------

**Repro Steps:**

1. New C# console app

2. Type DateTime.Now.ToString() inside the Main method

3. Press F1 (cursor being on ToString or adjacent&nbsp;parentheses)

&nbsp;

**Expected:**

a DateTime.ToString page for .NET 4.5(.1) should open<BR>

****&nbsp;

**Actual**:

the following MSDN page opens:

[http://msdn.microsoft.co

[2015-04-10 02:14] #1893 closed

[2015-04-10 03:16] AdamSpeight2008 commented on #1156
@dpoeschl  I'll describe my view
Let's say that I have the following.
[code]
then I rename `xxxx` to `xx`, this is what I'd expected
[code]
Actual result
[code]

The existing `(x,y)` positions of other element shouldn't be affected. If the user has decided to turn of automatic syntax formatting (for whatever reason) the IDE should respect that.

[2015-04-10 03:18] glennblock commented on #1892
@tmat yes having a wrapper class can work, that is basically what we do in scriptcs only we create it for you and name it based on a convention that uses the init filename. In our case it the init name is StartXXXX.csx and the XXX is used for the wrapper class name.

This was in order to simplify the code and not require you to embed your own class. It gives it a more lightweight feel. You can use

[2015-04-10 03:24] prasannavl opened #1911 "Language Support: C# Macros (Compilation time methods)"
Macros are extremely powerful, but can introduce unnecessary complications, when not done right.
Currently, the only way to have this level of functionality is to do messy post-compile IL rewrites, and/or Debug conditionals to a certain extent, for conditional codes.

Addition of macros in the way its expressed in Rust-Lang where the evaluations happen during compile time, and produce code could b

[2015-04-10 03:24] AdamSpeight2008 commented on #1906
:+1: Yes please.

[2015-04-10 03:27] AdamSpeight2008 commented on #1911
@prasannavl
Take a look over issue #174 Template Functions.

[2015-04-10 03:36] gafter commented on #1898
@paulomorgado Yes, but that hasn't been assigned a color yet.

[2015-04-10 03:41] prasannavl commented on #1911
@AdamSpeight2008 Was a bit disappointed when my search for macros in GitHub issues yielded none. Function templates seem appropriate! Nice, shall give it a thorough read soon.

[2015-04-10 04:02] prasannavl commented on #120
Awesome feature. Been waiting for this since the inception of C#.

@stephentoub - While its use is numerous, I'm curious of how this is going to be practically in case of strings.

In your example, you used the simplest case of switch,

[code]

I'm curious here as to how a string is compared to a ReadOnlySlice<char>, since switch case requires compile time constant values of the same type.

Beside

[2015-04-10 04:50] MgSam commented on #1898
A question- at what point in the process do you start nailing down the designs of some of the features proposed thus far? It seems like the design meetings currently jump from one feature to the next- it seems to me that trying to design features like that runs the risk of circular discussions as people forget what you discussed the last time the feature was brought up several months ago and forwa

[2015-04-10 05:50] prasannavl opened #1912 "Compiler Support: Better Tuples"
Provide automatic support for packing, and unpacking of Anonymous Types or Tuples (as structs).

[code]

[2015-04-10 06:04] dfkeenan commented on #1912
This issues is already covered in #347 and a number of the Design Notes issues

[2015-04-10 06:17] #1006 closed

[2015-04-10 06:42] theoy commented on #1891
/cc: @AnthonyDGreen for overall API thoughts.

[2015-04-10 06:42] paulomorgado commented on #1898
@MgSam, regarding 4. what do you find not valuable? Methods having a return type of `never` or the fact that a `never` type exists and the `throw` statement will become an expression?

[2015-04-10 06:44] tvsonar opened #1913 "Simplifier.Expand throws NotImplementedException with namespace aliases with partial semantic model"
The following **reproduces the issue**:

[code]

The `NotImplementedException` is thrown in the `expandedFail` line.

**Expected behavior:**
Not throw an exception and return the input `SyntaxNode` without or with partial expansion.

[2015-04-10 06:47] theoy commented on #1699
Yep! We caught this internally as well. It turns out that while we never specced the serializability of lambda delegate instances... lambdas that captured empty closures were implicitly serializable in the past... so we had to ensure that again even though we are not generating them as instance methods.

However! As an added perk, in the JITs that we ran on, we observed that @vsadov's new lambda g

[2015-04-10 06:50] theoy commented on #1685
-- @weitzhandler

:+1::100:

I :heart::heart::heart: C# as well :grinning:

[2015-04-10 06:57] tmat commented on #1892
@glennblock I think we could start with the class.

In case a class defined in the assembly included in the package already contains the helpers you want to expose you can do
[code]
If it is too verbose we could consider "into clause":
[code]
Which would do the wrapping of top level stuff into Foo singleton class accessible thru a global Foo property.

[2015-04-10 07:36] glennblock commented on #1892
Oooh I really like that. `into` sounds like a great idea.

[2015-04-10 07:38] glennblock commented on #1892
This would def solve the problem with the added benefit that it would allow the consumer to resolve conflicts.

:+1:

[2015-04-10 08:27] martincostello commented on #1699
Great news! Looking forward to using the new compiler and tooling once it RTMs.

[2015-04-10 09:12] mavasani commented on #1831
@bartkoelman I am closing this issue as the underlying issues have all been fixed.

[2015-04-10 09:12] #1831 closed

[2015-04-10 09:16] mavasani commented on #1710
Probably doing the de-duplication at just the analyzer level is fine, in fact we already do this to handle duplicate analyzer instances within different AnalyzerImageReferences. In that case, HostAnalyzerManager probably needs to use the AnalyzerReference instance as the key for its caches and needs to make sure it doesn't leak it when the reference is disposed. @heejaechang your thoughts?

[2015-04-10 09:24] bartkoelman commented on #1831
I agree, thanks

[2015-04-10 09:41] Joe4evr commented on #1898
@paulomorgado I think his 4 is actually 6, but became a victim of markdown auto-numbering. If you re-read Mads' post, the "Does not return" section doesn't talk about attributes at all.

[2015-04-10 09:57] paulomorgado commented on #1898
I found it strange, but the first sentence matched it. :smile:

[2015-04-10 09:58] vbspoony opened #1916 "VB: LightBulb offers weird CodeFix when System-Namespace is missing"
Hey all,

take a look at the enclosed screenshot. I'm getting this CodeFix suggestion, when the System-Namespace is commented out. Without it, the VB compiler says it cannot convert DateTimeOffset? to DateTimeOffset and is offering a Widening operator.
![2015-04-10 11_49_27-wrongwideningtooltip](https://cloud.githubusercontent.com/assets/9663150/7085630/d1246afc-df78-11e4-81de-f0a412e39f9f.png)

[2015-04-10 11:09] mattwarren commented on #275
BTW, you **can** have these optimisations in LINQ if you use the [LinqOptimizer](http://nessos.github.io/LinqOptimizer/) library, it does these optimisations:
* Lambda inlining
* Loop fusion
* Nested loop generation
* Anonymous Types-Tuples elimination
* Specialized strategies and algorithms

However you need to re-write your queries like so:
[code]

which gets turned into:
[code]

[2015-04-10 12:53] MgSam commented on #1898
@Joe4evr Crap, yes- this is the case. It renumbered my items after submitting.

[2015-04-10 13:15] thorgeirk11 commented on #1906
:+1: Indeed

[2015-04-10 14:47] DustinCampbell commented on #903
Great suggestions Cyrus. We're in chats with the Editor team about what we'd like to do here. We'll include you in those.

[2015-04-10 14:49] HaloFour commented on #1898
@MgSam The following syntax works to prevent Markdown from renumbering lists:  `123\.`

2\.  I'm also curious about how `let` reads strange.  I know that grammatically it does read differently from `var` or `val` but I think that's excusable if you read it in the context of declaring a constant.  I agree with MgSam that my preference for `let` comes from both being easily visually distinguishable

[2015-04-10 14:51] MikePopoloski commented on #1898
For 1), yes please! As a game developer, structs are my lifeblood. Any changes that make them easier and more efficient to use will be greatly appreciated. I often find myself using arrays over List<T>s of structs due to the overhead of copying them in and out of the indexer. Often I even allocate blocks of unmanaged memory via AllocHGlobal and carve out pieces of it for my value types. Being able

[2015-04-10 15:10] dsaf commented on #119
Would they be supported for properties as well? Given that properties are a shorthand for get/set methods.

[2015-04-10 15:41] divyang4481 opened #1917 "default value for class"
can we define  some thing like

var instanceOfMyClass = default(MyClass);

public class MyClass
{

  default  = new MyClass(){ Prop2="myDefaultValue", Prop1=1 };

 public MyClass()
{
}

   public  string Prop2{get;set;}
  public  int Prop1{get;set;}
}

[2015-04-10 15:54] henkmollema commented on #1917
You could assign those values as defaults for the properties:
[code]

[2015-04-10 16:06] dsaf commented on #1898
@MgSam

```const``` - a constant
```var``` - a variable
```val``` - a value
```let``` - anything?

a) syntax-based LINQ is more like an integrated DSL, does it really matter for the rest of the language?

b) Swift is not relevant (yet), it's not even mainstream in Apple development let alone other platforms. Much better example that proves the opposite would be very mainstream (granted ill-designe

[2015-04-10 16:09] HaloFour commented on #1917
Sounds like he wants to override what the CLR considers to be the "default" for the reference type itself.  Not sure that's really possible as when the CLR inits any locals/fields it zero-fills them, which is why references are `null` by default.  The C# compiler could potentially consider `default(MyClass)` to actually mean `MyClass.SomeDefaultProperty` but only in non-generic circumstances and o

[2015-04-10 16:10] dsaf commented on #1898
I would go for ```var readonly``` instead of ```readonly var``` for symmetry with immutable-by-default F# that has ```let mutable```.

[2015-04-10 16:26] MgSam commented on #1898
@dsaf I agree the word "let" isn't an abbreviation of the concept it represents, but so what? This is a language symmetry argument, I'm much more concerned about how the keyword will play in practice, not whether it is nice from a theory perspective.

Also, re: b), this is Apple we're talking about- once a tech falls out of favor (Objective C) there's a ticking clock until they drop support altoge

[2015-04-10 16:27] Pilchie commented on #1876
Yes, I see too.  It's by design.  This happens because Errors.vb is included in two different ItemGroups in the .vbproj.  If you open the Properties Window, you can see that one of them has Build Action set to Compile and the other to "ErrorCode".

I'll add some metadata to make the "ErrorCode" one not display in Solution Explorer.

[2015-04-10 16:37] thorgeirk11 opened #1919 "Refactoring out an unnecessary cast"
There is a different result of running a code fix on a single line versus a whole document. Refactoring out an unnecessary cast for the following code:

[code]
Refactoring one cast at a time results in the following code:
[code]
However when the same refactoring is run on the document, by clicking on "Fix all occurrences in: Document" inside the light bulb, the following happens:
[code]

Here is a

[2015-04-10 16:45] gafter commented on #1898
@MgSam The design group is trying to decide on a reasonable full set of things to work on before deep diving into an arbitrarily selected feature. Once we've considered the full set of things we might do, we'll narrow it down and then begin the design work in more detail. That design work might cause us to reconsider the set of features as a whole, and that's fine.

[2015-04-10 16:50] pranavkm opened #1920 "Specifying the checksum when creating SourceText"
We use the Roslyn compiler to generate Razor views in Mvc. This involves converting the original cshtml file and transforming it into a string that represents the C# code to compile. This boils down to

[code]

Looking at the generated PDB (using PdbToXml, great tool!), it seems like

1. Roslyn calculates the SHA1 checksum using `generatedCSharpCode`
2. Sets the file path to `absolutePathToView`

[2015-04-10 16:53] MadsTorgersen opened #1921 "C# Language Design Review, Mar 25, 2015"
C# Language Design Review, Mar 25, 2015
=======================================

We've recently changed gears a little on the C# design team. In order to keep a high design velocity, part of the design team meets one or two times each week to do detailed design work. Roughly monthly the full design team gets together to review and discuss the direction. This was the first such review.

Agenda
----

[2015-04-10 16:58] dotnet-bot opened #1922 "VB XML Literals formatting/end construct generation: Typing out a multiline lambda in an XML literal expression hole results in bad formatting or bad code"
Ported from TFS WorkItem: **816994**

------------------------------

**Repro Steps:**

**Repro 1: **Start VS/EditorTestApp, and paste this:
<PRE style="FONT-SIZE: 16px; FONT-FAMILY: Consolas; BACKGROUND: white; COLOR: hotpink"><SPAN style="COLOR: blue">Module</SPAN> <SPAN style="COLOR: #2b91af">Program</SPAN>
    <SPAN style="COLOR: blue">Sub</SPAN> <SPAN style="COLOR: black">Main</SPAN><SPAN sty

[2015-04-10 17:29] Pilchie commented on #1890
Unfortunately, no, I don't have any context here :frowning:

[2015-04-10 17:33] carlos-j-quintero opened #1923 "EnvDTE.CodeClass.Namespace causes exception for nested classes"
See MS Connect bug opened by Patrick Smacchia:

https://connect.microsoft.com/VisualStudio/feedback/details/1238355/envdte-codetype-namespace-throws-invalidoperationexception-for-nested-type

Steps to reproduce the problem:

1) Create a VB.NET package with this command handler:

   Protected Overrides Sub Initialize()
      MyBase.Initialize()

      ' Add our command handlers for menu (commands m

[2015-04-10 18:04] #1876 closed

[2015-04-10 18:06] Pilchie commented on #1293
Yes, fixed by 3d31ec15ad3385d1a0a5c77aea6ca2674c7073b8

[2015-04-10 18:06] #1293 closed

[2015-04-10 18:12] jmarolf commented on #1916
I believe I fixed this, are you using CTP 6?

[2015-04-10 18:38] stirno commented on #1892
Really like `into` for this as well. :+1:

[2015-04-10 18:39] nil4 commented on #1898
Another vote for `let` over `val`, the latter being much too similar to `var`. Keeping in mind that code is read a lot more often than it's written, every such occasion is an opportunity to inadvertently miss the difference between the two (think of reading or reviewing code, diffs or pull requests outside an IDE). In addition to being already used by LINQ, it is also present in [Javascript](https

[2015-04-10 18:40] jasonmalinowski commented on #1890
I'm not aware of any historical reason for this -- and missing file references shouldn't cause the entire intellisense build pipeline to fail...those should just be treated as yellow-triangle "missing" references in solution explorer but other stuff should still work.

[2015-04-10 18:43] #472 closed

[2015-04-10 18:59] #253 closed

[2015-04-10 19:35] heejaechang commented on #1710
@tmeschter @mavasani I am not sure what you mean by analyzer level? are you talking about we creating some kind of hash for each analyzer? if we can do that, we should be able to do that for analyzer reference as well. I would prefer de-dup in reference than analyzer since de-dup is always simpler and easy to understand as it happens earlier in the pipeline.

...

by the way, I don't think it is g

[2015-04-10 20:19] jnm2 commented on #1917
I see `default(T) == null` a lot to determine if T is a value type or a reference type, since the default of a reference type is defined to be null. That would break.

What is the gain you're looking for?

[2015-04-10 21:02] orthoxerox commented on #1917
I've written in #71 that the goal of having an overridden default() is avoiding NREs and the Elvis operator. It's not something that you might want for *all* of your types, but it is really, really useful for some of them.

[2015-04-10 21:10] jnm2 commented on #1917
I'm not necessarily disagreeing but it's worth reading [Is it Really Better to 'Return an Empty List Instead of null'?](http://www.codeproject.com/Articles/797453/Is-it-Really-Better-to-Return-an-Empty-List-Inst).

In the cases where the null object pattern is really useful, what does `default()` give you that a static property `NullT.Default` doesn't?

[2015-04-10 21:34] jnm2 commented on #1898
I think `val` is clever and almost too perfect as complement of `var`, so it is with reluctance and sadness that I would vote for `let` as the keyword which people both from C# and from other languages will instinctively expect for that concept. `val`\`var` may also increase errors, contrary to the pit of success you guys are shooting for.

Now if only `let` on a parameter didn't sound so dorky...

[2015-04-10 21:41] Przemyslaw-W commented on #1898
I am not native English and let on a parameters does not sound dorky to me
at all :)

2015-04-10 23:34 GMT+02:00 jnm2 <notifications@github.com>:

[2015-04-10 21:48] apskim commented on #1921
There was a proposal on Codeplex to have a uniform treatment of `is` as a pattern-preceding keyword all across the language. C# 1.1 `is T` looks like an instance of pattern matching anyway.

To make this rule even more universal, you could do some of the following:

1. In the pattern-matching expression, introduce patterns with `is` as well. Any of the following (or their combinations) could be a

[2015-04-10 22:50] CyrusNajmabadi commented on #1906
Using TaggerDelay.NearImmediate is probably more appropriate than 0.

[2015-04-10 23:14] aluanhaddad commented on #1921
Thanks for the update.

2. I vote for ```val``` because it reads much better than ```let``` in the proposed contexts. I think that the syntax used by Swift reads very poorly especially when mutable and immutable declarations are mixed.
6. I'm really happy to hear that an expression form for pattern matching is being considered. This will really help make the feature concise and usable.

[2015-04-10 23:17] balajikris commented on #1906
It is currently using NearImmediate, which has a delay of 50 milliseconds (haven't checked source for accuracy). Either the bug is now out of date, or Jason meant that we do better than NearImmediate

[2015-04-11 00:18] ManishJayaswal commented on #1892
One of the design principle we talked about is the desire to have the scripts be sharable across various hosts. So we should "try" to not make the scripts dependent on some global state that host/environment sets up. Then the scripts will fail to run or behave differently in different host/environment. I wanted to mention this as it was explicitly stated in the notes.

[2015-04-11 00:34] pharring commented on #1920
I suppose we could add a public overload of SourceText.From that takes a checksum argument.

As a workaround for now, you'll have to write your SourceText implementation. You could clone [StringText](http://source.roslyn.io/#Microsoft.CodeAnalysis/Text/StringText.cs,79749899b53d5846) into your project, for example.

[2015-04-11 00:51] tmat commented on #1892
@ManishJayaswal I'd say we need to word it a bit more precisely. Of course, any extension points we provide via hosting API potentially make scripts host specific. I think we need to distinguish classes of  scripts, each class designed for a specific kind of host. A different instance of the same host should be able to run the same script with the same semantics.

For example, let's say that I des

[2015-04-11 00:54] tmat commented on #1892
Having shebang syntax would be beneficial to describe the app the script expect to be hosted in.
#!scriptcs

[2015-04-11 00:57] tmat commented on #1920
@mattwar

[2015-04-11 00:58] tmat commented on #1920
I'm not sure I understand the problem. The SyntaxTreeGenerator should return a syntax tree backed by source text with the corresponding checksum. Maybe it doesn't?

[2015-04-11 00:59] tmat commented on #1920
The value of ```absolutePathToView``` should be the path to the generated file. It should not be the cshtml file. Use #line to map to the cshtml file.

[2015-04-11 01:06] HaloFour commented on #1898
@jnm2, @Przemyslaw-W

IIRC `readonly` would be used as the keyword to specify that a parameter or formally-declared parameter is read only.  The `let` or `val` keyword would serve as a shorthand for implicitly-typed readonly variables, a counterpoint to `var`:

[code]

[2015-04-11 01:44] jasonmalinowski commented on #1906
Yes, NearImmediate is too slow. If you're trying to play "match a brace" visually it's horrible.

[2015-04-11 02:24] divyang4481 commented on #1917
@orthoxerox , I am thinking for override of default operator for  class. in way supporting NULL design pattern  in CLR or  compiler level.

[2015-04-11 03:16] heejaechang commented on #1811
should be fixed with #1861

[2015-04-11 03:16] #1811 closed

[2015-04-11 03:18] #910 closed

[2015-04-11 03:27] MgSam commented on #1921
On 5) Records, I think the point made about GetHashCode is a great example of why auto-generation of GetHashCode, Equals, and ToString (and With) should be a distinct feature from the primary constructor syntax. This is what the `record` keyword (or something equivalent) should do- autogenerate these members for you based on your properties.

Tying the two features together never made much sense-

[2015-04-11 04:59] mattwar commented on #1920
What is SyntaxTreeGenerator?

[2015-04-11 12:41] vkhorikov commented on #1921
Regarding 3) Code Contracts should definitely be able to throw exceptions, otherwise it'd be impossible to test them with unit-tests.

[2015-04-11 14:53] GeirGrusom commented on #1917
What about generics? If FirstOrDefault() suddenly returns something other than null for classes a lot of code could break.

[2015-04-11 15:12] Joe4evr commented on #1921
Additionally, [it was mentioned](https://github.com/dotnet/roslyn/issues/119#issuecomment-74172061) that you wouldn't want to kill an entire web server process just because *one* of its hosted websites encountered a contract violation.

[2015-04-11 15:59] mkrueger opened #1929 "Diagnostics should be able to pass info to code fix providers."
ATM it's not possible to pass Information from diagnostics to code fix providers.
There is no real reason the code fix providers need to run a second diagnostic.

[2015-04-11 16:25] orthoxerox commented on #1917
Well, if you override default() it's a breaking change, so don't do that if consumers of your code won't adapt. To help them adapt, comparisons with null should generate a warning for classes with overridden default().

[2015-04-11 16:53] mavasani commented on #1929
You can pass custom information through the "properties" bag parameter taken by Diagnostic.Create method. Its a string -> string map.

[2015-04-11 16:59] mkrueger commented on #1929
Seems to be my roslyn is too old - I don't have that overload. But if it exists it would be helpful.

I was just translating NRefactory5 diagnostics and was missing that ability.

[2015-04-11 16:59] #1929 closed

[2015-04-11 18:44] HaloFour commented on #1917
If it were implemented as an operator the class could be modified to have a `default` value and consumers never know unless/until they were recompiled.

I'm having trouble thinking of any real use case for a feature like this.  It could only possibly work in scenarios where you are requesting `default(SpecificClass)`, which is really uncommon.  Otherwise the compiler could never possibly resolve t

[2015-04-11 19:50] HaloFour commented on #262
I was toying with .NET Native in Visual Studio 2015 CTP6 and it seems that the issue with reflection and enums are no longer a problem as `Type.GetEnumValues()` no longer throws due to the call to `Array.UnsafeCreateInstance`.

[2015-04-12 03:13] marchy commented on #1648
Are you guys analyzing how Kotlin has gone about this problem? They are dealing with the same issues with an unchangeable JVM but have made it work beautifully with solutions that I'm not seeing being discussed here (ie: see points 2 & 3 below).

**1. Opt-in is not the way**
I strongly urge you to not take the opt-in approach if this feature is to have any real adoption and if the future of C# is

[2015-04-12 05:06] Joe4evr commented on #1648
As Mads says, though,

&nbsp;

Except OmniSharp is a thing these days, so there's half a dozen other IDEs not under Microsoft's control that will have to include such UX features. I estimate the odds of that to be slim to none.

I'd like to see this as well, but the big discussions surrounding non-nullability indicate that the implementation should be done as complete and correct as possible from

[2015-04-12 10:45] nietras commented on #1677
With regard to item 9. why does this involve changing the CLR if F# can already support this? See under
https://msdn.microsoft.com/en-us/library/vstudio/dd233203%28v=vs.100%29.aspx , however I assume this does not allow making pointers still.

Additional, for further input on why this is very much needed see: http://www.codingmurmur.com/2014/07/vote-for-unmanaged-generic-type.html

So if the CLR n

[2015-04-12 12:11] AdamSpeight2008 commented on #1830
@SLaks

Let's say the CLR allowed `Func<Void>` how would it work with `Action<>`, especially overload resolution?

[2015-04-12 12:57] ufcpp commented on #1898
I usually type only "v" and use IntelliSense to get `var` keyword. Therefore, if 'val' were used for a readonly decralation, I'd be confused to use `var` and `val` depending on situations.

[2015-04-12 13:11] SLaks commented on #1830
@AdamSpeight2008 `Action` would take precendence, just like `Func<int>` vs `delegate int MyDelegate();`.

[2015-04-12 13:14] SLaks commented on #1916
Dupe of #559

[2015-04-12 13:23] SLaks opened #1931 "C# IntelliSense is confused for await in non-async methods"
In a non-async method, the `await` keyword is offered as a keyword completion.
However, once entering it, it's treated as a (non-existent) type, and there is no IntelliSense whatsoever after the space (because it thinks you're declaring a variable).

Entering an almost-complete `await` expression (eg, `await Task.Yield()`) doesn't change anything (offering a quick fix to generate an `await` class,

[2015-04-12 14:10] vladd commented on #1898
As already mentioned in other discussions, `var` and `val` are too close, perhaps `let` is better. (And, `let` is already a keyword with a similar meaning.)

[2015-04-12 16:34] Sebazzz commented on #1921
The way I see it, method contracts are simply a set of pre and postconditions that are defined at the language level with the advantage that its easier to document and do flow analysis for. They should replace the classic parameter validation block at the beginner of a method.

[2015-04-12 18:49] AlekseyTs commented on #807
@VSadov Please verify

[2015-04-12 18:49] #807 closed

[2015-04-12 19:10] aluanhaddad commented on #1898
Regarding Item 2, I vote for ```val``` because it reads much better than ```let``` in the proposed contexts. I think that the syntax used by Swift reads very poorly especially when mutable and immutable declarations are mixed. In my experience writing Scala, I have not found
[code]
and
[code]
 to be overly similar, in practice the lexical similarity is a non-issue.

[2015-04-12 20:08] juanpaexpedite opened #1933 "Clone objects"
I understand the implementation of ICloneable and the base of MemberwiseClone, but when I try to use in the real world (XAML) I cannot use it due to many problems, like it is protected, casting to object, COM issues, sealed classes.
 Always the alternatives are a 'deep' for each of the properties, serializations. But for instance Storyboard is really hard to clone, it has Arrays and it is imposibl

[2015-04-12 20:27] AlekseyTs commented on #1392
Verified

[2015-04-12 20:30] sharwell commented on #1933
There is no one definition for "Clone". In fact, you can't even break this operation into "deep" and "shallow" cloning, because you also have objects like `string` which is clone-by-reference. You'll need to very specific about what you are trying to do before we can talk about what a "clone" is in your case.

[2015-04-12 22:39] gafter commented on #1933
@juanpaexpedite what Roslyn component is this reported against?

[2015-04-12 22:54] #1394 closed

[2015-04-12 23:10] paulomorgado commented on #1921
Since there has been so much discussion regarding code contracts, probably the best solution would be the throw exceptions but have an option to intercept them (like `AppDomain.UnhandledException` and such) and have it fail fast.

I don't think there's enough justification to replace `case` with whatever word. `case` makes sense and non other makes more sense unless it's proven that `case` never m

[2015-04-13 04:23] juanpaexpedite commented on #1933
I am not an expert in the deeps of everything, I will try to be more specific:

1.- MemberwiseClone is protected so I can only use in my classes and only for the Fields.
2.- The usual way to use it is by implementing in my classes
class MyClass: ICloneable {
    //...
    public MyClass Clone() { return (MyClass )this.MemberwiseClone(); }
    object ICloneable.Clone() { return Clone(); }
}
3.- Mem

[2015-04-13 08:35] dsaf commented on #1648
@Joe4evr

When Code Contracts failed* at least there was some comfort in knowing that it's just an API. When syntax-based LINQ failed*, it will stay in the language forever.

* failed, as in not getting wide popularity on it's own. Code Contracts is too slow and verbose to be worth it, even Microsoft doesn't want to use it - look at EF7 repo. LINQ query is competing with LINQ extension methods and

[2015-04-13 10:59] GeirGrusom commented on #1648
Because it would be meaningless in a query.

[2015-04-13 11:02] dsaf commented on #1648
@GeirGrusom what about ```first```? SQL has ```TOP```.

[2015-04-13 11:04] GeirGrusom commented on #1648
@dsaf that is a perfect example :)

[2015-04-13 13:00] pranavkm commented on #1920
@pharring - thanks. I'll look into that.

@tmat, `absolutePathToView` is the `'cshtml` file and we don't write the generated contents to disk. Specifying a random path gets the debugger to work - we do this today by specifying relative paths when generating line pragmas and absolute path when generating the pdb. However I just wasn't certain if that's what we should be doing.

@mattwar Oops - that

[2015-04-13 13:32] jaredpar commented on #1741
@mavasani I think ignoring the stack overflow case is the right call.  In particular because we can't reliably catch the exception.

[2015-04-13 13:52] MgSam commented on #275
:+1:
As Linq is one of the most powerful parts of the language, and is heavily used for data manipulation, I think looking into optimizations around it is certainly a worthwhile use of time for the languages team.

[2015-04-13 14:10] dsaf commented on #275
@mburbea I meant using an attribute instead of introducing a keyword, rather than what that specific attribute is *currently* doing.

[2015-04-13 15:14] HaloFour commented on #1648
@dsaf I'm not sure how one would compile the metrics but I would be very surprised if the LINQ query extensions weren't extensively used.  Using a single project like EF7 as an anecdote isn't very representative.  I personally switch between them depending on the situation.  For the most part I prefer the extension method syntax, but I think that the query syntax is more succinct for group joins,

[2015-04-13 15:35] dsaf opened #1937 "[C# Feature] Make LINQ query syntax less dependent on LINQ method syntax"
Currently:

[code]

Suggested version - inferring a method group:

[code]

Supporting opinions:

http://stackoverflow.com/a/214610/486561

http://stackoverflow.com/a/279738/486561

[2015-04-13 15:35] dsaf opened #1938 "[C# Feature] Convenient combination of foreach and LINQ"
I would argue that _embedded_ is a better term for how the syntax feels at the moment.

Currently:

[code]

Suggested:

[code]

[2015-04-13 15:37] dsaf commented on #1648
@HaloFour I was referring to Code Contracts, when I mentioned EF7 - they have opted for JetBrains annotations instead (very sparingly). I generally agree with what you are saying about LINQ query syntax, but think more can be done to make developers prefer it, hence I just created #1937 and #1938.

[2015-04-13 15:56] svick commented on #1937
I do think that a similar feature should exist, but I don't like this specific syntax, because it means it's not clear what you're selecting.

Consider:

[code]

What should this return? Right now, a LINQ query always clearly says what object is returned. You're proposing to change that principle. A logical extension of your proposal would be to also allow queries that have no `select`, like:

[co

[2015-04-13 15:56] jaredpar opened #1939 "Automatic referencing of mscorlib on coreclr"
Unless the [/nostdlib](https://msdn.microsoft.com/en-us/library/fa13yay7.aspx) option is passed the C# compiler will automatically add a reference to mscorlib for the compilation.  The compiler assumes that mscorlib exist inside [GetCORSystemDirectory](https://msdn.microsoft.com/en-us/library/k0588yw5%28v=vs.110%29.aspx) / [RuntimeEnvironment::GetRuntimeDirectory](https://msdn.microsoft.com/en-us/

[2015-04-13 16:11] Pilchie commented on #1931
I don't think there is actually anything unique from #1884 here - fixing the fault tolerance there should make things just work here.

[2015-04-13 16:12] dsaf commented on #1937
@svick Yeah, it's a duplicate.

[2015-04-13 16:12] #1937 closed

[2015-04-13 16:34] Pilchie opened #1940 "Crash after changing content type."
We need to better handle content types changing.  I was looking at this and saw at least one crash:

1. Create a C# project
2. Rename Program.cs to Program.vb
3. Close and open the file
4. Convert the syntax to be VB syntax (by hand)
5. Rename the file back to Program.cs
6. Start converting the syntax back to C#

Result:
Crash:
[code]

[2015-04-13 16:36] Pilchie commented on #1940
Minidump with heap at <internal-share>\dumps\1940\1940.dmp.

[2015-04-13 16:37] tmat commented on #1920
@pranavkm Assuming that "random path" is the path to the generated file, then yes, that's what you should be doing.

[2015-04-13 16:47] SLaks commented on #1931
The appearance of `await` in IntelliSense, and how `await` is classified, is a bit different from what is mentioned there.

[2015-04-13 16:52] HaloFour commented on #1938
How about:

[code]

[2015-04-13 17:06] HaloFour commented on #1648
@dsaf Oh, well, in that case we agree.  JetBrains probably has it (mostly) right.  More important than what it does if the parameters are invalid is how it helps to avoid them from being invalid.  The bread-and-butter cases overlap perfectly with the not-nullability proposals.

Also agreed about LINQ.  There are plenty of common use cases where people do mix both and doing so within a single expre

[2015-04-13 17:06] tmat commented on #1939
I think we might need to replicate the CLR loader logic in mscoree.

[2015-04-13 17:07] jaredpar commented on #1939
@tmat but what would be the end goal?  There is no mscorlib to reference.  Which DLL would we pick instead?

[2015-04-13 17:12] tmat commented on #1939
When a manged exe is being loaded by Windows mscoree finds the CLR (and mscorlib) installed on the box and loads it. Presumably it looks up some registry/environment values. GetRuntimeDirectory imo just returns the location the executing runtime is initialized from. So I guess we need to check the same registry values mscoree does. Of course, that code would be Windows specific.

[2015-04-13 17:13] jaredpar commented on #1939
@tmat right but what DLL should we eventually implicitly add a reference to?  There is no mscorlib in a coreclr scenario on say Linux.  Adding a reference to the corelib we sym ship with the compiler is wrong because it's a DLL that is never meant to be referenced by the user.

[2015-04-13 17:15] tmat commented on #1939
Correct, I don't think we can make it work on Linux. We can make it work for csc running CoreCLR on Windows. On linux that feature would just not be available. The user has to specify the path to mscorlib.

[2015-04-13 17:16] tmat commented on #1939
Or perhaps if you have Mono installed it sets some env variable that we can use (equivalent of the registry entry).

[2015-04-13 17:25] jaredpar opened #1941 "Set next statement crashes Visual Studio"
Repro:

- Open Roslyn.sln
- Set vbc2 as the startup project
- Set a breakpoint on line 64 of BuildClient.cs (https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/MSBuildTask/BuildClient.cs#L64)
- F5
- When the breakpoint hits that line right click and select "Set Next Statement"
- Seletct `return fallbackCompiler(...)`

At this point the IDE will crash.

Stack trace not provided because

[2015-04-13 17:32] VSadov opened #1942 "Async rewriter does not lift partially initialized structs in /o+ mode."
[code]

=== in Debug prints  (correctly):
Before 12
After 12

=== in Release prints
Before 12
After 0

[2015-04-13 17:33] ManishJayaswal commented on #1941
Looks like it is the diasymreader version mismatch issue.

[2015-04-13 17:35] jmarolf commented on #268
@shyamnamboodiripad can you verify this?

[2015-04-13 17:36] jmarolf commented on #559
@tmeschter could you verify this please?

[2015-04-13 17:47] dpoeschl opened #1944 "Save & Paste format VB documents when Pretty Listing disabled"
Forking this issue from #1156.

This is a regression from VS2013.

1. Disable VB pretty listing.

2. Copy/paste VB:
[code]

**Expected**: Pasted code has the same formatting as above (with lots of spaces after ```z``` and ```a```).
**Actual**: Pasted code is formatted

**Note**: The same problem occurs with the save command. There may be other commands too, but these are the two I'm aware of.

[2015-04-13 17:52] dpoeschl opened #1945 "Rename formats unrelated code in method body"
Forking this issue from #1156.

This is a regression from VS2013.

1. Copy/paste VB:
[code]

2. Rename ```abc``` to ```def```

**Expected**: The method body has the same formatting as above (with lots of spaces after ```a```).
**Actual**: The method body is formatted.

**Note**: Similarly formatted declarations in *other* methods are not formatted, so this is not due to some larger document format

[2015-04-13 17:56] HaloFour commented on #1921
I like the idea of having pattern matching fit in with existing `is` statements and `switch` statements and keeping mostly to the existing syntax in both cases.  The examples of that syntax posted to these boards generally read intuitive to me.

The only flavor of that which looks kind of weird to me is the type pattern:

[code]

Something about that just looks a little backwards to me.

I do like

[2015-04-13 17:59] dpoeschl commented on #1156
@AdamSpeight2008 Thanks for the clarification. I think there are actually three things going on here:

1. There does appear to be a regression from VS2013 where we now format VB code on paste & save even if pretty listing is disabled. We should look through the set of places we invoke formatting to ensure they either check the pretty listing option first or document why they choose to ignore the o

[2015-04-13 18:02] dpoeschl commented on #1156
@Pilchie Do we have telemetry about how many people turn off VB prettylisting? That could give us a starting point for estimating how many people try to style their code this way...

[2015-04-13 18:09] gafter commented on #1504
I believe the code path for `GetEnclosingSymbol` does not go through the bound node cache as it should, resulting in a redundant attempt to add to the cache. This can be reproduced with a do-while loop (it doesn't require using the new exception filter construct).

The simple "fix" is to suppress the assertions until a proper fix is done. It may take me a couple of days to figure out exactly how i

[2015-04-13 18:16] dpoeschl commented on #903
I've updated the list of suggestions in the original post to include all of these suggestions. Thanks!

[2015-04-13 18:25] dpoeschl commented on #903
@Pilchie - Are there any of these we would consider for 1.0 (stable)? I'd like to move this tracking bug to 1.1 and make individual issues in 1.0 (stable) for any that we want to actually consider for that milestone.

The only ones that look feasible to me are 1 (reduce file length) 5 (track locations through edits), and 6 (categorize by read/write):
  * 1) The file length one is already partially

[2015-04-13 18:30] AdamSpeight2008 commented on #1156
@dpoeschl On case 3. Personally if the new name is longer, then adjusting only the affected lines.

The user may go to do additional formatting manually that ok. We (the IDE) should respect that if the user has explicitly told it to apply automatic formatting.. If the line also has user based formatting, that should also remain unaffected.

If the new name is shorter, add whitespace (spaces) after

[2015-04-13 18:44] bkoelman opened #1947 "Formatting adds unexpected extra line break"
In the code below, the resulting string contains two blank lines above "example comment" after formatting. I would expect that the single blank line is preserved. Repro for CTP6.

    using System.Linq;
    using Microsoft.CodeAnalysis;
    using Microsoft.CodeAnalysis.CSharp.Syntax;
    using Microsoft.CodeAnalysis.Editing;
    using Microsoft.CodeAnalysis.Formatting;
    using Microsoft.CodeAnal

[2015-04-13 19:15] VSadov commented on #1939
One does not seem to contradict another. We could fetch the SDK location from several source
1) command line args
2) environment variable (only if  # 1 fails)
3) from some global registry/GetRuntimeDirectory source (only if # 2 fails)

This way it would be possible to control the default behavior with appropriate granularity and still override it locally if needed.

[2015-04-13 19:28] #1597 closed

[2015-04-13 19:34] jaredpar opened #1949 "Pretty lister changes case of unresolvable types"
Consider the following code snippet:

[code]

In the case where `OutputKind` is unresolvable (has a squiggle) any pretty listing of that line will change the output to:

[code]

This makes editing code not feasible with the build is in a broken state.

[2015-04-13 19:37] balajikris commented on #1628
This seems to be a bug in the compiler.  The IDE asks for symbolInfo on the conditionalAccessExpression from here (https://github.com/dotnet/roslyn/blob/1d0b2f2fd9e1bb15ba06861c27fffd374971997b/src/EditorFeatures/CSharp/AutomaticCompletion/Sessions/LessAndGreaterThanCompletionSession.cs#L60-L61) and gets 0 symbols back.

If one were to change the sample code from `args?.OfType` to `args.OfType` (i

[2015-04-13 19:44] balajikris commented on #1628
Here is a call stack trail, for debugging:

[code]

[2015-04-13 19:51] gafter commented on #219
As per #1510, this type will be removed.

[2015-04-13 19:51] #219 closed

[2015-04-13 20:04] gafter commented on #1067
@agocke Can you please "Verify" that this is fixed?

[2015-04-13 20:05] gafter commented on #1291
@tmat Can you please "Verify" that this is fixed?

[2015-04-13 20:06] gafter commented on #1312
@tmat Can you please "Verify" that this is fixed?

[2015-04-13 20:47] srivatsn commented on #1787
This seems like a very minor issue and might even  be expected based on the current design which is that the selected project will be the one showing up as the context. Won't fixing this issue.

[2015-04-13 20:47] #1787 closed

[2015-04-13 20:50] srivatsn commented on #1776
Presumably adding the error that shows up for tis case to generate type should fix this issue.

[2015-04-13 20:53] ManishJayaswal commented on #1941
This should be fixed after Kevin updated the debugger bits.

[2015-04-13 20:53] #1941 closed

[2015-04-13 20:56] srivatsn commented on #1919
This was fixed by @mavasani some time ago. I just verified that this works fine now. The fix should show up in the next preview.

[2015-04-13 20:56] #1919 closed

[2015-04-13 20:57] srivatsn commented on #1916
Closing since this has been fixed and the fix should show up in the next preview.

[2015-04-13 20:57] #1916 closed

[2015-04-13 21:03] AlekseyTs commented on #404
The only suggested test scenario, which is failing right now, is TestResolveConditionalAccess. This behavior, however, is expected because ConditionalAccessExpressionSyntax is never associated with a symbol. This might be unintuitive at first, but, given that conditional access is not always associated with a single access, I believe the current behavior makes sense. For example, an expression x?.

[2015-04-13 21:03] #404 closed

[2015-04-13 21:05] srivatsn commented on #1737
The check itself is useful but may be it could run in the background.

[2015-04-13 21:07] srivatsn commented on #1723
The problem is that the MS.CA.Analyzers.dll should be next to the MS.CS.CSharp.Analyzers.dll in the package but the packge was broken. We've fixed this and the next update should have the right structure.

[2015-04-13 21:12] srivatsn commented on #1668
Looks like this has been fixed and we can now see the fixes for both issues.

[2015-04-13 21:12] #1668 closed

[2015-04-13 21:45] ManishJayaswal commented on #291
This code probably makes the yellow highlight disappear during EnC so we should look to uncomment this to unblock the scenario.

[2015-04-13 21:52] tmat opened #1950 "[Portable PDB] Revisit and test async method info"
The current design is not correct. Fix it and update writer, reader, bridge and tests.

[2015-04-13 21:53] tmat opened #1951 "[Portable PDB] Fix up scope ranges for VB"

[2015-04-13 21:55] bondsbw commented on #1938
Thank you @dsaf for this suggestion.  And thank you @HaloFour, I love that syntax!

[2015-04-13 22:02] tmat opened #1952 "[Portable PDB] Implement EnC support"
Add EnC supporting functions to SymReader.Portable.

Update compiler to support Portable PDB when emitting EnC delta.

[2015-04-13 22:07] tmat opened #1953 "[Portable PDB] Attach location to TypeDefs, MethodDefs, FieldDefs, PropertyDefs, etc."

[2015-04-13 22:07] tmat opened #1954 "[Portable PDB] Update DiaSymReader to produce PortableSymReader"
And validate that FxCop and other tools can run against portable PDBs.

[2015-04-13 22:09] tmat opened #1955 "[Portable PDB] Add ordering validation to debug tables in MetadataReader"

[2015-04-13 22:12] tmat opened #1956 "[Portable PDB] The compiler should create a local scope for methods with debug information"
Currently it doesn't generate local scope for synthesized .cctors that only include static field initializers (and maybe in other cases). We need to compensate in Portable PDB writer.

[2015-04-13 22:14] JohnHamby opened #1958 "VB My. stuff and compilation events"
VB My. stuff can cause the compiler to attempt to enqueue compilation events after an event queue has been completed, if the event queue is completed while analyzing an individual document.

To repro:

1) Create a VB project containing a single document. This document must be sufficient to trigger generation of My. stuff, which may require no more than a Main method.
2) Create a Compilation with a

[2015-04-13 22:15] JohnHamby commented on #1958
Mentioning @gafter just in case assigning the issue to him was not sufficient to trigger notification.

[2015-04-13 22:46] prasannavl opened #1960 "Language Support: Anonymous Derivations"
Anonymous derivation for classes and interfaces, providing the illusion of direct instantiation of interfaces, base classes, etc.

[code]

Its is impossible to use the existing `new` operator without colliding with current semantics. But introducing another keyword has its own problems, and compatibilities issues. Instead, simply use the new keyword, but as the constraint form, `new()` except that

[2015-04-13 23:41] HaloFour commented on #1960
This would be a dupe of #13 and #1728.

[2015-04-14 00:05] gafter commented on #1933
@juanpaexpedite Where in the Roslyn APIs do you find the `MemberwiseClone` that you are referring to?

[2015-04-14 02:51] gafter commented on #1728
Closing as a dup of #13.

Noted that @dsaf would like it extended to other types as well.

[2015-04-14 02:51] #1728 closed

[2015-04-14 02:51] gafter commented on #1960
Closing as a dup of #13.

[2015-04-14 02:51] #1960 closed

[2015-04-14 02:58] gafter commented on #1933
Closing this issue as it does not appear related to the Roslyn APIs. Please let me know if that's wrong.

[2015-04-14 02:58] #1933 closed

[2015-04-14 03:01] gafter commented on #1912
@theoy Not sure why you assigned this to the Unknown milestone.

[2015-04-14 03:15] sharwell opened #1968 "Support fully-qualified references in XML documentation"
Currently editor features (especially Find All References, Quick Info, and Go To Definition), do not understand fully-qualified references in `cref` attributes. For example, the following is a valid `<see>` element, but no editor support is provided for it:

[code]

[2015-04-14 03:26] gafter commented on #1510
@srivatsn @JohnHamby @mavasani @jaredpar

Removing my self-assignment, as I won't have time for this in the 1.0 timeframe.

I suspect this is an opportunity for performance improvement in our analyzers.

[2015-04-14 07:16] apskim commented on #1938
OK, if we are opening the Pandora box of syntactic sugar now, let's not stop at the frosting level:
[code]

[2015-04-14 07:38] dsaf commented on #1938
Both options look like extending LINQ rather than integrating it. To me having two ```foreach```'s - with and without round brackets is weird. But to be fair your suggestions are quite close to what X++ is already using and it seems to be working: https://msdn.microsoft.com/en-us/library/aa558063.aspx

[2015-04-14 07:58] axel-habermaier commented on #1648
@HaloFour: Are you aware of how F# solves this problem quite elegantly?

[2015-04-14 08:08] paulomorgado commented on #1648
@axel-habermaier, I'm not. Would you care to share how?

[2015-04-14 08:17] axel-habermaier commented on #1648
@paulomorgado: Well, F# has this concept of _computation expressions_ which are roughly comparable to monads. The syntax for those expressions is user-extensible and they use it to implement _sequence expressions_ (like ``yield return`` in C#), _query expressions_ (like LINQ in C#), and _async expressions_ (like ``async``/``await`` in C#), among other things. For a full list of query operators sup

[2015-04-14 16:11] Pilchie commented on #1949
It seems like the check at http://source.roslyn.io/#Microsoft.CodeAnalysis.VisualBasic.Workspaces/CaseCorrection/VisualBasicCaseCorrectionService.Rewriter.vb,135 should prevent at least the first of these - not sure about the second.

Maybe we shouldn't be using `GetAnySymbol` for case correction, but only symbols that don't have errors?

[2015-04-14 16:20] Pilchie commented on #1945
Can you take a look and see what's triggering it.

[2015-04-14 16:22] Pilchie commented on #1944
I wonder if the save that is part of the global undo is the trigger for #1945.  Can you take a look?

[2015-04-14 16:26] Pilchie commented on #1156
I don't think formatting will ever add this sort of heuristic to try to align things sometimes but not other times.  As you both suggested, I think this would be better served by richer formatting rules (either in the box or through extensibility).  I'm going to close this bug though, as there isn't anything actionable here in the short term, and nothing specific to rename.

[2015-04-14 16:26] #1156 closed

[2015-04-14 16:30] Pilchie commented on #903
I'm fine with moving all of these to 1.1 right now, but let's keep an eye on feedback once the next build is released with the changes we've already done.

[2015-04-14 16:40] Pilchie commented on #1876
Can you verify this?

[2015-04-14 17:34] amcasey commented on #443
@rchande can you please confirm that your issue has been resolved?

[2015-04-14 17:38] amcasey commented on #786
We don't have repro steps, but the fix looks good to me.

[2015-04-14 17:39] amcasey commented on #901
@KevinH-MS back to you for verification.

[2015-04-14 17:39] amcasey commented on #1002
These have been running for a while now.

[2015-04-14 18:00] cston commented on #1264
With PR #1687, the EE now retries compilation in certain ambiguous error cases, retrying with only those assemblies directly referenced by the module containing the current frame. If retry fails, the original error is reported. This will not handle all cases of CS0433 (dropping assemblies may lead to other errors for instance) but it should handle some.

[2015-04-14 18:01] amcasey commented on #551
Works on my box.

[2015-04-14 18:05] #1830 closed

[2015-04-14 18:06] amcasey commented on #554
When I follow the repro steps, the new local is introduced *after* ```curr```, resulting in a binding error.

[2015-04-14 18:06] gafter commented on #1830
@AlekseyTs Can you "Verify" this please?

[2015-04-14 18:13] #1923 closed

[2015-04-14 18:13] AlekseyTs commented on #970
@amcasey, can you comment on the debugger issue?

[2015-04-14 18:13] #1264 closed

[2015-04-14 18:18] OmerRaviv commented on #1264
@cston @amcasey This is wonderful news! Thank you so much, you've just solved a very big pain point that was affecting many many users.

[2015-04-14 18:35] amcasey commented on #970
If the (debugger) issue is that System.Runtime hasn't been loaded yet (i.e. doesn't appear in the Modules list), then this may be fixed by c3ba4e02d59c4f62840e6812a709d5509fe57816.

[2015-04-14 18:44] tannergooding opened #1976 "Lightbulb doesn't work in the latest build of VS"
**Repro:**
 * Install Visual Studio (22814.0)
 * Create a new C# Console Application

**Expected Results:**
 * All 5 using statements should be *greyed* out
 * A lightbulb action for 'Remove Unnecessary Usings' should appear when hovering over any of the using statements
 * The reference count indicators should load for the solution (*this does not always repro*)

**Note:**
Lightbulb does not appe

[2015-04-14 18:54] KevinH-MS opened #1977 "VsLanguageDebugInfo.GetNameOfLocation should try to determine the info it needs from syntax"
@jaredpar reports seeing this dialog (blocking typing) when he opens a solution with only two normal breakpoints set:

![dbg](https://cloud.githubusercontent.com/assets/6464209/7144786/90bd9fb6-e29c-11e4-9567-0678538b58ff.png)

It seems to me that we could determine pbstrName and piLineOffset from syntax (rather than calling the DataTip API, which does more expensive semantic analysis).  In VB, we

[2015-04-14 19:08] KevinH-MS commented on #1977
Notes:
- Also need to handle global statements (script code)
- Field initializers (reports containing type as name)

[2015-04-14 19:53] amcasey commented on #1595
Seems to be based solely on the squiggle now.

[2015-04-14 20:24] tmat opened #1979 "[Scripting] Disable suport for csx compilation in csc for RTM, make scripting specific API internal"

[2015-04-14 20:28] AlekseyTs opened #1980 "Intermittent crash in VS"
System.Transactions Critical: 0 : <TraceRecord xmlns="http://schemas.microsoft.com/2004/10/E2ETraceEvent/TraceRecord" Severity="Critical"><TraceIdentifier>http://msdn.microsoft.com/TraceCodes/System/ActivityTracing/2004/07/Reliability/Exception/Unhandled</TraceIdentifier><Description>Unhandled exception</Description><AppDomain>DefaultDomain</AppDomain><Exception><ExceptionType>System.Runtime.Inter

[2015-04-14 20:37] gafter opened #1981 "Optimize an async method that ends "return await e" to be non-async "return e""
this optimization would improve the performance of an async method whose only await appears at the end. Not when producing debug code and not when nested in a try block.

@jaredpar @VSadov

[2015-04-14 20:48] jabbera opened #1983 "MethodBase.GetCurrentMethod().DeclaringType returns wrong type when used in Lambda"
The following code returns ConsoleApplication6.Program in VS 2013 and ConsoleApplication6.Program+<>c__DisplayClass0 in VS 2015 CTP

[code]

[2015-04-14 20:52] Pilchie commented on #1980
@basoundr  can you take a look at this ASAP?

[2015-04-14 21:12] tmat opened #1985 "[Portable PDB] Avoid dependencies on legacy PDB format in EE tests"
Currently the tests are disabled. Search EE tests for the bug number.

[2015-04-14 21:25] VSadov commented on #1981
This is basically the tail-call optimization for async methods.

@pharring

[2015-04-14 21:29] svick commented on #1981
Won't this change the semantics when `e` itself throws an exception (instead of returning a faulted `Task`)? Specifically, `return e` bubbles the exception up the call stack, while `return await e` puts it into the returned `Task`.

[2015-04-14 21:34] jaredpar commented on #1981
@svick yes it would change the call stack for exceptions of this nature.

[2015-04-14 22:33] tmat opened #1989 "[Portable PDB] Support TypeSpecs in MetadataDecoder.ResolveSignatureTypeHandleOrThrow"

[2015-04-14 22:34] Przemyslaw-W commented on #1617
I will happily submit a PR for this. Please point me to proper place in the code to start

[2015-04-14 22:35] tmat opened #1990 "[Portable PDB] Review and document dynamic CDI parsing/emit"
Currently DynamicTypeDecoder.TransformTypeInternal fails to decode the CDI if it is longer/shorter than what expected. Portable PDB format produces such CDIs assuming all the missing flags are "false". Change the impl to accept such CDIs.

[2015-04-14 22:39] tmat opened #1991 "EnC: make Enc analysis resilient against additions of new kinds of nodes in future versions of C# and VB"

[2015-04-14 23:15] jmarolf opened #1994 "OverrideMethodsOnComparableTypesFixer throws exception"
With the FxCop Analyzers installed create a new enum.
Invoke code fixes on enum name.

Exception:

"Unable to cast object of type 'Microsoft.CodeAnalysis.CSharp.Syntax.MethodDeclarationSyntax' to type 'Microsoft.CodeAnalysis.CSharp.Syntax.EnumMemberDeclarationSyntax'."

   at Microsoft.CodeAnalysis.CSharp.CodeGeneration.CSharpSyntaxGenerator.AsEnumMember(SyntaxNode node)
   at Microsoft.CodeAnalys

[2015-04-15 00:36] jcotton42 commented on #1976
@tannergooding Where is this build available? It does not seem to be CTP 6

[2015-04-15 01:49] gafter commented on #1983
Anonymous methods such as a lambda do not have a declaring type according to the C# language specification. The fact that there is a declaring type when viewed through reflection is an artifact of the translation process ; any value it returns is 'wrong' from a language point of view.

[2015-04-15 01:50] gafter commented on #1983
@AnthonyDGreen @DustinCampbell @ljw1004 @MadsTorgersen @gafter @srivatsn @theoy Paging the compat council to consider the proposed outcome. Please speak up if you'd like to consider this be changed.

[2015-04-15 01:52] gafter commented on #1981
@svick Given the proposed constraints, the callers will just bubble the exception up, so the end result is the same other than the fact that the call stack is different.

[2015-04-15 01:54] gafter commented on #1931
@Pilchie The symptoms in both bugs talk about intellisense, not compiler behavior. If there is an underlying compiler issue can you please write it up?

[2015-04-15 02:17] jabbera commented on #1983
I've only found a small handful of places in our code where this happens. Most of the time it's around logging, and it's fairly trivial to resolve by just moving the lambda into a method. I'd suggest a compiler warning if this change sticks. It's a very subtle change in behavior that could really screw with someone who is using it for anything more complicated then logging.

[2015-04-15 02:18] AnthonyDGreen commented on #1983
Presumably this is an artifact of the optimization we made around codegening these as instance methods on a singleton? Given that the exact declaring type of the method could change depending on whether you captured local state anyway it wasn't entirely reliable to begin with. The risk seems small enough to compared to the performance benefit that I'm willing to risk this break.

[2015-04-15 02:22] tmat commented on #1983
@jabbera When using reflection on compiler generated members all bets are off.

[2015-04-15 02:25] jabbera commented on #1983
@tmat I'm not disagreeing and in retrospect it's a totally bizarre thing to do. However it's a change in behavior since .net 2.0 as far as I can tell.

[2015-04-15 06:41] tmat commented on #1983
@jabbera Sure, it is a change. A guarantee that it will stay the same forever was never given though.

[2015-04-15 08:33] heejaechang opened #2002 "we should log non-fatal watson when extension throws an exception"
we need at least to do that for our own ones such as code fixer, code refactoring and etc.

[2015-04-15 09:34] svick commented on #1981
@gafter I don't understand. Consider the following code:

[code]

This code writes out the exception, but if I replace `ReturnAwaitE()`, with `ReturnE()`, it throws instead; so the end result is very different here.

Doesn't `ReturnAwaitE` fulfill your constraints (the method ends with `return await`, there is no other `await`, there is no `try`)? And isn't `ReturnE` how the optimized version woul

[2015-04-15 10:17] ulrichb opened #2005 "Expose ExpressionGenerator.GenerateExpression()"
This is a feature request to make [`ExpressionGenerator.GenerateExpression()`](https://github.com/dotnet/roslyn/blob/c8e8ad3682cd04b4159abdb9197b70bb06d4e82e/src/Workspaces/CSharp/Portable/CodeGeneration/ExpressionGenerator.cs#L22) public.

Our use case: We build a code transformation utility where where want to copy attribute values from an `AttributeData` instance into a syntax tree. For this we

[2015-04-15 10:55] jabbera commented on #1983
@tmat, agreed. Although since it is a change in a longstanding behavior a compiler warning, if possible, would be nice.

[2015-04-15 11:47] qrli commented on #1648
I think it is easily possible to make LINQ query operators extensible via libraries: just project extension methods to query operators. That at least solves majority simple cases. e.g.
[code]
Note the above `Take` and `ToDictionary` are plain extension methods, which compile can project them as contextual query operators, without adding new keywords.

[2015-04-15 13:27] jaredpar commented on #1981
@svick this feature would not change exception semantics in that way.  To do so would turn an optimization into a breaking change.  The implementation of this would have to take exceptions into account when generating the code.

Even in this case though the compiler can generate much more efficient code than the state machine that is generated today:

[code]

[2015-04-15 13:41] jveselka commented on #258
What if these virtual extension methods were explicitly implemented interface methods. They could still be overriden in implementations (but again only as explicit interface imlementation) and it would avoid problems @vladd pointed out.

[2015-04-15 14:15] svick commented on #1648
@qrli If you want a syntax like that, I believe you would somehow need to distinguish between `Take`, which keeps projection variables (like `person`) intact and `ToDictionary`, which destroys all projection variables, and thus effectively ending the query.

F# uses [an attribute](https://msdn.microsoft.com/en-us/library/hh289709.aspx) for that.

[2015-04-15 14:18] pharring commented on #1981
:+1: on the idea.
Note that the transform is valid even in the presence of ```.ConfigureAwait(false)```
I had thought of doing this via an analyzer.
I think, in many cases, the extra try/catch is unnecessary. If an exception is thrown from an "await"-able method (instead of returning a faulted Task), then doesn't this indicate an exception in the task handling machinery? That's the sort of excepti

[2015-04-15 14:20] svick commented on #1981
@jaredpar Yeah, that breaking change was what I was afraid of. It wasn't clear to me from the initial description that this was what the optimization would do.

[2015-04-15 14:21] jaredpar commented on #1981
@pharring if there is another `await` in the function then the existing state machine code will handle it.  If the `return await` call though is the only `await` then the compiler needs to generate the extra try / catch in many cases.  Otherwise it changes the observable behavior of the method.

[2015-04-15 14:27] pharring commented on #1981
BTW, ```Task.FromException``` is an internal method.

[2015-04-15 14:33] stephentoub commented on #1981
@pharring, it was in 4.5, it isn't anymore.

[2015-04-15 15:54] tmat commented on #1983
@jabbera Agree that a diagnostic would be useful - perhaps not in the compiler but an FxCop style warning. Static analysis can only identify some of the issues though. Perhaps the rule could be "Avoid using GetCurrentMethod" because that's generally broken API anyways.

[2015-04-15 16:11] cston opened #2010 "VB: Enum editable values are always fully-qualified"
Imports N.M
Namespace N.M
    Enum E
        A
        B
    End Enum
End Namespace
Class C
    Shared Sub Main()
        Dim o = E.A
        System.Diagnostics.Debugger.Break()
    End Sub
End Class

In the Locals Window, click on the Value of 'o':

Result: N.M.E.A
Expected: E.A

[2015-04-15 16:33] VSadov commented on #1628
Is this the right use of CSharpSemanticModel::GetSemanticSymbols ?

[2015-04-15 16:39] VSadov commented on #957
@jogibear9988 - when you say "does not work", do you mean there are compiler errors or the code has different behavior when it runs?

[2015-04-15 16:55] AdamSpeight2008 opened #2011 "Utilise NameOf"
I currently manually going through the VB code of Roslyn to find the locations where we can utilise the `NameOf' operator, rather than explicitly writing them inside of a string literal.

[Branch: NameOf](https://github.com/AdamSpeight2008/roslyn-AdamSpeight2008/tree/NameOf)

So of these utilises may/ may not have been with commits of #1879.

I you find any location that could no with updating let

[2015-04-15 17:01] tannergooding commented on #1976
@jcotton42 This is an internal build that is not currently available.

[2015-04-15 17:05] jogibear9988 commented on #957
it does not run! compiling works!
it's now fixe in SharpDevelop, I only wanted to know why the Compiler causes this issue!

[2015-04-15 17:07] jogibear9988 commented on #957
I think it could not be a change in the Library, because 4.6 is a inplace update (or am I wrong). And it works when compiled with SD wich does not use Roslyn on the same machine!

[2015-04-15 17:17] VSadov commented on #957
Could it be that the change is compensating for another change somewhere else? Is this string appended to something that is supposed to have / at the end.
It is hard to believe that the old compiler was inserting a / into a string literal, so I think the / came from somewhere else and now it is missing so this literal needs to be changed to compensate. The question is where and why a  / is missing

[2015-04-15 17:25] Vlad5Maxed opened #2013 "Interlocked.Increment on volatile field does not produce warning as in VS2013"
This code produces warning in VS2013 but not in VS2015. Not sure is this is bug.
public static class Something
    {
        private static volatile int currentValue;

        public static int GetUniqueValue()
        {
            return Interlocked.Increment(ref currentValue);
        }
}
VS2013 message:
a reference to a volatile field will not be treated as volatile

[2015-04-15 17:32] jcotton42 commented on #1976
Oh

[2015-04-15 17:58] claq2 opened #2016 "Proposal: allow anonymous types to implement interfaces"
The most immediate benefit would be for unit testing. For a simple DTO-type interface, i.e. only containing properties, I would like to type something like:

    var dto = new { FirstName = "Joey", LastName = "Shabadoo", Valid = true} : IPersonDto;
    var person = new Person(dto); // Person's cctor takes an IPersonDto
    Assert.That(person.FullName, Is.EqualTo("Joey Shabadoo");
or

    Save(dto)

[2015-04-15 18:02] svick commented on #2016
This is a duplicate of #13, only with different syntax.

[2015-04-15 18:10] mikedn commented on #2013
It looks like the warning is generated for methods other than Interlocked.X. In this case this isn't a bug, it's a fix as the warning isn't necessary in the case of Interlocked, volatile is implied by those methods.

[2015-04-15 18:23] firda-cze commented on #1426
I am glad when compiler at least warns me and am fine with errors, but there is one exception:

[code]
but not to mess with current syntax, what about
[code]
??

[2015-04-15 19:14] jogibear9988 commented on #957
The only thing I can say, compiled on the same machine with SD it's working, with VS2015 it's not!
The isusse is solved, but it would be interesting to know why the compilers work differently!
Couldn't you try it on your machine?
The Uri is used inter in the Microsoft Xaml parser, so I can not say if there is smthg. different!

[2015-04-15 19:29] #825 closed

[2015-04-15 20:09] Pilchie commented on #1980
Moving to 1.0 (stable), since we don't think enough people will hit this to keep in preview.

[2015-04-15 20:23] daveaglick opened #2020 "Applying code fixes outside Visual Studio"
I'm having a hard time tracking down how to do this, and I'm starting to wonder if it's even possible.

In finding all uses of `CodeFixProvider`, it looks isolated to the `Workspaces`, `Features`, and `Diagnostics` libraries. None of them appear to have an API for actually applying code fixes. In fact, in the `CodeFixTestBase` class I noticed that the application of a code fix appears to be perfor

[2015-04-15 20:25] Pilchie commented on #2020
You haven't missed anything, and it's definitely something that we're up for changing.  We'd love to have projects like Omnisharp-Roslyn be able to use our `CodeFix` stuff directly.

However, we probably won't have time to devote to it before VS 2015 ships.  If you'd like to take a stab at it though, we'd be happy to consult!

[2015-04-15 20:42] #1980 closed

[2015-04-15 21:13] balajikris opened #2021 ""Go To Definition" command places cursor at end of method name."
Ported from TFS WorkItem: **883644**

---

**Repro Steps:**

<BR>**Steps to reproduce:**<BR>
1. Create a new C# Console application.
2. Set the editor text of Program.cs to the following:

<BLOCKQUOTE style="MARGIN-RIGHT: 0px" dir=ltr><FONT color=#0000ff size=2><FONT color=#0000ff size=2><FONT color=#0000ff size=2>

<FONT face=Consolas>namespace</FONT></FONT></FONT></FONT><FONT size=2><FONT size=2

[2015-04-15 21:15] shyamnamboodiripad opened #2022 "Create an analyzer + fixer for missing OSS copyright comment"
We often forget to add the OSS copyright comments when creating new files. Based on recent code reviews this seems like a common problem. We have also had cases where the problem slipped past code reviewers unnoticed until someone happened to notice and fix up the issue a few weeks later.

Adding an analyzer + fixer for this would be nice. The analyzer would also be very cheap (purely syntax based

[2015-04-15 21:16] balajikris opened #2023 "IDE quick info tooltip missing xml doc comment if the doc includes "&""
Ported from TFS WorkItem: **547298**

---

**Repro Steps:**
1. paste the following code into VS<div><br></div><div><div>class C</div><div>{</div><div>&nbsp; &nbsp; static void Foo()</div><div>&nbsp; &nbsp; {</div><div>&nbsp; &nbsp; &nbsp; &nbsp; CompileAndInvoke();</div><div>&nbsp; &nbsp; }</div><div>&nbsp; &nbsp; /// &lt;summary&gt;</div><div>&nbsp; &nbsp; /// Compile &amp; Invoke</div><div>&nbsp

[2015-04-15 21:19] balajikris opened #2025 "'as' and 'is' should not be recommended after typing a decimal in a number."
Ported from TFS WorkItem: **531128**

---

**Repro Steps:**

REPRO:

1.&nbsp; Paste the following C# code:

class C<BR>{<BR>&nbsp;&nbsp;&nbsp; void M()<BR>&nbsp;&nbsp;&nbsp; {<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; var x = 1$$2;<BR>&nbsp;&nbsp;&nbsp; }<BR>}

2.&nbsp; At the '$$' type a period.

&nbsp;

RESULT:

The completion list is shown with 'as' and 'is' present.

&nbsp;

EXPECTED:

No

[2015-04-15 21:20] balajikris opened #2026 "Extract local declares local AFTER one of the uses"
Ported from TFS WorkItem: **1120451**

------------------------------

**Repro Steps:**

<OL>
<LI>Ctrl-. <FONT style="BACKGROUND-COLOR: #ffff00">here</FONT></LI>
<LI>Extract all occurrences into a local</LI></OL>

[code]

Expected: new local is first line in method

Actual new local is declared AFTER curr, which consumes it

------------------------------

**Revisions:**

1) Created By Andrew Case

[2015-04-15 21:24] balajikris opened #2027 "Extract local misses occurrence with implicit receiver"
Ported from TFS WorkItem: **996944**

---

**Repro Steps:**

Extract all occurrences of `**P**`.

[code]

Expected: Both `**this.P**` and `**P**` are extracted.

Actual: Only `**this.P**` is extracted.

---

**Revisions:**

1) Created By Andrew Casey (ROSLYN) (7/30/2014 10:15:20 AM)

---

2) Edited By Kevin Pilch-Bisson (2/15/2015 9:05:32 PM)

Yes, we should do this eventually.&nbsp; Put on GitHub

[2015-04-15 21:29] bondsbw commented on #1938
Actually @dsaf, I'd say that @apskim's approach is merely your original proposal, coupled with two syntax changes.

The first change is to remove the ```select item``` portion.  I feel this is necessary anyway, because the name ```item``` is already in scope from the ```from``` clause and the ```select``` portion does nothing.

The second change removes the parentheses.  This could be a change to

[2015-04-15 21:32] bondsbw commented on #1938
Actually I missed that the ```from``` is removed in the shortened syntax.  For that matter... why do we need the ```var``` in the ```foreach``` clause?  That could be implicit.

[code]

[2015-04-15 21:33] apskim commented on #1938
Just to clarify: my proposal was mostly sarcastic :)
I personally think that such syntactic sugar for the sake of sugaring merely complicates the language and breaks the consistent interplay of various language constructs.

[2015-04-15 21:40] mavasani opened #2028 "Suppression added to Roslyn.sln wide ruleset not respected"
1. Edit the Roslyn.sln wide `\src\Tools\Microsoft.CodeAnalysis.Toolset.Open\Rulesets\Roslyn.ruleset`  file to add suppressions for all Roslyn analyzer diagnostics:

[code]

2. Build Roslyn.sln

Expected: All Roslyn analyzers are suppressed for all projects
Actual: RS0013 isn't suppressed and the analyzer executes.

This happens because this diagnostic is disabled by default and enabled only for co

[2015-04-15 21:47] wschae commented on #1850
We don't analyze doc with broken trees. I.e., we return when there is any syntax errors before EnC analysis. Therefore, I don't think we need any TryCast.

@tmat What do you think?

[2015-04-15 21:47] #1702 closed

[2015-04-15 21:47] shyamnamboodiripad opened #2029 "Add unit test to ensure that VSDiagnosticAnalyzerProviderService returns paths with $RootFolder$ strings expanded"
We recently ran into an issue fixed by PR #2001 that caused the VS build to be broken (no diagnostics, squiggles and light bulb).

We should add a unit test to ensure this particular issue never surfaces again.

[2015-04-15 21:53] AlekseyTs commented on #1845
@VSadov, please verify.

[2015-04-15 21:53] #1845 closed

[2015-04-15 21:55] AlekseyTs commented on #1702
@jaredpar, please verify.

[2015-04-15 21:56] gafter opened #2032 "Add ExpressionBody to BaseMethodDeclarationSyntax."
I recommend changing the syntax tree API by adding `ExpressionBody` to `BaseMethodDeclarationSyntax`. It looks like an oversight that it wasn't that way to start with.

@AlekseyTs @AnthonyDGreen

[2015-04-15 21:58] gafter commented on #2032
Recommend Milestone 1.0 (stable).

[2015-04-15 21:59] bondsbw commented on #1938
I don't think it's just for "the sake of sugaring".  I feel there are clear advantage to reducing:

[code]
to
[code]

Besides it obviously reducing the amount of code, it reduces the number of variables by removing ```t``` and ```filteredCollection```.

Also imagine if it were more complicated (example based on [MSDN LINQ samples](https://msdn.microsoft.com/en-us/library/gg509064.aspx)):

[code]
c

[2015-04-15 21:59] #1704 closed

[2015-04-15 22:01] AnthonyDGreen commented on #2032
Does it apply equally well to all derivatives? Constructors?

Regards,

-ADG

Sent from my Windows Phone
________________________________
From: Neal Gafter<mailto:notifications@github.com>
Sent: ‎4/‎15/‎2015 14:57
To: dotnet/roslyn<mailto:roslyn@noreply.github.com>
Cc: Anthony D. Green<mailto:adgreen@microsoft.com>
Subject: [roslyn] Add ExpressionBody to BaseMethodDeclarationSyntax. (#2032)

I rec

[2015-04-15 22:01] tmat commented on #1850
Correct. We bail is there are semantic errors.

[2015-04-15 22:04] AnthonyDGreen commented on #1983
Well, I know GetCurrentMethod results can be corrupted by JIT I lining. The x64 JIT as I recall was notorious for aggressively inlining things. We actually found places where code access security boundaries would be optimized away like this so no it's not reliable. That said, it is a change worth documenting and we can certainly create some kind of upgrade advisor diagnostic pack to help here.

Re

[2015-04-15 22:04] AlekseyTs commented on #2032
It is not applicable to constrcutors/destructors for example.

[2015-04-15 22:06] wschae commented on #1850
@brettfo Thanks for pointing out this issue. We don't think we need any change here at this point, though.

[2015-04-15 22:06] #1850 closed

[2015-04-15 22:12] gafter commented on #1942
LGTM

[2015-04-15 22:17] AlekseyTs commented on #1628
Compiler behaves as expected, ConditionalAccessExpresison is never associated with a symbol. It is not equivalent to MemberAccessExpression. MemberBindingExpression under ConditionalAccessExpresison could be considered equivalent to MemberAccessExpression and SemanticModel should return a symbol for it.

[2015-04-15 22:23] jmarolf opened #2033 "StaticTypeRulesDiagnosticAnalyzer implements CA1053 incorrectly"
[CA1053](https://msdn.microsoft.com/en-us/library/ms182169.aspx) should trigger if there are _any_ public constructors on a type that only has static member.

So the following code should trigger CA1053 because the compiler generates a public constructor:
[code]

CA1053 should also trigger here:
[code]

Neither of these scenarios produce an error.  The only case in which [StaticTypeRulesDiagnostic

[2015-04-15 22:26] shyamnamboodiripad commented on #1976
This turned out to be a problem with the diagnostic service (VSDiagnosticAnalyzerProviderService) and the problem was introduced in 2ad819727e4db82c04dd584661776d84f1ac4b82.

The diagnostic service was failing to resolve analyzer dlls present in VSIXes when the paths of these analyzer dlls as specified in the vsixmanifest required expansion of $RootFolder$ strings. Because these analyzers (includi

[2015-04-15 22:27] #1813 closed

[2015-04-15 22:28] shyamnamboodiripad commented on #1976
@tannergooding Please validate and reactivate if you notice that this is not fixed in tomorrow's build. Thanks!

[2015-04-15 22:28] #1976 closed

[2015-04-15 22:28] tannergooding commented on #1976
@shyamnamboodiripad Will do. Thanks!

[2015-04-15 22:37] daveaglick commented on #2020
Thanks for the quick feedback. In that case, I would like to take a look at this, though it may be a little while before I get a chance to do so in much detail. As a first step, I'll look at specifying an API so it can be discussed and iterated here before coding anything.

I have some usage examples from the `CodeFixTestBase` class mentioned above as well as in the internal `CodeFixService` class

[2015-04-15 22:50] Vlad5Maxed commented on #2013
Do you mean that for Interlocked it is no longer generates this warning but for other methods it still generates warning? Sorry I don't have access to VS2015 to check.

[2015-04-15 23:12] kentcb commented on #1766
Any chance this could get into RC2?

[2015-04-15 23:31] nosami commented on #2020
Right now, we are using some CodeFixProviders from NRefactory6.

The [code](https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp/Api/Refactoring/OmnisharpController.CodeActions.cs) we are using is probably pretty naive but is working fine for the small number of fixes that we have available to us.

I think we just need 1 API method :-

[code]

[2015-04-15 23:35] heejaechang opened #2037 "clean up CodeGen Service"
we have 2 different CodeGen services, a new one and old one. we need to start clean up and make all of our features to rely on the new CodeGen service.

also, while doing that, we need to rationalize what we will do when code generation is failed such as no good place to inject code and etc.

[2015-04-15 23:42] heejaechang opened #2038 "Rationalize how we deal with failed feature action."
currently, when codeAction is failed, we show info bar. but that is only for code action, all other features, on failed feature action, they do their own random behavior. one either propagate exception to host, and host (ex. VS) shows modal dialog box to users, or we crash VS, or we just silently ignore the failure.

we should make behaviors consistent around IErrorReportingService (http://source.

[2015-04-15 23:42] jmarolf commented on #1994
Quick note:  this exception, when thrown in a build without the infobar fix will bring down visual studio.

[2015-04-15 23:54] gafter commented on #2032
There are a couple of

[2015-04-15 23:58] gafter commented on #1983
Reopening and assigning to @AnthonyDGreen to be added to the compiler specs.

[2015-04-16 00:00] #1618 closed

[2015-04-16 00:04] gafter opened #2039 "Consolidate tests for #1702"
In code review https://github.com/dotnet/roslyn/pull/1992#discussion_r28466288 it was recommended that the tests be consolidated for performance reasons. This issue tracks that work.

[2015-04-16 00:28] shyamnamboodiripad opened #2040 "Rename does not work correctly withing crefs"
1. Repro code:
[code]
2. Try to rename ```U``` inside the ```cref``` above (try from any of the three locations)

Expected: Should work
Actual: Doesn't work
If I invoke rename on the first instance of ```U``` I don't see the green highlights around the other two references
![capture](https://cloud.githubusercontent.com/assets/10579684/7171931/37d3166c-e394-11e4-95ba-7b81ce2b18e5.PNG)

If I invoke

[2015-04-16 00:33] shyamnamboodiripad commented on #2040
FWIW, same bug also exists in VB.

[2015-04-16 00:56] shyamnamboodiripad opened #2041 "Missing simplification for is and as"
[code]
Is there a reason we don't mark is and as expressions as unnecessary in cases such as above? We correctly detect that the above cast to ```string``` is not required for ```w```. However, we don't grey out ```y as string``` or ```y is string``` as unnecessary (even though ```y``` is already ```string```).

We seem to offer simplification for the corresponding VB features (DirectCast, TryCast

[2015-04-16 01:00] paulomorgado commented on #1426
@firda-cze, that syntax makes more sense than the one in the spec. The one in the speck feels like it's missing a `goto`.

But, is it really worth the change?

[2015-04-16 01:26] srivatsn commented on #2022
@dpoeschl - weren't you working on this?

[2015-04-16 02:11] Pilchie commented on #2020
Tagging some other people who might be interested: @mattwar @heejaechang @mavasani @srivatsn @shyamnamboodiripad

[2015-04-16 02:47] HaloFour commented on #1426
If pattern matching adopts the standard `switch` syntax it would likely be possible to write a generic helper class to evaluate multiple cases using a similar syntax, something like:

[code]

[2015-04-16 02:50] sharwell commented on #2041
Note that `is` is more complicated because it treats `null` in a different way.

[2015-04-16 02:54] sharwell commented on #2023
Hovering over `CompileAndInvoke` should show the following:

The XML error will be reported separately at the location where it actually occurs. There is no need to remove useful information from Quick Info for all the references over this.

[2015-04-16 03:59] stephentoub commented on #1981
ps Note, though, that the try/catch will also need to specialize catching an OperationCanceledException and returning a canceled task for that case, as that's what the async machinery does today.

[2015-04-16 04:00] stephentoub commented on #1981
pps And for it to actually remain semantically equivalent, it'd have to appropriately handle ExecutionContext.  In particular, inside of an async method, changes made to ExecutionContext (e.g. putting something into the logical call context) will not be visible to the caller of the async method upon the return of the synchronous invocation.

[2015-04-16 04:02] Pilchie commented on #2023
It's not that we deliberately try to remove info, it's just that we parse the xml, and if there is a parse error, we don't get a summary tag to get the contents of.

[2015-04-16 04:24] qrli commented on #1648
@svick I'm thinking in a simpler way. The `person` variable is just a syntax sugar to simplify lambdas, so that it only needs to be defined once. So it does not need to be really kept through out the query. Just use it as a clue to identify lambda inputs, so that query will be naively transformed to:
[code]
And then some optimization to remove the Select().
Of course, if `let` or `join` is used, t

[2015-04-16 05:14] tmat opened #2043 "EE: replace @0x syntax with $ObjectAt"

[2015-04-16 05:16] sharwell commented on #2023
I know that. :smile:  I just wanted to clarify the intended (optimal) outcome since it's labeled Up for Grabs.

[2015-04-16 05:34] shyamnamboodiripad commented on #476
Updated repro code that accounts for Roslyn API changes since this issue was logged:

[code]

[2015-04-16 05:48] mikedn commented on #2013
Yes, for other methods the warning is still generated. Interlocked was special cased:

https://github.com/dotnet/roslyn/blob/master/src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_Warnings.cs#L39

[2015-04-16 06:09] heejaechang commented on #2020
how do you intent to use it? if you are using it with Workspace and MEF, then, anything in feature layer should/most likely just work as long as it is somehow exposed to public. only thing needed will be cleaning up APIs.

...

if you intent to use it without MEF, then we probably need to do some work to move services to be based on feature pack rather than MEF directly (even if feature pack inter

[2015-04-16 06:19] heejaechang commented on #2020
if we want to follow existing pattern of SymbolFinder, Formatter, Renamer and etc then, we probably need to move to FeaturePack and let it accepts CodeFixProviders.

and make that CodeFixer to return Solution rather than CodeActions so that caller doesn't need to deal with CodeActionOperations.

[2015-04-16 08:16] yufeih opened #2044 "Proposal: Project level using statements"
**Problem**

All C# code starts with a list of `using` statements. For a large project, it is not uncommon for each file to contain more than 20 lines of using statement at the top. When moving code around, a lot of time is wasted managing namespaces.

IDE can help import and remove unused namespaces, but the problem itself does go away.

I propose to have a project level using statements, because

[2015-04-16 08:41] mattwarren commented on #637
I'd be interested in having this functionality as well, can anyone from Microsoft comment on whether or not it is being considered?

I'm currently working on a [benchmarking project](https://github.com/minibench/minibench.warren) where I have to use Post-Build steps to re-compile a project (using Roslyn) after VS has already compiled it. It would be much nicer if I could hook into the VS/Roslyn co

[2015-04-16 09:08] prasannavl opened #2045 "Proposal: Better P/Invoke, and unsafe compiler semantics"
P/Invoke is used everywhere these days, and any application that requires extensive customization or high-performance just has not much choice but to use them. Not using P/Invoke is no excuse in today's application's for system libraries in many aspects, when performance is critical, instead of hurdling through many managed abstractions (Provided you know what you're really doing), or for system l

[2015-04-16 09:34] horse315 opened #2046 "Passing dynamic type in constructor makes compiller skip Object initializer"
Example:

[code]

[2015-04-16 09:40] horse315 commented on #2046
csc2 compiller, .net 4.6 VS 2015

[2015-04-16 10:03] leppie commented on #2046
Does not happen when calling it like:

      var cc = new Cc(1, new object())
      {
          C = Guid.NewGuid()
      };

Seems the cast to `dynamic` is causing the issue.

[2015-04-16 10:35] mikedn commented on #2045
Actually the main reason why those classes aren't exposed is that they're implementation details. As such they can change at any time. This is exactly what happened in the case of .NET Core and .NET Native, those classes have been moved around quite a bit.

The safety bit isn't that important as untrusted code anyway needs a permission for PInvoke.

How does you suggestion solves this? If we're ta

[2015-04-16 10:42] horse315 commented on #2046
@leppie, yes, it is.
in IL code csc2.exe compiller does not insert this piece:

    ldloc.1
    call       valuetype [mscorlib]System.Guid [mscorlib]System.Guid::NewGuid()
    callvirt   instance void Fw4._5TestApp.Cc::set_C(valuetype [mscorlib]System.Guid)

And csc.exe works fine.

[2015-04-16 11:14] aluanhaddad commented on #1938
I don't think this adds much.
Also the code:
[code]
could already be shortened to:
[code]
Other proposals for expanding LINQ syntax, such as the one proposing the ability to specify an IEqualityComparer inline (#100) add real value.

[2015-04-16 12:03] SolalPirelli commented on #2044
This means that to understand the meaning of any C# file, you'd need to take a look at the project file, or even at every file in the project with the `global` variant.

One specific problem I see with this, especially the `global` variant, is overload resolution of extension methods (as well as static methods with C# 6's `using static`). Adding one namespace to the list of globally imported names

[2015-04-16 13:42] TwoRedCells commented on #156
Thank you for your consideration and introduction to Analyzers and some other excellent dev tools.

[2015-04-16 13:47] mavasani opened #2048 "Unit test failure on new compiler toolset"
Microsoft.CodeAnalysis.Editor.VisualBasic.UnitTests.Completion.CompletionProviders.CommitGenericOnParen fails after updating the toolset to Microsoft.Net.ToolsetCompilers.1.0.0-rc2-20150415-05.nupkg.

I verified that the test passes with exact same enlistment but on prior toolset (1.0.0-rc2-20150413-02)

See: http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_windows_prtest/1892/testReport/Microsoft.

[2015-04-16 14:13] mavasani commented on #2048
Microsoft.CodeAnalysis.Editor.VisualBasic.UnitTests.Completion.CompletionProviders.SymbolCompletionProviderTests.CommitGenericOnParen : System.InvalidOperationException : Sequence contains no matching element
Stack Trace:
   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source, Func`2 predicate)
   at Microsoft.CodeAnalysis.Editor.UnitTests.Completion.AbstractCompletionProviderTests`1.Ver

[2015-04-16 14:17] bondsbw commented on #1938
@aluanhaddad

Keeping range variables in scope is, in my mind, a natural part of the proposal.  I don't really see the confusion, since range variables are similarly in scope for any ```select``` including the ```select (Action)...``` workaround you mentioned.

[2015-04-16 14:24] paulomorgado commented on #2044
@yufeih, are you aware that you can declare using directives at the top of the compilation unit (usually a code file) and at the top of the namespace declaration body?

What you are looking for already exists and it's called __Visual Basic__

[2015-04-16 14:33] mavasani commented on #2048
#2047 that updates the toolset.

[2015-04-16 14:41] HaloFour commented on #1938
The problem with expressing the `foreach` clause at the beginning of the query is that the range variables can go in and out of scope.  For example:

[code]

Also:

[code]

This is why I would prefer that terminating clauses like `foreach` occur at the end of the query.

[2015-04-16 14:52] mavasani commented on #2048
Could this be due to: https://github.com/dotnet/roslyn/commit/117d8bbb86c3c9b7877fe11b2ea50aea3c53389f

[2015-04-16 15:05] yufeih commented on #2044
@SolalPirelli  You already need the knowledge of assembly references in the project file to understand and resolve the type names, so this is probably not something new.

The global using should be a fallback when the namespace is not found in the cs file. In your example, because `Program.cs` has an explicit `using Extensions1` statement, `Extension1` is still picked for the extensions method.