[2015-04-25 00:43] HaloFour commented on #2239
@mburbea  Conceptually it's the same thing but I'm basing my syntax loosely on C++11s implementation, although I'm moving the double-quotes as it looks so bizarre having parts of the delimiter appear within them.

The problem with adopting PowerShell's syntax would probably be that the starting syntax is ambiguous with existing verbatim strings and that the compiler would have to scan until it hit

[2015-04-25 01:09] amcasey commented on #2188
There's a mismatch between the EC and the RP.  In the EC the declared type is the type parameter.  In the RP, the declared type is the type argument.  Since the RP doesn't know about the type parameter, it doesn't insert the cast that the EC requires.

[2015-04-25 01:12] amcasey commented on #2188
If you manually add the a watch to the full name without the cast, the legacy EE also rejects it.  Curiously though, it requires only a single cast, whereas Roslyn requires an intermediate cast to object (per the regular C# rules).  Maybe the legacy EE binder is more generous than the regular legacy binder.

[2015-04-25 01:14] amcasey commented on #2188
My feeling is that the EC behavior is by design and the problem lies with the RP - specifically the full name.  However, as things stand, I'm not sure the RP has enough information to insert the required casts.

[2015-04-25 02:23] ufcpp commented on #2239
I'd like PowerShell-like here-strings rather than C#'s verbatim strings too.

[2015-04-25 05:55] KevinH-MS commented on #2240
Simplified repro:
[code]

Attempt to eval "utilization"

**RESULTS**
error CS0103: The name 'utilization' does not exist in the current context

[2015-04-25 06:05] srivatsn opened #2257 "CA1821CodeFixProvider should remove finalizer blocks not their MethodStatementSyntax nodes"
Ported from TFS WorkItem: <b>945285</b>

------------------------------

<p><b>Repro Steps:</b></p>
<P><B>Affected Branch:</B> $/Roslyn/Main<BR><B>Affected Product Language:</B> VB<BR></P>
<P>The syntax node remover fails because CA1821CodeFixProvider just tries to remove "nodeToFix", the node that it thinks the diagnostic was associated with in both VB and C#.&nbsp; There needs to be specific log

[2015-04-25 08:49] radekm commented on #261
It would be nice if the reading from async sequence had constant stack usage and simple associative operations like concatenation had decent performance no matter whether left- or right-associated. Eg. reading from `IEnumerable`s constructed by following functions

[code]

causes `StackOverflowException` for sufficiently large `i` and both `IEnumerable`s have quadratic complexity.

[2015-04-25 10:38] vladd commented on #261
@radekm For your kind of usage (sequence is materialized, size is known in advance) you can already use `List<int>`.

        static IEnumerable<int> LeftAssocEnum(int i)
        {
            var acc = new List<int>(i);
            while (i > 0)
            {
                acc.Add(i);
                i--;
            }
            return acc;
        }

Does your request mean that all possible

[2015-04-25 11:07] Eirenarch commented on #2238
Please no. Especially 3. I will have to ban it in my projects and I prefer that it just doesn't compile.

[2015-04-25 11:28] HaloFour commented on #2204
There was a wider discussion along these lines on CodePlex about expanding the generic type constraints to support requiring that the generic type argument support specified methods.  Of the primary goals was to support constraints based on overloaded operators which are just static methods.

Either way you're looking at CLR changes as interfaces can't express required static fields (who owns the

[2015-04-25 14:04] radekm commented on #261
@vladd It was only a simple example, you can take for instance `Fib()`

[code]

which has the same problems. What I want is to compose complex asynchronous sequences from very simple and reusable parts. To do this the operators like concatenation must be efficient. Since I don't know how to do this in C# I'll give a few examples in Scala with scalaz-stream.

1) Recursion can be used to define stre

[2015-04-25 15:09] gafter opened #2261 "VB newly accepts some characters as letters, but does not properly case-fold them"
VB native compiler did not consider 'ϴ' (Unicode 0+03f4) to be a letter. The Roslyn compiler now accepts it as a letter, thereby complying with the Unicode spec, but does not case-fold it to the letter 'θ' (Unicode U+03B8), thereby not complying with the Unicode spec.

There are about a dozen other letters in this same state.

If we're going to accept it as a letter, we should case fold properly t

[2015-04-25 15:14] gafter commented on #2261
Here is a test case demonstrating the breaking change:

[code]

[2015-04-25 15:19] AdamSpeight2008 commented on #2261
@gafter Where in the Roslyn source? Is it determined what is or isn't a letter?

[2015-04-25 15:55] gafter commented on #2261
See https://github.com/dotnet/roslyn/blob/8b65942b9d4921b21e1356a54530c366b4d6b170/src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb#L984

[2015-04-25 16:18] gafter opened #2262 "VB spec corrections in definition of identifier"
The VB spec says

An *identifier* is a name. Visual Basic identifiers conform to the **Unicode Standard Annex 15** with one exception: identifiers may begin with an underscore (connector) character. If an identifier begins with an underscore, it must contain at least one other valid identifier character to disambiguate it from a line continuation.

However, that is the wrong Annex. That should be

[2015-04-25 16:19] gafter commented on #2262
/cc @AnthonyDGreen

[2015-04-25 16:37] gafter commented on #2261
The ideal solution to case-folding for VB would be to fully follow the spec, and use the data in ftp://ftp.unicode.org/Public/UNIDATA/CaseFolding.txt .

[2015-04-25 17:47] GrabYourPitchforks commented on #114
I concur with @kbirger on this. The intent of a Dispose method is to release a resource opportunistically, and resource teardown should almost always be synchronous / short-running. Allowing async disposal seems to encourage the "perform some mandatory non-resource-teardown action at this deterministic time" pattern. In async methods in particular this pattern could lead to a pit of failure becaus

[2015-04-25 17:49] AdamSpeight2008 commented on #2261
I submitted a pull request #1463 that merged `TryScanToken` and `ScanTokenFullWidth` internals into `ScanTokenCommon`

[2015-04-25 18:16] jakeswenson commented on #206
Steal somethings from F# records would be nice. With records it seems it should be doable to have an object literal:

[code]

and the ability to create records by copying from existing records is quite nice.

[code]

Any thoughts on this?

[2015-04-25 18:41] AdamSpeight2008 opened #2264 "Body of each condition in IF is the same."
I'm still in the process of manually going through the vb.net aspects of the project looking for place to utilise `NameOf` and `$" { } "`

When I ran across this conditional .

[code]
[Here](https://github.com/dotnet/roslyn/blob/master/src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/GreenNodes/GreenNodeWriter.vb#L482)

Looks like a copy and paste error.

**Possible Resolu

[2015-04-25 20:18] aluanhaddad commented on #2114
@eamodio

To your first point: Yes, there are indeed more cases than just try - catch - finally, an expression form of pattern matching would solve most of these issues (see below).

To your second point:
```var``` does not need to use flow analysis as it currently stands. It simply infers the type of the variable as the type of whatever expression is on the right hand of the ```=```. I agree it h

[2015-04-25 20:31] biqas commented on #2235
@bartkoelman

"in that case, users will not profit from such an analyzer"

[code]

If you analyse the data-flow of the parameter name and make a bottom-up analyse of method invocation you can detect it with the Roslyn analyzer.

[2015-04-25 20:50] Pilchie commented on #1376
I want to think about this more, but it isn't something that is going to happen for 1.0 at this point.

[2015-04-25 20:51] Pilchie commented on #572
All you people who have weighed in on this - what do you think should happen to the `Microsoft.CodeAnalysis` metapackage?  Should it depend on the C# and VB packages for `Features`, or stay as it is?

Tag @agocke.

[2015-04-25 20:58] Pilchie commented on #2231
@basoundr - can you close with the commit where this was fixed?

[2015-04-25 21:04] balajikris commented on #937
This is dupe of #751, fixed in #1149

[2015-04-25 21:04] #937 closed

[2015-04-25 21:04] balajikris commented on #937
@jeremymeng Please verify.

[2015-04-25 21:11] AdamSpeight2008 commented on #1376
@Pilchie The pragma is a `would be nice`. I think that effect was fix with #2168

[2015-04-25 21:15] Pilchie commented on #1376
Well, in C# we have similar things.  For example, we currently don't actually pretty-list the contents of array and collection initializers, in case people have made tables out of them, but that's annoying for the *majority* of cases where people haven't.

[2015-04-25 21:15] Pilchie commented on #1376
Tagging @basoundr  and @heejaechang too.

[2015-04-25 21:27] ljw1004 commented on #114
@GrabYourPitchforks, I disagree. Think of a network connection with a server. It's reasonable that "disposing" of the connection would involve sending a message to the server to let it release its resources gracefully, and awaiting until the server has either acknowledged receipt of that notification, or torn down its resources.

[2015-04-25 21:37] kbirger commented on #114
@ljw1004, in your example, it sounds like there's also a chance that the graceful bit won't happen, which means there could be an exception. This would be highly undesirable behavior. And again... if it's a potentially long-running task, it doesn't belong in a dispose method. If you must put it in a dispose method, then it should be fire-and-forget, which is to say Task.Run().

[2015-04-25 22:21] AdamSpeight2008 opened #2267 "Possible ArgHole missing."
[Source:](: https://github.com/dotnet/roslyn/blob/master/src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/GreenNodes/GreenNodeWriter.vb#L608)

[code]

**Possible Resolutions**
I think that the intent of the argument is eithet one to following two possibilities.

1)
[code]
2)
[code]

[2015-04-25 23:11] cdauphinee commented on #159
I'm just curious, is there a reason you're proposing immutable classes, rather than a more general solution to C#'s entire category of problems involving immutability? For example, something akin to the C++ const qualifier.

[2015-04-26 00:34] daveaglick opened #2268 "Enums as default method parameters not qualified in ToDisplayString()"
If you have an `IMethodSymbol` with an optional enum parameter that has a default value and you call `ToDisplayString()` with an appropriate `SymbolDisplayFormat`, the output string does not fully-qualify the enum value with the enum type name. Perhaps this is by design, but it's a bit of a gotcha given that the rest of the method signature gets output in such a way that you could just copy and pa

[2015-04-26 00:56] daveaglick commented on #2268
Never mind, my mistake.

After digging into the code and following it to `SymbolDisplayVisitor.VisitField()` I discovered that `SymbolDisplayMemberOptions.IncludeContainingType` is what I need. After adding that to my `SymbolDisplayFormat` it works exactly as expected.

FWIW, I love the ability to "decompile" symbols back to strings!

[2015-04-26 00:56] #2268 closed

[2015-04-26 01:08] AdamSpeight2008 opened #2269 "git-bisect on Roslyn"
How do I do a git-bisect on roslyn?
I would to be able to see which change I made *on my branch* is causing it not to pass. Preferably auto-magically building, then testing.

[2015-04-26 01:10] pdelvo commented on #2269
The [git docs](http://git-scm.com/docs/git-bisect) are usually a good place to get started.

[2015-04-26 01:13] ljw1004 opened #2270 "Lightbulb for BC30002 doesn't offer to "fix all""
I have a WinForms app that with code

[code]

I upgrade to .NET4.6, where that code becomes illegal, since it requires a full qualification to `System.Windows.Forms.BindingMemberInfo`. Fortunately, a lightbulb appears, offering the suggestion to use the full qualification.

WHAT I EXPECT: it should offer to make the fix (fully qualify) in all occurrences in the project.

WHAT I GET: it only offers

[2015-04-26 01:31] ljw1004 commented on #2231
Just to confirm what I'm expecting:

* In C# currently, when you write
```var x = @"```
and hit enter, then the IDE provides no indent.

* In C# currently, when you write `var x = $@"` and hit enter, you once again get no indent.

* In VB currently, when you write `Dim x = "` and hit enter, you once again get no indent.

* In VB currently, when you write `Dim x = $"` and hit enter, **then you do g

[2015-04-26 01:35] ljw1004 opened #2271 "Warning CS0219 isn't given for interpolated strings"
In this code
[code]
then I get a warning CS0219 "The variable 'x' is assigned but its value is never used". However I don't get the warning on 'y'. I guess that's technically related to the fact that string interpolation is shorthand for a function-call to String.Format. But it rubs me the wrong way. Glancing at this code, I really think it should give me the warning on 'y'.

![unused](https://clo

[2015-04-26 01:36] AdamSpeight2008 commented on #2269
It is the scripting part, to automate it.

[2015-04-26 02:09] daveaglick opened #2272 "Script throws unexpected error when using optional enum method parameter with default value"
To reproduce:
[code]

Result:
[code]

Suspect it has to do with this line in `ReflectionEmitter.cs`:
[code]

which should probably be:
[code]

PR is incoming...

[2015-04-26 02:15] SLaks commented on #1407
I don't get any errors form `Initialize()` on 14.0.22609.0.
However, you're right; that shouldn't affect composition at all.

I mean any method on `ExportProvider`; since I'm inspecting `this`, it doesn't matter which.
I just repro'd on the top frame, `Microsoft.VisualStudio.Composition.ExportProvider.GetExports(Microsoft.VisualStudio.Composition.ImportDefinition importDefinition)`.  It happens fo

[2015-04-26 02:42] ljw1004 commented on #114
Just putting it out there -- even WCF Client (which you get from AddServiceReference) has "CloseAsync".

[2015-04-26 03:10] Pilchie commented on #2231
Oh, you're right @ljw1004.  We should fix that last case to not indent.

[2015-04-26 03:15] sharwell commented on #114
Not even `FileStream.Dispose()` meets the requirement of a short running operation that won't take an indeterminate amount of time.

[2015-04-26 04:40] pharring commented on #2267
@AlekseyTs @gafter [it does look like a slip](http://source.roslyn.io/#VBSyntaxGenerator/GreenNodes/GreenNodeWriter.vb,608), but not a functional bug. VB's casing rules allow "kind" to bind successfully to [VisualBasicSyntaxNode.Kind](http://source.roslyn.io/Microsoft.CodeAnalysis.VisualBasic/Syntax/InternalSyntax/SyntaxNode.vb.html#a107f2aeab2d86fd)

I suspect the fix is to replace the line with

[2015-04-26 08:20] gafter commented on #2271
This appears to be a dup of #1484

[2015-04-26 08:20] #2271 closed

[2015-04-26 08:23] gafter commented on #2264
https://github.com/dotnet/roslyn/blob/15dcad3dd2966040c7a0bfb503d27df4ac4183e0/src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/GreenNodes/GreenNodeWriter.vb#L482-L486

[2015-04-26 08:31] gafter commented on #206
@jakeswenson  I don't see how to get positional notation, which C# tends to prefer.

[2015-04-26 08:32] gafter commented on #2261
@AdamSpeight2008 I don't know what that has to do with this issue.

[2015-04-26 10:03] vladd commented on #159
@cdauphinee С++'s `const` qualifier is indeed rather weak. It sort of guarantees read-only _view_ on object (if anyone agrees not to use `const_cast`), but doesn't guarantee immutability (anyone may have a mutable view as well, and may pull the rug from under your feet and change the object while you think it's still the same).

[2015-04-26 11:35] acelent commented on #2234
@HaloFour, you're right that iterators don't have to support parallel execution, and async continuations don't run in parallel.  But the issue is about stale data.

That said, an iterator can move in different threads, in one thread at a time, and async continuations can run in different threads (e.g. thread pool), so in any case you risk having stale data being read.

One case where this is impor

[2015-04-26 11:44] acelent commented on #2234
@VSadov, by that line of thought, the `volatile` keyword isn't needed even for fields.

Note that I mention that capturing variables into fields is an implementation detail.  It could also use an array, or some other internal mechanism, but `volatile` would still be useful no matter how it would be implemented.

Having supposed an implementation was just a way to transmit the line of though, the r

[2015-04-26 12:27] svick commented on #2234
@acelent

I have a hard time imagining how you would do this without using fields or lambdas in a way that's not convoluted. Could you give an example?

[2015-04-26 13:23] diab0l commented on #2204
Well, you *can* work around that problem and punch static virtual types into the current CLR design.

You could simulate a `static virtual method` with a virtual method (which gets as it's first argument a static object of the implementing type).

[code]

could be translated to

[code]

I do have to admit that this looks horrifying and I am sure there is a better encoding with less perverse transf

[2015-04-26 13:26] diab0l commented on #1226
@gafter Now that you mention it, I think thy type theory guys have a lot of fun with Bottom and the lift operation

[2015-04-26 13:45] qwertie commented on #420
"Closed" union types? Isn't that a synonym for Algebraic Data Types? I prefer the strictly more powerful concept of open union types, as in Ceylon. Anyway, yes, pattern matching and ADTs don't need CLR changes.

[2015-04-26 14:38] gafter commented on #420
@qwertie closed union types enable the compiler to prove a set of options (cases) is complete. Having said that, the existing "records" proposal is open union types.

[2015-04-26 14:49] qwertie commented on #420
I take it you aren't familiar with Ceylon's union & intersection types. If you were, you'd know that the compiler knows what cases are possible in any given situation and can check whether all cases have been handled. AFAICT, Ceylon's union type system is strictly more flexible than (closed) ADTs and doesn't sacrifice anything (except possibly type inference, which is not relevant when we're talki

[2015-04-26 15:34] kasajian commented on #17
@Shimmy, why is it redundant?

On Wed, Apr 22, 2015 at 9:39 PM, Shimmy <notifications@github.com> wrote:

[2015-04-26 18:02] Pilchie commented on #2048
This is blocked until the toolset is updated.

[2015-04-26 18:26] Pilchie commented on #2126
Strange - I added a test for this:

[code]

And it passes, which seems to imply the classifier is doing the right thing.

[2015-04-26 18:32] AdamSpeight2008 commented on #2126
@Pilchie
Sorry if sound like dumb question but what do mean by classified?
*My thoughts are that it working out what a section source code text is, in the context of the programming language. Eg This section of the text is a comment.*
Am I'm correct in that thinking?

[2015-04-26 18:37] Pilchie commented on #2126
Yes, classification is what the editor APIs that control how text is colored in the editor (AKA Syntax Highlighting, Colorization, etc).

[2015-04-26 20:52] Pilchie commented on #2126
Ah-ha!  A `FullSpan` versus `Span` issue meant we weren't returning results to the editor when they call us line by line.

[2015-04-26 21:16] biqas commented on #159
Here is what I had in mind when I thought about this feature.

1.Language
2.Threading
3.Garbage Collection (GC)
4.Security
5.Predictions

1. Language
Would require to have at least one additional keyword or more (immutable, immute).
There must be some analysis regarding correct use of immutability, for the analysis
I would recommend the project "Chess" http://research.microsoft.com/en-us/projects/

[2015-04-26 22:17] weitzhandler commented on #17
@kasajian, I just equalized the importance of this issue with the importance of class-scope-level field type-inference.

[2015-04-26 22:20] weitzhandler commented on #14
@kasajian https://github.com/dotnet/roslyn/issues/14#issuecomment-70262885
This is actually a compelling feature.

[2015-04-26 23:52] AArnott opened #2281 "DiagnosticAnalyzerAttributeAnalyzer and other type initializers are throwing exceptions"
I'm seeing this in the Messages area of the VS2015 error list.

| Code | Description |
| ---- | ------- |
| AD0001	| The User Diagnostic Analyzer 'Microsoft.CodeAnalysis.CSharp.Analyzers.MetaAnalyzers.CSharpRegisterActionAnalyzer' threw an exception with message 'The type initializer for 'Microsoft.CodeAnalysis.Analyzers.MetaAnalyzers.DiagnosticAnalyzerCorrectnessAnalyzer' threw an exception.'. |

[2015-04-27 02:25] kbirger commented on #114
@ljw1004 - I think these are different. An asynchronous close has its place, and you will always have the ability to create a closing method which returns a task, but that is different from having this done automatically in a using block.

In what way is `Dispose()` not guaranteed? I'm not sure I grasp what you're saying here.

Another thought I have about the long-running aspect is, it seems that

[2015-04-27 02:37] weswigham commented on #953
After reading over the 5.0 spec, it seems to me that beyond giving examples of generic attributes, the changes to the spec that would be required to allow for generic attributes are two deletions. Specifically, the bullet point on page 91:

And the stipulation on page 276:

The language specifying the implementation for attributes, without these two stipulations, seems generic enough to allow usag

[2015-04-27 02:49] sharwell commented on #320
We're getting a slew of bug reports due to the batch fixer failing to merge "dense" changes, and it's causing a problem because we have no way to detect the presence of conflicts in the result to alert the user or selectively not perform those fixes.

DotNetAnalyzers/StyleCopAnalyzers#727
DotNetAnalyzers/StyleCopAnalyzers#723
(I saw additional cases when I was working on DotNetAnalyzers/StyleCopAn

[2015-04-27 04:35] jmarolf commented on #2269
Note that the script (my_script in the above example) should exit with code 0 if the current source code is good, and exit with a code between 1 and 127 (inclusive), except 125, if the current source code is bad.
Any other exit code will abort the bisect process. It should be noted that a program that terminates via "exit(-1)" leaves $? = 255, (see the exit(3) manual page), as the value is chopped

[2015-04-27 05:25] tmat opened #2284 "EnC fails to apply 2nd change in a lambda"
[code]

The second edit is not applied.

[2015-04-27 05:34] balajikris commented on #976
From the discussion at #2236 , we feel this is a compiler issue. SemanticModel.GetConstantValue() returns a value for InterpolatedStringExpression while it should not.

Once fixed, Please assign back the issue to me, so that the IDE can add some tests for Introduce Variable Feature.

[2015-04-27 06:26] mavasani commented on #320
@sharwell I'll take a look at this again, it is pretty likely that the compiler's differ is not handling lot of these cases. We may have to move to a more accurate syntax differ in the generic batch fix all provider.

[2015-04-27 06:28] mavasani commented on #320
Re-opening to track the new reports.

[2015-04-27 06:32] mavasani commented on #1622
A fix for this change has been checked into MSBuild C# and VB targets files to skip analyzer execution for XamlPrecompile target.

[2015-04-27 06:32] #1622 closed

[2015-04-27 06:59] DavidKarlas commented on #572
Depends on what is goal of `Microsoft.CodeAnalysis` package... I think advanced users never use it, instead they "cherry-pick" only packages they need to minimize number/size of packages...

I guess for new users who add `Microsoft.CodeAnalysis` to their project... I think give them as much API as possible so they discover it via code completion. Also fact that .Workspaces is part of `Microsoft.Co

[2015-04-27 08:06] mavasani commented on #320
@sharwell I just tried the repro that you suggested in the original issue, and it doesn't repro for me with the latest Roslyn bits. I see all the SA1101 fixed in the document after invoking the fix all, including the line 233 in NumberSignSpacingTestBase.cs which was in your original repro:

[code]

Can you please re-try the repro? I will try the repros from other issues that you cited above.

[2015-04-27 09:26] somebody1234 commented on #224
Wouldnt you just have those on a separate line? Like:

    public string FirstName = "John", LastName = "Doe" { get; set; }
    publlic string EmailAddress { get; } = "JohnDoe@Anywhere.com";

[2015-04-27 09:34] Grauenwolf commented on #161
This whole thing is a really, really bad idea. By introducing the concept of a destructible type you have also introduced the question "Should my new type be disposable or destructible?".

That question is impossible to answer because you have no way of knowing how the consumer is going to use your type. And impossible design questions are pretty much a deal breaker for any new feature.

Furthermo

[2015-04-27 10:17] OmerRaviv commented on #560
@Pilchie While you're working on this in the context of MSBuild/MSBuildWorkspace, I think it may be worthwhile to consider making Roslyn automatically handle adding references to the facade assemblies when using the *Compilation API* as well. I was initially unaware of facade assemblies when I reported #855, and since I'm using the Compilation API and not the Workspace API, I had to do a lot of wo

[2015-04-27 11:17] HugoRoss commented on #2238
What's the problem? Variable reassigning and recycling is something one does all the time and why not in an enumeration?

From: Stilgar [mailto:notifications@github.com]
Sent: Samstag, 25. April 2015 13:07
To: dotnet/roslyn
Cc: Hafner Christoph
Subject: Re: [roslyn] What about all the cool features VB can but not C#? (#2238)

Please no. Especially 3. I will have to ban it in my projects and I pref

[2015-04-27 12:08] GeirGrusom commented on #2114
You can't use `var` with unsafe code either.

[code]

[2015-04-27 12:30] acelent commented on #2234
@svick, the iterator or async function can have a `bool` variable at the top which can be set through various stages (e.g. inside a loop), e.g. `finished` or `isLast`.

Suppose the meaning of this flag is so that you can `yield` or `await` now, but return a different value or throw an exception the next time by checking the flag and using the values of the other non-volatile variables.  Although a

[2015-04-27 12:36] dsaf commented on #2238
@HugoRoss Actually the best practice would be to never reassign and recycle variables. In some cases I even add local blocks ```{ string someVar; ... }``` just to prevent a var from being mistakenly reused. It reduces the cognitive load the way pure functions and immutability do.

[2015-04-27 12:43] dsaf commented on #2209
Could it be used for implementing units of measure? #144

[2015-04-27 12:45] davidfowl commented on #572
Stay as is.

[2015-04-27 13:03] HugoRoss commented on #2238
This is one opinion, but I disagree. IL has an optimized syntax for a slot size of up to 8 variables. If you keep the number below that, the compiler can compile to the short IL syntax which results in lesser code and faster precompilation.

As they are local variables, there is no issue with pure functions and immutability, every call to the function/method has its own scope anyway.

Why should I

[2015-04-27 13:10] svick commented on #2234
@acelent Are you saying that if you have code like this:

[code]

Then if lines 1 and 3 ran on the same thread and line 2 ran on another thread, are you saying that `b` is not guaranteed to be observed as `false`? If that were true, then pretty much every single `async` method would be broken, I think.

I couldn't find this properly documented anywhere, except for [a comment](http://stackoverflow.

[2015-04-27 13:16] HugoRoss commented on #2238
Issue 1:
   In my opinion it would be useful if the compiler would decide if a "this" is involved in field initialization to use VB.NET behavior and have the field initialized after the base constructor was called.
   [Just for clarification] In VB.Net it is also possible to have fields initialized that are accessed e.g. by an abstract base class' constructor. One simply has to use a lazzy initial

[2015-04-27 13:18] svick commented on #2238
@HugoRoss If you're not reading `y` anywhere again, then the GC can also collect its value.

[2015-04-27 13:24] Eirenarch commented on #2238
@HugoRoss I find the idea of reusing variables for performance reasons quite absurd. Maybe an argument can be made that a variable can be reassigned due to the logic of the code but not for performance. In any case if you are doing something so performance critical that the number of variables matter I guess you won't be using foreach to begin with.

[2015-04-27 13:25] HugoRoss commented on #2238
It was just partial sample code, it assumes the lower-case value would be used for something else throughout the loop.

From: Petr Onderka [mailto:notifications@github.com]
Sent: Montag, 27. April 2015 15:19
To: dotnet/roslyn
Cc: Hafner Christoph
Subject: Re: [roslyn] What about all the cool features VB can but not C#? (#2238)

@HugoRoss<https://github.com/HugoRoss> If you're not reading y anywher

[2015-04-27 13:26] HaloFour commented on #2238
@HugoRoss Actually, the optimized "tiny header" is only permitted if you have zero local variables.  You're thinking of the maximum stack size, which defaults to 8 for tiny headers and cannot be changed unless you flip to fat headers.  With tiny headers you're also limited to 64 bytes of IL and no extra sections (so no exception handling).

That said, compiler variables never have to be a 1:1 to I

[2015-04-27 13:48] HugoRoss commented on #2238
But what is the reason to keep these 15 year old limitations? I mean, everybody who thinks it is nonsense or ugly programming style to overwrite a variable does not have to code like that, but for us others it just feels natural, and it gives this feeling of being limited by C#. Same with inner interfaces. Company policy now is to use C#. Unfortunately some projects simply can't be converted to C#

[2015-04-27 13:52] HaloFour commented on #2238
@HugoRoss More importantly, what is the reason to remove these 15 year old limitations?  What problems can't be solved due to them?

[2015-04-27 13:55] HugoRoss commented on #2238
A project can't be converted from VB.Net to C# without changing the public interface, is that reason enough?

From: HaloFour [mailto:notifications@github.com]
Sent: Montag, 27. April 2015 15:53
To: dotnet/roslyn
Cc: Hafner Christoph
Subject: Re: [roslyn] What about all the cool features VB can but not C#? (#2238)

@HugoRoss<https://github.com/HugoRoss> More importantly, what is the reason to remov

[2015-04-27 14:02] HaloFour commented on #2238
@HugoRoss Not particularly.  The same would be true in inverse, or between C# and F#, or between F# and VB.NET.  That's why the Common Language Specification exists, to define the expected common subset.  As long as the public surface is CLS then it should be reasonable to be ported intact, otherwise there is no guarantee that you can port between languages verbatim.

[2015-04-27 14:08] HaloFour commented on #2238
Here's Eric Lippert's take on nested interfaces on Stackoverflow:

[Why can't an interface contain types](http://stackoverflow.com/questions/16151614/why-cant-an-interface-contain-types)

[2015-04-27 14:08] dsaf commented on #2238
@HaloFour

I wouldn't say 'no' to that :). F# features + C# syntax: heart_eyes:.

[2015-04-27 14:35] HugoRoss commented on #2238
Inner types are not very useful (one can provide a default implementation or static functions that do something with instances of the declared interface) and I used them very rarely in my VB time, but inner interfaces are a nice way of versioning them.

But I see I'm going to be out-voted, and this is surely a thing that would cost some time and money to implement.

The variable recycling issue I

[2015-04-27 14:49] ljw1004 commented on #1484
@gafter I disagree with your conclusions.

It does *not* require "warning waves" in order to give a warning for interpolated strings. I expect that interpolated strings should give a warning, because to a typical reader of C#, they look closer to strings than to a call to String.Format.

[2015-04-27 15:44] #2215 closed

[2015-04-27 15:45] Pilchie commented on #560
@OmerRaviv: The compilation API doesn't add *any* references, and we don't really want it to.  Doing so would mean it would have to have logic to look for installed references, which we'd really like to avoid - we want to have completely app-local compilers for CoreCLR.  @jaredpar is already struggling with csc's logic to auto-reference mscorlib.

The compiler APIs were specifically designed to re

[2015-04-27 15:47] Pilchie commented on #970
Rather than leaving this open, now that I've confirmed that the same thing fixes it, I'm just going to close this as a duplicate of #560.

[2015-04-27 15:47] Pilchie commented on #1373
Rather than leaving this open, now that I've confirmed that the same thing fixes it, I'm just going to close this as a duplicate of #560.

[2015-04-27 15:47] #1373 closed

[2015-04-27 15:58] OmerRaviv commented on #560
@Pilchie Thanks for explaining your rationale, that makes a lot of sense.

[2015-04-27 15:59] #2159 closed

[2015-04-27 16:03] tmeschter commented on #2281
@AArnott Which build of VS are you using?

[2015-04-27 16:05] n8ohu commented on #2238
As has been said, you're expecting two different languages that use the same common language runtime to be able to do things in exactly the same way. What you need to realize is that VB.NET inherited a lot of its features from the older Visual Basic, and C# is more closely related to C and C++ than some people think. I'm in the process of porting a VB.NET application to C# that is being written by

[2015-04-27 16:19] AArnott opened #2287 "Provide analyzers with msbuild item metadata for the documents they analyze"
The StyleCop.Analyzers project is positioned to replace the legacy StyleCop tools, which supported the user setting ExcludeFromStyleCop=false metadata on a source file to prevent messages being generated based on style issues in that particular file. But Roslyn analyzers can't see such metadata.

These are some reasons why the metadata remains useful:

1. The metadata approach is useful when I can

[2015-04-27 16:40] agocke commented on #572
I agree with @DavidKarlas on who uses `Microsoft.CodeAnalysis` -- it's a catch-all bucket for everything Roslyn-related and most people would probably prefer to specify their exact dependencies once they know what they're doing. So, since it's just a grab bag for everything it might as well contain references to .Features.

[2015-04-27 16:53] pharring commented on #2287
How about MSBuild metadata for suppressing *all* Roslyn analysis on a file. Rather like ```ExcludeFromStyleCop=true```, this would be ```ExcludeFromCodeAnalysis=true```. It's not fine-grained, per-analyzer suppression, but it is a good start.

[2015-04-27 17:08] AArnott commented on #2287
Yes, that would seem to suit the use case quite well.

[2015-04-27 17:09] #562 closed

[2015-04-27 17:09] #935 closed

[2015-04-27 17:10] #2257 closed

[2015-04-27 17:10] jmarolf commented on #935
@Pilchie please verify.

[2015-04-27 17:11] jmarolf commented on #562
@shyamnamboodiripad could you verify this please?

[2015-04-27 17:17] AlekseyTs opened #2288 "Completion list is missing extension method with two generic type parameters"
1. Add the attached Program.cs file to a C# console project. (you may want to remove the existing template program.cs file)
[code]
2. Open the program.cs file.
3. Find the call to the GetEnumerableDisposable method on line 46 and press Ctrl+J on it to pop up the completion list.

**Expected:**
The method appears.
Expected behavior is observed in Dev12, so this is a regression.

**Actual:**
The met

[2015-04-27 17:18] #1700 closed

[2015-04-27 17:35] VSadov commented on #2234
@acelent

Generally speaking yes. Volatile isn't needed even for fields.

The landscape of computing has changed since late 90s when volatile was introduced, We have deeper understanding of concurrent programming and what patterns work better than others. I have doubts that volatile fields would make it into the language if C# 1.0 was designed now.

Generally it is better to specify memory orderin

[2015-04-27 17:37] Pilchie commented on #721
This behavior is not a regression from VS2013.  We can look at a better overtype model here in the future.

[2015-04-27 17:52] Pilchie opened #2290 "Consider unifying code to extract text from an Xml Documentation Comment"
Currently, SignatureHelp and QuickInfo use the same code, but Outlining has it's own codepath that isn't as nice:
- Doesn't handle spaces around punctuation properly.
- Doesn't handle things like generics in crefs.

Note however, that because it synchronously blocks on file open, we probably want to keep outlining syntactic only.

[2015-04-27 17:55] jmarolf commented on #1994
@shyamnamboodiripad could you please verify this?

[2015-04-27 17:57] AlekseyTs opened #2291 "Misleading overload resolution error message"
Compile:
[code]
**Roslyn:**
Program.cs(7,9): error CS1501: No overload for method 'F' takes 3 arguments

**Dev12:**
Program.cs(7,17): error CS1739: The best overload for 'F' does not have a parameter named 'y'

[2015-04-27 17:59] mavasani commented on #463
Re-open to track the new unit test failure from #2289

[2015-04-27 18:07] AArnott commented on #2281
VSPro_Platform 22820.00

On Mon, Apr 27, 2015 at 9:03 AM Tom Meschter <notifications@github.com>
wrote:

[2015-04-27 18:18] AArnott opened #2292 "Typing ; does not format line on a property defined by lambda"
Typically Roslyn will format a line after the user completes a statement by typing semicolon. But in the case of the new C# 6 properties that are defined by lambda-looking syntax, no formatting occurs:

[code]

I would have expected a space to be inserted around the `>` operator. But none was.

Repro machine: VSPro_Platform 22823.00

[2015-04-27 18:20] #2126 closed

[2015-04-27 18:29] #320 closed

[2015-04-27 18:30] mavasani commented on #320
@sharwell The corruption issue should be fixed for *real* now. Thanks again for reporting the issues!

[2015-04-27 18:37] srivatsn commented on #2232
Not a common scenario but we shouldn't be faulting. Btw when you say crash you mean a non-fatal Watson right? VS shouldn't be going down for analyzer exceptions, even the ones that opt into watsons.

[2015-04-27 18:41] acelent commented on #2234
@svick, it so happens that (de)queueing or "stealing" a task will probably use a lock, an interchange operation or an explicit memory barrier, so I guess it's implicit.

@VSadov, I kind of agree, but `volatile` is here, it could just as well be more consistent about which identifiers can be `volatile`.  I'd fully agree if we were to instead remove `volatile` from the language entirely.

I see what

[2015-04-27 18:44] shyamnamboodiripad commented on #2232
@srivatsn I ran into this while debugging unrelated issue in the RoslynDev hive. I believe we have a special exception handler in the RoslynDev hive that causes the process to crash and that this should result in non-fatal watson (info bar) on regular setup. I'll double check to make sure we don't have two issues here...

[2015-04-27 18:53] KevinH-MS commented on #1407
I see.  I'll try to get that build installed on a VM and stop in that method (on my build of VS, the Exception is thrown in an entirely different method).

In the meantime, if you could send a link to the dump on OneDrive, that might be quicker.  My e-mail is kevinh@microsoft.com.

[2015-04-27 19:19] srivatsn commented on #2154
Can you check to see if this is a regression in the platform bits?

[2015-04-27 19:21] SLaks commented on #1407
Shared.
Which method the exception is thrown from ought to not matter; the issue happened (on that machine) in any call frame on `ExportProvider`.

PS: Why is your Live account's displayname `.`?

[2015-04-27 19:22] srivatsn commented on #2028
Given this is the design, I'll close this out. Feel free to add the comment to the Roslyn.ruleset file.

[2015-04-27 19:22] #2028 closed

[2015-04-27 19:40] VSadov commented on #2234
4 and 2 are not really contradicting.
Point 2 shows that volatile can easily "overdo" by introducing synchronization that is not apparent, while 4 shows that there is still a way to "underdo". Overdoing in some scenarios and underdoing in others is not contradictory Both are just things that a programmer must keep in mind when using the feature and are not good for the feature's usability.

Removi

[2015-04-27 19:49] VSadov commented on #2264
It was likely generating slightly different code at some point, but then one of the branches was simplified to be exactly as another. TODO there does not make much sense to me now...
It should be ok to remove redundancy without affecting the output in any way, but I do not see any urgency one way or another.

[2015-04-27 20:14] #70 closed

[2015-04-27 20:20] AdamSpeight2008 commented on #2264
@VSadov I'll grab that one as I'm in in that file anyway doing String-Interpolation utilisations. So I'll change it.

[2015-04-27 20:21] AdamSpeight2008 commented on #2267
@gafter @paulvanbrenk I'll grab that one as well, since I'm doing String-Interpolation utilisation fix ups.

[2015-04-27 20:26] gafter commented on #2267
@AdamSpeight2008 Please keep your PRs small if possible. One way is to keep separate changes in separate PRs.

[2015-04-27 20:26] gafter commented on #2264
@AdamSpeight2008 Please keep your PRs small if possible. One way is to keep separate changes in separate PRs.

[2015-04-27 20:29] KevinH-MS commented on #1407
Thanks!  I spun up a VM with your build of VS, and I was able to get into that method, but here's what I'm seeing:
![capture](https://cloud.githubusercontent.com/assets/6464209/7357051/13bd1c18-ece1-11e4-844e-4f7d1462aed0.PNG)
Could you try to "Debug > Save Dump As..." inside the instance of VS that's having the problem (capture dump of the "debuggee" process)?  It seems to be something related to

[2015-04-27 20:34] AdamSpeight2008 commented on #2267
Will do. Just doing a branch only for these two issue #2264 and #2267. No extras, just fixes.

[2015-04-27 20:40] orthoxerox commented on #129
I've been thinking about traits recently. The big difference between a trait and an interface is that an interface has to obey the Liskov Substitution Principle (return types are covariant, argument types are contravariant), while a trait shouldn't.

For example, you cannot define `IMonad<T>` in C#. Non-generic `IMonad` can be defined using CRTP as `IMonad<M> where M : IMonad<M>`, but this of cour

[2015-04-27 20:44] #528 closed

[2015-04-27 20:44] AlekseyTs opened #2298 "Ambiguous call error with VS2015 compiler"
Two extension methods with the same name are implemented on different interfaces. Both interfaces are grouped together on one single interface called e.g. “IFinalInterface”, so that this interface contains two extension methods with the same name.

The first extension method has a “params int[]” as parameter:
[code]

The second extension method has an additional optional parameter:
[code]

Now, th

[2015-04-27 20:52] tmeschter commented on #1412
We have the `ImageMonikers` already, we just need to update the files associated with those monikers.

[2015-04-27 21:06] Pilchie opened #2301 "Classification: Await should be optimistically classified as a keyword"
In the code:

[code]

`await` should be optimistically classified as a keyword, even though the parser hasn't decided that this will be an `AwaitExpressionSyntax` yet.

Similarly for VB, and for statement contexts, instead of expression contexts (like in #1931).

[2015-04-27 21:07] Pilchie commented on #1884
@gafter I think there are 3 compiler issues here (which we can split out into different issues if you want), and 1 IDE issue.

Compiler Issues:
=============

1. In a C# method without `async`, fault tolerance doesn't understand the result type of an `AwaitExpressionSyntax`, even though it parses fine.
2. In a VB `Sub` or `Function` without `Async`, the parser falls apart after `Await`, such that

[2015-04-27 21:12] Pilchie commented on #1931
What is unique here is the context.  In a statement context like this, the parser doesn't fall into the `AwaitExpressionSyntax` that it does in #1884 until you add the semi-colon.  Before that it parses as a `LocalDeclarationStatement`, and then as two expression statements.

Perhaps the parser could fall into this case as soon as the `.` is entered instead?

[2015-04-27 21:13] heejaechang commented on #1282
after this - https://github.com/dotnet/roslyn/pull/2230

this bug is no longer needed. I will close this bug.

[2015-04-27 21:13] #1282 closed

[2015-04-27 21:14] Pilchie opened #2302 "Never offer to generate a type named `await`"
In non-async methods, typing:

[code]

parses as a local declaration of type `await`, and offers the generate type fix.  Perhaps we should have a heuristic to never generate a type named `await`.

See also related bugs #1884, #1931, #2301.

[2015-04-27 21:15] shyamnamboodiripad commented on #1512
@tmeschter have we changed the behavior per what @srivatsn suggested above (i.e. add a 'Default' entry?). If you assigned this to me to verify, I think @mavasani  should do that since the bug was logged by him :)

[2015-04-27 21:15] heejaechang commented on #1282
by the way, DiagnosticData <=> Diagnostic is not currently round trip-able. so if there is any code that treat it as round-trip-able, we should stop doing it.

[2015-04-27 21:19] #2288 closed

[2015-04-27 21:20] gafter opened #2303 "Add support for /features:deterministic for msbuild"
Add support to enable `/features:deterministic` to be passed to the compiler through msbuild.

(see #372 for some context)

And while in the area, also add support for the flags `/checksumalgorithm` and `/pathmap` (#949), even though the latter isn't implemented in the compilers yet.

[2015-04-27 21:20] AlekseyTs commented on #2288
@VSadov Please verify.

[2015-04-27 21:21] heejaechang opened #2304 "[Design Question] Should DiagnosticData and Diagnostic be round trip-able?"
currently it is not. when a diagnostic %1 is converted to diagnostic data and go back to diagnostic %2.

%1 and %2 are two different diagnostics that have slightly different values. (anything related to descriptor)

two were round trip-able before we introduced descriptor directly in diagnostic. with descriptor and diagnostic coupled tightly, two can't be round trip-able anymore since currently we

[2015-04-27 21:27] shyamnamboodiripad commented on #473
Moving this out to the unknown milestone. The work involved to fix the simplifier for this issue is significant and it is unlikely that we can bite this off for v1.0. We have a story on the backlog for addressing this. I will add a link to that story here once I port that story to GitHub.

[2015-04-27 21:29] AdamSpeight2008 commented on #2302
Would a type named `@await` still be allowed?

[2015-04-27 21:32] #2218 closed

[2015-04-27 21:33] mattwar commented on #282
There is no actual repro here, just a call stack.  It is unclear how the problem came to be, but from examination of the call stack, the code generator is only throwing because its been asked to add a field to a symbol that cannot contain a field.  It is possible the refactoring is being offered on the wrong symbol.

[2015-04-27 21:37] #2116 closed

[2015-04-27 21:37] heejaechang commented on #2287
can we modify suppressMessageAttribute to cover this case as well? this one seems just another suppression.

[2015-04-27 21:37] mattwar commented on #2005
You can now call SyntaxGenerator.Attribute() with the attribute data from a symbol and the correct ExpressionGenerator  API will be called.  You can also call SyntaxGenerator.TypeConstantExpression() directly, but since you only get TypeConstants from AttributeData, you probably have no need to.

[2015-04-27 21:37] #2005 closed

[2015-04-27 21:41] Pilchie commented on #2302
Well, the *compiler* will always allow a type named `await`.  This is just a suggestion to not have the IDE offer to generate it for you, which I think is okay.

[2015-04-27 21:43] AlekseyTs opened #2306 "Write a spec-like comment describing intended behavior of overload resolution in relation to pull request #2305."
The change is in function OverloadResolution.BetterFunctionMember (https://github.com/dotnet/roslyn/pull/2305)

[2015-04-27 21:44] AdamSpeight2008 commented on #2302
Thanks for the distinction.

[2015-04-27 21:45] gafter commented on #826
@jaredpar assigning to you to "Verify", please.

[2015-04-27 22:01] jaredpar opened #2307 "Analyzer shadow copy needs to handle companion files"
The shadow copy logic for analyzers needs to copy the additional items associated with the analyzer in the MSBuild file.

[2015-04-27 22:02] mjsabby opened #2308 "ETW Sessions enabling RoslynEventSource can severely impact analyzer perf"
I was investigating an internal C# solution that has half a dozen analyzers, spending majority of their time logging to ETW, severely impacting diagnostic performance.

The following callstack is representative of the case I looked at:

 + mscorlib.ni!DomainNeutralILStubClass.IL_STUB_PInvoke(Int64, System.Diagnostics.Tracing.EventDescriptor ByRef, System.Guid*, System.Guid*, Int32, EventData*)
  +

[2015-04-27 22:04] HugoRoss commented on #2238
They do not need to do it the same way, but why should C# not implement the good stuff from VB?

2013 I created the nuget package CustomEnum (https://www.nuget.org/packages/CustomEnum.vb) and I didn't manage to convert it to C# in a way that preserves its features. (@HaloFour: By the way, this is a situation where the base constructor of a VB class accesses child fields through getters with lazzy

[2015-04-27 22:04] #2249 closed

[2015-04-27 22:05] VSadov commented on #519
none of the 5 issues seem to be a defect though.

[2015-04-27 22:13] shyamnamboodiripad commented on #2154
Spoke with folks from the platform team. Seems like this is a dupe of an issue that they fixed last week.

@amcasey Please reactivate if you continue to run into this on newer drop containing the fix.

[2015-04-27 22:13] #2154 closed

[2015-04-27 22:43] pharring commented on #2308
We removed ETW logging from the compiler layer in PR #1057

[2015-04-27 22:54] shyamnamboodiripad opened #2310 "Names used for error 'Source' are confusing"
Looks like we call the source for compiler errors 'Intellisense Build'. Other errors that ship in the box have source 'MS.CA.CS.Features [Roslyn Language Services]'. This is confusing - I don't think I would be able to tell the difference between these two strings if I didn't already know what they meant :)

Also, I am not sure whether we should say 'Roslyn' here. Perhaps we should just say -

- '

[2015-04-27 23:12] mjsabby commented on #2308
Excellent, looks like this issue validated the central hypothesis in the referenced issue.

[2015-04-27 23:12] #2308 closed

[2015-04-27 23:31] shyamnamboodiripad commented on #29
@jmarolf Could you please verify this fix?

[2015-04-27 23:32] shyamnamboodiripad commented on #1899
@heejaechang please verify this

[2015-04-27 23:33] ManishJayaswal commented on #2130
Fixed with https://github.com/dotnet/roslyn/commit/3dfd4a068b22b894edde1911242c8161c8193984

[2015-04-27 23:33] #2130 closed

[2015-04-27 23:37] shyamnamboodiripad commented on #50
@jaredpar The particular issue mentioned in this bug should be fixed - however, other cases exist where simplifier won't preserve trivia. I have logged  #2142 to track these cases.

[2015-04-27 23:39] heejaechang opened #2311 "Figure out how to better support Semantic Version Tracking"
see this for more information

https://github.com/dotnet/roslyn/pull/2260

[2015-04-27 23:40] shyamnamboodiripad commented on #1353
@heejaechang  could you please verify this fix?

[2015-04-27 23:41] heejaechang commented on #1353
sure

[2015-04-27 23:49] pharring opened #2313 "Re-enable cross-language assembly load scenarios in perf tests"
We had to disable the cross-language assembly load tests from our performance scenarios because they were preventing us from getting reliable performance data. See PR #2312.
We need to investigate why they were failing and re-enable the tests (probably after the next VS baseline update).

[2015-04-28 00:37] heejaechang commented on #1540
fixes are in.
#2260 #2294

[2015-04-28 00:37] #1540 closed

[2015-04-28 01:18] HaloFour commented on #2238
@HugoRoss

Actually in your enumeration case the GC cannot collect the original value even if you assign a new value to the variable.  The original value is still held by the instance of the `IEnumerator<T>` used in the enumeration and that root reference won't potentially be dropped until you move to the next element.

And no, `if (x == null)` isn't a bug if it triggers an overloaded `==` operato

[2015-04-28 03:32] jibal commented on #307
You don't have to write such functions.

Every function is *maybe* doing more than it's supposed to, but returning a tuple doesn't imply it, any more than returning any other composite value, or having out parameters, implies it. And there's already a Tuple type, so this is a red herring. As you said, this proposal is about tuple deconstruction, so any objections should be about that, not about re

[2015-04-28 03:48] #2298 closed

[2015-04-28 03:55] jibal commented on #102
" Pattern matching(PM) just in plans - guys, hey, wake up! First PM was used in... SNOBOL, year 1962!! "

SNOBOL's pattern matching was parsing ... not at all related to the sort of pattern matching of functional languages (deconstruction) that is being proposed for C#.

[2015-04-28 04:07] #463 closed

[2015-04-28 04:41] n8ohu commented on #2238
@HaloFour: Exactly; each of the features he's asking for go against the core design principles of C#.

[2015-04-28 06:17] roterdam opened #2318 "Making DeclaringSyntaxReferences a DeclaringSyntaxReference"
Why is DeclaringSyntaxReferences an array of declaration references, could there be more than one declaration syntax reference?

Maybe for partial classes and methods? But why are they declaring references?

[2015-04-28 06:34] HugoRoss commented on #2238
Agree to that the value can't be collected. But the readability still is better if I don't have to declare and assign a new variable.

I know that bug/feature is by design like that, but in my humble opinion it is a design error as what sensible answer can an equals overload return without confusing the caller other than what Object.ReferenceEquals returns (in the case a value is compared against

[2015-04-28 06:58] dmitriyse commented on #2119
I have spent some time researching non nullable reference types and i remember the CodeContracts ugly implementation. I have found more general variant of solution (may be just way to think to) for both problems: 1) nullability and 2) contracts.

[2015-04-28 08:29] dsaf commented on #1470
@aluanhaddad You are right, I have updated the title.

[2015-04-28 08:34] dsaf opened #2319 "Proposal: Infer generic type arguments from constructor arguments"
From code sample:

[code]

[2015-04-28 08:41] dsaf commented on #2319
And it would be nice to extend this to #953 as well:

[code]

[2015-04-28 08:51] jibal commented on #206
"The order in which patterns are matched is not defined. A compiler is permitted to match patterns out of order"

That's a disaster. No other language does it that way, for excellent reason: undeterministic order yields undefined results. One day my program that does a null check as the first case works, and the next day it gets an exception ... or it gets exceptions depending on the data or the o

[2015-04-28 09:01] MrJul commented on #206
@jibal Just before that sentence, you can read:

What's not defined is the order of "execution" of the patterns which is an implementation detail. The result *is* deterministic.

[2015-04-28 09:06] drowa commented on #161
I have some questions and points about this feature.

1) In case of destructible types, why do we need the `move` keyword if there is no other option? We could just assume the `move` semantics when necessary (i.e. in assignments, parameters and return statements).

Instead of writing...
[code]
We would write...
[code]
2) Can a destructible type be a sub-type of a non-destructible type?

For exampl

[2015-04-28 09:11] AbubakerB commented on #572
IMO, I'd have to say, leave it as it is. I'd prefer to opt-in to what i need rather than getting everything when i only need one thing then removing everything else.
I mean if people need something, they'll find what they need --- that's what brought us all here in the first place, right?
Features is nothing more than just that -- features. I think ```Microsoft.CodeAnalysis``` shouldn't depend on

[2015-04-28 09:24] jibal commented on #227
"I really can't understand what the problem is about null!"

Inability to understand is not a virtue.

"By the way, Ceylon does something very similar to this proposal. Might be worthwhile looking at them."

Indeed ... Ceylon, not Swift or Kotlin, is the most important language to look at in this regard. Unfortunately, C# or any other language that tacks this stuff on will look bad in comparison.

[2015-04-28 09:44] DavidKarlas commented on #572
imho... by this logic .Workspaces can be removed from `Microsoft.CodeAnalysis` since very little amount of users use it(mostly just IDEs)... same goes for VB :)(sorry couldn't resist). As I said... it depends on what is goal of `Microsoft.CodeAnalysis`...

Maybe `Microsoft.CodeAnalysis` should be killed(removed from NuGet.org) :) but that is a bit off topic :)

[2015-04-28 10:25] jibal commented on #206
Oh. Well, just call me Emily Litella (http://vaviper.blogspot.com/2014/04/i-finally-located-video-of-gilda.html).

Never mind.

[2015-04-28 10:42] CyrusNajmabadi commented on #2318
Yes.  As you guessed, this happens when you have merged declarations that form one symbol.  Examples of this include partial classes, methods, and namespaces.

The way to read this is "Declaring" + "SyntaxReferences".  They are 'Declaring' in that they are the actual pieces of code that cause the Symbol to be 'Declared'.  And they are 'SyntaxReferences' in that they are a 'Reference to Syntax Elem

[2015-04-28 12:56] dmitriyse commented on #227
I have spent some time researching non nullable reference types and i remember the CodeContracts ugly implementation. I have found more general variant of solution (may be just way to think to) for both problems: 1) nullability and 2) contracts.
Imagine, that we have new compiler-only construct:

[code]
then we can define C# 7.0 signature:

[code]
It is compiled to CLR code:
[code]
----
More examp

[2015-04-28 13:09] MikePopoloski commented on #2209
+1

Lack of generic pointers is one of my biggest pain points with C#.

[2015-04-28 14:07] HaloFour commented on #2319
The one potential issue with this might be ambiguity.  `Pair` and `Pair<T1, T2>` are two completely different types.  If `Pair` was also in scope and also had a ctor that accepted two parameters then the compiler would be forced to choose the non-generic version for compatibility reasons (apparently even emitting new warnings is considered a breaking change).

How do you feel about open generic ty

[2015-04-28 14:13] HaloFour commented on #2238
@HugoRoss

Well you're welcome to your opinion.  I've made use of those operators to overload how null checking works on a number of occasions, especially when comparing to other types.  Admittedly I've also been bitten by it once or twice when trying to handle a null check within the operator accidentally causing a `StackOverflowException`.  It's probably a good idea for an analyzer to flag such

[2015-04-28 14:14] dsaf commented on #2319
@HaloFour

Yes, although that syntax looks tantalizing to me, because I would like to see Java-style generics wildcards, but doubt it will happen :).

[2015-04-28 14:16] AlexeyRaga commented on #98
Abstraction over generics, anyone +1?

I mean, I can abstract over types with generics, e.g. `List<T>`, but for some reason I cannot abstract one level above e.g. `MyKind<F<_>>` where `MyKind` takes not a proper type, but a generic as a parameter which you would construct like, say, `MyKind<List>` or `MyKind<Task>`

This would be very and opens soooo many doors (in functional programming direction

[2015-04-28 14:23] AlexeyRaga commented on #98
Sum types!
Someone has mentioned discriminated unions, from my POV it is much bigger than any contracts, especially if we have pattern matching.

[2015-04-28 15:21] firda-cze opened #2322 "Proposal: 'this' as return type (true: void, but like return this)"
There are many classes that return the object from most of the methods (e.g. `StringBuilder`) for easier manipulation. Extension methods (e.g. LINQ) do the same - return the interface taken as first 'this' argument.

This is not the same as return type covariance, although the reason for it is sub-classing (derived classes). This could be implemented with attribute. The actual return type would pr

[2015-04-28 15:32] HaloFour commented on #2322
Dupe of #155.

[2015-04-28 15:55] paulomorgado commented on #2133
@AdamSpeight2008, I don't think there's a VB equivalent to C#'s `out` parameters, and you seem to not be aware of what `out` parameters are in C#.

[2015-04-28 15:59] VSadov commented on #2209
@MikePopoloski  - about generic pointers. I am curious about particular scenarios.
Is that specifically about
-- pointers - as in generalizing byte* to <primitive_struct>* and use that in unsafe/pinned context,
 or about
-- inner references - as in getting a managed reference to an element of T[] and pass that around like described in #118?

[2015-04-28 16:05] paulomorgado commented on #2133
@svick, `FirstOrDefault` on `int` sequeneces returning an `int?` doesn't make any sense because the default value of `int` is `0` (which is an `int`).

I understand that, when the "no nullables" bunch is not around, you might feel the need for it, but it's just as simple as:

    sequenceOfInt.Cast<int?>().FirstOrDefault()

[2015-04-28 16:07] paulomorgado commented on #2143
That makes sense!

[2015-04-28 16:13] AArnott opened #2324 "VBCSCompiler.exe leaks handle to directory containing analyzer, preventing cleanup in cloud build"
vbcscompiler.exe opens a handle to the directory containing an analyzer assembly and does not release it after compilation is finished.

Repro steps:

1. Create a C# project.
1. NuGet console: Install-Package StyleCop.Analyzers
1. Close VS.
1. Build the project from the command line.
1. While vbcscompiler.exe is still running, try to delete the packages\stylecop.analyzers.1.0.0-alpha005\tools\anal

[2015-04-28 16:15] AdamSpeight2008 commented on #2133
@paulomorgado `out` parameters requires the variable passed into be initialized and always a value passed back to that parameter.
@HaloFour  Roslyn could possibly track it if there was an IL Language Model. That the .net languages (C#, VB.net) would / could be built on.

[2015-04-28 16:22] HaloFour commented on #2133
@AdamSpeight2008 Not even sure how you imagine that to be feasible.  Roslyn lacks the quantum computing mechanisms to support compiling based on how consuming code *might* invoke it sometime in the future.  And frankly, we've already got a solution, it's called `ref`.

[2015-04-28 16:35] Suchiman commented on #2133
@AdamSpeight2008

Close but wrong:
```out```: Can be passed an uninitialized variable, thats why the method is required to assign a value to it and can't read from it prior to doing so.
```ref```: Variable must be initialized before passing to a method, therefore it's allowed to read from the variable before assigning something to it and assigning to it is optional.

[2015-04-28 16:36] paulomorgado commented on #2239
@ufcpp, at this point, I don't think "rather" is an option.

That's why, while I like the powershellish way, the initial proposal would be the best one, as it is unambiguous.

[2015-04-28 16:39] mavasani opened #2325 "Performance tuning in compiler bound node cache for analyzers binding all identifier name"
Recently added UnusedDeclaration analyzer for Roslyn.sln regressed the build perf to almost 2x the build time without analyzers. The primary reason for this throughput regression was this analyzer registering a syntax node action for IdentifierNameSyntax node kind and invoking GetSymbolInfo for every single IdentifierNameSyntax node in compilation.

Theoretically, GetSymbolInfo for every single Id

[2015-04-28 16:42] mavasani commented on #2325
/cc @AlekseyTs @heejaechang

Comments from Aleksey/HeeJae:

From: Aleksey Tsingauz
Sent: Sunday, April 26, 2015 10:05 PM
To: Manish Vasani; HeeJae Chang; Srivatsn Narayanan; John Hamby; Neal Gafter; Managed Languages Diagnostics Dev Team; Andrew Casey (ROSLYN)
Cc: Manish Jayaswal
Subject: RE: Unused declaration analyzer perf investigation

Compiler can bind some expressions multiple time. For exam

[2015-04-28 16:46] AlekseyTs commented on #2298
@VSadov Please verify.

[2015-04-28 16:57] HaloFour commented on #2239
Yeah.  I'm sure there are lots of things that the language designers would love to reconsider about C#, but hindsight is 20/20.  I don't imagine that verbatim strings are anywhere close to the chopping block.

The one thing I really do like about C++'s raw strings is that custom delimiter syntax so there really is no such thing as one sentinel ending sequence which would require some kind of escap

[2015-04-28 17:31] Ultrahead commented on #2209
@VSadov: I was migrating the proposal I had submitted to codeplex. Now, for what I can read through #126 and #118, my proposal is not a duplicate since I meant the last two features proposed in my first post here -that is generic pointers and fixed-type buferring- for unsafe contexts.

@zahirtezcan: exactly!

@dsaf: I don't see why not. It would nice to have user-defined literals as in C++11, so y

[2015-04-28 17:36] #784 closed

[2015-04-28 17:38] kumpera commented on #227
Having this information available to the VM and make it part of the verification model would be greatly
helpful when AOT compiling to targets that don't allow hardware traps for NREs.

[2015-04-28 17:55] gafter commented on #2261
This was fixed in https://github.com/dotnet/roslyn/commit/f7a1dc21442b877be95c3a36e5198518247f2d63

[2015-04-28 17:55] #2261 closed

[2015-04-28 18:02] dotnet-bot opened #2330 "Block indenting does not work as expected"
Ported from TFS WorkItem: **1161144**

------------------------------

**Repro Steps:**

This item was filed by a customer. Please communicate and close the loop with your customer via the customer tab inside TFS.

-----------------------

Problem Description

-----------------------

Hi,

description of &quot;Block indenting&quot; is &quot;When selected and you press ENTER, the new line of text i

[2015-04-28 18:11] Arithmomaniac opened #2331 "Proposal: multiple assignments per using statement"
### Motivating Example

To use `SqlCommand` as an example, I often have code that ends up looking like the following:

	using (var connection = new SqlConnection(connectionString))
	{
		using (var command = new SqlCommand(commandText, connection))
		{
			DoSomething(command);
		}
	}

To cut down on the code clutter, I sometimes do this instead:

	using (var connection = new SqlConnection(connectio

[2015-04-28 18:17] AdamSpeight2008 opened #2332 "[Idea] IL Model / Language Service."
Been think maybe beneficial for "Roslyn" to have a IL Model (or IL language service).
- Use as the initial build target, before outputting compilation to the "real" target..
- Deeper Analysis
  _analysis ideas that by be possible_
  - Null / Non Null Checking
  - Compile-Time stack overflow warning
  - Recursion base case / termination analysis.
  - Race Conditions
- Refactorings
  - Aspect Orient

[2015-04-28 18:19] pharring commented on #1368
I've looked a little closer and the pooling we already do in MemoryStream is pretty efficient. The huge majority of allocations are satisfied from our existing pooled allocator. Most instances are very small (96.25% are less than 64 bytes, measured on our 'Picasso' C# solution). Today, we do not keep allocations larger than 1,024 bytes around. This could be tweaked, but it seems reasonable right n

[2015-04-28 18:20] #1521 closed

[2015-04-28 18:22] jmarolf opened #2334 "No fixes generated for BC30109"
# Repro Code
(Copy paste the following snippet into a new VB console project to observe the documented behavior)
[code]
## Dev12 Behavior
![image](https://cloud.githubusercontent.com/assets/9797472/7376946/26497e00-ed98-11e4-98db-1d9426354b28.png)

Module1.vb(4,19): error BC30109: 'System.DBNull' is a class type and cannot be used as an expression.
Module1.vb(4,12): warning BC42104: Variable 'obj'

[2015-04-28 18:24] MikePopoloski commented on #2209
@VSadov More of the former than the latter. Things like reading binary files from disk, writing binary blobs to the network, or manipulating native memory blocks allocated for maximum control of cache layout (for example, particle systems). I usually end up using an IL-rewriting process to let me read and write generic pointers from/into a native memory block, since the CLR supports it just fine.

[2015-04-28 18:28] heejaechang commented on #1368
@pharring do you mean .NET MemoryStream?

[2015-04-28 18:28] jmarolf opened #2335 "No fixes offered for BC30108"
# Repro Code
(Copy paste the following snippet into a new VB console project to observe the documented behavior)
[code]
## Dev12 Behavior
![image](https://cloud.githubusercontent.com/assets/9797472/7377079/09d843a4-ed99-11e4-9a43-f6b22e70650c.png)

Dev12 produces the following error:
Module1.vb(4,46): error BC30108: 'ConsoleApplication20.Program' is a type and cannot be used as an expression.

###

[2015-04-28 18:28] DickvdBrink commented on #981
That PR is merged so this can be closed right?

[2015-04-28 18:54] dpoeschl commented on #981
@DickvdBrink Correct. The commit that was merged didn't use one of github's recognized "Fixes ###" phrases, but that was their intent. I've additionally verified the behavior on my machine. Closing & marking as Verified now.

[2015-04-28 18:54] #981 closed

[2015-04-28 18:57] KevinH-MS opened #2336 "Locals should be in scope on closing brace of async methods"
![code](https://cloud.githubusercontent.com/assets/6464209/7377822/adc1239c-ed9d-11e4-8391-dbe4b2b9b051.PNG)

**RESULTS**
![actual](https://cloud.githubusercontent.com/assets/6464209/7377831/ba6d2118-ed9d-11e4-95a0-9e53139db34b.PNG)

**EXPECTED**
![expected](https://cloud.githubusercontent.com/assets/6464209/7377839/c496c644-ed9d-11e4-9c64-6ab7d26001e9.PNG)

[2015-04-28 18:58] KevinH-MS commented on #2336
This is not a regression from previous versions of the compiler/debugger, but it would be good to make async lambdas work the same as normal methods.

[2015-04-28 19:02] svick commented on #2331
How exactly is it prone to breakage? If you're talking about something like:

[code]

Then:

1. I think that's very unlikely to happen by mistake, unlike a similar case with unbracketed one-line `if`/`else`/`for`/`using`/….
2. It won't compile, as long as you use `connection` in the second `using` or inside the brackets.

[2015-04-28 19:14] AdamSpeight2008 commented on #2336
Isn't it defining the end of the scope? If you move the cursor one char to the left you should still see the local `y := 42`

[2015-04-28 19:15] Arithmomaniac commented on #2331
@svick I'd consider a failure to compile as a break. Not an insidious one, but I'd rather have a syntax that prevents this from happening entirely.

[2015-04-28 19:15] pharring commented on #1368
@heejaechang no. This is our [Cci.MemoryStream](http://source.roslyn.io/#Microsoft.CodeAnalysis/PEWriter/MemoryStream.cs,7a5b594cb98c59ec).

[2015-04-28 19:21] KevinH-MS commented on #2336
Yes, for normal methods and lambdas, the locals are considered "in scope" when the IP in the debugger is on the closing curly brace of the method body (Note: left/right of the brace is not significant here, because you only have the ability to set a breakpoint with a "line-level" granularity here).

[2015-04-28 19:31] KevinH-MS commented on #1407
Thanks for sharing the dump of the debuggee.  I was able to repro the issue with that.  The error appears to be generated by Microsoft.VisualStudio.VIL.Host.dll.  I've notified the team that owns that library, and I'll post back here when I get a resolution.

[2015-04-28 19:37] dpoeschl commented on #2222
@sharwell I can't get this to reproduce locally. The rename succeeds and all the existing Array.Copy invocations are updated to System.Array.Copy invocations (as expected), and the build succeeds with the new name.

Does this still fail for you? If so, can you grab a stack so I can try to figure out if it's a bug we've already fixed? Thanks!

[2015-04-28 19:44] svick commented on #2331
@Arithmomaniac I don't follow your reasoning. How is failure to compile wrong code a bad thing? In any case, your proposal behaves similarly, you can still write:

[code]

So it doesn't "prevent it from happening", it just fails to compile (as long as `Some.Statement()` doesn't return `IDisposable`).

[2015-04-28 19:46] Ultrahead commented on #2209
@MikePopoloski: "Things like ..." +1 on that

[2015-04-28 19:53] aL3891 commented on #347
I like this but i'd also like the syntax to be more similar to anon types, like using `{ string Name, int Age}` as you suggest.

Also, how about having a keyword that lets the compiler infer the return type? That would allow you to return an anon type and that would then be a tuple (class/struct discussion aside)

Consider this

    public magicKeyword GetFruit(){
       return new {Name = "Banana

[2015-04-28 19:53] svick commented on #2133
@paulomorgado Yes, `FirstOrDefault` wouldn't be an accurate name for such method.

I didn't know you can use `Cast` this way. It does mean that there's probably no need to add `FirstOrNull`.

[2015-04-28 19:56] Arithmomaniac commented on #2331
@svick That's a fair point. But the error would be more directly related to the problem (namely, that using statements can't go there). Again, not solving a big problem, but just streamlining a little one.
I also think bracketless using statements are still abusive notation, but it's easy to disagree with that.

[2015-04-28 20:06] stas-sultanov commented on #2319
It's also posible that there will be no more need in types like `Pair`, cause if we will take a look at `Tuple` class we will notice that it is created just because c# does not support requested feature.

[2015-04-28 20:53] #713 closed

[2015-04-28 21:12] pchalamet commented on #227
Strange proposal. Null is not a problem by itself.
This should be implemented at low level, down in the bowels of CLR as a new reference type.
Letting the compiler guessing if a non-null reference is not null is stupid. I have bunch of code using extension methods to check for null that would not be detected by compiler.

Please implement this in the CLR and just expose ! reference in language. Co

[2015-04-28 21:22] Pilchie opened #2341 ""Place 'System' directives first when sorting usings" should move to the Code Style page"
It's currently on the "Advanced" page because that's where it was previously, but it's really more a style thing.

[2015-04-28 22:34] danieljohnson2 commented on #227
The problem with pushing this down into the CLR is that it then becomes impossible to upgrade the base class library to use mandatory types without breaking every existing program.

This is why erasure is so desirable- if 'nullability' is compiled down into attributes and runtime checks, then existing code can smoothly ignore it and still work just fine. But then you need runtime checks to protect

[2015-04-28 22:41] gafter commented on #2306
I'm adding a note in the compiler spec, but it won't be language-spec-like, nor will it be a comment in the code.

[2015-04-28 22:51] #2129 closed

[2015-04-28 23:04] #1239 closed

[2015-04-28 23:04] #1241 closed

[2015-04-28 23:04] #1744 closed

[2015-04-28 23:22] paulomorgado commented on #2167
Regarding `#import` I'd like to reinforce what others have already said. It makes no sense having an `#import` that __exports__. `#export` (or even `export`) makes a lot more sense.

I'm also in favor of explicit exports. That way producers of scripts don't need to be worried with polluting the caller script and the caller script doesn't need to be aware of the loaded script - just the public faça

[2015-04-28 23:32] tmat commented on #2167
@paulomorgado #import does not export. It imports the content of the target namespace or type into the current scope, just like using does. The only difference is that the scope is the compilation not the file. Very much like VB project-level **imports**.

[2015-04-28 23:35] Pilchie opened #2348 "Crash in VB Workflow editor on select all and delete"
This doesn't repro always, and I haven't figured out the key yet, but while looking at internal bug 953882, I frequently hit this crash.

Callstack:
========

 	Microsoft.CodeAnalysis.Editor.Implementation.IntelliSense.DisconnectedBufferGraph.GetSubjectBufferTextSpanInViewBuffer Line 76	C#
 	Microsoft.CodeAnalysis.Editor.Implementation.IntelliSense.Completion.Model.GetDefaultTrackingSpanEnd Line 1

[2015-04-28 23:35] paulomorgado commented on #2167
That's what I had understood before and was confused now.

Nevertheless, it makes sense to me to export only what I want to export. And in that sense, it might make sense to export those namespaces instead of importing them into the compilation.

In the end, it's the same thing looked at from different perspectives.

[2015-04-28 23:37] paulomorgado commented on #2167
Regarding `async`-`await`, what is the execution context of the REPL?

Is it the UI thread? Can one create forms and interact with them?

Is there any type of synchronization context?

Since this is an interactive environment, if the task is not completed, the user could be questioned on what to do. (a)wait or continue.

If the user chooses not to (a)wait, then the whole line will be "ignored". `a

[2015-04-28 23:41] Pilchie commented on #2348
When this happens, the target has a single `SourceSnapshot` that matches `start`, but it doesn't appear to actually be projected anywhere.

@rchande @jasonmalinowski Are we perhaps missing some event that should cancel the model computation in this case?

[2015-04-28 23:42] #2318 closed

[2015-04-28 23:45] Pilchie commented on #2348
Oh, huh.  I found a simple repro.  Just hit Ctrl+Space in the expression editor with no text :frowning:

[2015-04-28 23:47] #2267 closed

[2015-04-28 23:47] #2264 closed

[2015-04-28 23:53] AlekseyTs opened #2349 "Intermittent failure in DiagnosticAnalyzerTests.DiagnosticAnalyzerAllInOne"
Assert below fails from time to time.
[code]
Here is the stack trace of the exception:

[code]

[2015-04-29 00:01] sharwell commented on #2290
To clarify the last point - it means while special handling for `<see cref="..."/>` or `<see langword="..."/>` would be straightforward improvements, it is unlikely that we would ever see support for *expanding* `<include>` or `<inheritdoc/>` elements as part of the outlining process.

[2015-04-29 00:18] basoundr commented on #202
[`FormattingOptions.NewLine`](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Formatting/FormattingOptions.cs,21) is currently not serialized. To serialize it, change the 'FeatureName' of the option to something unique and have the FeatureName exported through [`VisualBasicSettingsManagerOptionSerializer `](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices.VisualBasic/Opt

[2015-04-29 01:11] jasonmalinowski commented on #2348
Is this just a problem where the projection being created by the expression editor is broken? Or has a bad edit resolver or something?

[2015-04-29 01:39] tmat opened #2352 "VS crash during inline rename: KeyNotFoundException"
**Reduced Repro**

[code]

```Program``` and ```Program2``` must be in the same project, and File1.cs must not contain any references to ```A```.

**Original Repro from @tmat**

Crash dump and repro:
%internal_share%\public\tomat\Bugs\2352

Repro:
1) Unzip Repro.zip, open src\System.Reflection.Metadata\System.Reflection.Metadata.sln
2) Open TypeDefinition.cs, go to line 79
3) Rename ```GetNamespac

[2015-04-29 02:08] #2284 closed

[2015-04-29 02:38] danieljohnson2 commented on #227
I hate to reply to myself, but it has occurred to me that the finalizer problem I mentioned (described at http://blog.coverity.com/2013/11/20/c-non-nullable-reference-types) is actually fixable.

You would need to avoid registering objects for finalization until all the field initializers have run, which is to say, after we've chained up to Object.ctor(). Once we get there, all bets are off and al

[2015-04-29 03:07] #55 closed

[2015-04-29 03:56] kasajian commented on #17
Gotcha.  class-scope-level field type-inference would be cool, and should be done first.

Kenneth Kasajian -- Mobile call or text: 949-288-3717, Skype: kkasajian

[2015-04-29 04:54] #2291 closed

[2015-04-29 04:55] AlekseyTs commented on #2291
@cston Please verify.

[2015-04-29 05:01] carlos-j-quintero opened #2355 "EnvDTE.CodeElement.Kind returns vsCodeElementFunction instead of vsCMElementDeclareDecl for Declare Sub/Function of VB.NET"
See MS Connect Bug:

https://connect.microsoft.com/VisualStudio/feedback/details/1287398/envdte-codeelement-kind-returns-vscodeelementfunction-instead-of-vscmelementdeclaredecl-for-declare-sub-function-of-vb-net

[2015-04-29 05:28] carlos-j-quintero opened #2356 "EnvDTE.CodeFunction.Attributes collection always empty for EnvDTE.CodeProperty.Getter and Setter"
See MS Connect bug:

https://connect.microsoft.com/VisualStudio/feedback/details/1287454/envdte-codefunction-attributes-collection-always-empty-for-envdte-codeproperty-getter-and-setter

[2015-04-29 05:34] UnstableMutex commented on #347
Where can I vote something like "GOD no microsoft dont do that please"?

[2015-04-29 06:44] firda-cze commented on #155
Hi, I have recently made the same proposal (as #2322) because I was not searching for 'fluent' but for 'this as return type'. So...

Extension method can solve the problem, but it requires to always have two versions of the same method. One being the implementation (which can access all it needs) and being either `public` or `internal`, the other being generic extension that simply calls the imple

[2015-04-29 06:46] firda-cze commented on #2322
I have moved to https://github.com/dotnet/roslyn/issues/155#issuecomment-97324614

[2015-04-29 06:46] #2322 closed

[2015-04-29 06:52] weitzhandler commented on #17
https://github.com/dotnet/roslyn/issues/17#issuecomment-89464622
Ditto.
I'd want `Predicate<T>` to be compatible with `Func<T, bool>` etc.

If that's what you meant.

[2015-04-29 07:14] nedstoyanov commented on #206
Slight typo in section 5.1

    int? x = 3;
    if (x is int v) { // code using v }

Should be the variable `v`

[2015-04-29 08:20] #1493 closed

[2015-04-29 08:21] bkoelman opened #2358 "VS crash on startup when My Documents folder is unavailable"
My virtual machine had mapped [My Documents] folder to D:\UserName\Documents. Then later, in another VM, the D drive was removed. VS2015 CTP6 starts with a message that it will use temporary settings because settings could not be loaded. After a few seconds the same message box is displayed again. Then, after clicking OK, VS crashes and the OS's "... stopped working" dialog is displayed.

[2015-04-29 08:56] bkoelman commented on #2358
Exact message:

---------------------------
Microsoft Visual Studio
---------------------------
The automatically saved settings file 'd:\bart\documents\visual studio 2015\settings\CurrentSettings.vssettings' cannot be found. You can change this file on the 'Import and Export Settings' Tools Options page. The IDE will use your most recent settings for this session.
---------------------------
OK
-

[2015-04-29 09:00] mavasani commented on #247
@tmeschter So, I finally got a repro for this, though it repros only intermittently for me.

For the cases where I got a repro, the issue seems to be that `IDELatestDiagnosticGetter`(http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/EngineV1/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs,517), ends up re-using **stale** previously cached/persisted diagnostics for some closed fi

[2015-04-29 09:24] heejaechang commented on #247
Yes. Previous dependent semantic version checking across VS session was too easy to get broken. Now we will only use one from same vs session. To confirm. You can delete .vs folder and see whether it repros.

-          heejae

[2015-04-29 09:43] mavasani commented on #247
@heejaechang Yes, that fixed it but started to repro again after a while. I'll wait for next drop with your fix and give it a try again.

[2015-04-29 09:51] heejaechang commented on #247
Ya, once it has .vs saved. it can.

-          Heejae

From: Manish Vasani [mailto:notifications@github.com]
Sent: Wednesday, April 29, 2015 2:44 AM
To: dotnet/roslyn
Cc: HeeJae Chang
Subject: Re: [roslyn] Running Fix All across a project or solution doesn't always fix all (#247)

@heejaechang<https://github.com/heejaechang> Yes, that fixed it but started to repro again after a while. I'll wait fo

[2015-04-29 11:22] heejaechang commented on #1119
@AArnott live error shouldn't show up since it is simply ignored and live compilation doesn't know about the missing file. but any reference to symbols defined in the missing file should show up as unknown symbols.

but once built, errors from csc should show up in error list. and it works fine in current vspro_1.

![image](https://cloud.githubusercontent.com/assets/1333179/7389888/446cd596-ee27-1

[2015-04-29 11:22] #1119 closed

[2015-04-29 11:50] firda-cze commented on #155
BTW: I am currently working on my own language (have working VSPackage with scanner and single-file-generator to C#) and added this feature, while not using 'void' as return type, but the enclosing class, changing all `return` statements to `return this` (while creating extended CodeDom in my parser) + add one `return this` as last statement (if it is not there... and is reachable, but that is TOD

[2015-04-29 11:58] HaloFour commented on #227
@danieljohnson2

That won't help.  Finalization is less of a problem due to incomplete initialization and more of a problem due to the fact that you're in the middle of a collection and the odds are quite high that one or more of the references contained in those fields have already been collected.

[2015-04-29 12:52] dsaf commented on #144
From #2209:

public primitive Radian
{
   …
   public static Radian operator _rad;

   {
       return new Radian((value % 360) * Math.PI / 180f);
   }

   {
       // do the corresponding calculation here ...
   }
   ...
}
[code]

[2015-04-29 13:04] eyalesh commented on #347
@UnstableMutex, when you would have a valid reason and a constructive comment then maybe someone will listen, besides, no one is forcing you to use it, heck, you can even remove it yourself! it's open source, you know...

So I'll go head and ask you why in the world you wouldn't want it?

[2015-04-29 14:28] acelent commented on #2234
@VSadov, the volatile declaration can be far from the volatile accesses as any other declaration: type, visibility, static, readonly, etc.  For instance, worse than volatile is that you must use conventions to distinguish a field from a property.

So, 2) does something very useful for the developer, which is to make sure every access is volatile (not just writes, as it is in Microsoft .NET but not

[2015-04-29 14:46] kbirger commented on #347
While I am happy to see a language I love growing, I am concerned that it seems to be growing in all different directions. Do we really need to add more syntax, making the language harder to read and optimize?

In my experience, if you group something once, you'll end up grouping it again. If you group it more than once, you should declare a structure or class. We are, after all, working in an obj

[2015-04-29 14:48] paulomorgado commented on #2133
@svick, since `Cast()` will be called, at most, once, I don't think the benefit justifies the cost.

But it would be nice if I could write something like this:

    FirstOrNull<T> := Cast<T?>().FirstOrDefault();

and use it like this:

    seq.FirstOrDefault();

[2015-04-29 15:12] dsaf commented on #2209
Would it lift the unpleasant constants limitation?

https://github.com/dotnet/roslyn/issues/2209#event-292474076

I want to be able to pass e.g. a DateTime or a TimeSpan or a Vector2 to a custom attribute, but there is no way to do this at the moment.

Should it be a separate issue or the current one covers it?

[2015-04-29 15:15] kbirger commented on #357
Wow. Fantastic posts from @sharwell and @HaloFour.

If you guys have any of your working samples around still, I'd love to see and try to understand a little bit better.

In general, I see more value in the attribute approach as it would scale better with multiple levels if the inlining doesn't work out as guaranteed, but one thing that I wonder about is the casting issue. Would it work with a dir

[2015-04-29 15:15] Pilchie commented on #2358
This is not a Roslyn issue.  Can you file this on http://connect.microsoft.com instead?

[2015-04-29 15:34] Pilchie commented on #2348
Quite possibly - I don't know enough about how it's supposed to be set up.

[2015-04-29 15:46] Ultrahead commented on #2209
Interesting question, @dsaf .

To be honest, I believe it goes beyond the scope of my suggestion since it would most likely requiere a deeper change in the compiler than adding a "primitive" type.

The thing is that only "simple" built-in types (plus strings) can be declared as constants, leaving out, for this case, user-defined primitives which are initialized at runtime. In order to remove such

[2015-04-29 15:49] eyalesh commented on #347
@kbirger, You're focus too much on the syntax (that you have to learn and read) and that people may abuse it but what about the important issues like maintenance? productivity? or actually making the code more readable? are these not real concerns? for two minor points you made I made three major ones.

I doubt people want to write objects that are not part of the actual domain of the software, no

[2015-04-29 15:53] UnstableMutex commented on #347
guys, sorry for my non constructive comment i have details to add to @kbirger message. i'll write it.

[2015-04-29 15:53] gafter commented on #206
@nedstoyanov Thanks; fixed.

[2015-04-29 15:55] Pilchie commented on #2290
It's more than just that - the existing quick info code also does things like simplify the typenames in crefs based on usings, etc.  We'll need to make sure there is a path that doesn't do that semantic work.

[2015-04-29 16:00] kbirger commented on #2060
I don't think that dynamic would be possible, because it is handled runtime, which would prevent the ability for the expressions to be handled during compilation.

[2015-04-29 16:06] dpoeschl commented on #2222
Please reopen this if you can repro or encounter the issue again. Thanks!

[2015-04-29 16:06] #2222 closed

[2015-04-29 16:07] kbirger commented on #112
This seems like a trivial thing to add. My understanding is that the IL must already support this since properties are just syntax sugar for getter/setter methods. This means MS must have not added it for a stylistic reason, or because they foresee it being abused in all the ways outlined by previous participants.

[2015-04-29 16:08] pharring opened #2362 "Add a functional test that checks for cross-language assembly loads"
Most of our IDE performance tests have a step that checks that we don't load cross-language assemblies (i.e. we don't have VB assemblies loaded in a pure C# solution and vice versa).

Unfortunately, when it fires, it results in widespread failures in the perf lab. The turnaround time to investigate is usually more than 48 hours (often much longer) resulting in loss of performance coverage. To catc

[2015-04-29 16:14] bkoelman commented on #2358
@Pilchie It gives message "You are not authorized to submit the feedback for this connection."

[2015-04-29 16:23] #2223 closed

[2015-04-29 16:25] Pilchie commented on #2358
Can you tell what "connection" you are in?  It should be the Visual Studio one

[2015-04-29 16:28] vas6ili commented on #347
@kbirger Ruby is not the only language that supports tuples or named tuples. Quite a lot of newer languages have built-in tuple syntax and some form of pattern matching or destructuring. Besides, F# functions the same way as C# internally (Common Language Infrastructure) and nobody complains about tuple support in F#.

In my opinion, being able to group related data into structures without giving

[2015-04-29 16:46] bkoelman commented on #2358
@Pilchie Repro (text could differ slightly, because I see it localized in Dutch):
1] Click link http://connect.microsoft.com
2] "19 products currently accepting bugs", click Browse
3] At the bottom of the list, click "Visual Studio and .NET Framework"
4] Click large pink button "Submit a bug"
5] Redirect to Microsoft account login, enter username/password
6] Message "You are not authorized to subm

[2015-04-29 16:49] Pilchie commented on #2358
Can you email me (kevinpi@microsoft.com), and we'll follow-up and figure this out?

[2015-04-29 16:50] UnstableMutex commented on #347
@vas6ili I think being able to group related data into structures without giving it a name Is a huge mistake. what if you break SRP principle? are you sure that you need one object not two or more? if i cant think out name of the class i consider i need some refactoring...

[2015-04-29 16:51] #2231 closed

[2015-04-29 16:55] #2306 closed

[2015-04-29 16:57] bkoelman commented on #2358
@Pilchie I emailed you.

[2015-04-29 17:10] dsaf commented on #2209
I was thinking that this:

Would lead to this:

It's interesting that custom attribute constructors accepting non-primitive parameters are allowed to be declared but not to be used :)

[2015-04-29 17:10] SirCmpwn commented on #276
Bump.

[2015-04-29 17:13] #2349 closed

[2015-04-29 17:13] UnstableMutex commented on #347
Another reason to avoid any tuples is missed xml comments on it

[2015-04-29 17:15] AlekseyTs commented on #2349
@VSadov Please verify.

[2015-04-29 17:19] Ultrahead commented on #2209
At first, for a moment, I thought the same as you have, but then I realized that there would be more in a type to be considered simple by the compiler than be redefined as a primitive, or otherwise, structs like DateTime, TimeSpan and Vector2 would already be allowed to be declared as constants in the current version of .NET.

[2015-04-29 17:20] Ultrahead commented on #2209
And of course, if I'm wrong, then that would be a welcome feature to have as a result of the proposed primitive type (that is, without the need of submitting a separate issue).

[2015-04-29 17:21] GSPP commented on #2331
The existing pattern of multiple usings without braces properly solves this issue. All syntax formatting tools support it. It looks like. This proposal does not carry its weight. In fact I consider the new syntax to be worse.

[2015-04-29 17:22] eyalesh commented on #347
@UnstableMutex, How SRP has anything to do with this? you should really know what you're talking about before writing big words! It's not a huge mistake, it's a huge benefit, see I can flip your words just like that because you throw random statements and expect people to understand your reasons.

If you want people to take you seriously, you should write what you know,

[2015-04-29 17:23] bkoelman commented on #2235
Thanks all for your comments. Below my first attempt, based on `UseNameOfAnalyzer` from @DustinCampbell.

This version reports only on `*ArgumentException` ctor calls, not matching names in general. If the argument is an identifier instead of a string literal, it tries to find callers, in order to support the `Guard.ArgumentNotNull(...)` scenario.

I also wrote some single-file tests (excluded her

[2015-04-29 17:27] HaloFour commented on #2209
@dsaf

I believe that such changes would require modifications to the CLR, particularly where those constants are to be used with attributes.  The limitations on what kinds of values can be encoded and deserialized for attributes are set by the runtime and are a relatively short list of very easy to serialize values, namely integral types, `char`, `enum`, `bool`, `string`, `Type` (by way of the fu

[2015-04-29 17:38] UnstableMutex commented on #347
I writed how: I'll repeat: if you cant name some class probably you must divide it into few small parts.

[2015-04-29 17:42] DrLeh opened #2365 "Proposal: Make `params` keyword only reserved in method signatures"
As far as I know, `params` can only be used as a keyword in a method signature, so why is it restricted other places? Can `params` be changed so that it's only reserved in the contexts that it's valid for use? There is already a precedent for this with other keywords, like `value` within property setters:

[code]

[2015-04-29 17:54] gafter commented on #347
@eyalesh Please keep it civil.

[2015-04-29 18:02] gafter commented on #276
@SirCmpwn We're scheduled to look at this in more detail post VS2015.

[2015-04-29 18:03] eyalesh commented on #347
@gafter, Since when questioning another person motives isn't civilized?

[2015-04-29 18:09] gafter commented on #347
@eyalesh We're here to do the right thing for users, no matter what the motives. Questioning motives is only one form of ad hominem argument you used; ad hominem attacks are unwelcome.

[2015-04-29 18:17] Ultrahead commented on #2209
Indeed, but having a primitive type in the language would ease such task if used as a required constraint (that is, not allowing type declared as structs for generic pointers even if they hold no reference types within). So, the only way to have generic pointers would be by the use of primitives.

[2015-04-29 18:22] GSPP commented on #2212
@diab0l can you give more examples for what this would be good for? I always wondered what practical things you can do with higher kinded types.

For C# 6 they are not going to touch the CLR but there are other potential changes queued up (e.g. structural types and default implementations for interface methods). Maybe C# 7 can batch all of them into a new incompatible runtime.

[2015-04-29 18:24] eyalesh commented on #347
@gafter, It was never my intention but each person is entitled to his own opinions so you can take think whatever you like, best regards.

[2015-04-29 18:28] vas6ili commented on #347
@UnstableMutex In some situations it is a bad design, in others not. I don't think library developers will start replacing classes with named tuples if this feature gets into c# vnext. Sometimes the name of the class is defined by its shape and structure and I'd rather have `(string customerName, int nrOfVisits)` then `CustomerNameAndNrOfVisits` class. Especially in application code, I find myself

[2015-04-29 18:35] GSPP opened #2368 "Destructuring should work with await Task.WhenAll (somehow)"
It was recently proposed to add tuple destructuring to the language:

    var (x, y) = GetCoordinates();

Inspired by [this Stack Overflow question](http://stackoverflow.com/questions/29654025/parallelism-and-the-entity-framework) this should also somehow support `await Task.WhenAll`:

Old code:

	var fileTask = new Repository().GetFile(id);
	var filesTask = new Repository().GetAllFiles();
	var pr

[2015-04-29 18:38] GSPP commented on #2177
The C# compiler does not allocate any ref type on the stack right now. Neither does the JIT (unfortunately!).

This should not be a language feature but a JIT optimization. Escape analysis should show that the array does not escape the current stack frame.

[2015-04-29 18:40] conniey opened #2369 "Add overload to Diagnostic Analyzer template to support extra MetadataReferences"
My team has been writing some Roslyn diagnostic analyzers and all the new developers on our team have encountered this situation, so I thought I'd bring up this suggestion.

The Roslyn analyzers template auto-generates a test project along with verifiers. By default, they only compile the test source code with 4 assemblies (ie. mscorlib, System.Core, etc).
We found ourselves in a situation where a

[2015-04-29 18:44] GSPP commented on #159
If immutable types are defined to have no identity (meaning that they cannot be reference compared and hashing is based on value) then the CLR is free to allocate them like structs *or* like classes. However it sees fit. The difference would not be detectable. It can even use a mixed model. This would be subject to an optimization policy.

[2015-04-29 19:06] UnstableMutex commented on #347
@vas6ili In some situations it is a bad design, in others not.
Agreed.
I don't see how splitting into smaller classes is a solution when I have to return 2 simple values.
Agreed if simple values.
but if class name pattern is somethingANDotherthing I shall always think that breaks srp.
in the customer example I think in general:
class Customer
{string Name}
class VisitInfo
{Customer, Visitnumber}
t

[2015-04-29 19:09] svick commented on #2368
Based on the [current proposal](https://github.com/dotnet/roslyn/issues/347), I believe that would just work, as long as `Task.WhenAll()` returned a tuple type. Since that can't be done in a backwards-compatible way, you would need a bunch of overloads of a new method (`Task.WhenAllTupled()`, or some better name), that would return the correct tuple type.

There's also [some mention](https://githu

[2015-04-29 19:22] eyalesh commented on #347
@UnstableMutex, The name of the class doesn't violate SRP per se, what violates it is when you design a class that has a well defined responsibility and after awhile it doesn't match its original design and do more than it was intended for.

SRP is the product of a design and implementation mismatch but this discussion is about having a feature that will allow you to reduce the amount of classes y

[2015-04-29 19:47] UnstableMutex commented on #347
@eyalesh yes The name of the class doesn't violate SRP, but name like that says that class **may be** violate srp.
I dont know reasons to reduce amount of classes in general. class is unit of OOP like var, property, method. Are you often reduce variable number?
but I think we're going offtopic.
About topic feature: If that will be implemented I want ability to fast refactor tuple to class...
even

[2015-04-29 19:57] balajikris commented on #1750
_Update_:  This was fixed by the editor team today. I will resolve the bug once I am able to verify it in our internal drops.

[2015-04-29 19:58] gafter commented on #347
There are many ways to skin this cat. Today you return multiple values this way

[code]

With tuples you can return multiple values this way

[code]

but maybe we'd allow you to use that invocation syntax for the existing method in the first example, above.

With records and pattern matching you'd do it something like this

[code]

[2015-04-29 20:00] GSPP commented on #2368
Right, from a language perspective I'm not proposing anything. I'd just like to present this as a nice case for destructuring. I have no working idea of how the language could be made to support this. This is really discussion and not a concrete request.

[2015-04-29 20:08] AlekseyTs opened #2371 "PreferredUILang tests fail on Windows10"
Test 'Microsoft.CodeAnalysis.CSharp.CommandLine.UnitTests.CommandLineTests.PreferredUILang' failed: Assert.Contains() failure:
Not found: CS2038
In value: Microsoft (R) Visual C# Compiler version 42.42.42.42
Copyright (C) Microsoft Corporation. All rights reserved.
warning CS2008: No source files specified.
error CS1562: Outputs without source must have the /out option specified
C:\R1\Open\src\Com

[2015-04-29 20:09] AlekseyTs commented on #2371
For  some reason new CultureInfo("zz") doesn't throw CultureNotFoundException on Windows10.

-  preferredUILang {zz} System.Globalization.CultureInfo
+  Calendar {System.Globalization.GregorianCalendar} System.Globalization.Calendar {System.Globalization.GregorianCalendar}
+  CompareInfo {CompareInfo - zz} System.Globalization.CompareInfo
  CreatedDomainID 0x00000000 int
  CultureTypes NeutralCult

[2015-04-29 20:46] danieljohnson2 commented on #227
@HaloFour

I don't think that's right; my understanding is that as long as the object is being finalized, it's still live and everything reachable from it is live too; none of that stuff is actually collected until the next GC cycle, and even then only if you didn't resurrect it (by saving a reference to it somewhere).

[2015-04-29 20:57] amcasey opened #2375 "C# and VB Emit unit tests are failing on Jenkins"
Specifically, the InternalsVisibleToAndStrongNameTests.  For example:

[code]

[2015-04-29 21:08] mattwar commented on #762
fixed by #2343

[2015-04-29 21:08] #762 closed

[2015-04-29 21:10] tmeschter opened #2377 "AnalyzerChangesOnDisk unit test is problematic"
The AnalyzerChangesOnDisk unit test in Roslyn.Compilers.CompilerServer.UnitTests.dll has been problematic and is currently holding up our signed build. It will be disabled shortly pending further investigation.

Suggestions for improving and hardening this test:

* Add timeouts to some of the individual parts of the test that wait for other processes to complete. This may help prevent the test for

[2015-04-29 21:20] gafter commented on #564
@marstr Do you have a change I can pick up to complete this?

[2015-04-29 21:25] marstr commented on #564
Gah, sorry I got side tracked and never finished this. I suppose it's for the best to have someone else pick this up.

[2015-04-29 21:28] jasonmalinowski opened #2380 "Workspaces output pane should be renamed to something more descriptive"
Right now workspace errors are printed to an output pane in VS called "Workspace". Since this is the API name, it doesn't actually correlate to anything the user understands. Worse off, since people see "workspace" and think TFS this makes them thing there's something wrong with their TFS workspace. (@clboles says they get bugs routed their way that are actually our bugs.)

The old C# language ser

[2015-04-29 21:36] shyamnamboodiripad commented on #1737
This just tripped me again. As part of a bug fix, I had to make some changes around cancellation tokens and how they are used for 'fix all' suggested action in the light bulb. While testing my fix in the RoslynDev hive, I noticed wait dialog coming up when I wasn't expecting it to (i.e. my change should not have done anything to cause wait dialog to come up).

After spending bunch of time debuggin

[2015-04-29 21:50] #1079 closed

[2015-04-29 22:08] tmeschter commented on #2362
Not really an infrastructure issue.

[2015-04-29 22:37] agocke opened #2385 "Types references in the FixedBufferAttribute do not use standard desktop unification for identity comparison"
An example test to demonstrate the issue:

[code]

This should not produce an error as the emitted type in the first assembly will be `System.Byte` from `mscorlib, Version=2.0.0.0...` and the second compilation references `mscorlib, Version 4.5.0.0...`, which means that `System.Byte` should be unified to the v4.5 type. However, `PEFieldSymbol` doesn't use the appropriate unification algorithm, so

[2015-04-29 22:46] agocke commented on #2385
@tmat FYI

[2015-04-29 22:54] gafter commented on #2368
OK, probably a really naive question, but here goes...

I don't understand why any of the proposed alternatives are "better".

Also, why not write

[code]

Doesn't that have the same effect?

[2015-04-29 23:55] paulvanbrenk opened #2389 "Setting a breakpoint is added to the undo stack"
Repro:

Create new C# app
Set Breakpoint
Undo

Actual:
Breakpoint disappears.

Expected:
Nothing happens

I expect the Undo stack to only contain 'code changes', not things like setting breakpoints.

[2015-04-30 00:01] tmeschter commented on #2324
I strongly suspect, but have not yet verified, that this is because we have a `FileSystemWatcher` open for the analyzer's directory so that we know when the assembly changes.

[2015-04-30 00:17] amcasey opened #2391 "Microsoft.CodeAnalysis.CSharp.UnitTests.SyntaxBinderTests.IncorrectArrayLength failing on Mac"
[code]

[2015-04-30 00:20] HaloFour commented on #227
@danieljohnson2 I swear I've been bitten by this before but I could be mis-remembering.

[2015-04-30 00:27] amcasey commented on #2391
If we decide we're not interested on running this test on Mac, use ```[ClrOnlyFact]```.

[2015-04-30 00:35] srivatsn commented on #2310
Is Roslyn coming from the name of the VSIX?

[2015-04-30 00:38] srivatsn commented on #2281
I suspect this is due to some binary mismatch. @tmeschter can you take a look?

[2015-04-30 00:54] heejaechang commented on #2310
@srivatsn @shyamnamboodiripad for "IntelliSense Build", I have no preference. used it because it is what other team uses for live errors. and what platform names "live" errors in their API. actually it is only us who calls these kind errors live errors.

for [Roslyn Language Services], it is name of Vsix that generates the errors. we could special case our vsixes (I meant in box roslyn vsix not, i

[2015-04-30 01:26] shyamnamboodiripad commented on #2037
I was looking into TFS bug 1164126 which was about a crash when code generation service is trying to generate a property into some node that's not TypeDeclarationSyntax (most likely in a broken code scenario).

Looking at the code, AbstractCodeGenerationService.CheckDeclarationNode() is called all over the place and all overloads of AbstractCodeGenerationService.CheckDeclarationNode() throw Argume

[2015-04-30 01:51] Pilchie commented on #560
This has been fixed by a change to MSBuild targets and the `ResolveAssemblyReferences` task.  Note that the fix is NOT part of VS2015 RC, so you'll need to continue to use the workaround until the next release.

[2015-04-30 01:51] #560 closed

[2015-04-30 02:02] Pilchie commented on #2355
BTW @carlos-j-quintero, no need to file in both Connect and here.  We prefer to deal with things here (unless they are security issues, or have sensitive user data of course).

[2015-04-30 02:12] tmat opened #2393 "VS unresponsive for minutes after build"
ETL and memory dump at %internal_share%\public\tomat\Bugs\2393

[2015-04-30 02:22] Pilchie commented on #2332
Note that this involves more than just IDE support.  The idea is a whole syntax and semantic model for IL. This will not happen for 1.0 at this point, but is something others have talked about in the past.

[2015-04-30 02:24] Pilchie commented on #2393
Can you look at the profile and see if there is something that can be addressed here?

[2015-04-30 02:59] AdamSpeight2008 commented on #2332
For example, this checks to see it `tail.` is used correctly.
[code]

[2015-04-30 04:14] carlos-j-quintero commented on #2355
Hi @Pilchie ,

So far I was using MS Connect because of a couple of reasons:

1) Bugs that I report on MS Connect are evaluated as a contribution for my next MVP award. They are even automatically added to my MVP profile.

2) As MVP and as a member of the VSIP program, I receive private CTPs, previews, etc. that are under NDA, which a specific form to fill bugs on MS Connect. I use that form furth

[2015-04-30 04:47] erik-kallen opened #2397 "Suggestion: Allow ignored lambda parameters to have the name _"
When writing lambdas you quite often end up not caring about all parameters, but you need names for them anyway. In F# you can use `_` as the name for such parameters, and that is also possible in C# but only as long as there is only one such parameters. If there is more than one you need to come up with names (or use names such as `_1`, `_2` etc).

My suggestion is to allow multiple symbols in th

[2015-04-30 05:16] xen2 commented on #129
One interesting thing is that it is closer to meta-programming (it will compile optimized methods against the actual type & direct calls instead of sharing implementation -- useful to build performance-critical algorithms with good code reuse).

[2015-04-30 07:01] #1860 closed

[2015-04-30 07:03] AdamSpeight2008 commented on #2397
Doesn't work for vb.net `_` is the line continuation character,

[2015-04-30 07:32] xbelt commented on #2397
Well it does not necessarly need to be the underscore. I could also imagine somethind like:
(a, ?,?) => a + 1
or simply
(a, ,) => a + 1
Personally I find this a nice idea

[2015-04-30 08:59] heejaechang opened #2400 "remote IVsHierarchy from error list once we moved to new drop"
it is related to #2399

[2015-04-30 10:12] dsaf opened #2401 "[Feature request] Support more of pure value type constants"
The sample below is showing an aspect-oriented scenario, but of course there are other scenarios that would benefit.

It would be less error-prone and more developer-friendly to be able to write this (this specific attribute is just a sample):

[code]

...instead of this:

[code]

It is possible to declare a custom attribute constructor that accepts a DateTime, surely it should be possible to use

[2015-04-30 10:17] heejaechang commented on #1431
@srivatsn @tmeschter @mavasani @JohnHamby @shyamnamboodiripad is this something we want or suggestion?

currently whole system expect Document, we can change system to expect TextDocument to support this.

but support will be limited to error list since our tagger is limited to Roslyn Content type. to support tagger, we need text content type tagger but that will make us to be loaded for all rando

[2015-04-30 11:43] HaloFour commented on #2401
As I mentioned in the other thread I'm fairly sure that this would involve CLR support.  Custom attribute parameters are limited by the runtime to a select few types for simple and predictable serialization/deserialization as the runtime is what is responsible for actually loading the attribute blob and instantiating the class.  That list of data types contains the integral types (`byte`, `short`,

[2015-04-30 11:46] GSPP commented on #2368
I think all of the temporary variables are not exactly nice. I see this pattern coming up on Stack Overflow a lot. People are easily confused by it.

[2015-04-30 11:48] HaloFour commented on #2397
Check out #20 and #2145.

Since the pattern matching spec is very likely to include a wildcard, which thus far as been `*`, I'd recommend reusing that character in these cases.

Note that `_` is a legal identifier today.  Changing the meaning would break code.  The C# team is a lot less willing to do this than the Java team (where this very transition is already underway).

[2015-04-30 11:52] HaloFour commented on #2365
IIRC none of the original keywords in C# 1.x were contextual, meaning that they couldn't be used anywhere even outside of their specific context.  The spec continues to break down the list between reserved keywords (like `params`) and contextual keywords.  The contextual keywords came later so that the scenarios in which a new language feature would break existing code would be minimized.

To note

[2015-04-30 12:32] dsaf commented on #2401
@HaloFour

It seems there is also a [DateTimeConstantAttribute](https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.datetimeconstantattribute(v=vs.110).aspx) inheriting from public abstract [CustomConstantAttribute](https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.customconstantattribute(v=vs.110).aspx).

I think it is used by VB.NET which unfairly alre

[2015-04-30 12:40] HaloFour commented on #2401
So C# should be able to support some forms of `System. DateTime`
"constants" at least, but that still leaves the custom attribute limitation.
On Apr 30, 2015 8:33 AM, "dsaf" <notifications@github.com> wrote:

[2015-04-30 13:20] dsaf commented on #2401
Is it a duplicate of a semi-Closed #263 in a way?

[2015-04-30 13:45] AdamSpeight2008 commented on #2397
@xbelt I also like the look of the second option `(a, , )`, as I think of that form of syntax as a tuple. It is a `tuple<parameter,parameter,parameter>`

[2015-04-30 13:48] HaloFour commented on #263
@mburbea @mikedn

I know this is closed but this came up in #2401.  The attributes that allow the compilers to "fake" literals for `System.Decimal` and `System.DateTime` (for VB.NET) don't produce the embedded metadata necessary to allow either of those types to be used as either default values or custom attribute parameters.  The compiler will allow you to declare a `const` but they're not an IL

[2015-04-30 14:03] 6opoDuJIo opened #2402 "Proposal : Interface declared constructors"
I'd like to be able to declare needed constructors in interfaces, to provide requirements for constructors, like this:

[code]

In some cases it would be useful, like above.

[2015-04-30 14:04] 6opoDuJIo opened #2403 "Proposal : Interface declared constructors"
I'd like to be able to declare needed constructors in interfaces, to provide requirements for constructors, like this:
[code]
In some cases it would be useful, like above.

[2015-04-30 14:04] #2403 closed

[2015-04-30 14:07] 6opoDuJIo opened #2404 "Proposal : parametrized "new" constraints"
I'd like to be able to have constraint type parameters with specific constructor structure, like this :
[code]
In some cases it would be useful, like above.

[2015-04-30 14:25] jaredpar commented on #2391
In this particular case we should use `[ClrOnlyFact(ClrOnlyReason.Ilasm)]`

[2015-04-30 14:55] svick commented on #2332
I wonder how much of this could be accomplished by just switching to [Cecil](https://github.com/jbevain/cecil).

[2015-04-30 14:58] Joe4evr commented on #2404
Dupe of #2206.

[2015-04-30 15:02] chassq commented on #2136
Not sure how this fits in but would like to see Enums made more useful. Something like java Enums. I cannot say how many times I would like to have a bit more information attached to the Enum (e.g. a description). Can be done with [Description] attribute today but just would be nice if Enums were more extensible. The other thing would be the capability to do more generic work with Enums. Hope this

[2015-04-30 15:04] Pilchie commented on #2355
Just filing them here would be easiest for *us*, but I don't want to cause you more work regarding your MVP status either, so feel free to continue what you're doing.  I'll follow up with some MVP people internally.

For private builds, I suspect it'll be rare that a bug repros *only* on a private build, and in those rare cases, I personally don't mind saying that you have an NDA and got a private

[2015-04-30 15:12] khellang commented on #2136
What happened to duck-/structural typing? I seem to recall it was mentioned in one of the design note issues... That would be really awesome. Or even a hack like Assembly Neutral Interfaces :smile:

[2015-04-30 15:21] AdamSpeight2008 commented on #2332
I'm having a go at creating and IL object model [IL.Sarc](https://github.com/AdamSpeight2008/IL.Sarc)

[2015-04-30 15:39] 6opoDuJIo commented on #2404
Got it. Closed.

[2015-04-30 15:39] #2404 closed

[2015-04-30 15:59] VSadov commented on #276
@SirCmpwn - Re: Is Roslyn self hosting? Can it be bootstrapped?
The answer is yes and in fact Roslyn relies on bootstrapping now since we use C#6 features unsupported by pre-Roslyn compilers.
We perform self-rebuild as a part of CI tests on Linux, Mac or Windows.

Note that running Roslyn on Linux is very much "work in progress" at the moment and requires multi-step setup, but doable if you are cu

[2015-04-30 16:08] wschae commented on #1853
@AlekseyTs  Can you validate & resolve this one?

[2015-04-30 16:09] svick commented on #2365
@HaloFour C# 1.0 already had `get` and `set`, which are now considered contextual keywords, but it didn't call them that. Quoting from [the C# 1.0 spec](http://download.microsoft.com/download/a/9/e/a9e229b9-fee5-4c3e-8476-917dee385062/CSharp%20Language%20Specification%20v1.0.doc), §2.4.3 Keywords:

[2015-04-30 16:26] erik-kallen commented on #2397
My suggestion is for C# although it might be useful for vb too but I don't use that language,

Using the underscore for this would not be a breaking change in C# as long as the rule is specified to be that "if more than one symbol in a scope has the name _, an error is not issued but none of those symbols can be accessed". It is not a breaking change because such program is illegal today.

[2015-04-30 16:27] tmeschter commented on #1431
@heejaechang For now I would just make it show line/column information in the Error List. Expanding the tagger to work in all text files is something we can do later.

[2015-04-30 16:33] dsaf commented on #2402
It could play nice with #2206.

[2015-04-30 16:36] HaloFour commented on #2397
Maybe, but it would be silly to have multiple wildcard operators in different contexts.  If pattern matching is going to use `*` then it doesn't make sense for parameter ignoring to use `_`, especially since `_` is a perfectly legal C# identifier.

[2015-04-30 16:38] SirCmpwn commented on #276
Thanks for the info.

[2015-04-30 16:41] #2371 closed

[2015-04-30 16:42] mavasani commented on #1431
I agree with Tom. If possible, we should show location info in error list, and ensure that double clicking on it takes you to the correct line in the doc. Tagger support can come later.

[2015-04-30 17:13] mavasani opened #2406 "Debug.Assert(false) fired at Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.CompilationContext.GetSubstitutedSourceMethod"
This is on our current baseline drop with Roslyn signed build from April 23. Dump shared at: `\\manish-test\share_r\ExpressionEvaluator_Assert\expr_evaluator_assert.dmp`

Hit the below assert, causing all locals being un-evaluated: http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.ExpressionCompiler/CompilationContext.cs,1440

`Debug.Assert(false, "Why didn't we find a sub

[2015-04-30 17:25] 6opoDuJIo commented on #2402
Exactly. I did same proposal today :D

[2015-04-30 17:48] JasonBock opened #2407 ""Implement Abstract Class" Shouldn't be Offered as Refactoring for Classes with Internal Abstract Members"
If I write this (VS2015 CTP6):

[code]

I get the "Implement Abstract Class" option, but since EastAsianLunisolarCalendar has internal members, the code that's generated is messed up:

[code]

I shouldn't get that refactoring option if I really can't implement the members.

[2015-04-30 18:16] #2385 closed

[2015-04-30 18:22] jmarolf commented on #1744
@tmeschter could you please verify this?

[2015-04-30 18:22] jmarolf commented on #1241
@tmeschter could you please verify this?

[2015-04-30 18:23] jmarolf commented on #1239
@tmeschter could you please verify this?

[2015-04-30 18:40] tmat opened #2408 "Move remaining samples from closed to open"
Also, samples referencing VS SDK assemblies should all reference the same versions as the rest of Roslyn, otherwise build fails on a machine with multiple VS versions installed.

[2015-04-30 18:58] shyamnamboodiripad commented on #1431
+1

[2015-04-30 19:03] srivatsn commented on #2408
There's an internal bug assigned to @AnthonyDGreen. I'll resolve that and keep this one.

[2015-04-30 19:13] tmeschter commented on #1412
The fix for this was checked in today (April 30th, 2015) and should be in tomorrow's build. Bumping back to @shyamnamboodiripad for verification.

[2015-04-30 19:13] #1412 closed

[2015-04-30 19:39] #2292 closed

[2015-04-30 19:39] #1735 closed

[2015-04-30 19:48] #1289 closed

[2015-04-30 19:57] tmeschter commented on #2281
@AArnott How were these analyzers added to the project? Did you add them yourself, or did they come along as part of a project template?

[2015-04-30 20:05] AlekseyTs commented on #2371
@tmat Please verify.

[2015-04-30 20:09] JohnHamby commented on #1431
I agree with Tom, Manish, and Shyam.

[2015-04-30 20:38] ManishJayaswal commented on #2336
this is a dupe of internal bug 1154113

[2015-04-30 20:51] amcasey commented on #2336
According to the internal bug, this happens for non-lambda async methods as well.

[2015-04-30 21:05] mavasani opened #2410 "Analyzer actions may get executed in parallel in FixAll occurrences scenario"
Currently we conservatively guard each analyzer from having its actions executed in parallel for command line builds. Even for the IDE live diagnostic analysis, we ensure no concurrency within analyzer. However, for FixAll we invoke document diagnostic computation in parallel for all documents in the scope of fix all (project/solution). This is required as otherwise the perf for FixAll is really b

[2015-04-30 21:16] heejaechang commented on #1431
@srivatsn @tmeschter @mavasani @JohnHamby @shyamnamboodiripad I looked a bit more on this. it require a bit of work to make this one working through out the system. many of them expects SyntaxTree or location to be in source. location we create for additional files are externalfilelocation which can point any random file in the file system.

need to go through whole system to make sure everything

[2015-04-30 21:18] shyamnamboodiripad commented on #1601
@tmeschter In step 2, I created a folder on Disk and copied a ruleset file to it. I then created a solution folder with the same name (matching the location on Disk - although this is probably not required) and added the ruleset file via right-click->Add->Existing Item...

In step 3, I added the property to configuration-specific property groups for Debug and Release.

Below screenshot may help cl

[2015-04-30 21:31] paulvanbrenk commented on #2389
This is not handled by Roslyn.

[2015-04-30 21:31] #2389 closed

[2015-04-30 21:31] wschae opened #2411 "[VB] Adjusting conditional branches for EnC."
We did adjust conditional branches for C# EnC but haven't done for VB. We need a similar change for VB.

[2015-04-30 21:35] tmat commented on #2411
Can you give an example of what's wrong?

[2015-04-30 21:42] mavasani opened #2412 "FixAll in project/solution causes duplicate document analysis for compilation end analyzers"
Currently, the FixAll code path does duplicate execution for end action analyzers on each documents:

1. The primary pass over all documents to compute document diagnostics from running actions on documents.
2. The indirect force complete pass done while computing the project diagnostics. We force complete all document analysis during end action diagnostic computation to ensure that all the regist

[2015-04-30 21:48] shyamnamboodiripad commented on #1601
Ah looks like VS disallows renaming any file in a solution folder if it is being used as a linked file in some project in the solution. That explains the error you were running into above @tmeschter. I think this error may have been introduced be some recent platform change (not sure - I don't recall running into this when I tried this before).

In any case adding the ruleset as a 'linked' file is

[2015-04-30 21:49] wschae commented on #2411
The repro:

1. VB console app with code below

Module Module1

    Sub Main()
        FallThroughRemap()
    End Sub

    Sub FallThroughRemap()
        Dim result As Integer = 0
        If Bar() Then
            Console.WriteLine() ' set breakpoint here, Shouldn’t be hit.
        Else
            Console.WriteLine()
        End If
        ' result = 2
        Console.WriteLine(result)

    End Su

[2015-04-30 22:23] mavasani commented on #247
@tmeschter I am unable to repro this on the latest signed drop. Moving it back to you, once again, to verify!

[2015-04-30 22:23] #247 closed

[2015-04-30 23:14] #2330 closed

[2015-04-30 23:22] #2240 closed

[2015-04-30 23:27] #714 closed

[2015-04-30 23:27] #1468 closed

[2015-04-30 23:27] #1587 closed

[2015-04-30 23:40] VSadov commented on #614
Consider pushing to 1.1 if this is just an infrastructure/test issue

[2015-04-30 23:41] VSadov commented on #2183
Consider pushing to 1.1 if this is just an infrastructure/test issue

[2015-04-30 23:42] VSadov commented on #1108
Consider pushing to 1.1 if this is just an infrastructure/test issue

[2015-04-30 23:42] VSadov commented on #856
Consider pushing to 1.1 if this is just an infrastructure/test issue

[2015-04-30 23:54] rchande commented on #588
Fixed with number #2372

[2015-04-30 23:55] rchande commented on #588
@danquirk can verify that this is fixed and then close the issue and add the "verified" tag?

[2015-05-01 00:33] KirillOsenkov opened #2420 "Incorrect check for deterministic symwriter in PdbWriter.cs line 776"
Shouldn't this be deterministicSymWriter:
http://source.roslyn.io/#Microsoft.CodeAnalysis/NativePdbWriter/PdbWriter.cs,776

/cc @gafter @tmat

[2015-05-01 00:39] KirillOsenkov opened #2421 "Microsoft.DiaSymReader.Native package should be added as a dependency to Microsoft.Net.Compilers package"
Microsoft.DiaSymReader.Native package includes native binaries for the PDB support invoked by the deterministic PDB writer.
To be able to take advantage of the /features:deterministic flag the Microsoft.Net.Compilers package needs to include these two native binaries.
/cc @agocke @gafter @tmat

[2015-05-01 00:45] jasonmalinowski commented on #2348
Turns out @rchande has bug #1471 that might be a dupe of this.

[2015-05-01 00:47] Pilchie commented on #2348
Yep, looks identical.  @rchande do you want to look into it?

[2015-05-01 00:49] rchande commented on #2348
Perhaps. @jasonmalinowski mentioned that @brettfo might have a good repro for this.

[2015-05-01 00:49] KirillOsenkov opened #2422 "Pdb files for a simple app different with /features:deterministic"
While comparing .dll and .pdb compiled with /features:deterministic using the compiler build from 2015/04/30, 6 bytes in the pdbs still differ, unfortunately:

![pdbdifference](https://cloud.githubusercontent.com/assets/679326/7425172/f4230d40-ef60-11e4-8c06-0de1cf1ab350.png)

Subsequent (3rd) compilation only changes the 4 byte group again (2 byte group remains same):
![pdbdifference2](https://cl

[2015-05-01 00:50] rchande commented on #2348
Oh, never mind, I see your earlier comment, @Pilchie.

[2015-05-01 01:25] tmat commented on #2422
Yes, that's a known issue. We don't know what data is there and won't probably be able to fix it.

[2015-05-01 01:27] CyrusNajmabadi opened #2423 "IntroduceLocal should take into account parameter name when naming locals."
Say i have:

[code]

If i introduce local for `int.Parse(a)` then we should suggest calling this local 'start' because of the name of the parameter i'm calling.

[2015-05-01 02:01] tmat opened #2424 "Report a semantic error when a field is declared with both array bound and As New initializer"
[code]

Currently VBC reports
error BC36970: Failed to emit module

[2015-05-01 02:03] Pilchie commented on #1796
Hey @sharwell - could you give this a try on the RC build and see if you still see it?

[2015-05-01 02:06] Pilchie commented on #588
Let's close this, since we believe it is fixed.

[2015-05-01 02:06] #588 closed

[2015-05-01 02:07] Pilchie commented on #752
Moving to 1.1.

[2015-05-01 02:09] Pilchie commented on #779
This is related to #1376.

[2015-05-01 02:11] Pilchie commented on #936
We can add this in 1.1.

[2015-05-01 02:17] Pilchie commented on #1436
@pharring  want to finish this up if the Progression changes are in?

[2015-05-01 02:20] Pilchie commented on #1633
Fixing this will require coordination with the web project system.

[2015-05-01 02:24] Pilchie commented on #1639
It looks like the compiler side of this is not happening for 1.0.  Should this also move to 1.1?

[2015-05-01 02:25] Pilchie commented on #1720
@SLaks: does this still repro after applying the workaround for the PCL Facade referencing issue?

[2015-05-01 02:29] Pilchie commented on #2090
While this is irritating, I think it's going to be something we'll have to live with until 1.1

[2015-05-01 02:29] #1859 closed

[2015-05-01 02:30] Pilchie commented on #2091
Another minor irritation that we'll need to clean up in 1.1

[2015-05-01 02:37] SLaks commented on #1720
Yes, and also on yesterday's RC build.

[2015-05-01 02:38] Pilchie commented on #1720
Okay, thanks for the confirmation.

[2015-05-01 03:18] pharring commented on #1436
The Progression change was made, but we're blocked waiting for a new (internal) base drop. Once it's there, we can update.

[2015-05-01 04:37] balajikris commented on #1639
Yes, I did not see any API change with the commit (#1501) associated with #1545. So, I believe this work is being pushed to 1.1. If that is the case, we can also move this to 1.1

cc: @gafter

[2015-05-01 05:49] JohannesMoersch opened #2427 "[Feature Request] Type Interfaces"
You could also call this a static interface, because what it would allow you to do is enforce the implementation of constructors and static methods (similar to [Issue #154](https://github.com/dotnet/roslyn/issues/154)). I'm calling it a Type interface, because the runtime type object would actually be the one that implements the interface. For example:
[code]
This class could then be used as follo

[2015-05-01 08:34] EamonNerbonne commented on #347
Conversions - be careful
---
There's lots to like here, but there's one specific "why not?" this proposal asks that has a good answer I'd like to provide.
[code]

In particular that second line is not a good idea.  One of the strengths of this proposal is that tuple members are named, and that's excellent for type safety.  After all:

[code]
Typically, `y` would be equivalant to `row` and `x` to `

[2015-05-01 08:40] eyalesh commented on #347
@EamonNerbonne, good point! ;)

[2015-05-01 10:18] filipw commented on #907
the scriptcs omnisharp has made it into omnisharp and can now be used with different omnisharp-friendly editors.

Here is a short clip showing me using it in Visual Studio Code http://recordit.co/hcmdrE43Dj

[2015-05-01 11:27] dgrunwald opened #2429 "Type of `-(2147483648)`"
The type of `-(2147483648)` differs between VS2013 and VS2015:

When compiled with VS2013 / csc, the following program prints `System.Int64`.
When compiled with VS2015RC, it prints `System.Int32`.

[code]

This Issue was found when compiling the [NRefactory unit tests](https://github.com/icsharpcode/NRefactory/blob/99189662c7a4a59771df56163fc9d7300f7e6a14/ICSharpCode.NRefactory.Tests/CSharp/Resolv

[2015-05-01 13:37] HaloFour commented on #2429
Dupe of #2075.

[2015-05-01 13:41] glennblock commented on #907
Fabulous Filip!
On Fri, May 1, 2015 at 6:18 AM Filip W <notifications@github.com> wrote:

[2015-05-01 14:24] kbirger commented on #347
@eyalesh you made one great point, and it seals my opinion in contradiction.

Understanding. The more "STUFF" we put into a language, the less of the language the average programmer will understand. There is a cost and benefit to adding a feature.

Delegates were a fantastic add, but most people you talk to will not understand how they are implemented, how delegate caching and compilation works, a

[2015-05-01 14:53] #1486 closed

[2015-05-01 15:09] HaloFour commented on #2427
Sounds very Delphi.

The problem is as you described.  Each defined runtime type isn't it's own class, as they are in Delphi.  As such there is nothing to implement the interface or to own the vtable necessary for virtual dispatch or overriding in child types.

Generally the answer to this request is to use factory interfaces instead of relying on static methods to implement factories.

[2015-05-01 15:13] JohannesMoersch commented on #2427
The problem with factories is that at some point I still either need to reference each type explicitly or use reflection to create each type in an unsafe way.

[2015-05-01 15:22] HaloFour commented on #2427
There's no need for reflection and you can still reference the types generically, you just need to implement these services as instance methods rather than static methods.

[code]

[2015-05-01 15:32] eyalesh commented on #347
@kbirger, I understand the cost but in the same sense this feature can make our life easier!
- It will reduce the amount of classes and structs we need to create.
- It will make the code more readable.
- It will make maintenance a lot easier just because of the two points above.

You see, just because "some" developers don't know what's a delegate not to mention what's a callback or pointer to a f

[2015-05-01 15:45] Pilchie commented on #1436
Great - I know people are currently evaluating a new base drop, so hopefully this can be wrapped up in the next couple of days.

[2015-05-01 16:02] jaredpar commented on #696
This should be fixed now.  Please re-open if this is still reproing for you.

[2015-05-01 16:02] JohannesMoersch commented on #2427
This only covers the case within a generic. If I'm instantiating objects via reflection (which is the case I'm more concerned about) I still have the same issue. Either I have to create my object unsafely,  or I have to create my factory unsafely. Also, this doesn't allow me to get information from the type (like title or description) unless I put this data into the factory. I mentioned a use case

[2015-05-01 16:21] AZBob commented on #347
@EamonNerbonne I think your point is moot because it's no different than a function declaration. When you call a function, the parameters aren't named (usually, though of course you can call functions with named parameters these days), and can be just as easily switched by mistake. For example:

    public int MyFunction(int stuff, int otherStuff) { ... }

The call:

    MyFunction(var1, var2);

V

[2015-05-01 16:23] Pilchie commented on #2423
Great suggestion!

[2015-05-01 16:29] jaredpar commented on #2183
I've run this test 200+ times on my machine with the latest code and have not seen this issue.  If this repros for you again could you use handle / process explorer to see which process is holding onto the file? That would help us track it down if it still exists.

[2015-05-01 16:29] #2183 closed

[2015-05-01 16:47] VSadov commented on #2183
Thanks!!

[2015-05-01 16:58] HaloFour commented on #2427
Well, dealing with reflection something is going to be unsafe either way.  But it's the same problem, at some point something is created unsafely, whether that be a factory instance, or some kind of proxy class pretending to be a runtime type that is serving as a factory instance.

C# could probably just fake it just like Oxygene does (Delphi for .NET) but it won't be of nearly the same value as i

[2015-05-01 17:08] #2355 closed

[2015-05-01 17:11] JohannesMoersch commented on #2427
I'm not sure what you are saying. There wouldn't be anything unsafe about it if you can access the statics as instance members on the type (as I was suggesting). You cast it to the interface and then all property and functions calls (and constructor calls) on that type would be checked at compile time.

[2015-05-01 17:12] andersborum commented on #357
Definitely second this feature - it's a feature we've been asking for years. Although one should favor composition over inheritance, this is a feature that one expects to be available in a modern version of the language.

And no, the current workaround with shadowing the inherited member is not something the team should be proud of pushing to the developers.

[2015-05-01 17:14] eyalesh commented on #347
@AZBob, Yeah, I didn't like the fact that they decided or still deciding whether to go with named tuples but I'd take this over nothing! :)

I really like the following syntax you posted:

	 private int, string MyFunction(...) {
		...
		return 23, "Stuff";
		// Or, as would most likely be the case
		// return var1, var2;
	}

[2015-05-01 17:26] HaloFour commented on #357
@andersborum

The shadowing solution is only to decrease what needs to be done to make this happen.  Supporting it "properly" requires changing the CLR since the CLR considers the return type to be a part of the signature of the method and permits overloading based on different return types.  Modifying those semantics could be considered a breaking change.  Even if that's not a concern any languag

[2015-05-01 17:56] #2420 closed

[2015-05-01 18:05] #2391 closed

[2015-05-01 18:08] HaloFour commented on #2427
Taken to its logical conclusion, complete with CLR changes, sure.  And there are a few other issues in here for many of those exact features (static method generic constraints, static members in interfaces, #2402 ctors in interfaces).

Not saying that I disagree with the concept.  I can think of several places in my code where it could've been useful.

This is also actually a dupe of #2204.

[2015-05-01 18:16] JohannesMoersch commented on #2427
Issue #2204 doesn't include the reflection stuff. Static interfaces for constraints is great (and would allow me to be sure my reflection calls will succeed), but it still leaves me with unsafe code when creating objects through reflection.

[2015-05-01 18:32] #909 closed

[2015-05-01 18:33] AlekseyTs commented on #909
@VSadov Please verify

[2015-05-01 18:36] mattwar opened #2435 "Whitespace and EndOfLine trivia should default to non-elastic"
The public syntax factories for Whitespace and EndOfLine trivia have an optional 'elastic' parameter that defaults to true.  However, it is rare that you would want to construct elastic whitespace, so it should default to false.

It is true that factories for tokens default to having elastic marker trivia, but that's only in the case when you don't specify the trivia at all. If you are in the busi

[2015-05-01 18:38] HaloFour commented on #2427
Doesn't mention it directly but it would need the same metaclass concept to function.  Your reflection scenario effectively requires that metaclasses become a first class citizen in the CLR otherwise `Type` would never be considered an `ITestTypeInterface` otherwise.

[2015-05-01 18:47] JohannesMoersch commented on #2427
I agree that the core concept is the same, but the additional use case I'm proposing could have a significant impact on implementation.

[2015-05-01 18:51] #783 closed

[2015-05-01 19:31] #202 closed

[2015-05-01 19:35] carlos-j-quintero opened #2437 "EnvDTE.CodeElement.Name doesn't include interface name for C# methods explicitly implementing interface member"
When you use the EnvDTE.ProjectItem.FileCodeModel to get the name of a code function, EnvDTE.CodeElement.Name doesn't include the interface name for C# methods that explicitly implement an interface member, such as I1.f1()

Steps to reproduce the problem:

1) Create a package with a menu command that uses this code:

      private void MenuItemCallback(object sender, EventArgs e)
      {

[2015-05-01 19:36] mavasani commented on #2412
Actually, I think my analysis was slightly wrong.
Step 1. actually uses the latest IDE diagnostic getter so won't recomputed unless required.
The re-analysis pass is required as we might be doing incremental analysis in IDE. Anyways, this should automatically get fixed with our v2 engine, so I think we can probably just resolve this one as Won't fix or by design?

[2015-05-01 19:54] #2429 closed

[2015-05-01 19:58] gafter commented on #2422
Our native PDB writing library copies random data from memory into spaces between the PDB sections. We've gone as far as we can without spending a couple of months rewriting it, which we do not plan to do.

I'm keeping this open for now for further comment, but we are more likely to replace the PDB writer with one based on a more compact (deterministic) format rather than try to replace the existi

[2015-05-01 20:09] gafter commented on #2422
@KirillOsenkov By the way, I am so glad to see that you're giving this stuff a try. Thank you! And thank you for letting us know what you're finding.

[2015-05-01 20:10] #564 closed

[2015-05-01 20:38] kangaroo opened #2439 "[regression] Roslyn deterministic pdb hashing breaks hello world on .net core"
Please see the following issue:

https://github.com/dotnet/coreclr/issues/898

It seems Roslyn presumes the presence of the TransformBlock and TransformFinalBlock methods which are not surfaced in .NET core.

[2015-05-01 20:42] rchande opened #2440 "Crash in AbstractSemanticQuickInfoProvider.GetDocumentationContent()"
Line 238:

[code]

symbol.ContainingType can apparently be null.

[2015-05-01 20:45] agocke opened #2441 "EE uses moduleSymbol.GetReferencedAssemblies() in GetIndexOfReferencedAssembly"
The compiler used to do this, but it's inappropriate since it preemptively unifies assemblies, meaning GetIndexOfReferencedAssembly may not find the assembly in the list. The EE should check if this is also a change that should be made there.

See https://github.com/dotnet/roslyn/commit/4d9f92693b7502edd42cf87d17fe8fe502e2ed37 for more information.

[2015-05-01 20:54] richlander commented on #2439
/cc @gafter @jaredpar

[2015-05-01 21:13] gafter opened #2442 "Unicode escape sequence in middle of a #define (#de\u0066ine) is not accepted"
## Steps to reproduce:

### Create the test.cs as follows:
[code]

### Compile
`csc test.cs`

### Actual results:
`test.cs(1,2): error CS1024: Preprocessor directive expected`

### Expected results:
Compile successfully

[2015-05-01 21:15] weltkante commented on #15
For reference, the paper about "yield foreach" with non-quadratic runtime (part of the Spec# work)

http://research.microsoft.com/en-us/projects/specsharp/iterators.pdf

[2015-05-01 21:17] gafter commented on #2442
The language specification does not allow this, but we have language conformance tests that are failing because they test that the compiler allows it. The previous compiler allowed this.

[2015-05-01 21:25] gafter opened #2443 "Compiler generates code for empty try..catch with /optimize flag"
### Steps to reproduce:

1. Compile the below C# file with /optimize in VS2015 and VS2013
2. Observe the generated code for Main in ildasm.exe

[code]

### Expected Behavior (this is the VS2013 behavior)
[code]

### Actual Behavior (this is the VS2015 behavior)
[code]

[2015-05-01 21:49] JeremyKuhne opened #2444 "Roslyn cannot delay sign with ECMA key on Linux"
In https://github.com/dotnet/corefx/pull/1601 I had to work around this by putting a different key on an assembly temporarily. The error you get is the following:

[code]
The project in CoreFX that uses this key currently is `corefx/src/System.IO.Compression/src/System.IO.Compression.csproj`. My repro was on CoreFx master with the xplat branch of MSBuild on Mono 3.12.1.

[code]

[2015-05-01 21:50] SLaks opened #2445 "Rename throws exception on top-level script confict"
Source (in a Script document):

[code]

Renaming `M` to `x` will throw `Only attributes, constructor initializers, expressions or statements can be made explicit`.

Stack:

[code]

[2015-05-01 21:50] JeremyKuhne commented on #2444
@jaredpar Here is the signing issue we discussed.

[2015-05-01 21:52] SLaks commented on #2445
It looks like it's trying to expand a `GlobalSyntaxStatement`.

[2015-05-01 22:07] jasonmalinowski commented on #2126
Saw the internal resolved bug on me -- I can verify this works.

[2015-05-01 22:11] brettfo commented on #661
After syncing to the specified commit I was unable to build due to various errors and that ultimately led to finding all references on the original symbol to return nothing.  After trying this on the latest sources, however, I was able to find all references appropriately, including the examples you specified; both to and from symbols contained in VB lambdas.

Let me know if you find another repro

[2015-05-01 22:11] #661 closed

[2015-05-01 22:14] carlos-j-quintero commented on #2437
@basoundr,  see my just added comments

[2015-05-01 22:15] KevinH-MS opened #2448 "Control variable in single-statement for loop does not appear in debugger Intellisense"
"j" should appear in the completion list at this location:

![untitled](https://cloud.githubusercontent.com/assets/6464209/7438189/d7b85bba-f014-11e4-8e84-d930d3e5b143.png)

[2015-05-01 22:21] tmat commented on #2444
We can't fully sign on non-Windows platforms. On Windows we are P/Invoking Desktop CLR to do so.
We can however OSS-sign. We already have the functionality mostly implemented internally. Finishing it and exposing it thru csc.exe is tracked by this workitem: #1171.

If you need to fully sign an assembly, please file a bug on CoreFx to provide API to do so.

[2015-05-01 22:27] JeremyKuhne commented on #2444
@tmat How do we get the full name in the assembly in this case in the meantime, eg: b77a5c561934e089?

[2015-05-01 22:28] #718 closed

[2015-05-01 22:29] #2356 closed

[2015-05-01 22:49] tmat commented on #2444
We could perhaps provide some temporary solution in the coreclr branch. E.g. /feature:publicKey=file_with_raw_public_key

/cc @theoy @jaredpar

[2015-05-01 22:55] #643 closed

[2015-05-01 22:55] JeremyKuhne opened #2449 "Roslyn doesn't support portable PDBs on Linux"
We can't create PDBs when building CoreFx on Roslyn/Linux.

[2015-05-01 23:11] rchande commented on #716
@Pilchie editor symbols for our current base drop are gone, so waiting for a new one before I can look at this.

[2015-05-01 23:12] rchande commented on #1471
@Pilchie editor symbols for our current base drop are gone, so waiting for a new one before I can look at this.

[2015-05-01 23:25] KevinH-MS commented on #2448
Fixing this will require moving debugger Intellisense over to using SpeculativeSemanticModel.

I've created a branch with an initial attempt at doing this:  https://github.com/KevinH-MS/roslyn/tree/DebuggerIntellisense

(code courtesy of @rchande)

[2015-05-01 23:36] AlekseyTs opened #2450 "Go to definition in VB source goes to metadata view even though corresponding C# project is part of the same solution"
In Roslyn solution, go to the following line in src\Compilers\VisualBasic\Portable\Symbols\Source\SourceAssemblySymbol.vb
[code]

Go to definition on **AssemblyIdentity** - two partial definitions in source files are found as expected.
Go to definition on **TryParseDisplayName** - goes to metadata view of AssemblyIdentity type, expected to go to definition is source.

[2015-05-01 23:40] mburbea commented on #2365
Yeah, it would be really nice to be able to use these reserved keywords without the `@`. I'd also recommend `delegate` get the same treatment.

[2015-05-01 23:48] Pilchie commented on #2450
Dupe of #599.

[2015-05-01 23:48] #2450 closed

[2015-05-02 00:10] gafter commented on #2439
Ouch. My fault. This is in support of a feature that isn't even enabled by default.

[2015-05-02 01:04] gafter commented on #2442
We're considering not allowing this (that is, we want to follow the language spec).

[2015-05-02 01:20] basoundr commented on #2437
@carlos-j-quintero I ran some test to get startpoint for explicitly implemented method and I did not see any crash like you mentioned. Could you please explain the scenario in detail?

[2015-05-02 06:09] carlos-j-quintero commented on #2356
@basoundr @Pilchie You may want to add test cases for custom events in C# (add/remove) and VB.NET (AddHandler/RemoveHandler/RaiseEvent) to ensure that the fix also applies:

Public Class SkipReview
   Inherits Attribute
End Class

Public Class Class1

   Public Custom Event Event1 As System.EventHandler

      <SkipReview>
      AddHandler(value As EventHandler)

      End AddHandler

      <SkipR

[2015-05-02 07:30] carlos-quintero opened #2461 "EnvDTE.CodeElement.GetStartPoint(part)/GetEndPoint(part) not implemented for many parts"
When you use the EnvDTE.ProjectItem.FileCodeModel to call EnvDTE.CodeElement.GetStartPoint(part) and EnvDTE.CodeElement.GetEndPoint(part), many calls fail as "not implemented"

Steps to reproduce the problem:

1) Create a package with a menu command that uses this code:

[code]

2) Run the package and in the second VS instance, create a C# Class Library with this code:

namespace Namespace1
{

[2015-05-02 07:35] carlos-j-quintero commented on #2437
@basoundr It seems that the bug with start/end points is not related to explicitly interface methods but general. I have opened a separate issue: https://github.com/dotnet/roslyn/issues/2461

[2015-05-02 08:59] isaacabraham commented on #2212
@diab0l I don't think it's been rejected from F# because of lack of CLR support - I believe it could be done in a type erased style - it's simply not high up enough the feature list on uservoice.

I've also been hearing people in the F# community asking for GADTs first.

[2015-05-02 12:11] svick commented on #206
I have two comments about this proposal:

1. It would be nice if there was a syntax for unconditional pattern matching. Consider this example in the proposal:

[code]

 This feels really weird to me, because the `if` condition is always going to be `true`. Logically, this shouldn't be a condition. Maybe a syntax like this could work?

[code]

 Or maybe:

[code]

 If you used unconditional pattern

[2015-05-02 14:57] bkoelman opened #2462 "Analyzer written in C# throws NotSupportedException on VB UnitTest"
Repro steps:
- In VS2015 RC, create new project: Visual C#, Extensibility, Analyzer with Code Fix
- On the generated analyzer class, replace existing attribute with:
    `[DiagnosticAnalyzer(LanguageNames.CSharp, LanguageNames.VisualBasic)]`
- In generated file UnitTests.cs, override `GetBasicDiagnosticAnalyzer` and return same analyzer
- In the same file, add a test with some enquoted VB code and

[2015-05-02 15:10] bkoelman commented on #2462
The problem disappeared after I manually added the next lines to Test\packages.config:

    <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.0.0-rc2" targetFramework="net45" userInstalled="true" />
    <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.0.0-rc2" targetFramework="net45" userInstalled="true" />

And the next lines to Test.csproj file:

    <Reference In

[2015-05-02 15:29] stas-sultanov opened #2463 "Proposal: Change generation of yield enumerator"
I would like to suggest to change the way `yield` enumerator is generated so it explicitly implements `IDisposable` instead of `IEnumerato<T>.Dispose()`.

In short: it looks like the only reason that `IEnumerator<T>` inherits from `IDisposable` is that `Dispose()` method is used with `yield` enumerator.

more information and discussion can be found here [coreclr/issues/645] (https://github.com/dot

[2015-05-02 17:48] jmarolf commented on #2462
We don't add VB references to C# analyzer projects, and we don't add C# to VB projects.  Is this proposal change that so that the C# analyzer has both?

[2015-05-02 17:51] #642 closed

[2015-05-02 18:21] SamB opened #2464 "ContributingCode wikipage has missing link to CLA, stale link to style guide"
[ContributingCode](https://github.com/dotnet/roslyn/wiki/Contributing-Code) on the wiki doesn't appear to have any link for the CLA, and the link for the style guide seems to have gotten out of date.

For the CLA, you could link to either <https://github.com/dotnet/corefx/wiki/Contribution-License-Agreement-(CLA)> or <https://cla2.dotnetfoundation.org/>.

For the style guide, you probably want to

[2015-05-02 18:25] bkoelman commented on #2462
Yes that would feel more consistent to me as an API consumer. To have both refecences in both project types. After all, everything else is in place for a single analyzer to target both languages.

The C# project template contains C# generated code that exposes both methods (`GetBasicDiagnosticAnalyzer()` and `GetCSharpDiagnosticAnalyzer`), while the VB project template exposes these same methods (

[2015-05-02 18:48] dzeitlin opened #2465 "Roslyn version mismatch between VS2015RC and NuGet 1.0.0-rc2"
Roslyn shipped with **VS2015** is **1.0.0.50411** (AssemblyFileVersion)
Roslyn **1.0.0-rc2** from NuGet is **1.0.0.50417** (AssemblyFileVersion)

All VS2015 CTPs releases before RC had the same Roslyn versions shipped and in NuGet, actually assemblies were identical.
It's very important to have these assemblies synchronized, our team develop compiler C#->JS (http://duoco.de/) for Visual Studio and

[2015-05-02 18:52] HaloFour commented on #2463
I assume that you `IEnumerator` and not `IEnumerable`.  The iterator implements `IEnumerator<T>` which already implements `IDisposable`.  At the IL level that requires that the implementing class implement `IDisposable` directly and override those methods, as the iterator does.  The generated class already uses the C# convention for explicit implementation by naming the method `System.IDisposable.

[2015-05-02 18:55] andersborum commented on #357
@HaloFour All valid points. However, in this case I am all for making a breaking change to the CLR, favoring correctness over compiler candy. I'm not sure about the impact of making a breaking change of this kind, but it feels like a huge oversight that they released the variance story without this feature.

I remember speaking with Mads Torgersen and Eric Lippert at PDC 2008 in the evening during

[2015-05-02 19:14] HaloFour commented on #357
@andersborum I'd have to agree with Eric.  Any and every feature needs to demonstrate its value beyond the cost to implement.  I believe the other comment was (paraphrasing) "every feature needs 100 points to get implements, and every feature starts with -100 points and has to make up the difference."

As for listening to feedback, most of the active conversations here seem to mirror the highly vo

[2015-05-02 19:20] taylorjonl commented on #347
@AZBob, this is not valid syntax and is confusing:

    var x, y = MyFunction(...);

You can only declare variables in this comma delimited way if they are of the same type, e.g.

    int x, y;

The 'var' keyword is only compiler magic so you don't have to type out 'int' since it can be inferred.  So unless they start allowing this:

    int x, long y;

I think the syntax you provide will be confu

[2015-05-02 19:32] stas-sultanov commented on #2463
@HaloFour oh boy. indeed it is about `IEnumerator<T>` not `IEnumerable`.
i'm not familiar with roslyn repo, so could not find where it is implemented now.

[2015-05-02 19:32] #2463 closed

[2015-05-02 19:46] eyalesh commented on #347
@taylorjonl, obviously it's not a valid syntax, it's a proposal...

A similar syntax exists in Lua and it's very straightforward and not confusing.

They can reuse the var keyword if they wish, I don't think it will ambiguously match something else but they can also decide to just use 'var x = MyFunc(...)' and then have the compiler generate an anonymous type, much like they are planning on doing

[2015-05-02 20:25] jibal commented on #206
" because the if condition is always going to be true"

No, it isn't ... look at the definition of Polar.is

"Polar(var R, *) = c;"

Yes, this sort of deconstruction is essential to any language that claims to have pattern matching.

[2015-05-02 20:32] sirisian opened #2466 "Proposal: Allow Lambda as Argument to an Attribute"
Essentially allow lambdas as arguments to attribute constructors.

Code example. Specifically the "[Converter(s => s == "one" ? 1 : 0)]" line and "public ConverterAttribute(Func<string, int> converter)" in the constructor.

Possible use cases I've seen from years ago are converters for serialization libraries and alternative ways to define validator functions.

[code]

[2015-05-02 21:47] sharwell commented on #2465
The assembly file version isn't used for the assembly binding process, so it doesn't sound like you are describing a binary compatibility problem here (e.g. with strong names). Would it be sufficient to simply identify the commit hash of the commit used for 1.0.0.50411, and the commit hash used for 1.0.0.50417, so you could compare the source and see if any internal changes exist that would affect

[2015-05-02 21:55] jmarolf commented on #2465
The version numbers are different, but there are no differences in the binary contents.  The numbers are different because I triggered an additional build of the [Microsoft.CodeAnalysis.CSharp.FxCopAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp.FxCopAnalyzers/) nuget package so that we could get the bugfix from pull request #2084 into RC.

[2015-05-02 23:31] bkoelman commented on #2369
Yes, I have run into this too. And patched the template code likewise. Besides this, additional metadata references should also be supported in the CodeFixVerifier.

[2015-05-02 23:35] bkoelman commented on #2369
Something else that would be nice: being able to specify a custom file name for running the analyzer and fix provider. I'm working on an analyzer that skips generated code files like Form1.Designer.cs. Such files are generated by VS without `[GeneratedCode]` attributes.

[2015-05-03 00:26] sharwell commented on #2369
@bkoelman In the StyleCopAnalyzers project, we don't look for `GeneratedCodeAttribute` at all; it's just not worth the performance hit. We suppress analysis *only* for known designer files, generated backing files created by the XAML compiler, and files containing `<auto-generated` in a comment at the top of the file. See DotNetAnalyzers/StyleCopAnalyzers#670 for more information.

[2015-05-03 00:30] taylorjonl commented on #347
@eyalesh, how is it not meant to return multiple values?  That is 'out's entire reason for existing.  What cases can't you use 'out' to return multiple values?

I understand Lua accepts that syntax but it is no C#ish.  I would hate to have this language turn into some combination of every language out there.  If this proposal goes forth with the proposed syntax they would have to allow:

    int v

[2015-05-03 01:18] HaloFour commented on #2466
C# is limited by the CLR in the types of the parameters that can be used for custom attributes.  Those values need to be easily and predictably serialized/deserialized as they are embedded as a BLOB directly in the assembly metadata and reconstructed by the run time.  The compiler could probably emit anything it wanted in the BLOB but the CLR itself can only understand and deserialize the integral

[2015-05-03 01:22] Inverness opened #2470 "Compiler gives field-never-assigned warning for private struct"
In VS2015 RC, the compiler will give you an unassigned field warning 649 for a private struct. This seems misleading because its quite possible for a struct to be properly used when initialized to its default value.

I think this warning should only apply for reference types and primitive value types that are immutable.

[2015-05-03 01:45] SLaks commented on #1471
@rchande To test this against current Roslyn builds, build [VSEmbed](https://github.com/SLaks/VSEmbed) from source to replace the version installed in DroidMaster from NuGet.
(I updated it to work with the VS & Roslyn changes in the RC)

I haven't published the updated VSEmbed on NuGet yet, because I'm still trying to fix a bug where diagnostic tags don't vanish after fixing the underlying errors

[2015-05-03 06:27] aluanhaddad commented on #347
Personally, I would prefer the syntax
[code]
@AZBob I disagree, I think having the returned tuple's components be named at the declaration site is a very good idea. While you are correct that people rarely make the mistake of passing the arguments to a function in the wrong order, they can always look at the function declaration if there is any ambiguity.

[2015-05-03 07:20] hmemcpy commented on #2465
How is Roslyn going to handle (semantic) versioning from now on? The version has been 1.0.0 for a while now. Is Roslyn going to adhere to semver rules from now on, with respect to changes in the public API?

[2015-05-03 10:15] eyalesh commented on #347
@taylorjonl, The question is not about whether you can but whether you should...

'out' exist to remove the burden of initializing the variable before initializing it from the function, yes you can abuse it and yes the docs says it's useful to use it to return multiple values.

The reason they added 'ref/out' is mostly for interoperability, it's used heavily in COM and this was probably the main r

[2015-05-03 13:33] dhusemann commented on #2465
Any way by rtm to just use Simver on the assemblies??

[2015-05-03 13:36] sharwell commented on #2465
@hmemcpy Your comment is misleading, because it implies a stable version of the library has been released.

I'm assuming steps will be taken to ensure strong-named libraries built against the stable 1.0.0 release use the correct assembly at runtime. For example, this could have one of the following forms:

1. The stable releases of Roslyn use a different strong name key than pre-release builds. Th

[2015-05-03 16:03] h82258652 commented on #112
Wonderful, I think it will be really useful.
Take an example, we can add a extension property for enum. Like this:
public enum Gender
{
    Male,
    Female,
}

public class GenderPropertyExtension : ClassExtension<Gender>
{
    public string AdultName
    {
        get
        {
             return this==Gender.Male?"Man":"Woman";
        }
    }

    public string ChildName
    {
        get

[2015-05-03 16:36] diab0l commented on #2212
@isaacabraham Of course it could be implemented type-erased style, but that's an unpleasant can of worms.

If it were implemented like C++ templates, it would be a source level feature, meaning you can't have higher kinded polymorphic methods in assemblies. I think we can reach consensus that such a feature would only pollute the language.

If it were implemented like Java generics, it would lead

[2015-05-03 17:05] diab0l commented on #2212
@GSPP To be frank: I can't give you a whole lot of examples.
Until recently I just haven't given it any thought.

However, what I can tell you is that, as an abstraction feature which abstracts over abstract data structures it would primarily allow us to write some neat libraries.
Also, in Haskell it's used quite natural as part of every day programming for everything, so it allows for a different

[2015-05-03 17:28] diab0l commented on #2212
Please do not understand me wrong.
I am well aware that implementing this feature is going to be a big undertaking and not going to happen anytime soon, if at all.
At least not until the CLR ports have become stable and established.

Also, it's not clear whether higher kinded polymorphism would be a good fit for C#.
Maybe there's some better way to raise the bar on abstraction.

What I think is cl

[2015-05-03 17:34] jaredpar commented on #1108
@alexsorokoletov can you provide some information about the machine on which you saw this issue?  In particular the version of Windows, the installation language, etc ... I've tried reproducing this on a few machines with a couple of different languages and can't reproduce it.

[2015-05-03 17:35] jaredpar commented on #1108
@VSadov this does indeed appear to be an infrastructure issue with the current data.  Moving out to 1.1.

[2015-05-03 18:07] HaloFour commented on #112
@kbirger Properties are mostly the accessor methods (there is a common naming convention but the runtime doesn't care) but they are also the additional metadata attached to the type that those accessor methods are a part of a property.  There would be nothing stopping the compiler from recognizing and supporting that convention and making calls to `get_MyProperty` or `set_MyProperty` feel like a p

[2015-05-03 18:20] svick commented on #112
@HaloFour Wouldn't using something like `ConditionalWeakTable` be a solution to the GC issue?

[2015-05-03 18:23] HaloFour commented on #112
@svick Of course, there are numerous ways to solve the technical problem, but the issue is that someone needs to be aware that it is a problem before they attempt to solve it.  Making the concept of state (e.g. extension fields) an official part of the language where the compiler automatically implements best practices could solve for that.  But even so the idea of "extension state" just feels ...

[2015-05-03 18:29] SLaks opened #2475 "Please make IDocumentTrackingService public"
To make VSEmbed report errors as the user types, I need to force background diagnostic analysis to run in the high priority processor (currently, I have a noticeable and frustrating delay from the normal processor)

To do this, I need to export [`IDocumentTrackingService`](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/SolutionCrawler/IDocumentTrackingService.cs,b328e370914849e6,referenc

[2015-05-03 18:40] tmat opened #2476 "Avoid public fields in Roslyn API"
I have noticed we expose some public fields from the compilers (about 30 or so). I believe the .NET API guidelines prefer using properties for public APIs.

[2015-05-03 18:41] tmat commented on #2476
/cc @AnthonyDGreen @terrajobst @KrzysztofCwalina

[2015-05-03 18:55] AnthonyDGreen commented on #2476
Are they all static fields? The guidelines still apply but it's less of a clear cut problem for me if they're all the moral equivalent of String.Empty.

[2015-05-03 19:48] tmat commented on #2476
Some of them are instance fields.

[2015-05-03 20:39] AnthonyDGreen commented on #2476
Blasphemy!

Regards,

-ADG

Sent from my Windows Phone
________________________________
From: Tomáš Matoušek<mailto:notifications@github.com>
Sent: ‎5/‎3/‎2015 12:48
To: dotnet/roslyn<mailto:roslyn@noreply.github.com>
Cc: Anthony D. Green<mailto:adgreen@microsoft.com>
Subject: Re: [roslyn] Avoid public fields in Roslyn API (#2476)

Some of them are instance fields.

—
Reply to this email directly

[2015-05-03 22:01] sawilde opened #2477 "Affect on profiler API"
I have the following issue raised against OpenCover - [Lines showing as not covered](https://github.com/OpenCover/opencover/issues/285) - OpenCover is an open-source code coverage tool for .NET (similar to PartCover).

What I am seeing is that the IL begin sent to the profiler is different to that on the disk. e.g. for release assemblies (I am not sure why only release assemblies are affected)

[2015-05-04 05:01] AArnott commented on #2281
I believe they were installed to my project because I had installed the Microsoft.CodeAnalysis.CSharp NuGet package to my project.

[2015-05-04 07:06] jakeswenson commented on #206
@gafter I'm not clear on what you mean by positional notation? For which of the two suggestions I made are you referring? If I were to completely guess, I'd assume you're referring to the `with` suggestion, in which case I'm not clear on how position matters. Can you please add some context to you comment?

[2015-05-04 07:23] jakeswenson commented on #206
Upon a brief analysis of object literals, i'm not sure how positional notation is an issue, since it's something that C# has already solved for named arguments. That is:
[code]
would translate to the same thing as
[code]
which should be essentially:
[code]

Same applies to the `with`; and its even easier since records are immutable.

[2015-05-04 09:01] weltkante commented on #1360
Getting this consistently in VS 2015 RC in a large WinForms project containing WPF UserControls (the project is also on a network share making file access slower than locally). The generated file connecting the CodeBehind with the XAML always generates these errors during builds.

[Failure] The process cannot access the file 'U:\...\MyUserControl.g.i.cs' because it is being used by another process

[2015-05-04 11:25] eamodio commented on #2136
+1 for structural typing. That would be awesome. Spoilt by TypeScript.

[2015-05-04 13:11] asd-and-Rizzo commented on #2212
There is the example for HKT in C# http://www.sparxeng.com/blog/software/an-example-of-what-higher-kinded-types-could-make-possible-in-c.

[2015-05-04 15:35] rchande commented on #1471
@SLaks I was having trouble locating symbols for the internal version of the VS Editor that we currently build Roslyn against, so rebuilding VSEmbed wouldn't have helped, unless I had wanted to go back and work against our RC build.

[2015-05-04 15:36] rchande commented on #1471
Duping this against #2348 since that repro is somewhat simpler.

[2015-05-04 15:36] #1471 closed

[2015-05-04 16:02] brettfo commented on #1720
The call to `semanticModel.GetSymbols()` in AbstractSemanticQuickInfoProvider.cs::BindTokenAsync() is returning an empty set.  Re-assigning to compiler for the symbol binding failure with a simplified repro.

Paste the following in a C# editor and place the cursor over the symbol marked by `[|` and `|]` to invoke quick info.  Result; no symbols were found which means no quick info.

[code]

[2015-05-04 16:04] SLaks commented on #1720
That's fascinating.
Does it really need the `int i` parameter?

[2015-05-04 16:07] brettfo commented on #1720
No, the parameter isn't required but I decided to keep it in the repro because it makes it a little more obvious that something went wrong.  Also, this appears to be a C#-only issue; the symbols are appropriately resolved in VB.

[2015-05-04 16:10] Pilchie commented on #2464
@jaredpar @KevinRansom Either of you want to take a look?

[2015-05-04 16:13] Pilchie commented on #2465
@sharwell We plan to do neither of those things :)  I expect that once we fork for the 1.0 release, we will increment the version numbers (NuGet and Assembly) in master.  Thus, you'll be able able to use the new binaries by adding binding redirects if you want to, but they won't automatically resolve.

[2015-05-04 16:13] #2465 closed

[2015-05-04 16:15] SLaks commented on #1720
What do you mean?

I wonder if this has something to do with the WinRT TypeInfo APIs, since this seems to be specific to calls to Reflection.

[2015-05-04 16:24] brettfo opened #2480 "File's leading comments are inappropriately moved when using statements are sorted."
Ported from internal bug 1164064

-----

"Sort Usings" on the following C# file:

[code]

### Expected:

[code]

### Actual

[code]

Repros in VB, too.

[2015-05-04 16:26] jaredpar commented on #2464
Thanks for pointing that out.  I've updated the existing links and added a note about the CLA.

[2015-05-04 16:26] #2464 closed

[2015-05-04 16:40] brettfo commented on #1720
It doesn't appear to be WinRT-specific because it also repros from a normal C# console application.  I suspect it has something to do with the shape of the parse tree, possibly stemming from the root of the expression being the `typeof` operator.  Trying a similar case with `nameof` (e.g., `nameof(C).CompareTo(new C())`) works as expected, but parsing `nameof` results in a very different tree than

[2015-05-04 16:50] #2026 closed

[2015-05-04 16:52] jmarolf commented on #2002
@heejaechang can you verify this please?

[2015-05-04 16:53] jmarolf commented on #642
@shyamnamboodiripad could you verify this please?

[2015-05-04 16:53] jmarolf commented on #643
@srivatsn Could you verify this please?

[2015-05-04 16:55] gafter commented on #2470
Can you please provide a small sample program that demonstrates the scenario you're encountering?

[2015-05-04 16:58] gafter commented on #2477
Can you please provide the sources for the code?

[2015-05-04 17:07] #2437 closed

[2015-05-04 17:10] AlekseyTs opened #2481 "Unit-test Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGen.CodeGenShortCircuitOperatorTests.ConditionalBoolExpr01b fails on non-English OS"
Assemblies Run

Roslyn.Compilers.CSharp.Emit.UnitTests.dll

Summary

Tests run: 3399   Failures: 1, Skipped: 22, Run time: 250.493s

Failed tests

0.312s
✘
 Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGen.CodeGenShortCircuitOperatorTests.ConditionalBoolExpr01b : Microsoft.CodeAnalysis.Test.Utilities.ExecutionException : Execution failed for assembly 'C:\Users\alekseyt\AppData\Local\Temp\RoslynTest

[2015-05-04 17:11] KirillOsenkov commented on #2421
When the native binaries are added as a separate dependency, make sure that the destination .dlls still get copied into the same folder as the compilers (duh) :)

[2015-05-04 17:16] brettfo opened #2482 "Parameter help not available for COM indexed properties."
Ported from internal bug 530811

-----

1. Add a reference to Microsoft.Office.Interop.Excel (C:\Program Files (x86)\Microsoft Visual Studio 11.0\Visual Studio Tools for Office\PIA\Office14\Microsoft.Office.Interop.Excel.dll if installed.)
2. `var excel = new Microsoft.Office.Interop.Excel.Application();`
3. `excel.Range[`

### Expected
parameter help

### Actual
no parameter help

[2015-05-04 17:19] AlekseyTs opened #2483 "Unit-test Microsoft.CodeAnalysis.CSharp.UnitTests.ResultsViewTests.GetEnumerableException fails on non-English OS"
Assemblies Run

Roslyn.ExpressionEvaluator.CSharp.ResultProvider.UnitTests.dll

Summary

Tests run: 231   Failures: 1, Skipped: 1, Run time: 10.763s

Failed tests

0.039s
✘
 Microsoft.CodeAnalysis.CSharp.UnitTests.ResultsViewTests.GetEnumerableException : Assert.Equal() Failure Position: First difference is at position 1 Expected: "Exception of type 'E' was thrown." Actual: "Выдано исключение типа

[2015-05-04 17:23] AlekseyTs commented on #1853
Three tests are still failing

Assemblies Run

Roslyn.Services.Editor.CSharp.UnitTests.dll

Summary

Tests run: 11140   Failures: 3, Skipped: 46, Run time: 379.532s

Failed tests

0.040s
✘
 Microsoft.CodeAnalysis.CSharp.EditAndContinue.UnitTests.RudeEditStatementTests.Lambdas_Insert_CatchFilter1 : Actual: Diagnostic(RudeEditKind.InsertLambdaWithMultiScopeCapture, "x0", "!VQ1Yq!lambda ЁЧ!", "x1", "

[2015-05-04 17:28] AlekseyTs opened #2484 "Roslyn.Compilers.CSharp.Symbol.UnitTests.dll - 16 unit-tests fail on non-English OS in presence of localized resources"
Assemblies Run

Roslyn.Compilers.CSharp.Symbol.UnitTests.dll

Summary

Tests run: 3801   Failures: 16, Skipped: 21, Run time: 66.592s

Failed tests

0.001s
✘
 Microsoft.CodeAnalysis.CSharp.UnitTests.DocumentationCommentCompilerTests.Dev10_747421 : Assert.Equal() Failure Position: First difference is at position 113 Expected: <?xml version="1.0"?> <doc> <assembly> <name>Test</name> </assembly> <mem

[2015-05-04 17:32] AlekseyTs opened #2485 "Roslyn.ExpressionEvaluator.CSharp.ExpressionCompiler.UnitTests.dll - 2 unit-tests fail on non-English OS in presence of localized resources"
Assemblies Run

Roslyn.ExpressionEvaluator.CSharp.ExpressionCompiler.UnitTests.dll

Summary

Tests run: 404   Failures: 2, Skipped: 8, Run time: 13.433s

Failed tests

0.026s
✘
 Microsoft.CodeAnalysis.CSharp.UnitTests.MissingAssemblyTests.CompileWithRetrySameErrorReported : Assert.Equal() Failure Position: First difference is at position 0 Expected: error CS0012: The type 'MissingType' is defined

[2015-05-04 17:33] AlekseyTs opened #2486 "Roslyn.ExpressionEvaluator.VisualBasic.ExpressionCompiler.UnitTests.dll - 2 unit-tests fail on non-English OS in presence of localized resources"
Assemblies Run

Roslyn.ExpressionEvaluator.VisualBasic.ExpressionCompiler.UnitTests.dll

Summary

Tests run: 348   Failures: 2, Skipped: 8, Run time: 15.854s

Failed tests

0.057s
✘
 Microsoft.CodeAnalysis.VisualBasic.UnitTests.MissingAssemblyTests.CompileWithRetrySameErrorReported : Assert.Equal() Failure Position: First difference is at position 0 Expected: error BC30652: Reference required to a

[2015-05-04 17:34] jasonmalinowski commented on #1773
The engine supports this, there's just a bug in invoking it on an operator's definition where we don't correctly find the symbol to search for.

[2015-05-04 17:34] dotnet-bot opened #2487 "Connect: Entering a # character forces all preprocessor entries to be reindented"
Ported from TFS WorkItem: **1160552**

------------------------------

**Repro Steps:**

This item was filed by a customer. Please communicate and close the loop with your customer via the customer tab inside TFS.

-----------------------

Problem Description

-----------------------

Hi,

Entering a # character forces all preprocessor entries to be indented again, even when all formatting options

[2015-05-04 17:37] Pilchie commented on #1853
@rchande can you take a look at the failure in MethodOverloadDifferencesIgnored_ExtensionMethod2.

[2015-05-04 18:15] balajikris commented on #2173
This is another case of #284 . With the identifier to the left of caret incomplete, we have _**no** semantic information_ to determine if we're in a `TypeParameter` or `TypeArgument` context, and `PossibleTypeArgument` returns `false`. Hence, no brace completion here.

I think this will be hard as none of the solutions suggested at #284 will apply to this directly. We need more than `GetSymbolInfo

[2015-05-04 20:25] #856 closed

[2015-05-04 20:50] jasonmalinowski commented on #1773
Fixed by #2491.

[2015-05-04 20:50] #1773 closed

[2015-05-04 20:52] mavasani opened #2493 "[Suggestion] Better project template search in the new project dialog for term "analyzer"?"
1. File -> New Project -> Download the .NET compiler platform SDK -> Download the SDK and close VS.

2. Start new instance of VS -> File -> New Project

3. Search "fix" in the search dialog => Search results return both the "Diagnostic with Code Fix" templates and "Download the .NET Compiler Platform SDK" template.

4. Search "analyzer" in the search dialog => Only "Download the .NET Compiler Plat

[2015-05-04 20:56] heejaechang commented on #2310
@shyamnamboodiripad @srivatsn so what should we do?

[2015-05-04 21:09] mavasani opened #2495 "VBCSCompiler.exe crashes with a System.ArgumentException when building the default "Diagnostic with code fix" project"
1. Install latest VSPro_1 daily drop (I have one from 29th April).

2. File -> New Project -> Download the .NET compiler platform SDK -> Download the SDK and restart VS.

3. Create a new "Diagnostic with code fix" C# project.

4. Build solution.

**Got:** VBCSCompiler.exe crashes with a `System.ArgumentException` with message: `The directory name ..\..\packages\Microsoft.CodeAnalysis.Analyzers.1.0

[2015-05-04 21:10] mavasani commented on #2495
@tmeschter Is this a known/dupe issue?

[2015-05-04 21:13] shyamnamboodiripad commented on #2310
@heejaechang I have indicated my preferences above. @srivatsn thoughts?

[2015-05-04 21:29] sawilde commented on #2477
The code that the issue was raised against is here - https://github.com/StephenCleary/Deque.git

That is the problem - why is it different? Why is the IL on the disk different to that sent to the profiler (I have not seen that before with any .NET runtime that OpenCover works against? Is Roslyn responsible for changing it (hence my query) or something else?

If the above IL change is not something

[2015-05-04 21:45] mavasani commented on #2495
So, I went ahead and changed the project file for the default `Analyzer1 (Portable)` to use an absolute path instead of the relative path:

[code]

This works around the crash but the analyzers from these 2 CodeAnalysis analyzers are still unable to be loaded, I get the below diagnostics in output window:

Investigating further, I find that the analyzer assembly fails to load because it's dependen

[2015-05-04 21:47] AArnott opened #2496 "SeparatedSyntaxList.ReplaceSeparator throws ArgumentException with bad message"
The [ReplaceSeparator method throws ArgumentException passing in the parameter name](https://github.com/dotnet/roslyn/blob/8771786e5a80e9d27ffb40702f5cca558ca6fabb/src/Compilers/Core/Portable/Syntax/SeparatedSyntaxList.cs#L529) instead of a message as required by the exception constructor. This results in exceptions with odd one-word messages being thrown.

[2015-05-04 21:48] AArnott commented on #2496
It may be worth a scan over the source code to see other bugs like this in the codebase. A Roslyn analyzer to catch this would be great too. :)

[2015-05-04 21:51] mjsabby commented on #2477
Roslyn only generates the IL, it has no interaction with the runtime. It would be quite strange to see that the IL on disk is somehow different than the IL being run and handed to your profiler.

Can you confirm by using ILDASM? Pick a small method, and both ILDASM it and look under the debugger --> https://msdn.microsoft.com/en-us/library/system.reflection.methodbody%28v=vs.110%29.aspx

You may f

[2015-05-04 22:14] tmeschter commented on #2495
@mavasani `System.Collections.Immutable` would be covered by a whitelist, but I haven't merged in the consistency checker yet.

Can you confirm that the correct version of System.Collections.Immutable is located next to the vbcscompiler.exe that is being run?

[2015-05-04 22:14] Inverness commented on #2470
Sure. I encounter the warning when using a helper struct, designed to be used as a private field, to help with implementing asynchronous events.

[code]

[2015-05-04 22:19] jakeswenson commented on #2202
@Pilchie i have tried the latest public drop (1.0.0-rc2) and it is still failing with

[code]

[2015-05-04 22:20] jakeswenson commented on #2202
[code]
[code]

[2015-05-04 22:22] Pilchie commented on #2202
tag @jaredpar

[2015-05-04 22:23] mavasani commented on #2495
@tmeschter Yes, version _1.1.34.0_ of System.Collections.Immutable is next to VBCSCompiler.exe. However, the analyzer project has nuget package references to older version (.33-beta) of the assembly.

[code]

Also, explicitly adding the following analyzer tag for `System.Collections.Immutable` didn't work for me as well:
[code]

I see that this assembly doesn't get shadow copy'ed over to the temp

[2015-05-04 22:42] mavasani opened #2498 "Upgrade the nuget package references for "Diagnostic and code fix" project templates"
Our current "Diagnostic and code fix" project templates have the following nuget package references:

[code]

Given that we have moved to a newer version of `System.Collections.Immutable` and `System.Reflection.Metadata` in the shipped compiler toolset, we need to move forward these template projects to the same versions. Otherwise, we will be unable to load analyzers from these projects, see http

[2015-05-04 22:44] mavasani commented on #2495
@tmeschter I have opened #2498 to track upgrading our template projects to newer nuget packages.

[2015-05-04 22:45] tmat commented on #2498
Please remove
[code]
from packages.config.

They are added globally in .nuget\packages.config.

[2015-05-04 23:04] KevinH-MS opened #2501 "Linq query in ASP.NET 5 Web Application fails with "CS1061: 'int[]' does not contain a definition for 'Where'...""
1.  Create a new ASP.NET 5 Preview Empty Web Application with the following code:
![capture](https://cloud.githubusercontent.com/assets/6464209/8415995/791d77b8-1e57-11e5-8fb3-fff9c1305ac8.PNG)
2.  Set a breakpoint in the ```async``` lambda and F5
3.  Type ```?numbers.Where(n => n > 0)``` in the Immediate Window

**RESULTS**
```error CS1061: 'int[]' does not contain a definition for 'Where' and no

[2015-05-04 23:08] gafter commented on #206
@jakeswenson The positional notation for that would be

`new MyRecord(expr1, expr2)`

When you use a positional notation, you don't have to give the names for the members if you consider that to be obvious to the reader. I don't see how to get that in a natural way with F# records.

[2015-05-04 23:21] gafter commented on #357
@andersborum The question is not whether it would be better to have CLR support for covariant returns or not - it would definitely be better to have CLR support. The question is whether we would rather have this feature implemented in the compiler (without CLR support), or not have the feature at all. Those are the two most realistic options for C# 7. Getting CLR spec and implementation changes (i

[2015-05-04 23:41] sawilde commented on #2477
I did and the details are here in the original ticket - https://github.com/OpenCover/opencover/issues/285

[2015-05-04 23:43] gafter opened #2503 "VB reports that a type parameter constrained to an interface is a reference type"
According to https://github.com/dotnet/roslyn/pull/2425#issuecomment-98883932 , the VB compiler improperly reports that a type parameter that is constrained to an interface type is a reference type (`IsRefernceType` is `true`). The C# compiler correctly returns `false` for the corresponding test.

[2015-05-04 23:47] gafter commented on #2503
... although @VSadov suspects it is due to an error in the program being analyzed ...

[2015-05-04 23:50] bkoelman commented on #2503
And he was right.

[2015-05-04 23:51] jakeswenson commented on #206
@gafter i see what you mean now. If Positional notation is a requirement, then that does seem no possible with the `with` keyword. It would be possible with object literals in the same way that multi-value collection initializers are done.
[code]

positional object literals could be done like:
[code]

Is positional notation a requirement for all new features? Seems at odds with named arguments.

[2015-05-04 23:53] #2442 closed

[2015-05-04 23:56] VSadov commented on #2503
There is a TODO in the
http://source.roslyn.codeplex.com/#Microsoft.CodeAnalysis.CSharp/Symbols/ErrorTypeSymbol.cs,89

questioning whether IsReferenceType should return true or false. It currently returns true.

I think, statistically, most types are reference types.
Reference types compose better and therefore are the majority. It is ok for an error symbol to "guess" that it is likely to be a ref

[2015-05-05 00:22] tmat opened #2504 "[Enc] Adding a constructor to a class with field initializers that contain lambdas"
This is currently a rude edit. To support this scenario the implementation of DefinitionMap.TryCreateVariableSlotAllocator needs to fetch the EnC debug info from an existing constructor to which the existing field initializers are emitted.

[2015-05-05 00:27] mhegazy opened #2505 "New Feature Proposal: GoTo Type"
Goto Type is similar to goto definition, except it jumps to the definition of the type of the symbol in question instead of the definition of the symbol itself.

For instance:

[code]

To go to the type definition of `ObjectType.P` you need to two regular goto def jumps, one to the declaration of P and one to its type. This feature has existed in monaco\vs code for a while now, as well as in Eclip

[2015-05-05 00:32] amcasey commented on #2154
Verified (e.g. http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_windows_prtest/2352/console)

[2015-05-05 00:33] amcasey commented on #1178
Verified (e.g. http://dotnet-ci.cloudapp.net/job/dotnet_roslyn_windows_prtest/2352/console)

[2015-05-05 00:33] bkoelman commented on #2369
@sharwell Good to know about performance, will keep that in mind. Interesting to scan comments at top-of-file also. That pull request does not contain unit tests though. Wouldn't you need my request for that?

[2015-05-05 00:44] #2439 closed

[2015-05-05 00:46] #2503 closed

[2015-05-05 00:51] gafter commented on #206
@jakeswenson No, positional notation is a requirement for existing features, such as object creation. It would be sad if a record-like feature required more verbose construction semantics.

Related to that is that the pattern matching syntax should be parallel to the construction syntax, so for those types with positional construction there should also be positional pattern matching.

The `with` f

[2015-05-05 01:04] sharwell commented on #2369
@bkoelman I don't think I understood your question. Can you rephrase it?

[2015-05-05 02:16] dotnet-bot opened #2509 "Connect: Cannot disable automatic indenting in Pretty Listing"
Ported from TFS WorkItem: **1152246**

---

**Repro Steps:**

Even with automatic indenting disabled, if you enable Pretty Listing to adjust spacing and capitalization, it also adjusts the indenting, ignoring (in addition to it being disiabled) the tab sizes. It should be separate as it is in VS2008.

vb.net

---

**Revisions:**

1) Created By Microsoft Connect (4/5/2015 11:52:18 PM)

------------

[2015-05-05 02:26] sharwell opened #2510 "DiagnosticDescriptor.HelpLinkUri should be localizable"
Teams investing in distributing their analyzers in multiple languages are likely to also have additional information available in those same languages. However, the current implementation does not allow a `LocalizableString` to be used as the `HelpLinkUri`, so there is no way to link the analyzer to the help with the correct language.

[2015-05-05 02:56] dpoeschl opened #2511 "[CodePlex] Rename doesn't catch conflicts with accessors"
Ported from TFS WorkItem: **991467**

------------------------------

**Repro Steps:**

**Changes to this WorkItem will <u>not</u> be reflected in CodePlex and may<br>be automatically overwritten!**<br>Original repro: [http://roslyn.codeplex.com/workitem/162](http://roslyn.codeplex.com/workitem/162) to modify this bug<br>(*unless you are assigning, resolving, closing or adding private comments*).<

[2015-05-05 03:41] sharwell opened #2512 "Hidden analyzer not reported during builds"
If an analyzer has a default severity of Hidden, then diagnostics produced by it are not reported for closed files in Visual Studio, even if "Show diagnostics for closed files" is checked. This applies even if the ruleset configured for the project overrides the severity to Warning or Error.

Note that for rules with a default severity of Warning are shown as errors when the ruleset file overrides

[2015-05-05 04:02] dpoeschl commented on #2511
Another case from https://roslyn.codeplex.com/workitem/139:

[code]

Renaming B to A or A to B (either direction) will silently succeed, then (correctly) show a compiler error from the new code.

event 'A' implicitly defines 'AEventHandler', which conflicts with a member of the same name

[2015-05-05 04:02] dpoeschl commented on #2511
/cc: @slaks

[2015-05-05 04:04] dpoeschl commented on #2511
Note: unlike the C# case above, the VB EventHandler case does not cause any first chance exceptions.

[2015-05-05 05:06] dpoeschl opened #2516 "bufferPosition ArgumentException from CaretElement::InternalMoveTo on moving caret in an InlineRenameSession on .cshtml file"
Ported from TFS WorkItem: **1141887**

------------------------------

**Repro Steps:**

1. Download ZIP source from [https://github.com/madskristensen/MiniBlog](https://github.com/madskristensen/MiniBlog)

2. Open Index.cshtml (or any other .cshtml)

3. Start InlineRename Session (ctrl +R, ctrl + R) on any identifier thats definied in source

4. Press Home Key to move the caret to start of the id

[2015-05-05 06:59] RevensofT opened #2517 "[Request] Instance left operand without right operand"
Hi,
I have a request that I think it should be useful when want to write an instance object that only use once and forget about it. However we can't create any object without left operand because language limited(not compiler or IL limited).

Here is an example I wrote, in this code, I save a time and work to create a local variant inside stack frame also make it clean and short code.
[code]

[2015-05-05 07:24] mavasani commented on #2495
@tmeschter I am hitting this crash even when avoiding use of the template project for writing an analyzer. As soon as I use "Add Analyzer" with full path to some assembly which has an analyzer, the IDE adds a relative path such as `<Analyzer Include="..\..\ClassLibrary1\ClassLibrary1\bin\Debug\ClassLibrary1.dll" />` to the project file and building the project this causes this crash.

[2015-05-05 08:09] mavasani commented on #2512
This seems be done explicitly here: http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/EngineV1/DiagnosticIncrementalAnalyzer.cs,450

@heejaechang more context, I can't remember why this was done.

[2015-05-05 09:11] davidfowl commented on #2501
/cc @weshaggard

[2015-05-05 10:50] ocbaker commented on #2206
I would deeply like this feature too. In regards to expression with the CLR you guys said at build that although you don't want to modify the CLR it was not out of reach so to speak. So if you do end up planning on updating the CLR in C# 7 (VB 15?) would this be an unreasonable request?

If new T just uses Activator why do people notice a perf difference between the two implementations?
http://sta

[2015-05-05 11:26] axel-habermaier commented on #1060
I was just looking for a solution to this the other day. I ended up getting the symbol for the parent property syntax, then using the ``GetMethod`` property to get the getter method symbol. So indeed, ``GetDeclaredSymbol`` should be extended to handle this case.

Should that also work with expression bodied methods?

[2015-05-05 11:38] LeeCampbell commented on #261
I think that it would be wise to have language parity with F# for supporting async pull sequences (e.g. `IAsyncEnumerble<T>`, `AsyncSeq<'T>`).
@tpetricek and @dsyme make very valid points here and the links are excellent and well worth reading as there appears to be confusion between when it is appropriate to use async pull vs `IObservable<T>`.

That leads me on to making some comments about Rx an

[2015-05-05 12:50] Przemyslaw-W opened #2518 "Generate method fails to generate static method"
Hi,

Repro code:
[code]

Generate method creates instance CreateFoo() method. It should be static

[2015-05-05 14:06] HaloFour commented on #261
@LeeCampbell I'd largely be happy if the C# team did the same thing they did with `await` and provided a pattern that could be used to describe anything as an asynchronous stream.  Then Rx could easily support that pattern, probably through an extension method that would describe the correct back-pressure behavior.

I think that there is a massive amount of information for Rx out there, but if nob

[2015-05-05 15:29] #2075 closed

[2015-05-05 16:05] gafter commented on #1060
@axel-habermaier You don't need anything special for expression-bodied methods. The entire declaration of the method works as input to `GetDeclaredSymbol`.

[2015-05-05 16:11] gafter commented on #2206
Unfortunately there is no way to use `Activator` to invoke a selected constructor other than the default constructor. While there is https://msdn.microsoft.com/en-us/library/4b0ww1we(v=vs.110).aspx a version that does some "overload resolution" at runtime, that doesn't work so well in many cases, for example when the actual arguments are null, or when the result of overload resolution at runtime b

[2015-05-05 16:46] #2424 closed

[2015-05-05 16:48] AlekseyTs commented on #2075
@VSadov Please verify

[2015-05-05 16:49] AlekseyTs commented on #2424
@VSadov Please verify.

[2015-05-05 16:52] airbreather commented on #254
Hi,

I'd just like to chime in my support for this feature and note some existing syntax that having something like this would make look much nicer / cleaner... guessing you've probably seen something like this before, but might as well:

[code]
versus this, sans curly braces:
[code]
I can get it to look *almost* the same without declaration expressions, but it's subtly broken in certain circumsta

[2015-05-05 16:58] VSadov commented on #2517
If you are creating an instance just to call its method, you can use 'Call' -
[code]

[2015-05-05 17:03] jakeswenson commented on #2202
fyi, i'm going to lose my repro, as I requested to have our build machines upgraded to 4.5.2...

[2015-05-05 17:18] jakeswenson commented on #206
@gafter yes sorry if i wasn't clear. I don't think object literals should be the only way of constructing records. I think having a positional constructor makes a lot of sense. I was only suggesting, as you may have said more clearly, that it would be nice to allow this other form. I'd be interested in hearing how that discussion goes.

Thanks!