[2016-11-21 02:56] CyrusNajmabadi commented on #14697
Ah, you're referring to declarations of variables, not in an argument context.  That doesn't seem to be the same feature that we're talking about for out-variables.  Note: for C# statement constructs that do allow local variables to be declared, we're keeping the same scoping for out-vars.

To keep things simple, we're keeping Pattern variable scoping the same as out-var scoping.  We got *lots* of

[2016-11-21 03:09] HaloFour commented on #14697
@CyrusNajmabadi

`out var` is the declaration of a variable.  The fact that it's then used as an argument to a function isn't relevant, only the location of the declaration is.

The fact that `while` and `if` couldn't introduce new variables before didn't imply the nature of the scope to which said variables might be contained.  That was directed by the syntax inherited from C++, but constrained b

[2016-11-21 03:11] CyrusNajmabadi commented on #14697
Switches couldn't have expressions in case labels that used 'out' :)

[2016-11-21 03:13] CyrusNajmabadi commented on #14697
Note: ```while``` and ```if``` statements *still* cannot introduce variables.  Patterns and out-vars introduce variables.  So nothing has changed here.

```for``` and ```foreach``` statements *can* introduce variables.  And we use the well defined scopes those constructs already have.

Perhaps that's the disconnect here?  You see this as statements introducing variables, and deviating from where y

[2016-11-21 03:15] CyrusNajmabadi commented on #14697
Your feedback is noted.  But it certainly not felt universally :)

Indeed, we've heard about ```out``` and how people want it to be improved than patterns.  Patterns themselves seem to be much more niche.  Whereas 'out' affects pretty much all existing customers and how they use the existing .Net fx.  As such, we def want a solution that benefits all the people who have been wanting this for so lo

[2016-11-21 03:18] CyrusNajmabadi commented on #14697
Yes.  And we scope the vairable into the scope that the declaration is in  :)   We're not generating any new scopes**.  So the scopes of C# remain and out-vars fit into them like current variable decls do.

--

** Technically this is not true.  Clearly case labels have been granted a scope.  But we felt that was ok because there could be no conflict with existing code.  in other words, we could  a

[2016-11-21 03:31] HaloFour commented on #14697
@CyrusNajmabadi

The disconnect is that in the C++ family of languages the statement provides the child scope in which those expressions are contained.  Variables introduced within the statements don't "leak" out.  The LDM is making this decision that the statement has no scope of its own only based on the fact that C# didn't permit it before.

Big shock, ask some developers of C# about features t

[2016-11-21 03:59] CyrusNajmabadi commented on #14697
I didn't claim it was shocking.  I was just explaining that it's more niche and people care deeply about the bread and butter features they work with day in and day out.  This was in response to: "I'd rather out var never be implemented than to drag pattern matching along with it."

We considered this but felt the overall sentiment indicated that others would rather us do this.  I wasn't stating t

[2016-11-21 04:01] CyrusNajmabadi commented on #14697
I'm very sorry about that!    I received feedback from other people on github that they didn't like when i didn't do this.  It made them feel that their feedback was not appreciated or that they weren't being listened to.  I've been trying to separate out the different concerns when talking to people.  Letting them know that just because there are disagreements doesn't mean that their feedback isn

[2016-11-21 04:09] CyrusNajmabadi commented on #14697
I personally agree with you here.  I really dislike switch scoping *in general*.  A big issue is that if we reuse switch (which i was on the fence about to begin with) we can't change the scoping under the case label.  'cases' were interesting because we had three options we coudl go with:

1. Have the case scoping be the same as the scope under the case.
2. Have the cases have their own unique sc

[2016-11-21 04:16] lextm opened #15412 "Roslyn UnauthorizedAccessException crashed Visual Studio 2015 Update 3"
**Version Used**: 1.3.1

**Steps to Reproduce**:

1. Use a working C# project with .snk to sign the assembly.
2. Remove NTFS access of your account from this .snk file outside VS.
3. Load this project again in VS and open any C# file.

**Expected Behavior**:
VS should not crash. Roslyn might fail to provide IntelliSense.

**Actual Behavior**:
VS simply crashed, with a dialog saying "devenv.exe - S

[2016-11-21 04:27] CyrusNajmabadi commented on #14697
Yes.  But they can have pattern variables (and we discussed previously the desire for pattern variable and out-var scoping to be the same).  We felt there were valuable code patterns enabled by this, and no reasonable code patterns hurt by it.

So switches are wonky... true.  But we inherited much of that wonkyness in C# 1, and we can't change it.  This was an approach that accepted that wonkyness

[2016-11-21 05:15] CyrusNajmabadi commented on #14697
@Kaelum  I wanted to address this point:

I was curious about what the actual percentage would be.  I started by looking at the Roslyn codebase (which has already been adopting C# 7 features).  I analyzed all the current usages of 'out var' to see how they were used.

There are currently 1969 usages of out-var in the Roslyn codebase.  I used Roslyn to analyze every local generated by these out-var

[2016-11-21 06:24] CyrusNajmabadi opened #15414 "'Use expression body': Should we have an option like "Prefer expression body if on single line"?"
I'm finding myself not a huge fan of the "Use expression body" code fix.  The problem seems to be that I want expression-bodied properties for very simple properties, but i'm getting them for all possible properties.  This includes properties with large complex bodies (i.e. a ternary with multiple nested invocations).  Yes, this can become an autoprop... but it ends up being very overweight :)

I

[2016-11-21 06:29] kukjevov commented on #15352
Thank you for answer.

Well i will have to find workaround, but interesting thing is that in versions 1.0.0 and 1.0.1 of .NET Core it was working with some minor problems, but it was working.

What is very strange that exception message says that it cant cast type to itself.

Thank you anyway :)

[2016-11-21 07:28] DavidArno commented on #14697
@CyrusNajmabadi,

I reaaly don't understand what you are doing here. The decision is made to change the C# language scoping rules to make the `out var` feature slightly easier to use. Despite a huge range of opinions here, we're almost unanimous in our condemnation of this decision and the only voices (outside of the language team) who like this feature speak to you in private about it, and so we

[2016-11-21 07:30] bkoelman commented on #11750
To get analyzers performance under control, it would help if end-users and
analyzer authors could get some insights. For example, Internet Explorer
shows startup times of extensions, allowing users to disable any.

In VS, a tool window that shows relative time spent per analyzer with
enable/disable buttons could control the FSA setting per analyzer. Saving
these at project or solution level would

[2016-11-21 07:34] AdamSpeight2008 commented on #14697
That's why I proposed earlier, that it should by-default enclosing scope (nearest outer scope aka widening) rather then enclosed scope (nearest inner scope aka narrowing). It simplifies the more common usage case. For the other case it should require explicit declaration (that the scoping is enclosed).
For example
[code]
vs
[code]
If in either case the variable is already in scope, it should be a

[2016-11-21 07:36] CyrusNajmabadi commented on #14697
This thread was linked to from https://github.com/dotnet/roslyn/issues/12939 (which still is under active discussion).  I was collecting information and positions to see if anything was being missed.  I realized there were a few points made here that hadn't been covered, so i thought it might be useful to discuss them :)

Discussing the changes with community members :)

I'm trying to do no such t

[2016-11-21 07:39] AdamSpeight2008 commented on #14697
@DavidArno
I think the issue is that the community think the change is wrong, as the "actual" scoping is subtle and change depending on context. Which could easily be missing when **reading** the source code.
The community would like to be give to option to decide what scope it should in there own code.

[2016-11-21 07:42] CyrusNajmabadi commented on #14697
@AdamSpeight2008 I would not be opposed to a future language feature that limited scope to, say, the containing statement.

That might provide a best-of-all-worlds for people.  People who desire wide-scoping can get it, but those who prefer narrow scoping could opt-into that as well.

[2016-11-21 07:47] AdamSpeight2008 commented on #14697
@CyrusNajmabadi  I'm thinking of the "average" - professional C# programmer would expect to the code to do.

[2016-11-21 07:49] CyrusNajmabadi commented on #14697
hrmm... good question.  My gut tells me they would expect to be able to use the variable.  That restricting scoping of a local would be 'nice to have', but not really something they would care first and formost about.

[2016-11-21 07:55] DavidArno commented on #14697
@AdamSpeight2008,

I completely agree that, even if one accepts there is merit to `out var`, then accepts there is merit to leaking scoping, the fact that these variable declarations leak in different ways depending on the language construct will likely cause great confusion. But, again, the decision is made. Yes it's the wrong decision, but we have to lump it.

[2016-11-21 07:55] AdamSpeight2008 commented on #14697
There will be only a couple of exception, which they should be aware of that of `for` and `foreach`, which can't be easier changed without breaking existing code.

It also easier *(for me at least)* to understand in direction (aka scope) the variable is going to available from
[code]

[2016-11-21 07:56] Kaelum commented on #14697
@CyrusNajmabadi I will send the private email that you requestted, this week.  However, it is very clear that you know nothing about C++ scoping.  I will cover that in my email.  Good day...

[2016-11-21 07:57] AdamSpeight2008 commented on #14697
@DavidArno  Personally I'd change it now, so it doesn't be come another *billion dollar mistake*.

[2016-11-21 07:57] CyrusNajmabadi commented on #14697
I don't even see it much as 'exceptions'.  for/foreach already clearly introduce variables today.  So i think it will be intuitive to users that out-vars for those constructs go in hte same scope as the existing iteration variables.  Things like 'if/while' don't introduce variables, so the variables declared there go into the *same scope* that they would have gone into originally.

[2016-11-21 07:59] CyrusNajmabadi commented on #14697
[code]

This approach would also have some slight symmetry with javascript, as they used 'let' to denote a block scoped variable.

[2016-11-21 07:59] AdamSpeight2008 commented on #14697
@CyrusNajmabadi
Is there an example, which show that use-case. As I can't think of one.

[2016-11-21 07:59] CyrusNajmabadi commented on #14697
@Kaelum

Thanks!

[2016-11-21 08:00] CyrusNajmabadi commented on #14697
Sorry, which use case are you referring to? Thanks!

[2016-11-21 08:00] AdamSpeight2008 commented on #14697
@CyrusNajmabadi  Sorry, let clarify use of `out` in `for / foreach`

[2016-11-21 08:02] CyrusNajmabadi commented on #14697
I can see the concern there.  Though, to me, it's an issue we've already had to deal with (and it was no biggy).  For example, the scope of a variable in a for-statement is dissimilar (at a cursory glance) to the scoping in a foreach-statement.  And it can bite people (i'm sure there was at least one Roslyn bug report about this :D).  But, overall, it's not really a big deal and only amounts to a

[2016-11-21 08:04] CyrusNajmabadi commented on #14697
@AdamSpeight2008

[code]

[2016-11-21 08:05] CyrusNajmabadi commented on #14697
Personally, i think it woudl be pretty rare to end up with out-vars in foreach locations.  But, if you do use it, having the out-var be scoped to the same scope as the foreach-variable seems at least somewhat explainable :)

[2016-11-21 08:05] mikedn commented on #14697
I have stopped long ago commenting on Roslyn issues, partly due to the noisy nature of the community and partly because myself I'm not a language designer even though I have a certain amount of experience with compilers. I'll make an exception this time though.

When this feature was originally proposed I thought that it's a nice feature. Mainly because it allows you to write something like `if (t

[2016-11-21 08:05] AdamSpeight2008 commented on #14697
@CyrusNajmabadi  That kinda make sense

[2016-11-21 08:12] AdamSpeight2008 commented on #14697
@mikedn The `narrowering` declaration is the minor usage case as the research so far suggests.

[2016-11-21 08:12] CyrusNajmabadi commented on #14697
@AdamSpeight2008 Agreed.  Though, tbh, i think these cases are really that interesting.  In practice people are pretty darn unlikely to use an out-var in loop construct.  The vast majority of cases are going to be either:

1. Expression statements
2. If-conditions

Indeed, looking at roslyn itself, this was 100% of all cases (ignoring a small handful where we did have an out-var in a loop, but the

[2016-11-21 08:13] CyrusNajmabadi commented on #14697
Well, they're close enough (to me) to indicate that both uses are totally valid and common.  While narrowing appears to be the minority case, it's not at all the vast minority.  And it's close enough to 50/50 for me to just want to make sure that both cases are strongly considered as we move forward.

[2016-11-21 08:15] CyrusNajmabadi commented on #14697
Because we were doing patterns and wanted to ensure that the work done now with patterns would not cause problems with other features that also interact with scopes later on down the line.

[2016-11-21 08:18] CyrusNajmabadi commented on #14697
@AdamSpeight2008  I intend to.  Hopefully soon after Thanksgiving.  I have a ton of stuff on my plate for RC2.  I just really wanted to get some initial data to help out here as certain claims were made and i honestly didn't know how well they stacked up to reality (or, at least, the reality of the Roslyn codebase that we vet lots of features against).

[2016-11-21 08:21] AdamSpeight2008 commented on #14697
@CyrusNajmabadi Would it be possible for you to post the code used. I'll do the run.

[2016-11-21 08:22] CyrusNajmabadi commented on #14697
Please, let's be respectful.  We have an enormous customer base with hugely varied needs and desires.   C# is not a language that strives for any sort of ideological purity.  It is a language that, first and foremost, wants to help people solve real problems they're facing on a day to day basis.  We do not want to dismiss any group of users just because another group looks down on them as if they

[2016-11-21 08:28] AdamSpeight2008 commented on #14697
@mikedn It's also about control wear the *leaky* scope goes. 😉

[2016-11-21 08:29] CyrusNajmabadi commented on #14697
@AdamSpeight2008 Sure!  I'll need to clean it up though.  Right now it uses lots of Roslyn internals (like IncrementalAnalyzers).  That's usually how i do analysis as i can just add the code right into Roslyn itself, f5, and then analyze some project.

One difficulty is that in order to extract this out into a workable standalone app, you'll also need to be referencing the latest roslyn bits (as t

[2016-11-21 08:32] AdamSpeight2008 commented on #14697
@CyrusNajmabadi Cool, I'll have a look at attempt that later. As I may need a pot of coffee on standby.

[2016-11-21 08:34] CyrusNajmabadi commented on #14697
Note: i'm not sure if the above will work perfectly (as the compiler may view the trivial initialization of the variable as a "write" to it.  As such, you may need to actually scope the data-flow analysis to just the statements following the local-declaration, all the way to the last statement of the block you're contained in.

[2016-11-21 08:39] mikedn commented on #14697
There's not an ounce of disrespect in my comment. I just picked a random analogy and you have chosen to give the use of "kids" more importance than it has in the context. Please don't use misplaced political correctness to dismiss criticism and support language features.

This particular feature doesn't solve a real problem. It's just a minor annoyance that it tries way too hard to get us rid of.

[2016-11-21 08:43] CyrusNajmabadi commented on #14697
It's disrespectful because it presumes that these developers don't know what they actually need.  Let's not slip into the state of thinking that just because people have different priorities than others that they're any less worthy of having the language improve for their needs :)

[2016-11-21 08:46] CyrusNajmabadi commented on #14697
One person's 'minor annoyance' is another's 'real problem'.

Take, for example, Tuples.  To some there is no benefit to this feature.  They could always just define their own 'ValueTuple' type and use that.  Or just use an nominal type.  Such work only counted as a 'minor annoyance' and Tuples do not solve a 'real problem' for them.  But that's not everyone.  There are others who are routinely wor

[2016-11-21 09:16] DavidArno commented on #14697
@mikedn,

Absolutely spot on. The whole `out var` feature should have been thrown away when it was realised that it wouldn't be very useful. I think your sugary drinks and children analogy is a perfect summary of how ridiculous this situation is.

[2016-11-21 09:22] MouseProducedGames opened #15416 "Logical extension to else-if: also-if"
Consider the following use case:
[code]

The suggested alternative is an inversion of "else if"; or "also if". Whereas "else if" executes only the first if conditional to return true and exits immediately after the context block, "also if" exits at the first expression to return false, and executes all previous if conditionals.

If an if-else-also sequence contains an "else if" followed by an "als

[2016-11-21 09:27] DavidArno commented on #14697
@AdamSpeight2008 ,

Sure, I'd change it too. In fact I'd pull the whole `out var` feature and would seek to educate the "kids demanding sweets" that a piece of fruit would be a better choice (tuples at the moment, hopefully followed by `maybe/option` types in v8). But, assuming @CyrusNajmabadi's views are representative of the language team, then what we'd do is irrelevant; they've made their deci

[2016-11-21 09:29] CyrusNajmabadi commented on #14697
Well, it remains to be seen if it's actually a mistake :D

[2016-11-21 09:37] AdamSpeight2008 commented on #14697
@DavidArno There already is a `maybe/option` type. Just that it is within the `Roslyn` codebase and not `System`

[2016-11-21 09:42] mikedn commented on #14697
If you put it that way then I'll say that yes, some developers don't know what they actually need and no, stating that is not disrespectful. It's just how things are and language designers have the responsibility of talking this into account when processing feedback. And most of the time they do, otherwise the language would have transformed in a mess a long time ago.

I don't see the connection w

[2016-11-21 10:03] CyrusNajmabadi commented on #14697
Let's not slip into the state of thinking that just because people have different priorities than others that they're any less worthy of having the language improve for their needs.

The point was that *depending on who you talk to* you'll get different perceptions of the overall value of the feature.  To some it's just syntactic sugar (i mean... it's pretty close to that at the end of the day), a

[2016-11-21 10:13] dsaf commented on #14697
@CyrusNajmabadi you mentioned team talking to *people* regarding this issue. Was this some sort of a target group identified and asked through some methodology or is it just an anectodic evidence collected through random casual conversations?

Also isn't there a discrepancy between strategic vision and tactical decisions the team is making? Why bother with pattern matching, tuples and other functi

[2016-11-21 10:14] AArnott commented on #12759
I see `$(SourceLink)` is already wired up to the Csc task. I'm interested in enhancing [PdbGit](https://github.com/aarnott/pdbgit) to set this property and skip the PDB rewrite, but I'd need to know a couple things:

1. How to detect during the build that `$(SourceLink)` is supported, since I would end up skipping PDB rewriting later when this is the case. I don't want to just set an MSBuild prope

[2016-11-21 10:24] DavidArno commented on #14697
@CyrusNajmabadi,

Only speaking for myself here, obviously, but:

1. I think you are making a serious mistake and I do not feel that a jovial, "light and pleasant", mood is the appropriate one for discussing this issue,
2. Unfortunately you use of smilies has made some of your replies appear highly patronising, rather than friendly. I accept that isn't your intention, but it has had that unintende

[2016-11-21 10:27] CyrusNajmabadi commented on #14697
@dsaf We have many channels that we get feedback through.  Github is only one of them.  We've been doing C# for quite a long time, so there are many ways existing ways that information flows that are still around.  My hope would be that eventually everything related to our work is just all done here.  But you can't stop feedback coming in through other avenues that existing customers are used to.

[2016-11-21 10:33] CyrusNajmabadi commented on #14697
@DavidArno What can you do?  Both styles seem to have irked some people reading the posts.  I'd rather err on the side of being friendlier than not.

Great!

I totally get that.  I can *firmly* state that your opinions have never been in doubt (either here or on other topics you've weighed in on).  Your reasoning has been totally clear, extremely logical and definitely something that has been give

[2016-11-21 10:36] CyrusNajmabadi commented on #14697
@DavidArno Woudl love to chat more about communication styles and whatnot.  However, this is clearly not the right venue for that.  I'd be happy to chat about this directly, but it doesn't seem appropriate in this topic.  Feel free to reach my by any means.  I'd really appreciate your help in improving how I discuss things with all of you :)

[2016-11-21 11:08] timopomer opened #15417 "proposed [Area-Language Design] Anonymous types in a generic declaration"
I would like to propose a way to use anonymous types in a generic setting.

I do **not** know if our latest build lets us create collections of named tuples for example, but on multiple occurances I have needed to create helper classes to enable me to imitate the anonymous types i actually wanted to use.

If generic functions can handle anonymous types, why cant they be made non generic where the

[2016-11-21 11:28] orthoxerox commented on #15416
How will it work together with `else`? Will it be an `else` to the last `also if` in the chain?

[2016-11-21 11:55] MouseProducedGames commented on #15416
"else if" and "also if" are separate statements. You wouldn't have "else also if". The behaviour of "also if" when followed by or following "else if" or "if" is described in the text, particularly the middle section.

Other than that, I'm not sure what you're asking, sorry.

[2016-11-21 12:04] DavidArno commented on #15414
How would you determine "...with an expression on a single line". Do you mean offer it eg for:
[code]
But not offer it for a nicely formatted version that spans multiple lines?
[code]

[2016-11-21 12:07] HaloFour commented on #14697
@CyrusNajmabadi

You'd find just as much support for removing semicolons, curly brackets, parenthesis, dots and plenty of the other expected syntax of C#.  Read back through some of the closed proposals here (sometimes even mocked by the LDM).  Written as if someone glued a razor blade to their shift key.  Are they really "real problems"?

No, not even remotely the same thing.  All of those featur

[2016-11-21 12:08] leoniDEV commented on #15388
I had the same issue, after closing and reopening the solution, the tuple works as expected

[2016-11-21 12:16] HaloFour commented on #15416
What exactly is the problem?  Is it the nesting of the blocks for each subsequent `if` statement?

Also, "else if" is two separate statements.  It's `else` followed by an `if` as the embedded statement without an enclosing block.  The fully expanded form would be:

[code]

To fit `also` into the same syntactic structure it would need to be supported on its own:

[code]

[2016-11-21 12:17] dsaf commented on #14697
@CyrusNajmabadi will this discussion be communicated back to the decision makers on the team for re-consideration?

[2016-11-21 12:22] dsaf commented on #15417
Tuples seem to work. Best way to try is here: http://tryroslyn.azurewebsites.net

[2016-11-21 12:24] DavidArno commented on #15416
Let's take an example:
[code]
I'm guessing that you'd want `DoThing4()` to be called if both `expression3` and `expression4` were true? It's not really obvious that that would be the case though and I could see it causing bugs.

Also, as @HaloFour has mentioned, `else` and `if` are two distinct statements, so the following are equivalent:

[code]

So the new keyword would need to eg be `alsoif` as

[2016-11-21 12:56] alrz commented on #14697
Regarding statistics of how out params are currently being used, I think that's just because we hadn't tuples and pattern matching before. With those in mind, there is no need to even leverage out var. In my opinion tuples and pattern matching introduce new idioms into the language and that's where you gain value if you use new features. F# deals with out params far better than this. They can just

[2016-11-21 13:12] BartNetJS commented on #15284
Hi @jaredpar , what I saw is the stub generation resulted in 1000 and 1000 objects that needs to be compiled, and this over multiple threads.

I saw it especially for the DWHProcessManager.BSL(this is a custom legacy project) fakes.
I'm not sure if it was the same for mscorlib. If it is any help I can check it out

[2016-11-21 13:13] Dennis-Petrov commented on #5561
This could replace tools like `ccrewrite` from Code Contracts (in fact, making your own re-writer will be trivial). It would be great to see this feature implemented.

[2016-11-21 13:42] robrisner commented on #15352
I'm experiencing the same issue. Version 1.1.0 of .NET Core breaks C# Scripting code that works perfectly fine on version 1.0.1.

[2016-11-21 13:44] paulomorgado commented on #15417
@timopomer, are you aware that anonymous types have little or no use outside the assembly they are defined on?

But if you really, really, really need it:

[code]

[2016-11-21 13:48] DavidArno commented on #14697
@CyrusNajmabadi ,

So the Roslyn codebase has 1,969 "low-hanging fruit" opportunities for where the code could potentially be cleaned up by replacing those `out` parameters with tuples. Seems a great way to engage with the community, re-emphasise how the Roslyn compiler is open source now, and invite folk to submit PRs.

[2016-11-21 14:42] timopomer commented on #15417
@dsaf can you post an example? i couldnt get it working

also incase that works, why are we keeping anon types if you can generate tuples instead?

[2016-11-21 14:51] jaredpar commented on #15284
That screenshot of 700+ members to consider in overload resolution is pretty telling.  I'm sure that's at the heart of the problem.

[2016-11-21 14:56] jaredpar commented on #12759
I don't know that such a feature exists.  I definitely understand what you're asking for here as it's a problem we've run into as well.

There are a number of items to consider here:

- MSBuild Csc task:
    - Will attempt to normalize the provided source files based on `Path.GetFullPath` [here](http://source.roslyn.io/#Microsoft.Build.Tasks.CodeAnalysis/ManagedCompiler.cs,5c744877bd3c4aaf)
    -

[2016-11-21 15:08] AdamSpeight2008 commented on #14697
@DavidArno Only if those changes don't affect exist public APIs.

[2016-11-21 15:14] dsaf commented on #15417
@timopomer due to compilation and mental backwards compatibility. C# syntax gets set in stone, that's why any potential design mistakes face a backlash from community e.g. #14697 .

[2016-11-21 15:14] DavidArno commented on #14697
@AdamSpeight2008, of course. 😺

[2016-11-21 15:25] jaredpar commented on #15297
Closing as per discussion.

[2016-11-21 15:25] #15297 closed

[2016-11-21 15:26] timopomer commented on #15417
@dsaf great, thank you. resolved. looking forward to c#7!

[2016-11-21 15:26] #15417 closed

[2016-11-21 15:34] NoneGiven commented on #15021
There are two reciprocal issues here: With a type name (IPAddress), it always uses var even if the "elsewhere" var preference is set to "prefer explicit type." And with a type keyword (int), it always uses the keyword even if "elsewhere" preference is set to "prefer var."

[2016-11-21 15:57] pmunin commented on #2136
Is there any feature requested of dynamic interface mappings? Let's say I have an

`public interface IHasName { string Name{get;} }`

And I have POCO:
[code]

Since ObjectWithName is POCO - it does not implement IHasName and I don't have any control over it. As a developer, I'd like to cast in some native way ObjectWithName to IHasName without writing my custom proxies/wrappers to get it supported

[2016-11-21 16:04] AArnott commented on #12759
Beware: that API only normalizes the leaf name. It does nothing for the folders that the leaf item belongs to. So you have to call GetFullPath for each path segment.

The response files are already created by the .targets, aren't they? And they don't contain normalized paths AFAIK. So how does that solve the problem?

That's fine, perhaps for perf reasons for everyone who doesn't care about linkin

[2016-11-21 16:05] HaloFour commented on #2136
@pmunin

#10757, #9132 and #7844.  Today the best the compiler could do is to generate that wrapper for you and that wrapper would lose its connection to the original class (e.g. you couldn't cast the `IHasName` instance back to an `ObjectWithName` instance).  Personally I think I'd prefer exploiting source generators to auto-generate these proxies than to have the compiler bake that concept in.

[2016-11-21 16:08] codingonHP opened #15419 "Question : How can I update wiki page"
There is a typo in code on this page :  https://github.com/dotnet/roslyn/wiki/Getting-Started-C%23-Syntax-Transformation and some of the API are now obsolete.
Is it possible to update it in anyway ?

Thanks.

[2016-11-21 16:21] DavidArno commented on #15419
On any page on the wiki, scroll down and on the right hand side is the clone link: https://github.com/dotnet/roslyn.wiki.git. Clone it, pull to your desktop and edit it. Then push to your cloned repo and finally create a pull request.

Easy 😃

[2016-11-21 16:23] xied75 commented on #2136
@pmunin not really want to pollute the thread, would this https://github.com/ekonbenefits/impromptu-interface help? I know it's not a language feature, but been around for ages.

[2016-11-21 16:57] jnm2 commented on #14726
Declarations should be as close as possible to the first usage of a variable. It would be insanely hard to read code when the first time you see a new variable that looks like a field, you have to scan the entire method to see if it's actually a variable and what the scope is and then come back and find your original place.

[2016-11-21 17:23] QuickC commented on #15326
Also note that Kinds of type "Local variable" & "parameter" are needed

[2016-11-21 17:29] tmat commented on #12759
If there is a problem with normalization I think the best place to address it is in msbuild.

Note that /sourcelink allows you to specify a mapping from local paths as stored in the PDB to the repo URLs. The mapping also supports suffix wildcard as shown in the example above (in the description of the PR). When applied by the debugger the mappings are sorted by the key length, so if there is a mor

[2016-11-21 17:42] praeclarum commented on #15321
I cannot find any direct references to the assemblies but the project lock file (whatever that is) seems to contain direct references.

I would love to fix this for you an submit a PR but I don't understand Roslyn's dependence on the Core CLR enough. I could really use some guidance here.

[code]

[2016-11-21 18:16] ctaggart commented on #12759
@AArnott Any chance you would be interested in collaborating here in the original project https://github.com/ctaggart/SourceLink/issues/121 ? Now that the MSBuild tooling refactor is out, I plan on picking this back up. SourceLink 2.0 will be for this portable PDB support. Writing that json file should be simple enough. I simply don't know yet how to plug into the right spot of the MSBuild process

[2016-11-21 18:31] rchande commented on #15313
Hey @ahowroyd--I'm unable to reproduce this on VS 15 RC. Closing this but feel free to reactivate if you see it again.

[2016-11-21 18:31] #15313 closed

[2016-11-21 18:40] CyrusNajmabadi commented on #15414
Yes.  "On a single line" would mean "an expression that doesn't span multiple lines".

You'd use the existing preference for that.  This is about adding a new style for those (like myself) who like expression bodied expressions to not span multiple lines.

[2016-11-21 18:43] CyrusNajmabadi commented on #15021
Fixed with https://github.com/dotnet/roslyn/pull/15306

We now respect the user's 'var' preferences for both extract-method and inline-declaration.

[2016-11-21 18:43] #15021 closed

[2016-11-21 18:47] TyOverby commented on #9703
@jrmoreno1 Ahh!  Compiling with `/optimize+` does cause this bug to surface.

Thanks!

[2016-11-21 18:50] CyrusNajmabadi commented on #14697
@dsaf

For certain :)

[2016-11-21 18:51] Unknown6656 opened #15422 "Allow custom "using ..... ;" sorting order + grouping"
I may be one of few people, but I do not like how the default using-statement sorting works.
I would therefore like to propose an IDE setting, to allow custom using-statement grouping and sorting, e.g. by length, reverse alphabet, or whatever...

The problem is, however, how to define the sorting rule to the IDE....
_(ideal would be submitting a LINQ sorting query to the IDE inside the settings ^^

[2016-11-21 18:55] CyrusNajmabadi commented on #14697
@alrz

This is a great point!  And it hits a major tension point for us when we do language design.  We're constantly having to take a feature and consider the both the impact it has on existing code, as well as where think it will take future coding patterns.

I personally struggle with this a lot as i tend to want to do everything in an 'ivory tower' manner.  i.e. i would often love to say "feat

[2016-11-21 19:03] CyrusNajmabadi commented on #14697
I'm not sure i get the argument.  The point i was making was that:

1. The claim that: out-vars are only needed for narrow-scoped purposes the vast majority of times, is not universal.  Roslyn, while only one data point, is a large corpus of code that demonstrates that not only is narrow-scoping not used the var majority of times, it's not even used the majority of times.  It's the minority case f

[2016-11-21 19:07] Jijjy opened #15423 "Init char array with a prefixed string literal"
You may have written or come across something like this:
`char[] foo = "abcdefg".ToCharArray();`

char arrays can be kind of painful to type:
`char[] bar = new char[] {'a', 'b', 'c', 'd', 'e', 'f', 'g'};`

Suggestion: ~~suffixing~~ prefixing a "c" to a string literal will be equivalent to an array of chars.

Example:
`char[] abcdefg = c"abcdefg";`
Becomes equivalent to:
`char[] abcdefg = new char[

[2016-11-21 19:08] CyrusNajmabadi commented on #14697
Well, i'm not sure that's true.  We certainly have fixed scoping issues after shipping them in the past.  And, we could always introduce scoping constructs that fit a different set of rules if we felt there was enough motivation to do so.  For example (syntax just for expository purposes) we could do something like:

```if (TryParse("", out! foo))```

That would a variable scoped to whatever new r

[2016-11-21 19:09] CyrusNajmabadi commented on #14697
Yes.  But that's precisely my point.  'out-var's aren't coming into existence in a vacuum.  They're being created in a world where C#/.Net has been around for years, and there is an abundance of APIs and code using 'out' today.  We want 'out-var' to fit smoothly into that world.  If we were starting over again, we might do things differently.  But the shape of the ecosystem today *absolutely* play

[2016-11-21 19:12] rchande commented on #15252
@olegtk is fixing this in the editor.

[2016-11-21 19:12] #15252 closed

[2016-11-21 19:18] Unknown6656 commented on #15423
Also, I would like to propose a implicit operator for converting a char-array to a string, so that
[code]
would become
[code]

[2016-11-21 19:21] VSadov opened #15425 "PseudoVariable bound node used by EE may not be handled correctly by the optimizer"
In particular, optimizer does not know that PseudoVariable can actually be indirectly assigned.

That could lead to incorrect IL gen for EE evaluation expressions. as was noticed in https://github.com/dotnet/roslyn/pull/15192

The bug is likely to be affecting both C# and VB - needs to be verified.

[2016-11-21 19:22] VSadov commented on #15425
cc @jcouv

[2016-11-21 19:25] DavidArno commented on #15414
OK, that makes sense. In that case I've nothing useful to add as I'm happy with the fix as is.

[2016-11-21 19:26] alrz commented on #14697
@CyrusNajmabadi I think you've missed the bit I told about F#. It doesn't need to change the method declaration in any way. It just corresponds out params to tuple elements as we do for `Deconstruct` method.
[code]
IMO this is more concise and readable than out var and it has widening scope by definition.

[2016-11-21 19:30] HaloFour commented on #14697
@CyrusNajmabadi

Via exceptionally narrow breaking changes to the language.  That's not possible here.  At best you can introduce a second syntax which has the different behavior and then try to educate people to not use the primary and expected syntax, which is exactly as you've described with your theoretical syntax (which is very similar to what @AdamSpeight2008 has already recommended multiple

[2016-11-21 19:39] CyrusNajmabadi commented on #14697
@alrz Yup!  That's something we considered, and it's def something we might do in the future.  I don't view these two particular features as 'either/or'.

[2016-11-21 19:41] Pilchie commented on #15406
For reference, I implemented this back in VS2005, but we ended up pulling it out.  It ends up leading to another explosion of options for how to do the wrapping:

* 1 parameter per line, or as many as fit
* First parameter on the same line as the method or not?
* What is the indentation of the wrapped line
* Should expressions be wrapped before or after operators,
* etc.

I'm not saying it's impos

[2016-11-21 19:45] CyrusNajmabadi commented on #14697
I never said it would be discouraged.  :)

I said that if there was enough motivation we could consider a specific syntax for the narrow case.  The wide case would still be totally allowed and useful for all those cases where you want wide-scope (60% of the cases as i've found so far with Roslyn itself), and the narrow case would be useful for those that want the scope to be kept minimal.   Two di

[2016-11-21 19:50] alrz commented on #14697
@CyrusNajmabadi As long as it doesn't hamper variable scoping for patterns, yes. `let` is already proposed for the exact problem for patterns (wider scoping), therefore `e is T t` can still use narrow scoping and there is nothing to be inconsistent with i.e. our var. It's just a distraction here and due to the special usage patterns for out params, it requires a rather odd scoping to be useful to

[2016-11-21 19:51] HaloFour commented on #14697
@CyrusNajmabadi

If you're going to have a warning wave in the case where the narrower scope is used then it would be discouraging the primary syntax.  Note that this entire thread is in the context of realizing after the fact that the wider scoping rules here are considered a mistake and how the language team might attempt to compensate for that.

Also, I don't expect you to find much of a differ

[2016-11-21 19:52] CyrusNajmabadi commented on #14697
Only in the case where you use it in a narrow fashion.  If you use it in a wide fashion, you clearly wouldn't get a warning :)

[2016-11-21 19:52] jnm2 commented on #5605
I want this so bad. I have the exact same `IReadOnlyDictionary` vs `IDictionary` extension method pain.

Is it possible to need a tiebreaker between three overloads but at the same time need another tiebreaker between just two of them for a different call site? If so we'll need a priority parameter. (yuck)

[2016-11-21 19:52] CyrusNajmabadi commented on #14697
Because we think the feature is good enough and has enough good to outweigh this particular concern.

[2016-11-21 19:54] jainaashish opened #15427 "Project load error in DPL mode"
I'm getting a project load error when solution is opened under DPL and then load a project. It throw below error:

`A project with that name is already opened in the solution.`

Steps:
- First you need to get the test NuGet vsix with my restore changes. Do below steps:
  o Uninstall existing NuGet vsix. Execute “Vsixinstaller /u:NuGet.72c5d240-f742-48d4-a0f1-7016671e405b” from developer command pr

[2016-11-21 19:55] HaloFour commented on #14697
@CyrusNajmabadi

AKA, one tiny bit of syntax candy which solves absolutely no new problems and only decreases verbosity by exactly the length of a single identifier is worth torpedoing the entire discussion regarding the scope (and mutability) of pattern matching permanently in the language.

Yes, I do believe that there is some serious disconnect.

[2016-11-21 19:56] CyrusNajmabadi commented on #14697
I don't think you're understanding how the scannign works.  If the analyzer sees:

[code]

Then this is considered a narrowly-scoped out.  i.e. the user only put the variable into an outer scope because we require it, not because they needed it.  This could would benefit from a narrow scoped out-var.

however, if they have:

[code]

Then this is a wide-scoped local variable, and a narrow-scoped ou

[2016-11-21 19:58] HaloFour commented on #14697
The existing code would be written to take advantage of how the current language forces you to write that code.  A bouncer with a bail out fits those limitations.

How many non-bouncer examples have you identified?

[2016-11-21 19:59] CyrusNajmabadi commented on #14697
It decreases by the length of a type *and* the need for a statement, and the need for a gap between the declaration and the initialization.

I mean, => only descreases verbosity by "{return}", but we still did it :)    Continually decreasing verbosity helps a lot.  I took a look at some C# 1.0 code the other day... i was tremendously happy we've invested so much in improving this type of area :)

[2016-11-21 20:01] CyrusNajmabadi commented on #14697
Yes.  We're creating a new feature that fits well with existing code that was written based on what the language was capable up to now...

That's desirable *IMO*.

[2016-11-21 20:02] CyrusNajmabadi commented on #14697
Could you clarify this bit?  I'm not sure what you mean by it.  Thanks!

[2016-11-21 20:05] HaloFour commented on #14697
@CyrusNajmabadi

And has **no further side effects**.  I've mentioned this before.

https://github.com/dotnet/roslyn/issues/14697#issuecomment-261832205

[2016-11-21 20:08] CyrusNajmabadi commented on #14697
I didn't find anything uncompelling about guard.  The decision though came down to if it was really worth adding both out-var and guard to attempt to provide both narrow and wide scoping semantics in this release of the language.  We deemed it not important enough.  Wide scoping was permissive enough for both use cases, while having a limitation that we felt would not be an issue in practice.  We

[2016-11-21 20:10] CyrusNajmabadi commented on #14697
Sorry, i'm still not quite getting the point you're making.  The comment you linked to talks about the argument being torpedoed because of switch scoping.  As i mentioned already in my responses, we felt we were taking a pragmatic approach with 'switch'.  Of the three options we had, it enabled the most scenarios, with the least restrictions (a similar reason to why we went with what we did for ou

[2016-11-21 20:13] CyrusNajmabadi commented on #14697
"out-var" in the majority of cases, has no further side effects.  it can be swapped in almost all of the time in code.  That's because today's code declares the variable in a certain scope, and nearly all cases of out-var will declare into that same scope.

[2016-11-21 20:15] HaloFour commented on #14697
@CyrusNajmabadi

`let` might work in place of `out var`, but even then only in the unambiguous overload case.  For patterns (specifically type-switch patterns) I can't even fathom how that syntax would work:

[code]

Pattern matching isn't `switch`.  It starts with `if` and `?:` (the latter being the closest we get to a `match` expression today).

The side effect is in establishing these permanent

[2016-11-21 20:18] CyrusNajmabadi commented on #14697
@HaloFour I deeply regret even bringing up syntax.  It leads to too much barnshedding.  :)

Let's just say that i believe that we could provide a syntax for narrow scoping, just as we've provided a syntax for wide scoping.  Just as we coudl have if we went with narrow scoping by default, and introduce 'guard' to enable wide scoping.

The only different is what default we're going with (narrow vs w

[2016-11-21 20:20] CyrusNajmabadi commented on #14697
I still do not understand what argument it is you are making.  You mentioned torpedoing two times.  When asked about the latter, you linked to a post with the former.  That post talked about how switch scoping torpedoed the arguments about scoping.

I thought i addressed those arguments, but you clearly feel differently.  The problem is that i cannot actually tell what actual argument you're putti

[2016-11-21 20:25] Pilchie commented on #15419
Yeah, I wish this was easier for externals :(

[2016-11-21 20:25] HaloFour commented on #14697
@CyrusNajmabadi

The argument specifically is that due to the goal of keeping type-switch (and variable patterns) consistent with `out var` that implementing `out var` explicitly sets into place these permanent scoping rules before we can even restart the discussion as to what pattern matching will look like post C# 7.0, where hopefully it will be fleshed out significantly more.

[2016-11-21 20:25] CyrusNajmabadi commented on #14697
Sorry, i'm not seeing how that's hte case.  By that argument, if we had narrow-scoping-by-default, we couldn't add 'guards' later as we would have 'established permenant scoping rules for pattern matching'.  Clearly, we can make changes to the language (possibly through new syntax) that affect scoping.

If it's acceptable to you to have narrow-scoping but then add syntax to make scoping broader, w

[2016-11-21 20:26] #15419 closed

[2016-11-21 20:26] CyrusNajmabadi commented on #14697
@HaloFour See my last post.  I don't think that that argument is true.

[2016-11-21 20:27] alrz commented on #14697
You guys have gone through all the trouble and rewritten the entire compiler instead of "fixing" the old one. Now here you are trying to "fix" out params instead of investing on new idioms - procrastinating the actual value. I can't understand the the thought process behind these decisions.

[2016-11-21 20:30] CyrusNajmabadi commented on #14697
@alrz Sorry, i'm not sure what additional information i can provide.  I've explained the reasoning of the LDM and tried to explain a lot of the criteria by which we assess language features.

FWIW, i can definitely understand your perspective (and it totally makes sense to me).  I'm sorry i haven't provided enough clarity to help your understand ours!

[2016-11-21 20:32] HaloFour commented on #14697
@CyrusNajmabadi

Not looking at the two holistically also means that whatever comes around the second time would have been an afterthought complete with the awkward syntax to go along with it.  I would've implemented `guard` and `let` right out of the gate, so that wide- and narrow-scoping were both catered to and both first class citizens.

[2016-11-21 20:36] alrz commented on #14697
@CyrusNajmabadi Sure, the feature is good enough on its own, but when we want to maintain consistent scoping rules between out var and pattern variables, it doesn't seem to be a standalone feature with no side effect to other features. As I said, out var, unlike pattern matching, has some special usage patterns, it requires special scoping rules that clearly affect scoping for pattern variables. I

[2016-11-21 20:37] CyrusNajmabadi commented on #14697
Something coming after the fact in no way implies 'awkward syntax'.  Properties have evolved over pretty much every C# release, and i think the least awkward syntax has come *later* in their lifetime.

Fair enough :)

I think things can be first class citizens even if they're added in subsequent releases.  That does appear to be a differing of opinion when conversing on these topics.  It's likely

[2016-11-21 20:38] CyrusNajmabadi commented on #14697
@alrz Ah, i see what you mean.  Thanks for the clarification1  This was a complicated constraint that we looked at from all different angles.  If it helps, i also started with the position that "out var, unlike pattern matching, has some special usage patterns, it requires special scoping rules."

[2016-11-21 20:40] Kaelum commented on #14697
@CyrusNajmabadi
I have been quiet, as I wanted to state this and other things in the private email that you requested.  However, I can't tolerate this passive-aggressive behavior any longer.  You, and at least one of the LDM team members have engaged in this behavior, and it is a behavior that is not tolerated in any corporate environment that I am aware of.  If Microsoft allows it, so be it.  But

[2016-11-21 20:42] HaloFour commented on #14697
@CyrusNajmabadi

I guess we'll have to wait another year or two and see.

The analogy of properties is quite poor given how verbose they started.  You can't get much less verbose than `type identifier`.  And yes, I do think that `type !identifer` is awkward in comparison, and I can't even begin to imagine how you'd cram a `let` in there without it being even worse.

[2016-11-21 20:42] jaredpar commented on #15321
Sorry for the delay.  I heard about this issue in a xamarin slack chat and had been discussing it there.  Didn't realize we had a public facing bug on it.

To be clear Roslyn does not reference CoreCLR private assemblies.  I double checked this when I first saw the bug and even dug through our compiled assemblies to make sure it wasn't sneaking in the back door somewhere.  Was able to verify this

[2016-11-21 20:51] alrz commented on #14697
And that's it Ö? Am I supposed to take this as an answer or perhaps your sentence didn't get to the point where it actually makes your point. "This was a complicated constraint that we looked at from all different angles" certainly didn't make anything clear. Can you please elaborate?

[2016-11-21 20:51] praeclarum commented on #15321
Thanks for taking a look!

It's a blocker because I can't compile a Xamarin.Mac app that references the CodeAnalysis.CSharp nuget (see original post errors). I used to be able to do this, but 2.0.0-beta5 has these Private references. (Please see the Xamarin bug.)

To be clear, I am not using a custom build or anything - just a nuget reference from Xamarin.Mac.

[2016-11-21 20:52] CyrusNajmabadi commented on #14697
@Kaelum

The Roslyn github repro is for discussing Roslyn related manners.  That include language design around C#.  I find huge value in conversing with the contributors here. I've learned a lot and it's helped me get a lot of clarity around certain perspectives and desires around the language.

@HaloFour, in particular, helped clarify several points that have helped me better understand how some

[2016-11-21 20:54] jaredpar commented on #15378
Can you give some more context into how you are looking to use this package?

This particular NuGet package is deliberately platform specific at this point.  It delivers the standalone compiler toolset (csc, vbc, msbuild tasks, targets, etc ...) for the desktop runtime environment.

We've had a couple of requests for a more general, non-platform specific toolset.  Our initial attempt was the Micro

[2016-11-21 20:55] 333fred opened #15428 "Static naming style applying to const variables"
I have the following naming spec set up:
![image](https://cloud.githubusercontent.com/assets/2371880/20500185/56554a24-afe9-11e6-8ec4-713a40082ff1.png)
This spec is being applied to a `s_camelCase` style.

I'm getting a naming style violation on `private const` identifiers like this one:
`private const string DebugPropertyClassId = "{0273C280-1882-4ED0-9308-52914672E3AA}"`. Running d15rel/25920.00

[2016-11-21 20:55] CyrusNajmabadi commented on #14697
@alrz

I didn't think i had anything additional to add.  All i would have said was: after a large amount of investigation and conversation on the topic, i ended up in the position i'm in now.  Namely of all the options possible, this one was the best balance of pros/cons.

I didn't feel the need to rehash all the arguments since i felt like i would just be repeating something you'd already heard f

[2016-11-21 20:57] OJacot-Descombes commented on #2136
@pmunin: In C# there is no need to create a wrapper. You can simply derive a class that pretends to implement the interface. The inherited members are automatically considered to be implemented, if they match.

I used this behavior in order to implement Views (simplified):

    public interface IView
    {
        void Close();
    }

    public partial class MyView : Form, IView
    {
        //

[2016-11-21 20:58] jaredpar commented on #15321
As I stated in my comment though we don't see these references anywhere.  We've looked in the lock file, the assembly, the NuSpec file and none have these references.

[2016-11-21 21:00] 333fred opened #15429 "Manage specifications window is doing odd things with multiple desktops"
Using d15rel/25920.00. There seems to be some weird interactions with the specifications window and multiple desktops. Here is the scenario:

1. Open the manage specifications window under naming styles.
![image](https://cloud.githubusercontent.com/assets/2371880/20500411/2b0fce92-afea-11e6-8269-49a2f4020b2e.png)
2. Click any edit button.
3. Switch desktops. The manage specifications window is now

[2016-11-21 21:05] praeclarum commented on #15321
OK, something fishy is happening then. I will close this while I figure out where the heck those references are coming from...

Thank you for your attention.

[2016-11-21 21:05] #15321 closed

[2016-11-21 21:06] CyrusNajmabadi commented on #14697
Note: it probably won't be !.  We're already considering that operator for something else.  That's why i'd like to avoid syntax discussions for now.

That may very well be the case.  But here's how i see it.  From my own cursory examination of how code is written, the majority case seems to be wide-scoped, and the minority is narrow-scoped.  I don't mind the majority case getting the cleanest synt

[2016-11-21 21:16] jaredpar commented on #15321
Please do let us know.  It's very possible we're doing this in some indirect way that we don't realize.  If so would be happy to fix.

[2016-11-21 21:23] #15336 closed

[2016-11-21 21:53] AlgorithmsAreCool commented on #14697
137 replies and 73 of them are from @CyrusNajmabadi in the last 22 hours.

What kind of keyboard do you use? I think I could double my typing productivity with one. :)

[2016-11-21 22:02] CyrusNajmabadi commented on #14697
@AlgorithmsAreCool  Lenovo4Life :)   I love this keyboard.

[2016-11-21 22:12] jnm2 commented on #14697
From my perspective, @CyrusNajmabadi is one of the least aggressive voices here. He seems to be calming the rhetoric and staying objective. I'm bewildered why there is so much energy spent towards personal conflict by a number of you. If you wouldn't mind sticking to more self-deprecating wording that doesn't encourage these side trails- I'm having a lot of fun following the actual language design

[2016-11-21 22:20] yaakov-h commented on #2136
@OJacot-Descombes That only works if you can modify the assembly containing `MyView`. I think what @pmunin is after is more akin to the `extension` capabilities in Swift.

[2016-11-21 22:28] CyrusNajmabadi opened #15430 "API request: Provide 'definite assignment' information on AnalyzeDataFlow result."
Right now 'DataFlowAnalysis' has an 'AlwaysAssigned' property on it.  However, it doesn't quite do waht i thought it would do.  'AlwaysAssigned' refers to the locals that are always assigned to *within* the region that is being analyzed.

That's not quite what i want.  I want a way to provide a region and ask "what are the values that definitely assigned when entering this region".  i.e. what are

[2016-11-21 22:31] eyalsk commented on #14697
@jnm2 I agree with you on the language but some people are just frustrated by the decisions made and I can relate to them on that even though I respect these decisions.

[2016-11-21 22:32] DustinCampbell commented on #15307
Also, `PreferObjectInitializer_FadeOutCode` and `PreferCollectionInitializer_FadeOutCode` need editorconfig options as well.

[2016-11-21 22:43] Pilchie commented on #15307
Hmm - those seem more like presentation things.  I'm not sure I would force them on an entire team through editorconfig.

[2016-11-21 22:46] CyrusNajmabadi commented on #15430
Tagging @gafter

[2016-11-21 22:49] Pilchie commented on #15025
Still this has been the same in Add Using since VS 2005, and I've never heard of a request to change it before now.  I still don't find it all that compelling.

[2016-11-21 22:51] Pilchie commented on #15281
Interesting.  "Preview 5" doesn't appear anywhere in the Roslyn source code.  I'm not sure where this might be coming from.

[2016-11-21 22:51] CyrusNajmabadi commented on #14697
I think an important thing for healthy discussion is to accept that not every decision will be one that you personally agree with. In the past i've mentioned many a decision we've made that i haven't personally agreed with.  But i still love working in this space and i'm still happy where we've gotten to, even if there are individual choices that weren't my cup of tea :)

Anyways, i hope everyone

[2016-11-21 22:52] HaloFour commented on #14697
@eyalsk

And the process, which I've noted before.  This isn't the first contentious issue to occur.  String interpolation went around in circles for a bit.  So did `nameof`.  Not to mention `private protected` which remains punted.  But in all of those cases the threads of logic were at least spelled out on CodePlex and there was a feeling of inclusion within the community.  You could see the arg

[2016-11-21 22:53] jnm2 commented on #14697
@eyalsk I understand that feeling. I feel the same about the decision to include netstandard 1.6 in 2.0 and have MissingMethodExceptions.

"Where people are involved, there are no solutions; only tradeoffs." -Thomas Sowell

[2016-11-21 22:55] CyrusNajmabadi commented on #14697
We probably did do a poorer job with this particular feature than would be desired.  But i, and others, have at least tried to explain the logic behind it.  I don't think there's any lack of information now.  We've just settled on a final decision that isn't one that some don't happen to like.

If there's any more information/'logic' you'd like clarified, i'm happy to provide whatever information

[2016-11-21 22:55] Pilchie commented on #15281
Can you try to track down where this is coming from?

[2016-11-21 22:56] AlekseyTs commented on #14617
I am not able to reproduce high CPU utilization. Tried opening solution and the file in
- Microsoft Visual Studio Enterprise 2015 Version 14.0.25431.01 Update 3 Microsoft .NET Framework Version 4.6.01055
- Microsoft Visual Studio Enterprise 15 Preview 3 Version 15.0.25421.0 PREVIEW Microsoft .NET Framework Version 4.6.01055

@niemyjski Could you provide precise repro steps or, perhaps, share the p

[2016-11-21 22:57] Pilchie commented on #15350
Note that it also depends on DPI and font sizes.

[2016-11-21 22:58] CyrusNajmabadi commented on #15430
See https://github.com/dotnet/roslyn/pull/15431 as an example of code that would be much nicer if we had a data-flow API that provided this information.

[2016-11-21 22:58] Pilchie commented on #15355
With the change to invoke via reflection, we need to unwrap `TargetInvocationException`, unless you can get rid of that reflection soon.

[2016-11-21 23:00] Pilchie commented on #15363
@CyrusNajmabadi  - note the question on #15364 about whether it's worth taking that to the `dev15-rc2` branch.

[2016-11-21 23:01] CyrusNajmabadi commented on #15363
I dunno :)  What's the bar for RC2?

[2016-11-21 23:03] Pilchie commented on #15368
Do we have a way to distinguish the rename from an add other than https://github.com/dotnet/roslyn/issues/6261?

Tagging @kuhlenh too.

[2016-11-21 23:05] Pilchie commented on #15386
Dupe of https://github.com/dotnet/roslyn/issues/9712 I believe

[2016-11-21 23:05] #15386 closed

[2016-11-21 23:09] Pilchie commented on #15409
Any idea what you were doing when you hit this?

[2016-11-21 23:11] Pilchie commented on #15422
This is the only time I've ever heard of a request like this.  At present, I can't imagine the complexity is worth it for the number of people who would use it.

[2016-11-21 23:11] #15422 closed

[2016-11-21 23:11] marek-safar commented on #15378
The scenario is quite simple, because this is just ordinary nuget any project can reference it and many do already. When you open/build this project using Mono runtime (e.g. Visual Studio for Mac, xbuild, xplatform msbuild, etc.) it'll fail because the nuget is restored and used as any other nuget.

An error example from simple console app referencing the nuget

[code]

[2016-11-21 23:12] Pilchie commented on #15429
Hmm - are we currently creating a VS Dialog instance?  If so, is this a platform issue?

[2016-11-21 23:16] CyrusNajmabadi opened #15435 "Need API to tell us what the AssemblyIdentities are when there is a missing reference."
This relates to C# compiler diagnostics:

CS0012 - ERR_NoTypeDef

And Vb diagnostics:

BC30005 - ERR_UnreferencedAssemblyEvent3
BC30007 - ERR_UnreferencedAssemblyBase3
BC30009 - ERR_UnreferencedAssemblyImplements3
BC30652 - ERR_UnreferencedAssembly3

Internally, these diagnostics hold onto AssemblyIdentity objects that give rich information about the assembly that is missing. The only way to get a

[2016-11-21 23:24] dsaf commented on #14697
@CyrusNajmabadi

I think the problem is that the logic behind it was based on politics and business (making entrenched legacy developers from strategic enterprise partners happy - which is fair) rather on some more "pure" language design logic. It would be more honest to shut off the discussion on spot as it happened earlier.

[2016-11-21 23:41] TyOverby commented on #9703
Details:

`EmitCallExpression` has a call to `EmitPopIfUnused`, and `EmitConversionExpression` has a call to `EmitPopIfUnused`.  This means that the code
[code]
takes both of those paths and we wind up with an extra pop.

[2016-11-22 00:17] CyrusNajmabadi commented on #14697
Changing the language in a way that we feel benefits the most developers is not a politica decision :)

Yes... we're a business.  We're going to take the language in the direction we feel makes the most sense for us.

This is a non-goal.  I mentioned this earlier, but it bears repeating.  C# does not aspire to be some ivory tower bastion of pure language design.  It is not designed in some sort of

[2016-11-22 00:21] jcouv opened #15437 "Optimize lowering of discard in pattern to not introduce local"
Feedback from https://github.com/dotnet/roslyn/pull/15192#discussion_r88987475

In the code below, instead of making a local, we can move the discard handling logic down into `MakeIsDeclarationPattern` to use `MakeStaticAssignmentOperator` instead of `_factory.AssignmentExpression`.

[code]

[2016-11-22 00:23] ManishJayaswal opened #15438 "Code formatting roaming setting are not roaming"
I was testing LUT and saw that LUT roaming settings were not roaming. @tmat  mentioned to me that he was using the Roslyn options infrastructure so I then tried Roslyn options and they were also not roaming.

Disclaimer that I changed the setting on one machine, closed solution and VS and then started VS on another machine after a gap of about 3-4 minutes. I am not sure how long it takes for the r

[2016-11-22 00:23] ManishJayaswal commented on #15438
FYI @jasonmalinowski

[2016-11-22 00:35] KirillOsenkov commented on #15032
Temporary workaround for now is to manually install the https://www.nuget.org/packages/ManagedEsent/ package.

[2016-11-22 00:40] eyalsk commented on #14697
@CyrusNajmabadi

You do an outstanding job and excel at communicating everything, personally I appreciate it but _sometimes_ people want to see things change more than they want explanations! 😆

In my opinion, the issue here is and I've noticed this in many posts is that we as a community expect too much from these discussions and get burnt by them.

A bit _comical_ or _surreal_ but many threads _

[2016-11-22 00:44] KirillOsenkov commented on #15032
Not sure if it's worth a separate bug, but Workspaces now depends on Elfie and fails to work without it. You need to do something about it before the release otherwise Workspaces won't be usable.

[2016-11-22 00:46] jasonmalinowski opened #15439 "We should have a TypeScript integration test"
Given how tightly coupled TypeScript is to some implementation details within the Roslyn IDE layer, we should have an integration test that ensures we don't break core parts of the experience.

[2016-11-22 00:49] jasonmalinowski opened #15440 "Insertion tool should grant force push and delete permissions to PR branch"
The insertion tool creates a branch dev/vslsnap/... which it uses as the source of the pull request. It should also grant permissions to the swat group to be able to force push and delete this branch. This would allow swat members to delete the branches after merging, and would allow changes to be made when necessary.

[2016-11-22 00:52] jasonmalinowski commented on #12116
I guess the right way to do this now is just to unretain the build, and let VSTS expire it from there.

[2016-11-22 00:52] davkean commented on #15439
There is one, it was disabled last I saw.

[2016-11-22 00:55] davkean commented on #15311
Putting this in IDE, so it gets triaged, hint hint... :)

[2016-11-22 00:59] jasonmalinowski opened #15442 "Move NuGet package validation to standard infrastructure"
Right now we have some one-off tests we use to validate our NuGet packages are ready and actually "work" end-to-end. There's a number of problems with them today:

1. They reinvent some core integration testing primitives we already have, so they're maintenance overhead.
2. They don't run during regular integration test runs, so we don't discover issues until after they've been broken.
3. There ar

[2016-11-22 01:04] jasonmalinowski commented on #9314
I've been tagging milestone builds as "Released to Public" in visual studio. We should also have this tool see that flag and know never to unmark the builds.

[2016-11-22 01:09] davkean commented on #15281
I don't trust my install - I installed the latest build on a fresh machine, and it says RC.

[2016-11-22 01:09] #15281 closed

[2016-11-22 01:10] SLaks opened #15443 "IntelliSense opens in lambda mode before assignment"
**Version Used**: 2017 RC

[code]

Typing the `.` (as opposed to pressing Ctrl+Space after it) will incorrectly open IntelliSense in lambda mode.

[2016-11-22 01:15] heejaechang commented on #11750
@CyrusNajmabadi I believe feature is on, just not run until user set FSA on right?

...

@bkoelman we hope we can provide such thing.

basically, my position is there are multiple things we need to address for this one to be useful. otherwise this is just burden to system without much benefit. anyway, if people decide to turn only compilation end action on without solving other problems. I am fine

[2016-11-22 01:19] heejaechang commented on #15373
dup of this.
https://github.com/dotnet/roslyn/issues/15041

[2016-11-22 01:19] #15373 closed

[2016-11-22 01:20] CyrusNajmabadi commented on #11750
I'm not sure i understand the question.  The issue currently is that several CodeActions on the IDE side don't work.  This is completely not-discoverable from the user's perspective.  i.e. they don't even know that feature is not there or that they need to change this hidden option to enable it.

From my recollection, we decided we would call these actions if you had open documents and there were

[2016-11-22 01:37] jrmoreno1 commented on #9703
I apologize for leaving off the release mode, I would have sworn that I included it -- that's how it bit me, developed and tested in debug mode,  released and boom!

[2016-11-22 02:04] #14844 closed

[2016-11-22 02:04] #15217 closed

[2016-11-22 02:05] heejaechang commented on #14978
sounds like dup of this.
https://github.com/dotnet/roslyn/issues/15041

can you check whether there is 2 roslyn code analysis exe?

[2016-11-22 02:15] heejaechang commented on #14076
@agocke @mavasani what am I supposed to do for this?

[2016-11-22 02:17] heejaechang commented on #14076
this seems nothing to do OOP. tao issue?

[2016-11-22 02:25] heejaechang commented on #15032
@CyrusNajmabadi do what VS.Setup is doing

https://github.com/dotnet/roslyn/blob/master/src/VisualStudio/Setup/project.json

[2016-11-22 02:27] heejaechang commented on #15031
I think it is happening if stream closed in the middle of object reader/writer working on the stream. trying to repro.

[2016-11-22 02:41] CyrusNajmabadi commented on #15032
@heejaechang Workspaces.Desktop already has that entry within it.

[2016-11-22 02:45] Pilchie commented on #15032
`project.json` specifies our dependencies for NuGet restore, but doesn't influence the packages we produce.

Instead those come from the `nuspec` file at https://github.com/dotnet/roslyn/blob/master/src/NuGet/Microsoft.CodeAnalysis.Workspaces.Common.nuspec.

One way to solve this is to add the dependency there.  Alternatively, we could potentially make the persistence service be a light-up thing t

[2016-11-22 02:46] CyrusNajmabadi commented on #15032
That should be how persistence is working.  We've defined things at the Default workspace layer, and we have an impelmentation at the 'Desktop' layer.   The problem here is that MSBuildWorkspace is at the Desktop layer and is trying to load Workspaces.Desktop properly.   But that is failing due to the missing references.

[2016-11-22 02:48] Pilchie commented on #15032
Right - my point was to make it *optional* in desktop as well, in case people don't want to deploy esent, and have it generate a bunch of files (where will those go BTW, without the VS workspace service that says where to put the DB)?

[2016-11-22 02:51] CyrusNajmabadi commented on #15032
Interesting request.  @heejaechang  What do you think?

[2016-11-22 03:32] jcouv opened #15448 "Backspace is wrongly transformed into an insertion in TestBackspaceInParenthesizedDeconstructionDeclaration"
Although the suggestion mode provider is only triggered on insertions, it is triggered by the second backspace. I need to investigate the root cause.

[code]

[2016-11-22 03:35] jcouv opened #15449 "Figure out behavior for these DiscardedSymbol APIs"
In `DiscardedSymbol`:

[code]

[2016-11-22 03:37] jcouv opened #15450 "Update semantic model APIs for discard and deconstruction"
Multiple tests in `CodeGenDeconstructTests.cs`, `OutVarTests.cs` and `PatternMatchingTests.cs` have checks commented out.

FYI @gafter

[2016-11-22 03:40] jcouv opened #15451 "Foreach deconstruction with only discards doesn't parse correctly"
[code]

FYI @gafter

[2016-11-22 04:40] heejaechang commented on #15032
ah, I thought we auto-magically discover dependency and auto generate those files. I guess that is not the case.

...

I don't think even if workspace desktop has dependency to esent (by the way, all windows already has esent in box, nothing to deploy except the interop dll which is what managed esent dll is), it will light up. it requires some setting to be there such as where to create the esent

[2016-11-22 05:04] AArnott commented on #12759
The compiler doesn't know or care what the disk path capitalization is, does it? The compiler just assumes it is the path passed in by MSBuild, I suspect. Which means it's the MSBuild @(Compile) item names that will determine the default capitalization if this json file doesn't override it.

@ctaggart: yes. I recently read your blog post from two years back about how GitLink took code from SourceL

[2016-11-22 05:10] #15350 closed

[2016-11-22 05:10] #15330 closed

[2016-11-22 05:14] AArnott opened #15453 "Introduce Constant refactoring fails"
**Version Used**: d15prerel 25918.2

**Steps to Reproduce**:

Place the caret on the "16" in the code snippet below and press Ctrl+. and start the "Introduce constant" refactoring. Try to give it a name.

[code]

The refactoring fails with an error that exposes this callstack:

[code]

[2016-11-22 05:30] CyrusNajmabadi commented on #15453
@heejaechang @jasonmalinowski @mattwar

Is this another case where we broke being able to map from an open document's SourceText to an ITextBuffer?

[2016-11-22 05:34] CyrusNajmabadi commented on #15453
The code inside VisualStudioDocumentNavigationService is:

[code]

@heejaechang you mentioned the this was broken by Kayle to deal with an uncommon typing scenario (i.e. when text versions are reiterated).  Can we reinstate the original invariant?  This definitely concerns me as it seems like we've broken an invariant that has affected at least two pieces of code.  I'm worried there may be other l

[2016-11-22 05:41] heejaechang commented on #15453
I thought that issue is already fixed (I think we removed the optimization Kayle has put in). the above exception can happen if ITextSnapshot we created sourcetext from is already release. if one checks cancellation token, is cancellation token raised?

[2016-11-22 05:46] KirillOsenkov commented on #15032
The problem is that when composing MEF for the MSBuildWorkspace it does Assembly.GetTypes() on the Workspaces.dll. And the mere fact of enumerating all types requires the Esent.Interop.dll to be there.

Ideally you should have a test that verifies that on a clean machine you can pull the Workspaces NuGet package, install into a C# console app, write a few lines to instantiate the workspace and run

[2016-11-22 05:47] heejaechang commented on #15453
http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures.Text/Extensions.SnapshotSourceText.cs,88

actually, looks like it is not fixed...

[2016-11-22 05:50] heejaechang commented on #15032
I am +1 on making optional host services to be its own dlls including MSBuildWorkspace. due to it, anyone who uses Workspace.Desktop.dll require to have msbuild dependency which has no need at all for people who don't use MSBuildWorkspace.

[2016-11-22 06:01] gafter commented on #15449
I believe they should return empty strings.

[2016-11-22 06:03] gafter commented on #15451
This should get fixed as a side-effect of my current work (PR published but not yet ready for review)

[2016-11-22 06:13] mjsabby commented on #11475
@tmat We should update the proposal to modify the parameter passing of the calling convention to instead be name suffixed.

[code]

I have some of these intrinsics implemented here (namely CallIndirect and friends): https://github.com/mjsabby/roslyn/tree/intrinsic_backup

The implementation is a prototype and the mechanics of how it generates the code are likely to change,  but there is correctnes

[2016-11-22 06:15] elachlan commented on #4395
Is there enough detail there? I can try and track it down a little more. But so far my attempts to reproduce it in a separate solution have no worked.

If someone can explain what that particular piece of code is supposed to be doing, I might be able to narrow it down further.

[2016-11-22 06:19] mjsabby commented on #15254
Compiled and tested this with all Bing.com managed code and no new issues found so I'm closing this.

[2016-11-22 06:19] #15254 closed

[2016-11-22 06:27] tmat commented on #12759
csc does some path processing and normalization:

http://source.roslyn.io/#Microsoft.CodeAnalysis/CommandLine/CommonCommandLineParser.cs,cbebf0574a6345fb,references
http://source.roslyn.io/#Microsoft.CodeAnalysis/SourceFileResolver.cs,afe7f45d8bdfc7ea,references

We also support /pathmap, which allows the user to replace prefixes of source paths with other prefixes (useful for deterministic builds

[2016-11-22 06:33] #15368 closed

[2016-11-22 06:36] paulomorgado opened #15456 "Allow fixes to provide menu icons"
It would be very helpful to users if fixes were allowed to display icons on the fixes menu, like other tools do:

![image001](https://cloud.githubusercontent.com/assets/470455/20513471/f261f2f2-b07d-11e6-8d4a-7674b442d0d6.png)

[2016-11-22 06:43] CyrusNajmabadi commented on #15456
Implementation concept:

1. Add an ```ImmutableArray<string> Tags``` to CodeAction.
2. Add a mef extensibility point to translate from Tags to VS' ImageMoniker.

Optional/Desirable:
3. Move our existing system to using the above.  Remove usage of Glyph enum entirely.

[2016-11-22 07:38] AdamSpeight2008 commented on #14697
@CyrusNajmabadi
Here is my implementation's [gist](https://gist.github.com/AdamSpeight2008/4109dfc839b9bd5ff86ed3aa7dc3322c) is this correct?

[2016-11-22 08:21] AdamSpeight2008 opened #15458 "[VB.net] TypeOf over multiple types."
`TypeOf ... IsNot ..`
[code]

[code]
`TypeOf ... Is ...`
[code]

[code]

**Grammar**
[code]

Ruled out `TypeOf obj Is ( Type0, Type1. Type2 )` as that conflicts with tuple literal syntax.

[2016-11-22 09:58] shaggygi commented on #15388
@Belours It also appears to work after restarting VS on my side.  Thanks for noticing this.

[2016-11-22 11:19] alrz commented on #15416
Or just invert conditions,
[code]
AFAIK there is a code fix that automatically does this for you.

[2016-11-22 11:27] DavidArno commented on #14697
@jnm2,

Thanks for chiming in. I'm aware that you clearly don't like some of my comments here, so it's helpful to understand what you don't like. It'll be no surprise that I disagree with you, but I won't rehash that topic as it's been gone over already.

And that in a nutshell sums up the issue here. Even you, who doesn't like the way many of us are saying it, and who therefore wants to side with

[2016-11-22 12:12] pmunin commented on #2136
@xied75 - ImpromptuInterface is just another implementation of custom proxy similar to Castle. If you see nuget package was last published in 2013, they don't even support latest frameworks .NET Core, Standard. And I disagree with @HaloFour - I believe functionality like this should be native, like in Typescript.

[2016-11-22 12:19] timopomer commented on #15423
@Unknown6656 what about the other way around?

[2016-11-22 12:46] eyalsk commented on #14697
@CyrusNajmabadi

Fair enough, being pragmatic is extremely important, I completely understand your point of view but to me the current approach means you're taking big steps where you shouldn't.

You can be pragmatic and yet conservative.

I think that there are two issues here:

1. We as a community don't know whether the amount of people that really want widened scope is actually greater than th

[2016-11-22 12:52] eyalsk commented on #15377
Forgot to add that R# has this feature and NCrunch and this cost less than Visual Studio Enterprise so it's a bit odd. 😄

[2016-11-22 13:03] alrz commented on #15423
You could define an implicit conversion to `char[]` via "extension everything" (#11159).

[2016-11-22 13:07] eyalsk commented on #15423
I know it isn't about the syntax but the idea, however, I think that having a prefix is much better than having a suffix for strings because it can be a lengthy string so for readability it should be `char[] abcdefg = c"abcdefg";`

[2016-11-22 13:16] Jijjy commented on #15423
@eyalsk Agreed, that's originally what I considered - I thought a suffix would be more consistent with numeric literals (1.0d, 1.0f, 1.0m, 1L, ... ). However, I suppose there's already other string literal prefixes (@, $) so maybe a prefix is the way to go.

[2016-11-22 14:38] SLaks opened #15459 "UseObjectInitializerDiagnostic throws on wrapped ctor call"
**Version Used**: 2017 RC 1

[code]

This incorrectly shows `UseObjectInitializerDiagnostic`.  Previewing the suggested fix then throws

[code]

[2016-11-22 14:50] AdamSpeight2008 commented on #14697
@eyalsk That's my approach what is the best holistic thing we can do? Can we do more than one thing / unify things if we tweak the design? Good example LINQ being based on patterns rather than a interface.
Another is `Implicit Line Continuations` in VB.net it only removed 1 or 2 character from a statement, but made big difference to the look of the language.

Introducing variables into narrowing s

[2016-11-22 14:56] AdamSpeight2008 commented on #15377
Wait a second something was `redacted` from this summary. What was `redacted`?

[2016-11-22 15:00] HaloFour commented on #14697
@AdamSpeight2008

The `out` is the direction of the parameter, it has nothing to do with scoping.  The scope is inherited from the declaration, which would be the `var` keyword (which is, of course, not necessary to use there).

The question is what should the scope be for variables declared within an if or loop condition.  The **entire** family of C languages interprets that as one way and C# has

[2016-11-22 15:02] AdamSpeight2008 commented on #14697
C# isn't C or C++.

[2016-11-22 15:05] DavidArno commented on #14697
@AdamSpeight2008,

To my mind this won't fix the real issue with this language change: the fact that `is var` will have the same leaky behaviour that `out var` does.

[2016-11-22 15:06] AdamSpeight2008 commented on #14697
@HaloFour @DavidArno  What happens if I use it a non-`if` or `loop`? eg
[code]

[2016-11-22 15:07] HaloFour commented on #14697
No it's not, but it decided to borrow that syntax and the behavior that it implies.  Sure, they can deviate, but doing so breaks expectations, particularly one this universal.

The only other C-like language to break so completely from these established scoping rules is JavaScript, and it's scoping rules are absolutely considered a joke and a massive design failure, listed under the "Awful Parts"

[2016-11-22 15:09] AdamSpeight2008 commented on #14697
It could be assigned.

[2016-11-22 15:10] HaloFour commented on #14697
@AdamSpeight2008

But not "definitely assigned", and the C# compiler does not permit reading variables that it cannot guarantee has been assigned.  That above statement would be akin to the following:

[code]

[2016-11-22 15:14] AdamSpeight2008 commented on #14697
@HaloFour
Which is why the default shoukl be "leaky".
Now do the example where we want inner introduction, using pre C#7 syntax

[2016-11-22 15:23] HaloFour commented on #14697
@AdamSpeight2008

Only thing worse than an identifier unnecessarily in scope is an identifier that is unnecessarily in scope that you *can't even use* until you reassign it.

The example using pre-C# 7 syntax would be the obvious and idiomatic:

[code]

[2016-11-22 15:27] DavidArno commented on #14697
@AdamSpeight2008,

It's why `is var` should not leak as most of the time that leaked variable is unusable, as it's not guaranteed to be assigned.

The only two use-cases for leaking `is var`'s seem to be:
[code]

Both are handled using other c~ 7 syntax though:
[code]
There is no scope surprise here at all and both statements are at least as easy to read as the scope-leakage versions. Regardless o

[2016-11-22 15:48] AdamSpeight2008 commented on #14697
@DavidArno Don't change the structure of the code, to use a different construct.
We discussing `If statements` not `If expressions`

 That's where having a way specify the direction of the introduction helps.
[code]

[2016-11-22 15:52] hanssens commented on #8217
@golfguy0082 I had the same problem with a .NET 4.6 solution compiling on macOS. For this, I found the [document "Portable PDB's"](https://github.com/OmniSharp/omnisharp-vscode/wiki/Portable-PDBs#how-to-generate-portable-pdbs) in the OmniSharp repo which explains this a bit.

Basically put, you can set this in the .csproj file:

[code]

Or, it if's a dotnet core project, set it in the project.json

[2016-11-22 15:53] DavidArno commented on #14697
@AdamSpeight2008,

Sorry, but I have no idea what you are trying to say. What is `o is int out x`?

And "@DavidArno Don't change the structure of the code, to use a different construct.
We discussing If statements not If expressions". Sorry, don't understand. Are you suggesting that we should introduce a scoping change just so people can use `if` instead of the ternary expression operator? 😕

[2016-11-22 16:09] Unknown6656 commented on #15422
OK  (.__.)

[2016-11-22 16:15] AdamSpeight2008 commented on #14697
@DavidArno May I politly suggest that you reread the issue then 😃

The *conditianal clause* the `obj is int x` part, has changed signature;-
 from  `Expr<Bool>` returns a single value.
 to `Expr<(result: Bool, value: Option<T>>` (that effectively returns two value) )

[2016-11-22 16:17] DavidArno commented on #14697
@AdamSpeight2008,

Yep, I get that bit. But what is that `out` doing in `o is int out x`?

[2016-11-22 16:21] AdamSpeight2008 commented on #14697
It's marshalling the direction being passed or introduced.
[out](https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.outattribute(v=vs.110).aspx)
[in](https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.inattribute(v=vs.110).aspx)

[2016-11-22 16:37] HaloFour commented on #14697
@AdamSpeight2008

I could almost back `let` as the proposed modifier keyword, but that does have a few issues to resolve:

1.  How to best combine the keywords without it turning into word soup.
1.  Can it be applied to `out` declarations or only pattern variables?  If both, how to apply with `out` declarations so that their usage makes sense syntactically.
1.  Several layers removed from the orig

[2016-11-22 16:37] eyalsk commented on #14697
@AdamSpeight2008 I don't know about you but neither `is int let x` nor `is int var x` reads well.

[2016-11-22 16:50] srivatsn commented on #15388
Likely related to https://github.com/dotnet/roslyn-project-system/issues/784

[2016-11-22 16:57] DustinCampbell opened #15461 "CSharpGoToDefinition VSI test failing"
The "Go To Definition with multiple results" scenario is failing with the following exception stack trace:

[code]

https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p2_open_prtest/24/

[2016-11-22 16:59] Pilchie commented on #15461
@CyrusNajmabadi Didn't you just change this code?  Can you take a look here?

[2016-11-22 17:01] jnm2 commented on #14697
`Insert(outlet object fork);`

[2016-11-22 17:02] Pilchie commented on #15438
Clearing milestone for triage.

[2016-11-22 17:02] daveaglick opened #15462 "Internal helpers in ISymbolExtensions (and other internal functionality)"
There's a ton of really great functionality locked away as internal inside the [Workspaces Shared folders](https://github.com/dotnet/roslyn/tree/master/src/Workspaces/Core/Portable/Shared) (and particularly in the [Extensions folder](https://github.com/dotnet/roslyn/tree/master/src/Workspaces/Core/Portable/Shared/Extensions)). I've occasionally needed access to various functionality in these class

[2016-11-22 17:18] Pilchie commented on #8757
Moving to RC.3 since the index does not yet contain extension methods.

[2016-11-22 17:18] Pilchie commented on #9589
Moving to RC.3 since this isn't enabled by default yet.

[2016-11-22 17:20] Pilchie commented on #10227
@brettfo can you verify and close please?

[2016-11-22 17:29] ManishJayaswal commented on #13844
Closing this as I think this work is already done.

[2016-11-22 17:29] #13844 closed

[2016-11-22 17:30] ManishJayaswal commented on #13411
@cston is this going into RC2?

[2016-11-22 17:31] ManishJayaswal commented on #2254
@cston can this be closed now?

[2016-11-22 17:31] Pilchie commented on #15153
Fixed by #15189

[2016-11-22 17:31] #15153 closed

[2016-11-22 17:32] ManishJayaswal commented on #14976
@tmat we should fix this in RC2.

[2016-11-22 17:34] DustinCampbell opened #15463 "Multiple VSI tests failing since 11/17"
11/22: https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p1_open_prtest/25/#showFailuresLink
11/18: https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p1_open_prtest/19/#showFailuresLink
11/18: https://ci.dot.net/job/Private/job/dotnet_roslyn-internal/job/master/job/windows_vsi_p1_open_prtest/18/#showFailuresLink
11/17: https://c

[2016-11-22 17:35] #15101 closed

[2016-11-22 17:43] alrz commented on #15458
Note that `{}` syntax in generic constrains means "AND".
[code]
I'd reserve `{}` for intersection types #4586 and use OR patterns for type check (#6235).
[code]
VB should use a different syntax though.

[2016-11-22 17:56] DavidArno commented on #14697
@AdamSpeight2008,

Hmm, I feel we are going around in circles here. So, rather than use "existing" C# 7 syntax to allow the type of a variable to be tested and bought into scope with a guaranteed value, you want to:

1. Keep `is var` variable leakage, even though those leaked variables are unusable in most cases,
2. Stop them leaking by shoehorning `let` in there to create `x is T let y` expressio

[2016-11-22 17:56] miloush opened #15464 "Do not trigger IDE1006 name violation if it cannot be fixed"
**Version Used**: 2.0.0.61104

**Steps to Reproduce**:

[code]

**Expected Behavior**: No violation if the letter does not have a notion of case.

**Actual Behavior**:
![untitled](https://cloud.githubusercontent.com/assets/10546952/20535451/adf67174-b0dc-11e6-85ab-57a611be1224.png)

Similarly with other casing rules.
Maybe instead of char.IsUpper test !char.IsLower? Or skip all casing rules if cha

[2016-11-22 17:58] #2254 closed

[2016-11-22 18:00] AdamSpeight2008 commented on #15458
@alrz  I'd thought that VB wasn't getting pattern matching?

[2016-11-22 18:01] jcouv commented on #14901
Fixed in RC2 by #15175

[2016-11-22 18:01] #14901 closed

[2016-11-22 18:05] alrz commented on #15458
@AdamSpeight2008 I've seen code like `Case i As Integer` for VB but I'm not aware if it gonna make it.

[2016-11-22 18:10] AdamSpeight2008 commented on #15458
@alrz Just bring back the `Where` clause that you put on a `Case statement`.
As `Select Case True` idiom is pretty power as it is.
[code]

[2016-11-22 18:13] AdamSpeight2008 commented on #15458
`if (TypeOf obj Is TypeA Or TypeB ) then ` could be an issue with operator precendance.
Eg Being treated as `TypeOf( obj Is (TypeA Or TypeB ) )`

[2016-11-22 18:17] AdamSpeight2008 commented on #15458
In the context of a `TypeOf ` expression, only a collection of `TypeIdentifies` would be allowed.
No other collection(of T) would be.

[2016-11-22 18:21] brettfo commented on #10227
Confirmed that this works in 2017 RC.

[2016-11-22 18:21] #10227 closed

[2016-11-22 18:22] AdamSpeight2008 commented on #14697
To give the people the choice, my proposal work with both forms of expression, can make exist "leaky" and narrower shorter to write.
 Whereas you could be interpreted as saying you only want it to work with `? :` expression.

[2016-11-22 18:23] AdamSpeight2008 commented on #14697
@eyalsk  Neither does `is int x` *baa*

[2016-11-22 18:32] AdamSpeight2008 commented on #15458
`Or Patterns` is already supported, via comma separating the `case clause patterns`
[code]

[2016-11-22 18:33] eyalsk commented on #14697
@AdamSpeight2008 Yup, I never was a fan of the syntax. 😉

[2016-11-22 18:44] Velocirobtor commented on #14697
Here are my thoughts on the discussion:
1. Since both wide and narrow scope have their own pros and cons: please add BOTH or NONE of them to the language. Adding only one would lead to awkward stuff in the future (like cramming a `let` in there somewhere)
2. Please make the current `out var` syntax narrow. I think it's much more intuitive to have it narrow and I really like @alrz syntax for the le

[2016-11-22 18:47] jcouv opened #15468 "IDE crashes on deconstruction with discard"
The following program causes the IDE to crash, because type inference doesn't handle the new syntax model for deconstruction.

FYI @gafter @CyrusNajmabadi

[code]

[code]

[2016-11-22 18:56] Pilchie commented on #15311
I think @jmarolf was going to take a look at this this week.

[2016-11-22 18:58] Pilchie commented on #15438
I have been seeing inconsistent roaming of all of my settings, including ones that have nothing to do with Roslyn.  Let's follow up with the platform team to see what kind of logging we can investigate to figure out what's happening here.

[2016-11-22 19:00] #15032 closed

[2016-11-22 19:07] Pilchie commented on #15453
In this case we're going through the Container/TextBuffer, not the snapshot?  Shouldn't that work regardless as long as the file is open?

[2016-11-22 19:15] CyrusNajmabadi commented on #15453
Yes.  Something is *super strange* here.  An open document should always be able to from its SourceText to the ITextBuffer.  If it can't, then we've broken something badly.

[2016-11-22 19:27] CyrusNajmabadi commented on #14697
@eyalsk

That's definitely true.  And that was on the table.  At the end of the day we made a judgement call.  A call i can tell that several people here disagree with, but that we're happy with.  Note that that's been the case with pretty much all the features we've done.  With every feature there has been feedback and complaints that people didn't like the feature and it should change.

With all

[2016-11-22 19:28] eyalsk opened #15471 "Refactoring - Use 'throw' expression should be smarter"
Currently, when clicking on the quick action Use 'throw' expression in Visual Studio 15 RC, the following code:
[code]
Is replaced with the following:
[code]
And so now, when null is passed it will throw NRE instead of the expected exception.

This will probably get caught by tests (given that they exist) but still refactoring shouldn't introduce _bugs_ or change the behaviour of the code and so I

[2016-11-22 19:30] jasonmalinowski commented on #15453
I don't think we've ever had enough clue of what this bug is to have fixed it. We've gotten reports like this but they've been sporadic enough to make it hard to measure if we've got it or not...

[2016-11-22 19:33] heejaechang commented on #15453
what is text container type by the way? are we sure the source text we have is for open file?

[2016-11-22 19:41] CyrusNajmabadi commented on #14697
@DavidArno

There are at least two more that we got feedback on that people cared about:

[code]

As well as:

[code]

Also, wrt to:

[code]

We got *strong* feedback that people did not like the idea that any construct could declare multiple variables *and* not have those variables be in the same scope.  i.e. 'var result' and 'var i' being in different scopes was really disliked by many people.

[2016-11-22 19:45] CyrusNajmabadi commented on #14697
I don't understand the logic there.  If you believe that it would be possible to add 'both' now, why would it not be possible to add one now, and another later?

[2016-11-22 19:47] timopomer commented on #15464
Applies strongly to variables named in other languages like hebrew, but honestly shame on anybody that does that

[2016-11-22 19:50] eyalsk commented on #14697
@CyrusNajmabadi Thanks for the replies, I really appreciate it! 😉

@AdamSpeight2008 I _can_  but won't provide a video of a person working on .NET team struggling with the C# 7 syntax for pattern matching and tuples while lecturing and previewing the new features, it was amusing and sad at the same time. 😄

Now, we are following the development of the language so it's trivial for us but when you s

[2016-11-22 19:51] CyrusNajmabadi commented on #14697
Ha!  That's fair.  But i don't want to misrepresent my interaction here.  I'm here to learn and discuss.  To share and absorb.  I'm not here to promise change.  I'm not a politician ;-)

What i will say is that we take all this feedback seriously, but that we tend to take the 'long view' on things.  We expect C# to have many more releases (and personally, i expect to see more rapid releases moving

[2016-11-22 19:51] CyrusNajmabadi commented on #14697
I've been working on C# for nearly 15 years.  And i still can't get operators right ;-)

[2016-11-22 20:02] HaloFour commented on #14697
@CyrusNajmabadi

The disadvantages here being:

1. Having to reprove the point of the necessity or utility of having a second syntax.  Basically starting from scratch through the proposal process.
1. The syntax used now will be the simplest form of the syntax which would mean that anything added later will inevitably be more awkward.  It is literally impossible to get simpler than `[out] (var|type

[2016-11-22 20:10] HaloFour commented on #14697
@eyalsk

Which is a separate problem but I think why so many people really didn't understand what pattern matching was going to bring to the table which is why there was so little excitement for it.  Pattern matching should have generated at least as much buzz as null-propagation, if not more.  Any time I demonstrated use cases for recursive patterns you could see the eyes light up with the realiz

[2016-11-22 20:20] CyrusNajmabadi commented on #14697
We'll have to do that no matter what if we want both a wide and narrow scoped system.  We can't avoid that.

Doing the work now doesn't change that.  It just means that that features arrives in C# 7 instead of C#7+Something.

[2016-11-22 20:24] CyrusNajmabadi commented on #14697
Here's how i like to think about it: We make features of all sizes.  Sometimes features are massive (Generics, linq-in-aggregate, async, etc).  Somtimes they're teeny weensy (binary-literal-separators, interpolated strings, ??, etc.).  What we've found is that it's great to work and expand on the big ideas, and we should shy away from those.  But we also think that it's really important to continu

[2016-11-22 20:25] CyrusNajmabadi commented on #15453
Yes.  We're navigating to the document.  The very first thing we do is ask the workspace to ensure that document is opened.

[2016-11-22 20:28] DavidArno commented on #14697
@CyrusNajmabadi,

Um, your examples are of using `out`, not the new `is T x` syntax (or `is var`'s). Have `out var` leak all over people's code if you want. But having `is var`'s leak in the same way is nonsensical as the variable ends up in scope, but guaranteed to be assigned in most use cases.

That's all.

[2016-11-22 20:34] HaloFour commented on #14697
@CyrusNajmabadi

Which is a great thing.  Those little improvements in the day-to-day do help out a lot, particularly in the reduction of verbosity in the common cases.  I have no problems with idea behind `out` declarations, only to the extent that the implementations decisions impact other (potential) features.

As much as I prefer consistency, I think I side with @DavidArno.  Make pattern varia

[2016-11-22 20:37] CyrusNajmabadi commented on #14697
The tension here is that there is a ton of feedback that having these different types of variables have different scopes would be very undesirable.

[2016-11-22 20:38] CyrusNajmabadi commented on #14697
I hold that position myself, and represented it during the discussions.  There was enough sentiment and compelling arguments that the downsides of that would outweigh the benefits.

[2016-11-22 20:39] HaloFour commented on #14697
@CyrusNajmabadi

Such as what?  How does that reconcile with the fact that you can't use the variables if the compiler can't guarantee that the pattern succeeded?

[2016-11-22 20:59] CyrusNajmabadi commented on #14697
That having different expression-that-introduce-variables put those variables into different scopes was extremely confusing.

[2016-11-22 21:02] DavidArno commented on #14697
@CyrusNajmabadi,

They have different scopes:

* An `out var` is accessible both for reading and writing outside of an `if` or `while` statement.
* An `is var` is only write-accessible outside of an `if` or `while` statement, but only read-accessible if it's guaranteed to have been assigned.

There are three separate scoping rules for `out var`. `is var` introduces a forth one. Any claims this is

[2016-11-22 21:06] HaloFour commented on #14697
@CyrusNajmabadi

\<sarcasm>
Yeah, because the different rules between `if`, `while`, `for`, `foreach` and `switch` are intuitive.
\</sarcasm>

If the variable cannot be read there's no reason to have it in scope.  I can guarantee you that this will be *more* confusing, not less.

[2016-11-22 21:15] alrz commented on #14697
I agree, now that I think about it, there is no reason for them to be consistent, in fact, I think declaration expressions also can use narrow scoping. out var is a special case and should not affect other scopings. Pattern variables are introduced via case and is and the former already has a different scoping. and don't forget about let which allows wider scoping for patterns.

[2016-11-22 21:24] CyrusNajmabadi commented on #14697
@DavidArno as i mentioned "I hold that position myself".   :)

[2016-11-22 21:32] #15456 closed

[2016-11-22 21:33] daveaglick opened #15474 "Support for namespace XML doc comments"
Over the years, different .NET documentation generators have used different techniques for representing documentation on a namespace. For example, NDoc and SHFB both use a special `NamespaceDoc` class and "promote" any XML doc comments on that type to the containing namespace.

As far as I can tell, Roslyn doesn't currently support XML doc comments on namespaces (there's no `GetDocumentationCommen

[2016-11-22 21:37] CyrusNajmabadi commented on #14697
They were to me.  'for'/'foreach' are definitely intuitive.  I would be loath to have different semantics for them.  'if' and 'while' are also intuitive to me.  Namely, the variables go into the scope that variables always went for them.  All four of these are intuitive for me because the intuition is "the scope is the same as its always been for C#".

The only outlier is 'switch'.  But a major pr

[2016-11-22 21:39] CyrusNajmabadi commented on #14697
I think there's a reason for them to be consistent.  But i also think being consistent is unfortunate and i would personally prefer them to not be consistent.

Oh well, i lost that battle, but i'm used to losing at least a few battles per release by now :-)

[2016-11-22 21:40] Kaelum commented on #14697
@CyrusNajmabadi, so it's perfectly fine to add functionality to the flawed/improperly defined `out` while at the same time purposely adding flawed/unusable functionality to `is`?  Forgive my French, who is the **idiot** who thinks that this is a good idea?  If I were the CEO of Microsoft, I know who I'd be handing out pink slips to.

[2016-11-22 21:42] CyrusNajmabadi commented on #14697
@Kaelum Yes.  Language design is about tradeoffs.  :)

With *nearly every* feature we implement there are flaws in any part you examine.  That's always been the case.  If we fired people every time that happened, we would not have been able to even ship a second version of the language :)

[2016-11-22 21:42] DavidArno commented on #14697
@CyrusNajmabadi,

You're not making sense here. They aren't consistent, so there can't be a "reason for them to be consistent". `out var`'s and `is var''s both leak, but in different ways. That's not consistent. There is no consistency in anything to do with this topic beyond the universal dislike of it by the community here.

[2016-11-22 21:43] CyrusNajmabadi commented on #14697
To you.  Not to others.  We've covered this before.  Both introduce variables.  As such, some people want things be consistent in terms of how they introduce those variables (i.e. which scopes they go into).

That consistency is something totally reasonable to want, even if it's not something you find important or desirable.

[2016-11-22 21:48] HaloFour commented on #14697
@CyrusNajmabadi

I question your sample size.

No, it's not reasonable to want when that variable is not usable.

[2016-11-22 21:51] jnm2 commented on #14697
This has come up in a number of discussions now and it has me curious. It's a bit like tax returns. I can only think of one reason why you wouldn't want to be transparent about the sample size.

[2016-11-22 21:52] bartdesmet commented on #11475
https://github.com/dotnet/corefx/pull/13561 has another case where "infoof" functionality will come in handy for the `System.Linq.Queryable` factory methods.

[2016-11-22 21:52] alrz commented on #14697
You can't use is var the same way you use out var.  is can't be used as an statement unlike a method invocation. the latter is always definitely assigned while the compiler can determine if is yields a value. sames true for declaration expressions, they are always initialized therefore they are definitely assigned. and case var is a totally different beast.

[2016-11-22 21:52] #15387 closed

[2016-11-22 21:54] Kaelum commented on #14697
@CyrusNajmabadi the fact is that we know that we are being lied to, and now everyone is being to realize it.

For those who don't know what passive-aggressive personality disorder is, look it up.  Other members of the LDM team have also displayed this disorder.

[2016-11-22 21:57] CyrusNajmabadi commented on #14697
@Kaelum I have no idea what you're talking about.  I don't believe i've lied to any of you.  If you feel otherwise, please absolutely email me to let me know when you think that happened.  I certainly have never been trying to intentionally deceive.  But it's possibly i may have accidentally misstated something, or done somethign unintentional.  If you can email me examples of where you think this

[2016-11-22 22:08] CyrusNajmabadi commented on #14697
I agree :)

--

Note: i'm happy to keep discussing this, but i want to make it clear that you probably don't need to convince me of the value or narrow-scoping and that there are difference between these constructs.  I definitely already believe that.  That said, my beliefs (and your beliefs) are just one factor into shaping the language.  They are not paramount and they were eventually outweighed

[2016-11-22 22:09] mattwar commented on #15279
Fixed by #15369

[2016-11-22 22:09] #15279 closed

[2016-11-22 22:10] HaloFour commented on #14697
@Kaelum

I don't believe that's fair.  At least @CyrusNajmabadi is willing to discuss the subject.  But as I've said before and has been confirmed, this had been argued, decided and finalized internally with zero visibility or transparency.  By the time it was mentioned here it was too late.  I do think that the LDM did that on purpose, knowing full well the reaction that would result.  This is ab

[2016-11-22 22:10] #14211 closed

[2016-11-22 22:10] jnm2 commented on #14697
Hey, @CyrusNajmabadi. I think this is fair and on-topic. Sample size has come up in a number of discussions now and it has me more curious the more it's avoided. It's a bit like tax returns. I can only think of one reason why you wouldn't want to be transparent about the sample size.

[2016-11-22 22:11] svick commented on #15474
Already mentioned in https://github.com/dotnet/roslyn/issues/67.

[2016-11-22 22:12] CyrusNajmabadi commented on #14697
It's large enough to make us satisfied.  And it's likely larger than at any other point in C# history.  While i can't put exact numbers on it, i would say it's likely that there's been direct conversation with hundreds, and disseminated information to far more.  We've also explicitly proffered direct feedback on this precise concern.  i.e. didn't just say "here's a bunch of new features, what do y

[2016-11-22 22:12] rchande commented on #14812
Same as https://github.com/dotnet/roslyn/issues/14813

[2016-11-22 22:12] #14812 closed

[2016-11-22 22:13] CyrusNajmabadi commented on #14697
@jnm2 I saw your first post :)

[2016-11-22 22:13] jjrdk commented on #15474
Obvious question: which namespace declaration the documentation goes on. How do you determine "last one wins"?

[2016-11-22 22:14] jnm2 commented on #14697
@CyrusNajmabadi Thanks so much! Wasn't sure, edited in the @mention after the fact.

[2016-11-22 22:14] rchande commented on #14084
This is not a dupe of the bugs listed in https://github.com/dotnet/roslyn/pull/15093 but is an error recovery issue. Note the lack of close paren in the object creation expression.

[2016-11-22 22:16] mattwar commented on #12531
@debonte is this explanation satisfactory or would you prefer that the generate file still get saved as opposed to a work around that you might do yourself?

[2016-11-22 22:20] HaloFour commented on #14697
@CyrusNajmabadi

At least with `private protected` you guys engaged the general public via SurveyMonkey.  Now whether or not that can be considered a good or scientific survey is certainly up for debate.

[2016-11-22 22:22] VSadov opened #15476 "GetDeclaredSymbol should work for tuple elements in a TupleTypeSyntax"
This is related to https://github.com/dotnet/roslyn/issues/14881

We should make sure that GetDeclaredSymbol  API works for tuple elements in TupleTypeSyntax.

NOTE: this applies to both VB and C#

[2016-11-22 22:22] VSadov commented on #15476
@AlekseyTs - FYI

[2016-11-22 22:22] mattwar commented on #12183
Roslyn workspace does not model project or solution folders. It does detail the folder names that each document exists within however.  So it would be possible to write a helper API to remove all documents within a folder, but you wouldn't be able to convey the concept of removing the actual folder.

[2016-11-22 22:23] CyrusNajmabadi commented on #14697
No.  We simply did things like we always do.  We go to meetings and take the issues issues we feel are important and we discuss them.  If we feel like we're lacking enough information to make a decision, we go out and do investigation and other activities to help drive the discussion.  We keep doing that until we feel like there's enough information to make a decision and then we make a decision.

[2016-11-22 22:24] daveaglick commented on #15474
@svick Missed it in there, thanks. I think it's worthwhile separating doc comment inheritance from namespace/assembly doc comment support since they're essentially two totally different issues. The discussion in #67 seems to focus on inheriting doc comments, so I'll suggest this issue track the namespace/assembly request.

[2016-11-22 22:25] DavidArno commented on #14697
@CyrusNajmabadi

No, it's not a case of "To [me]. Not to others". This isn't my opinion; it's a factual observation on the language design. "*some people want things be consistent in terms of how they introduce those variables (i.e. which scopes they go into)*" and since the scopes are different (guaranteed readable in the outer block for `out var`, not so for `is var`) then these people haven't g

[2016-11-22 22:26] daveaglick commented on #15474
@jjrdk Same way it does for partial classes - it appears to be based on [sorting the trivia locations](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Compiler/DocumentationCommentCompiler.cs,620), but I could be mistaken on that point.

[2016-11-22 22:29] CyrusNajmabadi commented on #14697
@HaloFour I'll be blunt.  At the end of the day we use the data we have to make a decision.  And, we don't pretend to be scientists about this.  We don't say "let's find the perfect unbiased survey that we can use to then decide exactly what to do with".  Instead, we say "let's get data and investigate things, and discuss things at length**, and use our own biases and gut feelings and intuitions,

[2016-11-22 22:33] jnm2 commented on #14697
@CyrusNajmabadi I will admit that I have watched a large number of the language design meetings and have been disappointed that you aren't recording them anymore. Any chance you'd do that again?

[2016-11-22 22:34] #5147 closed

[2016-11-22 22:35] #3824 closed

[2016-11-22 22:35] CyrusNajmabadi commented on #14697
They didn't see it that way.

Look, at this point i'm not sure what you want :)   You seem emphatically unhappy that different people view the language (and different facets of it) in a different manner than you do.  I can't help with that :-/

I've literally just discussed this with a coworker, and he view definite-assignment as completely unrelated to scoping.  So whether or not something is gua

[2016-11-22 22:37] CyrusNajmabadi commented on #14697
Possibly.  I would accept it if the team felt it was appropriate.  Though i personally hate being recorded, and i find it quite stifling.  :-/

[2016-11-22 22:41] Pilchie commented on #15471
I thought you took a look at this already - did it just not make the fork for RC?

[2016-11-22 22:42] CyrusNajmabadi commented on #15471
Thanks @eyalsk This was fixed in : https://github.com/dotnet/roslyn/pull/15023

[2016-11-22 22:44] mattwar commented on #3235
GetChecksum() is public now.  It will use the default encoding (UTF8 no BOM) if no encoding is known.

[2016-11-22 22:44] #3235 closed

[2016-11-22 22:44] #15471 closed

[2016-11-22 22:48] CyrusNajmabadi commented on #15471
Confirmed this no longer reproes.  Thanks @eyalsk

[2016-11-22 22:48] vbcodec opened #15477 "VB compiler bug: wrong type inference"
[code]

Inferred type for b is Object than c1. After changing name of method GetEnumerator, inference is correct.

[2016-11-22 22:51] CyrusNajmabadi commented on #5147
Boo on closing this :)

[2016-11-22 22:52] SLaks opened #15478 "New Find All References opens WinForms designer"
**Version Used**: 2017 RC

**Steps to Reproduce**:

1. Open a WinForms designer for a class that uses a member.
2. Close its codebehind file.
3. Click Find All References on that member.

**Expected Behavior**:
The codebehind should open.

**Actual Behavior**:
The designer opens.

[2016-11-22 22:55] CyrusNajmabadi commented on #12743
I believe this should be 'by designed'.  Here's why: we already shipped the same pattern with ```SyntaxList<T>```.  i.e. SyntaxList already has both these conversion operators and both are *implicit*.  My work to add this operator to SeparatedSyntaxList just brought it inline with SyntaxList.

IMO, these types should be consistent here and we should just accept that this implicit conversion is all

[2016-11-22 22:56] CyrusNajmabadi commented on #12743
Giving to Jared to decide what we should do with this.  IMO consistency trumps the other concerns here.  We shipped SyntaxList like this since day1 and it hasn't been a problem.  So i think we should make SeparatedSyntaxList work the same way.

[2016-11-22 23:00] #302 closed

[2016-11-22 23:15] eyalsk commented on #14697
@Kaelum Why did you change the title?

[2016-11-22 23:18] eyalsk commented on #15471
@CyrusNajmabadi Thanks!

[2016-11-22 23:27] HaloFour commented on #14697
@CyrusNajmabadi

I agree that they are different concerns.  However, it makes little sense for the language to introduce a variable into a scope where the compiler can guarantee that the variable is definitely *not* assigned.  It would be a different matter if the compiler simply couldn't make the guarantee that it was assigned.

As for the visibility/transparency, I continue to state that this pa

[2016-11-22 23:29] CyrusNajmabadi commented on #14697
@HaloFour I hear you.  I think we'll def be taking cases like this into account when we do stuff in the future.  Note that this is a generally hard problem for us as well.  We get feedback from some of "you did things on github, but i had no idea since i don't use that" :D

It's going to be an interesting problem figuring out a changing communication model with so many parties.

[2016-11-22 23:34] eyalsk commented on #14697
@CyrusNajmabadi WHO ISN'T USING GITHUB?! hunt 'em down! we can't have dat! 😆

[2016-11-22 23:35] CyrusNajmabadi commented on #14697
Hey!  I'm still trying to figure out if i should use teams, slack, yammer, gitter, or outlook... sigh....

[2016-11-22 23:37] eyalsk commented on #14697
@CyrusNajmabadi Use IRC! and build bridges!

[2016-11-22 23:45] HaloFour commented on #15477
I believe that's expected, the compiler tries to follow the "enumerable" convention prior to trying to follow the interface.  As the class correctly has a `GetEnumerable` method that returns `IEnumerable` that would that would take precedence.  IIRC C# does the same thing, and they both have since VS2005.

[2016-11-22 23:49] HaloFour commented on #15477
Yes, C# works the same way:

[code]

[2016-11-22 23:50] pr-yemibedu commented on #5292
Decomposing the original to return new types or rearrange parameters would feel better through a limited macro system. For tooling, just getting extra code slices is enough. Here are keyword names I like. There probably should a generators entry in the .csproj file (FIFO) and if not then msbuild should get an explicit listing of files for compilation. Attributes and source magic number ordering is

[2016-11-23 00:11] KirillOsenkov opened #15479 "MSBuildWorkspace doesn't correctly open some solutions, projects have 0 references"
1. Create a new C# console app
2. Add NuGet references to Microsoft.CodeAnalysis.Workspaces.CSharp 2.0.0-rc.
3. Use MSBuildWorkspace to open  https://github.com/dotnet/corefx/blob/master/src/System.Collections.Immutable/System.Collections.Immutable.sln
4. Iterate over all projects of the solution, for each project GetCompilation, and then GetDiagnostics().

Verify there are no diagnostics.

Curren

[2016-11-23 00:11] jnm2 commented on #14697
For posterity, here is the conversation right before OP ragequit:
http://fiddle.jshell.net/9gr4hrcb/show/

[2016-11-23 00:22] mattwar commented on #12161
We are removing the reference using the VSProject API, but are not receiving callbacks on any of the VS/project-system hooks for watching imports being changed.  Still investigating.

[2016-11-23 00:22] eyalsk commented on #14697
@jnm2 Cool mate! thanks.

For future reference I've copied the source from the link:

<p>The C# Design Language Notes for Jul 15, 2016 in <a href="https://github.com/dotnet/roslyn/issues/12939" class="issue-link js-issue-link" data-id="169488120" data-error-text="Failed to load issue title" data-permission-text="Issue title is private" title="Failed to load issue title">#12939</a> are deeply conce

[2016-11-23 00:25] KirillOsenkov commented on #15479
The stack for the ArgumentNullException in case anyone's interested:

 	System.Collections.Generic.Dictionary<object, Microsoft.CodeAnalysis.CSharp.DecisionTree>.FindEntry Line 299	C#
 	System.Collections.Generic.Dictionary<object, Microsoft.CodeAnalysis.CSharp.DecisionTree>.TryGetValue Line 500	C#

 	Microsoft.CodeAnalysis.CSharp.DecisionTreeComputer.CheckSubsumed Line 349	C#
 	Microsoft.CodeAnal

[2016-11-23 00:36] tmat commented on #15479
Re 2: https://github.com/dotnet/roslyn/pull/14879

[2016-11-23 00:56] Pilchie commented on #15479
MSBuildWorkspace currently has big problems in the 2.0 branch, because it doesn't know how to find MSBuild.  I'm surprised you're getting as far as you are. Are you binding redirecting it back to the 14.0 version?

Tagging @tmeschter and @mattwar

[2016-11-23 01:05] tmat commented on #14976
Assigning to the IDE. A contract fails in LanguageSettingsPersister.TryFetch:

[code]

[2016-11-23 01:12] Pilchie commented on #14976
@tmat - is that actually the cause of the crash though?  That's a different stack than I saw.

@jasonmalinowski - are we missing handling settings for repl-command content types?

[2016-11-23 01:14] KirillOsenkov commented on #15479
Good to know, I'll just hold off until it's all working again.

Maybe 2.0.0-rc was snapped before the breaking changes you're talking about? And yes, I might be redirecting it to 14.0. I don't have Willow on my box if that matters.

[2016-11-23 01:15] tmat commented on #14976
It's the first exception I see. It might be causing appending the extra character in the completion.

[2016-11-23 01:16] Pilchie commented on #14976
Perhaps, but you'd still get a crash if you transitioned from `#helpp` to `#help` without completion I think.

[2016-11-23 01:20] tmat commented on #14976
Yes, there are probably multiple bugs involved.

[2016-11-23 01:33] Pilchie commented on #15479
If you still have the 14.0 build tools installed and you redirect our references *down* from 15.1 to 14.0 you might be avoiding all of the "fun" of finding msbuild on a willow based machine.

For step 3 - are there any WorkspaceFailed dignostics?  What about compilation diagnostics?

[2016-11-23 01:34] jcouv commented on #14108
Whenever we fix this issue, we should also cover scenarios involving discards.

[2016-11-23 01:50] panopticoncentral commented on #10560
Didn't we finish this?

[2016-11-23 01:51] panopticoncentral commented on #11473
I think we did the first part but I don't believe we did the second part (cleanup).

[2016-11-23 01:51] panopticoncentral commented on #12972
Not sure if this was completed since there was other work that needed to be done to unblock.

[2016-11-23 01:52] tmat commented on #14976
The first exception is reported thru NFW, when deleting the extra characters I see the same exception (debugging local build from master) but this time it kills VS.

[2016-11-23 01:54] Pilchie commented on #4395
I'll defer to @jmarolf to comment further, but keep in mind that this is the Thanksgiving holiday week here in the US, and many people are out on vacation right now.

[2016-11-23 01:57] KirillOsenkov commented on #15479
I haven't noticed any WorkspaceFailed invocations. There were 18 thousand compilation diagnostics.

[2016-11-23 02:39] fredrikhr opened #15484 "Multiple Constructor dependencies"
# Problem
This is a proposal for making it easier to derive base classes with multiple constructors.

The problem occurs when the derived class wants to extend or replace the argument list of multiple base constructors while still doing the exact same initialization internally. Consider the following code

[code]

As we can see, the derived class `PrefixText` performs the same initialization in al

[2016-11-23 02:52] qwertie commented on #11324
It did not escape my notice that no one from Microsoft was interested. I took my leave, tail between legs... progress on EC# since then has been minimal, but it's not cancelled, I'm still working on it.

[2016-11-23 03:15] ufcpp opened #15486 "The naming rule violation is inadequate for non-Latin languages"
**Version Used**:

Visual Studio 2017 RC

**Steps to Reproduce**:

1. Use Japanese characters for identifiers

**Expected Behavior**:

There is no message.

**Actual Behavior**:

The code analyzer says "Naming rule violation: These words must begin with upper case characters".

![image](https://cloud.githubusercontent.com/assets/3760955/20550074/54470168-b175-11e6-9e91-c85d06d6ccce.png)

However,

[2016-11-23 03:23] CyrusNajmabadi commented on #11324
i'm interested :)

But, as Halo pointed out, the entirety of what's going on in this issue is enormous.  It's simply too large to do anything with in its current state.  Extracting out useful pieces and working toward getting them implemented is likely the best path forward.

--

Note that this bit concerns me:

We've looked into areas like this before, and a large issue is that things often work

[2016-11-23 03:41] jnm2 commented on #15484
I can say I've wanted this for the last six years.

[2016-11-23 04:55] #4416 closed

[2016-11-23 04:58] strohlaj commented on #215
What would be the best way to represent negative numbers using the binary literal syntax?
The logical negation '~'? Is there a way to include the signed bit in the binary literal syntax like so:

0b0_1111111_11111111_11111111_11111111; //int.MaxValue;
0b0_0000000_00000000_00000000_00000010; //2
0b0_0000000_00000000_00000000_00000001; //1
0b0_0000000_00000000_00000000_00000000; //0
0b1_1111111_1111

[2016-11-23 05:09] CyrusNajmabadi commented on #215
@strohlaj:

What about:

```int negOne = - 0b1.```

C# does not have negative literals.  It has negative constant expressions. So this just fits with that.

[2016-11-23 05:33] strohlaj commented on #215
I like it and that definitely works. My only real complaint (and this is strictly an opinion) is that it seems to hide the binary representation of the negative number.

[2016-11-23 05:59] #15435 closed

[2016-11-23 06:02] gafter opened #15487 "Tuple element names on the left of a deconstruction"
Tuple element names are currently rejected on the left of a deconstruction assignment or deconstruction declaration. However, the tuple on the left is the result type of the deconstruction, and therefore names should be permitted. Moreover, that is a way for the programmer to ask the compiler to ensure that the names are not mixed up.

On the other hand, it isn't clear what the syntax would be if

[2016-11-23 06:09] jcouv commented on #15448
From my investigation so far, it seems the difference in behavior is because the first `SendBackspace` is called on its own, whereas the second one is called after `SendTypeChars`. In the second case, the trigger gets captured into some session object and the suggestion mode provider is only invoked with the first letter of the last word typed, but never with the backspace.

[2016-11-23 07:43] paulomorgado commented on #2136
@pmunin

Except that TypeScript is a totally different language running in a totally different runtime.

TypeScript is transpiled to ECMAScript which allows, pretty much, anything. In fact, one could argue that the job of TypeScript is to limit the crazy of ECMAScript.

On the other hand, C# is compiled to IL which runs on the CLR. I'm not an expert on any of the latter, but I suspect that it woul

[2016-11-23 07:51] paulomorgado commented on #215
@strohlaj

Do you really usually care that `0b1_1111111_11111111_11111111_11111110` is decimal `-2`?

[2016-11-23 08:20] GeirGrusom commented on #215
unchecked((sbyte)0b11111111)

[2016-11-23 09:45] jmarolf commented on #4395
@elachlan thanks, I'll try out the repro.

[2016-11-23 11:57] DavidArno opened #15489 "Unreachable "else block" code isn't reported as such, when "is var" is used"
**Version Used**: VS2017 RC

**Steps to Reproduce**:
[code]

**Expected Behavior**:
As `s is var x` will always be true, an "Unreachable code detected" warning should be reported for the contents of the `else` block.

**Actual Behavior**:
No warning is reported.

[2016-11-23 12:07] heejaechang opened #15490 "random crash on devenv /build"
**Version Used**:
VS 2017 RC

this bug is from customer report.

...

It  appears that devenv.exe will crash periodically when it is used to invoke a build, and there is a C# project present in the solution.
The failures are intermittent and we saw them happening about once in 3-10 builds on our virtual machines

The command line that we  used  to reproduce the issue (multiple times):
"C:\Program

[2016-11-23 12:08] stephentoub opened #15491 "Proposal: Add IL-level inlining for async methods"
When an async method yields for the first time, we get several allocations:
- The state machine boxed to the heap
- An Action to be used for continuations
- A “MoveNextRunner” in the infrastructure that’s allocated to help store additional state
- The Task (or whatever the return type)

For performance-sensitive code bases, these costs can lead developers to avoid refactoring code into smaller asy

[2016-11-23 12:39] alrz commented on #15491
Related: #10449

[2016-11-23 12:53] AdamSpeight2008 commented on #15458
Running the following analysis code over the roslyn [master] repo show 292 possible (vb) use cases.
[code]

[2016-11-23 13:19] AdamSpeight2008 commented on #15458
Targeting the analysis to where the same identifier is used in both TypeOF exprsessions.
There are 208 logic operation involving them, so halving that to account for the both side being counted is 104 uses.

[2016-11-23 13:48] strohlaj commented on #215
@paulomorgado
I've tried thinking of a hypothetical situation where it would make more sense but nothing comes immediately to my mind. I will say that it's nice from an educational perspective. For students to visually see the negative integers in binary form as they actually are would be nice for teaching how ones compliment works.

[2016-11-23 14:02] vbcodec commented on #15491
Maybe better, faster and easier is to recycle these frames. Just create some smart cache for frames and implement methods for cleanup before subsequent usage.

[2016-11-23 14:38] daveaglick commented on #15474
After some research, it looks like the default behavior for symbols that span multiple trivia locations is to aggregate their documentation comments. I was actually able to stub out some rudimentary support for this using reflection to see how it might work. The following code uses `DocumentationCommentCompiler.DefaultVisit()` to compile the XML comments for a specific namespace symbol (the `.Dump

[2016-11-23 16:33] UnoSD commented on #60
@MartinJohns, unfortunately if you subscribe just with the button, then you won't be able to search for the issues to which you are subscribed. In this way, you can also search for mentions, that's just a small workaround until finally the GitHub team implements a solution: https://github.com/isaacs/github/issues/283

[2016-11-23 16:38] HaloFour commented on #15484
I can see a couple of issues here that might impede implementation of something like this:

1. The "shared" private constructor couldn't have the implicit call to `base()`, which would be a deviation from normal behavior for that syntax.  This would result in the assembly being unverifiable.
1. The "shared" private constructor couldn't be invoked directly from within the class due to it's lack of

[2016-11-23 17:06] wedge905 commented on #215
When dealing with hex or binary literals, it's wrong to think of them in terms of numbers.  It's more accurate to think of them in terms of bits and bytes.  They are just arbitrary data, which is meaningless by itself.  The meaning is assigned to the data by the reader.
Example:
What number is this?  0b11110100
If you assume that those bits represent an 8-bit signed int, then it's -12
but if you a

[2016-11-23 17:47] kedarkolhatkar commented on #11634
Please follow instructions on this page. [Building, Debugging, and Testing on Windows](https://github.com/dotnet/roslyn/blob/master/docs/contributing/Building,%20Debugging,%20and%20Testing%20on%20Windows.md)

[2016-11-23 18:21] bbarry commented on #15491
@vbcodec unfortunately those frames are not the same types or sizes...

I would like a general purpose (beyond the scope of `async` methods) `[ILInline]` attribute (not sure about the name though) as a build time enforcement of the CLR hint attribute.

Specifically for `async` machines though, I do question the validity of this "pro" you have stated:

[code]

I'd expect this to compile effectively

[2016-11-23 18:25] eyalsk commented on #15484
I understand that the example is very simplistic and I also understand the idea but it's extremely bad example beyond the fact that you can solve this with generics as you mentioned yourself but I'm confused by the inheritance relationship.

Why subclasses need to have their own state? if you inherit from fruit would you expect an apple to have its own state? if the answer is yes then I'd argue th

[2016-11-23 18:28] jnm2 commented on #15484
Where should I start? I have hundreds of classes like this, mostly abstract, with state in both the abstract and the subclass. Every one I've just looked at seems perfectly encapsulated to me, and in every case composition is not an option.

[2016-11-23 18:30] jnm2 commented on #15484
I'm not understanding the generics argument. Take Exception, for example, where you have four base ctors and you need to set a field or two in the subclass.

[2016-11-23 18:57] asyschikov opened #15496 "Is it possible to compile and run CSI on .net core?"
The title says it. I managed to compile csc.exe on Linux but I was not able to do it with csi. Would be nice to have interactive C# shell on .net core.

[2016-11-23 18:59] jasonmalinowski opened #15497 ""Attempted to access an unloaded AppDomain" during Roslyn.Services.Editor2.UnitTests.dll"
At the end of the xunit log:

  Finished:    Roslyn.Services.Editor2.UnitTests
System.AppDomainUnloadedException: Attempted to access an unloaded AppDomain.

Unfortunately no additional output or crash dump was produced.

[2016-11-23 19:02] gafter opened #15498 "Should test for query contextual keywords in new features"
Query contextual keywords are not identifiers when inside a query. There are many places where our new syntactic forms permit identifiers in expressions. We should ensure that none of them permit query contextual keywords without an error.

[2016-11-23 19:29] jasonmalinowski commented on #12972
@tmeschter: I'll leave this up to you to decide if it's OK to close or not. (This is just a tracking bug.)

[2016-11-23 19:38] bbarry commented on #15491
updated gist with an alternative implementation: https://gist.github.com/bbarry/01690992031f27de542997a4682db391

Alternatively, the `[ILInline]` attribute could modify the [produced state machine for `B` as follows](https://gist.github.com/bbarry/01690992031f27de542997a4682db391#file-_3_alternative-cs-L153):

1. make the `MoveNext` method public static and call it from a generated `void IAsyncSta

[2016-11-23 19:42] eyalsk commented on #15484
@jnm2 I'll answer you soon! 😉

[2016-11-23 20:16] svick commented on #15491
1. Do I understand it correctly that this would affect only methods that are immediately `await`ed?
2. Would the attribute be placed on the inliner (`A` in the example) or the inlinee (`B`)? If it was the inlinee, then I'm not sure that gives the user enough control, since it would mean that a framework method would either always be inlined or never be. (Also, I think I would prefer a name like `[

[2016-11-23 20:21] stephentoub commented on #15491
I don't believe that would be better/faster/easier.  Pooling has its own costs and implications, and I would much rather eliminate costs entirely rather than try to workaround them via pooling.  It's possible some form of pooling could be explored in addition, but I don't believe it replaces the desire for something along the lines of what I've suggested.

That was my intention.

My suggestion her

[2016-11-23 20:49] AdamSpeight2008 commented on #15458
An implementation of the analysis should be done for C#, as that is what most of the framework repos use.

[2016-11-23 21:21] #15245 closed

[2016-11-23 21:54] jasonmalinowski commented on #15214
So the dump I saw in the internal bug shows that we tried fetching a bool from the synced profile and got back an Int64 instead. Turns out we've never (for a very long time) had any protections about type checks.

@IlyaBiryukov It's hard to know how that got into the profile. Any idea if the machine / user account is still available to take a look at?

[2016-11-23 22:00] Pilchie commented on #15453
@AArnott are you able to repro this consistently?

[2016-11-23 22:00] #14060 closed

[2016-11-23 22:04] Pilchie commented on #15462
Our general thoughts are:
1. Not to expose things that are just an obvious combination of primitives, because:
a. The API surface is already huge.
b. Doing so causes people to wonder what *else* it does, apart from the simple combination of primitives.
2. Not to pro-actively expose much, since once we commit to a public API it can't be changed and incurs a significant cost.

However, we're open to

[2016-11-23 22:12] AdamSpeight2008 commented on #15458
Running the analysis for the CSharp form 'obj is type', as currently the analysis doesn't the not form.
[code]
'Roslyn [ Master ]' Found 296 isExpression, or 148 instances.
`CoreClr [ Master ]` Found 60 (or 30 instances)
`CoreFx [ Master ]` Found 182 (or 91 instances)

[2016-11-23 22:13] Pilchie commented on #15463
From the first link, the first failure was:

17:32:24 Test: BasicRazor started: 11/22/2016 4:11:44 PM
17:32:24 	Executing action [11/22/2016 4:11:44 PM] StartTarget
17:32:24 Begin Waiting for Apex Communication
17:32:24 	Executing action [11/22/2016 4:11:45 PM] SetToolsOption
17:32:24 Previous option value: TextEditor > HTMLX > InsertTabs = False
17:32:24 Setting option: TextEditor > HTMLX > Inser

[2016-11-23 22:17] Pilchie commented on #15464
Already tracked in https://github.com/dotnet/roslyn/issues/15326.

[2016-11-23 22:17] #15464 closed

[2016-11-23 22:18] Pilchie commented on #15478
Do we handle navigation, or does it come from the editor once we report results?  Someone probably needs to specify the "editor" they want when the file is opened.

[2016-11-23 22:19] Pilchie commented on #15497
This doesn't seem actionable without more info.  Let's wait a bit to see if it starts to happen more.

[2016-11-23 22:21] jasonmalinowski commented on #15497
@Pilchie This is the second time it's happened in recent (last week or two) memory.

[2016-11-23 22:22] Pilchie commented on #15497
So - what do you propose doing about it?

[2016-11-23 22:23] jasonmalinowski commented on #15497
Figure out why we didn't get a crash dump or something?

[2016-11-23 22:27] mavasani opened #15505 ""Use null propogation" code fix introduces a compiler error"
**Version Used**:
VS2017 RC

**Steps to Reproduce**:

1. Enable Full solution analysis for C#
2. Open Roslyn.sln and source file `src\Compilers\CSharp\Portable\CSharpCompilationOptions.cs`
3. Observe below suggestion in the error list:
[code]
4. Press Ctrl + dot to invoke code fix

**Expected Behavior**:
Code fix is applied without introducing any errors.

**Actual Behavior**:
Code fix introduces

[2016-11-23 22:27] CyrusNajmabadi commented on #13043
ETL trace 1: "\\mlangfs1\public\cyrusn\ETL\~10SecondDelayLoadingTinyProject.zip"

I have another coming where it took more like 40+ seconds.

[2016-11-23 22:29] Pilchie commented on #15505
Darn struct comparisons with null...

[2016-11-23 22:35] gregg-miskelly commented on #12681
We are fixing this in the C# extension, so resolving as external.  See https://github.com/OmniSharp/omnisharp-vscode/issues/779.

[2016-11-23 22:35] #12681 closed

[2016-11-23 22:38] CyrusNajmabadi commented on #13043
\\mlangfs1\public\cyrusn\ETL

[2016-11-23 22:39] heejaechang commented on #15041
talked to service hub guys. root cause is not fixed yet. decided to do retry on our side until root cause is fixed.

https://github.com/dotnet/roslyn/pull/15110

[2016-11-23 22:39] mavasani commented on #14002
I am unable to repro this anymore.

[2016-11-23 22:39] #14002 closed

[2016-11-23 22:40] heejaechang commented on #15031
https://github.com/dotnet/roslyn/pull/15110

[2016-11-23 22:43] heejaechang commented on #9368
this is already fixed

[2016-11-23 22:43] #9368 closed

[2016-11-23 22:52] gafter commented on #15489
As currently specified, an unreachable code warning is only produced when the if expression is the constant `true`, not when it is a non-constant expression that is always true. However, this is a reasonable feature request.

[2016-11-23 22:53] gafter commented on #15489
@MadsTorgersen Does this belong on the LDM agenda?

[2016-11-23 22:54] gafter commented on #15477
@AlekseyTs @AnthonyDGreen Can you please evaluate this issue? Is the compiler behaving correctly?

[2016-11-23 22:57] gafter commented on #9099
Per #15405, `throw` should, for example, be offered after `=>`

[2016-11-23 22:57] gafter commented on #15405
Dup of #9099

[2016-11-23 22:57] #15405 closed

[2016-11-23 23:05] gafter commented on #15395
We cannot do that, because `FormattableString.Format` is an instance method, and if we perform the optimization you request there would be no instance to call it upon.

We prefer not to intrinsify ordinary methods in the C# compiler. That is more appropriately the job of the runtime.

[2016-11-23 23:05] #15395 closed

[2016-11-23 23:15] daveaglick commented on #15462
That makes sense, thanks.

I'll sit tight and see what you think about opening up that specific method. When I attempted to copy it and replicate what it's doing in my own code it cascaded into a huge spaghetti mess, so it might be a good candidate.

[2016-11-23 23:21] qwertie commented on #11324
@CyrusNajmabadi first of all, thank you very much for saying something (and also thanks to aL3891, dsaf & HaloFour - I appreciated your replies; it's just that I really had my heart set on some kind of response from an 'insider'.)

I am curious what you mean that things "fall over when you need to really deal with the full complexity of the language"? I have found that macros work well for much mo

[2016-11-23 23:27] mavasani commented on #14866
I am able to repro this issue with the above repro steps. Analyzers with dependencies fail to load with dotnetcore csc but work fine with netfx csc. This is the same issue as summarized in https://github.com/dotnet/roslyn-analyzers/issues/1028#issuecomment-227599906. As summarized by @srivatsn in https://github.com/dotnet/roslyn-analyzers/issues/1028#issuecomment-231145991, you will need .NetCore

[2016-11-23 23:27] #14866 closed

[2016-11-23 23:41] jcouv commented on #15487
What if `var (first, last) = GetName()` produced a `(string first, string last)` tuple?
You are already specifying names for the parts, so why do it twice?

[2016-11-23 23:44] jcouv commented on #15468
Fixed by #15469

[2016-11-23 23:44] #15468 closed

[2016-11-24 00:00] mavasani commented on #14053
I am unable to repro this on VS2017 RC. Not sure why this was tagged with Area-Analyzers as the issue was reported for building the solution.

[2016-11-24 00:00] #14053 closed

[2016-11-24 00:01] timadamson commented on #12939
`void M(object o)
{
  if (!(o is int i)) i = 0;
  ...; // would be nice if i was in scope and definitely assigned here
}`

My god this is horrid, please don't let this become best practice. What's wrong with:

`void M(object o)
{
  int i = o as int ?? 0;
}`

[2016-11-24 00:02] dsaf commented on #11324
@qwertie

You have actually received a response from Gafter straight away - marking something as "Discussion" means that a suggestion is being rejected on the spot.

My opinion on this topic:

1. EC# cannot be widely popular because C# doesn't suck. The situation with TypeScript - JavaScript for example is entirely different and even then TypeScript is kind of "meh" unless a front end is predicted

[2016-11-24 00:14] VR-Architect commented on #15486
I have same issue with 2017 RC1. To reproduce, create a new AspNet CORE website. Upgrade all modules in NuGet (not the the pre's) and you get these two notifications. The project builds, runs, but shuts down immediately with no error message. Runing on Windows 10 with all updates.

Severity	Code	Description	Project	File	Line	Suppression State
Message	IDE1006	Naming rule violation: These words must

[2016-11-24 00:17] AdamSpeight2008 commented on #15458
[code]

[2016-11-24 00:54] heejaechang commented on #15231
curious what cause the infobar to show up. is it UI thread input delay exceeding certain threshold?

[2016-11-24 01:18] ufcpp commented on #15486
Related to: https://github.com/dotnet/roslyn/issues/15326

[2016-11-24 01:24] CyrusNajmabadi commented on #12939
It doesn't work for more than simple expressions.  For example, any code that performs multi-statement logic.

[2016-11-24 01:25] CyrusNajmabadi commented on #11324
How do you define an 'insider'?

[2016-11-24 01:26] gafter opened #15508 "IDE extract method fails to handle some deconstruction scenarios."
The IDE code is not resilient against arbitrary expressions appearing on the left-hand-side of a deconstruction. It tries to produce a zero-element tuple type, which causes an exception to be thrown.

This will be a problem after generalized deconstruction support is added to the compiler, even in error scenarios. I'll skip the two affected tests, `GenerateMethodTests.TestDeconstruction3` and `4`.

[2016-11-24 01:32] CyrusNajmabadi commented on #11324
i mean things like properly working in complex constructs like async/await or 'yield'.  Or in constructs where variables are captured into display classes.  Or with constructs that need to understand the intricacies of reference/value types, especially across complex generic constraints.  etc. etc.

After this, you also have to figure out how this impacts the IDE/editing-cycle.  We put many months

[2016-11-24 01:38] gafter commented on #15487
For the same reason that you would invoke a method `SetName(first: first, last: last)` instead of `SetName(first, last)`. In the former the compiler helps ensure that you've used the intended variable for each parameter, while in the latter you're lucky if you get it right.

[2016-11-24 01:44] gafter commented on #15487
Or if you're asking why not infer the names, the LDM considered that and rejected it for a number of reasons, though perhaps it is worth revisiting. Even if the names can be inferred, it should still be possible to be explicit.

[2016-11-24 01:47] KirillOsenkov opened #15510 "System.Runtime.InteropServices.RuntimeInformation package should be included as a dependency for MSBuildWorkspace"
NuGet package 2.0.0-rc for the workspace doesn't seem to work if you don't additionally install https://www.nuget.org/packages/System.Runtime.InteropServices.RuntimeInformation

[2016-11-24 01:50] #15459 closed

[2016-11-24 02:09] #15408 closed

[2016-11-24 02:42] CyrusNajmabadi opened #15513 "IOperation reports 'Instance' for static method access in delegate creation xpression."
From https://github.com/dotnet/roslyn/issues/15325

Given the code:

[code]

For the reference to "Function" (inside ```new Func<int, int>(Function)```), we get an IMemberReferenceExpression that has a non-null ```.Instance``` value.  The kind of this is "InstanceReferenceExpression".  This doesn't make sense as "Function" is a reference to a static method.

[2016-11-24 03:04] qwertie commented on #11324
Someone on one of the Roslyn teams. But I would have been happy with any Microsoftie.

Well, the beauty of user-defined stuff is that it doesn't have to be perfect because MS isn't responsible for supporting it. Also, many macros do something simple enough that there's little that could go wrong and few feature interactions to consider. Plus, a lot of macros would be one-off things made by one use

[2016-11-24 03:05] CyrusNajmabadi commented on #11324
That would be me :)

[2016-11-24 03:06] CyrusNajmabadi commented on #11324
One of the arguments i *thought* you were making was that by implementing this, we could then provide many of the features we've been working on for C# 7 and onwards by layering on this system.  That's only true if this subsystem if capable enough to handle all the complexity that we'd need to manage with all our features.

[2016-11-24 03:08] CyrusNajmabadi commented on #11324
Yes, Roslyn does fairly extremely incremental parsing.  It tries to reuse, down to the token level, all the data it can :)

[2016-11-24 03:09] CyrusNajmabadi commented on #11324
Yes.  And you've now taken a system that should take a few seconds max, and made it potentially take minutes (depending on how many transformations are being done, and how costly they all are).   :)

[2016-11-24 03:12] CyrusNajmabadi commented on #11324
We've now released a new version of C# that they can't use.  Or which may break their code.

We've actually implemented language features to help avoid that.  Both through things like namespaces, as well as aliasing (::) (which people do use to ensure that names won't collide).

--

Allowing for abitrary new syntax to be introduced is problematic.  Consider that you introduced something like "out-

[2016-11-24 03:16] CyrusNajmabadi commented on #11324
The problem with this is that features themselves are complex.  Extract method, for example, needs a fine-grained understanding of data flow and control flow to make appropriate decisions.  How does it do this over code that may change arbitrarily because of macros?

Consider just something simple:

[code]

The user wants to extract out the code in the middle.  But maybe ```<SomeMacro2>``` ends up

[2016-11-24 03:20] qwertie commented on #11324
@dsaf Thanks. What's the importance of the 'up for grabs' tag?

Thanks for the heads up; too bad it has no date on it. If it's more than a few months old, I probably applied for it already.

[2016-11-24 03:24] CyrusNajmabadi commented on #11324
For certain.  But now the problem space has gotten much larger.

--

This is a primary concern here: the value produced by this has to warrant the enormous amount of work that needs to happen here.  And it has to justify all that work *and* not have major downsides that we would have to absorb.

Or, in other words, there are limited people resources to be able to do all of this.  A suggestion like

[2016-11-24 03:25] CyrusNajmabadi commented on #11324
Work was done here: https://github.com/dotnet/roslyn/blob/master/docs/features/generators.md
https://github.com/dotnet/roslyn/issues/5292

[2016-11-24 03:26] CyrusNajmabadi commented on #11324
It means we're happy with anyone taking it on and providing a solution.

Technically, anything is 'up for grabs', but the ones with that particular label are things we think non-full-time developers could reasonably take on.

[2016-11-24 03:29] #9099 closed

[2016-11-24 03:29] #15505 closed

[2016-11-24 03:30] #15325 closed

[2016-11-24 07:14] soroshsabz commented on #115
@Ziflin You right, so I think we have agreed with `readonly ref` at the call site does not necessary and should be avoid it, but `readonly ref` in method declaration is necessary too to ensure that it will not change ( could not change) input parameter. this is necessary for define comprehensive API.

If any person have question about why a method writer declare input parameter `ref` when does not

[2016-11-24 07:35] codingonHP opened #15517 "Opening Roslyn.sln asks to update to Visual Studio 2015 - Update 1 when it already has Update 3 installed"
**Version Used**:

Microsoft Visual Studio Enterprise 2015
Version 14.0.25431.01 Update 3
Microsoft .NET Framework
Version 4.6.01055
Installed Version: Enterprise

I have just cloned the repo and when I tried to open it in VS 2015 with update 3 installed. none of the project are loading. I am getting following error:
**Install Update 1 for Visual Studio.**

What am I missing here ?

[2016-11-24 10:06] jmarolf commented on #15517
Do you have the VSSDK installed?

[2016-11-24 10:38] qwertie commented on #11324
Wow! Somehow I overlooked the incrementalness of the parser when I looked at its code.

Hmm. If the solution is big enough and the macros are slow enough, yes. But no one _has_ to use macros, and if the user is informed of what's slowing down the process, they will be encouraged to do something about slow macros.

Ah, I see why you would think that, since I had done exactly that with my system. An

[2016-11-24 10:39] qwertie commented on #11324
Having said all that, point taken, any kind of compile-time metaprogramming is a big, difficult feature.

I just thought of something that I never think about, because I don't use ASP.NET. You know how you can write blocks of C# code in `<%  %>` in an aspx file and intellisense works in there? How do they do that? Is the solution necessarily tied to the Roslyn C# parser, or could I somehow write a

[2016-11-24 11:52] codingonHP commented on #15517
@jmarolf : Yes I have VSSDK installed. I am able to play around with Roslyn API in my VS edition. Everything works fine.

[2016-11-24 14:18] filipw opened #15518 "Microsoft.CodeAnalysis.CSharp.Scripting 2.0.0-rc breaks without System.Runtime.InteropServices.RuntimeInformation"
**Version Used**:

`Microsoft.CodeAnalysis.CSharp.Scripting`:`2.0.0-rc`

**Steps to Reproduce**:

1. Install `Microsoft.CodeAnalysis.CSharp.Scripting` from Nuget into a desktop 461 console app.
2. Add some basic scripting code:

[code]

3. Run the program

**Expected Behavior**:
Program prints `5`.

**Actual Behavior**:
[code]

Note: installing `System.Runtime.InteropServices.RuntimeInformation` m

[2016-11-24 16:42] matjazmav commented on #13146
I have same problem as @eligu. I Have 2 projects A (contain logic to execute script) and B (console app with reference to A). When B want to execute logic from A i get this exception:

[code]

[2016-11-24 17:48] arfilon commented on #13
I does not have to be perfect , it is anonymous types after all , i think implementing the interface geter without extra syntax like in the (t00 commented on Jul 24, 2015) cover 90% of the day to day need.

the idea is not to have full functional class, to do that just use a private class, we need to have ability to pass data when interface required, just like what we do in anonymous type in linq

[2016-11-24 17:49] matjazmav opened #15520 "Can't compile script from ASP.NET MVC"
**Version Used**:
Microsoft.CodeAnalysis, Version=1.3.1.0

**Steps to Reproduce**:
1) I have create project that contain code to compile and run script using `CSharpCompilation`.
2) Then I have created ASP.NET MVC project, referenced project form step 1) and called method to compile script from controller. I get following exception:
[code]
**Expected Behavior**:
I tried with Console app and refere

[2016-11-24 19:17] TessenR opened #15522 "'Call hierarchy' window is unable to expand local functions ('searching...' takes forever)"
Expanding local functions' call nodes never ends in VS 2017 RC.

[code]

![callhierarchy](https://cloud.githubusercontent.com/assets/5566206/20608444/1f9813a2-b293-11e6-99fc-2a76b600be59.gif)

[2016-11-24 19:45] tmat commented on #15510
Related: https://github.com/dotnet/roslyn/issues/15518

[2016-11-24 20:08] nvivo commented on #13
I still think this is a very required feature,  but this issue has been closed and the team won't respond about this issue again.

Someone with time to discuss should open a new issue proposing a simpler version of this and see what can get out of it.

[2016-11-24 20:58] gafter opened #15523 "Invalid keyword recommender tests after #15049"
We are preparing in #15049 for the ability to declare variables in a deconstruction in an expression. As a consequence, in the future you would be able to write

[code]

Note that this is not a lambda expression, but a deconstruction assignment in the initializer of q. So inside the parens, neither `ref` nor `out` would be permitted.

Since the parser is changing to support this, two existing keyw

[2016-11-24 21:55] ygoe commented on #13023
What if `foreach` actually could handle null? See #6563

[2016-11-24 23:11] tmat opened #15524 "Incorrect completion, navigate to not working in AppDomainUtils.cs"
Open AppDomainUtils.cs in Roslyn.sln.

Go To Definition doesn't work on AppDomain.CreateDomain.

The list of available overloads is also off:
![image](https://cloud.githubusercontent.com/assets/41759/20611048/1520a51e-b258-11e6-89c8-694c2b4a9591.png)

https://msdn.microsoft.com/en-us/library/system.appdomain.createdomain(v=vs.110).aspx

Repros on D15Rel 25920 with latest Roslyn VSIX from master in

[2016-11-25 01:22] davkean opened #15525 ""Object initialization can be simplified" throws away whitespace and comments"
Before:
[code]

After:
[code]

[2016-11-25 03:46] davkean opened #15526 ""Variable declaration can be inlined" sometimes does not respect "var" settings"
The variable declaration can be inlined sometimes does not always respect my "var" settings

![image](https://cloud.githubusercontent.com/assets/1103906/20614052/12b999f4-b31e-11e6-82ff-0d430be7d28b.png)

I can't get a standalone repro because when I try to isolate it does respect it, but to see examples, run this fixer across the project system repro.

Example (https://github.com/dotnet/roslyn-pr

[2016-11-25 05:45] abhijitparkhi1983 opened #15527 "Roslyn IPropertySymbol: Figure out if usage of property is Getter or Setter"
**Version Used**:  1.3.2

**Steps to Reproduce**:

1. We a simple code below detailing a Students information:
[code]

2. We  access the above information related to a student like below:
[code]

**What we are trying to find**:
In the above code, we have accessed the various Properties from Students information related classes.
Using Roslyn  we want to find out if the accessed property has been ac

[2016-11-25 07:23] barispeker commented on #12872
Hello I had the same problem. Removing duplicate project references solved the problem. Still unfortunately finding this solution cost me 2 days.

[2016-11-25 07:42] CyrusNajmabadi commented on #15308
Fixed with https://github.com/dotnet/roslyn/pull/15500

[2016-11-25 07:42] #15308 closed

[2016-11-25 07:53] CyrusNajmabadi commented on #15523
Intuitively, IntelliSense takes a "left valid" view of the world.  in other words, it makes its decisions based on the code that has come before (and is therefore more 'complete') and ignored what comes after (as that is being changes/written).

In a case like this, ref/out *shoud* be recommended, because when you have something like:

```var q = (int a, $$``` then you could definitely be in the m

[2016-11-25 07:55] CyrusNajmabadi commented on #15524
You have named parameters.  So i believe we've filtered the list down to only those that would be applicable with those named parameters.

I cannot repro goto-def not working.

[2016-11-25 07:57] CyrusNajmabadi commented on #15526
Fixed with https://github.com/dotnet/roslyn/pull/15306

[2016-11-25 07:57] #15526 closed

[2016-11-25 08:01] CyrusNajmabadi commented on #15525
This is slightly difficult as VB does not allow comments on Object initializer members.  i.e.

[code]

Is not legal.  It's also not legal to have empty lines in these either.

One thing we could consider here is moving hte comment above the statement containing the local variable.

[2016-11-25 09:05] AdamSpeight2008 commented on #15458
In reply to @alrz's [comment](https://github.com/dotnet/roslyn/issues/15458#issuecomment-262311583)

True. but in this case we are using it in a different context. Which I don't think will be a issue gain to comprehension of the semantic meaning, given some examples. eg
[code]

Given that the first example can be rewritten into form of the second.
[code]

I'd prefer to read the first one `TypeOf o

[2016-11-25 10:26] AdamSpeight2008 commented on #15525
@CyrusNajmabadi  Why are comments not allowed in the Object Initializer?

[2016-11-25 13:36] Andrew-Hanlon opened #15529 "while variable closure"
In C# 5, `foreach` was explicitly changed - a breaking change no less - to ensure that loop variables were not closed over. At the time Eric Lippert wrote:

With C# 7's current rules for `while` loop scoping, we again have the same problem where condition and loop variables will be closed over by default,

Wouldn't it make sense to consider this ahead of time and ensure that out and pattern match

[2016-11-25 13:51] AArnott commented on #15453
I guess not. This morning when I tried it, it didn't repro. But while it was reproing it happened several times in a row.

[2016-11-25 14:15] DavidArno commented on #15529
In my view, you are mixing three things into one here:

1. `out var`'s in `for`, `foreach`, `while` and `do while` loops should follow the same non-closure rules as loop vars currently. This seems a no-brainer.
2. Giving `out var`'s in `while` loops the same leakage rules as `if`'s, as opposed to other loops seems more illogical than the rest of the scope leakage rules. I wonder if there still rem

[2016-11-25 14:16] jaredpar commented on #13146
Can you elaborate a bit more on what is happening here?  I'm unclear what script is getting executed.  Is it a C# script (csi file)?

Do you have a skeleton project / repro you can share out?

[2016-11-25 15:01] SLaks commented on #15443
Much simpler repro (I assume this is the same bug):

[code]

Here too, typing the `.` (as opposed to pressing Ctrl+Space after it) will incorrectly open IntelliSense in lambda mode.

[2016-11-25 15:30] Andrew-Hanlon commented on #15529
@DavidArno Good points.

I hadn't actually considered the `foreach` case, but it is indeed **very** inconsistent to have different scoping and closure rules within the same construct. At least with `foreach` it is _fairly_ hard to create an enumerable function with ref-type out vars that change during enumeration, but it is certainly possible to run into this using a custom type or global state.

[2016-11-25 15:43] DavidArno commented on #15529
@Andrew-Hanlon,

Good point re `for`. I was getting a bit carried away with my desire to unify everything 😁

[2016-11-25 15:47] SLaks opened #15530 "Inline Temporary Variable omits parentheses when calling extension methods"
**Version Used**: 2017 RC

[code]

The Inline Temporary Variable refactoring produces `await Task.FromResult("").Any();`, which does not compile.

It looks like you need to move the parenthesis check before unreducing extension methods.

[2016-11-25 16:08] ErikSchierboom commented on #14794
@gafter The link to the wildcard branch is incorrect. It should be: https://github.com/dotnet/roslyn/tree/features/wildcard

[2016-11-25 16:13] svick opened #15532 "InvalidOperationException in extract method when selecting local function call"
**Version Used**: VS2017RC (15.0.25914.0 D15REL)

**Steps to Reproduce**:

Create a .Net Framework console application with the following code and select the marked line:

[code]

**Expected Behavior**: No error.

**Actual Behavior**:

Yellow error strip shows with the message:

Stack trace:

[code]

[2016-11-25 16:40] TessenR opened #15533 "Renaming a local function breaks code by renaming usages of unrelated elements"
The refactoring tries to rename all symbols with the same name even if they are referencing another function

[code]

Obviously changes should be limited to the 'else' block, otherwise my code will be completely broken by the refactoring.

![roslynrename](https://cloud.githubusercontent.com/assets/5566206/20631007/88c99334-b345-11e6-877d-90324f385c98.png)

[2016-11-25 17:42] ltlombardi commented on #5355
Swift does this very well for me.

[2016-11-25 18:01] TessenR commented on #15322
@agocke What about this code? There are no 'use of unassigned variable' errors so I believe it will compile without errors when you merge the pull request. Is it intended?

[code]

[2016-11-25 18:22] alrz commented on #14697
Could we have the same analysis for [this pattern](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharp/Portable/Extensions/ITypeSymbolExtensions.TypeSyntaxGeneratorVisitor.cs#L183-L188)?

With current scoping it could be rewritten as:

[code]

However, IMO #6400 or #14239 are better solutions compared to a negated `is`.

[code]

[2016-11-25 18:33] TessenR commented on #15322
Also note that Roslyn still can't compile this code and 'x' is always assigned before used so there are no 'use of unassigned variable' errors no matter how I reorder the cases.

[code]

VS 2017 RC
[code]

[2016-11-25 18:36] tmat commented on #15524
I actually wanted to change some of the parameters and call another overload. The filtering is not useful in that scenario.

[2016-11-25 18:37] miloush commented on #15414
I have to agree that the type of block (method/property/accessor/etc.) does not determine whether I prefer block body or expression body, It's the content, and single line-ness seems to be a good metric for that.

[2016-11-25 18:52] tmat commented on #15524
Re GTD: I can repro 100% in multiple clones of Roslyn repo on my machine. Perhaps it's something in the .vs cache that's corrupted? I have uploaded zipped repo to %internal_share%\public\tomat\Bugs\15524 as is (including .git and .vs folders). You just need to have all nuget restored from another repo on your machine to avoid calling restore.

[2016-11-25 19:12] jnm2 commented on #11324
Before I speak bluntly, LeMP is jaw-droppingly impressive and has features that pull me, from method forwarding to the accessible build-your-own-language mentality. I absolutely think that it's worth examining all the concepts that Roslyn can take away from project, even though it's clearly not possible to adopt the same methodology as EC#.

One thing does bother me. As a consumer of C# and Visual

[2016-11-25 19:39] tmat commented on #15524
I think it would be better if instead of filtering the non-matching overloads out we moved them to the end of the list. Perhaps also fade them out.

[2016-11-25 20:09] CyrusNajmabadi commented on #15524
GTD shouldn't be impacts by any caches at all.  Will try to debug it on your machine next week.

Interesting suggestions about SigHelp improvements.  We can def look into that in the future.

[2016-11-25 20:11] CyrusNajmabadi commented on #15525
Presumably because the VB lexer/parser doesn't support them :)

[2016-11-25 20:12] tmat commented on #15524
I suggest removing the filtering for now until we implement something better. As it is currently it's a regression from the previous behavior. Users will be surprised they don't see APIs they think they should see. I definitely was.

[2016-11-25 20:16] CyrusNajmabadi commented on #15524
I think we've had the filtering for a while now.  But i do like the idea of just using the names to prioritize the items, versus using them to filter the items out.

[2016-11-25 20:20] gafter commented on #15523
OK, I'll fix the recommender and make the test work rather than skipping the test.

[2016-11-25 20:20] #15523 closed

[2016-11-25 20:20] CyrusNajmabadi commented on #11324
I think this is oversimplifying things.  One doesn't need a slow macro for this.  Just a macro that may have a wide effect.

This necessitates two things.  First, we need a system to be presenting this to the user.  That has to be designed and built into the entire products.  Second, you are adding features now that can take away from the experience and force users into unpleasant choices.  Say, f

[2016-11-25 20:22] CyrusNajmabadi commented on #11324
In that regard, people can and do just use Roslyn.  You don't need a macro system when you literally can fork things and just implement the new feature you want.  I mean, that's literally how we incubate all our own ideas :)

[2016-11-25 20:27] CyrusNajmabadi commented on #11324
Note: this is precisely what we were working on.  And even trying to do basic stuff here turned out to be massively complex once you took the whole experience into account.   Take, for example, simple features like:

1. Navigation.  Say a macro introduces symbols.  How can the user introspect and understand the symbols?  Navigation would likely only take them to the invocation of the macro, leavin

[2016-11-25 20:29] CyrusNajmabadi commented on #11324
I'm a little confused as to what you're proposing C# adopt in future releases.  I went through your enormous gist and it's got a lot of ideas and sketches, but is somewhat scattershot.

Could you clarify which parts, precisely, of ec# you'd like us to add?  And could you give core examples of that addition so we can direct the discussion around them?  Thanks!

[2016-11-25 20:33] CyrusNajmabadi commented on #11324
So this is tricky.  If this doesn't meet our own bar, then we'd be very hesitant to add it into the language.  After all, if we weren't living and breathing this feature every day, then the chance for it to have major issues would be quite high.  As we've discovered, it's only through day-to-day dogfooding that we really can shake down a feature effectively.  This has been the case with everything

[2016-11-25 20:38] CyrusNajmabadi commented on #11324
So, to be clear, this was an exact scenario that our investigation was attempting to make better.  :)

And, i want to also be clear:  We did *not* scrap this idea.  The idea is still there, and we are still interested in it.  It's just that as we started doing work here, we quickly realized the enormity of the scope this would have, and that this would involve many developers over many months.  Th

[2016-11-25 20:47] CyrusNajmabadi commented on #11324
At a high level, it's a rather simple system (though the devil is in the details).  Here are the broad strokes on how it works.  First, ASP opens the HTML file and parses out all the HTML structure.  During this it identifies all the <%%> regions.  It then spits out a second 'code-behind' file that is a normal C# file with ```#line``` and ```#default``` regions where it spits in scaffolding code,

[2016-11-25 20:59] gafter commented on #15529
/cc @dotnet/ldm

[2016-11-25 21:00] CyrusNajmabadi commented on #11324
There are a few problem with that.

--

First: Note that you talk about the information flowing one direction.  From semantics to IL.  However, in a system like ours, information needs to flow in the reverse direction as well.  i.e. to the toolchain that is sitting on top of the compiler.  Take, for example, a feature like FindAllReferences.  It would somehow need to be aware of how you've impacte

[2016-11-25 21:06] CyrusNajmabadi commented on #15523
Thanks!

[2016-11-25 21:09] CyrusNajmabadi commented on #15529
Definitely something we could consider.  I wouldn't have a problem with all the 'loop' constructs having a similar concept of a scope where their declared-variables would go.

@gafter @MadsTorgersen I think it would be fine to change 'while' to behave in this manner.  It would keep the loops consistent, while not impacting any of the scoping scenarios we cared about for the if/switch patterns.

No

[2016-11-25 21:10] CyrusNajmabadi commented on #15529
@Andrew-Hanlon Thanks for the feedback!

[2016-11-25 21:11] tmat commented on #15524
You are right - it's filtering out the overloads in Dev14 as well. I haven't realized that. Not a regression then.

[2016-11-25 21:26] CyrusNajmabadi commented on #15530
Nice catch!

[2016-11-25 21:29] CyrusNajmabadi commented on #14697
@alrz The presumption in all those cases is that the 'other/else' branch you are performing is always simple.  That's not been the case in a lot of the code i'm analyzed.  It's common enough for there to be more more logic going on there that takes at least multiple statements to perform.

[2016-11-25 21:31] jamesqo commented on #15491
Interesting. Would this be applicable to iterator state machines as well? Seems like many of the benefits mentioned here (combining implicit `this` / `state` fields, removing additional allocations) would be beneficial there too.

[2016-11-25 21:36] DavidArno commented on #15529
@CyrusNajmabadi,

Definitely second your thanks to @Andrew-Hanlon. After the storm of recent days over this cope change, I think Andrew may have turned up with a simple suggestion during the calm that could be a genuine compromise. If `if` is a special case, all by itself, of having wider scope, my position changes from "I think this irresponsible" to "I don't like that, but I can see why others d

[2016-11-25 21:41] alrz commented on #14697
I'm thinking that the point is to avoid nested ifs/additional indention level. So currently the best way you'd come up with is the inverted if which requires the scope to leak (in case you've used pattern matching to do the same). however, `let else` will help with that, though for a simple type check I'd prefer `?? return;`

The other/else part your are referring to is simply the rest of the code

[2016-11-25 21:42] Andrew-Hanlon commented on #15529
Thanks for looking this over @CyrusNajmabadi and @gafter and all.

While I agree that this scenario will be less common than the C# 5's `foreach` case (if only due to less usage of while loops in general), I think it is hard to judge how common a pattern will be until it is available in the language.

I can easily see this being common enough and very problematic:

[code]

[2016-11-25 21:57] svick commented on #15491
@jamesqo I'm not sure iterators have the same performance issues as async. I think long chains of nested iterators do (or could) happen in two cases:

1. LINQ. It would be awesome if chains of LINQ operators could be collapsed. But this feature is working with your C# code and reference assemblies for standard libraries, so that wouldn't be possible.
2. Recursion. Inlining is not really possible t

[2016-11-25 22:15] svick commented on #14697
@CyrusNajmabadi Would it make sense if you (or someone else who has the rights) restored the topic title and possibly also the first post and reopened the issue (assuming you don't consider the discussion to be over)?

At the very least, the topic title should reflect the topic, so that people can find it.

[2016-11-25 22:17] CyrusNajmabadi commented on #14697
@svick Great question.  I'm not sure about the ethics of changing someone else's thread...

Maybe if i did it and made it clear what had happened?  Let me discuss this with team members.  If you did want me to reinstate the original post/title, please let me know (+1's will suffice).  Thanks!

[2016-11-25 22:19] eyalsk commented on #14697
@CyrusNajmabadi This someone deleted his account so you don't have to worry about it. 😆

[2016-11-25 22:20] CyrusNajmabadi commented on #14697
I'm wary about going an editing *anyone* else's post.  At least not without making it 100% clear what happened.  I'm not sure if that's considered a big no-no, or would otherwise be veyr much frowned upon.  I'm totally willing to do it *if* i can get enough confidence that the team/community feels like that's ok.

[2016-11-25 22:30] eyalsk commented on #14697
@CyrusNajmabadi Well, to be honest, if the guy deleted the post, then went on and deleted his account after people here discussed it and he did it with no reason or _real_ explanation then I'd say it's okay because that's rude!

[2016-11-25 22:35] CyrusNajmabadi commented on #15529
Data time!

As mentioned already, Roslyn has a 60/40 split between usages of statements that spill out-vars widely versus those that spill them narrowly.  i.e. we use the:
[code]

Pattern a lot.

So now to *while* loops.  In roslyn only 2% of all while loops even use an out or ref variable.  That's higher that i expected!

However, examinign all the usages shows that they're nearly all of the form

[2016-11-25 22:36] CyrusNajmabadi commented on #15529
Note: i find andrew's pattern examples more compelling.  And in those we'd also likely want to have narrow scopes.  So i think we should make these scopes narrow since we're doing the work in this area right now anyways.

[2016-11-25 22:40] CyrusNajmabadi commented on #14697
@eyalsk I don't disagree :)  And i'm not opposed to doing this.  I'm just going to chat with my team to make sure it's totally 100% above board first, ok.

I want to make sure we have an atmosphere of trust and responsibility here.  And that means being careful around things that people could be very sensitive to.

Thanks!

[2016-11-25 22:40] CyrusNajmabadi commented on #14697
Note: i have no problem reopening this :)

[2016-11-25 22:41] alrz commented on #15529
Can you please run the same analysis for the negated is operator? I think that is also a rare case and the problem would be non-existent when we have let statements. Since is produces an unassigned variable in the else part I think it wouldn't be wise to spread the scope to the whole block. Thanks!

[2016-11-25 22:42] CyrusNajmabadi commented on #14697
Also, for those unaware, we've taken a concrete proposal on a small tweak to scoping over here: https://github.com/dotnet/roslyn/issues/15529

My preliminary analysis tells me we should do this and it would certainly wall off one area of scoping-concerns that people have raised.

[2016-11-25 22:48] CyrusNajmabadi commented on #15529
I don't have the numbers handy anymore (should have really saved the excel spreadsheet :( ).

But my findings were that it was common enough.  While you are correct that some codepath would be unassigned, we have code that then wants to assign in the errant branch.  i.e. it's common enough for us to do:

[code]

I think it really comes down to a few different camps/styles.  I have a functional bac

[2016-11-25 22:48] HaloFour commented on #15529
Wow.  I was all about narrow scoping for `while` loops just for the sake of consistency between other looping constructs.  The issue with closure capture is a much more compelling reason.

I still think that `if` is a shame, but if `match` is somewhere on the horizon I can live with it.  Begrudgingly.  :grin:

[2016-11-25 22:49] CyrusNajmabadi commented on #15529
+1 on having 'match'.  I recently converted expression based code over to using the new pattern matching ```switch```, and i realllllllly want ```match``` :)

[2016-11-25 22:53] Andrew-Hanlon commented on #15529
@CyrusNajmabadi I like your style, greping real code is always important! But we also need to think about pattern matching vars - which I believe will become _very_ prevalent.

Another thing to consider is that the previous example could as easily apply to `Tasks`, where the closure would (at best) produce unpredictable results:
[code]

[2016-11-25 22:55] CyrusNajmabadi commented on #15529
To be clear, i'm 100% agreeing with you.  I was collecting the data to make sure there weren't any sort of common patterns we would be potentially hurting.

That turned out to be the case with 'if' and expression-statements, which is why we changed the scoping semantics.  But, fortunately, (IMO) this looks like a very reasonable change we can make, with practically zero downsides.

[2016-11-25 22:57] DavidArno commented on #14697
Us? Sensitive? Nonsense, I say... (realises there's no "gets coat" icon, so that's a meme possibly lost on non Brits 😉)

[2016-11-25 23:06] alrz commented on #15529
@CyrusNajmabadi That's totally reasonable. But I don't think that would be applicable to the ternary operator.
[code]

[2016-11-25 23:07] jamesqo commented on #15491
Good point. I had Linq in mind when I wrote that, but I had forgotten that doing any sort of inlining optimization would be invalid across library boundaries, since the code in the other library could change and the already-compiled library that contains inlined code would be stale. Besides, a lot of Linq is being converted to use custom iterator types which the compiler won't recognize. 👍

Still,

[2016-11-25 23:18] DavidArno commented on #15529
Definitely with @alrz here,

I've used the ternary operator expressions a few times as ways of safely promoting values into a wider scope. So having an `is var` in a ternary operator result in a (potentially unusable) wider-scoped variable automatically seems odd.

[2016-11-25 23:25] GeirGrusom commented on #15529
Meh. The ternary operator is a single small expression. It wouldn't be astonishing if it didn't declare a scope unlike the `if` statement, which already declares a scope, just not where you would expect.

[2016-11-25 23:25] CyrusNajmabadi commented on #15529
So, in the interest of *not* starting another OMGHUEG thread, i ask that we take that discussion back to https://github.com/dotnet/roslyn/issues/14697 .   If there is a concrete proposal, then let's open a new issue on that.

I'm not trying to squash your ideas AT ALL.  I just think we have a great proposal here that is very nice self contained.  I would prefer to not have the discussion around it

[2016-11-25 23:34] DavidArno commented on #15529
@CyrusNajmabadi,

Sounds sensible, though #14697 is a bit of a mess and isn't a good place either. @alrz, would you mind creating a new issue re scoping and ternary operators?

[2016-11-25 23:54] agocke commented on #15322
@TessenR The first example I believe is by design. As long as the variable is declared before the local function it is declared, but not definitely assigned, for that local function. I'll add that case as a regression test for my PR.

Regarding the second example -- that is valid code, so crashing during compilation is a bug. I'll file a separate bug for that, since it looks like it doesn't have a

[2016-11-26 00:07] agocke opened #15536 "Bad codegen in call-forward to local function in different switch block"
From #15322:

[code]

The problem seems to be getting the information for the local in CodeGen. It's not clear if this is an issue

[2016-11-26 02:13] ygc369 opened #15537 "Now it's time to discuss which new language features would be in C# 8.0"
As C# 7.0 will be released soon, there's no time to add more features. But there are still many good ideas that has not come true in C# 7.0, so I wonder which of them would be in the roadmap of C# 8.0, such as escape analysis and reference count as alternative GC.

[2016-11-26 02:23] HaloFour commented on #15537
I believe that both of those suggestions would belong under [CoreCLR](https://github.com/dotnet/coreclr).  The C# compiler has no ability to replace the garbage collector nor to allocate reference types onto the stack.

I think that you'd likely find C# 8.0 to be initially comprised of those items that slipped from the original C# 7.0 work list.  This would likely include further enhancements to p

[2016-11-26 02:40] HaloFour commented on #15536
Should such code even be legal?  I understand that the scope of the case bodies themselves are flattened and the local function would be in scope, but it doesn't seem like it should be permitted to invoke that local function from a different case scope referencing any introduced pattern or `out` variables due to those variables not being in scope nor assigned.

[2016-11-26 02:48] HaloFour opened #15538 "Proposal: Ternary Operator Scoping"
I propose that if an identifier is introduced within the body of an expression used with the ternary conditional operator (`?:`) that the scope of said identifier should be narrow.  Specifically said identifiers would only be accessible within the `first_expression` and `second_expression` expressions.

I give the following non-exhaustive list of reasons as to why I think that this is reasonable:

[2016-11-26 02:49] HaloFour commented on #15538
@alrz @CyrusNajmabadi @DavidArno @Andrew-Hanlon @gafter @sharwell @eyalsk

[2016-11-26 03:59] #15537 closed

[2016-11-26 06:06] alrz commented on #15538
I think the issue is not specific to the ternary operator, otherwise you could "ditch" `if` scoping with a ternary:
[code]
I think it belongs to variable declarations and `return` (maybe others?),
[code]
and I'm not even using a ternary operator here.

[2016-11-26 07:04] alrz commented on #15536
Looks like Duff's device. `</sarcasm>`

[2016-11-26 08:01] alrz commented on #15529
Thanks to @HaloFour, we have it here now: #15538.

Back to the subject, what about `do while`,
[code]

[2016-11-26 08:31] alrz opened #15539 "Proposal: Disallow e is null and other constant patterns"
`e is null` is a good way for reference null check instead of `(object)e == null` but it does not work with non-constant expressions e.g. `e1 is e2`. I think multiple ways of doing the same thing would be (1) confusing for beginners and (2) it would cause yet another inconsistency all over the code base i.e. there should be a code style option to prefer one over the other.  I'd rather have a dedic

[2016-11-26 08:36] CyrusNajmabadi commented on #15538
One concern i have is how this interacts with declaration expressions.  As expressions can be nested, and because you're now proposing a scope be at an expression level, it feels like people could end up with confusing interactions.  For example:

[code]

--

Another concern is with this statement:

Just because something is not definitely assigned does not make it unusable.  People would be free

[2016-11-26 08:42] alrz commented on #15538
@CyrusNajmabadi As you can see in my previous comment, this is not specific to the ternary operator (expression context). I propose narrow scoping for pattern variables in all statements except for `if` which per your example, is an exception.

[2016-11-26 09:29] qwertie commented on #11324
I'll respond to @jnm2 first because it's easier :)

Me too. The D language has a lot of great features, but the way some of them work makes me wince a little. Like when you do compile-time codegen, it has to be done by generating strings of source code and I very much disliked that design. In EC#/LeMP you only deal with syntax trees; you can do some custom syntax with "token literals" which are tr

[2016-11-26 10:10] qwertie commented on #11324
What do you have in mind?

Well, in most cases, hiding it from IntelliSense might be sufficient. But if the macro (or other language extension) makes a lot of changes, losing visibility of those changes would be annoying. If it's open source, they could submit optimizations or fork the code. If it's both complex and closed source (and I'd be wary of using closed-source macros), they could write th

[2016-11-26 11:44] svick commented on #15537
There is already [a list of features currently planned for C# 8.0](https://github.com/dotnet/roslyn/blob/master/docs/Language%20Feature%20Status.md#c-70-and-vb-15--1).

[2016-11-26 12:30] aelij commented on #2020
Slightly related to this issue - I've been using the `CodeFixService` class in RoslynPad and it works great (thanks to IVT ;). Lately I've decided to remove the `EditorFeatures` assembly to make the code more platform-agnostic, so I had to copy the entire class.

Can I submit a PR to move it to the `Features` assembly? It's one of the only types in `EditorFeatures` that's not in the `Microsoft.Cod

[2016-11-26 16:07] HaloFour commented on #15538
@CyrusNajmabadi

This is possible.  I saw the condition expression as the best place to start as I see that as being the least likely place to intend to introduce a new variable into the wider scope.  I'm more than happy to explore different options.

Indeed not.  At least with `if` statements the block used as the embedded statement can manually assign the variable.  That's not the case with the

[2016-11-26 16:11] HaloFour commented on #15529
The do/while loop is an oddball here.  Any variables introduced couldn't be read anywhere else, neither within the loop block (use before declaration) nor afterwards (not definitely assigned).  I'd concur that if `out` declarations or pattern variables are permitted here that their scope not leak beyond the condition expression.  Or pull a C++ and not allow variables to be introduced there at all.

[2016-11-26 16:42] alrz commented on #15538
@HaloFour out parameters have nothing to do with "failure", TryX is just a usage pattern as long as the compiler concerned. On the other hand, the is operator is all about failure and the compiler can reason about it, hence the definite assignment error. So it totally makes sense to maintain a narrow scope around its validity. The use case @CyrusNajmabadi mentioned is specific to if statements and

[2016-11-26 17:21] HaloFour commented on #15538
@alrz

I'd agree.  So would @CyrusNajmabadi it would seem.  But it sounds like the LDM decided the two would behave identically.

I've also made the "definitely not assigned" argument multiple times to no avail.

[2016-11-26 17:43] svick commented on #15529
@HaloFour

I'm not advocating one way or the other about what the scope should be, but variables assigned (and in C# 7.0, introduced) in the condition of a `do`-`while` loop *can* be definitely assigned. Consider this C# 6.0 code:

[code]

This is perfectly valid code and `i` is definitely assigned after the loop, so it's okay to print its value. So if the scope of a variable declared in the condi

[2016-11-26 18:34] HaloFour commented on #15529
@svick

Ah, yeah, you're right.  Still would be odd to try to use the variable within the block both due to definite assignment and the fact that the declaration follows the block.

[2016-11-26 18:38] alrz commented on #15538
![cyh8rpnwqaa-nvm](https://cloud.githubusercontent.com/assets/3105979/20642468/d965fa1e-b424-11e6-818a-7ce4208c8ba9.jpg)

[2016-11-26 19:24] CyrusNajmabadi commented on #15538
I was just using 'if' as an example of how something not-definite-assigned could still be usable.

The same is true of patterns.  Someone may do a pattern test that leaves the value not-definitely assigned.  However, they may still end up definitely assigning it, making is usable.  Hence why i take issue with:

The first part of the sentence is correct (the variable would not be definitely assigne

[2016-11-26 19:25] CyrusNajmabadi commented on #2020
Sure!

[2016-11-26 20:52] ViIvanov commented on #15539
`e is null` can not be used for reference comparisons because it uses the `Object::Equals(object, object)` [sample](http://tryroslyn.azurewebsites.net/#b:master/f:r/K4Zwlgdg5gBAygTxAFwKYFsDcAoADsAIwBswBjGUogQxBBgGEYBvbGGFK5MmAge16IwAsgAoUAJ0ixUAShgBeAHwxUMMHQjAiRHAF8gA)

[2016-11-26 20:58] alrz commented on #15539
Currently all constant patterns generate that call. It's just not optimizwd yet. See #13247.

I'd argue that it should be disallowed entirely.

[2016-11-26 23:03] ViIvanov commented on #15539
Thanks, nice catch.

[2016-11-26 23:15] ViIvanov commented on #8409
I think the code
[code]
usually can be replaced to
[code]
or just
[code]
and this is simpler and looks better for me than new operator.

In cases when I need comparing object references (not rarely!) I use `ReferenceEquals(x, y)` and it great in my view.
I think It simple to mix up `===` and `==` in code review and debugging.

[2016-11-27 00:59] SLaks opened #15542 "E&C: Using a lambda-captured variable in an async method throws NRE at runtime & debugger"
**Version Used**: 2017 RC

[code]

Set a breakpoint on the `return` statement, then paste `x = x;`.

Continuing execution will throw the following exception on the first call only:
[code]

In addition, the `x` parameter will throw an NRE in the Locals window on all subsequent calls until the debugger is restarted.

[2016-11-27 01:00] SLaks commented on #15542
If you use `x` directly before the breakpoint, you'll get a simple NRE from `MoveNext` at runtime instead.

Specifically,
[code]

Set a breakpoint on the first line and duplicate it.

[2016-11-27 02:02] gafter commented on #8409
In C# 7, if you're just checking for null, you'll be able to write

[code]

[2016-11-27 02:48] qwertie commented on #11324
Let's see, here are some macros in LeMP that might work the way you're thinking:

- `namespace Foo;`: all it does is wrap the file in a namespace decl. The macro itself is fast, but I guess it could disrupt any 'incremental updating' that Roslyn does. Since I'm not familiar with Roslyn's incremental update process, I didn't think about this at first.
- `#useSequenceExpressions` - EC# supports arbi

[2016-11-27 02:52] CyrusNajmabadi commented on #11324
Anything that introduces a top level declaration.  It will mean reanalysis of everything in that compilation and any downstream compilations.

This doesn't actually solve the problem.  Indeed, it just makes the user think that something is broken.

This is a lot of presumptions.  Even if it's their *own* code, they might be unable to optimize things in the manner you're specifying.  We have to con

[2016-11-27 02:55] CyrusNajmabadi commented on #11324
That means the semantics of *everything* in that file change.  It means the semantics of everything in that *compilation* need reanalysis.  It means every downstream project needs reanalysis :)

I'm confused.  You mentioned that your system added no new syntax.  But this is new syntax that you're saying is a LeMP macro.  I'm not sure how to reconcile this.

If this is new syntax, that's very probl

[2016-11-27 02:56] CyrusNajmabadi commented on #11324
This is, by definition, not a local effect...  If a file can be reinterpreted, then that can effect that compilation and all downstream compilations.

[2016-11-27 02:59] qwertie commented on #11324
Huh? Macros are easy. In many languages you can write one in a couple of lines of code. Even the EC# and Nemerle models where you have to create a separate assembly to hold your macros - one might argue that the added difficulty is a good thing since macros should be considered a last-resort solution when other mechanisms won't solve a given problem.

Right, but it's a known quantity and the work

[2016-11-27 03:00] CyrusNajmabadi commented on #11324
Yes, it should.  But how do you verify that it actually has?  Let's use the simple example you mentioned (Withers).  If we have the following code:

[code]

If the user renames 'Left', then 'WithLeft' needs to update.  Otherwise, their code will be broken post-rename.

[2016-11-27 03:01] CyrusNajmabadi commented on #11324
Clearly not.  As i mentioned, a whole host of areas become majorly problematic.  Again, cases like:  Debugging, Navigation, Refactoring.

[2016-11-27 03:07] CyrusNajmabadi commented on #11324
HOw can it be a known quantity?  We have no idea what the macro will produce.

Roslyn is designed to deal with precisely the cases we know about for C#.  Indeed, Roslyn was designed, at every level, to deal with the problem space given the constraints of the language.  We take great advantage of our knowledge of waht can/can't happen in the language.  Macros through most (if not all) of our optimi

[2016-11-27 03:10] jnm2 commented on #8409
I think I prefer `ReferenceEquals(a, b)` to `===`. I use `ReferenceEquals` not infrequently and I think the code reads very clearly this way. If typing is the issue, a code snippet could help.

I just don't want to be forever squinting at `==` and `===` and second guessing. Or want C# to feel like JavaScript. 😆

[2016-11-27 04:17] CyrusNajmabadi commented on #13639
Dupe of https://github.com/dotnet/roslyn/issues/13838

[2016-11-27 04:17] #13639 closed

[2016-11-27 04:40] qwertie commented on #11324
Yes, but we know _where_ a macro produces its output: right in the same spot. So processing a change to `using System(.Collections, .Text, .Linq)` has no more complexity than if the user selected the line and pasted in

	using System.Collections;
	using System.Text;
	using System.Linq;

Hold on. If you restrict your view to EC#-style lexical macros (as I have been doing implicitly, as I haven't th

[2016-11-27 04:44] CyrusNajmabadi commented on #11324
Could you break down *simply* the following:

Do macros add new syntax or not?  If they don't add new syntax, can you give a very simple explanation of what the grammar of your macros are?

Finally, can you state *specifically* what limitations there are on what macros can use as input to their work, and exactly what they can produce as the results of their operation?

[2016-11-27 04:47] CyrusNajmabadi commented on #11324
I would be very loathe to add such a feature with such a limitation.  It goes against a core principle we have in terms of what the user experience should be for our language.

If we did a feature like this it would be precisely because we would want the entire experience around it to be great.  And that means that it should work great *at a minimum* for the scenarios like Debugging, Navigation, R

[2016-11-27 06:23] qwertie commented on #11324
They do not. Was my previous answer on that topic helpful?

EC# macros take the Lisp concept of macros and apply it to C#. So, the macro processor proceeds independently on each source file, top-to-bottom and outside-in (I think more parallelism could be squeezed out some of the time, but conceptually it's top-to-bottom, outside-in.) Each macro invocation is replaced with its result; so typically

[2016-11-27 06:27] CyrusNajmabadi commented on #11324
What is your syntax for macros?

[2016-11-27 07:12] alrz commented on #8409
@gafter If that's the indented usage. I think there is no room for this proposal. Nobody wants three ways of doing the same thing. Perhaps we could just produce warnings on invalid usage of ReferenceEquals e.g. with value types.

[2016-11-27 07:31] alrz commented on #15539
Closing per https://github.com/dotnet/roslyn/issues/8409#issuecomment-263097610 as it's the intended usage and probably #8409 would be a non-issue.

[2016-11-27 07:32] qwertie commented on #11324
(Sorry for taking so long - I hit a couple of bugs in LeMP while writing this.)

While certainly we could envision a macro _specifically_ designed to implement `INotifyPropertyChanged`, I think it would be slightly niftier to show how EC#'s `replace` macro can do the job. We start with something like this and would like to factor out the repetitive code, namely `ChangeProperty<T>` (potentially rep

[2016-11-27 08:49] aluanhaddad opened #15545 "Incorrect errors reported, and broken intellisense for heavily overloaded method"
**Version Used**:
Visual C# 2017 RC
**Steps to Reproduce**:

_I am sorry if this is a duplicate but I didn't find anything that seemed to match it._

I have an API that exposes a method with 38 distinct overloads each varying by taking a generic delegate with a different number of type parameters (all of the `System.Func` and `System.Action` delegates taking more than a single argument and a few e

[2016-11-27 09:06] CyrusNajmabadi commented on #11324
I'm trying to wrap my head around what the actual syntax for your macros are.  How does the parser find them?  What does it do with them?   In the code you presented, you have:

[code]

So presumably a macro usage is, what:

[code]

?

If that's the case, how does the parser know what it can parse within the braces?

I still don't see how debugging, navigation, refactoring, etc, work with any of t

[2016-11-27 09:08] CyrusNajmabadi commented on #11324
Also, you've given an example of your macros for declaration level constructs, can you show it for statement/expression level constructs.  For example, you mentioned:

Can you show how you did that?

[2016-11-27 09:15] CyrusNajmabadi commented on #15545
This looks almost identical to: https://github.com/dotnet/roslyn/issues/14981

A similar parsing issue with lambdas.  And it only shows up some of the time.

Pinging @OmarTawfik about this.

[2016-11-27 09:28] qwertie commented on #11324
Sorry if I wasn't clear. In my system, syntax is completely orthogonal to the macro system; the parser knows nothing about macros, and the macro processor knows nothing about syntax (in fact, it knows nothing about C#).

The parser produces a programming-language-independent tree called a [Loyc tree](http://loyc.net/loyc-trees/), and the macro processor is looking at the target of every "call" in

[2016-11-27 09:40] aluanhaddad commented on #15545
@CyrusNajmabadi thank you for the prompt reply. I guess my search for existing issues was not as thorough as I had thought. As you say

[2016-11-27 10:02] qwertie commented on #11324
Once you understand the orthogonality of macros to the programming language in which they are used, you can see that there is no difference between declaration-level macros, statement-level macros and expression-level macros.

Supporting "out variables in-situ" was very hard to do, by the way, because C# doesn't let you write sequences like `int x; int.Parse(s, out x)` _as an expression_.

Therefo