[2015-05-05 17:36] cryptan commented on #206
One of the advantages of discriminated unions over code like this:
[code]
is that it is more comvinient to work with generics. If you want make your type generic you would end up with code like this:
[code]
In contrast, using discriminated union you would write something like this:
[code]
which is better I think.

Maybe I'm missing something here, I'm not following C# development very closely.

[2015-05-05 17:58] #878 closed

[2015-05-05 18:02] mjsabby commented on #2477
@sawilde - I tried a small app locally and am unable to reproduce the difference in IL being given to the runtime.

You have correctly observed (and it is by design) that Roslyn produces different IL than you may be used to (and different between debug and release).

[2015-05-05 18:28] jmarolf commented on #2518
This repros in RC, but is fixed in builds after RC.  This is the code that is generated:

[code]

I'll reply back here when there is a public build with this fix.

[2015-05-05 18:28] #2518 closed

[2015-05-05 18:28] adamralph commented on #2136
Excuse my ignorance, but what is INPC?

[2015-05-05 18:31] #1710 closed

[2015-05-05 18:32] mcintyre321 commented on #2136
INotifyPropertyChanged - I guess it's talking about an automatic implementation a la ES6 Object.Observe

I personally would love this (especially recursive INPC) for doing object diffing of viewmodels and change tracking for reactive server side views and stuff.

[2015-05-05 18:39] KakCAT commented on #2487
Hello,

I'm the original bug reporter. I decided to create a self explaining CS file to ease the bug hunt:

http://online.ru-zero.com/files/test.cs

 Thanks!

[2015-05-05 18:40] bkoelman commented on #2369
@sharwell Correct me if I've missed something, but the StyleCop source seems to contain checks based on comment and filename (`HasAutoGeneratedComment()` and `IsGeneratedFileName()` in https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/d10db47a8777dc882ef196d78692a1ece67bbb1d/StyleCop.Analyzers/StyleCop.Analyzers/GeneratedCodeAnalysisExtensions.cs.

Furthermore, I see a unittest that verifi

[2015-05-05 18:48] heejaechang commented on #1710
Sorry that I am replying to one already checked in. but can we make ID property to return object rather than string? Also, is filename good enough ID for such generic class (AnalyzerFileReference)? Anything that has same filename will now get de-duped.

-          heejae

From: Tom Meschter [mailto:notifications@github.com]
Sent: Tuesday, May 5, 2015 11:32 AM
To: dotnet/roslyn
Cc: HeeJae Chang
Sub

[2015-05-05 18:56] djohnst10 opened #2524 "'Open Active Rule Set' doesn't work for existing project"
I have a fairly large existing Visual Studio solution with around 58 projects where, when I open the solution in VS 2015 Enterprise RC, I can't open the active rule set from either the project's Code Analysis property page or the context menu on the Analyzers node in the project's references.

The Code Analysis property page will return an error message when you click the Open button beside the Ru

[2015-05-05 19:28] #2440 closed

[2015-05-05 19:29] adamralph commented on #2136
@mcintyre321 thanks. Never used it :stuck_out_tongue:

[2015-05-05 19:31] svick commented on #2206
@gafter What about either improving `Activator` or using a custom code with similar functionality? I think a design that would solve the overload resolution issue would be to encode the types using a delegate type parameter, e.g. (using @Whiteknight's example):

[code]

[My quick attempt at implementing it](https://gist.github.com/svick/ebf10598a61a40548325) using `Expression.Compile()` or `Dynami

[2015-05-05 19:40] amcasey opened #2525 "Breakpoint doesn't bind in store app"
Windows 8.1 (hub) store app, ```Windows.UI.Xaml.Application.Start```.  I also tried with the parameter type.  I can invoke the method in the Immediate window, so I don't think it's an ambiguity issue.

[2015-05-05 20:01] RevensofT commented on #2517
It work like a charm; Thanks VSadov, I already forgot about it.

[2015-05-05 20:01] #2517 closed

[2015-05-05 20:39] amcasey commented on #2525
Looks like the method is actually native, which would explain the C# behavior.  I'll file a debugger bug about not being able to bind it as C++.

[2015-05-05 20:39] #2525 closed

[2015-05-05 20:40] amcasey commented on #1754
Fixed by 81665e4dedc4d6

[2015-05-05 20:40] #1754 closed

[2015-05-05 20:45] basoundr commented on #2487
Thanks @KakCAT. Thank you for the feedback. We will be addressing the issue soon.

[2015-05-05 20:46] HaloFour commented on #2402
The problem with adding constructors to interfaces is that constructors are not virtual, and that constructors are not derived from the base class.  That would make it possible for a derived class to break the contract of the interface by simply being defined, which is not otherwise possible.

I think that having constructor constraints for generics is very useful, but I don't think that interface

[2015-05-05 20:53] heejaechang commented on #2512
@sharwell @mavasani ah, yes this is a bug. Hidden doesn't run for closed file since it has no meaning (there is no visible representation for the diagnostics and code fix only works for opened file).

but, it checking default severity not effective severity is a bug. I will assign the bug to me and fix it.

[2015-05-05 21:05] #1512 closed

[2015-05-05 21:06] shyamnamboodiripad commented on #1512
@mavasani Could you please verify this?

[2015-05-05 21:22] dpoeschl opened #2530 "Remove "Brace Matching" color and reuse "Brace Matching (Highlight/Rectangle)""
In https://github.com/dotnet/roslyn/pull/2520, we added a "Brace Matching" color to work around an editor bug that prevents us from reusing the "Brace Matching (Highlight)" and "Brace Matching (Rectangle)" colors.

This is problematic because now there are even more BraceMatching-related settings in Fonts & Colors and it's unclear which ones work when. Ideally we'd get rid of this new "Brace Match

[2015-05-05 21:22] dpoeschl commented on #2530
/cc: @jasonmalinowski @Pilchie

[2015-05-05 21:51] sawilde commented on #2477
I am probably missing something obvious at the moment but now at least I have something to concentrate on.

What I don't get is why it is rewriting an assembly - what is the purpose of doing something like this

(from ILSPY)

    IL_0022: stfld int32 class Nito.Collections.Deque`1<!T>::_offset
    IL_0027: ret

becoming (dumped from profiler so not as elegantly printed)

    IL_0024 stfld 0A00003B

[2015-05-05 22:02] simonegli8 opened #2532 "Better alternatives to MSIL and JIT?"
I don't know how old MSIL is, but aren't there better alternatives to it, like compressed syntax trees? Has Microsoft done any research on it? And as for JIT, has your team tried trace tree compilation?
I'd suggest you connect with Michael Franz from UIC Irvine, he pioneered a compressed syntax tree compiler two years before Java came up, and has done a lot of research also on trace tree compilati

[2015-05-05 22:09] gafter opened #2533 "Breaking change in C# overload resolution with params parameter"
Reported at https://twitter.com/eamodio/status/594144835130503168

The following program compiled on previous versions of Visual Studio, but fails when compiled with Roslyn-powered VS2015.

[code]

[2015-05-05 22:18] gafter commented on #2532
@simonegli8 Can you please submit a pull request that uses that approach so we'll better understand it? ;)

Joking. Seriously, Roslyn has little to do with the runtime environment. The compilers read a program that complies with the C# (or VB) language specification and produces an assembly according to the Common Language Infrastructure specification. It might be valuable to consider an alternati

[2015-05-05 22:27] rchande opened #2535 "Brace completion doesn't work in attributes"
[WorkItem$$]
class foo{}

Typing open paren at the caret doesn't insert a close paren.

[2015-05-05 22:29] Pilchie commented on #2535
We never complete if there is text on the same line that is not part of a brace completion session.

[2015-05-05 22:30] #2535 closed

[2015-05-05 22:32] shyamnamboodiripad commented on #1587
@jmarolf Could you please verify?

[2015-05-05 22:55] paulomorgado commented on #2402
Static factory methods (or even constructors) in interfaces might seem like a good idea.

But would that work for types implementing multiple interfaces?

I guess the implementation of the factory methods would have to account for the different factory implementations.

[2015-05-05 23:11] bkoelman commented on #2496
@AArnott I have seen many of those when I was working on #2296. You don't need an analyzer to find them. Just do a text-based search on the filesystem for `new argumentexception("`. Today it matches 86 files, wouldn't take long to go over them by hand. We'll get even better results using a tool that can filter on a regex. For example, I used this in [Total Commander](http://www.ghisler.com/): `new

[2015-05-05 23:17] #2480 closed

[2015-05-05 23:30] mjsabby commented on #2532
@simonegli8 http://github.com/dotnet/llilc for an AOT compiler based on LLVM.

[2015-05-05 23:59] #365 closed

[2015-05-06 00:02] #2380 closed

[2015-05-06 00:17] tmat opened #2543 "Assertion failure in Microsoft.CodeAnalysis.VisualBasic.Binder.BindFieldInitializer"
Seems like a recent regression.

Repro: Enable tests

[code]

[2015-05-06 00:34] wschae commented on #1853
@rchande Two of failures have been fixed by #2541. For the last one, can you take a look and assign back to @AlexkseyTs when done?

[2015-05-06 00:47] tmat opened #2544 "FAR, GTD broken for inaccessible symbol"
### Simplified repro added by @brettfo:
Find all references fails to find the inaccessible method D.M() when there are overloads.  Commenting out one of them, e.g., `//private void M(double d) { }` allows it to find the symbol.  This same scenario works in VB.

[code]

Part of the issue appears to be that the call to [`model.GetSymbolInfoWorker()`](https://github.com/dotnet/roslyn/blob/master/src/

[2015-05-06 00:48] tmat commented on #2544
Repro: %internal_share%\public\tomat\Bugs\2544\Repro.zip
1) Unzip (contains Roslyn.sln with some changes).
2) Open src\Tools\Source\MetadataVisualizer\Program.cs
3) Go to line 203:
[code]

Literal is not accessible, but I should be able to go to its definition.

[2015-05-06 01:28] jaredpar commented on #2202
@jakeswenson what version of .Net are you currently using that is about to be upgrade?

[2015-05-06 01:28] jaredpar commented on #2202
@VSadov does this ring a bell.

[2015-05-06 01:30] #749 closed

[2015-05-06 01:41] tmat opened #2545 "IP can't be moved to the constructor initializer in presence of a closure"
Repro:

[code]

Actual:

[code]

Expected:
The IP is set to [|base(a => z)|]

[2015-05-06 01:49] tmat opened #2546 "The debugger asks the user to "Resolve ambiguity" even if there is none"
Repro:

[code]

Actual:
![image](https://cloud.githubusercontent.com/assets/41759/7486221/cedf351e-f356-11e4-8250-40fe177cad9c.png)

Expected:
The "drag & drop" operation shows the exact position in the file while dragging. So unless I set the position to the lambda body the debugger should not consider moving the IP there.

[2015-05-06 03:51] balajikris commented on #2079
It no longer throws the exception dialog, but doesn't find references either.

[2015-05-06 04:33] KevinH-MS opened #2547 "Results View does not work in Windows 10 Universal Apps"
![capture](https://cloud.githubusercontent.com/assets/6464209/7487528/2d82cd76-f36e-11e4-9eda-182abe8dae47.PNG)

[2015-05-06 04:44] Grauenwolf commented on #119
If you want fail fast, just don't catch the exception. It will bubble up to the top and crash the process for you. There is no need to put a huge burden on everyone else for what you get for free.

[2015-05-06 04:48] Grauenwolf commented on #119
Running each unit test in its own process is... well to put it bluntly just plain stupid. Even if we could convince all of the unit test runners to change to that model the performance penalty would be ridiculous.

How long does it take to start a new process vs execute a single function call? 100 times? 1,000 times? Even if we say it is only one order of magnitude that means my 2 minute test run

[2015-05-06 04:55] Grauenwolf commented on #119
I don't believe you.

Unless you are using VB with On Error Resume Next or mindlessly wrapping every line in a try-catch block, there is no way for the program to continue to execute in an unpredictable fashion.

Assuming that you don't screw up the error logging, null reference exceptions are the easiest bug to track down. You know exactly what line the error occurred on so it is just a matter of

[2015-05-06 10:19] amironov commented on #133
The proposal also solves the problem of [object initializers in `using (IDisposable)` statement]
(http://ayende.com/blog/3810/avoid-object-initializers-the-using-statement).

Syntax can be similar to the existing (compare `x = {...}` and `C = {...}`):

[code]

[2015-05-06 11:12] Inspyro opened #2548 "Make DecodeAttributeUsageAttribute() public"
Hi,
We need to read the _AttributeUsageInfo_ from the  _AttributeData_ , in the roslyn source code i found the static method:
_static internal AttributeUsageInfo DecodeAttributeUsageAttribute()_
which apparently does exactly what we want.

**Could you make this method (and class) public**? Or a way to check wether an attributedata is applicable to a certain symbol (Property, Class)

[2015-05-06 12:10] bradphelan opened #2549 "[BUG] Roslyn outputs incorrect IL according to PEVERIFY for this test case"
The following class when compiled with VS2015rc generates bad IL according to PEVERIFY

	    public class BadBaby
	    {
	        IEnumerable<bool> Children;

	        public IEnumerable<object> Foo<TArtifact>()
	        {

	            return Enumerable
	                    .Empty<bool>()
	                    .Select(_ => Children
	                        .OfType<TArtifact>()

[2015-05-06 12:38] xunilrj opened #2550 "[Discussion] Axum and/or Dataflows/Workflows"
(I known that I am grouping different things. It is just a brainstorming because I have searched some keywords and found nothing)

Axum seemed like a promising language. Unfortunately it died. Microsoft TPL Dataflow is sure a great framework. NEsper also have a DSL for dataflow, but I am thinking...

... does anyone sees anything in Axum, TDF or Nesper dataflow that would be great if have some kin

[2015-05-06 13:15] simonegli8 commented on #2532
I'm not interested in an AOT compiler. I'm interested in something that is portable but still has performance close to AOT with minimal compiled file size (what also contributes to faster dll load times) and minimal JIT time.

[2015-05-06 13:29] simonegli8 commented on #2532
I mean some peace of really good engineering, not just stupid IL with JIT as we have seen it for the last 20 years.
One technique, researched by Michael Franz, is to take the syntax tree, and store it in an efficient compressed format. This way you can do AOT with still portable files very easy, as all semantic information is still available to the JIT. And with trace tree compilation, you can mak

[2015-05-06 13:37] simonegli8 commented on #2532
I wouldn't mind creating a fork and trying to implement something like this, but even if I tried I wouldn't have the experience of Michael Franz. Let the people do this job that realy know their field. Apart from that, I've quit the religion of computers and work now in a retirement home.

[2015-05-06 14:17] jaredpar commented on #119
@Grauenwolf

The existence of the NRE means the program is executing in a fashion not intended by the programmer.  Unless of course they wrote a method with the explicit intent of "hey I'm going to throw NREs here by design".  In that case sure the program is executing as designed.  But I've never come across such a method.

This is arguing against a point I never made.  My argument is about wheth

[2015-05-06 14:20] svick commented on #2550
One point to note is that both manipulating collections and querying SQL databases are *extremely* common operations, so improving those even by a little bit results in a huge gain overall. On the other hand, dataflow programming is much rarer, so I don't think having some language support specifically for that would be worth it.

(Personally, I would be interested in seeing some support for custo

[2015-05-06 15:08] gafter commented on #2532
@simonegli8 Java's *hotspot* runtime works somewhat as you describe. There is a fast compiler the first time the code is run, but if the code is used frequently an optimizing compiler recompiles it.

[2015-05-06 15:29] jakeswenson commented on #2202
@jaredpar let me find that out for you.

[2015-05-06 15:36] jaredpar opened #2551 "The parser should have caps on the BlendedNode[] pool"
Context:

The parser caches `BlendedNode[]` allocations using our standard object pools.  This particular array is used for operations like look ahead in the parser.  The array is dynamically grown on demand to accommodate the desired look ahead length.

When the source file contains bad code this array can get incredibly large.  One such internal bug report sees the array at 2 ^ 24 elements.  In

[2015-05-06 15:52] jakeswenson commented on #2202
@jaredpar clrver says:

csc (from the installed framework) returns

so my guess is that it's vanilla 4.5

There was supposedly a fix for this in immutable collections (see linked items i mentioned) but i'm guessing that didn't make it into the rc2 package?

[2015-05-06 15:59] tmeschter commented on #2495
@mavasani Right. The original problem is that we're not resolving the relative path to an analyzer into a full path, which causes `System.IO.FileSystemWatcher` to try and find the path relative to the current working directory. The working directory for vbcscompiler.exe will generally be the directory it resides in. So this code will still accidentally work when we build Roslyn (because we're pick

[2015-05-06 16:00] jaredpar commented on #2202
@jakeswenson that appears to be the case.  Even though the immutable collections fix was submitted in February we didn't sync up to it until just last month.

There were several internal integration issues that made it difficult to consume the newer version because of the API changes (most of which were authored by me :frowning: ). Newer drops of Microsoft.Net.Compilers will have the patched versi

[2015-05-06 16:00] #2202 closed

[2015-05-06 16:01] jakeswenson commented on #2202
@jaredpar sounds good. That means the nightlys will have it, right?

[2015-05-06 16:01] jaredpar commented on #2202
@jakeswenson yes.

[2015-05-06 16:06] rchande commented on #1853
@AlekseyTs I thought I fixed this with #2488. Had that been merged when you ran the tests?

[2015-05-06 16:09] svick commented on #2532
@simonegli8

One of the guiding principles of .Net is that it is a multi-language platform (C#, VB.NET, F#, Iron languages, …). How would you create a syntax tree that is language-neutral?

What kind of information is missing in IL?

I doubt that. IL is a much simpler language than C#, so I think optimizing it is also simpler.

---

But your second proposal (trace compilation) sounds potentially i

[2015-05-06 16:45] VSadov commented on #2202
yes it is a dupe of  #110
And yes nightlies should have newer Immutable.Collections which should not cause the problem.

[2015-05-06 16:56] alexsorokoletov commented on #1108
@jaredpar it was fresh azure vm with CTP5.

[2015-05-06 17:02] jaredpar commented on #1108
@alexsorokoletov thanks for the info.  My suspicion is that this was related to the CTP5 install.  We had a small number of suites that were behaving incorrectly on exactly the CTP5 drop but worked in the builds before and after it.  I did my vetting of this particular issue on both the public RC and some internal drops which came after.

I think at this point we should close the issue because it'

[2015-05-06 17:02] #1108 closed

[2015-05-06 17:03] jasonmalinowski commented on #282
According to telemetry, this is one of top crashes we're currently seeing in Visual Studio 2015 in Roslyn. I'm adding crash dump information in the internal bug mentioned in the original bug information.

[2015-05-06 17:12] Pilchie commented on #2079
In that case, I think we can ship 1.0 with this.  Defining aliases in project properties is pretty rare.

[2015-05-06 17:14] pnelsonmsft commented on #1407
@SLaks, I improved ability to inspect these Immutable collections.  You should see improvements in the next release of Visual Studio 2015.  However, there will always be cases where we can't read the value of a static field.  I'm open to suggestions for improving the error message in this case.

[2015-05-06 17:30] jaredpar commented on #2476
I think we should also consider moving many of our static fields to properties.

Lately I've been doing a bit of work moving our code to Mono.  One difference I've found is Mono is generally less tolerant of static initialization cycles than the CLR.  In many cases it will end with a statkc overflow where CLR will succeed.  Using our code on Mono in that case requires us to switch to a delayed ini

[2015-05-06 17:33] AlekseyTs commented on #1853
@rchande The run was done on Sunday. Please verify that your change addresses the problem before resolving the issue.

[2015-05-06 17:37] #1733 closed

[2015-05-06 17:38] AlekseyTs commented on #1733
@VSadov Please verify.

[2015-05-06 17:41] tmat commented on #2476
@jaredpar I agree.

[2015-05-06 17:41] AnthonyDGreen commented on #2476
Agreed. I believe the Fx guidelines on static read-only fields is to use properties instead. YAGNI, I know but it also gives us the flexibility to make static state lazy in the future if we need to.

Regards,

-ADG

Sent from my Windows Phone
________________________________
From: Jared Parsons<mailto:notifications@github.com>
Sent: ‎5/‎6/‎2015 10:30
To: dotnet/roslyn<mailto:roslyn@noreply.github.

[2015-05-06 17:46] amcasey opened #2554 "Missing rude edit: format in interpolated string"
I had this string ```$"= {hours:d2}:{minutes:d2}:{seconds:d2}.{millis:d4}"``` and I realized that the last segment should actually have three digits, so I changed ```d4``` to ```d3```.  However, the result of the expression didn't change, presumably because ```d4``` is effectively a string constant.

[2015-05-06 17:46] balajikris commented on #2079
Sounds good. I have an initial implementation with commit 754b242 but there are other considerations that i need to address - edgier cases, more tests and guarding against potential performance regressions (if it should be added to [FindReferenceCache](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/FindSymbols/FindReferences/FindReferenceCache.cs)

[2015-05-06 18:05] Pilchie commented on #2544
Find all references is expected, but Go to Definition should definitely work (so you can get there and change the accessibility).

[2015-05-06 18:09] Pilchie commented on #2511
With no internal first chance exception, I'm fine moving this to 1.1.  Given .NET naming guidelines, someone trying to name something get_X is unlikely.

[2015-05-06 18:11] dperelman opened #2556 "NullReferenceException only when run on Azure"
Note this applies to an old version of Roslyn, specifically v1.2.0.0, md5sums of the .dll files are listed below. Also, there's a good chance this is actually an Azure bug, not a Roslyn bug---especially given this started happening without any code changes---but it's hard to debug.

The short version is that parsing programs with `if` statements with empty bodies (e.g. `if(x==0);`) throws a `NullR

[2015-05-06 18:20] firda-cze commented on #155
Another solution exists for `this.type`: shadowing the true virtual method (creating a bit different name for it) and add one callable, that calls the virtual and returns the object. But you have to update it in every derived class :(

I was experimenting with it a bit and this code snippet (in *my* language)
[code]
will produce this:
[code]

but there is tricky part: calling the base implementati

[2015-05-06 18:30] SLaks commented on #2511
Note that these names are slightly more likely when implementing COM interfaces that have parameterized properties.

However, since COM doesn't support overloading, this particular conflict is still unlikely.

[2015-05-06 19:35] Vannevelj opened #2557 "Formatting a method with the formatter annotation indents it at the wrong level"
I have an analyzer and accompanying code fix that makes a method with a `[Test]`, `[TestMethod]` or `[Fact]` attribute `public`. When recreating the `Modifiers` list I end up with a badly indented method. In order to solve this I apply `Formatter.Annotation` to my method and call the formatter. This results in a formatted method but the method itself is indented a level too low: it's the same as c

[2015-05-06 20:11] ehasis opened #2560 "Wrong Cast is redundant with Option Strict On in VB"
In a VB.NET project with Option Strict On the following code with += operator trigger "Cast is redundant" but when apply the fix, the code became broken:
[code]
After the fix:
[code]
This happens with any data type requires explicit conversion.

[2015-05-06 20:53] Pilchie commented on #2461
Hey @carlos-j-quintero - can you let us know whether these are really compatibility issues?  From @basoundr's research, it looks like we threw the same exceptions in VS2013.  While I know it would be nice to fix them, I am concerned about making changes like that so close to the end of VS2015, without giving time for other extensions to test with the changes.

[2015-05-06 20:58] pharring commented on #2362
The fix for this is entirely in our Closed source project.

[2015-05-06 21:10] tmat commented on #2411
We are missing hidden sequence points.

[2015-05-06 21:16] mattwar commented on #282
With crash dumps I was able to narrow this down to an Encapsulate Field refactoring being offered on a field declaration outside of a class declaration.  In this case, it is in a namespace (not global) and so it is not even technically legal script code.  However, the compiler still parses it as a FieldDeclarationSyntax and it is still assigned a symbol.

Two problems:
1. We shouldn't be offering

[2015-05-06 21:23] gafter commented on #976
The compiler side is now fixed.

[2015-05-06 21:25] mattwar opened #2563 "LightBulb preview can cause VS crash from exceptions in providers"
This bug is related to #282

Code action previews can get invoked via alternate code path that is not guarded with the extension manager.

The SuggestAction.ActionSets property causes enumeration and execution of the preview actions, which can throw and cause VS to crash.

[2015-05-06 21:25] Pilchie commented on #976
Let's verify that this works and add a couple of tests for it.

[2015-05-06 21:27] Pilchie commented on #2563
tag @shyamnamboodiripad

[2015-05-06 21:41] pharring opened #2564 ""Paste (Cold) - VisualBasic" perf test is failing in nightly runs"
We've been seeing regular failures on the nightly 4-core and 6-core machines for "Paste (Cold) - VisualBasic".
Screenshot shows "An exception has been encountered. This may be caused by an extension.", but we don't have a first chance exception log.

[2015-05-06 21:52] brettfo commented on #2544
As an update, the problem is that we can't find a symbol when the method is private _and_ there are overloads.  E.g., a simplified repro below:

[code]

GoToDefinition will fail because there are two definitions of the method M(), but if one of the methods is commented out, e.g., `//private void M(double d) { }` then the navigation succeeds.  Also, this doesn't repro in VB; it's only a C# failure.

[2015-05-06 21:59] pharring commented on #1613
I have a change for this ready to go as soon as we move to a base VS drop that has the IComWrapperFactory.

[2015-05-06 22:00] Pilchie commented on #2544
Hmm, I repro'd this with a single private field as well.

[2015-05-06 22:01] pharring commented on #628
Closed with #1632

[2015-05-06 22:01] #628 closed

[2015-05-06 22:04] pharring commented on #670
The first visible signs of this work is likely to be reporting of current performance on the CoreCLR and CoreFX builds. We expect to have something public by the end of May.

[2015-05-06 22:14] mattwar commented on #1360
#2539 fixes the problem trying to read generated files that are temporarily inaccessible.

[2015-05-06 22:14] #1360 closed

[2015-05-06 22:23] shyamnamboodiripad commented on #2563
@mattwar This was certainly in an issue in RC. But I believe @jmarolf fixed this as part of his work to display 'info bar' for failing fixes and refactoring (i.e. all code paths should be guarded now)

Are you seeing this crash in post-RC builds or in the RoslynDev hive on our current base drop? Also is there a simple repro that will cause the crash that I can debug?

[2015-05-06 22:25] mattwar commented on #2563
Yes, it was failing for me with dogfood from two days ago.  And I can show you the code path in the current sources that is unguarded, so I think it is still there.

From: Shyam N [mailto:notifications@github.com]
Sent: Wednesday, May 6, 2015 3:24 PM
To: dotnet/roslyn
Cc: Matt Warren
Subject: Re: [roslyn] LightBulb preview can cause VS crash from exceptions in providers (#2563)

@mattwar<https://g

[2015-05-06 22:28] mattwar commented on #2563
@shyamnamboodiripad

The repro is to create a C# project.

namespace X
{
   var string Y = "..";
}

select Y and CTRL-dot to bring up lightbulb.  You should crash momentarily.

[2015-05-06 22:29] shyamnamboodiripad commented on #2563
Thanks @mattwar! I will take a look.

[2015-05-06 23:17] mattwar opened #2567 "Await in catch causing Assert in Async rewriter"
The Assert fired at line 140 of AsyncExceptionHandlerRewriter, which is:
Debug.Assert(tryStatementSyntax.IsKind(SyntaxKind.TryStatement));

There is an assumption here that the syntax node associated with the bound try node is a TryStatementSytnax, but in this case it is a UsingSyntax.

This simpler repro will cause it to fail:

[code]

[2015-05-06 23:21] tmat commented on #2567
The assertion is correct and required by EnC. The code that creates the bound node is wrong.

[2015-05-06 23:23] dpaoliello opened #2569 "DirectiveTriviaSyntax.GetRelatedDirectives assumes there can only be one #elif"
DirectiveTriviaSyntax.GetRelatedDirectives() appears to only be picking up one #elif directives if the code contains multiple #elif directives.

Repro Code:
[code]

Expected Output:
[code]

Actual Output:
[code]

The root cause of the error appears to be in GetNextRelatedDirective() and GetPreviousRelatedDirective() which assume that a #elif directive cannot be related to another #elif directive:

[2015-05-06 23:24] tmat commented on #2567
I guess the BoundTryStatement that this fails for is the try-finally created for Using Statement.
If that's the case it is safe to modify the assertion to allow UsingStatement.

Debug.Assert(tryStatementSyntax.IsKind(SyntaxKind.TryStatement) || tryStatementSyntax.IsKind(SyntaxKind.UsingStatement));

[2015-05-06 23:24] mattwar commented on #2567
@tmat, yes that's what is happening.

[2015-05-06 23:24] tmat commented on #2567
OK :)

[2015-05-06 23:46] brettfo commented on #2544
Re-assigning to compiler for triage.

[2015-05-07 00:09] pharring commented on #1981
This was proposed a [couple of times already](https://github.com/code-cracker/code-cracker/issues/151)

[2015-05-07 00:30] #939 closed

[2015-05-07 00:40] jaredpar opened #2572 "All block motion should consider count"
The all block motion today only works with the provided count is one.

This needs to be extended to support counts like all of the other text object motions.

[2015-05-07 00:41] khellang commented on #1981
:+1: on this optimization!

[2015-05-07 00:41] jaredpar commented on #2572
Wrong repo :(

[2015-05-07 00:41] #2572 closed

[2015-05-07 01:28] HaloFour commented on #2550
Smells like Rx and IQbservable maybe mixed with a little Cω (to make join patterns a little easier.)

[2015-05-07 02:25] shyamnamboodiripad commented on #2563
@mattwar if you disable the 'Roslyn Visual Studio Test Support' extension in the RoslynDev hive and run the above repro scenario, I believe you should see that the repro does not cause VS to crash. We correctly handle the exception and display a yellow info bar indicating to the user that we have disabled the fix for the current session. (At least this is what I see on my machine :))

![capture](h

[2015-05-07 02:39] heejaechang commented on #1360
:+1: ah, finally!

[2015-05-07 03:20] mattwar commented on #2563
I can verify that the code path that I thought was unprotected is indeed protected.  I may have been confusing the sources from RC which I was debugging through with the current sources.

[2015-05-07 05:21] shyamnamboodiripad commented on #2563
Great thanks much for confirming @mattwar! I will go ahead and close this issue as fixed (in post RC bits) with a reminder to myself to validate the above repro again once the above crash tracked by internal bug 1166482 is fixed.

[2015-05-07 05:21] #2563 closed

[2015-05-07 06:00] carlos-j-quintero commented on #2461
Hi @Pilchie @basoundr ,

On the one hand, these are not really compatibility issues because the GetStartPoint/GetEndPoint methods have been buggy since VS.NET 2002... Any add-in or package using them has to apply a lot of workarounds and patches on top of them to get the correct results, either because they are not implemented, or they cause COMException in some cases, or they return an incorrect

[2015-05-07 07:27] eggapauli commented on #2549
It seems that the invalid IL is in the anonymous delegate of the inner select statement (`Select(c => false)`). The error doesn't occur when you either don't capture `Children`, don't use `TArtifact` in the inner delegate or remove the inner select statement entirely.

[2015-05-07 08:12] twenzel opened #2574 "No code converter provided"
At the moment, there is no converter provided to convert VB.Net code (projects) to CSharp and vice versa.

Please provide such a tool.

[2015-05-07 09:57] LeeCampbell commented on #261
I am interested to see how you would see this work. I think the way you work with and AsyncEnum and the way you work with an IObservable sequence are quite different. The former you poll and pull from until complete and then you move on to the next statement.

    IAsyncEnumerable<int> sequence = CreateAsynEnumSeq();
    Output.WriteLine("Awaiting");
    await sequence.ForEachAsync(Output.WriteLin

[2015-05-07 10:04] Jes28 opened #2575 "Add key.ToString into ArgumentException message"
An element with the same key already exists in the dictionary.

This message says nothing when meet in log adding key to string into will fix this:

 An element with the same key: 56 already exists in the dictionary.
 An element with the same key: Bla already exists in the dictionary.
 An element with the same key: WhateverReturnsFromToString already exists in the dictionary.

[2015-05-07 10:12] dbolkensteyn opened #2576 "Memory leak in AnalyzerManager.Instance in the _descriptorCache field"
This issue relates to the following commit: https://github.com/dotnet/roslyn/commit/5279e7f7ef066092889d94e1710234ac5853d412#diff-00098a19b037d7ff59205a16189cecd3L50

The static instance `AnalyzerManager.Instance` keeps all `DiagnosticDescriptor` together with an `EventHandler` in a cache (in the field `descriptorCache`), until `ClearAnalyzerState` is called. `EventHandler` is referencing `CSharpC

[2015-05-07 12:37] HaloFour commented on #261
@LeeCampbell

To give you an idea, I already currently have an extension method for `IObservable<T>` called `GetAsyncEnumerator` which returns my own `IAsyncEnumerator<T>` implementation:

[code]

There are several overloads to `GetAsyncEnumerator` depending on if/how you want to buffer the observed values.  By default it creates an unbounded `ConcurrentQueue` into which the observed values are co

[2015-05-07 13:42] #2551 closed

[2015-05-07 14:03] bkoelman commented on #1947
Same problem with multi-line comment style.

[2015-05-07 14:36] Pilchie commented on #2575
This should be filed on the corefx repo.  Roslyn does not include the code for `ArgumentException`.

(Unless you are thinking about a particular location where we throw?)

[2015-05-07 14:36] #2575 closed

[2015-05-07 14:40] Pilchie commented on #2557
@mattwar can you take a look?

[2015-05-07 14:47] scalablecory commented on #261
Guys who are interested in IObservable support -- can you describe the benefit integrating this into the language would bring?

[2015-05-07 14:56] bkoelman opened #2577 "Formatting does not add whitespace between attribute and parameter"
In the code below, the resulting string does not contain a space between attribute and parameter. I would expect that a single space is added. Repro for VS2015 RC1.

[code]

[2015-05-07 15:12] HaloFour commented on #261
@scalablecory

1.  The interface is already in the BCL and has been since .NET 3.5.
1.  Rx already provides an amazing degree of support for working with `IObservable<T>` and marries the existing language concepts of asynchrony with LINQ beautifully.
1.  I think that "push" model asynchronous enumeration is very useful for a lot of scenarios, specifically when you need to dispatch a series of asyn

[2015-05-07 15:50] grbd opened #2578 "Installation of compiled source releases/VS2015RC onto Studio 2015 RC Fails"
Hi,
I've recently been interested in getting ide support for csx script files working with Visual Studio 2015 RC, for use with scriptcs (to get intellisense / auto complete etc), at the moment csx files are just seen as basic text files

From what I understand of the script API it was disabled for a while, then re-enabled but only within source within github, so I figured I'd have a go at rebuildi

[2015-05-07 16:12] BillyONeal opened #2579 "Intellisense suggests non-viable constructor call in delegating constructor"
Using VS2015 RC.

When autocompleting calls to `: this()` for delegating constructors, intellisense is suggesting that the constructor call itself:

![Intellisense Suggestion](https://cloud.githubusercontent.com/assets/1544943/7519822/7a27974a-f497-11e4-97a9-a9a0a5303239.png)

Intellisense should suggest only other constructors here.

[2015-05-07 16:22] jeremymeng opened #2580 "Provide API to retrieve exception diagnostics"
I am using CompilationWithAnalyzers.  Currently exception diagnostics is reported by GetAllDiagnosticsAsync(), along with all other diagnostics.  It would be nice to have an API to get exception diagnostics only.

[2015-05-07 17:01] rchande commented on #1853
Should be fixed, @AlekseyTs .

[2015-05-07 17:09] VSadov commented on #2532
Since this was reopened on the coreclr side as https://github.com/dotnet/coreclr/issues/938
I guess we can close it here.

[2015-05-07 17:09] #2532 closed

[2015-05-07 17:11] svick commented on #261
@HaloFour Just like you can currently decide whether to process `IEnumerable<T>` in series (`foreach`) or in parallel (`Parallel.ForEach()`), there could be a similar distinction for `IAsyncEnumerable<T>`; you don't need `IObservable<T>` for that.

[2015-05-07 17:19] tmeschter commented on #1544
Fixed by be5b71f24ef710d0c6321dc3e108f19aee1847f7, where `AnalyzerFileReference` was updated to take an `IAnalyzerAssemblyLoader` instead of a `Func<string, Assembly>`.

[2015-05-07 17:19] #1544 closed

[2015-05-07 17:31] scalablecory commented on #261
@HaloFour Let me rephrase my question.

Putting aside the "push" vs "pull" or "Rx" vs "IAsyncEnumerable" debate, for this proposal to gain weight, it needs to show solid benefits for *language integration*. These benefits have not yet been shown for the Rx side of things.

My two cents is that language integration wouldn't provide a significant benefit over Observable.Create. Its sole purpose woul

[2015-05-07 17:37] LeeCampbell commented on #261
Well put @scalablecory.

[2015-05-07 18:08] KevinH-MS opened #2582 "Unexpected "Break Mode" dialog after performing two or more EnC operations in VB UWP App"
1.  Create a new VB Windows Universal (Blank App)
2.  Set a breakpoint in App.OnLaunched:
![capture1](https://cloud.githubusercontent.com/assets/6464209/7522247/cfa5dea0-f4a8-11e4-9cc0-82d205780005.PNG)
3.  F5
4.  When breakpoint is hit, insert ```Dim x = { 1, 2, 3 }``` on the line above the breakpoint
5.  Drag IP to line you just added
6.  Insert new line after current line
7.  F10

**RESULTS**
!

[2015-05-07 18:08] basoundr commented on #2577
@Pilchie I checked this behavior with VS2013 and it was the same. Should we change this behavior? If so, we dont have any specific option which mentions spacing between the AttributeList and the parameter in a Method Declaration.

Suggestions:
1. we could take use the option "Spacing between parameters within Method Declaration" to determine the spacing decision here.
2. Introduce new option
3. Fo

[2015-05-07 18:10] HaloFour commented on #261
@scalablecory

Sorry if it comes across that I'm having a debate, or that it's a either/or proposition.  I don't think that "push" is better than "pull" or vice versa, only that there are use cases for both and that it would be nice to support multiple forms of "streams" within `async` methods.  I think that achieving feature parity with F# would also be a very good thing.

You're right.  I think

[2015-05-07 18:14] bkoelman opened #2583 "Formatting preserves excessive leading whitespace"
See code below. Repro for VS2015 RC1. Possibly related to #2577.

[code]

[2015-05-07 18:14] Pilchie commented on #2577
As this is the same as VS2013, we can ship 1.0 this way.  One thing to keep in mind when addressing is that if people rely on this, forcing it to obey an option will change people's code unecessarily.

[2015-05-07 18:16] Pilchie commented on #2577
Actually, pulling back into 1.0 for now - while the formatter shouldn't change existing code here, we should probably have elastic trivia rules to do something with generated code.

[2015-05-07 18:19] jmarolf commented on #2498
@mavasani Could you verify that this is fixed?

[2015-05-07 18:19] #2498 closed

[2015-05-07 18:23] #1873 closed

[2015-05-07 18:25] bkoelman commented on #2577
@basoundr basoundr How can this be the same in VS2013? From what I know, this is a new API. or did there exist something in VS2013 to annotate newly-inserted nodes to get them auto-formatted?

The same appears with indexer parameters. For a similar issue, see #2583.

[2015-05-07 18:51] wschae commented on #2582
Adding another repro step:
1. Create WPF app.
2. Run.
3. Break All.

[2015-05-07 19:08] scalablecory commented on #261
@HaloFour I believe you're mistaking EnumerableEx.Create for AsyncEnumerable.Create. There is nothing in Ix that provides "yield return" semantics for async sequence creation.

[2015-05-07 19:24] HaloFour commented on #261
@scalablecory You're right, I am thinking of `EnumerableEx`.  Doesn't seem like too far of a stretch to get an `AsyncEnumerable.Create` to work with pretty much the same syntax, though:

[code]

[2015-05-07 20:14] AArnott commented on #2496
@bkoelman The reason I suggested an analyzer is because it's not a bug to create new ArgumentExceptions and pass in strings. But it _is_ a bug if that string matches a parameter name of the containing method. An analyzer is in a good position to make such a determination.

[2015-05-07 20:28] Pilchie commented on #2461
Moving this bug out of 1.0, because of the risk of changing this so late in the cycle.

[2015-05-07 20:29] Pilchie commented on #857
Per @carlos-j-quintero comments in #2461, moving out of 1.0 for risk of breaking people who have already worked around this bug.

[2015-05-07 20:30] Pilchie opened #2584 "CodeModel: Add additional unit tests to prevent regressions in GetStartPoint/GetEndPoint"
Per #857 and #2461 - let's make sure we have enough test coverage of `GetStartPoint`/`GetEndPoint`

[2015-05-07 20:33] jeremymeng opened #2585 "Pasting code in front of Xml doc comments caused strange indentation."
1. paste the following code to a C# file

[code]
1. select the `const int i = 1;` line, without the new line character
2. put cursor at beginning of the `/// <summary>` line
3. paste

**Actual**

[code]

**Expected**
Maybe don't indent the lines, if the first xml doc comment line isn't starting on a new line.

[2015-05-07 21:53] dsaf commented on #144
A way of declaring unsigned floats would also be beneficial.

[2015-05-08 00:06] bkoelman commented on #2496
@AArnott Good point, I did not realize that.

[2015-05-08 00:46] TheGrandUser commented on #903
My suggestion would be to be able to find all references for a property's getter and setter independantly

[2015-05-08 01:57] jmarolf opened #2593 "VS crashes when inlining temporary variable"
When using "Inline temporary variable" in VB, the following exception is thrown, crashing VS.

This operation cannot be performed on a default instance of ImmutableArray<T>.  Consider initializing the array, or checking the ImmutableArray<T>.IsDefault property.

StackTrace "   at System.Collections.Immutable.ImmutableArray`1.ThrowInvalidOperationIfNotInitialized()
   at System.Collections.Immutabl

[2015-05-08 03:09] mattwar commented on #2557
I'll verify tomorrow, but it looks like the cause is that the formatter is being called just on the modified method node, which doesn't belong to the tree anymore so it doesn't provide the formatter any context for the formatting.  The correct way to do this would be to replace the node in the tree root first and then call format on the new root.

[code]

However, it is unnecessary to call the for

[2015-05-08 07:15] eggapauli commented on #2549
Sorry, `BadBadBaby.BadBaby::<Foo>b__1_0` refers to the delegate of the outer select statement. Anyway, Roslyn produces correct IL code when you remove the inner select statement.

[2015-05-08 13:23] ilkayilknur opened #2596 "Intellisense does not work in nameof expressions"
[code]
When I type dot after foo in nameof expression, intellisense doesn't show any suggestions. Intellisense should suggest `Bar` property.

[2015-05-08 13:34] grbd commented on #2578
Just to give an update on this one, I figured out how to run roslyn via the Rosyln profile using the wiki

I was able to get OpenSourceDebug working but only after applying this patch to the current releases/VS2015RC version https://github.com/dotnet/roslyn/blob/8cda04e7151dadaae93f6e0ce2db20084a6e069d/src/Tools/Source/OpenSourceDebug/enableopensource.pkgdef

However this didn't include ide suppor

[2015-05-08 15:22] heejaechang opened #2598 "move GetEffectiveSeverity to DiagnosticDescriptor"
this is very common operation people want to do on Severity. since Severity is owned by DiagnosticDescriptor, we should provide this functionality from the descriptor.

[2015-05-08 15:22] heejaechang commented on #2598
assigned to @mavasani

[2015-05-08 15:29] mavasani commented on #2598
:+1: We have also had requests from public customers about this API.

[2015-05-08 15:35] tmeschter commented on #2598
@mavasani @heejaechang The problem is that GetEffectiveSeverity depends on a whole bunch of other inputs that have nothing to do with `DiagnosticDescriptor`. Determining the effective severity is really a host-specific operation.

[2015-05-08 15:40] FunctionalFirst commented on #2596
I think this is by design. Quoting from the [C# FAQ blog](http://blogs.msdn.com/b/csharpfaq/archive/2014/11/20/new-features-in-c-6.aspx):

*Note: there are small design changes to nameof since the Preview was built. In the preview, dotted expressions like in the last example, where person is a variable in scope, are not allowed. Instead you have to dot in through the type.*

[2015-05-08 15:40] sharwell commented on #2598
@tmeschter Location of this functionality doesn't really make a difference, provided it is readily accessible from within a call to `DiagnosticAnalyzer.Initialize`. Obviously documentation will be a big part of this regardless of where the API is.

[2015-05-08 15:43] sharwell opened #2599 "Consider moving FxCop analyzers to their own repository"
I'm concerned that the inclusion of FxCop rules in this repository will impair their ongoing release cycle after Roslyn 1.0 stable is shipped. I'm also concerned that their inclusion here limits community contributions towards the implementation of these rules. I believe it would be beneficial to this portion of the project if it were developed in a separate repository (or perhaps split into a few

[2015-05-08 16:01] mavasani commented on #2598
@tmeschter Agreed, the API could lie on DiagnosticDescriptor but would need to take Compilation/CompilationOptions as an argument or could probably be on compilation itself and ask it to give the effective severity of descriptor, if a diagnostic created through it were to be reported on that compilation. Basically, we should be able to share code between the GetEffectiveSeverity method that HeeJae

[2015-05-08 16:22] Pilchie commented on #2574
Tag - @AnthonyDGreen

[2015-05-08 16:43] #2089 closed

[2015-05-08 17:16] jaredpar commented on #2549
@bradphelan thanks for reporting this!

[2015-05-08 17:49] heejaechang commented on #2598
@mavasani @tmeschter @sharwell I think effective severity can have several variations. one that only based on CompilerOptions (good for finding out ones that already suppressed or hidden), one that based on location (good for finding out diagnostics that got suppressed individually). and it looks like there is a case where effective severity needs some info from host as well. (I dont know what the

[2015-05-08 17:51] sharwell commented on #2598
@heejaechang The one that matters for analyzer performance is catching cases where an analyzer is completely suppressed for a compilation.

[2015-05-08 17:51] tmat opened #2601 "EnC: possible optimization of conditional branches in debug builds"
We emit dead stores for condition values to support EnC function remapping. Although it's debug build we still want to reduce the amount of IL and locals needed. We can implement a couple of improvements:
1) Don't store constant conditions and other conditions that don't invoke debuggable methods.
2) Share a single synthesized local for all conditional branches in a method.

[2015-05-08 17:53] heejaechang commented on #2598
@sharwell same for hidden case for closed files. running simplifier analyzer whole solution increase time to go through whole solution several times.

[2015-05-08 17:58] KevinH-MS opened #2602 "DataTips are not working for parameterized properties"
Reported via blog comment:

1.  Create a VB Console App with the following code:
[code]
2.  F5
3.  Hover over "Item" (in "row.Item")

**RESULTS:**
No DataTip appears...

**EXPECTED RESULTS**
![datatip](https://cloud.githubusercontent.com/assets/6464209/7542375/1399d364-f571-11e4-92e2-7158f4b7c117.png)

[2015-05-08 17:58] KevinH-MS commented on #2602
**Note:**  This seems to have first regressed in Visual Studio 2012.

[2015-05-08 18:07] Pilchie commented on #2596
This is the same issue as https://github.com/dotnet/roslyn/issues/1663.

It's true that this doesn't work in the RC build of VS2015, but it has been fixed for the next release.

[2015-05-08 18:07] #2596 closed

[2015-05-08 18:08] Pilchie commented on #2593
Tag @shyamnamboodiripad. Can you take a look at this?  Does it look like the Roslyn lightbulb code, or the editor?

[2015-05-08 18:09] Pilchie commented on #2585
My preference would be to force an additional newline in this case.

[2015-05-08 18:10] gafter commented on #2556
@dperelman Does this repro with a recent Roslyn version? We do not support older snapshots of the open-source code base.

[2015-05-08 18:13] gafter commented on #2477
Perhaps you are not running the assembly you think you are running.

[2015-05-08 18:20] Pilchie commented on #2583
At present we don't touch any whitespace around the comments.  While the same was true in VS2013 for the Format Document command, we should consider an elastic trivia rule here for generated code.

[2015-05-08 18:22] Pilchie commented on #2579
There are many places where IntelliSense shows more choices than are valid, this is definitely something that we can ship with.

[2015-05-08 18:24] BillyONeal commented on #2579
Definitely -- not a huge deal; but wanted to report it nonetheless.

[2015-05-08 18:36] shyamnamboodiripad commented on #2593
@Pilchie, @jmarolf this looks like a dupe of internal TFS bug 1166482 that I fixed via PR #2591 yesterday. This was a crash that was being caused because we were returning uninitialized ```ImmutableArray<SuggestedActionSet>``` to the platform's light bulb code in cases where our light bulb provider handled exceptions thrown from a Roslyn code fix / refactoring.

This crash should be fixed now. How

[2015-05-08 18:49] AlekseyTs opened #2604 "Improve error reporting around lambdas and multiple overloads in VB"
Need to bring Roslyn's behavior closer to what the VS2012 compiler has.
Consider this code:
[code]

VS2012 compiler:
[code]

Roslyn:
[code]

[2015-05-08 19:30] Pilchie commented on #2593
Can you take a look at the inline rename exception?

[2015-05-08 19:42] dpoeschl commented on #2593
@Pilchie It was a typo by @shyamnamboodiripad that he's now fixed. The error is in Inline Temp, not Inline Rename. Removing assignment & milestone for triage.

[2015-05-08 19:43] Pilchie commented on #2593
In that case, can *you* take a look @balajikris?

[2015-05-08 19:45] balajikris commented on #2593
:grin: sure

[2015-05-08 19:59] lgolding opened #2605 "Lightbulb suggests renaming a type to "var""
Screen shot says it all:

![rename type to var](https://cloud.githubusercontent.com/assets/11762653/7544397/86498a3e-f581-11e4-88a3-fc26889eb8c9.png)

[2015-05-08 21:11] #2324 closed

[2015-05-08 21:11] #2377 closed

[2015-05-08 21:11] #2495 closed

[2015-05-08 21:49] balajikris commented on #2593
@jmarolf - do you have a repro for this? There is nothing in the dump that points to the exception thrown by InlineTemp. The only exception i see is the ImmutableArray thing which @shyamnamboodiripad  fixed.  none of the stackframes have anything interesting or to do with inline temp.  without a repro, i'm afraid this isn't actionable.

[2015-05-08 22:04] Pilchie commented on #2593
I found this exception in the dump:

[code]

[2015-05-08 22:07] balajikris commented on #2593
@Pilchie - thanks :astonished: How did you manage that? I tried `!dumpheap -type System.Exception` and there _tons_ of them that i'd never parse through them all.

[2015-05-08 22:12] Pilchie commented on #2593
I parsed through them :smile:

[2015-05-08 22:13] Pilchie commented on #2593
though I actually just did `!dumpheap -stat`, then `findstr /v Exception`, then removed the things that were arrays and generics manually in vim.

[2015-05-08 22:17] #2411 closed

[2015-05-08 22:28] balajikris commented on #2593
Thanks, looking. That wasn't as bad as the one I tried..

[2015-05-08 22:45] tmat opened #2611 "Compiler command line and server tests should set environment variables the compiler depends on before running"
[code]

[2015-05-08 22:52] ManishJayaswal commented on #2578
unfortunately we have not tried this so this will need to be investigated.

[2015-05-08 23:04] rchande commented on #830
@jasonmalinowski I feel like we do have that helper.

[2015-05-08 23:05] rchande commented on #830
@jasonmalinowski Never mind.

[2015-05-08 23:13] dpoeschl commented on #830
@brettfo Didn't you have a better test for this that was done during integration tests or something? This one fails even if you comment out all the rename code.

[2015-05-08 23:15] Vannevelj opened #2614 "Registering a syntax node action on SyntaxKind.GenericName triggers the diagnostic twice on field level"
When I create an analyzer that should be triggered on each generic type syntax occurrence, it seems to work fine for most places except on field level: then the diagnostic is created twice even though there is only one generic type.

Sample analyzer:

    [DiagnosticAnalyzer(LanguageNames.CSharp)]
    public class Analyzer1Analyzer : DiagnosticAnalyzer
    {
        public const string DiagnosticI

[2015-05-08 23:22] srivatsn commented on #2599
Yes I agree we should start moving them once 1.0 ships. We've been factoring the rules into analyzers that are about particular BCL apis and my preference would be for these rules to live next to the sources for those libraries in the corefx repo. For the rules that are not about particular APIs, those could be in a separate repo.

[2015-05-08 23:22] srivatsn commented on #2599
/cc @ManishJayaswal

[2015-05-08 23:23] dpoeschl commented on #873
The document is not added to the RDT, and so we do not currently process it. Editing title to reflect.

[2015-05-08 23:25] Vannevelj commented on #2557
@mattwar: I can't seem to make it work using your advice. No matter where I add the `Formatter` annotation and whether or not I call `Formatter.Format` explicitly, the indentation remains incorrect.

The `SyntaxGenerator` looks interesting but it looks like we have different versions: the `SyntaxGeneratior.GetGenerator()` overload I have requires 2 arguments and does not contain a `WithAccessibili

[2015-05-08 23:28] dpoeschl commented on #873
Adding Compare Files repro from @shyamnamboodiripad's internal bug #1066504.

[2015-05-08 23:56] mavasani opened #2616 "SyntaxGenerator.AsPublicInterfaceImplementation returns incorrect result for explicit implementations"
Invoke `SyntaxGenerator.AsPublicInterfaceImplementation`(http://source.roslyn.io/Microsoft.CodeAnalysis.CSharp.Workspaces/R/f860f54a842df309.html) method on a method declaration which explicitly implements an interface method. For example, invoke it on the method implementation below:

[code]

**Expected result:**
`public object DoSomething() { return null; }`

**Actual result:**
`public object IG

[2015-05-09 00:05] grbd commented on #2578
For info I did a bit more experimentation
the OpenSourceDebug project appears to be used for debugging as a single extension pulling files from other extensions into a single file (a wrapper for multiple extensions)

although OpenSourceDebug lacks the components for Roslyn.VisualStudio.Setup.Interactive.vsix ("Roslyn Interactive Language Services") and Roslyn.VisualStudio.InteractiveComponents.vsi

[2015-05-09 00:12] mavasani commented on #2616
This returns a different sort of incorrect result when invoked for VB explicit interface implementations:

Original code:
[code]

**Expected result:**
[code]

**Actual result:**
[code]

Note that this introduces a syntax + semantic error. Probably it is being cause by incorrect implements clause being generated here (note the interfaceNode argument passed to this API was generated using `SyntaxGen

[2015-05-09 00:35] pharring commented on #2605
@lgolding Is this with VS 2015 RC? If not, what version of VS and Roslyn are you using?

[2015-05-09 00:40] gafter commented on #2549
Ever so slightly simpler repro:

[code]

[2015-05-09 00:42] lgolding commented on #2605
Yes, 2015 RC. 22822.1 IIRC, although I don't have it in front of me here on the bus :)

Sorry, I included that information when I originally filed the bug in TFS, but forgot to mention it when I re-filed it in GitHub.

Larry

Sent from my Windows Phone
________________________________
From: Paul Harrington<mailto:notifications@github.com>
Sent: ‎5/‎8/‎2015 5:35 PM
To: dotnet/roslyn<mailto:roslyn@n

[2015-05-09 01:03] #1359 closed

[2015-05-09 01:33] mattwar commented on #2557
You'll probably need at least the version of Roslyn that is out with VS RC from last week.

[2015-05-09 01:46] mattwar commented on #2616
The implementation assumes that you are modifying a normal/default method invocation and turning it into a interface implementation. The original intent of the API is for simple construction of new nodes, so it got missed when updating the API to allow for edits. For C# that's a no-op, it just adds public accessibility.

[2015-05-09 01:50] mattwar commented on #2616
The VB implementation is assuming the same thing. It is not considering it is already an implementation of an interface method.  It also assumes that the current method name is the same as the name of the method in the interface, so that's how you get the concatenated name.

[2015-05-09 03:37] mattwar commented on #2569
Yes, please submit a PR.

[2015-05-09 11:27] Vannevelj commented on #2557
I'm using VS 2015 RC and the RC Roslyn SDK templates.

[2015-05-09 13:01] CnSimonChan commented on #174
Templates are better way to speed up coding than code snippets, because templates can be edit once and reflects in all usages, and you can have different templates in different project types.

Templates can be defined in namespaces and classes, like `delegate`, a demo for define template as follows:

    namespace MyTemplates
    {
		public template DependencyObject DefineProperty(raw type, raw na

[2015-05-09 18:53] Stmated opened #2621 "Emit to DynamicAssembly"
From many examples of compiling a Roslyn SyntaxTree, I have seen code such as:

[code]

But when I try to do this in the current Roslyn released with Visual Studio 2015 RC, I see no Emit() which takes a module. I need to write to a stream and load it into a regular AppDomain-locked Assembly.

I then see this answer from Tomas Matousek: http://stackoverflow.com/a/22977158
Where he says that this ha

[2015-05-09 19:01] bradphelan commented on #2549
@jaredpar It was no problem to report. I'm really curious to know what the problem is. Might give me some motivation to look into the compiler source :)

[2015-05-09 21:20] #1436 closed

[2015-05-09 21:26] pharring commented on #2362
This was addressed in the Closed source project.

[2015-05-09 21:26] #2362 closed

[2015-05-09 21:28] pharring commented on #1613
Closed with #2612

[2015-05-09 21:28] #1613 closed

[2015-05-09 22:01] TwoRedCells commented on #2204
Looks a lot like Issue #154.

[2015-05-09 22:05] TwoRedCells commented on #2136
I don't *think* #154 would require CLR support, but if it does I'd be interested how. When I designed it, I envisioned it as a compile-time language-only feature.

[2015-05-09 22:08] TwoRedCells commented on #2136
@khellang I think #154 could be considered Duck typing.

[2015-05-09 22:19] TwoRedCells commented on #2136
@RobertGBryan in case you weren't aware, `IDictionary`, `IDictionary<TKey,TValue>`, `HashTable`, `Dictionary<TKey,TValue>` etc. all implement `IEnumerable`. Specifically, `Dictionary<TKey,TValue>` implements `IEnumerable<KeyValuePair<TKey,TValue>>` which I think is what you're looking for. It also has `Keys` and `Values` properties that you can use to iterate them separately, if desired.

[2015-05-09 22:29] dpoeschl commented on #1053
Found a related but distinct case that I'll fix as part of this:
[code]

[2015-05-10 00:16] dpoeschl commented on #2352
Constructed a simpler repro and added it to the first post.

[2015-05-10 02:13] dpoeschl commented on #2352
In [```IdentifyConflictsAsync```](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Rename/ConflictEngine/ConflictResolver.Session.cs,856fdd619d2b53ce) we construct ```reverseMappedLocations``` for the set of documentIds provided, but we then [add declaration conflicts](http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/Rename/ConflictEngine/ConflictResolver.Session.cs,379) to the

[2015-05-10 02:51] dpoeschl opened #2623 "VS crash on editing nested VB Try/Catch blocks"
Copy/paste VB code and follow the directions in the comment. Found while dogfooding.
[code]
There are ArgumentOutOfRangeExceptions in the FinallyKeywordRecommender and eventually an ExecutionEngineException that brings down VS, but I haven't been able to figure out where that one comes from due to debugger issues.
[code]

[2015-05-10 02:55] dpoeschl commented on #2623
Another repro:
[code]

[2015-05-10 03:20] tmat commented on #2621
Sadly VS 2015 RTM won't support emitting collectible code. Please vote here if you want to see such support in a future version: http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/6120992-support-for-collectible-assemblies

[2015-05-10 07:38] taspeotis opened #2628 "Collection Initializer could initialize collections with a capacity"
(I searched the Roslyn code and couldn't find whether this was or wasn't implemented, so sorry if this suggestion is redundant.)

I believe currently the following code:

[code]

Will be translated as follows:

[code]

Note that the `List<int>` has a backing `int[]` array that starts empty then has to be reallocated/resized as more items are added to the list.

`List<T>` has a constructor that spe

[2015-05-10 10:42] Stmated commented on #2621
Am I correct in believing that this will/can behave differently when using the CSharpScript? If I am reading correctly on https://github.com/dotnet/roslyn/blob/e3142b9d4664f0b3df7f0ed522c4d72fe28dff23/src/Scripting/Core/ScriptBuilder.cs#L135 then it uses a dynamic module if the script is collectible.

But there is no way of easily enabling ``IsCollectible`` since ``ScriptOptions`` defaults it to f

[2015-05-10 10:48] diab0l commented on #154
"It can require that certain protected or internal members be present."

What use is this?

[2015-05-10 10:52] diab0l commented on #2204
@TwoRedCells The goals are the same, but currently that template proposal is "static interface + static abstract type" collapsed into a single feature, whereas static interfaces are distinct from static abstract types.

Not that it matters. Before any of this becomes reality, we need either an extended CLR or an extensibility model for the CLR's common type system.

[2015-05-10 12:26] petr-k commented on #1781
@jaredpar If that's the unfortunate case, is there an *unsupported* way of doing this?

[2015-05-10 12:34] HaloFour commented on #2628
Roslyn could potentially do this with a few very well known classes, like `List<T>`.  The issue is that collection initializers is a convention that doesn't care about the type being initialized at all nor does it affect the constructor actually in use (one of the reasons why I hate that initializers in general permit omitting the parenthesis).  As long as the type exposes an `Add` method and the

[2015-05-10 13:18] AdamSpeight2008 commented on #1921
I propose that we should use the character / symbol `:` for slicing into arrays. `_a( offset : count )`
Along with to conversion / cast that convert from and to byte arrays. As it makes describing file layout a little easier.

[code]

[2015-05-10 17:10] MpDzik commented on #2136
+1 for Nullability tracking (Proposal: #227)

[2015-05-10 21:16] sharwell opened #2630 "Invalid argument check in SeparatedSyntaxList.ReplaceSeparator"
While debugging DotNetAnalyzers/StyleCopAnalyzers#780, I discovered that `SeparatedSyntaxList.ReplaceSeparator` contains an [invalid bounds check](https://github.com/dotnet/roslyn/blob/8771786e5a80e9d27ffb40702f5cca558ca6fabb/src/Compilers/Core/Portable/Syntax/SeparatedSyntaxList.cs#L527-L530) which makes it impossible to replace a separator falling in the second half of the list of arguments.

I

[2015-05-10 21:47] dpoeschl commented on #2605
@lgolding Did you manually replace the type name with "var" by typing "var" (or pasting it or making some other edit), or did you run an automated fix that reduced the type name to "var" automatically?

Some background: When a reference is tracked for rename, we usually show the dotted border around the identifier. But, once the identifier binds to something again (whether a different symbol or, i

[2015-05-10 21:57] dpoeschl commented on #873
Adding a Merge Conflict Resolution Window repro from @shyamnamboodiripad's internal bug #1069385.

[2015-05-10 23:36] dpoeschl opened #2631 "Crash with IndexOutOfRangeException in OverloadResolution.IsApplicable during SimplifyTypeNamesDiagnosticAnalyzer analysis"
Paste C# code:

[code]

There's an assert and a crashing exception, both pasted below. First, the assert:
[code]

And then the crashing exception:
[code]

[2015-05-10 23:38] dpoeschl commented on #2631
Not sure whether this is a Compiler or Analyzer issue, so tagging both teams.

[2015-05-11 00:21] taspeotis commented on #2628
Thank you for your response.

I'm aware I can call the constructor with a capacity myself, but now I have a magic number floating around in my code. It's also a maintenance burden. If I add items, I might need to increase the capacity, if I remove items I might need to decrease the capacity.

If you think this is worth pursuing I might take a look at submitting a pull request. If it's not I am hap

[2015-05-11 00:22] dpoeschl opened #2632 "Improve Ctrl+F delay due to IVsLanguageBlock.GetCurrentBlock"
I been noticing the "Determining Current Block” wait dialog once or twice a day recently (related to the recent [IVsLanguageBlock.GetCurrentBlock implementation](https://github.com/dotnet/roslyn/pull/2490)). I think I only notice it when I’ve just opened Roslyn.sln and try to find something in an open document before the solution has finished loading or very soon after it has loaded.

Let's consid

[2015-05-11 00:22] dpoeschl commented on #2632
/cc @Pilchie

[2015-05-11 02:39] HaloFour commented on #2628
@taspeotis Don't let me discourage you.  I'm just a voice from the peanut gallery.

Always worth checking out language improvements and I think that collection initializers have quite a few opportunities to be improved.  Another good example is why collection initializers can't take advantage of `AddRange` which could provide additional performance benefits.

[2015-05-11 11:07] japj opened #2635 "T4 Templates Intellisense/Editor support?"
Hi, not sure if this is the right place to ask, but I was wondering if it would be possible to use Roslyn for Intellisense/Editor support for T4 Templates.

i.e. if you use c# as T4 template language, would it be possible to use Roslyn to get Intellisense both inside the T4 tags (<# #> and possibly for the generated code (if it is inside a 'normal' text block).

Or are there maybe existing ideas/p

[2015-05-11 12:47] weltkante opened #2636 "Unused property collection in MsBuild workspace"
In the [MsBuild ProjectFileLoader.LoadProjectAsync](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Desktop/Workspace/MSBuild/ProjectFile/ProjectFileLoader.cs#L44) the global settings are extended by two special settings:

[code]

[further down in the function](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Desktop/Workspace/MSBuild/ProjectFile/ProjectFileLoader.

[2015-05-11 12:57] orthoxerox commented on #2136
+1 for ref locals. When you have a very hot number-crunching loop, you have to resort to an array of structs to hold your data to improve data locality, and to shave off the final milliseconds you need to avoid copying the element you are processing into a local. This either means recalculating the offset again and again or extracting the loop body into a static method with a ref parameter. The la

[2015-05-11 14:35] lgolding commented on #2605
Hi David,

I manually edited the type name to var.

This bug report is a false positive. I did not realize that “var” is a legal type name<https://msdn.microsoft.com/en-us/library/bb384061(v=vs.140).aspx>: “If a type named var is in scope, then the var keyword will resolve to that type name and will not be treated as part of an implicitly typed local variable declaration.”

That said, I would stil

[2015-05-11 15:00] jaredpar commented on #1781
Sorry I've let this issue languish but I've been heads down on RTM issues for the last month or so.  I set aside some time to take a look at it early this week.

[2015-05-11 15:11] robinsedlaczek opened #2637 "Performance tests for solution wide refactorings"
Hi together!

Matt Gertz wrote together some interesting aspects measuring and observing performance in Roslyn and the heads behind this. Old, but very cool post: http://blogs.msdn.com/b/csharpfaq/archive/2014/01/15/roslyn-performance-matt-gertz.aspx

I know you take performance very serious there at the Roslyn team and the work you have done is great at all! Further, I don't know if this question

[2015-05-11 15:14] dpoeschl commented on #2631
Note that the repro doesn't only occur when there's a trailing comma as above. The following statement causes the same failure:
[code]

[2015-05-11 15:16] AArnott opened #2638 "Bad indentation of LINQ queries when using tab indentation"
When writing the Linq query below, pressing enter after the "from arg" expression results in the caret being indented too much for the second line. After typing the second line, the third line is correctly indented with respect to the first line.

[code]

As you're fixing this, please consider the discussion in DotNetAnalyzers/StyleCopAnalyzers#730 where we discuss how proper use of tabs and space

[2015-05-11 15:20] jaredpar opened #2639 "Intellisense doesn't suggest accessible private fields"
Consider the following code with `$` representing the caret location:

[code]

In this location the field `_data` is accessible even though private.  Yet this field is not included in the intellisense suggestion list.

VS 2013 does show `_data` in the completion list here.

[2015-05-11 15:25] Xed89 opened #2640 "Compiler outputs wrong IL for With...End Statement when optimizations are on"
The following code contains an unused with statement that throws an InvalidProgramException when executed.
The bug only appears when the code is compiled with optimizations turned on and only when the with statement is effectively unused.
[code]

[2015-05-11 16:09] whoisj commented on #161
Just a few points I'd like to have clarified in the proposal.

Given `A a = new A(); destructible` which of the following is the suggested usage (and by the way, I love the `use A a = new A();` suggestion for callsite specification.

Taking a reference of a destructible reference is done via `A b = a;` or 'A b = ref a`? The later seeming significantly more expressive and deliberate.

Taking owners

[2015-05-11 16:15] whoisj commented on #119
I absolutely love this proposal. I see immediate benefit in a couple of ways:

1. Callers know exactly what is being checked thus removing a layer of abstract/tribal knowledge.
2. Compiler knows exactly what is being checked this can warn developers when they are setting up a potential failure condition without know it. (the method requires x > 1 x < 2 you have not checked x before calling)
3. Com

[2015-05-11 16:23] whoisj commented on #2136
Can I please add a new feature request, if this isn't the place to do so please tell me where the right place is.

Not sure what to call it, but basically I want the ability to pass a reference into a method and know that method will not take an additional reference. For example, if I allocate a large block of memory and I pass a reference to that allocation into a method, I would like to know tha

[2015-05-11 16:28] HaloFour commented on #2136
@whoisj

You can [create a new issue](https://github.com/dotnet/roslyn/issues/new) for the proposal.  Then it will be tracked separately and can have its own dialog.

[2015-05-11 16:32] whoisj commented on #2136
@HaloFour yay, thanks!

[2015-05-11 16:44] VSadov commented on #2549
When a lambda expression is compiled, its body is implemented as a synthesised method, often placed in into a synthesized class. During such transformation, generic type parameters of the method that used to contain the lambda become unavailable to the synthesised method and the type parameters  need to be represented as generic type parameters of the synthesized class while all usage of the origi

[2015-05-11 17:02] Grauenwolf commented on #161
Any proposal based on abandoning IDisposable is doomed from the outset due to backwards compatibility issues.

[2015-05-11 17:05] balajikris commented on #2593
Found a repro:
[code]

[2015-05-11 17:05] AlekseyTs opened #2641 "Clarify assert assumptions in BetterFunctionMember<TMember> with a comment."
See discussion in https://github.com/dotnet/roslyn/pull/2573

[2015-05-11 17:08] AlekseyTs opened #2642 "Refactor BetterFunctionMember<TMember> method in C# compiler."
See discussion in https://github.com/dotnet/roslyn/pull/2573

[2015-05-11 17:08] #2533 closed

[2015-05-11 17:12] sharwell opened #2643 "RegisterCodeFixesAsync does not indicate which diagnostics are in the context"
The [documentation for `CodeFixProvider.RegisterCodeFixesAsync`](https://github.com/dotnet/roslyn/blob/9e392f1cf230ae6af3d560150097a7c40681b197/src/Workspaces/Core/Portable/CodeFixes/CodeFixProvider.cs#L19-L22) does not indicate whether or not the `CodeFixContext.Diagnostics` property is allowed to contain diagnostics which are not present in the result of `FixableDiagnostics` for the same `CodeFi

[2015-05-11 17:13] AlekseyTs commented on #2375
@amcasey Please verify.

[2015-05-11 17:13] #2375 closed

[2015-05-11 17:14] AlekseyTs commented on #2533
@gafter Please verify.

[2015-05-11 17:25] brettfo commented on #830
Replied offline with a pointer to an internal test.

[2015-05-11 17:39] whoisj commented on #161
@Grauenwolf I do not disagree. There is no possible way to abandon the disposable pattern for many years. However, given that the pattern is subject to misuse and can be an enforced cause of bugs it should be phased out over time.

To assume that because something is common that it must always be, is akin to assuming that because it is common for people to drive gasoline powered automobiles that e

[2015-05-11 17:51] ManishJayaswal commented on #2546
Moving it to 1.1 milestone as user the choose the first option and continue debugging, as a workaround.

[2015-05-11 18:00] baks commented on #2423
I would like to try to add this feature into introduce local refactoring, if possible.

It looks like the IntroduceLocal refactoring uses GenerateNameForExpression() in ISemanticModelExtensions.
It is a good idea for start to check whether the expression is ArgumentSyntax, next get ParameterSymbol from SemanticModel using this argument and return that parameter name?
Or maybe am I missing somethin

[2015-05-11 18:07] Pilchie commented on #2423
That sounds about right to me.  @balajikris any input?

@baks: Keep in mind that the mapping from ArgumentSyntax to ParameterSymbol isn't always trivial in the case of arguments specified by name.

[2015-05-11 18:25] balajikris commented on #2423
Yep, that approach sounds right to me. As you might have already noticed, there is a `CreateParameterName` within `GenerateNameForExpression` that probably needs this tweak. Look for name generation related unit test methods at  `IntroduceVariableTests.cs and IntroduceVariableTests.vb`..

Thanks for taking a look.

[2015-05-11 18:27] AlekseyTs commented on #2640
An assert fires in stack scheduler
[code]

[code]

[2015-05-11 19:10] davkean opened #2644 "IntelliSense incorrectly attempts to disambiguate generic arguments when they clash with a member"
Given the following:

[code]

IntelliSense incorrectly attempts to disambiguate the `Bar` type in the `ReadOnlyCollection<ConsoleApplication34.Bar>` suggestion. It appears to do this because it thinks there is a clash with the `Bar` property.

![image](https://cloud.githubusercontent.com/assets/1103906/7572788/b2381010-f7d5-11e4-85d4-98b847637565.png)

After this, you are immediately asked to simp

[2015-05-11 19:12] davkean commented on #2644
Make note, while the code doesn't actually compile above (it was a faked up example) - you can repro this with code that does compile. :)

[2015-05-11 19:19] Thorarin commented on #227
For symmetry, I think that if the language is going to support nullable reference types (for which the compiler throws an error if no null check is being done), there should be an equivalent compiler error for nullable value types accessing the Value property without checking HasValue in some way as well.

Unfortunately, for compatibility there should be a newly introduced syntax to express that a

[2015-05-11 19:39] #282 closed

[2015-05-11 19:57] jmarolf commented on #2637
"remove all usings" - I assume you were trying to remove all of the unused usings in a document? Or was this solution wide?

For the document case there should have been no slowdown because we've already done the computation to determine that they are unnecessary, so essentially applying the code-action just deletes the text.

For applying "remove unused usings" across a solution, that is going to

[2015-05-11 20:21] heejaechang commented on #2637
@robinsedlaczek "Refactoring" is too broad word that can mean multiple things and features.

normally refactoring "feature" itself can't be applied solution wide. there are special refactoring feature such as "rename" that can be applied solution wide and we do track performance of it and make sure we don't regress than our goal.

there is code fix "Fix All" feature that can apply any random code

[2015-05-11 20:24] Pilchie commented on #2644
This may be an issue with `ToMinimalDisplayString`

[2015-05-11 20:26] Pilchie commented on #2638
Though I know this is frustrating, this is only with the non-default option to use tabs, and also only on enter, it doesn't affect format document if you fix the indentation manually.

[2015-05-11 20:27] Pilchie commented on #2635
The Managed Languages team has no plans to support T4 directly, but interested 3rd parties could create a language service for T4 that hosts the Roslyn editing experience inside projection buffers in T4, similar to the way that razor and aspx work.

[2015-05-11 20:27] #2635 closed

[2015-05-11 20:28] mavasani commented on #2637
I agree @heejaechang we need to have performance tests for FixAll scenarios. I'll file an issue to track that work item.

[2015-05-11 20:30] Pilchie commented on #2605
I'm also in favor of just special casing `var` (and `dynamic`).

[2015-05-11 20:32] jakeswenson commented on #2202
@jaredpar @Pilchie are nightly packages not retained? Seems like this package is nolonger available?
https://www.myget.org/F/roslyn-nightly/Packages(Id='Microsoft.Net.Compilers',Version='1.0.0-rc3-20150505-04')

This is very problematic when trying to get this working on the build machines.

[2015-05-11 20:39] gafter opened #2648 "Please remove the Unicode version number from the C# language specification"
The Roslyn C# compiler inherits its Unicode character classification from whatever is provided on the platform that hosts the compiler. Consequently we use a fairly recent Unicode version.

Please update the C# language specification to allow this behavior by removing the reference to a particular version of the Unicode specification.

[2015-05-11 20:48] gafter opened #2649 "Please update the VB language specification to clarify what case-insensitive means."
The Roslyn VB compiler interprets "case-insensitive" to to mean "the same when individual characters are mapped to lower-case using the one-to-one Unicode lower-case mapping (i.e. the Simple_Lowercase_Mapping field from UnicodeData.txt, which excludes mappings that would result in a single character being transformed into multiple characters).

[2015-05-11 20:55] mavasani opened #2650 "SymbolEditor.EditAllDeclarationsAsync throws an ArgumentException when given an indexer symbol that explicitly implements an interface property"
[code]

Invoke `SymbolEditor.EditAllDeclarationsAsync` with the indexer symbol explicitly implementing `IGeneral.this`. You can supply an empty `editAction`.

**System.ArgumentException:** The symbol 'IGeneral.this[]' cannot be located within the current solution.

**Call stack:**

 	Microsoft.CodeAnalysis.Workspaces.dll!Microsoft.CodeAnalysis.Editing.SymbolEditor.EditAllDeclarationsAsync(Microsof

[2015-05-11 20:56] mavasani commented on #2650
Note: Even `EditOneDeclarationAsync` API throws this exception.

[2015-05-11 21:22] jaredpar commented on #2202
@jakeswenson we only keep the last ~10 builds on our MyGet feed.  There is a size restriction by default on MyGet and that is about as much as we can fit on there.

Could you copy them down locally or throw them on a share where the build machines could get access?

[2015-05-11 21:39] MI3Guy commented on #2212
Another advantage would be the ability to use value type collections (e.g. ImmutableArray<T>) without boxing them or writing a method that uses that specific collection.

[2015-05-11 21:51] jmarolf opened #2652 "Index out of range exception when attempting to add usings in VB"
In VB, I had the following code inside a method:

[code]

I attempt to invoke a code action options using CTRL+. to add usings for ```FileVersionInfo```.  Instead, Visual Studio crashes with the following exception:

"Specified argument was out of the range of valid values.\r\nParameter name: index"	System.Exception {System.ArgumentOutOfRangeException}

 	PresentationFramework.dll!System.Windows.C

[2015-05-11 21:57] mavasani opened #2654 "SyntaxEditor.SetAccessibility doesn't change the accessibility of inner getter/setter"
[code]

Invoke `SyntaxEditor.SetAccessibility` on the property symbol for "Name" with below piece of fixer code to make an existing property effectively public:

[code]

**Actual**: The returned declaration has the property's accessibility changed to `public`, but the getter method is still `private`, causing the property to still be semantically a private property.

[code]

Arguably, this is by d

[2015-05-11 22:24] jakeswenson commented on #2202
@jaredpar OK, as long as this is expected. i'll look into workarounds. Can't wait for a public drop fixing this though... :smile:

[2015-05-11 22:36] AlekseyTs commented on #1853
Assemblies Run

Roslyn.Services.Editor.CSharp.UnitTests.dll

Summary

Tests run: 11205   Failures: 1, Skipped: 46, Run time: 327.647s

Failed tests

0.033s
✘
 Microsoft.CodeAnalysis.CSharp.EditAndContinue.UnitTests.RudeEditStatementTests.Lambdas_Update_Accessing_Closure_NestedLambdas : Actual: Diagnostic(RudeEditKind.InsertLambdaWithMultiScopeCapture, "x1", "!VQ1Yq!lambda ЁЧ!", "x0", "x1"), Diagno

[2015-05-11 22:46] dpoeschl commented on #1053
Fixed by https://github.com/dotnet/roslyn/pull/2622

[2015-05-11 22:46] #1053 closed

[2015-05-11 22:53] whoisj commented on #2143
how do I thumbs up this?

er... +1!

[2015-05-11 22:53] #2512 closed

[2015-05-11 23:01] tmeschter opened #2656 "Need an analyzer to catch re-used analyzer IDs"
A `DiagnosticAnalyzer` should not report multiple `DiagnosticDescriptors` with the same ID, as this makes it impossible to properly merge errors coming from the IDE and errors coming from the build and remove duplicates.

Unfortunately FxCop used to report different (but related) errors under the same ID, so our re-implementation of FxCop rules on top of Roslyn needs to do the same. However, we sh

[2015-05-11 23:12] AlekseyTs opened #2657 "Roslyn.Services.Editor.VisualBasic.UnitTests.dll - 2 tests fail in presence of localized resources"
Assemblies Run

Roslyn.Services.Editor.VisualBasic.UnitTests.dll

Summary

Tests run: 8323   Failures: 2, Skipped: 63, Run time: 276.222s

Failed tests

0.005s
✘
 Microsoft.CodeAnalysis.VisualBasic.EditAndContinue.UnitTests.ActiveStatementTests.ForEach_Update_Lambda2 : Actual: Diagnostic(RudeEditKind.UpdateAroundActiveStatement, "For Each a In G(Function(a) a)", "!VU3Qz!For Each statement ЁЧЫ!") D

[2015-05-11 23:13] DustinCampbell commented on #1482
I think it's probably unlikely that we'll do this for RTM.

[2015-05-11 23:14] mavasani opened #2658 "SyntaxEditor.SetAccessibility adds an extra newline trivia to declaration"
[code]

Invoke `SyntaxEditor.SetAccessibility` API for the private method DoSomething with the comment above. (API: http://source.roslyn.io/Microsoft.CodeAnalysis.Workspaces/R/b82c7b6de611d383.html)

I have the below code in the fixer:
[code]

**Got:**
[code]

NOTE the extra newline added before the comment "// private, this is no good" in the returned declaration.

[2015-05-11 23:25] tmat commented on #2545
I believe this was fixed by dfdc94b6cdfc49215a3d49d0321aa668aea1de1a

[2015-05-11 23:53] gafter opened #2659 "No conversion from old-style anonymous method to expression tree"
I found this in the Roslyn test sources:

[code]

with this test case

[code]

[2015-05-11 23:56] VSadov commented on #376
We actually clear field proxies opportunistically when they get out of scope. This case is special only because there is an implicit "yield return" before the clean up code which makes it unreachable. If "set" variable is not scoped to the whole method, the problem would not occur.
The affected set of programs is much smaller than the bug seem to imply.

[2015-05-12 00:38] balajikris opened #2662 "VB Extract Method: Fails asserts inside With blocks"
1. select the expression within [| and |] and invoke Extract method.
2. Lots of assert fails in debug builds.
3. No crash in release builds. the entire With block is extracted to a new method.

[code]
Call stack:
[code]

[2015-05-12 00:51] mavasani commented on #2616
See skipped unit tests for FxCop rule CA1033 fixer added with #2590, which are affected by this bug. Skipped tests have been marked with this issue.

[2015-05-12 00:52] mavasani commented on #2650
See skipped unit tests for FxCop rule CA1033 fixer added with #2590, which are affected by this bug. Skipped tests have been marked with this issue.

[2015-05-12 00:53] mavasani commented on #2654
See skipped unit tests for FxCop rule CA1033 fixer added with #2590, which are affected by this bug. Skipped tests have been marked with this issue.

If this issue is resolved as by-design, I'll write language-specific fixers to address this scenario.

[2015-05-12 00:54] mattwar commented on #2616
Okay.  I'll fix this next.

[2015-05-12 00:57] mavasani commented on #2616
@mattwar No hurries, I just wanted to inform that there are skipped tests which might enable you to repro this more easily, though you might have to tweak the actual output to re-enable them once you fix the underlying issue.

[2015-05-12 00:57] tmat opened #2663 "Avoid generating "pairs" from queries"
From, Group By and Join clauses create "lambdas" that are just helpers to instantiate an anonymous type with 2 fields (a pair). Presumably we generate an anonymous type for the pair (transparent identifier) so the variable names are preserved in form of field names for the debugger. It'd probably be better to store this information to PDB. That would break older EEs though.

However we could avoid

[2015-05-12 01:00] tmat commented on #1316
I believe we are good. Only From and Join clauses create "pair lambdas", each creates one. It would be nice to not generate these lambdas, but it's ok to do so for RTM. Filed post-RTM work item to track that: #2663

[2015-05-12 01:43] jakesays opened #2666 "MefHostServices fails loading unsigned assemblies."
When using unsigned roslyn assemblies, MefHostServices creates an invalid assembly name, which causes an exception to be thrown.

From MefHostServices.cs:

[code]

When an unsigned assembly is loaded, `publicKeyToken` is `""` instead of `null`.

A proposed solution:
add

[code]

after `publicKeyToken` is initially set.

[2015-05-12 01:44] balajikris opened #2667 "Find All References does not find a reference to WithStatement Identifier"
1. Find all references from the definition of the local variable `theCustomer`.
2. The reference in the first with block is not found. See Find Symbols results and highlight references

**screenshot**:
![image](https://cloud.githubusercontent.com/assets/4213867/7578574/9152dfd4-f80b-11e4-928f-1d16f328f627.png)

[code]

[2015-05-12 01:48] balajikris commented on #2652
looks like this happens inside the VSEditor code ? tagging interested parties : @shyamnamboodiripad @olegtk

[2015-05-12 01:49] tmat opened #2668 "Trivial C# queries - compiler behavior differs from spec"
The C# language specification, paragraph 7.16.2.5 Select clauses, states:

"A query expression of the form ```from x in e select v``` is translated into ```( e ) . Select ( x => v )```
except when v is the identifier x, the translation is simply ```( e )```"

Both compilers (Dev12 and Dev14), however, emit the following code:

[code]

[code]

Note that if we decide to change this behavior we need

[2015-05-12 01:58] tmat commented on #2668
In case of ```group by``` clause the spec matches the compiler behavior.

[2015-05-12 02:04] shyamnamboodiripad commented on #2652
@jmarolf  Is the repro consistent?

Based on stack trace the bug seems to be on the editor side (Roslyn is not on the stack). Could you please log an internal bug for this?

[2015-05-12 02:10] balajikris opened #2671 "VB Inline Temp: generates bad code in WithBlock contexts"
1. Inline Temp on `theCustomer`
2. Generates code with compilation errors.
  1. does not replace the reference at the first With block, but removes the definition, leading to semantic errors.
  2. Inside the second with block, Introduces `call .Add("First Comment")` leading to syntactic errors.

[code]

[2015-05-12 02:25] tmat opened #2672 "GroupBy, Select clauses might not produce a lambda for the key expression"
In cases like:

[code]

[code]

[code]

[code]

[code]

The LINQ translation doesn't produce lambda for x and y expressions (in accordance with spec 7.16.2.6 Groupby clauses and 7.16.2.5 Select clauses). The compiler also doesn't emit sequence points for them. Our breakpoint span detection logic however does place a breakpoint on these expressions and EnC logic expects lambdas to be produced. Both

[2015-05-12 02:28] tmat commented on #2668
Never mind, missed the "debgenerate clause" paragraph, which explains his behavior.

[2015-05-12 02:28] #2668 closed

[2015-05-12 02:42] tmat commented on #1306
Investigation done. #2672 is tracking the specific issues and cases that are currently broken.

[2015-05-12 02:42] #1306 closed

[2015-05-12 07:16] robinsedlaczek commented on #2637
Yes, sorry. I correct my wording above. Of course, I mean "Remove Unnecessary Usings" resp. "Fix All" features. Please see the screenshot. Here just the steps to reproduce:

1. Open Visual Studio.
2. Open Roslyn solution (or any other).
3. Use CTRL+. on using statements.

![solution-wide refactoring](https://cloud.githubusercontent.com/assets/2900224/7581552/c2a1eeda-f884-11e4-9239-b6018072b3e0.pn

[2015-05-12 07:28] heejaechang commented on #2637
@robinsedlaczek you can commit before preview window shows up. previous will take almost exactly same time as you committed the change since it does almost exactly same thing.

actual committing can't be Async since that can corrupt files if some other operation (including operation that is not under Roslyn's control) mess with files.

but we should have some kind of progress bar if possible.

[2015-05-12 07:49] robinsedlaczek commented on #2637
Yes, mustn't be async, but progress bar gives nice feedback.

How can I commit without waiting for the Preview Changes dialog? I did not click "Preview Changes". I clicked the "Solution" link.

Another point: If I undo all the changes via CTRL+Z, it also takes a lot of time. Yes, this is understandable. But during undo action, Visual Studio is not responding. Please see screenshot below. So here w

[2015-05-12 07:52] heejaechang commented on #2637
@robinsedlaczek ah, you are right. "Fix All" preview is not Async operation @mavasani @shyamnamboodiripad we should consider making it Async as well.

and yes, we should show some kind of progress bar for undo as well even though undo is not cancellable action.

[2015-05-12 07:53] robinsedlaczek commented on #2637
Sounds great! :)

[2015-05-12 08:09] japj commented on #2635
Ok, thanks for the information.
Is the razor/aspx integration for doing this available somewhere? Or is there a good sample that shows how something like this could be done?

[2015-05-12 11:45] petr-k commented on #1041
@jaredpar If that's the unfortunate case, is there an *unsupported* way of doing this?

[2015-05-12 13:20] ckpearson opened #2675 "Proposal: Support Signature Redefinition of an Anonymous Method"
Currently when providing a delegate, you can substitute a method group, so (types are included for visibility, I'm aware they can be omitted):

[code]

can be rewritten as:

[code]

This gets a bit tricky if you end up with a signature that has arguments you're not interested in at that point, e.g.

[code]

I'd like to be able to do something akin to:

[code]

whereby the signature of `(ignore,ign

[2015-05-12 13:50] bkoelman commented on #2658
Possibly related to #1947.

[2015-05-12 14:13] DustinCampbell commented on #2235
Hey @bkoelman -- we really gave C# Essentials a big push at Build and Ignite. At the moment, I don't think we'd pull this into the product. However, C# Essentials might be a nice staging ground for analyzers and fixers that eventually *do* make their way into the product. Are you interested in submitting your changes to the UseNameOfAnalyzer over at http://github.com/DustinCampbell/CSharpEssential

[2015-05-12 14:46] pharring commented on #2636
@Pilchie @mattwar this is interesting. Does the Visual Studio language service go through this code path? If so, I'm surprised we haven't noticed it before.

[2015-05-12 15:06] jrieken commented on #202
thanks!

[2015-05-12 15:59] tannergooding commented on #696
This is still repro'ing, the `ResolveAssemblyPath` method still returns `null` for `System.Collections.Immutable` and `System.Reflection.Metadata` as they have different version numbers as compared to the executing assembly (`Roslyn.Compilers.CompilerServer.UnitTests.dll`).

[2015-05-12 16:00] jaredpar commented on #696
@tannergooding this test is passing on all of our Jenkins machines and developer machines.  Can you provide an example of where this is causing a problem?

[2015-05-12 16:03] tannergooding commented on #696
@jaredpar, The daily standalone runs, where we test the bits inserted into the latest build of VS (so files are picked up from MSBuild\14.0\Bin, Common7\IDE\PrivateAssemblies, and Common7\IDE\CommonExtensions), as compared to the Jenkins or developer machines, which test the build itself (all files are in the working directory).

[2015-05-12 16:05] jaredpar commented on #696
@tannergooding I need more information here.  How does that impact the running of our unit tests (they run against our built binaries)?

Are our unit tests regularly run against binaries that are produced elsewhere?  If so how is this environment setup?

[2015-05-12 16:07] Pilchie commented on #2662
Moving to compiler for the asserts.  IDE is willing to live with the selection expansion to the whole with block for RTM.

[2015-05-12 16:08] svick commented on #2675
Syntax aside, I don't understand what is the goal of all this.

In what way is <code>element.Validate(someElement, (\_,ea&#96;) => messages.Add)</code> any better than `element.Validate(someElement, (_,ea) => messages.Add(ea))`?

[2015-05-12 16:09] Pilchie commented on #2654
@mattwar what do you think about the `SyntaxGenerator` in this case?

[2015-05-12 16:18] tannergooding commented on #696
@jaredpar, For our daily standalone tests, we take all of our tests and their dependencies, copy them to the test machine and then strip away everything that is inserted into VS (S.C.Immutable, S.R.Metadata, csc.exe, M.CodeAnalysis.*, etc...).

Binding redirects are provided so that the tests will pick up the inserted binaries instead (specifically, we provide CodeBase resolvers in the executable

[2015-05-12 16:22] mavasani commented on #2637
@robinsedlaczek Regarding the below:
_2.Wait... Wait.. Wait... :) (it took about 2 minutes for the Roslyn solution here until the Preview Changes dialog appeared)._

Well, that's expected if you working on a freshly opened solution. Building Roslyn.sln from command line takes about the same time, and we need to force diagnostics across entire solution to compute unnecessary usings, so you should e

[2015-05-12 16:23] Pilchie commented on #2636
Tag @jasonmalinowski too.  This code is not used by VS, but VS *does* set those flags when building to get references.

@mattwar Do you know why we're not passing them in `MSBuildWorkspace`?

[2015-05-12 16:25] Pilchie commented on #2635
The razor tooling is not public, but you might talk to @slaks about some of the work he did to host Roslyn in markdown editing for WebEssentials.

[2015-05-12 16:28] SLaks commented on #2635
The Razor editor, as well as my WE Markdown editor, is built on the HTMLX editor, which has its own wrapper around projection buffers (ContentTypeHandler & LanguageProjectionBuffer) that updates the projections based on source text.

You can see my [source](https://github.com/madskristensen/WebEssentials2015/tree/master/EditorExtensions/Markdown/Classify), and look at Microsoft.Web.Editor.dll in y

[2015-05-12 16:29] ckpearson commented on #2675
It's not directly, which is why I'm mostly spit-balling around the possibilities of something like this.

This may have been better placed as a comment instead of an issue against the proposal thread.

I guess ultimately what I'm asking is if there's a way of having some sort of partial application for anonymous methods to ease the need to explicitly call and pass arguments that aren't needed.

[2015-05-12 16:38] rchande opened #2677 "Unhelpful generate method suggestion"
[code]

Place the caret at the $$ and invoke the light bulb. The first suggestion is "Generate Method", which offers to generate a new overload of GetPosition where the parameter ```text``` is now an Object. Generate method probably shouldn't offer to generate methods from callsites with symbols that don't bind.

[2015-05-12 17:04] balajikris opened #2678 "Assert Fail while editing code : SemanticModel.TryGetSpeculativeSemanticModel() API returned false"
Code in the editor was something like this, was trying to invoke lightbulb to add missing `Import System.Runtime.CompilerServices`. very hard to repro, happened once but never again. But atleast, the stack has line numbers and source information.

[code]

[code]

[2015-05-12 17:10] jasonmalinowski commented on #2636
This was probably an oversight during some edit or refactoring. Strictly neither of those flags are necessary -- the process will work (perhaps slower, or with strange edge cases) regardless.

[2015-05-12 17:11] dpoeschl commented on #2516
Fixed by https://github.com/dotnet/roslyn/pull/2625 (I've been using the wrong "Fixes #xxx" notation)

[2015-05-12 17:11] #2516 closed

[2015-05-12 17:12] dpoeschl commented on #2516
@balajikris - Assigning to you for verification because you filed the issue originally. Thanks!

[2015-05-12 17:23] balajikris commented on #2516
thanks, will verify.

[2015-05-12 17:28] MattGertz commented on #66
Marking as verified as no new cases reported.

[2015-05-12 17:39] Joe4evr commented on #2675
Looks like a dupe of #2397 and #20.

[2015-05-12 17:48] mattwar commented on #2636
Those properties are meant to be passed in, so this is a bug.

[2015-05-12 17:57] jmarolf commented on #2652
filed internal bug 1170689

[2015-05-12 17:57] #2652 closed

[2015-05-12 17:59] nguerrera opened #2679 "Let nuget dependencies on Immutable and Metadata packages float"
Currently, the roslyn nuget packages depend on fixed versions of BCL packages.

See for example: http://www.nuget.org/packages/Microsoft.CodeAnalysis.Common/1.0.0-rc2

**Dependencies**
* System.Collections.Immutable (**=** 1.1.33-beta)
* System.Reflection.Metadata (**=** 1.0.18-beta)

Once you adopt the stable versions, these should **>=**. There won't be breaking changes and developers should be

[2015-05-12 18:05] robinsedlaczek commented on #2637
@mavasani Yes, I can live with that. And every experienced developer should know what it means to refactor a complete solution. But as I said, some progress indication would be cool to generate a fluent experience for the user. E.g. showing the files that are processed or something like that. Consider it for the upcoming milestone please.

[2015-05-12 18:08] mattwar commented on #2654
You can actually manipulate the accessors directly.

[code]

I'm not sure what would be the right behavior for the SyntaxGenerator to do when WithAccessiblity is called on a property where the accessors have independent accessibilities declared. Likely, this is an advanced scenario.

[2015-05-12 18:22] mavasani commented on #2654
@mattwar Let me try this for my fixer/skipped tests. I am assuming this will handle cases where:

1. Accessibility modifiers are not valid on accessors (e.g. events).
2. Existing, more restrictive accessibility modifiers on accessors are removed.
3. No new modifiers are added if the original accessor had no explicit accessibility modifiers.

[2015-05-12 18:25] mattwar commented on #2658
SyntaxEditor doesn't add any trivia explicitly. It is more likely a formatting issue caused by marker trivia introduced with the new modifier token.

[2015-05-12 18:26] #814 closed

[2015-05-12 18:27] mattwar commented on #2654
@mavasani it will just do what you tell it to do.

[2015-05-12 18:28] gafter commented on #814
@AlekseyTs Please Verify.

[2015-05-12 18:39] mavasani opened #2683 "Improve the analyzer load failure diagnostics: CS8032, CS8033 and CS8034"
Currently, the diagnostics generated for analyzer load or instantiation issues are too generic and not to helpful to diagnose the root cause of failure. We have 3 of them (and corresponding VB counterparts), all of which can be enhanced:

1) **CS8032**, i.e. `WRN_AnalyzerCannotBeCreated = 8032` (http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp/Errors/ErrorCode.cs,1269) invariably has the bel

[2015-05-12 19:03] MattGertz commented on #447
Agree appears fixed -- can't repro it.

[2015-05-12 19:16] MattGertz commented on #642
Verified both C# and VB.

[2015-05-12 19:31] shyamnamboodiripad commented on #2637
@heejaechang Yes this would be nice. We should discuss this with folks on the editor side for I think we will need editor API changes for this. Each action for Fix All is actually an ISuggestedAction (just like the top level ISuggestedAction for the primary suggestion in the light bulb menu). To make the preview for Fix All async, we would have to make ISuggestedAction.Invoke() async. But doing th

[2015-05-12 19:40] heejaechang commented on #2637
@shyamnamboodiripad well, since now RTM is just another release, I dont think it not in 1.0 is that unfortunate. I think releasing features as they are ready is way better than before where even already done feature has to wait until RTM. or fix was to wait another 1~2 year.

...

also, for Fix All preview window, is making Invoke Async is only way? is it because we need to invoke it to determine

[2015-05-12 19:42] #2604 closed

[2015-05-12 19:43] AlekseyTs commented on #2604
@VSadov Please verify.

[2015-05-12 19:47] shyamnamboodiripad commented on #2637
@heejaechang :+1: about relasing features as they become ready :)

Also, I think you are right we should be able to invoke the action asynchronously on our side for our actions. But if we wanted the solution to be general for any links (flavored actions) that providers can show in the preview pane, then shouldn't the progress bar to be on the editor side?

[2015-05-12 19:50] heejaechang commented on #2637
@shyamnamboodiripad ya, I think progress bar should be something platform provide. not us. same for other progress bar we mentioned above as well.

[2015-05-12 20:12] mavasani opened #2684 "Fix VS IDE live analysis to replicate analyzer behavior with no explicit dependencies"
Git commit #2502 changed VBCSCompiler.exe to reject builds where an analyzer dependency is not explicitly specified. The fallback for this is to use the standalone csc.exe/vbc.exe which runs in a separate process and uses `Assembly.LoadFrom` to load analyzer assemblies. So, if the analyzer dependency is actually packaged with the analyzer and present in the same folder, the fallback path successfu

[2015-05-12 20:29] govert commented on #161
I would like to suggest a poor-man's version of this feature, where the existing `IDisposable` / `using` mechanism is extended by compiler help and syntactic sugar to assist with some of the specific problems in current use. This would be a bit like the FxCop rules, but built into the compiler, improving the use of the current feature but not providing hard guarantees. For example:

1. Add an attr

[2015-05-12 20:32] tmeschter commented on #2684
Note that the "fix" here will be for VS to be very explicit about what is missing. It will not be as lenient as csc.exe and vbc.exe are about loading the missing dependencies.

[2015-05-12 20:35] #854 closed

[2015-05-12 20:36] mavasani commented on #2684
@tmeschter We still need to make sure that the behavior is consistent to a reasonable extent. The current behavior is probably ok if it were for a very corner case scenario, but otherwise the current IDE behavior is going to be extremely confusing.

Can you expand on this _"Note that the "fix" here will be for VS to be very explicit about what is missing"_? How do you plan to fix this?

[2015-05-12 20:37] #1316 closed

[2015-05-12 20:38] paulomorgado commented on #161
1. So, instances of this cannot be created by factory methods.
2. So, instances of this cannot be created by factory methods. And no wrapper classes are allowed.
3. Can you elaborate on that?
4. Can you provide sample code?
5. How would you do that?

[2015-05-12 20:40] mavasani commented on #2684
Also note that the ruleset editor will not show any rules from this analyzer assembly if the missing dependency is required for creating descriptors.

[2015-05-12 20:53] MattGertz commented on #1253
@VSadov I am still seeing this issue in baseline build 22905.00 (Roslyn 20150508.2)

[2015-05-12 21:01] govert commented on #161
1. Can the compiler check the call graph to ensure that the factory method is at some point made from a `using` callsite? Again, I see this at about the same level as a warning for a variable that is declared but never used, so use outside the expected scope is OK, but just generates a warning.

2. Wrapper classes should be OK. But the same story - the compiler does what it can, generated warning

[2015-05-12 21:45] amcasey commented on #2188
Consider the following method:

[code]

In the body of M, we’ll display a row in the Locals window for ```u```.  As far as I can tell, none of the values passed to ```IDkmClrResultProvider.GetResult``` indicate that the declared type of ```u``` was ```U```.  As a result, the full names of ```u```'s children (i.e. the members of the runtime type of ```u```, ```Bag``` in the bug) generate C# express

[2015-05-12 21:49] paulomorgado commented on #161
1. What if the factory method is in a library for third party use (like a class in the .NET framework)?
2. What if the wrapper class is in a library for third party use (like a class in the .NET framework)?
3. What if there are more than one disposable and order of disposal is important?
4. What if the disposable is something like `TransactionScope` that is not really used inside the `using` state

[2015-05-12 21:57] tmeschter commented on #2684
@mavasani in order to explain the design decisions that have been made, it's probably worth reviewing the relevant requirements and a realistic scenario.

Principles:

1. If the build inputs are consistent, the build outputs must be consistent as well. "Outputs" include the generated .dll/.pdb/.xml/etc. files, of course, but also the overall success or failure, and the errors/warnings/messages gen

[2015-05-12 22:15] govert commented on #161
For your 1. and 2. I understand your concern is some method like:
[code]
This code should not raise a warning, since it returns the `IDisposable`. The warning is raised where an `IDisposable` is assigned to a local variable or non-special field, not returned from the function and not under a `using`.

For 3. The order of disposal is in the declaration order. For another order, implement `Dispose()

[2015-05-12 22:55] tmat commented on #2272
We should stop using Reflection.Emit in scripting scenarios.

[2015-05-12 23:04] davkean opened #2689 "Expression Evaluator should tell me that the compiler threw away locals"
C# (and probably VB) performs a lot more optimizations in Roslyn than the previous compilers. In particular, it's more aggressive at throwing away locals when passing /o+. This bug is not about discussing the merits of this, but rather the fallout in the debugger when it does this.

I ran into this today, debugging the following:

![image](https://cloud.githubusercontent.com/assets/1103906/7600296

[2015-05-12 23:11] amcasey opened #2690 "Consider implicitly importing System.Linq in the DTEE to simplify linq queries"
[code]

Note that pulling in System.Core.dll on demand doesn't help if you don't have the import.

[2015-05-12 23:12] mavasani commented on #2684
@tmeschter Thanks for the detailed explanation. I agree with almost all of what you have said. However, I don't think VS and build inconsistency are acceptable for the following scenario:

1. I have multiple analyzer assemblies, say "Analyzer1.dll", "Analyzer2.dll", etc. and a shared assembly for resource strings for their descriptors, say "AnalyzerResourcesCore.dll".

2. I add all the "AnalyzerXX

[2015-05-12 23:16] tmat opened #2691 "Invalid simplifications"
The IDE incorrectly considers casts (float*) and (uint) to be unnecessary in the following cases:

[code]

[code]

[2015-05-12 23:22] tmat commented on #2691
Consider this P1. These are dangerous incorrect refactorings.

[2015-05-12 23:27] amcasey commented on #2690
To access the DTEE, create a VB class library project and open the Immediate window (Debug > Windows > Immediate).

[2015-05-12 23:30] tmat opened #2694 "Invalid simplification"
The IDE incorrectly considers cast (uint) to be unnecessary in this case.

[code]

Without the cast the compiler reports a warning:
[code]

[2015-05-12 23:33] shyamnamboodiripad opened #2695 "Include link to install visualizer VSIX in bread crumb"
At some point I think we were going to merge the syntax visualizer VSIX into the project templates VSIX.

But currently they are two separate VSIXes that analyzer authors would need to install. The breadcrumb that we have in VSSDK today only includes a link to install the project templates and there is no mention of the visualizer. This means users have to search online and figure out the correct

[2015-05-12 23:34] shyamnamboodiripad commented on #2695
cc @jmarolf @srivatsn

[2015-05-12 23:45] OmarElabd opened #2696 "Proposal: Add support for appending ! to method names to denote method mutates object passed in."
This comes straight out from ruby conventions for denoting methods with side affects. That is that the method will modify the object is it called on.

Consider the two following methods which double the size of a square, the first one is "dangerous" as it mutates the object that is passed in.

[code]

The second method does not make any changes to the original object and is "safer".

[code]

The c

[2015-05-13 00:42] shyamnamboodiripad opened #2697 "Dashboard for analyzer management"
Today, when we have a crash from a code fix, we display the following yellow info bar
![capture](https://cloud.githubusercontent.com/assets/10579684/7601557/adba08a2-f8cc-11e4-80b2-bd0551187dc3.PNG)

Internally we log the error (with stack trace) to the activity log - but there is no link / text pointing to the activity log in the displayed info bar. This means that the fix refactoring author has

[2015-05-13 01:18] Suchiman opened #2700 "VS2015 RC: IntelliSense randomly breaks, complaining about missing references"
In VS 2015 RC (did also happen in CTP 6, not sure if it started in CTP 6 or in the previous one) IntelliSense breaks apparently randomly, telling me that i must add references to system assemblies. This doesn't seem to affect nuget packages or my own libraries. Compiling still works fine but i get a ton of:
[code]
While i can't remember having gotten any error notification in CTP 6, VS 2015 RC tol

[2015-05-13 01:27] jmarolf commented on #2700
I believe pull request #2607 will fix the IndexOutOfRangeException problem. However, a crashing analyzer shouldn't cause intellisense to break.

[2015-05-13 03:22] jasonmalinowski commented on #2666
And @jakesys fixed this with pull request #2669.

[2015-05-13 03:22] #2666 closed

[2015-05-13 03:38] VSadov commented on #1253
Must be something new. It does not repro on my machine, but my build is older than the baseline.

[2015-05-13 08:42] ckpearson commented on #2675
:+1: #20 looks the closest! Particularly the suggestion from @HaloFour about using `*` to omit additional arguments in a lambda.

[2015-05-13 11:41] xunilrj commented on #2550
@HaloFour
when you say "a little Cω" do you suggest something like Cω Chords?
https://github.com/dotnet/roslyn/issues/1165

I am thinking somethig more like how LINQ works with IQueryProvider that would allow the Cω Chords to implemented, maybe something like MethodChordsProvider.

This first part of this post illustrates this:
http://community.bartdesmet.net/blogs/bart/archive/2009/08/11/statemen

[2015-05-13 12:44] paulomorgado commented on #2696
!like

[2015-05-13 13:00] dsaf commented on #2696
Practically, here and today, you can just use the JetBrains's one, which will give you a proper IDE support: http://www.jetbrains.com/resharper/webhelp80/Reference__Code_Annotation_Attributes.html#PureAttribute

Even Entity Framework 7 team is using those:

https://github.com/aspnet/EntityFramework/search?q=jetbrains

Besides that:

1. Have you seen the language-level contracts proposal #119?

2.

[2015-05-13 13:29] paulomorgado commented on #2696
How would delegates work? Wold they require that `!` too? What would this code mean then?

    d1!=d2

Is it a boolean expression or a statement?

Can I assign a non `!` delegate with a `!` method?

What about overloads? Is `Method!` and overload of `Method`, or does it belong to another method group?

Is this `!` mainly cosmetic (like prefixing fields with `_`) or does it have a meaning in the la

[2015-05-13 13:34] OmarElabd commented on #2696
@paulomorgado it doesn't need to necessarily be a ! it could be anything, just some indication that a method is dangerous. I would think that they would infact be overloaded in the scenario you mentioned. I would think it would be cosmetic/conventional but could be worked into things such as CodeContracts and tools like ReSharper could provide hints to the user as well.

[2015-05-13 13:44] mavasani opened #2706 "Add support for workspace/VS based diagnostic analyzers"
We have recently had multiple internal and public requests to add support for analyzers that are based on workspace/VS and are primarily designed to run in Visual Studio IDE. The primary features being requested are:

1. Analyzers have workspace/project/document context in which they are executing (for example, for a syntax node action callback, which document does the syntax node belong to?)

2.

[2015-05-13 14:20] HaloFour commented on #2696
Considering that "not-safe" or "not-pure" is the default today I think changing the syntax required to specify that default is a bit of a non-starter.  It would require that the majority of code be modified in order to support this syntax, even if it were opt-in.

How does this not have the same problem that decorating a method with `PureAttribute` doesn't?  It would have to be encoded as an attri

[2015-05-13 14:55] mavasani opened #2707 "Adding the missing analyzer dependency as analyzer in VS doesn't re-trigger analyzer execution"
1) Create a C# analyzer + code fix project, say _Analyzer.csproj_.

2) Add a new portable C# class library project to the solution, say _AnalyzerDependency.csproj_. Define a new public string field called _Title_ in the default class with any string initializer.

3) Add a project reference from Analyzer.csproj to AnalyzerDependency.csproj

4) Replace the default _Title_ field in the DiagnosticAnal

[2015-05-13 14:59] bbarry commented on #161
@govert I think that code should raise a warning. The IDisposable semantics are not being recognized in that method somehow. You should do something explicit to not get it:

Given:

    [RequiresUsing] public class A : IDisposable {...}

This should give a warning to the effect of *IDisposable instance marked with RequiresUsingAttribute not disposed*

    public A CreateA()
    {
        var a = n

[2015-05-13 15:43] tmeschter commented on #2684
@mavasani Regardless of anything else, VS needs to give you a warning like  "`Analyzer1` depends on `AnalyzerResourcesCore, Version=1.0.0,0, Culture=null, PublicKey=...` but it was not found in the list of analyzers; did you mean to include `C:\Foo\AnalyzerResourcesCore.dll`?". That explains the problem and guides the user to do the right thing.

What I'm suggesting is that we don't need to go fur

[2015-05-13 16:15] sharwell opened #2709 "Make FixAllContext constructor(s) public"
Currently the constructors for `FixAllContext` are not public, which makes it very difficult to test a fix all provider. While this has been mentioned in other issues, I wanted to make sure the higher priority issue of simply exposing these constructors can be addressed separately.

This directly affects #1576 and #2020, as well as a variety of issues posted on other issue trackers and mailing lis

[2015-05-13 16:37] KevinH-MS commented on #2272
Fixed with 8e61348

[2015-05-13 16:37] #2272 closed

[2015-05-13 16:39] mavasani opened #2710 "Exclude "System.Composition.*" assemblies from Diagnostic.nuspec for the analyzer + code fix template project"
`Diagnostic.nuspec` file for the analyzer + code fix template project packages the following files:

[code]

The exclude list should be updated to include _"System.Composition.*"_ assemblies, otherwise installing the nuget package also includes these System assemblies as analyzers:

![analyzer_nuget_packaging](https://cloud.githubusercontent.com/assets/10605811/7615635/b74c91be-f953-11e4-85f4-753a

[2015-05-13 16:44] mavasani commented on #2684
@tmeschter I agree with you. As long as we generate the diagnostic about missing dependency, the behavior difference is acceptable, especially given that the nuget package mode isn't affected by this.

A related question though: How will we deal with analyzers that have separate resource assemblies for localized resources, rather than embedded resources? I am presuming we cannot add all the resour

[2015-05-13 16:47] gafter commented on #2641
This is regarding the line

[code]

The desired comment is something like

[2015-05-13 17:01] tmeschter commented on #2684
@mavasani Resource assemblies do not need to be (and should not be) specified as analyzers. Instead we rely on the fact that the CLR only looks for resource assemblies in a small set of well-known locations relative to the primary assembly. In the situations where we shadow copy the primary assembly, we also look for and copy resources assemblies to the same relative locations. The CLR then finds

[2015-05-13 17:02] mavasani commented on #2684
Great thanks!

[2015-05-13 17:04] Pilchie commented on #2700
The CS0012 errors are likely caused by the same issue as #1373.  This was fixed in MSBuild after the fork for RC, but you can work around it by adding:

[code]

To your .csproj file in the `<PropertyGroup>` at the top without any conditions.

[2015-05-13 17:04] #2700 closed

[2015-05-13 17:09] ManishJayaswal commented on #228
@srivatsn @mavasani @tmeschter  Moved this to 1.1 milestone

[2015-05-13 17:19] #2631 closed

[2015-05-13 17:47] tmat commented on #2679
I have changed the nuspec. Should be updated when we push nugets to nuget.org.

[2015-05-13 18:08] rchande opened #2714 "VB autoformat misformats second line of attributes"
Paste a method declaration with multiple lines of attributes into a VB file (something like this):

[code]
After the formatter runs, the second line of attributes is moved out to the margin of the file instead of being indented:

[code]

[2015-05-13 18:15] OmarElabd commented on #2696
@HaloFour I'm proposing that it explicitly not be implemented as an attribute as that has issues (i mention them in the original post). Calling an Expand!() method tells every caller that the method can cause side effects to object your passing in. This does not need to be enforced by the compiler it can just be convention for users.

As a user it is extremely useful for me to know that the method

[2015-05-13 18:22] HaloFour commented on #2696
So really this proposal is to permit the use of the `!` character in an identifier and no behavior is implied.  Why not just select a convention based on already legal identifier characters?

[2015-05-13 18:27] OmarElabd commented on #2696
@HaloFour Ruby already has this convention, i think it makes more sense to adopt it directly from Ruby as a lot of people can infer what it is implied by the !.

And eventually perhaps compiler behaviour can be added to support it, not only as a convention but maybe someday as a feature.

[2015-05-13 18:40] HaloFour commented on #2696
I'd rather a C-family convention, which would be marking "pure" methods as "pure" and not vice-versa.  Attributes are already provided for this effect.  Ruby is a very different language syntactically and behaviorally.  I doubt that there is all that much cross-over and I doubt that most C# programmers would understand this `!` convention.  Changing how it behaves after-the-fact would also represe

[2015-05-13 18:43] tmat opened #2717 "EnC: Update affected call-sites when a member is added"
Repro:

[code]

Step into the Main method:

Before stepping into Foo, uncomment the nested class B declaration (just above the method Main).
Step into Foo.

ACTUAL: The debugger steps into the first Foo overload.
EXPECTED: The debugger steps into the second Foo overload, because the overload resolution result was changed by adding the nested class B declaration.

[code]

[2015-05-13 18:51] gafter commented on #2549
The corresponding code in VB has no problem.

[code]

[2015-05-13 18:52] OmarElabd commented on #2696
@HaloFour An attribute doesn't tell me anything about the code i'm about to call unless i look at the source code, which may involve decompiling and inspecting the calling method it's compiled into a dll.
A symbol is far more appropriate for the following two reasons:

1. It is in the method name so anyone can see it (no need to decompile dlls to inspect attributes)
2. A symbol is more useful than

[2015-05-13 19:01] srivatsn commented on #2710
Why are the composition dlls in the tools\analyzers directory? That itself seems like a bug.

[2015-05-13 19:10] HaloFour commented on #2696
1.  When do you ever have to decompile an assembly in order to inspect the attributes?  They are available front-and-center via reflection and very easily available to any IDE which can denote these methods differently.  A name would certainly be more easy to read from a plain-text editor with no reflective/completion capabilities.
1.  A symbol might be more useful, but it's still just a name.  As

[2015-05-13 19:16] HaloFour commented on #2696
Anywho I think we'll just have to agree to disagree.  I do agree that there is value in being able to easily identify methods that are pure/mutating as well as have the compiler/analyzers provide better diagnostics around them.

[2015-05-13 19:18] OmarElabd commented on #2696
@HaloFour I appreciate you bringing up those points, it's always good to get a look at the other side of things.

[2015-05-13 19:19] paulomorgado commented on #2696
@OmarElabd, you can always use `_` instead of `!` in your code if that pattern fits your preference.

[2015-05-13 19:36] #2623 closed

[2015-05-13 19:45] #2549 closed

[2015-05-13 19:49] jmarolf commented on #2710
By default VSIX and nuget packagers copy everything from the output directory.  The fix here is simple, just add the additional filtering logic.  Do we now show assemblies even if they have no analyzers? What if an assembly is a dependency only, do we show it in solution explorer?

[2015-05-13 19:52] mavasani commented on #2710
@jmarolf Yes, analyzer dependencies with no analyzers are also shown in the solution explorer, as the screenshot shows.
@tmeschter can probably confirm if this is the desired behavior...

[2015-05-13 19:56] sharwell commented on #2710
Two things here:

1. Rather than use a wildcard include, why not use `<file src="{actual assembly name}.dll"/>`? If the user adds dependencies that need to be included in the package, updating the **.nuspec** is straightforward.
2. The [Tvl.NuGet.BuildTasks](https://www.nuget.org/packages/Tvl.NuGet.BuildTasks/) package allows you to add items to a project with the `NuGetManifest` item type, and it

[2015-05-13 19:58] sharwell commented on #2710
This is the MSBuild output for "Minimal" when you are using the build tasks described in my previous comment for the AsyncUsageAnalyzers project:

[code]

[2015-05-13 20:04] mavasani commented on #2710
@sharwell This particular step: _"If the user adds dependencies that need to be included in the package, updating the .nuspec is straightforward."_ might not be obvious to all analyzer authors, and the end user would end up running against analyzer load failures at runtime. Current behavior is more conservative and hence probably more desirable, but I'd let others comment on their preference.

[2015-05-13 20:14] KalitaAlexey opened #2718 "[Proposal] Operator |> to return this after method"
There are proposals whose suggest to allow mark method as returning this.
I suggest operator |>, which write classes without thought about returning this.

[code]

And using of operator |>

[code]

All real returned values must be suppressed.
This expression cannot be assigned to
It will be helpful when target object path is long

[code]

[2015-05-13 20:18] dsaf commented on #2696
@HaloFour @OmarElabd

I now think you are both right, in a way that the new syntax is not needed but the attributes are not  visible to consuming developers in any useful manner.

I have already asked the Roslyn team to address this unfortunate problem, but they are reluctant. As if they see attributes as some necessary evil that must be swept under the carpet #711.

@HaloFour

Could you then plea

[2015-05-13 20:23] amcasey opened #2720 "Incorrect dynamic context emitted for dynamic calls in async lambdas"
[code]

Dev12 has ```ldtoken C``` whereas Roslyn produces ```ldtoken C/'<>c__DisplayClass0_0'/'<<Main>b__0>d'```.

[2015-05-13 20:24] KevinH-MS commented on #871
Hi @ViIvanov, I'm not sure exactly which commit fixed this, but you should be able to see it working correctly in Visual Studio 2015 RC (https://www.visualstudio.com/en-us/downloads/visual-studio-2015-downloads-vs.aspx).

[2015-05-13 20:24] #871 closed

[2015-05-13 20:29] tmat opened #2721 "Remove ReflectionEmitter"
Related internal bug: 949559

[2015-05-13 20:37] amcasey commented on #2720
A fix will probably fall out of some EE work I'm doing.

[2015-05-13 20:39] gafter commented on #1253
@MattGertz I was unable to repro the compiler crash with recent versions of Roslyn. The source code in this test should fail to compile, but not crash the compiler. There is a unit test checked in with this precise test. Here is the result of testing it by hand using the command-line compiler.

[code]

What issue were you seeing when you tried to verify this?

[2015-05-13 20:43] HaloFour commented on #2696
@dsaf

You're right that VS doesn't provide any visual indication of pure methods or for arbitrary attributes today.  You'd need an extension which should be fairly trivial to write.

If/when the Roslyn team does decide to pick up proper support for "pure" methods I'd hope that they would consider ways to identify them better in the IDE.

[2015-05-13 20:44] tmat commented on #2225
More issues with the same repro:
1) After applying the rename change the EE still displays "f1", not "g1".
2) Step twice after applying the change. TypeLoadException Could not load type "Invalid_Token.0x02000000" is thrown.
3) Moving IP to the open brace of M's body kills thhe debugging session and produces an error:
"Unable to set the next statement. Operation not supported. Unknown error: 0x8971

[2015-05-13 20:46] OmarElabd commented on #2696
@HaloFour
that's not entirely accurate though. Not only would you need to write <b>an</b> extension for Visual Studio. If you really wanted to support it you'd need to write it for Visual Studio Code, Xamarin's IDE, Notepad++, Sublime, etc...

[2015-05-13 20:58] HaloFour commented on #2696
@OmarElabd

Sure, but they each have to do their own thing as it is to support basic syntax highlighting and code completion.  Indeed it's not as obvious as something like a naming convention.

Is a naming convention applied this late in the game really any better, though?  Especially one where the *undecorated* methods are assumed to be "safe/pure"?  The vast, vast majority of methods called aren

[2015-05-13 21:11] brettfo commented on #1006
Haven't seen this repro so I'm marking it as verified.

[2015-05-13 21:19] gafter opened #2725 "Await in catch and finally accepted in langversion 5"
The Roslyn C# compiler accepts await in catch and finally blocks even in language version 5. It should be an error unless in language version 6 or higher.

[2015-05-13 21:21] tmat opened #2726 "EnC: Local rename causes TypeLoadException"
Run to break. Rename 'h' to 'g'. Step twice.

[code]

Actual:
[code]

[2015-05-13 21:22] OmarElabd commented on #2696
@HaloFour Why not both? '!' for unsafe '*' for safe? That way the lack of an operator implies nothing, but the presence of one immediately tells you something.

[2015-05-13 21:29] #694 closed

[2015-05-13 21:30] #1947 closed

[2015-05-13 21:32] mattwar commented on #2658
Fixed with #2701

[2015-05-13 21:32] #2658 closed

[2015-05-13 21:38] ViIvanov commented on #871
Hello @KevinH-MS! I just tried it and it works fine! Thanks a lot!

[2015-05-13 21:41] dpoeschl commented on #2631
Works great. Thanks.

[2015-05-13 21:48] MattGertz commented on #1253
@gafter @VSadov I saw the compiler crash dialog as soon as I compiled the code with unsafe.  I can demonstrate on my machine.

[2015-05-13 21:51] HaloFour commented on #2696
@OmarElabd Why not `Pure` and `Unpure` or `P` and `U`, which are perfectly valid today?  Why does it have to involve changing the C# spec to include characters explicitly forbidden in the CLS naming guidelines due to potential parsing problems with other CLR languages?

[2015-05-13 22:02] mattwar commented on #2557
If you change the code to call format on the new tree root after you've replaced the new method, instead of formatting the method and then replacing it into the tree, you will get the correct formatting.

[code]

[2015-05-13 22:02] #2557 closed

[2015-05-13 22:02] #2616 closed

[2015-05-13 22:02] #2650 closed

[2015-05-13 22:03] dharmatech commented on #2718
Dart accomplished something similar with [method cascades](http://news.dartlang.org/2012/02/method-cascades-in-dart-posted-by-gilad.html). There's a [user voice](https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/5182443-add-method-cascades-to-c) for adding method cascades to C#.

[2015-05-13 22:07] Pilchie commented on #2725
Why?  C# 6 is where we added that support.

[2015-05-13 22:10] Vannevelj commented on #2557
I don't know what to tell you, but that doesn't work according to my unit tests. Is there any chance this is solved in an unreleased update? Am I supposed to update something myself?

If you feel like testing my specific scenario, you can find the code here: https://github.com/Vannevelj/VSDiagnostics.

[2015-05-13 22:16] tmeschter commented on #2281
I haven't been able to reproduce this with a VSPro_Platform build using the analyzers from the corresponding build of Roslyn. However, this is the sort of error I would expect if there were a binary mismatch between the two (that is, the analyzers were built against a newer/older drop of Roslyn than what is installed with VS).

[2015-05-13 22:16] #2281 closed

[2015-05-13 22:17] mavasani opened #2728 "Unhelpful warning when an analyzer could not be loaded because another version of analyzer was loaded for a different project"
1. Create a C# diagnostic + code fix project (I have "Analyzer5" for this repro) and build solution.

2. In a new VS instance, create another C# diagnostic + code fix project (I have "Analyzer6" for this repro).

3. Rename the output assembly name and default namespace for Analyzer6 project to "Analyzer5" through project property pages. Build solution.

4. In a new VS instance, create a new soluti

[2015-05-13 22:39] tmeschter commented on #1601
Ah, I see. We may not be informed when renaming files that are part of the solution but not part of a project. And when we are informed, we only update the projects where the .ruleset was included as an item.

[2015-05-13 22:43] gafter commented on #926
@tmat Can you please verify that this works?

[2015-05-13 22:44] OmarElabd commented on #2696
@HaloFour the biggest issue is we do not want to mistake previously written libraries and code as pure/unpure. An existing method called RetrievePure() would be misconstrued as a pure method when it is not because Pure in this case (that is in the RetrievePure() method) is actually an acronym or something else. Whereas because special characters have never been allowed previously in method names t

[2015-05-13 22:44] #2232 closed

[2015-05-13 22:45] shyamnamboodiripad commented on #2232
@mavasani could you verify this please?

[2015-05-13 22:50] tmat commented on #2225
Can't be reproduced anymore since #2731 disallows renaming captured local.

[2015-05-13 22:50] #2225 closed

[2015-05-13 22:51] Pilchie commented on #2677
Moving to analyzers for consideration in 1.0.

[2015-05-13 23:07] #2435 closed

[2015-05-13 23:10] svick opened #2735 "Incorrect compiler error for method with async/non-async delegate overloads"
Assuming the following two declarations:

[code]

The code:

[code]

Causes the errors:

While the code:

[code]

Causes the error:

In both cases, the code is wrong, but the reported error is bogus: the lambda parameter is okay, it's the second parameter that causes the compilation to fail (`string` passed in instead of `int`), so that's what should be reported.

I'm using VS 2015 RC and the late

[2015-05-13 23:10] tmat opened #2736 "VB: superfluous sequence point in iterator function"
In the following console app, place breakpoint as indicated, step once.

[code]

Actual:
The current IP doesn't move. Next step moves it to "Dim Q = 1"

Expected:
The current IP is at "Dim Q = 1".

[2015-05-13 23:14] tmat commented on #2736
There are 2 sequence point at
[code]

[code]

Should be just one.

[2015-05-13 23:18] gafter commented on #2725
I meant 5.

[2015-05-13 23:19] tmat opened #2737 "VB EE after EnC: Renaming local in iterator/async method"
In below console app, set breakpoints as indicated, F5, rename "q" to "Q" and change WriteLine(1) to WriteLine(2), F5 again. The output is "2" so the change has been applied. However the EE doesn't display "Q" or "q" in locals. Evaluation of "Q" expression also fails to bind the local.

[code]

[2015-05-13 23:20] tmat commented on #2737
@amcasey Another rename issue.

[2015-05-13 23:21] dpoeschl commented on #1795
@tmat I should have assigned this to you when I added the "Resolution-Not Reproducible" resolution. Sorry about that.

[2015-05-13 23:36] HaloFour commented on #2696
@OmarElabd But `*` and `!` wouldn't mean "pure" and "not pure", at least where the compiler is concerned.  They would just be normal identifiers like any other that anyone could use/abuse for any purpose and despite what little convention is already set by the BCL.  It would also likely produce bizarre parsing problems in various languages since they have no reason to expect a method to contain th

[2015-05-13 23:49] mavasani opened #2738 "Duplicate AnalyzerDependencyConflict diagnostics and possibly unnecessary analyzer assembly loading just to detect dependency conflicts"
1. Create a C# diagnostic + code fix project (I have "Analyzer5" for this repro).

2. Add 2 portable class library projects to the solution, say "AnalyzerDependency_1" and "AnalyzerDependency_2". Add P2P reference from AnalyzerDependency_1 to AnalyzerDependency_2. Add the below code snippets to respective projects:

    1. AnalyzerDependency_2:
[code]

    2. AnalyzerDependency_1:
[code]

3. Add P

[2015-05-13 23:56] dpoeschl commented on #784
@brettfo Can you verify in @basoundr's absence? Thanks!

[2015-05-13 23:57] dpoeschl commented on #496
@rchande Please Verify. Thanks!

[2015-05-13 23:57] gafter commented on #1253
@MattGertz Have you installed a recent version of the Microsoft.Net.Compilers package?

[2015-05-14 00:03] dpoeschl commented on #1053
@balajikris Can you verify this? Thanks!

[2015-05-14 00:53] #2567 closed

[2015-05-14 00:54] #2726 closed

[2015-05-14 00:54] gafter commented on #2567
@mattwar Please verify that this is fixed.

[2015-05-14 02:11] rchande commented on #496
Looks good. Thanks @dpoeschl!

[2015-05-14 03:12] KalitaAlexey commented on #2718
Yeah. Method cascades are good.

[2015-05-14 06:03] KirillOsenkov commented on #926
I don't know what's the latest on this but last time I tried there were 6 bytes that weren't deterministic: #2422

Given that bug is a Won't Fix, @gafter, when you say "verify that this works", what do you mean?

[2015-05-14 06:03] KirillOsenkov commented on #926
But then again, as I said before, even without deterministic .pdbs we hope to extract tremendous value from deterministic PE files.

[2015-05-14 06:10] gafter commented on #926
I mean please verify that the PDBs have deterministic GUIDs.

[2015-05-14 06:29] KirillOsenkov commented on #926
GUIDs seem to be deterministic, at least on a simple console app I tried!

[2015-05-14 06:40] gafter commented on #926
Thanks, @KirillOsenkov .

[2015-05-14 08:50] Przemyslaw-W commented on #2718
It's a bit like With statement in VB, which I think is not planned for c#
at all

2015-05-14 5:12 GMT+02:00 Alexey <notifications@github.com>:

[2015-05-14 10:11] AdamSpeight2008 commented on #2696
It's going to get confusing since there are already proposal in which '!` denotes **non-null**

[2015-05-14 12:28] AdamSpeight2008 opened #2744 "Greatest Common SubType Inference + Array Literal"
If you look at the object graph below you can see that `TextRule` inherits `RuleDef`
![ruledef](https://cloud.githubusercontent.com/assets/900107/7631242/5c6b1006-fa37-11e4-8cef-4303d42fa617.jpg)

So it would be logical sense the when using on in an array literal with other `RuleDef`'s that the inferred type of the array should be `RuleDef()` but on examination the declared type is `Object()`.

![

[2015-05-14 13:14] giggio commented on #2709
Nice! And I can see it is already being fixed!

[2015-05-14 14:52] AdamSpeight2008 opened #2745 "Self-Reference in Collection Intialiser"
Minimal Repo
[code]
Gives the warning.
`Variable 'd' is used before it has been assigned a value. A null reference exception could result at runtime.`

But according to [MSDN Documentation:Collection Initializers (Visual Basic)](https://msdn.microsoft.com/en-us/library/dd293617.aspx)

So according the language's specification the code I provided at the start, should be equivalent to
[code]
This do

[2015-05-14 15:00] HaloFour commented on #2745
I think the question there is when `d` is expected to be assigned the collection.  To my knowledge the collection initializer is to be treated as if it is initializing a temporary variable with the collection and not the final variable until the initialization is complete.  The equivalent code would then be:

[code]

[2015-05-14 15:08] AdamSpeight2008 commented on #2745
That quoted section is taken straight out of the Visual Basic Language Specification.

[2015-05-14 15:12] HaloFour commented on #2745
Yes, but that section does not state that collection  instance is assigned to the variable prior to performing the collection initializer, only that an `Add` method is called on the created instance.

[2015-05-14 15:25] AdamSpeight2008 commented on #2745
@HaloFour
It also states that the following code example are equivalent.
[code]

[code]
Which implies that `list` is initialized before the values are `add`ed to it. Thus implies that it can't be `null`
So if it's initialized and also not null, it means that you can refer to it. There's nothing in the specification *(that I can find)* that restricts / forbids the collection type from being refer t

[2015-05-14 16:12] tmeschter commented on #1601
Here's what should happen:

* If a project- or solution-level .ruleset is renamed, we need to update every `CodeAnalysisRuleSet` property containing the old name in every C# and VB project--even if the .ruleset isn't a file in the project.
* If a project- or solution-level .ruleset is deleted, we need to clear every `CodeAnalysisRuleSet` property containing the name in every C# and VB project--aga

[2015-05-14 16:38] tmeschter commented on #2738
@mavasani All of the described behavior is by design.

Yes, we're actually loading the assemblies. Our template simply adds *every* .dll included in the NuGet as an analyzer. Since the binary has been specified as an analyzer, we need to load it up-front to check that you're getting the assembly you think you are.

I *personally* think that we should require analyzer authors to update the *.nuspec

[2015-05-14 16:38] ManishJayaswal opened #2746 "update NuGet publishing scripts to use packages.config file and delete shipping/Non shipping folders"
We should use the packages.config file to upload packages to NuGet.org and should not base it on what is in shipping and non shipping folder.

[2015-05-14 16:40] lgolding opened #2748 "Analyzer test classes don't detect exceptions thrown by analyzers"
Repro:
1. Write a diagnostic analyzer that throws an exception, for example:

[code]
2. Write a unit test for a code fragment that I do not expect to emit any diagnostics:

[code]

Expected: The test should fail, and report that the analyzer threw an exception.

Actual: The test passes.

The problem is in the DiagnosticVerifier base class that comes with the unit test project in the "Analyzer with

[2015-05-14 17:04] MattGertz commented on #1253
@gafter @vsadov All good now.  Upgraded to a later build, got later NuGet packages --> no crash anymore.

[2015-05-14 17:04] #1253 closed

[2015-05-14 17:11] mavasani commented on #2738
This is extremely unfortunate, especially for VS scenario. It seems all the work that @srivatsn did to ensure that we only load analyzer assemblies that have relevant analyzers for the current project language is nullified in both command line and VS for project analyzer references. As it turns out, we are not only loading all the assemblies specified as analyzer assemblies upfront, but also all o

[2015-05-14 17:25] HaloFour commented on #2745
I'd agree that the spec and the language behavior are at odds, then.  I noticed that under object initialization they at least use the verbiage "roughly equivalent to" rather than "equivalent to".

The spec should probably be updated to reflect the behavior.  I have to agree with how the language behaves, though.  The collection initializer itself is a separate expression from the assignment to th

[2015-05-14 17:47] gafter opened #2749 "crash in Pdb generation"
We’re seeing a (Watson... *don't tell*... tracked as DevDiv 1167556) crash in PDB generation in code that was added recently.

The method is at https://github.com/dotnet/roslyn/blob/2151da1a32a1d27e4d9cdc09d58172a141c1caa4/src/Compilers/Core/Portable/NativePdbWriter/PdbWriter.cs#L625-L650

[code]

The callsites are at https://github.com/dotnet/roslyn/blob/2151da1a32a1d27e4d9cdc09d58172a141c1caa4/s

[2015-05-14 17:48] gafter commented on #2749
@tmat You added this code recently... any advice?

[2015-05-14 17:56] #2736 closed

[2015-05-14 18:00] mavasani commented on #2748
Note that this will not repro in VS IDE or command line builds, as CompilationWithAnalyzers is not used by either of them.

[2015-05-14 18:05] tmeschter commented on #2738
@mavasani Performance concerns are always valid, but without data its impossible to know how much of an effect this is actually going to have. That being said, here are some relevant points:

1. We only run the consistency check for a project once we're pushing data from the language services to the workspace. This means we often won't kick off the consistency check until after the solution is loa

[2015-05-14 18:09] mavasani commented on #2738
@tmeschter I am wondering if for VS scenarios we need any eager loading or dependency checking at all. Can we just get rid of this call: http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/ProjectSystem/AbstractProject_IAnalyzerHost.cs,37 and have a VS specific ShadowCopyAnalyzerAssemblyLoader (http://source.roslyn.io/Microsoft.VisualStudio.LanguageServices/R/525c10f4c4

[2015-05-14 18:17] mavasani commented on #2738
_Performance concerns are always valid, but without data its impossible to know how much of an effect this is actually going to have_

Well, we know for sure that we are loading analyzer assemblies + its dependencies upfront, while earlier we loaded them only at the point where it was needed, and only if it had analyzers. Given there are no functional scenarios that need us to do this and there co

[2015-05-14 18:45] tmeschter commented on #1601
Note that a couple of the scenarios aren't allowed by VS to being with:

* A solution-level file can't be deleted, only removed.
* A project-level file can't be renamed if it is a linked file.

[2015-05-14 18:52] tmeschter commented on #1544
Moving to @jaredpar  for verification.

[2015-05-14 19:02] mavasani opened #2751 "Exception in CSharpAddImportCodeFixProvider with info bar."
1. Add the below snippet of code towards the end of this source file in Roslyn.sln: http://source.roslyn.io/Roslyn.Test.Utilities/R/8651a96254f8f0ef.html

[code]

2. Go to the implements clause _": GenericNameAnalyzer"_ and press ctrl + . to invoke light bulb

**Got:** Exception in CSharpAddImportCodeFixProvider with an info bar. I couldn't find where to look for the exception trace though.

[2015-05-14 19:05] jinujoseph opened #2752 ""Open active rule set " missing newly added nugget package rules"
I installed the nugget package for
Microsoft.CodeAnalysis.Analyzers & Microsoft.codeanalysis.csharp.Analyzers ,when I right click the Analyzers “ Open active rule set” this doesn’t show in the list
![nugetpackagebug](https://cloud.githubusercontent.com/assets/12449387/7639502/51fddcc6-fa31-11e4-8b8f-76853fdfbdce.png)

As soon I play with “Set Rule set severity “ it shows up in the “active rule set

[2015-05-14 19:13] jinujoseph opened #2753 "Light bulb code fix doesn't work on generated files"
![lightbulb_bug1](https://cloud.githubusercontent.com/assets/12449387/7639651/5e98f60e-fa32-11e4-9e58-e29b1dcbd4a9.png)

On autogenerated file (AssemblyInfo.cs) When I click on the “Fix all occurances in : Document “ nothing happens , if I preview and apply it does.

[2015-05-14 19:17] AdamSpeight2008 commented on #2745
@HaloFour
What about the following example where the assignment and declaration isn't separate.
[code]
should be equivalent to
[code]

[2015-05-14 19:20] HaloFour commented on #2745
It's still effectively separate.  That's just shorthand inherited from VB6 (thankfully not including the behavior from VB6).

[2015-05-14 19:28] shyamnamboodiripad commented on #2753
Per @mavasani this is happening because the batch fixer is skipping generated files.

If generated files are not supported for fix all should we consider disabling light bulb entirely in such files? (The fix in project / solution links may still be useful - but I guess they can also be invoked from non-generated files.)

[2015-05-14 19:40] tmat commented on #2749
@gafter I'll take a look.

[2015-05-14 19:46] AdamSpeight2008 commented on #2745
cc: @ljw1004

[2015-05-14 20:20] lgolding opened #2756 "Lightbulb does not show up for code fixer"
I wrote an analyzer that works fine. When I debug the VSIX project with F5, the squiggle shows up. Then I added a code fixer for the same issue. But the light bulb does not show up.

I placed the zipped-up solution on an internal share \\scratch2\scratch\lgolding\NoLightBulb.zip.

[2015-05-14 20:24] davkean opened #2757 "Code fix for CS0305 is not helpful"
Given the following code:

[code]

The light bulb fix for CS0305 above offers to prefix the HashSet<> with "System.Collections.Generic" to turn the code into:

[code]

Which is not useful and does get us any closer to fixing the actual issue.

[2015-05-14 20:31] jinujoseph opened #2758 "Lightbulb displaying same issues twice as they belong to mulitple Analyzer."
![lightbulb_multipledefect_1](https://cloud.githubusercontent.com/assets/12449387/7641271/705823c8-fa3d-11e4-98ef-aa2a821629c5.png)

display multiple issues ( even if they mean the same ? )  but the fix is only for single
![lightbulb_multipledefect_2](https://cloud.githubusercontent.com/assets/12449387/7641285/89aee686-fa3d-11e4-8f40-f2b67df8a0e2.png)

[2015-05-14 20:32] shyamnamboodiripad commented on #2756
@jmarolf and myself took a look on Larry’s machine and there doesn’t appear to be anything wrong with the rixer itself. Looks like the fixer is not getting MEF imported at all (the SupportedDiagnostics property of the provider is never invoked). An analyzer declared in the same project is being loaded correctly – but the fixer is not. (Note: This is the VSIX case and not NuGet).

And the problem r

[2015-05-14 20:32] jinujoseph commented on #2758
As per @shyamnamboodiripad

Hmm… This is because we have two analyzers for unused usings   (one that produces a diagnostic per unused using and another that produces a single diagnostic for a bunch of contiguous using statements – the light bulb is triggered off of the 2nd analyzer’s diagnostic).

This may be hard to fix (and I think its fine if we don’t fix for RTM). But please log an issue so t

[2015-05-14 20:35] mavasani commented on #2614
I am unable to repro this on the latest Roslyn bits. I tried following repros:

1. Create an analyzer + code fix project and replace the analyzer contents with your analyzer and replace the unit tests in UnitTests.cs with the test you provided. Test pass fine for me, attached screenshot below:

![norepro_2614](https://cloud.githubusercontent.com/assets/10605811/7641335/f835ba58-fa3d-11e4-9320-8940

[2015-05-14 20:47] mavasani commented on #2614
Closing as no repro. Please re-activate if you are still able to repro it!

[2015-05-14 20:47] #2614 closed

[2015-05-14 20:51] mavasani commented on #2598
Moving to 1.1 milestone as this is more of API cleanup work. @ManishJayaswal @srivatsn please let me know if you disagree.

[2015-05-14 20:51] ljw1004 commented on #2745
I think this is just a spec bug. The spec should say that it's equivalent to
[code]

I think we'd be doing folks a disservice if we let them reference the object from within the collection initializer. The whole point of the feature is to feel like an "initialization", so by definition if the language allowed it then then you'd be reading from an "partially initialized" object.

[2015-05-14 20:53] heejaechang commented on #2738
@mavasani @tmeschter if we are loading the dlls just for consistency checking, can we load them in different app domain and dump them once finished analysis?

[2015-05-14 20:54] #2577 closed

[2015-05-14 20:55] jbtibor commented on #13
+1

[2015-05-14 21:02] amcasey opened #2761 "Offer to remove TryCast is incorrect"
The TryCast below is grayed out.

[code]

However, if a ```Derived2``` is passed in, then the value is a ```Derived1``` with the ```TryCast``` and a ```Derived2``` without.

[2015-05-14 21:06] dpoeschl commented on #2761
This feels broken even on regular casts:
[code]

[2015-05-14 21:08] heejaechang commented on #2738
@tmeschter @mavasani @srivatsn @pharring by the way, if this change will cause dlls that are not part of current solution's language to be loaded. it needs to be taken out. that is RI blocking gate violation.

[2015-05-14 21:11] mavasani commented on #2738
@heejaechang This change only affects per-project analyzers, not host specific analyzers. So I guess we are fine for that scenario.

However, I feel that we should still try to delay any kind of eager assembly loading/consistency checks here as the eventual goal is just reporting the conflict diagnostics, and we can do that when the VS assembly loader is asked to load any assembly.

[2015-05-14 21:12] heejaechang opened #2763 "create a test that catches VS (or Roslyn) loading analyzer dlls that targets language current solution doesn't have"
#2738 showed a hole in our test where we didn't catch a case where we (VS or Roslyn) are loading analyzer (and its dependency) dlls that are targeting a language current Solution doesn't have.

this is something considered as RI blocking issue. so we should have a test that catches it.

[2015-05-14 21:13] heejaechang commented on #2738
@mavasani no, same goes for per project analyzer.

[2015-05-14 21:14] jinujoseph opened #2764 "Lightbulb suppression assumes the defect to be on single line span"
suppression suggestion for single line

![singleline](https://cloud.githubusercontent.com/assets/12449387/7642126/6b7fdee4-fa43-11e4-9799-74bdd131734b.png)

suppression suggestion for multiple line

![multipleline](https://cloud.githubusercontent.com/assets/12449387/7642132/7621e9d2-fa43-11e4-825b-48a6f510194b.png)

[2015-05-14 21:14] heejaechang commented on #2738
opened #2763

[2015-05-14 21:15] mavasani commented on #2738
@heejaechang oh ok, I didn't know that. I thought our main concern was loading assemblies with our built in analyzers.

[2015-05-14 21:20] shyamnamboodiripad commented on #2758
@jinujoseph I also think this only repros when you change the severity of the unused usings diagnostic from hidden to something else.

![capture](https://cloud.githubusercontent.com/assets/10579684/7642233/4d8c638e-fa44-11e4-9bc6-eab8401210eb.PNG)

[2015-05-14 21:28] Pilchie commented on #84
Given our focus on shutting down for VS 2015, I don't think we can take this now.  @mkrueger: I think you said you had a workaround for now?  Also, presumably if we fix it shortly after VS2015, you could leverage an out-of-band release of our NuGet packages?

[2015-05-14 21:45] Vannevelj commented on #2614
This is [the second](https://github.com/dotnet/roslyn/issues/2557) issue I have that can't be reproduced on your team's end. I'm using VS 2015 RC, do I somehow have to update something myself?

I don't think I'm missing anything:

![stillbugged](https://cloud.githubusercontent.com/assets/2777107/7642659/27f90024-fa93-11e4-8a52-cb0b9b06a89a.PNG)

[2015-05-14 21:46] Pilchie opened #2767 "Options/Text Editor/C#/Formatting radio buttons show preview incorrectly"
Both indentation and spacing radio buttons do not show preview and actually need to be activated by two clicks in order to show the preview of what they do.

Reproduce
=========
Go to Tools > Options > Text Editor > C# > Formatting > Indentation > Label Indentation

Expected
========
See the preview for the given option.

Issue
====
The preview is the same for all options.

Notes
=====
 I'm using

[2015-05-14 22:13] heejaechang commented on #2738
@mavasani well we care about VM very much and the biggest offender is image load. thank you noticing it by the way.

[2015-05-14 22:17] jinujoseph opened #2769 "Codefix doesn’t respect suppression."
![ignoring supression](https://cloud.githubusercontent.com/assets/12449387/7643223/511b5e6c-fa4c-11e4-8f91-b65b4e02890a.png)

[2015-05-14 22:20] jmarolf commented on #2751
Nothing in the activity log?

[2015-05-14 22:32] mattwar commented on #302
You could use elastic markers only when necessary (if there is no trivia remaining between two tokens after your edit.

[code]

[2015-05-14 22:33] gafter opened #2770 "Warning: The 'packages' element is not declared."
After creating a brand new solution and adding a nuget package to it, and then opening up the file `packages.config`, I get a warning. See enclosed.

![image](https://cloud.githubusercontent.com/assets/3804346/7643449/689ac0f8-fa4e-11e4-891a-82116bec7185.png)

[2015-05-14 22:34] pharring opened #2771 "C# parser runs out of memory when given a VSIX file as text"
Consider the following app:

[code]

Change the path to the Roslyn.VisualStudio.Setup.vsix file as necessary.
Add a reference to Microsoft.CodeAnalysis.dll and Microsoft.CodeAnalysis.CSharp.dll and run the app.

Run the app and wait. Eventually you get an OutOfMemoryException. Of course, this is a contrived example, but it is very close to an OutOfMemory condition reported by one of our partner te

[2015-05-14 22:34] #2636 closed

[2015-05-14 22:38] Neil65 commented on #227
As the original author of this thread I would like to respond to some points in the post by @MadsTorgersen on 12 February (yes I know that was a long time ago now!!). I am aware that there have been design meetings and prototyping since then, and that Mads may not necessarily hold exactly the same views as he did in February, but what I have to say makes the discussion in this thread a bit more co

[2015-05-14 22:38] Pilchie commented on #302
Given the workaround @mattwar proposes, I don't we'll tackle this for 1.0.

[2015-05-14 22:42] sharwell opened #2773 "Usage analysis ignores references in documentation comments"
[_Migrated from CodePlex_](https://roslyn.codeplex.com/workitem/249)

Consider the following class.

[code]

The behavior of **Organize Usings** varies by whether or not the current project is configured to generate an XML documentation file with the output.
- If XML documentation file is enabled: The **Organize Usings** feature will not make any changes to the file shown above.
- If XML documenta

[2015-05-14 22:44] sharwell commented on #2769
The problem here is the **Remove Unnecessary Usings** code fix should actually be **Remove Unnecessary Using**, and allow **Fix all occurrences in: Document** to be used to handle the set. This *would* respect suppressions.

On a separate note, why would you need this suppression? For both cases I can think of, it seems like there are better ways to approach it:

1. **Documentation comments refere

[2015-05-14 22:46] Pilchie commented on #2770
This is not a roslyn issue.  The xml editor does this whenever you open an xml file that it doesn't have a schema for.

[2015-05-14 22:47] sharwell commented on #302
This is the solution we took in DotNetAnalyzers/StyleCopAnalyzers#646.

[2015-05-14 22:49] tmeschter commented on #2738
@mavasani @heejaechang I've figured out how to avoid the assembly loading (or at least not load it any sooner than it would have been).

The point of the assembly load is to check that the analyzer your project specifies and the one that actually gets loaded are the same (specifically, have the same MVID). The most likely scenario where this will *not* be the case is if you have two analyzers at d

[2015-05-14 22:53] Pilchie commented on #2583
Moving this out of 1.0, since the default behavior of the formatter is to preserve the whitespace after a /**/ comment.  This doesn't need to be different with elastic trivia just because a node was inserted.

[2015-05-14 22:58] gafter commented on #2261
@AlekseyTs Can you please verify this?

[2015-05-14 23:01] pharring commented on #2771
Same thing happens with the VB parser, BTW.

[2015-05-14 23:03] gafter commented on #854
@tmat Can you please tag this issue with an appropriate Resolution-* label and verify it?

[2015-05-14 23:03] amcasey opened #2774 "Assert in CodeGenerator.EmitConversionExpression"
[code]

[code]

[2015-05-14 23:04] amcasey commented on #2774
If you add an additional reference, ```MsvbRef```, the assert goes away.  I suspect we're missing a diagnostic (which *is* reported if you evaluate ```x & y & z``` outside a query).

[2015-05-14 23:05] amcasey commented on #2774
FYI @VSadov

[2015-05-14 23:08] mavasani commented on #2738
@tmeschter +1 on your solution. Thanks!

[2015-05-14 23:16] gafter commented on #2385
@tmat Can you please Verify this?

[2015-05-14 23:19] mattwar commented on #2714
@rchande I cannot repro this as a unit test or in ETA.

[2015-05-14 23:23] gafter commented on #2435
@Pilchie Can you please verify this?

[2015-05-14 23:24] rchande commented on #2714
@mattwar A more specific repro:
1. Open Roslyn.sln and navigate to FinallyKeywordRecommenderTests.vb
2. Copy the last unit test in the file.
3. Place the caret at the last unit test's "End Sub" and press return twice.
4. Ctrl-V to paste.

I can show you in person if neccessary.

[2015-05-14 23:45] #2725 closed

[2015-05-14 23:45] gafter commented on #2725
@VSadov Please Verify.

[2015-05-14 23:48] pharring commented on #2771
@jaredpar for triage. @VSadov, @AlekseyTs heads up (incoming).

[2015-05-14 23:50] pharring commented on #2771
I should note that the use of a VSIX file is just an example. There are undoubtedly other binary files that will cause such runaway behavior.

[2015-05-15 00:06] shyamnamboodiripad commented on #2769
Yes I think this is a side effect of the fact that the **remove unused usings** fix is implemented via multiple diagnostics. IIRC, the first is produced by the compiler and spans exactly a single unused usings, another (i.e. IDE0005) coalesces the individual but contiguous unused using diagnostics into a single contiguous one and yet another produces a single diagnostic that spans the entire block

[2015-05-15 00:09] billsfan10 commented on #2630
Just ran into this.  Found a work around, but this method should work.

[2015-05-15 00:24] amcasey opened #2775 "Assert in anonymous type symbol matcher"
Repro:

1. Console app below
1. F5 to breakpoint
1. Change ```Console.Write(c)``` to ```Console.Write(c.ToArray())```
1. Step

[code]

Assert: ```Debug.Assert(otherContainer Is _otherAssembly.GlobalNamespace)```

[code]

[2015-05-15 00:25] amcasey commented on #2775
It appears we're assuming that anonymous types are emitted in the global namespace.  In VB, they actually end up in the root namespace of the assembly.

Things seem to work if you ignore all the asserts, so they could probably be loosened (e.g. to look in the root namespace, rather than the global namespace, or to only check the assembly).

[2015-05-15 00:25] amcasey commented on #2775
FYI @cston

[2015-05-15 00:31] heejaechang opened #2776 "we are leaking solution in AbstractSymbolCompleteionProvider"
we are leaking this

http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Completion/Providers/AbstractSymbolCompletionProvider.cs,b0cd3dba106599c0

we should make sure we clean this up.

[2015-05-15 00:33] heejaechang opened #2777 "we are leaking Solution in AnalyzerManager"
we are leaking Solution and PreviewWorkspace through this

http://source.roslyn.io/#Microsoft.CodeAnalysis/AnalyzerManager.cs,8b48a4a85a533bd8,references

basically, AnalyzerAndOption contains WorkspaceAnalyzerOption that hold onto Workspace. and once put it there, it never goes away.

[2015-05-15 00:40] shyamnamboodiripad commented on #2764
Note that this does not result in a syntax error (at least in the C# case - but I am not certain this will also be true in the case of VB.

I think we should change the suppression fix to place the ```#pragma restore``` directive on a new line after the last token that is in the warning span.

[2015-05-15 01:31] mattwar commented on #2714
Sorry, still cannot repro.  I tried in VS w/ recent dogfood, and then with build from my machine under RoslynDev, both pasted correctly.

[2015-05-15 01:56] mattwar commented on #2487
The # key is a trigger character for formatting. (not sure why yet).  It automatically formats the region before and after the #.  This entails all trivia between the previous token and the next token after the #.  All of the directives in the sample are part of the trivia between the # and the next token, so they all get formatted.

The sample has text that is not currently at the proper indentat

[2015-05-15 02:21] tmat commented on #2749
Seems like a duplicate of #1764

[2015-05-15 02:39] #2605 closed

[2015-05-15 02:40] mavasani commented on #2709
Fixed with https://github.com/dotnet/roslyn/commit/918dd32ccdfd901bfd71d88bdb9f7051adfb3d51

[2015-05-15 02:40] #2709 closed

[2015-05-15 04:05] JoshVarty opened #2779 "MSBuildWorkspace and WPF Projects"
I'm trying to compile a WPF project using `MSBuildWorkspace`. Should this work out of the box, or do I need to do anything special to set it up?

When I open a .sln containing a WPF project and try to compile I receive two errors:

[code]
and

[code]

To reproduce, simply create a new WPF project. (Mine was WPFApplication1.sln). Then just load into a workspace and try to compile the project.

[cod

[2015-05-15 05:40] alexsorokoletov commented on #1781
Thank you!

[2015-05-15 05:43] mkrueger commented on #84
No there is no workaround - I think we need a custom build.
We had several issues with the formatter btw.

[2015-05-15 05:46] KirillShlenskiy opened #2780 "VB.NET CDate(CStr(Nothing)) should not emit Conversions::ToDate(string) call"
The below succeeds when compiled with Visual Studio 2013, but fails at runtime when compiled with Visual Studio 2015 RC:

    Dim d = CDate(CStr(Nothing))

**Edited stack trace**:

    System.InvalidCastException: Conversion from string "" to type 'Date' is not valid.
      at Microsoft.VisualBasic.CompilerServices.Conversions.ToDate(String Value)

**Expected behaviour**: conversion is expected to

[2015-05-15 06:29] jinujoseph opened #2781 "In-consistency in the ruleset view and reference view."
If I change the severity by selecting "Set rule set severity" the same is not reflected in the ruleset view.

![ruleset](https://cloud.githubusercontent.com/assets/12449387/7647873/76314c18-fa90-11e4-9b8f-61ffd5ced442.png)

[2015-05-15 06:34] jinujoseph opened #2782 "Analyzer ID being wrong; instead of “microsoft.codeanalysis.analyzers.dll” it should be “Microsoft.CodeAnalysis.Analyzers”."
![analyzerid](https://cloud.githubusercontent.com/assets/12449387/7647959/86c75eea-fa91-11e4-824c-0057516e44fd.JPG)

While looking at some other issue for me , @tmeschter noticed that the Analyzer ID is wrong.

[2015-05-15 07:59] KakCAT commented on #2487
Hello,

I don't know if this is correct or not, but my opinion is that in case it is correct, there should be a way to disable it, as well as automatical format can be disabled on ; , on } and on paste.

Reformatting shouldn't be enforced on any case if the user doesn't want to use it.

[2015-05-15 08:28] lgolding commented on #2605
Thanks David!

Sent from my Windows Phone
________________________________
From: David Poeschl<mailto:notifications@github.com>
Sent: ‎5/‎14/‎2015 7:39 PM
To: dotnet/roslyn<mailto:roslyn@noreply.github.com>
Cc: Larry Golding<mailto:Laurence.Golding@microsoft.com>
Subject: Re: [roslyn] Lightbulb suggests renaming a type to "var" (#2605)

Closed #2605<https://github.com/dotnet/roslyn/issues/2605> vi

[2015-05-15 09:58] mavasani opened #2784 "System.ArgumentException at Microsoft.VisualStudio.LanguageServices.Implementation.TaskList.HostDiagnosticUpdateSource.RaiseDiagnosticsUpdatedForProject"
**Dump shared at:**
`\\manish-test\share_r\ImmutableArray_ArgumentException\devenv.dmp`

**Message:** `Value does not fall within the expected range`

**Call stack:**

 	mscorlib.dll!System.RuntimeTypeHandle.GetTypeByName(string name, bool throwOnError, bool ignoreCase, bool reflectionOnly, ref System.Threading.StackCrawlMark stackMark, System.IntPtr pPrivHostBinder, bool loadTypeFromPartialName)

[2015-05-15 10:05] srivatsn commented on #2784
I think @heejaechang fixed this a couple of days ago. HeeJae?

[2015-05-15 10:10] srivatsn commented on #2781
I think this is because the ruleset editor doesn't refresh when the file changes. @tmeschter has a bug to add an info bar saying the file has changed.

[2015-05-15 10:16] CnSimonChan opened #2785 "[Bug] Implement interface through static member referred wrong member name in generic classes"
I'm using Visual Studio 2015 RC.

**Code example:**

[code]

**Note:**

1. The class must be a generic class.
2. The member must be a static field or property.

**Steps:**

1. Put caret on `IList<object>`.
2. Press `Ctrl + .`, choose `Implement interface through "innerList"` menu item.

**What happened:**

Visual Studio generates code using `Issue2785.innerList` to refer this member, causes code f

[2015-05-15 10:33] CnSimonChan commented on #2767
I had reported this bug when it was CTP3, but someone said it was "fixed"...

https://connect.microsoft.com/VisualStudio/feedback/details/981314/connect-radio-buttons-in-c-formatting-options-pages-behave-incorrectly

[2015-05-15 12:23] svick commented on #227
if (myDog != null) // myDog is nullable but once it has passed the null check it behaves as madatory.
{
    myDog = nullableDog; // Compiler error - cannot assign nullable to mandatory.
    myDog.Bark();
}
[code]

[2015-05-15 12:24] shaggygi opened #2786 "Grammar Error in GetProjectDependencyGraph Summary"
Workspaces/Core/Portable/Workspace/Solution/Solution.cs currently includes...
"Gets an ProjectDependencyGraph"
where it should be...
"Gets a ProjectDependencyGraph"

[2015-05-15 12:36] shaggygi opened #2787 "Grammar Error in SyntaxNode GetReference Summary"
Compilers/Core/Portable/Syntax/SyntaxNode.cs currently includes...
 "Gets an SyntaxReference"
 where it should be...
 "Gets a SyntaxReference"

[2015-05-15 12:49] damageboy opened #2788 "Proposal: Allow native int / native uint in c#"
As many of you are aware, the CLR / JIT / MSIL supports the definition and usage of native integers / unsigned integers since inception.

This "feature" of the runtime was never presented in any way to c# users, who instead have to use IntPtr / UIntPtr as close but not complete proxies.

Since .NET 4.0's CLR, it is possible to add / substract an integer from a (U)IntPtrs, and it is possible to do

[2015-05-15 13:10] svick commented on #2788
If you want to use pointer arithmetic, can't you just use actual pointers instead of `IntPtr`/`nint`?

[2015-05-15 13:31] KrisVandermotten commented on #2628
This sounds like something that could be handled well by a Code Analyzer.

[2015-05-15 13:43] HaloFour commented on #227
@svick Apart from being a breaking change that would also be quite an annoying language "feature" to have to fight.  I like the idea of the compiler being able to determine that `currentNode` wouldn't be `null` immediately after the condition but to then enforce the variable to be mandatory I think goes too far.

I think that the ideal situation is if the compiler flow analysis can determine that

[2015-05-15 14:24] Pilchie commented on #2767
@CnSimonChan: Thanks for letting me know.  We normally have a process to verify that bugs that we claim are fixed actually are (that's the purpose of the "Verified" label on our GitHub issues.  Sometimes they are fixed and then regress again later.  Other times the person working on the fix or the verification has a different interpretation of what the bug is, or what the behaviour *should* be.  I

[2015-05-15 14:26] Pilchie commented on #2779
We'll need to figure out what msbuild targets need to run in order to ensure that the markup compiler runs and generates the .g.cs files for this to work.

[2015-05-15 14:28] Pilchie commented on #2785
@JohnHamby: Can you take a look at the generation of the member?  For the extra question, it's by design that implement explicitly generates members that have already been implemented implicitly.

[2015-05-15 15:32] jinujoseph commented on #2781
@srivatsn  , just want to add that closing the ruleset window and re-opening also doesn't reflect the change.

[2015-05-15 16:29] dsaf commented on #2744
C# has the same problem #1419.

[2015-05-15 16:37] mattwar commented on #2654
@mavasani  are you still looking for a change to this API?

[2015-05-15 16:43] mavasani opened #2790 "Numerous instances of VBCSCompiler.exe slowing down Roslyn.sln build"
I am noticing extremely slow build times for Roslyn.sln (> 15 mins), with when self-building Roslyn.sln with locally built compiler bits. The primary reason seems to be lots and lots of VBCSCompiler.exe processes being spawned by msbuild (see screenshot). When I build with our current toolset compiler, I don’t see this issue and build seems to be pretty fast (~2-3 mins).

It is likely that this wa

[2015-05-15 16:45] mavasani commented on #2654
@mattwar I haven't had time to look at it yet. However, I think its safe to either resolve this as by-design for now OR move it to 1.1 milestone as a workaround exists (use language specific components in the fixer).

[2015-05-15 17:16] jinujoseph opened #2791 "ObjectNotFound Exception while installing nuget package"
![exception](https://cloud.githubusercontent.com/assets/12449387/7657071/ea581dc6-fae3-11e4-9cd5-280cb829f964.png)

I created a nugget package ( for an analyzer and codefix) and copied to C:\Nuget. Installation , analysis and codefix all works as expected but while installing it throw this ObjectNotFound exception.

[2015-05-15 17:16] HaloFour commented on #2788
Related to the following issue in CoreCLR, submitted by Miguel de Icaza:

[Support natural size data types in the CLR](https://github.com/dotnet/coreclr/issues/963)

[2015-05-15 17:19] HaloFour commented on #2788
Naming the struct `nint` might be nice for brevity but for consistency I would prefer that the struct be named something like `System.NativeInt` and C# provide a keyword alias.

[2015-05-15 17:20] jinujoseph commented on #2791
@srivatsn helped debug this and we found that foreach loop (Get-ChildItem $languageAnalyzersPath ) in install.ps1 assumes that there will be separate language specific folders, and in absence of finding one it fails.

[2015-05-15 17:25] shyamnamboodiripad commented on #2756
This turned out to be because of MEF cache being out of sync. Clearing the cache fixed the problem.

[2015-05-15 17:25] #2756 closed

[2015-05-15 17:25] heejaechang commented on #2784
@mavasani are you using latest bits? AbstractHostDiagnosticUpdateSource wasn't thread safe and got corrupted when called from background thread. not sure whether you have a bit that has fix or not.

[2015-05-15 17:32] lgolding commented on #2756
... and it was my fault (pilot error) that the MEF cache was out of sync. I tried to clear something out of the cache by hand because I didn't know the right way to do it. The fact that the cache got out of sync is not another bug.

[2015-05-15 17:41] pharring commented on #2790
Could this be at the root of our perf machine issues?

[2015-05-15 17:44] pharring commented on #2790
Answering my own question: Yes. I just cracked open a profile from the 6-core machine and we see multiple compiler server processes there.

[2015-05-15 17:46] gafter opened #2793 "NullReferenceException in ParameterSymbolAdapter.cs"
We've gotten a report of a crash (DevDiv 1167553) on the following line of `ParameterSymbolAdapter.cs` (line 73)
[code]
This appears to be a bug in `PEParameterSymbol`.  It overrides both `HasMetadatConstantValue` and `ExplicitDefaultConstantValue`.  The former should never return `true` unless the latter is guaranteed to return a non-`null` value.  The base implementation explicitly checks for th

[2015-05-15 17:46] gafter commented on #2793
CC @jasonmalinowski

[2015-05-15 17:51] agocke commented on #2790
Shouldn’t quite explain failures… but it definitely would explain slowness.

From: Paul Harrington [mailto:notifications@github.com]
Sent: Friday, May 15, 2015 10:45 AM
To: dotnet/roslyn
Cc: Andy Gocke
Subject: Re: [roslyn] Numerous instances of VBCSCompiler.exe slowing down Roslyn.sln build (#2790)

Answering my own question: Yes. I just cracked open a profile from the 6-core machine and we see m

[2015-05-15 17:54] amcasey commented on #2720
This was fixed by a38e55fa0a8f710ad67f5834751181a6db5ce27d.

[2015-05-15 17:54] #2720 closed

[2015-05-15 17:54] jinujoseph commented on #2781
Note: More debugging with srivatsn , reviled that editing the Action from RuleSet view works but editing from the solution explorer doesn’t reflect.
That is because the format in which the ruleset expects the rules are based on RuleNamespace to be binaryname rather than AnalyzerName

Ruleset expects the rules as

<Rules AnalyzerId="regexanalyzer.dll" RuleNamespace="regexanalyzer.dll">
    <Rule Id

[2015-05-15 17:55] amcasey commented on #878
"Pass correct context type" had nothing to do with this issues - I linked them by mistake.

[2015-05-15 18:03] #1601 closed

[2015-05-15 18:04] tmeschter commented on #1601
Bumping back to @shyamnamboodiripad for verification.

[2015-05-15 18:06] DrPizza commented on #2212
Template template parameters are a good fit for C++, so it's natural enough that generic generic parameters would be a bad fit for C#. Being able to make Linq methods independent of concrete classes seems nice enough.

[2015-05-15 18:10] mattwar commented on #2779
This is caused by two problems.

The first is that msbuild workspace is invoking msbuild with the "Compile" target that does not include any of the xaml tasks. It needs to use at least the "CoreBuild" task to get the xaml compilers to run and generate the extra files.  This is easy to change.

The second is that the xaml tasks are bounds to earlier msbuild version than msbuild workspace is using a

[2015-05-15 18:20] mmitche opened #2796 "Roslyn should not display popups on Debug.Assert"
For purposes of automation, it's bad to have user-interactive popups.  Debug.Assert's behavior by default is to pop up a dialog box.  This can be changed through app.config to simply abort the process by default.

[2015-05-15 18:27] tmat commented on #2793
@gafter What kind of bad metadata is involved? Could it be written in IL?

[2015-05-15 18:33] tmeschter commented on #2728
@mavasani Yeah, when we were using the `InMemoryAssemblyLoader` you could actually load two different analyzer assemblies with the same identity (but not their dependencies) so we didn't check for this conflict. I'm updating `AnalyzerDependencyChecker` to cover this case as well.

[2015-05-15 18:37] JoshVarty commented on #2779
@mattwar In my use case I'm building Visual Studio extensions and using `MSBuildWorkspace` to support Visual Studio 2013. Am I correct in understanding that is would mean I'd have to modify deven.exe.config?

Do you see it being possible to compile WPF projects using `MSBuildWorkspace` in VS 2013?

[2015-05-15 18:39] tmeschter commented on #2738
@mavasani OK, so that takes care of the assembly loading aspect of this issue.

I do not intend to de-duplicate the warnings that are the same across projects. We don't do that for missing references, and it would also lead to weird behavior when unloading projects.

Say you had two projects, A and B, with the same warning. Say we de-duplicate the warnings and only show the one for project A. If t

[2015-05-15 18:46] mavasani commented on #2738
@tmeschter Yes, I think that's fine.

[2015-05-15 19:21] #2211 closed

[2015-05-15 19:31] tmeschter commented on #2781
Then this might simply be another manifestation of #2782.

[2015-05-15 19:48] Pilchie commented on #2779
@JoshVarty Note that you can modify the devenv.exe.config bindings via a pkgdef in your extension if you need to.

[2015-05-15 20:06] mattwar commented on #2779
@JoshVarty  Its not a target scenario for MSBuildWorkspace to be used in VS process.

However, devenv.exe.config already has the redirects for MSBuild (since it uses MSBuild for the project system to load projects too.)  But this won't work in VS2013 since those redirects only redirect to MSBuild12, not the newer MsBuild14 that Roslyn is using.  You'd still have to update VS2013's config.

It's al

[2015-05-15 20:14] mburbea commented on #2788
The Clr also already supports a native float type: http://stackoverflow.com/questions/13961205/native-float-type-usage-in-clr, it's called `F`, although I'm not sure what it actually produces when you compile it.

[2015-05-15 20:26] srivatsn commented on #2784
@mavasani - this is likely fixed by HeeJae. Closing this bug - if this crash was repro'able or if you see this happen again please reactivate.

[2015-05-15 20:26] #2784 closed

[2015-05-15 20:26] mavasani commented on #2784
@srivatsn @heejaechang I am on a slightly older signed build. I'll move to a newer build today and re-open this if it repros again.

[2015-05-15 20:28] srivatsn commented on #2757
Dupe of #81

[2015-05-15 20:28] #2757 closed

[2015-05-15 20:35] davkean commented on #2757
Actually a dup of #1269.

[2015-05-15 20:37] jinujoseph commented on #2752
I was under the impression that the ruleset viewer is auto-refresh. Closing the UI and reopening seems to have fixed the issue.

[2015-05-15 20:37] srivatsn commented on #2752
Talked to @jinujoseph - this only happens if the ruleset file is already open. That issue is tracked by #92. Closing as a dupe.

[2015-05-15 20:37] #2752 closed

[2015-05-15 20:42] srivatsn commented on #2757
Ah yes correct.

[2015-05-15 20:45] agocke commented on #2793
@tmat The mini dumps weren't super helpful, but it looked like the HasDefault flag was specified in metadata, but there was no row in Constants table. Can't be sure because there was a fair amount of missing information.

[2015-05-15 20:48] srivatsn commented on #2462
We could add the C#\VB references to the test projects. I don't think we want to do that for the analyzer projects because then that leads to loading the VB dlls in a C# project unnecessarily.

[2015-05-15 20:56] heejaechang commented on #2400
fixed #2742

[2015-05-15 20:56] #2400 closed

[2015-05-15 20:59] Pilchie commented on #2771
An alternative would be to use a binary file heuristic (I think a common one is > some threshold number of null bytes in the first 1000 characters)

[2015-05-15 21:00] srivatsn commented on #430
This has been implemented as an /errorlog switch.

[2015-05-15 21:00] #430 closed

[2015-05-15 21:03] heejaechang commented on #2776
@rchande I assigned it to you

[2015-05-15 21:11] mattwar commented on #2487
This one doesn't look like its going to be easy to fix, not without a lot of rewrite of the command handlers or the formatter.  The formatter only operates between tokens and since the # is part of trivia it doesn't count as a token.  All special action keys other than ENTER are handled by the format command handler, which just formats. The ENTER key has its own command handler that possibly  uses

[2015-05-15 21:19] srivatsn commented on #2773
The "unused using" diagnostic is emitted by the compiler. It looks like the compiler is not even looking at doc comments when it doesn't need to generate a xml doc file and so doesn't include that code in it's analysis.

[2015-05-15 21:23] #293 closed

[2015-05-15 21:29] srivatsn commented on #2677
This is by design. We went back and forth on this a few times. One school of though (like this bug) says that it is useless to offer this suggestion whereas another says for a forward-typing style, having the suggestion is good and the user can choose to not generate. We've decided to go with the current behavior. If we hear a lot of feedback about this we should reconsider.

See internal TFS bugs

[2015-05-15 21:29] #2677 closed

[2015-05-15 21:31] pharring commented on #2771
Indeed, SourceText looks for consecutive NUL chars: http://source.roslyn.io/#Microsoft.CodeAnalysis/Text/SourceText.cs,240
I would think the Lexer can do that quite efficiently.

[2015-05-15 21:36] Pilchie commented on #2773
We have an option to "Diagnose" xml doc comments but not emit them, but that also triggers all the other warnings and errors, and so I don't think VS integration sets it.

We might need some finer grained control over the compiler's handling of xml doc comments.  I remember discussing this with @amcasey a LONG time ago, but I don't think we resolved anything.

[2015-05-15 21:45] HaloFour commented on #2788
Sounds like IL has the metadata to support a native float but the CLR/JIT
doesn't actually support using it.
On May 15, 2015 4:15 PM, "Michael Burbea" <notifications@github.com> wrote:

[2015-05-15 21:53] amcasey commented on #2773
See http://source.roslyn.io/#Microsoft.CodeAnalysis/DocumentationMode.cs

[2015-05-15 21:59] tmeschter opened #2802 "Rationalize use of DisplayName vs Id"
Originally, we only had `AnalyzerReference.DisplayName`. This was meant only as a friendly string to show to the user, but various parts of the VS code base used this as an identifier of some sort.

Later we added `AnalyzerReference.Id`, which is meant to serve as the canonical ID of a reference.

We need to review the uses of both, and figure out which should actually be `DisplayName` and which s

[2015-05-15 22:01] rchande commented on #2714
@mattwar I played around with it. You have to copy the the entirety of the line containing the first attribute, including the leading whitespace (easier to do if you turn on visible whitespace), and you need to paste after the last member in the type (there do seem to be some variations where it happens to the first member, too). Just for fun, I made a gif.
![paste](https://cloud.githubusercontent

[2015-05-15 22:05] jmarolf commented on #2493
Fixed with internal Changeset 1471973

[2015-05-15 22:05] #2493 closed

[2015-05-15 22:06] jmarolf commented on #2695
fixed with Changeset 1471973

[2015-05-15 22:06] #2695 closed

[2015-05-15 22:06] jmarolf commented on #2710
fixed with internal Changeset 1471973

[2015-05-15 22:06] #2710 closed

[2015-05-15 22:14] tmat commented on #2793
@agocke I think that case can be easily constructed in ILASM.

[2015-05-15 22:16] MattGertz commented on #2757
Verified dupe.

[2015-05-15 22:16] MattGertz commented on #2700
Verified dupe.

[2015-05-15 22:18] MattGertz commented on #2525
Verifying as external.

[2015-05-15 22:19] MattGertz commented on #2450
Verifying as dupe.

[2015-05-15 22:20] MattGertz commented on #2439
Assigning for verification.

[2015-05-15 22:21] agocke commented on #2793
@tmat Can it? My copy of the spec says

[2015-05-15 22:21] shyamnamboodiripad opened #2805 "Difference in SemanticModel behavior between VB and C# for unbound alias (affects Simplifier.Expand API)"
Paste the following code in visual studio -

[code]

Right click on the identifier `Short` in the `return` statement above and click on `Go to definition`. This works even though the namespace `LongNamespace` that the alias binds to does not itself bind to anything.

Now try the corresponding scenario for VB -

[code]

In this case, clicking on the identifier `ShortName` and clicking on `Go to def

[2015-05-15 22:22] MattGertz commented on #2429
Verified as dupe.

[2015-05-15 22:23] shyamnamboodiripad commented on #2805
I have added a skipped test for this issue. **When you fix this issue, please remember to enable this test.**

[2015-05-15 22:23] MattGertz commented on #2272
Needs verification.

[2015-05-15 22:24] MattGertz commented on #2249
Needs verification.

[2015-05-15 22:24] tmat commented on #2793
oh, ok then :)

[2015-05-15 22:25] MattGertz commented on #2111
Needs validation.

[2015-05-15 22:26] MattGertz commented on #1764
Needs verification.

[2015-05-15 22:27] MattGertz commented on #386
Needs verification.

[2015-05-15 22:33] shyamnamboodiripad commented on #2695
@srivatsn Could you please verify this once we have a build with this change in it?

[2015-05-15 22:44] mavasani opened #2808 "AnalyzerDriver doesn't respect CompilationOptions.ConcurrentBuild option"
It needs to disable parallel execution of analyzers/compilation events processing when `/parallel-` is specificied on command line.

Thanks @pharring for catching this!

[2015-05-15 22:44] lgolding opened #2809 "Allow unit test compilation to be configured"
The compilation object used by the unit test base class DiagnosticVerifier creates a compilation object under that covers that includes a small set of references. So for example, if I have an analyzer that checks to see if a class derives from System.Xml.XmlDocument, the test will fail (even though the analyzer actually works) because the compilation used in the unit test does not have a reference

[2015-05-15 22:52] shyamnamboodiripad commented on #472
@jmarolf could you please verify this?

[2015-05-15 22:53] srivatsn commented on #2809
This is a dupe of #2369

[2015-05-15 22:53] #2809 closed

[2015-05-15 22:54] shyamnamboodiripad commented on #642
Thank you for verifying @MattGertz!

[2015-05-15 22:58] heejaechang commented on #2802
@tmeschter I make a change and gave you the link in #2801

now you shouldn't need to make id to use same as Displayname.

[2015-05-15 23:17] shyamnamboodiripad opened #2815 "Change name of 'Roslyn SDK Project Templates VSIX' to 'Roslyn SDK VSIX'"
Now that the syntax visualizer and project templates have been merged into a singe VSIX, we should just call it 'Roslyn SDK.vsix' and '.NET Compiler Platform SDK' since -

1. This will make it clear that this is the only thing users need to get and
2. The new name will take up less space in all the places where the string will show up :)
![capture2](https://cloud.githubusercontent.com/assets/10579

[2015-05-15 23:47] Maxwe11 commented on #2767
What project should I look for fixing this?

[2015-05-16 00:02] shyamnamboodiripad commented on #1579
I was able to repro the above issue on 5/11's build i.e. Above error dialog is still displayed if I try to 'open active ruleset file' when the ruleset file in use was actually a linked file in the current project (and I made it the active ruleset by right clicking on the linked file and saying 'Set as Active Ruleset'.

Could this be a regression?

[2015-05-16 00:04] shyamnamboodiripad commented on #1601
@srivatsn Could you please verify this / assign to someone who can verify? I need a new build for this which won't be available until next week.

[2015-05-16 00:07] mattwar commented on #2714
I'm not doubting it happens to you.  I cannot repro exactly this.

[2015-05-16 00:08] mattwar commented on #2714
One difference is, I don't have codelens on.

[2015-05-16 00:08] shyamnamboodiripad commented on #2211
Assigning back to @jmarolf for verification.

[2015-05-16 00:12] shyamnamboodiripad commented on #2563
I have verified that the repro @mattwar posted above does not bring down VS anymore now that 1166482 is fixed.

@jmarolf could you please test this independently (I don't want to be the guy who verifies this since it was I who fixed the above bug :)) Thanks!

[2015-05-16 00:31] amcasey commented on #2441
I managed to construct a test that would hit this case but, apparently, import decoding uses the regular metadata decoder (i.e. is covered by @agocke's fix).  I'll try to figure out where the ```EETypeNameDecoder``` is used so I can construct another test.

[2015-05-16 02:18] #1913 closed

[2015-05-16 02:34] ljw1004 opened #2822 "VB prettylister gets spacing wrong for labels in With statement"
Repro: write this code
[code]
Now add a "label:" on the line that assigns to Capacity, and cursor-down.

What I get: only a single whitespace between label and ".Capacity". What I expect: the label shouldn't change the alignment of the statement.

![vb-misformat](https://cloud.githubusercontent.com/assets/3316258/7664386/6c4dabc0-fb39-11e4-826b-312c5815fd0f.png)

(Note: this issue was first report

[2015-05-16 03:48] JoshVarty opened #2824 "MSBuildWorkspace can't compile Class Library referencing PCL"
Related to #560 and various dupes #1373, #2700, #1894

We first noticed this problem when trying to compile [XUnit](https://github.com/xunit/xunit) with `MSBuildWorkspace`. All the Desktop projects failed to build but all the PCLs were fine.

To repro:

 - Create new ClassLibrary project (I've called mine Desktop)
 - Create new PortableClassLibrary project (I'm called mine PortableClassLibrary)
 -

[2015-05-16 03:50] JoshVarty commented on #2824
One note: We receive the error regardless of whether or not `CheckForSystemRuntimeDependency` is set to true or omitted.

[2015-05-16 04:15] rkeithhill opened #2825 "Right-click SuppressMessage in source file puts [SuppressMessage] attribute above XML doc comments"
I have some CA1001 warnings about types holding disposables should implement IDisposable.  When I right-click on the error (treats warnings as errors is enable), VS puts the attribute *above* the doc comments.
[code]
This generates an editor error (red squiggle) at start of XML doc comment saying the XML comment has not been placed on a valid language element.

Once I moved the attribute below the

[2015-05-16 04:54] #2406 closed

[2015-05-16 06:52] RevensofT opened #2828 "[Request] Module(static class)'s method with 1 or 2 arguments should be an extension method by default."
Since vb.net module class already expose its methods, why don't make them as an extension method too. Extension method is much more readable when it has 1 or 2 arguments( 3 arguments maybe fine but more than this should be normal call).

[code]

[2015-05-16 07:25] mavasani opened #2830 "Make AnalyzerManager public and remove its static instance for analyzer state management"
AnalyzerManager has been a source of many recent memory leaks due to it holding onto analyzer state longer than required. The primary reason for this is that currently this type is internal and cannot be exposed publically until we can move the IDE analyzer driver to be completely based of public APIs from CodeAnalysis layer.

AnalyzerManager lies in the shared AnalyzerDriver project used between

[2015-05-16 08:08] mavasani opened #2831 "'System.NullReferenceException' at Roslyn.Diagnostics.Analyzers.EquatableAnalyzer.IsObjectEqualsOverride"
Saw the below info diagnostic in my error list:

Severity	Code	Description	Project	File	Line	Detail Description
Message	AD0001	The User Diagnostic Analyzer 'Roslyn.Diagnostics.Analyzers.EquatableAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.	EditorServicesTest		1	Analyzer 'Roslyn.Diagnostics.Analyzers.Equat

[2015-05-16 08:47] mavasani opened #2832 "Contract.Fail at Microsoft.CodeAnalysis.Host.AbstractSyntaxTreeFactoryService.RecoverableSyntaxRoot`1.Recover"
1. Build Roslyn.sln

2. Run `devenv /rootsuffix RoslynDev` and open Roslyn.sln in the new VS instance.

Wait for few minutes.

**Got:** VS crashes with Contract.Fail with below call stack.

**Dump shared at:** `\\manish-test\share_r\RecoverableRoot_Crash\devenv.dmp`

**Call stack:**

   at Roslyn.Utilities.Contract.ThrowIfNull[T](T value, String message)
   at Microsoft.CodeAnalysis.Host.AbstractS

[2015-05-16 09:13] damageboy commented on #2788
@svick I will answer your comment in the #963 issue opened by @migueldeicaza

[2015-05-16 11:03] adamralph commented on #2167
Another thing we discussed in our regular scriptcs core team meeting recently was multi-language capability. I.e. a way for host to allow:

[code]

This would require resolution from a file name extension to a language specific implementation, unless some other language feature were introduced to allow specification of the language implementation in code.

`.csx` and `.vbx` could have support out

[2015-05-16 13:17] BernhardGlueck commented on #261
I created an implementation of Async Pulll Sequences a while back, with LINQ support.

The syntax for an AsyncEnumerable was quite similar to the proposed one:

       AsyncEnumerable.Create<T>(async producer =>
       {
              await producer.Yield(value).ConfigureAwait(false);
       });