[2020-10-13 20:18] tmat commented on #48564
@mavasani What PR fixed this earlier? This shouldn't be related to ISB changes. The issues with ISB we have been having are in the platform (StreamJsonRpc, ServiceBroker).

[2020-10-13 20:23] mavasani commented on #48564
@tmat I believe the last fix here was https://github.com/dotnet/roslyn/pull/46566, which was in 16.8P2. The assert hasn't shown up since then on 16.8.

[2020-10-13 20:36] tmat commented on #44465
This API is now obsolete. ISB alternative does not have this issue.

[2020-10-13 20:36] #44465 closed

[2020-10-13 20:40] tmat commented on #44328
This API is now obsolete. ISB equivalent does not have this issue.

[2020-10-13 20:40] #44328 closed

[2020-10-13 21:09] #34839 closed

[2020-10-13 21:09] #48495 closed

[2020-10-13 21:12] sharwell commented on #48564
![image](https://user-images.githubusercontent.com/1408396/95916840-209a4480-0d5e-11eb-92e7-47b7059f6f39.png)

[2020-10-13 21:14] sharwell commented on #48564
Here's the `_changedOptionKeysSerializable` for `mismatch2`:

![image](https://user-images.githubusercontent.com/1408396/95916979-5f2fff00-0d5e-11eb-8600-6f6cfd958837.png)

Here's the ones for `mismatch3`:

![image](https://user-images.githubusercontent.com/1408396/95917028-740c9280-0d5e-11eb-9e4a-8012dcf0257e.png)

[2020-10-13 21:36] dibarbet commented on #48573
Note - this occurs because razor passes us "invoked" as per the LSP spec.  In codespaces, when we pass trigger kind Invoked to the completion service, we get the as/is/switch... completion results in C# files as well.  However in local, when invoking via cntrl+space in the same location no completion shows.

So LSP completion here should not be returning results when explicitly invoked (so it matc

[2020-10-13 22:13] #46791 closed

[2020-10-13 22:37] TessenR opened #48574 "Missing nullability warnings about member initialization in constructors in structs with default struct ctor calls"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile and run the following code
[code]

**Expected Behavior**:
`warning CS8602: Dereference of a possibly null reference.` for `f.ToString()`

**Actual Behavior**:
No nullability warnings. The code crashes at runtime with a `NullReferenceException`

**Notes**
Roslyn seems to think that `: this()` constructor call in struct correctly initializes

[2020-10-13 22:39] Youssef1313 commented on #48574
Similar issues around the same area were discussed before. This is by design. These known pitfalls are being documented in https://github.com/dotnet/docs/pull/21063

[2020-10-13 22:52] TessenR commented on #48574
This doesn't seem particularly similar to me.
There's a lot of potentially problematic areas for enforcing nullability rules e.g. nested fields aren't verified through method boundaries (example with `return new ValueTask<string>();`) and array initialization can't be easily verified.

This seems different as Roslyn already tracks nullability of members in constructors and already has special hand

[2020-10-13 23:07] vbcodec opened #48575 "VB - wrong execution flow while debugging"
**Version Used**:
current - VS 16.7.6
**Steps to Reproduce**:
[code]

**Expected Behavior**:
Should not reach 'Return False' section of If statement
**Actual Behavior**:
Debugger reaches 'Return False' section of If statement, but without returning from function

[2020-10-13 23:14] allisonchou commented on #48091
Closing as a dupe of #48090.

[2020-10-13 23:14] #48091 closed

[2020-10-13 23:20] halter73 commented on #38770
@sharwell Was this closed because because it's low priority or because it was already supposed to be fixed by #24910? I still see this issue in 16.8 previews.

[2020-10-13 23:25] halter73 commented on #38770
I see the "Resolution-Not Reproducible". I'm going to reopen this then. Feel free to reach out to me on Teams or something if you need help with a repro.

[2020-10-13 23:44] halter73 commented on #38770
I figured out this issue doesn't repro without VsVim. I filed an issue there (https://github.com/VsVim/VsVim/issues/2857). Sorry for the spam.

[2020-10-13 23:44] #38770 closed

[2020-10-13 23:48] RikkiGibson commented on #48574
From https://github.com/dotnet/csharplang/blob/master/proposals/nullable-constructor-analysis.md

It sounds like we failed to do this. Would be happy to address when I get the chance or review a PR that fixes this.

[2020-10-14 00:19] RikkiGibson opened #48578 "Long compile time from tests for deeply nested unbound lambdas"
**Version Used**:

**Steps to Reproduce**:

[code]

**Expected Behavior**: Test completes without taking much time

**Actual Behavior**: Takes about 90 seconds to run on my machine--maybe 20-30 seconds when testing in release mode

For some reason, taking the raw source, throwing it in a project, and building it takes less than a second--even if I build a toolset package from my local Roslyn enlis

[2020-10-14 00:53] AlekseyTs commented on #42975
Done with review pass (iteration 1)

[2020-10-14 02:01] VBAndCs opened #48581 "[VB.NET] Sometimes, editor doen't append missing `( )` after method names"
Som,etimes, VB editor adds the missing `()` (like in comments 1, 2, and 3 in the next sample) after method names, and sometimes it doesn't (like in comments 4, 5 in the next sample).
[code]

Is there a reason for this?

[2020-10-14 02:03] yyjdelete commented on #45422
@allisonchou
See the same stacktrace in VS16.8 Preview3.2

One possible reproduce
* Select `static void >LocalMethod1_1<()`(text between `>` and `<`) and Press Alt+Enter;
* Or select all text between `>` and `<`
[code]

Reproduce code
[code]

[2020-10-14 02:56] CyrusNajmabadi commented on #48581
Would take a community PR here.  @VBAndCs are you interested in contributing?  If so, we can help walk you through a PR here :)

[2020-10-14 05:05] lsoft commented on #48522
@jaredpar Thanks for the discussion, I hope I didn't take too much of your time.

My task is different from that of Youssef1313. Let me describe my actual task. Maybe it will become clearer.

I recognized that source generators are very helpful to write a new-generation DI container with very good (probably - the best) performance. (please don't laugh, this is a very interesting project :) )

So,

[2020-10-14 05:10] allisonchou commented on #48410
Fixed by #48467.

[2020-10-14 05:10] #48410 closed

[2020-10-14 05:54] #48547 closed

[2020-10-14 06:20] albahari opened #48584 "C# 9 Records: Explicit property declaration breaks primary constructor"
**Version Used**: 3.8.0-3.20458.6

**Steps to Reproduce**:

Run the following code:

[code]

**Expected Behavior**:

This should print "True"

**Actual Behavior**:

It prints "False"

The auto-generated constructor fails to set the X property.

[2020-10-14 06:27] alrz commented on #48584
When you redefine the property you're responsible for the assignment as well.
[code]

[2020-10-14 10:14] canton7 commented on #48584
Can I suggest that Roslyn reports a warning when a record's positional parameter is unused? That would catch cases where the user assumes that a positional parameter's value will be used to initialise some member, but this isn't actually the case.

[2020-10-14 10:25] canton7 commented on #48214
#43821 is about exposing SyntaxGenerator to source generators, where @CyrusNajmabadi explains why it's not straightforward to do this.

[2020-10-14 10:47] alrz commented on #48584
That's similar to https://github.com/dotnet/roslyn/issues/47677, both a good candidate for warning waves.

[2020-10-14 10:54] Vake93 commented on #48214
@canton7 in your issue you have said that you need to get a user interface (or a class) from a referrance assembly. I too had the same problem and solved it creating a SymbolVisitor and overiding the VisitNamedType method to collect the types from referrance assemblies.

[code]

[code]

[2020-10-14 11:04] Tan90909090 opened #48586 "IDE0063 code fixer deletes comments nearby using statement or curly braces"
**Version Used**: Visual Studio 2019 Version 16.7.5

**Steps to Reproduce**:
1.  Write a following code, which has an `IDE0063 'using' statement can be simplified`:
[code]
2. Apply  the `Use simple 'using' statement`

**Expected Behavior**:
All comments remain like this:
[code]

**Actual Behavior**:
"foo", "bar", "baz" comments are deleted:
[code]

[2020-10-14 11:04] canton7 commented on #48214
@Vake93 Thanks, but that wasn't the part I was having trouble with (and it isn't relevant to this issue). [One](https://github.com/canton7/RestEase/blob/f7efb7684b96ce9da4f55d52f7abfa94eb7c0340/src/RestEase.SourceGenerator/Implementation/Processor.cs#L32) [Two](https://github.com/canton7/RestEase/blob/f7efb7684b96ce9da4f55d52f7abfa94eb7c0340/src/RestEase.SourceGenerator/Implementation/WellKnownSym

[2020-10-14 11:05] canton7 commented on #48584
Why would this be a candidate for a warning wave? Records haven't been released yet, so there's surely no backwards compat concern with adding a warning to records?

[2020-10-14 11:07] orthoxerox commented on #47880
Can confirm it's fixed in RC2

[2020-10-14 11:08] Youssef1313 commented on #48584
I personally agree with @canton7. This should be something to address as a regular warning before the final release.

[2020-10-14 13:27] vsfeedback opened #48587 "Problem on VB.net compiler with property,when no "As" keyword specified (.NET 4.8)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1186116/problem-on-vbnet-compiler-with-propertywhen-no-as.html)._

---
[severity:It bothers me. A fix would be nice]
With VB.net 4.8 (Haven't tried any other version)
When, Option Strict is set to OFF;

It turns out this compile, without any error nor warning;

[code]

I ty

[2020-10-14 15:32] jaredpar commented on #48522
It can't access the attribute without creating a new `Compilation`. My point though is what value exists in accessing that symbol? What can you do with it? A source generator can only do two operations:

1. Generate code
1. Generate diagnostics

There is no need for the symbol to generate further code that can't be done instead by simple book keeping.

[2020-10-14 15:43] Youssef1313 commented on #48522
I need the symbol to compare it with existing attributes. To be more specific about my scenario (which is different than the OP scenario - but both needs the same thing):

1. My source generator adds the following source:

[code]

2. The generator consumer should apply the attribute to fields/properties based on his needs.

3. The generator should generate source based based on **where** the attri

[2020-10-14 15:59] jaredpar commented on #48469
Appears to be an EE issue here. Wonder the IL interpretation is getting tripped up by the `modreq`

[2020-10-14 16:04] jaredpar commented on #48578
Tried the sample on a simple program and yes it compiles in a second but it does so because it bails out when it can't find the type `ERROR`. Essentially it's bailing out on declaration diagnostics. Is the test taking longer because it's digging past those?

[2020-10-14 16:25] mavasani commented on #48564
Thanks for adding the test @sharwell. However, based on the investigation noted in https://github.com/dotnet/roslyn/pull/48583/files#r504809883, the scenario in the test is not possible from Visual Studio, so this seems like a test + API consumer issue, hence cannot be a root cause of any dogfooding feedback issues from customers.

I will work on a fix as we still want Roslyn API consumer scenario

[2020-10-14 16:26] #48504 closed

[2020-10-14 16:45] AdamSpeight2008 commented on #48581
When method takes no (or in case of extension method, additional) arguments the parenthesis are optional.

[2020-10-14 16:49] AlekseyTs commented on #48587
Yes, this looks like a bug in the parser. Native compiler is complaining as expected:
[code]

[2020-10-14 17:03] vsfeedback opened #48590 "Visual Basic line commit hangs the editor while typing"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/804596/running-low-priority-background-processes-stops-me.html)._

---
On a particular project, every time I start it up I have to sit and wait for "Running low priority background processes" to finish. There's no count on how many processes it is working through, and if I

[2020-10-14 17:06] sharwell commented on #48590
This issue occurred due to a cyclic project reference (a project **Impulse4.vbproj** referenced itself with a `ProjectReference`).

The resulting deadlock occurred with the following async stack:

[code]

Marking **help wanted** to ensure `GetMetadataReferenceAsync` does not attempt to call `GetCompilationAsync` on a compilation that itself is waiting for the call to `GetMetadataReferenceAsync` to

[2020-10-14 17:17] CyrusNajmabadi commented on #48581
@AdamSpeight2008 yes.  but the issue here is that for some no-arg methods we automatically add parens, and for some we do not.  it's the inconsistency that's the issue.

[2020-10-14 17:31] cston opened #48591 "Cannot use `ptr is null` for `T* where T : unmanaged`"
`is null` and `is not null` are allowed for `int*` but not `T* where T : unmanaged`.

[code]

[2020-10-14 17:38] CyrusNajmabadi commented on #48590
Can we detect and reject this more up front?  Note: by 'reject' that either means one of:

1. not allowing this to load.
2. allowing it to load, but breaking the reference so taht we only operate on an acyclic graph.

[2020-10-14 17:38] cston commented on #48591
See https://github.com/dotnet/roslyn/pull/48585#discussion_r504771996

[2020-10-14 17:39] vsfeedback opened #48592 "Visual Studio crashes when working with large files."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/814366/visual-studio-crashes-when-working-with-large-file.html)._

---
I have a class with a single dictionary in a class that generates some static data. It's about 32000 lines :) I am able to edit it in Visual Studio "Code" and its very responsive but every time I try to

[2020-10-14 17:45] CyrusNajmabadi commented on #48592
@jamiehankins.  In general we will prioritize our efforts based on general impact to hte community *as a whole*.  i.e. tehre are crashes/hangs/perf issues impacting thousands to millions of users.  THere are also unpleasant bugs (though less severe) that are impacting all customers.  These would take priority over a crash only affecting a very narrow slice of users.

That said, in cases like this,

[2020-10-14 17:51] Youssef1313 commented on #48587
I'll look into this and see what I'll find.

[2020-10-14 17:53] CyrusNajmabadi commented on #48586
We would take a targetted PR that updated things to have this behavior.

[2020-10-14 18:21] vsfeedback opened #48597 "SQLitePersistentStorage.BulkPopulateProjectIds consumes significant CPU in large solutions"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1105460/左下角-正在執行低優先序背景流程-疑似持續占用大量cpu資源.html)._

---
在完全沒有任何動作的狀態下，發現Visual Studo 持續有CPU 使用量

點開為左下角 "就緒"，發現有 "正在執行低優先序背景流程"，並顯示 "正在評估佇列中的2工作"

找不到任何方法可以瀏覽及關閉其佇列中的工作。

相似問題: https://social.msdn.microsoft.com/Forums/en-US/1fc07c99-2845-449b-b341-81e708e011c0/vs2019-1641-how-t

[2020-10-14 18:29] sharwell commented on #48597
This is primarily caused by an inefficient implementation of [`Project.Documents`](https://github.com/dotnet/roslyn/blob/7929ef216a69a83ebc2c8f119785672b1b859d2e/src/Workspaces/Core/Portable/Workspace/Solution/Project.cs#L173-L176). In order of impact (most impactful items first):

1. Each call to `GetDocument` produces a call to `ContainsDocument`, which is slow and unnecessary in this context
2.

[2020-10-14 18:31] AdamSpeight2008 commented on #48581
@CyrusNajmabadi  was that clear from original post. If we do take this please make it an option based choice.

[2020-10-14 18:43] jaredpar opened #48599 "GetOutputfileName returns null but consumer requires non-null"
This comes from the PR to null annotate `CommonCompiler`: https://github.com/dotnet/roslyn/pull/48460

The method `GetOutputfileName` is `string?` by necessity but all the consumers require a nun-null return. This should be rationalized because it's pretty core to our functionality.

[2020-10-14 19:02] shtirlitsDva commented on #43314
I am on 16.7.6 and have been experiencing slow Intellisense since I bought a 120Hz screen. I can confirm that setting refresh rate to 60Hz speeds up Intellisense.

[2020-10-14 19:07] NTaylorMullen opened #48600 "Support textDocument/foldingRange for C# LSP"
Razor's C#'s support is driven by C#'s LSP range of support. Razor [recently got an issue](https://github.com/dotnet/aspnetcore/issues/26893) from a customer indicating that they wanted C# folding range support for `#region` tags. After a brief conversation with @dibarbet it looks like this support is currently driven by the VS client. This issue encompasses moving that support from client to serv

[2020-10-14 19:23] CyrusNajmabadi commented on #48581
Isn't this what the first line says:

The issue is the inconsistency.  We do this for some method calls and not for others, seemingly randomly.

There is already an option controlling if VB pretty lists your code or not.  This feature is already controlled by this.  I don't see why we would need anything beyond that.

[2020-10-14 19:36] jinujoseph commented on #47778
cc @tmat

[2020-10-14 19:39] sharwell commented on #47735
This seems to be covered by https://github.com/dotnet/roslyn/issues/32149#issuecomment-705091980

[2020-10-14 19:40] sharwell commented on #47735
@alrz any objection to treating this as a duplicate of the broader request?

[2020-10-14 19:43] RikkiGibson commented on #48578
I think that this issue might not be degrading the command line build performance, but it might cause performance degradation in the IDE.

[2020-10-14 19:47] alrz commented on #47735
That's exactly what I've been asking for but I think it wouldn't include record members. those need special treatment since they are not considered an "override" and are not part of inheritance chain.

[2020-10-14 19:51] #47600 closed

[2020-10-14 19:54] jinujoseph commented on #47565
Duplicate of #48318

[2020-10-14 19:54] #47565 closed

[2020-10-14 20:33] RikkiGibson commented on #48493
We hit an assertion failure in debug mode:

[code]

[2020-10-14 20:46] pranavkm commented on #48174
@RikkiGibson the scenario I
In the example listed above, the nested delegates are code generated, so we generally don't care about nullability analysis there.  We do want the analysis to work inside the body of the delegate since that's code users have written and they would expect the same sort of analysis you would get if they were writing regular C#. I'm much more concerned about the slowness u

[2020-10-14 20:46] RikkiGibson commented on #48493
Here's the simplest repro I've found so far:

[code]

The issue seems to manifest when:
- there are at least 3 arms in the switch expression
- the first and last arms perform tests on the input
- the middle arm performs no tests on the input and has a when clause containing a lambda.

[2020-10-14 21:20] jamiehankins commented on #48592
@CyrusNajmabadi, thank you for your thoughtful response. I very much appreciate the process of prioritizing work, so I definitely get it.

I'm chasing my own deadlines right now, but I would love to dig in and see if there's an easy fix for this when I have a couple of hours to come up for air. I can certainly dig around myself, but is there a "getting started" document you have a pointer handy to

[2020-10-14 21:36] CyrusNajmabadi commented on #48592
Yup!  https://github.com/dotnet/roslyn/blob/master/docs/wiki/Contributing-Code.md and https://github.com/dotnet/roslyn/blob/master/docs/wiki/Building-Testing-and-Debugging.md.  Look at the bottom of https://github.com/dotnet/roslyn for helpful community links to where you can ask more questions and interact with team members :)

[2020-10-14 21:51] TessenR opened #48605 "Roslyn incorrectly updates variables' states to not nullable upon passing them to [AllowNull] parameters"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile and run the following code:
[code]

**Expected Behavior**:
Warning for possible null dereference in `s.ToString()`;

**Actual Behavior**:
No warnings. The program crashes at runtime with a `NullReferenceException`

[2020-10-14 21:57] sharwell commented on #48590
🔗 This was also the root cause of AB#1091086

[2020-10-14 22:00] sparkie108 commented on #48100
I can confirm this is fixed in RC2😀

[2020-10-14 22:05] RikkiGibson commented on #48605
This is a scenario we discussed at some length internally a few months ago. At the time we concluded that the flow state of such a parameter *should* be updated to not-null after the call, as part of our change to reduce redundant warnings for maybe-null arguments to not-null parameters (#43383).

Tagging @333fred.

[2020-10-14 22:18] VBAndCs commented on #48581
I think there may be a reason for this behaviour, but didn't end up well.
In LinQ, many methods has a property-like names (such as Count, FirstOrDeafsult...etc), so, in VB, it is better not to add the `()`.
So, maybe LinQ can be excluded from this fix, or at least LinQ methods that are named like properties.
This of course doesn't explain why `Invoke` and `GetValueOrDefault` do't get their `()`.

[2020-10-14 22:18] Youssef1313 opened #48607 "Allow FixAll to continue working on other violations when it crashes"
I came across a scenario where I've **lots** of some rule violations, which has a codefix. The codefix had a bug that makes it crash on a very certain case. When I attempt to do a Fix all in solution, it doesn't fix any, while it *could* fix some.

I think it's much better experience if some violations are skipped and some are fixed, rather than skipping all of them.

[2020-10-14 22:29] TessenR commented on #48605
TBH I fail to see why this would be considered a logical behavior. I wonder if you remember any arguments for it

❤️

[2020-10-14 22:40] paul1956 commented on #48581
If VB does not get () everywhere C# does then ChangeSignature fails when the () is missing, reported as a separate issue.

[2020-10-14 22:46] #48563 closed

[2020-10-14 22:55] gundermanc opened #48609 "Ctrl+Q and GoTo in CodeSpaces doesn't start until the user opens a file"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 main
Version 16.9.0 Preview 1.0 [30612.38.main]

**Steps to Reproduce**:

1. Connect to a C# CodeSpace instance
2. Open a solution
3. Without opening any files, focus Ctrl+Q or GoTo and Search for a symbol.

**Expected Behavior**:
Symbol results should appear (might take a few seconds).

**Actual Behavior**:
Only file results are visible.

[2020-10-14 22:56] VBAndCs commented on #48581
@paul1956

I don't get what you mean. Can you explain?
In general, this issue is about the pretty listing behaviour, not about language syntax rules. Auto adding `()` or not, the code compiles.

[2020-10-14 22:59] CyrusNajmabadi commented on #48581
Sure.  If you get some time later let us know and we can help you out here.

[2020-10-14 23:01] CyrusNajmabadi commented on #48609
Sounds like a platform issue.

[2020-10-14 23:11] CyrusNajmabadi commented on #48610
you'd have to provide a repro program where this happens.

[2020-10-14 23:11] #48610 closed

[2020-10-14 23:11] gundermanc commented on #48609
File path search provider lights up correctly on the server side and its results appear on the client, so it's not a problem with the search brokered service that remotes items in both experiences.

The next culprit would be the LSP client, though the C++ version of this feature works fine in CodeSpaces, so it seems unlikely to be LSP related.

Remaining possibly at-fault components are:

- LiveSh

[2020-10-14 23:49] JustNrik opened #48613 "[Question] Why isn't this optimized by the compiler?"
[code]
IL Gen of the ctor:

[code]

It sets the backing field twice, same happens in the jit asm, I'm curious to know why isn't this optimized?

[2020-10-14 23:50] jmarolf commented on #48581
That is just a bug we should fix in my opinion. We can just check if parens exist for the call site being updated and add them if they do not.

[2020-10-14 23:53] NTaylorMullen commented on #48600
One interesting thing to consider with this issue is how local & LSP server folding ranges interoperate. Aka, if you still have your client side folding range provider going and you also have your server going what happens? In Razor we'll especially need to consider this because we have multiple languages where some are powered by TextMate and some by the LSP requests

[2020-10-15 00:02] dibarbet commented on #48600
I would expect that we would not do outlining client side if we provide them via LSP (so that would mean in codespaces for C# files and razor can also call the LSP server to retrieve them for razor documents).  How you join those with ones provided by textmate on razor files I can't say, but there shouldn't be conflicts in the normal c# case

[2020-10-15 00:04] sharwell commented on #26445
📝 When this feature is implemented, the heavy lifting should be out-of-process.

[2020-10-15 00:20] NTaylorMullen commented on #48600
Ah, fair enough, that sounds like a great plan!

[2020-10-15 00:30] sharwell commented on #48590
🔗 This was also the root cause of AB#1049578

[2020-10-15 00:37] 333fred commented on #48605
The arguments for this are that we made a change to update the flow state of a parameter to the declared state of a parameter after such a method is called. Generally speaking, we didn't consider this case to be realistic code, and weren't too concerned with the simpler rule (always update the state) being implemented. Can you share a real scenario that is actually hurt by this?

[2020-10-15 00:38] #41964 closed

[2020-10-15 00:41] chsienki commented on #48522
@Youssef1313 this is the correct way to do this today. As I said, specifically for this attribute kind of case we have some ideas about how to improve it in the future, but until we add any new APIs the sample shows the current best practice.

@lsoft In terms of your proposed API, it doesn't really buy you anything. We could make `AddSource` return an updated compilation, but we wouldn't be able t

[2020-10-15 01:31] davidwengier opened #48617 "Don't let LSP handlers access ILspSolutionProvider directly"
Now that we have text synchronization, its very important that the LSP request handlers get the right solution given to them by the `RequestExecutionQueue` so they're looking at the latest document contents. Since `ILspSolutionProvider` is a MEF component it does not have the full view of the world and a handler that imports it will see stale data.

We need to provide an alternative that handlers

[2020-10-15 03:02] davidwengier commented on #48617
As part of this, perhaps `ILspSolutionProvider`, or whatever replaces it, should just return DocumentIds instead of Documents, since the queue is just going to replace them with new documents anyway.

See: https://github.com/dotnet/roslyn/pull/48426#discussion_r501414000

[2020-10-15 04:45] YairHalberstadt opened #48618 "visual studio no longer loads package containing both library and analyzer as analyzer"
I'm not sure this is the right repository, so please move if not.

**Version Used**: 16.8 preview 3

**Steps to Reproduce**:

I have a source generator https://www.nuget.org/packages/StrongInject/

The nuget package contains both a lib, and an analyzer.

When I used it in the past, and I included it in my project as so:

[code]

And the source generator ran, but with the error:

Now I updated the

[2020-10-15 04:55] YairHalberstadt commented on #48618
Resolved by moving to vs 15.8 preview 4

[2020-10-15 04:55] #48618 closed

[2020-10-15 05:25] paul1956 commented on #48581
@jmarolf details #48090

[2020-10-15 06:51] lsoft commented on #48522
I'm completely fine with it. My needs are solved with the workaround suggested by @Youssef1313 and you.

Thanks for the helpful discussion!

[2020-10-15 06:51] #48522 closed

[2020-10-15 09:17] sonnemaf commented on #30452
The internal interface members don't work as expected (for me).

Take a look at this ClassLibrary. It contains the IDisplayable interface with 2 internal members. The Display(string, int) with some inplementation and a Foo() method with no implementation.

[code]

In the class Report I had to implement the Foo() method explicitly. This is ok.

If I create a second project/assembly which references

[2020-10-15 09:34] Youssef1313 commented on #48522
@chsienki Was it considered to find a way to ship a class in a source generator project and make it normally consumable? i.e. the attribute definition isn't added while the generation process, but existing in the original compilation?

A workaround that comes to my mind (not yet tested) is to force consumers to have 2 package reference (one containing the source generator, and the other containing

[2020-10-15 10:21] Youssef1313 commented on #48605
While I can't come up with a real scenario here, I agree with @TessenR and @RikkiGibson that this should produce a warning.

[2020-10-15 10:39] Youssef1313 commented on #48605
For a real scenario, imagine that I called `WriteJson` from Newtonsoft.Json library:

https://github.com/JamesNK/Newtonsoft.Json/blob/cdf10151d507d497a3f9a71d36d544b199f73435/Src/Newtonsoft.Json/JsonConverter.cs#L108

The parameter `value` is marked with `[AllowNull]`. After the call, if someone attempts to dereference the passed value, they will get no warnings.

[2020-10-15 11:42] TessenR commented on #48605
@333fred

I'm not sure why "update the state to not nullable if parameter only allows not nullable values" isn't simple enough.

The original design of nullable reference types all but ensured that there's a ton of API out there using these attributes. One of the examples is linked above. The reasons for this are:
- you had to use `[AllowNull]` to annotate generics
- you had to preserve such attri

[2020-10-15 11:58] TessenR commented on #48605
I think I've got a bit lost in the terminology here. What exactly do you mean by `the declared state of a parameter`?

Because it can't be neither `parameter type nullability` as the compiler does update the argument's state to not nullable upon passing it to `[DisallowNull] string? s` parameter. Nor the initial state of the parameter in the method since using `[AllowNull] string s` will warn on u

[2020-10-15 12:32] soolafsen commented on #43788
Not working in 16.8 preview 4

[2020-10-15 13:37] MaStr11 opened #48621 "Refactoring: Toggle between as operator and explicit cast expression"
**Brief description:**

The cast operator `as` and the explicit cast expression can be used interchangeably with some semantic differences. Changing from one form to the other requires moving the target type from before to after the expression or vice versa:

[code]

**Languages applicable:**

C#

**Code example that the analyzer should report:**

Refactoring should be reported at each `AsExpressi

[2020-10-15 14:36] premun opened #48622 "IDE0059 is triggered for recurrent lambda initialization"
**Version Used**:
VS 16.9.0 Preview 1.0 [30609.169.main]

**Steps to Reproduce**:

[code]

**Expected Behavior**:
IDE0059 should not be triggered for `func`.

**Actual Behavior**:
IDE0059 is triggered for `func` but when initialization to `null` is removed, compiler raises error:

For the `return func(s);` line.

[2020-10-15 15:42] sharwell commented on #43260
@ryzngard Reopening this. There are now three separate reports of this:

- AB#1094626 (the original report)
- AB#1051620
- AB#1230608 (came today)

[2020-10-15 16:14] joshcomley opened #48886 "RC2 won't compile large collections of large files"
[RoslynBug.zip](https://github.com/dotnet/core/files/5386300/RoslynBug.zip)

I'm not sure if this is the correct place to post this, but as of RC2 of .NET5 Roslyn seems to struggle to handle large files.

Attached is a sample project stuffed with dummy data.

Steps to recreate:

1 - Download attached ZIP file
2 - Run `dotnet build`

In the root is a `global.json.txt` which if you rename to `global

[2020-10-15 16:57] jaredpar commented on #48613
It's a question of priorities. In this specific, extremely narrow, case yes the compiler could reasonably remove the redundant set. At the same time there are two issues with this:

1. This is only the case in this very specific narrow example. If there is practically any other code before the `Value = 2` statement, any other initializers, `base` calls, etc ... then the optimization cannot be perf

[2020-10-15 16:57] #48613 closed

[2020-10-15 17:00] jaredpar commented on #48584
A warning on unused ctor arguments seems reasonable.

[2020-10-15 17:03] tmat opened #48628 "EnC: Adding/removing unsafe modifier should not be a rude edit"
**Version Used**:
Version 16.9.0 Preview 1.0 [30614.203.main]

**Steps to Reproduce**:

During debugging change: `class C {}` to `unsafe class C {}`, or vice versa.

**Expected Behavior**:
No rude edit.

**Actual Behavior**:
Rude edit.

[code]

[2020-10-15 17:17] chsienki commented on #48522
@Youssef1313 Yep, you can absolutely do this. You have two options:

- Ship a runtime library, and a parallel generator library:
  - Have the classes you need in the runtime lib
  - Make the runtime NuGet depend on the generator NuGet

- Use the same assembly for both runtime and generation:
  - If you're using `ProjectReference` you can set   `ReferenceOutputAssembly="true"` to also reference the

[2020-10-15 17:19] jcouv commented on #43321
Just want to link to list of supported [calling conventions](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/CallingConventions.cs) in BCL for future reference.

[2020-10-15 17:26] Youssef1313 opened #48630 "EnC: Support records"
https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs#L1573

Currently, TryGetDisplayNameImpl will return `null` for records. It will then throw an exception in:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Features/CSharp/Portable/EditAndContinue/CSharpEdit

[2020-10-15 17:36] tmat opened #48631 "Allow unsafe code in Interactive Window"
Currently the code is compiled in safe context, which makes experimenting with (function) pointers awkward (all unsafe code must be wrapped in `unsafe { }`).

We should enable unsafe context by default.

In addition, we could have `#unsafe (on|off|enable|disable)` host command that toggles the setting.

[2020-10-15 17:54] tmat opened #48632 "EnC does not work in init accessors"
**Version Used**:

Version 16.9.0 Preview 1.0 [30614.203.main]

**Steps to Reproduce**:

During debugging update

[code]

to

[code]

and step.

**Expected Behavior**:

Change applied.

**Actual Behavior**:

Change not applied.

[2020-10-15 18:02] tmat commented on #48632
It should also be possible to change `set` to `init` and vice versa if the accessor has an explicit body (i.e. the compiler does not generate backing field).
The modifier of the generated backing field is different between `set` and `init` (`readonly` for `init`) - I believe the runtime does not support updating it, but we should double-check if it's true. If not we can allow changing `set` to `in

[2020-10-15 18:07] chsienki opened #48634 "Global analyzer config precedence"
# Global analyzer config precedence

We recently introduced a new feature, known as 'global analyzer config'. This was designed to solve two, somewhat orthogonal, problems:

1. The ability to participate in the `.editorconfig` hierarchy, without the file itself being within the source hierarchy (such as from a NuGet package)
2. The ability to provide diagnostic settings to diagnostics or files tha

[2020-10-15 18:08] chsienki commented on #48634
//cc @mavasani @jasonmalinowski @jaredpar

[2020-10-15 18:18] tmat opened #48635 "EnC: Updating lambda parameters to discards breaks EnC"
**Version Used**:

**Steps to Reproduce**:

F5 and update:

[code]

to

[code]

**Expected Behavior**:

The lambda body is matched to the previous one and is updated to return 10. Program prints 10.

**Actual Behavior**:

The lambdas are not matched, the program prints 2.

See https://github.com/dotnet/csharplang/blob/master/proposals/csharp-9.0/lambda-discard-parameters.md for all forms of discar

[2020-10-15 18:32] tmat opened #48636 "EnC: Adding/updating/removing attribute on local function, its return type or parameter should be rude edit"
**Version Used**:
Version 16.9.0 Preview 1.0 [30614.203.main]

It is currently rude edit to add/update/remove attributes on any member/parameter/return value, so for consistency we should report this rude edit on local function attributes as well.

Once support changing attributes we should remove the rude edit for local functions as well. Runtime support is required for such feature, so the rude

[2020-10-15 18:41] tmat opened #48637 "EnC: nint and nuint should be treated as equivalent to IntPtr and UIntPtr"
**Version Used**:
Version 16.9.0 Preview 1.0 [30614.203.main]

**Steps to Reproduce**:

While debugging update:

[code]

to

[code]

**Expected Behavior**:

The edit should be allowed since the underlying representation of the types is the same.

**Actual Behavior**:

Rude edit is reported.

Also validate that symbol matcher considers these types the same (it should as they are the same symbols, b

[2020-10-15 18:53] RikkiGibson commented on #48574
It looks like we specifically messed this up for *fields*. The following example gives the expected warning (as well as an exit warning, if we never warn about a bad receiver and update the state to not-null.)

[code]

[2020-10-15 18:58] mavasani commented on #48634
Thanks @chsienki - the problem is indeed real and I agree it needs a solution. The proposal of using a `global_level` to enable conflict detection seems reasonable. However, I am wondering if we can make this slightly simpler for end users and avoid them having any special keys in their hierarchical global config files named `.globalconfig`. Let me elaborate.

We currently [recommend](https://docs

[2020-10-15 19:04] Youssef1313 commented on #48632
Hoping for this to be simple as updating the following:

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Features/CSharp/Portable/EditAndContinue/TopSyntaxComparer.cs#L261-L266

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Features/CSharp/Portable/EditAndContinue/SyntaxUtilities.cs#L40-L46

https://github.com/dotnet/roslyn/bl

[2020-10-15 19:21] tmat opened #48639 "EnC does not work for records"
**Version Used**:
Version 16.9.0 Preview 1.0 [30614.203.main]

We should either report rude edit whenever a record type is edited in any way or implement full support for EnC.

This needs to include
- symbol matching record symbols
- adding new non-predefined members
- adding/removing predefined members: `EqualityContract`, `Equals(R)`, `GetHashCode()`, `ToString()`, `PrintMembers()` and copy-cons

[2020-10-15 19:22] #47845 closed

[2020-10-15 19:24] tmat opened #48640 "Override completion should not suggest overriding Equals in records"
**Version Used**:

Version 16.9.0 Preview 1.0 [30614.203.main]

**Steps to Reproduce**:

[code]

**Expected Behavior**:

Completion does not include `Equals(object? obj)` since it is an error to add such override.

**Actual Behavior**:

![image](https://user-images.githubusercontent.com/41759/96176594-6cc1c200-0ee1-11eb-926e-7bb2b9d68308.png)

![image](https://user-images.githubusercontent.com/417

[2020-10-15 19:31] runfoapp[bot] opened #48641 "Roslyn UnmanagedCallingConventions failure"
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[853806](https://dev.azure.com/dnceng/public/_build/results?buildId=853806)|[roslyn-CI](https://dnceng.visualstudio.com/public/_build?definitionId=15)|Rolling|Test Windows Desktop Debug 32|
|[844705](https://dev.azure.com/dnceng/public/_build/results?buildId=844705)|[roslyn-CI](https://dnceng.visualstudio.com/public/_build?definitionId=15)|[PR 48

[2020-10-15 19:31] tmat commented on #44877
Updated description.

[2020-10-15 19:32] tmat commented on #48639
Closing in favor of https://github.com/dotnet/roslyn/issues/44877

[2020-10-15 19:32] #48639 closed

[2020-10-15 19:33] jaredpar commented on #48641
@333fred this test appears to be flaky. Had several failures over the last month.

[2020-10-15 19:34] tmat opened #48643 "Records type definition identifier is not classified correctly"
**Version Used**:

Version 16.9.0 Preview 1.0 [30614.203.main]
**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/41759/96177414-b65edc80-0ee2-11eb-9adc-edfdb68f61b0.png)

**Expected Behavior**:

The color of X in the class definition and C in the record definition is the same.

[2020-10-15 19:34] runfoapp[bot] opened #48644 "Roslyn Test CompletionInLinkedFiles"
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[853254](https://dev.azure.com/dnceng/public/_build/results?buildId=853254)|[roslyn-CI](https://dnceng.visualstudio.com/public/_build?definitionId=15)|[PR 48604](https://github.com/dotnet/roslyn/pull/48604)|Test Windows Desktop Spanish Debug 32|
|[850212](https://dev.azure.com/dnceng/public/_build/results?buildId=850212)|[roslyn-CI](https://dncen

[2020-10-15 19:35] jaredpar commented on #48644
@dotnet/roslyn-ide FYI this test is behaving a bit flaky right now.

[2020-10-15 19:41] tmat opened #48645 "EE displays property EqualityContract of record types in Watch Window"
**Version Used**:

**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/41759/96178057-ab587c00-0ee3-11eb-8f20-b71904107739.png)

I'd guess this is not useful in most scenarios.

I wonder if we should special-case it in EE and show it only if the `raw` modifier is used:

![image](https://user-images.githubusercontent.com/41759/96178127-c7f4b400-0ee3-11eb-94df-219b7c6be264.pn

[2020-10-15 19:42] tmat commented on #48645
@dotnet/roslyn-compiler Thoughts?

[2020-10-15 19:44] 333fred commented on #48645
Related: https://github.com/dotnet/csharplang/issues/4001

Personally, I'd be fine with special-casing it.

[2020-10-15 19:49] tmat opened #48646 "Evaluating a record with recursive reference results in termination of the program with Stack Overflow"
**Version Used**:
Version 16.9.0 Preview 1.0 [30614.203.main]

**Steps to Reproduce**:

Place breakpoint as indicated, F5 and open Locals Window, then step (F10).

[code]

**Actual Behavior**:

![image](https://user-images.githubusercontent.com/41759/96178851-dbece580-0ee4-11eb-958f-f0adf8ee806b.png)

**Expected Behavior**:

SO is prevented.

Perhaps the implementation should only go to certain de

[2020-10-15 19:50] tmat commented on #40726
@PathogenDavid Filed https://github.com/dotnet/roslyn/issues/48646.

[2020-10-15 20:17] jaredpar commented on #48645
Does the EE know if it's a record type? If so then special casing seems okay from my side, not sure how EE feels about that.

The csharplang proposal I'm not terribly keen on. Feels odd for us to be emitting a `DebuggerBrowsable` attribute.

[2020-10-15 20:18] jinujoseph commented on #48630
cc @tmat

[2020-10-15 20:19] tmat commented on #48645
`DebuggerBrowsable` would suppress displaying it completely (even in `raw` mode). That's too much I think.

Not sure if it is possible to change the property to a method `GetEqualityContract` at this point - that would solve the problem.

[2020-10-15 20:20] CyrusNajmabadi commented on #48643
@allisonchou you have the PR for this right?

[2020-10-15 20:29] PathogenDavid commented on #40726
@tmat Thanks! Gave that issue a follow.

[2020-10-15 20:33] tmat commented on #48645
Special-casing in EE is ok, but my preference is generally not to. It has the problem of having non-C# languages to do it as well or just live with the clutter. Other languages don't know about records. For example, should VB know about C# records so that it can special case them in EE?

[2020-10-15 20:45] Youssef1313 commented on #48643
https://github.com/dotnet/roslyn/pull/47960

[2020-10-15 20:53] jinujoseph commented on #48469
cc @tmat

[2020-10-15 21:06] #47569 closed

[2020-10-15 21:09] jinujoseph commented on #47969
cc @CyrusNajmabadi for info

[2020-10-15 21:53] jaredpar commented on #38342
This is resolved now. The issue was the compiler server was exiting because it was hitting analyzer inconsistencies and exiting. This is fixed a while back now.

[2020-10-15 21:53] #38342 closed

[2020-10-15 22:04] #48020 closed

[2020-10-15 22:04] Youssef1313 commented on #48287
@CyrusNajmabadi I just came across https://github.com/dotnet/roslyn/issues/40726 and found:

![image](https://user-images.githubusercontent.com/31348972/96190747-02da0480-0f43-11eb-950f-2c6da30d6aeb.png)

Did that meant records shouldn't indeed have Clone extension methods? Why it has a check mark while it doesn't seem to be done yet?

cc: @jcouv

[2020-10-15 22:08] #48175 closed

[2020-10-15 22:09] chsienki commented on #48634
Interesting. I'm not against the idea of making more decisions about levels implicitly, but I think we have to be very careful in designing the rules around how we do it. In the original design, we went for `is_global` as we didn't want to make assumptions in the compiler based on filename. I'd be willing to relax this, but would want @jaredpar to chime in on his thoughts around this.

In terms of

[2020-10-15 22:09] RikkiGibson commented on #47935
manually adding untriaged label so we can put this in a milestone :)

[2020-10-15 22:15] chsienki opened #48649 "Listing compiler outputs"
# Listing compiler outputs

Today, the compiler has no way of communicating its list of outputs to a caller, such as MSBuild. In the past this has been acceptable, as the outputs can be calculated deterministically from the compile inputs (such as `AssemblyName.dll` and `.xml`/`.pdb` depending on options) and the success or failure return code.

With the introduction of Source Generators, it's now

[2020-10-15 22:27] NichUK opened #48656 "Generic casting problem"
### Description

I wasn't sure whether to post this here, or if it belonged elsewhere for the language or VS teams... If I'm in the wrong place, please let me know where I should post it!

When running the code snippet below, I would expect it to compile without the necessity of the double cast on line 44.
With it, it seems to compile and run just fine.

VS 16.8.0 Preview 3.2,
NetStandard 2.1
trie

[2020-10-15 23:07] #48641 closed

[2020-10-15 23:07] #48174 closed

[2020-10-15 23:31] pranavkm commented on #48174
@RikkiGibson what version of VS \ SDK would this fix land in?

[2020-10-15 23:42] jcouv commented on #48287
This was checked because the question was resolved ("no"). That test plan tracks the C# 9 work for records.

[2020-10-15 23:47] RikkiGibson commented on #48174
16.9 preview 2.

Depending on how badly people are impacted by the issue, we could consider backporting to 16.8. For example, do "mainline" blazor scenarios have minutes added to the compile time when the user adopts nullable? I imagine that meets some kind of bar? /cc @jaredpar

[2020-10-15 23:48] Youssef1313 commented on #48287
@jcouv They're [currently allowed](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNGAfAAgZgAQJwDGA9ggCZ4BKA3ALABQjueWAjAGysBMeAogA94AOygBLEqMYBvRnnmt87LlTwBhADaS4AChgALMVGoEAlHgC8APjzC4Ad2o7T9BgF8gA=). Is there any work/tracking issue to disallow it?

[2020-10-15 23:59] mgoertz-msft opened #48651 "Move UI thread dependencies out of the XamlProjectService MEF constructor"
To address the concern that @dibarbet raised during the review of #48459. Currently the ctor is run on the UI thread but we shouldn't rely on that always being the case.

[2020-10-16 00:42] paul1956 opened #48655 "MethodSymbol.Parameters missing Names for AttributeSyntax"
**Version Used**:
Microsoft.CodeAnalysis 3.8.0-4.final
**Steps to Reproduce**:
GetSymbolInfo for an C# Attribute
[code]
Get CandidateSymbols
[code]

**Expected Behavior**:
Parameters gets Name and Type as it is shown in Underlying
![image](https://user-images.githubusercontent.com/12789369/96199781-208c7700-0f0d-11eb-8eca-a9e449cfe587.png)

**Actual Behavior**:
Only Type is available from Paramete

[2020-10-16 02:22] sharwell commented on #48016
@jaredpar Are you sure this wasn't fixed by my change to `ChangedText.Merge`?

[2020-10-16 02:51] CyrusNajmabadi commented on #48287
What we we decided is that when looking up the Clone method we wouldn't bind to extension methods.  It's not that you can't write the extension method.  It's just that the compiler won't use it.

[2020-10-16 02:54] CyrusNajmabadi commented on #48656
Closing out as this is as per the language specification.  There is no conversion from your type to that type parameter.  However, the language does allow conversions from interfaces to and from these different types.   You can see all the rules on conversions here: https://github.com/dotnet/csharplang/blob/master/spec/conversions.md

[2020-10-16 02:54] #48656 closed

[2020-10-16 03:17] #45163 closed

[2020-10-16 03:29] sharwell commented on #48644
@genlu This appears to be a listener cleanup issue. These issues _normally_ occur when the `Workspace` used by a test is not disposed. Most of these were fixed for the 16.9 Preview 1 branch, so if the failure occurred in a 16.8 branch you can just ignore it.

[2020-10-16 03:48] jasonmalinowski commented on #48351
@tmat Ah I was thinking Edit and Continue had already moved OOP. Are you still seeing repros?

[2020-10-16 04:31] #40993 closed

[2020-10-16 05:08] tmat commented on #48351
It is still in-proc. Yes, I am seeing this every now and then.

[2020-10-16 05:28] CyrusNajmabadi commented on #48607
I honestly don't agree.  Crashing is bad.  It feels very wonky and potentially bad to just try to limp through this and end up in some inconsistent state.  I would much rather have us do nothing than do some partial amount of work that may leave you in a completely unknown and inconsistent state.

In other words, there's no reason to think that partially applying a fix-all leaves you in any sort o

[2020-10-16 05:31] CyrusNajmabadi commented on #48621
Yes.  I think we would take a PR for this.  Note that it should be done for VB as well.

[2020-10-16 05:41] CyrusNajmabadi commented on #48655
I don't repro this.  can you please create a test project that demonstrates this?  If necessary, plz upload to github and provide a link to that here.

[2020-10-16 05:41] #48655 closed

[2020-10-16 06:14] kennethrazo opened #48666 "EditorConfig: How to eliminate new line before else?"
I have the following:
If(condition)
{
}

naughty blank lines
else
{
}

Is there any rule that will either warn me or automatically format it to:

if(condition)
{
 ...
}
else
{
...
}

[2020-10-16 06:44] NichUK commented on #48656
Thanks @jkotas and @CyrusNajmabadi.
Looking at it again this morning, now you've pointed it out, I kinda see the wrinkle caused by the layer of generic interface inside the concrete type. Thank you again for the speedy response.

[2020-10-16 06:45] davkean opened #48667 "VS has stopped reporting background compiler diagnostics"
**Version Used**:
Version 16.9.0 Preview 1.0 [30615.81.main]

Visual Studio has stopped reporting background compiler diagnostics, including syntax and semantic errors. It continues to report analyzer violations, but no compiler warnings/errors. If I restart VS the problem persists for the same project. If I can create a new project, then I cannot reproduce this.

This breaks any code fixes that r

[2020-10-16 06:48] #48564 closed

[2020-10-16 06:50] davkean commented on #48667
Deleting my .vs folder resolved the issue, attached is the bad .vs folder:
[vs.zip](https://github.com/dotnet/roslyn/files/5389691/vs.zip)

[2020-10-16 08:36] albahari commented on #47941
This appears to be broken again. While is suggests members such as Test1() and Test2() in the override list, it no longer suggests GetHashCode() or ToString(), which can be legally overridden in records.

[2020-10-16 09:48] Youssef1313 commented on #48287
@CyrusNajmabadi There is probably something I'm misunderstanding. I see that currently it's being used:

https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAgrgOwD4DcIIAERAvIZnAO6EBKAFAJQDcAsAFAIB0AwgDYD2FRqzbsAAgGZicAMb8EAE1ojxUsQEYAbITEAmQgFEAHvExQAloKjsA3u0IOdarbUJ9BcOjAAW5qK4QGe0c7NkdwnXVODQBOOgAiY1MLQXjmYIidAHZyKlphDMIAX3YioA=

I'm also not sure how to use the existing Clone? I can't normally call it

[2020-10-16 09:56] Youssef1313 commented on #48607
@CyrusNajmabadi That's reasonable. But probably not everyone will want this behavior.
I would suggest that a dialogbox is shown saying "'{0}' codefix has crashed. Do you want to continue fixing other violations"?
Then the user has to make the choice.

[2020-10-16 10:02] marek-safar opened #48669 "Improve IDE0041 and IDE0084 analyzer"
**Brief description:**

Improve IDE0041 and IDE0084 to include other ways for equality/inequality check against null.

**Languages applicable:**

Both.

**Code example that the analyzer should report:**

[code]

[2020-10-16 10:03] Youssef1313 commented on #48667
I'm not sure, but looks like the attached bad `.vs` folder doesn't contain `DesignTimeBuild` folder under `\ProjectSystem\v16`. This *may* be the problem.

[2020-10-16 11:34] mlop3s commented on #17085
I have the same issue since months, with all updates. I've created two dumps over ~ 2GB. On both days when it happened.

Microsoft Visual Studio Enterprise 2019
Version 16.7.5

Mainly it happens on my mixed native C++ C# solution with over 80 projects.
I can make it available if needed. Let me know.

Cheers

[2020-10-16 13:30] runfoapp[bot] opened #48671 "Roslyn Test CustomizableTagsForUnnecessaryCode"
Runfo Tracking Issue: [Roslyn Test CustomizableTagsForUnnecessaryCode](https://runfo.azurewebsites.net/tracking/issue/75)
|Build|Definition|Kind|Run Name|
|---|---|---|---|

Build Result Summary
|Day Hit Count|Week Hit Count|Month Hit Count|
|---|---|---|
|0|0|0|

[2020-10-16 14:27] TessenR opened #48673 "Roslyn incorrectly updates arguments state for not nullable parameters when there's a non-trivial conversion"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile and run the following code:
[code]

**Expected Behavior**:
Warning for `c.ToString()`;

**Actual Behavior**:
No warnings at all. The program crashes at runtime with a `NullReferenceException`

**Notes**
Roslyn incorrectly updates the state of `c` to not nullable ignoring the fact that the actual value passed to the argument is a conversion

[2020-10-16 14:48] mavasani commented on #48634
Sounds good. We can leave that part out for now, it is more than likely that users will have a single .globalconfig at repo root, so this feature might not be that essential after all.

My core concern is users will not really understand the concept of `global_level`, and would wonder why they have to specify an entry with an opaque integral value to override settings coming from external files. I

[2020-10-16 15:03] mavasani commented on #48667
@davkean Can you also upload the the repro project corresponding to the bad .vs folder that you provided? That would make investigation easier. Note that I wasn't able to repro this on any new or existing solutions, even after upgrading to today's internal dogfood build `Version 16.9.0 Preview 1.0 [30616.7.main]`

[2020-10-16 15:21] CyrusNajmabadi commented on #17085
@mlop3s please open a new issue and include information about what build you have as well as links to the dumps. Ideally, of you can provide a link to the single
Solution as well that would be helpful.

[2020-10-16 15:38] CyrusNajmabadi commented on #47941
@albahari I don't repro this:

![image](https://user-images.githubusercontent.com/4564579/96278841-da75f880-0f8a-11eb-9471-4604dca20cc5.png)

![image](https://user-images.githubusercontent.com/4564579/96278890-e792e780-0f8a-11eb-9226-bbafbe339b26.png)

If you have a repro for this, please open a new issue with the code where you're seeing htis.

[2020-10-16 15:43] sharwell opened #48676 "Format selection at top of VB file throws InvalidOperationException"
**Version Used**: 4ed928935

**Steps to Reproduce**:

Run the **Format Selection** command with the following selection:

[code]

**Expected Behavior**:

No changes

**Actual Behavior**:

Gold bar with InvalidOperationException due to accessing `default(int?).Value` here:

https://github.com/dotnet/roslyn/blob/77efd6e1feab8b69bca84b6eeeb762615140b29b/src/EditorFeatures/Core/Shared/Utilities/Common

[2020-10-16 15:43] sharwell commented on #48676
@CyrusNajmabadi @jasonmalinowski do you happen to know where tests for this feature are?

[2020-10-16 15:51] CyrusNajmabadi commented on #48676
No clue.  @heejaechang might.  Right now the formatting tests are scattered around a few areas, and i'm not sure which particular feature-layer they operate at.

The only test i can find in all of roslyn that even uses FormatSelectionCommandArgs is TestBugfix_608438.  So we may literally only have one test here.

[2020-10-16 15:53] sharwell commented on #47941
@albahari Note that this is first fixed in 16.9 Preview 1, which is not yet publicly available.

[2020-10-16 16:19] vsfeedback opened #48679 "Infinite suggested action never ends."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1223055/infinite-suggested-action-never-ends.html)._

---
[severity:I'm unable to use this version of Visual Studio] [regression] [worked-in:Visual Studio Community 16.7.6]
Hello,

This happens on visual studio preview 16.8.4 preview 4. I'm using Windows 10 professional 64

[2020-10-16 16:28] sharwell commented on #48671
Not this again

[2020-10-16 16:31] VBAndCs opened #48681 "[VB.NET] Debug Mode doesn't support With blocks"
In this code sample:
[code]

If you run the code and break at the `sub main`, you will get no tip when hovering over `Value`, and if you try to show its value in the quick watch window, or add it to the Watch Window, you will see this message:
[code]

In my app, I deleted the With Statement, and used normal code, so I can debug it. This is one of the reasons that prevented me from using With in VB

[2020-10-16 16:33] CyrusNajmabadi opened #48682 "Experiment with targetted perf improvements around Project.Documents."
From https://github.com/dotnet/roslyn/issues/48597#issuecomment-708582526

Options we could potentially take:

1. Move `DocumentIds` to be an `ImmutablArray`.  this will make iteration very good, and will also have a nice compact representation.  However, it may exhibit poorer behavior if a project is forked many times with lots of changes to the doc array.
2. GetDocument could have an private imp

[2020-10-16 16:40] jaredpar commented on #48644
@sharwell there are plenty of failures on master

https://runfo.azurewebsites.net/search/tests/?bq=definition%3Aroslyn-ci++started%3A%7E14+targetBranch%3Amaster&tq=CompletionInLinkedFile

[2020-10-16 17:01] CyrusNajmabadi commented on #48681
@VBAndCs would you be interested in contributing a fix here?

[2020-10-16 17:04] #42975 closed

[2020-10-16 17:29] 333fred opened #48684 "Nested pattern nullability results are not considered"
[code]

[2020-10-16 17:54] sharwell commented on #48644
@jaredpar Right I submitted PR #48662 to fix it

[2020-10-16 18:25] chsienki commented on #48634
So we do detect it via the project system, but note that the compiler doesn't have any notion of what is or isn't a global config until we actually parse it. We look for the `is_global` flag specifically because we cant distinguish between regular and global configs because they go through the same commandline argument.

In an ideal world we'd just use a different argument, but as discussed before

[2020-10-16 18:57] stephentoub commented on #38506
@sharwell, can this be revisited now that we have `is null` and `is not null`?  Lack of an analyzer / fixer here makes us resort to much less accurate means, e.g. https://github.com/dotnet/runtime/pull/43360.

[2020-10-16 18:59] AndyAyersMS opened #48688 "Incorrect IL for optimized struct assignment"
**Version Used**:

Microsoft (R) Visual C# Compiler version 3.8.0-2.20410.4 (2c664a69)

**Steps to Reproduce**:

Compile [this test](https://github.com/dotnet/runtime/blob/master/src/tests/JIT/RyuJIT/rCopyProp1.cs) with and without optimization.

Behavior of this program will vary depending on whether IL is optimized or not. Key point is the change of of `s = S(v)` into `S.ctor(&s, v)` -- this is

[2020-10-16 19:00] jaredpar commented on #38506
Can we elaborate a bit on what cases can't be handled here?

[2020-10-16 19:08] tmat commented on #48632
There are some property accessor tests in `src\EditorFeatures\CSharpTest\EditAndContinue\TopLevelEditingTests.cs`, so it would be good to add a few similar tests with `init` accessors.

[2020-10-16 19:22] sharwell commented on #38506
[code]

[2020-10-16 20:11] #48597 closed

[2020-10-16 20:14] tmat opened #48696 "ArgumentOutOfRangeException from SymbolFinder.FindLinkedSymbolsAsync"
**Version Used**:
Version 16.9.0 Preview 1.0 [30613.262.main]

[code]

[2020-10-16 20:14] tmat commented on #48696
@CyrusNajmabadi FYI

[2020-10-16 20:28] Youssef1313 commented on #48681
Adding `.Value` in the watch window **should** produce an error. To me, that seems like the correct behavior.
However, hovering over `Value` should work.

[2020-10-16 20:38] allisonchou opened #48698 "[LSP] Re-enable package manager code actions once supported"
As a part of fixing https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1230792, code actions involving installing packages were disabled. We should re-enable these code actions once LSP can properly support this scenario.

[to-do: insert LSP work item for supporting scenario here]

[2020-10-16 20:41] CyrusNajmabadi commented on #48696
Tihs indicates OOP corruption in the solution snapshot.  Specifically, we walk through all linked files (which should have the same contents), looking for everything that is at the span of a symbol in the originating document.  If the linked files have different contents this would crash.  But this would also be bad given that the purpose of linked files is to have them all have the same contents.

[2020-10-16 20:44] CyrusNajmabadi commented on #48666
There is not.  However, you can write your own analyzer to look for stylistic violations like this that you don't like :)

[2020-10-16 20:44] #48666 closed

[2020-10-16 20:56] stephentoub commented on #38506
That can't be handled because it's fundamentally not a null check. It's a good thing that `is null` and `is not null` don't work for that, IMO, and being consistent on all other checks using `is null`/`is not null` helps to highlight how odd this particular operator== is.

[2020-10-16 20:59] CyrusNajmabadi commented on #38506
I would be ok with a new setting allow someone to opt into saying they prefer this check over a `==` check.  We can also enable it for a few well known types.  i.e. for strings.

[2020-10-16 21:08] Youssef1313 commented on #43247
@VBAndCs  This is completely unrelated to ExpandoObject.

Your suggestion seems to be that the following should be an error:

[code]

This probably something the compiler team cannot do for backward compatibility. I'm also unsure whether this have some valid usage in VB or not.

[2020-10-16 21:44] vsfeedback opened #48702 "'VisualBasicAddExplicitCastCodeFixProvider' encountered an error and has been disabled. Show Stack Trace Enable Enable and ignore future errors"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1221923/visualbasicaddexplicitcastcodefixprovider-encounte.html)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:Visual Studio 2019 Version 16.7.5]
Gets this all the time in VB.Net project
Running Visual Studio 2019 Version 16.7.6

[code]

[2020-10-16 21:52] Youssef1313 commented on #48581
@jmarolf @CyrusNajmabadi There is a contradiction between this, and the design meeting conclusions in https://github.com/dotnet/roslyn/issues/45170#issuecomment-644392752

While they are separate features (pretty listing vs an analyzer) they're closely related.

In https://github.com/dotnet/roslyn/issues/45170#issuecomment-644392752, it requests that the analyzer should be configurable.

Note that

[2020-10-16 21:56] jaredpar commented on #38506
Agree with @stephentoub. The `is null` check doesn't work here by design. This isn't some case where we have to get into deep language semantics as to when `is` will or won't work. It's a feature that does not work for known value types. There are other examples in the language where this happens.

[2020-10-16 22:06] CyrusNajmabadi commented on #48581
this seems just like a straight up bug.  We do this for some methods, but not others.  I can't see any legit reasons for that.

[2020-10-16 22:52] Youssef1313 commented on #48581
@CyrusNajmabadi I don't disagree. But it's unclear how both features will work together if #45170 is implemented, or if there is no need for it, and should pretty lister remove extra parentheses in properties or not, etc.

[2020-10-16 23:17] albahari commented on #47941
Seems you're on top of it. Although, looking at that listing, you probably don't want Equals(object? obj) in there, although that's a very minor issue.

[2020-10-16 23:33] davkean commented on #48667
@mavasani This is just project-system.

I removed the DesignTimeBuild folder due to size and it will unrelated to the issue, this solely contains a cache of design-time build data.

[2020-10-16 23:40] #48676 closed

[2020-10-17 00:44] #46976 closed

[2020-10-17 02:59] CyrusNajmabadi commented on #43247
Closing out as i don't see anything in the language that would allow this.  If you would like to make a language proposal for this, those can be made at dotnet/vblang.

[2020-10-17 02:59] #43247 closed

[2020-10-17 06:06] jcouv commented on #48584
Discussion from closed PR https://github.com/dotnet/roslyn/pull/47675 may be useful for reference.

[2020-10-17 06:09] PathogenDavid commented on #47941
That's covered by https://github.com/dotnet/roslyn/issues/48640

[2020-10-17 06:11] VBAndCs commented on #48681
@Youssef1313
I disagree. This command can add the `[object].Value` to the watch window, by getting the `[object]` from With Statement.

[2020-10-17 06:12] VBAndCs commented on #48681
@CyrusNajmabadi
If I have time, I will inform you.

[2020-10-17 06:19] VBAndCs commented on #48581
Additional note:
While `System.IO.Directory.GetCurrentDirectory( )` gets `( )`,
`Dim x = System.IO.Directory.GetCurrentDirectory`  doesn't.
The rule seems to add `()` if no `Call` or Return value.
But, this rule is not consistent, as in `y.Invoke` and `Dim z = y.Invoke`.

[2020-10-17 09:58] controlflow opened #48723 "Compiler crash at records lowering"
**Version Used**:
master branch 17.10.2020

**Steps to Reproduce**:
Compile the following code:
[code]

**Expected Behavior**:
Compiler error to require for custom EqualityContract property to have a get accessor.

**Actual Behavior**:

[2020-10-17 12:24] MaStr11 opened #48724 "Compiler message for CS0077 is wrong (German)"
**Version Used**:
Latest master

**Steps to Reproduce**:
[code]
**Expected Behavior**:
The German error message should read:
`CS0077: Der as-Operator muss mit einem Referenztyp oder einem Nullable-Typ verwendet werden ("byte" ist ein Non-Nullable-Werttyp).`
**Actual Behavior**:
`CS0077: Der as-Operator muss mit einem Referenztyp oder einem Non-Nullable-Typ verwendet werden ("byte" ist ein Non-Null

[2020-10-17 12:31] #47225 closed

[2020-10-17 13:32] nirhp commented on #43314
You are right! I have the same issue with 16.7.5 and lowering the refresh rate to 60Hz speeds up Intellisense.

[2020-10-17 15:18] CyrusNajmabadi commented on #43314
@shtirlitsDva @nirhp please see https://github.com/dotnet/roslyn/issues/43314#issuecomment-642821957

[2020-10-17 15:46] Cerlancism commented on #43314
https://developercommunity.visualstudio.com/comments/1076792/view.html

It's already report there, and a working workaround is posted there.

[2020-10-17 17:04] #48219 closed

[2020-10-17 17:26] CyrusNajmabadi commented on #48581
`Invoke` is a special method, so there's likely just some of our code that doesn't know to handle it.  THe rest seems like a straight up bug.  If you open a PR to fix this @VBAndCs i can likely review it asap.

[2020-10-17 17:33] CyrusNajmabadi commented on #48724
@tmeschter Can you take this?  can external people (or MS devs) just make a safe loc change like this?  Or does this need to go to the loc team for them to update things on their end?

Thanks!

[2020-10-17 19:43] trivalik opened #48728 "Roslyn incorrectly updates variable state to not nullable for readony string member"
**Version Used**:
Visual C# Compiler Version 3.7.0-6.20459.4 (7ee7c540)

**Steps to Reproduce**:
Use code below and create `SurveyQuestion` class.

[code]

**Expected Behavior**:
Warning for possible null dereference of `QuestionText` for calling `ToString`. In TooltipText in Visual Studio should be show that it is null!
**Actual Behavior**:
No warning at compile time. In TooltipText in Visual Stu

[2020-10-17 20:39] lafar6502 opened #48729 "Documentation of script-specific syntax extensions/differences vs regular C#"
C# parser can be configured to handle files in two formats - script c# and regular c#

SourceCodeKind.Script
SourceCodeKind.Regular

Can you provide a detailed documentation of what are differences between c# and script (SourceCodeKind.Script), what additional constructs are supported by the script version and what are use cases for them? Sorry if this is a wrong place to ask questions but i cant

[2020-10-18 00:16] RikkiGibson commented on #48728
Duplicate of #41306.

This is fixed in VS 16.8/.NET 5. Thanks for reporting!

[2020-10-18 00:16] #48728 closed

[2020-10-18 03:32] vatsalyaagrawal commented on #44697
Design meeting notes: We expect this to be difficult, but we will accept a community contribution. Contribution should include a complete design proposal, details of corner cases, tests, and so on.

[2020-10-18 03:45] vatsalyaagrawal commented on #47796
Design meeting notes: We like the idea of split declaration and initialization and initially we will like to make it match to what happens for generate variable when you don't have a type listed. So it would be split declaration and initialization and give options for placement.

[2020-10-18 03:48] vatsalyaagrawal commented on #48031
Design meeting notes: This should come from Compiler, request hidden diagnostic from the compiler.

[2020-10-18 09:50] ajvnd opened #48739 "Cannot Create New Code Fix Project"
**Visual Studio 2019 16.7.6**

**Steps to Reproduce**:

choose File > New > Project... to display the New Project dialog.
Under Visual C# > Extensibility, choose Analyzer with code fix (.NET Standard).

**Expected Behavior**:
create new code fix project

**Actual Behavior**:
error dialog : the path is not of a legal form code

[2020-10-18 16:14] CyrusNajmabadi commented on #48669
This is what is suggested:

![image](https://user-images.githubusercontent.com/4564579/96373579-4e96d480-1122-11eb-80d4-7652109013a3.png)

[2020-10-18 16:14] #48669 closed

[2020-10-18 17:27] YairHalberstadt commented on #40229
Slightly simpler reproduction:

[code]

[2020-10-18 17:38] YairHalberstadt opened #48741 "Add warning wave for recursive generic struct"
There is an existing bug in CoreCLR (not mono or CoreRT) where the following legal code throws a type load exception:

[code]

The bug is unlikely to be fixed any time soon. See discussion starting at https://github.com/dotnet/runtime/issues/6924#issuecomment-547078135.

I think this would be a good candidate for a warning wave so people don't accidentally write code, which whilst legal, won't act

[2020-10-18 17:58] AlexanderMattheis commented on #33928
Please implement this soon together with the possibility to move properties und fields...

[2020-10-18 18:18] svick opened #48742 "Implement abstract class incorrect for unconstrained generic nullable in base and value type in derived"
**Version Used**: VS 2019 version 16.8.0 Preview 4.0

**Steps to Reproduce**:

1. Have code like the following:

[code]
2. Use <kbd>Ctrl</kbd>+<kbd>.</kbd> to select "implement abstract class".

**Expected Behavior**:

This generates code that compiles, i.e.:

[code]

**Actual Behavior**:

The generated override uses a nullable value type, which doesn't compile:

[code]

[2020-10-18 21:26] VBAndCs opened #48745 "[VB.NET] Editor has variable name casing issue in ElseIf statement"
**Version Used**:
VS Community 16.7.6

In the next code snippet:
[code]

The name `test` is auto converted to `Test` after leaving the `if` line, but the same doesn't happen when leaving `ElseIf` line. The only thing to force this to happen is to make any change in the `if` line, but making changes in the `ElseIf` line doesn't have any effect.
I never detected this in VB editor, and I think it rel

[2020-10-18 23:45] louis-z commented on #48586
I can take a look at it.

[2020-10-19 02:50] CyrusNajmabadi commented on #48745
@VBAndCs Would you be interested in contributing a fix here?

[2020-10-19 03:11] CyrusNajmabadi commented on #48745
I've checked and it doesn't look like our behavior has changed here.  If you are interested in contributing a fix, LMK and i can walk you through it.  The issue here is simply at:

https://github.com/dotnet/roslyn/blob/9907769fd1cb8392bb41ed999c4b0724c6c2c6be/src/EditorFeatures/VisualBasic/LineCommit/CommitBufferManager.vb#L192-L198

This logic is not valid there are two potential fixes:

1. don't

[2020-10-19 05:42] VBAndCs commented on #48745
@CyrusNajmabadi
You seem to think I get what you are saying :). I know nothing about this subject, and I find these issues because I am sinking in a deep VB app, that needs months to complete.
Sorry, I will fail you here too.

[2020-10-19 05:45] CyrusNajmabadi commented on #48745
@VBAndCs I'm happy to help teach you how to fix these issues.

I'm giving some pointers as to where the issue is (for either you, or anyone else interested in fixing).  If you get interested in fixing, we can go from this to an actual fix.

Everyone starts somewhere :)

If you have any time in the future, just let us know, and we may be able to make progress on some of these corner issues you've r

[2020-10-19 05:54] VBAndCs commented on #48745
Just an idea: the change could happened in one methods/properties in the call chain. I ever never saw something like this since I began with VB4 until few days ago.

Thanks for generous help offer, I will seriously consider it.

[2020-10-19 05:56] VBAndCs commented on #48745
Another idea: Is this issue relative only to elseif, or can happen in other similar blocks?
This is another reason to search when and where it started.
And another question: Isn't there tests to detect such behaviour changes?

[2020-10-19 06:43] NN--- opened #48757 "Nullable members dependency"
Make it possible to add dependency between members similar way as you can do it for parameters using NotNullIfNotNullAttribute.

For instance either `x` or `y` has value but not both:
[code]

Another sample, both either null or non-null:
[code]

Also with boolean indicating nullability:
[code]

etc.

[2020-10-19 07:33] osdm commented on #47704
@CyrusNajmabadi I guess the code in question is here. Basically it ignores apparent types at all if a type is intrinsic
[https://github.com/dotnet/roslyn/blob/a34f425d15b9acd35e749d99b31c682fbb8ddf4b/src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpUseExplicitTypeHelper.cs#L30-L46](url)

[https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c7

[2020-10-19 08:28] osdm commented on #23714
@sharwell Could you please share a logic behind current design? I cannot really imagine any case where user would want to use var for apparent types except for apparent built-in types. That means logic like this:
`useVar = IsBuildInType && PreferVarForBuildInTypes || IsApparent && PreferVarForApparentTypes || !IsBuiltInType && !IsApparent && PreferVarElsewhere;`
Is there anything wrong with this a

[2020-10-19 09:05] #39286 closed

[2020-10-19 12:42] sharwell commented on #47704
@CyrusNajmabadi This is a duplicate of #23714. The fact that the type here is `int` takes precedence over whether or not the type is explicit (https://github.com/dotnet/roslyn/issues/23714#issuecomment-350705649). That issue specifically concerns this ordering.

[2020-10-19 12:42] #47704 closed

[2020-10-19 12:45] sharwell commented on #23714
It's common for StyleCop users.

[2020-10-19 14:31] CyrusNajmabadi commented on #47704
Sam's totally correct.   I missed that this was a "built in" type.

[2020-10-19 14:37] CyrusNajmabadi commented on #48745
VB4 was in 1995.  It's 25 years old.  This behavior goes back as far as i can tell in Roslyn.  Which means it's at least 10 years old.

Roslyn was a complete rewrite.  So it likely came about when roslyn was created.

Yes.  We have numerous tests of this feature.  But no amount of testing is exhaustive.  If it was, then we wouldn't ever have any bugs.  I can point you to the tests here as they wou

[2020-10-19 15:09] #48453 closed

[2020-10-19 16:02] tmeschter commented on #48724
Generally we loop in the Loc team so they can update their master copy of the translation; if we just update the .xlf on our side we risk the fix being reverted in the future.

Looping in @wli3 as he is now the Globalization tenet owner for Roslyn.

[2020-10-19 16:36] vsfeedback opened #48764 "inserting #if snippet doesn't respect .editorconfig end_of_line setting in *.cs files"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1224650/inserting-if-snippet-doesnt-respect-editorconfig-e.html)._

---
[severity:It bothers me. A fix would be nice]
Similar, but not an option
https://developercommunity.visualstudio.com/content/problem/940874/code-snippets-dont-respect-the-newline-setting-of.html
https:/

[2020-10-19 16:46] sharwell commented on #48764
Duplicate of #28638

[2020-10-19 16:46] #48764 closed

[2020-10-19 16:51] #48574 closed

[2020-10-19 16:52] iana63 commented on #41905
static object Run()
        {
            var attempt = 0;

            while (true)
            {
                try
                {
                     return Execute(new X(attempt++));
                }
                catch when (attempt <= 5) { Console.WriteLine("loop " + attempt); }
            }
        }

[2020-10-19 16:54] RikkiGibson commented on #48546
It feels like there are some cases where `default(MyStruct)` and `new MyStruct()` could have a better initial state for the members (i.e. treat them as if 'default' has been assigned to them). This seems like something that we could do when we do "non-defaultable value types".

[2020-10-19 17:05] iana63 commented on #41905
An other solution ( prefered) is:
       static object Run()
        {
            X x = new X(0);
            while (true)
            {
                try
                {
                    return Execute(x);
                }
                catch when (++x.Value <= 5) { }
            }
        }

[2020-10-19 17:06] iana63 commented on #41905
static object Run()
        {
            X x = new X(0);
            while (true)
            {
                try
                {
                    return Execute(x);
                }
                catch when (++x.Value <= 5) { }
            }
        }

[2020-10-19 17:16] 333fred opened #48765 "Support function pointers in `typeof` in Attributes"
Today, this code crashes (with a very, very long callstack):

[code]

We need to define how `TypeNameSerializer` should serialize function pointer types and handle it.

[2020-10-19 17:20] 333fred commented on #48741
@jmarolf @mavasani I lean more towards a compiler-level warning wave for this, but what do you think? Should it be a CA warning instead?

[2020-10-19 17:22] mavasani commented on #48741
Agreed, a compiler warning wave warning seems better here.

[2020-10-19 18:41] anreton opened #48769 "Error in displaying array of some type in class member xml description."
**Version Used**:
Visual Studio 2019 16.7.6

**Steps to Reproduce**:

1. Write example code
[code]
2. Check description of this method either on hover or in the ObjectBrowser.
3. We have an error `byte` instead of `byte[]`

**Expected Behavior**:
We have  `byte[]` in method description.

**Actual Behavior**:
We have an error `byte` instead of `byte[]` in method description.

[2020-10-19 19:56] CyrusNajmabadi commented on #48262
Fixed with https://github.com/dotnet/roslyn/pull/48428

[2020-10-19 19:56] #48262 closed

[2020-10-19 20:00] CyrusNajmabadi commented on #45371
I can't repro this.  And the cache in question was rewritten.   We haven't heard anything else about this.  So i'm going to close tihs out.

[2020-10-19 20:00] #45371 closed

[2020-10-19 20:03] #41784 closed

[2020-10-19 20:04] CyrusNajmabadi commented on #47597
We did a few of these here:

![image](https://user-images.githubusercontent.com/4564579/96505864-9180a700-120b-11eb-835c-7ccf24740f42.png)

So i'm going to close this out.  If we find other areas where we can improve things, i think we cna open individual bugs on those.

[2020-10-19 20:04] #47597 closed

[2020-10-19 20:10] CyrusNajmabadi commented on #48271
Closing out.  This code was entirely removed and subsumed moving to ISB+MessagePack.  i.e. we have no custom serialization here at all anymore

[2020-10-19 20:10] #48271 closed

[2020-10-19 20:45] #48489 closed

[2020-10-19 20:53] tokarzkj commented on #48052
I may need some guidance along the way since I haven't worked in this area before, but I would be interested in taking this issue.

[2020-10-19 21:05] davidwengier commented on #43063
Updated results: https://dev.azure.com/dnceng/public/_build/results?buildId=858041&view=ms.vss-test-web.build-test-results-tab

[2020-10-19 21:23] sharwell commented on #48739
Duplicate of dotnet/roslyn-sdk#583

[2020-10-19 21:23] #48739 closed

[2020-10-19 21:32] mikadumont commented on #47604
Design meeting notes:
The behavior should be tied to the existing "format code on paste" option. The two-step undo should also work if the line was reformatted.

[2020-10-19 21:43] RikkiGibson commented on #48757
I think MemberNotNullWhenAttribute may address your scenarios adequately.

[code]

[code]

[code]

[2020-10-19 22:28] ryzngard opened #48773 "Build Validator: Resolve if NuGet directory should be included"
[Link to context conversation](https://github.com/dotnet/roslyn/pull/45593#discussion_r499905798)

Resolution should either be that the nuget directory continues to be used, or the problems that are addressed by using the nuget path are addressed.

[2020-10-19 22:29] ryzngard opened #48774 "Build Validator: Handle Extern Alias"
[Link to contextual conversation](https://github.com/dotnet/roslyn/pull/45593#discussion_r499906411)

Work may be needed to make sure that extern aliases are handled correctly for reference resolution.

[2020-10-19 22:30] ryzngard opened #48775 "Build Validator: Output kind should not be hardcoded"
[Link to conversation](https://github.com/dotnet/roslyn/pull/45593#discussion_r499891244)

Resolution should be that the output kind is read in as part of the assembly that is being build by build validator.

[2020-10-19 22:38] RikkiGibson commented on #48052
Sounds good 😄 feel free to follow up in here or in https://gitter.im/dotnet/roslyn if you have questions.

[2020-10-19 23:05] paul1956 commented on #48745
@CyrusNajmabadi I spent yesterday looking at the Lines L192-L198 above and then looking for tests that hit it. Unfortunately since I no longer have Professional that feature of CodeLens is not available, so I searched for the test that hits it so far no luck. If someone has Pro or above and wants to point out test that hits this I will create new failing tests, then if no one else wants to fix I w

[2020-10-19 23:44] VBAndCs commented on #48745
I write VB code every year. But I think this issue is hidden by the intellisense, since we usually hit space or dot to choose the selected name from the auto complete list. It I don't know why I had this issue in WPF, maybe after a paste operation :)

[2020-10-19 23:48] CyrusNajmabadi commented on #48745
@paul1956 Tests are likely in CommitWithViewTests.vb

[2020-10-20 00:01] #48573 closed

[2020-10-20 00:57] nevsaynev commented on #27965
I'm seeing the same issue of today 2020/10/19. Any suggestion on how to recover?

[2020-10-20 02:07] jasonmalinowski commented on #48696
Do we have a dump?

[2020-10-20 02:30] lucasmaj commented on #41722
Same here. CSharpScript.EvaluateAsync effectively causes a memory leak every time it is used. We are resorting to caching scripts from CSharpScript.Create and maybe event this suggestion https://github.com/dotnet/roslyn/issues/22219#issuecomment-484925637

Am I missing something? How to execute C# scripts without memory leak?

[2020-10-20 02:51] davkean opened #48782 "[C# 9.0] Naming rules gets confused with records"
**Version Used**:
Version 16.9.0 Preview 2.0 [30620.140.main]

Naming rules complain if its uppercase and complain if its lowercase. Its very confused.

**Steps to Reproduce**:

Use https://github.com/dotnet/project-system/blob/master/.editorconfig#L74

[code]
**Expected Behavior**:
???

**Actual Behavior**:
Severity	Code	Description	Project	File	Line	Suppression State
Warning	IDE1006	Naming rule

[2020-10-20 02:55] davkean opened #48783 "[C# 9.0] CSharpCreateTestAccessor crashes with records"
**Version Used**:

Unsure if this is Roslyn, or the owner of this code fix.

**Steps to Reproduce**:

1. CTRL+. and navigate to "Create test accessor"
[code]

[code]

[2020-10-20 02:55] davkean opened #48789 "[C# 9.0] CSharpCreateTestAccessor crashes with records"
**Version Used**:

Unsure if this is Roslyn, or the owner of this code fix.

**Steps to Reproduce**:

1. CTRL+. and navigate to "Create test accessor"
[code]

[code]

[2020-10-20 03:01] drewnoakes opened #48784 "Changing class to record crashes VS"
**Version Used**:

Version 16.9.0 Preview 2.0 [30618.5.main]
Microsoft.Net.Compilers.Toolset 3.8.0-4.final

**Steps to Reproduce**:

[code]

[code]

Change `class` to `record`. VS will crash once you finish typing.

This doesn't repro if the interface list is empty, the interface has no members, or if the interface has a simple property. It seems related to the event.

**Expected Behavior**:

No c

[2020-10-20 04:00] cston commented on #42452
- Type unification of `I<System.IntPtr>` and `I<nint>` https://github.com/dotnet/roslyn/pull/48349
- Common type between `nint` and `System.IntPtr` https://github.com/dotnet/roslyn/pull/48266
- When `nint` and `System.IntPtr` are bounds in type inference, which wins? https://github.com/dotnet/roslyn/pull/48266

[2020-10-20 04:14] davkean commented on #48667
I ran into this again, needed to delete .vs folder to progress.

[2020-10-20 04:18] davkean opened #48786 "[C# 9.0] Record type definitions don't get syntax highlighting"
**Version Used**:

**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/1103906/96539624-40de7c00-12e7-11eb-9557-1991166e91fe.png)

**Expected Behavior**:
SpecialWebFolder to be green and match delegates, types, enums, etc

**Actual Behavior**:
SpecialWebFolder is not green

[2020-10-20 04:34] CyrusNajmabadi commented on #48786
Dupe of https://github.com/dotnet/roslyn/issues/46985.  PR is out to fix this right now :)

[2020-10-20 04:34] #48786 closed

[2020-10-20 04:58] jinujoseph commented on #48667
cc @shyamnamboodiripad to see the attached vs.zip file

[2020-10-20 05:08] davkean commented on #48667
I'm experiencing two symptoms:

1) It stops reporting diagnostics, and I need to delete the .vs folder for them to come back.
2) It stops reporting diagnostics, and if I switch documents, this causes them to come back.

I'm not so sure this has to do with the Test infrastructure, as I hit it multiple times in a row with zero logs in ServiceHub directory complaining about Test analyzer.

[2020-10-20 05:21] NN--- commented on #48757
Very nice, however it doesn’t solve the first sample.

[2020-10-20 05:33] YairHalberstadt commented on #46998
I've just discovered a bug in the above code, and so have modified it.
I'm sure there's others lurking about. It's already quite complex and it contains other known bugs which I don't care about for my use case. I think there is a strong incentive for roslyn to provide something here.

[2020-10-20 06:45] #48150 closed

[2020-10-20 06:52] davkean commented on #48667
More information:

- I've confirmed that Live analyzer diagnostics are still being reported

[2020-10-20 06:55] davkean commented on #48667
I reported a trace here: https://developercommunity.visualstudio.com/content/problem/1226498/compiler-diagnostics-are-not-being-reported.html.

[2020-10-20 10:41] Heitzmann2000 opened #48788 "Missing Reference Microsoft.Build.Framework.IProjectElement"
**Version Used**:
3.7.0

**Steps to Reproduce**:

1. Created new project (Console with Framework 4.7.2) with solution (Named CodeChecker).
2. Added by Nuget :

- Microsoft.CodeAnalysis (Currently newest 3.7.0)
- Microsoft.CodeAnalysis.CSharp.Workspaces (Currently newest 3.7.0)

3. Added following in Main
`Solution s = MSBuildWorkspace.Create().OpenSolutionAsync("..\\..\\..\\CodeChecker.sln").Resul

[2020-10-20 11:12] VBAndCs commented on #48745
As I suspected, it doean't happen in `ElseIf`` only. This is another place, and there could be more:
[code]

[2020-10-20 11:16] VBAndCs commented on #48745
And here too:
[code]

Note that all keywords are fixed, but not the var name. For example, write:
` Catch ex As Exception where test = 1`
Then fix  `where` to `when`. It will converted to `When` and coloured in blue, but `test` will remain as is.

[2020-10-20 11:22] VBAndCs commented on #48745
Here too:
[code]

[2020-10-20 11:51] paul1956 commented on #48745
@VBAndCs, could you update examples and put $ on where the cursor is when you press return I assume the comments are not part of the test?  I will create a bunch of tests (5-6) additional tests today an push a PR with SKIP that someone can pick up, I also have it the issue down to a few lines and will look at history to see if something changed.

[2020-10-20 12:13] VBAndCs commented on #48745
It doesn't relate to return only. The change should also happen if you made a modification to a line, then moved the caret to another line.

[2020-10-20 12:18] VBAndCs commented on #48745
There is also another behaviour that annoys me:
Id I change the var casing in the declaration statement and leave the line (say test instead of Test), the editor doesn't apply this change to all the places where the var is used. I need to make any change to the enclosing block (like adding a trivial space at the end of the function declaration statement), so, the editor reformat the whole block an

[2020-10-20 15:08] sharwell commented on #48782
This claims to be fixed with #47509

[2020-10-20 15:44] jaredpar commented on #48784
@jcouv fyi

[2020-10-20 15:45] jaredpar commented on #48688
@cston fyi

[2020-10-20 16:26] JakubLinhart opened #48790 "StackOverflowException from collection initializer with huge number of elements"
**Version Used**:

Microsoft (R) Visual C# Compiler version 3.7.0-6.20459.4 (7ee7c540)
Microsoft Windows 10 Pro 10.0.19041 Build 19041
Runtime version: 4.0.30319.42000

**Steps to Reproduce**:

Try to initialize a list with huge number of elements (~[10k](https://raw.githubusercontent.com/JakubLinhart/SOE/main/SOE/SomethingSomethingCodes.cs)) each allocating a value object. For example:

[code]

A

[2020-10-20 17:01] CyrusNajmabadi commented on #48745
@VBAndCs this is as I said in : https://github.com/dotnet/roslyn/issues/48745#issuecomment-711485983

[2020-10-20 17:08] wli3 commented on #48724
@CyrusNajmabadi I cannot find the xlf file of the message, could you point me to it?

@cristianosuzuki77 could you correct the translation with the loc team

[2020-10-20 17:15] CyrusNajmabadi commented on #48790
Sounds like you could easily just break this into a few helper methods that kept the amount reasonable.  i.e. only adding a couple thousand items at a time.

[2020-10-20 17:15] CyrusNajmabadi commented on #48790
Also, looks like you have a *loooot* of temps there.  For values that are repeated.  Can you just extract things like `new DateTime(1900, 1, 1)` to temps that you then reference as appropriate?

[2020-10-20 17:19] essennell opened #48791 "Defining Equals for a record gives null ref exception when used in derived record"
**Version Used**:
5.0.100-rc.2.20479.15 command line

**Steps to Reproduce**:
public record Base(int val)
{
        public virtual bool Equals(Base? other)
            => val == other.val;
}
public record Child(Base other) : Base(other) { }

var b = new Base(0);
var d = new Child(b);

b.Equals(d);

**Expected Behavior**:
Should be false. Equals should not throw.

**Actual Behavior**:
Error Message

[2020-10-20 17:21] tmat commented on #48696
In theory you should be able to find it in Watson (@ryzngard).

[2020-10-20 17:41] tmat commented on #45031
@genlu Any progress? I hit this almost every time I rename a type.

[2020-10-20 17:53] ryzngard commented on #48696
@tmat is this failure in the OOP process or devenv.exe?

[2020-10-20 18:10] JakubLinhart commented on #48790
Good point. Unfortunately the real use case has no repeated values. Example project fixed.

[2020-10-20 18:13] RikkiGibson commented on #48790
I would consider doing something like generating a local function for each 1000 elements you want to add to the list.

[2020-10-20 18:24] tmat commented on #48696
OOP. Indicated by remote service entry point:
[code]

[2020-10-20 18:56] mavasani opened #48793 "Investigate and fix build/live de-duping w.r.t Full Solution Analysis setting"
@mavasani That's fine (and would be fine to indicate in the table what the follow-up behavior will be). I'm mostly trying to understand the impact this will have on users in each of the four states listed above. For each of the four states, the following could be impacted:

* Behavior after a new solution/file is opened for editing (no prior build or analysis)
* Behavior when Run Code Analysis is

[2020-10-20 19:16] Youssef1313 commented on #48791
I don't see why the expected behavior should be false?
I think it should be true, and that's what I'm getting:

https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAgrgOwD4GJPoA2hEwhcABHJqeQLABQjAbhAhcBQLwWZwDuFAELQ4ACgAMASgDcLNhQAm3XgIoBhABYBLQorHBZjRgAEAjADpzATgMWAogEd0EQlDGKpRpgxMBmCgQ4AGMAewRlEShxbUwYClZCKUYAb0YKDIp/BO0EGBdCDlDQwqcC9yi4AH4KUJhNRGSGTJbuAD4E124eOoaEC0S5BgBfY18AoLCIjR09MUra+saKEGFRMV7llIp

[2020-10-20 19:31] essennell commented on #48791
Ok, looks like latest master build doesn't throw. I'm using a dotnet downloaded from MS public download. However, Base and Child should definitely have different EqualityContract since neither one overrides it. Should therefore compare "false", or have I misunderstood EqualityContract?

[2020-10-20 19:32] Youssef1313 commented on #48791
@essennell You gave your own definition of Equals, which doesn't account for EqualityContract.

[2020-10-20 19:33] Youssef1313 commented on #48791
I could reproduce the issue when I used `d.Equals(b)`, but haven't yet looked whether the exception is reasonable or not.

[2020-10-20 19:35] essennell commented on #48791
Equals should never throw.
I'll look more into EqualityContract and what else needs to be customized, but 1st impression is records don't really bring much to the table.

[2020-10-20 19:36] sharwell commented on #48769
`byte[]` is not a type that can be referenced directly by a `cref` element, because it doesn't have a source definition anywhere. If you enable XML documentation output, you will see CS1584 reported:

[2020-10-20 19:36] #48769 closed

[2020-10-20 19:58] Youssef1313 commented on #48791
I think the reason you're getting an exception is your own definition of Equals. You should check for null before accessing `val`.

Here is how it went:

[code]

I think you don't need to pay much attention to the above generated methods. Just fix the implementation to account for null.

If you still don't think this behavior is desired, you need to wait for an official reply from the compiler tea

[2020-10-20 20:02] jcouv commented on #48784
This was fixed in https://github.com/dotnet/roslyn/pull/47734

[2020-10-20 20:06] essennell commented on #48791
Ah yes records are *references*! Thank you. I'll still check out the
contract side because I think comparing true is, er, false 😊

Thanks Youssef
Steve

On Tue, 20 Oct 2020, 20:58 Youssef Victor, <notifications@github.com> wrote:

[2020-10-20 20:14] cartermp opened #48794 "Inline Hints render slightly off-center (or at least appear that way relative to the line guidelines)"
**Version Used**: 16.9.0 Preview 2.0 [30619.218]

**Steps to Reproduce**:

Ensure you have inline hints turned on, then zoom in on the text. You'll see that they are off center:

![image](https://user-images.githubusercontent.com/6309070/96638723-724e4c00-12d5-11eb-9ef5-2475c6fc3cef.png)

(experimental F# version)
![image](https://user-images.githubusercontent.com/6309070/96639040-f274b180-12d5-11

[2020-10-20 20:54] davidwengier commented on #48782
Yes, this is fixed. These are treated as properties, so the first IDE1006 is expected, the second is not.

I'm not seeing it on Version 16.9.0 Preview 2.0 [30619.73.main]
![image](https://user-images.githubusercontent.com/754264/96642807-66649780-1372-11eb-945f-2839f2e2aeb0.png)

[2020-10-20 21:33] #48791 closed

[2020-10-20 22:39] davkean commented on #48782
Still repro'ing this in Version 16.9.0 Preview 2.0 [30620.140.main]:

![Uploading image.png…]()

[2020-10-20 22:41] davkean commented on #48782
Checkout this branch: https://github.com/dotnet/project-system/tree/feature/AspNet and delete: https://github.com/dotnet/project-system/blob/feature/AspNet/src/Microsoft.VisualStudio.ProjectSystem.Managed.VS/GlobalSuppressions.cs#L76.

[2020-10-20 22:44] davidwengier commented on #48782
Wow, weird. I copied the .editorconfig file from that branch when I took my above screenshot.

[2020-10-20 23:10] cartermp commented on #48794
Here's another example of how it ends up looking "off":

![image](https://user-images.githubusercontent.com/6309070/96653782-c1ed4180-12ee-11eb-8558-d87a82c3dc24.png)

This is quite noticeable once you realize it's not quite centered.

[2020-10-20 23:27] sharwell commented on #48782
@davkean The project is hard coded to use a version of IDE1006 that doesn't support that case

https://github.com/dotnet/project-system/blob/b17cab2d0ffab5372e3fac6464d942576840c31e/build/import/HostAgnostic.props#L44-L45

[2020-10-20 23:27] #48782 closed

[2020-10-20 23:28] sharwell commented on #48782
Duplicate of #47508

[2020-10-20 23:32] davkean commented on #48782
So I I upgrade to the latest build of those, this should be fixed?

[2020-10-20 23:40] jasonmalinowski commented on #48696
@tmat I don't see any Watson hits for you past 10/6. Can you provide the bucket/cab IDs from your machine's event log?

[2020-10-20 23:47] tmat commented on #48696
Report Id: d2df93f3-1418-4f56-881b-0597bd113ce6

[2020-10-21 00:08] paul1956 commented on #48745
I added a branch https://github.com/paul1956/roslyn that I could do a PR on that has tests for all the cases listed above that fail and 1 that passes as a baseline. The failing tests are skipped so it would not effect the build. I also reviewed TryComputeExpandedSpanToFormat the place that was believed to be the cause of the issue and it has not changed in GitHub history in any way that would effe

[2020-10-21 01:21] louis-z commented on #48586
Ok, so I managed to resolve the issue, but instead I get aligned comments as follows:

[code]

If that sounds acceptable, I'll gladly submit a PR.

[2020-10-21 02:09] paul1956 commented on #48745
I did PR #48807 to fix, it was a performance optimization that did not take into account the difference between C# and VC Block's. @VBAndCs let me know if fixes all your issue.

[2020-10-21 06:25] sharwell commented on #48782
It should be fixed in the 16.8 preview 4 release of the analyzers.

[2020-10-21 08:56] bjornenalfa commented on #42575
It seems like visual studio has some hardcoded modifier order and ignores the .editorconfig setting. For example it will put async before override, regardless of the configuration.

[2020-10-21 09:53] jorisvergeer commented on #20348
I would like this to be configurable also. I am porting a legacy application to adopt async code, that does a lot of networking and IO, Having Async at the end of almost all methods starts to look more like noise than some actual useful information.

[2020-10-21 10:47] brager17 opened #48815 "CSharpExpressionCompiler can't evaluate expressions with dynamic variables inside async method"
**Version Used**:
VS Version 16.8.0 Preview 4.0

**Steps to Reproduce**:
![image](https://user-images.githubusercontent.com/48148702/96709630-9f693000-13a3-11eb-9495-0433e80aa1f5.png)

Use code snippet for reproducing, please
[code]
1. Stop on the line marked 2 (see code snippet)
2. Evaluate in the Immediate Window "d.one" as on the screenshot

**Expected Behavior**:
Successful evaluation with the

[2020-10-21 10:59] themightyzek commented on #20373
I am experiencing an issue like yours when calling `SemanticModel.GetOperation(SyntaxNode node)`.
When called during live analysis, it returns an `ISymbolInitializerOperation` object for a corresponding `EqualsValueClauseSyntax`.
During an MSBuild execution, it returns null and throws a `System.ArgumentException` for that same `EqualsValueClauseSyntax`.

Also, Compilation End actions are not being

[2020-10-21 15:36] runfoapp[bot] opened #48816 "Roslyn failing to clean up listeners"
Runfo Tracking Issue: [Roslyn failing to clean up listeners](https://runfo.azurewebsites.net/tracking/issue/74)
|Build|Definition|Kind|Run Name|
|---|---|---|---|

Build Result Summary
|Day Hit Count|Week Hit Count|Month Hit Count|
|---|---|---|
|0|0|0|

[2020-10-21 15:43] sharwell commented on #48816
This problem will go away as soon as either #44514 or #48662 is merged. I would consider #44514 to be the "true" fix for it.

[2020-10-21 15:45] jaredpar commented on #48816
One of those PRs has been open for five months, the other six days. If we can't merge a fix today then we need to push foward with disabling the assert. This is the number 1 blocker for our builds. It's been a known issue for sometime and hasn't gotten the necessary attention.

[2020-10-21 15:46] jaredpar commented on #48816
Having a little issue with the live stats function but you can see the damage here.

https://runfo.azurewebsites.net/search/tests/?bq=definition%3Aroslyn-ci++started%3A%7E7&tq=message%3A%22Failed+to+clean+up+listeners%22

[2020-10-21 15:55] sharwell commented on #48816
Historically there were many other causes for this. Here are some of the other PRs that helped:

https://github.com/dotnet/roslyn/pull/48077
https://github.com/dotnet/roslyn/pull/47995
https://github.com/dotnet/roslyn/pull/47994

The remaining one is set to auto-merge.

[2020-10-21 16:23] jaredpar commented on #48816
The live issue is now fixed so stats are updating. The data only goes back ~15 days for error messages though. I didn't start tracking that until yesterday and only ran a back fill push for last 200 or so builds.

[2020-10-21 16:24] sharwell commented on #20348
@davidroth @jorisvergeer The issue you encountered should be resolved in a different way by #45368, which is currently in code review

[2020-10-21 16:39] #48365 closed

[2020-10-21 16:41] #48364 closed

[2020-10-21 17:00] cristianosuzuki77 commented on #46331
解引用可能出现空引用  was resolved and it appears in the last PR below.
https://github.com/dotnet/roslyn/pull/48462/files#diff-92d494f9f81a046ffa0f8d4a0062e124704ec6c2bdbddd0daf061bdc72e1bbc8

![image](https://user-images.githubusercontent.com/18152472/96752851-e5ae9700-1383-11eb-993e-eca75a8d649b.png)

https://github.com/cristianosuzuki77/roslyn/blob/5a1e4f6bdf2e05e10861d3aafe56f503cd14994a/src/Compilers/C

[2020-10-21 17:01] cristianosuzuki77 commented on #46331
@wli3 let me know if you need anything else. The last test-pass did include this fix as well.

[2020-10-21 17:15] cristianosuzuki77 commented on #48724
Feedback added 325647
File is src\Compilers\CSharp\Portable\xlf\CSharpResources.de.xlf

[2020-10-21 18:36] jamiehankins commented on #48592
So this particular crash is because you recursively call Microsoft.CodeAnalysis.Wrapping.ChainedExpression.Decompose(). Recursion is a dangerous thing if you can't control how deep it might go.

Our real case (not the contrived one I posted above) involves getting transactions from a database and generating code from chaining them together. That works great most of the time, but breaks down when w

[2020-10-21 18:48] jcouv commented on #11731
This was implemented along with attributes on local functions (as part of C# 9). Closing the issue.

[2020-10-21 18:48] #11731 closed

[2020-10-21 19:29] #47928 closed

[2020-10-21 19:32] ssa3512 commented on #42762
I think I am running into a similar issue - trying to turn on some of the analyzers for my project. I added the following to .`editorconfig` in the root of our repository. Building locally has the expected results (no errors/no CAxxxx warnings, except for CA1824 which may be a separate issue). Our Azure DevOps hosted CI build is giving lots of CA warnings despite the editorconfig

.editorconfig:
[

[2020-10-21 20:57] jmarolf commented on #48741
If the compiler team agree to this great! My understanding is that this is a runtime implementation detail not a C# language issue. So my knee-jerk reaction is that this should be an analyzer like what we do for [IL3001](https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/il3001)

[2020-10-21 20:58] CyrusNajmabadi commented on #48592
Yup, and in general we have dozens (if not more) components that recurse on the tree. Due to the generally huge cost to switch those to something else, we've effectively decided that it's out of scope to support this for very large trees *unless* it's pretty simple to handle.

If things are simple ehre, go for it :)

[2020-10-21 21:16] CyrusNajmabadi commented on #48592
Looking here, it seems very easy to make iterative.  So a PR for this would def be taken.

[2020-10-21 21:18] ryzngard commented on #48696
[Link to cab](https://watsonportal.microsoft.com/CabAnalysis?CabIdentifier=https://weus2watcab01.blob.core.windows.net/global-202010/10072dd8-2119-4036-a08a-5eec02bb5712.zip)

Doesn't look like a dump was uploaded for that report

[2020-10-21 21:28] Narvey commented on #41482
Another sequence to cause a crash (there are a few too many of these, you shouldn't crash the whole app)

1. paste this and hit enter: `var n = new Dictionary<string, string>();`
2. Type these characters: `n?["`
3. As soon as you type the double-quote character, Visual Studio 2019 crashes. (VS 2017 doesn't crash)

[2020-10-21 21:34] jasonmalinowski commented on #48696
Is the lack of dump expected in this case? Otherwise is there any other action left to take or do we need to close this?

[2020-10-21 21:58] jamiehankins commented on #48592
Done (https://github.com/dotnet/roslyn/pull/48824).

At work, we use Azure DevOps, so this is my first Github PR. Let me know if I screwed anything up. :-)

[2020-10-21 22:28] #46331 closed

[2020-10-21 22:30] wli3 commented on #48724
@cristianosuzuki77 so it will be corrected the next loc pass? if so we can close this issue now

[2020-10-21 22:42] vsfeedback opened #48826 "GeneratedMSBuildEditorConfig.editorconfig added to project root"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/GeneratedMSBuildEditorConfigeditorconfi/1216427)._

---
[severity:It's more difficult to complete my work] [regression]
https://github.com/dotnet/roslyn/pull/43617 introduced generation of editor files. Those should be written to `obj\debug\` (or whatever `IntermediateOutputPath` is poi

[2020-10-21 22:43] mavasani commented on #48826
@chsienki

[2020-10-21 22:45] mavasani commented on #48826
Ah, seems like @jasonmalinowski explicitly requested the feedback ticket in https://github.com/dotnet/roslyn/issues/48430#issuecomment-706287446.

@jasonmalinowski @chsienki do we want to close this issue in favor of #48430?

[2020-10-21 22:51] ryzngard commented on #48696
Lack of dump can be for many reasons, but nonfatal by default should not collect dumps. The fact that it even had a watson report at all is suspect, since nonfatals are purely telemetry and don't go through watson unless requested. As far as I know we have no pending data collection on nonfatal.

If there's not enough information in this bug, I would close it. I don't expect a dump to show up from

[2020-10-21 22:57] jasonmalinowski commented on #48826
@mavasani Yes, and repoint the feedback ticket accordingly. :smile:

[2020-10-21 22:58] jasonmalinowski commented on #48826
TBH I'd also say the feedback ticket may need to be active -- right now there's an open question of whether this is going to require fixing in 16.8 or not; having a place people can upvote would be good.

[2020-10-21 22:58] BrunoZell opened #48827 "Nullable state does not flow through else-if"
**Version Used**:
.NET SDK `5.0.100-rc.2.20479.15`
Microsoft Visual Studio Community 2019 Version 16.8.0 Preview 5.0

**Steps to Reproduce**:

Compile following code for framework `net5.0` with SDK `5.0.100-rc.2.20479.15`:

[code]
**Expected Behavior**:

No nullable warning to occur.

**Actual Behavior**:

Program.cs(22,22): warning CS8602: Dereference of a possibly null reference.

When changing

[2020-10-21 23:02] mavasani commented on #48826
Alright, let me re-open the feedback ticket and assign it to @chsienki

[2020-10-21 23:02] #48826 closed

[2020-10-21 23:07] runfoapp[bot] opened #48828 "Roslyn lightbulb not appearing in integration tests"
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[862322](https://dev.azure.com/dnceng/public/_build/results?buildId=862322)|[roslyn-integration-CI](https://dnceng.visualstudio.com/public/_build?definitionId=245)|[PR 48838](https://github.com/dotnet/roslyn/pull/48838)|1-Integration Release OOP64_true|
|[862152](https://dev.azure.com/dnceng/public/_build/results?buildId=862152)|[roslyn-integrati

[2020-10-21 23:07] #48644 closed

[2020-10-21 23:08] jaredpar commented on #48828
Note: the error message history only goes back 24 hours on the integration build definition. Historical failures are likely much higher than being shown here.

[2020-10-21 23:20] sharwell commented on #48828
@AmadeusW we were only partially able to work around the editor dismissing light bulbs in 6b43c8820f321a23f5f8d66f97e2e6f78ac8b920. I'll add a second step here as further defense but this appears to be a user-facing bug in the editor.

[2020-10-21 23:35] ryzngard opened #48829 "Convert to switch expression produces wrong code"
Conversion is dropping all but the first case statement.

![image](https://user-images.githubusercontent.com/475144/96800913-5c1abb80-13bb-11eb-9dc9-0943d64e0e24.png)

[2020-10-21 23:40] davidwengier commented on #42183
Self-notes:

* Currently, in-proc solution crawler runs `XamlDocumentDiagnosticAnalyzer`, which calls in to `XamlDocumentAnalyzerService` on the Xaml side to do the work (linked above)
* To remove in-proc solution crawler, we need `XamlDocumentDiagnosticAnalyzer` to be run by the OOP solution crawler
* Since `XamlDocumentAnalyzerService` pulls things out of the text buffer property bag, it can't b

[2020-10-21 23:48] tmat commented on #48696
@ryzngard Can we not request the dump? In general NFEs without memory dump are not very useful for investigation. It's nice to see things are failing but in order to do something about that we usually need a dump. I think we should
1) Automatically request dumps for top hitting NFEs - as soon as we file a bug for NFE we should request dumps, so that at the time someone is actually trying to invest

[2020-10-21 23:50] tmat commented on #42183
@mgoertz-msft IS working on XAML LSP. I believe there are some work items still open on our side to allow XAML transition away from this analyzer.

[2020-10-21 23:56] ryzngard commented on #48696
For this instance, you can't request the dump. It was never collected. Requests happen and future instances collect dumps.

Yes, we want to enable automatic dump request for top hitting NFE. That discussion is ongoing.

I haven't focused on this, but maybe we could go ahead and do this. The downside here is that internal users will have the perf hit of every NFE collecting a dump, which isn't grea

[2020-10-22 00:20] paul1956 commented on #48745
@jinujoseph how do I get this assigned to me as I already did PR #48807 to address?

[2020-10-22 00:30] jinujoseph commented on #48745
Done, Thanks for the fix @paul1956

[2020-10-22 01:07] jasonmalinowski commented on #48696
Sounds like a great stick for us to fix NFE!

[2020-10-22 01:16] GGG-KILLER opened #48832 "Convert 'if' to 'switch' code fix suggested for comparisons with implicit casts"
**Version Used**:
- .NET 5.0.100-rc.2.20479.15
- VS Version 16.8.0 Preview 4.0

I wasn't able to test in sharplab as I am not even sure if it's supposed to generate these code fixes.

**Steps to Reproduce**:
1. Write a sequence of `if`s where the variable is implicitly converted like the following:
[code]
2. Hover over the first `if`.

**Expected Behavior**:
Both "Convert to 'switch' statement" an

[2020-10-22 01:41] jeromelaban opened #48833 "SourceGenerators Long Path issue when building in VS"
**Version Used**: 16.8 Pre 5

**Steps to Reproduce**:

1. Create a generator with a long Assembly name, as well as a long fully qualified type.
2. Enable `<EmitCompilerGeneratedFiles>true</EmitCompilerGeneratedFiles>`
3. Invoke `AddSource` with a moderately long hint name

**Expected Behavior**:

The build succeeds.

**Actual Behavior**:

The build fails, with path not found errors:
[code]

For th

[2020-10-22 01:59] tmat commented on #48696
Yes, no pain no gain :)

[2020-10-22 02:00] tmat commented on #48696
We could have a switch to turn it off if it becomes a blocker, until a fix is deployed.

[2020-10-22 05:26] davidroth commented on #20348
@sharwell I am not sure #45368 does fix the "Async" suffix issue for example in unit-tests or aspnet controllers?

Example:

Lets assume I have following aspnet core controller action method:

[code]

Now i realize that I have to invoke an async method:

[code]

VS provides me this nice refactoring:

![image](https://user-images.githubusercontent.com/338856/96828185-71cdc680-1437-11eb-867f-05cf164

[2020-10-22 06:01] CyrusNajmabadi commented on #20348
This is a different case.  HEre, the return type changed.  So we update the name to match the expected naming convention for task-returning methods.

[2020-10-22 06:08] davidroth commented on #20348
Yeah. But nobody wants XUnit-Test methods or Aspnet Controller-Action methods to be suffixed with `Async` . Even roslyns unit tests [dont append](https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs#L197) `Async` on XUnit-Test methods. So there exist multiple expectations on the naming convention for task-returning methods.

[2020-10-22 06:15] CyrusNajmabadi commented on #20348
I do :)

Sure.  but our refactorings don't have it as a goal to meet all expectations.  For every refactoring we offer there are all sorts of knobs and tweaks everyone wants for their particular scenarios.  Nearly all of those tweaks just ends up not happening.

[2020-10-22 10:40] Alex-van-der-Peet commented on #39262
As far as I can find out, this has still not been resolved.

[2020-10-22 13:09] mavasani opened #48839 "IDE code style options should have `hidden` severity by default"
All the IDE code style suggestions should always be hidden severity by default, otherwise they tend to add lot of noise, both in the editor and error list.

For example, consider `IDE0090 (new expression can be simplified)`, notice the `...` and error list entry:

![image](https://user-images.githubusercontent.com/10605811/96875633-4a253100-142c-11eb-8b7b-8bde8c2539eb.png)

Default value below sho

[2020-10-22 13:10] mavasani commented on #48839
Tagging @sharwell for brining up in next design meeting.

[2020-10-22 14:03] mgoertz-msft commented on #42183
Correct, we are not quite ready to move OOP because we still have a lot of dependencies on Visual Studio, the least of which is the ITextBuffer dependency.

Somewhat orthogonal to this is that we cannot move off of DocumentAnalyzer either because there is no way to register code fixes/refactorings for TextDocuments at this point. They all require real Documents, which is what we are currently prov

[2020-10-22 14:37] mavasani commented on #48793
There is no issue here. See https://github.com/dotnet/roslyn/pull/48762#issuecomment-714534194 for more details.

[2020-10-22 14:37] #48793 closed

[2020-10-22 14:42] Youssef1313 commented on #48829
This was claimed to be fixed by #46873 per https://github.com/dotnet/roslyn/issues/48006#issuecomment-698616099

[2020-10-22 16:05] CyrusNajmabadi commented on #48839
I honestly don't think it's correct. We used suggestion for the items we thought should be on be default and visible to users. These were intentional and we picked the triple dots as the lightweight way to surface these to users by default.

[2020-10-22 16:13] mavasani commented on #48839
If so, then there are couple of problems:

1. All DiagnosticDescriptors for IDE code analyzers have `hidden` default severity. I believe this should match with the default severity of code style option. https://github.com/dotnet/roslyn/blob/e2e303acb1fab9c8c4f811035091d436bd36a67b/src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer_Core.cs#L58

2. Where do we have the doc or gu

[2020-10-22 16:44] bpaczkowski opened #48840 "Why is it possible to disable nullable context errors through .editorconfig?"
I'm not entirely sure this is the correct repository to post this but here we go. We're using nullable context in all our new apps along with `<WarningsAsErrors>nullable</WarningsAsErrors>`. But it seems that without any changes to the project itself, it is possible to make a project compile by ignoring those checks entirely if one were to ignore them in .editorconfig, while these checks should pr

[2020-10-22 16:51] MaceWindu opened #48841 "Explicit interface implementation for methods with notnull constraint gives compilation errors"
**Version Used**: `Microsoft (R) Visual C# Compiler version 3.8.0-5.20515.7 (713efb0e)`

**Steps to Reproduce**:

[code]

[2020-10-22 17:32] vsfeedback opened #48842 "collapse regions from bottom"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/idea/1216897/collapse-regions-from-bottom.html)._

---
Sometimes there are regions containing many code lines: it would be nice to have the "plus" symbol also on the #endregion part in order to collapse the region from the bottom

---
### Original Comments

#### Feedback Bot on 10/12/2020,

[2020-10-22 17:34] vsfeedback opened #48843 "Make it easy to edit refactoring option from the Editor,"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1211108/make-it-easy-to-edit-refactoring-option-from-the-e.html)._

---
<p>As a developer refactoring is everything, and time spent away from the editor searching for a config is wasted time. One way to optimize facactoring and time spent making cool stuff, is a better way to

[2020-10-22 17:39] RikkiGibson opened #48844 "Delegate parameter default values should affect lambda parameter initial state"
**Version Used**: d5931e08dd388356176821aa25df094d0e9e94a8

**Steps to Reproduce**:

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4GIB2BXANliwtwAEcaeBAsAFBUACAzIQCZwEDmE8hNALIQCIsAPABUAfAAphhGIQC8TOADMI2GAEoA3FVoMaAJkIBhEaKoBvKoStddvALIAGSdLWEzhAL7bK1wgHo/QgAhOAALCAA3AEsAewRCRTjCMDgwYERkuBhQmMYoABoEpIBjGLAABwgEKKgYtEtrei57AEZnGXlmZVU1BqsLH19rR3F1DX9AgHcqtCi0ViMAZQAOADYHbhBCAAUYqCgo/

[2020-10-22 17:43] vsfeedback opened #48845 "A way to prevent "items from unimported namespaces" from suggesting extension methods with the "this" parameter of type "object" or extension methods from unimported namespaces not defined in this solution"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/A-way-to-prevent-items-from-unimported-/1227168?preview=true)._

---
<p>I like the &quot;items from unimported namespaces&quot; suggestions. I like extension methods EXCEPT when the &quot;this&quot; parameter is of type &quot;object&quot;. I am using a NuGet package that has irrelevant

[2020-10-22 17:57] vsfeedback opened #48846 "C# document viewing using regions and smart comments."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1224057/c-document-viewing-using-regions-and-smart-comment.html)._

---
Hello,

(1)
I have many #regions to split *.cs document.
What about to view the document using tabs where each tab is one region.
And of course switching to the normal view and back - toggle both views.

(

[2020-10-22 17:58] RikkiGibson opened #48847 "Abstract method parameter default values do not get nullability warnings"
**Version Used**: d5931e08dd388356176821aa25df094d0e9e94a8

**Steps to Reproduce**:

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4GIB2BXANliwtwAEcaeBAsAFBUACAzIQCZwEDmE8hNALIQCIsAPABUAfAAphhGIQC8TOADMI2GAEoA3FVoMaAJkIBhEaKoBvKoStddvALIAGSdLWEzhAL7bK1wgHo/QgAhOAALCAA3AEsAewRCRTjCMDgwYERkuBhQmMYoABoEpIBjGLAABwgEKKgYtEtrei57AEZnGXlmZVU1BqsLH19rR3F1DX9AgHcqtCi0ViMAZQAOADYHbhBCAAUYqCgo/

[2020-10-22 18:00] CyrusNajmabadi commented on #48839
Sure.  But we set the severity with our diagnostics when we report it.  So it shouldn't realy matter what the descriptor is right?  THe descriptor is just there to be a template for all the values prior to any specific changes we make at report time.

We discuss it during the PR.  Generally it's a balance of usefulness/noise.  i.e. if we expect the suggestion to be high quality with few false posi

[2020-10-22 18:03] RikkiGibson opened #48848 "Override method parameter initial state should be affected by base method parameter default values"
**Version Used**: d5931e08dd388356176821aa25df094d0e9e94a8

**Steps to Reproduce**:

[code]

[SharpLab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4GIB2BXANliwtwAEcaeBAsAFBUACAzITQEyEBC0cAPACoB8hAbyqERjBgDcAlghgYIWRgBZCAWQAMACm6EYhALyEAJnABmEbDACUw0UMqiHqgIwarAbkIB6T4QDuEBDRJNABzQgBhAGUADgA2NUUQQgAFAHsoKEl8IkwcQgRTRBIAYyIAkIwwEhgbEQBfWsJG+iVnLR1LQUIGyh7aBmZCABFESXE4Qx5+JPYoLj4qOwcW1PGEBEljVvV2q0alxx

[2020-10-22 18:09] vsfeedback opened #48849 "Configure background code analysis per severity."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/1212395/configure-background-code-analysis-per-severity.html)._

---
<p>Building on top of https://github.com/dotnet/roslyn/issues/38429 it would be useful if this could be set per severity in some way. <br>Scenario is:<br></p><ul><li>Mixed codebase of legacy and new code (Isn

[2020-10-22 18:15] mavasani commented on #48839
No, this has user visible effects. The IDExxx diagnostic in analyzers node shows hidden as the default severity, while the analyzer reports suggestions by default. Same thing will happen when @jmarolf implements the editorconfig UX - unless he adds complex logic to crack code style options, the default severity for IDE analyzers will come from severity.

IMO, descriptor is a contract from analyzer

[2020-10-22 18:23] benaadams opened #48850 "Extend ReadOnlySpan<byte> optimization for static data to work with ASCII/UTF8 strings"
Could this (https://github.com/dotnet/roslyn/pull/24621) work with byte strings? As writing them out is fairly impenetrable e.g.
[code]
So it would be nice if it worked with UTF8 and/or ASCII encoding, so this worked instead (both preferably):
[code]

Example: https://github.com/aspnet/AspNetCore/pull/7422

/cc @VSadov @stephentoub @jkotas @KrzysztofCwalina @jaredpar @jcouv

[2020-10-22 18:39] ryzngard commented on #48829
@sharwell I was using Version 16.9.0 Preview 2.0 [30620.297.main] when I took this screenshot.

[2020-10-22 18:41] sharwell commented on #48829
@ryzngard what version of the code style analyzers are installed in the project?

[2020-10-22 18:47] ryzngard commented on #48829
3.8.0-2.20414.4

[2020-10-22 18:51] Cosifne opened #48852 "Auto complete the parenthesis when trying to wrap type"
In this example, When I enter '('
![image](https://user-images.githubusercontent.com/24360909/96915852-9d62a800-145b-11eb-9f93-f1be926e2584.png)
It would be great if VS could put the ')' automatically after '1'.

This is useful when I am removing the async modifier for a method, because it is needed to change the return value from `return 1;` to `return Task.FromResult(1);`

[2020-10-22 19:10] dibarbet opened #48853 "[LSP] Remove RemoteLanguageServer and move cntrl+Q search inproc LSP server (that delegates to OOP)"
Currently cntrl+Q search is running in an LSP server that is provided entirely OOP - https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Remote/ServiceHub/Services/RemoteLanguageServer/RemoteLanguageServer.cs

@tmat suggested that we should instead make the server itself run in-proc.  It can then delegate the work to the search service which runs OOP.

We can then take advantage of all the

[2020-10-22 19:11] genlu commented on #44134
Looks like you can't hide advanced members in VB

![image](https://user-images.githubusercontent.com/788783/96918738-9ccc1080-145f-11eb-8dcf-aaa94590b21a.png)

[2020-10-22 19:12] genlu commented on #44134
@Cosifne Do you want to take a look at this?

[2020-10-22 19:12] genlu commented on #44366
@Cosifne Do you want to give this bug a shot?

[2020-10-22 19:31] CyrusNajmabadi commented on #48839
Yeah, that contract was never something i think anyone working on analyzers/fixers knew :)  We just had a helpful subclass to prevent a lot of repetition, and we only did what was necessary to make the front-end UI look fine.

Can we have the subclass just set those descriptor defualts based on whatever is in editor_config?

[2020-10-22 19:32] CyrusNajmabadi commented on #48839
I guess it's completely unclear to me why the compiler or other tooling would know or care about this?   We have our PerLanguageOptions and whatnot.  They encode the defaults here.  Can we not just drive our experiences off of that?  I thought that's why we had those types, and had them specify things like the editor_config storage keys.

[2020-10-22 20:09] vsfeedback opened #48856 "Indentation for Lambda Functions not Working as expected"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Indentation-for-Lambda-Functions-not-Wor/1010553)._

---
This is what my method looks like after typing it with no typos.  I have to fix the indentation manually, even `Edit -> Advanced -> Format Document` doesn't fix the indentation.
[code]

I would expect it to look like this:
[code]

[2020-10-22 20:11] CyrusNajmabadi commented on #48852
Would need a little more design into how this works for more complex scenarios.  But overall, i'm not opposed to this.

[2020-10-22 20:11] sharwell commented on #48856
### Specific steps to reproduce

1. Start with the following code:

[code]

2. Place the caret after `A()`, right before the `.`
3. Press <kbd>Enter</kbd>

### Expected result

[code]

### Actual result

[code]

[2020-10-22 20:17] jongio commented on #47304
I'm seeing this in SDK Version: 5.0.100-rc.2.20479.15

Added this to csproj
`<PackageReference Include="Microsoft.Azure.Cosmos.Direct" Version="3.4.1.0" />`

azsdke2e

[2020-10-22 20:31] sharwell opened #48857 "Expand Edit.SmartBreakLine handling to more scenarios"
🔗 Related to #18065

Currently **Edit.SmartBreakLine** (<kbd>Shift</kbd>+<kbd>Enter</kbd>) is not particularly useful. It should be updated to have the following behavior:

1. (Addresses #18065) If completion is active, the editor commits the current completion and, if the item is a method name where a method group expression is not allowed, automatically inserts the `(` and `)`.

1. If the curren

[2020-10-22 21:02] gundermanc opened #48860 "Ctrl+Q search does not return items on first search, early in session"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 main
Version 16.9.0 Preview 2.0 [30621.279.main]

**Steps to Reproduce**:

1. Open an existing C# console app in classic VS session
2. Immediately focus ctrl+Q and search 'main'
3. Wait

**Expected Behavior**:
Should find 'Main()' symbol return.

**Actual Behavior**:
Main() is not found, unless you wait a few seconds, and change your query

[2020-10-22 21:02] gundermanc commented on #48860
@dibarbet FYI

[2020-10-22 21:11] CyrusNajmabadi commented on #48860
While VS is loading, we are set to return immediately without any results.

[2020-10-22 21:12] CyrusNajmabadi commented on #48860
https://github.com/dotnet/roslyn/blob/e2e303acb1fab9c8c4f811035091d436bd36a67b/src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.Searcher.cs#L96-L102

[2020-10-22 21:13] jaredpar opened #48861 "Nullable state not tracked through switch expression branch"
The following code incorrectly warns on the `o.ToString` call

[code]

[2020-10-22 21:14] gundermanc commented on #48860
This seems sub-optimal:

- User performed an explicit search action, seeing 'no results found' is misleading.
- This causes intermittent failures in VS Search End to End tests.

Is this related to #48609? Both seem to have regressed around the same time.

[2020-10-22 21:46] vsfeedback opened #48863 "Reset settings Visual Studio"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Reset-settings-Visual-Studio/602468)._

---
I found issue https://github.com/dotnet/roslyn/issues/36104 but I realized that it's not exactly what my problem is. The problem for me is that I modified some settings in Visual Studio about my C# code style preferences. These changes are lin

[2020-10-22 21:46] #48126 closed

[2020-10-22 21:49] jcouv commented on #48126
From discussion with LDM, we found a design that enables a few more useful warnings without introducing particularily annoying ones. We can report warnings on returns constants, but also on expressions where the analysis state is conditional and informs those particular parameters (or members).
For instance, `return parameter == null;` can be analyzed. But `return M();` cannot.

[2020-10-22 22:06] jaredpar commented on #48671
Reactivating because this is still impacting our builds even with the fix merged

[2020-10-22 22:09] TessenR commented on #48126
This looks like a brilliant solution, thanks a lot for fixing this!

[2020-10-22 22:25] davidwengier commented on #48853
I like that idea. I was talking with @tmat yesterday about OOP and workspaces etc. and I think the new design of the request handlers, where they get given a solution and document to work on, but don't know/care where it comes from, lends itself well to this model.

[2020-10-22 22:26] jorisvergeer commented on #20348
@CyrusNajmabadi
We have a beautiful .editorconfig file where we can define that each `private static` field should (hypothetically) begin with `pizza_`

What is wrong with the idea that there could be a setting like `dotnet_naming_style.instance_async_method_style.required_suffix = Async`.

I agree that in public packages the Async suffix is preffered. (Altough, my IDE warns me for unawaited async

[2020-10-22 22:29] davidwengier commented on #48853
Also this would change https://github.com/dotnet/roslyn/issues/45255 to be "move the handler to OOP", so I wonder if we can come up with some design to easily opt individual handlers into OOPiness?

[2020-10-22 22:30] dibarbet commented on #48853
@davidwengier the handlers would themselves run in-proc, but the workspace symbols handler calls the search service which immediately forwards the request OOP

[2020-10-22 22:33] vsfeedback opened #48864 "Inserting using statement using Ctrl+."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Inserting-using-statement-using-Ctrl/820597)._

---
When you have a list of using statements inside the namespace declaration documented with a comment and you insert a new using statement using the "Ctrl+." feature, if the new statement is inserted at the top of the existing using stat

[2020-10-22 22:34] sharwell commented on #48864
📝 I'm guessing #9218 is what makes this behave differently inside and outside namespaces.

[2020-10-22 22:46] mattzink commented on #48861
Dumb question: Isn't `(o is not null)` always true since o is not nullable?

[2020-10-22 22:49] jaredpar commented on #48861
@mattzink yes the annotation specifies this is non-null but it's still possible for `null` values to be passed. Couple of scenarios outlined below:

[code]

The nullable annotations are not a guarantee of non-null. Rather there a strong hint to the compiler and developer where `null` can and cannot be used. It's a system very similar to how TypeScript handled nullable values.

[2020-10-22 23:03] mattzink commented on #48861
@jaredpar Thanks for reminding me the rest of the world hasn't just jumped onto the nullable-reference-types-are-gospel bandwagon like my team has. We don't have to worry about pre-C# 8 callers and all uses of `!` are heavily scrutinized during code reviews.

[2020-10-22 23:17] davidwengier commented on #48853
But why? The handlers used to get the solution/document, map LSP types to roslyn types, then call services. That first step needs to happen in-proc, because thats where the workspaces are, but thats also not the job of the handlers any more.

Maybe I'm making huge assumptions about what the services have to do to call OOP, but I guess in my ideal naive world, the handler execution bits would handl

[2020-10-22 23:18] tmat opened #48865 "Incorrect warning IDE0060 (Remove unused parameter) for interface implementation by base method"
**Version Used**:
Version 16.9.0 Preview 1.0 [30614.203.main]

**Steps to Reproduce**:

[code]

**Expected Behavior**:
No warning.

**Actual Behavior**:
Warning IDE0060: Remove unused parameter 'x'

[2020-10-22 23:18] dibarbet commented on #48853
Hmm, that's potentially an option.  We'd have to ensure the handlers are able to run OOP and create a brokered service to call them.

[2020-10-22 23:21] CyrusNajmabadi commented on #48860
I think the concern was that showing partial results was more confusing. And if we do this search, we greatly slowdown startup as we have to sync everything over to oop and we cause a ton of cpu and memory which churns the solution as were trying to load

[2020-10-23 00:37] carlossanlop opened #48868 "Enforcing triple slash comments only on public APIs?"
I added `<GenerateDocumentationFile>true</GenerateDocumentationFile>` to my csproj. This enables the rule CS1591 to get triggered whenever an API is not documented:

[code]

The problem is that I only care about triple slash comments on top of public APIs. I don't care for private APIs. Is it possible to only have the warning show up for public APIs?

[2020-10-23 02:37] CyrusNajmabadi commented on #20348
It's more complexity and effort to support.  The goal of roslyn is not to support total configurability of every option that everyone wants.  We have to draw lines in terms of waht we implement (and thus what we will have to support forever :)).  This commonly means making strict decisions of where to draw lines.  If you fall on the other side of where a line is drawn, it will certainly not be ver

[2020-10-23 02:43] tmat opened #48870 "Completion tests fail after updating Editor to 16.8.181"
See test results https://dev.azure.com/dnceng/public/_build/results?buildId=863202&view=ms.vss-test-web.build-test-results-tab&runId=27649786&resultId=166437&paneView=debug for https://github.com/dotnet/roslyn/pull/48866.

Blocking move of EditorFeatures.Cocoa to Roslyn

[2020-10-23 02:44] #48621 closed

[2020-10-23 02:49] tmat opened #48871 "Remove warning suppressions from EditorFeatures.Cocoa project"
Search for `#pragma warning disable` and fix the actual issues that are suppressed in https://github.com/dotnet/roslyn/pull/48866.

Also revisit all discard assignment (`_ = <rhs>`).

[2020-10-23 04:01] JayCroghan commented on #43802
I did that, attached my crash dumps and logs and after 2 weeks it was closed a duplicate of this issue...

[2020-10-23 04:01] sharwell commented on #48870
Can we not downgrade the EditorFeatures.Cocoa reference, and allow consuming parties to use something newer?

[2020-10-23 04:05] sharwell commented on #43802
@JayCroghan Thanks for the update. It appears there has been a mistake in the milestone marker. I can see the faulty line in the code that shipped in 16.8 Preview 3:

https://github.com/dotnet/roslyn/blob/Visual-Studio-2019-Version-16.8-Preview-3/src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs#L239

However, the code is fixed for more recent 16.8 previews. I'm still trying to det

[2020-10-23 04:12] JayCroghan commented on #43802
@sharwell Well, that makes me feel a hell of a lot more sane, so it's _almost_ a relief this isn't fixed yet!

[2020-10-23 05:29] #46462 closed

[2020-10-23 07:16] Youssef1313 commented on #48868
The existing logic in Roslyn does seem to intend doing this.

https://github.com/dotnet/roslyn/blob/cf55f3a58e47298426fa971d3bd9d8857c746c65/src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.cs#L549-L578

Probably a bug?

[2020-10-23 07:56] stefanloerwald opened #48873 "IL trimming: can we fall back to non-trimmed publishing on failure?"
**Version Used**: 5.0.100-rc.2.20479.15

**Steps to Reproduce**:

1. Build a complex application
2. Try to publish it
3. Notice IL linker exception
4. Edit csproj to add  `<PublishTrimmed>false</PublishTrimmed>`
5. Never benefit from trimming again
6. Never actually remember that I had to set that flag
7. Wonder whether it couldn't just fall back to untrimmed publish when the linker crashes

**Exp

[2020-10-23 09:59] yyjdelete opened #48874 "`C# Interactive` is broken in VS16.8 preview5"
**Version Used**:
VS16.8 preview5

🔗 Also reported at [AB#1231577](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1231577)

**Steps to Reproduce**:

1. Open `C# Interactive`;
2. Output any non-ascii string like (`"测试"`);
3. `#reset core`(`#reset 32` or `#reset 64` works well)

**Expected Behavior**:
1. non-ascii string should be supported;
2. Switch to core ru

[2020-10-23 11:22] huoyaoyuan commented on #48874
Note: I can reproduce it when system codepage is 936. Cannot reproduce if it's 65001.
FYI: https://github.com/dotnet/runtime/issues/43295#issuecomment-707176857

[2020-10-23 12:06] habib-sadullaev opened #48875 "declaring type of virtual property does not match to type of lambda parameter"
**Version Used**:  Version: 3.1.9 Commit:  774fc3d6a9

**Steps to Reproduce**:

[code]

**Expected Behavior**: returns true

**Actual Behavior**: returns false

[PropertyBelongsToParameterIssue.zip](https://github.com/dotnet/roslyn/files/5429274/PropertyBelongsToParameterIssue.zip)

[2020-10-23 13:01] jorisvergeer commented on #20348
@CyrusNajmabadi That's a fair point.

[2020-10-23 14:05] CyrusNajmabadi commented on #48875
Closing out as the behavior seems correct to me. `. Member.DeclaringType` would be `Base`, and the parameter type would be `Derived`.

[2020-10-23 14:05] #48875 closed

[2020-10-23 14:19] habib-sadullaev commented on #48875
but according to https://docs.microsoft.com/en-us/dotnet/api/system.reflection.memberinfo.declaringtype?view=netcore-3.1
and if we check this
[code]
we get true

[2020-10-23 14:25] habib-sadullaev commented on #48875
and another example - if we manually create this expression `PropertyBelongsToParameter` will return true
``
[code]

[2020-10-23 14:51] julealgon opened #48876 ""IDE0072: Populate switch" showing up on complete switch expression"
**Version Used**:
- Visual Studio 2019 16.7.6

**Steps to Reproduce**:

1. Create a bool switch expression with all possible return values explicitly declared as cases:

[code]

2. Observe IDE0072 is triggered.

![image](https://user-images.githubusercontent.com/461579/97018202-41645600-1525-11eb-90c4-ae1ea50fd5b3.png)

**Expected Behavior**:

This analyzer should not raise the suggestion/fix for

[2020-10-23 14:51] julealgon commented on #48876
Related to #37639

[2020-10-23 15:22] iSazonov opened #48877 "Helper tool for nullable annotations"
In PowerShell repository we started the nullable annotation process but stopped because of huge complicity - hundreds of cross-referenced classes.

To continue this process, we need to create and arrange the list of classes into groups so that at the beginning there are the simplest classes, in the next group the classes that use them, etc.
|Group 0||||
|-|-|-|-|
||type name|namespace|file path|

[2020-10-23 15:48] johnknoop commented on #20348
@CyrusNajmabadi But isn't it also a fair point to say that you shouldn't rename stuff in the user code without providing a way to opt out? It would be one thing if it was reversed, meaning you _didn't_ apply any renaming, and people reached out to you and asked that you automatically put an "Async" suffix to their methods. But in this case the editor is actively changing the user code, and the lig

[2020-10-23 16:14] CyrusNajmabadi commented on #48875
Yes.  because you're asking the decraring type of Derived.Value there.  THat's not what C# has there.  When you access `x.Value` in `x => x.Value` then `.Value` is accessing `Base.Value`.  This is how the language is specified.  Virtual access calls through to the actual original member definition, not the override.

[2020-10-23 16:17] CyrusNajmabadi commented on #48875
Note: you can see this clearly in the IL produced:

[code]

We're getting the method given the handle for `Base.get_Value()` (the `get accessor` for the `Value` property).

[2020-10-23 16:38] vsfeedback opened #48878 "Bad quick action suggestion for method with annotations"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Bad-quick-action-suggestion-for-method-w/1226493?preview=true)._

---
[severity:Other]
Visual Studio suggests that a Method can be turned into a Property but ignores the fact that properties don't support annotations, making the convertion a breaking change. Example in ASP.NET Core 3.1:

[2020-10-23 16:46] vsfeedback opened #48879 "Method parameter incorrectly shown as unused"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Method-parameter-incorrectly-shown-as-un/1230468?preview=true)._

---
[severity:It bothers me. A fix would be nice]
The parameter 'ViewSchedule element' is grayed out and tooltip indicates that it can be removed.  This is incorrect, because if it is removed, then the 3 references in the

[2020-10-23 16:47] vsfeedback opened #48880 "Intellisense Drops async Modifier When Adding static Modifier"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Intellisense-Drops-async-Modifier-When-A/1230495?preview=true)._

---
[severity:It bothers me. A fix would be nice]
Intellisense suggests that I make this method static:

public async Task<IEnumerable<Ticket>> GetAsync()
{
//...
}

After accepting recommended fix:

public static Task<IE

[2020-10-23 16:47] CyrusNajmabadi commented on #20348
It's an good perspective you bring there for sure.  I will noodle on that a bit.  I will tell you my current position is: it's absolutely fine to do that.  But i will think on this and i see if there's some other sort of mental model i could get behind here on this.

Sure it does:

![image](https://user-images.githubusercontent.com/4564579/97031182-bed39a80-1514-11eb-93da-245604fc5967.png)

[2020-10-23 17:13] CyrusNajmabadi commented on #48878
We don't suggest this.  We allow this as a quic refactoring *if* this is what you want to do.  Our features are not meant to only allow a 100% safe transformation.  They're there so you can quickly get from A-Z, traveling through A, B, C, D, ... along the way efficiently.  In this case, not having the feature available would be very confusing to users who would expect this to always be available f

[2020-10-23 17:13] #48878 closed

[2020-10-23 17:16] CyrusNajmabadi commented on #48879
This is the user case:

![image](https://user-images.githubusercontent.com/4564579/97033754-aebdba00-1518-11eb-9075-50799694a46b.png)

@mavasani Seems to be an issue with `nameof`.  I'm guessing the IOp tree doesn't represent this in a way that is amenable to the unused variable analysis?

[2020-10-23 17:28] GearTheWorld commented on #8269
Please count me in.  It's ugly to see the formatting not applied as well as frustrating to have to do it manually

[2020-10-23 17:53] habib-sadullaev commented on #48875
Thanks. But it's not clear how we can get the same result if I create this expression manually:

[code]
instead of doing as i did
[code]
It's confusing. I think, this is inconsistency between lambda form and manually created one or am I wrong?

[2020-10-23 17:57] CyrusNajmabadi commented on #48875
If you create it manually like that, what happens?

[2020-10-23 18:03] habib-sadullaev commented on #48875
i expect to get the same result, but it's not

[2020-10-23 18:05] CyrusNajmabadi commented on #48875
The same result as what?  What two things do you expect to be equivalent?

[2020-10-23 18:05] tmat commented on #48870
EditorFeatures.Cocoa depends on Microsoft.VisualStudio.Text.UI.Cocoa and the lowest available version of that package is 16.8.181.

[2020-10-23 18:14] mavasani commented on #48865
This is as per the design decision when implementing this analyzer. Avoiding these false positives would need compilation/solution analysis and skipping these cases would lead to extremely high number of false negatives. It was decided that users should explicitly mark such intentionally unused parameters as discards.

[2020-10-23 18:19] CyrusNajmabadi commented on #48864
This is by design based on our general thoughts on comments and what they belong to.  In this case there is a fundamental ambiguity in what this `// comment` means.  i.e. "does it belong to the using-block, or this single-using".  We generally do not think of standalone comments as applying a block of things.  However, in very explicit and specific cases we have made that decision for patterns tha

[2020-10-23 18:26] jaredpar commented on #48873
@agocke IL trimming issue: should this move to runtime or SDK repo?

[2020-10-23 18:29] agocke commented on #48873
`mono/linker`. But we can't move issues across org.

@stefanloerwald I think this is just a crash in the linker. I'd rather just fix these things rather than hiding them. We recently made a change that may have addressed this problem. Do you think you could retry publishing with the latest .NET Core build and see if it reproduces?

[2020-10-23 18:30] jaredpar commented on #48868
@carlossanlop can you provide a repro here? I did a quick test and this logic is behaving as I would expect here: do not warn on non-public members.

[code]

[2020-10-23 18:34] #48828 closed

[2020-10-23 18:40] agocke opened #48885 "Request: Treat `UnconditionalSuppressMessageAttribute` like `SuppressMessageAttribute`"
History: `SuppressMessageAttribute` has a `ConditionalAttribute` on it so it doesn't get emitted. But tools like the linker need a way for code to suppress warnings and a way to see those suppressions in the final binaries.

[UnconditionalSuppressMessage](https://source.dot.net/#System.Private.CoreLib/UnconditionalSuppressMessageAttribute.cs,a81b3979c947c241,references) was added for this purpose.

[2020-10-23 18:41] agocke commented on #48885
@jaredpar

[2020-10-23 18:46] Youssef1313 commented on #48879
While the parameter does seem to be used, it's effectively unused/unneeded. You can directly use `nameof(ViewSchedule.BodyTextTypeId)`, etc.

[2020-10-23 18:50] jaredpar commented on #48873
Moved the issue to mono/linker (adhoc style) https://github.com/mono/linker/issues/1586

[2020-10-23 18:50] #48873 closed

[2020-10-23 18:59] jaredpar commented on #48841
Thanks for taking the time to file this issue. The behavior you are seeing here is "By Design" though.

The reason is that we must assume that `T?` in explicit interface implementations, and other implement cases, represents a nullable value type: i.e. `Nullable<T>`. This is for compatibility reasons with earlier versions of C#. To work around this you can add the `default` constraint which tells

[2020-10-23 18:59] #48841 closed

[2020-10-23 18:59] jaredpar commented on #48840
@mavasani @chsienki to clarify the precedent of the various configurations here.

[2020-10-23 19:02] jaredpar commented on #48833
When we were doing the design of the generated file names I at least was not considering issues around `MAX_PATH` here. At a glance I wonder if we'd be okay dropping the assembly qualification. Yeah that does present the chance we end up with a conflict between generators of the same type in different assemblies but that seems a bit out there. Or maybe we find a way to make this more configurable.

[2020-10-23 19:13] jaredpar commented on #48649
I'm confused on how this helps if we don't fit the file contents into MSBuild's notion of Task Outputs. That seems to be required for items like Clean and Rebuild to work correctly. Or is there a feature of MSBuild where we can give it a file and it will infer task outputs that I am missing?

[2020-10-23 19:18] jaredpar commented on #48886
@cston can u take a look

Large files are highly unlikely to be the issue here. There are several files in this repo which are significantly bigger than the ones in this repro ZIP file and we can compile them without issue. My intuition is this is more because each of the files is essentially a single array initializer than is many thousands of lines long. The stacking of the array initializer see

[2020-10-23 19:19] mavasani commented on #48840
This was fixed with https://github.com/dotnet/roslyn/pull/48125 (will first release in 16.9 Preview1). The new precedence rules after that PR are documented at https://docs.microsoft.com/dotnet/fundamentals/code-analysis/configuration-files?toc=%2Fvisualstudio%2Fcode-quality%2Ftoc.json&view=vs-2019#precedence.

[2020-10-23 19:20] jaredpar commented on #48827
Thanks for taking the time to file this issue but the compiler is behaving as expected here. The use of the `?.` is an indication from the user that they expect that the value `state` can contain a `null` value here and as such we update the state to "maybe null". The previous state the value has no impact on this decision.

[2020-10-23 19:20] #48827 closed

[2020-10-23 19:25] jaredpar commented on #48115
Don't think this is a case we anticipated when designing records. @Youssef1313 analysis of the problem is correct though.

At the least we need to do one of the following:
1. Change our code gen strategy to account for pointer types
1. Disallow pointers in primary ctors of records

Following up with LDM to see which approach we should take but leaning towards 2.

[2020-10-23 19:33] #48840 closed

[2020-10-23 20:09] #46985 closed

[2020-10-23 20:35] mavasani commented on #48385
Tagging @CyrusNajmabadi

[2020-10-23 20:36] mavasani commented on #46001
This is already being tracked with a separate issue in roslyn-analyzers repo and @Evangelink and @jmarolf are working towards getting the corresponding PR in. Closing this issue.

[2020-10-23 20:36] #46001 closed

[2020-10-23 20:38] CyrusNajmabadi commented on #48385
This is not supposed to be dynamic.  We'd need an example of where this happens.  As this is the fix for an error, it really should be the first option.  If we have multiple fixes, it's just a bug on our side if we don't have an ordering specified between them to keep things consistent.  We'll need examples from the user where they're seeing htis.

[2020-10-23 21:16] vsfeedback opened #48890 ""Use auto property" Quick Action (when applied to whole document) does not refactor the last property when there is more than one being refactored"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Use-auto-property-Quick-Action-when-app/927411)._

---
Create a public class. Add several public fields. Use Ctrl+R, Ctrl+E on each of the fields to encapsulate them using properties. Then Perform the "Use auto property" Quick Action on one of the fields and apply it to the whole docume

[2020-10-23 21:23] PathogenDavid commented on #48115
[This issue isn't exclusive to primary constructors.](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMAfAAgZgAQCuAdlBAGZx4JwDGA9ggCZ4BKAsAFADenefeuPAEsiMAFR4AHgG5OAX05A=)

[2020-10-23 21:31] jaredpar commented on #48115
True. I should have said "record members"

[2020-10-23 21:32] carlossanlop commented on #48868
@jaredpar

MyNamespace.csproj:

[code]

MyLibrary.cs
[code]

The class gets the squiggle with CS1591:
![image](https://user-images.githubusercontent.com/1175054/97055679-27823d80-153c-11eb-97b4-c72dda4a59d4.png)

I am using VS Int Preview:
[code]

Which came with this version of 5.0 RC2 installed:
![image](https://user-images.githubusercontent.com/1175054/97055820-6d3f0600-153c-11eb-9ba7-e6521d126

[2020-10-23 21:35] jaredpar commented on #48868
@carlossanlop

That behavior is expected though. The warning is that there is no doc comment on the type `MyLibrary`. That is a `public` type and hence needs a comment.

[2020-10-23 21:36] carlossanlop commented on #48868
Yes. I was just going to mention that this wasn't a bug. My bad. Thank you.

[2020-10-23 21:36] #48868 closed

[2020-10-23 22:03] tmat opened #48891 "ArgumentNullException from AbstractAddImportFeatureService`1.GetCollectionExpressionType"
**Version Used**:

[code]

[2020-10-23 22:24] #48723 closed

[2020-10-23 22:51] ryzngard commented on #46654
I wasn't able to reproduce this in Version 16.8.0 Preview 5.0

@shaggygi I'm going to close, but feel free to reopen if you're still having issues. If this does still happen, can you check that the contents of `Class2.cs` get updated before your copy?

[2020-10-23 22:57] ryzngard commented on #47048
Rename tracking dismiss will be tracked as #44469 and fixed separately. Using this issue only for IVSRefactorNotify

[2020-10-23 23:11] shaggygi commented on #46654
@ryzngard Thanks for reviewing this, but I'm still seeing in 16.8.0 Preview 5.0.  I did however notice I made some bad wording in initial steps.  Sorry.

"4. Double click Class2.cs file to see code. The Class name in code is still class Class1."
Should have been the **copied** file name...
"4. Double click Class2 **- Copy**.cs file to see code. The Class name in code is still class Class1."

In ad

[2020-10-23 23:17] ryzngard commented on #46654
@shaggygi is `Class2.cs` open in the editor when you do this? If possible, could you get a gif recording or use "Submit Feedback" to record the steps?

[2020-10-23 23:19] shaggygi commented on #46654
@ryzngard does this help?

![ClassNotUpdating](https://user-images.githubusercontent.com/2956825/97061358-996e7d00-1564-11eb-83a5-f1dcc58e3fa4.gif)

[2020-10-23 23:23] ryzngard commented on #46654
Perfect, I have a repro now. Thanks!

[2020-10-23 23:24] shaggygi commented on #46654
@ryzngard thank you.  sorry for the confusion.  have a good weekend :)

[2020-10-23 23:29] jcouv commented on #48126
I agree. Kudos to @RikkiGibson for coming up for that design :-)

[2020-10-23 23:33] #47773 closed

[2020-10-23 23:33] ryzngard commented on #46654
@davkean @ocallesp From investigation it looks like if the editor window is open, we're not automatically saving the contents after the name change. Since we're copying the on disk contents and not the unsaved changes, `Class1` is still showing. This doesn't happen if the editor window for the file is closed. This does happen if the active editor window is not the file being modified, as long as t

[2020-10-24 01:47] yyjdelete commented on #48874
For the `FileNotFoundException`, ensure dotnet-sdk-5.0.100-rc.2.20479.15 is installed(already bundled in VS16.8 preview5), and any runtime or sdk of dotnet-5.0.100-rc.1 is completed removed.

Seems `System.IO.Pipelines` used to be a part of `Microsoft.NETCore.App 5.0.0 rc1`, but removed in rc2.

[2020-10-24 02:07] ufcpp commented on #48874
I have the same problem in CP 932.
![image](https://user-images.githubusercontent.com/3760955/97065505-c2d0ec80-15e8-11eb-9459-446502f1417c.png)

[2020-10-24 05:14] sharwell commented on #41358
😨 This was responsible for 3.5GiB allocations in a 100 second performance trace taken with 16.9 Preview 2 (IntPreview 1a8a5724).

[2020-10-24 05:21] CyrusNajmabadi commented on #41358
Any suggestions on an alternate path to take?

[2020-10-24 09:37] Jjagg commented on #48478
Are there plans to make SGs with project reference dependencies work when referencing the SG with a project reference? Though I suppose this is something for the MSBuild SDK team rather than Roslyn?

It’d be nice for the SG development experience if things just worked with a project reference. It took me a while to figure out what the issue was. I didn’t expect the SG to fail because its  dependen

[2020-10-24 11:31] habib-sadullaev commented on #48875
I expect that `PropertyBelongsToParameter` is true for both
[code]
and
[code]

but it's not what I exactly need.
I have a code:
[code]
instead of this `node.Member.IsDefined(typeof(RewriteAttribute), inherit: false)` I need to use following
`node.Expression.Type.GetProperty(node.Member.Name).IsDefined(typeof(RewriteAttribute), inherit: false)` that seems to me as workaround.

[2020-10-24 12:43] b-straub opened #48899 "CodeFix for CS0621 adds wrong modifier"
**Version Used**:

Microsoft Visual Studio Community 2019 Preview
Version 16.8.0 Preview 5.0

C# Tools   3.8.0-5.20515.7+713efb0e68d34ab75faaf709e071e5c2d8d4ed0e

**Steps to Reproduce**:

1.

Add a simple class

`
abstract class TestClass
{
    abstract string Test { get; }
}
`

2.

Request code fixes
3.

Execute CodeFix "Add accessibility modifiers"

**Expected Behavior**:

internal or public mod

[2020-10-24 20:20] aolszowka opened #48900 "Support Interpolating Ternary Operations"
**Brief description:**
It would be nice if Roslyn would offer to interpolate cases where a ternary operator has been slammed in the front (or back end) of a interpolated string.

**Languages applicable:**

My request would be C# only; but I can't see why it wouldn't work in VB.NET

**Code example that the analyzer should report:**
[code]

Can be Converted to

[code]

**Additional information:**
Th

[2020-10-24 21:57] #48586 closed

[2020-10-24 22:19] CyrusNajmabadi commented on #48900
I think we might accept a feature where a concatenated string (regardless of what the exprs are) can become an interpolated string.  I don't really see why this would need to be restricted for conditional exprs.

[2020-10-25 01:15] CyrusNajmabadi commented on #48875
As mentioned, this is an incorrect expectation.  This is not how the language works.  You can look at the actual IL for just calling `x.Value` or look at the IL for the expression tree.  Virtual calls go to the base virtual, not the derived override.

[2020-10-25 16:35] aolszowka opened #48908 "Operations Which Have a Default StringComparer Should Strongly Suggest Explicitly Specifying the StringComparer"
**Brief description:**
Background on the issue here: https://github.com/dotnet/runtime/issues/43802

This is a real gotcha in my mind for anyone new to the ecosystem.

Historically I have used this excellent Roslyn Analyzer https://github.com/meziantou/Meziantou.Analyzer to catch similar issues, however I feel this is important enough to be something that should be out of the box. I have filed a r

[2020-10-25 16:50] Youssef1313 commented on #48067
A little bit related to https://github.com/dotnet/runtime/issues/20109#issuecomment-277722247

[2020-10-25 17:13] habib-sadullaev commented on #48875
Thank you for your patience. Now it's clear that my expectations are wrong.

[2020-10-25 18:21] #48886 closed

[2020-10-25 18:22] cston commented on #48886
@joshcomley, thanks for reporting this issue and providing a simple repro!

[2020-10-25 21:44] #48640 closed

[2020-10-25 22:16] CyrusNajmabadi commented on #48875
Happy to help.  We also have several community forums (where the team participates as well) to bounce ideas and questions off of.  See: https://github.com/dotnet/roslyn#questions

[2020-10-26 03:30] davkean opened #48910 "Show inline parameter name doesn't show when literals are followed by null-forgiving operator"
**Version Used**:

**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/1103906/97131249-be970180-1797-11eb-9847-d186051f0429.png)

**Expected Behavior**:
Parameter hints for every single argument above

**Actual Behavior**:
Parameter hints only show for raw null

[2020-10-26 03:51] VBAndCs commented on #48581
Note:
The editor should not append `()` after a function name inside its body, as VB allow using the function name to store its return value. This is legal in VB, and there is no recursion  involved:
[code]

But just adding `()` in the right-hand side will make it a recursive expression:
`Foo = Foo() + 3`

[2020-10-26 03:51] CyrusNajmabadi commented on #48910
Seems reasonable.  Technically they're not literals.  But since this is practically like 'trivia' it would be reasonable to show these when that option is set.

[2020-10-26 04:41] kant2002 commented on #46772
Reproduces in RC2 too.

[2020-10-26 04:42] kant2002 commented on #46772
Seems to be related to https://github.com/dotnet/sdk/issues/14236

[2020-10-26 05:49] davidwengier commented on #48151
Fixed in #48753

[2020-10-26 05:49] #48151 closed

[2020-10-26 06:14] #48910 closed

[2020-10-26 09:54] davidwengier commented on #14115
I don't understand why I would want the behavior in example 2. Is there a real world example that came from? Why would renaming a parameter that happens to have the same name and type as an otherwise unrelated tuple field propagate onto the tuple field? Is that supposed to be a tuple parameter on M()?

[2020-10-26 15:06] artemious7 commented on #14983
I'd be happy to see this implemented too.

[2020-10-26 16:25] canton7 commented on #48833
Can you incorporate all of that info into the hash that's being appended to the filename?

[2020-10-26 16:46] vsfeedback opened #48918 "Intellisense suggests using auto-property for struct field (IDE0032)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Intellisense-suggests-using-auto-propert/1232274?preview=true)._

---
Intellisense suggests using an auto property for a struct field when an explicit backing field is being used to avoid unnecessarily copying the struct. In this example, it suggests changing `Data` to an auto-property.

[2020-10-26 17:33] jcouv commented on #48115
From LDM 10/26/2020, we're going to block this scenario for now. I'll open a follow-up proposal in csharplang.

[2020-10-26 17:35] jcouv opened #48919 "Warn on pointer comparison between function pointers"
From discussion in LDM 10/26/2020, this is something we want to warn on, as it is not a reliable comparison.

[2020-10-26 18:28] chsienki commented on #48833
Interesting. We originally dropped the fully qualified assembly name because we were seeing long path name issues (which can lead to collisions in a small number of cases: https://github.com/dotnet/roslyn/issues/47990).

The original intent behind the design was a desire to make it obvious to the user which generator was specifically providing the files. It's obvious when you only have one or two

[2020-10-26 18:40] canton7 commented on #48833
I see. I'm not sure I'd think to check the full path if I opened source generated file in VS. Can you add a "This file was generated by a source generator" comment to the top of SG'd files perhaps? You could include more info there, such as the name/version of the SG, the full hint used by the SG, etc. That doesn't help someone browsing the file system if course, but IMO might be a better IDE expe

[2020-10-26 18:55] xtqqczze commented on #37398
Confirmed:
https://github.com/PowerShell/PowerShell/blob/d67cd7c80042f6614f062763a8897c1fe92ecf7e/src/System.Management.Automation/FormatAndOutput/common/FormatViewGenerator_Complex.cs#L244

[2020-10-26 19:27] jeromelaban commented on #48833
@chsienki having worked like this for a while (with the hash and generator name), the only times I'm looking manually in the folder is when I'm looking for a file that I cannot reach from the UI (e.g. when a generated file's code is only invoked from another generated file). In which case, the generator Name (not full name) and file hint name is generally sufficient.

[2020-10-26 19:57] xtqqczze commented on #28440
In C# 9.0, IDE0019 actually suggests the `not` pattern:

[code]

[2020-10-26 20:08] genlu commented on #48870
Seems the common theme of failed tests involves moving cursor before initial trigger char. I tried to debug and it seems this is handled by editor. Chatting with @AmadeusW offline to confirm

[2020-10-26 20:22] #43182 closed

[2020-10-26 20:55] CyrusNajmabadi commented on #28440
Yup.  We emit the idiomatic versions we think are appropriate for your language version.  Closing out as by design.

[2020-10-26 20:55] #28440 closed

[2020-10-26 21:41] allisonchou commented on #12363
Notes from today's design meeting (10/26):
@Cosifne is planning on implementing the items in [Sam's proposal](https://github.com/dotnet/roslyn/issues/12363#issuecomment-602865938), in addition to implementing items 1-5 in Sam's [SmartBreakLine proposal](https://github.com/dotnet/roslyn/issues/48857).

[2020-10-26 21:45] allisonchou commented on #48839
Notes from today's design meeting (10/26):
By design / Manish plans on making whatever tweaks are needed.

[2020-10-26 21:47] allisonchou commented on #38459
Notes from today's design meeting (10/26):
We will prototype the primitives and behaviors on our side, and if the team thinks it is a good idea, we will talk to the Editor team about getting APIs. Ideally, this ends up being owned by Editor.

[2020-10-26 21:55] sharwell opened #48926 "PerformanceTrackerService.GenerateReport has significant overhead"
**Version Used**: 1a8a5724

**Steps to Reproduce**:

Measure OOP overhead for Roslyn.sln.

**Expected Behavior**:

No significant contribution from telemetry gathering.

**Actual Behavior**:

PerformanceTrackerService.GenerateReport has significant overhead for 42 seconds of trace, particularly for allocations.

* 840MB allocations (8.4% of total)
* 4 seconds CPU time (2.8% of total)

[2020-10-26 21:57] cston opened #48929 "Consider using .Equals() to compare items in IReferenceOrISignature"
In some scenarios, the dictionary `TokenMap._itemIdentityToToken` may contain a large number of entries that are essentially duplicate instances of the same C# symbol. For instance, in the test `OverloadResolutionPerfTests.ArrayInitializationAnonymousTypes`, each anonymous type instance has a unique `SubstitutedMethodSymbol` in `_itemIdentityToToken`, even though the method symbols are instances o

[2020-10-26 23:03] davkean commented on #46654
@ryzngard This has nothing to do with rename. You can repro this just by manually changing the contents of the file. This is a limitation in the project-system's implementation of copy and paste, where it will only copy the on-disk version of the file.

[2020-10-26 23:30] RikkiGibson commented on #48605
Not yet certain how we are resolving this, but I am self-assigning in order to keep it on my radar.

[2020-10-26 23:31] ryzngard commented on #46654
@davkean Thanks for the explanation. Should we move this to an AzDo bug? Is there already one?

[2020-10-26 23:49] #48599 closed

[2020-10-27 00:03] sharwell opened #48932 "ApiUsageIncrementalAnalyzerProvider has significant overhead"
**Version Used**: 1a8a5724

**Steps to Reproduce**:

Measure OOP overhead for Roslyn.sln.

**Expected Behavior**:

No significant contribution from telemetry gathering.

**Actual Behavior**:

ApiUsageIncrementalAnalyzerProvider has significant overhead, particularly for allocations.

* 35GB allocations
* More than 250 seconds of CPU time

[2020-10-27 01:49] AArnott opened #48938 "Does FileChangeWatcher have a memory leak in its Task continuation chain?"
While inspecting a hung shutdown, I noticed a _very_ long chain of what I believe to be task continuations that involve the `FileChangeWatcher` in Roslyn. In the screenshot below, notice it has "314 entries are hidden" as well, so there are many more than are visible here. Is task chaining being used here to ensure non-concurrent execution? Are the task continuations somehow retaining strong refer

[2020-10-27 01:52] davkean commented on #46654
There isn't one.

[2020-10-27 02:58] CyrusNajmabadi commented on #48938
@jasonmalinowski @sharwell ?

[2020-10-27 06:44] davkean opened #48941 "Inline type hints insert themselves into inline out declarations"
**Version Used**:
Version 16.9.0 Preview 2.0 [30620.202.main]

**Steps to Reproduce**:

![image](https://user-images.githubusercontent.com/1103906/97266071-eb244980-187b-11eb-9632-4885c61d94e5.png)

**Expected Behavior**:

**Actual Behavior**:

[2020-10-27 07:32] davkean commented on #48941
tag @CyrusNajmabadi

[2020-10-27 07:40] sharwell commented on #48938
Well that's interesting!

[2020-10-27 08:30] sharwell commented on #48941
This was fixed by #48763

[2020-10-27 08:32] #48865 closed

[2020-10-27 08:37] davkean commented on #48941
@sharwell Are you sure? The test case is missing: https://github.com/dotnet/roslyn/pull/48763/files#diff-2748a0e4eb251c30bf82c1bc987d78faf0f87f374bfd9f528fc5d58d20383faeR282.

[2020-10-27 08:43] sharwell commented on #48941
No, I misread your example as `out var fullPath`, but what you have is `out string fullPath`. Assigning to @CyrusNajmabadi to add a test and fix if it isn't already.

[2020-10-27 10:58] TessenR opened #48944 "Missing warning for incorrect parameter nullability on override that causes a NullReferenceException"
**Version Used**:
[code]

**Steps to Reproduce**:

Compile and run the following code:
[code]

**Expected Behavior**:
`[CS8765]: Nullability of type of parameter 't' in method doesn't match overridden member 'void A2.F1<T>(T)' (possibly because of nullability attributes).` is reported for both overrides in `B2`

**Actual Behavior**:
No warnings in this program. Both calls fail with a `NullReferenc

[2020-10-27 11:21] Daynvheur commented on #43503
Hello, some precisions to avoid misinterpretations.

The specific `IDE0046` rule can be manually triggered, as in the following screenshot:
![image](https://user-images.githubusercontent.com/4216815/97292962-3cb4e000-184c-11eb-81f0-14b0290d1fe7.png)
The code block
[code]
then becomes `return obj is Class1 class1 ? Equals(class1) : false;`.

**The problem is that this rule is not automatically appl

[2020-10-27 11:49] maSchoeller opened #48945 "Nullcheck for an element inside a array should turn off the warning for this element"
**Version Used**:
.NET SDK 5.0.100-rc.2.20479.15

**Steps to Reproduce**:
1. new project
2. code snippet

[code]
Same with two dimensional
[code]

**Expected Behavior**:
Rsolyn should know `data[0]` is not null inside the if statement.

**Actual Behavior**:
Visual Studio 2019 Preview
Version 16.8.0 Preview 5.0
![image](https://user-images.githubusercontent.com/56505280/97296569-23faf900-1851-11eb-

[2020-10-27 13:26] AlekseyTs opened #48946 "It looks like Microsoft.Cci.DefinitionWithLocation structure might benefit from implementing `IEquatable<DefinitionWithLocation>`."

[2020-10-27 13:33] AlekseyTs opened #48947 "Ensure that all user-accessible synthesized `record` members are reflected in MemberNames and the like APIs"

[2020-10-27 15:03] jaredpar commented on #48816
@sharwell the PR you listed has merged, the error still persists. This is still our #1 failure in Roslyn. It's holding back all our other work.

[2020-10-27 15:10] davidbuckleyni commented on #39844
This issue is the same in the lattest public version of 2019

Severity	Code	Description	Project	File	Line	Suppression State
Warning	AD0001	Analyzer 'Microsoft.AspNetCore.Mvc.Analyzers.TopLevelParameterNameAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.	Warehouse.Web	D:\GitMaster\WareHouseCrm\Warehouse.Web\CS

[2020-10-27 15:17] jaredpar commented on #48816
Part of the issue here appears to be that the code is using a one minute timeout to gate cancellation. The IDE team also made a change to CI to over utilize cores on all of our test legs. That isn't a reasonable combination. The timeout can and will get hit for normal starvation reasons on a regular basis. We need to pull this timeout entirely if we want to have stable CI

[2020-10-27 15:28] jaredpar commented on #48945
Thanks for taking the time to report this issue but unfortunately this behavior is by design. The compiler does not track the flow state for array elements, instead their state is always based on the type of the array.

https://github.com/dotnet/csharplang/blob/master/proposals/csharp-8.0/nullable-reference-types-specification.md#element-access

The more idiomatic approach here is the following

[

[2020-10-27 15:28] #48945 closed

[2020-10-27 15:34] jaredpar commented on #48944
@cston FYI

The equivalent non-generic scenario does warn here

[code]

[2020-10-27 15:38] jaredpar commented on #48929
@AlekseyTs @cston

From the referenced PR:

I think that is the central question here: is the expectation that the same symbol should have different entries in the token map here? If so then the current implementation seems correct. If not though then I think we should persue this route of doing proper equality checks.

[2020-10-27 16:12] sharwell commented on #48816
Tests are expected to cancel all pending operations before the end of the test. The cleanup code has fast-path handling for this case to guarantee the timeout will not come into play for correctly written code. All failures of this check are either a true product bug or a true test bug for the test that timed out.

Some known product bugs remain. For example, https://github.com/dotnet/roslyn/pull/

[2020-10-27 16:17] jaredpar commented on #48929
Do we have a write up somewhere or comment that explains what "Fake" tokens are? It seems like we use them in a very real way in certain cases. Example [here](http://sourceroslyn.io/#Microsoft.CodeAnalysis/CodeGen/ILBuilderEmit.cs,46)

[code]

[2020-10-27 16:18] AlekseyTs commented on #48929
I do not believe there is a need for TokeMap to use any special equality other than reference equality. There is no requirement like that for correctness. Any attempt to try to infer tokens from symbols is error prone and I removed it in https://github.com/dotnet/roslyn/pull/48838.

[2020-10-27 16:20] AlekseyTs commented on #48929
Some symbols are going to be unified in the translation layer, the change is in the same PR

[2020-10-27 16:20] PathogenDavid commented on #48919
Is this because the function pointer of a managed function changes between before and after tiered JIT or something else?

[2020-10-27 16:21] dagrooms52 commented on #39615
![image](https://user-images.githubusercontent.com/8743446/97330536-94941c80-1835-11eb-888c-130c62066ffe.png)
Attaching a screenshot that may help with the issue. I see this fewer than half of the times I click the reference counter above any method. This is a slowdown in the developer workflow since the references list has to be opened and clicked through at the bottom of the screen.

[2020-10-27 16:24] AlekseyTs commented on #48929
Real tokens are assigned when we are emitting metadata. At that time we visit IL and replace "fake" numbers with real ones. Those are assigned based on the underlying Cci entities and the metadata generation layer knows when it can reuse real tokens and when it cannot. Alternatively, we will have to reimplement all that logic in the TokenMap comparer, I desided to not go that route until we have a

[2020-10-27 16:32] AlekseyTs commented on #48929
This suggestion goes against the change made in https://github.com/dotnet/roslyn/pull/48838

[2020-10-27 16:58] jaredpar commented on #48929
Where does this happen? Think seeing this code will help me understand the understanding gap I have here.

[2020-10-27 17:02] 333fred commented on #48919
I don't remember the exact details of why, @jkotas do you have a more complete explanation? I just remember you told me that doing so is bad :).

[2020-10-27 17:08] #48430 closed

[2020-10-27 17:10] jkotas commented on #48919
Taking address of the same method twice is not guaranteed to produce same pointer.

[2020-10-27 17:10] jkotas commented on #48919
Yes, this is one of the underlying reasons why it may change.

[2020-10-27 17:11] AlekseyTs commented on #48929
Microsoft.Cci.MetadataWriter.WriteInstructions

[2020-10-27 17:26] maSchoeller commented on #48945
Thanks for the quick response.
Doesn't seem quite so intuitive to me, but I can understand the decision after some thought:D

[2020-10-27 17:59] YairHalberstadt opened #48950 "Don't cast when converting foreach loop to for loop unless necessary"
**Version Used**: VS 16.8 preview 5

**Steps to Reproduce**:

[code]

Run "Convert to 'for'" refactoring

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2020-10-27 17:59] KirillOsenkov commented on #24845
@jinujoseph we are having lots of reports of VSMac crashing due to this issue (see internal ticket https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1168824). Would it be possible to please prioritize this?

[2020-10-27 18:16] jaredpar commented on #48816
So how do we move forward here? This is the primary issue causing instability in CI.

My instinct is to say that we should delete the assert until we get fixes for the underlyin gproduct bugs.

[2020-10-27 18:17] jinujoseph commented on #24845
@KirillOsenkov seems like an old issue? or did it aggravated recently?

[2020-10-27 18:22] sharwell commented on #48816
The most recent two changes that are likely to reduce occurrences of this are #48662 and #44514. I need a list of failures which included both of these changes to investigate what remains.

[2020-10-27 18:30] jasonmalinowski commented on #48938
So to at least summarize from the first PR: no, there is not a leak here. The tasks that were in memory hadn't executed yet, and the async stack viewer assembled the chain into a single stack that made it look like there was a leak but there wasn't. Somewhat confusingly the stack was "backwards" because the algorithm used for normal async execution isn't helpful here: the "top" of the stack is wha

[2020-10-27 18:46] KirillOsenkov commented on #24845
@jinujoseph See the internal issue I mentioned above for details

[2020-10-27 19:33] jinujoseph commented on #48932
@sharwell good to close ?

[2020-10-27 19:45] #48864 closed

[2020-10-27 19:51] jinujoseph commented on #48852
related to https://github.com/dotnet/roslyn/issues/12363

[2020-10-27 19:55] jinujoseph commented on #48849
@mavasani for info

[2020-10-27 19:57] jinujoseph commented on #48846
cc @olegtk  for info

[2020-10-27 20:00] jaredpar opened #48954 "TryGetIdentity can return null but is often required to not do so"
Context: https://github.com/dotnet/roslyn/pull/48930#discussion_r512992293

The `TryGetIdentity` function can return `null` in cases but at least one caller requires it to be non-null. This needs to be rationalized.

[2020-10-27 20:00] jinujoseph commented on #48842
@olegtk does platform own this ?

[2020-10-27 20:01] olegtk commented on #48842
@jinujoseph yes

[2020-10-27 20:04] #48842 closed

[2020-10-27 20:06] olegtk commented on #48846
Great idea! As this is not C# specific please suggest a feature via https://developercommunity.visualstudio.com. It's better to track votes and this is how VS in general tracks suggestions. Thanks!

[2020-10-27 20:58] TessenR opened #48958 "An exception of type DirectoryNotFound has been encountered when navigating to a generated file"
**Version Used**:
[code]

**Steps to Reproduce**:
Try to navigate to a generated file that will result in a very long file name
for a real-world example try https://github.com/YairHalberstadt/stronginject and navigate to `StrongInject.Extensions.DependencyInjection.Tests.ServiceCollectionExtensionTests.Container.generated.cs` which will result in a path like this: `C:\Users\username\AppData\Local\

[2020-10-27 21:18] CyrusNajmabadi commented on #39844
@davidbuckleyni That is a different anlayzer.  Specifically TopLevelParameterNameAnalyzer which seems to be owned by Asp.net.  You'll have to let that team know about the issue as it's unrelated to Roslyn.

[2020-10-27 21:19] CyrusNajmabadi commented on #39615
@dagrooms52 Can you please link to a repro project where yuo observe this and include instructions on which file you're trying this out in?

[2020-10-27 22:59] jcouv opened #48963 "Deconstruction-declaration with pointer types fails to parse"
[code]
[sharplab](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDZICYgNQA+AAgEwCMAsAFBEDMABKfQML3UDe193jDArgDsoEAGZxGAFnoBZABQBKNlR71OylT1loBMAFT0AHknra9AbQC69AJ6KAvPRgALNFADcXHgF9P3X73pBYTFJegAROABjAHshGAQ+SJhZaL4YEx19I3pU9NNdSxt7AD5HJwRogHd6AT4MDA8qLyA)

[2020-10-27 23:31] #48941 closed

[2020-10-27 23:32] allisonchou commented on #48643
Yep, this should be resolved by #47960 which is just waiting for insertion into VS main.

[2020-10-27 23:32] #48643 closed

[2020-10-28 01:23] davidwengier commented on #48891
@tmat Don't suppose you remember what code triggered this? Its easy enough to fix, but I'd like to add a test too.

[2020-10-28 01:56] tmat commented on #48891
I don't - something in Roslyn.sln

[2020-10-28 07:25] svick opened #48971 "Default constraint is not discoverable, relevent error messages should be improved"
**Version Used**: current master on SharpLab (aa038a8)

**Steps to Reproduce**:

[Attempt to override a method that uses nullable annotations on unconstrained type parameters:](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAN0QSwGYE8A+AxAHYCuANuRMOXAARzHW0CwAUO9bAhAMYx0AAgCY6AIXYBvdnVlCAzHS4we/IQBY6AWQA8AFQB8ACj0B+OgA8AlAG52AX3bsRdACJ0Q4qTLmDFAewwEBEwAE3pBTV1DE3NrH1lpNjk6RzY0oA)

[code]

This does no

[2020-10-28 09:18] LLLXXXCCC opened #48972 "No Justification info in sarif 2.1."
**Version Used**: 3.400.19.50406

**Steps to Reproduce**:

1. Suppress the rule by putting `[SuppressMessage("Microsoft.NetCore.Analyzers", "CA5386:DoNotUseDeprecatedSecurityProtocols", Justification = "Some reasons.")]` in the code.
2. csc.exe /Some other arguments /errorlog:"D:\a\b\c\sarif.RB.json,version=2"

**Expected Behavior**:
1. Get a sarif.RB.json file whose version is 2.1.
2. The expecte

[2020-10-28 09:41] SunnieShine commented on #48861
In fact... Not only in switch expression, but in switch block...
[code]

![](https://ftp.bmp.ovh/imgs/2020/10/0a4546d2a7e39094.png)

:(

[2020-10-28 10:51] davidwengier opened #48973 "GenerateTypeCodeFixProvider crashed"
Hit this on stream. ~I'll get the exact repro once the video is on YouTube, but in general, I was generating a class from `new Foo(x, () => Blah(x))`~
You can see the repro at https://youtu.be/xxmQHtjTcNc?t=4464
Will try to nail it down better too :)

[code]

[2020-10-28 12:32] alrz opened #48974 "Deconstruction should not warn on tuple name mismatch"
**Version Used**: master

**Steps to Reproduce**:

[code]

[2020-10-28 13:28] pasisavolainen commented on #48042
copy from feedback ticket:

Hi, sorry this has taken some time.

I'm original submitter, corp changed organization name.

Below is my minimal repro. Add in `net5` project. Go to "param3" and press `Ctrl-.`, CSharpAddParameterCodeFixProvider will crash immediately.

Reproducible in `Version 16.8.0 Preview 6.0`.
[code]

[2020-10-28 15:55] sharwell commented on #28169
This was resolved by using registry keys:

https://github.com/dotnet/roslyn/blob/c9a68b6a2fed69b1a48505b401dd1bb3d09dc45a/eng/build.ps1#L332-L336

[2020-10-28 15:55] #28169 closed

[2020-10-28 16:05] jaredpar commented on #48974
@jcouv

Do we have the tuple name mismatch rules written down anywhere?

[2020-10-28 16:08] jaredpar commented on #48972
Can u describe a bit more what you are expecting to see here?

Sarif was done mostly by an external team and while we reviewed and signed off on the change the Sarif spec is not our speciality. It's not clear what  your asking for here.

[2020-10-28 16:48] haacked commented on #10830
@paillave There's a potential flaw in your code. It's only looking at invocations expressions. However a property access could circumvent it. For example, I changed your code to take in the code as a string, and then wrote this xunit test for it.

[code]

`CanExecute` returned `true` for `Environment.CommandLine` even though `System.Environment` was not in my list of allowed types.

I wrote a Rosl

[2020-10-28 16:54] vsfeedback opened #48982 "GenerateTypeCodeFixProvider encountered an error and has been disabled"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/GenerateTypeCodeFixProvider-encountered-/1229022?preview=true)._

---
[severity:It bothers me. A fix would be nice] [regression] [worked-in:Version 16.8.0 Preview 4.0]
Error encountered on first use of today's VS update. Using VS 2019 Community Preview, Version 16.8.0 Preview 5.0

---
#

[2020-10-28 16:55] JoeRobich commented on #48982
Fixed by https://github.com/dotnet/roslyn/pull/48962

[2020-10-28 16:55] #48982 closed

[2020-10-28 16:57] AArnott opened #48983 "C# Interactive window: Help folks use `#r` directive with better error message"
**Version Used**: VS 2019 Update 9 preview

I failed to load an assembly the first time I tried:

[code]

This puzzled me because I gave it a quoted file name. I eventually figured out that it didn't like the @ in the front. This was very unexpected because in general the code this window accepts is C#, and the error message did not help me discover my mistake. Can the error message here be improv

[2020-10-28 17:06] tmat commented on #10830
@paillave If your goal is to run untrusted code you need to run in in a separate process. That's the only guaranteed security boundary. That's why .NET Core does not support Code Access Security - it has never worked well.

[2020-10-28 17:25] AArnott opened #48984 "C# Interactive: "#reset core" and "#help": are not discoverable"
I had no idea either of these existed (`#reset core` or `#help`).

As an example of how _undiscoverable_ these are, check out [this feedback ticket](https://developercommunity2.visualstudio.com/t/Make-shCsh-shInteractivesh-us/746242?entry=problem) which has +12 votes asking for .NET Core support, which *you already have* but folks can't find it.

[2020-10-28 17:29] alrz commented on #48974
I suspect the current behavior falls out of the fact that deconstruction doesn't do target-typing.

[2020-10-28 17:30] AArnott opened #48985 "C# Interactive: warn/error when loading assemblies inappropriate for runtime"
The C# Interactive window provides no warning when loading a .NET Core assembly into a C# Interactive window that is running in .NET Framework (or presumably vice versa). As a result, I loaded a .NET Core specific assembly and got very cryptic error messages that led to me giving up for an hour before realizing what I'd done wrong.

Can we emit a warning or error when loading an inappropriate asse

[2020-10-28 17:32] alrz commented on #48974
That said, `(int a, int b) t = true ? (a:1, b:2) : (123, 456);` still warns for an unrelated reason. I expect the named tuple "win over" unnamed one, therefore no warnings here either.

[2020-10-28 17:42] weitzhandler commented on #48984
Ideally .NET Core 5 and C# 9, if available.
Thanks for posting these issues @AArnott.

[2020-10-28 17:57] runfoapp[bot] opened #48988 "Roslyn test .AsynchronousOperationListenerTests.Cancel"
Runfo Tracking Issue: [Roslyn test .AsynchronousOperationListenerTests.Cancel](https://runfo.azurewebsites.net/tracking/issue/72)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[874712](https://dev.azure.com/dnceng/public/_build/results?buildId=874712)|[roslyn-CI](https://dnceng.visualstudio.com/public/_build?definitionId=15)|[PR 49158](https://github.com/dotnet/roslyn/pull/49158)|Test Window

[2020-10-28 18:00] jaredpar opened #48989 "Microsoft.VisualStudio.LanguageServices.CSharp.UnitTests is timing out"
This test is timing out in our unit test runs.

|Build|Kind|Start Time|
|---|---|---|
[865229](https://dev.azure.com/dnceng/public/_build/results?buildId=865229)|Rolling|2020-25-10|
[868161](https://dev.azure.com/dnceng/public/_build/results?buildId=868161)|Rolling|2020-27-10|
[867599](https://dev.azure.com/dnceng/public/_build/results?buildId=867599)|Rolling|2020-27-10|
[866169](https://dev.azure

[2020-10-28 18:34] gundermanc opened #48991 "Roslyn Code Actions violate language server protocol by making text changes server => client, corrupting semantic tokens"
**Version Used**:
Microsoft Visual Studio Enterprise 2019 main
Version 16.9.0 Preview 2.0 [30627.110.main]

**Steps to Reproduce**:

1. Open a C# document
2. Wait for semantic colorization to appear
3. Invoke a LightBulb action that causes a code change in the current document.

**Expected Behavior**:
Change is applied on the client without disrupting colorization.

**Actual Behavior**:
Change is

[2020-10-28 18:42] CyrusNajmabadi commented on #48991
tagging @davidwengier @dibarbet @allisonchou

I think this is a requirement for us.  Because only we know the set of all changes to make to a solution.  The client won't know all this, and we have no way to convey to them all the changes to make.

[2020-10-28 18:54] gundermanc commented on #48991
Tagging @olegtk as this is closely related to refactors we are looking at now in LSP.

[2020-10-28 19:01] cston opened #48992 "Explicit type arguments are required to avoid warnings using generic TryGetValue method"
Warnings are reported for the first two uses of `TryGetValue()`. To avoid warnings, it's necessary to use an explicit type argument.

[code]

From discussion with @RikkiGibson.

[2020-10-28 19:11] paillave commented on #10830
@haacked Sure... this is only an extract as an example that checks only method calls. Of course, constructors and properties must be checked as well!

@tmat you are right, nothing will never be as safe as a sandbox/different process. Nevertheless, if, like I mentioned above, you check constructors and properties, you code gets extremely safe (but still less than a sandbox). You solution to run som

[2020-10-28 19:14] paillave commented on #10830
@haacked just checked your code. It is OK, but in security, like firewalls for example, everything should be considered as not allowed, unless it is granted. In what I understood from your code, everything is granted, except what is forbidden. If you ever make a mistake in your code, or if an unsafe API is ever added in what was granted before, your code gets dangerous.

[2020-10-28 19:14] haacked commented on #10830
Looks like the Roslyn team has something that does what we want. https://github.com/dotnet/roslyn-analyzers/tree/master/src/Microsoft.CodeAnalysis.BannedApiAnalyzers

[2020-10-28 19:16] paillave commented on #10830
Very interesting indeed... But it seems to works by banning a few, instead of granting a few. Am I right?

[2020-10-28 19:18] TheMrAnderson commented on #6763
Any update?  Devs shouldn't have to pay for ReSharper to get this functionality and face the performance hit that entails.  This has been open for 5 years.  Come on already.

[2020-10-28 19:18] dibarbet commented on #48991
@CyrusNajmabadi @gundermanc
It seems like it would be possible, at least in particular instances to apply the text changes only to open documents via workspace edits and then create commands to do things like adding new files / adding project references (in effect, split the code action into workspace edit vs command by what the client has open).
It is allowed to return workspace edits and command

[2020-10-28 19:19] haacked commented on #10830
Yes, but it would be easy to invert the logic.

[2020-10-28 19:23] RikkiGibson commented on #48992
After discussion we are considering solving it with the following rule:

When analyzing an argument, if the original definition's corresponding parameter is a type parameter with conditional attributes (MaybeNullWhen, etc.), we suppress any W-warning that would have been produced by the postcondition.

Thus we can still infer the correct type argument (i.e. `string` in the above example) without i

[2020-10-28 19:35] paillave commented on #10830
@haacked Just checked the code that is in it... There is not too much, but it is very... intense! :D

Not impossible, but still, many hours of pain to invert the purpose I think. I'll consider taking on this challenge at some point I believe. Thanks for the tip!

[2020-10-28 19:45] gundermanc commented on #48991
@dibarbet I like the idea of coming up with a standard, well-designed solution for this problem. The one you suggested seems reasonable to me, if we can guarantee synchronization with the change distributed between client and server like that.

Another alternative is that we could attempt to make the LSP client on the server a bit smarter: make the LSP client have special understanding of the conc

[2020-10-28 20:14] lugospod opened #48994 "Adding inheritdoc on class ignores added comments in intelisense"
1. Class MigrationDAO implements interface IMigrationDAO
2. If I add /// <inheritdoc cref=“IMigrationDAO”/> on top of MigrationDAO class, interface implementation method receives a comment that is comming from IMigrationDAO file - OK (first attached image)
3. When I add /// <inheritdoc cref=“IMigrationDAO”/> on top of Class MigrationDAO, then when hovering over MigrationDAO type there is no inform

[2020-10-28 20:25] gundermanc opened #48995 "Completion autocompletes keywords in Doc Comments in CodeSpaces"
**Version Used**:
![image](https://user-images.githubusercontent.com/5387680/97492410-bb7b4d00-1920-11eb-99c9-de4661e7ab01.png)

**Steps to Reproduce**:

1. Open a C# project
2. Over a function/method, start typing in a doc comment XML entry, such as a `<paramref>`.
3. Type certain words like 'List'.

**Expected Behavior**:
Completion is present only for referenced params, doc comment constructs e

[2020-10-28 20:26] gundermanc commented on #48995
Originally reported by @pieandcakes. **cc:** @AmadeusW

[2020-10-28 20:28] TessenR opened #48996 "Inconsistent nullable diagnostics for constructors"
**Version Used**:
[code]

**Steps to Reproduce**:

[code]

**Expected Behavior**:
`CS8618` is reported for the first constructor

**Actual Behavior**:
No warnings for the first constructor

**Notes**
Note that if you add a dereference after the assignment e.g. `Prop.ToString();` the compiler correctly emits CS8602 for that. So the compiler recognizes that the property might still be nullable contr

[2020-10-28 20:48] tmat commented on #48984
The feedback was filed before we had the feature though.

[2020-10-28 20:50] tmat commented on #48984
While I agree with `#reset core` can be improved, I don't agree with `#help` not being discoverable. The REPL literally tells you to use it to get help:

![image](https://user-images.githubusercontent.com/41759/97495107-8113af00-1924-11eb-81af-c1926b42e701.png)

[2020-10-28 20:52] vsfeedback opened #48998 "Solutions with C# Razor projects and VB projects cause gold bar"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Solutions-with-C-Razor-projects-and-VB-/1201115)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:16.8 preview 1]
Create a solution with NET 5.0 projects, including at least one C# Razor project (Razor Class Library and/or Blazor) and at least one VB pro

[2020-10-28 20:53] tmat commented on #48983
This would require a change in the parser - change the message for `CS7010` for all directives that take strings.

[2020-10-28 21:01] CyrusNajmabadi commented on #48991
This might be possible in constrained cases, but not in the general cast.  For example, in Roslyn we allow for arbitrary workspace edits with codeactions.  And there is no way to introspect an arbitrary action to know what it will do until it actually goes and does it.  We also have a contract that says any of our code-actoins (or third part actions) can change their impl in this fashion and it wi

[2020-10-28 21:01] CyrusNajmabadi commented on #48991
This link is not available.  Can you host this on something public?  Or through devdiv.visualstudio.com?

[2020-10-28 21:14] RikkiGibson commented on #48996
Thanks, my best guess is we are not folding the flow analysis annotations when determining the required state for the field when exiting the constructor.

[2020-10-28 21:43] S0und opened #49057 "Offer a better class file duplication / rename method"
**Visual Studio Version**: 16.7.7

**Summary**: There are times when you already have a class or report and you need a pretty similar file. So duplicating the already existing one and changing it is much faster, then recreating a new one from scratch. The problem is that VS doesn't offer a nice way to duplicate a file with a **new given name**. If you copy a file and paste it into the same folder,

[2020-10-28 22:00] jcouv opened #49000 "Test plan for "file-scoped namespace declarations""
Championed feature: https://github.com/dotnet/csharplang/issues/137
Speclet at: https://github.com/dotnet/csharplang/blob/main/proposals/csharp-10.0/file-scoped-namespaces.md

(checklist currently references changes in #54669)
## Compiler
- [x] LangVer (see `NamespaceWithSemicolon_CSharp9`)
- [x] Multiple file-scoped declarations (see `MultipleSingleLineNamespaces`)
- [x] Mix and match declaration

[2020-10-28 22:54] davidwengier commented on #48973
Duplicate of AB#1236834

[2020-10-28 23:07] cston commented on #48992
From a compiler team discussion, the calls to `TryGetValue<T>()` with implicit type arguments seem ambiguous.

Did the caller of `c.TryGetValue(key, out string s1)` expect a non-`null` `string` associated with `key` or might the collection contain a `null` `string` value but the local annotation is missing? Did the caller of `c.TryGetValue(key, out string? s2)` expect a nullable `string` associate